[2017-06-19 21:27] cachedout commented on #41720
@rallytime I don't think a PR ever got linked here, fwiw.

[2017-06-19 21:37] garethgreenaway commented on #41830
@sk4rp10n is the salt minion still running as the root user or did you change it to run as a different user?

[2017-06-19 21:41] cachedout commented on #38814
We have merged #41647 so I believe this is ready to be closed.

[2017-06-19 21:41] #38814 closed

[2017-06-19 22:12] rallytime commented on #41720
@cachedout That's true. I am waiting for something to be added first, and then appending it to. I didn't state that here, though. I'll link it when I am able to submit the release note change. Thank you for the reminder!

[2017-06-19 23:01] #41781 closed

[2017-06-19 23:10] Arabus commented on #41807
@sk4rp10n The problem is, when you issue the above `cmd.run` the minion running as the user `salt` tries to executed the specified command. Because that user is not allowed to run `apt-get install` though, you get the warnings you posted (It is similar to you running that command as your unprivileged user without `sudo`).

When you run the command with `sudo`, you are normally prompted for a passw

[2017-06-19 23:38] dmurphy18 commented on #40290
Note similar issues for other deprecated networking tools, for example: use of arp.

[2017-06-19 23:45] #38836 closed

[2017-06-19 23:46] #39106 closed

[2017-06-19 23:47] #39321 closed

[2017-06-19 23:47] #39710 closed

[2017-06-19 23:48] #40366 closed

[2017-06-19 23:49] #37195 closed

[2017-06-20 00:37] ashwinrs commented on #39219
We are using saltstack at @Mobcrush and we ran into the same issue @esn89 has. The only difference being, our s3 configs are in pillars and not in minion config. Please let me know if you need any more info.

Our salt version is -
[code]

[2017-06-20 01:44] AkhterAli commented on #41819
While I understand the logic behind the failure, I don't understand why it isn't based off of an exit code or a more complex logic that checks yum installed packages.

[2017-06-20 01:51] hiscal2015 commented on #41821
@terminalmage

issue fixed by adding below states:

[code]

[2017-06-20 01:51] #41821 closed

[2017-06-20 03:50] fanne commented on #9736
@mbochenk
My situation is like this，i use `yum` to install `mysql-community` by the official yum source.
 [the mysql official repo](https://github.com/fanne/salt/blob/master/salt/base/lnmp_yum/mysql/files/mysql-5.6.repo)
And this is mysql salt file to install mysql-community-server-5.6
[salt file](https://github.com/fanne/salt/blob/master/salt/base/lnmp_yum/mysql/mysql_installed.sls)
befor `start

[2017-06-20 04:47] #9186 closed

[2017-06-20 06:02] boltronics commented on #10494
AFAIK this feature request was never implemented. I think the problem is not that uncommon unfortunately, as some of these mirror locations just redirect you to a different mirror - which can change and some mirrors simply aren't reliable or up to date.

I've worked around this problem by installing an apt-cacher-ng update proxy instance, and pointing directly at an official (but unfortunately ver

[2017-06-20 06:52] bhanukumar22 commented on #41829
I'm running the following command.

Without --out json, it is working fine
salt-run salt.cmd boto_s3_bucket.list key=YDEHlmO keyid=ADFSVG

With --out json, it is not working. Getting below error
root@cri-server5:~# salt-run salt.cmd boto_s3_bucket.list key=YDEHlmOE keyid=ASDVF --out=json
[ERROR   ] Unable to serialize output to json
{"message": "'utf8' codec can't decode byte 0xb8 in position 0: i

[2017-06-20 08:30] Tanoti commented on #10728
I would like to leave this open please as I think it is a good check for URL-based sources.

[2017-06-20 10:02] fizmat commented on #40063
I tried to use Virtualbox and noticed these errors. I don't know about the actual issue, but most of the error text seem to be noise generated at the end of execution and related to xpcom (cross-platform COM). Virtualbox is using Mozilla code from 2008 https://www.virtualbox.org/browser/vbox/trunk/src/libs/xpcom18a4/python so I'm not sure what's the correct procedure to fix this.

The initial poin

[2017-06-20 10:15] rmarchei commented on #41135
I can confirm that applying both https://github.com/saltstack/salt/commit/9f6e2e9c92faf5c5f2354ed2ecacf2b1a35c382b and https://github.com/saltstack/salt/commit/24946fef189eb6f21792cb3dcf93ae236f7611f4 fixes the issue. Thanks for the patches!

[2017-06-20 12:09] farcaller opened #41846 "Locked gpg keychain can cause salt to corrupt rendered data"
### Description of Issue/Question
Given the gpg-encrypted pillar, salt must abort any state involving encrypted keys, if they cannot be decrypted.

### Setup
Add an encrypted key to pillar, add a file state with `contents_pillar`.

### Steps to Reproduce Issue
Run the state. The expected result is for a file to have the decrypted contents or for the state to fail if contents cannot be decrypted. I

[2017-06-20 12:15] farcaller opened #41847 "Salt 2016.11.5 Release on github pretends like it's 2016.11.0"
### Description of Issue/Question
Downloading salt from GH releases results in an install that looks like 2016.11.0

### Steps to Reproduce Issue
[code]

[2017-06-20 12:19] Set4now opened #41848 "is there any saltstack module for creating azure resource tags."
For aws there are multiple salt modules but i dont see any such modules for azure
resouce management. So we are developing customized modules to handle this.
import azurerm
from azure.common.credentials import ServicePrincipalCredentials
from azure.mgmt.sql import SqlManagementClient
from azure.mgmt.resource import ResourceManagementClient
from azure.mgmt.resource.resources.models import Deploymen

[2017-06-20 12:22] geraldhansen opened #41849 "cmd.run DeprecationWarning for cmd.shell"
### Description of Issue/Question

I got the typical cmd.run deprecation warning for unclear reasons

This is my test.sls
<pre>
{% set WHOAMI = salt.cmd.run('whoami') %}

set-whoami:
    file.append:
        - name: /tmp/whoami
        - text: {{ WHOAMI }}
</pre>

But if I change to
<pre>
{% set WHOAMI = salt['cmd.run']('whoami') %}

set-whoami:
    file.append:
        - name: /tmp/whoami

[2017-06-20 12:25] terminalmage commented on #41821
Ahh yes. docker-py is required.

[2017-06-20 12:45] lorengordon commented on #41849
Probably related, https://github.com/saltstack/salt/issues/40595

[2017-06-20 13:06] farcaller commented on #41846
Just to be clear, still fails with `salt 2016.11.5-120-ge7fc30f (Carbon)`

[2017-06-20 13:56] sk4rp10n commented on #41830
@garethgreenaway i changed the user correct. i made sure to change all permissions as well. my goal is to be able to run these commands (like the one above) to a minion running as a different user other then root.

[2017-06-20 15:02] perfidy opened #41854 "'WARNING: yacc table file version is out of date' after all salt commands"
### Description of Issue/Question
Every time I run a salt command "WARNING: yacc table file version is out of date" is printed out, but the command is executed successfully.

### Setup
This is a fresh install on CentOS Linux release 7.3.1611 using the salt-bootstrap script.

### Steps to Reproduce Issue
Any salt command, e.g.:

Tue Jun 20 10:53 automata > sudo salt-key
WARNING: yacc table file ver

[2017-06-20 16:55] frogunder commented on #41797
Working fine with the fix.

[2017-06-20 16:55] #41797 closed

[2017-06-20 17:02] farcaller commented on #41830
`pkg.install` assumes it can run the package management tools directly (i.e. without sudo). I believ you need to run minion as root to make it work.

Any reason you don't want to run it as root? If a minion user has sudo capabilities, your host is compromised either way.

[2017-06-20 18:17] farcaller opened #41858 "x509.certificate_managed can write an error message into the cert file instead of failing"
### Description of Issue/Question
`x509.certificate_managed` will corrupt the pem file and then will die with exception.

### Setup
Set up `x509.certificate_managed` for a signing policy that doesn't exist

### Steps to Reproduce Issue
Run the state. The generated cert file will contain a single line, e.g.: `Signing policy saltca does not exist.` instead on pem data.

Additionally, the state will

[2017-06-20 18:18] sk4rp10n commented on #41830
@farcaller @garethgreenaway the ultimate goal is to be able to enter a password when sending commands to the salt minion from the master

[2017-06-20 18:20] farcaller commented on #41830
I believe that doesn't make much sense in how salt works internally. There's no infrastructure for minions to request any interactive input from master as that doesn't scale.

[2017-06-20 18:29] sk4rp10n commented on #41830
@farcaller i know there is something like salt -a that prompts me for username and password for authentication. but it keeps returned a failed to authenticate message

[2017-06-20 18:32] farcaller commented on #41830
`salt -a` authorizes you to salt master. I guess you could write a custom module that would send an event on salt bus for a root password, and write a simple client that would listen for such events and ask user the password interactively. But you'll end up sending the password in cleartext via the salt bus, meaning you have even less security for anyone eavesdropping on the bus events.

[2017-06-20 18:59] twangboy opened #41860 "Problems with Windows Firewall Module on 2016.11"
### Description of Issue/Question
The `get_rule` and `delete_rule` functions of the `win_firewall.py` execution modules are failing under certain conditions. Discovered during testing.

### Setup
##get_rule
The following command:
[code]
was throwing the following error:
[code]

This one seems to be a problem with how the name parameter is quoted.

##delete_rule
The following command:
[code]
was th

[2017-06-20 19:08] sk4rp10n commented on #41830
so in conclusion there is absolutely no way i can get past this?...

example after i run a command:
saltminion:
    sudo: no tty present and no askpass program specified

[2017-06-20 19:19] #41860 closed

[2017-06-20 19:46] Ch3LL commented on #41846
Agreed we should not write to the file if the decryption fails. This is not a regression. I can see this behavior in 2016.3 as well.

[2017-06-20 19:55] dmurphy18 commented on #40290
Fixed by https://github.com/saltstack/salt/pull/41857

[2017-06-20 19:55] #40290 closed

[2017-06-20 20:00] astronouth7303 opened #41862 "Recommended CherryPy version?"
### Description of Issue/Question

The [documentation](https://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_cherrypy.html) currently recommends CherryPy version 3.2.3 to avoid an issue fixed in 3.6.1. Latest CherryPy is 10.2.2.

Does this recommendation still stand?

* [3.2.3](https://github.com/cherrypy/cherrypy/releases/tag/3.2.3): Released Dec 26, 2012
* [3.7.0](https://github.c

[2017-06-20 20:04] ritzk commented on #32578
It does respect root_dir, but for some reason still uses cachedir during initial verification.

[2017-06-20 20:18] Ch3LL commented on #41847
I can replicate this behavior. Looks like we need to get this fixed. Thanks

[2017-06-20 20:20] Ch3LL commented on #41848
We have a salt-cloud azure arm driver documented [here](https://docs.saltstack.com/en/latest/topics/cloud/azurearm.html) Is that what you are looking for?

[2017-06-20 20:21] Ch3LL commented on #41849
Yes this may be a duplicate are you using masterless salt/salt-call?

[2017-06-20 20:25] smd8963 opened #41863 "Instance Initiated Shutdown - Ec2"
base_aws:
  provider: aws
  image: ami-e565ba8c
  size: Micro Instance
  script: python-bootstrap
  minion:
      cheese: edam
Say this is my config in cloud.profiles. I want to instance_initiated_shutdown_behavior: terminate. Is this an acceptable parameter? does saltstack support it? I tried but its not working.

[2017-06-20 20:27] Ch3LL commented on #41854
If you remove either the package version or pip version of pycparser does this error get removed?

[2017-06-20 20:28] Ch3LL commented on #41862
@whiteinge do you know if this recommendation has changed?

[2017-06-20 20:31] terminalmage commented on #40948
I could never reproduce this, and I've had a PR open for almost 2 months now. @ScoreUnder can you try the fix in that PR?

[2017-06-20 20:32] Ch3LL commented on #41863
I can see that parameter in the state and execution modules for boto_ec2. Can you clarify what you are trying to accomplish? Are you trying to ensure the VM terminates when running `salt-cloud -a stop <vm>` possibly?

[2017-06-20 20:36] cachedout commented on #40937
Closed via #41014

[2017-06-20 20:36] #40937 closed

[2017-06-20 20:37] whiteinge commented on #41862
It's probably time to update that. Testing on the 10.x releases has been looking good. The only problem versions that I know of were somewhere between ~3.2.5 and ~3.7.x due to an SSL bug.

[2017-06-20 20:42] Ch3LL commented on #41858
@farcaller can you please share a sanitized version of sls file when running into this issue?

[2017-06-20 20:46] whiteinge commented on #41862
We haven't packaged 10.x yet in the SaltStack repo since it req's several new deps to build, but if you can install via PyPI it should be working. The SSL error was a hard-stop so it'll be obvious if you see it.

[2017-06-20 20:47] astronouth7303 commented on #41862
Yeah, it's working for me locally, but I'm not using salt in a heavy or complex manner, so I wasn't sure if a more subtle bug had been introduced.

[2017-06-20 20:55] whiteinge commented on #41862
Thanks, that's good to hear. I'll update that doc.

On Jun 20, 2017 14:47, "Jamie Bliss" <notifications@github.com> wrote:

Yeah, it's working for me locally, but I'm not using salt in a heavy or
complex manner, so I wasn't sure if a more subtle bug had been introduced.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/saltsta

[2017-06-20 20:55] smd8963 commented on #41863
Yes I want my ec2 instance to terminate on shutdown, so then I can schedule shutdown on my instances at a particular time and they will terminate automatically. AWS gives an option to set it while launching a new EC2 so I was wondering if I can do it while launching an EC2 from saltstack

[2017-06-20 21:06] sk4rp10n commented on #41830
https://docs.saltstack.com/en/latest/ref/configuration/nonroot.html

The minion has it's own user parameter as well, but running the minion as an unprivileged user will keep it from making changes to things like users, installed packages, etc. ****unless access controls (sudo, etc.) are setup on the minion to permit the non-root user to make the needed changes.****

can we brainstorm ways to grant

[2017-06-20 21:23] perfidy commented on #41854
Looks like it was the pip version that it didn't like, I have no issues after removing pycparser 2.17 via pip.  Thank you for your help!

[2017-06-20 21:23] #41854 closed

[2017-06-20 22:39] whiteinge commented on #41862
Changed in the PR above. Thanks for raising the question!

[2017-06-20 22:39] #41862 closed

[2017-06-20 22:41] cmclaughlin commented on #38217
I was going to open an issue for this, but this existing one seems to sum it up...

We hit the same error message today and it took some digging to get to to the root of the problem.  In our case, we were calling a custom module function from a template.  The actual Python error was a failed import.  Ideally we would have seen the Python error instead of the Jinja2 attribute error.

[2017-06-21 02:04] terminalmage commented on #41819
Steps 1 and 3 in my previous comment already check the installed packages, that's how they know whether or not the package you told Salt to install is actually installed.

For what it's worth, we did at one time have a mechanism to check for what packages provide a given package, if the package name specified was not itself available, using a yum/dnf plugin. The problem was that it was painfully s

[2017-06-21 03:05] swohlerLL commented on #37133
This problem also occurs after upgrading our master from 2015.8.8 to 2015.8.13. The minions did not change (2015.5.3).

Versions:

**MASTER**

[code]

**MINION**

[code]

**COMMANDS**

[code]

**CONFIG**

[code]

[2017-06-21 04:24] #9744 closed

[2017-06-21 04:24] #7543 closed

[2017-06-21 04:24] #6313 closed

[2017-06-21 04:24] #9853 closed

[2017-06-21 06:12] Set4now commented on #41848
No....Am actually looking for cloud runners for azure to manage azure resource components.Like you gave boto for ec2...

    On Wednesday, 21 June 2017 1:50 AM, Megan Wilhite <notifications@github.com> wrote:

 We have a salt-cloud azure arm driver documented here Is that what you are looking for?—
You are receiving this because you authored the thread.
Reply to this email directly, view it on Git

[2017-06-21 08:06] vutny commented on #12653
This is fixed and could be closed. FYI @rallytime @Ch3LL

[2017-06-21 09:32] mirceaulinic opened #41869 "Thorium: unable to execute runners"
### Description of Issue/Question

I have setup Thorium to send a HipChat message through the ```salt.cmd``` runner (calling the ```hipchat.send_message``` does not depend on a certain minion).

### Setup

Thorium configuration:

[code]

While from the CLI, the command works fine and posts indeed to HipChat:

[code]

### Steps to Reproduce Issue

Error traceback (from master logs):

[code]

### Ve

[2017-06-21 09:40] ysagon commented on #18630
Long read too, and I have the issue with the options "ac" of nfs on Centos 6.9

[2017-06-21 09:42] mirceaulinic commented on #41869
Adding this diff:

[code]

Logs:

[code]

Apparently, the function name is not send properly.

[2017-06-21 09:50] mirceaulinic commented on #41869
Well, even when the function is corrected to `salt.cmd` as it has to, there's a different problem:

[code]

[2017-06-21 09:52] thunder-spb opened #41870 "Question: Get compiled pillar with merged in defaults for formula?"
### Description of Issue/Question
Is there any proper way to get compiled pillar with merged defaults in yaml format? I need those compiled values for kitchen testing.

Thanks,

[2017-06-21 10:21] drawsmcgraw commented on #41623
Adding my +1, for `cmd.script` as well.

[code]

[code]

[2017-06-21 12:34] #41762 closed

[2017-06-21 13:08] bhanukumar22 commented on #41829
Please let me know if anyone have update on this issue. This has been blocking issue for me.

[2017-06-21 13:18] nlsrchtr opened #41875 "Inconsistent results from salt-run manage.status"
### Description of Issue/Question

When I ran `salt-run manage.status` I get three nodes in category "down":

[code]

But running f.e. the command `salt -E '.*' cmd.run 'ls -l /'` directly after the above command, returns the results of the command. Or also running the command `salt '*' test.ping`

[code]

Basically I can't rely on the results of `salt-run manage.status`, but found this very weird

[2017-06-21 13:58] absolutejam opened #41876 "win_wau - 'The Python instance can not be converted to a COM object'"
### Description of Issue/Question

Bit of an odd one, but I have a handful of clients that are erroring out when running `win_wua.list_updates`, but other methods of that module (eg/ `win_wua.get_needs_reboot`) work fine.

These clients are running Windows Server 2012 R2 and have the `win32com` and `pythoncom` modules present from the install.

### Setup

Windows minion.

### Steps to Reproduce Is

[2017-06-21 14:08] rlaing00 commented on #41276
I am currently experiencing the same issue at present, this is output from my state which is based on the example in the x509 docs

`[INFO    ] Completed state [/etc/pki/ca.crt] at time 14:01:49.577696 duration_in_ms=480.666
[DEBUG   ] LazyLoaded module.run
[DEBUG   ] File /var/cache/salt/minion/accumulator/139854853919312 does not exist, no need to cleanup.
[DEBUG   ] Minion return retry timer se

[2017-06-21 14:14] rlaing00 commented on #41276
Please let know if there is any more information you require from myself on the topic

[2017-06-21 14:51] GreatSnoopy commented on #31918
@terminalmage thanks for the update, sounds great !

[2017-06-21 15:08] hgfischer opened #41878 "Does pyobjects's Map have a `default` feature like grains.filter_by?"
### Description of Issue/Question

I wish that pyobjects's Map support setting a default class, that would work just like the `default` parameter of `grains.filter_by`. I looked into the source code and I could not find something related.

### Versions Report
master branch, commit 11bdbaf

[2017-06-21 15:47] mirceaulinic opened #41879 "Discussion: Salt can configure itself using external services"
### Description of Issue/Question

We all know that we are able to migrate different entities (pillars, top files, states etc.) into external services. At some point we could end up having our entire environment elsewhere, but with some exceptions: master, minion (and proxy) configuration files.

What if we move them too? Then we could endup having a dummy configuration file, such as:

```/etc/sal

[2017-06-21 15:49] mirceaulinic commented on #41879
Pinging for feedback / ideas: @whiteinge @cachedout @rallytime @cro. Thanks!

[2017-06-21 15:54] akabraab commented on #39750
I got the same timeout error after 3 minutes and was able to finish the long running job using the `expire_responses` set to `False` but this could ultimately lead to thread exhaustion if there are several processes that hang and never finish on the minion as these will never get expired by the cherrypy server.

Where is the 3 minutes settings that cherrypy uses as the default?  Is there a way to

[2017-06-21 16:11] sumeetisp opened #41880 "Salt providers and profiles"
### Description of Issue/Question
Excluding some of the parameters in providers and profiles, other parameters can be defined in either provider or profiles for e.g location and availability zone, is this statement true?
Because the documentation ask them to be put in providers.

If yes then is how can we identify which parameters can be kept in which conf apart from the obvious one's like the id

[2017-06-21 16:13] garethgreenaway commented on #41875
@nlsrchtr Thanks for the report, this is indeed a weird one.  A couple quick questions, are the minions and the master on the same network?  Are they hosted in a cloud service, eg. AWS?  Are the results from manage.up consistent?  Do you ever see manual test.pings return as false?  Thanks!

[2017-06-21 16:14] sumeetisp commented on #41645
Please help, I need a solution to this desperately

[2017-06-21 16:26] garethgreenaway commented on #41876
@absolutejam Would you be able to provide some additional debugging information:
`salt -l debug 'SomeMinion' win_wua.list_updates`
So we can see what is happening to cause this from happening?  Thanks!

[2017-06-21 16:29] garethgreenaway commented on #41878
@hgfischer Thanks for the report.  I've marked this as approved as a future feature request.

[2017-06-21 16:34] garethgreenaway commented on #41870
@thunder-spb Can you give a little more information about what you're trying to do?  Perhaps with some examples of what you would expect the final yaml to look like?

[2017-06-21 16:36] garethgreenaway commented on #41879
Storing various configuration files in external services sounds interesting.  I can definitely see some practical applications for this.  :+1:

[2017-06-21 16:38] garethgreenaway commented on #41880
@sumeetisp To clarify, your question is related to Salt cloud configuration?  If so, there are a lot of parameters that are specific to the cloud providers.  The profiles reference various providers, but also have their own specific configuration parameters.  Is there specific documentation that you're referencing that is unclear on where the parameters should be?

[2017-06-21 17:21] cachedout commented on #41879
Yeah, I like this. Pretty much any proposal to make things in Salt more pluggable is going to get a :+1: from me.

Some questions: Would this be merged with a local config? That would be kind of cool, I think.
Should we set up some sort of shared token so we're assured of getting the correct config?
Should configs be generated on-the-fly by tokens or by minion id (or other properties?)

[2017-06-21 17:22] yagnik opened #41881 "[Question][RFC] Adding support for "encrypted" tag in sls files"
### Description of Question
Currently salt has support for encrypted pillars using gpg keys but the method of encrypting and adding them to pillar is manual and painful.

Ansible provides [vault](http://docs.ansible.com/ansible/playbooks_vault.html) which does so by marking a [yml tag](http://www.yaml.org/spec/1.2/spec.html#id2761292)

By adding a similar yml tag for encrypted pillars we can make

[2017-06-21 17:22] yagnik commented on #41881
cc @vikky999

[2017-06-21 17:40] terminalmage commented on #31918
No problem, thanks for helping bring the issue to light. We have a general policy against changing the behavior of the state compiler in point releases, and we're very close to releasing a new feature release, so unfortunately the fix will not be released officially until the _next_ feature release, towards the end of 2017 or early 2018.

[2017-06-21 18:15] pmusolino-rms opened #41883 "Slack Engine failing to load (develop branch)"
### Description of Issue/Question
The documentation for /etc/salt/master states to do:

engines:
  slack:

However it complains that it wants a list
[code]

If I do
[code]
the invalid types errors disappear however the slackbot token not found error persists.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
[code]
### Steps to Reproduce Issue
(Inclu

[2017-06-21 18:21] #12653 closed

[2017-06-21 18:22] Ch3LL commented on #41135
Perfect I will close this issue. Please let us know if it needs to be re-opened

[2017-06-21 18:22] #41135 closed

[2017-06-21 18:44] whiteinge commented on #41879
Agreed on the 👍 's. Pulling dynamic config from external places is a win for sure.

Managing the configs from a GUI or automating deploying config changes is a bit tricker -- since the daemon will need to be restarted to pick up any changes we need to be certain in advance that the daemon will restart successfully. Suggestions have been to perform a pre-check validation step (#4352) or to fail gra

[2017-06-21 18:58] whiteinge commented on #41645
I don't know enough about salt-ssh to weigh in on why it's not picking up those Pillar values -- someone more knowledgable than me will need to debug that. The core team has been busy getting a release ready so hopefully someone there will get freed up soon-ish.

As a possible workaround in the meantime I'd suggest trying to put those connection params in your master or minion config file instead

[2017-06-21 19:10] Ch3LL commented on #39219
I'm having a hard time replicating this. If i add the following to master config:

[code]

or this

[code]

with the following pillar data:

[code]

And if i add the following debug messages:

[code]

When i run with the pillar data only I see the accurate data:

[code]

And when running with only the master configuration:

[code]

I am also on version 2016.11.5

Is there anything you can see from

[2017-06-21 19:18] whiteinge commented on #39750
Good point, I suppose thread exhaustion is a possibility. The timeout value is set [per request](http://docs.cherrypy.org/en/latest/advanced.html#response-timeouts). We could add a configurable value to the `rest_cherrypy` config. A decent central place to set that value would be in the [hypermedia_out](https://github.com/saltstack/salt/blob/31d51e7093f62b3b434cc124ee8ab36eacbc74e2/salt/netapi/res

[2017-06-21 20:13] astronouth7303 opened #41885 "Recommended pip installation outdated?"
### Description of Issue/Question

It's suggested to [install salt-cloud from pip](https://docs.saltstack.com/en/latest/topics/cloud/qs.html#salt-cloud-quickstart), but afaict, the version uploaded to PIP is horrifically out of date.

[2017-06-21 20:14] astronouth7303 commented on #41885
Also in https://docs.saltstack.com/en/latest/topics/cloud/index.html#quickstart

[2017-06-21 21:06] amalaguti opened #41887 "expect_minions option not working with non existing minions"
### Description of Issue/Question
Running orchestration and I want the orch to fail if the target minion is not available (whether is offline or the minion id is invalid), in addition I'm using it with salt-ssh.
The orchestration does not fail. It returns succesfully but no changes.

The option should check and distinguish between minions offline or not reachable and invalid minions and // optiona

[2017-06-21 21:33] #41887 closed

[2017-06-21 21:33] amalaguti commented on #41887
I think my testing was wrong. Sorry.

[2017-06-21 22:21] KyleMoser opened #41891 "Minion error when calling custom execution module from salt master"
### Description of Issue/Question

Salt master does not properly pass arguments to minion execution module when calling `LocalClient`. I've created a function with the following code
`def example(**kwargs):` and is in a file called backup.py.

and I'm calling it from python code on the salt master that looks like:

[code]

I've also tried

[code]

I've tried calling it tons of different ways. I ha

[2017-06-22 02:38] sumeetisp commented on #41880
Yes i am talking abt cloud providers and profiles.
I am referring to this [documentation](https://docs.saltstack.com/en/latest/topics/cloud/aws.html)

[2017-06-22 03:28] cetanu opened #41893 "salt-cloud vmware does not change the datastore of an existing disk"
### Description of Issue/Question

Given a mapfile that contains a vm with:

    ProfileName:
        - Hostname:
              devices:
                  disk:
                      Hard disk 1:
                          size: 50G
                          thin_provision: False
                          controller: SCSI controller 0
                          datastore: my_fave_datastore

The hard

[2017-06-22 03:31] DR3EVR8u8c opened #41894 "Salt-cloud can't resize root volume with public ami images"
### Description of Issue/Question
I am having a very werid problem, which drives me nuts.

I have been happily using salt-cloud to provision ec2 instance for some time until I recently want to use the Amazon ami image.
The error I am having is that:

[code]

If provisioning the instance via python, error is displayed as below:

[code]

the only change of the profile, which cause the error, is just

[2017-06-22 04:45] sazaro commented on #41579
Any chance of getting Manjaro fixed?

[2017-06-22 04:51] #10034 closed

[2017-06-22 04:51] #10102 closed

[2017-06-22 04:51] #10105 closed

[2017-06-22 04:51] #10027 closed

[2017-06-22 04:51] #10156 closed

[2017-06-22 05:03] yagnik opened #41896 "[RFC] Support for event schema"
### Description of Issue/Question
Our setup has gotten rather large with many people contributing to salt internally. As we add more beacons and reactors specifically and move to a more event driven architecture, we are noticing more number of bugs with developers making mistakes around what values are always present in the event and what are optional. This leads to edge cases throughout the codeb

[2017-06-22 05:10] yagnik commented on #41896
cc @vikky999

[2017-06-22 06:46] anlutro commented on #33892
Closing as I think my PR solved the problem :)

[2017-06-22 06:46] #33892 closed

[2017-06-22 08:12] nlsrchtr commented on #41875
Thanks for your quick response!

Yes and no. One minion is running on the master itself, the others are in different networks.

The master is running in the Azure "cloud", die minions are running on Raspberry Pis in a local network environment. After I solved disconnection of clients to the master, by following https://github.com/saltstack/salt/issues/26888#issuecomment-138193623 the situation see

[2017-06-22 08:39] maxmureev opened #41897 "In NodeGroups not working regular expression, list, grains when requesting a pillar.get"
### In NodeGroups not working regular expression, list, grains when requesting a pillar.get

### Setup
/etc/salt/master:
[code]

### Steps to Reproduce Issue
[code]
so, nodegroups working only in group1

### Versions Report
salt-master version
[code]
I tried to update the python modules. but it did not help

[2017-06-22 10:27] yagnik commented on #41891
@KyleMoser the code is here: https://github.com/saltstack/salt/blob/31d51e7093f62b3b434cc124ee8ab36eacbc74e2/salt/client/__init__.py#L588
Cursory look tells me that kwarg is also a  keyword so you probably don't want to use that when calling it in your code.

[2017-06-22 10:39] thunder-spb commented on #41870
@garethgreenaway so I have default settings in my settings.jinja file.
[code]
Basically it's plain yaml file with default settings. These settings could be overrided via pillar depending on my needs
[code]
so how I could get compete compiled version of those both files to stdout, I mean settings.jinja and pillar? I saw state.show_sls but this one shows compiled sls file, but I need only compiled v

[2017-06-22 10:53] sumeetisp opened #41898 "List ELB ans S3 issue"
### Description of Issue/Question

When i try to use --out json along with elb/s3 bucket list i get the following error,

[ERROR   ] Unable to serialize output to json
{"message": "'utf8' codec can't decode byte 0xb8 in position 0: invalid start byte", "error": "Unable to serialize output to json"}

Omitting --out json gives the correct output. This doesnt work with salt api which by default conve

[2017-06-22 11:03] sumeetisp commented on #41760
salt/run/20170622110020368690/ret       {
    "_stamp": "2017-06-22T11:00:24.730549",
    "fun": "runner.salt.cmd",
    "fun_args": [
        {
            "cmd": "cat /etc/salt/cloud.profiles.d/*.conf",
            "fun": "cmd.run",
            "shell": "/bin/sh"
        }
    ],
    "jid": "20170622110020368690",
    "return": "cat: /etc/salt/cloud.profiles.d/*.conf: No such file or directory
",

[2017-06-22 12:11] gtmanfred commented on #41847
This is the expected behavior i believe

@s0undt3ch can you verify? I remember having a discussion about this before that pypi is the source of truth for the full version of salt.

Thanks,
Daniel

[2017-06-22 13:06] s0undt3ch commented on #41847
This undesirable and unavoidable. We can't disable GH downloads.

The only tarballs that report proper version are the ones SaltStack creates and uploads to pypi or those created from a repository checkout(python setup.py sdist).

The reason being that we gerenate the right version from git tags, and, for the tarballs we upload to pypi, we generate a _version module with the right version informat

[2017-06-22 13:10] farcaller commented on #41847
That should be somewhere on GH page, preferably in bold, then 😄

[2017-06-22 13:13] GreatSnoopy commented on #31918
That's not so good any more, luckily we worked around this by only relying on the custom master tops and making that one also refer the "static", common  states. Not the most elegant solution, but at least it gets the job done.

[2017-06-22 13:18] sumeetisp opened #41900 "Cloud module"
### Description of Issue/Question

What are the valid kwargs/opts that can be passed to
salt.modules.cloud.create(provider, names, opts=None, **kwargs)

I can see few like image=ami-1624987f size='t1.micro' ssh_username=ec2-user securitygroup=default delvol_on_destroy=True

Can i assume that whatever we store in provider and profile config we can pass it here? Still i would like to know the possib

[2017-06-22 13:36] terminalmage commented on #31918
Well, we do have to consider how this will impact those who have grown used to the current behavior. If you absolutely must have the fix now, you can apply the below patch to your minions, taken directly from the commits in the PR I opened.

[code]

[2017-06-22 14:23] KyleMoser commented on #41891
@yagnik Thanks. I also tried calling it like `c.cmd(sys.argv[1], 'backup.sync', url='testing', other='false')` and that doesn't work either. I also tried calling it like c.cmd(sys.argv[1], 'backup.sync', **post) where post is a dictionary, and that didn't work either. In each case, I adjusted my execution module to have various arguments (e.g. I added the appropriate params such as 'url' and 'othe

[2017-06-22 14:42] pgporada opened #41902 "salt-call doesn't render jinja when there is a comment at the top of a pillar file"
### Description of Issue/Question
When I include a comment at the top of a pillar file, `salt-call` will fail to render my jinja.
[code]

When I remove the comment from the top of the file, salt-call will work as intended.
[code]

I can leave comments throughout the rest of the pillar except at the top of the file.

### Setup
`test/pillar/top.sls`
[code]

`test/pillar/test.sls`
[code]

`test/mysta

[2017-06-22 14:46] Ch3LL commented on #41883
@garethgreenaway I can replicate the warning when using a dict vs a list. Do you know what the correct data structure is? I am  not sure if the doc is wrong or the warning is incorrect?

[2017-06-22 15:32] thatch45 commented on #41885
Yes, the pypi salt-cloud was deprecated a long time ago since salt-cloud was merged into mainline salt.
So this is a documentation bug, those docs should not reference pip installing salt could but rather to pip install salt. Or to use the salt bootstrap, or better to refer the person to the salt install docs.

[2017-06-22 15:38] Ch3LL commented on #41891
can you elaborate on your example?

You show `def example(url, **kwargs):` but you are calling `'backup.sync'`

If i use what I think is your test case I see expected behavior.

Custom execution module: backup.py

[code]

from python interpreter

[code]

And i see in the minion log:

[code]

[2017-06-22 15:47] Ch3LL commented on #41893
Can you elaborate on what you are attempting to do. Did you previously create this vm with `salt-cloud -m /etc/cloud_map_file/` and you are trying to re-run the map file expecting it to change the datastore? Just need more definition of what you are attempting to do. Thanks

[2017-06-22 16:07] rlaing00 opened #41905 "subjectAltName Issue"
### Description of Issue/Question

I wish to use subjectAltNames with my certificates however when I add the option into my statefile the render fails, without the same render will work correctly. At present I am running a three vagrant minions with Ubuntu 16.04 Lts, with the python-m2crypto library added to the two minions and the master.

### Setup

Please find the state files attached inside th

[2017-06-22 16:36] steverweber opened #41907 "infoblox is lacking in functionality"
infoblox module and states are lacking in functionality and usability.

preparing for a PullRequest.

[2017-06-22 16:54] Ch3LL commented on #41896
Can I get @saltstack/team-core 's opinions here? Any thoughts ideas?

[2017-06-22 16:58] cachedout commented on #41896
This is something I have thought a lot about. The lack of a schema for events is one of Salt's biggest liabilities going forward, I think. In short, I'm very much in favor of this and would welcome a discussion about implementation details. If we can get some community support behind this, I would love to introduce this in the upcoming Oxygen release of Salt.

[2017-06-22 17:06] Ch3LL commented on #41897
@maxmureev can you elaborate what you view as expected behavior when running these `pillar.get` commands against the regex nodegroups. For example are you expecting this command:
[code]

To show?:

[code]

[2017-06-22 17:08] whiteinge commented on #41870
This can be done with [slsutil.renderer](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.slsutil.html#salt.modules.slsutil.renderer):

[code]

[2017-06-22 17:09] Ch3LL commented on #41898
Can you clarify what you mean by `with elb/s3 bucket list ` Are you trying to run a particular execution module? If so can you paste which one? and the parameters you are running with?

[2017-06-22 17:11] thatch45 commented on #41896
I completely agree, we should have a schema and we should have guidelines on how to build events in a consistent way

[2017-06-22 17:11] AlecHansen opened #41909 "boto_vpc will not work as a required state to uninstalled boto3"
### Description of Issue/Question
I'm using the boto_vpc state to set up a peering connection, but the first time I ran a highstate which needed to install boto3, the boto_vpc state failed with the comment
"State 'boto_vpc.request_vpc_peering_conection' was not found in SLS 'rds-vpc-peering'
              Reason: 'boto_vpc' __virtual__ returned False"
Judging from the source code this happens if B

[2017-06-22 17:25] Ch3LL commented on #41900
Yes you can pass in profile/provider data to this function. Looks like it passes vm_ to the create function in the Cloud class in salt/cloud/__init__.py which is similar to building a vm based off a profile. Does that answer your question?

[2017-06-22 17:27] Ch3LL commented on #41902
You will need to use jinja comments `{# #}` since jinja is rendered before yaml. Does that work?

[2017-06-22 17:36] KyleMoser commented on #41891
@Ch3LL I apologize for wasting your time, I was really tired yesterday and I totally screwed up my explanation. I still think there is an issue with either the documentation, or with how kwargs are passed from the salt master to the salt minion. I have edited the original post to explain the error better. I will explain again here and attempt to be more specific:

My module is called backup.py and

[2017-06-22 17:56] truches commented on #39163
this weekk i try sdb on salt.  I try many way. When i execute highstate, nothing assign to my value. My question is : can i have a easy example to try it

[2017-06-22 17:56] alexhrescale opened #41910 "Documentation out of sync for `priv` vs `ssh_priv` option in roster"
**Assuming documentation is going to change `priv:` to `ssh_priv:` (or, the for `parsers.SaltSSHOptionParser` to use `dest` of `priv` instead of `ssh_priv`), this issue is trivial**, but to help others googling:

### Description of Issue/Question
[SALT ROSTERS](https://docs.saltstack.com/en/latest/topics/ssh/roster.html) documentation page is out of date with respect to version `2016.11.5`, at lat

[2017-06-22 17:59] sumeetisp commented on #41900
Yes that's the answer I was looking for , Thank you

On Jun 22, 2017 22:56, "Megan Wilhite" <notifications@github.com> wrote:

[2017-06-22 18:03] sumeetisp commented on #41898
I am talking abt the following commands
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.boto_elb.html#salt.modules.boto_elb.get_all_elbs

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.boto_s3_bucket.html#salt.modules.boto_s3_bucket.list

These cmds don't take much input values, only region and credentials. Use
--out json with these cmds

On Jun 22, 2017 22:39,

[2017-06-22 18:08] truches opened #41911 "i try sdb with vault nothing work why"
i like to get a simple example for keep secret value in salt. A example to put in my .sls file (mariadb passwd)

salt-master and salt-minion version 2016.11.5(carbon)
master.d/vault.conf  and minion.d/vault.con

[code]

[code]

[code]

[code]

[2017-06-22 18:19] Ch3LL commented on #41907
Thanks for the PR. Does your PR capture all your issues you define as lacking?

[2017-06-22 18:23] Ch3LL commented on #41909
You need to use `reload_modules` as documented [here](https://docs.saltstack.com/en/latest/ref/states/#reloading-modules)

Does that resolve your issue?

[2017-06-22 18:25] garethgreenaway commented on #41883
@Ch3LL Taking a look.

[2017-06-22 18:28] maxmureev commented on #41897
@Ch3LL I mean that the Salt output does not change expressions like [this](https://docs.saltstack.com/en/latest/topics/targeting/compound.html). For all groups I expect to see the correct match of the minions. I created several groups to show which parameters I was trying to use.
For Group 6 I expect to see this:
[code]
but not this:

[code]

[2017-06-22 18:31] garethgreenaway commented on #41883
@Ch3LL Looks like the correct value is a list and the documentation is wrong.

[2017-06-22 18:55] AlecHansen commented on #41909
Yes, I appreciate it. Sorry about that.

[2017-06-22 18:55] #41909 closed

[2017-06-22 19:10] Ch3LL commented on #41910
My understanding is that `priv` is the default configuration. I was able to replicate your behavior, but only when priv is set in the Saltfile. When i add `priv:` to the roster yaml file it then works. So i think the issue is not a documentation issue but an issue with the code to use global paramters in the saltfile

[2017-06-22 19:21] alexhrescale commented on #41910
Thanks for the quick reply. I can confirm that in my setup, it **only** works with the `Saltfile` + `ssh_priv` combination. i.e.

[code]

changing `ssh_priv` to `priv` in `Saltfile`, or moving that directive entirely to `roster-file.yml`, regardless of `ssh_priv` or `priv`, all fail with the `salt-ssh could not be run because it could not generate keys.` response

[2017-06-22 19:22] Reiner030 commented on #34219
Happy birthday to this bug... hope you have a nice party today ;)

Any news about fix status/howto workaround this problem?
It also happens on "good old Debian Jessie" with latest saltstack 2016.11.5

[2017-06-22 19:34] edgan commented on #34219
I made my own cherrypy package, and threw in my private apt repo. I don't see Ubuntu fixing this anytime soon.

[2017-06-22 20:02] Ch3LL commented on #41911
@truches can you elaborate on the issue you are running into? Are you seeing an error? Also what command are you running when you see the error?

[2017-06-22 20:03] Ch3LL commented on #41894
@DR3EVR8u8c can you point me to the ami image where this is working in? I am seeing the error each time  no matter the ami i use, which leads me to believe the config might be incorrect that I'm using.

[2017-06-22 20:14] Ch3LL commented on #41905
I believe the format of that argument needs to look like: `- subjectAltName: 'DNS:saltminion2.local'`

Does that work?

[2017-06-22 20:20] Ch3LL commented on #41910
Wait so are you saying changing your settings to this:

[code]

Is not working for you either?

I can confirm it works for me on 2016.11.5

[code]

[2017-06-22 20:22] #41900 closed

[2017-06-22 20:43] Ch3LL commented on #41579
@sazaro I actually just installed manjaro on my laptop so I was able to test this as well but can you please give hte fix in https://github.com/saltstack/salt/pull/41912 a go and let me know if it works for you?

[2017-06-22 20:46] alexhrescale commented on #41910
That is correct.

[code]

Obviously my ip/user/priv are replaced with dummy values, but I noticed something else (probably irrelevant to this issue): previously when using the abspath to the private key, it just works and outputs `devbox: True`. If I use a relative path (`~/.ssh/mykey.pem`), I get an overwrite prompt, but in the end it succeeds:

[code]

Also, it does not matter what is set in the

[2017-06-22 20:50] Ch3LL commented on #41848
I don't believe this exists but @gtmanfred might be able to clarify whether i'm wrong or not

[2017-06-22 21:00] sazaro commented on #41579
I will try this when I get home, thank you :+1:

[2017-06-22 21:09] Ch3LL commented on #41863
I'm not seeing this behavior in the cloud driver. I'll add as a feature request. I only see this added in teh ec2 boto modules.

[2017-06-22 21:24] Ch3LL commented on #34219
I'm not sure if ubuntu16 provides the cherrypy 10 package but you can always use pip. We just updated our docs here: https://github.com/saltstack/salt/pull/41866/files . Seems version 10 is working. Can anyone test that out and see if its working?

[2017-06-23 01:18] ryan-lane commented on #2454
+1 I also really want this a lot :)

[2017-06-23 02:13] DR3EVR8u8c commented on #41894
Hi @Ch3LL ,
the ami is working in Ireland, the area is eu-west-1.

one thing I forgot to mention earlier, the ami which is working good is a custom image created by myself. Thanks and regards,

[2017-06-23 05:38] cetanu commented on #41893
This is for a new machine that doesn't exist

I am aware that any machine that already exists in the provider will be skipped

What we'd like to do is to change the datastore of the first hard disk 'Hard disk 1' on a newly created VM, during the provisioning process.

[2017-06-23 05:53] ari commented on #38971
Is there any known workaround for this issue? For my use-case the source is a 40Mb file at the other end of a VPN tunnel so the performance hit is huge.
Could we use "unless: ls /usr/bin/somefile" or some other approach here until this bug is fixed?

[2017-06-23 07:50] boltronics commented on #22146
@sastorsl The docs don't say. You have to read the source code or look through bug reports to discover that functionality. eg. https://github.com/saltstack/salt/issues/4381 "peer_run: glob, pcre matching. Better docs".

But this bug report is about restricting arguments, which IIRC is not supported.

[2017-06-23 08:58] rlaing00 commented on #41905
Indeed that did work, I would like to ask what is the correct syntax for IP's and multiple DNS names? The project I am working on has some bizarre networking with docker containers and I am seeking to automate it.

[2017-06-23 09:16] sastorsl commented on #22146
According to the first sentence the OP thinks so - "against certain other minions" - and that was what I was after so that was what I was commenting to.

But yeah, the question / bug report is about restricting arguments.

[2017-06-23 09:41] rlaing00 commented on #41905
Hi there please consider the issue close after inspecting a couple of examples I realised that the correct syntax is very much what I put into the post and the items are simple a long string with the DNS: or IP: separating them out after a ,

I would still like to request an example of be added into the documentation as I have not acumlated a huge volume of expose to using certificates and I feel

[2017-06-23 10:11] ScoreUnder commented on #40948
When you say you can't reproduce this, do you mean the `pki/minion` directory always exists, or that it gets created successfully?

[2017-06-23 10:45] sumeetisp commented on #41900
1)salt-call cloud.create provider=aws-si names=test-cloud image=ami-68c79b7f size='t2.micro' ssh_username=clouadmin private_key=/srv/salt/files/keys/naga_salt.pem  securitygroup=sg-11f2207e delvol_on_destroy=True deploy=True network_interfaces={"DeviceIndex": 0,"SubnetId": "subnet-bd2bebd7","AssociatePublicIpAddress": "true"} keyname=naga_salt -l debug

Passed invalid arguments: create() got multi

[2017-06-23 10:50] sumeetisp commented on #41900
salt.modules.cloud.create(provider, names, opts=None, **kwargs)

Also is it necessary to have atleast the provider on salt master? As in the above cmd the provider value seems to be mandatory.

[2017-06-23 11:00] thunder-spb commented on #41870
awesome! Just added --pillar-root and now it works as I need! Thank you @whiteinge !

[2017-06-23 11:00] #41870 closed

[2017-06-23 12:18] abhipallav opened #41915 "Salt doesn't support chocolatey timeout (--execution-timeout=VALUE) under chocolatey.installed module"
### Description of Issue/Question
Salt doesn't support chocolatey timeout (--execution-timeout=VALUE) under chocolatey.installed module
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.chocolatey.html#salt.states.chocolatey.installed should also support user defined --execution-timeout w

[2017-06-23 13:31] gtmanfred commented on #38971
I would use 'test -f /use/bin/file' but yeah that is the only work around I
know of
On Fri, Jun 23, 2017 at 1:53 AM Ari Maniatis <notifications@github.com>
wrote:

[2017-06-23 14:10] sk4rp10n opened #41917 "An error was encountered while installing package"

[2017-06-23 14:18] Ch3LL commented on #41579
@sazaro just fyi i updated that PR. The new fix will actually help ensure the os_family is arch for manjaro. This is the best fix because other modules that might use os_family detection for arch will now work as well if they were failing previously :)

[2017-06-23 14:23] #41917 closed

[2017-06-23 14:34] Ch3LL commented on #41910
Are you running salt-ssh as someone besides root?

[2017-06-23 14:37] gaetanquentin commented on #37802
+1 the same on 2016.11.3

[2017-06-23 14:37] Ch3LL commented on #41905
We can definitely add an example to documentaion. You are welcome to try to add this to the docs as well. I'll re-open this issue and label as a documentation feature to add. If you do want to try to add an example please let me know if you have any questions on how to submit a PR

[2017-06-23 15:17] rlaing00 commented on #41905
Sure I would like to submit a request, how does one go about this?

[2017-06-23 16:08] garethgreenaway commented on #41915
@abhipallav Thanks reporting the issue.  If you're able to provide a pull request adding this to the chocolatey module it would be greatly appreciated.

[2017-06-23 17:06] Ch3LL commented on #41893
Thanks for confirming. I can replicate this, looks like it needs to be added. Thanks!

[2017-06-23 19:01] nickgarber opened #41921 "enable Salt Minion in a privileged container to manage it's Host"
This would make the salt-minion installable on slim container-host OS's such as CoreOS, Photon, etc [ref:2].

I think it should be possible to have this work as long as the container is privileged.

The kubelet has managed to make this work [ref:1].

Might the Proxy system provide a way forward?

[ref:1]
https://coreos.com/kubernetes/docs/latest/kubelet-wrapper.html
[ref:2]
https://github.com/salt

[2017-06-23 19:34] steverweber commented on #41911
i think the issue is lacking document.

I read: https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.vault.html
and i'm not 100% sure how to use it.. how do i set a pillar value using it?

[2017-06-23 21:15] #10201 closed

[2017-06-23 22:05] sgg opened #41922 "Salt master eauth tokens stored on disk with world readable permissions"
### Description of Issue/Question
Salt eauth tokens are stored in msgpack format on disk with world readable permissions. Considering that each token file has both the token respective username, anyone who can read these files can masquerade as any user with that has been issued an eauth token.

If the `token_dir` directory exists when starting a master, the permissions are not tightened. If the d

[2017-06-23 22:12] wmariuss opened #41923 "Can generate multiple files based on pillar data?"
### Description of Issue/Question
So, there is a way to do that?

### Setup
I have  pillar data:
[code]
Based on pillar data, I do a loop and I want to generate for every loop a file with data content.
For e.g.
`file1` all data from `data1` and so on.

### Versions Report
[code]

[2017-06-23 22:27] sgg opened #41924 "permissive_pki_access does not do what's described"
### Description of Issue/Question
From the default config:
[code]
If you look at the code in `salt/utils/verify.py` you'll see this option actually impacts the mode/permissions of ANY directory passed into the `verify_env`  and in fact has no specific impact on the `pki` directory whatsoever. It may make sense to change the name/description of this option to better match what it actually does.

##

[2017-06-23 22:49] sgg opened #41926 "verify_env does not set permissions on the cache directory (including the job cache)"
### Description of Issue/Question
Related to #41922.

More specifically there is [special casing](https://github.com/saltstack/salt/blob/2010b37e6f4dde002032d82948872174382e7da3/salt/utils/verify.py#L244) in `verify_env` that purposefully ignores the job cache when setting permissions. Furthermore, if the job cache does not already exist it will be created with the default `umask` (typically `022`

[2017-06-24 00:07] liaoyupeng opened #41928 "v 吗"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2017-06-24 00:30] alexhrescale commented on #41910
correct

[2017-06-24 05:56] thiagowfx commented on #41721
How to properly quote?

    - value: \"YES\"

yields `sendmail_enable=""YES""` (with double quotation marks).

    - value: YES

fails (this is the original way OP tried).

    - value: "YES"

fails with the same message as the previous case.

    - value: ""YES""

(double quotation marks, as specified in @gtmanfred's link) fails with the following error:

    The minion function caused an excepti

[2017-06-24 06:04] thiagowfx commented on #41721
It turns out this variant works:

    - value: '"YES"'

and also

    - value "'YES'":

However, FYI, the following piece from the docs:

is a little confusing, because it can be easily mistaken by `""` (i.e., double quotation marks). That's exactly what I've done. The docs are right, they are just a little confusing.

I would suggest to make this point more explicit: a double quotation must be us

[2017-06-24 08:05] #10230 closed

[2017-06-24 15:05] garethgreenaway commented on #41928
Looks like this was submitted without any information.

[2017-06-24 21:56] CMeza99 commented on #14088
Why can't we have nice things?

[2017-06-24 23:10] #41928 closed

[2017-06-24 23:59] nomeelnoj opened #41930 "archive.extracted not functioning properly"
### Description of Issue/Question
I am trying to use archive.extracted to extract a .tgz from the salt master onto a minion.  This is for a web server.  However, I am getting errors as if salt thinks I am on a previous version, telling me that tar_options is required, so I have formatted the state for the previous version of salt.  If i try to use "options", "user", "group" or any of the other opt

[2017-06-25 05:50] nomeelnoj commented on #41930
Here is another very strange example.  I have an orchestration state that calls an sls to extract an archive from s3.  When I run a similar state on the master, it functions properly.  However, when I run it on a minion, I get an error that contradicts itself, asking for an option and also saying that option is not available.  Here are the files:

/srv/salt/orch/image.sls
[code]
/srv/salt/deploy_i

[2017-06-25 13:05] max-arnold commented on #32578
Still happens on 2016.11.6

[2017-06-25 14:50] johnkeates opened #41931 "postgres_database.present never works because call to postgres_user.present fails"
### Description of Issue/Question
When postgres_database.present tries to create a database and assign it to a user, it always fails with a python exception and a stack trace.

[code]

### Setup
Using postures-formula from saltstack-formulas at revision 5cbf920fa7f7d277a5dd874f08157f15aad3a19e

Pillar Data:
[code]

State:
[code]

### Steps to Reproduce Issue
Running salt-call state.apply will do e

[2017-06-25 17:04] brettsheffield opened #41932 "Documentation Inaccessible for some User-agents (403 Forbidden)"
The documentation pages (eg https://docs.saltstack.com/en/latest/contents.html) return a 403 Forbidden error when the User Agent is set to certain strings, making the documentation inaccessible in some cases for people with visual disabilitites.

User agent strings such as libwww are used by some textual web browsers, which are often used by the visually impaired (or those who just need/prefer to

[2017-06-25 17:07] brettsheffield commented on #41932
Note: even disabling the User-Agent header entirely works fine.  Documentation seems to be broken only for specific User-Agent strings.

[2017-06-26 02:20] nomeelnoj commented on #40653
@pcn disabling smart quotes helps with the ascii error, but I am still getting another error on some commands.  However, I think you should detect the quote and translate them to non-smart quotes before firing the message to salt, as having them enabled is a mac default, and many people (myself included) very much like the smart dashes that are coupled in with this setting.

Back to the the issue

[2017-06-26 02:27] nomeelnoj commented on #41263
@garethgreenaway the changes look great! Thanks!  This is exactly what I was looking for, can't wait until the Oxygen release.   This will help immensely with our deployment, as right now I am using a cmd.run to run the rsync so I can keep permissions on the files.  Thanks again!

[2017-06-26 02:28] nomeelnoj commented on #41263
Any movement on being able to have salt:// as a source for rsync?

[2017-06-26 04:40] nomeelnoj commented on #41930
I have some more information.  The issue lies with the operating system.  All of our minions are Ubuntu 14.04, but the master is RHEL 7.  I set up a test minion using RHEL 7 and the state functioned without a problem.

So, the state breaks on Ubuntu minions.  Any way to fix this or get around it?  I am next going to try to make the salt-master an Ubuntu system and see if this works, but I cannot e

[2017-06-26 04:55] nomeelnoj commented on #41930
Final piece of information--I just spun up a salt-master with Ubuntu, and even when controlling ubuntu minions, the archive.extracted state does not work on ubuntu minions.

It seems that the archive.extracted state only behaves as advertised on RHEL minions, and the OS of the master does not matter.  Can we fix this?

[2017-06-26 05:56] pcn commented on #40653
The most likely issue is that ">" is being html-encoded as well.  See https://www.w3schools.com/html/html_entities.asp.  To work around this for now, I would try using [file.append](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.file.html#salt.modules.file.append)

[2017-06-26 06:41] boltronics commented on #15171
@cdunklau The problem with your sls is here:
[code]
AFAIK that is invalid. It should be written as:
[code]
Do that, and it works for me.

[2017-06-26 07:28] vquiering commented on #41650
@varun292006
Does it work when running the state locally using `salt-call`? This looks like an issue I'm facing where mysql query states won't apply when applied remote.

[2017-06-26 07:53] boltronics commented on #15171
I've spent a couple of days pulling my hair out here over this bug. Following @JensRantil's lead, I dumped the `low`, `running` and `chunks` variables. In my case, I couldn't see any broken references - but there was so much data. Just one line from the log was 67kb, so I was unable to manually verify everything. Eventually I wrote a quick hacky script to see where the problem might be.
[code]

In

[2017-06-26 09:54] yagnik commented on #41881
@garethgreenaway does the approved mean I can whip up something for this ?

[2017-06-26 10:05] yagnik commented on #41896
I spent some time reading up the code and how schemas et al are used in salt.
Here is a rough plan of what I'm thinking, please let me know if I'm going down the right path ( I apologize in advance for numerous questions ). I'd like to split this feature under multiple pull requests:
- Add a new class for event schema placed in https://github.com/saltstack/salt/tree/develop/salt. I don't believe t

[2017-06-26 11:03] absolutejam commented on #41876
I revisited this today, and initially I killed `salt-minion` service and re-ran manually with `-l debug` and this time it worked okay when called via. `salt-call` or from master (`win_wua.list_updates installed=True`), producing the usual list of updates.

Killing this manual process and starting the service again (Which is just running as `local system`), it then failed with the above error. I've

[2017-06-26 12:36] absolutejam commented on #41876
I've run this across a load of servers and the servers with issues (approx 5) are all at different sites with strict web filtering (Restricted ports, auth required, at least some have HTTPS decryption). If I get chance I'll try and dig in to see if any exceptions are getting thrown in the module.

[2017-06-26 13:07] markostanojlovic opened #41935 ""salt-run state.event" reporting exception after CTRL+C"
### Description of Issue/Question
"salt-run state.event" reporting exception after CTRL+C - would be nice not to have exceptions displayed

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
- no special sls files, clean instllation
### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

salt-run state.event

^CException occurred i

[2017-06-26 13:43] michaelkarrer81 opened #41936 "git.latest identity does not set the correct user for the private key file on the minion"
### Description of Issue/Question
Wrong linux user on the minion for the identity file if an salt:// path is used!

[code]

Will load the private key file to the minion **but owned by root** and **not** by linux user **mike**!
This leads to an permission error later because linux user mike can not read the private key file!

### Versions Report
Salt Version:
           Salt: 2016.11.3

Dependency

[2017-06-26 14:09] terminalmage commented on #41923
It's not clear what you're asking. What do you want the actual contents of the file to be? How do you want the file to look?

[2017-06-26 14:13] terminalmage commented on #41930
The distro has nothing to do with how the state behaves, we don't do anything special for different distros.

Can you please set ``log_level_logfile: debug`` in the minion config file on the RHEL minion, and restart the salt-minion service? Then, try running the state again and post the debug logging from ``/var/log/salt/minion``.

[2017-06-26 14:26] truches commented on #41911
when i do:    vault read secret/username
i get the result
value:        roger
--------
when i do salt-call sdb.get 'sdb://vault/secret/secret/username?value
i get nothing:
local:
     sdb://vault/secret/username?value
---------
what is the command if i want to use it in the sls file

[2017-06-26 14:34] terminalmage commented on #41930
Actually, I misread, it's the Ubuntu box you're having trouble with, so we want to set that logging config option on Ubuntu minion.

Also, you've said that you get errors saying that options aren't supported but you haven't actually posted those errors. This doesn't help us very much, in terms of troubleshooting.

Please post the output from the following two commands:

1. ``salt minion-id grains.

[2017-06-26 14:37] amendlik commented on #33807
I ran into this same problem, as well, and managed to get it working by building a custom patched version of the sssd package. Here is what I learned:

- There is a bug in `pysss.getgrouplist()` that causes it to hang on FreeBSD.
- The `pysss` Python module is provided by the `sssd` package
- A [patch](https://lists.fedorahosted.org/archives/list/sssd-devel@lists.fedorahosted.org/thread/VAQK7VJUNT

[2017-06-26 14:49] ntvietvn commented on #34872
Hi,
I have the same issue on centos6. I have a salt state which launches several unit tests on the target machine (so the state takes time) and i've reproduced this issue with the salt-minion version 2016.11.5 and also 2016.3.6, regardless the master version. It works if the salt-minion is downgraded to 2015.8.13. Please notice that:

- cmd.run "sleep 60" works perfectly

- if i set the timeout to

[2017-06-26 15:13] riq-dfaubion commented on #12540
I'm also for application level keepalives. 👍

I also second @emeryray02's request for more details @sivann.

[2017-06-26 15:23] wmariuss commented on #41923
So, I have the pillar specified before.
And this code
[code]
`deployment.yaml` has a kubernetes config, using pillar to populate data in few rows (which I think must be in pillar).
Let's put `deployment.yaml` file config here too
[code]
So, based on data from pillar, I want to generate every file with own config.
`file1` to has data from `data1 `
...

`file1` == `pillar['deploy'][data1]`
...

So,

[2017-06-26 15:42] garethgreenaway commented on #41881
@yagnik Approved means the issue was validated and has all the information needed.  We would of course love to see a PR implementing the feature 😊

[2017-06-26 15:45] discountbin commented on #34985
Ran into this issue on 2016.11.1 minions and #41409 seems to have resolved the above `Exception occurred while handling stream: [Errno 0] Success` errors for us.

[2017-06-26 16:03] garethgreenaway commented on #41932
Thanks for the report @brettsheffield, we'll get someone to take a look at this.

[2017-06-26 16:06] garethgreenaway commented on #41936
Thanks for the report @michaelkarrer81

[2017-06-26 16:31] gtmanfred commented on #38061
This is fixed in #41539

[2017-06-26 16:31] #38061 closed

[2017-06-26 16:52] gtmanfred commented on #41721
Yes, the different types of quotes are needed.  We should document that explicitely.

I am making this as a documentation issue.

Thanks,
Daniel

[2017-06-26 16:55] gtmanfred commented on #41848
If there is the ability in https://docs.saltstack.com/en/latest/ref/clouds/all/salt.cloud.clouds.azurearm.html to do that, then you can use the cloud.action or cloud.function runner to do it.

If not, then the ability would need to be added to the cloud driver.

We have a desire to add some more stuff like boto in a future iteration on salt cloud, but right now only ec2/boto is implemented.

This

[2017-06-26 17:25] gtmanfred opened #41941 "Allow using cluster when specifying a datastore for salt-cloud + vmware"
### Description of Issue/Question
Right now you can specify a datastore, but you cannot specify a cluster of data stores.

It would be useful to just be able to specify a cluster of data stores so that more hard drives could be added to the cluster without having to reconfigure cloud profiles

ZD1494

[2017-06-26 17:31] marceliq commented on #25842
Hi,

I think i found some workaround. Could you please try change line 76 in file executors/sudo.py from

         if data['fun'] == 'state.sls':

to

         if data['fun'] == 'state.highstate':

or maybe

         if data['fun'] == 'state.apply':

depends on your preference. I'm not sure if it is intended and safe behaviour, but at least it somehow works.

[2017-06-26 17:32] eligundry commented on #39834
Hey @Ch3LL, I think I found a related issue in #41581. This seems to be a bigger issue than just the GPG renderer, but I am going to leave this open as I would love to get confirmation that this is fixed because I do not want to check in my password.

[2017-06-26 18:16] terminalmage commented on #41923
You're iterating through everything in pilllar['deploy'] within your deployment.yaml jinja template, I'm not sure how you expect only one "app" to have its pillar data placed into the deployment.yaml.

[2017-06-26 18:21] terminalmage commented on #41923
If you add `{'context': {'app', app}}` to your arguments in the file.managed, that will add a jinja variable called `app` to the jinja context when rendering the template. Then instead of this:

[code]
You can just do ``{%- set info = pillar['deploy'][app] %}``

I _think_ that'll do what you want.

[2017-06-26 18:37] wmariuss commented on #41923
I know i am iterating throught everything.
I just ask if there is a way to generate files with own config from pillar data.
Any way, i give up and i use file creted for every app and take data from pillar for every app name.
Thanks for 'context' i will try this.
Thank for help.

[2017-06-26 19:22] bigg01 commented on #40840
With the salt/utils/vmware.py version from DEV branch it works.

https://raw.githubusercontent.com/saltstack/salt/develop/salt/utils/vmware.py

[2017-06-26 19:29] grobinson-blockchain opened #41944 "Toml Jinja filer"
### Description of Issue/Question

Lots of software, the TICK stack in particular, uses Toml for configuration files. Writing pillar data in Toml is quite difficult in Salt and as far as I'm aware requires writing your own Toml encoder in Jinja with macros. It would be great if there was a Toml filter, like we have JSON and Yaml filters, so we could do:

    {{ config | toml }}

to write a Toml co

[2017-06-26 19:36] johnkeates commented on #41931
Supplemental information:

- omitting user or hard-setting it to postgres does of course still work
- setting createdb to true or omitting it doesn't help at all

On top of those, setting the user post-database creation (i.e. doing it manually first) also doesn't work. Something seems to be problematic with getting available users.

[2017-06-26 19:40] kev009 commented on #33807
@amendlik I suggest sending the patch in to bugs.freebsd.org, so we can carry the sssd patch locally in ports.  You can CC me there with kbowling@ and I will poke people.

[2017-06-26 19:42] grobinson-blockchain commented on #41944
I was thinking something like this https://github.com/saltstack/salt/pull/41946

[2017-06-26 19:52] #41891 closed

[2017-06-26 19:57] KyleMoser opened #41947 "LocalClient does not pass **kwargs to minion's custom execution module"
### Description of Issue/Question
Salt master does not properly pass arguments to minion execution module when calling `LocalClient`.

My module is called backup.py and my function looks like this:
[code]

I am running a python script on my salt master, and I have a dictionary called post. 'Post' is actually a dictionary containing some key/value pairs, where one of the pairs is a key called 'fiel

[2017-06-26 19:58] KyleMoser commented on #41947
My apologies for closing the other similar issue and reopening. I hope this issue is better defined and more clear for the authors to understand. Thanks again.

[2017-06-26 22:28] wmariuss commented on #41923
Wow, awesome.
This resolve my problem `{'context': {'app', app}}`.
Thank you!!!

[2017-06-26 22:33] jrporcaro opened #41949 "Event returner doesn't work with Windows Master"
### Description of Issue/Question
When setting up an event and job returner with a windows master the Event returner will fail.

### Setup
I used the Postgres returner setup. I had the postgres on an external box and the postgres configured to accept external connections. I created a user called 'root' and a db called salt. I used the script in the instructions in the docs to create the tables in

[2017-06-26 22:54] cachedout commented on #41949
@gtmanfred please schedule some time to sit down with @twangboy to pair on this. The stacktrace is fairly straightforward and for whatever reason we're blowing up when we try to pickle that proc.

[2017-06-26 23:03] hemebond commented on #38171
Problem also exists in 2016.3.6 when just trying to add a new line

[2017-06-27 01:08] Amacelia opened #41950 "Process for executing .bin/.sh files on Solaris using similar methods to pkg.install/win_repo"
### Description of Issue/Question
On Solaris, is there a way to cause .bin/.sh install and uninstall files to execute similarly to the way .pkg files are handled with pkg.install? Or, similarly to the way packages (.exe, .msi) are handled via win_repo?
Is there an alternative way to handle these types of installations/uninstallations (.bin, .sh) due to their differing file types?
### Setup

For So

[2017-06-27 02:34] nomeelnoj commented on #41930
Okay, here is a full report. For now, let's skip the orchestration state for simplicity.  Here is the state file I am running on the minions, with some data truncated for obscurity.  Again, an identical state but with a different s3 tarball runs via orchestration on the master with no issues.  Unfortunately, I am now seeing the same behavior on both rhel minions and ubuntu minions.
[code]
#### Com

[2017-06-27 03:28] ksze commented on #28742
Looks like somebody at University of Science and Technology of China made an apt-repo with the latest Salt built for armhf:

http://mirrors.ustc.edu.cn/salt/apt/debian/8/armhf/2016.11/

The next important question is: do you trust it?

[2017-06-27 04:24] terminalmage commented on #41930
I'm sorry, but I can't reproduce any of this. There are also a couple weird things with the information you posted. First of all, the comment field ``tar archive need argument tar_options`` doesn't ring a bell, and doesn't exist in Salt:

[code]

Secondly, all of the options you used in your SLS are valid in 2016.11.5. There is no way that 2016.11.5 generates those errors. How did you install Salt

[2017-06-27 05:11] nomeelnoj commented on #41930
So I thought maybe the issue was something with S3, so to remove a layer of complexity, I created a very small tar.gz on the saltmaster, at salt://test1.tar.gz.  The new state file is:
[code]
I get the same error, that I must specify -Acdtrux... Based on the log file. the tar command that salt is running is failing, exiting with 2 as the return code.  See below.

Here is the relevant /var/log/salt

[2017-06-27 05:13] nomeelnoj commented on #41930
One other piece of information, this master is a syndic of another master and is also running salt-api.  I am going to spin up a brand new RHEL master and ubuntu minion in AWS and test there.  I will report back shortly.

I created these minions using salt-cloud.

[2017-06-27 05:47] nomeelnoj commented on #41930
Okay, you are onto something with how the minions were installed.

I spun up a new salt-master and minion in AWS by hand, using the instructions at repo.saltstack.com to install the packages.  The state worked perfectly with no errors, using the arguments defined in the docs for 2016.11.5.

However, the minions that were spun up using salt-cloud, regardless of OS, exhibit the behavior above.

I tr

[2017-06-27 06:26] bhanukumar22 commented on #41829
Let me know if somebody has got any suggestion for the above issue

[2017-06-27 06:32] robthralls commented on #36195
I think I ran into this while tweaking my formula for postgres, which annoyingly uses the version numbers in the package names. Here are some slightly contrived example files to reproduce with:

test/map.jinja:
[code]

test/pkg.sls:
[code]

Output:
[code]

Notice the package names are unicode literals, but the service name is not.

This seemingly-redundant loop is a simple workaround for me for no

[2017-06-27 06:41] nomeelnoj commented on #41930
I tried everything I can think of to fully remove the salt-minion package on the node spun up by salt cloud that is reporting the error, including attempting to also remove all its dependencies.  Then I rebooted, and attempted to reinstall salt manually.  However, after the manual install, I am still getting the error message.

So, it seems that the error message shows up on a node spun up by salt

[2017-06-27 09:28] #8135 closed

[2017-06-27 09:28] #10429 closed

[2017-06-27 09:28] #10373 closed

[2017-06-27 09:28] #10471 closed

[2017-06-27 09:28] #9340 closed

[2017-06-27 09:28] #10485 closed

[2017-06-27 09:28] #9389 closed

[2017-06-27 09:28] #10726 closed

[2017-06-27 09:28] #10769 closed

[2017-06-27 09:28] #10727 closed

[2017-06-27 09:28] #10850 closed

[2017-06-27 09:28] #10891 closed

[2017-06-27 10:31] root360-AndreasUlm opened #41955 "rabbitmq 3.6.10 changed output => rabbitmq-module broken"
### Description of Issue/Question

When running any state using the rabbitmq_* modules with rabbitmq-server version 3.6.10 (and maybe higher) the run fales with the following message:
[code]
This error is caused by a change of the output of rabbitmqctl.

#### Output comparision

Output before 3.6.10:
[code]

Output with 3.6.10:
[code]

#### Result of error analysis
The modules strip the first line

[2017-06-27 10:49] root360-AndreasUlm commented on #41955
Maybe the issue can be solved by adding the following check to https://github.com/saltstack/salt/blob/develop/salt/modules/rabbitmq.py#L137:
[code]

[2017-06-27 11:07] sumeetisp opened #41957 "Cloud - continued from #41900"
### Description of Issue/Question

@Ch3LL
1)salt-call cloud.create provider=aws-si names=test-cloud image=ami-68c79b7f size='t2.micro' ssh_username=cloudadmin private_key=/srv/salt/files/keys/naga_salt.pem  securitygroup=sg-11f2207e delvol_on_destroy=True deploy=True network_interfaces={"DeviceIndex": 0,"SubnetId": "subnet-bd2bebd7","AssociatePublicIpAddress": "true"} keyname=naga_salt -l debug

P

[2017-06-27 13:13] sumeetisp commented on #35754
@Ch3LL  It doesnt work with salt cloud module you mentioned. Only works with salt-call. Is this a bug?

[2017-06-27 13:22] HOSTED-POWER commented on #27094
Hi Kevin,

Sounds great, thanks for clarifying!

I'm also wondering if there is an easy way to apply the patch to our production setup?

[2017-06-27 14:14] fanne commented on #9736
@mbochenk
hello,I have already solved the problem.
I used the KVM virtual machine, which allocated 512m of memory per virtual machine.
The problem was solved when I raised the memory.
Thank you for your help. Thank you.

[2017-06-27 15:09] gtmanfred commented on #41935
Yes, I have seen this and we should catch it.

Thanks for reporting,
Daniel

[2017-06-27 15:29] gtmanfred commented on #41947
If you check the documentation for kwarg on the localclient, it is specifically for the keyword arguments that are supposed to be passed to the function.

https://docs.saltstack.com/en/latest/ref/clients/#salt.client.LocalClient.cmd

`kwarg -- A dictionary with keyword arguments for the function.`

So this is the expected behavior.

Thanks,
Daniel

[2017-06-27 15:33] gtmanfred commented on #41950
I do not believe that there is a way to use self extracting tarballs to manage packages on unix based systems like you can in windows with .exe/msi files.

You could use the cmd.run state module, and then use `unless` to check if the files the script installs are there, but then you could run into problems with updating them.

@dmurphy18 are you aware of anything in salt for using packages with so

[2017-06-27 15:37] gtmanfred commented on #41955
Yes, I would think that should fix this, would you be able to submit a pull request to the 2016.11 branch with this fix?

https://docs.saltstack.com/en/latest/topics/development/contributing.html#which-salt-branch

Thanks,
Daniel

[2017-06-27 15:40] KyleMoser commented on #41947
@gtmanfred

I know that kwarg=post works as expected. That is given in the above example. The point of the bug report is that for _kwargs_ the following example is given in the documentation: `local.cmd('*', 'test.ping', username='saltdev', password='saltdev', eauth='pam'). Or: local.cmd('*', 'test.ping', token='5871821ea51754fdcea8153c1c745433')` but actually, it does not work. For example, if yo

[2017-06-27 15:45] gtmanfred commented on #41947
They should never be sent to the minion execution module.

The only things that are sent to the minion execution modules are the things you pass to `arg` and `kwarg`

[2017-06-27 15:57] KyleMoser commented on #41947
@gtmanfred Ok, no problem. My confusion was and (kind of still is) the difference between "kwarg -- A dictionary with keyword arguments for the function" and "kwargs --Optional keyword arguments". I don't think the documentation makes it clear how to use kwargs in the general case. Maybe this is my inexperience with salt, but I don't think the single example given clarifies it for me. Thank you fo

[2017-06-27 16:09] gtmanfred commented on #41957
I believe `securitygroup` option is actually the securitygroup name, you need to use `securitygroupid` which takes a list.

So

[code]

[2017-06-27 16:11] gtmanfred commented on #41947
Yup, I am going to reopen this, we should certainly clarify that `kwarg` is being passed to the execution module function, and not to the localclient.cmd()

Thanks,
Daniel

[2017-06-27 16:21] dmurphy18 commented on #41950
@gtmanfred @Amacelia I am unfamiliar with using self-extracting shell files to install on Solaris 10. A wrinkle in doing so is that native Solaris 10 tar doesn't handle -z option, so the system would need access to GNU tar command, hence for Salt on Solaris instructions using Solaris tar command:

gzip --decompress salt-2016.11.5-solaris-sparc.tar.gz
tar -xvf salt-2016.11.5-solaris-sparc.tar

etc.

[2017-06-27 16:50] sumeetisp commented on #41957
Worked. Thank you. Documentations needs to be updated though

[2017-06-27 16:50] #41957 closed

[2017-06-27 17:17] amendlik commented on #33807
@kev009 Done. https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=220308

[2017-06-27 19:09] nee1 opened #41962 "Passing salt-ssh options via api"
### Description of Issue/Question
My minion doesn't have python 2 installed and I want to install it through raw salt-ssh command and I want to convert the following command to a salt-api call.

[code]

I tried to do this but it doesn't work:
[code]

### Response from the salt-api call
[code]

Is there any other way to do it?
Thanks

### Versions Report
[code]

[2017-06-27 19:24] ericuldall opened #41964 "Master Behind TCP Proxy"
I'm currently running salstack in Google cloud and our organizations runs many projects. In a single project it's quite easy to setup.  You call the VM 'salt' and everything just works because VM names map to internal host lookups.

The problem I'm having is I want to use a single salt master to administer minions in all projects. The solution I tried is setting up an nginx TCP proxy in another pr

[2017-06-27 19:30] gtmanfred commented on #41962
`-r` is a flag that you pass to the commandline, if you want to run a command on the minion through the api, just use the `cmd.run` function.

[code]

[2017-06-27 19:36] gtmanfred commented on #41964
The minion opens an active connection to the master, so you cannot use a proxy in this way afaik.

What you could use is syndics, so that there is one master, and a syndic master for each project.

https://docs.saltstack.com/en/latest/topics/topology/syndic.html

I have heard of salt-broker, but I am not aware of who is using it.  https://pypi.python.org/pypi/salt-broker/0.2.5

Actually, have you

[2017-06-27 19:52] arthtux commented on #41312
I have same problem.

[2017-06-27 19:53] nee1 commented on #41962
Thanks for the reply. But, my minion does not have Python 2 installed so cmd.run wouldn't work. But, the minion has Python 3.5.2. Is there a way to execute salt-ssh through rest_cherrypy API on minion's Python 3?

[2017-06-27 19:55] gtmanfred commented on #41312
@arthtux do you have htpasswd installed on the server?

[2017-06-27 19:57] gtmanfred commented on #41962
We execute using python3 if it is in the $PATH of the minion.

It needs to be in the default path for sh, and not added by /etc/profile.d/*.sh

[2017-06-27 19:59] arthtux commented on #41312
Yes and now it works

thanks

[2017-06-27 19:59] ericuldall commented on #41964
Okay, i'm going to try the syndic setup. I'm getting the following error from the syndic though...

[code]

If have the syndic and a master running on the previous proxy node which is already allowed firewall access to the main salt master on port 4505 and 4506. Any idea what I might be missing?

[2017-06-27 20:00] ericuldall commented on #41964
Current ps:

[code]

[2017-06-27 20:07] gtmanfred commented on #41770
@holmboe you too, any ideas on this?

If one of yall @holmboe or @dschaller could help, we would greatly appreciate.

Thanks,
Daniel

[2017-06-27 20:14] rklaren commented on #41137
@magicalbob the domain.rng did not come through.

More importantly did you use the newer version of the code that has the fixed logging of the domain xml that is used to provision the VM? Did you try the configuration flag to disable domain validation?

Or alternatively provide the domain definition itself as returned with virsh dump ?

[2017-06-27 20:22] gtmanfred commented on #41964
Could you tcpdump on your the Master of Masters, and see if the traffic is even getting there?

I unfortunately have not spent a lot of time debuging syndics.

[2017-06-27 20:34] gtmanfred commented on #41312
Thanks, Closing this issue as our internal ticket is closed too.

Daniel

[2017-06-27 20:34] #41312 closed

[2017-06-27 20:37] pirxthepilot commented on #40953
Can confirm this in both 2016.11.4 and 2016.11.5.

[2017-06-27 21:09] ericuldall commented on #41964
On the syndic i'm seeing the following:
[code]

but i'm not seeing anything from a tcpdump on the master of masters that shows any inbound tcp request. Going to check egress rules.

[2017-06-27 21:24] ericuldall commented on #41964
My fault. I misconfigured a firewall tag on the mastermaster instance. It's working now. Thanks!

[2017-06-27 21:24] #41964 closed

[2017-06-27 21:27] dwiest opened #41965 "service.running executes invalid commands"
### Description of Issue/Question
Running the following state fails due to Salt generating invalid commands.  If I change nrpe to nginx and run the state it succeeds.

### Setup
[code]

### Steps to Reproduce Issue
In the following trace cmd.run is being LazyLoaded, but it should be using cmd.retcode?
...
TRACE Loaded rh_service as virtual service
DEBUG LazyLoaded service.start
DEBUG LazyLoaded se

[2017-06-27 21:48] gtmanfred commented on #41965
I am unable to replicate this.

[code]

When running it with trace, it looks just fine.

[code]

[2017-06-27 21:55] gtmanfred commented on #41964
No problem!  Let us know if there is anything else we can assist with!

Thanks,
Daniel

[2017-06-27 22:09] rickh563 commented on #18981
ZD-1558

[2017-06-27 22:10] root360-AndreasUlm commented on #41955
I'll create a pull request.
When I also create a pull reqest for 2015.5, 2015.8 and 2016.3 will these be updated too?

[2017-06-27 22:29] gtmanfred commented on #41955
2015.5 is no longer supported
2015.8 is in a CVE only release, so it won't be receiving any more patches that are not CVEs
2016.3 is about to go into CVE only as soon as we release 2017.7 and there aren't any more planned releases for it, unless someone reports a CVE
2016.11 will still be recieving updates so you should put your patch there. and it will be merged forward to 2017.7 and then on to d

[2017-06-27 23:29] whiteinge commented on #41962
Bookkeeping note: a quick glance through that code it looks like `raw_shell` is read from `__opts__` which makes this the same issue as described in #41237.

[2017-06-27 23:30] root360-AndreasUlm commented on #41955
Thank you for the information.
I created a PR with the mentioned fix and added test function for this issue.

[2017-06-28 01:50] hemebond commented on #39737
In `/cloud/ec2.py`, in the `create` function, update the following line:
```node = _get_node(instance_id=vm_['instance_id'])```
to
```node = _get_node(instance_id=vm_['instance_id'], location=location)```
and it works properly.

[2017-06-28 03:59] nomeelnoj commented on #41930
@terminalmage were you able to replicate the behavior reported using minions created with salt-cloud?

[2017-06-28 05:36] bhanukumar22 commented on #40514
Please close this. I was able to fix the issue by writing a state file.

[2017-06-28 06:52] fake-name opened #41971 "Salt Cloud.CloudClient has a breaking typo,"
### Description of Issue/Question
Trying to use a instance of `salt.cloud.CloudClient('/etc/salt/cloud')`, you cannot create any VPSes, because apparently someone got halfway through refactoring `salt/salt/cloud/__init__.py`, and then committed it.

Basically, I do `cloudclient.create(names=[clientname], provider=provider, **kwargs)`. This fails:

[code]

Attaching with pdb:

[code]

So the issue

[2017-06-28 07:01] fake-name commented on #41971
Wait, working through past commits, apparently the `provider` parameter was depreciated at some point.

88936c2c84ba08b041c5b9f31a03944bf22bf1f4 claims that there are depreciation warnings, but I never saw them. I think there might be an assumption that the only way people use salt cloud is via yaml files? My entire orchistration system is done from python, and the depreciation warnings were never

[2017-06-28 07:46] fake-name commented on #41971
So, somewhere between 2016.11, I somehow completely lost the ability to create VPSes. `CloudClient().create()` from `develop`  didn't throw any error, but it also did nothing.

I may have a change to poke about ant try to figure out what is going on this weekend, but I can't leave my system broken for too long, I don't have a salt testing environment, unfortunately (it requires a routable public I

[2017-06-28 10:08] Set4now commented on #41848
Hi...
I hace tried the below following but getting errors.
Note:- azure-dev is the provider

 #salt-cloud -f avail_locations azure-dev
[ERROR   ] There was an error running the function: 'WebSiteManagementClient' object has no attribute 'global_model'

#root@DNDSaltMaster:/srv/salt/_modules# salt-cloud -f list_networks azure-dev
[ERROR   ] There was an error running the function: 'NoneType' object

[2017-06-28 13:05] skjaro opened #41975 "reg.present error with REG_DWORD long type number"
### Description of Issue/Question
Hi,

There is problem with windows reg module in salt 2016.5 and possibly lower versions.
When number is not int but long reg.present throws errror. I have simple one liner fix.

### Setup
[code]
### Steps to Reproduce Issue
[code]

### Versions Report
[code]
### Fix
[code]

Change to:

[code]

[2017-06-28 13:29] damon-atkins commented on #41975
_mbcs_to_unicode(obj) only alters strings. I suggest yaml is reading this as a string 0x80000002

[2017-06-28 13:39] damon-atkins commented on #41975
set_value should do some type checking.   i.e.  vdata contains object/contents which compatible vtype used.   And the states should do the same.

[2017-06-28 14:29] epcim commented on #31605
@gtmanfred any idea where to start. Anybody analysed and do we have fix on a list of TODOs? I am open to work on that. Thanks in advance.

[2017-06-28 14:40] mamalos commented on #34872
@ntvietvn, as stated before, this issue is hard to be related to a Linux machine, since Linux has a proc filesystem mounted that contains the information that salt is asking about.

As @amraam83 commented a few months ago, his analogous issue (on a Centos7 machine) was eventaully related to a bug in their states. Are you sure this is not the case for you? Have you ran the above commands on a clean

[2017-06-28 14:52] dwiest commented on #41965
@gtmanfred thanks for taking a look.  I'm running into this problem on two separate salt masters and it's the only service I have that's misbehaving like this.

The nrpe service would appear to be installed properly.  Changing the contents of /etc/init.d/rc2.d/nrpe doesn't appear to have any effect.  I did build and package nrpe myself instead using the one from Amazon's repository.

[code]

[code

[2017-06-28 15:00] abulford opened #41976 "dockerng network states do not respect test=True"
### Description of Issue/Question
Using `test=True` doesn't make any difference when applying the `dockerng.network_present` and `dockerng.network_absent` states, the network is created/destroyed despite `test=True` being set.

### Setup
Test states:
[code]
[code]

### Steps to Reproduce Issue

The below steps show the network starts off not existing, applying the `dockerng.network_present` state

[2017-06-28 15:04] azmng commented on #29764
'output_loglevel: quiet'  still shows full cmd.run output in version 2016.11.5
Also tried 'quiet: True' with the same result: full cmd.run output shown.

[2017-06-28 15:05] rallytime commented on #41720
The note about this issue was added to the 2017.7.0 release notes with PR #41852. (Thanks @Ch3LL!)

[2017-06-28 15:13] OrlandoArcapix opened #41978 "Package holds with a "+" in the name continually refreshed"
### Description of Issue/Question

On CentOS7, using Yum, if I try to hold the following packages the state is always re-applied every run:
[code]

Oddly though, this package is held fine:
[code]
The result of an application of the state is always:
[code]

### Setup
[code]

### Steps to Reproduce Issue
[code]

### Versions Report

[code]

[2017-06-28 15:14] azmng commented on #30842
'output_loglevel: quiet' still shows full cmd.run output in version 2016.11.5
Also tried 'quiet: True' with the same result: full cmd.run output shown.

Please provide some way to hide sensitive output from cmd states.
Thank you.

[2017-06-28 15:41] dwiest commented on #41965
This does appear to be related to the nrpe RPM, I don't have this problem with EPEL's version.

[code]

[code]

[2017-06-28 15:43] Amacelia commented on #41950
Would it be feasible to instead use cmd.script state module to perform the transfer (from master to minion) and execution of .sh/.bin files instead?

[2017-06-28 15:43] gtmanfred commented on #31605
So, I don't think this is a bug.  The renderers are only used when loading yaml from flat files, not from loading them from external pillars.  External pillars just return a dictionary that is used as the pillars, and not run through the renderers at all.

We would need to add render processing of ext_pillars for this to work.

Any help working on this would be greatly appreciated!

Thanks,
Daniel

[2017-06-28 15:44] gtmanfred commented on #41965
Hrm, That might explain why I didn't see it, because I had epel-release
installed to get python-pip installed for installing salt in my testing
environment.

I will try again in a bit with the amazon nginx package.

Thanks,
Daniel

On Wed, Jun 28, 2017 at 9:41 AM, Damian Wiest <notifications@github.com>
wrote:

[2017-06-28 15:45] gtmanfred commented on #41950
Yeah, you should be able to use cmd.script instead of cmd.run.

That is totally doable, but you would still have to figure out how to use
unless/onlyif to figure out when it needs to be upgraded.

Thanks,
Daniel

On Wed, Jun 28, 2017 at 9:43 AM, Marisa Steans <notifications@github.com>
wrote:

[2017-06-28 15:46] gtmanfred commented on #41848
@techhat were you aware of these issues in the azurearm driver?

Thanks,
Daniel

[2017-06-28 16:10] abulford opened #41982 "dockerng.network_* matches too easily"
### Description of Issue/Question
The `dockerng.image_present` and `dockerng.image_absent` states both incorrectly think that a network is present if another network whose name partially matches the specified network is present.

For example, if the network `abcdef` already exists and `dockerng.image_present` is used to create the network `cde`, it'll just return with a message saying no action's

[2017-06-28 16:15] #40514 closed

[2017-06-28 16:20] epcim opened #41984 "sdb.get returns None as string instead of object"
### Description of Issue/Question
sdb.get for non existing object doesnt allow to use default values

### Setup

`sdb://mysqlite/test_user` is set while test_group not.

[code]

### How it should work

when sdb.get will not find key, it should return an None/False object, so the value will be 'groupxyz'

### Question

documentation many times says use

/tmp/xxx:
  file.managed:
    - user: sdb://m

[2017-06-28 16:22] garethgreenaway commented on #41975
Thanks for the report @damon-atkins if you could provide a PR with the proposed changes it would be greatly appreciated.  Thanks!

[2017-06-28 18:32] epcim commented on #41911
https://docs.saltstack.com/en/develop/ref/sdb/all/salt.sdb.vault.html#module-salt.sdb.vault

setup sdb

[2017-06-28 18:37] epcim commented on #39163
have you set sdb properly in minion conf?
https://docs.saltstack.com/en/develop/ref/sdb/all/salt.sdb.vault.html#module-salt.sdb.vault

try first with sqlite ..

are you using ext_pillars?

[2017-06-28 19:00] truches commented on #39163
I try many many hour.  Is it possible to have a step by step example. Every time i try vault sdb sqlite3 work but unable to get result from salt sls

Envoyé de m

Le 28 juin 2017 à 14:37, Petr Michalec <notifications@github.com<mailto:notifications@github.com>> a écrit :

have you set sdb properly in minion conf?
https://docs.saltstack.com/en/develop/ref/sdb/all/salt.sdb.vault.html#module-salt.sdb

[2017-06-28 19:47] epcim commented on #31605
[**@gtmanfred**](https://github.com/gtmanfred) commented on [Jun 28, 2017, 5:43 PM GMT+2](https://github.com/saltstack/salt/issues/31605#issuecomment-311700782 "2017-06-28T15:43:31Z - Replied by Github Reply Comments"):

For the record I have just found it will be possible with latest version:
https://docs.saltstack.com/en/develop/ref/pillar/all/salt.pillar.gpg.html#module-salt.pillar.gpg

I verif

[2017-06-28 19:48] rallytime commented on #41879
I like the idea as well. Making things more pluggable 👍  for sure.

The only thing I could think of from the initial proposal was how to manage the external config files with daemon restarts, as @whiteinge already mentioned above.

[2017-06-28 20:16] aabognah commented on #40953
I am seeing the same thing here on 2016.11.5 and 4.
I tried @damon-atkins solution and it works.

@damon-atkins would you put in a pull request for this please.

[2017-06-28 20:27] rallytime commented on #41971
Hi @fake-name - I am looking into this issue right now to see where we're not handling your use-case. Can you tell me what version of salt you upgraded from where this was working? And you were trying out the `develop` branch, correct?

[2017-06-28 20:58] fake-name commented on #41971
I switched from somewhere between `2016.3` and `2016.11` to `develop`, and things broke. I rolled back to `2016.11`, and things started working again.

It's probably worth noting for a lot of this that I'm *probably* not necessarily using salt the way most of the documentation seems to assume people will. I'm not interested in running saltstack as a stand-alone tool, but rather using it as a compo

[2017-06-28 21:24] gtmanfred commented on #31605
Awesome!

So this is good to be closed?

On Wed, Jun 28, 2017 at 1:47 PM, Petr Michalec <notifications@github.com>
wrote:

[2017-06-28 21:27] rallytime commented on #41971
@fake-name Ah, yeah. The deprecation warnings have been in the code since the 2015.8 releases, but were removed in the `2017.7` and `develop` branches with the commit you referenced above since the deprecation notification time has expired. I am not sure quite yet why you weren't seeing the warnings. I have an idea, which is the same reason why you're seeing the stack trace, but I'd like to confir

[2017-06-28 21:52] rallytime commented on #41971
Actually, never mind. I figured out where the issue is. Now I just need to figure out the best way to fix it. I'll submit something by the end of the day. Thanks for filing this issue. You're right that using the `create` function with the CloudClient in this case is not being handled the right way. I'll add some tests for this as well.

[2017-06-28 22:20] brianthelion opened #41996 "dockerng fails to decode JSON responses; believes the data are raw bytes"
### Description of Issue/Question
I am running Docker on my local machine. I am in the 'docker' group and can run the standard Docker 'hello world' from the command line. I am attempting to use dockerng to build/run an image given a Dockerfile sitting in a local directory. The Dockerfile in question is vanilla and runs just fine from the Docker CLI. I am not root, so I'm using `salt-call --local s

[2017-06-28 22:25] terminalmage commented on #41922
https://github.com/saltstack/salt/pull/41995 sets the umask temporarily before writing a token when `mk_token` is invoked.

[2017-06-28 22:34] brianthelion commented on #41996
The bug is not likely in docker-py since this
[code]
presumably translates to this
[code]

[2017-06-29 00:59] terminalmage commented on #18659
Fixed by #41991.

[2017-06-29 00:59] #18659 closed

[2017-06-29 03:09] #40878 closed

[2017-06-29 03:09] #41778 closed

[2017-06-29 03:28] fake-name commented on #41971
I found the depreciation warnings at one point, but I'll be damned if I can remember where. Basically, AFICT, the issue is the warning is thrown when you load a config file, rather then when you use the depreciated function. This fails in my case because I have no configuration file, as I'm interacting with the API directly.

My `/etc/salt/cloud` file has no changes from the default, I've literall

[2017-06-29 05:26] konstest commented on #41832
Hi
I have the same problem.
[code]
Deployment of Linux hosts is also OK

I tried it on different salt-masters/clouds/pyvmomi versions
[code]

[2017-06-29 06:22] epcim commented on #31605
imho yesOn 28 Jun 2017 23:24, Daniel Wallace <notifications@github.com> wrote:Awesome!

So this is good to be closed?

On Wed, Jun 28, 2017 at 1:47 PM, Petr Michalec <notifications@github.com>
wrote:

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-06-29 09:14] epcim opened #42003 "salt.nacl provide way to fallback to default if input is not encrtypted"
### Description of Issue/Question
I store secrets on pillars. They may be encrpyted by salt.nacl or not. (here I would like to keep formulas to be backward compatible, for cases where secrets were not yet encrypted).

As of now, there is no way to falback/suvive if the input is not encrypted. Sure we may check last char is '=' or do some tests/conditional for a varible, but that will only make the

[2017-06-29 10:00] pratik705 opened #42005 "Unable to create first user using "mongodb_user.present" state module"
### Description of Issue/Question
I have created state file which will install MongoDB, start service and create new MongoDB user. But, after starting MongoDB service, the creation of new user fails with below error:
[code]

### Setup
"mongodb_user.present" state module:
[code]

- From "mongodb_user.present" code, it seems to be, the code is expecting "user" and "password" to connect the database.

[2017-06-29 10:51] pratik705 commented on #42005
The issue was caused due to the existing database which was already present on a minion. I tried on a fresh minion and it worked. Closing the issue.

[2017-06-29 10:51] #42005 closed

[2017-06-29 11:16] mbochenk commented on #41000
Same behaviour here - removed python-cffi (python-cffi-0.6-5.el6.x86_64) and everything works again. Previously on 2017.11.1 everything worked, stopped since upgrade to 2016.11.6.
I am setting grains both via states and via salt from master (grains.setval, etc). Looking at minion confiig I have all the custom ones present and they look correct.

On restarting salt-minion I have an error: `ERROR: U

[2017-06-29 11:26] daxomatic commented on #34783
@TTimo and @derek-virtustream,
Did you have the chance to look at the ec2.py patch yet? I am having the same problem, but my patching skills are insufficient on the ec2.py ( I added

winrm_verify_ssl = config.get_cloud_config_value(
             'winrm_verify_ssl', vm_, __opts__, default=False
        ) but then a : Configuration value 'cloud.filter_event' needs to be set error came up and im not

[2017-06-29 11:58] TTimo commented on #34783
@daxomatic you could rely on winexe only and not use winrm altogether, I had tried that and it worked. @SaltStackSupport doesn't seem in a hurry to be fixing the winrm support.

When I get a chance I'll try to extract an updated patch.

[2017-06-29 12:01] konstest commented on #41832
This error ony appear if we are redefine the 'network' block
[code]

If we do't set 'network' block is all OK

[2017-06-29 12:16] code42fr commented on #41832
@konstest : thans for your info. Same as you, we've test different version of pyvmomi & salt-cloud. So, we don't upgrade to the latest. We already use salt-cloud 2015.8.9.

Tomorrow, I'll try your tricks.

After we must find where is the problem, pyvmomi OR salt-master ?

Last question : Which version of VCSA or VCENTER do you use ? 5.5, 6.x or 6.5 ?

[2017-06-29 12:16] mirceaulinic commented on #41879
Thanks for your input, everyone!

In that case, I will have this on my Oxygen wish list, hoping to start working on it somewhere around August/September. Cheers!

[2017-06-29 12:41] sokratisg opened #42007 "Orchestration runner and highstate without specifying saltenv"
### Description of Issue/Question

It seems that #41431 has caused a regression in regards to the situation described in #40928 and resolved through MR #41036

Salt 2016.11.5 solved this issue but it is back at 2016.11.6

### Setup

Same as #40928

### Steps to Reproduce Issue

Same as #40928

### Versions Report

salt-master
[code]

salt-minion
[code]

[2017-06-29 12:42] konstest commented on #41832
VMware vCenter Server Version: 6.0.0 Build: 3634793

[2017-06-29 12:43] Talkless opened #42008 "at.at creates job with different time than specified"
### Description of Issue/Question
I wanted to register reboot at 23:52 on Debian 8 (Jessie) minion, but instead I've got reboot at 14:32 (?).

### Setup

Only salt-minion needed.

### Steps to Reproduce Issue

Simply execute `salt-call at.at 23:52 rebot`:
[code]

Debug output:
[code]

Why does it pass "1432" to `at`?

If I execute `at` manually, I get expected result:
[code]
### Versions Report

[

[2017-06-29 13:15] skjaro commented on #41975
My fix works but maybe is there better way to fix that , In _mbcs_to_unicode_wrap is check - if this is int and if so then it returns but it does not check if it is long as in that case.

[2017-06-29 13:36] glynnforrest opened #42010 "Should the system module be aware of molly-guard?"
### Description of Issue/Question

The [molly-guard](https://packages.debian.org/sid/molly-guard) package helps protect against accidental shutdowns, commonly by prompting the user to enter the hostname of the machine when logged in over SSH.

It does this by overriding the halt/shutdown/reboot etc binaries, so a normal call to `shutdown` will run the wrapper script first.

As far as I can tell, o

[2017-06-29 14:01] glynnforrest commented on #42010
Ah, so this will only hang when using `salt-call`, calling `system.reboot` with `salt` works fine. Perhaps a simple addition to the docs would suffice then?

[2017-06-29 14:26] dusto opened #42013 "Misspelled nozeroconf in salt/modules/rh_ip.py"
### Description of Issue/Question
In salt/modules/rh_ip.py when trying to access the opts element for nozeroconf the `o` was omitted from the word zero:
nozeroconf = salt.utils.dequote(opts['nozerconf'])
it should be:
nozeroconf = salt.utils.dequote(opts['nozeroconf'])

This looks to be in versions from 2016.11.6 and up:
https://github.com/saltstack/salt/blob/2016.11/salt/modules/rh_ip.py#L831
htt

[2017-06-29 14:55] sk4rp10n opened #42014 "Cannot run state.sls on minion"
I am running a salt minion as underprivileged user with all necessary permissions granted to this user. why do i continue getting this error. help!

user is set to saltmin1 on the salt minion
i changed sudo_user to saltmin1 as well but that doesn't help either

saltmas1@saltmaster:/$ sudo salt '*' state.sls apache
saltminion:
----------
          ID: apache2
    Function: pkg.installed
      Resul

[2017-06-29 15:03] epelc opened #42015 "documentation: remove old docker module page"
### Description of Issue/Question
`docker.login` is missing documentation on the latest develop

https://docs.saltstack.com/en/develop/ref/modules/all/salt.modules.docker.html

[2017-06-29 15:21] md2k commented on #39688
seems 2016.11.6 still have this problem :( -w helps

[2017-06-29 15:34] gtmanfred commented on #41996
Yup, we need to get this fixed.

@terminalmage you will be interested in this.

Thanks,
Daniel

[2017-06-29 15:40] lorengordon commented on #42013
@dusto Ack. You patching? If not, I will, as it's my bad.

[2017-06-29 15:42] gtmanfred commented on #42003
I have to say, I  kind of agree with @steverweber here.

There are times when we do want that error, where users would expect it.  Using test.try might be the solution for that.

Thoughts?

Thanks,
Daniel

[2017-06-29 15:42] gtmanfred commented on #42003
@saltstack/team-core does anyone else have an opinion on this?

Thanks,
Daniel

[2017-06-29 15:47] lorengordon commented on #42013
nvm, I got it

[2017-06-29 15:49] gtmanfred commented on #41996
@brianthelion actually, dockerng is the module on 2016.11, which does not gaurantee support for python3.

We will be supporting python3 on 2017.7 which we are working on a release candidate for now, can you try the `docker` module on 2017.7?

Thanks,
Daniel

[2017-06-29 15:57] gtmanfred commented on #42007
[code]

And it does appear to work on 2016.11.5

[code]

@terminalmage ping

Thanks for reporting again, sorry about the inconvenience.
Daniel

[2017-06-29 16:03] gtmanfred commented on #42015
https://docs.saltstack.com/en/develop/ref/modules/all/salt.modules.dockermod.html#salt.modules.dockermod.login

docker.html is the old one, i am not sure why that is there.

It is documented correctly in dockermod.

I am going to tag this as a documentation error and see if we can get these extra files cleaned up.

cc @rallytime @Ch3LL

Thanks!
Daniel

[2017-06-29 16:07] terminalmage commented on #41996
You should be able to use the same SLS in 2017.7, it's backward-compatible. You will however be warned that the correct state name is now `docker_image.present` instead of `dockerng.image_present`.

[2017-06-29 16:08] epelc commented on #42015
@gtmanfred Is it supposed to be `dockerng.login` on the new page? Looks like another issue

Needs to be changed to `docker.login`

![image](https://user-images.githubusercontent.com/5204642/27697880-86e6c6fe-5cc3-11e7-8ca6-cd15bd636af4.png)

[2017-06-29 16:10] rallytime commented on #41971
Thanks for the extra information @fake-name. The custom runner you posted was helpful.

Yes, the warning is thrown when you load the config file. I am having a hard time understanding how you are loading the keys in `/etc/salt/cloud.providers`. Because when that file is loaded, the warning should have notified you. It wasn't a function that was deprecated, it was the syntax used with salt-cloud pr

[2017-06-29 16:20] brianthelion commented on #41996
Thanks for the attention, all. Sorry to be a bother -- Salt noob here -- but is the best way to test the 2017.7 release candidate to `git clone` and install from source? Cheers! ~br

[2017-06-29 16:22] gtmanfred commented on #42010
Would you mind submitting a PR with some documentation explaining what exactly is going on here?

Thanks,
Daniel

[2017-06-29 16:25] gtmanfred commented on #42014
`sudo_user` needs to be set to a user who can run that command.

If you have `user` set to an unprivileged user, you should set `sudo_user: root` if you want to be able to run apt commands.

[2017-06-29 16:29] sk4rp10n commented on #42014
@gtmanfred  when i set it as root it returns

saltminion:
    Minion did not return. [No response]

[2017-06-29 16:31] sk4rp10n commented on #42014
@gtmanfred

check this out

saltmin1@saltminion:~$ sudo systemctl status salt-minion
● salt-minion.service - The Salt Minion
   Loaded: loaded (/lib/systemd/system/salt-minion.service; enabled; vendor preset: enabled)
   Active: active (running) since Thu 2017-06-29 11:29:00 CDT; 1min 53s ago
 Main PID: 4680 (salt-minion)
    Tasks: 21
   Memory: 148.8M
      CPU: 1.402s
   CGroup: /system.slice/s

[2017-06-29 16:32] terminalmage commented on #41996
@brianthelion you mentioned that you have installed Salt into a virtualenv. In this case, I recommend something like the following (assuming you are activated into your virtualenv):

[code]

This will install Salt from the git checkout into the virtualenv. You can also use this for future testing, however I would recommend doing a `find /path/to/clone -type -f -name \*.pyc -delete` to remove the b

[2017-06-29 16:41] gtmanfred commented on #42008
This has to be an issue with salt's parser or something in that portion of salt, because when I throw a log.debug in at the top of the `at()` function, It has 1432.

But it is worth noting that `11:52pm` and `2352` without the colon both work.

Thanks for reporting!
Daniel

[2017-06-29 16:43] gtmanfred commented on #42013
thanks @lorengordon

And thanks for reporting this @dusto

Daniel

[2017-06-29 17:08] brianthelion commented on #41996
@terminalmage Before I saw your message I went ahead and cloned and then `pip install`ed `master/HEAD` to a fresh `pyvenv-3.5`. It looks as if there's a new bug in which my `pillar=` gets ignored.

[code]

[2017-06-29 17:16] gtmanfred commented on #42015
Yup, Erik had made some changes and looks like they got merged forward when they didn't need to be.

I have reverted it in the newer branch in #42019

Thanks!
Daniel

[2017-06-29 17:19] terminalmage commented on #41996
Can I see the SLS you're using now? Your original example set a pillar variable called `dockerfile_dir`, but the error message refers to `package_dir`.

[2017-06-29 17:20] terminalmage commented on #41996
Oh, nevermind, I see that you changed it in the command at the beginning of your example. I'd still like to see your SLS though, an AttributeError doesn't make sense here.

[2017-06-29 17:21] brianthelion commented on #41996
@terminalmage I updated the pillar access from `pillar['package_dir']` to `salt['pillar.get']('package_dir')` and every thing ran down to the `dockerng` calls. Updating that now.

[2017-06-29 17:23] brianthelion commented on #41996
Updated `dockerng.image_present` to `docker.image_present` and got:

[code]

[2017-06-29 17:23] damon-atkins commented on #41975
_mbcs_to_unicode_wrap(obj, vtype)  needs some more smarts, at the moment it only looks to see `if vtype == 'REG_BINARY'`

What needs to happen is for each vtype it needs to confirm the obj is the correct data type and then in the case of vtype is a string (*_SZ, REG_LINK)  also call _mbcs_to_unicode.  Most likely the name of the function needs to be changed as well.

At the moment type of obj driv

[2017-06-29 17:24] terminalmage commented on #41996
Do you have docker-py installed in your virtualenv?

[2017-06-29 17:25] terminalmage commented on #41996
Also, keep in mind `docker-py` in PyPI is the legacy module, the actively-developed one is just called `docker`

[2017-06-29 17:26] brianthelion commented on #41996
Yeah, that's confusing. I wasn't sure which to go with, and the docs weren't helping.

[2017-06-29 17:28] brianthelion commented on #41996
Did `pip install docker` and updated `docker.image_present` to `docker_image.present` and got the original error:

[code]

[2017-06-29 17:33] terminalmage commented on #41996
The docs for the upcoming release make this more clear:

Also, I noticed that the newly-created modules where we've split container, volume, image, and network management into their own state modules were not part of the table of contents in the docs, I've corrected that oversight in https://github.com/saltstack/salt/pull/42020.

[2017-06-29 17:36] gtmanfred commented on #25842
nice catch @marceliq

[2017-06-29 17:41] gtmanfred commented on #42014
It is working correctly here.

[code]

Can you restart the salt-minion and clear out all those other processes?

I wonder if that is holding it up.

The only issue I ran into was with running states using state.apply or state.highstate, state.sls works.

But I have fixed that here https://github.com/saltstack/salt/issues/25842

Thanks,
Daniel

[2017-06-29 17:47] brianthelion commented on #41996
@terminalmage So it looks like we're still seeing the bug on 2017.7. Are we still "info needed?"

[2017-06-29 17:51] terminalmage commented on #41996
OK, I see the problem. When I was developing this, I was using 3.6, which apparently can now automagically load bytestrings:

[code]

But on 3.5 and earlier, this raises an exception:

[code]

This is fixed in #42022.

[2017-06-29 18:04] brianthelion commented on #41996
@terminalimage Thanks! Are you developing on 3.6 by default these days?

[2017-06-29 18:08] sk4rp10n commented on #42014
@gtmanfred How would i go about clearing the other processes. i am still new to the whole linux architecture

[2017-06-29 18:48] idokaplan commented on #41586
Hi,

Is there any update?
Thanks!
Ido

[2017-06-29 18:54] terminalmage commented on #42015
I had to go back and fix dockerng in the older branches, since the login func was originally backported from a newer branch and contanined the 2017.7-and-later usage. I meant to ping @rallytime to remind her that we'd need to re-fix that once it was merged forward, but I didn't do that and the merge-forward overwrote the docs in the newer branches. I've merged @gtmanfred's PR.

As for the page lin

[2017-06-29 19:01] epelc commented on #42015
@terminalmage Thanks!

Just fwi from a users perspective on how I ended up there. I was getting to that page by googling `salt docker module` clicking current docs link, going to develop branch, then manually changing `dockerio` to `docker` in the url since develop has no page for `dockerio`.

I'm not sure how typical this is or if it was just me being lazy and not liking the salt docs site search

[2017-06-29 19:03] fake-name commented on #41971
Ohhhhhhh, derp derp derp derp. I am using `driver` in my cloud.providers file.

[code]

I was passing the driver selection as a parameter named `provider` when interacting with the API, though.

[2017-06-29 19:12] terminalmage commented on #42015
What you see there as "develop" will shortly be our 2017.7.0 release. In that release, `dockerio` (the legacy docker support) has been removed. The replacement, which was formerly called `dockerng`, has also been renamed.

I think your way of getting to the docs is totally valid though, and we should look into doing some sort of redirect for renamed modules. Sorry about any confusion.

[2017-06-29 19:28] gtmanfred commented on #42014
restart the service using `systemctl restart salt-minion`

On Thu, Jun 29, 2017 at 12:08 PM, sk4rp10n <notifications@github.com> wrote:

[2017-06-29 19:46] poliva83 commented on #34269
Any progress on fixing git.latest? I hit the same problem on 2016.3.6.

[2017-06-29 20:29] G-Geary opened #42033 "file.blockreplace, when using source file for content, the marker_start and marker_end lines keep duplicating"
### Description of Issue/Question

file.blockereplace problem:
-marker_start and marker_end lines duplicate in output file (-name) each time the state is executed
-the markers are not included in the source file

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).

install-zabbix.sls

win_settings_install-zabbix_apply-configuration:
  file.blockreplace:

[2017-06-29 20:39] terminalmage commented on #41996
@brianthelion Not by default. For docker I have been developing locally on my laptop using the dockerd running there, and I run Arch so I have 2.7 and 3.6. But I also use docker containers for CentOS, Ubuntu, etc. to test the code on those platforms, with my git checkout mounted into the container, so in those cases I'll get 3.4 or 3.5 from time to time if I'm testing Python 3.

[2017-06-29 20:47] rallytime commented on #41971
Ah! Great! I was trying to figure out where that relationship with the cloud driver files was happening. The way you're doing it here is correct, but there is definitely a bug there. I have fixed this in #42034 and added an integration test so we can catch these kinds of breaks in the future.

Thanks again @fake-name!

[2017-06-29 20:48] terminalmage commented on #41930
No, I've been working on getting the release candidate for 2017.7.0 ready and haven't had time to come back to this. I will try to do so over the next day or so.

[2017-06-29 21:38] brianthelion commented on #41996
@terminalmage Interesting that Arch has moved on to 3.6 already. I'm wondering if I should pull the trigger and make the switch using the PPA version for Ubuntu. Some nice things in 3.6!

[2017-06-29 21:47] terminalmage commented on #41930
This log message:

[code]

doesn't exist after the first RC for 2015.8.0:

[code]

It was removed in 1726057c8a93101b58c8e2cdb5d0d5b021dc29a6 nearly two years ago.

I think you have something else weird with your installation.

[2017-06-29 21:49] terminalmage commented on #41996
Indeed! For portability though, 3.4 is going to be the standard for a little while longer, I fear.

[2017-06-29 22:54] Zaunei commented on #29560
Anything new about this issue? It is still present in 2016.11.5 and really annoying.

[2017-06-30 06:34] Set4now commented on #41848
Hi,
if the official salt azure arm driver is not working,  Can  you suggest me for an alternatives.

[2017-06-30 06:44] sumeetisp opened #42038 "Custom external http pillar module"
### Description of Issue/Question
I am writing a custom http module to get the cloud pillar data.

1) When we say salt-call cloud.profile some-profile some-name
This will search for provider and profile in external pillar. Following is the function skeleton
def ext_pillar(minion_id,
               pillar,  # pylint: disable=W0613
               url,
               with_grains=False):

How can i pa

[2017-06-30 06:48] chrimi commented on #41760
The mentioned Workaround with `kwarg` won't work with python based reactor config, because `RunnerClient._reformat_low` won't accept a `fun` argument within `kwarg`

[2017-06-30 09:00] JensRantil commented on #36059
We have also seen this spuriously in our dry-run `salt state.highstate test=true` integration tests that we run to make sure our Salt configuration is working. cc @Mattias-

[2017-06-30 09:03] TTimo commented on #34783
See https://gist.github.com/TTimo/4a9b00f7b4e1ff5ee3e842b95c3d8569 - this is @derek-virtustream's patch with some tweaks for EC2. I'm using this against 2016.11.4 release.

[2017-06-30 10:28] mitar commented on #10723
`{{ salt.test.exception("/path/that/must/exist does not exist!!") }}` to me does not work. It seems like it returns the value with `_error` set to "Failed to return clean data" but it does not fail the compilation of the whole state.

[2017-06-30 10:37] #9300 closed

[2017-06-30 10:37] #10953 closed

[2017-06-30 10:38] L4rS6 commented on #8639
I'm running into the same issue. Hasn't this issue already been resolved?

[2017-06-30 10:49] The-Loeki commented on #10953
I find it a bit disappointing this one never got any traction; I think this was a wonderful idea fixing half a ton of hairy bugs in the compound matcher and quite likely obsoleting all others...

As it stands I'm not sure how anyone would feel; the mentioned Wisent library seems dead, Parsley ain't looking too good either. Pyparsing seems alive & kicking and a very quick round-o-Google found http:

[2017-06-30 11:18] dumol opened #42039 "Can't auto-accept newly added repo's package signing key in SUSE."
### Description of Issue/Question

Adding a new GPG-signed repo in SUSE Linux Enterprise Server 11 SP3 fails because there's  no option to auto-accept a new key.

### Setup
[code]

### Steps to Reproduce Issue
Applied the above state to a SLES 11 SP3 minion and got:
[code]

### Versions Report

Minion version report:
[code]

Master version report:
[code]
For reference, someone else got into this a

[2017-06-30 11:35] ikkaro commented on #41893
I also can confirm the issue.

[2017-06-30 11:46] MikeH-Halo opened #42040 "Orchestration runner and "unless" requisite"
When using the orchestration runner I have used the "unless" requisite with the idea that it would be executed on the targeted minions, just like orchestration functions or states do. But that doesn't seem to be the case. Is this the intended functionality?

If it is, then I would like to see "unless" functionality that could inhibit state/function execution on each of the targeted minions either

[2017-06-30 11:51] epcim commented on #42003
[**@gtmanfred**](https://github.com/gtmanfred) commented on [Jun 29, 2017, 5:42 PM GMT+2](https://github.com/saltstack/salt/issues/42003#issuecomment-312006794 "2017-06-29T15:42:09Z - Replied by Github Reply Comments"):

I agree.
Referenced PR only fix behavior if input is None in order to allow this
[code]

Also `nacl.dec` returning cleartext it got on input is acceptable only for ```{{- instance

[2017-06-30 12:21] lorengordon opened #42041 "pkg.list_repo_pkgs fails to find pkgs with spaces around yum repo enabled value"
### Description of Issue/Question

`pkg.list_repo_pkgs` fails to find pkgs if the "enabled" line in the yum repo definition contains spaces around the value. i.e.:

works: `enabled=1`
fails: `enabled = 1`

The problem is in the parser used by `pkg.list_repos`:

- https://github.com/saltstack/salt/blob/2016.11/salt/modules/yumpkg.py#L2539-L2540

### Setup

Modify a .repo file in /etc/yum.repos.d an

[2017-06-30 12:26] L4rS6 opened #42042 "virtualenv and pip env_vars don't get unset"
### Description of Issue/Question
If a managed virtualenv sets env_vars those variables are hold in the salt-minion process. The problem is if those env_vars aren't cleaned up, they remain in the process and affect further highstate execution.

E.g. after `virtualenv.managed`  execution with setting env_vars http_proxy & https_proxy other states fail because those try to download packages through

[2017-06-30 12:26] Astarandel opened #42043 "Unexpected COM error"
Hello,

we are using salt-minions on 40 Windows nodes which are connected to a salt master.

salt-minion version: 2016.11.4 (Carbon)
salt master version: 2016.11.2 (Carbon)

Today I have the following problem with two of the salt-minions.

Debug Log.

2017-06-30 14:59:13,081 [salt.log.setup   ][ERROR   ][11056] An un-handled exception was caught by salt's global exception handler:
x_wmi: <x_wmi: U

[2017-06-30 12:42] vutny commented on #23516
@rallytime @Ch3LL Looks like this was finally fixed with #41973 and #42004.

[2017-06-30 14:26] rallytime commented on #23516
@vutny yeah it looks like it. Thanks!

[2017-06-30 14:26] #23516 closed

[2017-06-30 14:29] sk4rp10n commented on #42014
@gtmanfred is the user to run salt and sudo_user two different settings, like either or?

[2017-06-30 14:35] dw commented on #10953
@The-Loeki I no longer have any interest in fixing this (long since moved on from Salt), but perhaps upstream Salt team might. Hand writing a recursive descent parser is probably the simplest way to alleviate the worries about extra dependencies, a single working day should do it

[2017-06-30 14:43] brianthelion commented on #41996
@terminalmage This is a blocker for me. If you can point me to some source that I can modify to get it working, I will patch the code myself.

[2017-06-30 14:48] sk4rp10n commented on #42014
@gtmanfred also how did you get past having to insert a password to run elevated permissions on the minion from the master. i figured out the reason why i wasnt getting a response was because it wanted password authentication. (from what i seen from the debugger) . Is there a way to authenticate without removing the need for the password.

[2017-06-30 15:02] gtmanfred commented on #42040
Why not use the regular state system and pkg.latest?  and just trigger that state from your orchestrate file?

[2017-06-30 15:03] rvandegrift opened #42046 "Managing empty files with salt.states.file"
### Description of Issue/Question
The only way I can get to manage an empty file is by storing an empty file somewhere and pointing to it as a source.  Seems like there should be a better way.

I've tried setting `contents` and `source` to `None` / `~` but in this case salt refuses to manage the file's contents if the file already exists.  I'm trying states like this:
[code]
They produce:
```[WARN

[2017-06-30 15:03] #38269 closed

[2017-06-30 15:04] holmboe commented on #29353
I came upon this bug report when googling for specifics when it comes to encryption with Saltstack communication. It seem this GH issue should be quite easy to answer and close by someone knowledgeable of the subject.

[2017-06-30 15:06] gtmanfred commented on #42038
Why do you need to specify a profile?  The way pillars work is you just get all the information, then the cloud module will have the profile, and you just look in all the cloud pillar to find the profile.

for 2) RunnerClient runs on the master, and the master does not have pillars.  If you use `salt` and target a minion with the correct pillars, it works exactly the same as using salt-call.  make

[2017-06-30 15:07] gaetanquentin opened #42047 "How to ignore one top.sls with multiples gitfs repositories"
### Question:
We have multiples gitfs repositories. All of them have a top.sls, which are merged.
But we want to ignore one of them (we cannot delete top.sls file  since the repository is not under our control)
Is there a way to do it?

### Setup
Multiple gitfs repositories, each with a top.sls

### Steps to Reproduce Issue
Not an issue.

### Versions Report
Every one i think..

[2017-06-30 15:11] The-Loeki commented on #10953
@dw Ah that's not a problem, I don't think anyone was expecting you to pick this up, it's just that I found the idea very tantalizing ;)

Shameless plug: Of course I don't know why you 'moved on from salt' but it has dramatically improved since march 2014, w/Py3 support in this month's major release ;)

[2017-06-30 15:24] mbochenk commented on #40578
I am running into exactly the same issue since upgrading from 2016.11.1 to 2016.11.6 or 2016.11.5
I am using file.find to find a file in a directory and set it into a jinja variable I use later on in the state.
Unfortunately, there are occasionally directories that include unicode characters. This happens on both CentOS6 and CentOS7 (latest) and I get this error:
[code]

If I do `yum downgrade sal

[2017-06-30 15:36] coen-hyde commented on #40589
We're experiencing this after upgrading from 2016.11.3 to 2016.11.6. Our Salt master uses an IAM Role via an instance profile and deploying in us-east-1 only. The strange thing is it doesn't fail 100% of the time. Probably 70% failure rate, which indicates to me this is a bit more nuanced. We do have a few of other AWS related things going on such as an SQS Engine and scheduled Runner every minute

[2017-06-30 16:06] EvaSDK commented on #34737
Tested with 2016.11 today. The good thing is that it stops from changing options that back and forth between two representations of it. The bad thing is that it still touches sections it has no business with which breaks the way applications such as piwik parse this file. I have no other choice than to replace this with `file.managed`.

[2017-06-30 16:11] gtmanfred commented on #40589
I have never been able to replicate this.  At one point I built 100 servers within 10 minutes, using the same process, and they all succeeded.

[2017-06-30 16:14] gtmanfred commented on #42014
no, you can use them together.

Also, you have to allow the user to sudo without a password. I believe that you can limit the sudo to just running salt-call though.

[2017-06-30 16:17] jlayze opened #42052 "Set StartType for Windows Service from states.service module"
### Description of Issue/Question
Unable to set the StartType for a Windows Service from states.service.  "Enable" only sets the StartType to "Automatic".

### Versions Report
[code]

[2017-06-30 16:23] sk4rp10n commented on #42014
@gtmanfred thats really helpful and good to know. I appreciate it. is there instruction on how to limit sudo to just running salt-call? thanks!

[2017-06-30 16:47] whiteinge commented on #41760
@chrimi `_reformat_low` doesn't look inside `kwarg` and just passes it through. Could you post an example of what you're trying to do?

[2017-06-30 16:58] marco-m commented on #28135
Hello any news ?

[2017-06-30 17:18] garethgreenaway commented on #42033
@G-Geary I ran a quick test and was able to duplicate this but only when the markers occurred in the source file.  Would you be able to provide a scrubbed version of your source file?

[2017-06-30 17:24] garethgreenaway commented on #42039
@dumol Thanks for the report.  Seems an option to check if an updated GPG key is available would be helpful here.

[2017-06-30 17:29] garethgreenaway commented on #42042
@L4rS6 Thanks for the report!  We'll get someone to take a look at this one.

[2017-06-30 17:32] garethgreenaway commented on #42043
@Astarandel Thanks for the report.  Can you please provide the output from:
`salt --versions-report`

Thanks!

[2017-06-30 17:33] garethgreenaway commented on #42046
@rvandegrift would the file.touch state function accomplish what you're trying to do?
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.touch

[2017-06-30 17:38] jdshewey commented on #36619
This appears to be an [upstream bug](https://bugs.python.org/issue5004). This grain call's python's socket.getfqdn(), which in turn reportedly calls the C++ [gethostbyname](https://linux.die.net/man/3/gethostbyaddr) which, in this case, will just return the value passed to it. If the value passed isn't the correct FQDN, you get the wrong answer. The parameter passedis kernelhostname.

Several peop

[2017-06-30 17:48] rvandegrift commented on #42046
Not for my use-case - the file already exists with content.

[2017-06-30 17:57] garethgreenaway commented on #42046
@rvandegrift So to clarify you want to manage a file but ensure that the file is always empty?
Perhaps something like this:
[code]
Note the `contents` parameter not `content`.

[2017-06-30 17:58] rvandegrift commented on #42046
Aha, `contents_newline` does the trick.  Thanks so much!

[2017-06-30 17:58] #42046 closed

[2017-06-30 17:59] garethgreenaway commented on #42046
:+1: Glad to help!

[2017-06-30 18:03] jpautler opened #42056 "docstrings in salt test cases are incompatible with the python unittest library shortDescription method"
### Description of Issue/Question
Docstrings in the salt test cases place the first line of the docstring on the line after the opening quotes. The shortDescription method in the python unittest library's TestCase class returns the first line of the docstring, where the first line of the docstring is the line with the opening quotes. So shortDescription returns nothing for all the salt test cases.

[2017-06-30 18:27] whiteinge commented on #10723
@mitar Sorry for the bad wording above. Throwing an exception will stop the parsing of only the .sls file containing that error when generating Pillar. It will stop the full execution of a state run, however.

[2017-06-30 18:38] mitar commented on #10723
So maybe I am not testing this correctly. But i have a state `test.sls` like:

[code]

I call:

[code]

And I get:

[code]

So it did not raise the exception, but convert it to an object with `retcode`, `_error` and some other fields.

[2017-06-30 18:46] steverweber commented on #42003
included support for:
[code]
in https://github.com/saltstack/salt/pull/41833

[2017-06-30 19:07] mitar opened #42058 "Allow both list and glob matching"
Currently, one can or do a list matching or glob matching, but not both at the same time. But commas are not so common in server names, so I think that we could have both at the same time. This is at least what in most cases I would need. A simply way to list servers and sometimes to use some wildcard. I managed to implement this pretty easily in Python:

[code]

[2017-06-30 20:13] mmastoras commented on #31605
yes this can be closed, thanks!

[2017-06-30 20:13] #31605 closed

[2017-06-30 20:13] CMeza99 opened #42060 "Publisher ACL System for Groups"
### Feature request

Currently the Publisher ACL System allow users other than root to execute salt commands, but only users. I it would be really helpful if groups could be given permissions rather than a per user basis.

[2017-06-30 20:24] whiteinge commented on #10723
I see. This looks like a consistency issue with salt-ssh. 😦

Regardless of which behavior we finalize on, `salt-ssh` and `salt` should decidedly produce the same outcome. Will you please file a separate issue for that and tag me on it?

[2017-06-30 20:52] dwiest commented on #41965
I've been testing against various versions of nrpe.  I didn't have any problems with that Salt state working using 2.15 or 3.0.0, but a new build of 3.2.0 had the same issue I reported.  I'm going to try testing against some of the other versions.

[2017-06-30 20:55] #41971 closed

[2017-06-30 20:55] #41976 closed

[2017-06-30 21:44] gtmanfred commented on #42060
You should be able to use groups.

https://docs.saltstack.com/en/latest/topics/eauth/index.html#groups

[2017-06-30 21:45] gtmanfred commented on #42058
Can you not do this with compound match?

salt -C `L@minion1,minion2 or www*` test.ping

[2017-06-30 22:16] arount commented on #34820
Well, I may admit I'm this kind of guys who likes to have not too much open prs / issues, so @Ch3LL sorry but i take the lead for this time:

@meagon can you please close or give updates to this issue ;)

_sorry to be that guy_

[2017-06-30 23:46] mitar commented on #42058
I guess I am just asking for alternative syntax. :-) Which is somewhere in between of all-powerful compound match and just a fixed list.

[2017-07-01 00:04] mitar opened #42065 "It seems salt.test.exception does not work with salt-ssh"
As [discussed here](https://github.com/saltstack/salt/issues/10723#issuecomment-312343354) it seems there is some inconsistencies with salt-ssh and `salt.test.exception`.

So maybe I am not testing this correctly. But i have a state `test.sls` like:

[code]

I call:

[code]

And I get:

[code]

So it did not raise the exception, but convert it to an object with `retcode`, `_error` and some other f

[2017-07-01 00:04] mitar commented on #42065
cc @whiteinge

[2017-07-01 00:04] mitar commented on #10723
Done: #42065.

[2017-07-01 00:38] whiteinge commented on #42065
Thanks for filing this.

For comparison with a master/minion setup: if a traceback occurs during the Jinja phase the entire state run fails and a **list** is returned containing the error. This is consistent with tracebacks elsewhere during the state run and salt-ssh should mirror this same behavior.

[code]

[2017-07-01 07:19] dumol commented on #42039
Or a new one, as this also happens on a fresh installation.

[2017-07-01 08:30] CMeza99 commented on #42060
trying groups with `publisher_acl`:

[code]

2016.11.5:
[code]

2016.11.6:
[code]

[2017-07-01 16:17] frogunder opened #42068 "salt-run winrepo.update_git_repos fails in Nitrogen"
### Description of Issue/Question
`salt-run winrepo.update_git_repos` fails in Nitrogen. Linux Master and Windows Minion.

See this on py2:
[code]

See this on py3:
[code]

### Setup
Setup Linux Master and Windows Minion.

### Steps to Reproduce Issue
Run command `salt-run winrepo.update_git_repos`.

### Versions Report
[code]

[code]

[code]

[code]

[2017-07-01 20:20] frogunder opened #42069 "local_repo.d file does not get created when running spm update_repo"
### Description of Issue/Question
Nitrogen, `local_repo.p` file does not get created when running `spm update_repo`

### Setup
Setup SPM environment, create `/etc/salt/spm.repos.d/spm.repo` and add:
[code]

### Steps to Reproduce Issue
Run command `spm update_repo`.

The command seems to run fine but a `local_repo.d` file should get created in `/var/cache/salt/spm`.

### Versions Report
[code]

[2017-07-01 20:39] frogunder opened #42070 "Running a state file using salt-ssh returns nothing"
### Description of Issue/Question
Nitrogen: Running a state file or state.highstate using salt-ssh returns nothing.

### Setup
Set up salt-ssh environment. Create top file and state file.
I can run other salt-ssh commands fine, but trying to run a state file returns nothing.

[code]

[code]

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2017-07-01 21:12] mrichins commented on #34515
I actually have been running into this problem recently. The lack of feedback stumped me for a while.

[2017-07-02 00:38] jktr commented on #35592
I ran into this exact issue today, with the following use case:  `locale.present` and `locale.system`

[2017-07-02 02:01] ppmathis commented on #7532
Unfortunately I had some issues with the solution of @dwiest, especially when having text files that contain Jinja tags, as SaltStack would try to parse them when using *import_text*.

I decided to give writing an execution and state module a go and this is what I have ended up with: https://gist.github.com/ppmathis/a78d9000a4ba90e7f6571ce06f6bc209

There are probably more efficient or faster ways

[2017-07-02 05:13] fake-name commented on #41971
Ok, assuming salt behaves in a virtualenv, I can confirm that it appears I can successfully create VMs with the `develop` branch.

I'm running in a virtualenv into which I installed salt, on a computer with an older version of salt outside of the virtualenv. I'm not sure if this could confound my testing, since I think salt has a daemon, so I'm not sure if I'm accidentally talking to the older ver

[2017-07-02 09:22] nomeelnoj commented on #41930
I think you are right.  I just used a different salt-master to run the same state on a different minion and I did not get the error.  I am not sure what is going on here, but tomorrow I am going to rebuild the salt-master from scratch and see if the issue goes away.  Sorry for the trouble.

[2017-07-02 10:30] mirceaulinic opened #42074 "How to configure static grains for proxy minions"
### Description of Issue/Question

I am unable to identify how to configure static grains for proxy minions.
Looking at https://docs.saltstack.com/en/latest/topics/grains/ I couldn't find a good way to do this:

- Setting them under `/etc/salt/grains` does not seem to pick them, and anyway it wouldn't make much sense to put the grains here: multiple proxy processes run on the same machine so they

[2017-07-02 11:29] peterrus commented on #29764
Also seem to be having this issue

[code]

[2017-07-02 16:31] rmohta commented on #34019
@cachedout Merged code is for `service.running` module. What about `file.append`?

[2017-07-02 22:15] Jille opened #42075 "multiple file.line problems"
Hi,

file.line has a bunch of problems, this is what I found with a quick search: #41474, #40953, #40821, #39849, #38670, #39218, #38171, #37360, #32412, #27295.

Also with a quick look at the code it looks like it makes some dangerous assumptions, is in urgent need of a refactor and has surprising semantics.

What are our options here? If I can find the time I might be willing do refactor the ent

[2017-07-02 22:20] nomeelnoj commented on #41930
I rebuilt the saltmaster from scratch, and now it works.  I am not sure what the issue was, because I used the same setup script I always use to setup a saltmaster, and followed all of the same steps I did with the initial saltmaster.  Really not sure what the issue is, but it is now working.  Sorry for all the trouble, and thanks for helping me get to the bottom of this one.

[2017-07-02 22:20] #41930 closed

[2017-07-03 00:40] BenjaminSchubert commented on #38368
This has been fixed on the 2017.7 branch and the documentation was merged in https://github.com/saltstack/salt/pull/42016.

I'm closing this as this was decided not to be backported.

[2017-07-03 00:40] #38368 closed

[2017-07-03 00:57] mtkennerly commented on #41975
This is the same problem as in #41504, which was fixed in PR #41506 and included in 2016.11.6.

[2017-07-03 02:16] damon-atkins commented on #41975
Hi @mtkennerly that's not the correct way to fix it. It will get this person over the line however.

[2017-07-03 03:21] sumeetisp commented on #42038
My scenario is as follows e.g AWS,
So aws provider will have id and key in it and those are being stored in a vault. Now i have to get provider and profile from external source and the parse it to get the id and key details from vault, make the necessary changes to the json and return the actually provider.

Now if i get all the providers then i would be making unnecessary calls to vault to replac

[2017-07-03 05:23] sumeetisp commented on #42038
I have onboarded salt master as a minion. So when i run "salt master cloud.profile <someprofile> <instancename>" It says it was not able to find any profile. This profile does come up in pillar when i run "salt master pillar.items"

[2017-07-03 06:10] abulford opened #42076 "dockerng.volume_present test looks as though it would cause a change"
### Description of Issue/Question
When applying the `dockerng.volume_present` state with `test=True`, if no change would be applied the `Result` property comes back as `None`, which is the same as if a change would be applied.

When scanning through the output of a highstate it makes it look as though a change would be applied because the colouring is different to all the other states which also w

[2017-07-03 08:12] xinomahc commented on #32477
still no word?

[2017-07-03 10:08] mbochenk opened #42079 "random issues on 2016.11 with file or cmd on Windows"
### Description of Issue/Question

`file.managed` and `cmd.run` randomly fail on freshly deployed Windows 2008/2012/2016.
Windows is deployed via `salt-cloud` on vmware, and provisioned from `salt-master` via `salt` command.
Deployment is automated and called remotely and no user interaction happens with the system before it is finished. Behaviour is the same for 2016.11.2, 2016.11.5 and 2016.11.6

[2017-07-03 10:11] Astarandel commented on #42043
Hello @garethgreenaway ,

thanks for your reply.

Here is the log you've requested.

Salt Version:
           Salt: 2016.11.2

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: 2.5.3
          gitdb: 2.0.0
      gitpython: 2.1.1
          ioflo: Not Installed
         Jinja2: 2.9.5
        libgit2: Not Installed
        libnacl: Not Installed

[2017-07-03 10:54] HenryCook opened #42080 "Dockerng failing when executed from Master"
### Description of Issue/Question

Since upgrading to version `2016.11.6` we have been experiencing issues with `dockerng.login` and AWS ECR.

When running `dockerng.login` from the saltmaster it throws an error (see Steps to Reproduce Issue) however is successful when run on the minion directly.

We store the latest ECR auth tokens in Consul and use it as an ext_pillar, which was working for us u

[2017-07-03 11:00] colttt commented on #41603
I think it can be closed. With the new Version its not happen again

[2017-07-03 11:00] #41603 closed

[2017-07-03 13:00] lichtamberg commented on #7532
@dwiest Your solution looks nice, could you maybe update your post and include also how you configured the crt/key (without posting your private keys xD)?

[2017-07-03 13:07] lichtamberg commented on #7532
@ppmathis Don't you want to create a PR so we can get work on this issue running?

[2017-07-03 13:11] grobinson-blockchain opened #42081 "GitFS and GitPillar cause extra high CPU usage on the master"
### Description of Issue/Question

Over the last 6-12 months we've found `state.apply` to be very slow and causing very high CPU usage on our salt master. We have about 20 formulas, one external state tree with the master top file and one external pillar.

While debugging I decided to disable the git fileserver in the master configuration and go back to using the basic roots file system, creating

[2017-07-03 13:26] gtmanfred commented on #42058
I don't see a reason we couldn't allow the list to be a list of globs.

[2017-07-03 13:29] lichtamberg commented on #7532
I found a solution now with following code (join newlines in state, split them again in jinja template:

[code]

[code]

[2017-07-03 13:33] gtmanfred commented on #42074
Usually the `.d` directory is for including all the files under it.

Do you think it would make more sense to add a suffix to /etc/salt/grains-<proxyid>?

If you are setting them manually, you should be able to include `grains` in the proxy config, but `grains.set` won't work

[code]

@cro do you have an opinion?

Thanks,
Daniel

[2017-07-03 13:36] gtmanfred commented on #42076
Well, if it is in the correct state, it shouldn't make it to the check for `__opts__['test']` because it should already be confirmed that it is in the correct state.

Thanks for reporting.
Daniel

[2017-07-03 13:42] gtmanfred commented on #42056
Thanks for the report.  I am marking this as a medium severity.  We would greatly appreciate a pull request to implement this.  also possibly something for [salt-pylint](https://github.com/saltstack/salt-pylint) to make sure more of those don't slip through.

Thanks,
Daniel

[2017-07-03 13:43] gtmanfred commented on #42060
Oh, sorry, that is for external auth, not publisher acls.

Yes, it would be nice to have publisheracls accept groups.  I am going to mark this as a feature request.

Thanks,
Daniel

[2017-07-03 13:56] gtmanfred commented on #42065
Thanks for reporting this.

Looks like salt-ssh is missing the _error entry for some reason, and just needs to be displayed.

Thanks
Daniel

[2017-07-03 14:02] stamak opened #42082 "[salt.utils.gitfs ][CRITICAL] Invalid gitfs configuration parameter 'saltenv' in remote git+ssh://git@ourgitserver/ourgitrepo.git."
### Description of Issue/Question
From time to time saltmaster raises an interesting critical error in logs:

2017-07-03 13:23:11,091 [salt.utils.gitfs ][CRITICAL][16966] **Invalid gitfs configuration parameter 'saltenv' in remote** git+ssh://git@ourgitserver/ourgitrepo.git. Valid parameters are: **base, mountpoint, root, ssl_verify, name.** See the GitFS Walkthrough in the Salt documentation for

[2017-07-03 14:05] gtmanfred commented on #42068
This is a duplicate of https://github.com/saltstack/salt/issues/36127

Please install pygit2 or gitpython, and you should be able to update the repo.

Thanks,
Daniel

[2017-07-03 14:05] #42068 closed

[2017-07-03 14:14] mirceaulinic commented on #42074
Hi @gtmanfred - thanks for looking at this.

Fine by me.

This goes to the core of my problem: the proxy config file is shared by all the proxy minions, whilst I need different grains, not the same everywhere.

[2017-07-03 14:20] mitar commented on #42065
`_error` is in the value returned, as you see above in the example. But it does not trigger the failure of the state rendering.

[2017-07-03 14:20] lichtamberg opened #42083 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xcc in position 49: ordinal not in range(128)"
Happens with tag 2017.7, 2017.5 and 2017.7-branch and running `salt-ssh "myhost" state.highstate`...
OSX Sierra with latest updates, salt installed via soure code/github, python via homebrew.

After commenting out `% self.args` it works...

[code]

[code]

[code]

[2017-07-03 14:29] lichtamberg commented on #32978
Yeah, pleaseeeee add a folder for all hosts... I would really need this..

[2017-07-03 14:38] abulford commented on #42076
@gtmanfred at the end of the function there's the following logic:
[code]
So this is deliberately setting the result to `None` if this is a test run, or `True` if it's the real thing.

It looks like the quick fix is just to change it to:
[code]

This would make it consistent with the other states, which seem to always return `result: True` when the state is already in the correct state whether `te

[2017-07-03 14:40] gtmanfred commented on #42075
@isbm could you take a look at this?

https://github.com/saltstack/salt/pull/21900

I believe that file.line was implemented to mimic the way puppet does it.

Thanks,
Daniel

[2017-07-03 14:41] terminalmage commented on #41930
@nomeelnoj No problem! One thing to look for is stale .pyc files, ones from an earlier installation which were not removed. This is less common when installing salt from repository packages, as the .pyc files are owned by the package manager and thus are removed when you upgrade or uninstall, but they can get left behind if you're installing from source and are not careful about removing them. I'd

[2017-07-03 14:43] gtmanfred commented on #42083
What is the output of the `locale` command?

Are there any unicode characters that are being passed through?

Could you try this with running salt 2017.7 with python3, it should be compatible, and python3 handles unicode better than python2.

Thanks,
Daniel

[2017-07-03 14:45] lichtamberg commented on #42083
[code]

Will try python 3 when I have more time..

[2017-07-03 14:45] gtmanfred commented on #42074
oh thats right, i thought we had /etc/salt/proxy-<proxyid> for some reason, but you are right.

[2017-07-03 14:45] gtmanfred commented on #42065
Right, that is what i was saying, salt-ssh is missing the _error key in the dictionary and not changing the output based on it.

[2017-07-03 14:47] gtmanfred commented on #42076
Yeah, that should just be True.  it should care about the test=True option if it is already in the correct state.

:+1:

[2017-07-03 14:49] terminalmage commented on #42070
https://github.com/saltstack/salt/pull/42071 fixes this. It has been merged.

[2017-07-03 14:49] #42070 closed

[2017-07-03 14:52] gtmanfred commented on #42038
For 1) you will not be able to do that.  What I would do is put everything into regular file pillars, and then use sdb to store the aws key and id.

https://docs.saltstack.com/en/latest/ref/sdb/all/salt.sdb.vault.html
https://docs.saltstack.com/en/latest/topics/sdb/

Instead of putting everything into vault.

That will reduce your overhead.

As for it not working.  I am going to have to test this

[2017-07-03 14:57] gtmanfred commented on #42081
@terminalmage Can you take a look at this when you have time?  I am looking for some information on if this should be expected with 20+ git repositories on gitfs?

Thanks,
Daniel

[2017-07-03 15:04] whiteinge commented on #42065
`_error` is for Pillar generation. This should fail the entire run and return a single-item list containing a string of the traceback in order to be compatible with non-SSH Salt returns.

[2017-07-03 15:12] terminalmage commented on #42080
I think you may be conflating `docker.login`, which in 2016.11.6 refers to the legacy docker module, with `dockerng.login`, which refers to the actively-maintained docker module. The `dockerng.login` function does not return any `IdentityToken` or `Status` keys in its return data.

There's really no mechanism for this to fail with `salt` but succeed with `salt-call`, unless you recently made some

[2017-07-03 15:42] sumeetisp commented on #42038
I have a custom sdb module to fetch the data from vault.
Also only id and key are stored in vault.

Thank you for prompt reply.

On Jul 3, 2017 20:23, "Daniel Wallace" <notifications@github.com> wrote:

[2017-07-03 15:46] abulford commented on #42076
@gtmanfred OK, I've applied that change to the 2016.11 and 2017.7 branches in #42086 and #42087, respectively.

[2017-07-03 15:50] terminalmage commented on #42081
Well, it's hard to say, with no configuration examples, no versions report, no idea whether GitPython or Pygit2 is being used, and no useful information about the repositories.

[2017-07-03 15:53] #42010 closed

[2017-07-03 16:02] gtmanfred commented on #42079
@twangboy would you mind taking a look at this?

In the mean time, are you aware of the cmd.script state?  So that you don't have to have the file.managed and the cmd.run separate?

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.cmd.html#salt.states.cmd.script

Thanks,
Daniel

[2017-07-03 16:03] whiteinge commented on #38548
Closing this as a duplicate of #16291. Please feel to comment there or reopen this if I've missed something.

[2017-07-03 16:03] #38548 closed

[2017-07-03 16:03] terminalmage commented on #41996
@brianthelion it is literally a one-line fix, so it should be easy for you to work around locally. You can see the diff here in the PR I opened: https://github.com/saltstack/salt/pull/42022/files

If I may recommend, you can copy the file (in this case `dockerng.py`) from `/usr/lib/python....` to within the salt fileserver under (`salt://_modules/`), make that one-line edit, and then run `salt '*'

[2017-07-03 16:06] gtmanfred commented on #42076
Thanks!

On Mon, Jul 3, 2017 at 9:46 AM, Andy Bulford <notifications@github.com>
wrote:

[2017-07-03 16:47] HenryCook commented on #42080
Sorry, I mistakenly closed this.

Are there any debug flags I could pass to further diagnose this? I have tried passing `-l debug` but I doesn't shed much light.

[2017-07-03 17:07] #41949 closed

[2017-07-03 17:46] marco-m commented on #37443
Hello any news?

[2017-07-03 17:53] gtmanfred commented on #37443
Probably not, we are moving away from novaclient to the shade library, which handles these changes for us.

I would downgrade novaclient to a version that works, until our next major release which will have the shade driver in it.

[2017-07-03 18:07] Ch3LL opened #42092 "[2017.7.0rc1] Stack Trace when using Ctrl+C to kill salt-minion on Windows"
### Description of Issue/Question
When running `salt-minion -ldebug` in powershell on windows, when I want to kill the process with Ctrl+C I see the following:

[code]

To note I do not see this in the minion logs when restarting the service in the service manager.

### Versions Report

[code]

[2017-07-03 18:09] frogunder opened #42093 "Nitrogen, if modifying the file_roots path in the master config file, winrepo will not be updated on the minions."
### Description of Issue/Question
Nitrogen, if modifying the file_roots path in the master config file, winrepo will not be updated on the minions.

[code]

It is working correctly if don't modify file_roots path in master config file.

### Setup
Windows master/minion
Modify file_roots path in master config file.

### Steps to Reproduce Issue
salt-run winrepo.update_git_repos
salt * pkg.refresh_db

[2017-07-03 18:22] gtmanfred commented on #42082
I have been unable to reproduce this.

I am going to leave my master running through the holiday tomorrow. and see what happens.

Do you have any other tips about reproducing this?  any commands that cause it to happen?

I also tried `salt-run fileserver.update` a bunch of times and couldn't reproduce it.

Also, @terminalmage have you see this at all?

Thanks,
Daniel

[2017-07-03 18:27] cachedout commented on #41949
@jrporcaro Just so you know, we are waiting on .1 for this even though the fix is in.

[2017-07-03 18:30] jrporcaro commented on #41949
Thanks. I was aware of that. I tried it out by placing the code in my
instance and it does fix the issue. So I am fine waiting for it.

On Mon, Jul 3, 2017 at 12:27 PM, Mike Place <notifications@github.com>
wrote:

--

Jeff Porcaro
VP, Engineering
SaltStack

[2017-07-03 18:39] marco-m commented on #37443
Thanks for the update!

[2017-07-03 18:41] terminalmage commented on #42080
@HenryCook I still cannot reproduce this. I've opened [this pull request](https://github.com/saltstack/salt/pull/42095) to add some debug logging for future usage, but in the meantime if you would like to troubleshoot using this logging, you can do the following:

1. Go to wherever `dockerng.py` is located on the minion (On Ubuntu, probably under `/usr/lib/python2.7/dist-packages/salt/modules/`.
2

[2017-07-03 18:53] terminalmage commented on #42082
@stamak Can you try to stop the salt-master service and see if you have any dangling salt-master processes that are still running (`ps aux | grep salt-master`)?

The error message you're seeing can only happen before 2016.11.0, so my best guess as to the cause for this is that once salt was upgraded from a pre-2016.11.0 release to its current version, some salt-master processes remained after the

[2017-07-03 19:45] gtmanfred commented on #42093
Ok, so this works, but if you change the default fileroot from `c:\salt\srv\salt` the pkg repo location needs to be updated

[code]

so, the git repos need to be downloaded into the file root at `salt://win/repo-ng` or for the older versions `salt://win/repo/`  If that happens, then it will work correctly.

https://docs.saltstack.com/en/latest/topics/windows/windows-package-manager.html#repository

[2017-07-03 20:09] cachedout commented on #41896
I would prefer that we don't do any schema checking if a config flag is set because not everybody would want it and there's a chance there will be a performance hit. Other than that this looks good. Nice job @yagnik !

[2017-07-03 20:10] cachedout commented on #41896
And to your second question, there is no way to list all tags/events that salt sends right now, sadly. We'll have to grep through the codebase and find them by hand. :-/

[2017-07-03 20:12] mbochenk commented on #42079
@gtmanfred Thank you - I am aware but somehow did not think to try that one (yet).

[2017-07-03 20:13] gtmanfred commented on #42038
I am unable to replicate the issue with using the cloud driver through pillars.

[code]

[2017-07-03 20:32] cachedout commented on #29353
@mosuowhq As stated by @jfindlay, the public keys don't rotate -- the shared secret does. There is no configuration for rotating public keys.

[2017-07-03 20:32] #29353 closed

[2017-07-03 20:35] cachedout commented on #28135
@marco-m No news on this. As mentioned above, if you would like to submit a PR to add this we would be happy to have it. :]

[2017-07-03 20:36] cachedout commented on #36619
@jdshewey has this exactly right. I've looked at this before and come to the same conclusion.

[2017-07-03 20:38] cachedout commented on #34019
@rmohta This auto-closed because the submitter linked to it in the PR. I will re-open it.

[2017-07-03 20:49] rallytime commented on #41885
Thanks @astronouth7303 - I have updated the docs in PR #42099

[2017-07-03 20:49] #41885 closed

[2017-07-03 20:58] #40965 closed

[2017-07-03 21:13] rallytime commented on #39444
Fixed by #39464. Closing.

[2017-07-03 21:13] #39444 closed

[2017-07-03 21:43] #37063 closed

[2017-07-03 21:44] #42093 closed

[2017-07-03 21:55] rallytime commented on #39239
This was fixed by #39907. Closing.

[2017-07-03 21:55] #39239 closed

[2017-07-03 23:31] fake-name opened #42104 "How do you successfully use the scaleway driver with salt cloud?"
I've been trying to use the Scaleway salt-cloud driver to deploy a VPS, and I can't figure out how to do so successfully.

If I treat the provider as I treat the others (digital ocean, vultr, etc...), it fails:

[code]

Ok, that's simple enough, lets set a randomly generated password on the call to `CloudClient().create()`:

[code]

Huh, maybe it's not caching the password, lets stick a really lon

[2017-07-04 00:41] gtmanfred commented on #42104
Unfortunately we do not have a scaleway account.

@edouardb or @brmzkw it looks like yall have worked on this, could you take a look at this issue?

Thanks,
Daniel

[2017-07-04 01:14] fake-name commented on #42104
I can provide someone with temporary access to my account, if needed.

[2017-07-04 01:48] fake-name commented on #42104
Ok, I attached much more logging:

[code]

I thought the problem here is might be that my `.pem` file is only the public key, rather then the both the public and private keys. Re-generating the key with `openssl rsa -in id_rsa -outform pem | sudo tee id_rsa.pem` didn't have any success, though.

[2017-07-04 01:57] fake-name commented on #42104
Here's a full debug log, with some truncation to allow it to be posted at all (the deploy script makes it too long for github!)

[code]

[2017-07-04 02:06] fake-name commented on #42104
Success! I have successful pubkey auth and deploy to scaleway.

The key is that you need to manually add the public key you want to auth with to scaleway via their web-interface. I took my pubkey (in this case, `/etc/salt/deploy-keys/id_rsa.pub`), and add it to their web credentials manager. At that point, SSH access worked for the next deploy.

I still have no idea how the password auth is suppos

[2017-07-04 04:37] fake-name opened #42106 "Missing dependencies for libcloud are poorly reported."
I'm trying to get the GCE salt-cloud plugin going.

So far:

[code]

The issue appears to be a missing (optional?) dependency of libcloud, that's not percolating back through the interface properly:

[code]

[code]

Arguably, this is an upstream bug in the `apache-libcloud` project's `requirements.txt`, but right now there's no sane diagnostics on how a partial install of `libcloud` can cause issu

[2017-07-04 04:52] fake-name commented on #42106
So https://github.com/fake-name/salt/commit/e59700459fb0a08c1ae9227e70dd3031314a5e6d is a silly edit that logs and reports the failure on the console:

[code]

I find it much more useful then just a "no worky" error message, but I can see the argument that it clutters up the console output a bit.

[2017-07-04 05:02] konstest commented on #41832
Setting option [plain_text: True](https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/vmware.py#L2410) in profile configuration file resolve this problem:

[code]

[2017-07-04 05:15] vector-of-bool commented on #2536
(The documentation doesn't mention a lack of thread-safety, which I usually take to assume an API is thread-safe. If I'm wrong, this would be a documentation issue.)

I believe the issue remains. (I'm using the 2016.11.6 release). I've been working on trying to obtain the results of multiple jobs simultaneously using a single `LocalClient` instance. Here's my minimal test case:

[code]

While I do

[2017-07-04 06:01] code42fr commented on #41832
If we let the interface with a DHCP configuration, i think, it'll work

[2017-07-04 07:01] yagnik commented on #41896
@cachedout is it a safe assume that all events have unit tests ? Can I just set the config to raise and then fix tests to make sure all events are covered ?

[2017-07-04 08:16] unixbigot commented on #16089
Is anyone working on this?  I might try if not.

[2017-07-04 08:47] HenryCook commented on #42080
That's great, I shall try this now.

[2017-07-04 08:57] grobinson-blockchain commented on #42081
We are running the following version:

    Salt Version:
               Salt: 2016.11.6

    Dependency Versions:
               cffi: 1.8.3
           cherrypy: Not Installed
           dateutil: 2.5.3
          docker-py: Not Installed
              gitdb: 2.0.0
          gitpython: 2.1.1
              ioflo: Not Installed
             Jinja2: 2.9.4
            libgit2: 0.24.2
            libnac

[2017-07-04 09:26] MorphBonehunter commented on #34115
@thatch45 / @meggiebot  i have to revive this ticket.
It seems that i misinterpret your last answer for supporting Debian7 (only until it's not called oldstable" anymore) and i read today on repo.saltstack.com:
[code]
Debian 7 ist still supported until 31st May 2018 (https://wiki.debian.org/LTS) and as Saltstack supports the other Distries until End of Life, why is this handled different with Debi

[2017-07-04 10:28] HenryCook commented on #42080
It seems after restarting the `salt-minion` process on the affected minions this has resolved the issue. I can now successfully run `salt 'name-of-node' dockerng.login` and it now returns:

[code]

I suspect it may have something to do with my upgrade method, but I'm not sure why. See below for how I upgraded the minions:

[code]

I am happy to close this issue as we are no longer experiencing thi

[2017-07-04 10:28] #42080 closed

[2017-07-04 11:08] p5h3s1 opened #42108 "salt.states.file.replace repl '05' doesn't work"
### Description of Issue/Question
Hello,
in a file I want to replace a string '97' by '05'. '05' is provided by a Pillar.
Unfortunately salt.states.file.replace is cutting 0 from 05. So I just get a 5 which is wrong.
Please help. Thank you!

### Setup
I have this file and I want to replace cloudtest by the hostname of the server and '97' by a pillar (please see below)

[code]

I set this pillar fo

[2017-07-04 13:01] kirill-aga opened #42112 "OpenBSD minion. salt.modules.openbsdpkg.install is not able to handle 'flavored' packages"
### Description of Issue/Question
OpenBSD ported packages are named according to the following pattern (see 'man packages-specs'):

`<stem>-<version>-<flavors>.tgz`

So, for example, postfix with optional mysql functionality looks like:

`postfix-3.3.20170218-mysql.tgz`

So, 'postfix' is the name, '3.3.20170218' is the version and 'mysql' is the flavor.

Stem part can, however, contain dashes, so

[2017-07-04 16:11] skoenig commented on #25094
I've tried to reproduce the issue in an Docker container (ubuntu:14.04) running following commands:
[code]
`salt-call --version` reported this: `salt-call 2015.5.11-25-g8f1ba2f (Lithium)`
Seems to be fixed, no?

[2017-07-04 16:48] marco-m commented on #31006
In my understanding this is already possible with `file_tree` and the GPG module, see https://docs.saltstack.com/en/develop/ref/pillar/all/salt.pillar.gpg.html.

File `/etc/salt/master`:

[code]

Or am I misunderstanding something?

[2017-07-04 17:59] sjorge opened #42113 "[2017.7.0rc1] TypeError in salt/fileclient on state.apply"
### Description of Issue/Question
[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
I just upgraded to 2017.7.0rc1 and did a salt-call -l info state.apply to see if anything broke. It looks like it did, it didn't even get to the states.

I did not update the salt-master yet.

### Steps to Reproduce Issue
(Include debug logs if possible and rel

[2017-07-04 18:07] sjorge commented on #42113
Looks like it is because I did not update my master, creating a snapshot and will report back/
```[ERROR   ][11669] Received function _file_hash_and_stat which is unavailable on the master, returning False```

[2017-07-04 18:31] sjorge commented on #42113
Seems to be resolved if the master is upgraded first, although all the runs are now super slow.

[2017-07-04 18:31] #42113 closed

[2017-07-04 19:21] brianthelion commented on #41996
@terminalmage Sorry to go out of band here, but I think I've hit a bug in 2017.7 while trying to resolve this issue. I'm seeing `state.sls` (hence, `state.apply`) not respecting the `pillar=` argument.

This can be verified by calling `salt-call --local state.sls baz pillar='{"host": "localhost"}'` where
[code]

If you can confirm that this is failing, I'll file a bug report.

[2017-07-04 19:58] gtmanfred commented on #42106
You should be able to return why the module can't be loaded in the `__virtual__` function

https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/gce.py#L135

This false could return (False, 'Missing dependency apache-libcloud')

Much like these other modules do https://github.com/saltstack/salt/blob/develop/salt/modules/dockermod.py#L269

Daniel

[2017-07-04 23:28] clallen opened #42114 "saltenv bug in pillar.get execution module function"
### Description of Issue/Question
The pillar.get function does not work properly with the saltenv argument.
On line 88 of salt/modules/pillar.py, the saltenv argument is passed to the items function as "saltenv".
The items function does not use this argument, rather it uses "pillarenv".

When that line is changed from this:
`pillar_dict = __pillar__ if saltenv is None else items(saltenv=saltenv)`

[2017-07-05 00:26] gtmanfred commented on #41996
If you open a bug report, we will confirm it before we tag it with labels.

Thanks,
Daniel

On Tue, Jul 4, 2017 at 1:21 PM, brianthelion <notifications@github.com>
wrote:

[2017-07-05 01:32] AnneTheAgile commented on #40827
re treatment of "#  # uncomment-this" I would propose handle only the first instance of comment character, the rest is a comment, so it is   not touched. That would match how IDE's handle it, eg one can remove one level of commenting only.

re this ticket ; I see in code, 'deprecated' in favor of file.replace. In the file.py, there is a get/line/replace function. So perhaps the uncomment is not su

[2017-07-05 01:36] AnneTheAgile commented on #38553
@bissei when you made the fix to core.py to add Manjaro, did the issue get fixed?

[2017-07-05 03:15] DaveQB commented on #39308
I just want to add I found a reference to 'ops-deleteme97' in /var/cache/salt/master/minions/localhost/data.p

[2017-07-05 03:41] fake-name commented on #42106
I can do that, but my issue is that the "return a string" method means the logging output isn't as nice, because it logs the entire thing in one `log.error()` call:

You get something that looks like:

[code]
rather then with the preceding text for each.

[2017-07-05 03:43] nomeelnoj opened #42115 "Installing EPEL repo breaks salt-cloud"
### Description of Issue/Question
Installing the EPEL repo on RHEL 7 breaks salt-cloud.  It throws a traceback error.
### Setup
Installed epel repo using these commands:
[code]

### Steps to Reproduce Issue
After installing repo and running yum update, salt-cloud throws the following traceback:
[code]

### Versions Report
[code]

[2017-07-05 05:18] terminalmage opened #42116 "CLI pillar override regression in 2017.7.0rc1"
Some recent work I did to optimize pillar usage in salt-call (https://github.com/saltstack/salt/pull/41679) caused CLI pillar override data to be ignored. This only affects the RC and not 2016.11.6 as it was merged into 2016.11 after 2016.11.6 was cut. PR incoming.

[2017-07-05 05:37] fake-name opened #42117 "GCE `update_pricing` fails if the cache dir does not exist."
[code]

[code]

This is probably another symptom of my using of the API in a way not originally intended by it's writer, but it definitely is an issue, I think.

[2017-07-05 05:39] fake-name commented on #42117
https://github.com/fake-name/salt/commit/95d51a481ce2f91c90d4fb54fda3a1648711c475 fixes the issue, but I'm somewhat confused by the gce.py file. For example, `os.path.*` functions seem to be available, but `os.path` is never imported? There's a lot of really strange stuff going on with metaprogramming and map everywhere, and the resulting code is basically impenetrable.

[2017-07-05 05:53] terminalmage commented on #42116
Fixed in #42119.

[2017-07-05 05:53] terminalmage commented on #41996
@brianthelion I've confirmed it and submitted a fix in https://github.com/saltstack/salt/issues/42116.

[2017-07-05 05:56] sjorge opened #42120 "[2017.7.1rc1] utf8 issues on py27 with salt.pillar.get"
### Description of Issue/Question
In followup with my conversation yesterday with @cachedout

Here is how I can trigger the odd issues with unicode strings.

### Setup
/salt/pillar/test.sls
[code]
/salt/states/test.jinja
[code]
/salt/states/test.sls
[code]

/salt/states/test.tpl
[code]

### Steps to Reproduce Issue
So nothing super fancy, we have a state that manages a file using a template.
The t

[2017-07-05 06:03] terminalmage commented on #42080
@HenryCook No problem. Upgrading the package should restart the service, or so I thought, but we try to defer to the common behavior of a given distro when we package Salt, and I don't know the common behavior on Ubuntu.

One thing to keep in mind is that running `test.version` will execute code that will return the version of Salt _installed_ on the minion, but it will not tell you the version of

[2017-07-05 06:05] sjorge commented on #42120
Ok, It's the salt.pillar.get!

[code]

[2017-07-05 06:17] terminalmage commented on #42081
I assume the spikes are happening when the `state.apply` is executed? It'd be hard for me to say what is causing it without knowing what the layout is, but short of that we do have some logging meant to help troubleshoot this sort of issue, so let's start with that. You'll need to set `log_level_logfile: trace` in your master config file and restart the `salt-master` daemon. After doing so, execut

[2017-07-05 07:11] terminalmage commented on #42114
Yeah, good catch. FYI, the `saltenv` argument to this function is being replaced by `pillarenv` starting in version 2017.7.0. `pillarenv` has only been around for a few release cycles, and we've been working to make it more distinct from `saltenv` (which is used to refer to a fileserver environment).

[2017-07-05 07:11] terminalmage commented on #42114
This is fixed in #42121.

[2017-07-05 08:19] lahdekorpi commented on #36436
Did I understand this correctly; there currently isn't a way to listen to both IPv6 and IPv4 simultaneously? And no workarounds?

It's not only the legacy systems but new installations as well can have a combination of both, and I'm guessing this is only becoming even more important as more and more people are finally moving to IPv6.

[2017-07-05 08:25] llb42 commented on #25123
This seems to be fixed in 2016.11.6

[2017-07-05 08:36] eradman commented on #42112
OpenBSD package flavor and branch support was added in commit 16e46e (Sep 8,
2016). I don't know if this made it into the 2016.11.3 release, but the
the OpenBSD pkg_add(1) syntax does work when running the Salt `develop` branch

  (saltenv) $ sudo -E salt-call --local --file-root=$PWD pkg.install 'jed--no_x11'
  local:
      ----------
      jed--no_x11:
          ----------
          new:

[2017-07-05 10:16] grobinson-blockchain commented on #42081
Thanks @terminalmage!

[2017-07-05 10:56] grobinson-blockchain commented on #42081
Here is the trace of master function call when using GitFS for a single highstate execution:

    2017-07-05 10:49:44,088 [salt.master      ][TRACE   ][28594] Master function call _pillar took 10.9189629555 seconds
    2017-07-05 10:49:44,215 [salt.master      ][TRACE   ][28593] Master function call _master_opts took 0.0203490257263 seconds
    2017-07-05 10:49:44,229 [salt.master      ][TRACE   ]

[2017-07-05 10:58] grobinson-blockchain commented on #42081
Once thing that is noticeable is that when using GitFS `file_envs` takes almost 10 seconds:

    2017-07-05 10:49:44,229 [salt.master      ][TRACE   ][28595] Master function call _file_envs took 8.79764556885e-05 seconds

compared to file_roots which takes fractions of a second:

2017-07-05 10:54:35,562 [salt.master      ][TRACE   ][21288] Master function call _file_envs took 0.000118970870972 sec

[2017-07-05 11:58] mbochenk commented on #34445
@Ch3LL this seems to be resolved in 2016.11 - and I suspect can be closed.

[2017-07-05 12:05] clallen commented on #42114
Thanks!

[2017-07-05 12:05] #42114 closed

[2017-07-05 12:11] kirill-aga commented on #42112
Right syntax would be exactly as they listed: <stem>-<version>-<flavor>

[code]

[2017-07-05 12:19] gtmanfred commented on #42106
Yes, but if you do it the other way, it will always log that error, even if
people aren't using it.

The returning of a string only logs the warning if you try to use the
driver.  So the message doesn't appear if people aren't using gce.

On Tue, Jul 4, 2017 at 9:41 PM, Connor Wolf <notifications@github.com>
wrote:

[2017-07-05 12:26] gtmanfred commented on #42106
Nevermind, looks like we are doing the same thing for nova and the other drivers https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/nova.py#L281

[2017-07-05 13:47] sithmein commented on #29560
Same here. It's not possible to run custom Python commands via salt under macOS.

[2017-07-05 13:51] sumeetisp commented on #42038
Works for me too. I might not have refreshed the pillar. Thank you

[2017-07-05 13:51] #42038 closed

[2017-07-05 14:05] gtmanfred commented on #42069
This was fixed by #42089

[2017-07-05 14:05] #42069 closed

[2017-07-05 14:43] Ch3LL commented on #42108
The pattern is using regex so you can specify for it to only catch the 97 by using the following: `{'pattern': '^97', 'repl':  pillar['inst']['instnr'] }` This will only replace instances where it starts with the number 97. It was catching the other parts of the file because 97 was in it.

[2017-07-05 14:52] Ch3LL commented on #42112
@eradman does @kirill-aga 's latest comments help for a possible fix.

Also i can confirm that the fix mentioned would not be in 11.3 but will be in the 2017.7.0 nitrogen release that is currently in its first release candidate.

[2017-07-05 14:56] sjorge opened #42124 "[2017.7.0rc1] needs salt-master on 2017.7.0rc1"
### Description of Issue/Question
I forgot the exact message but it throws an exception about missing one of the new methodes in fileclient.py (IIRC)

### Setup
A 2017.7.0rc1 minion against a 2016.7.4 master.

### Steps to Reproduce Issue
Upgrade one minion in a pre-existing salt environment without updating the master first.

### Versions Report
[code]

[2017-07-05 14:58] terminalmage commented on #42081
No, that's exponent notation, so `8.79764556885e-05` is `8.79764556885 * 10^-5`, or .0000879764556885. This makes it actually a bit faster than `file_roots`. The reason for this is that we use caching, since compiling a list of environments from all the branches/tags is a computationally expensive action which needs to be done often, and environments rarely change so we update that cache whenever

[2017-07-05 15:01] sjorge opened #42125 "[2017.7.0rc1] lots of entries in minion log from the schedule module?"
### Description of Issue/Question
Roughly every second this messages get appended to the minion log.
[code]

### Setup
This minion does have a few scheduled jobs:
[code]

### Steps to Reproduce Issue
Not sure, but all my minions have one or more scheduled jobs and they are all filling there logs.

### Versions Report
[code]

[2017-07-05 15:05] Ch3LL commented on #42115
I am able to replicate this. The reason for this is the libcloud version in epel is `'2.0.0rc2'` In the meantime you can downgrade the libcloud version and you will be able to work around this. Looks like on our side of we will need to account for the RC version.

[2017-07-05 15:09] rallytime commented on #34445
Thanks for following up here @mbochenk. Let's close it. :)

[2017-07-05 15:09] #34445 closed

[2017-07-05 15:27] sjorge opened #42127 "[2017.7.0rc1] schedule.present always triggers a change"
### Description of Issue/Question
This may be related to #42125

Every highstate run triggers a change for a job.

[code]
### Setup
The fragment the state sls
[code]

### Steps to Reproduce Issue
This job always triggers for me, but only on one minion.
A 2nd nearly identical minion does not trigger is :-1:

### Versions Report
[code]

[2017-07-05 15:31] sjorge commented on #42127
## host that always triggers it
[code]

## host that does not trigger it
[code]

Both host have the same states applied, just different pillar data for the vms that get created.
They are both synced from the same clock and dates are the same so I have no idea why one keeps having a change.

Just extropolating to only the role.salt.minion

[2017-07-05 15:35] mcarlton00 commented on #39817
Just to chime in: I'm seeing this as well.  The relevant code block:
[code]
and the response when running:
[code]

This happens whether I have a true prefix present, an empty prefix like @edgan, or no prefix defined at all.

[2017-07-05 15:36] grobinson-blockchain commented on #42081
Ah. I didn't look at the e-05, apologies! I'm not sure if it is much help, but `pillar.get` is more or less just as fast with `git_pillar` as it is with `pillar_roots` - but I'll be sure to test it and compare CPU usage.

[2017-07-05 15:39] kedare opened #42128 "MongoDB returner should use SCRAM-SHA-1 by default"
### Description of Issue/Question
Currently, the MongoDB returner is only using MONGODB-CR authentication, that is deprecated, unsafe and replaced by SCRAM-SHA-1 by default.

### Setup
Any setup capable or running tasks, and a MongoDB 3.4 server available and configured with authentication
Make sure pymongo is installed too

### Steps to Reproduce Issue
Set the configuration :

[code]

Run any job

[2017-07-05 15:50] eradman commented on #42112
@Ch3LL yes this helps. The problem seems to be simple to fix. The package formatting was too aggressive, and would append `--` (default flavor) and `%` (default branch) to package names.

[2017-07-05 16:01] gtmanfred commented on #42124
Our policy has always been that you need to update the master before updating the minions.

I will add a note to the release notes for 2017.7

https://docs.saltstack.com/en/latest/faq.html#can-i-run-different-versions-of-salt-on-my-master-and-minion

Thanks,
Daniel

[2017-07-05 16:04] rallytime commented on #25123
Thanks for updating this issue @llb42.

[2017-07-05 16:04] #25123 closed

[2017-07-05 16:05] grobinson-blockchain commented on #42081
with `file_roots` and `pillar_roots`:

    time salt-call state.apply > /dev/null
    real    0m36.688s
    user    0m11.376s
    sys 0m3.196s

with `file_roots` and `git_pillar`:

    time salt-call state.apply > /dev/null
    real    0m35.516s
    user    0m11.104s
    sys 0m3.024s

with `gitfs` and `pillar_roots`:

    time salt-call state.apply > /dev/null
    real    0m53.192s
    user    0m1

[2017-07-05 16:06] mcarlton00 commented on #39817
Update: I found the solution.
[code]
The "Status" argument MUST be capitalized, otherwise you'll get the MalformedXML error

ie: `Status: "enabled"` will fail, but `Status: "Enabled"` works.

[2017-07-05 16:11] Ch3LL commented on #42117
Seems this issue is resolved with your PR. Can you elaborate on what you are not understanding. Which parts of `os.path` are being used where? I can see `os` being imported at the top and references to `os.path` which seems correct. Thanks

[2017-07-05 16:28] garethgreenaway commented on #42127
@sjorge Thanks for the report.  I'm able to reproduce the issue and will work on a fix.

[2017-07-05 16:36] kedare commented on #42128
This issue was related to the default pymongo driver being too old in YUM and not using the newer protocol.

This has been fixed by removing the pymongo from yum and installing a recent one with PIP.

Sorry for the noise. (I hope this may help someone else in the future)

[2017-07-05 16:36] #42128 closed

[2017-07-05 16:38] Ch3LL commented on #42120
@sjorge can you elaborate on the problem you are seeing when you run these states? Are you getting a unicode error or different output in the file then what you were expecting?

[2017-07-05 16:41] mirceaulinic commented on #42074
Thinking more about this & together with other issues such as https://github.com/saltstack/salt/issues/39775, it sounds sane to me trying to load a `/etc/salt/proxy-{id}` file and merging its contents with the main `/etc/salt/proxy`.

Curious what @cro thinks about that?

[2017-07-05 16:41] sjorge commented on #42120
@Ch3LL when a list or dict is retrieved (yaml based pillar file) and outputted in a template without passing it through json_decrypt_list or json_decrypt_dict it will have strings inside outputted as ```u'my_string'```

[2017-07-05 16:42] Ch3LL commented on #42120
gotchya thanks for clarifying. Let me see if i can replicate thanks

[2017-07-05 16:43] sjorge commented on #42120
[code]

As pillar should trigger the issue with the example above.

[2017-07-05 16:46] sk4rp10n opened #42132 "Saltstack users minions and masters"
Is there a way that you can actively change the user running salt from the master without physically going into the minion itself and changing the config file.

Is there a way to temporarily do this, for example running an underprivileged minion and wanting to change to a more privileged user to run a certain command, and then "Switching" back?
Thanks!

Salt Version:
           Salt: 2016.11.5

De

[2017-07-05 17:22] Ch3LL commented on #42120
k looks like i'm able to replicate this. I was able to find the first bad commit: 6130722df3af82f0da10bb0d8c77db21e41e74c8 which was in PR https://github.com/saltstack/salt/pull/37222

Here is a docker container for someone to quickly replicate this issue:

1. `docker run -it -v /home/ch3ll/git/salt/:/testing/ ch3ll/issues:42120`
2. `salt-master -d; salt-minion -d`
3. `salt '*' state.sls test; cat

[2017-07-05 17:26] Ch3LL commented on #42132
`salt-minion -ldebug -u <user>`

does that resolve your use case?

[2017-07-05 17:38] p5h3s1 commented on #42108
Hello Ch3LL,
thanks for your reply.
I want to replace all 97 by 05 but it's just replacing 97 by 5. It cuts the 0. If I replace 97 by 15 it will work fine. There is a problem with the leading 0.

I have this (97 is not at the beginning of a line):
                         44397
                         8097
                         97
and I get this:
                          4435    --> WRONG. 97

[2017-07-05 18:25] garethgreenaway commented on #42125
@sjorge So far I haven't been able to reproduce this issue.  I suspect one of the jobs listed above is sending an invalid value along to the scheduled but it's not obvious which one.  If at all possible, can you narrow down which job might be the problematic one by disabling all of them and slowly adding them back in?

[2017-07-05 18:29] nomeelnoj commented on #42115
@Ch3LL Sounds good, thanks.  I will downgrade for now.

[2017-07-05 18:49] alexpeay opened #42135 "Implement Scheduling changes"
### Description of Issue/Question: Updates to the scheduling component to enable SaltStack Enteprise to leverage the Scheduler

### Requirements
Details to be provided by @thatch45

[2017-07-05 18:53] alexpeay opened #42136 "Implement Slots to manage real-time data during executions"
### Description of Issue/Question: Many times it is useful to store the results of a command during the course of an execution. Salt Slots allows you to store this information and use it later during the highstate or other job execution.

### Requirements
details to be provided by @thatch45

[2017-07-05 18:57] kiemlicz opened #42137 "cmd.run with multiple commands - random order of execution"
### Description of Issue/Question
List of commands passed to `cmd.wait` (`cmd.run` also I guess) executes in **random** order
I expect it to be executed in order of appearance (especially that I've used _list_ to define them)
I don't want to use `cmd.script` or any other state that require having external file with commands/template for commands
Only pillar, only state definition.

### Setup
fancy

[2017-07-05 19:15] thatch45 commented on #42135
Yes, we just want to make the scheduler usable to outside applications, so that it does not hard dep on salt specifics

[2017-07-05 19:16] thatch45 commented on #42136
@cachedout we need to decide who is going to do this footwork for Oxygen, I am happy to sit down with them and go over the design etc.

[2017-07-05 19:19] cachedout commented on #42135
@garethgreenaway This is your next task for Oxygen after the beacons project is done. Thanks.

[2017-07-05 19:20] cachedout commented on #42136
@thatch45 I am thinking that it might be good for Dmitry to work on. What do you think?

[2017-07-05 19:24] fake-name commented on #42117
Huh, I had always assumed that to use `os.path.*` functions, you had to specifically import `os.path`, in addition to any `os` imports. I just tested it, and apparently I was incorrect in my assumption. Derp.

Never mind about that, I guess.

[2017-07-05 19:28] fake-name commented on #42106
Right now, `get_dependencies()` is only called when the driver is loaded by the `__virtual__()` function, so if you don't use the gce driver, it'll never get logged.

This is why I bothered with the `LIBCLOUD_IMPORT_ERRORS` intermediate variable, rather then just logging directly from the import failure.

[2017-07-05 19:44] sjorge commented on #42125
[code]

I took a minion with less jobs, it also has the same issue.

[code]

With both jobs disabled, no new messages appear! So far so good.

[code]

Interesting ... lets switch jobs

[code]

So it looks to be the package::schedule-upgrade job, which is weird because that one does not exist on the mentioned above... It did so happen to be that this is the first job in the list!
Lets dig deeper...

[2017-07-05 19:48] sjorge commented on #42125
It could still be there are more jobs that trigger this behavior though, here is the state for package::schedule-upgrade

[code]
[code]

[2017-07-05 19:55] sjorge commented on #42125
Lets look at mantle to see which job is triggering the issue on that one...

[2017-07-05 20:02] garethgreenaway commented on #42125
Not returning something could account for the NoneType error.

[2017-07-05 20:03] sjorge commented on #42125
Correct, the other jobs causing the issue on mantle and core (the two minions without the package::schedule-upgrade job have a job zfs.snapshot::scheduler which also returns nothing!

Probably should still not spam the log with a vague error though, preferably nothing in the logs at all, maybe at the debug level or info level a small message would be OK.

[2017-07-05 20:05] garethgreenaway commented on #42125
Agreed.  We should account for a function returning nothing. i'll look for a simple function that returns nothing and see about reproducing this.

[2017-07-05 20:21] thatch45 commented on #42136
I agree, he should be perfect for this. Let me know when he starts and I can give him the overview etc.

[2017-07-05 20:23] cachedout commented on #42136
He's on vacation right now but you can talk to him as soon as he's back. I'll sit in on that too, so I can learn more about this.

[2017-07-05 20:32] thatch45 commented on #42136
Perfect, thanks

[2017-07-05 20:44] garethgreenaway commented on #42125
@sjorge To confirm, the schedule jobs where you're seeing this are all state runs right?  Not calling module functions?

[2017-07-05 20:45] Ch3LL commented on #42108
Oh thanks for clarifying. I understood the initial issue incorrect. The pillar value is grabbing the value correctly so its the `repl` argument that is interpreting 05 to 5. If you do the following does it work:

`- repl: "{{ replacement.repl }}"`

[2017-07-05 21:07] stratusjerry commented on #40320
I have the same issue, it appears to not delete the minion.pem file due to the "Read-only" attribute being set on the file.  We're using a standard minion config.

[2017-07-05 21:07] riq-dfaubion commented on #38157
I am having trouble with this. If I set my master and all my minions to TCP, the will not connect to the master, so I can't use `transport=tcp`.  If I set my master an all my minions to `transport=zeromq`, the minions will connect, but the connection will not be kept alive, eventually AWS's firewall (or something else in-between?) drops the connection.

[2017-07-05 21:10] riq-dfaubion commented on #39439
I wish I could understand why the devs are so resistant to application level keepalives.  Seems it would solve so many of these issues.

[2017-07-05 21:18] sjorge commented on #42125
Correct, they are all calling state.apply.

[2017-07-05 21:19] sjorge opened #42143 "Docs for kerberos.create_keytab have incorrect example code block"
### Description of Issue/Question
Docs for kerberos.create_keytab have incorrect example code block:
https://docs.saltstack.com/en/develop/ref/modules/all/salt.modules.kerberos.html#module-salt.modules.kerberos

```salt 'kdc.example.com' host/host1.example.com host1.example.com.keytab```

Should be

```salt 'kdc.example.com' kerberos.create_keytab host/host1.example.com host1.example.com.keytab```

[2017-07-05 21:28] dmurphy18 opened #42144 "Upgrade support for gnupg v2.1 and higher"
### Description of Issue/Question
Need to make similar change to https://github.com/saltstack/salt/pull/42055 for 2017.7 branch
Updates package signing to handle platforms which use gnupg v2.1 or greater.
For example: gpg2 v2.1.18 on Debian 9

### Setup
Signing Package repositories on Debian 9 would fail when signing using salt-pack

### Steps to Reproduce Issue
salt d9m state.sls repo.debian.debi

[2017-07-05 21:34] astronouth7303 opened #42145 "network.system disables interfaces"
### Description of Issue/Question

Spinning up a new minion and applying this state, the network interface is left in a disabled state (as reported by `ip addr`).

[code]

This, of course, makes the rest of the highstate process extremely difficult.

### Setup

Minion: Debian Stretch, Salt 2016.11.2, running on VMware ESXi/vSphere, created by salt-cloud (via clone from template)
Master: Debian Jes

[2017-07-05 21:36] sjorge opened #42146 "#36866 is present again on 2017.7.0rc1"
### Description of Issue/Question
The exact same issues from #36866  is present again, or rather still present.
I had it on my todo to retest this on 2017.11.0 once release and with ```master_alive_interval: 60``` set the communication fails again after that interval.

I do see the minion doing a DNS lookup and only getting the first the IPv6 address... then it gives up.

[2017-07-05 21:50] sjorge opened #42148 "[2017.7.0rc1] use_superseded and module.run changes from release notes do nothing?"
### Description of Issue/Question
Following the release notes here https://docs.saltstack.com/en/develop/topics/releases/2017.7.0.html#state-module-changes

I run into the following issue...

1. add the following to the minion config
[code]
2. restart the minion
3. update one of the states to the new format
4. run state.sls my.state.here
[code]

I played tried a few different things based on the e