[2018-06-20 20:49] #48231 closed

[2018-06-20 20:59] lejambon commented on #29618
I've just run into this with `2018.3.0` hence ending up on this report. If the proper inheritance solution is a massive job, then [in my case] an acceptable resolution if easier would be for Salt to refuse to apply states if a parent state has `order: last` but the child does not.

[2018-06-20 21:50] asottile commented on #48208
I'm a little unfamiliar with how to add this so I'd love some assistance here :)

Here's what I know so far:

- the current [`boto_lambda` module uses `ListFunctions`](https://github.com/saltstack/salt/blob/769cfe1a7de85a35083423af6abb12220f48a07e/salt/modules/boto_lambda.py#L145) to retrieve the existing functions
   - the values in [`ListFunctions`](https://docs.aws.amazon.com/lambda/latest/dg/A

[2018-06-20 22:27] whiteinge commented on #35547
Oh, interesting. You may be onto something there. The only part of Salt that hangs for downed Minions is sync calls from the `salt` CLI (which performs that `minions: []` guestimate to give the appearance of synchronous behavior) and Orchestrate (which uses that same sync call). If you're already using `local_async` then Salt itself is never actually waiting for anything -- the 4506 port will acce

[2018-06-20 23:20] #33630 closed

[2018-06-21 00:13] ben-reilly commented on #44142
I encountered this issue as well and was able to get around it by adding
[code]
to keep the existing file permissions. I'm guessing that when salt tries to pick the user/group info of my user, it's tripping on some Windows-y things.

[2018-06-21 02:19] lokimac commented on #46984
This issue is a blocker for my use cases. Can confirm that I can not supply an external_ip and get the serialize error when I do. Is there a status on when this will be fixed? I've had to patch programs to use gcloud sdk instead of salt-cloud -- which feels dirty to me.

[2018-06-21 09:31] importepeu commented on #42058
Hi,

I would complete this PR instead of creating a new one, cause my subject is similar to this one. I use salt version 2018.3.0 with master/syndic topology. Masters are identified ulgcysui50, ulgcysui51 and syndics are ulgcysui01, ulgcysui02. All minions have both syndics for "master:". Both syndics have both masters as "syndic_master:" in their configuration.
I succeed in targetting my minion w

[2018-06-21 11:26] alok183 opened #48240 "Functions are not executing in the host"
### Description of Issue/Question
Below issue I am getting only on specific host.

Note: It was working before.

salt-ssh -i  vmaalind18  state.apply copydir
vmaalind18:
----------
          ID: copy_installation_files
    Function: file.recurse
        Name: /tmp/installation
      Result: False
     Comment: State 'file.recurse' was not found in SLS 'copydir'
              Reason: 'file.recurse'

[2018-06-21 11:31] alok183 commented on #48240
I  am able to ping the host.
salt-ssh -i  vmaalind18  test.ping
vmaalind18:
    True

[2018-06-21 12:41] TheVakman opened #48241 "Python.exe Spawning, High/Maxing CPU, Traceback Master-Side, Tornado Related?"
### Description of Issue/Question
If the Salt Master is running, the Salt Minions max out the CPU by spawning Python.exe processes over and over. Additionally, a traceback is thrown for Windows 10 (maybe other) minions on the Salt Master side log.

This appears to be since I moved to a new host with 2018.3.1 Py3 however, there was a time it was certainly functional.

If I stop the Salt Master, the

[2018-06-21 13:50] Ch3LL commented on #48110
ping @terminalmage do you have any ideas around the proper way to handle this?

[2018-06-21 14:08] Ch3LL commented on #47361
are any of you seeing this with any other services or only zabbix? Also are you certain this was working on previous salt versions?

[2018-06-21 14:13] Ch3LL commented on #45339
does your master have a ton of minions attached to it?

[2018-06-21 14:35] triple-it commented on #34132
What is the status of this feature request?
Is it possible to have 1 proxy handling multiple devices?

[2018-06-21 14:35] Ch3LL commented on #48073
You can take a look here to see what kind of events you can react off of:

https://docs.saltstack.com/en/latest/topics/event/master_events.html

In your situation this is one way to approach it:

1. When you see this event `salt/cloud/*/created` you run the first initial states before the VM reboots.

(to note: an alternative is to use the configuration: `start_action: state.highstate` documented

[2018-06-21 14:47] sam0104 opened #48245 "How to find the conflicts in salt pillars for avoiding conflicts between different states used same config"
### Description of Issue/Question
We are using salt states by different teams like OS , network , DB and Application. We have individual directories under /srv/salt and /srv/pillar . For few states different teams using configuration which are coming from different pillar to make the same changes on minions. Like changing /etc/hosts /etc/resolv.conf  where OS team modify some parameter but DB team

[2018-06-21 14:51] TheVakman commented on #48241
I've tried to block communication via firewall so minions are unable to connect to fix them all breaking and allowed individual ones to test. The individual ones work A-OK. As soon as I allow the remaining minions, even the working ones start spawning python.exe processes.

[2018-06-21 14:52] joesusecom commented on #36801
Is there any progress on Redfish integration? I see Redfish integration maturing for Ansible and in OpenStack Ironic. We should make sure Salt isn't left behind.

[2018-06-21 15:05] damon-atkins commented on #48110
See also https://github.com/saltstack/salt/pull/46291#issuecomment-398771224

[2018-06-21 15:06] TheVakman commented on #48241
Alternatively, it's related to this minion traceback that also occurs around the same time. Again, even on one that was working when other minions were blocked from connecting.

[code]

[2018-06-21 15:14] TheVakman commented on #48241
I believe a "pip3 install cryptography" has fixed this. I'm still not clear on why when blocking others from connecting, the couple ones I was allowing to connect didn't have an issue and why the couple allowed broke after allowing the remainder.

[2018-06-21 15:14] importepeu opened #48246 "Returned message duplicate while targeting minion by list"
### Description of Issue/Question
I've an architecture with masters/syndics/minions. While running a test.ping on minions targeted with a list, I see redondant information, which (I suppose) come from both syndics I have.

Here some tests :
[code]

But thoose work :
[code]

[code]

### Setup
Architecture with 2 masters, 2 syndics and several minions. Previous commands launched from one of the mast

[2018-06-21 15:35] garethgreenaway commented on #48246
I believe this might be a duplicate of https://github.com/saltstack/salt/issues/48038 which has been fixed in https://github.com/saltstack/salt/pull/48075, which should be available in 2018.3.2.

[2018-06-21 15:42] garethgreenaway commented on #48240
@alok183 thanks for the report.  can you provide the contents of the state file you're attempting to run?  Also some details about the machine you're attempting to run salt-ssh against?  What operating system and what version of Python is installed there?  Thanks!

[2018-06-21 15:46] Ch3LL commented on #48111
thanks for clarifying. I ended up uploading the file manually and getting it and can replicate your error. I'm also seeing this on 2017.7.4 so this is not a regression.

ping @gtmanfred any ideas here? Do we maybe need to add a header to specify the type of content we are querying?

[2018-06-21 15:49] garethgreenaway commented on #48229
@PeterS242 Thanks for the report.  The `pkg` modules use the various grains values to determine which one to use for a particular system, since the McAfee distribution has changed the information that determines the values for these grains on a traditional Red Hat machine the grains are different than what is expected.  A potential fix would be to be update the yumpkg module to include `McAfee OS

[2018-06-21 15:59] sybix opened #48247 "mysql_grants.present doesn't support Column Privileges"
### Description of Issue/Question
It appear that salt does not validate the grant and fail with a failed to execute.
The produced query is valid, i tested it in mysql, but the grant parser don't accept it

It would be helpfull to have this level of granulirity with privileges

### Setup

[code]

### Steps to Reproduce Issue

Use a per column grant, salt will produce the sql query :
[code]
But it d

[2018-06-21 16:03] TheVakman commented on #48241
The latest update in the OP contains a trace log for the minion. I believe these are the ones causing them all to have issues.

[2018-06-21 16:11] garethgreenaway commented on #48241
@dwoz Thoughts on this one?

[2018-06-21 16:11] garethgreenaway commented on #48245
@saltstack/team-core Anyone have thoughts on this?

[2018-06-21 16:32] rallytime commented on #42659
@frogunder Can you test this again with the fix in #48193 when you get a moment?

[2018-06-21 17:04] TheVakman commented on #48241
If it helps, I think the only relevant one is the minion trace in the OP now, I think "pip install cryptography" fixed a couple of the other items.

It's all very strange how allowing them to connect can cause problems for other ones that were working when the others were blocked from connecting.

Additionally, I notice sometimes I can stop the master for a bit, turn it back on and the same items

[2018-06-21 17:06] thefirstzven commented on #48205
Finally I found what's wrong :
the VMware Tools were not correctly installed on the specified template!
the template was listed by "salt-cloud --list-images" but when using it for deploy, error said : does not exist, which is actually wrong. Should say something about missing VMtools instead... making easier to focus on the real problem and fix it.

[2018-06-21 17:06] #48205 closed

[2018-06-21 17:13] Ch3LL commented on #48078
thanks for verifying. Im not able to replicate this because my swap_total is not 1024. Seems odd that your return is 1024,00

can you paste the contents of: `sysctl -n vm.swapusage`? That way I can see how we should properly be handling this type of return since I cannot replicate it. thanks

[2018-06-21 17:15] terminalmage commented on #47732
@austinpapp Of course, whatever is decided would be documented.

However, standardizing around a dict for returns doesn't sound like a good idea to me. I like how many functions can return a simple True/False/etc. return, and I don't see how this would be improved by making all returns dictionaries. If we are talking about simply knowing whether or not something failed, raising an exception seems

[2018-06-21 17:52] vchandracazena commented on #43576
We are running into this issue in our test environment. Our use case involves the failover of the salt-master and when the failover happens some minions experience this error sometimes.

### /etc/salt/master
[code]
### Salt versions report
[code]
### This is what I see in the salt-minion log
[code]
### This is what I see in the salt-master log
[code]
- Please note that there are multiple auth requ

[2018-06-21 18:32] garethgreenaway commented on #48204
@zerthimon If you're able to, can you test that PR and see if it fixes the issue for you.

[2018-06-21 19:32] Ch3LL commented on #48020
thanks for clarifying the versions it was working in that helped me bisect the issue. The bisect showed this commit: bc307964d9783530b6a4b742becd343e98ad750e  which is this pr: https://github.com/saltstack/salt/pull/44890

particularly i found its the diff of this file that created the problem:

[code]

I created a docker container to quickly replicate this:

1. `docker run -it -v ~/git/salt/:/tes

[2018-06-21 20:22] dgengtek commented on #47591
I did an update to 2018.3.1 and the issue seems fixed now. I guess this issue can be closed now.

[2018-06-21 20:22] #47591 closed

[2018-06-21 20:36] kajigga opened #48255 "salt.sdb.cache module calls cache.set instead of cache.store"
### Description of Issue/Question
The `set` method of the salt.sdb.cache module has an error.

It calls cache.set when it should be cache.store.

### Setup

### Steps to Reproduce Issue
Step 1: Configure master/minion with sdb.cache profile.

[code]
Step 2: sun sdb.set command targetting the cache.sdb profile
#### Log output
[code]

Changing line 72 of `salt/sdb/cache.py` from

```cache.set(profil

[2018-06-21 21:44] #35056 closed

[2018-06-21 22:02] whytewolf commented on #48110
After much testing, I have not been able to get this to work on any version of salt under windows. As @damon-atkins says this could be a python issue at the core. Is there any way within python standards to handle this on windows as it is handled in Linux?

[2018-06-21 23:03] sugizo commented on #48078
[code]
seems problem with my os or what?

[2018-06-21 23:39] noelmcloughlin commented on #39314
The issue is still present in 2017.7 when both `python-boto` and `python3-boto` are installed.

I uninstalled the python2 boto package and Errors stopped.
[code]

[2018-06-21 23:44] #35171 closed

[2018-06-22 00:44] #35162 closed

[2018-06-22 00:44] #35107 closed

[2018-06-22 01:49] #35048 closed

[2018-06-22 04:01] nullify005 commented on #46887
@julientravelaer have a look at the linked PR, I believe this solves the issue with ldap modify operations (I was getting the same issue too)

[2018-06-22 05:49] #25555 closed

[2018-06-22 07:36] julientravelaer commented on #46887
@nullify005 Your PR fixes this problem thx a lot !

But an other remain, I have some a state which add member to ldap group, and it still fails:

[code]
This state fails with :
[code]

As the previous problem, everything is ok when I rollback to 2017.7.6

[2018-06-22 07:54] cong520 opened #48259 "How to modify the configuration path on Windows?"
SILENT INSTALLER OPTIONS and SILENT INSTALLER OPTIONS always install conf in 'c:/salt/conf',but I want to set the path 'c:/ragent/salt/conf'

[2018-06-22 09:15] #48259 closed

[2018-06-22 09:23] slivik commented on #38306
Thanks :)

[2018-06-22 09:34] gcamus opened #48263 "Import file (json|yaml ...) from a pillar file does not work anymore"
### Description of Issue/Question
I try to migrate from salt 2016.3.4  to Salt 2017.7.6 and I found that importing file from external git pillar file does not work anymore.

Thanks for your help.

### Setup
sls from git ext pillar
[code]

template/applications/versions.sls file from pillar_roots, base, /tmp/salt/specific/pillar :
[code]

Extract from salt-master configuration :
[code]

### Steps t

[2018-06-22 10:50] chewborg opened #48265 "Fileclient - Data transport is broken"
### Description of Issue/Question
Using the salt file.managed state to copy a particular file that is about 400MB, Tab delimited, for a SOLR DB import, the copy is failing and only about 40MB is copied over.
This has only occurred since upgrading from 2018.3.0 to 2018.3.1 on the both master and minion.

In the logs we can see this event on the file:
[code]

### Setup
(Please provide relevant confi

[2018-06-22 10:58] RPDiep commented on #14354
I've spent quite some time developing something based on the workaround that @hazaelsan mentioned a few years ago but is compatible with git_pillar .
This seems to work for us:
[code]

[2018-06-22 11:11] jyurdal opened #48266 "cmd.script windows powershell fails in 2018.3.0"
### Description of Issue
Running cmd.script on windows salt-minion **2018.3.0** fails with error:

Applying this  state works on windows salt-minion 2017.7.1

### file.sls
install_docker:
    cmd.script:
      - source: salt://win-setup-docker/files/install_docker.jinja.ps1
      - template: jinja
      - shell: powershell

###Salt versions
  Salt Version:
               Salt: 2018.3.0

    Depend

[2018-06-22 13:32] tobias-kuendig commented on #44142
I'm experiencing the same problem. `Preserve: True` unfortunately doesn't change anything.

[code]

[code]

[2018-06-22 14:23] zerthimon commented on #48204
@garethgreenaway it kinda works, but in a weird way.
I've tested with password_hash option:

So when user doesn't exist in mysql I get this:
[code]
[code]
This actualy creates a user with a wrong hash:
[code]

On the second run I get this:
[code]
And the user is updated with the correct password:
[code]
On the third run the state correctly detects that no changes necessary:
[code]

[2018-06-22 14:32] zerthimon commented on #48204
Now when the password is used instead of hash, the things became even more weir:
First run:
[code]
[code]
The user is created with correct password:
[code]
But then the second run:
[code]
[code]
Updates the password with a clear text password:
[code]
And the third run sees no changes.

[2018-06-22 15:42] rallytime commented on #48255
Fixed with #48238

[2018-06-22 15:48] Ch3LL commented on #48266
this should be fixed in 2018.3.1 by this: https://github.com/saltstack/salt/pull/45716 can you verify?

[2018-06-22 16:02] ksalman commented on #13843
Please don't close this as stale.

[2018-06-22 16:58] Ch3LL commented on #48263
can you clarify where the versions.sls file is set? as you state: `versions.sls file from a local directory` can you clarify if that is in your pillars, file_roots etc?

[2018-06-22 17:19] yagnik opened #48270 "gitfs file roots backend in masterless minion"
### Question
gitfs file roots backend not supported in masterless minion ?

### Versions Report
[code]

[2018-06-22 17:20] yagnik commented on #48270
Was trying to load gitfs in masterless minion but the config isn't supported, is there a specific reason for that ?

[2018-06-22 17:25] Ch3LL commented on #48265
im having a hard time replicating this. any chance you can share a sanitized file where you are able to replicate this issue?

[2018-06-22 17:28] Ch3LL commented on #48270
it should work. Can you share the error your running into

[2018-06-22 17:31] yagnik commented on #48270
[code]

vs
[code]
For salt-run I had to copy most config to master instead

[2018-06-22 17:32] yagnik opened #48271 "Is it possible to load non .sls files in pillars ?"
### Question
Is it possible to load non .sls files in pillars ? Anyway I can force file extension ?

[2018-06-22 17:49] #35192 closed

[2018-06-22 17:49] #34058 closed

[2018-06-22 17:49] #29785 closed

[2018-06-22 17:49] #14383 closed

[2018-06-22 17:49] #35200 closed

[2018-06-22 17:49] #35230 closed

[2018-06-22 17:49] #35251 closed

[2018-06-22 17:49] #35268 closed

[2018-06-22 17:49] #30487 closed

[2018-06-22 17:49] #35228 closed

[2018-06-22 17:49] #28274 closed

[2018-06-22 17:49] #27156 closed

[2018-06-22 17:49] #35320 closed

[2018-06-22 17:49] #35327 closed

[2018-06-22 17:49] #35346 closed

[2018-06-22 17:50] #35324 closed

[2018-06-22 17:50] #33897 closed

[2018-06-22 17:50] #35321 closed

[2018-06-22 17:50] #35262 closed

[2018-06-22 17:50] #35267 closed

[2018-06-22 17:50] #35304 closed

[2018-06-22 17:50] #23873 closed

[2018-06-22 17:50] #32535 closed

[2018-06-22 18:28] #47934 closed

[2018-06-22 18:55] gcamus commented on #48263
From pillar_roots, I will update.

[2018-06-22 19:16] ipmb opened #48274 "s3.get signature failure with + in the object name"
### Description of Issue/Question

### Setup

[code]

The AWS cli handles this fine:

[code]

Salt works fine if there is not a `+` in the object name.

I'm guessing there is some escaping happening somewhere that is breaking the signature algorithm.

### Steps to Reproduce Issue

[code]

### Versions Report

[code]

[2018-06-22 20:41] whytewolf opened #48276 "Windows 2012r2 unable to use proxy module, or state."
### Description of Issue/Question

Current when trying to use the proxy state the proxy module will throw an error if the proxy has not been previously setup on windows 2012r2.

[code]

This looks to be because

`HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\Internet Settings\`
`ProxyServer`

This doesn't exist by default only after it is set.

### Setup

[code]

[code]

This happens

[2018-06-22 20:41] whytewolf commented on #48276
ZD-2639

[2018-06-23 03:29] dvenckus opened #48277 "init.sls with included states fails with more than one, 'Template was specified incorrectly: False'"
### Description of Issue/Question

This applies to a problem with the 2018.3.1 version and I have a 2nd server built identically except for having a different version of salt.  The same state files exist on each server.  Each server runs as a masterless, stand-alone minion.

I have 2 separate Virtualbox Ubuntu 18.04 VMs:
    Server 1:  Salt 2018.3.1 installed
    Server 2:  Salt 2017.7.4 installed

[2018-06-23 04:16] bbrandt commented on #26192
Hello salt devs,

I've been reviewing the logging implementation in salt and am considering whether I can contribute documentation for [this page](https://docs.saltstack.com/en/latest/topics/development/logging.html).

I don't have a whole lot of Python experience yet but have worked a lot with logging in other languages, so am looking for some good ways to ease into making some more meaningful co

[2018-06-23 14:05] mkotsbak commented on #41195
Workaround described here: https://github.com/saltstack-formulas/mysql-formula/pull/184#issuecomment-398193878

[2018-06-23 18:53] kveroneau opened #48278 "Included conf should be exception checked"
### Description of Issue/Question

I ran into a very strange issue with one of my Windows 10 salt-minion machines, the minion would not start as the _schedule.conf had been nulled out.  The file itself was 138 bytes, but the file only contained nulls.  Obviously the config parser did not like this, and so the salt-minion service just failed to start, and went into a "paused" mode.  Perhaps the loa

[2018-06-24 04:37] dpedu opened #48280 "Mount.mounted is incompatible with devices that can be mounted multiple times"
### Description of Issue/Question

I use glusterfs, which is a network filesystem. Sometimes I mount a glusterfs volume read/write at one mountpoint, and read-only at another mountpoint. But the `mount.mounted` state doesn't let me do this.

When this state is used, the application of the second mountpoint removes the first one. I can't find a way through the other options of `mount.mounted` to ha

[2018-06-24 05:19] #8521 closed

[2018-06-24 08:19] #35430 closed

[2018-06-24 09:06] dgengtek opened #48281 "Runner cache.grains returns only nonexistent minion"
### Description of Issue
The runner does not return any results for minions but only targets one nonexistent minion named `salt.<domain>_master` instead of all valid minions of the form `<hostname>.<domain>` . See debug run below. Deleting cache on master did not help.

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2018-06-24 10:19] #34949 closed

[2018-06-24 13:19] #34877 closed

[2018-06-24 15:54] MyIgel opened #48283 "docker_container.py: UnboundLocalError: local variable 'post_state' referenced before assignment"
### Description of Issue
After running salt.apply test=True I get the following Error:
[code]

### Setup
Trying to test configure a stopped mariadb container

### Steps to Reproduce Issue
salt.apply

### Versions Report
Master:
[code]

Minion:
[code]

[2018-06-24 17:19] #35426 closed

[2018-06-24 18:19] #35014 closed

[2018-06-24 18:19] #34989 closed

[2018-06-24 18:19] #35074 closed

[2018-06-24 18:19] #35454 closed

[2018-06-24 20:41] kiemlicz opened #48285 "[BUG] retry clause doesn't clean up in pkgrepo"
### Description of Issue/Question
`retry` logic doesn't retry dependent states upon each failure.
It is sort-of documented behavior but this is very limited and doesn't take cache into account.
It should be possible to perform retry with dependent states

### Setup
e.g. have some state that writes something to cache (like downloaded repo key)
[code]
imagine that the key itself was broken during do

[2018-06-24 22:05] rmarchei opened #48287 "file.check_perms doesn't remove file attributes"
### Description of Issue/Question

In salt 2018.3.1 `file.check_perms` is supposed to remove file attributes before enforcing file permissions* (then it adds them back) but this never happens cause the function `lsattr.get` [doesn't match the right filename](https://github.com/saltstack/salt/blob/develop/salt/modules/file.py#L4462)

[code]

This should be fixed in https://github.com/saltstack/salt

[2018-06-24 23:56] noelmcloughlin commented on #45339
I'm seeing this too  (no attached minions).  Removed python-git, GitPython, but still there.
[code]

[2018-06-25 00:19] #34506 closed

[2018-06-25 04:11] #20297 closed

[2018-06-25 04:35] billscheidel commented on #48121
Is there a work around to this issue in the meantime? I'm on Ubuntu 16.04 and currently can't run any salt commands, the minions are always not responding.

[2018-06-25 07:11] #35408 closed

[2018-06-25 13:08] dragosstan2602 commented on #43147
@Ch3LL - Hi Megan, I recently started playing around with salt and napalm and i've been having the same issue:
[code]
**SALT INFO**
[code]
**ADDED THESE SECTIONS:**
[code]

**Pillar info:**
[code]
Any suggestion would be great!
Thanks and regards,
Dragos

[2018-06-25 13:34] #48287 closed

[2018-06-25 13:43] gtmanfred commented on #48245
I am not aware of one, but it may be useful to have trace level logs added to the master rendering pillar data for when data gets overwritten.

[2018-06-25 13:51] gtmanfred commented on #48111
These look like two separate errors, one on python 2.7 and one on python 3.6.

It looks like the OP issue is failing on the result that is returned, not being valid xml.

And @Ch3LL your issue being with encoding of the data that is being uploaded.

Which one am I looking at?

[2018-06-25 14:16] GitHubAre commented on #48073
I have used startup event targeting specific .sls files which did the work.
Thank you very much :)

[2018-06-25 14:16] #48073 closed

[2018-06-25 14:31] JPT580 commented on #35798
No, sorry.
The issue still remains.
The affected code still does the same thing.
See https://github.com/saltstack/salt/blob/develop/salt/netapi/rest_tornado/saltnado_websockets.py#L354

[2018-06-25 14:31] bdrung commented on #35772
Just checked the 2018.3 branch and the Documentation key is set:
[code]
So this ticket was solved and can be closed.

[2018-06-25 14:31] #35772 closed

[2018-06-25 14:48] ccoughle opened #48298 "Multi Master Load Balance"
### Description of Issue/Question
Our Multi Master set-up has a disparity in the load being placed on the servers.
We have (depending on the time of year) between 1600 to 4000 minions connecting to a pair of salt masters.  While all minions do successfully connect to both masters.  The majority of the load is placed on a single master.
It seems that the cause of this is that the network traffic fo

[2018-06-25 14:58] sam0104 commented on #48245
Is it possible with Salt Enterprise ? We are evaluating Salt Enterprise. May be good idea to add some python based script or tool to Salt or Salt Enterprise , which will be really helpful for large scale environment where multiple teams have their own pillar and top file and creates conflict and change system configurations. We have seen outages due to change kernel parameter on a Linux or Databas

[2018-06-25 15:19] dosercz opened #48299 "git.latest reports deleted tags in remote repo as new_tags in changes"
After deleting tag deleted-tag in github repo (deleted-tag is present in local git repo) git.latest produced these output:
[code]
It's strange and confusing that this is reported as new_tags, because this is not newly added. It was there before and was only deleted in remote repo. I have not seen this change with older salt versions.
IMO this tag should be deleted in this case to keep repo up-to-d

[2018-06-25 15:28] gtmanfred commented on #48271
The pillar loader only recognizes .sls files.

You can load other files using jinja though if you want, and dump the contents into the sls file.

[2018-06-25 15:29] gtmanfred commented on #48270
Where are you putting the configs on the masterless minion?

I am currently using this for my own deployment and it works fine.

https://github.com/gtmanfred/blog-sls/blob/master/minion.d/fileserver.conf

[2018-06-25 15:34] gtmanfred commented on #48285
That is not how require + retry work together, The required state has already succeeded, so the pkgrepo.managed state just needs to run.

If you know that a key to download because a remote server is under heavy load, maybe use a file.managed to directly get the key first, and put your retry on that state, to get the correct file (with a source_hash), so that you know for sure that the file actual

[2018-06-25 15:41] damon-atkins commented on #35724
.

[2018-06-25 15:42] damon-atkins commented on #35940
.

[2018-06-25 15:57] srkunze commented on #35595
Oh, I see that this issues hasn't been addressed and also the related (but not duplicate) #22711 has been marked as stale and been closed.

Is this still relevant?

[2018-06-25 16:56] TheVakman commented on #48241
I don't see any discernible pattern to when this occurs but it's a huge problem when it does as it basically locks up the machine at 100% CPU.

[2018-06-25 16:58] garethgreenaway commented on #48276
@twangboy @dwoz Looks like this should be a potentially easy fix.

[2018-06-25 17:40] TheVakman commented on #48241
Minion Version Report:
[code]

[2018-06-25 18:08] garethgreenaway commented on #48277
@dvenckus Thanks for the report.  Unfortunately I haven't been able to reproduce this so far.  I have the init file as you have it above:
[code]

the common directory is directly below `/srv/salt`.

[2018-06-25 18:11] #35491 closed

[2018-06-25 18:12] garethgreenaway commented on #48299
@terminalmage Thoughts?

[2018-06-25 18:13] dvenckus commented on #48277
First, I overlooked the fact that we have 2 saltenv's defined, base, dev.  We set 'environment' to 'base' on the minion and override with saltenv as needed.

I was also checking into the salt code (state.py) and found where the error is happening:

line 3603
[code]
It looks like the salt environment is not being resolved.

[2018-06-25 18:35] garethgreenaway commented on #48277
@dvenckus This is a good clue!  Thanks!

[2018-06-25 18:40] Ch3LL commented on #48223
I'm still not able to replicate this with this state:

[code]

[code]

as you can see running it twice I get the expected return. Any other ideas as to why your use case is running into this and not mine?

[2018-06-25 18:48] garethgreenaway commented on #48298
@ccoughle Thanks for the report.  There are a couple different minion configuration:
https://docs.saltstack.com/en/2017.7/ref/configuration/minion.html#master-type
which should be set to `failover`
and
https://docs.saltstack.com/en/2017.7/ref/configuration/minion.html#master-shuffle
which should be set to True
and finally (which I believe you're have configured but might not be being used if you d

[2018-06-25 18:51] Ch3LL commented on #48107
thanks for the additional information.

ping @terminalmage any ideas here?

[2018-06-25 18:51] rallytime commented on #22711
It was closed because we haven't had any updates on it, but we can certainly re-open it.

[2018-06-25 18:58] ccoughle commented on #48298
Hello,

I did run the machines in a failover mode as a test.  However, the outcome of that was not what we needed as the minions only make a connection to one of the masters at a time, while in the standard (default master_type: str) set-up there are connections open to both masters at the same time.

Regarding the master_shuffle and random_master settings, I just included the one in case there wa

[2018-06-25 19:06] ccoughle commented on #48298
Oh, one other thing I should mention is that a manual salt-call state.apply from the minions does randomly select which master to connect to.  I know that the scheduled runs and the manual salt-calls have different entry points into the system  (can't remember where we wound that in the python files exactly), but I figured that would be a good data point to pass along.

-Casey

[2018-06-25 19:10] garethgreenaway commented on #48278
@kveroneau Thanks for the report.  I'm marking this as a feature since it would be adding new functionality.  Thanks!

[2018-06-25 19:21] astronouth7303 opened #48302 "`LocalClient.cmd_iter()` sometimes omits minions"
### Description of Issue/Question

In one installation (2018.3 Py3), [my call to `state.highstate` via `LocalClient.cmd_iter`](https://gitlab.com/saltspiro/spirofs/blob/558908b7bbaa037aae951bebd368a5e342dca6e0/extmods/engines/spiro.py#L111) is concluding iteration before some minions return, even though they are online and being targeted via `tgt_type='list'`.

Adding `expect_minions=True` to the

[2018-06-25 19:31] garethgreenaway commented on #48280
@dpedu Thanks for the report.  Marking this as a future feature since it would be adding functionality.

[2018-06-25 19:34] garethgreenaway commented on #48274
@ipmb Thanks for the report.

[2018-06-25 19:39] dvenckus commented on #48277
The salt file structure is:

[code]

[2018-06-25 19:44] garethgreenaway commented on #48281
@dgengtek Thanks for the report.  Did you at some point have a minion connected to the Salt master with that name?  If you run a `salt \* test.ping` do all your minions show in the list?

[2018-06-25 20:11] #35506 closed

[2018-06-25 20:11] #30960 closed

[2018-06-25 20:24] Heiko-san opened #48303 "Exceptions in execution modules are considered a successful call"
### Description of Issue/Question

I came accross this while trying to get a failed condition for a custom salt execution module. Of course I got aware that any return value may be valid and therefore understood, that there is no value that will lead to the function call being considered failed.

However I recognized that even an exception thrown while the function executes is considered a success

[2018-06-25 21:20] garethgreenaway commented on #48277
@dvenckus Thanks.  When you're defining your environments on the Salt master you including the `states` directory in the file root for each environment?

[2018-06-25 21:32] garethgreenaway commented on #48277
@dvenckus Thanks.  Which environment does the `common` directory live in?

[2018-06-25 21:36] dvenckus commented on #48277
At the moment 99% of our states and pillars are in 'base'.  The 'dev' environment allows for easy testing of specific states and pillars before we fully deploy them.  Only some simple test pillars and a test state in 'dev'.  This is the same file configuration for both 2017.7.4 and 2018.3.1 installations of salt

[2018-06-25 21:38] garethgreenaway commented on #48277
@dvenckus And when you're seeing the issue when you're specifying the `saltenv` as dev?

[2018-06-25 21:38] dvenckus commented on #48277
The issue happens whether I specify saltenv as 'base' or 'dev' or omit it and allow it to default

[2018-06-25 21:40] dvenckus commented on #48277
These are vagrant/virtualbox VMs. I have destroyed and rebuilt the 2018.3.1 VM multiple times to the same end result.

[2018-06-25 22:08] Ch3LL commented on #48078
can you try the fix in https://github.com/saltstack/salt/pull/48304

[2018-06-25 22:11] #32989 closed

[2018-06-25 22:37] garethgreenaway commented on #48277
@dvenckus So far still haven't been able to duplicate.  Would it be possible to provide a snapshot of one of the VMs where this is happening?

[2018-06-25 23:10] jessebye commented on #46594
@terminalmage is there something we can do to update to the fixed jinja2 version? I tried `pip install --upgrade jinja2` which installed `2.10` and still had the problem. To fix, I did `pip install -I jinja2==2.9` to downgrade to a working version.

[2018-06-26 00:48] davidscholberg opened #48306 "Documentation update for custom returners used for master job cache"
### Description of Issue/Question

The [documentation for master job cache support for returners](https://docs.saltstack.com/en/latest/ref/returners/#master-job-cache-support) needs a couple updates:

1. The [salt.utils.jid.gen_jid](https://github.com/saltstack/salt/blob/v2018.3.1/salt/utils/jid.py#L17) function now requires the salt config object (e.g. `__opt__`) as an argument.
1. The `save_load

[2018-06-26 00:58] nshalman opened #48307 "salt-unity specification in setup.py doesn't work with pex"
### Description of Issue/Question

When trying to build a [pex](/pantsbuild/pex) distribution of salt tied to the `salt-unity` script (to make it easy to use as a multipurpose distribution) we ran into an oddity.

`setup.py` specifies
[code]
But the unity functions don't actually live in `salt/scripts.py`.
This makes pex sad:
[code]

By moving the unity functions into a `salt/unity.py` and making

[2018-06-26 01:03] dvenckus commented on #48277
I will try to pull that together for you ASAP

[2018-06-26 05:12] yagnik commented on #48271
Alright will give this a shot thank you!

[2018-06-26 05:12] #48271 closed

[2018-06-26 05:14] yagnik commented on #48270
thanks @gtmanfred going to give this a shot, I'm definitely missing something somewhere. Will re-open if I find something that looks odd.

[2018-06-26 05:14] #48270 closed

[2018-06-26 09:13] luke-orden opened #48311 "Different function name for runner when run manually to when run via schedule"
### Description of Issue/Question
When a runner is run manually the fun name in the event is `runner.<module>.<function>`:

[code]

When run via a schedule it is `<module>.<function>`:

[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
I added the following to the salt master config:

[code]

### Steps to Reproduce Issue
(Include debug logs if

[2018-06-26 09:33] nightcrow100 opened #48312 "Can not send commands to nxos proxy minion"
I have installed two clean devices and this is what I did to try and get my nxos proxy up and running.

On minion:
Installed salt-minion
configured `/etc/salt/proxy` with the id of my master

On Master:
created `/src/pillar` directory
in `/src/pillar` i created `top.sls`:
[code]

[2018-06-26 09:55] wrigtim commented on #32388
Me too 👍

[2018-06-26 10:18] gcamus commented on #48263
@Ch3ll, Do you have enough details to unblock this issue ?

[2018-06-26 10:42] zerthimon commented on #48204
The module now only works well with `- password:` setting and only if 'default_authentication_plugin = mysql_native_password' is set in mysql (but that's not the default setting for mysql 8.0.11).
The '- password_hash' doesn't work regardless of authentication plugin config.

[2018-06-26 11:00] jyurdal commented on #48266
Yes it works in 2018.3.1
Thanks :)

[2018-06-26 11:00] #48266 closed

[2018-06-26 11:57] rbjorklin commented on #45339
Upgraded to 2018.3.1 today and we're hitting this (or something very similar). Turning on `key_cache` initially seemed to help but the problem came back. For orchestration `key_cache` never seemed to make any difference. The log below is from `salt-run state.orchestrate <our orchestration>`. Running the failing state outside of orchestration on the host works when it's not giving us: `Minion did n

[2018-06-26 11:59] isbm commented on #48224
@bmwiedemann
I am not sure we want this, as it will end up with some sort of `pkg.install` trimmed remake in Bash that would attempt to bootstrap minimum requirements (and will fail elsewhere). You example isn't any heterogeneous, but mono-diverse, if I can express it right: you're just enumerating "Linuxes". But from the Salt perspective please keep in mind that this should support not just parti

[2018-06-26 12:05] #35028 closed

[2018-06-26 12:36] Garagoth commented on #36668
Not sure if this is a best method, but can be accomplished like this:
[code]
Data will then contain whole contents of your_variable as python dict...

[2018-06-26 13:05] #35479 closed

[2018-06-26 13:05] #29160 closed

[2018-06-26 13:12] zerthimon commented on #48204
@rallytime There is also problem with grants is this a known problem ?

[code]

[code]
The grants are created correctly, but then the comparison fails...

[2018-06-26 13:55] ralex opened #48316 "Wrong init system used in virtual module "service" on Manjaro"
### Description of Issue/Question

I have installed a salt master+minion on my Manjaro setup.
The init system used for `service` module seems to be sysvinit despite systemd has been detected on the minion.

Also, I have tried to fix this behaviour by modifying salt/modules/service.py.
Adding `'Manjaro'` in this list helped to "make it work":
[code]

### Steps to Reproduce Issue
[code]

Some releva

[2018-06-26 14:08] DmitryKuzmenko commented on #48316
As for me it looks it's better to use 'os_family' grain value. In this case we'll have the only base distros to set in the `disabled` list.

[2018-06-26 14:40] bhanukumar22 commented on #43147
My bad, had forgot to mention within single quotes. Fixed now. Closing the issue.

[2018-06-26 14:40] #43147 closed

[2018-06-26 15:18] xuhcc opened #48318 "state.sls_id executed locally with salt-ssh"
### Description of Issue/Question

`state.sls_id` executes `cmd.run` on local machine instead of remote when salt-ssh is used.

### Setup

maintenance.sls

[code]

### Steps to Reproduce Issue

[code]

Returns local system info.

### Versions Report

[code]

[2018-06-26 16:18] gtmanfred commented on #48302
Can you upgrade to 2018.3.2 on your master? there was a bug that 2018.3.1 that could be causing this.
https://github.com/saltstack/salt/issues/48130

Thanks,
Daniel

[2018-06-26 16:21] gtmanfred commented on #48303
This is kind of a duplicate of https://github.com/saltstack/salt/issues/18510 but not quite.

Thanks for the request.
Daniel

[2018-06-26 16:29] gtmanfred commented on #48311
Thanks for reporting.

A PR to fix this would be greatly appreciated.

Thanks,
Daniel

[2018-06-26 16:31] gtmanfred commented on #48307
Thanks for the PR to fix this.
Daniel

[2018-06-26 16:34] gtmanfred commented on #48316
Sounds like Manjaro changed their name in os-release or something again. They have done this before.

PR would be welcome to fix this.

Thanks,
Daniel

[2018-06-26 16:37] gtmanfred commented on #48312
make sure you set multiprocessing to False.

I would highly recommend using a different proxy minion module for nxos, because this one hasn't been touched in a while, and the napalm modules are a quite a bit better.

And nxos is supported by napalm.

http://napalm.readthedocs.io/en/latest/support/nxos.html

@mirceaulinic can you help with this? as while i wrote the nxos proxyminion, i have no acce

[2018-06-26 16:39] #47684 closed

[2018-06-26 16:41] gtmanfred commented on #48312
Also, what does it say in the proxy minions log if you set `log_level: debug`?

[2018-06-26 16:54] djsly commented on #46689
@garethgreenaway  logs were provided, you need anything else ?

[2018-06-26 17:01] davidscholberg commented on #48306
@gtmanfred It seems like https://github.com/saltstack/salt/pull/48319 addresses the `gen_id`function, but what about the `save_load` function I mentioned above?

[2018-06-26 17:05] #31118 closed

[2018-06-26 17:18] mirceaulinic commented on #48312
Yes, please assign this issue to me Daniel and I will try to look at the
nxos modules this summer (didn't ever play with them, so it might be a good
opportunity).

On Tue, Jun 26, 2018, 17:37 Daniel Wallace <notifications@github.com> wrote:

[2018-06-26 17:21] Ch3LL opened #48320 "m2crypto python3 corrupt public key"
### Description of Issue/Question
When using m2crypto python3 alongside >=2018.3.1 python3 versions I see this error when accepting the minion key:

[code]

And then going forward I cannot run any commands against that minion.

[code]

### Steps to Reproduce Issue
1. install m2crypto: `yum install python34-m2crypto`
2. install python3 salt-master/salt-minion
3. point minion to master.
4. accept ke

[2018-06-26 18:11] dvenckus commented on #48277
In putting together the VM, I removed the 'dev' environment and dumbed it down to just the 'base' environment.  That seemed to have no effect.  The same errors occurred.  I included 5

states in the common init.sls so that running....

[code]
should reproduce the same outcome.  I also removed any personal or sensitive info.

I tried zipping the VM as a 7z ( you don't allow those for file attachmen

[2018-06-26 18:22] gtmanfred commented on #48312
I am pretty sure they still work, though it isn't as documented, it just needs to make sure multiprocess is set to False, and again, we probably need logs from @nightcrow100 before we can know what is actually failing.

If this statement is true
[code]

Then the multiprocess stuff is probably the problem.

[2018-06-26 18:34] gtmanfred commented on #48306
save_load added to that.

[2018-06-26 18:43] astronouth7303 commented on #48302
This is blocked until 2018.3.2 is actually released.

[2018-06-26 19:05] #35561 closed

[2018-06-26 21:05] #19417 closed

[2018-06-26 21:11] davelindquist-egistix commented on #47486
If I read this PR correctly, it doesn't quite work as desired?

The problem code:
[code]

The solution simply moves the ```error=False``` prior to the ```try``` -- but shouldn't the solution look more like:

[code]

to capture the intent?

[2018-06-26 22:22] garethgreenaway commented on #48277
@dvenckus Got the image and taking a look.  And I see the errors now.  Thanks!

[2018-06-26 23:05] #35556 closed

[2018-06-27 00:05] #28436 closed

[2018-06-27 01:07] damon-atkins commented on #32846
.

[2018-06-27 03:59] boltronics commented on #33624
Just hit this on 2017.7.4. The [docs](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.iptables.html#salt.states.iptables.insert) make no mention that `position` is a required argument. If the current behaviour is considered to be ideal, the docs should be updated to reflect this intended behaviour.

However I feel this is far from ideal. From the `iptables` man page:

I imagine mos

[2018-06-27 05:26] jiansongjay opened #48333 "salt-api return 500 when run couple of days, but become work after restart salt-api"
### Description of Issue/Question

### Setup
master.conf
[code]

salt-api.conf
[code]

### Steps to Reproduce Issue
Request:
`curl -k http://10.10.100.1:8000 -H "Content-type: application/json" -H "X-Auth-Token: 8441d4b7c2eb83e748f541d68b6f1514a6d8a8fa" -d '{"client":"local","tgt":"test-10-30-54-33-vm","fun":"cmd.run","arg":"w","timeout":60}'`

Response:
[code]

### Versions Report
[code]

[2018-06-27 06:09] dcharbonnier commented on #48281
same problem for me and yes a test.ping return all minion, this salt is running since more than 2 years, the only problem I found is cache.grains (first time I use it)

[code]

[2018-06-27 07:29] nightcrow100 commented on #48312
Apologies - as discussed with @mirceaulinic multiprocessing is set to False. Just forgot to include it here as part of my configuration.

@gtmanfred In terms on the `-l debug` it would just hang at:
`Terminal Command: /bin/sh -c ssh -l <USER> <SWITCH_IP>`

[2018-06-27 07:30] dcharbonnier commented on #48281
The __role is master here resulting on this bug/behavior :
https://github.com/saltstack/salt/blob/v2018.3.1/salt/utils/minions.py#L242
this opt is coming from here
https://github.com/saltstack/salt/blame/v2018.3.1/salt/runners/cache.py#L57
https://github.com/saltstack/salt/blob/v2018.3.1/salt/utils/master.py#L97

It you overwrite the __role anywhere it start "working" but I have no understanding o

[2018-06-27 08:33] Poil opened #48334 "cmd.script, remote source goes into /tmp"
Hi,

When using cmd.script with a remote source, the uploaded file goes to /tmp. So when having something like a self executable we saturate this folder.

Is there any way to switch to /var/tmp without predownloading the file to a specific location ?

Best regards

[2018-06-27 08:36] Poil opened #48335 "cmd.script and creates as dependancy"
Hi,

When declaring a cmd.run or cmd.script that "creates" a file, this file cannot be use as a dependency.
I come from Puppet and this seems to be unnatural, is this the expected behavior ?

Best regards

[2018-06-27 10:14] JuanManuelVizcainoAbad opened #48336 "file.directory"
### Description of Issue/Question

When salt generate a file in a state file, the specials permissions are not correct applied
If execute a second time, salt apply correct permissions.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
----------
          ID: /root/ap

[2018-06-27 10:35] rosscdh commented on #47486
Yes you could do it like that. I tend to prefer setting a default for a variable outside of any try catch clause which can then be overridden in a limited scope. as per the PR.. but the actual implementation is up to you :)

[2018-06-27 12:33] kiemlicz commented on #30971
Also suffering from this bug
Do you have any updates about this?

[2018-06-27 13:07] davelindquist-egistix commented on #47486
Right - the setting before or inside the try is just a matter of preference :-)

However, what I was getting at was the missing ```error = True``` -- if I read the PR correctly, ```error``` is guaranteed to always be ```False```?

[2018-06-27 13:14] Arendtsen commented on #48320
I have run into the same error.
Same conditions as well.
Open mode does not work as a workaround.

**Versions report:**
[code]

[2018-06-27 13:32] gtmanfred commented on #47486
It will always be False if docker.inspect_image does not throw a CommandExecutionError or other exception.

[2018-06-27 13:32] gtmanfred commented on #48312
Can you provide the entire debug log?

Thanks,
Daniel

[2018-06-27 13:43] davelindquist-egistix commented on #47486
Maybe I'm missing something then...

The error that I see in the code (and that I encountered in practice, and that seems to be this issue) is that:
- The docker inspect image command fails
  - Therefore, the ```error=False``` that occurs after this doesn't get hit
- And there is no ```error=(anything)``` in the catch statement
  - Therefore ```error``` is unset at the following ```if```

The fix

[2018-06-27 13:47] gtmanfred commented on #47486
Sorry, i was looking at what you had posted first, and thought that is what the pr was changed too, yes you are correct, what you listed is what this should be changed too, otherwise error is always set to False. and never set to True.

[2018-06-27 13:51] davelindquist-egistix commented on #47486
OK, no worries!  Thanks!

[2018-06-27 14:39] rbjorklin commented on #45339
FYI: Our issues seem to have been greatly alleviated by setting `gather_job_timeout` higher than the runtime of any states.

[2018-06-27 14:53] chewborg commented on #48265
Hi. Didn't mean to take so long replying. The data is licensed so I really did needed to sanitise it. It contains Unicode characters (as Gaeilge or Irish). I tried to replace all Alpha characters with 'X' but then the file would transfer ok, so it's seemed likely it was somehow related to the unicode characters (fada over vowels). I've now an anonymised data file with just ascii alpha characters r

[2018-06-27 15:10] GitHubAre opened #48338 "Requisite - executing cmd when watched state has not changed"
### Description of Issue/Question
Hello,

I have ran into a strange scenario, where I would like to execute a powershell script when a state that this script depends on does not perform any changes.

Right now there is a **Watch** or **Onchanges** requisite that is executing state (script) when the watched state has changed.

I am using this "weird" behavior in startup sls file.

### Setup
I have

[2018-06-27 16:50] Ch3LL commented on #48333
if you remove `  debug: True` from your cherrypy config do you still see this issue?

[2018-06-27 17:08] Ch3LL commented on #48335
can you elaborate on what you mean by "cannot be used as a dependency"? Not quit sure what you are trying to do

[2018-06-27 17:47] rallytime commented on #48038
This is fixed in the 2018.3.2 release, which came out today.

[2018-06-27 17:47] #48038 closed

[2018-06-27 17:53] #35531 closed

[2018-06-27 17:53] #35590 closed

[2018-06-27 17:53] #34718 closed

[2018-06-27 17:57] #48025 closed

[2018-06-27 17:58] #48012 closed

[2018-06-27 17:59] #48122 closed

[2018-06-27 18:18] whytewolf commented on #46644
ZD-2644

[2018-06-27 18:20] whytewolf commented on #46644
I can confirm that installing `python-certifi-win32` fixes the issue.

[2018-06-27 18:35] akbhat commented on #46905
Any luck figuring this out?

[2018-06-27 18:49] Ch3LL commented on #48336
looks like i'm able to replicate this just simply using hte `file.managed` state below:

[code]

do you know if this was ever previously working? I am seeing the same behavior on 2017.7.3 as well.

[2018-06-27 18:53] #35574 closed

[2018-06-27 19:19] dosercz opened #48341 "Salt doesn't work if cffi 1.2.1 is installed"
We have upgraded Debian to Stretch and after that salt stops working on one of our servers. Remote call via salt-ssh fails too with same error. I have tried salt-ssh from salt-master and it works only until salt-minion is installed. Problem is with probably broken cffi 1.2.1, which was installed on this server with salt-minion by default.
Solution: delete cffi packages manually from /usr/local/lib

[2018-06-27 19:36] Ch3LL commented on #48338
hmmm interesting I don't think we have a requisite that will run only if there are no changes. Can you just use an onlyif instead?

For example in your powershell script make sure you add a file or something like that
adn then in the `file.managed` state you can add an onlyif logic to check for that file

[2018-06-27 19:47] jeffclay opened #48342 "UnicodeDecodeError when using cache mysql"
### Description of Issue/Question
I configured mysql cache. The master was able to contact the mariadb server and create the specified table in the correct db but the salt masters log file is spammed with the error below.
[code]

### Setup

localectl status
   System Locale: LANG=en_US.UTF-8
       VC Keymap: us
      X11 Layout: us

### Versions Report
[code]

[2018-06-27 19:48] bornwitbugs opened #48343 "CPU Beacon TypeError"
### Description of Issue/Question
On initial salt-minion start if `emitatstartup` is set to False in your beacon config the following shows up in your minion log:

[code]

Seems to be true both in 2018.3.1 and 2018.3.2 though those are the only versions I've tested.

### Versions Report

[code]
### Beacon SLS

[code]

### Steps to Reproduce Issue

Enable cpu beacon with `emitatstartup: False`.  Re

[2018-06-27 19:51] Ch3LL commented on #48341
im having a hard time replicating this. Can you clarify what you are attempting to do when you see this error? running a certain command, etc

[2018-06-27 19:58] Ch3LL commented on #48334
you can specify `cwd=/var/tmp` and it will download and run the file from there.

[2018-06-27 20:01] Poil commented on #48334
Thanks

[2018-06-27 20:01] #48334 closed

[2018-06-27 20:02] Ch3LL commented on #48343
ping @garethgreenaway mind giving a review of @bornwitbugs 's proposed change

[2018-06-27 20:08] dgengtek commented on #32365
This issue is still relevant. It is not possible to require and reload modules with pyobjects renderer since like mentioned above the objects do not exist when pyobjects renders the state and fails with the NameError.

[2018-06-27 20:09] Ch3LL commented on #48342
can you share a sanitized version of your mysql cache salt master config to help replicate the issue?

[2018-06-27 20:51] teran-mckinney commented on #48122
Fantastic. Thank you, everyone!

[2018-06-27 20:57] dvenckus commented on #48277
I downgraded to version 2017.7.6 and the same problem is happening.

However, version 2017.7.4 is working as expected.

[2018-06-27 21:28] binocvlar commented on #46905
@akbhat - for what it's worth, I used pip to upgrade pyzmq to version 17 (as recommended by @isbm on April 12), and found this to be a suitable workaround for the time being:

[code]

[2018-06-27 21:30] jeffclay commented on #48342
[code]

[2018-06-27 21:40] Helique commented on #46665
I have the same need.

[2018-06-27 22:53] #35588 closed

[2018-06-28 02:05] garethgreenaway commented on #48277
Thanks. I've narrowed it down to something in your custom module called calling pillar.get with the saltenv parameter. Without that parameter it works as expected but with it it does not. With the versions I'll run through a git bisect and try to narrow down the issue. Thanks!

[2018-06-28 03:35] gfraetis commented on #6896
+ 1

[2018-06-28 05:06] CDSRV commented on #8098
https://docs.saltstack.com/en/latest/topics/reactor/#where-to-put-reactor-sls-files

it seems reasonable and consistent to supply a parameter for search paths rather than repeat the path prefixes everywhere.

[2018-06-28 05:11] garethgreenaway commented on #48277
Quick question. How were you using this setup with 2017.7.4 and the calls to pillar.get?  That parameter wasn't available for that function in that release.

[2018-06-28 05:15] dvenckus commented on #48277
We've been successfully using it since 2016.3. It's in the documentation

[2018-06-28 06:20] JuanManuelVizcainoAbad commented on #48336
Hi
I newer used before, this state is new.
To try, i'm execute the same state in salt 2016.11.5 (Carbon) a never apply the suid permission.

Thanks

[2018-06-28 06:55] nightcrow100 commented on #48312
Unfortunately not.

That environment doesnt have access to the internet/outside.

Ill be happy to answer any questions though.

[2018-06-28 08:31] martintamare commented on #46905
Hello there, not sure but I think I've got an issue related to this.

Context
Minion send an event
Reactor catch the event and launch a runner
Runner is calling caller and vault module to write some secrets

[code]

It works fine a couple of time and then
[code]

I think the underlying issue is that the module `vault.write_secret` itself calls a runner as well.

Any thought on that ?

[2018-06-28 08:47] elvinasp opened #48350 "Grain uuid missing on Linux host without dmidecode, although core.py should read it from file"
### Description of Issue/Question
When creating asset inventory states I have noticed, that CentOS 6 Linux host is missing "uuid" grain item. Further inspection and some search in salt issue lists suggested that missing _dmidecode_ might be the case and it seems this is true. However Salt grain core.py has a function _hw_data(), which supposed to read uuid value from sysfs file and this function s

[2018-06-28 11:00] GitHubAre commented on #48338
Can I execute inline PowerShell inside the onlyif?
I think by default it will be cmd.exe on Windows.

I tried this:
[code]

and this:
[code]

But result was always:
[code]

Even when environment variable is_pagefile_setup_finished is existing and has value of true

[2018-06-28 11:05] isbm commented on #46905
@akbhat yeah, sorry about that. But if you are on PIP, then there is no much reasons not to upgrade. I would understand if you are on some enterprise-like OS where only validated vendor-supported patches are allowed...

[2018-06-28 12:41] seeafish commented on #47258
@gtmanfred I still need use the workaround in both 2017.7.6 and 2018.3.1 for some reason. I also get errors when I use the workaround.

Firstly, here's the installation log entry:
` *  INFO: Command line: '/tmp/kitchen/bootstrap.sh -P git v2018.3.1'`

The following are from a random `service.xyz` call
With workaround:
`Comment: Failed to start the service`

Without workaround:
`Reason: 'service' _

[2018-06-28 13:02] brejoc opened #48351 "Permission mismatch when using salt-ssh while salt-master is running under user salt"
### Description of Issue

If you are running SaltStack under a non-root user (e.g. `salt`), the job-cache in `/var/cache/salt/master/jobs` is created with the ownership `salt:salt`. If you are now running a job with `salt-ssh`, the job cache entry that is being created has the ownership `root:root`. Seems like `salt-ssh` is not dropping privileges.

Is this behaviour intended? Shouldn't `salt-ssh`

[2018-06-28 13:25] rallytime commented on #48336
@garethgreenaway Can you add this to your list to fix?

[2018-06-28 13:33] Ch3LL commented on #48320
@Arendtsen as a workaround if you don't need m2crypto you can uninstall as its just an optional crypto library for salt. The default that is installed is pycrypto.

[2018-06-28 13:42] gtmanfred commented on #47258
What does your --versions-report look like?

[2018-06-28 13:44] rallytime commented on #32365
Thanks for updating this @dgengtek!

[2018-06-28 13:50] aaronlauterer opened #48353 "Zpool.present with raid layout fails via salt-ssh, 2018.3.2"
### Description of Issue

When running `zpool.present` via `salt-ssh` with a layout more complex than just a list of disks it will fail with:
[code]
Running the same state via `salt-call --local state.apply ...` works fine as does a regular salt call, e.g. `salt minion state.apply ...`.

I did modify the `states/zpool.py` in the delivered payload and added the following lines between line 130 and

[2018-06-28 13:52] #48316 closed

[2018-06-28 13:56] Arendtsen commented on #48320
@Ch3LL Great thanks.
I will try to uninstall it - it was installed for being able to handle certificates.
Thanks. 👍

[2018-06-28 13:58] Ch3LL commented on #48320
awesome :)

also i have a possible fix:

[code]

But I'm still working on it as some m2crypto tests are failing so i wouldn't add the fix quit yet. but working on it right now

[2018-06-28 14:12] jfoboss opened #48355 "salt-api return 500 when trying to run the job"
### Description of Issue/Question
We are unable to use CherryPy after updating to 2018.3.2 (`SaltClientError: Authentication error occurred.`).

### Setup
[code]

### Steps to Reproduce Issue
Try to run the job on 2018.3.2 which works perfect on older releases and get:
[code]

### Versions Report
[code]

[2018-06-28 14:38] kivoli opened #48357 "Regression: salt-ssh ignoring pillar_merge_lists in master configuration in 2017.7.6"
### Description of Issue/Question

When using `salt-ssh` with Salt 2017.7.6 (worked with 2017.7.5) the option `pillar_merge_lists: True` is ignored if it is set via the master configuration. This may be a symptom of a wider issue but that’s how we got bitten.

In contrast setting it via `minion_opts` in `/etc/salt/roster` does work.

### Setup

I used Vagrant with the libvirt provider to set up a

[2018-06-28 16:30] jfoboss commented on #48355
Sorry, found misconfuguration - everything is working great! Sorry for inconvenience.

[2018-06-28 16:30] #48355 closed

[2018-06-28 17:05] garethgreenaway commented on #48350
@elvinasp Thanks for the report.  It seems like the UUID should be able to be grabbed without the need for dmidecode, the only question I would have is whether this is supported on other systems that don't have the `/sys` filesystem.

Here is a good explanation and example of writing a custom grain module that might be helpful for what you're trying to do.

[2018-06-28 17:12] garethgreenaway commented on #48351
@saltstack/team-core Thoughts?

[2018-06-28 17:18] twangboy commented on #46644
The only thing I can think of to do here is a separate Salt build that uses the system certificate store using `python-certifi-win32`. @rallytime @UtahDave ?

[2018-06-28 17:22] kiemlicz commented on #48285
Thank you for response, please let me present my point of view.

I agree about `require` relation however it is not that clear with `onfail`
Currently retries are part of the single state execution and can cause **only one** `onfail` execution.
However I think that more natural would be having as many `onfail` executions as failures within retries

Example (I would expect three different temp file

[2018-06-28 17:22] garethgreenaway commented on #48353
@sjorge Any thoughts on why this would have different results over salt-ssh?

[2018-06-28 17:33] rickh563 commented on #47539
ZD-2593

[2018-06-28 17:43] cro commented on #34132
It is not possible currently to have 1 proxy handling multiple devices.

[2018-06-28 17:49] garethgreenaway commented on #48277
@dvenckus Apologies, I had checked out the wrong tag.  Seeing it working as expected with 2017.7.4 now.  Thanks!

[2018-06-28 17:53] frogunder commented on #42659
@rallytime this is working for me now with that fix

[2018-06-28 18:06] sjorge opened #48360 "salt fileserver does not like cache with date in future"
### Description of Issue/Question
I dropped a new beacon I am working on in file_root/_beacons (also tried _beacon).
```salt \* saltutil.sync_beacons``` or ```salt \* saltutil.sync_all``` are not picking it up.

Checking the local cache on the minion where they should en up, I do not see a _beacons directory. Other directories for _modules and _states show up and get synced correctly.

### Setup
n

[2018-06-28 18:19] Ch3LL commented on #47361
and do you know if it was working on previous versions?

[2018-06-28 18:21] Ch3LL commented on #48111
im refering to the initial issue.

[2018-06-28 18:59] terminalmage commented on #47732
I've opened https://github.com/saltstack/salt/pull/48361 to implement the retcode handling discussed here. Per some additional discussion with @mattp- I added logic to check the the return value for the function to see if it is a dict with either a `return` or `success` key, and use those to determine success or failure.

The body of the PR message contains some further points of discussion, I wou

[2018-06-28 20:17] Ch3LL commented on #35595
@srkunze thanks for bumping this for me. Looks like i'm able to replicate this. I'm working on a fix right now.

[2018-06-28 20:39] rallytime commented on #42659
@frogunder Fantastic! Thank you for confirming.

[2018-06-28 20:39] #42659 closed

[2018-06-28 20:43] Mrten commented on #24070
...

[2018-06-28 20:54] cro opened #48366 "Modify nxos proxy minion to support regular expression for prompts"
### Description of Issue/Question

When using the nxos proxy minion to upgrade switch firmware, the switch will ask for confirmation before beginning the upgrade.  Currently the proxy minion looks for the switch CLI prompt to know if it can send the next command, and this prompt style is mostly hardcoded into `proxy/nxos.py`, and does not match the confirmation prompt.  As a result, firmware upgra

[2018-06-28 21:42] austinpapp commented on #32488
please reopen this. this is very much needed.

[2018-06-28 23:17] #48276 closed

[2018-06-29 00:35] damon-atkins commented on #47732
Consider what I did with windows `pkg.refresh_db failhard=False --out json`   which was to output result as data even if it failed and the user is responsible for checking the data return with some other program.  The problem with raise CommandExecutionError etc is the output is no longer a valid data structure.

[code]

[code]

[code]

An alternative might be to change the structure of the output

[2018-06-29 00:41] damon-atkins commented on #47732
Consider what I did with windows `pkg.refresh_db failhard=False --out json`   which was to output result as data even if it failed and the user is responsible for checking the data return with some other program.  The problem with raise CommandExecutionError etc is the output is no longer a valid data structure.

[code]

[code]

[code]

An alternative might be to change the structure of the output

[2018-06-29 02:37] terminalmage commented on #47732
There are no plans to modify existing code to raise an exception, this was an initial suggestion.

[2018-06-29 02:40] akbhat commented on #46905
@isbm I upgraded pyzmq to ver 17.0 and then installed 2017.7.6. Now I see a completely different error which may or may not be related though I tried the same install with 2017.7.5 and pyzmq 15.2 and it works without error. Here is the error I am encountering:

     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/usr/lib/python2.7/dist-packag

[2018-06-29 03:18] asenci opened #48367 "salt.proxy.fx2: dictionary changed size during iteration"
### Description of Issue/Question
The "chconfig" function inside the salt.proxy.fx2 module causes a Python runtime error trying to modify the kwargs dictionary while iterating over it:

Looks like the same situation as issue #46765.

I haven't tested, but I'd expect the following modules to have the same behaviour:

salt.modules.nxos, line 62:
[code]

salt.modules.cisconso, line 152:
[code]

salt.

[2018-06-29 05:19] elvinasp commented on #48350
Well regarding /sys filesystem, as far as I see in core.py file, this code block is explicitly limited to Linux systems. Somehow I suspect that the following statement becomes false and code falls back to dmidecode part:
`if osdata['kernel'] == 'Linux' and os.path.exists('/sys/class/dmi/id'):`

As path clearly exists and check returns true, the only suspect left is osdata dict, but I have no idea

[2018-06-29 08:57] isbm commented on #46905
Aren't we're talking about 2018.3?

[2018-06-29 09:06] DmitryKuzmenko commented on #48351
If I'm not wrong salt-ssh logs in as the user set in roster and works as that user doing nothing with privileges. So if you'd like to run it as `salt` user configure it to log in by ssh and set `user: salt` in the roster file.

[2018-06-29 09:10] brejoc commented on #48351
@DmitryKuzmenko This is not about the user that is used to login to the target minion. This is about the user that is use to run `salt-ssh` itself.

[2018-06-29 09:31] seeafish commented on #47258
[code]
For reference, running this in kitchen-docker at the moment.

[2018-06-29 09:36] jatorvi opened #48370 "2017.7.6 breaks zeromq"
### Description of Issue/Question
update from 2017.7.5 to 2017.7.6 breaks zeromq on salt-master when trying to run caller.cmd.run from reactor on debian 9 py2. local.cmd.run silently fails.
`salt-call cmd.run cmd=` works as expected, as does `salt 'target' cmd.run cmd=`

### Setup
[code]
### Steps to Reproduce Issue
`salt-call event.send what/ever/triggers/reactor`

resulting error from journal:
[

[2018-06-29 12:24] Poil opened #48372 "umount & remove from fstab, error on 2nd run"
Hi,

I have this in /etc/fstab
`/tmp /var/tmp none rw,nodev,nosuid,bind 0 0`

When I try to umount it and remove from fstab all is working fine on the first run, but on the second run I have an error, `umount: /var/tmp: not mounted. fstab entry for device /var/tmp not found`

[code]

I'm unable to find how can I avoid this error, it doesn't seem to have a force option or something like that

Best

[2018-06-29 12:28] Poil commented on #48335
If I do this

[code]

When I use a require I can do `require: myapp_openssl`, but the resource have created  "/opt/openssl_{{ myapp.pkg.openssl.version }}/bin/openssl", so the first time I wrote : `require:  "/opt/openssl_{{ myapp.pkg.openssl.version }}/bin/openssl"` but this resource does not exist.

Best regards,

[2018-06-29 12:28] #48335 closed

[2018-06-29 13:19] DmitryKuzmenko commented on #48370
@jatorvi is it possible for you to try to do a small manual change on the master and check will it fix the issue?

Here's the change I'm talking about:
[code]

[2018-06-29 13:33] gtmanfred commented on #48366
Seems reasonable.

[2018-06-29 13:41] gtmanfred commented on #48367
Thanks for the pr to fix this!
Daniel

[2018-06-29 13:41] #48367 closed

[2018-06-29 13:50] gtmanfred commented on #48351
I think it would be reasonable to do a setuid down to the `user` to run salt-ssh, which would require forking off a new process.

But we already have the stuff available to fork off the process, and then listen to the event bus for the job returns, just like with LocalClient.

[2018-06-29 13:51] gtmanfred commented on #47258
That says you are still using 2018.3.1.

yeah if you are in docker, and don't set your exec command to an init system, then you cannot use the service module.

Check out the .kitchen.yml for saltstack/salt, we have each docker setup to handle starting with systemd or upstart.

[2018-06-29 13:56] gtmanfred commented on #48360
I am unable to replicate this.

[code]

Are you putting the beacon in the 'base' fileroot? or another file root?

[2018-06-29 13:58] sjorge commented on #48360
I have 2 file roots, one just has all the extra modules.

Everything is picked up except the beacons.

[2018-06-29 14:03] pganssle opened #48374 "Typo dependency on "dateutils" (SmartOS only?)"
### Description of Issue/Question

It seems that you have [`dateutils`](https://github.com/saltstack/salt/blob/develop/setup.py#L1098) in your `setup.py`. That refers to [this package](https://pypi.org/project/dateutils/) which is almost certainly not what you wanted. I'm guessing you wanted [`python-dateutil`](https://pypi.org/project/python-dateutil/) and made a mistake about the package name. S

[2018-06-29 14:04] sjorge commented on #48360
There is no difference if I put them in /salt/states/_beacons, that results in the same thing.

[2018-06-29 14:12] gtmanfred commented on #48360
Unfortunately I am unable to replicate this.

Can you do `salt-call cp.list_master prefix=_beacons` and see what it returns?

Also, check the minion extmod cache directory.

Thanks!
Daniel

[2018-06-29 14:21] sjorge commented on #48360
[code]

So salt is not even finding the directory!

[2018-06-29 14:24] sjorge commented on #48360
Interesting! I noticed all my other modules are now also no longer synced! Event those that show up with cp.list_master!

[2018-06-29 14:24] jatorvi commented on #48370
you mean self.io_loop right?
diff to /usr/lib/python2.7/dist-packages/salt/utils/event.py:
[code]
Seems to work! No errors/traces and the command gets executed, and consecutive events work so it does not hang after it or anything. Thanks!

with io_loop = ZMQDefaultLoop.current() gives lots of errors only by starting master :)

[2018-06-29 14:30] DmitryKuzmenko commented on #48370
@jatorvi thank you. It's not a solution, just wanted to ensure I'm thinking in the right direction.

[2018-06-29 14:31] sjorge commented on #48360
Ok so cp.list_master is not picking up any new files I add... anyway to debug this to figure out why? Nothing in the log for master/minion.

[2018-06-29 14:33] DmitryKuzmenko commented on #46905
[code]

This one looks related to #48370.
We have to avoid using of direct `IOLoop` construction in `salt.utils.event`. Also we have to call `install_zmq()` somewhere in runners. We done it in master and minion processes, but not in engines that is the problem.

[2018-06-29 14:35] jatorvi commented on #48370
Ok, I've quickly fixed reactors to use local.cmd.run and target minion running on master. That can be workaround until proper fix.

[2018-06-29 14:37] rallytime commented on #23794
Still relevant.

[2018-06-29 14:39] gtmanfred commented on #48360
Well, that explains why it isn't syncing them... now to figure out why they aren't finding them...

[2018-06-29 14:39] sjorge commented on #48360
I removed file_list and roots from /var/cache/salt/master and now cp.list_master picks up the _beacons directory.

[code]

off-topic: The amount of type I have typed `bacon` instead of beacon is ridiculous!

[2018-06-29 14:41] gtmanfred commented on #48360
That is super bizarre... so it is working now?

[2018-06-29 14:41] gtmanfred commented on #48360
Also yes, i have typed bacon a couple times too. ha

[2018-06-29 14:43] sjorge commented on #48360
It's working now, and picking up new test files as I add them. Based on the timestamps of those dirs I cleared in the cache. They have not been update since I switched to 2018.3.1 from 2018.3.0...

I think we can close this for now, but still super weird it stopped picking up new files. Could one of the cache files in there have gotten corrupt?

[2018-06-29 14:46] gtmanfred commented on #48360
That I do not know, @terminalmage can you think of something that might have happened with the fileserver here?

Thanks,
Daniel.

[2018-06-29 14:52] Ch3LL commented on #48078
actually looks like i might need to fix it, one sec. but once i refine the fix you would need to just edit the file with the patch. you can use `git apply <git-diff>` if you grab the diff from the PR. but let me dive into a better fix before that :)

[2018-06-29 15:54] Ch3LL commented on #48263
hmmm i cant seem to get this to even work in 2016.3.4 to try to bisect this issue. Are there any other configurations you have set?

ping @terminalmage your more familiar with this area any ideas here?

[2018-06-29 16:03] Ch3LL commented on #48318
i'll assign this to myself and take a look next week :)

[2018-06-29 16:14] Ch3LL commented on #45339
can you check the CPU usage related to this: https://github.com/saltstack/salt/issues/48241

[2018-06-29 16:21] Ch3LL commented on #48265
can you email it to me or share it with me through my email through google drive or some other storage mechanism if it is bigger then the email size limit? mwilhite@saltstack.com

[2018-06-29 16:30] Ch3LL commented on #48341
is cffi installed on the minion you are salt-sshing into or on the master? Also in the original report i dont think you included the entire traceback, can you paste that here?

[2018-06-29 16:34] rbjorklin commented on #45339
We have not noticed any CPU usage problems. #48241 seems to be relating to py3, we are on py2.

[2018-06-29 16:47] methane commented on #45026
I found, salt disables unicode for PY2, but it is disabled for PY3 too.
https://github.com/saltstack/salt/blob/7d41e035f55a21c949a1d75a4e8da22db604f34a/salt/modules/mysql.py#L316-L323

[2018-06-29 18:13] #46981 closed

[2018-06-29 19:55] gtmanfred commented on #48374
@sjorge can you take a look at this?

Thanks,
Daniel

[2018-06-29 20:53] austinpapp commented on #32488
thanks @rallytime 👍

[2018-06-29 21:24] mirceaulinic commented on #48312
@nightcrow100 can you confirm if @cro's patch from https://github.com/saltstack/salt/pull/48378 fixes your issue as well?

[2018-06-29 22:53] rickh563 opened #48390 "SIGTERM -- Return error when salt-minion service/process receives a SIGTERM -- Feature Request"
### Description of Issue/Question

Currently, when salt-minion service/process receives a SIGTERM, it just exits.
It leaves all the running jobs in orphan state.

**Feature-Request**: Please return some kind of errors for those jobs before stopping the minion.

[2018-06-29 22:53] rickh563 commented on #48390
ZD-2652

[2018-06-29 23:03] sjorge commented on #48374
Yeah that should probably be python-dateutil.

[2018-06-29 23:11] rickh563 commented on #32488
ZD-2653

[2018-06-30 01:47] dvenckus commented on #48277
Goooooooooaaaaaalllll !!!!!
Both versions are working with multiple included states.  Well done!

[2018-06-30 06:57] #35549 closed

[2018-06-30 07:11] alister26 commented on #27066
I wish to show thanks to you just for bailing me out of this particular trouble.As a result of checking through the net and meeting techniques that were not productive, I thought my life was done.
[aws training in chennai](http://www.zerobugacademy.com/aws-training-in-chennai)
[advanced aws training in chennai](http://www.zerobugacademy.com/aws-training-in-chennai)

[2018-06-30 07:50] akaii78 commented on #41174
what is the aim you are looking to do with {{ grains.hostname }}?

[2018-06-30 12:58] #48029 closed

[2018-06-30 13:18] #48366 closed

[2018-06-30 15:58] aphor commented on #47258
There might be a good reason to add a note about Docker and containers with
and without init/service subsystem to the docs.

On Fri, Jun 29, 2018, 08:51 Daniel Wallace <notifications@github.com> wrote:

[2018-06-30 16:57] #35330 closed

[2018-06-30 18:57] #35633 closed

[2018-07-01 01:57] sugizo commented on #48078
seen the comment in https://github.com/saltstack/salt/pull/48304
fyi
[code]
no worries, pls let me know how to test it, btw never tried to install salt from github, might i know how to do it?
[code]
is it correct?

[2018-07-01 04:13] #45939 closed

[2018-07-01 08:48] #35649 closed

[2018-07-01 08:59] sjorge commented on #48360
Ok this sucks, salt stopped picking up new files again. After clearing those 2 dirs again it started working again?!

[2018-07-01 09:05] sjorge commented on #48360
Giving everything a `find /var/cache/salt/master -exec touch {} \;` also seems to fix the issue!

So something is probably doing a timestamp check? I had a quick look in the code but could not immediatly see where.

[2018-07-01 14:47] gtmanfred commented on #48360
My understanding is they should be synced if the hash changes, and touching a file should change the mtime, and I believe, change the hash.

Not sure why they would have stopped syncing before that though.

[2018-07-01 14:56] sjorge commented on #48360
In this case the hash timestamp was newer than the file timestamps due to the ntp issues... something that generates/checks the cache/hash is probably also checking timestamps.

[2018-07-01 19:36] garethgreenaway commented on #48336
Looks like the issue was in the file.py module, the ordering of when things were happening.  The `chmod` with the `setuid` was happening but the `chown` to the group (which was happening after the `chmod`) was wiping that out.  The change in those two PRs moves the `chmod` logic to be last.

[2018-07-01 19:48] #32930 closed

[2018-07-01 21:45] timwsuqld commented on #36354
This is still an issue in 2018.3.2

[2018-07-01 22:48] #34918 closed

[2018-07-02 09:44] #25134 closed

[2018-07-02 10:19] 1ricardo opened #48401 "Attrs - change file attributes doesn't work"
### Description of Issue/Question
Hello,
I noticed that the functionality of **file.managed -> attrs** doesn't work at all.

According with documentations on https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.managed

`attrs -  The attributes to have on this file, e.g. a, i. The attributes can be any or a combination of the following characters: acdijstuADST

[2018-07-02 10:44] #30845 closed

[2018-07-02 13:07] elsmorian opened #48402 "Running SaltStack master with no init system repeatedly logs "could not determine init system ""
### Description of Issue/Question
The info log of our salt master process are full of
`Could not determine init system from command line: (/bin/bash /usr/local/bin/docker_entrypoint.sh run_saltmaster)`
due to us running the salt-master process via su-exec, ie. without an init system.

I am aware of https://github.com/saltstack/salt/issues/46805 however it would be good if you could turn off salts

[2018-07-02 13:10] #48320 closed

[2018-07-02 13:22] #48274 closed

[2018-07-02 13:33] chewborg commented on #48265
Thanks Megan, I had a Dropbox I forgot about, shared now with you email address. If that is no good I can set up Google Drive?

[2018-07-02 13:35] Ch3LL commented on #40705
This was related to the VMs and not a problem with the package

[2018-07-02 13:35] #40705 closed

[2018-07-02 13:40] terminalmage commented on #48360
@sjorge if it's a brand new file, then the fileclient would have no reason to assume that the file was already downloaded, and would not skip caching it.

My guess is that you're running into an issue with the file list cache. Salt caches the results of getting the list of available files for a given environment, because a thousand minions all asking the master to walk `/srv/salt` at the same time

[2018-07-02 14:09] Ch3LL commented on #48401
you are looking at the latest docs and not 2017.7 which is the version you are using. This argument was added in this PR: https://github.com/saltstack/salt/pull/41554
which was included in 2018.3.0 and above. If you try the latest 2018.3 release does it work?

[2018-07-02 14:19] Ch3LL commented on #48402
This logic is already occurring in the core grains . One solution could be to lower the logging level of that message to debug. Then a user would only see it with debug. Does that resolve your use case?

[2018-07-02 14:40] dwickwire commented on #41174
We use it to distinguish which cron entries get provisioned for that specific server.  We have backup servers to switch to which are also the same production environment but we don't want cron tasks running on them until we actually switch.

I closed this because I was able to use `grains['host']` which I found by looking at @sebw suggested command.   I could probably use a different pillar but th

[2018-07-02 14:44] sjorge commented on #48360
The original one went days without updating it, how does it check the age of the cache file? if the timestamp is due to a ntp bug say 2039... does it age out before 2039? From what I see it does not.

(We should probably update the title of this bug though)

[2018-07-02 14:44] #27296 closed

[2018-07-02 14:44] #35736 closed

[2018-07-02 14:44] #35730 closed

[2018-07-02 14:44] #32435 closed

[2018-07-02 14:44] #35814 closed

[2018-07-02 14:44] #35762 closed

[2018-07-02 14:44] #35782 closed

[2018-07-02 14:44] #35790 closed

[2018-07-02 14:44] #34975 closed

[2018-07-02 14:44] #35883 closed

[2018-07-02 14:44] #35838 closed

[2018-07-02 14:44] #35843 closed

[2018-07-02 14:44] #18425 closed

[2018-07-02 14:44] #26309 closed

[2018-07-02 14:44] #35759 closed

[2018-07-02 14:44] #34160 closed

[2018-07-02 14:44] #35917 closed

[2018-07-02 14:44] #33470 closed

[2018-07-02 14:44] #35218 closed

[2018-07-02 14:44] #35887 closed

[2018-07-02 14:44] #35784 closed

[2018-07-02 14:44] #19996 closed

[2018-07-02 14:44] #35589 closed

[2018-07-02 15:02] nightcrow100 commented on #48312
Nope - doesnt look like it.

Masters still reports:
_get_event() waited 0 seconds and received nothing.
I have changed the timeout as well.

[2018-07-02 15:34] noelmcloughlin opened #48407 "state pip.installed requires force_reinstall: True"
### Description of Issue/Question

The state `pip.installed` does not work as documented on MacOS.

Only works if `force_reinstall: True` is specified.

### Setup

MacOS

### Steps to Reproduce Issue

**Attempt 1**
[code]

**Attempt 2**
[code]

**Attempt 3**
[code]

Using `exists_action: i' or `force: False` has no effect.

**Attempt 4 (`force_reinstall: True` and `runas: user`)**
[code]

**Attemp

[2018-07-02 15:35] elsmorian commented on #48402
We have tried that, but would really like the info level - If this was a lower level then could understand it, but according to https://docs.saltstack.com/en/latest/ref/configuration/logging/index.html#log-levels info is "Normal log information" which seems good, its just this persistent line!

As you say looks like it's from https://github.com/saltstack/salt/blob/fbbafc8de4d977a049ee0e33ea2862de3

[2018-07-02 15:38] noelmcloughlin commented on #48407
Some issue with python library.
[code]

[2018-07-02 15:44] #35686 closed

[2018-07-02 15:44] #23286 closed

[2018-07-02 15:44] #33269 closed

[2018-07-02 15:44] #28123 closed

[2018-07-02 15:44] #35751 closed

[2018-07-02 15:44] #23935 closed

[2018-07-02 15:44] #35699 closed

[2018-07-02 15:44] #19757 closed

[2018-07-02 15:50] grichmond-salt commented on #36274
@gtmanfred - Wondering about your current thoughts on this issue.  Thanks!

[2018-07-02 15:55] gtmanfred commented on #36274
Just needs to be implemented.

[2018-07-02 16:37] noelmcloughlin commented on #48407
Changing from `pip.installed` to `cmd.run` produces cleaner non-Error output.
[code]
I uninstalled and resinstalled pip and tried again - this pattern seems to work better.
[code]
But docker module is not installed by Salt.
[code]
Uninstall of pip
[code]

Must be an issue with PYTHONPATH.

[2018-07-02 17:03] noelmcloughlin commented on #48407
Fixed python issue as follows
[code]
Running state again, removed the `pip.installed` state, still having issue:
[code]
Maybe need to reinstall salt?

[2018-07-02 17:19] damon-atkins commented on #36113
This should be resolved in 2018.3

[2018-07-02 17:19] #36113 closed

[2018-07-02 17:32] noelmcloughlin commented on #48407
Cannot find solution.
[code]
Salt error
[code]

[2018-07-02 18:00] rallytime commented on #48110
@whytewolf Does the fix in #48380 fix this for you?

[2018-07-02 18:04] pcn opened #48408 "_pki_minions in 2018.3.2 breaks cache.grains, maybe other functions"
### Description of Issue/Question
I'm trying to use orchestration to find minions and I was finding that none of my minions were being returned.

Digging in, I found that this seems to have made its way into 2018.3.2 without a note in the changelog:

https://github.com/saltstack/salt/blame/df5ef3e2b16886298367e94d70ff08c4967b6fde/salt/utils/minions.py#L243-L246

[code]
This seems to be for a parti

[2018-07-02 18:33] edgan commented on #44387
I am seeing this problem with Fedora 28 and python 2.7.15 locally, and Ubuntu 14.04 remotely with python 2.7.6. Both have python-certifi installed. I just started seeing this have upgrading to 2018.3.1 from 2018.3.0.

[code]

[2018-07-02 18:48] edgan commented on #44387
Downgrading from python2-tornado-5.0.2-2.fc28.x86_64 to python-tornado-4.2.1-4.fc28.x86_64(built from the fc24 src.rpm) fixes it.

[2018-07-02 19:17] Cull-Methi opened #48411 "Salt master gives TypeError when parsing TCP response"
### Description of Issue/Question
Using TCP networking on 2018.3.1/salt-unity/pex, I occasionally get the following error on the salt-syndic-master (master on the same server as the syndic):

[code]

As far as I can tell these events are not triggered by anything being done by me, there are no corresponding messages in the syndic log, and no salt commands are being sent off

### Setup
Top level sa

[2018-07-02 19:33] gigi206 opened #48412 "Question about event/reactor"
Hello,

I need some help :)

I run the following command on salt master **salt-run state.event pretty=true** and I see the following message when a match job starting :
[code]

And after the _salt/job/20180702091024866947/new_ I obtain _salt/job/20150923203228234305/ret/minion.fqdn_.

Some jobs are scheduled to update OS, install packages, etc...

I commit all my changes in _/etc_ directory with g

[2018-07-02 19:38] Ch3LL commented on #48078
that seems odd that your locale is using `en_US.UTF-8`  and you are still getting a comma decimal separator. `en_us` should be using a point decimal seperator.

Can you type the following commands in a python interpreter (make sure its the same python version used by salt):

[code]

and paste the results here.

[2018-07-02 21:04] weswhet opened #48414 "macOS service.running failing due unavailable service after recent creation."
### Description of Issue/Question

On macOS if you run `service.running` for `foo` near the beginning of a highstate and then later another state creates a service `bar` with `file.managed` and you try to start with `service.running`, `bar` will fail to start because salt thinks the service doesn't exist. I believe I tracked the issue to here https://github.com/saltstack/salt/blob/develop/salt/uti

[2018-07-02 22:01] doesitblend opened #48415 "Event.send short-circuiting in multi-master mode"
### Description of Issue/Question
In a multi-master setup `event.send` appears to just go through the list of masters, open a channel and fire an event to that master's bus. This continues to work when one of these masters is down, logging `[DEBUG   ] SaltReqTimeoutError, retrying. (1/7)`. However, in the case where any one of these masters has not yet accepted the minion key, this process will di

[2018-07-02 22:01] doesitblend commented on #48415
ZD-2654

[2018-07-02 22:20] pcn commented on #48408
Thanks to help from @gtmanfred, this is my current work-around: https://gist.github.com/pcn/c0fa9fb5fba1b1d719886347f4c9b3f0

[2018-07-02 22:51] corywright commented on #17113
This probably shouldn't be closed yet, unless it's been verified to no longer be a problem.

[2018-07-03 00:07] noelmcloughlin commented on #48407
Also seen on Ubuntu 16.04, verified workaround is `force_reinstall: True` ....
[code]

[2018-07-03 00:15] garethgreenaway commented on #46689
@mxork @djsly Apologies for the delay.  Thanks for the log.  I was able to reproduce it by installing both git and nfs-utils manually, then using the state file to install the others.  You're assessment is correct, it appears that packages that are already installed are not being checked to ensure they're are set to be held.

[2018-07-03 04:10] LuboVarga commented on #35760
If I am not wrong, problem is still there. Please have a look at it.

[2018-07-03 06:18] mrshannon commented on #36841
This bug still exists in 2017.7.4.

[2018-07-03 06:33] selfin commented on #48223
Problem is reproducible only for packages available only from a custom index.
The reason for such behavior is that pip module function `list_all_versions`  does not accept `extra_index_url` param.
`extra_index_url` support should be added as previously added index_url: https://github.com/saltstack/salt/pull/45945

[2018-07-03 06:56] samilaine opened #48417 "Contribution Documentation Refers to Incorrect Pylintrc"
### Description of Issue/Question

The documentation section "[Contributing](https://docs.saltstack.com/en/latest/topics/development/contributing.html#salt-coding-style)" and "[Salt Coding Style](https://docs.saltstack.com/en/latest/topics/development/conventions/style.html#linting)" claims that:

However, In PR #48373 it has been revealed that:

The documentation should include information about:

[2018-07-03 09:32] sugizo commented on #48078
[code]

[code]
tested with miniconda (python 2 and 3 env)

[2018-07-03 10:48] soostdijck commented on #47086
This issue is resolved for me in 2018.3.2

[2018-07-03 11:56] DmitryKuzmenko commented on #48078
@sugizo
Just an assumption: couldn't it be a number separator customized in "language and region" -> "advanced" -> "general"? I just have no MAC to check this.

[2018-07-03 13:19] gtmanfred commented on #36841
This is not on a list of things that is getting fixed right now.

A PR would be greatly appreciated.

Thanks!
Daniel

[2018-07-03 13:19] #47086 closed

[2018-07-03 13:30] DmitryKuzmenko commented on #48078
@Ch3LL as python locale module documentation says the module is just an interface to the POSIX locale database. So to properly use it it has to be initialized after loading.
@sugizo could you try this?
[code]

[2018-07-03 14:07] rallytime commented on #35760
We can certainly re-open this :)

[2018-07-03 14:15] rallytime commented on #47811
@whytewolf This should be fixed with #48413

[2018-07-03 14:20] TheVakman commented on #48241
@Ch3LL Unfortunately, I don't think the referenced issue is related.

I'm pretty much at a loss with this one. I've got my master firewalled off to one minion right now so the minions can be used.

[2018-07-03 14:51] rallytime commented on #48230
This is fixed with #48422

[2018-07-03 15:06] TheVakman commented on #48241
I've tried upgrading to 2018.3.2 on a minion and on the master side now and this still persists.

[2018-07-03 15:06] amalleo25 commented on #41396
I see the same issue on ubuntu 16.04.4 lts. The npm package reinstalls each time the state is run.

Version report:
[code]

Node version:
[code]

Salt state:
[code]

State.apply output:
[code]

Debug output:
[code]

[2018-07-03 15:53] rickh563 opened #48424 "Minion Install (Win x64) Command Line Switches -- Feature-Request"
### Feature-Request

When running the Minion installer for Windows -- Request that an option be added that makes it possible to use the CLI to input the key of the Master or Syndic
when running the Minion installer for Windows, augmenting the existing options:

* https://docs.saltstack.com/en/latest/topics/installation/windows.html#silent-installer-options

[2018-07-03 15:53] rickh563 commented on #48424
ZD-2641

[2018-07-03 15:58] rallytime commented on #48357
@gtmanfred Can you take a look at this one?

[2018-07-03 16:15] rallytime commented on #48223
@esviderskii This should be fixed with #48419

[2018-07-03 16:15] #48223 closed

[2018-07-03 16:24] MattHoy commented on #46439
I see this has been merged to develop but the bug is still present in 2018.3.2, any idea when it will make it to release?

[2018-07-03 16:31] gtmanfred commented on #46439
I have marked it to be backported to 2018.3 and 2017.7

[2018-07-03 16:32] #46439 closed

[2018-07-03 16:37] gtmanfred commented on #48357
@terminalmage can you take a look at this with me?

It looks like this behavior was changed in b4a1d34b47a7d7931f31ad2dfbb53e870915d4f7

Thanks,
Daniel

[2018-07-03 16:38] rallytime commented on #46439
Here is some documentation on the release/branch topology, if you're interested:

https://docs.saltstack.com/en/latest/topics/development/contributing.html#salt-s-branch-topology

[2018-07-03 16:43] MattHoy commented on #46439
Thanks team.

[2018-07-03 18:24] Ch3LL commented on #48342
im having a hard time replicating this. I am able to run a `test.ping` for example and it shows up in the database. Can you clarify what command you are running when you are seeing this error?

[2018-07-03 18:28] Ch3LL commented on #48338
windows is not my strong area but can't you called powershell from cmd.exe?

ping @saltstack/team-windows will probably have better ideas here

[2018-07-03 18:30] Ch3LL commented on #48111
ahh gotchya. okay thanks wasn't sure if there was just something I was just missing. thanks :)

[2018-07-03 18:36] Ch3LL commented on #48333
This still could possibly be the reason because of this from the docs: (https://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_cherrypy.html)

So if you upgraded a library that cherrypy on only one box that uses it, it will restart. and i've noticed on cent6 a defunct process is then created. When you see this issue can you paste the output of `ps uax | grep -i salt-api`

Just want t

[2018-07-03 18:40] Ch3LL commented on #45026
is this still an issue on 2018.3? we added a lot of improvements with unicode in this version

[2018-07-03 18:42] Ch3LL commented on #48263
ya i'm not seeing anything that points out to having differed between our configurations that would cause this. if @terminalmage can take a look here since he is more familiar with this area.

[2018-07-03 19:17] whytewolf commented on #48110
Sorry having trouble testing this fix. Apparently, I can't just drop it into `salt://_modules` since an import was changed. And I'm having trouble getting windows to recognize the updated copy in the directory.

Will try again. just thought I would note to let you know this is on my radar.

[2018-07-03 19:26] whytewolf opened #48427 "Feature: Solaris support for disk.usage"
### Description of Issue/Question
solaris `df` needs `-k` just like AIX and FreeBSD for parsable disk info.
Please add a test for Solaris

### Setup
try and use disk.usage on Solaris.

### Steps to Reproduce Issue
try and use the current disk.usage on Solaris

[2018-07-03 19:58] rallytime commented on #48169
@adamsewell Can you give the fix in #48345 a try?

[2018-07-03 20:35] Ch3LL commented on #48265
thanks for sharing this with me. Unfortunately i'm still having a hard time replicating this.

ping @saltstack/team-core any ideas here?

[2018-07-03 21:07] Ch3LL commented on #48402
you can see here: https://github.com/saltstack/salt/blob/v2018.3.2/salt/master.py#L1824

that we create a masterminion instance which is where we load the grains. My understanding is the master side uses the grains to load some modules required for some backends, so this is required. ping @saltstack/team-core is my understanding correct here?

[2018-07-03 21:12] Ch3LL commented on #44387
this looks like a seperate traceback can you open a new issue @edgan

ping @rossengeorgiev you seeing this on 2018.3 still?

[2018-07-03 23:01] gtmanfred commented on #48402
The master loads grains because sometimes the grains are used for modules, and those modules can be used in orchestration files, or rendering pillars, sometimes you want to query mysql in your pillar.sls files.

It is just an info log, if it does not apply to your usecase, then ignore it, we default to log_level: warning for a reason, so that all that other "info" stuff isn't in there.

Though, i

[2018-07-03 23:33] methane commented on #45026
I think so, because same configs are in 2018.3.2 tag.
https://github.com/saltstack/salt/blob/2018.3.2/salt/modules/mysql.py#L318-L325

[2018-07-04 00:03] sugizo commented on #48078
[code]

[code]

[2018-07-04 01:23] nshalman commented on #48411
@Cull-Methi, heads-up that #48308 has been refactored (and depending on feedback might get altered further before landing...)

[2018-07-04 01:31] nshalman commented on #48307
Per the update to the #48308 I was able to find a way to use `inspect` to move those functions into `salt/scripts.py` after all which removes the need to alter `setup.py`

[2018-07-04 04:44] selfin commented on #48407
@noelmcloughlin, please, try to upgrade salt at least to 2018.3.1, your first problem with `pip.installed` should be already resolved there with https://github.com/saltstack/salt/commit/34bf66c09f67382cb05b5be3b02ed5a932d62ebe

[2018-07-04 06:21] akrus commented on #45339
Upgraded to 2018.3.2 few days ago, no errors so far.

[2018-07-04 06:31] DmitryKuzmenko commented on #48078
@sugizo sure, thanks for fixing that. So `locale.atof` works good.
@Ch3LL what about using that way in your PR?

[2018-07-04 07:38] max-arnold opened #48434 "Crash while applying state to new minion with saltclass enabled"
### Description of Issue/Question

I have several bootstrap states which are applied to new minions using salt-ssh. These minions are not yet listed in any top file (i.e. they have no node description).

[code]

When I replace this line `if not classes_to_expand and 'classes' in minion_dict` with `if not classes_to_expand and minion_dict and 'classes' in minion_dict`, saltclass crashes in the diff

[2018-07-04 07:56] akrus commented on #40801
Is it expected to be fixed? As a workaround it's possible to set:
WSGIDaemonProcess ... processes=1 threads=1

[2018-07-04 09:37] #34950 closed

[2018-07-04 10:07] isbm commented on #48086
I am not sure this is a bug, but a misuse.

Seem it actually works as designed. When you call `salt-ssh <user>@<host> ....` you're basically installing a Minion on a temporary basis in `/tmp/<temp-id>/` directory. Then you either run there one command or the entire state with the state you're added.

Now, when you do it again, you repeat the above. Think of like you would be registering a regular

[2018-07-04 11:11] jangithub80 opened #48437 "syslog returner does not work"
Hi,

I am getting no return on my syslog-server when I use the returner option.
E.g. the command:    salt "*" test.ping -return syslog

Do I have to do some additional configs beside the systems syslog setup?
I am using the rsyslogd at my salt-master which is configured to forward everything to my syslogserver.

I get "normal" system output, but nothing additional with the return option.
What woul

[2018-07-04 11:45] diepes opened #48438 "TypeError: can't serialize <azure.mgmt.compute.v2017_03_30.models.sub_resource.SubResource object at 0x7fc20779ead0>"
### Description of Issue/Question
salt-cloud, failing on Azure.
It creates the VM, but fails before the bootstrap

Found a closed bug with the same type of error: **https://github.com/saltstack/salt/issues/47096**
And a open one **https://github.com/saltstack/salt/issues/45884**
Is there instruction on how to run salt-cloud from a git clone ?

### Setup
(Please provide relevant configs and/or SLS

[2018-07-04 12:22] kivoli commented on #48357
Unfortunately I just found out that 2018.3.2 is also affected. :-/

[2018-07-04 12:44] 1ricardo commented on #48401
Hi @Ch3LL

Thank you for your involve in that case. I am sorry for my mistake, I missed the information, that it was implemented in version 2018.3

I made the test on **salt 2018.3.2 (Oxygen)** and all works fine

[2018-07-04 12:44] #48401 closed

[2018-07-04 14:37] #32009 closed

[2018-07-04 14:57] DmitryKuzmenko commented on #48265
I've seen something close to this during fixing py3 integration tests. I don't remember the exact procedure but it was happening in test logger that works as a subprocess through tornado. I bet it's the result of the way we mess forking and tornado event loops that is the issue I'm working on.

[2018-07-04 15:29] gigi206 commented on #48412
Thank you for your reply :),

I test without python fisrt.

I’m a bit lost, I don’t know what kind of reactions used for the reactor ? **runner**, **local** ? I think **local** the the most appropriate.

I created the reactor :
[code]

File _/srv/salt/test.sls_ :
[code]

Events logging :
[code]

[2018-07-04 16:05] TheVakman commented on #48241
![image](https://user-images.githubusercontent.com/18545156/42286937-7adbe7ee-7f82-11e8-961a-7de2b56f71ca.png)

[2018-07-04 16:47] grinapo commented on #4010
A HighSeverity bug autoclosed, mmh. Stoopid bot! Sit! STAY!

[2018-07-04 16:50] damon-atkins commented on #36501
.

[2018-07-04 16:51] damon-atkins commented on #36502
This is still outstanding

[2018-07-04 17:07] srkunze commented on #35793
maybe still be relevant. if that's not on the agenda, just close it :-)

[2018-07-04 17:45] mmulqueen commented on #48184
@Ch3LL Thanks looking at this, but the fix doesn't solve the problem.

My proposed fix in PR #48440. Details about what/why below. Hope this helps.

New traceback:
[code]
I think the problem is that a sequence of \xff isn't valid unicode. Your test tries a valid unicode character.

This wouldn't work:
b'\xff\xff'.decode()

This would work:
b'\xe5\x97\xa8'.decode()

It would solve the issue if your

[2018-07-04 18:40] kingsquirrel152 commented on #36469
As far as I know this is still an active issue.

On Wed, Jul 4, 2018 at 2:37 PM stale[bot] <notifications@github.com> wrote:

[2018-07-04 19:13] dosercz commented on #48341
Problem with cffi was on minion (local call fails same as salt-ssh from master), master has no problem.
Server is fixed now, so I'm not able get traceback again:(

[2018-07-04 19:17] terminalmage commented on #39778
Please open a new issue and reference this one.

[2018-07-04 19:18] #24416 closed

[2018-07-04 19:19] terminalmage commented on #24344
This was fixed in 2018.3.0

[2018-07-04 19:19] #24344 closed

[2018-07-04 19:39] TheVakman commented on #48241
I've switched Tornado to 4.2.1, Jinja2 to 2.7.2, msgpack-python to 0.4.6 and restarted the Master. I'll see how it is in the morning as most users have gone offline for the day. CPU is OK for the ones currently online.

[2018-07-04 21:55] garethgreenaway commented on #46689
@mxork @djsly If you're able to test the fix in that PR to see if it fixes the issue for you, that would be greatly appreciated.

[2018-07-04 23:03] morganwillcock commented on #48338
@GitHubAre I think there are various ways to do this, but it does depend on what is in the scripts if you are using `stateful: True`. Are you returning JSON or some variation of key=value?

If you were able to the post the scripts, I'm happy to try them out and try to give you a working state file back. It'll probably be a lot easier to change the logic slightly and use `OnlyIf` to check an exit c

[2018-07-05 03:40] terminalmage commented on #47704
I don't quite grok what the problem is. The `{{ env }}` variable in the jinja context used to be set to the effective fileserver environment, but that switched to `{{ saltenv }}` in 2016.11.0. Passing `{{ env }}` as a context variable should present no conflict from 2016.11.0 through the present.

Also, @gtmanfred is right about the context being null there. This is a known issue with PyYAML, dict

[2018-07-05 03:45] terminalmage commented on #48402
I agree with @gtmanfred. I opened https://github.com/saltstack/salt/pull/48441 to change the loglevel to debug for this.

[2018-07-05 07:04] babs opened #48442 "elasticsearch.index_template_present fails on ES <6.x"
### Description of Issue/Question

Index template definition fails for ES < 6.x

(patch is on the way)

### Setup

kind of same as #47701 but against ES 5.x for example

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
[code]

[2018-07-05 07:06] elsmorian commented on #48402
Thanks for the explanation and for the changing to a debug @gtmanfred and @terminalmage thats very helpful!

[2018-07-05 08:49] importepeu opened #48444 "[Need Info] GitFS multiple remotes as file://..."
### Description of Issue/Question
Hi, I would be pleased to have any help to understand a weird situation. I have two git repositories, one for states/formulas and one for minions grains that I want to manage in centralized manner. Both repositories use only the master branch but are referenced as "dev" as environnement.

I've ran "a salt-run fileserver.file_list" and effectively saw states and mi

[2018-07-05 11:49] mbunkus commented on #46045
For the record, this doesn't work. It only lists all denied keys but doesn't offer to (or actually does) delete the key.

[2018-07-05 11:53] like-inspur opened #48448 "salt-minion start error, salt-master can't see"
I install salt-minion 2017.7.7 on ubuntu 16.04 with apt command, just configure master address in /etc/salt/minion, but I found error in service start log and salt-master can't see it
2018-07-05 19:48:17,589 [salt.utils.parsers:1051][WARNING ][3108] Minion received a SIGTERM. Exiting.
2018-07-05 19:48:29,589 [tornado.application:792 ][ERROR   ][30802] Exception in callback <functools.partial objec

[2018-07-05 11:54] djsly commented on #46689
Hi Gareth, unfortunately, mxork isn’t working with us anymore and I do not know where exactly this issue was encountered initially. I believe we moved away from using hold:true in the end.

Sorry :(

[2018-07-05 12:16] importepeu commented on #48448
Hi, I'm not a salt developper but will try to help.

Can you post your master and minion configs please ? Can you stop your minion, clear the log, and repost all logs from minion ? Are you able to reach port 4505 or 4506 of the master from your minion server ? To know that, what this commands return ?

# nc -zv <master_ip> 4505
# nc -zv <master_ip> 4506

[2018-07-05 12:37] tomlaredo opened #48449 "Jinja variable containing an empty string leads to a None value"
### Description of Issue/Question

### Setup
From 2018.3.2 (or maybe a little before, didn't test), salt is treating an empty string in a jinja variable as a None value.

### Steps to Reproduce Issue

## jinjaerror.sls
[code]

## jinjaerror.cfg

[code]

## Execution :

[code]

### Versions Report

[code]

[2018-07-05 13:19] aadityabagga commented on #45321
@jose1711 thx for the idea, setting `$PATH` in `.bashrc` with python2.7 works!

[2018-07-05 14:09] terminalmage commented on #48107
This is not valid git_pillar configuration, since you haven't told `git_pillar` which ext_pillar to use:

[code]

It would need to be something like this:

[code]

However, this may just have been an omission made in the creation of the initial post. I configured a git external pillar on CentOS 7 and was unable to reproduce this. What this suggests is that the issue is unique somehow to your confi

[2018-07-05 14:28] Ch3LL commented on #48411
@Cull-Methi how often are you seeing this error?

ping @saltstack/team-transport any ideas here?

[2018-07-05 14:35] Ch3LL commented on #48434
does this only occur when running state.sls commands with salt-ssh or any command? and ya if @olivier-mauras can comment here as well :)

[2018-07-05 14:39] Ch3LL commented on #48437
have you set anything in your minion config similar to the docs here: https://docs.saltstack.com/en/2017.7/ref/returners/all/salt.returners.syslog_return.html

also is there any information in the minion log when you try to use the syslog returner?

[2018-07-05 14:43] rallytime commented on #48402
Closed via #48441

[2018-07-05 14:43] #48402 closed

[2018-07-05 14:46] Ch3LL commented on #48438
ping @nicholasmhughes any ideas here? im guessing your fix here https://github.com/saltstack/salt/pull/47774 isn't what we are looking for since the typerror message isn't related to disks

[2018-07-05 14:48] Ch3LL commented on #48442
Thanks for the PR!! Since the fix resolves this issue I will close here and keep discussion in PR, but let me know if you need it re-opened :)

[2018-07-05 14:48] #48442 closed

[2018-07-05 14:50] #15061 closed

[2018-07-05 15:09] Poil opened #48451 "pkgrepo.managed should support proxy option"
Hi,

With yum it's sometime useful to configure the proxy in the repo configuration to overload the yum.conf configuration

Example I have some local repository that does not use the proxy.
[code]

Best regards,

[2018-07-05 15:30] Poil opened #48452 "How to use match: grain on subelement of the grain ?"
Hi

I have a "structured" grain like this :

[code]

I would like to use "match: grain" in the top-formula or in pillar, but I'm unable to find the right way, is it possible to do this without doing a Jinja hack like this one ?

[code]

What I've tried :

[code]

Best regards,

[2018-07-05 15:30] Ch3LL commented on #48449
looks like i'm able to replicate this and in older versions of salt.

ping @saltstack/team-core any ideas here? Is this just a part of jinja we would need to work around?

[2018-07-05 15:32] jeffclay commented on #48342
My apologies. I left out a configuration option.

`cache: mysql`

To answer your question, I'm not running a specific command. As soon as I set the "cache: mysql" setting and restart the master the error begins showing in the log every few seconds without running any command from the masters console.

[2018-07-05 15:34] gtmanfred commented on #48449
this is how yaml works.

so, empty_str, even though you assigned "", it is actually nothing, so when you dump it out, you end up with this.
[code]

And pyyaml interprets nothing being assigned to it as None, so this is the expected behavior.

If you want it to be an empty string, assign the variable a string of an empty string.

[code]

and that should dump out `''` when the jinja is rendered.

[2018-07-05 15:42] Ch3LL commented on #48451
If you add `-proxy: <proxy options>` to the state module it does not set the proxy still? It looks like kwargs is passed to the module so I think this should work.

[2018-07-05 16:01] edgan opened #48453 "salt-ssh doesn't support python-tornado 5.0.2"
### Description of Issue/Question
I am seeing this problem with Fedora 28 and python 2.7.15 locally, and Ubuntu 14.04 remotely with python 2.7.6. Both have python-certifi installed. I just started seeing this have upgrading to 2018.3.1 from 2018.3.0.

[code]

Downgrading from python2-tornado-5.0.2-2.fc28.x86_64 to python-tornado-4.2.1-4.fc28.x86_64(built from the fc24 src.rpm) fixes it.
### Setup

[2018-07-05 16:03] Ch3LL commented on #48444
ping @terminalmage any ideas here?

[2018-07-05 16:07] Ch3LL commented on #48452
[code]

does that work?

[2018-07-05 16:34] Cull-Methi commented on #48411
Hi Ch3ll, I'm out of office until Monday but I'll follow up with you then. Thanks!

[2018-07-05 16:50] max-arnold commented on #48434
It does not fail on `test.ping`, but fails on anything that accesses pillar (`state.sls`, `state.highstate`, `pillar.data`).

UPD: to reproduce the crash you need to place an empty node file named `test` into `nodes/` dir.

[2018-07-05 19:11] #13044 closed

[2018-07-05 19:11] #23391 closed

[2018-07-05 19:31] nicholasmhughes commented on #48438
@diepes any change you can test with the code from the `develop` branch? It has a lot of functionality additions as well as some fixes that didn't make it into stable versions. Let me know if that's possible.

Also, please post you Azure SDK versions (`pip freeze | egrep '(msrest|azure)'`) in case I need to dig into the error with a similar environment.

[2018-07-05 20:11] #8421 closed

[2018-07-05 20:11] #9899 closed

[2018-07-05 20:11] #9902 closed

[2018-07-05 20:23] cvedel opened #48455 "support for RunOnce commands in the salt-cloud vmware driver"
VMware guest customization lets you [run commands on the first login to a Windows machine](https://www.vmware.com/support/developer/vc-sdk/visdk25pubs/ReferenceGuide/vim.vm.customization.GuiRunOnce.html). It would be useful to support this in the driver.
Our specific use case is setting the certificate for WinRM which needs to be done after the host name is set but cannot be done later on because

[2018-07-05 21:11] #34732 closed

[2018-07-05 21:32] diepes commented on #48438
Here is the pip versions from our azure salt master.
`# pip freeze | egrep '(msrest|azure)'
azure==3.0.0
azure-batch==4.1.3
azure-cli==2.0.38
azure-cli-acr==2.0.27
azure-cli-acs==2.1.1
azure-cli-advisor==0.5.1
azure-cli-ams==0.1.1
azure-cli-appservice==0.1.35
azure-cli-backup==1.1.1
azure-cli-batch==3.2.4
azure-cli-batchai==0.3.0
azure-cli-billing==0.1.8
azure-cli-cdn==0.0.14
azure-cli-cloud==2.0.

[2018-07-05 21:43] cmclaughlin commented on #48132
I'd really like this too... I tried gitfs, but we have some use some formulas as git submodules and that didn't work (at least it didn't last time I checked).

If we could set a `file_root` "prefix" (and one for `pillar_roots` too), we could bust out all of our git branches into their own saltenvs (without restarting the master).

[2018-07-05 22:11] #28219 closed

[2018-07-05 22:11] #36064 closed

[2018-07-05 22:44] nicholasmhughes commented on #48438
@diepes it looks like it's crashing due to the specification of an availability set as a `SubResource` object which gets passed to the `cloud.bootstrap` utility. As a quick test, it'll probably work (or get farther) if you remove it from the profile.

For you reference, that [parameter expects the full ID path](https://github.com/saltstack/salt/blob/2018.3.2/salt/cloud/clouds/azurearm.py#L1029) of

[2018-07-05 22:51] whytewolf commented on #47392
@micahhausler The napalm driver for sg350's is already a member of https://github.com/napalm-automation-community. That is how I found it. https://github.com/napalm-automation-community/napalm-s350

Btw thank you for all the sweet work on Napalm.

[2018-07-05 23:11] micahhausler commented on #47392
Wrong user

[2018-07-05 23:12] whytewolf commented on #47392
@micahhausler sorry about that.

[2018-07-06 01:48] diepes commented on #48438
Thanks @nicholasmhughes ,
removing the "availability_set: INF" from /etc/salt/cloud/cloud.profile.d/inf.conf allowed it to proceed.
Yay! :1st_place_medal:

Are there instructions on how to run salt-cloud from the development branch?
  -  git clone,  -> virtualenv ?

[2018-07-06 02:02] nicholasmhughes commented on #48438
Glad that worked for you.

Are you looking for something like [this documentation](https://docs.saltstack.com/en/latest/topics/development/hacking.html)?

[2018-07-06 02:02] like-inspur commented on #48448
@importepeu It works, the network of master and minion is not the problem.

[2018-07-06 02:16] diepes commented on #48438
Thanks again. I will try the deployment with the "availability_set" on the development branch and log a new issue if there is still a problem.

[2018-07-06 02:16] #48438 closed

[2018-07-06 02:45] frankthetank commented on #48107
Thanks!!  I hope it was an omission on my part in transcribing configuration but will double check tomorrow when I get into the office.

[2018-07-06 02:52] liucy1983 commented on #48067
i got the same problem.
there is my debug info.

salt-ssh --no-host-keys --user=root --passwd=xxxx  --roster=scan 10.0.10.200 cmd.script salt://5848f863e4b051f7b59fa4ce.sh -l debug
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Including configuration from '/etc/salt/master.d/salt-api.conf'
[DEBUG   ] Reading configuration from /etc/salt/master.d/salt-api.conf
[DEBUG   ] Using c

[2018-07-06 03:46] angeloudy opened #48457 "Return changes from custom runner"
### Description of Issue/Question
I am creating an orchestration SLS file.
In my orchestration, I have a few states that's using salt.runner to run my own runner.
I want to create some dependency between the states
For example, I want my runner B to watch the return value of runner A; if nothing changed, runner B doesn't need run.
But I am not sure how to implement `changes` in the runner module.

[2018-07-06 05:45] #48457 closed

[2018-07-06 05:45] angeloudy commented on #48457
mod_watch is not available in states/saltmod.py

[2018-07-06 05:51] seffyroff opened #48458 "Ceph Execution Module Depends on Stale Python Lib"
### Description of Issue/Question
When I attempt to call ceph.mon_create from the [Ceph Execution Modules](https://docs.saltstack.com/en/develop/ref/modules/all/salt.modules.ceph.html) I get this error:

### Setup
Repo containing setup is [here](https://github.com/seffyroff/salt-ceph).

Of note: the ceph_cfg Python module which  salt.modules.ceph depends is not available via any means other than c

[2018-07-06 06:38] Poil commented on #48452
It works !

Perhaps it should be a good idea to add this to this documentation  https://docs.saltstack.com/en/latest/topics/grains/

[2018-07-06 06:38] #48452 closed

[2018-07-06 06:43] Poil commented on #48451
Yes that is what I've seen when I would like to patch the code.
Perhaps we should add a notes in the documentation about that ?

[2018-07-06 06:59] mbochenk commented on #45178
Seems to have been removed again by https://github.com/saltstack/salt/pull/46990/commits/b9efec8526f323bdc27350104a8be973752221a4

[2018-07-06 07:05] mbochenk opened #48459 "Windows installer 2017.7.7 missing libnacl"
### Description of Issue/Question
Same as https://github.com/saltstack/salt/issues/45178 but for 2017.7.7
Seems to have been reverted by commit: https://github.com/saltstack/salt/pull/46990/commits/b9efec8526f323bdc27350104a8be973752221a4

Not sure why removed. My understanding is that libnacl is required for nacl.dec/enc (sealedbox/secretbox) and it was previously present in windows installer.

I

[2018-07-06 07:34] jangithub80 commented on #48437
hi,

I didn't do the syslog-settings on the minions, that was my mistake.
@Ch3LL: thank you!!!

[2018-07-06 07:34] #48437 closed

[2018-07-06 07:49] 3issamben commented on #42311
@erktigli upgrading boto3 fixed the error messages I was getting.

[2018-07-06 08:00] importepeu commented on #48448
Ok. I just wanted to check connectivity due to the fact that your master doesn't seems to receive the minion key. It is almost the first thing minion does after generates them.

You don't seem to used the distrib version as I far I can see, cause [16.04 brings version 2015.8.8+ds-1](https://packages.ubuntu.com/xenial/allpackages). Why didin't you want to used the last salt version instead of 2017

[2018-07-06 08:45] jangithub80 opened #48460 "Logging/auditing - Is there any possibility to use syslog as default returner for the minions?"
Hi,

I have the task to create a kind of audit logging for our saltstack environment.
The aim is to log the salt commands with all options and all targets.
Perfect would be if i can see which minions have reacted.

I found out that the salt option "--returner syslog" works fine for me, but I have the problem that these option must be added at each salt command.

Is there any possibility to set sys

[2018-07-06 08:51] pauldamian commented on #31907
Still reproducible on 2018.3
[code]
Is it going to be addressed soon?

[2018-07-06 08:56] importepeu commented on #48444
I keep trying to understand this issue. Regarding the salt cp.list_master function, I tried the following command which doesn't return my minion grain file. Is it normal the the file appears in "fileserver" output  but not in "list_master" one ?

[code]

[2018-07-06 09:16] babs opened #48461 "[state] git identity parameter is not 'user expanded'"
### Description of Issue/Question

Git state complains about identity not being absolute while using user home prefixes.

(patch is coming)

### Setup

[code]

### Steps to Reproduce Issue

Create a git state with a ~user/.ssh/key form

### Versions Report

[code]

[2018-07-06 09:46] diepes commented on #48453
Found this report looking to resolve a pip warning i get when trying to run/test with developement branch.

[code]
Searching in developement branch the requirement seem to be from
**requirements/base.txt:6**
or
**salt.egg-info/requires.txt**

###  FIX

find tornado versions available with
`pip install tornado==`

and pick version <5.0 e.g.

`pip install tornado==4.5.3`

[2018-07-06 10:15] like-inspur commented on #48448
I have upgrade salt-master and salt-minion to salt 2018.3.2 (Oxygen), but error still exists.
master config: interface: 10.110.25.215
minion config: master: 10.110.25.215
minion error log:
2018-07-06 18:12:29,590 [tornado.application:792 ][ERROR   ][16704] Exception in callback <functools.partial object at 0x7f5d82e38628>
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-pac

[2018-07-06 10:40] mbochenk commented on #48459
`libsodium.dll` is also missing, seems also due to dependencies cleanup. Had to figure out that 120 (I assume this is msvcrt version? not really into windows) has to be used.

[2018-07-06 11:31] diepes opened #48463 "CloudError: Azure Error: LocationRequired"
### Description of Issue/Question
Azure config to create a server, working on salt-cloud 2018.3.2 , after commenting out
`#availability_set: INF`
Now trying same config on **developement** branch, and it fails with the error below, probably due to using new azure-api ?

_CloudError: Azure Error: LocationRequired_

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensi

[2018-07-06 13:54] Ch3LL commented on #45026
And if you set that to True the failure goes away?

[2018-07-06 13:55] Ch3LL commented on #45339
I'll go ahead and close but let me know if i need to re-open

[2018-07-06 13:55] #45339 closed

[2018-07-06 13:55] importepeu commented on #48444
Ok, this PR can be closed or even delete. I found the problem. One of my syndics hasn't the GITFS grain definition in its configuration.

[2018-07-06 13:55] #48444 closed

[2018-07-06 13:56] rnickle commented on #35013
I'm having problems with this on Ubuntu 18.04 Bionic, which points to the difficulty in getting M2Crypto working with Python3.  Has anybody had any luck with that?

<pre>
utility@ubbt3dt1:~$ salt-minion --versions-report
Salt Version:
           Salt: 2018.3.2

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: 2.6.1
      docker-py: Not Installed

[2018-07-06 13:56] Ch3LL commented on #48265
Is there another issue we can link to this one @DmitryKuzmenko ?

[2018-07-06 14:05] Ch3LL commented on #48184
Thanks for following up on this and the PR! :) I'll go ahead and close since it seems resolved now and will keep the conversation in the PR. But please let me know if you need to re-open

[2018-07-06 14:05] #48184 closed

[2018-07-06 14:09] Ch3LL commented on #48341
Weird okay you okay closing this issue for now and re-opening if it shows again?

[2018-07-06 14:12] rallytime commented on #48265
https://github.com/saltstack/salt-jenkins/issues/995

[2018-07-06 14:34] haam3r opened #48465 "postgres.has_privileges module breaks with Python3 when granting ALL privileges"
### Description of Issue/Question
The postgres.has_privileges module uses the .sort() method when checking 'ALL' privileges:
https://github.com/saltstack/salt/blob/develop/salt/modules/postgres.py#L2829

This is not supported in Python 3: https://docs.python.org/3/whatsnew/3.0.html thereby breaking.

If the proposed fix below is acceptable, I can make a PR.

### Setup
Ubuntu 18.04 server running s

[2018-07-06 14:41] rallytime commented on #48110
Looks like we might be trying a different fix anyway. This was fixed in develop recently, and the fix is different from the one posted above.

[2018-07-06 14:49] Ch3LL commented on #48342
okay looks like i'm able to replicate this now thanks. we will need to get this fixed up. thanks

[2018-07-06 14:54] gtmanfred commented on #48306
save_load has actually been passing the `minions` key since 2015.8.

https://github.com/saltstack/salt/blob/2015.8/salt/master.py#L2163

[2018-07-06 15:15] Ch3LL commented on #48451
ya i can label as a documentation bug for sure

[2018-07-06 15:17] Ch3LL commented on #48453
yeah we do not want to completely move to tornado 5.0 until we know its stable. We did a bunch of work in the latest release to try to get it compatible but waiting till it stabilizes. We do recommend using <5.0 but definitely want to fix any issues that come to light.

[2018-07-06 16:03] #36052 closed

[2018-07-06 16:13] rickh563 commented on #48415
@doesitblend  -- please test in `2017.7.7` and report back. It is possible that this may be remediated.

[2018-07-06 16:36] markuskramerIgitt opened #48467 "Wrong build causes UnicodeDecodeError: 'ascii' codec can't decode byte 0xe4"
### Description of Issue/Question
Minion fails to start

c:\salt\var\log\salt\minion contains

[code]

### Setup
Build minion from develop.

### Steps to Reproduce Issue
Installed minion.
Started minion

### My guess
Byte 0xe4 is at position 11 of "Mitteleuropäische Zeit" (Central European Time) represented as "Mitteleurop\xe4ische Zeit", which is my time zone.  [Guessed after](https://stackoverfl

[2018-07-06 16:39] rallytime commented on #48427
@dmurphy18 This should be a quick change that is needed right around [here](https://github.com/saltstack/salt/blob/c0d42793135eebdba9cd97abf296339b05b7c7ae/salt/modules/disk.py#L107). Can you fix this for Fluorine, please?

[2018-07-06 16:44] cachedout commented on #46644
Can you expand on why this would be (or should be) a separate build?

[2018-07-06 16:53] markuskramerIgitt opened #48468 "Symantec Endpoint Protection (SEP) quarantines Salt-Minion-*-Setup.exe"
Could you let Symantec white list the installers?

SEP says:

There is strong evidence that this file is untrustworthy.
This file has been seen by hundreds of Symantec users.
Symantec has known about this file approximately 2 weeks.
Hash:  A949870AD4670CA7900091339D3C63EFF3DBD7AE3EA5B09EBD90B97105EC1891

![SEP](https://user-images.githubusercontent.com/8489107/42390792-6ba150e4-814d-11e8-9226-23f9

[2018-07-06 16:58] markuskramerIgitt commented on #48424
@rickh563,  you mean the public key of the master?

[2018-07-06 16:58] markuskramerIgitt commented on #48390
Good point.

[2018-07-06 16:59] jcftang commented on #20067
I'm not sure how relevant this issue is anymore or if anyone else cares about the behaviour of this

[2018-07-06 17:18] ac-hibbert opened #48469 "salt-cloud create ec2 instance with slash "/" in the Name tag"
### Description of Issue/Question

We have the requirement to tag our instances with a Name that is "Project/Name" so we need to retag our instances

### Setup

Able to rename instances using the following

[code]

But having problems when running salt-cloud to spin up new instance, with cloud.profiles.d setup and cloud.maps.d file showing

[code]

I get the following error

[code]
### Steps to Re

[2018-07-06 17:20] doc987 opened #48470 "Minion Timeout on Long States Even when Still Running Properly"
**Expected**: If a minion is running the tasks without issue, then that minion should report that everything is okay immediately upon request.

**Observed**: When on the master, and running ```state.apply```, there can be timeout issues, even when the minion(s) are still alive and running the tasks as expected.  It seems that a minion will reply to a master when between states, but not during a st

[2018-07-06 17:21] methane commented on #45026
I think so, but I'm not salt user.
I'm a maintainer of mysqlclient-python.

[2018-07-06 18:03] #36079 closed

[2018-07-06 18:03] #36090 closed

[2018-07-06 18:04] rallytime commented on #48336
@JuanManuelVizcainoAbad This should be fixed with #48398 for 2018.3 and #48399 for 2017.7

[2018-07-06 18:50] chschmitt opened #48473 "salt-ssh returns with minimal unicode related error message, no useful debugging output"
### Description of Issue/Question

A minion returned the following error when a state was applied via the salt-ssh Python API and state.sls:

[code]
**Note:** There is no useful output in the master logs. Even the running_data/salt-call.log on the minion is not helpful. Is there any chance to recover the full stack trace on the minion to see which piece of code causes the error?

### Setup
Salt is

[2018-07-06 19:03] ngrundler opened #48474 "decouple token auth from private key in netbox execution module"
### Description of Issue/Question
Currently the netbox execution module bundles token authentication together with the private key file needed for working with the `secrets` app.  If you set up the NetBox application to require login by default, the `netbox.filter` and `netbox.get` functions will return a 403 because unless you're working with the `secrets` endpoint, the token doesn't get passed t

[2018-07-06 19:03] #36105 closed

[2018-07-06 19:03] #35924 closed

[2018-07-06 19:04] ngrundler commented on #48474
I spoke with @zachmoody in slack about this, and he's already identified an easy fix :)

[2018-07-06 19:18] mrshannon commented on #14553
The workaround I am currently using is to put this at the top of my state, before any filtering:
[code]

[2018-07-06 19:21] DenisBY commented on #30290
Was this fixed?

[2018-07-06 19:42] garethgreenaway commented on #48455
Thanks for the report and the PR!

[2018-07-06 19:51] damon-atkins commented on #36666
In windows land software is not required to provide a version string.

[code]

Heading towards using 0.0.0.0 if a version can not be found, rather than None.

[2018-07-06 19:51] #36666 closed

[2018-07-06 19:57] garethgreenaway commented on #48459
@dmurphy18 @dwoz Any insight here?

[2018-07-06 20:19] jbournell commented on #39450
I also ran into this bug on Salt 2016.11.1. Seems like in my case it was related to a recent update to /etc/hosts. After I added this line to it and ran salt -
127.0.1.1   FQDN

The fqdn_ip4 variable updated to 127.0.1.1. Once I removed this line and ran salt the fqdn_ip4 variable was the private ip address again.

[2018-07-06 20:39] kiorky opened #48475 "[QUESTION/SECURITY PROBLEM] Does user that owns portus@portus.com owns your on premise registry ?"
### Description of Issue/Question

### Setup
NA

### Steps to Reproduce Issue
NA

### Versions Report
NA

If someone gains or has access to ``portus@portus.com`` inbox, he can then reset any portus registry with default setup for the portus hidden user.
I think this is a major security flaw and that user should have at least a non routable DEFAULT mail or no mail at all, and maybe additionally som

[2018-07-06 21:34] garethgreenaway commented on #48474
@ngrundler Thanks for the report.  Look forward to the PR @zachmoody.

[2018-07-06 21:57] garethgreenaway commented on #48473
@chschmitt Thanks for the report.  Can you provide the state file(s) that you're using that are causing this issue?  Also, if you're able to, upgrade to 2018.8.2, there have been a lot of Unicode related fixes since 2018.3.0 was released.

[2018-07-06 22:05] frankthetank commented on #48107
OK - I verified that the configuration noted above was an error when I transcribed the configuration from my other network over to here.  HOWEVER - I have also run through an upgrade to the latest salt version and the error is no longer occurring.  Weird, but resolved.

[2018-07-06 22:05] #48107 closed

[2018-07-06 22:10] garethgreenaway commented on #48458
@seffyroff Thanks for the report.  Looks like the error is likely coming from the ceph_cfg library and the fact that it's 2+ years old we should be using something else.

[2018-07-06 22:39] garethgreenaway commented on #48460
@jangithub80 Sounds like you want the default returner configuration option for the Salt master:
https://docs.saltstack.com/en/latest/ref/configuration/master.html#event-return

[2018-07-06 22:42] garethgreenaway commented on #48475
This seems like perhaps it was filed against the wrong project.  Closing.  Reopen if it is related.

[2018-07-06 22:42] #48475 closed

[2018-07-06 22:47] garethgreenaway commented on #48470
@doc987 Thanks for the report. Something you might want to look at is the `ping-interval` option.
https://docs.saltstack.com/en/latest/ref/configuration/minion.html#ping-interval

[2018-07-06 23:10] kiorky commented on #48475
IT IS RELATED !!!!

[2018-07-06 23:11] kiorky commented on #48475
Arf, browser problem , sorry  for the noise !

[2018-07-07 00:12] markuskramerIgitt commented on #48467
I built minion 2018.3.0-618-gc0d4279 and got a different error, though also related to timezone:

[code]

I built minion 2018.3.0-616-g8731f42 **with** build-caching.
I built minion 2018.3.0-618-gc0d4279  **without** build-caching.

I no longer consider build-caching (using variables SALTREPO_LOCAL_CACHE, SALT_REQ_LOCAL_CACHE, SALT_PIP_LOCAL_CACHE) safe, or useful.
I introduced the concept but now

[2018-07-07 01:10] doc987 commented on #48470
```ping_interval``` doesn't seem to help.  I tried setting it to 5 (i.e. half the default value of ```gather_job_timeout```), but I still get the ```Minion did not return. [No response]``` message when running ```state.apply``` from the master.

Also, does ```ping_interval``` just ping during ```state.apply```, or would the minion ping the master every 5 seconds, all the time, forever?  I don't th

[2018-07-07 01:12] davidscholberg commented on #48306
Right, we're updating a master from version `2015.5.3` :slightly_frowning_face:

[2018-07-07 02:34] seffyroff commented on #48458
Yep, definitely - There do seem to be several alternative Python Ceph instrumentations.  Indeed, the [Ceph Deploy tool](https://github.com/ceph/ceph-deploy) appears to be Python-based..

[2018-07-07 03:03] #35920 closed

[2018-07-07 03:18] diepes commented on #48463
using pudb, and printing the request with
`open('/tmp/pes-debug.txt','a').write('{}\n{}\n{}\n\n{}'.format('-----------START-----------',req.method + ' ' + req.url,'\n'.join('{}: {}'.format(k, v) for k, v in req.headers.items()),req.data,  ))`

I got the request that fail's, sanitized a bit.
[code]

[2018-07-07 08:52] sjorge commented on #48360
Sweet I got it down to a minimal reproducable case

[code]
It does appear to be the case for all files that go through the file server.

[2018-07-07 08:53] sjorge commented on #48360
I will create a PR later this weekend with a fix or at least with a warning

[2018-07-07 09:18] tlex commented on #24854
I can confirm it works as expected on Oxygen (python3).
[code]
Thanks to whoever fixed it.

Closing the issue.

[2018-07-07 09:18] #24854 closed

[2018-07-07 10:00] chschmitt commented on #48473
Thanks for the quick reply. The update fixed the issue. I will leave it at that if there is no way to narrow down the error. The overall state has over 1000 lines of code and over 100 state declarations, split up into multiple sls files. Since I was not able to isolate the error by running them separately, I do not assume that posting the entire directory tree will be helpful.

[2018-07-07 14:12] gtmanfred commented on #48306
This was listed in the release notes for 2015.8.  but I have gone ahead and updated the returner docs as well.

[2018-07-07 14:13] gtmanfred commented on #48360
perfect, thanks @sjorge

[2018-07-07 19:25] indigoarc opened #48479 "salt.beacons.inotify python-pyinotify dependency installation failure"
### Description of Issue/Question
I want to use salt beacons module which depends on python-pyinotify.
Internet connection is turned off. Saltstack repository is hosted internally.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

----------
          ID: install_pyt

[2018-07-07 21:20] gtmanfred commented on #36788
This is already fixed in #36803

[2018-07-07 21:20] #36788 closed

[2018-07-08 02:15] antifob opened #48480 "salt.modules.cmdmod broken"
### Description of Issue/Question

`cmdmod` is broken.

A bisect shows commit eaddf737f3a777fba34a2c213fc932ebd68caa21 introduced the problem.

### Setup

Same result in a virtualenv using pip-installed salt and current `develop` branch.

### Steps to Reproduce Issue
[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion vers

[2018-07-08 05:05] #36032 closed

[2018-07-08 05:05] #36157 closed

[2018-07-08 05:05] #36182 closed

[2018-07-08 05:05] #36213 closed

[2018-07-08 05:05] #25617 closed

[2018-07-08 05:05] #36109 closed

[2018-07-08 05:05] #30149 closed

[2018-07-08 05:05] #36239 closed

[2018-07-08 05:05] #29332 closed

[2018-07-08 05:05] #31345 closed

[2018-07-08 05:05] #8625 closed

[2018-07-08 05:05] #26195 closed

[2018-07-08 05:05] #26254 closed

[2018-07-08 05:05] #36278 closed

[2018-07-08 05:05] #36279 closed

[2018-07-08 05:05] #36145 closed

[2018-07-08 05:05] #36144 closed

[2018-07-08 05:05] #36206 closed

[2018-07-08 05:05] #36317 closed

[2018-07-08 05:05] #35854 closed

[2018-07-08 05:05] #35723 closed

[2018-07-08 05:05] #36051 closed

[2018-07-08 05:05] #35612 closed

[2018-07-08 05:05] #35827 closed

[2018-07-08 05:05] #36128 closed

[2018-07-08 05:05] #36048 closed

[2018-07-08 06:05] #36107 closed

[2018-07-08 06:05] #29307 closed

[2018-07-08 06:05] #33401 closed

[2018-07-08 06:05] #35597 closed

[2018-07-08 06:05] #32759 closed

[2018-07-08 11:20] chschmitt commented on #48473
Unfortunately, the error re-appeared also with 2018.3.2. I am still trying to reproduce it.

[2018-07-08 12:39] boltronics commented on #36742
I have no idea if this is still an issue. I've been cautious to avoid launching too many instances at once ever since this ticket was opened.

[2018-07-08 14:48] arno01 opened #48482 "salt-ssh does not read nested pillar data when it is given as a single line"
### Description of Issue/Question

salt-ssh does not read nested pillar data when it is given as a single line.

I've tried couple of YAML linters, they did not complain on having YAML data as ``one:line:`` (see the content of ``pillar/files.sls`` below)

### Setup

- master

[code]

- servers

[code]

- pillar/top.sls

[code]

- pillar/files.sls

[code]

- states/top.sls

[code]
- states/files.sl

[2018-07-08 15:05] #36385 closed

[2018-07-08 15:05] #36400 closed

[2018-07-08 18:03] lorengordon commented on #33751
I think this is still relevant

[2018-07-08 18:55] wyardley commented on #802
Just as a heads up, while `mocked=True` doesn't error, `mock=True` seems to be the correct arg now.

[2018-07-08 20:05] #23564 closed

[2018-07-08 20:05] #24194 closed

[2018-07-08 20:05] #23365 closed

[2018-07-08 20:05] #23432 closed

[2018-07-08 20:05] #22083 closed

[2018-07-08 20:05] #20234 closed

[2018-07-08 20:05] #21837 closed

[2018-07-08 20:05] #14593 closed

[2018-07-08 20:05] #18403 closed

[2018-07-08 20:05] #17312 closed

[2018-07-08 20:05] #33593 closed

[2018-07-08 20:05] #28875 closed

[2018-07-08 20:05] #20955 closed

[2018-07-08 20:05] #24639 closed

[2018-07-08 20:05] #23761 closed

[2018-07-08 21:03] arno01 commented on #33121
I am hitting the same issue :/ salt-ssh 2018.3.2 (Oxygen)

[2018-07-08 21:05] #18775 closed

[2018-07-08 21:05] #18483 closed

[2018-07-08 21:05] #22869 closed

[2018-07-08 21:05] #24624 closed

[2018-07-08 21:05] #18833 closed

[2018-07-08 21:05] #18686 closed

[2018-07-08 21:05] #18668 closed

[2018-07-08 21:05] #24648 closed

[2018-07-08 21:05] #24781 closed

[2018-07-08 21:05] #24113 closed

[2018-07-08 21:05] #24523 closed

[2018-07-08 21:05] #27328 closed

[2018-07-08 21:05] #19078 closed

[2018-07-08 21:05] #19728 closed

[2018-07-08 21:05] #12764 closed

[2018-07-08 21:05] #23485 closed

[2018-07-08 21:05] #24512 closed

[2018-07-08 21:05] #23358 closed

[2018-07-08 21:05] #26685 closed

[2018-07-08 21:05] #28795 closed

[2018-07-08 21:05] #30319 closed

[2018-07-08 21:05] #19784 closed

[2018-07-08 21:05] #19050 closed

[2018-07-08 21:05] #34514 closed

[2018-07-08 23:05] #36179 closed

[2018-07-08 23:05] #36340 closed

[2018-07-08 23:51] doc987 opened #48483 "salt-cloud Should Generate Minion Key on the Minion"
I think the way salt-cloud currently works is that the public/private key pair is generated on the master, saved to a temporary directory, and then copied to the minion.  At least that's what I think based on what I have observed.  I didn't actually see it written down anywhere.  Please correct me if this is not accurate.

Shouldn't the key pair be generated on the minion, and then the public key

[2018-07-09 04:58] pthirumalachar opened #48484 "file.blockreplace fails on Windows 2012"
### Description of Issue/Question
On Window 2012 R2 box, the file.blockreplace throws the following error

[code]

The user is an administrator user with all admin privileges.

On probing this further, the check_perms in the file win_file module - At # Verify Grant Permissions,
**The grant_perms object was coming in as unicode instead of dictonary.**

The calling function file.py is sending a unic

[2018-07-09 05:54] terminalmage commented on #48107
@frankthetank OK, if this happens in the future, my suggestion for troubleshooting would be the same, so keep this in the back of your mind.

[2018-07-09 07:29] mbochenk commented on #45178
@twangboy It seems this is merged to 2017.7, thanks! FYI deps were also removed from 2018.3

[2018-07-09 07:29] mbochenk commented on #48459
https://github.com/saltstack/salt/pull/48476

[2018-07-09 07:30] mbochenk commented on #48459
@garethgreenaway seems this is already fixed in 2017.7 source (not in 2018.3 to my understanding): https://github.com/saltstack/salt/pull/48476

[2018-07-09 09:29] chschmitt commented on #48473
@garethgreenaway I found the culprit (see the editied original post).

[2018-07-09 12:13] llattila commented on #29460
Saved my state file, thank you for commenting here. I had a simple state files with pillar conditionals which had a sls-update in the end according to single value. Added else where I put that test.show_notification

[2018-07-09 13:23] Ch3LL commented on #48318
apologies needed to bump this issue to this week.

[2018-07-09 13:31] max-arnold opened #48486 "salt-ssh --thin does not refresh python modules"
### Description of Issue/Question

I noticed that my modifications of builtin saltstack top modules do not propagate even if I use `salt-ssh --thin example.com state.highstate`

The modules are synced only when I remove all local `*.pyc` files: `find ~/.virtualenvs/salt/lib/python3.6/site-packages/salt/ -name '*.pyc' -delete`

I do not see any `*.pyc` files on the remote host in `/var/tmp/.root_7e

[2018-07-09 13:56] gtmanfred commented on #48480
I am able to replicate this, but it also appears to happen in 2017.7.4, which was before that commit was merged.

[code]

None of the salt modules are meant to be imported outside of salt itself, but only loaded by the loader.

As a workaround, you can still load the cmdmod module using the loader.

[code]

Thanks,
Daniel

[2018-07-09 13:58] gtmanfred commented on #48480
Also, if you do

[code]
it works.

[code]
Because it doesn't have the circular dependency.

[2018-07-09 14:00] Ch3LL commented on #45026
ping @regilero looks like you set this to False. Is there a specific reason you see to not change it to True?

[2018-07-09 14:02] gtmanfred commented on #48479
Do The following

[code]

So that it uses the python2.7 environment, instead of the default pip which is for python2.6.

[2018-07-09 14:07] #48474 closed

[2018-07-09 14:09] gtmanfred commented on #48482
That is because, while it is valid yaml, it ends up with your key actually being only one level, and not two.

So it looks like this.

[code]
new:stuff: |
  hi there
[code]

[2018-07-09 14:09] #48482 closed

[2018-07-09 14:12] Ch3LL commented on #39450
does this still occur in 2017.7 or 2018.3 versions of salt?

[2018-07-09 14:12] gtmanfred commented on #48483
You are correct that this is the way it is currently generated.

A PR would be welcome to change this to the way you are talking about, it would just need to use the key generation wheel function, and then copy it back, and since this is all done with bash commands this is significantly more complicated because we do not have a command line interface for that portion of salt.

[2018-07-09 14:13] #48341 closed

[2018-07-09 14:14] gtmanfred commented on #48484
I would be ok with adding that type check.

`isinstance(grant_perms, dict)`

If you wanted to open a PR against the 2017.7 branch, we would greatly appreciate it!

Thanks,
Daniel

[2018-07-09 14:39] Cull-Methi commented on #48411
Hi @Ch3LL , it's coming in anywhere from 1-10 messages per minute it looks like. There are approx 1550 minions attached to this master

[2018-07-09 14:52] bseidenspinner opened #48489 "diff-feature in file.recurse on dry-runs"
### Description of Issue/Question

### Setup

In our setup we use salt-ssh 2016.11.6 (Carbon) and we want to switch to version salt-ssh 2018.3.2 (Oxygen).

We're missing the diff-feature in file.recurse on dry-runs (test=True). Is there any chance to get this feature back?

With Oxygen and file.recurse in a dry-run we doesn't get the diff, with 2016.11.6 (Carbon), we get the needed diff:

### Step

[2018-07-09 15:03] gtmanfred commented on #48489
I would bet that this falls under the same change that happened here.

https://github.com/saltstack/salt/issues/45895#issuecomment-385508939

[2018-07-09 15:04] gtmanfred commented on #48489
Yeah, it is, this was an intentional change, try using `mock=True` instead of `test=True`?

[2018-07-09 15:04] #48489 closed

[2018-07-09 15:05] gtmanfred commented on #48480
This is the expected behavior, you should be loading the cmdmod module using the loader, not directly importing it.

Thanks!
Daniel

[2018-07-09 15:05] #48480 closed

[2018-07-09 15:08] gtmanfred commented on #45315
This is going to require a change in how we load the config file, too many tests are failing for me to feel comfortable at changing this in a minor release.

I am going to leave this for now, if someone else runs across this, a PR would be welcome.

Thanks,
Daniel

[2018-07-09 15:49] kjkeane commented on #47797
I am going to close this issue out.  I did a bit of testing with pre-built AMIs in AWS and it seems to work with no issues.  I am going to assume something is wrong with the templates being used in VMware.

[2018-07-09 15:49] #47797 closed

[2018-07-09 15:52] #33717 closed

[2018-07-09 16:02] pthirumalachar commented on #48484
Thanks so much.  I will go ahead with this check.  Also, will raise a PR on 2017,7 branch.

Thanks

[2018-07-09 16:03] pacaj2am commented on #46896
Hi,

Did some testing. Python3 salt-minon works fine with tornado (it is using different version of python34-tornado from epel, not from saltstack repo).

[code]
vs
[code]

we had the same issue here. The root cause might be in module **http.query**:

[code]
Pyton

[2018-07-09 16:34] Ch3LL commented on #48078
I've done some more research on this locale module and I'm worried about using `setlocale` because it changes the program from using the C locale to the user default settings from the LANG environment variables and I'm not sure what problems this could cause if we mess with the locale. What about an approach where we just find out what the decimal point is here: https://docs.python.org/2/library/l

[2018-07-09 16:52] #26414 closed

[2018-07-09 18:15] doesitblend commented on #48415
@rickh563 This has been verified to also occur in 2017.7.7.

This is installed straight from the repository with `install_salt.sh -X -M -P stable 2017.7.7`.

[2018-07-09 18:40] #48230 closed

[2018-07-09 18:40] rallytime commented on #48415
@garethgreenaway can you take a look at this for 2017.7.8?

[2018-07-09 18:48] rallytime commented on #46644
Fixed with #48476

[2018-07-09 19:19] wyardley commented on #43138
I'm seeing this with some lines starting with `[grpc]` as well. Maybe rather than ignoring stuff whackamole, salt should ignore lines up until the leading `{`?

[code]

[2018-07-09 20:02] dwoz commented on #48468
I have submitted the file to Symantec's false positive reporting.

https://submit.symantec.com/false_positive/

[2018-07-09 20:52] #36114 closed

[2018-07-09 21:34] UtahDave commented on #39188
Since the PR mentioned above was merged I'm going to close this issue. Please comment here if we need to reopen. Thanks!

[2018-07-09 21:34] #39188 closed

[2018-07-09 21:54] BenjaminSchiborr opened #48493 "ext_pillar data independent of salt/pillar environment"
### Description of Issue/Question
We have a setup where we store very static customer information in a git pillar. This information should be available to *all* salt/pillar environments. This is especially important during development when we use dynamic pillar/salt environments (e.g. equal to ticket numbers).

Question: In the setup below, how can we make sure that the information from the master

[2018-07-09 22:14] rallytime commented on #44782
I have updated the docs for this as part of the change needed in deprecating `master_shuffle`.

[2018-07-09 22:52] #36433 closed

[2018-07-09 23:52] #36319 closed

[2018-07-09 23:59] whytewolf commented on #48424
yes, public master key.

[2018-07-10 00:03] twangboy commented on #45178
@mbochenk These changes will be merged forward to 2018.3.

[2018-07-10 04:45] methane commented on #45026
I suppose he did it for PY2.

`use_unicode=True` is OK for PY2 if the code is written to use unicode string.
But if not, it should be `use_unicode=(not PY2)`.

[2018-07-10 06:52] GitHubAre commented on #48338
@morganwillcock this is simplified powershell script that is invoked from the sls file (ps file is named Set-VirtualMemoryForAzureVms.ps1):

[code]

Sls file :

[code]

The uncool solution was that I am having inverted logic in functions that are terminating script:
[code]

And then when nothing has changed I am triggering **copy_disk_init_script** state using the **onchanges** requisite.

[2018-07-10 07:07] #46282 closed

[2018-07-10 07:12] icy opened #48496 "Salt-key unable to delete the certificate Test=True"
### Description of Issue/Question

For some reason my output of `salt-key list` has a strange key `Test=True` and I wasn't able to delete them unless I used a glob matching.

### Setup

### Steps to Reproduce Issue

[code]

### Versions Report

[code]

[2018-07-10 07:35] jasongufeng opened #48497 "Passing on saltutil error"
### Description of Issue/Question
When I issue "salt 'minion01' test.ping", it'll be ok.
When I issue "salt 'minion01' state.apply test.sleep", it'll be stuck there for a few minutes.
The logs are below:

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2018-07-10 07:46] jvrahav opened #48498 "EventPublisher consuming 4.6 GB memory"
Hi,

in my setup i have 6k minions connected to a single master. The master is a 16GB RAM, built of a variant of CENTOS based OS.

I have a automated script to bring the minions up.The script brings provisions 200 minions in one cycle with an hour gap between each cycle until it provisions 6k minions.

In between this, we have some operations triggered on the minion like collecting some stats and

[2018-07-10 08:03] DmitryKuzmenko commented on #48411
Again looks like the issue related to forking with running event loop and bound port. https://github.com/saltstack/salt-jenkins/issues/995

[2018-07-10 08:07] DmitryKuzmenko commented on #48411
Or not... I've checked master code already it looks good from that viewpoint but this issue is about syndic that runs a minion part too. I'll check this later.

[2018-07-10 08:20] DmitryKuzmenko commented on #48078
If we have to avoid using the system locale I'm OK.

[2018-07-10 09:52] #29992 closed

[2018-07-10 10:20] msciciel opened #48500 "Feature: grain ip4_routes"
### Description of Issue/Question
It would be nice to have grain containing entries from routing table.  There are sometimes situation when configuration must depends on entries in routing table.

Proposed example output:
[code]

Maybe it would be better to always provide unused keys ?
[code]

I could try to provide such grain if approved.

[2018-07-10 10:25] msciciel opened #48501 "Feature: grains kernelparams"
### Description of Issue/Question
It would be nice to have grain containing kernel boot parameters. We are using it to plug in some configuration when kernel has some specific parameter.

Example output:
[code]

I could try to provide such grain if approved.

[2018-07-10 11:03] rainer042 opened #48502 "Special char bug in highstate_return module"
### Description of Issue/Question
When a highstate is run and the module highstate_returner is used eg for sending email upon state changes this module may fail silently because of state names containing special charchters like the pipe char (|).  The returner is failing silently. In such a case you may find a message in /var/log/salt/minion or /var/log/salt/master like noted below.

The highstate

[2018-07-10 11:19] #35595 closed

[2018-07-10 12:06] srkunze commented on #48453
Same issue here.

[2018-07-10 12:53] rallytime commented on #48342
Hi @jeffclay - This should be fixed with #48495. Can you give that a try?

[2018-07-10 13:55] Ch3LL commented on #48493
I'm not aware of an environment in pillars that will run every time if using a different pillar environment. ping @saltstack/team-core are you aware of anything? or just this could be a feature request?

[2018-07-10 14:03] noelmcloughlin opened #48504 "Help needed: unicode' object has no attribute"
### Description of Issue/Question
I'm having great difficultly getting dict passed into a jinja2 macro in a pull request (https://github.com/saltstack-formulas/iscsi-formula/pull/2). I'd appreciate any advice of help...
[code]
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

[2018-07-10 14:06] gtmanfred commented on #48493
I am not aware of anything in this but @terminalmage would be the one to know for certain.

[2018-07-10 14:06] rnickle opened #48505 "2018.3.2 Minion "[CRITICAL][7471] The Salt Master server's public key did not authenticate!" with 2018.3.2 Master."
### Trying to align M2Crypto in order to use x509 mine functions excludes minion

### Setup

Master and Minion both installed 2018.3.2 from stable repo.

Minion was accepted and working.

### Steps to Reproduce Issue

What I'm trying to do is get M2Crypto working on Ubuntu 18.04 so that I can use the x509 and mine functions to create a certificate authority as described in the salt.modules.x509 do

[2018-07-10 14:19] Ch3LL commented on #48496
Looking at the code it looks like the parser looks through each arg and checks to see if its a kwarg here: https://github.com/saltstack/salt/blob/v2018.3.1/salt/utils/args.py#L98  and compares this re match: `'^([^\d\W][\w.-]*)=(?!=)(.*)$'`

I want to say this is expected behavior but want to make sure @saltstack/team-core  is this expected bheavior or could we possibly handle this befor it looks

[2018-07-10 14:20] Ch3LL commented on #48497
can you share the state you are trying to run this with?

[2018-07-10 14:21] noelmcloughlin commented on #48407
Thanks @selfin I'll try that during the week and close the issue if it works.

[2018-07-10 14:22] gtmanfred commented on #48496
If we support `=` in the minion id, we should support deleting the key with = in it.

[2018-07-10 14:52] Moulde commented on #45386
Did you find a solution to this Joaquin?

[2018-07-10 15:13] Ch3LL commented on #48502
possible duplicate of https://github.com/saltstack/salt/issues/46225 which was fixed here: https://github.com/saltstack/salt/pull/46434

which was added in 2018.3.1

[2018-07-10 15:18] Ch3LL commented on #48505
are you seeing the same error in the master log as this issue? https://github.com/saltstack/salt/issues/48320

[2018-07-10 15:37] Ch3LL commented on #48504
can you share sanitized version of the pillar you are using. I saw there was multiple examples of pillar in `pillar.example`.

[2018-07-10 15:41] #31748 closed

[2018-07-10 15:41] #36465 closed

[2018-07-10 16:16] noelmcloughlin commented on #48504
Hi @Ch3LL I'm used this stanza from `pillar.example` during testing on Ubuntu 14.04.

#Create some targets on Linux (targets.conf)
[code]

[2018-07-10 16:53] Cull-Methi commented on #48411
It is worth noting that we moved these servers to Debian Jessie (instead of ubuntu trusty) using the same executable and I've only seen 65 hits for this in the past 24 hours

[2018-07-10 17:25] BenjaminSchiborr opened #48506 "Unable to pull files from S3 bucket with dot in name"
### Description of Issue
When using file.managed with an S3 bucket as source the state will fail if the S3 bucket name contains a dot.

The returned error would look comparable to this:

[code]

### Setup
1. Have two S3 buckets: mybucket and my.bucket
2. Have a test file in both buckets, e.g. test
3. Use either cp.get_url or file.managed to get the file.

Either one of those *will* work:
[code]
or

[2018-07-10 17:26] emersonveenstra opened #48507 "mysql_grants.present escape option incorrectly reports failure"
### Description of Issue/Question

Setting the `escape: False` for `mysql_grants.present` returns a failure, but the grant is applied correctly

### Setup

[code]

### Steps to Reproduce Issue
Run the above SLS file. The output on the salt master is:
[code]

however, looking at the mysql grants, the check test mysql grant actually succeeded correctly

[code]

### Versions Report
[code]
Both master

[2018-07-10 17:31] emersonveenstra commented on #46917
This isn't fixed in 2018.3.2

[code]

Running that file gives this in the database:

[code]

setting `escape: False` fixes the escaping, but that has its own problems (see #48507)

Both master and minion are running 2018.3.2 on Ubuntu 16.04

[2018-07-10 17:54] dwoz commented on #48468
In relation to submission 98240.

Upon further analysis and investigation we have verified your submission and, as such, the detection(s) for the following file(s) will be removed from our products:

    File name: Salt-Minion-2018.3.2-Py2-AMD64-Setup.exe
    MD5: 0EB9170A38DF0BE582A33969D9673A98
    SHA256: A949870AD4670CA7900091339D3C63EFF3DBD7AE3EA5B09EBD90B97105EC1891
    Note: Whitelisting ma

[2018-07-10 18:32] gtmanfred commented on #48453
Technically we should be supporting tornado 5.0 on python2 installs, we only don't support tornado 5.0 on python3 installs.

[2018-07-10 18:41] #34211 closed

[2018-07-10 18:41] Cull-Methi opened #48509 "Running salt with batch flag causes hard crash"
### Description of Issue/Question
Running the master --> syndic --> minion topology trying to use a batch size with any salt command causes an exception which makes the master hard crash. Any command seems to trigger it, but in particular I was trying `salt '*' cmd.run 'uname -v' -b 20%` (it also failed with `-b 100`, I thought it might've been an issue with the `%`)
### Setup
Top level salt maste

[2018-07-10 18:54] galexrt commented on #37474
@Ch3LL I'm also getting this error.
The problem seems to be that because of the `root_dir` being set, the original `pki_dir` is not used causing the `return` key to be empty.

Running the `salt-call` locally without the `-c /var/tmp/.vagrant_...salt` causes it to be empty.

I'll update my comment with more info as I find it.

[2018-07-10 19:04] galexrt commented on #37474
If I copy the `/etc/salt/pki/minion` to `/var/tmp/.vagrant_...salt/running_data/etc/salt/pki/minion` (the `/var/tmp/.vagrant_...salt/running_data/etc/salt/pki/minion` has to be created because it does not exist) I the command still fails but with this patch seems to work (tried on `2018.3.2` local install, will try latest "master" version):
[code]

[2018-07-10 19:13] rnickle commented on #48320
I am not seeing a 'corrupt public key' error in my /var/log/salt/master file.

[2018-07-10 19:14] rnickle commented on #48505
No, I did not, I updated the ticket where it was cross-referenced also.

Thanks,

Rick

*RICHARD E. NICKLE*
*Sr. Technical Services Engineer*
Information Technology Services
rnickle@holycross.edu
*phone: *(508) 793-2569
www.holycross.edu

On Tue, Jul 10, 2018 at 11:18 AM, Megan Wilhite <notifications@github.com>
wrote:

[2018-07-10 19:18] jonasgit opened #48510 "2018.3.2 file.recurse fails on certain filename"
### Description of Issue/Question
file.recurse ends up with an exception on this filename. Filename could be considered illegal but rsync and others handles it.
The file.recurse operation fails completly without transferring any files at all.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Centos 7 as master and minion.
Set up an sls with file.recu

[2018-07-10 19:23] noelmcloughlin commented on #48504
Replicated on Centos7 with same pillar data
[code]

[2018-07-10 20:22] noelmcloughlin commented on #48504
Similar error message to https://github.com/saltstack/salt/issues/47756

[2018-07-10 20:41] arno01 commented on #10682
It would be great to see this (or the other) module to work with the DNSimple.

[2018-07-10 20:41] #36187 closed

[2018-07-10 21:28] diepes commented on #48463
Updated to latest dev branch.
(Big update https://github.com/saltstack/salt/pull/47566 )
time salt-cloud -l debug -m /etc/salt/cloud.maps.d/AEA01/azure_pieter-INF.conf
Got same error
[code]

added a location to my  provider file.
[code]

try again.
now i get a new error.  I suggest we close this ticket and i will log a new one for the new error.

[code]

[2018-07-10 21:39] wichert commented on #3802
This looks like a premature close.

[2018-07-10 21:57] vernondcole opened #48515 "Documentation of artifactory.downloaded does not agree with operation"
### Description of Issue/Question

Calling artifactory.downloaded using code like the documentation produces an error response.

The arguments show in the example are rejected as "invalid keyword arguments".  Since Salt Fluorine will be out soon (and since there is no documentation of what the keywords are supposed to do) the documentation needs to be updated to provide a call that actually works.

[2018-07-10 22:14] jasongufeng commented on #48497
salt 'minion01' state.apply test.sleep

just a test.

[2018-07-10 22:30] dawidmalina commented on #37906
I have exact issue
[code]

And my state looks like this:
[code]

This was working perfectly with 2017.7.x but now we can move on to 2018.3.x :(

[2018-07-10 22:35] absmith82 commented on #37906
This seems to be fixed in 2018.3.1 and 2018.3.2
*Adam Smith*
Senior Systems Engineer

Sundance Institute
O:435.658.3456
E:adam_smith@sundance.org
www.sundance.org

<http://www.sundance.org>

On Tue, Jul 10, 2018 at 4:31 PM Dawid Malinowski <notifications@github.com>
wrote:

[2018-07-10 22:41] #35112 closed

[2018-07-10 22:57] jouve opened #48516 "documentation of https://docs.saltstack.com/en/latest/ref/roster/all/salt.roster.sshconfig.html#salt.roster.sshconfig.targets"
### Description of Issue/Question

The documentation talks about a flat yaml file in /etc/salt/roster instead of ssh_config file in $HOME/.ssh/config:

[code]
### Setup

n/a

### Steps to Reproduce Issue

go to https://docs.saltstack.com/en/latest/ref/roster/all/salt.roster.sshconfig.html#salt.roster.sshconfig.targets

### Versions Report
n/a

[2018-07-10 23:50] noelmcloughlin commented on #47756
I think I replicated in #48504

[2018-07-11 00:09] xinma commented on #29308
thanks to @unicell 's workaround. prepend `true;` in front of var assignment worked for me too, before we had the fix or this issue.

[code]
v.s.
[code]

[2018-07-11 02:29] jasongufeng commented on #48497
"foo.conf" is just a dummy file.
[code]

[2018-07-11 02:57] jasongufeng commented on #48497
I tried different versions of salt on different vms. It remains the same.
Is it related to the environment? It's ok on other location.

[2018-07-11 06:38] Waterdrips commented on #47938
Has this been resolved ?
I was trying to reproduce in latest development version and get :

local:
    Data failed to compile:
----------
    Malformed topfile (state declarations not formed as a list)
----------
    No matching sls found for 'nginx' in env 'base'

[2018-07-11 06:55] angeloudy commented on #44848
I submitted a patch to FreeBSD  buglist for filebeat  https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=227945
But I still believe it would be nice to have a timeout in salt.

[2018-07-11 06:57] jvrahav commented on #48498
Master Config

keep_jobs: 1
job_cache: False
external_auth:
  pam:
    admin:
      - '@wheel'
      - '@runner'
      - '@jobs'
      - .*
rest_tornado:
  port: 8553
  ssl_crt: /etc/pki/tls/certs/localhost.crt
  ssl_key: /etc/pki/tls/certs/localhost.key
  webhook_url: /hook
  websockets: True
  disable_ssl: False
  debug: False

log_level_logfile: error
max_open_files: 100000
salt_event_pub_hwm:

[2018-07-11 07:17] zhoufwind opened #48517 "Salt failed to run rsync with password file"
### Salt failed to run rsync command with password

This issue can be reproduce both on Linux and Windows.
Rsync need use the values of parameters, which store in environment variables, include:
- USER=root
- RSYNC_PASSWORD=applepen

Quote from rsync source code: rsync/rsync.yo
[code]

In this case, rsync failed to read the config file, or failed to read the environment variables, so auth failed.

[2018-07-11 07:50] jasongufeng commented on #48497
I figured out the problem. We use a NAS for “/srv/salt" and there are many files.  But I don't know the reason why it can cause the problem. When I use an empty folder for "/srv/salt", everything goes ok.

[2018-07-11 07:53] JoaquinVeira commented on #45386
Hi,

I don't remember right now but I think I changed from OpenSuse repos for
Salt dependencies to Salt owned repos.

Regards.

El mar., 10 jul. 2018 a las 16:52, Malte Baden Hansen (<
notifications@github.com>) escribió:

[2018-07-11 08:01] github-abcde commented on #46986
This does indeed fix the issue. Hurray! Thanks for digging to the core of this :)

[2018-07-11 08:31] amuhametov commented on #48200
guys?

[2018-07-11 09:28] markuskramerIgitt commented on #48468
@dwoz, yes.
I will wait one day to increase probability that the whitelisting arrived.

[2018-07-11 09:34] dumol commented on #42039
True, this seems to affect all RPM-based Linux distros.

Maybe the reason for not attending to it is that it's easy to fix by manually adding the missing key through command line on the affected minion, and then it's out of the way. Still,  quite annoying on fresh minions…

[2018-07-11 09:41] #30255 closed

[2018-07-11 09:41] #16153 closed

[2018-07-11 10:56] Lutseslav opened #48519 "Mysql module alter_db quotation missing"
### Description
When mysql schema has special chars, e.g. dash "-", sql request fails with
`
You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '-partners CHARACTER SET utf8 COLLATE utf8_general_ci' at line 1
`
### Setup
E. g. salt state
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2018-07-11 11:00] zerthimon commented on #46917
@emersonveenstra This is a special problem with `all privileges`, that's a separate bug.
MySQL returns a list of privileges that translate to `all privileges` and the code tries to compare it to `all privileges` string

[2018-07-11 11:35] zhoufwind commented on #48517
Fixed this issue by sets the environment variables for inside of salt, closing this issue now.

[code]

[2018-07-11 11:35] #48517 closed

[2018-07-11 12:04] jvrahav commented on #48498
Minion config

master: salt
random_reauth_delay: 180
recon_default: 10000
recon_max: 170000

[2018-07-11 12:54] thefirstzven commented on #28229
Hello,
I'm facing the same issue when deploying CentOS 6.9 VM to vmware (vcenter)...
when I deploy a VM with salt-cloud and deploy: True
bootstrap-salt.sh run on the deployed VM and fails at end when checking salt-minion
on the salt master server I see 2 key entries for the deployed VM but one is on denied Key section.

When I deploy a VM with salt-cloud but with deploy: False, I do not have the m

[2018-07-11 13:13] selfin commented on #48200
@amuhametov could you try to set python to `/opt/rh/rh-python36/root/usr/bin/python`
optionaly you can remove `venv_bin` if it is avaliable systemwide

[2018-07-11 13:13] #46986 closed

[2018-07-11 13:19] rallytime commented on #37906
Thanks for updating @absmith82! We did a lot of unicode work for the 2018.3.0 release, and more individual/follow up fixes for 2018.3.1 and 2018.3.2.

I'm going to close this. If people have more specific issues, please feel free to file a new issue so we can get more eyes on it. Thank you everyone!

[2018-07-11 13:19] #37906 closed

[2018-07-11 13:22] gtmanfred commented on #47938
It looks like it is!

Thanks @Waterdrips _

[2018-07-11 13:22] #47938 closed

[2018-07-11 13:52] Ch3LL commented on #45026
k thanks for clarifying. looks like this will need to get fixed up. Will label as a bug.

[2018-07-11 14:28] garethgreenaway commented on #48506
I believe this should be fixed in 2018.3 with the additional of https://github.com/saltstack/salt/pull/48328/files

[2018-07-11 14:30] Cull-Methi commented on #48509
Tried it with a pex built with python 2.7.6, and got the same behavior:

[code]

[code]

[2018-07-11 14:42] robert8103 opened #48522 "file encoding is not working"
### state.file encoding issue
I use an utf8 encoded file with special chars like `ä,ü,ö,ß,Ä,Ü,Ö,...`

if i do a salt run  I'll get this error
[code]
### Setup
the file is qute simple it looks like this:
[code]
the command file gives me this:
[code]
and the formula looks like this:
[code]
a second try with: `file.serialize`
[code]
a `# cat hpueckl.json` results in this:
[code]
### Steps to Reproduc

[2018-07-11 14:46] #48277 closed

[2018-07-11 15:23] Ch3LL commented on #48505
I was able to replicate your issue and verified this fix actually does fix your issue: https://github.com/saltstack/salt/pull/48358

if you apply that 2 line fix it should start working.

[2018-07-11 15:40] garethgreenaway commented on #48515
@vernondcole Thanks for the report.  Looking at your example from above and comparing it to the one from the documentation, it appears that your tabbing for the arguments might be off?  'artifact_id', 'repository' and 'artifactory_url' need to be included in the `artifact` dictionary.

[2018-07-11 15:46] steverweber commented on #47954
@Ch3LL I'll create a pull request because this is a problem I don't want to patch on my end for each release.

[2018-07-11 15:47] garethgreenaway commented on #48519
@Lutseslav Thanks for the report and the PR!

[2018-07-11 16:01] Ch3LL commented on #48504
I added a log line here:

[code]

and with your pillar data i see this: `[ERROR   ] lun: /dev/vg00/example01` which is not a dict key. You are trying to iterate over a string, not dictionary keys.

[2018-07-11 16:05] Ch3LL commented on #48504
i think you are trying to get the values from ?

[code]
you would just need to target it one more ['/dev/vg00/example01']

[2018-07-11 16:07] Ch3LL commented on #48504
ahh i also missed that you aren't adding `.iteritems()` in the end as well

[2018-07-11 16:11] Ch3LL commented on #48497
i'm looking for the contents of the sls file `test.sleep` or in other words /srv/salt/test/sleep.sls
how many files are in your directory and whats the size?

[2018-07-11 16:11] noelmcloughlin commented on #48522
Might be related to #37906.

I was getting same error on FreeBSD (Salt 2018.3.1) ..`'ascii' codec can't decode byte 0xe2 in position 2912: ordinal not in range(128)`. Fixed by setting lang to utf-8 in my unix environment like this.
[code]

[2018-07-11 16:14] garethgreenaway commented on #48516
@jouve Thanks for the report.  Unfortunately, I'm not entirely sure what the issue is that you're reporting.   `salt-ssh` will use the `roster` file in /etc/salt to determine what minions it should attempt to run commands on.  There is also the option to import targets that have been previously configured in $HOME/.ssh/config or another .ssh/config file depending on the path provided.

[2018-07-11 16:15] Ch3LL commented on #37474
`The problem seems to be that because of the root_dir being set`

where are you setting this?

[2018-07-11 16:17] garethgreenaway commented on #48510
@jonasgit Thanks for the report.

[2018-07-11 16:34] Lutseslav commented on #48519
Not a problem =) Can we merge it? Do you know when 2018.3.4 or later release is scheduled?

[2018-07-11 16:36] garethgreenaway commented on #48519
@Lutseslav Yup!  The PR looks good, just waiting for the automated tests to finish and it should be good to go.  @rallytime Can you comment on when we're planning for 2018.3.4?

[2018-07-11 16:37] #35982 closed

[2018-07-11 16:40] twangboy commented on #46644
This fix is causing issues with our tests. We'll need to do a deep dive into the `python-certifi-win32` code to see what's going on there. To replicate the issue:

On a Windows system without `ioflo` installed...
1. `pip install python-certifi-win32`
2. `pip install ioflo`

Stacktrace:
[code]

[2018-07-11 16:45] dmurphy18 commented on #48453
@edgan This has been fixed with https://bodhi.fedoraproject.org/updates/FEDORA-2018-2ce9e3267a submission, recently.  There was an oversight in building the packages but it applied to the Redhat family of packages. The Debian and Ubuntu packages should be fine.  Can you provide a --versions-report on the Ubuntu 14.04 version of Salt in use, as the restriction used to exist with recent earlier vers

[2018-07-11 16:45] galexrt commented on #37474
@Ch3LL `root_dir` seems to be automatically set by `salt-ssh` in the `/var/tmp/.salt-.../minion` config file.
I have attached an asciinema recording which shows the commands/steps I'm running (I have already applied my patch to the `/usr/lib/python2.7/dist-packages/salt/runners/manage.py`, but in the recording also had to add the `hash_type` to the `salt_key.finger()` which I don't know how to get

[2018-07-11 16:46] Lutseslav commented on #48519
@garethgreenaway It looks like some are finished and failed. That's why I am concerned.

[2018-07-11 16:47] garethgreenaway commented on #48519
@Lutseslav The failures look unrelated to your PR.

[2018-07-11 16:52] Lutseslav commented on #48519
@garethgreenaway Yes, they are. So, it's normal for merge, got it =) Ok, deb pkg with this change in your repo would be great.
Thanks for your quick actions accepting PR

[2018-07-11 16:52] garethgreenaway commented on #48509
@Cull-Methi Thanks for the report.  Does this only happen when using a pex built Salt package?

[2018-07-11 16:57] Lutseslav commented on #48519
@garethgreenaway I previously asked about 2018.3.4 - I meant 2018.3.3. Anyway it's about the next version

[2018-07-11 17:12] twangboy commented on #46644
NOTE: If you install `setuptools-git` before `ioflo` then it will install correctly.

[2018-07-11 17:29] rallytime commented on #48204
@zerthimon I'm not sure. I'll let @garethgreenaway follow up here. :)

[2018-07-11 17:37] #36507 closed

[2018-07-11 17:48] jouve commented on #48516
@garethgreenaway when using`--roster sshconfig`, it does use $HOME/.ssh/config instead of `roster`.

https://github.com/saltstack/salt/blob/develop/salt/roster/__init__.py#L101
https://github.com/saltstack/salt/blob/develop/salt/roster/sshconfig.py#L102
https://github.com/saltstack/salt/blob/develop/salt/roster/sshconfig.py#L37
https://github.com/saltstack/salt/blob/develop/salt/config/__init__.py

[2018-07-11 19:15] rallytime commented on #48519
Closed via #48520.

This fix will be in the 2018.3.3 release of Salt.

[2018-07-11 19:15] #48519 closed

[2018-07-11 19:29] brad-alexander commented on #14622
I also ran into this "--list" missing issue and made a shim shell script that calls the inventory file with --list

    #/bin/bash
    /path/to/ansible_inventory_script --list

I also don't think that the ansible module honors the roster_defaults in master config

[2018-07-11 19:39] rnickle commented on #48505
Thanks Megan,

I tried applying that patch manually to
/usr/lib/python2.7/dist-packages/salt/crypt.py (on my 16.04 master), and
/usr/lib/python3/dist-packages/salt/crypt.py and I am still seeing:

2018-07-11 14:37:44,891 [salt.minion      :1004][ERROR   ][40726] Error
while bringing up minion for multi-master. Is master at salt responding?

2018-07-11 14:37:54,935 [salt.crypt       :743 ][CRITICAL

[2018-07-11 19:39] gtmanfred commented on #14622
Can you open a new issue about this?

and i will look into it?

Thanks,
Daniel

[2018-07-11 19:45] gtmanfred commented on #14622
Actually, i am working on this now.

[2018-07-11 21:01] garethgreenaway commented on #48510
@terminalmage Ideas on this one?

[2018-07-11 21:04] Vaelatern commented on #42539
The problem appears to be that we always enable services but don't enable them in that one move.

[2018-07-11 21:12] gigi206 commented on #48412
Any ideas ?

Is there a way to block the job until the reactor jobs have finished ?

I would like to do :
salt/job/20180704150437224179/new => call the reactor (salt/job/20180704150437466794/new) => call reactor's jobs => only when reactor jobs have finished run jid 20180704150437224179

But Salt run all in parallel and I would like to run in sequential.

There is a way to do this ?

[2018-07-11 21:44] doc987 commented on #48483
If it's currently done with bash commands, why not continue to do so?  Something like the following might be run on the minion, adding options where appropriate (e.g. key size, key type).
[code]
Then run scp on the master.
[code]

[2018-07-11 21:53] gtmanfred commented on #48483
@techhat @thatch45 can one of yall weigh in on why the bootstrap process in salt-cloud makes the minion key on the master and transfers it over instead of making the key on the minion and copying the key back?

[2018-07-11 21:54] gtmanfred commented on #14622
This will help just make the whole thing better.

https://github.com/saltstack/salt/compare/develop...gtmanfred:ansibleroster

[2018-07-11 22:42] whytewolf opened #48536 "diskusage beacon does not recognize tmpfs disks in linux."
### Description of Issue/Question

The beacon diskusage does not monitor the usage of tmpfs based disks.

### Setup

[code]

[code]

### Steps to Reproduce Issue

Because of the regex stuff psutil is asked for a partitions list. But that list only includes items that are physical

[code]

### Versions Report

[code]

[2018-07-11 22:43] whytewolf commented on #48536
ZD-2686

[2018-07-11 22:46] garethgreenaway commented on #48506
Upon closer inspection it appears this issue is unrelated to the other fixed in #48328 and the `.` in the bucket name is causing issues with the wildcard SSL certificate which is expecting the name to be `something-something.s3.amazonaws.com` or simply `s3.amazonaws.com`.  Need to dig a bit further down to see if that URL is being generated by Salt or an external library.

[2018-07-11 23:22] BenjaminSchiborr commented on #48506
@garethgreenaway : I think the error comes out of salt/ext/ssl_match_hostname.py (e.g. https://github.com/saltstack/salt/blob/develop/salt/ext/ssl_match_hostname.py), which is a component taken from urllib3 (see here: https://github.com/urllib3/urllib3/blob/master/src/urllib3/packages/ssl_match_hostname/_implementation.py).

[2018-07-11 23:58] noelmcloughlin commented on #48504
But I think my pillar data is correct - the string "lun" is not part of my pillar data - so something else is going on?

[2018-07-12 00:31] garethgreenaway commented on #48506
@BenjaminSchiborr Right, the error is coming from there, I am curious if Salt is generating the:
`my.bucket.s3.amazonaws.com` URL that is being used in the attempt to download the file or if it's being generating by something outside of Salt, eg. the Python Boto libraries perhaps.

[2018-07-12 00:49] garethgreenaway commented on #48506
@BenjaminSchiborr Found the spot in the code that is generating the URL in question (https://github.com/saltstack/salt/blob/2017.7/salt/utils/s3.py#L95).  If you set the following in your minion configuration then the cp.get_url should work as expected:
```s3.path_style: True```

[2018-07-12 01:54] techhat commented on #48483
The keys are generated in Python, internally in Salt Cloud, not with bash commands.

Because the master normally has unfettered access to the minion (unless explicitly restricted), creating the keys on the minion in order to keep the private key off the master will not increase security. I'm not sure how you would secure a minion so that the master would not have access to just copy its private Sa

[2018-07-12 01:59] wlwio opened #48539 "rsync.synchronized state is unfriendly or has some bug？"
### Description of Issue/Question
when use rsync.synchronized state I can not rename the file or dir,bug rsync.rsync  module is ok. I think the module and state methods should be as uniform as possible, and the rsync.synchronized state calls the rsync.rsync module method.

I see the  /usr/lib/python2.7/site-packages/salt/states/rsync.py find some problem
Source code：
[code]

This method seems to t

[2018-07-12 06:16] thechile opened #48540 "Is it possible to have a requisite based on grain, pillar or jinja boolean response ?"
Hi, is it possible to use a `true|false` type return value as requisite control  ? Same as you can do in chef basically.

The current requisites all seem to shell out. I would like **not** to check the success or failure of a defined state but just determine if the state should be included in the highstate run based on the value of one or more grains or pillars.

e.g.

[code]
I know i could wrap t

[2018-07-12 08:00] chaudum commented on #48198
@garethgreenaway anything I can do to help you figure out what the problem is?

[2018-07-12 08:14] faxe78 commented on #14899
+1 for this, to have named include states also.

[2018-07-12 09:52] calvinhp opened #48542 "Missing state git.cloned is listed in the docs as new for 2018.3.2"
### Description of Issue/Question

The docs say that `git.cloned` was added in 2018.3.2, but it the feature isn't released yet.

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.git.html#salt.states.git.cloned

It does appear to be in the `develop` branch and the `2018.3` branch.

[2018-07-12 11:56] jyurdal commented on #48083
I have experienced inconsistency in pillar data in 2018 salt-master versions, that may looks like the cause of the error. In some cases (but not always) salt does not take the correct pillarenv if **pillarenv_from_saltenv** is set to **True** in minion config.

**It works:**
[code]
**It works on all minion pillarenv_from_saltenv configs:**
[code]
**It does not always work but sometime it does**
[c

[2018-07-12 12:30] robert8103 commented on #48522
@noelmcloughlin here are my env vars so it doesn't seem a problem with the language:
[code]

[2018-07-12 12:37] #29820 closed

[2018-07-12 12:39] faxe78 commented on #46712
I see the same issue here on SLES 12 SP2. On SLES i have no network.managed so i set the configuration manually.

[code]

followed by a restart of the network service manager wicked. After that i run a small state setting a new motd and get.

`    Minion did not return. [No response]
`

2018-07-12 14:30:12,066 [salt.transport.zeromq:1083][DEBUG   ][1815] SaltReqTimeoutError, retrying. (1/3)
2018-0

[2018-07-12 12:42] Maunty opened #48544 "predefined saltenv by grains dont use pillar data"
### Description of Issue/Question
I use saltenv or environment grain for defaut saltenv definition on minion side. In ver 2018.3.0 i mached that state.highstate command ignore pillar data if saltenv or pillarenv is not defined in comand line.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
state top.sls
env-2:
  '*env-2*':
    - users
    - vim

[2018-07-12 12:45] noelmcloughlin commented on #48504
Apologies @Ch3LL I noticed you added the "lun" string for debugging.

`{%- do salt.log.error('lun: %s'|format(lun)) %}`

I want to recursively call macro with dict data so its scalable but looks like my implementation is incorrect is the conclusion.  I'll try more testing today.

[2018-07-12 13:26] mind-code opened #48546 "Feature: target minions via topfile / highstate whitelist"
### Description of Issue/Question

I would like to have the option to target via topfile.

Lets say I have a formula with multiple states. Some minions get them all, some only a few, others one and maybe most even none for this particluar formula. Ive done all the targetting in the topfile already.

Now I change something in the state or pillar data and want to propagate that change to all affecte

[2018-07-12 13:37] #13850 closed

[2018-07-12 13:37] gtmanfred commented on #48540
yes.

What you will want to do is make sure you dump a string, so that the `true` or `false` binary on the system gets executed.

[code]

and if you want it to run, you set `somepillar` to `'true'` then onlyif will run the /bin/true or /bin/false binary.

[2018-07-12 13:38] gtmanfred commented on #48540
make sure not to get caught by yaml idiosyncracies.

https://docs.saltstack.com/en/latest/topics/troubleshooting/yaml_idiosyncrasies.html#true-false-yes-no-on-off

[2018-07-12 13:39] gtmanfred commented on #48542
Yup, 2018.3.2 was a smaller bugfix release, which didn't have everything in it that was planned, all of that stuff has been bumped to 2018.3.3.

I will open a pr, thanks!
Daniel

[2018-07-12 13:42] gtmanfred commented on #48546
I saw yall discussing this on irc.

It would be a cool idea.

Thanks for the request.
Daniel

[2018-07-12 13:49] gtmanfred commented on #48544
if you set `pillarenv_from_saltenv` in the minion config does this fix your issue?

https://docs.saltstack.com/en/latest/ref/configuration/minion.html#pillarenv-from-saltenv

Thanks,
Daniel

[2018-07-12 13:53] gtmanfred commented on #48539
It looks like you should be able to rename the file by setting `force: True`

The ability to rename files/directories should be added.  There will need to be some extra logic added for rsync to reach out and check the filetype of the file on the remote system to know if it is a file or a directory that is being synced, so that the mkdir can be done on the whole path or on the dirname of the path i

[2018-07-12 14:24] soostdijck opened #48548 "syslog_return failing on Centos7"
### Description of Issue/Question
I'm trying to set up a the syslog returner but I'm getting the following error:

*minion log*
[code]
*master log*
[code]

### Setup
*master config*
[code]

*minion config*

[code]

### Steps to Reproduce Issue
The issue seems to only occur when I run the command below on the master. On the minion the error does not happen.

`salt 'minion1*' test.ping --return sysl

[2018-07-12 14:25] rickh563 commented on #48536
### ZD-2686 Notes:

Appears this commit is what changed the behavior from 2016.11 to 2018.3.*

https://github.com/saltstack/salt/commit/0b0ada65e36e68df40341f10ac272fd01391c8ae

The behavior before the commit was to walk through the list of monitored directory/filesystems. The behavior after the change is to compare the list of what is being monitored to the list of mount points in an effort to su

[2018-07-12 14:30] Ch3LL commented on #37474
okay I went ahead and re-created the issue again and what i notice on the intial error without your fix I notice that the finger just is not returning. I believe this is because when we call `key.finger` the function calls this: `__opts__['pki_dir']` which is going to use the salt-ssh __opts__ and not whats on the minion so what if we add the pki_dir as an argument and pass in the the appropriate

[2018-07-12 14:35] Ch3LL commented on #48504
yeah i think these docs will help you: https://docs.saltstack.com/en/latest/topics/tutorials/pillar.html#more-complex-data

i'm pretty sure youjust need to make sure you are iterating through it correctly with .items()  and call the dictionary one more depth deeper, if i am understanding your intentions correclty.

[2018-07-12 14:37] galexrt commented on #37474
@Ch3LL That could also just be the issue (assuming you have tried with the current `develop` branch).

I hadn't gotten around to test it with the `develop` branch but I was simply suspecting that it may still be "broken" like that in the `develop` branch as from what I saw there haven't been too many changes to that code after the `2018.3.2` release. I was just using the Saltstack getting started

[2018-07-12 14:39] Ch3LL commented on #48505
you probably already did this but did you restart the services? Also on the python3 box can you make sure to clear out any pycache files. There is a known issue with the loader that does not refresh files if they already have a pycache file.

If none of that works I might have to re-try the replication and fix. I remember i did do some different things while replicating the issue so I coudl start

[2018-07-12 14:41] Cull-Methi commented on #48509
@garethgreenaway I've only used the pex built salt packages thus far, so I can't speak to if it works with the apt packages or other sources

[2018-07-12 14:47] Maunty commented on #48544
Nope, didn't helped.

[2018-07-12 14:58] rnickle commented on #48505
I did restart the services, and it didn't seem to work, but I will retry.

I had the same thought along another line.  I have little invested in the
machine, it is a VM I am building it as a template for a series of
machines.  Perhaps I should rebuild it, reinstall salt-minion, get it
running, apply your patch and then reinstall M2Crypto?

I could get that done shortly.

Thanks,

Rick

*RICHARD E.

[2018-07-12 15:10] terminalmage commented on #48522
@robert8103 I can't reproduce this. If you could reproduce in something more portable, like a vagrant box, then I can take a closer look. It seems that you have a UTF-8 locale already, which is why this doesn't make a lot of sense.

[2018-07-12 15:48] bbinet commented on #39769
This feature would actually be a great enhancement to salt tcp transport!
@dhananjaysathe Have you been able to contribute a patch?

[2018-07-12 16:03] Reiner030 commented on #47188
The only thing I can do is referencing the code because I didn't know how saltstack pushes this data into redis but I could see as some months ago written that the result shows newlines in the binary cache file:

https://github.com/saltstack/salt-contrib/blob/master/grains/ec2_info.py#L60

[code]

Myself I had done a workaround by using unison synchronisation between my old and new saltmaster inst

[2018-07-12 17:06] gtmanfred opened #48556 "Async is a protected word in python 3.7"
### Description of Issue/Question
We use the word `async` throughout salt, and it has become a reserved word in python 3.7.

This will cause breaking changes in salt if we change this in an old release, because we use the keyword `async` in client mixins.

This will need to be fixed for us to support python3.7

[2018-07-12 17:06] gtmanfred commented on #48556
[code]

[2018-07-12 17:19] gtmanfred commented on #48556
Keyword added to the reserved words in 3.7

https://docs.python.org/3/reference/lexical_analysis.html#keywords

`adef` was also added, but we do not use that afaik.

[2018-07-12 17:28] gtmanfred commented on #48556
@saltstack/team-core @saltstack/team-suse do yall have any thoughts on this?

Right now we are talking about only making this change in develop.

[2018-07-12 17:29] thechile commented on #48540
OK so it requires the `onlyif` to be sent to the minion and for it to shell out and then return the exit code. Thank you for confirming. I was hoping for a lighter weight requisite but i can use this all the same.

[2018-07-12 17:31] gtmanfred commented on #48540
yup there are plans to add a way to run salt modules and just use the truthiness of their returns in onlyif and unless, but because you can wrap it in jinja, there hasn't been anything that just says TRue or False from jinja except for stuff like what I mentioned above, and it is only useful if you don't want to wrap stuff in jinja if statements.

[2018-07-12 17:31] #48540 closed

[2018-07-12 17:49] whytewolf opened #48557 "file.line in python3 on windows 2012 r2 is adding extra CR line endings."
### Description of Issue/Question
Using file.line to insert a line. The resulting file is transformed to have `<CR><CRLF>` inserted on all lines, not just the lines edited.
### Setup
c:\conf\vars.xml with dos line endings
[code]
test3.sls
[code]

resulting file
[code]

### Steps to Reproduce Issue
Use the above states and files on windows 2012 r2 with python3 2018.3.2
Also tried the line ending fi

[2018-07-12 17:50] rnickle commented on #48505
Thanks for your patience Megan, I reproduced my initial test and found that
I had typo'd "b''" as "'b'"

I had in parallel started my test of building a new VM from scratch,
installing salt, applying your patch, and then installed M2Crypto, and that
was also successful, so I'm ready to close my bug.

Rick

*RICHARD E. NICKLE*
*Sr. Technical Services Engineer*
Information Technology Services
rnickl

[2018-07-12 17:50] #36526 closed

[2018-07-12 17:50] whytewolf commented on #48557
ZD-2682

[2018-07-12 17:56] rnickle commented on #48505
Ch3LL's fix worked for me on review, and I confirmed it with a new instance.

[2018-07-12 17:56] #48505 closed

[2018-07-12 18:45] nhatfield opened #48560 "pkgrepo.manage is broken 2018.3.2"
### Description of Issue/Question
pkgrepo.manage is broken:

`'pkgrepo' __virtual__ returned False`

### Setup
[code]

### Steps to Reproduce Issue
`salt 'host01*' state.apply sensu -l debug`

[code]
[code]

### Versions Report
`salt --versions-report`

[code]

[2018-07-12 18:50] #15662 closed

[2018-07-12 18:50] #36527 closed

[2018-07-12 18:53] BenjaminSchiborr commented on #48506
That's awesome! Thank you.

[2018-07-12 19:44] garethgreenaway commented on #48506
@BenjaminSchiborr No worries!  An opportunity for me to something learn as well.  If you feel that the issue is resolved please feel free to close this out.

[2018-07-12 19:46] whytewolf commented on #48110
That patch looks to fix this issue.

[2018-07-12 20:02] strugee commented on #27007
Hello, can someone reopen this issue? I'm looking to deploy LXD on my systems which requires snapd and AFAICT, support for snap package management never landed in Salt.

[2018-07-12 20:45] BenjaminSchiborr commented on #48506
When using ``s3.path_style: True`` as an option for the salt-minion I can download files from a bucket with dots in its name.

[2018-07-12 20:45] #48506 closed

[2018-07-12 20:59] seanorama opened #48563 "salt-ssh disables GSSAPIAuthentication when it is supported"
### Description of Issue/Question

salt-ssh is sending `-o GSSAPIAuthentication=no` when GSSAPIAuthentication is supported and is enabled in /etc/ssh/ssh_config and ~/.ssh/config

### Setup
[code]

### Steps to Reproduce Issue

Notice salt-ssh disabling GSSAPIAuthenication
[code]

But SSH works automatically using GSSAPI:
[code]

### Versions Report
[code]

[2018-07-12 22:10] edgan commented on #48453
@dmurphy18 I am not using official fedora packages. I am taking the centos 7 src.rpm, adding patches, and building it myself. I will try experimenting, and see if it I can get it working.

[2018-07-12 22:10] morganwillcock commented on #48338
@GitHubAre I think you can probably use `wmic` to avoid the need to return the state as text, and also use it to apply the settings. Something like this should work, but it depends on whether you need to still run the scripts to set something else:

<pre>set_pagefile_to_manual:
  cmd.run:
    - name: wmic computersystem set AutomaticManagedPagefile=False
    - onlyif: wmic computersystem where Aut

[2018-07-12 23:48] doc987 commented on #48483
Advantages of generating the minion private key on the minion include:
- Minion private key is never passed over a network.
- Minion private key never touches the disk of any system other than the minion.

Even if the salt master process has full access to the salt minion, the minion private key could be compromised in either of the above cases by something other than the salt master process.

Tha