[2015-08-21 16:53] jfindlay commented on #26487
@kottenator, I don't see much you could do to simplify the code.  The problem seems to be that the `file.get_managed` and `file.manage_file` functions require many arguments that could take default values.

[2015-08-21 16:55] jfindlay commented on #26523
@savamane, thanks for the report.

[2015-08-21 16:57] jfindlay commented on #26536
@jhgg, thanks for the report.

[2015-08-21 17:06] kottenator commented on #26487
Yes, and also I have to use them together... I thought there may be some nice "shortcut" that already combines them and doesn't require 10 obligatory arguments

[2015-08-21 17:13] jfkw opened #26558 "salt.client support firing events from existing minion without requiring root privileges"
It would be useful to allow events to be fired from an existing minion where the clients are scripts and applications running as users without root privileges.

Currently: "Importing and using Caller must be done on the same machine as a Salt Minion and it must be done using the same user that the Salt Minion is running as."

Perhaps in config of the existing minion, specific events could be white

[2015-08-21 17:22] jfindlay commented on #26487
@kottenator, I agree.  There doesn't seem to be an easy way to do this.  Thanks for reporting.

[2015-08-21 17:24] jfindlay commented on #26540
@yellow1912, thanks for the report.  Can you also try to confirm this on 2015.5.3 or later?

[2015-08-21 17:29] jfindlay commented on #26538
@seanjnkns, thanks for the report.  I also wonder if the file.touch state should use file.managed internally in this way to reduce code duplication and complexity.

[2015-08-21 17:29] rallytime opened #26559 "Critical Error/Stack trace on develop from #26399"
I pulled the latest develop this morning and the following occurs when just doing a simple test.ping:
[code]
Git bisect points to 54ad6532f2a74f2beccfeda1645248166ace85a4 from PR #26399 as the problem commit causing this issue. After reverting the commit, the stacktrace dissapears:
[code]
@s0undt3ch I am not sure why that change is causing this, but can you take a look when you get a moment?

Mast

[2015-08-21 17:32] gravyboat opened #26560 "Vsphere getting started guide should be updated/totally deprecated"
It looks like http://docs.saltstack.com/en/latest/topics/cloud/vsphere.html is still alive even though it has a link to the vmware docs. This document should probably be removed, or a getting started guide written for the vmware stuff (in addition to what currently exists doc wise) that this can link to.

[2015-08-21 17:37] jfindlay commented on #26560
@gravyboat, thanks for the report.  The vmware driver hasn't been officially released yet.  Once 2015.8.0 is released, we can probably add more warnings on it though.  As long as the code continues in salt, ostensibly until 'Carbon', I think we should keep the legacy docs in as well.  What do you think?

[2015-08-21 17:39] whiteinge commented on #26558
Thanks for filing this. This is a recurring request. It could be as simple as an additional ZMQ socket that could be owned by a specific non-root user, or it could be something more like the Peer system that involves a master-side event whitelist for additional security.

[2015-08-21 18:02] gravyboat commented on #26560
@jfindlay The docs for vmware are showing 2015.5.4, might be good to update that as well. I'm fine with keeping the legacy stuff in, but we should try to duplicate the getting started content I think.

[2015-08-21 18:12] ngrennan-inflection commented on #26340
Epoch seems to only be needed for dnf/fc22. CentOS 7 and Fedora 21 don't need it. So it is a behavior change between yum and dnf.

[2015-08-21 18:21] yellow1912 commented on #26540
The salt-call grains.items command result is too long, I will just paste one part of it:
[code]

salt-call grains.get roles:satis returns:
[code]

@jfindlay  I will see how I can upgrade on my server and report the result back

[2015-08-21 18:30] yellow1912 commented on #26540
Update: I'm running into a pretty funny issue with upgrading. Since I'm testing I have both the minion and master installed on the same machine. When I tried upgrading the master I got:

The following packages have unmet dependencies:
salt-minion : Depends: salt-common (= 2014.7.0+ds-2) but 2015.5.0+ds-1utopic1 is to be installed

When I tried upgrading the minion then I get the same issue:
salt-m

[2015-08-21 18:36] rallytime commented on #26560
I agree with @jfindlay that we should keep the vsphere docs around since the driver will be available until Carbon.

The new VMWare driver was *supposed* to come out with 2015.8.0, but we had to backport it due some other (unrelated to vsphere) deprecation paths. So, vmware is available in 2015.5.4/5, and there are already getting started docs for the vmware driver here:
http://docs.saltstack.com/

[2015-08-21 18:39] gravyboat commented on #26560
@rallytime I'm an idiot and didn't see the vmware guide link to the right and only followed: http://docs.saltstack.com/en/latest/ref/clouds/all/salt.cloud.clouds.vmware.html#module-salt.cloud.clouds.vmware, ignore that portion, I'm going to close this since I just can't read. :-1:

[2015-08-21 18:39] #26560 closed

[2015-08-21 18:42] DanyC97 commented on #26448
@basepi i thought is hard too :)
Maybe you guys can quickly come with a voting system and then we from community can help to triage which "known" bugs should make it into the list?

[2015-08-21 18:56] DanyC97 commented on #18510
@jfindlay so 2015.8 is which code name?

[2015-08-21 18:59] DanyC97 commented on #26509
ugly issue :(

[2015-08-21 19:02] basepi commented on #14183
It will not be in the 2015.8 release, as we're just putting the finishing touches on that release. However, I did label it such that it should get eyes on it for the next release.

[2015-08-21 19:05] basepi commented on #26448
That's not a bad idea. We'll have to take it into consideration.

[2015-08-21 19:05] basepi commented on #18510
2015.8.0 is codenamed Beryllium.

Boron is tentatively targeted for 2015.11.0

[2015-08-21 19:11] rallytime commented on #20169
@traxair Turns out we already had a check for this, but the logic was slightly incorrect, so you'd only hit there error in a specific way. I've fixed this in #26563.

[2015-08-21 19:12] ngrennan-inflection commented on #26340
I am going to work on getting salt to directly use dnf instead of assuming yum. Then I can code for it's behavior differences.

[2015-08-21 19:13] rallytime commented on #26560
@gravyboat No worries! :)

I was just confused. Thanks again!

[2015-08-21 19:15] jfindlay commented on #26540
@yellow1912, what happens when you try `aptitude upgrade salt-master salt-minion`?

[2015-08-21 19:18] jfindlay commented on #26233
Thanks everyone for working on this issue.

[2015-08-21 19:18] #26233 closed

[2015-08-21 19:20] jfindlay commented on #26340
@ngrennan-inflection, that would be great.  There is an [issue](https://github.com/saltstack/salt/issues/23553) to implement full dnf support.  Whatever you are able to do is appreciated.

[2015-08-21 20:10] nitay commented on #26493
On mine doing salt pip.installed didn't work. I found a workaround that works for me using get-pip.py to install pip instead of ubuntu: https://gist.github.com/nitay/a149724b5dffee95e8ac

Would be nice to have this solved but at least for the time being I'm not blocked on this.

[2015-08-21 20:16] TheBigBear commented on #26461
@terminalmage you said: "With the commit that I just added to this pull request, this would now become salt-winrepo_git." That is great, thanks. But I have done a search on the salt repo and can't find any match for salt-winrepo_git, what PR is it part off, is it somewhere in PR https://github.com/saltstack/salt/pull/26541?

The reason I am asking is because Shane and Dave had put a ```blocker```

[2015-08-21 20:19] TheBigBear commented on #26461
@terminalmage never mind I found the commit 38136b37572029ce81e1fb570f932ee1eaad2137 and it is in the PR. Awsome.

[2015-08-21 20:25] terminalmage commented on #26461
Yep that's the one!

[2015-08-21 21:00] waynew commented on #26493
@nitay that workaround works perfectly for me. Thanks!

[2015-08-21 21:01] ssgward opened #26569 "Add support for password-protected zip files in archive.extracted on Windows"
Updated by @basepi

Add support for extracting password-protected zip files with the archive.extracted state. Not sure if the password should be in pillar, or supported as a keyword argument as well. Both is probably the best answer.

This support also needs to be extended to windows minions. I'm not sure the archive.extracted state even works on windows, so that complicates the issue.

ZD  408

[2015-08-21 21:33] terminalmage opened #26571 "Several pyobjects tests failing on RHEL 7"
[code]

[2015-08-21 21:40] terminalmage commented on #26571
Found another:

[code]

[2015-08-21 21:48] nmadhok commented on #26540
@yellow1912 Here's the issue. The grain that you've set is not in the form of a dictionary but instead in the form of a list. So you cannot access it by referencing the name. If it were a dictionary instead, what you were doing would have worked.

[2015-08-21 21:52] ngrennan-inflection commented on #23553
I created PR #26572 to start this issue, #23553, and fix #26340 .

[2015-08-21 21:52] rallytime commented on #22550
@amendlik Thanks for testing that and confirming. I have submitted #26573 to fix this issue. Can you give it a try and confirm that is fixes this bug for you?

[2015-08-21 22:02] rallytime commented on #16734
Since I didn't hear back from anyone and I can no longer replicate this issue, I am going to close this. If the problem pops up again, please re-open. :)

[2015-08-21 22:02] #16734 closed

[2015-08-21 22:08] rallytime commented on #14604
This was fixed with #14607. Closing.

[2015-08-21 22:08] #14604 closed

[2015-08-21 22:15] jfindlay opened #26574 "minion stacktrace on top file yaml syntax error"
### configs
[code]

### commands
[code]

### versions
[code]

[2015-08-21 22:46] rallytime commented on #15590
I checked the code and it looks like the fix to EC2 was never submitted to Salt. I've submitted that change and also applied the fixed to the GCE driver. Both are now correctly hitting the extra configuration checks.

[2015-08-22 00:43] jefftucker commented on #26192
@jfindlay if you were to literally copy and paste your previous comment to the docs link in my original post then that would be enough to answer about 95% of what I needed to know at the time.  The other 5% is a list of all the built-in exceptions like CommandExecutionError (and whatever other ones exist) and guidance on when to use those.

[2015-08-22 02:51] terminalmage commented on #24587
Since we haven't heard back, I'll go ahead and close this. If the fixes discussed above don't meet your needs, please open a new issue.

[2015-08-22 02:51] #24587 closed

[2015-08-22 03:13] zanhsieh opened #26582 "Sample for custom jinja filter for hocon xml format"
See: https://github.com/saltstack/salt/issues/12761

The reason for this is I would like to import Hocon and xml format configuration files (very large).

Any help would be appreciated. Thanks.

[2015-08-22 03:35] zanhsieh commented on #26582
Currently I use pyhocon for converting / migration Hocon format config offline (akka config, in and out). Of course, this way won't go extra mile.

[2015-08-22 07:58] rmohta opened #26584 "salt-master receives 'AttributeError: 'module' object has no attribute 'fromstringlist"
I have asked this in [Stackoverflow too](http://stackoverflow.com/questions/32094600/salt-master-receives-attributeerror-module-object-has-no-attribute-fromstri)

**Background**
1. Salt version 2015.5.3
2. Using salt-ssh
3. Master is on CentOS 6.7 and target server Ubuntu 14.04
4. Master has Python 2.6 in /usr/bin, whereas Target as Python 3, Python 2.7 and Python 2.6 in /usr/bin

**Issue**
When t

[2015-08-22 08:11] TimJones opened #26585 "salt-ssh not providing jinja file for salt-formula"
When bootstrapping\setting up a VPS using salt-ssh, I use [salt-formula](https://github.com/saltstack-formulas/salt-formula) to properly configure the minion after the bootstrap script has done its job.
When running over salt-ssh, the formula fails with the following error:

[code]

As you can see, [line 15 of the salt-formula/salt/files/minion.d/f_defaults.conf](https://github.com/saltstack-formu

[2015-08-22 10:32] s0undt3ch commented on #26582
There's a python library which converts xml to python dictionaries and vice/versa, xml2dict or xmltodict. You might want to try and use that. Once your xml is a dict, you can pretty much do just about anything with it(and the write the result as xml).

Is this what you're after?

[2015-08-22 13:17] DavidJFelix opened #26588 "Request Info: gitfs branches"
So, using `gitfs_env_whitelist` and `gitfs_env_blacklist` it seems like I am able to specify branches that the gitfs backend can look for. However, it seems like these are globally set, so suppose I have 2 repos, and each repo has 2 branches each named `master` and `alternate`. If I wanted to have gitfs to use repo1:master but repo2:alternate, there is no way to do this using blacklist/whitelist,

[2015-08-22 13:41] zanhsieh commented on #26582
@s0undt3ch: Thanks for the tip on xml. Actually I originally think to quick-n-dirty hack/patch to jinja.py, but I don't think it will fly very long. The one I am after is to do something like extending SerializerExtension class (sub-class / inheritance) so it might have less impact on salt version update (e.g. version 2015-5-3 -> 2015-5-4; plus salt won't depend on 3rd party lib to upgrade because

[2015-08-22 17:09] centromere opened #26592 "rabbitmq.list_vhosts removes final line from rabbitmqctl output"
In RabbitMQ 3.5.4 on Ubuntu 14.04, the output of `rabbitmqctl list_vhosts` does not contain "... done" at the end, which causes the last vhost to be excluded from the result (since the module removes the last line). I am using Salt 2015.5.3.

[2015-08-22 18:17] centromere opened #26593 "file.replace module does not handle replacement text correctly"
Using 2015.5.3, I did the following:

[code]

And the resulting diff of the file is as follows:

[code]

Notice that the replacement being made is incorrect: "[{1: None}]" != "[1:]".

[2015-08-22 21:14] joehealy commented on #26156
I'll remove it as a hard dep from the Wheezy packages. If someone else is able to backport croniter, I can upload it, but I don't have time to do the backporting in the short-medium term.

[2015-08-22 22:58] unixorn commented on #24216
+1 for pip.latest.

[2015-08-22 23:14] #26343 closed

[2015-08-22 23:14] #26338 closed

[2015-08-22 23:14] #26372 closed

[2015-08-23 01:23] cedwards opened #26596 "creating & loading sub-modules"
I'm working on a custom module that itself needs to be broken up into sub-modules. I'm not clear how to write this such that I would be able to call `salt '*' foo.bar.baz`, where:

`foo` is the parent module
`bar` is the sub-module
`baz` is the function within the `bar` sub-module

Is something like this possible? Am I thinking about this the right way?

[2015-08-23 02:20] terminalmage commented on #26536
A module refresh should be triggered every time a pkg state installs a package, so this shouldn't happen. It would help if we had more information about your minion, so far all we know is that you are using 2015.5.3, and that you're using a jinja macro, but we don't even have a complete idea of how you're calling this macro.

[2015-08-23 02:21] terminalmage commented on #26536
Also, what OS is the minion running? What version?

[2015-08-23 02:39] terminalmage commented on #22944
git.latest has been rewritten for 2015.8.0 (see #26341), and now handles forced updates properly. Before it attempts any changes, it determines the SHA1 of the rev on the remote repo with ``git ls-remote``, and then uses ``git merge-base --is-ancestor`` to check if updating to that SHA1 would be a fast-forward. If it is not, then the state will not proceed without ``force_reset=True``, in which ca

[2015-08-23 02:39] #22944 closed

[2015-08-23 02:41] jhgg commented on #26536
Hey, sorry bout that:

# Master

[code]

# Minion

[code]

[2015-08-23 02:42] terminalmage commented on #22514
The git.latest state has been rewritten in https://github.com/saltstack/salt/pull/26341 and now works great with tags. Previously it had odd behavior in certain cases, like prepending the remote name when trying to git reset to the tag, but those issues are now cleared up.

The fix will be in version 2015.8.0, which will be released soon.

Marking this issue as closed.

[2015-08-23 02:42] #22514 closed

[2015-08-23 02:47] terminalmage commented on #21864
I can confirm this issue existed, and has now been fixed with my rewrite of git.latest in https://github.com/saltstack/salt/pull/26341. There was a missing check for ``test=True`` before the force clone logic was executed, so the code just passed through.

We apologize for the oversight, but this will be fixed with the next feature release of Salt, version 2015.8.0.

[2015-08-23 02:47] #21864 closed

[2015-08-23 02:49] jhgg commented on #26536
How the macro is being called:

`component/example/init.sls`
[code]

`packages/util/git/init.sls`
[code]

`component/example/map.sls`
[code]

[2015-08-23 03:00] terminalmage commented on #11611
The git.latest state has been rewritten in https://github.com/saltstack/salt/pull/26341, and part of that rewrite is a change to how tracking branches are set. Before any changes are made, a ``git ls-remote`` is used to discover the SHA of the remote revision (which is later used to determine if the update would be a fast-forward), and also to figure out the type of the remote revision (branch, ta

[2015-08-23 03:00] terminalmage commented on #11611
As this issue has been addressed by my rewrite, I am marking it closed.

[2015-08-23 03:00] #11611 closed

[2015-08-23 07:19] carlhoerberg commented on #26592
rabbitmqctl -q list_vhosts has never outputted ... done

[2015-08-23 09:54] carlpett opened #26598 "No support for sub-directory checkout for winrepo git remotes"
Winrepo doesn't support (as far as I can tell from code and docs) a way to specify a subdirectory from a remote to be used. This exists for both pillars and states (though with different syntax), and is a useful thing for us so we can keep all the salt things in a single repo.

I'm open to implementing it, but I would need some advice on the where and how. There seems to be quite a few things goin

[2015-08-23 11:13] centromere commented on #26592
[This comment](https://github.com/saltstack/salt/blob/f0f512a4da0f14b319b36418b7360bd7a5953fdd/salt/modules/rabbitmq.py#L113) seems to suggest that it did at one time:
[code]

[2015-08-23 11:46] carlhoerberg commented on #26592
You have to add the -q argument to rabbitmqctl for it to not show up.
On Aug 23, 2015 13:13, "John Galt" <notifications@github.com> wrote:

[2015-08-23 12:05] centromere commented on #26592
The "...done" line is not printed regardless of whether -q is passed:
[code]

[2015-08-23 12:53] carlhoerberg commented on #26592
-q should be used everywhere where the output is parsed

[2015-08-23 13:04] centromere commented on #26592
[That is currently not the case in the rabbitmq module](https://github.com/saltstack/salt/blob/b4e096a57b44bc60404644faf2e3590fc500df0c/salt/modules/rabbitmq.py#L131).

[2015-08-23 13:42] carlhoerberg commented on #26592
No, but it should be, don't you think? Would solve this and future bugs
like it.

[2015-08-23 13:59] centromere commented on #26592
I agree.

[2015-08-23 15:20] carlpett commented on #26598
I made a [quick implementation](https://github.com/carlpett/salt/commit/e74e3c45c2f61ec94175884f0d762fda5c7f67cf). It works for my simple cases, at least, but it doesn't apply on develop (or even 2015.8) because of the refactorings going on there. I'm also a bit unsure about the usage of symlinks.

Is there any idea going further with this, or will it be implemented in another way anyway?

[2015-08-23 16:59] lorengordon commented on #25352
@twangboy, hopefully a quick question... do you know if the changes you've made to the reg.py state/module add the ability for `reg.absent` to differentiate between `0`, `False` and `None` returns from the `reg.read_key` function? I just hit an issue using `reg.absent` where I have a value with data of `0`, which is being returned by reg.read_key and interpreted as `False` in the `if` test in `reg

[2015-08-23 17:26] lorengordon commented on #25352
I built out the state tests and it looks like if `value` is `0` or `''` then the if test fails. Values of `'None'` and `'False'` are ok. So the test probably only needs to be, `if value or value in [ 0, '' ]:`.

Here are the states I tested with:
[code]

[2015-08-23 20:53] codefx9 opened #26599 "Ubuntu 15.04 packages for 2015.5.3 not available."
Hi,
I am getting `libnacl import error` errors in Ubuntu 15.04 using 2015.5.0 (https://github.com/saltstack/salt/issues/21191). But I can't upgrade to 2015.5.2+. Can you please add 2015.5.3 packages for Ubuntu 15.04 ?

https://launchpad.net/~saltstack/+archive/ubuntu/salt?field.series_filter=vivid

Thanks.

[2015-08-24 00:47] soodr opened #26600 "random salt-call authentication error"
Getting the following stack trace with a salt-call or salt * on master with an authenticated minion. The error is random.
The Salt master needs to be restarted to fix it.

Minion :
[code]
Stack Trace :
[code]
Master :
[code]

[2015-08-24 02:25] twangboy commented on #25352
@lorengordon I'll take a look at this. Thanks for pointing that out. I didn't consider testing those scenarios.

[2015-08-24 03:04] damonzheng opened #26601 "file.recuse face UnicodeDecodeError with Chinese filename"
Hi, When I try to sync directory with file.recuse function, if the some of the filename contains chinese, the sync filed as below. I tried to decode 'fn_' with 'utf-8', won't help either.

my salt version:  salt 2015.5.0 (Lithium)

[code]

[2015-08-24 03:16] petarmaric opened #26602 "Add 'dockerfile' parameter support to 'docker.build' module and 'docker.built' state (mirroring 'docker build -f' behavior)"
I've just reviewed the Salt's `docker` module and state source code for the `v2015.8.0rc3` and `v2015.5.5` tags. I've found we don't pass the `dockerfile` parameter back to docker-py `Client.build`, which is a very useful feature they introduced back in [1.1.0](https://github.com/docker/docker-py/blob/master/docs/change_log.md#110).

Any chance this can be added to the `2015.8` and `2015.5` branch

[2015-08-24 05:20] terminalmage commented on #13550
@ryan-lane There is an open issue for expanding the arguments in git.present to more closely match git.latest (https://github.com/saltstack/salt/issues/13317). The idea for this would be to make git.present work more like pkg.installed, while git.latest would work more like pkg.latest. That is, git.present would clone the repo and rev if there is no git repo at the target location, but it would no

[2015-08-24 06:10] terminalmage commented on #13857
This is fixed with my git.latest rewrite (see https://github.com/saltstack/salt/pull/26341 and https://github.com/saltstack/salt/pull/26603).

[2015-08-24 06:10] #13857 closed

[2015-08-24 06:16] terminalmage commented on #15921
With my rewrite to https://github.com/saltstack/salt/pull/26341, the offending code is removed. Marking this issue as closed.

[2015-08-24 06:16] #15921 closed

[2015-08-24 06:23] terminalmage commented on #16927
I've still never been able to reproduce this. We just don't have enough information to reproduce the issue, can you offer a more specific set of steps to reproduce this? "some changes to the root user environment" just doesn't isn't specific enough.

Also, I've rewritten the git.latest state for 2015.8.0 (see https://github.com/saltstack/salt/pull/26341), so this issue is likely resolved by that r

[2015-08-24 06:26] terminalmage commented on #21762
The git.latest state has been rewritten for 2015.8.0, and this rewrite addresses this bug by properly handling tracking branches. Marking this issue as closed.

[2015-08-24 06:26] #21762 closed

[2015-08-24 06:27] terminalmage commented on #26536
Thanks for the additional information, I'll look into this

[2015-08-24 06:29] ari opened #26604 "Poor compound matcher documentation (2015.8 docs)"
For this page: http://docs.saltstack.com/en/develop/topics/targeting/compound.html

1. There is no documentation of the meaning of the "-C" flag to salt, either on this page or in the salt man page. I"m guessing -C means "compound" but it should not be assumed that everyone can just guess.

2. The delimiters are all "x". I'm guessing this isn't the real delimiter since at the bottom of the page it

[2015-08-24 07:08] DaveQB commented on #18843
I've got this too.

[code]

[2015-08-24 07:12] hvnsweeting commented on #18843
@DaveQB sure, because the fix is not on that version:

https://github.com/saltstack/salt/commit/c4e95b9f487671ee09252c966de6dca3653e7999

You need 2014.7.6+

[2015-08-24 07:29] DaveQB commented on #18843
@hvnsweeting
Oh bugger.

Thanks.

[2015-08-24 07:33] hvnsweeting commented on #18843
@DaveQB if you cannot upgrade to higher version for any reason, you can add this module to your states/_states :  https://github.com/bclermont/states/blob/master/_states/user.py

It just ports the fix back to use with 2014.7.5

[2015-08-24 07:39] anlutro commented on #26585
You need to specify included/extended jinja templates in your Saltfile with `extra_filerefs`:

[code]

[2015-08-24 08:44] zhoujinl commented on #26584
Yes. I  also encounter this problem. So I change the target which use python-2.6, it worked.

[2015-08-24 09:23] bobrik commented on #26280
Happened for me with `ipset.present` on `2015.5.3`:

[code]

After commenting out be18439736d8c9e247fed3929365ad3d6148d045 higstate finished successfully.

[2015-08-24 09:34] rmohta commented on #26584
Hi,

  How do I change it for salt-master alone? Cannot change system wide as
there are few utilities which need Python 2.7
On 24 Aug 2015 09:45, "JinQiu" <notifications@github.com> wrote:

[2015-08-24 12:31] TimJones commented on #26585
Thanks for that, the Saltfile documentation was pretty lacking but I guess I understand it now.

Though this to me seems very much a work-around rather than a fix. Should the compilation of the tarball not find all state dependencies to include them?

[2015-08-24 13:35] anlutro commented on #26585
It's not that easy for jinja includes/extends, apparently.

[2015-08-24 14:57] dverbeek84 commented on #20240
i have had the same issue. Only it was dns related.
I my case the minion is called centos, but the name centos can not be resolved.

Sometimes it works and sometime not. Is it posible to lookup the minion by IP? Now the master is looking voor centos in DNS. after adding the minion 'centos' to the /etc/hosts of the master. i had no problems any more.

[2015-08-24 14:59] ryanwalder opened #26605 "file.directory clean does not work as expected"
So I want Salt to clear out the `/etc/apt/sources.list.d` folder of any sources.list files it doesn't manage.

First attempt:

[code]

Nope:

[code]

Ok, maybe it can only exclude something if it's a file:

[code]

[code]

Nope.

The docs are a little sparse:

[code]

Which to me reads that if something is required the end file it produces (if in that directory) won't get removed, which doesn't ap

[2015-08-24 15:06] somecallmemike commented on #26256
I actually pasted the incorrect schedule in my first post, my apologies.  The issue happened when adding the "when" key:

[code]

I'll have to spin up a new VM and test again to make sure I got the correct stack trace as well.

[2015-08-24 15:07] olliewalsh commented on #9592
This still appears to be broken in 2015.5.3:

		test-virtualenv:
		  virtualenv:
		    - managed
		    - name: C:\testvenv
		    - venv_bin: C:/Python27/Scripts/virtualenv.exe
		    - no_use_wheel: True
		    - use_wheel: False
		    - extra_index_url: {{ pillar['testvenv']['pip_extra_index_url'] }}
		    - system_site_packages: True
		    - requirements: salt://testvenv/client/files/requirements-

[2015-08-24 15:28] olliewalsh commented on #9592
Removing all of the `!r` instances in `modules/pip.py` and using `subprocess.list2cmdline` to join the command line fixes this.

[2015-08-24 16:37] jfindlay commented on #26582
@zanhsieh, I have very little experience working with or streaming large XML data structures, but your approach seems reasonable to me.

[2015-08-24 16:43] #26559 closed

[2015-08-24 16:45] jfindlay commented on #26585
@TimJones, thanks for the report.

[2015-08-24 16:48] jfindlay commented on #26584
@rmohta, thanks for the report.  There are many obscure variabilities associated with implementing salt-ssh between platforms.  To implement @zhoujinl, workaround you could install salt-master with pip2.6.

[2015-08-24 16:53] jfindlay commented on #26588
@DavidJFelix, I have reviewed the code and your description matches how I see that it is implemented.  We could possibly implement white and black listing per repo if you think that would be useful.

[2015-08-24 16:53] cachedout opened #26610 "salt-master publisher leaking file-handles"
2015.8 exhibits a problem wherein the number of open file-handles increases by a minimum of three handles on each publication sent from the salt-master.

To replicate:

1) Set up a salt-master and salt-minion at the head of 2015.8.
2) In another terminal, run the following command: ` lsof|egrep master_event| wc -l`
3) Send a single publication, i.e. `salt <my_minion> test.echo 'Hello world'`
4) Ob

[2015-08-24 16:55] jacobhammons commented on #26555
Looks like this is showing up now, sometimes it takes the google search a while to find new topics.

[2015-08-24 16:55] arroyoc commented on #26604
@ari Thanks for the report.

[2015-08-24 16:57] jfindlay commented on #26592
@centromere, @carlhoerberg, thanks for the report.  If passing `-q` will solve this problem, without creating others, I think it would be the right solution.  Otherwise, salt should check that the trailing line is actually `... done` before removing it.

[2015-08-24 17:02] jfindlay commented on #26593
@centromere, thanks for the report.

[2015-08-24 17:06] jfindlay commented on #26598
@carlpett, those are good questions.  I refer you to @twangboy and @UtahDave.

[2015-08-24 17:07] jfindlay commented on #26599
@codefx9, thanks for the report.

[2015-08-24 17:11] jfindlay commented on #26600
@soodr, thanks for the report.  Is it possible to reproduce this situation with a master that is running 2015.5.2 or 2015.5.3?

[2015-08-24 17:14] jfindlay commented on #26601
@cheng0919, thanks for the report.

[2015-08-24 17:16] jfindlay commented on #26602
@petarmaric, thanks for the report.  It is unlikely that this would be added to the 2015.5 branch as it is considered stable, but possible to add to 2015.8.

[2015-08-24 17:19] jfindlay commented on #26605
@ryanwalder, thanks for the report.

[2015-08-24 17:23] jfindlay commented on #26596
For a compound module, your assumptions seem reasonable.  I know that it is possible, and there are some already, but it is discouraged mainly because of the complexity it imposes on `__salt__` and the users thereof.  You can look at [this](https://github.com/saltstack/salt/tree/develop/salt/modules/inspectlib) for an example of how to do it.

[2015-08-24 17:27] rallytime commented on #26559
Thanks @s0undt3ch! ;)

[2015-08-24 17:28] rallytime commented on #26555
Hrm...Yeah the Getting Started one is, but not `salt.cloud.clouds.opennebula`. That driver has been there since 2014.7, so it should be showing up. Thoughts on that one @jacobhammons?

[2015-08-24 17:46] sjorge commented on #26507
@jfindlay (or other) is there a way for 2 minions to coordinate something?
e.g. exectue vmadm.send vmname destination_minion, which then runs vmadm.receive to get the vm?

[2015-08-24 17:50] ryanwalder commented on #26536
May be similar to my issue (#26241) which looked to be fixed in 2015.5 branch when I lat tested.

[2015-08-24 17:53] aneeshusa commented on #25567
@jacobhammons How did testing HTTPS go? Do you have any updates on moving the entire docs site to HTTPS only?

Also, the following links serve redirects that downgrade from https to http for me:
- https://docs.saltstack.com (redirects to http://docs.saltstack.com/en/latest/)
- Any link to a directory without a trailing slash (e.g., https://docs.saltstack.com/en/latest/ref/modules/all redirects to

[2015-08-24 17:53] jfindlay commented on #26507
@sjorge, I don't know of a way to do this with execution or state modules, although there may be, but minions can communicate with each other using [peer](http://docs.saltstack.com/en/latest/ref/peer.html).  The master can also orchestrate minion events with the [orchestrate runner](http://docs.saltstack.com/en/latest/topics/tutorials/states_pt5.html).

[2015-08-24 17:58] sjorge commented on #26507
@jfindlay oh the peer stuff looks promising... so next question... can minions share a data stream?
vmadm.send generates a stream (like zfs send) and vmadm.receive receives said stream.

Probably a bit too complete though. But would rock to be able to 'salt-run host1 vmadm.send vm1 host2' to then have the vm migrated.

[2015-08-24 18:07] cachedout commented on #26610
I'm not sure this is right. Closing for now.

[2015-08-24 18:07] #26610 closed

[2015-08-24 18:07] DavidJFelix commented on #26588
@jfindlay I think it would be. Right now, it's difficult to control which branches my salt minion is using per gitfs backend. I have several repos with different branch names and the only way I can control it is by setting whitelist to an unused branch name like "freeze" and pushing each branch there from each git repo. It's hard for me to have a develop branch on one backend and just test that on

[2015-08-24 18:19] jfindlay commented on #26507
I think a salty paradigm to accomplish what you are describing is to use salt to setup the whatever tools are needed on the two minions, host1 and host2, to accomplish this.  If they are capable of using zfs send and receive, all that salt needs to know is the high level events of what occurred, when it is done, whether it was successful, and any resulting messages about the action.  Depending on

[2015-08-24 18:50] jacobhammons commented on #26555
I submitted the module index for a reindex in the google custom search engine, I'll check in a bit to see if that takes care of it.

[2015-08-24 18:51] rallytime commented on #26555
Awesome! Thanks!

[2015-08-24 19:02] sjorge commented on #26507
So just using 'ssh' as transport is fine then.
I can run vmadm send vmname | ssh root@host2 'vmadm receive' and orchestrate it completely from host1.

ssh keys can be pushed before hand and can be listed as a requisite.

[2015-08-24 19:11] basepi commented on #9592
Thanks for the comment, @olliewalsh. I've re-opened and triaged it accordingly.

[2015-08-24 19:26] yanivyam opened #26615 "environ.setenv fails if value is true"
In case the value of the environment variable is "true", the environ state module will fail with the error "Environ value must be string or dict".

Example configuration:

[code]

[2015-08-24 19:40] terminalmage commented on #9592
I'm working on this right now as part of a larger audit eliminating use of the '!r' conversion flag.

[2015-08-24 20:11] gravyboat opened #26616 "postgresql_user state generates a bool error"
I get the following error when trying to add a postgres user:

[code]

Note that this is on 2014.7.6, but the same code is present currently:

https://github.com/saltstack/salt/blob/develop/salt/states/postgres_user.py#L187

I'm not exactly sure what causes this, as the exact same code snippet was working perfectly fine prior to this with the same code. I'm just adding a postgres user with the nam

[2015-08-24 20:13] cedwards commented on #26596
That module doesn't appear to demonstrate use of a compound module in the way I suggested. From what I can tell it provides a couple of libraries for the node module and simply drops them into a subdirectory to keep things clean.

I'll consider some alternatives in pursuing this. Meanwhile I think this ticket can probably be closed.

[2015-08-24 20:13] #26596 closed

[2015-08-24 20:26] s0undt3ch commented on #26559
Anytime!

[2015-08-24 21:02] terminalmage commented on #9592
Fixed in https://github.com/saltstack/salt/pull/26617.

There is no need to use `subprocess.list2cmdline()`, as subprocess.Popen (which we use to run commands) is designed to accept a list of arguments.

[2015-08-24 21:07] ssgward commented on #24140
I've tested this against v2015.5.5 and cannot reproduce the issue. Looks like it has been fixed.

Here are my results:
[code]

[2015-08-24 21:13] basepi commented on #24140
@trevor-h @mclarkson Are either of you using a returner or master_job_cache besides local_cache?

[2015-08-24 22:08] ahammond opened #26621 "compound match consisting of only nodegroup fails."
I'd expect all 3 of the salt commands below to reach the same minions, however the one consisting of a compound matcher with only a nodegroup fails to reach any minions. Master and all minions are on 2015.5.3.

[code]

[2015-08-24 22:59] rhansen opened #26624 "salt.state.host.present does not preserve order with multiple names"
In Ubuntu (and possibly other distributions), the order of host names in a line in `/etc/hosts` matters, at least for 127.0.1.1.

For example, the following causes `dnsdomainname` to return `example.com`:

    127.0.1.1 foo.example.com foo

while the following does not:

    127.0.1.1 foo foo.example.com

With an SLS file that contains the following:

    foo:
      host.present:
        - ip: 127

[2015-08-24 23:37] ngrennan-inflection commented on #18843
I am seeing this issue in 2015.5.3. I want to change an existing user's home directory.

[2015-08-24 23:47] s0undt3ch commented on #26601
Can you please paste a sanitized output of that minion's grains?

[2015-08-25 00:08] nmadhok commented on #18843
@rallytime The logic needs some major refactoring/change. It's not correct.

[2015-08-25 00:17] jfindlay commented on #26596
It is the only exec module that I know of that is nested.  I didn't look too closely at your requirements.  If you have more questions, I think either @cachedout or @jacksontj would be able to give better advice than I.

[2015-08-25 00:20] twangboy commented on #26598
@terminalmage ^^^^^

[2015-08-25 01:43] cheng0919 commented on #26601
Hi @s0undt3ch, Sanitized grains output as below.

this issue seems  trigged by format.
![image](https://cloud.githubusercontent.com/assets/12538637/9456700/989d4b30-4b0d-11e5-9d2f-113a1266de42.png)

test:
    ----------
      kernel:
        Windows
    kernelrelease:
        6.1.7601
    locale_info:
        ----------
        defaultencoding:
            cp936
        defaultlanguage:

[2015-08-25 01:46] ahammond commented on #26621
My plan of using nodegroups with lists of hosts for role management kinda depends on this working... :)

[2015-08-25 03:32] cheng0919 opened #26626 "salt/modules/win_dns_client.py generate a NoneType Error."
If there is no dns address setted in the windows client, the iface_config.DNSServerSearchOrder method will return None, therefore this module will generate TypeError,  'NoneType' object is not iterable. so I tried to return a [],  and works fine fine for me.
[code]

[2015-08-25 10:31] olliewalsh commented on #9592
Sweet. `subprocess.Popen` uses `list2cmdline` under the hood so it's pretty much the same code path but much cleaner

[2015-08-25 11:37] petarmaric commented on #26602
@jfindlay, that would be great. Maybe we should apply the patch to Docker NG module/state as well?

[2015-08-25 12:16] TimJones commented on #26585
No problem.

Just to add, if adding a Saltfile isn't feasabile for whatever reason (I'm actually doing all this from a runner script so using an instance of `salt.client.ssh.client.SSHClient` directly), the CLI arg would be `--extra-filerefs` e.g.

[code]

[2015-08-25 12:40] trevor-h commented on #24140
@basepi This issue was encountered using the default local job cache/no returners. I can confirm that the findings of @ssgward is indeed correct and I can no longer reproduce in 2015.5.5 and it works as expected.

I would consider this issue closed.

[2015-08-25 13:02] MadsRC opened #26628 "state.ipset tries to parse wrong data"
I'm trying to get ipset working, and I'm getting this error:

    [root@master1a wp_brute_block]# salt --version
    salt 2015.5.3 (Lithium)
    [root@master1a wp_brute_block]# pwd
    /srv/salt/wp_brute_block
    [root@master1a wp_brute_block]# cat init.sls
    ipset:
      pkg.installed:
        - name: ipset

    blacklist:
      ipset.set_present:
        - set_type: hash:net
        - require

[2015-08-25 13:11] efficks opened #26629 "Windows minion: Remove powershell dependencies"
I'm running minions on an old Windows XP release. There's no PowerShell installed by default.

Two modules I need use powershell, win_service and win_pkg.
I think there's other way to do what these modules do without powershell.

[2015-08-25 13:14] efficks opened #26630 "win_service: Function has_powershell does not works on Windows XP"
Method has_powershell in win_service.py uses a "where" command to detect the powershell installation. "where" is not available on Windows XP. We should probably check ourself on the PATH environment variable.

[2015-08-25 14:09] alxbse commented on #26629
Subscribing to this cause it will be interesting to hear what the official word on XP support is.

@efficks Out of curiosity, whats keeping the installations at XP and not something newer?

[2015-08-25 14:28] bemeyert commented on #23125
@msteed Well, at last. Sry for the delay.

I used the docs from http://docs.saltstack.com/en/develop/ref/modules/all/salt.modules.elasticsearch.html#module-salt.modules.elasticsearch
& http://docs.saltstack.com/en/develop/ref/returners/all/salt.returners.elasticsearch_return.html

Installed versions:
elasticsearch-1.6.0
salt 2015.8.0rc3 (Beryllium)

Master configuration:
[code]

And a simple `salt

[2015-08-25 14:28] bemeyert commented on #23131
Any news on this front? Cheers

[2015-08-25 15:10] ryanwalder opened #26632 "postgres_user crashes when trying to add groups formed in a list"
Assume postgresql is installed and running (no issues there), and groups are there (also works fine)

[code]
Returns:
[code]

Which is no fun, it works when not formed as a list:

[code]
Returns:
[code]

Tested with v2015.5.0 to v2015.5.5 and 2015.8 (all from git using salt-bootstrap), Ubuntu 14.04 base.

[2015-08-25 15:15] twangboy commented on #26159
This should be fixed with #26625. There was a portion of the code that was trying to remove the (x86). Now that we're using jinja, it's unnecessary. That should be merged today.

[2015-08-25 15:30] slomo opened #26633 "Unicode in file.serialize"
Hi, I have some unicode in pillar, that I wan't to push into a json file with file.serialize. It seems to me that the data is passed fin through pillar:

[code]

I am rendering it with a file.serialize state

[code]

And in the file I end up with a broken string

[code]

Which looks to me like a double escape.

[2015-08-25 15:35] AkhterAli opened #26634 "salt-reactor not able to use the cloud module."
Master version:
[code]
Minion version:
[code]

What I'm trying to do is setup a salt module that will check a grain and see if highstate is running, if grains exceeds a certain time and highstate is still running, it will kill that "ec2 instance."

The salt module I've created works, you can check the source here.  https://github.com/AkhterAli/MySaltModules/blob/master/checkhighstate_test.py

I've

[2015-08-25 15:37] slomo commented on #26633
My issue might be a duplicate of this: https://github.com/saltstack/salt/issues/3436

[2015-08-25 15:43] garethgreenaway commented on #26628
Might be a difference between versions of ipset.  Will take a look.

[2015-08-25 16:21] terminalmage commented on #9592
Yep, we're moving towards switching to passing commands to cmd.* functions as lists of arguments in the execution module code wherever possible too, because doing that both gets rid of the need to worry about quoting arguments to ensure they're logically separated when ``subprocess.Popen()`` is invoked, and fixes issues like the one you saw here with Windows.

[2015-08-25 16:24] nmadhok commented on #26634
@AkhterAli You cannot use cloud module like that in a reactor SLS file. Reactor SLS files are different from the regular SLS files.

Look into http://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.cloud.html or http://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.state.html

[2015-08-25 16:39] pykler commented on #14613
+1

@davidjb comment uptop regarding paths relative to salt-call or salt-ssh is being called is correct in most cases except for `extension_modules`. Relative paths just don't seem to work at all for that.

[2015-08-25 16:41] twangboy commented on #26174
@TheBigBear The state renderer looks for a very specific data structure that state files adhere to. The winrepo doesn't follow the same data structure. We're going to build something similar to the state.show_sls function for viewing rendered winrepo .sls files. I hope to have that done this week.

[2015-08-25 16:48] AkhterAli commented on #26634
@nmadhok
Thanks for looking into this.

I went through http://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.cloud.html and if you're suggesting that I use salt.runners.cloud.destroy, I'm not able to use that as a module because the target minions do not have salt-cloud/salt-run installed, just salt-minion.  It may be easier to change the bootstrap script and include that as necessary b

[2015-08-25 16:56] msteed commented on #23125
@bemeyert: Sorry, you are right that the elasticsearch returner is not currently set up for use as the master job cache. It is missing two functions, `save_load()` and `get_load()`; see
http://docs.saltstack.com/en/develop/ref/returners/index.html#master-job-cache-support.

I think this would not be too difficult to get working. I will try to get to this week, or if you are interested in taking it

[2015-08-25 16:58] jfindlay commented on #26615
@yanivyam, thanks for the report.

[2015-08-25 16:59] jfindlay commented on #26616
@gravyboat, thanks for the report.

[2015-08-25 17:00] jfindlay commented on #26621
@ahammond, thanks for the report.

[2015-08-25 17:01] jfindlay commented on #26624
@richardhansen, thanks for the report.  What version of salt are you using?

[2015-08-25 17:02] nmadhok commented on #26634
@AkhterAli Why do you want to destroy your minion from the minion itself? Shouldn't your master be doing that (creating/destroying)?

[2015-08-25 17:03] jfindlay commented on #26626
@cheng0919, thanks for the report.  You are welcome to submit a pull request with this change to the 2015.5 branch.

[2015-08-25 17:05] efficks commented on #26629
The reason why I can't update is a business one. I don't have any impact on this decision process. But I have to maintain this system.
I've found that win_service already have a function has_powershell(). This function is broken on Windows XP because it uses the "where method". I will make a fix in #26630 .
I've also done a fix for win_pkg module.

[2015-08-25 17:06] jfindlay commented on #26628
@MadsRC, thanks for the report.

[2015-08-25 17:08] jfindlay commented on #26629
@efficks, @alxbse, thanks for bringing up this issue.  I don't know what our policy is for WinXP, but @UtahDave or @twangboy might know.

[2015-08-25 17:13] jfindlay commented on #26630
@efficks, thanks for the report.

[2015-08-25 17:14] jfindlay commented on #26632
@ryanwalder, thanks for the report.

[2015-08-25 17:20] jfindlay commented on #26633
@slomo, thanks for the report.  What version of salt are you using and what is the sanitized output of `salt-call grains.items`?  Thanks.

@s0undt3ch

[2015-08-25 17:20] jfindlay commented on #26633
@slomo, did you try the suggestions in https://github.com/saltstack/salt/issues/3436#issuecomment-61225863?

[2015-08-25 17:21] WackyOne opened #26638 "Suse install documentation"
The installation documentation at http://docs.saltstack.com/en/latest/topics/installation/suse.html needs a small update. OpenSuSE has been at version 13.2 for a while now and I believe version 2014.1.11 of salt is in the primary repository. Also it looks like to me that in the unstable releases (devel:languages:python) that the repos for openSuSE 12.1, 12.2 and 12.3 are no longer available.

[2015-08-25 17:23] UtahDave commented on #26629
Our policy is that we don't officially support EOL'd operating systems.

That being said, Microsoft does a pretty great job at backwards compatibility and we'll make reasonable efforts to support XP where possible and where it doesn't significantly complicate development. SaltStack enterprise subscribers can pay for features and updates they'd specifically like to see for XP and we'll work closely

[2015-08-25 17:27] jfindlay commented on #26638
@WackyOne, thanks for the report.

[2015-08-25 17:33] rallytime commented on #26634
Thanks for the input here @nmadhok!

[2015-08-25 17:38] jfindlay commented on #26602
@petarmaric, yes, that would be even better. :-)

[2015-08-25 17:40] endlessmason opened #26639 "salt-master --config-dump"
Semi-related, I'm on freebsd, but could have (I suppose) compiled my own salt-master.

I'd like to find out all the defaults and values that I've set in my salt-master, but this one guy on IRC couldn't think of a way to get the config right away:

[code]

but I want to know what you think, does that sound useful?

[2015-08-25 17:42] nmadhok commented on #26634
@rallytime No problem!

[2015-08-25 18:28] davidosomething commented on #15583
+1

[2015-08-25 18:47] garethgreenaway commented on #26628
Spun up a CentOS 7 VM and ran some tests using the same state and pillar data you have.  It ran clean with no errors.

[root@localhost pillar]# salt --versions-report
           Salt: 2015.5.3
         Python: 2.7.5 (default, Jun 17 2014, 18:11:42)
         Jinja2: 2.7.2
       M2Crypto: 0.21.1
 msgpack-python: 0.4.6
   msgpack-pure: Not Installed
       pycrypto: 2.6.1
        libnacl: Not Instal

[2015-08-25 18:52] makearl opened #26643 "Presence events do not report correctly for minions with NAT-ed IP"
The `salt/presence/present` event shows an empty list of present minions when you connect a minion that's behind a firewall with an IP that is NAT-ed. The presence event works correctly when the minion's IP is not NAT-ed.

Steps to recreate:
- Set up a salt master on AWS and add the following line to the master config:

[code]
- Set up a salt minion on a network behind a firewall (if you set the m

[2015-08-25 19:02] gravyboat opened #26644 "pkgrepo should note that for ubuntu/debian all options should not be used"
This is just a clarification regarding `keyid`, `keyserver`, and `key_url`. In most situations (I think all) you don't want to use them together, but this isn't noted anywhere. In addition `dist` should be noted that you very rarely need it. The relevant docs: http://docs.saltstack.com/en/latest/ref/states/all/salt.states.pkgrepo.html#salt.states.pkgrepo.managed

[2015-08-25 19:03] rawipfel commented on #172
sysfs.py
'''
Salt module to get/set sysfs information
'''

import logging
import salt.utils
from os.path import split
from SysFsObject import SysFsObject

logger = logging.getLogger(__name__)
__virtualname__ = 'sysfs'

def __virtual__():
    '''
    Only load on POSIX-like systems
    '''
    # Disable on Windows, a specific file module exists:
    if salt.utils.is_windows():
        return False

[2015-08-25 19:15] iggy commented on #26644
ping @jacobhammons

[2015-08-25 19:51] AkhterAli commented on #26634
@nmadhok I agree the master should be doing that.  However, when writing the salt module, I realize that you can't (and correct me if I'm wrong) write something like __salt__['inpurt salt-master here']['cloud.destroy target']

By default when executing modules they're run directly from the minion.  Could you please elaborate where the modules can be run on the master to affect the minion?

[2015-08-25 19:55] rallytime commented on #24021
@arthurlogilab If you bump the information below `- name:` over two spaces, do you still see the same error? Like so:
[code]
I am also wondering if you should change the title of `name` to something else. `name` may be a "reserved word" in this case.

If that fixes the bug, I'll edit the docs so people don't run into this that again.

[2015-08-25 19:57] twangboy commented on #26174
@TheBigBear I submitted a PR for a new function that will display the rendered software definitions. Let me know how it works for you.

[2015-08-25 20:07] rallytime commented on #5810
I tested this at the HEAD of 2015.5 just now and it has been fixed. Closing.

If this pops up again, feel free to open a new issue. Thanks!

[2015-08-25 20:07] #5810 closed

[2015-08-25 20:07] msteed commented on #12862
Although this is soon to be made obsolete with the removal of overstate.py in 2015.8, it looks like this is still a problem in 2015.5.

[2015-08-25 20:18] jfindlay commented on #24622
@garo, you may be interested in this: https://github.com/saltstack/salt/pull/24878.

[2015-08-25 20:19] powellchristoph commented on #11509
+1 for mine in pillars. Basically what @bersace said.

[2015-08-25 20:21] basepi commented on #24289
I'm going to close this one, for the reasons stated above. We still need to resolve #24326 which should make your workaround viable.

[2015-08-25 20:21] #24289 closed

[2015-08-25 20:23] jfindlay commented on #24548
@dragonpaw, does the pull request from @frostyslav fix this issue?

[2015-08-25 20:25] jfindlay commented on #24522
@eliasp, it looks like #22629 may implement the remaining features you are wanting.  Do you think this issue can be closed?  Do we need more documentation on these new features?

[2015-08-25 20:25] msteed commented on #15400
Closing as resolved since salt now shows timed-out minions by default. Feel free to reopen this or create a new issue if you are still seeing this behavior.

[2015-08-25 20:25] #15400 closed

[2015-08-25 20:26] jfindlay commented on #8599
Related to #18510.

[2015-08-25 20:29] garethgreenaway commented on #26628
@MadsRC Can you see what version of ipset you have installed?

[2015-08-25 21:10] basepi commented on #10433
@jimcheetham Have you ever seen this in newer versions of salt? I would love to know if you can reproduce this in 2015.5.5, for example. I have a hunch this is no longer a problem, but we'll investigate.

[2015-08-25 21:13] basepi commented on #12360
I wonder if this was fixed by @terminalmage's LXC rework?

[2015-08-25 21:13] rallytime commented on #10075
We probably shouldn't warn in general if libcloud is missing now, since libcloud is no longer a hard-dep for salt-cloud, but we could warn if this is missing on an as-needed basis for the drivers that need libcloud.

This would be helpful to provide for all driver dependencies as well.

[2015-08-25 21:15] #26502 closed

[2015-08-25 21:27] TheBigBear commented on #14308
@garethgreenaway or @UtahDave any reason this is still open?

[2015-08-25 21:35] garethgreenaway commented on #14308
Nope.  None that I can think of.

[2015-08-25 21:48] basepi commented on #16294
Fixed in #26359

[2015-08-25 21:48] #16294 closed

[2015-08-25 21:48] basepi commented on #16958
Fixed in #26359

[2015-08-25 21:48] #16958 closed

[2015-08-25 21:48] basepi commented on #21219
Fixed in #26359

[2015-08-25 21:48] #21219 closed

[2015-08-25 22:21] basepi commented on #24140
Awesome, thanks!

[2015-08-25 22:21] #24140 closed

[2015-08-25 22:26] basepi commented on #23131
Unfortunately no, but I did label it for consideration for the next release.

[2015-08-25 22:30] twangboy commented on #26131
@TheBigBear Withthe above PR (#26650) you should be able to compare version from within the sls files. There is a `salt.utils.compare_versions` that would work, but `salt.utils` functions aren't exposed to the renderer. Only modules are. So, I had to add a function to the `pkg` module that exposes that `salt.utils` function. Here's an example of how to do it. You'd have to know the version of the

[2015-08-25 23:10] ahammond commented on #26621
also, related to nodegroups, I have a complicated compound nodegroup that references a bunch of other nodegroups, which all eventually render down to lists of hostnames. When I do

[code]

I get the expected result. However, when I define a pillar using

[code]

and then query it using

[code]
The correct servers return nothing. Less complex nodegroups seem to work just fine.

[2015-08-25 23:44] richardhansen commented on #26624
I'm running 2015.5.3 (from the [saltstack/salt PPA](https://launchpad.net/~saltstack/+archive/ubuntu/salt)) on master and minions.  The master and minions are running Ubuntu 14.04 64-bit server.

I did some digging in the code and it looks like it will not be trivial to change `salt.states.host.present()` to behave as I had originally expected.  This is due to the way the [names declaration](http:

[2015-08-25 23:58] elyast commented on #24619
I found out this line:
https://github.com/saltstack/salt/blob/develop/salt/states/module.py#L245

[code]

Problem is that following condition is always true, it should be written like
[code]
or like this
[code]
assuming my interpretation is correct that if execution module returns None or empty dict, the state should not report any changes.

[2015-08-26 01:11] zanhsieh commented on #22048
+1, got exact the same issue. Neither saltenv and env not working. My version is 2015.5.3 for both salt-master and minions.

[2015-08-26 01:43] cheng0919 commented on #26626
Ok, sure, thanks

[2015-08-26 01:48] double-yaya commented on #24358
I try this:
``curl http://localhost:8000/run -H 'Content-Type: application/json' -d '[{"client": "ssh", "tgt": "*", "fun": "test.ping", "ssh_user": "root", "ssh_passwd": "root_pass"}]'
result:
{"return": [{"minion2": {"retcode": 255, "stderr": "Permission denied, please try again.\r\nPermission denied, please try again.\r\nPermission denied (publickey,gssapi-keyex,gssapi-with-mic,password).\r\n",

[2015-08-26 02:02] #26626 closed

[2015-08-26 02:05] double-yaya commented on #24358
In 2014.1.4 version I can specify the target machine execute commands, the target machine not written in the roster file
command like this：
[code]
No hosts found with target ip of type glob ```

[2015-08-26 02:37] hoffmannliu-ayla commented on #24575
I believe this is related to this
https://github.com/saltstack/salt/issues/23694
though their implementations are different.  The fix in 23694 was already merged.

[2015-08-26 04:56] bemeyert commented on #23125
@msteed: I really would like to help. But neither my time nor my (little to non-existent) Python allow me to fix this. I'm sorry. I wouldn't even now where to begin with the tests.

[2015-08-26 04:56] bemeyert commented on #23125
@msteed: I really would like to help. But neither my time nor my (little to non-existent) Python allow me to fix this. I'm sorry. I wouldn't even now where to begin with the tests.

[2015-08-26 05:45] jfindlay commented on #26630
@efficks, thanks for fixing this.

[2015-08-26 05:45] #26630 closed

[2015-08-26 07:37] ari opened #26656 "[documentation] error in example for salt.runner.pillar"
http://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.pillar.html

In the API example there are two problem. First is a bad "¬" character at the end.

[2015-08-26 07:42] ari commented on #26656
Also, I don't understand what this means:

[code]

Who is "I"? Why would they assume we can't use a wildcard as the minion name?

[2015-08-26 08:16] BalintSzigeti opened #26658 "[feature req] ability to turn off DNS queries for salt"
hello

I'd like to ask dns search OFF like in OpenSSH 'UseDNS no'.

I'm asking it because when the deployed machine can't reach its DNS server for any reason the Salt minion will wait the DNS timeout which extremely slowing down the salt commands execution even though the salt server entry was added in the /etc/hosts file.
I'm aware the best practice the DNS server should available but if it isn't

[2015-08-26 08:37] ari commented on #26656
While I work my way through this page...

show_pillar accepts arbitrary **kwargs which appear to be appended to the grains. It would be helpful to document this and show an example of why this might be useful.

[2015-08-26 08:37] MadsRC commented on #26628
@garethgreenaway I'm running "ipset v6.11, protocol version: 6"

[2015-08-26 14:27] garethgreenaway commented on #26628
@MadsRC Thanks!  I'll see if I can find that version and duplicate the issue.

[2015-08-26 14:49] TheBigBear opened #26665 "salt on MacOS X - adding python RAET lib breaks "salt-call --versions" output"
On a Mac OS X 10.10.5
`uname -a` is reporting:

[code]

and my `salt-call --versions` is reporting:

[code]

**But if I do** a `pip install -U RAET`, this adds both `RAET` and `libnacl`, as expected.

log of `pip install -U RAET`:

[code]

**But after that** the `salt-call --versions` "breaks" and only shows:

[code]

Until I do a `pip unistall libnacl RAET`, after which `salt-call --versions` wor

[2015-08-26 14:51] jfindlay commented on #26639
@endlessmason, thanks for the report.  I think it could be useful.  As a workaround you can consult salt/config.py to see most of the options and their default values.  Also, salt is designed and intended to work well in most cases on all platforms with default options.  If this is not true, then it is a separate problem that should be fixed.

[2015-08-26 15:14] aphor commented on #26658
I think what you want is to change the behavior of NSS via /etc/nsswitch.conf and I recommend against implementing this feature in Salt. Fix your DNS timeouts to some reasonable value for your network. How long should it take to get a DNS reply before you go to the hosts file? If you run a tight ship, maybe 1 or 2 seconds makes sense.

Lots of people/companies have bad (compartmentalized) DNS oper

[2015-08-26 15:20] jfindlay commented on #26658
@BalintSzigeti, that seems like a useful feature to me.  If an IP is hardcoded in /etc/hosts, it shouldn't go looking elsewhere to resolve the name.

[2015-08-26 15:21] jfindlay commented on #26656
@ari, thanks for the report.

[2015-08-26 15:23] jfindlay commented on #26644
@gravyboat, @iggy, thanks for the report.

[2015-08-26 15:31] jfindlay commented on #26643
@makearl, thanks for the report.

[2015-08-26 15:32] jfindlay commented on #26665
@TheBigBear, thanks for the report.

[2015-08-26 15:38] makearl commented on #26643
At the bottom of https://github.com/saltstack/salt/issues/18436 they touch on the NAT issue, but it was never resolved

[2015-08-26 15:55] aphor commented on #26658
@jfindlay that logic is configurable, and already implemented in NSS:

http://man7.org/linux/man-pages/man5/nsswitch.conf.5.html

DNS timeouts are configurable in /etc/resolv.conf

http://man7.org/linux/man-pages/man5/resolv.conf.5.html

The OpenSSH fix was specifically to avoid the delay when the server tries to do a PTR lookup for a client so that it can log a hostname instead of an IP on connec

[2015-08-26 15:59] jfindlay commented on #26658
@aphor, thanks for clarifying.  I am obviously not an expert. :-)

[2015-08-26 16:09] twangboy commented on #26336
@jfindlay I think this has been fixed. I just ran on the 2015.5.5 tag and I can run user.present twice with no issue.

[2015-08-26 16:22] twangboy commented on #26337
@jfindlay This seems to be a problem with the module.run state, not cmd.run. When I run your state it fails. If I run the following state, it works as expected:
[code]

[2015-08-26 16:38] jfindlay commented on #26337
@twangboy, I can change the issue if you want.

[2015-08-26 16:40] basepi commented on #24358
Interesting, I didn't know that it ever worked to just use the IP address of the host without specifying a roster. I think 2015.5 requires a roster file, but it should also be fairly straightforward to allow raw ip addresses in the command without a roster file. Would you please open a new issue?

[2015-08-26 16:40] jfindlay commented on #26336
@twangboy, do you get the `[Error 2] The system cannot find the file specified` comment?

[2015-08-26 16:43] twangboy commented on #26337
@jfindlay I ran your state but changed it from cmd.run to cmd.shell and it worked.

[2015-08-26 16:46] twangboy commented on #26337
@jfindlay So, that command needs `python_shell=True` to execute properly.

[2015-08-26 16:47] twangboy commented on #26337
So, running your state again, adding `python_shell=True` ran correctly

[2015-08-26 16:47] twangboy commented on #26337
I think the preferred method is to use cmd.shell, but understand there are security risks

[2015-08-26 17:15] nmadhok commented on #26634
@AkhterAli Your salt module should be firing back an event to the master. If it's a state file that is being run on the minion, you can use http://docs.saltstack.com/en/latest/ref/states/all/salt.states.event.html#salt.states.event.send to send an event back to the master. Then on your master, watch for that event and when it receives the event, fire the reactor state mentioned above.

[2015-08-26 17:26] robkinyon commented on #13141
+1

[2015-08-26 17:26] twangboy commented on #26337
To fix this problem you need to either add `python_shell=True` to your state like so:
[code]
or use the cmd.run state module:
[code]

[2015-08-26 18:00] nmadhok opened #26669 "Getting a bunch of warnings, errors and tracebacks when running salt-cloud command on develop branch"
[code]

[2015-08-26 18:07] rallytime commented on #26669
Thanks @nmadhok. Those warnings won't hurt your salt-cloud commands, but they are certainly noisy. I'll look into cleaning this up today.

[2015-08-26 18:19] nmadhok opened #26672 "salt-minion and salt-master displaying traceback when started"
When starting/restarting salt-master/salt-minion on latest develop branch, it displays a traceback and gets hung. After a KeyBoard Interrupt, it displays ``OK``.

[code]

[2015-08-26 18:26] robkinyon opened #26673 "__virtual__() doesn't work without __virtualname__"
The following does not work under 2015.5.3 (Lithium) / Ubuntu 14.04:
[code]
It claims "Module 'mytest' is not available."

If, however, you set `__virtualname__ = 'mytest'` as well, then everything works as expected. This requirement to set `__virtualname__` is missing from the docs at http://docs.saltstack.com/en/stage/ref/modules/index.html

This may be related to #25142

[2015-08-26 18:29] AkhterAli commented on #26634
@nmadhok

- The reactor is on the master in /srv/saltstates/reactor (which is the appropriate place I believe).
- The Module is in /srv/saltstates/salt/_modules, this gets synced with the target minion before being run on the minion.  By definition this is a runner module I believe because it runs strings/methods on the minion from the master (correct me if I'm wrong).

- It's supposed to run on t

[2015-08-26 18:38] nmadhok commented on #26634
@AkhterAli Thanks for the answers. Helps me better understand what you're trying to accomplish.

* There is no appropriate place for reactor states. It depends on what you specify for the state path in your master configuration on your master. In most cases, this should be set to ``/srv/reactor`` to follow the convention.

[code]

* By definition, this is not a runner module. This is infact an exe

[2015-08-26 18:42] twangboy commented on #17062
@obestwalter @deuscapturus Not sure if this is possible. It looks like the salt-minion service inherits its environment from the services.exe process. Services.exe receives its environment settings when windows starts. Services.exe apparently ignores WM_SETTINGCHANGE broadcasts.
Might be something in here (https://msdn.microsoft.com/en-us/library/windows/desktop/ms682653(v=vs.85).aspx) that we cou

[2015-08-26 18:45] kingkevin commented on #18958
I just started playing around with salt, and I run into this if I run a master & minion on the same machine.

[2015-08-26 18:51] jfindlay commented on #26673
@robkinyon, thanks for the report.  This may be caused by some recent changes to the loader.  Defining a `__virtialname__` may be good practice, but I don't see why it is necessary (perhaps it should be?).

[2015-08-26 18:52] msteed commented on #23125
As I looked at this I quickly reached the limits of my elasticsearch knowledge, and I'm not sure I can do a decent job of it.

@bechtoldt: would you be willing to take a look at making the elasticsearch returner work as a master job cache? See my comment above.

[2015-08-26 18:52] jfindlay commented on #26672
@nmadhok, does this happen if you create a new VM and install develop?

[2015-08-26 18:54] jfindlay commented on #26337
Sounds good to me.

[2015-08-26 18:54] #26337 closed

[2015-08-26 18:55] nmadhok commented on #26672
@jfindlay Haven't tried that yet. But i don't see this problem on 2015.8 or 2015.5 or 2014.7 branch on the same server.

[2015-08-26 19:09] BalintSzigeti commented on #26658
well, even it is configurable, according to my knowledge if the salt entry is in the /etc/hosts it should be used instead of, using DNS at first. I know it is configurable in nsswitch but is there any option to override this in Salt?

[2015-08-26 19:09] robkinyon commented on #26673
@jfindlay My thought would be that you should do one-and-only-one of:
* define `__virtualname__` if you have a virtualname you can know at compiletime.
* define `__virtual__()` which would then set `__virtualname__` to the return value. This is for virtualnames that can only be known at runtime.

If you define a `__virtual__()`, then also setting a `__virtualname__` should be an error.
Having to (

[2015-08-26 19:16] s0undt3ch commented on #26673
The point of `__virtualname__` is to future proof documenting several modules under the same virtual name without running the `__virtual__` function. Unfortunately, creating the sphinx extension for that takes time and is not high priority, hence, not yet being implemented.

[2015-08-26 19:46] rallytime commented on #26669
This appears to be caused by a4a3f7ff81c4e83edede4bce42c1651291ed2a22. The bug is present both in `develop` and `2015.8` when the change was back-ported in #26645.

[2015-08-26 20:02] AkhterAli commented on #26634
@nmadhok Can you show me an example of a runner module.  It may be best if I create a runner module to execute an execution module and perform actions based on return value.

[2015-08-26 20:10] twangboy commented on #26017
@mtstickney Just adding all functions from the file module will not work. Not all of them will work in windows. Could you send a list of functions you'd like to see added to `win_file.py`?

[2015-08-26 20:19] dangarthwaite commented on #26380
I'm also getting this error when running 'salt-call --local state.highstate' in a newly provisioned vagrant box.

[2015-08-26 20:40] kingkevin commented on #22357
Running into this issue as well.

[2015-08-26 21:07] icanhazpython opened #26685 "_xenv option for includes in state files broken"
Seems like there has been a regression. I'm using 2015.5.5, however the issue seems to be present even in the development branch. @tsclausing had made an edit to state.py (1fa275f) mentioned here (#2683) back in 2012. It looks like some part of that commit made it into the present-day state.sls. On the 2015.5.5 tag, state.sls file line 2593, you can see part of his code. However it seems to have b

[2015-08-26 21:50] rallytime commented on #14612
This particular stacktrace is now being caught for both the `libcloud` and `linode-python` versions of the Linode driver (tested with `v2015.5.5`).

Libcloud:
[code]
Linode-Python:
[code]
However, when this driver was rewritten in 2015.8 to use the Linode API directly, the API doesn't appear to throw an exception if the label doesn't match Linode's label specs. The create function continues until

[2015-08-26 22:49] sdm24 opened #26687 "Highstate Targets Incorrectly"
I recently switched my Salt setup to use gitfs instead of the local file roots. This issue apparently was happening before this, but this is when I noticed the issue. In our setup, Salt manages a lot of servers, but the highstate should only target servers running Ubuntu-14.04, since the older servers were configured in production before we started using salt. In the local file roots, I had 3 envi

[2015-08-26 22:51] sdm24 commented on #26687
I fixed my situation by commenting out linux.ssh in top.sls, and then uncommenting it. But it is still strange that the issue occurred before

[2015-08-27 00:04] s0undt3ch commented on #26673
I'd also like to add that the virtual function does not serve the sole purpose of (re)naming the module, a way to block a module from loading. It can also be used for some additional "pre-flight" checks.
I agree about the DRY, but runing the virtual function with all those possible checks just to build documentation is also not right.

[2015-08-27 01:56] double-yaya opened #26689 "Salt - SSH using machine IP to execute commands, without having to write a roster file"
In 2014.1.4 version I can specify the target machine execute commands, the target machine not written in the roster file
command like this：
[code]
But in 2015.5.3 version failed

result:
[code]
So.....In 2015.5.3 version,the target machine must be written in a roster file?

[2015-08-27 02:00] double-yaya commented on #24358
issue #26689

[2015-08-27 02:47] whiteinge commented on #9569
Reopened #26690 to at least get this ball rolling. I don't have time to devote to adding features right now but the base functionality works just fine -- with a little help from Jinja (see the docstrings for usage). The `ext_pillar` addition described in the last few comments will be a good addition but this pull req is functional. Additional contributions/fixes/tweaks are welcome.

[2015-08-27 07:25] suslikas commented on #24436
Also look to new bug with i fond, https://github.com/saltstack/salt/issues/663 not work if directory have two dots, like

[code]

[2015-08-27 07:53] mooperd opened #26697 "Release Salt Bootstrap Script in sync with salt or merge script into salt repo."
It is quite problematic having salt-bootstrap out of sync with saltstack as it is difficult to know which version of salt that the bootstrap has been tested with.

The current release of salt-bootstrap does not seem to work with any of the older releases of salt. As there is currently no integration testing this is very difficult to manage.

For example: Fixes to issues like this one: https://gith

[2015-08-27 08:04] frenkye opened #26698 "Return data as JSON"
Would be possible to have return data as JSON and not as string, when they are stored in the localcache?

Here a case:
1) Simple state to handle motd just file.manage
2) I will list jobs of operation:

[code]

3) When I print job operation:

[code]

Where the return is:

[code]

Which is not valid JSON, so my point is:
1) Could be there an option to specify format of the result which is being stor

[2015-08-27 08:48] gfa commented on #26454
+1

[2015-08-27 08:52] geraint-jones-nz opened #26699 "[salt-cloud] Minion doesn't install on some providers after upgrading to 2015.8.0"
Hi

I have recently updated our master to the following version:
[code]
Since doing this `salt-cloud` no longer installs the minion, the process completes without error but no minion is installed.

[2015-08-27 09:05] rgardam commented on #18510
I'm amazed this was originally labelled as low priority!!!

When do you expect this to be in a stable release?

+1

[2015-08-27 09:13] kev009 commented on #26255
That's a nice analysis @dneades!  Here's a PR to fix the kern.disks issue you pointed out:  https://github.com/saltstack/salt/pull/26700

I don't have any insight into the general issue with close_fds.  I haven't noticed yet because most our interactive salt use is in Vagrant VMs and the big boxes are schedule driven.

[2015-08-27 09:28] dneades commented on #26255
Thank you for the PR @kev009, much appreciated.

With respect to the `close_fds` issue, one solution would be to add a minion configuration parameter akin to the master’s `max_open_files`, with a sensible default (say, 2048). That would apply a `ulimit -n` (or equivalent) to any salt minion processes. Such a limit would obviously need to work with both the salt minion daemon and invocations via `s

[2015-08-27 09:45] WalterInSH opened #26702 "No --force-yes parameter for pgk.installed"
I'm trying to install oracle-java7-installer. I encountered this problem

[code]

I cannot find any parameter to pass --force-yes from this doc http://docs.saltstack.com/en/latest/ref/states/all/salt.states.pkg.html

my sls config:

[code]

BTW, I run this sls in a docker container, but I don't think this would be a problem

Thanks

[2015-08-27 09:46] nidico commented on #26633
We're using 2014.7.5 from the ubuntu ppa.

What is relevant for you?

[2015-08-27 09:49] atyagi1024 opened #26703 "Broken selinux.mode for RHEL6"
While trying to force selinux.mode RHEL6 keeps throwing the below error. Is there anything that I may have missed?
[code]
[code]

[2015-08-27 10:10] slomo commented on #26633
@jfindlay I didn't apply the workarround, because i am actually marschalling a whole data structure stored in pillar into json.

(btw. @nidico is a coworker of mine)

[2015-08-27 10:59] s0undt3ch commented on #26697
The issue that you refer has nothing to do with the bootstrap script.

Each stable version of the bootstrap script gets included into salt.

How is the bootstrap script not working with older versions of salt? Is it because the script pulls more deps? Managing deps per salt version in a shell script is not impossible but right now its unreasonable work to add that kind of support. There are plans

[2015-08-27 11:04] s0undt3ch commented on #26697
The reason why the script is not included into salt is because its possible to release faster stable releases of the script than salt itself. Imagine that a breakage is found on the script which ships with salt, releasing another version of salt because of the script seems unreasonable(nothing was broken within salt itself), specially because salt can even update to the last stable version of the

[2015-08-27 11:36] kaiserconstantin commented on #21256
Hi, I have the same problem. Have you found a solution?

[2015-08-27 11:43] WalterInSH opened #26704 "Asked a passphrase for ssh private key when using git.latest"
I'm using git.latest to clone a project from github via ssh. Salt cannot finish automatically cuz I have to enter a private ssh key passphrase.

Log:

[code]

I cannot find any place to config passphrase.

Thanks.

[2015-08-27 11:46] mooperd commented on #26697
Recently passing -u to the salt-cloud cli broke 2015.5.3 (and other version) for me.
Salt failed to start on the minion with

[code]

I believe this variable is set so be the most recent release of salt-cloud. The minion started once I deleted this line from the minion configuration file.

[2015-08-27 13:18] calve commented on #25075
Same issue here with the following versions :

[code]

From what I understand from pip logs, pip is invoqued without the name of the package to install :

[code]

The following are logged calls to ``execve()`` which happened while running a state containing ``pip.installed: - uwsgi``

[code]

As you can see, ``pip install`` miss the target package argument.

Please, let me know you need more infor

[2015-08-27 13:47] s0undt3ch commented on #26697
And that's a problem specific to salt(already addressed on the 2015.8 and develop branches), its not related to the updated bootstrap script.

[2015-08-27 13:47] s0undt3ch commented on #26697
I believe that problem is actually narrowed to the 2015.5.3 version.

[2015-08-27 14:26] mooperd commented on #26697
Older version of bootstrap work well with 2015.5.3.

[2015-08-27 14:28] xcorvis commented on #24907
I can confirm this in 2015.5.3. What other info is needed?

[code]

[2015-08-27 14:30] s0undt3ch commented on #26697
That log message which stopped the minion from starting has nothing to do with what the script does.
That's a setting that salt cloud passes to the new minion's configuration. The script just places that config file in the right place.

[2015-08-27 14:47] twangboy commented on #26336
@jfindlay, no. It just works for me. First time showing changes. Second time showing that it's already in the correct state.

[2015-08-27 14:56] AkhterAli commented on #26634
@nmadhok Sorry, I didn't read that last bit.

What I want to do is write a module that runs on the master to execute specific functions on the minion.  Probably the definition of a runner module rather than an execution module.  So basically, if my execution module fails, I want to run a runner module that runs on the salt master to destroy the target VM.

Right now the modules are executed from t

[2015-08-27 14:58] Galser opened #26705 "Salt-Master 2015.5.5-1 on Scientific Linux 6 fails loading some primitive pillars from YAML"
After update of Salt-Master to Salt : 2015.5.5-1 from EPEL-Testing on Scientific Linux 6, can't catch what exactly had happened, but  the very same pillars loading failing :

Machine running :
```Scientific Linux release 6.5 (Carbon)```

Example of simple failing pillar
[code]

Refresh pillar  fails with error :
[code]
Here are the versions (Salt-Master, minion, ssh, api - everything ):
[code]
Aft

[2015-08-27 15:39] arroyoc commented on #24907
@Akshaykapoor We shouldn't need anymore information. This issue has been labeled appropriately and will be taken care of as soon as we can get to it. Thanks for your help.

[2015-08-27 15:39] Reiner030 opened #26706 "salt-cloud adds (for AWS) wrong "nobootwait" option to "automounted" ephemeral devices in Debian instances which causes boot crash"
[code]
[code]

[code]

Instance is not coming up - in AWS cloud log is written that this option wasn't reginozed and the instance go into emergency mode (sorry, no copy&paste log because I didn't got it from dev).

But when manually fixing it to e.g.:
[code]
instance came up fine again.

[2015-08-27 16:25] twangboy commented on #25510
@TheBigBear This will be fixed when we finish transitioning over to salt-winrepo-ng

[2015-08-27 16:26] arroyoc commented on #26689
@double-yaya I was able to confirm that this is working on salt version 2014.1.4 and not working on salt version 2015.5.3. Thanks for your report.

[2015-08-27 16:34] terminalmage commented on #26598
I can implement this, but it will be a non-trivial change.

[2015-08-27 16:36] terminalmage commented on #26598
Changes will need to be made to salt/utils/gitfs.py, as well as the ``winrepo.genrepo`` code.

[2015-08-27 16:54] garethgreenaway commented on #26628
@MadsRC To confirm you're using CentOS 7?  Reason I ask is that CentOS 7 has version 6.19 and installing version 6.11 doesn't work because of kernel mismatches, etc.

[2015-08-27 16:56] cachedout opened #26708 "Change bower tests to not depend on external resource"
This test needs to be rewritten so that it does not depend on an external resource:

https://jenkins.saltstack.com/job/salt-linode-ubuntu14.04/2602/testReport/junit/integration.states.bower/BowerStateTest/test_bower_installed_from_file/

[2015-08-27 17:32] rallytime commented on #14612
I have fixed this bug by implementing a check to `_validate_name` in the `create` function before the provisioning event is fired. This will log an error and exit if the provided VM name doesn't meet Linode's label standards and also avoids the nasty caveat where random `linode1234567` instances are created in their various states on both the 2015.5 branch (stays in "Brand New" state) and the 2015

[2015-08-27 17:40] sdm24 commented on #26687
UPDATE: After playing with my test master, it seems that the issue is that both my production master and test master (where I have 'gitfs_base: testing' in the /etc/salt/master config) will both pull from the master branch and testing branch from git

[2015-08-27 17:57] jfindlay commented on #26633
@slomo, @nidico, the relevant information is in `locale:detectedencoding`.  There is also a possibility your issue might be resolved by upgrading to 2015.5.3 or later if you want to try that.

[2015-08-27 18:03] jfindlay commented on #26685
@icanhazpython, thanks for the report.

[2015-08-27 18:05] scoates commented on #25681
I have a gut feeling (but no evidence) that this is linked to #23480.

[2015-08-27 18:06] xenophonf opened #26711 "OpenIndiana build instructions"
The installation documentation for Solaris should include the following instructions for building Salt on OpenIndiana (tested on the OpenIndiana 2015.03):

[code]

I will follow up once I know how to add the Salt minion to SMF.

[2015-08-27 18:14] jfindlay commented on #26687
@sdm24, thanks for the report.  There may be more going on here, but you may be interested in #24878, which fixes some outstanding issues with top file merging.

[2015-08-27 18:17] gtmanfred commented on #26319
Yup, thats fine.

Thanks!

[2015-08-27 18:17] #26319 closed

[2015-08-27 18:17] nidico commented on #26633
The only locale related values are:

    $ salt-call grains.items

    locale_info:
        ----------
        defaultencoding:
            UTF-8
        defaultlanguage:
            en_US

[2015-08-27 18:19] sdm24 commented on #26687
Thanks @jfindlay. The first fix (in my first comment) occurred because I disabled git in the fileserver config and forgot to re-enable it.

A fix that seems to be currently working for me now is setting 'gitfs_env_blacklist' for the branch I want each salt-master to ignore

[2015-08-27 18:21] jfindlay commented on #26699
@geraint-jones-nz, thanks for the report.  Is it possible for you to provide the debug log output of the salt-cloud command you are using, obfuscating any private details if necessary?

[2015-08-27 18:25] jfindlay commented on #26702
@WalterInSH, thanks for the report.  What version of salt are you using?  As a workaround you can install with a cmd.run state.
[code]

[2015-08-27 18:26] scoates opened #26713 "2015.8rc3 regression in git identity"
This block causes a regression in 2015.8 rc3 for my states:

https://github.com/saltstack/salt/commit/686df5ff6d71e43f260ec00f0cfc147c8f7f457b#diff-4fa10950085c08ad21a3a55273578adcR250

Because `identity` can be a list (ref: https://github.com/saltstack/salt/blob/686df5ff6d71e43f260ec00f0cfc147c8f7f457b/salt/modules/git.py#L40 ) the call to check `os.path.isabs` is failing. If `identity` is a list

[2015-08-27 18:31] jfindlay commented on #26703
@atyagi1024, thanks for the report.  What does `salt-call sys.doc selinux.getenforce` return?  If it returns nothing, then it may be that salt thinks selinux is not installed.

[2015-08-27 18:41] jfindlay commented on #26704
@WalterInSH, thanks for the report.  What version of salt are you using?  You may want to reconsider your security model by using a private key without a passphrase or you could try setting up an ssh agent to cache the decrypted key before running the salt command, although I would recommend using a private key without a passphrase.  You may also want to look at git-credential.  Note that if salt

[2015-08-27 18:55] terminalmage commented on #26713
@scoates git.latest has been updated since RC3, can you test with an up-to-date checkout of the 2015.8 branch and see if this is still an issue?

[2015-08-27 18:57] jfindlay commented on #26705
@Galser, thanks for the report.  It looks like older versions of msgpack don't have an exceptions module.

[2015-08-27 19:02] terminalmage commented on #26713
Ahh, I see a problem still in the latest 2015.8, I'll get it resolved.

[2015-08-27 19:03] scoates commented on #26713
Thanks! I'll have a patch that I'm throwing into my local `_states/` here in a few minutes, if that helps.

[2015-08-27 19:06] Galser commented on #26705
@jfindlay , maybe. I will try to do test with a forced update of msgpack on Monday, and then, post results here.

[2015-08-27 19:10] terminalmage commented on #26713
No patch needed, I see the issue.

[2015-08-27 19:10] terminalmage commented on #26713
But thanks!

[2015-08-27 19:12] kater169 commented on #26280
Same for me with npm.installed on 2015.5.3:
[code]

[2015-08-27 19:22] dmurphy18 opened #26715 "Build 2015.5.5 for Redhat 5, 6, 7 and Debian 8"

[2015-08-27 19:27] jfindlay commented on #26706
@Reiner030, thanks for the report.  Is it possible for you to share the salt-cloud command you are using?

[2015-08-27 19:29] jfindlay commented on #26698
@frenkye, that seems like a reasonable request.

[2015-08-27 19:29] twangboy commented on #25220
This isn't a problem in 2015.8

[2015-08-27 19:35] jfindlay commented on #26711
@xenophonf, thanks for the information.

[2015-08-27 19:52] xenophonf commented on #26711
You may want to note that Salt only provides preliminary support for OpenIndiana (and presumably other Illumos distributions like SmartOS and OmniOS); for example, `pkg` states don't work.  Maybe it would be better to treat OpenIndiana/Illumos as a completely separate O/S family from Solaris.  I don't know.

[2015-08-27 19:59] basepi commented on #26669
Should be fixed in https://github.com/saltstack/salt/pull/26717

[2015-08-27 20:20] ryan-lane commented on #21214
What's the current status on this? We're heavily using state.single and it's /killing/ us. There's examples of core modules using this:

https://github.com/saltstack/salt/blob/develop/salt/states/boto_asg.py#L411

https://github.com/saltstack/salt/blob/develop/salt/states/boto_asg.py#L615

We have more incoming changes that heavily rely on this. The reasoning behind this is that some AWS resources

[2015-08-27 20:22] ryan-lane commented on #21214
The archive and dockerio states are also examples of core modules doing this.

[2015-08-27 20:38] basepi commented on #21214
We should investigate adding this for Boron, it makes a lot of sense.

[2015-08-27 20:40] terminalmage commented on #26713
Fixed by #26716.

[2015-08-27 20:45] cachedout commented on #26656
Resolved by #26667

[2015-08-27 20:45] #26656 closed

[2015-08-27 21:10] cachedout commented on #26348
Hi @yannis666 Can you provide us with a minimal test case to try and reproduce this issue?

[2015-08-27 21:28] #10075 closed

[2015-08-27 21:28] #12225 closed

[2015-08-27 21:32] cro commented on #18868
@amendlik -- I don't see this in the current 2015.5 branch.  Is this still an issue for you?

I was able to use salt-cloud to spin up a FreeBSD 10 machine in Rackspace without issue.

[2015-08-27 21:37] rallytime commented on #26669
@basepi Looks like this fixed the error messages from before, but now I am seeing this stack trace with this change, which is new, but related:
[code]

[2015-08-27 21:46] rallytime commented on #26706
@Reiner030 I am not sure if this is coming from salt. Salt cloud doesn't add any entries to fstab by default. Are you of any of salt's boto modules to do some configuration? Or could it be in the ami you're using?

[2015-08-27 21:56] geraint-jones-nz commented on #26699
It is very very large, here goes : https://github.com/geraint-jones-nz/salt/blob/develop/log.tgz

[2015-08-27 22:10] jfindlay commented on #26699
Thanks for the extra info, @geraint-jones-nz.  It seems there may be a problem with the bootstrapping or the interaction between that and salt-cloud.

[2015-08-27 22:18] jfindlay opened #26722 "CentOS 7 python-msgpack-0.4.6-1.el7.x86_64.rpm is unsigned"
[code]
workaround:
[code]

[2015-08-27 22:25] #25893 closed

[2015-08-27 22:25] dmurphy18 commented on #26722
all of the packages were signed 'rpm --addsign *.rpm', wondering how these were not signed:
python-msgpack-debuginfo-0.4.6-1.el7.x86_64.rpm
python-msgpack-0.4.6-1.el7.x86_64.rpm

[2015-08-27 22:26] rallytime commented on #22697
Sure thing!

[2015-08-27 22:26] #22697 closed

[2015-08-27 22:26] #20199 closed

[2015-08-27 22:26] #18863 closed

[2015-08-27 22:29] #15590 closed

[2015-08-27 22:30] #20169 closed

[2015-08-27 22:33] rallytime commented on #24317
I didn't hear anything back on this one, but I haven't run into it again. I am fairly certain this is fixed. If anyone continues to run into problems with this bug, please do let us know and we'll look into it. Thanks all!

[2015-08-27 22:33] #24317 closed

[2015-08-27 22:41] scoates commented on #26713
Attempting to test now, via salt-bootstrap, and I ran into an unrelated problem. So it goes. /-:

[2015-08-27 22:47] dmurphy18 commented on #26722
Updated the rhel7 repo, signed now, also picked up 2015.5.5 too, checked other rhel6 and rhel5, no missing signatures/signs

[2015-08-27 22:48] #26722 closed

[2015-08-27 22:59] twangboy commented on #17062
@obestwalter @deuscapturus Changing the environment for the salt-minion service using a module or a state is going to be impossible. Salt spawns a new instance to run these and any environment changes are lost once the function finishes.

However, there may be another option that will do what you need it to. The following state will set the path and restart the minion, only if the path is changed:

[2015-08-27 23:05] #26097 closed

[2015-08-27 23:05] #17062 closed

[2015-08-27 23:06] #26159 closed

[2015-08-27 23:06] #25510 closed

[2015-08-27 23:07] #26131 closed

[2015-08-27 23:07] #25220 closed

[2015-08-28 01:13] scoates commented on #26713
Works as of 74315ded253da047a2f6813ae4d62254890543e1
Thanks for the help!

[2015-08-28 01:13] #26713 closed

[2015-08-28 01:15] scoates commented on #26713
Erm. Actually; I have another issue (I was looking at the wrong tab; it's been a long day). Leaving this one closed unless I get more info.

[2015-08-28 01:26] scoates commented on #26713
Ok. Sorry for the noise. I fixed my other issue (I still had a broken `_states/git.py`). All good now. Thanks again.

[2015-08-28 01:31] mtstickney commented on #26017
I can put together a list when I get a bit more time (the weekend should do), but in the meantime I have a thought: right now if you call one of those functions you get an error, so as long as the function is going to throw an error anyway, why not make them all available and let them error out if they don't work on windows (or at least issue an explicit "this is not available on windows" error)?

[2015-08-28 02:00] Mark3K opened #26725 "pkg.list_pkgs does't support software which 'DisplayName' include chinese characters"
the prd_name return from function _get_reg_software in win_pkg module is UTF-8,
![image](https://cloud.githubusercontent.com/assets/7249827/9537637/58bcc952-4d6d-11e5-94af-3de54d075234.png)
but the name fro the name_map is not, so if we use pkg.install to install this kind of software will lead to fail.
![image](https://cloud.githubusercontent.com/assets/7249827/9537586/d1d6d356-4d6c-11e5-9bdc-db1

[2015-08-28 03:47] WalterInSH commented on #26704
@jfindlay Thanks for your reply! I finally removed the passphrase just like you recommended. It works well now.

BTW, this is what I did. Hope this would help others:

[code]

[2015-08-28 03:47] #26704 closed

[2015-08-28 03:52] WalterInSH commented on #26702
@jfindlay Thanks for your reply.

Here's the version infomation
[code]

I run my commands on centos 7

[2015-08-28 06:13] rhansen opened #26727 "KeyError: 'pillar' when using I@ compound match in pillar top.sls"
With the following pillar files:
- `top.sls`:

[code]
- `roles.sls`:

[code]
- `foo.sls`:

[code]

I get the following error in the minions:

[code]

and the following error in `/var/log/salt/master`:

[code]

If I set `ext_pillar_first: True` in `/etc/salt/master` then the errors go away, but the `foo:bar` pillar setting isn't set (though `roles:foo` is).

I'm using Salt 2015.5.3 (from the saltst

[2015-08-28 06:52] DaveQB opened #26728 "log-level in mount_invisible_* still triggering remount"
[code]

Hi,

Using some gluster mount options in a mount.mounted block sees a remount triggered when running a highstate. I found an issue on here that lead me to the 'mount_invisible_options' and 'mount_invisible_keys' lists in the mount.py file. I found that the direct-io-mode has been added since my version of salt (YAY!) but log-level= had not. So I added it to the 'mount_invisible_keys' list

[2015-08-28 06:53] MadsRC commented on #26628
@garethgreenaway - I'm sorry, I must have been confused when I wrote that bugreport - The OS is CloudLinux, which is based on CentOS 6.

[2015-08-28 07:07] s0undt3ch commented on #26633
Yes, the grain we're after was only added in 2015.5.0

[2015-08-28 07:26] frenkye commented on #26698
@jfindlay Thank you, I will look forward to this :+1: and mean time look up on YAML conversion :)

[2015-08-28 07:45] ghost opened #26729 "Why I am getting multiple responses from minions?"
I got the first response of all minions in valid json string but then I am getting three another different responses from same minions which are invalid json strings.

[code]

My version information:

[code]

[2015-08-28 08:05] twiebe commented on #26070
This seems to affect other kinds of targeting as well:

    $ sudo salt-ssh alfred grains.get roles
    alfred:
        - webserver
    $ sudo salt-ssh -G roles:webserver test.ping
    No hosts found with target roles:webserver of type grain

[2015-08-28 09:06] obestwalter commented on #17062
Sorry, if this is a dumb question, but I don't know much about the salt internals yet:

 If I do this as part of some big highstate: will the minion restart itself and then pick up the processing right at the "next" state?

[2015-08-28 09:56] abcfy2 commented on #7772
So how to use this new feature? The [develop doc](http://docs.saltstack.com/en/develop/ref/states/all/salt.states.pkg.html#salt.states.pkg.installed) doesn't mention about it.

[2015-08-28 10:07] styro opened #26730 "__opts__['user'] on Windows minion incorrect (eg for file.symlink)"
\_\_opts\_\_['user'] defaults to 'root' if not specified, even though on Windows the installer has it running as 'Local System' or something.

This causes a minor issue when creating symlinks on Windows because (according to the docs) the user/owner defaults to the user that is running the minion. As file.symlink uses \_\_opts\_\_['user'] to figure that out, by default Windows will try to create s

[2015-08-28 10:14] Darneas commented on #20285
I am also getting these for commands that run longer than a few seconds. I am using `/run` for all my calls. A simple `service.start` completes properly, while a `state.sls`, that takes longer raises the Authorization error.

If the module (e.g. `state.sls`) is already running, it sometimes raises this error too.

[2015-08-28 10:40] vilppuvuorinen commented on #16409
It looks like get.docker.com/gpg does not support SSLv3 anymore due to POODLE. Somehow it looks like current implementation cannot handle TLS either.

[2015-08-28 10:52] roflmao commented on #23910
+1

[2015-08-28 10:53] mortis1337 commented on #23910
+1

[2015-08-28 10:53] genuss commented on #24562
Sadly salt.mine doesn't work in pillar. See #11509 for details

[2015-08-28 11:06] atyagi1024 commented on #26703
Yes, nothing gets return for salt-call sys.doc selinux.getenforce. Also please note that it is a problem on RHEL5 as well.

[2015-08-28 11:31] DanyC97 commented on #11509
+1

[2015-08-28 11:42] Reiner030 commented on #26706
Hello @jfindlay and @rallytime,

this is the initate call:
[code]

This is actual state of instance:
[code]
(running in eu-central-1, https://wiki.debian.org/Cloud/AmazonEC2Image/Jessie )
1. It would be very dump from Debian maintainers to put Ubuntu only supported mount options in their image ;)
2. We run also another instance without salt-cloud deploy (only instance initiating) with this image a

[2015-08-28 11:51] lorengordon commented on #26703
To use manage selinux with python, we found that we had to ensure the selinux policy package was installed (`selinux-policy-targeted`), as well as the python module for managing selinux (`policycoreutils-python`). You can install both via yum.

[2015-08-28 12:23] Deshke commented on #25492
hey, what shall we do until the new version?

[code]
[code]

[2015-08-28 12:57] soodr commented on #26600
@jfindlay : chanced to update the instance to 2015.5.3. Will monitor and revert in a couple of weeks.

[2015-08-28 13:07] atyagi1024 commented on #26703
thanks, policycoreutils-python was missing. Installing that fixed the issue on RHEL6. But RHEL5 has the same problem as well. I have the following packages installed. Anything package that I might be missing on RHEL5?

rpm -qa | egrep "selinux|policycoreutils"
===============================
libselinux-1.33.4-5.7.el5
libselinux-utils-1.33.4-5.7.el5
policycoreutils-1.33.12-14.13.el5
selinux-policy-

[2015-08-28 13:38] garethgreenaway commented on #26628
No worries! :) let me spin up a 6 VM and test.

[2015-08-28 13:46] saltstack-bot opened #26731 "Bootstrap fails on Ubuntu 14.04 via Vagrant provisioner"
<a href="https://github.com/syphernl"><img src="https://avatars.githubusercontent.com/u/639906?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [syphernl](https://github.com/syphernl)**
_Tue Aug 25 12:21:15 2015_
_Originally opened as https://github.com/saltstack/salt-bootstrap/issues/648_

----

With recent changes it is required to add the following to the Vagrantfile:

[2015-08-28 13:47] #26731 closed

[2015-08-28 13:48] saltstack-bot opened #26732 "SmartOS pkgsrc dependency"
<a href="https://github.com/johngrasty"><img src="https://avatars.githubusercontent.com/u/4006549?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [johngrasty](https://github.com/johngrasty)**
_Fri Aug 28 13:06:39 2015_
_Originally opened as https://github.com/saltstack/salt-bootstrap/issues/649_

----

Installed 2015.5.3 via bootstrap script. `salt-call pkg.installed tmu

[2015-08-28 13:53] s0undt3ch commented on #26732
The ilo module should get element tree from [salt._compat](https://github.com/saltstack/salt/blob/develop/salt/_compat.py#L17-L33)

[2015-08-28 13:55] kaiserconstantin commented on #21256
The Solution is:
change "from impacket.smbconnection import SessionError in "from impacket.smb3 import SessionError" in /usr/lib/python2.7/dist-packages/salt/utils/smb.py

[2015-08-28 14:09] soodr commented on #26600
Noticed a master log entry when invoking a remote salt-run through the wheel client\:

208.185.155.58 - - [28/Aug/2015:14:04:39] "POST / HTTP/1.1" 200 16 "" "Python-urllib/2.6"
[INFO    ] 208.185.155.58 - - [28/Aug/2015:14:04:39] "POST / HTTP/1.1" 200 16 "" "Python-urllib/2.6"
[ERROR   ] Exception need more than 1 value to unpack occurred in file server update

[2015-08-28 14:41] lorengordon commented on #26703
Well, I don't see `policycoreutils-python` in that list, so maybe the RHEL5 instance is still missing that one?

[2015-08-28 14:54] atyagi1024 commented on #26703
Sorry but I couldn't find policycoreutils-python for RHEL5.

[2015-08-28 14:59] terminalmage commented on #7772
You don't have to change anything to use the feature. As long as you're using APT or YUM, it will just work. What changed from before is that now the metadata of the package will be looked at to determine its version. If the currently-installed version doesn't match the version obtained from the RPM/DEB metadata, then the package is upgraded/downgraded accordingly. If it does match, no action is t

[2015-08-28 15:06] lorengordon commented on #26703
It may be that the __virtual__() function in salt's selinux module is preventing it from loading. I don't have any RHEL5 instances to test on, but if you're comfortable reviewing the code, you should be able to figure out what it's checking for and compare that against your RHEL5 system to see what might be missing.

https://github.com/saltstack/salt/blob/develop/salt/modules/selinux.py#L27

[2015-08-28 16:05] twangboy commented on #21256
@kaiserconstantin Thanks for the fix!

@dhs-rec @sdebot Once this is merged would you mind verifying that this fixes the problem when you get a chance?

[2015-08-28 16:10] rallytime commented on #26706
@Reiner030 Hrm...this looks more to me like a bug in the mount state.

@garethgreenaway You've been doing work there a lot somewhat recently. Does this ring any bells to you?

[2015-08-28 16:25] TheBigBear opened #26739 "2015.8.0rc4_TheBigBear git rel. 'gcb9fddd' [ERROR ] Failed to import log_handlers sentry_mod, this is due most likely to a syntax error:"
@UtahDave ^^^ @twangboy I have done a test install of the new 2015.8 right after your winrepo chnages were merged in.

I admittedly used an inappropriate cmd. ```salt-call --local winrepo.genrepo``` that has actually been removed from the masterless minion on >=  2015.8

But it looks like it tried calling in the logging and failed. ;-(

[code]

my ```salt-call --local --versions``` is:
[code]

[2015-08-28 16:34] TheBigBear opened #26740 "2015.8.0rc4_TheBigBear git rel. 'gcb9fddd' 'pkg,refresh_db' is not available."
@UtahDave ^^^ @twangboy

At start of it this one has same error as #26739 but then it claims that ```pkg.refresh_db``` is also not available? Maybe I misinterpreted what was wrong in the other isssue or we really have two issues?
Or maybe just the one, the __opts__ arent there?

[code]

The ```salt-call --local --versions``` are still the same:
[code]

[2015-08-28 16:59] twangboy commented on #26669
Also happening here:
https://github.com/saltstack/salt/issues/26740
https://github.com/saltstack/salt/issues/26739

[2015-08-28 17:00] twangboy commented on #26740
@TheBigBear This is affecting a lot of modules right now. @basepi Is working on a fix. Shouldn't be long.

[2015-08-28 17:04] TheBigBear opened #26743 "2015.8.0rc4_TheBigBear git rel. 'gcb9fddd' global name 'PER_REMOTE_PARAMS' is not defined"
This might all be based on the issue behind #26739 or probably #26740

but ```salt-call --local winrepo.update_git_repos``` comes up with a key error, which I guess means it didn't get set, which is probably as it says because ```__opts__``` are missing

So I won't create any more issues now. ;-)

[code]

[2015-08-28 17:06] twangboy commented on #17062
It will if you have it set up to do a highstate when the minion starts.

[2015-08-28 17:10] TheBigBear commented on #26740
@twangboy thanks. I have already created another one #26743 but lloks like they are all stemming from the same base. So I will stop flooding the issue list. Sorry.

[2015-08-28 17:13] UtahDave commented on #26017
I think this would be a great thing to revisit. The difficulty is in making sure everything is namespaced correctly. If I recall correctly there was something preventing us from doing that automatically. It would definitely be nice to be able to minimize the maintenance of the win_file.py

[2015-08-28 17:22] rallytime commented on #26740
Thanks @TheBigBear for the report! This should be fixed by #26744 and is also a duplicate of #26717. I'm going to close this for now so we have only one place to track the fix.

[2015-08-28 17:23] basepi commented on #21214
Added in #26747.

I guess I was under the impression this was going to be much harder than it actually was. Once I started looking into it it was super straightforward. I haven't done extensive testing, but I have done basic testing.

I'm embarrassed we waited this long at this point.

[2015-08-28 17:26] rallytime commented on #26739
This should be fixed by #26744 and is a duplicate of #26717. I'm going to close this so we can track it in the other issue. If you still see problems after the fix is merged, definitely let us know and we can take another look, but I pulled the fix down just now and it has fixed the issue nicely.

[2015-08-28 17:26] #26739 closed

[2015-08-28 17:27] ryan-lane commented on #21214
Awesome. I'll give this a try!
On Aug 28, 2015 10:23 AM, "Colton Myers" <notifications@github.com> wrote:

[2015-08-28 17:34] #26669 closed

[2015-08-28 17:35] rallytime commented on #26669
Tested...confirmed fixed. Thanks @basepi!

[2015-08-28 17:35] basepi commented on #26743
The sentry handler error should be gone, but I'm unsure if that will fix your second error. Test please?

[2015-08-28 17:40] TheBigBear commented on #26743
@basepi @twangboy, no this is still there.

[2015-08-28 17:46] UtahDave commented on #26743
I think I know what's going on here.

Working on it.

[2015-08-28 17:46] TheBigBear commented on #26740
@basepi @rallytime @twangboy can you please re-open this? it is still there, and I do believe winrepo.refresh_db should be in a windows 2015.8 minion? but I still get
[code]

[2015-08-28 17:48] thatch45 commented on #21214
This used to be MUCH harder to do, this is crazy easy now because of how the new LazyLoader works.

[2015-08-28 17:49] basepi commented on #21214
Ah, yes, this is definitely a side effect of the LazyLoader.

[2015-08-28 17:50] basepi commented on #26740
I was afraid that was the case. The error log was unrelated to whatever is not letting your module load.

[2015-08-28 17:50] UtahDave commented on #26743
@TheBigBear do you have `winrepo_remotes_ng` configured in your minion config?

[2015-08-28 17:51] rallytime commented on #26740
@twangboy Can you take a look at this then, since it appears to be a different issue than originally thought?

[2015-08-28 17:52] TheBigBear opened #26748 "2015.8.0rc4_TheBigBear git rel. 'gcb9fddd' NameError: global name 'six' is not defined"
I know that ```salt-call --local winrepo.genrepo``` is no longer supposed to be there for a windows minion >=2015.8, but I don't think trying to use it it should give me this error?

```salt-call  --local winrepo.genrepo``` gives

[code]

[2015-08-28 17:53] TheBigBear commented on #26740
maybe the clue to the cause of this is actually in https://github.com/saltstack/salt/issues/26748 ?

[2015-08-28 18:05] TheBigBear commented on #26743
@UtahDave dohh, so sorry, shoudl have remembered, but the new salt rc4 install blewa away the old minion file that had the values in. ;-)

OK, BUT now that this is set I __still__ get an error.
[code]

[2015-08-28 18:09] UtahDave commented on #26743
@TheBigBear ok, I'm going to ask @terminalmage to take a look at this. He's been involved in this code recently. He might have some insights here.

[2015-08-28 18:09] garethgreenaway commented on #26706
I don't think we specifically add any fstab options but I'll take a look.

[2015-08-28 18:35] jfindlay commented on #26725
@Mark3K, thanks for the report.

@s0undt3ch

[2015-08-28 18:37] jfindlay commented on #26727
@richardhansen, thanks for the report.

[2015-08-28 18:41] terminalmage commented on #26743
Should be fixed by https://github.com/saltstack/salt/commit/a3b7668256e90bb7647f3b684db6a749428dddaf, part of https://github.com/saltstack/salt/pull/26751

[2015-08-28 18:44] jfindlay commented on #26728
@DaveQB, thanks for the report.

[2015-08-28 18:50] akoumjian commented on #13550
For the current release (2015.5.5) what is the recommended state to put a git clone into the latest version of a branch? I have this and it is no longer working since I upgraded:

[code]

[2015-08-28 18:57] jfindlay commented on #26729
@I-kod, thanks for the report.  What version of salt is your master running?  I have tried this on recent versions of salt and got the expected output of a single json map.

[2015-08-28 18:59] jfindlay commented on #26730
@styro, thanks for the report.  What version of salt are you using?

[2015-08-28 19:10] jfindlay commented on #26704
@WalterInSH, that's great.  I'm glad you got it working.

[2015-08-28 19:11] jefftucker opened #26754 "MySQLdb-python package should be included with windows minion installer"
[code]
The MySQLdb-python package is a huge pain to install on windows with pip or easy_install since it needs to compile native code and doing that from pip is broken unless you have a magic Visual Studio 2008 setup that I can't seem to replicate.  There is a binary available but it has no .msi so I can't silent install (and therefore can't highstate it onto my own minions).  It would be super co

[2015-08-28 19:20] jfindlay commented on #26600
@soodr, thanks for the extra info.  Is there more context to the log statements you posted, like a python traceback?

[2015-08-28 19:21] jfindlay commented on #26703
@lorengordon, that should be https://github.com/saltstack/salt/blob/2015.5.3/salt/modules/selinux.py#L27.

[2015-08-28 19:25] jfindlay commented on #26703
It looks like to me that the selinux checks for salt don't account for rhel5-specific features and need to be fixed for that case.

[2015-08-28 19:29] lorengordon commented on #26703
@jfindlay, side question, do you know, is there a way to associate a dependency to a module/state? I know you probably don't want to add `policycoreutils-python` as a hard dependency for salt, but it would be nice if we could associate the os:dependency-map to the module/state so that salt could check for it and output a nice error message if any necessary dependencies were missing.

[2015-08-28 19:34] drawsmcgraw commented on #26703
@lorengordon It does seem to be that the virtual function is refusing to load it (at least in my case).

I'm having the same issue here even after installing `selinux-policy-targeted` and `policycoreutils-python`. This is on CentOS 6.4.

After looking at [the `selinux_fs_path()` function that the virtual function in the selinux module calls](https://github.com/saltstack/salt/blob/develop/salt/modu

[2015-08-28 19:37] thatch45 commented on #3511
Fixed a while back

[2015-08-28 19:37] #3511 closed

[2015-08-28 19:46] jfindlay commented on #26703
@lorengordon, that is a good question.  I don't know if we have anything like that.  I think it would be great if each plugin (exec module, state module, runner, beacon, etc.) that needed external dependencies could plug that info into a central aggregator that could return the full set of extended dependencies depending on what modules are loaded, or potentially all modules, so that we could keep

[2015-08-28 19:47] lorengordon commented on #26703
@drawsmcgraw, interesting. I ran into that same problem with Amazon Linux, but it wasn't critical and I brushed it off to investigate later. So, yeah, there are situations where those paths don't exist, even when all other dependencies are met. Not sure what a good alternate test would be for the __virtual()__ function...

[2015-08-28 19:52] lorengordon opened #26755 "Associate package dependencies to modules/states?"
Right now, typically, the `__virtual__()` function implements a test to see whether the module/state can be loaded, but if the user happens to attempt to call the module/state they just get a somewhat unhelpful message saying it isn't available.

I think it would be nice if there were a way to associate a required package dependency map (os:package) to a module/state. That way, if the package isn'

[2015-08-28 19:53] lorengordon commented on #26703
@jfindlay, done, https://github.com/saltstack/salt/issues/26755.

[2015-08-28 19:56] jfindlay commented on #26755
Related to #25142.

[2015-08-28 20:07] drawsmcgraw commented on #26703
@lorengordon Fair enough. I already have `/etc/selinux/config` being managed with Salt, I was just being aggressive with also setting the `mode` to 0. I've just commented that out for now; not a huge impact for me. Wish I had a little more time to investigate that :/

[2015-08-28 20:57] s0undt3ch commented on #26732
The fix is merged. Closing.

[2015-08-28 20:57] #26732 closed

[2015-08-28 21:16] joshughes commented on #26332
@jfindlay the behavior seems to be currently that the pillar calculations are a blocking operation that is executed in a single thread. Meaning that all my jobs get queued in a line for their turn to receive the calculation.

I basically see a bunch of threads executing work... then 1 spinning. While watching the logs I see many pillar calculations going on. Hopefully the new design takes this int

[2015-08-28 21:20] sjorge opened #26760 "SmartOS/Illumos broken again on 2015.8"
Just pulled in all 2015.8 changes after my PR into my fork... it's broken again

[code]

Seems to be commit f4723efe6862dfc9b34e48291f428701fc3594be that broke it.

[2015-08-28 21:22] terminalmage commented on #9592
Fix was merged, closing.

[2015-08-28 21:22] #9592 closed

[2015-08-28 21:23] jefftucker commented on #26754
Just for "fun" I installed pymysql and I was able to get the mysql module to work with it.  If you install the pymysql module (pip install PyMySql) you can add two lines immediately prior to the 'import MySQLdb' statement in mysql.py:
[code]

I haven't tested this in detail at all but the mysql module now loads and I can run mysql.db_list without errors so that's a slightly nicer workaround that I

[2015-08-28 21:27] #21214 closed

[2015-08-28 21:47] scoates commented on #24761
I forgot about this. I can't easily test on this anymore. We've had to move to `2015.8`. /-:

[2015-08-28 21:49] sjorge opened #26762 "SmartOS/Illumos grains are incorrect after salt.utils.is_proxy() got added"
Basically what the title says

e6382e3ba6a34b9b2490377d188276cf093776dd

[2015-08-28 21:55] styro commented on #26730
2015.5.2 on Windows 2012R2 installed by the salt provisioner in Vagrant 1.7.4

[code]

[2015-08-28 22:39] TheBigBear commented on #26743
@terminalmage ok, thanks, this error has now gone, so this can be closed. I will have to continue the winrepo + new winrepo-ng testing tomorrow, it is close to midnight here now. Have a great weekend.

[2015-08-28 22:44] jfindlay commented on #26332
That seems more like a pillar issue than a git_pillar-specific issue.  Your use case is definitely interesting and I think we should think more about it.  Thanks for taking the time to report it.

[2015-08-28 22:47] jfindlay commented on #26730
Excellent, thanks, @styro.

[2015-08-28 23:18] rallytime commented on #24020
@arthurlogilab I just tested this and it is working, though it takes some work in defining correct provider/profile files. In order to get this to work, you have to define the profile and profiles for each minion.

/etc/salt/cloud.providers.d/saltify.conf:
[code]
/etc/salt/cloud.profiles.d/saltify.conf
[code]
Result:
[code]
Versions:
[code]

I'll put together some docs next week explaining this. T

[2015-08-28 23:27] soodr commented on #26600
Looks like its related to s3 updates from AWS \:
[code]

[2015-08-29 00:16] schlagify opened #26767 "oscodename grain blank in 2015.5.3 on some minions"
[code]

[code]

[code]

[code]

OS:  Debian Wheezy v7.8

[2015-08-29 00:30] jfindlay commented on #26600
You may be running into an issue fixed by #25420.  Reply here though if you are able to reproduce the original error.

[2015-08-29 00:32] jfindlay commented on #26600
Of course only now do I see `Got a bad pillar from master, type NoneType, expecting dict: None`.  This is very likely a duplicate of #25579.  I'm going to close this in favor of that.  Regarding the s3 error, that should be fixed in 2015.5.6.

[2015-08-29 00:32] #26600 closed

[2015-08-29 00:54] garethgreenaway commented on #26628
Test VM running CentOS 6.6 and I'm able to duplicate the issue.  Looking into why this is happening.

[2015-08-29 01:23] DaveQB commented on #26728
I meant to add a little more detail.

Here is my fstab line:

[code]

And here is how it looks when mounted and list with the mount -l command:

[code]

[2015-08-29 02:27] lrhazi commented on #11107
Not sure if this is the same thing or not but, it would be nice, unless already possible, to allow a minion to run states against a new master, temporarily. It could be used to have a salt-master test server, where all changes are pushed to first... then on a minion:

salt-call sls.state some_state_we_want_to_test  master=salt-master-test

[2015-08-29 02:49] richardhansen commented on #23910
Is bug #26727 a symptom of this bug?  Or are they unrelated?

[2015-08-29 07:27] uvsmtid commented on #21298
+1
Related #4236.

### Reiterating the problem ###

Yes, it's frustrating when I receive this error for a long template (like those generating some XML config file):
[code]
* Which `'dict object'` among all nested `pillar[subkey1][subkey2]...`?
* Where did the key `'None'` come from?

### Searching for improvements ###

I understand that it is largely the issue of Jinja, but any fix/improvement/ad

[2015-08-29 08:04] sjorge commented on #26760
Closing as this is now fixed in 2015.8, Like usual this will get merged forward into develop soonish.

[2015-08-29 08:04] #26760 closed

[2015-08-29 08:21] kaiserconstantin commented on #21256
I have tested it. It works for me.

[2015-08-29 09:44] s0undt3ch opened #26771 "Decode output from shell out calls"
Salt's Unicode support has come a long way but there's still some [_glitches_](https://github.com/saltstack/salt/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+unicodedecodeerror) that need to be addressed.
Most of these _glitches_ come from the fact that we do not decode the information we get from shell out calls from the systems encoding. In the past we assumed that it was either UTF-8 or somethi

[2015-08-29 18:44] Phomias commented on #19834
Just hit this issue myself:
[code]

[2015-08-29 21:34] #26743 closed

[2015-08-30 03:11] garethgreenaway commented on #26728
IIRC 2014.7 isn't a supported release, are you able to upgrade to 2015.5?  There were quite a few fixes related to the mount modules in that release.

[2015-08-30 03:15] garethgreenaway commented on #26729
@I-kod Are you by chance using multiple masters?

[2015-08-30 04:09] trananhkma commented on #18843
I cannot reproduce this, how did you guys got this problem ?

[code]

[2015-08-30 09:31] styro opened #26773 "salt-call minor breakage on Windows"
Salt 2015.5.2 on Windows 2012R2. Doesn't prevent the command working, just sprinkles ugly tracebacks throughout the output. eg:

[code]

Looks like there's a few exitcode stragglers still using `os._EX_*` instead of `salt.defaults.exitcodes.EX_*`

[2015-08-30 09:39] aboe76 opened #26774 "salt master and minion won't start on develop version wrong config dir"
With the salt version 2015.8.0rc3.2212.gf66b18d, the salt master and the salt minion won't start,
something changed in how it's reading the configuration files:

[code]

and the salt minion:
[code]

[2015-08-30 11:03] s0undt3ch commented on #26774
You're not tweaking the syspaths when running setup right?

[2015-08-30 11:20] thusoy commented on #21214
@basepi I think your fix is identical to what @jacksontj attempted earlier. I tried running this on my machines, but I end up with `NameError: global name '__instance_id__' is not defined` when calling `file.managed` from my custom state, any idea how to fix?

[2015-08-30 11:58] s0undt3ch commented on #13558
Guess we need to add a test case to try exactly that....

[2015-08-30 12:09] aboe76 commented on #26774
No I'm using the defaults only option is to compile both transport protocols

Op zo 30 aug. 2015 13:03 schreef Pedro Algarvio <notifications@github.com>:

[2015-08-30 12:09] mzupan commented on #24243
I'm seeing the same thing for

[code]

[2015-08-30 12:16] aphor commented on #26658
@BalintSzigeti why don't you make a salt state.sls to control the contents/order of NSS resolvers so that files appears before DNS on the hosts line?

[2015-08-30 15:40] freelock opened #26776 "Add Docker Label support to dockerio state"
Docker added support for labels, I think in 1.6. A label is arbitrary metadata that can be added to a container or image, and then can later be used to filter running containers (in my current scenario, so I can send a HUP signal to an Nginx container after a PHP container is restarted, so it can pick up the new IP address).

The current docker-py library supports labels in its create_container()

[2015-08-30 16:24] Andrwe opened #26777 "[states.cmd] return data inconsistent with other states"
Hi,

I'm writing on a returner script for my salt infrastructure.
While working with the return data of different states I found that the return data of 'cmd.run' is different than others.
#### Explanation

When 'cmd.run' results in an error the error output is stored in ret['return'][state]['changes']['stderr'].
Other states, e.g. 'file.append', store their error output in ret['return'][state]['c

[2015-08-30 17:28] techdragon commented on #26774
Clean install from the current git `develop` branch, using `python setup.py install` and then installing the dependencies afterwards.

I see the same behaviour.

[2015-08-30 17:51] endlessmason commented on #26639
pkg install did tell me where to find default configs, and where to copy
them to.

The configs also had the defaults included in comments, which was helpful.

it just seems like it would be nice to see that salt had read the config
and was doing the things I asked (so I can go check other things when it
doesn't make the changes I expect it to, for example.)

[2015-08-30 18:38] aboe76 commented on #26774
@techdragon thanks for confirming this.

[2015-08-30 19:09] s0undt3ch commented on #26774
Thanks. We'll clean that up.

[2015-08-30 20:19] aboe76 commented on #25332
with latest zeromq in devel:languages:python everything is ok, no more stack smashing found.
@sysrich can you confirm this so we can close this issue?

[2015-08-31 02:43] jiafeicat opened #26779 "cpu is 100% when i started salt-master"
hi, everyone. when i starts slat-master,  cpu go up to 100%, it last 10 minuters nearly (). during that time,  when i execute command (salt '*' test.ping), i get a error :  "Salt request timed out. The master is not responding. If this error persists after verifying the master is up, worker_threads may need to be increased."    after this 10 minuters,it  get right.

machine environment:  vmware wo

[2015-08-31 06:23] jfindlay commented on #21256
Thanks for the confirmation.

[2015-08-31 06:39] MadsRC commented on #26628
Thank you @garethgreenaway , I'll pull down the latest version of 2015.5 and test it.

[2015-08-31 06:40] dove-young opened #26781 "ret.get_fun get incompatible with ret.get_fun : Passed invalid arguments: get_fun()"
Here are 3 tries of ret.get_fun with etcd returner

[code]

Seems like  there is no way to get it work.

After searching on source I discovered some interesting things.
- Here is the code of <code>get_fun</code> in <code>ret.py</code>

[code]
- Here is the code of <code>get_fun</code> in <code>etcd_return.py
  </code>

[code]

Seems like they do not work well together.

Here is my test environment

[2015-08-31 06:42] dhs-rec commented on #21256
Yes, works for me, too, but only from a Salt master outside AWS.

It still hangs after printing the public IP address of the new instance when run from a Salt master *in* AWS (same region) although the Minion seem to have been properly bootstrapped (I see its new key accepted on the master).

[2015-08-31 06:49] dove-young commented on #26781
As a workaround, I added a facked parameter to <code>get_fun</code> in <code>etcd_return.py</code> and it works for me.

[code]

[code]

[2015-08-31 08:05] s0undt3ch commented on #26774
I know where the problem is. I'll have a PR this morning to fix it.

[2015-08-31 10:46] zerthimon opened #26782 "Feature: specify a yaml file as a source of custom pillar data for salt modules"
Currently only a dictionary may be specified as a custom pillar data: http://docs.saltstack.com/en/latest/topics/tutorials/pillar.html#setting-pillar-data-on-the-command-line

It'd be nice to have the option to provide a custom pillar data from file e.g.:

[code]

[2015-08-31 10:50] thedrow opened #26783 "Refactor the Digital Ocean cloud provider to use an external dependency"
https://github.com/quasiben/doto is a client for DigitalOcean much like boto is for AWS.
It will allow us to decrease the complexity of the current provider and relay on a known working implementation.

[2015-08-31 10:53] thedrow opened #26784 "Upgrade boto support to boto3"
boto3 is the new version of boto and should probably be used for new features.
We should also migrate our current usage of boto to boto3.
See the migration guide: http://boto3.readthedocs.org/en/latest/guide/migration.html

[2015-08-31 11:33] drawsmcgraw commented on #26035
@johannmiller @jfindlay I'm getting the same thing. Masterless minion running locally, using `ext_pillar` with git, and Pillar is empty.

Possibly related (at least of interest), my Master is configured the same way (`ext_pillar` + git). If I run a `salt-call` on that master, Pillar gets populated. However, adding `--local` to the run returns nothing.

[code]

Versions:

[code]

[2015-08-31 12:56] efficks commented on #14872
Is thera any progress on this one?

[2015-08-31 14:07] yermulnik commented on #24827
Hi!
Has been this fix commited into release?
Locales are still not generated via locale.present on salt 2015.5.5 (Lithium)

[2015-08-31 14:17] techhat commented on #26783
Refactoring a driver will cause issues, and wanting to offload work onto another SDK isn't enough reason to increase dependency complexity. Before opening this can of worms, I would like to know which specific things are broken with the current implementation, and why they are unfixable without refactoring.

[2015-08-31 14:30] #26774 closed

[2015-08-31 14:34] AkhterAli commented on #25177
Apologies for the late reply.  This has not worked either.

[code]

[2015-08-31 16:17] joshughes commented on #26332
So I though it might help if you saw  my top.sls files for my pillars.

[code]

which then allows me to define a minion with the following grains.

[code]

So when the pillar jinja is rendered the effective top.sls looks like

[code]

So when I simply update the grains on the server I can add access to a new pillar without updating the top.sls. Since I use git enviornments this is very very useful

[2015-08-31 17:26] toddtomkinson opened #26786 "Cannot perform state.highstate/saltutil.sync_all on proxy minion"
I am trying to create states for a proxy minion.  The proxy minion itself comes up fine and I can tell that communication is working between the master, the proxy minion, and my remote resource (a ping that hits the remote resource is successful).  I cannot, however, get states to work because whenever I run a highstate or even a saltutils.sync_* I get the following error on the minion:
[code]
I'm

[2015-08-31 17:31] jfindlay commented on #24827
@yermulnik, what distro are you using?  Do you have any associated debug log information, or anything unusual in your state sls file?

[2015-08-31 17:35] #12817 closed

[2015-08-31 17:35] jfindlay commented on #24827
@yermulnik, it appears that the fix was backported but hasn't been released yet; it missed 2015.5.3 by 107 commits.  We had a major performance issue with 2015.5.4 and two CVEs come in after we tagged 2015.5.5, but plan on releasing 2015.5.6 in the next two weeks after 2015.8.0 is released.  Either release should have this fix.

[2015-08-31 17:38] badele commented on #26425
I confirm the @JensRantil remark,

I don't know if i'm  off topic, for me, i have pratically the same problem, i try use the good version for use proxmox provider.

- In the default salt version (2015.5.3) we have the the  problem with SSL verification => https://github.com/saltstack/salt/issues/25652
- In the latest pre-release (v2015.8.0rc3), i have a problem with the msgpack => https://github.c

[2015-08-31 17:46] jfindlay commented on #26762
@sjorge, thanks for fixing this.

[2015-08-31 17:46] #26762 closed

[2015-08-31 17:47] jfindlay commented on #26767
@schlagify, thanks for the report.

[2015-08-31 17:51] jfindlay commented on #26771
Thanks, @s0undt3ch.

[2015-08-31 17:56] jfindlay commented on #26773
@styro, thanks for fixing this.

[2015-08-31 17:56] #26773 closed

[2015-08-31 17:58] ssgward opened #26788 "Windows minion user.rename gives exception"
Here is the command run: ``salt Win2012 user.rename testuser01 testuser``

Here is the exception:
[code]
Tested on Win 2012 with Win salt minion versions 2015.3, 2015.5 and 2015.8rc3 all with the same result.

Workaround (but may not be optimal) would be to delete the user and re-add with updated username.

[2015-08-31 18:02] jfindlay commented on #26776
@freelock, thanks for the report.  Another thing to consider is that salt's docker support has been rewritten for 2015.8.0 as dockerng.

[2015-08-31 18:04] ryan-lane opened #26789 "config.option (and likely other things that give back grains or pillars) return mutable state"
[code]

Now your config.option state has been modified everywhere. Funny thing is, who knows which portion of the global state has been modified, since this does lookups from multiple datastructures.

A deepcopy should definitely be returned here, rather than a mutable object. My hope is that no modules accidentally rely on these side-effects. Maybe the default call should return a deepcopy, but t

[2015-08-31 18:05] jfindlay commented on #26777
@Andrwe, thanks for the report.

Related to #25143.

[2015-08-31 18:11] jfindlay commented on #26779
@jiafeicat, thanks for the report.  Salt is very commonly run on VMs.  I would suggest increasing the memory used by your salt master to at least 1 GiB depending on how many minions you intend to control with it.  Also, how did you install the salt-master and what system are you running on the VM?

[2015-08-31 18:13] ryan-lane opened #26791 "Boto modules with _from_pillars arguments have issues with mutable options"
Due to https://github.com/saltstack/salt/issues/26789. Since config.option returns mutable state, a number of the boto state modules have bugs where they get back a dict, assign it to a tmp var, then dictupdate the tmp var, causing the global state to be changed. This mostly affects states that use cloudwatch alarms (like boto_asg, boto_elb, and boto_dynamodb).

Until #26789 is fixed it's necessar

[2015-08-31 18:14] freelock commented on #26776
Ah, thanks for the heads up... looks like some nice simplification in dockerng...

[2015-08-31 18:16] jfindlay commented on #26781
@dove-young, thanks for the report.

[2015-08-31 18:18] rallytime commented on #24020
I've update the saltify docs in #26790. As such, I am going to close this issue since I believe this to be working in the 2015.5.5 release. Let me know if the wording is confusing and feel free to open issues for any problems you encounter. Thanks again!

[2015-08-31 18:19] #24020 closed

[2015-08-31 18:22] jfindlay commented on #26782
@zerthimon, are you wanting to specify a pillar file on the command line in particular?  Pillar files can be used by salt through the usual master configs otherwise.

[2015-08-31 18:26] jfindlay commented on #26779
Possibly related to #26301 and/or #26366.

[2015-08-31 18:30] jfindlay commented on #26754
@jefftucker, thanks for the report.  I wonder if a better solution would be a [salt-formula](https://github.com/salt-formulas) for this.  Other than that, I'm going to defer to @UtahDave here about what the best approach would be.

[2015-08-31 18:32] bradthurber opened #26792 "Docs - "Full State Module Example" is not really and other doc issues"
The State Module docs have a "[Full State Module Example](http://docs.saltstack.com/en/develop/ref/states/writing.html#full-state-module-example)". One starts working through it to find that, yes, it is a full state module, but it needs an Execution Module to actually do anything.

Ah, they must have put it on the [Execution Modules](http://docs.saltstack.com/en/develop/ref/modules/index.html) pag

[2015-08-31 18:34] rallytime commented on #24021
@arthurlogilab - I just tested this by changing my map file to match something similar to yours and I was able to reproduce the error at the HEAD of 2015.5:
[code]
I'll clean up that error in a pull request shortly and make an error message to help out in this situation in the future.

That being said, if you change your configs to the ones I suggested above (changing the `name` param, and adding

[2015-08-31 18:36] jfindlay commented on #26784
@thedrow, thanks for the report.  I have changed the title because we probably won't officially deprecate support until a full implementation is made.

[2015-08-31 18:38] jfindlay commented on #26786
@toddtomkinson, thanks for the report.  @cro or @cachedout may have more to say about the issues you're seeing.

[2015-08-31 18:43] rallytime commented on #24021
I've fixed the stack trace with #26793. Instead of the stacktrace, the following message will be shown instead:
[code]

[2015-08-31 18:43] #24021 closed

[2015-08-31 18:45] jfindlay commented on #26789
@ryan-lane, thanks for reporting.  I have thought about this before as well and there have been some attempts and ideas at fixing it, for example `tests/integrations/__init__.py` uses `salt.utils.immutabletypes.freeze` to make the `__opts__` data immutable.  I have also talked with @cachedout about it at one point, but it seems there is not an easy answer for many (legacy) reasons.

[2015-08-31 18:46] jfindlay commented on #26791
@ryan-lane, thanks for the report.

[2015-08-31 18:49] bbyhuy opened #26794 "Salt-ssh archive.extracted keep default doesn't appear to be 'False'"
We were attempting to use archive extracted to download a tar file, extract it to /tmp/test.
Even though by default it is not suppose to cache the file since Keep='False' by default, according to the API.
The state was failing with the error

[code]

Editing the state file and adding `keep = False` seems to have fixed the issue.

There also doesn't seem to be a good way (or at least good documenta

[2015-08-31 18:54] jfindlay commented on #26792
@bradthurber, thanks for the report.  In my experience, if you are already writing custom exec and state modules, it is easiest and most maintainable to write the heavy logic in the custom modules: integration logic in the exec module and the salt logic in the state module.  By 'use our own custom State Modules/Execution Modules in formulas', do you mean that you want to pick stock salt-formulas t

[2015-08-31 18:58] ryan-lane commented on #26789
A simpler (yet messier) solution would be to return a deepcopy from config.get or any other execution module that returns data from global state.

[2015-08-31 18:59] jfindlay commented on #26794
@bbyhuy, thanks for the report.  Will you provide more context about where you added `keep = False` to the state?  I looked over the code but didn't see anything obvious to me.

[2015-08-31 19:03] bbyhuy commented on #26794
I just added to the SLS file. Sorry for the confusion.
On Aug 31, 2015 12:00 PM, "Justin Findlay" <notifications@github.com> wrote:

[2015-08-31 19:04] jjones028 commented on #26320
The diskusage beason requires the python-psutil package, that seemed to do the trick for me.

[2015-08-31 19:23] jfindlay commented on #26320
Probably all that is needed here then is to check for the presence of psutil in the beacon's `__virtual__` function.

[2015-08-31 19:24] jfindlay commented on #26794
@bbyhuy, no problem, thanks for the clarification.

[2015-08-31 19:40] cro commented on #26786
Hi @toddtomkinson,

Thanks for the deep code-dive here, this helps a lot in sorting this out.

I actually get a different stacktrace than you do when doing a sync_all:

[code]

I need to dig further into this and also do some testing to see if the same problem is in the 2015.8 branch.

[2015-08-31 19:40] hernanc opened #26795 "salt-cloud gives AttributeError: 'module' object has no attribute '_create_loader'"
Hi there, I'm having an issue with salt-cloud in 2015.5.2 and 2015.5.3.
Just running salt-cloud (or salt-cloud -m /path/to/map/file.conf ) throws:
[code]
Here are my versions. Any Idea?
[code]

[2015-08-31 19:44] bradthurber commented on #26792
@jfindlay thank you for the response.

The main point of this issue is that the "full state module example" is incomplete because it is missing the execution module. I'm probably taking things too literally here, but when I see the words "full" and "example" my brain thinks that it should be something that I can type in and it works.

The secondary point is that it was not obvious to me anyway how

[2015-08-31 19:55] toddtomkinson commented on #26786
@cro, I ran into that one, too, and it just requires the following line be added to the cp module:

    __proxyenabled__ = ['*']

I got the same exception you did after I removed the 'proxymodule' from the opts dictionary.

I'm troubled that you didn't get the same exception I did, though.  You were testing on 2015.5.5?  I'll go back through my environment and check things out.

[2015-08-31 20:05] hernanc commented on #26795
I forgot to mention that the salt-cloud version I have is salt-cloud 0.8.9.

[2015-08-31 20:05] rickh563 opened #26797 "client_acl - request option to restrict a named user to only execute specific .sls files"
User Request:

--------------

Enhance the client_acl cfg option in order to restrict a named user to only execute one to a few of the .sls files that are found in a given directory, such as /srv/salt/tomcat/*.sls.

--------------

@Whiteinge writes: We do not currently have a way to do sls-file restrictions.

[2015-08-31 20:06] rickh563 commented on #26797
ZD-411

[2015-08-31 20:10] Joeskyyy commented on #24443
@cro I'm getting similar issues as explained above. I have python-ldap installed. Pretty much exact same setup as above, just with my domain instead :P

Here's a versions-report:

[code]

My server can definitely authenticate against the AD, and when I do a tcpdump while executing a ```salt -a ldap '*' test.ping``` It almost looks like the traffic never even goes out of the server to the AD.

[2015-08-31 20:14] hernanc commented on #26795
I fixed it deinstalling it (was an odd version I had setup with easy_install) and re installing it using apt-get. I have the proper version now: salt-cloud 2015.5.3 (Lithium)

[2015-08-31 20:14] #26795 closed

[2015-08-31 20:15] jacobhammons commented on #26264
Added note here: http://docs.saltstack.com/en/latest/ref/states/highstate.html

[2015-08-31 20:15] #26264 closed

[2015-08-31 20:15] jfindlay opened #26798 "stack trace from linode driver"
### versions
[code]

### commands
[code]

### logs
[code]

[2015-08-31 20:16] jacobhammons commented on #26329
Added here: http://docs.saltstack.com/en/latest/topics/eauth/index.html

[2015-08-31 20:16] #26329 closed

[2015-08-31 20:17] jacobhammons commented on #26432
Good eye @centromere, I've fixed this to read:

On the master, run salt-key -f minion-id to print the fingerprint of the minion's public key that was received by the master. On the minion, run salt-call key.finger --local to print the fingerprint of the minion key.

If you think this is sufficient please close, thanks!

[2015-08-31 20:18] Joeskyyy commented on #24443
Oh and here's a run example with ```all``` loglevel:

[code]

[2015-08-31 20:25] centromere commented on #26432
Looks good!

[2015-08-31 20:25] #26432 closed

[2015-08-31 20:34] techhat commented on #9969
@rallytime, you just added some docs, can we consider this closed?

[2015-08-31 20:40] jacobhammons commented on #26711
Pinging our platform expert, @dmurphy18 -- do you think we should create a separate installation page for OpenIndiana/Illumos or add the instructions to the Solaris doc page?

I'm leaning toward a separate page so we can track issues such as the `pkg` issue above, but I'm open to your suggestions.

[2015-08-31 20:45] lorengordon opened #26799 "Support custom winrepo directories, primarily for integration with salt formulas"
I'm really excited about the support in v2015.8 for jinja rendering of winrepo sls files. One thing that might be nice to add from here would be a way to distribute the winrepo sls definition with a salt formula. Right now, it's really two separate steps. I often write a winrepo pkg definition, then write a formula to manage the installation and configuration of the package.

The issue is that the

[2015-08-31 20:48] amendlik commented on #23553
Do we need another issue to remove the package dependency on yum/yum-utils?

[2015-08-31 20:55] rallytime commented on #9969
Yes, I documented these parameters and configurations and how to use Saltify more completely in #26790. (The docs were indeed wrong about `ssh_password` and `ssh_keyfile`. They should be `password` and `key_filename`, respectively.)

[2015-08-31 20:55] #9969 closed

[2015-08-31 20:56] #25152 closed

[2015-08-31 20:58] whiteinge commented on #26797
See also: #20255 and #3077.

[2015-08-31 20:59] cro commented on #24443
@Lokeshs2290 I apologize, this ticket didn't even hit my radar until today when @Joeskyyy posted his comment.  Let me look into this.

[2015-08-31 21:13] joshughes commented on #26332
https://github.com/saltstack/salt/issues/19994

This seems to also be part of my issue... I am trying to figure out what version of salt this was merged into...

Currently I am running v2015.5.3

[2015-08-31 21:25] jfindlay commented on #26332
@joshughes, I see that as being at v2015.2.0rc2-4904-g339bbbb, so 2015.5.0 at least.

[2015-08-31 21:29] joshughes commented on #26332
@jfindlay looking at the actual file the change is not there...

[2015-08-31 21:32] joshughes commented on #26332
https://github.com/saltstack/salt/blob/612e342c70cead4edaa91a25db58aa3dec2bd764/salt/pillar/git_pillar.py

If you look at the file line 317 should be gone if this PR was merged correctly... Looking at my logs I still think the yaml rendering is one of the issues... but I do see the pillar updating on every highstate call...

https://github.com/saltstack/salt/pull/22962/files

[2015-08-31 21:34] jfindlay commented on #26332
Ping @cachedout.

[2015-08-31 21:39] joshughes commented on #26332
So removing the line does make a huge difference in what I can observe as the speed... but it also seems like highstate on my minions stops working... which is might be why the change was reverted... I know this has been rewritten in salt 8.0... just not sure if I want to jump on an RC build...

[2015-08-31 21:43] Joeskyyy commented on #24443
@cro After a bit of digging, it was related to a slight misconfiguration in my ```basedn```, ```binddn```, and ```bindpw``` and how it interacts with AD. I might suggest we update the documentation with some of these findings specific to AD.

My advice to @Lokeshs2290 is to ensure the ```binddn``` specifically is configured correctly if you're using AD. For me I had to use the format "username@dom

[2015-08-31 22:15] ksalman commented on #20346
Is the fix only in SaltStack Enterprise, it sounds like? How can I, who is not using SaltStack Enterprise, get this fix?

[2015-08-31 22:23] benheilman opened #26802 "Erlang formatted strerr caused state module to print data instead of output"
[code]

[code]
[code]

[2015-08-31 22:52] twangboy commented on #26788
@ssgward Deleting the user and recreating would change the GUID as well as lose any groups or file permissions the user may have. I'll take a look at why this is failing.

[2015-08-31 23:08] twangboy commented on #26754
@jefftucker A PR (#26803) has been submitted using your fix. Please test.

[2015-08-31 23:10] twangboy commented on #26462
The following PRs have added python-dateutils to the build process:
https://github.com/saltstack/salt-windows-dev/pull/24 (for 2015.5)
https://github.com/saltstack/salt-windows-dev/pull/25 (for 2015.8 and forward)

[2015-08-31 23:42] lrhazi opened #26804 "gpasswd error on RHEL 5"
I dont know if this used to work or not.. but it is not working on :

[code]

[code]

It seems the --add should be -a ?

[2015-09-01 00:15] joejulian opened #26805 "cur_param referenced before assignment"
https://github.com/saltstack/salt/blob/2015.5/salt/modules/localemod.py#L41

This line can cause an UnboundLocalError if a line is returned without a colon, ie:

    Sent message type=method_call sender=n/a destination=org.freedesktop.DBus object=/org/freedesktop/DBus interface=org.freedesktop.DBus member=Hello cookie=1 reply_cookie=0 error=n/a

This line will split into only one list entry leavin

[2015-09-01 00:31] lrhazi commented on #26804
in RHEL 6 and 7:
[code]

[2015-09-01 01:19] jacobhammons commented on #25567
@aneeshusa I moved the site to full https://, everything seems to be working OK. Those links you posted should all redirect to https:// now.

The windows installers are now securely hosted on the new site thanks to @UtahDave, if you think this is sufficient please close. Thanks!

[2015-09-01 01:58] aneeshusa commented on #25567
@jacobhammons Great, everything looks good on my end as well. Thank you for getting this done quickly and switching everything to HTTPS; definitely sufficient to close.

Side note though, some of the links on the Windows installer page are 404-ing for me.

[2015-09-01 01:58] #25567 closed

[2015-09-01 02:18] aneeshusa commented on #25567
Actually...it would also be great if you could add [HSTS headers](https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security) to responses and eventually get included in browser pre-load lists: https://blog.mozilla.org/security/2012/11/01/preloading-hsts/ https://www.chromium.org/hsts/.

The reason for this is that an attacker can hijack the redirects (which are getting served over HTTP), and se

[2015-09-01 02:22] jacobhammons commented on #25567
@aneeshusa I fixed the windows installer links, the updated links will be on the site tomorrow. Thanks for logging that other issue, I appreciate you helping us get the doc site secure.

[2015-09-01 02:25] dove-young commented on #26781
BTW. How can I get the returner content in state sls files and apply them into next state action?

For example, I have this sls file,

[code]

I got these result after apply it to a host, I can get last jobs id through <code>get_fun</code> but I don't know how to use these jobs id in my next state definitions, for example, <code>etcd_return.get_jid(id)</code>? I don't find it in the documents.
[co

[2015-09-01 02:37] aneeshusa commented on #25567
Also @jacobhammons I just realized that the same steps should probably be taken for the main site [https://saltstack.com](https://saltstack.com) - do you want me to open a new issue for that/does that belong in this repo?

[2015-09-01 02:48] aneeshusa opened #26806 "Adding HSTS headers + getting on browser HSTS preload lists"
Lots of progress with HTTPS for docs.saltstack.com in #25567, but we're not done yet.

It would good to add [HSTS headers](https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security) to HTTPS responses and eventually get included in browser pre-load lists: https://blog.mozilla.org/security/2012/11/01/preloading-hsts/ https://www.chromium.org/hsts/.

The reason for this is that an attacker can hi

[2015-09-01 02:51] jiafeicat commented on #26779
@jfindlay   i upgraded it   to salt (2015.8.0) , it works well.  thanks .
i am just studying it  now . at the beginning, i installed it by pip (7.1.0)  ( pip install salt)

[2015-09-01 02:51] #26779 closed

[2015-09-01 05:05] clintberry commented on #9436
This is still relevant to me. I am trying to execute a job for scale testing across 30 machines. The job opens 50k connections, but is stuck at 1024 because of this limitation. Is there a way around it? I updated the ulimits before restarting salt-minion, but no luck.

[2015-09-01 05:26] WangWenchao commented on #17006
Today I met my salt-api (2014.7) has a memory leak
[code]
is there any fix

[2015-09-01 05:27] I-kod commented on #26729
root@localhost:/home/i-kod# salt --version
salt 2015.5.0 (Lithium)
root@localhost:/home/i-kod#

[2015-09-01 06:22] toddtomkinson commented on #26786
@cro, I was able to take another look at this tonight.  I was not able to reliably reproduce using saltutil.sync_all, but was with state.highstate.  I created a Vagrantfile that sets up an environment to reproduce here:

https://github.com/toddtomkinson/salt-contrib/blob/issue-26786/proxyminion_rest_example/Vagrantfile

You should be able to add the Vagrantfile in that directory to your local salt

[2015-09-01 06:54] kerncore commented on #25783
Hello,

There is any progress with this issue?

[2015-09-01 08:05] dreadworks commented on #6602
+1, as it would remove the necessity to define millions of nodegroups to reduce matches:

`'N@mygroup and not special.*'`

[2015-09-01 08:45] yermulnik commented on #24827
Thanx for info.

[2015-09-01 09:43] anlutro opened #26809 "git.latest and empty repositories"
Currently, it's not possible to have a `git.latest` pointing towards an empty repository. This was possible in 2015.5 and earlier.

The code that triggers the error: https://github.com/saltstack/salt/blob/f0c9dff9bf74c8a988ad1c60c77a8877166b2eb4/salt/states/git.py#L514-L521

An easy(?) fix could be to add an `allow_empty` argument to the state.

Ping @terminalmage

[2015-09-01 11:57] zerthimon commented on #26782
@jfindlay Yes, I'd like to specify a pillar file on the command line and also through salt API.

Just as described in http://docs.saltstack.com/en/latest/topics/tutorials/pillar.html#setting-pillar-data-on-the-command-line . Like the existing string parameter, the only difference is that the contents can be in a file available on server, or local FS.

So I can override the pillar values available

[2015-09-01 12:42] clinta opened #26811 "Stop highstate on error "Got a bad pillar from master""
Last night I had a minion have a pretty devistating error. One of our core linux routers has all of it's network interfaces and IP addresses configured via pillars. When it ran a scheduled highstate the first error it logged was `Got a bad pillar from master, type NoneType, expecting dict: None`. Then it proceeded to highstate as if it had no pillars defined, which resulted in deleting all of the

[2015-09-01 14:07] clinta commented on #26811
Thanks, that's the kind of abuse of requisites I was looking for. I wasn't aware of the failhard option, I think that will do the trick.

[2015-09-01 14:07] #26811 closed

[2015-09-01 14:49] pravka commented on #22724
@dmyerscough are you close to getting snapshot integration working? I can take a stab if you want.

[2015-09-01 15:01] rallytime commented on #22550
Since we didn't hear anything back here, I am going to go ahead and close this issue. If it remains a problem, certainly let me know and I'd be happy to take another look. Thank you!

[2015-09-01 15:01] #14612 closed

[2015-09-01 15:15] lorengordon commented on #25352
@twangboy, tks!

[2015-09-01 15:24] Lothiraldan commented on #26505
I'm working on a proof-of-concept of saltpad in react and hit the non-support of preflight request in either rest_cherrypy or rest_tornado, could I help?

[2015-09-01 15:49] terminalmage commented on #26809
No, we should be permitting empty remote repos. Working on a fix now. Thanks @anlutro.

[2015-09-01 15:59] jfindlay commented on #26779
@jiafeicat, I am glad you got it figured out.  You are welcome to ask more questions if you run into problems again.  You can also try the salt-users mailing list on google groups, which is quite active and helpful.

[2015-09-01 16:06] jfindlay commented on #26729
@I-kod, can you reproduce this reliably, after restarting the salt master?

[2015-09-01 16:08] jfindlay commented on #25783
@kerncore, no one has been assigned to this issue that I know of.

[2015-09-01 16:10] jfindlay commented on #26782
@zerthimon, thanks for clarifying.

[2015-09-01 16:23] jacobhammons commented on #26638
@WackyOne I made these updates, if you think this is sufficient please close. Thanks!

[2015-09-01 16:24] jacobhammons commented on #26644
@gravyboat I made these updates, if you think this is sufficient please close. Thanks!

[2015-09-01 16:26] basepi commented on #21214
Thanks @thusoy. I have a couple of ideas on how to fix that, I'll look into it soon.

[2015-09-01 16:28] TheBigBear commented on #26715
@dmurphy18 is this a manual process? The 2015.5.5 was released 12 days ago now. How long should we expect, on average, between an official release and the rpms following?

[2015-09-01 16:29] jacobhammons commented on #26108
@ahammond  I made these updates, if you think this is sufficient please close. Thanks!

[2015-09-01 16:45] whiteinge commented on #26505
The rest_cherrypy module has undocumented (:disappointed:) [support for CORS](https://github.com/saltstack/salt/blob/bc21dbd/salt/netapi/rest_cherrypy/app.py#L453). There's no tests in place for that so I don't know off the top of my head if it's missing anything.

If you're interested in diving into the Saltnado code we would gladly welcome the effort! Pick whatever you're interested in and have

[2015-09-01 16:45] jfindlay commented on #26798
@rallytime, I have a fix for this if you want me to submit it.

[2015-09-01 16:48] jacobhammons commented on #25567
@aneeshusa saltstack.com is managed separately from the doc site and they don't use github, but I sent them all of the great info from this thread with the recommendation.

[2015-09-01 16:48] deuscapturus opened #26814 "2015.5.3 Pillar include under nested key is broken"
Problem is here https://github.com/saltstack/salt/blob/2015.5/salt/pillar/__init__.py#L418
Variable v is getting value of None.

pillar:
[code]

error:
[code]

[2015-09-01 17:00] jfindlay commented on #26799
@lorengordon, thanks for thinking this through.

@TheBigBear, @twangboy, @UtahDave

[2015-09-01 17:05] jfindlay commented on #26802
@benheilman, thanks for the report.  I am confused about what you are expecting as a result.  It looks like there was an error applying your state because of a permission problem on `/etc/rabbitmq/enabled_plugins`.  Does the salt minion process have access to this file?

[2015-09-01 17:08] #26381 closed

[2015-09-01 17:18] benheilman commented on #26802
The issue pertains to the output, not the actual error reported.  The output of state.sls should be state output not a data report.

[2015-09-01 17:21] gravyboat commented on #26644
@jacobhammons This looks good, do you think an example would help? Or should we make this more distinct via the `note` tag or something similar? It seems easy to miss if you're just eyeballing the docs. Also haven't seen you on IRC recently, glad to see you are okay.

[2015-09-01 17:57] akoumjian commented on #21845
+1

[2015-09-01 18:02] terminalmage commented on #26809
@anlutro see https://github.com/saltstack/salt/pull/26818

[2015-09-01 18:08] rallytime commented on #26798
@jfindlay Can you give #26819 a try?

[2015-09-01 18:11] jfindlay commented on #26805
@joejulian, thanks for the report.  I am curious though about how you got that line as a result from `localectl`.  When I run `localectl` I get
[code]

[2015-09-01 18:13] jfindlay commented on #26806
@aneeshusa, thanks for the additional suggestions.

@UtahDave, @cachedout

[2015-09-01 18:19] jfindlay commented on #26802
@benheilman, the output looks like typical state output to me.  Can you be more specific about what makes it look like a data report?

[2015-09-01 18:20] jfindlay commented on #26814
@deuscapturus, thanks for the report.

[2015-09-01 18:21] joejulian commented on #26805
Here you go

[code]

This is from
[code]

[2015-09-01 18:24] benheilman commented on #26802
here is an example of state output on failure
[code]

[2015-09-01 18:30] #26798 closed

[2015-09-01 18:49] jfindlay commented on #26802
@benheilman, thanks for the extra info.  I think the problem here is that `rabbitmq_plugin.enabled` is not using the highstate outputter, although the reason why is unknown to me.

[2015-09-01 19:14] twangboy commented on #26788
Should be fixed by #26821

[2015-09-01 19:31] #25974 closed

[2015-09-01 19:47] godlike64 opened #26825 "After configuring salt-syndic, master/minion communication on the syndic node takes a long time to set up"
I recently configured my home gateway as a syndic node (instead of just being a minion), so my master (which is on the other side of the intarwebz) has less overhead and my home minions just talk to the syndic node.

I followed https://docs.saltstack.com/en/latest/topics/topology/syndic.html and was able to get it up and running after pruning the old keys and accepting the new ones. However, I not

[2015-09-01 19:47] joejulian commented on #26805
@jfindlay What do you think of just using dbus directly instead of going through the cli - which, by the way, Lennart is against using any of the cli tools as an api. He says they're going to keep changing and the only stable api is the dbus one.

[2015-09-01 19:49] twangboy commented on #26748
This should be fixed by: https://github.com/saltstack/salt/pull/26822

[2015-09-01 19:59] basepi commented on #26781
We are always working to improve our docs, though there are already many docs on writing state files.

Anyway, if I understand your question correctly, you're trying to get the results of a previous state and use them in the current state, correct? For this you should write a [custom state module](https://docs.saltstack.com/en/latest/ref/states/writing.html). Inside of this custom state module, yo

[2015-09-01 20:32] tjeason opened #26827 "v2015.5.4 and greater: salt-call --local state.highstate throws "AttributeError: 'module' object has no attribute 'exceptions' ""
For releases v2015.5.4 and v2015.5.5, I am trying to run the command `salt-call --local high.state` on a masterless machine. I am receiving an attribute error stating that the Python module, **exceptions** cannot be used. I am running salt in Ubuntu 12.04 LTS with Python 2.7.3.  Releases under v2015.5.4 works fine.

Here is my traceback:

[code]

[2015-09-01 20:58] mimianddaniel commented on #25991
Do you need more info on this? Same error occuring on the syndic node is causing the return data to be not properly sent upstream. Only fix is for me to restart salt-master on syndic

[2015-09-01 21:25] jfindlay opened #26829 "repo.saltstack.com debian 8 package dependency problem"
### configs
[code]

### commands
The following error prevents `salt-{master|syndic|minion|api}` from being installed.  The remainder of the salt packages do install.
[code]

### versions
[code]

[2015-09-01 21:49] toddtomkinson commented on #24016
+1

I'd like to include a proxy module in a formula I am writing and this would allow me to include all the execution, grain, and state modules together in the formula.

[2015-09-01 21:53] jfroche opened #26832 "Use external auth with orchestrate"
We have different teams and they would like to orchestrate deployements using salt. orchestrate runner seems like the perfect match for that but we need auth to limit/control which orchestrate sls can be run by users.

we would like to run something like:
[code]

we are looking at the salt-api now to do this but still we won't be able to limit the users to specitic runners (only specific targets).

[2015-09-01 22:22] Joeskyyy commented on #18751
I'm having a super interesting issue with this set up actually.

I have the following servers:

[code]
When I run a test.ping on master1 I get the following:

[code]

Yet when I run the same on master2, I get the following:

[code]

You'll notice on master2, syndic2 isn't responding, despite the key being accepted and transferred correctly. The syndic logs keep having the same message repeating wi

[2015-09-01 22:31] mimianddaniel commented on #18751
Make sure to have master_id set on the mom if you have not yet. With
multisyndic setup I see inconsistent showing of returns, returns arrived
properly but do not show up promptly at times.
On Sep 1, 2015 3:23 PM, "Joe Engel" <notifications@github.com> wrote:

[2015-09-01 22:36] Joeskyyy commented on #18751
@mimianddaniel thanks for the suggestion, just gave that a go and still in the same spot. That was something I meant to have set anyways so at least I've got it covered now ;)

[2015-09-01 22:43] twangboy opened #26833 "salt-cloud fails to spin up windows minion on 2015.8 Head"
2015.8 Head fails to finish spinning up a Windows VM on AWS. I rolled back to RC3 and salt-cloud completed successfully.

This is the error that shows up:
[code]
This might be where it's trying to create the `C:\salttemp` directory. When I go into the VM there is no `C:\salttemp`. In the above Stack Trace you see salt.utils.smb is trying to do a mkdirs... maybe it's somewhere in there.

Good luck.

[2015-09-01 22:55] #26797 closed

[2015-09-01 23:40] eousphoros commented on #25101
To add a little flavor to this. I ran into a potentially similar issue to this today after my virtual machine had been up for a couple of days.

The issue turned out to be due to docker not allowing access to /dev/mem (so no dmidecode) the core grain (_virtual) falls back to string matching in dmesg. While this works for some time, soon as the dmesg buffer starts to fill up, eventually the string

[2015-09-01 23:56] godlike64 commented on #26825
OK, after some crude debugging on my side, I found out that when performing minion operations (again, under the circumstances of my previous comment), the minion config (minion_config()) was being parsed but with the /etc/salt/master file (instead of the minion? I dunno if this is OK or not. Method name seems to suggest it is not :)).

I traced this to the MasterMinion class, which just uses opts[

[2015-09-02 00:10] jfindlay commented on #26805
If that is the upstream recommendation, then it is probably the better way to go.  Thanks for working on this, @joejulian.

[2015-09-02 00:12] jfindlay commented on #25991
@mimianddaniel, if you have more unique info to give, that would be great.  I am only able to reproduce this on a system that is installed with pip over git.

[2015-09-02 01:53] whiteinge commented on #26832
This would indeed be a great addition. This issue is a dupe of issues #19732 and #8705 will you please close this and bump both of those instead?

[2015-09-02 02:01] DavidJFelix opened #26837 "Support more complex resources with fileclient"
I'm creating this issue as part of a salt-winrepo discussion https://github.com/saltstack/salt-winrepo/issues/215

So here's the functionality that I describe:

I'd like to be able to call the [`cache_file`](https://github.com/saltstack/salt/blob/294bb3fe22cfc8ce91e0c2d59b61a34fd3d363ec/salt/fileclient.py#L140) function on `fileclient` with a dictionary of cookies and have it eventually pass those

[2015-09-02 02:17] dove-young commented on #26781
OK, let me try. Thanks for your help.

[2015-09-02 04:02] rodriguezsergio opened #26838 "Salt-call publish.full_data [...] does not return same exit code as salt [...]"
On the salt master

[code]

On a minion with publish permissions

[code]

Glossing over the help options, I found `--retcode-passthrough` and thought that would be my answer, but that too returned `0`.

The use case here for having a non-zero return code is to enable us to abstract away our deploy process for developers, so that they run a jenkins job and immediately see if a deploy was successful

[2015-09-02 04:26] jagguli opened #26839 "fileclient does not work if ':' in filename"
Example:

    salt dev-vm0 cp.get_file salt://files/test:file C:\\testfile

Happens with 2015.8.0rc3 minions on windows

[2015-09-02 05:12] I-kod commented on #26729
I restarted salt-master several times.  Is it fault of minion ? Is it possible if two processes running on same minion returning two different responses?

[2015-09-02 06:03] jessecollier opened #26842 "Trying to use a mysql.* state fails unless I install python-mysqldb"
I have a state file like such:

[code]

However I get this error:

[code]

Installing python-mysqldb by hand, and re-running works just fine. It appears to have popped up in 2015.5.3. Am running Ubuntu 14.04

[code]

[2015-09-02 06:38] Inveracity commented on #25605
I've recently found out that I can use schedules to run infinite looping scripts, so I'm just gonna go ahead and close this for now.

[2015-09-02 06:38] #25605 closed

[2015-09-02 06:56] kAlmAcetA commented on #11373
It's a bit annoying problem. But in my case (IMHO @UtahDave  example as well) its only shows another (common and probably main) problem - modularity of ours SLS. SLSs do not separate common states with specific (configuration) states and therefore cannot be simply reused (include).
Take a look https://docs.saltstack.com/en/latest/topics/best_practices.html.

[2015-09-02 07:02] djpain opened #26843 "salt-cloud not passing name through to aliyun"
So i've gone through and setup my cloud.profile and providers files point to aliyun. I then run the command `[root@ip-172-31-8-86 cloud.providers.d]# salt-cloud -p aliyun_centos centos_http_01` But then I get a error back saying the following.

[code]

I've run the same command in debug and it looks like it is creating the machine but not assigning it the correct name (getting a default name from

[2015-09-02 07:04] anlutro commented on #26842
Pretty sure you need to and/or should extract the pkg.install as its own state. You can give it `order: 0` to make sure it's always ran first (I do this).

[code]

[2015-09-02 08:04] spoage commented on #15544
@ssgward It is. I would also say that this is probably not that high of a severity, since there's a pretty easy work-around:

[code]

In fact, I'd imagine that the raw python equivalent of that is essentially the fix for this issue.

[2015-09-02 08:21] spoage commented on #15544
Apologies, I retract that entirely. I assumed it would report a restart even with test=True, but it does not. I can confirm that it does in fact work now, at least as of v2015.5.3. I am leaving the original comment up, as it does at least provide a work-around for anybody who might still have this issue.

[2015-09-02 08:31] double-yaya opened #26844 "The function "state.sls" is running as PID XXXX and was started at .... with jid XXXX always shows the current jid"
When I open zmq_filtering leads to the master pub multiple commands to minion,this command  have the same jid,

[code]
 salt --versions-report
[code]
master log:
[code]
minion log:
[code]

[2015-09-02 09:17] zer0def commented on #26510
Sorry for the very late reply.

Well, issue here is that, to my limited knowledge, it's Debian-specific to not necessarily immediately enable modules that are being installed, as opposed to, say, RHEL, which dumps Apache modules to a dir and doesn't do any configuration mangling when a module is installed.

In fact, module management in Debian is done specifically using Perl scripts written by Deb

[2015-09-02 10:49] WackyOne commented on #26638
There can be 2 more changes. Under Installation there is this sentence "Salt can be installed using zypper and is available in the standard openSUSE 13.1 repositories." This is true, but it is also available in the standard 13.2 repositories. It might be better to simply state that it is available in the standard openSUSE repositories without specifying a version. The 2nd change is under the Unsta

[2015-09-02 12:06] maio opened #26845 "Postgres module (user_exists) doesn't work with PostgreSQL 9.5"
[code]

Module is using `pg_roles.rolcatupdate` which seems to disappear in 9.5.

http://git.postgresql.org/gitweb/?p=postgresql.git;a=commitdiff;h=bb8582abf3c4db18b508627a52effd43672f9410

[2015-09-02 12:40] froztbyte commented on #23845
Awesome, thanks @terminalmage

[2015-09-02 12:47] rsuarezsoto commented on #19861
Count me in on this. We have a minion that was down for a couple days due to a electricity outtage, and when it came back it started to show this behaviour. We're running 2014.7.1 in the minion and 2014.7.5 in the master, in case it helps.

[2015-09-02 15:56] dr4Ke commented on #15583
I made some progress just before holidays. I need to get back to this, as soon as I have some time. Hope next week I'll be able to work on it.

[2015-09-02 16:10] GreatSnoopy opened #26847 "ssh_auth.present no longer works"
A few days ago, I updated salt-master from the epel repositories to salt-2015.5.3-4.el7.noarch

I think the previous version was 2015.5.2
Now it seems that ssh_auth.present no longer works :
[code]
If i run the state with salt-call on the minion, the errors are :
[code]

[2015-09-02 16:12] GreatSnoopy commented on #26847
state is as simple as :
sshkeys_regular_admin_users:
  ssh_auth.present:
    - user: root
    - names:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCzhOKi8/FmGVBqXMrJy2oW5bclugpFYJeERn83bVpJfOdxCA5yNtADqb7lC1LZ/mnf98PuV4g9Gav32U9dYWNjUymq2I44G4Sb3RgvMnR839szTtl1W9lyw/F0ryZfAGViqvpaOhyfyCTt/aZrvp9at0/YcJ/MzPlohXWZdewQCH1O3NsEkH6VzLZm55rQGO/RTotOm+jdoWp1fjIZmjfIvi75G+vWe8zRFl/5NK2rZz55K64sxRMqMmPQ+

[2015-09-02 16:32] jacksontj commented on #26280
Sorry about the delay-- just catching up after vacation :)

So, I took a look into this and the stack traces and I'm actually more confused ;)

So I made the following SLS for testing (since @amontalban mentioned git repros the issue)
[code]

With that I'm unable to reproduce this issue. From looking at the trace it looks like self.states (which is the states loader) is saying that the function yo

[2015-09-02 16:41] jacksontj commented on #26505
From a quick look at these, a few features are unclear to me:

[code]
? We just need to serve a directory of static files? Seems odd for salt-api :/
[code]
What history API is this referring to? I did a couple quick searches and was unable to find anything
[code]
Setting headers to be callable from other domains? Or is this the whole options thing to make sure its valid?
[code]
I think this had a

[2015-09-02 16:44] amontalban commented on #26280
@jacksontj I think it fails when the required binary does not exists. In this case git.

Can you try to uninstall git and execute this SLS?
[code]

Thank you!

[2015-09-02 16:51] jacksontj commented on #26596
Salt's loader supports infinitely deep submodules (https://github.com/saltstack/salt/pull/20481) but it doesn't expose the names you were talking about ('module.submod.func'). Doing something like that isn't impossible, but it is a bit complicated-- primarily with how does the loader know what to include in the dict? If you included some dependant library, it would cause problems since it would ha

[2015-09-02 16:52] jacksontj commented on #26280
Ok, that makses sense-- so for the failures the difference is errord state
return and stacktrace, right? If so, thats an *easy* fix :)

On Wed, Sep 2, 2015 at 9:44 AM, Andres Montalban <notifications@github.com>
wrote:

[2015-09-02 16:56] amontalban commented on #26280
Awesome, looking forward for it since I'm stuck in git v2015.5.2 right now :)

[2015-09-02 16:57] jacksontj commented on #26280
Hmm, even after removing git I don't get any backtraces-- it just works as expected :/

[2015-09-02 17:04] jessecollier commented on #26842
This wasn't necessary before. I wrote this probably 6-8 months ago.

It appears to hit this error while processing and rendering all the sls files. Before it even get's to execution.

[2015-09-02 17:09] Lothiraldan commented on #26505
I've made some quick fix on saltnado to make it compatible with browser-js usage. I will made severals PRs in the next day for CORS support and some fixes for better support of real 'Accept' header and 'Content-Type' values.

[2015-09-02 17:16] jfindlay commented on #25718
I haven't seen this on recent windows tests on 2015.8.

[2015-09-02 17:16] #25718 closed

[2015-09-02 17:22] s0undt3ch opened #26848 "Implement backwards compatibility for #26000"
Implement backwards compatibility for the changes introduced in #26000

[2015-09-02 17:30] jfindlay opened #26850 "salt-ssh error on 2015.8"
@basepi, @cachedout

### commands
If I switch to 2015.8.0rc3, the following command works.
[code]

### versions
[code]

[2015-09-02 18:00] jfindlay commented on #26838
@rodriguezsergio, thanks for the report.

Related to #18510.

[2015-09-02 18:03] UtahDave commented on #21256
Can you all test this PR?  https://github.com/saltstack/salt/pull/26853

This should allow the above fix while still avoiding a regression it caused.

[2015-09-02 18:11] zerthimon commented on #16592
Can we expect salt-cp fixed any time soon ?

[2015-09-02 18:12] jfindlay commented on #26839
@jagguli, thanks for the report.  Do you have the specific error that results or any debug log information?

[2015-09-02 18:21] QuinnyPig opened #26854 "Feature: GPG renderer key rotation"
Right now rotating keys for the gpg renderer is an entirely manual process. Given the old private key and the new public key, perhaps programmatically decrypting the old pillar data and reencrypting it with the new key could become relatively trivial.

Some of us have key rotation requirements, after all...

[2015-09-02 18:27] #26850 closed

[2015-09-02 19:04] jfindlay opened #26856 "minion returns error to CLI on long jobs"
This seems to happen consistently on all commands that exceed the timeout.  The VM gets into this state after reinstalling different versions of salt from a local git checkout with `pip install -e`.  I have tried everything I can think of to remove python, salt, and git artifacts: eggs, `rm -fr` on portions of `/usr/lib/python`, `git clean -dfx`, `rm -fr /var/cache/salt`.

I eventually gave up and

[2015-09-02 19:20] twangboy commented on #21256
@dhs-rec @sdebot @kaiserconstantin My previous fix caused a regression. Please test the new fix submitted by UtahDave.

[2015-09-02 19:27] jfindlay commented on #26837
@DavidJFelix, thanks for the feature request.  I am confused about what you are describing.  Are you saying you want to cache a dictionary that will result in a list of files on the minion, which correspond to the items in the dictionary?

[2015-09-02 19:35] jfindlay commented on #26842
@jessecollier, thanks for the report.  I seem to remember the format you are using being discouraged, but don't know why or if it is [documented]](https://docs.saltstack.com/en/latest/ref/states/highstate.html).  Do you know, @basepi?

[2015-09-02 19:39] jfindlay commented on #26843
@djpain, thanks for the report.  What is the output of `salt-cloud --versions`?  Is it possible to post your cloud.profiles and cloud.providers files with the tokens and keys removed?

[2015-09-02 19:45] jfindlay commented on #26844
@double-yaya, thanks for the report.  I am confused about what you mean when you say that you open zmq_filtering.  Are you also saying that when you don't do this, the JIDs are different?

[2015-09-02 19:46] jfindlay commented on #26845
@maio, thanks for the report.

[2015-09-02 19:49] jfindlay commented on #26847
@GreatSnoopy, thanks for the report.  Are you running the state against a remote minion or a minion on the master itself?  If the minion is remote, what is the version of salt that it is running?

[2015-09-02 19:50] jfindlay commented on #26848
Thanks, @s0undt3ch.

[2015-09-02 19:51] jfindlay commented on #26854
@QuinnyPig, thanks for the report.

[2015-09-02 19:55] GreatSnoopy commented on #26847
interestingly, it seems to have started working after running saltutil.sync_modules
I was running the state on the remote minion,in two ways :
from the master, with salt "minion" state.apply myteststate
from the minion with salt-call myteststate -ldebug
Sow what does sync_modules do in addition to sync modules created by the user in base/_modules ?
I am almost sure i did not place a ssh.py  module

[2015-09-02 19:57] jfindlay commented on #26825
@godlike64, thanks for the report.  I have never seen any issues like this, but I am also not an expert on the syndic.  When you make the code change, do you also not get the timeouts/master CPU hogging that you had before?

[2015-09-02 20:00] jfindlay commented on #26827
@tjeason, thanks for the report.  This is a duplicate of #26705.  If you have any further comments, please add them there.

[2015-09-02 20:00] #26827 closed

[2015-09-02 20:03] jacobhammons commented on #26644
Hey @gravyboat, I do need to get back into IRC! It has been quite a while.

I like your suggestions, I moved this into a note and added two other examples that use the `key_url` parameter. Let me know if you think this takes care of this issue.

[2015-09-02 20:08] jfindlay commented on #26847
@GreatSnoopy, I don't know of sync_modules doing any more than syncing the exec modules.  When a module function fails to appear in `__salt__`, it is because the loader couldn't load it for some reason, like a syntax error, or it can't find it, or it is explicitly instructed to not load it in that module's `__virtual__` function.  Thanks for the extra information.  If you encounter this again, com

[2015-09-02 20:08] #26847 closed

[2015-09-02 20:14] GreatSnoopy commented on #26847
OOkkk,neeevermind :) It seems I was playing with a module of mine to execute a command by ssh.
Lacking better inspiration, I created a module ssh.py with a function cmd. Guess what happened when that propagated initially . Even if i soon deleted the module from the master, it remained on the minions. resync probably cleaned the bogus module up again. Sorry for the noise.
All the fuss started from

[2015-09-02 20:14] notpeter opened #26860 "network config grains: DNS servers"
It'd be really nice if salt exposed a dns_server grain, maybe with the simple form of:
[code]
On unixes this this can be sourced from /etc/resolv.conf, with one line per name server with one of these two variants:
`nameserver 8.8.8.8`
`nameserver 2001:4860:4860::8844` (still quite rare, even in ipv6 deployments)

On windows the [FIXED_INFO](https://msdn.microsoft.com/en-us/library/aa365900(v=vs.85

[2015-09-02 20:14] DavidJFelix commented on #26837
@jfindlay Nope. Right now we use cache file as the mechanism for retrieving http resources. I want that call to be able to receive cookie instructions for systems that require some form of accept/auth. This is notably required by oracle to accept the jdk download.

[2015-09-02 20:15] jfindlay commented on #26510
@zer0def, no problem and no need to open a new issue then.  Thanks.

[2015-09-02 20:16] jfindlay commented on #26729
That is a possibility.

[2015-09-02 20:18] jfindlay commented on #26847
No problem, @GreatSnoopy.  Looking forward to your pull request. :-)

[2015-09-02 20:21] #26833 closed

[2015-09-02 20:32] rhansen opened #26861 "documentation of `changes` in state module return value unclear/incomplete"
I'm writing a custom state module.  The [documentation for state module function return value](https://docs.saltstack.com/en/latest/ref/states/writing.html#return-data) does not answer the following questions:

  * What should the `changes` part of the return value be if `__opts__['test']` is `True`?  Should it show the changes that would have been attempted had `test` been `False`?   Should it be

[2015-09-02 20:32] GreatSnoopy opened #26862 "Feature request : cmd.run on the master as part of a state"
So, we have cmd.run that can be used to run arbitrary commands on a minion as part of a state.
This is good. But sometimes you need, as part of a state to have a command executed on the master, or in extremis just on one certain minion. The rationale would be something like :
As part of a state, for example at the very begining or at the very end we would need to make some API call to a single oth

[2015-09-02 20:34] jfroche commented on #19732
That would be realy nice. (as explained in #26832: We have different teams and they would like to orchestrate deployements using salt. orchestrate runner seems like the perfect match for that but we need auth to limit/control which orchestrate sls can be run by users.)

[2015-09-02 20:37] godlike64 commented on #26825
@jfindlay thanks for your comments. I noticed I do get the CPU hog, but I believe this is actually due to being an old system (1 core, 1GB RAM, going to upgrade to a newer one soon). However, no timeouts (well, if I test.ping way too soon, I do hit the CLI timeout, but another ping right afterwards and it completes).

With the change applied, here is the master & minion log:

[code]

[code]

The s

[2015-09-02 20:43] jtand opened #26863 "Need to add support for python-azure v1.0.0"
With the newest version of python-azure, there are quite a few differences and tests have already started seeing failures from them. The first indicator was the __version__ method has moved. In 0.11.1 it can be called with
[code]
but in 1.0.0 it is
[code]

I'm working on finding other differences and will update this issue as I find more.

[2015-09-02 20:44] tjeason commented on #26827
Great. Will there be a newer version (greater than 2015.5.3) that will have fix?

[2015-09-02 20:47] jfindlay commented on #26825
@godlike64, that makes sense to me, but you may also want to ask someone like @cachedout or @basepi.

[2015-09-02 20:51] jfindlay commented on #26827
@tjeason, it will be available in 2015.5.6 and 2015.8.0.

[2015-09-02 21:28] basepi commented on #26837
I'm not a huge fan of crowding the arg list of all those intermediaries with an edge case like this, but I also don't see a way around it, so I'm marking this as approved.

[2015-09-02 21:38] DavidJFelix commented on #26837
@basepi Thanks! I think cookies can definitely be offloaded into a keyword argument to prevent a lot of touchpoints for this change. This also means that callers only need to concern themselves with it if they have cookies.

[2015-09-02 22:00] geraint-jones-nz commented on #26699
This is becoming a blocker for us, is anyone willing to take a look ?

[2015-09-02 22:05] whiteinge commented on #19732
/cc @cachedout - relevant issue to our discussion yesterday about pattern matching on args in addition to runner/wheel functions.

[2015-09-02 22:32] rodriguezsergio commented on #21572
@@alexanderilyin got a work-around for UDP ? :stuck_out_tongue_closed_eyes:

[2015-09-02 22:33] gravyboat commented on #26644
@jacobhammons This looks awesome! I'm going to close this issue. Thanks so much!

[2015-09-02 22:33] #26644 closed

[2015-09-02 23:06] twangboy commented on #21256
@dhs-rec I have been able to replicate something similar to your issue by putting my minion on a different security group and subnet. You need to make sure that in your profile/provider files that the subnet and security group are the same ones that your master is using. Otherwise, it will never find it.

[2015-09-02 23:14] rodriguezsergio commented on #18656
@waldman Not sure if you've upgraded, but this works on salt-minion 2015.5.3 (Lithium).

[code]

[2015-09-02 23:17] joejulian opened #26867 "lvm pv's can show as not belonging to their vg if symlink is used"
With the following sample, the second pass will fail as /dev/disk/by-partlabel/LVM is a symlink to /dev/sda3 (in this case) created by udev but vgdisplay shows the actual device, /dev/sda3. vg_present then tries and fails to pvextend the vg but fails as the device is already part of the vg.

[code]

[2015-09-02 23:46] whiteinge commented on #26505
`rest_cherrypy` was written in-part to be able to drive a rich-client web app.

https://github.com/saltstack/salt/blob/b676e32/salt/netapi/rest_cherrypy/app.py#L102-L106

This one:

http://diveintohtml5.info/history.html

Implemented here:

https://github.com/saltstack/salt/blob/b676e32/salt/netapi/rest_cherrypy/app.py#L300-L332

The former.

https://github.com/saltstack/salt/blob/b676e32/salt/net

[2015-09-03 00:05] marccardinal opened #26872 "Surface additional lxc errors"
I have been trying to provision an LXC container using cloud.profile in a state and in my minion logs I had the following error message:

[code]

To troubleshoot this I modified https://github.com/saltstack/salt/blob/2015.5/salt/states/cloud.py#L293 to print the value of the info variable which contained really valueable information like:

[code]

So as suggested in the comment field, I then manua

[2015-09-03 00:56] djpain commented on #26843
sure. I've put everything into this gist.
https://gist.github.com/djpain/d0bbb643719f8831ef88

[2015-09-03 01:10] jfindlay commented on #26699
Ping @rallytime, @cro

[2015-09-03 01:16] jfindlay commented on #26843
Excellent, thanks @djpain.

[2015-09-03 01:57] jond64 opened #26876 "Error 2014 using stored procedure with MySQL external pillar"
When I made one of my ext_pillar queries a stored procedure, I started getting the error below on the Salt master.  Modifying the for loop of ext_pillar() in mysql.py to get a new cursor at the beginning of every iteration and close that cursor at the end of every iteration seems to resolve the issue.  As a work around I made the stored procedure the last query for the external pillar, and that el

[2015-09-03 02:26] bertjwregeer commented on #3888
Looks like this issue can finally be closed because of: https://github.com/saltstack/salt/issues/25915

[2015-09-03 02:54] terminalmage commented on #3888
Good catch, thanks!

[2015-09-03 02:54] #3888 closed

[2015-09-03 03:02] bertjwregeer commented on #3888
@terminalmage Solves a problem I had ;-)

[2015-09-03 03:34] jessfs opened #26878 "Salt should have support for setting password hashes on OS X"
It would be really great if Salt supported this. Puppet supports this functionality. It's a bit painful to deal with so it might be a good idea to look at how Puppet does it (though it's of course in Ruby):

https://github.com/puppetlabs/puppet/blob/master/lib/puppet/provider/user/directoryservice.rb#L141

Specifically pay attention to the crazy workarounds you need to do with dscl.

E.g.

https:/

[2015-09-03 05:32] dhs-rec commented on #21256
@twangboy Other Salt actions run fine, it's only salt-cloud. So yes, master and minion are able to find each other.

[2015-09-03 06:30] anlutro commented on #26802
I had a similar problem earlier which ended up being an exception thrown in the highstate outputter module. Turn on `-l debug` and look for stack traces.

[2015-09-03 09:09] pkruithof opened #26879 "Ubuntu releases inconsistent and out of date"
It seems the releases for different Ubuntu versions are not up to date, and differ from one another:

[14.04 (trusty)](https://launchpad.net/~saltstack/+archive/ubuntu/salt?field.series_filter=trusty): 2015.5.3+ds-1trusty1
[14.10 (utopic)](https://launchpad.net/~saltstack/+archive/ubuntu/salt?field.series_filter=utopic): 2015.5.2+ds-1utopic1
[15.04 (vivid)](https://launchpad.net/~saltstack/+archiv

[2015-09-03 10:11] dennisjac commented on #19861
Upgrade to 2015.5. I very much doubt that this is going do be dealt with in 2014.7 anymore.

[2015-09-03 10:37] nbari opened #26881 "salt "*" mine.get returns data even if minions are down"
When running something like:

     salt '*' mine.get 'node_type:rabbitmq' network.ip_addrs grain

It returns data from nodes that are not available any more (provably cached), therefore when using mine.get on a config template for example, haproxy, rabbitmq etc, the config is populated with wrong info:
[code]

Is there a way to check if the minion is up and running while getting the data ? or any

[2015-09-03 11:33] eliasp opened #26882 "`npm.bootstrap` fails when NPM is not installed"
Using the state `npm.bootstrap` fails when NPM isn't installed yet:
[code]

It doesn't help adding a `require` statement on the `npm` package to prevent this - this looks more like an issue in the module which blindly tries to run `npm` without properly handling its absence.

[code]

[2015-09-03 11:51] LarsFronius commented on #26115
thanks @sebest - also ran into this and an easy_install pip fixed it for me.
Anyone know how we could fix this in the actual ubuntu package of salt? I bet this is something many people will stumble upon.

[2015-09-03 12:01] kracekumar commented on #26115
+1. I am facing this issue.

[2015-09-03 12:21] silenius commented on #26115
did you try with:
[code]
?

[2015-09-03 13:38] double-yaya commented on #26844
when I close zmq_filtering ,run normally, and enable  zmq_filtering to appear as above.

[2015-09-03 14:10] vatex opened #26883 "Question: How to install modules from package.json with salt state (.sls) file?"
I tried many things but couldn't installed modules from package.json and bower.json. In my opinion this is a bug. Maybe I'm wrong and tell me how to install modules from packgae.json and bower.json with salt state (.sls)

[2015-09-03 14:21] DanyC97 commented on #19732
+1

[2015-09-03 14:21] terminalmage commented on #26748
Fix was merged, closing.

[2015-09-03 14:21] #26748 closed

[2015-09-03 14:24] DanyC97 commented on #6602
+1

[2015-09-03 14:31] terminalmage commented on #22681
The new docs have been in place for a while but for some reason the external pillar docs are not being built. I've notified @jacobhammons so this can be investigated.

[2015-09-03 14:33] DanyC97 commented on #11107
+1  great idea !!

[2015-09-03 14:34] GreatSnoopy commented on #26860
You can write your own grain to do that. Start for example, from :
[code]

[2015-09-03 14:35] DanyC97 commented on #24562
@genuss thx for the ref number

[2015-09-03 14:41] damon-atkins commented on #19732
+1

[2015-09-03 15:03] arroyoc commented on #26876
@jond64 thanks for your detailed report.

[2015-09-03 15:12] implicitnewt commented on #22142
Has this bug been addressed?

[2015-09-03 15:18] twangboy commented on #21256
@dhs-rec Try changing `ssh_interface: public_ips` to `ssh_interface: private_ips` in your provider file.

[2015-09-03 15:23] multani commented on #22142
I haven't took the time to propose a patch yet, sorry about that... :(

[2015-09-03 15:38] twangboy commented on #26740
@TheBigBear I just noticed in the initial description of this issue, there's a comma in the command instead of a period. That would cause it not to be found. When I run it with a period, it works. A comma gives me the same error.

[2015-09-03 15:40] TheBigBear opened #26884 "Exception("DummyFuture does not support blocking for results")"
On a 2015.8 master running against a 2015.8 minion (full salt --versions output follows at bottom) I get an error raised if it tries to copy a file from master to the minion cache.

At first I forgot to have the installer file `windirstat1_1_2_setup.exe` in the master's `win/repo/windirstat` directory so it gave me the following error, which **_is correct_** and expected, since the installer file

[2015-09-03 15:41] TheBigBear commented on #26740
@twangboy oh silly me,. sorry I din't spot that earlier.

[2015-09-03 15:47] cachedout opened #26885 "salt-call does not work with zmq_monitor enabled"
If `zmq_monitor: True` is set in a minon configuration, `salt-call test.ping` will fail immediately with the following:

[code]

[2015-09-03 15:54] bersace commented on #26860
:+1: for resolv.conf in grains :-)

[2015-09-03 15:56] jacksontj commented on #26505
IMO that sort of functionality doesn't really make sense to keep in the API. Especially since we are adding COORS headers (so the app can be served from another domain all together) I can't really see why we'd need/want this in the API?

Similar questions-- not sure why this needs to be implemented on an API endpoint? From the looking I did on the UIs all of them require standing up some webserver

[2015-09-03 15:58] #26740 closed

[2015-09-03 15:59] jacksontj commented on #26051
Is this still the case? I'm not back from vacation, and can look into these sorts of things :) I know @cachedout was working on some of this, not sure if they were actually related or not

[2015-09-03 15:59] twangboy commented on #26740
@TheBigBear We all missed it... :)

[2015-09-03 16:02] #26754 closed

[2015-09-03 16:06] implicitnewt commented on #22142
Ok fair enough, I'll just package up a bunch of commands for it for now....  not enough time to dig through the code here :(

[2015-09-03 16:10] #26462 closed

[2015-09-03 16:11] #26788 closed

[2015-09-03 16:18] TheBigBear opened #26887 "2015.8 windows salt minion stops responding within about 5 - 10 minutes - at latest"
All three of my salt 2015.8 windows minions stop responding to ```test.ping``` or ```pkg.install``` cmds sent by the master sometime after 5 to 10 minutes. If I ```Ctrl-C``` the minion process and restart it, they respond again for anohter 5 minutes or so.

AFAICT the error in common is the last few lines at the bottom taken from a ```salt-minion -l debug``` session once it stopped responding. The

[2015-09-03 16:21] arroyoc commented on #26882
@eliasp Thanks for your report.

[2015-09-03 16:21] cachedout commented on #26051
@jacksontj Sadly, I got pulled away from this and so far as I am aware, this is still the case. I won't be able to peek at it today, but can get any info you need if you have time to start looking. I would love to get TCP automated tests going again in Jenkins. That would be sweet!

[2015-09-03 16:27] arroyoc commented on #26867
@joejulian What version of salt are you using? "salt --versions-report"

[2015-09-03 16:34] joejulian commented on #26867
@arroyoc Notice the patch is against 2015.5, of which we build nightly against git. That patch I've verified to solve this issue.

[2015-09-03 16:42] arroyoc commented on #26867
@joejulian Sorry, I overlooked your fix. Feel free to close this issue. You can close it now or wait until your patch has been merged. Thanks!

[2015-09-03 16:50] arroyoc commented on #26887
@TheBigBear Thanks for your detailed report.

[2015-09-03 17:00] whiteinge commented on #26505
A few clients have made JS apps on top of the API that I know of. Serving static files is a tiny addition. I'm not a huge fan of the server-side requirements for the HTML5 history API but it's also an easy addition -- just a header inspection and a routing bypass.

Setting up a second web server and trying to get CORS working correctly is a bunch of trouble for small deployments. I do agree that e

[2015-09-03 17:01] bymodude opened #26888 "salt-minion error on unstable tcp connection"
I have a minion connecting to a master via Internet, the routing between these 2 servers is bit unstable, e.g. there is some packet loss, however many other services are running fine, just salt is having bigger problems.

one server is in Azure Cloud and they dont allow ICMP, so here is a tcpping to give an idea of the packet loss encountered:

[code]

here is "salt-minion -l debug", trying "salt

[2015-09-03 17:07] cachedout commented on #26887
I have been running `test.ping` in a loop on my Linux master/minion and have yet to be able to replicate this behaviour. Is this happening when you ping the minion and then let it stay idle for 5+ minutes or does it happen despite the amount of activity?

[2015-09-03 17:40] UtahDave opened #26889 "salt-call w/non root user outputs repeating error"
My versions_report:
[code]

When I run `salt-call test.ping` I get the following error repeating endlessly.
[code]

This error repeats endlessly until I mash ctrl-c.

Proper behavior would be to return an error regarding not having sufficient privileges to execut `salt-call`

[2015-09-03 17:41] cachedout commented on #26887
@TheBigBear Can you provide more specific tests to reproduce this beahviour? I'm having trouble replicating this.

[2015-09-03 17:58] twangboy commented on #26887
@TheBigBear I can't checkout `ga21b3f4` is this a commit on your own fork?

[2015-09-03 18:06] LarsFronius commented on #26879
Discovered the same today. What's needed to get this automated and out of the way?

[2015-09-03 18:16] TheBigBear commented on #26887
OK, now I have the minion's give up:
[code]

I think i'll redo the master and minion with latest '2015.8' branch of today and re-test.

@twangboy sorry the ga21b3f4 commit must have been on my windows devel machine as it was creating the windows installer. Sorry. I'll redo it again and try to do it off the main saltstack '2015.8' branch.

[2015-09-03 18:19] jefftucker commented on #26754
works on my box (after having manually installed PyMySql)

[2015-09-03 18:49] TheBigBear commented on #26887
@cachedout sorry, but on my side this is a very unstable setup. I will redo with the last two days of '2015.8' branch commits in as well.