[2018-04-09 20:27] Padow01 commented on #45623
I am having this same issue and updating the format did not fix the issue:

`[INFO    ] Running state [managesoft] at time 16:17:02.516598
[INFO    ] Executing state pkg.installed for managesoft
[DEBUG   ] Could not LazyLoad pkg.normalize_name: 'pkg.normalize_name' is not available.
[DEBUG   ] Could not LazyLoad pkg.check_db: 'pkg.check_db' is not available.
[INFO    ] Executing command ['apt-cach

[2018-04-09 20:29] thatch45 commented on #46977
While we reserve the right to break minion master compat in this case we do not do it unless it is a critical reason that cannot be worked around. This needs to be fixed for the .1 release

[2018-04-09 20:31] rallytime commented on #46977
@garethgreenaway Can you take a look at this for the 2018.3.1 release?

[2018-04-09 22:23] superlinkx opened #46978 "file.managed not working with repeated gzipped file"
### Description of Issue/Question
This issue started around the release of 2018.3.0. When managing a database dump in gzipped format, I get the following error if the file had been previously added through the managed state: "Unable to manage file: 'utf8' codec can't decode byte 0x8b in position 1: invalid start byte". This happens regardless of if the file has changed or not changed since the las

[2018-04-09 22:46] onlyanegg opened #46979 "2018 breaks environment configuration parameter"
### Description of Issue/Question
The [release notes](https://docs.saltstack.com/en/latest/topics/releases/2018.3.0.html#environment-config-option-renamed-to-saltenv) say that the `environment` configuration parameter would not be deprecated, so I was surprised when running a state outside the base environment failed. Running the state with the saltenv command line parameter succeeded, but running

[2018-04-09 22:58] dmurphy18 commented on #46974
Thanks for the notice.  This should be fixed with the next point release for Redhat 7 support

[2018-04-09 23:05] grichmond-salt commented on #45895
Team, everything that @whiteinge described sounds very cool.  In the meantime, it seems that `prereq` and other expected behaviors are broken.  @thatch45, would it be practical for us to revert this change until pchanges has been expanded further?

@amendlik, thanks for raising this, especially pointing out how `prereq` breaks in this scenario.  I see how that could be potentially very bad.

[2018-04-09 23:44] doesitblend opened #46981 "win_snmp module bypasses group policy settings"
### Description of Issue/Question
When retrieving values from the SNMP configuration `win_snmp` always retrieves values from the registry which is not correct. Windows allows configuring the daemon through the service agent and through group policy, in my case local group policy.

The problem comes when you configure the agent as above and then query the settings with `salt '<target minion>' win_s

[2018-04-09 23:44] doesitblend commented on #46981
ZD-2392

[2018-04-10 02:37] #31652 closed

[2018-04-10 05:54] mansam-ger commented on #46954
The --force switch is only needed in case of an error with the zypper database. In any other cases a zypper ref (without force) does it right. It does an update of the repo database only if needed and leaves it alone if nothing to to. A forced zypper ref generates alone about 2 MB of zypper.log every time it is executed.

@isbm not needed means that the database is dropped ven when no new packages

[2018-04-10 07:36] xiaopanggege commented on #46956
@damon-atkins
The Windows version：Windows7、windows server 2008 R2 Enterprise。
You're right，I'm trying to
`Change "with salt.utils.files.fopen(template, 'r') as ifile" to "with salt.utils.files.fopen(template, 'r',encoding='utf-8') as ifile"`
Problems also can be solved.

The reason for this problem is that the SLS file is written under Linux(my salt-master system). The default encoding of Linux on

[2018-04-10 07:40] gaetanquentin commented on #46979
same thing ....the env variable journey between versions is terrible .....(and the env/saltenv variable in top.sls too)

you have to specify the saltenv variable on the salt command line to bypass the problem.

[2018-04-10 08:01] cskowronnek commented on #46935
Your change was for the develop branch. I can't find the file or the part of code in the 2018.3.0 release. Could you take a look where to change it in the stable release?

[2018-04-10 08:02] cskowronnek commented on #46953
@Ch3LL Yes it looked like a duplicate, but we are not talking about the same version. I use 2018.3.0 Ubuntu release and the proposed fix is not working in my release.

[2018-04-10 08:37] paul-mulvihill commented on #46961
Hi @Ch3LL
Think i've tracked it down.. it was an unexpected behaviour of the yum lock packages feature.
it appears if you lock the version using yum. it removes any version that isn't that explicit version from the yum command.
So this is my fault. I'll have to stick with just locking the repo version instead for now.
thanks for the help

[2018-04-10 08:37] #46961 closed

[2018-04-10 08:50] konstest opened #46983 "Error in parallel execution, option: - parallel: True"
### Description of Issue/Question
Hi, i gets error if i run execution states in parallel mode on WIndows minion.
I don`t check it on Linux minions & last salt-master/minions versions

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
[code]

### Versions Report
(Provid

[2018-04-10 09:06] AmbicaY commented on #46918
@mirceaulinic @Ch3LL

Can you guys take a look at this issue? I could repro this issue on another salt installation also.

[2018-04-10 09:07] danel1 commented on #44848
Same here - using FreeBSD 10.4 and salt 2017.7.4.
salt hangs when trying to restart dovecot

[2018-04-10 09:30] prashanthtuttu commented on #46889
@ garethgreenaway , can you look into the issue , another issue was also raised on the same error regarding napalm / capirca #46918

[2018-04-10 10:22] bigbitbus opened #46984 "salt-cloud GCE full-query failing"
### Description of Issue/Question
salt cloud's --full-query option is failing on GCE.

### Setup
Plain salt-cloud setup for GCE. The VM created is otherwise fully functional.

### Steps to Reproduce Issue

#### --full-query with -F fails

salt-cloud -F -l debug
...
[DEBUG   ] LazyLoaded proxmox.avail_sizes
[DEBUG   ] Starting new HTTPS connection (1): www.googleapis.com
[DEBUG   ] https://www.goog

[2018-04-10 10:33] jryberg commented on #46959
@saltstack/team-boto  - It seems most of the modules are using boto and not boto3?

No more features are added to boto and Paris for example are not available.

As I understand it, both boto3 and AWS CLI are using botocore while boto is a stand alone component.

Is there any plan of migrating to boto3?

[2018-04-10 10:35] OrlandoArcapix opened #46985 "grafana4_user.present and grafana4_org.present states not working in 2018.3.0"
### Description of Issue/Question

I'm testing 2018.3.0 and have run into an issue with the grafana4 states - I'm getting:
[code]
from the grafana4_user.present and grafana4_org.present states.

### Setup

1. Set up grafana4.
2. Apply a state such as this:
[code]

### Steps to Reproduce Issue

On the first run, the above state will create the Test org (even with `test=true` on the `state.apply`).

[2018-04-10 10:36] OrlandoArcapix commented on #46985
What should "changes" be if there are no changes - it looks like it's currently returning `{}`?

[2018-04-10 10:58] github-abcde opened #46986 "opts file_roots gets overwritten with pillar_roots in orchestration run"
### Description of Issue/Question
Exactly as https://github.com/saltstack/salt/issues/46004, however the minimal reproduction scenario is slightly different.

### Setup
master config:
[code]

`/srv/salt/states/main.sls`:
[code]

`/srv/salt/states/one.sls`:
[code]

`/srv/salt/states/two.sls`:
[code]

`/srv/salt/states/three.sls`:
[code]

### Steps to Reproduce Issue
run `salt-run state.orchestrate

[2018-04-10 11:18] OrlandoArcapix opened #46987 "nfs3 module errors with in-line comments in the exports file"
### Description of Issue/Question

The `nfs3.list_exports` call throws an exception when there are in-line comments in an entry in the exports file.

### Setup

Create an exports file with a comment after a defined share:
[code]

### Steps to Reproduce Issue

[code]

### Expected behaviour

Should return:
[code]

### Versions Report
[code]

(I've also confirmed issue is present in 2018.3.0)

[2018-04-10 11:27] joesusecom commented on #46954
Looks like we should fix this. I guess this has quite some impact on performance as well.

[2018-04-10 11:56] mansam-ger commented on #46954
@joesusecom This sounds great and would fix some serious issues we occured

[2018-04-10 13:00] tcharette opened #46988 "MAC/OSX: Local salt commands function, but not from master"
### Description of Issue/Question

When calling a salt command from the master (either targetting by the OS grain or by hostname strings) I have about 1/3rd of my macs that respond. However, if I ssh into these macs and run a salt-call manually it works. I've SOMEWHAT worked around it by scheduling highstates with the salt scheduling module, but this isn't quite ideal.

The tricky part in all this

[2018-04-10 13:08] arno01 commented on #46159
If anyone is wondering, apparently the Github have deprecated the SHA1 Kex'es (key exchange algorithms). The version of libssh2 that is used by the libgit2/pygit2 has to be at least of v1.7.0 to support SHA256 Kex & MAC (Message Authentication Code).

One can make a simple test:

[code]

[code]

[2018-04-10 13:12] damon-atkins commented on #46956
The SLS files should be read as UTF-8 on every platform even if the `__salt_system_encoding__`  is not UTF-8  to prevent this problem its a bug with 2018.3.0

[2018-04-10 13:30] gtmanfred commented on #46915
What you are looking for is more complex than what the simple reactor can handle on its own.

You could do the janky way, which is to store information about the nodes in sdb, and once all the minions have been marked as returned in sdb, then the last reactor triggered by a return to sdb would start your orchestrate function by sending a new event that triggers orchestration.

Otherwise you can us

[2018-04-10 13:32] Ch3LL commented on #46929
apologies i should have been more clear. Are you importing that etcd data from yaml file like so ? `{% import "test.yaml" as blah %}` or pillar data, etc?

[2018-04-10 13:38] rallytime commented on #46236
@doesitblend Can you follow up here?

[2018-04-10 13:42] #40851 closed

[2018-04-10 14:13] Ch3LL commented on #46916
Yep fixed in https://github.com/saltstack/salt/pull/46989 :) thanks for opening an issue :)

[2018-04-10 14:19] Ch3LL commented on #46947
Oh i see where your extra notes are with the spaces. Thanks for clarifying. Seems you have a good grasp around what the docs should look like. Mind submitting a PR?

[2018-04-10 14:24] Ch3LL commented on #46961
no problem. Glad you got it figured out :)

[2018-04-10 14:26] damon-atkins commented on #29043
@dmurphy18 can python-tornado be removed as a requirement for the minion.  And zeromq be removed as a requirement for the minion.   Then people who have zeromq apps can use TCP and people who have tornado apps can use zeromq.   And salt just errors if the required functionality is missing  by using hasattr(). A better method would be to test for the used set of functions/methods.  This relates to

[2018-04-10 14:31] noelmcloughlin commented on #46929
NP, I checked the  [etcd PR code](https://github.com/saltstack-formulas/etcd-formula/pull/7/files).

- The `install.sls` has `{% from "etcd/map.jinja" import etcd with context -%}`.
-  The `map.jinja` has `{% import_yaml 'etcd/defaults.yaml' as defaults %}` before merging
-  No pillar data is needed/involved.

[2018-04-10 14:32] esell commented on #46935
@cskowronnek it looks like the `salt/utils/azurearm.py` did not exist until commit 1f1a9962edab9d4c023b1232109dd21a0985e9bd so that is probably why you were not able to find it.

[2018-04-10 14:34] Ch3LL commented on #46923
I'm not able to replicate this, although i did not test on 32 bit arch only 64 bit. If you start a minion on your master does it exhibit the same behavior?
Also is there any relevant debug logs on the master? Is there an error on the master perhaps?

[2018-04-10 14:36] Ch3LL commented on #46914
and did you try ping_interval? as discussed in the other issue?

[2018-04-10 14:47] beybol commented on #46914
Yes, didn't help :(

[2018-04-10 14:49] beybol commented on #46914
I have
ping_interval: 1
in /etc/stalt/minion

[2018-04-10 15:27] Ch3LL commented on #46926
Thanks for adding teh configuration. Helped me to replicate it.

bisect shows: 494022d29e557ed3ac56177ec2234824520cbc37 which is this PR.

ping @lorengordon any ideas here?

[2018-04-10 15:29] garethgreenaway commented on #46868
There is a potential fix (https://github.com/saltstack/salt/pull/46930) if someone is able to re-install M2Crypto and try it out, that would be greatly appreciated.

[2018-04-10 15:30] noelmcloughlin commented on #46361
Hi @Ch3LL apologies for slow response.  I have tested your scenario below.

Perhaps allow `usermod` failures for `optional_groups` is best solution.

**Example 1 (no pillars)**

[code]

**Example 2 (pillars)**

_Pillars_
[code]
_State failures_
[code]

[2018-04-10 15:44] Cobra1978 commented on #46868
@garethgreenaway

If i've had correctly understood, so this is not the fix, because i've checked avery minion key on our system, and no one of these had the Rsa header, but we have the problem anyway.

[2018-04-10 15:54] garethgreenaway commented on #46868
@Cobra1978 Thanks.  This was something we were looking to confirm.  If possible would you be able to send me the private & public keys for the master and those for a minion which are affected by this issue when running 2018.3?  Email would work best, gareth at saltstack dot com

[2018-04-10 15:57] garethgreenaway commented on #46968
@dwoz & @twangboy Thoughts on this one?

[2018-04-10 16:00] dmurphy18 commented on #29043
@damon-atkins Currently python-tornado and zeromq are requirements for salt-minion.  Having Salt detect the functionality and install appropriate packages would complicate matters, for example: on Debian, on Redhat, on Solaris, on AIX, etc. it would tend to hard bake platforms into Salt,  being architecture independent is a better solution.

Note, there are methods whereby abstraction could make t

[2018-04-10 16:03] mattp- commented on #46868
@brianeclow can you paste your --versions-report output? in particular msgpack-python I'm interested in. thanks

[2018-04-10 16:05] Ch3LL commented on #46940
i actually have never used this outputter. ping @techhat looks like you added this a while back. I tried using this outputter like so:

`sudo salt '*cake*' state.highstate exclude=test2` but it still prints out test2 when i expect it not too.

if i make this change:

[code]

then it works as expected and removes test2 output. Maybe i'm misunderstanding or setting it wrong?

[2018-04-10 16:12] garethgreenaway commented on #46978
@terminalmage Some potential fallout from the Unicode changes?

[2018-04-10 16:29] garethgreenaway commented on #46987
@OrlandoArcapix Thanks for the report.  Marking this as a feature request for include a comment field.

[2018-04-10 16:34] histamineblkr commented on #45510
Let me take a look and get back to you on this.

[2018-04-10 16:35] rallytime commented on #46916
Closed via #46989

[2018-04-10 16:35] #46916 closed

[2018-04-10 16:38] garethgreenaway commented on #46979
@onlyanegg Thanks for the report.  We'll get this looked at.

[2018-04-10 16:41] garethgreenaway commented on #46972
@uzwal111 Thanks for the report.  Based on the description above I think perhaps the Salt mine night accomplish what you want to do: https://docs.saltstack.com/en/latest/topics/mine/
You can use it to share information, such as grain information, between minions.

[2018-04-10 16:42] garethgreenaway commented on #46988
@tcharette Thanks for the report.  It sounds like perhaps the minions on the OS X machines aren't actually connecting to the master.  Are you able to run them manually with debugging to verify the connection is taking place?

[2018-04-10 16:50] tcharette commented on #46988
Hey Gareth,

The macs that don't respond to calls from the master ("Minion did not return") I'm able to ssh to, and run salt-calls no problem. It gets the latest code.

I think this would be the relevant debug section:

[DEBUG   ] Connecting to master. Attempt 1 of 1
[DEBUG   ] Initializing new AsyncAuth for ('/etc/salt/pki/minion', 'wrk105d.rodeofx.com', 'tcp://192.168.64.168:4506')
[DEBUG   ] Ge

[2018-04-10 17:31] grichmond-salt commented on #27787
Still happening with salt-ssh 2017.7.1 on RHEL 7.4.

[2018-04-10 17:37] #31470 closed

[2018-04-10 17:45] lorengordon commented on #46926
Basically the same problem fixed by https://github.com/saltstack/salt/pull/46744. The utils modules were all shifted around... The modules containing the jinja filters are not getting imported, and so the decorator is not getting called, which means the filters in utils modules that are not imported are not getting injected into the jinja env.

[2018-04-10 17:56] garethgreenaway commented on #46868
@Cobra1978 Thanks for the keys.  When you experience the issue with 2018.3 is there any sort of traceback or exceptions that you could provide?

[2018-04-10 18:16] PeterS242 commented on #46834
Is there any sort of work-around available for `strftime` or `date_format` for the current 2018.3.0 release?

[2018-04-10 18:34] #46505 closed

[2018-04-10 18:40] dbiers opened #46998 "Salt trying to create groups and SSH keys before creating user?"
### Description of Issue/Question

It seems with user.present, it is trying to add a user to the default group before that group exists (because the user does not currently exist and/or was not created yet).  It also seems to be trying to add the SSH key to the users directory, even though that user/group have not yet been created.

This was previously working but it looks like salt updated and th

[2018-04-10 18:51] tcharette commented on #46988
Also, not sure if it's related but adding schedules doesn't seem to work in some cases.(When it's not a clean high sierra install, but an upgrade+xcode+salt upgrade) Maybe it has to do with python versions

[ERROR   ] Failed to add job base-schedule to schedule.
local:
----------
          ID: base-schedule
    Function: schedule.present
      Result: False
     Comment: Failed to add job base-sch

[2018-04-10 18:55] tcharette commented on #46988
Sorry about confusing the issue, the schedule thing is probably a seperate ticket but just in case it's related I figure I should mention it. Upgrading to the latest salt minion(2017.4) resolved the schedule issue on most of my macs (The ones that were clean wipe+high sierra install)

Also, I get this warning when running salt:
[WARNING ] /usr/local/Cellar/saltstack/2017.7.4_1/libexec/lib/python2.

[2018-04-10 19:35] damntoken commented on #46976
I tried extra steps in multiple orders, but nothing works.

[code]

I reviewed the "win_system" code.. I hope i found the correct one.
https://github.com/saltstack/salt/blob/2018.3/salt/modules/win_system.py
I ran python from minion bin folder and ran import codes and then the check codes just work..
[code]
PS: I found this also
https://github.com/saltstack/salt/blob/2018.3/salt/states/win_system.

[2018-04-10 19:37] #31663 closed

[2018-04-10 19:37] #31664 closed

[2018-04-10 19:41] jflowers84 commented on #46959
A quick work-around that I have been trying out.
I added the following lines to boto_vpc.py just after the resource is created. In this case it was right after "r = __salt__['boto_vpc.create_subnet'] method. The idea was to use the boto3 client.waiter class to block the salt stack from continuing until it received conformation that the resource had been created.

for the subnet issue:

ec2_client

[2018-04-10 19:41] uzwal111 commented on #46972
Thanks for your reply.I really didn't understand the salt mine documentation.Can you please post an example of a state which is passing the grains information from one minion to other minion.It will be helpful.

[2018-04-10 20:55] mvintila opened #47000 "Client API: full_return paramenter missing from cmd_subset function"
### Description of Issue/Question
If cmd_subset function is called with the 'full_return' paramenter, it will not match any minions. If called without that parameter it works as expected.

This is caused by the said parameter missing from the function declaration in salt/client/__init__.py after line 441 (https://github.com/saltstack/salt/blob/develop/salt/client/__init__.py#L441). Because it is m

[2018-04-10 21:18] Kaydub00 opened #47001 "List variables do not parse into templates properly"
### Description of Issue/Question

### Setup
Manage the file:
[code]

The line in the template module/templates/random.conf.j2:
[code]

### Steps to Reproduce Issue
Create a salt and pillar module, set up a file.managed in the module and set one variable in the file. Then set the variable with something like:
["host-1.domain.com","host-2.domain.com","host-3.domain.com","host-4.domain.com"]

If the

[2018-04-10 21:25] jose1711 opened #47002 "service module to support user instances on systemd-enabled systems"
### Description of Issue/Question
Currently functions of service module do not support systemd user instances. So something like this is not possible via exec. modules/states:
[code]

[2018-04-10 21:37] #30541 closed

[2018-04-10 21:37] #31648 closed

[2018-04-10 21:37] #31676 closed

[2018-04-10 21:38] pinto430 opened #47003 "Setting Memory Reservation (Locked to Max) salt-cloud vmware pyvmomi"
### How do I set Locked memory reservation when building a vm in vCenter (using Salt-cloud and pyvmomi)

### Setup
Profile is first, provider is second
[code]

### Steps to Reproduce Issue

I am trying to set the memory reservation checkbox on a newly created vm when it is built via Salt-Cloud. I have tried multiple different methods to setting this checkbox (it appears that its a field called mem

[2018-04-10 22:09] jeffdyke opened #47004 "mysql.grant is wrapping * in backticks making it a string literal not a table or database wildcard"
### Description of Issue/Question
As stated in the title `mysql.grants.present`  will wrap all grants in backticks making the table name of `*` a literal *.  Hence you can not access any tables.
### Setup
#### Grant Pillar:
[code]
#### Grant State
[code]
### Steps to Reproduce Issue
`mysql -u root -e "CREATE DATABASE MainDB"`
-- create other tables as desired, this is not a table level issue its a

[2018-04-10 22:37] #31565 closed

[2018-04-10 22:43] twangboy commented on #46968
The example in the docs should be `Web-Server` instead of `Web-Service`

[2018-04-10 22:44] pgporada commented on #46929
I'm seeing this even with quotes around the value.
[code]

The workaround solution was to change from this
[code]

to putting the pillar values directly into the template instead which works
`/etc/etcd/etcd.conf.yml`
[code]

[2018-04-10 22:56] terrancej commented on #7817
Any updates here?

[2018-04-10 23:06] dbiers commented on #46998
Issue is resolved.

Since `useradd` in CentOS will by default create a group with the name and add the user by default (eg. user: dbiers, group: dbiers) it is no longer necessary to specify "`gid_from_name`".

Removing the "`gid_from_name`" line resolved this issue.

[2018-04-10 23:06] #46998 closed

[2018-04-10 23:13] cedwards opened #47006 "marathon & fx2 grain modules cause master and minion failure"
### Description of Issue/Question
A couple of proxy minion grains are failing to load properly on 2018.3.0 (FreeBSD) causing both the master and minion to fail.

The offending modules are `grains/marathon.py` and `grains/fx2.py`.

I can provide the `sysutils/py-salt-2018.3.0` port & Makefile if someone else needs to replicate.

### Setup
`pkg install py36-salt`
`service salt_master start`
`service

[2018-04-10 23:42] #31657 closed

[2018-04-10 23:42] #31667 closed

[2018-04-10 23:53] garethgreenaway commented on #46951
@Ch3LL Looking into it

[2018-04-10 23:54] garethgreenaway commented on #46943
@Ch3LL Looking into it

[2018-04-10 23:57] garethgreenaway commented on #46943
@Auha I think this might be the same issue as reported in #46947, the indention is off so `commands`, `aliases`, `default_target`, `targets` are not under the `default` group in the documentation and they need to be.

[2018-04-11 00:15] Auha commented on #46943
I'll try that out later tonight.

[2018-04-11 01:02] isaachui commented on #27161
I had the same issue, but found a way for it to work!

In file1
[code]
Then in file2
[code]

That seems to have worked for me! (Running on 2016.11.8 (Carbon))

[2018-04-11 01:45] landergate commented on #46757
@rallytime Absolutely. Many thanks =)

No more CPU peaks and *.pid file is being filled with proper new PID even if previously there was invalid data. Things going smooth.

[2018-04-11 01:45] #46757 closed

[2018-04-11 02:34] mike2523 commented on #25249
+1 as well. Would like to see start_time to be at creation time by default, rather than midnight (since we can specify start_time to whatever) if not in the roadmap already.

[2018-04-11 04:07] terminalmage commented on #40146
This state has been rewritten in https://github.com/saltstack/salt/pull/47010 for the next feature release. It scraps completely the `hash` argument, using a completely different method to check if the patch would be cleanly applied before we even attempt to make any changes. It also expands the patch sources to include any remote source (http(s), ftp, etc.), and adds support for templating the pa

[2018-04-11 05:52] prashanthtuttu opened #47011 "Napalm / Capirca Issue"
### Description of Issue/Question
Attribute Error  "'_Term' object has no attribute 'priority'" when using netacl.load_term_config.

below are the 2 issues referencing the same error.

Error 'netacl.load_filter_config' is not available. #46889
napalm/capirca issue #46918

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

my-filter:
    ----------

[2018-04-11 06:59] Cobra1978 commented on #46868
@garethgreenaway

Trace:
[code]

version report on the server:
[code]

[2018-04-11 07:16] terminalmage commented on #46953
https://github.com/saltstack/salt/pull/47012 should ensure that the subscription_id is a str type.

[2018-04-11 08:08] brejoc commented on #46954
@mlandres What do you think about this? Can we get rid of the force as a default in those cases?

[2018-04-11 08:24] mtorromeo commented on #46868
I checked all the minion public keys with
[code]
and found that 10 minions had the wrong `-----BEGIN RSA PUBLIC KEY-----` line while all the others were fine.

I fixed all the keys and restarted the minions.
I also had to re-accept the keys that salt-master now denied.
Then I re-installed m2crypto and restarted the master and it seems that the problem is gone.

[2018-04-11 08:27] L4rS6 commented on #47004
This has been fixed here #46917

[2018-04-11 08:29] Cobra1978 commented on #46868
Ummmh, but i've encointered the problem even with a minion that don't had `-----BEGIN RSA PUBLIC KEY-----`, but `-----BEGIN PUBLIC KEY-----` in the header

[2018-04-11 08:37] L4rS6 opened #47013 "Openstack keystone users can't be added to a project"
### Description of Issue/Question
Openstack keystone users can't be added to a project as mentioned in the documentation: https://docs.saltstack.com/en/latest/ref/states/all/salt.states.keystone.html

### Setup
Setup Openstack environment

### Steps to Reproduce Issue
Use the following state:

[code]

This will throw an exception:
[code]

### Versions Report
Master:
[code]

Minion:
[code]

[2018-04-11 08:46] mtorromeo commented on #46868
@Cobra1978 you might have a slightly different issue but I think that fixing `-----BEGIN RSA PUBLIC KEY-----` lines or applying the suggested patch can resolve the problem for most of the users here.

[2018-04-11 08:50] Cobra1978 commented on #46868
@mtorromeo
Wait, for what i've seen having some keys with wrong header may cause the issue for all minions, so by now  i try to fix all the keys in my environment, and see if this fix or not.

[2018-04-11 08:58] forty8bits opened #47015 "Difference between the onfail and onchanges requisites vs their new _any variants unclear"
While the value added from the `require_any` and `watch_any` requisites introduced in v2018.3.0 is clear and useful, and the documentation explains this well, it's unclear to me how the behaviour of `onfail_any` and `onchanges_any` is supposed to differ from the standard `onfail` and `onchanges` requisites?

From the docs on `onfail`, confirming it uses OR logic:

And for `onchanges`:

Perhaps `on

[2018-04-11 09:29] isbm commented on #46954
@brejoc the refactoring won't be simple here, as Zypper behaves very differently on various OS versions. In some cases (Tumbleweed) this is just performance drop, but in older versions like SLE11 it will be a necessity.

[2018-04-11 10:09] kyrias commented on #46943
I just hit the same issue trying out the Salt engine, and I have the `commands` &co indented under the group itself properly.

[2018-04-11 10:27] rmarchei commented on #46929
I have a similar issue when importing from a yaml file

[code]

[2018-04-11 10:44] mansam-ger commented on #46954
I just checked on SLES 11 SP1 and SP3 and it seems, that it behaves exactly like on SLES12 SP1-SP3. I don't know how it behaved on SLES10 though. I still think that a complete forced rebuild of all metadate should not be the default.

[2018-04-11 10:55] tjyang commented on #46868
Anyone know how  wrong  " -----BEGIN RSA PUBLIC KEY-----" got generated ?
I have 8 of these in my minions.

[2018-04-11 11:43] isbm commented on #46954
@mansam-ger certainly we need to look at it, but there are inconsistencies we need to be careful of.
@mlandres Thoughts?

[2018-04-11 11:58] Martin819 commented on #46929
I have run into the same problem when importing yaml file which contains colon ':' in the key or value. It fails with unexpected ':' even if it's surrounded with quotes.

`
{%- from "ceilometer/map.jinja" import server with context %}

server_config:
  file.managed:
    -  name: /path/to/file
    - defaults:
        values: {{ server }}
`

`
ceilometer:
  server:
    policy: 'rule:user'
    'telem

[2018-04-11 12:24] gtmanfred commented on #46976
Can you join the #windows channel on the Community Slack? Or IRC.

https://github.com/saltstack/salt#get-saltstack-support-and-help

or can @twangboy or @dwoz help here?

Thanks,
Daniel

[2018-04-11 12:25] L4rS6 commented on #47013
It looks like that this is not just a documentation bug. I already have rewritten the state (have a look at my test state) to the new keystoneng module/state and it's still not working (it was neither for the old version).

In the new keystone_user state there is no possibility to add roles: https://github.com/saltstack/salt/blob/2018.3/salt/states/keystone_user.py#L59

[2018-04-11 12:25] gtmanfred commented on #47000
Since you have already found how to fix this, can you submit this change as a bug fix PR against 2017.7, and we will merge it forward?

Thanks,
Daniel

[2018-04-11 12:29] gtmanfred commented on #47001
Json is syntactically correct yaml, so what you are actually setting is

[code]

If you want the host list to be an actual string, then you will need to quote it.

[code]

Can you try this?
Thanks,
Daniel

[2018-04-11 12:35] gtmanfred commented on #47003
@nmadhok can you help here?

Thanks,
Daniel

[2018-04-11 12:37] gtmanfred commented on #47004
Duplicate of #46917

Thanks,
Daniel

[2018-04-11 12:37] #47004 closed

[2018-04-11 12:40] pgaunet commented on #46773
Hello Gareth,

Investigations let us know /tmp File system could not be secured by 'noexec' mount option.
Do you know how to declare alternative 'TMP' dir for minions?
Thanks in advance.
Nice to read you soon.

[2018-04-11 12:41] gtmanfred commented on #47011
@mirceaulinic can you help with this?

Thanks,
Daniel

[2018-04-11 12:42] gtmanfred commented on #47015
@garethgreenaway can you take a look at this to clarify the docs?

Thanks,
Daniel

[2018-04-11 12:46] jeffdyke commented on #47004
Is there a targeted release for this?  The PR referenced in the other ticket does not exactly fix this, is there a targeted release for this?

[2018-04-11 12:47] gtmanfred commented on #47013
Right, you need to use the keystone_role_grant state module, to grant roles to users or groups

[2018-04-11 12:55] gtmanfred commented on #47004
I have marked the pr https://github.com/saltstack/salt/pull/46919 to be backported to 2018.3.1

[2018-04-11 12:57] gtmanfred commented on #47006
Yeah, that just looks like it is done backwards, i would have done.

[code]

Thanks for reporting.
Daniel

[2018-04-11 13:04] Kaydub00 commented on #47001
Yes, I did try this and I just re-attempted this. I get the same results.

Salt sees the String in the template as a List and tries to update it to the string, but instead changes it to the list.

So when I run state.apply I can see that salt sees the string in the file as
`'[u"host-1.domain.com",u"host-2.domain.com",u"host-3.domain.com"]`

The output from the Salt state.apply says the above strin

[2018-04-11 13:08] tomlaredo opened #47016 "Regression: Inverted diff on file.managed with --output-diff and test=True"
### Description of Issue/Question
Since saltstack 2018.3, file.managed displays a wrong diff when using --output-diff and test=True is the content is given by "source" (issue not present with "contents" keyword").

### Setup
salt_regression.sls

[code]

### Steps to Reproduce Issue

echo "old_value" > /tmp/test.conf

Run with test=True shoowing the wrong-wayed diff for the state with "source" keyw

[2018-04-11 13:38] garethgreenaway commented on #46868
There is a known bug is some versions of pycrytdomex that would result in that invalid header being in place, versions 3.4.3 and under I believe. It is fixed in later versions.

[2018-04-11 13:38] DavidVisscher opened #47018 "mysql_grants.present incorrect quotes in query in 2018.03"
### Description of Issue/Question
Between 2017.07 and 2018.03 the queries resulting from `mysql_grants.present` have changed. Specifically regarding the wildcard character `*`.

### Setup
The state contains the following entry:
[code]

In 2017.07, the MySQL query resulting from this state would be:
``GRANT ALL PRIVILEGES ON `[USER]`.* TO `[USER]`@`%`;``
Since 2018.03, the query produced is:
``GRAN

[2018-04-11 13:41] dahrens commented on #19776
This behaviour is really unexpected and time consuming to debug. Would be so nice if `cmd.run` respects locale settings of the minion **or** at least uses `en_US.UTF-8` instead of `C` to ensure english.

[2018-04-11 14:00] gtmanfred commented on #47001
This is probably caused by our change to use unicode_literals in 2018.3, so that we could have better support for unicode, and an easier transition to python3 support.

The fastest way to get around this is to just pass a list in, and do this in your file.managed template.

[code]

@terminalmage i know you worked on removing the 'u' prefix for strings when dumping stuff to yaml, would you happen t

[2018-04-11 14:05] rallytime commented on #46757
@landergate That's wonderful news! :D

[2018-04-11 14:13] rallytime commented on #46504
Closed via #46539

[2018-04-11 14:13] #46504 closed

[2018-04-11 14:25] Ch3LL commented on #46914
ping @saltstack/team-cloud any ideas here with azure and a public network vs LAN?

[2018-04-11 14:34] #45274 closed

[2018-04-11 14:39] gtmanfred commented on #46914
Is your server setup in one of these scenerios?

https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections#scenarios

[2018-04-11 14:44] damntoken commented on #46976
I digged more code at minion side.. C:\salt\bin\Lib\site-packages\salt\states\win_system
(love the cleanness of python)

So I got "win_system" listed finally with the "salt minion sys.list_state_modules 'win_*'" command.
The "fix" was to comment out the line " __virtualname__ = 'system' ". Although now i understand that I should have called ".system" not ".win_system".

But this is not so obvious

[2018-04-11 14:49] gtmanfred commented on #46976
No, because the docs for each state should show that it is called `system`.

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.win_system.html

[code]

I am marking this as a documentation issue, because each module should have an example state in it to show how to use it.

[2018-04-11 14:50] gtmanfred commented on #46976
Here is more information about the virtualname.

https://docs.saltstack.com/en/latest/ref/modules/#virtualname

Unfortunately if we went by the same virtualname for all of them, then this would overwrite the

[2018-04-11 15:00] damntoken commented on #46976
Ah yes impossible to even generate the url... and link for menu.. I dont know then.

But to me it seems generall first thing to scroll long state /ref/ documentation.. like
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.win_system.html
Scroll to section needed (I needed reboot) and try to implement what is visible.. so visible should be callable code.. so only change inside final

[2018-04-11 15:05] damntoken commented on #46976
Sorry for close/open, misclick..
I'm not sure what could be done then to guide newbies from remaking such mistake over and over.
Mostly scrolling + copy/paste module refrences from /ref/ pages simply works because many dont use virtualnames.. and those which do, don't make it obvious if you just continue scroll down, check  parameters + copy/paste.

[2018-04-11 15:09] #46880 closed

[2018-04-11 15:21] brejoc commented on #46954
Thanks for the clarification, @mlandres!

@isbm How about switching the default of this for >= SLE15. This way we wouldn't break anything in SLE11 and SLE12 but would benefit in the future. Maybe after that and if everything works as expected we could also see if we can change it for SLE12.

[2018-04-11 15:28] terminalmage commented on #46834
@PeterS242 strftime still should work in 2018.3.0, it's just `date_format` that does not. In 2017.7 they both were the same, it's just that `date_format` was not carried over when the method of creating jinja filters was moved to the decorator approach.

[2018-04-11 15:48] terminalmage commented on #46834
Oh I misread, sorry, the lack of a dateutils import means that `strftime` did not work in 2018.3.0. The only workaround would be to add that import to salt/utils/templates.py

[2018-04-11 15:58] gtmanfred commented on #47018
This is a duplicate of #46917 and #47004
and will be fixed in 2018.3.1

[2018-04-11 15:58] #47018 closed

[2018-04-11 16:34] cudneys opened #47024 "Salt Minion dies on Windows when it can't find pip"
### Description of Issue/Question

I'm seeing this exception when trying to install pip modules on Windows:

[code]

### Steps to Reproduce Issue
This is a fresh installation of Windows Server 2016, using the python2 version of the minion.  When trying to apply an SLS that contains only this code, the exception above is thrown.

[code]

### Versions Report
[code]

The master is the same version.

[2018-04-11 16:37] mirceaulinic commented on #47011
Hey @prashanthtuttu - I think this has been already solved via https://github.com/saltstack/salt/pull/44508 (although it's not clear to me why that bugfix was not accepted into a minor release). Please upgrade to 2018.3.0, or simply copy the module into your environment (i.e., https://github.com/saltstack/salt/blob/develop/salt/modules/capirca_acl.py into the `_modules` directory).

[2018-04-11 16:38] gtmanfred commented on #47011
I marked it to be backported to 2017.7, so it will hopefully be in 2017.7.6

[2018-04-11 16:38] #47011 closed

[2018-04-11 16:40] mirceaulinic commented on #47011
Thanks @gtmanfred!

[2018-04-11 16:41] mirceaulinic commented on #46918
Hey @AmbicaY - I think I see what's the issue: looks like `ttl` is a new field defined in the underlying library Capirca, and we should should apply a small patch to the `capirca_acl` module, similar to the changes from https://github.com/saltstack/salt/pull/44508/files.
I won't be able to get to it before next week, but if you can please go ahead and port the module into your `file_roots` (i.e.,

[2018-04-11 17:06] terminalmage commented on #46737
Closing since the PR which fixes this has been merged.

[2018-04-11 17:06] #46737 closed

[2018-04-11 17:35] Kaydub00 commented on #47001
@gtmanfred That change did work so I'm updating this in my code.

[2018-04-11 17:36] garethgreenaway commented on #47015
Upon closer investigation it appears that `onfail_any` and `onfail` & `onchanges_any` and `onchanges` respectively perform the same function.  Since `onfail` and `onchanges` existed first, we should remove the `onfail_any` and `onchanges_any`.

[2018-04-11 17:50] garethgreenaway commented on #46943
@kyrias Can you provide a scrubbed copy of your Slack engine configuration?

[2018-04-11 19:10] rallytime commented on #46985
@OrlandoArcapix Was this working for you in a previous version? It looks like the grafana4 states are missing the test=true support, which is a duplicate of #43675. However, that issue doesn't specifically mention the dictionary error so let's keep this open for that part.

Changes should be an empty dictionary if there are no changes. I glanced through the code, but I don't see anything obvious t

[2018-04-11 19:14] rallytime commented on #46887
This looks related to #46859

@terminalmage FYI

[2018-04-11 19:20] dwoz commented on #46523
This has been merged but we still need to validate the tests are running correctly in our Jenkins setup for salt-cloud.

[2018-04-11 19:34] pgporada commented on #47016
We're running into this as well.

[2018-04-11 19:57] terminalmage commented on #46887
Should be fixed by https://github.com/saltstack/salt/pull/47029

[2018-04-11 19:58] terminalmage commented on #46887
I don't have an LDAP setup available for testing, however.

[2018-04-11 19:58] terminalmage commented on #46859
Should be fixed in https://github.com/saltstack/salt/pull/47029

[2018-04-11 20:11] rallytime commented on #46859
@cheribral or @karpiozoo would either of you be able to test that fix above?

[2018-04-11 20:15] rallytime commented on #46887
@julientravelaer Are you in a position to test the fix above?

[2018-04-11 20:57] baniobloom commented on #46959
I think I might have a more general solution.  I believe, as @jryberg stated on the initial post, that this is a tag creation issue, perhaps due to AWS Eventual Consistency Errors.  So the boto_vpc.py module is trying to tag all the resources it creates, but sometimes those calls fail for a number of reason one of which is AWS isn't returning that the created resource exists yet.  What I have done

[2018-04-11 21:46] OrlandoArcapix commented on #46985
Hey @rallytime - yeah, it works okay in 2017.7, this (the "changes={}" thing) just cropped up in 2018.3.0 (the missing "test=true" issue is present for me in 2017.7).

I didn't spot anything of interest in the debug logging when I was doing this - but I'll get a node up and see if I can get a cleaner test case for further debugging.

[2018-04-11 22:05] dwoz commented on #46868
For posterity the issue was fix in pycryptodome version 3.4.7:

http://pycryptodome.readthedocs.io/en/latest/src/changelog.html#id16

[2018-04-11 22:59] brianeclow commented on #46868
@mattp- I just got back from a few days off, but before I left, I was pinned our version from the latest apt repo to a known working specific repo, in our case `2017.7.5`. Here is the current on salt-master:

[code]

[2018-04-12 01:17] mattp- commented on #47015
@garethgreenaway providing the inversion would be useful (onfail_all, onchanges_all)

[2018-04-12 01:33] brent-thomas-walker commented on #39956
Is there any update or workaround?  Without being able utilize custom modules/states/etc, dockerng is worthless to me.

[2018-04-12 03:30] binocvlar commented on #46929
Same regression found here.

Everything works as expected under 2017.7.5 (Nitrogen).
Upon upgrading to 2018.3.0 (Oxygen), the bug appears.

Further info:

I was also importing a dictionary from a YAML file. The dictionary values were double-quoted strings containing a colon (':') character.

The workaround was to port the datastructure from the YAML file into pillar. This change allowed my statefi

[2018-04-12 03:59] binocvlar commented on #46979
We just struck the same thing.

A workaround which appears to work for both salt-call 2017.7.5 (Nitrogen) AND salt-call 2018.3.0 (Oxygen) is to simply list BOTH parameters within /etc/salt/minion:

[code]
Interestingly, this bug appears to contradict the advice provided in the [Salt 2018.3.0 Release Notes](https://docs.saltstack.com/en/latest/topics/releases/2018.3.0.html#environment-config-option

[2018-04-12 05:08] binocvlar commented on #46905
### Overview ###

It looks like we're also striking this bug that @golmaal reported (and note that we're also using a custom runner which makes use of salt.client.Caller).
This bug was induced by upgrading from 2017.7.5 to 2018.3.0 on one of our salt master nodes.

### Traceback ###
[code]

### Versions Report ###
[code]

[2018-04-12 07:38] L4rS6 commented on #47013
@gtmanfred Thank you. With the keystone_role_grant state module it works!

[2018-04-12 07:44] resolutecake opened #47030 "minion macOS High Sierra fails to connect to VirtualBox master"
### Description of Issue/Question
minion can authenticate successfully
- subsequent test.ping/manage.status/state.highstate fails
 Minion did not return. [Not connected]

this is suspect, I think:
"lsof" returncode = 1, likely no active TCP sessions.

- tried to use SSH forwarding instead: ssh -L…
- tried both brew and pip sources for minion
- the salt master works for its own minion
- and this se

[2018-04-12 08:41] dynek commented on #46388
Any news?

[2018-04-12 08:46] kyrias commented on #46943
@garethgreenaway Sure, here:

[code]

[2018-04-12 08:53] lejambon opened #47031 "Cannot set hwclock on UTC on CentOS 7"
### Description of Issue/Question

On CentOS 7, ```modules/timezone.py``` correctly reads whether the hwclock is set to UTC by using timedatectl. However when setting it, it does this...
[code]
... which does nothing. This results in the highstate saying this every time but never doing anything...
[code]

### Setup
State:
[code]

### Steps to Reproduce Issue
Take a CentOS 7 server and ensure it ha

[2018-04-12 09:01] kyrias commented on #46943
Not sure if it'll help, but the following is the debug logs from when running a slack command:

[code]

[2018-04-12 09:11] isbm commented on #46905
Yuck... Sorry for this, guys. It was pretty heavily tested with 14 and then 17. I had naїve trust to ZMQ's claim it is different only after 16, but till 16 it is same as 13. But seems I have shouldn't trust that...

If you are unable to wait, just upgrade your PyZMQ to 17 and libzmq. It has anyway quite dramatic bugfixes. :-) In the meanwhile I will try to fix this for you.

[2018-04-12 09:11] OrlandoArcapix commented on #46985
Here we go - here's an output from a fairly clean environment.

[code]

After a bit of debugging - I wondered about this line:

https://github.com/saltstack/salt/blob/cbe1cfa4d94b1b39679f5b8a06335675152ef80e/salt/states/grafana4_org.py#L190

where it sets "changes" to "None", rather than {}:
[code]
(and this line in grafana4_user.py: https://github.com/saltstack/salt/blob/cbe1cfa4d94b1b39679f5b8a0

[2018-04-12 09:25] RealMurphy opened #47032 "Setting numerical uid:gid on symlink fails is uid is not from local user"
### Description of Issue/Question

We are running a couple of NFS file servers serving user specific directories to "external" users, i.e. these directories and objects there-in have UID:GID of that user, but this particular user does not necessarily exist on the file server.

With this state (from `state.show_sls`):
[code]

it will create the symlink correctly, but this state will consistently fa

[2018-04-12 09:52] cheribral commented on #46859
@rallytime Yes, I pulled down a clone of the repo and that pull request, ran the master from there, and the LDAP pillars seemed to work fine.  Thank you @terminalmage

[2018-04-12 10:33] oeuftete commented on #46834
@PeterS242 If your platform supports it, you can work around it replacing something like `None|strftime("%a")` with `salt['cmd.run']("date '+%a'")`.

[2018-04-12 11:30] mattp- commented on #47015
@forty8bits other than onfail and onchanges, every other requisite is implicitly AND, alongside _any for its OR equivalent (ie, the require_all you mentioned is already what require is), its implemented and released. we're just missing the AND for onchanges/onfail to complete the set of possible situations.
fwiw, it seems onfail originally WAS using AND, but was switched with https://github.com/sa

[2018-04-12 11:54] forty8bits commented on #47015
@mattp- I understand that, I just meant migrating all requisites to be fully qualified with `_all` and `_any` across the board would be nicely consistent and unambiguous.

[2018-04-12 13:12] AmbicaY commented on #46918
Hi @mirceaulinic

I think you have added the priority field and not the ttl field. Please check.

[2018-04-12 13:47] Ch3LL commented on #47006
@cedwards does @gtmanfred 's fix work for you?

[2018-04-12 13:51] Ch3LL commented on #47016
this is a duplicate of https://github.com/saltstack/salt/issues/46931

[2018-04-12 13:51] #47016 closed

[2018-04-12 13:52] mattp- commented on #47015
@forty8bits aye, agreed. i think its pretty trivial to create aliases; will try to keep that in mind when I find some tuits to look at this 👍

[2018-04-12 13:53] Ch3LL commented on #47024
ping @saltstack/team-windows any opinions on the proposed fix?

[2018-04-12 13:58] Ch3LL commented on #47030
i'm not seeing anything that is glaring in that debug output. If you increase the timeout when running the command against the minion do you get a return. For example `salt 'minion' test.ping -t 100`?

Also if you attach a remote linux minion does it work?

[2018-04-12 13:58] mirceaulinic commented on #46918
That's correct - the other PR added the priority field as that one was
missing back then, while to solve this issue we'd need to add the ttl
field, in a similar manner.

On Thu, Apr 12, 2018, 09:13 AmbicaY <notifications@github.com> wrote:

[2018-04-12 14:02] Talkless opened #47033 "2017.7: module.wait used as in documentation provides deprecation warning"
### Description of Issue/Question
running `module.wait` with `2017.7.5` produces warning `The function "module.run" is using its deprecated version and will expire in version "Sodium".`:
[code]
I know that `module.run` has new way of specifying modules to be executed, but [there is no instructions on how `module.wait` should use new declaration style](https://docs.saltstack.com/en/2017.7/ref/state

[2018-04-12 14:06] Ch3LL commented on #47031
seems we could just change that command to `timedatectl set-timezone`. Seems you have a grasp here want to take a stab at a PR?

[2018-04-12 14:25] Ch3LL commented on #47032
ping @saltstack/team-core any opinions here?

[2018-04-12 14:25] rallytime commented on #46985
@OrlandoArcapix Yep, that would do it. `changes` should not be `None`, it should be an empty dictionary. A PR would be most welcome!

A more involved fix will be needed for the `test=true` bug. The states were never written with support for that, unfortunately. I can talk you through it in general terms if you wanted to fix that as well, otherwise the empty dict issue would be just fine to fix thi

[2018-04-12 14:36] lorengordon commented on #47024
@skizunov I recently was testing something similar but ended up reverting it because `python -m` didn't work with python 2.6 (which I _still_ have to support 😢). If that's not a use case here, then big 👍.

[2018-04-12 14:39] skizunov commented on #47024
@lorengordon : This is for Salt 2018.3 which I believe doesn't support Python 2.6 anymore.

[2018-04-12 15:17] sootythebear commented on #46943
The `UnboundLocalError: local variable 'user_id' referenced before assignment` error is caused by a RTM message that does not include a user reference within the payload. For example, a `file_comment` message:

[code]
A `bot_message` RTM message looks like a likely cause too.

I have reproduced the Slack error with a `file_comment`.

The following is thrown just prior to Slack failing:

[code]

[2018-04-12 15:24] rallytime commented on #46951
Closed via #47008

[2018-04-12 15:24] #46951 closed

[2018-04-12 15:32] Ch3LL commented on #46929
okay thanks for the examples. I was able to replicate this and bisect it to: 9ee5b417f775ea307f508459b037514cdf67021f

and see this error:

[code]

For anyone that wants to easily replicate this issue here is a docker container:

`docker run -it -v ~/git/salt/:/testing/ ch3ll/issues:46929 /bin/bash -c "salt-call --local state.show_sls etcd.install -ldebug"` (where ~/git/salt is  a local cloned git

[2018-04-12 16:40] twangboy commented on #47024
If the above change is made it needs to be made clear that by default the pip module will operate on the salt installation of Python. By forcing the user to pass `pip_env` and `cwd` they know exactly what python environment is being modified. That is why we haven't done something similar in the past.

[2018-04-12 16:47] jeremylarose opened #47036 "windows pkg.latest full_name issue 2018.3.0"
### Description of Issue/Question
I haven't seen this with any other software yet, but if "Adobe Flash Player 29 PPAPI" or "Adobe Flash Player 29 NPAPI" is already installed on the system (ex: upgrading 29.0.0.113 to .140) and set as the "full_name" and pkg.latest is used in a state, it fails without downloading the pkg to the minion ("Package flash failed to update.").  If you change the full_nam

[2018-04-12 16:47] skizunov commented on #47024
@twangboy : Perhaps I should clarify things. What I meant was that in `_get_pip_bin`, for the `if not bin_env` case, return:
[code]
I believe the intent of this use case is to use the pip from the Python currently used. This is the use case that this issue refers to. For the other case (when `bin_env` is set to something), just leave the implementation as is, except return a list of one element in

[2018-04-12 17:14] 0xCMP commented on #46902
I found this thread on Unix StackExchange which I'm going to try to implement by stopping/disabling/killing the apt-daily-*.* systemd units in the `user_data` script of the packer VM.

I still think it'd be nicer if we could wait for the locks to release before continuing.

https://unix.stackexchange.com/questions/315502/how-to-disable-apt-daily-service-on-ubuntu-cloud-vm-image#315517

[2018-04-12 17:55] b1naryth1ef commented on #46868
Just hit the aforementioned `unpackb` errors during our upgrade on some Ubuntu 14.04 minions, seems manually upgrading python-msgpack did the trick.

[2018-04-12 18:59] #39832 closed

[2018-04-12 18:59] #44828 closed

[2018-04-12 18:59] #46953 closed

[2018-04-12 19:26] alexfrosa commented on #46943
Having same issue with Slack Engine, exactly salt version.

[2018-04-12 19:41] twangboy commented on #47024
I agree, but I got some pushback when I wanted to default to the currently used Python. So, I'm just saying we need to make sure it's well documented so that it's clear what environment is receiving the install.

[2018-04-12 20:07] #29088 closed

[2018-04-12 20:50] rallytime commented on #46981
@saltstack/team-windows can one of you take a look at this one?

[2018-04-12 21:04] lorengordon commented on #46981
[Looks like the module](https://github.com/saltstack/salt/blob/9e13b5fd81f135df8caaa85508b9239be969a6ad/salt/modules/win_snmp.py#L17-L20) is looking up the values from:

`HKLM\SYSTEM\CurrentControlSet\Services\SNMP\Parameters\ValidCommunities`

Group policy _usually_ still writes the values in the registry, somewhere. I suppose it may be a different key/value than when set using the SNMP Service,

[2018-04-12 21:09] thetoolsmith commented on #24483
I'm running Salt: 2017.7.4 and the volumes are not being removed. I am setting this in a cloud map.

[2018-04-12 22:07] #31070 closed

[2018-04-12 22:11] dwoz commented on #46868
@b1naryth1ef Do you happen to know the version python-msgpack that was installed before you upgraded the package?

[2018-04-12 23:05] valentin2105 opened #47042 "[ERROR] Unable to manage file: 'utf8' codec can't decode byte"
### Description of Issue/Question
Hello,

I got an issue with latest Saltstack release on Debian 9, while trying to deploy some binary files with `file.managed` :

[code]
That result :

[code]
And here is the debug trace :

[code]
Here is the file :

[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)
[code]

[2018-04-12 23:07] terminalmage commented on #46909
Should be fixed via https://github.com/saltstack/salt/pull/47041, I plan on adding a regression test for this tomorrow.

[2018-04-12 23:16] cedwards commented on #47006
The suggested patch does not seem to work. The grains are still trying to load.

I'm working on this now. I'll submit something this evening.

[2018-04-12 23:20] xBytez opened #47043 "lsattr slowing down archive.extracted"
### Description of Issue/Question
When using `archive.extracted` with user and group set, it loops through every file checking it's attributes, this is both ineffecient and slow. It makes my CPU usage peak and my states takes a solid 10 minutes to run.

What I'd like:
- An option to turn the lsattr stuff off and just enforce the chown.
- Rewrite the lsattr stuff to be more efficient (example: `lsa

[2018-04-12 23:31] mirceaned opened #47044 "Add support for Lambda Proxy integration in API Gateway"
Hi, is there any plan to support Lambda proxy integration?
At the moment it seems the only supported option is Lambda (custom integration, aka AWS).

Thanks

https://docs.saltstack.com/en/develop/ref/states/all/salt.states.boto_apigateway.html#salt.states.boto_apigateway.present
"this state currently only supports ApiGateway integration with AWS Lambda"

https://docs.aws.amazon.com/apigateway/late

[2018-04-13 01:10] cedwards commented on #47006
Upon further investigation there may be an issue with my `__pycache__`. I'm still troubleshooting.

[2018-04-13 03:34] terminalmage commented on #46909
Test added to the PR.

[2018-04-13 06:14] Talkless commented on #47033
I failed to grep `module.run` in my file root, there's only `module.run` in my case.

I managed to reproduce with this:
[code]

[code]

`[WARNING ] The function "module.run" is using its de...` is in the output.

[2018-04-13 07:37] damon-atkins commented on #47036
if you provide a version '29.0.0.140' latest checks the highest version is installed.  Should not need the onlyif.

pkg.installed with no version number will install the latest if no version is installed at all. And will never
upgrade it or down grade it. Again should not need the onlyif.

If the software comes with a helper to perform self upgrades then you should use 'lastest' the flash.sls for

[2018-04-13 08:05] RealMurphy commented on #47032
Yeah, I think something like `remote_user` with default of `False` or the inverse `local_user` with a default if `True` would be a nice addition.

As I'm not really fluent with Python (reading is usually fine), do you want me to tinker a patch together or shall I wait for a proposed patch for testing?

[2018-04-13 08:37] robkaper commented on #47042
Specifying encoding and/or encoding_errors: ignore options does not help either, have the same problem where a vendor installs a file with the same cp1252 garbage. Workaround is to manually sed it out prior to managing the file, but that's not perfect.

[2018-04-13 08:53] OrlandoArcapix commented on #46985
There's a few other instances of setting changes to None outside of the grafana4 state:
{code}
# grep "changes'] = None" *
boto_cfn.py:        ret['changes'] = None
boto_cfn.py:        ret['changes'] = None
boto_cfn.py:        ret['changes'] = None
boto_iam.py:    ret['changes'] = None
boto_iot.py:            ret['changes'] = None
glassfish.py:            ret['changes'] = None
glassfish.py:

[2018-04-13 09:05] Giandom opened #47047 "Pillars aren't evaluated when alias is passed in Slack Engine"
### Description of Issue/Question
Pillars aren't evaluated when alias is passed in Slack Engine.

As workaround I've added these lines of code where @garethgreenaway done the last commit at line 354:

[code]

But I think there is a best way to do it.
Advices?

### Setup
Slack Engine Conf:
[code]

Test state:
[code]
### Steps to Reproduce Issue
From slack:
[code]
### Versions Report
[code]

[2018-04-13 10:32] OrlandoArcapix commented on #46985
Pull request in to fix the return of `'changes'` in the grafana4 states: https://github.com/saltstack/salt/pull/47048

[2018-04-13 10:42] lejambon commented on #47031
Had a stab. A workaround for anyone that needs it is to do:
[code]

[2018-04-13 12:38] gtmanfred commented on #47032
I have marked it as a feature request, but usually the fastest way to get stuff like this into salt is to contribute it yourself.

If you would try and make a PR against the develop branch as it is a feature, and we will review it and make any suggestions there.

If you need any help, there is a #develop channel on the Community Slack https://github.com/saltstack/salt#get-saltstack-support-and-hel

[2018-04-13 12:40] silenius opened #47050 "Preserve color output in cmd.run"
Hello,

I'm busy to integrate Saltstack with Gitlab CI/CD and I wondered if there was a way to preserve color codes in a cmd.run state ?

Currently it outputs the following:

![firefox_screenshot_2018-04-13t12-34-35 905z](https://user-images.githubusercontent.com/1225348/38736581-c7dc6898-3f2c-11e8-80c5-1a21e47d5fe3.png)

which is ugly :(

### Setup
[code]
### Versions Report

[code]

[2018-04-13 12:41] beybol commented on #46914
There is no load balancer in my setup.
Both servers (master and minion) have LAN IP and are translated to public IP's.
Is there any setup for minion allowing to automatically reconnect it to master if the connection is broken?

[2018-04-13 12:48] gtmanfred commented on #46914
https://docs.saltstack.com/en/latest/ref/configuration/minion.html#keepalive-settings

There are some tcp keepalive settings that can be tuned for zeromq on the minion

[2018-04-13 13:09] rallytime commented on #46985
Awesome! Thanks# @OrlandoArcapix! If you wanted to fix those other references (probably in some new PRs since I am not sure which branch those should be fixed in offhand), that would be great!

I'll close this one up for now since you've fixed the main issue.

[2018-04-13 13:09] #46985 closed

[2018-04-13 13:35] gtmanfred commented on #46931
This will be fixed in #47046 Which will be in 2018.3.1

Thanks!
Daniel

[2018-04-13 13:40] #46931 closed

[2018-04-13 14:06] #46163 closed

[2018-04-13 14:11] bruceborrett opened #47052 "Salt-Virt pre-seeding fails"
I am having issues creating a VM using Salt-Virt, the VM gets created but it does not get pre-seeded. I have a basic setup from following the tutorial in the docs.

Command used to create  the VM:
[code]

Output:
[code]

Checking in that directory on the KVM server I see:
[code]

Minion version:
[code]

Master version:
[code]

[2018-04-13 15:39] terminalmage commented on #38372
@skob I can't reproduce. Rather than continuing this conversation on an issue which has been closed for over a year, please open a new bug report and feel free to link back to this one. Please provide the SLS you used in the new report, and also please try running a `salt backend cp.list_master`. What I suspect happened is that you updated your `fileserver_backend` config option and you did not re

[2018-04-13 15:40] jflowers84 commented on #46959
@baniobloom Not sure if that would work as the _create_resource method still uses boto and not boto3. I am trying to replicate the issue @jryberg is seeing with and with adding the AWSRetry.backoff at the locations you suggested.

In the meantime I added a while loop in the _create_resource method in modules/boto.vpc right before the _maybe_set_name_tag method is called.

`               log.info(

[2018-04-13 15:58] garethgreenaway commented on #47042
@terminalmage You've been doing some UTF8 related cleanup this week.  Thoughts on this one?

[2018-04-13 16:01] garethgreenaway commented on #47043
@xBytez Thanks for the report.  Ideally we would want to ensure the `lsattr` portion is being as efficient as possible.

[2018-04-13 16:03] garethgreenaway commented on #47047
@Giandom Thanks for the report.  Pillar values should definitely be available when using aliases.  I'll take a look at your change.

[2018-04-13 16:16] OrlandoArcapix opened #47059 "Some states incorrectly return None instead of an empty dict when there are no changes"
### Description of Issue/Question

Version 2018.3.0 fails state runs when no changes are made with modules which return "None" instead of an empty dict for the 'changes' data.

See ticket #46985

### Steps to Reproduce Issue

See the following lines in files in `salt/states/`:
[code]

[2018-04-13 16:26] OrlandoArcapix commented on #47059
Hey @rallytime - I've put in a PR against issue #47059, which replaces those `None` entries with an empty dict`{}`m though I've not been able to test as I don't have an environment which uses the state modules I've updated in that pull request.

[2018-04-13 16:26] terminalmage commented on #47042
Fixed in https://github.com/saltstack/salt/pull/47061

[2018-04-13 16:28] garethgreenaway commented on #47050
@silenius Have you tried any of the other `cmd.run_` options? `cmd.run_all`?  The other option would be to use another output, https://docs.saltstack.com/en/latest/ref/output/all/index.html.  Beyond that, you might need to write a custom output module to grab just the output you want.

[2018-04-13 16:29] twangboy commented on #46968
Your 2012 box may not have ServerManager module installed. They may have trimmed it off to make the image smaller.

[2018-04-13 16:41] garethgreenaway commented on #47052
@bruceborrett Thanks for the report.  We'll get this one fixed.

[2018-04-13 16:42] skob opened #47063 "Issue with cron.file"
### Description of Issue/Question
Getting errors when running cron.file based state file in 2018.3.0
It was working without issue in 2017.7.3
The file is present in the location specified - `base/files/cron.tpl`

### Setup
[code]
[code]

### Steps to Reproduce Issue
[code]

[code]

[code]

[code]
[code]

### Versions Report
[code]

related to #38372

[2018-04-13 17:06] b1naryth1ef commented on #46868
@dwoz based on the apt logs I have most of the servers that broke with this update where on `0.3.0-1ubuntu3`, upgrading put them on `0.4.6-1build1`

[2018-04-13 18:14] rallytime commented on #47059
Awesome! Thanks @OrlandoArcapix! Let's see how the test run goes on that. Thanks for filing this issue and for the fix. :)

[2018-04-13 18:27] vernondcole commented on #46968
When I log in, ServerManager starts running automatically on my desktop, so I think it must be installed. The target of the icon is "%SystemRoot%\system32\ServerManager.exe" and it comes up if I type "ServerManager" on a PowerShell command line. Also, note that in my problem description I stated that win_servermanager tried to run when using Salt v2017.7.

On another subject, my attempt to setup a

[2018-04-13 18:57] terminalmage commented on #46979
Fixed in https://github.com/saltstack/salt/pull/47066.

[2018-04-13 19:49] gtmanfred commented on #46538
This should fix the problem #47067

[2018-04-13 19:53] lomeroe commented on #46981
group policy writes to HKLM\SOFTWARE\Policies\SNMP

[2018-04-13 20:05] lorengordon commented on #46981
I wonder what happens if we just change `_SNMP_KEY` to `r'SOFTWARE\Policies\SNMP\Parameters`?

[2018-04-13 20:17] rallytime commented on #47000
Closed via #47055

[2018-04-13 20:17] #47000 closed

[2018-04-13 20:38] resolutecake commented on #47030
It works with bridged networking. But that's not available for Wi-Fi

[DEBUG   ] Reading configuration from /etc/salt/minion
[DEBUG   ] Including configuration from '/etc/salt/minion.d/_schedule.conf'
[DEBUG   ] Reading configuration from /etc/salt/minion.d/_schedule.conf
[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: c87
[DEBUG   ] Configuration file path: /etc/salt/minion
[WARNING ]

[2018-04-13 20:40] resolutecake commented on #47030
Could you look into why VirtualBox NAT networking no longer works for a Salt Master running inside VirtualBox?

Meanwhile I'll be on bridging, but that is not available for some network interfaces and is reliant on  external dhcp: troubles…

[2018-04-13 21:08] baniobloom commented on #46959
@jryberg you're right AWSRetry is written for boto3 and not boto.

[2018-04-13 21:14] kveroneau commented on #46868
I can confirm that this issue also exists on Raspbian Jessie, after the upgrade, the salt-master has an exception being thrown when I run "systemctl status salt-master.service", however the master itself appears to be communicating with the minion machines which are still on the previous version.  However, the salt-minion I upgrades on Raspbian Jessie is now broken, it doesn't respond the master,

[2018-04-13 23:03] kveroneau commented on #46868
Okay, so my salt-master exception is much different than I see from other users.

``
Apr 13 14:55:18 pi salt-master[10403]: ret = getattr(self, func)(load)
Apr 13 14:55:18 pi salt-master[10403]: File "/usr/lib/python2.7/dist-pa
kages/salt/master.py", line 1487, in _pillar
Apr 13 14:55:18 pi salt-master[10403]: 'pillar': data})
Apr 13 14:55:18 pi salt-master[10403]: File "/usr/lib/python2.7/dist-pa

[2018-04-13 23:56] #31717 closed

[2018-04-13 23:56] #31721 closed

[2018-04-13 23:56] #31696 closed

[2018-04-13 23:56] #27495 closed

[2018-04-13 23:56] #31758 closed

[2018-04-13 23:56] #28390 closed

[2018-04-13 23:56] #27381 closed

[2018-04-13 23:56] #16477 closed

[2018-04-13 23:56] #30600 closed

[2018-04-13 23:56] #30099 closed

[2018-04-13 23:56] #31829 closed

[2018-04-13 23:56] #31869 closed

[2018-04-13 23:56] #31704 closed

[2018-04-13 23:56] #28161 closed

[2018-04-13 23:56] #31757 closed

[2018-04-13 23:56] #24901 closed

[2018-04-13 23:56] #26879 closed

[2018-04-13 23:56] #28766 closed

[2018-04-13 23:56] #31894 closed

[2018-04-13 23:56] #31895 closed

[2018-04-13 23:56] #31860 closed

[2018-04-13 23:56] #31913 closed

[2018-04-13 23:56] #31864 closed

[2018-04-13 23:56] #10688 closed

[2018-04-14 06:58] rahul6612 opened #47073 "production.py setting not migrating nor collectstatic files properly & OSError: [Errno 30] Read-only file system"
i deployed my website on heroku but when i am trying to run this command **heroku run python manage.py collectstatic ** its show the error OSError: [Errno 30] Read-only file system: '/static_in_env' and the majaor problem is that it try to collect static files according to directory of local.py settings not production.py setting. and
when i run the command heroku run python manage.py migrate its s

[2018-04-14 11:56] #31928 closed

[2018-04-14 14:17] terminalmage commented on #46859
@cheribral Thanks, I see what I missed. Have a look at https://github.com/saltstack/salt/pull/47076.

[2018-04-14 15:08] jhujhiti commented on #45428
Good news, I think: py-cffi in FreeBSD ports was updated to 1.11.5 and I can no longer reproduce this issue after upgrading and restarting. The changelog for 1.11.3 contains the item "Fix on CPython 3.x: reading the attributes __loader__ or __spec__ from the cffi-generated lib modules gave a buggy SystemError.", which sounds related.

[2018-04-14 15:08] #45428 closed

[2018-04-14 17:56] #26236 closed

[2018-04-14 17:56] #31925 closed

[2018-04-14 20:08] resolutecake commented on #47030
VirtualBox host-only network does not work either

[2018-04-14 22:55] dwoz commented on #46868
@kveroneau Yes, Please open a separate issue and thanks for reporting the problem.

[2018-04-15 09:58] EvaSDK opened #47079 "pkg.installed should not auto-refresh without configuration"
### Description of Issue/Question

### Setup

I found myself updating a Gentoo LXC based setup recently which used to work fine but cannot be updated anymore with saltstack changes. Namely pkg.installed requires a refresh where it used not to.
I'm not sure of the exact last version that worked correctly, maybe it was 2015.5.3.
The particularity of this setup is that LXC containers have a read-only

[2018-04-15 10:02] EvaSDK commented on #47079
I understand that for most distros out there, which are binary based, package database is low disk-space and refreshing it mostly low cost but this isn't true for Gentoo, its derivatives and friends. An option to control this behavior in a highstate run would be nice.

[2018-04-15 15:31] EvaSDK opened #47083 "pkg.installed broken in Gentoo in 2018.3"
### Description of Issue/Question

### Setup

After dirty patching issue reported in #47079, I found myself still unable to highstate minions running Gentoo. It looks like `pkg.list_pkgs` output changed leading `pkg.installed` to think that package have failed to install while they are actually already installed.
The problem manifests in https://github.com/saltstack/salt/blob/develop/salt/states/p

[2018-04-15 16:43] mattp- commented on #47050
the actual output contains all escape codes (as you can see in your output), but are stripped on output for security reasons: https://www.proteansec.com/linux/blast-past-executing-code-terminal-emulators-via-escape-sequences/
if you were to strip only the unsafe esc sequences you could possibly leave the other codes
https://github.com/saltstack/salt/blob/develop/salt/output/nested.py#L125

[2018-04-15 17:51] EvaSDK commented on #47083
It looks like commit ba7d00f58ef10dd441dbc90ea1d92f28eb92d7d1 changed `_cpv_to_cp` to use  `portage.dep_getkey(cpv)` instead of `portage.cpv_getkey(cpv)` but this function according to its docstring needs an atom like this: `=media-libs/test-3.0` while the function is provided with `media-libs/test-3.0` which fails. I switched locally to `portage.version.cpv_getkey(cpv)` which seems to produce the

[2018-04-15 18:13] mattp- commented on #26396
@carlpett just encountered this myself, it seems the 'renderer' that is used to control the merging strategy inside the 'smart' strategy is the default. so if you set master: renderer: yamlex_jinja it will behave how you expect. This is not obvious at all though, so I'll send in a doc patch to note it.

[2018-04-15 18:39] RobSpectre commented on #46971
+1 on 2018.3.0.

[2018-04-15 19:28] mattp- opened #47085 "serializers.yamlex is doing something weird with its string representation"
### Description of Issue/Question
when using yamlex,
[code]

[2018-04-15 19:28] mattp- commented on #47085
#26396

[2018-04-15 19:50] teran-mckinney commented on #47042
I'm getting this with `file.recurse`, also with the latest release on Debian. Should the fix apply to both? Is there any workaround before a new release goes live in the apt repo?

[2018-04-15 23:14] oekelly opened #47086 "mysql_grant fails with MySQL Error 1144: Illegal GRANT/REVOKE command"
### Description of Issue/Question

mysql_grant fails with error "MySQL Error 1144: Illegal GRANT/REVOKE command;" for certain simple priv_level with global scope (eg: PROCESS, SUPER).

### Setup

SLS uses the following definition:

[code]

Minion uses the following to provide MySQL admin access via `/etc/salt/minion`:

```mysql.default_file: "/etc/mysql/debian.cnf"```

"MySQL" server is MariaDB 10

[2018-04-16 02:28] gtmanfred commented on #47085
Can you provide the output of `--versions-report` like the issues template requests, so that we can attempt to replicate this issue?

Daniel

[2018-04-16 02:32] gtmanfred commented on #47079
If you set `refresh: False` on the pkg.installed state, does it still refresh your repos?

Here is the notes on the refresh option on pkg.installed.

[code]

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.pkg.html#salt.states.pkg.installed

[2018-04-16 02:44] gtmanfred commented on #47063
I am able to replicate this.

[code]

@terminalmage you wanna look at this one?

Here is the debug log.

[code]

[2018-04-16 04:00] darkpixel opened #47087 "How do I stop the prompt "Permission denied for host <hostname>, do you want to deploy the salt-ssh key? (password required):"?"
### Description of Issue/Question

I've been digging through man pages and the docs and can't figure out how to disable the prompt in salt-ssh that asks if I want to deploy the salt-ssh key.

I have a roster file with nearly 100 hosts, some of which I don't have access to yet (during a 'transition').
Every time I run 'salt-ssh' to gather data or make changes, I get prompted about 15 times.  It's a

[2018-04-16 04:07] gzcwnk opened #47088 "Salt version 2018.3.0.1.el7 broken on RHEL 7"
### Description of Issue/Question

I keep getting this error when trying to connect a minion to the master.  Key error.  I have deleted teh key on the client and restarted it.  Also updated the salt master and the minion's key seems to be accepted by salt.

###=======
[code]
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Iss

[2018-04-16 04:10] gzcwnk commented on #47088
I am getting a padding check failed?

======
[root@vuwunicorhsat01 salt]# systemctl status salt-master
● salt-master.service - The Salt Master Server
   Loaded: loaded (/usr/lib/systemd/system/salt-master.service; enabled; vendor preset: disabled)
   Active: active (running) since Mon 2018-04-16 16:01:44 NZST; 8min ago
     Docs: man:salt-master(1)
           file:///usr/share/doc/salt/html/conten

[2018-04-16 04:13] gzcwnk commented on #47088
[root@vuwunicorhsat01 salt]# salt-key -L |grep edwdbd2
vuwunicoedwdbd2.ods.vuw.ac.nz
[root@vuwunicorhsat01 salt]#

So the 2 can talk, this problem suggests a bug.

[2018-04-16 07:52] syphernl opened #47089 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 404: ordinal not in range(128)"
### Description of Issue/Question

After upgrading to Salt 2018.3.0 a minion on 16.04 started having issues with the `ssh` module which is being through `ssh_auth.present`:
[code]

One of the SSH pubkeys we have contains a diacritic (a `ë` to be exact)

This works fine in `2017.7.4`, but breaks once we upgrade to `2018.3.0`.

`locale` output:
[code]

### Versions Report

Master
[code]

Minion
[cod

[2018-04-16 08:39] antime opened #47090 "can not get the ip of new vms"
### Description of Issue/Question
when i use 'salt-cloud -p aliyun_api ds_salt_test -P -l debug' to create a vm,i can not get the ip of it. And the error is like this:Traceback (most recent call last):
  File "/usr/lib/python2.7/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/usr/lib/python2.7/multiprocessing/process.py", line 114, in run
    self._target(*self._args,

[2018-04-16 08:54] tomlaredo commented on #47016
Please add unit tests to this :)

[2018-04-16 09:01] ribx commented on #47083
I changed this to the dep_getkey(), because the same function was used to parse portage files in `/etc/portage` which do include `=`.

Maybe we should always first try `dep_getkey`, which needs the most demands the format `=sys-devel/binutils-2.29.1-r1, it it fails `cpv_getkey`, if that also fails the other hacks like `_porttree().dbapi.xmatch('bestmatch-visible', p)`.

[2018-04-16 09:06] voki commented on #47088
We are getting the same error when updated minion to 2018.03 on RedHat 7.4.
Master is also 2018.03 but on CentOS 7.4, CentOS 2018.03 minions are working fine.

[2018-04-16 10:03] syphernl opened #47092 "[2018.3.0] pkg.installed breaks with pseudo packages"
### Description of Issue/Question

There are a few psuedo packages in the repo: `php7.0-redis`, `php7.1-redis` etc are all actually `php-redis`.

With versions prior to 2018.3.0 this worked fine. However, a highstate with a 2018.3.0 minion results in:

[code]

The package is however (already) installed. Installing it by hand shows no errors:

[code]

Why is Salt giving an error? I couldn't find an

[2018-04-16 11:19] nbari opened #47093 "https://repo.saltstack.com/yum/redhat/7/ppc64le/latest/repodata/repomd.xml: [Errno 14] HTTPS Error 404 - Not Found"
### Description of Issue/Question

How to install salt-minion on `ppc64-le` architecture

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

    sh  bootstrap-salt.sh

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in ma

[2018-04-16 11:41] #31951 closed

[2018-04-16 12:15] mattp- commented on #47085
updated with version-report

[2018-04-16 12:41] RealMurphy commented on #47032
Hi again,

I've tried to come up with a minimal state file to check if my messing with the code actually does the right thing(TM) and I found this peculiar behavior. State file (group named lvc gid 5100 exists locally for other reasons):

[code]

result:
[code]

It does work, if I specify a gid which does not belong to a group on the minion. Therefore, will try to understand why *only* the case fa

[2018-04-16 12:58] cskowronnek opened #47096 "salt-cloud can't serialize azure.mgmt.compute.models.virtual_hard_disk.VirtualHardDisk object"
### Description of Issue/Question
When I try to run salt-cloud -p to provision a VM using driver "azurearm", I run into the following error message:

TypeError: can't serialize <azure.mgmt.compute.models.virtual_hard_disk.VirtualHardDisk object at 0x7f7cf254b690>

Trace:

[DEBUG   ] MasterEvent PUB socket URI: /var/run/salt/master/master_event_pub.ipc
[DEBUG   ] MasterEvent PULL socket URI: /var/r

[2018-04-16 13:02] EvaSDK commented on #47083
I'd advocate for using functions that adequate to API output, in this case `_vartree().dbapi.cpv_all()` does not include `=`. It can be discussed with portage maintainers whether this makes sense or not compared to the rest of the API. I admit I'm not very fluent there.

[2018-04-16 13:04] EvaSDK commented on #47079
I have not tested, but the wording suggests that any call to pkg.installed that would not specify refresh would be a candidate to trigger the refresh. Since I use a couple of formulas, I didn't go this route yet. I'll give it a shot in a couple of hours and report.

[2018-04-16 13:09] thetoolsmith opened #47097 "allow root volume tagging (aws ec2) in cloud map for salt-cloud"
Volume tagging can be set in cloud map as implemented in this change: https://github.com/saltstack/salt/issues/18451

However, tagging of root volume in the cloud map is not possible.
I have tried a couple of different tests.

1. duplicate the block_device_mappings volume config in the volumes: {} block. This creates two volumes and fails to attach one.
2. add tagging directly to the block_device_

[2018-04-16 13:14] jose1711 opened #47098 "Nfs3 execution modules unusable on AIX minion"
### Description of Issue/Question
Nfs3 execution modules does not work properly on AIX system as AIX uses different format of ```/etc/exports```.

### Setup
Linux master
AIX 7.1 minion

### Steps to Reproduce Issue
[code]

situation on minion
[code]

### Versions Report
[code]

[2018-04-16 13:25] RealMurphy commented on #47032
OK, if I'm not mistaken this simple patch should help/fix this issue already:
[code]

As the problem is that file.stats (module) will convert all known uid/gid into their respective names, I use the same scheme here to map them - if possible. Unknown uid/gid are simply left as their numeric values and will still match.

At least my initial testing suggests this as a work-around. What do you think?

[2018-04-16 13:34] ribx commented on #47083
I am also neither fluent with saltstack dev nor with portage internals.

There should be some tests to check these functions, I added some for the portage_config module. I did not catch this usage of `_cpv_to_cp` version, when I changed the code. Sorry for that.

[2018-04-16 13:54] gtmanfred commented on #47093
We do not package for PowerPC, you will need to pip install the package using python.

[2018-04-16 13:54] #47093 closed

[2018-04-16 13:55] gtmanfred commented on #47088
This is a duplicate of #46868

Daniel

[2018-04-16 13:55] #47088 closed

[2018-04-16 13:57] gtmanfred commented on #46868
@kveroneau that issue is already fixed in the 2018.3 repo, and will be in the 2018.3.1 branch

[2018-04-16 13:58] gtmanfred commented on #47085
Also, make sure you put newlines before and after the triple backtics, otherwise they do not do what you are expecting them to do.

[2018-04-16 14:01] gtmanfred commented on #47032
Looks good to me, if you wouldn't mind submitting it to the develop branch with an integration test to just assign the uid 9999 or something random and high to a file, and make sure it succeeds, that would be good.

Thanks,
Daniel

[2018-04-16 14:06] robin-thoni commented on #46971
+1 on 2017.7.5
downgrade pip{2,3} to 9.0.1 worked

[2018-04-16 14:12] gtmanfred commented on #47085
I am able to replicate this issue.

[code]

It looks like the grp.getgrnam does not like the yamlex SLSString format for some reason.

Thanks for reporting,
Daniel

[2018-04-16 14:14] gtmanfred commented on #47085
Looks like this is the way it has been for a while, also broken in 2017.7.

Thanks,
Daniel

[2018-04-16 14:15] gtmanfred commented on #47097
I am marking this as a feature request.

Daniel

[2018-04-16 14:19] gtmanfred commented on #47090
@steinliber can you take a look at this?  This looks like something you changed in #39388

Thanks!
Daniel

[2018-04-16 14:28] gtmanfred commented on #47089
Can you run `salt <minionid> test.versions_report` so that we can make sure that the locale data that is being returned is what the daemon is running with, instead of salt-call which would use the locale set in the shell?

Thanks,
Daniel

[2018-04-16 14:31] gtmanfred commented on #47092
This is the way it has been for a while now.

This is 2017.7
[code]

@terminalmage do you remember why resolving meta packages was removed from the pkg modules?

Thanks,
Daniel

[2018-04-16 14:37] gtmanfred commented on #47098
@dmurphy18 can you take a look at this when you get a minute?

Thanks,
Daniel

[2018-04-16 14:55] gtmanfred commented on #47087
I have opened #47100 to allow passing in `--no-key-deploy` to serve this purpose.

I opened it against 2017.7, but I may be asked to rebase it to develop for our next major release Fluorine.

Daniel

[2018-04-16 14:59] gtmanfred commented on #47073
I think you have opened this issue on the wrong project.

Daniel

[2018-04-16 14:59] #47073 closed

[2018-04-16 15:07] rahul6612 commented on #47073
ok if you know then please tell me

[2018-04-16 15:16] nbari commented on #47093
hi @gtmanfred  currently trying: `pip install salt` but just prints `Collecting salt` and nothing else happens.

Any ideas?

[2018-04-16 15:17] gtmanfred commented on #47093
Sounds like it is collecting downloading the salt package from pip to install it.

[2018-04-16 15:19] nbari commented on #47093
Right, but not fetching nothing, just for testing did the same on a macOS and there is no progress

[2018-04-16 15:38] arthurlogilab commented on #44828
@mattp- thanks for the patch, can't wait to test it out.

[2018-04-16 15:41] RobSpectre commented on #46971
@robin-thoni Thanks for that tip. Do you know how to keep a `virtualenv` state locked on pip 9?

[2018-04-16 15:48] robin-thoni commented on #46971
Absolutely no idea, sorry

[2018-04-16 16:03] dmurphy18 opened #47103 "Unicode decode issue using vault read secret"
### Description of Issue/Question
Getting Attribute Error for a unicode object with 2018.3.0 when reading a secret from the Vault.
The same code works fine with 2017.7.5 and earlier

### Setup
[code]

### Steps to Reproduce Issue
m7m minion id for salt-minion co-located on the master

salt m7m state.show_sls test

/var/log/salt/minion log.
[code]

### Versions Report
[code]

[2018-04-16 17:02] terminalmage commented on #46929
Fixed in https://github.com/saltstack/salt/pull/47104

[2018-04-16 17:32] terminalmage commented on #47103
Duplicate of https://github.com/saltstack/salt/issues/46864, already fixed in 01a5b88.

[2018-04-16 17:32] #47103 closed

[2018-04-16 18:30] brejoc commented on #46954
@isbm yeah, that's clear. But I just had an other idea. Wouldn't it make more sense to check for the zypper instead of the SUSE version?

[2018-04-16 18:48] lomeroe commented on #46981
I assume the service looks at a merge of both locations -- with the policy location winning over anything defined in the services location

[2018-04-16 19:25] gtmanfred commented on #47086
@UtahDave I know you were looking at these at some point, would you mind poking around here and seeing if you remember how to fix this?

Thanks,
Daniel

[2018-04-16 19:35] nbari commented on #47093
The issue was with https://status.python.org/incidents/1y1f44q6srh2

[2018-04-16 19:50] guice commented on #46884
Add me as a +1 on this. Trying to get salt running via fresh CentOS7 container.

[code]

And the error I'm getting:

[code]

`libcrypto` is currently within `/usr/lib64`

[2018-04-16 20:08] DmitryKuzmenko commented on #45790
#47106 is a compatibility fix. We have to review all the tornado related code and rework much of it to fully move to the Tornado 5.0 approach. This work is for develop branch. I propose to create a separated issue for this.

[2018-04-16 21:44] sootythebear commented on #46943
The second (`UnboundLocalError: local variable 'user_id' referenced before assignment`) is a message from Slack to Salt via RTM. See `https://api.slack.com/events/message/file_comment`, where the user field is missing.

There is no mechanism to handle a missing `user` field within the RTM message within slack.py at lines 413-420:
[code]

I believe there needs to be an `else:` for the `message if`

[2018-04-16 22:00] kyrias commented on #46943
So this is weird, I spun up a new CentOS 7 instance and installed the master, and the slack engine *did* work there.  So I compared the versions reported by `-V`, and figured I'd go through them one-by-one until I got it working.  I removed `python-cffi` first, which also removed `python-pygit2`, and after that the IOLoop error disappeared, but installing `python-pygit2` again made it come back.

[2018-04-16 22:00] garethgreenaway commented on #46943
@sootythebear Thanks for the confirmation.  That was my conclusion as well. Working on a fix now.  Thanks! 😊

[2018-04-16 22:06] kyrias commented on #46943
(I should note that it still gives me the following error, which seems to happen when `groups_pillar_name` isn't specified.  Would be nice if it wasn't necessary to specify that key.

[code]
)

[2018-04-16 22:33] gzcwnk commented on #46868
Are there any old rpms for earlier salt-master somewhere?   we are crippled without salt and are in the middle of a major upgrade that has just come to a creaming halt.

[2018-04-16 22:37] gtmanfred commented on #46868
They are all on the repo website, just pin to the old major release.

On Mon, Apr 16, 2018, 5:33 PM gzcwnk <notifications@github.com> wrote:

[2018-04-16 23:04] #40146 closed

[2018-04-16 23:04] isbm commented on #46954
@brejoc I didn't said that. What I meant is that Zypper module for Salt at the moment cannot now verify the version of Zypper installed, neither can get its defaults that are specifically set in particular OS version. So this is not just "a simple fix"...

[2018-04-16 23:43] alexfrosa commented on #46943
This fix worked for my Salt Master. Thank you very much!

[2018-04-16 23:53] UtahDave commented on #47086
@oekelly has this worked on previous versions of Salt or is this the first time you've attempted this?

[2018-04-17 00:39] oekelly commented on #47086
Hi David,

Yes these mysql_grant states have worked in the past, although I can't
confirm the exact salt or mysql versions.

I'll do some digging to see if I can find out exact versions for you.

On Tue., 17 Apr. 2018, 09:54 David Boucha, <notifications@github.com> wrote:

[2018-04-17 01:16] kontrolld commented on #32391
I believe this is still true, no? I do not think Teaming is available, at least I have not seen any documentation on current and recent releases.

[2018-04-17 01:32] oekelly commented on #47086
Hi David,

Here is a server where the same mysql_grant state works:

[code]

As you can see this is the same mariadb-server pkg version (10.1.32), but a different (albeit quite old) salt-minion pkg version.

[2018-04-17 06:17] htaoji1988 commented on #35664
thanks solved my problem.

[2018-04-17 07:01] xuming2860 opened #47112 "CherrPy库报错：AttributeError: 'NoneType' object has no attribute 'recv'"
### Description of Issue/Questiont
the salt-api is running . I used it to test websocket.When i input the code,the log said:AttributeError: 'NoneType' object has no attribute 'recv'.That mean in the Cherrypy,the type of self_sock is none.So that it doesn't have the attribute 'recv'.
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
api.conf:

[code]

[2018-04-17 07:06] sahama commented on #46891
i have this problem too.
i install salt from cloned git repo by `pip install -e`  on python 3.4
Salt Version:
           Salt: 2018.3.0-339-g5852993

Dependency Versions:
           cffi: 1.11.2
       cherrypy: Not Installed
       dateutil: 2.6.1
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: 2.10

[2018-04-17 07:32] MatthiasKuehneEllerhold commented on #46891
@jos666 It works in version 2017.7.4 where all of this was already necessary.

* We're not using the root user.
* The user is in the sudoers file correctly.
* "sudo: True" is in the roster.

[2018-04-17 08:03] shish commented on #45790
Looks like Debian just released tornado 5 into testing, overwriting tornado 4, so all the salt packages are broken :( I think the only way to get Salt running on Debian Testing is to pip install into a custom virtualenv?

[2018-04-17 08:11] joesusecom commented on #46954
I wouldn't say the Zypper module _can_ not check for the version. It _does_ not. The check would be just a "zypper --version" away. :-)

But sure, the logic to determine which zypper versions actually behave different would have to be implemented one way or the other. Given that we sometimes update Zypper pretty aggressively even on older OS releases, checking for zypper (and maybe even giving zyp

[2018-04-17 09:03] isbm commented on #46954
Well yes, knowing bare zypper's version is no brainer. But that is not much of help. We also need to know what settings it has for its capabilities and thus know how it goes to behave on the particular platform.

[2018-04-17 09:35] silenius commented on #47050
Thanks, I think I'll write a custom output plugin and keep the safe esc sequences (color codes)

[2018-04-17 09:49] prashanthtuttu commented on #47011
@mirceaulinic - I copied the capirca module into _modules directory , but this time facing new error , below are the details , please refer to it.
salt 'testdevice-ios' netacl.load_filter_config my-filter pillar_key=netacl debug=True test=True
Error :
testdevice-ios:
    The minion function caused an exception: Traceback (most recent call last):
      File "/usr/lib/python2.7/dist-packages/salt/mi

[2018-04-17 09:52] pcjeff opened #47116 "pip 10.0.0 can not import pip.req"
### Description of Issue/Question

reference: https://github.com/saltstack/salt/blob/develop/salt/states/pip_state.py
In pip_state.py line 44, salt seems to import pip.req.
However, in pip latest version 10.0.0, there is no req module.
[code]
Most states requiring pip and automatically install the latest pip (10.0.0).
This caused all states which require pip failed.
I ran into one of them when I t

[2018-04-17 09:58] JackyTung commented on #47116
I encounter the same issue.
my salt-master & salt-minion version is also 2018.3.0

but I cannot install pip successfully,
my .sls is

[code]

and the error msg is:

[code]

[2018-04-17 10:03] mirceaulinic commented on #47011
Seems that you have a syntax error in your YAML Pillar:

```action: acceptnetacl:``` shouldn't have the trailing `:`.

[2018-04-17 10:11] #32356 closed

[2018-04-17 10:13] prashanthtuttu opened #47117 "Napalm / Capirca Issue"
### Description of Issue/Question
Napalm / Capirca Issue

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
As suggested by **mirceaulinic** Copied the capirca_acl.py module to _module directory, but still facing the below error
https://github.com/saltstack/salt/issues/47011

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

[2018-04-17 10:56] prashanthtuttu commented on #47011
@mirceaulinic : Changed my pillar info as below and tried exeution, but still same error occurs.

testdevice-ios:
    ----------
    netacl:
        |_
          ----------
          my-filter:
              ----------
              terms:
                  |_
                    ----------
                    my-term:
                        ----------
                        action:

[2018-04-17 10:56] prashanthtuttu commented on #47011
netacl:
  - my-filter:
     terms:
       - my-term:
          source_address: 1.2.3.4
          destination_address: 2.2.2.2
          action: accept

[2018-04-17 12:25] mirceaulinic commented on #47011
It would probably help if you could use the Markdown syntax so we can see the exact structure you used (in the current form above, nobody can follow) - see https://guides.github.com/features/mastering-markdown/.

[2018-04-17 12:39] prashanthtuttu commented on #47011
@mirceaulinic Pls refer https://gist.github.com/prashanthtuttu/ae59945bdc5ba47853f2c4c9e09a6eb6

[2018-04-17 12:41] vutny commented on #32388
I would like to test if this still an issue with latest release.

[2018-04-17 13:13] darkalia opened #47118 "Salt-master very slow to accept salt-minion in auto_accept: True in Docker"
### Description of Issue/Question

First, a bit of context as to why I'm doing this setup.

The aim is to provide a master spawning through pytest some docker containers used for packaging (debian/rpm) test.
My workflow (not ideal, but that's what we have right now) is to :
* run a shell scripts building and starting the salt-master
* execute a pytest command inside this container which will
** sp

[2018-04-17 13:43] azelezni opened #47119 "Thorium reactor not working"
### Description of Issue/Question
Thorium reactor doesn't seem to work at all.
Followed the following article https://hub.packtpub.com/thorium-and-salt-api/, and tried some custom events but nothing seems to work.

I have a reactor setup for the same event tag and the reactor is working fine, but with the same event tags thorium just does nothing.

Even with thorium_test_no_event.sls (this is supp

[2018-04-17 14:49] Ch3LL commented on #47096
Can you share a sanitized version of your cloud profile?

[2018-04-17 15:28] xuming2860 commented on #47112
ws4py(0.5.1)

[2018-04-17 15:30] Ch3LL commented on #47116
Thanks for the PR! as this PR fixes this issue I will close here but please let me know if i need to re-open :)

[2018-04-17 15:30] #47116 closed

[2018-04-17 15:33] Ch3LL commented on #47117
can you see latest comment from @mirceaulinic from here: https://github.com/saltstack/salt/issues/47011#issuecomment-381985137 and paste asnwer here

[2018-04-17 15:52] Ch3LL commented on #47118
the culprit seems to be on the master between these two lines:

[code]

That alone is taking 40 seconds. I am not able to replicate this with just running `salt-master -ldebug` in 2016.11.9. If you start up the salt-master like so : `salt-master -d` instead of using systemd controls does it startup faster?

Also any possible way you can try wiht a newer version of salt? 2017.7 or 2018.3?

[2018-04-17 16:25] darkalia commented on #47118
Maybe related to docker, so here is my docker info

[code]

[2018-04-17 16:29] mchugh19 opened #47124 "Vault module problem in 2018.3.0"
### Description of Issue/Question
vault.read_secret fails when 2017 minion runs against a 2018.3 salt-master.

Minion:
[code]

And master logs sometimes show
[code]

In trying to troubleshoot the _validate_signature function, I added debug lines to print out the minion signature and got:
[code]

At this stage I'm guessing there is an issue with the strings being passed, and the recent unicode upda

[2018-04-17 16:31] darkalia commented on #47118
This is a result with a 2018.3 salt version
[code]

[2018-04-17 16:34] Ch3LL commented on #47119
and what command are you running to set off the thorium reactor? and how are you verifing that it works?

[2018-04-17 16:38] Ch3LL commented on #47124
ping @terminalmage any ideas here when working with new salt-master and lower version of salt-minion?

[2018-04-17 16:55] doesitblend opened #47125 "Runas Causing "invalid directory" error on Windows."
### Description of Issue/Question
When using `cmd.script` with the `runas` option I am getting an error "The current directory is invalid".

### Setup
Install Salt 2017.7.5 on Windows 2016.

Create a test user using `salt '<test minion>' user.add borneo <some password>`.

### Steps to Reproduce Issue
Run the following state on the newly configured minion from above.

[code]

[mytestscript.ps1.tar.

[2018-04-17 16:56] doesitblend commented on #47125
ZD-2428

This may be related to https://github.com/saltstack/salt/issues/45063 and/or https://github.com/saltstack/salt/issues/45643.

[2018-04-17 17:02] azelezni commented on #47119
[code]

I don't understand the question, if I could verify Thorium worked I wouldn't be here :)
I can verify that the event reached the master, I have a reactor listening to the same tag and writing to a file whenever that tag is matched.
reactor.conf:
[code]
test.sls:
[code]
Anyway, after playing around the master configurations I made some progress, it seems thorium doesn't play nice with GitFS.

[2018-04-17 17:38] epcim opened #47126 "Failed to load ext_pillar reclass: Item in ``from list'' not a string"
### Description of Issue/Question
Usage of __future__.unicode_literals prevents python 2 user to use `from xyz import *` and related.

The issue is also described here: https://bugs.python.org/issue4128

Best-practice, recommendation what way to use with the old code to be both ways compatible?

### Setup
Salt 2018.3 from stable and reclass (from gh:salt-formulas/reclass)

### Steps to Reproduce I

[2018-04-17 18:23] etong8306 opened #47127 "slack engine - unable to target specific minions/cmd.run"
# Description of Issue/Question

I've currently been trying to integrate and send basic commands from my slack to my salt Master/Minions. The commands that I've been running haven't been running as intended, I'm also receiving an error message trying to receive the messages.

## Versions Report

[code]

## Setup Engine.conf
[code]

Below are the logs I've received from the debug

! test.ping

###

[2018-04-17 18:24] mchugh19 commented on #47124
More investigation has narrowed the issue to the validate_signature call itself. Not sure why it works for 2018 minions but not 2017 ones.

[2018-04-17 18:25] gigi206 opened #47128 "Questions about grains (bug with pillar inside Python grains with multiples env ?)"
### Description of Issue/Question
### Setup
SLS => https://github.com/gigi206/salt-test/tree/test
Pillars => https://github.com/gigi206/salt-test-pillar/tree/test

### Steps to Reproduce Issue
create minion config file `/etc/salt/minion.d/minion.conf` :
[code]

### Versions Report
[code]

### Issue
I use git with environments by branch from github for manage root and pillars. I create 2 repo with

[2018-04-17 19:33] nathanjsweet opened #47130 "Issues Containerizing Salt Master"
### Description of Issue/Question
I have created a docker image of the salt-master at the following location:
https://github.com/daticahealth/images/blob/49f334c1696fdcf885b7f5d2a04cc054e26bfc89/salt-master/Dockerfile

When I try to run the container the container actually does stand up, but the processes keep restarting with the following error:
[code]
The salt-master processes then restart leadi

[2018-04-17 20:19] twangboy commented on #45643
Related: https://stackoverflow.com/questions/21172761/runas-savecred-dont-accept-cmdkey-add-credentials

[2018-04-17 20:32] #30771 closed

[2018-04-17 20:43] doesitblend commented on #46236
@rallytime @lomeroe This does not seem to quite fix the issue. I think this is close. I am attaching this screenshot to demonstrate what I am still seeing. I see that the settings I configured manually previously were configured and they appear correctly in `gpedit.msc`. However, for Windows Updates I have what you see in the screenshot. This may actually be okay, but I'm not an expert on Windows.

[2018-04-17 20:46] #46877 closed

[2018-04-17 20:49] #45008 closed

[2018-04-17 20:58] githubcdr opened #47135 "Vault vault.read_secret fails if missing m2crypto"
### Description of Issue/Question

It seems that when M2Crypto is not installed the vault read_secret module fails with an RSA error.

### Setup

Latest Saltstack 2018.3.0 on master and minion.

### Steps to Reproduce Issue

[code]

This is fixed after manually installing python2-m2crypto and restarting the minion.

On a fresh Windows minion this fails since m2crypto is not bundled with the instal

[2018-04-17 21:31] githubcdr opened #47136 "vault.policy_present fails on 2018.3.0 with KeyError: u'__run_num__'"
### Description of Issue/Question

The state vault.policy_present does not seem to work with Salt 2018.3.0.

### Setup

Latest Salt on master and minion, running vault on the master that's also a minion ;)

### Steps to Reproduce Issue

salt skynet state.apply local.vault

[code]

local.vault

[code]
### Versions Report

[code]

[2018-04-17 21:31] terminalmage commented on #47124
Duplicate of https://github.com/saltstack/salt/issues/46864, already fixed in 01a5b88.

[2018-04-17 21:32] wschmrdrNS commented on #47092
I had seen a similar issue today, albeit with another package:

[code]

I experience no issues when reverting to salt 2017.7.5-ds+1 . Minion and master were running the same version.

[2018-04-17 21:36] terminalmage commented on #47092
@gtmanfred I was not involved at all with it, so I cannot say. It seems to be related to https://github.com/saltstack/salt/issues/38838 and PR https://github.com/saltstack/salt/pull/44455 as the OP noted.

[2018-04-17 21:39] doesitblend commented on #46236
@lomeroe @rallytime I tested this again with the same setup, but with 2017.7.5 and had the same result as above.

[2018-04-17 21:42] mchugh19 commented on #47124
That wasn't the issue. After correcting the log.debug line, we are unable to perform vault lookups on 2017 minions due to not being able to validate signatures.

[2018-04-17 22:06] dmurphy18 opened #47137 "Backport to Salt 2018.3 of zfs support parsable output"
### Description of Issue/Question
Backport to Salt 2018.3 of https://github.com/saltstack/salt/pull/46933

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minio

[2018-04-17 22:22] Eelis opened #47139 "Wildcard support in service.status does not work for systemd instantiated services"
### Description of Issue/Question

Salt 2018.3.0 added wildcard support to `service.status`, but it currently appears unable to find systemd [instantiated services](http://0pointer.de/blog/projects/instances.html).

### Steps to Reproduce Issue

1. start a systemd instantiated service (with a unit id like `myapp@bla.service`)
2. run `salt "*" service.status "myapp@bla"` and observe that the servic

[2018-04-17 23:09] weswhet commented on #44130
@edunham Any chance you can test and see if this is still an issue on salt 2018.3.0. I'm unable to reproduce. I believe this was originally due to a bad os version comparison as macOS 10.11.6 should be using the mac_service module not launchctl.py.

[2018-04-17 23:36] chavenor commented on #44600
Does tornado 4.0.2 support TLS 1.1 and TLS 1.2?

[2018-04-18 00:46] gzcwnk opened #47141 "2017.7.5.1.el7 seems broken when running state.highstate"
### Description of Issue/Question

I can test.ping a salt-minion but not run state.highstate on the minion and lots of errors, permissions? in minion log.

###
[root@vuwunicorhsat01 salt]# salt vuwunicoedwdbd2.ods.vuw.ac.nz test.ping
vuwunicoedwdbd2.ods.vuw.ac.nz:
    True
[root@vuwunicorhsat01 salt]# salt vuwunicoedwdbd2.ods.vuw.ac.nz state.highstate
vuwunicoedwdbd2.ods.vuw.ac.nz:
    Minion did

[2018-04-18 00:46] gzcwnk commented on #47141
root@vuwunicoedwdbd2 /]# systemctl status salt-minion
● salt-minion.service - The Salt Minion
   Loaded: loaded (/usr/lib/systemd/system/salt-minion.service; disabled; vendor preset: disabled)
   Active: active (running) since Wed 2018-04-18 10:55:12 NZST; 1h 43min ago
     Docs: man:salt-minion(1)
           file:///usr/share/doc/salt/html/contents.html
           https://docs.saltstack.com/en/la

[2018-04-18 01:45] gzcwnk commented on #43127
I might be getting this as case "2017.7.5.1.el7 seems broken when running state.highstate #47141"

[2018-04-18 01:46] terminalmage commented on #47124
OK, I've reopened it. Can someone who is familiar with vault take another look? @dmurphy18 @gtmanfred

[2018-04-18 01:47] gzcwnk commented on #47141
[root@vuwunicorhsat01 salt-files]# salt vuwunicossj0001.ods.vuw.ac.nz state.sls mid-resolv_conf
vuwunicossj0001.ods.vuw.ac.nz:
----------
          ID: resolv7_setup
    Function: cmd.script
      Result: False
     Comment: Unable to cache script salt://resolv7.sh.mid from saltenv 'base'
     Started: 13:47:07.473729
    Duration: 15.96 ms
     Changes:
              ----------
              cach

[2018-04-18 01:50] gzcwnk commented on #47141
on the minion log,

========
[root@vuwunicoedwdbd2 /]# systemctl restart salt-minion
[root@vuwunicoedwdbd2 /]# tail -f /var/log/salt/minion
2018-04-18 12:41:22,087 [salt.loaded.int.module.cmdmod:695 ][ERROR   ][13858] stdout: sysctl: cannot stat /proc/sys/net/ipv4/netfilter/ip_conntrack_max: No such file or directory
2018-04-18 12:41:22,087 [salt.loaded.int.module.cmdmod:699 ][ERROR   ][13858] ret

[2018-04-18 01:59] gzcwnk commented on #47141
OK figured it. /etc/salt/master had been replaced with a stock file and not our edited one.

[2018-04-18 02:00] gzcwnk commented on #43127
ignore above.

[2018-04-18 03:49] humitos commented on #45039
I'm having the same issue here. What would be a workaround for this if any? Thanks!

[2018-04-18 05:03] prashanthtuttu commented on #47011
@mirceaulinic - Pls find the output

root@sc-net-salt-proxy-dev-01:~# python
Python 2.7.12 (default, Dec  4 2017, 14:50:18)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

[2018-04-18 05:11] prashanthtuttu commented on #47011
root@sc-net-salt-proxy-dev-01:~# python
Python 2.7.12 (default, Dec  4 2017, 14:50:18)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

[2018-04-18 05:15] prashanthtuttu commented on #47011
@mirceaulinic - Attaching the result
https://gist.github.com/prashanthtuttu/80586187371273188b44946c65b95609

[2018-04-18 05:56] prashanthtuttu commented on #47117
Attaching the result
https://gist.github.com/prashanthtuttu/80586187371273188b44946c65b95609

[2018-04-18 05:58] rnd0101 commented on #47042
Was same problem (Ubuntu 16.4) here in file.managed, workaround was effective, thanks.

[2018-04-18 06:10] Talkless commented on #47033
Ping @Ch3LL

[2018-04-18 07:32] tjuup opened #47144 "TypeError: unicode not allowed, use setsockopt_string"
### Description of Issue/Question
After upgrading the salt-master to 2018.3.0 I see these errors in the master log:
Everything seems to work though.

<snip>

<end snip>

### Versions Report
# salt --versions-report

[2018-04-18 08:28] InspektorWarnebring opened #47145 "Identical documentation for manage. alived / allowed"
### Description of Issue/Question

The salt 2018.3.0 documentation provides identical descriptions for the salt.runners.managed.alived and the salt.runners.managed.allowed functions:
https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.manage.html

[2018-04-18 08:30] vernondcole opened #47146 "pip.install broken on Windows minions with Python3 in path."
### Description of Issue/Question

Windows minions which have python3 installed as the default Python cannot install packages using the pip.install module or pip.installed state.

### Setup

The `win16` Vagrant box on [learn-salt](https://github.com/vernondcole/learn-salt) will show the error.
[code]

Install Python3 for all users as the system default Python on a Windows machine
with the Python3

[2018-04-18 08:31] #47145 closed

[2018-04-18 08:35] stamak commented on #46663
https://storyboard.openstack.org/#!/story/2001794

[2018-04-18 10:04] tjuup commented on #47144
Fixed by applying this fix for python3 although we still use python2.7
https://github.com/saltstack/salt/pull/46878/files

[2018-04-18 10:04] #47144 closed

[2018-04-18 10:12] mchugh19 commented on #47124
Seeing the related ticket #47135, we tried removing the m2crypto package, and now vault.read_secret commands work properly from our minion.

[code]

[2018-04-18 10:56] mchugh19 commented on #47124
Removing m2crypto fixed the issue, but shortly afterwards the master lost connectivity with the minion. Even though pycrytpodome isn't installed, we seem to be getting hit by #46868. After the key refresh, we were not able to communicate with the 2018 minion.

[2018-04-18 11:11] eliasp commented on #47139
Did you try `myapp@*` instead of `myapp*`?

[2018-04-18 11:30] mchugh19 commented on #47124
In our case, our salt-master did not have m2crypto. If the minion does then the validate_signature call fails. Seems that master and minion both need to be using m2crypto or not in order to have validate_signature work, and thus have vault.read_secret succeed.

[2018-04-18 11:33] #32016 closed

[2018-04-18 11:33] #31048 closed

[2018-04-18 11:35] danbst commented on #46891
Same problem after upgrade to 18.03

[2018-04-18 11:46] Cecolo commented on #46909
@epelc +1: Can you post the workaround? Thanks

[2018-04-18 11:53] mattp- commented on #46868
@wongchao in your case that is definitely because your old version of msgpack-python (0.3.0). can you upgrade?
@brianeclow can you check if msgpack-python on your minion is also 0.4.7?
@garethgreenaway ext_hook doesn't exist in msgpack-python listed in requirements.txt. that is probably causing atleast that class of error people are seeing

[2018-04-18 12:24] syphernl commented on #47089
@gtmanfred as requested:

[code]

According to the output, both use `UTF-8`.

We have now worked around this on our end by ensuring our `authorized_keys` do not contain diacritics

[2018-04-18 12:25] cskowronnek commented on #47096
@Ch3LL Megan, here it is:

azure-es-node:
  provider: azurearm
  master: host.domain.tld
  image: Canonical|UbuntuServer|16.04-LTS|latest
  size: Standard_B4ms
  location: westeurope
  network: VNET-xxx
  subnet: VNET-xxx-Subnet1
  storage_account: xxx742
  storage_key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  ssh_username: xxxxxxxxxxxxxxx
  ssh_publickeyfile: /etc/salt/cloud.profiles.d/xxxxx

[2018-04-18 12:37] davelindquist-egistix commented on #45039
The only real workaround I can think of is to do the precondition in Jinja somehow and not template in the entire thing if the precondition isn't met.  Of course, that has it's own problems if anything depends on this state.

For my own part, the only thing I can do is just ignore the error each time I apply the state -- less than ideal.

[2018-04-18 12:50] gtmanfred commented on #40626
Did you move to the new shade openstack driver, and also enable caching in the shade config?

[2018-04-18 12:54] gtmanfred commented on #47089
Ok, looks like this is setup correctly, thanks for reporting.
Daniel

[2018-04-18 13:51] srkunze opened #47150 "[Regression] ip_to_host and SSH._expand_target require missing reverse-lookup"
Hey folks, we got an interesting problem. We fixed it by temporarily updating our DNS entries but this won't last long.

So, this problem occurred after upgrading to 2018.3.0.

This is what we saw at the first glance

[code]

We assert-debugged salt and found that the issue at hand is caused by the two following functions:

https://github.com/saltstack/salt/blob/68aeb62a950666/salt/client/ssh/__in

[2018-04-18 13:55] mattp- commented on #47141
@gzcwnk can you please close this issue

[2018-04-18 14:08] rallytime commented on #46909
Closed via #47041

[2018-04-18 14:08] #46909 closed

[2018-04-18 14:13] #36543 closed

[2018-04-18 14:37] rallytime commented on #47137
This is the work that needs to be done to fix #46903. Once this issue is done, we should be able to close #46903 as well.

[2018-04-18 14:39] #46351 closed

[2018-04-18 14:39] #46347 closed

[2018-04-18 14:42] Poil opened #47152 "Question : Custom grains deployment via git ?"
Hi,

Is it possible to deploy custom grains via gitfs or ext_xxx ? I'm unable to find this in the documentation.

Best regards,

[2018-04-18 14:45] #46697 closed

[2018-04-18 14:45] #46704 closed

[2018-04-18 14:45] #46703 closed

[2018-04-18 14:45] #46702 closed

[2018-04-18 14:45] #46700 closed

[2018-04-18 14:45] #46699 closed

[2018-04-18 14:45] #46698 closed

[2018-04-18 14:46] #46343 closed

[2018-04-18 14:54] garethgreenaway commented on #47125
Maybe a permissions thing?  @twangboy @dwoz Thoughts?

[2018-04-18 14:55] rallytime commented on #47089
Thanks @syphernl for reporting this. This should be fixed with #47153.

[2018-04-18 14:56] terminalmage commented on #47042
@teran-mckinney `file.recurse` does a `file.managed` for each path under the source directory, so the fix should indeed apply to both.

[2018-04-18 15:01] wschmrdrNS opened #47154 "Recursion error in onchanges_any when file not touched"
### Description of Issue/Question
On running a command using onchanges_any for a file list, if the file wasn't up for a potential change, a RuntimeError Traceback for maximum recursion is received in 2018.3, while in the 2017.7 builds, the file is inferred as not having been changed (which is what I was expecting).

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sen

[2018-04-18 15:01] garethgreenaway commented on #47127
The formatting issue on returned data should be fixed with https://github.com/saltstack/salt/pull/47142, I'll checkout the targeting and cmd.run issues.

[2018-04-18 15:02] Poil commented on #47152
Ok I have to put them in the top-formula repository.

[2018-04-18 15:02] #47152 closed

[2018-04-18 15:09] garethgreenaway commented on #47141
Looks like this one is resolved.  Going to close it out.

[2018-04-18 15:09] #47141 closed

[2018-04-18 15:15] brianeclow commented on #46868
@mattp- randomly selected salt minion versions-report shows the msgpack-python version as
[code]

Did a salt command to pull that from all the salt versions-reports, and it looks like a handful of the minions have `msgpack-python: 0.3.0` instead.

[2018-04-18 15:25] Ch3LL commented on #47033
thanks for the test case I am able to replicate this now. It seems to be caused by the combination of contents and the watch_in. ping @saltstack/team-core any ideas here?

[2018-04-18 15:28] gtmanfred commented on #47033
Probably because module.wait only runs on a watch_in, and module.mod_watch is aliased to whatever module.run you are using, and if you don't move to the new module.run format (use_superseded), then the old module.run is used on a watch/listen.

https://github.com/saltstack/salt/blob/2017.7/salt/states/module.py#L554

[2018-04-18 15:36] garethgreenaway commented on #47154
Might be related to what was fixed in https://github.com/saltstack/salt/pull/46788

[2018-04-18 15:41] garethgreenaway commented on #47146
@twangboy @dwoz @terminalmage Thoughts?  Perhaps something related to the big Unicode change for 2018.3?

[2018-04-18 15:44] cbosdo opened #47156 "messy virt module connection setup"
### Description of Issue/Question

The setup of the connection used by libvirt in the virt module is rather messy, using different values that could be consolidated and not documented.

For instance to setup a connection to a xen machine, the user needs to add `virt.connect: xen:///` to his minion configuration. To configure an ESXi connection, it will need to setup libvirt alias and authenticatio

[2018-04-18 15:45] garethgreenaway commented on #47139
@Eelis Thanks for the report.  According to the documentation this looks like something that should be supported.

[2018-04-18 15:47] cbosdo commented on #47156
I'm working on that already.
New configuration would be accessed with config.get and have the following structure:

    libvirt:
        connection: the-uri-to-connect-to
        auth:
            username: myuser
            password: supersecret

The `libvirt:hypervisor` setting would be useless.

Setting the connection to None (default) would let libvirt guess the connection depending on the av

[2018-04-18 15:49] sgh1 opened #47157 "Comments not allowed in reactor .sls files?"
### Description of Issue/Question

I tried the reactor example here: https://codehammer.io/blog/post/saltstack-highstate-email-alerts/

It works as stated, but if I add this at the top of the file, it doesn't seem to work anymore:

\# Here is a comment

Not sure if that's stated in the docs, but I didn't see it. Maybe comments aren't advised in any .sls files, but I've been doing it for a while!

[2018-04-18 15:50] Ch3LL commented on #47096
thanks :)

i'm having a hard time replicating this. ping @saltstack/team-cloud any ideas here?

[2018-04-18 16:02] Ch3LL commented on #47030
did you recently update salt? can you try an older version of salt and see if it doesn't work still?

[2018-04-18 16:07] garethgreenaway commented on #47130
I grabbed your Dockerfile and tested it out.  When the salt-master starts up and while it's running it will periodically update the available grains, which is where those log messages are coming from.  They are both expected messages since 1) you're running Salt inside a virtualized environment and do not appear to have the virt-what binary installed and 2) You're not running an `init` type system

[2018-04-18 16:09] RobSpectre commented on #46971
@gtmanfred looking like this pip upgrade is a little more subtle.

When I apply the patch, none of my `virtualenv` states install the specified requirements file.

When I remove the patch, the `virtualenv` states work as before.

What would be really helpful is the ability to pin the pip version inside a `virtualenv` state.

[2018-04-18 16:10] Ch3LL commented on #47112
i'm still not able to replicate this. ping @saltstack/team-netapi any ideas here?

[2018-04-18 16:12] garethgreenaway commented on #47157
Because the SLS file is being interpreted by default as a Jinja template, you need to use Jinja comments.
`{# This is a comment #}`
http://jinja.pocoo.org/docs/2.10/templates/#comments

[2018-04-18 16:34] cbosdo commented on #47156
I wonder how to allow the user to change the libvirt connection details on the fly for each `virt.*` function. Should I use optional parameters for connection URI, username and password or is there a way to specify those in another way (like the pillar)?

[2018-04-18 16:34] Ch3LL commented on #47119
apologies I should have clarified my request. I was trying to make sure the way you were attempting to verifying if it was working or not was correct. and that you weren't checking for something else.
Anyways, i wonder since you are using gitfs if you were to add the following if it would help?:

[code]

[2018-04-18 16:40] garethgreenaway commented on #47126
@epcim Thanks for the report.  Seems like this is an upstream issue.  Because of the recent Unicode works that went into 2018.3 we need unicode_literals.

[2018-04-18 16:46] Ch3LL commented on #47118
I still can't replicate this in a docker container. I'm wondering if you have some extra master settings in master.d? Any chance you can share your docker container?

[2018-04-18 17:00] RobSpectre commented on #46971
@gtmanfred Do you have such a pull request against 2018.3.0?

[2018-04-18 17:05] garethgreenaway commented on #47128
@gigi206 Thanks for the report.  I do not believe this is possible.  If you run your salt-call commands with debug logging you should see why.  Grains are evaluated first and then pillar values.

[2018-04-18 17:14] gtmanfred commented on #46971
not yet, it will be merged forward against 2018.3.0

[2018-04-18 17:41] whytewolf opened #47160 "pkg.install on Arch upgrades full OS as a default option."
### Description of Issue/Question
On Arch Linux running `pkg.install vim refresh=true` will upgrade the entire OS instead of just installing the latest version of vim. This does not follow the other package managers and becomes unintuitive when dealing with multiple Linux distros.

This behavior is documented. However, It doesn't follow the standard that other pkg modules use for full os upgrade.

[2018-04-18 17:41] whytewolf commented on #47160
ZD-2445

[2018-04-18 17:50] mephi42 commented on #32500
I tried to implement this in #46841 myself, and while the result kind of sort of worked, there were nasty side-effects. The solution consisted of making sure `utils` modules are uploaded in the first place (I'm using `salt-ssh` exclusively and there it did not work - perhaps regular salt is different) by changing `salt.client.ssh.mod_data()`, and then making sure they are added to the search path

[2018-04-18 18:14] dmurphy18 commented on #46868
@brianeclow Those minions reporting msgpack-python: 0.3.0, what versions of OS platform and salt-minion are they, and is it possible to retrieve a few versions report from them ?

[2018-04-18 18:29] azelezni commented on #47119
That did that trick, after adding `roots` thorium started using the top file located at `/srv/thorium/top.sls`.

This gave me an idea, since thorium doesn't directly support gitfs, it's based on the state system that does support it, with some tweaking I managed to get thorium to use gitfs.
Using this config:
[code]
top.sls at`thorium/top.sls` in repo:
[code]
Also had to force thorium to use a spe

[2018-04-18 18:47] brianeclow commented on #46868
All minions are running `2017.7.5`, and they are ubuntu 14.04. They are some of the oldest launched instances in the infrastructure. The configuration management, like most of them, if famous for not updating anything that it is not explicitly told to update. In other words, if the package doesn't require a dependent package to have a version bump, then the CM will not implicitly bump the package

[2018-04-18 18:52] rallytime commented on #47042
Closed via #47061

[2018-04-18 18:52] #47042 closed

[2018-04-18 19:25] gigi206 commented on #47128
Thank you for your reply :)

Bad news :(

There is a way to set in fly a custom grain with a pillar ?

And with grains.present, there is a way to use the grain on others states ?

[2018-04-18 19:30] mattp- commented on #46868
quite a few issues flying around this thread;
fwiw it looks like msgpack-python ext_hook is introduced in 0.3.1, so I'm willing to wager the guess that those ext_hook stacktraces are strictly from minions running 0.3. those who have seen it would be nice to confirm if that assumption is correct?

[2018-04-18 19:54] dmurphy18 commented on #46868
@brianeclow Thanks for the information. Yes, just because the SaltStack repo provides 0.4.x, doesn't mean that it gets used. I shall update the dependencies for all platforms to require a minimum >= 0.4 which should help address this problem.

[2018-04-18 20:46] terminalmage commented on #46891
I can't reproduce this. Can one of you provide an example SLS file that triggers this error?

[2018-04-18 21:11] terminalmage commented on #46949
@Ch3LL @jtd330 I think that https://github.com/saltstack/salt/pull/47061 should fix this.

[2018-04-18 21:13] terminalmage commented on #46978
@garethgreenaway I think this has something to do with how file.managed attempts to get a diff of what was changed. It should be fixed with https://github.com/saltstack/salt/pull/47061.

[2018-04-18 21:33] #31938 closed

[2018-04-18 22:29] gtmanfred commented on #46906
This should be fixed by https://github.com/saltstack/salt/pull/47168

[2018-04-18 23:05] cheribral commented on #46859
I checked out 2018.3, ran it to test and it worked.  Thank you!

[2018-04-18 23:05] #46859 closed

[2018-04-18 23:55] danbst commented on #46891
Indeed, it is hard to reproduce. Here is listing of a directory when I run fresh 18.3.0:
[code]
When I remove this directory and rerun `state.highstate`, the listing is like this:
[code]
Deployment works now (notice owner of `running_data` has changed). So I think this is cache issue - new Salt doesn't clear previous Salt (17.7.4) cache directory before deployment.

[2018-04-19 04:15] DaveQB commented on #30066
I am getting this too. It only happens on a state.apply/state.highstate. If I run state.sls or cmd.run etc, we have no issue.

Error I am setting is a help page:

`
Passed invalid arguments: list indices must be integers, not str.

Usage:

    .. versionadded:: 2015.5.0

    This function will call :mod:`state.highstate
    <salt.modules.state.highstate>` or :mod:`state.sls
    <salt.modules.state

[2018-04-19 07:04] Zambozo opened #47171 "salt2018.3 cpu problem."
### Description of Issue/Question

The CPU load of the if the server is beyond normal.

I have noticed that salt master is taking for ever to respond to one test.ping

load average: 3025.51, 3041.50, 3102.71

this is ec2 m3.medium

the log is full of ::
[code]

### Versions Report
Salt Version:
           Salt: 2018.3.0

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Inst

[2018-04-19 08:41] mirceaulinic commented on #47117
Yes, that looks good. As longs as you started the process for the Proxy Minion after you installed Capirca, and follow the documentation notes from https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.capirca_acl.html, everything should be alright.

[2018-04-19 08:49] asymetrixs commented on #42421
Dear All,

I got the same problem using file.symlink:

[code]
Returns
`TypeError: makedirs_() got an unexpected keyword argument 'user'`

Running salt 2017.7.4 on Windows 7

[2018-04-19 09:42] fpicot opened #47173 "pkg.installed ignores normalize parameter"
### Description of Issue/Question
pkg.installed does not honor the normalize parameter. This prevents the installation of packages containing an arch as part of the name (eg: uptrack-updates-3.10.0-693.11.1.el7.x86_64)

### Setup
Installed package :
[code]

test.sls :
[code]

Expected result :
[code]

Actual result:
[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.

[2018-04-19 09:49] fpicot commented on #47173
I believe this is a side effect of #42275.
Since this pull, a call to pkg.installed with only 'name' is repacked into 'pkgs'.

In [pkg.py](https://github.com/saltstack/salt/blame/develop/salt/states/pkg.py), when reaching "_find_install_targets", we always follow the path at lines 524-526 :
[code]

The call to _repack_pkgs drops the parameter 'normalize', and the state file.

By fixing the call to

[2018-04-19 09:55] morganwillcock opened #47174 "2018.3.0 changed Windows minion names on upgrade"
### Description of Issue/Question

It seems that my Windows minions are being renamed, and force me to re-accept the key on the master.

### Steps to Reproduce Issue
I've had a couple of quick goes at trying to reproduce it, but haven't managed it for the moment. It did change of the name of every Windows minion I had though (and Linux minions were fine). The arguments for the installer (from the

[2018-04-19 10:13] rsuarezsoto opened #47175 "diff of file changes using test=True shows "-" for new lines and "+" for old ones"
In some update between 2017 and 2018 versions, the diff shown for changes that are going to be made has inverted the plus and minus signs. I.e., a line that is going to be added is shown with a minus ("-") sign prepended, and a line that is going to be removed appears with a plus ("+") sign. For example:

[code]
In this case, the line `#cooldown=600` is the one already present in the file, to be s

[2018-04-19 10:38] #29475 closed

[2018-04-19 10:46] prashanthtuttu commented on #47117
@mirceaulinic - i Followed the same steps mentioned on th link but still issue exists. i run the below cli command
salt 'device2' capirca.get_filter_config junos my-filter pillar_key=netacl test=true  and get same error on both version.

device2:
    'capirca.get_filter_config' is not available.

[2018-04-19 11:14] mirceaulinic commented on #47117
@prashanthtuttu is the Proxy process running on the same machine as your Master?

[2018-04-19 11:34] prashanthtuttu commented on #47117
@mirceaulinic - I have 2 setup , 1. master and proxy in same server , 2. Both in diff server.
Both the cases i face same issues

[2018-04-19 11:38] #32046 closed

[2018-04-19 11:50] prokashyap commented on #20777
[code]

**This is a small python program just to read a yaml file. It throws the same error.**

  File "k8s_automate.py", line 12, in <module>
    print elem['spec']
TypeError: string indices must be integers, not str

I am still facing this issue, please help with this.

[2018-04-19 12:02] mirceaulinic commented on #47117
The recipe is simple: install Capirca as documented wherever you have the Salt Proxy Minion running, and make sure to restart the Proxy process after restart. That's all.

[2018-04-19 12:16] MatthiasKuehneEllerhold commented on #46891
I've tested this extensivly. Neither clearing the cache on the machine nor on the master changes anything.
Here is the directory listing of a (working!) 2017.7.4:
[code]

My salt user is named "salt" btw.

[2018-04-19 12:25] gtmanfred commented on #47160
Yes, that is correct That should be the defaults on arch, if you refresh, you need to do an upgrade, otherwise you end up with broken so names because pacman does not resolve upgrades to sonames and force other packages to upgrade.

If you want to do only a refresh and install, and not upgrade you can end up with an unbootable system, but you can do this by setting `sysupgrade=False` on the comman

[2018-04-19 12:25] #47160 closed

[2018-04-19 12:28] MatthiasKuehneEllerhold commented on #46891
I've boiled the error down to this minimally reproducible state.
testing/test.sls
[code]
testing/files/my-test-file.txt
[code]
Calling salt-ssh
[code]

[2018-04-19 12:28] gtmanfred commented on #47160
https://gist.github.com/vodik/5660494  Here is the story that archlinux maintainers and people in #archlinux on freenode give to people that -Sy instead of -Syu.

[2018-04-19 12:31] soostdijck commented on #46730
Just to update that this issue is still around after upgrading to 2018.3.0, slightly changed:
[code]

[2018-04-19 12:32] kyrias commented on #46943
It was.

[2018-04-19 12:38] danbst commented on #46891
@MatthiasKuehneEllerhold How do you invoke salt-ssh 18.3.0? Do you install it globally in your distro, or install it in separate virtualenv? I've noticed the issue exists when salt is installed globally, but no issue when run from virtualenv. My distro is Ubuntu 16.04 though.

[2018-04-19 12:39] MatthiasKuehneEllerhold commented on #46891
I've installed it via `apt-get` globally.

[2018-04-19 12:45] isdig opened #47176 "Windows Minion That Has IAM Role Cannot Access to S3"
### Description of Issue/Question

Trying to download a file from AWS S3 to my Windows minion (IAM role is attached) but it says

I can get the file by declaring s3.keyid and s3.key in minion config file but I need to do it via IAM Role.

BTW I also can access to the file using the same IAM role on **Linux minions** (they are both ubuntu and one of them is my master/minion called "salt-master-mini

[2018-04-19 13:16] asymetrixs opened #47178 "TypeError: makedirs_() [...] for file.symlink and file.shortcut"
Dear All,

I have a problem with file.symlink and file.shortcut:
[code]
Same happens for `file.shortcut`
[code]
Running salt `2017.7.4` on Windows 7

Also referencing #42421

[2018-04-19 13:25] danbst commented on #46891
Can you try to run it from virtualenv? If it works there, then it's distribution issue.
[code]

[2018-04-19 13:32] tighepatrick opened #47179 "Documentation 404 page shows old releases"
### Description of Issue/Question
On docs.saltstack.com, when hitting an invalid page, such as https://docs.saltstack.com/en/latest/foo a user will see old releases in the top right corner of the page.  2016.3.x is marked with the red checkmark, and 2015.8.x is the other version shown
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Rep

[2018-04-19 13:38] terminalmage commented on #46859
@cheribral No problem! Thanks for the follow-up and for testing!

[2018-04-19 14:07] soostdijck opened #47180 "Running file.replace from scheduled job fails"
### Description of Issue/Question
I've got my scheduled jobs configured via the pillar, which seems to work fine for highstate runs. However I want to add a scheduled job so that I can edit the minion's motd file to clearly indicate that the minion is in blackout mode.
To get this working I white listed 'file.replace' inside the 'minion_blackout_whitelist' grain. The I've added a scheduled job in

[2018-04-19 14:08] rallytime commented on #20777
@prokashyap The 2014.7.0 and 2014.7.1 releases are no longer maintained. Can you file a new issue with all of the information about the trouble you're facing and the versions you're using?

[2018-04-19 14:24] amontalban commented on #45790
FreeBSD is already using 5.0 so we are getting affected by this.

[2018-04-19 14:33] Ch3LL commented on #47119
You could also implement using a mountpoint with gitfs to use gitfs with thorium. Seems you have a grasp around a fix to allow thorium to use a different environment. Mind submitting a PR for that?

[2018-04-19 14:41] gtmanfred commented on #47173
Thanks for the PR to fix this!
Daniel

[2018-04-19 14:42] gtmanfred commented on #47179
@UtahDave @rallytime @Ch3LL can yall take a look at this?

I assume it is somewhere on our docs page for specifying the versions on the 404 page.

[2018-04-19 14:43] terminalmage commented on #46891
I was running via a pip-installed salt-ssh, I used a fresh Debian container and installed 2017.7.4 from repo.saltstack.com, and rain @MatthiasKuehneEllerhold's testing.test SLS file, then upgraded to 2018.3.0 from the upstream debian repo and was unable to reproduce the error.

@MatthiasKuehneEllerhold If you're using `sudo: True` then salt-ssh will sudo to root and there should be no possible way

[2018-04-19 14:45] gtmanfred commented on #47180
This is fixed here.

https://github.com/saltstack/salt/pull/46520

It will be in the next releases.

[2018-04-19 14:45] #47180 closed

[2018-04-19 14:45] gtmanfred commented on #47180
Same issue as #46512

[2018-04-19 14:47] gtmanfred commented on #47178
Can you run this with `salt-call -l debug` from the minion so that we can get the full stacktrace.

Also, please provide the versions report like the issues template requested.

Thanks,
Daniel

[2018-04-19 14:49] gtmanfred commented on #47171
You did great.  Can you also provide your master config file, so that I can use that to try and replicate this issue?

Thanks,
Daniel

[2018-04-19 14:52] zegl opened #47181 "mysql_grants.present incorrectly excapes *"
### Description of Issue/Question

mysql_grants generates invalid MySQL grants in Salt `2018.3.0`.

### Setup

[code]

### Steps to Reproduce Issue

In Salt `2017.7.2` `appdb_grants` correctly generates the following grant (as shown by SHOW GRANTS):

[code]

In Salt `2018.3.0` the following is generated instead:

[code]

Notice that the asterisk is wrapped with single quotes, which means that it n

[2018-04-19 14:57] MartinEmrich opened #47182 "state.highstate error with require_in: sls:"
### Description of Issue/Question
`state.highstate test=true` returns with

[code]
(followed by the complete state.highstate docs).

`state.show_top` works fine, and returns the expected result.

running `state.sls` with each individual state works, too.
But `state.highstate` does not.

I found that when I removed the "require_in" block of something like

[code]

the error no longer appears. The s

[2018-04-19 15:25] ccoughle opened #47183 "Using Hashicorp Vault - No such file or directory"
### Description of Issue/Question

I have set up an instance of Vault for testing integration with our salt-master.  I have set-up policies on the Vault server and using the generated tokens I can access my secrets there via the local command line as well as remotely from my salt-master via curl.
However, no matter what I try I cannot get the salt processes themselves to communicate with the Vault

[2018-04-19 15:34] gtmanfred commented on #47183
This is a duplicate and it is fixed by this https://github.com/saltstack/salt/pull/46865

It will be in the next release

[2018-04-19 15:36] azelezni commented on #47119
Sure no problem.

[2018-04-19 15:38] gtmanfred commented on #47174
I am unable to replicate this.

@dwoz @twangboy Have yall heard anything about this?

Thanks,
Daniel

[2018-04-19 15:53] gtmanfred commented on #47176
You will need to open an issue with Amazon, because it looks like it is not correctly assigning the role to the system for windows machines.

I tested assigning an iam role, and I can see it in http://169.254.169.254/latest/meta-data/iam/security-credentials/, but when I curl it directly, it 404s.

![screen shot 2018-04-19 at 10 51 26 am](https://user-images.githubusercontent.com/732321/39003125-d

[2018-04-19 15:53] #47176 closed

[2018-04-19 15:57] ccoughle commented on #47183
Hello,

Thank you for the quick reply.
I went and looked at that pull request and manually edited in the change into salt/runners/vault.py and re-ran the above examples.  The pillar.items return was the same.  The salt-run and salt-call commands continue to throw errors.  Shown Below:

===========================================================

salt-run sdb.get sdb://vault-test/secret/first

[ERR

[2018-04-19 16:13] #45017 closed

[2018-04-19 16:25] twangboy commented on #47174
The installation has changed a bit in 2018.3. See here for details:
https://docs.saltstack.com/en/latest/topics/installation/windows.html#silent-installer-options

Basically, the installer will no longer modify an existing installation. It will only modify a custom config or the default config contained in the installer. That's for GUI operation.

The command line has two new options: `/default-co

[2018-04-19 16:37] gyles19 commented on #19349
I just manually upgraded my Ubuntu 14.04 workstation (where I'm going through saltstack tutorials as both master and minion.)  I encountered the 'state.apply does not exist' thing in the tutorial because I had installed the Ubuntu standard (old) packages... so I followed the directions to switch to using the saltstack repo, upgraded the master and minion packages, and  encountered this.  After rea

[2018-04-19 16:51] twangboy commented on #47146
This is related to https://github.com/saltstack/salt/issues/47024

[2018-04-19 16:52] lloesche commented on #44289
I just ran into the very same issue. salt-cloud-2017.7.3-1.fc26.noarch on FC26.

[code]

I do have `location: us-west-2` in my provider file.

[code]

This works (explicitly configuring subnet and sg IDs):
[code]

This doesn't work (names on the top level):
[code]
and neither does this (names on the network_interfaces device level):
[code]

[2018-04-19 17:17] tigpas commented on #45939
@eliasp Your solution looks good for me, but you will reuse the same password salt if you change the password. I would expect from states.user.present that a new salt is generated if the password is changed. I think, that can become a security issue.

I think, it's better to reuse the salt only for compare the passwords
https://github.com/tigpas/salt/commit/0474e13144ad8f77c0ea3971a852d88a9d6519e7

[2018-04-19 17:58] #13558 closed

[2018-04-19 19:00] morganwillcock commented on #47174
@twangboy %COMPUTERNAME% is the short version without the domain, but are you sure the problem isn't that the switch name has been changed? It used to be `/minion-id` (not sure why I'd be using it otherwise) and is now `/minion-name`. Was that intentional?

[2018-04-19 19:08] terminalmage commented on #47150
We have no assert in that function, how did you install Salt?

[2018-04-19 19:10] Reiner030 opened #47188 "Saltmaster Redis Cache incorrectly cut's mine data because of null character in grains"
Running 2017.7.2 on Debian Jessie/8

I was testing multimaster setup with 2 saltmaster nodes which should do Redis caching.
Idea was to use this shared mine to easily upgrade to Debian Sid/9.

Since there is no real documentation howto use it I was searching with intentionally search engine which show me various issues related to this type of cache which contains also a configuration / reference t

[2018-04-19 19:13] #45009 closed

[2018-04-19 19:26] MDPolaris opened #47190 "boto_secgroup.present intermittently when run as part of an Orchestration state"
### Description of Issue/Question
I have a state to create a security group as part of a larger orchestration state. The state fails fairly regularly during the orch run. I have tried to reproduce the issue while running the state manually with state.apply however it has not failed when executed as a standalone state. The result is a security group with the name specified, however the Security Gro

[2018-04-19 19:34] dmurphy18 commented on #32564
Closing this since long since fixed.  Please re-open if there is any issue with the version of zeromq v4.0.8 shipping for Solaris 10

[2018-04-19 19:34] #32564 closed

[2018-04-19 19:42] terminalmage commented on #47150
This should be resolved with https://github.com/saltstack/salt/pull/47191. Can you test this? I also added a log message to `ip_to_host` which logs the failure.

[2018-04-19 19:51] rallytime commented on #46903
This should be fixed with #47186

[2018-04-19 19:52] dmurphy18 commented on #19349
@gyles19 This is fixed in the next point release, see https://github.com/saltstack/salt-pack/pull/538

[2018-04-19 19:59] garethgreenaway commented on #47124
I did some digging around and traced things down to `sign_message` and `verify_messages` in salt/crypt.py.  The issue pops up when attempting to verify that the request is coming from the minion in question. On the 2018.3 minion side, M2Crypto is used to sign the message and then on the 2017.7 master side something other than M2Crypto is used to verify the generated signature.  @DmitryKuzmenko Did

[2018-04-19 19:59] weswhet opened #47192 "Documentation versioning broken after looking at Develop"
### Description of Issue/Question

If you go to https://docs.saltstack.com/en/latest/ref/modules/all/index.html and the click on the "develop" version of the docs it will take you too https://docs.saltstack.com/en/develop/ref/modules/all/index.html which is expected. Except the red checkmark stays on 2018.3.0. Clicking on 2018.3.0 does not take you back to that version of documentation, it stays o

[2018-04-19 20:58] #11716 closed

[2018-04-19 21:00] MDPolaris commented on #47190
Just another point of interest that could be helpful. I was just doing more testing and hit a string of failures and without any changes they have now resolved. One thing i did notice during the string of failures is that the SG's were slow to delete from the console when i was cleaning them up after each test.

One thought I had was if the AWS API was a little slow in responding and the tag opera

[2018-04-19 21:57] MDPolaris commented on #47190
Here is another state in the same Orch that is also failing. This was once more reliable and I don't understand why it is failing more often now that the other SG state was added to the Orch.

[2018-04-19 23:09] bryceml commented on #9805
This bug seems to have come back in version 2018.3.0.  Doesn't seem to affect 2017.7.4.  This is on ubuntu xenial using the repo.saltstack.com repo's packages.

I get the following when running salt-call state.apply or salt-call state.highstate or state.top top.sls:

[ERROR   ] The 'base' saltenv has no top file, and the fallback saltenv specified by default_top (base) also has no top file

my bas

[2018-04-20 03:30] wongchao commented on #46868
@mattp-
Thanks for ur suggestion, it works for me after  msgpack-python upgraded.
Now . msgpack-python: 0.5.6

[2018-04-20 03:53] terminalmage commented on #47001
When you replace a jinja placeholder with a list/dict, Jinja just calls `repr()` on it under the hood, hence the `u` prefixes on the strings. There's not a lot we can do about that. It's possible that we may be able to use a jinja filter to on-the-fly convert the strings in the list back to `str` types. I'll investigate doing this.

[2018-04-20 03:56] MDPolaris commented on #47190
I would also like to add that I am now seeing these failures while running the states above with state.apply. Originally I did not experience a failure with the states running outside of Orchestration, however i am now experiencing more failures than successes.

[2018-04-20 05:10] darkpixel opened #47198 "highstate.cache contains secrets"
### Description of Issue/Question

The highstate.cache.p file contains secret data.

Related to #28455

After reading through the documentation, I don't see a clear way to prevent strings in states or pillar data from being cached.

I played around with SDB using Hashicorp Vault as one suggested work-around.  The secret data still ends up in the highstate.cache.p file.

### Setup

Create a very si

[2018-04-20 05:51] isdig commented on #47176
I get 200 with role added.

![winsalt](https://user-images.githubusercontent.com/37999536/39032803-cb153012-4477-11e8-956e-50175baeb2cb.JPG)

[2018-04-20 05:52] nvx commented on #22520
Sorry for reviving an old thread - but the one downside I see with two service.running definitions is if both dependencies are changed (eg the config file - which a reload is enough for, and the application binary - which requires a full restart) then both a restart and reload will be triggered which may be undesirable.

[2018-04-20 06:06] Zambozo commented on #47171
Hello I have added the changed in ht master config file

`[root]$ cat /etc/salt/master | egrep -v "(^#.*|^$)"
worker_threads: 20
extension_modules: /srv/pillar/ext_pillar
timeout: 15
minion_data_cache: True
external_auth:
  pam:
    veka:
        - .*
        - '@runner'
        - '@wheel'
verify_ssl: False
ext_pillar_first: True
rest_tornado:
  port: 5417
  host: 127.0.0.1
  disable_ssl: true
  w

[2018-04-20 06:08] MatthiasKuehneEllerhold commented on #46891
I've added my roster file to my previous comment. Yes I'm using `sudo: True` and it works perfectly on 2017.7.4.

I've ran the same command with debug-level logging. Here is the last few lines directly before the error:
[code]

[2018-04-20 07:31] prashanthtuttu commented on #47117
@mirceaulinic - Followed the steps mentioned in the link https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.capirca_acl.html and restarted the proxy minion process , but still getting the error.

testdevice-junos:
    The minion function caused an exception: Traceback (most recent call last):
      File "/usr/lib/python2.7/dist-packages/salt/minion.py", line 1600, in _thread_return

[2018-04-20 08:05] tkaehn opened #47199 "Targeting by list (-L) broken for minions behind syndic?"
### Description of Issue/Question

In contrast to targeting by wildcard targeting by list outputs minions twice including an error:

[code]

On the syndic everything works as expected:
[code]

The problem also prevents using lists in node groups.

### Setup

[code]

### Steps to Reproduce Issue
Please see above. No errors are seen in the log files.

### Versions Report
This is the same for master

[2018-04-20 08:24] tkaehn commented on #42306
Problem still exists in 2018.3.0.

@garethgreenaway the ticket is still labelled as "Info needed". Which info do you need?

[2018-04-20 08:42] LHozzan commented on #18843
Hello.
Same problem here:
[code]
SLS:
[code]

`/etc/passwd` > `apache:x:48:48:Apache:/usr/share/httpd:/sbin/nologin`
Problem is, that user Apache is installed with package random data and we need to have this data on all servers identical.
Target data is: `apache:x:48:48:Apache:/var/www:/sbin/nologin`

Fix for us is manually edit this file and reboot server, but it a little unhappy do this on many

[2018-04-20 09:09] DaveQB commented on #30066
Ok I found my issue. It was a typo in an .sls file. It wasn't obvious and I had to go back commit by commit until the error ceased and then dig into that troublesome commit.

[2018-04-20 09:18] mirceaulinic commented on #47117
Can you execute the following commands from the Master:

[code]

And share their output?

[2018-04-20 09:28] tkaehn opened #47201 "mount.mounted with 'mount: False' reports unmounted file system as unchanged when running with test=True"
### Description of Issue/Question

mount.mounted with 'mount: False' reports unmounted file system as unchanged when running with test=True. In contrast to this no changes are made when running with test=False.

### Steps to Reproduce Issue

[code]

### Versions Report

[code]

[2018-04-20 09:33] prashanthtuttu commented on #47117
@mirceaulinic - pls find the outputs in
https://gist.github.com/prashanthtuttu/50bb9435578f9cc597782a3bbd2362dc

[2018-04-20 10:09] damon-atkins commented on #32564
Did not see the update from a while ok.  Have not been in a position to compile/install Salt-Minion for Solaris.

[2018-04-20 11:58] mirceaulinic commented on #47117
@prashanthtuttu at a glance that seem to be alright, though I'm not sure what could possible cause that. Try uninstalling `napalm-base` (and any other `napalm-*` library), though that shouldn't make any difference as you're running `napalm>2.0`.

Maybe it would help if you'd play with a proper environment, and check the differences yourself:

1. Clone https://github.com/mirceaulinic/salt-docker/tr

[2018-04-20 12:03] mirceaulinic commented on #46889
This has already been reported by @prashanthtuttu in #47117 and #47011. Let's close this one.

[2018-04-20 12:10] mirceaulinic commented on #47117
@prashanthtuttu it's very strange that in https://github.com/saltstack/salt/issues/46889#issuecomment-379162773 it seems that you managed to install Capirca and all the dependencies correctly. Would you be able to clarify what are you doing different now?

[2018-04-20 12:25] aesposito91 opened #47203 "NAPALM grains not updating"
### Description of Issue/Question
It appears the once a proxy minion is spun up, all grain data is static and unable to be refreshed with saltutil.refresh_grains

Issue logged @ napalm - https://github.com/napalm-automation/napalm/issues/664

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possibl

[2018-04-20 13:09] Giandom opened #47204 "bash completion doesn't work for modules"
### Description of Issue/Question
Hi,
if I try to autocomplete modules name clicking on tab nothing happens. Other thing as the options works well.

Advices?

### Steps to Reproduce Issue
On shell:
[code]
### Versions Report
[code]

[2018-04-20 13:23] rehmanzile opened #47205 "ZeroMQ Version 3.2.4 not compatible with salt-call 2016.11.6"
### Description of Issue/Question
ZeroMQ needs to be upgraded to `3.2.4` from the default `3.0.0` version. Upon doing so, `salt-call` command no longer works.

### Setup
`salt-master` and `salt-minion` and other other salt packages are using `2016.11.6` version.

### Steps to Reproduce Issue

1. Install `salt-minion` and `salt-common` version `2016.11.6` on Ubuntu 14.04.
2. Install `zeromq` versio

[2018-04-20 13:39] rallytime commented on #46889
Closing as a duplicate.

[2018-04-20 13:39] #46889 closed

[2018-04-20 13:44] clallen opened #47206 "Reactor periodically can't find files in gitfs"
### Description of Issue/Question
Every so often (sometimes days, sometimes minutes) the reactor will throw these errors:
[code]
However, files are always accessible via states, and fileserver.file_list shows all files available.
Restarting the master fixes it for a while.
I tried turning on granular debugging for salt.utils.reactor and salt.loaded.int.module.cp, but didn't see anything that looke

[2018-04-20 13:50] gtmanfred commented on #47171
How many minions do you have?

[2018-04-20 14:20] meaksh opened #47208 "Salt-API has no Return-Code"
### Description of Issue/Question
As discussed with @rallytime , I bring https://github.com/saltstack/salt/pull/36318#issuecomment-370778513 as a new issue to rise a discussion about how we can approach this.

"Salt-API does not have Return-Code": You cannot differentiate between a value "False" and Minion down producing "False".

Example:
[code]
This return when minion is running:
[code]
When I s

[2018-04-20 14:27] Ch3LL commented on #47190
ping @saltstack/team-boto any ideas here?

[2018-04-20 14:31] terminalmage commented on #47001
Also, I tried @gtmanfred's suggestion to quote the list, and it works just fine. I've created a docker image to demonstrate this, which will run Salt out of a git clone of the Salt source code. To use this image, first clone the Salt repo, then run `git checkout v2018.3.0` to check out the 2018.3.0 release. Then, run the `docker run` command from the root of the git clone.

As you can see, it work

[2018-04-20 14:34] golmaal opened #47209 "pillar.ls or pillar.item fails from client API"
Install salt master and minion as following -
[code]
Check that pillar.ls succeeds after modifying /etc/hosts for salt hostname and accepting the key
[code]
Try to do the same thing from the python client APIs
[code]

Version Report
[code]

This issue is present in v2017.7.3 as well, so it's not a regression in v2017.7.5.

[2018-04-20 14:36] gtmanfred commented on #47178
@twangboy can you take a look at this?

It seems like file.symlink and file.shortcut need the same treatment as file.directory and others.

[code]

[2018-04-20 14:37] gtmanfred commented on #47178
@asymetrixs for now, the work around would be to use a file.directory before the file.symlink or file.shortcut, and not use makedirs.

Thanks,
Daniel

[2018-04-20 14:40] marco-m commented on #38098
Hello any news ?

[2018-04-20 14:44] marco-m commented on #44882
Hello @Ch3LL I don't think this is blocked by an answer for @vernondcole , since what he reports is still valid, I can only copy and paste his text:

The very first example in the documentation

[code]

is simply broken :-)

[2018-04-20 14:50] mirceaulinic commented on #46918
This should be fixed via https://github.com/saltstack/salt/commit/6135b76e2cd28f9d5a550896808c2de6970267af.

@AmbicaY Till 2018.3.1 is out, you can copy the code in your own environment.

[2018-04-20 14:57] MDPolaris commented on #47190
Hi @Ch3LL I have continued to test and I am starting to lean towards slow responses from the AWS API as the root cause. I have been playing with my retry setting and I did see a run that failed initially but after 5 retires with 30 secs between the state succeeded. I will continue to test, but i wanted to share that in the event the code looks good. At a minimum maybe it is worth a note in the doc

[2018-04-20 15:05] Ch3LL commented on #47201
i'm not able to replicate this:

[code]

can you verify its not already in your /etc/fstab and just not showing in your mount command output?

[2018-04-20 15:07] Ch3LL commented on #47203
ping @mirceaulinic can you take a look here?

[2018-04-20 15:33] rsuarezsoto commented on #46868
Just to confirm the provided workaround, I found this problem in Ubuntu 14.04 when upgrading from 2017.7.4 to 2018.3.0, and solved it upgrading the package `python-msgpack` from `0.3.0-1ubuntu3` to `0.4.6-1build1`.

[2018-04-20 15:35] Ch3LL commented on #47204
was this working previously? I actually just realized we have a bash completion script here: https://github.com/saltstack/salt/blob/develop/pkg/salt.bash is this what your using?

[2018-04-20 15:39] rallytime commented on #46918
Closed via #47202

[2018-04-20 15:39] #46918 closed

[2018-04-20 15:46] Ch3LL commented on #47206
could you add this logging so we can get some more insight:

[code]

[2018-04-20 15:49] Ch3LL commented on #47205
looks like the error here: `ImportError: No module named cffi` just requires that package. if you install the python cffi module do you still see this ?

[2018-04-20 15:50] Ch3LL commented on #47208
Can you include a versions report?

[2018-04-20 15:54] gtmanfred commented on #47125
if you use runas in a state, you have to use runas_password, not password, those are state level arguments.

[2018-04-20 15:56] clallen commented on #47206
Sure, I have that in place now and restarted the master.  Will update when I get results.

[2018-04-20 16:05] Ch3LL commented on #47209
from the docs here: https://docs.saltstack.com/en/latest/ref/clients/#salt-s-loader-interface

If you use the caller class it should work for you

[2018-04-20 16:10] Ch3LL commented on #47188
i'm having a hard time following where the exact issue is. Are you stating there is a null character being added due to the ec2 grain or a different grain? Any chance you can include steps on how to replicate this?

[2018-04-20 16:30] twangboy commented on #47174
@morganwillcock Oh, so it was probably the reverse. If you were passing `/minion-id` then that was being ignored and it was just using whatever was in the existing config. If it was a new install, then it was just using the hostname.

In 2018.3, when you define `/master=` or `/minion-name=`, the config is being overwritten... either by the default or a custom. So, maybe that's what happened.

Anyw

[2018-04-20 16:32] mirceaulinic commented on #47203
Yep... spoke to @aesposito91 in private, I am aware of this issue and I might know what's causing it. I will try to get to it somewhere mid-next week.
@Ch3LL Can you please assign it to me so it's on my radar?

[2018-04-20 16:54] rehmanzile commented on #47205
Yes. Which version of zmq do you support? `3.0.0`?

[2018-04-20 16:55] Ch3LL commented on #47192
i'm pretty stumped on this one. @rallytime or @UtahDave  any ideas here? I swear this was working previously.

[2018-04-20 17:04] weswhet commented on #47192
Fairly certain it was working last week.

[2018-04-20 17:04] golmaal commented on #47209
@Ch3LL using Caller does work.
Very strange, I had searched for master_uri earlier, but don't remember seeing the page you shared. Thanks!

[2018-04-20 17:04] #47209 closed

[2018-04-20 17:31] racooper commented on #29132
It looks like with the move to Python 2.7, and using scl/ius repos, that this issue may now be moot.  Waiting on next release to verify with pygit2 for 2.7 packages to be released, to know for sure.

[2018-04-20 17:31] mchugh19 commented on #47208
Similar to #37043

[2018-04-20 17:32] Kaydub00 commented on #47001
Hmmm, not sure why it didn't work in my instance. I've already updated my code and I'm happy with how this works (I think this is cleaner anyways). I'd be happy with closing this ticket, I just wasn't sure if this was a problem for others or something you guys would want to look into.

[2018-04-20 17:37] brejoc commented on #47208
@Ch3LL This is pretty much version independent, since it's more or less a design flaw in Salt-API. So this happens in 2016.x, 2017.x and 2018.x.

[2018-04-20 17:55] clallen commented on #47206
Got a couple of hits:
[code]

[2018-04-20 18:17] dmurphy18 commented on #32564
@damon-atkins Perhaps I misunderstood this issue, is that you want a requirements.txt file to specify the minimum version of zeromq to use for Solaris, Smartos, etc. ?

The packaged Enterprise version of Salt for Solaris 10 was updated last year.

[2018-04-20 18:58] bbrendon commented on #27402
I tried salt on a few macs connected to AD and it is very disruptive to using the computer. I'm guessing this is still the issue?

[2018-04-20 19:02] tkaehn commented on #47199
I've just started the Vagrant machines. This time it looks even worse. The processes seem to be started only once:
[code]
Syndic:

[code]
Minion:
[code]

[2018-04-20 19:08] #46906 closed

[2018-04-20 19:08] rallytime commented on #46906
Closed via #47168

[2018-04-20 19:12] evonz-mx commented on #27402
Based on advice from @mosen above, we use this snippet to avoid the AD pinwheel problem on our MacOS minions.

[code]

[2018-04-20 19:16] damon-atkins commented on #32564
I think 4.1.6 should be the lowest. ZeroMQ does not come with Solaris. Need to compile it your self. I was pointout the compile fixes original

[2018-04-20 19:29] dmurphy18 commented on #32564
@damon-atkins I shall look into building Solaris 10 with zeromq 4.1.6. For Solaris 11 SaltStack is building zeromq v4.2.2.  Given the issues with the age of Solaris 10 and building dependencies, I may up that to 4.2.2 as well for consistency

[2018-04-20 19:31] #31211 closed

[2018-04-20 19:38] Ch3LL commented on #47198
There is not a way to do this. as you can see from the docs here: https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.state.html#state-caching

note:

so its expected behavior to write to this highstate cache file each time.

[2018-04-20 19:39] dmurphy18 commented on #29132
@racooper FYI - the pygit2/libgit2 for Python 2.7 is for Redhat 6 only, given the move to using Python 2.7 with Redhat 6.

With the Oxygen branch and support for Python 3 being added, various naming / renaming of build packages was tried, similar to ius but ran into issues with rpm where it is strongly dependent on the name of the package rather than what the package provides when performing an up

[2018-04-20 19:56] Silvenga opened #47215 "Host Present State - Fails with Error "Unicode is not supported""
### Description of Issue/Question

When using the host present state, the salt minion throws a `Unicode is not supported` error. This appears to only exist on Windows hosts using Python 2 (although, I haven't tested this).

### Setup
[code]

### Steps to Reproduce Issue

Apply the above state on a Windows host.

The following is returned:

[code]

### Versions Report

[code]

[2018-04-20 21:04] dmurphy18 commented on #46974
This should be fixed in the next point releases

[2018-04-20 21:05] #46974 closed

[2018-04-20 23:14] UtahDave commented on #47179
@rallytime I think this might be the problem change:  https://github.com/saltstack/salt/commit/5b50eaf6b0b74f431f931c3e052632311eec72a1#diff-684a0ceb2878d48b19612ca360e277ef

A similar change was reverted in this PR:  https://github.com/saltstack/salt/commit/56b53c95e36656edda6c080012b9e684464cbba4#diff-684a0ceb2878d48b19612ca360e277ef

Is there a way to make sure this section doesn't get overwrit

[2018-04-20 23:15] UtahDave commented on #47192
Duplicate of https://github.com/saltstack/salt/issues/47179

Let's continue convo there.

[2018-04-20 23:15] #47192 closed

[2018-04-20 23:43] #47205 closed

[2018-04-21 01:30] damon-atkins commented on #32564
You should make them the same version unless it does not work.

[2018-04-21 08:00] damon-atkins commented on #29132
I think split the packages up into  Salt and no clash with the OS vendor and clash with the OS vendor. Remove any Version dependency on the OS Vendor packages.   Update version report to read a text file with version that should be used, and have it say in brackets not supported

[code]

[2018-04-21 13:31] #32109 closed

[2018-04-21 15:52] jils2013 opened #47222 "import fuction in py renderer"
### Description of Issue/Question
In my sls files(py renderer) there are some same actions,i want share function between sls files
like what **import** do in python script(code reuse).

when use **import** i get the load path problem as the following issue:
https://github.com/saltstack/salt/issues/45521

any advice？

[2018-04-21 16:16] sjorge commented on #38671
I can replicate this on ubuntu 16.04... give me a few to fix.
While double checking all of the zpool module I found 2 other small changes

[2018-04-21 16:29] sjorge opened #47223 "salt.utils.decorators.path.which seems broken"
### Description of Issue/Question
Looks like the which decorator is broken.

https://github.com/saltstack/salt/blob/develop/salt/modules/zpool.py#L1100

[code]
I would expect zpool.create_file_vdev to not be available, this used to be the case at least in 2016.x

### Versions Report
Current develop head build about 10 minutes ago from the time of writing

[2018-04-21 16:36] #29817 closed

[2018-04-21 17:36] #32137 closed

[2018-04-21 21:01] morganwillcock commented on #47174
@twangboy thanks, I think that explains it, as I was passing the master name and then (mistakenly) nothing else.

[2018-04-21 21:01] #47174 closed

[2018-04-21 21:09] pruiz opened #47225 "zfs.filesystem_present takes forever on a dataset with lots (10k+) of snapshots"
### Description of Issue/Question

zfs.filesystem_present (when specifying properties) takes forever on a dataset with lots (10k+) of snapshots, this is due to underlying zfs.dataset_present function not limiting properties query to only the filesystem actually being tested for presence,
but instead allowing query to ask for snapshots and other sub-datasets too.

### Setup

Given a zfs dataset wit

[2018-04-22 00:36] #32003 closed

[2018-04-22 01:29] jils2013 commented on #46535
sorry to blocked the issue;
the problem is occered on on minion(rhel5.11)with version 2016.11.3;
any new version plan for rhel/centos 5?

[2018-04-22 07:49] Fauxsys opened #47229 "Installing SaltStack via RHEL Repo with Kickstart file sometimes fails"
### Description of Issue/Question

When I build an ISO based from my anaconda kickstart file, the salt-master is sometimes not installed correctly (and reinstalling salt-master does not resolve the problem). The installation is performed with the commands:
[code]

Stack Trace:
[code]

### Setup
The lines specific to Salt are in [anaconda-ks.cfg](https://github.com/Fauxsys/Erratum/blob/master/anaco

[2018-04-22 09:38] Giandom commented on #47204
Hi @Ch3LL,
yes is that. I remember that it worked in the previous versions but I'm not sure in which version I used it, maybe in 2016.x.x.

[2018-04-22 16:03] indigoarc commented on #42160
I want do offline installation on CentOS boxes. After I mirror the saltstack repo to local file system, how can I use it? Thanks.

[2018-04-22 17:34] darkalia commented on #47118
No I don't have any setting. I'm running exactly the script I gave here so my master is not using any other custom settings.

Out of curiosity, what's the delay on your master between
[code]
and
[code]

[2018-04-22 20:27] indigoarc commented on #42160
I am new to this. Would really appreciate if you can provide some detailed commands or instructions if possible. Thanks!!

[2018-04-22 20:45] d--j opened #47231 "linux_sysctl: assign does not work for non-unicode names"
### Description of Issue

If you `sysctl.present` some values and the name arguments are not unicode strings (e.g. with the pydsl renderer) the following error occurs:

[code]

E.g. this patch fixes this error:

[code]

### Setup

test-sysctl.sls
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2018-04-22 20:50] indigoarc commented on #42160
Also this example command is mirroring the complete repo which is pretty big.
rsync -vaH --numeric-ids --delete --delete-after --delay-updates rsync://repo.saltstack.com/saltstack_pkgrepo_full ./fullrepo

Can I just mirror the redhat directory only?

[2018-04-22 22:10] leeclemens commented on #30476
@abednarik imo, if it fails in any way, it should set the result to False. The changes key can show which components were changed (old 0 users, new 1 user). Do you have something working in a branch? If so, can you push it to your public account?

[2018-04-22 23:39] leeclemens commented on #29592
While having an ordered dict could provide more deterministic results as expected/observed by a human, I am unclear what technical problem this is dealing with.

On a CentOS 7 system running `man 5 hosts` I have not seen any comment supporting the supposition that

A new install of CentOS 7.4 actually uses a non-FQDN first:

`127.0.0.1   localhost localhost.localdomain localhost4 localhost4.locald

[2018-04-23 02:45] adyanthaya17 opened #47234 "Unable to execute saltstack for docker operations"
Hi,

I have installed docker on my minion nodes but executing the state files gives error message as seen below. Is the function command not working or is there something I am missing.

server.example.com
----------
          ID: mycontainer
    Function: docker_container.running
      Result: False
     Comment: State 'docker_container.running' was not found in SLS 'mycontainer'
              Rea

[2018-04-23 07:14] jf opened #47235 "timeout errors for salt calls should return an exit code other than 0"
### Description of Issue/Question

I have salt set up to run in a CI tool, and the problem is that when salt is unable to reach a minion, or has a timeout for some reason, the status code returned is 0, which results in the CI tool not detecting it as an error.

`salt unreachable-or-down-minon test.ping; echo $?`

### Versions Report
(Provided by running `salt --versions-report`. Please also menti

[2018-04-23 07:17] MorphBonehunter opened #47236 "x509.private_key_managed broken after upgrade to 2018.3.0"
### Description of Issue/Question

### Setup
Testcase:
[code]

### Steps to Reproduce Issue
1. run the testcase with 2017.7.5.
[code]
2. upgrade to 2018.3.0
3. re-run testcase with 2018.3.0.
[code]

The error disappears if i downgrade back to 2017.7.5.

### Versions Report
[code]

[2018-04-23 07:18] MorphBonehunter commented on #40490
I would say this is fixed at least for 2017.7.5. and m2crypto 0.29.0
Testcase:
[code]
1st run:
[code]
consecutive runs:
[code]
So the cert is also created once and not every run.

I can not test this for 2018.3 because of #47236

[2018-04-23 07:31] redbaron4 commented on #47116
@Ch3LL Any plans to backport this PR to stable versions (2018.3 and 2017.7) because most pip related states fail when pip 10 is used because of this issue. This PR being part of next 2017.7 and 2018.3 release would be very helpful.

[2018-04-23 07:50] MorphBonehunter opened #47237 "inconsistent/broken diff output in testmode"
### Description of Issue/Question
After upgrade to 2018.3.0 the diff output is interchanged in testmode.

### Setup
Testcase:
[code]
### Steps to Reproduce Issue
1. prepare a ` /tmp/test.conf` with `test=true`
2. run `salt-call state.apply testcase.diff test=1`:
[code]
So it "seems" that the `test=false` line is removed and `test=true` gets inserted but as the actual content is `test=true` this is

[2018-04-23 07:54] MorphBonehunter commented on #47237
Forgot to mention, this does not occur on 2017.7.5.

[2018-04-23 08:17] Zambozo commented on #47171
Hello,

I am having 22 to 30 minions.

I am seeing this issue over 3 salt-master in 3 region in AWS with sameoutput in the logs

[2018-04-23 09:47] tomlaredo commented on #47237
This is a duplicate of #46931 (and #47016 and #47175).

[2018-04-23 09:59] bosatsu opened #47239 "Unable to load salt_proxy beacon on minion in 2018.3.0"
### Description of Issue/Question
After configuring salt_proxy beacons in either `/etc/salt/minion` or `/etc/salt/minion.d/beacons.conf` , following the format in the documentation:

https://docs.saltstack.com/en/latest/ref/beacons/all/salt.beacons.salt_proxy.html#module-salt.beacons.salt_proxy

then starting the salt minion, salt begins to loop through the following error:

[code]

### Setup
Beac

[2018-04-23 09:59] MorphBonehunter commented on #47237
Damn it...completely forgot to search for an existing issue...whyever.
So close this one.
Thanks @tomlaredo

[2018-04-23 09:59] #47237 closed

[2018-04-23 10:35] toabctl commented on #46340
@gtmanfred when will that happen? is there any schedule?

[2018-04-23 10:40] prashanthtuttu commented on #47117
@mirceaulinic - Thanks , I followed the steps and was able to see things working better than the past.
but still facing a small issue like - when i run >
 salt 'napalm' capirca.get_policy_config juniper pillar_key=netacl - able to get the result but
when running
salt napalm netacl.load_term_config my-filter term_name=my-term pillar_key=netacl test=True debug=True  - Error is
napalm:
    'netacl.lo

[2018-04-23 11:31] mirceaulinic commented on #47117
[code]

Yes, this one is a bug indeed. Thanks!

[2018-04-23 11:46] mirceaulinic commented on #47117
Submitted https://github.com/saltstack/salt/pull/47241 for the fix.
@prashanthtuttu I have also ported the modules and patched into my `salt-docker` repo, please go ahead and test if #47241 does indeed fix the issue.

[2018-04-23 12:07] prashanthtuttu commented on #47117
Thank you @mirceaulinic , its works fine now , let me compare this setup with my setup and figure out what did i miss and update you.

[2018-04-23 13:16] rallytime commented on #47179
@UtahDave Oh, usually that part conflicts when merging forward, so I usually catch it. But on develop, that's not the case. I am not sure how we can flag that better so I don't miss it in the future. I will think about it, but ideas are welcome!

[2018-04-23 13:17] #47179 closed

[2018-04-23 13:38] thatsk opened #47244 "salt-api not working from minion"
[23/Apr/2018:13:33:05] ENGINE Started monitor thread 'Autoreloader'.
[INFO    ] [23/Apr/2018:13:33:05] ENGINE Started monitor thread 'Autoreloader'.
[23/Apr/2018:13:33:05] ENGINE Serving on http://0.0.0.0:9191
[INFO    ] [23/Apr/2018:13:33:05] ENGINE Serving on http://0.0.0.0:9191
[23/Apr/2018:13:33:05] ENGINE Bus STARTED
[INFO    ] [23/Apr/2018:13:33:05] ENGINE Bus STARTED
[INFO    ] [api_acl] Au

[2018-04-23 13:39] thatsk commented on #47244
[api_acl] Authentication not checked for user test from IP 172.16.13.205

[2018-04-23 13:47] Ch3LL commented on #47119
Thanks for that! Do you view this issue as closed?

[2018-04-23 13:48] Ch3LL commented on #38098
@marco-m no one is currently working on this issue due to other higher priority issues. Please feel free to take a stab at a fix for this particular use case

[2018-04-23 13:55] gtmanfred commented on #46340
Sometime after this pr is merged https://github.com/saltstack/salt/pull/47106

[2018-04-23 14:07] rallytime commented on #47137
Closed via #47186

[2018-04-23 14:07] #47137 closed

[2018-04-23 14:07] rallytime commented on #46903
Closed via #47186

[2018-04-23 14:07] #46903 closed

[2018-04-23 14:09] gtmanfred commented on #47171
Looks like your first issue has been fixed in this PR https://github.com/saltstack/salt/pull/46874 which has been backported for 2018.3.1.

As for the load, you shouldn't need 20 worker threads to handle only 20-30 minions, you should be fine with 5 worker threads.

Can you install [setproctitle](https://pypi.org/project/setproctitle/) , i am pretty sure it is called `python-setproctitle` in the r

[2018-04-23 14:14] Ch3LL commented on #47208
Thanks for specifying the versions. appreciate it @brejoc

Through the issue @mchugh19 pointed me too I found this PR: https://github.com/saltstack/salt/pull/41356 I know that does not resolve this particular issue but figured it might be useful to know for others related to this issue.

I will keep this issue open while still linked to 37043 as its a specific use case and we can focus on fixing t

[2018-04-23 14:14] Ch3LL commented on #47208
ping @saltstack/team-netapi any ideas here on a fix?

[2018-04-23 14:35] Ch3LL commented on #47206
Thanks for adding that information.

Can you share your sanitized reactor master config?

And also when this occurs can you include more sanitized debug output before and after to show more context?

[2018-04-23 14:42] Ch3LL commented on #47201
okay did not realize you were running the state before test=True, apologies. In your first example you ran test=True so thats what i did in my use case. I'm now able to replicate the issue. Seems we can make improvements here to make sure we show that there will be no changes when run with test=True.

[2018-04-23 14:56] rallytime commented on #47117
Closed via #47241

[2018-04-23 14:56] #47117 closed

[2018-04-23 15:12] mirceaulinic commented on #44847
I think I have figured out a different way to tackle this, though it would require a small syntax change: https://github.com/saltstack/salt/pull/47246.

[2018-04-23 15:17] Ch3LL commented on #47199
this time i was able to replicate. I must have been doing something inaccurate in my setup. Thanks we will need to get this fixed.

[2018-04-23 15:19] Reiner030 commented on #47188
In my grains I see them only in ec2 grain but I have only a test.ping, network.address in front of ec2 grain setup.

Replicate of this error is done by adding https://github.com/saltstack/salt-contrib/blob/master/grains/ec2_info.py to the grains folder (/srv/salt/aws/_grains/ec2_info.py) so it should be possible to run:
[code]

To get data into the mine I use:
[code]
and setup in first highstate a

[2018-04-23 15:41] terminalmage commented on #47092
https://github.com/saltstack/salt/pull/44455 was not the correct fix. The actual problem is that the logic in `_get_virtual()` which uses python-apt to get the virtual packages was not written correctly. I'm looking into how to coax the correct info out of python-apt right now.

[2018-04-23 15:45] Ch3LL commented on #47118
i've been doing it manually. let me try the script :)

[2018-04-23 15:46] garethgreenaway commented on #47215
@dwoz @twangboy Thoughts on this one?

[2018-04-23 15:50] Giandom opened #47247 "pkg.install fail with windows package"
### Description of Issue/Question
Hi,
I'm trying to install a custom windows package but I get this error:
[code]
That is strange because if I try to run the installer from a cmd it works.
Looking at Minion log I found that the command is failed with retcode: 1619.

Any advices?

### Setup
SLS:
[code]

### Versions Report
[code]

[2018-04-23 15:58] Ch3LL commented on #47204
i've tried 2016.11.9, 2017.7.5 and 2018.30 with no luck.

ping @alekibango seems you were the original author of this completion script. Any ideas here?

[2018-04-23 16:07] garethgreenaway commented on #47223
@sjorge Thanks for the report. The code appears to be doing what it's supposed to be doing.  The `mkfile` binary is not available and that is what is being reported above.  Looking back at the module in 2016.11 it appears to be the same, the only major difference is the decorator.  Do you have an example of what the output looked like in 2016.11?

[2018-04-23 16:13] rallytime commented on #47199
@terminalmage Can you take a look at this one?

[2018-04-23 16:28] sjorge commented on #47223
Maybe I am just remembering it wrong? I though I gave the same result as when you called a non defined function.

[2018-04-23 16:36] azelezni commented on #47119
Yeah, working great!

[2018-04-23 16:41] #47119 closed

[2018-04-23 16:54] clallen commented on #47206
Reactor config:
[code]
I've turned up logging to debug level, will post that when I see the issue again.

[2018-04-23 16:55] garethgreenaway commented on #47234
@adyanthaya17 Thanks for the report.  The Docker state module requires that the execution module is available.  And the execution module requires that the python Docker library is installed.  If the state module is reporting as not being available it's likely that the execution module is also not available, which is likely because the python Docker library is not installed.

[2018-04-23 16:57] garethgreenaway commented on #47235
This makes sense.
@saltstack/team-core Anyone have strong thoughts either way on this one?

[2018-04-23 17:06] gtmanfred commented on #47235
It should be easy enough to just add `'retcode': 1` to the data that is yielded while waiting for minion returns.

https://github.com/saltstack/salt/blob/2017.7/salt/client/__init__.py#L1624

and then the retcode would be set if one of the minions doesn't return.

https://github.com/saltstack/salt/blob/2017.7/salt/cli/salt.py#L193

I can't think of a reason to not have an exit code when a minion d

[2018-04-23 17:06] spyd3r commented on #46498
What release will this be fixed in?

[2018-04-23 17:09] ianare commented on #46868
Having the same problem on CentOS.

[code]

[2018-04-23 17:10] dmurphy18 commented on #32564
@damon-atkins Thanks, I shall look at trying to get the latest 4.2.3 to work

[2018-04-23 17:11] wwalker commented on #24501
Any idea when this will get fixed?  It was marked bug, high severity 2.5 years ago.
It would immensely simplify many of my pillars if this worked.

[2018-04-23 17:25] #46977 closed

[2018-04-23 17:29] thatsk commented on #47244
Salt Version:
           Salt: 2017.7.4

Dependency Versions:
           cffi: 1.6.0
       cherrypy: unknown
       dateutil: 1.5
      docker-py: 1.10.6
          gitdb: 0.6.4
      gitpython: 1.0.1
          ioflo: 1.7.4
         Jinja2: 2.7.2
        libgit2: Not Installed
        libnacl: 1.6.1
       M2Crypto: 0.21.1
           Mako: 1.0.7
   msgpack-pure: 0.1.3
 msgpack-python: 0.4.8
   mys

[2018-04-23 17:29] thatsk commented on #47244
salt-api-2017.7.4-1.el7.noarch
python-cherrypy-5.6.0-2.el7.noarch
CentOS Linux release 7.3.1611 (Core)

[2018-04-23 17:31] thatsk commented on #47244
cat /etc/salt/master
rest_cherrypy:
  port: 9191
  host: 0.0.0.0
  disable_ssl: True
  debug: True

external_auth:
  ldap:
    admins%:
      - '*.com':
        - '@*'
    servereng%:
      - '*.com':
        - '@*'

[2018-04-23 17:33] garethgreenaway commented on #47247
@twangboy @dwoz Thoughts?

[2018-04-23 17:37] darkpixel commented on #47198
I get that it's expected behavior, but I think that should be revisited.  There are cases where you might want salt to do something on a minion (like unlock drives) and NOT leave that data lying around on a boot drive in case someone physically stole the minion box.

[2018-04-23 17:39] Ch3LL commented on #47118
i'm still not able to replicate using your exact script. I see the following:

[code]

which is only 8 seconds.

and only takes about 10 seconds to start up.

cn you includ the sanitized DEBUG in the logs and past here possibly that will give us more insight as to what is happening.

[2018-04-23 18:07] terminalmage commented on #47092
Actually, upon further investigation, it wasn't python-apt that was used incorrectly, it was the fact that the alternate code for discovering virtual packages was using of `grep-available` when it should have been using `grep-status`. When switching to `grep-status`, and commenting out the python-apt stuff to ensure that we don't use it, the virtual packages that are identified match what python-a

[2018-04-23 18:14] garethgreenaway commented on #47229
@Fauxsys Thanks for the report.  In the event that an installation fails, can you verify if the Salt master has generated it's keys under /etc/salt/pki/master?

[2018-04-23 18:15] adam-smith-sundance commented on #37906
I am also having this problem with the salt.gitfs.pygit2 formula as of 2018.3.0 this was not an issue in 2017.7.5

[code]

Pillar info
[code]
note that pygit2 is already installed from 2017.7 release

[code]

[2018-04-23 18:27] garethgreenaway commented on #47236
@MorphBonehunter Thanks for the report.  Definitely appears to be a conflict with M2Crypto and previous crypto libraries that generated those certificates.

[2018-04-23 18:33] tannerwilliams commented on #32506
Encounted this problem with 2018.3.0 on Ubuntu 14.04

The fix from @lhotari worked for me as well

[2018-04-23 19:26] leeclemens commented on #29592
@choopooly some confusion around FQDN and `canonical_hostname`. CentOS operates similarly, with the first value being returned by `hostname -f` - but it does not necessarily need to be an FQDN (and can be followed by any number of [other] FQDN's).

It seems `host.present` does not offer any guarantee as to order (the arguments used are `alias`, fwiw). One quick example: imagine I set the `canonica

[2018-04-23 19:37] terminalmage commented on #47092
Virtual package detection has been fixed in https://github.com/saltstack/salt/pull/47250.

[2018-04-23 20:00] marco-m commented on #44882
here is what I get:

[code]

[2018-04-23 20:28] jantonacci commented on #30574
Running yamlint on state (*.sls) files is helpful for identifying these syntax issues.

[2018-04-23 21:05] #46971 closed

[2018-04-23 22:03] thetoolsmith commented on #30842
Is there a bug fix release for this? We have 2017.7.4 and still cannot stop the output of selected sensitive text. Tried all suggested options, hide_output: True, output_loglevel: quiet, quiet: True etc....
Nothing is preventing the minion command from being output in the master console.

[2018-04-23 22:50] ymasson commented on #46858
Hi @gtmanfred ,

Do you think you can fix-it before 2018.3.1 release ?

Many Thanks
Yann

[2018-04-23 22:56] drewmat opened #47258 "service state no longer working after kernel upgrade"
### Description of Issue/Question
service state is no longer working after kernel upgrade in Amazon Linux

### Setup
Enable tomcat service:
  service.running:
    - name: tomcat7
    - enable: True
    - watch:
      - /etc/tomcat7/tomcat7.conf
      - /etc/tomcat7/server.xml
      - /etc/tomcat7/catalina.properties
      - /etc/tomcat7/context.xml
      - /etc/tomcat7/logging.properties
      - /

[2018-04-23 23:28] leeclemens commented on #44331
I was able to reproduce the issue with:
[code]

After some testing with the current version, I have been unable to reproduce the traceback being printed in `Comment`.

I was using a smaller state, but the yum corruption/error handling should be the same:
[code]

[code]
[code]
[code]

[2018-04-23 23:44] #11147 closed

[2018-04-23 23:44] #27494 closed

[2018-04-23 23:44] #31543 closed

[2018-04-23 23:44] #32190 closed

[2018-04-23 23:44] #32240 closed

[2018-04-23 23:44] #32205 closed

[2018-04-23 23:44] #31973 closed

[2018-04-23 23:44] #32265 closed

[2018-04-23 23:44] #32278 closed

[2018-04-23 23:44] #32271 closed

[2018-04-23 23:44] #32272 closed

[2018-04-23 23:44] #23556 closed

[2018-04-23 23:44] #29260 closed

[2018-04-23 23:44] #32280 closed

[2018-04-23 23:44] #32264 closed

[2018-04-23 23:44] #8785 closed

[2018-04-23 23:44] #32298 closed

[2018-04-23 23:44] #32299 closed

[2018-04-23 23:44] #30914 closed

[2018-04-23 23:44] #20337 closed

[2018-04-23 23:44] #32231 closed

[2018-04-23 23:44] #32233 closed

[2018-04-23 23:44] #28968 closed

[2018-04-23 23:44] #7226 closed

[2018-04-23 23:44] #14193 closed

[2018-04-23 23:44] #21931 closed

[2018-04-24 00:06] mew1033 opened #47260 "disable_saltenv_mapping not working as expected"
### Description of Issue/Question
I can't seem to get the disable_saltenv_mapping feature working on my master. When I add in that line, I'm never able to list the files on the master.
### Setup
Here's the relevant part of my config:

    fileserver_backend:
      - roots
      - gitfs

    file_roots:
      base:
        - /srv/salt

    gitfs_remotes:
      - git://my.git.repo/git/repo:

[2018-04-24 00:44] #32147 closed

[2018-04-24 00:44] #21329 closed

[2018-04-24 00:44] #9844 closed

[2018-04-24 00:44] #16052 closed

[2018-04-24 00:44] #32194 closed

[2018-04-24 00:44] #32206 closed

[2018-04-24 00:50] gtmanfred commented on #46858
@terminalmage can you take a look at this?

Are we resolving if a file is a binary file and not doing a get_diff on it when the file updates with file.managed?

Thanks,
Daniel

[2018-04-24 01:01] amendlik commented on #45895
Here is an example of how an empty `changes` dictionary breaks the `onchanges` requisite when run with `test=true`:

**State file:**
[code]
**Result when run with `test=true`:**
[code]
Notice the `delete-file` state says 'State was not run because none of the onchanges reqs changed'. This is because the `file.managed` state returns an empty `changes` dict when run with `test=true`.

**Result when

[2018-04-24 01:34] jils2013 commented on #47222
a.sls
[code]
b.sls
[code]
any fuction define sharef() once,and a.sls/b.sls can use fuction like **import** in python

[2018-04-24 01:37] jils2013 commented on #46535
@Ch3LL ,thx for your help;

[2018-04-24 01:37] #46535 closed

[2018-04-24 03:14] adyanthaya17 commented on #47234
@garethgreenaway Hi, thanks for the quick reply.

Pardon my basic knowledge but when you said execution module, did you mean the state files which are placed in the /srv/salt/ path?

Actually I have installed the Docker on three of my machines, and I am able to get the container running on 2 machines but not the third machine even though it has the same packages of docker installed as below:

# dp

[2018-04-24 04:30] jf opened #47264 "doc: https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.grains.html#salt.modules.grains.delval s/of pass/or pass/"
`s/of pass/or pass/` in "To completely remove the grain run grains.delkey of pass destructive=True to grains.delval"

[2018-04-24 04:31] terminalmage commented on #47092
After discussing the matter internally, we have decided to drop "virtual package" support in the upcoming Fluorine feature release, due to be released this fall. This has been done in pull request https://github.com/saltstack/salt/pull/47263.

Pull request #47250, (which undoes the change @samodid made in #44455 that completely killed virtual packages in 2018.3.0), will be part of the 2018.3.1 rel

[2018-04-24 06:31] MorphBonehunter commented on #47236
@garethgreenaway I'm not sure if this is related to the previous crypto libraries as i can also not produce a valid key if it isn't existing (i missed this testcase yesterday):
[code]

[2018-04-24 06:37] MorphBonehunter commented on #47236
I also try to downgrade m2crypto (0.29.0 => 0.24.0 for cross check with #40490) but that doesn't help.
However the error message is another one:
[code]

[2018-04-24 07:14] sahama commented on #46891
i found this problem will happen when i use sudo user instead root and i am trying to copy a file to minion (for example via file.managed).

[2018-04-24 07:30] MartinEmrich commented on #47182
At least no one was complaining... If you can replicate it, it is safe to assume that noone tried it before our upgrade to 2018.3.

[2018-04-24 07:55] jryberg commented on #46959
I did some testing with the pull request from @jflowers84 but it did not resolve the issue.

It's also the same for Salt 2018.3

[2018-04-24 08:14] yplonggit opened #47265 "staltstack for windows excute powershell script get an error"
Processing -File ''c:\windows\temp\__salt.tmp.cq9hem.ps1'' failed: The given path's format is not supported. Specify a valid path for the -File parameter.

[2018-04-24 08:52] asymetrixs opened #47266 "Modifying a managed file using Jinja templating with data calculated in a state"
### Description of Issue/Question
I just installed JRE 8 and noticed, that it is not installed in a generic directory like it was for JRE6 and JRE7 like `C:\Program Files\Java\jre6`. Now it is installed in a directory named `jre<version>_<update>`, like `C:\Program Files\Java\jre1.8.0_172`, which makes it difficult to place files inside it after installation of JRE 8.
As shown below, I found a sol

[2018-04-24 08:57] bosatsu commented on #47239
Thank you for taking up this issue.  Not sure if this should be added, but I also think the documentation needs to be updated here:

https://docs.saltstack.com/en/latest/topics/proxyminion/beacon.html

to include `-proxies:` in the yaml code block under `Configure the salt_proxy beacon`

[2018-04-24 09:02] peter-funktionIT commented on #41432
Any progress on this issue?

[2018-04-24 09:11] skjaro opened #47267 "Problem with beacon diskusage on windows platform in 2018.3"
### Description of Issue/Question
There is problem with beacon diskusage on windows machines with version 2018.3 of salt. Problem there is with escaping character on the end of mount point there is 'c:\\'. New version matches mount points with regex all the time. Older version 2017, matches mount point only when mount point does not exists. I don't know reason for that change. Solution is update d

[2018-04-24 10:44] #32390 closed

[2018-04-24 11:50] 4815162342lost opened #47268 "brocken salt-dependency during yum update"
Hello, i tried to upgrade my system via yum update, but receive dependency error from salt-repository:

[code]

[code]
[code]

Issue can be resolved by reinstalling **salt-minion** and **libsodium** package (yum remove : libsodium; yum install salt-minion).

But could you please check this case and provide feedback? I can not reinstall salt-minion on each server manually.

My repo for salt:
baseur

[2018-04-24 12:22] isdig opened #47269 "Reopen Windows Minion That Has IAM Role Cannot Access to S3"
### Description of Issue/Question

I reopened this #47176 issue because the thing @gtmanfred mentioned actually works. In addition to following screenshots from earlier I can also access the file and download it by running Python Boto modules directly from the Windows machine.

gtmanfred's SS: I don't know it was typo or intentional to show me 404 but your IAM role is "gttest". Instead "gtest" is

[2018-04-24 12:43] mgomersbach commented on #47083
ribx is there any way I can help you with this?
What are your current difficulties?

[2018-04-24 13:04] ribx commented on #47083
Mostly spare time. Had to finish a project until my child is born. Now he is already its way.. I cannot tell you any date when I can look into this. Totally depends on him now (and the project will be late now anyway).

[2018-04-24 13:18] rallytime commented on #46943
Closed via #47262

[2018-04-24 13:19] #46943 closed

[2018-04-24 13:31] gtmanfred commented on #41432
No one is currently working on it, but a PR would be greatly appreciated.

[2018-04-24 13:33] rallytime commented on #5678
👍

[2018-04-24 13:33] #5678 closed

[2018-04-24 13:33] gtmanfred commented on #47269
Ahh yes, that was a typo, sorry, i meant to reopen the other issue.

[2018-04-24 13:37] gtmanfred commented on #47268
@dmurphy18 can you take a look at this?

Thanks,
Daniel

[2018-04-24 13:38] gtmanfred commented on #47265
Can you provide me with more information, including the --versions-report that the issue template requested, and steps to reproduce this?

Daniel