[2018-07-13 00:38] gtmanfred commented on #48483
I think that is the point that we are at. The key is transfered across the network using winrm https (unless you explicitly disable it) or ssh. If one of those is compromised there are bigger problems.

I am going to close this issue

Thanks for bringing this up.
Daniel

[2018-07-13 00:38] #48483 closed

[2018-07-13 03:03] doc987 opened #48565 "salt-cloud Prompt for Password"
Can ```salt-cloud``` prompt the user for a password if neither a key file or password is provided in the profile?

[2018-07-13 04:06] wlwio commented on #48539
Thank you for your answer.

force: True  is used to delete
In the state should be setting `prepare: True`

/usr/lib/python2.7/site-packages/salt/modules/rsync.py
`def _check(delete, force, update, passwordfile, exclude, excludefrom, dryrun, rsh):
    '''
    Generate rsync options
    '''
    options = ['-avz']

    if delete:
        options.append('--delete')
    if force:
        options.append

[2018-07-13 04:37] garethgreenaway commented on #48415
Found the cause and have a fix available.  A bit more testing to make 100% sure but I should be able to provide a PR tomorrow.

[2018-07-13 06:31] haam3r commented on #48465
@garethgreenaway Would you like me to make a PR with the proposed fix or is there some other plan?

[2018-07-13 07:06] ashique892 commented on #24658
Specified Minion can go with,
salt -C 'not minion1,minion2' test.ping
Multiple minion start with specified patter
salt -C 'not Minion*' test.ping

[2018-07-13 07:33] jvrahav commented on #48498
@Ch3LL let me know if the above posted configs are sufficient for analysis

[2018-07-13 07:50] jvrahav commented on #48498
i tried kill -10 <pid of zero mq> which is consuming the most at the moment. the stack trace printed has this

[code]

[2018-07-13 08:02] Poil opened #48568 "sdb rest - header dict as jinja ?"
Hi,

I have a REST API, that's first need to authenticate via a basic auth, it returns a temporary token that I must pass in the next query.

I'm able to authenticate and I'm able to get the token but, I'm unable to pass this token, via header_dict because it doesn't support Jinja.

I think I could use a temporary file for this header but for something some simple, I would like to patch sdb/rest.p

[2018-07-13 08:03] Poil commented on #48568
FYI, my current configuration

[code]

[2018-07-13 08:12] isbm commented on #48556
Mainly this is `salt.utils.async` that we probably also need to rename. This doesn't seem to be hard to fix:

- Rename `salt.utils.async` to `salt.utils.asynchronous` (because other shortcuts are just confusing).
- Rename variables from `async` to `asynchronous` too.

But we will likely need to port this to 2018.3 too.

[2018-07-13 08:27] maltris opened #48569 "restartcheck module failing if kernel-version scheme contains more than 3 dots"
### Description of Issue/Question
Looks like the problem lays in

https://github.com/saltstack/salt/blob/9fbe6d5d486886772d2c26b20c911d09eedcd950/salt/modules/restartcheck.py#L273

As with the longer version-string the rsplit splits the ".1" and not ".43~16.04.1" (check the examples below).

### Setup
Working:
[code]

Not working:
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
[c

[2018-07-13 10:50] #36498 closed

[2018-07-13 12:12] dhs-rec opened #48570 "Uninstalling apt-transport-https fails on Ubuntu bionic / Debian buster"
### Description of Issue/Question
The functionality of apt-transport-https has been moved into the main apt package lately and apt-transport-https became a "transitional dummy package". But any attempt to purge the package always results in a failure on both Ubuntu bionic and Debian buster.

First run, while package is still installed:
[code]
However, although the package has been purged by this r

[2018-07-13 14:09] gtmanfred commented on #48539
Ok, then yeah this will need to be added, see the second part of my previous response.

A pr would be need to be submitted that reached out to the remote location using rsync to see if it is a file or a directory, that way we know to makedir(name) or makedir(os.path.dirname(name)).

And then it should be able to do what you are wanting.

[2018-07-13 14:41] markuskramerIgitt opened #48575 "Proposal to remove cache for building Windows minion offline"
### Question/Proposal
When you build a Windows minion, resources are downloaded from repo.saltstack.com/windows/dependencies and pypy.

To build a Windows minion offline, I added a cache which is enabled by 3 environment variables (SALTREPO_LOCAL_CACHE, SALT_REQ_LOCAL_CACHE, SALT_PIP_LOCAL_CACHE)

The cache needs to be manually filled, which is tedious for pypy.

I think the risk of a wrong cache

[2018-07-13 15:21] forestnd opened #48577 "pkg.update updates packages even when marked hold"
### Description of Issue/Question

### Setup
Basic saltstack setup with master and minion.

### Steps to Reproduce Issue
when i set and package to be hold "salt '*' pkg.hold mariadb-server" but whejn i run salt '*' pkg.upggrade
mariadb-server package was upgraded. checked on the server  "apt-mark showhold" and  mariadb-server was listed

### Versions Report
(Provided by running `salt --versions-re

[2018-07-13 15:53] dsteele0301 commented on #5054
I would still like to see this feature implemented. I have seen no indication that it exists yet other than for the `cmd.run timeout=x` argument. I'm not sure if this same argument is available for other modules besides `cmd`. Example:

`salt test_minion cmd.run 'sleep 45' timeout=5`
`
test_minion:
    sleep 45 : Timed out after 5 seconds
`

As @netllama mentioned in the use case, I occasionally h

[2018-07-13 16:07] dsteele0301 opened #48578 "Reopen or Provide Reference in Issue Closed by stale bot"
Issue #5054 appears to have been closed by stale bot and I am unsure if this issue/feature request was ever implemented or could be referenced to another issue or pull request that may have occurred since it was created.

[2018-07-13 16:35] Ch3LL commented on #48548
looks like i'm able to replicate this. Working on a fix right now

[2018-07-13 16:51] Ch3LL commented on #48560
I can't replicate this on centos 7. can you run on your minion `salt-call --local pkg.list_pkgs -ldebug` and paste sanitized version here. It should print out the reason for not loading.

[2018-07-13 17:01] Ch3LL commented on #48563
it looks like currently its hardcoded as an option `if self.opts.get('_ssh_version', (0,)) > (4, 9):` so will approve as a feature to look into adding it as an option the user can set: https://github.com/saltstack/salt/blob/v2018.3.2/salt/client/ssh/shell.py#L128

[2018-07-13 17:04] rallytime commented on #46884
@alexandergraul I have fixed this with #48580

[2018-07-13 17:04] Ch3LL commented on #48565
i don't believe this is possible but to make sure ping @saltstack/team-cloud

[2018-07-13 17:05] seanorama commented on #48563
Thanks

Why is salt-ssh passing these configs at all?

They are defined in /etc/ssh/ssh_config and ~/.ssh/config. It shouldn't silently override the system/user configs.

[2018-07-13 17:06] Ch3LL commented on #48568
ping @gtmanfred i can't remember is sdb your area? do you have any insight for @Poil

[2018-07-13 17:06] gtmanfred commented on #48565
It cannot, and I am not sure we want to add that.

[2018-07-13 17:09] Ch3LL commented on #48569
looks like you might have an idea of a fix. Want to take a stab at a PR?

[2018-07-13 17:13] gtmanfred commented on #48568
Can you just specify anything for http.query in that dictionary?

If yes, then what I would do is use `header_file`, instead of header_dict, then you can specify all of the jinja stuff that you want.

[code]

[2018-07-13 17:15] #48110 closed

[2018-07-13 17:29] nhatfield commented on #48560
`salt-call --local pkg.list_pkgs -l debug`
[code]

[2018-07-13 17:51] noelmcloughlin commented on #48504
Thanks for your help @Ch3LL !!   I appreciate your taking time.

So I went back to the drawing board and revamped the jinja2.  Complex pillar data is combining with my liking for DRY implementation in making this user case tough - made good progress today.

btw, the docs cover iterating over dict.  My pillar data included duplicate keys, so examples of iterating over lists would be useful too.

[2018-07-13 17:51] #48504 closed

[2018-07-13 18:06] Ch3LL commented on #48570
looks like i'm able to replicate this. to note it seems it only fails on this package. I tried uninstalling vim with this state and it worked fine.

[2018-07-13 18:07] Ch3LL commented on #48575
ping @saltstack/team-windows any opinions here?

[2018-07-13 18:13] Ch3LL commented on #48578
Looks like it was re-opened. If stale-bot ever closes an issue you can always ask in the issue to re-open if you believe its still affected in the latest release.

[2018-07-13 18:33] damon-atkins commented on #48557
Maybe  https://github.com/saltstack/salt/issues/48110#issuecomment-397330123

[2018-07-13 19:50] #6558 closed

[2018-07-13 19:50] #36584 closed

[2018-07-13 19:50] #10271 closed

[2018-07-13 19:50] #32466 closed

[2018-07-13 19:50] #36390 closed

[2018-07-13 19:50] #22471 closed

[2018-07-13 19:50] #23842 closed

[2018-07-13 19:50] #36645 closed

[2018-07-13 19:50] #36560 closed

[2018-07-13 19:50] #36667 closed

[2018-07-13 19:50] #36688 closed

[2018-07-13 19:50] #36615 closed

[2018-07-13 19:50] #31889 closed

[2018-07-13 19:50] #36702 closed

[2018-07-13 19:50] #35521 closed

[2018-07-13 19:50] #32462 closed

[2018-07-13 19:50] #36711 closed

[2018-07-13 19:50] #33191 closed

[2018-07-13 19:50] #36652 closed

[2018-07-13 19:50] #36761 closed

[2018-07-13 19:50] #35705 closed

[2018-07-13 19:50] #31709 closed

[2018-07-13 19:59] mwtzzz commented on #36691
I'd like to see it reopened. gtmanfred says above that he's tagged it as a feature request.

[2018-07-13 20:01] gtmanfred commented on #36691
A PR for this would be great, otherwise it is just on the pile of other feature requests.

Thanks!
Daniel

[2018-07-13 20:14] rallytime commented on #48536
@garethgreenaway Can you fix this for 2018.3.3?

[2018-07-13 20:18] doc987 commented on #48565
If the key or password is part of the configuration, then there could be a problem if the machine is compromised.  If the credentials are not directly available (e.g. requiring an ssh password to be provided, or requiring a key decryption password to be provided, etc.), then this adds a layer of security.

[2018-07-13 20:44] gtmanfred commented on #48565
But you can always use something like sdb, and store it elsewhere.

Or set it in an environment variable so that it is not stored in your config files.

https://docs.saltstack.com/en/latest/topics/sdb/

https://docs.saltstack.com/en/2017.7/ref/sdb/all/salt.sdb.env.html

If you are really concerned about that, this is what I would use, or something like the keyring sdb, which you can unlock before

[2018-07-13 20:46] gtmanfred commented on #48565
But if what you want to do is just be able to input it at the command time, just store it in keyringdb, and use a backend that asks for a password to decrypt the keyring.

https://docs.saltstack.com/en/2017.7/ref/sdb/all/salt.sdb.keyring_db.html

[2018-07-13 20:57] dwoz commented on #48557
@Ch3LL @whytewolf this should be easy enough to reproduce. I've assigned it to myself.

[2018-07-13 21:45] #37035 closed

[2018-07-13 22:06] #36927 closed

[2018-07-13 22:07] gtmanfred commented on #36953
you can use the yaml sdb backend which supports using gpg thru the gpg renderer, then you can store passwords for the master in sdb encrypted by gpg, but again, the gpg key has to be passwordless, so you are just obfuscating the password with extra steps.

[2018-07-13 22:07] #36953 closed

[2018-07-14 00:50] #36634 closed

[2018-07-14 00:50] #36753 closed

[2018-07-14 02:47] vernondcole commented on #48515
There are no actual tabs, since they are forbidden in YAML documents, so I assume we are talking about white space indentation.
This is copy-paste from the docs. Then I checked to determine that the arguments are actually indented by two spaces more than the "- artifact:" line. "artifact" is a dictionary and they are items in it.

[2018-07-14 02:59] vernondcole commented on #48515
See the commented-out lines around 148.
[deploy.sls.txt](https://github.com/saltstack/salt/files/2194603/deploy.sls.txt)

[2018-07-14 04:15] pljoel commented on #46976
+1 I made that mistake, it is not obvious at all. At least I found this thread to help me out!

[2018-07-14 05:29] wyardley opened #48589 "Env for npm when Salt runs via sudo"
### Description of Issue/Question
When installing packages from a private repo in test kitchen (using sudo), root's `.npmrc` is not read (for the token) unless env => `HOME` is explicitly set.
Also, it's not clear if env can be set for bootstrap?

### Setup
Test kitchen, with the default sudo command (`sudo -E`, though I think running without `-E` surprisingly didn't help).

[code]

### Steps to R

[2018-07-14 08:45] damon-atkins commented on #36962
.

[2018-07-14 08:45] damon-atkins commented on #37032
.

[2018-07-14 12:07] lorengordon commented on #36895
This should probably be closed. I'm not inclined to fight for simplifying the user interface when the core devs are promoting complexity. That's just a fundamental difference of opinion in what makes a good user experience, and I don't have the time or inclination to fight such battles.

[2018-07-14 12:07] #36895 closed

[2018-07-14 13:20] aboe76 opened #48591 "feature request: add base-dir to user state and module"
### Description of Issue/Question

The current user module and state doesn't have the option to set base-dir parameter.

See manpage ```useradd```:

[code]

and on freebsd ```pw```:

[code]

[2018-07-14 14:50] #36772 closed

[2018-07-14 19:03] #36171 closed

[2018-07-14 20:03] #36771 closed

[2018-07-14 20:04] ferricoxide commented on #36987
Err... It's not entirely clear whether the issue has been addressed? I've been using the previously-noted work-around since the issue was only marked as approved for remediation rather than commit-closed. So, is this issue actually addressed or is it still open? Either way, seems in a weird state to just auto-close it.

[2018-07-14 21:03] #36791 closed

[2018-07-14 21:03] #36792 closed

[2018-07-14 21:03] #28403 closed

[2018-07-15 09:00] damon-atkins opened #48592 "Windows Installer 2013.3.2 PY3 and VC 2015"
### Description of Issue/Question
Fails to detect VC 2015 already installed
### Setup
![image](https://user-images.githubusercontent.com/9368124/42732249-3a927fa8-8861-11e8-8e30-78e02e21a63b.png)

[2018-07-15 10:03] #23758 closed

[2018-07-15 11:03] #28707 closed

[2018-07-15 16:03] adtyashgl opened #48595 "salt-ssh test.ping returns cannot locate python even though its installed on target host"
### Description of Issue/Question
salt-ssh cannot recognise installed python on minion even though it is installed and is at the version higher than what it needs.

I have the following roster file
Test:
   host: xx.xx.xx.xx
   sudo: True
   user: root
   passwd: <password>

Running the test.ping returns

[code]
Running raw python yields the path of python
[code]
[code]
Python version on Master

[

[2018-07-15 22:21] #36798 closed

[2018-07-16 00:57] angeloudy commented on #46887
I am getting a different error `TypeError: ('expected a byte string in the list',`. I am running python3.6.
I think a check of `if PY2` is needed before `to_str = True`

[code]

[2018-07-16 01:50] angeloudy opened #48599 "module ldap3 'TypeError: ('expected a byte string in the list''"
### Description of Issue/Question
I think this pull request #47029 fixed the problem in python2.7 while broke it in python3.
From my experience with python-ldap with python3, when writing back to ldap, the attribute name should be `str`, while the value should be `bytes`.

[code]
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduc

[2018-07-16 02:01] hnuhwk opened #48600 "minion fail to start"
### config of minion as below: only change the master name , no others
/etc/salt# more minion
[code]

[2018-07-16 02:05] hnuhwk commented on #48600
Hi. team.
   I need your help to check the salt-minion start issue, when I try to start the minion, it just shows failed to start without more other information , could anybody help me to check this issue , thanks a lot....waiting for you...
below is the logs and reports.
/etc/salt# salt-minion --log-level=debug
[DEBUG   ] Reading configuration from /etc/salt/minion
[DEBUG   ] Guessing ID. The id

[2018-07-16 02:54] angeloudy commented on #48599
I've made the following changes to make it work.

[code]

[2018-07-16 07:57] tilmanschwaner commented on #48489
I"ve got the same problem after updating from 2016 to 2018. Mock=True also only shows a diff, when test=False. Is there any way to reactivate the diff-output in test=True mode?

[2018-07-16 08:49] nadezhdabelan opened #48601 "processes not cleaned after connection closed"
if execute asynch call from java client then process does not collapse
 ps -ef | grep -c salt-api
3
the number of processes will increase (for example 100) after some timeout they will be closed, but thread can be exhausted
but if I set expire_responses  in true, processes will be 2
but in new version expire_responses is deprecated, how to solve the problem with increasing processes?

**Versions R

[2018-07-16 08:55] nadezhdabelan opened #48602 "salt-api return http error 500 during execution async task"
in the peak load hour, we have a lot of requests for salt-api, at this time when creating more asynchronous calls from the client's java, the server returns error 500, for what reason it can be?
only in the peak load hour....
job lasts a long time

**Versions Report**
[code]

[2018-07-16 09:26] Poil opened #48603 "Help : Custom SDB module and GITFS"
Hi,

I've wrote a custom SDB module to interact with PHPIPAM.
I've put it in a folder "_sdb" at the root path of my top-formula that is in a GITFS.

When running `salt '*' saltutil.sync_sdb` the SDB module is sync and present on the filesystem `/var/cache/salt/master/gitfs/refs/base/_sdb/rest_auth.py`

But when running `salt-run sdb.get "sdb://phpipam-api/post-free-ip?subnet_id=111"` the module do

[2018-07-16 11:48] ryanwalder commented on #36903
Not sure this has done, can't find a list of reserved keywords in the docs.

[2018-07-16 11:59] DmitryKuzmenko commented on #48556
Also there are some places, like `salt.client.get_local_client` where I named kwarg `sync` to avoid using the `async` keyword. I propose to refactor this name too.

[2018-07-16 12:57] DmitryKuzmenko commented on #48496
Agree with @gtmanfred

[2018-07-16 15:32] garethgreenaway commented on #48602
@nadezhdabelan Thanks for the report.  Can you provide a bit more detail of how you're using the Salt API?  How you have it configured and if you're using rest_cherrypy or one of the other salt api modules.

[2018-07-16 15:35] garethgreenaway commented on #48600
@hnuhwk Thanks for the report.  Can you double check that there isn't a Salt minion already running when you're attempting to start it manually?

[2018-07-16 15:37] garethgreenaway commented on #48599
@angeloudy Thanks for the report.  That diff looks good, if you could submit a PR with that fix that would be greatly appreciated.

[2018-07-16 15:44] icy commented on #48496
Can we have an argument termination? I tried this without success:

[code]

[2018-07-16 15:45] garethgreenaway commented on #48591
@aboe76 Thanks for the report.  This would be a good feature to have.

[2018-07-16 15:45] garethgreenaway commented on #48592
@twangboy @dwoz Thoughts?

[2018-07-16 15:52] DmitryKuzmenko commented on #48496
@icy the issue is not there. Arg parser correctly parses the `Test=True` as `-d`'s value. After that `salt-key` passes that line to a matching function but not directly but using reverse-lookup mechanism to determine the function args/kwargs. We use it for all functions. So it looks we should avoid this mechanism in some cases like this.
But I have no time to look for the solution deeper so there

[2018-07-16 16:01] gtmanfred commented on #48556
We are going to fix this in 2018.3.3 and Fluorine, but not 2017.7

[2018-07-16 16:21] #34795 closed

[2018-07-16 18:07] nhatfield commented on #48560
I got it figured out now, ty

[2018-07-16 18:07] #48560 closed

[2018-07-16 18:43] V3XATI0N opened #48608 "user.list_users returns duplicates on MacOS"
### Description of Issue/Question

When running the `user.list_users` module on Mac OS minions, Salt returns two entries for each user account.

### Setup

No special setup

### Steps to Reproduce Issue

run `salt MacOS-Minion user.list_users`

### Versions Report
master:
[code]
minion:
[code]

[2018-07-16 18:56] twangboy commented on #48592
What bitness of salt are you installing? I can only think that you're installing 32bit salt. I think the version you have installed is older than the version in Salt... therefore the GUID's are different.

[2018-07-16 19:16] jvrahav commented on #48498
I used command line for this test. For the previous tests i used tornado.

[2018-07-16 21:46] gtmanfred commented on #45987
This is fixed.

[2018-07-16 21:46] #45987 closed

[2018-07-17 00:36] hnuhwk commented on #48600
@garethgreenaway I am very appreciated  for your supporting,  I am sure there is no other salt minion process running when I do this check . if you need any more information , please tell me and I can double check
thanks a lot...

[2018-07-17 02:17] boltronics commented on #36360
Doing a search for `sdist` at https://docs.saltstack.com/en/latest/ still only brings up references to the Esky page.

In case it helps anyone else who has found their way here, this is the script I currently use to build my own Salt packages that are hosted in an apt-ftparchive repo on S3.
https://gist.github.com/boltronics/ff19256083ce5d370584c3c0826ef7e7

[2018-07-17 02:45] garethgreenaway commented on #48603
@Poil Thanks for the report.  Can you provide the code for your custom SDB module?

[2018-07-17 05:54] dhs-rec commented on #48570
Seems to be related to transitional packages in general. I could also reproduce this with *nplan* (from apt-cache show nplan: "This is a transitional package that installs 'netplan.io'.").

[2018-07-17 06:31] soostdijck commented on #48548
Great, can this be added for 2018.3.3 please?

[2018-07-17 07:10] damon-atkins commented on #48592
Seems your right, downloaded Salt-Minion-2018.3.2-Py3-x86-Setup.exe it uninstalled Salt-Minion-2018.3.0-Py3-AMD64-Setup.exe first.

[code]

[2018-07-17 07:31] Poil commented on #48603
Here is the code

[code]

[2018-07-17 08:57] like-inspur opened #48618 "2018.3.2 salt doesn't support multi file.managed"
I use salt master and salt minion that version is 2018.3.2 (Oxygen). I want to install service which need mutil config file and watch multi config file change according to https://docs.saltstack.com/en/latest/ref/states/requisites.html. So I create install script like this:
[code]
But the output of salt command is like this, something like don't support multi file.managed
root@manage01:~# salt 'ce

[2018-07-17 09:21] markuskramerIgitt commented on #48468
SEP no longer reports a threat.
I just downloaded the installer from another client.

[2018-07-17 09:22] nadezhdabelan commented on #48602
hi, thanks.
yes we use rest_cherrypy
logs:
![image](https://user-images.githubusercontent.com/36509865/42808451-091ba240-89bc-11e8-9d43-673512b0e931.png)
![image](https://user-images.githubusercontent.com/36509865/42808478-16a2673c-89bc-11e8-98a6-a0196fb33f8e.png)

[2018-07-17 09:51] markuskramerIgitt commented on #48600
Hi @hnuhwk,

 in file /etc/salt/minion you configured your master to be `hnuhwk1` :
[code]

You did not explicitly declare a minon id, so the minion generated and cached an id which is again hnuhwk1:
[code]

Do you want to start the minon on the same machine as the master?

If yes...
The function generate_minion_id() tries to generate a fully qualified domain name (FQDN), so id did not find a doma

[2018-07-17 11:02] markuskramerIgitt commented on #48618
Hi @lifeisstillgood
`conflicting ID` means that the first line of a state needs to be unique because it is an identifier.

You can either add a comment...
[code]

...or cannibalize the file name as identifier:
[code]

I prefer to add comments.

[2018-07-17 11:38] sha512imoto opened #48619 "Saltstack installer for macOS fails when installing into system image created with AutoDMG"
### Description of Issue/Question

Saltstack installer for macOS does not install successfully to a never-booted macOS system image created with the [AutoDMG](https://github.com/MagerValp/AutoDMG) tool.
### Setup

**Installer version tested:** salt-2017.7.7-py3-x86_64.pkg
**AutoDMG version:** 1.8.1 from https://github.com/MagerValp/AutoDMG
**Host macOS version:** 10.13.5 (17F77)
**Image version at

[2018-07-17 12:34] patatman opened #48620 "Filter output of a Salt Module"
### Description of Question
I'm trying to filter the output of a Salt Module, in this specific case the salt.module.postgres.
the command is: ```salt '*' postgres.db_list```
The output looks like this:
[code]
I would like to filter the output by name, for instance:

```salt '*' postgres.db_list filter=name```
I'd like the output to be:
[code]

If it's possible the behavior should be like grain.get

[2018-07-17 13:23] Ch3LL opened #48621 "salt-ssh: refractor prep_trans_tar"
### Description of Issue/Question
as seen in comments here: https://github.com/saltstack/salt/pull/48555#pullrequestreview-137699118
simply need to review this function and remove any unnecessary args.

mostly adding this so i don't forget to follow up :)

[2018-07-17 13:30] hasija opened #48622 "How to pass tty in salt-ssh CLI"
### How to pass tty in salt-ssh CLI

Error: sudo: sorry, you must have a tty to run sudo, When trying to run command " salt-ssh --roster=scan 'minion' --sudo --user='user' --passwd='pass' test.ping  -i "
There is no option mentioned to pass tty in the cli as metioned in the documentation:- https://docs.saltstack.com/en/latest/ref/cli/salt-ssh.html#cmdoption-salt-ssh--sudo

[2018-07-17 13:31] terminalmage commented on #46887
Can you please open a new issue, then?

[2018-07-17 13:53] gtmanfred commented on #48589
This is a property of npm, and without knowing what directory home should be set to, there is not a lot that we can do.

If you want to not have to set HOME for your kitchen tests, you can set the user to login to the tests to be `root`  you will just need to make sure your driver can support that.

I know for a fact that the docker driver can do it. you just set the username in the driver to be `

[2018-07-17 13:53] #48589 closed

[2018-07-17 14:02] gtmanfred commented on #48618
Correct, think about the yaml structure here, this is a dictionary, you can only have one dictionary entry for each key.

[code]

Would convert to

[code]

But the second one would always overwrite the first one, so you need to have a different stateid to be able to have two file.managed states.

(and because the old format used to be this...

[code]

And we still support that, you can only have o

[2018-07-17 14:02] #48618 closed

[2018-07-17 14:04] gtmanfred commented on #48622
There is not a way afaik.

You would need to do something like add it to roster_defaults.

[code]

In /etc/salt/master.

I am going to mark this as a feature request.

[2018-07-17 14:07] gtmanfred commented on #48620
I would highly recommend using `jq` or `yq` to query the json/yaml for the output that you want.

We do not include anything in salt to do that.

https://github.com/kislyuk/yq
https://stedolan.github.io/jq/

Because otherwise, this would have to be implemented on every salt module.  You could also implement an outputter that allows you to specify a query argument for the yaml to only print certain

[2018-07-17 14:11] gtmanfred commented on #48601
It looks like the `engine.timeout_monitor.on` for cherrypy has been removed starting in cherrypy 12.0.0, which is what we used to implement `expire_responses`.  As long as you use cherrypy < 12.0.0, we will still enable it, but there is not a way to implement it in the newer versions of cherrypy.

https://github.com/saltstack/salt/issues/44601

If you find a way to implement it, please let us know

[2018-07-17 14:11] #48601 closed

[2018-07-17 14:16] gtmanfred commented on #48595
I am unable to replicate this on 2018.3.2, can you try upgrading to that version?

[code]

I am also using a centos 6 server for my salt-ssh master, which uses python2.7 installed from the salt repository, and am logging into a centos 7 machine.

[2018-07-17 14:19] gtmanfred commented on #48608
I am able to replicate this.

[code]

@twangboy do you happen to know what is going on here?

Thanks,
Daniel

[2018-07-17 14:22] gtmanfred commented on #48619
Do you happen to know what those installation variables are?  I believe all of our build stuff for osx is located here.  https://github.com/saltstack/salt/tree/develop/pkg/osx  Any help would be greatly appreciated!

@twangboy can you take a look at this when you get a minute?

Thanks,
Daniel

[2018-07-17 14:22] markuskramerIgitt commented on #48618
I only now realize that identifier **and** function must be unique.

I forgot `names` , which is the best solution here.

[2018-07-17 14:36] patatman commented on #48620
Thanks for the response, and I'm aware of jq.
I was just wondering if it was possible natively in Saltstack.
Creating a outputter is also a interesting idea, will have a look into that!
Thanks

[2018-07-17 14:54] Ch3LL commented on #48563
i'm not sure why this setting was hardcoded. @thatch45 do you know why this was initially hardcoded?

[2018-07-17 15:09] markuskramerIgitt commented on #48522
Why is ASCII the default codec, and not UTF8?

[2018-07-17 15:15] Ch3LL commented on #48548
yep it will already be included in that release :)

[2018-07-17 15:15] #48548 closed

[2018-07-17 16:23] Ch3LL commented on #48621
https://github.com/saltstack/salt/pull/48625

[2018-07-17 16:23] nbraud opened #48626 "acme module fails to set file permissions if the certificate is already present"
### Description of Issue/Question

### Setup
[code]
### Steps to Reproduce Issue
1. Run the above state file without the `group: somegroup` parameter.
2. Once the certificate is acquired (successful highstate), add the `group` parameter.
3. Highstate the minion. The module reports nothing changed, and the private key file is indeed still owned by group `root`.

### Versions Report
2018.3.2, but lo

[2018-07-17 16:31] nbraud opened #48627 "acme module's group parameter is non-functional"
### Description of Issue/Question
`acme.cert` [enforces that the private key file is mode `0600`](https://github.com/saltstack/salt/blob/v2018.3.2/salt/modules/acme.py#L183), so setting the group ownership using the `group` option does not actually result in another group being able to read the private key.

Please change the permission to `0640`, which is the only sensible default, given that the

[2018-07-17 16:34] astronouth7303 commented on #48626
This seems to happen because of https://github.com/saltstack/salt/blob/v2018.3.2/salt/modules/acme.py#L172-L175 where it just exits if acme does nothing instead of checking the group.

[2018-07-17 16:35] astronouth7303 commented on #48627
Specifically https://github.com/saltstack/salt/blob/v2018.3.2/salt/modules/acme.py#L183 where the mode is hard-coded.

[2018-07-17 17:33] twangboy commented on #48619
@sha512imoto Do you have a url to those variables. I'm happy to add them to the pre and post install scripts. I was unaware they existed.

[2018-07-17 17:41] markuskramerIgitt opened #48629 "Prefer FQDN for minion id only by default (Proposal)"
### Proposal
The salt minion may lack an explicitly declared id.

Without id, [salt/utils/network._generate_minion_id()](https://github.com/saltstack/salt/blob/943e21f3e6e314a0fe1af7f08354a2b58303d224/salt/utils/network.py#L100) prefers FQDN (fully qualified domain name) over hostname. The function uses a variety of sources for the minion id.

I would like to introduce a new setting `minion_id_pre

[2018-07-17 18:13] twangboy commented on #48608
It parses the results of `pwd.getpwall()`. I would need to look at the output of that command on a Mac.

[2018-07-17 18:32] toanju commented on #31240
works fine in the meanwhile

[2018-07-17 18:32] #31240 closed

[2018-07-17 18:41] V3XATI0N opened #48632 "Arch Linux minion unable to find pip binary and unable to import installed docker modules."
### Description of Issue/Question

minion version 2018.3.2 on Arch Linux cannot run `pip.install` because "unable to locate 'pip' binary" and can't run the `docker` module because 'unable to import docker module', even though it's very installed and accessible with `python -c` directly. The "pip" binary is right there at `/usr/bin/pip`, and the minion's PATH variable (both in fact and in the Salt

[2018-07-17 18:50] V3XATI0N commented on #48608
[code]
There is no duplication happening with `pwd.getpwall()`. For reference, here's the Salt output from the same host:
[code]

[2018-07-17 18:51] V3XATI0N commented on #48608
It only seems to duplicate user accounts that came with the system, not users created since then, but I can't say why (obviously).

[2018-07-17 18:55] gtmanfred commented on #48629
My biggest concern is that if the minion id changes with the hostname, then you are going to have problems with having to reaccept the key by the new name on the master, and any attempt to automate that feels like it is just going to cause security problems.

@saltstack/team-core anyone else have an opinion about this?

[2018-07-17 19:08] cro commented on #48629
Historical context: every time we've changed the algorithm for determining minion_id, it has resulted in a world of pain.

[2018-07-17 19:10] gtmanfred commented on #48632
Do you have /usr/bin/pip2 available?

/usr/bin/pip is the pip for python3, arch's default python is 3, so /usr/bin/python is also python3.

You should be able to check `python2 -m pip` in your cmd.run to make sure it is available.

If not, install python2-pip.

[2018-07-17 19:13] gtmanfred commented on #48632
[code]

Works fine with python2-pip installed.

When it is not installed, it says no pip module available.

[code]

[2018-07-17 19:13] #48632 closed

[2018-07-17 19:19] DmitryKuzmenko commented on #48629
Why not to leave the default behavior as is but make an optional way to determine the personal order as a `list` like it's done in `/etc/nsswitch.conf`?
I mean instead of using `minion_id_prefer_FQDN = True` to use the list like `minion_id_prefer = [node, gethostname, getfqdn, quote_of_the_day, fortune]`.
And make this lazy—wait for it—loadable! =)))

[2018-07-17 19:59] #28582 closed

[2018-07-17 20:06] V3XATI0N commented on #48632
yep, that was the problem. Thanks!

[2018-07-17 20:07] gtmanfred commented on #48632
No problem!

[2018-07-17 21:03] twangboy commented on #48575
@markuskramerIgitt I accept your proposal.

[2018-07-17 21:18] markuskramerIgitt commented on #48629
@gtmanfred, I am using `auto_accept: True`, and id changes are accepted too.
This 'automation' was just configuration.

Increasing security requires sending the public key of the minion via a second channel, right?

[2018-07-17 21:22] markuskramerIgitt commented on #48629
@cro, I am aware of the many code changes in generating minion_id.
I know that you have all the experience, where I only need to solve a problem.

Using the FQDN seems ‘safer’ than the hostname; what do you think of an option to mask a specific domain, like `minion_id_supress_domain:  foo.bar.com`?

[2018-07-17 23:06] slaws opened #48637 "state.file.retention_schedule does not ignore relative directory when using getmtime()"
### Description of Issue/Question
When using `salt.state.file.retention_schedule` without using strptime, relative directory `.` and `..` are processed like regular file.
As such, they can be marked for deletion or counted as file to be retained.

### Steps to Reproduce Issue
With this state:
[code]

Having these files
[code]
It results to
[code]

However using `strptime_format` this problem does

[2018-07-17 23:19] cmclaughlin commented on #46905
Just wanted to say thanks for the recommended workaround. Upgrading from pyzmq 14.0.1 to 17.1.0 fixed my custom runners.

[2018-07-18 02:05] jasongufeng commented on #48497
/tmp/foo.conf:
  file.managed:
    - source: salt://test/foo.conf
    - user: root
    - group: root
    - mode: 644
This is the content of sleep.sls

6644 file and 7.5G

[2018-07-18 02:37] clallen opened #48639 "Orchestration run from scheduler throws tornado exception"
We recently upgraded to 2017.7.7 from 2016.11.6, and there is a scheduled job that was working but now fails with this exception:
[code]
I created a test job that just calls client.Caller, and it fails the same way.
The SLS code I'm testing with (on my fileserver root as "test_sls/boom.sls"):
[code]
To reproduce, call the above code from scheduler.  I'm using this config:
[code]
I can run it from

[2018-07-18 02:58] boltronics opened #48640 "user.present group regression in 2017.7.5+ if gid_from_name is True"
### Description of Issue/Question
There is a regression when upgrading from 2017.7.4 to 2017.7.5+ which results in a change in behaviour to the `user.present` functionality. My understanding is that this should never happen in a bugfix release unless it cannot be avoided due to a security issue.

I was building a new host with the following state applied (as rendered via `state.show_sls users`):

[2018-07-18 03:04] hnuhwk commented on #48600
thanks for your help..but I am a little confused about your answer.
let me explain my configuration and environment，I have two server for testing：
hnuhwk1 192.168.40.114  config as a master
hnuhwk2 192.168.40.116 config as the minion
currently the master is working fine but the minion can't start with the error shows before..

I also check the minion config in the hnuhwk2 withe minion id as below:

[2018-07-18 03:12] hnuhwk commented on #48600
I updated the minion config with
master: 192.168.40.114
id: 192.168.40.116
and restart the minion with the same error information ,there is no minion.pem(private key), minion.pub(public key) created...

[2018-07-18 03:13] richardgavel opened #48641 "New Salt server slow to sync cache from S3"
### Description of Issue/Question

I am using a Docker container as a test bed for our existing Saltstack server, which uses a s3fs. However, upon startup, it has to sync the local cache from S3, and it takes forever due to the number of files (over 5 GB worth). One issue is that the s3fs pulls down the files one at a time. Can it do it in parallel? Also, can it wait to populate a file from S3 loc

[2018-07-18 04:44] boltronics commented on #48640
In practise with my current state layout with `user.present` dependent on a new `group.present` block (both in a jinja loop over all users defined in pillar), it appears from my brief testing that the groups are always created in the same order as the users, causing user/group ids to match.

I guess this could be forced by manually setting an `order` for each block in the loop with an incrementing

[2018-07-18 06:08] diepes opened #48642 "UnicodeDecodeError: 'utf8' codec can't decode byte 0xfe in position 0: invalid start byte"
### Description of Issue/Question
salt-call thowing a error with no indication of where the problem is

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
vagrant vm

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
`
vagrant@localsandbox:~$ time sudo salt-call --state_verbose=False --log-level=info state.apply common.syslog

[2018-07-18 10:05] Artanicus opened #48645 "salt.states.file.line match regex support broken"
### Description of Issue/Question
When using a regex with salt.states.file.line match, results seems to indicate at least the caret is ignored and the rest is treated as a text fragment. This results in the content value getting replaced on every line where the supposed text fragment occurs.
### Setup
These are some of the states is in use:
[code]

### Steps to Reproduce Issue
Actual output of sta

[2018-07-18 11:42] Annnetta opened #48646 ".exe installation from source file fails"
Hi all,

I would like to install a package to the Minion from a source on my Master.
When I execute salt ‘*’ pkg.install 7zip_my_install  I have this error.

----------
              7zip_my_install:
                  Unable to locate package 7zip_my_install

my state sls is in /srv/salt/:
[code]

top.sls is in /srv/salt/:

[code]

.msi installer – 7z1805-x64.msi-  is in /srv/salt/

Salt Version:

[2018-07-18 13:01] markuskramerIgitt commented on #48600
@hnuhwk, you wrote "I install all package :master minion and everything in hnuhwk1 and copy the full environment to hnuhwk2 with server name and Ip address changed, does it make the minion not working?"

Yes. You must separately install on each host.

[2018-07-18 13:10] jvrahav commented on #48498
Anyone have any suggestions here on what can be done to manage salt memory

[2018-07-18 13:47] amuhametov commented on #48200
No luck :(

----------
          ID: python36-venv
    Function: virtualenv.managed
        Name: /usr/local/python36/venv
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/usr/lib/python2.7/site-packages/salt/state.py", line 1879, in call
                  **cdata['kwargs'])
                File "/usr/lib/python2.7/sit

[2018-07-18 14:03] Ch3LL commented on #48626
Thanks for the PR! As it looks like your PR does indeed fix the issue I will close this issue and keep the conversation in the PR but let me know if this needs to be re-opened.

[2018-07-18 14:03] #48626 closed

[2018-07-18 14:07] DmitryKuzmenko commented on #48498
@jvrahav sorry for late response. There is an issue related to how ZeroMQ publisher works: if a client is subscribed and don't read the messages the server side publisher keeps that messages in memory. Probably this is the issue you're seeing.
We had memory issues related to this in the past but now all known issues are resolved. So this is why I'm asking how do you contact master to trigger opera

[2018-07-18 14:30] Ch3LL commented on #48627
Thanks for the PR! As it looks like your PR does indeed fix the issue I will close this issue and keep the conversation in the PR but let me know if this needs to be re-opened.

[2018-07-18 14:30] #48627 closed

[2018-07-18 14:40] amuhametov commented on #48200
@garethgreenaway up

[2018-07-18 15:11] Ch3LL commented on #48639
i'm having issues even running the orchestrator:

[code]

is 2017.7.7 the master and minion version? Also is there a particular reason why you are using the `client.Caller()` class which is the same interface `salt-call` uses.

[2018-07-18 15:21] Ch3LL commented on #48640
ping @meaksh can you comment here since this was your change.

[2018-07-18 15:44] Ch3LL commented on #48646
ping @saltstack/team-windows any ideas here?

[2018-07-18 16:00] Ch3LL commented on #48645
i'm able to replicate your issue. fortunately i tried on the head of 2018.3 as well and it is working there now. So this will be included in the next 2018.3.3 release :)

as shown below on the head of 2018.3:

[code]

[2018-07-18 16:04] SteffenKockel commented on #30574
`yamllint` does not work with jinja involved.

[2018-07-18 16:19] morganwillcock commented on #48646
It looks like the package installation is using a state name instead of the package name. The terminology has been muddled, so not exactly sure what is configured, but `pkg.install 7zip` would install what is defined for the 7zip package (and when installing directly like this there is no requirement to use a state or top file, i.e. you are using `pkg.install` not `pkg.installed`).

[2018-07-18 16:31] damon-atkins commented on #48646
Pls read https://docs.saltstack.com/en/latest/topics/windows/windows-package-manager.html
Also search for win_pkg issues, you will find other people requesting help.

This is not an sls in the same sense of the rest of salt.  Call it a package definition. And it needs to be in /srv/salt/win/repo-ng Your example below defines a package called `Zzip` (note your typo) with a single version of `18.05.

[2018-07-18 16:32] doc987 commented on #48565
I mentioned this with respect to ```salt-cloud```, but I think applies to any command that directs minions to do something.  I think an encrypted master key might now work (#42587) with the ```salt``` command, but I haven't tried it, as that update was after the 2017.7.3 version I currently have.  If I encrypt the master key, will running the ```salt``` command trigger a prompt for a password?  Re

[2018-07-18 16:45] terminalmage commented on #48522
Because that's just the way Python 2 is distributed: https://github.com/python/cpython/blob/2.7/Lib/site.py#L466-L483

[2018-07-18 17:57] dgengtek opened #48655 "salt-api ldap authentication 401 Unauthorized"
### Description of Issue/Question
Cannot authenticate with ldap external authentication. Did restart salt-master and salt-api without any success.

`401 Unauthorized - Could not authenticate using provided credentials`
In the debug logs of salt api is `[INFO    ] [api_acl] Authentication not checked for user testdomainuser from IP 10.0.0.6`. Salt is not even trying to bind?

Salt master is outputt

[2018-07-18 18:27] nickgarber opened #48657 "state.artifactory replaces dots in group_id with slashes, results in incorrect URI"
### Description of Issue/Question

When trying to use the `artifactory.downloaded` state to retrieve a file that resides on our Artifactory at `https://somerepo/artifactory/logstuff-misc-prd-local/co.nxlog/nxlog-community-edition/nxlog-community-edition-2.10.2102.msi` I provide the group_id of `co.nxlog` but the state fails with an error indicating that the group_id value is being split on dots ('

[2018-07-18 18:47] nickgarber commented on #48657
Thoughts so far ...
It could be that the best way forward is (1) to add and support a `layout` argument, or (2) to allow mashing both together in `repository` and make `group_id` optional.

The second option doesn't currently work because it produces URIs like this `https://somerepo/artifactory/logstuff-misc-prd-local/co.nxlog/u''/nxlog-community-edition/2.10.2102/nxlog-community-edition-2.10.2102

[2018-07-18 18:57] nickgarber commented on #48657
Oh! Looks like this is already fixed in 2018.3.2 (https://github.com/saltstack/salt/commit/3557c0ddea0be9a37c48a280d26fbb0e65ba47ab)

Cheers and beers!

[2018-07-18 18:57] #48657 closed

[2018-07-18 19:01] clallen commented on #48639
Yes, both master and minions are at the same version.  I'm using client.Caller because we're gathering data from several minions and saving it on the master server itself.
I'm open to a better way of doing it, but it's a little worrisome to even be having issues with such a basic operation.

If it helps, I compiled this build of Salt and its dependencies myself, since our IT infrastructure managem

[2018-07-18 19:34] kev009 commented on #45881
I'm seeing this on a FreeBSD host so I don't think the OS matters.  Somehow the eventers inside the schedule module are timing out.  Forcefully killing the minion seemed to allow a follow up manual salt-call to work, but running salt-call with the previous minion process in the background led to the timeouts.

[2018-07-18 19:41] dstoliker opened #48659 "file.grep with glob (*) in path produces file not found error"
### Description of Issue/Question
`file.grep` returns `No such file or directory` error when using a glob (*) in the path
### Steps to Reproduce Issue
Using examples from [the documentation for file.grep](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.file.html#salt.modules.file.grep):
This works:
[code]

This does not work:
[code]

### Versions Report
[code]

[2018-07-18 19:58] adtyashgl commented on #48595
Hi Daniel,
I was able to fix the issue. Turns out salt-api, salt-master was installed under python 2.7 and salt-ssh was installed under python 3.6 on the system I was running my tests on.

Once I fixed the versions salt-ssh worked.

You can close this issue. Thanks for your time on this

[2018-07-18 19:58] #48595 closed

[2018-07-18 20:16] jvrahav commented on #48498
@DmitryKuzmenko , thanks for the reply.

Can you please let me know the version in which the memory issue you are referring to was fixed.

Unfortunately, i dont have the script with me at the moment. But the script itself does this
1. install salt minion in the endpoint
2. Once the minion connects to the master, reactor kicks in to apply a state on the endpoint
3. At this point there is a rise in

[2018-07-18 20:20] TTimo commented on #44929
Running into this as well. Good find, thanks for the workaround. Please fix!

[2018-07-18 20:47] mike2523 opened #48661 "win_lgpo: User Rights Assignment policies"
When making changes or changes required, always returns true. But no change happened. User rights assignments exists in `Computer Configuration->Windows Settings->Security Settings->Local Policies->User Rights Assignent`

Before: (using lgpo.get machine)
[code]
in SLS file:
[code]
output:
[code]
Result is same as before using lgpo.get
[code]

secedit /export looks the same as before:
[code]
If an

[2018-07-18 21:10] slaws commented on #48637
I've made the PR to 2017.7.  I hope it's OK.

Let me know if I need to do it to another branch.

[2018-07-18 21:43] nickgarber commented on #42510
This PR is included with v2018.3.2.

[2018-07-18 22:07] garethgreenaway commented on #48536
@rallytime On it.

[2018-07-18 22:30] cachedout commented on #47954
We will want @RichardW42 to look at this since he made the original change. This seems like it should be safe but I would like to hear what he thinks.

[2018-07-18 22:50] dgengtek opened #48665 "auth ldap cannot deal with complex passwords"
### Description of Issue/Question
Authentication issues with auth ldap when using the rest api and complex passwords. Passwords gets parsed into multiple key values.

Authentication is still successfull when setting binddn and bindpw and a valid token is still generated even though the password of the username passed via a login request is invalid.

https://docs.saltstack.com/en/latest/topics/eaut

[2018-07-18 22:55] dgengtek commented on #48655
Issue is I configured only starttls which is not supported by the auth ldap module

[2018-07-18 23:12] garethgreenaway commented on #48536
This actually appears really simple, updating `psutil.disk_partitions` to use `all=True` instead of `all=False` ensures that the tmpfs file systems are included in the list.

[2018-07-19 02:07] boltronics commented on #48640
Looking over https://github.com/saltstack/salt/pull/45365 some more, and looking over @meaksh's profile, I now have a better understanding of the problem.

I rolled back to 2017.7.4 and ran the example state from that PR that is supposed to have problems (which I called `test.sls`):
[code]

This is what I got:
[code]

As you can see, this was already working perfectly - no changes required.

Howev

[2018-07-19 02:53] jerrykan opened #48667 "virtualenv.managed does not use env_vars when creating the virtualenv"
### Description of Issue/Question
We use Salt to manage internal hosts that don't have external access to sites like PyPI, but we so however run an internal PyPI mirror. This means when we run `virtualenv` to create a new virtualenv on one of these internal hosts they need to point to the internal PyPI mirror to fetch any needed python packages (ie. `setuptools`, `pip`). Usually we do this by sett

[2018-07-19 06:50] DmitryKuzmenko commented on #48498
@jvrahav I've wrote about this PRs:
https://github.com/saltstack/salt/pull/36024
https://github.com/saltstack/salt/pull/36720

I don't try to say your issue is the same. It's just an assumption. It could be if you use LocalClient or SaltEvent in a wrong manner. For instance probably you create LocalClient, send a command, read an event (here client subscribes to events) and don't read events anymo

[2018-07-19 08:54] Annnetta commented on #48646
@damon-atkins, @morganwillcock Thank you for your answers!

@damon-atkins That works perfectly =) Thanks a lot!

[2018-07-19 08:54] #48646 closed

[2018-07-19 11:28] like-inspur opened #48668 "sls call jinja variable error"
I define the number of server according to salt minion hostname in map.jinja:
[code]
And init.sls call variable prometheus.server from this file:
[code]
But when I execute state.apply prometheus, the error of output is like this:
[code]

[2018-07-19 11:42] hnuhwk commented on #48600
thanks a lot  I will try and feedback to you

[2018-07-19 12:34] Ch3LL commented on #48497
Did you close this because its resolved or was that by accident?

[2018-07-19 12:40] Ch3LL commented on #48639
ahh i think this might be a duplicate of https://github.com/saltstack/salt/issues/46905#issuecomment-405758480

you agree so we can close this issue and continue discussion there? it looks like pyzmq upgrade was one workaround, but we should be fixing it to work with both versions.

[2018-07-19 12:43] Ch3LL commented on #48639
oh nevermind i just re-looked at your versions report and you have 17 for pyzmq, what about on the minions?

[2018-07-19 12:44] Ch3LL commented on #48637
2017.7 is perfect. It will get merged forward to the other branches. Thanks :)

[2018-07-19 12:49] clallen commented on #48639
The same build that the master has was distributed to the minions.  Although I don't think it's a master/minion issue because it's failing when trying to instantiate Caller on the master itself.
The thing that's really curious to me is that it only happens when running out of scheduler.

I notice in that other issue that the last comment says 17.1.0 and I'm using 17.0.0.  I'll try upgrading to tha

[2018-07-19 12:52] Ch3LL commented on #48639
yeah i think you might be right now that i look at your stack trace closer its not hitting zermomq. Now that i know what my stack strace error was let me try replicating with and updated pyzmq

[2018-07-19 13:00] 0xf10e commented on #6955
Yeah, @ketzacoatl, [reclass](https://reclass.pantsfullofunix.net/) (GH: [madduck/reclass](https://github.com/madduck/reclass)) is probably the best choice here.
Not sure if adding a dependency on reclass is a good idea though.

[2018-07-19 13:20] clallen commented on #48639
Right, I just tried it with pyzmq 17.1.0, same issue.

It seems to be happening in tornado, which now I recall an issue with tornado 5 and Salt being reported earlier this year.  However looking at the release notes, it should only affect builds based on python 3:
https://docs.saltstack.com/en/latest/topics/releases/2017.7.6.html

[2018-07-19 13:24] jasonp26 opened #48669 "NPM install forever -g command in State file - not working"
### I am trying to run on my minion this command "npm install forever -g" . And I am getting a re-occurring error. However if i run that command directly on Minion it works fine.

### Setup
copy_npm:
  file.managed:
    - name: /tmp/npm.sh
    - source: salt://scripts/os/npm.sh
    - user: root
    - mode: 755
run-npm:
  cmd.run:
    - name: /tmp/npm.sh

Inside that 'npm.sh' script is just one lin

[2018-07-19 13:29] Ch3LL commented on #48639
to note i did need to change `function: state.orch` to `function: state.orchestrate`

and my stack trace is:

[code]

[2018-07-19 13:30] Ch3LL commented on #48639
also i tested with tornado 4.2.1 and 5 and still saw this

[2018-07-19 13:39] danielmorlock commented on #30690
I have the same problem with in 2017.7.7 and the workaround with `|yaml` and or `|json` does not work:

Having the following pillar:
[code]

and the following in my state:

[code]

template.yml:
[code]

Result:
[code]

The only workaround that actually works is using `|replace('\\\\n', '\n')`.

[2018-07-19 15:11] gtmanfred commented on #48668
Where are you telling grains.filter_by which grain it should filter by?

By default it filters on `os_family` not minion id.

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.grains.html#salt.modules.grains.filter_by

[2018-07-19 16:39] garethgreenaway commented on #48669
The error you're getting looks like `npm` is not in the root user's PATH.  When you're running it manually are you running it as root as well?  Can you run `which npm` from the command line and inside your script include a line that is `echo $PATH`?

[2018-07-19 17:03] jasonp26 commented on #48669
Hi @garethgreenaway thank you and yes you were on the right path "pun" lol i have just got it sorted it turned out that i needed this to make it work (- runas: root)

Here is the new code layout that works.

run_vfa:
  cmd.run:
    - name: ./vfa.sh
    - cwd: /etc/profile.d/
    - runas: root
run-code:
  cmd.run:
    - name: ./npm.sh
    - cwd: /tmp/
    **- runas: root**

[2018-07-19 17:03] #48669 closed

[2018-07-19 18:47] djneades opened #48676 "salt-ssh should not target wrong minion from roster file as a result of reverse-DNS lookups"
### Description of Issue

**Summary:** `salt-ssh` can target the wrong minion when two minions (each using a different SSH port) in a roster file share the same IP address _and_ the reverse-DNS configured for that IP address resolves to one of the minion’s ids (hostnames). This is a major problem, as it is impossible to target certain minions in this scenario.

**More detail:** Having determined t

[2018-07-19 19:16] garethgreenaway commented on #48659
Looks like the function is taking the file argument as is and not expanding it if necessary.  Since the function currently doesn't do it I'm marking it as a future feature addition.

[2018-07-19 20:02] garethgreenaway commented on #48661
@twangboy @dwoz Thoughts?

[2018-07-19 20:13] garethgreenaway commented on #48667
@jerrykan Thanks for the report.  Unfortunately I have not been able to reproduce this one.  The `env_vars` are used by pip is called.  Using the state above I see it attempt to connect to a local URL to install packages, it fails because I didn't have one running, but still attempted.  In additional to the information that you provided above, can you also provide what version of virtualenv you're

[2018-07-19 20:41] garethgreenaway commented on #48668
@like-inspur Thanks for the report.  As @gtmanfred pointed out, the `grains.filter_by` function is not going to work for what you're trying to accomplish.  Instead of using a Jinja map, storing the above as pillar values targeted at the appropriate minions would be a better approach.

[2018-07-19 20:53] garethgreenaway commented on #48665
@dgengtek thanks for the report.  I'm making this as a blocker for the 2018.3.3 release.

[2018-07-19 20:59] garethgreenaway commented on #48655
@dgengtek Thanks for the report.  Is it that the Salt module doesn't support StartTLS or that a python ldap library that Salt is using doesn't support it?  If it's the former, then we can definitely tag this is a feature request.

[2018-07-19 21:00] markuskramerIgitt commented on #48629
@Karunamon, could you give more detail or an example of your use case?

[2018-07-19 21:00] markuskramerIgitt commented on #48629
From all comments so far, I understand that FQDN is more secure/reliable than hostname.
You must no strip the domain, when the same hostname can appear in several domains.

[2018-07-19 21:32] OrlandoArcapix opened #48677 "npm.bootstrap does not return True (clean) with test=true and no changes"
### Description of Issue/Question
When using the npm.bootstrap state with test=true, it always returns a "changes will be made" result.

### Setup

Sample sls:

[code]

### Steps to Reproduce Issue
1. Set up an npm application (outside of the scope of this bug report for now!)
2. Use `npm.bootstrap` state set up its dependencies (or confirm after the fact)
3. Run `npm.bootstrap` state with `test=t

[2018-07-19 21:33] OrlandoArcapix commented on #48677
I have a patch for this - will get a pull request in shortly:

[code]

[2018-07-19 21:59] #26584 closed

[2018-07-19 22:33] ketzacoatl commented on #6955
Yea, that's a question beyond me, though I don't think it needs to be made an external dependency. Salt could still make use of the code - it's clean, reliable, and robust. As a user, the experience is awesome.

[2018-07-19 22:59] #20285 closed

[2018-07-19 23:03] Arabus opened #48680 "Add config.items to query current running minion config"
### Description of Issue/Question
While there is the possibility already to query minions for individual configuration values by calling `config.get` it is currently not possible to query for all values at once.

It would be nice if this feature could be added, either by enhancing `config.get` or providing `config.items` similar to the pillar and grains functions.

[2018-07-19 23:10] kuetrzi commented on #47999
from
#https://github.com/saltstack/salt/commit/c65d4714e52000260512286d8d33ab40b5161975

it looks like an extra comma was added.

-    log.trace('Carbon return walking path: {0}, value: {1}, metrics: {2}, timestamp: {3}'.format(path, value, metrics, timestamp))
+    log.trace(
+        'Carbon return walking path: %s, value: %s, metrics: %s, ',
+        'timestamp: %s', path, value, metrics, times

[2018-07-20 00:05] cachedout commented on #46431
Hello there. Let me do some explaining here. :)

@GreatSnoopy has more or less sussed out the correct assessment of this issue. What's likely happening is that the queue which the master uses to track reactor jobs prior to execution is reaching capacity and silently dropping jobs. It's pretty rare for this to happen under normal operation but in cases where the reactions are orchestrations which a

[2018-07-20 00:49] jerrykan commented on #48667
@garethgreenaway Thanks for looking at this. The part where Salt calls `pip` directly seems to work fine. The issue is when Salt calls `virtualenv` to create the new virtualenv. As best as I can tell `virtualenv` invokes the system `pip` to install `setuptools` and `pip` within the virtualenv when it is first created. However because the environment variables aren't set before Salt invokes `virtua

[2018-07-20 01:47] gtmanfred commented on #48680
Thanks for the pr!

Daniel

[2018-07-20 01:48] gtmanfred commented on #48677
Thanks for the PR!
Daniel

[2018-07-20 01:56] like-inspur commented on #48668
I define dictionary type variable in init,sls, and it works. You can close this issue, thank you!
{% set server = {'swarm-212':'1', 'swarm-213':'2', 'swarm-214':'3'} %}

prometheus:
  cmd.wait:
    - name: docker service update monitor_prometheus{{ server[grains['host']] }} --force
    - watch:
      - file: /etc/prometheus/prometheus.yml
      - file: /etc/prometheus/rules

[2018-07-20 02:06] garethgreenaway commented on #48668
Perfect!  Thanks!

[2018-07-20 02:06] #48668 closed

[2018-07-20 05:45] wyardley commented on #43138
Sorry for all the spam about various commits, but I think #48658 should resolve this, and similar issues.

[2018-07-20 06:24] syphernl opened #48682 "win_pkg: pkg.installed on Windows shows failed when it succeeded"
### Description of Issue
We have a custom repo-ng state that installs a custom package. The `install status` reports `success` but salt-minion considers it a failure claiming the package could not be installed/updated.

[code]

### Setup
[code]

The winrepo entry:
[code]

The logs also state this, which is probably related since the code checks for retcode:
[code]

### Steps to Reproduce Issue
See

[2018-07-20 08:07] bbinet commented on #6955
@ketzacoatl @0xf10e FYI saltclass (which is very similar to reclass) is now directly available in salt from version 2018.3.0.
See: https://docs.saltstack.com/en/latest/topics/releases/2018.3.0.html#new-saltclass-pillar-master-tops-modules

[2018-07-20 09:30] soostdijck opened #48684 "archive module(s) fail when extracting unicode filenames"
### Description of Issue/Question

When I use `archive.extracted` to unzip files with unicode in their filenames (russian) things break.

**trace:**
[code]

### Setup
**state stanza example:**
[code]

### Steps to Reproduce Issue
Create a tar.gz with russian filenames in it, extract it with archive.extracted or the execution module...

### Versions Report
[code]

[2018-07-20 09:55] bbinet commented on #43675
This should be fixed when PR #48671 is merged.

[2018-07-20 10:59] #26845 closed

[2018-07-20 11:43] renatasV opened #48686 "Question: How to automatically delete old key and accept new key automatically"
### Description of Issue/Question
Maybe missed somewhere, but not finding a way to auto-accept minion key when previously used minion key is accepted in the master.

Currently what I have is:
using reactor and once I see "salt/auth" event i triger state.
[code]
I delete previously used VM with minion inside, this mean in master key is already accepted.
Create a new VM and deploy salt. (minion ID w

[2018-07-20 12:01] srinivasguttur commented on #38654
Hi @eminio  Is this issue resolved? I am also facing same issue when I am trying to clone using PyVmomi.
When I try to clone from directly with same Datastore i don't  face the issue.

[2018-07-20 12:35] gtmanfred commented on #48686
AFAIK, there is no way to do this with the default configs.  The only thing you could do is set open mode, which just always accepts all keys.

That kind of looks like what you have implemented anyway using the reactor.

https://docs.saltstack.com/en/2017.7/ref/configuration/master.html#open-mode

[2018-07-20 12:37] gtmanfred commented on #48684
@terminalmage can you take a look at this?

Thanks,
Daniel

[2018-07-20 12:39] gtmanfred commented on #48682
@twangboy @damon-atkins @dwoz can one of yall look at this? I am not familiar enough with the windows package module stuff to see why it would think it is failing.

Thanks!
Daniel

[2018-07-20 12:48] gtmanfred commented on #48676
Thanks for reporting this.

Can you attempt to apply this patch to your setup and see if it fixes the problem?

[code]

Thanks!
Daniel

[2018-07-20 12:51] gtmanfred commented on #36994
This should be fixed.

[2018-07-20 12:51] #36994 closed

[2018-07-20 12:52] gtmanfred commented on #36995
This also looks fixed.

[2018-07-20 12:52] #36995 closed

[2018-07-20 12:53] #37250 closed

[2018-07-20 12:53] gtmanfred commented on #37250
If you want the config files, they need to be installed using the provided packages.

Pip does not handle backup files like those packages managers do, so it would always overwrite the files.

Until setuptools supports those, we won't be distributing and overwritting users config files.

[2018-07-20 12:54] gtmanfred commented on #43675
awesome, thanks for the pr @bbinet

[2018-07-20 13:17] rallytime commented on #48557
@dwoz Let's get this fixed by 2018.3.3

[2018-07-20 13:21] #48686 closed

[2018-07-20 13:47] djneades commented on #48676
@gtmanfred Thank you for the very quick response; much appreciated. I can confirm that your patch does indeed seem to fix the problem.

Thanks again!

[2018-07-20 14:07] rallytime commented on #48677
Closed via #48678

[2018-07-20 14:07] #48677 closed

[2018-07-20 14:53] #46052 closed

[2018-07-20 14:59] #36896 closed

[2018-07-20 15:21] ketzacoatl commented on #6955
oh wow... so this is already done then.. we should close this ticket as complete.. no?

[2018-07-20 16:14] rallytime commented on #48360
Closed via #48478

[2018-07-20 16:14] #48360 closed

[2018-07-20 16:14] damon-atkins commented on #48646
@Annnetta Pls change the title to
`win_pkg: Installing Software location of files on the master`

[2018-07-20 16:23] rallytime commented on #47999
@kuetrzi Would you like to make a PR to fix that?

[2018-07-20 16:24] damon-atkins commented on #48682
For details of your software after installing it run the following on the minion.  For further info see https://docs.saltstack.com/en/develop/topics/releases/2018.3.0.html#new-utils-module-salt-utils-pkg-win
[code]

[2018-07-20 16:31] #6955 closed

[2018-07-20 16:31] damon-atkins commented on #48682
@Ch3LL Can we have a new label called `Resolved Use Issue`  i.e. something to indicate the person needed help using salt and their problem was resolved and was not a bug.  Might help point to where doco needs improving.

[2018-07-20 17:13] #48542 closed

[2018-07-20 17:44] deuscapturus opened #48692 "salt-syndic option to use /etc/salt/syndic configuration instead of /etc/salt/minion"
### Description of Feature Request

I have a use case for syndic that requires the syndic's minion service to run in local mode.  However, the syndic uses the minion config file and will not work in local mode.

To resolve this I'm requesting that syndic use its own configuration file `/etc/salt/syndic`, and if no such file is found default to `/etc/salt/minion`.

[2018-07-20 18:00] #13231 closed

[2018-07-20 18:14] twangboy commented on #48646
@damon-atkins Done

[2018-07-20 18:25] prensing opened #48693 "win_servermanager for Win10"
### Description of Issue/Question
win_servermanager currently only works for Server versions. However, there are Powershell scripts which look to be very similar for Win10.

To fetch the list of features:
  Get-WindowsOptionalFeature -Online
You can query a specific feature by adding the '-FeatureName SNMP' argument (for example)

To install a feature:
  Enable-WindowsOptionalFeature -online -feat

[2018-07-20 18:30] whytewolf opened #48694 "2018.3.2 cache.grains not returning any grains."
### Description of Issue/Question

`salt-run cache.grains` is not returning any data about the cached grains on a master.
This only appears to be 2018.3.2

### Setup
Install 2018.3.2 on a system with a master.
refresh the grains or give time for the cache to be populated.
Run `salt-run cache.grains` or `salt-run cache.grains tgt=minion`

### Steps to Reproduce Issue

[code]

[code]

[code]
### Ver

[2018-07-20 18:30] whytewolf commented on #48694
ZD-2711

[2018-07-20 20:05] #36877 closed

[2018-07-20 20:11] mchugh19 commented on #37043
Calm it down stalebot, this is still a major issue and not resolved.

[2018-07-20 21:05] #36932 closed

[2018-07-20 21:05] #36970 closed

[2018-07-20 21:05] #33069 closed

[2018-07-20 21:05] #37013 closed

[2018-07-20 21:05] #4244 closed

[2018-07-20 21:05] #17095 closed

[2018-07-20 21:05] #37038 closed

[2018-07-20 21:05] #37052 closed

[2018-07-20 21:05] #36763 closed

[2018-07-20 21:05] #37041 closed

[2018-07-20 21:05] #37078 closed

[2018-07-20 21:05] #37061 closed

[2018-07-20 21:05] #37056 closed

[2018-07-20 21:05] #33849 closed

[2018-07-20 21:05] #37077 closed

[2018-07-20 21:05] #36734 closed

[2018-07-20 21:05] #37068 closed

[2018-07-20 21:05] #37092 closed

[2018-07-20 21:05] #37085 closed

[2018-07-20 21:05] #22811 closed

[2018-07-20 21:05] #37044 closed

[2018-07-20 21:05] #37026 closed

[2018-07-20 21:05] #12070 closed

[2018-07-20 21:05] #37127 closed

[2018-07-20 21:21] whiteinge commented on #37043
The three checkboxes I mentioned above around exposing exit codes have been addressed (see #41356 for more info). That won't help the structural issues around Local/Runner/WheelClient differences or differences across all the modules in common formats or how errors are raised, however.

[2018-07-20 21:38] mike2523 commented on #48661
Another observation that may narrow down TS. This observation happens on sporadic line items in local gpedit(s). In this particular example, its in Windows Updates.

SLS file:
[code]

When above setting is already configured in desired state:
[code]

when changes are needed:
[code]

[2018-07-20 22:05] #16409 closed

[2018-07-20 22:05] #36833 closed

[2018-07-20 22:05] #10070 closed

[2018-07-20 22:05] #36191 closed

[2018-07-20 22:05] #34448 closed

[2018-07-20 22:05] #36955 closed

[2018-07-20 22:05] #36969 closed

[2018-07-20 22:05] #36968 closed

[2018-07-20 22:05] #36687 closed

[2018-07-20 22:05] #36973 closed

[2018-07-20 22:05] #36778 closed

[2018-07-20 22:05] #36985 closed

[2018-07-20 22:07] nhavens opened #48695 "file.blockreplace regression in 2018.3.2"
### file.blockreplace removes content preceding marker_end on line containing marker_end

### Setup
/srv/salt/blockreplace.sls
[code]
/tmp/test.html
[code]

### Steps to Reproduce Issue
Expected behavior, and that of previous releases (I'm not sure which was the first release to have this problem) was to preserve the entire line containing marker_end. In version 2018.3.2, all characters preceding

[2018-07-20 22:47] akbhat opened #48696 "Saltify ignoring master config when executing from newly created master"
### Description of Issue/Question
Used Saltify to successfully salt a cluster including master and syndic via a bootstrapping master. Then attempted to run it off the local_master (manually installed salt-master before saltify) using the conf files listed below. The install proceeds without error except that the master config options mentioned for local master are ignored. It seems removing the ma

[2018-07-21 01:55] diepes commented on #48642
I created an empty state  "salt/test/init.sls"  with just a comment "#" and got the same error.
Downgraded salt to 2017.7 latest version and no errors.
Upgrade back to 2018.3.2 and get the error.

Will try to see if I can pinpoint something in the pillar causing the issue, the error does not seem to assist in finding the cause.

[2018-07-21 03:20] diepes commented on #48642
I seem to be caused by a binary file (jks keystore) gpg encrypted in the pillar.

Is this related to https://github.com/saltstack/salt/issues/46934

[2018-07-21 07:55] lwillek commented on #31978
Well, the issue is still valid in recent versions of Salt. Because we don't use this kind of setup longer I am not affected longer. However, I will close this Bugreport, because there is a workaround available and I am not longer affected.

[2018-07-21 07:55] #31978 closed

[2018-07-21 09:41] 0xf10e commented on #6955
Sweet, that's for pointing this out for us, @bbinet!
Don't have the time to follow the development as close as I'd like lately…

[2018-07-21 11:59] dgengtek commented on #48655
@garethgreenaway the salt module did not support the option see pull request #48697

[2018-07-21 13:33] Zambozo opened #48698 "Beacon inotify problem"
### Description of Issue/Question
I am trying to set up beacon as in the example doc for

[code]

and i keep getting this error on the salt-minion:

[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-re

[2018-07-21 14:21] syphernl commented on #48682
@morganwillcock So the `full_name` must match the name in the installer? I'll give this a shot on Monday when I'm back in the office.

[2018-07-21 15:17] terminalmage commented on #48695
This change was made in order to handle newlines around the marker better. Try changing your marker to `'</div'` or `'</div>'`, either should work.

BTW, this change was stated in the [file.blockreplace docs](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.blockreplace) (see `Changed in version 2017.7.5,2018.3.1`), but it was not listed in the release not

[2018-07-21 16:51] Zambozo commented on #44183
Hello,

in 2018.3.2 i am seeing the same issue:

[code]

[2018-07-22 04:54] miukumac opened #48701 "salt pkg.upgrade reports new packages despite installing none (zypper module)"
### Description of Issue/Question
When issuing pkg.upgrade on any openSUSE or Enterprise Server, certain packages cause false reports of upgrading packages although nothing is actually installed. Such packages are always multiversion files such as kernel, crash-kmp and gpg-pubkey packages which many may be installed at the same time as well as custom packages that may have multiple versions such a

[2018-07-22 09:05] erwindon opened #48703 "Salt-API returns 500 instead of 401 for /minions"
### Description of Issue/Question
I'm testing an application based on `salt-api/rest_cherrypy`. Part of the test is to revoke (not grant) access rights to specific api calls, and see how the application behaves. Most api calls return the expected http response code 401 (unauthorized). At least the `/minions` api call returns a http response code 500 (internal server error). This is never a valid o

[2018-07-22 10:13] Dragonjana commented on #20903
netstat -an | grep -i <portnumber>
Salt master port is used by some other process so you cant start the process until the other process is killed.

[2018-07-23 05:57] syphernl commented on #48682
@morganwillcock Removing the hyphen resolved the issue! Thanks!

[2018-07-23 05:57] #48682 closed

[2018-07-23 13:50] gtmanfred commented on #48665
I have been thinking about this the last couple days.  I don't think that we actually use the bind user to authenticate, we only use that for checking groups and doing those queries afaik.

I think we just check the username and password provided and see if those can bind to see if we should allow that user to run commands.

worth checking.

[2018-07-23 14:25] rongshengfang opened #48709 "ldap state not checking existing value before updating it"
### Description of Issue/Question
I am trying to use the ldap state to update the userPassword attribute for an user in the LDAP, and it would succeed the first time but would fail with the following exception the next time I ran salt-call again:

[code]
This tells me that the ldap state doesn't check the existing value of an attribute before it tries to update it.

Is there any way to instruct th

[2018-07-23 14:34] amuhametov commented on #48200
Seems to be related to #48667 too

[2018-07-23 14:50] Ch3LL commented on #48694
looks like i can replicate this adn i bisected it to 4718d31e53431565fa18debb3ba1b6ba23fab9e6

[2018-07-23 14:53] Ch3LL commented on #48694
also to note i noticed it was working in 2018.3.0 and not >=2018.3.1

[2018-07-23 14:59] Ch3LL commented on #48696
ping @saltstack/team-cloud can you answer @akbhat 's question "Shouldn't it check to see if etc/salt/master exists even if Saltify itself did not install salt-master on that host?" is this expected behavior?

[2018-07-23 15:05] moio commented on #48086
@isbm although I understand this is currently not the way it's supposed to be used, it's still surprising to see a different behaviour of `salt-ssh` vs. the regular `salt` call.

What I would have expected is an error if I call `salt-ssh` in parallel on the same minion, or no error and queuing of function calls when using `queue = True` (regardless of the implementation mechanism, that flag just m

[2018-07-23 15:10] Ch3LL commented on #48698
i'm not able to replicate this. do you have the pyinotify dependency installed?

[2018-07-23 15:11] Ch3LL commented on #48701
ping @saltstack/team-suse any ideas here?

[2018-07-23 15:12] isbm commented on #48086
@moio The Salt SSH works as designed at this point. The locking part I am totally agree with you here an that is actually scheduled.

[2018-07-23 15:14] miukumac commented on #48701
Additional note; I upgraded our infrastructure to 2018.3.2 (Oxygen) and the same issue persists on this version as well.

[2018-07-23 15:16] Ch3LL commented on #48703
seems we need to clean this up to ensure we are returning the correct error code.

fyi @saltstack/team-netapi

[2018-07-23 15:36] #37177 closed

[2018-07-23 15:36] #37168 closed

[2018-07-23 15:36] #37172 closed

[2018-07-23 15:40] meaksh commented on #48701
@miukumac - Thanks for reporting this. The issue is fixed on https://github.com/saltstack/salt/pull/48712

[2018-07-23 15:43] miukumac commented on #48701
That was damn fast. Great work 👍

[2018-07-23 15:47] #46392 closed

[2018-07-23 16:38] mts-avco commented on #26598
Following on from this, I've discovered that moving the winrepo_ng mount under `gitfs_remotes` and using `mountpoint: salt://win/repo-ng` appears to allow windows minions to function as expected, and thus exposes the `root` option at the same time. Still investigating but if it continues to work then this will be sufficient for my use case.

[2018-07-23 16:50] isbm commented on #48701
@miukumac OK, next time we will slow down for you. :laughing:

[2018-07-23 17:42] BenjaminSchiborr opened #48717 "git_pillar: Tags cannot start with a number"
### Description of Issue
When using git_pillar, any tag you use cannot start with a number. An error show when executing a state that uses pillar information. This error does *not* show when directly accessing the pillar via e.g. pillar.get.

### Setup
Snippet for Master Config:
[code]

Example State on a git tag "1.0":
[code]

Example pillar on a git tag "1.0":
[code]

### Steps to Reproduce Issu

[2018-07-23 17:56] amuhametov commented on #48200
Localized the problem. The reason is absence of system-wide `pip` binary.

[2018-07-23 18:31] moio commented on #48086
Sure. I think the semantics of `queue=True` are very clear from a user perspective: the function call should not fail, the execution should simply be delayed.

The implementation in the non-ssh case you described is clearly something that can't be replicated as-is in `salt-ssh`, but this doesn't mean it can't be implemented in some other way.

IOW, from a user POV, one would expect `queue = True`

[2018-07-23 19:37] rallytime commented on #48536
@whytewolf This is fixed with #48718

[2018-07-23 19:43] #48655 closed

[2018-07-23 19:58] lomeroe commented on #46896
the proxy_host option being passed as a unicode string seems to be the issue.

i.e. proxy_host=u'proxy' fails, but proxy_host='proxy' succeeds

Python3 doesn't have this distinction (IIRC), which would explain why it functions as expected there

This works for me (in salt/utils/http.py), with py2 -- haven't had a chance to test it w/py3 yet :
[code]

[2018-07-23 20:18] steverweber commented on #37261
`--preview-target` is also rather useless if unresponsive minions are included.
`salt -I --preview-target 'role:prod*'`

[2018-07-23 20:20] ChristianBeer commented on #37512
This looks like a simple documentation change once the behavior is confirmed to be intentional.

[2018-07-23 23:45] garethgreenaway commented on #48665
Looking closer at the code in auth/dap.py the reason it is successfully authenticating against the Salt API is because the binddn and bindpw options are in the configuration file, it will only use the username & password that are passed if those two options are not there.  The way it is currently working seems to be by design rather than a bug.

[2018-07-24 03:51] hjfeng1988 opened #48725 "How to condition if a disk exists before lvm.pv_present it"
### Description of Issue/Question
I want to condition if a disk exists before lvm.pv_present it
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
First i try onlyif under lvm.pv_present,but failed
[code]
[code]
### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`

[2018-07-24 07:22] Annnetta opened #48728 "What Salt solution do you use to manage your servers outside?"
Hello everyone!

I am wondering what do you use to manage your servers that are outside your local network(on the Google Cloud for example)?

I am thinking about Salt-SSH, but it is a little bit complicated as our servers can change IP addresses frequently...

Thanks in advance!
Hanna

[2018-07-24 07:43] nadezhdabelan commented on #48602
hello, it seems to me that I found the error:
error of deleting the file .minions.p occurs when at the same time 2 commands are sent per one minion
I have eliminated this behavior and there is no such error.

[2018-07-24 08:03] abh23 opened #48729 "[Feature Request] Allow removal of existing content and add new one in a file using file.blockreplace."
This feature will be useful in replacing existing content in a file with new content.
Example, I install chrony/apache and I want to replace all the lines in their respective configuration files with the new content that I am sure works for me. Also, these files will have a lot of comment section which I want to remove as well.

Is it possible to implement?

The only way I can think of achieving t

[2018-07-24 08:41] Zambozo commented on #48698
Hello,

Could you please point me to check the dependencies ?

[root]$ pip install pyinotify
Requirement already satisfied: pyinotify in /usr/lib/python2.7/site-packages (0.9.4)

[2018-07-24 08:58] fzipi commented on #27056
I have this exact problem when installing `postfix` using the [postfix-formula](https://github.com/saltstack-formulas/postfix-formula/).

First I tested using env vars and shell, with these results (using bash):
[code]
So it keeps waiting there for interaction, even when explicitly adding `ASSUME_ALWAYS_YES=YES`.

Next step is using `BATCH=true`:
[code]
So using that the package gets installed.

S

[2018-07-24 10:46] ttoyoo commented on #40529
Got same issue today, error message:
[code]

Following steps work for me:
[code]

[2018-07-24 10:47] publicarray commented on #31531
Any update?

[2018-07-24 11:23] Arabus commented on #40212
This has the same root as #43928 - namely the arguments bein passed to the virt module being out of order in the runner.

[code]
vs.
[code]

[2018-07-24 11:34] Zauberfisch commented on #43928
just to bump this issue (I can confirm it's still present in `2018.3.2 (Oxygen)`):

I experienced the same issue while following the [SALT AS A CLOUD CONTROLLER](https://docs.saltstack.com/en/latest/topics/tutorials/cloud_controller.html) tutorial.

What threw me off, was that it basically failed without error message and still reported that the VM has been created, yet `virsh list --all` on the h

[2018-07-24 12:00] zer0def commented on #47052
Just to provide some hints, in case this was left out - this behavior occurs only when a previous seeding of the machine with the same name, disk-id (in this case, `system`) and extension (?) failed/errored and the guestfs mount wasn't properly cleaned up.

[2018-07-24 12:07] c4t3l commented on #48640
My team recently upgraded from 2017.7.0 to 2018.3.2 and this behavior also exists.

[2018-07-24 12:49] vamih opened #48732 "Salt upgrade from 2015.8.12 to 2017.7.7"
### Description of Issue/Question
Hello,

I want to upgrade salt-packages from 2015.8.12 to 2017.7.7 on RedHat 6.6 but I see a strange behavior of the minion after the upgrade.
Firstly I upgraded salt-master and everything went ok, then I tried to upgrade the minions with a state and it failed, I don't know why.  The service got suck and the only option was to  connect on the machine where salt-mi

[2018-07-24 13:05] oddfellow opened #48734 "[BUG] 3003.1 salt-run jobs.list_jobs has Target: unknown-target"
### Description of Issue/Question

If I do a `salt "srv-kamptest1" test.version` from the master, wait for successful return and then try to find the job with `salt-run jobs.list_jobs search_function="test.version"` I get:

[code]

Here the Target is unknown-target and the Target-type is list which is not correct.
If I do a `salt-call test.version` from the minion, I get the correct job return fie

[2018-07-24 13:24] pimiento opened #48735 "getfullargspec and annotations"
### Description of Issue/Question
I've got a strange error when I use type hinting for my salt module:

[code]

The problem is that you check function annotations and raise an error when it has some annotations:

`site-packages/salt/utils/args.py`
[code]

The code looks strange! There is a warning about `getargsspec` but you don't use `getargsspec`. There is exception message that give you advice

[2018-07-24 13:54] neilehavens commented on #48695
Thanks @terminalmage, I've made the suggested change, and it's working.

I read the [file.blockreplace docs](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.blockreplace) when I stumbled across this issue. I missed the Changed in version 2017.7.5,2018.3.1 section. Sorry about that.
My concern now is that section contradicts the explanation for the marker_

[2018-07-24 14:05] Ch3LL commented on #48642
that was fixed in >=2018.3.1

if you remove that binary file from teh pillar it works?

[2018-07-24 14:33] Ch3LL commented on #37512
thanks for bumping this @ChristianBeer
can anyone on @saltstack/team-core confirm this is expected?

[2018-07-24 14:37] Ch3LL commented on #48698
yeah seems its installed there.

Can you confirm that your minion has version: 2018.3.2 as well? just want to make sure that version report is for the minion and not the master. When i try to look at your stack trace in the code its not on the correct line number, which makes me think your minion is on a different version.

[2018-07-24 14:39] Ch3LL commented on #48640
@boltronics thanks for all your work on this. we really appreciate it. @c4t3l looks like there is a proposed PR for this issue in https://github.com/saltstack/salt/pull/48704

[2018-07-24 14:44] BruXy opened #48737 "croniter is missing dependency on salt-minion 2017.7.7"
### Pip package croniter is missing dependency on salt-minion

### Setup
Fresh installation of salt==2017.7.7 will not add _croniter_ in clean virtual environment . After minion restart it will generate a lot of errors:

`[ERROR:schedule.py:1266]: Missing python-croniter. Ignoring job schedule_curator`

### Versions Report
[code]

[2018-07-24 14:52] BruXy commented on #48737
I have found, that the package is part of our infrastructure, not needed by minion by default. Closing issue.

[2018-07-24 14:52] #48737 closed

[2018-07-24 15:26] mike2523 opened #48738 "[Windows][pkg.remove] Unable to locate package"
### Description of Issue/Question
States and Modules comes back with `Unable to locate package`. Tried `pkg.list_available`, `pkg.purge`, `pkg.remove`

whats working:
[code]
and
[code]
### Setup
SLS File:
[code]
### Steps to Reproduce Issue
debug shows:
[code]

### Versions Report
[code]

[2018-07-24 15:38] jeffclay commented on #48342
@rallytime I also tried DmitryKuzmenko suggestion https://github.com/saltstack/salt/pull/48495 and that gave an error about .hex() not existing. I tried modifying to to be hex(data) and got an error that the value couldn't be converted to hex.

[2018-07-24 16:05] mikewiebe opened #48740 "Unable to install salt minion from develop branch using bootstrap script"
### Description of Issue/Question

I am attempting to install the salt minion from the latest github `develop` branch but running into the following problem.

**NOTE:** If I use the latest release tag `v2018.3.2`, I don't see the same problem.

### Steps to Reproduce Issue
**Failed install example using the `develop` branch**
[code]

**Successful install example using release tag `v2018.3.2`**

[c

[2018-07-24 16:52] rallytime commented on #48342
@garethgreenaway Can you follow up when you get a moment on this one?

[2018-07-24 16:58] damon-atkins commented on #48738
Read https://docs.saltstack.com/en/develop/topics/windows/windows-package-manager.html
You have not written any package definitions so salt does not know how to installed or remove software.
The following command will show that you have no package definitions defined.
`salt -G os:Windows pkg.refresh_db verbose=True`

[2018-07-24 17:06] mike2523 commented on #48738
Will follow win package manager doc. ty!

[2018-07-24 17:06] #48738 closed

[2018-07-24 17:32] garethgreenaway commented on #48725
@hjfeng1988 Thanks for the report.  Based on the error above it appears that the LVM state is not available.  It does require that the `lvm` binary is installed on the system where the state will be running.  Can you verify that the `lvm` binary is installed?

[2018-07-24 17:39] #43675 closed

[2018-07-24 17:40] garethgreenaway commented on #48728
@Annnetta Thanks for the question.  Salt-SSH is definitely an option but you can only use regular Salt and even taken advantage of Salt Cloud for managing instances in Google Cloud.  If you want to go with the traditional master/minion approach you do need to make sure that your Salt master is accessible outside the local network.

[2018-07-24 17:59] garethgreenaway commented on #48729
@abh23 Thanks for the report.  This seems like the perfect situation for using the `file.managed` Salt state with a template.  This will allow you to define the file exactly the way you want it.

[2018-07-24 18:07] garethgreenaway commented on #48735
@saltstack/team-core Thoughts?

[2018-07-24 18:10] prensing commented on #43164
Version 2018.3.2 does seem to work, but only if the key is in single-quotes and the backslashes are single. Eg:
snmp-ip-access:
  reg.present:
    - name: 'HKLM\SYSTEM\CurrentControlSet\Services\SNMP\Parameters\PermittedManagers'
    - vname: '1'
    - vdata: 192.168.5.26

However, the documentation is not written that way. It shows the key name with no quotes and double-slashed, but that does not

[2018-07-24 18:49] garethgreenaway commented on #48732
@vamih Thanks for the report.  Based on the results you're getting back it appears that the previous version is still running but the python pieces have been removed.  When you encounter this can you see if there are multiple copies of the Salt minion running?  In a normal situations there should be two copies running.

[2018-07-24 18:53] JonathanWilbur commented on #48197
@jasonvoor , I am having the same issue. It seems to have started upon just attempting to use the reactor system just once. I have since commented out all code that I have changed, and this issue persists, which seems to indicate it is a result of something bad being cached somewhere. I also have a bunch of errors showing:

[code]

Version information:

[code]

[2018-07-24 19:05] garethgreenaway commented on #48740
@mikewiebe Thanks for the report.  Unfortunately I haven't been able to duplicate this issue.  It also appears to be a git issue, not something specific to Salt.  This might help:
https://stackoverflow.com/questions/4826639/repack-of-git-repository-fails

[2018-07-24 19:10] ngrundler commented on #47911
Any movement on this issue?  I'm seeing similar problems on `2018.3.2`.

[2018-07-24 19:22] mikewiebe commented on #48740
@garethgreenaway Thanks for the quick response.

Note sure I understand how this is a git issue.  The only difference between the command that succeeds and the command that fails is the repo that I am specifying `develop` vs `v2018.3.2`.

1. Successful command: `sh bootstrap-salt.sh -D  -G -H "$PROXY" git v2018.3.2`
2. Failed  command: `sh bootstrap-salt.sh -D  -G -H "$PROXY" git develop`

Is ther

[2018-07-24 19:24] mikewiebe commented on #48740
Not sure if this is relevant, but this is the method I used to download the `boostrap-salt.sh` script.

`curl -o bootstrap-salt.sh -L -x "$PROXY" https://bootstrap.saltstack.com`

[2018-07-24 19:31] garethgreenaway commented on #48740
@mikewiebe One of the last errors reported by the bootstrap script:
`error: index-pack died of signal 9`
When I search for that, the results that are returned are people reporting issues with Git when attempting to clone various repositories.

[2018-07-24 19:32] mikewiebe commented on #48740
@garethgreenaway Looks like I spoke too soon.  It got further in the process but then still failed again here:

[code]

This same step `run install_centos_git_deps()` succeeds with `v2018.3.2`

[2018-07-24 19:33] garethgreenaway commented on #48740
@mikewiebe Are you able to run a Git clone manually?

[2018-07-24 19:42] #37236 closed

[2018-07-24 19:51] dquiles opened #48748 "edhgheechfhfcluedgrhijuleneudukdligvftljjrbl"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2018-07-24 19:52] #48748 closed

[2018-07-24 19:57] mikewiebe commented on #48740
@garethgreenaway Using the following command, I can clone both `develop` and `v2018.3.2`

[code]

[code]

Do you know the exact git command that gets called by the bootstrap script so I can try that?

[2018-07-24 20:10] mikewiebe commented on #48740
@garethgreenaway It appears the problem is the amount of storage space I allocated to my hosting environment.  When I install `v2018.3.2` it appears to require less storage space then `develop`.  Once I allocated more storage I was able to install `develop`.

[code]

The interesting thing is that when I look back through the success and failure logs I see the following:

** For v2018.3.2:**
[code]

[2018-07-24 20:19] lukacvetko opened #48750 "salt-cloud bootstrap fails for LXC container"
The LXC container is created using salt-cloud, but Salt is not installed due to an error executing bootstrap script installation commands.

The master returns:
[code]

The minion logs:
[code]

### Setup
**Cloud provider**: \
[code]

**Cloud profile**: \
[code]

### Steps to Reproduce Issue

Execute `salt-cloud -l error --no-deploy --show-deploy-args -p debeli_ubuntu_public cloudtest2`.

### Versio

[2018-07-24 20:24] rickh563 opened #48751 "Create a Window's install process via winrm using powershell -- Feature-Request"
### Feature-Request

Create a Window's install process via winrm using powershell

At a minimum, this work will include documentation on how to properly remote install salt via powershell that includes sample scripts

[2018-07-24 20:42] #32085 closed

[2018-07-24 21:14] #48575 closed

[2018-07-24 21:29] garethgreenaway commented on #48717
@terminalmage Thoughts?

[2018-07-24 22:12] #21203 closed

[2018-07-24 22:12] #37197 closed

[2018-07-24 22:12] #37203 closed

[2018-07-24 22:12] #37212 closed

[2018-07-24 22:48] timwsuqld commented on #39709
I also have this issue, it doesn't seem to work according to the docs

[2018-07-24 23:21] mike2523 opened #48758 "[win_lgpo] Internet Communication settings policies"
### Description of Issue/Question
LGPO comes back with `Unable to find Machine policy` for:

1. `Turn off the Order Prints picture task`
2. `Turn off the Publish to Web task for files and folders`

in `System\Internet Communication Management\Internet Communication settings`. All other items in `Internet Communication settings` works just fine.

lgpo.get comes back with:
[code]
`Publish to Web` an

[2018-07-25 00:30] MyIgel opened #48759 "acme.cert: Fail to update certificate after adding aliases / missing --expand"
### Description of Issue/Question
When adding more aliases to a certificate the `certbot` command should be called with `--expand`.
(I haven't tested what happens after removing aliases but think that it could also be an issue)

### Setup
First run
[code]

Second run
[code]

### Steps to Reproduce Issue
Create a certificate, then add aliases

Error
[code]

### Versions Report
[code]
[code]

[2018-07-25 03:12] #37231 closed

[2018-07-25 03:12] #32907 closed

[2018-07-25 04:37] boltronics commented on #48640
Since the resolution involved adding a new feature, I don't expect the PR to be merged into a stable release until Fluorine, which I guess we will see sometime later this year.

I don't know if there are any plans to revert to the original 2017.7.4 behaviour in the next point release.

[2018-07-25 05:22] vamih commented on #48732
@garethgreenaway Thanks for your help. You were right, I had a salt-minion process still running.
But since I'm using a state to upgrade where into it should I include a check for that process?

[2018-07-25 05:57] diepes commented on #48642
Yes if i exclude that pillar for inclusion it works.
Plan to just remove the binary from the pillar, it was a bad idea.

[2018-07-25 06:11] abh23 commented on #48729
You are right @garethgreenaway but ` file.managed` if we see from end to end orchestration front adds to required configuration file management/version control along with additional steps to make it available on the salt-master in a stack(talking about openstack here).

Apart from that, if we have an option to replace the existing content and add new block controlled content, all the content can b

[2018-07-25 06:52] hjfeng1988 commented on #48725
Unbelievable,I'm sure that have install `lvm` yestoday.Retry `salt HD1F_weixin state.sls init.bb` today it turn fine.

[2018-07-25 06:56] #48725 closed

[2018-07-25 08:29] isbm commented on #48086
I think this is totally outside of the scope of this particular issue.

[2018-07-25 08:34] moio commented on #48086
From the original issue description:

A difference was implicitly expected!

[2018-07-25 09:12] isbm commented on #47615
@Ch3LL this was fixed by me already. Please verify in `develop` and close.

[2018-07-25 09:52] manish-kumar1993 opened #48763 "Salt-Minions not restarting automatically in Windows"
### Description of Issue/Question
Salt-Minions not restarting automatically in Windows. In some minions, while restarting in debug mode we are getting below error message
Error parsing configuration file: c:\salt\conf\minion.d\_schedule.conf - unacceptable character #x0000: special characters are not allowed
  in "c:\salt\conf\minion.d\_schedule.conf", position 0
![nul_error_log](https://user-imag

[2018-07-25 09:56] isbm commented on #48086
Why, `queue=True` is supported as described and it works. @mateiw is basically expecting to run couple of minions that are registered to different masters and now he is trying with `queue=True` resolve it clashing. This is obviously won't happen.

@Ch3LL can we close this?

[2018-07-25 10:18] Hitamashi opened #48764 "saltutil.sync_modules cause AuthenticationError: message authentication failed"
### Description of Issue/Question
The issue occur when I sync the modules from syndic to my minions:
[code]
The minion will return a tracestack with the error: `AuthenticationError`

But it not happens for all my minions (This is the weird part). Even though, I use the same os image and with the same setup process.

Some other modules like `cmd.run` or `test.ping` , `test.version` work fine.

I ha

[2018-07-25 12:01] eguven opened #48766 "Switch easily between gitfs_remotes for salt runs"
### Description of Issue/Question
I'm trying to figure out a configuration where I can easily switch between gitfs_remotes and pillar(s) between salt runs. I mainly want this for hands-on testing between forks. For example I have salt and pillar repos for the organisation and users as below:

[code]

I want to be able to do salt runs with a particular remote, eg. Org one or the User one. Is there

[2018-07-25 12:48] mirceaulinic opened #48767 "Schedule ``once`` doesn't work when the job is added via ``schedule.add``"
### Description of Issue/Question

I've noticed today that trying to dynamically add a job to the schedule doesn't work as expected (or what I understand it should work, at least):

I'm trying to add a new job:

[code]

However, although I would expect to see the `log` module logging my message, unfortunately it doesn't seem to execute the scheduled job.

Please note that this is not specific to P

[2018-07-25 12:54] GitHubAre commented on #48338
@morganwillcock Thanks for the nice point out!
The final solution which I am using is still through PowerShell (I have more logic in that script than I pasted here and I cannot replace it by single command line).
What I did is that I have created macro as this:
[code]

Inside my .sls file I am using it as follows (on multiple places):
[code]
I have also set global setting to **failhard** on first

[2018-07-25 13:31] soner89 commented on #47559
I just tested the timezones.
![image](https://user-images.githubusercontent.com/3781642/43203728-47eb9bd8-901f-11e8-9924-f9284bd78d7a.png)

Well, it's better than setting it to Longyearbyen but I still would expect the timezone to be set to Berlin and not Vienna, Monaco or Luxembourg.

As I understood, the fix is merged to 2018.3. I installed the latest version (2018.3.2) so the fix should already

[2018-07-25 14:17] Ch3LL commented on #47911
i have a proxy setup now. Can you clarify the exact steps you run to see this issue?

[2018-07-25 14:17] gtmanfred commented on #48696
No, this is the correct behavior, we only update /etc/salt/master if `make_master: True` is set.

[2018-07-25 14:19] tobias-kuendig opened #48768 "firewall.rule_exists fails on Windows with German/Umlaut output"
### Description of Issue/Question

It looks like the `firewall.rule_exists` module fails on Windows with languages that contain umlauts.

### Setup

[code]

#### Error Message

[code]

If I run the same state on an english Windows installation everything works as expected. I guess the problem is the Umlaut in the German output of `netsh`.

### Versions Report

[code]

[2018-07-25 14:22] Ch3LL commented on #47615
do you have the PR that you can link here?

[2018-07-25 14:36] gtmanfred commented on #43164
@twangboy @dwoz can yall take a look at this documentation?

Thanks,
Daniel

[2018-07-25 14:47] gtmanfred commented on #48676
Cool, i will submit a PR.

[2018-07-25 14:52] mikewiebe commented on #48740
@garethgreenaway Thanks for your help on this!  We can consider this case closed.

[2018-07-25 14:57] garethgreenaway commented on #48740
Awesome!  Thanks!

[2018-07-25 14:57] #48740 closed

[2018-07-25 14:58] #47999 closed

[2018-07-25 15:07] gtmanfred commented on #48750
pass `-X` to your script_args? so that it does not try to start the minion service, since it looks like you don't have an init system installed?

Thanks,
Daniel

[2018-07-25 15:07] gtmanfred commented on #48758
@twangboy can you help with this?

Thanks,
Daniel

[2018-07-25 15:08] ngrundler commented on #47911
Hey @Ch3LL, thanks for the quick reply!  For my environment, my proxy host has the following configured:

`/etc/salt/proxy`:
[code]

...and here's a snippet of my minion pillar:

`/srv/pillar/my_minion.sls`:
[code]

If I run a `salt 'my_minion' net.lldp`, I see the output I would expect.  If I wait the mine interval or even run a `salt 'my_minion' mine.update` I never see anything in the output of

[2018-07-25 15:11] gtmanfred commented on #48759
Yup, looks like that is a problem.

I am marking this as a bug.  since it seems like you have used certbot, any help getting this fixed would be greatly appreciated.

Thanks,
Daniel

[2018-07-25 15:11] xchgaur commented on #46419
Hi,
This may not be directly related with the thread but I am trying to run orchestration from python code.I am not able to figure out the right way to invoke it.

runner = salt.runner.RunnerClient(__opts__['conf_file'])
ret = runner.cmd('state.orch', ['orch.reboot'], kwarg={'pillar': {'match': hostname}})

it fails with below exception:

ID: os_patch_salt_runner
    Function: salt.runner

[2018-07-25 15:13] gtmanfred commented on #48763
Unfortunately without being able to replicate this, there isn't a lot that we can do to fix it.

I know that yaml won't like NULL characters in those files, so that part makes sense.

What was happening on the machines before this happened?  Did you upgrade them from a previous release?

Thanks,
Daniel

[2018-07-25 15:20] gtmanfred commented on #48766
Yeah, that is just not how the salt fileserver works.

What you could do is define a saltenv per gitfs_remote, and then just specify using that saltenv when you want to switch between repositories, but nothing with actually changing the configs on the fly.

[2018-07-25 15:21] gtmanfred commented on #48768
@dwoz can you take a look at this?

I wonder if it is a weird windows local thing with the `cp1252` local.

Thanks,
Daniel

[2018-07-25 15:35] gtmanfred commented on #48767
Can you check the datetime on that machine? because this is working for me.

[code]

[code]

Thanks,
Daniel

[2018-07-25 15:48] gtmanfred commented on #48764
I am unable to replicate this.

[code]

Can you also provide your minion config?

Have you tried removing the port configurations and using the default salt ports?

Thanks,
Daniel

[2018-07-25 16:02] JonathanWilbur opened #48772 "Job triggers reactor, then reactor creates new job, creating an infinite loop"
### Description of Issue/Question

I created a reactor to send a message to a Microsoft Teams channel when a server is configured. The reactor configuration looks like this:

[code]

The idea is to create a notification whenever something is done to configure a host. Though not shown--because it does not exist yet--I plan to have another reactor like the one shown above that posts another message

[2018-07-25 16:14] mateiw commented on #48086
@isbm I understand your point. But imho the meaning of the `queue` parameter in this case is misleading. Maybe the docs should be clearer about this aspect and/or some warning should be printed in the logs.
The behavior is also misleading because both calls succeed but one of them returns an empty answer. If queuing calls is not feasible I would expect at least an error saying smth like "another s

[2018-07-25 16:24] mirceaulinic commented on #48767
You are right, Daniel: my timestamps were wrong. Confirmed it works fine. Thanks!

[2018-07-25 16:24] #48767 closed

[2018-07-25 16:48] twangboy commented on #48758
@mike2523 You have a couple options here. One is to use set the `return_full_policy_names` option to `False` in your get command and use the short name instead. Mine shows the following:
[code]
I had to enable them in order to get them to show up. This looks weird to me as each setting has 2 actual items that are set. I tried creating a state for this but couldn't figure it out. @lomeroe, do you k

[2018-07-25 16:58] twangboy commented on #43164
I'll take a look

[2018-07-25 17:06] kartiksubbarao opened #48773 "salt 2018.3.2 py3 on Ubuntu 18.04 takes a long time to run test.true"
I'm running salt 2018.3.2+ds-1 with python 3 on Ubuntu 18.04, and am finding that it takes over 5 seconds to run `salt-call --local test.true`. If I use `--skip-grains`, it cuts the time down to 1 second (which is still somewhat slower than expected). While searching around I came across #26255, but in my case the number of file descriptors isn't the issue -- setting ulimit -n 1024 doesn't fix it.

[2018-07-25 17:32] twangboy commented on #47559
@soner89 Doesn't look like the fix made it into 2018.3.2. But it has been merged into the 2018.3 branch, so it will be in the next release, 2018.3.3.

[2018-07-25 17:39] gtmanfred commented on #48086
Yeah, the only solution here would be to add a system lock for salt-ssh, so that it can only run one salt-call at a time.  Because each is a different instance of salt-call, it has the potential to cause problems because of the way salt-ssh works.

as for queue, it is just a flag on state.apply, it doesn't have anything to do with the way that salt-ssh runs, it just queues the process, and will wa

[2018-07-25 17:55] mike2523 commented on #48758
@twangboy - removing path worked per you suggestion:

[code]

As for the 2 items that show up after enabling them first.. i have no idea. Thanks for the help!

[2018-07-25 18:11] mike2523 commented on #48758
@twangboy - Your suggestion worked! Thank you!

[code]

[2018-07-25 18:21] twangboy commented on #48758
@mike2523 So can we close this issue?

[2018-07-25 18:37] kartiksubbarao commented on #8625
I'm running masterless minions where I run `salt-call --local state.highstate` on each system, and would be very interested in this functionality with git.latest. Right now I'm doing something similar with the git credential cache daemon and using https URLs for the git repo, but there are some subtle issues with this approach that an ssh-agent-based approach could clean up. What I'd want to do is

[2018-07-25 19:00] mike2523 commented on #48758
Closing.

[2018-07-25 19:00] #48758 closed

[2018-07-25 19:21] lomeroe commented on #48758
You can use lgpo.get_policy_info to get all the possible names that could be used in an SLS or command (along with elements that need to be set/etc).  The key is to match the text you see in the gpedit.msc gui exactly (such as the quotes around "Order Prints" which were missing in your first example).  The "full path" style is really only needed when there are multiple policies that use the same b

[2018-07-25 20:52] sbreidba commented on #27930
I'm attempting to use the new saltclass pillar/master_tops feature and am seeing similar behavior - I have a Windows minion, and am using `salt-call --local`, and don't get any topfile data from it. I tried adding a custom module to do some debugging, and it doesn't seem to get loaded. Am I doing something dumb, or is the `master_tops` system simply not available for master-less minions?

[2018-07-25 21:51] geekinutah commented on #46431
@cachedout PR for proposal #1 just went out.

As for #3, can you point me to a pattern to follow in code somewhere? I'd be happy to implement this as well.

[2018-07-25 23:16] mike2523 commented on #48758
I already added this to our wiki..

[2018-07-26 01:59] dijit commented on #36960
:+1: Is there a solution for this that currently exists?

[2018-07-26 02:10] JonathanWilbur commented on #48197
Actually, my problem was that I somehow incorrectly re-named an environment in my `top.sls` file. Please ignore my earlier comment. Sorry.

[2018-07-26 03:58] Hitamashi commented on #48764
@gtmanfred, I've already provided the minion config
[code]
It is just some changes in the root directories.

For more info, the issues also occurred when I send `test.ping`.
Here is the minion log when my `test.ping` failed: https://pastebin.com/aC3y2u1N

About the port configuration, I think it is not the problem because not all of my minions have this issues.

Actually in my real platform, I hav

[2018-07-26 04:01] others-git opened #48776 "Nested grain in autosign_grains"
### Description of Issue/Question

When using `autosign_grains`, nested grains cannot be used.

### Setup

In my example I use `ip4_interfaces:eth0` as a file name for sake of example, though I know this would not be compatible with Windows.

My expectation is that the minion would, in the same way `grains.get` returns a nested value of grain, obtain the value to send to the master for auto-accept

[2018-07-26 05:51] Talkless commented on #47033
Yes, adding
[code]
avoids this warning.

[2018-07-26 08:12] boltronics commented on #48125
I too am hitting similar issues with `logrotate.set`. The easiest way to hit it is to leave `value` empty (since many options do not take an argument). My work-around is to set `value` to an empty string.

I then hit an issue where it's showing changes every time it executes, even when no changes are required. I worked around that by using an `- unless: grep -q <regex> <file>` argument.

The modul

[2018-07-26 08:46] isbm commented on #47615
@Ch3LL here. You have it: https://github.com/saltstack/salt/pull/48450

[2018-07-26 08:58] jonasgit opened #48777 "file.recurse fails on file contents encoding not utf-8"
### Description of Issue/Question
Trying to distribute files with contents encoded in ISO-8859-1. However salt assumes systemdefault
utf-8 and thus fails on illegal byte sequences when trying to merge updates.

### Setup
One saltmaster on Cent OS 7. One minion on Cent OS 7.

state file foo.sls:
[code]
[fileone.tar.gz](https://github.com/saltstack/salt/files/2231198/fileone.tar.gz)
[filetwo.tar.gz]

[2018-07-26 09:09] sundowner69 commented on #48196
Still a big problem...

[2018-07-26 09:21] nodermatt opened #48778 "Documenation suggests use of md5 password"
### Description of Issue/Question
The latest salt documentation for user states [0] suggests indirectly to use md5 for password hashes. In the section "password" it states that openssl passwd -1 can be used to create a has, however, checking the man pages for openssl password revealed that this uses md5 to hash the password.

This is confusing because the salt-minion/salt-master agent explicitly m

[2018-07-26 12:09] #32457 closed

[2018-07-26 13:46] Ch3LL commented on #48772
ping @saltstack/team-core do you think this would be possible? Or possibly set an argument for when a job that is created from the reactor doesn't set off the reactor again?

also @JonathanWilbur you can add some jinja logic in your reactor state to make sure it only runs when you want as detailed in the docs https://docs.saltstack.com/en/latest/topics/reactor/

[2018-07-26 13:52] rongshengfang opened #48780 "pip package docker's dependency on requests"
### Description of Issue/Question

I am trying to install the pip package `docker` as the prerequisite of the `docker_*` states (on CentOS 7.5), but running into an issue with the install:

[code]
requests 2.6.0 was installed via yum as part of the requirement for salt-minion and it's from SaltStack's yum repo.

How do I get the pip package `docker` properly installed?

### Setup
(Please provide r

[2018-07-26 14:12] Ch3LL commented on #48773
i am not seeing >5 seconds when I attempt to replicate i'm seeing about 3 seconds, but still longer then we want.

I believe you are right I believe the culprit is the `@depends` decorator particularly in the vsphere.py file. If i remove that file my time goes back down to 0.94s

ping @saltstack/team-cloud is there a reason we are using this decorator instead of handling the dependencies in __virt

[2018-07-26 14:22] gtmanfred commented on #48772
What you would need to do is check if the function that is being passed in the reactor is `msteams.post_card` and then not run the reactor.

[code]

There isn't a good way to know what the message is being sent from, we could add `__opts__['__cli']` to the job on the event stream, but that wouldn't be super useful, because then you wouldn't see events from the scheduler on the master pushed to you

[2018-07-26 14:55] Ch3LL commented on #48776
https://github.com/saltstack/salt/blob/v2018.3.2/salt/crypt.py#L804

looks like we are only grabbing that first grain value as yous stated and no other nested values if available. This would need to be added.

[2018-07-26 15:05] Ch3LL commented on #48777
i'm having a hard time replicating this:

[code]

is 2018.3.2 the version of your minion and master?

[2018-07-26 15:10] Ch3LL commented on #48778
seems you have a solid grasp of the changes that need to be made, want to submit a PR? also great find :)

[2018-07-26 15:24] jonasgit commented on #48777
Sorry, I missed a crucial step: The foo directory should be populated with the content of the tar file, not the tar file itself. The tar files contains a file index.html and the objective is to replace it on the minion.

And yes the version should be identical on both server and minion in my set up. Version report above is from server and from minion is:
    Salt Version:
               Salt: 2018

[2018-07-26 15:32] Ch3LL commented on #48780
this seems to be on purpose with pip not wanting ot try to uninstall distutils packages.

You can see issues:

https://github.com/pypa/pip/issues/4805
https://github.com/pypa/pip/issues/5247

for explanations. In pip 10 they make sure they don't try to uninstall distutils packages. One workaround in that issue is to downgrade to pip 9.

in relation to the requests package being managed by our repo

[2018-07-26 15:41] #48676 closed

[2018-07-26 15:56] hoonetorg commented on #39292
uh, oh d@mn, looks like a lineinfile is required in my formula, to workaround this
any news?

[2018-07-26 16:24] chrispetsos commented on #47001
Same problem here with Salt version 2018.3.2.
Imagine this pillar,
[code]
I am referencing this pillar inside a state file as follows,
[code]
and this is rendered as,
[code]
within the files that reference the context var 'list_items' inside the folder where I am recursing.
I have managed to overcome this by playing a bit with where brackets are added. Note the following changes in the pillar and

[2018-07-26 16:38] mike2523 opened #48782 "[win_lgpo] Causes corrupt Registry.pol file"
### Description of Issue/Question
When applying below SLS files, causes Registry.pol to get corrupted. Using `LGPO.exe /parse /m C:\Windows\System32\GroupPolicy\Machine\Registry.pol` to verify. All other consecutive states afterwards will fail with `CommandExecutionError: Error while attempting to write Administrative Template Policy data.  Some changes may not be applied as expected`

**Before:**

[2018-07-26 16:53] jeffclay commented on #48342
I imported binascii to mysql_cache.py and changed store() as shown below

[code]

This resolved the error and data is now going into the 'data' column of the database. However, I'm not sure if it's the correct format or if other changes are required to retrieve the data properly.

[2018-07-26 17:43] whytewolf opened #48786 "salt.module.win_iis.create_cert_binding Throws error if a cert exists without info in DNSNameList"
### Description of Issue/Question
Because of the line at https://github.com/saltstack/salt/blob/v2018.3.2/salt/modules/win_iis.py#L107 When a cert exists that does not have DnsNameList in it is scanned a trace will be thrown. Since the blank DNSNameList is a NoneType and NoneTypes do not iterate.

This can happen on Azure which can create a cert without a DnsNameList.

### Setup
Have a cert withou

[2018-07-26 17:43] whytewolf commented on #48786
ZD-2724

[2018-07-26 17:55] JonathanWilbur commented on #48772
I get that there is a Jinja workaround. I tried implementing almost that exact code that you have above, @gtmanfred (this answers your question to me, @Ch3LL ) . Still, the point remains that this is functionality that likely brings down both the master and minion unless one knows ahead of time to do implement that Jinja condition. In other words, it's broken by default. At the very least, the doc

[2018-07-26 18:05] JonathanWilbur commented on #39879
@alankrita Underscores are not permissible in valid hostnames. This should not be happening. How did you set the hostname on your host?

[2018-07-26 18:09] JonathanWilbur commented on #47671
@wildk1wi , I think there is a bug with underscores in grain names. As @Ch3LL noted above, the documentation states that SaltStack ignores functions that start with an underscore, but I just had an issue with a grain that had an underscore in the middle. I removed the underscore and it suddenly worked as expected. For reference the functions name was `get_datasets`. Changing it to `getdatasets` ma

[2018-07-26 19:00] #48336 closed

[2018-07-26 19:00] #48536 closed

[2018-07-26 19:01] #47811 closed

[2018-07-26 19:03] rallytime commented on #48415
@doesitblend This is fixed with #48588

[2018-07-26 19:09] #37265 closed

[2018-07-26 19:17] ketzacoatl commented on #48167
great to see the improvements, definitely interested in using saltclass when its ready for action!

[2018-07-26 19:18] ketzacoatl commented on #48170
@max-arnold have you been able to use saltclass in your deployment, or are you still using reclass?

[2018-07-26 19:19] akbhat commented on #48696
I understand this is the expected behavior so treat this discussion as a minor feature request. If Saltify is able to update an existing master config, the bootstrapping master can be completely avoided. Do you anticipate implementing this change would have other unintended consequences/break anything else?

[2018-07-26 19:56] thewilli opened #48787 "should 'cp.cache_file' support the 'pillar://' scheme?"
I originally wanted to use the [win_pki.import_cert](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.win_pki.html#salt.modules.win_pki.import_cert) module to install a certificate bundle on a Windows Minion. That certificate is - for reasons of security - present in the Pillar only (one could argue if having a password set is sufficient, but I don't want wildcard cert bundles be

[2018-07-26 20:06] gtmanfred commented on #48696
I do not anticipate implementing this.

Also, the way we put files in place is using salt bootstrap, which will copy minion and master files from the tmp directory specified in -c, to /etc/salt/, but if that config file already exists in /etc/salt, then it won't be copied over.  It does not update a file that is already there.

[2018-07-26 20:44] rallytime commented on #42955
This should be fixed with #48774

[2018-07-26 21:13] rallytime commented on #40212
This should be fixed with #48731

[2018-07-26 21:13] rallytime commented on #43928
This should be fixed with #48731

[2018-07-26 21:29] rongshengfang opened #48790 "pip fails to install package with 2017.7.5 on CentOS 7.5"
### Description of Issue/Question

Pip fails to install any package on CentOS 7.5:

[code]
Please see the trace log below:

[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

[code]

salt-call state.apply --local saltenv=test os.a -l trace

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

salt-call state.apply --loc

[2018-07-26 22:02] whytewolf opened #48792 "Feature-Request: add the ability to use Set-WebConfiguration command set to win_iis"
### Description of Issue/Question

The [win_iis](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.win_iis.html) module needs the ability to use set-WebConfiguration from the [webadministration PowerShell module](https://docs.microsoft.com/en-us/powershell/module/webadministration/?view=win10-ps).

The win_iis state module should also reflect this change.

This is to allow setting

[2018-07-26 22:09] rongshengfang commented on #48790
Looks like it's addressed in https://github.com/saltstack/salt/issues/47116. I am closing this.

[2018-07-26 22:09] #48790 closed

[2018-07-26 22:35] #37263 closed

[2018-07-26 22:39] twangboy commented on #48792
ZD-2693

[2018-07-27 02:20] damon-atkins commented on #48787
`pillar://`  could just call `pillar.get`  it would be still cache to a file I suspect.

[2018-07-27 04:08] rongshengfang commented on #48780
Thanks! I have applied the workaround of downgrading to pip 9.0.3. But I
imagine we will move to pip 10.0.x one day. Would SaltStack move away from
using distutils to manage the RPMs it publishes?

On Thu, Jul 26, 2018 at 11:33 AM Megan Wilhite <notifications@github.com>
wrote:

[2018-07-27 10:15] m-bastian commented on #29562
Still broken in 2018.3 ...

[2018-07-27 11:32] PierluigiGreto opened #48793 "Using bin_env to install packages for python3, the salt-call is successful but the package is installed for python2."
### Description of Issue/Question
I updated the salt-minion from 2017.7.3 to 2018.3.2 (I updated my os from fedora26 to fedora28 and the salt-minion is updated automatically). I'm using the salt-minion masterless, and I'm trying to install pip install packages for python3 using the option bin_env. In the version 2017.7.3 the state is working. In the new version 2018.3.2 the salt-call is successful

[2018-07-27 12:05] redbaron4 commented on #26884
I have been seeing this error ever since I upgraded to 2018.3.0. I didn't have this problem in earlier salt versions. Maybe the change in tornado version created an incompatibility. I am on Python-2.6

[2018-07-27 13:13] rallytime commented on #48417
@samilaine I have updated the docs in PR #48795. How does that look to you?

[2018-07-27 13:19] gtmanfred commented on #48793
This will be fixed in the next release, 2018.3.3.

https://github.com/saltstack/salt/pull/48189

as a workaround specify bin_env to the python version you want to use. `bin_env: /usr/bin/python3`

[2018-07-27 13:19] #48793 closed

[2018-07-27 13:19] rallytime commented on #26884
@redbaron4 Python 2.6 is no lot supported in the 2018.3.x releases. You'll need to use 2.7 or >= 3.4.

[2018-07-27 13:20] gtmanfred commented on #48780
You will need to uninstall the system package using your package manager, and then pip install requests instead.

Or you can use your package manager to install python-docker or python-docker-py, depending on the distribution.

[2018-07-27 13:37] redbaron4 commented on #26884
@rallytime Ah sorry..I forgot I had updated all infra to 2.7 before moving to 2017.7 itself. So I am on python - 2.7 (RHEL6)

[2018-07-27 13:45] rallytime commented on #26884
@redbaron4 Ah, OK. Thanks!

[2018-07-27 13:52] vutny commented on #38306
Seems to be resolved with merging #48244 @rallytime

[2018-07-27 14:14] Ch3LL commented on #37512
when you say "i belivee they are looked at second" which one are you refering to? include, default_include?

[2018-07-27 14:30] Ch3LL commented on #47911
thanks for the use case :)

unfortunately i do not have access to a device that uses the `net.lldp` module. we would need someone from @saltstack/team-netapi that possibly might be able to help replicate this.

I did test with my proxy that uses a rest interface with this mine configuration:

[code]

and it worked just fine:

[code]

This *might* be related to this issue: https://github.com/saltst

[2018-07-27 14:34] Ch3LL commented on #47033
@Talkless you okay to close this now?

[2018-07-27 14:36] cblackworth opened #48798 "RabbitMQ commands fail due to wrong locale"
### Description of Issue/Question
This issue is documented in https://github.com/saltstack/salt/issues/45383, the change was backported to 2017.x, but the change is not in the 2018.x branch of salt-minion.

This causes the exact same issues as documented in the linked bug, but on 2018.x minions.

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2018-07-27 14:38] Ch3LL commented on #47615
thanks just was curious of the fix :)

tested and it works thanks!

[2018-07-27 14:38] #47615 closed

[2018-07-27 14:39] gtmanfred commented on #37512
default_include gets loaded first, then include, so include would overwrite anything in the default_include.

I believe that the behavior that is being seen is correct, it would be good to just document it.

[2018-07-27 14:40] gtmanfred commented on #48798
As is documented in that PR that closed that issue, it has been backported to 2018.3, and will be fixed in the 2018.3.3 release.

https://github.com/saltstack/salt/pull/47453

[2018-07-27 14:40] #48798 closed

[2018-07-27 14:53] rallytime commented on #45383
I will be in the 2018.3.3 release.

[2018-07-27 14:54] rallytime commented on #38306
Awesome! Thanks for confirming, @vutny!

[2018-07-27 14:54] #38306 closed

[2018-07-27 14:55] max-arnold commented on #48170
@ketzacoatl Yes, I was able to use saltclass, but only for trivial purposes (new state tree from scratch with ~10 states and 2 nodes). Was bitten multiple times by silent failures on missing variable expansion.

I was unable to migrate the production install mentioned above (~300 classes, ~80 nodes, ~90 states). The issues so far:

1. This one https://github.com/saltstack/salt/issues/48170
2. Perf

[2018-07-27 14:59] Ch3LL commented on #48777
k looks like i'm able to replicate this now :)

Here is a docker container to easily replicate the issue:

1. `docker run -it -v ~/git/salt/:/testing/ ch3ll/issues:48777` (where ~/git/salt/ is a local cloned git repo of salt)
2. `salt-call --local state.sls test -ldebug`

[2018-07-27 14:59] Ch3LL commented on #48777
ping @terminalmage ^

[2018-07-27 15:01] Ch3LL commented on #39292
can you clarify what you are running into @hoonetorg

are you using the oxygen release that @garethgreenaway mentioned this might be fixed in?

[2018-07-27 15:35] #37298 closed

[2018-07-27 15:35] #37294 closed

[2018-07-27 15:35] #37297 closed

[2018-07-27 15:35] #15876 closed

[2018-07-27 16:19] rallytime commented on #48786
@twangboy Can you fix this for 2018.3.3?

[2018-07-27 16:35] #37302 closed

[2018-07-27 16:35] #37296 closed

[2018-07-27 16:37] garethgreenaway commented on #48782
@saltstack/team-windows Thoughts on this one?

[2018-07-27 16:59] dstoliker opened #48801 "salt.states.user.present - mindays, warndays, and inactdays won't return to salt's default values"
### Description of Issue/Question
If you change a user's shadow `mindays`, `warndays`, or `inactdays` to something other than salt's default values, and then attemp to change them back to salt's default values salt reports them as already "up to date".
### Setup

A state, `user_changes.sls`, to change a user to non-default values:
[code]
A state, `user_defaults.sls`, to set the user to salt's defa

[2018-07-27 17:01] garethgreenaway commented on #48787
@saltstack/team-core Thoughts?

[2018-07-27 17:04] gtmanfred commented on #48787
Once I finish this, it would be super easy to support pillar:// in the file protocols.

https://github.com/saltstack/salt/pull/48654

[2018-07-27 17:19] #40532 closed

[2018-07-27 17:21] perfecto25 opened #48802 "Salt-ssh returns"
### Description of Issue/Question

Running salt-ssh Target _test.ping_, results in an Import error (I think this may be related to Centos6, I ran the same test.ping command on Centos 7.5 and no issues.)

uname of box with issues:
Linux atlas 2.6.32-642.4.2.el6.x86_64 #1 SMP Tue Aug 23 19:58:13 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

* btw, I can still run raw cmds on it

[code]

but modules dont

[2018-07-27 17:35] #37299 closed

[2018-07-27 17:35] #37300 closed

[2018-07-27 17:35] #37295 closed

[2018-07-27 18:01] #44514 closed

[2018-07-27 19:18] gtmanfred commented on #30153
This is fixed with the new openstack driver.

[2018-07-27 19:18] #30153 closed

[2018-07-27 19:20] edgan commented on #48453
I am still getting the same error, even with the official Fedora packages.

[code]

#Local Fedora 28 x86_64
[code]

#Remote Ubuntu 14.04 Trusty amd64
[code]

[2018-07-27 19:34] zerthimon commented on #37805
hmm, has this been fixed ?

[2018-07-27 19:36] #30198 closed

[2018-07-27 19:36] #30176 closed

[2018-07-27 19:36] #37266 closed

[2018-07-27 19:36] #37337 closed

[2018-07-27 19:36] #37356 closed

[2018-07-27 19:36] #37332 closed

[2018-07-27 19:36] #35889 closed

[2018-07-27 19:36] #36106 closed

[2018-07-27 19:36] #37398 closed

[2018-07-27 19:36] #37397 closed

[2018-07-27 19:36] #37399 closed

[2018-07-27 19:36] #31280 closed

[2018-07-27 19:36] #37396 closed

[2018-07-27 19:36] #37327 closed

[2018-07-27 19:36] #34612 closed

[2018-07-27 20:31] rallytime commented on #48684
Hey @soostdijck - Can you test this on the 2018.3 branch? I think @garethgreenaway already fixeded this with #47572.

[2018-07-27 20:35] #37470 closed

[2018-07-27 20:35] #37464 closed

[2018-07-27 20:35] #15958 closed

[2018-07-27 20:35] #11164 closed

[2018-07-27 20:35] #37461 closed

[2018-07-27 20:35] #33885 closed

[2018-07-27 20:36] #37389 closed

[2018-07-27 20:37] 4815162342lost opened #48805 "salt-cloud. Can not create create snapshot for servers which use 'Disaster Recovery Replica created VMware Site Recovery Manager'"
Hello @all,

Sorry, i am not VmWare specialist and can be wrong in some term, but i will try to  describe the situation.

We have two DC: DC1 and DC2.
Several servers located in DC1, several servers in DC2. But we have 3 servers which use _'Disaster Recovery Replica created VMware Site Recovery Manager'_. It is very cool[ VmWare feature](https://youtu.be/5OaSemd8qAc).

But on DC1 we have a real se

[2018-07-27 20:37] thenoid commented on #46498
Curious when this will be addressed as well.

[2018-07-27 20:53] 4815162342lost opened #48806 "salt-cloud. Non-root users can use it by default. Is it normal?"
Hello,

I noticed that non-root users can execute the any salt-cloud command 'by default':
[code]

We receive only warning error. is it a normal behavior? Or is it a security issue?

Thanks.

[2018-07-27 21:30] #46896 closed

[2018-07-27 21:35] #37477 closed

[2018-07-27 21:42] rallytime opened #48807 "Write some tests for new file.tidied function"
https://github.com/saltstack/salt/pull/47718 needs some tests written and @gtmanfred is awesome and agreed to help.

[2018-07-27 21:43] rallytime commented on #46498
There isn't anyone currently working on it, but we would greatly appreciate a PR if someone wants to take a stab at it.

[2018-07-27 21:52] 4815162342lost commented on #44971
Dear developers,

Could you please review an issue again?

[2018-07-27 21:56] noelmcloughlin opened #48808 "RFE: Add on-demand snapshot to states.lvm.lv_present"
### Description of Issue/Question

The  [salt.states.lvm.lv_present](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.lvm.html#salt.states.lvm.lv_present) API does not support creation of snapshot-LV on-demand.  It seems an LV and corresponding snapshotLV can only be created at same time via confusing pillar data:
[code]

`lvcreate(8)` stipulates a second invocation form for creatin

[2018-07-27 22:10] noelmcloughlin commented on #48808
API description would look like this.

Create  snapshot logical volume.

The OriginalLogicalVolumePath source for snapshot logical volume

[2018-07-27 22:47] dmurphy18 commented on #48427
@whytewolf The default for Solaris is 1K blocks, and the output of df and df -k were found to be the same:
df > d.txt
df -k > k.txt
diff d.txt k.txt produced no difference.

Note I am getting errors with parsing the output on Salt 2018.3.2 when salt abc disk.usage.
Could that be the issue that is being reported ?

[2018-07-27 23:55] #37454 closed

[2018-07-28 01:55] #26981 closed

[2018-07-28 06:02] Prakash82x opened #48810 "Report non existing or non existent minions when using list (salt -L)"
### Description of Issue/Question
When we submit any job on target minions using "salt -L" then it does not report any minion which does exist in the salt master. Can we have this feature ? this will help us lots of efforts while working on targets in bulk.

### Setup
We are targeting 5 minions below:
[code]

In the above result, minion4 and minion5 do not exist in salt and nothing is displayed ab

[2018-07-28 08:55] #36570 closed

[2018-07-28 09:50] accumulatepig commented on #38597
what's the progress about the issue?   IN  Master -> Syndic -> Minion topology ,   transfer file from master to minon or  cmd.script to execute some script .
thks

[2018-07-28 17:55] #37539 closed

[2018-07-28 19:45] cachedout commented on #46431
Hi @geekinutah! Thanks for the PR!

On point number there, there really isn't an example in place anywhere in the current codebase. Basically, what I'm imagining here is a dedicated thread that checks the queue size and depth every N number of seconds and then fires events onto the bus. It would be a bit similar to `master_stats`, and if you grep for that string you should see some references to o

[2018-07-28 19:55] #37555 closed

[2018-07-28 21:55] #36902 closed

[2018-07-28 22:01] glynnforrest commented on #40043
@blarghmatey just writing to request an update on your intentions with this. I hope you'd still like to merge these new Vault features into salt, it would be a great addition!

It looks like the code now lives at https://github.com/mitodl/vault-formula, is this correct?

[2018-07-28 23:14] geekinutah commented on #46431
Cool, that's what I need. Thanks @cachedout .

[2018-07-28 23:37] #37566 closed

[2018-07-28 23:51] lomeroe commented on #48782
@mike2523 could you possibly share the ADMX/ADML files that have those policies in them with me?  The Win10 systems I have have access to don't have the policies available...

[2018-07-29 00:35] damon-atkins commented on #36991
.

[2018-07-29 00:40] blarghmatey commented on #40043
@glynnforest thanks for checking in. You are correct that the code is now living under mitodl/vault-formula

I do still intend to contribute that code upstream, though there are still a number of improvements to be made to fit the patterns and standards of the salt codebase. If the desire is to merge in the code as it stands currently so that others can help contribute fixes, I would be happy to d

[2018-07-29 10:30] Talkless commented on #47033
I am not sure, looks like a workaround. What will happen in Sodium if one does not add that option?

[2018-07-29 13:12] AmiramMaimon commented on #47854
Hey,

Any update?

Amiram

[2018-07-29 14:38] TheBigBear commented on #31889
@terminalmage did this ever get added in? I think it hasn't happened, yet, right? Why can't this
https://github.com/saltstack/salt/issues/31889#issuecomment-231609575 be made to work, I don't get it? It can list the required pkgs rot be upgraded but it can't actually do the upgrade? Why is that?

[2018-07-29 15:49] damon-atkins commented on #31889
upgrade on unix/linux platforms has had some debate. Some people feel the existing implementation is too dangerous, and people have accidentally performed full upgrades. Some platforms support providing a list of software to upgrade some do not.  There is an issue somewhere with a debate.

pkg.latest almost does the same thing as pkg.upgrade.

I do not think the CommandExecutionError has been impl

[2018-07-29 16:02] garethgreenaway commented on #47854
@AmiramMaimon thanks. Can you provide the top files you're using.

[2018-07-29 16:45] FedericoOlivieri opened #48813 "data failed to compile - jinja variable is undefined"
### Description of Issue/Question
When run state.sls, salt seems not able to render jinja template due to missing variable. The variable is not a variable but a dictionary key. Set-up is salt-master connected to salt-proxy

### Setup
TEMPLATE
[code]
PILLAR
[code]

STATE
[code]

### Steps to Reproduce Issue
sudo salt 'leaf1' state.sls ifOpenconfig

### Versions Report
Salt Version:
           Salt:

[2018-07-29 21:37] #37559 closed

[2018-07-30 00:10] #22290 closed

[2018-07-30 07:12] boltronics opened #48817 "The manage.alived(show_ipv4=True) runner incorrectly lists 127.0.0.1 as the source IP"
### Description of Issue/Question
From the [docs](https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.manage.html#salt.runners.manage.alived):
"show_ipv4: Also show the IP address each minion is connecting from."

But this is what I get when testing in two completely different environments:

[code]
These are all different machines - some physical, some virtual. The IP returned should

[2018-07-30 07:58] guettli opened #48818 "Broken Link in Docs"
### Description of Issue/Question
on this page https://docs.saltstack.com/en/latest/ref/states/all/salt.states.pkg.html#salt.states.pkg.removed

The link to "pkg.removed" links to "pkg.installed". Same for "pkg.purged".

[2018-07-30 09:52] 4815162342lost commented on #48818
All fine for me.

[2018-07-30 10:47] jvrahav commented on #48498
@DmitryKuzmenko

the procedure is

1. start salt master with the settings mentioned above in this conversation
2. start the minions on the vms - 5000 t0 6000. All minions are using the configuration specified above in this thread
3. notice the master memory shooting up.
4. after some time invoke sls operations via salt-api based out of tornado
5. After this eventpublisher memory shoots up to to 5.

[2018-07-30 12:39] ngrundler commented on #47911
I was able to get this working manually with mine.update, though I'm not sure why it suddenly started behaving.  I'm going to assume it was an issue on my end, but scheduled collection is definitely still not working.  No helpful errors when I run the proxy/master in debug mode either, and commenting out the lines in #48020 didn't have any effect.  Anybody @saltstack/team-netapi have access to a n

[2018-07-30 12:51] DmitryKuzmenko commented on #48498
Thank you for descriptions. I can take this and try to reproduce and analyze the issue. But I can't start work on it now. It would be later, closer to the end of Aug.
@rallytime does that sound good?

[2018-07-30 13:09] Annnetta commented on #48728
@garethgreenaway thank you! I will try Salt Cloud then, maybe it will meet our company's demands.

[2018-07-30 13:09] #48728 closed

[2018-07-30 13:14] Annnetta opened #48819 "Reporting while job scheduling"
Hi all,
I have a question about the reporting from Minions.

When I schedule the Minions to execute the job every 10 minutes, I would like to know whether this job has been successfully executed or not.

I would like to have something like what gives
salt-run jobs.exit_success job_id
but for all Minions and jobs, like:
name_of_the_minion – job(function) – success/not

Does it exist?

Thank you in

[2018-07-30 13:39] gtmanfred commented on #47033
The old format goes away starting in sodium, and it will move to the new
format.

On Sun, Jul 29, 2018 at 5:30 AM Vincas Dargis <notifications@github.com>
wrote:

[2018-07-30 13:48] gtmanfred commented on #48801
Looks like `_changes` does not report changes if the value is the same as the default value.

https://github.com/saltstack/salt/blob/develop/salt/states/user.py#L146

If that middle comparison to see if the option is set to the default is removed for all of them, it should just work ™

Thanks for reporting.

A PR to fix this would be greatly appreciated.

Thanks,
Daniel

[2018-07-30 13:52] Ch3LL commented on #48453
i am mostly looking for what version of python you are running on ubuntu minion?

[2018-07-30 13:53] perfecto25 opened #48820 "Salt-SSH OptParse error on python 2.7 target"
### Description of Issue/Question
running Salt-SSH on Centos 6.9 (python 2.7) results in

          File "/usr/local/lib/python2.7/optparse.py", line 1018, in add_option
            raise TypeError, "invalid arguments"
        TypeError: invalid arguments

Testing against a Centos 6 host with Python 2.7.

Running any module commands (cmd.run, test.ping, etc) results in this error.
Running Raw comm

[2018-07-30 13:54] gtmanfred commented on #48806
Non root users should be able to run the commands.  To prevent them from being able to do anything, set your cloud config directories to 700, so that they cannot look at any config files in there.

@dmurphy18 we should fix this in the salt-cloud packages, /etc/salt/cloud.providers.d/ and /etc/salt/cloud.profiles.d should probably be given 700 permissions for the packages, like /etc/salt/cloud has

[2018-07-30 13:55] Ch3LL commented on #37805
not fixed as far as i know. thanks for updating to make sure its not stale and closed :)

[2018-07-30 14:00] gtmanfred commented on #48818
I am unable to replicate this.  It is going to the link id anchor correctly.

[2018-07-30 14:03] gtmanfred commented on #48808
@noelmcloughlin is this meant for the lvm formula? or for the main salt repository? because i don't think that we require using pillar data to configure the snapshots on lvm...

Thanks,
Daniel

[2018-07-30 14:06] gtmanfred commented on #48810
What version of salt are you on, because this should be fixed in 2018.3.0

https://github.com/saltstack/salt/pull/42915

This appears to be a duplicate of https://github.com/saltstack/salt/issues/47852

[2018-07-30 14:06] #48810 closed

[2018-07-30 14:08] Ch3LL commented on #37575
did my recommendation from https://github.com/saltstack/salt/issues/37575#issuecomment-260793237 not work?

[2018-07-30 14:11] Ch3LL commented on #38597
dont believe there has been any progress but maybe someone from @saltstack/team-core can give more insight of maybe a possible workaround/solution since this was opened.

[2018-07-30 14:13] noelmcloughlin commented on #48808
Thanks, @gtmanfred.  This is for main salt repo also.  salt.states.lv_present should support creating a snapshot-LV directly because thats the way lvcreate works IMHO.

[2018-07-30 14:14] Ch3LL commented on #47911
and if you use a different mine setting like `test.ping` for simplicity sake does it schedule the update?

Also do you see it attempting to run the schedule in the debug logs?

[2018-07-30 14:15] gtmanfred commented on #48808
ok. marked as a feature request.

Thanks!
Daniel

[2018-07-30 14:17] gtmanfred commented on #38597
the syndic only passes jobs and events (period).

If you want to distribute external module, they need to be on the syndic master that the minion is connected too, because that is the master that defines the fileserver that the minion can pull stuff from.

This can be marked as a feature request, but it require a large overhaul of the way the syndic works.

[2018-07-30 14:21] gtmanfred commented on #48819
There is nothing that exists like that right now.

You could write something that runs https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.jobs.html#salt.runners.jobs.list_jobs_filter

and then passes the output to jobs.exit_success.

I am marking this as a feature request, PRs welcome.

Thanks,
Daniel

[2018-07-30 14:22] gtmanfred commented on #48813
This appears to be the error from the `network to code` slack

[code]

[2018-07-30 14:22] rallytime commented on #48498
@DmitryKuzmenko Yeah, that sounds good. Thanks!

[2018-07-30 14:23] gtmanfred commented on #48813
It looks like `interfaces` is in your pillar data, you will want to pull it from pillar data.

[code]

[2018-07-30 14:35] gtmanfred commented on #48802
We should be handling this, if you install https://pypi.org/project/backports.ssl_match_hostname/ we should copy it over to the minion.

Daniel

[2018-07-30 14:37] gtmanfred commented on #48805
Can you please provider the `--versions-report` like the issue template requested?

Thanks,
Daniel

[2018-07-30 16:10] #15713 closed

[2018-07-30 16:37] 4815162342lost commented on #48805
hello, thanks for your reply.

Salt-version:
[code]

[2018-07-30 16:41] gtmanfred commented on #48807
https://github.com/dhs-rec/salt/pull/1

[2018-07-30 16:42] mike2523 commented on #48782
This is on a Windows 10 ENT Build 1803.

[PolicyDefinitions.zip](https://github.com/saltstack/salt/files/2242054/PolicyDefinitions.zip)

[2018-07-30 16:49] gtmanfred commented on #48805
ok, and from my understanding of how disaster recovery works, both machines would have the same name?

I think this is something that is a limitation of salt-cloud specifically the vmware driver.  One of the things that wasn't really built in when salt-cloud was the ability to have servers with the same name in different setups, so it is kind of a race condition, which ever server is returned back

[2018-07-30 16:54] dmurphy18 commented on #48427
With the Salt 2018.3.2 release

Running salt-call --local disk.usage [k] works on Solaris 10 (Intel), both with and without argument k.

Running the same on Solaris 11, _salt-call --local dish.usage k_ functions correctly, but fails without the optional _k_ argument, the error _[ERROR   ] Problem parsing disk usage_ information  occurs.

This is probably due to the missing header line from the out

[2018-07-30 17:10] #35987 closed

[2018-07-30 17:25] mike2523 commented on #48782
Another SLS that causes issue (this time, gpedit console stopped working when disabled), setting these to `Not Configured` fixes it back up:

[code]

[2018-07-30 17:37] Reiner030 commented on #37575
Good question but since i dont need/use the "publish" module because I have the mine as sufficient exchange I couldn't (and wouldn't) test it in reasons of time consuming for this setup (especially to in my case sufficient workaround to ping the other minion directly; in other situations behind firewalls this would fail and the complex method is needed).

There is much more setup needed than simpl

[2018-07-30 17:48] perfecto25 commented on #48802
my saltmaster already has this pkg installed,

[root@saltmaster reactor]# pip freeze | grep ssl
You are using pip version 8.1.2, however version 18.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
backports.ssl-match-hostname==3.5.0.1

[2018-07-30 17:56] gtmanfred commented on #48802
Hrm, it looks like it should always pack the ssl_match_hostname.

Can you try running this on your salt master and provide the output?

[code]

Also, are you running this on a mac?  can you pip install the package to the salt python directory? it should be in /opt/salt.

Thanks,
Daniel

[2018-07-30 17:57] 11chrisadams11 opened #48825 "Unicode error while deploying Ubuntu 18.04 template in VMware"
### Description of Issue/Question
When deploying a new VMware server from a Ubuntu 18.04 template I get the following error:
```UnicodeEncodeError: 'ascii' codec can't encode character u'\u2192' in position 274: ordinal not in range(128)```

The server is created, but Salt is not installed and the setup is not continued.

Here is the full trace:
[code]
### Setup
Create Ubuntu 18.04 template in VMw

[2018-07-30 18:01] dmurphy18 commented on #48427
Problem is due to missing space on Solaris 11

From Solaris 10 line:
/                  (/dev/dsk/c0t0d0s0 ): 5379098 blocks   644184 files

From Solaris 11 line:
/                  (rpool/ROOT/solaris):23919631 blocks 23919631 files

Missing the Space after the colon for parameter 2 on Solaris 11

[2018-07-30 18:03] perfecto25 commented on #48802
master is centos 7.5

[root@saltmaster tmp]# cat test.py
try:
    # Older python where the backport from pypi is installed
    from backports import ssl_match_hostname
    HAS_SSL_MATCH_HOSTNAME = True
    TYPE = 'PACKAGE'
except ImportError:
    # Other older python we use our bundled copy
    try:
        from salt.ext import ssl_match_hostname
        HAS_SSL_MATCH_HOSTNAME = True
        TYPE

[2018-07-30 18:07] perfecto25 commented on #48802
I dont have anything in /opt

I have salt modules in /usr/lib,

[code]

[2018-07-30 18:07] gtmanfred commented on #48802
Can you provide the version report from the machine you are on then?

Because the version report in the first comment of this issue is from a mac.

[2018-07-30 18:10] #10617 closed

[2018-07-30 18:17] perfecto25 commented on #48802
Oh sorry, I swtiched desktops since I opened this ticket,

The original error is gone now (running from Centos instead of Mac) when I run same command, but getting this

[code]

I opened up a separate Issue for this,

https://github.com/saltstack/salt/issues/48820

You can close this one.
Thanks.

[2018-07-30 18:21] nw0428 opened #48826 "Salt highstate orchestration failing with "minion did not return""
I have an orchestration state that includes running a highstate and it seems to fairly consistently fail claiming that one of the minions did not return. However, looking at the logs for the master and the minion, as well as the event stream, it seems clear that the minion is consistently responding to find_job requests.

### Setup
[code]
In the salt master config
[code]

### Steps to Reproduce Is

[2018-07-30 18:27] mike2523 commented on #48782
Last one i promise :)

`Windows Components -> Delivery Optimization -> Download Mode`. `Enable`, Download Mode set to `LAN (1)`

when enabling Download mode via gpedit console first, stops lgpo.get module with error below:
`PS C:\Windows\system32> salt-call.bat lgpo.get machine return_full_policy_names=True`

[code]

[2018-07-30 19:03] ngrundler commented on #47911
Just using `test.ping` doesn't show any difference.

I never see the `schedule.handle_func` calling `mine.update` in the debug log.  Given the following `/etc/salt/proxy.d/my-minion/_schedule.conf`:

[code]

I do periodically see the following at the expected 1m interval:
[code]
...but never for `mine.update`.

[2018-07-30 19:58] Ch3LL commented on #46233
ping @gtmanfred i'm seeing the fixed pending verification but no PR tied to this issue.

[2018-07-30 20:11] gtmanfred commented on #46233
It is this PR #47828

[2018-07-30 20:44] josemine opened #48828 "win_service removing qoutes from bin_path"
### Description of Issue/Question
The win_service module is removing quotes from bin_path for both the create and modify function. If one goes to add a service in windows that has spaces using this module their system will be vulnerable.
For more information you can take a look at
https://www.commonexploits.com/unquoted-service-paths/ and
http://cwe.mitre.org/data/definitions/428.html

I suggest l

[2018-07-30 21:09] gtmanfred commented on #48826
Can you try upgrading your salt master to 2017.7.7, there was a bug released in 2017.7.6 which could be causing this.

https://docs.saltstack.com/en/latest/topics/releases/2017.7.7.html

Fixed here.

https://github.com/saltstack/salt/pull/48157

[2018-07-30 22:38] garethgreenaway commented on #48659
Apologies.  I missed in the documentation that this is supposed to be a supported option.  Re-tagging as a bug.

[2018-07-30 23:48] dmurphy18 commented on #48427
This is more complicated that, seeing issues with Solaris 10 too depending on time of day. Additional problem is that the code is assuming that the device is at the end (as when -k is used) rather than the start of the line hence the following problematic lines:
/                  (/dev/dsk/c0t0d0s0 ): 5372840 blocks   644179 files
/lib/libc.so.1     (/usr/lib/libc/libc_hwcap1.so.1): 5372840 block

[2018-07-31 00:14] #37620 closed

[2018-07-31 00:57] dmurphy18 opened #48835 "PR Code Reviews - Improving Code Submissions section"
### Description of Issue/Question
PR Code Reviews

Have an issue where we need to be consistent in our PR Reviews, esp. with ref. to Code Churn.

We currently have in Contributing Guidelines.

_CODE CHURN
Many pull requests have been submitted that only churn code in the name of PEP 8. Code churn is a leading source of bugs and is strongly discouraged. While style fixes are encouraged they should

[2018-07-31 01:13] timwsuqld commented on #32144
https://github.com/saltstack/salt/issues/34735 is related.
Even though the salt master knows the the pillar targeting is for that minion, the minion doesn't respond until a `saltutil.refresh_pillar` is run against the minion. I think that a minion pillar refresh should be run automatically, when targeting minions by pillar, to ensure that the minion will respond.

I'm having this issue currently w

[2018-07-31 05:14] #36449 closed

[2018-07-31 09:14] #10207 closed

[2018-07-31 09:19] dragouf opened #48839 "salt api 500: Could not serialize the return data from Salt"
### Description of Issue/Question
when calling job details on api it return 500 error with :

[code]

### Setup
execute a big job with api endpoint 'local_async' and then call:

[code]

When calling in command line instead of the api:
 `salt-run jobs.print_job 20180730095827413902`

it seems to work

### Api Log
[code]

### Versions Report
[code]

[2018-07-31 09:37] Hitamashi commented on #48764
Hello @gtmanfred ,
Any new progress?

On my part, I have to redeploy everything again. And the issue is gone. No modification is done.
Anyway, I will keep monitoring to check if it happens again.

Regards,

[2018-07-31 10:57] nodermatt commented on #48778
@Ch3LL I'll be happy to make the changes and submit a PR in the next couple of days.

Thanks for the encouragement :)

[2018-07-31 12:33] guettli commented on #48818
I talk about this line:

"pkg.removed" links to "pkg.installed"

[2018-07-31 14:03] gtmanfred commented on #48764
Ok, thanks,

Yeah i was never able to reproduce this.  I wonder if it was an old pyc file left behind by something.

Let me know if you can reproduce it again, and I will reopen this issue.

[2018-07-31 14:03] #48764 closed

[2018-07-31 14:05] gtmanfred commented on #48818
Yup, it looks like it just needs to be fixed on those lines.

https://github.com/saltstack/salt/blob/2017.7/salt/states/pkg.py#L978

Thanks.
Daniel

[2018-07-31 14:15] gtmanfred commented on #48818
Fixed pending #48840

[2018-07-31 14:56] Ch3LL commented on #48820
i'm having a hard time replicating this how did you install salt? and how did you install python2.7 on the cent6 host?

[2018-07-31 14:58] Ch3LL commented on #48825
can you share the command that you are running?

[2018-07-31 14:59] Ch3LL commented on #48828
ping @saltstack/team-windows any opinions here on suggested fix?

[2018-07-31 15:14] #37622 closed

[2018-07-31 15:15] Ch3LL commented on #48839
can you clarify this statement: "execute a big job with api endpoint 'local_async' "

Can you clarify what you mean by big job?

I can't seem to replicate this so would be useful if you can paste a sanitized version of the curl command you're making

[2018-07-31 15:16] 11chrisadams11 commented on #48825
salt '*salt*' cloud.profile web-18.04 webserver-name01

[2018-07-31 16:01] rallytime commented on #48427
@whytewolf This should be fixed with #48833

[2018-07-31 16:13] #48818 closed

[2018-07-31 16:14] #37610 closed

[2018-07-31 17:07] antmd opened #48845 "pip_state ignores bin_env"
### Description of Issue/Question

I am using SaltStack to install both python2 and 3 packages on three hosts. So, I iterate over a list of package names, but use pip2 first, then pip3.

The pip3 install uses bin_env to select /usr/bin/pip3.

However, for all packages that have python2 versions installed, SaltStack will not install the python3 versions, saying 'Package already installed'.

The out

[2018-07-31 17:14] #3991 closed

[2018-07-31 17:51] terminalmage commented on #48695
Good catch! I've opened https://github.com/saltstack/salt/pull/48847 to further correct the docs.

[2018-07-31 17:53] yagnik opened #48848 "Multimaster salt deploy failover"
### Description of Issue/Question
We are currently running multiple salt masters in our dc. We deploy our salt masters just the way we do with our apps i..e rolling deploy of all salt masters. In the case that a deploy happens on the master where a minion is connected and getting data from, that particular job fails due to salt timeout as expected. How does the core team solve this issue ? Is ther

[2018-07-31 18:05] austinpapp commented on #46431
@cachedout great update. thanks you and makes sense to me.
i would say in general no.3 seems like a good option for monitoring all hwm 👍

[2018-07-31 18:14] #29991 closed

[2018-07-31 18:14] #32250 closed

[2018-07-31 18:58] V3XATI0N opened #48851 "2018.3.2 Master not populating minion data cache"
### Description of Issue/Question
The master's minion data cache is empty and I can't get it to populate. I'm not using any special cache module, just the normal out of the box configuration. `salt-run cache.grains tgt=\*` returns a only single minion name (despite having 2 minions connected on this test instance), with no data. Additional minions aren't listed at all.

Every time I try to access

[2018-07-31 19:16] rallytime commented on #47689
Closed via #47734

[2018-07-31 19:16] #47689 closed

[2018-07-31 20:14] jdm commented on #44130
This does appear to be an issue in 2018.3.0.

[2018-07-31 20:14] #37596 closed

[2018-07-31 20:28] #28135 closed

[2018-07-31 20:31] jdm commented on #44130
Correct. I help maintain the infrastructure that was in use in the original issue report.

[2018-07-31 20:59] NixM0nk3y commented on #48845
I also ran into this in a mixed py2/py3 environment.

Believe this is related to https://github.com/saltstack/salt/commit/3e6e524ecace36ed61664a40160634197ac524db

Fixed for me with:

[code]

but this probably doesn't take into account the windows + virtualenv support in the original commit.

[2018-07-31 21:08] V3XATI0N commented on #48851
nevermind, I think this is a duplicate of #48694

[2018-07-31 21:08] #48851 closed

[2018-07-31 21:26] jdm commented on #44130
Ack, I'm so sorry. I typoed when I meant to say that this does _not_ appear to be an issue in 2018.3.

[2018-07-31 21:30] weswhet commented on #44130
@Ch3LL @rallytime I guess the issue can be closed then?

[2018-07-31 21:30] rallytime commented on #48659
@dstoliker See #48830 for the fix.

[2018-07-31 22:01] antmd commented on #48845
Looking at the diff you included, I could see that bin_env can take an absolute path to a python executable. I changed my salt state file to:

[code]

And it now works. Thanks!

I think the SaltStack documentation should be updated to explain this option, though.

[2018-07-31 22:14] #30434 closed

[2018-08-01 05:36] dave-pollock commented on #46159
I built a new Salt master today and ran into this issue again due to the latest release of pygit2 v0.26.4. I'm not sure if it's compatible with Salt 2018.3.2. I ended up getting around this problem by installing pygit2 v0.26.3 which was harder than you would think because 0.26.4 is the only version available via yum.

[code]

[2018-08-01 05:55] travispaul opened #48856 "Salt fails to start on NetBSD 8"
### Description of Issue/Question

In NetBSD 8 the output of ifconfig was changed. The netmask is now returned as part of the IP address. The ip/ifconfig parsing code is shared between all *NIX/BSD variants so it doesn't expect this new format.

What's the best way to handle this within salt? Some rough ideas:

1. Detect NetBSD >= 8 in [utils/network.py:interfaces()](https://github.com/saltstack/s

[2018-08-01 07:00] yagnik opened #48857 "Short lived minions support"
### Description of Issue/Question
We are looking to run salt inside containers only for the duration of the container. They act as our management containers, come online, do the task and then die.
What do you think of the concept of short lived minions ? or do you think there is a better way to achieve this ?

[2018-08-01 07:59] MedourMehdi opened #48858 "salt-cloud is not working with 2018.3.2 and openstack"
### Description of Issue/Question
Get the following error message:

salt-cloud -m /etc/salt/cloud.conf.d/ppd_storage_test.conf
The following virtual machines are set to be created:
  storage1.companeo.local

Proceed? [N/y] y
... proceeding
**[ERROR   ] There was a query error: Entry in network list is missing required field "name"**.

Tried with Private Newton openstack and with OVH public cloud (

[2018-08-01 08:50] NixM0nk3y commented on #48845
Great stuff.

Looks like this was reported in https://github.com/saltstack/salt/issues/48122 and should be included in the 2018.3.3 release. So hopefully should be able to work around it till then.

[2018-08-01 08:55] MedourMehdi commented on #48858
My bad - I've been using openstack driver instead of nova.

Thanks anyway.

[2018-08-01 08:55] #48858 closed

[2018-08-01 09:09] #48845 closed

[2018-08-01 09:57] msciciel commented on #43416
Is this resolved ? I'm trying to use external auth with pam and I always get:
[code]

My current master configuration:
[code]

My previous configuration which also doesn't work was:
[code]

[code]

[2018-08-01 10:03] msciciel commented on #47663
I'm also hitting above problem.

My configuration:
[code]

And I always get:
[code]
I've added logging of retval inside authenticate function in salt.auth.pam and it always return `0`.

[code]

[2018-08-01 12:36] mattp- commented on #46431
@cachedout re your explanation above, reactor workers are only responsible for rendering runner.state.orchestrate / event.master_fire for the master to run said orch right? if that is the case setting even a moderately high worker queue/hwm on the reactor would saturate master resources before hitting failing reactor side I thought? (though I guess that really boils down to a function of how much

[2018-08-01 13:30] pengyao opened #48860 "salt-minion self-restart doesn't work in daemon mode. Works when not a daemon"
### Description of Issue/Question

salt-minion in daemon mode process dies instead of restarting itself

### Setup

Two salt master,  `master_type` use `failover`

Minion config:

[code]
### Steps to Reproduce Issue

1. Start salt-minion with daemon mode

[code]

2. After minion started, Stop all masters

3. Tail minion's log, after 1 minute, you will look like this:

[code]

4. After random_reaut

[2018-08-01 13:31] pengyao commented on #29199
#48860

[2018-08-01 13:32] Ch3LL commented on #37575
thanks for clarifying. i found a similar issue to this here: https://github.com/saltstack/salt/issues/26881

there are some workaround included in that issue and also a clear description in this comment: https://github.com/saltstack/salt/issues/26881#issuecomment-169487623 that mine data isn't purged unless told to do so. Just to make sure if you purge your mine data I'm assuming you won't get a r

[2018-08-01 13:38] gtmanfred commented on #43416
I believe since you are just passing in the name, it is a regex, so you need.

[code]

and

[code]

Also, note, i indented `args` another level, put both into https://www.json2yaml.com and you will see the difference.

[2018-08-01 13:38] #43416 closed

[2018-08-01 13:44] soostdijck commented on #48684
@rallytime I'm not sure what you mean, I ran into this on 2018.3.2 That other bug #47572 was fixed and merged before .2 came out from what I can tell?

[2018-08-01 13:54] josemine commented on #48828
At first I tried the following
[code]
I have also tried with single quotes and escaping them without luck because of service.modify striping quotes.

[2018-08-01 14:02] rallytime commented on #48684
@soostdijck Ah, it's not in the 2018.3.2 release. We did a quick release with a limited number of fixes there, based on the 2018.3.1 release.

The fix in #47572 is in the 2018.3 branch, but won't be available until 2018.3.3.

[2018-08-01 14:40] #48427 closed

[2018-08-01 14:41] Ch3LL commented on #48825
thanks for the additional information. ping @saltstack/team-cloud any initial ideas here?

[2018-08-01 14:41] rallytime commented on #47732
Thanks for the discussion on this everyone! Since #48361 has been submitted, I am going to close this issue.

[2018-08-01 14:41] #47732 closed

[2018-08-01 14:43] #48415 closed

[2018-08-01 14:43] #44130 closed

[2018-08-01 14:49] garethgreenaway commented on #48848
@yagnik Thanks for the report.  To clarify, are you seeing this behavior when you're deploying updates to Salt masters when a minion is in the middle of a Salt run?  Or is it that the minions are not switching over to the other masters if the one they're connected to disappears?

[2018-08-01 14:50] garethgreenaway commented on #48856
@travispaul Thanks for the report.  Ideally we would want a new function that is dedicated to NetBSD in utils/network.py and would definitely welcome a pull request for that.

[2018-08-01 14:50] yagnik commented on #48848
@garethgreenaway this is in the middle of salt run, minions transfer over no problem.

[2018-08-01 15:01] gtmanfred commented on #48825
probably just another unicode error in 2018.3

[2018-08-01 15:11] garethgreenaway commented on #48857
There have been a number of people who gotten Salt running inside a container, I'm not sure if they were short lived containers but this could be a use case for a proxy minion.

One potential issue would be key management, unless you were using the same pre-signed key each time you would need to have Salt auto-accept keys and could also potentially end up with a lot of unused keys to clean up from

[2018-08-01 15:15] amuhametov opened #48862 "fileserver/roots msgpack errors"
### Description of Issue/Question
Getting random error:
Could not deserialize msgpack message.This often happens when trying to read a file not in binary modeTo see message payload, enable debug logging and retry. Exception: Unpack failed: error = 0
### Setup
[code]
### Steps to Reproduce Issue
Added traceback right after error message to payload.py:

Aug 01 17:57:54 saltmaster salt-master[50947]:

[2018-08-01 15:36] Ch3LL commented on #47911
so i did a bit more trying to replicate this and the closest i could get was I am seeing this error in the proxy log:

```2018-08-01 15:28:58,292 [salt.minion                                    :445 ][ERROR   ][14952] Exception argument of type 'bool' is not iterable occurred in scheduled job```

and i bisected it to this b23e5a7db22da482ee7b67d937a1874279a7ee83

using this pillar data:

[code]

b

[2018-08-01 15:44] travispaul commented on #48856
Thanks for the prompt response @garethgreenaway
I'll go with your suggestion and implement a new function in utils/network.py, I should have a pull request up within the next day or two.

[2018-08-01 15:53] garethgreenaway commented on #48848
@yagnik During the Salt run the minion is connected directly to the address of the Salt master, my suggestion would be to have either a load balancer or shared IP mechanism in front of the Salt masters.
@saltstack/team-core any other thoughts?

[2018-08-01 16:11] yagnik commented on #48857
Exactly facing the issue you listed:
- We currently have auto-accept set to true but aren;t able to clean up nicely. Any ideas on doing that ?
- What do you think of lease based acceptance which auto deletes the key ?

[2018-08-01 16:14] yagnik commented on #48848
@garethgreenaway correct me if I'm wrong but I expected that even if I put a lb in front, it won;t solve my problem in the following case:
- minion 1 sends publish.publish to minion 2 using the bus on master
- master dies before minion 2 has sent the reply back
- We failover to other master but it didn't know about the publish and therefore won't get response back to it.

This may not be true if m

[2018-08-01 16:15] yagnik commented on #48857
Could you elaborate on how you'd use proxy minion for this ?

[2018-08-01 16:25] yagnik commented on #48848
@gtmanfred I assume by failover you mean setting `master_type` to `failover`, which we don't, in that case will it publish to all masters ?

To implement retry logic on my side, I'll have to ask it to try the other master myself ? Salt won't take care of it ?

[2018-08-01 16:28] gtmanfred commented on #48848
correct, `master_type: failover`, so you should be sending the publish.publish to all masters afaik.

If you were using master_type: failover, you should just have to wait after getting your message back, and the minion should automatically failover, so if you don't get back a response and the publish.publish times out, sleep for however long your failover timer is, and then you should be able to

[2018-08-01 16:34] yagnik commented on #48848
Odd, so in our case it should publish to all and both minions should move over no problem and publish should return no problem but it isn't, am I missing something ?

[2018-08-01 16:39] #38310 closed

[2018-08-01 16:39] #48417 closed

[2018-08-01 17:19] garethgreenaway commented on #48860
@pengyao Thanks for the report.  Unfortunately I wasn't able to reproduce this issue, any additional information you can provide about your setup that might help would be appreciated.

[2018-08-01 17:31] garethgreenaway commented on #48862
@amuhametov Thanks for the report.  Can you check if any of the files under /var/cache/salt are zero length?

[2018-08-01 17:37] mts-avco opened #48865 "Windows packages are hidden in pkg.list_pkgs if they have no DisplayVersion"
### Description of Issue/Question
Entries in Add/Remove Programs that have no DisplayVersion are not included in the package list returned by `pkg.list_pkgs`. Attempts to install such software using `pkg.install` result in the install reporting as failed, even though it actually succeeded

### Setup
First noticed with MS SQL Server Express 2017. Any uninstall entry without DisplayVersion will trig

[2018-08-01 17:37] mts-avco commented on #48865
@damon-atkins

[2018-08-01 17:39] gtmanfred commented on #48848
hrm, maybe my understanding of the publish.publish and the multimaster is wrong.

yup, looking at the code it looks like it just publishes to the first master in the list.

[code]

But you can specify which master to publish.publish to with `via_master`, so you should publish to the first one, if youdon't get anything back, publish to the second one.

[2018-08-01 17:41] amuhametov commented on #48862
/var/cache/salt/minion/module_refresh
and everything under /var/cache/salt/master/syndics/

[2018-08-01 18:07] V3XATI0N commented on #48694
for what it's worth, I am still able to retrieve the cache via salt-api, just not via CLI.

[2018-08-01 18:09] mts-avco commented on #48865
Also confirmed as not working on the same minion after installing salt-minion 2018.3.2 (py3)

[2018-08-01 20:48] #48813 closed

[2018-08-01 22:39] geekinutah commented on #46431
@cachedout et. al, https://github.com/saltstack/salt/pull/48874 addresses proposal 3. Would appreciate feedback on PR.

[2018-08-02 04:13] jjcroftiv opened #48878 "digital_ocean driver not working/digitalocean does work"
### Description of Issue/Question
I am using salt-cloud, and have a DigitalOcean provider configured.  It previously worked as 'digital_ocean', but now generates the error:
The cloud driver, 'digital_ocean', configured under the 'coderz-do' cloud provider alias, could not be loaded. Please check your provider configuration files and ensure all required dependencies are installed for the 'digital_o

[2018-08-02 06:17] Deewiant commented on #37949
I still see the exact same error message in the logs with 2018.3.2.

[2018-08-02 08:17] travispaul commented on #48856
@garethgreenaway I've got something working today, I just want to cross-check the ipv6 info I'm parsing agains a linux host tomorrow before I open a pull request.

Can you also refresh my memory regarding pull requests? If I recall, I should branch from 2018.3 and then that will get merged forward? Is that correct?

Thanks!

[2018-08-02 10:10] mts-avco commented on #48865
Commenting out the `if` block that results in return around win_pkg.py:464 appears to fix this, as suggested by @damon-atkins on slack yesterday

[2018-08-02 11:56] damntoken opened #48880 "Can't run cmd.run with UTF-8 chars as arguments / parameters. With custom module."
### Description of Issue/Question

I'm trying to create a custom module because standard ones are not sufficient enought for managaging certain Windows management tastks.

**But I can't run custom execution module to execute powershell with any Õ Ä Ö Ü character.**

First I googled pyton ascii unicode a lot and tried unicode() encode() decode(), because I used str(name) and other variable verifica

[2018-08-02 13:09] damntoken commented on #27866
Win2016 and salt 2018.3, still having same issue.

[2018-08-02 13:11] damntoken commented on #38071
Win2016 and salt 2018.3, still having same issue.

[2018-08-02 13:24] damntoken opened #48882 "Slow response from Windows minions on 2018.3"
### Description of Issue/Question
The issue is described and supposedly fixed, but I seem to be having the same problem for a long time now. https://github.com/saltstack/salt/issues/27866

8 sec might seem nothing but try to debugrun some simple command 60 times in a minute with +8 sec delay added. This is a major pain compared to the older puppet system I managed.

### Setup
Salt 2018.3.2 as mast

[2018-08-02 13:59] Ch3LL commented on #38071
@damntoken can you open a new issue with the details?

[2018-08-02 14:59] damntoken commented on #38071
Sorry, done.
https://github.com/saltstack/salt/issues/48882

[2018-08-02 15:41] Annnetta opened #48886 "Ping all Minions that belong to one group, except those that appear in another group"
Hi all,
I have a question. Is it possible to execute a function for all Minions that belong to one group, except those that are already in another group?

For example I have this groups in /etc/salt/master:
[code]
I would like to ping every machine that is in internal_users and not a laptop => windows-minion, ubuntu-hanna-minion, ubuntu-minion2

I saw that something like that is possible for minio

[2018-08-02 15:58] terminalmage commented on #47001
Since JSON is a subset of YAML, you can dump a Python data structure to JSON using Jinja's `tojson` filter and the `u` prefix will be removed from each string:

[code]

This filter is new in Jinja 2.9, so you may need to upgrade Jinja to use it. Alternatively, I have ported this filter into Salt for the upcoming 2018.3.3 release, which will make it available to those who have older Jinja installed

[2018-08-02 16:07] damntoken opened #48887 "shell=cmd is not usable via module, works via CLI (2018.3.1 Windows 2016)"
### Description of Issue/Question
I found a weird behaviour with **cmd.run shell='cmd'** with Win 2016 client.

### Steps to Reproduce Issue
`salt 'client' cmd.run_all cmd='echo ABC' shell='cmd'`
Returns ABC as expected.
[code]
But inside custom module.

[code]

Results always in :  **ERROR: Unable to run command 'echo ABC' with the context '{u'timeout': None, u'with_communicate': True, u'shell':

[2018-08-02 16:20] terminalmage commented on #37512
@gtmanfred is correct. I've updated the docs in https://github.com/saltstack/salt/pull/48888 so that it describes this priority.

[2018-08-02 16:20] #37512 closed

[2018-08-02 17:18] bohnman opened #48889 "Unable to install salt packages on amazon linux using yum (404)"
### Description of Issue/Question

I am unable to install salt packages using yum according to the instructions [here](https://repo.saltstack.com/#amzn).  The following url is not found:

``https://repo.saltstack.com/yum/amazon/2/x86_64/latest/repodata/repomd.xml``

### Setup
N/A

### Steps to Reproduce Issue

[code]

produces the following error

[code]

### Versions Report
N/A

[2018-08-02 17:37] cachedout commented on #48807
@gtmanfred Did you mean to submit this to the fork that you did?

[2018-08-02 18:02] gtmanfred commented on #48807
Yes, i submitted it to his branch, so once he merges it, it will appear in the PR that he has opened at #47718

[2018-08-02 18:03] gtmanfred commented on #48807
If he doesn't merge it, I can push it to his repository instead.

[2018-08-02 18:54] spyd3r opened #48892 "RuntimeError: IOLoop is already running"
### Description of Issue/Question
The minion function caused an exception: Traceback (most recent call last):
      File "/usr/lib/python2.7/dist-packages/salt/minion.py", line 1606, in _thread_return
        return_data = minion_instance.executors[fname](opts, data, func, args, kwargs)
      File "/usr/lib/python2.7/dist-packages/salt/executors/direct_call.py", line 12, in execute
        return

[2018-08-02 18:55] spyd3r commented on #48892
Possibly related to https://github.com/saltstack/salt/issues/33697

[2018-08-02 19:07] tsaridas opened #48894 "unresponsive minion when disk is full (windows/linux)"
### Description of Issue/Question
When the partition that minion's cache is full the minion is unresponsive.
Minion is unable to create the jid file hence the issue and the exception if the log file partition is not full.

Ideally the minion should respond to the master with a notification that disk is full.
Also it would be nice if minion could run synchronous commands like cmd.run without writin

[2018-08-02 19:15] rbthomp opened #48895 "Saltclass pillars inheritance issues."
### Description of Issue/Question

Merged pillars from classes overwrites pillars defined in the node declaration. It looks to me that because `expand_classes_in_order()` is called after pillar data defined in the node.yml gets merged anything defined in the node.yml is overwriten. It seams to me that the node.yml should over write anything defined in a class.

Would it be more controlled if we di

[2018-08-02 19:18] terminalmage commented on #48449
You could also just do something like:

[code]

The jinja still gets processed before the YAML, so the result would be a quoted string.

[2018-08-02 19:33] #48701 closed

[2018-08-02 19:41] Giandom commented on #43076
Hi have the same issue. Has anyone solved that problem?

Thanks,
Giandomenico

[2018-08-02 19:48] gtmanfred commented on #48357
Ok, I am hesitant to "fix" this.

Here is what happens when salt-ssh writes a config for the salt-ssh minion.  It takes the /etc/salt/master config file, and then it does a `.update()` with the DEFAULT_MINION_OPTS from `salt.config`, and then it applies the `minion_opts` from the roster.  Before 2017.7.6, there was no default for `pillar_merge_lists` in the default minion opts.  This was added in

[2018-08-02 20:44] anitakrueger commented on #47539
Is there any update on this issue please? Our infrastructure heavily relies on the reactor and I have to restart the salt-master process multiple times a day to get it working again :(

[2018-08-02 20:49] rallytime commented on #48694
This is fixed on the HEAD of the branch with #48765

@whytewolf @Ch3LL @V3XATI0N ^

[2018-08-02 20:49] bohnman commented on #48889
never mind.  I created an amazon linux 2 instance, which is not supported.

[2018-08-02 20:49] #48889 closed

[2018-08-02 20:50] rickh563 commented on #48792
### Next Steps

* Discuss with Salt-Support before initiating development any development of this Feature-Request

* ZD-2693 has written a `state module` and a `custom execution module` to manage this for internal to their organization;

* It is possible that they my contribute this to the project;

* FOSS policy is under discussion;

[2018-08-02 20:59] thetoolsmith commented on #32477
This is very helpful.
I have a use case where I need to remove an item from a list nested within another list. I haven't found the best way to do that except to get the values, remove the list grain that is nested in the other list grain, then recreate the nested list grain with the values I want.

example:
The grains looks like this:
myhost.foobar.com:
    ----------
    ztest:
        |_

[2018-08-02 21:04] gtmanfred commented on #48878
This will be fixed in 2018.3.3

https://github.com/saltstack/salt/pull/48188

[2018-08-02 21:04] #48878 closed

[2018-08-02 21:07] gtmanfred commented on #48892
This is probably related to https://github.com/saltstack/salt/issues/46905

Why are you trying to initialize a new caller client inside a module?

You should already have access to all execution modules using `__salt__`?

[code]

[2018-08-02 21:14] gtmanfred commented on #48887
@dwoz when you get a minute, could you look into this?

Thanks,
Daniel

[2018-08-02 21:18] gtmanfred commented on #48894
As with the last time you brought this up

[code]

Closing as a duplicate.

https://github.com/saltstack/salt/issues/40641#issuecomment-293406952

Thanks,
Daniel

Internal log from April 11th, 2017.

[code]

[2018-08-02 21:18] #48894 closed

[2018-08-02 21:42] spyd3r commented on #48892
Using caller is how I'd learned to do it. Switching to __salt__ fixes the problem.

[2018-08-02 21:44] terminalmage commented on #48357
I agree with @gtmanfred's solution. Maybe we should add some documentation [here](https://docs.saltstack.com/en/latest/topics/ssh/roster.html#target-defaults) to explain that `minion_opts` can be used to set default minion configuration for all ssh minions.

[2018-08-02 23:01] whytewolf commented on #48694
@rallytime The fix works great for `target` based grain searches. But non-target based searches still come up blank.

Before broken:

| command | reaction |
|-----------| --------|
| `salt-run cache.grains tgt='minion'` | minions grains |
| `salt-run cache.grains tgt='*'` | all grains for all minions |
| `salt-run cache.grains` | all grains for all minions |

Broken:

| command | reaction |
|-----

[2018-08-02 23:41] srikanth24 opened #48902 "SLS failing to send slack message"
### Description of Issue/Question
I do get the following trace error when trying to run the below state on a windows 2012 server.
The state file sends  a message to the slack channel.
[code]
### Setup
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2018-08-02 23:50] garethgreenaway commented on #48856
@travispaul Yup!  Create your branch against the `2018.3` branch, once it's merged those changes will be included in a merge-forward to the `develop` branch.

[2018-08-03 00:15] rallytime commented on #48357
Thank you for the thorough investigation and explanation @gtmanfred. I agree with you and @terminalmage here.

Some docs explaining the minion_opts would be ++.

I wouldn't consider this a blocker any more from my perspective.

@cachedout?

[2018-08-03 00:29] rallytime commented on #48694
Actually, we should fix that because it's technically a regression. But the `tgt` can be used for now.

[2018-08-03 01:01] garethgreenaway commented on #48902
@srikanth24 Looks like the error might be occurring when the Slack module is connecting to the Slack API URL.  Can you verify that connecting using something like CURL is able to connect without issue to the URL: `https://www.slack.com/api`?

[2018-08-03 04:56] srikanth24 commented on #48902
@garethgreenaway as an alternative i tried below and it works.

{% set disk_name = 'C:\\' %}
{% set msg = 'ATTENTION! The disk '+disk_name+' on the host '+salt.network.get_hostname()+' ('+grains.id+') is at low space!' %}
{% set api_key = 'xX %}
{% set chan = 'xxx' %}
{% set user = 'SuperAdmin' %}

cmd.powershell_all:
  module.run:
    - cmd: send-slackmessage -text '{{ msg }}' -channel '{{ chan }

[2018-08-03 06:39] tsaridas commented on #48894
You have a better memory than me.

Thank you for reminding me.

My idea would be to catch the exception and return an event to the minion to show that disk is full.

I understand that keeping jobs in memory is a hassle but it doesn't have to be that way. Maybe we can just have a config options for users to allow not writing jobs to disk in case of something like this happens. sync commands should

[2018-08-03 06:57] msciciel opened #48906 "Invalid grain fqdn_ip4 resolution"
### Description of Issue/Question
As I understand https://github.com/saltstack/salt/blame/develop/salt/utils/network.py#L196 the idea is to get fqdn based on RevDNS and then overwrite it with hostname if it is possible to obtain ip of hostname. But current code does only the first thing and because of that grain fqdn_ip4 could be unavailable in some situations when RevDNS != hostname.

### Steps t

[2018-08-03 07:41] Annnetta commented on #48886
Hi Daniel,

Unfortunately that doesn't work, the output is:
[code]

[2018-08-03 07:43] kivoli commented on #48357
@gtmanfred I was not aware of the possibility to use `roster_defaults` but we are actually using them for the already documented purposes. It would be nice if the documentation could be updated to reflect the full potential of them.

Regarding patching the documentation on [version numbers](https://docs.saltstack.com/en/latest/topics/releases/version_numbers.html) speaks of “bugfix releases” which

[2018-08-03 11:28] pacaj2am opened #48914 "Unnecessary python2 packages in python3 CentOS repository"
### Description of Issue/Question
SaltStack ptython3 CentOS/RedHat repository includes a lot of python2 unnecessary libraries, that are in interference with other older epel python2 libraries, even stopping some other important services from starting.

The packages in https://repo.saltstack.com/py3/redhat/7/x86_64/2018.3/ starting python2 should not be in the repository at all.

### Setup
(Please

[2018-08-03 12:06] Arabus opened #48915 "Unclear distinction between publisher_acl and external_auth in master.conf"
### Description of Issue/Question
When configuring salt for use by a non-root user or for use with the salt-api there is some confusion whether to use the external_auth or publisher_acl directives in the master.conf.

While there is a distinction at https://docs.saltstack.com/en/latest/topics/eauth/access_control.html#when-to-use-each-authentication-system the respective subpages https://docs.salt

[2018-08-03 12:27] ChristianBeer commented on #37512
Thanks for resolving this issue.

[2018-08-03 12:48] paulkramme commented on #32881
reopen

[2018-08-03 13:55] rallytime commented on #46465
This is complete.

There is only one issue left as still open: #44739, which is fixed with #46167.

Therefore, I am closing this.

[2018-08-03 13:55] #46465 closed

[2018-08-03 14:25] Ch3LL commented on #48880
ping @saltstack/team-windows any ideas here?

I can replicate with jsut this command: `salt-call --local cmd.run 'echo ABCÄÖÜ'`

This command works fine on linux but not windows

[2018-08-03 14:26] gtmanfred commented on #48894
We would accept a PR, but it is not something we are going to implement.

[2018-08-03 14:27] Ch3LL commented on #48882
ping @saltstack/team-windows any ideas here?

[2018-08-03 14:31] gtmanfred commented on #48357
Yes, it was an unintended feature, and it was a mistake to break it, but i don't feel like it would be worthwhile to "unbreak" it at this point.

But I will definitely keep this in mind in the future when i am reviewing PRs that make changes to the minions default options.

I can only offer my sincerest apologies that it caused you problems now.

[2018-08-03 14:31] #48357 closed

[2018-08-03 14:32] gtmanfred commented on #48357
I will open a new issue about adding more documentation around roster_defaults.

[2018-08-03 14:36] Ch3LL commented on #48906
Thanks for the PR! We always appreciate that :)

[2018-08-03 14:37] Ch3LL commented on #48914
ping @dmurphy18

[2018-08-03 14:38] gtmanfred commented on #48886
hrm, well that is no good, it looks like nodegroups are not expanded in the compound matcher, so that is what is preventing this.

So this will be basically a duplicate of https://github.com/saltstack/salt/issues/38169

[2018-08-03 14:39] gtmanfred commented on #48886
Could you try.

`salt -C 'internal_users and not laptops'`

?

Thanks,
Daniel

[2018-08-03 14:40] Ch3LL commented on #48915
yeah that could definitely help clear things up, great find. Seems you have a grasp on the fix we definitely would welcome a PR if you want to take a go at it.

[2018-08-03 14:44] #48807 closed

[2018-08-03 14:55] Annnetta commented on #48886
Here I have the same error:
[code]

I will take a look on the issue you have mentioned.

[2018-08-03 15:36] morganwillcock commented on #48882
Some ideas:
- Windows Defender will probably be scanning everything unless it is turned off, so you could try disabling the real scanning for the Salt installation folder
- Scheduled maintenance tasks tend to grind the disk to a halt, so it would be good to check that your 8 second delay wasn't from when these were running
- All the Server 2016 installations I've seen tend to end up with a broken

[2018-08-03 15:49] twangboy commented on #48882
This is an issue with the way Python forks processes on Windows.
@dwoz  This is the issue I was talking to you about a while back.

[2018-08-03 15:58] twangboy commented on #48880
This is an issue with python (especially py2) when shelling out to cmd or powershell. Python uses utf-8 where cmd is cp437 in English versions of Windows. We transitioned to using the PyWin32 modules for adding users in the `win_useradd.py` module. I have had no problems adding users with Unicode characters. Would you mind explaining exactly what you're trying to do and how you've been going about

[2018-08-03 16:10] pcdummy opened #48923 "Install requires "universe" on Ubuntu Bionic"
I tried to install "salt-minion" on a fresh Install from the Server iso, it failed first with

[code]

After activating **universe** in **/etc/apt/sources.list** installing salt-minion worked, does this need a **note** somewhere on repo.saltstack.com?

[2018-08-03 16:19] ferricoxide commented on #38012
This probably shouldn't be marked stale: should either be marked "fixed" or still needs to be fixed. Given the last communication from @Ch3LL I'd assumed it was in the fix-pipeline at the end of 2016.

[2018-08-03 16:26] ryanwalder commented on #26605
This is still an issue.

[2018-08-03 16:26] damon-atkins commented on #48880
You need Salt-Minion to ship with Python 3.6 for Unicode to work 100% correctly. It contains a lot of fixes which date back to python 2.

[2018-08-03 16:35] rallytime commented on #48734
This was caused by the changes in #43454.

[2018-08-03 16:37] twangboy commented on #48880
@dwoz Didn't you do some testing with codepage stuff on Py3.6/3.7? Were there still some issues? Or are they fully resolved?

[2018-08-03 16:39] gtmanfred commented on #48923
universe exists in vanilla ubuntu installs.

[2018-08-03 16:45] mts-avco opened #48925 "Windows packages are included in pkg.list_pkgs that don't appear in Add/Remove programs"
### Description of Issue/Question
Some uninstall entries in the registry have SystemComponent (DWORD) set to 1 and these are hidden in Add/Remove programs but not by `pkg.list_pkgs`

### Setup
First noticed with VC2015 redist which adds 3 entries to the registry, of which 2 are marked as SystemComponent and are not displayed by Windows but are included by salt.

### Steps to Reproduce Issue
Instal

[2018-08-03 16:47] mts-avco commented on #48925
I'm using a workaround by adding the following to `win_pkg.py` in `_get_reg_software` just above the read of `DisplayName`:

[code]

[2018-08-03 17:00] cachedout commented on #48357
I am fine with this but I don't want people to hit this and then have to search around in the docs for the reason. If we're displaying warnings about what's happening that's fine but if it's going to do something unexpectedly and silently, I think that's a problem.

[2018-08-03 17:59] whytewolf commented on #48694
so after looking a bit more.

The targetless grains appears to have been broken in 2017.7.5 as well. but was working in 2017.7.3.

And 2017.7.5 the targeted cache.grains still works.

[2018-08-03 18:14] #27207 closed

[2018-08-03 18:46] damon-atkins commented on #48880
`Windows PY3 resolved issues outstanding for PY2, non-salt` #36031

[2018-08-03 18:57] damon-atkins commented on #48925
Thanks for reporting this. No  plans to stop reporting SystemComponents. They have been reported for many years. It is a plan in some future release to distinguish between them.

[2018-08-03 18:59] #44739 closed

[2018-08-03 18:59] #45282 closed

[2018-08-03 19:11] rallytime commented on #48694
@whytewolf Ah! Good info. Thank you - that will help in tracking this down.

[2018-08-03 19:14] #27266 closed

[2018-08-03 19:14] #37695 closed

[2018-08-03 19:14] #37450 closed

[2018-08-03 19:14] #37697 closed

[2018-08-03 19:14] #11021 closed

[2018-08-03 19:14] #37728 closed

[2018-08-03 19:14] #37700 closed

[2018-08-03 19:14] #37739 closed

[2018-08-03 19:15] #15145 closed

[2018-08-03 19:15] #10322 closed

[2018-08-03 19:15] #37755 closed

[2018-08-03 19:15] #21180 closed

[2018-08-03 19:15] #37768 closed

[2018-08-03 19:15] #15348 closed

[2018-08-03 19:15] #37779 closed

[2018-08-03 19:15] #37804 closed

[2018-08-03 19:15] #37770 closed

[2018-08-03 19:15] #37771 closed

[2018-08-03 19:15] #16992 closed

[2018-08-03 19:15] #37798 closed

[2018-08-03 19:15] #36164 closed

[2018-08-03 19:15] #37851 closed

[2018-08-03 19:15] #37852 closed

[2018-08-03 19:27] terminalmage commented on #48496
Fixed in https://github.com/saltstack/salt/pull/48929.

[2018-08-03 20:14] #37667 closed

[2018-08-03 20:14] #37660 closed

[2018-08-03 20:14] #37673 closed

[2018-08-03 20:14] #37463 closed

[2018-08-03 20:14] #37656 closed

[2018-08-03 20:14] #37662 closed

[2018-08-03 20:14] #33116 closed

[2018-08-03 20:14] #35816 closed

[2018-08-03 20:14] #37686 closed

[2018-08-03 20:15] #14179 closed

[2018-08-03 20:15] #37663 closed

[2018-08-03 20:15] #37573 closed

[2018-08-03 21:08] #44997 closed

[2018-08-03 21:19] curiositycasualty opened #48930 "Salt allows modules w/ invalid filenames that cause pyobjects renderer to fail"
### Description of Issue/Question
This caused an outage for us, I'll try and layout the problem below.

The `pyobjects` renderer fails to craft valid python when a custom execution module with invalid characters (for a python "import" statement) is included in the run. In the below, my "invalid" filenames are `_{states,modules}/hyphen-filename.py` (renderring to invalid python module "import" stat

[2018-08-03 21:19] twangboy opened #48931 "pkg.install doesn't return current version"
### Description of Issue/Question
From https://groups.google.com/forum/#!topic/salt-users/IfuYCGFiw34

Usually, when installing a package like "vlc" on a windows minion, I get the version of the installed program (or both: the versions  of the old an the newly installed package):
[code]
[code]

After an upgrade from
2017.7.4  (Salt-Minion-2017.7.4-Py2-AMD64-Setup.exe)  to
2018.3.2  (Salt-Minion-20

[2018-08-03 23:47] terminalmage commented on #48777
@Ch3LL this should be fixed in https://github.com/saltstack/salt/pull/48934. Can you test on your end?