[2021-07-27 00:08] sudarshandange commented on #58767
I have tried both the ways. somehow I'm still getting the error.

Error: Package: salt-3003.1-1.amzn2.noarch (salt-3003-repo)
           Requires: python3-psutil
 You could try using --skip-broken to work around the problem
 You could try running: rpm -Va --nofiles --nodigest
 * ERROR: Failed to run install_amazon_linux_ami_2_stable()!!!

If you have any other input please let me know.  meanwhile

[2021-07-27 04:29] dseomn opened #60630 "[DOCS] salt.states.timezone has conflicting information about the default value of `utc`"
**Description**
https://docs.saltproject.io/en/master/ref/states/all/salt.states.timezone.html says both of the below things:

**Suggested Fix**
If those two actually conflict, I'd assume one should be changed, but I don't know which one. If they don't actually conflict, then some additional explanation might be nice. (I'm pretty tired right now though, so it's also possible I'm just missing somet

[2021-07-27 06:44] maennlse commented on #60554
just for documentation, the other package i noted that it was re-released with the same name was macOS salt-3003-py3-x86_64.pkg package triggered by #60012 (which also caused some trouble as we couldn't (didn't know how to) differentiate between the (broken) already installed one and the new one)

so, i (personally) would prefere to have some kine of package version or 'tag' in the filename (altho

[2021-07-27 06:58] krionbsd commented on #60554
yes, tend to agree, something like pkg revision number would make sense

[2021-07-27 07:26] rainer042 commented on #56876
I fixed the syntactically wrong file /srv/module/base/runners/state.py as supposed by @agraul then the syntax error is history but the initial problem is still there:

[code]

[2021-07-27 08:46] colttt opened #60631 "[FEATURE REQUEST] zabbix modules with API-Access"
**Describe the solution you'd like**
Since Zabbix 5.4 it is possible to login via [API-token](https://www.zabbix.com/documentation/current/manual/introduction/whatsnew540#api_tokens), it would be nice to have this feature, so no password are needed anymore

[2021-07-27 11:55] rolszewo commented on #36734
somehow i have the same problem.

[code]

results in

[code]
Only the second state has an ERROR

[code]

But BOTH `onlyif` are resulting in `Comment: onlyif condition is false`!

[code]

And with `- fun: cmd.retcode` instead of `- fun: cmd.run` inside onlyif it is not working at all.

[2021-07-27 12:59] digitalkram commented on #50536
Same here with Siemens NX Application. The extra white spaces make it fail.

[2021-07-27 14:30] agraul commented on #56876
I think the issue is that you have a custom runner that "shadows" the built-in `state` runner. Salt loads your `state` runner  that only knows about `state.up`, but does not load the equally named `/usr/lib/python3.6/site-packages/salt/runners/state.py`. Whey you then try to call `state.event`, Salt can't find it.

If you rename your custom runner to something else, your problem should be gone.

[2021-07-27 15:20] bryceml commented on #58767
what happens if you do
[code]
?

[2021-07-27 16:07] #59764 closed

[2021-07-27 16:08] garethgreenaway commented on #58867
Closing this one out due to lack of activity.  If the problem persists please feel free to reopen this issue or open a new one.

[2021-07-27 16:08] #58867 closed

[2021-07-27 16:08] garethgreenaway commented on #58925
Closing this one out due to lack of activity.  If the problem persists please feel free to reopen this issue or open a new one.

[2021-07-27 16:08] #58925 closed

[2021-07-27 16:10] garethgreenaway commented on #59224
Closing this one out due to lack of activity.  If the problem persists please feel free to reopen this issue or open a new one.

[2021-07-27 16:10] #59224 closed

[2021-07-27 16:13] garethgreenaway commented on #59718
@ichilton With this change is the problem still occurring?  If not, please feel free to close out this issue.  Thanks!

[2021-07-27 16:15] garethgreenaway commented on #60362
@topicgit Please let us know if this is still an issue and if you saw the comments above.  Thanks!

[2021-07-27 16:17] garethgreenaway commented on #60390
@andyyumiao Following up and making sure you saw the comments about upgrading to the latest version of Salt.

[2021-07-27 16:24] garethgreenaway commented on #60413
@bzukdatto Thanks for the report. @waynew can you follow on this one?

[2021-07-27 16:31] TeddyAndrieux commented on #60620
Ok I investigated a bit so it's seems it's something that changed in fileclient

On 3003.1 (where it does not work)
[code]

On 3002.6 (where it actually work)
[code]

It seems in 3003.1 it use the cache instead of the thin dir

But it's weird because for state it use the thin dir :confused:

I will investigate a bit more

[2021-07-27 16:35] garethgreenaway commented on #60440
@zzxjoshua Thanks for the report.  Are you using a shared master signing key between your masters?  Some documentation on how to set that up can be found here.  https://docs.saltproject.io/en/latest/topics/tutorials/multimaster_pki.html

[2021-07-27 16:44] garethgreenaway commented on #60452
@remyd1 All the tunable options for the Salt minion can be found here, https://docs.saltproject.io/en/latest/ref/configuration/minion.html, you'll find options to disable events, modules, etc.

[2021-07-27 16:46] garethgreenaway commented on #60466
@Pietro737 Were you able to upgrade the version of Salt that you are using to the latest version and retest with a later version?  Thanks!

[2021-07-27 16:50] deepak-goel commented on #56566
@whytewolf While I agree to some bits of your comment, I still think there's a gap when we look at HA for salt-orchestration.

Whether we need to use celery or something else is a thing for later, but acknowledging the fact that salt-orchestration needs to have better availability is what's more important for the community. I'm pretty sure there are lots of people who've long salt orchestrations,

[2021-07-27 16:56] garethgreenaway commented on #60472
@olafurj Following on this one and seeing if you're able to provide the output that you're seeing when this doesn't work as you expected it to.  Thanks!

[2021-07-27 17:02] waynew commented on #60365
That's very weird that `use_vt=False` makes test=True problematic. Let me look at this a bit and see what I can see :thinking:

[2021-07-27 17:18] waynew commented on #60365
Looking at the code I don't see how that would prevent `test=True` from working -- it should do the exact same thing as it would otherwise do.

It's a bit promising that `use_vt=False` appears to have an effect.... oh. Actually, I bet I know what's happening here. I've seen this error before, in a different way. I can almost guarantee if you add a breakpoint, or in salt/executors/sudo before the `

[2021-07-27 17:37] waynew commented on #60365
I think this is definitely a bug within Salt, but I'm not 100% sure where the bug is. Assuming my theory is correct (if you can provide the logging output, that would be :+1: - another place would be in `salt.utils.json` making loads look like this:

[code]
)

If my theory is correct and we're getting extra output, one of the following should be true:

1. When producing json output, we should be d

[2021-07-27 17:58] garethgreenaway commented on #60426
@aphor thanks for the report.  I was able to reproduce it and to confirm this is the traceback I see:
[code]

[2021-07-27 18:46] sudarshandange commented on #58767
Tried above on newly created instance.  It has below salt version -
 Salt Version:
           Salt: 3000.9

[root@prod ec2-user]# yum install python3-psutil
Loaded plugins: extras_suggestions, langpacks, priorities, update-motd, versionlock
amzn2-core                                                                                                                                       | 3.7 kB  00:0

[2021-07-27 19:34] bryceml commented on #58767
your repos must either be locked to an old version, or messed up somehow, because it's in the regular amazonilnux repos.

[2021-07-27 20:29] dwoz opened #60635 "[BUG] Pip doesn't support programmatic usage"
**Description**

The maintainers of pip have had a pretty strong stance that pip should not be imported and used pragmatically. https://pip.pypa.io/en/stable/user_guide/#using-pip-from-your-program

We should try and comply with their policy. There are only a couple places where we import pip today.

The biggest offender is in `salt/states/pip_state.py` https://github.com/saltstack/salt/blob/maste

[2021-07-27 20:45] dmurphy18 commented on #60583
@partytime Can you supply the full --versions-report to allow progress on this issue

[2021-07-28 03:44] xeacott commented on #54395
Yes this is still an issue. A few of the other outputters aren't working either, such as table. Not sure if this is something I'll be able to get to for Silicon as its lower on our list. But perhaps... there is someone I can reach out to about this specific outputter.

[2021-07-28 08:05] rainer042 commented on #56876
Thanks for the hint. I understand basically what you want to say. But I do not have enough salt knowledge to know how I could identify/find such a custom runner? Any hints for this?

[2021-07-28 08:44] alxwr commented on #60003
FWI: This is the patch I use since v3002.1:

[code]

Had to modify it a bit for v3003.1. Tested it. Works.
I don't know whether this is the right way to do it.

[2021-07-28 10:26] sooraj2589 opened #60637 "Run curl command in loop till the output response is SUCCESS"
How to run curl command in loop till the output response is SUCCESS in a salt state file?

I have tried with salt['cmd.run']. But not able to run multiple times or get the required end value

{% set cache_response = salt['cmd.run']('curl -s -X GET -H "Content-Type: application/json" -k  https://vertex-dev.rno.apple.com:8409/hccif/rest/cachewarmupstatus/e33dfrfnerfjnr') %}

[2021-07-28 11:12] agraul commented on #56876
The custom runner is the file `/srv/module/base/runners/state.py`. A `mv /srv/module/base/runners/state.py /srv/module/base/runners/mystate.py` should re-enable `salt-run state.event`. You'd then use `salt-run mystate.up` to use the `up` function that is currently in `/srv/module/base/runners/state.py`. Of course you can also use a different name instead of `mystate`.

[2021-07-28 13:28] rainer042 commented on #56876
I renamed the runner in /srv/module/base/runners/state.py and then again tried to call  salt-run state.event pretty=True. This time it worked just fine. The only thing I cannot answer at the moment is where this custom runner came from and where it was/is perhaps needed. I'll have a look if I see errors in the future in case the state.py runner is still used somewhere.

[2021-07-28 13:28] #56876 closed

[2021-07-28 15:59] s0undt3ch commented on #60555
Closing in favor of https://github.com/saltstack/salt/issues/59420

[2021-07-28 15:59] #60555 closed

[2021-07-28 16:33] alexminder commented on #60475
Can I provide more information for issue fix

[2021-07-28 18:32] eliasp commented on #59112
Reported again in #59880
Fixed in #59881

Closing

[2021-07-28 18:32] #59112 closed

[2021-07-28 19:56] bryceml opened #60638 "[TECH DEBT] archive 3000.x on 2021-08-31"
3000.x releases will be added to archive.repo.saltproject.io on 2021-08-31 or earlier.
3000.x releases will be deleted from repo.saltproject.io on 2021-09-22 (this might be delayed to a date in the future, but not before this date)

edit: I was corrected on the dates, it should be correct now.  The date for removing from repo.saltproject.io has not changed.

[2021-07-28 20:50] bryceml opened #60639 "[BUG] non tagged versions of salt after the .0 release don't get their version right"
**Description**
For nightly builds: https://repo.saltproject.io/salt-dev/py3/amazon/2/x86_64/

And any other use of salt between tagged builds after the .0 release, the versions are wrong because the merge commit has the tag on the 2nd parent rather than the first when we merge forward.

Our versions are based on git describe which I believe just follows `HEAD^`, `HEAD^^` ... until it finds a tag,

[2021-07-28 21:30] eliasp commented on #60637
There are several ways to do this:
- Use the [`until`](https://docs.saltproject.io/en/3000/ref/states/requisites.html#retrying-states) requisite to repeat a state a defined number of times until it succeeds or finally fails
- Use the [`http.wait_for_successful_query`](https://docs.saltproject.io/en/latest/ref/states/all/salt.states.http.html#salt.states.http.wait_for_successful_query) state which

[2021-07-28 22:07] eliasp opened #60641 "[BUG] onchanges_any (without changes) + prereq causes RecursionError"
**Description**
A state, which:
- has a `prereq` reference from another state emitting a change
- has an `onchanges_any` requisite on two other states emitting no changes

...causes `RecursionError: maximum recursion depth exceeded while calling a Python object`

Before being shrunk down to a minimal test-case, this was originally used for an image building process, where:
- `bug-file-A` and `bug-

[2021-07-28 22:37] xeacott commented on #54395
Update. Me and another dev have made progress.

[2021-07-29 00:47] #60594 closed

[2021-07-29 02:09] ScriptAutomate commented on #59454
Directions have been updated on repo.saltproject.io. Closing

[2021-07-29 11:21] numantahir123 opened #60644 "How can we install multiple RPMS placed on dir in salt-master to minions"
What I'm trying is this
`rpm-packages-install:
   - sources:
     - rpm_name: salt://dir1/dir2/`

Let's assume dir2 contains all RPMS
I tried,
rpm_name salt://dir1/dir2/*.rpm
But it did not work. Is there any smarter way to do that?

[2021-07-29 12:55] 53845714nF commented on #60613
My fault.

Changed my config to this:
[code]

[2021-07-29 12:56] #60613 closed

[2021-07-29 13:49] 53845714nF commented on #60498
I think I have a similar problem.

My State:
[code]
My Error:
[code]

[2021-07-29 16:01] partytime commented on #60583
Hi @dmurphy18 I did in my initial response. Perhaps we are confused?

again here for posterity

[code]

[2021-07-29 17:14] Ch3LL commented on #60425
This will be included in the Silicon (3004) release.

[2021-07-29 18:14] kaushiksachin opened #60645 "[BUG] MacOS pkg fails, cask no longer a sub command"
**Description**
While installing package in mac os Catalina. Salt executes "/usr/local/bin/brew cask list --versions".  which fails since cask is not a sub-command anymore . https://github.com/Homebrew/discussions/discussions/902

Command I ran --> /usr/local/bin/salt-call state.highstate --local

**Steps to Reproduce the behavior**
[DEBUG   ] Could not LazyLoad cmd.mod_run_check: 'cmd.mod_run_che

[2021-07-29 20:34] dmurphy18 commented on #60223
capirca has been added to the master branch and is available only for the 64-bit builds (see previous comment).
It should be available when 64-bit Salt 3003.1 support for Arista is released, soon.

Hence closing this issue

[2021-07-29 20:34] #60223 closed

[2021-07-29 21:37] waynew commented on #60467
[code]

I am just not able to repro. iptables v1.8.2 here :thinking: Not sure why that would make a difference though.

[2021-07-29 22:02] waynew commented on #60467
Try running check: https://docs.saltproject.io/en/latest/ref/modules/all/salt.modules.iptables.html#salt.modules.iptables.check

I *think* it would look like

[code]

[2021-07-29 22:18] mirko commented on #60467
I'm on a very slim, clean and vanilla debian bullseye (installed via `virt-install`).

test.sls:
[code]

Output of two runs:
[code]

[2021-07-29 22:29] mirko commented on #60467
Calling
`alt-ssh mail-new.nanl.de iptables.check nat PREROUTING rule="-p tcp --dport 55555 --in-interface enp1s0 --jump DNAT --to 10.0.3.11"`
results in
[code]

[2021-07-30 00:33] dseomn opened #60649 "[DOCS] salt.states.cron.absent appears to match on identifier"
**Description**
https://docs.saltproject.io/en/master/ref/states/all/salt.states.cron.html#salt.states.cron.absent says

However https://github.com/saltstack/salt/blob/8c6547e21cfcb2f6c0cdc096e63d48e9ae53d78f/salt/states/cron.py#L439 appears to pass the `identifier` to `cron.rm_job` which then appears to prefer that to the `name` when looking for what to delete.

**Suggested Fix**
Assuming the cod

[2021-07-30 15:44] iaingeorgeson opened #60651 "[BUG] selinux.fcontext_policy_is_applied doesn't check for errors, leading to silent failures to apply SELinux labels"
**Description**
_selinux.fcontext_policy_is_applied_ calls "restorecon -n -v" without checking for success. It returns lines of stdout which indicate actions restorecon would take, but when the command fails there are no lines of stdout, This means when you call it with a non-existent file, it will respond that the file is already correctly relabelled.

This function is called by the _selinux.fcon

[2021-07-30 16:00] ggiesen commented on #59398
@alan-cugler The documentation has been significantly expanded:

https://github.com/saltstack/salt/blob/5063a528fba08f02be3873d409425aee7198419b/salt/pillar/netbox.py#L1-L521

[2021-07-30 17:51] rmatte commented on #53548
We're seeing this on 3002.6 (likely not fixed in 3003 as well).

This is a traceback often seen in the log on one of our syndicates.  This seems to possibly coincide with the job cache starting to "leak" or growing uncontrollably until we take manual action to correct it.

[code]

[2021-07-30 19:10] tsaridas commented on #53548
I patched the master myself to avoid this error, should be easy just by adding an ingore errors option in rmtree.

[2021-07-30 20:05] steverweber opened #60653 "[BUG] - nacl.dec returns byte array and is tricky to use with some jinja"
**Description**

when using {{salt.nacl.dec('...')|json}} in a pillar I get error:
`'bytes' is not JSON serializable`

**Expected behavior**

The decrypted data be added to the pillar.

**Versions Report**

[code]

[2021-07-30 20:19] steverweber commented on #60653
we just need to toss .decode on the returned byte array. I'll fire a PR at this.

[2021-07-30 20:32] waynew commented on #58968
I tried this a few times to no avail (in fact, with the provided information I can't even get salt.function to run the way it's described, I only get

[code]
)

I'm going to go ahead and close for now, since it doesn't appear that anyone can reproduce it. It's definitely a weird bug, and TBH I'm not entirely sure how it would even occur -- I mean I have some theories, but they're pretty weak theor

[2021-07-30 20:32] #58968 closed

[2021-07-30 20:44] waynew commented on #60395
It's almost a footnote in https://docs.saltproject.io/en/latest/ref/states/all/salt.states.saltmod.html#salt.states.saltmod.function :thinking:

[2021-07-30 20:50] waynew commented on #60395
Looks like that error is showing up here:
[code]

Kinda looks like mdata has no `['ret']` or `'return'`. I'm actually not a fan of that line, seems like it would be better served as something like

[code]
(Could be `m_ret = mdata.get('ret', mdata.get('return'))` - not a huge difference, the former just skips the 2nd get while the latter always does 2x .get calls)

Not sure if that would fix the pr

[2021-07-30 23:05] steverweber opened #60657 "[BUG] - pillar include logic seems to have changed"
WARN: I was unable to revert to the older version of salt to confirm the following.

[code]

in the past i think it was version (2017.7.4) a pillar like

pillar.sls
[code]
a1.sls
[code]
a2.sls
[code]

would have `__test=a2` because it skips the last include since it was already included.

The new behavior is not "bad" but is unexpected and caused some of my systems to get different pillars values

[2021-08-01 16:23] wb529kq opened #60658 "[BUG] system.reboot ignores in_seconds in orchestration"
**Description**
When i use system.reboot on windows machines and add the kwarg in_seconds: True its ignored

**Setup**
[code]
**Steps to Reproduce the behavior**
rerun orchestration

**Expected behavior**
system should be rebooted in 5 seconds

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Versions Report**
<details><summary>salt --versions-report</summary>
(Provi

[2021-08-02 09:10] christophlsa commented on #60239
We had the same issue as the ticket creator.  After applying the patch we could create VMs again via salt-cloud.

Is it possible to add this fix to the repository so that we don't have to patch this manually when updating the salt master?

[2021-08-02 10:43] #60617 closed

[2021-08-02 13:27] #60637 closed

[2021-08-02 13:33] OrangeDog commented on #60635
For some tasks, there is a library `requirementslib` that is safe to import and use.

[2021-08-02 14:47] #60612 closed

[2021-08-02 17:50] agraul commented on #59420
@s0undt3ch @twangboy do you have a preferred way to fix this? Are you in favor of a local change, e.g. renaming `shell -> login_shell` or a more general one like a flag indicating what args (not) to pass to `cmd.retcode` as described in https://github.com/saltstack/salt/pull/57825 under "Risks"?

[2021-08-02 18:24] #60512 closed

[2021-08-02 18:28] #60426 closed

[2021-08-02 18:46] garethgreenaway commented on #60560
@rrrix Thanks for the request.  It's my understanding that Python 3.9.x is the version of Python that has support for OS X running on ARM and we have plans to move to that version but have a few outstanding issues preventing that from happening.  @s0undt3ch can you weigh in on this one as I believe you had experience with it.

[2021-08-02 19:01] s0undt3ch commented on #60560
We currently have an open PR(https://github.com/saltstack/salt/pull/57028) to enable support on macOS past 3.7 and for the packaging itself, @bryceml and @krionbsd likely know more.

[2021-08-02 19:11] garethgreenaway commented on #60581
@TheBirdsNest Thanks for the report.  I had actually also identified this issue as part of the work of moving the Deltaproxy project into Salt open project and had included a fix in the following PR, https://github.com/saltstack/salt/pull/60090.  This PR and that fix should hopefully go into the upcoming Silicon release.

[2021-08-02 19:18] OrangeDog commented on #60644
You can get a list of all files in that directory, and iterate over it with jinja, something like this (not tested)
[code]

[2021-08-02 19:18] #60644 closed

[2021-08-02 19:48] avasant21 opened #60661 "[BUG] salt binary built with python different versions(3.6.9, 3.7.4, 3.8.11, etc) throwing AttributeError: 'VerboseLogger' object has no attribute 'trace'"
salt binary built with python different versions(3.6.9, 3.7.4, 3.8.11, etc) having logger attribute error

  File "salt/scripts.py", line 437, in salt_call
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 967, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 677, in _load_unlocked
  File "/tmp/tmprxf6_bp1/lib/py

[2021-08-02 20:07] garethgreenaway commented on #60549
@clallen Thanks for the report.  I was unable to reproduce this issue with the latest version of Salt from Git, so I suspect the fix is available in the 3003 release or will be available in the upcoming Silicon release.  Are you able to upgrade to 3003 to verify if the problem still persists?  Thanks!

[2021-08-02 20:28] clallen commented on #60549
I am not currently able to upgrade our masters, but I can do testing in Docker containers when I get some time.

Thanks for looking into it, I will close this and re-open if I'm able to reproduce it on 3003 (or later).

[2021-08-02 20:28] #60549 closed

[2021-08-02 20:37] garethgreenaway commented on #60549
@clallen Thanks! Please keep us posted.

[2021-08-02 21:10] garethgreenaway commented on #60264
The PR with the fix for this issue has been merged so this issue should be considered resolved.  If the problem persists please open a new issue.

[2021-08-02 21:10] #60264 closed

[2021-08-02 21:43] robinkaranu commented on #60602
I got the same issue. I will try to collect and post some further information on my setup/issue this weekend. Is there anything in particular that I should look for? Importing (and using) the hcloud module from the same python installation that salt is using does work for me.

[2021-08-02 22:04] kschafer2598 commented on #56171
Sorry for the long delay, I got around to installing new masters w/ 3003.1 packages. The results from the steps mentioned above were the same however - the actual salt mine query returns nothing.

[code]

At this point I can only assume something is wrong with my configuration - are there any examples of working salt mine configurations I can go by?

[2021-08-02 23:25] waynew commented on #60467
Okay that's heckin interesting! And also confusing. Because the `iptables.check` is how the state determines that it needs to re-apply... yet it's succeeding here :suspect: so I'm thinking that it might be incorrectly comparing the outputs.

Do you have a copy of the settings that you used to spin up the vm?

[2021-08-02 23:53] garethgreenaway commented on #57468
@AmiramMaimon Apologies for the delay on this one.  The major root of the issue here is that the state file is only rendered once and when it is initially rendered the contents of the grain is empty.  If you try the following state you'll see that the grains are updated following the refresh.

[code]

[2021-08-03 00:07] waynew commented on #60475
I was able to reproduce this with:

**/srv/salt/foo.sls**
[code]

**/srv/salt/test.sls** (matches mods)
[code]

Ran `salt-call --local state.apply foo` and got this error.

Looks like it's definitely a problem on 3003 vs 3002.

I'm not sure if this is closely related or not:

[code]

[2021-08-03 00:10] waynew commented on #60475
More context: I added a breakpoint in `module.run_` - it looks like it's failing somewhere within the loader. It's definitely failing before it gets to the `chroot.sls` module.

[2021-08-03 00:13] waynew commented on #60479
Not necessarily a question about the feature, but have you considered just using regular salt? Also `heist` (https://pypi.org/project/heist-salt/) might be interesting. Not sure if it supports this out of the box :thinking:

[2021-08-03 00:33] waynew commented on #60490
That might be appropriate, but I'm not entirely sure if that's the problem. The error is definitely a systemd error:

https://www.freedesktop.org/software/systemd/man/systemd.exec.html

-- | -- | --

Not 100% sure why it's causing this - do you have any information in dmesg or syslog?

[2021-08-03 06:10] AmiramMaimon commented on #57468
I have tried the following:
[code]

The only new part is:
[code]
Why do I need it for?
It will cause a re-rendering of the grains? (I would expect the first part to do it as well)

[2021-08-03 08:03] dkacar-oradian commented on #60490
I don't think that's a systemd error or problem. The main process (`salt-minion`) exited with status code 241 after it got SIGTERM very soon after the start-up.
I have nothing else in the logs.
But that's a separate problem (if you want to treat it as a problem).

[2021-08-03 08:55] OrangeDog commented on #60661
Is this a tiamat thing?

[2021-08-03 08:59] OrangeDog commented on #60658
The `system.reboot` function doesn't take any arguments other than `at_time` (in minutes).
Where are you getting `in_seconds` from?

https://docs.saltproject.io/en/latest/ref/modules/all/salt.modules.system.html#salt.modules.system.reboot

[2021-08-03 09:02] OrangeDog commented on #60657
2017 -> 3001 is a big jump, enough to miss an entire deprecation cycle.
It was probably mentioned in the release notes at some point.

[2021-08-03 09:08] OrangeDog commented on #60657
Possibly an unintentional side-effect of #58736.

[2021-08-03 09:40] wb529kq commented on #60658
https://docs.saltproject.io/en/latest/ref/modules/all/salt.modules.win_system.html#salt.modules.win_system.reboot

[2021-08-03 09:57] cdy668 opened #60663 "[BUG]I use salt - s to specify a specific IP address. Why do I return information that does not belong to this IP"
Do I use it in the wrong way? Thank you very much for telling me why

The results are as follows：
 salt -S 10.10.10.10 test.ping
dev-test-10.10.10.10:
    True
dev-test-10.10.15.4:
    Minion did not return. [No response]
dev-test-10.10.15.5:
    Minion did not return. [No response]

Software version：
Salt Version:
           Salt: 3000.5

Dependency Versions:
           cffi: Not Installed

[2021-08-03 10:06] OrangeDog commented on #60658
Oh right, I see.

You have to pass kwargs under `kwarg`:
https://docs.saltproject.io/en/latest/ref/states/all/salt.states.saltmod.html#salt.states.saltmod.function
[code]

[2021-08-03 10:13] wb529kq commented on #60658
thanks I tried that also but didnt work.

[2021-08-03 10:17] OrangeDog commented on #60658
In what way did it not work? Can you show some debug logs?

If `salt -C 'G@service:blah and G@env:dev' system.reboot 5 in_seconds=true` works, then the issue must be incorrect syntax for orchestration.

[2021-08-03 10:37] wb529kq commented on #60658
yes thats what im trying to say it just ignores
- kwarg:
  - in_seconds: true

[2021-08-03 10:44] OrangeDog commented on #60658
Not
[code]
but
[code]

[2021-08-03 11:56] wb529kq commented on #60658
@OrangeDog thanks, and sorry /facepalm moment

[2021-08-03 11:56] #60658 closed

[2021-08-03 12:23] OrangeDog commented on #60663
It seems to work in the latest version (v3003.1).

Are you sure you have your IPs configured correctly?
Multiple minions trying to share one would also explain why they were unable to respond.

[2021-08-03 12:46] lashomb commented on #60645
This was fixed in 3003[3003](https://docs.saltproject.io/en/latest/topics/releases/3003.html)

[2021-08-03 13:41] cbosdo opened #60667 "Changing existing virtual network from NAT to bridge generates invalid libvirt XML"
### Description of Issue

Ensure there is a `default` with a NAT forward mode on the minion

Apply the following state to the minion:

[code]

The state fails with the following comment from libvirt:

[code]

The state should apply cleanly.

[2021-08-03 14:15] steverweber commented on #60657
I think the new behavior works.. However there might be others like me that were using the distribution version of the salt packages that might get bitten.

I'm fine if this issue gets closed out.

[2021-08-03 15:12] #60504 closed

[2021-08-03 15:20] #60216 closed

[2021-08-03 15:47] #59901 closed

[2021-08-03 15:48] #59902 closed

[2021-08-03 15:48] #60215 closed

[2021-08-03 16:02] garethgreenaway commented on #57468
@AmiramMaimon That new part was there to illustrate that the grains are being updated.  Each state file is only rendered once by the jinja renderer, so the grains are updated but the grains dictionary that is being referenced in the `after` section is still the same value as the grains dictionary in the `before` section.

[2021-08-03 16:28] avasant21 commented on #60661
@OrangeDog - Thanks for your response..

I am looking for a single executable binary of salt with the latest version and found the below repo that helps with the steps to create the same. I was able to try and build with different python version based on my requirement but seems it reports the same error during all of my attempts. The single binary that I created seems having issues with logging m

[2021-08-03 16:33] OrangeDog commented on #60661
I see you've already reported this there: https://github.com/saltstack/salt-bin/issues/24
I'll close this issue because it's not a problem with this repo.

[2021-08-03 16:33] #60661 closed

[2021-08-03 16:39] sagetherage commented on #60645
@lashomb thank you!! yes this is fixed here: #58381

[2021-08-03 16:39] #60645 closed

[2021-08-03 16:47] ryanm-sq opened #60668 "[BUG] s3 module fails when IMDSv2 is enforced on ec2 instances"
**Description**
An ec2 minion with [IMDSv2](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/configuring-instance-metadata-service.html) enabled cannot properly use it's IAM instance profile with the s3 module. The s3 module fails with the message **Error running 's3.get': Failed s3 operation. InvalidAccessKeyId: The AWS Access Key Id you provided does not exist in our records.**

**Setup**
Enf

[2021-08-03 16:56] sagetherage commented on #60410
@Nerigal can you give us more details of your specific use case, here to help us understand what you are trying to accomplish?

[2021-08-03 17:02] smokeytheblair commented on #60458
@twangboy can you help take a look at this?

[2021-08-03 17:06] ScriptAutomate commented on #60629
Thanks for the issue!

When looking at the man pages, which are managed in an automated fashion via `nox` (like in this example PR: https://github.com/saltstack/salt/pull/60648), the man pages are collectively found here:
- https://github.com/saltstack/salt/tree/master/doc/man

When on the CLI, running `man salt` will automatically open up a rendered `salt.7` (as `SALT(7)`):

[code]

The option ca

[2021-08-03 17:19] sagetherage commented on #58845
updating this as a docs missing reference giving it a higher severity as the docs missing needs attention

[2021-08-03 17:21] sagetherage commented on #59973
Closing as merged and release will be in `Silicon` see milestone for details

[2021-08-03 17:21] #59973 closed

[2021-08-03 17:24] smokeytheblair commented on #60520
@meaksh have you had a chance to review this issue?

[2021-08-03 17:25] justinclloyd commented on #60629
When typing `man salt`, the default man section is 1, and *salt(1)* is a far more manageable document when just looking up the runtime options for the basic `salt` command. To be honest, I've never even looked at *salt(7)*, as I'd go onto the web site for a full-length treatise on Salt. IMHO, there's no reason to have command-line options not documented on the command's basic man page, especially

[2021-08-03 17:29] smokeytheblair commented on #60557
When this gets addressed, please note that **kwargs is also not being passed.  Will want to confirm if that is also an issue.

[2021-08-03 17:30] matthewsht commented on #59973
Appreciated!

--
Hunter Matthews
Scientific System Engineer [C]
NIH/National Human Genome Research Institute
***@***.******@***.***> | (919) 491-2124

On Aug 3, 2021, at 1:22 PM, Sage the Rage ***@***.******@***.***>> wrote:

Closing as merged and release will be in Silicon see milestone for details

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly,

[2021-08-03 17:53] steverweber commented on #60657
fyi I was running version 3000.9 and then changed to 3003.1

[2021-08-03 17:55] #60296 closed

[2021-08-03 18:26] Ch3LL commented on #59033
@javicacheiro thanks for taking the time to dive into this. That looks like an appropriate fix. Would you mind pushing that up as a PR with tests. I can help write tests too if needed. Just ping me on the PR when you push it up.

[2021-08-03 18:55] kschafer2598 commented on #56171
I was doing more testing and came across an etcd error that occurs at the time of the mine.get; It appears to be looking for a path that doesn't exist, /data/data, which seems like a typo. I can't see anywhere in configs where it is set.

[code]

[2021-08-03 19:20] xeacott opened #60669 "[TEST FAILURE] Windows test failures"
Please paste the link from the specific build where the failure first started:
https://jenkins.saltproject.io/job/Full-PR/job/full-pr-windows-2019-x64/job/PR-1713/3/#showFailuresLink

[code]

[2021-08-04 06:02] cdy668 commented on #60663
There is an invalid salt key in the salt master. I need to delete it and return to normal

[2021-08-04 06:06] AmiramMaimon commented on #57468
So if I want to use the updated grains I need to call the `module`, as presented at the `grain_read` section?

Correct me if I'm wrong here, is this the _best practice_ to achieve this??
There is no way to cause the grains state file to be re-renderer so the `grains dictionary` will be updated as well? (sounds like a feature)

This problem causes me to run the salt-minion, at least, twice in order

[2021-08-04 10:11] yukpun commented on #58739
Hi @xeacott

Here is .sls file

[code]

And here is winrepo .sls file

[code]

**Case 1**
`salt node-id state.sls cortex`
When run this command, salt returns error, hovewer package installs. You can check error log [here](https://github.com/saltstack/salt/issues/60263)

**Case 2**
`salt node-id pkg.install cortex`
When run this command, everything installs fine.

[2021-08-04 16:06] leeclemens commented on #60651
Hi @iaingeorgeson Thanks for reporting this. I'd like to look into it, but wanted to make sure I understand the issue. From your Expected Behavior, you expect it to be relabeled. However the base issue seems to be that an error is not reported when the directory/file being relabeled does not exist. Is that correct? It won't be able to relabel something that does not exist, but I can see the point

[2021-08-04 16:55] #59396 closed

[2021-08-04 17:06] iaingeorgeson commented on #60651
Thanks for investigating. I think there are two issues, which I didn't state terribly clearly.

The first is that the documentation suggests that the correct behaviour is that the file will be relabelled when this syntax is used. However after testing, it appears that restorecon cannot interpret that syntax, and so the documentation should be clarified.

Because of this, the call to restorecon fai

[2021-08-04 17:11] #60585 closed

[2021-08-04 17:39] leeclemens commented on #60651
Thanks, I see what you are saying now. I'm wondering if some of my states were 'working' because something else relabeled them.

I imagine this would work as expected? (not discounting the need for some fixes/updates.)

[code]

[2021-08-04 18:12] smokeytheblair commented on #54937
@Ch3LL will you confirm that this is resolved?

[2021-08-04 18:25] whytewolf commented on #54937
so, this is kind of iffy on the current 3003.1

It kind of works if the file is EXACTLY what was put in. but that is not always the case.

currently trying 1,2,3 as the value and the resulting file is 1-3. so while the intended outcome is the same salt is not able to detect that 1,2,3 is the same as 1-3

Not sure why sysctl is translating that difference either.

[code]

[2021-08-04 18:30] the-Fitz commented on #30936
I would also like to see this functionality added!

[2021-08-04 19:59] leeclemens commented on #60651
For reference: `module`.`fcontext_policy_is_applied` is called multiple times: Directly from `state`.`fcontext_apply_policy`, which calls `module`.`fcontext_apply_policy` which then calls it again.

I removed the duplicate call to `module`.`fcontext_policy_is_applied` from `module`.`fcontext_apply_policy` since it seems redundant and the output is never checked until running the second `restorecon

[2021-08-04 20:04] bryceml opened #60671 "[TEST FAILURE] arm64 debian 11"
https://jenkins.saltproject.io/job/Full-PR/job/full-pr-debian-11-arm64/job/PR-1712/5/

It segfaults halfway through the test suite consistently.

This is needed for raspberry pi support going forward.

[2021-08-04 20:13] dwoz commented on #60102
Looks like the same issue has been reported before #52406

[2021-08-04 20:51] udf2457 commented on #59785
Do you think its worth adding a mild warning note to the docs ? Just to perhaps point people in the right direction about how to do it properly ? (e.g. present a workaround snippet in the docs ?)

[2021-08-04 20:57] udf2457 opened #60672 "[FEATURE REQUEST] Any chance of killing the 301 redirect to https for the salt Debian repo ?"
I ran into this one today.

I've got a DHCP pre-seed fully automated install that does a fully automated install.

Unfortunatley, the wise brains at Debian are living in the last century and there is no first-class support for https.

This means that a nice one-liner:

`d-i apt-setup/local0/repository string http://repo.saltproject.io/py3/debian/10/amd64/latest buster main`

Does not work because

[2021-08-04 21:09] waynew commented on #60490
Salt doesn't exit with 241:

[code]

[2021-08-04 21:17] bryceml commented on #60672
no, it has been requested as a feature request to change to https only repos, and it is vmware's policy as far as I am aware.

you could make a local mirror of our repos and fetch that over http: https://repo.saltproject.io/#mirror

you should probably open a bug report against debian's tooling so that can get fixed.

[2021-08-04 21:17] #60672 closed

[2021-08-04 21:29] xeacott commented on #60593
Looking at this... we do quite a bit of checking for the virtual grains under `def _windows_virtual()`
[code]
perhaps we could be more relaxed on this and make it
[code]
instead. However, modifying this could have unintended side-effects we aren't aware of. Ill throw up a PR and see how it fairs

[2021-08-04 21:35] xeacott commented on #60578
Hi @Kenan7 what was the full command/state you ran to produce this?

[2021-08-04 21:53] nergdron commented on #60479
@waynew we have, but like most folks these days, we have hosts distributed across a number of cloud providers, physical boxes, and other computing environments. in many of them, we'd like to use salt, but deploying a salt server is non-trivial, especially from a cost perspective. for a salt server to be deployed in every environment, we'd end up increasing our instance count by as much as 1/3rd, w

[2021-08-04 23:15] piterpunk commented on #54937
Hi @whytewolf ,

This "merge ranges" behaviour is not related to any translation by the `sysctl` command itself, you can `echo` the values and they will have the same transformation:
[code]
It's the kernel that does that output transformation in `proc_do_large_bitmap` handler. As the handler used by each `/proc/sys` entry is opaque to userspace I guess the best to do in this case is... nothing. Ma

[2021-08-05 07:48] Kenan7 commented on #60578
I applied an example state, does not matter at all.

[2021-08-05 08:04] fkantelberg commented on #60602
I encountered the same problem with the same version. #60675 solved it for me locally.

My full log entry in /var/log/salt/cloud was:
[code]

Can you confirm that it's the same bug? @robinkaranu @mngitb

[2021-08-05 09:02] robinkaranu commented on #60602
Yes @fkantelberg, that indeed seems to fix the problem for me.

I did only test `--list-providers` for now, but instead of
[code]

after applying your patch i can now see the provider configured in output:

[code]

Thanks for sharing! :+1:

[2021-08-05 09:50] mngitb commented on #60602
@fkantelberg thank you! , your patch solved my issue

Best wishes!

[2021-08-05 11:12] dfidler commented on #57118
@sagetherage do we need to clone this for CentOS8 given that the feedback is "CentOS 8 started having memory exhaustion with 3002.2."?

If we're going to say this bug only relates to CentOS 7 - I'd like to see confirmation that we're not also seeing it [for new releases of salt] for CentOS8.

If one is already open, can ew please link it here?

[2021-08-05 11:40] Ch3LL commented on #54937
Thanks for this @piterpunk  :)

Looks like it is working as intended. I think the best solution here is to add more documentation to clarify that a user will need to ensure the value matches what the sysctl will output or when reading the correct /proc/sys file.

What does everyone think of that solution? I'm willing to add the documentation.

[2021-08-05 14:41] denz7201 commented on #57118
For the record,  I still see it on 3003.1 .
![image](https://user-images.githubusercontent.com/7067837/128369310-803fceb8-880c-44ac-9257-0b2fc1f9aa2b.png)

[2021-08-05 15:14] ScriptAutomate commented on #60629
That makes sense. I have a feeling there are multiple CLI args missing from `salt.1`. Adding `--batch-wait` would be a good first step toward improving that documentation. I'll have to look into how Salt generates `salt.1` via Sphinx, and where the arg needs to be added within the codebase.

[2021-08-05 16:13] ScriptAutomate opened #60677 "[DOCS] Audit and ensure all args listed in $(salt --help) will match with $(man 1 salt)"
**Description**

Args are missing and/or have differing help description documentation between:

- `salt/utils/parsers.py`
- `doc/ref/cli/salt.rst`

An audit needs to be done to see what is missing and needs to be added to `doc/ref/cli/salt.rst`.

**Suggested Fix**

Audit and update the docs.

After updating, new issue(s) should be created for next steps depending on outcome:
- If audit concludes

[2021-08-05 16:49] ScriptAutomate commented on #60629
I opened a PR for these batch args to be added to the section 1 man page (`salt.1`):

[code]

And I opened a follow-up issue for a more thorough audit of missing args in general.

[2021-08-05 17:08] vladaurosh opened #60679 "[DOCS] salt-cloud and register_image function"
**Description**
Hello. I am relatively new to saltstack and salt-cloud.
I am trying to use salt-cloud function register_image
https://docs.saltproject.io/en/latest/ref/clouds/all/salt.cloud.clouds.ec2.html#salt.cloud.clouds.ec2.register_image

Current documentation has one CLI example but you can't see what parameters can be passed to this function.

While CLI example works fine, it creates AMI wi

[2021-08-05 17:51] eliasp commented on #59785
This refers only to the `*.gpg`-file, which should be a GnuPG binary key, while `*.asc` should be an armored file.
Although the docs on https://repo.saltproject.io/#ubuntu point now towards the binary file, I lean towards defaulting to `.asc`/armored which is "human readable".

[2021-08-05 18:00] udf2457 commented on #59785
@eliasp it clearly says at the top of the first paragraph on the page:

[2021-08-05 18:01] cmcmarrow commented on #57750
I was able to reproduce this bug several months ago. Also, there are several other tickets reporting a similar problem as well. Little progress has been made on this bug because its very slow to reproduce, then test a possible fix.

[2021-08-05 19:04] waynew commented on #60671
Looks like this is failing on tests/integration/runners/test_nacl.py

I installed libnacl on my personal pi & gave it a shot and it seemed to work fine, I'm guessing maybe we have the wrong version of libsodium installed or may be there's actually a bug in libnacl :thinking:

[2021-08-05 19:05] waynew commented on #60671
(I'm not running debian 11, and it's ARMv7 that I'm on, so that might also have something to do with it succeeding for me)

[2021-08-05 23:03] leeclemens commented on #60651
I ran restorecon with ~20 million small (10 bytes) files:

passive check (no changes), apply changes (none required):

[code]

apply changes (all required), passive check (no changes):
[code]

[2021-08-06 00:18] bryceml commented on #60671
you can launch an arm64 debian 11 instance on aws:  ami-02e4c099f464c7b6d was the ami used above as a starting point.

ami-06e2b0c5779874ddd looks like the latest version currently.

[2021-08-06 01:01] sagetherage opened #60682 "[DOCS] 404 from saltstack-issue-tracker reference from gitfs page others probably exist"
**Description**
The link from this page: https://docs.saltproject.io/en/latest/topics/tutorials/gitfs.html in the Warning box to the saltstack-issue-tracker results in a 404 - likely this exists in other places and need to grep the docs, and should point to something else such as the pick an issue or another doc . . . unsure but not a 404

**Suggested Fix**
the link to resolve to something meaning

[2021-08-06 08:22] jbouter commented on #57584
Taking over @EHJ-52n's tradition,

Still present in 3003.1 on Debian 11

[code]

<details>
<summary>sudo salt-call -V</summary>
<p>

[code]

</p>
</details>

[2021-08-06 08:40] dkacar-oradian commented on #60490
If you grep for `sys.exit` you'll get a slightly different picture. There are several `sys.exit(err.errno)` statements, for example. I doubt they are responsible for 241, though.

If this is a systemd error then then I would expect it to happen before salt process was started. But we have "Main PID" 1176 and the only CGroup PID 1483. That's highly unusual. Main PID is normally listed in CGroup PID

[2021-08-06 19:30] ssbn commented on #54815
This appears to be happening because salt updates the permissions on it's directories on salt-master boot.

Update your systemd unit with these lines:
[code]
In my case, the group 'salt' contains users who are allowed to access these directories.

Additionally, don't forget to give users permission to write to /var/log/salt files.

[2021-08-06 19:32] ssbn commented on #60564
Just bumping the status on this.

[2021-08-06 19:34] javicacheiro commented on #59033
Great, let's proceed that way.

[2021-08-06 20:03] garethgreenaway opened #60684 "[BUG] Beacons not handling lack of percent sign in configuration"
**Description**
The diskusage, memusage, sensehat, and swapusage beacons can include a percent sign in their configuration and when it is the configuration item is handled as a string.  The percentage sign is ultimately removed when passed along.  These beacons should be able to handle the situation when the percent sign is not included.

**Setup**
Beacon configuration of one of the following beac

[2021-08-06 20:13] misch42 commented on #60614
Update to the problem: rules.trigger also have an attribute deleteMissing. Setting this to true results in deleting the old trigger and adding a new one. i.e.:
[code]

[2021-08-06 21:02] ScriptAutomate commented on #59366
I'm unable to reproduce this locally on CentOS 7.9 (I dropped into a docker container):

[code]

[code]

Version info output:

[code]

I tried also via `git master` as @pcmccollum did at the start (using `master` due to how we shouldn't use `develop` anymore):

[code]

This is **a bad idea as it is Python 2 by default if not using the `-x python3` arg.** It fails for me. Going with Python 3 fixes

[2021-08-06 21:07] TheBirdsNest commented on #60581
Thanks @garethgreenaway - looking forward to the release!

[2021-08-06 21:11] ScriptAutomate commented on #59366
I'm going to close this issue, but a new issue can be created if this is still a problem for @ConstableBall. If it is still an issue, open a new issue with the same details, but also provide the detailed output of `cat /etc/*ease*` on the system, along with verifying that these commands have been run on CentOS 7 (as your output suggests CentOS 8, or incorrect functionality coming from `salt-bootst

[2021-08-06 21:11] #59366 closed

[2021-08-06 21:56] cheburakshu opened #60686 "[BUG] Git files disappear when saltenv mapping is changed, new saltenv mapping not recognized."
**Description**
1. Per remote saltenv mapping doesn't work when changed from initial setting.
2. After the change, the files disappear from old as well as the new saltenv.

**Versions Report**

[code]

**Step to reproduce**

Initial configuration:
1. My repo is public with one file `test.sls`, with one branch main, one commit, one tag `v1`.
2. Map branch `main` to saltenv `foo`.

[code]

Clean sta

[2021-08-07 00:08] #57733 closed

[2021-08-07 01:20] dwoz commented on #60102
@seandjones92 I have not been able to re-produce this error. Do you happen to know what states or jobs you were running when it happened?

[2021-08-07 01:24] dwoz commented on #59725
Duplicate of #59793 and resolved by #60689

[2021-08-07 01:24] #59725 closed

[2021-08-07 04:57] #59793 closed

[2021-08-07 07:29] mnn opened #60690 "[BUG] ppa in pkgrepo.managed breaks sources.list"
**Description**
I am trying to use PPA on Debian (Raspbian). But it always results in
[code]
With each unsuccessful run of  the state, a state name is appended to `sources.list`:
[code]
`python-apt` is installed:
[code]

**Setup**
[code]

**Steps to Reproduce the behavior**
Install `python-apt` on raspbian and apply the state above.

**Expected behavior**
PPA is added and package is installed.

**

[2021-08-07 08:31] ari commented on #60007
bump

[2021-08-07 09:34] eliasp commented on #59785
Ok, you convinced me… binary it is then. :smile:

[2021-08-07 10:27] OrangeDog commented on #60690
Have you got that, and which version?

[2021-08-07 10:49] mnn commented on #60690
Oh, my bad, I thought that PPA would work in Raspbian, sorry. It might be a good idea to add an error/warning message on systems where `ppa` field is not supported instead of appending state name to the `sources.list` and breaking package manager.

I am not sure if I should close this (feel free to do so), my problem was resolved, but that warn/error message would be a nice thing to have.

[2021-08-07 11:27] OrangeDog commented on #60690
That's probably a good idea. I assume the `python-software-properties` package isn't available on your system? Warning when it's not installed but `ppa` is used is probably a good idea.

[2021-08-07 12:03] mnn commented on #60690
I have installed `python3-software-properties` package, but it didn't seem to change anything.

[2021-08-07 13:09] network-shark commented on #4994
@mcarlton00 Wow super helpful thank you !

[2021-08-07 16:37] #60219 closed

[2021-08-08 19:20] Vaelatern commented on #42539
@sagetherage

I have a consistent reproduction now

[code]

Gives on the first run:
[code]

On the second run, it goes:

[code]

Then if I delete the symlink at `/var/service/docker` which disables and stops the service, then I can go through these steps again. This constitutes a reliable reproduction.

[2021-08-09 00:36] dseomn opened #60691 "[FEATURE REQUEST] salt.states.lvm.lv_present: support thin snapshots"
**Describe the solution you'd like**
It would be nice if `lvm.lv_present` could create thin snapshots of thin volumes, and manage their size.

**Describe alternatives you've considered**
It's probably possible to do at least some of that with `cmd.run`.

**Additional context**
https://man7.org/linux/man-pages/man8/lvcreate.8.html says "the size option must not be used, otherwise a copy-on-write sn

[2021-08-09 01:24] dseomn commented on #60691
I figured out a way to do this with `cmd.run` that seems to work: https://github.com/dseomn/system-configs/blob/2f52b2e32fc3c9b8ec24e55f51578618fec050ff/salt/file/virtual_machine/host/init.sls#L79-L95

[2021-08-09 11:04] Oloremo commented on #49301
@sagetherage Hi!

I'm on vacation right now plus I think there are good steps to reproduce provided by the original author.
So the solution could be confirmed by Salt folks as well.

[2021-08-09 11:27] ifraixedes opened #60693 "[DOCS] - Invalid link to ssh-cli due to using an URL"
**Description**

The link to `ssh-cli` in the documentation page `doc/topics/ssh/index.rst` is invalid because a direct URL is used rather than using the specific markup instructions to autogenerate the URL.

The section that contains the invalid link is `Calling Salt SSH`and the link is just in the last paragraph of the section.

**Suggested Fix**

Use the specific markup instructions to autogene

[2021-08-09 12:44] herbetom opened #60694 "[BUG] grains fqdn_ip4 and fqdn_ip6 aren't useful with a loopback address for the fqdn in /etc/hosts"
**Description**
When i use `fqdn_ip4` and `fqdn_ip6` to get the public IPs of a system the returned values aren't particularly useful:

[code]

**Setup**

My `/etc/hosts` contains the following relevant lines:

[code]
This is for example what is generated in the Debian Cloud Image: https://github.com/canonical/cloud-init/blob/13b6a8575f813699d406f5cab3424c2beffba26f/templates/hosts.debian.tmpl#L16

[2021-08-09 14:57] barneysowood opened #60695 "[FEATURE REQUEST] Test and document using shadow group for pam/eauth running salt-master as non-root"
Opened as a task for the Security WG

**Is your feature request related to a problem? Please describe.**

Currently documentation indicates that you can't use PAM/eAuth when running salt-master as a non-root user.

I *think* this should be possible by ensuring the user running the salt master is a member of the shadow group on distributions/OSes that support that.

**Describe the solution you'd li

[2021-08-09 15:43] bryceml commented on #56390
marked `needs-triage` since we don't know if this is fixed or not on master.

[2021-08-09 17:40] waynew commented on #60671
Looks like just running this test_nacl.py will repro the segfault on this AMI. I had to install libgit2, libsodium23 and a few other things to get the tests to run. Interestingly enough, just importing libnacl & running the encryption did *not* cause a failure. I'm going to try just running the Salt code to do the encryption and see if we still fail :thinking:

[2021-08-09 17:56] sagetherage commented on #60102
I synced up with @seandjones92 and the original issue isn't coming through reliably enough to reproduce and asked me to close this issue.

[2021-08-09 17:56] #60102 closed

[2021-08-09 20:54] waynew commented on #60671
Both of these seem to work fine:
[code]

Renaming the failing test to include `XXX` and doing

[code]

will reproduce the failure. Makes me wonder if it's something in the loader...

[2021-08-09 21:22] waynew commented on #60671
Ah. Okay so this is very weird. Other bits work as expected, but for some reason when providing the PK, possibly because it's getting sent as the wrong type, but for some reason it's trying to seal the box with the wrong length key, despite libnacl having protections for that.... like... for a long time. So something is wonky here :thinking:

[2021-08-09 21:28] network-shark opened #60698 "[BUG] ProxyCaller() not working against napalm proxy"
**Description**

Hello Salties ,
because I can't use saltcheck on proxy minions I spend some time on how I could possible fix it. @dmurphy18 Mentioned maybe it's just replacing Caller() with ProxyCaller() . I thought , must be a low  hanging fruit , go for it :)

So I just copied this from the documentation and waited for a result.
[code]

With logging enabled I could catch the error.

[code]

Fro

[2021-08-09 22:08] waynew commented on #60671
Something is very wrong here and I don't know why.

I added some debugging code right before the libnacl code that calls off to ctypes. It dumped out this

[code]

But it doesn't make any sense because that code works just fine. I thought it might have something to do with going through the utils code but nope,

[code]
that works just fine, too.

It succeeds in every way that I can find, except vi

[2021-08-09 23:14] jennshan commented on #60307
Hi,
I would like to work on this issue, is it open or someone working on it?

[2021-08-10 03:32] dseomn opened #60699 "[FEATURE REQUEST] salt.states.virt: support on_crash"
**Describe the solution you'd like**
It would be nice if salt.states.virt.running and/or salt.states.virt.defined supported managing the `on_crash` setting, or possibly all of the [events settings](https://libvirt.org/formatdomain.html#events-configuration).

[2021-08-10 03:47] dseomn opened #60700 "[FEATURE REQUEST] salt.states.virt: support autostart for VMs"
**Describe the solution you'd like**
It would be nice to have a way to control whether a VM starts on boot or not. Maybe a new `autostart` option to salt.states.virt.running and/or salt.states.virt.defined? Or maybe a new function?

**Describe alternatives you've considered**
I'll probably use salt.modules.virt.set_autostart for now.

[2021-08-10 10:48] #60693 closed

[2021-08-10 11:33] Ch3LL opened #60704 "[FEATURE REQUEST] Create minion_type grain"
There are different minion types now. Proxy, native minion, and a standard minion. This issue is to track adding a grain `minion_type` to detect what type of minion it is.

[2021-08-10 16:34] waynew commented on #60545
Yeah, looks like this is missing. It might be one of our needs-tests port forwards that's blocking a PR bringing this to the main branch, but regardless, it's definitely not caching the job while it's running. It *will* store the return, but it doesn't get thrown in the active jobs.

[2021-08-10 16:38] Sxderp commented on #45067
I think this is an issue with `mkstemp`.

This also fails with on MacOS read only file system. Minimal code extracted from Salt:

[code]

[2021-08-10 18:53] esilva-everbridge commented on #55546
This is becoming an issue for us as we try to adopt arm64. Salt is an important part of our infrastructure and not being able to use anything but amd64 is holding us back.

[2021-08-10 19:07] dmurphy18 commented on #55546
@esilva-everbridge It is hoped to have arm64 support for the Silicon release, it is currently actively being tested.  But no guarantees until all testing is complete and code finally tagged.
Debian 11 arm64 support is also actively being worked on too but is currently experiencing some test issues, and also Debian 11 is not officially released yet.

[2021-08-10 19:58] bryceml commented on #60679
https://github.com/saltstack/salt/blob/76e50885b07621e9e4c16bc3f1ebc16c93983b90/salt/cloud/clouds/ec2.py#L4074-L4154

is the code.  You are right, the documentation is poor there.

looks like you might be missing the `[]`'s around block_device_mappings on the cli.  Let me know if that fixes it.

[2021-08-10 23:04] #59750 closed

[2021-08-11 00:40] ari opened #60710 "[BUG] Pillar targetting fails when minion is offline"
**Description**
When a minion is offline, pillar targetting will incorrectly target that minion resulting in an error which will then break orchestration with dependencies between states.

**Setup**
One minion is offline (eg. for maintenance)

**Steps to Reproduce the behavior**
[code]

**Expected behavior**
Pillar is rendered on the server, so the server cache is only used for targetting. Command

[2021-08-11 01:25] ari commented on #60710
I think I've not communicated the nature of the problem. The salt targeting should never attempt to contact that Minion at all. The pillar key doesn't exist on the server pillar cache.

The problem isn't that test ping doesn't return. The problem is that the command was sent to the Minion at all.

[2021-08-11 01:34] dmurphy18 commented on #60710
Saw your comment in community and answered some part of your issue there.
But the point here is that the master does not know if something is offline or unresponsive, a network outage may make something appear offline for a while and then it communicates again and all is well.

It is in the nature of async communication between master and minion.
My thought with test.ping is that when it fails, us

[2021-08-11 03:40] ari commented on #60710
Let me try to explain this another way. I have 100 minions. One of them is offline. If I do this:

    # salt good-minion.1 test.ping

then I get a good response. The bad minion is never even queried and we don't care it is offline. I can even use wildcards and target lots of minions without problem:

    # salt 'good-minion.*' test.ping

However if I do this:

    # salt -I 'invalid-key:123' test

[2021-08-11 09:30] sebastianreloaded commented on #60365
Hi, concerning the cmd_ret["stdout"], this is just empty, as i wrote earlier.
And in the json loads function the variable "s" is just an empty string `''`
pprint just gives "None"

[2021-08-11 10:26] ari commented on #60710
To explain my use case more...

I use pillar data to define groupings of servers in interesting and useful ways. They tie into salt-cloud deployment, pull data from custom pillar from databases and files on disk. Customers can spin up their own servers using our portal which then fires an event to salt-cloud, adds a minion and provisions everything. They can reconfigure things in the portal databa

[2021-08-11 11:11] tandibar commented on #59179
Any fixes for this Problem? I am running into the same issue...

[2021-08-11 15:16] dmurphy18 commented on #60710
@ari I see from your use-case explanation that the problem is not the underlying master minion communication but that from using -I offline minions are getting contacted when straight glob of minion ids does not contact offline minions, and that still is not as per documentation.  Do I have that correct ?

Will investigate that issue , which is somewhat different from the generic communications be

[2021-08-11 17:10] moloney opened #60715 "[BUG] sock_pool_size should default to a larger value"
**Description**
After upgrading to 3000.9 I started getting random timeout errors from the CLI and from individual jobs spawned in runners through `LocalClient`.  After trying many things (including increasing "timeout" in config and increasing RAM / CPU resources on master) I came across some references to increasing `sock_pool_size` for solving such problems for Salt-API.  Even though the docume

[2021-08-11 17:29] dmurphy18 opened #60716 "[BUG] Pillar wildcard targeting fails with Salt 3003.1"
**Description**
During investigation of issue https://github.com/saltstack/salt/issues/60710, it was found that wildcard pillar targeting did not work using a salt-master v3003.1.

Note documentation gives very similar example at bottom of page: https://docs.saltproject.io/en/latest/topics/targeting/pillar.html

Note: @garethgreenaway tested with current master branch and a proxy and found no issu

[2021-08-11 17:31] dmurphy18 commented on #60716
Need to check this functionality on Salt 3003.2 when it is released, as may already be fixed in that release.
Also need to check against master branch

[2021-08-11 17:40] dmurphy18 commented on #60710
From running a test against a mix of Centos7, Debian 10 and Ubuntu, I see the following:
[code]
turn off the Debian 10 machine, that is maintainence and offline

[code]
which implies both grain and pillar targeting operate no differently, that is, offline generates a 'no response'

[2021-08-11 18:22] tkwilliams opened #60718 "[FEATURE REQUEST] - YAML v1.2 spec support (via ruyaml or other v1.2 compliant parser)"
YAML v1.1 was deprecated in favor of v1.2 over 6 years ago.  PyYAML still only supports v1.1.

Granted that v1.2 was largely motivated by the principal of least astonishment considerations, and a desire to eliminate confusing and non-obvious parsing edge-cases, as well as removing several esoteric (and problematic) "features" which generally caused more problems than they solved, I believe that Sa

[2021-08-11 18:41] ScriptAutomate opened #60719 "[DOCS] Audit and replace all saltstack.com and saltstack.net URLs where applicable"
**Description**

Doing a quick audit:

[code]

**Suggested Fix**

We should evaluate all `saltstack.com` and `saltstack.net` references that need to updated or at least confirmed as having not changed (such as `pypi.saltstack.net`).

**Type of documentation**

- Salt documentation
- Salt modules

[2021-08-11 18:44] ScriptAutomate opened #60720 "[DOCS] Automatically audit and flag broken URLs in codebase/docs"
**Description**

Automatically audit and flag broken URLs in codebase/docs

**Suggested Fix**

Use GitHub Actions to verify that links across the codebase/docs are not broken.

Using Sphinx's built-in linkcheck doesn't include validating links across the rest of the project, such as within any `*.md` files, or configuration files.

**Type of documentation**

- Salt documentation
- Salt modules

[2021-08-11 19:33] garethgreenaway commented on #60541
@OrangeDog I debated having a new argument but the existing code handles refreshing of functions in execution modules, state modules, and returner modules so having it also refresh the beacon modules made sense.

You are correct that the beacon will be available on the next run but for the particular use case that inspired this addition that doesn't work.  For example, If you attempt to setup the

[2021-08-11 20:36] AGirin opened #60721 "[BUG] cmd.run shell=powershell on Windows 2016 servers error"
**Description**
salt -G 'kernel:Windows' cmd.run 'Get-WindowsOptionalFeature -Online -FeatureName SMB1Protocol' shell=powershell

Windows 2019:

FeatureName      : SMB1Protocol
    DisplayName      : SMB 1.0/CIFS File Sharing Support
    Description      : Support for the SMB 1.0/CIFS file sharing protocol, and the Computer Browser protocol.
    RestartRequired  : Possible
    State            : D

[2021-08-11 21:15] ari commented on #60710
OK, now try this with td10 offline:

    # salt 'tc*' test.version

I would expect td10 to not be contacted and not time out.

And then try (again with td10 offline):

    # salt '*' saltutil.refresh_pillar
    # salt -I 'foo:bar:1234' test.version

Since 'foo:bar:1234' does not exist in the pillar, it should return nothing and attempt to contact no minions. Does the test.version command give you

[2021-08-11 22:12] tkwilliams commented on #60718
Correction, first sentence should read "over 12 years ago", not "over 6 years ago"...

[2021-08-11 23:38] AGirin commented on #60721
I ran this to get what I needed:

salt -G 'kernel:Windows' cmd.run 'Get-SmbServerConfiguration | Select EnableSMB1Protocol' shell=powershell

And it worked just fine.

Still the question remains why is the original command not working on Windows 2016...

[2021-08-12 00:00] sagetherage commented on #59592
the PR https://github.com/saltstack/salt/pull/59870 is merged and will be released in Silicon - closing

[2021-08-12 00:00] #59592 closed

[2021-08-12 00:09] doesitblend opened #60722 "[FEATURE REQUEST] Add option to windows uninstaller to remove salt dir"
**Is your feature request related to a problem? Please describe.**
When uninstalling Salt with `C:\salt\uninst.exe /S` the `C:\salt` is left with the configuration directory in tact. This feature is possible when calling the uninstaller with no options and going through the prompts.

**Describe the solution you'd like**
The request is to have an option added to the uninstaller that will allow remo

[2021-08-12 00:12] sagetherage commented on #53833
Looks like this was never followed up - closing as not reported in later versions

[2021-08-12 00:12] #53833 closed

[2021-08-12 00:58] garethgreenaway commented on #53896
I think this one might be fixed, placed a simple module in /srv/salt/_module.

[code]

[2021-08-12 01:01] sagetherage commented on #59903
bugs for scaling runner are fixed in today Salt release [3003.2](https://github.com/saltstack/salt/releases/tag/v3003.2) closing

[2021-08-12 01:01] #59903 closed

[2021-08-12 06:15] Runbacktoo opened #60723 "[BUG] I failed when passing the Salt pillar value directly on the command line"
Please paste the link from the specific build where the failure first started:

Below is the command I executed:
[code]

Got some errors:
ERROR executing 'state.apply': Pillar data must be formatted as a dictionary, unless pillar_enc is specified.
ERROR: Minions returned with non-zero exit code

I tried escaping, but it didn't work。Can anyone help me？

[2021-08-12 10:54] #60682 closed

[2021-08-12 12:45] ecstuchi opened #60724 "[BUG] key error in python leading to "An un-handled exception was caught by salt's global exception handler""
**Description**
When running desired state often I am getting the a python traceback when accessing a key in python's structure.
This is happening for refreshing the pillar as well.

**Setup**
~2000 minions running 3001.7
~10 minions running 3003.1
salt-master running 3003.2

**Steps to Reproduce the behavior**
When running:
[root@3ca4653827b2 /]# salt --async -t 30 -b 30 '*' saltutil.refresh_pill

[2021-08-12 16:38] dmurphy18 commented on #60710
So trying your request, with my current environment and everything connected (except for two old Solaris 11 minions)

[code]
The Solaris machines were turned off yesterday evening, and this is the following morning, so caches should have expired.  Now turning off the Debian 10 minion td10 (and still fresh cache for it)

[code]

So  'foo:bar:1234' does not exist in the pillar, and hence nothing sen

[2021-08-12 17:29] alan-cugler commented on #53896
That does look to be passing for `sys.list_functions`, does this work for other custom module directories and corresponding commands? such as a custom module in `_states` and then sys.list_state_functions? if so then this does look resolved.

[2021-08-12 17:44] #60684 closed

[2021-08-12 18:25] dmurphy18 commented on #60724
@ecstuchi Would it be possible to see an example of the pillar data for which the error occurs, an example which does not contain confidential information

[2021-08-12 18:37] #59337 closed

[2021-08-12 18:38] #47628 closed

[2021-08-12 19:37] Ch3LL commented on #59033
Did you want to push the PR or I can?

[2021-08-12 20:46] frogunder opened #60728 "[BUG] Solaris 10 Intel get error if trying to add user if user already present on system."
**Description**
In Solaris 10 Intel get error if trying to add a user if the user already present on the system.
[code]

**Setup**
[code]

**Steps to Reproduce the behavior**
Run the state file twice

**Expected behavior**
I am expecting this result on the second run.
[code]

**Screenshots**
[code]

**Versions Report**
<details><summary>salt --versions-report</summary>
(Provided by running salt --

[2021-08-12 20:52] dmurphy18 commented on #60728
That looks like a Salt error not handling case of Solaris where the would expect to typically be /export/home/dude  for a user named dude

[2021-08-12 21:15] bryceml commented on #60723
try putting all the numbers in quotes.  `/2` is not a number so it should be in quotes like : `"/2"`
so it's a string I'm pretty sure.

[2021-08-12 21:47] javicacheiro commented on #59033
@Ch3LL just created the pull request, I would need some help with the tests, a little bit confused with the different options, I guess the right place would be now in pytests/unit/client/ssh/test_ssh.py.

[2021-08-13 09:16] ecstuchi commented on #60724
@dmurphy18, I had to trim the confidential information, but the logic is there. And it's a simple chain/flow.
[pillar.zip](https://github.com/saltstack/salt/files/6981295/pillar.zip)

Please let me know if you need any further information.
This is happening very often, but not 100% of the times. I'm not certain if it has a relation to behavior of some specific minions not responding or what.

[2021-08-13 09:26] ecstuchi commented on #60724
@dmurphy18, I had to trim the confidential information, but the logic is there. And it's a simple chain/flow.
[pillar.zip](https://github.com/saltstack/salt/files/6981349/pillar.zip)

Please let me know if you need any further information.
This is happening very often, but not 100% of the times. I'm not certain if it has a relation with the behavior of some specific minions not responding or what.

[2021-08-13 13:44] epelc opened #60732 "[DOCS]"
**Description**
Document that scheduling jobs with both `cron` and `splay` is supported/works.

Right now I had to find this issue to check if it was supported as none of the examples show it https://github.com/saltstack/salt/issues/44583

**Location or format of documentation**
https://docs.saltproject.io/en/latest/ref/states/all/salt.states.schedule.html

**Additional context**

Would be nice if

[2021-08-13 15:16] heini commented on #55546
@dmurphy18, let me repeat: There is no need to add arm64 support to Salt itself. Salt works fine there. It's just the borked repository setup that prevents the packages from being installed on other architectures than amd64.

[2021-08-13 15:18] heini commented on #55546
Oh, and I also use the buster packages on bullseye already w/o any issues so far.

[2021-08-13 15:23] esilva-everbridge commented on #55546
Yesy, we can get by for a time using OS packages but they are behind the upstream releases and we are striving to make sure our systems are using the latest versions. Having support from the source of truth is the best way to make sure we are not behind.

[2021-08-13 15:26] heini commented on #55546
I didn't say anything about OS packages. Just download the Salt packages from the Saltstack repo and install them anywhere you like, using
[code]
As said, it's not the packages that have the wrong arch, it's just the repo.

[2021-08-13 15:34] esilva-everbridge commented on #55546
we install salt using salt, and while that might work we don't want to resort to using work arounds when this can be addressed upstream

[2021-08-13 15:42] heini commented on #55546
Well, just look at the tickets age...

[2021-08-13 17:09] tyhunt99 opened #60734 "[BUG] salt-cloud delete cannot find instnace in different AWS account"
**Description**
I created an instance in a different AWS account than my salt master using `salt-cloud -p aws-vp-docker-host dockertest`. When I try to delete that minion via `salt-cloud -d dockertest` it fails to find the minion with following output: `No machines were found to be destroyed`

**Setup**
aws-vp-ec2 provider (the salt master instance is in a different aws account than the role_arn)

[2021-08-14 12:40] network-shark commented on #60698
Trying to work on this and document my progress

Via Proxy Call .

[code]
Returns none , because reloading of the modules can not work if there are any modules on the LazyLoader.

Question:  Why the hack are the modules not initiated on the lazy loader and why are they intialized via salt-call

[2021-08-14 12:53] ari commented on #60710
Perhaps the pillar problem is related to the grains bug. In my pillar I have entries in top like:

    - minions.{{ opts.id }}

which is used to add specific minion configuration by minion id. Is this accessing the grain and therefore contacting the minion? I can't think of anything else which is relevant.

[2021-08-14 21:51] network-shark commented on #60698
Problem found

salt/grains/napalm.py

def virtual(opts, virtualname, filename):

[code]

[2021-08-15 12:45] ggiesen commented on #56144
Reopening this because I need this and would like to see it merged into master.

[2021-08-16 04:33] eclecticmiraclecat commented on #59817
Hello, I would like to work on this issue. How could I get started?

[2021-08-16 04:35] peanutduck commented on #59817
Hello, I would like to work on this issue. How could I get started and which file should I edit?

[2021-08-16 07:23] ReigenDing opened #60741 "[BUG] NSOClient object has no attribute 'get_datastore_data'"
**Description**
A clear and concise description of what the bug is.
NSOClient object has no method 'get_datastore_data' but 'get_data' or 'get_datastore'
**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info).
[code]

**Steps to Reproduce the behavior**
(Include debug logs if possible and relevant)
-  add proxytype: cisconso
- start proxy
- accept key `cisco

[2021-08-16 07:24] ReigenDing commented on #60741
refer https://github.com/saltstack/salt/blob/28ebe0b9ed194056d37ce6b4c28c7c667d5aaa4b/salt/proxy/cisconso.py#L283

[2021-08-16 08:50] c0deaddict opened #60742 "[FEATURE REQUEST] Debian Bullseye packages"
**Is your feature request related to a problem? Please describe.**
There are no Salt packages for the current stable Debian release Bullseye on https://repo.saltproject.io/py3/debian/

**Describe the solution you'd like**
I would like Salt packages for Debian Bullseye to be available on the mentioned repository URL.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

**Pl

[2021-08-16 16:06] bryceml commented on #55546
I'm pretty sure you can use the amd64 repos on arm64 currently by doing something like

[code]

as a workaround until we officially have arm64 repos.

There are some architecture specific packages (python3-contextvars and python3-immutables) that are required for doing salt-ssh to targets that have python3.6 or less.  They are `Recommends` on `salt-common`.

[2021-08-16 16:21] network-shark commented on #60698
is_proxy checks if there is an sys.argv argument '--proxyid' .

./ProxyCaller.py '--proxyid'

[code]

[2021-08-16 16:43] lapfrank12 commented on #60002
Same issue still happening with 3003.2 which was just released. Just intrigued, since this is a P2, which release can we expect this to be fixed on?

[2021-08-16 18:32] waynew commented on #60671
This *also* fails under pytest's runner...

[2021-08-16 18:46] garethgreenaway commented on #59418
@wesley-c42 We noticed that one of your previous comments indicated that you had changed the ID for the minion after the authentication process, this would definitely cause the errors that you're seeing as it would cause the Salt master to see a connection from a different minion and reject the connection because the existing keys do not match the new minion ID.   Anytime you rename the ID of the

[2021-08-16 18:53] waynew commented on #60671
For more fun, just a simple unit test will actually fail here too

[2021-08-16 18:59] garethgreenaway commented on #48493
@scallister Following up on this one, based on the comment above from @sathieu mentioning various PRs going into 2019.2.1, has the feature you've requested been implemented into Salt?  Thanks!

[2021-08-16 19:10] waynew commented on #60671
Further information: eliminating everything in the test suite except the pytest/conftest.py and this still fails when executed via nox...

Ah! Very interesting:

[code]
This works when called via python. Via pytest? not so good. Hrm... seems like it might be a library issue :thinking: I have two different installs - one pytest works with the above, but the nox version does not, when executed even

[2021-08-16 19:15] waynew commented on #60671
Looks like this is an issue in pytest-salt-factories - removing that via pip uninstall allows this sample test to succeed

[2021-08-16 19:30] dwoz commented on #29028
I'm convinced this issue has been fixed by #58369. I am closing the issue for now, if anyone is able to re-produce this in a version >3002 please comment and we'll re-open the issue.

[2021-08-16 19:30] #29028 closed

[2021-08-16 19:41] dwoz commented on #59294
@bgdnlp I am not able to re-produce this issue thus far. Can you give me an example state that is trying to run?

[2021-08-16 20:50] #60698 closed

[2021-08-16 20:50] saltybaker opened #60744 "[BUG] Salt 3003rc1+213.ga2d47c5 on CentOS7 tries to use "ss", but "ss" is not available until CentOS 8"
**Description**
Salt on CentOS7 tries to use "ss", but "ss" is not available until CentOS 8

**Setup**
1. Install a minion running CentOS 7 (CentOS Linux release 7.9.2009 (Core)), and another running CentOS 8 (CentOS Linux release 8.4.2105)

2. Point them both to a master
3. Set up raas with a Secops enabled license

**Steps to Reproduce the behavior**
1. Run a vman assessment on both minions

Mod

[2021-08-16 21:29] bryceml commented on #60744
how did you install version 3003rc1+213.ga2d47c5 ?

we could add iproute as a dependency for the rpms, but that alone wouldn't help if you didn't install from the rpms.

[2021-08-16 21:39] bryceml commented on #60742
This is planned for the Silicon Release.

[2021-08-16 22:26] OrangeDog commented on #60744
CentOS 7 definitely comes with `ss` (i.e. `iproute2` rather than `net-tools`). Did you remove it or use some non-standard installer?

[2021-08-16 22:46] scallister commented on #48493
@garethgreenaway those look like it should fix the issue. I've since switched employers and don't readily have a Salt setup, particularly one using this feature so I can't test it easily.

From my perspective I think we're good to close this out for now. Thanks for following up ❤️.

cc'ing @BenjaminSchiborr in case this still needs to stay open 👍.

[2021-08-16 22:50] OrangeDog commented on #60721
Does it work if you run it manually in PowerShell on the 2016 minion?
Is it the same version of Salt and Python on each minion?

That looks like a .NET exception when there's a 32/64-bit mismatch.
It's definitely from PowerShell, so the `shell` option worked.

[2021-08-16 23:11] #60669 closed

[2021-08-16 23:16] ScriptAutomate opened #60745 "[BUG] Jinja2 warns that Jinja2 3.1 will no longer support contextfunction, must use renamed decorater as pass_context"
**Description**

Jinja gives a warning that `contextfunction` is being renamed to `pass_context` in Jinja 3.1:

[code]

This looks like it may be a slight fix by modifying https://github.com/saltstack/salt/blob/master/salt/utils/jinja.py#L709 in order to avoid future problems with Jinja as our dependency tree upgrades over time. Though, I don't know how many additional steps may need to occur to e

[2021-08-16 23:21] whytewolf commented on #60744
The docker image for centos7 doesn't come with either `net-tools` or `iproute` installed as for the error that looks like `vman` is calling `network.netstat` which is the only place that `ss` is called with the `tulpnea` options. which checks if `netstat` is installed before falling back to `ss`. so it isn't just `ss` that is missing.

[2021-08-17 07:38] s0undt3ch commented on #60635
For the bootstrap side we could either use `subprocess` or even pass the output of `pip --version` to the script and then get the version using something like `regex = re.compile("(:?pip )?(?P<version>(:?[\d]+)(:?\.[\d]+)?(:?\.[\d]+)?)(:?.*)?")` and do the comparison

[2021-08-17 08:15] OrangeDog commented on #60744
IIRC correctly the Debian packages treat the networking dependencies as optional, so they probably shouldn't be required by the RPMs either.

[2021-08-17 11:44] OrangeDog opened #60749 "[BUG] Zombie process in salt-master 3003.2"
**Description**
[code]

**Steps to Reproduce the behavior**
Unsure. Has happened twice but not yet found the cause.
This exception looks to be related (has also happened twice)
[code]

**Expected behavior**
Child processes should be awaited correctly.

**Versions Report**
<details><summary>salt --versions-report</summary>
(Provided by running salt --versions-report. Please also mention any differe

[2021-08-17 12:11] OrangeDog commented on #60749
It just happened again, with another instance of that exception appearing.

It's not (consistently) caused by sending minion commands, `cmd.run`, `state.apply`, nor `fileserver.update`.

[2021-08-17 12:21] jbrouwers opened #60750 "[BUG] salt.states.pkg.installed update_holds=False updates the package"
**Description**
When using the pkg.installed state with update_holds=False, held packages are still updated. According to the documentation, when this flag is false, the package is skipped, and the state will fail.

**Setup**
I'm using the following state to install nginx on ubuntu 18.04
[code]
I can confirm the package is held :
[code]

**Steps to Reproduce the behavior**
update the version in th

[2021-08-17 13:20] udf2457 commented on #60742
A few weeks or a couple of months to wait for a Bullseye build is one thing.

A year is quite another.

Not quite sure I see the logic here ?

[2021-08-17 14:21] ewhitesides opened #60751 "--subset only uses 3 as argument"
### Description of Issue
for testing commands on a large number of systems, I've found it helpful to use the subset parameter to just do a handful to speed up testing.  I noticed that no matter what number you give the --subset argument, it only performs the given operation on 3 minions.

### Steps to Reproduce Issue
salt <target large group of machines> test.ping --subset=5

### Versions Report
3

[2021-08-17 14:28] ewhitesides opened #60752 "[BUG] pkg.list_upgrades for redhat includes "Loaded:plugins:" as a package"
**Description**
the command `salt <target> pkg.list_upgrades --out=json` will list all available updates for a given system.  I noticed on redhat 7 systems, that it erroneously includes "Loaded: plugins:" as a pending package, so my guess it's some sort of parsing issue.

**Steps to Reproduce the behavior**
`salt <redhat 7 system> pkg.list_upgrades --out=json | jq 'to_entries[]'`

produces a respo

[2021-08-17 14:41] OrangeDog commented on #60751
Duplicates #58600

[2021-08-17 14:41] #60751 closed

[2021-08-17 15:27] krionbsd commented on #60752
Could you provide `salt --versions-report` output?

[2021-08-17 16:20] ewhitesides commented on #60752
this is from the master:

Salt Version:
          Salt: 3003.1

Dependency Versions:
          cffi: Not Installed
      cherrypy: unknown
      dateutil: 2.8.1
     docker-py: Not Installed
         gitdb: Not Installed
     gitpython: Not Installed
        Jinja2: 2.11.1
       libgit2: Not Installed
      M2Crypto: 0.35.2
          Mako: Not Installed
       msgpack: 0.6.2
  msgpack-pure: Not I

[2021-08-17 16:29] #60398 closed

[2021-08-17 16:55] garethgreenaway commented on #56206
The Silicon release of Salt will have official Ubuntu ARM 64bit packages for LTS releases and we will be testing this OS as part of the testing pipeline.  Based on the comments that memory usage was significantly reduced in 3001, we'll go ahead and close this one out.  Please feel free to open a new issue if the problem persists.

[2021-08-17 16:55] #56206 closed

[2021-08-17 16:56] waynew commented on #60479
From my perspective, I think that this is a good feature, but it has some risks (e.g. we support native minions on arista, juniper, etc. - how would this apply?) so I think that I'll ask - can you create a [Salt Enhancement Proposal](https://github.com/saltstack/salt-enhancement-proposals/)? That way we can get it in front of the broader community and hash out some of those challenges.

https://gi

[2021-08-17 17:07] waynew commented on #60497
Hey @LewinSZ thanks for this! I'm working through reproducing incoming issues and I'll get to trying to reproduce this as soon as I can :+1:

[2021-08-17 17:10] waynew commented on #60641
Hey @eliasp thanks for the report! This looks like it should be pretty straightforward to repro, hopefully I can get to it today :+1:

[2021-08-17 17:17] waynew commented on #60586
Hey @Mapel88 thanks for this! I'm working on reproducing issues including this one -  I'll update this issue with my progress :+1:

[2021-08-17 17:19] vps-eric opened #60755 "inotify Beacon Throwing Exceptions on Minion"
### Description of Issue
I am running an inotify beacon that looks for file changes and which calls an orchestration that sends me an email when a file is changed. Looking at the journal for salt-minion, I see multiple repeated exceptions.

I am also having some event loops where a beacon detects that the SSHd config changed, then calls an orchestration which highstates the minion and sends me an

[2021-08-17 17:36] waynew commented on #6896
Hey all, thanks for the discussion on this issue! We realize that it's been
open for quite a while and might be something that would have been a good idea
at the time, but after discussion with the core team, this issue no longer
seems relevant, and we're going to close it out.

Our understanding is that the main reason to support renaming keys is that one
may have a particular name that identifie

[2021-08-17 17:36] #6896 closed

[2021-08-17 17:46] krionbsd commented on #60752
I couldn't reproduce it on CentOS7, did you run `sudo yum clean expire-cache` after adding new repositories? Does "Loaded plugins" appear with every `pkg.list_upgrades` invocation or only once?

[2021-08-17 18:13] ewhitesides commented on #60752
the issue only appears on redhat, on my centos systems it is fine

[2021-08-17 18:13] twangboy commented on #60458
Yep, this is a bug

[2021-08-17 19:57] nshenry03 commented on #56247
@oeuftete, thanks for your example

I thought that I had things setup properly, but am seeing

[code]

### `nonprod_kms_vault.sls`
[code]

[code]

Should work for `3003.2`: https://github.com/saltstack/salt/blob/v3003.2/salt/renderers/aws_kms.py ?

Any suggestions or has anyone seen anything like this? Thanks!

[2021-08-17 20:08] dmurphy18 commented on #60710
@ari I believe the grains targeting should be independent of the pillar information, which raises the question:

Why does grains globing work for you but I cannot reproduce it, that is, when I try, it results in failure.

Is there any other information which you can supply which would help explain why you see grains globing working when the minion is offline?
Also without a sanitized copy of the p

[2021-08-17 20:24] dmurphy18 commented on #60716
Tried this with latest branch of master (2021-08-17) and see the problem.  Obviously given @garethgreenaway had no issues with delta-proxy / proxy, this is limited to dealing with minions.

[code]

[2021-08-17 21:19] waynew commented on #60564
Eventually this functionality will be superseded by the extension module, will open an issue there to track it as well.

[2021-08-17 21:32] garethgreenaway commented on #53896
Looks like the custom state modules work as expected too:
[code]

[2021-08-17 22:32] ScriptAutomate opened #60757 "[TEST FAILURE] pr-lint and Static Analysis failures in PRs with unrelated changes"
Errors in https://github.com/saltstack/salt/pull/60255 tests are unrelated to the PR itself, since they have to do with the `salt` codebase. Examples:

- Error rooted in `pr-lint` which is doing static code analysis: https://jenkins.saltproject.io/job/pr-lint/job/PR-60255/14/console
[code]
- Static analysis errors/warnings against Salt codebase: https://jenkins.saltproject.io/job/pr-lint/job/PR-60

[2021-08-18 00:50] #60602 closed

[2021-08-18 00:51] mdschmitt opened #60758 "[FEATURE REQUEST] Allow Vault module to fetch specific version of a secret"
**Is your feature request related to a problem? Please describe.**
As it stands, the `vault.read_secret` module fetches whatever the latest version of a secret is from Hashicorp Vault.  The KV2 secrets engine allows for versioned secrets, which is useful if there are differing values that should be stored in the same path (such as sensitive config values per-application or environment).

**Describ

[2021-08-18 03:28] Pigeast commented on #58546
We upgraded version from 2017.7.4 to 3000.9; I confirm that that issue is still persists; and mostly it occurs to exec cmd at your first time one day or there's no cmd to exec after several hours.
Is somebody have same sense like me ?

[2021-08-18 03:30] Pigeast commented on #57750
We upgraded version from 2017.7.4 to 3000.9; I confirm that that issue is still persists; and mostly it occurs to exec cmd at your first time one day or there's no cmd to exec after several hours.
Is somebody have same sense like me ?

[2021-08-18 06:06] rosscdh commented on #39947
+1 still happening

[code]

[2021-08-18 06:51] saltybaker commented on #60744
I am using the rocker utility for development which does use docker
images.   If the installed os lacks utilities that salt depends on,
shouldn't salt see to it that they get installed?  if not, do we tell
customers which rpms they need to install to fully support salt?   Seems
weird to wait until some function fails and tell the customer that they
need a particular rpm installed.   I have not had

[2021-08-18 06:52] saltybaker commented on #60744
Then again this could all be down to the environment I am using.

On Wed, Aug 18, 2021 at 12:51 AM Robert Baker ***@***.***> wrote:

--
"Pluralitas non est ponenda sine necessitate." - common 13th century phrase

"...misunderstandings and neglect create more confusion in this world than
trickery and malice." - Goethe 1774

"Never ascribe to malice that which is adequately explained by
incompetence

[2021-08-18 07:37] EHJ-52n commented on #57584
Thank you very much, @jbouter.

...and in 3003.2 on ubuntu 21.04 still present:

<details>
 <summary>sudo salt-call -V</summary>

[code]

</details>

[2021-08-18 07:54] mattiasgiese commented on #58898
This is an ongoing problem. I packaged the current version of pygit2 (1.6.0) and libgit2 (1.1.1), but this also leads to the behaviour described above. Installing the same module via pip works, so i'm a bit stumped how to proceed further, as installing random packages via pip is not a way to go for our production environment. Any suggestions on how to debug this further on Ubuntu 20.04?

[2021-08-18 08:46] vskubriev commented on #60483
JFYI. Downgrade starting container image to `alpine:3.13` and pin `salt-minion` to `3003-r0` solve and issue for me.

[2021-08-18 08:56] goapunk commented on #60749
Same for me. happens on both our servers, here are some logs. I'm pretty sure I didn't run any command, it just happens randomly/event-based.
<details><summary>Log Server 1</summary><p>

[code]

</p></details>

<details><summary>Log Server 2</summary><p>

[code]

</p></details>

[2021-08-18 09:12] goapunk commented on #60749
Probably related/caused by https://github.com/saltstack/salt/pull/60386 ?

[2021-08-18 09:18] uspen commented on #59019
+

[2021-08-18 09:30] OrangeDog commented on #60749
A day later there's still only one zombie process. One one hand that's not going to break the server, but on the other hand that probably means whatever it was supposed to be doing is stuck forever.

[2021-08-18 10:02] OrangeDog commented on #60744
The reasoning is that `ss` is not necessary to use salt, only for particular functions. The packages do not include every dependency of every module, the user must install the ones they need. Usually the documentation (or the module load error) says which dependencies are required, but I guess this one isn't included because `iproute` is usually installed by default on all supported platforms.

Th

[2021-08-18 11:17] matwey opened #60760 "Regression in state.ldap module"
**Description**
[code]

**Setup**
[code]

**Steps to Reproduce the behavior**
Use sls above and run `salt-call`

**Expected behavior**
salt not crashing

**Versions Report**
[code]
</details>

**Additional context**
I suppose that the issue is produced by ea30f817942c9c5ee59bbd19b1c0fbcee8102844

[2021-08-18 12:40] #58944 closed

[2021-08-18 14:24] OrangeDog commented on #60760
Yep. Should have been a set comprehension, not a list comprehension.

[2021-08-18 14:29] OrangeDog commented on #60758
I don't think versioning is supposed to be used for per-app config. They should be a different paths.
It's just for auditing / rollback isn't it?

[2021-08-18 14:34] OrangeDog commented on #60755
Have you checked your config format? Perhaps there is a list where there should be  a dict.

[2021-08-18 15:06] OrangeDog commented on #60760
The fix is not as obvious as you might think. It's all set up with `_toset()` to compare everything as `str`, yet this tries to combine it with `to_bytes`. It probably needs to convert the bytes elsewhere to str instead of having this one `OrderedSet` contain bytes.

[2021-08-18 15:36] saltybaker commented on #60744
It certainly seems from your comments that ss is available in CentOS 7 if
iproute2 is installed; however, I came to that conclusion after
googling it.   Since google is always right, to what other conclusion could
I come?

On Wed, Aug 18, 2021 at 4:02 AM James Howe ***@***.***> wrote:

--
"Pluralitas non est ponenda sine necessitate." - common 13th century phrase

"...misunderstandings and neglect

[2021-08-18 16:17] OrangeDog commented on #60744
You mean you did `yum install iproute` and you didn't end up with `/usr/sbin/ss`?
I don't know what's going on if that's the case, but there's nothing Salt can do about it.

[2021-08-18 17:09] lubyou commented on #41567
Hi,

Not stale, this still happens in 3003.2.

It would be great if there would be another cmdmod that creates and runs PowerShell via clr.

Calls to [AddScript](https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.powershell.addscript?view=powershellsdk-1.1.0#System_Management_Automation_PowerShell_AddScript_System_String_) would remove the need for complicated quoting and wou

[2021-08-18 20:05] garethgreenaway commented on #60755
Addressed in https://github.com/saltstack/salt/pull/60303

[2021-08-18 22:44] xeacott commented on #59923
@robin-thoni we've since reproduced this issue and will be looking to fix the installer. for some reason, the .exe and the .msi have recently been failing to install the VCRedist, and that's causing this issue

[2021-08-19 00:13] auphofBSF opened #60762 "[BUG] Netmiko proxy fails with develop branch of Netmiko due to netmiko execeptions rename"
**Description**
To use `salt.proxy.netmiko_py` with a set of fixes in Netmiko  the Netmiko develop branch  is installed `pip install git+https://github.com/ktbyers/netmiko.git@develop`

Netmiko Proxy fails with Proxymodule netmiko is missing.........
will not load netmiko and proxy call fails

Debugging it has tracked it to the following Netmiko - commit [Moving exceptions file to more logically n

[2021-08-19 00:53] mdschmitt commented on #60758
You're right.  I guess the reason I thought this could be useful was because I tied my shoes together and didn't realize I wouldn't be able to undo it.

As it stands, if you write `/secrets/salt/mysecret` (version 1) to contain:
[code]

and then later write `/secrets/salt/mysecret` (version 2) as:
[code]

and then run your salt state, you now no longer have the `bar` value and there's no way to go

[2021-08-19 03:07] waynew commented on #60671
I was wrong! Well, sort of!

It's actually an issue with pyzmq 19.0.2. That's broken on arm64 debian11, badly. Just importing zmq and then doing anything with ctypes hangs (probably the GIL?). Creating a zmq.context and then doing a context.socket (for sure with `zmq.PULL`) means that other calls (like the libnacl one) out through ctypes will segfault.

Installing `'pyzmq>19.0.2,<22.0.0'`, as in t

[2021-08-19 04:27] #47969 closed

[2021-08-19 06:12] AmiramMaimon opened #60765 "Minion scheduler not executed"
Hey,

I have added a scheduler using the `schedule.present` state as follow:
[code]
The state successfully run and I can see the schedule at the `/etc/salt/minion.d/_schdule.conf` file as follow:
[code]

Everything is fine until now...
### The trouble come after few days when the scheduler stop working properly.

After several days/weeks the scheduler stop **fully** executing the `midnight-executi

[2021-08-19 06:26] bgdnlp commented on #59294
It's been too long. Basically my states and pillars have this kind of thing in them:

[code]

The above is from `./pillar/common.sls`. `local_etc_path` (and others) is then used in state files. I'm guessing that's where it failed, but I don't know for sure, it's been too long.

I'll try to upgrade and put it back the way it was, see if it still happens, but it probably won't be soon, this is prod.

[2021-08-19 07:17] mturra-Pro opened #60767 "[BUG] repeated lookup_jid on long running async orchestration causes its failure"
**Description**
I use salt-api to launch an orchestration. It lasts 20 minutes to complete and I use runner_async to not incur in timeout.
As described in https://docs.saltproject.io/en/latest/ref/netapi/all/salt.netapi.rest_cherrypy.html#best-practices I then check if the job ended polling the jobs endpoint with jid returned by the runner_async command.

If the polling is scheduled every 15/30 se

[2021-08-19 09:35] OrangeDog commented on #60525
Was this not done in 3003.2 - #60529?

[2021-08-19 10:30] mguegan opened #60769 "[BUG] states.ssh_auth.present behavior is incorrect when using both ssh source files and options"
**Description**
When providing both `options` and `source` on `ssh_auth.present` state, SaltStack fails to identify the existing keys when doing a test (with `test=True`) but seems to work OK without test (in that case, it will says the keys are existing and do nothing).

**Setup**
Example of SLS configuration:

[code]

Content of the `ssh.id_rsa.pub`:
[code]

Tested on:
- [X] VM running on Exosca

[2021-08-19 10:32] mguegan commented on #60769
I am looking into the code and will provide a PR in a few hours

[2021-08-19 11:25] Ch3LL commented on #59033
There are a couple of expand_target tests here: tests/unit/client/test_ssh.py. Did you want me to write the tests? More than willing to just let me know.

[2021-08-19 11:31] #58537 closed

[2021-08-19 11:31] #59077 closed

[2021-08-19 11:31] #59083 closed

[2021-08-19 11:31] #59055 closed

[2021-08-19 12:18] meaksh commented on #60520
I was able to reproduce this same issue with latest Salt 3003.2 release from upstream.

This is a problem on the current `zypperpkg` module of Salt, which is creating the repo in a way Zypper does not know where is the GPG key to use. It does:

[code]
The repository metadata does not contain any info about the GPG key and therefore `gpgautoimport` does nothing. It seems Zypper CLI does not allow t

[2021-08-19 12:45] javicacheiro commented on #59033
If you can it would be great!

[2021-08-19 12:46] Ch3LL commented on #59033
Will do. I'll try to get to it this week or the beginning of next week :)

[2021-08-19 15:49] #58881 closed

[2021-08-19 15:52] dmurphy18 commented on #60525
@OrangeDog Thanks for that, water flows under the bridge real fast lately and missed closing this once it went into Salt 3003.2. Was scheduled for Silicon, but considered important enough to get it into 3003.2 and forgot to close the Silicon issue.  Thanks for catching.

[2021-08-19 15:52] #60525 closed

[2021-08-19 17:43] #60203 closed

[2021-08-19 20:49] ScriptAutomate commented on #58891
https://github.com/saltstack/salt/blob/79b56313f2197d2ec92fc503ee65498130239891/salt/utils/event.py#L612-L619

[2021-08-19 21:20] bryceml opened #60772 "[FEATURE REQUEST] Re-adding point zero to major salt versions (ex. 3006.0)"
**Is your feature request related to a problem? Please describe.**
https://github.com/saltstack/salt-enhancement-proposals/pull/49 was accepted, can we implement this in time for the 3004.0rc1 ?

**Describe the solution you'd like**
3004.0rc1 to be released with the .0

**Describe alternatives you've considered**
wait for 3005.0rc1

[2021-08-19 21:32] nergdron commented on #54502
to update this issue: with the salt release `3003.1`, using the `regen_thin` option via `-t`, or any of the config files, doesn't appear to make this issue any better. get the error every time on a new change, regardless of whether the thin tarball has been regenerated or not.

@sagetherage any idea on an ETA for a fix? as we use salt in a more widespread manner, this is becoming a larger issue fo

[2021-08-19 23:08] wimglenn opened #60773 "Bad advice in docs for octal mode"
There is a warning in the [docs](https://docs.saltproject.io/en/latest/ref/states/all/salt.states.file.html) for managed files:

But that's not true, since the salt yaml loader special-cases this in [`salt/utils/yamlloader.py::SaltYamlSafeLoader.construct_scalar`](https://github.com/saltstack/salt/blob/79b56313f2197d2ec92fc503ee65498130239891/salt/utils/yamlloader.py#L104-L118)

In practice mode 6

[2021-08-19 23:55] eliasp commented on #29063
Mark unstale - using `import` like this in winrepo SLS still doesn't work on 3003:
[code]

[code]

[2021-08-20 13:00] OrangeDog commented on #60773
FWIW [`salt-lint`](https://github.com/warpnet/salt-lint) also wants `'0644'`.

[2021-08-20 15:46] aliasdevelopment commented on #59942
Had the same issue running salt-ssh 3003.2 from Fedora 34 ( Python 3.9.6 ) to Centos 8 ( Python 3.6.8 ). Pip3 contextvars on master did not do anything.

I solved this temporarily by `yum install salt-ssh-3002.6`, until this is solved and released

[2021-08-20 20:16] waynew commented on #60413
I've started looking into this - haven't quite had enough time to repro, but I've got master/syndic/minions setup. I've got a couple of other issues I'm also working to repro so I may not be able to finish reproducing until next week.

[2021-08-20 20:24] waynew commented on #60428
@gbunt thanks for opening this issue! I'll be taking a look to try and reproduce this locally, looks like it *should* be pretty straightforward...

[2021-08-20 22:22] waynew commented on #60428
I'm going to just say that the `manage.alived` process is flat out broken.

Spun up a salt master and two minions with docker compose. Used `docker network disconnect <network> <minion2>`.

Now on the salt master, run manage.alived... and it showed that the disconnected minion was alive.

Tried test.ping. Tried `ping -c1 -W5 <minion_container_ip>` on the salt-master container and they appropriatel

[2021-08-21 09:50] yun14u commented on #60568
I encounter the similar issue.  One interesting observation is that the server instance is created on the Vultr side and I can log on to that server instance using root password created by Vultr.

# salt --versions-report
Salt Version:
          Salt: 3003.2
....

[2021-08-21 12:40] c1pherx commented on #60467
I can confirm that this is still happening with a Debian 11 salt master, and a Debian 11 salt minion. Version reports below:

Master
[code]

Minion:
[code]

[2021-08-21 18:12] dgengtek opened #60777 "[FEATURE REQUEST] Filtering and templating the vault pillar module"
**Is your feature request related to a problem? Please describe.**
The [current vault pillar module](https://docs.saltproject.io/en/latest/ref/pillar/all/salt.pillar.vault.html) is pretty static and only allows filtering by the minion id. #47817 and #47483 are probably related.

I opened this issue to see if this feature would be desired to be merged into the tree before I open a pull request sinc

[2021-08-23 11:06] baturaysoysal opened #60779 "[BUG] sdb.get_or_set_hash does not work with Vault"
**Description**
I tried using `sdb.get_or_set_hash` function with Vault as SDB backend. While `sdb.get` and `sdb.set` works flawlessly, I could not get `sdb.get_or_set_hash` working, when creating a new secret.

Here are the scenarios I tested:
- `salt 'myminion' sdb.set 'sdb://myvault/salt/test/password' 1234`
  - WORKS 100%
- `salt 'myminion' sdb.get 'sdb://myvault/salt/test/password'  `
  - WOR

[2021-08-23 13:11] OrangeDog commented on #60779
I assume it's because it's doing a `get` on a non-existent secret. Is there a setting or permission in Vault to make it return 404 in that case instead?

[2021-08-23 13:36] OrangeDog commented on #60749
I can confirm that the gitfs backend doesn't update by itself any more.

[2021-08-23 13:40] TheBirdsNest commented on #60025
Thanks @dmurphy18

I just checked and its not in our release:

[code]

[code]

[2021-08-23 14:05] baturaysoysal commented on #60779
I think the issue is more likely to be on the `set` portion of `sdb.get_or_set_hash`.

Running these commands on the minion with `salt-call` shows more verbose output, plus I added some print statements to the code. As you can see, the `get` part succeeds, a random hash is generated, but it cannot POST the new value.

Only `get` (I don't think the ERROR line is important, it is handled and result

[2021-08-23 15:15] OrangeDog commented on #60765
Running minions newer than the master is not generally supported, especially across two major versions.
You are also using versions with critical security issues.
If you synchronise everything to the same version (e.g. 3000.9 or 3002.6) does everything then work correctly?

Ubuntu 16.04 is also not supported, being EOL.

[2021-08-23 15:49] dmurphy18 commented on #60025
I checked out the tagged release and it was in the copy of the code.  Let me check installed code.

[2021-08-23 16:09] network-shark commented on #60025
I still see those messages with 3003.2 .

[2021-08-23 16:45] #60749 closed

[2021-08-23 16:50] dmurphy18 commented on #60025
@TheBirdsNest @network-shark Apologies, I must have fat-fingered the git checkout for tag v3003.2 and got master branch when I thought I had v3003.2.  You are correct, the fix will appear in the Silicon release, see https://github.com/saltstack/salt/commit/a5d95458fed3a799243f956dbf6387b58757e99d

Apologies for the confusion. I thought it had made it into 3003.2 but must have just missed the cutof

[2021-08-23 18:35] waynew commented on #26605
@sagetherage I think we should downgrade the severity here, unless someone can show otherwise it looks like the `exclude_pat` should work.

I just tried with this:

[code]

This will not remove the expected file.

It will remove other files from the directory. (There are some other wonky things happening with file.directory when not using exclude_pat, but.... seems like we do have a reasonable wor

[2021-08-23 18:58] dmurphy18 commented on #60724
@ecstuchi Sorry for the delay in looking at this, but examining rhel7/packages.sls file I notice a number of .i686 packages and with RedHat 7 being x86_64 wondering why ?, even though x86_64 is available.  Just curious in case there is some 32-bit / 64-bit interaction possibly occurring.

[2021-08-23 19:22] sharkbruhaha commented on #36987
Was this ever actually addressed?

Would like to see this change if not.

[2021-08-23 19:33] ecstuchi commented on #60724
@dmurphy18, That's due software requirements we have, so supporting native i686 libraries on a x86_64 system.
Usually that's not a problem. And I don't know why that would correlate with accessing the key in the data structure.
All our systems are mostly equal and it's strange that the error is coming from the salt client while processing the minions.

I'm not certain, but it seems that I only get

[2021-08-23 20:02] javierbertoli commented on #26605
@waynew, sorry, but I fail to see how can `exclude_pat` help in the particular example that originated this bug report?

Usually, a formula managing an application and providing a repository for it, will add a file under the `/etc/apt/sources.list.d` directory.

So say that I have, originally, this situation:
[code]

Then, I add 2 formulas, with repos, which add these entries
[code]

And I add the

[2021-08-23 20:24] dmurphy18 commented on #60724
@ecstuchi I was just curious, given Salt does not support 32-bit since RHEL 6, (please ignore the 32-bit Arista built from AltArch Centos 7 running on Fedora Core 18 and up :) )

thanks for the info on batch mode

[2021-08-23 20:31] ggiesen opened #60780 "[FEATURE REQUEST] Expanded architecture support for Juniper Native Minion"
**Is your feature request related to a problem? Please describe.**
The Juniper native minion currently only supports the x86_64 architecture. I'd like to see that expanded to support additional devices.

**Describe the solution you'd like**
Build for the following architectures

ARM (32-bit): EX2300/EX3400
PPC (32-bit): EX series, MX5/MX10/MX40/MX80/MX104
MIPS (32-bit): Low-end SRX
x86 (32-bit): v

[2021-08-23 20:50] dwoz opened #60781 "[TECH DEBT] Clean up bare/broad exception handling"
### Description of the tech debt to be addressed, include links and screenshots

Clean up exception handling of bare exceptions and/or overly broad exceptions..

Things like this:
[code]

Should be excepting a specific exception if we know what we are trying to handle. Otherwise we should at least be logging what went wrong so we can more easily narrow down the scope of the exception in the future

[2021-08-23 21:46] cmcmarrow commented on #51741
@grichmond-salt I got the same warning on 3001 but on master I no longer get this warning on master.
I used msgpack==0.6.2.
I looked around for any other encoding args/warnings that would bother you and did not see any.
If you see anymore warnings pls reopen the PR and given the commanded you ran to give it.
Here is the PR that fixed the problem https://github.com/saltstack/salt/pull/51262.

[2021-08-23 21:46] #51741 closed

[2021-08-23 22:38] dmurphy18 commented on #60780
@ggiesen I will bring this up during the planning meeting, but I feel this may become a user-contributed project due to limited resources.

The Juniper native minion repository on GitLab has been moved to the open side of the house but his still private, since it currently has a Juniper Cert which cannot be made public.  Discussion is on-going as to altering the CI/CD pipeline to ensure that the c

[2021-08-23 23:06] ggiesen commented on #60780
@dmurphy18 I'm just opening this issue to document the request, and didn't figure it would happen before the build pipeline has been opened and myself or someone else from the community is able to attempt building.

[2021-08-23 23:08] dmurphy18 commented on #60780
@ggiesen No problem, good to get it tracked so it doesn't slip between the cracks

[2021-08-23 23:25] sharkbruhaha opened #60784 "[DOCS] salt.states.service.running confusing discrepencies"
**Description**
Unclear on what options available in state.service
https://docs.saltproject.io/en/latest/ref/states/all/salt.states.service.html#salt.states.service.running

In the example in the top, there is a "reload" option for service.running, but then in the running section it is not shown as an option. What on the page is correct and what is outdated/wrong?

**Suggested Fix**
Update doc to

[2021-08-23 23:30] sharkbruhaha opened #60785 "[DOCS]"
**Description**
Numerous items have "_False_" or "_True_" concatenated with the option name, making it confusing/hard to read.

(The screenshot attached is not the only occurrence of it, please review the whole page. I've also stumbled on this on other pages in the past, but didn't have a chance to submit ticket for it, so would be worth running a grep against your docs to find other occurrences)

[2021-08-23 23:35] waynew commented on #26605
That's exactly the workaround, adding the managed files to the `exclude_pat` -- or in your example which is actually quite a bit better, just have the exclude pattern be `salt_managed_*` and for any states/formulas/etc. added they would need to set the repo filename to :point_left:.

If this didn't work (say, `exclude_pat` didn't exist, or that functionality was broken) then there wouldn't be a wo

[2021-08-24 00:34] atroche commented on #22386
FWIW I'm have the same problem as mentioned above, where none of my 50+ minions are showing as present (despite being there in the results of `manage.up`).

[code]

Any ideas?

[2021-08-24 03:32] anderbubble commented on #46891
I have this issue. At least, I think I have the issue that @MatthiasKuehneEllerhold originally reported. I am not convinced that all of the problem determination in this thread is the same issue.

Here is what I think is happening.

Salt appears to construct Thin Salt in `thin_dir`. Salt also appears to use the eventual value for `thin_dir` on both the calling `salt-ssh` host and the called remote

[2021-08-24 06:36] xanderificnl opened #60786 "sha256 & ssh_known_hosts"
**Description**
Fingerprints generated by `ssh-keygen` in sha256 format aren't accepted by `ssh_known_hosts`

**Setup**
Single user machine (not using salt-master. Simply salt-call). Simple file:

[code]

**Steps to Reproduce the behavior**
GitHub's fingerprints can be found [here](https://docs.github.com/en/github/authenticating-to-github/keeping-your-account-and-data-secure/githubs-ssh-key-finge

[2021-08-24 09:07] #59070 closed

[2021-08-24 09:59] fangpsh opened #60787 "[BUG] module.run:service.systemctl_reload broken on 3003.2"
**Description**
module.run:service.systemctl_reload broken on 3003.2.
3002.1  works fine.

**Setup**
minion config:
[code]

sls:
[code]

**Steps to Reproduce the behavior**
Modify local salt-minion.service, add some comment #xxxx, then salt-call  state.apply  sls.

**Expected behavior**
 if salt-minion.service file has changed, module.run will call  systemctl reload.

**Screenshots**
output:

[cod

[2021-08-24 10:10] marbx commented on #60122
No longer an issue

[2021-08-24 10:10] #60122 closed

[2021-08-24 10:16] marbx commented on #55179
This is no longer an issue for me

[2021-08-24 10:16] #55179 closed

[2021-08-24 11:03] OrangeDog commented on #60787
You have `use_superseded: [module.run]` but are not using the new format:
[code]
This should not have been working in 3002.1 either.

It's also worth noting you should not be touching files in `/usr/lib/systemd`.
To adjust the service definition add a drop-in to `/etc/systemd/system/salt-minion.service.d/`.

[2021-08-24 11:03] #60787 closed

[2021-08-24 11:07] #49130 closed

[2021-08-24 11:13] OrangeDog commented on #60784
The `reload` parameter is part of the `mod_watch` function, which are passed via the same state parameter list, regardless of what the actual state function is.

I believe this is explained in the requisites documentation, but never in any of the actual state documentation.

So nothing on the page is wrong or outdated, it's just confusing.

[2021-08-24 15:35] #59063 closed

[2021-08-24 15:43] #57786 closed

[2021-08-24 15:45] #60241 closed

[2021-08-24 15:45] #60755 closed

[2021-08-24 15:57] #60671 closed

[2021-08-24 16:11] #58519 closed

[2021-08-24 16:16] #55663 closed

[2021-08-24 16:42] garethgreenaway commented on #60520
@meaksh Thanks for the update.  Would you be able to get a fix ready for the Phosphorus release (release after Silicon)?

[2021-08-24 16:57] waynew commented on #60413
@bzukdatto does this also fail for you on 3003.2?

I'm unable to reproduce this.

Here's a zip file with my docker-compose setup.

[60413.zip](https://github.com/saltstack/salt/files/7040762/60413.zip)

[code]

Then do a `docker compose exec master /bin/bash`. In that container

[code]

The minion `kevin` is directly connected to the master, and does not ping. bob, configured in the acl, works jus

[2021-08-24 17:03] garethgreenaway commented on #60663
Sounds like the invalid minion key was the cause here.
@cdy668 If the issue is resolved can you let us know what the solution was, so we can go ahead and close this one out.  Thanks!

[2021-08-24 17:04] waynew commented on #60641
Yep. That blows right on up, exactly as reported! :joy:

[2021-08-24 17:05] garethgreenaway commented on #60679
@vladaurosh Following up on this one, did the solution mentioned above resolve the issue for you?  Thanks!

[2021-08-24 17:16] waynew commented on #60641
Darn. I remembered working on something here recently - turns out it was https://github.com/saltstack/salt/pull/57103 -  and hoped it was related but reader, it was not related.

[2021-08-24 17:20] garethgreenaway commented on #60699
@cbosdo FYI.

[2021-08-24 17:20] garethgreenaway commented on #60700
@cbosdo FYI.

[2021-08-24 17:26] garethgreenaway commented on #60741
@ReigenDing Thanks for the report.  Based on the error above it looks like maybe the functions in the library being used were changed but the proxy minion is trying to use the previous function names.  As a workaround are you able to use an older version of the pynso library?

[2021-08-24 17:29] twangboy commented on #60721
I can confirm that both commands work under 64bit powershell.
The first command fails with the above error on 32bit powershell, the 2nd succeeds.

I suspect you are running the 32bit minion on 64bit Windows.

[2021-08-24 17:37] bsjaekel commented on #8882
What needs to be done to get this merged? Bring the feature to a new branch, add some tests and open a new PR?

[2021-08-24 17:38] dmurphy18 commented on #57542
Closing this as will not implement feature request.
The issue was discussed in the core team planning meeting and it was decided to not implement the requested functionality, as that too many changes would have to be implemented in Jinja2 and YAML and it would be a departure from Jinja2 and YAML functionality that Salt did not want to support.

If Jinja2 and YAML should ever support this functiona

[2021-08-24 17:38] #57542 closed

[2021-08-24 17:40] #60177 closed

[2021-08-24 17:40] #60581 closed

[2021-08-24 18:04] #56924 closed

[2021-08-24 18:23] waynew commented on #60641
I'm not 100% sure, but I *think* something is going wrong in the `check_requisites`. All of the requisites are completed for `bug-remove-outdated-build`, yet it's still using `self.pre` as the run_dict which seems... off :thinking:

At the very least we should be detecting a cycle here, if not just fix this entirely, because I'm pretty sure it can be fixed :suspect:

[2021-08-24 18:28] bzukdatto commented on #60413
@waynew so, it's not clear from the above, but the test.ping suceeded to both kevin and bob?  The issue I'm seeing is that all requests to minions that are connected to a syndic are allowed, despite the acl saying it shouldn't be (ie, I would expect "salt kevin test.ping" to fail due to the acl.

I have not tested on 3003.2.

I'll try to build out your docker setup and verify as well.

[2021-08-24 22:47] xeacott commented on #60103
hey @AlSpirkin I think i got it. Read from https://eprints.usq.edu.au/8673/1/Moffatt_MComp_Dissertation.pdf and it does indicate the following on page 36:
[code]
so previously we were setting the bits to a hex value of 6 whereas we actually want a value of 0. I'm going to push a PR would you mind testing?

[2021-08-24 23:23] waynew commented on #60413
No - the ACL worked exactly as expected:

Only the functions and the minions listed in the ACL worked. Everything else returned an authentication error.

[2021-08-25 02:42] yun14u commented on #60568
I'm not sure if my comment is relevant; however, Vultr is no longer supporting V1 API ([v1](https://www.vultr.com/api/v1/)).  The entire vultrpy.py driver needs to be revamped for V2 API ([v2](https://www.vultr.com/api/)) which requires a lot of code rewrite.

[2021-08-25 04:13] auphofBSF commented on #46665
I Have observed in minion `tail target-logs -f` and `journalctl -f` rich sources of logging that could be useful in providing a more automated progress feedback., is there any work current or in planning at Saltstack to provide some progress reporting in running a particular salt state

I often find my `salt-ssh <target> state.apply <some state>` failing with what seems like an ssh timeout. howeve

[2021-08-25 05:45] darkpixel commented on #53706
I'm definitely seeing some weirdness in 3003.1 related to creating shortcuts on Windows Server 2019.

[code]

[code]

If I remove the ```icon_location``` line, it creates the shortcut.  I just have to manually go into the file properties and assign the icon myself.

[2021-08-25 07:47] cbosdo commented on #60700
@dseomn Thanks for the feature request: after 7 years working on and with libvirt I wasn't aware we could autostart domains!

Since the `virt` module already has the function for it, it just means adding the feature on the `virt.running` state. I would be happy to help you work on such a simple change!

[2021-08-25 07:53] cbosdo commented on #60699
Thanks for the feature request. The `on_reboot` event is already handled. The `on_crash`, `on_poweroff` and `on_lockfailure` could be implemented in a similar way.

For anyone who would like to have a go at implementing those, here is the commit adding the `on_reboot` parameter to get inspiration from: https://github.com/saltstack/salt/commit/9714bd00fac8080d0f294532b98a49542c70051f. I would be ha

[2021-08-25 08:50] vladaurosh commented on #60679
Hello @bryceml @garethgreenaway

Sorry for late reply.

I've tried what bryceml suggested but it didn't work:
[ERROR   ] AWS Response Status Code and Error: [400 400 Client Error: Bad Request for url: https://ec2.eu-west-1.amazonaws.com/?Action=RegisterImage&Architecture=x86_64....]
{'Errors': {'Error': {'Code': 'InvalidRequest', 'Message': 'The request received was invalid.'}}, 'RequestID': '....

[2021-08-25 09:09] s0undt3ch commented on #60760
A possible fix can be:
`vals = {to_bytes(val) for val in _toset(vals)}` based on the suggested https://github.com/saltstack/salt/commit/ea30f817942c9c5ee59bbd19b1c0fbcee8102844 change

[2021-08-25 09:19] s0undt3ch commented on #58893
I believe that should stay. It's a way to separate key handling logs from master logs...

[2021-08-25 09:21] OrangeDog commented on #60760
@s0undt3ch that won't give you an `OrderedDict`, and it won't be comparable to other `_toset()` returns.

[2021-08-25 12:50] baby-gnu commented on #60188
I tried to look at the code to see if I can see something but it's a little too complex for my skills, I'm lost between [`salt.template.compile_template()`](https://github.com/saltstack/salt/blob/6fbd8f66cb34bd5e0fcd6a8105ef0b17f19191ec/salt/template.py#L26), [`salt.renderers.jinja.render`](https://github.com/saltstack/salt/blob/6fbd8f66cb34bd5e0fcd6a8105ef0b17f19191ec/salt/renderers/jinja.py#L43)

[2021-08-26 08:00] colttt opened #60795 "[BUG] zabbix_host.present groupid is missing"
**Description**
When I try to create a host via zabbix states, it doesn't work, but I think I've everything in the sls file.

Edit: it looks like that it only happens to hosts that are already exist/ that are created manually in the past
[code]
**Setup**
we use zabbix 5.4.1

[code]

**Expected behavior**
Just to add a host in zabbix

**Versions Report**
<details><summary>salt --versions-report</su

[2021-08-26 11:08] colttt opened #60796 "[BUG] zabbix_host.present KeyError: 'bulk" if you add again a host"
**Description**
When I run a high state and my states add a new host it works fine, if I run it again, I get an error.

first time
[code]

second time
[code]
**Setup**
we use zabbix 5.4.1

[code]

**Expected behavior**
Just to add a host in zabbix

**Versions Report**
<details><summary>salt --versions-report</summary>
(Provided by running salt --versions-report. Please also mention any differences

[2021-08-27 17:15] hirez-masmith opened #60801 "[BUG] AzureFS doesn't work with latest versions of the Azure.Storage wheel"
**Description**
AzureFS filesystem module does not function with latest versions of azure-storage wheel due to missing __version__ attribute within their wheel.
Microsoft has said they won't be fixing it.
https://github.com/Azure/azure-storage-python/issues/535

**Setup**
Add `azurefsfs` (extra FS needed due to https://github.com/saltstack/salt/issues/58041) to fileserver configuration after roots

[2021-08-27 23:19] bryceml opened #60803 "[FEATURE REQUEST] support the aws ipv6 metadata and ec2 api endpoints"
**Is your feature request related to a problem? Please describe.**
- [ ] https://aws.amazon.com/about-aws/whats-new/2021/08/Ipv6-amazon-ec2-metadata-time-sync-vpc-dns/

AWS now supports fetching instance metadata, such as instance profiles, over the ipv6 endpoint fd00:ec2::254 instead of the ipv4 endpoint 169.254.169.254.

A quick grep through the code shows a few hard-coded places:

[code]

- [ ]

[2021-08-28 11:09] vskubriev commented on #57750
In previous job stardust was fine. 10 minutes ago next job with id `20210828105413286575` shows that stardust is failed:

To be more precisely:

![image](https://user-images.githubusercontent.com/4639077/131215978-b6c2a5be-ffb2-48bd-a6cf-a69f2ef9b8c5.png)

Correspond logs from master.

![image](https://user-images.githubusercontent.com/4639077/131215919-5b5e7f13-fc93-441b-97a3-5d0baa923e41.png)

i

[2021-08-28 11:16] vskubriev commented on #57750
Also I suspect that it can be issue with keepalive master from minions. I don't use any keepalive, ping, master_tries overrided from default settings. But I'm going to use them soon.With default minion settings there is no possibility of maintaining the required minion states. Especially in my environment.

[2021-08-28 21:34] alias454 opened #60805 "[BUG] Installing boto3/botocore breaks the salt-minion due to urllib3 version incompatibility"
**Description**
Installing boto3/botocore breaks the salt-minion due to urllib3 version incompatibility

**Setup**
Running in a KVM VM on CentOS 8

**Steps to Reproduce the behavior**
Install salt-minion as normal
Install boto3 like normal - python3 -m pip install boto3
Restart salt-minion and get the following error

[code]

**Versions Report**
<details><summary>salt --versions-report</summary>
(

[2021-08-29 06:00] damon-atkins opened #60807 "[DOCS]"
**Description**
Standards Documentation for states with regards to changes.

**Suggested Fix**
Seems it needs to be clear more.  Provide sample output for new, existing and removed
State if the recommendation is to always to perform a diff rather than something different, using the standard salt diff for a hash.
Provide an example of using the salt diff for a hash.

**Type of documentation**
Writi

[2021-08-29 12:47] damon-atkins commented on #51621
@saltstack/team-windows  I suspect this has been resolved by having facts not run every time a new thread is started._

[2021-08-29 12:49] damon-atkins commented on #51621
@saltstack/team-windows  I suspect this has been resolved by having facts not run every time a new thread is started

[2021-08-29 12:52] OrangeDog commented on #60807
There is no standard to document, though it's a bit of a chicken-and-egg problem.

Different states can and do return anything they want for changes, and signify different things in different ways.

[2021-08-29 13:03] damon-atkins commented on #60807
@OrangeDog the doco hits at changes should contain high level `old` and `new` to indicate what is new (added/changed) and what is old (removed).    This should be based on the before vs after.  As salts method is to   read current value using a execute module and save the results, then call execute module to change it, then read current value using a execute module again. The set `changes` to diff

[2021-08-29 13:06] OrangeDog commented on #60795
In #60796 it appears you're not actually running the latest Salt minion.
There were major changes to the Zabbix module in 3003, covering many fixes.

[2021-08-29 13:08] OrangeDog commented on #60807
Some states do that, sure. Many do not. Especially when there is nothing straightforward to diff.

[2021-08-29 16:19] tjyang opened #60809 "[DOCS] Adding gitlab config info in GIT FILESERVER BACKEND WALKTHROUGH"
**Description**
After following through R1 doc and a few issues here in the past,  I am still not able to have a good gitfs from gitlab server.

**Suggested Fix**
Can I trouble dev or doc team to add info specifically for gitlab backend server ?

**Type of documentation**
how to enable gitfs on  SaltStack server (version above 3003) to gitlab repository ?

**Location or format of documentation**
R

[2021-08-29 21:54] DaAwesomeP commented on #54449
I am in nearly the exact same environment as @rhbvkleef and have the same issue. I have tried both `python3-docker` via apt and `docker==4.4.4`, `urllib3==1.26.6`, and `requests==2.26.0` via pip.

Another issue mentions installing `docker`, `urllib3`, and `requests` via pip, but I think this might not work because the salt apt packages depend on `python3-requests`, etc.

[2021-08-29 22:42] OrangeDog commented on #60809
There's nothing special about GitLab. The only difference would be the URL says "gitlab" instead of "github".

[2021-08-29 23:19] tjyang commented on #60809
@OrangeDog,

Can you please try to  provide a simple and working example like following ones ?

- The error lines below are the one I see from /var/log/salt/master

[code]

- Let me know if you need further details from my test box.

[2021-08-30 04:32] piterpunk commented on #60795
Hi @OrangeDog

While it's true that the logs on #60796 shows an outdated zabbix module, the bug here is related to Zabbix itself. To be more specific, to the fix of [ZBX-18075](https://support.zabbix.com/browse/ZBX-18075).

I just built a Zabbix 5.4 test environment and was able to reproduce the error:
[code]
Previous versions accept this as a valid call:
[code]
But, in my tests, to achieve the sa

[2021-08-30 09:56] OrangeDog commented on #60809
What versions of pygit2 and libgit2 to do you have and how were they installed?
The second version should work, but only if libgit2 has ssh support.

[2021-08-30 13:05] AlSpirkin commented on #60103
@xeacott I have tested it. Now "This folder only" is always applied, regardless of the settings specified in the .sls file. Besides, when the salt-minion service is restarted, the "Applies to" settings of its folder are changed to "This folder only" and the service will not start.

[2021-08-30 13:51] tjyang commented on #60809
-  I followed the doc at https://repo.saltproject.io/#rhel using latest version.
- Using git:// protocol is currently working on CentOS 7 instance but not newer version of salt and CentOS 8.
- Please see details below from "/usr/bin/salt-master -V", I can test this on CentOS 8 or RHEL 8 if you like.
<details>
Salt Version:
          Salt: 3003.2

Dependency Versions:
          cffi: 1.11.5
      c

[2021-08-30 15:40] ScriptAutomate commented on #59421
Update: The repo https://gitlab.com/saltstack/open/docs/salt-install-guide is created for this purpose, as an install guide and for having the install directions existing on a different domain. The goal is to get this into `docs.saltproject.io/salt/install-guide` as an endpoint. This is a WIP at the moment, as it is meant to combine the install docs that exist in this repo and the install docs tha

[2021-08-30 15:57] waynew commented on #58763
To document discussion on this issue - deprecating module.run will break _everything_, and is undesirable. The new style is better for most cases by why break what we don't have to? Removing either syntax will break *something* for *someone*.

Since the syntax *should* be unambiguous, the plan is to make the config flag a noop, and pick which run-style based on the actual state declaration.

---

[2021-08-30 16:48] xeacott commented on #60103
Yeah, I just wanted to make sure this specific edge case was working for you. my next push will have it all good to go

[2021-08-30 17:01] ScriptAutomate commented on #54378
Just wanting to get confirmation on what this involves:

**The [`cmd.run` documentation](https://docs.saltproject.io/en/latest/ref/states/all/salt.states.cmd.html#salt.states.cmd.run) needs to have the `group` arg**

I do not see this as a function arg, which seems to be part of the problem:

https://github.com/saltstack/salt/blob/4459ffe5770e380d60711f6957f99a4c54548e63/salt/states/cmd.py#L622-L6

[2021-08-30 17:12] ScriptAutomate commented on #57654
@doesitblend Is the suggested fix to add something like another bullet point to the **SLS File Namespace** section, for **step 2**, like so:

[code]

[2021-08-30 17:15] Ch3LL opened #60814 "[FEATURE REQUEST] Allow the rpm lowpkg module to use a different library for comparison"
Will close this issue as well: https://gitlab.com/saltstack/open/salt-pkg/-/issues/36

For the new tiamat packages we want to try to avoid including the python-rpm library because it is not a pure python implementation and would require us to build a python-rpm package into each tiamat build per each OS.  We also do want to avoid requiring the usage of rpmdev-vercmp because it requires installing

[2021-08-30 17:23] bryceml commented on #60809
gitlab.com does not support the git protocol, only ssh and https.

[2021-08-30 17:39] tjyang commented on #60809
@bryceml , Thanks for the update only ssh and https protocols are supported on gitlab.com. I am using gitlab.com as example , my target is private gitlab-ce in intranet.

In the R1 doc, Can a section with  working example of using ssh or https protocol with gitlab  be added ?

[2021-08-30 18:06] sootythebear opened #60816 "[BUG] Elasticsearch module execution via proxies fails with requests version 2.26.0"
**Description**
When using the elasticsearch module, where the communication is configured to use "proxies" within the elasticsearch profile, the module fails if the Python environment has **requests** version **2.26.0** installed. The module, same profile, does not fail if the **requests** version is **2.25.1** is used.

**Setup**

Please be as specific as possible and give set-up details.

- [x]

[2021-08-30 18:09] OrangeDog commented on #60809
It already has `https://` and `git@` examples. That's why I said that one should work, not the `git://` one.

That's not libgit2, that's GitPython. Have you actually got libgit2 installed, and if so what version? Have you got libssh2 as well?

The documentation has all the details you need:

[2021-08-30 18:18] tjyang commented on #60809
@OrangeDog

I am testing both pygit2 and gitpython backend thus the python3-GitPython rpm install, thanks for correction about libgit2.
libssh2 rpm was missed and now just installed, let my try "git@" protocol again.

[2021-08-30 18:22] #59939 closed

[2021-08-30 18:39] tjyang commented on #60809
-  Using git@ protocol with gitlab.com

[code]
- errors
<details>

2021-08-30 14:33:33,378 [salt.utils.gitfs :1877][ERROR   ][882815] Unable to fetch SSH-based gitfs remote 'ssh://git@gitlab.com/tjyang/mysalt.git'. You may need to add ssh:// to the repo string or libgit2 must be compiled with libssh2 to support SSH authentication.
Traceback (most recent call last):
  File "/usr/lib/python3.6/site-

[2021-08-30 19:21] tjyang commented on #60809
- This is what I found out, libgit2 rpm in  RHEL/CentOS/OL 8 not compiled with libssh2 support.
[code]

[2021-08-30 19:58] sootythebear commented on #60816
Reviewing the requests code, a rebuild_proxies() function was added at 2.26.0.

Issues have been raised around this function, and the following PR is presently open:
[https://github.com/psf/requests/pull/5893](https://github.com/psf/requests/pull/5893)

[2021-08-30 20:24] tjyang commented on #60809
- RL8: Re-enable libgit2 to use libssh2
[code]
- with ssh:// protcol in master file.

[code]
- verification

[code]
- In summary for running python3 salt-master on RHEL/CentOS/RL8
- ssh:// protocol works  if libgit2 rpm got recompiled to build with libssh2.
- https:// protocol works without recompiling libgit2 rpm work but account password is explicitly declared.

[2021-08-30 20:31] doesitblend commented on #57654
We can probably just update this line

to the following

It's already mentioned earlier in the document, so this would just be a little reminder of this fact to those are just referencing, or reviewing this document for specific information.

[2021-08-30 20:34] sootythebear opened #60817 "[FEATURE REQUEST] Elasticsearch Module: Add API Key Authentication option"
**Is your feature request related to a problem? Please describe.**
For Elasticsearch modules, please add the ability to authenticate with an API Key. Elasticsearch has provided this option since 6.7.0.

**Describe the solution you'd like**
The API Key would be added as an option to the Salt Minion's Elasticsearch profile configuration.

Elasticsearch.py can utilize either the "id" and "api_key" co

[2021-08-30 20:56] whytewolf commented on #60809
so, i know you found your answer but I just wanted to say. there is an easier way to install pygit2 instead of messing with the odds and ends of dependencies that libgit2 libssh and all that has. `python3 -m pip install --upgrade pip && python3 -m pip install pygit2` This will install the wheel version of pygit2 which includes the libraries already compiled. you have to upgrade pip3 first to get t

[2021-08-30 21:20] nergdron commented on #60479
@waynew finally got a chance to do this, SEP is here: https://github.com/saltstack/salt-enhancement-proposals/pull/58

[2021-08-30 21:53] tjyang commented on #60809
@whytewolf
- Thanks for the easier way via pip3 without libgit2 rpm remake . following is the confirmation on my RL8 test box.
[code]
- Now, can  salt doc team add this info in a more clearer  way into [gitfs walkthrough doc]( https://docs.saltproject.io/en/latest/topics/tutorials/gitfs.html) ?

[2021-08-30 23:37] bzukdatto commented on #60413
I tried your configuration and I'm still seeing the same behavior -- if the minion is behind the syndic, acls aren't applied correctly.

This is also running master + syndic at 3003.2

[code]

[2021-08-31 05:17] dwoz commented on #60620
The following patch will fix this issue:

[code]

[2021-08-31 11:04] Ch3LL opened #60818 "[FEATURE REQUEST] salt/modules/aptpkg.py find an alternative to using python-apt"
Fixes this issue: https://gitlab.com/saltstack/open/salt-pkg/-/issues/38

This issue is created to track adding an alternative solution to using python-apt. We want to avoid using a c-implementation library in our tiamat packages, because it would require building a package per OS and we want to create one that can run on any linux OS.

[2021-08-31 13:54] tjyang commented on #60809
The [reason why libgit2 missing libssh2 support in EL8](https://bugzilla.redhat.com/show_bug.cgi?id=1830319).
so the question is  the working pygit2-1.6.1  switched over to use libssh ?

[2021-08-31 15:31] waynew commented on #60818
Do we have an alternative package target?

[2021-08-31 16:51] Ch3LL commented on #60818
I have not found a pure python implementation library since creating this issue, other than a very old library on pypi that the team that manages python-apt stated they do not own and someone uploaded a version in 2012 and they do not want to upload to pypi. So my plan is to shell out with apt commands to replace the package repo commands that the current python-apt package is helping manage. (lis

[2021-08-31 17:05] garethgreenaway commented on #56390
This is believed to be fixed in Python 3.8 which will be shipped with the Silicon release.  Will revisit this issue once Silicon has been released.

[2021-08-31 17:06] Ch3LL opened #60819 "[TEST FAILURE] Mac tests are hanging on tests/integration/modules/test_mac_assistive.py"
The mac tests are hanging on this test: tests/integration/modules/test_mac_assistive.py

[code]

https://jenkins.saltproject.io/job/pr-macosx-mojave-x86_64-py3-pytest-slow/job/master/552/

[2021-08-31 17:07] Ch3LL opened #60820 "[TEST FAILURE] test_issue_1959_virtualenv_runas failing on opensuse"
The test `tests.integration.states.test_virtualenv_mod.VirtualenvTest.test_issue_1959_virtualenv_runas` is failing on opensuse 15

https://jenkins.saltproject.io/job/pr-opensuse-15-x86_64-py3-pytest-slow/job/master/550/testReport/

[2021-08-31 17:11] garethgreenaway commented on #59418
Closing this one out due to the lack of activity.  If the issue persists please feel free to open a new issue.

[2021-08-31 17:11] #59418 closed

[2021-08-31 17:11] Ch3LL opened #60821 "[TEST FAILURE] Windows tests are timing out"
https://jenkins.saltproject.io/job/pr-windows-2016-x64-py3-pytest-slow/job/master/550/console
https://jenkins.saltproject.io/job/pr-windows-2019-x64-py3-pytest-slow/job/master/552/console

[2021-08-31 17:13] Ch3LL opened #60822 "[TEST FAILURE] gce test_instance_extra test failure"
The test tests.integration.cloud.clouds.test_gce.GCETest.test_instance_extra is failing:

https://jenkins.saltproject.io/job/pr-centos-7-x86_64-py3-cloud-pytest/job/master/795/

[2021-08-31 17:13] garethgreenaway commented on #59718
@ichilton Following up here and seeing if the issue is still persisting with the correct configuration option.

[2021-08-31 17:16] garethgreenaway commented on #60362
Closing this one out due to a lack of response.  If the issue persists please feel free to open a new issue.

[2021-08-31 17:16] #60362 closed

[2021-08-31 17:18] garethgreenaway commented on #60390
Closing this one out due to the lack of response.  Please ensure you're running the latest available version of Salt, 3003.2.  If the issue persists please open a new issue.

[2021-08-31 17:18] #60390 closed

[2021-08-31 17:22] garethgreenaway commented on #60410
Closing this one out due to lack of responses.  At the time we do not believe that this feature is something that is needed in Salt.

[2021-08-31 17:22] #60410 closed

[2021-08-31 17:41] waynew commented on #60818
:grinning:

That seems reasonable to me - `apt-get` is considered a well-defined API for use via tools, so I have no qualms there :+1:

[2021-08-31 17:43] waynew commented on #60767
Hey @mturra-Pro thanks for the report! I'm going to take a look at this to see if I can reproduce. If there's more details that you can share to make this a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example) that would be awesome. Otherwise, I'll just do what I can :+1:

[2021-08-31 18:49] waynew commented on #60767
Reporting back - I wasn't able to reproduce this. I got a master/minion setup on the same box and wrote a simple custom module that just slept for a configurable amount of time. It did not cause any failure, even running the watch statement.

@mturra-Pro  Can you narrow it down any further? Does it only appear when you're running several steps as part of the orchestration?

[2021-08-31 20:39] garethgreenaway commented on #60188
Looks like the fix in https://github.com/saltstack/salt/pull/60811 solves this issue in additional to another one.

[2021-08-31 22:35] jtraub91 opened #60824 "[BUG] Multiple hot masters configuration does not work as expected"
**Description**
When configuring a minion in a redundant master setup, where all masters are "hot", the job returns are only sent to the master that issued the command, rather than all.

**Setup**
Install `salt-master` on two separate machines. Copy the `master.pem` and `master.pub` from one machine to the other so that they have the same keys.

Install `salt-minion` on a separate machine and conf

[2021-09-01 03:52] doesitblend commented on #57546
I tried to see if copying the win_lgpo.py module form 3002.2 would work to override the 3003.1 module and resolve the issue, but it did not. I then tried removing the `\salt\var\cache\salt\minion\lgpo` directory in the hopes that having these files recreated using the 3002.2 version of the module would help resolve the issue.

[2021-09-01 08:13] morph027 commented on #51326
Coming here for the same, same reason, we're pinging master from time to time.

[2021-09-01 13:45] Nerigal commented on #60410
use case would be having a segregation of duty process

[2021-09-01 13:50] Nerigal commented on #60410
like for example all production server are under de default "base" env for pillar as well as states
base = master branch in a git
dev = dev branch
but no one can merge in master without following the merge request process which is long and take time
but in the Operational point of view when you have an incident this is not realistic
you may need to create a quick fix under a custom branch with for

[2021-09-01 13:53] Nerigal opened #60825 "[FEATURE REQUEST] Create a cli parameter to overwrite git_branch without affecting the pillarenv"
Create a parameter for cli to overwrite git_branch without affecting the `pillarenv`

[code]

`salt 'newinstance02' pillar.items pillarenv=dev`

Base on the above example, the current behavior is that `pillarenv` defined the branch but also overwrite the `env:` value
or this is at least the exact behavior i have right now with version 3003 for both master and minion

and in fact it is kind of stra

[2021-09-01 15:02] jtraub91 commented on #60824
This might be more of a feature request than bug, since I'm not sure what the expected behavior is. But, it would be nice if jobs were returned to all hot masters so that if the publishing master fails in the middle of a job, the job return data is not lost.

[2021-09-01 15:04] OrangeDog commented on #60825
Please do not open duplicates. Continue discussion on the original if necessary.

[2021-09-01 15:04] #60825 closed

[2021-09-01 15:59] garethgreenaway commented on #60760
@matwey Can you provide an example of the state you're trying to use with the `ldap.managed` state function?

[2021-09-01 15:59] dmurphy18 opened #60827 "[BUG] AIX native minion upgrade from 3003.1 fails"

[2021-09-01 21:25] garethgreenaway commented on #60760
Never mind, I was able to reproduce this one.

[2021-09-01 23:21] dwoz commented on #60620
Closing this as a duplicate of #60003

[2021-09-01 23:21] #60620 closed

[2021-09-01 23:27] #55159 closed

[2021-09-01 23:27] #60188 closed

[2021-09-02 01:16] garethgreenaway commented on #60760
Since `vals` is now a list using `extend` instead of update.  And since we want everything to be an `OrderedSet` popping that in too:
[code]

[2021-09-02 01:16] garethgreenaway commented on #60760
@matwey If you're able to test these changes that would be great, @OrangeDog any feedback is of course welcome.  Thanks!

[2021-09-02 05:21] piterpunk commented on #59754
I reopened this issue as the "fix" doesn't fix the bug, and makes things worst. Previously we're returning strings instead bytes, now we are returning wrong strings instead bytes.

While the change in `use_unicode` parameter correctly made MySQL to return data as bytes, we are later converting the bytes objects to strings. So, instead to return `b'something'` the returned data is `"b'something'"`.

[2021-09-02 07:37] lukasraska opened #60829 "[BUG] win_timezone.get_zone returns Unknown for timezones that begin/end with _/d/s/t/o/f"
**Description**
#59341 which was merged to fix part of #58379 introduced regression that results in timezone being reported as "Unknown" when the timezone starts or ends with one of following characters - `_`,`d`,`s`,`t`,`o`,`f`.

This happens because `str.strip` function (used in https://github.com/saltstack/salt/blob/v3003/salt/modules/win_timezone.py#L221)  uses the argument passed as list of c

[2021-09-02 08:51] baby-gnu commented on #59441
I looked in the salt core code recently because of #60188 and the caching issue is probably because salt does not use the [get_template API](https://jinja.palletsprojects.com/en/3.0.x/api/#jinja2.Environment.get_template) but load only [from string](https://github.com/saltstack/salt/blob/7275ecf/salt/utils/templates.py#L501).

[2021-09-02 09:18] wesley-c42 commented on #59418
Sorry for the late response. In the meantime I have upgraded to version 3003.2 and have not seen the issue occur. Before that I also tried the intermediate update to 3000.9, but still saw the issue occur.

When running on the older version is did clear out the pki directories multiple times, but the issue kept occurring.

Anyway, upgrading to the latest version seems to have fixed it. Before it wa

[2021-09-02 14:56] myii commented on #60188
This regression has been fixed going forward but there are still issues across various platforms, which I have shown a breakdown for in https://github.com/saltstack/salt/pull/60811#issuecomment-911772632.

[2021-09-02 16:59] lukasraska opened #60831 "[BUG] TCP transport can leave msgpack.Unpacker in broken state"
**Description**
Recently I came across few Windows minions that ended up in state where no job could be executed on them, while beacons any any returning data worked. The log details were following (two different types):

[code]
[code]

The issue could only be solved by restarting minion, reconnection to master (e.g. by restarting master) would not help.

While investigating this, I believe this m

[2021-09-03 00:15] noelmcloughlin commented on #59088
Combining `runas: myuser` with `user: myuser` fixed the issue for me on Ubuntu 20.04.
It took some time to discover that because `runas`  is undocumented at [virtualenv.managed](https://docs.saltproject.io/en/latest/ref/states/all/salt.states.virtualenv_mod.html)

[2021-09-03 06:49] piterpunk commented on #59754
@yiip87

Probably you saw the problem that I mentioned in my last comment. While fixing it a question bugged me: all data returned by mysql module should be byte streams? Or you're only interested in the output of `mysql.query` to be a byte stream?

I am asking this because the need to encode/decode every string doesn´t seems reasonable for daily use. Let's say I need to compare the user privilege

[2021-09-03 09:50] dfidler opened #60834 "[DOCS] Where to find"
**Description**

The commentary on the Solaris minion at the following URL is wrong.

https://docs.saltproject.io/en/latest/topics/installation/solaris.html

**Suggested Fix**

Solaris installation instructions page needs to be updated with lastest info on solaris minion (it was open sourced and enterprise.saltstack.com no longer exists).

**Type of documentation**
This could be Salt documentation

[2021-09-03 11:38] rajhotagit19 opened #60835 "documentation error in module "network.list_networks" usage"
### Description of Issue
There is a documentation error in network.list_networks module in CLI example. It should be corrected in documentation pages as well as in the salt binaries.

### Setup

Salt doc says that the module can be used as the given CLI examples, but that really throws an error.

[ ] $ sudo salt-call  sys.doc network.ip_networks
local:
    ----------
    network.ip_networks:

[2021-09-03 14:25] bilalcaliskan commented on #45623
is there anything new with the issue?

regards.

[2021-09-03 14:46] Oloremo commented on #54331
Hit something like that on 3003.2

I do a **grains.set** and **refresh_grains** after.
**grains_cache** is set to **False**.
Then I try to target minions based on just set grain and **sometimes** it doesn't work.

We have a CI that runs ~100 integration tests that all do more or less the same with grains.set and so on. And like 20 out of 100 failed with that error.

Feels like there is some kind o

[2021-09-03 18:38] DaAwesomeP commented on #54449
I think some of the problem may be in that salt is installed via the system package repository and relies on packages like `python3-requests` and `python3-urllib3` of whichever version the OS repo provides. However, the Python docker library is installed via pip and and brings its own versions of `requests` and `urllib3` which salt may not actually use. Docker no longer offers `docker-py` as an sy

[2021-09-04 20:21] rhbvkleef commented on #54449
@DaAwesomeP, if you read my previous comment, you'll see that `requests` and `urllib3` are only installed once each, so there is no such conflict, although somehow the stacktrace looks like that's the only option. Is my find not complete somehow? Where else could these packages be installed?

[2021-09-04 20:36] DaAwesomeP commented on #54449
Saltstack depends on `python3-requests` at the OS level (i.e. this is install by APT on Debian as it is a dependency of salt-common). These are installed to `/usr/lib/python3/dist-packages/` .You will also notice a `urllib3` and `requests` here if you run `apt-get install python3-urllib3 python3-requests` (though requests should already be there if salt is installed).

However, pip is able to prov

[2021-09-05 07:47] dereckson commented on #39673
We can also repro with Salt 3003.2 under FreeBSD 13.0-RELEASE-p2.

[2021-09-05 09:31] tjyang commented on #60809
- Notes:
    - A: " recompile libgit2 rpm with "-DUSE_SSH=ON" in spec file
    - B:  "sudo python3 -m pip install --upgrade pip && sudo python3 -m pip install pygit2"
         - Feel like 2x slower when doing  "time sudo salt-run fileserver.file_list", compared with option A.

[2021-09-05 10:07] tjyang commented on #60824
I have a mult-masters setup also and I follow @jtraub91's procedure to confirm this bug/RFE.
One RFE for doc ,  Can "master_type = str" be changed  "master_type = hot" ? "str" reads like "string" to me.

[2021-09-05 10:24] OrangeDog commented on #60809
It's not a question of version number. Pip installs a pre-built binary that includes a libgit2 with SSH support.

That's interesting. Is it actually 2x slower, or does it depend on caching and the like? Perhaps the .whl build has fewer optimisations enabled in order to be more compatible.

[2021-09-05 11:14] tjyang commented on #60809
@OrangeDog , Thanks for the reply. I will make  a comparison with real number.

[2021-09-05 14:39] tjyang commented on #60809
- A simple comparison of "time sudo salt-run fileserver.file_list" using same remote gitlab server.
[code]

[2021-09-06 06:34] baturaysoysal commented on #60779
Meanwhile, I had another finding.

I tried to implement the "get, if empty result, then set" logic in the state file I am trying to write, in order to develop a workaround (since this issue blocks our development process). The `get` is, again, successful. However, when I try to run `set` from inside a salt formula, it also fails with 403.

By adding a state:
[code]

From inside Jinja:
[code]

Both

[2021-09-06 06:39] max-arnold opened #60838 "[BUG] Dictionary-based beacon configuration is broken in 300x"
**Description**

A custom beacon that uses dictionary-based configuration and works on 2019.2 stopped working on 300x (not sure about the exact version). Likely this is another manifestation of https://github.com/saltstack/salt/issues/59075

The following exception will be visible in the minion log after a restart:

[code]

**Steps to Reproduce the behavior**

I reproduced this problem without a c

[2021-09-06 06:41] max-arnold commented on #60838
Cc: @garethgreenaway

[2021-09-06 07:06] yiip87 commented on #59754
@piterpunk

We use a module that wraps some of the functionality of the mysql module. This module broke with the upgrade from 2019.2.8 to 3000.8. My initial goal was to get the old 2019.2.8 behavior restored, because I was unable to find anything related to it in the changelogs.

Thinking about this again, this was also the time where the transition from Python 2 to Python 3 happened. As the comme

[2021-09-06 11:18] dmulyalin commented on #59167
Having same issue - salt returns VALUE_TRIMED after certain size - in my case it is about about 3000 lines of text - before that limit can see full output, after that limit VALUE_TRIMMED returned instead.

[2021-09-06 11:28] jrpersson123 opened #60840 "salt-minion with python 2.7.13 cmd.run / cmd.script does not work with match.grain"
### Description of Issue
I get the below error when using cmd.run or cmd.script with match.grain on SLES 12 SP4 mionion using python 2.7.13.  If I remove the match grain, it works.  If I use a different module for example file.managed it works.  There is only an issue when using cmd.* modules in salt states.  It works in sles 15 with python 3 but there is no upgrade path for salt-minion to use pyt

[2021-09-06 12:06] daks opened #60841 "[BUG] REST API (CherryPy) authentication problem since 3003.2"
**Description**

After upgrading from Salt 3003 to 3003.3, access to Salt-API using CherryPy does not work anymore. Login seems to never work.
*(in previous attempts, login was working but queries not... I can't reproduce this now)*

**Setup**

- server runs on Debian 9
- Salt version was 3003 before upgrading to 3003.3. I tested all versions between those and it breaks since 3003.2
- API uses fil

[2021-09-06 12:21] OrangeDog commented on #60841
There doesn't seem to be any Salt code involved in the error, though I'm not familiar with using the API.
Did you upgrade `cheroot` at the same time? Is this a .deb installation of Salt or a pip one?

[2021-09-06 13:17] daks commented on #60841
No salt code involved in fact, just access to the API.

Salt is installed using saltstack apt repository `https://repo.saltproject.io/py3/debian/9/amd64/archive/3003.3 stretch main`. I just upgraded salt-* packages without doing anything else.

I'm don't know about `cheroot` which is not installed (with apt or dpkg) on my servers. It may be bundled with salt.

[2021-09-06 14:28] Oloremo commented on #31109
Would be very helpful to have

[2021-09-06 15:01] mturra-Pro commented on #60767
How long does it takes your orchestration? The step to reproduce are too complicated to set outside my environment. My orchestrate command last 40 minute or more and I solved checking each 20 minutes instead of 30 seconds.
Can you do this test?

[2021-09-06 15:16] OrangeDog commented on #60841
You have cheroot installed in your system python, and that is what is erroring.
It should be from the package `python3-cheroot`.

What version have you got? According to [requirements.txt](https://github.com/saltstack/salt/blob/a46aa3a55c9ee43ded6ba2eed27270e89c1b4fa6/requirements/static/pkg/py3.5/linux.txt) it should be 6.5.4, which is also what the latest Debian 9 package says.
You are certain t

[2021-09-06 15:52] omegarus opened #60842 "[BUG] 3001.7 salt-proxy is not returning currently running job details."
**Description**

`saltutil.find_job <job_id_that_currently_running_on_salt_proxy>` is returning empty list but job is still running on salt-proxy.
We do not observe this behaviour with regular salt-minion on same version.

**Setup**
Both salt-master and salt-proxy is ubuntu18.04
salt-master running on VM
salt-proxy is running in a Docker.
salt-proxy ID: router-1.domain.com
**Steps to Reproduce the

[2021-09-06 16:44] OrangeDog commented on #60840
Different major versions between master and minions are not generally supported, nor are Salt 3000 nor Python 2.
Can you upgrade?

[2021-09-06 17:04] jrpersson123 commented on #60840
Hi, thanks for the reply.  What do you mean by: "nor are Salt 3000 nor
Python 2."

On Mon, 06 Sep 2021, 6:44 pm James Howe ***@***.***> wrote:

[2021-09-06 17:21] Oloremo commented on #54331
Ok seems like if I do that like this:
[code]

It works as expected.

Prior to this I set grains via state but did a refresh as a separate step via `salt \*  saltutil.refresh_grains` and I had a race.

[2021-09-06 18:10] mvintila commented on #43601
So returning 200 with empty files is the expected/correct behaviour, or why is this closed?

[2021-09-06 18:21] OrangeDog commented on #60840
I mean they're not supported either. You won't get any fixes to those.
If you upgrade and the issue is still there, then it can be fixed.

[2021-09-07 02:29] xeacott commented on #60353
Hey @TheDJVG sorry to leave ya hanging here. Was able to reproduce this and have added it to Phosphorous release, not entirely sure what's going on with the engines though but have it dialed down to a few problem areas...

[2021-09-07 04:07] jrpersson123 commented on #60840
Ok thanks. Can you help with a way to install salt minion on sles 12 so
that it uses python 3?  I have python 3 installed on my sles 12. The salt
docs dont show a supported install for sles 12 and python 3.

On Mon, 06 Sep 2021, 8:22 pm James Howe ***@***.***> wrote:

[2021-09-07 04:43] alias454 opened #60843 "[FEATURE REQUEST] add ability for ini_options to hide output using show_changes and output_loglevel"
When using the **ini_options.present** state, I cannot pass sensitive data directly in the state. I currently have to set a value that can later be replaced using file.replace, which has the ability to hide output using show_changes and output_loglevel.

**Describe the solution you'd like**
Gain an ability to hide sensitive information from logging output and restrict output returned in the run re

[2021-09-07 07:14] daks commented on #60841
I confirm that `cheroot` is installed with `pip` and not the Debian package.
[code]
cherrypy is in fact installed with Debian system
[code]
I confirm that only changes done were applying our state to configure salt-master, which manages apt repositories, certificates, generate the eauth file, and enforce specific version of salt-master and salt-api.

What I have done next is:

- `pip uninstall che

[2021-09-07 07:17] dkacar-oradian opened #60845 "[FEATURE REQUEST] Add the ability to ignore certain top-level objects in YAML files."
**Is your feature request related to a problem? Please describe.**
This is mostly useful for configuration files, but might have a use elsewhere, as well.

I'd like to be able to use YAML's node anchors, but for that I usually need a placeholder which should be ignored by the code which reads that YAML file.

**Describe the solution you'd like**
For example, I'd like to be able to write `salt-clou

[2021-09-07 07:21] daks commented on #60841
As I still got errors, I tried to return to a stable installation based on Debian packages, so I just `apt-get remove salt-*` then reinstall them `apt-get install salt-master salt-minion salt-api`.

Now the salt-api does not start, no listening port and no visible process (master is running OK) but no visible information in logs.

[2021-09-07 07:37] OrangeDog commented on #60841
It sounds like installing the Debian `python3-cheroot` would've fixed it, but with random local packages in your system python anything could happen.

I cannot see how changing salt could have caused the original issue, unless it also updated other packages (i.e. `six`).

[2021-09-07 07:40] OrangeDog commented on #60840
SLES 12 was EOL in 2019, so that's not supported either.

The easiest way is probably to use `pip` to install for Python 3.

[2021-09-07 11:36] OrangeDog commented on #60845
You can achieve the same effect with Jinja wherever it is available.

If you want to use node anchors in raw YAML then you have to use the first occurrence as the reference, not add extra junk at the start.

[2021-09-07 13:06] dkacar-oradian commented on #60845
To begin with I have `#!py|yaml` thing where Python generates YAML (because Jinja  in `salt-cloud`doesn't have access to many things, otherwise I would have used Jinja), so I'm not quite sure what to do with that. Switch to `#!py|jinja|yaml`? Looks scary.

And this is the first occurence. Python code looks like this:
[code]

Which is admittedly terribly ugly. The whole point of anchor is to be abl

[2021-09-07 13:50] dkacar-oradian commented on #60845
I just wrote all that crap yesterday to see if I can get it working. Looking at it now I have a few ideas to make it nicer and maybe even manageable. But the Python code would have to remove parts of the template which won't be top-level.

However, I think that anything which can save you from debugging whitespace problems is a worthy addition. So it would be nice if Salt's YAML processor could re

[2021-09-07 14:07] marek-obuchowicz commented on #47461
@gtmanfred I just updated to python3 and got the following issue with `.items()` (which worked with py27):
[code]

The failing code is:
[code]

and pillar value:
[code]

Versions used:
[code]

[2021-09-07 14:32] daks commented on #60841
Debian 9 doesn't have any `cheroot` named package in its repository, so except if it comes from salt ones, I can't install it.

I don't think we have installed any specific local packages on this server (dedicated to salt-master). The only possibility would have been when we evaluated the use of Alcali https://github.com/latenighttales/alcali (a salt management UI).

[2021-09-07 14:38] daks commented on #60841
I had another Debian 9 with salt-master installed for dev purposes. I did the same: upgrade to 3003.3 and salt-api is working fine on this server.

It looks like my problem comes from non-standard things on my server. I'm not sure which and neither how to solve it.

For now we only upgraded our staging salt-master and I blocked the operation on the production one. I think we will planify this upgr

[2021-09-07 14:42] daks commented on #60841
if useful salt --versions-report on this server
[code]

[2021-09-07 15:02] OrangeDog commented on #60841
Sorry, I was looking at buster instead of stretch. Updating the pip package perhaps was the answer, but it's better to work on a server where you know the python environment is clean.

That one appears to have correctly detected cherrypy 3.5.0

[2021-09-07 15:53] dmurphy18 commented on #60842
@omegarus  Communication between salt-master and salt-minion or salt-proxy is asynchronous in nature, have you tried playing with timeout's to see if the error message is returned or not.  This is common with long running jobs which do not return.

I frequently have to bump up the timeout for use with older machines where processing is slow (that is, 333 MHz - Solaris 10).  For example in the salt

[2021-09-07 16:14] OrangeDog commented on #60843
I think in general any state could leak sensitive data via its changes, which is why there's a global don't show changes option, and the logs are restricted to `root` by default.

I'm not sure it's a good idea to add specific parameters to individual states to hide their changes. A global argument perhaps (like `reload_grains` or `runas`) would be a better way to do it.

[2021-09-07 16:46] garethgreenaway commented on #60578
@Kenan7 Can you give us the example state that you used when you received this error?  That will help us in reproducing the error and hopefully fixing it.  Thanks!

[2021-09-07 17:03] #60719 closed

[2021-09-07 17:13] garethgreenaway commented on #60741
@ReigenDing Following up on this one and seeing if you were able to try the workaround of installing an older version of the pynso library?

[2021-09-07 17:28] garethgreenaway commented on #60840
As pointed out above, Python 2.7.x and Salt 3000 is EOL and no longer supported.  If the issues persist is updated version of both Python and Salt, please feel free to open a new issue.  Thanks!

[2021-09-07 17:28] #60840 closed

[2021-09-07 18:39] bryceml opened #60847 "[BUG] selinux.boolean doesn't work on centos 8"
**Description**
I run this state
[code]

and it doesn't work, I get output:

[code]

**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info. There is no general set-up of Salt.)

on a centos 8 box in aws

also is reproducible with

[code]

[code]

[2021-09-07 18:57] bryceml commented on #60847
nevermind, it seems a bad update from centos corrupted the files used for selinux boolean persistence, the setsebool command didn't work either.

[2021-09-07 18:57] #60847 closed

[2021-09-07 19:24] omegarus commented on #60842
@dmurphy18 I'm aware of all these settings and they already sat on our masters to comply with our environment, but I have different issue.
Issue is that `saltutil.find_job` is returning empty response instead of details of the currently running job on salt-proxy minion.
Once master published a job it will schedule another job for same targets with fun: `saltutil.find_job` to see if job still runni

[2021-09-07 19:44] dmurphy18 commented on #60842
@omegarus Glad you found the solution to the find_job issue.  From initial reading of the issue, I had assumed it was just a timeout issue which could be adjusted by changing configuration variables.

I suggest that you upgrade to the latest version of Salt, since v3003.3 has a CVE fix and check the issue is resolved.  The CVE fix will be backported (as security fix) to v3001.x, the fix outlined i

[2021-09-07 20:42] garethgreenaway commented on #60838
@max-arnold Thanks for the heads up.  Looking closer at this one, this particular configuration shouldn't have passed the validate function, which I see now is happening after the place in the code where the exception is happening.

[2021-09-07 23:24] ferricoxide commented on #36987
Only "activity" I'd ever seen on it have been the occasional stale-bot messages. Given that I only ever tripped over it on _one_ client's systems and never had time before that project ended to try to look further into it (per @gtmanfred), it fell off my radar.

[2021-09-07 23:49] garethgreenaway opened #60850 "[BUG] vSphere-Automation-SDK requirements causes PR tests to fail"
**Description**
Including vSphere-Automation-SDK in the requirements files causes the PR tests to fail with an error installing suds-jurko.

Please be as specific as possible and give set-up details.

- [ ] on-prem machine
- [ ] VM (Virtualbox, KVM, etc. please specify)
- [ ] VM running on a cloud service, please be explicit and add details
- [ ] container (Kubernetes, Docker, containerd, etc. ple

[2021-09-08 00:42] dwoz opened #60851 "[TECH DEBT] Remove singletons from zeromq and tcp transports"
### Description of the tech debt to be addressed, include links and screenshots

Remove singletons from zeromq and tcp transports. In the long run it's cleaner to make sure we manage the number of objects being created and torn down. We already removed the singletons from `salt/transport/ipc.py`. It's time get rid of the rest of the singletons still around.

[2021-09-08 03:46] ReigenDing commented on #60741
@garethgreenaway Sorry for late reply. I have tried all pynso version [1.2.0, 1.10, 1.0.2, 1.0.1, 1.0]. All of them raise same error!!

[2021-09-08 06:49] alias454 commented on #60843
The global setting is great but may not be a reliable mechanism when sharing formulas with other people. Logs being owned by root is another decent default but sometimes those logs are shipped to a logging platform.

I certainly won't say I know the correct way to implement this as a feature but if it makes the cut, having a consistent global option seems to make sense. How are those features impl

[2021-09-08 14:53] frogunder commented on #60845
@saltstack/team-core any inputs / thoughts on this?

[2021-09-08 15:13] kzorba commented on #60025
Just bumped into this issue, I consider it serious enough in network automation cases as the network proxies become unusable as mentioned.
I can confirm that by applying just the patch in a5d9545 in v3003.1 that I have fixes the issue. No problems / exceptions also shown in debug logs of the proxy. Unfortunately I see the fix is not on the latest v3003.3. We expect it only on v3004 (Silicon) or al

[2021-09-08 16:47] waynew commented on #60251
@onmeac I'm going to go ahead and close this issue for now since I can't reproduce. If you're able to put together a MCVE, let me know and I'll be happy to re-open this! (may need to ping on slack or IRC)

[2021-09-08 18:28] piterpunk commented on #59754
@sagetherage sorry to be annoying with this issue, but the merge that I did to return bytes in reality returns totally broken results. It's important to not release the mysql execution module as-is now.

I have two different codes fixing the issue, but need a guide of which path to follow. Also, as @yiit87 points out, maybe the code actually doesn't need to return bytes after the Py2 to Py3 migrat

[2021-09-08 20:30] #60629 closed

[2021-09-08 20:31] #54378 closed

[2021-09-08 21:14] petrows commented on #26585
Hey, any progress?

I have this issue, and in very strange way: i have two identical machines with same salt-ssh version (3003.3) and on one machine i have an issue, and on another not.

Tried to pass `-W`, `-t`, `--refresh` options to `salt-ssh`, i even cant get same result on both machines.
`extra_filerefs` (tried to pass directly and via `Saltfile`) also does not help (does not work on machine

[2021-09-08 21:30] petrows commented on #26585
Seems to be for me `extra_filerefs` was completely ignored.

"Fixed" issue by forcing `docker-compose-macro` file to be added in remote machine by including it in `top.sls`, e.g.:

[code]

And now, it could be used as include:
[code]

Now works for me on both machines. Without additional config or options (which did not help anyway).

[2021-09-08 22:50] lomeroe opened #60854 "[BUG] state.apply performance degredation with master_type: failover"
**Description**
When a minion is configured with a list of masters and the master_type is set to failover, the minion will connect to every master in the list on every state item completion.  This increases the overall state run time several fold.  If any master in the list is down, the overall state run time increases even more.

**Setup**
minion config:
[code]

A state file that contains some nu

[2021-09-09 09:14] dkacar-oradian commented on #60845
I can just add that I rewrote my crap and now it has more Python code , looks a lot nicer and doesn't need this feature in Salt.
But I still think it might be a useful addition.

[2021-09-09 09:32] bradawk1 opened #60855 "minion can not run any salt states"
### Description of Issue
We have a number of minions that can not run salt commands.  It keeps timing out talking to the salt master.  Communication to the master is open.  I can telnet from the minion to the master on both ports 4505 and 4506.  I've stopped the salt-minion services and then deleted the key on the master.  When I restart the service, I see the key appear on the Accepted Keys list

[2021-09-09 09:59] ali-ghasempor opened #60856 "Salt is unable to communicate and execute Docker functionalities"
**Description**
I would like to report and bug/issue related to SaltStack version **3003.3**. The Salt communication with Docker (Docker Python library most probably) has issue.
The issue is, anything related to Docker, Salt is unable to communicate and handle on minions.
[code]
Regardless if you want to run state that doing Docker related or just getting image lists, it is similar error as above.

[2021-09-09 14:54] lomeroe commented on #60854
The master return connections are being caused by `state_events: True` being set on the master.  This causes `event.fire_master` to be called, which then fires the event on every master in the list.

[2021-09-09 15:33] bradawk1 commented on #60855
Never mind.  Found the problem.  When I changed the MTU from 9000 to 1500, it started working.  The top-of-rack switches must have had jumbo frames at one point, but then lost it.  I suspect someone added it, but failed to save the configuration and the switches were rebooted and the setting was lost.

[2021-09-09 15:33] #60855 closed

[2021-09-09 17:36] twangboy commented on #59568
You may need to configure `log_rotate_backup_count` as well

[2021-09-09 18:18] bryceml opened #60858 "[FEATURE REQUEST] change messaging in osx installer"
opened this issue based on https://github.com/saltstack/salt/pull/60857#issuecomment-916243476

Thanks for opening the issue, I'm testing salt from new user prospective. In the process of installing salt on [macOS](https://repo.saltproject.io/#osx) The installer does it's job but the information mentioned on first screen should be on last screen also on the documentation pages because at the end o

[2021-09-09 19:23] odubuc opened #60859 "[BUG] file.append doesn't valid anymore if the line exists"
**Description**
Recently upgraded from 3000.9 to 3003.3. file.append doesn't care if the line is there anymore, it always add a new line at the end of the target file.

**Setup**
Please be as specific as possible and give set-up details.
- [x] VM (Ubuntu 18.04 VM)
- [x] VM running on a Azure

**Steps to Reproduce the behavior**
a simple setup in a .sls file:
/etc/fstab:
  file.append:
    - name:

[2021-09-09 19:41] #60859 closed

[2021-09-09 19:46] odubuc commented on #60859
My issue was that I was adding an entry to /etc/fstab with file.append
Then with mount.mounted, I used persist: True which I don't know how, worked fine in 3003.9 and below but now also add an entry in /etc/fstab and explains the duplicate.

I will cleanup my configuration but I can see I am the root of this issue. my bad :)

[2021-09-09 21:12] mrj1m0thy commented on #39971
Just came across this issue, I'm running into the same issues as @pcn . The "check" module doesn't support parsing the register to actually retrieve the value. The "file.save" module doesn't work with a "reg.set" because json serialize doesn't like sets. And there's no way to actually retrieve the register as a variable to parse it myself.

My use case is that I want to be able to execute a comman

[2021-09-10 09:50] ITJamie commented on #59612
The above PR did not fix the engine itself. It still has issues.

[code]

[2021-09-10 10:15] ITJamie commented on #57842
The above PR did not fix the code in the engine file. only states modules.

[code]

[2021-09-10 11:41] rajhotagit19 commented on #60835
Similarly there is documentation error in its another sub module which is currently written as following in all resources.
It should be

salt '*' network.ip_networks6
 and so on in its all sort of documents.

- Web:- https://docs.saltproject.io/en/latest/ref/modules/all/salt.modules.network.html

salt.modules.network.ip_networks6(interface=None, include_loopback=False, verbose=False)
New in versio

[2021-09-10 18:22] Garagoth commented on #48735
Still happens in salt 3002.2.
Please re-open as it was newer solved in any version that we tested...

[2021-09-10 18:32] gandihar commented on #55631
Is there any updates on this? Even up through the current releases (3002.7 and 3003.3) still have the bug, and it's causing the /var/log volumes on our Salt Master boxes to fill up with deleted log files until we restart the process, which is considerably more difficult on the Master in a 24x7 shop.

A sample of what I'm talking about:

salt-mast  1614 15871       root    6w      REG

[2021-09-11 01:51] denis-khalturin-incountry commented on #59019
bump

[2021-09-11 18:35] barneysowood commented on #60695
We should also document which of the OSes/distributions that Salt is packaged for have the shadow group

[2021-09-11 19:06] barneysowood opened #60865 "[FEATURE REQUEST] Document a test required permissions for non-root salt-master and shared group for cli tools"
Opened as a task for the Security WG

**Is your feature request related to a problem? Please describe.**

As part of the work to implement [SEP19](https://github.com/saltstack/salt-enhancement-proposals/pull/55) we need to be able to run the salt-master process as a non-root user that is also a member of a shared group that will be used to allow users to run the salt cli tools.

Current documentat

[2021-09-12 04:39] damon-atkins commented on #60807
@Ch3LL @OrangeDog  I suspect that people are concern with module a outputting empty results (salt server module.function ) when no changes are made.  Because of this people implement a non-standard output, so when no changes occur   module.function still outputs something to the user.   In general module.function meant to be called by a state or within a sls, not directly by users on the command l

[2021-09-12 11:56] omegarus commented on #60842
@dmurphy18 Thank you for your answer.
Sadly we can't move to ver 3003 right now.
We have very large infrastructure that depends on saltstack and our test cycle for new saltstack versions is taking a lot of time.
I guess you can close the issue. I will use patch I mentioned earlier for version 3001 as workaround for salt-proxy minions.
Thanks.

[2021-09-13 04:36] rjl126 commented on #24830
@statik I'm also interested in that sops renderer. @ekristen did you find a way to do this?

[2021-09-13 10:44] statik commented on #24830
@rjl126 @ekristen sorry I looked and couldn't find the code I was experimenting with.

[2021-09-13 11:22] EHJ-52n commented on #57584
Thank you very much, @jbouter.

...and in 3003.3 on ubuntu 21.04 still present:

<details>
 <summary>sudo salt-call -V</summary>

[code]

</details>

[2021-09-13 11:31] colttt commented on #60795
why just severity-medium? The module is at the moment useless

[2021-09-13 12:18] DesireWithin opened #60871 "Salt-key can control minion keys on salt syndic nodes"
**Is your feature request related to a problem? Please describe.**
I want to use restapi to control minion keys on salt syndic.
The most common case is when a server is decommissioned. I also want to delete its key on salt syndic.
But I don't know who is this server's master. So salt-key can also control salt syndic is much more convenient

**Describe the solution you'd like**
`salt-key` can issue

[2021-09-13 12:34] bastian-src opened #60872 "[BUG] External Node Classifier unusable"
**Description**
When using an external node classifier instead of top.sls files, the external classifier expects a command line argument. This argument must be the hostname of the Salt Minion which is currently being processed.
As of now, a bug results in a wrong call of the external node classifier _without_ the hostname as parameter. No parameter is given at all. Therefore, the classifier fails.

[2021-09-13 12:42] OrangeDog commented on #60795
@colttt you could work around by constructing your own request, shelling out to curl or with a custom module.

The module is certainly not useless. I'm using it just fine, just not this specific combination.

[2021-09-13 14:30] ScriptAutomate opened #60875 "[DOCS] Salt should make use of canonical URLs or `noindex` presence within non-latest or non-master HTML documentation"
## Description

When users use a search engine to find the appropriate Salt documentation, multiple results can appear for the same page across multiple Salt versions. This makes search have multiple results, causing search to be more difficult to use when multiple results are the same page (just with a different version label).

## Suggested Fix

In the publishing of documentation, we publish mul

[2021-09-13 14:40] theseal opened #60876 "ifenslave-2.6 no longer available in Debian Bullseye"
**Description**
Its no longer possible to configure bond interface in Debian

**Setup**
[code]

Please be as specific as possible and give set-up details.

- [x] VM (Virtualbox, KVM, etc. please specify)

**Steps to Reproduce the behavior**
Apply the sls from above in Debian Bullseye
[code]

**Expected behavior**
No errors and a functional bond interface

**Versions Report**
<details><summary>salt

[2021-09-13 15:38] dmurphy18 commented on #60842
@omegarus Will close.  I would take a look at upgrading to Salt v3003.3 as soon as possible since it is a CVE Release, or at least the latest release of 3001.x which will also have the CVE fix, and then apply the patch to it.

[2021-09-13 18:22] waynew commented on #60467
@c1pherx was this docker images or virt, or...?

[2021-09-13 18:28] OrangeDog commented on #60835
@rajhotagit19 go ahead any fix anything that obviously needs fixing

[2021-09-13 18:41] waynew commented on #60497
Hey, so unless I'm misunderstanding, this isn't a problem in Salt just a misunderstanding about Python.

[code]
A quick search for "python os.path docs" turns up https://docs.python.org/3/library/os.path.html, and it looks like what you may want is `os.path.exists`.

If I'm misunderstanding, let me know and I'll go ahead and re-open this~

[2021-09-13 18:41] #60497 closed

[2021-09-13 20:42] iaingeorgeson opened #60877 "[BUG] tls.create_csr doesn't check csr_path has a trailing slash before concatenating it"
**Description**
In log messages, salt.modules.tls uses csr_path in log messages without checking for a trailing slash, resulting in misleading log entries:

    'Created Private Key: "/etc/ssl/MYCA/certsMY.HOSTNAME.key." '

(It also makes it appear that there's a trailing dot on the filename)

https://github.com/saltstack/salt/blob/v3003.3/salt/modules/tls.py#L1167 among other places. It probably

[2021-09-14 05:59] tuaris opened #60878 "Apache state should have authorization containers capability"
**Is your feature request related to a problem? Please describe.**

Yes, it appears that the Apache salt state does not support authorization containers.  Or I am unable to find documentation on the subject.

**Describe the solution you'd like**

Apache 2.4 configuration has the ability to specify multiple "Require" directives by wrapping then in an [Authorization Container](https://httpd.apache.o

[2021-09-14 07:20] colttt commented on #60795
@OrangeDog I think to be on the latest (LTS) version is not a "specific combination" ;-)

[2021-09-14 09:10] jbartak opened #60880 "[BUG] `iptables.append` state does not pass `name` argument to iptables command"
**Description**
The `iptables.append` state does not pass `-name: SSH` to iptables as `--name SSH`, instead of that `--name DEFAULT` is passed. Looks like the `name` argument is reserved by the state itself. Any other argument like `- foo: bar` is passed as `--foo bar`.

**Setup**
`test.sls`:
[code]

Set-up details:

- [x] VM (Virtualbox, Vagrant, CentOS7)

**Steps to Reproduce the behavior**
Exec

[2021-09-14 10:51] lukasraska commented on #60880
@jbartak Looks like it should be `name_` (https://github.com/saltstack/salt/blob/master/salt/modules/iptables.py#L320 ), although it's not documented anywhere. But it seems to work fine:

[code]

[code]

[2021-09-14 10:57] jbartak commented on #60880
I had to miss this part of the code, anyway thank you this is working!
But maybe this can be added also to the docs?

[2021-09-14 11:08] gbunt commented on #60428
@waynew have you tested with the same `tcp_keepalive` master settings? And have you waited until `tcp_keepalive_cnt` * `tcp_keepalive_intvl` exceeded?
In any case, it does seem like a different issue as to what we're seeing, as in general the presence system does do it's job in our environment, but only as long as there's no zmq activity at all, from _any_ minion. If there is, minions dropping off

[2021-09-14 11:39] lukasraska commented on #60880
Yeah, should be definitelly added into docs. If nobody from Salt team manages to do it before me, I will create PR for this (if you don't want to).

[2021-09-14 16:04] waynew commented on #60586
As far as I can tell, this is behaving exactly as expected:

The `retry` step specifies that it should attempt 5 times. On attempt 1, the check_cmd failed.

On attempt 2, the check_cmd (i.e. `salt {{ vm.hostname }} cmd.run 'sc qc sshd' -t 180 | grep -i {{ vm.region }}.*.com`) passes. So it considers the orchestration to have succeeded.

If I'm misunderstanding, please let me know and I'll go ahead

[2021-09-14 16:04] #60586 closed

[2021-09-14 17:21] garethgreenaway commented on #59568
@generrosity Following up on this one, did the above suggestion at adding `log_rotate_backup_count` resolve the issue for you?

[2021-09-14 17:22] garethgreenaway commented on #59718
Closing this one out due to the lack of activity, if the issue persists please feel free to open a new issue.

[2021-09-14 17:22] #59718 closed

[2021-09-14 17:57] waynew commented on #60467
Okay, I was able to repro this using a vagrant box from `generic/debian11`. I spun up the box, did an apt install of python3-pip and iptables, then did a pip install of salt.

[code]

Is the state that I used, and I set the root password to `asdf`. This roster:

[code]
(followed by ssh 127.0.0.1 to accept the host key) allowed me to run `salt-ssh localhost state.apply mystate`. It will continually

[2021-09-14 18:16] petrows commented on #54733
Have same issue on salt. Even more, on salt-master i have another issue, `test=true` does not show changes, but `salt.apply` does something:

1. Salt-ssh call on machine:
[code]

Same machine on salt-master:

[code]

With `test-true` no changes detected, but call of `state.apply` actually reverts broken permissions from `salt-ssh`

[2021-09-15 01:27] markdueck1 commented on #60856
If you need an immediate fix for this downgrading the python salt package from version 3003.3 to version 3003 fixes the problem for me

sudo pip3 install salt==3003

salt             3003.3
to
salt             3003

[2021-09-15 06:50] ali-ghasempor commented on #60856
Yes, We did the same and downgraded to v3003.1 again, but v3003.3 is fixing some security bugs.

[2021-09-15 07:17] dylangerdaly commented on #52329
I'm hitting this issue.

[2021-09-15 08:38] s0undt3ch commented on #60085
Found a fix for this issue while working through a test failure. See #60085

[2021-09-15 14:56] ewhitesides commented on #59986
i just wanted to report back that this does not work well if you have a salt state that a) sets a salt-minion conf file and b) sets the salt-minion service to restart if the conf file changes.

in conjunction with restart settings (original post), you can end up in a loop where the state is trying to restart the service, and systemd is trying to restart the service.

my personal solution was to re

[2021-09-15 16:19] jholloway7 commented on #58202
Sorry, this got lost in my github notifications or I would have replied sooner.  I ended up using an 'unless' in my pip.installed state:

`
maybe-install-cdecimal:
  pip.installed:
    - name: /var/venv/deps/cdecimal-2.3.tar.gz
    - pip_bin: /var/venv/base/bin/pip
    - user: <user>
    - unless: /var/venv/base/bin/pip freeze | grep cdecimal-2.3
    - require:
      - virtualenv: /var/venv/base

[2021-09-15 18:25] keslerm commented on #10032
Well shoot hope someone things to search for this before having to do it, ran into this

[2021-09-15 19:12] waynew commented on #59986
Well, FWIW we've realized that removing a module.run syntax is a horrible idea because it would break everything. But the different approaches are also unambiguous so we can inspect the format and decide whether you're trying to use old-style or new-style on a case-by-case basis, so presumably that will also solve the problem.

[2021-09-15 19:48] doesitblend opened #60882 "[BUG] Issue when using http.query with requests backend"
**Description**
When using http.query with the requests backend to register with ServiceNow I get the following error:

[code]

**Setup**
You can use the following sample state to reproduce this error in 3003.1 to reproduce the error. I am including a sample of return data from the endpoint.

[code]

Sample return data

[code]

**Steps to Reproduce the behavior**
Run the state provided above to re

[2021-09-15 20:23] waynew commented on #60878
This is just a mistake in indentation.

Consider:

[code]

The error message is that `<Proxy>` needs this. It's added indented under Proxy *with no other changes*.

Now we're back

[code]

And the message? RequireAll needs attribute, using `this`. So add it without changing any other indentation:

[code]

HTH!

[2021-09-15 20:23] #60878 closed

[2021-09-15 20:27] #60851 closed

[2021-09-15 20:43] jc-rob commented on #58481
Something changed recently, we're now hitting this issue with 3000.9 where it's been working as expected for months

[code]

[2021-09-16 07:27] afischer-opentext-com opened #60883 "[BUG] win_pkg installer is allowed to be located in s3 while uninstaller is not"
**Description**
win_pkg installer is allowed to be located in s3 while uninstaller is not. The impact is that a cleanup of that way deployed third party software is not possible with workarounds.

**Setup**

In order to reproduce this, a salt minion running on Windows is required.

**Steps to Reproduce the behavior**

Using salt 3003 (issue also present on master branch) it is easy possible to def

[2021-09-16 07:36] lubyou opened #60884 "[BUG] cmd.script when run with shell=pwsh or shell=powershell does not return expected exit codes"
**Description**
Hi,

Exit codes returned from PowerShell scripts will never be anything other than 0 or 1 if said scripts are called via cmd.script with shell=powershell or shell=pwsh.

This seems to be happening because [cmdmod.py](https://github.com/saltstack/salt/blob/v3003.3/salt/modules/cmdmod.py#L368) uses "-Command" with the script as argument, when it (arguably) should use "-File" instead.

[2021-09-16 10:56] rajhotagit19 commented on #60835
Thanks a lot @OrangeDog for your kind reply. :)
As I have no access your repository to push new commits to your [PR# 60839](https://github.com/saltstack/salt/pull/60839), hence I have opened a new [PR# 60886](https://github.com/saltstack/salt/pull/60886) with combined data required to update the module.

It would be great, if you have access and able to review the same and approve.

Many thanks.
P

[2021-09-16 13:14] CriProphet opened #60887 "[BUG] The Windows package of salt 3002.5 contains third-party software vulnerabilities, plz checkout."
**Description**
The Windows package of salt 3002.5 contains pip-19.0.3-py2.py3-none-any.whl(CVE-2021-33503,CVE-2020-26137,CVE-2021-3572),win32timezone.py(CVE-2021-32559), contains vulnerabilities.

**Setup**
https://repo.saltstack.com/windows/Salt-Minion-3002.5-Py3-x86-Setup.exe

**Expected behavior**
Upgrading Components to Clear Vulnerabilities

**Versions Report**
salt-3002.5

Please fix the vu

[2021-09-16 16:35] frogunder commented on #60871
@saltstack/team-core Do you have any inputs on this?

[2021-09-16 16:37] frogunder commented on #60883
@twangboy Do you have any inputs on this one? Thanks.

[2021-09-17 12:45] santeri3700 commented on #60838
I was/am experiencing a similar problem on AlmaLinux 8.4 and CentOS 7 with Salt-Minion 3003 (latest as of Sep 2021) (Python 3).

Downgrading to 3000 or 3001 seems to solve an issue where the Minion fails to start with Uyuni (a Suse Manager fork) specific configuration (https://www.uyuni-project.org) because of the "grains" dict (see config below).

Partial logs from AlmaLinux 8.4 (salt-minion 3003

[2021-09-17 14:01] ecstuchi commented on #60724
@dmurphy18 I was evaluating it further and if I run:

`salt -t20 -b80 -L '<list with ~400 minions>' cmd.run 'uname -a'`

I get:

`[ERROR   ] An un-handled exception was caught by salt's global exception handler:
KeyError: 'ret'
Traceback (most recent call last):
  File "/usr/bin/salt", line 11, in <module>
    load_entry_point('salt==3003.3', 'console_scripts', 'salt')()
  File "/usr/lib/python3.6

[2021-09-17 14:18] afischer-opentext-com commented on #58111
I see this issue as well. It seems on Windows the "clean" code is not reached if file permissions of files within that directory are not updated. This can be [found here].(https://github.com/saltstack/salt/blob/b3eb166042c7a77c03bf890d766907c37e7d894b/salt/states/file.py#L3619)

[2021-09-17 14:26] afletch commented on #22386
Seeing very unreliable data from all of the presence detection runner functions here too, I have minions which are up (and I've tried restarting them), which can be targetted and respond fine. The minion data cache contains the correct up to date data, but are always listed in `manage.not_present`

[code]