[2015-03-16 16:45] basepi commented on #21585
Can you please include the output of `salt '*' test.versions_report` as well as the actual result of trying to run the above state? To answer your question, I *think* this should work, but error messages and the like would be very helpful.

[2015-03-16 16:50] rallytime commented on #20735
@Whissi Thanks for checking that out and confirming the fix on the 2015.2 branch. That change has not been applied to the 2014.7 branch as the fix took place on re-factored code. Since you've reported that this is fixed, I am going to close this issue. If you still see problems, leave a comment and we can re-open the issue.

[2015-03-16 16:50] #20735 closed

[2015-03-16 16:54] plastikos commented on #21640
Here's the `test.versions_report`:
[code]

[2015-03-16 16:55] basepi commented on #21307
That would be the endlessly-awesome @joehealy. Eventually we will probably take over the packaging for debian to make it more consistent schedule-wise, but in the meantime, @joehealy has been doing stellar work (if a little delayed, due to his busy schedule).

[2015-03-16 17:06] jfindlay commented on #21294
Sorry to have misled you, I haven't looked at the code.  These three functions are in 2015.2, so we can backport it there, thanks.

[2015-03-16 17:07] MrMarvin commented on #19405
I have this error as well for every state that uses `modules/debian_ip.py#_parse_interfaces()` in salt 2014.7.2.
[code]

This function is only used in multiple places in debian_ip.py:
* ../salt/salt/modules/debian_ip.py:514:def _parse_interfaces(interface_files=None):
* ../salt/salt/modules/debian_ip.py:1402:    adapters = _parse_interfaces() - _write_file_ifaces
* ../salt/salt/modules/debian_ip.p

[2015-03-16 17:09] 0xPaul commented on #20924
:+1: `sudo rm -rf /usr/lib/python2.7/dist-packages/salt` worked for me.

[2015-03-16 17:11] #20950 closed

[2015-03-16 17:12] nmadhok commented on #21344
@srkunze Did the solution work for you?

[2015-03-16 17:14] cachedout opened #21694 "Cannot build Azure techhat master"
May have regressed in #21693

[2015-03-16 17:15] #21694 closed

[2015-03-16 17:15] srkunze commented on #21344
Not sure. I simply could not reproduce. There were only one master/minion process.

The only thing, I could reproduce was the "Failed to authenticate!  This is m...." message when the salt master was not running. Maybe, you could change that to a more comprehensible message.

[2015-03-16 17:16] srkunze commented on #21294
Alright. Should I close the pull request and reopen it for 2015.2?

[2015-03-16 17:17] basepi commented on #21251
We definitely need to message the purpose and intent of salt-ssh better, but I wouldn't water it down to just "don't have to install packages." For one thing, that's technically not true. You must have Python 2.6 or 2.7 installed. Additionally, you must install addition packages to use certain modules, such as `mysql`. Salt-ssh doesn't eliminate that need.

But yes, salt-ssh is designed to have mi

[2015-03-16 17:27] Code-Vortex commented on #21344
i am wondering if there is any work around instead of killing the salt-minion processes ?! because killing or restarting it wont be a good solution if there is any important process is running by saltstack. cron jobs for example which uses the saltstack api

[2015-03-16 17:33] rallytime commented on #21601
@ev0rtex Do you have a minion installed on the box that has the Syndic/Master?

[2015-03-16 17:36] whiteinge commented on #21585
`file.managed` only supports a subset of Salt's renderer system as the argument to `template` ([mentioned in the docs on that arg](http://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.managed)). I'm not sure why that is the case and I think adding support for all renderers would be a cool addition. (Niche but still cool. :-) ).

[2015-03-16 17:42] isbm commented on #21507
@rallytime done in #21695. Somebody merge please. :)

[2015-03-16 17:51] rallytime commented on #21651
@cachedout I am still not able to get the reactor to execute on the 2015.2 branch. I checked over all of my configs to make sure I hadn't done something wrong, but could not find anything. I then tested the exact same configuration as before, but on an earlier release. Everything is working as expected on 2014.7.2 as well as the HEAD of the 2014.7 branch.

[2015-03-16 17:53] nmadhok commented on #21344
There is no work around for zombie processes. They need to be killed otherwise they will keep running.

[2015-03-16 17:55] Code-Vortex commented on #21344
and for "more than one process" is there maximum for it instead of just 1 ? or it must be not more than 1 ?

[2015-03-16 17:58] srkunze commented on #21344
@Code-Vortex Sounds interesting. If number of salt-master processes >= 2, kill all of them and start salt-master.

[2015-03-16 18:00] nmadhok commented on #21344
Only one salt-minion process should be running. Salt-master process would be equal to the number of worker threads in your master config file. It's 5 by default

[2015-03-16 18:01] srkunze commented on #21344
I see.

[2015-03-16 18:01] nmadhok commented on #21344
@srkunze I wouldn't agree with you on that. Number of salt-master processes should be equal to the number of worker_threads specified in your master config file.

[2015-03-16 18:03] mwto commented on #19673
For those who run into this, the workaround (tested on 2014.7.1) is to specify a unit or percentage like so:

    salt '*' partition.mkpart /dev/sdb primary fs_type=ext2 start=0% end=10GB
    salt '*' partition.mkpart /dev/sdb primary fs_type=ext2 start=10GB end=10GB

`parted print /dev/sdb`

    Number  Start   End     Size    File system  Name     Flags
    1      1049kB  10.0GB  9999MB

[2015-03-16 18:05] jfindlay commented on #21294
@srkunze, that would be awesome, thanks.

[2015-03-16 18:06] aneeshusa commented on #21625
The two PRs should cover 2014.7, 2015.2 and develop, so that should be enough to close this Issue.

[2015-03-16 18:06] Code-Vortex commented on #21344
so number of worker threads may be a solution if we make it more than 5 ? does this mean when salt-minion tries to make a new process it raise authentication error because the number of worker threads is full 5/5 ? i am just want to know what scenario happens inside salt to make this issue raise

[2015-03-16 18:08] jfindlay commented on #21251
@srkunze, sorry, what I meant to say is 'you don't have to install any salt packages to run a salt-ssh minion'.

[2015-03-16 18:13] Code-Vortex commented on #21662
@jfindlay am i facing an issue with salt which will be fixed or there is a way to compile an sls file which have jinja syntax to json like i did with yaml ?

i tried to figure it out but i couldn't help appreciated. thanks

[2015-03-16 18:16] rallytime commented on #21625
Awesome! Thanks very much @aneeshusa.

@SaltwaterC Give one of those pull requests a try and let us know if that resolves the issue for you.

[2015-03-16 18:18] mimianddaniel commented on #21651
2015-03-13 22:22:36,798 [salt.loaded.int.render.yaml                ][DEBUG
  ] Results of YAML rendering:

OrderedDict([('update_salt', OrderedDict([('local.cmd.run',
[OrderedDict([('tgt', '.*(kvmctl|saltmaster).*')]),
OrderedDict([('expr_form', 'pcre')]), OrderedDict([('arg',
['/usr/local/bin/update-salt.sh'])])])]))])

After this, i would see the following in the 201472,

AES payload received w

[2015-03-16 18:18] aneeshusa commented on #21625
FYI @SaltwaterC , the fix for 2014.7 is the first one (#21677).

[2015-03-16 18:18] rallytime commented on #21507
Thanks @isbm! We'll merge that in when the tests finish up and we've had a chance to review it.

@aboe76 Want to give that pull request a try?

[2015-03-16 18:18] nmadhok commented on #21344
When you update salt or restart salt, sometimes the process is not killed and still hangs in there. Read more about zombie processes here: http://en.m.wikipedia.org/wiki/Zombie_process

[2015-03-16 18:22] jfindlay commented on #21662
@Code-Vortex, I haven't had time to learn all of salt's features yet, so I can't say for sure.  Either @cachedout or @basepi would know, or would be able to figure out what the expected behavior here is.

[2015-03-16 18:40] aboe76 commented on #21507
Will do

[2015-03-16 18:47] rallytime opened #21698 "Globbing Broken when Using Reactor"
Following some of the examples in the Reactor documentation, I have the following set up:

In `/etc/salt/master`:
[code]
In `/srv/reactor/start.sls`
[code]

Where basically the minion /tmp/ directory should be cleaned out upon minion start-up. I can see the reactor sending events from the master:
[code]
And the event is fired on the minion:
[code]
But when looking in the `/tmp/` directory, the are

[2015-03-16 18:55] rallytime commented on #21651
I think I might be hitting a separate issue, which I have filed in #21698.

@mimianddaniel Before we can move forward with debugging your issue, we'll need a sample of the reactor file you're using that can give us a way to try and reproduce this, since neither I nor @cachedout are able to reproduce this. My reactor example is based on minion start-up...perhaps you are triggering the reactor with

[2015-03-16 18:56] ev0rtex commented on #21601
@rallytime I do run a minion on the syndic as evidenced by my config files above. I have tried shutting down the minion in case that was part of the problem but it makes no difference.

[2015-03-16 19:01] rallytime commented on #21601
Ok I just wanted to make sure that wasn't it as I have been setting up many syndic configurations lately and I have not seen this problem. There isn't anything else standing out to me here in your configs.

@basepi or @UtahDave have either of you seen this behavior?

[2015-03-16 19:02] rallytime commented on #21344
I think, as @nmadhok has explained, that this is a case of zombie processes causing problems, and as such, I think we can probably close this issue. Any objections?

[2015-03-16 19:02] mimianddaniel commented on #21651
git.sls

{% if data['tag'] == 'git/update_salt' %}
update_salt:
  local.cmd.run:
    - tgt: '.*(kvmctl|saltmaster).*'
    - expr_form: pcre
    - arg:
      - /usr/local/bin/update-salt.sh
{% endif %}

reactor.conf
reactor:
  - 'git/*':
    - salt://reactor/git.sls

and of course we have a custom event trigger on a minion for this. That
part works fine as we can see the events coming in on the mas

[2015-03-16 19:06] jfindlay commented on #21572
@jasonm-makerbot, we should definitely update the documentation to recommend the latest stable docker.  I don't know why the documentation is getting picky about which docker version to use.  I'm guessing that at the time there might have been some issues with other versions, so the documentation recommended a specific version that was known to work, but considering how old this is now, it's getti

[2015-03-16 19:33] mimianddaniel opened #21702 "job local cache not getting updated on 2015.2"
I am not able to look up local job using `salt-run jobs.lookup_jid` now... because of this.

[code]
[code]

[2015-03-16 19:48] srkunze commented on #21251
@jfindlay Sure, that is how I understood it of course. :)

@basepi Are those requirements written down somewhere?

[2015-03-16 19:51] #21344 closed

[2015-03-16 19:52] roflmao commented on #21307
Who will buy @joehealy a beer while were waiting!?

[2015-03-16 20:04] rallytime commented on #21657
Thanks @basepi. I pulled down your pull request and it indeed fixes this issue.

[2015-03-16 20:04] #21657 closed

[2015-03-16 20:17] kiorky commented on #21663
merged fix !

[2015-03-16 20:17] #21663 closed

[2015-03-16 20:20] baweaver opened #21707 "[saltnado rest] local requests hang indefinitely on glob / grain queries"
I'm making a rubygem handler for Salt REST API, and for some reason whenever I use a glob or grain query it'll stall indefinitely.

I'm using Typhoeus to make HTTP requests.

The request code looks like this:
[code]

I can do the same thing on ``local_async`` and it'll work but I have no way of knowing when the job is actually done.

Any ideas?

[2015-03-16 20:23] rallytime commented on #21344
Thanks @srkunze! And thanks for pitching in here @nmadhok!

[2015-03-16 20:24] nmadhok commented on #21344
@rallytime No problem. Glad to help!

[2015-03-16 20:31] rallytime commented on #21707
@baweaver I am not well-versed in the ways of saltnado (though @whiteinge or maybe even @jacksontj are good bets here), but would something like [salt.utils.http.query](https://github.com/saltstack/salt/blob/3c76046691c44d50330c6b70f8555211a792c2e9/salt/utils/http.py#L68) could be useful for you here?

[2015-03-16 20:32] rallytime commented on #21617
@aneeshusa @s0undt3ch looks like the pull request above was merged. Should this be closed?

[2015-03-16 20:34] aboe76 commented on #21507
I got an strange error when adding this to salt:

put the zypper.py in _modules in /salt and did a saltutils_sync modules first
so I got the new zypper.py in /var/cache/salt/minion/extmods/modules/zypper.py

then did
[code]

but the same thing happens with
[code]

which should work because:
[code]

so I think this is an bug before this was introduced.

[2015-03-16 20:34] aneeshusa commented on #21617
This issue can be closed, but as I mentioned in #21660 I'd like to see all of our dependencies pinned - I can make a new issue for that or we can edit this one.

[2015-03-16 20:36] rallytime commented on #21617
Ah, sorry. I didn't see the comment on your pull request. That's fine. Feel free to rename this issue as needed to reflect a greater array of dependencies.

[2015-03-16 20:39] aneeshusa commented on #21617
Once I get my test suite figured out I'll look into testing against different dependency versions so we can start pinning versions.

[2015-03-16 20:45] baweaver commented on #21707
I'll look into it and let you know what I find.

[2015-03-16 20:56] jfindlay commented on #21572
@jasonm-makerbot, would you mind opening a new issue specifically about the docker version support?  Thanks.

[2015-03-16 21:03] jasonm-makerbot opened #21713 "module/state dockerio requires docker-py==0.5.0 which is deprecated"
Current latest stable version of `docker-py` is `1.1.0` : https://pypi.python.org/pypi/docker-py
Earliest version available in the github repo is `0.6.0` : https://github.com/docker/docker-py/
*ie*. `0.5.0` is no longer maintained.

The current salt docs require `0.5.0` which I have tested and it works. However updating to any stable version of `docker-py` breaks the `dockerio` module/state.
http:

[2015-03-16 21:04] jfindlay commented on #21572
thanks

[2015-03-16 21:09] cachedout opened #21714 "Catch SaltClientError"
[code]

[2015-03-16 21:24] isbm commented on #21624
@jfindlay Here you go, #21716 :)

[2015-03-16 21:31] jfindlay commented on #21572
@jasonm-makerbot, awesome, thanks.  Docker integration is important and we need to fix this.  When you come to SLC next, I'll have @whiteinge and @cachedout and @rallytime tell you where the best local brew is to be had. :-)

[2015-03-16 21:51] basepi commented on #19958
Just as an FYI here, we're going to move that diff back into the comment instead of the `changes` part of the return dictionary. `Changes` should only be populated if changes were actually made.

[2015-03-16 21:53] basepi commented on #21588
Alright, after a pow-wow with @thatch45, we're going to revert the changes to the file state which resulted in the diff being placed in `Changes` instead of `Comment` in test runs. The official policy is that `Changes` should only be populated if changes were actually made.

[2015-03-16 21:54] basepi commented on #19958
I'm going to close this in favor of #21588. This will be resolved when that one is.

[2015-03-16 22:17] jfindlay commented on #21702
@mimianddaniel, I am seeing the same error, but haven't been using `salt-run jobs.lookup_jid`.

[2015-03-16 22:18] basepi commented on #21588
Fixed in #21718.

[2015-03-16 22:18] #21588 closed

[2015-03-16 22:21] mimianddaniel commented on #21702
Hi,
we are not using separate returner at the moment but have salteventsd we
can look up if required but wouldnt this be considered core feature of salt
and should be fixed before the general release?

On Mon, Mar 16, 2015 at 3:17 PM, jfindlay <notifications@github.com> wrote:

[2015-03-16 22:35] jfindlay commented on #17380
I am getting this error on the head of 2015.2.

[2015-03-16 22:40] jfindlay commented on #17380
[code]
[code]

The minion log contains nothing, whereas the master log has these two lines:
[code]

[2015-03-16 22:43] jfindlay commented on #17380
I just realized that this error is not a failure to authenticate against a group, but rather a user.

[2015-03-16 22:47] jfindlay commented on #17380
Nevermind, this appears to have been a config error on my part.

[2015-03-16 22:47] #17380 closed

[2015-03-16 22:57] isbm commented on #21507
Arrggghh!!.. *headbangs* Sure thing why, this is a typo. :( Let me fix this asap.

[2015-03-16 23:02] hari316 opened #21719 "Salt-ssh with sudo NOPASSWD required."
Is it possible to ping remote server, without sudo configuration of the salt-minion machine  'sudo visudo' ??

 /etc/salt/roster:
[code]
Command:
`sudo salt-ssh -i 'test-ubuntu-minion01' state.sls test.ping`

[code]

[2015-03-16 23:03] kaithar opened #21720 "Revisiting aliases.file option."
So this has previously been mentioned in #3368 but it still seems to be an issue.

I can't find or, seemingly, guess how aliases.file is meant to be used.  I've checked the following places to try and decipher the behaviour:

- Alias state documentation
- Alias module documentation
- The code... I can see modules/alias.py reference `__salt__['config.option']('aliases.file')` and from modules.confi

[2015-03-16 23:03] isbm commented on #21507
@aboe76 Try again, please. :-) Sorry!!

[2015-03-16 23:03] sbellem commented on #18880
@rallytime ok, cool, thanks! Will look into it then.

[2015-03-16 23:08] rallytime commented on #18880
@sbellem Now that I think about it, there may have beens some changes recently to the npm modules and states since the "nothing has changed since 2014.7.0rc6" comment above, though, i can't remember which branch. Either way, it might be worth-while to take a look around at any recent activity surrounding those files on either 2014.7/2015.2/develop.

[2015-03-16 23:19] deuscapturus opened #21721 "datetime as value in pillar causes error"
A datetime as a pillar value causes the pillar to fail to render.

[code]

Pillar Example
[code]

[code]

[2015-03-16 23:20] rallytime commented on #20317
Thanks @ahus1!

@joshdover Can you give the pull request above a try and let us know if that fixes the issue for you?

[2015-03-17 00:41] tbaker57 commented on #21719
I think this is related to #8882.

cheers
Tim

[2015-03-17 00:42] #20795 closed

[2015-03-17 00:42] #21603 closed

[2015-03-17 00:42] #21628 closed

[2015-03-17 01:05] sygibson opened #21722 "salt-cp targeting does not support "-c" (compound) matchers"
I have 1000s of mixed bare metal and virtualized nodes.  I need to be able to select sets of nodes based on compound matchers to push files via salt-cp.  For example:

[code]

However, it appears that salt-cp does not support the compound matcher; but does support most other match types.

I did search existing open tickets and could not find one related to this.

[2015-03-17 01:06] sygibson commented on #21722
It would seem that the logic to to target selection should be a stand alone set of code, which could be easily reused for the 'salt' or 'salt-cp' command syntax and all existing features for targeting rules would be consistent across commands ... ??

[2015-03-17 01:49] jacksontj commented on #21707
From our chat on IRC it sounds like the issue might be the ruby client (since it appears to work in curl). I double checked and this case has tests around it (https://github.com/saltstack/salt/blob/develop/tests/integration/netapi/rest_tornado/test_app.py#L86), so its probably not saltnado. @baweaver will keep us updated as he digs in :)

[2015-03-17 02:00] terminalmage commented on #21496
I've submitted a fix, but it may not be 100% complete. Details in this comment: https://github.com/saltstack/salt/pull/21723#issuecomment-82031409

[2015-03-17 02:01] Silvenga commented on #17090
Same issue:

[code]

[code]
However:

[code]

[code]

[2015-03-17 02:07] terminalmage commented on #21496
Actually, it looks like Dave's fix in #21630 takes care of this.

[2015-03-17 02:29] baweaver commented on #21707
After talking with @jacksontj, we've agreed to try upgrading the server.

Pertinent machine information:
[code]

Trying this on Curl: (blanked actual urls and tokens)
[code]

On the server I see events trying to return:
[code]

This will only happen on local with a glob or grain expression. A specific hostname will give no errors.

Thanks again for your time @jacksontj!

[2015-03-17 02:31] wt commented on #19739
It's not obvious to me from the code changes I see in the PR.

[2015-03-17 08:37] srkunze opened #21726 "Multiple Minions per Host"
Can this be realized easily?

[2015-03-17 08:40] totaki opened #21727 "Cannot install motor use vagrant & saltstack"
Then i try install motor with pip, i get this error:

[code]

But then i try use this `. /home/vagrant/proj.env/bin/activate && /home/vagrant/proj.env/bin/pip install 'motor'` command in term, all installed without problems.

[2015-03-17 08:41] MakaHost opened #21728 "Gitfs causes random file not found with files in roots-folder"
Hey,

we activated GitFS a few days ago and are now experiencing issues when deploying files to multiple-servers that are not located in git.

Example-output when executing the state:
[code]

Output in the master-log:
[code]

version-report of salt-master:
[code]

The file we are trying to deploy is not within the gitfs, but the root-folder. The server failing is different everytime and so far onl

[2015-03-17 09:34] liquidat commented on #21664
I used this repository to install the packages: https://copr.fedoraproject.org/coprs/saltstack/salt/
Regarding missing dependencies: the only package I am aware of that could cause this error would be the uribl libs for Pythong, but they are installed. Or do you have anything else on your mind?

[2015-03-17 09:56] MrMarvin commented on #19405
Okay, here it is.
[code]

The function is called without any argument in all cases so this default value should be here. I'm not sure if this works for all Debianesque distributions / versions though. I'll check and open a MR into 2014.7.0 later today.

[2015-03-17 10:35] Lothiraldan commented on #21679
@jfindlay Before starting to code, the PR will not be that huge I think, I would prefer to have opinions of @whiteinge and maybe @thatch45 as it's quite a big design change and how we could handle backward compatibility is not yet decided.

[2015-03-17 12:18] DanielZuck commented on #21538
Related the issue, I got some feedback from SuSE. They say, that chkconfig's default mode is different between RHEL and SuSE, where at RHEL it checks the status of a given service, and at SLES it is executed in terse list mode. So their developer was considering an empty list as "ok", returning 0.

They have the suggestion to bring chkconfig specifically to the check mode by adding the -c option.

[2015-03-17 12:29] Bilge commented on #20795
Should this have been closed while test cases are still outstanding?

[2015-03-17 12:52] MrMarvin commented on #19405
Actually it is not as easy... On another Ubuntu machine the module works as expected. The previously mentioned lines are not relevant as it seems as there is a default value added later on
[code]

[2015-03-17 13:32] joehealy commented on #21307
Packages for utopic, trusty and precise are in ppa:saltstack/salt-testing
now

Packages for unstable, jessie and wheezy are now at debian.saltstack.com

Packages for lucid and squeeze going up in the morning.

Cheers,

Joe

On Tue, Mar 17, 2015 at 6:52 AM, roflmao <notifications@github.com> wrote:

[2015-03-17 13:40] joehealy commented on #21462
arrghghhg. painful. I'll upload newer versions of pyzmq into precise to clean this up.

[2015-03-17 13:42] joehealy commented on #21317
I've been wondering about this. Not using ubuntu myself and noticing that they "blindly" merge quite a lot of packages across, I haven't changed it. Assuming it atleast causes some confusion, I'll remove the /etc/init.d files.

[2015-03-17 13:43] joehealy commented on #21278
Last time I looked, this was not possible with reprepro (the tool I use to manage the repo). I'll see if it can be done, but am not feeling lucky.

[2015-03-17 13:44] zatricky commented on #1054
As with @adiroiban, I'm interested in having SALT manage Cisco and MikroTik switches and routers. These devices are programmable and communication can happen over ssh and telnet - but they most certainly cannot run a salt minion service directly. In fact they can't even run python code directly either (you can't scp a script, execute, delete. You have to do the management interactively using the t

[2015-03-17 13:53] N-Mi commented on #21307
Thanks ! :+1:

[2015-03-17 14:00] cachedout commented on #21307
Thank you, @joehealy!

-mp

On Tue, Mar 17, 2015 at 7:32 AM, joehealy <notifications@github.com> wrote:

[2015-03-17 14:43] HontoNoRoger commented on #21585
[code]

Results of the execution:
[code]
So I now changed `match.compound(src)` to `salt['match.compound'](src)` and now I get the following error:
[code]

Which shouldn't be the case because I gave a default value to salt['mine.get'] if the value is None, right?
This seems to be a bug, but at least py as template seems to work as intended (I misunderstood the origin of the shortcuts for pillar.ge

[2015-03-17 14:50] rallytime commented on #20795
@Bilge Thanks for pointing this out. It's actually ok that this is closed with out the tests being written yet. We use the "Needs Testcase" label differently than some of the other labels. We have a group of issues and pull requests with the label and within that group there are open and closed issues/PRs. When we write tests for the labeled item, we remove the "Needs Testcase" label. *Anything* t

[2015-03-17 14:52] rallytime commented on #21307
Thank you very much @joehealy! :+1:

[2015-03-17 15:19] Bilge commented on #20795
@rallytime :+1: Thanks for the explanation, I understand the system you are using now.

[2015-03-17 15:24] garethgreenaway commented on #19405
Does the /etc/network/interfaces file exist?  If so, what are the contents?

[2015-03-17 15:26] AusIV opened #21732 "Syndic and the Mine"
I've recently started trying to get a hierarchical salt system set up with Syndic, and it all seems to work as expected, except for the mine. It seems that each syndic master has an isolated mine, which serves its minions independently. This is a problem for me for a couple of reasons:

On one hand, I have a central LDAP server that lots of services need to authenticate against. It puts its IP add

[2015-03-17 15:28] pvangundy commented on #13755
Just went to download the pdf and it is still broken.

[2015-03-17 15:32] terminalmage commented on #21720
Your configuration is incorrect. The configuration option is called ``aliases.file``, so you would need to have the following in your minion configuration:

[code]

[2015-03-17 15:35] RobertFach commented on #21278
@joehealy We use mini-dinstall for hosting multiple versions of one package... Could this be an option for you? The tool is easier to manage, however, does not has all of the features as reprepro provides.

[2015-03-17 15:36] kaithar commented on #21720
Curious, I tried that first and it didn't work but now it does ... perhaps I typoed it.

That fixes the pebkac at least, that makes this a documentation issue then :+1:

[2015-03-17 15:38] rallytime commented on #20795
No problem @Bilge! That whole process isn't documented anywhere, so it's a totally fair question.

This fix should be in the 2014.7.3 release, so you'll be able to try it out then! :)

[2015-03-17 15:46] rallytime commented on #21719
I think @tbaker57 is right that this is a duplicate of #8882. However, @basepi might have more information about that.

@hari316 If you install `sshpass`, will that resolve the problem for you?

[2015-03-17 15:53] rallytime commented on #21728
@terminalmage can correct me if I am wrong, but I believe there were some GitFS-related regressions in the 2014.7.2 release that have now been addressed at the HEAD of the 2014.7 branch. @terminalmage Does this problem look familiar, or is this something different?

[2015-03-17 15:55] terminalmage commented on #21728
Yes, this particular issue has been reported several times now, and is fixed in all branches.

[2015-03-17 16:00] rallytime commented on #21728
Awesome! Thanks @terminalmage! I think the duplicate report is here #20896.

@MakaHost I would suggest giving the HEAD of the 2014.7 branch a try, or we should be releasing 2014.7.3 as well as 2015.2.0 all within a couple of weeks. Since this bug has already been reported and fixed, I am going to close this issue. If you still see problems with this issue after testing the newer code, please leave

[2015-03-17 16:00] #21728 closed

[2015-03-17 16:06] jfindlay commented on #21721
@deuscapturus, thanks for the report.

[2015-03-17 16:06] jfindlay commented on #21721
Related to #/21113.

[2015-03-17 16:07] djcrabhat commented on #21245
ok, got over my NTLM hump by changing Local Security policies on windows 2012 to allow older, NTLM v1.  Now I think i'm hitting the same hump as in #15984

[2015-03-17 16:09] jfindlay commented on #21722
@sygibson, thanks for the report.

[2015-03-17 16:13] MrMarvin commented on #19405
Yes is does. The problem I isolated so far is in following block:
[code]
The line starting with "auto" is correctly parsed, the leading spaces at the "iface" line are the problem. I have no idea how they ended up in there.

Also I currently have a MR in the making. I'll link it to this issue.

[2015-03-17 16:14] jfindlay commented on #21726
The only way I know of to do this is a [minion swarm](https://github.com/saltstack/salt/blob/develop/tests/minionswarm.py).

[2015-03-17 16:17] #12487 closed

[2015-03-17 16:22] jfindlay commented on #21727
@totaki, what version of salt are you using?  This looks like a bug that has already been fixed.

[2015-03-17 16:22] thatch45 commented on #21679
Ping me if I don't get back to this soon. @cachedout is also working on re-factoring this code

[2015-03-17 16:29] basepi commented on #21732
This is a known issue. The mine has not been updated such that it will support the syndic architecture, but it's something we definitely want to add.

[2015-03-17 16:31] jfindlay commented on #21664
@liquidat, no, that is all the info I needed, thanks.

[2015-03-17 16:32] thatch45 commented on #21732
Yes, the syndic is designed to keep the sub masters isolated. Opening it up in this way should be a reasonable thing, but we will want to config gate it because for many syndic users turning it on by default will have security implications

[2015-03-17 16:48] Lothiraldan commented on #21679
Great I would be glad to help, I want only to agree on the new design before starting to code.

[2015-03-17 16:52] AusIV commented on #21732
I meant to mention that I saw [this thread](https://groups.google.com/forum/#!topic/salt-users/C5vz53aIjUQ) while troubleshooting, but it didn't appear that any issues had been logged as a result.

[2015-03-17 16:55] thatch45 commented on #21732
We are looking at some major syndic enhancements for the beryllium release, so this will be in there :)

[2015-03-17 16:56] garethgreenaway commented on #19405
:thumbsup:

[2015-03-17 17:08] kiorky opened #21737 "spurious grains log"
Should be lowered down to debug
[code]

[2015-03-17 17:17] srkunze commented on #21726
I see. Thanks for that idea.

Maybe, I better explain our use-case:

We have several hosts around within and outside of our network. Each host basically have n+1 parts:
- 1 host part <- root configs, apache, postgresql, cron etc. etc.
- n user specific parts <- git repositories, virtualenvs, cache directories etc. (generic template though, so user A basically works alike user B and so on, only wit

[2015-03-17 17:25] srkunze commented on #21726
I might add state concerning a single user would also need to change things on the root-side of the host (at least sometimes).

[2015-03-17 17:28] jfindlay commented on #21726
@srkunze, it is clear that you know more about this topic than I currently do. :-)  I think there are only a few configurable paths you will need to change to run many minions on the same machine, otherwise salt-ssh also seems like a good alternative if it can work in your case.

[2015-03-17 17:30] srkunze commented on #21726
I think so. With https://github.com/saltstack/salt/issues/21252 done, I think it's the most sensible approach here.

But still, how can salt-ssh be both at the same time: user A and root (if necessary)?

[2015-03-17 17:43] jfindlay commented on #21726
You might be able to manage that on the master side by changing the user used depending on the state, or you could use sudo on the machine with the multiple users/minions.

[2015-03-17 18:22] igorwidlinski commented on #20976
To answer your question 1, the minion become responsive again after  3 * 7200 seconds.

I patched all of our salt-minions(100+, all linux) and the salt master, and I haven't had any minions become unresponsive when running saltutil.refresh_pillar.

[2015-03-17 18:24] srkunze commented on #21726
Exactly. That is what I currently do. However:

`salt host state.highstate` does not let me specify which user I want to use; neither does `salt host state.sls`.

We have several sls templates (SLS1 containing states S1, S2X; SLS2 containing S3X, S4X, S5) - X stands for the user. Pillars (userA, userB) define what users we want to manage per salt on that specific host (H). This results in 8 states

[2015-03-17 18:40] alf commented on #20976
@cachedout Did a quick check myself, and as far as I can see from the code in 2017.1, only the SUB socket has tcp_keepalive applied. Could you confirm this?

[2015-03-17 18:57] basepi commented on #21726
There are two ways to accomplish this, I think, one with `salt` and one with `salt-ssh`.

If you run multiple copies of the salt-minion on the same machine, passing in separate config files using `-c`, you can have each minion specify a different minion ID, and connect to the master as two different minions (which are actually just the same minion but with different daemons running as different us

[2015-03-17 19:05] aboe76 commented on #21507
@isbm it works:

[code]

But can the gpgautoimport be transported to be globally used something like:
[code]

now we have it only on the adding of the repo's

[2015-03-17 19:05] srkunze commented on #21726
Thanks @basepi. Yes, makes sense so far.

However, the user basepi has no sudoer rights. Let's assume state S3basepi from above actually need root rights to change something for user basepi (pg_hba.conf, adding an apache vhost.conf etc.).

How can we do this?

[2015-03-17 19:15] cachedout commented on #20976
@alf That is correct. This fix has only been backported to 2015.2

[2015-03-17 19:19] soodr opened #21740 "authentication/ timeout errors with Cherry api"
Salt api throws a timeout . It worked briefly for a while .

(salt)-bash-4.1$ curl -sSik https://localhost:9000/login -d username='jenkins' -d password='***' -d eauth='pam'

HTTP/1.1 500 Internal Server Error
Content-Length: 1127
Access-Control-Expose-Headers: GET, POST
Vary: Accept-Encoding
Server: CherryPy/3.2.3
Allow: GET, HEAD, POST
Access-Control-Allow-Credentials: true
Date: Tue, 17 Mar 2015

[2015-03-17 19:26] basepi commented on #21118
Ya, that probably would be good. In this case it should be in `/etc/salt/pki`, just FYI.

[2015-03-17 19:49] baweaver commented on #21707
It looks like 2014.7.2 (Helium) is the latest.

[2015-03-17 21:00] #15457 closed

[2015-03-17 21:18] rallytime commented on #19932
After testing this on the HEAD of 2015.2, this bug is not fixed yet.

[2015-03-17 21:27] rallytime opened #21744 "[2015.5] Multi-Master Minions Block on Authentication"
When setting up multi-master on the HEAD of the 2015.2 branch, when the minion starts, the minion will block until it authenticates with the first master in the minion's list of masters. Once that auth has taken place, it will then block on the authentication of the second master, and so on (if more than two).

This is a regression in behavior since 2014.7 (and, after testing on the HEAD of 2014.7

[2015-03-17 21:30] deuscapturus commented on #19969
@UtahDave Any new windows package to fix this?  I'll take it even if it's not fully tested!  Thanks :)

[2015-03-17 22:07] basepi commented on #10948
I think this is still an issue, we need to get it fixed.

As far as getting involved, unfortunately IRC is one of the main ways (#salt on freenode), but we also have a community mailing list: https://groups.google.com/forum/#!forum/salt-users

[2015-03-17 22:07] basepi commented on #15613
No progress here, unfortunately.

[2015-03-17 22:08] basepi commented on #20276
This issue should be limited to `cmd.run`. You could patch it in place with the `cmdmod.py` at the head of 2015.2 if you wanted. We hope to have an rc2 out soon.

[2015-03-17 22:18] basepi commented on #21662
Hey @Code-Vortex, you might consider trying `salt 'myminion' state.show_sls myslsfile`. This will compile the specified sls file (leave off the `.sls` extension when you run this), and it will show you the compiled highstate data. It does a little more work than just converting the jinja/yaml to a data structure, but since this is the actual data that salt looks at and executes, it could be very u

[2015-03-17 22:18] hari316 commented on #21719
I am still getting the error, even though sshpass is installed on salt-master and salt-minion.

/etc/salt/roster:

test-ubuntu-minion01:
  host: 10.xx.xxx.xxx
  user: username
  passwd: xxxxx
#  priv: /home/username/.ssh/id_rsa
  sudo: True

[2015-03-17 22:20] basepi commented on #21601
This is very odd. The only time I would expect to see behavior like this is in a multi-master syndic setup. If minions are connected to multiple masters, and those masters are all connected to a master of masters, then the minion will get the job multiple times (once from each master). Are you using multi-master at all?

[2015-03-17 22:23] basepi commented on #21251
The requirements for individual modules are (or should be) documented at the top of that module's documentation.

Now that you mention it, I don't see any mention of the python 2.6/2.7 requirement in the salt-ssh documentation. I think it's mostly assumed -- most modern systems have python 2.6/2.7 installed. But we should add it as part of the documentation fixes we make for this issue.

[2015-03-17 22:33] basepi commented on #21726
That's fine. This is the case for many things in salt. A single running salt-minion daemon manages state for all the users on the system. We can modify users, put down files as users (file.managed has user/group arguments), run commands as users (cmd.run with runas), etc.

You'll have to run S3X from the root user, I don't see a way around that, but it's definitely doable.

[2015-03-17 22:36] srkunze commented on #21726
Sure, I see what you mean but I still fail to see how I can specify the X in S3X (running as root).

[2015-03-17 22:38] basepi commented on #21719
Try adding `tty: True` to your roster entry.

[2015-03-17 22:41] basepi commented on #21726
You would have to target the S3X state to the minion entry which is running as root. Using the example roster I put above, you might do something like this:

top.sls file:
[code]

Note that myminion1-1 and myminion1-2 are the same box, just different users.

[2015-03-17 22:42] srkunze commented on #21251
Sounds good.

A not-so-pressing wish I would have right now: could those modules not inform the user which packages need to be installed on the minion side? Maybe, even better automatically installing them after confirmation?

[2015-03-17 22:42] babs opened #21747 "Debian package 2014.7.2+ds-1~bpo70+1 gitfs broken ?"
Hello,

I've juste updated my salt installs and it seems that the one packaged in 2014.7.2+ds-1~bpo70+1 has the gitfs lock bug (#20896).

After remplacing gitfs references by clone and references in files_roots, it worked again.

D.

                     Salt: 2014.7.2
                   Python: 2.7.3 (default, Mar 13 2014, 11:03:55)
                   Jinja2: 2.6
                 M2Crypto: 0.21.1

[2015-03-17 22:44] basepi commented on #21251
Not a fan of automatically installing. That's kind of what https://github.com/saltstack-formulas is already trying to do.

But we have added functionality such that in module `__virtual__` functions, you can return the reason that a module wasn't loaded, and that reason will be shown to the user when they try to use that module. Just return a tuple with `False` and the reason it wasn't loaded as a

[2015-03-17 22:44] UtahDave commented on #19969
I'm testing a whole new build system that avoids the problems we've been having with the freezing process. We might have a 64bit rpm you could test tomorrow, maybe.

[2015-03-17 22:53] hari316 commented on #21719
I get the following:

[code]

In addition detailed dictionary as stdout

[2015-03-17 22:54] srkunze commented on #21726
Let me see if I got that correctly for the example above
[code]

That looks quite complicated, error-prone and comes with a big maintenance effort, especially when many people start expanding on this by adding 10 new users.

Furthermore, I didn't mention: S1 to S5 are a chain (S1 -> S2A -> S3A -> S4A -> S5; S1 -> S2B -> S3B -> S4B -> S5). That is they require each after another. So, splitting the

[2015-03-17 22:56] srkunze commented on #21251
Sure, starting with human-readable data is fine as a first step. I would appreciate that.

[2015-03-17 22:57] ciriarte commented on #19969
Thanks for your hard work, @UtahDave!

[2015-03-17 23:08] ssgward commented on #21449
This has been fixed. Closing.

[2015-03-17 23:08] #21449 closed

[2015-03-17 23:09] ssgward commented on #21138
This has been fixed. Closing.

[2015-03-17 23:09] #21138 closed

[2015-03-17 23:09] ssgward commented on #21137
This has been fixed. Closing.

[2015-03-17 23:09] #21137 closed

[2015-03-17 23:09] isbm commented on #21507
@aboe76 It would make sense to add this to the `refresh_db` as well, yes.

[2015-03-17 23:09] mimianddaniel opened #21749 "missing number of ret events between master and syndic 20152"
on  intermediary masters, seeing discrepancy between the number of ret events in the master log and syndic log.

[code]

shows different number of events each time. Obviously this is causing number of ret events in  master of master to be wrong from the actual.

not sure if this is a case in 2014.7.2 as well...

[2015-03-17 23:10] ssgward commented on #21520
To be addressed in next release.

[2015-03-17 23:13] cro commented on #20979
@cachedout says fixed :-)

[2015-03-17 23:13] #20979 closed

[2015-03-17 23:19] ssgward commented on #21496
@jfindlay - will you validate this fix on 7.3 please.

[2015-03-17 23:20] cachedout commented on #19864
I have a fix for this but it's on a machine that doesn't have network access right now. (Long story.)

There were a number of issues causing this but the way it works is as follows:

1) Top-level master published command
2) Client begins gathering returns as they appear
3) Lower-level masters begin replying with lists of expected minion returns
4) Client waits the length of ```syndic_wait``` for t

[2015-03-17 23:23] RobertFach opened #21751 "state postgres_db_grp.present doesnt report as change when creating a group"
Hi,

I have the following state:

[code]

[code]

The state has changed something, that means, the group has been created, but it doesn't get reported.

A fix will follow...

[2015-03-17 23:29] jfindlay commented on #21496
@ssgward, it seems that the pull request reference by @terminalmage has not been merged yet.

[2015-03-17 23:39] terminalmage commented on #21496
Yes, that is because I closed it.

[2015-03-17 23:52] #14628 closed

[2015-03-17 23:54] dmargrave commented on #21341
yeah this one bit me too.

[2015-03-18 00:28] baweaver commented on #21707
In the mean time, and as a hackaround solution, I've been using the async jobs and retrieving the results within a few seconds. Is there any way to see if a job is done?

[2015-03-18 00:34] techhat commented on #16140
@egilh, this has always been the case, but I am in the process of making a number of changes to this driver. I would like to chat with you about your use case(s) if you have a moment.

[2015-03-18 01:19] techhat commented on #14783
@andrejohansson, is this still happening with the latest Azure SDK?

[2015-03-18 01:20] techhat commented on #19162
@traxair, can we consider this fixed?

[2015-03-18 01:25] techhat commented on #11459
@yamatoya, is this still happening?

[2015-03-18 01:39] jacksontj commented on #21707
I am unable to reproduce this locally still. I was looking into this, and I'm a bit interested with the 5m timeout there. From the code I'm looking at the salt-api enforces no such timeout-- which lead me to the problem. The issue is that the publisher says the glob matched "N" minions, but not all N are available. This means the salt-api will actually wait indefinitely for the return to show up o

[2015-03-18 02:14] quantonganh opened #21758 "file.manage_file: The following arguments are missing: saltenv?"
salt-call --versions-report

[code]

The state file:

[code]

and the error:

[code]

[2015-03-18 02:42] uvsmtid opened #21760 "Show job id `jid` on premature exit of any kind (i.e. "no return from minion") regardless of verbose mode `-v`"
For example, if I start long-running job and press `CTRL-C`, the output shows:
[code]
This is fine.

However, when Salt exits on timeout, it shows nothing. Getting `jid` requires inconvenient searching through `jobs.show_jobs` output:
[code]
Why don't Salt show job id on any premature exit whatever the reason is?

[2015-03-18 02:57] uvsmtid commented on #21760
There is a similar issue #14970.

I deliberately requested a new one because premature exists belong to special condition where job id is likely a very useful info. Displaying `jid` on premature exit should not depend on configuration option to display job id by default in any case.

[2015-03-18 03:04] jfindlay commented on #20941
The other change is [here](https://github.com/saltstack/salt/pull/20715/files#diff-b5732eecf0273ccf6a96e1c720198dc6).  It seems like something that ought to go into `salt.utils`, but if the only need for a chowned directory is there, I guess it's fine.

[2015-03-18 03:04] #20941 closed

[2015-03-18 03:32] uvsmtid commented on #16443
Please re-open this bug. It still exists in `2014.7.2`:
[code]

It's very easy to reproduce (if verification required):
* Start both Salt master and minion services on a single node.
* Accept minion using `salt-key`.
* Shutdown minion.
* Execute any function against this minion.
[code]

[2015-03-18 04:21] bertjwregeer commented on #21118
In my case due to not setting the `root_dir` in my `master` so it was trying to write to `/salt_root` rather than `./salt_root`.

Figured it out by printing the original exception rather than just catching it and raising another one.

[2015-03-18 04:27] whiteinge commented on #21679
I'd be interested in @cachedout 's ideas on this while still maintaining backward-compat.

Could a new `expr_form` be added that is eauth-specific? That would allow the existing eauth targeting semantics to stay in-tact but allow for an alternate targeting that parses the eauth config to provide the informed guess of the subset of authorized minions.

Perhaps `salt -a pam -A '*' test.ping` and `lo

[2015-03-18 04:31] aikar opened #21762 "Repair git state tracked branch instead of failing"
I'm not sure what caused it (In Vagrant dev environment), but ultimately my checkout lost its upstream tracking information to origin/master

This caused salt to report:
[code]
Repairing the upstream with:
[code]
resolves this issue. I suggest that instead of failing when that command returns non zero, to instead repair the upstreaming tracking information using the branch command supplied.

[2015-03-18 04:37] whiteinge commented on #13755
@jacobhammons do you have a recent build of the PDF handy that we can toss up on the [release page](https://github.com/saltstack/salt/releases/tag/v2014.7.2)?

[2015-03-18 04:48] whiteinge commented on #21740
@soodr do you have reason to think this is not the same issue as the one you linked? Do you have concurrent requests going when you see the issue?

[2015-03-18 06:54] uvsmtid commented on #14435
Please re-open this bug. It still exists in `2014.7.2`:
[code]

It is easily reproducible:
* Create a `dummy.sls` state like this:
[code]
* Execute `salt` or `salt-call` (`salt` in this output):
[code]
* Check error code:
[code]

[2015-03-18 07:17] uvsmtid commented on #13216
I think it may also be related to the fact that regular `salt` command does not consider non-returning minion as an error (issue #16443) for CLI exit code - [just tested](https://github.com/saltstack/salt/issues/16443#issuecomment-82724469) for `2014.7.2`.

[2015-03-18 07:22] mpasternak commented on #13216
Actually the fact of totally liberal exit code treatment is the sole reason
I am migrating to some other solutions.
18 mar 2015 08:18 "Alexey Pakseykin" <notifications@github.com> napisał(a):

[2015-03-18 07:41] uvsmtid opened #21764 "Command `salt-run jobs.lookup_jid` return zero exit return code for any non-existing job id"
## Specific Problem

Just run this command with any arbitrary job id:

[code]

For scripting purposes it is much more helpful if command returns non-zero error code for non-existing job results.
## General non-zero return code problem

I believe this is not a bug specific to `jobs.lookup_jid`.
Issue #18510 is linked to many similar cases and looks directly related.

However, searching issues for "

[2015-03-18 08:03] egilh commented on #16140
@techhat I most certanly have!
My solution runs on a mix of OS and Services. We use Web services, as well as VMs in different cloud services. I use Salt to manage all the VM's, and deploy them using azure-xcli and cloud-config. In my use case, deploy/provisoniong with salt-cloud fails when salt-cloud tries to list all running nodes in azure. Everything points to that it fails when listing a servic

[2015-03-18 08:11] uvsmtid commented on #18510
+1

I've just raised/tested few other similar issues particularly important for me. Searching for ["zero exit"](https://github.com/saltstack/salt/search?p=1&q=zero+exit&type=Issues) gives a list of issues related to lack of error indication for CLI.

## Should it be a critical issue? ##

"Critical" not in the sense that it does not allow using Salt. It is "critical" in the sense that it effectivel

[2015-03-18 09:28] Lothiraldan commented on #21679
@whiteinge In my idea, every kind of targeting should works with the minion-side eauth. It should be possible to target `-S '10.0.2.0/24'` and run the job only on authorized minions.

[2015-03-18 10:07] msciciel opened #21765 "pillar.get vs pillar.item"
pillar.get output is different than pillar.item for the same key:

<pre>
salt backend.ktoolix.htp.iadm pillar.get environment

backend.ktoolix.htp.iadm:
    - unknown

salt backend.ktoolix.htp.iadm pillar.item environment
    environment:
        - prod
</pre>

Minion:
<pre>
           Salt: 2014.7.0
         Python: 2.6.6 (r266:84292, Feb 22 2013, 00:00:18)
         Jinja2: 2.7.2
       M2Crypto:

[2015-03-18 13:14] #15960 closed

[2015-03-18 13:41] techhat commented on #16263
@egilh, while I've found references to availability sets and load-balanced endpoints in the Azure SDK for Python, I'm not able to find anything for actually managing them. If you can point me to the right functions to do those, I'd be happy to add them.

[2015-03-18 14:17] RobertFach commented on #14074
Hi, what is the status of this feature request, any progress here?

I really like the description and points of @UtahDave.
Right now, I'm working on a replicated filesystem which I would like to be fully automatically managed by Salt. This requires, as already mentioned by @malinoff, that one of the nodes is considered to be a leader. I don't like to have to specify a grain or a pillar which tells

[2015-03-18 14:43] rallytime commented on #21747
Thanks for the report @babs. We had a regression in the 2014.7.2 release with gitfs, as you've mentioned above. (The package you're referring to is built based on a git tag, which is static, and the package does not have fixes that were submitted upstream.) The bug has been fixed at the HEAD of the 2014.7 branch and the fix will be available in the next release, 2014.7.3.

Since this is a duplicat

[2015-03-18 14:43] #21747 closed

[2015-03-18 14:50] egilh commented on #16263
I think this has been changed in the SDK as the commands have changed alot. I can try to find more data about this.

[2015-03-18 15:06] #21089 closed

[2015-03-18 15:06] cachedout commented on #20960
This is done. Closing.

[2015-03-18 15:06] #20960 closed

[2015-03-18 15:07] #20912 closed

[2015-03-18 15:09] rallytime commented on #21341
@dmargrave You can find a lot of helpful information about the bootstrap script here: https://github.com/saltstack/salt-bootstrap. Some of the things that will help you out here is passing in git tags, branches, or shas, as you've mentioned above (so you could substitute `v2014.7.2` with `2014.7` to install from the HEAD of the 2014.7 branch). One thing you could try is to use either a newer versi

[2015-03-18 15:10] #20844 closed

[2015-03-18 15:14] cachedout commented on #21354
I'm not certain this is true. We added a limit to payload sizes a while back. Has this been confirmed by anybody?

[2015-03-18 15:14] rallytime commented on #21707
Thanks for the discussion and for the fix! I believe the pull request listed above is for the 2015.2 branch, but the fix that is related to the 2014.7 branch is #21755 (which for some reason isn't showing up in the usual, nicely formatted, github way) - just wanted to link it here for ease of use.

@baweaver Can you give that pull request a try and let us know if you run into any problems with it?

[2015-03-18 15:16] rallytime commented on #16443
Thanks for letting us know @uvsmtid!

[2015-03-18 15:16] cachedout commented on #20976
@igorwidlinski In your view, what work remains in order to close this issue to your satisifaction? It sounds like we have made good progress overall and I'd like to get this closed soon if we can. Thanks for all your help thus far.

[2015-03-18 15:18] cachedout commented on #20630
@kriberg Could this be the same issue as #19932 ?

[2015-03-18 15:30] ek-dyoder commented on #10948
Is there any workaround? Or some way of having msiexec install software via cmd.run?

[2015-03-18 15:43] rallytime commented on #14435
Thanks for updating us here @uvsmtid.

[2015-03-18 15:49] djcrabhat commented on #21245
And now I can bootstrap windows.  I think a NTLM v2 compatible windows bootstrap is essential for functioning, but you guys can close this particular bug if you'd like to make one explicitly for that

[2015-03-18 16:01] rallytime commented on #21749
Thanks for the report @mimianddaniel. I know @cachedout is working on some updates to the syndic, and I suspect his changes will likely address this issue.

[2015-03-18 16:07] rallytime commented on #21751
Thanks @RobertFach! And, as always, we look forward to seeing your fix. :)

Mind throwing in a versions report here?

[2015-03-18 16:15] basepi commented on #21762
This is for the `git.latest` or one of the other git states, correct? Not gitfs or anything?

[2015-03-18 16:31] babs commented on #21747
Those pacakges where released yesterday, isn't it weird to release a version with an upstream patched regression ?
Is there a stabilization cycle in between releases (like 2014.7.2.1 or 2014.7.2a) ?
I'm not really aware of the cycle of the packages. When does the 2014.7.3 would be released ?

[2015-03-18 16:42] rallytime commented on #21758
@quantonganh Thanks for this report. Is there any particular reason you're using the `module.run` state with `file.manage_file` instead of the `file.managed` state? The `file.manage_file` module function isn't really designed to be as user-friendly as the `file.managed` state as it mostly serves as a helper function for the state version.

The state version (file.managed) does not require an `env`

[2015-03-18 16:47] rallytime commented on #21747
@babs We have mainly community packagers that update their various repos as they are able, at this point in time. The 2014.7.2 release was announced several weeks ago, actually, but our packager only recently was able to get them finished up. We are working on a faster internal packaging process to remediate the Debian/Ubuntu lag currently.

There is not a stabilization cycle currently. Really wha

[2015-03-18 16:50] babs commented on #21747
@rallytime Thank you for all those clarifications !
I hope this will come soon. Wish I cound help :/

[2015-03-18 17:01] rallytime commented on #21747
No problem! Sorry I didn't have any silver bullet answers here.

[2015-03-18 17:15] RobertFach commented on #21751
@rallytime sure...

[code]

[2015-03-18 17:22] igorwidlinski commented on #20976
The keep alive issue is definitely resolved, and it makes a world of difference for our state-full firewall infrastructure. Thanks!

There is rare case when firewall drops connection AND saltutil.refresh_pillar is run before keep alive discovers the connection has been dropped and new one connection reestablished.

I don't see this causing issues to us, but someone else might be affected. Also are

[2015-03-18 17:23] deuscapturus commented on #19969
@UtahDave Thanks!

[2015-03-18 17:37] twangboy opened #21773 "Threading is broken for windows"
2015.2 doesn't launch in windows. It looks like threading is broken.

This is the error I'm getting:

[code]

[2015-03-18 17:38] aikar commented on #21762
Yes for git.latest

[2015-03-18 17:49] Xiol opened #21774 ""Failed to commit change, permission error" when using file.managed with check_cmd"
Hi,

I'm using `2015.2.0rc1-1063-gac4264d` and I'm having trouble using the `file.managed` state with `check_cmd`. As I understand it from the docs, `check_cmd` for `file.managed` will execute the specified command with the file as an argument to see if it can get a non-zero return status before replacing the file in question - great! However I'm being told there is a permissions issue and I can't

[2015-03-18 18:03] Xiol commented on #21774
I've just remembered that the minions are 2014.7.1. I'll try updating these to the same 2015.2 version and trying again (unfortunately I need to leave the office now and can't try this till the morning!)

[2015-03-18 18:12] basepi commented on #21702
I think the syndic fixes in 2014.7 that were merged forward have fixed this issue. Neither @jfindlay nor I can reproduce on the current head of 2015.2 (g8a301bc). I'm going to close this for now -- if you test and fine differently, please comment and we'll re-open!

[2015-03-18 18:12] #21702 closed

[2015-03-18 18:22] ksalman opened #21776 "What's different with Salt's version of python-urllib3_1.7.1-1~bpo70+1_all.deb?"
I am using aptly to mirror various apt repositories, including wheezy and saltstack. I would like to merge the saltstack repo into our local wheezy repository but it appears I cannot do it because the md5sum of ```python-urllib3_1.7.1-1~bpo70+1_all.deb``` from Salt is not the same as md5sum of the same package in Debian.
[code]
Where does the Salt's version of this package comes from? Shouldn't it

[2015-03-18 18:38] bbhoss commented on #20687
This seems to work for me with the latest salt and smartos (97f4ec97ef58755b55e608ad5c985e5667c33c1e and base-64-lts:14.4.0)

[2015-03-18 18:52] basepi commented on #21765
They actually serve different purposes.

`pillar.item` allows you to pass in one or more pillar keys as arguments, and the return value is a truncated pillar dictionary with only those keys. So the keys are included.

`pillar.get` on the other hand is designed to mirror the functionality of the built-in `.get()` method which you can use on any dictionary in Python. It only allows you to query for

[2015-03-18 18:53] basepi commented on #21765
I'm going to close this as to reduce the number of open issues, but feel free to comment if there's still confusion -- I'll monitor replies to this issue.

[2015-03-18 18:53] basepi commented on #21737
I agree.

[2015-03-18 19:19] SaltwaterC commented on #21625
@rallytime thanks, the patch solves the issue. The fail output actually tells the story now:

[code]

@aneeshusa thank you.

[2015-03-18 19:19] #21625 closed

[2015-03-18 19:24] rallytime commented on #21625
Awesome! Thanks for testing and following up!

[2015-03-18 19:26] rallytime commented on #21615
After testing this with the fix from @cachedout in #21775, this issue remains a problem. The work-around for now is to install a minion on the machine with the syndic. However, this is a change in expected behavior.

When no minion resides on the syndic, the timing problem remains around ~15 seconds as the CLI is waiting for the syndic to return when it should not be.

[2015-03-18 19:31] #21765 closed

[2015-03-18 19:38] basepi commented on #14970
So this exists. `--show-jid`. =)

[2015-03-18 19:38] #14970 closed

[2015-03-18 19:41] basepi commented on #21760
Since, by default, we don't treat minion timeouts as errors, I'm leaning towards not approving this one. We have `--show-timeout` to show minion timeouts without `-v`. We also have `--show-jid` to show the jid regardless of `-v`. Both of these have accompanying master config options. `show_jid` and `show_timeout`.

I think I'm going to just recommend you set `show_jid: True` in your master config.

[2015-03-18 19:43] basepi commented on #21764
This is part of a long-running discussion around exit codes, which I'm not going to get into. But yes, I think that lookup_jid should return a non-zero exit code if the jid is not found.

[2015-03-18 19:47] baweaver commented on #21707
I'll look into it and ping the owner to see what we can get done. Thanks again for your time! I'll post back with what we find.

[2015-03-18 19:51] rallytime opened #21779 "Single minion target waits full 5 secs when using syndic"
After testing the changes made to the syndic client by @cachedout in #21775, it is expected behavior for the CLI (when using a syndic) to wait ~5 seconds (the default value for `syndic_wait`) before returning to allow all configured syndics to return, which makes sense.

However, if you're targeting only one minion, the CLI still has to wait before returning. Since minion IDs must be unique, it do

[2015-03-18 20:23] rallytime commented on #21773
@twangboy Was this fixed by #21777?

[2015-03-18 20:24] basepi commented on #21495
So it turns out this was implemented, but has never worked because of a series of errors in the code. Pull request incoming.

[2015-03-18 20:40] basepi commented on #21719
Ah, now that I look at this in more detail, I do think it's a duplicate of #8882 and am going to close it as such.

[2015-03-18 20:40] #21719 closed

[2015-03-18 20:43] basepi commented on #21726
Yes, in this case you would have to use the `state.orchestrate` runner, and I'm unsure if we have that working with salt-ssh as well as we want yet.

I guess the real question is why do you need to run the various salt-ssh commands under different users? Salt is designed to be run as root, and then drops into the correct user space as needed based on arguments (as in `cmd.run`, for example). Based

[2015-03-18 20:45] basepi commented on #21118
Ah, I understand. Glad you got it figured out.

[2015-03-18 20:47] hari316 commented on #21719
@basepi I dont find any resolution to the issue, Kindly provide some pointer or the issue still exists ??

[2015-03-18 20:58] basepi commented on #21762
Cool thanks. We should probably have some better error-recovery here.

[2015-03-18 20:59] basepi commented on #21719
#8882 is the issue that still exists. We don't yet support sudo with passwords over salt-ssh yet.

[2015-03-18 20:59] basepi commented on #21719
But it is something we want to add.

[2015-03-18 21:06] rallytime commented on #21779
I originally tested this on @cachedout PR, which was based on 2015.2. However, I have also seen this bug in 2014.7.

[2015-03-18 21:22] srkunze commented on #21726
Hm, I did not pay much attention to this yet.

Actually not. We can use root all the way long. However, the main problem is how to I specify which user-related files/items need to be changed?

To me, `salt-ssh minion state.highstate` missing a parameter where I can specify which user on the minion host actually needs an update.

THIS (at least I thought so) would be achieved by passing in a user n

[2015-03-18 21:28] srkunze commented on #21726
Thinking about his more:

1) Can I generate the top.sls file via a jinja template? If so, I could generate all minion highstates by iterating through the pillar data.

2) Assuming (say n) users and (say m) hosts (so n times m minions), wouldn't be very inefficient considering all sls templates would be multiplied by the pillar data? Remember, pillar contains a list of all usernames to be managed o

[2015-03-18 21:35] srkunze commented on #21726
Note to 1) above. Realizing now, I would have to generate /etc/salt/roster as well from a template. Damn.

[2015-03-18 21:48] rallytime commented on #19864
After testing the fixes above from @cachedout, we have determined that the syndic architecture is now much more stable. However, the "slow architecture" remains an issue.

Basically what is happening is when the syndic does not have a minion installed on it (as the current docs say is possible, and indeed it is) the syndic (without the minion) acts as a minion to the master. The syndic ends up in

[2015-03-18 22:09] rallytime commented on #19864
I have added some documentation to the syndic topology in the pull request above to reflect the discussion in this thread.

[2015-03-18 22:10] garthk opened #21783 "ssh_auth.present IndexError: list index out of range"
Salt is failing `ssh_auth.present` on a `2014.7.2` box. The same state works fine on a `2014.7.1` box. Permissions seem fine, and the error happens whether `/home/garthk/.ssh/authorized_keys` is present or absent.

[code]

I can't easily downgrade: `2014.7.1` is gone from the repo. Any ideas?

UPDATE: **WORKAROUND:** ensure your SSH keys have a comment.

[2015-03-18 22:12] garthk commented on #21783
It's also failing for users only just created with `user.present` and no `.ssh` directory.

[2015-03-18 22:25] carolynvs opened #21784 "Publish.Runner Fails to Parse Runner"
I am unable to execute any runners from a minion using publish.runner, e.g. salt-call publish.runner salt-call publish.runner doc.runner

Everything fails with the following error:

     2015-03-18 17:23:04,348 [salt.master      ][ERROR   ] Error in function minion_runner:
    Traceback (most recent call last):
      File "/usr/lib/python2.7/dist-packages/salt/master.py", line 1336, in run_func

[2015-03-18 22:28] basepi commented on #21726
Ideally, highstate will manage your entire infrastructure from top to bottom, including each user, in a single run. The templating should probably happen in the state files themselves, not the topfile.

That said, if you want to have generalized states and then run them once for each user, you can actually use pillar to accomplish this. State runs allow you to pass one-off pillar data into the run

[2015-03-18 22:46] carolynvs commented on #21784
Closing... I had an invalid entry in my peer_run which was causing the exception.

[2015-03-18 22:46] #21784 closed

[2015-03-18 22:52] rallytime commented on #21784
@carolynvs Glad you got it figured out! :)

[2015-03-19 00:48] soodr commented on #21740
@whiteinge : The difference is that there are no concurrent requests.

Interestingly, I switched to RAET and was able to successfully login and use the token --- on a Linux system.

Curl on a windows , gives me an authentication error:

      <h2>401 Unauthorized</h2>
      <p>Could not authenticate using provided credentials</p>
      <pre id="traceback">Traceback (most recent call last):
File "/

[2015-03-19 02:44] Darnok99 commented on #21572
try changing
"80/tcp":
to
- "80/tcp":

to indicate it's a list. In the code there is a is list check

[2015-03-19 03:34] rallytime commented on #21737
Fixed in #21792

[2015-03-19 03:34] #21737 closed

[2015-03-19 05:06] cachedout commented on #19932
Fix for this in #21795

[2015-03-19 05:08] cachedout commented on #21615
While I agree this is a problem, I disagree that it is worthy of blocking a release. I suggest we move this to a high-severity issue instead.

[2015-03-19 05:15] cachedout commented on #20197
@rallytime Which issue is the blocker here? If it's the highstate causing minions to drop issue, that is a duplicate of #19932 which is resolved by #21795.

If it is the issue about inconsistent returns, I can confirm that in the 2014.7.2 tag as @jhenry82 originally pointed out but not in the HEAD of 2014.7.

[2015-03-19 05:27] cachedout commented on #21613
Since we've had this open a week, I'm going to go ahead and close it. @kiorky if you need this re-opened, just leave a comment and we'll be happy to do so. Thanks.

[2015-03-19 05:27] #21613 closed

[2015-03-19 05:35] cachedout commented on #21336
Since we have had no reply here and the issue appears to be fixed, I am going to go ahead and close this issue. @jhgg if it is not working for you on the next release or in the develop branch, please leave a comment on this issue and we will happily re-open it.

[2015-03-19 05:35] #21336 closed

[2015-03-19 05:37] cachedout commented on #20976
I haven't heard reports of other affected modules but if I do, I will link them to this issue. Since I don't think there's much more to do here, I'm going to go ahead and close this for now. Thanks again @igorwidlinski

[2015-03-19 05:37] #20976 closed

[2015-03-19 05:38] cachedout commented on #20898
Sounds like this is resolved so I'm going to go ahead and close this.

[2015-03-19 05:38] #20898 closed

[2015-03-19 06:11] grischa opened #21796 "pyobjects behaving weirdly when calling python stdlib package"
I am using pyobjects, silly me...
The following code doesn't work:
[code]
it fails with this message:
[code]
However, it works fine when I separate the line.
[code]

Of course, I have `import random, string` at the top of the file

Does this really hand-parse python up to an arbitrary level of complexity? If yes, please document this, so people don't expect too much.

[2015-03-19 06:50] mtapoja commented on #18648
Pillars updated to 6, only 2 reply after that. 2014.7.2+ds-1precise2 and 2014.7.2+ds-1trusty2 in the receiving end.

[2015-03-19 07:44] bersace commented on #20777
Hi,

I confirm this bug with same versions :

[code]

[2015-03-19 08:11] rominf opened #21797 "[outputter] add sort option"
We have minions named by this scheme:

[code]

So I would like to get results sorted by minions id, but not by their response time.

Instead of this:

[code]

I want to get this:

[code]

Unfortunately there is not simple way to sort YAML with the help of *NIX utilities.

[2015-03-19 08:18] uvsmtid commented on #21760
I've tested master side config for
* `show_jid`
* `show_timeout`
The immediate problem I notices that neither these option nor their CLI overrides for `salt` command are documented:
* [master config](http://docs.saltstack.com/en/latest/ref/configuration/master.html) - tried, worked
* [salt cli](http://docs.saltstack.com/en/latest/ref/cli/salt.html) - not tried, not sure

Even though it's not exact

[2015-03-19 08:26] andygrunwald commented on #19864
Thanks for the updates, works and merging!

Is there a plan to release v2014.07.3 and/or v2015.2.1 (with this fix included?).
We would love to test this :)

[2015-03-19 08:58] cachedout commented on #18648
@JustinCarmony @mtapoja Is this with a single master or multi-master?

[2015-03-19 09:05] mtapoja commented on #18648
Mine is a single master setup.

[2015-03-19 09:09] Xiol commented on #21774
I can confirm that I can duplicate this issue with the minion running `2015.2.0rc1-1074-g8a301bc`.

[2015-03-19 09:28] mtapoja commented on #18648
Use at your own risk!. But in a mixed Ubuntu 12.04/14.04 this workaround seems to work:
1: make sure 'at' is installed for each machine:
   $ sudo salt -L <list of minions> pkg.install at
2: $ sudo salt -L <list of minions> cmd.run "echo 'service salt-minion restart'|at now + 3 minute"
3: $ sudo salt -L <list of minions> saltutil.refresh_pillar

For recurrent refreshing you only need to run 2 and

[2015-03-19 10:18] msciciel commented on #21765
I think i didn't describe enough problem. I understand the difference between pillar.get and pillar.item. Problem is that after pillar update pillar.item show correct value but pillar.get show old value.

[2015-03-19 10:19] felskrone commented on #9074
There used to be a rather short documentation about this, but i think it has vanished from the docs over time. I cant seem to find it in the current docs.

https://salt.readthedocs.org/en/v0.12.1/topics/specs/salt_auth_proto_abs.html

[2015-03-19 10:22] midihenry commented on #21582
Sorry I could only get back to work today.
I've updated salt to the last version and so far so good.

[2015-03-19 11:48] syphernl opened #21799 "Unable to manage file: string indices must be integers, not str"
Once in a while we see this error coming by whenever we run highstates.
Its not clear where it originates from and what causes it (yet).

It may be related to the fact that our states/files are being `git pull`'ed every 5 minutes (via a cron, not via gitfs), except that the times do not correlate with the optional update and that it generally also happens even if nothing has changed in the repo.

[2015-03-19 12:59] twangboy commented on #21773
It's fixed on 2015.2. We'll need to merge forward. I don't know if it's
broken on 2014.7.

On Wed, Mar 18, 2015 at 2:23 PM, Nicole Thomas <notifications@github.com>
wrote:

--
*Shane Lee*
*Windows Platform Engineer*
Salt Stack, Inc.

Join us at SaltConf15 <http://www.saltconf.com/> - March 3-5, 2015 - Salt
Lake City

[2015-03-19 13:15] leftyhitchens opened #21802 "Getting state in sls is not formed as a list"
[code]

This is my state file, when I run:

[code]
I get the following error:

[code]
 I am on version: 2014.7.0 (helium)

What am I missing?

[2015-03-19 14:22] dhs-rec commented on #4614
/S does NOT work. It still opens an "Are you sure ..." type message box (2014.7.2).

[2015-03-19 14:49] ev0rtex commented on #21601
@basepi We don't have a multi-master setup. As I'm thinking about it I know we switched the minions to point to the syndic in the past. Prior to doing so they originally pointed at our super master before we had the syndic master in place. When I did the switch I deleted the minion keys from the super master and then I pointed the minions to the syndic master. I can't imagine that anything would b

[2015-03-19 14:52] andygrunwald opened #21803 "Returners: Usage of multi_returner slow"
We are experimenting with returners.
Our goal is to log every event to a 3rd party storage. Two options: `ext_job_cache` or `master_job_cache`. We are building a dashboard upon this data.

The minions itself don't get a connection to the 3rd party storage, only the master server.
So `ext_job_cache` is out and `master_job_cache` will be used.

We thought: Okay, lets store everything in Kafka, becau

[2015-03-19 14:58] rallytime commented on #19864
@andygrunwald Glad that is working better for you. And yes, there are plans for this fix to be in both a 2014.7.3 and a 2015.2.0 release.

[2015-03-19 14:59] andygrunwald commented on #19864
@rallytime I saw that the fix is integrated in both versions, but my question was related to a (maybe) planned release date of this versions.

[2015-03-19 15:03] rallytime commented on #19864
Oh, sorry I misunderstood. We don't have a fixed date for these releases yet, but we're trying to get them both out ASAP. There are a couple of blocking bugs (this was one of them) that we need to fix before the releases happen. As soon as we can resolve those, we'll be releasing each version.

[2015-03-19 15:06] rallytime commented on #21615
Since we have a work around of "install a minion" and I have updated the docs in #21782 with this information, and with the improvements in #21775, I agree that we don't need to block on this anymore.

[2015-03-19 15:09] twangboy opened #21807 "Unavailable commands cause a stacktrace"
This bug was found in 2015.2. When the minion starts it tries to run a command called tzutil. This command is only available by default on Windows Server 2012 and Windows 8. Older operating systems require a patch. If the utility is not available, a stack trace is returned and the minion dies.

[code]

Running Salt 2015.2 head
Windows Server 2008 32bit

Also tested on 2014.7 HEAD with no problems.

[2015-03-19 15:19] claudiupopescu commented on #21783
This commit might be related 71cb79aa
Btw, I tested with public key source file and I have the same problem. Did not try with a string.
This should have a regression test before accepting any new commits imho.

[2015-03-19 15:27] UtahDave commented on #21807
This may not be Windows specific. Can someone test this on another OS, as well?

[2015-03-19 15:54] jfindlay commented on #21496
I think this means this is fixed.  I don't see any undefined fields in the jobs data.  The jobs shown are for a master and minion process running on the same VM.

[code]

[2015-03-19 16:10] rallytime commented on #21773
I don't think we implemented the feature that broke this in 2014.7, so I am going to close this as per @thatch45.

[2015-03-19 16:10] #21773 closed

[2015-03-19 16:14] rallytime commented on #13177
ping @twangboy - FYI we might need to bring you into this one says @thatch45.

[2015-03-19 16:17] rallytime commented on #21650
@jfindlay Can you give this another try. I think this has been fixed at the head of 2015.2, says @thatch45.

[2015-03-19 16:21] rallytime commented on #21496
After reviewing what @jfindlay did and talking with @thatch45, this looks fixed to me.

[2015-03-19 16:23] andygrunwald opened #21809 "Execution of state/sync/file_roots are not finished if gitfs is used with a non existing gitfs_remote"
If we enable gitfs (like in the documentation) and add a gitfs_remote which not exists we got for a simple command like `salt '*' saltutil.sync_all` the error:

[code]

If we fire a `salt '*' saltutil.running` saw that our triggered job is still running.

Our example setup looks like:
* 1 x master
* 2 x minions
Every master / minion on a separate virtual machine on the same ESXi host.

Our configu

[2015-03-19 16:24] #19864 closed

[2015-03-19 16:32] UtahDave opened #21810 "jobs.list_jobs should page results: Feature request"
now that we have things such as the master job cache, many more jobs are being kept around longer. This is resulting in really slow execution times for jobs.list_jobs as it queries and returns a potentially huge quantity of data.

I propose that `jobs.list_jobs` be modified in one ore more of the following ways. I'd love to hear any improvements or corrections on these ideas.
1. Only return the la

[2015-03-19 16:37] jfindlay commented on #21650
I've tested again and get the same error for both 2014.7 and 2015.2.

[2015-03-19 16:44] UtahDave commented on #21495
I just tested on the latest 2014.7 branch and lower level executions are still not showing up in the job cache of the highest level master

[2015-03-19 16:49] skandyla commented on #20276
Hello! I have the same error after salt update to 2014.7.2+ds-1trusty2
salt-ssh --version
salt-ssh 2014.7.2 (Helium)

[code]

[2015-03-19 16:51] andygrunwald opened #21814 "Add a runner to cache returners and other custom types to the master's extension_modules location"
With [extension_modules](http://docs.saltstack.com/en/latest/ref/configuration/master.html#extension-modules) it is possible to store custom returners for the job_master_cache.

Our usecase is that we want to store our custom returner into git and deployed on change as well.
Like gitfs for states and [pillars](http://docs.saltstack.com/en/latest/topics/tutorials/gitfs.html#using-git-as-an-external

[2015-03-19 16:59] clinta opened #21816 "validate managed file"
I'd love to see a parameter to the file.managed state that allows validating a file with external commands. For example:

[code]

This property would run the specified command against the file and cause the state to fail if the command returns an error code. In this example, the managed file would be checked against dhcpd for syntax errors.

The state should create the managed file as a temp file,

[2015-03-19 17:04] rallytime commented on #21495
@UtahDave It looks like the fix is in 2015.2, not 2014.7. Does that need to be backported? Is that possible @basepi?

[2015-03-19 17:05] UtahDave commented on #21495
@basepi said he's going to backport it to 2014.7

[2015-03-19 17:06] UtahDave commented on #21172
Tom has added a bunch of config examples.

Thanks @thatch45 !

[2015-03-19 17:06] #21172 closed

[2015-03-19 17:10] UtahDave commented on #14075
I'm going to close this. There have been significant updates to the gitfs code and this probably is no longer an issue.

If someone comes across this and is still running into this bug we'll definitely reopen.

[2015-03-19 17:10] #14075 closed

[2015-03-19 17:11] UtahDave commented on #10418
@cro, is this still an issue?

[2015-03-19 17:11] #8815 closed

[2015-03-19 17:12] #6448 closed

[2015-03-19 17:29] rallytime commented on #20197
@cachedout You're right I think that I didn't realize these were duplicate issues. I'll test your fix on 2015.2 since the PR was submitted there and see if I can backport the fixes to 2014.7, where both of the referenced issues were filed. If they can't be backported then we'll need to look at a different fix here. I'll keep you posted.

[2015-03-19 17:34] cachedout commented on #20197
@rallytime Sounds good thanks

[2015-03-19 18:06] terminalmage commented on #14075
Good call. The locking improvements in 2014.7.3 and 2015.2.0 should help a lot with this.

[2015-03-19 18:46] garethgreenaway commented on #21810
@UtahDave Thoughts on using the pager module? https://pypi.python.org/pypi/pager

[2015-03-19 18:53] rallytime commented on #20197
I patched both of my masters and both of my test minions with the fix in #21795 and I am still seeing events return to the wrong master after running a state.highstate.

All masters and minions in this set up are running on a recent install of the HEAD of 2014.7:
[code]

[2015-03-19 19:25] twangboy commented on #21807
https://github.com/saltstack/salt/pull/21817

[2015-03-19 19:57] terminalmage commented on #21713
Can you be more specific? What actions fail? Are there tracebacks?

[2015-03-19 20:02] terminalmage commented on #21713
OK. I'm taking a look at the dockerio module right now, can you please provide example usage that works with docker-py 0.5.0 but not 1.1.0?

[2015-03-19 20:05] terminalmage commented on #21713
Awesome, thanks.

[2015-03-19 20:07] gmcwhistler commented on #21774
Same exact thing is happening with  2014.7.2  (both minions and masters) trying to manage the /etc/sudoers file.

[2015-03-19 20:33] garthk commented on #21783
I'm using a `source`, also. Might `content` be a work-around? Any other way of skinning the cat?

[code]

[2015-03-19 20:43] terminalmage commented on #21144
@notpeter I am not able to reproduce this. Keep in mind that the master only updates the remote fileserver backends every 60 seconds or so. Therefore, in the "moments after" you push to a repository, it is unlikely that the updates will be available. This, I think, is the reason for the issue you were experiencing. I don't think it was a dulwich issue at all. If you have a minion running on the gi

[2015-03-19 20:43] #21144 closed

[2015-03-19 20:52] joshland commented on #18630
I just hit this with 2014.7.2.  Nfs remounts every time.  First on "noauto", then on "wsize=...".

[2015-03-19 20:56] terminalmage commented on #21713
Yeah, I've been looking at the differences in the API between the two versions and there don't appear to be too many. I'll definitely be updating out documentation to reflect that 0.5.0 is no longer required.

I'm also going to be changing the output of some of the docker functions. Many of them (like ``docker.pull``) include the full API output in the return data. As I have been testing, I have f

[2015-03-19 21:11] terminalmage commented on #21713
Yeah, we've been working to fix a few blockers, most notably a few with the syndic. We should have a 2nd RC out by the end of the week, and barring any roadblocks, the final release shortly after.

[2015-03-19 21:12] Darnok99 commented on #21572
Well in the code indeed there is a dict support, but while something like:
[code]
salt --versions-report
           Salt: 2015.2.0rc1
         Python: 2.7.5 (default, Jun 17 2014, 18:11:42)
         Jinja2: 2.7.2
       M2Crypto: 0.21.1
 msgpack-python: 0.4.4
   msgpack-pure: Not Installed
       pycrypto: 2.6.1
        libnacl: Not Installed
         PyYAML: 3.10
          ioflo: Not Installed

[2015-03-19 21:32] notpeter commented on #21144
The issue is not that my changes were unavailable in the moments after push it's that *none* of my states were available while the repo was refreshing. It may be because of the size of my repo (current checkout 5M), past state of the repo (~30M history), round trip to bitbucket or my slightly out of date Dulwich but whatever the root cause the symptoms were clear: on every push my salt master woul

[2015-03-19 21:36] pitatus commented on #21776
Not sure..  The Debian packager is a community member, perhaps he can clarify for us.  ping @joehealy

[2015-03-19 21:37] #21807 closed

[2015-03-19 21:37] bmcclure commented on #21480
I am getting these errors, too. It seems mostly random. I have been commenting out things from my highstate to try to determine what could be happening.

It does NOT occur if I run state.highstate on one single minion. I also have NOT seen it occur if I don't use any formulas. However, if I have any formulas active, and if I am calling state.highstate on two or more minions, I often (not always) s

[2015-03-19 21:42] jfindlay commented on #21774
- Does anything interesting happen when you run `/usr/sbin/haproxy -c -f ; echo $?` or `/usr/sbin/visudo -c -f ; echo $?`

- Does the state run successfully if you remove the `- check-cmd: <cmd>`?

- There are [three places](https://github.com/saltstack/salt/blob/v2014.7.2/salt/modules/file.py#L3151-3220) in `salt.modules.manage_file` (which the `file.managed` state function uses underneath that p

[2015-03-19 21:46] Xiol commented on #21774
Performing the check manually on the generated file returns a 0 exit status - the config is fine! (Unless you mean for me to run it without specifying the file at the end in which case an error occurs and I get a nonzero exit status)

Without check_cmd it does work fine.

I'll try the patch in the morning and report back!

[2015-03-19 21:49] terminalmage commented on #21144
OK, I still couldn't reproduce it. In the end, perhaps only newer dulwich releases are stable enough. I personally was testing with 0.9.7.

[2015-03-19 21:52] rallytime commented on #21799
@syphernl I think you might be hitting the same thing as reported with `ssh.auth_present` as is reported in #21783 as they're seeing the same stacktrace on the same version on the same command.

However, i am not sure what is happening with the `file.managed` errors. Is there anything additional with your set-up that we should know (multi-master, syndic, masterless, etc?) Is it the same states tha

[2015-03-19 22:09] jfindlay commented on #21774
Does the minion have a funny default `${SHELL}`?  check_cmd explicitly sets the shell when it runs the check command.  I can't think of anything else that would be causing this, so hopefully the new error message will be more useful.

[2015-03-19 22:19] rallytime commented on #21744
I can still reproduce this problem on my testing setup and it doesn't appear fixed. @cachedout Let's look at this again and see if I am just missing something.

[2015-03-19 22:19] jfindlay commented on #21783
This has been fixed on the 2015.2, #21635.  I should have checked whether this issue was also on 2014.7.  Thanks for the report.

[2015-03-19 22:20] rallytime commented on #21802
@leftyhitchens Give this a try:
[code]

The reason being that your `/var/www/kibana` line, the way you have it, isn't formed as a list like the `archive.extracted` state is. If you move `/var/www/kibana` to the `name` argument, it adds the `file.directory` as the state to run and moves everything back in line to be a list. (`kibana` is the unique id of the entire state, while `archive.extracted` a

[2015-03-19 22:30] jfindlay commented on #21797
It's not possible to sort minion returns currently because their results are printed in the order they return.  Often users who have many minions will not even interact with minion data on the command line because it doesn't scale and instead have custom returners streaming return data into databases or some other visualizing tool.  I'm sure I remember @basepi saying that this feature has been req

[2015-03-19 22:37] rallytime commented on #21816
@clinta I think what you're asking for here is actually already implemented in `check_cmd`, which was added to `file.managed` in 2014.7.0.

http://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.managed

[2015-03-19 22:46] terminalmage commented on #21814
The documentation there is kinda misleading. ``extension_modules`` is a location relative to the minion cachedir (by default ``/var/cache/salt/minion``) where returners are synced to the minion. you should never have to modify this value.

There is nothing stopping you from storing your returners in gitfs, you just need to have them in the correct path. When returners are synced, ``salt://_returne

[2015-03-19 23:04] basepi commented on #21796
I don't know the answer here. The Pyobjects renderer is maintained by @borgstrom, so he may have something to add. I usually recommend using the py renderer if you want python rendering.

[2015-03-19 23:09] rallytime commented on #21803
@andygrunwald I don't know much about `multi_returner` but that definitely seems like something fishy is going on here.

[2015-03-19 23:16] basepi commented on #21760
Define "not documented"? I think you'll find them in the output of `salt -h`. As far as in the master config, we could add them to the config templates. A little-known fact is that every command line option for salt can also be set as a master/minion opt, even though we don't document them all in the config templates.

[2015-03-19 23:52] srgshames commented on #9893
+1

[2015-03-20 00:52] borgstrom commented on #21796
I will at this tonight.

[2015-03-20 00:56] joehealy commented on #21776
I suspect they are "practically" identical. The difference in md5 is likely to be due to build timestamps.
My workflow will have been to download the source package and rebuild so that I could import the whole lot into the repo at once.

A quick check of the contents of the source package indicate they are identical.

So - they should be identical and you could use either. Unforunately debian does

[2015-03-20 01:01] clinta commented on #21816
Thanks, somehow I totally missed this in the docs. On a first glance I was thinking it wouldn't work because it only puts the file at the end of the command and in one case I need to grep for "OK" from the command output, but I can work around that with process substitution.

[2015-03-20 01:01] #21816 closed

[2015-03-20 01:27] garthk commented on #21783
Thanks for the link to the commit, @jfindlay. Seems I can add a comment to all the SSH keys to make them work again while I wait for a patch to `2014.7`.

[2015-03-20 01:55] UtahDave commented on #21495
@basepi and @cachedout knocked this one out of the park! closing

[2015-03-20 01:55] #21495 closed

[2015-03-20 02:08] quantonganh commented on #21758
No, I just tried it to debug something else.

On my local workstation:

[code]

still got the same result:

[code]

[2015-03-20 02:37] bmcclure commented on #21480
I am now seeing the same error when I run state.highstate with just one minion--it just seems less frequent.

[2015-03-20 03:46] uvsmtid commented on #21760
They are not documented in the online docs (links in my previous comment).
And online docs were the first place I looked because (1) I needed config options to avoid typing them for each command and (2) there were no defaults documented in config files as comments.

I've just checked `--help` output - yes, both options are there.

I guess explicit list of all possible options in online docs for bo

[2015-03-20 07:05] syphernl commented on #21799
The `ssh.auth_present` error is different though, it *could* be related.

Regarding `file.managed`, our setup is just a single master. When errors occur, they hit the same files (for those that share states). Its generally the same files every time.

For instance, at 14-03 08:18 we had one and the same server was getting the same errors yesterday at 12:18 again.

In this case its our dnsmasq recur

[2015-03-20 07:29] claudiupopescu commented on #21783
Is there a procedure for hotfixing and making a package out of this?
Usually this kind of bugs can break the automation and deployment of new infrastructures.

[2015-03-20 08:03] quantonganh opened #21835 "Performing a check based on runners in a reactor formula?"
We are playing with event and reactor to restart a service when its memory usage goes too high.

Everything at the Shinken side is done:
- when a service goes into HARD state
- fire an event with a specific tag, data that include minion id, ...

On the Salt master side, we have a reactor to run a sls file on that minion:

[code]

The problem is we would like to check if that sls file exists in the

[2015-03-20 08:27] RobertFach commented on #18630
@joshland Which OS do you use? Can you please paste your mount.mounted state? Are you going to provide a fix for that or should I do that?

Cheers,

[2015-03-20 08:44] leftyhitchens commented on #21802
thank you. Your change seemed to work, thank you.

[2015-03-20 08:44] #21802 closed

[2015-03-20 09:11] Xiol commented on #21774
It's a default install of the Salt minion on a default install of CentOS 7 - there shouldn't be any funny shells in use.

Using the patch I'm seeing the error:

[code]

Logs from the salt minion at the time:

[code]

The "Configuration file is valid" message is the output from haproxy when the `haproxy -c -f` command is run, so the file must have existed at some point in the past. The haproxy comm

[2015-03-20 09:55] RobertFach opened #21837 "file.recurse fails (once), after retry succeeds (2014.7.2, Ubuntu)"
I'm using the https://github.com/saltstack-formulas/salt-formula formula.

[code]

First Run:

[code]

Succeeding Runs:

[code]

I try to get some more details... I was able to reproduce this on a second node. I was not able to reproduce this by just deleting the created directory.

[2015-03-20 10:20] andygrunwald commented on #21814
@terminalmage Thanks for your answer, but i think there is a misunderstanding here.
If i got it right there are two types of returners:

1. Returners by minions (e.g. `salt '*' test.ping --return redis_return` during a call or implemented as [external job cache](http://docs.saltstack.com/en/latest/topics/jobs/job_cache.html#external-job-cache))
2. Returners by the master (e.g. [master job cache](h

[2015-03-20 14:00] Niyakiy commented on #19953
Hi, any updates for this issue? This is a "show stopper" for some cases.

[2015-03-20 14:13] Code-Vortex opened #21838 "making inline option works through the function itself"
I am trying to make like this in order to get json value by default inside my custom module instead of yaml output.

instead of --output=json

[code]

foo is a parameter passed through my custom module (which will be the state)

What is the appropriate way to do it ?

[2015-03-20 14:37] ksalman commented on #21776
Okay, thanks.

[2015-03-20 14:37] #21776 closed

[2015-03-20 14:42] rallytime commented on #21799
@basepi Have you seen this before? Or maybe @cachedout?

[2015-03-20 14:43] rallytime commented on #21802
No problem! Glad I was able to help.

[2015-03-20 14:58] cachedout commented on #21744
This does work but only if ```auth_retry``` and ```auth_timeout``` are dialed down from their original defaults. However, that has other (potentially serious) side effects, especially at scale.

[2015-03-20 14:58] #21707 closed

[2015-03-20 15:10] jfindlay commented on #21783
@claudiupopescu, not currently.  We're working on upgrading our packaging system so that release packages and daily packages are all available and collected at the same place.

[2015-03-20 15:17] jfindlay commented on #21774
@Xiol, thank you for your work on this issue.

[2015-03-20 15:21] bemeyert opened #21840 "Docs for cmd.run env should say that no evaluation is done"
Hi all,
Version is salt 2014.7.2 (Helium)

I just stumbled over this. I tried to use the following code:
[code]
This does not work. `$PATH` is not evaluated by Salt. It treats this as a string. I think it should be mentioned in the docs at http://docs.saltstack.com/en/latest/ref/states/all/salt.states.cmd.html
This stole a couple hours of my life ;)

Cheers, Shorty

[2015-03-20 15:51] basepi commented on #21650
@jfindlay Can you try cleaning your cache and try again? @UtahDave and I spent a couple hours chasing a completely different list_jobs issue and it was working great for us in 2015.2. Neither of us were getting this error, so I'm wondering if it may be stale files or something.

[2015-03-20 15:53] basepi commented on #21650
Ohhhhh, this is saltutil.runner....  /me re-reads.

[2015-03-20 15:57] kitsemets opened #21845 "pip.install: fails in v2015.2.0rc1 when the package is already installed (pip v1.0)"
In #19001 `salt/states/pip_state.py` code was changed so that `pip install` would be run even if there is nothing to install.
With pip v1.0 `pip install` returns 1 when run without any arguments:
[code]
With pip2 the message is the same but it returns 0:
[code]

state.sls:
[code]
Result:
[code]
Adding `- ignore_installed: True` to the pip state will make the package install, but then it is install

[2015-03-20 15:58] basepi commented on #21760
@uvsmtid That sounds good. Would you mind opening a new issue for these documentation issue? We could repurpose this one but it's much cleaner if we just open a new issue that doesn't have all the initial discussion and whatnot.

[2015-03-20 16:14] rallytime commented on #19332
I think this issue was referenced inadvertently.

[2015-03-20 16:16] jeffclay commented on #20685
I've been seeing this message as well, using salt 2014.7.2. Have the changes from jfindlay been merged yet or are we waiting for a particular release?

[2015-03-20 16:23] jfindlay commented on #20685
@jeffclay, #21058 was merged almost a month ago.

[2015-03-20 16:30] rallytime commented on #21783
I've backported this fix in #21848.

[2015-03-20 16:30] rallytime commented on #21783
The fix will be available in 2014.7.3.

[2015-03-20 16:33] jeffclay commented on #20685
@jfindlay so it should be resolved with 2015.2?

[2015-03-20 16:34] basepi commented on #21650
Fixed in #21849. I'll make sure it gets merged forward today too.

[2015-03-20 16:34] #21650 closed

[2015-03-20 16:35] djcrabhat opened #21850 ""'user.requirepasswordchange' is not available" on windows 2012 r2"
root@a307d94bc4eb:/var/www/python/saltcloudmiddleware# salt 'test_windows_9' user.requirepasswordchange test-admin-5
    test_windows_9:
        'user.requirepasswordchange' is not available.

Pretty straight forward call.  ran a sync_all just to be sure, i see the function in the code https://github.com/saltstack/salt/blob/develop/salt/modules/win_useradd.py

I know other calls in http://docs.sal

[2015-03-20 16:37] rallytime commented on #19932
I have tested this particular issue with Multi-Master on both 2015.2 branch and 2014.7 and I can no longer reproduce it with the fixes that have been backported. @jhenry82 or @smitt04 can either of you give the HEAD of 2014.7 a try and confirm that this has been resolved?

[2015-03-20 16:37] terminalmage commented on #20685
@jeffclay I tested using a 0.9.9 RC and confirmed that the fix works.

[2015-03-20 16:42] basepi commented on #21765
So `pillar.item` actually just calls `pillar.items` to get its data. In the docs for `pillar.items` it states

So that's the difference. `pillar.item(s)` calls a pillar refresh, while `pillar.get` doesn't. After a `saltutil.refresh_pillar` they should both match.

[2015-03-20 17:00] rallytime commented on #20197
@jhenry82 and @DaveQB we've been working to make significant improvements to multi-master over the last couple of days. I believe we have addressed all of the concerns here, but if you're able to test (from the HEAD of 2014.7) this and confirm that improvements have been made, that would certainly be appreciated.

[2015-03-20 17:06] jfindlay commented on #21850
@djcrabhat, what is the output of `salt 'test_window_9 test.versions_report'`?

[2015-03-20 17:10] djcrabhat commented on #21850
Sorry, i was JUST getting that for you

	root@a307d94bc4eb:/# salt 'test_windows_9' 'test.versions_report'
	test_windows_9:
		Salt: 2014.7.2
		Python: 2.7.5 (default, May 15 2013, 22:44:16) [MSC v.1500 64 bit (AMD64)]
		Jinja2: 2.7.1
		M2Crypto: 0.21.1
		msgpack-python: 0.4.2
		msgpack-pure: Not Installed
		pycrypto: 2.6
		libnacl: Not Installed
		PyYAML: 3.11
		ioflo: Not Installed
		PyZMQ: 14.1.

[2015-03-20 17:36] UtahDave commented on #21810
@garethgreenaway I've never used the pager module. I'm definitely open to suggestions on how to best implement this!

Your PR looks pretty awesome!

[2015-03-20 17:36] soodr commented on #21740
The timeout appears to be related to high CPU utilization with the salt-master process which runs consistently high >98%.

I switched to using the tornado Rest api which had the same timeout symptom until the salt-master process retreated below 15 % CPU.

[2015-03-20 17:38] garethgreenaway commented on #21810
@UtahDave I haven't either, so far haven't had much luck with it though :)

[2015-03-20 18:02] #19953 closed

[2015-03-20 18:17] rallytime commented on #21758
Oh, I misunderstood here. I didn't see that in your original state you were actually providing the `saltenv` argument.

[2015-03-20 18:32] jfindlay commented on #21850
It seems you have suffered a consequence of our current documentation haphazards.  For most things http://docs.saltstack.com/en/latest/ is a good enough reference, however it is also the documentation on the develop branch and will include discussion on things not available in release branches.  In this case, the `user.requirepasswordchange` is available on `develop` and not on `2014.7.*`.

Older

[2015-03-20 18:48] rallytime commented on #21837
@RobertFach Interesting. Are you using anything like gitfs, by chance?

[2015-03-20 19:16] djcrabhat commented on #21850
ahhh, gotcha.  And I assume there's no windows installer based on dev, right?

I see the code in https://github.com/saltstack/salt/blob/2015.2/salt/modules/win_useradd.py .  Does 2015.2 not have a windows installer yet?

[2015-03-20 19:19] djcrabhat commented on #21850
Oh, i found a build poking around the downloads folder.  http://docs.saltstack.com/downloads/Salt-Minion-2015.2-AMD64-Setup.exe   Probably need to add that to http://docs.saltstack.com/en/latest/topics/installation/windows.html

[2015-03-20 19:32] jfindlay commented on #21850
@djcrabhat, we're currently updating our packaging system such that you will be able to download daily builds in addition to releases.  The 2015.2 installer you found is a prerelease package that we're using to test the upcoming 2015.2.0 release.  Both 2014.7.3 and 2015.2.0 should be released next week, with a recommendation to upgrade to 2015.2.0, as the 2014.7 branch will no longer be maintained

[2015-03-20 19:34] djcrabhat commented on #21850
Cool!  Thanks so much for the thorough explanation

[2015-03-20 19:34] jfindlay commented on #21850
However, the package you've downloaded should be stable.  We're waiting on a few more blockers to be finished up before starting a QA release cycle.  If you should happen to find any bugs in it, please feel free to submit issues. :-)

[2015-03-20 19:39] jfindlay commented on #21850
I'm going to close this if you don't mind, thanks.

[2015-03-20 19:39] #21850 closed

[2015-03-20 19:42] jfindlay commented on #21845
@kitsemets, thanks for the report.

[2015-03-20 20:04] jfindlay commented on #21840
@bemeyert, thanks for reporting this issue.  I asked @thatch45 about the possibility of processing the `env` parameter to expand variables, but using a shell to do this introduces vulnerabilities, and creating a custom expansion scheme is problematic.  If you have any ideas, feel free to submit a pull request. :-)

[2015-03-20 20:05] steverweber opened #21860 "2015.2: influxdb salt module is not compatable with influxdb 0.9"
https://github.com/influxdb/influxdb-python/issues/129

[2015-03-20 20:05] steverweber commented on #21860
i'll likely hack at this one

[2015-03-20 20:19] steverweber commented on #21860
[code]

[2015-03-20 20:19] terminalmage commented on #21814
I see what you were talking about now I could have sworn that the original link you posted was pointing at the minion config file documentation, hence my thinking that you were talking about the minion's ``extension_modules`` param. This will require a runner module to perform a similar task to what the sync functions in the ``saltutil`` execution module do.

[2015-03-20 20:36] c4milo commented on #8057
is there any update on this issue?

[2015-03-20 20:46] steverweber commented on #21860
please back-port the fixes for /modules/influx.py and /states/influx_*
https://github.com/saltstack/salt/commit/b8deab5af9ee9f7253dbe1b62ce5d36012ea831d

the production release of influxdb is this month, and the 2015 release should be compatible.

[2015-03-20 20:51] borgstrom commented on #21796
WRT your comment:

We don't really hard-parse things that much, the only hand parsing we do is to allow for `salt://` URI imports.  Other than that we're just passing a string through exec.

The cause of this seems to be that we're passing in a globals and locals object that already contain symbols.  If I run the code with empty globals & locals it works fine.

[code]

I'll keep digging.

[2015-03-20 20:55] rallytime commented on #21809
@andygrunwald Is it possible for you to try this at the HEAD of 2014.7? I know that 2014.7.2 had some regressions in regard to gitfs that have now been fixed. I am wondering if this might be one of the issues that was already cleaned up or not.

[2015-03-20 20:59] basepi commented on #21860
@steverweber is this resolved, once we backport?

[2015-03-20 21:02] steverweber commented on #21860
Yes. But it will break influxdb 0.8.8.. Its best to look forward tho.
On Mar 20, 2015 4:59 PM, "Colton Myers" <notifications@github.com> wrote:

[2015-03-20 21:02] basepi commented on #21838
I think you're misunderstanding module returns.

When you call a salt execution module from within salt, the return is just a data structure in python. So what returns from `state.show_sls` is a python dictionary. If you want it instead as a json string, just dump it using the json library:

[code]

Outputters are only used to define how we output the returns to stdout.

[2015-03-20 21:02] #21838 closed

[2015-03-20 21:03] basepi commented on #21838
(I closed this since I think it's resolved. I'll monitor for your replies if you still have questions)

[2015-03-20 21:05] basepi commented on #21835
There is not a way to do that, as far as I know. But it would be cool to add! Thanks for the request!

[2015-03-20 21:12] UtahDave commented on #21835
Have you tried something like this:
[code]

I haven't teste that, but that should check if the file exists on the master in the default file_roots.

[2015-03-20 21:18] ketzacoatl opened #21864 "applying a formula with git.latest states and test=True will rm an existing target path"
Apologies if this is a duplicate, I looked for an existing issue but could not find one specific to this problem.

I am running `Helium`:

[code]

I have a formula like:

[code]

**Note the use of `force`. Commenting this out returns properly, and exposes the bug is related to this conditional. Also note that the bug is seen with `force: True` and `force_checkout: False`, so it is not fully relate

[2015-03-20 21:23] Code-Vortex commented on #21838
Hello @basepi,
Yes I did that already ( by using json.dumps ) , I thought using json.dumps will be considered as a workaround and it might be done in another way, but as it should be done using json.dumps so yes this issue is resolved.
Thanks for your reply , I will let you know if I have any questions about this .

[2015-03-20 22:29] basepi commented on #21601
@ev0rtex Nothing sounds wrong with that setup or the changes to your setup.

I wonder if the various fixes we have put in place for the syndic in the last week or so would help this issue? We're hoping to get 2015.2.0rc2 out today or Monday and it will have those changes, would be useful if you could test there.

Another thought I had -- you should double check that you only have one copy of the s

[2015-03-20 22:31] basepi commented on #20276
@skandyla mind opening a new issue? Looks like one we may have missed.

[2015-03-20 22:33] basepi commented on #21797
Not only are they printed in the order they return, they're printed *as they return*, which makes it even harder to sort them, we would have to batch like you mentioned. Outputters that operate on all the returned data after it is all returned are something we want to add. There's an open issue somewhere though I don't have it off the top of my head.

[2015-03-20 22:38] basepi commented on #21799
Probably a duplicate of #21480

Likely what we're expecting to be a dictionary is an error message (as a string) or similar. We need to get some logging in place to discover what the error message is -- I bet at that point the underlying problem becomes more clear.

[2015-03-20 23:52] borgstrom commented on #21796
I've opened PR #21867 that fixes this issue.  We can close this issue once the PR is merged.

Thanks for the bug report @grischa!

[2015-03-21 02:17] quantonganh commented on #21835
@UtahDave : Yes, I tried both `file.file_exists` and `cp.list_master`, it didn't work.

[code]
IMO, the reason is they are execution modules which must be run on the Salt minion, not on the Salt master.

[2015-03-21 05:27] uvsmtid opened #21870 "Make documentation consistent for `salt --help`, online `salt` CLI docs, online `salt` config"
## Specific case

There is a category of Salt options which have multiple ways to be specified.

| `salt` CLI | master config |
| --- | --- |
| `--show-jid` | `show_jid` |
| `--show-timeout` | `show_timeout` |

Possible sources for their documentation are even wider:
- Output of `salt --help` command
- Online `salt` CLI [doc here](http://docs.saltstack.com/en/latest/ref/cli/salt.html)
- Online mas

[2015-03-21 05:31] uvsmtid commented on #21760
@basepi Done: #21870 - documentation issue.

[2015-03-21 05:53] whiteinge commented on #21740
Great feedback. Good catch noticing the CPU utilization.

This problem lies somewhere in Salt's eauth internals which use ZeroMQ
sockets for IPC in order to perform the auth check. That is why you also
saw the problem with Saltnado and that is why you didn't see the problem
with Raet.

I'll bend an ear or two at the Salt office this week to see if we can find
a way forward.

On Fri, Mar 20, 2015 a

[2015-03-21 07:20] whiteinge commented on #21835
You should be able to call runner modules via [saltutil.runner](http://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.saltutil.html#salt.modules.saltutil.runner).

[code]

[2015-03-21 08:56] quantonganh commented on #21835
@whiteinge : Thanks, I didn't know about it.

Unfortunately, I got this:

[code]

https://github.com/saltstack/salt/issues/21650

When will it be available in Ubuntu?

[code]

PS: salt-master should let me know the render result instead of stopping here:

[code]

[2015-03-21 09:08] nbari opened #21871 "mine.get not updating / returning (how to refresh the data?)"
While trying to use [mines](http://docs.saltstack.com/en/latest/topics/mine/) to dynamically update some configuration files,  I am not been available to update or get data after changing something on the minion:

For now, I am trying to update an HAproxy conf using this mine:

cat /salt/pillars/haproxy/init.sls:

    mine_functions:
        test.ping: []
        network.ip_addrs:
            cidr

[2015-03-21 11:02] bemeyert commented on #21840
@jfindlay Thx for checking if evalution can be included. But I didn't really expect this because of the same reasons @thatch45 gave. I'd really like to send in a patch, but I'm unsure what's the procedure here. Do you have any guidelines since my Github-fu is that of a beginner ;-)
Cheers

[2015-03-21 12:26] #21860 closed

[2015-03-21 12:42] thusoy commented on #21214
This would be intensly useful, a lot of custom states are wrappers around some very common states like file.managed, which at the moment is around 250 lines of code. Being able to re-use this instead of writing it yourself is an enormous gain and actually makes it feasible to implement custom states for a lot of stuff, which currently isn't an option because of the amount of code needed.

The work

[2015-03-21 12:44] pwaller commented on #8744
I haven't used or missed this in the end and I don't intend to follow up, so closing.

[2015-03-21 12:44] #8744 closed

[2015-03-21 12:49] pwaller commented on #10259
Seems like this may have been fixed in #19598.

Tidying up my personal issues list, so closing this. Please create a new issue if you're still interested in tracking it.

[2015-03-21 12:49] #10259 closed

[2015-03-21 12:52] pwaller commented on #10260
Tidying up my personal issues list, so closing this. Please create a new issue if you're still interested in tracking it.

[2015-03-21 12:52] #10260 closed

[2015-03-21 12:55] pwaller commented on #19214
As far as I'm aware I haven't encountered this in a while. Tidying up my personal issues list, so closing this. Please create a new issue if you're still interested in tracking it.

[2015-03-21 12:55] #19214 closed

[2015-03-21 12:56] pwaller commented on #9984
Tidying up my personal issues list, so closing this. Please create a new issue if you're still interested in tracking it.

[2015-03-21 12:56] #9984 closed

[2015-03-21 12:58] pwaller commented on #8797
Tidying up my personal issues list, so closing this. Please create a new issue if you're still interested in tracking it.

[2015-03-21 12:58] #8797 closed

[2015-03-21 15:21] rallytime commented on #20197
There is still one bug that we are working out that I recently discovered when running a highstate command in a particular manner. I'll post here with an update when we have it resolved.

[2015-03-21 15:21] rallytime commented on #19932
There is still one bug that we are working out that I recently discovered when running a highstate command in a particular manner. I'll post here with an update when we have it resolved.

[2015-03-21 16:42] jfindlay commented on #21840
@bemeyert, https://docs.saltstack.com/en/latest/topics/development/contributing.html.  Thanks for your work on this issue.

[2015-03-21 21:15] borgstrom commented on #21796
This is very interesting.  While the fix was to remove the specific locals object I still didn't fully understand what was triggering the behavior, so I've been playing around with this.

    password = ''.join(random.SystemRandom().choice(
            string.ascii_letters + string.digits) for _ in range(20))

The above code has a subtle "problem".  The argument to join should be an iterable, but

[2015-03-22 00:59] grischa commented on #21796
Thanks for fixing this @borgstrom! And also for probing a bit further, this is quite interesting behaviour.
Indeed, I was puzzled, too, that the join worked on the un-bracketed list comprehension.
I didn't write it myself, I was lazy and used code from Stackoverflow to create a random string and it just worked. I figured join must just use its args list if there is more than one argument, but appa

[2015-03-22 03:53] polliard opened #21875 "Windows Default log_level_logfile appears to be 'none'"
When I do not modify the minion config on windows to have a 'valid' log_level_logfile; no logging occurs.

This was tested in the 2015.2 Code branch.  May be related/fixed in #20645 however it has not been merged with 2015.2.

[2015-03-22 07:53] uvsmtid opened #21876 "Option `aggregate: False` is not respected for `pkg.installed` state with global `state_aggregate: True`"
## Problem

If global `state_aggregate: True`, even if some `pkg.installed` states explicitly specify `aggregate: False`, they still get aggregated.
## Reproducible setup

Use Salt minion-only setup with `salt-call` command for simplicity.
- Minion configuration:

[code]
- Installation of package inside default OS repository:

[code]
- Installation of package outside default OS repository:

[code]

[2015-03-22 09:13] bechtoldt opened #21879 "Reference pages in documentation are outdated again"
I'm providing a PR soon.

[2015-03-22 09:20] bechtoldt commented on #13831
I don't see a benefit in this feature anymore, therefor closing now.

[2015-03-22 09:20] #13831 closed

[2015-03-22 09:20] bechtoldt commented on #20036
Any updates here?

[2015-03-22 09:21] bechtoldt commented on #18966
Any updates here?

[2015-03-22 09:27] bechtoldt commented on #21134
@tjstansell this should be fixed with #21878.

A short test is appreciated. ;)

[2015-03-22 13:22] alzadude commented on #5504
+1, would be very useful - am evaluating Salt vs Ansible for a project, and Ansible can do this ;)

[2015-03-22 13:37] eliasp commented on #13085
After having used `systemd-networkd` for quite some time without Salt on my Gentoo boxes, I started playing a bit with it on CentOS 7 using Salt to handle it:

Using the `lnykryn/systemd` COPR repository to get a reasonable systemd-version (CentOS 7 ships the quite outdated `208`):
[code]
And then the handling of the actual `systemd-networkd` stuff, where the configuration is created based on Pill

[2015-03-22 13:53] bechtoldt commented on #20826
@jcockhren +1

I've started working on the elasticsearch returner to make it more flexible. I'm also adding some features that is similar to what @jcockhren said.

As soon as the updated version is merged into upstream, this issue should be fixed.

[2015-03-22 14:07] bechtoldt opened #21881 "Improve elasticsearch returner"
I've started working on the elasticsearch returner to make it more flexible. Also some features will be added to help managing the problem that every exec module has its own return data structure.

- [x] manage elasticsearch mappings

refs to #20826

[2015-03-22 14:13] bechtoldt commented on #17006
Can some experienced developers please fix this issue if its still present? IMHO Gitfs is one of the most important features of Salt. The above looks very weird.

[2015-03-22 14:18] bechtoldt commented on #12818
This looks to be fixed. @mgwilliams / @garethgreenaway could you close this issue please?

[2015-03-22 15:02] oz123 opened #21883 "Enhanching group management in salt"
Salt's targeting system is really great when you can name your hosts. However, in cases where host names are pre-determined and have really random names like `suc1000` and `con134vx` targeting becomes harder.   See a similar discussion on the mailing list [here](https://groups.google.com/forum/#!topic/salt-users/R_jgNdYDPk0)
Than there is [salt groups](http://docs.saltstack.com/en/latest/topics/ta

[2015-03-22 15:03] polliard-jmfe opened #21884 "When running the 2015.2 windows minion there are several import/namespace issues"
There seems to be a collision with namespace or the imports are overriding site-libraries.
The current active library problems are:
  - libnacl
  - six

There are more but taking these one at a time is going to be faster and more fruitful.  I can't even provide a detailed version report because of the issues.

Trying to provide detailed 'version' information results in:
[code]
[code]
Original prob

[2015-03-22 16:12] polliard-jmfe commented on #21884
The libnacl issue is resolved.  Thanks to @UtahDave for pointing out that the libnacl is only needed if RAET is in use.  Windows Minion = ! RAET yet....  The six issues are still open and having grepped through the *.py files I don't see a missing import of salt.ext.six as six.  I'll keep looking.

[2015-03-22 16:15] tsaridas commented on #17095
Is anyone working on this ? Would it be ok to use troposphere ?

[2015-03-22 16:25] polliard-jmfe commented on #21884
@UtahDave @twangboy  So I used to get an error when I didn't import pyOpenssl but importing that forces the six libraries to be pip installed.  What if any dependency needs the pyOpenssl.  The new dev_env.pl doesn't install the OpenSSL libraries anymore so maybe the pyOpenssl was an old requirement?

[2015-03-22 16:42] UtahDave commented on #21884
@polliard-jmfe Yeah, I'm not finding that odd six import either.  How did you install the Salt Minion? You might try removing Salt and installing from the latest 2015.2 branch. We fixed a few of these imports on Friday and that one may have been caught.

[2015-03-22 18:33] thedrow commented on #17095
Yes it would be great if troposphere would be used and no one is currently working on this.

[2015-03-22 18:38] #21879 closed

[2015-03-22 19:39] gerihu commented on #21883
This is exactly what I was waiting for. I think this suggestion will close a gap in the management oft large and highly heterogenous environments with Salt.

The customers I work for have hundreds to thousands of clients with random host names. Particularly there are desktop PCs which are provided with hundreds of different software packages (i.e. dozens of applications in a multitude of versions)

[2015-03-22 19:59] TimJones opened #21886 "Salt as Cloud Controller - base image hostname"
I have been working a little with salt.virt recently but am a bit stuck when it comes to using the instructions for [Salt as a Cloud Controller](http://docs.saltstack.com/en/latest/topics/tutorials/cloud_controller.html).

I run a mixed environment of Debian 7 and Ubuntu 14.04, all masters and minions are 2014.7.2, installed from SaltStack repo\ppa.

When using `salt-run virt.init new-vm 1 512 sal

[2015-03-22 20:31] mattwillsher opened #21887 "Salt erroneously assumes physical hosts required for VM hosts"
There are numerous checks in the code for virtual:physical when checking for virtualisation capable hosts, however it's possible to run nest virtualisation, with the VT-x functionality passed through to guest VMs. This certainly worked on VMWare Fusion on the Mac and VMWare Workstation on Windows, and probably applies to KVM too.

https://github.com/saltstack/salt/pull/21885 covers one case, but t

[2015-03-22 22:13] bechtoldt commented on #16121
@basepi / @gzcwnk this issue looks to be fixed, right?

[2015-03-22 22:14] srkunze commented on #21726
**Wow, that is great.** Not sure why I missed that parameter but would it hurt to add this to the tutorial just to educate guys like me?

Suddenly, the major blocker to use salt vanished for us.

[2015-03-22 22:15] #21294 closed

[2015-03-22 22:18] srkunze commented on #15145
Because of the outcome of https://github.com/saltstack/salt/issues/21726 for us this issue turns into a non-issue.

How do we proceed here?

I could imagine for generalized states, the pillar approach described in https://github.com/saltstack/salt/issues/21726 works best and is most efficient.

For static states, this still might be interesting.

[2015-03-23 01:10] eliasp opened #21888 "`salt.states.mount` - using LABEL=foo as 'device' leads to constant remounts"
Another item in the long list of `mount.mounted` issues:

**Salt:**
[code]
**OS:** CentOS 7

When using `LABEL=foo` as `device` param in `mount.mounted`, the device will be constantly remounted as the `LABEL` is translated to the actual blockdevice in `/proc/self/mounts`:
[code]

[2015-03-23 04:06] jfindlay commented on #21887
@mattwillsher, thanks for the report.

[2015-03-23 06:36] aspyatkin opened #21890 "A bug in pip.installed state in editable mode?"
Hello, I think I have found a bug in `pip.installed` state.
Sometimes you need to install python package in editable mode (for development purposes). So the typical case would be:
1. Checkout project from VCS, e.g. with `git.latest`
2. Make virtualenv with `virtualenv.managed`
3. Install project in *development* mode (`pip install -e /path/to/package`)
[code]

When I tried this state, I got an err

[2015-03-23 07:08] QuinnyPig commented on #19332
I'm still unconvinced this solves the root issue. Am I missing something obvious?

[2015-03-23 07:11] DaveQB commented on #20197
Thank you very much for your efforts @rallytime @cachedout

Looking forward to it.

[2015-03-23 11:19] donatello commented on #16218
The OP's issue (that I am also affected by) may be because of a limitation in Jinja - from their [docs](http://jinja.pocoo.org/docs/dev/api/#unicode):

I am trying to binary key files from pillar by storing them in base64 and decoding them in templates using something similar to:

[code]

Any possible workarounds?

[2015-03-23 12:06] claudiupopescu commented on #21601
Check if you have multiple syndic processes running, that was my problem. I even reported this in issue https://github.com/saltstack/salt/issues/19957

[2015-03-23 13:57] ev0rtex commented on #21601
@claudiupopescu, @basepi I don't know why I didn't think to check that earlier. It does appear that I'm affected by that problem. I just checked and there were like 20 salt-syndic processes running. I definitely have that exact same issue where stopping the salt-syndic service does not kill the salt-syndic processes.

[2015-03-23 14:45] corywright opened #21892 "Debian network config for bonding uses obscure syntax"
Currently when Salt is used to configure bonding on a Debian based system the `/etc/network/interfaces` file is generated with `bond_*` style options.  However, this is a more obscure form than the typically seen `bond-*` style options found in most documentation.  For example, the official [Linux Ethernet Bonding Driver HOWTO](https://www.kernel.org/doc/Documentation/networking/bonding.txt) only

[2015-03-23 15:38] tehmaspc commented on #16176
+1; would be great to have ext_pillar git options be the same as gitfs; was looking to nuke my ~/.ssh/config file only to find out that my git ext_pillar stopped working :(

[2015-03-23 15:40] cmrichards commented on #8177
What's the recommended way to use an http proxy with file.managed?  Has this been fixed yet?

[2015-03-23 15:53] jfindlay commented on #21726
@srkunze, pull requests are always welcome. :-)

[2015-03-23 16:09] rallytime commented on #19332
Apologies here @QuinnyPig! This issue was mistakenly referenced in a commit, and as the commits gets merged, backported, merged-forward, etc, it keeps closing. Github is trying to be too helpful. :)

[2015-03-23 16:22] rallytime commented on #18966
Thanks for the bump, @bechtoldt. Looks like no one has taken a stab at this one yet.

[2015-03-23 16:22] rallytime commented on #20036
@bechtoldt I don't think anyone has been able to look at this one yet. Thanks for the reminder.

[2015-03-23 16:27] rallytime commented on #21601
@ev0rtex Glad that we figured it out! I didn't think to check that either. I think that in this case we should close this in favor of the other issue and track the progress of this bug there, since it was filed earlier. That ok with you?

[2015-03-23 16:29] QuinnyPig commented on #19332
No worries. I vote that @UtahDave just fixes it already. :-)

[2015-03-23 16:34] djcrabhat commented on #21850
New, pre-release version fixed it.  Thanks :)

[2015-03-23 16:41] rallytime commented on #19957
@claudiupopescu What disribution are you seeing this on? I am unable to reproduce this bug, but I installed the HEAD of 2014.7 branch using salt-bootstrap on Ubuntu 14.04 using `service salt-syndic start`. I'd like to try this with the packages you've used to install salt to try and reproduce.
[code]
Same questions go for @ev0rtex.

[2015-03-23 16:44] claudiupopescu commented on #19957
[code]
On debian 7.8

Followed the official documentation of installing salt from repository.

[2015-03-23 16:46] claudiupopescu commented on #19957
[code]

As you can see the process is there after stopping it.

[2015-03-23 17:02] rallytime commented on #19957
Ok thanks very much for that update. Looks like we have a bug in the init script for the Debian package: https://github.com/saltstack/salt/blob/develop/debian/salt-syndic.init (I'm not familiar with this file myself, but that's where one could start looking if they wanted to try and tackle this bug.)

I am curious to see if @ev0rtex is running on the same system or not, since he is seeing this bug

[2015-03-23 17:02] strocknar opened #21896 "Docker "AttributeError: 'RecentlyUsedContainer' object has no attribute 'lock'""
I'm attempting to use salt.states.dockerio with a single "pulled" state, but keep getting the referenced error. I have tried updating docker-py and urllib3 (both through yum and pip), but to no avail. Any ideas as to where I might start looking to figure out what is causing this error?

-=# STATE #=-

    centos:
        docker.pulled:
            - tag: latest

-=# ERROR #=-

          ID: centos

[2015-03-23 17:12] FeatherKing opened #21897 "salt -L is case sensitive (default salt command is insensitive) 2014.7.1"
I think this was working in 2014.1 but when i pass a csv list of servers using

[code]

it is not matching if the server names are not case sensitive.

example using 3 servers with the following case sensitive minion ids:
1. server
2. List
3. HEre

this works:

[code]

this doesnt

[code]

nothing gets returned from the insensitive minion ids

[2015-03-23 17:34] mimianddaniel commented on #21651
curious if there has been any progress on this

[2015-03-23 18:03] basepi commented on #8057
@c4milo Unfortunately, I don't think there is. We haven't had the bandwidth to address this ourselves, and I don't think any community members are looking at it currently.

[2015-03-23 18:04] mwpher opened #21902 "user.present fails to change optional groups on FreeBSD 10.1"
Hi all,

I'm running 2014.7.2 (installed from pkgng) on FreeBSD, trying to use user.present. When it attempts to adjust the list of additional groups for a user, I get the error "These values could not be changed". The other things specified in the user.present section, like password and shell, are changed correctly.

Steps to reproduce: on FreeBSD, specify an optional_groups list that differs fro

[2015-03-23 18:10] basepi commented on #21838
Awesome! Ya, generally when people are writing custom modules they would prefer the return values to be python objects, as they're the most versatile and useful. But luckily, it's super easy to dump it to json or any other format. =)

[2015-03-23 18:29] basepi commented on #21760
Thanks, sir. I'm going to close this one.

[2015-03-23 18:29] #21760 closed

[2015-03-23 18:29] basepi commented on #21870
Thanks for filing this! We definitely need to get this process nailed down to keep these in sync.

[2015-03-23 18:31] basepi commented on #21835
It will be in 2014.7.3, which we hope to release very soon.

[2015-03-23 18:34] #12818 closed

[2015-03-23 18:35] basepi commented on #16121
Ah, yes, thanks for pointing that out!

[2015-03-23 18:35] #16121 closed

[2015-03-23 18:41] basepi opened #21903 "Document _file.conf pattern for master.d/ and minion.d/"
Files created by salt in `master.d/` and `minion.d/` will have a leading underscore in the name. (Current example is `_schedule.conf`). We should document this somewhere.

[2015-03-23 18:42] basepi commented on #21726
Glad I could help! =D

[2015-03-23 18:42] deuscapturus opened #21904 "salt.util.http only allows https to port 443"
https://github.com/saltstack/salt/blob/develop/salt/utils/http.py#L277

[code]

http request of the url  https://mysite.com:8080/file.txt will result in the following error:
[code]

[2015-03-23 18:43] iggy commented on #21903
Need to fix up the following.

saltstack-formulas/salt-formula/issues/104

[2015-03-23 18:43] #21726 closed

[2015-03-23 18:45] basepi commented on #15145
I think this would still be a useful feature, so I'm going to leave it open, but I'm glad that you figured out a good solution in the meantime!

[2015-03-23 18:57] yannis666 opened #21907 "Test scenario using master|syndic|minions (minions of syndic not seen by master of master)"
I am new to using saltstack. Doing a POC where I have the following topology:
[code]
When I do tests on podAdmin using
[code]
it sees the nodes I expect: podAdmin , host1, host2

The same command on dcMaster is missing host1. It sees dcMaster, podAdmin, host2

So, the first issue is that with complete globing, not all minions behind syndic are returned.

There is a second issue of filtering.
When

[2015-03-23 18:58] tjstansell commented on #21134
To add more heartache to this discussion, I manually changed this on my test box, and ran `ssh.host_keys` to see the result.  One of the private keys on my test host is actually in binary format...

[code]
so you get all kinds of garbled output for that key.  The private keys have header lines like this:
[code]
So maybe that was the original reason for only reading the first line (to get rid of al

[2015-03-23 19:09] bechtoldt commented on #21134
@tjstansell what system are you running? Could it be reasonable to skip binary files?

[code]

[code]

[2015-03-23 19:13] jfindlay commented on #21864
@ketzacoatl, this is looking like a legitimate bug to me.  What is the output of `salt-call --versions-report`?  Thanks.

[2015-03-23 19:14] jfindlay commented on #21864
Actually, it seems that git dependencies are not included in `--versions-report`.  Do you know the package and version that you're using with salt?

[2015-03-23 19:14] eliasp commented on #20549
It looks like this also causes the problem I'm seeing here.
I have some states to mount NFS shares, but the shares aren't mounted once their entry in fstab already exists, leading to this output:
[code]

**Salt:**
[code]

**OS:** CentOS 7

[2015-03-23 19:23] jfindlay commented on #21875
@polliard, the default in `salt/config.py` for `log_level` is `None` regardless of platform.  When the logging system is initialized, if `log_level` is `None`, it defaults to `warning`.  Is it possible there are no warnings to log?  Thanks.

[2015-03-23 19:28] tjstansell commented on #21134
This happens to be a CentOS 6 box that was a pretty generic kickstart install.  Not sure why it's creating a key file that's using such an old format...

I looked through the openssh code and in `sshkey.c`, it has this:
[code]
So, I think it's safe to only read the first line if it contains this string, otherwise read the whole file.

[2015-03-23 19:31] jfindlay commented on #21651
@mimianddaniel, not yet.  We're working on getting a couple of releases out and then I'll be able to spend some time on this, thanks.

[2015-03-23 19:43] ketzacoatl commented on #21864
[code]

and..

[code]

What is the best way to determine the backend?

From what I can tell, I have not installed any of those, and salt is using git directly. When I review the module's code (`/usr/lib/python2.7/dist-packages/salt/modules/git.py` on the filesystem), I only see the `cmd` module used to run `git` directly, and the module's `__virtual__()` does a `which git`.

[2015-03-23 19:47] ryanwohara commented on #21391
I know Salt will fail in other places if a YAML section is left blank. I am not certain what the expected functionality here is but with the provided context, avoiding the NoneType error seems prudent.

A more complex solution may be required.

[2015-03-23 19:59] whiteinge opened #21909 "Add an orchestrate function for talking to one-or-more salt-api instances"
To allow kicking off a regular orchestrate run across multiple masters via salt-api.

[2015-03-23 20:04] justyns opened #21910 "Salt-master too whitespace-sensitive when dealing with minion pub keys"
I've been running into this error pretty frequently as of late:

[code]

Further debugging basically lead me to discover there was a missing new line at the end of the minion's public key.    I've had almost the exact problem in the past, and it started after a salt-master upgrade(I don't remember which version unfortunately), but it was due to an extra new line instead of a missing new line.

And

[2015-03-23 20:10] jfindlay commented on #21864
@ketzacoatl, I'm sorry that I don't have a great way to find out, I'm not really familiar with the git code.  I'm guessing you're running on debian, so you could try `dpkg -l | grep -E -i 'gitpython|pygit|dulwich'` or similar.

[2015-03-23 20:10] jfindlay commented on #21864
We definitely need to get that info into `versions_report`.

[2015-03-23 20:17] ketzacoatl commented on #21864
@jfindlay, sorry I overlooked that detail, I am on Ubuntu 14.04.1 LTS Trusty, and no, `dpkg` doesn't find anything for those packages.. just searching for `git` in that same way (as opposed to those specific packages) confirms nothing is hiding under a different name.

[2015-03-23 20:22] jfindlay commented on #21876
@uvsmtid, thanks for the report.  Do you have the same problems with 2014.7.2?

[2015-03-23 20:23] jfindlay commented on #21881
@bechtoldt, thanks for working on this.

[2015-03-23 20:24] deuscapturus commented on #21904
False report.

[2015-03-23 20:24] #21904 closed

[2015-03-23 20:30] jfindlay commented on #21883
@oz123, @gerihu, thanks for your valuable input on this feature.

[2015-03-23 20:36] jfindlay commented on #21888
@eliasp, thanks for the report.

[2015-03-23 20:38] jfindlay commented on #21890
@aspyatkin, thanks for the report.  Please feel free to submit a pull request making the changes you've documented.

[2015-03-23 20:40] jfindlay commented on #21892
@corywright, thanks for fixing this.

[2015-03-23 20:42] jfindlay commented on #21896
@strocknar, what is the output of `salt --versions-report` or `salt minion test.versions_report` as necessary, and what version of docker are you using?  Thanks.

[2015-03-23 20:48] jfindlay commented on #21902
@mwpher, thanks for the report.

@rodrigc, @kim0

[2015-03-23 20:53] jfindlay commented on #21837
@RobertFach, do you think it might be a stale `*.pyc`?

[2015-03-23 20:54] basepi commented on #21910
That certainly seems like it would be an appropriate, and safe, fix. Let me see if I can get the eyes of @cachedout and/or @thatch45 on this.

[2015-03-23 20:59] JaseFace commented on #16218
@donatello You can store binary data directly into the pillar without encoding/decoding it and deploying it works great, but last I tested it, it would cause salt to crash when you it tried to render those pillar contents.

If it properly displayed binary pillar data, or likely better just output 'Binary data' instead of the payload itself, we could probably run with that solution and skip any enc

[2015-03-23 21:01] twangboy commented on #21884
OpenSSL is now included in Python 2.7.9. To test this, open a Python prompt and type the following:

You should get the following:
'OpenSSL 1.0.1j 15 Oct 2014'

[2015-03-23 21:28] oz123 commented on #21883
@jfindlay before diving into the daunting task of implementing this is there someone wiling to help with some guidelines?

[2015-03-23 21:32] jfindlay commented on #21883
@oz123, I don't have much experience with this code yet.  Feel free to bother @whiteinge, @UtahDave, and/or @basepi for guidance and feedback.

[2015-03-23 21:34] rvora opened #21912 "pkg.latest not updating the package on CentOS though yum reports an update available"
I have an RPM installed with with version 0.2 (foo-0.2-001.noarch). Now I have a new version available in my local customrepo but state.highstate using pkg.latest refuses to update the package.

[code]

Yum install also identifies this as an update.

[code]

Walking through the code in salt/states/pkg.py I think the problem is in salt.utils.compare_versions  which calls version_cmp which uses dist

[2015-03-23 21:36] rvora opened #21913 "Sending mine data up the syndic chain"
I have a master-of-masters. New clusters with their own salt-master (sub-masters) are created and destroyed continuously by the CI system for testing. These sub-masters syndic to master-of-masters.

All the minions connected to master-of-masters and sub-masters send their network.ip_adddrs to Mine - each minion only sends to its own salt-master.

What I now want is this network.ip_addrs informatio

[2015-03-23 21:53] rvora commented on #21912
Thinking a bit differently, why does Salt need to run version_cmp to check there is a newer version when Yum is already telling you there is an update available? Sounds like Salt is trying too hard and fails in some cases.

I also wonder how this code has been working for so long.

[2015-03-23 21:55] deuscapturus opened #21917 "2015.2 Unable to pass http auth to util.http from state.file"
Basic http auth for the following state is not passed to util.http resulting in error 401.

using requests_lib: True
os: Windows
[code]

Note, I've captured url and auth in the trace log.  The username and password were stripped from the url and auth is set to None.
[code]
[code]

[2015-03-23 22:56] luxi2001 commented on #21698
I think this is related to the problem I am seeing. It seems `cmdmod` no longer handles globbing. For example:
[code]
Same problem with `?`, for example: `salt-call cmd.run cmd='ls /etc/host?'`

Versions:
[code]

[2015-03-23 23:01] deuscapturus commented on #21884
Yep! SSL issues seem to be resolved with the requests library.  Thank you!

ssl.OPENSSL_VERSION -> OpenSSL 1.0.1j 15 Oct 2014
requests.certs.where() -> C:\salt\bin\lib\site-packages\requests\cacert.pem

[2015-03-23 23:50] whiteinge commented on #20285
@cachedout, @thatch45: I could use assistance with this (as well as the related-sounding #21740). Any thoughts on the root cause? [This comment](https://github.com/saltstack/salt/issues/20285#issuecomment-73600188) has a base-case test to reproduce the issue.

[2015-03-24 00:05] arr2036 opened #21922 "salt-ssh NameError: global name 'msgpack' is not defined (salt-ssh 2014.7.2 (Helium))"
[code]

Saw you guys were collecting these...  https://github.com/saltstack/salt/issues/20276. Above is with https://github.com/saltstack/salt/pull/20364 applied.
[code]

[2015-03-24 00:06] Fluro opened #21923 "Salt cloud not running provisioning script as root"
Hi Guys: I've pasted my issue to this pastebin: http://pastebin.com/JJkweVmN

Essentially, after the minion is cloned salt cloud copies the required files and scripts across to the minion and SSHs in to run the scripts. This fails with this error: ERROR: Salt requires root privileges to install. Please re-run this script as root.

However, I've configured the option (as you'll see in the pastebin)

[2015-03-24 00:18] djcrabhat commented on #21923
I came across the very same issue, it was a bug in the vsphere provider.  https://github.com/saltstack/salt/pull/20474  (although i forget if I also passed a param "sudo: true" or something to that effect, I'll check my working code in a little bit)  If you use the latest develop, I bet it'll work.

[2015-03-24 00:46] uvsmtid commented on #21876
@jfindlay, yes. I've just tested it on Fedora 21.
Result repeat cases in "Detailed output".
[code]
By the way, the issue (updated there) was originally spotted on CentOS 5.5.

[2015-03-24 01:23] #20711 closed

[2015-03-24 01:24] #21134 closed

[2015-03-24 01:34] jfindlay commented on #21876
@uvsmtid, thanks for the great information.

[2015-03-24 01:53] tjstansell commented on #21134
I don't think the change that was committed is the correct fix.  It changes the behavior to no longer strip the private keys, which is the "backward compatibility" issue that was discussed in the pull request.  After researching the SSH key format more, I believe the following fix would actually do what we want:

[code]

This reads the first line, if it's the legacy binary header, stop there, othe

[2015-03-24 01:54] rallytime commented on #21886
@TimJones Thanks for the question. I actually haven't used salt-virt before, so I don't know the answers to these questions, but I bet @s0undt3ch or maybe even @techhat might be able to help out here.

[2015-03-24 02:00] rallytime commented on #21907
Ok, so if I am following you correctly, it looks like when you issue commands from the master with the syndic on it, you're getting results for the minions that you expect, but when you issue commands from the "super master" you're missing results from "host1" pretty much every time, regardless of the way you're trying to match your minions. Is that correct?

Are all minions/masters/syndics runnin

[2015-03-24 02:15] rallytime commented on #21912
Good catch @rvora. I think this sounds like a reasonable approach to me, but @terminalmage might know more about this particular piece of code.

[2015-03-24 02:19] tjstansell commented on #21134
Also, I noticed that the pull request change referenced issue #20708, which talks about stripping trailing newlines for *user* keys.  I think that led to some confusion in the pull request discussion because user keys were not being stripped, but host keys were.  The goal is to strip them all, which is more reason why 8f5380b should get reverted (since it no longer strips the private key).

[2015-03-24 02:30] yannis666 commented on #21907
All nodes are running the same version of salt - I have been setting up using a common docker image that uses yum to install salt.
You are right. From syndic, all 3 minions (self, host1, host2) are found using "*"
from top level master host1 is missing (self, sydic, host2 are found).
Additional problem is that on syndic "host*" matches host1 and host2, but on top level master, it matches nothing.

[2015-03-24 02:40] yannis666 commented on #21907
Solution worked fine. Please mark this up as RTFM / user error.
Thanks so much for your help.

[2015-03-24 02:40] #21907 closed

[2015-03-24 03:56] jfindlay opened #21927 "network.traceroute intermittently stacktraces"
### versions

[code]

[code]
### execution

[code]
### minion log

You can see the traceroute printout below that caused the error.

[code]

This output below is the result of a print statement I put [here](https://github.com/saltstack/salt/blob/v2014.7.2/salt/modules/network.py#L360), (`from pprint import pprint ; pprint(comps)`),

[code]

The minion log continues,

[code]

I would fix this mysel

[2015-03-24 05:18] hirotoshibuya commented on #18425
Same issue with salt-ssh 2014.7.1 (Helium) on CentOS 6.6 with via EPEL.

I was using 2014.7.0 with this patch: https://github.com/saltstack/salt/pull/19321
Then, when updated to 2014.7.1, that patch is included but it regressed with this issue.

[2015-03-24 05:29] hirotoshibuya commented on #18425
This issue can be worked around by installing "python-requests" package on the target.

[2015-03-24 06:19] gerihu commented on #21883
@jfindlay Thanks for your quick response on this request. I will be happy to support.

[2015-03-24 07:22] aspyatkin commented on #21890
@jfindlay OK, now I am a bit busy, so if nobody fixes this in 1-2 days, I will make a fix and a PR. I suppose it's one-line fix in state module, but tests are need to be written too.

[2015-03-24 08:11] claudiupopescu commented on #19957
The init file looks ok to me but who knows, maybe I missed something :)

Here you have more details:
[code]

As you can see salt-syndic uses / (root) for logging and pid file.

Now the init file:
[code]

As you can see the only major difference is ```--background``` which does not affect the pid and log path.

I will gladly provide more details but for now I don't have time to dive in salt code.

[2015-03-24 09:16] bigg01 commented on #18322
Hi I have the same issue with reactor. Any idea to fix that?

Works:
# /etc/salt/minion
master: master1

doesn't work:
# /etc/salt/minion
master:
 - master1
 - master2

alt --versions-report
           Salt: 2014.7.2
         Python: 2.6.9 (unknown, Mar 31 2014, 22:15:20)
         Jinja2: 2.7.3
       M2Crypto: 0.22
 msgpack-python: 0.4.6
   msgpack-pure: Not Installed
       pycrypto: 2.6.1

[2015-03-24 09:16] bigg01 commented on #18322
Hi I have the same issue with reactor. Any idea to fix that?

Works:
# /etc/salt/minion
master: master1

doesn't work:
# /etc/salt/minion
master:
 - master1
 - master2

alt --versions-report
           Salt: 2014.7.2
         Python: 2.6.9 (unknown, Mar 31 2014, 22:15:20)
         Jinja2: 2.7.3
       M2Crypto: 0.22
 msgpack-python: 0.4.6
   msgpack-pure: Not Installed
       pycrypto: 2.6.1

[2015-03-24 10:09] ev0rtex commented on #21601
@rallytime yeah, let's watch the other issue. Thanks

[2015-03-24 10:09] #21601 closed

[2015-03-24 10:13] ev0rtex commented on #19957
@rallytime yeah, all of our servers are running wheezy so it could most definitely be a problem specifically with the Debian init script.

[2015-03-24 10:47] adyxax opened #21928 "Change state from service.start ignored if enable is used"
Salt doesn't report starting a service if the enable function is used. This behaviour happens on both Gentoo running salt  2014.7.2 or debian running salt 2014.1.13

The problem is triggered with this state :
[code]

Running with salt-call on a server with sshd stopped properly start the service but fails to report it:
[code]

Removing the enable function fixes that behaviour, which means that the

[2015-03-24 10:50] TriAnMan opened #21929 "composer.installed sould not run always"
I've discovered the way composer.installed satate can be run only if there is something to do. Check out my handmade state for such purpose:

[code]

[2015-03-24 10:55] TriAnMan commented on #21491
Looks that I've found the right way to make composer.installed work only when it has to. Can you look this issue #21929

[2015-03-24 11:20] bahymohammmed commented on #5504
is there anynews ? , this will be very useful

[2015-03-24 13:05] strocknar commented on #21896
@jfindlay

-=# DOCKER VERSION #=-

    $ sudo docker version
    Client version: 1.4.1
    Client API version: 1.16
    Go version (client): go1.3.3
    Git commit (client): 5bc2ff8/1.4.1
    OS/Arch (client): linux/amd64
    Server version: 1.4.1
    Server API version: 1.16
    Go version (server): go1.3.3
    Git commit (server): 5bc2ff8/1.4.1

-=# SALT VERSION #=-

    $ sudo salt --versions-r

[2015-03-24 13:25] slomo opened #21931 "Support lxc unpreviliged containers"
Neither the lxc modules nor the [lxc states](http://docs.saltstack.com/en/latest/ref/states/all/salt.states.lxc.html#module-salt.states.lxc) allow currently to give a user as argument. Although this would be useful in order to setup [unpreviliged containers](https://www.stgraber.org/2014/01/17/lxc-1-0-unprivileged-containers/).

It would be super to see support for this. My current solution is to

[2015-03-24 13:34] clinta opened #21932 "Salt Coding Style docs should list requirements for salt pylintrc"
It was a bit of an adventure getting salt's .pylintrc to run, as it required installing plugins from both https://github.com/saltstack/salt-pylint and https://github.com/saltstack/salt-testing. It's now running, but I'm not really sure that I'm running the correct versions of the plugins since some are in both repositories.

A definitive guide to how to install the necessary plugins would be very

[2015-03-24 13:52] vovad opened #21933 "salt error no such option: --return_config"
Hi! Im trying to use alternative config for redis returner and Im geting: no such option: --return_config from salt. The same for mysql and mongo.

        Distributor ID:	Ubuntu
        Description:	Ubuntu 14.04.2 LTS
        Release:	14.04
        Codename:	trusty

                  Salt: 2014.7.2
                Python: 2.7.6 (default, Mar 22 2014, 22:59:56)
                Jinja2: 2.7.2

[2015-03-24 13:57] jacksoncage commented on #18720
Thanks @monk-ee, `retry` and `time.sleep` for 15, worked nicely for me too.

[2015-03-24 14:02] mooperd opened #21935 "- 'OrderedDict' object has no attribute 'read'"
Could anyone tell me what the problem is here? This feels like a bug.

Thanks,

Andrew

[code]

salt --versions

[code]

/srv/pillar/top.sls

[code]

salt-master --log-level=debug

[code]

[2015-03-24 14:31] rallytime commented on #21922
Thanks for opening a new issue.

ping @basepi

[2015-03-24 14:35] rallytime commented on #21923
Thanks for the report @Fluro. Can you post the output of `salt --versions-report`? Are you in a place to give this a try using develop as @djcrabhat suggested?

@techhat Have you seen this one before?

[2015-03-24 14:41] rallytime commented on #21601
Cool! Thanks!

[2015-03-24 14:42] strocknar commented on #21896
Looks like this may be something that is fixed in 2014.7.2 and later. I'm using CentOS 6.6, and the packages in EPEL for docker and salt are out of date. Downloading the newest docker binary and doing 'pip install --upgrade salt==2014.7.2' seems to have cleared this (and brought about some other issues).

    $ sudo salt --versions-report
               Salt: 2014.7.2
             Python: 2.6.6 (r

[2015-03-24 14:45] rallytime commented on #19957
Good info @claudiupopescu and @ev0rtex. The only difference I see there is the `--background` as well.

[2015-03-24 14:47] rallytime commented on #21907
Awesome! Glad it was a simple solution and that you're able to get everything working. :)

[2015-03-24 14:52] jfindlay commented on #21929
@TriAnMan, thanks for the report.  What is the output of `salt --versions-report`?

[2015-03-24 14:55] jfindlay commented on #18720
@monk-ee, thanks for the excellent work and research on this.  Please submit a pull request containing the changes you recommend.  If you can't get to it in the next several days, then I'll do it, thanks.

[2015-03-24 15:00] rallytime commented on #18322
@bigg01 Without more information, I think perhaps what you're seeing might be #17033 or maybe even with #13879.

@Rucknar or @gavala After skimming the more recent responses, are you saying that you've narrowed this problem down to when you run a highstate? (I have been spending a lot of time in MM testing it and trying to track down bugs, and I have *definitely* seen problems with running highsta

[2015-03-24 15:11] jfindlay commented on #21896
@strocknar, yes, the docker module/state are known to need a cleanup.  @terminalmage is currently working on this.  Since the original issue has been resolved, do you mind if this issue is closed?  Please open new issues if you find new bugs, though, or if you run into this issue again, we can reopen it, thanks.

[2015-03-24 15:11] #21896 closed

[2015-03-24 15:12] Galser commented on #5787
+1

[2015-03-24 15:12] rallytime commented on #21931
Thanks for the suggestion @slomo.

ping @terminalmage

[2015-03-24 15:13] rallytime commented on #21932
@clinta Yes, this would be useful to document. Thanks!

[2015-03-24 15:17] garethgreenaway commented on #21933
The --return_config option will be available in 2015.2

[2015-03-24 15:27] rallytime commented on #21933
Thanks for the question @vovad and for the answer @garethgreenaway. We should get some `versionadded` information in the docs about the addition of `--return_config`.

[2015-03-24 15:28] TriAnMan commented on #21929
[code]

[2015-03-24 15:35] vovad commented on #21933
Thanks for update. One more question: is there any possibility to use different databases in mongo (redis, mysql) for pillar and for returner?

I want something like this in master config:

[code]

[2015-03-24 15:39] garethgreenaway commented on #21933
Right now the mongo returner looks for it's configuration using the items prefaced with mongo, so short answer is right now, no.  With 2015.2 you would be able to specify a different configuration using the option.

[2015-03-24 15:56] claytron commented on #21837
I ran into a similar issue using `file.managed` when upgrading to `2014.7.2` on Ubuntu `14.04.2`. I'm using a masterless setup via Vagrant in this case.

The first step of my config is the following:

[code]

Which pulled in the lastest Salt version. Error only happened on the first run, subsequent runs were fine.

## Example 1

[code]

And the ensuing error

[code]

## Example 2

[code]

And the

[2015-03-24 16:00] whiteinge opened #21940 "Add state execution function to view arbitrary step in the render-pipe sequence"
Talked with Tom about this briefly. The idea is a function in the state execution module that can stop at any point in the render-pipe sequence of steps and output the result thus-far. It would be useful for debugging states.

Something like the following would stop after Jinja has rendered the .sls file and output the result _before_ it would be handed off to YAML:

[code]

[2015-03-24 16:05] jfindlay commented on #21929
@TriAnMan, it's not clear to me whether the other issue you commented on is related or not, but the fix for that will be in 2014.7.3 which should be out in a few days.

[2015-03-24 16:16] jfindlay commented on #21837
@claytron, how did you upgrade salt?  Did it happen only after you upgraded?  If this is a stale `.pyc` issue then the package manager should be taking care of it.  If you used apt, then this is a packaging bug.  If you used pip or similar, then I'm not that surprised that `.pyc` got leftover. :-)

[2015-03-24 16:20] claytron commented on #21837
It was upgraded via `pkg.uptodate` so it was done by `apt-get`. The error only happened the one time right after the upgrade (in the same run as `pkg.uptodate`). Seems to be fine after that.

[2015-03-24 16:34] jfindlay commented on #21837
@claytron, thank you for the verification, and thanks @RobertFach for reporting.

[2015-03-24 16:54] jfindlay commented on #21897
@FeatherKing, I am unable to target minions either using ordinary globbing or with `-L` in a case-insensitive manner.  Have I done it incorrectly?

[code]
[code]
[code]

[2015-03-24 17:14] TriAnMan commented on #21929
It is definitely related.
My method makes redundant other ways to determine if `composer install` needs to run.
E.g.: any logic related to `composer.lock` must be removed, any logic about `vendor` dir must be removed, parameter `always_check` becomes redundant.

[2015-03-24 17:19] jfindlay commented on #21917
@deuscapturus, thanks for the report.  I've read over the `file.managed` state function and `file.manage_file` module function and it seems that neither support authentication for retrieving remote files.  This would definitely be a good thing to have.

[2015-03-24 17:24] rvora commented on #20197
@rallytime I am seeing these logs but I don't have a multi-master environment. I have a master-of-masters and a bunch of ephemeral masters who run syndic pointing to master-of-masters. By ephemeral masters, I mean that these masters are spawned by CI/CD pipeline and are eventually destroyed by the pipeline. All minions point to only one master.

A couple of things about the setup. Master-of-master

[2015-03-24 17:38] FeatherKing commented on #21897
I was working with windows minions that day and I think it actually might be different behavior based on minion os. Windows minions are insensitive and linux are sensitive based on these results.

Example server name of a windows minion TestServer

all uppercase
[code]

all lowercase
[code]

actual hostname
[code]
[code]

Example linux minion name QA1
[code]
[code]
[code]
[code]

Like you I am get

[2015-03-24 17:49] jfindlay commented on #21929
So, you're proposing to replace the composer state's `always_check` logic with a call to `composer install --dry-run`?  If so, then I agree that if the upstream tool provides the functionality, then we should be using it unless there's an extenuating reason otherwise.  If you want to submit a pull request to this effect, be sure to describe the change in the release notes, salt/doc/topics/releases

[2015-03-24 17:51] cachedout commented on #21354
For reference, the relevent configuration option is ```max_event_size```. This limits the size of a payload a minion can send to a master.

On the master side, we could enable ```ZMQ_MAXMSGSIZE``` [http://api.zeromq.org/3-2:zmq-setsockopt] and make it a configurable option to enable it.

@jacksontj and @thatch45 Any input here?

[2015-03-24 17:52] jfindlay commented on #21897
That makes sense, since hostnames, domainnames, dns names, etc. are traditionally case insensitive.  That is the greater contextual convention that I think we should conform to.

[2015-03-24 17:55] cachedout commented on #21180
Could you be hitting this? http://www.itsecdb.com/oval/definition/oval/org.mitre.oval/def/26898/ELSA-2013-1319----sssd-security-and-bug-fix-update-low-.html

[2015-03-24 17:55] jfindlay commented on #21897
@FeatherKing, do you think this is a duplicate of #8965, such that discussion on minion ID case insensitivity could be consolidated there?  Thanks.

[2015-03-24 18:01] FeatherKing commented on #21897
I wouldnt say its a duplicate, but the discussion needs to happen. I would still call this a bug because the experience for the user seems to be unexpected and different depending on what OS the minion is running.

Regardless of how the discussion goes (sensitive or non) i feel like the behavior should be consistent

[2015-03-24 18:03] cachedout commented on #19932
I am confident this is now fixed on the HEAD of 2014.7. I am going to go ahead and close this issue. If anybody sees this crop up again, please feel free to leave a comment here and we'll be happy to re-open it. :]

[2015-03-24 18:03] #19932 closed

[2015-03-24 18:08] deuscapturus commented on #21917
@jfindlay Thanks for the followup.  In past versions of Salt I was able to place the username and password in the url of file.managed (at least in Linux).  Is this a limitation of Requests over urllib2?  Is this also broken on Linux for 2015.2?

[2015-03-24 18:09] jfindlay commented on #21897
@FeatherKing, sounds good to me.

[2015-03-24 18:11] cachedout commented on #19969
@twangboy Could you update this issue with the current status please? Thanks.

[2015-03-24 18:11] jfindlay commented on #21917
@deuscapturus, those are good questions.  If this worked before it is probably because we're moving away from requests, since it has caused many dependency problems.

[2015-03-24 18:12] cachedout commented on #19911
What's the exit code of the minion after it dies?

[2015-03-24 18:14] dmyerscough commented on #20625
Sorry for the delay, I have just submitted a PR to fix this issue #21947

[2015-03-24 18:21] mshade commented on #19911
The minion does not die, it remains running and disconnected from the master. It must be restarted manually for minion/master communication to resume.

[2015-03-24 18:21] twangboy commented on #19969
This seems to be working in the latest 2014.7. It is still a problem in 2015.2.

[2015-03-24 18:28] jfindlay commented on #20625
@dmyerscough, thanks.

[2015-03-24 18:36] jfindlay commented on #21913
@rvora, thanks for the report.

[2015-03-24 18:36] dmyerscough commented on #21721
@rallytime I was just looking at this issue and I can see you can specify the `msgpack.dumps(msg, default=str)`. However, you would need to use msgpack.loads() and the OrderedDict changes to a list of dicts.

[2015-03-24 18:43] eedgar opened #21948 "2014.7.2 saltmaster with gitfs backend doesnt work with git repos that have extra branches."
eg this branch https://github.com/saltstack-formulas/salt-formula/tree/style-short-dec

was causing this traceback.

[code]

the master is configured like this

[code]

the minion was configured like this

[code]

the top.sls

[code]

[2015-03-24 18:43] #21890 closed

[2015-03-24 18:45] TriAnMan commented on #21929
Yes.

Unfortunately I have no expertise in python or in Salt development. But I use composer a lot in my PHP projects. Maybe @ross-p could make an investment?

[2015-03-24 18:57] FeatherKing commented on #21897
Also it is worth noting that even in the windows minions only, the glob and list are working differently (glob = insensitive, list = sensitive)

[code]

[code]

[2015-03-24 18:58] basepi commented on #20197
@rvora First thing to check is that there is only one syndic process running on each master. Additionally, we have some recent syndic fixes which have gone in which may fix this issue, though I haven't actually seen this particular issue with a syndic setup.

[2015-03-24 19:04] jfindlay commented on #21928
@adyxax, thanks for the report.

[2015-03-24 19:08] jfindlay commented on #21948
@eedgar, what is the output of `salt-call --versions-report`?

[2015-03-24 19:10] tjstansell commented on #21134
Regarding my previous comments, I was confused by the way github is referencing commit 8f5380b, but in reality the merge included that plus the other commit in the pull request... so I didn't realize that the entire pull request had been merged.  I'll file a new issue about not reading the legacy 1.1 binary private key.

[2015-03-24 19:11] iggy commented on #21948
I was discussing this issue on IRC with rocket (eedgar).

Note that this is with salt-master running on a FreeBSD box (which afaik isn't "supported"), but I figured it might be worth reporting anyway in case it's an actual issue that just doesn't manifest on Linux masters.

[2015-03-24 19:21] basepi commented on #21935
Hmm, that is quite strange. Could you try removing the commented out lines? You know, for science? I can't imagine they'd be effecting anything, but the rest of the topfile looks just fine...

Also, how did you install salt? Since 2015.2.0 isn't out yet, it should be reporting the SHA of the installed version, but for certain install types that can be lost.

[2015-03-24 19:52] tjstansell opened #21952 "salt.modules.ssh.host_keys should not read full private key in legacy binary format"
Now that #21134 has been committed, it reads the entire host key files, which is great. However, for older private keys in the 1.1 version format, these keys will be in binary form.  These should not get read in their entirety.  For these, it could either return just the header itself (to show that it's in the old, binary format) or simply throw out the result.  I'm not sure which is preferred, bu

[2015-03-24 19:55] jfindlay commented on #21935
@mooperd, I can't reproduce your error with the pillar top file you've provided.  I'm not sure what's going on here.

[2015-03-24 19:59] jfindlay commented on #21952
@tjstansell, that would be great, thanks.

[2015-03-24 20:04] basepi commented on #21871
The minion must get the pillar data including the `mine_functions` key. Have you included `haproxy` in your top.sls such that your minion will see it?

[2015-03-24 20:23] strocknar opened #21953 "Docker exec not working when container created with docker.installed/docker.running"
I have the following state which creates and runs a container using docker. The container is created and started successfully, but I can't interact with it using docker from the command line (e.g. docker exec -it test_salt_docker salt 'minion' state.highstate). The exec just exits. However, using docker.run from salt does work (e.g. sudo salt 'master' docker.run 'test_salt_docker'  'salt "minion"

[2015-03-24 20:34] mimianddaniel commented on #21651
So have an update on this issue: we run master of master setup and i notice that if point the event trigger to intermediary master, the reactor works properly but if i point it to the master of the master, it doesnt.
Intermediary master is running 2015.2.

[2015-03-24 20:55] Fluro commented on #21923
Thanks @rallytime! I'm not really in a position to try develop at the moment but might be able to spin up a new box when I get some time.

root@my_salt_server:/srv/salt/base/elasticsearch# salt --versions-report
           Salt: 2014.7.1
         Python: 2.7.6 (default, Mar 22 2014, 22:59:56)
         Jinja2: 2.7.2
       M2Crypto: 0.21.1
 msgpack-python: 0.3.0
   msgpack-pure: Not Installed

[2015-03-24 20:58] rallytime commented on #21511
How's that @whiteinge?

[2015-03-24 21:01] rallytime commented on #21923
No problem @Fluro! with Keep us posted. :)

[2015-03-24 21:38] giannello opened #21956 "Reactor rendering error"
Salt-master is configured for GPG rendering using the following entry in its configuration file:
[code]

Execution of reactor states fails with the following trace:
[code]

adding some extra debug informations in the code, the following exception got traced at line 610 of utils/event.py
[code]

Removing the "gpg" renderer from the configuration of the salt-master solved the issue.

[2015-03-24 21:46] rallytime commented on #21956
Interesting. What version of salt are you running? Can you post the output of `salt --versions-report` please?

[2015-03-24 21:53] mimianddaniel commented on #21651
so i traced my problem to this commit : 2241444f88ceade11a75fc88a20371d2d1acdae5 in rc1 and devel.
once i remove this commit from the reactor.py. my reactor is happy again. so the reactor we have is to update the repo on all the saltmasters.  Reading the commit msg, the intent was just that?
Would the event_user better serve as a variable out of the code ??

[2015-03-24 21:54] giannello commented on #21956
2014.7.2 - but problem already spotted, will open a PR in a minute

[2015-03-24 21:58] jfindlay commented on #21651
ping @jacksontj

[2015-03-24 22:42] polliard opened #21961 "SaltStack win_service.py:restart(name) kills the salt-minion on windows"
win_service.py
def restart(name):

Takes the name but if the service happens to be salt-minion then the stop-service call will stop the salt-minion but has no lost the ability to start-service salt-minion as the minion is down.

Perhaps the resolution since the minion service is defined by salt to check if the minion is being passed as the service and if so then actually issue the Restart-Service

[2015-03-24 22:43] twangboy commented on #21884
I just updated the script and zip files.

On Mon, Mar 23, 2015 at 5:01 PM, Theodore Cowan <notifications@github.com>
wrote:

--
*Shane Lee*
*Windows Platform Engineer*
Salt Stack, Inc.

Join us at SaltConf15 <http://www.saltconf.com/> - March 3-5, 2015 - Salt
Lake City

[2015-03-24 22:53] UtahDave commented on #21961
What version of Salt are you using? 2015.2?  It's using Restart-Service:  https://github.com/saltstack/salt/blob/53846aa2845a74518d7031c5e2f7d85f3391cffb/salt/modules/win_service.py#L234

Can you provide the output of salt '<minion id>' test.versions_report?  Also are you running the salt-minion a terminal or is the salt-minion service running?

[2015-03-24 22:57] basepi commented on #21922
I can reproduce this.

[2015-03-24 22:59] ross-p commented on #21929
@TriAnMan if you're running `composer --dry-run` then you're still running composer on every highstate.  Is it very much more efficient than just doing `composer install` which effectively does nothing if nothing needs to be done?

The point of the optional `always_check: False` logic is to support workflows where the user does not intend for `composer install` to make any changes at all after it

[2015-03-24 23:00] basepi commented on #21922
Interestingly, this is working against a Cent 6 box but not against an Ubuntu 14.04 box.

[2015-03-24 23:01] #21956 closed

[2015-03-24 23:08] basepi commented on #21922
Fixed in #21965.

[2015-03-24 23:08] #21922 closed

[2015-03-24 23:11] arr2036 commented on #21922
Thanks! As a temporary work around installing python msgpack on the minions also worked, though obviously that's not ideal :)

[2015-03-24 23:12] basepi commented on #21910
Talked to @cachedout, and he agrees that the fix is safe, but we should do some performance testing on `strip()`, as this is a line which is run every time a minion auths.

[2015-03-24 23:23] nbari commented on #21871
Yes, the haproxy is on the pillars top.sls also when using:

    salt haproxy1 pillar.items

I do see the mine functions but for an unknown reason can make it return something.

[2015-03-25 00:34] TriAnMan commented on #21929
`composer install --dry-run` isn't much more effective in case that everything is done.
However to check if there is a job to be done composer compares `composer.lock` with `vendor/composer/installed.json`. So this check is quite effective to be run even on every highstate. E.g. on my setup with 57 dependencies it takes about 1 second to complete a composer state.

Could you provide an example of

[2015-03-25 00:40] Darnok99 opened #21967 "Cant revoke key using reactor"
I'm trying to use reactor system to revoke keys after aws informs me about terminating one of my minion instances but I'm constantly receiving that error:
[code]

it looks like passing arguments is broken

My version report:
[code]

my reactor config:
[code]

my ec2-autoscale-reactor.sls file:

[code]

I also collected some debugging data so maybe it will help you guys:

[code]

Does anyone have a

[2015-03-25 00:43] TriAnMan commented on #21929
Moreover the method involving `composer install --dry-run` is perfectly compatible with `test=True` parameter.

[2015-03-25 00:57] mimianddaniel commented on #21749
@cachedout do you know when we can expect a patch for this?

[2015-03-25 01:21] rallytime commented on #21749
@mimianddaniel There were numerous updates to the syndic addressing event returns getting passed up through the syndic to the super master. Which branch/version were you testing this on? I'd give the HEAD of either the 2014.7 branch or the 2015.2 branch a try.

[2015-03-25 01:38] UtahDave commented on #19969
This has been fixed by #21960  !!  Yay!

[2015-03-25 01:38] #19969 closed

[2015-03-25 01:58] mimianddaniel commented on #21749
Tried with 2015.2 today but i still see discrepancies in number of results.

 On Mar 24, 2015 6:21 PM, "Nicole Thomas" <notifications@github.com> wrote:

[2015-03-25 02:52] variia commented on #21799
Hi,

I have also been experiencing this relatively frequently especially on RHEL6 during highstate run only.

$ salt --versions
           Salt: 2014.7.1
         Python: 2.6.6 (r266:84292, Jan 22 2014, 09:42:36)
         Jinja2: 2.2.1
       M2Crypto: 0.20.2
 msgpack-python: 0.4.4
   msgpack-pure: Not Installed
       pycrypto: 2.0.1
        libnacl: Not Installed
         PyYAML: 3.10

[2015-03-25 03:12] rallytime commented on #21749
@mimianddaniel Thanks for clarifying that.

Can you clarify what you mean by "shows a different number of events each time" and the number of events that you're expecting to see between the super master and the syndic?

[2015-03-25 03:31] whiteinge opened #21969 "Eauth authentication error when passing incorrect function pattern"
When calling an incorrectly formatted wheel function an eauth authentication error is thrown. (I expect this same problem applies to RunnerClient as well.) This is similar to issue #6420.

We need to determine where best to improve this workflow and error message without compromising the security of the eauth checks. The current behavior does not indicate to to the user that there is a syntax erro

[2015-03-25 03:35] whiteinge commented on #21511
tyvm!

[2015-03-25 03:35] #21511 closed

[2015-03-25 04:10] mimianddaniel commented on #21749
Number of ret events for a job in the master log don't match the number of
ret events for the same jid in the syndic log at the intermediary master,
hence at the master of master, I only see the number reported by the
syndic.
Does that make more sense?
On Mar 24, 2015 8:13 PM, "Nicole Thomas" <notifications@github.com> wrote:

[2015-03-25 04:23] jacksontj commented on #21651
The intent of that patch I think is fairly well explained in the commit message. The problem we ran into before was if you had a reactor which reacted to '*' events. In that case the reactor would start a runner (or something similar), fire an event saying it started, then react to that event. This would continue forever-- and you would end up spinning forever. Now, its possible we are running int

[2015-03-25 04:55] dmyerscough commented on #21888
@eliasp Please can you sow me the state definition you are using and I will try resolve this issue for you.

[2015-03-25 06:31] tjstansell commented on #21952
Rather than waiting for fixes for #21134, I've submitted two separate pull requests.  The first is for the 2014.7 branch and the other is for 2015.2 and develop, which should address this as well as fix the bug introduced in PR #21878.

[2015-03-25 06:46] tjstansell opened #21971 "salt.modules.ssh.host_keys returns ssh_host_key.pub as key.pub.pub in output"
When the host keys are being parsed, a host key using the old name of ssh_host_key.pub gets returned as key.pub.pub instead of key.pub.  I'll submit a PR to correct this.

[2015-03-25 06:59] deuscapturus commented on #21917
The problems is here https://github.com/saltstack/salt/blob/develop/salt/fileclient.py#L593 .  salt.utils.http.query is called without passing kwargs for authentication.  But it does look like somebody prepared them to be sent here https://github.com/saltstack/salt/blob/develop/salt/fileclient.py#L589

[2015-03-25 08:45] babilen opened #21977 "salt-ssh scan roster does not accept /32 range"
When you run `salt-ssh --roster scan $SOME_IP_ADDRESS\32` to target only a single IP address no host will be matched, but it works for `\31` and smaller ranges.

I added a print statement to `salt/roster/scan.py` to see targeted hosts and get the following:

[code]

I would have expected `127.0.0.1/32` to be listed as well.

[2015-03-25 09:40] Azidburn opened #21978 "Open files issue with git_pillar"
I have in issue with open file limit an git_pillar.

I see quiet often this error in the log file from saltmaster:
[code]

The system limits for openfile are much higher:
[code]
I  have no limits set in salt-master config.

When i count the file descriptor with lsof the number is not very high:
[code]
I use two git-repo for pillar:
[code]

My Salt-Version is:
[code]

[2015-03-25 09:52] kim0 commented on #21902
@jfindlay .. Hi, I was trying to take a look on this one, but I'm slightly stuck on getting this to work on the development setup. I refreshed my git tree, activated the virtualenv .. put the user.present stanza in a sls file, but not sure how to salt-call it ?

[2015-03-25 11:34] yrdevops opened #21979 "gitfs: error message not descriptive enough when libgit2 was compiled without libssh2"
We have Stash running ssh on a custom port. Gitfs_remotes doesn't seem to handle this very well.
Running 2014.7.1, following doc for pygit2 I get:
[code]
[code]

[2015-03-25 11:46] NancyPaul opened #21980 "Cant able to unzip a folder on a minion(windows) from a master(RHEL)"
Hi Team,

I am trying to unzip a folder/package from a master which runs on a RHEL to a minion which is of windows using the following code:
[code]
But i am not able to run it and get the following error:
[code]
and as well when i try to unzip on a particular minion i get the following :
[code]
Can anyone please advise me what do? cause i am really really new to salt

Thanks

[2015-03-25 12:09] soodr opened #21981 "File permission issue on Salt master"
I get intermittent error for non-existent file when running salt-key commands on the master.
The process is running as non-root user and the .../master/ parent folder has the correct ownership.
End up touching the file to fix.
Also observed the issue when the file does exist.
[code]
(salt)-bash-4.1$ salt --versions-report
[code]

[2015-03-25 12:15] RobertFach commented on #21837
Hi, sorry for my slow response to your questions @rallytime and @jfindlay

For my site:
- no gitfs involved, at least the formula itself was cloned locally, master uses gitfs for other stuff not involved in this formula
- already removed all pyc files under salt/states and salt/modules, in order to reproduce the problem, but this didn't trigger the error

Any ideas, more things I could try?

[2015-03-25 12:22] msciciel commented on #18146
Is orchestration working with gitfs ?

[2015-03-25 12:30] soodr opened #21982 "Cherry REST api IOError"
Had to restart the salt master and salt-api process to fix the error :

[code]

REST configuration on master :

[code]

(salt)-bash-4.1$ salt --versions-report

[code]

[2015-03-25 12:53] kim0 commented on #21902
I traced this back to the underlying BSD tool "pw" not doing it job correctly .. which is quite weird .. @rodrigc @cedwards  .. Can you confirm the below looks like a bug to you too! The 2 problems are, after issuing usermod:

  * matt should be removed from group wheel, since it's not mentioned. This doesn't happen
  * matt is added to group "network" twice!! This shouldn't happen

[code]

[2015-03-25 13:14] techhat commented on #21917
@deuscapturus this is fixed with #21983, for requests. It looks like there's still some work to do for urllib2 though.

[2015-03-25 13:56] kremso commented on #17144
@basepi @techhat Any update on this? This happened to me (on salt-cloud 2014.7.2 (Helium)) and it basically made salt-cloud useless as I can't spin any new servers.

[2015-03-25 14:05] kremso commented on #17144
And I can confirm that @techhat's patch fixes the problem.

[2015-03-25 14:06] yannis666 opened #21985 "minion daemon fails to install packages when environment requires http proxy"
My environment requires access via http proxy.
I use RHEL 6.4 and run salt-minion as a service.
When I try to use state.sls to install packages, I get failures ("Error Downloading Packages" in log)

I have tried setting htt_proxy, https_proxy in ~root/.profile and also in /etc/environment (and re-starting the minion service) but that does not work.

I found prior issues on this:
https://github.com

[2015-03-25 14:12] TaiSHiNet commented on #20411
This might have been fixed in some recent version, as it now results in 'True' instead of clean

[2015-03-25 14:30] numkem opened #21986 "Using mine.get while targeting grain returns data from dead minions"
Hello,

I'm currently running 2014.7.2 and after removing some minions that were VMs using Foreman with the foreman-salt plugging (hence deleting their keys), the data I get from mine while targeting using grain is always from the minions that are now gone.

I've tried using `salt-run cache.clear_all tgt='*'`, `salt '*' saltutil.clear_cache` and `salt '*' mine.flush` and nothing seems to change th

[2015-03-25 14:33] poswald commented on #9569
For the record, as a user I expected I could say `pillar://` just like I can say `salt://` in a pillar sls file:

[code]

This is mentioned by @whiteinge in issue #19935 as well.

[2015-03-25 14:36] rallytime commented on #21971
Thanks for the report, and for the fix @tjstansell.

[2015-03-25 14:38] ross-p commented on #21929
@TriAnMan RE `always_check: False`, in our organization we never update code that is running in production.  When there is an update, we create a new directory like /path/to/app/1.0.1 and we put all the code in there.  This allows for easy atomic updates, rollbacks, etc.

And thus we never `composer install` on an existing code version in production unless it has never before been done for that ve

[2015-03-25 14:40] yannis666 commented on #21985
I found a solution that worked. Added proxy to /etc/yum.conf
Maybe this needs to be added to salt-minion configuration?

[2015-03-25 14:48] numkem commented on #21986
What I ended up having to do was to go in `/var/cache/salt/master` and delete all the minions that are dead by removing the whole directory. Than running `salt '*' saltutil.clear_cache`. This seemed to finally worked and the data I receive is the correct one.

[2015-03-25 14:59] twangboy commented on #15612
This was fixed with PR #21526

[2015-03-25 14:59] #15612 closed

[2015-03-25 15:03] jacksontj commented on #21651
Turns out this is a bit messier than we expected :/ The publish interface (cmd/local) uses a different ACL system to verify the user-- which isn't bypassed by the reactor. So, for now I've opened #21987 to scope this user addition to *only* runner/wheel jobs (which do work fine). This means you can easily have infinite recursion if you ping minions, but I also found that our new event client event

[2015-03-25 15:07] arthurlogilab commented on #21268
I think the following merge https://github.com/saltstack/salt/pull/21930 closes this issue.

[2015-03-25 15:07] #21268 closed

[2015-03-25 15:10] jacksontj commented on #21354
@cachedout that option limits how large the events are that we'll fire across the master/minion event bus-- but even that is a client-side limitation (which isn't sufficient). So in addition to the event system not limiting the size of messages properly (read: publisher side) we should (as @alexthegraham mentions) put a size limitation of the master to minion payloads.

A few thoughts about adding

[2015-03-25 15:19] kespindler commented on #16441
I think this would be a great feature to add. The current state of things is rather weird.

@rominf In response to your question from Oct 11, based on looking at the source, you should be able to call:

    key = 'I:like/special.chars?too&much'
    salt.utils.traverse_dict_and_list(__pillar__, key, '', None)

And have that only go a single level deep. str.split(None) just wraps the str in an array

[2015-03-25 15:23] tjstansell commented on #21971
Since the fix has been merged, I'll close this.

[2015-03-25 15:23] #21971 closed

[2015-03-25 15:23] yermulnik opened #21989 "Show all ip-addresses on interface (FreeBSD)"
Can't get additional ip-addresses on FreeBSD:

[code]

Appreciate any help!

[2015-03-25 15:28] terminalmage commented on #21989
Thanks!

[2015-03-25 15:34] mwpher commented on #21902
Holy crap, @kim0. If it's really a bug then that's a huge oversight. I'm hoping it's just a doc error and there's a different way to remove groups. I'll google a little bit, and if I don't find anything I'll send an email to the mailing list.

[2015-03-25 15:40] mgwilliams commented on #16880
I just ran into this too, and in my case it was happening because the python-crypto package was not installed on the master.

[2015-03-25 15:41] tjstansell commented on #21985
You can also add it to a `pkgrepo.managed` entry if you want it to only apply to that repo.  For instance:

[code]

[2015-03-25 16:10] iggy commented on #9569
There's also #18406 to support pillar:// uris. I did some work on this at one point. Got it mostly working in a day, but it would serve anything in the pillar:// to any minion (so it ended up being a copy of salt:// uris that looked in pillar data). So it was missing the "this minion should have access to this data" layer. I can't imagine someone versed in python and salt internals couldn't knock

[2015-03-25 16:12] basepi commented on #21922
Far from ideal. We're still working on tracking down all of these msgpack calls and gating them. We're one step closer!

[2015-03-25 16:14] basepi commented on #21871
Can you try sticking the mine_functions inside of the minion config itself? (/etc/salt/minion) Curious if it's a pillar issue or a mine issue.

[2015-03-25 16:17] iggy commented on #21871
Is specifying mine_interval like that valid? I fail to find any docs that show that format. As far as I know mine_interval is only settable via the minion config file.

[2015-03-25 16:21] zerthimon commented on #14363
Please, while at it, add this functionality to file.accumulated:

Allow specifying a contents, contents_pillar, contents_grains as sources of the accumulator.
Also allow specifying source, and a template so the contents of the source file could go through templating engine into the accumulator.
Currently I have to place the text I need in accumulator into the state file itself :(

[2015-03-25 16:22] basepi commented on #21749
The number of events will not necessarily match. The syndic sends additional events to tell the master which minions it should expect returns for, and other things like that. There may also be some duplication because of old style vs new style events. If you're not actually seeing any problems, then I would say don't worry about counting events.

[2015-03-25 16:28] deuscapturus commented on #21884
running latest windows-dev environment script and pull from develop today I still see the error mentioned for this issue.

[code]

[code]

[2015-03-25 16:28] tlemarchand opened #21992 "mount.mounted of tmpfs bind error"
I have this state :

[code]

First run of the state seems correct, but second run (and every one after) ends up with :

[code]

It seems to be because /var/run is tmpfs, and it's not taken into account in the corresponding code :

[code]
But it's not a remote file system.
I'm running 2014.7.1 on Debian Wheezy.
To test you can install nscd, but it should be reproducible with any /var/run dir.
Thank

[2015-03-25 16:38] tkent-xetus commented on #6896
:+1:

[2015-03-25 16:51] mimianddaniel commented on #21749
if i am seeing duplicates or even more events from master of master, then I would be ok with this but i am seeing less number of ret events on the master of master which is a concern. I collect all the events from the master of master instead from each inter-masters.

[2015-03-25 16:59] tlemarchand commented on #21992
If anyone have the same problem before it's resolved, it can be bypassed with something like that :

[code]
Which obviously defeats the purpose of "mount.mounted", but hey, it works =)

[2015-03-25 17:01] scaissie opened #21997 "chef.solo IndexError: list index out of range"
The /var/log/chef-solo.log file shows that chef-solo runs successfully, but salt returns this error:
[code]
[code]
[code]
[code]

[2015-03-25 17:03] whiteinge commented on #21982
Interesting. I'm not sure what in the Wheel client would cause this offhand. Thanks for the good version output. Few follow up questions:

* How often do you see it?
* Do you need to restart both salt-api and the salt-master to resolve the issue?
* Is there any series of steps you know of to reproduce the issue?

[2015-03-25 17:18] polliard commented on #21982
Found an interesting issue opened on python's site claiming this is a glibc issue.  Just an FYI.
https://bugs.python.org/issue21090

[2015-03-25 17:18] heini commented on #21180
Don't think so. sssd version is 1.11.7, which is far newer than 1.5.1.

[2015-03-25 17:41] basepi commented on #21749
Does this result in you not seeing the returns on the command line on the master of masters?

[2015-03-25 17:58] strocknar commented on #21953
I believe this was something to do with the versions of salt and docker. I installed CentOS7 and downloaded the correct docker binary and this works.

[2015-03-25 17:58] #21953 closed

[2015-03-25 17:59] tjstansell opened #21998 "yum pkgrepo.managed basedir should default to reposdir location as specified in /etc/yum.conf"
When specifying pkgrepo.managed entries, the default basedir should come from the reposdir parameter in yum.conf, if it is specified.  Currently it is hardcoded to /etc/yum.repos.d, which is fine if it is not overridden in the yum.conf, since that is yum's default.  This allows the user to change the reposdir setting in yum.conf and have salt manage repos in the proper directories.  Since the repo

[2015-03-25 18:07] loganbhardy opened #22003 "ImportError: No module named salt.scripts"
Fresh install of the salt-minion from epel won't start. Is this maybe a issue with a python dependency that has changed? This also happens when I install 2014.7.2 from epel-testing

[code]

[2015-03-25 18:10] mooperd commented on #21935
I've been messing around with salt master config a bit to get the gpg parser working. This system is perhaps now a bit old and confused.  I'll redeploy everything and see how it works out.
Ta,
Andrew
On 24 Mar 2015 20:56, jfindlay <notifications@github.com> wrote:@mooperd, I can't reproduce your error with the pillar top file you've provided.  I'm not sure what's going on here.

—Reply to this ema

[2015-03-25 18:30] rallytime commented on #21953
Thanks for the report! Glad you got it working. :)

[2015-03-25 18:31] jfindlay commented on #21927
Another example.

### command
[code]

### minion log
[code]

[2015-03-25 18:40] rallytime commented on #21977
Thanks for the report @babilen. Can you post the output of `salt-ssh --versions-report`, please?

ping @basepi

[2015-03-25 18:43] bechtoldt opened #22004 "Provide elasticsearch state module"
Next to my plan improving the elasticsearch returner (#21881) I'm going to create a state module to manage elasticsearch.

- [x] manage (index) templates (including mappings)
- [x] manage indices

[2015-03-25 18:43] rallytime commented on #21979
Thanks for the report @yrdevops. I know there have been several fixes to gitfs at the HEAD of 2014.7, but I am not sure if this was one of them or not.

@terminalmage ping

[2015-03-25 18:52] rallytime commented on #21980
Thanks for the question @NancyPaul! I think you're running into #12992 which looks like the `archive.unzip` functionality hasn't been implemented yet.

If you scroll down to the near-bottom of that issue, there is a handy work-around state that can be used in the mean time.

Since this is a duplicate and we like to track issues that were filed earlier, I am going to close this one. Thanks!

[2015-03-25 18:52] #21980 closed

[2015-03-25 18:52] terminalmage commented on #21979
This probably is not part of those fixes.

@yrdevops Can you run ``salt-run fileserver.update -l debug 2>&1 | grep gitfs_provider`` from the master and post the output? This will let me know which python frontend to git you are using.

[2015-03-25 19:00] cachedout commented on #21892
@corywright Since you say in your PR this is a fix for this issue, I'm going to go ahead and close it. Thanks!

[2015-03-25 19:00] #21892 closed

[2015-03-25 19:03] cachedout commented on #19911
Multi-master or single master?

[2015-03-25 19:04] mshade commented on #19911
We're running single master setup.

[2015-03-25 19:05] twangboy commented on #15051
Fixed by #21994

[2015-03-25 19:05] #15051 closed

[2015-03-25 19:06] corywright commented on #21892
@cachedout At what point does this get merged forward into develop?

[2015-03-25 19:06] #21796 closed

[2015-03-25 19:06] #21933 closed

[2015-03-25 19:08] lorengordon commented on #15051
Money. Thanks!

[2015-03-25 19:13] cachedout commented on #19911
We really need to see debug logs on this if we can. Were you ever able to capture those?

[2015-03-25 19:16] mshade commented on #19911
That's part of what is so frustrating - I was not. If the minion has been recently restarted, the bug doesn't seem to occur. I restarted one in debug mode, let it sit for 4 days, and was also not able to trigger it. With the same call, it did trigger on another minion that was not in debug logging mode. I'll keep trying.

[2015-03-25 19:16] cachedout commented on #19911
Sounds good. Keep us posted. This one is very odd and I would really like to see if anything unusual gets logged.

[2015-03-25 19:18] cachedout commented on #18955
What fileserver backends are in use on these?

[2015-03-25 19:19] tjstansell commented on #21952
All changes have been merged, so closing this.

[2015-03-25 19:19] #21952 closed

[2015-03-25 19:19] cachedout commented on #18729
Sorry for the delay here. @wt Are you still experiencing this issue?

[2015-03-25 19:33] srkunze commented on #14980
Next issue with for solving this: https://github.com/saltstack/salt/issues/18406

[2015-03-25 19:35] srkunze commented on #18406
I think the biggest reservation about this is the missing access restrictions as described here: https://github.com/saltstack/salt/issues/9569#issuecomment-86098957

We basically would need to have a way to selectively choose the directories allowed to be served to a particular minion.

[2015-03-25 19:36] cachedout commented on #20603
@lorengordon I see a number of commits that have been merged that reference this issue. Has it been resolved to your satisifaction or is there additional work to be done here?

[2015-03-25 19:43] lorengordon commented on #20603
@cachedout, this was fixed by https://github.com/saltstack/salt/pull/21050, and it's been merged forward. I believe the issue can be closed.

[2015-03-25 19:44] TriAnMan commented on #21929
In general this approach is closer to atomicity cause there may be a little period when the code may be inconsistent. E.g. if you make a symbolic link to the new version when there is a request in process. But if you change an approot in your web server's config then everything is OK except that you have to restart a web server. Another approach is to have a bootstrap PHP file with a constant poin

[2015-03-25 19:45] tjstansell commented on #21397
I have tested the following patch, which does seem to work on my CentOS 7 test box, but I'm unsure if this would be sufficient for all other platforms.  I wrapped it in a try/except block so theoretically it should work everywhere.  If folks think this is good, I can submit an actual PR.  Since the only thing that uses dns_check() is resolve_dns() in minion.py when the minion is trying to resolve

[2015-03-25 19:48] dmyerscough commented on #21280
@jryberg You can now create snapshots too #22008

[2015-03-25 19:57] basepi commented on #21977
Two things I'm confused about:

1. You're mixing `/` and `\` in your issue. I assume they should all be `/`?
2. `/32` is redundant, correct? It only targets a single IP address? Why even use it in that case?

[2015-03-25 19:58] whiteinge opened #22009 "pillar.show_top runner function is not filtering by minion"
[code]

[code]

The pillar top file compiled for jerry should not match stewart.

[2015-03-25 20:17] jcockhren commented on #20490
This has been merged. Closing.

[2015-03-25 20:17] #20490 closed

[2015-03-25 20:17] cachedout commented on #20603
Great! Thanks for the quick response and your excellent work on this issue, @lorengordon

[2015-03-25 20:17] #20603 closed

[2015-03-25 20:19] jfindlay commented on #21837
@RobertFach, the best I can think of at this point is that this is a transient problem caused by a stale .pyc file.  Normally python will recompile modules, .py files, into .pyc files if there is a difference between the effective content of each, but sometimes it doesn't happen.  If all .pyc files are removed, then this problem shouldn't happen at all as the potential source of error is eliminate

[2015-03-25 20:27] minddrive commented on #20874
Looks like things are pretty stable now.  Thanks for the help, folks, and in particular @rallytime . :)