[2015-04-27 23:37] jfindlay commented on #23016
@joeto0, this may be relevant, #23085.

[2015-04-27 23:48] wt commented on #22987
If I configure my salt-master to use the gitfs backend and start it in the foreground (running "salt-master" from the command line), the list_master results do not include the "../" and the saltutil.sync_grains (from a minion) works.

[2015-04-27 23:50] wt commented on #22987
Okay, if start salt-master daemonized (with the "-d" command line arg). It includes the "../" at the beginning of the master files and the sync_grains fails.

[2015-04-28 00:21] #23086 closed

[2015-04-28 00:58] nvx opened #23116 "GitFS broke from during upgrade from 2014.7.1 to 2014.7.5"
After upgrading my salt master from 2014.7.1 to 2014.7.5 I discovered a lot of states were no longer working with various errors such as:

[code]

I discovered the root cause of this problem:

[code]

Notice everything seems to be prefixed with ../ - the foobar entry is actually a separate git repo with a mountpoint set as foobar, so the ../ appears, but only after the mountpoint.

Replacing /usr/

[2015-04-28 01:07] Code-Vortex opened #23117 "using salt modules inside custom salt runner script"
How can i call salt module so i will be able to use state.show_sls inside my runner ?

to have the following : `salt-run myrunner.function my_formula`

I would like to add the following to the top of my script:

[code]

[2015-04-28 01:18] terminalmage commented on #22961
I will need more information to look into this. Please post your gitfs configuration, the SLS you are using, and the output of ``cp.list_master_dirs`` for the relevant fileserver environment.

[2015-04-28 01:53] joehealy commented on #23023
I'll aim to do debian 7 this week.

Cheers,

Joe

On Tue, Apr 28, 2015 at 9:26 AM, Nicole Thomas <notifications@github.com>
wrote:

[2015-04-28 01:53] eedgar opened #23118 "in a pillar.sls using a key of match: pillar causes a traceback"
[code]
to work around this change - match: pillar   to - match: pillars

instead of a traceback a warning message should display that the user chose an invalid key.

[2015-04-28 02:31] uvsmtid opened #23119 "States written for `pydsl` renderer never respond for `state.show_sls` to master while `salt-call` works"
### Example

The following state written for `pydsl` works perfectly.

File `/srv/salt/dummy_pydsl.sls`:

[code]
### Not expected result

However, if `state.show_sls` function is called from master
(using `salt` command), it never shows any output:

[code]

In fact, none of the states written for `pydsl` I tried returned results
to the master.
### Expected result

On the other hand, when function

[2015-04-28 02:41] westurner commented on #12179
@bechtoldt https://github.com/westurner/pyrpo (`pyrpo -s . -r sh`) and/or pypi:vcs and/or https://github.com/conda/conda/tree/master/conda (http://conda.pydata.org/docs/#requirements (pycosat) may be useful).

Conda packages have a ``meta.yaml`` file. https://github.com/conda/conda-recipes/blob/master/requests/meta.yaml

Python packages have a ``pydist.json`` (PEP 426)

[2015-04-28 02:58] #23117 closed

[2015-04-28 03:15] favadi commented on #22929
On 04/27/2015 12:30 PM, Justin Findlay wrote:

Yes, `test.ping` still returns retcode 0.

[2015-04-28 03:20] go8ose commented on #21462
I can see on https://launchpad.net/~saltstack/+archive/ubuntu/salt-testing that the pyzmq version is now 14.0.1-1build2~precise1, which is definitely higher than 13.0.0-3lucid. I've no longer got a test system that I could hook up to the salt-testing repository, but I'm happy to assume that this closes the bug, especially as @rallytime says it works.

[2015-04-28 03:21] rallytime commented on #21462
Sounds good. Thanks again, @go8ose! And of course thanks @joehealy! :)

[2015-04-28 03:21] #21462 closed

[2015-04-28 03:39] joehealy commented on #21462
I've done the copy to ppa:saltstack/salt

On Tue, Apr 28, 2015 at 1:22 PM, Nicole Thomas <notifications@github.com>
wrote:

[2015-04-28 04:17] basepi commented on #22987
We have figured out the `../` error and @terminalmage submitted a patch today. It will work its way through the branches in the next day or two. It's a super weird issue and may be a bug in `os.path.relpath`, we're not sure yet.

[2015-04-28 04:17] terminalmage commented on #22987
This appears to be related to some odd behavior of [os.path.relpath()](https://docs.python.org/2/library/os.path.html#os.path.relpath). A fix has been submitted in #23120.

We run ``os.path.relpath()`` to adjust for the [gitfs_root](http://docs.saltstack.com/en/latest/ref/configuration/master.html#gitfs-root) config parameter. The normal behavior of this function will treat the default gitfs_root

[2015-04-28 04:31] rallytime commented on #23116
@nvx Thanks for filing this report. This actually looks like a duplicate of #22987 and is likely fixed by #23120. As such, I'm going to close this one in favor of the one that was already filed. Thanks again!

[2015-04-28 04:31] #23116 closed

[2015-04-28 04:51] nvx commented on #23116
Ah yup, sounds like the same issue indeed. Glad to here there's already a fix.

[2015-04-28 05:23] #22993 closed

[2015-04-28 06:03] bebehei commented on #20404
Hi guys,

I thought I stumbled over the same "bug" today. After long time fiddling around, I found out  the `key_url` even works with https-links. Is this bug still valid?

Here is the salt-state:
[code]

Versions:
[code]
on Ubuntu 14.04.1

[2015-04-28 06:50] alexanderilyin commented on #21572
Works in this way:

[code]

with

[code]
[code]
[code]

Doesn't work with

[code]
[code]
[code]

[2015-04-28 08:16] kiorky opened #23122 "service.{enabled,disabled,dead,running} broken on ubuntu 15.04+"
(Or systemd based ubuntus (for those wich run older versions, but with the systemd packages).

To be exact, the following sls

[code]

reults to

[code]

because of falling

[code]

See #23060

[2015-04-28 08:40] alexanderilyin opened #23123 "docker.running.environment is not recognized"
Salt Command:

[code]

YAML:

[code]

Results of YAML rendering:

[code]

Docker Container Status

[code]

Docker Container Logs

[code]
## EXPECTED RESULT

Docker Run Command:

[code]

Docker Container Status

[code]

Docker Container Logs

[code]
## ENVIRONMENT
1. `salt-call 2015.2.0rc2 (Lithium)`
2. `Docker version 1.5.0, build a8a31ef/1.5.0`
3. `docker-py 1.1.0`

[2015-04-28 09:22] favadi commented on #20647
@cachedout @rallytime  the bug is existed in 2014.7 branch.Is it a good idea to backport this fix to 2014.7 branch?

[2015-04-28 09:33] alexanderilyin commented on #23123
WORKAROUND
-----------------------
It works when values copied to `docker.installed` state. Checked on `salt-call 2014.7.5 (Helium)`.
[code]

[2015-04-28 09:36] wfhg commented on #23088
`states/pkgrepo.py` uses `modules/zypper.py` when used on a Zypper-based system. I have noticed that adding repos works when done as follows:
`salt-call --local pkg.mod_repo test_repo url=http://download.opensuse.org/repositories/devel:tools:compiler/SLE_11_SP3/devel:tools:compiler.repo`

`zypper.mod_repo()` is then called with the following parameters:
[code]

`pkgrepo.managed`, on the other hand

[2015-04-28 10:19] joeto0 commented on #23016
Yeap, docs are ok now :).

So looks like if I want to use pillars I need to have another bucket and "ext_pillar:" s3.

I was able to make it run, but found something strange with "prefix:". My syndic configuration looks like:

[code]
all bucket names are lowercase I am using uppercase just to be easy to see them.
and this end up with following error:

[code]

if I create manually /var/cache/salt/m

[2015-04-28 11:38] bemeyert opened #23125 "Elasticsearch as master_job_cache throws critical"
Hi all,
Since the local job cache is just too slow(even for only 50 Minions) I wanted to use Elasticsearch as master_job_cache. But I can't get the thing working. Configuration and error message when running a `salt\* test.ping` can be found [here](https://gist.github.com/bemeyert/ab3d0567d953d154a9d4). Salt version is 2014.7.5, OS is CentOS 6, Elasticsearch-py has version 1.4.
This might be a dup

[2015-04-28 12:07] dsumsky commented on #16753
I observed the same issue on 2014.7.1. Basically, any top.sls file with ID duplicates ends with such an error, e.g.:
[code]

When I run `salt-call state.show_top` from a minion (2014.7.1) it ends with exception:
[code]

When I run `salt-call state.highstate` it ends with misleading error message:
[code]

[2015-04-28 12:15] junglhilt commented on #9893
This issue is over a year old - can anyone from salt update the community on what is holding this one up?

[2015-04-28 12:15] dsumsky commented on #16753
I can also confirm this issue with the latest  stable release 2014.7.5.

[2015-04-28 12:58] rallytime commented on #16753
Thanks for the bump here @dsumsky. I can confirm this behavior in 2014.7.5 as well. Some of the stacktraces are getting hidden a little better on 2014.7.5 than they were in 2014.7.1, but the errors aren't very helpful.

I tested at the current HEAD of 2014.7 as well as v2014.7.5. I have a local minion running on a master and I also tried salt-call commands. `state.highstate` doesn't show the stack

[2015-04-28 13:07] abhijo89 opened #23130 "Python API to run state.sls"
Can i run my state using python api ?

``` salt -N 'test_server' state.sls django``` this will install django in my test minion

Can i do something like this in python script ?
[code]

[2015-04-28 13:37] bemeyert opened #23131 "Make jobs.list_jobs show the same format for remote job-caches as for local cache"
Hi all,

It would be very useful to have the same format in `jobs.list_jobs` for all returners. Under version 2014.7.5 the output of `jobs.list_jobs` with a local job-cache looks like this:

[code]

and the output with Redis or MySQL as returner just shows the JIDs:

[code]

One can see that the output with the local cache is much more useful.

Cheers

[2015-04-28 14:00] atkinsd opened #23133 "Module and Function Naming standard"
Salt is growing.   It needs to consider a naming standard

For example
<vendor/platform>.<module>.<function>
linux.sysctl.show
win.reg.Registry   # Should all functions be lower case.
linux.rhel.license

Anything which is two levels is generic e.g.  disk.usage  and design to be compatible with all platforms

Before you grow much more come up with a standard. Rename all the modules to that standard

[2015-04-28 15:00] macaronyde commented on #16620
Looks good to me, thanks.

[2015-04-28 15:00] #16620 closed

[2015-04-28 15:05] rallytime commented on #23088
Thanks for this report and for finding the work around. I think what the best solution here here is probably a simple check in `zypper.mod_repo` to change `baseurl` to `url` if `baseurl` is passed in from `pkgrepo.managed`. That way there isn't a strange documentation caveat for zypper in the pkgrepo docs, but we're also maintaining compatibility with the way the module call is used.

[2015-04-28 15:07] rallytime commented on #23091
Sounds good!

[2015-04-28 15:14] rallytime commented on #23104
Thanks for this report @null0000.

ping @techhat and @erjohnso

[2015-04-28 15:14] rallytime commented on #23104
Oh, also @null0000 can you please provide the output of `salt-cloud --versions-report`?

[2015-04-28 15:17] Reiner030 opened #23134 "salt state run "crash" when apt-config is buggy"
Hello,

a wrong setting in apt (here: missing semicolon):

[code]

creates on command line following error:

[code]

and in salt runs a very buggy behavior:

[code]

[2015-04-28 15:18] Reiner030 commented on #23134
Hint for temp fix:
Removing (or changing) the config "manually":
[code]

[2015-04-28 15:29] rallytime commented on #23110
Thanks for this very thorough bug report and that is too bad that the previous fix didn't work! I thought we had all of the file-locking problems cleaned up. Maybe something else is happening here.

ping @terminalmage

[2015-04-28 15:55] terminalmage commented on #23110
We didn't have any file locking issues, you may be remembering the repo locking issues from 2014.7.2 which have since been fixed.

This is not a problem of a lock file being cleaned. Note that the line in the traceback is occurring when we're trying to open the file for writing, not reading.

This is a problem of the destination directory for the lock file not existing. The weird thing is that we

[2015-04-28 16:04] rallytime commented on #23119
Thanks for the report @uvsmtid.

[2015-04-28 16:10] rallytime commented on #23118
@eedgar Can you give us a little more context on what you did to cause this error? That will make it easier to reproduce and get this fixed up.

Please post the output of `salt --versions-report` as well as the command you're running and an example sls file that is causing this stacktrace. Thanks!

[2015-04-28 16:12] rallytime commented on #23122
Thanks for this report @kiorky.

FYI @joehealy and @s0undt3ch

[2015-04-28 16:35] dmurphy18 commented on #17090
@StartledPhoenix @Silvenga  Could both of you send the complete output of running 'dmidecode' with no options, on your platforms, as it would assist in resolving this  issue.

Thanks

[2015-04-28 17:05] masterkorp commented on #22851
ping

[2015-04-28 17:24] iggy opened #23139 "'unless' is an invalid keyword argument for 'file.replace'"
"unless" is supposed to be a global requisite as far as I know.

[code]
[code]
[code]

[2015-04-28 17:29] iggy commented on #23139
Scratch that. Noticed after I hit submit that this environment was running rc1-ish. Upgraded and is all good now.

[2015-04-28 17:29] #23139 closed

[2015-04-28 17:45] whiteinge commented on #23139
Glad you got it working. I did not realize that `unless` could accept a list of commands now. Cool stuff.

[2015-04-28 18:00] #22779 closed

[2015-04-28 18:00] #22981 closed

[2015-04-28 18:00] #23021 closed

[2015-04-28 18:08] cachedout commented on #23093
The thing to do here might be to add a throttle option to the logging hander. We should be able to accomplish this with a fairly basic log filter attached to the log handlers.

cc: @s0undt3ch

[2015-04-28 18:14] cachedout commented on #22997
Logging in this case is working as designed, but it's a little non-intuitive. What I think you're expecting is that "errors" encountered during (and related to) a state run will be surpressed, but that's all being handled by the outputter system -- not the logging system. The logging system instead reports on actions taken by the daemon. (It's a little hard to explain without an example.) Take a l

[2015-04-28 18:22] fyatzeck opened #23141 "Adding SSH key to a SoftLayer device during provisioning using salt-cloud"
Hello,
I've been using salt-cloud with SoftLayer and find most features are supported.  However, one very important item we need is to add SSH keys to a device, which can be done during provisioning from the SoftLayer portal.  Unfortunately, I do not see any setting in cloud configuration file or mentioned on readthedocs to specify how to add SSH key.
Without ability to add SSH keys to devices at

[2015-04-28 18:34] alertedsnake commented on #22997
You may be right technically, but from the perspective of an end user on a minion, it doesn't make any sense to have an argument designed to suppress output fail to do so, and one designed to output to a logfile also fail to do so.  Especially that the option which clearly states "Console logging level" does not have the obvious effect of suppressing "console logging level."

How would you suggest

[2015-04-28 18:41] jfindlay commented on #23103
@lichtamberg, is there anything relevant in the master or salt-ssh debug logs?  You can find the master log at `/var/log/salt/master` and salt-ssh logs when you append `-l debug`.  Thanks.

[2015-04-28 18:57] jfindlay commented on #23125
@bemeyert, thanks for the report.  This is not a duplicate of #20826.  It seems that something wrong is happening with the loader.  Would you mind copying your gist contents into a comment here?

[2015-04-28 19:02] jfindlay commented on #23134
Unless there is an apt config file (and also sources file?) validator we could try testing proposed changes to the file by creating a temporary config with the changes, whether this must involve writing down a file or not, and return any errors apt finds back to the user.

[2015-04-28 19:08] rallytime commented on #23141
Thanks for this question @fyatzeck. Have you seen the `file_map` option? I think that will do what you're looking for here.

http://docs.saltstack.com/en/latest/topics/cloud/misc.html#file-map-upload

[2015-04-28 19:14] jfindlay commented on #20647
@favadi, yes, we should backport it, thanks.

[2015-04-28 19:38] steverweber commented on #22997
https://github.com/saltstack/salt/issues/22360

[2015-04-28 19:57] whiteinge commented on #22905
@rvstaveren are the changes in #23066 sufficient to close this out?

[2015-04-28 20:00] martinhoefling commented on #23110
Interesting, one piece of information is that our salt-master runs as a docker container. Thus, it writes to an aufs filesystem. We could mount a volume as `/var/cache/salt` to check if this is an aufs / docker bug.

[2015-04-28 20:04] terminalmage commented on #23110
@martinhoefling Sure, by all means test that.

[2015-04-28 20:09] somecallmemike opened #23147 "Cassandra cql returner and master_job_cache"
I am trying to use the Cassandra CQL returner with the master_job_cache and getting the following error:
[code]
My master config has the following:
[code]
When I comment out the master_job_cache everything returns to normal.  I have the Cassandra driver from Datastax properly configured and tested as well.

[2015-04-28 20:14] rallytime commented on #23147
Thanks for this report, @somecallmemike. Can you also post the output of `salt --versions-report`?

@ckochenower Do you mind taking a look here?

[2015-04-28 20:19] rallytime commented on #23046
@ckochenower Does the pull request above resolve this issue for you? Should this be closed?

[2015-04-28 20:24] somecallmemike commented on #23147
You bet, here it is:

           Salt: 2014.7.5
         Python: 2.6.6 (r266:84292, Jan 22 2014, 09:42:36)
         Jinja2: 2.2.1
       M2Crypto: 0.20.2
 msgpack-python: 0.4.4
   msgpack-pure: Not Installed
       pycrypto: 2.0.1
        libnacl: Not Installed
         PyYAML: 3.10
          ioflo: Not Installed
          PyZMQ: 14.3.1
           RAET: Not Installed
            ZMQ: 3.2.4

[2015-04-28 20:24] rallytime commented on #22814
@ckochenower Does the pull request above address this issue? Can this be closed or does more work need to be done here?

[2015-04-28 20:26] rallytime commented on #23147
Oh! The cassandra cql returner is new in 2015.2. So this functionality won't be available until we release 2015.2.0, unfortunately. So that's likely the problem here.

[2015-04-28 20:27] somecallmemike commented on #23147
Ahhh, I didn't see that in the doc:

    Return data to a cassandra server

    New in version 2015.2.0.

Thanks.

[2015-04-28 20:28] rallytime commented on #23147
No problem! I'm going to close this one up. Thanks!

[2015-04-28 20:28] #23147 closed

[2015-04-28 20:30] rallytime commented on #22032
Since we haven't heard back yet for a while here, I am going to close this issue. If problems come up again here, please leave a comment and we'll re-open.

[2015-04-28 20:30] #22032 closed

[2015-04-28 20:33] cameronlsumpter commented on #21837
Had a similar issue here and was able to resolve it by restarting the master service, and then the minion service on each server.

[2015-04-28 20:45] lichtamberg commented on #23103
I tried now the git version (branch 2015.2), and I'm getting now this error, but I'm not sure if this is because i don't have all dependencies installed correctly:

[code]

[2015-04-28 20:45] rallytime commented on #20620
Did you get this worked out @madhurranjan? Can this issue be closed?

[2015-04-28 20:46] cr1st1p opened #23148 "virt - error handling bogus if machine image location is wrong"
modules/virt.py and then runners/virt.py have the issue that if you give an invalid image location, they do not fail/complain as they should.

Assume you run a command like below, where it is [hopefully] clear that the image location is wrong:
[code]
Of course, no vm is created.
Salt version (master and minion): 2014.7.5; on openSuse.

Issue seems to come from modules/virt.py not saying anything a

[2015-04-28 20:48] jfindlay commented on #23103
That comment looks like the final statement in a python stack trace which shouldn't happen, obviously, but if it did should at least appear in the log if it doesn't already.

[2015-04-28 20:49] rallytime commented on #19949
I am not able to reproduce this error, so I'll close this. If it pops up again for anyone, please leave a comment and we will be glad to re-open. Thanks!

[2015-04-28 20:49] #19949 closed

[2015-04-28 20:49] rallytime commented on #19994
@msciciel Can you give the fix about a try and let us know if this is resolved for you?

[2015-04-28 20:52] rallytime commented on #20850
Thanks for the update @br0ch0n.

[2015-04-28 20:52] #20850 closed

[2015-04-28 20:53] rallytime commented on #21094
@rickh563 This should be fixed by the pull request above, and will be available in 2015.2.0. If this remains a problem, feel free to re-open this issue and we can re-address the bug.

[2015-04-28 20:53] #21094 closed

[2015-04-28 20:54] rallytime commented on #21117
Closing since we didn't hear back. If this pops up again, leave a message and we'll re-open.

[2015-04-28 20:54] #21117 closed

[2015-04-28 20:54] lichtamberg commented on #23103
Ok, i found now this line in the debug messages (but I'm still looking for the source of this exception):

[code]

[2015-04-28 20:58] #19087 closed

[2015-04-28 20:58] rallytime commented on #21149
I am reasonably certain this is fixed, and since we haven't heard back on this for a while, I'm going to close it. If this remains a problem for anyone, please leave a comment and we will gladly open this issue again. Thanks!

[2015-04-28 20:58] #21149 closed

[2015-04-28 21:00] jfindlay commented on #23103
That looks like a missing dependency.  What is the output of `salt --versions-report`?

[2015-04-28 21:01] cachedout commented on #18512
No response from above comment and we have a fix in for the condition we did find. I'm going to go ahead and close this. If it's not fully resolved, please leave a comment and we'll happily re-examine this issue. Thanks!

[2015-04-28 21:01] #18512 closed

[2015-04-28 21:03] rallytime commented on #21491
This fix made it in to the latest stable release, 2014.7.5, and looks to be fixed. Can anyone confirm this? Can this be closed?

[2015-04-28 21:04] lichtamberg commented on #23103
Damn, i took the wrong branch (2015.2 instead of 2015.2.rc2)... Now I get the same error like on the beginning:

[code]

[code]

[2015-04-28 21:04] #21507 closed

[2015-04-28 21:04] #21580 closed

[2015-04-28 21:04] xenophonf commented on #9893
@junglhilt, it looks like there's a bug in how the ec2 driver calls the IAM code that retrieves the instance credentials, because the IAM interface works fine when the s3 client code calls it (if I remember my own troubleshooting correctly).  I haven't had a chance to do much more than read through the relevant functions, so I could be wrong.  Next step would be to inspect the s3fs code in a debug

[2015-04-28 21:05] rallytime commented on #21783
@claudiupopescu Can you verify if this has been fixed in 2014.7.4 or 2014.7.5?

[2015-04-28 21:07] rallytime commented on #22003
It looks like this original issue has been resolved, so I am going to close this issue out. If anyone bumps into this bug again, please leave a comment and we will be happy to open this again and readdress the problem. Thanks everyone!

[2015-04-28 21:07] #22003 closed

[2015-04-28 21:09] #22440 closed

[2015-04-28 21:21] ross-p commented on #21491
This has been fixed since at least 2014.7.2 or .3, I think it's safe to close.

[2015-04-28 21:22] rallytime commented on #21491
Awesome! Thanks!

[2015-04-28 21:22] #21491 closed

[2015-04-28 21:28] lichtamberg commented on #23103
It seems that here is somewhere the problem.. I try now to execute the command on the server directly:

[code]

[2015-04-28 21:31] lichtamberg commented on #23103
And it seems that here is already something wrong with salt itself on the client:

[code]

[2015-04-28 21:32] jfindlay commented on #23103
What is the OS version of the client?

[2015-04-28 21:33] lichtamberg commented on #23103
``
# ùname -a
uname -a
Linux devexternal 3.8.0-29-generic #42~precise1-Ubuntu SMP Wed Aug 14 16:19:23 UTC 2013 x86_64 x86_64 x86_64 GNU/Linux

12.04.5 LTS (GNU/Linux 3.8.0-29-generic x86_64)
``

[2015-04-28 21:36] jfindlay commented on #23103
@lichtamberg, thanks for working on this.

[2015-04-28 21:36] lichtamberg commented on #23103
No problem, thanks for the great framework! :)

[2015-04-28 21:57] cr1st1p opened #23153 "cmdmod : run_chroot - broken in 2014.7.5 - missing kwargs"
Version checked: 2014.7 (git branch) and 2014.7.5. On openSuse.

Try running something like:
[code]
Err... the error might be displayed due to my fix for #23148.

What seems very strange:
- how could this pass the testing. Anything using lxc and virt, with seeding, would have failed instantaneous. Just check prototype of the function and the way it is called
- check in 'develop' branch the comment

[2015-04-28 22:05] cachedout commented on #21480
I can reproduce this by establishing a ZMQ channel to the master and then bringing down the master and then bringing it back up. After doing so, all calls to the channel's send method will return an empty string, since the channel no longer has the right AES key. This is fixed in #23154

[2015-04-28 22:08] cachedout commented on #21799
This is a duplicate of #21480 which I have just fixed in #23154

[2015-04-28 22:10] cr1st1p commented on #23148
Without the code changes, if called inside a salt state you get the state errored like:
          ID: vm_ubuntu_install
    Function: module.run
        Name: virt.init
      Result: False
     Comment: Module function virt.init executed
     Started: 00:10:05.859917
    Duration: 1021.045 ms
     Changes:

With code changes applied you get:
# salt-run virt.init ubuntu_vivid2 1 512 salt://vivid-se

[2015-04-28 22:10] jhenry82 commented on #23110
I'm (still) trying to upgrade our 2014.1.7 install to the 2014.7 series, and am getting consistent highstate failures that look like this. I manually patched 2014.7.5 with the fix from issue #22987, which was preventing GitFS from working at all. Now our custom grains and modules are syncing properly, but I still get random tracebacks that look very much like what @martinhoefling posted. The file

[2015-04-28 22:17] basepi commented on #23006
We're currently trying to ascertain just how much beer we will have to ship to @terminalmage to get him to rewrite git_pillar. The situation is definitely untenable, we'll investigate this.

[2015-04-28 22:25] basepi commented on #23022
I think this is expected behavior, based on the way that listen/watch and `cmd.wait` are implemented.

Basically, listen/watch are supposed to trigger additional behavior when there are changes made in the target state. `cmd.wait` was designed to use this to approximate "only do this when changes are made" behavior. (These days, `onchanges` is the way to go) It does this by having the base `cmd.wa

[2015-04-28 22:28] basepi commented on #23022
We also will have to have a discussion on whether this *should* be fixed. Other states which have real default behavior (as opposed to a no-op), and additional behavior in their mod_watch will complicate this, because then you don't know which function run you want to target with your listen/watch.

[2015-04-28 22:29] basepi commented on #23101
We definitely should document these. Some are mostly for our internal tracking, but we should make sure that the community knows how to find the best thing to work on. Thanks!

@SaltDBray ping

[2015-04-28 22:31] basepi commented on #23101
Also @ssgward ping

[2015-04-28 22:36] ryan-lane commented on #14899
So, this workaround isn't wonderful. One issue is that normal includes allow you to define the include in multiple locations and it'll deduplicate the include. If you use a jinja include, it pulls all the states into the current scope, which means you'll get duplicates if you use the jinja include in more than one spot.

It would be really nice to properly support this. It's a bit painful doing se

[2015-04-28 22:43] jfindlay commented on #23148
@cr1st1p, thanks for reporting and fixing.

[2015-04-28 22:52] jodv opened #23157 "splay module allows module blacklist to be circumvented"
When I contributed the splay module in https://github.com/saltstack/salt/pull/22835 I did not consider that it would potentially allow a user to run a command from a blacklisted module, since 'splay.splay' is what ends up being checked against the ACL rather than the function passed as an argument.

My reasoning behind implementing splay as module was basically (1) simplicity of implementation and

[2015-04-28 23:06] mimianddaniel opened #23158 "client_acl and syndic"
While client_acl works from master where minions actually connected to, client_acl doesn't work from master of master .

ie : `salt '*' test.ping` works from master that has direct connections from the minions

`salt '*' test.ping` from master of master shows timeout from the directed minions only, ie syndics of masters.

Sound very familiar to the issue i am having while using batch mode
https://

[2015-04-28 23:24] rallytime commented on #21799
If this is a duplicate, then I am inclined to close this in favor of the other one that was filed before this one. What do you think @syphernl? Also, would you like to give the pull request mentioned above a try?

[2015-04-28 23:29] basepi commented on #23102
I think your strategy for fixing this should work, once the necessary changes are made (see my comments on the PR). Thanks for filing this!

[2015-04-28 23:36] aneeshusa opened #23159 "Unused validator"
I was looking into some ssh-related things and I found the salt/utils/validate/ssh.py module. It was added back in 2013 and doesn't seem to have ever, or now, be used or updated. If it's truly unused, I think it may be prudent to remove it - it hasn't been updated to keep up with new SSH options, and it's liable to stay stale.

[2015-04-28 23:38] basepi commented on #23130
Yep, you can, though your syntax is not quite there: http://docs.saltstack.com/en/latest/ref/clients/

[code]

The above will imitate this CLI command exactly:

[code]

[2015-04-28 23:38] #23130 closed

[2015-04-28 23:39] basepi commented on #23130
Please comment if you run into any additional problems. Since I'm pretty sure I've solved this for you, I'll close this for now.

[2015-04-28 23:42] basepi commented on #23133
We're well aware that the list is beginning to get unwieldy. However, the loader expects a flat directory structure, and so will have to be refactored. Eventually we'll have to settle on some sort of namespacing, or stop packaging *all* modules with salt by default. However, there's no hurry in making these decisions yet. =)

[2015-04-28 23:43] basepi commented on #23131
Agreed. There are a number of places that are not as standardized as they should be with regards to returners. Thanks for filing this!

[2015-04-29 01:02] clinta commented on #23022
I prefer to use `onchanges` whenever I can. But as far as I'm aware `onchanges` does not move the state execution to the end like listen does.  A new requisite like `listen_onchanges` would meet my use cases, and it would work for states that don't support `wait`.

[2015-04-29 05:01] rmcleay opened #23162 "Available in version is incorrect for states.boto_vpc"
While attempting to use salt.states.boto_vpc, I found that although the [online documentation](http://docs.saltstack.com/en/latest/ref/states/all/salt.states.boto_vpc.html) states that states.boto_vpc is available post 2014.7.1, it is not yet available in 2015.2, and appears to not be merged into either the branches 2014.7 or 2015.2.

File in question is: https://github.com/saltstack/salt/blob/dev

[2015-04-29 06:19] msciciel commented on #19994
After applying patch I can not see any traffic to git server during state.highstate.

[2015-04-29 06:36] favadi commented on #10255
I confirm this bug is still present in salt `2014.7.5`.

[code]

This is the script can reproduce this bug every time.

[code]

Content of `debug.sls` state file:

[code]

The script exit after `246 times`.

[code]

[2015-04-29 08:22] RobertFach opened #23165 "boto_elb.present fails with AttributeError: 'LbAttributes' object has no attribute 'access_log'"
Hi,
when configuring a state which should configure a elb instance the boto module reports that it couldn't find access_log attributes. I already tried defining the access_log attribute as part of the attributes section, so far no luck.

salt-version: 2014.7

boto:
  Installed: 2.20.1-2ubuntu2
  Candidate: 2.20.1-2ubuntu2
  Version table:
 **\* 2.20.1-2ubuntu2 0

[2015-04-29 08:27] bemeyert commented on #12754
Any news on this? AFAIK only the "latest" aka "devel" docs are per default accessible under http://docs.saltstack.com/en/latest/. Since if you go to docs.saltstack.com you will be automatically redirected to the "devel" documentation. Since caused me already a lot of trouble and headaches. Not every new feature(meaning it's in devel not in stable) is marked as such. All in all I can't rely on usin

[2015-04-29 10:45] hashtonmartyn commented on #13048
I'm seeing something similar to @myg0v with version salt-master 2014.7.5 (Helium) but for me the environ.setenv function doesn't seem to do anything at all. I can't find the key/value it's setting anywhere in the registry.

Command and associated output:
hashtonmartyn@shitserver:~$ sudo salt '*' state.highstate -l all
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Using cached m

[2015-04-29 11:05] bemeyert commented on #23125
@jfindlay  Here we go

My master configuration:

[code]
The part from the logfile when I run a `salt \* test.ping` with DEBUG enabled:
[code]

[2015-04-29 11:24] claudiupopescu opened #23166 ""Error in function _minion_event" resulting in modules not loaded"
**Version:**
[code]

**Error:**
[code]

The architecture is master -> syndic (with minion connected at master) -> servers (minions connected at syndic).
Any idea how to debug this one? From my tests so far all boto modules fail to load.

[2015-04-29 11:47] roflmao opened #23167 "high salt-minion memory usage on debian jessie?"
After upgrading to debian jessie and 2014.7.5 i have alot of memory usage on my minion:

[code]

Does this look normal?

[2015-04-29 12:02] julienlavergne commented on #23162
I confirm this state.

boto_vpc.absent is really absent from saltstack.

Any idea?

What is the release process for the documentation?

[2015-04-29 14:03] junglhilt commented on #9893
@xenophonf thanks for the explanation. Thanks for making saltstack!

[2015-04-29 14:52] zerthimon commented on #23051
Fixed in my setup by removing:
[code]

From the calling state:
[code]

Perhaps requiring a state and then using watch_in on one of it's components is a wrong thing to do ?
Weird, that it worked in the previous version.

@rallytime Feel free to close this issue.

[2015-04-29 15:18] whiteinge commented on #12754
Still on the roadmap. We've made some progress on this as of the week after SaltConf. Just need to find a little time to get it over the finish line.

Looping in @jacobhammons.

[2015-04-29 15:25] bemeyert commented on #12754
@whiteinge Thanks for the response. If I could I would send you some time ;)

[2015-04-29 15:52] ckochenower commented on #23046
@rallytime - I will try @s0undt3ch's patch this morning and let give you feedback.

[2015-04-29 16:36] basepi commented on #22956
Ah, great, yes, a minion on the master is still a minion. =) I will mark this as a high severity documentation fix so we can highlight it.

[2015-04-29 16:38] mimianddaniel commented on #23158
by the way this is running the salt command as a normal user and having done chmod on all the necessary directories/files and giving .* to this user in question and like i said it works fine on a intermediary master that has the minions directly connected.

[2015-04-29 16:53] basepi commented on #22842
Yeah, it would be nice if we could make this work easily. I guess it was just not meant to be. I'm going to close this for now, but it will be here for future reference and discussion.

[2015-04-29 16:53] #22842 closed

[2015-04-29 16:58] basepi commented on #18045
I'm still not sure of the source of this bug. However, it appears that YAML itself isn't caught by this:

[code]

So perhaps it is indeed something we're doing. I'll have to find some time to do a dive.

[2015-04-29 17:04] danielgblanco opened #23172 "GCE: cloud.profile fails when called via rest_cherrypy and master running as a service"
The provisioning of a machine on GCE fails when the call is executed via rest_cherrypy and the master is running as service on Debian 7 Wheezy. This works as expected when using ```salt-run cloud.profile```. The call/return  is the following:

[code]

The machine is provisioned on GCE and the minion is created in the master, but Salt is not installed in it. We can call ```cloud.destroy```, even th

[2015-04-29 17:27] basepi commented on #23022
Good call. I'll mark this as a feature.

[2015-04-29 17:29] basepi commented on #23022
BTW, an `order: last` may help as a workaround for now.

[2015-04-29 17:30] whiteinge commented on #23172
Thanks for all that detail. I will reproduce and dive in and will keep this issue updated.

[2015-04-29 17:32] ckochenower commented on #23046
@rallytime - Tested to work with `python3 setup.py install --force`.

[2015-04-29 17:33] ckochenower commented on #23046
@rallytime - Also tested to work with `pip3 install -e .`

This issue can be closed.

[2015-04-29 17:34] #23046 closed

[2015-04-29 17:59] jfindlay commented on #23123
@alexanderilyin, thanks for the report.  The docker module has had a major rewrite in [this pull request](https://github.com/saltstack/salt/pull/22548).  I am not familiar with the changes, but I understand that it will be significantly better.

[2015-04-29 18:17] dgn commented on #9893
This is in fact working (if you use the development version of salt), we're now using it. It makes (logged) calls to the virtual metadata service (169.254.169.254) and then connects to EC2 just fine.

[2015-04-29 18:21] gravyboat commented on #12754
Looking forward to this one being completed! Thanks for the update @whiteinge.

[2015-04-29 18:29] jfindlay commented on #23153
@cr1st1p, thanks for the report.  The problem seems to be that cmd.run_chroot didn't have the `python_shell` argument.

[2015-04-29 18:30] wt commented on #23006
This one does not seem to be occurring now that I have patched our master for the gitfs/custom grains problem. Our pillars do have some deps on grains, so this was probably never directly

[2015-04-29 18:30] #23006 closed

[2015-04-29 18:34] ckochenower commented on #22814
@rallytime - Testing this now. I will close this issue if the patch proves to work.

[2015-04-29 18:35] jfindlay commented on #23157
@jodv, thanks for working on this.

@thatch45, @cachedout, @garethgreenaway

[2015-04-29 18:42] jfindlay commented on #23159
@aneeshusa, thanks for the report.

@techhat

[2015-04-29 18:47] jfindlay commented on #23162
@rmcleay, @julienlavergne, thanks for reporting.

[2015-04-29 18:48] jfindlay commented on #23162
@julienlavergne, the documentation is contained in the same repository as the source code and is regenerated automatically.

[2015-04-29 18:53] junster1 opened #23179 "2014.7.5 for Lucid packages?"
Any chance we can get Lucid versions built for 2014.7.5?

@joehealy

[2015-04-29 19:16] jfindlay commented on #23165
@RobertFach, thanks for the report.  Is it possible for you to post the relevant debug logs, the state you're running, the command line output, and the full output of `salt --versions-report`?  Thanks.

[2015-04-29 19:23] jfindlay commented on #23166
@claudiupopescu, thanks for the report.  This was the result of a typo in masterapi.py.

[2015-04-29 19:24] julienlavergne commented on #23162
According to me

Documentation must be iso with last stable release not development release.

Julien

[2015-04-29 19:27] jfindlay commented on #23179
Lucid will reach end of life in a few days, so we've decided to similarly drop support.

[2015-04-29 19:33] freshnewpage commented on #16139
This may be a locale issue.
Salt sets the locale to LC_ALL=C but a minion directly locale had LC_ALL="en_US.UTF-8".
A cmd.run that previously failed with a "UnicodeDecodeError: 'ascii' codec can't decode byte" error succeeded after explicitly setting the locale as an env variable.

             - env:
                - LANG: 'en_US.UTF-8'
                - LC_ALL: 'en_US.UTF-8'

[2015-04-29 19:42] basepi commented on #23158
Can you show us your client_acl config?

[2015-04-29 19:43] basepi commented on #23158
Also if you could show us the output from the master of masters, not sure exactly what you mean by "shows timeout from the directed minions only"

[2015-04-29 20:17] steverweber opened #23183 "2015.2: cloud deploys fail when using just the pillar for config"
im running my cloud profile from a pillar... the missing cloud config file is causing:

[code]

The logic here seems to be the issue...
yaml.safe_load(mcc) is likely returning None...
[code]

[2015-04-29 20:30] mimianddaniel commented on #23158
The config is really simple..

client_acl:
   cjung:
      - .*

running the following command from MoM shows that only MoM returning and no other minions
salt -t 5 '*' test.ping

running the same command from the intermediary master returns "all" the minions that are directly connected  and not VIA syndic.

Is it more clearer?  CKminions function not returning properly??

[2015-04-29 21:20] ssgward commented on #22905
This looks like it is fixed. @rvstaveren we'll close this if you see that it is not fixed to your expectations, please let us know and we'll reopen it with the updated info.

[2015-04-29 21:20] #22905 closed

[2015-04-29 21:27] mschiff opened #23186 "salt 2014.7.5: "TypeError: string indices must be integers, not str" in file.managed"
A state like the following with file.managed won't work and throws an exception:

[code]

Exception:
[code]

It seems that salt is very picky about the filename you choose as the `source:` value.

If I rename the source file to `package.use.conf` for example and use that in the source statement, everything works fine.

Salt should accept any valid filename as source filename.

[2015-04-29 21:30] basepi commented on #19114
So now that I'm actually looking into this, it's probably not an issue with the functionwrapper at all. (I was only looking at the states example) Rather, I think it's probably an issue with the config directory. I noticed that in your pillar.get example it was trying to look in /etc/salt/gpgkeys.

Anyway, still investigating.

[2015-04-29 21:38] basepi commented on #19114
(You made this clear, by the way, I just didn't read closely enough and fixated on that stacktrace at the end. =P)

[2015-04-29 21:54] #23013 closed

[2015-04-29 21:54] ckochenower commented on #22814
@rallytime - I have been having difficulty reproducing the environment in which I can test this. I'm making progress. I believe the pull request was for the develop branch. I was worried I was holding up 2015.2.

[2015-04-29 22:12] joehealy commented on #23179
I will be aiming to get a final release up today though.

Cheers,

Joe

On Thu, Apr 30, 2015 at 5:27 AM, Justin Findlay <notifications@github.com>
wrote:

[2015-04-29 22:22] Reiner030 commented on #23134
Mmh, thats not the no the concrete problem here.

=> independent of the state definition:
If there is a buggy apt config in system then the salt run crashes.

[2015-04-29 22:32] whiteinge commented on #23053
I am unsure of how to reproduce this reliably. Moving to Beryllium for now.

[2015-04-29 22:59] Reiner030 opened #23191 "mount.mounted buggy with UUID (+ also available "sd" device name) mounted partition"
[code]

(it's a VMware VSphere 6.0 guest)

idea of my state definition is to auto-add "noatime" and other optimizations for root / other partitions for production servers with high file i/o:

=> state definition:

[code]

Problem: salt identifies UUID _and_ the sda device and tries to unmount it for changing:

[code]

(EDIT: fixed if condition / filter duplicate option parameters)

[2015-04-29 23:00] joejulian opened #23192 "supervisord mod_watch does not accept sfun"
supervisord's mod_watch does not accept sfun resulting in a warning, `'sfun' and '__reqs__' are invalid keyword arguments for supervisord.mod_watch. If you were trying to pass additional data to be used in a template context, please populate 'context' with 'key: value' pairs. Your approach will work until Salt Lithium is out. Please update your state files.`

[2015-04-29 23:18] junglhilt commented on #9893
Thanks @dgn - is there a recommended way to run the development version? I have seen http://docs.saltstack.com/en/latest/topics/development/hacking.html however that is tailored to developing saltstack rather than running it.

Does the v2015.2.0rc2 release candidate include these changes?

[2015-04-29 23:32] null0000 commented on #23104
Here you go:

Salt Version:
            Salt: 2015.2.0rc2-5001-ged6eadc

Dependency Versions:
 Apache Libcloud: 0.17.1-dev
          Jinja2: 2.6
        M2Crypto: 0.21.1
            Mako: Not Installed
          PyYAML: 3.10
           PyZMQ: 13.1.0
          Python: 2.7.3 (default, Mar 13 2014, 11:03:55)
            RAET: Not Installed
             ZMQ: 3.2.3
           ioflo: Not Installed

[2015-04-29 23:47] Reiner030 commented on #23191
on another server with /data:
[code]

worked... except that
1) the options were not made unique in fstab

[code]

2) it seems that my detection needs improvement because the call show also option "nobarrier" (and not barrier=0 as in mount output) or it's same bug as in NFS mount issue every state run (with root mount I haven't this problem after manually adding noatime to ext3 mount option):

[cod

[2015-04-29 23:54] mimianddaniel opened #23194 "group or regex for username in client_acl feature"
Understand group is avail in eauth .. but for sites that have already use sudo, there is no need for eauth for local salt calls. salt-api might be a different story.

Instead of listing out all the users in client_acl, it would be good to have  regex username or group setting  so clinet_acl isnt hundreds of lines.

[2015-04-30 00:26] joehealy commented on #23179
Package has gone up to the main salt repository.

Should be available in a few minutes.

Cheers,

Joe

On Thu, Apr 30, 2015 at 8:12 AM, Joe Healy <joehealy@gmail.com> wrote:

[2015-04-30 01:19] righdforsa opened #23195 "Current Ubuntu Lucid package (2014.7.5+ds-1lucid2) broken, missing file"
Looks like there's a file missing in the current package version. After an update, I get the following error running salt-call.
[code]

[2015-04-30 02:32] cedwards opened #23196 "[freebsd] error: [Errno 55] No buffer space available"
I am trying to test the 2015.2.0 release (based on the current github tag for that version). I have met the packaging requirements, but when I try to activate the RAET transport I get the following error:

{minion,master}.d/transport.conf:
[code]

[code]

[2015-04-30 02:55] ckochenower commented on #22814
Works like a charm. Thanks @DmitryKuzmenko!

[2015-04-30 02:55] #22814 closed

[2015-04-30 06:08] jfindlay commented on #23162
There are many things that need to be improved with the state of salt documentation and we're currently in the process of working on that.  I'm not sure when the new docs will be available as I am not directly involved in that process but it should be within the next several weeks.

[2015-04-30 06:30] syphernl opened #23198 "State group.present returns changed without changes"
If a state contains a definition like:

[code]

it always shows up as changed, even though the user was already a member of the group:

[code]

Versions

[code]

[2015-04-30 08:07] neilferreira opened #23200 "Ubuntu 12.04 - ImportError: No module named mako.exceptions"
Hi all

I am running salt-minion 2014.7.5 (Helium) on a Ubuntu 12.04 server at the moment.  When running highstate I see lots of the following:

[code]

When trying to install mako,  it will remove salt-common and salt-minion

[code]

How can I get around this ?

[2015-04-30 08:13] lisa2lisa opened #23201 "unable to revoke *.* grants when use salt.modules.mysql"
salt --versions-report
[code]

salt-minion --version
[code]

when you trying to revoke a \*.\* grants from mysql, for example:
[code]

salt master will through exceptions:
[code]
the configuration for salt-minion to use mysql module is following (mysql user with superuser privilege):
[code]

With python mysql connector installed:
[code]
Tested OS:
Debian:
[code]
Freebsd:
[code]

[2015-04-30 08:15] neilferreira commented on #23200
For the time being I've installed python-mako using pip.

[2015-04-30 08:28] neilferreira commented on #23200
Scrap that

When I ran state.highstate salt un installed itself!

[code]

[2015-04-30 08:28] neilferreira commented on #23200
Further to that

[code]

[2015-04-30 08:49] lichtamberg commented on #23103
Strange.. I tried it now via salt-master mode in a vagrant machine (also ubuntu 12.4.5)...
It works only with http, and with https i get the following error:

[code]

[2015-04-30 10:01] msciciel commented on #18358
New implementation is very slow if i want to execute something on 1500 minion then i need to wait a lot. Previous implementation was starting jobs almost instantly.

[2015-04-30 10:22] alexandrsushko opened #23210 "grain 'virtual' shows 'physical' in lxc-libvirt container"
salt-call grains.get virtual
[WARNING ] Although 'dmidecode' was found in path, the current user cannot execute it. Grains output might not be accurate.
local:
    physical

salt-minion --versions-report
           Salt: 2014.7.5
         Python: 2.7.5 (default, Jun 17 2014, 18:11:42)
         Jinja2: 2.7.2
       M2Crypto: 0.21.1
 msgpack-python: 0.4.2
   msgpack-pure: Not Installed
       pycryp

[2015-04-30 10:29] lloesche opened #23211 "Document that salt://| escapes special characters in filenames"
I'm trying to copy a file called '?checkpoint' from the salt master to  a minion. My SLS file looks like this:

[code]

When running the state I get a

[code]
(the file does exist of course)

I've tried all kinds of escaping like
[code]

But none seems to work. What's the correct way to reference this file in my SLS?

[2015-04-30 10:50] syphernl commented on #21799
I haven't noticed any issues lately (with 2014.7.4 / 2014.7.5).
Is this a master or a minion fix?

[2015-04-30 11:10] damon-atkins commented on #23133
Disagree with the hurry bit. I would have thought  @thatch45 would hope for strong growth and many people contributing.
Every day you leave it:
* More people start to use salt, and develop yaml with old standard, increase the number of impacted people
* More discussion will be required because of the impact to your customer base.
* Less likely it will be ever fixed due to the impact.

Plan for suc

[2015-04-30 11:13] syphernl opened #23213 "Cloud: Unable to create VM using VMware driver due to hostname error"
I saw @nmadhok is working on a VMware driver for Salt-cloud (to replace the vsphere one?).
Pretty cool! We're using the stable version of Salt-{master|minion} but it appears I can just simply add in the `vmware.py` from develop to the correct folder and it seems to work fine. :)

Querying information works great, and after creating a Template VM and a `cloud.profile` for my VM I issued the command

[2015-04-30 11:58] erjohnso commented on #23104
@null0000 - this looks to be a problem with the GCE image itself and not related to salt.  I can repro the issue just using stock GCE Ubuntu-14.x VMs from my laptop.

[2015-04-30 11:58] #23104 closed

[2015-04-30 12:59] lichtamberg opened #23215 "Rbenv: gem.installed not using correct ruby version if it's not default on 2015.02"
Was working with previous salt versions...
Now I just get this error message when installing gems (f.e. backup gem, but also others are not working. Rbenv install works fine).:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2015-04-30 13:07] lichtamberg commented on #23215
It looks like the ruby version is not used and the default ruby is choosen:

[code]

[2015-04-30 13:08] lichtamberg commented on #23215
I think i did something wrong, will investigate further..

[2015-04-30 13:25] kaithar commented on #20610
Apologies for the delay.  This patch does seem to work for the purpose, although not in a reverse compatible way... without applying an update to my minions I'm in the odd state that a node group says it queried the right nodes but didn't get a response.  Putting in the query it's trying does give the response.

So if `salt -N mysqls` was supposed to query mys

[2015-04-30 14:00] BalintSzigeti opened #23218 "file.managed with salt source can't handle the hyphen"
----------
          ID: /etc/exports
    Function: file.managed
      Result: True
     Comment: File /etc/exports is in the correct state
     Started: 14:47:57.392934
    Duration: 456.027 ms
     Changes:
----------
          ID: /etc/sysconfig/nfs
    Function: file.managed
        Name: nfs
      Result: False
     Comment: Specified file nfs is not an absolute path
     Started: 14:47:57.84

[2015-04-30 14:01] wfhg commented on #23088
I just fixed this issue in the latest stable version. Before committing, I noticed significant changes have been made to `zypper.py` since the last stable version. I then tried installing the latest version from git using salt-bootstrap, which somehow doesn't work:
* Some required packages were not installed
* When I run state.highstate import errors occur
Finally, applying the SLS results in the

[2015-04-30 14:01] BalintSzigeti commented on #23218
[root@master01 nfs]# salt-master --versions-report
           Salt: 2014.7.5
         Python: 2.6.6 (r266:84292, Jan 22 2014, 09:42:36)
         Jinja2: unknown
       M2Crypto: 0.20.2
 msgpack-python: 0.4.6
   msgpack-pure: Not Installed
       pycrypto: 2.0.1
        libnacl: Not Installed
         PyYAML: 3.10
          ioflo: Not Installed
          PyZMQ: 14.3.1
           RAET: Not Installed

[2015-04-30 14:05] BalintSzigeti commented on #23218
invalid. The problem was the '-name: nfs' row.

[2015-04-30 14:05] #23218 closed

[2015-04-30 14:12] lichtamberg commented on #23215
I don't know, but now it works... ARGH :)

[2015-04-30 14:31] Reiner030 opened #23220 "Debian Jessie: Bootstrap uses Jessie Repository ;)"
which is commonly a very bad idea/behavior:

[code]

quickfix:

[code]

[2015-04-30 14:40] nmadhok commented on #23213
@syphernl can you paste the profile details you're using? Also if you can run it in debug mode and paste the output, that would be helpful. You can run the same command in debug mode as ``salt-cloud -p vmware-ubuntu14.04 testvm.example.com -l debug``

[2015-04-30 14:48] Reiner030 opened #23221 "Debian Jessie: locale.present not working again"
Hi,

I think like in https://github.com/saltstack/salt/issues/13295

the state definition
[code]

failed to setup:
[code]

It seems that its not opend in file correctly:

[code]
When I edit/activate it manually:
[code]

the state is correctly recognized as already setup.

[2015-04-30 14:55] Reiner030 commented on #23122
Hi,

same problem for Debian Jessie...
I had to setup state for postgres for referencing - require: service.postfix
and got in new testsystem every run:

[code]

[code]

[2015-04-30 15:14] ksalman opened #23222 "timezone state errors out when using systemd"

[2015-04-30 15:14] #23222 closed

[2015-04-30 15:15] #15846 closed

[2015-04-30 15:15] #23210 closed

[2015-04-30 15:18] ksalman opened #23223 "timezone state errors out on host that is using systemd"
I have a timezone state like so:
[code]
When I deploy that on Debian Jessie, it errors out
[code]
Versions
[code]

[2015-04-30 15:22] #23162 closed

[2015-04-30 15:23] mikeywaites commented on #14550
Any news on this?

[2015-04-30 15:32] jacksontj commented on #18358
Could you provide logs or timing? We can't go back to the old way since the
old way just always batched across all hosts regardless of target (for most
targets).
On Apr 30, 2015 3:01 AM, "msciciel" <notifications@github.com> wrote:

[2015-04-30 15:36] syphernl commented on #23213
I'm using the one from the example with modification with tweaks (Ubuntu, our env specs and less disks/NICs.) But nothing that could explain why the hostname error occurs (even though the name shows up correct in the list)
Op 30 apr. 2015 4:40 PM schreef Nitin Madhok <notifications@github.com>:@syphernl can you paste the profile details you're using? Also if you can run it in debug mode and paste

[2015-04-30 15:44] jfindlay commented on #23179
Thanks, @joehealy!

[2015-04-30 16:02] nmadhok commented on #23213
@syphernl I'm thinking if it's not liking the name ``testvm.example.com``. Can you try again by using the name as ``testvm`` instead and specify ``example.com`` under ``domain``? Also, if you could provide the log in debug mode, it would be helpful since I've added a couple of debug statements in the code to trace what's going on.

[2015-04-30 16:03] twellspring opened #23224 "iptables.append --log parameters must be after --jump LOG"
When using iptables.append with log parameters --log-prefix and --log-level the state fails.  --log options need to be after the --jump LOG in the command.

master:  ubuntu 14.04.2, salt-master 2014.7.5
minion:  ubuntu 14.04.2, salt- minion 2014.7.5

[code]

Results
[code]

Running the command specified above

[code]

Moving the --jump LOG before the --log options makes this work
[code]

[2015-04-30 16:05] DmitryKuzmenko commented on #21799
@syphernl today I worked on the issue investigation. It llooks @cachedout right, it should be fiexed by #23154

Could you please try to use 2014.7 git branch? The fix is there.

[2015-04-30 16:08] msciciel commented on #18358
I'm executing:
time salt '*' -b 100 test.ping

And execution starts after:
old way: 0m2.335s
new way: 0m41.688s

I don't understand why minions list could not be fetched just from keys list and all minions must be pinged to be added to batch list.

Old way works great. I didn't noticed that batch is executed on all hosts regardless the defined target. I select minions very ofter with pillar oraz g

[2015-04-30 16:13] lorengordon opened #23226 "Document import and namespace requirement for modules with Windows-specific implementations"
When adding functions (private or otherwise) to modules with Windows-specific implementations, it is necessary to also update the corresponding 'win_*' module to import and namespace the new function. Otherwise, use of that function will result in a NameError exception on Windows.

I think the docs need a note somewhere under [Developing Salt](http://docs.saltstack.com/en/latest/topics/development

[2015-04-30 16:16] twellspring commented on #23224
iptables.build_rule is putting the parameters in this order
[code]

[2015-04-30 16:17] jacksontj commented on #18358
That is definitely too slow... What is your "timeout" set to on the master?
On Apr 30, 2015 9:08 AM, "msciciel" <notifications@github.com> wrote:

[2015-04-30 16:29] junster1 commented on #23179
Thanks for taking the time to support on old os.   We are pushing to get off it as soon as we can, but would like to keep things as uniform as possible.

However, when testing this out I am getting these errors.

# dpkg -i salt-common_2014.7.5+ds-1lucid2_all.deb
Selecting previously deselected package salt-common.
(Reading database ... 246384 files and directories currently installed.)
Unpacking s

[2015-04-30 16:37] jfindlay commented on #23226
@lorengordon, thanks man.

[2015-04-30 16:57] rallytime commented on #19994
@msciciel Awesome! Thanks for giving the patch a try. If it's alight with you, I'm going to close this issue. If this pops up again, do leave a comment and we will be happy to open this again. Thanks!

[2015-04-30 16:57] #19994 closed

[2015-04-30 17:00] cro commented on #3499
Arrived in 2014.7 with the master job cache.  May need some more documentation.

[2015-04-30 17:00] #3499 closed

[2015-04-30 17:00] cro commented on #19225
This landed in 2014.7.0.  May need some more documentation.

[2015-04-30 17:00] #19225 closed

[2015-04-30 17:01] rallytime commented on #20610
Ah, thanks for the comment here @kaithar.

@plastikos Mind taking another look at your patch and addressing this use case?

[2015-04-30 17:03] rallytime commented on #23088
@wfhg When you say "I just fixed this issue in the latest stable version" do you mean you submitted a pull request to salt (if so, can you link it here)? Or you just fixed it locally (if this is the case, we'd love to see a pull request)?

[2015-04-30 17:11] iggy commented on #23006
What gitfs/custom grains problem would that be? What patch?

[2015-04-30 18:14] wt commented on #23006
#22987

[2015-04-30 19:31] angystardust opened #23231 "Adding functionality to create() in vmware cloud driver to be able to add/reconfigure cdrom device"
It would be very useful to give the possibility to add/reconfigure a virtual cdrom of a vm during the creation task.
As a use-case, this feature is mandatory for company who doesn't use full-templates or can't do pxe-provisioning. This way, one can have lightweight templates without disks (so you don't waste space on your datastores) and delegate the os-provisiong step to a self-installing iso whi

[2015-04-30 19:39] joshmule opened #23232 "salt cmd.run arg parsing using --"
It would be nice to execute cmd.run with commands and command args not needing double quotes.  I'd like to see something like this:

salt  minionname cmd.run -- tail /path/file

... without seeing:

ERROR: Specified cwd '/path/file' either not absolute or does not exist

Thoughts?

[2015-04-30 19:45] V3XATI0N opened #23233 "Master-of-Master doesn't catch returns from Syndic Master"
We have one top-level Master to which are connected ~1,000 minions and one Salt-Syndic master, which is handling just an additional 6 minions from a separate environment. The Syndic Master can communicate fine with its own minions, but when the top-level Master sends a command to the minions connected to the Syndic Master, it doesn't register any returns.

The following log is from the salt-syndic

[2015-04-30 20:26] cachedout opened #23239 "[RFC] Deprecate ext_processses"
This is a discussion issue, not an already-agreed-upon task.

Since we now have engines on the master, I'm wondering if we should continue to support `ext_processes`. These were added late last year, by @mgwillams if I'm not mistaken.

Do engines supercede the idea behind `ext_processes` and can they be removed? Or is there a case for keeping both around?

cc: @thatch45

[2015-04-30 20:28] mgwilliams commented on #23239
@cachedout I forgot I'd even committed that... I'm in favor of deprecating `ext_processes`.

[2015-04-30 20:29] cachedout commented on #23239
@mgwilliams I totally forgot about it too. I just happened to come across it while doing something else. :]

[2015-04-30 20:37] basepi commented on #23158
How did you install salt? 2015.2.0 is not out yet, and so it should either have an `rc` on the end of it, or more information about the commit. Did you install from the develop brancH?

[2015-04-30 20:39] basepi commented on #23158
Also, do all the minions return when you run the test.ping without client_acl? As root?

[2015-04-30 20:41] basepi commented on #9893
The easiest way to install an unreleased version of salt is [with the bootstrap script](https://github.com/saltstack/salt-bootstrap):

[code]

You can also put a branch or commit in place of the `v2015.2.0rc2` tag above. Pass `-M` to install the master as well as the minion.

[2015-04-30 20:42] basepi commented on #9893
As far as whether the fixes are in rc2, I would have to see a pull request or commits to be able to tell for sure.

[2015-04-30 20:44] mimianddaniel commented on #23158
Pulled it from the 2015.2.0 branch and packaged it up in rpm.
As root, i get "all" the returns from the minions.

[2015-04-30 20:46] terminalmage opened #23240 "0b7a13aa breaks salt for older pyzmq versions"
In the [requirements file for zeromq](https://github.com/saltstack/salt/blob/develop/requirements/zeromq.txt), we have ``pyzmq >= 2.2.0``. However, pyzmq 2.2.0 does not have ``zmq.utils.monitor``:

[code]

As a result, 0b7a13aa has broken salt on older pyzmq versions.

We need to either increase the required pyzmq, or enclose the import of ``zmq.utils.monitor`` and only use this module if it is av

[2015-04-30 20:47] techhat commented on #23224
@twellspring, #23224 should clear this up.

[2015-04-30 20:47] terminalmage commented on #23240
ping @DmitryKuzmenko @thatch45

[2015-04-30 21:03] basepi commented on #21799
Minion, I think. But you should upgrade both.

[2015-04-30 21:03] basepi commented on #23158
Thanks. We'll investigate this.

[2015-04-30 21:23] baconz opened #23242 "Globally target a subset minions in state.orchestrate"
Consider an orchestration state wherein you are targeting a set of minions by role. Take this example:

[code]

Now imagine that you run redundant servers across two different data centers, and you don't want to update both data centers at the same time. Maybe you want to be able to fall back to datacenter B, if the update goes awry at datacenter A. It would be great if you could further filter th

[2015-04-30 21:30] wkral commented on #18571
I just ran into this problem. The file was uploaded with multipart upload. I ended up deleting the file and was able to upload it without multipart using the following command:

    aws s3api put-object --bucket <bucket> --key <s3 file path> --body <local file name>

Found out how to do this at https://github.com/aws/aws-cli/issues/946 it uploads in a single go and allowed salt to work with the fi

[2015-04-30 21:55] freimer opened #23244 "Caller not available in reactors"
The Caller function is not available in reactors.  This is odd, since reactors by default must run on the master.  Why use LocalClient when you can directly use Caller?  Add Caller functionality to reactor.

[2015-04-30 22:02] freimer commented on #23244
See PR #23245

[2015-04-30 23:06] dani4571 commented on #22686
Hey,
Sorry for the late reply but a lot of stuff got in the way and just dropping it in place wasn't exactly as straightforward as I had hoped.
At the moment my big issue with the vmware.py driver is this:

[ERROR   ] There was a profile error: local variable 'specs' referenced before assignment
Traceback (most recent call last):
  File "/usr/lib/python2.6/site-packages/salt/cloud/cli.py", line 23

[2015-04-30 23:11] nmadhok commented on #22686
Can you show how your profile looks like?

[2015-04-30 23:13] dani4571 commented on #22686
VMwareCentOS:
  provider: my-vmware-config
  clonefrom: centOS_clean
  resourcepool: resgroup-XXXX
  power_on: True
  deploy: True
  private_key: /root/.ssh/id_rsa
  ssh_username: root
  minion:
    master: <MASTER_IP>
  grains:
    roles:
      - test_install

[2015-04-30 23:14] dani4571 commented on #22686
well the formatting got messed up but....those are the values i have.
sorry about that

[2015-04-30 23:15] #23183 closed

[2015-04-30 23:15] #23039 closed

[2015-04-30 23:22] mmakassikis opened #23246 "IPv6 on OpenBSD"
Hello,

I have an OpenBSD VPS on Vultr, on which I am running a salt master. The problem I am facing has to do with having salt listen on IPv6.
With the default config (i.e. IPv4) I didn't experience any issues. I then adjusted the /etc/salt/master for IPv6 :

[code]

I then restarted the daemon, but it is not listening on the usual ports :

[code]

With the IPv4 configuration I had the following

[2015-04-30 23:36] steverweber commented on #22956
sounds like this data should be moved from the master.d to a pillar.sls file. you should treat a minion running on the master just like any other minion.

[2015-04-30 23:46] nmadhok opened #23247 "creating a VM fails using VMware cloud driver if devices have not been specified"
When cloning a VM using the VMware cloud driver, if the ``devices`` have not been specified, it raises ``UnboundLocalError: local variable 'specs' referenced before assignment``

[code]

[2015-04-30 23:47] nmadhok commented on #22686
@dani4571 Just submitted the fix for it at https://github.com/saltstack/salt/pull/23248. Please wait for it to be merged and then update your ``vmware.py`` file.

[2015-05-01 00:06] jfindlay commented on #23167
@roflmao, is it possible for you to give us more info, like minion activity, minion uptime, etc.?

[2015-05-01 00:09] jfindlay commented on #23186
This is most likely a duplicate of #21480.

[2015-05-01 00:11] jfindlay commented on #23191
@Reiner030, thanks for the report.

[2015-05-01 00:13] jfindlay commented on #23192
@joejulian, since your pull request has been merged, feel free to close this.

[2015-05-01 00:15] jfindlay commented on #23194
@mimianddaniel, thanks for the feature request.  We could also add globbing support as well.

[2015-05-01 00:16] joehealy commented on #23179
Thanks for the feedback - I'll look at getting another build up ASAP.

Thanks very much for testing these and the feedback.

I'm very keen to get a final "good" release up to launchpad before it shuts
off for lucid.

Cheers,

Joe

On Fri, May 1, 2015 at 2:29 AM, Ryan Larson <notifications@github.com>
wrote:

[2015-05-01 00:17] jfindlay commented on #23195
@righdforsa, thanks for the report.  This is a duplicate of #23179.  If you have any updates, please comment there.

[2015-05-01 00:17] #23195 closed

[2015-05-01 00:19] jfindlay commented on #23196
@cedwards, thanks for the report.

[2015-05-01 00:22] joejulian commented on #23192
verified

[2015-05-01 00:22] #23192 closed

[2015-05-01 00:23] jfindlay commented on #23198
@syphernl, thanks for the report.

[2015-05-01 00:28] jfindlay commented on #23200
Are the state(s) you're running using mako?  If so, it would make sense that you would want mako installed.

Regarding your package problem, it seems to me from the output you've pasted that salt-common and salt-minion would be removed by any apt-get action, not necessarily installing salt-mako.  does `aptitude install python-mako` give different results?  How did you provision the system and put

[2015-05-01 00:30] jfindlay commented on #23201
@lisa2lisa, thanks for working on this.

[2015-05-01 00:32] jfindlay commented on #23211
@lloesche, this may be a bug with salt itself or an annoyance with yaml and/or msgpack but with or without a known workaround.

@basepi, do you have any ideas on how to handle this case?

[2015-05-01 00:32] thatch45 commented on #23196
Is this on freebsd? Can you give me a version reporr?

[2015-05-01 00:36] cedwards commented on #23196
Yes, this is FreeBSD 10.1. Below is the version report:

[code]

[2015-05-01 00:40] jfindlay commented on #23213
@syphernl, @nmadhok, thanks for working on this.

[2015-05-01 00:42] jfindlay commented on #23215
@lichtamberg, thanks for the report.

[2015-05-01 00:53] jfindlay commented on #23220
@Reiner030, 2014.1 is an unsupported and unmaintained release.  Can you verify that this is also happens on 2014.7?  Thanks.

[2015-05-01 00:56] jfindlay commented on #23221
@Reiner030, what is the output of `salt <minion> test.versions_report`?  Have you verified this on the current salt release (2014.7.5)?  Thanks.

[2015-05-01 00:57] jfindlay commented on #23223
@ksalman, can you verify that this happens on 2014.7.5?  Thanks.

[2015-05-01 00:59] jfindlay commented on #23231
@angystardust, thanks for the feature request.

@nmadhok

[2015-05-01 01:05] jfindlay commented on #23232
This gets tricky with the shell helping out/getting in the way and how we process command line arguments to modules, but if you would rather prepend a `--` than quote, then I think it could be implemented.  @basepi or @cachedout may have better opinions on this subject.

Note also that arguments can be single quoted as well as double quoted.  Standard shell considerations apply when deciding which

[2015-05-01 01:09] whiteinge commented on #23133
There is some evidence to suggest that we have [strong growth](https://github.com/saltstack/salt/pulse/monthly) and [many contributors](https://github.com/saltstack/salt/graphs/contributors). YMMV. :-)

Your core complaint is indeed correct. The [module index](http://docs.saltstack.com/en/latest/salt-modindex.html) is not at all sufficient to display the breadth of platform support for each module

[2015-05-01 01:13] jfindlay commented on #23244
@freimer, thanks for working on this.  I'm not an expert on Caller vs LocalClient or the reasons LocalClient was chosen for reactor work and not Caller.  You may want to talk to @cachedout or @jacksontj about it.

[2015-05-01 01:19] jfindlay commented on #23247
Thanks, @nmadhok.

[2015-05-01 01:22] #23247 closed

[2015-05-01 01:47] nmadhok commented on #23231
@angystardust Thanks for the feature request. @jfindlay I will be working on this really soon!

[2015-05-01 02:38] joehealy commented on #23179
I've uploaded a new package to launchpad. This will have fixed the first
issue (the exception regarding _syspath).

It may have fixed the second issue as a result, but I'm not sure.

What version are you upgrading from as the exception following your
salt-call call is not from 2014.7.5 as line 1066 is not in fopen?

Can you please test and let me know how it goes - hopefully we can do this
while l

[2015-05-01 02:41] joehealy commented on #23179
Looks like launchpad is now rejecting lucid builds. That is less than ideal.

I'll do a build on my own and host it at debian.saltstack.com - I'll let
you know when it is up (expecting this afternoon/over the weekend).

Cheers,

Joe

On Fri, May 1, 2015 at 12:38 PM, Joe Healy <joehealy@gmail.com> wrote:

[2015-05-01 04:19] joehealy commented on #23179
I haven't set up the hosting for the lucid packages yet, but they can be downloaded from
https://www.dropbox.com/s/92ldi8b8la50h6h/salt_2014.7.5%2Bds-1lucid3.tar.gz?dl=0
in the short term.

[2015-05-01 04:55] junster1 commented on #23179
That seems to have fixed the issue, thank you very much.

$ salt-call --versions
                  Salt: 2014.7.5
                Python: 2.6.5 (r265:79063, Apr 16 2010, 13:57:41)
                Jinja2: 2.7.3
              M2Crypto: 0.22
        msgpack-python: 0.4.2
          msgpack-pure: Not Installed
              pycrypto: 2.6.1
               libnacl: Not Installed
                PyYAML: 3

[2015-05-01 05:12] joehealy commented on #23179
Great to hear - I'll get these hosted at debian.saltstack.com tonight.

On Fri, May 1, 2015 at 2:56 PM, Ryan Larson <notifications@github.com>
wrote:

[2015-05-01 09:37] Narcolapser commented on #18958
hmmm. some new versions have come out since I last posted. 2014.7.2 crashed. I tried it a few days before the more recent versions came out. I'm currently running 2014.7.5 on the machine I'm typing on. I'll comment again if it crashes, but right now my hopes mostly look towards 2015.2. I really hope that the new windows installer might help fix the problems. Any idea when it will be officially rel

[2015-05-01 09:55] syphernl commented on #23213
@nmadhok It was indeed the FQDN causing the issues during creation.
However, in the end the VM was created and shows up as `testvm` in the list of VMware rather than `testvm.example.com`.

[2015-05-01 10:22] lichtamberg commented on #18310
I have a similar problem (same host, same ssh conf, same user, 2 files with same rights):
[code]

[code]

But the strange thing is, in debug mode I can see that the second command was executed and worked - so the permission error must happen after the command is executed?!

[code]

[2015-05-01 12:10] blbradley commented on #22513
I did before your comment and have since moved to a master/minion setup. I'll try to get an example for you though.

[2015-05-01 12:26] lorengordon commented on #20494
Closed, fixed in https://github.com/saltstack/salt/pull/21395.

[2015-05-01 12:26] #20494 closed

[2015-05-01 13:31] nmadhok commented on #23213
@syphernl I understood what the bug is. Will submit a PR for it today. Thanks!

[2015-05-01 15:00] Reiner030 commented on #13484
While searching for similar open bugs I found this... But this one is fixed and can be closed ? ;)

[2015-05-01 15:01] Reiner030 commented on #6878
While searching for similar open bugs I found this... But this one is fixed and can be closed ? ;)

[2015-05-01 15:09] Reiner030 opened #23256 "/etc/ssh/ssh_known_hosts file is ignored by salt-minion service"
Hi,

my local states run fine but when I used salt-wide highstates over instances I got errors...
Manually checked:

[code]

[2015-05-01 15:25] Reiner030 opened #23257 "improvement: salt has problem to restart salt-minion systemd service with "successful" output"
Hello,

... like he does for init.d restarts.
Manual restart of service works fine - exept there is not output anymore in compare to init.d:

[code]

check restart by master:

[code]

=> but on instance service was restarted:

[code]

With other services the response is successfull (even if empty):

[code]

[2015-05-01 15:27] teizz commented on #22503
This is fixed for me with this merge: https://github.com/saltstack/salt/pull/21465

[2015-05-01 15:31] rallytime commented on #22503
Thanks for this extra info. Apologies for not making it back to this issue sooner. @calve Can you give the pull request mentioned by @teizz a try and see if this resolves the issue for you? If not, feel free to give 2015.2.0 a try once it is released.

[2015-05-01 16:24] ksalman commented on #23223
@jfindlay Same problem with 2014.7.5
[code]
[code]

[2015-05-01 16:40] rallytime commented on #22605
Fixed in #23261

[2015-05-01 16:40] #22605 closed

[2015-05-01 16:49] rallytime commented on #22274
@ryan-lane Looks like @tsaridas got a fix in for this. Should we close this one?

[2015-05-01 16:51] rallytime commented on #21721
@deuscapturus Given the referenced pull request above, can you give the fix a try and let us know if this issue is resolved? Thanks!

[2015-05-01 16:54] rallytime commented on #21317
@joehealy Has this been resolved in the newer Ubuntu packages? If so, @ALinuxNinja do you consider this issue resolved?

[2015-05-01 16:55] jfindlay commented on #23256
@Reiner030, thanks for the report.  Is the `cmd.run "git ls-remote -h git@github.com:arialdomartini/oh-my-git.git master | cut -f 1"` statement you've pasted identical to what you have in your state file?  Also, will you post the output of:
[code]
Do you know the package and version of the git backend you're using?

[2015-05-01 16:59] nmadhok opened #23262 "VMware salt-cloud driver does not change the number of cpus when creating a VM"
When creating a VM from another VM/template, it looks like that the ``num_cpus`` field is being ignored.
Tested on latest develop.

Fix for this coming in few minutes

[2015-05-01 17:00] garrickp opened #23263 "Pillar Module documentation missing"
The pillar module documentation, previously [here](http://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.pillar.html), is missing. It is also missing in the [salt module index](http://docs.saltstack.com/en/latest/salt-modindex.html). There are still the appropriate documentation links in the development branch, so this may just be a bad build of the documentation which went up to the we

[2015-05-01 17:01] blbradley commented on #21948
@eedgar I am experience this too. I was also expecting the master branch to be used by default. Your fix was most welcome. Thanks! :smiley:

I am using the latest package from the SaltStack Debian package source.

[code]

[2015-05-01 17:06] rallytime commented on #16679
Looks like this was supposed to be closed when the PR above was merged. Closing.

[2015-05-01 17:06] #16679 closed

[2015-05-01 17:09] teizz commented on #22503
No worries :) After seeing this got fixed in the 2015.2 branch I noticed it mentioned in the 2014.7.5 release notes as well. Since I was running 2014.7.5 but it wasn't setting SO_KEEPALIVE for the ZMQ socket, I double checked the pull request. @cachedout was kind enough to merge and so 2014.7 branch is working for me too now: https://github.com/saltstack/salt/pull/23258

[2015-05-01 17:17] cachedout commented on #22503
Looks like it was just a merge conflict that went awry. Many thanks to @teizz for chasing this one down!

[2015-05-01 17:22] jfindlay commented on #23257
@Reiner030 did the minion return as expected in the non systemd case?

[2015-05-01 17:30] jfindlay commented on #23263
@garrickp, thanks for the report.

[2015-05-01 17:32] ryan-lane commented on #22274
Yep. Looks good. Thanks @tsaridas!

[2015-05-01 17:35] rallytime commented on #22274
Awesome! Thanks all!

[2015-05-01 17:35] #22274 closed

[2015-05-01 17:42] nmadhok opened #23264 "VMware salt-cloud driver fails to create a VM when trying to add a new network adapter"
[code]

Fix on it's way

[2015-05-01 17:49] iggy commented on #22820
http://docs.saltstack.com/en/latest/ref/states/all/salt.states.pkgrepo.html

missing

[2015-05-01 18:02] matthayes opened #23269 "Consider renaming empty_password for user.present"
Would it be more clear to rename this field to `disabled_password`?  This would make it consistent with the naming in `man adduser` for `--disabled-password`.  I think at least the documentation could be made more clear.  When I first read the documentation it wasn't clear to me if this meant a user could login without providing any authentication.

[2015-05-01 18:02] indispeq opened #23270 "Creating a VM from template does not connect NIC (modified or new) - salt-cloud vmware provider"
Hi! Thank you for the great work on this cloud provider.

I am running esxi5.5 standard, but I am getting an issue after creating my VM, both with static, or a dhcp IP:

template: basic ubuntu 14.04 LTS install converted into template
vmtools: tried with vmware-tools as well as the recommended open-vm-tools

- the VM is created and I can add or modify the template's existing NICs (tried with templ

[2015-05-01 18:14] twisty7867 opened #23271 "Unicode paths break file states with masterless minion on Vagrant/Ubuntu 14.04"
I can't get the yaml_utf8 option working properly at all, specifically with `file.directory` or `file.managed`. Unicode characters do work fine for my own custom states, and some other states depending on how they're used. I assembled a [simple repro example](https://github.com/twisty7867/salt-utf-fail).

When using unicode in the state ID declaration, [like so](https://github.com/twisty7867/salt-

[2015-05-01 18:19] #19668 closed

[2015-05-01 18:21] rallytime commented on #18950
Since the original bug has already been addressed, and adding windows tests to Jenkins is on our QA radar, I am going to close this bug out for now. Thanks!

[2015-05-01 18:21] #18950 closed

[2015-05-01 18:22] #18201 closed

[2015-05-01 18:23] whiteinge commented on #23263
Thanks for the report! Moving this over to an issue that is tracking a few other blank docs. #23263

[2015-05-01 18:23] #23263 closed

[2015-05-01 18:24] rallytime commented on #17947
Since the original question has been answered, I am going to close this issue. Thanks!

[2015-05-01 18:24] #17947 closed

[2015-05-01 18:32] rallytime commented on #16678
It looks like we didn't hear back on this one. I am going to close it for now, but if the question still needs to be addressed, please leave a comment and we will be happy to re-open this issue and address any concerns. Thanks!

[2015-05-01 18:32] #16678 closed

[2015-05-01 18:34] rallytime commented on #19020
Since we didn't receive any more info about this question, I am going to close it. If something more needs to be addressed here, please leave a comment and we will gladly reopen the discussion. Thanks!

[2015-05-01 18:34] #19020 closed

[2015-05-01 18:39] rallytime commented on #20106
As we haven't heard anything back on this issue for a while, I am going to close it. If more discussion needs to happen here, please let us know and we will happily re-open this issue. Thanks!

[2015-05-01 18:39] #20106 closed

[2015-05-01 18:46] rallytime commented on #20786
It looks to me like this question has been answered, so I am going to close this. If more discussion should happen here, please leave a comment and we can certainly open this again. Thanks!

[2015-05-01 18:46] #20786 closed

[2015-05-01 18:47] rallytime commented on #20788
Looks like this one is resolved. I'm going to close this issue. Thanks!

[2015-05-01 18:47] #20788 closed

[2015-05-01 18:47] #20793 closed

[2015-05-01 18:49] rallytime commented on #20903
Since we haven't heard anything here for a bit, I am going to close this issue. If you're still having troubles, please leave a comment and we will be happy to help. Thanks!

[2015-05-01 18:49] #20903 closed

[2015-05-01 18:58] lichtamberg commented on #23215
Ah ok, it seems that rbenv is not initialized and therefore is the systems ruby used..

[code]

[2015-05-01 18:58] basepi commented on #19114
Making progress here. The root cause of the pillar issue was the fact that we weren't passing any minion opts to the target, so it didn't have gpg_keydir defined. #23188 was a workaround. #23272 fixed the root issue and reverted the workaround.

The state.sls call is still stacktracing. Probably a completely different issue.

[2015-05-01 19:10] rallytime commented on #22509
Since we haven't heard anything else on this question for a while, I am going to close it. If you have further related questions that need to be addressed, please leave a comment and we'd be glad to open this again. Thanks!

[2015-05-01 19:10] #22509 closed

[2015-05-01 19:41] #8047 closed

[2015-05-01 19:42] rallytime commented on #9398
Since we didn't hear back, I am going to close this issue. If this remains a problem, please leave a note and we will reopen the issue. Thanks!

[2015-05-01 19:42] #9398 closed

[2015-05-01 19:42] rallytime commented on #9859
Since we didn't hear back, I am going to close this issue. If the problem persists, please leave a comment and we'll glad re-open and address the situation. Thanks!

[2015-05-01 19:42] #9859 closed

[2015-05-01 19:42] #10059 closed

[2015-05-01 19:54] lichtamberg commented on #20924
I also had to remove the whole build folder, following worked for me on OSX:

[code]

[2015-05-01 19:56] whiteinge commented on #23263
Er. #22820 rather... :blush:

[2015-05-01 19:56] rallytime commented on #11073
Since we never heard back here, I am going to close this issue. If this problem remains, please leave a comment clarifying some of the questions addressed above and we'd be happy to reopen this issue. Thanks!

[2015-05-01 19:56] #11073 closed

[2015-05-01 20:06] whiteinge commented on #22820
The above pull req fixes pkgrepo and pillar.

The fsutils module was moved into the utils folder in #17883 and is no longer an execution module in Salt. I am not familiar with that module. @VynceMontgomery was that move a mistake?

[2015-05-01 20:08] rallytime commented on #12693
Since the pull request reference above was merged and we haven't heard anything on this for a while, I'm going to close this issue. If this problem pops up again, please leave a note and we will be more than happy to readdress this issue. Thanks!

[2015-05-01 20:08] #12693 closed

[2015-05-01 20:09] kiorky opened #23277 "boto modules are something messing up"
See on https://s3.amazonaws.com/archive.travis-ci.org/jobs/60723170/log.txt

[code]

[2015-05-01 20:12] rallytime commented on #14256
Since we haven't heard anything for a while, I am going to close this. If this remains and issue, please leave a comment addressing the questions above and we'd be happy to open this issue again. Thanks!

[2015-05-01 20:12] #14256 closed

[2015-05-01 20:15] #15920 closed

[2015-05-01 20:16] #16092 closed

[2015-05-01 20:16] #23262 closed

[2015-05-01 20:18] basepi commented on #23211
The problem here is we support special arguments in `salt://` URLs to define environment and other options for a file. We will need to add functionality to support escaped question marks.

[2015-05-01 20:18] rallytime commented on #16509
I am going to close this issue since we didn't hear back on this. If this issue persists, please leave a comment and we'd be glad to re-open this issue. Thanks!

[2015-05-01 20:18] #16509 closed

[2015-05-01 20:19] rallytime commented on #20924
Awesome! Thanks for posting that info @lichtamberg.

[2015-05-01 20:30] sambev opened #23278 "schedule.list RuntimeError: dictionary changed size during iteration"
When trying to run schedule.list on a minion with these versions:
[code]
I get
[code]

[2015-05-01 20:39] basepi commented on #23232
The `--` will prevent the argument parser from looking for any further `-` arguments, but it will not otherwise modify the remaining arguments, which we will still receive split on spaces, and then interpret as separate arguments to the salt command in question. You have to use quotes to group them into a single argument.

[code]

results in `cmd.run('tail /path/file')` while

[code]

results in `

[2015-05-01 20:40] basepi commented on #23232
Closing this for now, but we'll still monitor for replies if you want to discuss further.

[2015-05-01 20:40] #23232 closed

[2015-05-01 20:44] basepi commented on #13484
@Reiner030 have you tested and this is fixed?

[2015-05-01 20:44] basepi commented on #6878
@garethgreenaway Is this fixed by your pull request?

[2015-05-01 20:48] garethgreenaway commented on #6878
@basepi Believe so.

[2015-05-01 20:49] basepi commented on #6878
Great!

[2015-05-01 20:49] #6878 closed

[2015-05-01 21:05] kiorky opened #23281 "develop has broken modules"
[code]

[2015-05-01 21:15] rallytime commented on #17076
I am going to close this since we didn't hear back. If this remains an issue, please respond with answers to the questions above and we will be glad to open this again. Thanks!

[2015-05-01 21:15] #17076 closed

[2015-05-01 21:20] kiorky commented on #23281
the problem resides of salt.utils namespace being loaded as regular salt modules, do we want now to protect off all those modules with some HAS_* then runtime/raise exceptions or virtual toggle off like in other modules ?

cc @thatch45 @s0undt3ch

[2015-05-01 21:35] rallytime commented on #18085
I'm closing this since we didn't hear back. If this remains and issue, leave a comment and we will reopen. Thanks!

[2015-05-01 21:35] #18085 closed

[2015-05-01 21:36] rallytime commented on #18279
Closing since we didn't hear back. We're happy to reopen this when more information can be provided. Thanks!

[2015-05-01 21:36] #18279 closed

[2015-05-01 21:37] rallytime commented on #18506
@nmadhok Is this still an issue? I am going through some old issues and saw that we never made it back around to this one.

[2015-05-01 21:39] rallytime commented on #18552
Sorry we never got back to you here @gerardjp. I am not sure if this has been resolved or not, but would you mind trying this again on 2014.7.5 and see if you can reproduce? There were many bug fixes on 2014.7 since rc7, so this may already be fixed.

[2015-05-01 21:40] rallytime commented on #18564
Hey @bernieke - sorry we never came back around here. Is this still an issue on the latest release (2014.7.5) for you? Have you had a chance to try this again?

[2015-05-01 21:40] kiorky commented on #23277
[code]
i also got this one

[2015-05-01 21:42] kiorky commented on #23277
the attached pr fixes the 2nd comment.

[2015-05-01 21:44] matthayes opened #23286 "Help understanding how to practically use test=True mode"
I'm trying to test out my salt files before deploying to production but am running into problems.  For example, below I am creating an app user and then creating a file in their home directory once the user exists.  In this example I think the dependency on the user may not actually be necessary since I could create the folder independently, however it demonstrates the problems I am having.

[code

[2015-05-01 21:45] rallytime commented on #18719
@fvanniere Sorry we never got back to you here. I am not sure if this has been fixed or not, but have you tried a newer release of salt? We're on 2014.7.5 right now and I am curious if you're bumping into this still.

[2015-05-01 21:47] rallytime commented on #18787
I am going to close this issue since we didn't hear back. However, if this remains an issue, please leave a comment and we will be glad to open this again and readdress the problem. Thanks!

[2015-05-01 21:47] #18787 closed

[2015-05-01 21:47] #18947 closed

[2015-05-01 21:49] matthayes commented on #23286
Digging a little more, it appears the error comes from the `_check_user` method in `file.py`.  Should this check take into account that the user will be created?

[code]

[2015-05-01 21:50] rallytime commented on #19644
I'm going to close this since we didn't hear back on this. If this remains an issue, please leave a comment and we will happily re-open. Thanks!

[2015-05-01 21:50] #19644 closed

[2015-05-01 21:50] #19756 closed

[2015-05-01 21:52] rallytime commented on #19823
Hey @howardroark - Apologies for not responding here sooner. Have you been able to try this on our latest version of salt (2014.7.5)? Is this still an issue for you? I know a bunch of gitfs fixes have gone in since 2014.7.1.

[2015-05-01 21:53] rallytime commented on #19842
I'm going to close this since we didn't hear anything more on this issue. If you have more questions or run into more issues here, please leave a comment and we will gladly reopen. Thanks!

[2015-05-01 21:53] #19842 closed

[2015-05-01 22:13] joshmule commented on #23232
I guess I'm just coming from the -- standard for most gnu tools and others.
  "--" is almost universal for "and everything after this is the rest of
the command".   Something I just used was:
watch -d -- free -m

I wanted to take that forward in salt if it didn't break anything, but I
understand if it does.

On Fri, May 1, 2015 at 4:40 PM, Colton Myers <notifications@github.com>
wrote:

--
Joshua

[2015-05-01 22:15] UtahDave commented on #15770
This feature has been added so I'm going to close this issue.

Thanks, @hroussez !

[2015-05-01 22:15] #15770 closed

[2015-05-01 22:18] UtahDave commented on #16790
`cp.push_dir` was added in 2014.7.0 and works on Windows. You'll need to upgrade to 2014.7.0 or above to use it.

See: https://github.com/saltstack/salt/blob/3e2b366cd6f8c8bcb37eb55f59853178a0420072/salt/modules/cp.py#L679

[2015-05-01 22:18] #16790 closed

[2015-05-01 22:19] basepi commented on #23232
Right, and the same works in salt. But the issue is that we process "the rest of the command" as space-separated args, so we still need the quotes, unfortunately.

[2015-05-01 22:24] UtahDave opened #23288 "cp.push fails to recreate empty files."
I've tested on the 2014.7, 2015.2, and develop branches.

The current behavior of `cp.push` and `cp.push_dir` is to skip an empty file and not upload it to the master's file cache without any indication that the file was skipped.

It seems to me that `cp.push` and `cp.push_dir` should upload all files correctly, including empty ones, so as to faithfully recreate the file or directory on the minion

[2015-05-01 22:29] joshmule commented on #23232
Are space-separated args part of the history of the salt command?  Do
people do multiple commands this way, or do they just find that they forgot
to add the quotes?

In theory the presence of a -- could explicitly signify "the rest of the
line is one command and its args", though that twist might not be inline
with the history of the salt command, and would just confuse users

On Fri, May 1, 2015

[2015-05-01 22:29] UtahDave opened #23289 "`cp.push` stacktraces on an empty file"
On the latest develop branch I get this stacktrace when using `cp.push` on an empty file:

[code]

I'm guessing the changes with the tornado addition caused this. Does this seem related @cachedout @jacksontj ?

[2015-05-01 22:34] markuskramerIgitt commented on #19842
@rallytime , correct - this should be closed.
@basepi  Thank you again for you help.  have not set any timeout in the configuration (how rude of me to not reply to your question  - I beg your pardon)

[2015-05-01 22:37] markuskramerIgitt commented on #18950
Thank you, @rallytime

[2015-05-01 22:38] UtahDave opened #23290 "Make jid available in a dunder dictionary somewhere"
It would be really useful to have the jid available in a dunder dictionary somewhere. Preferably somewhere that would be available in execution modules, states, and in the renderers. I'm not sure what the best place would be, but I was thinking maybe in `__opts__`, `__context__` or something like that.

[2015-05-01 23:09] cubranic commented on #22961
I can't reproduce any more, so closing. I'll remember `cp.list_master_dirs` for diagnostics in the future, thanks.

[2015-05-01 23:09] #22961 closed

[2015-05-01 23:41] VynceMontgomery commented on #22820
I no longer recall where I encountered the link; i know nothing about it, except that I was trying to read its docs and they were not there. Probably I got it from http://docs.saltstack.com/en/latest/salt-modindex.html which is linked in the header of all documentation pages as the list of "all salt modules" though that appears to mean a different thing than the word "modules" does when it appears

[2015-05-01 23:56] VynceMontgomery commented on #22820
There's also this other list of modules:

    http://docs.saltstack.com/en/latest/ref/modules/all/

which has line items for a number of things that aren't actually linked. Namely, most of the ones without descriptions, though netscaler has no description, but its link works. (Spot checking by manually constructing URLs where the link is missing, the URL doesn't work, e.g. the aforementioned http:

[2015-05-02 00:22] MisterRager commented on #19799
I was able to use `-strip-components=1` successfully.

[2015-05-02 00:33] MisterRager commented on #19799
I take that back, when I do that, the error is now with the current working directory not existing:

[code]

If the directory does not exist, it is not extracted due to this error. If it does exist, it is not extracted because salt will not replace the existing directory.

[2015-05-02 00:38] nmadhok commented on #18506
Yes this still is! Hasn't been fixed yet!

[2015-05-02 01:38] rallytime commented on #19842
@markuskramerIgitt Glad you've got this working! Thanks again. :)

[2015-05-02 01:38] rallytime commented on #18950
No problem - Thanks!

[2015-05-02 01:40] rallytime commented on #18506
Alright - I'll get these labels all switched up for you so it can move off of the "Needs Info" list. Thanks Nitin!

[2015-05-02 01:57] rallytime commented on #23233
Thanks for this report @V3XATI0N. When you say that the "returns are never seen", do mean the Top-Level-Master never receives the return in the logs and just continually sends out "find job" commands until it times out, or you're not seeing minions return on the command line?

Also, just to be sure, you have `order_masters: True` set in the Top-Level-Master's `/etc/salt/master` file and then the `

[2015-05-02 01:59] rallytime commented on #23264
Thanks @nmadhok! Looks like your pull request should have already closed this one, so I'm going to close it now, if that's alright with you.

[2015-05-02 01:59] #23264 closed

[2015-05-02 02:48] V3XATI0N commented on #23233
The replies do not appear in the Master's logs. The config options are set
as you mention on both Master and Syndic. The same configuration was
working well in 2014.7.1, there has been no change to the conf files.

On Fri, May 1, 2015, 6:58 PM Nicole Thomas <notifications@github.com> wrote:

[2015-05-02 02:54] rallytime commented on #23233
Thanks for the extra info here. Anything else of use that I might be able to try and reproduce this with? Maybe what OSes the Top Master and Syndic Master are running on?

[2015-05-02 03:00] jfindlay commented on #23223
This seems to be a problem with timedatectl not accepting old-style timezone specifiers.  Does the state work if you do
[code]
or similar?

[2015-05-02 03:04] chris-prince commented on #18880
I encountered this bug today, and I looked into the cause.  I think I see the solution.

In the `_pkg_is_installed()` function, at [`states/npm.py line 125`](../../salt/blob/develop/salt/states/npm.py#L125), it should check for `pkg_name in installed_pkgs` AND ALSO `'version' in installed_pkgs[pkg_name]`

BTW, you can also remove the `if pkg_name in installed_pkgs:` check at [`states/npm.py line 1

[2015-05-02 03:05] jfindlay commented on #19799
@cjbarnes18, the archive state handling of tar options has been updated since 2014.7.0 and should be able to work with all kinds of interesting tar options.  Can you confirm that this is fixed?  Thanks.

[2015-05-02 03:12] jfindlay commented on #23215
@lichtamberg, would you consider this issue fixed?  I am thinking that the true error message should be produced in the original case.  I spent some time looking through the ruby code yesterday but it was difficult to follow the logic through all the layers.  Perhaps it could use a rewrite.

[2015-05-02 03:53] #23277 closed

[2015-05-02 03:55] lrhazi commented on #11107
Has this been implemented in latest git version?

[2015-05-02 09:17] #22149 closed

[2015-05-02 10:14] variia opened #23294 "file.replace fails to append if repl string partially available"
Hi,

I just managed to trigger a funny bug I need some input from you guys.

[code]
Target file:
[code]
The issue is that I want to manage my own /etc/resolv.conf file with salt hence I have no DNS specification in my interface config. Redhat manages /etc/resolv.conf by default with PEERDNS=yes resulting an empty resolv.conf file after reboot so I have to append PEERDNS=no to my interface config f

[2015-05-02 14:12] gthb opened #23295 "Changed behavior: pillar entries with empty keys now get ignored"
A pillar entry like this:

[code]

used to include the entry with the empty-string key, so it would come out in e.g. `pillar['databases'].iteritems()`. It started omitting that entry somewhere between Salt 2014.7.2 and 2014.7.5 — that's the upgrade I did a couple of days ago, causing me to notice this.

(In salt state files I'm using these entries into a format string making a multi-database confi

[2015-05-02 15:50] rallytime commented on #18880
That sounds great @chris-prince. Would you mind submitting a pull request with your changes? It would be much appreciated.

[2015-05-02 15:51] #23148 closed

[2015-05-02 16:10] nmadhok commented on #22686
@rallytime This issue can be closed in favor of the VMware cloud driver.

[2015-05-02 17:12] rallytime commented on #22686
Thanks @nmadhok!

@dani4571 For future reference you can use triple back-ticks surround your code block to preserve formatting. I've gone ahead and edited your comment with them, so if you'd like to see what that looks like, click "edit" and check them out. Also, are you good with this issue being close now, given the fix from @nmadhok?

[2015-05-02 17:59] lichtamberg commented on #23215
@jfindlay,  No, unfortunately this issue is not fixed. The issue can also be demonstrated by following tries (see detailed output below):

1) works: install via: salt 'minion1' rbenv.do_with_ruby 2.1.5 "gem install backup" vagrant

[code]

2) fails: install via: salt 'minion1' state.sls rubygems -l all

[code]

[code]

3) fails: install inside the minion: sudo salt-call state.sls rubygems -l all

[2015-05-02 18:30] chris-prince commented on #18880
Please ignore my 1st referenced commit, but the other three -- one per branch -- should be good to go.

[2015-05-02 19:10] msciciel commented on #18358
Timeout is 30 seconds. But still i dont understand why list of minions must be fetched by ping and not just from keys list without minion ping.

[2015-05-02 19:54] nmadhok commented on #23270
@indispeq I made some changes, added functionality to distinguish between standard switch networks and distributed portgroups and fixed some bugs in #23251 and  #23266. Would it be possible for you to try again using the latest ``vmware.py`` from salt develop? Also, do note that your network adapter should have an additional field called ``switch_type`` which determines if it is using a standard s

[2015-05-03 00:40] #23153 closed

[2015-05-03 00:40] #23166 closed

[2015-05-03 00:41] #5504 closed

[2015-05-03 03:27] nmadhok commented on #23213
@syphernl The issue has been fixed in the PR above. Once the PR is merged, please update the driver and try again.

[2015-05-03 07:09] nmadhok opened #23301 "VMware cloud driver create function fails with error if network not specified under devices or if network adapter is changed from distributed portgroup to standard network switch"
[code]

Fix for this coming in soon!

[2015-05-03 09:37] gfa opened #23302 "backup_mode: minion no longer works"
hello, i have my minions configured with

backup_mode: minion

it worked fine until 2014.7.1, i just found out it no longer works and upgrade to 2014.7.5 and is not working either

master and minions are 2014.7.5, saltstack debian packages. running on debian jessie.

output from state run

----------
          ID: apt-pdiff
    Function: file.managed
        Name: /etc/apt/apt.conf.d/10pdiff

[2015-05-03 09:38] gfa commented on #23302
on the minion

salt-call --versions
                  Salt: 2014.7.5
                Python: 2.7.9 (default, Mar  1 2015, 12:57:24)
                Jinja2: 2.7.3
              M2Crypto: 0.21.1
        msgpack-python: 0.4.2
          msgpack-pure: Not Installed
              pycrypto: 2.6.1
               libnacl: Not Installed
                PyYAML: 3.11
                 ioflo: Not Installed

[2015-05-03 09:49] gfa commented on #23302
# echo hello > /etc/test
# salt-call -l all state.sls test
[DEBUG   ] Reading configuration from /etc/salt/minion
[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: controller
[TRACE   ] loading log_handlers in ['/var/cache/salt/minion/extmods/log_handlers', '/usr/lib/python2.7/dist-packages/salt/log/handlers']
[TRACE   ] Skipping /var/cache/salt/minion/extmods/log_handlers, it is not a d

[2015-05-03 09:57] gfa commented on #23302
grrrr

[2015-05-03 09:57] #23302 closed

[2015-05-03 11:21] kiorky commented on #23295
In the mean time, you can maybe set your empty key to something like ```default```

[2015-05-03 12:06] darkwyrm commented on #22412
I have had a similar problem on 2014.7.5 which I believe is caused by the same bug. The SLS that I have seen the problem in has these contents:

clipgrab:
  pkgrepo:
    - managed
    - ppa: clipgrab-team/ppa
    - require_in:
      - pkg: clipgrab
  pkg:
    - latest

The result after the first run appends the word clipgrab to sources.list. If it runs a second time, without removing the buggy ent

[2015-05-03 14:26] soodr opened #23303 "saltutil.kill_job breaks on a windows minion"
[code]
(salt)-bash-4.1$ salt sandbox320-tssa-2 saltutil.kill_job 20150503132817579848
[code]

[2015-05-03 14:39] gfa commented on #23257
i have the same problem, salt 2014.7.5 does not restart my services when i'm using systemd on debian jessie. if i boot using sysvinit everything works as expected.

sysvinit output
          ID: mysql
    Function: service.running
      Result: True
     Comment: Service restarted
     Started: 14:31:53.690397
    Duration: 3469.817 ms
     Changes:
              ----------
              mysql:

[2015-05-03 15:16] gfa commented on #23257
at least on debian jessie, you can use service status, service start and stop to manage services, native systemd and lsb legacy services

from a different system
$ sudo systemctl stop smbd
$ sudo service smbd status
● smbd.service - LSB: start Samba SMB/CIFS daemon (smbd)
   Loaded: loaded (/etc/init.d/smbd)
   Active: inactive (dead)

May 03 23:00:45 io systemd[1]: Unit smbd.service cannot be rel

[2015-05-03 15:50] #18880 closed

[2015-05-03 15:51] #23213 closed

[2015-05-03 15:51] #23301 closed

[2015-05-03 16:00] rallytime commented on #23270
Thanks for this report @indispeq and for the response @nmadhok.

@indispeq Can you give the suggestions above a try and let us know how it goes?

[2015-05-03 16:03] rallytime commented on #23301
Thanks for the report and the fix, as always, @nmadhok!

[2015-05-03 16:05] rallytime commented on #23303
Thanks for this report @soodr. I know that @twangboy fixed a lot of windows bugs in the newest release, 2014.7.5, though I am not sure if this is one of them or not. Do you think you'd be able to test this on the newer version and let us know if this still needs to be fixed?

[2015-05-03 17:29] bricewge commented on #17245
I have the same issue.
The problem is that `locale.present` do a `locale-gen $name` but don't uncomment locales in`/etc/locale.gen`. A workaroud for it is to keep your custom `/etc/locale.gen` in salt with the correct locales uncommented.

[2015-05-03 18:34] rallytime commented on #15425
@Rucknar Sorry we never circled back around to this one. I just tried this again on the latest stable version, 2014.7.5, and I am not able to reproduce that argument error for `pkg.upgrade` that you were seeing. Are you still running into this? Would you be able to try this again on a newer version?
[code]
Master Version:
[code]
Minion Version, running on CentOS 7:
[code]

[2015-05-03 18:36] rallytime commented on #11262
Since we never heard anything back about this issue, I am going to close it. If this issue persists, please leave a comment addressing the questions posted above and we'd be happy to take another look and reopen. Thanks!

[2015-05-03 18:36] #11262 closed

[2015-05-03 18:41] rallytime commented on #12212
@arthurlogilab I am just making my way around some old issues. Are you still seeing this problem? What command were you using to hit that error? What cloud provider were you using? I suspect this has been fixed, but I don't want to close it if you're still seeing problems.

[2015-05-03 18:43] rallytime commented on #13646
Since we never heard anything else about this, I am going to close this. If the problem persists, please leave a comment with the answer to the question posted above, and we will be glad to open this again. Thanks!

[2015-05-03 18:43] #13646 closed

[2015-05-03 18:46] rallytime commented on #16621
The LazyLoader has been in stable releases now for a couple of months, so I am going to close this issue. If this problem persists, please leave a comment here and we will be happy to take another look here and re-open this issue. Thanks!

[2015-05-03 18:46] #16621 closed

[2015-05-03 18:48] rallytime commented on #16626
@cameronsparr Apologies for never coming back around here. I know that many bugs have been fixed since you filed this issue, but I am not sure if this was one of them or not. Are you still seeing this bug on a newer version of salt? (We're currently on 2014.7.5.)

[2015-05-03 18:53] rallytime commented on #16860
Yes, [requests >= 1.0.0](https://github.com/saltstack/salt/blob/be7d11dfe936b02a14b88d943b578ffc454123fc/requirements/base.txt#L5) is required for salt and salt-cloud. However, we will be removing the hard-dependency on requests when we release 2015.2.0. As such, I am going to go ahead and close this issue.

[2015-05-03 18:53] #16860 closed

[2015-05-03 18:57] rallytime commented on #18649
@dh-harald Sorry I never responded here. If you'd still like to submit that patch, it would be most welcome!

[2015-05-03 19:01] rallytime commented on #18716
Thanks for the extra info here @joshland. @syphernl Could that possibly be the same thing you were seeing? Do either of you know if this is still a problem on a newer release? (2014.7.5 is the latest stable right now.)

[2015-05-03 19:06] rallytime commented on #19193
Thanks for the update @djs52. It would still be super helpful if either you or @teepark could post a sample state file to help reproduce this issue.

[2015-05-03 19:21] lorengordon commented on #23294
That logic at L1155 shouldn't actually result in a match, so `found` shouldn't be set to `True`. Maybe the '=' is confusing things? Have you tried wrapping the `repl` value in single quotes?

[code]

[2015-05-03 19:45] variia commented on #23294
I certainly have tried everything under the sun, quoting, you name it, no luck.
I tried the logic in python shell and in my opinion, it does what it is coded for.
The only way it would work for me is if the L1155 searched for ^ + content.

[code]

[2015-05-03 20:07] lorengordon commented on #23294
Oh I see, I misunderstood. Yes, that's behaving exactly as intended. 2015.2 introduces file.line, which may do what you need, as its intended to work on entire lines, where file.replace needs to be able to work on partial lines as well.

That said, considering L1155 is determining whether to append/prepend the content as a new line, it may make sense to assume the search is for the entire line...

[2015-05-03 20:23] variia commented on #23294
Agreed. If prepend or append flag set, '^' should be added to the search content. I don't mind using file.line in the next release but this functionality either needs to be sorted or removed in favour of file.line, otherwise it just remains confusing.

[2015-05-03 21:07] thusoy commented on #23224
This is fixed in develop, but have not been merged to 2014.7, as can be seen here: https://github.com/saltstack/salt/blob/develop/salt/modules/iptables.py#L266

[2015-05-03 21:17] jfindlay commented on #17245
@bricewge, what version of salt are you using and what distro are you generating locales on?

[2015-05-03 21:20] bricewge commented on #17245
I'm on a up-to-date Archlinux with saltstack 2014.7.4.

[2015-05-03 21:40] jfindlay commented on #17245
@bricewge, that patch should fix the issue.

[2015-05-03 23:44] jfindlay commented on #23211
@lloesche, as @basepi says, the `salt://` url format can potentially contain a query string, `salt://dir/file.txt?saltenv=base`.  The way to prevent the fileclient/fileserver from interpreting `?` as the initial token of a query string is to reference the file with `salt://|` rather than `salt://`.  From my searches, there doesn't seem to be any documentation about this feature.

So to escape the

[2015-05-04 00:14] renoirb commented on #22218
Sorry to add to this closed thread, but I’ve been toying with masterless and gitfs.  Did you make sure you had a git Python binding @Seldaek ?

[2015-05-04 00:42] rallytime commented on #9592
@otrempe No problem! I'm going to go ahead a close this then.

When people make it across this issue and think there is still more work to be done here, leave a comment and we will be happy to re-open. Thanks!

[2015-05-04 00:44] rallytime commented on #8405
Since we didn't hear anything back here, I am going to close this issue. If more work needs to be done here, please comment and we will be happy to address any concerns and re-open this issue. Thanks again!

[2015-05-04 00:44] #8405 closed

[2015-05-04 00:49] rallytime commented on #16059
I am going to close this since we didn't hear back. If this issue persists after upgrading to 2014.7.5, please leave a comment and we'd be glad to open this again. Thanks!

[2015-05-04 00:49] #16059 closed

[2015-05-04 00:55] rallytime commented on #18806
Since this original issue has been addressed, I am going to close this issue out. Feel free to open a new issue about improving the output as you see fit. Thanks again!

[2015-05-04 00:55] #18806 closed

[2015-05-04 01:04] rallytime commented on #22503
Thanks for tracking that down @teizz! Looks like this one should be fixed in both the 2014.7 and 2015.2 branches. If we do another release on the 2014.7 branch (2014.7.6) then the fix will be there. Otherwise, the fix will be available in 2015.2.0. As such, I'm going to close this issue. However, if this pops up again, leave a comment and we will be happy to take another look. Thanks again!

[2015-05-04 01:04] #22503 closed

[2015-05-04 01:06] rallytime commented on #22571
@ekle Can you confirm if the pull requests linked above fixed this issue for you or not?

[2015-05-04 01:06] rallytime commented on #22595
@cachedout Do you think this issue can be closed?

[2015-05-04 01:07] cachedout commented on #22595
Yep!

On Sun, May 3, 2015 at 7:06 PM, Nicole Thomas <notifications@github.com>
wrote:

[2015-05-04 01:08] rallytime commented on #22704
This looks to be fixed by the pull request referenced above, so I am going to close this one out. If more work needs to be done here, please leave a comment and we will certainly address any new concerns. Thanks!

[2015-05-04 01:08] #22704 closed

[2015-05-04 01:11] rallytime commented on #22782
Since your fix was merged, I am going to close out this issue. If this pops up again, feel free to comment and we'll happily open this again. Thanks!

[2015-05-04 01:11] #22782 closed

[2015-05-04 01:12] rallytime commented on #22822
@hvnsweeting Now that your PR is merged in, is this ok to close? Or does more work need to be done to address this issue?

[2015-05-04 01:13] rallytime commented on #22880
I'm closing this for now. If more work should be done here, please leave a comment and we can certainly re-open this. Thanks again!

[2015-05-04 01:13] #22880 closed

[2015-05-04 01:13] rallytime commented on #22595
Great! Done.

[2015-05-04 01:13] #22595 closed

[2015-05-04 01:15] rallytime commented on #22941
@bersace Since your pull request has been merged, do you think this issue should be closed?

[2015-05-04 01:18] rallytime commented on #23201
Thanks @lisa2lisa! Since your pull request was merged, I am going to close this issue. If more work should be done here, or this bug pops up again, please leave a comment and we will readily open this again.

[2015-05-04 01:18] #23201 closed

[2015-05-04 01:20] rallytime commented on #23224
@thusoy I don't think I quite follow you. The fix from @techhat should be present in 2014.7 branch, as that is the branch the pull request was submitted against. However, the fix might not be in develop yet as sometimes it takes a couple of days for a complete merge-forward to make it's way from 2014.7 into develop. Is that what you meant?

[2015-05-04 01:22] rallytime commented on #19512
Since we never heard anything back on this one, I am going to close it out. If problems endure, please leave a comment and we will certainly open this issue and address any concerns. Thanks!

[2015-05-04 01:22] #19512 closed

[2015-05-04 01:27] rallytime commented on #20208
I am going to go ahead and close this issue out as we haven't heard back for a little while. If this problem continues, please leave a comment including the debug logs mentioned above, and we'd be happy to take another look. Thanks!

[2015-05-04 01:27] #20208 closed

[2015-05-04 01:29] rallytime commented on #20857
I am going to close this since we never heard back. If this problem lingers, please comment below and we will certainly re-open this and address any concerns. Thanks again!

[2015-05-04 01:29] #20857 closed

[2015-05-04 01:31] rallytime commented on #20858
@lsh-0 Just a bump here to see if you were able to reproduce the error even after removing the `watch` requisite from your state.

[2015-05-04 02:03] techhat commented on #23224
@thusoy, the link you provides is for the develop branch, not the 2014.7 branch. The correct link is here:
https://github.com/saltstack/salt/blob/2014.7/salt/modules/iptables.py#L275
@rallytime it looks like a fix is already in the 2015.2 branch as well as the develop branch, though they were done a little differently, so if this gets merged forward, it will cause conflicts. Can we keep it from ge

[2015-05-04 02:10] nafg commented on #9272
+1000

[2015-05-04 02:35] techhat commented on #16860
@rallytime, the ec2 driver still requires requests.

[2015-05-04 03:10] rallytime commented on #23224
@techhat No, we don't have the ability to "block" things from getting merged forward, but @basepi is pretty awesome at resolving merge conflicts, especially when he knows what changes to keep on this branch.

@basepi Looks like the upstream versions of this fix/file should be taken instead of the changes made to 2014.7 here.

[2015-05-04 03:21] thatch45 commented on #23196
@DmitryKuzmenko can you please take care of this one?

[2015-05-04 03:40] cameronsparr commented on #16626
I think this is probably solved, I haven't seen it lately and we have upgraded both master and minions to 2014.7.4

[2015-05-04 03:40] #16626 closed

[2015-05-04 06:36] syphernl opened #23312 "Vmware cloud driver: exceptions must be old-style classes or derived from BaseException"
Spinning up a VM results in:
[code]

Debug (sanitized):
[code]

Profile (sanitized):
[code]

[2015-05-04 06:41] syphernl opened #23313 "Salt-cloud: Configuration of IP / box specific settings"
A question. The example lists IP configuration in the profile (`cloud.profiles.d`).
This makes it less flexible as it would require a profile *per server* rather than per server type.

For instance, I'd like to spin up 10 boxes all with Ubuntu 14.04.
In the current setup I am required to create 10 separate `cloud.profiles.d`-files rather than one "ubuntu-14.04" profile that can be applied to all 1

[2015-05-04 06:52] techhat commented on #23313
Hi @syphernl. Unless I'm missing something here, I think that a cloud map may provide to you what you need, since it allows you to take generic profiles, and add minion-specific information to that.
As for the IP configuration, which example are you referring to? A specific IP address is not usually listed in a profile; if it is listed at all, it is usually in the cloud map.

[2015-05-04 07:06] syphernl commented on #23313
Hi @techhat. The (example) profile for the [VMware driver](http://docs.saltstack.com/en/latest/topics/cloud/vmware.html#profiles) contains several box-specific parameters (e.g. ip, cpu, memory, disk) which IMHO shouldn't necessarily be in a `cloud.profile` as they are generally "generic" templates (e.g. ubuntu 14.04, Debian8.0 etc)

For the above, how would one specify the box/minion-specific para

[2015-05-04 07:40] nmadhok commented on #23312
@syphernl For some reason I couldn't reproduce this using the profile above. I have submitted a patch for the error you're getting though. Can you try the patch from the PR above and let me know?

[2015-05-04 08:14] syphernl commented on #23312
@nmadhok I'm using Ubuntu 14.04 (amd64) with Salt stable from the PPA if that makes any difference.

Regarding `public_key`: Where does it get a/the public_key from then?
I haven't had any issues with the `datastore` setting. This particular value was as it was given by the `list_datastores` function.

The patch for #23314 has solved this problem as it no longer fails with the error.

[2015-05-04 08:16] nmadhok commented on #23312
@syphernl Does it successfully complete after applying the patch from #23314 ?

[2015-05-04 08:20] syphernl commented on #23312
@nmadhok The cloning part works, but it never gets an IP so its stuck at "Waiting to get IP information". The NIC is not "Connected" nor "Connect at power on" but that is unrelated to this ticket I guess.

[2015-05-04 08:27] bersace commented on #22941
@rallytime actually, the issue is not fixed for master/minion mode in 2015.2. Needs on last PR. I'm not using 2015.2 right now. It's on my TODO :/

[2015-05-04 08:27] nmadhok commented on #23312
@syphernl That is another issue. Do you have vmware-tools installed on your template? The IP information would be available once the VMware tools starts running on your VM when it get's deployed. Make sure you template has the RHEL/CentOS equivalent of the file ``/etc/sysconfig/network`` which contains the following:
[code]

[2015-05-04 08:35] syphernl commented on #23312
No, the actual NIC is not set to "connected" in VMware. If I manually "connect" it, it works fine.
I can open a new ticket for that if that's preferred.

[2015-05-04 08:40] nmadhok commented on #23312
That would be great!

[2015-05-04 08:41] syphernl opened #23315 "Vmware cloud driver: NIC not connected"
See #23312 for profile configuration.

Once the template has been cloned and the machine is running the NIC is not set to "connected" (and neither to "connect at power on"). This results in the machine not being reachable over the network, and results in `salt-cloud` being stuck at "Waiting to get IP information"

My template is based on Ubuntu 14.04 with `open-vm-tools` installed (as VMware recom

[2015-05-04 08:41] syphernl commented on #23312
@nmadhok Done: #23315

[2015-05-04 09:32] antonakv opened #23316 "Hostname detection for new hosts returns unpredictable value (Minion)"
Hostname detection for new hosts is unpredictable and random on Amazon Linux.

Issue happens when I add new minion to salt-master.

Sometimes hostname is ip-10-0-2-110.ec2.internal (ptr) but sometimes it's fqdn (web1-prod.domain.com).

As result salt-key shows some hosts as ip-10-0-2-110.ec2.internal and some as web1-prod.domain.com.
It's known issue in Python's library used in minion.

I think so

[2015-05-04 09:34] nmadhok commented on #23315
@syphernl Looking at the specs that were generated, it looks like the NIC was set to connect at boot ``startConnected = true``. How do you manually connect the NIC?

[2015-05-04 09:38] syphernl commented on #23315
@nmadhok But it also says `connected = false`.
You can connect the NIC via the vSphere client => VM => VM settings => NIC => Tick connected.

[2015-05-04 09:40] nmadhok commented on #23313
@syphernl Specify the common fields which are going to be common to all VM's and templates in the profile and the VM specific fields in the map.

Sample profile:
[code]

Sample Map:
[code]

[2015-05-04 09:45] nmadhok commented on #23315
@syphernl ``connected = false`` indicates whether the device is currently connected. Valid only while the virtual machine is running. The specs are generated before the deployment and since you're using a template, it's anyway powered off. Can you try to clone from a VM instead of a template that already has the NIC connected?

[2015-05-04 09:54] gthb commented on #23295
That's my workaround, yes. But this change in behavior will probably bite lots of people.

[2015-05-04 09:55] thusoy commented on #23224
@rallytime My point was just that this bug was already fixed on develop (and thus also on 2015.2) before @techhat's fix, so merging it from there would resolve the issue, or waiting for 2015.2.

[2015-05-04 09:58] syphernl commented on #23315
The template was created based on a VM that has the NIC connected. With the template-VM off the checkbox for connected is unchecked bt the "connect on power on" one is checked.

I have converted the Template back to a VM. The NIC in the template VM has the right checkmark set. If I let salt-cloud clone based on the "template VM" rather than the "template" there is no difference in behavior: the NI

[2015-05-04 10:17] nmadhok commented on #23315
@syphernl For some reason, I'm unable to reproduce this. I have the NIC connected and able to get an IP after about 90 seconds.

[2015-05-04 10:20] syphernl commented on #23315
Odd, perhaps you are on a different version/revision of vCenter?

[2015-05-04 10:24] kiorky opened #23317 "LazyLoader logic is broken; raise innapropriate AttributeError"
reopening of #22940 which didnt come with a fix.

You can easily come to such situations

[code]

(please reread this comment: https://github.com/saltstack/salt/pull/22940#issuecomment-95261091)

[2015-05-04 10:42] Reiner030 commented on #23220
It works fine with latest 2014.7.5
The idea behind this bug report ist that the "stable" Debian repository package is outdated:
https://packages.debian.org/jessie/salt-minion

```Package: salt-minion (2014.1.13+ds-3)```

so http://bootstrap.saltstack.com script should add the Salt Repo even within Debian Jessie.

[2015-05-04 10:46] Reiner030 commented on #23221
Hi,

sorry, forgotten to add in this report the version number 2014.7.5 ...
[code]

[2015-05-04 11:10] Seldaek commented on #22218
@renoirb I did yes, anyway I gave up as I didn't have time to debug further I am now using git submodules to load my dependencies.

[2015-05-04 11:13] Reiner030 commented on #23256
that are "actual" Debian packages:

when I run them locally it works fine without problems:

Debian 7:
[code]

Debian 8:
[code]

The state definition is:

[code]

and called by salt "remotely" by salt-minion executed:

[code]

[2015-05-04 11:20] bc-23 opened #23321 "Attributes in inherit class results in AttributeError during jinja parsing"
I use a pydsl init.sls file where a new class is defined, which inherits from netaddr.IPNetwork. The code within the init file works fine, but when the objects are accessed within the template, access of attributes defined in the new class result in a AttributeError. Accessing attributes of the original class works without problems.

Here the class from my init.sls file:

<pre>
from netaddr import

[2015-05-04 11:20] Reiner030 commented on #13484
in my cases I have only 1 ssh hostkey line per hostnames on every run.

Thats for my configuration setup also a problem because I can't save rsa,dsa, ecdsa (and in Debian 8 ed25519) pubkeys with same hostname in this file.
So I had to program if-then-else cases around it in the default ssh order ecdsa, ed25519, rsa, dsa to save the first key I found created.

[2015-05-04 12:08] thusoy opened #23323 "file.managed with HTTP source fails with tornado backend"
On latest develop, `file.managed` breaks with HTTP sources, since the requests are now using tornado instead of requests, and thus the handling of the response is incorrect.

[code]

I'm unfamiliar with tornado, so I don't know how to fix this, but the code present in [fileclient.py](https://github.com/saltstack/salt/blob/develop/salt/fileclient.py#L607) only works for the requests backend. It als

[2015-05-04 12:58] renoirb commented on #22218
OK @Seldaek I know a way. In case you’re interested, here´s the TLDR; You have to make sure your VM has `python-git` installed before running `salt-call`. It depends how you load your VM first. If you have  access to Cloud-Init you can ensure your dependencies are installed. Rest depends of the local workspace *vs* production setup.

[2015-05-04 13:17] antonakv commented on #22569
Could you please provide example how to use salt.states.monit ?

[2015-05-04 13:42] nmadhok commented on #23315
@syphernl I'm running vCenter 5.5

[2015-05-04 13:56] nmadhok commented on #23270
@indispeq Can you also change ``adapter_type`` for the NIC from ``vmxnet3`` to ``e1000`` and try again??

[2015-05-04 13:57] nmadhok commented on #23315
@syphernl Can you change ``adapter_type`` for the NIC from ``vmxnet3`` to ``e1000`` and try again?? Since you already have the NIC added in the template, you may have to delete it from your template and then try to clone the template.

[2015-05-04 13:58] dr4Ke commented on #22513
I just hit this issue, using salt version 2014.7.5 (latest stable version at this time, don't know if this issue is the same in 2015.2 branch).

My use case is that I want to use `salt-ssh` to force salt-minion installation and configuration from static packages. That's in order to control the salt update process better. I don't know if there is a better way to do it.

So, with the state `salt.min

[2015-05-04 14:00] lorengordon commented on #23294
I went ahead and created a branch with a possible fix, but I can't test it effectively while at work (though I did make sure the code worked in a python shell). If you can test the file.py module in my branch to make sure it works the way you expect, I'll open the PR. Otherwise, I'll test it later when I get home.

https://github.com/lorengordon/salt/tree/file.replace_assume_line

[2015-05-04 14:21] andrejohansson opened #23327 "Unable to manage file: none of the specified sources were found"
Running the official vm-depot image as a master and the 2014.7.5 version of the client (on Windows). I've made a state to update the minion config. But I cant seem to get it out to my minion, it just says that the file was not found, even though I can copy it manually with the `cp` command.
## minion-config.sls

[code]
## show_sls on the minion

To check I have no stale cache stuff, I'm checking t

[2015-05-04 14:49] rallytime commented on #23224
@thusoy Ahh, ok. I understand now. We'll merge the fix forward from 2014.7. to 2015.2.

@basepi Ignore my comments above - it looks like this needs to be merged forward like normal.

[2015-05-04 14:52] rallytime commented on #16626
Awesome! Thanks!

[2015-05-04 15:03] garrickp commented on #22820
The [netapi modules](http://docs.saltstack.com/en/latest/ref/netapi/all/index.html#all-netapi-modules) documentation and linked documents was gutted as well.

[2015-05-04 15:12] jfindlay commented on #23220
@Reiner030, sounds great, thanks.

[2015-05-04 15:57] whiteinge commented on #22820
I just kicked off a full docs build. You may need to ctrl-refresh each
page. I think all these build issues are now resolved.

[2015-05-04 16:41] ksalman commented on #23223
Unfortunately that did  not help
[code]

[2015-05-04 16:57] garrickp commented on #22820
netapi looks good again, as does pillar - the two I brought up.

[2015-05-04 17:39] twisty7867 commented on #23271
It seems like, for the highstate outputter errors, more fields just need sdecode(). I don't feel like I have a good enough understanding of the implications to submit a PR, but I'm running a copy of highstate.py with [these changes](https://gist.github.com/twisty7867/a67f817e28092470087d) and it has fixed some of the issues.

It does not, obviously, fix the order_chunks issue or the issues interna

[2015-05-04 17:49] ross-p opened #23336 "Pillar merge code is broken in 2014.7.5"
I have a pillar that works great on salt-master `2014.7.3`.  However when I upgrade the salt-master to `2014.7.5` it starts giving me the following error:

[code]

Unfortunately it doesn't give any indication where that error actually occurred as far as my source pillar is concerned.  (There is a lot of data in this source pillar, and it's sensitive stuff, so I can't just post it here without work

[2015-05-04 17:51] llb42 opened #23337 "yaml_mako renderer bug"
I've got a problem where if I change the default renderer to yaml_mako, highstate stops working properly.

The same system is both master and minion:
[code]
/etc/salt/master:
[code]

/etc/salt/minion:
[code]

/srv/salt/top.sls:
[code]
/srv/salt/webserver.sls
[code]
/srv/pillar/top.sls
[code]
/srv/pillar/data.sls
[code]

example of running highstate:
[code]
the 'data.sls' file shows up in the cache

[2015-05-04 18:11] ross-p commented on #23336
Another note, whatever `2014.7.5` did wrong, it corrupted my salt cache.  Even after downgrading to `2014.7.3` I was getting the same error.  I had to nuke `/var/cache/salt` to get it to start working again after downgrading.

[2015-05-04 18:15] jfindlay commented on #23271
@twisty7867, I was thinking the same thing.  Thanks for the report.

[2015-05-04 18:40] jfindlay commented on #23281
@kiorky, are you still getting these errors?  I am not seeing them on the latest develop.

[2015-05-04 18:58] philipsd6 opened #23340 "salt-ssh 2015.2.0-1187-gb224d82 requires zmq, why?"
[code]
I regenerated thin.tgz specifying zmq, but I get a different error, because zmq isn't compiled for the target system.

[2015-05-04 19:07] cachedout commented on #23026
Wow, good catch! I can't believe this has been broken for this long. :]

I submitted a fix in #23341. We just needed to add the two lines to the default minion config, since a syndic is a special type of minion, this should be just fine.

[2015-05-04 19:11] philipsd6 opened #23342 "salt-ssh 2015.2.0rc2 fails when target doesn't have lspci available"
[code]
This was supposed to be fixed two years ago in #5627?

[2015-05-04 19:18] jfindlay commented on #23286
@matthayes, this is a known issue with the `test` feature of states, although I was not able to find any other issues particularly similar to this one.  It is likely that there are other similar cases where the `test` version diverges from the actual state application in a broken manner and from what I know each case will need to be handled mostly individually unless someone comes up with a whole

[2015-05-04 19:23] karanjad commented on #22908
Lets say you have a scenario where you do not want to set a global failhard and the orchestration is taking place across different minions. In this situation, a failhard from one minion fails to stop the orchestration.

[2015-05-04 19:25] basepi commented on #23232
Not multiple commands. Multiple arguments to a single salt remote execution module function.

[code]

[2015-05-04 19:31] basepi commented on #11107
This has not yet been implemented.

[2015-05-04 19:33] basepi commented on #23211
Oh right! I totally forgot about the `|` workaround. Thanks for finding that, @jfindlay!

[2015-05-04 19:38] basepi commented on #22513
Oh, and ping me on the new issue, please.

[2015-05-04 19:54] micaelbergeron opened #23343 "npm state ignore the requested version"
I am having a problem with the npm state, as the requested version isn't getting installed. I end up having the latest version of the node module.

Here is my sls:
**redis-commander.sls**
[code]
**Debug output**
[code]

**Highstate output**
[code]

**$ sudo salt-call --local npm.list redis-commander**
[code]

However, using the npm module directly (salt '*' npm.install redis-commander@0.2.1)  work

[2015-05-04 20:14] jfindlay commented on #23294
@variia, @lorengordon, thanks for working on this.

[2015-05-04 20:16] jfindlay commented on #23295
Empty string keys are also valid in python dicts.

[2015-05-04 20:24] variia commented on #23294
@lorengordon sure, can test it in couple of hours. Thanks

[2015-05-04 20:28] cachedout commented on #22742
@hvnsweeting Give the fix in #23344 a try, please.

[2015-05-04 20:31] cachedout commented on #22547
Re-assigned to platform team. cc: @jfindlay

[2015-05-04 20:34] cachedout commented on #22615
I cannot reproduce this at all. I have created a file called ```\``` in ```/srv/salt``` and started the salt-master. I can still ping minions from the master. I have tried on 2014.7, 2015.2 and on develop. Is there anything additionally that needs to be done to cause the master to hang?

[2015-05-04 20:42] jfindlay commented on #23323
@thusoy, thanks for the report.

[2015-05-04 20:43] basepi commented on #19114
A bit of a change to how this will work. You must either define `ssh_minion_opts` in the master config to override minion opts, or define `minion_opts` in the roster on a per-minion basis. It will not take any keys from the local minion config, because that may be unwanted. (salt-ssh could be coexisting with a real minion)

[2015-05-04 20:57] #23312 closed

[2015-05-04 21:03] nmadhok commented on #23315
Just realized this issue is a duplicate of #23270

[2015-05-04 21:35] ross-p commented on #23336
Erroneous issue, this looks like it's something having to do with the different cloud environment I'm running in, not with the Salt version.  Probably a pillar error, sorry for the false alarm.

[2015-05-04 21:35] #23336 closed

[2015-05-04 21:42] mm-nsawlidi commented on #10948
I am having the same issue as described. I'd like to migrate my infrastructure over to Salt, but the core servers are Windows Server 2008 R2 or Windows Server 2012 R2.

I can post more detail if needed.

[2015-05-04 21:43] nmadhok commented on #23315
@syphernl I created a template for Ubuntu 14.04 and deployed it using the same profile that you had and I didn't not experience any problem. The configuration was created properly in ``/etc/network/interfaces`` and the NIC was connected after boot. Once thing that's different is that I didn't have any NIC on the template and I had VMware tools installed instead of open-vm-tools.

As long as the IP

[2015-05-04 22:23] cachedout commented on #23047
I can't seem to replicate this at all. This is very odd. What was the full CLI command you used?

[2015-05-04 22:42] basepi commented on #19114
Alright, have the state issue fixed as well with #23347. Once #23272 and #23347 are both merged, this will be fixed!

[2015-05-04 23:17] lorengordon commented on #19054
+1

[2015-05-04 23:33] renner opened #23349 "Add date format argument to the functions in the jobs runner module"
The netapi `/jobs` endpoint returns job start times in this format (taken from the [example response](https://github.com/saltstack/salt/blob/develop/salt/netapi/rest_cherrypy/app.py#L1024)):

[code]

This format is rather complicated to parse and it also represents a date and time in the salt master's timezone that is unknown to the caller of the API. It would therefore be better if a timestamp co

[2015-05-04 23:44] jfindlay commented on #23315
Thanks, @nmadhok.  @syphernl, if you have any further information or questions, you're welcome to comment at #23270.

[2015-05-04 23:44] #23315 closed

[2015-05-04 23:55] whiteinge commented on #23349
That output is coming verbatim from the [jobs runner](http://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.jobs.html#salt.runners.jobs.list_jobs). Adding a date format argument to that function would be a good addition. I am going to re-title this issue to reflect that.

[2015-05-04 23:58] lorengordon commented on #23294
Ok, the patch appears to work as intended. PR is https://github.com/saltstack/salt/pull/23350.

[2015-05-05 00:18] tmandry commented on #18085
Sorry, this got buried. I upgraded to 2014.7 and we haven't seen the problem since.

[2015-05-05 01:22] joehealy commented on #21317
I believe this is still an issue.

On Sat, May 2, 2015 at 2:54 AM, Nicole Thomas <notifications@github.com>
wrote:

[2015-05-05 01:52] rallytime commented on #23336
@ross-p Glad you got it figured out! :)

[2015-05-05 01:55] rallytime commented on #18085
No problem! Glad you're not hitting this bug anymore. :)

[2015-05-05 03:25] variia commented on #23294
Thanks a lot for the prompt action @lorengordon, I can also confirm that the fix is working on my production cluster.

[2015-05-05 04:46] ajmath commented on #12483
+1 to this.  Just spent the last 2 hours tracking this down and working around it.  It's a crapshoot if any of my highstates will succeed.

[2015-05-05 05:04] techhat commented on #18784
It looks like the discussion is finished here.

[2015-05-05 05:04] #18784 closed

[2015-05-05 05:51] dr4Ke opened #23355 "salt-ssh: 'sources: salt://' files from 'pkg' state are not included in salt_state.tgz"
I'm using salt version 2014.7.5 (latest stable version at this time, don't know if this issue is the same in 2015.2 branch).

My use case is that I want to use `salt-ssh` to force salt-minion installation and configuration from static packages. That's in order to control the salt update process better. I don't know if there is a better way to do it.

So, with the state `salt.minion`:
[code]
Launch

[2015-05-05 05:52] dr4Ke commented on #23355
From issue #22513
Ping @basepi

[2015-05-05 05:56] dr4Ke commented on #22513
Opened a separated issue for `salt://` for `sources:` on `pkg.installed` calls in the state system: #23355

[2015-05-05 06:28] techhat opened #23356 "Runners cause traceback in state.orchestrate"
Any time I run any orchestration using any number of runners, I get the following traceback after all of the runners are finished:
[code]
This is on develop:
[code]
To duplicate, create a runner at mytest.py:
[code]
Create a runnertest.sls:
[code]
Run it with the orchestrator:
[code]

[2015-05-05 08:04] arthurlogilab commented on #12212
@rallytime thanks for checking, on 2014.7 I don't get the traceback anymore.

[2015-05-05 08:04] #12212 closed

[2015-05-05 08:05] Reiner030 opened #23358 "Route53 check creates too many requests when highstate is called within multiple instances"
Hello,

perhaps this behavior is already fixed by new patches for https://github.com/saltstack/salt/issues/18720 or by patch of issue https://github.com/saltstack/salt/issues/23034 ...
I am using 2014.7.5 (Helium) /actual Debian packet and have in 15 instances about :

[code]

=> ~ 150 entries (I create each the public zone and 1 internal/external A record entry in an .internal and .external zone

[2015-05-05 08:07] tomasfejfar commented on #18630
Hit this on 2014.7.5

[2015-05-05 08:14] Reiner030 commented on #11497
Hi,

Problem is still open...

[code]
The "origin" state i found in a salt-template:
[code]

creates in each run a "{{ nexus.download_dir }} not found" error when the folder didn't exists.
I had to fix it to use the cwd in the command itself:

[code]
to get the state work without created tmp_dir / if no updates are available and its not created...

[2015-05-05 08:36] ekle commented on #22571
installed 2015.2.0rc2-226-gb3c50c2 looks good

[2015-05-05 08:54] BalintSzigeti opened #23359 "init.sls parsing issue"
Hello

I tried to put some comments into the sls file but the parser failed. That is the output  I got:
[code]
[code]

[2015-05-05 09:02] tnypex commented on #23356
Same issue with 2015.2.0rc2

[code]

[2015-05-05 09:55] radiumx3 opened #23360 "VMware new driver : config file credential parsing seems incorrect"
Listing vm / creating vm with salt-cloud is not relying on pyvmomi it seems but on the old pysphere.

[ERROR   ] Failed to get the output of 'vsphere.avail_images()': global name 'VIServer' is not defined.

any workaround yet ?

[2015-05-05 09:58] slafs commented on #19114
Great! Thank you! I will try to verify this with my use cases.

One question though. If I understood you correctly there's currently no way to have a GPG key on a machine where I'm invoking ``salt-ssh`` (like in the example repo I linked earlier), right? Or am I missing something?

[2015-05-05 10:03] Reiner030 opened #23361 "state webutil.user_exists - equivalent state/state option for userdel is missing?"
Hello,

for modules there are
- useradd
- useradd_all (=> whats the difference to user_add ? From documentation they are equal?)
- userdel

So it would be nice to have like for account, ssh states an option:
- present: False
- absent: True

It would be also nice to have an explicit "already encrypted" option... which is/can be the same functionality as
- p Do not encrypt the password (plaintext).

[2015-05-05 10:09] claudiupopescu commented on #23026
Nice, I guess this fixes issue #19957

[2015-05-05 10:24] boltronics commented on #21548
I've just been banging my head against this problem trying to setup a new staging environment, not knowing what the heck the problem was (as I have many similarly named pillar and state files). I'm seeing this in 2014.7.5, currently in the repos. I can't run highstate without getting the "State... is not formed as a list" errors, which unfortunately pretty much renders this release useless. This i

[2015-05-05 10:28] stardust85 commented on #22820
pkgrepo also looks OK now http://docs.saltstack.com/en/latest/ref/states/all/salt.states.pkgrepo.html

[2015-05-05 11:15] kleinsasserm commented on #21548
All I can say is, that we are using salt 2015.2.0rc1 (Lithium) since my last post. All we are using from salt is working for us in this version...

[2015-05-05 11:26] Reiner030 commented on #23361
workaroud:

[code]

[code]

The state gave a Warning but it works within Debian without problems to set unencrypted passwords:
[code]

[2015-05-05 11:45] donatello commented on #18569
Thanks for reporting this. I am also affected, but I am setting max files now to 4096 - this seems to solve it for now.

[2015-05-05 12:03] tehmaspc commented on #12483
FWIW, here is what my team does to pull out env from git branches but equally importantly to keep us from having to change our top.sls env files:

We have a template file ('env_top.sls') in our salt master formula that looks like the following:

env_top.sls:
[code]

base_top.sls:
[code]

This file gets layed down for every env we desire with the following state code in this same salt master formul

[2015-05-05 12:08] pruiz opened #23364 "Unable to destroy host using proxmox cloud: There was an error destroying machines: 501 Server Error: Method 'DELETE /nodes/pmx1/openvz/openvz/100' not implemented"
Hi,

While testing salt-cloud's proxmox provider I've found I cant destroy/delete a host due to the following error: There was an error destroying machines: 501 Server Error: Method 'DELETE /nodes/pmx1/openvz/openvz/100' not implemented

By looking at the request it looks like 'openvz' is being passed twice as part of the resource URI.

I think I've spotted the error and I will be sending a pull-r

[2015-05-05 12:17] pruiz commented on #23364
Ok, I've just checked develop and it looks like it is fixed.

I am closing this issue.

[2015-05-05 12:24] HontoNoRoger opened #23365 "salt-master process stuck after upgrade"
I'm currently having an issue with a stuck salt-master process after a salt-master upgrade.
I installed it via the Ubuntu repository.

This problem occurred several times after an upgrade, I guess not all salt-master processes are terminated correctly when performing `apt-get dist-upgrade`?

**Current version information:**

[code]

**Process list:**

[code]

The following strace log is from the w

[2015-05-05 13:40] lisa2lisa opened #23370 "salt artifactory.downloaded module ignore classifier"
salt --versions-report
[code]
salt-minion --version
[code]
state.sls file
[code]
basing on the state.sls file, the following url is the jar you want to download:
[code]
but the actual download file is:
[code]
the debug info is following
[code]

[2015-05-05 13:45] nmadhok commented on #23360
@radiumx3 What version of Salt are you using? If you are using Salt installed from the latest develop branch, you should already have the vmware cloud driver and be able to use that. If not then you can simple ``curl/wget`` the vmware driver from https://raw.githubusercontent.com/saltstack/salt/develop/salt/cloud/clouds/vmware.py and put it under the salt folder under ``site-packages`` typically a

[2015-05-05 13:47] nmadhok commented on #23270
@indispeq @syphernl Can i get an update from you both on this? Did you try the suggestions?

[2015-05-05 13:59] DmitryKuzmenko commented on #23196
Got it.

[2015-05-05 13:59] lorengordon opened #23371 "salt-call.exe traceback when using `pip install salt` on Windows"
I'm not sure if `pip install salt` should result in a working salt install on Windows at the moment, but I think it would be nice if it did. It does actually complete the installation, but running salt-call.exe generates a traceback.

[code]

[2015-05-05 14:04] DmitryKuzmenko commented on #23240
Sorry, I incorrectly understood the comment line about ZMQ version:

    # support pyzmq 13.0.x, TODO: remove once we force people to 14.0.x

I'll fix it.

[2015-05-05 14:05] indispeq commented on #23270
Hi @nmadhok . I tested for a few hours yesterday night and your suggestions seem to have worked. I think my issue was with the template and the tools. I did it with a NIC in the template:
After making a symlink /etc/dhcp3 to /etc/dhcp in the template. (known issue in ubuntu 14.04 as per the vmware kb)
- dhcp IP + vmware tools -> works
- static IP + vmware tools -> works

Open-vm-tools does not wor

[2015-05-05 14:16] nmadhok commented on #23270
@indispeq Thank you for the confirmation! I will also try using ``open-vm-tools`` and see if I can reproduce the same error that you're having. It probably takes 7-8 minutes because your template might be doing updates and installing vmware tools/open-vm-tools otherwise if you specify ``no`` when you install vmware-tools when it asks you if you want to do automatic update, the deployment and insta

[2015-05-05 14:18] radiumx3 commented on #23360
Well I just seen in the doc, that vmware plugin will be availible in Beryllium version. I'm in Helium atm.

So you're telling me if I paste this driver i'll be able to test the new feature on helium version ? Or do I have to upgrade to Dev branch first ?

[2015-05-05 14:26] tnypex opened #23373 "reactor/orchestrate race condition on salt['pillar.get']"
Hi all,

with `2015.2.0rc2`

I have the following reactor sls that calls an orchestrate runner:
[code]
When running test.ping on multiple minions (3 in this case)
the reactor sls is rendered fine 3 times :
[code]
[code]
[code]

however, the orchestrate runners will not always get the correct pillar data (it will sometimes get an empty value, sometimes an other orchestrate runner's pillar data, som

[2015-05-05 14:29] nmadhok commented on #23360
@radiumx3 That's correct that it will be available in Beryllium version. But if you put this driver at ``site-packages/salt/cloud/clouds/vmware.py`` using the current Salt version that you're using, you should be able to use the driver functionality. Does that answer your question?

[2015-05-05 14:39] cachedout commented on #22770
@cetra3 I tested this against the develop branch and against 2015.2 and it seems to work fine in both cases. Could you confirm?

[code]

[code]

[2015-05-05 14:40] CedNantes commented on #23312
I know this issue is closed but... if i'm using the same profile i get :

The following exception was thrown by libcloud when trying to run the initial deployment:
'image'
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/salt/cloud/clouds/vsphere.py", line 221, in create
    template = conn.get_vm_by_name(vm_['image'])
KeyError: 'image'
Error: There was a profile error:

[2015-05-05 14:42] cachedout commented on #22029
Since we haven't received a reply here and it sounds like this is fixed, I will go ahead and close this issue. Thanks, all.

[2015-05-05 14:42] #22029 closed

[2015-05-05 15:00] nmadhok commented on #23312
@CedNantes Looking at the traceback, it looks like you're still using the old vsphere driver instead of the vmware driver which makes sense if you're using a stable version of Salt. The vmware cloud driver will be available in the Beryllium release of Salt. If you want to use the vmware cloud driver, you can either update the salt version you're running to the latest salt develop version or you ca

[2015-05-05 15:05] cachedout commented on #21986
@numkem Yes, those two commands operate on completely different caches. The runner command is the one we want here. Can you please try this again and after running ```salt-run cache.clear_all tgt='*'``` post the contents of ```/var/cache/salt/minions/<dead_minion_in_question>```?

[2015-05-05 15:17] rallytime commented on #12212
Great! Thanks!

[2015-05-05 15:18] boltronics commented on #21548
Thanks @kleinsasserm. In that case, I might give it a try if building packages for it isn't too different and nobody can offer a better solution.

It's extremely annoying that this has happened a few times now - we can't use older versions in production due to a security issue, but current versions are broken. It really makes us lose trust in the project. Can't Salt just have a stable release bran

[2015-05-05 15:26] cachedout commented on #23278
Fixed by #23279.

[2015-05-05 15:26] #23278 closed

[2015-05-05 15:26] rallytime commented on #22571
Great! I am going to close this then. If it pops up again, leave a comment and we can open this again and address any additional issues. Thanks!

[2015-05-05 15:26] #22571 closed

[2015-05-05 15:44] DmitryKuzmenko commented on #23196
@cedwards I'll investigate this issue, but it would take time. Meanwhile you can try workaround it by increasing OS UDP buffer size to 64MB as suggested in #16502. In FreeBSD it could be done by

    sysctl -w kern.ipc.maxsockbuf=67108864

for immediate update and by adding the following to the `/etc/sysctl.conf`:

    kern.ipc.maxsockbuf=67108864

[2015-05-05 15:45] rallytime commented on #23364
@pruiz Glad that this is fixed on develop and thanks for looking into this. If you end up finding where the fix was and it is a relatively simple fix, maybe we should backport it and get it into a release branch, or apply the fix to 2014.7 or 2015.2?

[2015-05-05 16:32] cachedout commented on #23157
@jodv Thanks for the excellent synopsis here. I have a few comments.

This limitation of blacklists isn't really unique to the splay module. There are many, modules which cross-call each other. Your analysis of the master-side limitation of client_acl blacklists here is dead-on. In fact, this quickly becomes a fairly unwieldly dependency graph as any single salt module function can result in many

[2015-05-05 16:41] ek-dyoder commented on #10948
Ok, so I have a little more information I'd like to contribute here. I know that software installation doesn't work on Windows clients, but when it does work, I foresee problems.

Windows doesn't have a package manager (yet), so it doesn't work the same way as apt-get, yum, etc. On Windows machines, especially when installing an MSI, the installer software accepts arguments that **modify the insta

[2015-05-05 16:56] bricewge commented on #17245
I tried the latest commit on the branch 2014.07 and it doesn't fix the issue, `/etc/locale.gen` is not edited, but it work on Debian.
Maybe it's comming from the formatting of `/etc/locale.gen`, in Archlinux it is like this:
[code]
Whereas is Debian it is:
[code]

[2015-05-05 17:02] carolynvs commented on #10948
I ended up ditching the pkg module and writing my own called choco. It uses chocolatey ("apt-get for windows") and better handles being stateful.

We sometimes use the public chocolatey packages on chocolatey.org and otherwise all internal apps, special builds, custom install scripts, etc all go into custom packages on our internal chocolatey feed. Works pretty well so far.

[2015-05-05 17:03] lorengordon commented on #10948
I actually have had quite a bit of success installing software on Windows with salt's windows package manager, so it's probably a *little* too broad to say software installation doesn't work with Windows clients at all.

As for controlling parameters that may vary per minion, they've been working on adding rendering support to salt's windows package manager, so you could write the sls for the pack

[2015-05-05 17:06] lorengordon commented on #10948
The templating support only appears to be in the develop branch at the moment, via https://github.com/saltstack/salt/pull/22675.

[2015-05-05 17:13] steverweber commented on #21607
+1

[2015-05-05 17:24] steverweber commented on #21607
the issue seems to be that pip only has version 0.1.7
[code]

where 0.1.8 is needed
[code]

to workaround this...
[code]

[2015-05-05 17:28] lorengordon commented on #10948
You'll also see in the documentation for the [pkg.installed state](http://docs.saltstack.com/en/latest/ref/states/all/salt.states.pkg.html#salt.states.pkg.installed) that as of version 2014.7.0, it supports an `allow_updates` parameter that would appear intended to address the other issue described here.  From the doc:

**allow_updates**

[2015-05-05 17:32] ek-dyoder commented on #10948
@lorengordon Thanks for the allow_updates bit - that seems pretty useful and I totally missed that my first time through the documentation. However, how did you get applications to install on Windows minions using salt's pkg.install? I can't get it to work, and if I'm not mistaken, that's much of what this issue is about...

@carolynvs - I'm going to have to look more into chocolatey. Once I ran s

[2015-05-05 17:34] steverweber commented on #21607
https://github.com/saltstack/salt/pull/23384

[2015-05-05 17:35] steverweber commented on #22686
perhaps related
https://github.com/saltstack/salt/issues/21607

[2015-05-05 17:45] dneff commented on #20949
@aurynn - I had the same issue, caused by an outdated version of `six` installed by my distro (CentOS 7). I resolved this by forcing an update via pip:

`sudo pip install six --upgrade`

That bumped me up to 1.9.0 which resolved the problem.

While debugging, a simple test was to launch the python interactive shell, then import docker:

`$ python`

`>> import docker`

[2015-05-05 18:12] lorengordon commented on #10948
Ahh, well, my own work has been on masterless environments, so some of my experience may not translate perfectly. But here's my general setup...

My directory hierarchy:

[code]

That directory structure drives my `file_roots` configuration:

[code]

In the emet_pkg directory is an `init.sls` straight from [salt-winrepo](https://github.com/saltstack/salt-winrepo/blob/master/emet.sls):

[code]

The

[2015-05-05 18:31] rallytime commented on #19957
@claudiupopescu Can you let us know if #23341 resolves this issue as well, once it gets merged in?

[2015-05-05 19:08] profburial commented on #19177
As a note to anyone else trying to debug this issue, it's most likely that the minion ran out of memory. Check your `/var/log/syslog` and you will likely see that InnoDB cannot allocate memory for the buffer pool.

Also, setting your debconf for a password-less install is handy:

[code]

Not a problem with salt, just MariaDB needing more memory to install.

[2015-05-05 19:45] adambarnett52 commented on #22357
Has there been an progress in this?

[2015-05-05 19:49] rallytime commented on #23101
@gravyboat Please take a look at the doc I've added in the PR above and let me know if you have any feedback. Thanks!

[2015-05-05 19:57] rallytime commented on #23340
Thanks for the report @philipsd6. It looks like you're running this off of the develop branch. I am wondering if perhaps the transport changes @jacksontj made somewhat recently are causing things. What do you think, @basepi?

[2015-05-05 20:02] rallytime commented on #23355
Thanks for filing this new issue @dr4Ke!

[2015-05-05 20:05] rallytime commented on #23343
Hrm...I thought we had fixed this one already. But perhaps it has regressed. See the discussion in #18647.

[2015-05-05 20:16] V3XATI0N commented on #23047
this was just
[code]

[2015-05-05 20:17] V3XATI0N commented on #23233
Both top master and syndic master are Ubuntu 14.04.2

[2015-05-05 20:20] VynceMontgomery commented on #22820
http://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.fsutils.html#module-salt.modules.fsutils still loads as blank rather than a more helpful 301 or even 404. I no longer see it linked anywhere, though, and since i don't know what it did, i have no way of knowing what replaces it.

the two different lists of modules sill exist, and that's still confusing, but that's not really part of

[2015-05-05 20:22] cachedout commented on #22908
This was actually already present but just needed a small fix to the state compiler to make it functional. I've made the necessary change in #23389. After that is merged, ```failhard``` will work in orchestrations.

[2015-05-05 20:25] cachedout commented on #23023
@joehealy Just a friendly hello and ping on the Debian 7 stuff you mention above. Thanks!

[2015-05-05 20:29] VynceMontgomery opened #23390 "Documentation Next / Previous links sometimes nonlinear or worse"
e.g., from http://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.pkg.html
next goes to http://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.aliases.html
but that page's previous goes to http://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.zypper.html
and that page's next goes to http://docs.saltstack.com/en/latest/ref/netapi/all/index.html

(This would be less of

[2015-05-05 20:31] belvedere-trading opened #23391 "pillar.item "key" and pillar.get "key" can return different results"
When pillar data is updated pillar.get seems to still return the old data, while pillar.item returns the new data.  Pillar.get returns the outdated pillar information even after issuing a saltutil.refresh_pillar or a saltutil.clear_cache.  Restarting the minion seems to resolve the issue.

Tested with the following:
- salt 2015.2.0rc2
- CentOS 6.6 salt master
- @40 CentOS 6.2-6.6 minions
- @70 Win

[2015-05-05 20:35] joehealy commented on #23023
thanks for the reminder - its been a bit of a zeromq morning.

This just came through:

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=784366

and I'll backport/upload after this patch has been applied (not expecting
it to be long as patch is available). I'll be doing it for the official
debian backports too.

Thanks,

Joe

On Wed, May 6, 2015 at 6:25 AM, Mike Place <notifications@github.com> w

[2015-05-05 20:36] ryan-lane commented on #11762
Awesome!

[2015-05-05 20:37] cachedout commented on #23023
@joehealy Thanks as always!

[2015-05-05 20:39] cachedout commented on #22770
Though on closer inspection, something is definietely wrong here. Some sort of deep recursion is happening and the top file is being re-compiled hundreds of times in this scenario.

[2015-05-05 21:01] gravyboat commented on #23101
@rallytime Those look fantastic double :thumbsup: from me! Really transparent regarding labels which is awesome! Is there any way we can update the labels page on Github with a link to that page? As far as I know there isn't a way to do so

[2015-05-05 21:07] tbaker57 commented on #23359
Hi,

Comments in .sls files won't prevent jinja being parsed. In order to do that, you'll need to use the 'jinja' equivalent of a comment {# ... #} (or  ## for 'line' comments if you use Jinja >= 2.2)

cheers,
Tim

[2015-05-05 21:08] pruiz commented on #23364
Sore, If I am not wrong, the changeset fixing this issue should be: https://github.com/saltstack/salt/commit/5927138f49be283cb051b5777a25636120be22a3

[2015-05-05 21:09] whiteinge commented on #23390
Yes, this is indeed annoying. There's an older issue #14394 that is tracking this change. I'm going to close in favor of that and add your "up" link suggestion (which would be great).

[2015-05-05 21:09] #23390 closed

[2015-05-05 21:10] whiteinge commented on #14394
Looping in @jacobhammons. Also @VynceMontgomery suggested adding an "up" link, which would be a great addition. I don't know, offhand, what is available in Sphinx's Jinja context to enable this but I'll bet it is possible.

[2015-05-05 21:23] basepi commented on #19114
Your example repo works. The interesting interaction is the minion opts. Basically, when we compile pillar or states, we're using the minion opts in the renderers. So the gpg_keydir wasn't making it down to that set of opts, even though the actual rendering was happening on the master.

So I think your example should work fine, you just need to make sure the `gpg_keydir` is specified under the `ss

[2015-05-05 21:24] #22908 closed

[2015-05-05 21:26] basepi commented on #23340
ZMQ should definitely not be required for salt-ssh, and this is in fact probably a side effect of the new transport system. We'll get it fixed.

[2015-05-05 21:30] basepi commented on #23101
I don't think there's a way either, unfortunately.

[2015-05-05 22:04] a-wildman commented on #22811
Bouncing the keys on all of our minions made whatever the underlying problem was go away -- so unfortunately I'm unable to reproduce it (and generate a traceback).

While I appreciate that sys.exit *technically* raises an exception, library modules should probably stick to raising something inheriting from Exception, IMHO ;)

[2015-05-05 22:07] cetra3 commented on #22770
@cachedout I'll have a look and see if I can replicate it with my setup.

[2015-05-05 22:08] cachedout commented on #22811
Yes, fair enough. I agree.

We just need to move the sys.exit call up a few layers and keep the Salt API easy to use. We'll take care of it. :]

[2015-05-05 22:09] blbradley commented on #18311
Hi! I think I'm experiencing this bug on Debian Jessie as well. I'm using Debian packages from [Mesosphere](https://mesosphere.com/) which include ZooKeeper. They only support disabling services with `update-rc.d` because they do not support Wheezy yet. While trying apply `service.dead` with `enable=False` to the zookeeper service, the service is stopped but not disabled. When using the `debian_se

[2015-05-05 22:11] thatch45 commented on #12483
Some crazy lie somehow got into the docs a while back and it has cause many issues. We will fix the docs.

[2015-05-05 22:45] radiumx3 commented on #23360
Yep thanks for support, I close this, I test this tommorow and get back to you if i have further questions.  :+1:

[2015-05-05 23:02] jfindlay commented on #17245
This is the code in the locale module.

[code]

This will match both `#es_UY.UTF-8 UTF-8` and `# es_UY.UTF-8 UTF-8`, however it seems that your `/etc/locale.gen` sample from arch has trailing whitespace in it.  We could generalize the search pattern to `r'^\s*#\s*{locale}\s*$'`.

[2015-05-05 23:11] msteed commented on #17006
I'd like to get to the bottom of this. So far I haven't been able to reproduce the problem. I have tried 2014.1.10, 2014.7.0, and other more recent builds, using both pygit2 and GitPython. I have the git ```fileserver_backend``` with 8 repos in ```gitfs_remotes```. I can see that gitfs is getting hit pretty hard.

In all my tests the memory usage has remained steady. I'd like to work with someone

[2015-05-05 23:22] mgwilliams commented on #17006
@msteed are you running something on a schedule in addition to using gitfs? I haven't looked into this in months, but that was my setup at the time.

[2015-05-05 23:23] sambev commented on #22357
@adambarnett52 I had to move on to more pressing matters. I never figured out the launchctl changes that came with 10.10. It looks like load and unload are deprecated along with -x so I think some sort of version check may be required. Although someone with more OSX experience might know an easier way.

I found some good discussion on the matter here:
https://github.com/Homebrew/homebrew/issues/33

[2015-05-05 23:35] jfindlay commented on #23242
Sounds good to me, thanks @baconz.

[2015-05-05 23:36] jfindlay commented on #23269
@matthayes, thanks for the report.  We would need to formally deprecate `empty_password` in favor of `disabled_password`, but it should be a simple change.

[2015-05-05 23:37] cachedout commented on #23242
So if I'm reading this right, you'd want ```G@roles:datacenterA``` to be merged into the ```tgt``` argument in each applicable state?

[2015-05-05 23:41] jfindlay commented on #23316
@antonakv, thanks for the report.  Perhaps a call to [`dns_check`](https://github.com/saltstack/salt/blob/v2014.7.5/salt/utils/__init__.py#L523) in the minion setup would solve this.

[2015-05-05 23:41] baconz commented on #23242
Yeah, that's the idea. The target would be the intersection of the tgt
argument and the passed targets.
On Tue, May 5, 2015 at 19:37 Mike Place <notifications@github.com> wrote:

[2015-05-05 23:43] cachedout commented on #23242
Could the same thing be accomplished simply be targeting the minions in the state file itself and then using a ```failhard: True```? I'm not clear on what the benefit of merging data from the CLI would be. Could you clarify?

[2015-05-05 23:50] jfindlay commented on #23317
@kiorky, thanks for researching this issue.  I have read your linked comment but am not familiar with the details enough to understand.  Is it possible for you to create a minimal working example to demonstrate the problem you're seeing?

[2015-05-05 23:52] baconz commented on #23242
The idea is that the state file is global and re-usable. You might target a
set of machines based on their roles in the state file and then filter
further by location at runtime. Is there another way to accomplish this
without making a state file for each location?
On Tue, May 5, 2015 at 19:44 Mike Place <notifications@github.com> wrote:

[2015-05-05 23:56] jfindlay commented on #23321
@bc-23, thanks for researching this.  This looks like an upstream bug to me.  Have you talked to anyone working on jinja yet?

[2015-05-06 00:01] jfindlay commented on #23327
@andrejohansson, thanks for the report.

[2015-05-06 00:02] msteed commented on #17006
Yes @mgwilliams, sorry I forgot to mention that I am using your ```schedule.conf```.

[2015-05-06 00:04] saltbuildmaster commented on #11762
@ryan-lane I hadn't seen this feature request when I wrote #23386, how do you feel about how I implemented the structure in the sls files? One goal was to make it a one line addition.

[2015-05-06 00:05] jfindlay commented on #23337
@llb42, thanks for the report.

[2015-05-06 00:09] ryan-lane commented on #11762
Should be fine.

[2015-05-06 00:14] jfindlay commented on #23342
@philipsd6, thanks for the report.  That is strange that it would get past the `salt.utils.which('lspci')` statement.  Will you paste the output of `salt-ssh -l trace -W --pcre server01 cmd.run hostname`?  Thanks.

[2015-05-06 00:22] jfindlay commented on #23358
@Reiner030, thanks for the report.  I am not sure what is going on here, but it seems that the code here could be optimized in order to avoid this.

[2015-05-06 00:24] jfindlay commented on #23359
Thanks @tbaker57.  @BalintSzigeti, what happens when you use the jinja comments @tbaker57 suggests?

[2015-05-06 00:28] gtmanfred commented on #11762
@utahdave [just fine](https://www.youtube.com/watch?v=rjQtzV9IZ0Q)

[2015-05-06 00:30] jfindlay commented on #23361
@Reiner030, thanks for the report.

The difference, which is not documented, is that `useradd` calls `useradd_all` and only returns the stdout rather than the full salt return.

[2015-05-06 00:33] jfindlay commented on #23365
@HontoNoRoger, thanks for the report.  I'm not sure what is causing this, but hopefully it's not too hard to get the installer/service scripts to kill the old processes.

[2015-05-06 00:38] jfindlay commented on #23370
This seems to be yet another unfortunate consequence of us only giving attention to documentation on the develop branch.  The `classifier` is available on develop but not 2015.2.  We are working on a better documentation system, but I am not directly involved with that effort, but it should be available in the next few months.

[2015-05-06 00:40] jfindlay commented on #23371
@lorengordon, thanks for the report.

[2015-05-06 00:46] jfindlay commented on #23373
@tnypex, thanks for the report.

[2015-05-06 00:48] jfindlay commented on #23391
@belvedere-trading, a patch with the changes you describe would be most welcome.

[2015-05-06 00:52] UtahDave commented on #23371
You need to make sure all the dependencies are installed
On May 5, 2015 7:59 AM, "Loren Gordon" <notifications@github.com> wrote:

[2015-05-06 00:57] trevor-h commented on #23303
This seems like a dupe of https://github.com/saltstack/salt/issues/14150.

I'm wondering if killing a job via cmd.script will be possible with a forthcoming fix to this issue? (per @olliewalsh  https://github.com/saltstack/salt/issues/14150#issuecomment-91042266). Would killing the job account for the particular child processes?

In the case of cmd.script running with shell=powershell I see a cmd.

[2015-05-06 01:03] lorengordon commented on #23371
@UtahDave, which would be what? `pip install salt` installed several things as dependencies. Does that imply there's a packaging issue, where a required dependency is not being installed automatically via pip?

[2015-05-06 01:06] c4milo commented on #8684
I'm having this same issue. I had to use `gitpython` because getting `pygit2` installed on Ubuntu Trusty is a pain in the butt.

Here is my config:

[code]

I have my deploy key under `/root/.ssh/id_rsa`

After adding `StrictHostKeyChecking no` in `/root/.ssh/config` the host warning went away but I'm now getting this error:

2015-05-06 01:00:25,735 [salt.loaded.int.fileserver.gitfs][ERROR   ] Exc

[2015-05-06 01:10] cro commented on #23172
@danielgblanco -- what version of apache-libcloud do you have installed?

[2015-05-06 01:17] pruiz commented on #23364
I just found a gotcha on current develop code: destroy fails if the host is not running/has already been stopped with:

[ERROR   ] There was an error destroying machines: 500 Server Error: CT 100 not running

Looks like it tries to stop the node, but as has yet been stopped.. it goes kaboom.. ;)

[2015-05-06 01:23] pruiz commented on #23364
Yeah, confirmed, the call to 'stop' withing destroy(..) should be wrapped by a condition like:

[code]

[2015-05-06 02:48] samart opened #23400 "Beacon Control - Pause beacons during state/highstate"
It should be possible to pause beacons during a state run.   We would like to pass an option to a state run, or include pillar data that controls this.

we are using beacons to watch files under management, and if they change, run a state.sls that puts them back into an expected state.  this does not currently work as expected, since this will cause salt to endlessly loop

While there are workarou

[2015-05-06 02:52] samart opened #23401 "Custom Ext Pillars should be injected with __salt__ or allow resource management"
We are trying to initialize an http connection pool (request futures) in a custom http pillar, but there is no hook to hold onto any re-useable resource (db, http, etc connections)

we are currently using the opts dictionary hold the connection pool, but this is a hack and it still starts up N pools, instead of 1.  can dunder __salt__ be made available so we can effect a singleton of sorts by usin

[2015-05-06 02:54] number5 commented on #22462
have the same issue here

[2015-05-06 02:57] samart opened #23402 "Document how to purposefully fail a state run if Pillar requirements are not met"
If you throw an exception in a custom ext_pillar, highstate still runs.  Is it possible to control this behavior somehow, or by default, fail the state run due to this?

This could lead to data integrity issues?

There are workarounds, but it would be nice if there was some native way to stop on errors.

[2015-05-06 03:05] thatch45 commented on #11995
We just merged some code that deprecates the need for m2crypto.  So we can start on full py3 support

[2015-05-06 03:09] cro commented on #23172
Good news, I can reproduce this, down to the odd behavior of the salt-master being started via initscript vs on the command line.  I'll see what I can do to fix it in the morning.

[2015-05-06 03:29] drawsmcgraw commented on #22780
@techhat I gave `salt-cloud -a show_instances <vm_name>` a shot but couldn't get it to produce a password.

However, given that my Openstack isn't even injecting keys into the instances, I'm going to go ahead and take a guess that it *is* providing a password, which is causing the behavior I'm seeing in Salt.

Since I think the problem lies in my Openstack deployment, I'll go ahead and close this

[2015-05-06 03:29] #22780 closed

[2015-05-06 03:31] cro commented on #23172
One last note--if I change the shebang line in the initscript to /bin/bash instead of /bin/sh, this problem goes away.  Something must be established in the environment under bash, but not sh, that makes this surface.  More tomorrow.

[2015-05-06 03:50] rallytime commented on #23101
I don't know of one either. @gravyboat - this one good to close?

[2015-05-06 04:02] rallytime commented on #23364
@pruiz I think you're right about the changes you linked in your first comment since I labeled everything. However, it looks like that change *did* make it into the 2015.2 branch. (The line on the 2015.2 branch is [here](https://github.com/saltstack/salt/blob/8837d0038e422189101ad5d8050c37d9df321edf/salt/cloud/clouds/proxmox.py#L848))

It would be awesome if you'd like to submit a pull request wit

[2015-05-06 04:43] boltronics commented on #21548
I skipped ahead to 2015.2.0rc2.

Just spent a few hours building the packages for Wheezy (since I had to package python-libcloud 0.14.1 to satisfy dependencies). I basically took the debian directory from 2014.7.5+ds-1~bpo70+1 and the rest from the 2015.2.0rc2-1 tagged release, removed one of the patches which was no longer necessary and updated the changelog, which actually worked pretty well.

[

[2015-05-06 04:50] iamfil opened #23403 "salt.runners.cloud.action fun parameter is replaced"
When using salt.runners.cloud.action with Reactor, the fun argument is replaced. For example, the following sls should rename a ec2 instance:
[code]
but instead it will fail with:

[code]

This occurs because https://github.com/saltstack/salt/blob/develop/salt/state.py#L549 replaces the fun specified in the sls with cloud.action.

Changing the 'fun' parameter in http://docs.saltstack.com/en/latest

[2015-05-06 05:14] boltronics commented on #21548
Same deal on 2014.7.1.
[code]

[2015-05-06 05:29] kleinsasserm commented on #21548
Our pillar files resides in an own path, eg. /srv/pillar
Theres the top.sls:
[code]

We are generating all pillar files via script. Therefore the nantan.sls is generated by script and filled with the generated pillar.sls:
[code]

Inside the pillar sls for example ou-test-net10.sls the pillars are set:
[code]

Overall we have 196 sls files for 458 server. We are not using salt for configuration man

[2015-05-06 05:42] boltronics commented on #21548
Thanks @kleinsasserm for that quick response. Interesting approach you have, but looks good to me. I've just finished packaging 2015.2.0 and am about to test that.

I basically dumped all states from our production git repo into this new staging setup, so I know the states are good. But many depend on pillar data and it's possible I didn't add everything required by those states. The original plan

[2015-05-06 05:50] boltronics commented on #21548
I can even reproduce this in 2014.7.0.
[code]

This time it was working correctly for a while so I thought we found a winner here. But no, it just took some time for the symptoms to show.

[2015-05-06 05:51] kleinsasserm commented on #21548
Good idea to fit it together step by step. It took us a whole day to get the yaml sls files correctly structured with the needed information. Why? Theres more than one way to organize the sls files -- we had the problem, that the parsers wasn't able to parse the sls files if the `{% if }` part contains to long lines, to much lines or the sls files are too long and so on and so on... resulting in p

[2015-05-06 05:53] boltronics commented on #21548
Yaikes! That would have been a hard one to diagnose for sure.

[2015-05-06 06:02] boltronics commented on #21548
I think we've got a winner!
[code]

Actually, I knew that would work if it really was a bug in Salt itself and not some weird environment issue on the machine itself, since I use that same packaged version elsewhere without issue (although I really need those security updates...). So I guess the msgpack-python version isn't related after all.

But it's absolutely amazing there have been so many re

[2015-05-06 07:34] bc-23 commented on #23321
No, I have thought the issue is somewhere when the object is given to jinja, but yes, the issue could be in jinja.
Another interesting point I found during some tests:
When I add new attributes to the class in the class context, I can see the attributes in jinja, but they are empty and have not the set value.

[2015-05-06 07:37] garo commented on #14480
I was also looking for being able to define Id in the pyobjects format. Definitively +1 from here, pyobjects is an excellent way to define SLS files.

[2015-05-06 07:42] thedrow opened #23405 "Memory Debug Mode"
Since bugs like #17006 have proven to be very hard to reproduce I think that we should introduce a memory debug mode in Salt which will periodically report memory usage per object.
[Pympler's tracker module](https://pythonhosted.org/Pympler/muppy.html#the-tracker-module) can assist a lot in implementing such mode.
The entire module can help track memory leaks in Salt and will allow to debug and re

[2015-05-06 07:47] thedrow commented on #23405
Ref #23167, #19999, #19439, #17956

[2015-05-06 08:12] bricewge commented on #17245
Nice, now it edit the `/etc/locale.gen` but `salt '*' locale.gen_locale "ca_ES.UTF-8 UTF-8"` did this `ca_ES.UTF-8 UTF-8#ca_ES ISO-8859-1` witch `locale-gen` don't like.

[2015-05-06 08:12] CedNantes commented on #23312
Thanks for the answer, i'm currently trying the vmware.py driver since the old ones let me duplicate from a template but won't let me change ip address or add and customize devices. I could only get a simple clone. Now with the vmware.py driver i suppose i've to change the provider in /etc/salt/cloud.providers/vmware.conf from "vsphere" to "vmware" but it's causing me an "invalid username/password

[2015-05-06 08:18] boltronics commented on #21548
Scratch that. I was finally able to trigger the problem on 2014.1.13 as well! It just took a very long time to show itself. Argh!! Okay, so it's probably something special about my environment. But this is a completely clean Wheezy install (although some components were upgraded to support the newer version of Salt I was originally going to use). How frustrating.

[2015-05-06 09:25] pruiz commented on #23364
@rallytime Sure, I'll make a pullreq. Should it be against develop and/or 2015.2?

[2015-05-06 09:31] radiumx3 commented on #23360
@nmadhok    just did the import, but it seems there is another kind of issue, let me explain :

I manage to list images with vsphere driver, then i switch the provider conf file with this :

Hostname:
  provider: vmware
  user: dmn\user
  password: longpw
  url: my.url

I get this :+1:

salt-cloud starting
[ERROR   ] Failed to get the output of 'vmware.avail_images()':
Could not connect to the vCe

[2015-05-06 09:57] danielgblanco commented on #23172
Thanks @cro. I'm using apache-libcloud 0.14.1, the latest one (0.16.0 when I tested this) did not work with GCE...

[2015-05-06 10:29] garo commented on #12483
This is also problematic for us: What we want is to have base environment to follow the master branch and then a separated production branch. The idea is that every change goes first to the master branch where it's tested against few servers. If it works it's then rebased to production which the majority of our severs follow.

Note that all our virtual machines / servers described here are getting

[2015-05-06 10:30] garo commented on #20407
If the merge feature will not be fixed then this should be implemented as it should give a good workaround to the underlying issue.

[2015-05-06 11:01] syphernl commented on #23270
What is odd is the fact that if I manually clone a VM (with `open-vm-tools` & no symlinks for dhcp) the IP does show up pretty fast. But same can be said about the fact that the "connect on boot" checkmark remains checked in the cloned machine (same as the template)

I'll test it with no NIC, "vmware tools" and the symlink..

[2015-05-06 11:02] hvnsweeting commented on #22822
yes, I'm closing.

[2015-05-06 11:02] #22822 closed

[2015-05-06 11:24] Narcolapser commented on #18958
Crashed again running 2014.7.5. Had pretty typical behavior. Except this time everything froze for a second, then unfroze. I kept working but very quickly noticed that most programs refused to open, I couldn't navigate to any web pages, etc. The issue like I've had before where existing connections work, but I can't make new ones. I tried with Chrome and IE just to be sure it wasn't FF. Chrome cra

[2015-05-06 11:55] syphernl commented on #23270
Yep, with the above changes it does appear to work just fine. Although its not preferable to have the "legacy" vmware tools.

[2015-05-06 12:01] lorengordon commented on #23371
Ok, got it. Right now, `pip install salt` installs the following packages:

[code]

If I also install pypiwin32 (`pip install pypiwin32`), that resolves the traceback.

Would it make sense to add the pypiwin32 requirement to setup.py, where WMI gets included for windows platforms?

https://github.com/saltstack/salt/blob/develop/setup.py#L731

[2015-05-06 12:23] BalintSzigeti commented on #23359
hello

the 'line' comment doesn't work:
[code]
The {#....#} works. It wasn't obvious for me when I read the docs but probably I missed it. Can you link here the relevant section from the documentation?

[2015-05-06 12:31] oyermolenko commented on #23047
I have the same issue:
syndic environment 214.7.5 : from MasterofMasters ...
root@vpn10> salt *.W0M00001@plink.vpn test.ping -b 10

Executing run on ['SLAVE-A10.W0M00001@plink.vpn', 'SLAVE-B6.W0M00001@plink.vpn']
SLAVE-B6.W0M00001@plink.vpn:
    True
SLAVE-A10.W0M00001@plink.vpn:
    True

Executing run on [{'PROXY.W0M00001@plink.vpn': {'ret': True}}, {'ACS.W0M00001@plink.vpn': {'ret': True}}, {'M

[2015-05-06 12:34] oyermolenko commented on #23047
PROXY ~ rpm -qa | grep salt
salt-minion-2014.7.5-1.el6.noarch
salt-master-2014.7.5-1.el6.noarch
salt-syndic-2014.7.5-1.el6.noarch
salt-2014.7.5-1.el6.noarch

PROXY ~ rpm -qa | grep zero
zeromq-4.0.5-1.el6.x86_64

PROXY ~ rpm -qa | grep python-zmq
python-zmq-14.5.0-2.el6.x86_64

[2015-05-06 12:44] bemeyert commented on #21840
Darn! @jfindlay Thx for reminding me. I was the one who asked Ethan if he could add it to the docs and now forgot myself about it ;)
I try to make a pull-request this (European) evening. Cheers

[2015-05-06 12:51] MartinEmrich opened #23408 "salt-api returns 500 Internal Server Error for large job result"
I am running salt 2014.7.5.

To run state.highstate on hosts, I issue the state.highstate job, and periodically poll the /jobs/<jobid> URL until the job is finished.

When I use salt-api (cherrypy) to configure a certain host (with lots of states producing big job result output due to a archive.extracted state), something crashes inside the API: As soon as the job finishes, the /jobs/<jobid> HTTP

[2015-05-06 13:02] ltsampros commented on #18436
@whiteinge Same scenario happens if minions are behind NAT correct?

[2015-05-06 14:31] whiteinge commented on #18436
That is correct. The ip the minion connects to the master with must match
the ipv4 grain.

[2015-05-06 14:33] dr4Ke opened #23411 "grains.append should work at any level of a grain"
I think we should be able to append values to a list at any level of a grain. Don't you?

An example:
Provided this grain:
[code]
The command `salt-call grains.append 'list' 'val3'` will update the grain to:
[code]

With this grain, however:
[code]
the command `salt-call grains.append 'mygrain:list' 'val3'` will give that output, which is correct, IMO:
[code]
but the grain `mygrain` is still:
[cod

[2015-05-06 14:34] nmadhok commented on #23312
@CedNantes See how to see the provider configuration and other things needed in the docs. http://docs.saltstack.com/en/latest/topics/cloud/vmware.html and http://docs.saltstack.com/en/latest/ref/clouds/all/salt.cloud.clouds.vmware.html

The way to set up the provider configuration for vmware cloud driver as mentioned in the link provided above is:
[code]

You don't need to specify ``https://`` or

[2015-05-06 14:39] nmadhok commented on #23360
@radiumx3 Can you run the same command with log level set to debug? Run the command your are running as your normally would and append ``-l debug`` to it. You may want to put your password in double quotes and try again as well. Also, Since this is a different issue that the one you were originally having, can you rename this/create a new issue?

[2015-05-06 14:42] nmadhok commented on #23270
@syphernl Thanks for confirming. You can still have NIC on your template and get rid of the symlink. I think the problem arises only when you're using open-vm-tools instead of vmware tools. I will look into this and see if it can be fixed from our end.

[2015-05-06 14:48] ltsampros commented on #18436
@whiteinge Is there any other way this feature might work? For example getting a list of connected clients from ZMQ instead of /proc/net/tcp?

[2015-05-06 14:49] syphernl commented on #23270
@nmadhok A NIC + `vmware-tools`  in the template results in the same problem: a NIC but not connected. The only way to get this to work is if the template has no NIC at all.

[2015-05-06 14:59] CedNantes commented on #23312
well i'm not using any dns server so it was a tricky case but now it works.
Using IP address into url wasn't working but adding 'myip  vcenter' into /etc/hosts and then using url: vcenter works like a charm ! Thanks again ! I'm off to some further testing !

[2015-05-06 15:02] dr4Ke commented on #23411
As a side question: maybe I shouldn't use nested grains?

[2015-05-06 15:03] yermulnik commented on #13640
Sorry for the noise, but I'd support this request: cannot unset `state_verbose' in master's config, so will appreciate this variable be toggled via cli. Thanx.

[2015-05-06 15:03] nmadhok commented on #23270
@syphernl I tried with a NIC already present in the template and I didn't have any problem. This seemed to be the case with @indispeq as well since he mentioned he tried with a NIC already present in his template. As long as the already existing NIC in the template is marked as "connect on power on", it will be connected and as long as you can see the IP in the vcenter client, salt-cloud should be

[2015-05-06 15:05] nmadhok commented on #23312
@CedNantes Instead of adding ``'myip vcenter`` into ``/etc/hosts``, can you try and quote your IP in the provider config and try again?

[code]

[2015-05-06 15:09] syphernl commented on #23270
@nmadhok Since the template is a several gigs in size I cannot easily share this I'm afraid.

Perhaps there is a difference in VMware or vSphere versions/revisions you and @indispeq are using in comparison to our environment.

[2015-05-06 15:13] nmadhok commented on #23270
@syphernl Would it be possible for you to drop the file for me at https://filedrop.clemson.edu/dropbox/dropoff.php in case storage is an issue?

Also, can you run the ``get_center_version`` function from http://docs.saltstack.com/en/latest/ref/clouds/all/salt.cloud.clouds.vmware.html#salt.cloud.clouds.vmware.get_vcenter_version and paste the output?

root@nitin-develop:~$ salt-cloud -f get_vcenter

[2015-05-06 15:26] CedNantes commented on #23312
It's working ! Good to know.

[2015-05-06 15:27] nmadhok commented on #23312
@CedNantes Thanks for confirming!

[2015-05-06 15:33] jfindlay commented on #23359
https://docs.saltstack.com/en/latest/topics/development/conventions/formulas.html#comment-state-files

[2015-05-06 15:34] jfindlay commented on #21840
@bemeyert, that would be great, thanks.

[2015-05-06 16:42] cachedout commented on #23391
Hi @belvedere-trading

I can reproduce this right up to the point where you say that a `saltutil.pillar_refresh` does not cause subsequent calls to `pillar.get` to return the right data. In my testing thus far, a `pillar_refresh` does refresh the minion pillar and causes `pillar.get` to return the updated data.

Does `salutil.pillar_refresh` have *any* effect for you on the minion's view of its ow

[2015-05-06 16:44] jodv commented on #23157
Thanks for the follow up @cachedout ... I agree that my initial off-the-top-of-my-head suggestion about having some special logic for wrapper modules is probably a Bad Idea™, however I think the approach of documenting the risk and leaving it be is problematic because, like you said, the splay module is not the only place where this happens.  I'd venture to say that almost anyone who would be inte

[2015-05-06 16:56] basepi commented on #23391
Also, are you calling the `saltutil.pillar_refresh` as a standalone call? Or as part of a state run or something?

[2015-05-06 17:00] basepi commented on #23391
We should also note that `pillar.get` should not use the same behavior as `pillar.item`, because initiating a pillar refresh every time a `pillar.get` is called will destroy the performance of the state system.

`pillar.get` and `pillar.item` not matching is expected behavior under some circumstances -- however, a `saltutil.pillar_refresh` should eliminate any discrepancies, so that's the only par

[2015-05-06 17:03] BalintSzigeti commented on #23359
okay, you got me. it was my fault. I haven't found it in the docs. Sometimes I hardly find what I search.

[2015-05-06 17:03] #23359 closed

[2015-05-06 17:08] philipsd6 commented on #23313
@nmadhok Your example would still spin up three VMs with the same IP address. I've already tried to override the IP address in a map, but it's not possible unless you override the entire devices key. For example, *this* does not work:
[code]
The resulting dict isn't merged with the profile, it replaces the devices key, so you have to copy the entire devices key, just to override that one item:
[co

[2015-05-06 17:23] jfindlay commented on #23359
@BalintSzigeti, no problem, it's definitely an annoying thing about jinja.

[2015-05-06 17:40] belvedere-trading commented on #23391
We are not doing a pillar refresh from within a state.  All of the examples above are directly from the CLI.

I took the following steps:

1. No changes made to PIllar data:
 1. salt saltmaster1 pillar.item python
 2. salt saltmaster1 pillar.get python
Both commands retrieve the same data
2. Update the Pillar data:
 1. salt saltmaster1 pillar.item python
 2. salt saltmaster1 pillar.get python
The

[2015-05-06 17:54] sdm24 opened #23415 "2014.7.5 Won't Change Windows minion's IP Address"
This is my first time posting here, so please forgive me if I don't include something I should.

Whenever I try to change the IP address of my Windows minion running v2014.7.5, I get this error:
[code]
I can recreate this error when I try to change the IP via network.managed in a state, or ip.set_static_ip in the command line, and both using salt-call and salt 'WindowsMinion'.

The expected outcom

[2015-05-06 17:55] cachedout commented on #23391
Is this multi-master?

[2015-05-06 18:02] belvedere-trading commented on #23391
The tests above are a single machine Vagrant setup.  However, the minion config file specifies the master to connect to (we're moving towards a multi-master setup).

minion config file looks like:
[code]

[2015-05-06 18:04] cachedout commented on #23391
How are you calling `pillar.get` and `pillar.items`? Directly or inside Jinja in a state file?

[2015-05-06 18:04] nmadhok commented on #23313
@philipsd6 You have a good point. Can you create a new issue and tag me on it? I will work on a fix for this soon!

[2015-05-06 18:11] whiteinge commented on #23408
We ran into a similar-sounding error with large returns from the job runner returning an "output truncated" message. I believe both of these are due to the switch to event-based Runners since Salt's event system has an upper-limit on how much data is allowed to go through there.

Thanks for filing this. We need a better fix.

[2015-05-06 18:15] whiteinge commented on #23408
@MartinEmrich say, could you please run `salt-run -l debug jobs.lookup_jid 20150506113636236090` at the CLI? If that also errors, it will help confirm my suspicions.

[2015-05-06 18:18] belvedere-trading commented on #23391
The examples above were from the CLI.  The use case that caused me to notice the issue was Jinja within a state file (see above for an example).

[2015-05-06 18:20] Snergster commented on #21640
seeing the same:  call it a p3 or medium if you like but from my pov raet is completely busted right now
[INFO    ] The salt minion is shut down
[ERROR   ] 'SaltRaetRoadStackJoiner' object has no attribute 'masters'
[WARNING ] ** Restarting minion **

salt-minion --versions-report
           Salt: 2015.5.0
         Python: 2.7.6 (default, Mar 22 2014, 22:59:56)
         Jinja2: 2.7.2
       M2Cryp

[2015-05-06 18:33] philipsd6 opened #23416 "salt-cloud: Overriding deeply nested profile data in map files"
Per @nmadhok, continued from #23313:

[Getting Started With VMware](http://docs.saltstack.com/en/latest/topics/cloud/vmware.html#profiles) has an example profile with hardcoded IP addresses in a deeply nested key.

Sample profile:
[code]
Obviously, you **must** change the IP address for each new VM, but it's not possible to override *only* the IP address in the map file. This does not work:

Sampl