[2017-12-12 16:43] mvivaldi commented on #44665
Ok I did something wrong.... again
the formatting is not correct in my PR #44895
I hope with this new PR everithing will be ok:
https://github.com/saltstack/salt/pull/44943

sorry

[2017-12-12 16:53] carlpett commented on #44928
Hi @rcallphin,
Yes, that is quite strange behavior. I no longer have access to the environment for which I originally wrote the Vault module, but I will try to create a test environment to see why this is.
If memory serves, the Vault policy model has changed quite a bit during this time as well, so perhaps something there could affect it also. What version of Vault are you using?

[2017-12-12 16:59] gtmanfred commented on #44932
Thanks for reporting this, I have fixed the bug in https://github.com/saltstack/salt/pull/44945

Thanks,
Daniel

[2017-12-12 17:06] gtmanfred commented on #44934
`**` is a special python variable that indicates "Catch all extra keyword arguments into this variable", so when you see the `**` you should never pass directly to the variable.

[code]

Can you try this state?

Thanks,
Daniel

[2017-12-12 17:09] jonlabroad commented on #44889
This is the exception:
[code]

[2017-12-12 17:09] gtmanfred commented on #44939
That is because backgrounding does not work like that when using the `subprocess` module in salt.

You should use [cmd.run_bg]( https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.cmdmod.html#salt.modules.cmdmod.run_bg)

It is also worth noting that this will work on centos 6, but in centos 7 or anything with systemd, the backgrounded process will be run underneath the salt minion, s

[2017-12-12 17:10] #44939 closed

[2017-12-12 17:11] gtmanfred commented on #44936
Thanks for reporting this.  If you had time to open a PR, we would greatly appreciate it, otherwise I have tagged this as a bug.

Thanks,
Daniel

[2017-12-12 17:12] gtmanfred commented on #44935
Can you give me an example file that this breaks with so that I can replicate it and we can figure out what is going on?

Thanks,
Daniel

[2017-12-12 17:34] gtmanfred commented on #44937
@brianthelion thanks for the effort to document this!

@terminalmage can you take a look at this when you get a chance.  It looks like you are working on some of this for Fluorine.

Thanks!
Daniel

[2017-12-12 17:43] FeatherKing commented on #44928
@carlpett I work with @rcallphin and the version was probably 0.8.1+ent. It may have been higher in his test environment.

[2017-12-12 17:46] carlpett commented on #44928
Thanks! I'll do some testing and see what I can find.

[2017-12-12 17:46] gtmanfred commented on #44928
thanks @carlpett !

[2017-12-12 18:23] carlpett commented on #44928
So, I'm not sure how I configured this back when I set it up at the previous place, perhaps we just gave the salt token all the different policies. Looking back, it looks like token roles weren't a thing when I first wrote this, so that could be why.
Anyway, that is how it should be done now, so you're doing the right thing, but the code doesn't support it. I put an experimental patch [here](https

[2017-12-12 18:56] rcallphin commented on #44928
Sweet. I'm giving an all day training today, but will test this out as soon as I finish.  Thanks @carlpett

[2017-12-12 19:17] adminericjacobs opened #44947 "boto_route53.add_record takes around 40 seconds"
### Description of Issue/Question
boto_route53.add_record takes around 40 seconds to create/return for each record.

After a successful call to route53 the AWS API status goes to "PENDING" and then when the record has been synced to all DNS servers the status moves to "INSYNC".  For the boto_route53 module I think it would be more appropriate to have it check for a "PENDING" status and then return

[2017-12-12 19:26] golmaal opened #44948 "salt-ssh: unable to run sudo commands on remote system"
### Description of Issue/Question
Unable to create a folder under /var/ on remote system using either file.mkdir or cp.get_file (with makedirs=True) when sudo permission is needed on target machine

### Setup
salt-master is installed on a CentOS 7 machine
salt-ssh target machine (minion-01) is CentOS 7 machine

Roster file -
minion-01:
  host: 172.17.0.3
  user: user1
  sudo: True
  tty: True

use

[2017-12-12 20:04] kiemlicz commented on #44905
Ok,
It is fairly simple to just do sth like:
`{% set jobs = salt.saltutil.runner("jobs.list_jobs").items()|map(attribute=1)|selectattr("Function", "equalto", "state.highstate")|list %}`
I believe that my stacktrace has something to do with the fact that second Runner was spawned and somehow affected global scope

[2017-12-12 20:04] #44905 closed

[2017-12-12 20:16] gtmanfred commented on #44948
This is caused because salt-ssh does not have the password for sudo.

The password you are typing in is for sshing to the device.  It is failing to sudo, because we do not have any authentication information for the sudo command.  Once we login, nothing about what was provided would be stored, so while sudo may work the first time using the ssh password you provided, the next time you wouldn't hav

[2017-12-12 20:18] gtmanfred commented on #44947
You can set `wait_for_sync=False` when calling it, and it will not wait for the full sync to happen.

Thanks,
Daniel

[2017-12-12 20:18] #44947 closed

[2017-12-12 20:44] #44378 closed

[2017-12-12 20:52] gtmanfred commented on #40771
Looks like this has been implemented for Oxygen

https://github.com/saltstack/salt/pull/44573

Thanks!
Daniel

[2017-12-12 20:52] #40771 closed

[2017-12-12 21:26] yermulnik commented on #26033
Two-and-a-half-year bug...?

[2017-12-12 21:36] bryceml commented on #44936
Well I feel a little silly for not doing more investigation.  There was another script that was called in a script run from a cmd.run in another state that someone else wrote that copied the file to the right place every time, therefore it was already put in the correct state before file.managed was run.  Sorry for the false alarm.

[2017-12-12 21:37] gtmanfred commented on #44936
Oh, no problem!

Thanks for following up.
Daniel

[2017-12-12 21:37] #44936 closed

[2017-12-12 21:49] fxdgear commented on #38556
bump:

This is an issue that is breaking peoples clusters. if it's not going to be fixed. Maybe it should be removed and added back in when there's an actual plan.

[2017-12-12 21:55] dave92082 opened #44954 "SDB REST Module does not work without a URI Query Parameter"
### Description of Issue/Question
REST SDB module cannot be used without specifying a request parameter. The documentation indicates that the SDB URI can be used without requiring any query parameters and the SDB REST configuration allows for configuration without a template variable. When attempting to retrieve the value without specifying a query parameter, the following error is given:

[code]

[2017-12-12 21:58] mirceaulinic commented on #38556
Hi guys - I unfortunately didn't have much time to spend on this. But given that this is an edge module (without requiring any core changes), I encourage you to vendor it in your own env, and it would be very nice to contribute back for the community too. You may also have more data in your environment (I didn't face in my environment what you presented above).
Also, please bear in mind that its U

[2017-12-12 23:15] anitakrueger commented on #23518
Just ran into this as well on 2017.7.2. Is this a matter of adding the same arguments to the wait function that the send function has? @jfindlay

If so, could it looks like this:
[code]

[2017-12-12 23:46] brianthelion opened #44957 "Various issues with dockermod and docker_image"
### Description of Issue/Question

`dockermod` and `docker_image` [recently underwent some changes](https://github.com/saltstack/salt/commit/64aa4fbbecde21baca42da8fa3cd936514d823df) that appear to have resulted in various issues. Below is an executable example.

### Setup
[code]

### Steps to Reproduce Issue
Clear your docker containers (`docker ps`) and docker images (`docker images`) and run th

[2017-12-12 23:52] brianthelion commented on #44957
[code]

gets us to

[code]

[2017-12-12 23:59] brianthelion commented on #44957
Remaining issues:
- [ ] `UnicodeDecodeError`
- [ ] `pillarenv_from_saltenv: True` not being respected

[2017-12-13 00:37] rcallphin commented on #44928
Actually using token roles is not the issue here.  Below is the output from testing your patch @carlpett. Instead of attempting to create a token based on policies (like the code is built to do) it tries "auth/token/create/salt_test" which fails.  But that is not the functionality we want anyway as that would just be attempting to duplicate that masters own access.

[DEBUG   ] Token generation req

[2017-12-13 02:01] hemebond commented on #44846
@thuhak The [peer system](https://docs.saltstack.com/en/latest/ref/peer.html)

[2017-12-13 02:52] angeloudy commented on #34673
I am having the same issue after I upgraded python to 3.6, py-salt to py36-salt.
[code]

[2017-12-13 08:49] terminalmage commented on #44820
Fixed in https://github.com/saltstack/salt/pull/44958.

[2017-12-13 08:51] carlpett commented on #44928
Oh, right. I was a bit tired yesterday and got the entire problem backwards, it seems. Sorry! And your solution looks right for this case, very nice!

[2017-12-13 08:56] absolutejam commented on #43718
@damon-atkins That looks ideal, but it's another hard dependency that would have to ship with SaltStack right, as IronPython is completely separate to CPython?

[2017-12-13 09:12] srikanth24 opened #44959 "Salt-call masterless on windows server 2016"
### Description of Issue/Question

### Setup

[code]

### Steps to Reproduce Issue

[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2017-12-13 09:53] damon-atkins commented on #33003
Hi  @twangboy, any issue if some like @absolutejam tries to get this to work and we end up adding another dependence to Windows Minion Salt?

[2017-12-13 12:39] otm1 opened #44960 "file.recurse - Unable to manage file: 'charmap' codec can't decode byte 0x81 in position 6107: character maps to <undefined>"
When using file.recurse I get the following error on some of the files:
`Unable to manage file: 'charmap' codec can't decode byte 0x81 in position 6107: character maps to <undefined>`

I had this error on salt master 2016 and i upgraded to 2017.7.2 in hopes that it would resolve the issue.

My SLS file looks like this:
[code]

I have tried using different encodings like ascii and latin-1 by using

[2017-12-13 13:32] golmaal commented on #44948
Thanks Daniel. I had removed the password field thinking that it wouldn't be required when using the key-pair. This should be acceptable for my use case. I'll close the issue.

[2017-12-13 13:32] #44948 closed

[2017-12-13 13:53] golmaal opened #44961 "The archive tar function fails to untar file when dest argument is passed"
### Description of Issue/Question
The archive.tar fails when dest parameter is specified.

### Setup
No special setup is required.

### Steps to Reproduce Issue
[root@master]# salt-call archive.tar xf minion.tar dest=/tmp
[code]

The tar application is throwing this error because dest param is added as -C before options xf and per http://man7.org/linux/man-pages/man1/tar.1.html this param is order

[2017-12-13 14:17] #24564 closed

[2017-12-13 14:22] damon-atkins commented on #44923
Thanks for the info.

[2017-12-13 15:07] Ch3LL commented on #44954
ping @techhat mind taking a look here? Should we be allowing to use this module without the query parameters ?

[2017-12-13 15:09] Ch3LL commented on #44957
ping @terminalmage mind taking a look here and work with @brianthelion on these issues?

Also thanks for bringing these to our attention :)

[2017-12-13 15:14] Ch3LL commented on #44959
Can you include the `salt-minion --versions-report` for the minion?

Also it looks like its not loading the win_servermanager.py module. It does a check to see if the powershell module ServerManager is installed. Can you verify that is hte case?

For the iisexpress issue can you verify you can also run that command from both the cmd and powershell prompts?

[2017-12-13 15:16] grinapo commented on #44935
Sure.

**Original:**
[code]

**Command**
[code]

**Result**
[code]

[2017-12-13 15:16] Ch3LL commented on #44960
Do you have any special characters in those files? Do you know which file it is that is causing this? I was hoping to try to replicate this but need to know what the files look like that are causing this issue. Thanks

[2017-12-13 15:17] Ch3LL commented on #44961
@golmaal seems you have a grasp on a fix here. Wand to give a go at a PR?

[2017-12-13 15:35] Ch3LL commented on #44886
Thanks for the information. parsing the azure arm docs i'm only seeing the ability to clean up the disks?

ping @saltstack/team-cloud do you know of a way to manage the disks with azure arm specifically?

[2017-12-13 15:38] lorengordon commented on #44935
I think when passing inputs on the cli, the values are parsed with yaml. That's actually a feature. Try double-quoting the values, or otherwise escaping the inputs a bit so yaml sees them as strings.

[2017-12-13 15:44] grinapo commented on #44935
I thought something like that, but the question is then whether it's well documented? I kind of read all the docs and don't remember such one, but I may be mistaken.
(Obviously I can avoid that if I'm aware that I have to; yet to see what's this good for.)

[2017-12-13 15:54] mattLLVW commented on #44348
Hello,

I think it's the expected behaviour, if you add a cronjob using an identifier, you have to delete it specifying the identifier.

if you use:
[code]

it will work.

[2017-12-13 16:10] lorengordon commented on #44935
I think it's a convenience so that dictionaries and lists can be passed _relatively_ easily on the cli. These types are used quite commonly for many execution module arguments. I think there are quite a few such examples in the docs. Although you're probably right, I'm not sure where in the docs it would be spelled out explicitly as a feature though, if it is at all.

[2017-12-13 16:11] gtmanfred commented on #44886
There is not a way to directly manage the volumes, only in reference to building the vm and volume together.

[2017-12-13 16:13] gtmanfred commented on #44935
that is definitely what is happening, it is converting the input into a list as if it was yaml.

@saltstack/team-core do we have this documented anywhere that cli variables are loaded through the yaml loader?

Thanks,
Daniel

[2017-12-13 16:24] sumeetisp commented on #44886
I am not talking abt managing volumes.

My question was about managed and unmanaged volumes provided by azure.

When we specify storage account in azure salt profile the VM that is
provisioned gets os volume from unmanaged storage.

And when we provision from azure console without specifying any storage
account gets azure managed disk.

I tried excluding storage account from profile but storage ac

[2017-12-13 16:44] tapasudenia commented on #8549
version: '2.1'

 services:
 mycoreappfordocker:
    labels:
      - "com.microsoft.visualstudio.targetoperatingsystem=windows"
    volumes:
      - ~/clrdbg:/clrdbg:ro
    entrypoint: tail -f /dev/null

What is wrong with my indentation? :(

[2017-12-13 16:49] rcallphin commented on #44928
@gtmanfred, Off of @carlpett review I've created a pull request. Let me know if you need anything else.

[2017-12-13 16:51] gtmanfred commented on #44886
@techhat can you comment on this since you are more familiar with the azurearm driver?

Thanks,
Daniel

[2017-12-13 16:54] gtmanfred commented on #44928
PR looks good, i updated it to be against the right branch.

That should be it!

Thanks all for your help!
Daniel

[2017-12-13 17:04] rcallphin commented on #44928
Great, Thanks!

[2017-12-13 17:04] #44928 closed

[2017-12-13 17:05] twangboy commented on #33003
@damon-atkins pythonnet looks like a pretty small dependency (57k). I don't have a problem. Especially if it adds more functionality and windows support. @UtahDave ?

[2017-12-13 17:29] srikanth24 commented on #44959
Hi.Thank you for your reply.Here are the details
PS E:\Salt\salt\roots> salt-minion --versions-report
Salt Version:
           Salt: 2017.7.2

Dependency Versions:
           cffi: 1.10.0
       cherrypy: 10.2.1
       dateutil: 2.6.0
      docker-py: Not Installed
          gitdb: 2.0.3
      gitpython: 2.1.3
          ioflo: Not Installed
         Jinja2: 2.9.6
        libgit2: Not Installed

[2017-12-13 17:49] vernondcole commented on #44934
Daniel:

No help. It still does a spin loop on my system. It should do about three
tries.

I downloaded this morning's feature-frozen develop branch...

vernon@bevymaster:~$ salt-call --version

 vernon@bevymaster:~$ sudo salt-call --local --log-level=debug state.apply x

 [...clip...]

[INFO    ] Fetching file from saltenv 'base', ** done ** 'x.sls'

On Tue, Dec 12, 2017 at 10:07 AM, Daniel Walla

[2017-12-13 18:01] gtmanfred commented on #44934
I found the bug

[2017-12-13 18:02] larytet commented on #40063
I tried to use vboxapi directly

[code]

[2017-12-13 18:03] V3XATI0N opened #44967 "Windows Registry module/state hangs forever."
### Description of Issue/Question
When setting some values in the Windows registry on Windows 10, both the CLI and State modules hang forever with no return. When using a state, this prevents future states from running on the minion unless the original state is forcibly killed or `concurrent` is set to true.

### Setup
screensaver.sls:
[code]
or
[code]
or
[code]
All of these set the same registry

[2017-12-13 18:07] gtmanfred commented on #44934
this is fixed by the above PR https://github.com/saltstack/salt/pull/44968

[2017-12-13 18:26] UtahCampusD commented on #44348
@mattLLVW , Thanks for the tip, that seemed to do the trick. I guess we can go ahead and close this item.

[2017-12-13 18:29] tkwilliams commented on #32245
@terminalmage  Wouldn't the current code have the same race conditions?  E.g. if a static map sends minion1 to one pillarenv (git branch), while minion2 gets a different branch, and they both happen to run at the same time, is this not going to cause the same issues, or am I misunderstanding things?

[2017-12-13 19:33] Mrten commented on #11868
stale bot is stale... i don't get why approved feature requests get marked 'stale'. I'm still interested!

[2017-12-13 19:56] #44509 closed

[2017-12-13 19:56] #44348 closed

[2017-12-13 20:03] djsly commented on #37802
Any ETA or targeted version for this issue be fixed? or maybe even looked at?
Thanks!

[2017-12-13 20:04] msteed commented on #44820
Verified - this works in my tests!

[2017-12-13 20:29] 4815162342lost opened #44971 "pkg.list_upgrades -- incorrect output"
[code]

salt-minion 2017.7.2 (Nitrogen)
salt-master 2017.7.2 (Nitrogen)

[2017-12-13 21:18] twangboy opened #44975 "Add `test_log_created` tests for Windows"
### Description of Issue/Question
The following PR skips the `test_log_created` tests on Windows:
https://github.com/saltstack/salt/pull/44974

This PR added those tests: https://github.com/saltstack/salt/pull/44921

Need to write some Windows Specific tests to verify that the logs are being created.

### Versions Report
2017.7 branch

[2017-12-13 21:20] #44820 closed

[2017-12-13 21:59] tkwilliams commented on #44303
I own this - assign to me :)

[2017-12-13 22:03] tsaridas commented on #44959
http://saltstack.com/wp-content/uploads/2016/08/SaltStack-Supported-Operating-Systems.pdf
states that windows 2016 is not supported. I'm not sure if this is a documentation error.

[2017-12-13 22:31] tkwilliams commented on #44586
The above referenced PR (#44525) was not a fix for this issue ;-)

It was just where some discussion was had, wherein the need to open THIS issue was raised....

Please remove the FixedPendingVerification flag if possible...

[2017-12-13 23:32] doesitblend opened #44978 "State duration not always calculated"
### Description of Issue/Question
No duration key is added to the return dictionary in some situations resulting in output like:

[code]

This causes inconsistent output. It appears that the `Duration` key is only added in the `call` method, so any state that does not result in an execution of this method will not have this key added. This appears to be specific to states, not the corresponding mo

[2017-12-13 23:33] doesitblend commented on #44978
ZD-2042

[2017-12-14 00:39] UtahDave commented on #33003
@damon-atkins can you share some examples of how you want to use this in Salt? What problem are you trying to solve that you can't currently?

[2017-12-14 00:50] hunkeelin opened #44979 "Firewalld state cause horrid performance during saltrun."
Some of my formula will have firewalld rules in it like the following:

[code]

Some subset of my nodes will have serveral firewalld states to run during an highstate run. Upon inspecting `debug` I realize the firewalld module is consuming a lot of time. It is inefficient.

E.G

consider the following formula `test`

[code]

When I run `salt-call state.apply test` on the minion it takes an average

[2017-12-14 01:00] angeloudy opened #44980 "'pip.installed' is not available when running highstate"
### Description of Issue/Question
state file:
[code]
This runs OK if I do salt minion1 state.apply haproxy
But if I run salt minion1 state.highstate, I got an error
[code]
there's also some errors in /var/log/salt/minion:

[code]
### Setup
OS: FreeBSD 11.1
python: 3.6
### Steps to Reproduce Issue
upgrade salt from py27-salt to py36-salt

### Versions Report
[code]

[2017-12-14 02:23] damon-atkins commented on #33003
See the links at the topic the issue e.g. more direct access to PowerShell vs starting an exe

[2017-12-14 10:51] mirceaulinic commented on #44847
Hi @malbertus - thanks for opening this.

It is something I am aware of, but you did good reporting it. This shouldn't be a blocker, but I will try to get this fixed ASAP.

Some key points to remember (mostly notes to self):

- the `state.sls`, `state.apply` functions and so on, don't have a `debug` argument, see for example https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.state.h

[2017-12-14 11:43] damon-atkins opened #44988 "Oxygen/Develop modules/file.py issues"
### Description of Issue/Question

Reviewing a PR and notice this which was not relevant to the PR.

The following are not related to file operations, and should be private functions.
[code]

`os.path.expanduser(path)/~` expansion is not documented

Some functions may need `rd_type`/`wr_type` field so that Unicode is convert to ASCII for example or the language of the OS  e.g. `rd_type='default'`

[2017-12-14 13:00] chrispetsos commented on #44530
Any suggestions on how could we bring this fix in newer versions of SaltStack also?

[2017-12-14 14:30] terminalmage commented on #44988
We will not be making those into private functions. They are used outside of the file module to get the user/group/etc. ownership of a file, and making them private would remove them from the `__salt__` dunder.

[2017-12-14 15:20] Ch3LL opened #44992 "Add Windows Add Minion Key Test to Auto Test Suite"
This task is to monitor the addition of one test to the auto test suite:

- [ ] Verify Windows minion keys accepted by master

[2017-12-14 15:43] Ch3LL opened #44993 "Add windows salt-cloud passwords Test to Auto Test Suite"
This task is to monitor the addition of one test to the auto test suite:

- [ ] Ensure passwords are not visible

When using salt-cloud with windows make sure passwords are not visible:

`salt-cloud -p windows-server-2012 <name> -ldebug`
Make sure you see this in the logs: `'password': 'XXX-REDACTED-XXX',`

[2017-12-14 15:51] Ch3LL opened #44994 "Add windows package cache update Test to Auto Test Suite"
This task is to monitor the addition of one test to the auto test suite:

on the master:
1. `salt-run winrepo.update_git_repos`
2.. `salt -G 'os:windows' pkg.refresh_db`

**Steps:**

Master-side:
1. On the master, go into /srv/salt/win/repo-ng/salt-winrepo-ng
2. Remove any of the .sls files. Remember what .sls file were removed.
3. Run pkg.refresh_db against Windows minion(s): salt Win* pkg.refres

[2017-12-14 16:06] rallytime commented on #44303
@tkwilliams Thanks for fixing this so quickly! :)

I believe I sent you a request for membership in the `team-boto`, but it appears you didn't accept yet, so I wasn't able to assign this to you. Should I send that invitation again?

[2017-12-14 16:08] #25803 closed

[2017-12-14 16:08] Ch3LL opened #44996 "Add windows salt-call Test to Auto Test Suite"
This task is to monitor the addition of one test to the auto test suite:

- [ ] salt-call

preconditions:

[code]

Steps

`salt * cmd.run "C://salt/salt-call --local file.replace 'c:\windows\temp\salt-call-replace-file.txt' pattern="form" repl="for-all""`

Expected Result

[code]

Might just need to get the test integration.states.test_file.FileTest.test_replace running. And add a separate test to

[2017-12-14 16:13] rallytime commented on #44530
Hi @chrispetsos - we use a merge-forward strategy for the salt repo. The fix added in #44579 will be merged forward to 2017.7, oxygen, and develop to be included in upcoming releases, respectively.

[2017-12-14 16:16] rallytime commented on #44586
@tkwilliams Certainly! Thanks for letting us know. :)

[2017-12-14 16:17] Ch3LL opened #44997 "Add Windows cmd.run Test to Auto Test Suite"
This task is to monitor the addition of one test to the auto test suite:

- [ ] cmd.run

`salt 'windows' cmd.run 'type c:\salt\conf\minion > nul'`
`salt 'windows' cmd.run 'type c:\salt\conf\minion' python_shell=False`

Just need to get integration/modules/test_cmdmod.py tests to run on windows

[2017-12-14 16:23] Ch3LL opened #44998 "Add Windows Firewall Tests to Auto Test Suite"
This task is to monitor the addition of six tests to the auto test suite:
Windows:

- [ ] firewall.get_config
- [ ] firewall.disable
- [ ] firewall.enable
- [ ] firewall.get_rule
- [ ] firewall.add_rule
- [ ] firewall.delete_rule

[2017-12-14 16:28] Ch3LL opened #44999 "Add Windows group.delete Test to Auto Test Suite"
This task is to monitor the addition of one test to the auto test suite:

- [ ] group.delete

This should be fairly easy. There are already tests in integration/modules/test_useradd.py

in the class UseraddModuleTestWindows

In fact we are even running group.delete but we need to check the results and ensure the user is indeed deleted.

[2017-12-14 16:35] Ch3LL opened #45001 "Add Windows ip integration Tests to Auto Test Suite"
This task is to monitor the addition of five test to the auto test suite:

- [ ] ip.is_enabled
- [ ] ip.enable
- [ ] ip.disable
- [ ] ip.set_dhcp_ip
- [ ] ip.get_default_gateway

There are currently unit tests but need to add integration as well.

[2017-12-14 16:37] Ch3LL opened #45002 "Add ntp.get_servers Windows Test to Auto Test Suite"
This task is to monitor the addition of one test to the auto test suite:

- [ ] ntp.get_servers

`salt * ntp.set_servers pool.ntp.org us.pool.ntp.org`
`salt \* ntp.get_servers`

[2017-12-14 16:39] Ch3LL opened #45003 "Add network windows Tests to Auto Test Suite"
This task is to monitor the addition of four tests to the auto test suite:

- [ ] network.ping
- [ ] network.netstat
- [ ] network.traceroute
- [ ] network.nslookup

There are currently unit tests but we need to add integration tests.

[2017-12-14 16:48] Ch3LL opened #45004 "Add pkg Windows Tests to Auto Test Suite"
This task is to monitor the addition of five tests to the auto test suite:

- [ ] pkg.install of firefox
- [ ] pkg.install of Adobe Reader
- [ ] pkg.install of chrome
- [ ] pkg.remove firefox
- [ ] pkg.latest_version of chrome

Check the example from the putty.sls file in the winrepo file

[2017-12-14 16:51] Ch3LL opened #45005 "Add service Windows Tests to Auto Test Suite"
This task is to monitor the addition of ten tests to the auto test suite:

- [ ] service.get_enabled
- [ ] service.get_disabled
- [ ] service.get_service_name
- [ ] service.enable
- [ ] service.disable
- [ ] service.restart 'salt-minion'
- [ ] service.stop 'salt-minion'
- [ ] service.restart 'Spooler'
- [ ] service.start 'Spooler'
- [ ] service.stop 'Spooler'

There are unit tests but we need to a

[2017-12-14 17:01] Ch3LL opened #45006 "Add system Windows Tests to Auto Test Suite"
This task is to monitor the addition of six tests to the auto test suite:

- [ ] system.get_computer_name
- [ ] system.set_computer_desc
- [ ] system.get_system_time
- [ ] system.set_system_time
- [ ] system.get_system_date
- [ ] system.set_system_date

There are unit tests but we need to add integration tests

[2017-12-14 17:03] Ch3LL opened #45007 "Add timezone windows Tests to Auto Test Suite"
This task is to monitor the addition of four tests to the auto test suite:

- [x] timezone.get_zone
- [x] timezone.get_offset
- [ ] timezone.set_zone
- [ ] timezone.zone_compare

There are unit tests but need to add integration tests

[2017-12-14 17:08] Ch3LL opened #45008 "Add user windows Tests to Auto Test Suite"
This task is to monitor the addition of nine tests to the auto test suite:

- [x] user.add
- [ ] user.addgroup
- [ ] user.chhome
- [ ] user.chprofile
- [ ] user.chfullname
- [ ] user.delete
- [ ] user.removegroup
- [ ] user.rename
- [ ] user.setpassword

[2017-12-14 17:08] #23700 closed

[2017-12-14 17:10] Ch3LL opened #45009 "Add autoruns.list windows Test to Auto Test Suite"
This task is to monitor the addition of one test to the auto test suite:

- [ ] win_autoruns.list

[2017-12-14 17:12] Ch3LL opened #45010 "Add win_dns_client.add_dn windows Test to Auto Test Suite"
This task is to monitor the addition of one test to the auto test suite:

- [ ] win_dns_client.add_dns

`salt Win64Builder win_dns_client.add_dns 4.2.2.2 Ethernet index=42`

[2017-12-14 17:12] brianthelion commented on #44957
@terminalmage Any input on the `pillar_from_saltenv` line-item would be appreciated as I am thoroughly blocked on pillar targeting for docker images.

The pillar logic's entrypoint assumes `pillarenv` = `saltenv` here:
https://github.com/saltstack/salt/blob/53eee476ac8df7dfd3e14ad617b827527196ee08/salt/modules/dockermod.py#L6608

And continues here:
https://github.com/saltstack/salt/blob/53eee476a

[2017-12-14 17:13] Ch3LL opened #45011 "Add win_servermanager.list_available windows Test to Auto Test Suite"
This task is to monitor the addition of one test to the auto test suite:

- [ ] win_servermanager.list_available

`salt Win64Builder win_servermanager.list_available`

[2017-12-14 17:23] Ch3LL opened #45012 "Add service with space in name Test to Auto Test Suite"
This task is to monitor the addition of one test to the auto test suite:

- [ ] Manage service that contain a space in service name

Preconditions:

Change the name of one service so it has a space in the name

open regedit
navigate to HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services
Rename salt-minion to 'salt-minion test'
Reboot the machine

Steps

`salt win81 service.enabled 'salt-minion te

[2017-12-14 17:28] Ch3LL opened #45013 "Add cmd.run whoami windows Test to Auto Test Suite"
This task is to monitor the addition of one test to the auto test suite:

- [ ] cmd.run whoami

`salt '*' cmd.run whoami`

Should show the user salt is running under

[2017-12-14 17:32] Ch3LL opened #45014 "Add file windows Tests to Auto Test Suite"
This task is to monitor the addition of five tests to the auto test suite:

- [ ] file.managed
- [ ] file.comment
- [ ] file.replace
- [ ] file.absent
- [ ] file.copy

There are unit tests but need to add integration tests

[2017-12-14 17:33] Ch3LL opened #45015 "Add user windows Tests to Auto Test Suite"
This task is to monitor the addition of one test to the auto test suite:

- [ ] user.present
- [ ] user.absent

[2017-12-14 17:34] Ch3LL opened #45016 "Add pkg state windows Tests to Auto Test Suite"
This task is to monitor the addition of one test to the auto test suite:

- [ ] pkg.installed
- [ ] pkg.latest

this is using state pkg modules

[2017-12-14 17:35] Ch3LL opened #45017 "Add status windows Tests to Auto Test Suite"
This task is to monitor the addition of five tests to the auto test suite:

- [ ] status.cpuload
- [ ] status.diskusage
- [ ] status.procs
- [ ] status.saltmem
- [ ] status.uptime

[2017-12-14 18:01] jryberg opened #45018 "Can't pass data to jinja templated file for kubernetes.configmap_present"
### Description of Issue/Question
I'm using a jinja template that are populated using two variables that I'm passing from the state.

It's not possible to pass variables using kubernetes.configmap_present but It work perfectly fine when I'm using file.managed

### Setup
#### State
[code]

#### Jinja template
[code]

### Steps to Reproduce Issue
Put state and template in place and run the state.
[c

[2017-12-14 18:42] junster1 commented on #44305
This seems to have been fixed with PR #43396

[2017-12-14 18:43] techhat commented on #44954
Query parameters should definitely not be required.

[2017-12-14 19:26] vernondcole commented on #44934
@gtmanfred
Well done.
fix is verified.

[2017-12-14 19:34] scubahub opened #45022 "Unpredictable pillar top file ordering"
### Description of Issue/Question
Pillar top file merging is unpredictable due to (mostly) stable but inconsistent top file ordering.

Im using environment pinning on minions and have several different saltenvs.  States are mostly coming from the base environment with environment specific pillar data (not using pillarenv yet).

Here is what the pillar_roots looks like:

[code]

and no I am not usi

[2017-12-14 19:38] roaldnefs commented on #44530
@chrispetsos in the meantime, you could include the cron module and state in your `_modules` and `_states` folder. See [Writing Execution Modules](https://docs.saltstack.com/en/latest/ref/modules/#writing-execution-modules) for more information.

[2017-12-14 20:06] #44934 closed

[2017-12-14 20:28] garethgreenaway commented on #44967
Seems like it might be hanging in the section of code that sends the broadcast once the values have been set.  @twangboy Thoughts on this one?

[2017-12-14 20:29] garethgreenaway commented on #44971
Seems like the repository might be mis-configured or something else on that machine is failing, as it appears that the regular YUM tools are failing are as well.

[2017-12-14 20:34] garethgreenaway commented on #44979
Thanks for the report.  Sounds like the firewalld module(s) could benefit from the addition of mod_aggregate support.

[2017-12-14 20:40] brianthelion commented on #45022
My recent #44937 may be helpful.

[2017-12-14 20:48] garethgreenaway commented on #44980
@angeloudy Thanks for the report.  Are you able to confirm if the issues you're seeing are happening only on FreeBSD or happen on other systems too.

[2017-12-14 21:29] chrispetsos commented on #44530
So, @roaldnefs you mean I could just copy the respective module and state file from the 2016.11 version into my 2017 master to the folders you mention right? I could just be risking those files having changed between those releases, thus having any undesirable side-effects...  Perhaps I'll give it a try...

[2017-12-14 21:31] scubahub commented on #45022
In trying to understand the code I have been putting in a lot of logging and I am seeing evidence that OrderedDict is not working correctly.

In `PIllar.merge_tops()` I have added logging so I can watch how the `orders` variable is being constructed, every time orders is touched I dump it out.

[code]

Here is the first part of the output when I do a refresh_pillar on the instance where pillar top

[2017-12-14 21:34] roaldnefs commented on #44530
@chrispetsos yes, it is not the most ideal solution. You will have to manually remove the state and module after a new release, but it does ensure that you can use the fix right now.

[2017-12-14 21:47] DrMerlin commented on #38977
Since fix was made here: https://github.com/saltstack/salt/pull/40360
and upgrading to salt 2017.7.2, this is working great for us.

Example orchestration state:
`remove-from-redis:
  salt.runner:
    - name: salt.cmd
    - arg:
      - cmd.run
      - /usr/local/bin/redis-cli -h <etc, etc>`

^ This works

[2017-12-14 21:51] frogunder opened #45023 "Publisher_acl authentication error"
Testing `publisher_acl system` on the Oxygen branch fails.

I installed with the bootstrap script using this commit `3ed7a29c56e1ce9959113138c27fd601093a8e56`

I get this error
[code]

I see this in the master log:
[code]

I also see this in the master log:
[code]
Installing `trollius` did not help.

### Setup
Put this in the master config file:
[code]

Add user and su into that user.

Modify the

[2017-12-14 22:07] jryberg commented on #45018
I have also tried this method with exactly the same result.

[code]

[2017-12-14 23:40] SJern commented on #44886
Hi all,

The Azure documentation says, "We recommend that you use Azure Managed Disks for new VMs, and that you convert your previous unmanaged disks to managed disks, to take advantage of the many features available in Managed Disks."
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/about-disks-and-vhds

It would be great if we can figure out how to provision managed disks in salt. T

[2017-12-14 23:51] steverweber commented on #41831
this was merged.

[2017-12-14 23:51] #41831 closed

[2017-12-14 23:51] steverweber commented on #41907
this was merged

[2017-12-14 23:51] #41907 closed

[2017-12-14 23:53] steverweber commented on #39860
I'm going to fix this because it can cause some frustrating bugs that I never want to see again.

[2017-12-15 00:17] angeloudy opened #45026 "bytes error in mysql module"
### Description of Issue/Question
I recently switch from python2.7 to python 3.6 and a lot of modules are stopped working.

The first issue is pip: #44980
Second issue is mysql
[code]
Third issue is with http
[code]

All the issues I am having have similar errors:
[code]
Can someone look at this?
### Setup
FreeBSD 11.1
### Steps to Reproduce Issue
1. install package py36-salt
2. to reproduce pip i

[2017-12-15 00:27] angeloudy commented on #44980
@garethgreenaway we are only using FreeBSD.

[2017-12-15 00:40] steverweber commented on #27059
i no-longer have a need for this ... so going to close it out so less issues :)

[2017-12-15 00:40] #27059 closed

[2017-12-15 00:42] techhat commented on #44886
Looks like in `volumes` you can set `create_option` to `image`, `attach`, or `empty`. But not all of the required options for managed disks are available in the drive right now. For future reference: https://docs.microsoft.com/en-us/python/azure/python-sdk-azure-samples-managed-disks?view=azure-python

[2017-12-15 00:49] tkwilliams opened #45027 "Need to revert some behaviour of c1f5dd7a7b7ddadf91e7742b35b998c687fba55e"
I somehow missed commit c1f5dd7a7b7ddadf91e7742b35b998c687fba55e. I can't say strongly enough how much I disagree with this changeset.

Specifically, the logic of retrying on API rate limiting is UTTERLY ORTHOGONAL to that of retrying on ALL errors. The VAST MAJORITY of errors are permanent failure states which NO NUMBER of retries will cause to succeed, while conversely API throttling "errors" ar

[2017-12-15 01:26] steverweber commented on #39860
this fix makes includes in pillar sls files work more how you would expect them to work when programming.
the includes are resolved first(at the top) then the remaining variables can override/merge them.

[2017-12-15 01:38] tobiasBora opened #45029 "Bootstrap: no master service"
### Description of Issue/Question

I just installed salt using the standard bootstrap commands, and there is no `systemctl` config to start the master, while it works for the minion, or if I manually run `salt-master`.

### Steps to Reproduce Issue

Download and install:

    curl -o bootstrap-salt.sh -L https://bootstrap.saltstack.com
    sudo sh bootstrap-salt.sh git develop

Try to run the salt

[2017-12-15 01:39] steverweber commented on #39860
also the fix seems to make pillar_merge_lists more logical..

repeating the test but with a list and `pillar_merge_lists: True`
[code]

we get:
[code]

[2017-12-15 03:21] sumeetisp commented on #44886
According to docs point to by @techhat ,
"A Managed Disk is created implicitly when creating VM from an OS image in Azure. In the storage_profile parameter, os_disk is now optional and you don't have to create a storage account as required precondition to create a Virtual Machine."

But storage account is currently mandatory in salt azure profile. Also the default value of os_disk is set to 30.

A

[2017-12-15 04:12] SJern commented on #44886
@sumeetisp Do you know how to override the default os_disk size in the vm profile?

[2017-12-15 04:34] sumeetisp commented on #44886
There are certain parameters which are not mention in documentation.
You can have a look [here](https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/azurearm.py#L1183)

You need to mention os_disk_size_gb in your azure profile and its value in gb

[2017-12-15 05:22] tobiasBora commented on #45029
Hum, I guess that I need to use the `-M` option. Sorry for that. But if someone come here, could you tell me why after the installation the package `salt-minion` was not installed, and without manually installing it, the following command would fail:

    # salt '*' test.ping
    myminion:
        ERROR executing 'test.ping': Executor 'direct_call' is not available

Thanks.

[2017-12-15 05:22] #45029 closed

[2017-12-15 08:01] mcalmer commented on #43919
Regarding **Error B:**

I can reproduce it with 2017.7.2 and python3.

[code]
`fp_out` is a six.StringIO() but CherryPy want to write "bytes" into it which fail.

From the doc;

But maybe we should use here better six.BytesIO()

From the doc:

Of cause we need to convert `body` from bytes to string before it it given to the Json parser.

[2017-12-15 08:24] 4815162342lost commented on #44971
Hello garethgreenaway,

Yes, you are right. But why salt did not say about it and got incorrect output?
connect() -- it is not package, timed -- are not available new version. I believe that salt should return empty dic (json file).

I generate 'patching list' every month using salt and custom script for several hundred servers and my report can be incorrect.

Thanks in advance.

[2017-12-15 08:32] jryberg opened #45033 "Kubernetes services and deployments are forcing recreation every run"
### Description of Issue/Question
Every time I run state.apply on the host that manage our Kubernetes cluster it recreates all services and deployments even it it has not been changed, are up and running and works perfectly fine.

It should leave it alone if it's in defined state.
### Setup
#### nginx-test.sls

[code]

### Steps to Reproduce Issue
[code]

### Versions Report

The master are runnin

[2017-12-15 11:20] otm1 commented on #44960
Thank you. I have attached two files. One file is already in the destination folder. The other file is the new file which should replace the old file.

[FileAlreadyInDestinationFolder.zip](https://github.com/saltstack/salt/files/1562488/FileAlreadyInDestinationFolder.zip)
[FileInRepository.zip](https://github.com/saltstack/salt/files/1562489/FileInRepository.zip)

There are many other files failin

[2017-12-15 11:34] grinapo commented on #44935
Still, I wonder how. I mean, why "a member of a sequences of scalars" became an array? If I guess correctly
```- test```
have became
```['t','e','s','t']```
and I fail to see why, based on yaml specs.

[2017-12-15 11:40] lorengordon commented on #44935
If I had to guess, has something to do with `pattern` being a regex. If I'm right, I would expect `- test` is yaml-fied to `['test']` (by the cli/loader/whatever), which is then treated as a regex pattern (by `file.replace`) that matches those individual characters.

[2017-12-15 12:55] mnieber commented on #35363
What *is* missing in the documentation (imho) is how you can refer to a grain in your state file. I found out it's a simple as using something like `{{ grains['id'] }}` but I was surprised that the grains documentation was not mentioning this.

[2017-12-15 13:03] abh23 opened #45035 "Handling state failure programmatically?"
### Description of Issue/Question
I have few salt-states in which multiple things are handled like **pkg.installed, file.managed, cmd.run**, etc.
These salt-states are executed using command: `salt '<name>' state.apply <state-name>`

I have a requirement where I want to take actions based on salt ret-code or some mechanism which is error proof and for that I need to detect failures from salt maste

[2017-12-15 13:16] dijit opened #45036 "Quiet installation of packaged minions fails due to redistributable not being quietly installed [py3] [Windows]"
### Description of Issue/Question

Installing a headless/unattended Windows server with salt minion is failing due to the fact that the built-in Visual Code redistributable is not honouring the `/S` flag on minion installation. This does not appear to afflict the python2 redist installation (or, it's preinstalled).

I was able to successfully provision a machine by installing the redist manually a

[2017-12-15 14:22] jryberg opened #45037 "modules.kubernetes / states.kubernetes - Support for keys in configmap_present"
### Description of Issue/Question
Hi,

This is a feature request for Kubernetes

When using configmap in Kubernetes and you want to be able to mount a specific file from a config map you need to use the key for the specific config value, not only the name.

It's not possible today to add a key when you create a configmap using Salt.

This is the command I want to run using salt
[code]

It's the --

[2017-12-15 15:12] guettli commented on #44682
Could you please elaborate how to enable trace

I could not find "trace" on this page: https://docs.saltstack.com/en/latest/topics/troubleshooting/

[2017-12-15 15:35] terminalmage commented on #44957
https://github.com/saltstack/salt/pull/45038 fixes the UnboundLocalError. Can you test with that one-line change?

[2017-12-15 15:36] terminalmage commented on #44957
Actually I didn't read down further. Hold on.

[2017-12-15 15:43] terminalmage commented on #44957
OK, https://github.com/saltstack/salt/pull/45038 is updated to include the proper argument passing for docker.build.

[2017-12-15 15:53] terminalmage commented on #44957
Working on the pillarenv stuff. It looks like whomever added this support didn't do it properly.

[2017-12-15 16:27] davelindquist-egistix opened #45039 "cmd.run cwd should not be checked before preconditions (Regression?)"
### Description of Issue/Question

In exactly the same way as is described in the (theoretically fixed) #11497, salt appears to be checking preconditions before evaluating the cwd in cmd.run.

### Setup - My Exact Case
My exact case is:
[code]
In this particular instance:
- /tmp has been cleaned out by the OS -- it has no "oracle-docker-images" in it
- the "docker image ls" command is successful,

[2017-12-15 16:44] gtmanfred commented on #44935
That is exactly what is happening, it actually gets mutated to be `[test]` so it will match any character in there, and since it is the word you are trying to match, it will replace each letter with one of your second sequence which is rendered to `[ct]`, and since that is not pattern matching, it just puts that object in place of every letter.

[2017-12-15 17:11] terminalmage commented on #44957
@brianthelion can you test with the updates to that PR? You can use [this walkthrough](https://help.github.com/articles/checking-out-pull-requests-locally/) to fetch the PR into a local branch and run Salt from the updated code.

[2017-12-15 17:12] brianthelion commented on #44957
Will do in the few hours. Thanks @terminalmage !

[2017-12-15 17:15] terminalmage commented on #44957
OK, if you feel it's good to go, then comment in that PR. Otherwise, we can make whatever changes still need to be made. I'm currently in the middle of a much bigger project so I unfortunately did not have the opportunity to test this locally.

[2017-12-15 17:28] gtmanfred commented on #45018
It does not look like any of the `**kwargs` are passed to the yaml file when it is rendered, only grains pillars opts and __salt__.

I am going to mark this as a feature request.  I think that adding a defaults and a context like file.managed would be a great idea.

@flavio @brejoc Could yall take a look at adding this feature?

Thanks,
Daniel

[2017-12-15 19:25] SJern commented on #44886
Thanks, @sumeetisp! Awesome, worked like a charm!

I also noticed that any volume that is mentioned in the volumes section of the salt profile is not mounted. I always have to ssh into the machine and manually mount each of them myself. Any of you having the same issue?

[2017-12-15 19:36] tobiasBora opened #45043 "Manage salt configuration from gitfs"
### Description of Issue/Question

Hello,

I'd like to use one git repository that would contain all (or most of) the code that is needed for it to run. In an ideal world, I'd like to be able to setup once the configuration in /etc/salt/master and then only use the git repo.

But for now it's not possible, because I can't find any way to synchronize the master configuration with a git repo, and it

[2017-12-15 19:42] MDPolaris opened #45045 "Orchestration engine passes '__pub_to' args to states that do not support **kwargs when executed with state.single"
### Description of Issue/Question
When running state.single from an Orchestration state, the following Warning is displayed:

I discussed this with @terminalmage in the slack channel and his initial guess was that this was due to the fact that in 2017.7 file.absent does not accept **kwargs. However this is not the whole story because the Orchestration engine should detect that **kwargs are not sup

[2017-12-15 20:18] pkruk opened #45046 "Parted and support for ext4"
### Description of Issue/Question
Hi,
I would like to ask, why there is no support in parted module for ext(3,4) ?
https://github.com/saltstack/salt/blob/develop/salt/modules/parted.py#L442

There is any reason for that, or something that I'm missing :)?
What do you think about adding ext3/ext4 there?

[2017-12-15 20:54] SJern opened #45047 "SSH key support for Azure ARM driver"
### Description of Issue/Question
Seems like the Azure Arm driver does not support the SSH key authentication currently, while the "to-be-deprecated" Azure driver does.

Any plan to add it to Azure Arm anytime soon?

[2017-12-15 21:32] evoWeb commented on #26920
with this state:

testGrants:
mysql_grants.present:
- name: typo3_typo3_%_all
- database: typo3_%.*
- grant: 'all privileges'
- user: typo3
- host: localhost
- escape: False

i get the following error:
`
          ID: testGrants
    Function: mysql_grants.present
        Name: typo3_typo3_%_all
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last)

[2017-12-15 22:20] vernondcole opened #45049 "salt cloud module documentation is missing from the index."
### Description of Issue/Question

The general index of Salt documentation does not contain an entry for cloud modules.

It seems that the file `doc/ref/index.rst`
is missing an entry `../ref/clouds/all/index` which should appear.

### Steps to Reproduce Issue

click on [Salt Module Reference](https://docs.saltstack.com/en/develop/ref/index.html)

### Versions Report

[code]

[2017-12-15 22:25] gtmanfred commented on #45049
It appears that it is just missing from here, would you mind opening a pr to add that reference to the doc?

Thanks,
Daniel

[2017-12-15 22:27] gtmanfred commented on #45046
Thanks for the pr for this

Daniel

[2017-12-15 22:28] gtmanfred commented on #45047
What kind of authentication? for logging into servers or is it doing something else with the ssh key?

Thanks,
Daniel

[2017-12-15 22:29] gtmanfred commented on #45045
Assigning to @terminalmage since yall were already talking about this in slack.

Thanks!
Daniel

[2017-12-15 22:31] gtmanfred commented on #45043
This is a duplicate of #11724

We would love to see a PR for this if you had time.

Thanks,
Daniel

[2017-12-15 22:31] #45043 closed

[2017-12-15 22:34] gtmanfred commented on #45035
If you can handle the failures on the minion, you could use an onfail state.

Even if you can't, you could use an onfail requisite, and point it at an event.send state, which will send an event to the master, catch that event with the reactor, and then use a reaction to handle the failure.

https://docs.saltstack.com/en/latest/ref/states/requisites.html#onfail
https://docs.saltstack.com/en/latest/

[2017-12-15 22:35] gtmanfred commented on #45035
As for checking a currently running state, you can use saltutil.is_running to check if a stateid is still running on a minion

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.saltutil.html#salt.modules.saltutil.is_running

You can also kill running jobs with the `saltutil` module.

Daniel

[2017-12-15 22:37] gtmanfred commented on #45027
Unfortunately it looks like this slipped in before we started alerting yall on all PRs, would you mind opening a pr to revert it, and referencing this issue in there?

Thanks,
Daniel

[2017-12-15 22:38] gtmanfred commented on #45036
Thanks for the PR to fix this!
Daniel

[2017-12-15 22:43] gtmanfred commented on #45033
@flavio can you assist with this issue?

Thanks,
Daniel

[2017-12-15 22:44] gtmanfred commented on #45037
That would be great to be able to do.

If you had time to implement it, we would greatly appreciate a PR.

Thanks,
Daniel

[2017-12-15 22:45] SJern commented on #45047
Hi, @gtmanfred I think it's what the certificate_path is supposed to do in the "to-be-deprecated" Azure driver. See https://docs.saltstack.com/en/latest/topics/cloud/azure.html#configuration

I think it's supposed to place an SSH public key in the VM to be created.

[2017-12-15 22:49] gtmanfred commented on #45039
I think the reason that this appeared again was that the cwd is now passed to the unless command.

It was previously not passed iirc, but when that "bug" was fixed, the cwd now being passed is causing this issue.

I have marked this as a bug.

Thanks for reporting.
Daniel

[2017-12-15 22:53] gtmanfred commented on #45047
@techhat can you take a look at this and let us know if this ^^ is the case?

Thanks,
Daniel

[2017-12-16 01:42] SJern opened #45052 "Connection on and off between Azure master and minions"
### Description of Issue/Question
This is only happening with Azure VMs.

I noticed that some minions' connections to the master are not consistent - meaning if those minions did not respond to pings now, they might decide to respond 15 minutes later. They just worked for maybe 20 minutes and then decided to not to work again.

What those minions have in common is that their VM profiles' master at

[2017-12-16 02:19] SJern opened #45053 "There was an error destroying machines: The specified resource does not exist."
Hello, I'm encountering an issue with destroying Azure VMs. Any help would be greatly appreciated!

### Description of Issue/Question
[code]
### Setup
provider:
[code]
profile:
[code]
### Steps to Reproduce Issue
[code]
### Versions Report
[code]

[2017-12-16 06:25] #25476 closed

[2017-12-16 15:06] damon-atkins commented on #43908
Time to close this. Fixed 2016.11 and its been merged forward.

[2017-12-16 15:06] #43908 closed

[2017-12-16 15:07] #43417 closed

[2017-12-16 15:11] damon-atkins commented on #38984
Consider testing with code from 2016.11 GitHub code

[2017-12-16 15:13] damon-atkins commented on #37692
Salt team have decided to use `from __future__ import unicode_literals`

[2017-12-16 15:17] damon-atkins commented on #36302
@stjack99   Please upgrade your minion. and then try the latest copy of code of win_pkg.py

[2017-12-16 15:19] damon-atkins commented on #26725
@Mark3K  please consider if this can be closed.

[2017-12-16 15:20] damon-atkins commented on #20547
I have added new tool to Oxygen that will do this.

[2017-12-16 15:20] #20547 closed

[2017-12-16 15:29] damon-atkins commented on #44389
Have not looked at this yet also `str()` should be `six.text_type()`
This needs to be tagged against 2016.11 2017.7 and Oxygen

[2017-12-16 15:59] sundowner69 opened #45055 "Reactor changes values while passing it to runner"
### Description of Issue/Question
If I send an event from a minion containing a dict like {'a':'10_0_0_7'} the reactor passes {'a':'10007'} to the runner module.

### Setup
cat /tmp/myevent.sls
<pre><code>
myevent :
  runner.myrunner.get_data :
    - kwarg :
        a : {{ data['data']['a'] }}
</code></pre>
cat myrunner.py
<pre><code>
def get_data(a=None) :
    return a
</code></pre>

### Steps to

[2017-12-17 02:02] terminalmage opened #45056 "Spurious SSDP errors on startup"
master.py is doing a boolean check on `self.opts['discovery]`, and assuming discovery is enabled if it resolves to `True`. But because there is a default value in `salt/config/__init__.py`, this option is therefore assumed to be enabled out-of-the-box. This doesn't seem correct, the description in the release notes mentions nothing about this feature being enabled by default, and doing so would ad

[2017-12-17 07:53] isbm commented on #45056
@terminalmage Hi!

Right. Let's see what we can do here:

- While it is a hard dependency, the library is quite old, used widely in OpenStack and so is packaged quite everywhere (pip, rpms, dpks etc). [We did that for sure](https://build.opensuse.org/package/show/openSUSE:Leap:42.3/python-trollius) long time ago, and if [it is in Debian stable](https://packages.debian.org/stretch/python-trollius),

[2017-12-17 07:57] isbm commented on #45056
Please assign me to this bug.

[2017-12-17 12:27] mnieber opened #45057 "Wrong result for service.enabled due to unreliable service.status value"
Version salt 2018.2.0-5-g015d66b

The following state returns an error, even though mysql is in fact running:

    Start Mysql server:
      service.running:
        - name: mysql

The return value of service.running is `{'comment': 'Service mysql failed to start', 'changes': {}, 'name': 'mysql', 'result': False}`.

When debugging I found that this return value is based on the value of `after_togg

[2017-12-17 13:27] damon-atkins commented on #45057
Have you tried the sig option.  Maybe it needs something like.
check_run_pid_file (kill -0 contents)
check_run_regex_process
check_run_regex_cmdln
check_run_regex_user  (if the output is a number then this needs to try to convert the number/uid to username) [ps on large usernames outputs uid]

If all return positive (if defined) then the service is running.

[2017-12-17 17:21] #10076 closed

[2017-12-17 17:21] #25865 closed

[2017-12-17 18:21] #25918 closed

[2017-12-17 20:21] #16277 closed

[2017-12-18 02:01] terminalmage commented on #45056
It's my opinion that we should be avoiding new hard dependencies unless required for core functionality. This doesn't look like core functionality to me. I'd like to hear from @cachedout and @thatch45 though.

Additionally, I just find it troubling that this was snuck in without proper discussion. Adding hard dependencies requires that we plan for it and update our own package build process. If th

[2017-12-18 04:57] nickgarber opened #45059 "sdb.set Disregards CLI Quoting Seeking Keywords"
### Description of Issue/Question

### Setup
- Create a sdb config on a salt-master.
- Attempt to add a quoted value ending in an equal sign.
- Values may be hand-entered or read as base64 from files: `salt-call sdb.set sdb://example/setitoff "$(base64 -w0 my-demo-file)"`

Outcome:
- The attempt will produce an error relating to a an invalid keyword and referencing the quoted value.

Expected Outc

[2017-12-18 10:45] colttt commented on #15471
the problem still exist :(
I just one run some IPMI things like from salt master server
[code]
## Setup
[code]

[2017-12-18 11:28] colttt opened #45061 "Salt minion can't get the apt public key"
### Description of Issue/Question
I've 2machines with this problem, they cant get  pub-file.
the log file contain the following:
[code]

When I take a look into the file '/var/cache/salt/minion/extrn_files/base/repo.saltstack.com/apt/debian/9/amd64/2017.7/SALTSTACK-GPG-KEY.pub' its empty, I guess here is an error, the URL looks correct to me.

### Setup
[code]

### Steps to Reproduce Issue
Just tr

[2017-12-18 12:59] isbm commented on #45056
We opened this PR a month ago and we were and are always looking for constructive dialogues and reviews. By no means we want to bring SaltStack more work and issues, alas we would have the same effect in our issue tracker(s).

Yes, this is true and I am not even arguing this. Surely, if you have no enough time to do so, turning it off by default is not even a discussion. From our side we can simpl

[2017-12-18 14:18] gtmanfred commented on #45056
I also agree with not changing the default from just looking up salt.  This by default adds a 15 second delay to starting the minion.

I opened a PR on Friday to change the default to `False` here https://github.com/saltstack/salt/pull/45050

[2017-12-18 14:22] lukasraska opened #45063 "Executing cmd.run with runas parameter on Windows Server has problems"
### Description of Issue/Question
When debugging issue when scripts couldn't be executed under different account, we've found that this works only with certain configuration of Salt Minion.

When minion is running under local system account, this works without any major issues on Windows Server 2012/2012R2/2016. However if minion is running under custom account (member of Administrators group), it

[2017-12-18 15:04] dkatsanikakis opened #45066 "authentication issues when using kwargs / args with publisher_acl"
### Description of Issue/Question
i am trying to use publisher_acl with "kwargs" and "args" in order to provide access for a system user (other than root) to be able to execute salt commands. I do this execution of the command using ssh as per bellow:

`    ssh testuser@myserver.net 'salt -b 1 server33 mymodule.test' `

Unfortunately i get  authentication errors. I tried all sorts of args/kwargs v

[2017-12-18 15:22] dynek commented on #45061
Interesting, I just created my state for saltstack and noticed the same thing. This issue is the only output I got on Google :-)

[2017-12-18 15:26] #44365 closed

[2017-12-18 15:33] ryanwalder opened #45067 "file.managed is unable to write to a nfs mount"
### Description of Issue/Question

`file.managed` is unable to write to a nfs mount

### Setup

Create an nfs share, mount it on the minion.

[code]

### Steps to Reproduce Issue

1. Create nfs share on one VM (or just use one you have)
2. Mount nfs share on a second VM
3. Check you can write manually with `touch /path/to/nfs/share/test`
4. Try and manage file with salt

### Errors

[code]

### Ve

[2017-12-18 15:40] gtmanfred commented on #45061
Duplicate of https://github.com/saltstack/salt/issues/44013

This is fixed by this https://github.com/saltstack/salt/pull/44016

[2017-12-18 15:40] #45061 closed

[2017-12-18 15:43] gtmanfred commented on #45059
Bash removes the quotes.  You will need to add a second single quote into the cli for it to actually be quoted.

[code]

[2017-12-18 15:54] Ch3LL commented on #44980
I was able to replicate this on Arch. One thing I noticed was I could only replicate it when the state was a part of a highstate. If I call the state directly with `salt-call --local state.sls <sls file>` it worked just fine.

To note this is also broken on oxygen.

[2017-12-18 16:08] techhat commented on #45047
`certificate_path` is used in the "old" driver to authenticate against Azure itself. Azure ARM does not use this method of authentication; it uses either username/password or tenant/client_id/secret.

Using SSH keys to log into nodes to provision them is not currently supported by the ARM driver. But I don't believe it is supported by the "old" driver either.

It looks like `sshKeyData` is availab

[2017-12-18 16:14] techhat commented on #45047
@SJern you may also want to consider cloud-init, if you're using a supported OS: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cloud-init

[2017-12-18 16:21] DarkKnightCZ commented on #45067
As the error is thrown by OS, a longshot would be SELinux. Is it enabled? Are there any notes about that access in /var/log/secure?

[2017-12-18 16:36] Ch3LL commented on #45026
@angeloudy can you please share a sanitized version of your state files to help replicate this issue?

[2017-12-18 16:37] Ch3LL commented on #45052
Can you paste the output of  `salt-minion --versions-report` and `salt --versions-report` for your master/minion.

Also ping @saltstack/team-cloud any ideas here or know of any current issues here related to azure?

[2017-12-18 16:40] Ch3LL commented on #45053
Could possibly be a duplicate of https://github.com/saltstack/salt/issues/41299

Which has a fix here: https://github.com/saltstack/salt/pull/41346

If you try the fix does it resolve the issue?

[2017-12-18 16:41] ryanwalder commented on #45067
I've disabled SElinux and the issue persists.

No messages in `/var/log/messages` or `/var/log/audit/audit.log`.

[2017-12-18 16:44] ryanwalder commented on #45067
I tried writing the file locally then using `file.copy` but that also fails, this time with zero error messages in the debug output.

For now I'm writing locally and using a `cmd.wait` to just `cp` the file across (as the same user) which works as expected.

[2017-12-18 18:14] #42117 closed

[2017-12-18 18:14] #38452 closed

[2017-12-18 18:14] #41474 closed

[2017-12-18 18:14] #44544 closed

[2017-12-18 18:14] #31405 closed

[2017-12-18 18:14] #44530 closed

[2017-12-18 18:14] #44556 closed

[2017-12-18 18:14] #44583 closed

[2017-12-18 18:14] #44932 closed

[2017-12-18 18:18] Ch3LL commented on #45055
Okay I know this is related to yaml:

[code]

But I can't seem to get the correct combination with teh event.fire_master command to get it to correctly load. Trying this does not work: `salt-call event.fire_master '{"a": "'10_0_0_7'"}' myevent` I suspect there might be some sort of quotation mix that would make this possible.

ping @saltstack/team-core

any ideas here.

[2017-12-18 18:20] #45036 closed

[2017-12-18 18:22] gtmanfred commented on #45055
That is yaml, and is documented in part of the idiosyncrasies

https://docs.saltstack.com/en/latest/topics/troubleshooting/yaml_idiosyncrasies.html#underscores-stripped-in-integer-definitions

[2017-12-18 18:28] Ch3LL commented on #45063
ping @saltstack/team-windows any ideas here?

[2017-12-18 18:32] Ch3LL commented on #45066
Can you compare your config to this issue: https://github.com/saltstack/salt/issues/42626

Looks like you have not added targeting in your example. If you add that does it work?

[2017-12-18 19:02] sundowner69 commented on #45055
Thank you very much for the fast and helpful answer. Have a nice time and merry Christmas!

[2017-12-18 19:02] #45055 closed

[2017-12-18 19:03] Ch3LL commented on #45067
Was this working previously?

Glancing at the code it looks like it might be trying to create a temp directory on that nfs mount without using the auth of the user.

[2017-12-18 20:14] #18310 closed

[2017-12-18 20:14] #24637 closed

[2017-12-18 21:10] vernondcole commented on #45049
@gtmanfred as requested.  Hope this was supposed to be against develop branch. I almost submitted against Oxygen branch but the logs look like it should be here. Made a binary numismatic decision.

[2017-12-18 21:10] prymitive opened #45071 "Jobs missing from the default jobs cache on salt-master"
### Description of Issue/Question

I've noticed that some portion of job results are missing from my master jobs cache.
I was able to confirm it by checking jids of started jobs, comparing with what I'm seeing on the event bus and what's in the jobs cache. I found jids that were sent back to the master but there are no files for those on disk and querying master with lookup_jid doesn't give me any

[2017-12-18 21:16] #3720 closed

[2017-12-18 21:35] nickgarber commented on #45059
Hey @gtmanfred, the nested quoting doesn't help. I think the quoting is working correctly. It's producing a single "word" and passing it to SDB, but somewhere along the line it's actually parsing inside the quotes looking for a keyword pair.

I haven't code dived but I approximate from testing that the parser is looking for keyword pairs from _inside_ the string argument. Sounds kooky I know, but

[2017-12-18 21:43] vernondcole opened #45072 "cannot build documentation on Ubuntu 17.10"
### Description of Issue/Question

Attempts to build documentation fail on recent Ubuntu workstations.

### Setup

On an Ubuntu workstation. Install sphinx (have tried both 1,3.1 and current 1.5.6).

### Steps to Reproduce Issue

[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)
[code]
[sphinx-err-JWVmE3.log.z

[2017-12-18 21:45] Giandom opened #45073 "No Slack API key found"
### Description of Issue/Question
Hi,
slack module always return this error:
[code]

### Setup
I have added in /etc/salt/master.d/slack.conf the following lines:
[code]

Any advices? I have this issue since I have updated to 2017.7.2.

Thanks,
Giandomenico

### Versions Report
Salt Version:
           Salt: 2017.7.2

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installe

[2017-12-18 22:00] gtmanfred commented on #25769
still relevant

[2017-12-18 22:04] gtmanfred commented on #45059
How about `"'\"jlkjhl=\"'"`?

[2017-12-18 22:11] eliasp commented on #25782
Keep this one open…

[2017-12-18 22:21] mwerickso opened #45074 "boto3_route53 not running"
### Description of Issue/Question
When I try to run a debug state for my test environment with a `boto3_route53.rr_present:` state, it does not respond and will not even time out.

### Setup
My debug state looks like:
[code]

### Steps to Reproduce Issue
Creating the record using the AWS CLI works okay. Here is some of the `salt-master -l debug` output:
[code]

### Versions Report
[code]

[2017-12-18 22:23] mwerickso commented on #45074
@tkwilliams you recently helped with another issue and said "this is one of yours." Were you referring to this entire module or the feature of the module that had the last issue? Any help you can give here?

Thanks!

[2017-12-18 22:35] frogunder commented on #45023
I tried this again and I still get the error.

I did I git bisect and found this:
[code]

It is working correctly on the commit before the one mentioned above.
Also this is working fine on 2017.7.2.

[2017-12-18 22:46] #10955 closed

[2017-12-18 22:47] #26178 closed

[2017-12-18 22:47] doesitblend opened #45075 "test=true does not"
### Description of Issue/Question
A state using `file.managed` will fail when `test=true` is passed and the directory/file does not exist. This happens even when `makedirs: true` is used. This could be a bug or a feature request.

This brings up the question of desired behavior. Should `test=true` with `makedirs: true` be able to verify whether it can create this directory?

### Setup

Add this st

[2017-12-18 23:48] gtmanfred commented on #45073
If you want to put the returner configuration in the master config file and have the minions send the data directly to the returner, you will need to set pillar_opts to True, but that will put the full master config in each minions pillar data.

The better option would be to put this key in each minions pillar data, or configure it on each minion.

[2017-12-19 00:44] morganwillcock commented on #45063
It looks like the code path is entirely different between running as SYSTEM and any other user, the latter requires that you get a handle to stdin which is then duplicated. I would guess that retrieving the existing handle is failing when running as a service, but is succeeding when running the process on the desktop as that gets run through cmd and the console host. For Server 2016 it looks like

[2017-12-19 01:22] angeloudy commented on #44980
I think this issue is part of pip.
check this out https://github.com/pypa/pip/pull/4442

[2017-12-19 01:44] SJern commented on #45052
Here it is. Thanks!
master:
[code]
minion:
[code]

[2017-12-19 01:50] SJern commented on #45053
Hmmm, the fix doesn't resolve my issue. I'm getting the same error.

[2017-12-19 02:10] twangboy commented on #45063
The only `runas` function that truly works is the `salt.utils.win_runas.runas_system`. The other function will runas as another user, but won't give you all the privileges that user has. It's been a while since I looked at this code, but I think it's because the system account has the SE_INCREASE_QUOTA_NAME privilege.

I couldn't get the same code to elevate running as user and in an elevated comm

[2017-12-19 02:13] SJern commented on #45047
Are you saying that there isn't any Azure equivalent of EC2's `keyname` - to specify the public key to be placed in the VM? See https://docs.saltstack.com/en/latest/topics/cloud/aws.html#required-settings

Thanks.

[2017-12-19 05:32] damon-atkins commented on #45063
Does the user have impersonate rights.

[2017-12-19 05:35] damon-atkins commented on #44389
Please Label:  `2016.11.9`  `2017.7.3`  `Oxygen`

[2017-12-19 06:12] angeloudy opened #45080 "[ERROR] Error encountered during module reload. Modules were not reloaded"
### Description of Issue/Question
Every time I run state.highstate, I got this error
```[ERROR] Error encountered during module reload. Modules were not reloaded```
By tracking down the code, I think this was caused by the following lines
[code]

I don't think this error affects anything. Can the loglevel be changed to info or warn instead of error.
### Setup
FreeBSD 11.1
Python 3.6.3

### Steps t

[2017-12-19 09:14] pkruk commented on #45046
Hi :)
Thanks ;) I change a code  a little bit (adding docstring and refactore code), so my PR should be perfect now ;)

[2017-12-19 09:14] jay-dihenkar commented on #44848
Just a wild guess, this looks like child process going, **_zombie_**! It's the way how subprocess is implemented: https://www.python.org/dev/peps/pep-0324

Can you check what's the process state on the minion?

[2017-12-19 10:03] sundowner69 opened #45081 "file.manage_file throws "TypeError: string indices must be integers, not str" from script"
### Description of Issue/Question
If I use file.manage_file as an api call in a script I constantly get "TypeError: string indices must be integers, not str", no matter what I try. Maybe I am using a wrong syntax
If I am using salt-call file.manage_file everything is working fine. What is my mistake? Could you please advise?

### Setup
<pre><code>

Traceback (most recent call last):
  File "<stdin

[2017-12-19 10:09] ryanwalder commented on #45067
I've not tried using it before on an NFS mount so can't confirm if it worked previously.

From the error I would agree it's during the temp file creation.

[2017-12-19 10:45] ftoek opened #45082 "Pillar keys overwriting in the environment configuration"
The same pillar keys don't overwrite if host is in other environment.

## Configuration:

master:
[code]

pillar top.sls:
[code]

base/global.sls:
[code]

try/global-try.sls:
[code]

## EXPECTED RESULTS:

Command
[code]
returns "1".

## ACTUAL RESULTS:

Command
[code]
returns "test".

versions-report:
[code]

[2017-12-19 10:47] dkatsanikakis commented on #45066
@Ch3LL Thanks for the prompt reply. I tried this already but still doesn`t work.

I noticed something weird. I added mymodule to userA. When i "su" on salt-master as userA and execute `salt -b 1 server33 mymodule.test` it works without any issues. No 'kwargs' nor 'args' are specified (see bellow updated config) .

[code]

However, when 'su' as  testuser and execute the very same command, i get sam

[2017-12-19 11:39] dkatsanikakis commented on #45066
@Ch3LL

**NOTE. In my first config sample there was a paste issue with result the user 'testuser' been allowed to use 'test.ping' module. I have updated my master config file**

Considering my previous comment that 'userA' can execute the mentioned command without any issues but 'testuser' could not, i started looking for any typos which i couldnt find any. I then tried to copy the 'userA' block a

[2017-12-19 12:16] dkatsanikakis commented on #45066
Confirmed. If test.ping is not allowed for a system user batching is not allowed. Is this normal?

[2017-12-19 12:55] lukemob commented on #45063
@morganwillcock you are right, when running minion in a console as the same user, it works fine. Does not work when running as service.

I tried adding the privileges, but it's the same issue.

[2017-12-19 13:39] thuhak commented on #44846
@homebond thx,  i will take a try

[2017-12-19 14:58] nickgarber commented on #45059
I'm going to rebuild my test environment and retry each of these question/tests and will have an update for later in the day.

[2017-12-19 15:07] lahdekorpi commented on #41883
Nothing?

[2017-12-19 15:08] lahdekorpi commented on #41883
Would this issue qualify as a security issue since it does output the actual Slack token to restricted users when they run Salt commands?

[2017-12-19 15:22] ThomasSullivanSubscribe opened #45084 "salt.states.firewalld - Support for icmp-block-inversion zone configuration element"
### Description of Issue/Question
firewalld has the firewall zone configuration element "icmp-block-inversion" that inverts the icmp block handling.  Currently one cannot set this configuration element in salt.states.firewalld

### Setup
Generic Setup.  This is to support a feature within the firewalld environment.  An example firewalld output where this configuration element has been enabled:

[c

[2017-12-19 16:22] #45049 closed

[2017-12-19 17:06] garethgreenaway commented on #45071
@prymitive Thanks for the report.  Do you see any information about the job if you use the other runner functions like `print_job` or  do you see it in `list_jobs`?

[2017-12-19 17:20] garethgreenaway commented on #45074
@mwerickso Thanks for the report. It will produce a lot of output but could you try running with `trace` logging on to see if there is any indication where this is getting stuck?

[2017-12-19 17:46] garethgreenaway commented on #45075
When `test=True` is passed the `check_managed_changes` is called, which does not appear to take `makedirs` into account.

[2017-12-19 17:52] garethgreenaway commented on #45080
@angeloudy Thanks for the report.  When you're seeing the errors in your logs following a module reload, are the modules successfully being reloaded?

[2017-12-19 18:13] #25939 closed

[2017-12-19 18:24] garethgreenaway commented on #45084
@ThomasSullivanSubscribe Thanks for the request, approving this for a future feature addition.

[2017-12-19 18:26] garethgreenaway commented on #45082
@ftoek I believe you're seeing the results you're seeing because of the ordering of the files in your top.sls file.  Because the base environment file is last that's the one that is taking effect.

[2017-12-19 18:56] garethgreenaway commented on #45081
@sundowner69 Thanks for the report.  Looks like your 4th argument in the call is a string and should be `None` to use the defaults or the state return data structure.

[2017-12-19 19:12] sundowner69 commented on #45081
@garethgreenaway Thanks for your hint. It looks like every empty argument has to be set `None`.

[2017-12-19 19:48] loz-hurst commented on #5787
We now do this with ext_pillar to import "group" pillar information based on a custom module that reads the data from a combination of external inventory systems. The addition of ext_pillar_first (available in stable after this bug was filed) means we can target using the "group" from ext_pillar in our pillar files.

In short, for our use case we have a workaround through other developments in sal

[2017-12-19 19:59] thatch45 commented on #45056
Yes, we do not want to add a default hard dep to Salt for discovery. I really like having discovery, but I would much rather make it an opt-in.
I do understand the Suse argument for turning it on by default, that should be a simple addition in the Suse spec file, but I think this would be problematic to be turned on by default in a number of environments that salt is used in

[2017-12-19 20:01] terminalmage commented on #45056
Yeah, if Suse wants to turn it on by default, it's as simple as adding the dep and patching the conf file template.

[2017-12-19 20:01] thatch45 commented on #45056
or deploying a config with it enabled, which would be my understanding on the best way to do it, but I might be off on Suse policy here.

[2017-12-19 20:02] terminalmage commented on #45056
Yeah... Instead of patching the template, just adding a .conf file in /etc/salt/master.d with the discovery bits would probably be easier.

[2017-12-19 20:57] garethgreenaway commented on #45072
@vernondcole thanks for the report.  I was able to duplicate the issue and work around it by building the docs inside a virtualenv.  Let us know if that solves the issue for you.

[2017-12-19 21:13] #26043 closed

[2017-12-19 22:41] tobiasBora commented on #45043
Thank you for your answer. I'd love to write a PR, but I don't know at all how salt works inside, and for now I can't spend 50h on that. I tried to give it a quick look but I think that I can't do it with just 10 lines, because it needs to run before everything, including the server loading configuration.

Meanwhile, I wrote my own script that bootstrap a node, and do all the dirty job [here](http

[2017-12-19 22:43] gtmanfred commented on #45043
FWIW, our friends over at CloudFlare have started working on this, fyi https://github.com/saltstack/salt/pull/44812

[2017-12-19 23:13] iavael commented on #5787
@loz-hurst

Unfortunately it doesn't help if there are only ext_pillar sources and one of them provides "groups" list and it's needed to use these groups to target pillars from other sources.

[2017-12-19 23:27] #26027 closed

[2017-12-19 23:57] shahn commented on #20727
I don't see this bug as fixed. Also, I provided the requested information. This bug could still be closed as I worked around it.

[2017-12-19 23:59] tjgruber commented on #30323
Status of this?
Would be nice to have.

[2017-12-19 23:59] damon-atkins commented on #45056
See my comments in the PR #45050 to keep everyone happy

[2017-12-20 00:45] boltronics opened #45093 "Implement a composer.installed/update option to disable cache"
### Description of Issue/Question
There is no obvious way to disable composer cache via the composer-related state and execution modules. It would be great to have one provided.

As it stands, using the `composer.installed` state with the `user` option causes the warnings:
[code]

The current best option to avoid both cache and warnings is to create a directory under `/tmp`, set `composer_home` to

[2017-12-20 01:43] haeac opened #45094 "Rendering out regular expressions (special characters)"
### Description of Issue/Question
Hello,

I'm trying to render out a grok pattern file with some regular expressions. But salt / jinja keeps adding additional \ characters. The expected output of the patterns file is as follows:
[code]
Actual output is as follows:
[code]
Thanks in advance.

### Setup
defaults.yml file:
[code]

The state file patterns.sls:
[code]
Patterns template patterns:
[code]

[2017-12-20 04:14] vinian opened #45096 "support compare module"
hi, did saltstack support compare module?  after running state, i want to do some test, for example check whether the version is a desired one or the service is ok.
the sls file are like this:
[code]

[2017-12-20 05:42] sumeetisp commented on #44357
Please direct me to some documentation regarding kerberos auth when using salt-ssh

[2017-12-20 07:51] kaaelhaa commented on #43928
I too just experienced this.

It seems the parameters passed to the virt module from the virt runner is out of order (specifically, the virt runner passes the `enable_vnc` parameter to the virt modules `seed_cmd` parameter).

I'll try to cook up a PR with a fix within a few days.

[2017-12-20 08:52] dkatsanikakis commented on #45066
As far as i can see on the source code of  "batch.py" [here](https://github.com/saltstack/salt/blob/413de95df2a4cf81575bb654f3e51fc1c52b112a/salt/cli/batch.py) , test.ping is used in order to gather up a list of minions for the batch. Hence why "test.ping" module must be allowed in order a user to be able to use salt batch mode.

[code]
I wasn't able to find any documentation on this so maybe it w

[2017-12-20 10:24] ftoek commented on #45082
Changed top.sls in this way
[code]
nothing changed, the key from global-try had been overwriting as the last time. Also I tried to change order of directory viewing in `pillar_roots:` in `master` it doesn't work and it was expected because in exactly this way pillars work according to [Pillar Namespace Flattening](https://docs.saltstack.com/en/latest/topics/pillar/#pillar-dictionary-merging).
In m

[2017-12-20 10:55] loz-hurst commented on #5787
@iavael Indeed, which is why I said "for our use case".  It's very much a workaround, not a fix, as we've had to create a single ext_pillar that interfaces with the other ext_pillars (and some sources that we've not bothered to write a proper ext_pillar interface around, since we can't use it direct because of this) so we can cross-reference and cross-use them before using (some of) the informatio

[2017-12-20 11:26] DarkKnightCZ commented on #45063
@twangboy Yup, you're right. If `salt.utils.win_runas.runas` function is "patched" to always execute `salt.utils.win_runas.runas_system` and service account is granted `SE_ASSIGNPRIMARYTOKEN_NAME` and `SE_INCREASE_QUOTA_NAME` (as per [CreateProcessAsUser](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682429.aspx)), it seems to work. It however requires those privileges even if execute

[2017-12-20 11:48] #43919 closed

[2017-12-20 12:40] jryberg commented on #45033
Hi, What kind of info is needed?

[2017-12-20 12:47] jryberg opened #45104 "Add support for PersistentVolumes(Claims) to Kubernetes"
### Description of Issue/Question
Hi,

This is a feature request.

I'm trying to manage a Kubernetes cluster but I can't go all the way using Salt. There is currently no way to maintain PersistentVolumes or PersistentVolumesClaims.
Official documentation: https://kubernetes.io/docs/concepts/storage/persistent-volumes/

It would be great if Salt supported management of Kubernetes volumes.

I'm lear

[2017-12-20 14:13] pimiento opened #45107 "'shadow.set_password' is not available."
### Description of Issue/Question
salt on my CentOS (CloudLinux) can not run shadow command `shadow.set_password`

### Setup
#### /etc/salt/minion
[code]
### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2017-12-20 14:28] Ch3LL commented on #45093
Sounds like a decent approach. Will approve as a feature request :) Please feel free to give a go at a PR

[2017-12-20 14:47] gtmanfred commented on #43928
Awesome, thanks!

Sorry i forgot about this one.

Thanks,
Daniel

[2017-12-20 14:49] gtmanfred commented on #45033
Unfortunately we do not have any testing environments for kubernetes internally, so I am just waiting for the person who wrote these kubernetes modules to help.

@flavio ping

Thanks.
Daniel

[2017-12-20 14:50] itskenny0 opened #45109 "iptables question"
Hello!

I'm deploying the following iptables state via salt:
[code]

This works great, but I would like to remove the loopback interface from this rule.
Normally, I would use:
`iptables -A POSTROUTING ! -o lo -j MASQUERADE`

Could you point me to how I can implement this in a state?
Thank you!

[2017-12-20 15:22] Ch3LL commented on #45096
Does not look like we have something like that. Will approve as a feature request.

[2017-12-20 15:25] Ch3LL commented on #45104
Are you refering to adding that support in the k8 state/execution module?

[2017-12-20 15:33] Ch3LL commented on #45107
`shadow.set_password` is an execution module not a state module.

You have a couple options though. If you still want to use this execution module you can use the `module.run` state module as documented here: https://docs.saltstack.com/en/latest/ref/states/all/salt.states.module.html and still call the execution module, but take note that because its an execution module it will run each time you c

[2017-12-20 15:51] Ch3LL commented on #45109
just glancing at the code I think you should be able to do it by adding `- of: ! lo`. I can track it down more if that doesn't work.

[2017-12-20 15:59] itskenny0 commented on #45109
Thank you, that got me in the right direction!
This is what I ended up with:
[code]

[2017-12-20 15:59] #45109 closed

[2017-12-20 16:03] rickh563 commented on #40245
ZD-2084

[2017-12-20 16:31] #44303 closed

[2017-12-20 16:37] Ch3LL commented on #45094
if you change it to double quotes does it help. Like this: `GREEDYMULTILINE: "(.|\n)*"`

[2017-12-20 16:49] rallytime commented on #26192
Stil needed

[2017-12-20 17:15] tkwilliams commented on #45074
@mwerickso Yap, the whole danged boto3_route53 thing I'm to blame for :)

I'll dig in and have a look-see this afternoon after scrum ...

[2017-12-20 17:33] #25611 closed

[2017-12-20 17:34] yermulnik commented on #26315
Well, if this function is not that popular, I can close this ticket unresolved =(

[2017-12-20 17:34] #26315 closed

[2017-12-20 17:42] #26325 closed

[2017-12-20 19:55] #15582 closed

[2017-12-20 22:27] #26008 closed

[2017-12-20 23:09] arif-ali commented on #44954
I have been looking at the rest module for sdb, and have looked at adding #45116. You could then check to see, if the extras dict contains something, only then run the http.query. Would that make sense?

[2017-12-21 06:46] acornett commented on #31179
I'm having the same issue, snapshot versions with a classifier always fail due to this check.

It looks like the check in `_get_snapshot_url` is expecting the `_get_snapshot_version_metadata` function to populate the dict with both extension and classifier data, but only extensions are being populated.

Adding something like:
[code]
to the `_get_snapshot_version_metadata` function should do the tr

[2017-12-21 07:37] #5752 closed

[2017-12-21 08:38] QinXiao2017 commented on #18329
I have been seeing the same behavior.
and how to resolve it, thank you

[2017-12-21 10:01] horakmar opened #45121 "Files downloaded from http source have zero length"
### Description of Issue
Hello.
Salt minion version 2017.7.2+ds-1 on Ubuntu doesn't correctly download files from http source.
Downloaded files have zero length.
Previous versions (I tested 2016.11.8+ds-1 and 2017.7.2+ds-1) are OK. Last version on Centos (2017.7.2-1.el7) it is OK too.
Windows version (Salt-Minion-2017.7.2-Py3-AMD64) has the same bug.

My opinion is, that there is some dependency i

[2017-12-21 10:27] IamAliBaba opened #45122 "Salt API is failing to authenticate - try 'systemctl restart salt-master': No JSON object could be decoded"
Hi everyone,

I'm using salt in  Deepsea and having issue when i'm deploying deepsea on Opensuse Leap 42.3.

In this stage  "salt-run state.orch ceph.stage.1" i'm getting authentication issue.

"Salt API is failing to authenticate - try 'systemctl restart salt-master': No JSON object could be decoded"

is this a bug in Opensuse or not ?

[2017-12-21 13:29] gtmanfred commented on #45121
This is a duplicate problem as here https://github.com/saltstack/salt/issues/44013

It is fixed by this https://github.com/saltstack/salt/pull/44016 which will be in 2017.7.3

Sorry about the inconvenience

[2017-12-21 13:29] #45121 closed

[2017-12-21 13:31] gtmanfred commented on #45122
I would open an issue on the deepsea git repo https://github.com/SUSE/DeepSea

Or in the opensuse tracker.

Thanks,
Daniel

[2017-12-21 13:42] IamAliBaba commented on #45122
ceph-admin:~ # salt-api -l debug
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Including configuration from '/etc/salt/master.d/eauth.conf'
[DEBUG   ] Reading configuration from /etc/salt/master.d/eauth.conf
[DEBUG   ] Including configuration from '/etc/salt/master.d/modules.conf'
[DEBUG   ] Reading configuration from /etc/salt/master.d/modules.conf
[DEBUG   ] Including configu

[2017-12-21 14:06] gtmanfred commented on #45122
what is listening on port 8008 already that you cannot start salt-api on it?

[2017-12-21 14:08] IamAliBaba commented on #45122
salt-api is  under  that port

[2017-12-21 14:32] gtmanfred commented on #45122
I would open an issue with opensea to make sure you have all the configurations correct in salt to use that setup.

[2017-12-21 14:33] IamAliBaba commented on #45122
you can try to setup in you machine , and see the issue.

I can provide screenshots or video

[2017-12-21 15:03] gtmanfred commented on #45122
I have never run this product, it seems like an issue with the setup or a bug in the DeepSea product.

I am closing this issue.

Thanks,
Daniel

[2017-12-21 15:03] #45122 closed

[2017-12-21 16:55] wes-novack opened #45125 "salt-cloud no longer picking up master setting from provider file"
### Description of Issue/Question
With salt-master and salt-cloud 2017.7.2, salt-cloud is no longer picking up the config for minion:master:dns  defined in a salt-cloud provider file. This previously worked in salt 2016.11.X

### Setup
provider.conf file
[code]
profile.conf file
[code]

### Steps to Reproduce Issue
salt-cloud -P myprofile myprofile-host-1
`[WARNING ] There's no master defined on t

[2017-12-21 17:16] gtmanfred commented on #45125
I think I have noticed this as well.

I am going to try and see if I can bisect this and find the problem.

[2017-12-21 17:28] prymitive commented on #45071
Didn't try that, will check once I have a chance and report back

[2017-12-21 17:28] gtmanfred commented on #45125
It looks like merging configurations between the provider and the profile was accidentally ripped out when we deprecated the keyword `provider` for `driver`

https://github.com/saltstack/salt/commit/88936c2c84ba08b041c5b9f31a03944bf22bf1f4

I am only able to replicate this if I also have a `minion` dictionary in the profile as well.

Thanks for reporting.
Daniel

[2017-12-21 17:37] gtmanfred commented on #45125
@techhat do you remember where these configs used to get merged?

Thanks,
Daniel

[2017-12-21 17:38] prymitive commented on #45071
I was able to find some recent failures in logs and checked for those jids:
[code]

[code]

[code]

I wouldn't expect those to work since as I mentioned I wasn't able to find any files with those jids in `/var/cache/salt/master/jobs` (except for jobs running lookup_jid on master).

[2017-12-21 18:16] haeac commented on #45094
@Ch3LL I'll give that a try.

[2017-12-21 18:50] techhat commented on #45125
I don't. I believe @rallytime did the conversion from `provider` to `driver`, she might have a better idea.

[2017-12-21 18:57] haeac commented on #45094
@Ch3LL, unfortunately your suggestion didn't work.

[2017-12-21 19:26] BenjaminSchiborr opened #45126 "File management for Windows fails if folder permission contains unknown SID"
### Description of Issue/Question
When managing a file or a folder which permission contains an unknown SID the operation fails if the underlying logic checks the permissions.

Example:

Given a folder C:/Deployment, which has rights set for the user "ALL_APP_PACKAGES" (Well-Known SID "S-1-15-2-1", see https://msdn.microsoft.com/en-us/library/cc980032.aspx) on a Windows Server 2008 R2, the followi

[2017-12-21 19:39] gtmanfred commented on #45126
@twangboy what do you think about the proposed fix here?

Thanks,
Daniel

[2017-12-21 20:19] #44389 closed

[2017-12-21 20:38] #26092 closed

[2017-12-21 21:10] twangboy commented on #36802
@gtmanfred I can only replicate this when I remove inherited permissions from the target directory.

[2017-12-21 21:14] lorengordon commented on #45094
It looks like the setup actually contains the double-backslash, in single quotes, which is then _faithfully_ written to the file. No extra characters. Or are my eyes failing me?

[2017-12-21 21:48] Supermathie commented on #14005
I no longer *need* this but it should probably be kept open and fixed.

[2017-12-21 21:55] haeac commented on #45094
@lorengordon if I don't use double quotes, I get Jinja errors.

[2017-12-21 21:55] #26075 closed

[2017-12-21 21:55] #26113 closed

[2017-12-21 22:07] lorengordon commented on #45094
You get an error without double backslashes, even when the string is _inside_ the single quotes? Can you post the traceback/error?

[2017-12-21 22:40] mnieber commented on #45057
I understand now (from reading more code and comments) that there just is no reliable generic way to detect if a service is running. Indeed, `service mysql status` writes a very unhelpful string to stdout. So, instead of `running.enabled`, I will just use `cmd.run`.

I will close this ticket (if someone wants to reopen, feel free)

[2017-12-21 22:40] #45057 closed

[2017-12-21 23:15] mnieber opened #45133 "Simple progress reporting in salt-call"
I know real-time progress reports in salt are tricky in general, but I wondered if a simple form of progress reporting for `salt-call` is feasible, given that salt-call serves a much simpler use-case.

If I hack into state.py and add 1 line to `call_chunks`:

        for low in chunks:
            print("Running %s" % low['__id__'])

then I already get the desired result. If this `print` statement

[2017-12-22 00:28] etfeet opened #45136 "salt state mount.mounted remounts cephfs every time when setting secretfile=path/to/secretfile option"
### Description of Issue/Question
I'm using salt to mount a ceph luminous cephfs mount point and whenever I use the secretfile=my_ceph_auth_secret_file the mount state thinks the secret file option is changing every time the state runs.

### Setup
[code]

### Steps to Reproduce Issue
use the secretfile= option with a cephfs mount.
[code]

### Versions Report
[code]

[2017-12-22 00:41] gtmanfred commented on #45133
That doesn't seem unreasonable to me.

I am going to mark this as a feature request.

Thanks,
Daniel

[2017-12-22 00:48] gtmanfred commented on #45136
File systems like ceph and gluster and nfs are the reason that the

`device_name_regex` option and a couple of the other ones were added.

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.mount.html#salt.states.mount.mounted

If you set it to this does it work?

[code]

[2017-12-22 01:02] gtmanfred commented on #45125
Sure, but do you remember where in the code the provider and profile configs are merged?

[2017-12-22 01:24] etfeet commented on #45136
That didn't fix the issue. The error I'm getting from the state run is
`Forced remount because options (secretfile=/etc/ceph/cephfs.secret) changed`

I think the problem is that the secretfile option isn't exposed to mtab, /proc/self/mountinfo , etc. the kernel just loads the ceph auth key from the secret file durring mount. What would be the best way to force a remount if the secret file changes

[2017-12-22 01:28] gtmanfred commented on #45136
If you use watch instead of onchanges, it should remount it from the first one

[2017-12-22 03:13] Supermathie commented on #16691
Going through my old notifications and realized this was closed as stale.

If you are interested, we now do offer [free hosting for OSS projects such as yours](https://blog.discourse.org/2016/03/free-discourse-forum-hosting-for-community-friendly-github-projects/)

Just get in touch! ♥

[2017-12-22 04:33] phsteve opened #45138 "Python crashes when Salt commands are run in a directory other than C:\salt\bin on some Windows servers"
### Description of Issue/Question

Note: see my comment below about what directory you have to be in (`C:\salt\bin`) when you execute `salt-call` or `salt-minion` (and possibly other Salt commands). That might be the root cause instead of a problem with the `file.managed` state as I originally thought, but I'm not certain.

When I execute `salt-call.bat state.highstate` in Powershell, Python crash

[2017-12-22 07:41] 4001982248998 commented on #36673
got it working with this shebang order:

    #!jinja|yaml|gpg

[2017-12-22 09:43] citaret opened #45139 "Is there any way to set the number of parallels for salt-cloud?"
Hi,

salt-cloud support parallel creation of instances by option (-P).

However, in my experience, when the number of parallel is larger than a certain number, such as 30 for Linode, there will be some error that make some instances created with mistake. Switch off the parallel would make the creation time much longer for hundreds of instances.

Is there any way to set the number of parallels for

[2017-12-22 10:36] qiangshui opened #45140 "file.recurse [Errno 13] Permission denied"
I using file.recurse to transfer a directory to a minion, most of the files in the directory are .dll files. Somtimes there is no problem,but sometimes, the names of some files may be change, and It caused my IIS service to be wrong.

Here is my .sls file
[code]

### Steps to Reproduce Issue
Sometimes, when I transfer those files first time, this problem will arise,
this is the error commant:
`Fai

[2017-12-22 13:49] flavio commented on #45033
Sorry for the late response, I've been traveling and then catching up with a bunch of things. I'll look into that.

[2017-12-22 15:29] rallytime commented on #44315
@whytewolf This should be fixed with #45134.

[2017-12-22 16:37] woodhead99 opened #45141 "shadow.lock_password"
### shadow.lock_password after shadow.del_password causes an error.
If the password field is null we get an IndexError: string index out of range:

`
The minion function caused an exception: Traceback (most recent call last):
      File "/usr/lib/python2.7/site-packages/salt/minion.py", line 1468, in _thread_return
        return_data = executor.execute()
      File "/usr/lib/python2.7/site-packag

[2017-12-22 16:51] garethgreenaway commented on #45139
@citaret Thanks for the report.  The option you want is the configuration item `pool_size`, https://docs.saltstack.com/en/latest/topics/cloud/config.html#thread-pool-size

[2017-12-22 16:58] garethgreenaway commented on #45140
@qiangshui Thanks for the report.  @twangboy Thoughts on this one?

[2017-12-22 17:06] garethgreenaway commented on #45138
@phsteve Thanks for the report.  At a quick glance I see that in the state file you're setting the owner of the file to be 'Administrators', this looks like it might be a group name and not a user?  Wondering if the code is failing because it's unable to look up a user.

[2017-12-22 17:17] garethgreenaway commented on #45141
@woodhead99 Thanks for the report.  Would you mind submitting a pull request with this fix?  Thanks!

[2017-12-22 17:33] #42499 closed

[2017-12-22 17:37] garethgreenaway commented on #42550
This fix is now in later version of 2017.7 and future versions including Oxygen, so I'm going to close out the issue.  Feel free to reopen if the issue persists.  Thanks!

[2017-12-22 17:37] #42550 closed

[2017-12-22 17:39] garethgreenaway commented on #43386
These changes are now in the latest above mentioned version of Salt, so I'm going to close out this issue.  Please feel free to reopen if the issue persists.  Thanks!

[2017-12-22 17:39] #43386 closed

[2017-12-22 17:44] garethgreenaway commented on #43819
This change is now merged into a released version of 2017.7 so I'm going to be close this issue.  If the issue persists please feel free to reopen. Thanks!

[2017-12-22 17:44] #43819 closed

[2017-12-22 17:45] garethgreenaway commented on #43961
This change has been merged and will be available in the Oxygen release so I'm going to close this out.  If the problem persists please feel free to reopen the issue.  Thanks!

[2017-12-22 17:45] #43961 closed

[2017-12-22 18:07] mephi42 commented on #43819
Thanks! I will check once the new version is available on pypi.

[2017-12-22 18:14] dmurphy18 commented on #32564
@damon-atkins Wondering about the state of this issue, since I fixed SaltStack's Solaris 10 release to use Zeromq v4.0.8, but that is part of SaltStack's Enterprise releases and not available to open-source,  Hence unsure of how to proceed here for SmartOS and OmniOS.

[2017-12-22 18:54] dumol opened #45142 "gid_from_name fails on MacOS with "gid must be an integer"."
### Description of Issue/Question

When trying to create a user through Salt with `gid_from_name: True`, our MacOS build slaves fail with **_SaltInvocationError: gid must be an integer_**.

### Setup
Master is Ubuntu 14.04 running latest stable upstream version: 2017.7.2.

Minions are using Homebrew. One has the _stable_ version installed by default, the other has the _head_ version installed with

[2017-12-22 19:08] rallytime opened #45143 "Improve boto_route53 execution module documentation"
### Description of Issue/Question
The execution module documentation for `boto_route53.py` need some improvements. The states are documented well, but it's not clear how the `wait_for_sync` option can be used from the execution module.

This issue is to track documentation improvements proposed in #44949, which originated from issue #44947.

@tkwilliams I believe you volunteered to complete this e

[2017-12-22 19:21] jryberg commented on #45104
Hi @Ch3LL

Yes!

[2017-12-22 19:45] yatahaze commented on #36436
@HenriWahl

`
# salt --version
salt 2017.7.2 (Nitrogen)
ipv6_server:
    Minion did not return. [No response]
`

ipv6 enabled, but interface not set. If I adjust the interface for ipv6, then I get ipv6 only... so no dual stack on this version. Unless I'm missing something?

[2017-12-22 20:08] phsteve commented on #45138
@garethgreenaway I tried removing the `user` parameter to just let Salt default to the user running the salt-minion process and Python still crashed, though with slightly different debug output:

[code]

[2017-12-22 20:16] phsteve commented on #45138
Oh, I also just noticed that if I run `salt-call state.highstate` in the `C:\salt\bin` directory then Python doesn't crash and the highstate succeeds. The above two-liner python script also succeeds when run from that directory. I have another Windows Server 2016 box that succeeds no matter what directory I'm in when I run the highstate or two-line script. Both have `C:\salt` in their `$env:Path`.

[2017-12-22 20:57] corywright commented on #24828
I believe this is still unaddressed.

[2017-12-22 20:57] golmaal opened #45147 "postgresql returner fails to connect to db when salt-ssh executes a function"
### Description of Issue/Question
I'm looking for some help with salt-ssh and returner using postgresql. If you've a postgresql returner configured (with returner.postgres.user set to a user other than root) and run a salt-ssh command it fails.

This seems to be happening because in _fetch_options in returners/\_\_init__.py,
https://github.com/saltstack/salt/blob/51eb07c13f9b0b39fd4242a23566fd5c35

[2017-12-22 21:57] twangboy commented on #45140
Maybe the file is in use when the state runs?

[2017-12-22 21:59] garethgreenaway commented on #45140
If it's modifying DLL files this seems likely and possible.

[2017-12-22 22:52] rhavenn opened #45151 "file.recurse fails for a single file"
I have a file.recurse to sync root's .vim config directory. It fails on a single file. The rest of the files are copied correctly. If I rename the fail it still fails. If I move the file out of the directory then they file.recurse works. I see nothing wierd about the file. It's just a .vim color scheme config file.

minion and master are on the same server.

salt version:
[code]

The .sls file sec

[2017-12-22 22:54] rhavenn commented on #45151
Okay, I did figure this out. The file had a single UTF-8 character in it, so `file filename` wasn't returning ASCII.

However, I don't know if salt is supposed to be able to handle UTF-8 or not at this point. So, leaving the bug here for a dev to do with as they will.

[2017-12-22 23:39] eliasp commented on #24623
Should be kept open IMHO.

[2017-12-23 00:19] lorengordon commented on #26799
Still relevant

[2017-12-23 11:47] #23535 closed

[2017-12-23 13:07] morganwillcock commented on #45063
I've played around around with this a bit and can recreate the same problem. It looks like any process running as a service simply don't have a stdin handle, so to detect running as a service you can just check if `GetStdHandle(STD_INPUT_HANDLE)` returns null. Apparently some applications are buggy when running with a null stdin handle, so I guess this needs an anonymous pipe handle to use in its

[2017-12-23 15:18] joelwhitehouse opened #45152 "file.managed state should not download a file if the checksum did not change"
### Description of Issue/Question
When using the file.managed state with a source HTTPS ```source``` url and a provided ```source_hash``` I would expect Salt to check the hash of an existing local file before downloading the file from the server.  This appears to be a regression of #33831.  Today, it's been eating my limited mobile data.

### Setup
Salt Version: 2017.7.2 (Nitrogen) - in **masterle

[2017-12-23 15:50] damon-atkins commented on #45063
Windows only supports executing a string.  i.e. not a list of arguments.  Python will convert and list to a string on windows.

A recent change in cmdmod was **not** to convert a string into a list.

cmd.shell should use `%COMPSPEC% /s /c "string provided"` and cmd.run should just run the command as is (i.e. not support &)

I looks at the cmdmod there is a a lot of Linux specific stuff in it, with

[2017-12-24 01:09] citaret commented on #45139
@garethgreenaway Thanks, it solved my problem.

[2017-12-24 01:40] garethgreenaway commented on #45139
@citaret Awesome!  If you consider the issue resolve please feel free to close it.  Thanks!

[2017-12-24 01:45] #45139 closed

[2017-12-24 02:08] nickgarber commented on #45059
The `"'\"jlkjhl=\"'"` input didn't error, but the quotes were recorded as part of the value which isn't particularly desirable.
[code]

Just to loop in on my more general question - is there a more preferable way to save base64-encoded binary data into a SQLite SDB than sdb.set from the CLI?

[2017-12-24 02:20] maschinetheist opened #45154 "Missing repo for AMZN Linux 2 (2017.12)"
### Description of Issue/Question
Seems like there is a missing repo for Salt packages for Amazon Linux 2 (2017.12)

### Setup
Just a standard EC2 instance with Amazon Linux 2 provisioned: amzn2-ami-hvm-2017.12.0.20171212.2-x86_64-gp2 (ami-7707a10f)

### Steps to Reproduce Issue
Install the Salt Amazon repo file:
[code]

Install salt-minion:
[code]

Hardcoding an older `$releasever` in the `repo`

[2017-12-24 03:47] damon-atkins opened #45155 "[PY3] salt/salt/utils/data.py need to support in and out of different langs"
### Description of Issue/Question
data.py is hard coded to use `__salt_system_encoding__`

For example someone calling salt-call could have a different language to the language defined for salt-minion will result in different output.

Salt Team need to say UTF-8 is the standard for templates and sls files etc (except for binaries). Provided a checker/converter tool for the master in salt-common.

[2017-12-24 08:31] aboe76 opened #45156 "featurerequest: sdb module sqlcipher"
### Description of Issue/Question
Storing secrets within salt pillar with gpg keys is hard, while using the sdb should make it easier.
Preferable something that should be secure.

Could it be possible to add sdb module that uses pysqlcipher to create an sqlcipher.db

pypi: https://pypi.python.org/pypi/pysqlcipher
documentation: https://github.com/leapcode/pysqlcipher/
examples: http://charlesleife

[2017-12-24 12:37] gtmanfred commented on #45154
We do not support Amazon Linux 2 yet, it should be added in the next release.

[2017-12-24 13:48] #25031 closed

[2017-12-24 16:39] guskovd opened #45157 "winrepo: broken idempotency"
init.sls:
[code]

after the first call of
[code]
I receive:
[code]
--
after the second call - everything is fine.

[2017-12-24 18:43] #26130 closed

[2017-12-24 21:43] #26071 closed

[2017-12-24 22:24] garethgreenaway commented on #45156
@aboe76 Sounds like it could be a great addition to to SDB.  Approving for a future feature addition.  Thanks!

[2017-12-24 22:31] garethgreenaway commented on #45157
@ranl Looks like you added this state module, any thoughts on the above issue?  Thanks!

[2017-12-24 22:35] garethgreenaway commented on #45152
@terminalmage Thoughts on this one?

[2017-12-24 23:02] garethgreenaway commented on #45142
@dumol Thanks for the report.  Seems like the code that is returning the GID might be returning it as a string.

[2017-12-25 00:22] ykm-2012 opened #45159 "nginx isn't up and running though the top file execution was successful and MASTER/MINION communication is slow (i have setup minion on vagrant)"
### Description of Issue/Question
i have set up saltstack on my Mac OS. master is on mac machine and minion1 on vagrant (ubuntu/trusty64 ). i have followed the below documentation.
https://docs.saltstack.com/en/latest/topics/tutorials/walkthrough_macosx.html
everythings good nginx package is installed and successful. But the nginx navigation page do not load on http://192.168.33.10/ .
i just see t

[2017-12-25 01:49] damon-atkins commented on #45157
Need the version number, the debug log output. Is their a reason for using the `--local` option

[2017-12-25 04:31] terminalmage commented on #45152
This is a duplicate of https://github.com/saltstack/salt/issues/38971 and was fixed several months ago in https://github.com/saltstack/salt/pull/43681.

[2017-12-25 04:38] terminalmage commented on #45152
The fix was made after the 2017.7.2 was frozen but before the release of 2017.7.2. Therefore the fix can be expected in 2017.7.3 (and the upcoming Oxygen release).

[2017-12-25 08:08] hackerwin7 commented on #44778
@garethgreenaway Is there any flexible solution for this? I find [this](https://groups.google.com/forum/#!topic/salt-users/CGtPcjZMFD0) is very similar to me.
Maybe I Should use _writing custom python modules_ (_modules/) for this case. even though I still want to do this by salt state.

[2017-12-25 10:04] xiaosazixian opened #45162 "file.manager throws Exception: 550 Failed to open file if use file.manager download a file from ftp server , and the file is in a muti-level directory on the ftp server and has some anthentication info in the url like ftp://username:password@ftpserver.com/directory/filename.txt"
### Description of Issue/Question
file.manager throws Exception: 550 Failed to open file when use file.manager download a file from ftp server , and the file is in a muti-level directory on the ftp server and has some anthentication info in the url like ftp://username:password@ftpserver.com/directory/filename.txt
### Setup
use file.manager download a file from ftp server
the file is a muti-level d

[2017-12-25 17:45] lorengordon commented on #45154
Did Amazon Linux 2 change the default `$releasever` value? It used to by default resolve to `latest`, which would still work, http://repo.saltstack.com/yum/amazon/latest/x86_64/latest/...

[2017-12-25 17:55] #26208 closed

[2017-12-25 19:55] #25828 closed

[2017-12-25 20:25] #26166 closed

[2017-12-25 20:25] #26150 closed

[2017-12-25 20:25] #26099 closed

[2017-12-25 20:25] #25911 closed

[2017-12-25 20:25] #25787 closed

[2017-12-25 20:25] #25534 closed

[2017-12-25 20:25] #25445 closed

[2017-12-25 20:26] #25444 closed

[2017-12-25 20:26] #25402 closed

[2017-12-25 20:26] #16607 closed

[2017-12-25 20:26] #16468 closed

[2017-12-25 20:26] #14020 closed

[2017-12-25 20:26] #16436 closed

[2017-12-25 20:26] #14127 closed

[2017-12-25 20:26] #16419 closed

[2017-12-25 20:26] #4611 closed

[2017-12-25 20:26] #16188 closed

[2017-12-25 20:26] #13486 closed

[2017-12-25 20:26] #16183 closed

[2017-12-25 20:26] #13477 closed

[2017-12-25 20:26] #16182 closed

[2017-12-25 20:26] #8157 closed

[2017-12-25 20:26] #8293 closed

[2017-12-25 20:26] #9080 closed

[2017-12-25 20:26] #16181 closed

[2017-12-25 20:26] #8318 closed

[2017-12-25 21:25] #8692 closed

[2017-12-25 21:25] #9047 closed

[2017-12-25 21:25] #14162 closed

[2017-12-25 21:25] #4142 closed

[2017-12-25 21:25] #8597 closed

[2017-12-25 21:25] #3865 closed

[2017-12-25 21:25] #7717 closed

[2017-12-25 21:26] #8760 closed

[2017-12-25 21:26] #7483 closed

[2017-12-25 21:26] #3988 closed

[2017-12-25 21:26] #8809 closed

[2017-12-25 21:26] #9036 closed

[2017-12-25 21:26] #7433 closed

[2017-12-25 21:26] #7616 closed

[2017-12-25 21:26] #7661 closed

[2017-12-25 21:26] #13219 closed

[2017-12-25 21:26] #13426 closed

[2017-12-25 21:26] #13293 closed

[2017-12-25 21:26] #13418 closed

[2017-12-25 21:26] #5556 closed

[2017-12-25 21:26] #607 closed

[2017-12-25 21:26] #5241 closed

[2017-12-25 21:26] #5317 closed

[2017-12-25 21:26] #6329 closed

[2017-12-25 21:26] #11631 closed

[2017-12-25 21:26] #24940 closed

[2017-12-25 21:26] #9366 closed

[2017-12-25 22:44] absolutejam commented on #43972
Looks like this is a job for [PillarStack](https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.stack.html)

[2017-12-25 22:45] #43972 closed

[2017-12-26 04:00] jf opened #45165 "RFC: add `salt-key` to "salt-common" package"
What do folks think of adding the `salt-key` utility to `salt-common`, instead of restricting it to salt-master? I am really only interested in the `salt-key --gen-keys=` functionality. When dynamically spinning up VMs, I want each spun-up VM to be able to generate its own private-public key pair.

[2017-12-26 08:03] cmclaughlin commented on #33458
This applies to yum repos too - it would be nice to be able to downgrade without rewriting yum sources.  Can we please update this issue title to apply to both repo types?

[2017-12-26 08:52] sidhujasminder opened #45167 "Unable to sync custom grains for proxy"
### Description of Issue/Question
I have a requirement for which i have to add data to the grains of the proxy and then later use that data for some state files. I am using junos proxy btw.

### Setup
This is the link i followed:
https://docs.saltstack.com/en/latest/topics/grains/#loading-custom-grains
I am starting with adding a basic dictionary to grains through the _grains folder. I am using th

[2017-12-26 12:01] Danixu opened #45168 "reactors: target a minion by multiple things"
Hello,

### Description of Issue/Question
My question is if there is any way to target a minion by multiple targets type instead just one.
I've read the document and I've seen that normally the minion is targeted by ID, and with tgt_type you can change the target match to other things like grains.
I want to target a minion by ID and only run the reactor if has a grain so I need to filter by id and

[2017-12-26 14:20] Danixu commented on #29309
Hello,

A little hack to manage this:
reactors/start.sls
[code]
states/reactors.sls
[code]

If minion uptime is less than 300 seconds then run the states in the include.

Greetings!!

[2017-12-26 20:48] tkent commented on #24099
I think this should remain open. While it's not a huge issue, it would be a very useful feature.

[2017-12-26 22:19] V3XATI0N opened #45173 "presence_events doesn't behave as indicated"
### Description of Issue/Question
I have set `presence_events` in the Master config file to `true`, but when the `salt/presence/present` event fires, only the Master is listed despite the fact that about 200 Minions are online at any given moment.

### Setup
[code]

### Steps to Reproduce Issue
Tail the Master log, receive (for example):
[code]
despite the fact that ....
[code]

### Versions Repor

[2017-12-26 22:23] #23520 closed

[2017-12-26 22:23] #26230 closed

[2017-12-26 22:23] V3XATI0N commented on #45173
ETA: Tailing the events "properly" also results in the same misbehavior:

[code]

[2017-12-26 22:28] V3XATI0N commented on #45168
The problem with doing it the way you want to is that events don't know anything about grains. They generally only know the name of the minion that spawned them, and pass that to the reactor system. So there's no variable in the event data that you can parse to get the grain data you need.

Have you considered moving your grain evaluation to the state the reactor calls, so that it only executes if

[2017-12-26 22:51] Reiner030 commented on #29309
No, thats problematic/too hacky; if you e.g. have a highstate setup for every minion start it would run initial states every time a server/instance is starting...

I have created a better workaround for this since this seems no "common problem" from sight of saltstack team:

- a reactor state which would deploy a temporary stamp file:
[code]
- all necessery changes/includes which are needed only f

[2017-12-26 23:23] #15705 closed

[2017-12-27 02:44] boltronics commented on #26944
It looks like this was solved over two years ago from a code perspective. I have not tested this as I'm only noticing this now, but the code looks to do the job at a glance.

However https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.managed still reads that the _contents_ argument "does not use a templating engine" which should be removed before closing thi

[2017-12-27 03:51] maschinetheist commented on #45154
@lorengordon

It seems like YUM points to `2017.12` instead of `latest`:

[code]

Tweaking `/etc/yum.conf` did not seem to work. Regardless, I will wait patiently for the new Salt release to drop :)

[2017-12-27 04:19] terminalmage commented on #45045
@MDPolaris I was not able to reproduce this. How did you install Salt?

[2017-12-27 06:49] absolutejam commented on #36802
I've been playing with this, and it doesn't seem to break when using `\\` (Which equates to `\\\\` in my `map.jinja`...yikes) in Windows my paths instead of `/`

[2017-12-27 07:01] thuhak opened #45176 "osquery execution module does't work with attrs parameter"
### Description of Issue/Question

in latest osquery, command 'pragma table_info' no longer exists, which cause helper function _table_attrs failed.

[code]

### Versions Report
Salt Version:
           Salt: 2017.7.2

Dependency Versions:
           cffi: 1.6.0
       cherrypy: 11.0.0
       dateutil: 1.5
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed

[2017-12-27 07:48] nickgarber commented on #41921
Hi @SEJeff, kubernetes integration is a good thing but not a substitute for a minion process so is distinct from my feature request.

A few notable points:
- Slim container host OS's are increasingly common, and increasingly slim.
- Containers are an important means for packaging software and deploying services.
- At a minimum, the minion agent is useful to track fleet-wide resource inventory heal

[2017-12-27 08:27] #36436 closed

[2017-12-27 08:41] Danixu commented on #29309
But /tmp is surely deleted after every reboot?

[2017-12-27 08:43] Danixu commented on #45168
Thanks,

After some research I've seen that is able on the way you say, so I've created a state for reactors with that filters.

Greetings!!

[2017-12-27 08:43] #45168 closed

[2017-12-27 09:05] xyoun opened #45177 "kmod.present should return succeed if some modules already loaded."
### Description of Issue/Question

when using kmod.present, if some of the modules has already loaded. if the rest loaded succeed, the return should be success, not failed.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
[code]
### Steps to Reproduce Issue

[code]

### Versions Report

[code]

[2017-12-27 10:18] babilen commented on #28236
Yeah, https://github.com/saltstack/salt/issues/37791 is a duplicate of this bug and should have been merged back then.

Let's close this now.

[2017-12-27 10:18] #28236 closed

[2017-12-27 12:47] mbochenk opened #45178 "Windows installer 2017.7.2 missing libnacl"
### libnacl missing from windows installers (was previously present)

### Setup
Generate a windows VM via salt-cloud, add solt via bootstrap.

### Steps to Reproduce Issue
Execute anything that uses salt.nacl - salt.acl.dec, etc. For ex. render a file with `superpassword={{salt.nacl.dec(pg_password)}}`

Error in logs:
[code]

If pip shipped with salt used to install libnacl - `pip2 install libnacl

[2017-12-27 12:47] zegl commented on #45152
@terminalmage Thanks for fixing this bug. Do you have an estimate of when 2017.7.3 will be released?

[2017-12-27 13:12] andrewh1978 opened #45179 "Joyent RBAC support"
RBAC subusers are not currently supported in the Joyent driver.

[code]

[2017-12-27 14:26] damon-atkins opened #45181 "salt/grains/core.py calling powershell"
### Description of Issue/Question
[code]
### Setup
oxygen branch as of 2017-12-28

Their has been a fair amount of effort not to call powershell as part of salt starting, as its slows everything down.  This should be calling WMI direct from python. And to a lesser extent wmic

[code]
core.py has already a lot of python based wmi call examples

Introduced in https://github.com/saltstack/salt/pull/4

[2017-12-27 14:27] peterclearmetal commented on #40695
@anitakrueger This has not yet been fixed in any release, nor in develop.

[2017-12-27 14:49] #26222 closed

[2017-12-27 14:59] damon-atkins opened #45182 "salt/modules/gcp_addon.py logging in def virtual"
### Description of Issue/Question
[INFO    ] gcp_addon.__virtual__ Required google API's(googleapiclient, oauth2client) not found
### Setup
oxygen release

### Steps to Reproduce Issue
See file salt/modules/gcp_addon.py
https://github.com/saltstack/salt/pull/43966 by @pratik705

[code]

PS are we sure about this modules name? Maybe gpc_network would be better and match docker_network (vs boto_vpc)

[2017-12-27 17:21] garethgreenaway commented on #45159
@ykm-2012 thanks for the report.  Can you provide the output you see after running the state.apply command?

[2017-12-27 17:32] #25490 closed

[2017-12-27 17:32] #26190 closed

[2017-12-27 17:32] #18955 closed

[2017-12-27 17:32] #1392 closed

[2017-12-27 17:32] #21387 closed

[2017-12-27 17:32] #15041 closed

[2017-12-27 17:32] #25176 closed

[2017-12-27 17:32] #26161 closed

[2017-12-27 17:32] #26322 closed

[2017-12-27 17:32] #26335 closed

[2017-12-27 17:32] #16049 closed

[2017-12-27 17:32] #25302 closed

[2017-12-27 17:32] #25119 closed

[2017-12-27 17:32] #19697 closed

[2017-12-27 17:32] #23239 closed

[2017-12-27 17:32] #25405 closed

[2017-12-27 17:32] #25317 closed

[2017-12-27 17:32] #19124 closed

[2017-12-27 17:32] #26314 closed

[2017-12-27 17:32] #13152 closed

[2017-12-27 17:32] #24449 closed

[2017-12-27 17:32] #26487 closed

[2017-12-27 17:32] #26448 closed

[2017-12-27 17:32] #26340 closed

[2017-12-27 17:32] #26571 closed

[2017-12-27 17:32] #26540 closed

[2017-12-27 18:10] garethgreenaway commented on #45165
@dmurphy18 Thoughts on this one?

[2017-12-27 18:32] garethgreenaway commented on #45178
@twangboy @dmurphy18 FYI

[2017-12-27 18:42] jan-gazda commented on #41089
I have the same problem:
state
[code]
result
[code]

[code]

[2017-12-27 18:42] garethgreenaway commented on #45181
Deferring to @cachedout and @Ch3LL for the Oxygen label.

[2017-12-27 18:58] rallytime commented on #45181
@damon-atkins This should be fixed with #45113.

[2017-12-27 19:09] #44728 closed

[2017-12-27 19:23] #44315 closed

[2017-12-27 19:57] garethgreenaway commented on #45182
There are a couple different modules that including logging in the virtual function probably does make sense to have using one of the other logging levels, `warning` or `error`.

[2017-12-27 20:09] rallytime commented on #45181
And actually this is a duplicate of #44894.

[2017-12-27 20:09] #44894 closed

[2017-12-27 20:11] rallytime commented on #44957
@brianthelion Since #45038 has been merged now, is this issue OK to close?

[2017-12-27 20:27] #43909 closed

[2017-12-27 20:29] ykm-2012 commented on #45159
**here is the output after execution. i guess the vagrant IP is not exposed, because of which i see the error page in my browser.**

minion1:
----------
          ID: nginx
    Function: pkg.installed
      Result: True
     Comment: All specified packages are already installed
     Started: 03:26:18.554056
    Duration: 334.998 ms
     Changes:
----------
          ID: nginx
    Function: service

[2017-12-27 20:38] Reiner030 commented on #29309
yes, thats fine because the stamp file for initial run is only needed once and shouldn't be available on next reboots/starts of salt-minion...

[2017-12-27 20:39] rallytime commented on #42389
Since @terminalmage is unable to reproduce this bug, I am removing the `Blocker` label from this issue. Once we have a better understanding of the issue and can reproduce it better, @terminalmage can take another look and come back to this.

[2017-12-27 20:49] #45178 closed

[2017-12-27 20:55] garethgreenaway commented on #45167
This issue:
https://github.com/saltstack/salt/issues/42074
and this PR indicate that this functionality should be available in later versions of 2017.7 and the upcoming Oxygen release:
https://github.com/saltstack/salt/issues/42074

[2017-12-27 21:19] garethgreenaway commented on #45176
@thuhak Thanks for the report.  What version of `osquery` are you using?

[2017-12-27 22:45] damon-atkins commented on #45181
Reopen please. Powershell call should be replaced with wmi python call.

[2017-12-27 22:46] nickgarber commented on #45059
I'm trying to better understand this and came up with this question ... Where/How are the fun_args processed?

It looks like they are being split by the shell as positional parameters, then the positional arg is processed using type inference.

[code]

Maybe this is to be expected, but I've found that if I wrap the string in syntax for a dictionary, set, or list, it works correctly, (though I stil

[2017-12-27 22:49] damon-atkins commented on #45181
And if it must run power shell it should check first for Get-WmiObject existence before starting powershell if possible.

[2017-12-27 23:07] Giandom commented on #45073
Thanks for explaination @gtmanfred!

[2017-12-27 23:07] #45073 closed

[2017-12-27 23:32] garethgreenaway commented on #45176
@thuhak Actually found the issue, it's a bug in the module itself.  Working on a fix now.

[2017-12-28 00:51] cybacolt commented on #43163
I've had very much the same issue, to the point i've hard to stop using mine.get via salt.runner in my pillars, which is a shame, as i've had to work out work-arounds to get configs to build dynamically.

While it sounds like its fundamental to how salt.runner works, it would be great if salt.runner ran faster!

[2017-12-28 01:28] #40216 closed

[2017-12-28 02:17] jak3kaj opened #45188 "salt state status.process always returns false"
### Description of Issue/Question
The status.process salt state always returns false.  Testing with the salt module status.pid works as expected.

### Setup
[code]

### Steps to Reproduce Issue

This simple sls script just checks for the process name  "salt", which should match the salt-minion processes on the salt-minion; but the check always comes back false.

[code]

The module that status.proc

[2017-12-28 03:20] ykm-2012 commented on #45159
i think after enabling the firewall setup it works. i have restarted the box and i could see the IP running successfully with Nginx welcome page.
you can close the ticket.
Thankyou @garethgreenaway

[2017-12-28 03:31] garethgreenaway commented on #45159
@ykm-2012 awesome. Glad you got it working. Thanks!

[2017-12-28 03:31] #45159 closed

[2017-12-28 06:09] prymitive commented on #45071
I've manage to do some debugging and I think I found the issue, see #45191 for details.

[2017-12-28 06:31] sidhujasminder commented on #45167
After a little search @garethgreenaway i was able to write a code for my grains for the proxy is was using. I found it in this link
https://docs.saltstack.com/en/latest/topics/proxyminion/index.html#new-in-2016-3

But this info needs to be added into the grains documentation over here https://docs.saltstack.com/en/latest/topics/proxyminion/index.html#new-in-2016-3

For me the issue is resolved now

[2017-12-28 11:10] rallytime commented on #45181
@twangboy Can you comment here?

[2017-12-28 11:33] damon-atkins opened #45193 "salt.modules.cmdmod.shell_info docstring needs fixing 2016.11"
### Description of Issue/Question
salt.modules.cmdmod.shell_info needs fixing

Should be more like

Args:
- shell (str): Name of the shell. Support shells/script languages include bash, cmd, perl, php, powershell, python, ruby and zsh
- list_modules (bool): True to list modules available to the shell.  Currently only lists powershell modules.

[2017-12-28 11:38] damon-atkins commented on #45181
If one powershell call is in here which takes 8 seconds, then more people will notice the easier way to add grains and more people will add them this way and the result will be salt-call taking a minute collect grains.

`salt.modules.cmdmod.shell_info`  was introduce primary to reduce the about of time taken to discover the version of powershell and its modules as it works it out without running `

[2017-12-28 12:04] skorhone opened #45194 "salt/modules/kubernetes.py uses incorrect attribute names"
### Description of Issue/Question
Kubernetes state module uses attribute names from swagger generated classes in configuration processing. As a result camelcase is converted to snake case. This causes issues with configuration items such as 'targetPort'.

State module should make use of 'attribute_map' in swagger generated classes for proper translation.

### Setup
(Please provide relevant configs

[2017-12-28 12:09] hgfischer opened #45195 "sysctl.present - allow `ignore`"
### Description of Issue/Question

Some flags might not exist because they are fully disabled on the kernel. The sysctl.present state should run sysctl with `--ignore` option, or should present the option to be set in the formula, to allow such variations to happen without a hard failure. Check the following example:

On `/etc/default/grub`:
[code]

The example formula snippet:
[code]

The current

[2017-12-28 12:33] damon-atkins commented on #45182
__virtualname__ = 'gcp' maybe also needs to change.

[2017-12-28 12:34] damon-atkins commented on #45182
@garethgreenaway  Please label with oxygen so its decided before its release for the first time.

[2017-12-28 13:41] rallytime commented on #45182
@damon-atkins I have fixed the logging issue in #45196. We shouldn't be logging in the `__virtual__()` function. I have added docs recently about this practice [here](https://docs.saltstack.com/en/latest/ref/modules/#logging-restrictions). Basically, logging should only be added _occasionally_ at the `trace` level. However, in this case, we can just utilize the tuple return behavior.

In terms of

[2017-12-28 13:44] ghost opened #45197 "GitFS backend does not work as documented with per-remote environments"
### Description of Issue/Question

Examples in "[Git Fileserver Backend Walkthrough](https://docs.saltstack.com/en/latest/topics/tutorials/gitfs.html#per-saltenv-configuration-parameters)" seems to hint at that multiple environments should be possible.

However, defining multiple environments with _saltenv_ in _gitfs_remotes_ fails to produce any other environment except 'base'.

### Setup

[code]

[2017-12-28 13:54] damon-atkins opened #45198 "[oxygen] utils\templates encoding/decoding"
### Description of Issue/Question
[code]
Needs to be decode to have output as Unicode.

Please review in terms of all other changes plan by @terminalmage
Cheers

The item which picked this up was  salt-winrepo-ng\skype-msi.sls from https://github.com/saltstack/salt-winrepo-ng

[2017-12-28 14:47] gtmanfred commented on #36673
Yup, i ran into this a couple weeks ago, and discovered that the shebang order needed to be the opposite of what I used to think.  Closing this issue as resolved

[2017-12-28 14:47] #36673 closed

[2017-12-28 14:48] gtmanfred commented on #45033
Thanks @flavio

[2017-12-28 14:51] gtmanfred commented on #45154
@dmurphy18 I am correct in thinking that there are some changes needed to make amazon linux work on the new release of amazon linux?

@maschinetheist you may be able to just hard code the release for centos 7, because amazon 2 is based on that, and we don't have a need to use a newer python version to get to python 2.7 like we did with centos 6/ amazon linux 1.

Thanks,
Daniel

[2017-12-28 14:53] askabelin commented on #40303
I have the same use case. It would be nice to have this feature.

[2017-12-28 14:54] gtmanfred commented on #40695
It is not currently on the list of things to get fixed for a scheduled release.

[2017-12-28 15:07] gtmanfred commented on #41089
This will not set the environment permanently in the shell you are running in, it only sets the environment variables for inside of salt.

[code]

Then it will remain there until that salt minion finishes.

If you try and use salt-call, a new salt-minion process is stated for each call, so you would have to run them in the same state run together.

[code]

[2017-12-28 15:09] #45179 closed

[2017-12-28 15:10] gtmanfred commented on #45059
Everything that you pass in has to first pass bash, and make it into python correctly, that is where I think the problem is here.

After that, it is then passed through pyyaml to load it so that dictionaries in json or yaml can be passed in from the commandline.

[2017-12-28 15:16] gtmanfred commented on #45194
@flavio can I get your opinion on this one as well?

Thanks,
Daniel

[2017-12-28 15:21] gtmanfred commented on #45197
I think the problem is that since it is an ordered *Dictionary*, when the lookup for the file:// git repository happens, it finds the first one and exits.

[code]

You can either do something like this, so that all the configuration is on the first directory, or you can separate them out into different git repositories.

Thanks,
Daniel

[2017-12-28 15:29] gtmanfred commented on #45188
Hrm, there is definitely a bug there.

I have fixed this in #45199

Thanks,
Daniel

[2017-12-28 15:30] gtmanfred commented on #45193
Would you mind submitting a PR with this?

Thanks Damon,
Daniel

[2017-12-28 15:31] gtmanfred commented on #45195
That would be great to have.

I am marking this as a feature request.  If you had time to submit a PR, we would greatly appreciate it.

Thanks,
Daniel

[2017-12-28 15:41] nicholasmhughes commented on #45047
@SJern once PR #45187 is merged, you can use `ssh_username` and `ssh_publickeyfile` to pass a public key for login as the newly created admin user.

[2017-12-28 15:46] nicholasmhughes commented on #44886
@sumeetisp @SJern PR #45187 changes to default to managed disks, with the ability to use unmanaged disks if desired. Note that it's not entirely clear in the MS docs, but you can't mix managed and unmanaged disks on an instance.

[2017-12-28 15:59] proggga commented on #9332
+

[2017-12-28 15:59] proggga commented on #9332
+++ me need it too

[2017-12-28 16:06] nickgarber commented on #45059
This looks to me like a problem introduced at the pyyaml processing layer, and I'd like to test this theory.

Is there a way to turn off the pyyaml processing for a positional argument?

Separate but related I noticed the `--no-parse` option seems to serve a similar purpose, (to prevent pyyaml parsing of values), within keyword arguments, but there's no corresponding https://github.com/saltstack/s

[2017-12-28 16:15] nicholasmhughes commented on #41451
@sumeetisp @Ch3LL PR #45187 removes the default disk size from the code, and therefore allows the Azure marketplace image to dictate how large the disk should be.

[2017-12-28 16:43] jak3kaj commented on #45188
Ok, thanks.  I also submitted  PR 45189 https://github.com/saltstack/salt/pull/45189

My PR is similar, but also doesn't return the data because I imagined this should return  True or False, and the pid list may be quite long for some checks.  What do you think about returning the PIDs?

[2017-12-28 17:06] michaelgibson opened #45202 "honor tcp_pub_port when transport type is TCP"
### Description of Issue/Question
Currently the "tcp_pub_port" config option for minions is being ignored when transport is set to "tcp".
It is currently getting set to the value passed back from the master's "publish_port".
At least during the initial auth phase of establishing a connection from minion to master.

This may be desirable behavior for zmq transport(although I'd still like to control

[2017-12-28 17:27] pkruk commented on #45046
PR, was merged: https://github.com/saltstack/salt/pull/45048#issuecomment-353887596 so I think we can close this issue ;)

[2017-12-28 17:27] gtmanfred commented on #45202
That seems reasonable, it might have to go behind a option flag to allow for people to still use the publish_port with the tcp transport.

Whoever comes along and reviews that PR will help get this fixed.

Thanks for the PR!
Daniel

[2017-12-28 17:48] #26593 closed

[2017-12-28 17:49] nickgarber commented on #45059
As a footnote, I'm working around this for the time being by wrapping base64-encoded data in at list at the CLI. It doesn't address the parsing question/challenge here, but unfortunately it does solve my use-case adequately (by just using a different datatype).

To base64 encode a file:
`
salt-run sdb.set sdb://demo/sshkey_master_prv__b64_lst "[\"$(base64 -w0 ~/.ssh/id_rsa | sed -ne 's/.\{76\}/&",

[2017-12-28 18:01] SJern commented on #45047
@nicholasmhughes Thanks!

[2017-12-28 18:01] SJern commented on #44886
@nicholasmhughes Thanks!

[2017-12-28 18:21] gtmanfred commented on #45046
Looks good thanks!

In the future, if you use the magic github close words, the referenced issue will close when that PR is merged into the main branch for the repository.

https://help.github.com/articles/closing-issues-using-keywords/

Thanks!
Daniel

[2017-12-28 18:21] #45046 closed

[2017-12-28 18:29] gtmanfred commented on #45173
I am able to replicate this.  Except i don't even see the master id in the present list.

I don't ever see any minions show up in either present, or changes when minions are added.

Thanks for reporting.
Daniel

[2017-12-28 19:06] #45188 closed

[2017-12-28 19:22] #26588 closed

[2017-12-28 20:23] gtmanfred commented on #45059
I am dumb, this is really simple, you just need to pass it to the keyword `value`, and it won't parse anything after that until the next space.

[code]

So you should be able to use this from the beginning example.

[code]

And it will put whatever comes after the `value=` and assign it to the `value` keyword arguement from sdb.set

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules

[2017-12-28 20:30] whytewolf opened #45206 "module_reload: True not reloading util module libs."
### Description of Issue/Question
module_reload:true is not forcing util libraries to reload include libraries.

My test case is with `keystone.tenant_list` and `nova.image_list` however this should be true of any module that needs a util module, that includes a third party library.

### Setup
credentials for nova and keystone already setup. I am using a pillar file but what ever method works for

[2017-12-28 20:38] whytewolf commented on #45206
ZD-2068

[2017-12-28 20:53] brianthelion commented on #44957
@rallytime We still need to deal with the `contents_pillar` issues. Do you want to give those another ticket?

[2017-12-28 21:10] abednarik commented on #38441
Same error here with a single server. Pretty weird sometimes works, sometimes no.

BTW in the example posted is not trying to connect to  `node-03.vsphere.local` that is actually where this minion is running, is trying to connect to 192.x.x.x.

[2017-12-28 21:19] gtmanfred commented on #38441
from the vm are you able to connect to the port on the master ip using netcat?

[2017-12-28 21:29] gtmanfred commented on #45206
This is because we import stuff from salt.utils, instead of using `__utils__`  and those modules cannot be reloaded without deleting them from sys.modules.

[2017-12-28 21:31] abednarik commented on #38441
Yeah, I did al basics checke like dns, ports, etc. I just happens random

Every hour or so we get this:

[code]

In the meantime, everything works.

[2017-12-28 21:38] nickgarber commented on #45059
Sweet! Thats a good remedy, thanks!

Are the function argument variables automatically available as kwargs at the CLI?

[2017-12-28 21:38] #45059 closed

[2017-12-28 21:38] gtmanfred commented on #38441
When this happens, if you are also not able to connect to the vm using netcat, there isn't a lot that salt can do.  It sounds like there is a problem with the environment preventing salt from working.

[2017-12-28 21:39] gtmanfred commented on #45059
all function arguments can be passed as named arguments from the command line, and do not require passing them as positional arguments.

[2017-12-28 22:10] layer3switch opened #45208 "Add timeout as a state requisite"
### Description of Issue/Question
Tornado 4.2.1 httputil.py requires matching 3 tuples for http response (version, code and reason). When host (most java http server) responses with only "HTTP/1.1 200" in the header, file.managed hangs indefinitely even with "retry" option.

Salt debug log shows following
[code]

### Setup
using below salt pillar data...
[code]
using state below
[code]

### Steps

[2017-12-28 22:22] mnieber commented on #42075
Since imho it makes sense to use the `location` argument in the `ensure` mode, I added this to my fork. Just posting it here in case it helps: https://github.com/mnieber/salt/commit/b8b99148d437023829dae5c114bf48c600650326

[2017-12-28 23:14] mnieber opened #45210 "Use "match" argument in "ensure" mode of file.line"
It would be nice if the `ensure` mode of `file.line` would replace an existing line if it matches the `match` argument. If no match is found, it can use the other arguments (such as before/after/location) to ensure that the line is present. If more than 1 match is found, it should (imo) raise an error.

Example implementation:
https://github.com/mnieber/salt/commit/04d4da3e533bf9f3ce2b8fcaa45600c7

[2017-12-29 00:15] eliasp commented on #24488
Not stale at all!

[2017-12-29 00:56] abednarik commented on #38441
I;m always able to connect to that server. Is just salt minion that cannot connect to salt master from time to time and only happens when running grins.item something.

[2017-12-29 00:57] maneamarius opened #45212 "Error: "TypeError: upgrade() got an unexpected keyword argument 'pkgs'" while using pkg.uptodate"
### Description of Issue/Question
I'm writing a simple salt state which brings all the packages on my Gentoo Linux system up to date.
When calling the salt state, I'm getting this error:

[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

Create salt state sys

[2017-12-29 00:59] maneamarius commented on #45212
It may be worth mentioning that the following packages are available for upgrade on my system.
They are Rebuilds (R), not upgrades, due to some keyword USE change ("cracklib" USE flag  was added to the system profile)

[code]

[2017-12-29 01:06] #21909 closed

[2017-12-29 01:08] #24938 closed

[2017-12-29 01:48] damon-atkins commented on #45193
Is their a way to generate the doco in html format so it can be checked, from the checkout git

[2017-12-29 02:42] qiangshui commented on #45140
@garethgreenaway @twangboy ,Thanks for the reply. Yes, the file is in use when the state runs. But if the cover operation is done manually, there will be no problem. So the problem seems to be on the saltstack.Is there any solution to it？

[2017-12-29 05:12] #26601 closed

[2017-12-29 07:20] maneamarius commented on #45212
Retested again after refreshing the package database (eix-sync) there was one more package added to the list, which wasn't rebuild, but a regular upgrade. And I still got the same crash.

[2017-12-29 07:25] maneamarius opened #45213 "Applying portage_config.flags will always report "changed" status even though nothing changed"
### Description of Issue/Question
Re-Running same state again will always report one change, even though nothing changed.

[code]
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
Create the gparted.sls and run it repeatedly.
It will always report that it has one chang

[2017-12-29 08:32] pkruk commented on #45046
Thanks :)! I will use the magic words next time :)

[2017-12-29 09:48] girishbin opened #45214 "salt-api is not working. "Authentication failure of type "eauth" occurred""
my salt-api conf file

- - - - - - -- - - - - - -- - - - - - -- - - - - - -- - - - - - -- - - - - - -- - - - - - -

rest_cherrypy:
  port: 8000
  host: 0.0.0.0
  debug: True
  disable_ssl: true

externalauth:
  pam:
    salt:
       - .*
       - '@wheel'   # to allow access to all wheel modules
       - '@runner'  # to allow access to all runner modules
       - '@jobs'    # to allow access to th

[2017-12-29 12:40] mnieber commented on #42075
I would limit the scope of `file.line` to adding or removing *one line* in a file (replace mode can replace multiple lines). Also, to prevent surprises, I would by default fail loudly if the intented addition or removal could not be made. With this smaller scope and more strict expectation, it should be easier to design an intuitive behaviour.

BTW the "match" argument of the "replace" mode is cur

[2017-12-29 13:13] damon-atkins commented on #36303
With the oxygen release coming up I thought I would wake this discussion up.
I also thought I would link it back to this change as well #44678 as one of my suggestions was to use a DNS record to provide information about the method to use to connect.

[2017-12-29 13:22] samilaine commented on #45197
The results are, unfortunately, exactly same when specified like that. Only the base environment is being taken in from:

[code]

Again in this case too I'd expect to see a list of *two* results from `salt-run fileserver.envs` plus `salt-call cp.list_master` and `salt-call cp.list_master saltenv=foo` to return the same list of files (with the exception of the prefix, of course).

[2017-12-29 14:29] gtmanfred commented on #45210
If you wanted to submit a PR upstream to add this, we would greatly appreciate it.

Otherwise, I have marked this as a feature request.

Thanks,
Daniel

[2017-12-29 14:31] gtmanfred commented on #45212
Looks like the `pkg.upgrade` on gentoo does not accept the pkgs keyword.  If you wanted to add accepting that keyword, it would work.  And we would love to see a PR for that.

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.ebuild.html#salt.modules.ebuild.upgrade

I am marking this as a bug.

Thanks,
Daniel

[2017-12-29 14:33] gtmanfred commented on #45193
Here is the steps we use to generate the docs for docs.saltstack.com

https://docs.saltstack.com/en/latest/topics/development/conventions/documentation.html#building-the-documentation

[2017-12-29 14:37] gtmanfred commented on #45213
Seems like a bug in returning changes.

I am marking this as a cosmetic bug since it doesn't actually make any changes and the changes dictionary just needs to be fixed.

If you had time for a PR to fix this, we would greatly appreciate it.

Thanks,
Daniel

[2017-12-29 15:04] gtmanfred commented on #45197
Does your git repository have a second branch for the second environment?

GitFS uses branches to define environments, and it looks like you can only have one environment per branch.

All that this `saltenv` stuff does is allow you to rename environments and add extra configurations for them.  If you don't have a branch called `foo` then the foo environment won't exist.  Alternatively, you could t

[2017-12-29 15:32] JensRantil commented on #22939
Still relevant.

[2017-12-29 15:48] gtmanfred commented on #45208
This seems like it is a bug in the tornado library.

You can set the [http backend to requests](https://docs.saltstack.com/en/latest/topics/tutorials/http.html#configuring-libraries), and this case is handled for me.

I would suggest opening this issue on tornado, since we are just using it directly.

https://github.com/tornadoweb/tornado

Thanks,
Daniel

[2017-12-29 15:51] gtmanfred commented on #45214
So, you are not using salt-api, you are only using eauth.

Where is your `salt-api` config file?  These configurations should just go in `/etc/salt/master` and you will need to restart the master.

Daniel

[2017-12-29 15:55] amontalban commented on #22063
I also want to use it in `include` statements. Did you have time to look in to this @MarloweW?

Thanks!

[2017-12-29 16:31] Da-Juan commented on #42075
I ran into a problem similar to #39849
Regex cannot be used to match the beginning or the end of a line because the target file is parsed as a single string and not line by line.

Here [modules/file.py#L1720](https://github.com/saltstack/salt/blob/2017.7/salt/modules/file.py#L1720) the file is loaded in the `body` variable and the regex is run in `_regex_to_static function` on this entire string.

[2017-12-29 17:14] layer3switch commented on #45208
I agree that this is upstream bug, and also agree that changing ```backend``` to urllib2 address this issue. However other states are utilizing Tornado httputil and will break in my case due to the fact that Tornado is the default.

The biggest concern I have is that a default setting can indefinitely hang a state due to lack of fail status. Is there a method or an option to terminate ```source```

[2017-12-29 17:36] gtmanfred commented on #45208
There is not, but we should totally include a way to set a timeout on a specific state so that it can be killed if it hangs.

I have updated the title to better describe that, and marked this as a feature request.

Thanks,
Daniel

[2017-12-29 18:09] #26616 closed

[2017-12-29 19:14] layer3switch commented on #45208
Thank you, Daniel.

I've reported the bug in tornado upstream with a patch as pull request. However I doubt this will make any difference in downstream mainly due to lack of backporting python module libraries in many distribution.

Thanks again, Daniel.

[2017-12-29 20:23] twangboy commented on #45181
@damon-atkins @rallytime Trying to find a box with Fibre Channel on it

[2017-12-29 21:27] #7817 closed

[2017-12-29 21:27] #7844 closed

[2017-12-29 21:27] #8599 closed

[2017-12-29 21:27] #8009 closed

[2017-12-29 21:27] #8484 closed

[2017-12-29 21:27] #8033 closed

[2017-12-29 21:27] #8772 closed

[2017-12-29 21:27] jcmcken commented on #44495
Just some food for thought:

Puppet uses custom CSR attributes to attach metadata to signed agent (minion) certificates. See [here](https://puppet.com/docs/puppet/5.0/ssl_attributes_extensions.html#manually-checking-for-custom-attributes-in-csrs).

Puppet then exposes this metadata as [trusted facts](https://puppet.com/docs/puppet/5.0/lang_facts_and_builtin_vars.html#trusted-facts) that can be use

[2017-12-29 21:27] #8472 closed

[2017-12-29 21:27] #8212 closed

[2017-12-29 21:27] #9616 closed

[2017-12-29 21:27] #8774 closed

[2017-12-29 21:27] #10317 closed

[2017-12-29 21:27] #12734 closed

[2017-12-29 21:27] #12476 closed

[2017-12-29 21:27] #11259 closed

[2017-12-29 21:27] #8257 closed

[2017-12-29 21:27] #12360 closed

[2017-12-29 21:27] #9987 closed

[2017-12-29 21:27] #5782 closed

[2017-12-29 21:27] #9872 closed

[2017-12-29 21:27] #25359 closed

[2017-12-29 21:27] #25306 closed

[2017-12-29 21:27] #25345 closed

[2017-12-29 21:27] #12862 closed

[2017-12-29 21:27] #25284 closed

[2017-12-29 21:27] #5879 closed

[2017-12-29 21:27] #25195 closed

[2017-12-29 21:27] #13062 closed

[2017-12-29 21:27] #25058 closed

[2017-12-29 21:27] #25025 closed

[2017-12-29 22:58] #25024 closed

[2017-12-29 22:58] #24961 closed

[2017-12-29 22:58] #24934 closed

[2017-12-29 22:58] #24869 closed

[2017-12-29 22:58] #6287 closed

[2017-12-29 22:58] #24819 closed

[2017-12-29 22:58] #24695 closed

[2017-12-29 22:58] #6865 closed

[2017-12-29 22:58] #7097 closed

[2017-12-29 22:58] #7118 closed

[2017-12-29 22:58] #24580 closed

[2017-12-29 22:58] #7247 closed

[2017-12-29 23:53] twangboy commented on #45155
From what I'm reading, `__salt_system_encoding__` is set to `mbcs` in Windows... which is whatever the Windows system encoding is set to. That's basically what you're saying here right?

https://github.com/saltstack/salt/blob/oxygen/salt/__init__.py#L72

[2017-12-30 00:08] rlifshay commented on #44639
@isbm was just noticing you never got assigned to remind you, so figured I would ping you instead ;)

[2017-12-30 00:41] isbm commented on #44639
@rallytime can you please assign me here? I will look at that _after_ the vacations. :wink: Happy New Year in the meanwhile!

[2017-12-30 00:52] #19840 closed

[2017-12-30 00:52] #26294 closed

[2017-12-30 00:52] #25681 closed

[2017-12-30 00:52] #26708 closed

[2017-12-30 00:52] #26698 closed

[2017-12-30 00:52] #24761 closed

[2017-12-30 00:53] #26639 closed

[2017-12-30 00:53] #26771 closed

[2017-12-30 00:53] #26777 closed

[2017-12-30 00:53] #26791 closed

[2017-12-30 00:53] #26794 closed

[2017-12-30 00:53] #26332 closed

[2017-12-30 00:53] #25783 closed

[2017-12-30 00:53] #26782 closed

[2017-12-30 00:53] #26806 closed

[2017-12-30 00:53] #26781 closed

[2017-12-30 00:53] #11373 closed

[2017-12-30 00:53] #15544 closed

[2017-12-30 00:53] #26838 closed

[2017-12-30 00:53] #26729 closed

[2017-12-30 00:53] #26825 closed

[2017-12-30 00:53] #18656 closed

[2017-12-30 00:53] #26876 closed

[2017-12-30 00:53] #26837 closed

[2017-12-30 00:53] #26256 closed

[2017-12-30 01:11] damon-atkins commented on #45155
Nope.
Here is a summary of comments made against recent PRs
-- 44877
Assume all PY2 input from files (assumed to be UTF-8 unless indicated otherwise) or minion configs (UTF-8) or command lines (`__salt_system_encoding__`) or jinja (UTF-8) will be converted to Unicode and os.getenv() or os.environ.get() (`__salt_system_encoding__`)
This needs to be utf-8 only. For example someone edits a file on Un

[2017-12-30 01:43] mirceaulinic commented on #44485
Closed via https://github.com/saltstack/salt/commit/81ded2aaba7fffc58d3c611bd06e81765767576b

[2017-12-30 01:43] #44485 closed

[2017-12-30 10:05] #11843 closed

[2017-12-30 11:09] girishbin commented on #45214
@gtmanfred  Thanks for the reply.
Below is  my conf file in  **/etc/salt/master.d/salt-api.conf** . This config is picked up and salt-api runs on port 8000

[code]

output of curl

 ```curl -sSk http://localhost:8000/login     -H 'Accept: application/x-yaml'     -d username='salt'     -d password='xxxxxx'     -d eauth=auto```

[code]

Even running just  **salt -a pam '*' test.ping -l trace** is no

[2017-12-30 12:25] kingzus commented on #33706
@scottwhyte   nice!

[2017-12-30 18:07] gtmanfred commented on #45214
This should be external_auth, not externalauth

[code]

[2017-12-31 12:21] girishbin commented on #45214
Tried with external_auth too , did not worked. Thanks

[code]

[2017-12-31 16:03] gtmanfred commented on #45214
[code]

It is working here.

[2017-12-31 20:01] brianthelion commented on #44449
@gtmanfred Any updates on the cloud cache? I am now blocked on this.

[2017-12-31 20:37] gtmanfred commented on #44449
It is not something I am working on right now. I want to migrate to using the caching backend for cloud cache. Until then I would recommend using salt with python 2 for now

[2017-12-31 21:18] brianthelion commented on #44449
@gtmanfred I am stuck on Py3 unfortunately. Is there anything I can read up on to learn about how the caching backend is supposed to work? If I can understand what you intend, I may be able to get a serviceable implementation together on my own. A design doc would be super helpful.

[2018-01-01 13:39] damon-atkins opened #45227 "states/pkg.py and warnings or module failures."
### Description of Issue/Question
states/pkg.py seems to pass back warnings, when the warnings come from states/pkg.py
Seems it does not support warnings being returned from modules/pkg*

e.g. It looks like it should be
[code]
Sample code from states/pkg.py
[code]

### Version
develop but sure it would have existing in early versions

[2018-01-01 20:54] mnieber commented on #45210
@gtmanfred I will have a go at the pull request, but I don't want to promise too much yet (I was able to run the unit tests, and of course a few failed due to the changes I made. I think a PR with fixed tests should not be too hard to accomplish)

[2018-01-02 00:02] #27107 closed

[2018-01-02 00:39] davidjb commented on #23840
Still an issue (commenting for stalebot's interest)

[2018-01-02 03:19] angeloudy commented on #45080
Yes, all the installed modules were successfully loaded.

[2018-01-02 04:41] adamehirsch commented on #27400
fwiw, I'm seeing this same behavior using salt version 2017.7.2-1 on Amazon Linux.
[code]

in my sls, I call for a particular version of a package to be installed:

[code]

... on on the minion, looking at debug output, I observe the package installation succeeding:

[code]
          ID: fish
    Function: pkg.installed
      Result: False
     Comment: The following packages failed to install/upd

[2018-01-02 09:29] liuhetongzi opened #45230 "salt file.managed if directory contains chinese failed"
### Description of Issue/Question
I want to use file.managed module to scp file from master to minion,but if the directory contains chinese ,it return none of the specified sources were found,what should i do.Thanks
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
deploy.sls:
/tmp/zeus.zip:
  file.managed:
    - source:
      - salt://deploy/20180102

[2018-01-02 09:46] obeleh commented on #44911
Had to do a few things differently:

- service_set_label -> service_set_tag   (I did not use the correct name in the Feature Request)
- path cannot be an optional parameter, it is the first parameter now
- I've allowed for json parameters for service definitions as this is easier in the cli

[2018-01-02 09:56] damon-atkins commented on #45230
Try the fix See https://github.com/saltstack/salt/issues/42278#issuecomment-318913952

[2018-01-02 12:12] konfiot commented on #40490
Any news ?

[2018-01-02 14:15] rallytime commented on #27160
Fixed with #39593 and #45232.

[2018-01-02 14:15] #27160 closed

[2018-01-02 15:24] gtmanfred commented on #45210
:+1: let me know if you need any assistance.

There is also a #develop channel on the [saltstack community slack](https://saltstackcommunity.herokuapp.com) if you have any questions feel free to ask there too

Thanks!
Daniel

[2018-01-02 15:26] gtmanfred commented on #44449
Unfortunately there is not a lot of documentation about it, so it is going to take quite a bit of code diving.

You can try and look through how the minion data cache uses it.  https://docs.saltstack.com/en/latest/topics/cache/

Daniel

[2018-01-02 15:37] xenophonf commented on #26888
I'm experiencing similar problems with an AWS-hosted master located in Ireland and minions located in Africa and Asia.  At the debug log level, I'll see things like the following:

[code]

This leads to a `SaltReqTimeoutError: Message timed out` error similar to the following even with the TCP keep-alive settings posted above:

https://gist.github.com/xenophonf/0239c76e939e2cb9ed13a6c39db09b20

[2018-01-02 15:46] twellspring commented on #44515
@ryan-lane was looking to restart my work on elbv2.   Is Lyft still working on NLBs?   Any ETA on a PR so I don't re-invent the wheel.

[2018-01-02 15:48] twellspring commented on #36456
@rallytime looks like this issue and #44515 are duplicates.

[2018-01-02 15:49] martinadolfi commented on #19513
Hi, I can see that there's no more reference to the dot issue in the current docs (2017.7.2). Is it because there's a workaround? o it's just that they forgot to put it there?
Thanks!

[2018-01-02 16:30] rallytime commented on #44957
@brianthelion I just spoke with @terminalmage and he says we can keep the `contents_pillar` problem in this issue. Can you post a reproducible test case here so we can take a look?

[2018-01-02 17:16] #26862 closed

[2018-01-02 17:16] #26872 closed

[2018-01-02 18:06] Ch3LL commented on #44758
I would like to get @saltstack/team-core 's opinons here to help answer your question: ` do we really need close_fds on every subprocess call? `

[2018-01-02 18:11] Ch3LL commented on #40490
So it seems the PR has created another issue @4s1 ? Can you provide a test case and which salt version you were running and how you patched your minion?

[2018-01-02 18:16] #26956 closed

[2018-01-02 18:33] thatch45 commented on #44758
@s0undt3ch might know better why we have close_fds in there. I would love to make a change to speed things up

[2018-01-02 18:50] Ch3LL commented on #44980
I can verify that when applying this patch I can now run the state just fine :) Seems its an upstream issue.

@angeloudy are you seeing the same ?

[2018-01-02 19:01] Ch3LL commented on #44743
@dubb-b is currently working on this :)

[2018-01-02 19:11] dubb-b commented on #44743
@Ch3LL Both 10.13 for py2 and py3 are running, figuring out a few failures.

[2018-01-02 19:14] dmurphy18 commented on #45165
@jf I believe currently the salt-minion will generate its own key-pair if there is not one already present when it initially boots up, and then pass the public key to the master, noting that minions can be used without a master present in a peer-to-peer environment.  Also you can preseed the keys the minion will use, ref. https://docs.saltstack.com/en/latest/topics/tutorials/preseed_key.html

[2018-01-02 19:34] ryan-lane commented on #24694
I'd really love to have this one fixed. The workarounds are gross.

[2018-01-02 19:35] ryan-lane commented on #24619
Please reopen this. It's still a really annoying regression.

[2018-01-02 19:36] ryan-lane commented on #26789
Please reopen this. It causes silent and dangerous errors in code paths not expecting this.

[2018-01-02 19:50] mwerickso opened #45239 "cmd.script not working with python script/shell"
### Description of Issue/Question
I have a state that is supposed to run a python script but it fails with a `syntax error` as shown here:
[code]

### Setup
My .sls:
[code]
My script:
[code]
### Steps to Reproduce Issue
Originally I was trying to pass arguments into a real script and was getting this error. I have tried all combinations (working backwards toward simple) to see where the issue is,

[2018-01-02 19:54] rallytime commented on #24694
Yeah, I agree @ryan-lane. I've re-opened this.

[2018-01-02 20:01] rallytime commented on #24619
Will do. Thanks @ryan-lane.

[2018-01-02 20:03] frogunder opened #45241 "py3 - oxygen - windows -pkg.lastest gives error"
On linux master / windows minion setup when running `pkg.latest` in a state file it gives error/traceback in oxygen branch on py3 setup.

[code]
### Setup
create state file and run it.
[code]

### Steps to Reproduce Issue
Run state file.

### Versions Report
[code]

[code]

[2018-01-02 20:05] rallytime commented on #26789
Certainly! Thanks again @ryan-lane

[2018-01-02 20:08] frogunder opened #45242 "py3 - oxygen - windows - state.highstate gives error."
On a Linux master / Windows minion setup, `state.highstate` gives error/traceback in oxygen branch on py3 setup.
`state.sls` is working correctly

[code]

### Setup
Create top file and sls file and run a state.highstate.

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

[code]

### Versions Report
[code]

[code]

[2018-01-02 20:08] frogunder commented on #45242
#45241

[2018-01-02 20:09] frogunder commented on #45241
#45242

[2018-01-02 20:15] #24288 closed

[2018-01-02 20:15] #24327 closed

[2018-01-02 20:15] #24368 closed

[2018-01-02 20:15] #24369 closed

[2018-01-02 20:15] #26096 closed

[2018-01-02 20:15] #26935 closed

[2018-01-02 20:15] #26946 closed

[2018-01-02 20:15] #4709 closed

[2018-01-02 20:15] #4954 closed

[2018-01-02 20:42] gtmanfred commented on #45173
@V3XATI0N What kind of environment are you running in?

Is your salt master in a docker container?

Thanks,
Daniel

[2018-01-02 20:54] whytewolf commented on #45206
@gtmanfred, unfortunately, have the same issue with the cloud.list_* when using the nova salt-cloud driver. do you mean to use the openstack driver? until Oxygen is released with the shade openstack driver?

[2018-01-02 21:15] #21722 closed

[2018-01-02 21:15] #21810 closed

[2018-01-02 21:15] #21814 closed

[2018-01-02 21:15] #21835 closed

[2018-01-02 21:15] #21929 closed

[2018-01-02 21:15] #22493 closed

[2018-01-02 21:15] #21940 closed

[2018-01-02 21:15] #22034 closed

[2018-01-02 21:15] gtmanfred commented on #45206
Sadly I am not shocked by that.

The shade driver in Oxygen is called `openstack`  you can use the openstack one in either case, but know that when changing to oxygen, the configs will break and not work with the new version.

The nova driver was written in a particular way so as to make it more stable, it didn't pan out like I had hoped, and one of the side effects is that it cannot be loaded wit

[2018-01-02 21:15] #22596 closed

[2018-01-02 21:15] #24246 closed

[2018-01-02 21:15] #22066 closed

[2018-01-02 21:15] #23349 closed

[2018-01-02 21:15] #23049 closed

[2018-01-02 21:15] #23905 closed

[2018-01-02 21:15] #24004 closed

[2018-01-02 21:36] frogunder opened #45243 "Salt-Syndic not working on Oxygen branch on py3"
Setting up a salt-syndic environment on oxygen branch on py3 setup is not working.

See this in `/var/log/salt/syndic`
[code]

see this in `/var/log/salt/master`
[code]

### Setup
Set up environment for salt syndic: https://docs.saltstack.com/en/latest/topics/topology/syndic.html#configuring-the-syndic

### Steps to Reproduce Issue
Set up environment, accept key and try to run commands from the Ma

[2018-01-02 21:47] gtmanfred commented on #44107
@anlutro what version of python3 is installed on the debian 8 machine?

Thanks,
Daniel

[2018-01-02 22:10] frogunder commented on #45243
I also see this traceback when trying to run a `Multi-Master PKI` setup, this also on oxygen branch and  py3 environment.
https://docs.saltstack.com/en/latest/topics/tutorials/multimaster_pki.html#prepping-the-master-to-sign-its-public-key

[code]

[2018-01-02 22:46] gtmanfred commented on #44107
After talking to @dmurphy18 , backports_abc will be included in Oxygen, so he is also going to include it in packaging for 2017.7.3

Thanks!
Daniel

[2018-01-02 23:10] dmurphy18 commented on #44107
@anlutro you can track the issues here https://github.com/saltstack/salt-pack/issues/473 and https://github.com/saltstack/salt-pack/issues/474

[2018-01-02 23:15] #25390 closed

[2018-01-02 23:15] #26191 closed

[2018-01-02 23:25] gtmanfred commented on #44107
If you pip install backports_abc on the debian 9 box, is this problem solved?

It sounds like what is happening is debian 9's python3 version is new enough that it has collections.abc, but debian 8 is old enough that it does not, and we either A) need to add a dependency on backports_abc so that even if the newer python version is used, the backports_abc.py file is picked up and added to the thin

[2018-01-02 23:30] gtmanfred commented on #44107
@saltstack/team-core does anyone have an opinion on how we solve this?

A) need to add a dependency on backports_abc so that even if the newer python version is used, the backports_abc.py file is picked up and added to the thin tarball for salt-ssh
B) rework the way the thin tarball is created so that collections.abc is copied as backports_abc.py for older systems that need it to run possibly newe

[2018-01-03 02:04] V3XATI0N commented on #45173
No, it's a dedicated EC2 instance.

[2018-01-03 02:35] liuhetongzi commented on #45230
@damon-atkins Thank you for your reply.I try the fix #42278 but it does not work.And I try update my salt to the lastest version Salt: 2017.7.2,It does not work too.

Salt Version:
           Salt: 2017.7.2

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython:

[2018-01-03 04:30] frogunder commented on #45241
#45245 fixes this issue, just tested it.

[2018-01-03 04:30] frogunder commented on #45242
#45245 fixes this issue, just tested it.

[2018-01-03 09:15] jf commented on #45165
Yup, I can confirm that with salt-minion 2016.11.8. If I were to adopt this approach to get the minion to regen its keypair, I have 2 options, neither of which really seem the best for me:

1. I can use cloud-init to run a command upon boot to remove the keys (https://cloudinit.readthedocs.io/en/latest/topics/examples.html#run-commands-on-first-boot). Here, I can use either `bootcmd`, or `runcmd`.

[2018-01-03 09:17] Bambie07 opened #45249 "define network routes with source ip address"
### Problem
In Debian based systems you can add a static route with the ip command like `ip r add 192.168.88.0/24 via xxx.xxx.xxx.xxx src 10.10.0.1`. You can define that the source of the package will be another ip as the outgoing interface has. Unfortunately I found nothing like this in the salt documentation. Is there a way to define this with network.routes or will this be implemented in later

[2018-01-03 10:17] guettli commented on #35935
@hatifnatt I had other diff-output errors with an old release of salt. I just upgraded to 2017.7.2 and these issues are gone - nice :-)     Could you please re-run your steps to reproduce this?

[2018-01-03 10:42] sumeetisp commented on #44357
@garethgreenaway  Please help me on how to use kerberos auth with salt-ssh

[2018-01-03 13:34] cavalheiro commented on #42814
I noticed the exact same problem. Also, why are we always getting an error code on compound command execution, even when the calls are of different commands?
[code]

[2018-01-03 13:44] sastorsl commented on #38513
I'm seeing the same thing on 2016.11.7.

State:

[code]

Un-commenting "template"
- scripts will NOT keep the execute bit.
- Local file "ao_foobar.sh" - only on minion - is preserved (not present in salt repo)

Commenting "template":
- files are copied and mode is set.
- Local file "ao_foobar.sh" - only on minion - is preserved (not present in salt repo)

[2018-01-03 13:47] rallytime commented on #45241
Awesome! Thank you @frogunder and @twangboy

[2018-01-03 13:47] #45241 closed

[2018-01-03 13:47] rallytime commented on #45242
👍

[2018-01-03 13:47] #45242 closed

[2018-01-03 14:06] sastorsl commented on #38513
One more thing.
When the mode is set locally (+x) after copying the mode is preserved during the next iteration of file.recurse. The issue is with regards to new files.

[2018-01-03 14:38] hatifnatt commented on #35935
@guettli I tested this issue in 2017.7.2 and it's still here, everything exactly like in my previous message, except Salt version.
[code]

[2018-01-03 15:02] terminalmage commented on #44451
This looks to be the same issue as https://github.com/saltstack/salt/issues/43204.

[2018-01-03 15:29] yagnik opened #45252 "__salt__ dictionary in nested modules?"
### Description of Issue/Question
Currently __salt__ dict is only present in the top level module, is there a particular reason we don't load into nested modules ? Would you recommend reloading salt in nested modules to access __salt__ ?

[2018-01-03 15:33] gtmanfred commented on #42814
I would bet that what is happening is the compound command stuff is making a dictionary, and the second one in the list is overwritting the first.

[2018-01-03 15:39] cavalheiro commented on #42814
Right, that explains why we get only the result of the last command in the queue.
And what about the error message?

[2018-01-03 15:51] Ch3LL commented on #35935
I'm able to replicate @hatifnatt 's test case. Looks like in the code we are using the difflib python module to create this diff.   `sndiff = ''.join(difflib.unified_diff(nlines, slines))` Which glancing at the docs for that method it looks like it expects a newline to be included from reading the file. Might be a good idea to start there to see if we can't add some logic to add a newline if one d

[2018-01-03 16:00] gtmanfred commented on #42814
That I am not sure, it is definitely a bug, but it is not on our list to get fixed right now.

[2018-01-03 16:02] cavalheiro commented on #42814
On the first: would returning a list of dictionaries be a viable fix?

[2018-01-03 16:10] gtmanfred commented on #45252
What do you mean by `nested` modules?

[2018-01-03 16:14] gtmanfred commented on #45249
It does not look like there is a source that is able to be passed to the route.

https://github.com/saltstack/salt/blob/2017.7/salt/templates/debian_ip/route_eth.jinja#L5

I am marking this as a feature request.

Thanks,
Daniel

[2018-01-03 16:15] Tanoti commented on #24209
I've submitted a partial PR that allows setting test:False in the orchestration file and for the minion to accept it and use it to override the test mode setting in the config file.

[2018-01-03 16:15] yagnik commented on #45252
Say if you have this structure:
[code]

__salt__ will be available in foo and bar but not in bar.baz module.
I am assuming we inject __salt__ only in top level modules i.e. foo and bar.

Does that help ?

[2018-01-03 16:16] gtmanfred commented on #42814
No, because the return is still a dictionary, so the return output will be overwritten.

It is entirely possible that both commands are being run, just that whichever one returns second is the one that gets spit out in the output.

[2018-01-03 16:19] gtmanfred commented on #45252
correct, it won't be in baz, because we are only loading `bar` and `foo` in the loader.

bar.baz is imported in `bar/__init__.py` and not loaded through the loader.

You could namespace all the modules from bar.baz, into __init__.py and then they would be available

https://github.com/saltstack/salt/blob/develop/salt/utils/functools.py#L15  (it is in salt.utils in versions before oxygen)

[2018-01-03 16:23] #15201 closed

[2018-01-03 16:37] gtmanfred commented on #45239
Ok, after looking at this, you can't use shell like that.

your first problem is that `/usr/bin/python` is probably not in /etc/shells.

Then once it is added, actually used to execute the command.  shell is what is used to execute the command inside of, so if it is set to bash, running the script is similar to bash -c '/path/to/script -args' instead of `bash /path/to/script -args`  so shell is th

[2018-01-03 16:37] #45239 closed

[2018-01-03 16:37] yagnik commented on #45252
Ah I see,
in that case though I'm forced to use only functions in sub modules right  and not the whole module ? Essentially I'd prefer doing namespace(bar.baz) as opposed to namespace(bar.baz.func1).

[2018-01-03 16:38] gtmanfred commented on #45252
We do not have a function that namespaces the whole module, only individual functions.

[2018-01-03 16:39] yagnik commented on #45252
Would you be open to that being added ? I can give it a shot ?

[2018-01-03 16:42] dglloyd commented on #35070
I just encountered this issue as well, just on a larger scale (adding ~250 users). Process took over 30 minutes in total, as it executes multiple queries per user existing in the database, every create_user call, so time per create grows geometrically.  After some discussion in ##salt on freenode, I was asked to open a bug report.

[code]

Attached are a test case for 5 users, with three existing

[2018-01-03 16:44] dmurphy18 commented on #45165
@jf Perhaps if you could explain the issue / scenario that you are trying to solve with moving salt-key, it might provide more light on the reason why moving salt-key is a good solution.

[2018-01-03 16:59] gtmanfred commented on #45252
Absolutely!

[2018-01-03 17:34] gtmanfred commented on #45243
confirmed.

[2018-01-03 17:35] #26973 closed

[2018-01-03 17:35] #19879 closed

[2018-01-03 17:35] #26937 closed

[2018-01-03 18:59] garethgreenaway commented on #45173
@V3XATI0N Couple things to check.  Can you see if your minions have the ipv4 grain available?  Also check to see if either the `ip` or `ifconfig` binaries are installed?  Thanks!

[2018-01-03 19:42] theasp commented on #33786
*sigh* I fell into this trap too!  @jaceq was likely basing their work on the Ubuntu LDAP server guide, which has in the "Consumer Configuration" section:
[code]

https://help.ubuntu.com/lts/serverguide/openldap-server.html

[2018-01-03 19:54] rallytime commented on #45056
Hi @isbm - I know you have been away for the holidays, but I wanted to check in with you here to make sure this is still on your radar. We have an upcoming deadline for oxygen blockers to be complete for the first round of RC testing on Jan. 17.

[2018-01-03 19:56] rallytime commented on #45243
@terminalmage I think this is related to your current work in unicode-land and I wanted to ping you here so it's on your radar.

[2018-01-03 20:06] #22772 closed

[2018-01-03 21:44] sjorge commented on #44404
This should have been fix in early December, by PR #44796

[2018-01-03 21:47] sjorge commented on #37507
This was most likely the same issue as #44404

[2018-01-03 21:51] #45071 closed

[2018-01-03 23:10] mwerickso opened #45261 "boto_vpc.route_table_present fails to resolve vpc_name"
### Description of Issue/Question
I have a `boto_vpc.route_table_present` state right after a `boto_vpc.present` state. The `boto_vpc.present` is able to see that the vpc named `us-east-2-vpc-control-mgmt` already exists. The `boto_vpc.route_table_present` state fails to resolve the vpc_name into a vpc_id.

### Setup
The .sls file:
[code]
When I run it, boto_vpc.present works, but the boto_vpc.rou

[2018-01-03 23:14] danlsgiga commented on #31427
This is an old thread but I'm facing this same issue running 2017.7.2 on a CentOS 7 box. I had 1 item in the list and as soon as I got the second item in the same list the first item was duplicated and the second added.

[2018-01-03 23:41] maneamarius commented on #45212
I'd love to contribute but I'm not sure my python skills are good enough :)
I may give it some try at later time but right now is not a great time for me as I recently moved to a new house..

[2018-01-03 23:44] V3XATI0N commented on #45173
All the minions have the ipv4 grain available and correctly defined. Some of them don't have the `ip`/`ipconfig` command available because they're Solaris or Mac OS.

[2018-01-04 00:56] garethgreenaway commented on #45173
@V3XATI0N I spun up a couple EC2 instances to try to duplicate the issue that you're seeing and unfortunately I wasn't able to.  Both instances are in the same availability zone and same subnet, they are in different security groups with the master group only allowing access to the Salt ports (4505 & 4506) to the minion group.  Everything is working and I'm seeing events on the event bus when the

[2018-01-04 03:04] MarloweW commented on #22063
Start solving this issue this week, tons of things need to be done at end year lately.  Sorry for the delay.

[2018-01-04 05:22] sumeetisp commented on #44357
@Ch3LL  @rallytime  Please help me out here.

[2018-01-04 06:46] boltronics opened #45264 "Feature request for saltutil.synced_all and related state modules"
### Description of Issue/Question
Currently if I need to sync custom states, modules, grains, etc. and have that triggered from a state sls, I need to wrap the request in a `module.run` block. This has the disadvantage of triggering a system "change" every time that state sls executes, even if everything was already in sync.

I feel this is a common (possibly the most common) use case for using `m

[2018-01-04 07:46] #13429 closed

[2018-01-04 08:37] damon-atkins commented on #33003
@twangboy  https://pypi.python.org/pypi/pythonnet/2.3.0 can we add this to the Development Build pls.

[2018-01-04 09:14] vnitinv opened #45265 "custom grain not able to call proxy module function, throws NameError: global name '__proxy__' is not defined"
### Description of Issue/Question
I have written custom grain, which tries to call proxy function but fails

[code]
@cro @mirceaulinic Do you have any suggestion from changes done for https://github.com/saltstack/salt/issues/30642

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
custom grains contents:
[code]

### Versi

[2018-01-04 13:22] guettli opened #45266 "Environment could not be retrieved for User 'foo'"
### Description of Issue/Question

This does work:

`somehost# salt-ssh remote-host gray state.sls monitoring`

This does not work:

`otherhost# ssh somehost salt-ssh remote-host gray state.sls monitoring`

Error if called via ssh:
[code]
### Setup

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
[code]

[2018-01-04 13:24] 9numbernine9 commented on #36673
I realize this issue is closed, but I thought I would post this for the benefit of others that have this issue (this Github issue was the top search result for me).

I ran into this issue recently, and stumbled across this ticket looking for a solution. After reading all the comments and doing some more research, I found that the following combination worked:
- Setting the `renderer` to `jinja | y

[2018-01-04 13:26] guettli commented on #45266
I edited the code on the minion like this:

`vi /var/tmp/.root_dcdf8c_salt/py2/salt/modules/cmdmod.py`

I replaced the swallowing of the exception and added a more verbose Exception()

[code]
Now the real problem is visible:

[code]

There is a german umlaut in the environment variables.

[2018-01-04 13:33] gtmanfred commented on #36673
You can either set the renderer to that, or you can just set it on files that have gpg inside of them.

`#!jinja|yaml|gpg`

As your hashbang will also work.

[2018-01-04 14:22] rallytime commented on #45147
@golmaal Thanks for the PR. Is this good to close now?

[2018-01-04 14:48] mts-avco commented on #26598
Apologies for resurrecting an old issue, but given that the new clients don't need `winrepo.genrepo` at all, perhaps the root could instead used in `winrepo.update_git_repos` to simply start at the specified root.

So currently I need to have a custom git repo at `http://my.git.server/group/samplerepo` and this would be updated into `/srv/salt/win/repo-ng/samplerepo` in its entirety as I would exp

[2018-01-04 14:59] terminalmage commented on #21814
For the record, this was implemented several release cycles ago: https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.saltutil.html

[2018-01-04 15:17] MarloweW commented on #22063
@amontalban Just pushed a PR #45269 , Still working on passing CI, but I have test it with a simple test server and worked.

[2018-01-04 15:24] ryanwalder commented on #45067
Just run into the same issue again with `file.directory` trying to create a dir on an NFS mount. I'm guessing the `file` module is trying to write as root then chown to the specified user rather than actually executing as the user.

[2018-01-04 15:32] ryanwalder commented on #45067
Actually after looking at the code it is doing exactly that:

[code]

So the user salt is running as (root in my case) is creating the dir then using `check_perms` to then set the perms to the specified user rather than creating directly as the user.

[2018-01-04 15:59] golmaal opened #45270 "salt_returns table records success as false even though event shows it being true"
### Description of Issue/Question
I've a postgresql returner configured. When the following return event is generated, the salt_returns table records success=false for the command...

### Setup
### Steps to Reproduce Issue
[code]

[code]

**Does anyone know how I can debug this issue further? I would have expected success to be recorded as "true" instead.**

Btw, it salt_returns seem to record suc

[2018-01-04 16:01] #20101 closed

[2018-01-04 16:03] golmaal commented on #45147
@rallytime, yes I'll do that now.
Thanks @garethgreenaway and @rallytime !

[2018-01-04 16:03] #45147 closed

[2018-01-04 16:47] brianthelion commented on #44957
@rallytime Sorry, I've got a ton going on this week, post-holidays. I can probably address this next week sometime.

[2018-01-04 17:22] jantonacci commented on #16209
Using salt-minion 2017.7.2 (Nitrogen) pre-installed on a CentOS 7 VM image.  Once deployed, despite wiping out the minion cache and keys on the template VM, new VMs still stubbornly use the template name, not the current hostname, unless I disable minion_id_caching.  Really annoyed this band-aid resolves/causes similar issues.

[2018-01-04 17:23] Ch3LL commented on #45261
ping @saltstack/team-boto any ideas here?

[2018-01-04 17:29] Ch3LL commented on #45264
I think this is a great idea. We are more than willing to accept a PR for this if you want to give it a go

[2018-01-04 17:40] Ch3LL commented on #45265
@cro or @mirceaulinic are definitely the ones that could have some good insight here. Waiting for their input thanks :)

[2018-01-04 17:43] Ch3LL commented on #45266
Thanks for the pr!! As this resolves the issue I will close here and we can keep the discussion in the PR but please let me know if you need to re-open this.

[2018-01-04 18:01] #26994 closed

[2018-01-04 18:01] #26991 closed

[2018-01-04 18:06] Ch3LL commented on #45270
possible duplicate of https://github.com/saltstack/salt/issues/41157

can you confirm?

[2018-01-04 18:19] Ch3LL commented on #44357
if you just pass the user/password for the kerberos user it doesn't work?

also ping @saltstack/team-ssh might have more ideas here.

[2018-01-04 18:22] Ch3LL commented on #45067
ahhh that makes sense nice find. Looks like we will need to create the dir as the user specified here. Please feel free to give a go at a PR for this. Thanks for the extra investigation here :)

[2018-01-04 18:22] thatch45 commented on #44357
We do not have any documentation on how to use salt-ssh with kerberos at this time. We currently only have built in support for keys and password auth.
Extending salt-ssh to use kerberos should not be hard to do, but code changes would likely need to happen.

[2018-01-04 18:24] Ch3LL commented on #37507
thanks for pointing that out @sjorge :)

ping @elyulka can you give the PR in that issue a try?

[2018-01-04 18:29] Ch3LL commented on #35070
thanks for the bump here. ping @akissa  looks like you have done some work here any chance you can take a look

Also either of you want to give a go at a fix so we aren't iterating over all these users please feel free

[2018-01-04 18:31] golmaal commented on #45270
@Ch3LL Yes, it's a duplicate. I had searched for salt_returns and that's why failed to find the old ticket. I'll close it now.

[2018-01-04 18:31] #45270 closed

[2018-01-04 19:30] #25142 closed

[2018-01-04 20:21] kiemlicz commented on #18256
I don't see the rationale for adding
`"user":"Reactor"` as event field and not gathering reactors for such.

Actually I do want to start e.g. orchestration via `Reactor`
and do some cleanup actions after it completes.
Aforementioned orchestration completes with **one** clean event
`salt/run/20180104200542718042/ret` that I would like to match on
Unfortunately I cannot because of `"user":"Runner"`

[2018-01-04 21:06] rallytime commented on #44957
Ok @brianthelion - Keep us posted when you can. Thanks!

[2018-01-04 21:15] V3XATI0N commented on #45173
No one is using ipv6 for connecting to the master right now. The master is in AWS, but most minions are in our on-premises data center or scattered geographically in other data centers or offices, or carried around by end users and connecting sporadically. They're connected directly to the master, not through a Syndic. Anywhere from 50 to 150 of the minions may be offline at any given time during

[2018-01-04 21:16] #8925 closed

[2018-01-04 21:18] #10193 closed

[2018-01-04 21:47] NTmatter opened #45274 "Trafficserver module fails when constructing arguments"
### Description of Issue/Question
The trafficserver state and module always fail with:
`Passed invalid arguments: can only concatenate list (not "tuple") to list.`

This seems to boil down to: https://github.com/saltstack/salt/blob/80d90307b07b3703428ecbb7c8bb468e28a9ae6d/salt/modules/trafficserver.py#L35-L36
https://github.com/saltstack/salt/blob/80d90307b07b3703428ecbb7c8bb468e28a9ae6d/salt/modu

[2018-01-04 22:19] rallytime commented on #39860
Thanks @steverweber!

[2018-01-04 22:19] #39860 closed

[2018-01-04 22:48] whytewolf opened #45282 "Feature Request: jid in relevant logging."
Ask is a Feature request for logging to allow better auditing through JID awareness.

When the master creates a task, it creates a JID to hand down to the minions. For auditing, it would be good to record that JID as well as the minions that are expected to return. If not possible for the minions at the very least the target info used.

Along with this, it would be good if the minions logged valid

[2018-01-04 22:48] whytewolf commented on #45282
ZD-2096

[2018-01-04 22:58] alext9 opened #45283 "Requisite matching not matching state based on -name"
### Description of Issue/Question
I am trying to restart a service when a file changes. I am using watch_in on a file.managed state and am expecting to match the `- name: nginx` of my `service.running` state. This behavior is mentioned in the [requisite matching](https://docs.saltstack.com/en/latest/ref/states/requisites.html#requisite-matching) section of the documentation.

### Setup
[code]
When

[2018-01-04 23:18] boltronics commented on #45264
Thanks. I'd be happy to give it a go when I find enough free time. Probably not any time soon though, so equally happy if someone else beats me to it. :wink:

[2018-01-04 23:33] whytewolf opened #45285 "[Oxygen][salt-cloud][openstack] --list-locations currently isn't supported."
### Description of Issue/Question
First want to say loving the new shade based openstack driver so far. config is much easier and it supporting domains properly works out of the box. can't wait for the shade based modules that go with it ;)

that being said ran into an issue while testing.

--list-locations is not supported.
[code]

### Setup
Configure openstack driver in oxygen to be able to conn

[2018-01-05 00:36] mwtzzz opened #45286 "unable to pass "-l debug" to job_args"
I'm trying to turn on debugging in a scheduled state.sls function, but I keep getting an error:

My basic config (which works) looks like this:
[code]
I've tried the following different ways to pass `-l debug` to job_args, none of them worked, they all throw that template error:
[code]

I'm running salt-2017.7.0 on linux.

[2018-01-05 00:58] rickh563 commented on #45285
ZD-2068

[2018-01-05 02:30] #27185 closed

[2018-01-05 02:36] gtmanfred commented on #45285
There is no function in shade to list locations.

It would be possible to try and get the service catalog, and then look up all of the regions there, but there is no real api thing to list possible regions.  We had this same problem with the libcloud driver in the past.

Daniel

[2018-01-05 03:28] whytewolf commented on #45285
could always take the nova driver way, search_services and filter that through search_endpoints

although with the nova driver was a little prettier. then it would be with shade. but i trust the shade results a little more.

[2018-01-05 03:38] gtmanfred commented on #45285
It is certainly something we could do.  I would prefer to push it upstream into shade instead.

[2018-01-05 05:39] #26459 closed

[2018-01-05 07:00] vnitinv commented on #45167
@sidhujasminder You can also close this issue yourself.

[2018-01-05 07:12] vnitinv opened #45287 "grains set for proxy is not reflected"
### Description of Issue/Question
I am setting grains key value using command line.
[code]

the value set is only reflected for minion and not the proxy
[code]
### Setup

### Steps to Reproduce Issue
when we trigger `salt '*' grains.item xyz`
Minon logs
[code]

proxy log
[code]
### Versions Report
[code]

[2018-01-05 08:41] akissa commented on #35070
The postgres execution module is largely inefficient. I have thought of rewriting the whole thing as postgres_ng using python tools instead of the commandline psql tool which is the basis of the design issues according to me.

I just do not think i can look at this now, only possible at the end of 2018.

[2018-01-05 08:48] guettli opened #45288 "Docs about Ordering States"
### Description of Issue/Question
I think the current docs of "Ordering states" could be improved.

Source https://docs.saltstack.com/en/latest/ref/states/ordering.html#state-auto-ordering

The version 0.17.0 was released on 2013-09-26. I guess 99% of all users use a newer version.

I think it would be much more easier to read, if you just present the current state exclusively. Users of the four y

[2018-01-05 08:51] guettli opened #45289 "Links to parts in the docs scroll too low. You need to scroll up to see heading"
### Description of Issue/Question

If I follow this link:

https://docs.saltstack.com/en/latest/ref/states/ordering.html#state-auto-ordering

My firefox show this:

![grafik](https://user-images.githubusercontent.com/414336/34601809-e23ae6aa-f1fd-11e7-82db-d038c10abdc7.png)

I need to scroll up manually to see the heading and the first lines of this part of the docs.

BTW, do you read you docs?

[2018-01-05 09:05] sumeetisp opened #45290 "External cloud pillar"
### Description of Issue/Question
For writing custom external pillar i see that there is following def structure to be used,

def ext_pillar(minion_id,
               pillar,  # pylint: disable=W0613
               url=None):

What is the use of pillar variable here?

2) At the documentation mentioned [here](https://docs.saltstack.com/en/latest/topics/development/external_pillars.html)
Following i

[2018-01-05 12:08] Hitamashi opened #45291 "Problem in salt-api with runner client: Could not deserialize msgpack message"
### Description of Issue/Question
I have problem when use salt-api with runner client.
It is well excuted with the command line but it cannot use with the api
I think it some how related to this issue #19349

### Setup
Salt api config:
[code]

### Steps to Reproduce Issue
I have the the issue with salt-run. But it only occurs when I use salt api with runner client.

It is ok when I run:
`salt-run

[2018-01-05 13:02] gtmanfred commented on #45287
@mirceaulinic this is fixed in your recent pull request for proxy minion grains right?
https://github.com/saltstack/salt/pull/44549

Thanks,
Daniel

[2018-01-05 13:04] gtmanfred commented on #45289
This is caused by the header, it scrolls down so that the line is at the very top of the page, instead of at the bottom of the header.

I have seen this in the past, but not recently, it is working correctly for me in chrome
<img width="984" alt="screen shot 2018-01-05 at 6 03 22 am" src="https://user-images.githubusercontent.com/732321/34610407-3bacfc3e-f1de-11e7-8590-28e0a32db6f3.png">

[2018-01-05 13:20] mirceaulinic commented on #45287
Yes, that correct @gtmanfred. The fix will be available in 2017.7.3.

[2018-01-05 13:21] gtmanfred commented on #45287
perfect, thought so, thanks!

[2018-01-05 13:47] nkv16786 commented on #44289
Jsandas, Does that mean we need different provider for each location??

[2018-01-05 13:59] rallytime commented on #44913
@ari This should be fixed with #45174. Can you confirm?

[2018-01-05 14:15] kubadawczynski opened #45292 "Problem with new version of docker-py which has inpact on docker_image.present state"
### Description of Issue/Question
After new release of docker-py (https://github.com/docker/docker-py/releases/tag/2.7.0), salt is not able
to install docker-py and download docker image during one iteration despite that reload_modules is set to True.

[code]

second iteration:
[code]

On older version of docker-py (2.6.1)
[code]
[code]
Salt is downloading images during first try

### Setup
State