[2017-08-27 15:10] chrisxaustin commented on #9849
I had the same issue because debconf-get-selections wasn't installed on the minion, which is a bento/ubuntu-16.04 vagrant box.

Added this to the state, which fixed it
[code]

[2017-08-27 18:49] tsaridas commented on #43089
I'm sorry, this was a misconfiguration on my side.

[2017-08-27 18:49] #43089 closed

[2017-08-27 19:47] morganwillcock commented on #43194
The failure will just be based on the exit code returned from the installer, so to get a better idea of what is going on it's probably best to look at the Application logs in Event Viewer. You should be able to see an MSI transaction begin and end. If it is failing you can get more information by passing the switches for MSI logging through to the MSI package:

`install_flags: /s /v"/qn /l*v c:\lo

[2017-08-28 00:01] boltronics commented on #43130
@Ch3LL That is correct. I have added the documented `use_superseded` argument to my config.

I didn't mean to imply that the old syntax should be removed. I just think it's not very clear at a glance which examples are using which syntax, and it would be more readable if the two different approaches were split out under separate sub-headings or some such.

In case it wasn't clear, both are current

[2017-08-28 02:02] Linuturk commented on #14872
Seems to have been fixed in https://github.com/saltstack/salt/pull/31492 Closing.

[2017-08-28 02:02] #14872 closed

[2017-08-28 06:50] nkrishnakishor commented on #43132
I have run the above command but could not see the msi named DLP.msi in the output.

[2017-08-28 09:23] tobias-kuendig commented on #43175
I just noticed by looking at [the code](https://github.com/saltstack/salt/blob/d6ebd7a52f9f3c1852f67d6a1316ae6419f7e2bf/salt/states/chocolatey.py#L114) that unless you specify `force: true` it'll always jump over already intalled packages.

This means that

* [ ] The documentation for `version` needs to state that `force` is currently required
* [ ] There is no possibility to `upgrade` a package v

[2017-08-28 09:44] amuhametov commented on #20811
+1

[2017-08-28 09:56] Set4now opened #43211 "salt net.cli gives"
salt 2017.7.0 (Nitrogen)
we are facing a strange issue with salt-proxy for networking devices.
when we start salt-proxy --proxyid=ntw-1503383267857 -d
then we execute salt ntw-1503383267857 net.cli "show version"
the return output is this

[code]

But if we wait for exactly  120 secs (2 mins)
we get proper output from the device.
strangely 60 secs for a router and 120 secs for a switch.
But if we

[2017-08-28 11:29] brejoc opened #43212 "install_time can be None on RH systems"
### Description of Issue/Question

In some cases `install_time` can be `None` on RedHat systems, which would result in an `ValueError`:

[code]

### Setup/Versions Report

SaltStack 2017.7.1

[2017-08-28 11:38] sokratisg commented on #42007
Unfortunately I am seeing the same issue in the latest release.

- Running state.highstate from CLI respects all environments and pillar based targeting within top.sls
- Running highstate through state.orchestrate seems to ignore anything else expect base environment.

Please check.

[code]

[2017-08-28 11:43] jettero commented on #43003
Oh, man, I really want to try this now. I'm on a change-blackout or I'd have already done it.

[2017-08-28 11:47] alexmihajlov opened #43213 "win-repo-ng: pkg.refresh_db doesn't update packages on Windows minion"
### Description of Issue/Question
I run  pkg.refresh_db on minions, but minion returns
[code]
### Setup
Salt 2017.7.0 on master and minion
My master conf:
[code]
Minion configuration have only id and master section.

### Steps to Reproduce Issue
[code]
### Versions Report
[code]

[2017-08-28 12:19] zhujinhe opened #43215 "salt/modules/cron.py Non-ascii code not support"
### Description of Issue/Question
Non-ascii code not support salt/modules/cron.py
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
salt-minion will report error if crontab has ascii code(e.g. 中文).
----------
          ID: cron_auto_restart_huoban_backend www
    Function: cr

[2017-08-28 12:25] MartinEmrich commented on #40529
The solution of @gtmanfred worked fine here, I added ext_pillar_first: True.

But starting the minion should not depend upon config files meant for the master (i.e. pillar top.sls, etc.)...

[2017-08-28 12:36] szjur commented on #43003
@DmitryKuzmenko, is this patch 100% incompatible in any combination with the unpatched code? I tried patching the master first, but it does not work with an unpatched master (neither slow nor fast - just at all). Syndic claims to forward the events, no errors are seen on either side but the results just get lost somewhere. I wouldn't expect a patched syndic work against the unpatched master but th

[2017-08-28 12:59] varun292006 opened #43216 "Error while storing job results in an external system"
### Description of Issue/Question
Error while storing job results in an external system

### Setup
Salt-2017.7.1 single master setup with 1 ubuntu minion

### Steps to Reproduce Issue
1) Created a log server and installed mysql

2) Created mysql schema as mentioned here:
https://docs.saltstack.com/en/latest/ref/returners/all/salt.returners.mysql.html#module-salt.returners.mysql

3) Installed mysql

[2017-08-28 14:03] damon-atkins commented on #43175
The state 'installed' should
- determine if the software is installed
-- and if not installer the version specified or no version specified the latest is installed
-- and if is already installed, ensure the version specified is installed. (no version specified should be any version is acceptable)

The state 'latest' is different in that the effective version specified is always the latest.

Sounds

[2017-08-28 14:05] #42941 closed

[2017-08-28 14:07] #43001 closed

[2017-08-28 14:13] Ch3LL commented on #43194
@jmholla any lucks with @morganwillcock 's suggestions?

[2017-08-28 14:14] damon-atkins commented on #43213
[code]
Means
`/etc/salt/win/win/repo-ng`
/etc/salt is not an ideal location for salt state and data.

[2017-08-28 14:19] jdarnold opened #43220 "docker_container failing on fresh install of salt minion"
### Description of Issue/Question
Upon a fresh install on a salt minion, I get the following error:

     Comment: Failed to get client args: docker Python module not imported

when trying to use docker_container.running for an image. I think I have done all the necessary steps to get the docker requirements set up. If I just run the state again, it works fine.

### Setup
(Please provide relevant

[2017-08-28 14:23] carsten-AEI opened #43221 "pkg.installed merging does not honor require order"
### Description of Issue/Question
It seems that salt merge `pkg.installed` from various states but does not honor the order defined by `require` or `require_in` for `pkgrepo.managed`. With the given sample SLS file, `ffmpeg` is tried to be installed from the `ntp` state but at that point, the jessie-backports repo is not yet configured.

### Setup
Example sls
[code]
### Steps to Reproduce Issue
I

[2017-08-28 14:27] Ch3LL commented on #43205
@garethgreenaway can i get your thoughts here? do you think this is a good idea to add?

[2017-08-28 14:43] bbinet commented on #43200
I think the doc is wrong, the "access" field is now required (it does not default to "proxy" value anymore: in older grafana versions, grafana may have used the "proxy" value as default, but it does not seem to be the case anymore).

So I think the doc should be fixed to say "access" field is required.

[2017-08-28 14:56] Ch3LL commented on #43211
@mirceaulinic have you by chance run into this error?

When searching netmiko's repo i see a lot of issues with this error and they seem to vary [here](https://github.com/ktbyers/netmiko/issues?q=is%3Aissue+IOError%3A+Search+pattern+never+detected+in+send_command_expect+is%3Aclosed)

[2017-08-28 14:58] rallytime opened #43223 "Properly deprecate describe_route_table function in boto_vpc module"
### Description of Issue/Question
There is a deprecation warning for a function to be removed in the boto_vpc execution module. However, the original deprecation looks incomplete and when #41205 was submitted, the change for the boto files caused test failures.

I need to look into this more closely and find a way forward for the deprecation.

[2017-08-28 15:00] szjur commented on #43003
@DmitryKuzmenko, sorry for spamming, but was this code in your patch for master.py (_syndic_return() function) supposed to provide backwards compatibility or you use it for something else?

        if not isinstance(loads, list):
            loads = [loads]

I debugged that and if this is changed to

        if not isinstance(loads, list):
            loads = [load]

(just 1 character removed :-)

[2017-08-28 15:00] evannadeau opened #43224 "Remote execution of cmd.run fails and system path seem to have been lost."
### Description of Issue/Question
Remotely executing cmd.run on this particular minion, will fail after it has sat overnight.  What we are generally trying to perform is execution of a powershell script.

## Error returned after approx. 12 hours:

[code]

## Error returned after sitting over the weekend:

ERROR: Unable to run command 'chcp 437 > nul & host' with the context '{'timeout': None, 'wit

[2017-08-28 15:13] gtmanfred commented on #40529
@dmurphy18 is there a reason we check the /etc/salt/minion file like this in the init script?

Thanks,
Daniel

[2017-08-28 15:15] DmitryKuzmenko commented on #43003
@szjur hmm... let me check.

[2017-08-28 15:16] Ch3LL commented on #43208
@mitar can you clarify your use case a little more. Can you share the state your using? Just need to clarify if you have set a UID/GID in your state or not? in other words Is it changing the UID of a user without even declaring a UID in the state?

[2017-08-28 15:20] Ch3LL commented on #43212
@brejoc thanks for the PR! As your PR resolves this issue I will close this issue but please let us know if there is a problem with the PR and we can re-open this issue. Thanks!!!

[2017-08-28 15:33] mwtzzz commented on #43150
Hi, any thoughtts on this? Drive `/dev/md127` definitely is a valid RAID. We'd like to use it in `raid.present`. It's impractical for us to specify `md-ip-xxxx` in the salt state for each one of our hosts. I suppose this could could be done with Jinja, but I think the right way to handle this is for the underlying code to check whether the device file is a symlink and if so, follow it and check th

[2017-08-28 15:38] Ch3LL commented on #43215
@zhujinhe can you please share your state so we can replicate the issue?

[2017-08-28 15:38] terminalmage commented on #43077
@gtmanfred I will be meeting with @thatch45 and @cachedout today to discuss argument handling in the reactor system.

[2017-08-28 15:42] Ch3LL commented on #43216
This error `SaltMasterError: MySQL returner could not connect to database: (2003, "Can't connect to MySQL server on 'salt' (111)")` seems to indicate your configuration in the minion config is probably wrong. Can you confirm with the mysql cli client that you can connect  to that database with the username/password and hostname from that minion?

[2017-08-28 15:45] alexmihajlov commented on #43213
I fix file_roots and this solved problem. Sorry for wasting your time.

[2017-08-28 15:45] #43213 closed

[2017-08-28 15:49] Ch3LL commented on #43220
@jdarnold should be fixed by https://github.com/saltstack/salt/pull/43088 can you give that a try?

[2017-08-28 15:50] gtmanfred commented on #43077
awesome

[2017-08-28 16:33] gtmanfred commented on #43175
It works correctly when you don't have the package installed yet, and when you pass `force: true`

[code]

You can also pass `allow_multiple: True` which would allow multiple versions to be installed.

@twangboy or @rdutch do either of you have a problem with adding an `update: True` argument to this or should we just change the wording around `force: True`?

Thanks,
Daniel.

[2017-08-28 16:48] terminalmage commented on #43162
@abulford Good point. I've opened an issue upstream with docker-py: https://github.com/docker/docker-py/issues/1728. We'll see where it goes. I've got an idea of what may fix it in docker-py, but I'd like to get some feedback from their dev team on the issue I've opened.

[2017-08-28 16:48] twangboy commented on #43175
@gtmanfred I think the problem is that the docs state that `If the version is different to the one installed then the specified version will be installed.` but says nothing about requiring `force=True`.

So, we need to either make the state do what the docs say it does, or change the docs. I think `force=True` should only be used to reinstall. As @tobias-kuendig said adding `force=True` to the sta

[2017-08-28 16:53] gtmanfred commented on #43175
Ok, sounds good.  I am going to mark this as a code bug.

Thanks,
Daniel

[2017-08-28 17:11] #26995 closed

[2017-08-28 17:40] varun292006 commented on #43216
Hi,

Thanks a lot for the reply.

I tried what you asked for but that didn't work either.

root@masterA:/srv/salt# salt -t 60 'salt' state.apply test_mysql
salt:
----------
          ID: get_data
    Function: mysql_query.run
        Name: test1
      Result: False
     Comment: MySQL Error 2003: Can't connect to MySQL server on 'salt' (111)
     Started: 19:34:08.887517
    Duration: 11.092 ms

[2017-08-28 18:00] Ch3LL commented on #43224
@evannadeau i am seeing this error `Not enough storage is available to process this command`. Can you check the storage consumption on that VM?

Also can you paste the cmd.run command your attempting to run?

[2017-08-28 18:22] Ch3LL commented on #43221
I'm having a hard time replicating this with a smaller use case here:

[code]

It installs each package seperately. Do you happen to be using state aggregate as documented [here](https://docs.saltstack.com/en/latest/ref/states/aggregate.html#in-config-files)?

One way to see what salt is doing is run in debug mode and see if it runs only one `apt-get install` command with all packages in state or

[2017-08-28 18:53] carsten-AEI commented on #43221
*blush*

your first suggestion is spot on - when we started using saltstack last year, we had set `state_aggregate: True` and indeed this causes the reported problem. *sigh* took me a better part of a week to shrink down more than 2000 states to this smaller SLS file when the solution would have been so simple.

Thank you very much for pointing me into the right direction! I hope it is ok that I c

[2017-08-28 18:53] #43221 closed

[2017-08-28 19:00] Ch3LL commented on #43216
Apologies I wasn't clear. I meant for you to try from the mysql cli tool outside of salt. `mysql -u {username} -p{password} -h {remote server ip} {DB name}` with the same credentials you are using in the minion config? This will allow us to determine if its an issue with salt or the mysql setup.

[2017-08-28 19:04] evannadeau commented on #43224
Disk storage?  Not an issue, 35GB free on the C drive.
Memory consumption:  Currently I see one python session using approx. 26MB, and another using approx. 64MB.  However during the problem, the second python session was using approx. 85MB of memory.  Nothing over the top, only 1.8GB of 4GB consumed.

As for the command I'm running, it is ANY cmd.run does not work remotely.  And although I haven'

[2017-08-28 19:06] Ch3LL commented on #43132
thanks for trying that. This means that salt is not going to be able to find that executable.

What are your file_roots configured as in your master config?

also @twangboy i'm a little fuzzy in this area. Can you clarify where a user would need to upload the artifacts for winrepo when not using a http link?

[2017-08-28 19:17] terminalmage commented on #43162
It looks like docker-py does not consider this behavior to be a problem or concern, so there will be no changes upstream. However, https://github.com/saltstack/salt/pull/43184 modifies the code we use to decide whether or not to replace the container by simply performing a boolean comparison when one side is `None`, which should fix this.

@MorphBonehunter Sorry I didn't answer your question. It's

[2017-08-28 19:18] twangboy commented on #43132
It should work fine with a `salt://` location. According to the software definition displayed above and assuming the `file_roots` is the default (`/srv/salt`) the file should be in `/srv/salt/win/repo/dlp/x64/DLP.msi`.

[2017-08-28 19:20] terminalmage commented on #43162
NOTE: I've edited the reply I just posted for clarity and logical consistence. If you're only following this thread via e-mail, please click through and view it on the website.

[2017-08-28 19:46] Ch3LL commented on #43157
parsing the code it looks like it just runs `yum list available <pkg name>` and parses that output.

What does the output looks like when you run that command for your custom package?

[2017-08-28 19:59] mirceaulinic commented on #43211
Hi @Ch3LL @Set4now there are a couple of things to check, in that order:

1. Make sure you have `multiprocessing: false` in your proxy config file, typically `/etc/salt/proxy` or `/srv/proxy`
2. If (1) doesn't help, try to increase the timeout, using the `timeout` optional argument. In your pillar, you can add this using the optional args, like:

[code]

see https://docs.saltstack.com/en/develop/r

[2017-08-28 20:09] dmurphy18 commented on #43128
@kimoziiiii Using the steps above, this worked for me on Redhat 6.9 and Redhat 6.6

[2017-08-28 20:18] mwtzzz commented on #43157
[code]

[2017-08-28 20:35] Ch3LL commented on #35455
You are exactly right and there is actually a fix here: https://github.com/saltstack/salt/pull/43088

[2017-08-28 20:35] #35455 closed

[2017-08-28 20:47] dmurphy18 commented on #40529
@gtmanfred @plastikos the code was added

Revision |   | Date | Author | Comments
#0efbbcd1 |   | 09-May-2016 | plastikos <thayne@vintagethreads.com>

Reading the config is causing issues, wondering if @plastikos may have a preferred solution ?

[2017-08-28 21:04] Ch3LL commented on #43150
agreed i would expect it to return the name of the raid device. Looks like raid.list is simply parsing the output from:

`mdadm --detail --scan`

I'm guessing if you ran that you also would not get /dev/md127 from the output?

[2017-08-28 21:29] dmurphy18 commented on #43128
@kimoziiiii @Ch3LL this will be fixed in the next point release,  see https://github.com/saltstack/salt-pack/issues/412

[2017-08-28 21:56] icycle77 commented on #43153
Sorry for the delay, I did not see the notification for your comment.

The syntax `--exclude pkg1,pkg2` as well as `--exclude=pk1,pkg2` are acceptable and confirmed working (see my initial description). I really think this issue is related to quoting.

I've pasted some examples below of yum updates, primarily with just a single excluded package, that show some additional scenarios:
- comma separat

[2017-08-28 21:59] mitar commented on #43208
No, I have an explicit state with uid:

[code]

I am currently using `user-uid-match-mitar` workaround to manually check that uid matches.

[code]

[2017-08-28 22:08] mwtzzz commented on #43150
Unfortunately it does not give md127:
[code]
in this case the symlink appears like this:
[code]

[2017-08-28 22:28] mitar opened #43231 "Weak require: Allow one state to check if another state is available"
### Description of Issue/Question

I would like to be able to test if another state is being applied for a given minion. For example, I have a state which moves `/home` directories to `/srv/home` for some minions. And I would like that another state which is adding users can based on existence of that state determine where to put home directories for users.

This could be something like "weak requ

[2017-08-28 22:55] mitar opened #43233 "Workaround for default home location for Ubuntu 14.04 and 16.04"
### Description of Issue/Question

Ubuntu 14.04 LTS and 16.04 LTS have a bug which makes it impossible to configure [where should default home directories be created](https://bugs.launchpad.net/ubuntu/+source/shadow/+bug/1321854) (bug talks about default shell, but it is a problem for any default setting).

Salt's `user.present` state delegates to system location of where the user's home directory

[2017-08-29 02:25] zhujinhe commented on #43215
If ascii code already exist in  /var/spool/cron/root.
[root@localhost ~]# cat /var/spool/cron/root
# 中文

cron.present will throw out an error.
cron_name:
  cron.present:
    - name: ls
    - identifier: foo, bar
    - user: root
    - minute: 0
    - hour: 7,12,17

[2017-08-29 02:39] jmhierro opened #43234 "Exception: global name 'requests' is not defined"
I'm trying to download a file from a S3 bucket using file.manage and a IAM role to grant the access to S3.
When i run the recipe, i get this error:

 ip-10-97-24-39:
----------
          ID: download
    Function: file.managed
        Name: /tmp/temp.tar.gz
      Result: False
     Comment: Failed to cache s3://bucket/folder/file.tgz: Could not fetch from s3://bucket/folder/file.tgz. Exception: gl

[2017-08-29 02:54] stduolc commented on #42978
@Ch3LL hi,chill, there is still a bug. when I try to use the salt netapi(cherry) to pub a job for all minions in two or more syndic clusters. the job return from the minions, which matched the target rule, only contains the minions which in one syndic cluster. but when I digged into the old_master log, get the $jobid, and used `salt-run jobs.lookup_jid $jobid` to check the minions which matched th

[2017-08-29 05:06] nkrishnakishor commented on #43132
@Ch3LL I have removed the existing dump and copied a fresh dump of the msi package. When run the below command able to find the msi.

`salt-run fileserver.file_list`

Below is the definition under file_roots in master config file.

`file_roots:
   base:
     - /srv/salt/
   dev:
     - /srv/salt/dev/services
     - /srv/salt/dev/states
   prod:
     - /srv/salt/prod/services
     - /srv/salt/prod/

[2017-08-29 06:10] nkrishnakishor commented on #43132
Below is the setup of the files:

Base directory is `/srv/salt` top.sls file contained in base directory

Below is the directory structure under base directory.

|____dev
| |____services
| |____states
|____prod
| |____services
|____win
| |____repo
| | |____firefox
| | |____dlp
| | | |____init.sls
| | | |____x32
| | | |____x64
| | | | |____dlp.msi
|____windows
| |____states
| | |____dlp.sls
| |____

[2017-08-29 08:16] zhujinhe commented on #43215
----------
          ID: cron_auto_restart_huoban_backend www
    Function: cron.present
        Name:  my command
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/usr/lib/python2.7/site-packages/salt/state.py", line 1837, in call
                  **cdata['kwargs'])
                File "/usr/lib/python2.7/site-packag

[2017-08-29 08:49] DmitryKuzmenko commented on #43003
@szjur you're right. I've updated the PR. Thank you.

[2017-08-29 10:27] thedrow commented on #7916
I guess no one cares.

[2017-08-29 10:27] #7916 closed

[2017-08-29 10:52] yllar commented on #23886
still broken in 2017.7.1
[code]

[code]

sudo swapon -s
[code]

cat /etc/fstab
[code]

[2017-08-29 10:58] marco-m commented on #30161
hello, any news?

[2017-08-29 11:10] Jille commented on #15694
(I've not verified whether this was done since, but) I'd still like this feature.

[2017-08-29 11:12] daveneeley opened #43239 "spm install -f doesn't update spm info"
### Description of Issue/Question
When an spm package has been previously installed, and spm install -f is used to install a newer version of the package, running spm info <formula> doesn't show that the version has been updated.

### Steps to Reproduce Issue
Generate a new SPM-enabled formula repo, such as with this cookiecutter: https://github.com/mitodl/saltstack-formula-cookiecutter (formula d

[2017-08-29 11:57] varun292006 commented on #43216
Thanks!

The problem was with MySQL, I have fixed it.

One thing which I want to achieve is to have data written in both mysql and local cache. As per the documentation if I don't set ext_job_cache: mysql in master configuration file and pass --return mysql explicitly with the salt command then it will write in local cache as well as mysql.

Is this correct?

If yes then how can I achieve it (as i

[2017-08-29 11:58] fzk-rec opened #43240 "Redis returner could not deserialize msgpack message: Exception: unpack(b) received extra data"
### Description of Issue/Question
I am trying to use salt-master with a REDIS backend for the returners. I followed the steps in https://docs.saltstack.com/en/latest/topics/jobs/external_cache.html#external-job-cache and put the redis data into the master config file, as well as setting the master_job_cache value:

/etc/salt/master:
[code]
### Setup
Salt-Master is running inside a docker container

[2017-08-29 12:08] mirceaulinic opened #43241 "Error whilst collecting napalm grains"
### Description of Issue/Question

This error is raised at the first grains collection attempt, when the proxy and the pillar data is not yet ready:

[code]

That's just a small fix.

[2017-08-29 12:52] mirceaulinic opened #43242 "Changes not included in the tagged version"
### Description of Issue/Question

I was looking at https://github.com/saltstack/salt/blob/v2017.7.1/salt/proxy/napalm.py but I don't see the changes from https://github.com/saltstack/salt/pull/42236 although I recall the PR has been merged before the tagging started for `2017.7.1`.
Can anyone clarify please?

[2017-08-29 12:54] vtolstov commented on #32128
any news about official fix ?

[2017-08-29 13:30] rallytime commented on #43242
Hi @mirceaulinic - The 2017.7.1 release was a more targeted release that contained fewer fixes. We're moving towards making release branches (2017.7.1) created from the parent branch (2017.7) to help with release stability.

I just checked and the fix you referenced is not in the 2017.7.1 release. It will be in the 2017.7.2 release.

The docs have been updated [here](https://docs.saltstack.com/en/

[2017-08-29 14:22] #9443 closed

[2017-08-29 14:22] #14622 closed

[2017-08-29 14:22] #14745 closed

[2017-08-29 14:22] #14664 closed

[2017-08-29 14:22] #14802 closed

[2017-08-29 14:22] #14782 closed

[2017-08-29 14:22] #14829 closed

[2017-08-29 14:22] #13819 closed

[2017-08-29 14:22] #14866 closed

[2017-08-29 14:22] #3577 closed

[2017-08-29 14:22] #14645 closed

[2017-08-29 14:22] #14939 closed

[2017-08-29 14:47] neilashbysenior opened #43246 "Dual Salt Masters (not for HA)"
Hi, I want to implement a dual master design where I have minions managed through an agent by dual Salt masters. I have seen some documentation around multi masters for HA reasons but my masters would be doing different things as opposed to be wanting the minion in the same state.

One master would be responsible for the OS configuration, post deployment config, patching and updates and one master

[2017-08-29 15:03] jdarnold commented on #43220
Well, I think it is fixed in the git develop branch. If I bootstrap using *git develop* install type, I can now run my td.sls test state. But I do get a "Passed invalid arguments to state.apply: 'bool' object is not iterable" error using this minion with my 2017.7.1 salt master when I try to apply my top.sls state, but maybe that's just because the minion is now newer than the master?

[2017-08-29 15:06] terminalmage commented on #42007
@sokratisg This issue has been closed. For clarity and ease of troubleshooting, please open a new issue with a replicable use case. Thanks!

[2017-08-29 15:08] zerthimon commented on #41741
+1

[2017-08-29 15:58] gtmanfred commented on #42459
I am able to get this to work using using salt directly and using the `/run` api endpoint.

But using `/login`, and then using the token to authenticate doesn't work which is why salt-pepper would fail, which makes me believe that the token might not be getting saved on the master correctly.

[code]

@whiteinge can you take a look at this when you get back from vacation?

Thanks,
Daniel

[2017-08-29 16:05] gtmanfred commented on #42459
@iavael can you tell me which previous version this worked on so that I can test it and we can mark it as a regression and get its priority bumped up?

Looking at 2016.11, I am getting the same problem.

[code]

Thanks,
Daniel

[2017-08-29 16:35] twangboy commented on #43132
It may be related to this:
https://docs.saltstack.com/en/latest/topics/windows/windows-package-manager.html#custom-location-for-repository-sls-files

Since you've set file_roots for Windows to be:
[code]
Salt is looking for the repo in `/srv/salt/windows/services/win/repo`. If it doesn't find it there, it then looks in `/srv/salt/windows/states/win/repo`. (Additional information on file_roots over

[2017-08-29 16:44] Ch3LL commented on #43220
It looks like that PR has been merged forward into develop so that explains why you are getting pass that error. But yeah you can definitely be running into that error if your using an older master. we don't support older master with newer minion. Can you try just patching the PR to see if this resolves the issue so we can close?

[2017-08-29 17:29] Ch3LL commented on #43215
thanks for the use case. I'm now able to replicate this issue.

Here is a docker container for anyone to quickly replicate this issue:

1. `docker run -it -v ~/git/salt:/testing ch3ll/issues:43215 salt-call --local state.sls test -ldebug` ( where ~/git/salt is a local cloned git repo of salt)

we will need to get this fixed. thanks

[2017-08-29 17:38] MTecknology commented on #43246
That sounds like you'd be better off having a single dual-homed salt master, but two masters is fine. If you want a minion to use either one and not care then you have to read the documentation about HA setups. If you don't care, then it's not relevant.

[2017-08-29 17:39] MTecknology commented on #43234
Do you have the python-requests package installed? I'd start by making sure it's installed.

[2017-08-29 17:42] MTecknology commented on #43233
Why are you messing with /etc/default/useradd? Check out the documentation for user.present and use that to define your expectations.

[2017-08-29 17:45] MTecknology commented on #43231
This seems like a partial duplicate of #43233, which is a misuse of states. Why would you have a state to create a user and then a state to move the user instead of a state to create the user where you expect the user to be? Check out the documentation for user.present and notice the -home: option.

Also, the existing requisites (-watch) cover your request for "weak dependencies."

[2017-08-29 17:55] Ch3LL commented on #43153
@icycle77 thanks for clarifying that you can indeed comma separate that list with the yum. I think your initial thoughts might be the appropriate area to focus for the fix in regards to quoting. i'm able to replicate this issue and seems we will need to get this fixed. thanks

[2017-08-29 18:05] Ch3LL commented on #43157
okay that version looks correct. In the code it compares that version from that output to the output from the salt command `pkg.version <pkgname>` and since you are running amazon linux it should hit the yumpkg.py module which runs a `rpm -qa --queryformat` command to find the current version of the installed package. i'm guessing this might be where its grabbing the version incorrectly.

Can you

[2017-08-29 18:09] Ch3LL commented on #43224
thanks for the additional information

@twangboy do you have any ideas on this one?

[2017-08-29 18:29] varun292006 commented on #43216
Thanks a lot for trying that out.

Here is what I am trying to achieve:

I have a high available test environment with 2 masters (Master_A and Master_B) both are configured as "hot" (active-active) and 2 Windows minions (managed by these 2 masters)

Now, Master_A sends a command to a minion and as soon as the minion gets the command, Master_A goes down. Now, (correct me if I am wrong) the operatio

[2017-08-29 19:10] iavael commented on #42459
@gtmanfred our previous version was 2016.11.6

[2017-08-29 20:05] gtmanfred commented on #43233
If you wanted to submit a PR, we would love to have it.

Thanks for the request.
Daniel

[2017-08-29 20:06] gtmanfred commented on #43231
Have you checked out the `prereq` state req?

https://docs.saltstack.com/en/latest/ref/states/requisites.html#prereq

Daniel

[2017-08-29 20:08] twangboy commented on #43224
I'd be interested to see the results of `environ.get path` before and after...

[2017-08-29 20:10] gtmanfred commented on #43239
Can you update to 2017.7?

We made a lot of changes to spm in this release.  And I am wondering if this got fixed.

Thanks!
Daniel

[2017-08-29 20:11] gtmanfred commented on #43234
In the error output it says

[code]

So you will need to install the python requests library for this to work.

[2017-08-29 20:15] gtmanfred commented on #43241
@mirceaulinic are you working on a fix for this?

If not, I can submit one.

[code]

Thanks!
Daniel

[2017-08-29 20:39] dmurphy18 commented on #42604
@gzcwnk Can you retest if this issue still exists with the latest release of Salt 2017.7.1

[2017-08-29 20:39] dmurphy18 commented on #42715
@c0de123 Can you retest this issue with the release of the latest Salt 2017.7.1

[2017-08-29 20:42] dmurphy18 commented on #32564
Will update to ZeroMQ v4.0.8 from current v4.0.7

[2017-08-29 20:48] gtmanfred commented on #42459
Ok, i have replicated this working in 2016.11.6/7

And it is broken in 2017.7, so this is a regression and we will get it fixed.

Thanks!
Daniel

[2017-08-29 20:55] dmurphy18 commented on #42582
@asymetrixs Can this issue be closed since you have this working by hand and given that it does not use the Solaris 10 salt-minion provided by SaltStack.

FYI - we use a lot of OpenCSW to build the support for Salt on Solaris, and patch ssl_includes and ssl_libraries for python setup.py  to include use OpenCSW when building.

[2017-08-29 20:56] mirceaulinic commented on #43241
Thanks @gtmanfred - yes, that should probably fix it. I didn't prepare anything so solve this issue, I just noticed it and reported the bug. So if you already have a branch prepared, please go ahead and submit! :-)
Cheers!

[2017-08-29 20:56] gzcwnk commented on #42604
Hi,  Sorry but we moved the salt-master to another server and just upgraded this older one to the latest Sat software so there is no way I can replicate the environment.

[2017-08-29 20:59] dmurphy18 commented on #42656
@gzcwnk Issues with satellite scripts were fixed with the latest release of Salt 2017.7.1. Wondering if this release resolved this issue for you

[2017-08-29 21:01] dmurphy18 commented on #29581
@zmalone Wondering if this old issue can be closed, or if the problem is still be experienced with later releases of Salt, current version is 2017.7.1

[2017-08-29 21:02] #42604 closed

[2017-08-29 21:10] gtmanfred commented on #43240
I am unable to replicate this issue.

I am using redis server 3.2, and have used python-redis on centos 7.

[code]

the `load:<jid>` is the master `master_job_cache`, and the `ret:<jid>` is the minion `ext_job_cache`

Can you give me any more information to be able to replicate this?

Thanks,
Daniel

[2017-08-29 21:17] UtahDave commented on #42459
ZD 1723

[2017-08-29 22:09] mirceaulinic commented on #43242
Great. Thanks for clarifying this @rallytime.

[2017-08-29 22:09] #43242 closed

[2017-08-29 22:10] gtmanfred commented on #43246
By default, if you just list multiple masters, the salt-minion will connect to both and you can run your config commands from one, and your ceph infrastructure commands from the other.

just leave `master_type: str` and set the `master: []` to a list of masters to connect to.

[2017-08-29 22:10] #43246 closed

[2017-08-29 22:11] gtmanfred commented on #43241
Will do, thanks
Daniel

[2017-08-29 23:05] #8383 closed

[2017-08-30 01:24] jmhierro commented on #43234
Hello and thanks for the answers!
The package is installed on both servers.

Master:
root@salt-master-001:~# dpkg-query -l | grep python-requests
ii  python-requests                2.7.0-3                   all          elegant and simple HTTP library for Python2, built for human beings

Minion:
[root@ip-10-97-24-39 ~]# yum list | grep python-requests
Repository nodesource is listed more than once

[2017-08-30 02:25] gtmanfred commented on #43234
If you are using 2017.7 on the minion, you will need to use pip27 to
install requests using python.

We no longer support python 2.6. So we have packaged pip in python27-pip to
be used to install module python dependencies.
On Tue, Aug 29, 2017 at 7:24 PM Juan Martin Hierro <notifications@github.com>
wrote:

[2017-08-30 04:04] damon-atkins commented on #32564
From https://raw.githubusercontent.com/zeromq/zeromq4-1/master/NEWS
**0MQ version 4.1.6 stable, released on 2016/11/01**

* Fixed #2091 - testutil.hpp fails to build on Windows XP
* Fixed #2161 - messages dropped due to HWM race
* Fixed #1325 - alignment issue with zmq_msg_t causes SIGBUS on SPARC and ARM CPUs

[2017-08-30 04:10] damon-atkins commented on #32564
You can always package the latest if the API is compatible.  But in the RPM still only require a min version number.

You can also place Salt Supplied Libraries separate repo.
Or
For some platforms it would be good just to have a repo with just Salt Core in it.  I point my ARM system at the intel RHEL repo,  works find because it only pulls down the python code rpms, and pulls the rest from a diff

[2017-08-30 05:28] renzhengeek commented on #39184
I also get this warning on openSUSE 42.3 as root user. What I do is only installation and start salt-master service:

[code]

Don't know how to work around this warning, or just leave it alone?

[2017-08-30 06:00] #42582 closed

[2017-08-30 06:33] xuwn commented on #41573
@Ch3LL

[2017-08-30 06:33] xuwn commented on #41573
@Ch3LL

[2017-08-30 06:34] xuwn commented on #41573
@Ch3LL i have found the problem where cause this issure.

[2017-08-30 06:35] xuwn commented on #41573
@Ch3LL
i have found the problem where cause this issure.

[2017-08-30 06:37] xuwn commented on #41573
@Ch3LL
i have found the problem where cause this issure.

centos6.5
/etc/init.d/mysql.d:
modify mysqld like this:
`            if [ -x /usr/bin/mysql_ssl_rsa_setup -a ! -e "${datadir}/server-key.pem" ] ; then
                /usr/bin/mysql_ssl_rsa_setup --datadir="$datadir" --uid=mysql **>/dev/null 2>&1**`

[2017-08-30 06:37] xuwn commented on #41573
@Ch3LL
i have found the problem where cause this issure.

centos6.5
/etc/init.d/mysql.d:
modify mysqld like this:
`if [ -x /usr/bin/mysql_ssl_rsa_setup -a ! -e "${datadir}/server-key.pem" ] ; then /usr/bin/mysql_ssl_rsa_setup --datadir="$datadir" --uid=mysql >/dev/null 2>&1`

[2017-08-30 06:38] xuwn commented on #41573
@Ch3LL
i have found the problem where cause this issure.

centos6.5
/etc/init.d/mysqld:
modify mysqld:
`if [ -x /usr/bin/mysql_ssl_rsa_setup -a ! -e "${datadir}/server-key.pem" ] ; then /usr/bin/mysql_ssl_rsa_setup --datadir="$datadir" --uid=mysql >/dev/null 2>&1`

[2017-08-30 07:10] fzk-rec commented on #43240
Hi Daniel,
I got it to work by installing python-redis via **apt-get install python-redis** instead of **pip install python-redis**, and it worked out of the box. It looks like the pip python-redis module does not work currently with salt. Maybe you should mention that somewhere in the documentation :)

Thanks for looking into this so fast!

[2017-08-30 07:10] #43240 closed

[2017-08-30 08:46] c0de123 commented on #42715
It actually is fixed. Sorry for not telling you, the latest release fixed our issues on Debian Stretch hosts.
Thanks.

[2017-08-30 08:51] treba123 commented on #32591
I also just encountered the issue. I'm using tons of prereqs, but will try to create a test

[code]

[code]

[2017-08-30 09:13] maestropandy commented on #38692
@Ch3LL I have followed as you mentioned

my /etc/salt/master

[root@salt-master]# cat /srv/salt/nodes/zurich/slave.yml

After that restarted salt services, then I have tried

salt 2017.7.1 (Nitrogen)

May I know how shall i work on

[2017-08-30 09:18] maestropandy opened #43257 "salt '*' pillar.items - Failed to load ext_pillar reclass: ext_pillar.reclass:"
### salt '*' pillar.items - Failed to load ext_pillar reclass: ext_pillar.reclass:

### /etc/salt/master
reclass: &reclass
    inventory_base_uri: /srv/salt
   ext_pillar:
    - reclass: *reclass

###While running pillar.items below command getting error

 salt '*' pillar.items
master:
    ----------
    _errors:
        - Failed to load ext_pillar reclass: ext_pillar.reclass:
slave:
    ---------

[2017-08-30 09:51] mitar commented on #43231
@gtmanfred, I didn't know about this, but I do not think it works.

So if I have `top.sls` like this:

[code]

`srv-home.sls` can be something like:

[code]

And `add-users.sls`:

[code]

Now if I add to `user-mitar`:

[code]

I do not think this will work for `server2`.

[2017-08-30 10:05] nomeelnoj opened #43258 "metadata_server_grains problems"
### Description of Issue/Question

Previously I was using salt-contrib's ec2_info.py custom grains to pull in the AWS instance metadata, which we use a lot in our states.  It was recommended to me now that Nitrogen has been released to start using the metadata_server_grains: True as documented here: https://docs.saltstack.com/en/latest/ref/grains/all/salt.grains.metadata.html#module-salt.grains.me

[2017-08-30 10:29] neilashbysenior commented on #43246
great, thanks for the help and timely response

[2017-08-30 11:32] mahesh21 opened #43259 "NameError: global name '__opts__' is not defined"
### Command:

`salt-cloud virtualbox-test-vm1 -p virtualbox-test  --log-file=./salt.log --log-level=all --config-dir=./ -P`

### Error
`[INFO    ] Rendering deploy script: /Users/mahesh/.virtualenvs/myenv/lib/python2.7/site-packages/salt/cloud/deploy/bootstrap-salt.sh
Process Process-4:
Traceback (most recent call last):
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.

[2017-08-30 11:35] kunal-bajpai opened #43260 "external job cache fails to `save_load`"
### Description of Issue/Question
**Background**: When an external job cache is used, master generates a JID by using `prep_jid`. When the couchbase returner is used, this call should write a document with key JID to couchbase. This document is retrieved during a later call to `save_load` which saves the request load in the same doc. This `save_load` fails when the document with key JID is not alr

[2017-08-30 11:49] Robert-Grundstrom opened #43261 "pkg.installed version is not working."
### Description of Issue/Question
When using
pkg.installed
  - name: splunkforwarder
  - version: 6.5.0

I get an unwanted = sign in the packet name.
I noticed the same behavior on another packet that also had version x.x.x

The behavior is diffrent then #42821 so i thougt I report it. But it might be related?

### Setup

--- State ---
splunkforwarder:
  pkg.installed:
    - version: {{salt['pilla

[2017-08-30 11:56] varun292006 opened #43262 "Data loss in HA failover environment if 1 master goes down data is not sent to other master/external system by the minions"
### Description of Issue/Question
In a high available, failover environment if a command is issued from 1 master and while the minion is performing an operation, the first master goes down then minion doesn't send the return data to another master and the information is lost, which should be possible if the environment is high available and configured for failover.

### Setup
salt-2017.7.1 install

[2017-08-30 11:59] Robert-Grundstrom commented on #43261
Sorry, refrence to wrong ticket.
Not #42821
But #42275 instead.

[2017-08-30 12:12] varun292006 opened #43263 "Change of cachedir in multimaster setup results in error"
### Description of Issue/Question
I am having multi-master setup and I want cachedir to be in sync on both the masters. In order to achieve this I mount it over GlusterFS brick and change the path in master configuration file and restart master on first master and then on the other. After this I come back to first master and as soon as I execute the command I get the below error:
`Failed to authen

[2017-08-30 12:18] jdarnold commented on #43220
Okay, I added the very minor change in the PR and all seems good.

[2017-08-30 12:18] #43220 closed

[2017-08-30 12:52] Robert-Grundstrom commented on #43261
Minion is RHEL7

[2017-08-30 13:15] rallytime commented on #42715
Thanks for confirming @c0de123! I'll close this.

[2017-08-30 13:15] #42715 closed

[2017-08-30 13:23] nkrishnakishor commented on #43132
Thanks for the inputs @twangboy . I have copied the entire <b>win</b> directory under <b>srv/salt/windows/services</b> directory and modified master file to below

 **grep winrepo_dir /etc/salt/master
winrepo_dir: '/srv/salt/windows/services/win/repo'**

Even though i have changed it is not working.

**salt salt-minion1 pkg.install dlp
salt-minion1:
    ----------
    dlp:
        Unable to locate

[2017-08-30 13:38] nkrishnakishor commented on #43132
even tried changing the installer and uninstaller paths to **'salt://windows/services/win/repo/dlp/x64/dlp.msi'** in init.sls file but no luck.

[2017-08-30 13:48] DmitryKuzmenko commented on #42459
I've found the problem. I'll provide the fix tomorrow.

[2017-08-30 14:03] Ch3LL commented on #43257
@maestropandy do you have reclass python module installed?

[2017-08-30 14:31] gtmanfred commented on #43231
Then use prereq_in

https://docs.saltstack.com/en/latest/ref/states/requisites.html#direct-requisite-and-requisite-in-types

[code]

If you do a forloop to create the user.present states, you will need to do the same forloop for prereq_in.

[2017-08-30 15:05] #15026 closed

[2017-08-30 15:08] gtmanfred commented on #43258
thanks for opening the issue.

I have fixed the problems in this pr.

https://github.com/saltstack/salt/pull/43265

And also added rendering dictionaries in the data into actual dictionaries in the grains, instead of strings.

Thanks!
Daniel

[2017-08-30 15:25] evannadeau commented on #43224
## Before (24 hours since minion service restart)

[root@**redactedMasterName** **redactedUserName**]# salt "**redactedMinionName**" environ.get path
**redactedMinionName**:
    C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\salt;;c:\salt\bin\lib\site-packages\pywin32_system32;/bin;/sbin;/usr/bin;/usr/sbin;/usr/local/bin;c:\salt\bin\lib\site-

[2017-08-30 15:27] damon-atkins commented on #29132
From dmurphy18

Some additional thoughts
And if it in a private location prefix with `salt-` e.g. salt-python27 goes into /opt/saltstack/python27

[2017-08-30 15:35] gtmanfred commented on #43259
this needs to be updated to use `__utils__['cloud.bootstrap']`  And then opts will be available correctly.

[2017-08-30 15:37] gtmanfred commented on #43259
I have fixed this in #43266

[2017-08-30 15:43] brejoc opened #43267 "OSError - Can't delete PIDfile when not root"
### Description of Issue/Question

Stopping the `salt-master` with privilege dropping enabled shows a `OSError: [Errno 13] Permission denied` for the PIDfile in the logs. So the `salt-master` ist not able to remove the PID file from `/var/run`.

### Setup

SaltStack 2016.11.4 on openSUSE Leap 42.3. Same applies to at least SLES12 SP2.

### Steps to Reproduce Issue

1. Configure Salt to run e.g. as

[2017-08-30 15:54] brejoc commented on #43267
I would like to discuss this here. In a systemd context it would be perfectly fine to catch the error and just log it, since systemd is not relying on this PIDfile and just kills the processes in the cgroup. Using the `PIDFile=` setting in the systemd service file would remove the PIDfile, which would just be cosmetics at that point.

Other init-systems that rely on the PIDfile should also still b

[2017-08-30 16:19] gtmanfred commented on #43240
So, I am unable to replicate this with the pip package on the salt-master on ubuntu.

It works just fine.  I did have to restart the master so that the redis returner gets loaded correctly.

Daniel

[2017-08-30 16:49] Ch3LL commented on #43261
@Robert-Grundstrom is that package in a public facing repo? I was going to try to replicate the issue with that particular package.

[2017-08-30 16:50] #3120 closed

[2017-08-30 16:55] Ch3LL commented on #43262
@DmitryKuzmenko do you know if this should be working? Do we currently support sending the job back to a different master mid job if initial master goes down during execution of job? Or is this something we would need to add?

[2017-08-30 17:08] Ch3LL commented on #43263
@varun292006 cache concurrency between masters is not supported and we do not have plans going forward to add this functionality

[2017-08-30 17:08] #43263 closed

[2017-08-30 17:19] twangboy opened #43272 "Add an `apply all updates` type option to the win_wua state"
### Description of Issue/Question
Add the ability to just apply all updates via a state
As of now, the only option is to use something like this (new behavior of `module.run`):
[code]

This is a feature request:

[2017-08-30 17:36] UtahDave commented on #43224
How did you install Salt?  Did you use the official installer from https://repo.saltstack.com/#windows or did you install manually?

[2017-08-30 17:41] evannadeau commented on #43224
Yes, the official repo was used for the install.

This problem was occurring with the 2016.11.3 version, and was updated to .5 hoping it would resolve the issue, but no luck.  I'd be happy to remove and re-install the minion again if there are some things you feel I could cleanup on the system to help resolve this issue.

[2017-08-30 18:26] Ch3LL commented on #43267
looks like i'm able to replicate this just running `salt-master -ldebug` in the foreground and select Ctrl+C to kill the instance.

I do see the pid with teh salt perms (`-rw-r--r--  1 salt salt    4 Aug 30 18:16 salt-master.pid`) but the run dir is writable only by root. If i change `pidfile: /var/run/salt/salt-master.pid` it does work though as a workaround.

ping @s0undt3ch do you have any idea

[2017-08-30 18:33] kunal-bajpai commented on #42661
PR merged

[2017-08-30 18:33] #42661 closed

[2017-08-30 18:37] moench-tegeder commented on #42979
I have to agree that I'm a little surprised at the loss of saltstack's "optional" functionality in Redhat/CentOS 6 based systems. Perhaps the remark in the release notes could be put in some stronger words? It's not only the mysql (and some other databases) states (just checking :depends: tags), but also e.g. x509 (requires M2Crypto and about the whole schedule subsystem (without dateutil and/or c

[2017-08-30 18:45] Robert-Grundstrom commented on #43261
https://en.wikipedia.org/wiki/Splunk

https://www.splunk.com/

Not sure about if its avaible out of the box tho. Ill check.

[2017-08-30 18:46] evannadeau commented on #43224
It seems as though this path environment variable continually grows over time.  Since my post above, it has grown to this size.

 C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\salt;;c:\salt\bin\lib\site-packages\pywin32_system32;/bin;/sbin;/usr/bin;/usr/sbin;/usr/local/bin;c:\salt\bin\lib\site-packages\pywin32_system32;c:\salt\bin\lib\site-p

[2017-08-30 18:50] #15044 closed

[2017-08-30 18:54] Robert-Grundstrom commented on #43261
Seems like it is a product that needs to be downloaded of there website.
We have our own custom repo for this tho. But the packet names are still the same.

I did how ever have another product (I think) having the same issue . Don't remember witch one right now tho. I can check it out at work tomorrow.

[2017-08-30 19:26] Ch3LL commented on #43261
yeah that would be great. If we can easily replicate it on our side of things that would make it a lot easier.

[2017-08-30 19:39] jeffdyke opened #43275 "config files with jinja template special characters will fail"
### Description of Issue/Question
I'm not positive if much can be done about this or if something is already in place, but i am building a state to install suricata for my environment and their yaml config has examples that use the syntax `{%` for format variables, but i'm also trying to configure this using jinja templating, but only using `{{` syntax, no control flow statements. Luckily there ar

[2017-08-30 19:44] Ch3LL commented on #42979
Thank you for laying out your concerns guys.
One way to handle these additional dependencies is using `pip2.7 install < package > ` as well or the `pip.installed` state. Is that not working as well or maybe lay out why this approach is not vaiable? I believe you will first need to install the python2.7-pip package first. (i'm not entirely positive the exact name of the package)

I can definitely u

[2017-08-30 19:58] Ch3LL commented on #39184
as @F30 described this is not harmful. This means you are running salt as a different user other then root. Check your config for `user: <username>` possibly.

There is also a PR to improve this error handling to only log as info instead of warning  here https://github.com/saltstack/salt/pull/39504

what version of salt are you using?

[2017-08-30 20:09] #42935 closed

[2017-08-30 20:09] moench-tegeder commented on #42979
Ah, there's a python27-pip, completely missed that package. Thanks a lot.
Perhaps that's the thing to mention in the release notes, somewhat along the lines of "Additional python modules required for some functionality can be installed via pip2.7 (package python-pip27)".  I was already collecting stuff from setuptools upwards...

This should be good as a workaround - I'm not planning on keeping th

[2017-08-30 20:24] dmurphy18 commented on #29132
@damon-atkins There was work to create salt-python-crypto and salt-python-tornado back in the 2015.8 branch but it never got the full time it deserved and it has withered on the vine. The largest problem is lack of time, since as soon as you think you have some spare to work on it a CVE comes along, similar to that with 2017.7.1, 2016.11.7 and 2016.3.7.  Had been thinking of following the IUS mode

[2017-08-30 21:30] Ch3LL commented on #43261
I actually just found this https://github.com/saltstack/salt/pull/42808 which fixes this https://github.com/saltstack/salt/issues/42774

could be directly related to your use case if you want to give that fix a try

[2017-08-30 22:02] s0undt3ch commented on #43267
Ideally, before dropping privileges, salt should make sure it can write/delete the pidfile. Doesn't `verify_env` take care of this already(stopped working?)?

[2017-08-30 23:09] twangboy commented on #43224
@evannadeau Could you post the contents of the file:
[code]

[2017-08-31 00:51] aaronm-cloudtek commented on #42490
I think you missed my last comment? This is still marked as blocked?

[2017-08-31 01:40] gtmanfred commented on #42490
Sorry, I did, I have started the email and I will check this tomorrow.

[2017-08-31 02:01] mahesh21 commented on #43259
After this merge I am getting this error.

Traceback (most recent call last):
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/multiprocessing/process.py", line 258, in _bootstrap
    self.run()
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/multiprocessing/process.py", line 114, in run
    self._target(*self._args, **self._kwargs)
  Fi

[2017-08-31 02:03] renzhengeek commented on #39184
But, I do start salt-master.service with root user.
The config in /etc/salt/master:
[code]
a19:~ # salt --version
salt 2016.11.4 (Carbon)

For me, it's enough to know it doesn't matter. Thanks a lot.

[2017-08-31 02:24] daveneeley commented on #43239
We're running redhat 6 and last time we attempted that, yum was broken by the python version upgrade.

[2017-08-31 02:40] gtmanfred commented on #43259
That will be fixed by https://github.com/saltstack/salt/pull/43278

Thanks!
Daniel

[2017-08-31 03:10] liuhetongzi opened #43279 "how can i create user without create it self group"
### Description of Issue/Question
When I use user module to create user，it create it self group，I do not want the group。for example，i create user tests，it belong to testss group，but i do not want to create tests group。Thank you。。
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
{% set user = pillar.get('users') %}
{% set group = pillar.get('group') %

[2017-08-31 03:38] damon-atkins commented on #32831
Can auto detect/scan available version of a software from http/https/ftp/salt://

[2017-08-31 04:06] twangboy commented on #43132
You didn't specify a minion version in your version report, but since your master is 2017.7, I would assume your minion is as well. In that case, you should be using `winrepo_dir_ng` instead of `winrepo_dir` as specified in the Note in the docs link above. This changed in 2015.8. We should probably update the docs to show the new config names and make the note show the older.... (need to create an

[2017-08-31 05:38] maestropandy commented on #43257
@Ch3LL , I have installed reclass as per "http://reclass.pantsfullofunix.net/install.html" where installed from source "http://reclass.pantsfullofunix.net/install.html#from-source" and ran "
"python setup.py install"

[2017-08-31 05:42] maestropandy commented on #43257
@Ch3LL after

git clone https://github.com/madduck/reclass.git
cd reclass
python setup.py install --prefix=/usr/local

Not able to find file "reclass-config.yml" ,may i know where this will be located ? searched in reclass directory as well

[2017-08-31 05:43] maestropandy commented on #43257
@Ch3LL  found that reclass config under "/usr/share/doc/reclass/examples/salt/reclass-config.yml"

[2017-08-31 05:55] maestropandy commented on #43257
but after entering data into reclass-config.yml, still getting same error

[2017-08-31 06:09] Robert-Grundstrom commented on #43261
Seems like you are correct. Then this issue shuld be resolved with 2017.7.2
Do you know when 2017.7.2 will be released?

[2017-08-31 06:23] kunal-bajpai commented on #43260
@gtmanfred can you help triage this?

[2017-08-31 06:25] Robert-Grundstrom commented on #43261
The other packet I was having the same problem with is a custom one. So that wont help you, sorry :/
But its not the same as the one mentioned in this ticket.

[2017-08-31 07:29] fzk-rec commented on #43240
Mhh, maybe something was wrong with docker container then? I don't know.

[2017-08-31 08:21] brejoc commented on #43267
@Ch3LL This is a very good workaround! Thanks!

@s0undt3ch Salt already sets the permissions and ownership for the PIDfile. But we can't change the permission for `/var/run` or `/run` which prevent the deletion for non-root users. Changing the permissions would have security implications. So I think there is really nothing Salt can do about this as long as the PIDfile is in the run-folder itself.

[2017-08-31 08:30] brejoc commented on #43212
Sorry @Ch3LL, looks like I have made a mistake here. `install_time` can be `"(none)"` instead of `None`. This issue needs to be re-opened again.

[2017-08-31 09:00] s0undt3ch commented on #43267
Dam! Sorry, I read the path under `/var/run/salt` from @Ch3LL and forgot about the default salt uses. Yeah, we can't change permissions on `/var/run/`... I wonder why we didn't hear about this sooner.

Perhaps, if not running as root default to `/var/run/salt`? Or simply make this the new default?

[2017-08-31 09:41] brejoc commented on #43267
Making `/var/run/salt` the default would probably be a good idea. But right now the permissions with Salt 2016.114. on openSUSE 42.3 would look like this: `drwxr-x---  4 root   salt     80 Aug 31 11:23 salt`

So we would have to change that too in order to allow the user `salt` to delete the PIDfile.

[2017-08-31 11:16] arthurlogilab opened #43282 "[states] file.serialize displays Result: False but seems to be OK (diff, but fails on owner)"
### Steps to Reproduce Issue

* Deploy a file with file.serialize
* add user/group that don't exist
* see the state return a False and displayed in red

![screenshot from 2017-08-31 13-15-53](https://user-images.githubusercontent.com/445200/29920629-8c45e8f2-8e4e-11e7-9de5-ddc7c8594d0b.png)

* change something in the dictionary
* see the state as an error, but a nice green diff and no mention of t

[2017-08-31 12:18] kunal-bajpai commented on #43260
On further discussion, we've realised that calling the ext_job_cache's prep_jid can cause a JID collision and that is perhaps why there is just one call made to master_job_cache here. But this means that the contract between save_load and prep_jid wherein the latter must be called before the former is flawed because it would never work with the ext_job_cache.

Your thoughts?

[2017-08-31 13:27] Ch3LL commented on #43260
@gtmanfred might be able to correct me but I thought master_job_cache (master side) was the only one that was suppose to use the prep_jid method within returners. So i think the issue might be within the returner's prep_id and save_load method itself, but my knowledge is a little fuzzy in this area.

[2017-08-31 13:29] Ch3LL commented on #43275
I think this is what your looking for [here](https://docs.saltstack.com/en/latest/topics/jinja/index.html#escaping-jinja)

[2017-08-31 13:38] Ch3LL commented on #43267
In our documentation [here](https://docs.saltstack.com/en/latest/ref/configuration/nonroot.html) we actually already layout the requirement to add the user as owner to /var/run/salt if running as a different user. Would that suffice?

[2017-08-31 13:48] Ch3LL commented on #43257
when you state your still getting the same error do you mean the can't find reclass-config.yml error or the initial error reported?

This website here: http://reclass.pantsfullofunix.net/salt.html has a great tutorial on how to get this all setup.

[2017-08-31 14:14] Ch3LL commented on #43261
Awesome! For 7.2 I think we are a couple weeks out for release. In the meantime you can use this method documented [here](https://docs.saltstack.com/en/latest/ref/states/writing.html#using-custom-state-modules) to apply the patch to your minions easily. Essentially you will add the patched version of hte module to _states directory in your file roots and run `salt '*' saltutil.sync_states`

[2017-08-31 14:14] #43261 closed

[2017-08-31 14:31] evannadeau commented on #43224
Here you go.

# .pth file for the PyWin32 extensions
win32
win32\lib
Pythonwin
import os;os.environ["PATH"]+=(';'+os.path.join(sitedir,"pywin32_system32"))

[2017-08-31 14:40] nkrishnakishor commented on #43132
it did not work even though i have changed.
 Windows minion is also running with same version

[2017-08-31 14:52] zerthimon commented on #16687
+1
I really need this functionality:
[code]

[2017-08-31 15:05] hristozv commented on #42728
What about using:
deploy_cloud_map:
  salt.runner:
    - name: cloud.map_run
    - path: /etc/salt/cloud.maps.d/my_cloud_map.yml
    - kwarg:
         parallel: True

It seems working correctly this way.

[2017-08-31 15:06] gtmanfred commented on #43279
By setting groups: you are setting the extra groups the user is in, not the primary group.

You will want to use the gid, which will set the primary group of the user.

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.user.html#salt.states.user.present

[code]

Thanks,
Daniel

[2017-08-31 15:06] #43279 closed

[2017-08-31 15:07] gtmanfred commented on #42728
yes! that should work!

[2017-08-31 15:09] gtmanfred commented on #42728
@hristozv would you mind opening a PR to add that to the documentation?

Thanks,
Daniel

[2017-08-31 15:13] vavrfam opened #43284 "salt-run job exit_success does not error out if minion is down"
We are using Rest_Cherrypy and using local_async on client to schedule  jobs asynchronously.

When the job is scheduled and running, if a minion goes down, salt-run jobs.exit_success returns false, which could be interpreted as job is running on minion. Our polling task that checks if the scheduled job is done, never reports back as minion down or throws error.

Master should be able to detect tha

[2017-08-31 15:19] gtmanfred commented on #43239
Have you tried 2017.7.1?

We found a few packages that we conflicted with in the .0 repo, but they should all be fixed in 2017.7.1

We would really appreciate it if you opened an issue on https://github.com/saltstack/salt-pack with the output of yum if it breaks on your setup.

Thanks,
Daniel

[2017-08-31 15:21] gtmanfred commented on #43260
My understanding is that prep_jid should only ever be used from the master, unless you are running a masterless minion, then it comes from the "master" inside the masterless minion.

The minion returner should already have a jid assigned to the job it is running and returning on.

@saltstack/team-core is this correct or are we missing something?

Thanks,
Daniel

[2017-08-31 15:25] gtmanfred commented on #43284
I don't think this is very feasible to keep track of all jobs if the minion just shutsdown and disconnects without returning.

The easiest way to get around this is if `jobs.exit_success` is false, you could call the minion with the `saltutils.find_job` and if the minion does not have the job, you can assume that it failed in returning or shutdown and lost the job.

Thanks,
Daniel

[2017-08-31 15:33] gtmanfred commented on #43239
I have replicated this on 2017.7.1

@techhat do you have any pointers on what might be going on here?

Thanks,
Daniel

[2017-08-31 15:34] RobotLimeLtd opened #43285 "Support local user install of Ruby Gems"
salt.states.gem should support the --user-install option, which installs gems under ~/.gem

e.g.
[code]

Would be the equivalent of Bob running:

`gem install --user-install fpm`

This allows Salt to install gems for a particular user without interfering with the system Ruby installation or worrying about permissions.

Note:  for this to work for Bob, he/she would need to have the following in the

[2017-08-31 15:43] jeffdyke commented on #43275
👍 thanks, my mind was too deep into other things to see the obviious :(

[2017-08-31 15:43] #43275 closed

[2017-08-31 15:48] twangboy commented on #43132
After those settings what does the following command show: `salt <minion> cp.list_master`

[2017-08-31 15:49] twangboy commented on #43132
The above command shows that the minion is able to see...

[2017-08-31 15:49] gtmanfred commented on #43285
This would be great.  I am marking it as a Feature Request.

Would you mind submitting a PR for this?

Thanks,
Daniel

[2017-08-31 15:50] #12216 closed

[2017-08-31 15:52] twangboy commented on #43224
Can you look in the system event log and see if the salt-minion service has been restarting multiple times? How often is it occurring? If it is, could you send the minion log file `c:\salt\var\log\salt\minion`

[2017-08-31 15:53] gtmanfred commented on #13202
Looks like this was implemented in #17291

[2017-08-31 15:53] #13202 closed

[2017-08-31 16:08] kunal-bajpai commented on #43260
@gtmanfred prep_jid should be called at the master, agreed. But consider when the master_job_cache is local_cache and ext_job_cache is couchbase. 'couchbase.prep_jid' is not being called at the master, so the doc with key JID is missing in couchbase. This is causing couchbase.save_load to fail since it relies on the presence of the doc written by prep_jid.

[2017-08-31 16:11] evannadeau commented on #43224
AHA!!!!!!  Someone was running a state.apply on several machines every 5 minutes, this one included.

So, although I can stop this problem from occurring every 12-24 hours, this could still be a problem for windows machines if a state is being applied every day, or some other frequent amount.  I guess the question is, why is the "path" variable in memory of the minion add that variable in the pywi

[2017-08-31 16:22] twangboy commented on #43224
What state is being applied?
I would like to try to replicate this so we can get it fixed.

[2017-08-31 16:29] gtmanfred commented on #43260
So, looking at the other returners, they `prep_jid` just generates a jid
and returns it, and doesn't actually do anything with touching the database.

What I would do is if the jid object doesn't exist when doing save_load,
you should just move the add() stuff over to the save_load function

For example the postgres returner just returns a unique jid.

https://github.com/saltstack/salt/blob/2017.7

[2017-08-31 16:30] evannadeau commented on #43224
Here is what happens every five minutes from the log file.  Hope that is the info you need.

[state.apply.txt](https://github.com/saltstack/salt/files/1267797/state.apply.txt)

[2017-08-31 16:54] gtmanfred commented on #42490
Hrm, I am unable to replicate this.

You are still able to consistently replicate this issue?

Can you provide the master config file?

Thanks,
Daniel

[2017-08-31 17:01] gtmanfred commented on #43282
Yup, that would be good.

:+1:

This is caused in the `file.manage_file` module.

https://github.com/saltstack/salt/blob/2017.7/salt/modules/file.py#L4910

If there are changes assigned, then it will overwrite whatever the comment is.

and since the file was updated with changes, then the wrong comment was added.

Thanks,
Daniel

[2017-08-31 17:04] V3XATI0N opened #43286 "No cached grains for downstream syndic masters"
### Description of Issue/Question
My environment has a primary master and 3 syndics connected to it. All 4 of the masters have minions connected directly to them, but minions are not set up to connect to multiple masters (each minion only uses one master). The syndic masters themselves are running local minions, which are configured to report to "localhost".

From the primary master, I have full a

[2017-08-31 17:08] rcallphin opened #43287 "Grains insecure for targeting sensitive data"
### Description of Issue/Question

This is in regards to  the new Hashicorp Vault module introduced in 2017.7.1

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.vault.html

Unless I am missing something the example:
"If a template contains a grain which evaluates to a list, it will be expanded into multiple policies. For example, given the template saltstack/by-role/{grains[roles

[2017-08-31 17:17] gtmanfred commented on #43287
That is a great idea!

I have implemented it in #43288

Thanks,
Daniel

[2017-08-31 17:25] twangboy commented on #43224
If you restart the minion, get the path, apply the state, and get the path again does the path change?

[2017-08-31 17:28] cholcombe973 commented on #40044
I ran into this also on supermicro hardware with ubuntu xenial.  rhel 7.2 on the same hardware worked fine though.

[2017-08-31 17:33] twangboy commented on #43224
Do you have access to the full state that is being applied? Could you post it (sanitized)?

[2017-08-31 18:23] rcallphin commented on #43287
@gtmanfred Thanks for the quick response. That PR would be a great addition. Any chance this could be considered for a dot release for 2017.7? I'd rather not use dynamic-modules dir

In my mind only having support for grains is a "bug" in the module.  The documentation suggests using saltstack/by-role/{grains[roles]} to target secret data within Vault which opens up a security hole with a minion a

[2017-08-31 18:25] lordcirth commented on #29592
What precisely is the desired behaviour?  That the entries should be listed in the precise order written in the YAML?

[2017-08-31 18:33] gtmanfred commented on #43287
It implements new functionality, so it is a Feature imho

[2017-08-31 18:35] lehicaldwell commented on #41451
This is still broken. I've specified the os_disk_size, and it continues to attempt to re-size the drive.

[root@localhost salt]# cat cloud.profiles
centos7:
  provider: test_azure_config
  image: RedHat|RHEL|7.3|7.3.2017081120
  size: Basic_A3
  location: eastus
  ssh_username: testing
  ssh_password: <secret>
  os_disk_size: 34359738880
  minion:
    master: mymaster.mycompany.com

[root@localhos

[2017-08-31 18:36] carlpett commented on #43287
Hi @rcallphin,
As I explain in comments on the PR, the reason that this is not already a part of the functionality is that it causes infinite recursion when pillars have values taken from Vault. I could not figure out a way to get around this when implementing the original module, but maybe there are ways.

[2017-08-31 18:39] carlpett commented on #43287
But please note that I completely agree agree that it is sub-optimal. However, then implementation that was merged previous to mine simply exposed the entire vault to every minion without any checks at all.

[2017-08-31 18:42] gtmanfred commented on #43287
That makes sense, the only way we could get around it would be to be able to strip the sdb + vault stuff from the pillars, which isn't going to be easy.

I have closed that PR.  I am going to leave this as a feature request.

Thanks @carlpett

[2017-08-31 18:42] ooboyle opened #43289 "Tracebacks from running pkg.refresh_db on W2K3 minions"
Hello,

When i run:
root@001-vl-salt01:~# salt atldc2 pkg.refresh_db

on 2015.8.12 minions installed on Windows 2003 servers, I get the following tracebacks:

atldc2:
    The minion function caused an exception: Traceback (most recent call last):
      File "c:\salt\bin\lib\site-packages\salt\minion.py", line 1079, in _thread_return
        return_data = func(*args, **kwargs)
      File "c:\salt\b

[2017-08-31 18:50] carlpett commented on #43287
@rcallphin To think a bit differently, could we store the targeting within Vault itself somehow?

[2017-08-31 18:54] abednarik commented on #29592
Hi  @lordcirth

 The order should be

[code]

Where fqdn is the fully qualified domain name, basically the hostname + domain. Simple example:

ServerName: web1
Domain: company.com
Aliases: web1, web1-app, app1
IP: 192.168.23.44

[code]

I didn't review this is a long time, but looks like every entry in *hostnames* is a dictionary and entries there are added without proper order, just like a python

[2017-08-31 18:56] choopooly commented on #29592
@lordcirth I'm not sure what would be the best solution. The order would work fine if that's documented
Another option would be to add fqdn as another parameter of `host.present` so it's forced to add fqdn before any alias.

[code]

[2017-08-31 18:57] talktosaswat commented on #43071
I think I had issues on Centos  for installing Azure SDK.  I will try it again on a Ubuntu VM. It seems Azure SDK works fine on Ubuntu without many errors. For now  I am resolving this issue.

[2017-08-31 18:57] #43071 closed

[2017-08-31 19:03] lordcirth commented on #29592
So I understand that "IP        FQDN  Alias1 Alias2" is correct, the question is how to determine that based on user input.  My personal inclination would be an 'fqdn' field as @choopooly mentions, but that requires a new argument for people to learn.  I'm not a fan of using the ordering, though it would be an invisible change; IMHO the behaviour of such a simple state should be obvious by reading

[2017-08-31 19:03] rcallphin commented on #43287
@carlpett Good call on the PR, that makes a lot of sense.

I was just thinking through how we could move the targeting to Vault. In the 0.8.0 release (https://www.hashicorp.com/blog/vault-0-8/#entities-and-multi-factor-authentication), Hashicorp introduced this concept of Vault being aware of identities and entities that can then be scoped to specific policies. I know that there is a lot more comi

[2017-08-31 19:17] gtmanfred commented on #43286
I think this might actually be the correct behavior.

[code]

The syndic only works one way, it pushes information down to the minions to run commands, and then the ret data gets returned back.

The minions attached to the syndic are not attached to the master of masters, so I am not sure that it would cache the grains data of those minions.

Yeah, i just double checked, and this is behaving corre

[2017-08-31 19:21] abednarik commented on #29592
The extra option can be optional. I really like that or you can try to check for dots in hostnames, but is a bit hacky, you can also search in hostnames for the current hostname + domain in that list, still hacky.
Like I always say, there is no tool to fix human issues :) You can create some complex logic to try to determine which is the best entry to use as FQDN, which will work in simple cases,

[2017-08-31 19:22] gtmanfred commented on #43289
Unfortunately, 2015.8 has been end of lifed.

And we no longer support Windows Server 2003, because Microsoft has ended support on it as well.

If you experience this issue with newer versions, we can take a look.

Thanks,
Daniel

[2017-08-31 19:22] #43289 closed

[2017-08-31 19:27] rallytime commented on #43223
There is actually a larger issue here that needs to be resolved first, before this deprecation can be handled completely. Here's the deal:

The `describe_route_table` (uses boto) was marked for deprecation in #31726 in favor of `describe_route_tables` (uses boto3). However, not all of the references to `describe_route_table` were updated to handle the new function. The return from `describe_route_

[2017-08-31 19:28] lordcirth commented on #2896
From Wikipedia: "Two additional sigil characters are reserved in YAML for possible future standardisation: the at sign (@) and accent grave (`)."

So yes, the @ sign is being stripped.  I'm not sure that some code to recognize strings that should have @ signs is needed, that sounds clunky.  I think a documentation change to remind the user to use quotes would be sufficient.

[2017-08-31 19:33] lordcirth commented on #13192
I see there's a commit on this; any progress?

[2017-08-31 19:34] lordcirth commented on #13756
https://github.com/saltstack/salt/issues/7923 covers passing arbitrary options to package managers like this.

[2017-08-31 19:41] lordcirth commented on #18180
So what is the plan for this?  Allow both and convert internally?  Issue a deprecation warning?

[2017-08-31 19:43] ball-hayden commented on #36556
Sorry to bump - I'm still seeing this issue after installing influxdb-python (4.1.0) with salt 2017.7.1

[2017-08-31 19:47] lordcirth commented on #19962
Where are we at with this?  I think the referenced docs may have changed, as I don't see a reference to using 'at'.

[2017-08-31 19:48] reyescameron17 opened #43291 "firewalld state function unexpected behavior"
### Description of Issue/Question
Using firewalld.present with a single port, the salt output shows multiple unnamed services being removed permanently from firewalld rules, most importantly removing ssh from the rules.
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
[code]

### Steps to Reproduce Issue
I simply ran salt-call --local -l info state.a

[2017-08-31 19:53] brejoc commented on #43267
Since Salt is creating the folder `/var/run/salt` itself, shouldn't it be responsible for setting the ownership and permissions needed in that case? It should be enough to grant write permissions to the salt group.

[2017-08-31 20:10] doesitblend opened #43292 "Add "require any" requisite"
### Description of Issue/Question
It would be great to have a `requisite_any`. This new requisite statement would function similar to a `require` except that it would use boolean OR logic instead of AND.
Essentially ANY one or more of the listed requisites completing successfully would satisfy this requisite.

[code]

[2017-08-31 20:13] ccoughle opened #43293 "Issue with top_file_merging_strategy same"
### Description of Issue/Question

We have about 10 different environments set for the machines we manage.  File roots look like this:

[code]

our merge strategy is set to same.  Environments are configured on the minions in minion.d
This works well for us, allow shared states between environments along with isolation of environments.  However, we had an issue where the environments specified on

[2017-08-31 20:22] ccoughle commented on #43293
I should also note that the topfiles for each environment only target files within that environment's file roots.
So,,

the base top only contains one top level env,
base:
  '*':
    - state-one

The top file for env1 would look something like

env1:
  '*':
    - state-one
    - state-two
    - state-three

No more than an single env is specified inside an env's top file

[2017-08-31 20:27] V3XATI0N opened #43295 "salt.cache.redis_cache does not actually work."
According to [this page](https://docs.saltstack.com/en/latest/ref/cache/all/salt.cache.redis_cache.html#module-salt.cache.redis_cache), I should be able use a redis server to store the minion data cache in order to share it between different masters. But... it doesn't actually work. The docs page helpfully does not actually include a complete configuration example because who needs to be thorough,

[2017-08-31 20:29] UtahDave commented on #43292
ZD 1724

[2017-08-31 20:47] V3XATI0N commented on #43295
ETA:
After vi-ing my way around the site-packages/salt/cache directory, I found what may have been more information in `redis_cache.py`, which shows the configuration example:

[code]
I thought "thank jesus, my prayers have been answered", and immediately fixed my master configuration to match this format. But it did not help (sad face). The error remains exactly the same. Salt keeps trying to fin

[2017-08-31 21:15] reyescameron17 commented on #43291
Forgot to mention:
[code]

[2017-08-31 21:27] techhat commented on #43239
Well, there's plenty of `INSERT`s in `salt/spm/pkgdb/sqlite3.py`, but no `UPDATE`s.

[2017-08-31 22:34] aaronm-cloudtek commented on #42490
Yes, I started having this issue after a system update a few months ago and it's been consistent since. I'm on a rolling release distro, maybe an updated dependency broke something?

Master config:
[code]

The minion process on the same machine works fine.

[2017-08-31 22:40] gtmanfred commented on #42490
Hrm.  I wonder if it is a bug in the new zeromq on Arch.

I will test that in the morning.

Thanks!
Daniel

On Thu, Aug 31, 2017 at 4:34 PM, Aaron Miller <notifications@github.com>
wrote:

[2017-08-31 22:43] gtmanfred commented on #43295
The cache name should just be `redis`

[code]

https://github.com/saltstack/salt/blob/2017.7/salt/cache/redis_cache.py#L116

Can you try that?

Thanks,
Daniel

[2017-08-31 22:44] gtmanfred commented on #43291
This is a duplicate of this issue

https://github.com/saltstack/salt/issues/41075

[2017-08-31 22:44] #43291 closed

[2017-08-31 22:45] gtmanfred commented on #43292
This would be awesome to have.

Thanks for the request,
Daniel

[2017-08-31 22:52] V3XATI0N commented on #43295
yes. with `cache: redis`, the trace-level log produces:
[code]

[2017-08-31 23:39] #8341 closed

[2017-08-31 23:39] #6580 closed

[2017-09-01 01:54] damon-atkins commented on #43287
Not across how the keys section of minion work (ssh-key). Why not put secure grains inside the key which is (I assume) signed.

[2017-09-01 01:57] sumeetisp commented on #41451
The disk size is in GB. The number u mentioned is very huge. Try using
something small like 40 or 50 GB

On Sep 1, 2017 00:05, "lehicaldwell" <notifications@github.com> wrote:

[2017-09-01 02:01] liuhetongzi commented on #43279
Thank you very much，It works。

[2017-09-01 02:35] gtmanfred commented on #43295
Do you have the redis python module installed?

Thanks,
Daniel

2017-08-31 16:52 GMT-06:00 V3XATI0N <notifications@github.com>:

[2017-09-01 02:50] V3XATI0N commented on #43295
Yes, and I used the appropriate verison of pip to get it installed. I admit I don't know more than the very basics of Python, but why would it say this:
[code]
when I am not invoking the Consul cache anywhere? Shouldn't it leave the Consul stuff alone and load the redis module? I did install pyconsul anyway in case there's some dependency somewhere, but that didn't help, either.

[2017-09-01 06:42] nilliams commented on #36556
@ball-hayden Which OS distribution and version are you using? (As it seems system dependent from our discussion above).

[2017-09-01 07:25] maestropandy commented on #43257
@Ch3LL it was rectified, I have mentioned /etc/salt in master config and yml under /srv/salt.

Next question is, I want to know how to create classes, parameters, some syntax if there mean please share.

I want to install apache on minion and change it default port using reclass

[2017-09-01 07:38] hristozv commented on #28246
What about using the orchestration to run salt cloud? For the above you can use orchestration state like the following:
[code]

After that just configure your reactor to watch for event with tag contoso/cloud/map/quartz-prod/completed.

[2017-09-01 07:43] varun292006 opened #43305 "Unable to connect to multiple database servers in-order to fetch the data"
### Description of Issue/Question
Unable to connect to multiple database servers in-order to fetch the data as host, user, password and port number should already be defined in minion configuration file.

### Setup
Salt-2017.7.1 installation with multiple masters, HA setup, 2 minions and 1 external system to store logs using mysql returner.

**_master configuration:_**
`ext_job_cache: mysql`

**_m

[2017-09-01 08:27] marek-knappe opened #43307 "Filesystem creation is failing on newly created LV"
### Description of Issue/Question
The salt is failing when formatting empty lv/vg
Look at the logs below will tell you more than description :)

### Setup
[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

[code]

commands from the system:
[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minio

[2017-09-01 08:57] carlpett commented on #43287
@damon-atkins Hm, how do you mean inside the key? It seems like an interesting idea. I already use the key for signing token requests to the master (since the publish interface does not expose which minion sent the command), so perhaps this is not so far away.

[2017-09-01 09:45] lyddragon opened #43308 "Unable to manage file: Jinja variable 'dict object' has no attribute"
## Env:
[code]
## Pillar:
[code]

## Salt: zookeeper_configure.sls
[code]

### log4j.properties
[code]

## run
[code]
## Result:
[code]

## Retry Result:
[code]

[2017-09-01 09:51] MatthiasKuehneEllerhold opened #43309 "user.present fails on Mac OS 10.12"
### Description of Issue/Question
I was trying to add a user (and its group) to a Mac OS machine. `user.present` and `group.present` failed via salt-ssh.

I could fix the `group.present` part by overriding the group-provider (see below at SSH-Roster), but that didnt work for the user module.

### Setup
zabbix-agent.sls:
[code]

salt-ssh roster
[code]

### Steps to Reproduce Issue
1. Use the given

[2017-09-01 11:01] shallot opened #43310 "salt-cloud ec2 profile network_interfaces parsing way too fragile"
Hi,

As it happens I was editing my ec2 profile configuration and happened to type:

[code]

However, this generated the following sequence of events:

[code]

Only after a proofreading of https://docs.saltstack.com/en/latest/topics/cloud/aws.html#cloud-profiles did I notice that my capitalization was off and that my subnet ID setting was being ignored.

Please fix this parser by making it either

[2017-09-01 12:31] damon-atkins commented on #43287
e.g. made up example.
[code]
As the master has a copy of the it accepted/signed.

[2017-09-01 12:36] carlpett commented on #43287
That seems very useful! Never seen this before. What are the requirements on the key generation to stick those pairs in there?

[2017-09-01 12:42] damon-atkins commented on #43287
If Salt is using X.509 Certificates it should be simple to do. For example

Master Signs X.509 Certificate, and sends it to the client to use for future authentication. Every time the client authenticates its also sending the "secure grains/tags"

[2017-09-01 12:45] carlpett commented on #43287
Ah, so your example is not something that already exists? In that case I misunderstood :)

[2017-09-01 12:55] damon-atkins commented on #43287
See it made up example. Have no idea on the details of how the existing authentication works and if it can be changed to support adding secure value/pairs

[2017-09-01 12:59] DmitryKuzmenko commented on #43262
There is no any special job return control. If return_pub failed this fact is just reported to minion log.

[2017-09-01 13:12] daveneeley commented on #43239
Not being terribly familiar with python, here's my question. I see this method:

[code]

I assume I would just add a try+except if record already exists then issue an update? I see how exceptions are dropped in the caller's _pkgdb_fun instead of in sqlite3.py. If so, how do I tell what that exception would be called?

[2017-09-01 13:18] carlpett commented on #43287
The idea was very interesting, so I spent a bit of time exploring it. However, salt uses rsa keys, not x509 certificates to sign communications. As far as I'm aware, there is no way to embed metadata within rsa keypairs :( (Also, it wasn't all that simple in x509 certs either, the most reasonable field to use, `subjectDirectoryAttributes`, isn't supported by OpenSSL as far as I can tell).

So ther

[2017-09-01 13:26] techhat commented on #43239
Looks like sqlite supports the `REPLACE` command.

[2017-09-01 13:29] gtmanfred commented on #43239
Dave,

I am going to be working on adding in upgrading and downgrading packages so
that -f won't need to be used for this function.

And in that I will look for why this is happening.

Thanks for reporting,
Daniel

On Fri, Sep 1, 2017 at 7:12 AM, Dave Neeley <notifications@github.com>
wrote:

[2017-09-01 14:31] rallytime commented on #28244
Closed via #43290

[2017-09-01 14:31] #28244 closed

[2017-09-01 14:44] Reiner030 opened #43311 "salt-cloud 2017.7.x broken saltitfy/ec2"
### Description of Issue/Question
Didn't recognize setup "master" in provider section in latest python3-based setup without changing anything in my profiles :fire:... (in 2016.x it was working fine):
[code]

### Setup
Setup different master as documented in: https://docs.saltstack.com/en/latest/topics/cloud/saltify.html#getting-started-with-saltify

### Steps to Reproduce Issue
run salt-cloud -m \

[2017-09-01 15:14] F30 commented on #39184
@renzhengeek It doesn't seem to matter as which user you start it, if you have such a line in your config Salt is gonna *run* as root and throw that warning.

[2017-09-01 15:31] rallytime commented on #43258
Closed via #43265

[2017-09-01 15:31] #43258 closed

[2017-09-01 15:36] Ch3LL commented on #43293
looks like i'm able to replicate this behavior and git bisect shows this commit 82bf7fe5e1e462258963db48ed88b73f0418339e which is this pr https://github.com/saltstack/salt/pull/35822

Here is a docker container for someone to quickly replicate this:

1. `docker run -it -v ~/git/salt/:/testing/ ch3ll/issues:43293` ( where ~/git/salt/ is a local cloned git repo of salt)
2. `salt-master -d; salt-mini

[2017-09-01 15:40] Ch3LL commented on #43305
@varun292006 can you clarify your question for me a little? are you stating you want to be able to send the minion return event data to multiple mysql databases?

[2017-09-01 15:55] Ch3LL commented on #43307
@marek-knappe looks like its not loading `disk.format`. Do you have the commands `mkfs` and `sync` available?

[2017-09-01 15:58] Ch3LL commented on #43308
@lyddragon can you share a sanitized version of either `salt://zookeeper/files/log4j.properties` or `salt://zookeeper/files/zoo.cfg` so we can see how your making the jinja call?

[2017-09-01 15:58] varun292006 commented on #43305
No.
Let me elaborate a bit more.
I have 4 MySQL servers which are already having my application data let's call them `sql_server1, sql_server2, sql_server3, sql_server4`
So I would like to interact with these, fetch some data and perform some operation.

I also have configured a separate log server let's call it` log_server`. Right now minion data is returned to this server and at the moment my mi

[2017-09-01 16:00] gtmanfred commented on #42906
Just fyi, i haven't forgotten about this, just working on other stuff at
the moment, hopefully will have some time at some point to figure out how
this could be used.

On Tue, Aug 15, 2017 at 3:28 PM, Ryan Lane <notifications@github.com> wrote:

[2017-09-01 16:01] gtmanfred commented on #43111
Unfortunately I was unable to replace this :/

I am going to close this issue, if someone else reproduces it, please comment and I will re open it.

[2017-09-01 16:01] #43111 closed

[2017-09-01 16:15] rallytime commented on #2896
Thank you all for the discussion here. Since the `special` option has been implemented and @lordcirth has now updated the documentation, I'll close this.

[2017-09-01 16:15] #2896 closed

[2017-09-01 16:44] pgporada commented on #38110
I believe I'm running into this issue as well, though I am not using masterless minions. I cannot trigger the shell_test command with the following.
[code]

As soon as I remove the `require`, the shell_test command works just fine. This is on Salt 2016.11.2 through 2016.11.7

[2017-09-01 16:50] thatch45 commented on #38110
@pgporada I think you are experiencing a separate issue as this issue has to do with running thorium on a minion.

[2017-09-01 16:52] pgporada commented on #38110
I will file a new ticket, thanks!

[2017-09-01 17:14] rickh563 commented on #43204
Issue has been validated by the End-User on both:

*  Master and Minion on version 2016.11.6: issue occurs.

* Master and Minion on version 2017.7.1: issue occurs.

[2017-09-01 17:19] pgporada opened #43313 "Thorium unable to grab custom grain/pillar data without using a /srv/salt/ state"
### Description of Issue/Question
One should expect that custom grains and pillar data is accessible in Thorium.

My output currently looks like
[code]
instead of looking like
[code]

### Setup
/etc/salt/minion
[code]

/etc/salt/master
[code]

/srv/pillar/base/top.sls
[code]

/srv/pillar/base/custom_pillar.sls
[code]

/srv/thorium/base
[code]

/srv/thorium/base/do_the_thing.sls
[code]

### Steps t

[2017-09-01 18:15] pgporada commented on #43313
If I create a state.apply state file for thorium to run, rather than a cmd.run, thorium will be able to use the custom grain/pillar data.

/srv/thorium/base/do_the_thing.sls
[code]

/srv/salt/base/phil/init.sls
[code]

/tmp/thorium.log
[code]

[2017-09-01 18:26] Ch3LL commented on #43310
Glancing at the code it does seem its parsing is case sensitive. ping @saltstack/team-cloud do you think it would be possible to add a parser to check for arguments that are case insensitive? Just looking at the `_create_eni_if_necessary` method there is a lot of checks for case sensitive arguments. Not sure how many other places int he code we would need to change to add a parser like this.

[2017-09-01 18:36] avlasov-mos-de opened #43316 "Wrong salt-minion's main process name when python-setproctitle installed"
### Description of Issue/Question
salt-minion tries to import module setproctitle. If this done successfully it executes  setproctitile  with space instead of "\0" used as param separator.

[code]

[code]

This results in wrong main process name. (python instead of salt-minion)

[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to R

[2017-09-01 18:45] Arderos opened #43317 ""init" grain on CentOS and OEL 6 reports init as "upstart" instead of "sysvinit""
### Description of Issue/Question
"init" grain on CentOS and OEL 6 reports init as "upstart" instead of "sysvinit"
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Full output of grains.items is attached
[grains_items.txt](https://github.com/saltstack/salt/files/1271205/grains_items.txt)

[code]

### Steps to Reproduce Issue
(Include debug logs if po

[2017-09-01 18:45] gtmanfred commented on #43310
So, I don't really want to change this.

The nice part about the way it is written now, if EC2 comes along and changes their api, and adds features, you can just add them to your functions and they get passed through to the aws api to sort it out.

If we start checking all the variables, then we get problems where if they add something, then you have to wait 6 months for the next release of salt f

[2017-09-01 18:57] Ch3LL commented on #43311
@Reiner030 I am having a hard time replicating this with either a python2 install or python3 install of 2017.7.1.

Can you share a snaitized version of your provider/profile/map configs?

[2017-09-01 18:57] Ch3LL commented on #43311
ping @saltstack/team-cloud

[2017-09-01 19:38] Ch3LL commented on #43309
@MatthiasKuehneEllerhold i seem to be seeing the same behavior but still it fails on creation of group:

[code]

When I run the same state on the minion it works. Is that the same behavior for you? If you sinstall the salt-minion on the mac minion does it work running `salt-call --local state.sls <state>`

[2017-09-01 19:40] Ch3LL commented on #39184
Yes as @F30 states it will run as that user. If you were to check your process list you would see it running as salt. I did find out that suse does manage those packages and they purposefully are setting the salt user on the install of the packages. Closing this as it  is resolved.

[2017-09-01 19:40] #39184 closed

[2017-09-01 19:41] ball-hayden commented on #36556
I'm using Centos 7.3, with a influxdb-python version installed using an fpm generated rpm package.

[2017-09-01 19:46] daveneeley opened #43318 "Generating SPM-METADATA outside of salt"
### Description of Issue/Question
I want to upload packages to Artifactory and have it generate the SPM-METADATA file on the server side as packages are added. Is the format of this file fairly fixed at this point?

I've considered shelling out from a groovy plugin to a locally installed salt on the Artifactory server, but I'm wondering if straight groovy would be better. The [development guide](h

[2017-09-01 20:41] rickh563 commented on #43133
ZD-1712

[2017-09-01 21:21] shallot commented on #43310
Letting through arbitrary new elements is just fine; letting through capitalization errors helps no one, because let's face it, hell will freeze over before anyone changes their API in a way that "subnetid" means something entirely different from "SubnetId" while maintaining general compatibility.

[2017-09-01 21:31] gtmanfred commented on #43310
We would gladly accept a PR that implemented this.

Thanks,
Daniel

[2017-09-01 22:14] #31849 closed

[2017-09-01 22:40] LinuxLeafFan commented on #41451
Are you certain this is expected behaviour? Kind of funny it seems to be only the Red Hat images.

[2017-09-01 23:50] sbreidba opened #43328 "file.managed state fails in test mode if target does not exist (salt-call, Windows 2017.7.1)"
### Description of Issue/Question
If the target of `file.managed` does not exist, state execution fails in test mode with an error of "Unable to manage file: Path not found".

Note that an especially undesirable side-effect of this is that in _non_-test mode, `prereq`-style dependencies will also fail.

### Setup

Example SLS file:
[code]

### Steps to Reproduce Issue
Create an SLS file with a sim

[2017-09-02 00:07] #15152 closed

[2017-09-02 01:40] johnj commented on #43295
The consul error goes away if you have a recent version of consul as @gtmanfred mentioned. The message you see in the logs has to do with consul.Consul raising an AttributeError exception. This occurs because the `import consul` check passes since it is available in modules/ ... this should probably be renamed to consul_cache or something like that instead to avoid collision.

In any case, I submi

[2017-09-02 01:51] gtmanfred commented on #43295
So, we refactored the cache api, and removed the `ls` function, and change it to call `{0}.list` for the caching driver.

https://github.com/saltstack/salt/blob/2017.7.2/salt/cache/__init__.py#L243

So this will be fixed in 2017.7.2

These changes have also been merged to develop, so they will be fixed in the future.

Here is the pr
https://github.com/saltstack/salt/commit/ee59d127e8945180e71829b4

[2017-09-02 02:04] V3XATI0N commented on #43295
awesome. I'll wait for 2017.7.2, I'm glad I was actually hitting a bug and not just being stupid for once. Thanks!

[2017-09-02 02:10] terminalmage commented on #43077
See https://github.com/saltstack/salt/pull/43330 for the fix.

[2017-09-02 06:26] MeltedLux commented on #32294
Still an issue.

[2017-09-02 11:07] #8210 closed

[2017-09-02 12:01] Reiner030 commented on #43311
I have the problem on other instances, too - I added temporary the needed data by copying it from provider to profile file.

with <= salt-2016.x this setup was working fine.
Actual setup is "default" installed by salt except the cherrypy version which needs to be the wheezy package to get SSL/TLS activated for salt-api; but this shouldn't be used for salt-cloud.
[code]

cloud.providers.d/my-saltif

[2017-09-02 19:24] V3XATI0N opened #43331 "rest_cherrypy does not return responses from syndic-connected minions"
### Description of Issue/Question
I have a master-of-masters connected to 3 downstream syndics. On the salt CLI, If i run the simple query (for example) `salt -C 'G@os:*' test.ping`, I get responses from all minions whether they are connected directly to the master or to a syndic. But when making the same request via rest_cherrypy, I only receive responses from minions connected directly to the ma

[2017-09-02 21:09] ncrandel commented on #40621
Ditto. Thanks!

[2017-09-02 22:00] #15196 closed

[2017-09-02 22:06] anitakrueger opened #43332 "carbon returner not using metric_base_pattern (not implemented)"
### Description of Issue/Question
Despite the documentation saying that a metric pattern can be specified for the carbon configuration, it seems the functionality is not implemented.
https://docs.saltstack.com/en/latest/ref/returners/all/salt.returners.carbon_return.html

### Setup

[code]

### Steps to Reproduce Issue
I had added some debug statements to the carbon returner, but even the metric_b

[2017-09-03 03:59] ZacharyDuBois commented on #32294
Yeah and this issue is really getting annoying to have to run cmd.run 'apt-key add' etc every time a new repo needs to be added.

[2017-09-03 04:40] jv2222 commented on #32294
This workaround has been working for us for a while:

[code]

[2017-09-03 05:00] #8719 closed

[2017-09-03 08:14] nkrishnakishor opened #43334 "State.highstate returned error Minions returned with non-zero exit code"
When run `salt salt-minion1 state.highstate` it returned below error.

salt-minion1:
    Data failed to compile:
----------
    Traceback (most recent call last):
  File "c:\salt\bin\lib\site-packages\salt\state.py", line 3629, in call_highstate
    top = self.get_top()
  File "c:\salt\bin\lib\site-packages\salt\state.py", line 3089, in get_top
    tops = self.get_tops()
  File "c:\salt\bin\lib\si

[2017-09-03 17:06] V3XATI0N commented on #43331
update: to be more clear -- the API returns "responses" from syndic minions, but test.ping returns "false" despite the fact that they do in fact reply, and any other function (grains.item, for example) returns empty and useless.

[2017-09-03 19:22] #8267 closed

[2017-09-03 20:22] #15144 closed

[2017-09-03 21:29] brejoc commented on #43212
With the merge of  #43281 we can close this again.

[2017-09-03 21:29] #43212 closed

[2017-09-03 21:54] marek-knappe commented on #43307
{code}
root@jira-server-ubuntu-1604-vagrant:/home/ubuntu# mkfs
mkfs          mkfs.bfs      mkfs.btrfs    mkfs.cramfs   mkfs.ext2     mkfs.ext3     mkfs.ext4     mkfs.ext4dev  mkfs.fat      mkfs.minix    mkfs.msdos    mkfs.ntfs     mkfs.vfat     mkfs.xfs
{code}

It looks like it's getting nothing from command lsblk and trying to load module: disk.format_<nothing>

btw. that was working perfectly in

[2017-09-03 22:03] marek-knappe commented on #43307
[code]
Maybe this is an pointer to an issue?

[2017-09-03 23:05] marek-knappe commented on #43307
Just as the info, output from debug from v2016.11.6:
[code]

[2017-09-03 23:14] V3XATI0N commented on #43295
I manually edited redish_cache.py, changing
[code]
to
[code]
The good news is that the error is gone! yay!
The bad news is that `salt-run cache.grains` just returns nothing at all. Here's an example at debug level logging:

[code]

[2017-09-04 03:20] lyddragon commented on #43308
@Ch3LL Has been added

[2017-09-04 06:20] MatthiasKuehneEllerhold commented on #43309
Creating the group worked with the provider override (via the salt-master machine).

I dont have the salt-master / salt-minion infrastructure configurated but I tried this:
[code]

But user.present fails (with the same error as salt-ssh):
[code]

[2017-09-04 07:01] lyddragon commented on #43308
# Another problem:
## zookeeper_cluster2_deploy.sls
[code]

## run
[code]

[2017-09-04 07:21] johnj commented on #43295
You probably need to take care of that consul error too, check out #43329

[2017-09-04 07:40] brejoc commented on #43267
@s0undt3ch @Ch3LL I'd like to provide a suggestion as a PR. What branch should this be based on?

[2017-09-04 08:22] #8392 closed

[2017-09-04 08:48] kira8565 opened #43335 "salt-ssh execute a nohup process was hang"
### Description of Issue/Question
the startup shell is
[code]
when i run this shell via salt-ssh the terminal hang  ,the process was startup but the salt run the command but can not exit ,
I use  `cmd.run` is the same result

### Setup

[code]
### Steps to Reproduce Issue

run salt-ssh '*' state.apply CEP1_1

### Versions Report

[code]

[2017-09-04 09:20] thedrow commented on #16005
I really think it's a shame no one would implement this. @basepi should we close this issue anyway?

[2017-09-04 09:59] fzk-rec commented on #43295
I'm running into the exact same issues. Glad to hear that at least one em is getting fixed soon.

[2017-09-04 11:10] asymetrixs opened #43336 "Problem setting file permissions"
### Description of Issue/Question

I have the following commands, the first works, the second does not (it does not show up in the logs nor does it produce any output in the result view).
I expected it to find all files matching the regex and to set permissions accordingly, like for the first command.
Running the 3rd command on the master (targeting the same minion) I get the result as shown below

[2017-09-04 12:51] MatthiasKuehneEllerhold commented on #41020
We've got the same problem with this constellation:
* Debian Stretch as Salt-Master
* Mac OS 10.6.8 as Target
* Using Salt-SSH

I could resolve this problem via this commands:
* `apt-get install python-backports.ssl-match-hostname` on the master
* `rm -Rf cache/thin/thin.gz` on the master
* `rm -Rf /var/tmp/*salt*` on the minion

[2017-09-04 13:26] asymetrixs commented on #43336
Looks like the problem is with specifying the parameters, this seems to work:
`{% for configboot in salt['file.find']("/boot", iregex="config.*el7.*") %}`

[2017-09-04 13:26] #43336 closed

[2017-09-04 14:44] LEMNX opened #43338 "virtualenv never-download"
https://github.com/saltstack/salt/blob/0e262b8c0d9f7ee4932bcdc301f5e4a91a5ae5ee/salt/modules/virtualenv_mod.py#L202

I have virtualenv 15.1.0 and this option is not deprecated

`  --no-download, --never-download
                        Do not download preinstalled packages from PyPI.`

[2017-09-04 16:03] V3XATI0N commented on #43295
I applied the patch referenced in #43329 and it does fix the Consul error, but it doesn't fix the problem where Salt doesn't return items from the Redis cache. I see that some items are being saved in the Redis server, so that at least is good, but useless if Salt refuses to retrieve them again.

[2017-09-04 16:09] V3XATI0N commented on #43295
Update --
Maybe this is only a documentation issue? It was trying different commands and found that Salt does in fact return the cache items if you specify a target. This is not necessary when Salt is configured to use `localfs` caching, but when using Redis you have to specify `tgt`.

[2017-09-04 16:47] campbellmc commented on #38916
It will also works if you use the -requirements option with a requirements file rather than the - pkg(s) or -name options - without the need of reloading modules or specifically installing python2.7-pip.

reloading modules did not work for me.  I think it's a distraction and not the proper solution.

[2017-09-04 17:43] syphernl opened #43340 "Upgrading Salt via Salt results in dying minions and broken dpkg"
### Description of Issue/Question
We use `pkg.upgrade dist_upgrade=True` to upgrade our servers semi-unattended.

They were running 2017.7.0 prior to issuing the upgrade command and were supposed to be upgraded to 2017.7.1.

However, a majority of the machines had issues where the `salt-minion` would not be running anymore afterwards and shows the following issue when doing anything with `apt` aft

[2017-09-04 18:22] #11166 closed

[2017-09-04 18:22] #14164 closed

[2017-09-04 18:22] #15099 closed

[2017-09-04 18:22] #15324 closed

[2017-09-04 18:22] #15212 closed

[2017-09-04 18:22] #15321 closed

[2017-09-04 18:22] #14854 closed

[2017-09-04 18:22] #15210 closed

[2017-09-04 18:22] #9031 closed

[2017-09-04 18:22] #10025 closed

[2017-09-04 18:22] #7947 closed

[2017-09-04 18:22] #4695 closed

[2017-09-04 18:22] #6045 closed

[2017-09-04 18:23] #5057 closed

[2017-09-04 18:23] #15401 closed

[2017-09-04 18:23] #15492 closed

[2017-09-04 18:23] #15437 closed

[2017-09-04 18:23] #10017 closed

[2017-09-04 18:23] #15530 closed

[2017-09-04 18:23] #15271 closed

[2017-09-04 18:23] #14862 closed

[2017-09-04 18:23] #4390 closed

[2017-09-04 18:23] #15748 closed

[2017-09-04 18:23] #15767 closed

[2017-09-04 18:23] #15867 closed

[2017-09-04 18:23] #15825 closed

[2017-09-04 21:06] ixs commented on #43317
Actually not a bug. CentOS6 is using upstart - albeit in sysV mode:

[code]

[2017-09-04 21:13] #15911 closed

[2017-09-04 23:08] anitakrueger commented on #42681
I happen to have a state file that uses both, file.managed and archive.extracted on files remotely located on a web server. I have control over all of them, but was very surprised to see that on subsequent state runs, all of them got downloaded again and again and again.
I was expecting the default behavior to be that once the file is managed and hasn't changed, it wouldn't be downloaded. Adding k

[2017-09-05 04:25] damon-atkins opened #43342 "default transport changed 2017.7.X"
### Description of Issue/Question
Default Transport Changed
### Setup
Blank windows install.  Need to code the transport to zeromq for it to work.

Could not find a mention of this in the release notes.

### Steps to Reproduce Issue
Install 2017.7 on fresh OS, and see if it connects to zeromq mater.

[2017-09-05 04:37] damon-atkins commented on #43342
Old and new Code Mixed.  Users Fault.

[2017-09-05 04:37] #43342 closed

[2017-09-05 05:17] damon-atkins opened #43343 "Windows Python Code Line Feed not consistent on Windows"
### Description of Issue/Question
The Salt installer installs *.py files some which have DOS line feeds while others do not.
I suspect the original Python files end with LF and Salt added files end with CRLF (git auto convert ?)

Install Salt for windows and compare line feed in C:\salt\bin\Lib\*.py with C:\salt\bin\Lib\site-packages\salt\*.py

Is this an Issue?

[2017-09-05 05:56] liuhetongzi opened #43344 "cp.push upload_path not work"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2017-09-05 06:20] #43344 closed

[2017-09-05 08:36] afletch commented on #39881
@Ch3LL Is there any progress on this? It's making salt-ssh unusable with gitfs backend and some months now since it was reported (indeed 2017.7 has come out since then).
Thanks.

[2017-09-05 09:22] VAdamec opened #43347 "Setup salt.pillar.vault on v2017.7.1"
### Description of Issue/Question
Trying to setup Vault pillar after upgrade to 2017.7.1-1, encounter some schizma with new and legacy setup.  What is correct / supported way ?

### Setup

#### Legacy setup - now DeprecationWarning: The 'profile' argument has been deprecated
```main.conf```
[code]

[code]

#### New configuration - forbiden (doesn't use provided token ?)
Followed these two doc page

[2017-09-05 09:30] VAdamec commented on #43347
Vault policy for minions:

[code]

[2017-09-05 09:46] VAdamec commented on #43347
Maybe just proper example of Vault policy missing ? (Vault side is completely ignored in documentation)

[2017-09-05 09:59] jyfletcher commented on #35846
Hi,

I found that two files in /usr/lib64/python2.7/site-packages/psutil:
_psutil_linux.so
_psutil_posix.so

Were not reinstalled after a remove and install of the python-psutil package on RHEL7.  I don't know much about psutil but it looks to me like they are from an older version of the package and aren't removed during an upgrade... maybe psutil was changed to be pure python.  As you can see in

[2017-09-05 10:02] jyfletcher commented on #35846
And yes, I see that this issue is closed, but I just ran across the problem and this thread.  If there is somewhere else to put this info please let me know.

[2017-09-05 10:48] 9maf4you opened #43348 "network.managed doesn't work on CentOS 7"
### Description of Issue/Question
Hello!
I'm trying to assign a range of ip-addresses on a single interface on my CentOS Linux 7 system like this :
[code]
and like this:
[code]
But, every time it puts to config-file this:

Obviously, I got this:

[code]
### Versions Report

[code]

Minion:
[code]

PS:
unfortunately, the documentation is poor at all.
https://docs.saltstack.com/en/latest/ref/states/

[2017-09-05 11:04] fillarios commented on #43287
Hi @carlpett,
Sorry if I misunderstand how it all works, but really, how is this infinite recursion a thing?
When pillars are rendered on the master, it's access to the vault is restricted only by the policies already applied to the `vault:auth:token`. So nothing under `vault:policies` has to be processed until a minion attempts to access the vault, at which point all pillar processing should be f

[2017-09-05 11:42] carlpett commented on #43287
Hi @fillarios,
The flow is a bit different from your description. The token under `vault:auth:token` on the master is not used to render any pillars, it is used to request tokens that used for rendering the pillars.

Imagine I have a pillar file that looks like this:
[code]

And a salt-vault config like this:
[code]

Now, say we want to do something to a minion M, which requires access to the pill

[2017-09-05 11:54] danbst opened #43350 "Problems with deploying from Nix-built `salt-ssh`"
### Description of Issue/Question
When doing some simple deployment with `salt-ssh`, Salt crashes with:
[code]

Salt looks for file `/nix/store/kkp27nhdjxyr5gzha8p7v9x11fhdmjjg-openssl-1.0.2l/lib/libcrypto.so` on a remote machine (target in GNU terms), but that is a file that Salt is built with (host in GNU terms)

So, I think it is a bug, that Salt assumes host-deps are present on minion machine.

[2017-09-05 12:09] fillarios commented on #43287
Yes, but as far as I know pillars are rendered on the master.
You could try to put this in a pillar sls file and see what value a minion gets:
[code]
For all my minions `foo` is set to the hostname of my master.

[2017-09-05 12:28] danbst commented on #43350
Let's close this for now, because this is more Nix issue than Salt.

https://github.com/NixOS/nixpkgs/issues/7307
https://github.com/NixOS/nixpkgs/blob/release-17.03/pkgs/tools/admin/salt/fix-libcrypto-loading.patch
https://github.com/NixOS/nixpkgs/blob/release-17.03/pkgs/tools/admin/salt/default.nix#L33

[2017-09-05 12:28] #43350 closed

[2017-09-05 12:36] stamak opened #43351 "[salt-cloud] nova driver allocates new floating ip instead of taking free available in project pool"
### Description of Issue/Question

### Setup
provider config

[code]

profile config
[code]
### Steps to Reproduce Issue
Spin up VMs using nova salt-cloud driver

### Versions Report
[code]

[2017-09-05 12:38] carlpett commented on #43287
Yes, pillars are rendered on the master, but they are rendered for a specific minion. `salt['vault'].read_secret` will take which minion is rendered for into account (in fact, if the master did not know which minion it was rendering for, all the minions would have access to the same secrets).

[2017-09-05 13:09] fillarios commented on #43287
Yes, I understand why `modules.vault.read_secret` has to account for which minion it is called from, when called from a *minion* to make sure it's access to the vault is properly policed.
But, when called from the *master* (like when rendering pillars), I imagine it is possible to just use the token provided in the master config to read from the vault and ignore the policies defined for *minions*.

[2017-09-05 13:53] MatthiasKuehneEllerhold opened #43352 "[salt-ssh] ImportError: No module named ordereddict"
### Description of Issue

### Setup
We're having a debian stretch machine as salt-master and (multiple) Mac OS 10.6.8 machines as minions.
The python version are 2.7.13 on the master and 2.6.10 on the minions.

### Steps to Reproduce Issue
Set up the salt master with this roster file:
[code]

Call this from the salt-master:
[code]

Manually installing python 2.7.13 via homebrew on the old Mac didn

[2017-09-05 14:08] smakar-vs commented on #42082
```/var/log/salt/master:2017-09-05 06:48:41,958 [salt.utils.gitfs ][CRITICAL][348] Invalid gitfs configuration parameter 'saltenv' in remote git+ssh://git@ourgitserver/ourgitrepo.git. Valid parameters are: base, mountpoint, root, ssl_verify, name. See the GitFS Walkthrough in the Salt documentation for further information.```

Error is still present :(

[2017-09-05 14:09] stamak commented on #42082
[code]

Error is still present :(

[2017-09-05 14:39] rickh563 commented on #43351
ZD-1735

[2017-09-05 14:40] fzk-rec commented on #3913
This is still VERY relevant for us too.

[2017-09-05 14:49] terminalmage commented on #42681
@anitakrueger I believe the reason for the current behavior had something to do with large archives filling up space in /var, but I'm not sure as I wasn't involved in writing that code.

The way I see it, what needs to be done is something like this:

1. Change the caching behavior for `archive.extracted`, adding a `clean` argument and set it to `False`. Continued use of `keep` will produce a warn

[2017-09-05 14:56] terminalmage commented on #42681
The only potential problem I can see with this is that a minion that has run the state in the past and already has a cached copy, but the remote file's hash has changed since it downloaded the file, will now behave differently from one which doesn't have the file cached. Assuming identical SLS for both minions, the minion without the cached file would download it, try to verify the hash, and fail

[2017-09-05 14:59] gtmanfred commented on #41020
Instead of removing the thin tarball and the tmp cache on the minion, you can pass `-t -w` starting with 2017.7

[2017-09-05 15:23] mirceaulinic commented on #38744
I have been looking at implementing this, but I'm afraid I don't understand very well several details from the transport classes (i.e., https://github.com/saltstack/salt/tree/develop/salt/transport).

In particular, I'd like to know for the beginning who's who, what class is used by the master and what class is used by the minion.
The new `source_ip` and `source_port` options would probably be use

[2017-09-05 15:25] wcom939 opened #43353 "cherry_rest won't create websocket connection for events if api is running with https, but does work with http"
### Description of Issue/Question
If I use the sample events java class from the salt-netapi-client project I get a handshake error if the salt-api is running as https, but not if it is running as http

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

/etc/salt/master
rest_cherrypy:
  port: 8000
  ssl_crt: /PATH/TO/CERT
  ssl_key: /PATH/TO/KEY
  #di

[2017-09-05 15:30] cachedout commented on #38744
Hi Mircea,

From the minion perspective, you really only need to look at `salt.transport.client`. You'll see use of `AsyncPubChannel` used to connect to the master publisher (TCP/4505 by default) and to the ReqServer which is TCP/4506.  It sounds like you're just looking for minion options but you'll see the same `Pub` and `Req` nomenclature used on the server (master) side as well. Let me know if

[2017-09-05 15:43] BitonicEelis opened #43354 "IP address empty in grain of minion run with docker-compose"
I've uploaded a testcase here: https://github.com/BitonicEelis/saltstack-testcase

Running doit.sh should reproduce the problem. It uses docker-compose to make 2 containers, one for master and one for minion. Then it shows that:
- the minion successfully responds to test.ping
- "docker inspect" has no difficulty seeing the container's IP
- the ipv4 grain is empty

### Versions Report
    Salt Vers

[2017-09-05 15:51] frozenmatt commented on #21986
Same issue here with 2017.7.1.   I've added the cron job mentioned as a workaround, but it still leaves a gap that bites us occasionally.   We use the salt mine as part of rundeck's mechanism to target nodes for deployments.   After rebuilding EC2 instances quite heavily over the last few weeks, this has gotten worse and worse in our dev and stage salt environments.   We are holding on large rebui

[2017-09-05 15:52] mirceaulinic commented on #38744
Thanks for looking into this @cachedout and info.

I have looked at the `transport.client`, but I don't quite grasp where would be the right place to use these new options.
I would have expected that we need to adjust the classes from each transport. For example, to use the source_ip and source_port for the ZeroMQ transport, we'd need to replace this line: https://github.com/saltstack/salt/blob/de

[2017-09-05 15:53] gtmanfred commented on #43313
So, I think this is expected behavior, because the thorium reactor is rendered on the Master, and it doesn't have pillar data.

But if you run it through state.apply, it will run it on the minion where a pillar is actually assigned.

I think pillars were allowed to be in thorium states because thorium is an engine, that could run on the minions, so you could potentially have pillar data in there,

[2017-09-05 15:56] gtmanfred commented on #43316
Would you mind submitting a PR to fix this in the 2016.11 branch and we can merge it forward to 2017.7 and develop?

Thanks,
Daniel

[2017-09-05 15:57] gtmanfred commented on #43317
Correct, both those use upstart technically, but RHEL 6 never actually made the switch, it sounds like they were going to in rhel 7, but didn't want to sign the CLA that Canonical wanted them to in order to develop on upstart, so they created systemd.

[2017-09-05 15:57] #43317 closed

[2017-09-05 16:04] gtmanfred commented on #43318
Err, it is hard to say, we have made changes to it in every release since it got added to salt, and I have several more things that I want to add to spm, like updating packages, and I don't know if we will need to change the SPM-METADATA.

Also, the two plugins systems for salt-spm are for pkgdbs, containing information about which packages are installed, and pkgfiles, a way to store files from sp

[2017-09-05 16:07] gtmanfred commented on #43351
Yes, there is a problem with the way that salt allocates IPs in both openstack drivers.

Unfortunately there will require a lot more code to fix it in both of them, and won't be able to be in a bug fix.

What happens if you switch this to pulling from the pool, if you build in parallel, each processes grabs the same ip, and you end up with only one server that has a floating ip added to it.

This

[2017-09-05 16:09] gtmanfred commented on #43328
Did this work in previous releases of salt?

@twangboy can you take a look at this when you get a minute?

Thanks,
Daniel

[2017-09-05 16:11] gtmanfred commented on #43331
This will be fixed in 2017.7.2

https://github.com/saltstack/salt/pull/42710

Thanks,
Daniel

[2017-09-05 16:11] #43331 closed

[2017-09-05 16:14] sbreidba commented on #43328
It did. I discovered this in the process of upgrading from 2016.3.4.

On Sep 5, 2017 9:10 AM, "Daniel Wallace" <notifications@github.com> wrote:

[2017-09-05 16:16] gtmanfred commented on #43332
@MrCitron could you take a look at this?

It looks like you initially implemented the metric base pattern stuff.

Unfortunately I do not know anything about this carbon returner.

Thanks!
Daniel

[2017-09-05 16:20] gtmanfred commented on #43334
Can you restart your salt-master?

This should only happen if the salt master is older than the salt minion :/  And this might happen if the master wasn't restarted fully after the upgrade.

Also, can you try upgrading to 2017.7.1 on both machines?  We had several bug fixes in that release.

Once that is done, if you could provide the output of the following commands just so that I can see the ful

[2017-09-05 16:25] gtmanfred commented on #43335
The problem you have run into is that you need to background the task.  nohup does not remove the process from the shell's job control and also doesn't put it in the background.

It doesn't appear that the task you are running gets backgrounded, so it won't ever release the shell for the salt-call minion to return from salt-ssh.

You should be able to pass `bg: True` to the cmd.script state, or `b

[2017-09-05 16:29] evannadeau commented on #43224
Well, this is very strange.  I ran each sub state individually, and all is well.  It is the process of running a Highstate;
`salt "_minion_" state.apply`
and this add's to the path found in environ.get path.

It appears that running a highstate runs the pywin32.pth over again, and this line;
`import os;os.environ["PATH"]+=(';'+os.path.join(sitedir,"pywin32_system32"))`
with the += is causing it to

[2017-09-05 16:40] gtmanfred commented on #43338
I have submitted the PR #43356 to add this back in, it looks like they un deprecated the flag in 14.0.0

Thanks,
Daniel

[2017-09-05 16:56] gtmanfred commented on #43340
I have replicated this issue.

@terminalmage shouldn't this have been solved by using `systemd-run --scope` to move the apt-get and dpkg processes out of the same tree as the salt minion?

@syphernl a quick fix is to add `KillMode=Process` in a drop-in file for the salt-minion process.  This will allow service to be restarted, but not kill off the minion process that is running the command.

Thank

[2017-09-05 17:02] morganwillcock commented on #42681
@terminalmage I think that if there was to be some sort intelligent cache control, that should probably be implemented in the file client / transfer method rather than in individual modules (otherwise you are reliant on reading the docs to clarify how hashes are handled in each case). Having to update `source_hash` on the remote end seems inline with how everything else is operating, so I would vo

[2017-09-05 17:03] gtmanfred commented on #43347
@carlpett can you take a look at this?

My guess is we just need to update the documentation for the vault pillar?

Thanks,
Daniel

[2017-09-05 17:04] clark42 opened #43357 "salt cp module bad exception handling"
### Description of Issue/Question

Hi !

I'm experiencing a bad error handling about the salt cp module, involve in the cmd.script state.
(and I think #28206 and #31236  are talking about the same issue)

Actually, it's the first time I use cmd.script with an inexistent file/path (weird, uh? :D)

I've made some researches.

Here is the error I've got (debug below):
[code]

I think since this commi

[2017-09-05 17:08] lehicaldwell commented on #38907
@ritazh, I believe you are correct. Several of the packages you manually set the version for do NOT match the output I got, and I am also deploying on CentOS, CentOS7 to be specific.

azure==2.0.0
azure-batch==3.0.0
azure-common==1.1.8
azure-datalake-store==0.0.15
azure-graphrbac==0.30.0
azure-keyvault==0.3.6
azure-mgmt==1.0.0
azure-mgmt-authorization==0.30.0
azure-mgmt-batch==4.0.0
azure-mgmt-cdn

[2017-09-05 17:10] pgporada opened #43358 "Thorium state with requisite never gets triggered"
### Description of Issue/Question
For me, all of the examples at https://docs.saltstack.com/en/latest/ref/thorium/all/salt.thorium.check.html using a requisite fail and never trigger a state. I could be sending events wrong though and this is entirely my own fault.

I should expect to see the following instead of an empty log file
[code]

### Setup
/etc/salt/master
[code]

/srv/thorium/base/top.sl

[2017-09-05 17:16] gaizeror commented on #34872
Happens to me also.
Version 2017.7.1 (happend since 2017.7.0)
salt master is Ubuntu 16.04
salt-minion is Windows Server 2012R2

Only when setting timeout to 200sec or even more, we get output.
Hard for me to paste the salt info because we are in an offline env, if there is something we can tell you to help us, will be great.

It doesn't matter which state it is, as long as it is a long state, it h

[2017-09-05 17:19] terminalmage commented on #42681
What do you mean by "updating `source_hash` on the remote end"? I just want to make sure we are speaking about the same thing. When I say "remote" here I am speaking of the http(s) server from which we download the file. Essentially, what I am proposing is that we let the `source_hash` configured in the SLS drive whether or not we download. What this means however is that if the remote file change

[2017-09-05 17:25] gtmanfred commented on #43348
I have submitted PR https://github.com/saltstack/salt/pull/43359  Which adds ipaddr_{start,end} to the template for el7 interfaces.

In the mean time, you would have to make one state for each ipaddr, or use names for each alias

[code]

[2017-09-05 17:30] terminalmage commented on #43340
@gtmanfred Using ``systemd-run --scope`` will place the `apt-get install` command in a different cgroup from the `salt-minion` process. The question here though is how dpkg manages restarting the service. As I understand it, it will perform a `systemctl try-restart salt-minion.service`, which should SIGTERM all of the PIDs in the same cgroup as `salt-minion.service`. Given that the `apt-get instal

[2017-09-05 17:31] gtmanfred commented on #43357
I would say the best thing to do would be to check if sfn is a string_type, and if it isn't then log an error or raise an exception.

I am marking this as a medium severity bug. We would greatly appreciate a PR to address this.

Thanks,
Daniel

[2017-09-05 17:32] morganwillcock commented on #42681
By remote I was thinking of the SLS file on the master, so that all sounds fine to me.

[2017-09-05 17:48] gtmanfred commented on #43354
That is because the container does not come with `iproute2` or `ifconfig` installed.

You will need to install one of those in your Dockerfile to get those grains.

[code]

https://github.com/saltstack/salt/blob/2017.7/salt/utils/network.py#L760-L790

Alternatively, you could use the `mine.get_docker` module to get the information from the docker container from the host's salt-minion process.

htt

[2017-09-05 17:48] #43354 closed

[2017-09-05 17:52] lordcirth commented on #28165
I'm going to assume yes and take a look at how hard it would be.

[2017-09-05 17:54] gtmanfred commented on #43352
So, the `python` binary is the last one it looks for.

We look for python2.6 before that, but python2.7 even before that.

https://github.com/saltstack/salt/blob/2017.7/salt/client/ssh/__init__.py#L150

Is the python2.7 binary in your path?

Also, we have run into some problems with this, because of the way macs work, even if you add the object to your path in /etc/profile or /etc/profile.d, the p

[2017-09-05 17:55] gtmanfred commented on #43352
Also, starting with 2017.7.1, we no longer support py2.6.

@saltstack/team-core should we be removing py2.6 from the binaries to search for for salt-ssh?

Thanks,
Daniel

[2017-09-05 17:57] MrCitron commented on #43332
Hi,

@gtmanfred : the purpose of this feature was to provide a way to customize the carbon "data path" when using the carbon returner. This way, you can then filter and made graphite/grafana boards easier.

@anitakrueger You can have a look at my original commit https://github.com/saltstack/salt/commit/f8b2f8079fc7c2c479c47e4864731f8ca2eb56a6#diff-6c5bda86baa432906f4144404c33987e and at the PR #25

[2017-09-05 17:58] Reiner030 commented on #43311
Same problem with AWS provider...
Was there a "hidden" option change made which isn't mentioned in changelog/documentation yet ?

With my usual provider/profiles files as documented I got:
[code]

When I copy the provider data to profile it looks fine:
[code]

( I am waiting for -1c to get activated by AWS; then I can give more output if interested; I got this error while requesting new zone [subn

[2017-09-05 18:00] avlasov-mos-de commented on #43316
Apparently I wasn't 100% right about root cause. setproctitile() wont accept NULL character. And looks like setprotitile does something on import that modifies process cmdline.

Healthy node:
[code]

Problem node(setprotitle installed)
[code]

[2017-09-05 18:12] V3XATI0N commented on #43331
Is #42710 all that is required? I patched that PR in locally and it has no effect on this issue. I already get a response for syndic-connected minions when they're disconnected ("false").  What I was hoping for was to get useful data when they _are_ connected, but even with that PR, they still just return "false".

[2017-09-05 18:17] rawtaz commented on #16128
Whether to do anything with the information I provided is up to you.

[2017-09-05 18:50] gtmanfred commented on #43353
@whiteinge can you assist with this?

I am not sure where to even begin.

Thanks!
Daniel

[2017-09-05 19:05] peterloron commented on #24925
Any progress on this? It's really becoming a serious problem for us. Sucks to have to run a manual highstate after the reactor triggered run during salt-cloud.

[2017-09-05 19:07] gtmanfred commented on #43358
What does your register assignment look like?

https://docs.saltstack.com/en/latest/topics/thorium/index.html#using-register-data

You have to put the data in the register to use the `check` module against the register.

Thanks,
Daniel

[2017-09-05 19:08] basepi commented on #16005
I don't really care either way. Obviously it would be useful, but also obviously it doesn't have anyone to drive it. Up to you.

[2017-09-05 19:09] gtmanfred commented on #43343
I am not sure that this is an issue or not?

@saltstack/team-core @saltstack/team-platform does anyone know the answer to this?

Thanks,
Daniel

[2017-09-05 19:13] #16154 closed

[2017-09-05 19:14] basepi commented on #16230
I'd still love to see more standardization in the provider module naming, so I'm going to bump to keep this open.

[2017-09-05 19:16] gtmanfred commented on #43331
did you restart the salt-master and salt-api processes after applying the patch?

With the little information provided, it sounds like this is a duplicate of this issue, https://github.com/saltstack/salt/issues/42668

Which i have re verified is fixed by the above patch, that it does return the information.

This was originally broken in https://github.com/saltstack/salt/pull/36318 because they us

[2017-09-05 19:17] #16481 closed

[2017-09-05 19:17] basepi commented on #16481
(No longer relevant with repo.saltstack.com)

[2017-09-05 19:29] gtmanfred commented on #43331
[code]

[2017-09-05 19:44] rallytime commented on #43348
Closed via #43359

[2017-09-05 19:44] #43348 closed

[2017-09-05 19:49] twangboy commented on #43343
@damon-atkins I don't think this is an issue.

[2017-09-05 20:05] gtmanfred commented on #42490
Hrm, Unfortunately even with using nfs for /srv.  I am still unable to replicate this.  Can you try doing a full update on the system again and see if it goes away?

@kyrias have you seen this at all with salt on archlinux?

Thanks,
Daniel

[2017-09-05 20:06] #43295 closed

[2017-09-05 20:34] Ch3LL commented on #43133
This should be fixed in the 2017.7.2 release. If you try the 2017.7.2 branch does it work (https://github.com/saltstack/salt/tree/2017.7.2) ? Works on our end.

[2017-09-05 20:35] kyrias commented on #42490
Nope, haven't seen anything like this before, alas.  Can't find anything online about zmq's bind returning that errno either.  Is `/var/run/salt/` and `/var/run/salt/master/` created at least?  Is this just a regular Arch install, no funky namespaces or anything? hmm.

[2017-09-05 21:04] BitonicEelis commented on #43354
Ah, thanks a lot!

I wonder if it would be technically possible to fallback to [getifaddrs()](http://man7.org/linux/man-pages/man3/getifaddrs.3.html) if `iproute`/`ifconfig` are unavailable.

[2017-09-05 21:36] gtmanfred commented on #43354
Would love to see a PR for that if you wanted to submit it?

Thanks!
Daniel

[2017-09-05 21:45] nickhilliard commented on #37840
There is no obvious way of setting a default of `test=true` for devices which use salt-proxy, which means there is a painful feature gap here, if you use salt-proxy.

This would be an insanely useful config flag in the master config and it would be great to see it implemented.

[2017-09-05 21:57] BitonicEelis opened #43362 "On Linux, use getifaddrs() to get interface information if 'ip' and 'ifconfig' are unavailable."
The [linux_interfaces()](https://github.com/saltstack/salt/blob/2017.7/salt/utils/network.py#L760-L790) function in salt/utils/network.py uses the `ip`/`ifconfig` programs to get interface information.

The effect is that on minions that lack these programs, important grains like `ipv4` don't get set (#43354).

This happens with the default Ubuntu 17.04 Docker image, for example.

Perhaps it's pos

[2017-09-05 21:57] BitonicEelis commented on #43354
Sure thing, done. :)

[2017-09-05 22:02] gtmanfred commented on #43362
We would love to see a PR for this.

Thanks,
Daniel

[2017-09-05 22:06] BitonicEelis commented on #43354
Ah, now I realize you meant Pull Request. I was confused and understood it as Problem Report, like, a separate ticket for the feature request. Anyway, I'll take a stab at it!

[2017-09-05 22:13] gtmanfred commented on #43354
Awesome, thanks!

Daniel

On Tue, Sep 5, 2017 at 4:06 PM, BitonicEelis <notifications@github.com>
wrote:

[2017-09-05 22:24] #16313 closed

[2017-09-06 00:57] damon-atkins commented on #16230
See https://github.com/saltstack/salt/issues/30533 `[discussion] refactor inconsistent module naming`

[2017-09-06 01:43] pgporada opened #43364 "Thorium reg.py no attribute split for integer"
### Description of Issue/Question
[code]

### Setup
/etc/salt/master
[code]

/srv/thorium/top.sls
[code]

/srv/thorium/foo.sls
[code]

### Steps to Reproduce Issue
salt-master -d
salt-minion -d
Wait...
[code]

### Versions Report
This is running in a centos:7 container
[code]

[2017-09-06 01:58] damon-atkins commented on #43343
Might be worth changing for consistency in develop. i.e. Windows Git does not change the line feed.
Maybe something like .gitattributes
[code]

I have seen software which is for both windows and POSIX. The packaged on POSIX system with .bat files having only LF, which means you need to fix them when the softwaare is placed on Windows system. Given Salt packages the software on a windows system for

[2017-09-06 02:12] pgporada commented on #43358
@gtmanfred
Following the example from your link, I get the following when I restart my salt-master.
[code]

When I dump the contents of `myregister` from `/var/cache/salt/master/thorium/saves/myregister`
[code]

[2017-09-06 02:19] marek-knappe commented on #43307
@Ch3LL Is that enough info for unblock ticket?

[2017-09-06 04:19] meggarr commented on #34053
I was having the same issue with 2017.7.1.
[code]
After the minions are restarted, it's gone..
[code]

[2017-09-06 04:19] #16005 closed

[2017-09-06 06:08] MatthiasKuehneEllerhold commented on #43352
@gtmanfred
Thanks for your suggestion, I got it working by installing python 2.7 via homebrew and symlinking it into /usr/bin.

Is this documented somewhere in the docs? Sadly we have a lot of really old Macs lying around that all do important stuff and figuring this out by trial, error & opening issues is neither good for you nor us.

[2017-09-06 06:22] SuperPommeDeTerre commented on #43133
Thanks for the update! I'll give this a try and kep you informed.

[2017-09-06 07:08] SuperPommeDeTerre commented on #43133
I just make a test with this version, and it works !
Thanks !
Can't wait for the release :)

[2017-09-06 07:13] ninja- commented on #24925
@peterloron as I said this is more of each module related problem. What module are you using?

[2017-09-06 07:23] MatthiasKuehneEllerhold opened #43365 "[salt-ssh][Mac OS 10.12] service.running fails with "service has been enabled, and is dead""
### Description of Issue

### Setup
We're having a debian stretch machine as salt-master and (multiple) Mac OS machines as minions.
Using service.running leads to "service has been enabled, and is dead". But if I look at the minion in question the service is in fact running and alive.

roster:
[code]

state.sls:
[code]

### Steps to Reproduce Issue
1. `$ salt-ssh 'mac.machine.lan' state.apply stat

[2017-09-06 07:27] syphernl commented on #43340
@gtmanfred Using `KillMode=process` (which appears to be case sensitive) it seems to work fine now.
It properly returns back to the master and the fresh processes (with the new version) are up and running afterwards.

[2017-09-06 07:28] MatthiasKuehneEllerhold commented on #43365
Using the same states on a Mac OS 10.6 target I get this error:
[code]

Sadly there is no `launchctl version` I could give you. Only the OS version which is Mac OS 10.6.8.

Should I open another ticket for this or is this somehow related?

[2017-09-06 07:42] anitakrueger commented on #43332
@MrCitron thanks a lot for providing the detail. It looks like this got merged into the 2015.5 branch and then it got lost in 2015.8 :(
If you look at https://github.com/saltstack/salt/blob/2015.5/salt/returners/carbon_return.py, your code is there. And in https://github.com/saltstack/salt/blob/2015.8/salt/returners/carbon_return.py it isn't.
It's also not in develop.

@gtmanfred Can you look at m

[2017-09-06 07:43] Tanoti commented on #15799
This has been covered by #16205, closing.

[2017-09-06 07:43] #15799 closed

[2017-09-06 09:44] 55abhilash commented on #41734
Any update on this?

[2017-09-06 11:27] nkrishnakishor commented on #43334
@gtmanfred thanks for the reply. I have upgrade to altest 2017.7.1 version and below is the output of master and minion.

`salt --versions-report`
Salt Version:
           Salt: 2017.7.1

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed

[2017-09-06 11:34] assafShapira opened #43367 "slack engine permissions"
since of 2017.7 branch, it is no longer possible, in slack engine to give permissions to an alias, without also giving permissions to the specific module the alias uses.
this behaviour is different than what specified in the slack engine example, and what used to work in the 2016 branches.

the source of the change is order change in the slack engine code.

salt/engines/slack.py
in version 2016.11

[2017-09-06 12:01] fzk-rec opened #43368 "Salt masters behind AWS ELB have flaky connection to minions"
### Description of Issue/Question
The connection of the salt-masters that run behind an AWS ELB to the salt-minions is flaky. Sometimes they work, most times they don't.
I would like to know if there is some flaw in my setup that I am not seeing, or if Salt only works with an HA Proxy as an ELB?

Or maybe Salt doesn't work at all behind an ELB?

### Setup
I am running the following setup at AWS:
-

[2017-09-06 12:23] mamalos commented on #34872
Hi @gaizeror, if you see [the code](https://github.com/saltstack/salt/blob/ab1b099730b957ef85ea460b7a6cbaa4fbc3b44f/salt/utils/minion.py#L132) this issue is referring to, you'll see that you shouldn't have a problem on a Windows Server (at least wrt this issues' cause of the problem).

In order to see it more deeply, it would be good if you could submit some more details about your configuration,

[2017-09-06 13:17] stamak opened #43369 "[salt-api] "401 Unauthorized Could not authenticate using provided credentials" during login request"
### Description of Issue/Question

We got this error during login requests
Most interesting that it happened not every login request( e.g. one filed , one success )

After restart it has not appeared so far

### Setup

/etc/salt/master
[code]

### Steps to Reproduce Issue

[code]

Returns
[code]

log file /var/log/salt/api
[code]

log file  /var/log/salt/master
[code]

### Versions Report
[code]

[2017-09-06 13:30] damon-atkins commented on #43368
What salt transport are you using? ZeroMQ?
What is the Failover setting on the ELB?

[2017-09-06 13:38] fzk-rec commented on #43368
@damon-atkins I am using ZeroMQ.

What do you mean with Failover setting? I assume the ELB splits incoming traffic 50/50, or maybe based on CPU usage.

[2017-09-06 14:24] rickh563 commented on #43369
ZD-1741

[2017-09-06 14:31] gtmanfred commented on #43352
It would be good to add these notes to the https://docs.saltstack.com/en/latest/topics/ssh/ documentation.

I am going to mark this as a documentation issue.

Thanks,
Daniel

[2017-09-06 14:31] jdelic commented on #38971
I just stumbled over this while investigating continued high load on some servers after a much needed Salt update.

I'm sorry, but this is not a "feature request". It's either an unwanted bug (unintended breakage of functionality which was previously working) or a breaking change (intentionally breaking backwards compatibility).

Before Salt 2016.11.* `archive.extracted` would download remote arch

[2017-09-06 14:32] basepi commented on #6819
SaltStack now has an enterprise offering that provides a GUI: https://saltstack.com/saltstack-enterprise/

[2017-09-06 14:32] #6819 closed

[2017-09-06 14:32] gtmanfred commented on #43334
@twangboy isn't this error fixed in 2017.7.2?

Thanks,
Daniel

[2017-09-06 14:33] jdelic commented on #42681
This ticket should probably be merged with #38971. In my opinion this is not a feature request, I explain why here: https://github.com/saltstack/salt/issues/38971#issuecomment-327502140.

[2017-09-06 14:41] damon-atkins commented on #43343
`C:\salt\...\site-packages\salt\**` has the dos line feeds CRLF vs all other python code is LF

My `C:\Salt-Dev\salt\pkg\windows\buildenv\salt-call.bat` does not have CRLF only LF. If I remember when git was installed I selected not to auto convert.

I suppose the danger is, its the default auto convert setting is determine by  how git is installed. So if someone builds windows packages with auto

[2017-09-06 15:12] ixs commented on #26146
Stumbled over this bug as it described an issue I had as well.
Executing a highstate would _always_ modify the permissions on a file triggering a server restart.

I added a bit of debugging with log.info(name, mode, perms['lmode]) to the file module and turns out my issue is not a salt problem but just two permission changes clashing.

Before and after running salt-call state.highstate the file in

[2017-09-06 15:21] gtmanfred commented on #43358
So, you have to put the value in the list.

[code]

And then you need to call the event.send in the correct order.

`salt-call event.send 'my/custom/event' '{"val": "data"}'`

or with the keyword arguments

`salt-call event.send data='{"val": "data"}' tag='my/custom/event'`

[2017-09-06 15:31] anitakrueger commented on #42681
I have to say I agree with @jdelic. I was using Salt 1.5 years ago for all my configurations and never ran into this problem. Now, being back on the Salt train, this is the first thing I noticed. That remote files were being downloaded again despite me just running the same state 5 mins ago. And there was no property to "fix" this issue.

[2017-09-06 15:39] damon-atkins commented on #43368
Sorry, should have said general settings. e.g. timeout, health check, etc?
Salt as two ports I assume both from a single client would need to go to the same Salt Master?
I cannot tell you, what you are trying  will work or not.
Have you read https://docs.saltstack.com/en/latest/topics/highavailability/index.html
 https://docs.saltstack.com/en/latest/topics/tutorials/multimaster.html

[2017-09-06 15:42] pgporada commented on #43358
Your example worked, was straight forward, and should be in the documentation rather than what's currently there. Thank you very much, it's appreciated over here.

[2017-09-06 15:42] #43358 closed

[2017-09-06 15:47] thatch45 commented on #16230
Closed as duplicate of #30533

[2017-09-06 15:47] #16230 closed

[2017-09-06 15:54] aogier commented on #43086
closed in fc587f784a15b0c3f3dcf24767b776c9f7f1c3a8

[2017-09-06 15:54] #43086 closed

[2017-09-06 15:57] twangboy commented on #43224
Use triple backticks ( ``` ) at the beginning and end of each block of text...
Thanks for the additional research, I'll see if I can replicate...

[2017-09-06 16:06] gtmanfred commented on #43358
If you wanted to submit a PR to make the docs more clear, we would
appreciate it.

But I just read the register docs today to figure out why it wasn't working
for you, and it says in the docs

[code]

If you can help us make that more clear, we would appreciate it.

On Wed, Sep 6, 2017 at 9:43 AM, Phil Porada <notifications@github.com>
wrote:

[2017-09-06 16:20] pgporada commented on #43358
I can do that. Thanks for helping pave the way!

[2017-09-06 16:30] twangboy commented on #43334
@nkrishnakishor It looks like you don't have `gitpython` installed on your master....

[2017-09-06 16:42] terminalmage commented on #43334
Yeah, the runner only tries to use a `git.latest` state if neither GitPython nor Pygit2 is installed. This does look like a legit bug with availability of the `__env__` dunder in states initiated from within runners. However, installing either GitPython or Pygit2 should allow you to work around this.

[2017-09-06 16:57] Ch3LL commented on #43365
Looks like i can replicate this on mac 10.12. When i look at debug logs:

[code]

`launchctl list -x` was removed in yosemite and above. Looks like this PR https://github.com/saltstack/salt/pull/30381 added a workaround for this but its not working in seirra.

I did notice there is a mac_service module as well. if you set service: mac_service does that work?

[2017-09-06 16:59] Ch3LL commented on #43367
@garethgreenaway can you comment here? Is this behavior on purpose or does it need to be switched back?

[2017-09-06 17:13] Ch3LL commented on #43368
yes as @damon-atkins pointed out we already have the ability to load balance masters without a loadbalancer in front of them with the docs he pointed you to.

I am not sure if we support the master failover how you have it setup in front of a load balancer though. ping @saltstack/team-core do you know if this is a possibility currently within salt?

[2017-09-06 17:33] rgcosma opened #43373 "use keyword breaks sls_id"
### Description of Issue/Question
When one state has a 'use' clause, sls_id does not read it and fails. I find sls_id very useful for debugging, and while state.highstate does work as expected, this would be much appreciated.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Single SLS file, in this example related to MySQL:

[code]

The state checks

[2017-09-06 17:34] vavrfam commented on #43284
Problem with the approach of checking job `saltutils.find_job` is that job could be done right after
`salt-run jobs.exit_success` check and before `saltutils.find_job` is executed, in which case, it would report as job is not running on a minion.

we dont have any way to run both of these in one synchronized transaction, so we cannot depend on the `saltutils.find_job` results.

[2017-09-06 17:48] ghost opened #43375 "salt-call grains.get evaluates entire pillar on salt master"
### Description of Issue/Question

Running `salt-call grains.get roles` on a minion causes the master to parse and evaluate all pillars when it should just be reading from `/etc/salt/grains` on the minion? This causes slow execution for simple operations like `grains.get` and high CPU load on the master.

### Steps to Reproduce Issue

    ~$ time salt-call grains.get roles
    local:
        - abc

[2017-09-06 17:52] #34458 closed

[2017-09-06 18:47] gtmanfred commented on #43284
you could run saltutils.find_job first, and if it is not running, then
check jobs.exit_success.

Then you will know that it is not running, but hasn't returned.

On Wed, Sep 6, 2017 at 11:34 AM, vavrfam <notifications@github.com> wrote:

[2017-09-06 19:01] Ch3LL commented on #43369
@stamak i'm having a hard time replicating this. I even looped through running that command 200 times and I never saw the error. Did you recently upgrade from a different version of salt or any other possible factors that could contribute to seeing this error?

ping @saltstack/team-netapi any ideas here as well?

[2017-09-06 19:17] peterloron commented on #24925
I have a state which installs python-pip using the pkg salt module, and then docker-py using the pip salt module. Following that I run a docker image using dockerng. I can see that docker-py gets installed, but the call to run the image fails because it doesn't see that docker-py is available. The pkg and pip calls have 'reload_modules: True'. This state is being triggered via reactor when salt-cl

[2017-09-06 19:30] gzcwnk commented on #42656
Hi,

Still cannot get the salt-minion to run.    :(

"on vuwunicocatd001 I have updated salt and salt-minion to 2017.7.1-1, but this did not help.
salt-minion still fails to start with

###
[root@vuwunicocatd001 ~]# /etc/rc.d/init.d/salt-minion start
ERROR: Unable to look-up config values for /etc/salt
###

[2017-09-06 19:41] Ch3LL commented on #43364
@pgporada

If you quote 42 in the state file like so:

[code]

do you get that error?

ping @thatch45 do we want to be able to handle integers within the register? or should everything be handled as a string?

[2017-09-06 19:43] thatch45 commented on #43364
@pgporada I would accept a PR to add an isinstance check for the register so it could take in an int. That would be the quickest way to get this fixed.

[2017-09-06 19:48] pgporada commented on #43364
@Ch3LL
Yes, quoting it adds it to the register correctly. I should have updated the ticket.

@thatch45
I can do that.

[2017-09-06 19:48] Ch3LL commented on #43373
I agree we should be including the requisites in particular use here when calling sls_id. Do you know if this was working previously?

[2017-09-06 19:49] dmurphy18 commented on #42656
@gzcwnk Wonder about the access rights along all of the path /etc/salt/minion, that is, minion might be accessible but wonder about _etc_ and _salt_ access rights ?

[2017-09-06 19:53] thatch45 commented on #43364
Awesome, thanks :)

[2017-09-06 20:01] Ch3LL commented on #43305
If you are attempting to fetch this data via state/execution modules you should be able to pass seperate mysql credentials as kwargs to the state like so

[code]

does that help your use case?

[2017-09-06 20:03] #43133 closed

[2017-09-06 20:42] gzcwnk commented on #42656
Well on a working server,

###
[jonesst1@vuwunicossj0001 ~]$ cd /etc/
[jonesst1@vuwunicossj0001 etc]$ ls -l salt
total 124
-rw-r-----. 1 root root  2624 Aug  8 05:07 cloud
drwxr-xr-x. 2 root root     6 Aug  8 07:35 cloud.conf.d
drwxr-xr-x. 2 root root     6 Aug  8 07:35 cloud.deploy.d
drwxr-xr-x. 2 root root     6 Aug  8 07:35 cloud.maps.d
drwxr-xr-x. 2 root root     6 Aug  8 07:35 cloud.profiles.

[2017-09-06 20:43] gzcwnk commented on #42656
[root@vuwunicocatd001 etc]# getenforce
Permissive
[root@vuwunicocatd001 etc]#

[2017-09-06 20:44] gzcwnk commented on #42656
Nothing in logs high lighting a denail of access

[2017-09-06 20:47] gzcwnk commented on #42656
trying a debug and I get,

###
[root@vuwunicocatd001 ~]# salt-minion -l debug
Traceback (most recent call last):
  File "/usr/bin/salt-minion", line 6, in <module>
    from salt.scripts import salt_minion
ImportError: No module named salt.scripts
[root@vuwunicocatd001 ~]#
###

[2017-09-06 21:27] gzcwnk commented on #42656
###
[root@vuwunicocatd001 ~]# bash -x /etc/init.d/salt-minion restart
+ : /usr/bin
+ : /etc
+ : root
+ SALTMINION=/usr/bin/salt-minion
+ SALTCALL=/usr/bin/salt-call
+ : '
root /etc/salt
'
+ SALTMINION_ARGS=
+ SALTMINION_TIMEOUT=30
+ SALTMINION_TICK=1
+ SERVICE=salt-minion
+ '[' -f /etc/default/salt ']'
+ '[' -f /etc/sysconfig/salt ']'
+ RETVAL=0
+ NS_NOTRIM=--notrim
+ ERROR_TO_DEVNULL=/dev/null
+

[2017-09-06 22:50] sbreidba commented on #43328
You are my hero.

[2017-09-06 22:57] dmurphy18 commented on #42656
@gzcwnk Given this is Redhat 6, wondering if you use PYTHONPATH ?. The files  salt.scripts should be available from /usr/lib/python2.7/site-packages but if PYTHONPATH is set to something other than defaults then that could prevent these scripts from being reached.  Can you try adding  **_/usr/lib/python2.7/site-packages_** to PYTHONPATH and try again.

[2017-09-06 23:10] gzcwnk commented on #42656
[root@vuwunicocatd001 ~]# echo $PYTHONPATH

[root@vuwunicocatd001 ~]#

[2017-09-06 23:10] gzcwnk commented on #42656
I have no idea what python path is

[2017-09-06 23:13] twangboy commented on #43224
@evannadeau I'm still unable to replicate this on my box. Are there any custom modules, states, etc you're using? Those would usually be in `/srv/salt/_modules`, `/srv/salt/_states` on the master.

Also, there is a problem with your Jinja above... should be:
[code]

The salty way to do this though would be just:
[code]
No need to check if the directories exist... If they do, it will say they are i

[2017-09-07 02:46] V3XATI0N opened #43381 "Sharing minion data cache causes false errors in returns"
### Description of Issue/Question
When multiple masters share a data cache (redis in my case), targeting a subset of minions with a module returns successfully for the targeted minions. However, all minions that were not included in the target also return with a `false` value, and this causes meta-processes watching salt's exit code for errors to think something has gone wrong.

Masters sharing a

[2017-09-07 03:19] boltronics commented on #23518
Still in 2017.7.1.

Is this just a simple matter of changing the `wait()` function arguments in the event state module to accept **kwargs? Or is there something more required?

[2017-09-07 04:21] lyddragon opened #43382 "Error: Unable to manage file: Jinja variable 'dict object' has no attribute"
## Env:
[code]
## Pillar:
[code]

## Salt: zookeeper_configure.sls
[code]

### log4j.properties
[code]

## run
[code]
## Result:
[code]

## Retry Result:
[code]

[2017-09-07 04:22] lyddragon commented on #43382
# Another problem:

## zookeeper_cluster2_deploy.sls
[code]
## run
[code]

[2017-09-07 05:58] PredatorVI opened #43383 "Feature Request: Provide ability to determine status of git_pillar.update call."
I'm using saltstack 2017.7.1

According to https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.git_pillar.html:

Since the "False" return status is overloaded, it is impossible to determine if the operation failed or just didn't have any updates, especially in a programmatic fashion via the Salt-Api.

In my continuous deployment process I push a pillar updates via the GitLab RestAPI

[2017-09-07 06:10] MatthiasKuehneEllerhold commented on #43365
@Ch3LL The module `mac_service` works on 10.12 and on 10.6! Thanks!

I've got just a few more questions for my own clarity:
Am I supposed to override the service module for each minion or should salt do this automatically? After removing the override its back to "is already enabled and dead".

Reading the source code of [mac_service.py](https://github.com/saltstack/salt/blob/develop/salt/modules/m

[2017-09-07 07:25] duk3luk3 opened #43384 "salt-ssh --regen-thin implies --wipe"
### Description of Issue/Question

Calling salt-ssh with --thin also results in --wipe being applied (i.e. the salt deployment dir is deleted after the salt run).

This is counter-intuitive and very unhelpful when debugging.

### Setup

Irrelevant

### Steps to Reproduce Issue

Execute any `salt-ssh` run without --wipe and observe that the deployment dir on the minion (`/var/tmp/.<username>_<hash>

[2017-09-07 07:26] fzk-rec commented on #43368
Thanks for your answer guys, but:
@damon-atkins : yes I have read all the HA/multimaster docs I could find :)
I think however, you might be onto something. The AWS ELB is unable to provide session stickiness for TCP ports. So, maybe you're right and the minions get sent to Master1 on port 4505 and to Master2 on port 4506. I guess that would cause problems.

@Ch3LL : The problem is that your view o

[2017-09-07 07:30] shallot commented on #4695
This may have been duplicated in https://github.com/saltstack/salt/issues/10723

[2017-09-07 07:37] nkrishnakishor commented on #43334
Thanks @twangboy after installing GitPython __env__ error cleared but when I run `salt salt-minion1 state.highstate` i get error as below

Salt-minion1:
       Minion did not return. [ No response]

Complete debug report is as below.

`salt salt-minion1 state.highstate -l debug`

[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: 172.

[2017-09-07 07:41] nkrishnakishor commented on #43334
One more thing how can i overcome the warning `[WARNING ] Insecure logging configuration detected! Sensitive data may be logged.` which is showing in debug mode. Anything need to be modified in master file ?

[2017-09-07 07:43] duk3luk3 commented on #43384
This was introduced in https://github.com/saltstack/salt/commit/265b1dd7fba96a3ee29edf5ffd9d86c1b50c9dc0 - I don't quite see the reason for it...

[2017-09-07 08:19] duk3luk3 opened #43385 "salt-ssh minion logfile location is hard-coded"
### Description of Issue/Question

Salt-SSH hardcodes the location of the minion logfile by overriding any options set in the config.

This means there is no way to get the minion logs when using --wipe, since the logs will be inside the wiped deployment directory.

The ideal solution here would be to transfer the minion log back to the master after execution, so that '--wipe' can actually be trus

[2017-09-07 08:43] varun292006 commented on #43305
Hello Megan,

Thanks for the suggestion.
I am a bit confused with the  `password `and `connection_pass` option that you have mentioned above. Are they both required?
Although, with few hit and trials the below snippet worked for me :)

[code]

I had to mention both `database `(if this is removed then it complains about having atleast one database parameter) and `connection_db `(if this is not ment

[2017-09-07 09:05] rgcosma commented on #43373
Same error with
Source RPM  : salt-2016.11.7-1.el7.src.rpm

[2017-09-07 09:40] bicofino commented on #23518
Not clear, still works for me on 2017.7.1.

[2017-09-07 09:42] ninja- commented on #24925
@peterloron docker-ng no longer exists as a module in salt, it was split to 4 new modules. are you using the latest salt version?

[2017-09-07 09:53] golokeshpatra45 commented on #36320
I tried to replicate the issue. But on salt version 2017.7.0

![image](https://user-images.githubusercontent.com/26374269/30157627-72ab7f64-93e0-11e7-8ae1-6ab996a9beea.png)

[2017-09-07 10:35] rajvidhimar opened #43386 "Scheduler's job_kwargs not working as expected."
### Description of Issue/Question
I am adding a scheduler job on my junos proxy minion. I add a job giving certain job_kwargs.
After a while when I list the job I observe bogus data (most probably salt job information) is added to the job_kwargs of my job. These bogus values mess up the module execution.

### Setup
No extra setup. Just a salt master and a junos proxy minion (the issue would mostly

[2017-09-07 11:09] aogier opened #43387 "genesis.bootstrap debootstrap fails if no qemu specified"
### Description of Issue/Question

Hi, I've just noticed that genesis debootstrap process fail if no static_qemu is passed on state.

Relevant traceback:

[code]

Since qemu does not seem to be necessary in order to finish chroot install, I'd like to fix it making `static_qemu` paramter actually optional, eg. skipping [executable copy](https://github.com/saltstack/salt/blob/fc587f784a15b0c3f3dcf24

[2017-09-07 11:25] vnitinv commented on #43386
Also it salt keeps appending items into job_kwargs after certain interval hence it keeps growing over the time.

[2017-09-07 11:26] vnitinv commented on #43386
@mirceaulinic @cachedout Can you please help us with this issue.

[2017-09-07 12:56] gtmanfred commented on #43368
I would be very surprised if the zeromq transport worked behind an ELB.

You might try the tcp transport layer, and see if that one works?

The better solution would be to possibly use `master_type: func` which you could have a custom execution module that looks up your masters in the aws api and return a list of all the masters, and then opens an Active-Active connection to each one of the master

[2017-09-07 12:57] gtmanfred commented on #43334
That will happen if you log with debug mode.

Because it is debug, passwords and stuff could be logged.  Once troubleshooting is done, you will want to change the log_level back to warn.

[2017-09-07 14:11] fzk-rec commented on #43368
@gtmanfred thx for the tip with the master_type: func! I didn't know about that, but I believe this could solve our problem. We could 'autodiscover' the salt-masters via EC2-Tag and simply add their IPs as a list to the minions and have the salt-minion restart on a regular basis.

Just two questions:
- Is there any example available of how we would call our custom execution module and where that w

[2017-09-07 14:17] ikoruk opened #43388 "ini.options_present will crash if there is nothing to change"
### Description of Issue/Question
When running ini.options_present on MacOS, if the keys are different or don't exist, the command will work as expected. However, when running again with no changes needed it crashes with this trace:

[code]

### Setup
[code]

### Steps to Reproduce Issue
$ `touch ~/test.ini`
Then using `salt-call` on the sls above, first time it is successful. Second time the cras

[2017-09-07 14:25] rickh563 commented on #43383
ZD-1742

[2017-09-07 14:34] gtmanfred commented on #43368
1) you would need to provide it to the minion in the modules extension modules directory.

https://docs.saltstack.com/en/latest/ref/file_server/dynamic-modules.html

One problem is that you will need to sync this before you can run the function as the startup type, so you might need to have it in the fileserver for a masterless minion, and call `salt-call --local saltutils.sync_modules` first and

[2017-09-07 14:59] fzk-rec commented on #43368
Cool beans! I will definately look into that tomorrow. Thanks alot!

Not sure if I want to use that experimental TCP feature :)

[2017-09-07 15:00] terminalmage commented on #42681
I agree, this should not be seen as a feature request. And yes, it appears to be a duplicate of https://github.com/saltstack/salt/issues/38971. I'm working on this now.

[2017-09-07 15:26] mirceaulinic opened #43391 "Specified SLS in environment 'base' is not available on the salt master"
### Description of Issue/Question

I'm sure this has been asked many many times (first page on Google provides already a couple of references). But I couldn't see an option to ignore missing pillars when running the state.

When retrieving the pillar, you can see the error, but the execution itself doesn't fail:

[code]

But running a state, it fails:

[code]

I was wondering if there would be any

[2017-09-07 15:41] Ch3LL commented on #43365
@MatthiasKuehneEllerhold i'm glad mac_service is working for you!

Unfortunately we do not support 10.6. We only support Mac 10.11 and above going forward so I cannot speak to the functionality to the 10.6 minion. One way that I troubleshoot salt-ssh is I will run my salt-ssh command with `-ltrace`. That will show me the exact command that it is running on the minion. Then I will run that `salt-ca

[2017-09-07 15:48] damon-atkins commented on #43368
I would suggest you will need scripts as part of installing salt that work out where the master is and call  salt-call --master=abc --local saltutils.sync_modules  as suggest by gtmanfred  before swamping to master_type: func

also look at https://docs.saltstack.com/en/latest/topics/cloud/aws.html

Update this issue when you work out the best solution.

[2017-09-07 16:58] Ch3LL commented on #39881
we do not currently have any progress of the issue as other issues are higher priority. Maybe my priority analysis of the issue was incorrect but I viewed this issue as an issue that would not bee seen by most users ( hence the P4 label) because it only did not work when including a `import_text` that makes a call to a gitfs file while using salt-ssh. Did i not entirely understand the use case? Do

[2017-09-07 16:59] Ch3LL commented on #43267
Apologies for the late reply, looks like you figured it out (2016.11 is definitely the best place)

[2017-09-07 17:05] twangboy commented on #43334
@nkrishnakishor,

You might try increasing the time the master will wait for a minion to return... `salt -t 20 salt-minion1 state.highstate`. Sometimes if there's a processor intensive task, the minion won't ping back telling the master it's still working on something, so the salt cli will timeout and display the `No Response` message as seen above. The job usually does finish eventually and you c

[2017-09-07 17:29] garethgreenaway commented on #43375
@grobinson-blockchain Thanks for the report.  You're seeing the pillar values being rendered because you're using `salt-call`.  When `salt-call` runs it calls all the maintenance tasks that are normal run on startup of a minion, including the call to update pillar.  Using the `salt` command you shouldn't see the pillar render.

[2017-09-07 17:38] garethgreenaway commented on #43375
More information available here: https://docs.saltstack.com/en/latest/topics/pillar/#in-memory-pillar-data-vs-on-demand-pillar-data

[2017-09-07 17:46] garethgreenaway commented on #43382
@lyddragon Thanks for the report.  Can you confirm that the pillar values are available when you run `pillar.items` or `pillar.get` against the minion in question?

[2017-09-07 17:55] garethgreenaway commented on #43384
Waiting for @thatch45 to chime in on this one.

[2017-09-07 18:17] garethgreenaway commented on #43385
@duk3luk3 Thanks for the report.  Approving this for a future feature addition.

[2017-09-07 18:19] clallen commented on #37994
It does work from reactor and command line, but not from scheduler.  Even though the "queue" option shows to be set:

'''
2017-09-07 12:23:22,836 [salt.minion ][DEBUG   ][43852] Command details {'tgt_type': 'grain', 'jid': '20170907122322809619', 'tgt': 'ni_unix:functions:nagios_active', 'ret': '', 'user': 'root', 'arg': ['nagios.disable_host', {'queue': True, 'pillar': {'hostid': 'wonderboy7', 'd

[2017-09-07 18:41] VShell commented on #39881
@Ch3LL If I recall correctly, the same bug happens with Jinja's `import` directive, and thus breaks a number of the salt-formula repositories (I believe I ran into the issue with nginx-formula). My workaround was to vendor the repositories within my own Salt config repo, rather than referencing them with the gitfs backend.

[2017-09-07 18:49] garethgreenaway commented on #43386
@vnitinv Thanks for the report.  Will take a look at why this is happening.

[2017-09-07 18:53] garethgreenaway commented on #43387
@aogier Thanks for the report and the PR!

[2017-09-07 18:57] garethgreenaway commented on #43388
@ikoruk Thanks for the report.  I haven't been able to reproduce this issue so I suspect it's only happening on MacOS.  Have you managed to reproduce it anywhere else?

[2017-09-07 19:00] garethgreenaway commented on #43391
@mirceaulinic I think what you want is the jinja option `- ignore_missing: True` added to your pillar top.sls file.

[2017-09-07 19:15] mirceaulinic commented on #43391
Ooh, that's very nice. I've searched for this and now I see it, it looks like just what I need. Thanks a lot @garethgreenaway.
However, as I couldn't find it (or, at least, it wasn't immediately obvious where to look for this option), I am thinking that others may have the same questions. Where would be the right place to document this? It doesn't seem to be explained under https://docs.saltstack.

[2017-09-07 19:26] mirceaulinic opened #43394 "More data in the auth events"
### Description of Issue/Question

At the time being, the authentication event has the following details:

[code]

In order to be able to correctly and safely determine if the minion you are going to accept automatically is _really_ the one you want, there it would be needed at least the IP address where the minion runs. I can see several other interesting details that might help: hostname, IPv6 a

[2017-09-07 19:26] tsaridas opened #43395 "StreamClosedError"
### Description of Issue/Question
On specific VMs I am getting the below error message.

[code]

Looking at the code it made sense to me to add retries to IPCMessageClient since they are not implemented.
https://github.com/saltstack/salt/blob/develop/salt/transport/ipc.py#L414

I would like to suggest the following

[code]
@DmitryKuzmenko , @skizunov do you think this is the proper solution ?
Any

[2017-09-07 19:29] mirceaulinic commented on #43241
Closed via https://github.com/saltstack/salt/commit/1fc730773521405c3e850d055627b78a64c0a35a

[2017-09-07 19:29] #43241 closed

[2017-09-07 19:37] gtmanfred commented on #43394
This would be great to have.

But this is a duplicate of #37712

Thanks!
Daniel

[2017-09-07 19:37] #43394 closed

[2017-09-07 19:42] skizunov commented on #43395
It is possible that the following scenario is happening:

1. Talker A creates a socket connection to Listener B
2. Listener B closes the connection with Talker A, likely because Listener B is shutting down.
3. Talker A tries to write something to Listener B, but the connection is closed, hence you get that exception.

Do you see this exception when something is shutting down? If so, perhaps a bett

[2017-09-07 19:51] mirceaulinic commented on #37712
I had the same question under https://github.com/saltstack/salt/issues/43394.

I understand @haeac demands regarding the addition of static data. I'd be tempted to suggest this together with several other details (by default enabled, or toggled through a config option flag), details that the minion is able to collect dynamicall and has access to, e.g., fqdn, IPv4, IPv6 etc.

But I'd love to have t

[2017-09-07 19:55] gtmanfred commented on #37712
@saltstack/team-core Is this possible ^^

Would we be able to reliably get information like the ip address or other stuff from the minion that is authenticating, to provide in the auth event?

Thanks,
Daniel

[2017-09-07 20:04] mkurtak opened #43396 "yumpkg pkg.installed slowed down due to wildcard namig support"
### Description of Issue/Question
salt added support for "WILDCARD VERSIONS", but it slowed down pkg.installed state. I have identified the cause in https://github.com/terminalmage/salt/blob/da7d3ecec08a79ef95c3bf0d89ad70ef66290213/salt/modules/yumpkg.py#L1215

pkg.install function started to use list_repo_pkgs in pkg_install even if no wildcards are used. I can create a pull request, but my pytho

[2017-09-07 20:06] #43328 closed

[2017-09-07 20:27] edhgoose opened #43397 "404 errors when attempting to install Salt on AWS Linux."
### Description of Issue/Question

I'm attempting to upgrade our version of Salt. I've removed it, and am following these instructions:
http://repo.saltstack.com/#amzn as per https://github.com/saltstack/salt/issues/27820#issuecomment-318109353 by @dmurphy18

### Setup
[code]

### Steps to Reproduce Issue
I've just executed the following steps:
[code]

But I get a series of 404s. The packages don'

[2017-09-07 20:37] garethgreenaway commented on #43386
@vnitinv Looks like this is the expected behavior, those values should be in kwargs and it's related to publishing data back to the Salt master.  But you should not be seeing multiple nested kwargs dictionaries if that is what you are seeing.

[2017-09-07 20:44] tsaridas commented on #43395
I failed to mention that when minion starts if goes to a loop and always shows this exception and never succeeds having a proper connection to the master but receives its public key.

In my setup I have multiple masters with failover + retries but even if I remove the failover I get the same exception.

From the exception but also from logging self.stream.write(pack)  I can see that this is caused

[2017-09-07 20:51] dmurphy18 commented on #43397
Just tried on a clean Amazon Linux machine and salt-master installed without error.  Did notice this:

Downloading packages:
warning: /var/cache/yum/x86_64/latest/salt-amzn-latest/packages/python27-msgpack-0.4.6-2.amzn1.x86_64.rpm: Header V4 RSA/SHA256 Signature, key ID de57bfbe: NOKEY      ]  0.0 B/s |    0 B  --:--:-- ETA
Public key for python27-msgpack-0.4.6-2.amzn1.x86_64.rpm is not installed

[2017-09-07 21:09] edhgoose commented on #43397
I've just tried again with the yum clean all on a different machine, same outcome. Here's the full output.

[code]

[2017-09-07 21:29] skizunov commented on #43395
Any idea why there is a write failure? The connection portion must succeed before it tries to write, so the other side must be available. It doesn't make sense that the connection would close before the write, unless the other side malfunctioned somehow. We probably should find out and address the underlying problem.

[2017-09-07 21:47] techhat commented on #43318
We may add fields in the future, but I don't currently see a need to change existing fields.

What do you mean by "providers"?

The `SPM-METADATA` file is based on `yum`'s `METADATA` file, though obviously the format is different. How does artifactory serve `yum` `METADATA` files?

[2017-09-07 21:51] dmurphy18 commented on #43397
Can you perform yum repolist and report the output

[2017-09-07 23:20] peterloron commented on #41581
Yes, we need a login (explicit or otherwise) in states.dockerng

[2017-09-07 23:35] gtmanfred commented on #43318
Potentially we could split spm into its own package?
On Thu, Sep 7, 2017 at 3:47 PM Joseph Hall <notifications@github.com> wrote:

[2017-09-07 23:40] dstensnes commented on #33669
This is annoying. It partially breaks usage of this module for me...
Can we please have a fix for this soon?

[2017-09-07 23:57] kfix opened #43405 "LXD-created LXC container is detected as a Xen domU"
### Description of Issue/Question

### Setup
LXD Container host:
* Ubuntu 16.04 w/HWE kernel
[code]

LXD container:
* Ubuntu 14.04 w/salt installed from mirror of saltstack deb repo
* /sys, /proc/sys, /proc/bus are bind-mounted from host
* no states and pillars are applied

### Steps to Reproduce Issue
[code]
### Versions Report
[code]

The problematic detection is here:
https://github.com/saltsta

[2017-09-08 00:05] kfix commented on #43405
running `sudo sysctl -w kernel.dmesg_restrict=1` on the host will block non-host-root users from accessing the log-ring and `virtual: lxc` is detected again. but that is a drastic move to prevent this misunderstanding.

[2017-09-08 00:33] thatch45 commented on #43384
Wipe is here to make sure that any old thins that are deployed are removed afterward so that the new thin is always used in future runs. But this was before I had fixed a few lingering collisions with thin caching on the target system, we should be able to take this added wipe out

[2017-09-08 01:04] duk3luk3 commented on #43385
Would it be sufficient to simply move the log_file option from the post-apply step to the pre-apply step?

[2017-09-08 01:46] aaronm-cloudtek commented on #42490
It was missing! If I create it and restart the salt-master service everything works properly.

Until the next reboot anyway. So I added an `ExecStartPre` to the salt-master unit which creates that directory manually, and now it comes up normally on boot.

Seems to be somehow caused by having my `file_roots` on NFS volumes? If I remove that from my config the problem goes away.

Maybe some kind of

[2017-09-08 02:54] brianthelion opened #43407 ""Reactor System # Advanced state system capabilities" example throws pathological stack trace"
### Description of Issue/Question

This [example](https://docs.saltstack.com/en/latest/topics/reactor/#advanced-state-system-capabilities
) given in the "Reactor System" docs is meant to be a toy, but because it has all the right ligature it should at least attempt to run all the files provided. Unfortunately, it does not. Instead we get the following stack trace in the master logs:

[code]

### S

[2017-09-08 02:57] brianthelion commented on #43407
Note that the parameter that the stack trace is complaining about -- `mods` -- is present in the reactor state file. The problem behavior can also be observed with other, non-toy examples.

[2017-09-08 04:07] vnitinv commented on #43386
"But you should not be seeing multiple nested kwargs dictionaries if that is what you are seeing."

@garethgreenaway Yes, this is our concern and it keeps growing.

[2017-09-08 04:26] garethgreenaway commented on #43386
Can you paste a copy of what the schedule list looks like with the nested kwargs?

[2017-09-08 04:40] rajvidhimar commented on #43386
@garethgreenaway This is what the list looks like: (I fire the schedule.list after every 20-30 secs)

[code]

[2017-09-08 06:16] marawu commented on #30323
+1

[2017-09-08 06:58] cetra3 opened #43408 "file.managed always redownloads the file"
### Description of Issue/Question

We have a few `file.managed` states of which some files fit in the cache, and some don't.   It appears that in newer versions (`2017.7.1`) it will always download the file from HTTP if it doesn't live in the salt cache.

The checksum of the file is the same as the one on the remote server, and I can see it getting the checksum from the source_hash parameter, but

[2017-09-08 07:25] zomeck commented on #43388
I can reproduce using Ubuntu Xenial (using 2017.7.1 installed through pip).

Doing as described I get the following stacktrace when no changes need to be applied to the file:

[code]

Here you can see my versions report:
[code]

[2017-09-08 07:57] jryberg commented on #42979
I'm working in almost 100% sealed of environments and every single package needs to be imported to a special repository.

pip does not work since pip need Internet access to public repositories. We will have to convert pip to rpm for every single package we need and also maintain it since we will not get security updates this way.

It's no concerns, it's a real fact that something very important w

[2017-09-08 08:38] tsaridas commented on #43395
For all actions the minion seems to be connected until it reaches

https://github.com/saltstack/salt/blob/develop/salt/minion.py#L1155

I don't have master_failback enabled so it tries to delete it.

https://github.com/saltstack/salt/blob/develop/salt/minion.py#L1169

After this event the connections breaks and I get the exception.

@DmitryKuzmenko can you help please ?

[2017-09-08 08:58] b3hni4 opened #43409 "Unclear documentation for mysql returner/Wrong information provided"
### Description of Issue/Question
Unclear documentation for mysql returner

In salt 2016.11.7, mysql returner was updated so it purges old data. In mysql returner documentation it is stated that "Should you wish the returner data to be cleaned out every so often, set keep_jobs to the number of hours for the jobs to live in the tables. **Setting it to 0 or leaving it unset will cause the data to st

[2017-09-08 08:58] damon-atkins commented on #42979
I would suggest Salt team need to create more RPM's for python 2.7 on old OS for to support mysql and other items that have python interfaces and are part of salt modules.
e.g.  Install RHEL 6, and compile up the extra python 2.7 modules which currently come with RHEL python2.6 that are need by all salt modules. It would give a better customer experience.

[2017-09-08 11:41] lorengordon commented on #42979
@jryberg No need to convert python packages to rpm. You can use pip to create a local repo, then distribute the local repo and install the packages and their dependencies from that.

https://stackoverflow.com/a/22093005

You can also re-host the repo on an internal web server as a custom index server, but that's a little trickier.

[2017-09-08 12:34] edhgoose commented on #43397
I've resolved my issue - I'm not sure if it highlights why it was happening but I've removed python26 (`yum remove python26`) and that's enabled the latest install to work as intended.

Here's the script I've executed across our fleet:

[code]

And now everything is working as intended. I'm happy for you to close this @dmurphy18 if you'd like.

[2017-09-08 12:35] rubensfig opened #43412 "Outdated documentation for Openstack configuration"
### Description of Issue/Question

While reading the salt cloud configuration for openstack, it seems that [this](https://docs.saltstack.com/en/latest/topics/cloud/config.html#openstack)  is a bit outdated, and maybe could be merged with [this](https://docs.saltstack.com/en/latest/ref/clouds/all/salt.cloud.clouds.nova.html#module-salt.cloud.clouds.nova), or maybe some reference could be made for t

[2017-09-08 13:11] grobinson-blockchain commented on #43375
Is it possible to get the grains from the minion without rendering the pillar using `salt-call`? There is no `salt` command on the minion as the `salt` command is in the salt master package.

[2017-09-08 14:00] Set4now opened #43413 "salt master "minion did not get response" while executing custom modules for oracle"
Very strange issue:-

i have a custom module (using sqlalchemy) for databases. (supporting mysql,oracle,postgres,msql)
now the custom module works.
"salt-call  modulename" and "salt master modulename" is working for mysql.
salt-call is working for oracle as well.
but when i use "salt master  for oracle ..it says minion did not response.
salt master test.ping is true
salt-call works fine everytime.

[2017-09-08 14:13] gtmanfred commented on #42490
The easiest solution would be to make `/etc/systemd/system/salt-master.service.d/require.conf` and add in

[code]

Just to make sure that is the solution? because I was unable to replicate this error at all, even with nfs as the file_roots setting.

[2017-09-08 14:19] gtmanfred commented on #43412
That is still the correct documentation for configuring the openstack cloud driver, but not the nova cloud driver.

We are deleting the openstack cloud driver in the next major release and I am working on rewriting it, and it will replace the openstack and nova drivers.

I will make sure this gets replaced.

Thanks,
Daniel

[2017-09-08 14:34] gtmanfred commented on #43405
I guess you are running on a virtual machine that is running on a xen server?

Because the only way it would get there was if the lxc container had

[code]

[code]

you could try applying something like this and moving the lxc detection to the end?  since it seems like it is getting overwritten by the xen virtual subtype.

If that works we can submit a patch and try and make sure it doesn't break

[2017-09-08 14:37] gtmanfred commented on #43409
Yup, we need to update that documentation and have it say the default is 24 hours.

This is the way it has always been, by default the jobs were cleared out after 24 hours.

https://github.com/saltstack/salt/blob/0.11/salt/config.py#L323

[2017-09-08 14:38] gtmanfred commented on #43407
This is a known issue.

If you move mods inside of the `kwarg` option, it will be fixed.

We are working on fixing this all in 2017.7.2

[2017-09-08 14:39] gtmanfred commented on #43407
https://github.com/saltstack/salt/pull/43330

This is a duplicate of https://github.com/saltstack/salt/issues/43077

[2017-09-08 14:39] #43407 closed

[2017-09-08 14:40] mattLLVW commented on #42165
It seems that even through `'env_order': ['base', 'sys']` is passed as an opts to the highstate, and `salt.state.get_tops` respect the env_order and return tops in the right order:

`DefaultOrderedDict(<type 'list'>, DefaultOrderedDict([('base', [OrderedDict([('base', OrderedDict([('*', ['install'])]))])]), ('sys', [OrderedDict([('sys', OrderedDict([('sys.*', ['install'])]))])])]))`,

it's `top_ma

[2017-09-08 14:43] gtmanfred commented on #43408
This is a duplicate of https://github.com/saltstack/salt/issues/42681#issuecomment-327826563

Thanks,
Daniel

[2017-09-08 14:43] #43408 closed

[2017-09-08 14:45] gtmanfred commented on #43413
Can you set `log_level: debug` on the minion, and then restart the `salt-minion` process, and provide the debug output while the custom module attempts to run, and is triggered from the salt-master?

Thanks,
Daniel

[2017-09-08 14:46] msupinodn opened #43414 "minions unreachable when master down in multi-master mode"
### Description of Issue/Question
all minions stop responding when taking down one of 2 salt-masters in multi-master setup

### Setup
2 salt-masters, config in minion points to both (same master.pub and master.pem)

### Steps to Reproduce Issue
setup 2 masters, connect a minion to both, shutdown one of them , try to run test.ping from the active one

### Versions Report
Salt Version:
           Sa

[2017-09-08 14:57] gtmanfred commented on #43397
Thanks @dmurphy18

[2017-09-08 14:57] #43397 closed

[2017-09-08 14:59] gtmanfred commented on #43396
@terminalmage does this seem reasonable to you?

Thanks,
Daniel

[2017-09-08 15:02] Set4now commented on #43413
I did it and here is the same response.
root@cri-dev-postgres:~# salt master db.db_create_user  user="suman" password="set4now" ci_id="sub-1504158985538" dbname="GGG" -l debug
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Including configuration from '/etc/salt/master.d/integration.conf'
[DEBUG   ] Reading configuration from /etc/salt/master.d/integration.conf
[DEBUG   ] Using

[2017-09-08 15:05] gtmanfred commented on #43414
do you have `ping_interval` set?

If yes, if you disable it, does the error go away?

I think this is a duplicate of https://github.com/saltstack/salt/pull/42848

And should be fixed in 2016.11.8, and 2017.7.2?

Thanks,
Daniel

[2017-09-08 15:05] gtmanfred commented on #43413
That is the log message from the master, I want the log messages from /var/log/salt/minion on the minion with log_level: debug set on the minion

[2017-09-08 15:23] msupinodn commented on #43414
I dont have ping_interval set, but i have beacons configured, ill remove them and recheck (saw reference to it on #42848)

[2017-09-08 15:29] chrish42 commented on #16056
Still a problem, as far as I can see. I don't see anything in the code in `salt.modules.shadow` or `salt.state.user` that makes sure there are no colons in the encoded password hash before editing /etc/shadow.

[2017-09-08 15:39] msupinodn commented on #43414
seems to be resolved when disabling beacons.. i can do without them for now, thanks

[2017-09-08 15:39] #43414 closed

[2017-09-08 15:42] Set4now commented on #43413
we are running this on the master it self.
There is no minion on which we are running this.
salt master db.db_create_user  user="suman" password="set4now" ci_id="sub-1504158985538" dbname="GGG" -l debug

db.py takes the database server as arg (which is an RDS instance)..the module will take this ci_id,
forms an api url, fetch data (ip,user,pass,port etc) of the database,use sqlalchemy to connect t

[2017-09-08 15:55] gtmanfred commented on #43413
You are targeting a minion called `master`  so you need to check the /var/log/salt/minion file after you run the command.  Also set `log_level: debug` in /etc/salt/minion.

[2017-09-08 15:59] Set4now commented on #43413
i already did that...here is the latest run command and the log

root@cri-dev-postgres:/etc/salt/pki/minion# salt master db.db_create_user  user="suman" password="set4now" ci_id="sub-1504158985538" dbname="GGG" -l debug
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Including configuration from '/etc/salt/master.d/integration.conf'
[DEBUG   ] Reading configuration from /etc/salt

[2017-09-08 16:05] gtmanfred commented on #43413
The debug log is quite chatty, your log snippet does not include any messages about the db module.

Can you put the whole minion log in a gist at http://gist.github.com?

Thanks,
Daniel

[2017-09-08 16:13] skizunov commented on #43395
Does this happen when running code in the `develop` branch, or are you running a released version but just referencing `develop` branch code?

[2017-09-08 16:14] skizunov commented on #43395
Nevermind, I just noticed:

Versions Report: 2016.11.5

[2017-09-08 16:21] skizunov commented on #43395
One thing that I noticed that is inconsistent with your call stack and your description of the problem is that your description references `self.schedule.delete_job` but the call stack instead has `self.schedule.add_job`. It looks like the `add_job` is from here:
https://github.com/saltstack/salt/blob/2016.11/salt/minion.py#L1128

[2017-09-08 16:30] Set4now commented on #43413
<script src="https://gist.github.com/Set4now/0c3ad101aede9804be22447c90dde7aa.js"></script>

https://gist.github.com/Set4now/0c3ad101aede9804be22447c90dde7aa

[2017-09-08 16:46] skizunov commented on #43395
Which version of tornado are you using? I know that 2016.11 wasn't tested well with tornado 4.5.x, and surprisingly, there are subtle behavior changes in the IPC/TCP transports between versions of tornado.

[2017-09-08 17:30] phileusprof opened #43416 "Issues with pam authentication def authenticate() never called"
### Description of Issue/Question
Whenever I try to do test.ping login with pam.  I get a failed to authenticate error message.  I am able to log into the salt master with the user account svcuser.
### Setup
Here is my /etc/salt/master configuration file:
rest_cherrypy:
  port: 8000
  ssl_crt: /etc/pki/tls/certs/localhost.crt
  ssl_key: /etc/pki/tls/certs/localhost.key
  debug: True
external_auth:

[2017-09-08 17:45] damon-atkins opened #43417 "win_pkg: pkg.install and pkg.remove general issues"
### Description of Issue/Question
**pkg.install**
- When "version" not provided results in installing the latest version, and install again if the latest "version" number changes If no version is provided, it should check to see if the software is installed, and if installed take no action.
- Is cache_dir True also cache_file: <file> can be set, seem both can be support at the same time . Is that

[2017-09-08 18:02] V3XATI0N commented on #43381
hello? is this thing on?

[2017-09-08 18:24] Set4now commented on #43413
update...salt master with custom modules (db.py) now returning error. (same error)
but salt-call works...
where as if i do salt master cmd.run ifconfig
it works..

[2017-09-08 18:27] gtmanfred commented on #43413
Part of what you are seeing is it looks like it is taking so long for the db function to return that the master is timing out.

can you provide me with what the module looks like so that I can replicate this?

How long does it take to run the command with salt-call?

[2017-09-08 18:32] Set4now commented on #43413
see the date time diff (50 secs) for salt-call
root@cri-dev-postgres:~# date;salt-call db.run_query template="oracle_show_client_version" ci_id="sub-1504158985538";date
Fri Sep  8 11:27:04 PDT 2017
[DEBUG   ] Configuration file path: /etc/salt/minion
[WARNING ] Insecure logging configuration detected! Sensitive data may be logged.
[DEBUG   ] Reading configuration from /etc/salt/minion
[DEBUG   ] I

[2017-09-08 18:32] Set4now commented on #43413
ignore the fatal error..

[2017-09-08 18:34] Set4now commented on #43413
def __connection(ci_id, query = None, template = None, dbname = None, pillar = None):
    #ci_details = salt.utils.cridbconnect.get_ci(ci_id)
    if template != None:
      query = salt.utils.cridbconnect.read_template(template, pillar)
      if query == False:
        msg="'Error: Template does not exist!!'"
        sys.exit(json.dumps(msg))
    ci_details = salt.utils.cridbconnect.get_ci(ci_id)

[2017-09-08 18:35] pgporada opened #43418 "Salt state for service.available"
It would be useful if `service.available` existed for salt states and not just a salt module. I have a use case where I create systemd timers, but sometimes have to change the service file that the timer triggers. The timer is unable to trigger the service file after a change because the service file has changed on disk and requires a `systemctl daemon-reload`. I can easily add in a `cmd.run "syst

[2017-09-08 18:36] Set4now commented on #43413
this module use one more modules inside  /salt/utils directory..
i have increased
gather_job_timeout: 20
timeout: 100
as well...
it above my head that if the same module works with salt-call, why its not working with salt master

[2017-09-08 18:42] gtmanfred commented on #43418
That sounds great, if you wouldn't mind submitting a PR, we would greatly appreciate it.

Thanks,
Daniel

[2017-09-08 18:51] gtmanfred commented on #43416
`'{0}.auth'` is called in salt.auth

https://github.com/saltstack/salt/blob/2016.3/salt/auth/__init__.py#L65

And then authenticate is called from the auth function.

https://github.com/saltstack/salt/blob/2016.3/salt/auth/pam.py#L196

I am also unable to reproduce this with a fresh install of 2016.3.7 on an ubuntu 14.04 server.

[code]

Did you restart the salt master after setting up the eauth?

[2017-09-08 18:52] gtmanfred commented on #43381
@saltstack/team-core do we support having a shared minion cache between multi masters?

I seem to remember a discussion that the minion data cache was not built in a way that would take multiple writers to it in mind?

Thanks,
Daniel

[2017-09-08 18:54] gtmanfred commented on #43417
@twangboy can I get your opinions on this?

Thanks,
Daniel

[2017-09-08 18:59] gtmanfred commented on #43413
It could possibly still work with the master calling it.  WHat you are probably seeing is the minion is not responding in time, but eventually sends the data back.

You can always run the salt master command with `--async`, that will give you the job id, then you can use the job id to look in the job cache for the minion response.

[2017-09-08 19:01] gtmanfred commented on #43413
If you can give me a [salt-vagrant-demo](https://github.com/UtahDave/salt-vagrant-demo) setup that can make this easy to replicate, I would appreciate it.

Or just another way to replicate this issue.

[2017-09-08 19:03] Set4now commented on #43413
root@cri-dev-postgres:~# salt master db.run_query template="oracle_show_client_version" ci_id="sub-1504158985538" -l debug
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Including configuration from '/etc/salt/master.d/integration.conf'
[DEBUG   ] Reading configuration from /etc/salt/master.d/integration.conf
[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: cri-dev-po