[2018-08-04 01:46] damon-atkins commented on #48931
This is caused by the delay in the registering updating after the installer has complete. In 2019+ version this is already fixed.  The fix is to wait/sleep a bit before calling list_pkgs after the install to give the registry a chance to update. Simple sleep(3) would catch 99% of the cases.

[2018-08-04 01:59] goetzk commented on #37799
Seems silly to have a bot close feature requests... unless the feature was completed.

[2018-08-04 11:40] ThieryLebeau opened #48937 "Problem with importing stock price on yahoo through http://ichart.finance.yahoo.com/table.csv"
Hi everyone!
I have 2 problems with this code for which I want your help please.

# Beginning of code snippet:
# Construct the Yahoo URL with the correct integer query parameters
    # for start and end dates. Note that some parameters are zero-based!
    ticker_tup = (
        ticker, start_date[1]-1, start_date[2],
        start_date[0], end_date[1]-1, end_date[2],
        end_date[0]
    )

[2018-08-04 11:54] 4815162342lost opened #48938 "kernelrelease grains and Oracle uptrack technology"
Hello,

We are using Oracle Linux 7 with **uptrack**.[ Uptrack technology ](https://ksplice.oracle.com/uptrack/guide)may able install new kernel 'on fly' without downtime and reboot.

But after that 'uname -r' command show booted, but 'not running' kernel version. For see real running kernel need run the 'uptrack-uname -r' command.

Example:
[code]

Could you please investigate this case? is it an

[2018-08-04 14:06] damon-atkins commented on #48931
The following was without the sleep added before `old = list_pkgs`. It worked in every case. I was hoping the registry would at least once take to long to update.
[code]

[2018-08-04 20:29] carnil opened #48939 "Isolated fix for CVE-2017-7893? Which releases apart 2016.3.6 fix the issue?"
Hi

While going within Debian trough a couple of CVEs for salt noticed the CVE-2017-7893 mentioned in the https://docs.saltstack.com/en/2017.7/topics/releases/2016.3.6.html which credits Frank Spierings as the discoverer).

In further research I only further found that in later releases the Credit mentioning was added, https://github.com/saltstack/salt/commit/24dea24b7e and https://github.com/salt

[2018-08-04 20:46] mbunkus commented on #35621
Ping to prevent auto-closing as issue hasn't been solved yet.

[2018-08-05 14:24] #44126 closed

[2018-08-05 14:27] #38161 closed

[2018-08-05 14:28] rallytime commented on #37799
@goetzk We are always happy to open these again. :)

[2018-08-05 14:37] #48637 closed

[2018-08-05 14:56] #31501 closed

[2018-08-05 15:05] #26407 closed

[2018-08-05 16:58] rklaren commented on #47633
My apologies for dropping off the grid for a while, I had very little time due to a new job starting and some other issues. It looks like the unicode issue has been fixed in [this commit](https://github.com/saltstack/salt/commit/fb7885315ccc83672defab4ed0565e81ff2f3b1b#diff-b458a8419b66dbc88d8dda56ccb2e5a3) while merging in changes from 2018.3. Thank you @Vaelatern! @gtmanfred I guess this issue c

[2018-08-05 17:17] baby-gnu commented on #38099
Hello.

Unfortunately there is no news on this topic for a long time.

It looks to me that the situation did not evolve the `salt.utils.templates` still use an [hard coded list of engines](https://github.com/saltstack/salt/blob/develop/salt/utils/templates.py#L586).

For me there is no way to easily benefit of all the work done by `salt.states.file.managed` with a custom template system, I need to

[2018-08-05 19:13] #47087 closed

[2018-08-06 02:59] goetzk commented on #37799
Thanks ^_^

On 6 August 2018 12:28:40 am AEST, Nicole Thomas <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-08-06 06:06] AmiramMaimon commented on #47854
Hey,

I have two top.sls file one in each env with the same name 'top.sls'
-------------------------------------------
Production:
  '*':
    - Testing
-------------------------------------------
QA:
  '*':
    - Testing

Amiram

[2018-08-06 08:01] Annnetta commented on #48886
@gtmanfred, I don’t think that it is related to the issue you have mentioned.

I can execute
`salt -N 'internal_users' test.ping`
And it gives the right output.

Also I have` -match: nodegroup `in top.sls. And I can apply a state correctly.

I have found in the documentation that:

    The N@ classifier cannot be used in compound matches within the CLI or top file, it is only recognized in the nod

[2018-08-06 08:27] hkriszh opened #48944 "salt-ssh: Cannot escape '{' in case of list merging"
### Setup

In this use case I want to merge 2 files, but it's not possible if some values contain '{'. See:

[code]
I tried to escape '{' in many ways, but no luck.

Here you can find my configuration:

[code]
[code]

[code]
[code]

### Steps to Reproduce Issue
Use the 3 provided files and apply the state.

### Versions Report
salt-ssh --version
salt-ssh 2018.3.2 (Oxygen)

This is a vagrant test e

[2018-08-06 10:44] guoxiaod commented on #41653
it seems that we should convert sha256's base64 format to the xx:xx:xx:xx format:

ssh-keyscan -t <rsa|dsa|ecdsa|ed25519>  <hostname> 2>/dev/null \
    | ssh-keygen -E sha256 -lf /dev/stdin \
    | awk '/SHA256/ { split($2, a, ":"); print a[2]}' \
    | base64 -d 2>/dev/null  \
    | hexdump -e '/1 "%02x:"' \
    | sed -e 's/:$/\n/'

[2018-08-06 11:56] dawidpogorzelski opened #48947 "salt-cloud unable to create VM with external_ip: somename"
### Description of Issue/Question
salt-cloud is unable to create a VM on gce when `external_ip: somename` is provided regardless of whether that ip was pre-created or not.

[code]

### Setup
profile:
[code]

map:
[code]

### Steps to Reproduce Issue
`salt-cloud -l all -m master-config/cloud.maps.d/map.conf -Py`

### Versions Report
[code]

[2018-08-06 13:29] gtmanfred commented on #48937
1) it looks like you are using requests, and not salt's http.query, so i would say you should talk to the requests guys about this, or figure out if something went wrong with the yahoo api.

2) If there is an exception, where it cannot download the data, you won't have set prices, and that is probably where your error is?  Set prices before the try statement, and it will probably help

You could p

[2018-08-06 14:01] dawidpogorzelski opened #48949 "can't serialize gce object"
### Description of Issue/Question
When using orchestrate to perform a cloud.action on GCE the action is performed correctly on GCE end but the gce object can't be serialized.

[code]
If i call the same function from salt-cloud the response is parsed correctly:
[code]

### Setup
mystate.sls:
[code]

### Steps to Reproduce Issue
salt-run state.orchestrate _orch.mystate test=false

[code]

[2018-08-06 14:15] Ch3LL commented on #47539
not currently an update, but is assigned out to an engineer. i don't believe @DmitryKuzmenko is working on it currently as there are higher priority issues.

[2018-08-06 14:19] gtmanfred commented on #48886
Yes, but the problem is, all of the `and`, `not`, `or` stuff is only usable in compound matches, which Nodegroups are not useable in.  Which is the problem listed in this issue https://github.com/saltstack/salt/issues/38169

The only way you would be able to do this, is if you specified another nodegroup

[code]

Then you can use the new group, but you also have to restart the master service, so y

[2018-08-06 14:31] tbennett6421 opened #48951 "[Feature Request] salt-key delete by keystate"
#### Background
Our team uses a template to deploy linux software, this template then runs a `prep-tool` that generates new ssh keys, joins active directory, installs and configures salt-minion. We use this goldenmaster for all production/development work. Only when it goes into production does the salt-key get accepted on the master side.

As a result, with rapid prototyping this list of unaccept

[2018-08-06 14:34] mbunkus opened #48952 "document `regex_replace` Jinja filter"
### Description of Issue/Question

The ["Understanding Jinja" section](https://docs.saltstack.com/en/develop/topics/jinja/index.html#regex-match) documents and lists `regex_match` and `regex_search` but not `regex_replace`. However, that function is actually present in `salt/utils/jinja.py` and works just fine.

It should really be documented. I've been Googling for ways to regex-replace in Jinja

[2018-08-06 14:37] anitakrueger commented on #47539
Is there any more information needed?

[2018-08-06 14:37] #43234 closed

[2018-08-06 14:58] Ch3LL commented on #48777
works like a charm :)

[2018-08-06 14:58] #48777 closed

[2018-08-06 15:02] Ch3LL commented on #47633
yep it got merged into 2018.3 :) thanks

[2018-08-06 15:02] #47633 closed

[2018-08-06 15:04] Ch3LL commented on #41653
want to take a go at a PR? seems you have a clear understanding of a possible fix

[2018-08-06 15:05] Ch3LL commented on #47539
nope your right i need to re-label this thanks :)

[2018-08-06 15:36] twangboy commented on #48931
@damon-atkins You're describing a different problem here. The issue is with pkg.install with an existing installation of the same version.

[2018-08-06 16:27] garethgreenaway commented on #48952
@mbunkus Thanks for the report.  It looks like the documentation for this function is available in salt/utils/jinja.py so the docstring for the `regex_search` function would simply need to be copied into salt/doc/topics/jinja/index.rst. We would definitely welcome a pull request with this addition.

[2018-08-06 16:29] garethgreenaway commented on #48951
@tbennett6421 Thanks for the report.  This would be a useful feature to have.  Approving for a future feature addition.

[2018-08-06 16:34] gtmanfred commented on #46233
I am pushing this back a release, because we want to rescope this problem.

[2018-08-06 17:01] gtmanfred commented on #48939
The fix should be just the second part of this

https://github.com/saltstack/salt/commit/0a0f46fb1478be5eb2f90882a90390cb35ec43cb

We ended up turning this behavior back off by default though, in https://github.com/saltstack/salt/pull/40206

[2018-08-06 17:07] gtmanfred commented on #47766
This will be fixed in #48956

[2018-08-06 17:16] damon-atkins commented on #48931
Based on your comment above. Here is an example of it, showing no changes in version no results return.
[code]

[2018-08-06 17:38] garethgreenaway commented on #48949
@dawidpogorzelski Thanks for the report.  Was this working in previous versions of Salt? I found this PR and it seems related, https://github.com/saltstack/salt/pull/40120 but I'm wondering if it affects Salt cloud call but not when using the Salt runner.

[2018-08-06 17:39] garethgreenaway commented on #48947
@dawidpogorzelski Similar to question on your other issue, was it this working in previous releases and broke in 2018.3.1?

[2018-08-06 17:42] garethgreenaway commented on #48937
@ThieryLebeau Are you attempting to run this with Salt, perhaps in a custom Salt module?  It's difficult to see how this fits based on the code snippet above.

[2018-08-06 17:48] garethgreenaway commented on #48938
@4815162342lost Thanks for the report.  If I understand correctly, with Oracle Linux 7 for providing the current running kernel Salt should be using `uptrack-uname -r` instead of `uname -r` when populating the `kernelrelease` grain.

[2018-08-06 18:12] garethgreenaway commented on #48930
@curiositycasualty Thanks for the report.  Just so I understand the issue correctly, when you're attempting to run a highstate with the failing module commented out in Jinja you're still seeing a failure?  Or is the issue that the failing module is not expected to fail?

[2018-08-06 18:25] josemine commented on #48828
@twangboy exe_args is not the problem, since quotes are not get striped for it. The issue is that the service module is removing quotes from bin_path.
If I replace bin_path with ```'"c:\\Program Files (x86)\\winlogbeat\\winlogbeat.exe"'``` then I get the following result
[code]

[2018-08-06 18:49] mbunkus commented on #48952
Oh, I wasn't aware that they're not built automatically from the Python files somehow. Sure, I can whip up a PR.

[2018-08-06 19:37] garethgreenaway commented on #48944
Seems like a YAML quirk, similar to this https://github.com/saltstack/salt/issues/7650
@saltstack/team-core Anyone have any thoughts on this?

[2018-08-06 19:44] 4815162342lost commented on #48938
Hello @garethgreenaway,

Thanks for your interesting.

Not sure, uptrack should be installed and enabled (it is not free feature, need buy Oracle support).
And command should be something like to this:
`uptrack-uname -r 2>/dev/null || uname -r`

But i am really not sure. I do not have test environment for 'play'. I do not know what if 'uptrack installed, but is not enabled; what if standard RedHat

[2018-08-06 19:55] rallytime commented on #48952
Thanks @mbunkus!

[2018-08-06 19:55] #48952 closed

[2018-08-06 20:01] mbunkus commented on #48952
You're quite welcome.

[2018-08-06 20:08] acornett commented on #46028
Would it be possible to get this (and #46130) back ported to 2017.7 (or even 2018.3)?

[2018-08-06 20:47] gitscivola opened #48961 "Minion returns error code when no states are run"
### Description of Issue/Question
When a state.apply without any states is run, the minion returns an error code.

### Setup

example sls file:
[code]

### Steps to Reproduce Issue
Running that sls file gives this:
[code]

### Versions Report
[code]
Minion is on the same server, same config.

[2018-08-06 21:22] amuhametov commented on #48862
@garethgreenaway any ideas on this? could this be a race between workers?

[2018-08-06 21:31] amuhametov commented on #48862
I suppose the problem is within fileserver/__init__.py wait_lock

[2018-08-06 21:31] lomeroe commented on #48782
It looks like there are multiple "Configure Windows Defender SmartScreen" policies, but it isn't being caught.

[code]

If you use one of the unique policy aliases, do you get the same results, or does it work as expected?

[2018-08-06 22:36] morganwillcock commented on #48887
I think is is because if you want to use features within the shell (i.e. call the shell command echo instead of try to find echo.exe and run it, use pipes and redirection, etc.) you need to set `python_shell = True`.

[2018-08-06 23:29] curiositycasualty commented on #48930
The commenting was to demonstrate that the issue effects both `_module/*` modules and `_states/*` modules.
So in the first run, I have the state commented out and am demonstrating the offending `_module` by using the jinja "do" tag:
[code]
Then in the second run, I have the module commented out, and am demonstrating the offending `_states` module:
[code]

[2018-08-07 05:11] jpvis opened #48963 "Proxy minion strange behavior"
We are running proxy minions for 1600+ Cisco devices, some of these devices are unreachable.
When I'm started proxy minion for these devices for the first time (if minion server rebooted or I'm killing all proxy processes) I found few odd things:

- CPU usage is about 95-100% - I though that maybe salt need some resources to get grains from all devices, but after 48 hours nothing changed.

- Salt

[2018-08-07 06:52] abh23 commented on #23518
Is there anyone still working on this? I am getting this warning but the event is fired which confuses me.

[2018-08-07 07:34] dawidpogorzelski commented on #48949
Did a quick test with 2017.7.7, same problem.

[2018-08-07 07:34] dawidpogorzelski commented on #48947
Did a quick test with 2017.7.7, same problem.

[2018-08-07 07:55] absolutejam commented on #43718
@damon-atkins  @twangboy  Okay, a while back I really wanted to take a stab at creating the dsc resource module (Basically, exactly what Ansible does where it passes kwargs to Invoke-DSCResource), but I've had a change in job role and therefore not enough time to play.

However, I did check back on this recently as I've been diving back into Salt for a new project and saw reference to #33003. I ha

[2018-08-07 07:58] syphernl opened #48964 "Scheduled highstates from Windows-minions not returning to master"
### Description of Issue/Question
This issue was something we've run into in the past (#38371) and was fixed in #38923.
On Linux, this works fine. The "workaround returner" I created and to used to workaround this in the past was no longer necessary.

However, we recently installed a few Windows machines with Salt and noticed that it was showing the very same behavior as with the previous issue:

[2018-08-07 09:13] jpvis opened #48965 "Proxy minion is not reconnecting session"
I'm using
`proxy_keep_alive: False`
`proxy_always_alive: False`
 in proxy config file.

When I'm command net.facts I'm getting:
[code]
Same problem with other commands like : net.mac net.cli and etc.
Tried with `always_alive: true` in pillar file - same problem.

However net.load_config works fine.

### Versions Report
Salt Version:
           Salt: 2018.3.0

Dependency Versions:
           cffi:

[2018-08-07 11:04] ruko42 commented on #48931
The documentation of https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.win_pkg.html for 2018.3.2 says:

salt.modules.win_pkg.install(name=None, refresh=False, pkgs=None, **kwarg
...
Returns:	Return a dict containing the new package names and versions
If the package is installed by pkg.install:
{'<package>': {'old': '<old-version>',
                    'new': '<new-version>'}}
If th

[2018-08-07 11:19] cskowronnek opened #48966 "salt cloud no bootstrap after Azure provisioning"
### Description of Issue/Question
Bootstrap fails after provisioning a Linux VM on Azure using

 `salt-cloud -p azure Node-X`

This feature worked fine before I updated Salt to the latest development release.

It seems that Salt can't login after creating the node. I tried both public/private key and password authentication. I can login via SSH and key or password from the master after creation.

[2018-08-07 11:50] bicofino commented on #23518
It works but the warning is annoying.

[2018-08-07 11:52] abh23 commented on #23518
@bicofino : exactly my point! :D

[2018-08-07 12:58] jagguli opened #48967 "host.only creates invalid host entries with garbage"
### Description of Issue/Question
Given I am collecting host entries using salt mine
and updating hosts using host.only
then I ocassionally I get garbage in my hosts file.

Expected

Host.only should do some validation on input data

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and rel

[2018-08-07 13:37] gtmanfred commented on #48963
Yes, this would be great.

@mirceaulinic you may be interested in this.

Thanks for the request!
Daniel

[2018-08-07 13:38] gtmanfred commented on #48967
Can you provide some example states to replicate this? and also the garbage output you are seeing would be useful.

Daniel

[2018-08-07 13:40] gtmanfred commented on #48966
Can you login to the minion and check the syslog and see if there are any error messages about why the user trying to login is being rejected?

Also, try setting the log level to `trace` `salt.utils.cloud.bootstrap` should be logging the commands it is running, and it would be helpful to see those.

[2018-08-07 13:41] gtmanfred commented on #48965
@mirceaulinic can you help troubleshoot this?

Thanks,
Daniel

[2018-08-07 13:58] mirceaulinic commented on #48965
Yep, this is a bug. Please assign it to me and I'll look into it once we finish with the Fluorine features.

[2018-08-07 14:00] mirceaulinic commented on #48965
However:

This shouldn't be the case, there are many people using this and it should behave correctly (unless this is another thing affected by the issues with the scheduling system on 2018.3, which probably is).

[2018-08-07 14:35] cskowronnek commented on #48966
Thanks for your reply. Log level trace brought nothing new.
The auth.log of the minion showed no login tries. The only corresponding line I found was:

`Did not receive identification string from <ip of salt master>`

[2018-08-07 14:38] gtmanfred commented on #48961
This is the expected behavior.

When a state finishes running, we check the results.

https://github.com/saltstack/salt/blob/2018.3/salt/modules/state.py#L106

If the results are an empty dictionary, we return false, and thus the retcode is set to 2.

https://github.com/saltstack/salt/blob/2018.3/salt/utils/state.py#L134

Daniel

[2018-08-07 14:38] #48961 closed

[2018-08-07 14:57] omegarus opened #48973 "Napalm proxy-minion throwing exception while configured to work with multi master. [please reopen]"
### Description of Issue/Question
I'am trying to run napalm proxy-minion with multi master configuration with no luck.
Proxy minion is trowing this exception and starting initialization again:
[code]

If proxy-minion is configured to use only one of the masters(first or second but not both) everything is working good.
### Setup
proxy comnfig file:
[code]
pillar for this proxy:
[code]

### Steps to

[2018-08-07 14:58] gtmanfred commented on #48966
did you run salt-cloud with -l trace? because the ssh commands used to try and connect should be provided there, it sounds like salt is not passing in an ssh key.

[2018-08-07 15:31] gtmanfred commented on #48964
I am unable to replicate this.

I have assigned the following states.

[code]

I used the schedule.present to schedule the highstate function in the minion process.  and I am seeing the job returns.

[code]

Can you provide me with more information to replicate this?

Thanks,
Daniel

[2018-08-07 15:34] alext9 opened #48977 "Empty unicode string not properly parsed in sls files"
### Description of Issue/Question
Empty unicode string literals are not properly parsed from sls files. They are rendered as `u''` when passed in through a context variable.

Quickly searching through issues & MRs lead to #42435. The regex added there won't match empty unicode string literals. (It uses `.+` instead of `.*` to match the contents of the string). I'm not sure if it is relevant, but i

[2018-08-07 15:41] damon-atkins commented on #48931
Hi ruko42
The data is feed into the rest of the salt system i.e. `pkg.installed` state calls `pkg.install` `pkg.list_pkgs` etc. All platforms should return the data in the correct format expected by `pkg.installed`. And hence Windows needs needs to conform.  The doco should have been update to remove the section on `current`  The release notes covered this change.

What are you using in your sls f

[2018-08-07 15:46] omegarus commented on #47695
I have same problem with ver 2018.3.2.

[2018-08-07 15:54] mike2523 commented on #48782
Using unique policy aliases or non-aliases works just fine, but always results in corrupt registry.pol

Caveat that happens tho is this:

1. When enabling `Configure Windows Defender SmartScreen` in:
- `Windows Components\Microsoft Edge\Configure Windows Defender SmartScreen`
- `Windows Components\File Explorer\Configure Windows Defender SmartScreen`

These paths automatically gets enabled as well

[2018-08-07 16:28] damon-atkins commented on #48931
Hi @ruko42
The data is feed into the rest of the salt system i.e. `pkg.installed` state calls `pkg.install` `pkg.list_pkgs` etc. All platforms should return the data in the correct format expected by `pkg.installed`. And hence Windows should conform.
https://docs.saltstack.com/en/latest/topics/releases/2017.7.3.html#pkg-execution-module
``Some execution module functions results, now behave more li

[2018-08-07 16:39] #47766 closed

[2018-08-07 17:32] cmclaughlin commented on #48892
I have the same error calling a execution module from pillar:

[code]

@gtmanfred I understand it might be related to issue #46905. However, I followed the suggestion there to upgrade pyzmq from 14.0.1 to 17.1.0 and I still have this problem. Do you want to reopen this and treat it as a separate problem?

[2018-08-07 17:37] #37876 closed

[2018-08-07 18:01] terminalmage commented on #48020
This was fixed in https://github.com/saltstack/salt/pull/48765.

[2018-08-07 18:01] #48020 closed

[2018-08-07 18:07] edgan commented on #48453
ii  python2.7                              2.7.6-8ubuntu0.4                           amd64        Interactive high-level object-oriented language (version 2.7)

[2018-08-07 18:26] gtmanfred commented on #48892
Can you show me the code you are using?

[2018-08-07 18:28] femaref opened #48980 "pillar inclusion: default value with key `env` gets swallowed without log"
### Description of Issue/Question

When using `env` as a variable in a pillar include, it gets removed without logging.

### Setup

[code]

### Steps to Reproduce Issue

use above files for a host and try `pillar.items`. `bar` will not be as expected.

The reason should be in `salt/template.py:61`:

[code]

It should at least be logged to the master log.

### Versions Report
(Provided by running `

[2018-08-07 18:34] cmclaughlin commented on #48892
[code]

[2018-08-07 18:36] twangboy commented on #43718
@absolutejam This looks like a pretty sweet approach. @dwoz What do you think.

[2018-08-07 18:36] gtmanfred commented on #48892
What is in your my_module.my_method?

[2018-08-07 18:45] terminalmage commented on #47063
This has been fixed since 2018.3.1.

[2018-08-07 18:50] terminalmage commented on #47063
Hold on, now I'm seemingly able to replicate it on 2018.3.2. Doing some more investigation.

[2018-08-07 18:50] nstudach commented on #28766
I know this issue is old but I think have the same problem just with a newer salt version and digitalocean instead.
[code]
cloud profile (etc/salt/cloud.profile.d/do.config):
[code]
cloud provider (etc/salt/cloud.providers.d/do.config):
[code]
cloud (etc/salt/cloud):
[code]
minion config (etc/salt/minion):
[code]
minion_id (etc/salt/minion_id):
`salt-master-v2`

I start with:
[code]

Then create a

[2018-08-07 18:58] damon-atkins commented on #43718
@absolutejam  Thats the first use of clr
https://github.com/saltstack/salt/pull/45304 `Add pythonnet dependency for Windows`   Jan 2018
https://github.com/saltstack/salt/issues/33003 `RFE: For Windows Add Python Dot Net (.net) interface` Original request

[2018-08-07 19:02] terminalmage commented on #47063
Actually no, I was right the first time, this was fixed in `2018.3.1`. I can demonstrate this with the following Docker example. Running the Docker commands from the root of the container will run salt from git:

[code]

There are three attempts here. First one is on 2018.3.0, second is 2018.3.1, and third is on the head of the 2018.3 release branch (which will become 2018.3.3).

If the OP attempt

[2018-08-07 19:18] cmclaughlin commented on #48892
Oh sorry, `my_method` was creating new caller clients. I thought I removed that... but apparently `saltutil.sync_modules` didn't deploy my change. Had to run highstate to get it deployed.

[2018-08-07 19:19] gtmanfred commented on #48892
:+1:

[2018-08-07 20:25] #48931 closed

[2018-08-07 20:35] garethgreenaway commented on #48902
@srikanth24 So far I haven't been able to reproduce this issue.  I still suspect that something is breaking with the SSL verification, can you run the following on the Windows server in question using the version of Python installed with Salt, eg. C:\salt\bin/python.exe

[code]

[2018-08-07 20:43] pmoorey commented on #47695
I also see the problem in 2018.3.2.  I can provide further information if needed.

[2018-08-07 21:56] rso-support opened #48984 "cron.present fails when no prior crons are defined"
### cron.present fails when no prior crons are defined

### Setup
'/etc/salt/minion.d/minionCheck.sh':
  cron.present:
    - user: root
    - minute: 0
    - hour: '*/4'

### Steps to Reproduce Issue
use  above sls on a host with a user with no existing cron

### Versions Report

--- master ----
salt --versions-report
Salt Version:
           Salt: 2017.7.5

Dependency Versions:
           cffi: 1

[2018-08-07 21:58] rso-support commented on #48984
This behavior seems to only be present in RHEL6.X hosts

minon debug log attached

[minion-debug.txt](https://github.com/saltstack/salt/files/2268198/minion-debug.txt)

[2018-08-07 22:15] rso-support commented on #48984
This also _seems_ to be killing the minion (the following was witnessed on the terminal after the minion exited)

INFO    ] Shutting down the Salt Minion
[DEBUG   ] Stopping the multiprocessing logging queue listener
[DEBUG   ] closing multiprocessing queue
[DEBUG   ] joining multiprocessing queue thread
[DEBUG   ] Stopped the multiprocessing logging queue listener
The Salt Minion is shutdown. Min

[2018-08-07 23:15] nstudach opened #48986 "Salt-Cloud: Creating a VM creates two keys"
### Description of Issue/Question
Creating VM on Digital Ocean. The instance is created, but there are potentially two keys created in salt-keys: the minion id supplied to salt-cloud and the name of the master server (also Digital Ocean VM).

Similar to old issue [#28766] just with a newer salt version and digital ocean as provider. Opening new issue as recommended by @rallytime.

I am new to salt

[2018-08-08 00:39] cetra3 commented on #38263
Not stale, just not looked at recently.

[2018-08-08 04:37] jpvis commented on #48965
Strange I found this option in your provided link -
![image](https://user-images.githubusercontent.com/38690054/43816505-cab35be6-9add-11e8-9046-e17a3a2c34b0.png)

Furthermore this option exists in /etc/salt/proxy file.

[2018-08-08 07:29] mirceaulinic commented on #48965
I agree. In Salt there's a mechanism for that already, which works in the way you described for Junos (and probably others) which throws this `ConnectionClosedException` - see https://github.com/saltstack/salt/blob/develop/salt/utils/napalm.py#L191

Unfortunately the NAPALM driver for IOS doesn't have that, which is why I would suggest you raise a feature request or submit a PR to add it: https://

[2018-08-08 07:36] cskowronnek commented on #48966
Yes, I did. -l trace added only a few lines to the log, nothing to do with this step.

I tried it with ssh_key and ssh_pass, neither worked. Manual login after VM creation works fine, so I don't see a firewall or any other problem. As there are no login attempts it seems the SSH command was never called.

[2018-08-08 08:29] WangWenchao opened #48991 "about OpenStack vm grains conflict"
### Description of Issue/Question
OpenStack vm grain
[code]

### Versions Report
salt-minion 2016.3.3 (Boron)

But I check the latest salt code find the file grain/core function  '_virtual(osdata) ' is the same

help to fix just add the OpenStack judgement bellow dmidecode bellow line 808:
[code]

[2018-08-08 09:34] nielskroon commented on #47969
tests/unit/states/test_file.py should have at test__find_keep_files_win32(self) some CamelCased files or folders to verfiy correct behaviour

[2018-08-08 09:34] trezze opened #48992 "Distro Univention UCS Server not implemented (UCS based on Debian)"
### Description of Issue/Question

The virtual modules for pkg, service, etc. cannot be loaded under Univention UCS Server 4.3. Univention UCS Server 4.3 is not known as a distribution.
Univention UCS Server 4.3 is based on Debian.

### Setup

[code]

## Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

Salt Version:

[2018-08-08 10:01] morgana2313 commented on #46926
This problem still exists in Saltstack 2018.3.2

[2018-08-08 10:40] haam3r commented on #29222
Might there also be a rsync repo for the new Python3 packages i.e. something like:
`rsync://repo.saltstack.com/py3/saltstack_pkgrepo_ubuntu`?

[2018-08-08 10:50] gf-orgx commented on #47695
Same problem with 2018.3.2. I'll try to hack the code a bit and let you know if I discover smth relevant.

[2018-08-08 10:59] mts-avco opened #48993 "Display issue calling pkg.list_pkgs on Windows minion with a large number of results"
### Description of Issue/Question
Normally the output from `pkg.list_pkgs` displays correctly, with each entry on its own line, but on a minion with a significantly large number of entries it gets displayed as a raw string instead, as below. The displayed string seems to have the correct contents, but is being shown as an encoded string rather than simply displayed as I would expect.

### Setup
My

[2018-08-08 11:14] mts-avco opened #48994 "Installing M2Crypto 0.30 on a Windows minion stops the master's public key being authenticated"
### Description of Issue/Question
I've compiled a wheel package for M2Crypto 0.30.1 for py3.5 (win64) but when installed it causes the minion to stop accepting the master's public key.

[code]
Removing the key makes no difference, although uninstalling M2Crypto resolves this immediately.

### Setup
Windows minion connected successfully to master, both at 2018.3.2. Stop the minion service, then cre

[2018-08-08 11:16] mts-avco commented on #48994
I've looked at #46868 and I don't believe this is the same problem. None of the public keys start with a line containing `RSA` and none of the suggestions in that issue seem to apply here, but I'm happy to try out any testing.

[2018-08-08 11:19] jils2013 opened #48996 "file.get_diff not work on version:2018.3.2"
### Description of Issue/Question
Run file.get_diff on version:2018.3.2,get "ERROR: Failed to read salt://aio/...: No such file or directory", and the file does exist

### Setup
master:2018.3.2
minion:2018.3.2(other minion on version:2017.7.4 is ok)

### Steps to Reproduce Issue
[code]

on minion node,debug log:
[code]

### Versions Report
minion version
[code]
master version
[code]

[2018-08-08 11:39] mts-avco commented on #48994
Having just been pointed to it, this appears to be resolved by PR #48358

[2018-08-08 11:39] #48994 closed

[2018-08-08 11:43] mirceaulinic commented on #47392
@sk1988 is there anything you'd like to add here, or can we close?

[2018-08-08 11:49] eburghar opened #48998 "apk module is not python3 compatible"
### Description of Issue/Question

apk module is not python3 compatible

### Setup

### Steps to Reproduce Issue
use pkg.installed with apk module

### Versions Report
2018.3.2

###
[code]

[2018-08-08 13:29] rallytime commented on #48786
@whytewolf This should be fixed with #48987

[2018-08-08 13:29] #48786 closed

[2018-08-08 13:30] gtmanfred commented on #48966
WIthout seeing the ssh commands, i cannot know why it is failing to login.

Please sanatize that log, and then share it, so that I can take a look.

Thanks,
Daniel

[2018-08-08 13:31] gtmanfred commented on #5050
That is not what it is being talked about.

Passing modules to unless and onlyif, instead of just bash commands is the request.

[2018-08-08 14:11] Ch3LL commented on #48973
ping @saltstack/team-network any ideas here?

[2018-08-08 14:23] ProcenaFr opened #49001 "salt.states.file.managed replace=False not working"
I am trying to diff several files but the "replace=False" is not working with salt.state.file.managed.

### Steps to Reproduce Issue
[code]

`salt "minion1" state.apply file`

### Result :

[code]
The normal behavior is supposed to be :

### Version
Salt version : salt-2018.3.0-46.28.1.15763.1.PTF.1102218.x86_64

[2018-08-08 14:30] Ch3LL commented on #48977
ping @terminalmage can you take a look here?

[2018-08-08 14:32] Ch3LL commented on #48980
nice find. seems you have a solid understanding of a fix. Want to take a go at it? You could just add a logging statement in that block

[2018-08-08 14:34] cskowronnek commented on #48966
That's 13k lines, with a lot of information to sanitize. I grep'ped the log and there are no ssh connection string. Below is all what log level TRACE added. Maybe I'm switching back to the latest release. I don't know what kind of regression happened in the latestet develop branch.

[code]

[2018-08-08 14:55] gf-orgx commented on #47695
Yes, it's same for me:

root@noc-master:~# salt XXX schedule.list
XXX:
    schedule:
      enabled: true

[2018-08-08 14:58] damon-atkins commented on #48993
The line feed not working with salt-call it should be more than just this. It seems to be treating as a binary output.

[2018-08-08 15:00] loverend commented on #44887
Great thanks. I shall give it a go.

[2018-08-08 15:00] #44887 closed

[2018-08-08 15:06] #16208 closed

[2018-08-08 15:13] gtmanfred commented on #48966
Here is the log message your above debug command shows.

https://github.com/saltstack/salt/blob/2018.3/salt/utils/cloud.py#L940

It should then try to run `date`  using `root_cmd` right below it, which will setup some logging commands.

https://github.com/saltstack/salt/blob/2018.3/salt/utils/cloud.py#L2145

Then it constructs a whole big ssh command, and adds it to the logging command

https://gi

[2018-08-08 15:14] gtmanfred commented on #47695
@garethgreenaway would you happen to know where this enabled: True comes from?

Thanks,
Daniel

[2018-08-08 15:20] Ch3LL commented on #48984
i looked at your debug output you attached and i'm not seeing the actual state being run. I assume those are logs for when the minion is shutting down. I'm having a hard time replicating this, can you share a sanitized version of the actual cron job?

[2018-08-08 15:38] lachlanmunro opened #49008 "x509.certificate_managed state fails under py3 m2crypto with "int too large""
### Description of Issue/Question
x509 certificate_managed fails on generated key length.

We have something like this working under py2, this change took place after an upgrade to py3 and compiling/adding m2crypto to it on windows.

### Setup
[code]

### Steps to Reproduce Issue
Running the above state results in:

[code]

### Versions Report
[code]

[2018-08-08 15:53] rso-support commented on #48984
Yup, I didn't see it in the debug log either. Its almost like the minion exits, before the logs can received by the actual state run? (guess).  Take a closer look at the terminal output after the minion exists. You'll see remnants of what looks like output of the state run. I included the terminal output because it didn't appear in the debug log.

the sls renders to this on the host (if thats what

[2018-08-08 16:06] #29468 closed

[2018-08-08 16:37] Ch3LL commented on #48993
ping @twangboy or @dwoz any ideas here

[2018-08-08 16:46] msciciel opened #49009 "file_ignore_regex / file_ignore_glob not working properly"
### Description of Issue
Filtering which is done here https://github.com/saltstack/salt/blob/develop/salt/fileserver/__init__.py#L195 modifies `dirnames` which is not used for anything later.

My workaround is to modify generate_mtime_map function:
[code]

I was debugging it because I thought that it would increase performance in our deployment because we have file roots containing cloned git repo

[2018-08-08 16:49] gtmanfred commented on #47695
That is how I debug :)

[2018-08-08 16:50] Ch3LL commented on #48992
fix in https://github.com/saltstack/salt/pull/49010

[2018-08-08 16:52] gtmanfred commented on #47695
Ok, yes, this needs to be fixed.

[2018-08-08 16:56] garethgreenaway commented on #47695
The "enabled" job isn't actually a job, but determines whether or not the Salt scheduler is enabled or disabled just like individual jobs but for the whole thing.  Normally it defaults to be enabled and when processing the schedule that is ignored, we might be evaluating the schedule differently on a proxy minion than on a regular minion which might result in the above error.

[2018-08-08 17:04] Ch3LL commented on #48996
looks like i'm able to bisect this to commit 3184168365f35e2a22381a7282e65d8c76a778a6

ping @terminalmage any ideas here?

[2018-08-08 17:06] Ch3LL commented on #48998
mind submitting that as PR ? we would greatly appreciate it :)

[2018-08-08 17:06] #7650 closed

[2018-08-08 17:06] #37940 closed

[2018-08-08 17:11] minusf commented on #23402
Let's say I have the following pillar:

[code]
or even

[code]

I think what is missing from here is for `test.check_pillar` to check for actual values. Yes, I could check for the existence of the whole dictionary of `enabled_service` or `disabled_service` and `failhard` based on that.  But it's not possible to check for `not_enabled_service:enabled`, because `check_pillar` can check only presence

[2018-08-08 17:14] Ch3LL commented on #49008
can you clarify how you are installing m2crypto python on windows to help replicate the issue?

[2018-08-08 17:20] Ch3LL commented on #49001
[code]

can you try that?

[2018-08-08 17:27] Ch3LL commented on #49008
ping @dwoz i know you have tried working with upstream to try to get these packages built. any chance you can see if the instructions @mts-avco gives on how they compiled the package is the correct way to manually compile this package?

And if you have any initial insight as to if this error is indicative of a package build issue or salt code issue.

[2018-08-08 17:30] Ch3LL commented on #49009
ping @terminalmage any insight to @msciciel 's suggestions here?

[2018-08-08 17:45] twangboy commented on #44813
@abartlett Does the above process by @xenophonf fix your issue?

[2018-08-08 17:57] gtmanfred commented on #47695
Yeah, we can probably get away with just popping the `enabled` key from the list before processing the schedule.

[2018-08-08 17:59] twangboy commented on #47969
@dwoz This might be related to https://github.com/saltstack/salt/pull/46632

[2018-08-08 18:02] garethgreenaway commented on #47695
That code is in place here, https://github.com/saltstack/salt/blob/2018.3/salt/utils/schedule.py#L852

[2018-08-08 18:04] garethgreenaway commented on #47992
Apologies for the delay.  I spent some time looking into this one and so far haven't been able to duplicate it.  Can you provide the version of Vault that you're running, to hopefully narrow down all factors.  Thanks!

[2018-08-08 18:06] #37877 closed

[2018-08-08 18:06] #37922 closed

[2018-08-08 18:11] Ch3LL opened #49012 "[EPIC] Fluorine QA Test Plan"

[2018-08-08 18:13] Ch3LL opened #49013 "Add tests for #47921"
Add tests for issue: https://github.com/saltstack/salt/issues/47921

[2018-08-08 18:15] Claptou commented on #47992
Hi thanks for the answer.
I'm using last version of vault

[2018-08-08 18:16] dwoz commented on #49008
@Ch3LL @mts-avco Yes, I will try to reproduce this.

[2018-08-08 18:19] Ch3LL opened #49014 "Write tests for PR #47956"
Add unit tests for PR: https://github.com/saltstack/salt/pull/47956

[2018-08-08 18:36] Ch3LL opened #49016 "add mine.get tests"
Add some mine.get tests. This is related to this PR: https://github.com/saltstack/salt/pull/48765

[2018-08-08 18:38] Ch3LL opened #49017 "Add cache.grain tests"
Add cache.grain runner tests

[2018-08-08 18:42] Ch3LL opened #49018 "add MasterPillarUtil tests"
Add tests for the masterpillarutil class in salt/utils/master.py

[2018-08-08 18:57] gf-orgx commented on #47695
Cool! Thank you.

[2018-08-08 19:06] #37235 closed

[2018-08-08 19:44] #48992 closed

[2018-08-08 19:56] rallytime commented on #49016
Let's get these added to the 2018.3 branch as well.

[2018-08-08 20:16] gtmanfred commented on #49017
👌

[2018-08-08 20:18] necrose99 commented on #37667
https://forge.puppet.com/optiz0r/sabayon least one for puppet
https://github.com/Sabayon/puppet-sabayon

anycase entropy uses gentoo portage as subsystem , **equo i app-admin/salt**  ,
manages binary packages much like yum , but uses gentoo syntax,  , make sure deps are installed , quiets typical portage gripes

[2018-08-08 22:06] #34776 closed

[2018-08-08 22:51] dmurphy18 commented on #47098
This should be fixed in the upcoming Fluorine release.

[2018-08-08 23:06] #37901 closed

[2018-08-08 23:51] #37968 closed

[2018-08-09 00:47] twangboy commented on #48993
Maybe an issue with the nested outputter...

[2018-08-09 01:11] garethgreenaway commented on #49018
@rallytime @Ch3LL The cache runner has three functions (grains, pillar, & mine) which use the corresponding functions in MasterPillarUtil, testing these as part of the cache runner tests seems like a good approach to testing MasterPillarUtil.  Thoughts?

[2018-08-09 01:34] darkpixel commented on #38252
I don't run into the problem under Salt 2017.x

[2018-08-09 01:34] #38252 closed

[2018-08-09 03:24] travispaul commented on #48856
Please let me know if any other tests or changes are needed. Thanks.

[2018-08-09 03:28] ferricoxide commented on #38012
To be honest, I haven't had a chance to revisit this since you added the tags. I'd assumed, at that point, that the documents were going to be update and the issue closed. Was only the stale-bot's notification that the issue was still open that I became aware that it wasn't closed.

[2018-08-09 04:51] #37943 closed

[2018-08-09 08:16] msciciel commented on #49009
In my opinion significant performance could be achieved by replacing `os.walk` with something which will skip reading directory recursively if matched with file_ignore_regex.

[2018-08-09 08:51] #37807 closed

[2018-08-09 08:52] hkriszh commented on #48944
Yes, it seems something similar to that. Unfortunately none of the mentioned workarounds worked.

[2018-08-09 08:59] lachlanmunro opened #49027 "x509.certificate_managed certificate is mangled on process under py3 m2crypto"
### Description of Issue/Question
Having problems with the x509 certificate managed state under m2crypto/py3 on windows. We believe that the issue is not windows specific and is related to the charset changes in py3.

The below example is the passthrough of a certificate resulting in invalid encoding.

Although the demo state is a little contrite, we use pem_managed (we could just as easily just u

[2018-08-09 09:18] ProcenaFr commented on #49001
It is working, thanks.

[2018-08-09 09:18] #49001 closed

[2018-08-09 09:43] mts-avco commented on #49008
I wonder if this is more a problem with building on AMD64 as there are a number of truncation warnings during the package build:

[code]

[2018-08-09 11:30] mts-avco commented on #49008
My local py2.7-win64 build works perfectly with the above test state against a py2 salt minion.

[2018-08-09 11:49] mirceaulinic commented on #47996
In 2017.7.0 I added this grain: https://docs.saltstack.com/en/latest/ref/grains/all/salt.grains.napalm.html#salt.grains.napalm.host_dns, so this information exists, but:

- Not under the right grain.
- Not enabled by default (as Mike and Seth suggested in https://github.com/saltstack/salt/pull/41546#issuecomment-305846883)
- What should be the target branch for this fix? `2017.7`?

Thanks.

[2018-08-09 13:01] Annnetta opened #49028 "MySQL returner"
### Description of Issue/Question
I would like to add some additional columns to MySQL database with MySQL returner.
For now I have a table `salt_returns` created as this:
[code]

in /usr/lib/python2.7/dist-packages/salt/returners/mysql.py
for returner function I have:

[code]

While executing  `sudo salt-run manage.status` I have this error:

[code]

As I can see, the problem is in the name of th

[2018-08-09 13:06] rallytime commented on #47695
This is fixed in #49019

[2018-08-09 13:06] #47695 closed

[2018-08-09 13:09] gtmanfred commented on #47996
yes, fixing in the 2017.7 branch seems like the right place.

[2018-08-09 13:16] rallytime commented on #49018
Yeah, I think that sounds like a good approach.

Some unit tests might be good as well where you think appropriate. After a quick glance, maybe some of those helper functions could use some unit tests since those seem to be doing most of the logical heavy lifting.

[2018-08-09 13:20] haam3r opened #49029 "RSYNC source on repo.saltstack.com for new Python3 packages"
### Description of Issue/Question
There does not seem to be a way to use rsync to create a local mirror of the new Python 3 packages
i.e. would like to see something similar to:
`rsync://repo.saltstack.com/py3/saltstack_pkgrepo_ubuntu?`

Additionally adding the URI paths from here: https://github.com/saltstack/salt/issues/29222#issuecomment-234020952
to the http://repo.saltstack.com/#mirror page,

[2018-08-09 13:40] syphernl commented on #48964
Very odd. I have just tested it again by adding a schedule:
[code]
Which - according to `schedule.list` gets added like:
[code]

I do not see any highstate returns using your `state.event` parameters. I however do see (Skipped event tags) `salt/auth` and `minion/refresh/ID` coming past every 30 seconds.
The minion logs do show that a highstate is being executed, it's just not being returned.

What

[2018-08-09 13:57] Annnetta commented on #49028
Well, finally that works.

I forgot to change the number of  `VALUES (%s, %s, %s, %s, %s, %s, %s) ` (before there were only 6) in mysql.py.

Now, in my database I have the field fun_args filled in.

[2018-08-09 14:17] Ch3LL commented on #48453
looks like i'm able to replicate this now :) the reason its occurring is `create_default_context` wasn't added until python 2.7.9, so not sure how we will tackle this in salt-ssh until able to dive into it.

[2018-08-09 14:23] Ch3LL commented on #48984
can you paste the sanitized contents from `salt-call --local state.sls <state> -ldebug`?

also i was looking for the sanitized contents of : `/etc/salt/minion.d/minionCheck.sh`

[2018-08-09 14:36] mts-avco commented on #48993
I've just had this exact problem appear again, only this time it was a highstate output, showing just over 4 pages of wrapped output instead of the equivalent clear text.

[2018-08-09 14:38] Ch3LL commented on #38012
so just to be clear the only issue was making sure not to quote the kwarg?

[2018-08-09 14:40] Annnetta commented on #49028
The problem is that if I execute  `sudo salt-run manage.status`
I  have the same error as mentioned.

And also `sudo salt-run jobs.print_job 20180809162256603883`
doesn't work:
[code]

Do you have any ideas how to add some columns correctly?

Thanks,
Hanna

[2018-08-09 15:03] #48123 closed

[2018-08-09 16:01] terminalmage commented on #48996
Fixed in https://github.com/saltstack/salt/pull/49033.

[2018-08-09 16:49] rso-support commented on #48984
I think I have this one figured out.

We recently added a cmd.run to the state. This recent addition triggered a bug that existed in a system wide profile in /etc/profile.d. Essentially, a tput call in /etc/profile.d/somefile.sh bombs out because no tty is attached when sourced as part of the cmd.run call. Once we removed the tput call, problem ceased to exist.

This may still be interpreted as a

[2018-08-09 16:54] rso-support commented on #48984
Additionally, as previously mentioned,  the minion received a SIGTERM when this happens. IMO, a state failure would be expected here, not a failed minion.

[2018-08-09 17:09] ferricoxide commented on #38012
Sorry. Yeah, that's my recollection. =)

[2018-08-09 17:33] rallytime opened #49035 "Implement #47100 on 2018.3"
The change in #47100 was interacting poorly on the 2018.3 branch with tests. The change was causing the test suite to run very slowly (taking 8+ hours to run, and usually not even finishing). The slowness was particularly noticeable in the salt-ssh tests.

#47100 needs to be added to the 2018.3 branch, but fix the test suite issues separately from a merge-forward.

ping @gtmanfred

[2018-08-09 17:50] #48496 closed

[2018-08-09 18:47] garethgreenaway commented on #49028
@Annnetta It seems like the `fun_args` item is not always in the `ret` that the returner is receiving.  A quick fix would be to check if it's available, in the event that it's not add an empty list.
Something like this:
[code]

[2018-08-09 18:47] trezze commented on #48992
Thank you for the quick solution
Univention can be downloaded here https://updates.software-univention.de/

[2018-08-09 19:40] rallytime commented on #49014
This change is a bit tricky to test and doesn't make sense to mock out heavily. I added one test where it made sense to do so.

[2018-08-09 20:27] awerner opened #49043 "Unicode broken with file.blockreplace on Python2"
### Description of Issue/Question

Trying to use `file.blockreplace` is impossible when the context contains unicode strings.
Affected version is `v2018.3.2`, branch `2018.3` with a different error, and also `develop` with still another error.

### Setup
`unicodetest.sls`:
[code]
`somefile`:
[code]

### Steps to Reproduce Issue
Running `salt-call --local -ldebug state.apply unicodetest` on `v2018.

[2018-08-09 20:38] jeffclay commented on #48342
@rallytime @garethgreenaway

Just following up to see if my solution above is the proper fix for this issue or not.

Thanks

[2018-08-09 21:07] #48996 closed

[2018-08-09 22:07] #49018 closed

[2018-08-09 22:51] #37360 closed

[2018-08-09 22:51] #37394 closed

[2018-08-09 22:51] #37475 closed

[2018-08-09 22:51] twangboy commented on #43164
Valid options for `name` or `id` are the following:
[code]

[2018-08-10 00:29] cmusser commented on #38672
I'm having a similar issue with trying to configure a single IPv6 address on an interface. In this case, the interface is a "dummy" interface and already has an IPv4 address. The managed system is Ubuntu 18.04 and the salt version is salt 2018.3.2 (Oxygen).

The state I tried was:

    dummy0:
      network.managed:
        - enabled: True
        - type: eth
        - proto: none
        - ipaddr

[2018-08-10 01:29] #49014 closed

[2018-08-10 08:31] Annnetta commented on #49028
@garethgreenaway Thank you for your answer!

This exactly solution didn't work, but if we change `ret['fun_args'] = [] `to `ret['fun_args'] = ['NULL']` or another string that works!

So the full function here will be:

[code]

[2018-08-10 10:08] dhs-rec opened #49049 "Grains: path (string) vs. pythonpath (array)"
### Description of Issue/Question
Why is the *path* grain a string while *pythonpath* is an array? Could this be streamlined, please (preferred: array, maybe bound to a config option to stay backwards compatible)? This is quite annoying since one always needs to take OS differences (':' vs. ';') into account.

### Setup
[code]
### Steps to Reproduce Issue
Get both grains as shown above.

### Versi

[2018-08-10 12:08] TheLastProject commented on #41214
Just ran into this myself. Seeing as it's still not merged over a year after getting approved, is there any suggested workaround for the time being?

[2018-08-10 12:33] Annnetta commented on #49028
I have one more question.
I would like to have one more column - "comment" that will show what  is in u'comment':

`sudo salt-call --local --metadata state.apply add_file --out=pprint`

[code]

For this I modified mysql.py like this:
To access the information in 'comment' I have used: `salt.utils.json.dumps(ret['return'].values()[0]['comment'])`
[code]

This code works as I have the correct output

[2018-08-10 13:17] gtmanfred commented on #49049
because the PATH grain does checks `os.environ['PATH']` and then `$Env:Path` windows does.   which provides a string back.

[code]

and pythonpath checks sys.path, which returns a list.

So it just depends on the source that it is pulled from.

If you really need a list, i would just write a custom grain that returns the list in the format that you want it.

[2018-08-10 13:24] gtmanfred commented on #49043
I can replicate this.  Thanks for reporting.

Daniel

[2018-08-10 13:25] Ch3LL commented on #41470
yeah we are tracking in release. I think there still needs to be some automated tests added to that repo to test any new PRs, but thats a much bigger task then the scope of this issue.

[2018-08-10 13:25] #41470 closed

[2018-08-10 13:26] gtmanfred commented on #49027
@dwoz can you try this one as well when you get to #49008

Thanks,
Daniel

[2018-08-10 13:27] gtmanfred commented on #48766
:+1:

[2018-08-10 13:44] Ch3LL commented on #48984
can you share the cmd.run state and replication steps, so we can try to replicate the issue to see if we can do a better job at raising an error?

[2018-08-10 14:13] Ch3LL commented on #38012
cool thanks for clarifying. i'll assign myself this and see where the best place is we could document this.

[2018-08-10 14:17] Ch3LL commented on #48839
and does the behavior still exhibit itself in the latest 2018.3 release? we did a ton of unicode improvements in that release.

[2018-08-10 14:44] TheLastProject commented on #41214
I can confirm patch a08be24 fixes the issue.

Before applying:
[code]

After applying:
[code]

[2018-08-10 14:45] colegatron commented on #41214
Is not merged? Thought it was! Sorry if any confirmation was required.

[2018-08-10 14:45] perfecto25 opened #49053 "salt-ssh: TypeError: decode() takes no keyword arguments"
Running Salt-ssh cmd on a Centos 6 client, getting this,

[code]

target host:
[code]

Salt Master
[code]

[2018-08-10 14:51] perfecto25 commented on #48820
Salt was installed via regular RPM install (using bootstrap.sh)

root@saltmaster /h/centos# rpm -qa | grep salt
salt-2018.3.2-1.el7.noarch
salt-minion-2018.3.2-1.el7.noarch
salt-ssh-2018.3.2-1.el7.noarch
salt-master-2018.3.2-1.el7.noarch

python on host was I believe part of initial centos6 buiild,

these are the current python RPMs we have on the box,

[code]

and heres installed pip pkgs
[code]

[2018-08-10 14:53] perfecto25 commented on #48820
does having this pkg on the target interfere w how salt-ssh runs

zmq==0.0.0

salt-ssh doesnt use zmq, wondering if this in someway affects some other core modules.

[2018-08-10 15:03] perfecto25 commented on #49053
I think its related to python 2.6,

https://github.com/gitpython-developers/GitPython/issues/457

Heres a trace output of this command,
[code]

[2018-08-10 15:10] perfecto25 commented on #49053
looks like same py 2.6 bug as this RAET issue,

https://github.com/saltstack/salt/issues/25858

[2018-08-10 15:10] souadsadek opened #49054 "syncing _grains directory"
Hello!
I install the laste version salt-master et salt-minion:
Salt Version:
           Salt: 2018.3.2

Dependency Versions:
           cffi: 1.11.5
       cherrypy: 3.6.0
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: 2.8
        libgit2: Not Installed
        libnacl: Not

[2018-08-10 15:14] perfecto25 commented on #49053
line 236 of salt/client/ssh/ssh_py_shim.py, using a errors keyword, this would cause the issue, py2.6 does not handle decode kwargs

[code]

[2018-08-10 15:37] gtmanfred commented on #49054
sync_all only syncs .py files for custom grains, it does not sync .sls files.

Those files are only synced when the minion asks for them.

`salt-call cp.cache_file salt://_grains/files.sls` will request the file and cache it on the minion in the file cache.

[2018-08-10 15:37] #49054 closed

[2018-08-10 15:42] souadsadek commented on #49054
I have servers files .sls how can automatise  synchronicing theses files sls

[2018-08-10 15:43] aarnaud commented on #37603
Hi @gtmanfred this issues still exist ?
I have the same issue with multimaster pki.

[code]

[2018-08-10 16:00] rso-support commented on #48984
any cmd.run should suffice. the key here is to drop a problematic shell init file in /etc/profile.d/ that causes an error. in my case, I had a few calls to tput which caused the problem. specifically, since  cmd.run doesn't have a terminal attached,  tput bombs out. I suspect anything that exits abnormally would trigger the problem.

/etc/profile.d/trigger.sh
[code]

[2018-08-10 16:34] gtmanfred commented on #49017
There is already a generic `cache.grains` test, what specifically is this supposed to test?

https://github.com/saltstack/salt/blob/fluorine/tests/integration/runners/test_cache.py#L53-L61

[2018-08-10 16:45] gtmanfred commented on #49017
Adding tests for this

https://github.com/saltstack/salt/issues/48694

[2018-08-10 16:57] gtmanfred commented on #49017
Tests for this was added in https://github.com/saltstack/salt/pull/49034

[2018-08-10 16:57] #49017 closed

[2018-08-10 17:07] #38005 closed

[2018-08-10 17:07] #38013 closed

[2018-08-10 17:07] #34034 closed

[2018-08-10 17:07] #38052 closed

[2018-08-10 17:07] #38017 closed

[2018-08-10 17:07] #28443 closed

[2018-08-10 17:07] #38065 closed

[2018-08-10 17:07] #30969 closed

[2018-08-10 17:07] #37900 closed

[2018-08-10 17:07] #16850 closed

[2018-08-10 17:07] #38077 closed

[2018-08-10 17:07] #13550 closed

[2018-08-10 17:07] #34846 closed

[2018-08-10 17:07] #34662 closed

[2018-08-10 17:07] #29385 closed

[2018-08-10 17:07] #38151 closed

[2018-08-10 17:07] #38147 closed

[2018-08-10 17:07] #38095 closed

[2018-08-10 17:07] #33104 closed

[2018-08-10 17:07] #38178 closed

[2018-08-10 17:07] #26509 closed

[2018-08-10 17:07] #29293 closed

[2018-08-10 17:07] #28805 closed

[2018-08-10 17:15] souadsadek commented on #49054
I need this files to customise grains

[2018-08-10 18:07] perfecto25 commented on #49053
in salt/client/ssh/wrapper/state.py, line 82 calls a decode w a kwarg,

[code]

not sure if this needs a py version check if/else block

[2018-08-10 18:35] amendlik commented on #45895
Any update on this?

[2018-08-10 19:30] garethgreenaway commented on #49028
Looks like when you're running the Salt runner it's also attempting to add a job into MySQL and the contents of that job's return data is different.  I'd adding a couple logging statements to see what
`ret['return'].values()[0]` looks like.

[2018-08-10 20:27] #38393 closed

[2018-08-10 20:45] twangboy commented on #37984
`cpuload` has been fixed in 2017.7. The docs have been updated with https://github.com/saltstack/salt/pull/49059.

As far as changing the output of those commands, that's pretty standard across salt for modules that return a single value. I think it's unnecessary.

[2018-08-10 20:45] #37984 closed

[2018-08-10 20:58] The-Loeki opened #49060 "On Py3, redis job cache throws TypeError bytes / str"
### Description of Issue/Question
[code]

There's already `unicode_literals` in there, so since `ret_key` is a bytes, the 'fix' seems
[code]
Which seems odd because the default encoding for redis is already utf8?
What's the canonical way to fix this?

### Versions Report
[code]

[2018-08-10 21:44] Mrten commented on #37992
YES this is still an issue

[2018-08-11 05:06] theonlyjohnny commented on #47338
Is this feature released? It does not seem to be working for me, on salt version 2018.3.0

[code]

[code]

[code]

[2018-08-11 05:12] theonlyjohnny commented on #47338
This grain is obviously copied from https://github.com/saltstack/salt/pull/47372 -- the exact test case specified there -- though it occurs with other function names/logic

[2018-08-11 07:44] youk opened #49065 "Documentation EPUB does not pass validation"
### Description of Issue/Question
[EPUB](https://docs.saltstack.com/en/epub/Salt-2018.3.2.epub) with the documentation does not seem to be completely valid. Checking it with [IDPF EPUB Validator](http://validator.idpf.org) gives [multiple errors](https://github.com/saltstack/salt/files/2280006/EPUB.Validator.beta.Results.txt).

In practice this might make some tools unable to display the file. For

[2018-08-11 12:05] gtmanfred commented on #47338
No, this is a new feature that will be in the Fluorine release.

On Sat, Aug 11, 2018, 12:12 AM Johnny Dallas <notifications@github.com>
wrote:

[2018-08-11 16:03] scravy commented on #34033
@ch3ll sorry, we did not have the capacity to work on this. We found a solution though, we moved to cloudformation.

[2018-08-11 17:57] #35980 closed

[2018-08-12 14:51] Tracerneo opened #49067 "file.*: defaults/context nested dictionaries are not being merged"
### Description of Issue/Question
When using nested dictionaries in `defaults` and `context` arguments in `file.*`states, they are overridden, not recursively merged like it happens with pillars.

### Setup
[code]
[code]

### Steps to Reproduce Issue
`salt '*' state.sls bug`
**Result:**
[code]
**Expected:**
[code]

### Versions Report
[code]

[2018-08-12 15:00] Tracerneo commented on #49067
If the `|default(0)` filter from Jinja file is removed, the state fails Jinja rendering due `foo.baz` being undefined. Should this be treated as a bug?
[code]
[code]

[2018-08-12 15:57] #38184 closed

[2018-08-12 15:57] #38197 closed

[2018-08-12 16:57] #38196 closed

[2018-08-12 20:57] #23678 closed

[2018-08-13 02:15] #38219 closed

[2018-08-13 03:31] pruiz commented on #48522
I have the same issue and I can't seem to make it work. I have an sls file emitting output taken from pillar, and as long as it contains non-ascii chars, it goes havok.

From what I see, 2018.3.2 no longer takes 'yaml_utf8' into account. All references to 'yaml_utf8' have gone away at: https://github.com/saltstack/salt/commits/develop/salt/renderers/yaml.py

Is this yaml_utf8 removal on purpose?

[2018-08-13 03:56] doransmestad opened #49068 "dockermod module overwrites all docker LogConfig defaults"
### Description of Issue/Question
When using salt 2018.3 to control a docker container, an attempt to set a LogConfig option overrides all other LogConfig default set on the docker host for that container.  I would have expected dockermod to have merged the specified options with the defaults, and only override conflicting entries.

### Setup
Using the following state file, my default logging driv

[2018-08-13 04:15] #38202 closed

[2018-08-13 05:59] ketzacoatl opened #49069 "Add support for GovCloud to the S3 module"
### Question

I am using the `file.managed` state to grab a file object from a bucket on S3. The bucket is private, and I'm running saltstack on an EC2 instance that has an IAM Instance Profile. I have confirmed I can access the object with the regular AWS utilities. The bucket is in AWS GovCloud partition/region. I have `s3.location: us-gov-west-1` in my minion config, and have tried various `ser

[2018-08-13 07:15] #37991 closed

[2018-08-13 13:05] rallytime commented on #48557
Fixed with #49026

[2018-08-13 13:05] #48557 closed

[2018-08-13 13:50] gtmanfred commented on #48556
This has been completed and is in both 2018.3 and Fluorine for the next releases.

[2018-08-13 13:58] #46846 closed

[2018-08-13 14:15] Annnetta commented on #49028
@garethgreenaway
As far as I can see the outputs are a little bit different, maybe this creates a problem:

While doing `salt 'windows-minion' -l debug state.apply latest --return`

I have:
[code]
--------------------------------------
If then I do `salt-run jobs.print_job 20180813154611973683`
where in the code (mysql.py) I have written an exception in order to see the output
`raise Exception(rep

[2018-08-13 15:11] scornelissen85 opened #49074 "Missing ARPCHECK option in rh7_eth template"
### Description of Issue/Question
I'm missing arpcheck option in rh7_eth template

### Setup
See https://github.com/saltstack/salt/blob/develop/salt/templates/rh_ip/rh6_eth.jinja, it contains an ARPCHECK option. This option is missing in https://github.com/saltstack/salt/blob/develop/salt/templates/rh_ip/rh7_eth.jinja.

### Steps to Reproduce Issue
Setting `arpcheck: no` on `network.managed`-state

[2018-08-13 15:15] isbm commented on #48556
@meaksh @dincamihai @brejoc could you please get the port to the package?

[2018-08-13 15:17] souadsadek commented on #49054
I add sls extension in the file extmods.py and my pb is resolved
thanks

[2018-08-13 15:34] Ch3LL commented on #49053
we no longer support python 2.6 but we could probably do a better job at adding an error message about this.

[2018-08-13 15:40] cavepopo commented on #47330
+1
I'd love this feature.

[2018-08-13 15:48] Ch3LL commented on #49060
ping @saltstack/team-core any insight here on @The-Loeki 's suggested fix?

[2018-08-13 15:50] Ch3LL commented on #49065
ping @rallytime or @UtahDave have any ideas on how to fix these errors? there seems to be numerous errors here and I am not sure how to approach the fixes here. OR possibly know the person to point this to?

[2018-08-13 16:12] rallytime commented on #49065
Hrm, unfortunately, this isn't something I know much about.

[2018-08-13 16:17] rallytime commented on #49060
@The-Loeki Does the `to_bytes` function work for you here in the `salt.utils.stringutils`?

[2018-08-13 16:31] #48556 closed

[2018-08-13 16:38] Ch3LL commented on #49068
ping @terminalmage any ideas here?

[2018-08-13 16:40] Ch3LL commented on #49069
ping @saltstack/team-cloud i don't think we have support for this but i'm not entirely sure?

[2018-08-13 16:41] Ch3LL commented on #49074
seems like you have a good grasp of the fix want to give a go at a fix for r7?

[2018-08-13 16:42] gtmanfred commented on #49069
I am not aware of GovCloud, or what the difference would be.

I would assume it should just work.

[2018-08-13 16:54] worlvlhole opened #49078 "Ubuntu 18.04 bionic removed ifdown-ifup"
### Description of Issue/Question
Setting a static-ip  with `network.managed` and am getting command not found for ip-down.

[Ubuntu Release Notes](https://wiki.ubuntu.com/BionicBeaver/ReleaseNotes)

salt code that I beleive to be in question:
- [ipdown](https://github.com/saltstack/salt/blob/develop/salt/modules/debian_ip.py#L1803)
- [ifup](https://github.com/saltstack/salt/blob/develop/salt/modu

[2018-08-13 17:33] frogunder opened #49081 "Fluorine - I see error/traceback when running minion in debug mode"
In Fluorine, before the key is accepted when running the minion in debug mode (also see it in the minion log), I see this error/traceback.
Key is accepted fine and I can run commands fine so its working correctly, just see/get this error/traceback
[code]

### Setup
Install Fluorine. I used this commit: 1f668c0011394f508c3a5dc8062ca246f1dce0c6
[code]

### Steps to Reproduce Issue
Install salt, chan

[2018-08-13 17:38] frogunder opened #49082 "Fluorine - When running minion in debug mode it gets flooded with same line"
### Description of Issue/Question
In Fluorine when running minion in debug mode after key is accepted it gets flooded with this line. It gets added every second, it just adds and adds
[code]

[code]
### Setup
Install Fluorine. I used this commit: 1f668c0

[code]

### Steps to Reproduce Issue
Install salt, accept key and see it when running minion in debug mode.

### Versions Report
[code]

[2018-08-13 18:11] grichmond-salt commented on #45895
@amendlik, **Thank you for continuing to pay attention to this issue.**

@cachedout and I looked at the issue together.

He has proposed the following fix:
https://gist.github.com/cachedout/50f0329ea442599e698f73ed4560764c

**Short Version of the fix**

This:
`ret['pchanges'] = __salt__['file.check_managed_changes'](`

Becomes this:
`ret['pchanges'] = ret['changes'] = __salt__['file.check_managed_

[2018-08-13 18:25] gtmanfred commented on #45895
We have gotten into this argument before, now the bottom is incorrect.

[code]

That logic will need to be changed as well.

[2018-08-13 18:28] grichmond-salt commented on #45895
Great catch, @gtmanfred!

[2018-08-13 18:30] rallytime commented on #49081
@gtmanfred Can you take a look at this one since you've been involved in this lately?

[2018-08-13 18:30] rallytime commented on #49082
@garethgreenaway Can you take a look at this one?

[2018-08-13 18:58] gtmanfred commented on #49081
This will be fixed by #49085

[2018-08-13 18:59] #48856 closed

[2018-08-13 19:28] whytewolf opened #49089 "lsattr for AIX is not compatiable with lsattr for linux."
### Description of Issue/Question

When using a bunch of the file state functions, it detects the presence of lsattr on AIX even though the lsattr for AIX is a much different command for device management, not file attributes. So while trying to use lsattr to compare attributes on AIX it throughs an IndexError

### Setup
Have 2018.3.x and use `file.replace` state on AIX.

[code]

### Steps to Repr

[2018-08-13 19:30] whytewolf commented on #49089
ZD-2764

[2018-08-13 19:41] gtmanfred commented on #49078
For the record, you can still install the `ifupdown` package, even though it does not come with ubuntu 18 by default.

[2018-08-13 19:50] frogunder opened #49093 "Fluorine - MultiMaster Failover dont work"
### Description of Issue/Question
In Fluorine, MultiMaster Failover dont work. If the original master goes down, minions wont connect to other master. If I manually restart the minions they will connect to the other master.

I see nothing in the logs, just nothing happens. If I restart the original stopped master I can continue to run commands from that master, they are still connected to that one

[2018-08-13 19:58] scornelissen85 commented on #49074
Yes, I will make a PR for it. But there are more differences between them. For example:
`rh6_eth.jinja`:
[code]
vs.
`rh7_eth.jinja`:
[code]
Actually, I'm wondering why there is a template per major release. If we could write them down to 1 template then it is easier to maintain, and you couldn't miss such differences (I guess).

I have created a PR: #49094

[2018-08-13 20:18] DmitryKuzmenko commented on #48735
That check was added by @skizunov here https://github.com/saltstack/salt/pull/32329

@skizunov could you please take a look?

[2018-08-13 20:26] rallytime commented on #49093
@garethgreenaway You're up!

[2018-08-13 20:41] frogunder opened #49098 "[Fluorine] Installing salt using new bootstrap version (2018.08.13) fails with `-M`"
### Description of Issue/Question
In Fluorine, when trying to install salt using the new bootstrap version(2018.08.13) with this command
[code]
  if fails with this error
[code]

### Versions Report
[code]

[2018-08-13 20:46] rallytime commented on #49098
I chatted with @frogunder about this already. The new bootstrap release works just fine with 2018.3, but fails when you pass in -M installing on the Flourine branch. Something is different in getting the master process started.

@gtmanfred Can you take a look at this one?

[2018-08-13 20:46] frogunder commented on #49093
I did see this issue when this failed. Maybe its related?

https://github.com/saltstack/salt/issues/49082

[2018-08-13 20:55] skizunov commented on #48735
@DmitryKuzmenko I took a fresh look at the code and I think it is fine to ignore annotations since they can exist, but we just won't make use of them (we don't need them to make the function calls, and we won't use them to do type validation at runtime). So I think the following code should be fine:

[code]

[2018-08-13 20:56] amendlik commented on #45895
In my opinion, all references to `pchanges` should be removed until there is clear direction on that point and a plan to implement support across all state modules. That said, I am not going to throw a fit over an unused variable (but your linter might).

But, I think we're missing the bigger picture here. Please reread these comments:
1) [This comment by @amendlik](https://github.com/saltstack/sa

[2018-08-13 21:09] pruiz opened #49100 "salt.utils.yamldumper.dump/safe_dump incorrectly return 'str' instead of unicode on python2.7 (centos)"
### Description of Issue/Question

After upgrading to 2018.3.2 (from 2017.7.2), I've found that when using pillar data (with non-ascii characters) while rendering yaml sls files, it fails with: UnicodeDecodeError: 'ascii' codec can't decode byte...

AFAIK it is due to PyYAML, as invoked at salt/utils/yamldumper.py:safe_dump, returning an 'str' object, which later on is being coerced into unicode a

[2018-08-13 21:13] whiteinge commented on #45895
Agree with @amendlik points [here](https://github.com/saltstack/salt/issues/45895#issuecomment-412661098).

Dry-run `changes` usage has always been schizophrenic -- people complain when it's populated because it looks like something did change, and people complain when it's empty because then you can't test requisites that depend on that within a dry-run.

Dry-run `changes` behavior differs betwee

[2018-08-13 21:15] frogunder commented on #49098
Actually it don't seems it install correctly in Fluorine (as I said earlier) using this command either
[code]
even though it seems to install fine.
The master is not running and it wont start either.
[code]

[2018-08-13 21:17] cmclaughlin commented on #42241
@hiscal2015 still happening in 2017.7.7

[2018-08-13 21:18] cmclaughlin commented on #42241
Whoops, I'm working on `has_privileges`... please ignore my last comment.

[2018-08-13 21:58] UtahDave commented on #49029
@haam3r I've added the python3 rsync directories.  I'm getting this output now:

[code]

I'm making all python3 repos available, which at the moment are RedHat, Ubuntu, and Debian. I'll add others as they are packaged.

@haam3r  Could you test this?

[code]

[2018-08-13 22:15] #38227 closed

[2018-08-13 23:15] DmitryKuzmenko commented on #48735
Thank you @skizunov !
@pimiento could you please try to update you code with that suggestion?

[2018-08-14 00:30] garethgreenaway commented on #49093
@DmitryKuzmenko Mentioned that this works using a built in scheduler job, I've discovered an issue where scheduled jobs using seconds, minutes, etc. aren't running as expected.  This is likely that cause of the master-master fail over not working.  Looking into the scheduler issue.

[2018-08-14 06:15] haam3r commented on #49029
@UtahDave Thanks for the quick reaction :)
I was able to successfully rsync against all 4 targets.
The second command had the path wrong i.e. should be:
`rsync -vaH --numeric-ids --delete --delete-after --delay-updates sync://repo.saltstack.com/saltstack_pkgrepo_ubuntu_python3 ./ubuntu_py3`
instead of:
`rsync -vaH --numeric-ids --delete --delete-after --delay-updates rsync://repo.saltstack.com/sal

[2018-08-14 06:54] sk1988 commented on #47392
We are good to close this one.  Thank you all.

[2018-08-14 06:54] #47392 closed

[2018-08-14 07:48] slhu91 opened #49105 "Salt request timed out. The master is not responding."
### Description of Issue/Question
saltstack run exception error
sometimes success and sometimes failed
![image](https://user-images.githubusercontent.com/14175152/44078426-0255061c-9fd9-11e8-881b-2ae866e22638.png)

![image](https://user-images.githubusercontent.com/14175152/44078037-15988d58-9fd8-11e8-9930-4a2219cbc42a.png)
![image](https://user-images.githubusercontent.com/14175152/44078385-ec28d

[2018-08-14 07:56] slhu91 commented on #49105
debug in salt-minion, have follow info

minion return: {u'fun_args': [u'base.abc_test', {u'test': True}], u'jid': u'20180814145515520668', u'return': u'The minion function caused an exception: Traceback (most recent call last):
File "/data/saltstack/python/lib/python2.7/site-packages/salt/minion.py", line 1600, in _thread_return
return_data = minion_instance.executors[fname](opts, data, func, args

[2018-08-14 08:52] jils2013 opened #49106 "require and require_in in a chain(py renderer),then running without expected order"
### Description of Issue/Question
i want create a group/user/directory in sls(py renderer),and use require/require_in to run in order.
when only use **require**,sls running with expected order.
when use require/require_in together,sls running without expected order.

### Setup
[code]

### Steps to Reproduce Issue
[code]
lerror log on minion node:
[code]

### Versions Report
minion version

[code]

[2018-08-14 11:26] #29648 closed

[2018-08-14 11:58] czhong111 opened #49107 "salt-ssh run state.sls get stuck"
### Description of Issue/Question
Running salt-ssh cmd on a redhat 6 client, getting stuck for ever
### Setup

/srv/salt/test.sls
[code]

### Steps to Reproduce Issue
[code]
on remote server, the python process seems get stopped

[code]
### Versions Report
salt server versions is as followed:

[code]

and remote server info
[code]

[2018-08-14 12:14] jagguli commented on #48967
here's the state, as for the output it looks like there is some binary daa mixed in, the issue could be in the salt mine also , I'm trying to see if there is any thing inmy state that might cause it

[code]

[2018-08-14 13:29] gtmanfred commented on #48967
And when the binary garbage gets added to one of the hostfiles, where does it get added? at the end, with the hostname, with the ip address?

Can you provide an example /etc/hosts file?

[2018-08-14 13:32] #49081 closed

[2018-08-14 13:33] gtmanfred commented on #49098
It looks like we just need to add `python-futures` to the python2 dependencies, because of tornado and the thin tarball in salt-ssh.

[code]

[2018-08-14 14:14] jagguli commented on #48967
It gets added in between, I'll save the file the next time it happens its an intermittent issue.

[2018-08-14 14:17] gtmanfred commented on #48967
That would be great thanks!

Once i can see it, i can have a better idea of where to look. My best guess is that is something in the  mine that is behaving badly, your state looks fine.

[2018-08-14 14:25] Ch3LL commented on #41214
if i'm reading it correctly you merged it into your fork here: https://github.com/colegatron/salt/pull/1
but needed to be pushed up to salt.

[2018-08-14 14:46] Ch3LL commented on #48820
i still cannot replicate this. I installed all of the packages you have in your pip freeze output on teh cent6 host and still not seeing the issue. was this working previously?

when you state: "python on target host was I believe part of initial centos6 buiild," i'm not sure this is true because by default python 2.6 is installed with cent6. If you have salt installed on that box for >=2018.3.0 t

[2018-08-14 14:48] grinapo commented on #48645
sidenoting: salt 2018.3.2 (Oxygen)

**works:**
    match: "^#*Timeout"
**doesn't work:**
    match: "^[#]*Timeout"

[2018-08-14 14:55] Ch3LL commented on #48984
still having a hard time replicating with that in my profile.d.

I just ran a cmd.run state liek below:

[code]

[code]

can you replciate it with just a cmd.run state with that in your profile?

[2018-08-14 15:15] frogunder opened #49114 "[Fluorine] Minionswarm dont work - ImportError"
### Description of Issue/Question
In Fluorine, when trying to use minionswarm, it fails with tis error:
[code]

### Setup
Install Fluorine and grab the minionswarm.py file
[code]

### Steps to Reproduce Issue
Run this command and you'll see the traceback
[code]

### Versions Report
[code]

[2018-08-14 15:50] polak785 opened #49115 "'rabbitmq_user.present' always report changes when read permisson is empty"
### Description of Issue/Question

The state 'salt.states.rabbitmq_user' always report changes when the read permission is set to empty for a user.

### Setup
[code]

### Steps to Reproduce Issue
Apply the state and it will always report changes:
[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[code]

[2018-08-14 16:07] garethgreenaway commented on #49107
@czhong111 Thanks for the report.  It appears that you're remote minion is using Python 2.6, which is unsupported beginning with version 2017.7.  Some incompatibility is likely the cause of what you're seeing.  If possible, can you upgrade the version of Python to 2.7?

[2018-08-14 16:14] garethgreenaway commented on #49078
If we're relying on it in the code, it should probably be a requirement for the package.  /cc @dmurphy18

[2018-08-14 16:16] garethgreenaway commented on #49115
@polak785 thanks for the report.

[2018-08-14 16:18] gtmanfred commented on #49078
a check should be added in the `__virtual__`

[2018-08-14 16:19] garethgreenaway commented on #49105
@slhu91 Thanks for the report.  It appears that at the start of the logs the minion had an exception.  can you provide information about what Salt function you were running that may have caused this?

[2018-08-14 16:27] garethgreenaway commented on #49100
@pruiz Thanks for the report. @terminalmage Can you help get a PR for this over the finish line?

[2018-08-14 16:30] frogunder opened #49117 "[2017.7.8] State module broken"
### Description of Issue/Question
In 2017.7.8 the state module dont work, I get this error:
[code]

### Setup
Install 2017.7.8
[code]

### Steps to Reproduce Issue
Run state modules commands:
[code]

### Versions Report
[code]

[2018-08-14 16:37] #46431 closed

[2018-08-14 16:37] Ch3LL commented on #49069
looks like we had to add support for salt-cloud here: https://github.com/saltstack/salt/pull/45187

so i'm just gonna take a guess we might need to with s3? not sure though

ping @ketzacoatl for reference what version of salt are you running?

[2018-08-14 16:38] Ch3LL commented on #49069
doh thats for azure scratch that but still if we could get the versions report.

[2018-08-14 16:46] #49117 closed

[2018-08-14 16:47] garethgreenaway commented on #49114
@frogunder You're installing Fluorine via packages?  I don't believe the testing suite is included in the packages.  Did this work with previous versions?

[2018-08-14 16:56] frogunder commented on #49114
@garethgreenaway I installed using the bootstrap script, not the newest version since that dont work with Fluorine. I did this:
[code]
Yes it works with previous versions, seems like in the minionswarm.py file this was added for fluorine
[code]
which is not in the 2018.3.2 minionswarm.py, which I just tried and it works fine there

[2018-08-14 17:11] Ch3LL commented on #49074
my only guess is there are differences between how each OS is setup. ping @saltstack/team-core know for sure or can we possibly combine both?

[2018-08-14 17:11] Ch3LL commented on #49074
oh also thanks for the pr @scornelissen85  :) really appreciate it

[2018-08-14 17:34] piec commented on #48224
I agree a bootstrap method would be nice.
salt-ssh also requires python-concurrent.futures on the target machine now, because [tornado requires it](https://github.com/tornadoweb/tornado/blob/master/tornado/locks.py#L16).

`salt-ssh -i <machine> test.ping` fails on a fresh debian installation + python2
Installing python-concurrent.futures on the target machine solves the exception.

---
Sample outp

[2018-08-14 17:37] perfecto25 commented on #43391
btw, I had the same error, solved it by refreshing pillar data,

salt \* saltutil.refresh_pillar

[2018-08-14 17:47] garethgreenaway commented on #49106
@jils2013 Thanks for the report.  Definitely seems like the py render is the culprit. Taking your above state and making it a YAML state, it rendered properly and the requires function as expected.

[2018-08-14 17:48] garethgreenaway commented on #49114
@dwoz Looks like you were the one that made this change.  Thoughts?

[2018-08-14 17:52] amendlik commented on #45895
Be sure to also remove the documentation for `pchanges` introduced in 0e705d2185bfde536e722743c8fd951d62dcacd7

[2018-08-14 18:12] UtahDave commented on #49029
Nope!  Thanks for testing that out!  Good catch on my typo. You did find the correct directory name.  I'll go ahead and close this. Let us know if we need to make any other changes.

[2018-08-14 18:12] #49029 closed

[2018-08-14 18:17] frogunder commented on #49114
I see the same issue on 2017.7.8.

Checked 2017.7.7 and its working correctly there.

[2018-08-14 18:32] #49098 closed

[2018-08-14 19:12] claudekenni commented on #21008
Hicks31 Solution works for me too.

[2018-08-14 19:27] gtmanfred commented on #49069
Then i think this needs to be a feature request to add support for govcloud.

[2018-08-14 19:46] ketzacoatl commented on #49069
OK, thanks for the confirmation. I can close this ticket and create another one, or update the ticket title/description to fit, which would you prefer?

[2018-08-14 19:48] gtmanfred commented on #49069
It should be fine, just needs to be tagged as a feature request.

On Tue, Aug 14, 2018 at 2:46 PM ketzacoatl <notifications@github.com> wrote:

[2018-08-14 19:50] rbthomp opened #49119 "filter_by() returns an ordered dict when passed an ordered dict to merge."
### Description of Issue/Question
It looks like filter_by() can't handle merging of ordered dicts properly. For example when using `{% load_yaml as dict_to_merge %}` the load_yaml returns an ordered dict, but when this dict is passed in to be merged filter_by()  we get a resulting ordered dict. This later breaks using  jinja `{{ merged_dict.key }}` because Jinja2 can't handle ordered dicts.

It ap

[2018-08-14 20:03] grichmond-salt opened #49120 "Issue with Compound Requisites"
### Description of Issue/Question
Compound requisites in states are supported, however, the following use case shows unexpected behavior.

Per @gtmanfred :
"It goes through the for loop, sees that the state has an `onfail` check, and then does a `continue` which then jumps back to the next item in the for loop, and never runs that if check for `onchanges`."

Reference:
https://github.com/saltstack

[2018-08-14 20:39] terminalmage commented on #49068
Unfortunately it's not that simple. We aren't using the same API you found, we're using the low-level API, and that requires the entire log config to be specified, as seen in the docs for the [docker_container.running](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.docker_container.html#salt.states.docker_container.running) state.

[2018-08-14 21:15] rbthomp commented on #49119
My issue turned out to be something else. Closing.

[2018-08-14 21:15] #49119 closed

[2018-08-14 21:17] rallytime commented on #49114
Adding that import definitely is causing this to fail, but since `minionswarm` is in the same directory as the other files in `tests` (helpers in this case), I think this is expected behavior. The testing files don't come with a package install, and I don't think we make any promises that minionswarm will work on it's own.

@saltstack/team-core any additional thoughts?

[2018-08-14 21:18] frogunder commented on #49114
Closing this.
When installing using the bootstrap script the `tests` dir don't get copied over. If installing using git or do a git clone its working correctly.

[2018-08-14 21:18] #49114 closed

[2018-08-14 22:26] #38259 closed

[2018-08-14 22:29] terminalmage commented on #49100
The dumper functions are correct to return `str` types, as serialized contents must be able to be written to filehandles.

I've submitted #49125 as a correct fix for this.

[2018-08-15 00:26] #28490 closed

[2018-08-15 00:26] #20245 closed

[2018-08-15 01:26] backerman commented on #33248
@jasperla Your pf module works just fine on FreeBSD; the only exception is that the available loglevels are different:

- none
- urgent
- misc
- loud

[2018-08-15 01:28] jils2013 commented on #49106
@garethgreenaway,that's right,i test the state in yaml(run with expected order)

[2018-08-15 02:33] angeloudy commented on #48773
We are also seeing this problem and its causing us some grief. Although

`Depends decorator instantiated with dep list of (False,)`

only adds 6-7 seconds to every state run, some of our orchestrations are taking 10 minutes to execute instead of 2 minutes because all that overhead adds up.

@gtmanfred I don't quite understand your point about python versions, but if our environment is tightly cont

[2018-08-15 04:12] hemebond commented on #39049
Is this not achieved by specifying the subnets for the loadbalancer? It also sets the availability zones for the ELB.

[2018-08-15 05:01] angeloudy commented on #48773
After I configured `disable_modules` on the minion
[code]
, it runs a little bit faster, but still quite slow. I can still see @depends in the trace. It seems `disable_modules` does not prevent loading the module.

[2018-08-15 06:00] ist0ne commented on #31123
/etc/ntp.conf:
  file.managed:
    - source:
      {% if salt['match.grain_pcre']('id:host(1|2)c', delimiter=':') %}
      - salt://ntp/files/ntp.conf.server
.......

[2018-08-15 06:05] MAHDTech commented on #48168
Wouldn't a better mechanism be to include knowledge of transactional-update into zypper upstream by SUSE similar to how zypper currently handles btrfs snapshots.

Then not only does there need to be no extra work done in salt, but every current openSUSE user doesn't have to remember to use `transactional-update`  when their muscle memory keeps typing `zypper`.

Not to mention all the existing scri

[2018-08-15 09:42] mruepp commented on #46885
Hi, AFAIK with 2018.3.2 this is not resolved. I am not able to skip the hostname key in the state. The state will not run if hostname is not set.

[2018-08-15 11:59] grinapo commented on #37552
@stale I am suspecting this has not been fixed, since nobody decided yet how.

[2018-08-15 12:14] waynegemmell commented on #48204
Hi, is this still being worked on? I have the same issue on 2018.3.2.

[2018-08-15 12:57] brejoc commented on #48168
Like mentioned on the zypper issue (https://github.com/openSUSE/zypper/issues/198) I think it makes perfect sense to have a separate module for this and I think @meaksh already started working on this.

I really feel your pain with the scripts and the muscle memory, @MAHDTech. It's the same for me. But a transactional server behaves completely different from a traditional server and having `transa

[2018-08-15 13:16] gtmanfred commented on #48773
Sure, you may only use one python version, but we are supporting several.

[2018-08-15 13:31] gtmanfred commented on #48773
How long does it take to run when you run the `salt-minion` and make the calls through the publish bus from the master using `salt <minion> test.true`?

[2018-08-15 13:36] gtmanfred commented on #48967
hrm, it looks like it is adding it between each character, once i remove the representation of the binary, i get.

[code]

Does that look familiar to you? is it something you are still using or is it something extra that might be left over in the mine?  It is odd that the binary is added between every line.

Thanks,
Daniel

[2018-08-15 14:54] Ch3LL commented on #37552
are you still seeing the issue on 2018.3 versions?

[2018-08-15 15:01] vryzhenkin opened #49130 "There no way to exclude SLS in calling salt.state inside orchestration"
### Description of Issue/Question
I'm trying to make scenario for orchestrate and invoke it via reactor.
What I have now:
[code]
That basically is equivalent to:
`salt -C node_name state.sls foo`

I need to apply state with exclude like:
`salt -C node_name state.sls foo exclude=foo.bar.buzz`
I tried a lot of variants(simple adding exclude: foo.bar.buzz, adding it via args, kwargs, running SLS via

[2018-08-15 15:33] 11chrisadams11 commented on #48825
Is there a workaround for this, or is it being worked on for a new version? Is there something that I could change to allow it to continue with the installation?

[2018-08-15 16:45] breshead commented on #46942
Pull request created.

[2018-08-15 18:17] #34540 closed

[2018-08-15 20:17] #38273 closed

[2018-08-15 20:44] twangboy commented on #46644
So, Python has been using the Windows Certificate Store since 2.7.9 and 3.4. The problem is another dependency that Salt is using; Tornado. certifi is a requirement for Tornado versions <5. Starting with Tornado 5.0 they dropped the certifi requirement. However, Salt on Py3 is pinned to using versions of Tornado greater than 4.2.1 and less than 5. Support for Tornado 5 will be implemented in the F

[2018-08-15 20:51] aarnaud commented on #43579
same issue, but `salt '*' test.ping` works. I can't ping or highstate from top master through a syndic with a specific match.
I have to include always the syndic if i want a response of minion like this `salt -L 'myminion,mysyndic' test.ping` both response

but if i try `salt 'myminion' test.ping` no response

[2018-08-15 20:53] twangboy commented on #46644
@rickh563 ^^^

[2018-08-15 21:17] #15709 closed

[2018-08-15 21:29] doesitblend opened #49141 "Minion continues to run execution modules with incorrect authentication key"
### Description of Issue/Question
In this scenario, I deleted the minion key files from the minion. If this ever happened, I expect communication to persist while the minion is up since I believe the key loaded into memory at that point. So this is mostly expected behavior below.
[code]

Where this goes wrong is I'm seeing that it can't process `state.apply`, but it can return info from modules li

[2018-08-16 00:13] angeloudy commented on #48773
There's no difference if I run `salt-call` or `salt <minion>` on the master(probably a few ms ).
I have now made it much faster by adding `grains_cache: True` to the minion config.

[2018-08-16 01:54] boltronics opened #49145 "salt-cloud intermittent AWS failure assigning tags"
### Description of Issue/Question
I provisioned a new host and ran into this:
[code]
The instance was created successfully, but none of the tags existed which caused other problems for us. Nuking the instance after identifying the issue and recreating it in the same way worked.

I have created many instances before, with a variety of AMIs (including the one in use here) and this was the first time

[2018-08-16 02:18] damon-atkins commented on #14613
Might help the salt team if you provide some examples.  I suspect your all talking about master-less implementations Or your running a master on a local work station for testing before pushing the code up to your git repo?

[2018-08-16 07:55] furgerf opened #49147 "Log filled with "Exception occurred while Subscriber handling stream: Already reading""
### Description of Issue/Question
Hi, on a server running salt-minion and salt-master, the minion's logfile was today filled (quite quickly) with the following message:

[code]

Stopping the minion service didn't stop the process writing to the logfile, neither did SIGTERM - I only got rid of it with SIGKILL (PID 25008 here):

[code]

### Setup
I don't know what's relevant here...

### Steps to Re

[2018-08-16 08:50] luginbash commented on #16589
I'm having exactly same issue with 2018.4

[2018-08-16 08:52] patrikelmberg opened #49149 "PDF documentation is not complete"
### Description of Issue/Question
https://docs.saltstack.com/en/pdf/Salt-2018.3.2.pdf does not contain the full documentation.
Ends after chapter 13 Salt Cloud.

Earlier version seems to match the web pages well.
https://docs.saltstack.com/en/pdf/Salt-2017.7.7.pdf

[2018-08-16 09:38] sunyq opened #49150 "hosts.rm_host changes /etc/hosts file with odd characters"
Dear all:
  I am using Saltstack to modify /etc/hosts file.
  Sometimes I just found salt-minion modified my /etc/hosts with odd characters.
  Here is some minion log(I obscured some IP&username info):
![image](https://user-images.githubusercontent.com/2890053/44200669-bb486a00-a179-11e8-88ee-c8726b2b49c6.png)
And sometimes the same command can run correctly on the same machine:
![image](https://u

[2018-08-16 09:48] erwindon opened #49152 "problem with salt.wheel.error and raise_error"
### Description of Issue/Question
When executing `wheel.error.error`, an unexpected internal error occurs.
The original purpose of this function is to raise an error. But it should be the specified error.

I believe the error is due to the code in file `salt/utils/error.py`.
There is exception handling around `import exceptions` which is triggered as under Python3 this package does not exist,
But

[2018-08-16 09:57] TheLastProject commented on #41214
@colegatron Mind going to https://github.com/saltstack/salt/compare/develop...colegatron:colegatron-fix%2341214-1?expand=1 and make that pull request to Salt upstream? I'd do it for you, but I didn't write the code, which would probably cause some copyright ownership mess. Would be best if you would :)

[2018-08-16 10:19] sbrakl opened #49153 "win_iis.create_app fails if IIS web app is already exists"
### Description of Issue/Question
I am using win_iis.create_app state to create nested webapps on IIS
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.win_iis.html#salt.states.win_iis.create_app

IIS Structure is all follows

If SubSubApp1 exists, it fails with following error

[code]

It seems, it calling 'New-WebApplication' powershell, before checking if the subsubapp1 exists.

#

[2018-08-16 12:07] vryzhenkin commented on #49130
I found a workaround there.
Need to do the same with `exclude` arg https://github.com/saltstack/salt/commit/c89659537e90f9ac5897a33ebffe2f5ea4fd6be6

[2018-08-16 12:26] baby-gnu commented on #14613
@damon-atkins I have 2 scenarios.

The first is described in [#issuecomment-365304565](https://github.com/saltstack/salt/issues/14613#issuecomment-365304565).

The second is to use salt as a master-less provisionning for cloud images where I can't use `salt-ssh` (in a chroot for example): I would like to be able to mount a directory in my chroot and make the provisionning working with `salt-call`.

[2018-08-16 13:30] aarnaud commented on #43579
I resolve my issue, it's link to `zmq_filtering: True`
To keep `zmq_filtering: True`, I have to apply this patch
https://github.com/saltstack/salt/pull/48905

[2018-08-16 13:32] gtmanfred commented on #47013
The new state documents are up.

[2018-08-16 13:32] #47013 closed

[2018-08-16 13:38] CutePotatoDev opened #49154 "managed - keep_source option, not clean cached file."
### Description of Issue/Question
Hello.
salt.states.file.managed have option - keep_source. It description say:
Set to False to **discard the cached copy of the source file** once the state completes. This can be useful for larger files to keep them from taking up space **in minion cache**.  ...

Problem is that after managed command state execution. Cached file is still in minion cache.
### Setu

[2018-08-16 13:54] dhs-rec opened #49155 "gitfs: git push --force doesn't invalidate caches"
### Description of Issue/Question
After doing a `git push --force` on a repository that serves as a gitfs backend the Git caches on the Salt master are not invalidated. It must be done manually and the master must be restarted in order to function properly again. Only indication are messages like this in the log:

Aug 16 15:13:22 ip-172-31-4-233 salt-master[14492]: Traceback (most recent call last

[2018-08-16 13:54] josephname opened #49156 "m2crypto-0.28.2-3.el7.x86_64 in salt repository breaks subscription-manager in RHEL7x"
### Description of Issue/Question
running "yum update" when salt repository https://repo.saltstack.com/yum/redhat/7Server/x86_64/2018.3/ is attached will break subscription-manager in RHEL7.x servers.  The error received is Error: /usr/lib64/python2.7/site-packages/M2Crypto/_m2crypto.so: symbol sk_deep_copy, version libcrypto.so.10 not defined in file libcrypto.so.10 with link time reference
### S

[2018-08-16 14:11] jschmid1 commented on #46884
The fix seemed to not have reached pypi. Looking at

`git branch -r --contains 736b382e913e46bce69940350e32d530f7560dac`

tells me that it should be in

[code]

from these branches I can find 2017.7.0 ( which resembles to 2017.7? ) and 2018.3 ( which resembles to 2018.3.0 ). If these assertions are truthful then we seem to miss the commit.

Otherwise the 3.3 and 7.8 are simply not yet released. Do

[2018-08-16 14:11] gtmanfred commented on #43579
Ahh yes, i need to start asking people about that.

I am going to close this issue since we haven't heard from the OP in almost a year, @nadav-makleff if you are still having problems please let me know and I can reopen the issue.

[2018-08-16 14:11] #43579 closed

[2018-08-16 14:36] bittermandel opened #49157 "Faulty reference to get_umask in file.managed"
### Description of Issue/Question
When using file.managed with mode not set and not on Windows, Salt crashes as it tries to import an attribute that does not exist in salt.utils.files:
[code]

### Setup
Salt 2018.3.2
Debian 9.4

[code]

### Steps to Reproduce Issue
Use file.managed and do not set mode.
File's umask:
[code]

### Versions Report
[code]

[2018-08-16 14:41] Ch3LL commented on #49130
agreed that it would be nice to add this specification in the orch states. will approve as a feature request.

Taking a glance at the docs it looks like you should be able to specify exclude as an argument like so: `salt-run state.orchestrate test exclude=foo2` but would definitely be nice to set it in the state file.

If you want to try to take a go at a PR we are more then willing to accept it :

[2018-08-16 14:49] Ch3LL commented on #49145
ping @saltstack/team-cloud any ideas here as this one seems to be a bit hard to replicate?

[2018-08-16 15:04] Ch3LL commented on #49147
was there possibly anything before these log messages appeared that might be more telling as to why this occurred?

Any other reason as to why this would have occured? Where you running a particular command, state, etc?

[2018-08-16 15:07] Ch3LL commented on #49149
thanks for the heads up. i'll take a look into this.

[2018-08-16 15:09] Ch3LL commented on #49150
can you paste the command you are running?

[2018-08-16 15:16] furgerf commented on #49147
As far as I know, no manual activity caused this. This looks like the beginning, there don't seem to be any earlier messages:

[code]

The master's log file contains many stacktraces because it's unable to create temp files, as well as messages like those:

[code]

Sorry, I could've added that right at the start, hope this helps!

[2018-08-16 15:33] wenxin-wang opened #49159 "incorrect default value of minion's 'ipv6' option"
### Description of Issue/Question

In the documentation of the [latest version(2018.3.2)](https://docs.saltstack.com/en/latest/ref/configuration/minion.html#ipv6), and the [develop version](https://docs.saltstack.com/en/develop/ref/configuration/minion.html#ipv6), the default value of minion's `ipv6` option is documented as `None`.

However, in the code of [2018.3.2](https://github.com/saltstack/s

[2018-08-16 15:40] holmboe commented on #48085
@cbosdo I think it is a good thing to retire `libvirt:hypervisor` setting as you have set out to do. :+1:

[2018-08-16 15:47] Ch3LL commented on #49154
looks like i'm able to replicate this allt he way back to 2017.7.3 which was the version it was added. I noticed it gets here: https://github.com/saltstack/salt/blob/develop/salt/states/file.py#L2828 and it doesn't get removed because `sfn` is empty.

ping @terminalmage any ideas here

[2018-08-16 15:49] Ch3LL commented on #49155
ping @terminalmage any ideas here?

[2018-08-16 15:51] Ch3LL commented on #49156
ping @dmurphy18 can you take a look here?

[2018-08-16 15:51] dmurphy18 commented on #49156
@josephname The version of M2Crypto in version reports is M2Crypto: 0.21.1 (typically supplied by Redhat)

The version of M2Crypto supplied by Salt with 2018.3.2 is m2crypto-0.28.2-3.el7.x86_64.rpm

Does the issue occur if the version of M2Crypto supplied by Salt ?

[2018-08-16 15:59] Ch3LL commented on #49157
i cannot replicate this and `salt.utils.files.get_umask()` does exist in the code. how did you install salt? i'm wondering if you have some old pyc files that possibly need to be cleared out?

[2018-08-16 16:04] Ch3LL commented on #49159
looks like the ipv6 default value was changed to false here: ccfa24260db which is in this PR https://github.com/saltstack/salt/pull/45354

ping @terminalmage any possibilities we can change it back to None and avoid the warning?

[2018-08-16 16:04] sunyq commented on #49150
@Ch3LL  Hi, I used curl as the http client and call salt-api to modify /etc/hosts.
Here is my command:
[code]
Thank you.

[2018-08-16 16:09] Ch3LL commented on #49141
ping @saltstack/team-core i'm actually note sure what would be expected in this scenario. Any thoughts on what should be occurring here?

[2018-08-16 16:14] rbthomp opened #49160 "Scheduled state not able to send output to returner."
### Description of Issue/Question
I'm getting an error when trying to schedule a state run, with a returner.

The data never gets sent to the returner rawfile_json.

[code]
### Setup
Schedule a state run using pillars.
/etc/salt/minion.d/salt_events.conf
[code]
pillar
[code]

utils/test.sls
[code]

### Steps to Reproduce Issue
Configure schedule to run via pillars.

### Versions Report
Salt Versio

[2018-08-16 16:18] josephname commented on #49156
Yes, the 0.28.2-3 version in the salt repository caused the problem.

[2018-08-16 16:36] terminalmage commented on #49155
This honestly makes no sense, as the "cache" is _always_ replaced when a file is requested. The files in the "cache" are only there because we need the file to exist locally for it to be transferred to the minion, and we pull it out of the git objects to do so.

There is really nothing to invalidate.

[2018-08-16 16:56] englishm-llnw opened #49161 "The `onchanges` requisite requires the use of module names"
### Description of Issue/Question

The `onchanges` / `onchanges_in` requisite requires the use of module names to differentiate between similarly named states.

Slack discussion:
https://saltstackcommunity.slack.com/archives/C7K04SEJC/p1534431715000100

### Setup

`testcase.sls`:

[code]

`testcase2.sls`:

[code]

https://gist.github.com/englishm-llnw/ffac82a1b66f7fc56a2a5cb9c1f0f587

### Steps to

[2018-08-16 17:17] dmurphy18 commented on #49156
@josephname The version from salt-run --versions-report show 0.21 for M2Crypto

Dependency Versions:
           cffi: 0.8.6
       cherrypy: Not Installed
       dateutil: 1.5
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: 2.7.2
        libgit2: Not Installed
        libnacl: Not Installed
       **M2Cryp

[2018-08-16 17:38] josephname commented on #49156
Yes, we had to fix that server.  Sorry for the confusion.  You should be able to test and verify that installing m2crypto 0.28.2-3 on a RHEL 7 server will break subscription-manager.  We done it on two different servers to verify.

[2018-08-16 18:35] gtmanfred commented on #49145
Can we get the debug logs for this?  probably just need better exception handling for assigning tags, i am not sure what the issue would be at this moment.

[2018-08-16 19:34] aarnaud commented on #38862
+1

[2018-08-16 19:56] terminalmage commented on #49154
Fixed in https://github.com/saltstack/salt/pull/49164

[2018-08-16 20:02] apt-itude opened #49165 "METADATA file is invalid due to tornado requirements"
### Description of Issue
Installing salt via pip in a Python 2.7 environment succeeds, but produces the following error output:
[code]

salt has a conditional dependency on the tornado library, depending on the Python version:
[code]

pip obeys the `python_version` environment markers and correctly installs tornado 5.1, but the resulting `METADATA` file it generates omits the environment markers:

[2018-08-16 20:03] garethgreenaway commented on #49160
@rbthomp So far I haven't been able to reproduce this particular error.  I'm wondering if there is another exception that is happening before this one and causing the `data_returner` variable to not be available i when it's referenced later.

[2018-08-16 20:14] garethgreenaway commented on #49093
@frogunder I believe this one should also be fixed in the PR that I referenced above.  Are you able to test MultiMaster failover using that branch?

[2018-08-16 20:55] dmurphy18 commented on #49156
Using a AWS  Redhat 7 server, not seeing issue.

[root@ip-10-0-0-225 ec2-user]# yum list m2crypto*
Loaded plugins: amazon-id, rhui-lb, search-disabled-repos
Installed Packages
m2crypto.x86_64                                                                0.28.2-3.el7                                                      @salt-latest
Available Packages
m2crypto-debuginfo.x86_64

[2018-08-16 21:35] josephname commented on #49156
we had to fix our servers and move on, I just thought you would be interested in this.  I might be able to re-create it on another server soon.  The error from subscription manager is pasted in my first comment.

[2018-08-16 21:43] dmurphy18 commented on #49156
I noticed that you were using 7.2 but unfortunately the quick way is to use AWS and they gave 7.5.  I shall search through AWS to see if I can find a 7.2 install.  To help with trying to reproduce this, can you provide the contents of /etc/redhat-release.

Running subscription-manager facts did not appear to have any issues:

[root@ip-10-0-0-225 ec2-user]# subscription-manager facts
cpu.core(s)_pe

[2018-08-16 22:52] garethgreenaway commented on #49160
@rbthomp I was finally able to reproduce this under the following scenario, a Salt master running 2017.74 and a Salt minion running 2018.3.  Does this match your setup at all?

[2018-08-16 23:10] garethgreenaway commented on #48204
@waynegemmell Yup.  Unfortunately just pushed to the back burner, circling back to it now.

[2018-08-16 23:48] twangboy commented on #49153
@sbrakl I haven't been able to replicate this issue. I've tried on Py2 and Py3 versions of salt on Windows Server 2016 and 2008r2 boxes. Here's the state file I've been using.

[code]

Am I doing something different? Could you post your entire state file? (sanitized)

[2018-08-17 00:02] boltronics commented on #49145
Unfortunately I don't have debug logs for the above error. I've since launched about 10 more instances using the same AMI in the same way and not experienced the issue again, so I don't think such logs are going to be easy to obtain. I agree that it probably just needs some exception handling, and ideally a couple of automatic retries before a hard failure.

[2018-08-17 01:55] boltronics commented on #21260
This issue is still an issue in 2017.7.7. Please re-open.
`# salt -C 'G@virtual:physical or G@virtual_subtype:"Xen Dom0"' test.ping` returns nothing.

Some other tests I have tried:
[code]
This is actually quite frustrating because there's no default grain to just say "match all physical hosts" since even dom-0 physical hosts return "xen" for the `virtual` grain.

[2018-08-17 02:51] terminalmage commented on #49060
I'm not sure what the reasons are either, I've never used py-redis. However, the docs don't really warn about performance (see [here](https://github.com/andymccurdy/redis-py#getting-started)), so perhaps the best solution is indeed to use `decode_responses=True`.

[2018-08-17 05:37] dhs-rec commented on #49155
Hmm, the server is an Ubuntu 16.04. Will try to upgrade to 18.04 and see what happens.

[2018-08-17 07:11] epcim opened #49168 "salt-call --local virt.init - Failed to set NBD socket"
### Description of Issue/Question

`sudo salt-call --local -c ./salt virt.init xenial-server-cloudimg-amd64 1 512 /var/lib/libvirt/images/xenial-server-cloudimg-amd64-disk1.img`

ends up with:
[code]

The salt-images was created sucesfully:

[code]

## Setup
I can start domains without any issue with `virt-install` manually.

### Steps to Reproduce Issue
Run the above command, the image is from ht

[2018-08-17 09:47] dawidpogorzelski commented on #48947
Have a working fix:
https://github.com/dawidpogorzelski/salt/commit/6acfa841a306e69aff6c415562d56737653dc7c3
This seemed like the most logic place where to do this serialization work to me but there are most likely better places

[2018-08-17 13:25] tobias-kuendig commented on #48768
It looks like the state itself is returning `True` after all. I cannot reproduce the exact issue I had a few days ago.

I guess the error happens during the rendering of the yaml template, that's why the state itself is working. I get the `ERROR` and `ret code 1` entries in the log though.

This is the output on the first run, the firewall rule does not yet exist (`Failed to decode stdout from com

[2018-08-17 13:28] dawidpogorzelski commented on #42449
@johje349 is this still an open issue or you managed to find a solution?

[2018-08-17 13:39] gtmanfred commented on #49145
Actually, looking at the error message, i bet it is just a race condition thing.

[code]

But looking at the code, it looks like the `query_instance` function in the ec2 driver should wait until the device exists before the tag command gets run.

Hrm, yeah i will need more information about this, and the debug logs before we can come up with an actual solution for it.

[2018-08-17 13:41] gtmanfred commented on #42449
We probably just need to trigger a mine.update on the minion start.  That should solve the problem, cause looking at the mine.update function in the schedule, nothing tells it to run it immediately.

[2018-08-17 14:08] dawidpogorzelski commented on #42449
i guess something like this could be a quick workaround without patching the code?
[code]

[2018-08-17 14:09] Ch3LL commented on #48825
i would have an easier time at a fix if i had a vmware instance to look at but we did a bunch of Unicode work in the 2018.3 releases. I want to guess we need to convert the stdout to unicode, something like `salt.utils.stringutils.to_unicode(stdout)` but i'm not sure without looking at it, and @gtmanfred might have a better idea too here whether we need to be handling it higher in the stack or not

[2018-08-17 14:15] gtmanfred commented on #42449
yeah, you would end up with two mine functions.

[2018-08-17 14:16] Ch3LL commented on #46884
yeah we have not released 7.8 and 3.3 yet. we are trying to get it out by the end of this month :)

[2018-08-17 14:19] Ch3LL commented on #49147
ping @saltstack/team-transport any ideas here? or follow up questions since this might be difficult to replicate.

[2018-08-17 14:36] rbthomp commented on #49160
Thanks for your help on this. You were correct there is an error before the one I provide. Here is the full error result.
**ERROR**
[code]

Here is the version for the master and minion.

**Master:**
Salt Version:
           Salt: 2018.3.0

Dependency Versions:
           cffi: 1.5.2
       cherrypy: 3.6.0
       dateutil: 2.4.2
      docker-py: Not Installed
          gitdb: Not Installed
      g

[2018-08-17 14:44] Ch3LL commented on #49150
i'm having a hard time replicating this:

[code]

[code]

[code]

how often does this occur?

[2018-08-17 14:47] aarnaud commented on #39420
Same issue,
random pillar key/value with a conf like :
[code]

[2018-08-17 14:49] jschmid1 commented on #46884
thanks :)

[2018-08-17 16:19] rbthomp opened #49174 "Beacon diskusage reporting incorrect diskusage value."
### Description of Issue/Question
The Beacon diskusage is reporting the incorrect diskusage in the event.

This is due to wrong value being referenced. In the diskusage beacon module.

I corrected this by referencing ```_mount``` instead of ```mount```
**before:**
[code]
**corrected**
[code]
This will set _current_usage with the partition found using the regex and not the one listed in the config.

[2018-08-17 16:43] sunyq commented on #49150
[code]
Very strange, nearly almost in my case .
I am not using Docker, and I am using virtual machines(CentOS 6) for this test.

[2018-08-17 17:17] rbthomp opened #49175 "SaltClass duplicate entries in merged list."
### Description of Issue/Question
In the situation when a list in contained in both a parent class and child class you get multiples of the same value in the list. This is particularly an issue when running things like beacons. You will get duplicate events and will trigger multiple reactors for the same event.

### Setup
default.yml
[code]
child.yml
[code]
Result pillar:
[code]

Node.yml
[code]

[2018-08-17 17:48] breshead commented on #46942
Updated pull request for issues raised by terminalmage. Not sure if this is a new request or updated.

[2018-08-17 18:26] damon-atkins commented on #48522
yaml_utf8  it was removed with the effort to convert all of Salt PY2 and PY3 to support Unicode, and Unicode the internal string structure of salt.

[2018-08-17 18:31] V3XATI0N opened #49177 "Limited EAuth users are basically useless"
### Description of Issue/Question

I have used the external auth system for Salt-API access for a long time, but have never needed to restrict permissions until now. But the way the Eauth system works, limiting permissions seriously restricts the usefulness and convenience of Salt, both on the CLI and via Salt-API.

If a user defined in the Eauth configuration has access to only a subset of minion

[2018-08-17 20:41] erwindon commented on #47235
Or simply use `salt --static unreachable-or-down-minon test.ping; echo $?`
The exit code is 0 when it succeeds, otherwise it is 2.

[2018-08-17 20:54] #38235 closed

[2018-08-17 20:54] #36430 closed

[2018-08-17 20:54] #37189 closed

[2018-08-17 20:54] #38347 closed

[2018-08-17 20:54] #38029 closed

[2018-08-17 20:54] #17203 closed

[2018-08-17 20:54] #38338 closed

[2018-08-17 20:54] #26792 closed

[2018-08-17 20:54] #37887 closed

[2018-08-17 20:54] #37752 closed

[2018-08-17 20:54] #5458 closed

[2018-08-17 20:54] #38366 closed

[2018-08-17 20:54] #3790 closed

[2018-08-17 20:54] #38201 closed

[2018-08-17 20:54] #38169 closed

[2018-08-17 20:54] #26490 closed

[2018-08-17 20:54] #28953 closed

[2018-08-17 20:54] #38392 closed

[2018-08-17 20:54] #38394 closed

[2018-08-17 20:54] #38409 closed

[2018-08-17 20:54] #33618 closed

[2018-08-17 20:54] #38304 closed

[2018-08-17 20:55] #24389 closed

[2018-08-17 20:55] #24034 closed

[2018-08-17 20:55] #38016 closed

[2018-08-17 20:55] #38439 closed

[2018-08-17 21:14] rysiekpl opened #49181 "Support `opkg` on OpenWRT/LEDE"
### Description of Issue/Question

[OpenWRT/LEDE](https://openwrt.org/) uses `opkg` as a package manager. However, trying to use the `opkg` module on an OpenWRT/LEDE minion fails with:

[code]

It would be great if `opkg` was supported also on OpenWRT/LEDE.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

[code]

### Steps to Reproduce Issue
(Inclu

[2018-08-17 21:40] jmarinaro commented on #45620
Looks like it must be something with python2.7, I still see the issue with 2018.3.2
[code]

[2018-08-17 21:54] #9012 closed

[2018-08-17 21:54] #37758 closed

[2018-08-17 22:32] rysiekpl commented on #49181
Seems like work is underway: https://github.com/saltstack/salt/blob/2018.3/salt/modules/opkg.py#L59-L65

For the time being upgrading to `2018.3.2` and copying this version of the module into `salt://_modules/`works. Once `2018.3.3` is released this ticket can be closed.

[2018-08-18 00:45] erwindon commented on #45620
@jmarinaro
Did some testing with a pair of 2018.3 systems:
on the python2 based system the original observation can be repeated.
on the python3 based system the original observation cannot be repeated, numbers be have like 64-bit double.

[2018-08-18 00:48] erwindon commented on #45620
And another test done.
The effect only appears with `salt-call`; not when `salt` is used to target the same minion.

[2018-08-18 01:06] erwindon commented on #45620
And another test done:
sudo salt-call --out=yaml test.arg_clean dec2='1516645352.09' dec3='1516645352.009' dec4='1516645352.0009'
properly shows the given values in all their details
the default outputter is `nested`; so that one most likely has the problem...

[2018-08-18 03:53] #6739 closed

[2018-08-18 11:13] erwindon commented on #45620
The problem is due to the default format that python2 uses for formatting floating point numbers.
It is actually a old problem, see https://mail.python.org/pipermail/tutor/2007-December/058964.html.
In the Python2 source code it says `#define PyFloat_STR_PRECISION 12`. Thus the restriction to 12 digits there.
In python issue https://bugs.python.org/issue9337 it was decided that this artificial lim

[2018-08-18 14:28] jagguli commented on #48967
Looking at the issue referenced by @sunyq I think we can rule out the possibility of this being related to mine.

@gtmanfred yes that line is what is expected

[2018-08-18 14:39] jagguli commented on #48967
There is a lot of low level byte handling going on in the hosts module, not sure why, I suspect the issue is in rm_host. I'll try to dig deeper but im inclined to write a custom module using https://github.com/jonhadfield/python-hosts which seem to be a more through implementation

[2018-08-18 15:53] #32859 closed

[2018-08-18 16:53] #31530 closed

[2018-08-19 02:35] #38546 closed

[2018-08-19 07:00] damon-atkins commented on #8875
@Ch3LL can this request be escalated into the up coming release its such a large difference between states and pillars.

[2018-08-19 11:42] #38486 closed

[2018-08-19 17:47] sjorge commented on #37027
This is still a small problem, but both upstream (Illumos) and python do not agree with each other. Python says the API used to query should support both IPv6 and IPv4 like Linux does. Illumos does not agree.

This still results in incorrect grain data after all the code trying to do the right thing (which was confusing) got taken out. As a workaround I still manually override those grains. Far fr

[2018-08-19 17:47] #37027 closed

[2018-08-19 19:54] darkpixel opened #49196 "Highstate against specific minion fails, highstate against '*' succeeds"
### Description of Issue/Question
Running ```salt 'cust-cb1' state.highstate``` returns:
[code]

Running ```salt '*' state.highstate``` appropriately applies the state to cust-cb1 as well as all the other minions.

I can reproduce it 100% of the time.  This applies to any single minion I try to highstate.

Running ```salt-call -l debug state.apply``` from the minion works every time.

Running ```s

[2018-08-19 20:34] darkpixel commented on #49196
I should note I just upgraded from 2017.x to 2018.3.1.  Under 2017 I wasn't experiencing this issue.  The issue occurs regardless of minion version (some minions are still 2017).  It also doesn't seem to be a firewall issue as some minions are behind firewalls, and some have public IPs.  The master is on a public IP with no firewall.

[2018-08-19 20:35] darkpixel commented on #49196
Also, more testing shows that other calls like ```cmd.run``` don't work when targeted against a specific minion, but do work when targeting ```*```.

[2018-08-19 21:33] darkpixel opened #49198 "FreeBSD sysrc module broken in 2018.3 when setting a value to 'YES'"
### Description of Issue/Question

When a value of 'YES' is specified, salt will set it properly in /etc/rc.conf, but subsequent highstates show it repeatedly changing it to 'YES'.

### Setup
[code]

### Steps to Reproduce Issue
Go highstate a few times.
The first time it will create an entry in /etc/rc.conf
[code]
On subsequent highstates it will continue say it changed it from:
[code]
to
[code]

[2018-08-19 21:38] darkpixel commented on #49198
My mistake.
Setting it to 1 does not fix it.  It seems any value I put in there is consistently seen as a new value even though the contents of the file do not change on subsequent runs.

[2018-08-20 02:17] boltronics commented on #49145
I have created a Salt configuration to ensure my salt-cloud installations now log to file at the debug logging level. If I ever see it happen again I'll update this issue to provide the associated log.

[2018-08-20 02:25] slhu91 commented on #49105
@garethgreenaway Is there an answer?

[2018-08-20 07:05] sbrakl commented on #49153
Sorry my bad, I re-walk the entire state file and found issue. It was related to alphabet casing. Sub sub app existing was in Title case and I was passing via pillar was all small case.

[2018-08-20 08:16] rjrhaverkamp commented on #8521
👍

[2018-08-20 09:04] ProcenaFr opened #49202 "diskusage beacon returning all mounts"
### Description of Issue/Question
When I use the beacon disk usage, it returns on the events all the mounts with wrong diskusage.
Also the % returned is wrong.

### Setup
On the minion : /etc/salt/minion.d/beacons.conf :
beacons:
  diskusage:
    - /: 30%

With /dev/mapper/vg00-root   5,8G    2,6G  3,0G  47% /

### Steps to Reproduce Issue
systemctl restart-minion
On the master : salt-run state.ev

[2018-08-20 09:49] meaksh commented on #48168
As @brejoc mentioned, I've already started working on the `transactional-update` module for Salt. Hopefully it will be ready soon.

[2018-08-20 10:15] jose1711 opened #49203 "mistake in file.not_cached documentation?"
### Description of Issue/Question
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html mentions:

Ensures that a file is saved to the minion's cache. This state is primarily invoked by other states to ensure that we do not re-download a source file if we do not need to.

Note that this is the same text as for ```salt.states.file.cached```. Where is the difference then?

I susp

[2018-08-20 10:39] mchugh19 opened #49204 "file.directory state fails if directory contains an invalid symlink"
### Description of Issue/Question
If a file.directory state is run on a directory which contains a broken symlink, the state crashes.

### Setup
test state:
[code]

### Steps to Reproduce Issue
Success
[code]
Create bad symlink
[code]
State now crashes
[code]

### Versions Report
[code]

[2018-08-20 10:43] sunyq commented on #49150
Hi @Ch3LL , just get  some more info:
- It seems that function rm_host results in this problem. I tried add_host&set_host and didn't get those odd characters
- Open /etc/hosts with vim(not cat) and you will find these odd characters(or show the content of /etc/hosts with function list_hosts).

Hope that will do some help when you replicate this problem.

[2018-08-20 10:46] ereslibre opened #49205 "Compound targeting includes unexpected targets in the result"
### Description of Issue/Question

Compound targeting includes unexpected (even nonexistant) targets in the result.

### Setup

This was triggered by an orchestration that rejects a salt minion in the middle of the orchestration. The `tgt` used after the salt minion key is rejected included an explicit filter to not take this minion into consideration; even if salt guarantees this, it was nice to

[2018-08-20 11:30] ptitdoc opened #49206 "vmware: can't serialize VM when using an esxi proxy"
### Description of Issue/Question
For some reason, pyvmomi creates unserializable vim.VirtualMachine objects which causes a crash when calling vsphere.get_vm.

This issue is documented in the following pyvmomi issue:
https://github.com/vmware/pyvmomi/issues/21

### Setup
For the context, I use call vsphere.get_vm with a vcenter proxy minion.

### Steps to Reproduce Issue
1/ Creates a vcenter proxy

[2018-08-20 11:34] ptitdoc commented on #49206
To validate this bug, I found a workaround by editing modules/vsphere.get_vm and replacing:
`return virtual_machine`
by:
`return json.loads(json.dumps(virtual_machine, cls=MyJSONEncoder))`

Of course `MyJSONEncoder` comes from the code snippet provided in pyvmomi issue (https://github.com/vmware/pyvmomi/issues/21) which has also been added to vmware.py:
[code]

[2018-08-20 11:46] DmitryKuzmenko commented on #49147
This is a race condition somewhere in the event bus client usage on minion side. We use the IPCMessageSubscriber to read the event bus. It's a singleton so there could be 2 instances of the bus client that uses one subscriber and since it's asynchronous, one tries to read while another one didn't done yet. I can't say more without detailed analyze.
@furgerf is it easily reproducible on your side?

[2018-08-20 12:10] mchugh19 opened #49207 "saltcheck throwing IOLoop is already running errors"
### Description of Issue/Question
local runs with salt-call seem to work fine, but when run through the eventbus, saltcheck throws `IOLoop is already running` errors.
[code]

[code]

### Setup
Create ntp/init.sls to install ntp package
Create ntp/saltcheck-tests/ntp.tst with the following content
[code]
Run ntp test by salt-call and salt
[code]

### Steps to Reproduce Issue
The fix committed in ht

[2018-08-20 12:45] furgerf commented on #49147
Hi @DmitryKuzmenko, no unfortunately I have no idea how to reproduce it. By your description, it sounds like you might be able to trigger this more easily by creating a bunch of bus clients and having them read from the same subscriber if that's an option in the relevant code.
Let me know if I can help with more info.

[2018-08-20 12:55] gtmanfred commented on #49207
you should be able to get the conf_file from `__opts__['conf_file']` if you are just loading the same minion config file as what was loaded for the minion running the command.

You probably also don't want to overwrite `__opts__` in a function, because that is the injected variable, so you will be overwriting the __opts__ for that running minion process.

[2018-08-20 12:57] gtmanfred commented on #49198
Can you try setting it to `'"YES"'`

https://docs.saltstack.com/en/latest/topics/troubleshooting/yaml_idiosyncrasies.html#true-false-yes-no-on-off

I think it is converting YES to True, and thinks that it needs to be changed.

[2018-08-20 13:17] ptitdoc opened #49208 "integrate salt-cloud into salt instead of a separate project"
### Description of Issue/Question
Salt cloud is currently implemented as a specific runner with different drivers depending on the cloud provider. This runner is masterless and creates a separate codebase and concepts (maps and configuration instead of pillars, drivers instead of modules,  ...) while trying to share part of the code (esxi, vsphere, vmware ...).

Why isn't salt-cloud more integrate

[2018-08-20 13:34] gtmanfred commented on #49208
Ok, so here is what the current plan is.

Right now, leave salt-cloud as is.  It was designed back before all this extra functionality in clouds existed, when you could only build cloud servers, and there was no kubernetes, and no DBaaS, etc.

The plan is to take all of the execution and state modules like boto_ and azurearm_ and move them to a new project, so that they can be released more rapidl

[2018-08-20 13:35] ProcenaFr commented on #49202
So I changed "/" for '^\/$' because in the beacon (/usr/lib/python2.7/site-packages/salt/beacons/diskusage.py) it checks if it matches, so it checks all filesystem with "/".
Next I changed
[code]
So it checks not with '^\/$' but with the matched mount.

By the way the example given is wrong, because it advices to check "/" which won't work as intended.

[2018-08-20 13:37] gtmanfred commented on #49208
The problem with your proposal is that it is already difficult enough to make these drivers use the same interface, when we only want to build cloud servers, it is going to be impossible if we want to handle all the options for load balancers, and autoscaling groups, and the different kubernetes as a service implementation, and database as a service implementations.

And there is no reason for the

[2018-08-20 13:40] mchugh19 commented on #49207
So would this be correct?
[code]
This seems to work for both the salt-call and salt use-cases.

[2018-08-20 13:43] gtmanfred commented on #49141
@doesitblend can you verify that the aes key actually rotated when the minion key was deleted? I am wondering if it could be a race condition.

[2018-08-20 13:46] gtmanfred commented on #49205
This was probably added when trying to solve an issue with the list matcher.

Do you see this problem with any other matchers, like just globs? or is it only with list inside of compound matching?

[2018-08-20 13:49] gtmanfred commented on #49174
Can you submit a PR with this fix?

https://docs.saltstack.com/en/latest/topics/development/contributing.html

Thanks!
Daniel

[2018-08-20 13:51] ptitdoc commented on #49208
Thanks for your quick answer.

Of course normalizing names is not mandatory as there are completely different cloud concepts. I compared it to the pkg module on purpose because only some of the function are normalized, which allows calling specific package management function depending on the user requirements.

The best benefit is see is to be able to use states modules, pillar, reactors and orch

[2018-08-20 13:51] gtmanfred commented on #49145
Awesome, thank you very much for help with this.

[2018-08-20 13:52] DmitryKuzmenko commented on #49147
@furgerf it's OK.
What about the problem, I think we could try to catch this by code review. There are not many places where that subscriber is used.
Did you do something on that minion right before? I see the strange exception report in your log 4 seconds before the issue happened. Did you restarted minion manually or by cron? Did minion execute some state or schedule task?

@Ch3LL I propose to m

[2018-08-20 13:54] gtmanfred commented on #49207
Yup, that should be correct.

[2018-08-20 13:56] ptitdoc commented on #49208
I will definitively take a look at fractus. I see there are cloudstates and cloudmodules. Wow, is there really already 17k commits ?

[2018-08-20 13:57] gtmanfred commented on #49208
No, i did a git filter-branch, and just pulled all the git history for the boto_ and azurearm modules out of salt, so a lot of the commits are from those things, and stuff that couldn't be filtered from the salt branch.

[2018-08-20 13:59] ptitdoc commented on #49208
Ah ok.

[2018-08-20 14:00] gtmanfred commented on #49208
So, the problem with the pkg module idea, is that we do normalize the behavior across all the different package managers so that they can all be controlled by one central package module.

Well, what happens when you have 2 different cloud providers that you use?  You don't want to only load one of them, you want to be able to use them all.  With pkg modules, you only need one loaded, the one for y

[2018-08-20 14:02] gtmanfred commented on #49208
And it has its own test suite, which is mostly just the boto module tests pulled out and modified to run in pytest, but it tests most of the same things, i have a little work to do on the integration tests.

[2018-08-20 14:02] gtmanfred commented on #49208
It definitely isn't ready yet for people to start contributing to, but once Fluorine is out, I am hoping to have time to work on it again.  and get it read for a lot of community contributions.

[2018-08-20 14:07] gtmanfred commented on #49202
would you submit a PR with this change?

That would be greatly appreciated.

https://docs.saltstack.com/en/latest/topics/development/contributing.html

Thanks!
Daniel

[2018-08-20 14:09] gtmanfred commented on #49204
I hate that lsattr function.

Thanks for reporting this, if you had time to fix it, we would greatly appreciate it, probably could get away with just catching that exception in a try: except: block.

Otherwise we will get it fixed.

Thanks!
Daniel

[2018-08-20 14:11] ptitdoc commented on #49208
In my use case I have at least 2 cloud providers. I would just use a separate proxy minion for each cloud and make them working together through reactors or orchestration. To follow the pkg example, each minion loads its own variant of pkg (or cloud in our case).

So if I understand correctly running fractus cause a creation of a minimal standalone salt-master? using the vanilla salt state/module

[2018-08-20 14:13] ptitdoc commented on #49208
Even if it is not ready for contribution, I would be interested to see if I can use it for my vcenter-proxy and vsphere-ssh clouds, because salt-cloud in its current state does not seems to support that anyway.

[2018-08-20 14:15] gtmanfred commented on #49204
Actually, fixed here.

https://github.com/saltstack/salt/pull/49209

[2018-08-20 14:15] ptitdoc commented on #49208
Thanks a lot for your time anyway. Can I come back to this issue if I have additional questions ?

[2018-08-20 14:16] gtmanfred commented on #49203
Yup, looks like it was just copied and pasted and not updated.

Thanks for reporting, we would appreciate a PR to fix the docs.

Otherwise I am marking it as a documentation error.

Thanks!
Daniel

[2018-08-20 14:27] gtmanfred commented on #49208
yeah, it will need vsphere/vmware modules for, and you should discuss this with @nmadhok , since he has been waiting to contribute vmware stuff to this idea as well for about a year now.

As for your last question, fractus is just a commandline tool, for bootstrapping clouds, you can still use all of those modules in regular salt, and they will need configs, so you can designate minions to reach o

[2018-08-20 14:28] gtmanfred commented on #49208
Sure, you can also come to the #cloud channel on the community slack listed in the README for salt, and we can talk about it there.

I am going to close this issue though.

[2018-08-20 14:28] #49208 closed

[2018-08-20 14:29] mchugh19 commented on #49207
Sweet! Thanks!

[2018-08-20 14:29] #49207 closed

[2018-08-20 14:31] gtmanfred commented on #49205
so, the last one you did there, is the expected behavior, that was added in 2018.3.

If a minion is targeted in a list, and it does not exist, we print an error.  That was a feature request from someone else.

The bug that I see is when using a `not` matcher inside of a compound, it should not be matching that minion at all, so when you did a `not L@MINION_ID` even if MINION_ID does not exist, it

[2018-08-20 14:32] Ch3LL commented on #8875
ping @saltstack/team-core anyone have interest in tackling this one?

[2018-08-20 14:37] ereslibre commented on #49205
This makes a lot of sense, yes.

Exactly. The issue I'm referring to explicitly targets the use of compound matcher, not the raw list matcher; I just noticed I kind of inadvertibly implied that the last case was wrong, didn't mean to.

So, I completely agree that the issue is with the compound matcher using a list with excludes (`not`).

[2018-08-20 14:50] gtmanfred commented on #49196
Can you provide your master and minion configs so that I can attempt to replicate this?

Thanks,
Daniel

[2018-08-20 14:52] gtmanfred commented on #49205
Cool, @saltstack/team-core who was it that added the feature that the list matcher would print a no response from a minion if it was included, but didn't actually exist?

I think there might have been a bug added when that was used with `not` in a compound matcher?

Thanks,
Daniel

[2018-08-20 15:01] Ch3LL commented on #49150
okay looks like i'm able to replicate this. It only occurs in the following situations:

1. using cent6
2. using salt-api. (if i use salt-api it works)

To note this does not affect the /etc/hosts file only the output from list_hosts

[2018-08-20 15:04] Ch3LL commented on #47588
awesome thanks for pointing this out i'll go ahead and close the issue :)

[2018-08-20 15:04] #47588 closed

[2018-08-20 15:23] gf-orgx opened #49210 "Mining doesn't work"
### Description of Issue/Question
E. g., I can issue `salt "*" net.interfaces`, but despite `mine_interval` and `mine_functions` variables set in the proxy config, I can't use `salt-run` to query on this data.

### Setup
I have previously used these configs with packaged releases for Ubuntu and mining seemed to work, however I had to update to trunk due to #47695 and this functionality is now seem

[2018-08-20 15:27] gf-orgx commented on #49210
I also have forgotten to mention that this is a test setup and master and proxy minion are running on the same machine.

[2018-08-20 15:32] rbthomp commented on #49202
This is a duplicate of #49174.

[2018-08-20 15:35] gtmanfred commented on #49202
Cool, would one of yall mind submitting a PR to fix it, it would be greatly appreciated.

Thanks,
Daniel

[2018-08-20 15:46] gtmanfred commented on #49168
Ok, i am not sure if this is going to fix your problem, but i was experiencing the same thing when testing this out, until I installed `virt-manager`

Once I installed that package, everything started working.

[2018-08-20 16:05] gtmanfred commented on #49165
Is there a way that we can make these definitions so that metadata is correct?  because we are going to have to add another one, because we still support python 3.4 for centos, but tornado 6.0 is going to drop support for 3.4 and 2.7, so we will definitely need these marker requirements then, if we still support 2.7.

[2018-08-20 16:08] gf-orgx commented on #49210
A slight update: I tried running `mine.update` on a minion and now it seems there is some data mined, but `salt-run` fails:

[code]

I'll try to find the relevant part of code and let you know then.

[2018-08-20 16:11] ProcenaFr commented on #49202
I've done a PR.
For the different "%" between `psutil` and `df ` it is a bug that has been fixed on newer Python.
It didn't take in count the reserved space.

[2018-08-20 16:14] gf-orgx commented on #49210
One more update: passing `--hard-crash` to `salt-run` doesn't have any effect.

[2018-08-20 16:19] rbthomp commented on #49202
@ProcenaFr I looked at your PR I'll want to update the following line to reference the proper mount on error.
[code]

[2018-08-20 17:08] frogunder commented on #49093
Just checked on the head of fluorine which installed this version `2018.11.0-461-g02823e5` and this is working correctly now.

[2018-08-20 17:09] frogunder commented on #49082
Just checked on the head of fluorine which installed this version `2018.11.0-461-g02823e5` and this is fixed there.

[2018-08-20 17:15] darkpixel commented on #49198
Yeah, that fixed it.  YES has to be in quotes to force it to be a string.

[2018-08-20 17:15] gtmanfred commented on #49161
I am unable to replicate this with your first state setup.

[code]

https://gist.github.com/gtmanfred/278904a75f9c6f6df0298e5598dfbf87

It looks like this has been fixed in a newer salt versions.  Can you update and see if it fixes it for you as well?

Thanks,
Daniel

[2018-08-20 17:16] twangboy commented on #49153
@sbrakl  Awesome. I'm going to close this issue then.

[2018-08-20 17:16] #49153 closed

[2018-08-20 17:16] gtmanfred commented on #49198
Cool, then yeah it is just a yaml idiosyncracy issue.

[2018-08-20 17:16] #49198 closed

[2018-08-20 17:29] ProcenaFr commented on #49202
@rbthomp I wanted to change it too but I don't know if on the logs I want the regular expression or the name of the mount. I guess "_mount" is better.

[2018-08-20 17:38] darkpixel commented on #49196
Master config:
[code]

The minion has no 'minion' config file, but it does have a few snippets in minion.d:
[code]

[2018-08-20 17:39] gtmanfred commented on #49177
I was under the understanding that the matches should be expanded, and then we make sure that the minions that are being targeted are a subset of the permissions on eauth.

@saltstack/team-core does anyone know why it doesn't work this way, or if it would be possible to make these targets on eauth better?

Thanks,
Daniel

[2018-08-20 17:40] darkpixel commented on #49196
The more I play with it, the more it seems like commands that take a few seconds to run (i.e. ```salt '*' cmd.run 'ifconfig'```) generally return data.  But things that take more than ~5-10 seconds (like going high-state or ```cmd.run 'apt-get update'```) return that message.

[2018-08-20 17:43] gtmanfred commented on #49196
Can you update to 2018.3.2?  There was a bug in 2018.3.1 that i fixed that the LocalClient was not attaching to the event stream correctly, and was missing minion job returns from saltutil.is_running, to let the master know that job was still running.

I think this is a duplicate of https://github.com/saltstack/salt/issues/48130

[2018-08-20 17:44] gtmanfred commented on #49196
If you can't update, you should still be able to apply the patch.

[code]

you will probably have to update the -d to point to the -packages directory where salt is on freebsd.

[2018-08-20 17:50] markuskramerIgitt opened #49212 "Feature: Suppress a configurable domain in utils.network._generate_minion_id()"
## Proposal
When the salt minion lacks an id, [utils.network.generate_minion_id()](https://github.com/saltstack/salt/blob/943e21f3e6e314a0fe1af7f08354a2b58303d224/salt/utils/network.py#L169) generates a fully qualified domain name, using a variety of sources.

I propose a new setting `minion_id_generate_no_domain`, to suppresses a single domain in the result of above function.

### Current Behavio

[2018-08-20 17:51] markuskramerIgitt commented on #48629
Closed this because continued as https://github.com/saltstack/salt/issues/49212

[2018-08-20 17:51] #48629 closed

[2018-08-20 19:03] gtmanfred commented on #49204
The fix has been merged.

Thanks for reporting.
Daniel

[2018-08-20 19:03] #49204 closed

[2018-08-20 19:14] terminalmage commented on #47954
Marking as closed since #48524 was merged.

[2018-08-20 19:14] #47954 closed

[2018-08-20 19:54] frogunder commented on #43867
Closing this issue, I do no longer see this error on develop branch.

[2018-08-20 19:54] #43867 closed

[2018-08-20 20:16] terminalmage commented on #47235
@gtmanfred is spot-on, here. I recently did some work to make Salt's exit status work better and more reliably for the upcoming Fluorine release. I've added this and am working on an automated test to confirm the behavior.

[2018-08-20 20:38] rbthomp commented on #49160
@garethgreenaway I have an update on this it looks like the loader __utils__['state.check_result'] is being called in salt/modules/state.py, but for whatever reason the  state.check_result is not in the __utils__ dict. Don't understand why, I don't know exactly how the loader work. The thing is salt.utils.state is included in the state module, so simply calling the function using salt.utils.state.

[2018-08-20 20:51] The-Loeki commented on #49060
#49190 closes the issue, thanks again for the swift & considerate input

[2018-08-20 20:51] #49060 closed

[2018-08-20 20:53] frogunder commented on #40828
Closing this. I tried on head of 2017.7 and head of develop. This is working correctly.

[2018-08-20 20:56] frogunder commented on #40828
Re-opening.
I tested this on a windows machine and there it is working correctly, but it still fails on a linux machine.

[2018-08-20 21:04] terminalmage commented on #47235
Fixed in https://github.com/saltstack/salt/pull/49217

[2018-08-20 21:48] darkpixel commented on #49196
Yup.  That's definitely it.  2018.3.1 is in the FreeBSD pkg repo.  I'll see if I can track someone down to update it to .2 or apply the patch.

[2018-08-20 21:51] gtmanfred commented on #49196
@cedwards can you update the freebsd package?

Thanks!
Daniel

[2018-08-20 22:25] gtmanfred commented on #49177
yeah, the problem is that we put the message on the bus with the target as is, so once the message is on the bus, the minion doesn't care who it came from, so even if you didn't target it, it would still run the job.

My understanding was that if the predicted targeted minions included a minion that the user did not have access to, it would bail and just say authentication error.

[2018-08-20 22:30] V3XATI0N commented on #49177
That is consistent with what I see, so that 2nd comment is more of an enhancement request. But the main issue remains, which is that targeting apparently _isn't_ a compound matcher as stated in the documentation, and there's no way for a restricted e-auth user to ever target more than one minion at a time.

[2018-08-20 23:09] dmurphy18 commented on #49156
Have installed RHEL 7.2 Server with GUI from iso, installed Salt 2018.3.2 and did not encounter error running  'subscription-manager facts':

[root@localhost test]# subscription-manager facts
cpu.core(s)_per_socket: 1
cpu.cpu(s): 1
cpu.cpu_socket(s): 1
cpu.thread(s)_per_core: 1
cpu.topology_source: kernel /sys cpu sibling lists
distribution.id: Maipo
distribution.name: Red Hat Enterprise Linux Ser

[2018-08-20 23:32] cedwards commented on #49196
@gtmanfred I still need to test the patch for the update to the FreeBSD port. Should be soon.

[2018-08-21 01:57] gtmanfred commented on #49196
You should just be able to update to 2018.3.2, the patch is included in
that release.

On Mon, Aug 20, 2018, 6:32 PM Christer Edwards <notifications@github.com>
wrote:

[2018-08-21 03:47] #37267 closed

[2018-08-21 05:45] furgerf commented on #49147
@DmitryKuzmenko I've looked into the logs and see that there was some activity before the problem started, someone ran `salt '*' cmd.run 'curl ifconfig.me'`. There were no restarts though.

Like I mentioned before, this server contains both a minion and a master; the master manages around 40 minions in total. About half of them are currently connected.

[2018-08-21 06:51] #48642 closed

[2018-08-21 07:43] redbaron4 commented on #48944
I ran into a similar issue. In my case the `json` filter helped. Can you try to modify the merge sls like so?

vagrant@salt:~/salt-ssh/states$ cat state_with_template_merge.sls
{% import_yaml "defaults.yaml" as defaults  %}
{% set settings = salt['pillar.get']('default', default=defaults, merge=True) %}
/tmp/testfile:
  file.managed:
    - source: salt://generic_template.jinja
    - context:

[2018-08-21 08:24] qiushics opened #49220 "Unable to running the salt minion on windows as an unprivileged user"
I want to start salt as an unprivileged user
after change the owner of c:\salt, can't start salt-minion

C:\salt>salt-minion.bat
CRITICAL: Unable to securely set the owner of "c:\salt".

salt version:2018.3.2
system version:win 10

[2018-08-21 08:46] mirceaulinic opened #49221 "Thousands of defunct Proxy Minion processes when multiprocessing = True"
### Description of Issue/Question

While SSH-based Proxy Minions have the constraint to configure `multiprocessing: false`, non-SSH based Proxies should normally replicate the behaviour of the regular Minion and execute each task in a separate process fork.

It appears that it doesn't actually clean up after itself:

[code]

(many more defunct processes)

Probably worth mentioning that this Proxy

[2018-08-21 08:53] msciciel opened #49222 "Salt-key using external auth and token file is broken"
### Description of Issue/Question
It's not possible to use token file with external auth:
[code]
external_auth:
  pam:
    users%:
      - '.*'
      - '@wheel'
      - '@runner'
      - '@jobs'
    limited%:
      - 'test.ping'
      - 'state.apply'
      - 'state.highstate'
      - 'grains.get'
      - 'grains.item'
      - 'grains.items'
      - 'pillar.get'
      - 'pillar.item'
      - 'pilla

[2018-08-21 09:03] dpkkumar01 opened #49224 "salt-minion communication via Proxy server"
I have installed salt-master/salt-api in one of my Master application server where i am connecting multiple salt-minion servers directly.

Now i have to connect few more minion servers which doesn't have direct connectivity with my salt-master server. These new minion servers are reachable from one of my other server which is reachable from my salt-master application server as well.

Is there any

[2018-08-21 11:31] DmitryKuzmenko commented on #49147
@furgerf thank you for the info. I'll review the related code when I'll have time. If you'll reproduce it again any new information is very appreciated.

[2018-08-21 12:04] markuskramerIgitt commented on #48629
@Karunamon, do I understand you correctly that you want to black list and white list domains?
Example:

    minion_white_list_domain: good1.bar, good2.bar, good3.bar
    minion_black_list_domain: evil1.bar, evil2.bar, evil3.bar

[2018-08-21 12:37] onnodb opened #49225 "[win_lgpo] lgpo_set always reports failure; Registry.pol corruption"
### Description of Issue/Question

I can't seem to get `win_lgpo.set` to work while trying to provision a Windows 10 IoT LTSB system. The `lgpo.set` state always returns a failure, showing a stack trace with exception `salt.exceptions.CommandExecutionError: Error while attempting to write Administrative Template  Policy data.  Some changes may not be applied as expected`.

Additionally, the `Regis

[2018-08-21 12:54] dbellavista commented on #47139
If it can help, executing `service.status myservice@*` with `-l debug` calls

`systemctl status myservice@.service` which is erroneous. The correct invocation should be
`systemctl status myservice@*`, so that systemctl can check the status for the dependent services.

[2018-08-21 12:56] onnodb commented on #49225
Tested again using the PY2 minion, and there `lgpo.set` _does_ appear to work successfully: all of my previous tests now report success to the master.

However, the following state:
[code]
still corrupts `Registry.pol`:
[code]

[2018-08-21 13:20] defanator opened #49226 "salt-cloud grains inheritance from provider to profile (2018 vs 2016)"
### Description of Issue/Question

After upgrading salt-cloud from 2016.11.6 to 2018.3.2 we've been observing a situation when provider-specific grains have not been applied to the target instance.

### Setup

Excerpt from our initial configuration that was working fine with 2016.11.6:

[code]

Target instance launched with 2016.11.6 contained all the grains merged in a proper way, i.e.:

[code]

[2018-08-21 13:29] Ch3LL commented on #49210
for the mine information not updating probably a duplicate of this issue:

https://github.com/saltstack/salt/issues/47911

which we have not entirely resolved so if you could comment there with the information i was trying to query from the original user that would be great.

For the salt-run issue:

can you run that with `-ldebug` and paste sanitized output so i can see more information.

[2018-08-21 13:32] Ch3LL commented on #49212
thanks for the PR!! As the pr resolves this issue I will close but please let me know if it needs to be reopened :)

[2018-08-21 13:32] #49212 closed

[2018-08-21 13:33] Ch3LL commented on #49220
ping @saltstack/team-windows any insight here?

[2018-08-21 13:36] Ch3LL commented on #49221
ping @saltstack/team-network any thoughts here?

[2018-08-21 13:38] Ch3LL commented on #49222
thanks for the PR! We really appreciate it :) since the PR resolves the issue I will close here and we can keep the discussion in the PR. Let me know if you want me to re-open here though :)

[2018-08-21 13:38] #49222 closed

[2018-08-21 13:42] Karunamon commented on #48629
@markuskramerIgitt You've got it.

Though it appears I completely misunderstood the nature of this issue and the comment I was replying to. Lesson learned, stay the heck off of Github when ill :)

[2018-08-21 13:44] Ch3LL commented on #49225
ping @twangboy i know you have done some recent work around here. mind taking a look here?

[2018-08-21 14:13] gtmanfred commented on #49226
Can you test the 2018.3.3 branch?

https://github.com/saltstack/salt/pull/47665

This pr should fix this issue, and will be released in the 2018.3.3 and 2017.7.8 versions.

I believe this issue is a duplicate of https://github.com/saltstack/salt/issues/45125

[2018-08-21 14:16] gtmanfred commented on #49221
Yeah, that should never happen, we need to get that fixed, for 2018.3.4

@mirceaulinic can you replicate this with the rest_example proxy minion?

[2018-08-21 14:17] minusf opened #49230 "mount.mounted false positives when template renders empty"
### Description of Issue/Question

`mount.mounted` would report success for empty `name`/`device`/`fstype`.

### Setup

`mount.sls`:

[code]

[code]

### Steps to Reproduce Issue

[code]

### Versions Report

[code]

[2018-08-21 14:18] cskowronnek commented on #48966
I've no clue why, but it works again now.
I tried clearing the pyc-files. No result, I tried to trace the lines you mentioned, but found no reason why nothing is logged.
As a shot in the dark I downloaded the latest develop code and tried that. Now it's working again. I don't see any changes between the two checkouts that could've caused the problem.

Thanks for your effort, I think this can be cl

[2018-08-21 14:18] #48966 closed

[2018-08-21 14:29] gtmanfred commented on #49226
You said above

So, you have launched instances with 2018.3.3? and this still happens? can you make sure that all .pyc files have been cleared out?

[2018-08-21 14:30] defanator commented on #49226
@gtmanfred I searched for similar issues, found #45125 and realized that packaged salt-common 2018.3.2 does not contain changes from #47655, so I switched to git repository for tests and picked 2018.3.3 branch.

I'll double check for stale .pyc a bit later and let you know the results.

[2018-08-21 14:32] gtmanfred commented on #49202
duplicate of #49174

[2018-08-21 14:35] damon-atkins commented on #49220
Could you please provide some examples of use which do not require Admin access?

[2018-08-21 14:40] defanator commented on #49226
@gtmanfred I've just removed all .pyc files within salt directory, returned provider configuration to the initial format:

[code]

and checked with launching new instance from that profile - provider's grains are missing.

Let me know if I can provide anything else to help with investigating this one.

[2018-08-21 14:48] damon-atkins commented on #49156
Still think you should separate rpm into   Support by Salt and dependencies, and anything in dependencies is recommended (so the dependencies repo does not have to be used).

Keep in mine RHEL RPM may be built against code which is the same available in open source compiled version.  As RHEL back port fixes they want.

[2018-08-21 14:58] josephname commented on #49156
I don't know if it make a difference, but this was on a physical server, not virtual.

[2018-08-21 15:26] gtmanfred commented on #49226
Ok, i can replicate this, but i need to have more time to fix it, i am marking it as a blocker for the 2018.3.4 and 2017.7.9 releases.

[2018-08-21 15:27] damon-atkins commented on #49156
Still think you should separate rpm into   Support by Salt and dependencies, and anything in dependencies is recommended (so the dependencies repo does not have to be used).

Keep in mind RHEL RPM may be built against code which is not the same available in open source version.  As RHEL back port fixes they want, result in opensource version 1.1 not being the same as RHEL 1.1 of the same software.

[2018-08-21 15:52] terminalmage commented on #45895
I personally lean towards removing `pchanges`, since it would not involve messing with the state compiler (which would need to be done in order to make the requisites work in test mode). This would require us to set whatever we were tracking as `pchanges` in the `changes` key before returning a `None` result in test mode, but that would not be difficult.

However, pchanges is used in a few dozen f

[2018-08-21 15:59] dmurphy18 commented on #49156
@josephname There should not be a difference between physical and virtual servers.  I have not encountered any issues with using VirtualBox VM images compared to a physical server in my years of using it.  Again I request  the output of --versions-report from the server exhibiting the problem, also can you include the output of /etc/redhat-release and 'yum list openssl*'.

[2018-08-21 16:02] dmurphy18 commented on #49156
@damon-atkins Splitting Salt and dependencies into different repo's will take time, especially given the number of platforms to support, and with only just over a year for Python 2 before official EOL, something to be considered for Python 3 support.

[2018-08-21 16:06] josephname commented on #49156
For now, we just removed m2crypto from the salt repo on our satellite server.  salt seems to work with any of the versions we've used, as long as they come from redhat.  I will see if I can re-create it on another server.

[2018-08-21 16:11] dmurphy18 commented on #49156
@josephname In the interests of trying to resolve this issue for you and others that may encountered it, could you provide the information I requested, thanks.

[2018-08-21 16:14] dmurphy18 commented on #49156
@josephname Never mind, just managed to duplicate the issue, will debug and attempt to resolve the issue

[2018-08-21 16:14] markuskramerIgitt commented on #49212
thank you, @Ch3LL

[2018-08-21 16:18] josephname commented on #49156
good deal.  thank you for your patience.

[2018-08-21 16:19] josephname commented on #49156
Here was the info
$ cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.2 (Maipo)

Salt Version:
           Salt: 2018.3.2

Dependency Versions:
           cffi: 0.8.6
       cherrypy: Not Installed
       dateutil: 1.5
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: 2.7.2
        libgit2: No

[2018-08-21 17:40] BruXy opened #49233 "sysctl tcp_timestamps modification fails docker container start"
### Description of Issue

I have some generic docker_container.running state. I have disabled sysctl with net.ipv4.tcp_timestamps set to 0:

[code]
The container is not started and I am getting this docker related error:

[code]

### Versions Report

[code]

[2018-08-21 17:44] whytewolf opened #49234 "Windows service.restart not restarting a process that is already stopped."
### Description of Issue/Question
On windows when you issue a `service.restart` of the process is already stopped it will throw an error.

Would be nice if that error wasn't fatal and allowed the start function to run effectively starting a stopped process.

### Setup
Setup a service and stop it. Then run service.restart on the service.

### Steps to Reproduce Issue
[code]

### Versions Report
[co

[2018-08-21 17:45] whytewolf commented on #49234
ZD-2789

[2018-08-21 18:12] dmurphy18 commented on #49156
@josephname The problem appears to be the version of openssl that Salt's M2Crypto was built with
openssl.x86_64  1:1.0.2k-8.el7, which is newer than that on Redhat 7.2.  I have tested the functionality on RHEL 7.5 with openssl openssl.x86_64  1:1.0.2k-12.el7 and encountered no issue. The latest point releases for Salt are scheduled for the end of this month; I shall ensure that all dependency pack

[2018-08-21 18:26] josephname commented on #49156
most excellent, thank you for your quick and valuable solution!

[2018-08-21 19:10] jf commented on #47235
Excellent! Thanks, @terminalmage !

[2018-08-21 20:11] V3XATI0N opened #49237 "service.status doesn't behave the same way on MacOS as on other platforms"
### Description of Issue/Question
On most platforms, the `service.status` module returns either `True` or `False` depending on the status of a given service. But on MacOS, it returns `False` if the service isn't running, or a list of process IDs if the service is running. This makes it difficult to make platform-agnostic tools on top of Salt, since special consideration has to be made for Mac OS.

[2018-08-21 20:17] ericrasmussen opened #49238 "apache_module.disabled hangs forever on ubuntu"
### Description of Issue/Question

The `a2dismod` utility on ubuntu (tested on 16.04, but I believe this feature has been around for years) will prompt users interactively if they try to disable "essential" modules:

[code]

### Setup

No particular setup is required -- you can see salt doesn't pass in `-f` or allow users to pass it in: https://github.com/saltstack/salt/blob/3ee328a28c1bbb70579e8e

[2018-08-21 20:45] terminalmage commented on #32737
This should be implemented via #49236.

[2018-08-21 21:01] garethgreenaway commented on #49082
Awesome.  Closing this one out.

[2018-08-21 21:01] #49082 closed

[2018-08-21 21:01] garethgreenaway commented on #49093
Awesome. Closing this one out.

[2018-08-21 21:01] #49093 closed

[2018-08-21 21:27] jeffdyke commented on #47182
I added a comment to the PR, but this did not make it into 2018.3.2 and i'm hitting the same issue. I can patch all my minions, but that seems silly.

[2018-08-21 23:01] jeffdyke commented on #47182
Solved in PR comments.  thanks to @gtmanfred

[2018-08-22 00:58] qiushics commented on #49220
@damon-atkins for example: start firefox installed by an unprivileged user.

[2018-08-22 02:00] cedwards commented on #49196
@darkpixel I am working on the patch for the FreeBSD ports tree this evening. I'll submit the update here when it is ready; you'll be able to track progress there.

[2018-08-22 02:34] damon-atkins commented on #49234
Just needs to match Linux/Unix behaviour.

[2018-08-22 04:43] theonlyjohnny commented on #30277
I seem to still be experiencing this issue, on AWS EC2. It occurs everytime I try to bring up a box.

The command I am using looks something like this:
`/usr/bin/salt-cloud -p {profile} {hostname} --assume-yes -l debug`

Provider (personal info removed):
[code]
Profile (personal info removed):
[code]
Versions Report:
[code]
Error:
[code]

[2018-08-22 07:51] Poil opened #49246 "module.run cp.push not working with new syntax"
### Description of Issue/Question
Hi,

When using in a formula this syntax cp.push is working
[code]

But when using this I've got `Module function cert_to_master is not available`
[code]

### Versions Report
* Master
[code]

* Minion :
[code]

[2018-08-22 08:29] Poil opened #49247 "Documentation - salt.netapi.rest_cherrypy - Deprecated parameters"
Hi,

log_access_file and log_error_file seems to be deprecated should be log.access_file and log.error_file

[code]

ref. https://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_cherrypy.html but I don't understand how to fix the documentation

Best regards,

[2018-08-22 08:38] dwoz commented on #48768
@tobias-kuendig Thank you very much, I did not recall trying with `salt-call`.  That may be why I didn't see the same exception in my logs. I will try to reproduce this again with `salt-call`.

[2018-08-22 09:30] elsie2018 opened #49248 "Encounter certificate verify failure when using archive.extracted with skip_verify=true"
Dear all,
  I'm encountering an issue when running archive.extracted. The source of url is in https with intermediate cert instead if self-sign cert, and enable skip_verify. However, i got error [SSL: CERTIFICATE_VERIFY_FAILED] but it will be fine when i change the url to http.
Please help and advise. Thank you.

Setup:

            Archive.extracted(
                'sid',
                name='{

[2018-08-22 09:36] koalaurent commented on #36397
Hello, no news about this option since 2016 ? Thanks.

[2018-08-22 09:44] benrobinson1993 commented on #37887
Pretty sure I am running into the same issue.

I have a template file, inserting pillar data into the file,
Calling pillar.get works fine, returning the correct content. So it looks like the data is going into the pillar OK, just failing when it tries to render out the Jinja.

The State itself.
`/etc/httpd/conf.d/vhosts.conf:
  file.managed:
    - source: salt://apache-backend/files/vhosts.conf

[2018-08-22 09:45] benrobinson1993 commented on #37887
Pretty sure I am running into the same issue.

I have a template file, inserting pillar data into the file,
Calling pillar.get works fine, returning the correct content. So it looks like the data is going into the pillar OK, just failing when it tries to render out the Jinja.

The State itself.
[code]

Error Output from salt call.
[code]

Example Pillar content of cluster_data.get("apache_bottom")

[2018-08-22 09:51] dpkkumar01 commented on #49224
Thanks for your valuable response. I have made the setup and able to execute my command in salt-minion servers via salt-syndic.

Earlier i use to check my minion status in my main salt master application server using saly-key command. Now i am getting only "my_syndic" id in my main master.

I want to check my other end minion servers connected on salt-syndic server from my main master server.

How

[2018-08-22 10:12] gf-orgx commented on #49210
Hi!

I tried both -ldebug and -ltrace, however they don't seem to shed some more light.

[code]

[2018-08-22 10:13] gf-orgx commented on #49210
Hi! I tried both ldebug and ltrace however they don't seem to shed any more light.

[code]

[2018-08-22 11:05] lyddragon opened #49249 "No minions matched the target. No command was sent, no jid was assigned. ERROR: No return received"
**salt cli:**

**salt master config:**

**salt-master version:**

**salt master log:**

[2018-08-22 11:14] gf-orgx commented on #49210
If this may help, I tried adding some print statements in output.nested.output() and this type error exception text is actually within the `ret` string which is passed to output(). I'll try to debug this further.

[2018-08-22 12:08] afischer-opentext-com opened #49251 "Download from S3 (still failing) with spaces in path"
### Description of Issue/Question

When attempting to download files from S3 using the file.managed states this only works when files have no space in their name. Their were various issues in the past which are currently closed but this still does not work. This breaks automation efforts as it requires manual intervention/renaming when using installers/MSI files on Windows with have spaces in thei

[2018-08-22 12:36] mirceaulinic commented on #49221
Yes, I'm seeing the same with any proxy type setting `multiprocessing: true` (or leaving the default value).
Once I set `multiprocessing: false` there are no longer defunct processes. They seem to be defunct processes from the highstate.

[2018-08-22 12:38] sunyq commented on #49150
Hi, I am able to replicate this problem with:
1) salt CLI
2) minion running on CentOS-7 with prompt:
[code]

[2018-08-22 13:09] #48947 closed

[2018-08-22 14:41] gf-orgx commented on #49210
I bypassed some exception handling to get the trace and here it is:

[code]

[2018-08-22 14:43] Ch3LL commented on #49224
salt-key will only show the minions attached directly to each master but you should be able to run `salt '*' test.ping` from the master of masters and it should return all the minions.

[2018-08-22 14:47] damon-atkins commented on #49220
Results in firefox being installed just for that user.
pkg.list_pkgs will not see it, as it only supports software installed for everyone. There are large issue to overcome with supporting user installed software.

The other issue is User Registry is not divided into 64bit and 32bit like the Machine registry.

Your example does not tell us what your aim is?

One day salt might have on windows a

[2018-08-22 14:49] gf-orgx commented on #49210
Please look at `utils/minion.py` in `mine_get`, LOC number 1175:

[code]

This change actually fixes the whole problem:

[code]

[2018-08-22 14:52] Ch3LL commented on #49210
that makes sense as you are getting a list returned. I know there where a couple of changes around mine in the upcoming 2018.3.3 release. if you test with the 2018.3.3 branch do you still see the issue?

i'm not sure if we want the functions to be a list. So I'm wondering what has changed

also ping @saltstack/team-network any ideas here? i dont have access to a proxy module that can use these net

[2018-08-22 14:54] Ch3LL commented on #49150
can you paste the command you are running? I was never even able to replicate this problem on centos7

[2018-08-22 14:55] damon-atkins commented on #49251
What happens if the spaces are turned into `%20`

[2018-08-22 14:58] gf-orgx commented on #49210
I'm running develop branch now.

[2018-08-22 15:04] gf-orgx commented on #49210
If I look at the 2017.x code (https://github.com/saltstack/salt/blob/2017.7.8/salt/utils/minions.py) which worked for me earlier with networking stuff, yes, it seems there was a change from a single function string to functions list in `mine_get`.

[2018-08-22 15:10] mirceaulinic commented on #49210
This can probably be reproduced with the `dummy` proxy module too, having `test.ping` under mine functions, e.g.,

[code]

Can you confirm @gf-orgx?

For #47695 perhaps it's better to use the `2018.3` branch instead.

[2018-08-22 15:15] BrianSidebotham opened #49254 "salt-cloud proxmox driver ignores some settings when cloning"
### Description of Issue/Question

When using the clone option with the salt-cloud proxmox driver other settings in the profile, such as `net0` or `ide2` are ignored.

When using something like a cloud-init template, it's useful to be able to clone from a template but then also to adjust the `ide2` setting of the clone so that a different cloud-init configuration ISO can be mounted.

### Steps to

[2018-08-22 15:17] afischer-opentext-com commented on #49251
This indeed seems to work!

Is there any option to have this converted automatically in the S3 module? We are calculating the base location of the file dependent on pillar information (may be S3 or a file share or the salt file server as the deployments may be air gapped), so it would be some effort to workaround all occurrences of it dependent on the source of the files. Also I am not aware of an

[2018-08-22 15:18] Poil commented on #40673
Hi,

I've just tried this
[code]
When the  returner pgjsonb is enable I have the same traceback
[code]

When disabling the returner I have no more problem

Best regards,

[code]

Returner config
[code]

[2018-08-22 15:20] gf-orgx commented on #49210
@mirceaulinic I added it under `mine_functions` in proxy config and started proxytype  = dummy proxy, however:

[code]

I tried updating mine on it:

[code]

Is there something else I should add to enable test functions?

[2018-08-22 15:25] gf-orgx commented on #49210
I tried `test.arg`, e. g., and it seems to me like `mine_get` isn't called for this one.

[2018-08-22 15:28] Poil commented on #40673
Note we are both on CentOS 7, could be a bug with python 2.7.5 ?

I think you should do like Puppet, a package that include the full Python environment, no dependency with the Python of the OS, also Jinja on CentOS7 it's a old one (2.7.x), I've upgrade it to 2.10

[2018-08-22 15:28] gf-orgx commented on #49210
Same for `test.sleep` - `mine_get` isn't invoked.

[2018-08-22 16:07] dmurphy18 commented on #49156
Packaging issues are dealt with in salt-pack repo, see https://github.com/saltstack/salt-pack/issues/580

@josephname If this satisfies your issue, please consider closing our alternatively after the next point release.

[2018-08-22 16:25] damon-atkins commented on #49251
As a workaround something like this
[code]

[2018-08-22 16:44] #33248 closed

[2018-08-22 16:48] garethgreenaway commented on #49251
This is fixed in https://github.com/saltstack/salt/pull/48328, which will be available in 2018.3.3 and 2017.7.8.

[2018-08-22 16:59] garethgreenaway commented on #49249
@lyddragon Thanks for the report.  Unfortunately the version of the Salt master that you're using (2015.5.10) is quite old and no longer supported.  More details about what versions are still supported can be found here, https://saltstack.com/product-support-lifecycle/

[2018-08-22 17:02] garethgreenaway commented on #49230
The PR for this was merged, so closing this one out. Thanks!

[2018-08-22 17:02] #49230 closed

[2018-08-22 17:07] afischer-opentext-com commented on #49251
That's awesome! Thank you very much!

[2018-08-22 17:16] mchugh19 commented on #38533
Still an open question. Happy to submit a PR if a direction is chosen

[2018-08-22 17:31] markuskramerIgitt commented on #40173
Setting `max_open_files` (documented in https://docs.saltstack.com/en/latest/ref/configuration/master.html#max-open-files) unfortunately does not solve the issue of PR https://github.com/saltstack/salt/pull/39957

But I think it is a good place to add document for setting  `LimitNOFFILE`  and warning ”_The number of accepted minion keys(#####) should be lower than 1/4 of the max open files soft se

[2018-08-22 17:32] garethgreenaway commented on #49233
@BruXy Thanks for the report.  This seems like more of a Docker or Docker image issue than a Salt issue.  The error you're getting back and the reason the container is unable to start seems to be because the proc file in question does not exist.  Are you able to create the container from that state, then exec in and verify that the file you're attempt to update exists?

[2018-08-22 17:34] garethgreenaway commented on #49234
Looks like this should be a relatively straightforward fix.  Just check if the process is running before attempting to stop it.  @dwoz @twangboy Thoughts?

[2018-08-22 17:38] terminalmage commented on #47330
I did some initial work on this a few weeks ago and it is not as simple as I originally thought. Hoping to get this in for the Neon release cycle.

[2018-08-22 17:44] garethgreenaway commented on #49238
@ericrasmussen Thanks for the report.  Adding a `force` flag to allow the user to pass in the `-f` would definitely be helpful.  And a PR adding this would be most welcome.

[2018-08-22 17:47] gtmanfred commented on #40173
Yeah, that seems like the perfect place.

[2018-08-22 17:53] BruXy commented on #49233
@garethgreenaway Yes, I agree that it is more a docker issue. However, I am not sure what in the execution chain is trying to open `/proc/sys/net/ipv4/tcp_timestamps`. The file does not exist inside the container and sysctl itself will give this error:

[code]

[2018-08-22 17:55] garethgreenaway commented on #49247
@Poil Thanks for the report  All the documentation is part of the SaltStack code, that particular piece can be found here: https://github.com/saltstack/salt/tree/develop/doc/ref/netapi/all.

To fix it, the process would be to create a clone of the SaltStack repository, make your changes and then submit a pull request from your cloned repository against the SaltStack one.

[2018-08-22 18:18] do3meli commented on #38633
This is still open and on the wishlist

[2018-08-22 18:31] terminalmage commented on #49159
Good catch, since I don't recall the reasoning for changing that, I've reverted it in https://github.com/saltstack/salt/pull/49263 and set it so that `None` will not cause a warning when this value is set to that.

[2018-08-22 18:44] terminalmage commented on #48414
@weswhet I'm going to close this since your PR was merged a couple weeks ago. Thanks!

[2018-08-22 18:44] #48414 closed

[2018-08-22 18:49] terminalmage commented on #48641
Not off the top of my head, though I know that @basepi has semi-recently made some improvements to s3fs, I _think_ for this very reason. Am I remembering correctly, @basepi?

[2018-08-22 18:56] terminalmage commented on #48944
Yeah, you need to use a filter for this, the `u` prefix in Python 2 unicode strings is not valid YAML.

The `json` filter is one that we wrote, but `tojson` (Jinja 2.9+) handles non-ascii unicode better than that, so it's probably the best solution. 2018.3.3 and later will have a port of this filter bundled with Salt itself, which will be used when the version of Jinja is older than 2.9 to provide

[2018-08-22 19:01] #49202 closed

[2018-08-22 19:02] gtmanfred commented on #49174
I have submitted your change as a pr here https://github.com/saltstack/salt/pull/49264

[2018-08-22 19:02] gtmanfred commented on #49202
Fixed here https://github.com/saltstack/salt/pull/49264

[2018-08-22 19:40] basepi commented on #48641
I did not do any performance improvements. Our use in hubble only updates the cache once per hour so speed wasn't super important to us.

The primary improvement I made was to make ordering explicit. It was using dicts to store the cached data so fileserver ordering wasn't necessarily preserved (which is terrible if you're relying on fileserver ordering).

JIT caching is already "supported", but i

[2018-08-22 19:41] basepi commented on #48641
Note: I have not tested JIT caching. We don't want it or use it.

[2018-08-22 21:36] whytewolf opened #49269 "2017 and 2018 grains.items not able to output with --out=yaml"
### Description of Issue/Question

Using 2017.7.x and 2018.3.x I'm unable to output with --out=yaml using salt

### Setup
Install salt and try to output the grains in yaml and run the command `salt-call grains.items --out=yaml`

### Steps to Reproduce Issue
Install salt and try to output the grains in yaml and run the command `salt-call grains.items --out=yaml`

Trace logs included in the attached

[2018-08-22 21:40] whytewolf commented on #49269
ZD-2794

[2018-08-22 22:56] #22467 closed

[2018-08-22 23:11] erwindon opened #49271 "Question about the online documentation for salt commands"
### Description of Issue/Question
The online documentation for Salt commands is easier to use than issuing salt `sys.doc` commands.
The online documentation is in https://docs.saltstack.com/en/latest/ref/modules/all/index.html.
However, some modules are listed under a different name.
e.g. module `cmd` is not present in the list.
One has to know that its documentation is actually named `cmdmod`.
No

[2018-08-23 02:17] elsie2018 commented on #49248
@garethgreenaway Thanks for your reply, then may i know how to pass the verification of SSL along with Archive.extracted? any suggested solution for this issue?

[2018-08-23 04:30] ferringb commented on #42706
This is fixed via salt 2017.7.3, specifically https://github.com/saltstack/salt/commit/1dcf167bb7befa0e1ebf8c7256437318961f0351 .

[2018-08-23 05:07] sunyq commented on #49150
#### salt-master
- centos 6
- python 3.6
- salt 2018.3.2
#### salt-minion
- centos 7
- python 3.6
- salt 2018.3.2

[code]

I install salt by running `pip install salt`

[2018-08-23 07:03] ferringb opened #49273 "Salt parallelization is sequential if the parallel state object has any requisites"
### Description of Issue/Question

Whatever backing scheduler is used for the parallelization feature seems to only work if the state has no requisites.  If it does- for example, a dependency on a pkg.install- parallelization doesn't occur, instead it's ran sequentially.

Unfortunately, this kind of strongly limits the parallelization usefulness; whether it be formatting disks or dumping files int

[2018-08-23 07:13] #24955 closed

[2018-08-23 08:41] minusf commented on #49230
thank you.  i have noticed that multiple states have the same issue (namely not sanity checking mandatory parameter(s) besides their existence).  i think it might be a good idea to plan an audit related to this and unify the mechanism/style of error messages/return values...

[2018-08-23 08:49] Poil commented on #49247
Hi,
Yeah I've found the documentation folder, but there is nothing in it about the configuration parts of the generated documentation. Perhaps it's automatically generated from the code ?

[2018-08-23 09:01] redbaron4 commented on #48944
Thanks for explaining this @terminalmage

I think my formula (which had a similar issue) worked correctly atleast in 2017.7.0 but broke in 2018.3.0 (Both on Python-2.7)

[2018-08-23 10:02] markuskramerIgitt commented on #48468
Same story for     Salt-Minion-2018.3.2-Py3-AMD64-Setup.exe

My guess is that Symantec can detect "ingredients" of the Salt-Minion and rules it must be malware.

You could whitelist all installers, or discuss this with Symantec.

[2018-08-23 10:40] nkv16786 opened #49274 "makedirs=True not working as expected"
### Description of Issue/Question
makedirs=True not working in file.managed

I am running the following command on windows minion,

`salt svr-123123 state.sls template pillar='{"name":"C:\\ProgramData\\pip\\pip.ini","source":"salt://conf.jinja","makedirs":True,"show_changes":"True","url":"http://10.xxx.xxx.xxx:8081/repository/AEPIP/pypi","win_owner":"salttest","win_perms":"full_control"}' -l debug

[2018-08-23 11:17] gf-orgx commented on #49210
Hi,

I reviewed history for `utils/minions.py` and it seems a fix was intended but was only partial. Please look at d93b638.

[2018-08-23 11:29] BrianSidebotham commented on #49274
Is that a copy and paste of the state file, because if it is you have a spelling mistake in the makedirs option: `- makdirs: {{ pillar['makedirs'] }}` should be `- makedirs: {{ pillar['makedirs'] }}`

[2018-08-23 11:44] nkv16786 commented on #49274
changed it to makedirs, still same output

 `svr-1534756760705:
----------
          ID: create_config_file
    Function: file.managed
        Name: C:\ProgramData\pip\pip.ini
      Result: False
     Comment: Parent directory not present
     Started: 11:42:47.467000
    Duration: 500.0 ms
     Changes:

Summary for svr-1534756760705
------------
Succeeded: 0
Failed:    1
------------
Total state

[2018-08-23 12:11] dgengtek opened #49275 "execution module cp.cache_file fails with error 'invalid arguments to setopt'"
### Description of Issue/Question
cp.cache_file fails on CentOS 7 python2 installation with Tornado 4.2.1 with the error "Passed invalid arguments to cp.cache_file: invalid arguments to setopt" when running the execution module from the shell. Anything which obviously is using cp.cache_file to download something is failing.

cp.cache_file works on CentOS 7 python34 installation with Tornado 4.4.2

[2018-08-23 12:29] rbjorklin commented on #29028
@IliyanIliev1 if your domain is `sofia.elex.be` this is the line causing you issues: `{% set config = pillar[grains['domain']]['interfaces']['conf_eth1'] %}`

Looks like you're trying to lookup an entry (`sofia.elex.be`) in the `pillar` dict and it's not in there.

Unrelated, I'm pretty sure this issue can be closed now as it's only full of user errors from what I can see.

[2018-08-23 13:28] gtmanfred commented on #49271
Yup, that is one of the problems with the way that this documentation is loaded.

We use `sphinx` autodoc, so we have a .rst file for each one of the automod documents.

https://github.com/saltstack/salt/blob/2018.3/doc/ref/modules/all/salt.modules.cmdmod.rst

The problem is with automod, you have to specify the specific file to load from, so in this case, `salt/modules/cmdmod.py`  while we build

[2018-08-23 13:44] gtmanfred commented on #49275
[code]

I am unable to replicate this issue, can you provide me with more information?

[2018-08-23 13:56] dgengtek commented on #49275
I should have probably mentioned that I am behind a squid http proxy.

I just now tried with a new host install and getting the same error behind a http proxy. I can not see any traffic to the proxy with tcpdump so I think it is an issue with the minion proxy settings?

These are the only settings in /etc/salt/minion I used
proxy_host: proxy.<domain>
proxy_port: 3128

This is the versions report o

[2018-08-23 14:00] rallytime commented on #37887
@benrobinson1993 It is probably better to open a new PR with this information. We did a lot of work to support unicode for the 2018.3 releases, so we will want to fix this and having updated info will get some more eyes on it.

[2018-08-23 14:26] gtmanfred commented on #49269
Seems like this is a bug in the yaml outputter.

[2018-08-23 14:26] gtmanfred commented on #49269
[code]

[2018-08-23 14:27] josephname commented on #49156
when it's released, should I use https://repo.saltstack.com/yum/redhat/7Server/x86_64/2018.4 ?

[2018-08-23 14:31] gtmanfred commented on #49274
Can you provide a simplified state that just tests this? because i am unable to replicate this issue.

[code]

[2018-08-23 14:36] #49174 closed

[2018-08-23 14:48] gtmanfred commented on #49273
@thatch45 can you comment on this?

Thanks,
Daniel

[2018-08-23 14:51] Ch3LL opened #49280 "clean up ec2 test VMs"
currently the ec2 test VMs for the rename test are not getting cleaned up properly if there is a problem found earlier in the test. Just need to also add the rename vm to the teardown.

aslo need to add a tag to the profile liek this: `tag: {'created-by': 'test-automation'}` so we can add a job to delete vms by tag to clean any of these VMs that dont get deleted for any reason.

[2018-08-23 15:00] dgengtek commented on #49275
This is the formula is used for testing https://github.com/dgengtek/testing-formula/tree/issue/49275

These are the kitchen logs with the error:
[code]

[2018-08-23 15:13] #38425 closed

[2018-08-23 15:14] adambarnett52 commented on #46667
Any movement on this? We are finding that salt will just hang and never move on . Happy to help with testing

[2018-08-23 15:14] gtmanfred commented on #49274
<img width="456" alt="screen shot 2018-08-23 at 10 14 13 am" src="https://user-images.githubusercontent.com/732321/44534422-5d59dc00-a6bd-11e8-9940-f63cc9ee5774.png">

I am also unable to replicate this issue on windows.

[2018-08-23 15:28] erwindon commented on #49271
I found it.
Calling `test.providers` first to see where things are.

[2018-08-23 15:30] aarnaud opened #49281 "etcd_cache : Not working for mine"
### Description of Issue/Question

### Setup
Cluster of 3 etcd and 3 masters
/etc/salt/master.d/03-etcd.conf
[code]

### Steps to Reproduce Issue
`salt * mine.update`

Master log :
[code]

### Versions Report
Salt Version:
           Salt: 2018.3.2

Dependency Versions:
           cffi: Not Installed
       cherrypy: unknown
       dateutil: 2.6.1
      docker-py: Not Installed
          gitdb: 2.

[2018-08-23 15:33] breshead commented on #46942
Removed the duplicate pull request and updated the current one with the changes.

[2018-08-23 15:34] Ch3LL commented on #38533
ping @saltstack/team-core any thoughts here?

[2018-08-23 15:43] aarnaud commented on #49281
There is issue in this case:

First before store something salt try to read the cache, we can fix that with:
[code]

Second:
It's seem binary data is not supported well with  python-etcd or etcd
We can fix with base64 encode/decode

[2018-08-23 15:43] gtmanfred commented on #49275
Yes, that would have been helpful.

[2018-08-23 15:44] gtmanfred commented on #49271
:+1: cool, yeah that would work.

I am going to close this issue then.

[2018-08-23 15:44] #49271 closed

[2018-08-23 15:46] gtmanfred commented on #38533
There was talk of making it so that `onfail: ` would unmark the failed state as `result=False`, imho, i think that would be a better solution.

[2018-08-23 15:49] Ch3LL commented on #49150
ahh python3. in your initial versions report it shows python2. With python3 i can replicate this. As noted above though it does remove the entry and the file looks good.

[2018-08-23 16:05] gtmanfred commented on #49275
I have replicated this issue with the following docker compose setup.

https://github.com/gtmanfred/salt-docker-demo/tree/issue49275

Thanks for reporting.
Daniel

[2018-08-23 16:25] dmurphy18 commented on #49156
@josephname The next point release for 2018.3 branch shall be called 2018.3.4.

The link https://repo.saltstack.com/yum/redhat/7Server/x86_64/2018.3 is updated to always point to the newest release for that branch.  If you want to remain on a particular point release, the url would be https://repo.saltstack.com/yum/redhat/7Server/x86_64/archive/2018.3.4 for the 20183.4. point release.

Hope this c

[2018-08-23 17:00] thatch45 commented on #49273
At first I looked at this and said "yes, that sounds right" but then I tested it and it does not behave the way I think it should. So the require_ins should make barrier2 wait for all of the parallels to run, but it should not block until it gets evaluated. So I thought that it would fix it if you added an `order: last` to the barier2 state, but that does not work, what works is getting rid of the

[2018-08-23 18:13] #38496 closed

[2018-08-23 18:19] garethgreenaway commented on #46667
Apologies for the delay on this one.  So far I haven't been able to reproduce this particular issue.  If someone is able to provide a snapshot, Docker image, etc. of a system where the problem is reproducible that would be helpful.

[2018-08-23 19:10] terminalmage commented on #48299
This is because the current code is just using a symmetric difference of the two sets of tags. I've corrected that and am writing a test for this case now.

[2018-08-23 19:48] thatch45 commented on #49273
Ok, I took a look here and can see what is going on, the joys of the state system. The issue you have is ordering, you have set this up so that it will fully resolve `barrier` before it evaluates the `blah={1,2,3}`. If you change the evaluation order then it runs in 10 seconds and resolves all requisites properly:

[code]

Salt will read in the definition as it is presented so that it runs the sam

[2018-08-23 19:54] BenjaminSchiborr opened #49295 "New module.run syntax does not support keyword arguments"
### Description of Issue
With Sodium a new syntax for the "module.run' function will be introduced as indicated by the following message: ``The function "module.run" is using its deprecated version and will expire in version "Sodium"``.
The required changes are described here: (https://docs.saltstack.com/en/develop/topics/releases/2017.7.0.html#state-module-changes)

This new syntax no longer supp

[2018-08-23 20:59] RobRuana opened #49296 "`salt-run manage.bootstrap` always raises `KeyError: 'list_hosts'`"
### Description of Issue/Question
I receive the following error every time I try to use the `manage.bootstrap` runner as [described in the documentation](https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.manage.html#salt.runners.manage.bootstrap).

[code]

### Setup

### Steps to Reproduce Issue
Run the following command (with valid hosts and a valid roster):
[code]

Here is the ou

[2018-08-23 20:59] 1ricardo opened #49297 "MySQL grants - doesn't escaping correctly the special characters"
### Description of Issue/Question

### Setup
 State **mysql_grants.present** adding extra **backslash** to the database name, when we wants make the whitelisting of access.

### Steps to Reproduce Issue
First we have to create simply user in DB
[code]
Now we can use this simple state:
[code]

SALT adding extra **backslash** to **%** in database name, what is incorrect

[code]

Should be:

[code]

[2018-08-23 21:51] 1ricardo commented on #49297
When I disable the escape with this example:

[code]

than I have following error

[code]

but not sure if this is expected behavior

[2018-08-23 22:13] #38492 closed

[2018-08-23 22:32] twangboy commented on #49234
Yeah. I'll add it to my list.

[2018-08-23 22:41] rlwchang commented on #48241
Any updates on this one? I'm also having a similar issue to this. It's also hard for me to reproduce, but it is pretty bad when it happens. Ignore the Node one as I know what's going on there.

My current setup is as follows:
Website -> Salt CherryPy Server -> Syndic -> 3 other Windows 10 machines with Salt

At startup, I often get the python2.7 from the master clocking in 100% CPU usage.
When run

[2018-08-23 22:52] twangboy commented on #49225
@lomeroe Looks similar to https://github.com/saltstack/salt/issues/48782

[2018-08-23 22:55] twangboy opened #49298 "LGPO Issues"
An epic for tracking LGPO issues

[2018-08-23 23:06] ferringb commented on #49273
Err... this isn't expected behaviour, and your proposed ordering fix missed my point- you removed the barrier1 which needs to be executed prior to the blah-* steps; in the example I gave, barrier1 *must* run before the blah-*.  Your proposed order fix literally drops the requisite- what if barrier1 actually wasn't a nop, and had failed?

What I posted there was an isolated testcase for repro; what

[2018-08-23 23:44] theonlyjohnny opened #49300 "[Salt-Cloud] StopIteration on destruction of AWS EC2 Instance"
### Description of Issue/Question

StopIteration error occurs on every termination of an EC2 instance. This issue occurs across AWS regions, with the same result every time.
This causes the process exit code to be non-0, and means we have to "ignore" errors, so we don't know if salt-cloud ever actually fails. This happens automatically routinely.

### Setup
(Please provide relevant configs and/or

[2018-08-23 23:45] ferringb commented on #38746
Does https://docs.saltstack.com/en/latest/ref/configuration/minion.html#process-count-max have any relation in this case?  2018.8.3 feature....

[2018-08-23 23:56] ferringb opened #49301 "Salt parallel execution has no min/max control for state parallel support"
### Description of Issue/Question
There doesn't seem to be a way to properly limit parallel execution- neither in checking docs, nor in reading through the various calls to state's call_parallel.

This in turn means that if the chunk graph is correct, and you have quite a few parallels in use you can easily exhaust the box.

I'll provide a test repro below, but for a real world example; in my setu

[2018-08-23 23:57] dmurphy18 commented on #49156
openssl versions differ between RHEL 7.2 and Centos 7.2
RHEL 7.2. 1:1.0.1e-42.el7_1.9
Centos 7.2.1511 1:1.0.2k-12.el7

[2018-08-24 00:19] theonlyjohnny opened #49304 "[Salt-Cloud] Cannot ascii encode character when spinning up EC2 instance"
### Description of Issue/Question

I get this Exception: `UnicodeEncodeError: 'ascii' codec can't encode character u'→' in position 317: ordinal not in range(128)` any time I try to spin up a box on AWS EC2. The creation succeeds, but the salt-cloud command errors.

I found a similar issue, for VMWare @ https://github.com/saltstack/salt/issues/30277

Error:

[code]

### Setup
(Please provide relev

[2018-08-24 00:48] qiushics commented on #49220
We have several machines, I want to use salt to control every machine opening firefox with a website.
Each machine is auto logging, what I want is using salt to control software after the desktop is displayed.
I've tried using salt as services (default, no matter the services belonged to admininistrator or certain user), the gui of firefox doesn't pop up.
So I want to run salt by an unprivileged u

[2018-08-24 01:04] terminalmage commented on #48299
Fixed in #49305.

[2018-08-24 02:58] sunyq commented on #49150
Oh, sorry for obscure description.
- With python2.7, rm_host changes /etc/hosts with odd characters
- With python3(3.6 in my case), rm_host will remove the whole entry and the file does look good.

It seems that the version of CentOS is not the key.

I modified(just changed some codes, perhaps my code looks "ugly" but it works) the implementation of function `rm_host` in `salt/modules/hosts.py` in