[2016-03-03 15:06] DmitryKuzmenko commented on #29753
Fixed by #31653

[2016-03-03 15:11] DmitryKuzmenko commented on #30643
@timyi1212 could you please provide more details? What salt version do you use? What patches are applied (because the fix wasn't released yet) and salt-minion log output.

[2016-03-03 15:22] DmitryKuzmenko commented on #31454
@johje349 what transport do you use? Zeromq or tcp?

[2016-03-03 15:27] johje349 commented on #31454
Zeromq

[2016-03-03 16:00] DmitryKuzmenko commented on #31454
@johje349 thnx

[2016-03-03 16:02] seanjnkns commented on #31619
Here are the results of the git bisect that shows the bad commit:

e1211ed89f621e32b4c8fe006dddfcbe73b8c646 is the first bad commit
commit e1211ed89f621e32b4c8fe006dddfcbe73b8c646
Author: Daniel Wallace <danielwallace@gtmanfred.com>
Date:   Mon Feb 8 13:22:41 2016 -0600

    include possible epoch in version for rpm

    Fixes #31014

:040000 040000 2bc5819fee3c73d4f42e7efdeffa1683d0051289 caf95fc

[2016-03-03 16:23] seanjnkns commented on #31619
This would work for dnf and possibly other systems that allow you to specify the epoch in the version name for installation, but not for yum (ie, RHEL/CentOS and others).

@jfindlay, I'll submit a PR to have this reverted as this commit needs a lot more added to it for distro checks, etc... to make this effective.  Also, even though dnf is available for installation on RHEL/CentOS 7.x, salt appear

[2016-03-03 16:28] rallytime commented on #31617
@tampakrap and @Ch3LL Can you give the fix in #31629 a try and confirm if this is fixed?

[2016-03-03 16:29] jfindlay commented on #31624
@jeffclay, this seems like a useful feature.  I know very little about windows development, but you can get information on what salt is doing by watching the [event system](https://docs.saltstack.com/en/latest/topics/event/index.html#from-python).

[2016-03-03 16:33] jfindlay commented on #31632
@zieba88, thanks for reporting.  @patrickpilch, you are welcome to submit a pull request to fix this.

[2016-03-03 16:37] jfindlay commented on #31639
@mshirley, thanks for the report.

[2016-03-03 16:41] rallytime commented on #31639
Thanks for letting us know @mshirley. All salt-cloud drivers should have support for `start`, `stop`, and `reboot` actions. Marking this as a bug.

[2016-03-03 16:46] seanjnkns commented on #31619
Correction to my last statement.  You can specify the epoch on the version installation, but it looks like it's not being properly included for installation, just verification after the fact.  In either case, I'll submit a PR request to have this reverted or see if I can find the other piece(s) that need the epoch included for installation too.

[2016-03-03 16:50] jfindlay commented on #31645
@Ntr0, excellent, thanks for fixing this.

[2016-03-03 16:58] seanjnkns commented on #31619
Here's an example from a salt-call state.highstate -l debug and the command salt tried to run that failed:

[ERROR   ] Command 'yum -y     install "ksm-10:2.4.0-1.el7.centos"' failed with return code: 1

And, if I run that myself, it fails too.  But, if I change it to be:

yum -y     install "ksm-10:2.4.0-1.el7.centos.x86_64", then it works.  However, that still doesn't work if I change the versio

[2016-03-03 17:00] jfindlay commented on #31648
@darix, thanks for reporting.  Part of the issue here is that there are more specific and more things that can be done with the redhat or systemd service than a generic service module that applies to many platforms.

Pragmatically what may need to be done is ensure that all calls to `__salt__['service.*']` from anywhere, not only the service state, are defined in each of the providers of the servi

[2016-03-03 17:05] jfindlay commented on #31652
@ssplatt, thanks for reporting.  Since debian 6 is [no longer supported](https://www.debian.org/releases/) by debian, we are also not making efforts to support it.  You are welcome to fix the repo url at https://github.com/saltstack/salt-bootstrap, but I cannot guarantee how much longer debian 6 support will remain in salt-bootstrap.

[2016-03-03 17:09] dmurphy18 commented on #30227
@edhgoose @brunsgaard @damon-atkins @lorengordon Just wanted to make you aware that yesterday, uploaded an install repo rpm for Amazon Linux and documentation on Amazon Linux (own tab) on repo.saltstack.com.  The install repo rpm installs the latest based on Redhat 6, but adjusts the baseurl similar to that stated above by bunsgaard.

Hopefully this will ease the installation of Salt onto Amazon L

[2016-03-03 17:12] jfindlay commented on #31615
@slemesle, I am not sure.  This seems to need further investigation.  If you have the same top file in each environment, you could try using `default_top: base` instead.

[2016-03-03 17:16] jfindlay commented on #31205
@Silvenga, thanks for the additional investigation.  If you find this issue again then we can reopen it.

[2016-03-03 17:16] #31205 closed

[2016-03-03 17:21] jfindlay commented on #31619
@seanjnkns, if you're going to be working in this area, you should check in with @gtmanfred and/or @terminalmage.

[2016-03-03 17:23] jfindlay commented on #30146
@isbm, thanks for the detailed reproducible case.  We'll need to look into this.

[2016-03-03 17:32] Ch3LL commented on #30183
@DmitryKuzmenko I'm re-opening this because I just tested on the head of 2015.8 again and I am still seeing this particular issue with multi-master failover. I'm guessing those two PRs still need to be added to 2015.8.

[2016-03-03 18:21] rallytime commented on #21932
@clinta I just submitted #31655 to help clarify the dependencies in the Salt Coding Style docs. How does that look to you?

I am not sure which troubles you were running into with the `salt-testing` piece, but that shouldn't be required to run pylint. You just need the `pylint` and `saltpylint` pip packages and you should be good to go!

I tested this on a fresh vm to confirm that you don't need s

[2016-03-03 18:21] ticosax commented on #31595
@dverbeek84 Thanks, I will have a look then.

[2016-03-03 18:23] ewysong opened #31657 "salt.modules.cron.rm not functioning as expected"
### Description of Issue/Question

Cron module is not removing an existing entry from the cron file.
### Setup

A minion's crontab for the root user includes the following:

[code]

Running the command `salt 'minion1' cron.list_tab root` returns the following:

[code]

If I run the command `salt 'minion1' cron.rm root /etc/accountsync/accountsync` the following is returned:

[code]
### Steps to Re

[2016-03-03 18:39] rickh563 commented on #30528
ZD-636

[2016-03-03 18:56] terminalmage commented on #31619
Fixed in https://github.com/saltstack/salt/pull/31660.

[2016-03-03 18:59] terminalmage commented on #31619
Actually, my fix just removes the epoch, I'll look at adding the arch instead.

[2016-03-03 19:07] dkiser opened #31661 "Feature request: iptables-save: filter out lines via regex"
### Description of Issue/Question

As a Salt user, I Should Be Able To configure a list of regex strings So That I Can perform an `iptables.save` module call (directly or via the iptables state) without saving certain entries persistently in order to prevent ephemeral rules created by systems such as Docker from adversely affecting iptables state on service restarts.

^^ run-on sentence much?
###

[2016-03-03 19:07] anlutro commented on #11389
FWIW, I ran `salt-run cache.clear_all name-of-minion` after shutting down a minion today, and that cleared the mine data. Not sure if that's an intentional fix since this issue seems to indicate that it's still a problem?

[2016-03-03 19:10] mdferoz commented on #22713
@Dmitry - Thanks, that helps.

[2016-03-03 19:10] lorengordon commented on #30227
@dmurphy18, the instructions look pretty good to me. Only nitpick I have is that 'Pin to Minor Release' under Amazon Linux still identifies RHEL/CentOS in the 'name' field of the repo definition, instead of Amazon Linux.

i.e., this:
[code]

should be:
[code]

[2016-03-03 19:16] seanjnkns commented on #31619
Great.  I got side-tracked for a bit, otherwise was going to submit a PR to remove the epoch as a temporary solution.

[2016-03-03 19:18] fredrikaverpil opened #31663 "network.manage causes "Minion did not return. [No response]""
### Description of Issue/Question

Configuring the network on CentOS 7.2 via `network.manage` causes minion to stop responding. It won't respond to e.g. `salt 'minion' test.ping` or anything. The `salt-minion` service requires a manual restart.

The minion does receive its new network settings and these settings are activated just fine. I can see how the minion is available on a new IP address and

[2016-03-03 19:18] patrickpierson commented on #25125
@multani sorry for the long wait.

When I run rabbitmq.list_users on that host from the master I get the same as @erikpar no response but in the logs the command is ran and results are shown in the debug log output.

[2016-03-03 19:22] beardedeagle commented on #31661
+1

[2016-03-03 19:29] clinta commented on #21932
Thanks, that looks perfect. Especially helpful to know that the dependencies are avaliable via pip.

[2016-03-03 19:30] terminalmage commented on #31619
@seanjnkns I decided to go with my fix as-is and not try to add the arch. The reason for this is that in Salt we don't make a distinction between a ``noarch`` package and a package that matches the arch of the OS. So, we won't know for certain which arch to append to the end of the package string. Leaving off the epoch when performing the ``yum install`` will still work, the only corner case that

[2016-03-03 19:33] seanjnkns commented on #31619
@terminalmage you doing PRs on this for 2015.5, 2015.8 and the development branch?  Cause I may just patch out the epoch on my production machines to avoid creating a ton of work for myself to role everything back to 2015.8.5 or before.

[2016-03-03 19:35] sbatchu0108 commented on #30146
I am experiencing the similar issue. Logs are being filled up with these replay attack error messages after upgrading the salt master:

[code]

Minion Version:
[code]

Error Logs:
`salt.loaded.int.returner.local_cache                 ][ERROR   ][xxxx] An extra return was detected from minion xxxxxx, please verify the minion, this could be a replay attack`

PS: We have full blown master-minion setu

[2016-03-03 19:41] terminalmage commented on #31619
No, just the one pull request against 2015.5. We use a merge-forward workflow, so this fix will be merged from 2015.5 into 2015.8, then from 2015.8 into 2016.3, and then 2016.3 into develop.

We do it this way so that we only need a single PR. The pull request is opened against the oldest branch where the bug exists.

[2016-03-03 19:43] toanctruong opened #31664 "s3 ext pillar cache file cannot be found/not being created"
### Description of Issue/Question

Unable to load ext_pillar s3 due to cache file not existing. Is this [https://github.com/saltstack/salt/issues/28689](28689) all over again? This is a completely fresh master. There is an IAM Role with full S3 access for this box.
### Setup

[code]
### Steps to Reproduce Issue

[code]

[code]
### Versions Report

[code]

[2016-03-03 19:48] ahammond commented on #31562
@cachedout I don't have a setup for testing upgrades to the salt master at this time. We'll be pushing for 16.3 after it's released so I'll be building a test setup for that, but until then, I can't justify the time at work.

[2016-03-03 20:22] rallytime commented on #21932
Sweet! Since my change is merged, I'll close this.

[2016-03-03 20:22] #21932 closed

[2016-03-03 20:35] sjorge opened #31666 "salt-call --local pillar.items is overly eager to give data"
### Description of Issue/Question
A fresh 2016.3 branch package from today is still not very usable :-1:

[code]
[code]

### Setup
None, fresh (20160303) build of the 2016.3 branch. Running ```salt-call --local pillar.items``` will trigger this behavior

### Steps to Reproduce Issue
n/a

### Versions Report
**For some reason the 2016.3 branch from today still reports the wrong version**
I trippled

[2016-03-03 20:36] dmurphy18 commented on #30227
@lorengordon Thanks for that catch, missed it when we proof-read, even after multiple sets of eyes. Will fix it.

@jacobhammons Can you up date the docs and I shall post the fix, see above for Amazon

[2016-03-03 21:42] lorengordon commented on #30227
@dmurphy18, cool. One more thing related to the instructions, maybe a tangent issue though. But if I were installing a release rpm that was versioned to the major release, e.g. `salt-amzn-repo-2015.8-1.ami.noarch.rpm`, then I'd expect that it would pin salt to that release version, rather than installing the latest salt version and upgrading salt across major releases. Maybe use a different versio

[2016-03-03 22:08] ssplatt commented on #31652
Ah, yes. forgot it went EOL, which made all of the repos change. Thanks for the info. I'll figure out a workaround.

[2016-03-03 22:36] dmurphy18 commented on #30227
@lorengordon Yes, not the first to mention this but for now want to keep the version in to help in identifying  which install repo rpm, esp. if there is a number of them in the same directory, noting that 2015.8 shall not be the only one soon. However I shall revisit this with the next major branch release.

[2016-03-03 22:41] danlsgiga commented on #11389
Hey @anlutro, thanks for the trick. I can confirm that using `salt-run cache.clear_all name-of-minion` the cache is properly cleared.
I've also tested using a reactor to clear the minion cache once the minion is destroyed and it works seamlessly. Here is the reactor formula:

_/srv/reactor/clear_minion_cache.sls_

    clear_minion_cache:
      runner.cache.clear_all:
        - tgt: {{ data.id }}

[2016-03-03 22:42] dmurphy18 commented on #30227
@lorengordon Documentation fix is live now, I am going to close this. If there is a new  item, you see, can you open a new issue since I believe that the issue stated here has been addressed.

[2016-03-03 22:42] #30227 closed

[2016-03-03 23:50] timcharper opened #31667 "Terrible error message when encountering `None` in salt-cloud"
### Description of Issue/Question
### Setup

_Please provide relevant configs and/or SLS files (Be sure to remove sensitive info)._

`/etc/salt/cloud.profiles.d/my-instance`

[code]
### Steps to Reproduce Issue

If I try and create an instance with this configuration, then `salt-cloud` reports `AttributeError: 'NoneType' object has no attribute 'copy'`. It's happening here, on like 2510:

[code]

[2016-03-03 23:59] timcharper commented on #31667
This code is pretty gross. It might be nice to do a lens-style traversal of the data tree, aborting and returning `None` when such is hit. It'd be nice to be able to write something like this:

[code]

Something like this?

[2016-03-04 00:09] bpatelcs opened #31669 "Service is not restarting when file changes"
### Description of Issue/Question

I want to restart ntp server on minion whenever there is change in ntp.conf file on master at salt://ntp.conf.I have tried many times but it seems not working, although if I do `salt '*' state.highstate` service does restart.Let me know if I am doing something wrong.BTW, Salt is tasty :+1:
### Setup

[code]
### Versions Report

[code]

[2016-03-04 01:41] yueyongyue commented on #31644
Thank you for your answer.
Simply speaking , I want to create salt_returns table, don't use retrun field.
For example:
 CREATE TABLE `salt_returns` (
      `fun` varchar(50) NOT NULL,
      `jid` varchar(255) NOT NULL,
      `return_test` mediumtext NOT NULL,
      `id` varchar(255) NOT NULL,
      `success` varchar(10) NOT NULL,
      `full_ret` mediumtext NOT NULL,
      `alter_time` TIMESTAMP D

[2016-03-04 01:52] ssplatt commented on #31652
https://gist.github.com/ssplatt/623cfc506e488cd1aa03#file-bootstrap-salt-deb6-sh-L2280-L2284

[2016-03-04 02:03] wt commented on #11389
This is a cool workaround.

However, there is still (presumably small) risk that the salt master crashes while doing that and doesn't remove everything. I'd still like to see the proactive filtering to make sure stray files don't cause problems.

[2016-03-04 02:37] terminalmage commented on #13664
@Heiko-san This is targeted for the feature release after the upcoming one.

[2016-03-04 02:38] yueyongyue commented on #31644
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/salt/master.py", line 1457, in run_func
    ret = getattr(self, func)(load)
  File "/usr/lib/python2.7/dist-packages/salt/master.py", line 1273, in _return
    self.opts, load, event=self.event, mminion=self.mminion)
  File "/usr/lib/python2.7/dist-packages/salt/utils/job.py", line 85, in store_job
    raise KeyError(emsg)

[2016-03-04 03:49] valentin2105 commented on #31504
This curl command work on InfluxDB 0.9.x :
 curl -i -XPOST 'http://127.0.0.1:8086/write?db=salt&precision=s' --data-binary 'salt,server=local load1=0.05 1457061302'

[2016-03-04 04:35] terminalmage commented on #30528
Fix submitted in https://github.com/saltstack/salt/pull/31670.

[2016-03-04 05:11] yueyongyue commented on #31644
Thanks,I have to solve this problem.

[2016-03-04 06:18] guettli opened #31671 "Word "Job Cache" does not match"
# Word "Job Cache" does not match
I think the word  "Job Cache" does not match. It is a "Result Store"

# Wording "Job Cache" vs "Result Cache"
I have issue with the words used by the docs: "Job Cache" vs "Result Cache"

https://docs.saltstack.com/en/latest/topics/jobs/external_cache.html#external-master-cache

On the above page the heading is "Result Cache" and the sub headings use "Job Cache".

[2016-03-04 06:39] rall0r commented on #31663
Just as a thought: We do have the same issue on different occasions. But as long as the minion can still lookup 'salt' and either have network-connectivity to the master it will recover after 5-10 minutes.
Of cource one can speed up the reconnect by restarting the minion.

[2016-03-04 07:49] Talkless opened #31672 "bootstrap.saltstack.com certificate is not compatible with Debian Wheezy wget"
In plain Debian Wheezy installation (without desktop), when only wget is installed by default (no curl):

[code]

ca-certificates packages is installed by default:
[code]

Maybe it's related to certificate renewal: https://github.com/saltstack/salt/issues/22831 ? Though I have not used bootstrap earlier, I cannot tell if it worked before renewal.

[2016-03-04 07:51] timyi1212 commented on #30643
@Ch3LL
i test it agin, it seems work correct
i use the below code number to fix it, my version is 8.5
31382 31512 30796 31525 31364

[2016-03-04 07:54] FirefighterBlu3 commented on #31672
perhaps wget doesn't know where to get your CA certs.

it works well with openssl s_client without any special options:

[david@Scott ~]$ openssl s_client -connect bootstrap.saltstack.com:443
CONNECTED(00000003)
depth=3 C = SE, O = AddTrust AB, OU = AddTrust External TTP Network, CN = AddTrust External CA Root
verify return:1
depth=2 C = GB, ST = Greater Manchester, L = Salford, O = COMODO CA Limi

[2016-03-04 07:56] FirefighterBlu3 commented on #31672
my wget on Arch Linux verifies it correctly as well.

[2016-03-04 08:08] Talkless commented on #31672
wget on Debian Jessie works OK. Maybe I should report it to debian bug tracker..? Though I doubt there will be fix for old-stable Wheezy...

[2016-03-04 08:21] Talkless commented on #31672
Behaviour is kinda strange... on Debian 7 it looks like it tries to find CA:
`# strace -efile wget -O /dev/null https://bootstrap.saltstack.com 2>/tmp/debian7`
http://pastebin.com/kP1sRVK5

While in Debian 8:
`strace -efile wget -O /dev/null https://bootstrap.saltstack.com 2>/tmp/debian8`
http://pastebin.com/V7qTpkz9 .. I do not see if it even tries to open CA's

[2016-03-04 08:26] DmitryKuzmenko commented on #30183
@Ch3LL thank you for checking. I'll re-test this when I'll be less busy.

[2016-03-04 08:33] duk3luk3 commented on #31542
Where in the salt code does the serialization and deserialization happen?

[2016-03-04 08:52] kstreee opened #31674 "Print the result of salt batch in real time."
The salt commands with a batch option, for example `salt -b 10 '*' test.ping`, print a result after all minions are finished their job.
It is uncomfortable to use because I couldn't figure out how many minions are finished or not finished.
I think that it could more convenient if the salt commands with batch option show each minion's result right after finished their job just like `salt '*' test.p

[2016-03-04 08:55] babilen commented on #27355
This bug really renders `salt-ssh` unusable in larger heterogeneous environments. Is there a way to fix this in salt so that we do not have to rely on the local state of the minion when using `salt-ssh` ?

[2016-03-04 09:09] Da-Juan commented on #31482
Ok, so I'll apply the fix manually and wait for the next release :).

[2016-03-04 09:09] #31482 closed

[2016-03-04 10:00] Talkless commented on #27189
@dmurphy18 So everything you mentioned has to be implemented in that mentioned salt-pack project?

In order to build Wheezy package, one should run minion on Wheezy, and that minion should be able to build appropriate packages there?

[2016-03-04 10:20] alxbse commented on #31509
Sorry for the late reply, currently on develop:

    Salt Version:
               Salt: 2016.3.0-176-g7e4553e

    Dependency Versions:
             Jinja2: 2.7.3
           M2Crypto: Not Installed
               Mako: Not Installed
             PyYAML: 3.11
              PyZMQ: 14.7.0
             Python: 2.7.10 (default, May 23 2015, 09:44:00) [MSC v.1500 64 bit (AMD64)]
               RAET: Not

[2016-03-04 10:21] vutny opened #31675 "Salt Cloud is unable to cache EC2 instance info with `/` (slash) in `Name` tag"
### Description of Issue/Question

I have an AWS EC2 instance with `/` slash character in the `Name` tag, for example:
`Salt Master Host / Salt Cloud`.
And I would like to use `salt-cloud` [caching feature](https://docs.saltstack.com/en/latest/topics/cloud/misc.html#salt-cloud-cache) to retrieve information about my instances.
In this case `salt-cloud` is caching attributes of all other instances

[2016-03-04 10:23] darix commented on #31648
i figured that would be the reason, but i didnt know how the project plans to proceed with this issue or if feature parity can actually be reached for the plain service.py.

[2016-03-04 10:27] Phomias opened #31676 "grains.get high cpu usage"
### Description of Issue/Question

Sometimes I find grains.get stuck at high CPU usage seemingly forever.

Below find stack traces.
### Setup

Set up a salt master a few minions. On the master set up a cron job like this:

[code]
### Steps to Reproduce Issue

Wait, a few days and you may find this, as I have:

[code]

(note to myself, I used `nc -l 9001` & `pyrasite [pid] reverse_python_shell.py`

[2016-03-04 10:30] tampakrap commented on #31617
confirmed thanks!

[2016-03-04 13:09] fredrikaverpil commented on #31663
So perhaps this is a known fact and simply the nature of e.g. changing IP address?

In that case we can close this issue. I'm glad I found a workaround with `- noifupdown: True`, as this allows me to decide when the changes should be applied.

[2016-03-04 14:06] maxhq opened #31678 "Provide useful error message if OS is unknown"
### Description of Issue/Question

If a Salt minion does not recognize the OS, very strange messages are given to the user like:

[code]

The real problem is the unknown OS:

[code]

An unknown OS should definitely lead to all further actions being stopped with a proper error message.

The deeper problem seems to be the strange way the Python _platform.py_ module tries to identify the OS by [just

[2016-03-04 14:39] techhat commented on #31675
That's because the cloud cache is one of the Salt subsystems that uses minion/node names for file names, and `/` is an illegal file name character. Other subsystems include public/private keys and the job cache.

Putting `/`s in a minion/node name is a bad idea. You're going to need to come up with another way to name that node.

[2016-03-04 14:49] frogunder commented on #31585
@cro - Retested and everything is working fine.

Thanks.

[2016-03-04 14:50] frogunder commented on #31586
@cro - Retested and everything is working fine.

Thanks.

[2016-03-04 14:54] vutny commented on #31675
Thanks @techhat.
As far as I understand, this problem is only because `/` character has a special purpose on the filesystem. Is it possible to replace it with some other symbol in the filename and store original instance name or minion id somewhere internally?

[2016-03-04 15:16] Tanoti commented on #23125
+1 to this, I would love to use elasticsearch as a external master job cache but can't.

[2016-03-04 16:09] cro commented on #30779
@alexbleotu reports that this may be a regression between 2015.8 and 2016.3.

[2016-03-04 16:30] dmurphy18 commented on #27189
@Talkless short answer, yes.  Everything we build for Linux distribution is being done by salt-pack. To build on Wheezy, will require adjustment to setup for debian7 where the apt-preferences, tools, repositories etc. would need to be altered for Wheezy, see Debian8, Ubuntu 12 and 14 for examples.  Salt-pack uses pbuilder to build items, hence you would have to adjust to ensure pbuilder worked on

[2016-03-04 16:56] cachedout commented on #31470
If you do a `salt-run jobs.list_jobs` does anything appear out of the ordinary? i.e., jobs you weren't expecting to see, etc, etc.

[2016-03-04 16:57] #31480 closed

[2016-03-04 16:59] cachedout commented on #31399
You could also use function in the `manage` runner, such as `salt-run manage.present` or `salt-run manage.up`.

[2016-03-04 16:59] #31399 closed

[2016-03-04 17:07] cachedout commented on #31383
@isbm I'm _really_ hesitant to make any change to the ordering. The last time we did this it was a big disaster because people were depending on the ordering. To be honest, my inclination here is to write a series of tests to ensure the behavior is as we believe it is and then adjust the documentation if necessary.

[2016-03-04 17:22] #31369 closed

[2016-03-04 17:29] sjorge commented on #31369
Oh nice this got merged into 2016.3!

[2016-03-04 17:36] cachedout commented on #31266
I'm confused about how this can be a Salt bug. We're attempting to run dmidecode and we can't due to an upstream limitation in dmidecode, so we're printing a warning saying that we'll have to fallback to other collection methods.

Can you elaborate on what you believe Salt should be doing here that it isn't?

[2016-03-04 17:40] fredrikaverpil commented on #31266
@cachedout ah, in that case, if it's not a Salt bug, we should close this issue. I reported it believing it could've been a Salt bug.

[2016-03-04 17:41] cachedout commented on #31266
@fredrikaverpil Sounds good. I think this is really an upstream bug and so I'll go ahead and close this. I appreciate you reporting it though. :]

[2016-03-04 17:41] #31266 closed

[2016-03-04 17:49] commutecat opened #31680 "top.sls contains invalid yaml syntax, salt '*' state.highstate show "No Top file or external nodes data matches found""
### Description of Issue/Question

If top.sls contains invalid yaml syntax/meta structure,  instead of saying the yaml file is invalid, salt show misleading  "No Top file or external nodes data matches found"
### Setup

Example 1 :  top.sls mixing quote with double quote.

[code]

Example 2 : top.sls contains tab indentation and spaces indentation.  (\t) indicate tabs, since tab cannot be edit pro

[2016-03-04 18:21] jfindlay commented on #31657
@ewysong, thanks for reporting.  I think the comment in the file is clear where salt will make edits to the file.   Automatically managing the contents of a file is notoriously difficult, so I think the solution here is probably to update the documentation in the cron execution and state modules to mention this limitation.

[2016-03-04 18:23] jfindlay commented on #31661
@dkiser, thanks for working on this.

[2016-03-04 18:29] jfindlay commented on #31663
@fredrikaverpil, thanks for reporting.  I'd rather investigate this some more before closing it out.  Obviously you can use salt to automate very significant, complex things, but I wonder whether this case can be handled more smoothly.

[2016-03-04 18:31] cachedout commented on #31141
Hi @nbari

The answer here may lay in the Jinja that you're using to presumably template your HAproxy configuration. Could you first add a check there to see if what I assume is a `mine.get` returns _any_ results and then fall back to a safe configuration if it doesn't?

[2016-03-04 18:32] jfindlay commented on #31664
@toanctruong, thanks for reporting.

[2016-03-04 18:33] steverweber opened #31681 "salt cloud vmware - argument of type 'bool' is not iterable"
salt cloud vmware branch 2016.

[code]

[code]

[2016-03-04 18:35] cachedout commented on #31082
This is already supported. Please set `grain_opts: True` in your minion configuration file.

[2016-03-04 18:35] #31082 closed

[2016-03-04 18:41] steverweber commented on #31681
[code]

extra details

[2016-03-04 18:45] jfindlay commented on #31675
@vutny, thanks for reporting.  As @techhat explains, although `/` may be a legal character for EC2 names, we cannot accommodate this in salt because of the conventional expectations used and necessary for reliably and uniformly handling of VM names across heterogeneous environments and cloud providers.  If this is not documented well, we should make it more clear which traditionally special charac

[2016-03-04 18:53] dkiser commented on #31661
@jfindlay No worries, maybe see if other folks find this useful.  For now I'm just sticking the change into `_modules` for myself. FYI this would need backporting to earlier versions like 2015.8.3 and 2015.8.5 as I found out earlier today but should be fine if its rolled into develop for some future release.  `iptables.py` had other shared lib mods to `shlex` that are not backwards compatible from

[2016-03-04 18:53] terminalmage commented on #31070
The problem here is that libssh2 was not installed when you compiled libgit2. CMake will automagically detect it and build libgit2 with SSH support.

The libssh2 requirement is detailed in the Git Fileserver Backend Walkthrough [here](https://docs.saltstack.com/en/latest/topics/tutorials/gitfs.html#id1).

Depending on your distribution, you may need to install a ``libssh2-devel`` or ``libssh2-dev`

[2016-03-04 18:54] nbari commented on #31141
Hi @cachedout

Currently as a "fix", basically I start the HAProxy with the known IP's and also add the IP's using ``mine.get`` so if something goes wrong, at least I still have the fixed IP's, but problem is that when I Scale (in/out) some instances I would like to be available to add fast and also remove if possible.

I will follow your advice in terms of improving the jinja template, I will try

[2016-03-04 18:55] Talkless commented on #27189
Thank you @dmurphy18 for in-depth answer.

[2016-03-04 18:56] cachedout commented on #31141
@nbari Sounds good. I'm not sure where else we can go on this open issue for the time being, so I'll go ahead and close it. If there's something more specific or a follow-up question that you have, we're happy to address those. Thanks!

[2016-03-04 18:56] #31141 closed

[2016-03-04 19:04] cachedout commented on #31666
Do you have `pillar_opts` set?

[2016-03-04 19:09] sjorge commented on #31666
@cachedout:
Assuming ```salt-call --local``` only parses the minion file:

[code]

That would be a no.

If for some reason ```--local``` also parses the master file:

[code]
It's commented in the default master config.

[2016-03-04 19:11] cachedout commented on #31666
Odd. I don't see it here myself at all. Clearing salt cache make any difference?

[2016-03-04 19:13] jfindlay commented on #31666
@sjorge, thanks for reporting.  I am unsure why the version information you are getting is incorrect.  Version information seems to be sketchy, which is why we recommend installing from the sdist of a release at least.  If you're running from git you can compare the value to `git checkout 2016.3 ; git describe`.  You may have a stray `salt/_version.py`.

I get the same result with `salt-call --loc

[2016-03-04 19:13] sjorge commented on #31666
Didn't make a difference. 3rd attempt was in a clean environment that never had a salt-minion/salt-master in it.

@jfinlay, let me look for salt/_version.py

[2016-03-04 19:17] jfindlay commented on #31667
@timcharper, thanks for reporting and for your investigations into this issue.  If you have a better way to read and interpret the data, you're welcome to submit a pull request.

[2016-03-04 19:20] jfindlay commented on #31669
@bpatelcs, thanks for reporting.  Is it possible for you to confirm this on the latest stable release, 2015.8.7?  (Always remember to salt to taste.)

[2016-03-04 19:22] sjorge commented on #31666
For the version info:
[code]
My alias for building a SmartOS package:
alias sbuild='(cd /salt_dev/salt; rm salt/_version.pyc ; rm -rf build/ ; bash pkg/smartos/esky/build-tarball.sh)'

Still ends up with version as salt-2015.8.0-661-ga3abab1 :/ (build-tarball.sh does call python2.7 setup.py sdist)

[2016-03-04 19:24] timcharper commented on #31667
I would be happy to submit a pull request, just wanted to get the sense of opinions about such an approach before doing so.

[2016-03-04 19:24] jfindlay commented on #31671
@guettli, thanks for thinking through this.  I agree that the term is somewhat confusing in some contexts indicating that it may not be sufficiently general, but terms tend to acquire meaning with use and adoption.  It may not be possible to change this term, but we should certainly make its meaning more accessible to new and confused users.

[2016-03-04 19:29] jfindlay commented on #31672
@Talkless, thanks for reporting.  This looks like it may be an upstream issue if the latest cert bundle is from 20130119.

[2016-03-04 19:30] sjorge commented on #31666
@cachedout Just use a update 2016.3 from a few minutes ago:

[code]
[code]

[2016-03-04 19:36] cachedout commented on #31666
Sounds like `pillar_opts` has gone missing to me, though I'm not sure how. If you add it to salt.config in the minion section and default it to False, does the correct behavior return?

[2016-03-04 19:37] sjorge commented on #31666
@cachedout was having the exact seem line of though, was updated my comment and got your reply once I hit save!

From memory it started happening on the same day (or close to) when I noticed #31563

[2016-03-04 19:41] jfindlay commented on #31674
@kstreee, thanks for reporting.  Have you tried specifying the outputter on the command line?  Based on my reading of [the code](https://github.com/saltstack/salt/blob/v2015.8.7/salt/cli/batch.py#L201-L208), you should be able to override the default outputter on the command line, and also probably change the default in the config file.

To get a list of builtin outputters, run `salt --help | grep

[2016-03-04 19:43] cachedout commented on #31666
Yeah, that's what I was thinking too!

@terminalmage Is it possible that config validation you did has caused some values to go missing? Or maybe this is a merge conflict?

[2016-03-04 19:47] cachedout commented on #31671
Hi @guettli

Thanks for the feedback. I've added a glossary entry here: https://github.com/saltstack/salt/pull/31682

I am reluctant to change the name because I feel like it's only likely to confuse users who have already become used to the current name.

[2016-03-04 19:49] rallytime commented on #30976
I confirmed with @techhat offline, and the `us-east-1` region _should_ be the default here. This is a bug.

[2016-03-04 20:02] jfindlay commented on #31678
@maxhq, thanks for reporting.  There is an [ongoing effort](https://github.com/saltstack/salt/wiki/December-2015-Sprint-Beginner-Bug-List) to add reason messages to the salt loader info on why a module was not loaded, although this has not been extended to state modules yet.  The proper way to propagate the original message to a dependent module seems to be the way the dockerng state [does it](htt

[2016-03-04 20:17] jfindlay commented on #31680
@commutecat, thanks for reporting.  We should provide better error messages in the case of an ill-formed top file.

[2016-03-04 20:20] jfindlay commented on #30541
@anandxoriant, you could also try https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.ps1.

[2016-03-04 20:23] jfindlay commented on #31681
@steverweber, thanks for reporting.

[2016-03-04 20:29] jfindlay commented on #31482
Thanks, @Da-Juan.  Sorry the fix didn't make it into the release.  We should be make another release within the next month.

[2016-03-04 20:39] jfindlay commented on #31648
@darix, perhaps what we should do is standardize the required API for a set of literal modules that provide the same logical module as part of the requirements for a [provider](https://docs.saltstack.com/en/latest/ref/states/providers.html).  I am unsure how to do this unless the salt loader could be modified to check for the required common functions and their arguments, perhaps as an unit test.

[2016-03-04 20:39] #31617 closed

[2016-03-04 20:46] cachedout commented on #31676
Do you have batch mode configured in your config? You shouldn't be hitting `salt.cli.batch` unless you do.

[2016-03-04 21:00] Phomias commented on #31676
I am not using `-b`. Is there another way to turn batch mode on?

[2016-03-04 21:07] cachedout commented on #31676
Ah, my fault. I forgot batch mode gets enabled by virtue of using `--static`

[2016-03-04 21:51] timcharper commented on #30976
Great, thanks for confirming @rallytime . My test @jfindlay was already pushed and merged :) It's [here](https://github.com/saltstack/salt/blob/2015.8/tests/unit/modules/s3_test.py#L29), is asserting the broken behavior, and is passing.

[2016-03-04 22:05] rallytime commented on #30976
Awesome! Thank you so much for the update. When this gets fixed, we'll also have to update that test to assert the correct behavior. :)

[2016-03-04 22:18] rallytime commented on #16235
I am going to close this since this has been fixed and we haven't heard back. If you're still running into troubles, let us know and we'll be glad to help out.

[2016-03-04 22:18] #16235 closed

[2016-03-04 22:19] rallytime commented on #26934
@jagguli or @Arabus are either of you in a position to give that fix a try and confirm this is fixed? If not, the fix will be available in the upcoming 2015.8.8 release.

[2016-03-04 22:25] rallytime commented on #28004
Hi all! Is anyone on this issue in a position to give #31354 a try? That should resolve this issue. The fix will be available in the 2015.8.8 version of Salt.

[2016-03-04 22:26] #31671 closed

[2016-03-04 22:27] ewysong commented on #31657
@jfindlay - if that is the limitation, then an update to the documentation should suffice. I didn't see anything in the docs to indicate that salt could only manage cron jobs below it's inserted header in cron files, so I was expecting it to be able to modify the existing crontab. Maybe this should be changed to a feature request. It would be nice to be able to manage existing cron jobs from salt.

[2016-03-04 22:28] cachedout commented on #31667
@timcharper Yes, your approach seems sound. That's exactly how I'd do it. +1

[2016-03-04 22:31] rallytime commented on #29078
Since the initial bug report has been fixed, as well as updating the documentation as specified in the comments above, I'm closing this issue. If you're still having trouble here after making the necessary changes to setting the `region` inside of a profile and removing the `region` parameter from states, please feel free to open an new issue.

[2016-03-04 22:31] #29078 closed

[2016-03-04 22:31] #31616 closed

[2016-03-04 22:33] cachedout commented on #31597
Ah, OK. We probably just need to add some flags to allow them to specify a custom directory for additional tests can be found and perhaps a way for them to add another directory to sync modules from and we'll be done.

[2016-03-04 22:38] steverweber commented on #16235
yes sorry about not replying... closed is good. keep issue count down :)

[2016-03-04 22:41] #30080 closed

[2016-03-04 22:46] rallytime commented on #30539
Fixed by #30677.

[2016-03-04 22:46] #30539 closed

[2016-03-04 22:53] Arabus commented on #26934
I'd like to but unfortunately the saltstack:2015.8 branch does not yield a running salt-master for me. I have been trying to follow the guide for https://docs.saltstack.com/en/latest/topics/development/hacking.html but to no avail. I can give it another go on Sunday though.

[2016-03-04 22:58] rallytime commented on #30559
I have back-ported the commit mentioned above that fixes the issue with `module.py`. I am not sure if we will be releasing from 2015.5 again or not, but if we do, at least now this fix will be there.

Since the discussion about moving from the launchpad PPA has already been addressed in terms of upgrading to new salt versions, I'm going to close this as resolved. Thanks!

[2016-03-04 22:58] #30559 closed

[2016-03-04 22:59] rallytime commented on #30563
@sjorge I have done a couple of merge-forwards in the last couple of weeks. The fix should be present on 2016.3 now. Can you confirm?

[2016-03-04 23:00] rallytime commented on #30681
@atengler Since your fix has been merged, I'll go ahead and close this. Thanks again!

[2016-03-04 23:00] #30681 closed

[2016-03-04 23:04] sjorge commented on #30563
@rallytime It's not available in 2016.3 yet. I just checked.

As mentioned by @garethgreenaway a few comments above the fix got committed to develop just after 2016.3 was branched. So merge-forwards would not have brought it into 2016.3.

[2016-03-04 23:07] rallytime commented on #31009
@jakehilton Since your fix for this issue has been merged, can we close this issue? Or would you like to keep it open until the next release is available?

[2016-03-04 23:09] rallytime commented on #30563
@sjorge Oh, my apologies! I thought @garethgreenaway's fix went into 2015.8. I misread.

[2016-03-04 23:14] rallytime commented on #30563
How about that @sjorge? ^^ :)

[2016-03-04 23:14] jakehilton commented on #31009
We can close this I think.. and if regresses we can re-open.

[2016-03-04 23:14] #31009 closed

[2016-03-04 23:14] rallytime commented on #31009
Sounds good. Thanks!

[2016-03-04 23:15] jakehilton commented on #31009
Out of curiosity.. when is 2015.8.8 scheduled to land?

[2016-03-04 23:17] rallytime commented on #31009
Should be in the next couple of weeks or so.

[2016-03-04 23:28] PredatorVI opened #31692 "TypeError: can't serialize set(['']) running highstate from master to clean minion."
### Description of Issue/Question

Running master/minion version 2015.8.7 my state.orchestrate or state.highstate run fails every time after I revert my minions to a clean state when initiating from master.

The full log from minion1 (1 of 3) can be found at:

https://gist.github.com/PredatorVI/64fa2bb90caafd845cd6

The shortened exception block is:

[code]

This error happens on the first highsta

[2016-03-05 00:01] rallytime commented on #31209
Hi @boltronics. I see your implementation of this feature has been merged into develop. Can this issue be closed or does more work need to be done first?

[2016-03-05 01:05] isbm commented on #31383
@cachedout I am also not sure how to tackle this, but certainly things aren't clear. I am trying to build a test case for this. However, for starter, I would recommend not to use `socket.getfqdn()`, but `platform.node()` instead. First will go off for 40 seconds, once DNS is blocked, for example...

[2016-03-05 04:48] boltronics commented on #31209
Hi @rallytime. I'm happy with the patch, however IIRC from reading other Salt issue pages, being on the develop branch doesn't automatically mean the code will hit a release milestone, as commits are cherry-picked. Can you please clarify this?

If it will end up in a future release, I'm happy for this to be closed. Thanks.

[2016-03-05 06:46] abh23 commented on #30080
I see this as closed. Has this been implemented?

[2016-03-05 07:54] thomas-schulze-entwicklerschmiede opened #31696 "KeyError: 'master_uri' using salt_proxy & state.highstate more than once"
### Description of Issue/Question

First of all thanks for Your help and for bringing **salt** to life, a really great system!

I set up a simple **salt-proxy** to expose the newer boto3-API for managing AWS.
I made a connection module, a custom execution module (both currently very simple),
and a first custom state (also simple for tests).
Everything works fine including calling **state.highstate

[2016-03-05 09:42] sjorge commented on #30563
@rallytime Yes! That would pull in the fix :)

[2016-03-05 11:57] anitakrueger commented on #26784
+1 for this. I was also looking at creating the new managed NAT gateway through Salt and found it was only possible by using boto3.

[2016-03-05 13:45] onorua commented on #29670
Have the same problem:
[code]

Files are not in: `/var/cache/salt/master/files/`

My reactor:
[code]
tried different formats, it supposed to be working according to: https://github.com/saltstack/salt/issues/18572

[2016-03-05 13:59] anlutro commented on #29670
I can't reproduce this issue anymore, my problem was just forgetting to rename a reactor file. Are you both sure the reactor file is named appropriately, and that you're referencing it by the correct name in the master config?

[2016-03-05 14:13] sjorge opened #31697 "[question] M2Crypto or pyCrypto for 2016.3 branch"
I noticed the smartos esky builds still pull in M2Crypto which is a pain to deal with.
I also know that pyCrypto support got merged.

Is there still need for M2Crypto or will pyCrypto be sufficient? If so I will update the esky build script for SmartOS for 2016.3 and develop.

[2016-03-05 16:00] rallytime commented on #31209
@boltronics Since this was a feature addition, you correctly submitted the change against the develop branch. We cut new feature release branches from develop. Since this change went into the develop branch after we cut the 2016.3 branch, your feature addition will be in the next feature release (code named Carbon).

That way the new feature can be vetted, tested, and adjusted on the develop branc

[2016-03-05 16:02] rallytime commented on #30080
@abh23 I closed this because it looks like your question was answered and we hadn't heard back from you. Did you give the suggestion from @cachedout a try?

[2016-03-05 16:08] daswathn opened #31698 "Unable to load custom module second time around."
Hello All,

I have written custom module on my salt-master server, it vanishes when I run **salttuil.sync_all** again.

file_roots under the /etc/salt/master file is as below,
[code]
I have a simple custom module written to get the user info from my minions, below is the code snippet.
[code]

The issues seems very strange though, I am able to see the module when I sync the first time around but va

[2016-03-05 16:47] onorua commented on #29670
So, after you pointed on this, I've changed the reactor path from `salt://` to direct full path and the problem is gone. Thanks!

[2016-03-05 17:02] daswathn commented on #31698
Sorry I just saw that the customuser.py code has an error in it, I will try and fix that error, and **sync_all only updates out-of-date modules**. Just read that in the documentation,
Will close this issue.

[2016-03-05 17:02] #31698 closed

[2016-03-05 18:10] anlutro commented on #29670
Not exactly what I meant... salt:// sources for reactors work just fine, but you still need to verify that the path is correct.

For example, if your reactor state file is in `/srv/salt/reactors/my_reactor.sls`, the reactor configuration might look like this:

[code]

[2016-03-05 20:09] guettli commented on #31671
You have two choices:

1. change the name, confuse the current users. Aggregate these users to the number C
1. don't change the name and confuse new comers in the future. Aggregate these users to the number F

Take a guess, what do you think?

`C>F` or `C<F`

I think sticking with the name will confuse more people in the long run.

It will get more difficult to change the name each day.

[2016-03-05 23:34] cro commented on #31697
M2Crypto is no longer needed. Feel free to adjust your SmartOS builds.

[2016-03-05 23:35] #31697 closed

[2016-03-06 01:52] AliGouta opened #31701 "while calling file.managed state, I get the error : Unable to manage file: Jinja variable 'java64_home' is undefined"
### Description of Issue/Question

I am newbie to salt, I am calling this state:

[code]

The file "blueprint.json" is already a template file (used for other purposes) and contains some fields surrounded with {{ }} pattern which are not intentded to be replaced with pillars. In this file, there is also some templates that are intended to be changed with pillars.

When applying my state, I want to

[2016-03-06 18:13] sakateka commented on #29088
salt-call does not switch, because the error occurs even in the initialization phase at [minion.py#L535](https://github.com/saltstack/salt/blob/2015.8/salt/minion.py#L535)

`compile_pillar()`  is trying to authenticate from inaccessible master , which is why there is an exception [crypt.py#L458](https://github.com/saltstack/salt/blob/2015.8/salt/crypt.py#L458)
[code]

I catch this excetpion
[code]

[2016-03-06 19:19] cro commented on #29088
Multimaster has seen a lot of attention in 2016.3. It might be worth it to give the 2016.3 Windows minion a try.

[2016-03-06 20:46] peripatetic-sojourner opened #31704 "Foreman external pillar doesn't load"
### Description of Issue/Question

There is a bug in using foreman-node as the external pillar which prevents successful state execution, as the pillar data returns empty. I haven't dug into whether this is an error on the part of Foreman or SaltStack. The issue for that is [here](http://projects.theforeman.org/issues/13558).

As a work-around I switched us to using the foreman pillar. The foreman

[2016-03-06 21:57] ccrivelli commented on #31070
No @terminalmage ,
libgit2 has been properly compiled with ssh support. The error returned by saltmaster is not true as, If I use a different github url format like ```ssh://git@github.com/myrepo.git``` , I get a different error: "Connection Timeout".

The real problem was that my saltmaster is behind a proxy and I use it to jump via ssh tunnel.
Please read all this thread: https://github.com/libg

[2016-03-06 23:05] dkilcy commented on #29620
Hello.  I'm having the same problem reported.  I am not using a virtualenv.  Here are the output of the commands you requested:

[code]

Master:
[code]
Minion:
[code]

[2016-03-06 23:26] abulkavs opened #31708 "LocalClient.cmd method lames retcode so there is no reliable way to detect an error when using Pepper"
On result for fake command ''test.fooo' (just to provoke error), issued by pepper, at the following line:
https://github.com/saltstack/salt/blob/develop/salt/client/__init__.py#L578

fn_ret = {'localhost': {'retcode': 254, 'ret': "'test.fooo' is not available.", 'out': 'nested'}}

so 'ret' value returned to the pepper client at the following line :

https://github.com/saltstack/salt/blob/develop/s

[2016-03-07 00:23] whiteinge commented on #31708
Definitely agree. The best way to get this added to Salt is to add two methods (one sync and one async) to `LocalClient` that are identical to `cmd` and `cmd_async` but don't truncate the return. Then add wrappers for both in `NetapiClient`. Perhaps named `local_full` and `local_async_full`.

If you're interested in putting in the work to get those added, I'd be more than happy to help where I can

[2016-03-07 02:33] boltronics commented on #31209
Brilliant! Thanks for the explanation.

[2016-03-07 02:33] #31209 closed

[2016-03-07 07:33] Talkless commented on #31672
Maybe bootstrap.saltstack.com could use older CA after certificate expires on Apr 27 23:59:59 2016 GMT, to be more old-os-friendy? Though maybe it's too small issue for such change..

[2016-03-07 07:42] jagguli opened #31709 "gpg renderer includes new line when decrypting data"
### Description of Issue/Question

When rendering gpg data in pillars a new line is included in the pillar data
### Setup

[code]
### Steps to Reproduce Issue

[code]

_Include debug logs if possible and relevant._
### Versions Report

Salt Version:
           Salt: 2016.3.0rc1

Dependency Versions:
         Jinja2: 2.7.3
       M2Crypto: 0.21.1
           Mako: 1.0.3
         PyYAML: 3.11

[2016-03-07 07:47] jagguli commented on #31709
/usr/lib/python2.7/site-packages/salt/renderers/gpg.py
[code]
fixes the issue

[2016-03-07 08:06] damon-atkins commented on #30066
I am seeing this as well.
salt-call state.highstate
[ERROR   ] An un-handled exception was caught by salt's global exception handler:
TypeError: string indices must be integers, not str
Traceback (most recent call last):
  File "/usr/bin/salt-call", line 11, in <module>
    salt_call()
  File "/usr/lib/python2.7/site-packages/salt/scripts.py", line 335, in salt_call
    client.run()
  File "/usr/l

[2016-03-07 08:20] jagguli commented on #31709
/salt/renderers/gpg.py:Line 273
[code]

fixes the issue, but im not sure if thats right. looks like Popen call is returning with a new line at the end

[2016-03-07 08:24] duk3luk3 commented on #31701
Please show your template file - you probably have a jinja syntax problem.

[2016-03-07 09:07] duk3luk3 opened #31710 "Custom execution modules cannot access pillar in salt-ssh"
### Description of Issue/Question

Accessing pillar using `__salt__['pillar.get']` from a custom execution module doesn't work in salt-ssh.

### Steps to Reproduce Issue

1) Create a custom executable module (I called mine `pass`) with this function:

[code]

2) Compare outputs of:

`salt-ssh --refresh-cache -i --user erlacher '*' pillar.get some_key-in_pillar`

`salt-ssh --refresh-cache -i --user

[2016-03-07 09:11] guettli commented on #31671
I thought about this again, and think "Result Log" would match better than "Result Store".

I think "log" fits better than "store", since entries get deleted after some times, just like logs do.

[2016-03-07 10:12] damon-atkins commented on #29032
salt 2015.8.7  still has the problem
[ERROR   ] Bad load from minion

[2016-03-07 10:25] AliGouta commented on #31701
Here is a snippet of the template (file that should be copied and fulfilled to the minion):

[code]
This file is called using this state declaration:

[code]
As you can see, this jinja template {{ hadoop.blueprint }} would be filled using pillars. However, the rest of templates such as {{ams_monitor_pid_dir}}, shoud be copied and pasted to the minions without any edition.

[2016-03-07 10:40] L4rS6 commented on #31541
@jfindlay I read my bug description again and I'm not sure if it's clear enough. I'm talking about the following cases:

1. ext_pillar provides data => no error, states will run
2. ext_pillar provides empty data => no error, states will run
3. ext_pillar fails => error, states should not run

The problem is in case 3: Currently it's not possible to throw exceptions which will intercept the executi

[2016-03-07 12:09] duk3luk3 commented on #31701
You need to escape the curly braces then. http://jinja.pocoo.org/docs/dev/templates/#escaping

[2016-03-07 12:22] onorua opened #31714 "RFC kubernetes support"
### Requests for comments and suggestions

As I can see here you start working on k8s support: https://docs.saltstack.com/en/develop/ref/modules/all/salt.modules.k8s.html so far only labels are supported.
We use k8s for quite a long time, and I've created modules (they are pretty ugly using `kubectl` because in a time we started, API was frequently changing). API is more or less stable now, and I

[2016-03-07 13:59] kstreee commented on #31674
@jfindlay It works very well! Thank you for your advice! Now we can evaluate how many minions are remained when we run salt commands with a batch option for multi thousand minions. :)

[2016-03-07 14:06] AliGouta commented on #31701
Thank you! it works.

[2016-03-07 14:06] #31701 closed

[2016-03-07 14:10] NotSqrt opened #31717 "Support "/run/container_type" from upstart"
Hi,

I'm running salt on ElasticHosts, with containers that look like lxc: https://en.wikipedia.org/wiki/ElasticHosts#Elastic_Containers

Salt can't detect the type of virtualization, and report the minions as "physical" : as stated in #31266, `dmidecode` is not usable, like in Docker.

There's an environment variable set in the init process (`/proc/1/environ` contains `container=contain`), which

[2016-03-07 14:55] vutny commented on #26913
Looks like this issue should be resolved in the future version of Salt. See PR #31490.
As for me, current version of `manage.bootstrap` runner function is not very useful, though.

I'm developing my own bootstrap runner module for this purpose:
https://github.com/vutny/salt-contrib/blob/bootstrap-runner/runners/bootstrap.py

It's still far away from being perfect... Feel free to check it out and l

[2016-03-07 16:41] aronneagu opened #31720 "pkg.latest fail"
### Description of Issue/Question
pkg.latest state fails, on several id's with different error messages (3 different error messages)

For package git, the id is
[code]
returns
[code]

For auditd package
[code]
returns
[code]

For package curl the state file is
[code]
returns
[code]

The servers are EC2 instances in Amazon cloud. They are provisioned using salt cloud, and startup_states: highstate

[2016-03-07 16:48] Reiner030 opened #31721 "mode isn't set right on files/folders (2015.8.7)"
state

[code]

output:

[code]

=> there is 0 prefixed even I setup it as text with 4 octal numbers.

[2016-03-07 17:34] sjorge commented on #31563
#31723 fixes the file_ignore_regex in 2015.8 and would need forward merging to 2016.3 and develop. master_tops is already fixed in 2015.8 and pending forward-merge.

Alternatively #31707 fixes both in 2016.3, but previous one mention would probably be better to merge. I will keep both up for now.

[2016-03-07 18:04] techhat commented on #31681
Hi @steverweber. I suspect that there's something else going on in there, but #31725 should get past the error and throw a debug message for you.

[2016-03-07 18:28] #31645 closed

[2016-03-07 19:35] terminalmage commented on #30528
Fix merged, closing.

[2016-03-07 19:35] #30528 closed

[2016-03-07 19:52] cachedout commented on #31714
Ping @titilambert

[2016-03-07 19:59] steverweber commented on #31681
i was moving between different branches so perhaps i had some mixture of pyc files causing issues... i'll close out.

[2016-03-07 19:59] #31681 closed

[2016-03-07 20:19] #31585 closed

[2016-03-07 20:19] #31586 closed

[2016-03-07 20:40] steven-hadfield commented on #29265
Will it be possible to specify the password_column globally in /etc/salt/minion?
e.g. `mysql.password_column: 'authentication_string'`
For minions were all states run against 5.7+, it'd be easier to manage rather than having conditional logic in all individual states.
I'm guessing that would mean that we would have to check `**connection_args` if `password_column` is defined.

[2016-03-07 21:49] bgridley opened #31728 "Custom grains syncing problem with proxy minion which causes high CPU utilization"
### Description of Issue/Question
Syncing custom grains on proxy-minions causes high CPU utilization and an infinite loop.

### Setup
This should be reproducible by using the rest_sample.py proxy minion having one custom grain existing in /srv/salt/_grains/ on the salt master.

### Steps to Reproduce Issue
Start proxy minion and sync grains from salt-master.

Execute: `salt 'proxy-minion' saltutil

[2016-03-07 21:52] #31634 closed

[2016-03-07 21:52] #31619 closed

[2016-03-07 21:52] #31614 closed

[2016-03-07 22:05] brejoc opened #31729 "Creating VM with salt-cloud fails for provider Exoscale (Cloudstack)"
### Description of Issue/Question
When trying to create a VM with `salt-cloud -p micro_exo test_vm -l debug` the creation fails with this:

[code]

Taking a look at `/usr/lib/python2.7/dist-packages/salt/cloud/clouds/cloudstack.py` shows me, that `projects = conn.ex_list_projects()` is causing the error. I was able to solve the problem with this:

[code]
But I'm sure there are side-effects.

### S

[2016-03-07 22:09] DylanFrese commented on #22142
@multani I just ran into this. I haven't used Python before, but I'm willing to put some hours towards a patch if you haven't put one together yet.

[2016-03-07 22:09] jagguli commented on #31709
[code]

[2016-03-07 22:28] terminalmage commented on #31293
I'm continuing work on this today, hope to have a pull request opened in a couple days.

[2016-03-07 22:33] jfindlay commented on #31692
@PredatorVI, thanks for reporting.  Is it possible to also supply a full `salt --versions-report` for both the master and a minion (if they will be different)?

[2016-03-07 22:41] jfindlay commented on #31696
@thomas-schulze-entwicklerschmiede, thanks for reporting.  Currently it seems that `__proxy__` is only available in execution modules and grain modules.  @cro would be better able to answer whether it could be added to state modules.

[2016-03-07 22:46] jfindlay commented on #31704
@peripatetic-sojourner, thanks for reporting.  What version of salt are you using?

[2016-03-07 22:52] jfindlay commented on #31709
@jagguli, thanks for reporting.

[2016-03-07 23:01] jfindlay commented on #31710
@duk3luk3, thanks for reporting.  This seems to be a duplicate of #30856.

[2016-03-07 23:01] #31710 closed

[2016-03-07 23:01] jfindlay commented on #30856
May be related to #28503.

[2016-03-07 23:04] jfindlay commented on #31674
@kstreee.  Nice.  You can also setup a custom [returner](https://docs.saltstack.com/en/latest/ref/returners/index.html) as the master job cache and use that external system to watch the completion of state runs.

[2016-03-07 23:08] jfindlay commented on #31717
@NotSqrt, thanks for reporting.

[2016-03-07 23:21] sjorge opened #31731 "rh_service references osrelease before it is available, also does not return bool"
### Description of Issue/Question
[code]
### Setup
*Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).*
n/a

### Steps to Reproduce Issue
*Include debug logs if possible and relevant.*
- start a minion on CentOS 7.

### Versions Report
*Provided by running* ``salt --versions-report``
[code]

[2016-03-07 23:24] hexedpackets opened #31732 "Regression in s3.get module with IAM instance roles"
Up to 2015.8.3, s3.get was able to use a role from EC2 metadata. As of 2015.8.5 it no longer handles that properly and causes a 403 to be returned from the AWS call. I tested this with both 2015.8.5 and 2015.8.7 with the same failure.

### logs on 2015.8.5:
[code]
### logs on 2015.8.3:
[code]

### Versions Reports
[code]
[code]

[2016-03-07 23:29] jfindlay commented on #31721
@Reiner030, thanks for reporting.  Here is my test case:
[code]
[code]
[code]
[code]

[2016-03-07 23:35] jfindlay commented on #31729
@brejoc, thanks for reporting.  We should figure out why the object is not getting created and take an appropriate action.  Can you verify that you have configured the cloud provider correctly otherwise if possible?

[2016-03-07 23:47] dmurphy18 commented on #27189
@Talkless @alexanderlauster FYI - just started developing Wheezy for 2015.8.7.  I cannot give you a timeframe for these packages being available, but it is my focus for the next few days.

[2016-03-08 00:03] amontalban opened #31734 "Traceback when using --out / --out-file option"
### When using --out / --out-file it generates a traceback

### Setup
On running highstate on FreeBSD with the below command it generates traceback

### Steps to Reproduce Issue
`salt-call --local -l quiet --log-file=/tmp/highstate.log --log-file-level=debug --out=highstate --out-file=/tmp/highstate.log state.highstate`

### Versions Report

The highstate completes ok, but the error is produced ev

[2016-03-08 00:06] rallytime commented on #31639
I have fixed this with #31735.

[2016-03-08 00:30] tbaker57 commented on #31732
I can confirm this. 2015.8.3 is the lastest version where s3.get works with instance profile creds.

cheers,
Tim

[2016-03-08 00:35] ReillyProcentive opened #31736 "pkgrepo.managed does not support the repo_gpgcheck option"
### Description of Issue/Question

Hello, I am trying to add the Gitlab-EE repo as specified [here](https://packages.gitlab.com/gitlab/gitlab-ee/install#rpm), however when I attempt to create the repo using pkgrepo.managed Salt fails to add the repo_gpgcheck option to the .repo file.

Can you add support for this option?
### Setup

_Please provide relevant configs and/or SLS files (Be sure to remo

[2016-03-08 00:51] kstreee commented on #31674
@jfindlay We know about the returners, but we are not ready to use external returner yet. Thank you for your advice! :)

[2016-03-08 00:51] #31674 closed

[2016-03-08 03:03] igorwidlinski opened #31737 "No output for some minions when state run in batch mode"
### Description of Issue/Question
For some reason salt will not output summary for some minions when run in batch mode. Running same state in batch mode but with '--static' flag outputs proper summary. Output is always displayed correctly when not using batch mode.

Here is output for batch mode run against one minion. Note no summary information.
[code]

And proper summary when static ('-s') adde

[2016-03-08 03:08] igorwidlinski opened #31738 "salt --show-jid does not show job id when run in batch mode"
### Description of Issue/Question
show-jid does not seem to show the job id for the job being executed when used with batch mode

### Setup
No job id when run in batch mode:
[code]

### Versions Report
[code]

[2016-03-08 03:15] terminalmage commented on #31666
@jfindlay When installing from git, version information is not hard to solve. We use a ``git describe`` to obtain the information, as seen here: https://github.com/saltstack/salt/blob/70b8574/salt/version.py#L468

[2016-03-08 03:18] terminalmage commented on #31666
@cachedout The config validation code I touched recently does not munge data, it merely logs when the data type doesn't match.

[2016-03-08 03:19] igorwidlinski opened #31739 "No error when running salt in batch against minions that are not responsive."
### Description of Issue/Question
When salt is run in batch mode, there is no way to know which minions were offline/unresponsive during the run, some kind of error message would be nice so the state could be rerun when they come online.

Here is an example... we have 1 live minion, and bunch more which are offline. When I run salt in batch mode against them i get one return, but I have no idea wh

[2016-03-08 03:23] terminalmage commented on #31666
@sjorge The most likely reason for a misreported version when installing from git is that you don't have all the tags from the upstream repo. Doing a ``git fetch --tags remote_name``, where ``remote_name`` is the git remote that points at the upstream repo.

[2016-03-08 03:42] onorua commented on #31714
I have been thinking a bit, and decided that we can keep state of the replication controller in annotations for the RC. Same for new name, it can be stored in `update-partner` annotation, similar to the one kubectl has. The question "how to make it non-blocking" for other tasks - remains open, and it is not even k8s specific it is salt specific I guess.

[2016-03-08 03:57] terminalmage commented on #31666
Fixed in #31740.

[2016-03-08 04:29] titilambert commented on #31714
Hello !
I think the best (and hardest) way to do this is to load `kubectl` as a python module. See here: https://blog.filippo.io/building-python-modules-with-go-1-5/#buildingagopythonmodule
I already tried, but this is not really easy ...
With this way, we are sure to stick with the last version of Kubernetes et we reduce the maintenance of this module ;)
I'm agree to keep all necessary data as an

[2016-03-08 05:42] onorua commented on #31714
Actually we don't need to built in kubectl to make sure we use latest version, we can use their swagger interface to build python up client out of this:
http://www.devoperandi.com/python-client-for-kubernetes/
blocking behavior is easy, I can do this within a week, but I do not see the point of doing it, as there is no point in it IMO. Let me elaborate:
Lets imagine, you have 3 RCs, with 5 replica

[2016-03-08 05:58] thomas-schulze-entwicklerschmiede commented on #31696
@jfindlay, thanks for the remark. I can workaround this. But the dubious key error
makes work really unpleasant, since I have to restart the salt-master, salt-proxy to
get it working again.

[2016-03-08 06:15] kstreee opened #31742 "Salt Minion multiple instances with same id."
### Description of Issue/Question
Issue

### Setup
Run commands using salt for nodes which run multiple salt instances as same id.

### Steps to Reproduce Issue
In some reasons, such as user execution, multiple Salt Minion instances are run as a same id on a single server.
In that case, If I try to send a command using `salt` on Salt Master server, then the all running Salt Minion instances, which

[2016-03-08 06:29] keesbos commented on #27495
I ran into the same issue (with a valid signed certificate). My browser didn't complain. It turned out I had only the deepest level certificate in the .crt/.pem (nginx). After adding the higher level (signing) certificates to the .crt/.pem in the nginx config the SSL error disappeared.

Note that setting `gitfs_ssl_verify: False` didn't work with the incomplete cert chain. I'm not sure if that (ss

[2016-03-08 07:07] sjorge commented on #31666
@terminalmage yeah I managed to fix the version problem in a later thread, my build process only cleaned _version.pyc (not the actually .py file) so it was never regenerated.

Thanks for tracking this down!

[2016-03-08 07:21] Talkless commented on #27189
Awesome @dmurphy18 , thank you and good luck!

[2016-03-08 08:17] brejoc commented on #31729
@jfindlay The configuration seems to be correct… as far as I can tell. I can query locations, images and sizes. Applying the hack allows me to create the VM. Provisioning seems to work too, since the VM is showing up as Salt minion. I can also query the running VMs. Let me know if you need more information.

[code]

[code]

[2016-03-08 08:46] brutasse commented on #31729
Hi, Bruno from Exoscale :)

This seems to be an issue with apache-libcloud: `ex_list_projects` was introduced in libcloud 0.15. @brejoc, could you try checking your libcloud version and upgrading it?

Exoscale doesn't use projects but [looking at the code](https://github.com/saltstack/salt/blob/15f5ae7454411c9a31799d256093b8ebe0f0b52b/salt/cloud/clouds/cloudstack.py#L215-L230) `get_project` should

[2016-03-08 09:44] brejoc commented on #31729
@brutasse Thanks for your input, Bruno. I can confirm, that it's working flawlessly with libcloud 0.15.1. I've also tested 0.20.1, but then it fails with an other error.
Ubuntu Precise (12.04) ships with `0.14.1-3precise1`.

[2016-03-08 10:53] pprince commented on #30175
Is this still broken on develop?

(I notice there have been a lot of dupe issues about it and work touching it lately.)

[2016-03-08 11:00] brejoc commented on #31729
Just on a side note, so that others can follow along until there is a proper fix. I wasn't able to use libcloud installed via pip in a virtualenv, so I used [fpm](https://github.com/jordansissel/fpm) to generate a package and installed that. You can easily generate a package with this command: `fpm -s python -t deb --no-auto-depends -v 0.15.1 -n python-libcloud apache-libcloud`
I'm skipping depend

[2016-03-08 11:06] aronneagu commented on #31720
Because this happens only when running highstate the first time, right after the machine boots up, and not on subsequent executions of highstate, so I believe the system might run an apt-get at boot time, and thus prevent saltstack from installing the packages.
   Then my question is whether is possible to put a delay on pkg.latest, or a delay on highstate, or to watch that the lock file put in pl

[2016-03-08 12:24] brutasse commented on #31729
I don't know what the Salt policy is… It could be a valid course of action to simply require `libcloud>=0.15`. Alternative is to catch `AttributeError` when calling `ex_list_projects()` and return `False`.

[2016-03-08 14:00] brejoc commented on #31729
I've just create a PR, so that the Salt devs can simply choose. I hope that's okay with you, @brutasse.

[2016-03-08 14:08] duk3luk3 commented on #31530
This error also happens when the salt-ssh output is too large. For example replacing a 254K file using `file.managed` triggered it.

[code]

[2016-03-08 14:11] brutasse commented on #31729
@brejoc :+1: thanks!

[2016-03-08 15:04] bogdanr commented on #21713
I am also using `port_bindings: 4000:4000` and it doesn't work from salt but it works find from CLI if I use `-p 4000:4000` when I do a docker run, as it's described in the documentation.

Nevertheless, when I use `port_bindings: 4000:2375` it work from salt too. It might be related to the fact that inside the Docker file it's specified `EXPOSE 2375` but keep in mind that from CLI it works fine wi

[2016-03-08 15:31] jaipepe commented on #31163
Did a little digging today on a box that saw this issue. I found the date/time that the defective _schedule.conf was modified, then I dug through the minion log and found that it appears this issue does occur when the minion tries to failover to a different master.

`2016-03-08 14:34:14,675 [salt.utils.schedule][INFO    ][7670] Running scheduled job: highstate
2016-03-08 14:34:15,175 [salt.minion

[2016-03-08 15:34] jfindlay commented on #31541
https://github.com/saltstack/salt/blob/v2015.8.7/salt/pillar/foreman.py#L138-L142

[2016-03-08 15:51] ssgward commented on #30175
I believe this is still broken.

[2016-03-08 15:54] rallytime commented on #30175
@grep4linux This is a duplicate of #29188 and #30962 and has been fixed by #31201.

@pprince This should be fixed on the develop branch, as the fix for this issue in #31201 was merged-forward to the 2016.3 and develop branches. Are you running into troubles still on develop? Or just wondering the status?

[2016-03-08 16:03] jfindlay commented on #31729
@brejoc, I have left a comment on the your pull request.  Either course of action should be fine, but we may need to consider raising the minimum requirement of libcloud at some point.

[2016-03-08 16:19] terminalmage commented on #31666
Ah! Yeah, that would do it! When I install from git I always run a ``find /path/to/git/clone -type f -name \*.pyc -delete`` to clear all of them out.

[2016-03-08 16:20] jfindlay commented on #31728
@bgridley, thanks for reporting.

[2016-03-08 16:22] jfindlay commented on #31731
@sjorge, thanks for reporting.

[2016-03-08 16:24] jfindlay commented on #31732
@hexedpackets, @tbaker57, thanks for reporting.

[2016-03-08 16:26] jfindlay commented on #31734
@amontalban, thanks for reporting.  Will you also post the traceback you are getting?

[2016-03-08 16:36] racooper commented on #29268
Finally got it resolved by the developers removing the older version of pycrypto and using the newer system version.

[2016-03-08 16:36] #29268 closed

[2016-03-08 16:52] jfindlay commented on #31736
@ReillyProcentive, thanks for reporting.  It seems that `repo.managed` does not yet support the `repo_gpgcheck` yum repo option.

[2016-03-08 17:04] jfindlay commented on #31737
@igorwidlinski, thanks for reporting.  I am unable to reproduce this.  Is there anything else I can try?
[code]
[code]
[code]

[2016-03-08 17:07] jfindlay commented on #31738
@igorwidlinski, thanks for reporting.
[code]
[code]

[2016-03-08 17:11] jfindlay commented on #31739
@igorwidlinski, thanks for reporting.
[code]

[2016-03-08 17:15] jfindlay commented on #31742
@kstreee, thanks for reporting.  Only one salt-minion process is intended to be run on a single system, unless care has been taken to distinguish them by changing their `id`s and the paths they use on the system.

[2016-03-08 17:18] jfindlay commented on #29268
Nice, that's always a relief. :-)

[2016-03-08 17:30] lagesag commented on #30845
We have a similar problem. We tried this snippet (note the back-ticks):

[code]

It's on Ubuntu 14.04 and **it hangs**. It doesn't hang for `topbeat status` or `logstash start`. It also **doesn't hang** for `topbeat start` if the service is already running (it gives `/usr/bin/topbeat-god already running.` ouput then).

So, this doesn't seem to be related to Salt (our version is 2015.8.7). This ind

[2016-03-08 17:39] techhat commented on #27960
Fixed with #31747.

[2016-03-08 17:42] techhat commented on #26498
This is something that Salt Cloud should be doing before it even calls `create()`. I'm taking a look at it now.

[2016-03-08 17:47] visbits opened #31748 "PSUtil 2.2 incompatible."
Salt is not compatible with the latest redhat / epel release of python-psutils 2.2

[code]

And if you upgrade to 2.2, you get this error:

[code]

[2016-03-08 17:54] igorwidlinski commented on #31737
This happens only on select few nodes, and always on those nodes. Out of 100 servers there might be 1 or 2 that this happens to. It does not matter whether I run single state or highstate.

It will always happen when retcode is passed first as part of data dict to the salt.output, and we use highstate outputter by default. Please note, the retcode is first then db1.cluster.aws.example.com, so the

[2016-03-08 18:08] michael-milan opened #31749 "salt-cloud spitting out error 'AttributeError: 'NoneType' object has no attribute 'pop''"
### Description of Issue/Question
[code]

[code]

[2016-03-08 18:24] techhat commented on #31749
FYI, this is fixed in the 2015.8 branch in #26170.

[2016-03-08 18:32] techhat commented on #15994
Fixed by #31490.

[2016-03-08 18:32] #15994 closed

[2016-03-08 18:42] abulkavs commented on #31708
Regarding implementation. I would rather pass extra flag like dont_truncate_retcode (name could be better))) through the kwargs. Based on this flag the retcode would be added to the 'ret'. In this case no need to change/extend any interfaces and even Pepper and Netapi implementations. Also nothing existing so far would be broken. Probably I just don't know the reason why adding two extra methods t

[2016-03-08 19:38] aabognah commented on #29239
Hi,

I am seeing the same problem where the wrong set of data (old data or no data at all) is returned by git_pillar. I am using pillar data to template sudoers file and this is resulting is corrupted sudoers files.

I traced the error in the log file with debug level, and I see the following error:

    2016-03-08 14:08:54,109 [salt.utils.gitfs ][ERROR   ][5582] Failed to checkout master from git

[2016-03-08 19:42] PredatorVI commented on #31692
Master:
[code]
Minion:
[code]

[2016-03-08 19:43] sbatchu0108 commented on #30146
@jfindlay we have been trying to figure out the issue as it is filling out our logs and its kinda annoying at this moment due to this false replay attacks. Did you see similar issue being reported by other salt users ?

[2016-03-08 20:16] isbm commented on #30146
@sbatchu0108 I've explained the cause above in details. Yes, your version contains this bug.

[2016-03-08 20:22] techhat commented on #31749
#31750.

[2016-03-08 20:24] multani commented on #30146
@isbm I'm not sure to understand the part with "If there is more than one process (e.g. two processes of a minion with "keepalive" is on)": in your reproducible example, why would there be more than one processes of a minion running, as your are restarting it? (And then I suppose, the old one should exit and the new one should be spawned, and then you should only have one minion running, no?)

[2016-03-08 20:27] isbm commented on #30146
@multani how many processes you do have when minion is running, with systemd especially?

[2016-03-08 20:45] yannis666 commented on #29817
@cachedout - it turns out the issue happens in both OEL5 and OEL6 so moving to 6 does not solve our problem. If you follow the instructions in the original zip, but with
   docker build -t resourceleak:6 resourceleak6
   docker run -it resourceleak:6 bash
it can be demonstrated to happen on OEL6 too.

Since the following solves the issue:
  sed -i 's/del self.event/self.event.destroy() # LCM patch

[2016-03-08 20:57] multani commented on #30146
@isbm "several", I guess: (from a running instance)
[code]
(However, as far as I remember, it has always been like this, hence I'm not really surprised.)

Also, I can't reproduce the problem using your procedure above. Although I have the same problem, I'm still not sure how to trigger it specifically, but it seems it happens when there are "too many minions refreshing pillars at the same time", i

[2016-03-08 21:36] igorwidlinski commented on #31737
The highstate output function is the problem here. If data =  {'retcode': 0, 'db1': {..}} the output function will process retcode 0 and return without processing the actual output.

[code]

I do not know why retcode is first in the dict, but i don't think the order is guaranteed when pulling things out of dict.

[2016-03-08 21:38] igorwidlinski commented on #31737
I do not understand why the retcode is in the data dict in the first place, and why is it needed.

[2016-03-08 21:44] isbm commented on #30146
@multani It is just that all of them are receiving to do the job and first wins. Others complain. I would even suspect that you are receiving more than one error messages at once? We have only two processes, so other is complaining (depends how lucky you are to clash). In your case it should be up to four messages into the log per each call.

[2016-03-08 21:47] tbaker57 commented on #31732
It's blowing up in salt/utils/aws.py in the assumed_creds() function which was introduced in #28994. I don't know enough about how 'role assumption' is meant to work to help diagnose this any further. @timcharper do you have any ideas ?

cheers,
Tim

[2016-03-08 21:59] jfindlay commented on #6691
This has implemented in #29964.  Can anyone confirm that this works as expected?

[2016-03-08 22:04] The-Loeki commented on #6691
[code]

I'm a bit confused though regarding the loglevel warning; wasn't there before

[2016-03-08 22:39] jfindlay commented on #31737
@igorwidlinski, the highstate outputter should not depend on the order of the returned data.  A python dictionary is unordered by definition.  It is unclear to me why this should happen.

[2016-03-08 22:50] lomeroe commented on #30146
I am seeing the issue in my environment as well.

I see it with both Windows and Linux minions.  Every Linux minion I have running 2015.8.7 is doing it.  Windows minions are not as consistent (some 2015.8.7s do it, some don't.  Same with 2015.8.3).

The Linux systems experiencing the issue are using sytsemd and there are 2 salt-minion processes running.  However, the 2015.8.1 systems that I don't

[2016-03-08 22:50] The-Loeki commented on #10500
@boltronics:
https://docs.saltstack.com/en/latest/ref/peer.html

I agree with your comment regarding the specificity of the matchers, but since the docs are already there (though admittedly a bit light for my taste), it seems a different issue than this one.

[2016-03-08 22:57] The-Loeki commented on #20337
bump...

I would find it *incredibly* useful if it'd be easy to know *who* was calling, so output can be adjusted accordingly.

_-opts__['id'] when calling `publish.runner` is still the master id, and it might be a doc issue, but all one seems to have is a semi-orphan `__jid__`

[2016-03-08 23:06] hexedpackets opened #31756 "'keep' argument for archive.extracted has no effect"
According to the docs, setting `keep: false` for the archive.extracted state should prevent the downloaded files from being cached. However, it doesn't seem to change the behavior of the state at all. Each update causes the new archive to be cached along with the previous files.

## Example state
[code]

With the above state, I have numerous tarballs hanging around in /var/cache/salt/minion/extrn_

[2016-03-08 23:34] mshirley commented on #31639
Thanks!  Fix is working for me.
[code]

I'll let you guys/girls close this as you see fit.

[2016-03-08 23:49] rallytime commented on #31639
Awesome! Glad it is working for you. I'll go ahead and close this since you've confirmed. We'll get that change merged in!

[2016-03-08 23:49] #31639 closed

[2016-03-08 23:59] thanatos commented on #30961
From a co-worker, who took the time to pin this down:

Essentially, if the repository is on a branch, and you move to a tag, highstate fails.

This file seems to have undergone some fairly hefty revision; we haven't had a chance to see if it works on the latest version.

[2016-03-09 00:04] boltronics commented on #10500
@The-Loeki What do you mean? Either I'm blind, or that page in no way mentions how to permit specific minions to only target other specific minions.

[2016-03-09 00:30] robertsonai opened #31757 "Salt-cloud installing an incorrect repo file resulting in failure."
I am running salt-cloud 2015.8.5 (Beryllium) in Amazon EC2.  Running "salt-cloud -p salt-profile new_server"  The installation fails and when I check the Salt repo it is incorrect.
### Setup

[code]

  Added the file map to try to get Salt Cloud to install the correct repo file, that isn't working

[code]
### Steps to Reproduce Issue
1. Run: salt-cloud -p salt-profile new_server
2. It successfully

[2016-03-09 01:23] whiteinge commented on #31708
You're definitely right that adding a kwarg would be less work. I'm not sure one approach is objectively better than the other -- I can see pros/cons for both approaches. The reason adding new methods is my go-to for this is:

1. API stability. Any mistakes, regressions, or unintended consequences in the `cmd()` method is likely to affect a lot of people. This method is used by the Reactor, Orches

[2016-03-09 01:25] whiteinge commented on #31708
Oh, and I misspoke about needing `_async` variants of those methods. We only need sync since the full return from the LocalClient async method is _not_ truncated.

[2016-03-09 01:28] igorwidlinski commented on #31737
i added
[code]
to salt/output/highstate.py as in:
[code]

Now i get the proper output:
[code]

[2016-03-09 01:45] thiell opened #31758 "salt-ssh option override in config file (feature request)"
Hi - I started using salt on a cluster with the clustershell roster as we already have clustershell [node groups](http://clustershell.readthedocs.org/en/latest/config.html#node-groups) configured (thanks to whoever implemented this in salt). I didn't find a way to change the default roster permanently, like in a config file. It would be very convenient if `salt-ssh` would support a global config f

[2016-03-09 02:20] kstreee commented on #31742
@jfindlay Yes, we know about it, but servers, which are installed Salt Minion, are not fully under our control, so there are so many situations and accidents in there. One of the 'accident' is that multiple Salt Minion instances are run on same servers as same `id`.
We exactly understand how to use Salt Minion correctly, but we think that synchronization among Salt Minions which have same `id` is

[2016-03-09 02:59] damon-atkins commented on #31748
Interesting pslinux its not reported by salt-call --versions-report     It's not installed on my systems.

[2016-03-09 03:05] igorwidlinski commented on #31737
Another idea is to figure out why is this retcode inserted into the data dict when running batch mode. The retcode does not seem to be inserted when running in standard (non batch mode). Even with my little fix as above, when I use other outputter other than highstate in batch mode the retcode is displayed . Why do I need to see the retcode in batch mode and not in standard mode. ?

[2016-03-09 03:38] damon-atkins opened #31759 "win_pkg: IndexError: pop from empty list"
### Description of Issue/Question

Error message is not helpfull when you get the package name wrong. I would have expect "Error: Package not found" instead of "IndexError: pop from empty list"

In this case 7-Zip should have been 7zip.

[code]

[code]

This line is doing to much it does not allow any checks to be performed to see if items are valid.
**return sorted(pkginfo, cmp=_reverse_cmp_pkg_v

[2016-03-09 07:41] pprince commented on #30175
Was just wondering the status.  Thanks.

Thanks,
-Paul P.

On Tue, Mar 8, 2016 at 10:54 AM, Nicole Thomas <notifications@github.com>
wrote:

[2016-03-09 08:25] vutny commented on #24955
Ping @jfindlay

[2016-03-09 08:33] vutny commented on #31193
Ping @cro. Multiple issues has been opened in https://github.com/saltstack/salt-bootstrap/issues/ against "stable" bootstrap script. I believe more technical discussions should be continued there and this issue could be safely closed. Thanks.

[2016-03-09 08:55] alkivi-sas commented on #24955
With the Raspberry 2b, we switch to official Debian image which fully support ARMv7.
So for us, it's ok :)

[2016-03-09 09:02] arthurlogilab opened #31762 "[salt-cloud] openstack driver tries to assign new floating ip when some are available in pool"
### Description of Issue/Question

When creating VMs using salt-cloud against an icehouse openstack using the openstack driver, I get a "no more floating ips", it seems to be trying to allocate new floating IPs when some are available to assign.
### Steps to Reproduce Issue

Traceback :

[code]
### Versions Report

[code]

[2016-03-09 09:05] vutny commented on #31675
Thanks @jfindlay for the explanations. Completely agreed about that the documentation should reflect which characters are legal and which are not for VM names.

But, I see two options to "workaround" such limitation:
1. Replace insulting characters such as `/` with something else (`_` underscore for example).
2. Ignore the nodes with "wrong" names and display a warning message about that.

At the

[2016-03-09 10:01] pouldenton commented on #30600
Seems like I have the same issue on the last stable version:
`
[root@salt-master ]# salt-master --version
salt-master 2015.8.7 (Beryllium)

[root@salt-minion]# salt-minion --version
salt-minion 2015.8.7 (Beryllium)
`
In my case problem appears once at several hours with one or more minions, that uses pillar or mine data to build configs.

[2016-03-09 10:08] vutny commented on #31672
@Talkless CA certs is a common problem on legacy systems.
Here is a solution for Debian (download fresh Mozilla's CA bundle):
1. `sudo mkdir -p /usr/local/share/ca-certificates/cacert`
2. `sudo wget -O /usr/local/share/ca-certificates/cacert/cacert.crt https://curl.haxx.se/ca/cacert.pem`
3. `sudo update-ca-certificates`

That's pretty much of it.

I strongly believe that SaltStack should not place

[2016-03-09 10:15] michael-milan commented on #31749
Thanks, is there any workaround for this for the time being?

[2016-03-09 10:15] anandnevase opened #31763 "Unable to create more than 7 harddisk for windows VM using vmware cloud provider"
### Unable to create more than 7 harddisk for windows VM using vmware cloud provider
### Setup

[code]
### Steps to Reproduce Issue

Unable to provision VM, getting following error:

[code]
### Versions Report

_Provided by running_ `salt --versions-report`

[code]

[2016-03-09 10:33] The-Loeki commented on #10500
All of the YAML examples are syntax examples on how to permit from/to (showing glob matching examples) with the doc stating

My point was more that the 'publish requires exact match w/acl to work' is a separate issue so it can remain on the radar (I personally think it's a good RFE ;) )

[2016-03-09 10:43] Heiko-san opened #31764 "Support same minion version on different OS"
### Description of Issue/Question
We are searching for a way to ensure same minion version on different OS.
Unfortunately there is no official repository for Debian 7 and some other OS we would have to support.

Is there a way you could provide a repo for at least Debian 7?

Alternatively do you have any hint on how to install the minion using another way (idealy without the need to install gcc on

[2016-03-09 11:01] multani commented on #22142
@DylanFrese I had a beginning of a patch somewhere, but I can't find it anymore :/

[2016-03-09 11:01] boltronics commented on #10500
But it only documents mapping minion ids to minion module functions. It at no point documents matching minion ids to minion module functions only on specific minions as per https://github.com/saltstack/salt/issues/10500#issuecomment-35441919

I'm happy to open another ticket for the other part though.

[2016-03-09 11:03] Talkless commented on #31672
Fair enough @vutny , looks like older systems simply has to install newer CA manually.

Though after your example, instead of:
[code]
Now there is (only):
[code]
Looks like CA is known, but wget still doesn't like that certificate for some reason?

[2016-03-09 12:08] damon-atkins commented on #24955
The Raspberry Pi 1 and 2 range are an old ARM 32 bit chip 99% of distros have dropped support for this old ARM chip.  Most (if not all) of the other single board chips run the current ARM 32bit chip   So for Raspberry Pi 1 and 2 you must get any binaries for the Raspberry Repo and not any other source.   Raspberry Pi 3 just release is current 64bit chip which will see the Raspberry Pi being able t

[2016-03-09 12:16] vutny commented on #31672
@Talkless Hm, indeed, looks like you've encountered a known bug in old Wget+GnuTLS... See DBTS:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=652480
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=777701

Unfortunately, your options are:
1. Compile newer `wget`
2. Switch to another download method, `curl` or similar.

[2016-03-09 12:37] lagesag commented on #30845
In case someone looks for a solution, this is our workaround (`/etc/init.d/topbeat_fix`):

[code]

And then `salt-call service.start topbeat_fix` works fine.

Also note that [topbeat-god](https://github.com/fiorix/go-daemon) is [not needed](https://discuss.elastic.co/t/repackaging-beats-deb-files-service-wont-start/37898/11) on systems with systemd.

[2016-03-09 13:00] pkruithof commented on #26879
This is getting a bit out of hand, I'm afraid. At the moment I'm unable to install salt-master on 15.04 or 15.10. I've tried the ppa, manually adding the deb, the bootstrap script (with stable and git versions). The ppa/bootstrap both add an apt source that points to a 404 (http://repo.saltstack.com/apt/ubuntu/ubuntu15/). The `git develop` version from the bootstrap script gives a different error:

[2016-03-09 13:02] enver opened #31765 "Got "Minion did not return" when running rabbitmq.list_users from master"
### Description of Issue/Question
### Setup

[code]
### Steps to Reproduce Issue
- Use rabbitmq formula to setup rabbitmq server.
- Run `salt 'standalone2' rabbitmq.list_users`

[code]

[code]
### Versions Report

Master and minion run same salt version

[code]

RMQ server version: 3.1.5
### Note

Running command on minion gives following results:

[code]

[2016-03-09 13:02] arthurlogilab commented on #24955
I think it's a real shame that salt-bootstrap does not support raspbian and all raspberry pi's out of the box. At our salt meetup (Paris), we often have people complaining about this. Note that often people want to try out at home this technology before recommending it to their boss or at work, so in my humble opinion, theses users should get the best UX possible, and for *all* versions of the Pi.

[2016-03-09 13:02] Talkless commented on #31672
Looks like it...

Thanks @vutny for your time!

[2016-03-09 13:02] #31672 closed

[2016-03-09 13:03] sastorsl commented on #9436
Is there any movement on this?

[2016-03-09 13:03] enver commented on #31765
Same issue mentioned in comments in #25125

[2016-03-09 13:23] vutny commented on #24955
@arthurlogilab I think you're very welcome to submit PR to https://github.com/saltstack/salt-bootstrap/pulls

As for now, you're able to install Salt manually from Raspbian testing repo:
https://docs.saltstack.com/en/latest/topics/installation/debian.html#installation-from-the-debian-raspbian-official-repository
Very simple script (few lines of Bash) could be written following this guide to perfor

[2016-03-09 13:59] fredrikaverpil opened #31766 "Beacons in pillar doesn't trigger events"
### Description of Issue/Question

Defining beacons in pillar won't trigger events in the master bus. Doesn't matter which beacon it is.

I really wish to be able to set beacons up like this. Any idea on workaround?

### Setup

[code]

[code]

[code]

I went and downloaded the latest `diskusage.py` and placed this in `_beacons`. Then I got this error on the minion instead:

[code]

The diskusage b

[2016-03-09 14:08] damon-atkins commented on #24955
I got Puppet running on ARM, logged a case for better support and got back not supported at all, and no plans to support.  SaltStack have a good attitude towards ARM Platform.

[2016-03-09 14:25] tjyang commented on #29032
Same here with 2015.8.7, following log is flooding my master.log file.
``
2016-03-09 08:23:27,961 [salt.transport.zeromq                                ][ERROR   ][32038] Bad load from minion``

[2016-03-09 14:33] damon-atkins commented on #31764
Not sure of the question however:
1. In Fedora gcc only needed if you install  pygit2 (it seems to call gcc to compile something on first use). Use gitpython instead which calls the git binaries.
2. Have your own local repo with what ever version you need. Should be able to just copy the salt one.
3. With older OS you may need to compile some missing versions of software.  If you target the oldest

[2016-03-09 14:54] anlutro commented on #30489
I was going to look at this before but completely forgot about it - now I'm blocked by the bug as well! :(

[2016-03-09 14:59] envintus commented on #30489
Aside from fixing Saltstack to use the pip client correctly a work around is to provision users via cmd and also add some return code handling in the event that a user already exists and InfluxDB returns a non-zero exit code, which would create a false positive “failure” during a salt run.

[2016-03-09 15:05] aabognah commented on #29239
removing the `git_pillar_provider: gitpython` option from master config file so that salt uses the default pygit2 provider seems to have resolved the issue for me. I do not get corrupted pillar data anymore. so the issue seems to have been with gitpython.

[2016-03-09 15:07] DylanFrese commented on #22142
@multani I've created a PR if you want to take a look.

It seems a commit was added in November that did much of what you suggested, but not quite enough.

[2016-03-09 17:20] purgatorio opened #31771 "onchanges requisite does not trigger with service.running"
The **onchanges** requisite does not appear to be triggering when used with **service** in a state file.
If I use **watch** instead of **onchanges** I get the expected behavior.
### Config

**testing/init.sls**

[code]
### Debug

**salt-call state.sls testing -l debug**

[code]
### Versions Report

**salt-call --versions-report**

[code]

[2016-03-09 17:24] drboyer commented on #30845
Thanks for the in-depth analysis and other workaround @lagesag! It would totally make sense why this issue doesn't occur on systems that run systemd then.

Perhaps it's worth opening an issue within the beats project in the event there's a problem in their configuration that's leading to this...

[2016-03-09 17:27] techhat commented on #31749
@michael-milan, I think your best shot is to either patch the file manually or upgrade to the 2015.8 branch. @jfindlay, you have any other others?

[2016-03-09 17:33] ssgward commented on #31758
@thiell - good idea. We'll tag this as a feature.

Also, feel free to submit a PR with the desired functionality for review.

[2016-03-09 17:44] jfindlay commented on #31748
@visbits, thanks for reporting.  I am having difficulty tracking this down, for example
[code]
both return nothing.  Is there a more specific error you can provide?  Does `salt minion ps.get_pid_list` return an error?

[2016-03-09 17:51] jfindlay commented on #31756
@hexedpackets, thanks for reporting.

[2016-03-09 17:52] visbits commented on #31748
No it returns just fine

[2016-03-09 17:54] rallytime commented on #31749
I think that's the best route, too. You'll only need to patch the file on the machine(s) you're running salt-cloud commands from.

[2016-03-09 17:56] jfindlay commented on #31757
@robertsonai, thanks for reporting.  This is a bootstrap error (https://github.com/saltstack/bootstrap).  It may have already been fixed.  Can you try with the latest [develop version](https://bootstrap.saltstack.com/develop) of bootstrap?

[2016-03-09 18:03] cro commented on #31193
Thanks @vutny , followup is much appreciated.

[2016-03-09 18:03] #31193 closed

[2016-03-09 18:18] sbreidba opened #31772 "win_dacl state causes state.apply output to be YAML, not highstate"
### Description of Issue/Question
Using any of the win_dacl states causes state output to appear as YAML instead of highstate. For example, executing `salt <minion> state.apply test.sls test=True` (code for `test.sls` below) results in:

[code]
Whereas the expected output would be:
[code]

This appears to be because win_dacl returns the `comment` as a list, not a string. Wrapping every state funct

[2016-03-09 18:24] jfindlay commented on #31759
@damon-atkins, thanks for reporting.

[2016-03-09 18:26] techhat commented on #31757
@jfindlay I believe this is an error with the file map in salt-cloud, not the bootstrap script.

[2016-03-09 18:27] techhat commented on #31757
@robertsonai could you pastebin a (sanitized) copy of the debug logs (produced with `salt-cloud -l debug...`) so that we can see what's happening during that file transfer?

[2016-03-09 18:28] jfindlay commented on #31762
@arthurlogilab, thanks for reporting.  What version of libcloud are you using (should appear in `salt-cloud --versions-report`)?

[2016-03-09 18:46] rallytime commented on #26498
Tested the fix and it's working well in terms of preventing the creating of a VM with the same name in multiple clouds:
[code]
However, note that the error message is a little misleading. While I did try to create the `rally-master-ec2` VM in the linode cloud, the error message is saying that it already exists in `linode-config:linode`. This is incorrect. The rally-master-ec2 VM is located in EC2:

[2016-03-09 18:53] jfindlay commented on #31763
@anandxoriant, thanks for reporting.  This looks like it might be a limitation with vmware, although I have not found anything conclusive from searching online.  Does it work if you remove one of the disks?

Ping @nmadhok

[2016-03-09 19:00] jfindlay commented on #31764
@Heiko-san, thanks for reporting.  @damon-atkins has some good info.  Our packaging work is hosted [on github](https://github.com/saltstack/salt-pack) if you want to contribute or file an issue.  Also, we are [working on](https://github.com/saltstack/salt/issues/27189#issuecomment-193510833) having debian 7 packages for the next release.

[2016-03-09 19:05] dmurphy18 commented on #26879
@pkruithof SaltStack currently only builds for Ubuntu LTS releases, and as such there is no SaltStack packages developed for 15.10. Have you tried installing the Debian 8 packages, they worked for me on 15.04 as suggested previously. We are   planning on getting ahead of the curve for 16.04 LTS since the Beta 2 is going to be released at the end of March, and hope to have released code soon after

[2016-03-09 19:08] jfindlay commented on #31764
@Heiko-san, most, if not all of the distros you list, with the exception of debian 7, and depending on how old your ubuntu asterisk goes, should already have up to date salt packages available.  The latest ubuntu LTS packages should work on the latest ubuntu release.  Are there any other platforms you are concerned with?  I also agree that our custom packaging documentation should be updated.  You

[2016-03-09 19:14] jfindlay commented on #31765
@enver, thanks for reporting.  Is it possible for you to test the fix from @s-schweer?

@s-schweer, is it possible for you to backport your fix to 2015.8?  Thanks.

[2016-03-09 19:33] jfindlay commented on #31766
@fredrikaverpil, thanks for reporting.

[2016-03-09 19:35] jfindlay commented on #31771
@purgatorio, thanks for reporting.

[2016-03-09 19:41] jfindlay commented on #31772
@sbreidba, thanks for reporting.  According to [the documentation](https://docs.saltstack.com/en/latest/ref/states/writing.html#return-data), state functions should return the comment as a string, so the real fix here should be to rewrite the comments as strings.  If you are able to do this, we'll gladly accept the pull request.

[2016-03-09 19:50] sbreidba commented on #31772
Will do.

[2016-03-09 19:56] jfindlay commented on #30961
@thanatos, thanks for the excellent review.  Yes, the git state module, along with a few other git subsystems in salt have been overhauled recently, which is why I am interested if you are able to reproduce on a current version of salt when you have a chance to do so.

[2016-03-09 19:57] oznah opened #31773 "Salt-Minion Error: "Failed to parse service restart specifier, ignoring: $RESTART" after upgrade from 2015.8.3 to 2015.8.7"
### Description of Issue/Question
I am getting a salt-minion error after upgrading from 2015.8.3 to 2015.8.7.
`systemd: [/usr/lib/systemd/system/salt-minion.service:11] Failed to parse service restart specifier, ignoring: $RESTART`
Error occurs across all upgraded minions.
This error is mentioned [here](https://github.com/saltstack/salt/issues/30928), but it isn't addressed directly in that issue.

[2016-03-09 20:06] jfindlay commented on #31737
@igorwidlinski, excellent research.  Ideally all returns from minions will contain a retcode attribute, but this feature is not fully utilized yet, so an inconsistency will be mostly unnoticed.  I am still not sure why the presence (or position) of the retcode in the minion's return data would be triggering the behavior you're seeing.

[2016-03-09 20:11] jfindlay commented on #31737
@igorwidlinski, in 2016.3, this comment and code has been added to the function you referenced:
[code]

[2016-03-09 20:13] jfindlay commented on #31737
Related to #31330.

[2016-03-09 20:13] enver commented on #31765
@jfindlay, @s-schweer
Sure, just let me know when it is available

[2016-03-09 20:21] jfindlay commented on #31675
@vutny, good point.  We should handle EC2 VMs that have not been managed by salt-cloud more gracefully.

[2016-03-09 20:25] jfindlay commented on #30600
@pouldenton, thanks for reporting.  Any more information you can provide on how to isolate or reproduce the issue would be very helpful.

[2016-03-09 20:30] gtmanfred opened #31776 "ProxyMinion does not close connections (at least with esxi proxy)"
### Description of Issue/Question

Using the esxi proxy minion, on test.ping, the minion continually opens connections on every call when `multiprocessing: False` is set.

### Setup
proxy.sls pillar
[code]
/etc/salt/proxy
[code]

### Steps to Reproduce Issue
setup the proxy minion      https://docs.saltstack.com/en/develop/topics/tutorials/esxi_proxy_minion.html

run `while salt p8000 test.ping; d

[2016-03-09 20:32] jfindlay commented on #9436
@sastorsl, not that I know of.  `cmd.run` does not invoke a login shell, but you should be able to override this with `salt minion cmd.run 'ulimit -n' shell='sh -i'`.

[2016-03-09 20:38] jfindlay commented on #30489
@envintus, in that case you can use a `cmd.run` state with an [unless](https://docs.saltstack.com/en/latest/ref/states/requisites.html#unless) or an [onlyif](https://docs.saltstack.com/en/latest/ref/states/requisites.html#onlyif) requisite to make the custom state 'function' stateful.

[2016-03-09 20:39] envintus commented on #30489
Agreed. That’s what we do.

[2016-03-09 20:45] jfindlay commented on #31772
Excellent, thanks for working on this.

[2016-03-09 20:52] nmadhok commented on #31763
Only 7 Hard Disks can be created per SCSI controller. I think there may be a bug in the code somewhere. I'll take a look when I get some time.

[2016-03-09 20:53] rallytime commented on #26498
Nice! This works as expected now! :D

[2016-03-09 20:53] #26498 closed

[2016-03-09 21:00] gtmanfred commented on #31773
It looks like this is a duplicate of the issue here https://github.com/saltstack/salt/issues/31034

[2016-03-09 21:02] igorwidlinski commented on #31737
I saw that as well, but the change did not fix it for me as batch code does not wrap data in 'data' key.

The batch code seems to pass keys: 'retcode','minion id' inside the dict to the outputter. In our case the highstate outputter will display either retcode, or 'minion id' dicts, but never both as the for loop only executes once before returning. So here is why the order matters, as only the fi

[2016-03-09 21:49] oznah commented on #31773
It is. My apologies.

[2016-03-09 21:49] #31773 closed

[2016-03-09 23:55] fredrikaverpil commented on #31766
I believe this may be a duplicate of https://github.com/saltstack/salt/issues/29451?

[2016-03-10 04:02] deuscapturus commented on #31293
@terminalmage I hope the work goes well.  Feel free to share anything.  I would be happy to help.   We are currently still manually fixing broken pillar cache's several times a day.  Thanks!

[2016-03-10 04:03] jfindlay commented on #31766
I think you're right.  Thanks, @fredrikaverpil.

[2016-03-10 04:03] #31766 closed

[2016-03-10 05:02] timwsuqld commented on #18168
I'm also experiencing something I believe is related. My alias interfaces report a change ever highstate run, regardless if they have actually changed.

[2016-03-10 05:38] rajvidhimar commented on #30642
I would like to know the progress of this bug. The work around mentioned works just fine but is computationally expensive (for me atleast) and it would be better if __proxy__ could be accessed in the grains module.

[2016-03-10 06:17] anandxoriant commented on #31763
@nmadhok below debug log of ```salt-cloud``` command:

[code]

[2016-03-10 06:39] geraint-jones-nz opened #31782 "Using git as backend causes top file to not be found"
### Description of Issue/Question

I have a salt master using git as its only backend, when highstating the following error is returned. This config previously worked.

[code]
### Setup

`/etc/salt/master`

[code]

### Steps to Reproduce Issue

1.) Use gitfs as backend
2.) do `salt '*' state.highstate`

### Versions Report

[code]

[2016-03-10 06:41] thiell commented on #31758
Thanks! I will see if I can find some time.

[2016-03-10 07:52] geraint-jones-nz commented on #31782
This may not be just a git issue as diabling the `git` backend and using `roots` gives the same issue.

Here is my top.sls

[code]

[2016-03-10 07:53] rrzaripov commented on #31435
Same situation with the execution module:

[code]
All actions actually successfully done, but return value is False.

[2016-03-10 08:51] vutny commented on #31034
The `/etc/default/salt-minion` was installed on my system:
[code]

From `systemd.service(5)` man page:
[code]

Basic environment variable substitution is supported in systemd version 219 from CentOS 7.2. Everything looks good. Also, I saw `/etc/default/salt-minion` is present in earlier RPMs, 2015.8.5 for example.

I guess some problems with those configs may possibly appear during automated upgra

[2016-03-10 09:09] JensRantil commented on #10070
@foxx I am looking into autoscaling with Salt, too. My current take is this:
 * create an AMI role that has access to a preseeded key in S3. Give that role to all autoscaled EC2 instances.
 * write a custom script that executes at boot of my AMI (using supplied "User Data" payload). It does the following:
  * Runs [`salt-bootstrap`](https://github.com/saltstack/salt-bootstrap) installing [preseede

[2016-03-10 09:15] #31720 closed

[2016-03-10 09:16] pkruithof commented on #26879
Pardon my frustration, it was getting to me :wink:

I've gotten it installed by switching to the LTS builds. As long as they work on non-LTS releases that's fine too I suppose. It would be an improvement however to get a single recommended way to install (instead of the 3 that are documented right now), and get that working on all currently supported versions. Is this something that could be reali

[2016-03-10 10:28] arthurlogilab opened #31783 "/dev/null becomes a file instead of a device on our salt master"
### Description of Issue/Question
/dev/null becomes a file instead of a device on our salt master

### Steps to Reproduce Issue

[code]
the /dev/null should be :
[code]
which is the case at boot time.

### Versions Report

[code]

[2016-03-10 10:51] arthurlogilab commented on #31762
[code]

[2016-03-10 11:52] vitalyisaev2 commented on #26236
We really have an urgent need in this feature

[2016-03-10 13:14] anandxoriant commented on #31763
It seems that assigning SCSI storage controller conditions to device is missing as per VMWare standard practice i.e. by default, the SCSI controller is assigned to virtual device node (z:7), so that device node is unavailable for hard disks or SCSI devices.

Please refer below VMware documentation for details explanation:
https://pubs.vmware.com/vsphere-60/index.jsp?topic=%2Fcom.vmware.vsphere.vm_

[2016-03-10 13:33] crocket opened #31788 "pkg.installed doesn't work on Manjaro."
### Description of Issue/Question

I installed salt-git from AUR. It fetched the latest git commit and built SaltStack and turned it into a package. When I execute `salt-call --local state.highstate`, I see the error message below for many sls files.

[code]

All error messages are related to pkg.installed

### Steps to Reproduce Issue

Test pkg.installed on Manjaro.

### Versions Report

`salt-ca

[2016-03-10 14:25] crocket commented on #31788
[code]

[2016-03-10 14:38] blarghmatey commented on #28390
@blbradley That is exactly what I would expect to be able to do. It definitely seems confusing that there is such a disparity in the amount of functionality available between salt cloud and the state modules available for different providers.

[2016-03-10 14:50] skandyla commented on #12908
+1
Very interested in this feature.
I already use salt-cloud, kvm+libvirt, salt-virt (+packer) and it would be excellent to integrate them together.

[2016-03-10 15:03] alexbleotu opened #31791 "Proxy minion starts spinning after running state.highstate"
### Description of Issue/Question
The proxy minion slows down after running state.highstate even though it responds correctly to the request. Eventually it doesn't handle any requests in due time so it becomes unresponsive as far as the master is concerned (even worst, it still services the request from the master) . This is very obvious from the log snippet below from a proxy log, in which the it

[2016-03-10 15:13] tazaki commented on #15910
I am interested in giving this a shot as I also have a few use cases where this is needed. I would like some advice on how to approach it.

The goal would be to generate a ssh private key on the minion and send the ssh public key back to the master to be distributed to the minions to use as an ssh_auth. What is the 'correct' way to do this? A custom module? Salt mine?

Any advice would be great!

[2016-03-10 16:15] dmurphy18 commented on #26879
@pkruithof I can understand your frustration.

There were plans to have a 15.10 release and February was supposed to be available for salt-pack work, other than current platform releases, but from the jump in 2015.8.4 to 2015.8.7, you can tell that there were a few issues to accommodate.

Currently other platforms have taken priority over 15.10, for example: Wheezy, then 16.04 LTS - Beta2, but the

[2016-03-10 16:41] anitakrueger commented on #26784
@martinhoefling @tsaridas @tkwilliams does anybody have any code for this already? I'd love to help, since I am in desperate need for encrypted RDS instances and those only come with boto3.

[2016-03-10 17:04] pkruithof commented on #26879
We will be switching (and staying) on LTS versions once 16.04 is out. It is too much of a hassle to maintain non LTS servers, as we have found out the hard way.

So that puts me in option 2. Which installation method does that correspond with?

Oh also, could you tell me a bit more about salt-pack?

[2016-03-10 17:13] eliasp commented on #31034
Still seeing this for `salt-minion.service` from `2015.8.7` on CentOS 7.2 where `systemctl status -l salt-minion` reports:
[code]
`/etc/default/salt-minion` which is specified as `EnvironmentFile=` in the service unit exists and contains `RESTART=no`, but as [`systemd.service(5)`](https://www.freedesktop.org/software/systemd/man/systemd.service.html#Command%20lines) states, variable substitution i

[2016-03-10 17:37] dmurphy18 commented on #26879
@pkruithof I have a explanatory doc. on salt-pack out for review with our documentation person. I shall add it to the salt-pack once it is reviewed for grammar, format etc.  When 16.04 is out, that will become the 'latest' as in # 1, but # 2 will work for it too.  latest => implies most recent release for most recent branch on most recent  release of platform.  hence 1 or 2 would work for you sinc

[2016-03-10 17:46] #31776 closed

[2016-03-10 20:21] JaseFace opened #31802 "File.managed will not replace a symlink"
### Description of Issue/Question
Using file.managed to write a file will follow the symlink and write to the sym destination when the default of follow_symlinks is set to true.  When you use follow_symlinks: False, Salt fails to overwrite the symlink and errors with:

[code]

### Setup
Try to overwrite a file that's currently a symlink:
[code]

### Versions Report
[code]

[2016-03-10 20:41] sjmh opened #31803 "Balancing minions across syndics"
We need to figure out a way to balance minion connections across multiple syndics running in failover mode.

One of the reasons for running in failover mode versus several 'hot' syndics is the known 'double publish' issue - that if a top level master sends a command to two syndics, and a minion is actively connected to both of those syndics, it will run the job twice.  Because of this, we run in a

[2016-03-10 20:53] jfindlay commented on #31803
Thanks for the issue, @sjmh.  I think @DmitryKuzmenko will be the best to answer your questions.

[2016-03-10 21:20] #30643 closed

[2016-03-10 21:21] #30181 closed

[2016-03-10 21:21] #29701 closed

[2016-03-10 21:30] dmurphy18 commented on #27189
Tracking this issue in saltstack/salt-pack,
Salt 2015.8.7 and dependency support Debian 7 (Wheezy) #46

[2016-03-10 21:44] howardroark opened #31804 "A web app which may help deal with the high number of issues."
### Description of Issue/Question

I love salt working with Salt. Though sometimes I find the number of issues here can be overwhelming. We just launched an open source web app that could maybe help with that a little.

https://gitsup.com/saltstack/salt

[2016-03-10 22:36] dmurphy18 commented on #27189
@Talkless @alexanderlauster @Kurisutian @syphernl @bbinet @babilen

FYI - repo.saltstack.com just went live with Salt 2015.8.7 support for Wheezy.

Please let me know of any issues.  The aim was to get something functioning out there, for example zeromq is 3.2.3, eventually I would like to backport something a little later than that.  And along with other noted issues on 32 bit support to eventual

[2016-03-10 22:41] dmurphy18 commented on #29533
@dmyerscough I would like to close this item, I believe the latest builds for the repo are now correct

[2016-03-10 22:50] dmurphy18 commented on #30700
@garyx Waiting for 16.04 Beta 2 at the end of the month (24th) before we start attempting to  build packages.

This issue can be tracked in saltstack/salt-pack #48
 Salt support for Ubuntu 16.04 LTS release #48

With that I would like to close this issue since it is already being tracked elsewhere

[2016-03-10 22:52] garyx commented on #30700
Thanks for the info, hope the build will be easily implemented.

On Thu, 10 Mar 2016, 22:50 David Murphy, <notifications@github.com> wrote:

[2016-03-10 22:59] robertsonai commented on #31757
http://pastebin.com/GHSiJvBG

Didn't seem to like it.  Same output when I ran 'salt-cloud -l debug -p edd_api'

[2016-03-10 23:16] techhat commented on #31757
Sorry for being vague. You need to add `-l debug` to the rest of your command:
[code]

[2016-03-10 23:22] robertsonai commented on #31757
Here is the full run resulting in the same failure:  http://pastebin.com/GHSiJvBG

[2016-03-11 00:26] techhat commented on #31757
Thanks @robertsonai. The important lines in there are around this:
[code]
It claims that it's doing it correctly, but let's do another test. Change your `file_map` to:
[code]
Let's see if it manages to lay down the right file there.

[2016-03-11 01:00] PredatorVI commented on #31692
@jfindlay I wasn't sure if this notified you directly when I added the version reports above, but I am willing to provide more detail as needed. I will need someone that knows where to go to point me in the right direction.  I've started dipping my toes into the python debugging process, but am unsure how to get to the module that needs to be inspected.  Thanks!

[2016-03-11 02:59] whiteinge commented on #30763
`salt.function` is a generic interface that can be used to call any execution module on a minion. It is not aware of what function you're asking it to call, it just passes through what you give it. The `cmd.script` execution function does take a `saltenv` kwarg but that needs to be passed manually as there's no way for `salt.function` to know that in advance.

If you invoke the Orchestrate runner

[2016-03-11 03:23] valentin2105 opened #31811 "Unable to find expected entry 'main/binary-armhf/Packages'"
### Description of Issue/Question

Hi,
I found a problem with Salt on Armhf (on Scaleway instances),
When bootstraping Salt, I got this on output (block at `apt-get update` after repo adding) :

[code]

I have trying on Ubuntu and Debian, with Salt-Cloud or directly by SSH (by adding salt's repo).

I have trying with "-P" flag and with "git version" flag too.

Here the full error from `salt-cloud

[2016-03-11 03:30] peripatetic-sojourner commented on #31704
Sorry, for taking so long to get back. 2015.8.7

Work has been hectic.  Anyway, is there a reason the foreman pillar doesn't use the same file that foreman-node utilizes?  Rather than accessing the api (current method) it would be possible to call https://foreman/salt/node/<minion_id>?format=yml which presents all the same information as foreman-node retrieves.

I'm not familiar enough with Ruby o

[2016-03-11 04:17] whiteinge commented on #18462
Obviously I never got to this after SaltConf. One snag is the 'py' renderer only works on files not strings so that will need to be worked around -- would an in-memory file-like object suffice or would we need to either write a temp file to disk or resort to eval? Still need discovery here.

Related but different is #31812. Not as quick as keeping the logic in the same file as described above, but

[2016-03-11 05:56] fredrikaverpil commented on #29451
But basically, this makes it impossible to use beacons when defined in pillar. Am I right?

Has anyone found a fix or a workaround?

[2016-03-11 06:08] fredrikaverpil commented on #29518
At what point does this occur?
I'm running 2015.8.7 on CentOS 6 with Python 2.6 and I haven't noticed any issues.

[2016-03-11 06:24] fredrikaverpil commented on #29518
I just made a quick test with salt-ssh (2015.8.7) on a minion running CentOS 6 (with Python 2.6) and salt-ssh seems to work fine without producing such errors in the minion log.

I noticed that ordereddict is installed in the system-wide python install. Not sure when or what may have installed that. Not sure if it matters or if salt-ssh uses that?

[code]

[2016-03-11 07:09] jinlongwang opened #31813 "Could not deserialize msgpack message: Some exception handling minion payloadThis often happens when trying to read a file not in binary mode."
### Description of Issue
[code]
### Setup
*Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).*

### Steps to Reproduce Issue
*Include debug logs if possible and relevant.*
just when i do "salt ${key}  test.ping"
[code]
### Versions Report
[code]

[2016-03-11 07:53] pkruithof commented on #26879
Thanks for the update, much appreciated. Once everything is packaged up, could you ping me in this issue? I'll test it then, so we can wrap this up.

[2016-03-11 08:07] babilen commented on #27189
Wonderful, congratulations!

[2016-03-11 08:09] siemprepeligroso opened #31814 "Installing python3 module(s) via pip3 using salt?"
### Description of Issue/Question
I tried to install a python3 module via pip3 using salt, but I failed miserably. I am not sure whether this functionality is supported by saltstack at all, can you confirm please?

### Setup
[code]

[code]

### Steps to Reproduce Issue
In the my recipe I executed the code snippet from above. The first part executed fine and paramiko fro python was installed. Howev

[2016-03-11 09:06] arthurlogilab commented on #27189
good news, even tough it's not quite ready it seems. the #46 is a salt issue, for those looking for the salt-pack issue it's https://github.com/saltstack/salt-pack/issues/46

[2016-03-11 10:20] genuss commented on #27189
Thank you guys!

[2016-03-11 10:32] vutny opened #31816 "Deprecate or update the http://debian.saltstack.com/"
### Description of Issue/Question
This issue is similar to #28142

The official documentation describes the installation process from community repository for Debian:
https://docs.saltstack.com/en/latest/topics/installation/debian.html#installation-from-the-community-repository

But this repo is outdated and contains newest packages matching version 2015.5.3.
The main point here: the docs suggest

[2016-03-11 10:47] The-Loeki commented on #29451
@fredrikaverpil negative, just one of the syntaxes is broken. Use the 'alternative' syntax outlined earlier (which is the 'workaround' we use in production).

[2016-03-11 13:06] anlutro commented on #28357
Just bumped into this issue myself. You *have* to use `extension_modules` or `module_dirs` for event returners, otherwise the don't get found. This is really annoying.

[This code](https://github.com/saltstack/salt/blob/7fb2331ebc7b724cb62bcf23c7c30575123be9c3/salt/utils/event.py#L974-L987) also writes HUGE blobs of data to the log file in the event that a returner isn't found. I can see the value

[2016-03-11 13:16] Da-Juan commented on #31814
Hi,

the pip3 state doesn't exist but you can install pip3 modules with the following recipe:
[code]
You need python-pip package for salt minion.
It works on `salt-minion 2015.8`, I didn't tested on `salt-minion 0.17.5`.

[2016-03-11 13:41] bemeyert commented on #28016
I have the same problem and similar setup as @eliasp  Are there any chances that this will be fixed? Cheers

[2016-03-11 14:16] rklaren commented on #12908
Progress wise, I did some cleanups a little while back, so things are more robust, and use more utilities from salt cloud. Still need to make things work with full clones. In short still working on it :)

[2016-03-11 14:46] siemprepeligroso commented on #31814
@Da-Juan would it be much of an hassle to you to commend out the lines in the recipe above, and tell what they do?

[2016-03-11 15:03] Talkless commented on #27189
Thank you! I'll test on Monday at work.

[2016-03-11 15:36] Da-Juan commented on #31814
Here a commented version :)

Is it better now ?

[code]

[2016-03-11 15:37] alexbleotu commented on #31791
I found what triggered the infinite recursion, it's code specific to the proxy.

I will submit a patch soon for this.

[2016-03-11 16:07] davidkarlsen commented on #28300
Any progress on this?

[2016-03-11 16:10] Rumbles opened #31821 "Feature request: gem install to allow --user-install option"
### Setup
I was hoping I could replicate the following using salt, as a given user (not root) I would run:

gem install --user-install bundler

Looking at the docs I can't see a way to do --user-install, someone suggested that gem might default to user install if you're non-root, but when I tested it I got this from the command line:

$ gem install bundler
Fetching: bundler-1.11.2.gem (100%)
ERROR

[2016-03-11 16:18] dmurphy18 commented on #26879
@pkruithof There have been a number of releases since the issue was created in the early days of the repo.  Can you check against the latest for Ubuntu at repo.saltstack.com, noting that both the 2015.5 and 2015.8 branches have been updated.

[2016-03-11 16:26] Xiol opened #31822 "Salt-SSH in latest develop fails to run due to missing msgpack or msgpack_pure modules on client"
### Description of Issue/Question

As far as I can see, Salt-SSH is failing to execute on a remote host because the remote host does not have msgpack or msgpack_pure Python modules installed. Looking at previous bugs of this nature I'm assuming this is not intended.

### Setup

We're executing Salt-SSH like so:

```/usr/bin/salt-ssh --out json --no-color -E '(SID41929|SID41932)' --no-host-keys --s

[2016-03-11 17:28] bebehei commented on #24115
Is this still valid? I can verify, that this works in `salt-ssh 2015.8.7 (Beryllium)`.

Also [you should use `tpldir` instead of `slspath`](https://github.com/saltstack/salt/issues/4348#issuecomment-110331519)

[2016-03-11 18:35] Reiner030 opened #31829 "Feature Request: RSS feed for Saltstack updates"
Hello,

last month I got in several problems when you made several security/fix updates in a row...
Which wasn't "easy" to find out when new instances are deployed automatically without showing version update info.

It would be therefore nice to have also an update feed (RSS or atom+xml bests) to see what "really" happens
- The Twitter feed didn't fit this requirement and
- the documentation pages

[2016-03-11 20:14] gtmanfred commented on #31788
this should already be done.

https://github.com/saltstack/salt/pull/27841/files

It should appear as Manjaro as the os grain, so you just need to add it to this list.

https://github.com/saltstack/salt/blob/develop/salt/modules/pacman.py#L32

[2016-03-11 20:29] twellspring commented on #31737
Tried using igorwidlinski's workaround of -s, which works, but my state is terminating after 5 seconds.   I tried to use -t option to extend the default timout  `salt -b 18 --output=highstate -s  -t 120 servername state.sls xxxxxxxx`  but it is still timeing out after 5 seconds.  `--timeout=120` had same results.

[2016-03-11 21:07] plastikos commented on #30914
@DmitryKuzmenko states this is broken with ``transport: tcp``.

[2016-03-11 21:22] dmurphy18 commented on #24343
@willkil I would like to close this, since with 2015.8.7 release of Salt for Debian 8 and Ubuntu 14 & 12, python-msgpack is now a dependency of salt common, and hence the other packages.  Noting that ppa is community supported, but the various flavor's of salt are now better served from repo.saltstack.com

[2016-03-11 21:23] emosher commented on #31504
Hey Salt crew, I wanted to chime in here.  I was messing with this today having this exact problem.  Database exists but I still get a 404 when using the returner.  I did some digging and here's what I found out...

**Short version** - the Salt returner code for InfluxDB is using the 0.8 version of the InfluxDB client, which is incompatible with InfluxDB 0.9 and 0.10.  The 0.8 endpoints use the `/

[2016-03-11 21:28] rallytime commented on #31504
Some recent work has been done on the influxdb module for _users_ to work with 0.8 and 0.9 versions in #31770 and #31787, but I don't think that solves this issue here.

@anlutro You might be interested in taking a swing at this one.

[2016-03-11 21:32] anlutro opened #31835 "grains.items returns nothing in 2016.3?"
Running off 2016.3 HEAD, all the grains module functions seem to work fine, except the items function. I'm not sure if this is strictly because I'm running salt-ssh or what. `-l trace` shows nothing useful.

[code]

[2016-03-11 21:35] dmurphy18 commented on #27007
@ketzacoatl snappy support is on the eventual road-map, waiting to see what support it is getting in 16.04 LTS, but for the time being with the current backlog there has not been time to investigate it in depth, other than keeping abreast of articles on it.

Given that salt-pack is open source, contributions on packaging with snappy for Ubuntu would be more than welcome.

[2016-03-11 21:41] dmurphy18 commented on #29043
@godfryd Having our own version of python-tornado would introduce other issues since different packages would be trying to install / control the same files.  This would cause errors.  The selection would have to be either use the installed python-tornado or if none installed then use salt's version of python-tornado. Even if we change the label to python-tornado-salt, we would still have an issue

[2016-03-11 21:46] dmurphy18 commented on #29608
@ageorgop @edgan I apologize for the sources not working when trying to obtain them from repo.saltstack.com.  Unfortunately due to backlog of issues this is not a high priority since the source code is freely available from github, both saltstack/salt and saltstack/salt-pack (which is used to build salt and its dependencies), both are open-source.

The focus has been on getting support for platfor

[2016-03-11 21:46] anlutro commented on #31504
Probably better if someone who actually plans to use the influxdb returner does the actual implementation :)

If you want to keep compatibility with 0.8, I guess this is a bit trickier than doing `hasattr` calls. You'd probably have to add a new minion config flag for whether to use 0.8 or 0.9+.

Personally I don't think keeping 0.8 support is worth it.

[2016-03-11 22:40] cmeisinger opened #31837 "Highstate results in 'minion did not respond' in 2015.8.x"
### Description of Issue/Question
When bringing up a minion installed from the saltstack repo, state.highstates result in a "Minion did not return" error.  This has been tested against two salt-masters and has carried through multiple versions of 2015.8.x.

Individual commands execute fine, only highstates generate this error.

It should be noted that minions installed via EPEL do not have this is

[2016-03-11 22:42] angystardust commented on #27381
Hi @nmadhok , any news on the state of the `create` function on the vmware driver?
Is cloning the only supported method to provision a new vmware vm with `salt-cloud`?

[2016-03-11 22:49] willkil commented on #24343
@dmurphy18 feel free to close.

[2016-03-11 23:14] #24343 closed

[2016-03-12 00:43] jfindlay commented on #31782
@geraint-jones-nz, thanks for reporting.  What did you change to cause this to stop working?  Will you post the SLS of the `no.None` state function that is causing the error and also post any related debug logs?  Does this also happen with a simple highstate?

[2016-03-12 00:48] jfindlay commented on #31783
@arthurlogilab, thanks for reporting.  Do you have any suspicions about what may be causing this?  Was `/dev/null` accidentally deleted somehow?  Is something deleting `/dev/null` and replacing it with an ordinary file?  I am running a 2015.8.7 master on debian 8.3 and `/dev/null` on the system is not a file.

[2016-03-12 01:04] jfindlay commented on #31791
@alexbleotu, thanks for reporting and excellent idea to use the trace logs for time markers.  We will be very interested to know what you find out.  If you get stuck, be sure to provide more specific information if you can think of any so we can try to reproduce this.

[2016-03-12 01:05] jfindlay commented on #31791
@alexbleotu, do you think this could be related to #31728?

Ping @cro

[2016-03-12 01:08] jfindlay commented on #31802
@JaseFace, thanks for reporting.

[2016-03-12 01:10] jfindlay commented on #31804
@howardroark, cool, thanks for posting.  We'll have to check that out.

[2016-03-12 01:26] howardroark commented on #31804
Happy to accommodate any feedback!  The goal is to help get a sense of what are issues are popular without having them fill up with "+1" messages.

[2016-03-12 01:56] iamseth opened #31841 "win_servermanager execution and state modules don't fully support Windows 2012"
### Description of Issue/Question
I'm trying to deploy Active Directory Services and DNS onto a Windows 2012 R2 machine using the win_servermanager state however it uses the older Add-WindowsFeature instead of the newer Install-WindowsFeature in Windows2012+. See [this article](https://technet.microsoft.com/en-us/library/jj205467%28v=wps.630%29.aspx) for documentation.

The 'IncludeManagementTools

[2016-03-12 03:37] damon-atkins commented on #31783
If deleted the first process running as root which wants to write to /dev/null will create it as a file and start filling it with data.    You need to find out what deleted it.

Some one may of configure some software running as root  to write to /dev/null because they did not want the output and did not realise the program deleted the file first before writing to it.

Search the system for script

[2016-03-12 05:51] godfryd commented on #29043
I understand your point. I could not use older version of Salt as it has bugs. Eventually we had to replace Salt with other similar tool as this was blocking issue for us.

[2016-03-12 07:08] tbaker57 commented on #31732
Ah - I can see this has been fixed in the 2015.8 branch in #31105 (and #30975), so I'm guessing it will be resolved in 2015.8.8 when it comes out.

cheers,
Tim

[2016-03-12 09:01] heini commented on #30434
Think the "Needs Testcase" label can be removed since I provided one [in my last comment](https://github.com/saltstack/salt/issues/30434#issuecomment-180978010).

[2016-03-12 11:01] angystardust opened #31842 "specify datastore/datastore cluster for each virtual disk in VMware driver"
It would be great to have the possibility to assign a different datastore/datastore-cluster to each disk device. That's really useful when you have different datastores using different underlaying storage technologies (SAS, SATA and Flash) and you want to separate guest-os data on faster or slower storage (for example: db datafiles should be on a SAS datastore and guest-os files should be on a SAT

[2016-03-12 11:11] alexbleotu commented on #31791
Hi, yes the other ticket refers to the same thing: Code in the sync grains caused an infinite recursion for proxies only. This is because in the handling of a module refresh ipc message,  sync_grains was invoked for proxies only. The refresh arg defaults to True, so the sync_grain triggers both a pillar refresh and a module refresh - thus entering in an infinite recursion.

Because it's message ba

[2016-03-12 11:16] angystardust commented on #30147
Maybe I'm wrong but I think that the `create` function is locked in Beryllium (2015.08) as you can read from this comment https://github.com/saltstack/salt/pull/27324#issuecomment-145947171

It seems that the function was unlocked in the (to be released) **Boron** release (2016.03) but I  haven't tested it yet.
https://docs.saltstack.com/en/develop/topics/cloud/vmware.html#creating-a-vm

[2016-03-12 12:24] crocket commented on #31788
`grain['os']` was `ManjaroLinux`
`grain['os_family']` was initially `ManjaroLinux`, but it somehow became `Arch` after doing various things with SaltStack.

However, `grain['os_family']` doesn't affect how `pacman.py` works.

[2016-03-12 13:36] es1o commented on #29043
I can't because I can't add official salt stack repository to my system because package from this repository broke my system. If I install python-tornado, Ubuntu will install your version from your repository and replace my stable python-tornado package version from LTS and broke my app.
In my opinion this is a serious problem because I can't use Salt to manage my infrastructure because this probl

[2016-03-12 15:11] Talkless opened #31844 "slspath is not documented"
Page https://docs.saltstack.com/en/latest/ref/states/vars.html does not have `{{ slspath }}` mentioned.

This is very useful variable I found in some github issue, but there is no documentation for it.

[2016-03-12 17:49] terminalmage commented on #29239
This seems to be related to https://github.com/saltstack/salt/issues/31293, which was caused by concurrent master funcs attempting to evaluate git_pillar at the same time and hitting a race condition. I have addressed this in [this pull request](https://github.com/saltstack/salt/pull/31836), which was opened last night.

Anyone who is willing to test can either use [this GitHub walkthrough](https:

[2016-03-12 22:22] rhansen opened #31849 "Custom extension module not loaded by orchestrate runner"
### Description of Issue

I have a custom execution module in my master's `module_dirs` directory, but that execution module does not appear to be loaded by the orchestrate runner.  This causes `salt-run` to print an error:

[code]

This issue seems similar to #30296 but I'm not sure.
### Setup

The master is configured as follows:
- `/etc/salt/master`:

[code]
- `/salt/modules/modules/roles.py` i

[2016-03-12 22:55] rhansen opened #31850 "saltutil.runner: "this function must be run on the master" documentation incorrect?"
The documentation for the [saltutil.runner](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.saltutil.html#salt.modules.saltutil.runner) function says that it must be run on the master:

However, the example shows it being run on all minions:

So can it be run on minions?

If it must only be run on the master, how does one do that?  If the master is also a minion with ID `master`,

[2016-03-12 23:40] rhansen opened #31851 "error using module.run -> saltutil.runner -> state.orchestrate: "The following arguments are missing: _fun""
### Description of Issue

If I create a state file that uses `module.run` to execute `saltutil.runner` to execute `state.orchestrate`, I get the following error:

[code]

### Setup

  * `/etc/salt/master`:

[code]

  * `/salt/base/states/foo.sls`:

[code]

  * `/salt/base/states/orchestrate.sls`:

[code]

### Steps to Reproduce Issue

Configure as described above and run the following on the maste

[2016-03-12 23:44] rhansen commented on #31851
I just noticed the following in the documentation for [saltutil.runner](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.saltutil.html#salt.modules.saltutil.runner):

Notice how the parameter name in the function signature is `_fun` but the documentation uses `name`.

If I change my `foo.sls` to this then it works:

[code]

[2016-03-13 01:11] valentin2105 commented on #31504
I tried to change this line with `from influxdb import InfluxDBClient`. Salt could not load the influxDB Returner.

[2016-03-13 04:24] rhansen opened #31854 "What is the difference between `salt-run state.orchestrate` and `salt master state.sls`?"
If I have a state file named `orchestrate.sls` that contains a bunch of calls to functions in the [`saltmod` state module](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.saltmod.html) (such as `salt.function` and `salt.state`), then what's the difference between running:

    sudo salt-run state.orchestrate orchestrate

and

    sudo salt master state.sls orchestrate

(assuming th

[2016-03-13 07:27] nixuser commented on #27355
Are you trying to use wheeze and squeeze on host system where salt-ssh is running?  Because I installed wheezy and tried to run simple test command and did't see this issue:
[code]
python-backports.ssl-match-hostname - copied  to target host as content of .tgz file. I guess you can use any distribution for target system.

[2016-03-13 10:00] hemebond commented on #14550
I'm currently testing out https://gist.github.com/hemebond/623f0cc1f14392d62d89 which discards duplicate keys when merging (done at the very bottom of the method).

[2016-03-13 18:01] brejoc commented on #31729
@jfindlay shouldn't this be closed with the merge?

[2016-03-13 19:09] rallytime commented on #31729
@brejoc GitHub will close this issue when the commit with the `Fixes #xxxxx` message is merge into the "default branch". In this case, salt's default branch is `develop`. So once your change merges all the way forward into the develop branch, this will close automatically. Otherwise you can close it by hand in the mean time.

[2016-03-13 20:36] babilen commented on #27355
The bug is about squeeze or wheezy target systems.

[2016-03-13 21:35] martinhoefling commented on #26784
There are already some modules which use boto3. Also a salt utility module for wrapping the connection exists: https://github.com/saltstack/salt/blob/e6d5d488455fe81c9cf36f1cdc5ddaf8a64c1bb0/salt/utils/boto3.py

[2016-03-13 22:12] sjorge commented on #21344
I hit this today on 2016.3-branch, it was a zombie process. I lost a while reading the docs for answer. Perhaps a small note would be nice.

[2016-03-13 22:28] hoonetorg opened #31858 "A module and a state for managing pcs (pacemaker configuration system)"
I created a module and a state for managing pacemaker/corosync clusters via pcs.
In the guidelines for PR's it is mentioned that an issue should be created first for discussions regarding the PR.
Here it is :)
PR follows...

[2016-03-14 01:00] geraint-jones-nz commented on #31782
I can honestly remember what was changed that broke this - sorry I know thats unhelpful. I have tried a few different versions from 2015.5 up to develop and I see it on all of them. I have no state `no.None` and this only happens when I do a `state.highstate` if I do `state.sls blah.blah` then its fine.

[2016-03-14 02:10] mrproper opened #31860 "file.managed defaults: changes string 'true' 'false' to 'True' 'False' inside template"
### Description of Issue/Question

When passing defaults to a file if the string is 'true' 'false' the resulting template file has those values as 'True' 'False'

If i do the grains call from within the jinja template the resulting value is 'true' 'false' as expected
### Setup

[code]
### Steps to Reproduce Issue

salt-call --file-root ~/foo state.sls foo saltenv=base --local
cat /tmp/foobar

[cod

[2016-03-14 02:15] mrproper commented on #31860
if i set the default value in the 'defaults' section of the state file to:
{% set true_var = salt['pillar.get']('true_var', '\'true\'') %}
{% set false_var = salt['pillar.get']('false_var', '\'false\'') %}

Then the resulting value is a literal 'true' 'false'

[2016-03-14 02:35] WangWenchao commented on #30099
has fixed on version 2015.8.7

[2016-03-14 02:40] iggy opened #31861 "virtualenv.managed requirements from salt:// path doesn't work"
### Description of Issue/Question

When trying to use the salt:// path support for the virtualenv.managed state, I get an error `CommandExecutionError: No such file or directory '/srv/sopel/requirements.txt'`
### Setup

[code]

Using `file.managed` to put the file down before the state and switching the requirements path to the local path makes it work.

[code]
### Error Message

[code]
### Versio

[2016-03-14 04:16] dmyerscough commented on #29533
Should be good.

[2016-03-14 04:16] #29533 closed

[2016-03-14 04:46] ninjada commented on #31757
Seems the bootstrap is broken, surprised theres not more noise. Anyway, hitting the same problem this morning... seems the issue is the fedoraproject repository link for saltstack-salt-epel-6.repo has changed....

Not sure why this repo's hosted under fedoraproject and don't know why fedora is changing its links but i updated my bootstrap-salt.sh file manually changing refs to copr.fedoraproject.o

[2016-03-14 04:55] ninjada commented on #31757
While on this topic is there a reason to have fedora hosting the saltstack repo files rather than something more permanent and salt controlled? This is at least the 2nd time in the last 6months a fedora link update & redirection has caused this issue -- and probably as many times where their domain is offline and things are also broken.

As I have numerous instances autoscaling and bootstrapped by

[2016-03-14 05:08] rhansen opened #31862 "Document that `cp.push` is insecure"
While trying to figure out how to securely copy a file from one minion to another, I did some digging into [`cp.push`](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.cp.html#salt.modules.cp.push) and discovered that:
- `cp.push` uses the `salt.transport.Channel.send()` method which is [not guaranteed to be confidential](https://docs.saltstack.com/en/develop/topics/transports/ind

[2016-03-14 05:22] rhansen opened #31863 "How to securely copy file from one minion to another?"
How do I use Salt to securely copy a sensitive file (a cryptographic key) from one specific minion to another specific minion?  I don't want any other minion to be able to read the file.
### Salt Mine?

The [Salt Mine](https://docs.saltstack.com/en/latest/topics/mine/) seems to be a logical place to start, but the documentation says:

I don't want the data to be made available to all minions, just

[2016-03-14 06:36] ivanwa opened #31864 "cp.push_dir can't matching specific files using globbing"
### cp.push_dir can't matching specific files using globbing

![1](https://cloud.githubusercontent.com/assets/6895983/13736551/6235a2ae-e9f0-11e5-8782-5a880a34a5ee.png)
### What's the glob matching rules?
### In the following cases it can work.

![2](https://cloud.githubusercontent.com/assets/6895983/13736555/68bcc814-e9f0-11e5-8b8b-3bdc14d8b388.png)
### Minion logs

![image](https://cloud.githubu

[2016-03-14 06:57] skandyla commented on #31530
Hi,
this error also very hard to debug. Since salt-ssh doesn't report which module caused it.

For example, what I start getting recently:

[code]

Debug logging doesn't help.

[2016-03-14 07:53] ShadowLightning opened #31866 "Cache remote file on master"
### Description of Issue/Question

We want to deploy .tar.gz files located at different HTTP servers to salt minions. states.file allows to give HTTP Servers as source. However, every minion will download from the given server. This is not possible in our setup due to firewall limitation. The minions are only allowed to speak with the salt master.

Is there a way to download the remote file to the

[2016-03-14 07:56] pouldenton commented on #30600
Unfortunately, the only thing we know, that there are some problems with config files, based on mine info. There aren't any specific errors in log, just reports about changes inside configs that shouldn't be changed (some mine data lost and then come back on the next highstate run). Not all minions removes from config at one time, only a part. Setting mine interval to 6000 doesn't resolve the prob

[2016-03-14 09:26] nixuser commented on #27355
When wheezy was installed on target system salt-ssh test.ping command completed successfully.   On host system I have Debian GNU/Linux 8.3 (jessie). Could you please provide steps to reproduce error and some details about salt version used in your environment?

[2016-03-14 09:28] pkruithof commented on #28161
This is happening in all pillar data:

[code]

This will resolve to `None`:

[code]

This will resolve to `baz`:

[code]

[2016-03-14 09:31] DmitryKuzmenko commented on #30914
@plastikos have you checked this with #29643 applied? The fix is merged into 2016.3 and not released yet.

[2016-03-14 09:37] pkruithof commented on #28161
It seems to have to do with the colon notation; from my previous example, this does work:

[code]

So it's not a problem with the `get` function per se, just the colon notation.

[2016-03-14 10:25] hemebond commented on #31860
That's how YAML works. Values true and false will be converted to the language equivalent unless you explicitly designate the values as strings.

[2016-03-14 12:19] babilen commented on #27355
For example:

[code]

[2016-03-14 13:03] damon-atkins opened #31867 "" __virtual__ returned False" is not a clear error message"
### Description of Issue/Question
" __virtual__ returned False" is not a clear error message.  A person needs to guess  the reason for the issue.  e.g. missing OS Package for example.

### Setup
[code]

If debug level message can indicate the issue then can't it be passed on. Or change the error level higher than DEBUG

Maybe each module needs to come with a meta data file, which list any requirem

[2016-03-14 13:28] damon-atkins commented on #29043
One thought is why does the salt minion need to use python-tornado? (other than consistency)
"Tornado can scale to tens of thousands of open connections, making it ideal for long polling, WebSockets, and other applications that require a long-lived connection to each user."

Would have thought the minion only needs a few connections?

However I assume something being used in python-tornado 3.x is

[2016-03-14 15:11] jfindlay commented on #15265
@gravyboat, @whytewolf, @ryan-lane

[2016-03-14 15:17] duk3luk3 commented on #31530
164 states looks a lot like it could be the same problem as mine (output too large).

[2016-03-14 15:23] techhat commented on #31757
Ah, so the problem probably is that the file is being copied over properly, but then being overwritten by the bootstrap script.

There are a couple of steps that could help confirm this. First off, the map that I posted above will help corroborate that answer. But using `--no-deploy` (to keep the bootstrap script from running) and then logging in to look at the files will also lend evidentiary sup

[2016-03-14 15:29] #15265 closed

[2016-03-14 15:36] duk3luk3 opened #31869 "salt-ssh UnicodeEncodeError: 'ascii' codec can't encode character u'\xfc' in position 9: ordinal not in range(128)"
### Description of Issue/Question

`salt/states/user.py` cannot cope with Umlauts. Either the input utf-8 type (from state file / pillar) gets lost, or there is a codec screwup somewhere.

[code]
### Setup

_Please provide relevant configs and/or SLS files (Be sure to remove sensitive info)._
### Steps to Reproduce Issue

[code]
### Versions Report

[code]

[2016-03-14 15:44] duk3luk3 commented on #31869
When the Umlaut is in the fullname and not in the name (uid), the bug reproduces only if the user already exists, because only then it actually tries to put the fullname into the result comment.

[2016-03-14 15:49] #29518 closed

[2016-03-14 16:12] jfindlay commented on #31811
@valentin2105, thanks for reporting.  ARM is not supported yet by repo.saltstack.com.  However, you can find salt packages for ARM in the official debian repositories.  It seems the bootstrap script will need to be updated to support this.

[2016-03-14 16:15] jfindlay commented on #31813
@jinlongwang, thanks for reporting.  How did you install salt?  Did you upgrade?  How many minion processes are running on the system?  Is it possible to reproduce this on a clean system?

[2016-03-14 16:18] jfindlay commented on #31816
@vutny, thanks for reporting.

[2016-03-14 16:19] jfindlay commented on #31821
@Rumbles, thanks for reporting.  This would be good to have.

[2016-03-14 16:32] rallytime commented on #31858
Thanks for filing this issue/request and for submitting the feature!

[2016-03-14 16:47] yannis666 commented on #29817
Any status update on this? We are really needing some 2015.8 features but this is blocking our uptake...

[2016-03-14 16:54] twangboy commented on #30099
@WangWenchao So, can this be closed?

[2016-03-14 17:10] beardedeagle opened #31873 "Salt-Api /ws throwing AttributeError's"
### Description of Issue/Question

When using the example python code (websocket-client code) from SaltStack's documentation for the `/ws` endpoint in salt-api I am receiving Handshake status 500 error. On the server the master log shows that the request is generating a AttributeError: 'KnownLengthRFile' object has no attribute '_sock'.
### Setup

/etc/salt/master.d/salt-api.conf:

[code]
### Step

[2016-03-14 17:16] jfindlay commented on #31822
@Xiol, thanks for reporting.  I can reproduce this
[code]
While trying to reproduce this on CentOS 5 (I misread your comment at first) I encountered another error.
[code]
[code]

[2016-03-14 17:34] jfindlay commented on #31829
@Reiner030, thanks for the feature idea.  The official debian packages are not maintained by saltstack, so they may not be up to date with the latest saltstack releases on repo.saltstack.com.  Also there is a [mailing list](https://groups.google.com/forum/#!forum/salt-announce) for salt announcements.

[2016-03-14 17:39] ssgward commented on #31862
@rhansen - thanks for the input.

[2016-03-14 17:41] ssgward commented on #31869
@duk3luk3 - thanks for sending this is.

Just out of curiosity, have you tried tried other salt versions or just 2015.5.3?

[2016-03-14 17:53] basepi commented on #24115
Nice, thanks for the verification!

[2016-03-14 17:53] #24115 closed

[2016-03-14 18:07] jfindlay commented on #31835
[code]
[code]

[2016-03-14 18:11] jfindlay commented on #31835
I have confirmed that this is specific to salt-ssh on 2016.3.  I have tested `salt-call --local grains.items` on this same branch and `salt-ssh '*' grains.items` on 2015.8.7 and both were successful.

[2016-03-14 18:16] jfindlay commented on #31837
@cmeisinger, thanks for reporting.  This seems to be similar to #31692.

[2016-03-14 18:27] jfindlay commented on #31841
@iamseth, thanks for reporting.  Probably the simplest and most maintainable thing to do would be to create a new module that provides win_servermanager, but only loads on > 2008, while leaving the existing module as it is.
[code]

[2016-03-14 18:35] jfindlay commented on #31842
@angystardust, thanks for the feature request.  @nmadhok, does this seem possible?

[2016-03-14 18:36] jfindlay commented on #31844
@Talkless, thanks for reporting.

[2016-03-14 18:38] rallytime commented on #31867
Thanks @damon-atkins - I've fixed this in #31878.

[2016-03-14 18:40] rallytime commented on #19659
@wonderslug I've fixed this in #31878 so that the error message is more helpful:
[code]

[2016-03-14 19:04] jfindlay commented on #31849
@rhansen, thanks for reporting.

[2016-03-14 19:09] jfindlay commented on #31850
@rhansen, thanks for reporting.  We should get this documentation fixed.

[2016-03-14 19:11] jfindlay commented on #31851
@rhansen, thanks for reporting.

[2016-03-14 19:14] jfindlay commented on #31854
@rhansen, according to my understanding they should achieve the same result.  The purpose of runners is so that you don't need a minion on the master system.

[2016-03-14 19:17] techhat commented on #31854
`state.orch` and `state.sls` are both aliases for `state.orchestrate`.

[2016-03-14 19:21] jfindlay commented on #31860
@mrproper, yes, @hemebond is correct.  One of the (dis)advantages of yaml is that it will interpret boolean-like values in this way.  This is usually defeated by quoting.

[2016-03-14 19:24] #31728 closed

[2016-03-14 19:31] beardedeagle commented on #31873
Ok so I did some more research and testing, it seems this issue only occurs if you enable stats reporting. As far as I can see there is no real way to solve this other than to disable stats reporting, which may not be an option for some people.

[2016-03-14 19:40] cro commented on #23007
Hi!  Can this issue be closed?  Thanks.

[2016-03-14 20:08] jfindlay commented on #31861
Thanks for reporting, @iggy.

[2016-03-14 20:24] jfindlay commented on #31863
@rhansen, good question and thanks for asking.  The canonical way to store secret data is in pillar.  You could salt a key file with pillar in this way:
[code]
Where the `:` character is used to scope into the pillar namespace you have setup for your pillar data.  See also https://docs.saltstack.com/en/latest/faq.html#is-it-possible-to-deploy-a-file-to-a-specific-minion-without-other-minions-havin

[2016-03-14 20:33] jfindlay commented on #31864
@ivanwa, thanks for reporting.  Salt's cp module [sends the glob expression directly](https://github.com/saltstack/salt/blob/v2015.8.7/salt/modules/cp.py#L770) into the fnmatch std python module, so it is possible the issue is there.

[2016-03-14 20:43] jfindlay commented on #31866
@ShadowLightning, this should be possible.  If you can get the file to the salt master somehow (`/srv/salt/app.tar.gz`), the master can deploy files to minions easily with `file.managed` or `archive.extracted`.
[code]

[2016-03-14 20:48] jfindlay commented on #31869
This still seems to be a problem on 2016.3, https://github.com/saltstack/salt/blob/v2016.3.0rc1/salt/states/user.py#L459.

[2016-03-14 20:49] jfindlay commented on #31873
@beardedeagle, thanks for reporting.

[2016-03-14 20:51] twellspring opened #31880 "external_auth global allow is not global"
### Description of Issue/Question

the global allow `- .*` under external_auth does not appear to give global access per the documentation when using salt-api
https://docs.saltstack.com/en/develop/topics/eauth/index.html
https://docs.saltstack.com/en/develop/topics/eauth/access_control.html#acl

Is this pattern `- .*` correctly documented?   Should it be `- '*':`

Looked for any open support reque

[2016-03-14 20:56] jfindlay commented on #31762
@arthurlogilab, thanks for the extra info.  You may have better fortune with the nova driver.

[2016-03-14 20:59] jfindlay commented on #31692
@PredatorVI, thanks for looking into this.  I am not familiar with this area of the codebase.  You may get more help by asking on the salt-users mailing list.

[2016-03-14 21:03] jfindlay commented on #31704
I know of no reason why there would be a difference.  If you have changes that would generally benefit either external pillar, you are welcome to submit a pull request.

[2016-03-14 21:09] jfindlay commented on #28016
@bemeyert, I have marked this at the highest priority to be fixed, but we have not allocated resources from saltstack to work on this yet.

[2016-03-14 21:10] jfindlay commented on #26879
@pkruithof, https://github.com/saltstack/salt-pack/

[2016-03-14 21:14] jfindlay commented on #31732
@tbaker57, 2015.8.8 should be coming out in the next few weeks.

[2016-03-14 21:15] jfindlay commented on #30434
@heini, the `Needs Testcase` label means that there should be a test written for this as part of the automated testing of salt.

[2016-03-14 21:17] jfindlay commented on #31791
@alexbleotu, excellent.  Be sure to ping @cro when you've got it ready.

[2016-03-14 21:22] jfindlay commented on #31782
@geraint-jones-nz, thanks for looking.  I'm mildly suspicious that the `None` part of `no.None` may be the result of some tornado issue.  If you can consistently reproduce the issue, is it possible for you to provide debug logs for when this happens?  Thanks

[2016-03-14 21:34] jfindlay commented on #31530
Especially since the second highstate run is very likely to contain less output than the first.

[2016-03-14 21:34] alexbleotu commented on #31791
@cro already submitted a pull request with the fix.

[2016-03-14 21:37] ramspoluri opened #31881 "Install only salt-minion & proxy with pip"
### Description of Issue/Question

Install only salt-minion & proxy with pip

While installing using pip or from the source, it installs both salt-master and salt-minion related stuff. Looking for an option to install  **only** salt-minion & proxy.

[2016-03-14 21:43] valentin2105 commented on #31811
Thanks for your answer, I opened this : https://github.com/saltstack/salt-bootstrap/issues/774

[2016-03-14 21:43] #31811 closed

[2016-03-14 21:50] geraint-jones-nz commented on #31782
Sure, Here they are (don't look particularly helpful to me)

[code]

[2016-03-14 21:51] iamseth commented on #31841
OK, makes sense to me. I'll get started on a PR.

[2016-03-14 21:51] geraint-jones-nz commented on #31782
Oh no they were insightful....

`Unable to render top file: Illegal tab character` - facepalm :)

[2016-03-14 22:03] rhansen commented on #31854
Thank you for the answers!

[2016-03-14 22:03] #31854 closed

[2016-03-14 22:04] jfindlay commented on #31791
@alexbleotu, thanks.  Do you think this could be closed?

[2016-03-14 22:06] jfindlay commented on #31757
I shall try to remain proper and not claim presumptive credit for my rightness.

[2016-03-14 22:07] alexbleotu commented on #31791
Yep. Thanks!

[2016-03-14 22:07] jfindlay commented on #31782
Nice, I'm glad you were able to figure it out in any case. :-)

[2016-03-14 22:08] #31791 closed

[2016-03-14 22:31] #31782 closed

[2016-03-14 22:58] teran-mckinney commented on #10271
This would be great!

I worked on this problem a while back: https://github.com/thousandeyes/kilopass

You probably want a salt per environment, a standard type of password that you generate, and to append garbage data so you guarantee you aren't sending a password that someone would reject. Probably append: !1aA to every generated password. Since it's random, 12-16 characters may be plenty as the

[2016-03-14 23:00] rhansen commented on #31863
@jfindlay:  Thank you for your answer.  I do know how to use pillars to securely create files.

The problem is that pillars only work if the data is known to the master.  In my scenario, the sensitive file is programmatically generated (and periodically regenerated) on one of the minions, not the master.  Thus, in order to share the data via a pillar, the master must first fetch the data from the

[2016-03-15 02:03] teran-mckinney commented on #10271
I came up with a way to do this. You don't *have* to generate the password on the master, but that can be ideal.

You would supply saltpass:salt via a secure pillar and use jinja for the logic, separating out access by host name and role, perhaps. Then give it the salt for anything it should be able to access. So you may have a salt for web boxes in dev and in prod, or a salt for dns hosts overall

[2016-03-15 03:50] damon-atkins commented on #31867
Might be a bit better if you mention psutils is a python module  (vs a binary or something else)

The ps module cannot be loaded: python module psutil not installed.

Thanks for fixing it.

[2016-03-15 04:04] mrproper commented on #31860
The reason im raising it is because depending on how the pillar is loaded the end value is different
doing:
[code]
results in 'true' vs 'True'

[2016-03-15 04:32] terminalmage commented on #31293
For those who didn't catch this the other day, I opened a PR to fix this on Friday: #31836.

[2016-03-15 04:42] damon-atkins opened #31889 "win_pkg: pkg.upgrade no error message from master for unsupported feature"
### Description of Issue/Question

[code]

vs

[code]

The other issue is the doco do not say its not implemented yet.
i.e. I did "salt server  sys.doc pkg"   to make sure I could do it, before I spent time trying to do it.
### Versions Report

_Provided by running_ `salt --versions-report`

[code]

[2016-03-15 06:03] josuebrunel commented on #28503
Hi guys, is this fixed yet ?

[2016-03-15 06:07] ShadowLightning commented on #31866
@jfindlay thanks this will help. However, have you a hint about that "somehow"? ;-) I could not find a way to download a file locally to the master with salt during a state run.

[2016-03-15 07:07] PKiman commented on #28766
The issue seems to be fixed after upgrading from in salt-could 2015.8.1 to salt-could 2015.8.7.
After spawning a new machine the old minionid is still listed in Unaccepted Keys. web-alpha-03-dev.local and ip-172-31-42-164.us-west-2.compute.internal belongs to the same machine.
This is a minor issue, I just need to delete those manually.

sudo salt-key -L
Accepted Keys:
web-alpha-03-dev.local
Unacc

[2016-03-15 08:07] pkruithof commented on #26879
I'm running a VM with Ubuntu 15.10, with the 14.04 repo (`deb http://repo.saltstack.com/apt/ubuntu/14.04/amd64/latest trusty main`), and that installs `2015.8.7`:

[code]

[2016-03-15 08:16] vutny commented on #31034
@eliasp Hm... This is very strange. You're right, the manual doesn't describe explicit possibitily to use variable substitutions in `restart` specifier.
But I'm running a lot of CentOS 7 systems and everywhere `salt-minion` unit works just fine.

There is small chance, that somehow during upgrade/installation `systemd` hasn't seen or was unable to read the `/etc/default/salt-minion` file.
Have you

[2016-03-15 08:31] hemebond commented on #31860
Your examples are very confusing.

If `{{ salt['pillar.get']('true_var', 'true') }}` is just in a template file used as a source for _file.managed_ or something, then it will put the word **true** which will end up in your file on the minion.

If `{{ salt['pillar.get']('true_var', 'true') }}` is in a state file, then it will put **true**, and then the file will be parsed by the YAML parser which w

[2016-03-15 08:44] eliasp commented on #31034
@vutny I made sure to execute `systemctl daemon-reload` - so systemd definitely "knew" about the content of the `EnvironmentFile=`.

It's not like `salt-minion` doesn't work - it starts & works just fine - it's just a warning the service's journal.

[2016-03-15 09:18] vutny commented on #31034
@eliasp I saw above someone filled the issue with exactly the same problem, but for me it looks like something related to the SystemD, and has nothing to do with `salt-minion` unit.

This is one of my CentOS7 machines:
[code]

By the way, do you use SELinux?

The bad thing about this issue: where is no clear way to reproduce it, at least for me.

[2016-03-15 09:35] damon-atkins opened #31890 "salt/fileclient.py get_url should include the URL in any error message"
### Description of Issue/Question
get_url should include in any error the original URL its trying to fetch, which will help with problem solving.
Thanks
PS Might be worth checking fileclient.py in general that most errors return the filename/url which is the issue.
### Setup
*Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).*

### Steps to Reproduce Issue
[code]

[2016-03-15 09:45] bagratte opened #31891 "Feature request: support timezones in cron.present"
Example:

[code]

I imagine this would prepend a CRON_TZ='America/Denver' to the crontab entry and append a CRON_TZ="" to it, like so:

[code]

Note that this is different from `cron.env_present` which sets environment for the entire crontab. What this request aims to accomplish is having a crontab in multiple timezones, like this one:

[code]

I don't know if all variants or versions of cron supp

[2016-03-15 09:51] nixuser commented on #27355
Could you find in  cache directory file thin.tgz and check that it contains ssl_match_hostname.py ?
in my case it looks like
[code]

[2016-03-15 10:25] mrproper commented on #31860
If you look at my original test case in the ticket it shows exactly the
results I'm talking about. Ie doing a pillar get inside a template vs
passing it to a Jinja template in a file.managed defaults results in 2
different results
On 15 Mar 2016 7:32 PM, "hemebond" <notifications@github.com> wrote:

[2016-03-15 10:28] hemebond commented on #31860
Okay I think my previous explanation is accurate.

[2016-03-15 10:35] briner opened #31892 "ipv6 for http://debian.saltstack.com/debian/dists/jessie-saltstack/"
### Description of Issue/Question
All my machines get an ipv6 address at first boot. I try to download the latest version of salt (nicely) packaged for debian on debian.saltstack.com. Unfortunately, the repository on http is only accessible on ipv4.

### Setup
take a machine with only the ipv6 stack enabled an no ipv4

### Steps to Reproduce Issue
[code]

[2016-03-15 10:43] DmitryKuzmenko commented on #3077
Here is an example of usage:
[code]

[2016-03-15 11:07] herisanu commented on #23007
:+1: it works for me.  cElementTree.ParseError was because i didn't tell it return_bin.

[2016-03-15 11:13] NaveenJain2010 opened #31894 "Helpful for user to get the status of completion of activities as soon as each getting completed apart from showing the final summary in last."
### Description of Issue/Question

I'm working on to automate the installation of openstack liberty release using salt while testing the implementation in which so many individual installation and configuration going to be executed.
salt provides the status of each activity as the summary of the execution after completing all the steps which are going to be installed/configured.
Final summary whic

[2016-03-15 11:25] alexbleotu commented on #30779
@cro the startup messages complaining about grains was fixed, however the injection wasn't (i.e. the __salt__ or __proxy__ variables can't be accessed from the grain modules)

[2016-03-15 11:34] Tanoti opened #31895 "state.pkg.group_installed not using enablerepo in repoquery command"
### Description of Issue/Question

The state.pkg.group_installed function is not using the supplied enablerepo option when running the underlying repoquery on the minion to list the packages that make up a group.

To clarify, for security we keep most yum repos in our master Pulp system disabled and use the "enablerepo" option in the state.pkg module to activate all the repos beginning with "ccs-"

[2016-03-15 11:58] Rucknar commented on #14917
@basepi I'm no longer using saltstack as i've changed jobs. Do you want me to keep this ticket open or close it off?

[2016-03-15 12:02] babilen commented on #27355
I get the following:

[code]
So there is obviously something missing.

[2016-03-15 12:13] afletch commented on #25617
Since #11415 added this functionality to execution module yumpkg, there is now unexpected feature disparity between the pkg state and the yumpkg execution module. The labels of this issue should include state module, surely?

[2016-03-15 13:34] bemeyert commented on #28016
@jfindlay Well, I'm sorry to hear that. But thanks for the info.

[2016-03-15 13:46] maxhq commented on #31034
Maybe it has to do with the systemd version used?

[2016-03-15 15:15] rallytime commented on #28766
Thanks for the updates @PKiman. I'm glad there is an easier solution after the upgrade. I think we should still look into why two IDs are present, even if one is just in the list of unaccepted keys.

[2016-03-15 15:20] briner commented on #31892
oups this bug is already open on #11276

[2016-03-15 15:20] #31892 closed

[2016-03-15 15:43] johnccfm opened #31897 "Unhelpful error - needs improving"
While trying to run a state.highstate on a new minion, I was getting this output:-

[code]

After adding some debugging code, I narrowed it down to an indentation error in my YAML state, like this:-

[code]

The "shared.cloudyn" line is wrong, but it's not easy to spot!

The failing code is in state.py and is:-

[code]

This could be improved with something like:-

[code]

Untested!

[2016-03-15 16:03] techhat commented on #23007
It sounds like this can be closed.

[2016-03-15 16:03] #23007 closed

[2016-03-15 16:16] saravanakumar-periyasamy opened #31899 "boto_route53.present fails when a CNAME has 'identifier'"
### Description of Issue/Question
boto_route53.present state fails when a CNAME has 'identifier'

[code]
### Setup

Hers is the state file that I use

[code]

### Steps to Reproduce Issue

When I run the above state for first time, it works fine, it creates a CNAME with identifier. But when I try to run the state again, it errors out with the above error.

### Versions Report
[code]

[2016-03-15 16:55] rallytime commented on #31867
@damon-atkins Ok - I've added "python module" to the warning in #31900.

[2016-03-15 18:49] nixuser commented on #27355
It is strange that backports/ssl_match_hostname/__init__.py  file missing. However  this is other issue not related to target machines. Something goes wrong during thin.tgz preparation, but I can't reproduce it on my environment. Do you have python-backports.ssl-match-host installed from pip or deb package? Try to remove  thin.tgz and re-run command one more time.

[2016-03-15 19:01] aabognah opened #31907 "pillars not updated on minions until salt-minion is restarted"
### Description of Issue/Question

When using git_pilalr, if I make a change to the pillar data on the repo and run:

`salt '*' saltutil.refresh_pillar`

The pillar data is not updated. only if the minion is restarted that new pillars show up when I run

`salt '*' pillar.item pillar_name`

the git_pillar config file in /etc/salt/master.d/pillar_config.conf:

[code]
### Steps to reproduce:

I am no

[2016-03-15 20:07] jfindlay commented on #31881
@ramspoluri, thanks for the feature request.  When salt installed either from a package or from pip, the majority of the install is code common to the component commands.  The salt-master package, for example, only installs the salt-master python script, the example master config, salt-master service, and a few other miscellaneous things, so not installing the master would only remove a few files.

[2016-03-15 20:11] jfindlay commented on #31889
@damon-atkins, thanks for reporting.

[2016-03-15 20:27] jfindlay commented on #31890
@damon-atkins, thanks for reporting.  This would be useful to have.

[2016-03-15 20:29] jfindlay commented on #31891
@bagratte, thanks for reporting.

[2016-03-15 20:41] jfindlay commented on #31894
@NaveenJain2010, thanks for reporting.  The problem with this idea is that with multiple minions returning data asynchronously, it will be difficult to identify which state run came from which minion.  It is relatively easy to write an outputter for your custom needs, though.  See the full [list of builtin outputters](https://docs.saltstack.com/en/latest/ref/output/all/) for examples.  You can als

[2016-03-15 20:46] jfindlay commented on #31895
@Tanoti, thanks for reporting.

[2016-03-15 20:48] jfindlay commented on #31897
@johnccfm, thanks for reporting.  If you have an opportunity to test your fix, you are welcome to send in a pull request.

[2016-03-15 20:53] jfindlay commented on #31899
@saravanakumar-periyasamy, thanks for working on this issue.

[2016-03-15 20:59] jfindlay commented on #31907
@aabognah, thanks for reporting.  What happens when you do `salt '*' pillar.get pillar_name`?

[2016-03-15 21:00] jfindlay commented on #31880
@twellspring, thanks for reporting.

[2016-03-15 21:03] jfindlay commented on #28503
@josuebrunel, not that I know of.  @kt97679, did you get a chance to test your fixes?

[2016-03-15 21:05] jfindlay commented on #31866
@ShadowLightning, without knowing much about your network, I can only assume that you can get an external file from somewhere on the general internet.  From that point, you can use cp.push to send the file to the master and then distribute it to the minions that need it.

[2016-03-15 21:08] jfindlay commented on #31860
@hemebond, I think in the second case if you quote the jinja expression to protect it from yaml interpretation it should remain `true`.

[2016-03-15 21:11] hemebond commented on #31860
That's right. If it ends up in the SLS with quotes then it will be interpreted as a string.

[2016-03-15 21:12] kt97679 commented on #28503
@jfindlay my fixes work for me, but unfortunately salt implementation uses very obscure and nontrivial techniques so I'm not 100% that my fix is absolutely correct.

[2016-03-15 21:29] jfindlay commented on #31863
@rhansen, you could use `salt-ssh -r` to copy the file to the master, or create a limited ssh user account on the master to securely receive files.

[2016-03-15 21:30] jfindlay commented on #31863
@rhansen, you could also create a secure git repo on that minion that serves as a git pillar for the master.  That way you can let git handle the transport and the security issues.

[2016-03-15 21:51] ShadowLightning commented on #31866
@jfindlay right, I get the file from an remote internet server. According to https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.cp.html#salt.modules.cp.push cp.push seems to copy a file from minion to master and not downloading it from an HTTP server or am I wrong here?

[2016-03-15 22:20] basepi commented on #14917
I think since we haven't seen any similar requests from anyone else we can close it out. Thanks for following up, @Rucknar!

[2016-03-15 22:31] jfindlay commented on #31866
@ShadowLightning, correct.  A better solution might be to use [minionfs](https://docs.saltstack.com/en/latest/topics/tutorials/minionfs.html) to distribute the file from one minion to others.

[2016-03-16 00:26] retrry opened #31913 "Don't run state.highstate if not all gitfs remotes are available in cache"
### Description of Issue/Question

I'm using Saltstack with Vagrant, but I've hit a problem, where on first run state.highstate fails, because not all gitfs roots are pulled from repository.

I have Salt master configuration, which heavily uses saltstack-formulas and I keep them in git repositories (I have configured 8 gitfs_remotes). All of them are used, when configuring development environment.

[2016-03-16 02:03] saravanakumar-periyasamy commented on #31899
@jfindlay not a problem, I have had this fix on my local environment for long time... was little lazy to commit here!

[2016-03-16 02:12] MIBc opened #31915 "How __opts__ created?"
If modify /etc/salt/master, the new config will not take effect when use salt-api unless restart it. The reason is that __opts__ used by salt-api is not updated, so my question is how __opts__ created and how to update it in real time.

[2016-03-16 02:17] deamen commented on #27400
This bug is back in 2015.8.7, 2015.8.5 is fine.

----------
          ID: java-1.8.0-openjdk.x86_64
    Function: pkg.installed
      Result: False
     Comment: The following packages failed to install/update: java-1.8.0-openjdk=1.8.0.65-3.b17.el7
     Started: 12:36:34.861717
    Duration: 203959.475 ms
     Changes:
              ----------
              java-1.8.0-openjdk:
                  --

[2016-03-16 02:21] whiteinge commented on #31915
Both the Salt Master daemon and salt-api daemon must be restarted whenever the master config is changed. This is a long-standing feature request: #570.

Modifying `__opts__` at run-time is not possible for many things and very tricky for others. Though we do make _very_ occasional use of that in core.

[The __opts__ dictionary is generated with these functions](https://docs.saltstack.com/en/latest

[2016-03-16 02:38] #31899 closed

[2016-03-16 03:39] rhansen commented on #31863
All of these options require extra manual setup steps on both the master and the minion.  Given that the master and minions already have each other's Salt keys, and there is a `salt.transport.Channel.crypted_transfer_decode_dictentry()` method designed to securely move data, I was hoping there was already some high-level mechanism to securely fetch data from a minion.  It sounds like the answer is

[2016-03-16 06:10] ShadowLightning commented on #31866
@jfindlay Would that mean, that I need to download the file on one minion? It would be much nicer if the file would be downloaded to the master. The process should be, e.g. for this state:
[code]

Then the following should happen:

1. Salt Master looks for file.tar.gz in his cache. If it is not there, download it from http://server.net
2. Distribute the master side cached file.tar.gz to minions.

[2016-03-16 06:59] Inveracity opened #31916 "[feature] load beacon for windows"
### support for load beacon on windows

Since 2015.8.0 _status.cpuload_ has been available for windows and I was thinking it would be neat to have it made available as a beacon similar to the linux implementation.

Also, I'd love to be able to write my own beacons similar to writing custom runners and modules

Currently I use a schedule to run psutil.cpu_percent(interval=10) to achieve the same go

[2016-03-16 07:43] jfindlay commented on #31863
@rhansen, your assessment seems valid to me.  I am not very familiar with that part of the code base.  @cachedout may have more/better advice.

[2016-03-16 07:57] jfindlay commented on #31866
If you can download directly onto the master, that would definitely be simpler.  It would still be a two step process, where you would have to refresh the file on the master, perhaps with a minion running on the master and then serving that file out to minions.  This may not be too bad if the file need not be updated as often as it is distributed.  For example:
[code]

[2016-03-16 09:05] Rucknar commented on #14917
No worries, thanks @basepi!

[2016-03-16 09:05] #14917 closed

[2016-03-16 09:22] vutny commented on #31034
I have this version running without any issues:
[code]

[2016-03-16 10:20] graffic commented on #30255
I just had the same problem with the same package: mysql community server. `apt-get` becomes a zombie. In this case the formula is hand made.

If you run the commands without salt, mysql installs without a problem.

One thing that the mysql-community-server package does is to output some dots while it configures and install. Perhaps that confuses salt.

[2016-03-16 10:31] isbm commented on #30146
Guys, fixed: https://github.com/saltstack/salt/pull/31745
Enjoy.

[2016-03-16 11:30] babilen commented on #27355
I don't have `python-backports.ssl-match-hostname` installed at all, but I looked into this further.

Deleting `thin.tgz` did indeed cause salt to re-generate it and it did include `backports/ssl_match_hostname/__init__.py` this time around. I am not sure what caused it to be missing in the first place though.

Unfortunately I had to login to the minions manually and delete `/tmp/.$USER_$RANDOM_sa

[2016-03-16 11:38] alexbleotu opened #31917 "Should log folders be created with global read perms?"
### Description of Issue/Question
The log folders and the log files for the master and the minions are created without global read permissions. Should that be the case, considering that other people would be interested in the logs.

**Note:** The workaround is to pre-create the paths and the log files with the correct permissions and then the processes simply append to the files, but this requires

[2016-03-16 11:41] shinshenjs opened #31918 "Multiple top file messing up the sequence of states"
### Description of Issue/Question

When using multiple environments of same top file, the ordering in top file is messed up. As the code are coming from git, the top file is pretty much the same across branches. I did not use gitfs because we have a differnt way to deploy the codes.
### Setup

Having this issue on both --local and master setup.

config:

[code]

top file on both base/dev env

[cod

[2016-03-16 12:04] babilen commented on #31918
I'd *strongly* recommend to use a single top file only and to keep it separate from the rest of your states.

[2016-03-16 13:01] rasathus commented on #29983
I've just been caught out by this one, finding that the replica count and new bricks aren't being updated as expected.

@joejulian , are you still working on this one ? if you've not got time I might be able to take a look.  Have you got any work in progress code around ?

[2016-03-16 13:49] aabognah commented on #31907
`salt '*' pillar.get pillar_name ` return the old pillar value.

[2016-03-16 14:20] Oro commented on #10688
Hi @basepi,

I was wondering if this is still in consideration (I ran into an issue with many "dangling" jobs today), which I just wanted to kill. A bit of bash and vi trickery got me close, however having an easy way to kill multiple jobs on multiple minions at once would help me a bit.

[2016-03-16 14:33] masterkorp commented on #21370
Hello,

Is there any progress on this issue?
@Xiol workaround works, but its not practical  o use if you have many formulas that use default values like ``myformula/map.jinja``.

[2016-03-16 15:11] briner opened #31920 "salt-minion debug do not tell that it can not connect to master"
### Description of Issue/Question
salt-minion -l debug shows
[code]

when a telnet -6 [fd69:620:600:b00:250:56ff:feb6:bd2] gave
[code]

It could be nice if the minion instead of saying that "it can not authenticate" say "unable to connect".

[2016-03-16 16:13] sastorsl commented on #30288
Looks like https://github.com/saltstack/salt/issues/18563
+1 from me.

[2016-03-16 16:15] fabosi commented on #24438
@jfindlay, I stumbled over some similar issues, recently. After searching and reading arround some of the issues here, I haven't manged it to work, yet.
Since this is my first comment on github, I apologize if I've done something wrong and it's completely my fault why my state isn't working.

What I'm trying to do in a short:
- manage users on a debain salt minion from a debian salt master
- pilla

[2016-03-16 16:47] joejulian commented on #29983
I am working on this, but I've got nothing to share yet. Right now I'm stalled for a product deadline at work, and trying to get my slides together for [Incontro DevOps Italia](http://www.incontrodevops.it/events/idi2016/). I'm hoping to get some more work done next week and I'll push whatever I have at that time. I'd be happy to collaborate. Hit me up at the end of next week in #gluster on freeno

[2016-03-16 17:33] cachedout commented on #31897
This code looks exactly right. I'll toss it in.

[2016-03-16 17:44] basepi commented on #10688
This is still an approved feature. But I know the core engineers are super busy working on bugs and haven't had a lot of time for feature work.

[2016-03-16 17:45] basepi commented on #21370
You can also set `extra_filerefs` in your master config so you don't have to pass them on the command line. Those files will be sent with all state runs.

[2016-03-16 17:53] mallniya opened #31923 "Package is not assumed as needed to update while revision is incremented"
### Description of Issue/Question
Situation is pretty simple:
on target host loader02 there is following version of package:
[code]
Version 1.2.1, revision 14. At the same time newer package is available:
[code]
Version 1.2.1, revision 15, i.e. more recent.
So if I run `sudo salt loader02.profile.rambler.ru state.apply packages saltenv=production test=true` I naturally expect this package to be up

[2016-03-16 18:02] jfindlay commented on #31916
@Inveracity, thanks for reporting, this would be great to have.

[2016-03-16 18:09] jfindlay commented on #31917
@alexbleotu, thanks for reporting.  The salt log files are world unreadable as a basic measure of security because it is possible they will contain sensitive information.  Because of this we cannot support making this change.  Your best option would be to change the permissions after (or before it seems) you install salt.  You can even use salt to do this `salt '*' state.single file.managed /var/l

[2016-03-16 18:16] jfindlay commented on #31918
@shinshenjs, thanks for reporting.  If you don't need multiple top files, it will be easier to use one as @babilen indicates.

[2016-03-16 18:19] jfindlay commented on #31920
@briner, thanks for reporting.  This would be a useful feature.

[2016-03-16 18:35] jfindlay commented on #30146
Thanks, @isbm.  Can anyone else verify that this fixes the issue?

[2016-03-16 18:40] jfindlay commented on #31907
@aabognah, thanks for confirming.  This is possibly related to #23391 and  #25160.

[2016-03-16 18:41] shorawitz opened #31925 "salt minion* pkg.upgrade refresh=True,dist_upgrade=True fails"
Using Ubuntu master/minions, `pkg.upgrade refresh=True,dist_upgrade=True` returns False.  It seems the `refresh=True` is either ignored.  'pkg.refresh_db' must be run manually for success.
### Setup

No special setup.  From master issue 'salt' command with appropriate options
### Steps to Reproduce Issue

`salt minion* pkg.upgrade refresh=True,dist_upgrade=True`
This returns false every time.

`sa

[2016-03-16 18:42] ramspoluri commented on #31881
Thanks, Justin. As you suggested, I will create custom pip package for my requirement.

[2016-03-16 18:42] #31881 closed

[2016-03-16 18:50] jfindlay commented on #31913
@retrry, thanks for reporting.  I am not sure there is a reasonable way to do this with salt, since the minion requesting the highstate does not know what state the master is in.  Your best option may be to wait for the master to finish bootstrapping before setting up any minions.

[2016-03-16 18:52] afletch opened #31927 "pkg.installed compares version including package epoch (pkg.version problem?)"
The repoquery format salt uses for `pkg.version` is `'%{NAME}_|-%{EPOCH}_|-%{VERSION}_|-%{RELEASE}_|-%{ARCH}_|-(none)\n'`, and this gets translated through salt into a format that means some `pkg.version` responses are:
`1:1.0.1e-51.el7_2.4`
and others are
`1.0.1e-42.el6_7.2`

I'm sure this is, on it's own, undesired, since it makes version comparison unexpectedly difficult given the format change

[2016-03-16 18:54] jfindlay commented on #30288
Thanks, @sastorsl, I should have seen that one.

[2016-03-16 18:54] #30288 closed

[2016-03-16 19:22] jfindlay opened #31928 "useradd module fails on unicode input"
_(Copied from https://github.com/saltstack/salt/issues/24438#issuecomment-197405000.)_

What I'm trying to do in a short:
- manage users on a debain salt minion from a debian salt master
- pillar data contains a user's surname with a german umlaut 'ü'
- state uses user.present and the surname from pillar data is used in the fullname argument
- state.highstate fails with "'ascii' codec can't encode

[2016-03-16 19:25] jfindlay commented on #24438
@fabosi, thanks for the excellent report.  Since your issue seems to be arising from a different place in the code I have created a new issue, #31928.

[2016-03-16 19:49] cachedout commented on #31920
This has already been implemented and will be available in the release of Salt code-named 'Carbon'. See  #31794.

As a result, I'm going to go ahead and close this since there's nothing more to do here.

[2016-03-16 19:49] #31920 closed

[2016-03-16 20:24] briner commented on #31920
Oups, sorry for the double post.

Happy to hear that this is already implemented as I *lost* a bit of time on this topic.

[2016-03-16 20:52] dmurphy18 commented on #27511
@jfindlay @dragonpaw @yermulnik

To resolve this issue, we had to on Ubuntu 14.04 do a 'apt-get dist-upgrade' to pickup the latest changes needed for the ca-cert handling.  Then the correct line in saltstack.list from rep.saltstack.com for Ubuntu would be
     deb http://repo.saltstack.com/apt/ubuntu/14.04/amd64/latest trusty main

however after install apt-transdport-https tried
    deb https://r

[2016-03-16 21:40] cachedout commented on #31863
Hi @rhansen

Your assessment thus far is correct. With pillars, the master replies with the pillar after having encrypted it using the minion's key, thus guaranteeing confidentiality. However, other operations on the REQ channel use the shared AES secret as you've already noted.

One thing we could do here would be to have `cp.push` encrypt the data using the minion's key prior to sending it and t

[2016-03-16 21:44] gravyboat opened #31931 "Ordering States documentation should note top.sls adheres to this rule"
https://docs.saltstack.com/en/latest/ref/states/ordering.html#state-auto-ordering should be updated to note that the `top.sls` also follows this rule. I know it's a state file, but explicitly noting this would be good.

[2016-03-16 22:02] sc250024 commented on #31931
Yes!

[2016-03-16 22:11] #31897 closed

[2016-03-16 22:20] cachedout commented on #31742
This isn't an issue that we're going to consider a bug as Salt is simply _not_ designed to be run this way. There's no documentation that I'm aware of that suggests that Salt minions should operate as you've described.

[2016-03-16 22:36] cachedout commented on #31748
Hrm, this sounds like maybe stale *.pyc files in your python install or something that's gone haywire with your installation of psutil. Can you replicate this on multiple machines? How did you install the psutil package on your system?

[2016-03-17 00:07] MoonSweep opened #31936 "Compile error if trying to match against a non-existing custom grain (list ?)"
I have this test in one of my sls file:

[code]

This sls file is triggered by a simple grain match (on os:Debian) in top.sls:

[code]

I tried to execute highstate on a new host before setting any roles (so the "roles" grains list doesn't exist yet on this host), and expected my basic Debian highstate to be run (most of the other matches in top.sls are based on roles), but I get this error on the

[2016-03-17 01:52] gzcwnk opened #31937 "cannot get salt to replace a file,"
What am I doing wrong here please?  the file does not get replaced with my new file, code is below,

=======
-bash-4.1# more rsyslog.sls

#rhel6
{% if grains['oscodename'] == 'Santiago' %}

/etc/rsyslog.conf:
  file.managed:
    - source: salt://6-rsyslog.conf
    - source_hash: md5=69d454b5d8594b2b606886203e4c3db2
    - user: root
    - group: root
    - mode: 644
    - backup: minion

{% endif %

[2016-03-17 02:01] gzcwnk commented on #31937
actually wrong code will redo.

[2016-03-17 02:01] #31937 closed

[2016-03-17 02:08] gzcwnk opened #31938 "cannot get salt to replace a file"
What am i doing wrong please?  for some reason the file does not get added to the server...
# my code is,

[code]
#

run looks like this,
#

[code]
#

[2016-03-17 02:11] gzcwnk commented on #31938
[root@vuwunicogsadbc1 etc]# rpm -q salt-minion
salt-minion-2015.8.7-1.el7.noarch
[root@vuwunicogsadbc1 etc]#

====
-bash-4.1# rpm -q salt-master
salt-master-2015.8.7-1.el6.noarch
-bash-4.1#

[2016-03-17 02:14] gzcwnk commented on #31938
running salt-minion -l debug I can see my code comes up as blank?

==========
8><--------
[DEBUG   ] Rendered data from file: /var/cache/salt/minion/files/base/rsyslog2.sls:
rsyslog-logsetup:
  cmd.run:
    - name: 'mkdir -p /var/rsyslog'

rsyslog-backup:
  cmd.run:
    - name: 'mv /etc/rsyslog.conf /etc/orig-rsyslog.conf'

syslog-backup:
  cmd.run:
    - name: 'mv /etc/syslog.conf /etc/orig-syslo

[2016-03-17 02:40] gzcwnk commented on #31938
======
-bash-4.1# salt -l debug -t 3600 vuwunicogsadbc1.ods.vuw.ac.nz grains.item os osrelease oscodename
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: vuwunicorhsat03.vuw.ac.nz
[DEBUG   ] Missing configuration file: /root/.saltrc
[DEBUG   ] Configuration file path: /etc/salt/master
[WARNING ] Insecure logging configuration detec

[2016-03-17 02:56] MIBc commented on #31915
@whiteinge If I add a new nodegroup in /etc/salt/master, salt-api will not get that change unless restart it. As you know, salt-api is a simple wsgi server. The token will lose efficacy after server restarts. So, it is not very convenient for user who visit salt-api.
The current solution I think is sending a request to  salt-api and update opts attribute in NetapiClient class by reading salt maste

[2016-03-17 03:21] stenius commented on #29471
I can confirm this has been fixed in salt 2015.8.7 (Beryllium) with SoftLayer==4.1.1

[2016-03-17 03:21] #29471 closed

[2016-03-17 04:45] rhansen commented on #31863
I'm not at all familiar with the transport code, but I was under the impression that `crypted_transfer_decode_dictentry()` was a wrapper around `send()` that magically took care of the extra crypto work (perhaps with some additional setup required).  Is that not the case?

I was hoping that I could simply replace `cp.push`'s use of `send()` with `crypted_transfer_decode_dictentry()` and be mostly

[2016-03-17 05:03] boltronics commented on #27228
Just hit this as well. The docs still clearly say i386 is supported, although the name of the repository has "amd64" in it suggesting otherwise.

https://docs.saltstack.com/en/latest/topics/installation/debian.html