[2017-05-31 10:04] Set4now opened #41518 "Need guidance in salt cloud provisioning using salt-ssh"
We had client-agent infra, but recently we are trying to move into salt-ssh.
earlier provisioning plan:-
1. while provisioning with map file . we had entries like this.

[code]

As you see this will create the vm under this profile, install the minion, as soon as the minion starts,app.sls will apply.we had the ssh_user,pass mentioned in cloud providers file.

The same we want to achieve by salt-ss

[2017-05-31 10:09] dcpc007 commented on #41482
done --> https://github.com/saltstack/salt-pack/issues/323

[2017-05-31 12:40] spiispa opened #41521 "salt-call event.send fails from Python script"
### Description of Issue/Question
salt-call event.send fails from Python script with "Invalid master key" error

### Setup
Salt master and minion in quite basic setup (ZeroMQ, sha256...)

### Steps to Reproduce Issue
This works:
salt-call event.send 'myco/mytag/success' '{success: True}'

Running a python script like this:

[code]

With error:

[code]

Also the following python script fails:

[cod

[2017-05-31 13:22] Set4now commented on #41518
Also, sometimes we put grains ( roles: apache) in map,roster,profile according to the requirment.
but since it was using salt agent..the values are getting written to /etc/salt/grains.
But how can i set grains inside target nodes without installing salt-minion package by make the deploy = False in cloud profiles.

[2017-05-31 13:25] KevinPlus3 commented on #27094
I am working on making `chattr` available: https://github.com/KevinPlus3/salt/commit/2b67679bb9882ab7a9df9eec9aec0838c76de6b5

I have tested it in CentOS7 and seems to be working well, but any thoughts would be appreciated.  I am going to add some helpers to read and return current attributes (and to test against a user-provided attribute set) per lorengordon's suggestion.  Then I hope to include

[2017-05-31 13:29] remyd1 commented on #41498
Hi @gtmanfred,

An upgrade on my minion solved this issue (`salt-call 2014.1.13 (Hydrogen)` to `salt-call 2016.11.5 (Carbon)`). My full state is here if you want to take a look : http://paste.debian.net/952528

Thanks,

Best regards,
Rémy

[2017-05-31 13:29] #41498 closed

[2017-05-31 13:46] The-Loeki commented on #19003
@rallytime
I can not reproduce this in our current setups. OP reported remount due to options, which can be mitigated using the flurry of additional options in mount.mounted since then.

I think we can close this one as Helium isn't supported anymore anyways and this ticket seems abandoned :)

[2017-05-31 14:18] sstodd7532 commented on #41511
[code]
This is what I get when I ran that command. I did look into the minion config to see what the `Windows Software Repo settings` were and could not find them. I copied what you had in #40214 and added it into my config and removed the `#` on the lines with the settings. Below is what I have currently in my config.

[code]

[2017-05-31 14:40] Ch3LL commented on #41447
Awesome thanks for testing it out. I will close the issue :)

[2017-05-31 14:40] #41447 closed

[2017-05-31 14:43] rallytime commented on #19003
Yes, I think you're right @The-Loeki. I'll close this. We can always open it again if needed.

[2017-05-31 14:43] #19003 closed

[2017-05-31 15:09] sstodd7532 commented on #41511
One of our SysAdmins figure out the issue. Something about the file backend being set to Git was making the server not use the `/srv/salt` path that I was understanding the server to use.

[2017-05-31 15:09] #41511 closed

[2017-05-31 15:11] gtmanfred commented on #41478
I am using 2016.11.5, what version of python-consul are you using?

I pip installed the newest version.

Daniel

[2017-05-31 15:12] gtmanfred commented on #41482
Thanks, I am going to close this issue.

Daniel

[2017-05-31 15:12] #41482 closed

[2017-05-31 15:12] gtmanfred commented on #41498
Hrm, how did you get the grains.append state on hydrogen?  Did you copy over the state module and not the underlying execution module that the state module uses to make the changes?

Anyway, thanks for the follow up,
Daniel

[2017-05-31 15:42] kungfu71186 commented on #12161
Can this issue be re-opened?

[2017-05-31 15:42] rallytime commented on #41353
Thanks for testing this @rmarchei. I'll go ahead and close this.

[2017-05-31 15:42] #41353 closed

[2017-05-31 15:43] ssgward opened #41527 "Nitrogen - error when running state containing an pkg.installed of an .rpm"
Nitrogen - error when running state containing an pkg.installed of an .rpm. This is from our SSE install states.

This is the command we run: `salt-call state.apply eAPI`

Here is the error:
[code]
Here is the same error within the state output:
[code]
This is the section in the state that is failing:
[code]
Running the same .rpms listed above manually via `yum install` works fine--no errors.

Sam

[2017-05-31 15:48] ssgward commented on #41527
I guess there's the chance that we need to change our syntax in the install state for this new version. Please advise if that is the case.

[2017-05-31 15:53] jf commented on #41478
I don't think this is an issue with python-consul, but possibly python version (it is python code within salt that is getting the values and doing the substitution in the consul pillar code before looking it up; see https://github.com/saltstack/salt/blob/909d519ddb46f4025830d3ae0a92735bd915fe51/salt/pillar/consul_pillar.py#L192 onwards). I did `pip install` python-consul, and I don't doubt that it

[2017-05-31 16:09] jf commented on #41478
@gtmanfred I had a hunch and tried something out and know why you're getting 'None'

It's because you define `role:` in your grains config, but you dont assign it an actual value. So:
[code]

For me, what I mean by having no value for `role` at all is that I don't even have `role:` in my grains. So when I do `salt <hostname> grains.get role`, it comes back with an empty line. For you, because you

[2017-05-31 16:29] dmurphy18 commented on #41450
@guozequn Wonder why the command 'time netstat -n > /dev/null' is taking minutes. Running the same command on a Redhat 6.9 system resulted in significantly quicker times, for example:

root@tc6min:~# time netstat -n > /dev/null

real	0m0.006s
user	0m0.000s
sys	0m0.004s
root@tc6min:~# cat /etc/redhat-release
CentOS release 6.9 (Final)
root@tc6min:~#

Also I would expect to use 'service salt-minion

[2017-05-31 16:33] Ch3LL commented on #41518
@Set4now i don't believe this is currently possible. Looks like this issue: https://github.com/saltstack/salt/issues/16835 is fitting for your issue. Does that accurately describe what you want to accomplish? Also one thing to consider is to look at the cloud salt-ssh roster [here](https://docs.saltstack.com/en/latest/ref/roster/all/salt.roster.cloud.html) which i believe you can use in tandem, bu

[2017-05-31 16:54] eradman commented on #18973
This was fixed in commit 1599e1625cd

[2017-05-31 17:18] frogunder commented on #41410
@rallytime I see another error/warning.
[code]

[2017-05-31 17:28] gtmanfred commented on #41478
Ahh, i know what it was, i did a grains.delval which just sets role: None

I think I have a way to fix this.

Daniel

On Wed, May 31, 2017 at 10:09 AM, jf <notifications@github.com> wrote:

[2017-05-31 17:31] Ch3LL commented on #41521
I cannot replicate this. If you run any  other module (test.ping for example) in the script does it also fail in that way?  Also how did you install salt?

[2017-05-31 17:35] cachedout commented on #18973
@eradman Thanks for following-up. Much appreciated. I will close this.

[2017-05-31 17:35] #18973 closed

[2017-05-31 17:36] #41377 closed

[2017-05-31 17:47] gtmanfred commented on #41478
@jf I think this should be solved by the above PR.

Thanks,
Daniel

[2017-05-31 17:56] jf commented on #41478
just be careful not to actually use "None" as any component in a consul key! It does feel somewhat hackish... but this definitely stops the leak! The perfect approach would be for salt to raise an error if a substitution is called for and no value is set ("None", or empty string)

[2017-05-31 18:29] ryandurfey commented on #31522
@Capstan Any luck on validation?  Our business case depends upon failing over between two regional origins on google cloud and this requires us to use the explicit domain name (vs. generic domain/bucket option).

[2017-05-31 18:49] rallytime commented on #41410
Oh, I was hitting that error when I was debugging and fixing this issue as well. Basically what is happening is that when you ran the original `salt-cloud -p ...` call, the cache file got locked, then the stacktrace occurred and the process exited. When you ran the `salt-cloud` command again, the file is still locked and it causes the stack trace. If you remove the cached `index.p` file, it will w

[2017-05-31 18:52] Ch3LL commented on #41527
Looks like I am able to replicate this on python2 and git bisect shows commit: 01d6ee176d347fd341e7d45236cc62871a6dda21 which is PR https://github.com/saltstack/salt/pull/39649

Here is a docker container for anyone to quickly replicate:
1. `docker run -it -v /home/ch3ll/git/salt/:/testing/ ch3ll/issues:41527 salt-call --local state.sls test` (where /home/ch3ll/git/salt/ is a local cloned git repo

[2017-05-31 19:03] #34419 closed

[2017-05-31 19:34] rickh563 commented on #38061
ZD-1492

[2017-05-31 20:02] Ch3LL commented on #41451
Thanks for the input @techhat . So I don't see us changing that value but you would need to change that in your configuration. Thanks

[2017-05-31 20:03] Ch3LL commented on #41063
Yep thanks for pointing this out :)

[2017-05-31 20:03] #41063 closed

[2017-05-31 20:03] amontalban commented on #34508
@Ch3LL can we have documentation add an example like @BretFisher showed?

I was having same issue and thanks to above comment it allowed me to use custom sources.

In your report test the fix would be:

[code]

The first parameter is the `Source` value in: `dpkg -I <package.deb>`, if you use anything else it will fail or it will try to install package using `apt-get` instead of custom `deb`.

[2017-05-31 20:15] spiispa commented on #41521
Hmm... this:

#!/usr/bin/env python3
import salt.client
caller = salt.client.Caller()
caller.cmd('test.ping')

Seems to also fail with error:
Exception ignored in: <bound method RSAX931Verifier.__del__ of <salt.utils.rsax931.RSAX931Verifier object at 0x7f23aa3917b8>>
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/salt/utils/rsax931.py", line 144, in __del__
    l

[2017-05-31 20:30] jaipepe opened #41534 "salt-syndic: ERROR Future exception was never retrieved"
### Description of Issue/Question
Seeing the following in my logs. I am not sure how to reproduce as it just seems to show up and correlate to the salt syndic being unresponsive.

[code]
### Versions Report
Salt Version:
           Salt: 2016.3.5

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: Not Installed
          gitdb: Not Installed
      g

[2017-05-31 20:43] cachedout commented on #41510
@garethgreenaway Please have a look and tell me if you think this is viable.

[2017-05-31 20:45] cachedout commented on #38061
@gtmanfred Please have a look at this and tell me if you think a fix is viable and how long it will take. Thanks.

[2017-05-31 20:46] hunkeelin opened #41537 "[Bug] glob statement for node classification will cause highstate to run anything ends with .sls"
### Description of Issue/Question
Glob statement for node classification will cause highstate to run anything ends with .sls disregarding what's specified in init.sls.
### Setup
[code]

In the box which ip is in the pillar list.
[code]
I also tried creating a general/init.sls with the following content:

[code]
Then edit top.sls to include general instead of the global-* statement.

/tmp/testfile

[2017-05-31 20:53] nazunalika commented on #29132
After a little bit of testing in EL7, I was able to pull all the salt rpm's from the saltstack repo, python2-pycryptodomex, python-tornado-4.2.1 and install just those as an update to a 2015.5.10 EPEL installed machine. In my tests of various states, highstates, there are no issues to report.

[code]

This seems to be a friendly mix of EPEL and packages from the Salt repo. What I am noticing is th

[2017-05-31 21:01] frogunder commented on #41410
It is working fine, thank you for tips and for fixing it.

[2017-05-31 21:14] Ch3LL commented on #41445
Looks like you are running on the develop branch. Note osmajorrelease changed to an integer as documented [here](https://docs.saltstack.com/en/develop/topics/releases/nitrogen.html#grains-changes) so you will need to adjust your jinja according to expect an integer. Does that help resolve the issue?

[2017-05-31 21:16] Ch3LL commented on #41461
Perfect Thanks @svinota :)

[2017-05-31 21:16] #41461 closed

[2017-05-31 21:19] Ch3LL commented on #34985
Can you guys give this fix a try: https://github.com/saltstack/salt/pull/41409

[2017-05-31 21:25] morganwillcock commented on #41367
I think that the easiest solution here is to adjust the functions to match the sha1 hash instead of the certificate's serial. I don't think that the serial numbers are guanteed to be unique anyway and I would think that the printing of the hash type is language independent (I've checked English and French, but would need to try something more exotic to confirm). I would be happy to give it a go, o

[2017-05-31 21:28] #40900 closed

[2017-05-31 21:51] frogunder commented on #41517
I have not been able to replicate this.
How did you install salt?

[2017-05-31 22:35] cachedout commented on #41507
@twangboy We need this problem fixed ASAP. What do we need to do to figure this out?

[2017-05-31 22:35] cachedout commented on #41410
@rallytime I am going to go ahead and close this. Let me know if that's incorrect.

[2017-05-31 22:36] #41410 closed

[2017-05-31 22:39] cachedout commented on #39986
This has been merged so it looks like this is ready to be closed.

[2017-05-31 22:39] #39986 closed

[2017-05-31 22:54] mirceaulinic commented on #39422
@gtmanfred false alarm :(
It was me, using the `skip_verify=True`. Apologies for the noise.

[2017-05-31 22:54] #39422 closed

[2017-05-31 23:37] UtahDave commented on #41510
Would it be as simple as adding `xfs` to this list?  https://github.com/saltstack/salt/blob/241bc839fbba099e9883d3203016afd452a43472/salt/states/mount.py#L421

[2017-05-31 23:47] UtahDave opened #41540 "archive.extracted fails on second run"
### Description of Issue/Question
`archive.extracted` fails the second time it is run.

### Setup
[code]
### Steps to Reproduce Issue
Run the following 2 times and it successfully works the first time and I get the following error the second time:

[code]

### Versions Report

[code]

Same result on 2016.11.5

Another user was getting another error when using `saltenv` on the cli.
[code]

[2017-06-01 00:25] twangboy commented on #41507
It's crashing trying to load `c:\salt\conf\.` It only tries to load this in Py2. There must be a gate somewhere making it try to load that...

[2017-06-01 01:31] twangboy commented on #41507
@cachedout I think this is the right fix.

[2017-06-01 01:52] cachedout commented on #41507
@twangboy I appreciate you getting on this so quickly!

@gtmanfred or @frogunder could one of you please test this tonight or first thing in the morning?

[2017-06-01 02:12] #41507 closed

[2017-06-01 06:06] frogunder commented on #41507
Just tested this. It is working fine for me with the fix.

[2017-06-01 06:51] sastorsl commented on #39906
+1

Multi-master as according to [the docs.](https://docs.saltstack.com/en/latest/topics/tutorials/multimaster_pki.html)

.alived returns nothing.
.not_alived returns all my minions (all are up)

    # salt --versions-report
    Salt Version:
               Salt: 2016.11.3

    Dependency Versions:
               cffi: Not Installed
           cherrypy: 3.2.2
           dateutil: 1.5

[2017-06-01 06:56] sastorsl commented on #39906
Could this issue https://github.com/saltstack/salt/issues/16499 be even remotely related? Please feel free to remove this comment if not as not to confuse the issue.

[2017-06-01 07:26] skeljuve commented on #41517
Build from source code.

[2017-06-01 10:05] guozequn commented on #41450
@dmurphy18 Large number of persistent connections established on these servers,
and 'netstat -n' takes several minutes to print the outputs.

**the count of established connections:**
![image](https://cloud.githubusercontent.com/assets/25703534/26672294/3825fadc-46eb-11e7-96c3-d4ff4b110654.png)
**time costs of 'netstat -n':**
![image](https://cloud.githubusercontent.com/assets/25703534/26673067/29

[2017-06-01 10:28] emeryray02 commented on #12540
At Link Labs we are facing a similar issue with minions on 3G and Satcom connections. We have the minion running in supervisor, which helps some, but it would be very helpful to get a fuller picture of what minion/master settings you used to achieve your reliability. @sivann

[2017-06-01 12:23] mirceaulinic commented on #39775
Hi @cro I tested on the Nitrogen branch.
The scheduling works good now, in general: we have a separate `_schedule.confg` directory per proxy minion and the jobs are executed fine.
However, this problem specifically hasn't been solved.
I have this in my device pillar:

[code]

But when starting the process, I can see:

[code]

Which schedules the mine update every 60 minutes (default), not every mi

[2017-06-01 12:42] mirceaulinic commented on #39775
Actually, I think I have identified the cause:

I have the following bits in the opts (displayed using test.get_opts):

[code]

and

[code]

Looks like the values from the pillar are not merged with the values in the opts. I had the feeling they should. Could you please confirm, or correct me?

[2017-06-01 13:00] mirceaulinic commented on #39775
I have submitted https://github.com/saltstack/salt/pull/41547 to solve this. Seems to work fine, but I would like to as @cro to have a look and identify potential risks by doing so.

[2017-06-01 13:34] ascheman opened #41549 "'_pygit2.Tag' object has no attribute 'tree'"
### Description of Issue/Question
salt-call salt.highstate aborted with a long stack trace:

[code]

### Setup
It is not clear how to reproduce the error. It occured after we replaced some branches with tags of the same value, e.g., 'feature/xxx' branch deleted and introduces a tag 'feature/xxx'

### Steps to Reproduce Issue
see above

### Versions Report
[code]

### Work around
Fixed the problem

[2017-06-01 13:56] thunder-spb commented on #25104
Hey guys!
This feature really required for some packages. Any estimates?

Thanks,

[2017-06-01 14:57] #8757 closed

[2017-06-01 16:12] garethgreenaway commented on #41549
@ascheman Thanks for the bug report!  Would you be able to put together a pull request with the following fix?  Thanks!

[2017-06-01 16:38] cachedout commented on #41407
Fixed via the merge of #41436

[2017-06-01 16:38] #41407 closed

[2017-06-01 16:54] TheVakman commented on #41347
I can confirm that I also have this issue. I'd love to see a way to verify that it's actually been changed.

[2017-06-01 17:17] dmurphy18 commented on #41450
@guozequn Can you try replacing the lines in the script containing:

    if
        netstat --notrim -n 2>&1 >/dev/null | grep -q 'unrecognized'; then
        NS_NOTRIM=''
    fi

with:
    if ! ( netstat --help 2>&1 | grep -wq '\-\-notrim') ; then
        NS_NOTRIM=''
    fi

And let me know if this resolves the issue, with checking if the option '--notrim' exists takes too long.

[2017-06-01 18:01] drawsmcgraw commented on #8975
@probot-stale[bot] is right. I think this is OBE with the features in the TLS module now. I'll go ahead and close it.

[2017-06-01 18:01] #8975 closed

[2017-06-01 18:16] KevinPlus3 commented on #27094
Okay, I have completed the work.  There are `file.chattr` and `file.lsattr` in modules/file.py.  In addition, I have added `attrs` to `file.check_perms` so one can use `file.managed` in states/file.py to modify attributes of a file as needed.  I updated everywhere that I could catch in both file.py to keep things working but if I missed anything, please let me know.  I hope a few of you can give i

[2017-06-01 18:37] terminalmage commented on #41527
Fixed in https://github.com/saltstack/salt/pull/41553.

[2017-06-01 21:27] rklaren commented on #41137
I managed to find some time to test things. Sadly I was unable to recreate the problem on a patched Centos 7 system (Centos 7 VM connecting to a Centos 7 KVM hypervisor)

It might help if you execute a `virsh edit <base-domain>` and safe again. Just to see if there is an issue with the base domain XML.

I implemented a flag to disable validation in a PR #41555.

[2017-06-01 21:40] frogunder commented on #41412
Must have been something in my previous setup. Working correctly now.
Closing the issue.

[2017-06-01 21:40] #41412 closed

[2017-06-01 22:06] #40763 closed

[2017-06-01 23:22] rallytime commented on #35481
Fixed with #41551

[2017-06-01 23:22] #35481 closed

[2017-06-01 23:50] rickh563 commented on #41540
ZD-1490

[2017-06-01 23:59] lubyou commented on #41367
Hi,

Yes, the hash should be compared, as the serial is not guaranteed to be unique.

Powershell should not have the localisation issues, as you are basically working with .net objects where the name of all the properties, methods etc of the objects  do not change.

A wrapper around the native API's with ctypes or cffi would of course be even nicer, as you have more control and can avoid the extra

[2017-06-02 03:20] emattiza commented on #15692
Good news!

Looks like 2.6.0 of fish shell resolves this behavior. I have loaded 2.6b1 from their site and completion is working as expected now. It may be helpful to revisit this when 2.6.0 is released.

[2017-06-02 03:35] guozequn commented on #41450
![image](https://cloud.githubusercontent.com/assets/25703534/26709355/c9aa8948-4784-11e7-82f8-d68f37313f46.png)

the proceeding time of the script has been reduced from 10+ munites to 1 minute.

[2017-06-02 06:13] terminalmage commented on #41154
#41561 should fix this.

[2017-06-02 06:34] terminalmage commented on #41479
It looks like the retcode is being added to the return [here](https://github.com/saltstack/salt/blob/c65d602/salt/cli/batch.py#L248-L249). I'm not certain what we're using it for and where the best place to pop it would be. Git blame shows that @cachedout added this in db81afc035f. Mike, can you take a look here and see if there's a better way to handle this? Just popping the ``retcode`` key would

[2017-06-02 09:30] mirceaulinic commented on #41475
I had pretty much the same issue with the HipChat engine, so I submitted https://github.com/saltstack/salt/pull/41426 to make it more flexible. Now the user can choose the outputter and display it nicer at their will.
@nomeelnoj please go ahead and implement something similar (or maybe not similar, but an improvement)
 In Nitrogen (and develop) there's this helper: https://github.com/saltstack/sal

[2017-06-02 09:39] skeljuve commented on #41517
i have found why it doesn't work: there is a bug in function _latest()_ in file salt/states/pkg.py. Variable _'desired_pkgs'_ contains a name package the same as described in a state file (geoip.sls) - **'geoip'**. But _pkg.latest_version_ returne a full named of package - **'pkg://pkg.repos/geoip'**. So, when _avail.get(desired_pkgs[0])_ try to find a value by key **'geoip'** it cann't find it, b

[2017-06-02 09:55] gaetanquentin commented on #35439
Same problem with 2016.11.3:
Master:
Salt Version:
           Salt: 2016.11.3

Dependency Versions:
           cffi: Not Installed
       cherrypy: 3.5.0
       dateutil: 2.4.2
          gitdb: 0.6.4
      gitpython: 1.0.1
          ioflo: Not Installed
         Jinja2: 2.8
        libgit2: Not Installed
        libnacl: Not Installed
       M2Crypto: Not Installed
           Mako: 1.0.3
   msgpac

[2017-06-02 12:00] rvstaveren commented on #41230
In my situation, it prevents minion startup altogether with the following message:

[code]

I'm letting the minion run with all defaults:

[code]

Minion is as follows:

[code]

[2017-06-02 12:36] edhgoose opened #41562 "npm install throws an error when using npm version 5."
### Description of Issue/Question

npm install is throwing an error when npm is version 5+/nodejs is version 8. I believe this is something to do with the `npm list --global --json` command

### Setup
[code]

### Steps to Reproduce Issue

I have the above state, which installs nodejs 8 (and therefore npm5), as well as setting some symlinks for us and installing a specific version of less (1.3.2).

[2017-06-02 15:18] garethgreenaway commented on #41326
I spent a bit of time working through this out.  The root of the issue is that the nodegroup matching uses the list matching under the hood and list matching looks for minions that already exist and discards those that don't, then runs the specified command(s) on just those ones that exist.  Sidelined for the moment due to other priorities but I was looking for a way to flag those minions as non-e

[2017-06-02 15:37] gtmanfred commented on #41230
Are you installing with pip or with the package?

We have asked the community maintainers to add this patch to revert those
changes.

https://github.com/saltstack/salt/pull/41244

So if they have done that, this should work, if not you will need to apply
it.

We have this fixed for 2016.11.6

On Fri, Jun 2, 2017 at 6:00 AM, Ruben van Staveren <notifications@github.com

[2017-06-02 15:44] cachedout commented on #41507
Thanks very much @frogunder

[2017-06-02 15:56] gtmanfred commented on #41562
I have replicated this issue.  It appears to be a change that they made in npm 5.0.0

Thanks for reporting,
Daniel

[2017-06-02 15:59] gtmanfred commented on #41562
@dschaller @holmboe Could yall take a look at this for us?

It looks like the update to npm 5.0.0 breaks the npm module.

Thanks,
Daniel

[2017-06-02 16:25] dschaller commented on #41562
I can take a look at this

[2017-06-02 16:27] dmurphy18 commented on #41450
@guozequn Has the change resolved the issue you saw where salt minion startup fails when there are too many connections ?

[2017-06-02 16:54] gtmanfred commented on #41534
Is it possible that this is failing when the syndic is running out of memory?

Thanks,
Daniel

[2017-06-02 17:01] gtmanfred commented on #41537
Can you please clarify your issue?

I am not quite sure what you mean when you start talking about `general` instead of `global`.

Thanks,
Daniel

[2017-06-02 17:50] hunkeelin commented on #41537
general is a formula with following content

general/init.sls
     include:
           - global-*

Basically the samething I was wondering whether doing it the other way will yield different result.

The issue here is if I use glob statement in top.sls. It will any file ending with .sls in the globed formula.  Regardless on what's specified in init.sls.

[2017-06-02 18:16] UtahDave commented on #23524
Closing because of reports this has been fixed.

[2017-06-02 18:16] #23524 closed

[2017-06-02 18:28] UtahDave commented on #32318
I just tested this in 2016.11.5 and it's now working. I'm going to close.  Please comment here if we need to review this further.

[2017-06-02 18:28] #32318 closed

[2017-06-02 18:45] asnell opened #41565 "pkg.installed incorrectly reports failure when installing specific version of a packages if epoch is omitted"
### Description of Issue/Question

I'm trying to install a specific version of nodejs - in this case, 6.10.3 (full version string = 1:6.10.3-1.el7), available in the EL7 EPEL repository.  This "works" in that the package gets installed successfully, but the minion reports failure of that step - and obviously anything else that depends on that state ID will fail.

It looks like this was fixed for p

[2017-06-02 19:31] morganwillcock commented on #41367
It looks like the win_certutil module and state are effectively replaced by the win_pki module and state, which is implemented using Powershell.

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.win_pki.html

[2017-06-02 19:33] absolutejam opened #41567 "cmd.run - PowerShell - 'Missing closing brace' parsing issue"
### Description of Issue/Question

I'm trying to parse the output of a Powershell command as a prerequisite for some other states, by utilising `stateful` and `watch`. (First time using Salt, so please educate me if I'm doing this wrong!).

When running my multi-line, Powershell `cmd.run`, I'm getting the following error from Powershell -  `Missing closing '}' in statement block.`. If I run the co

[2017-06-02 19:33] remyd1 commented on #41498
The grains.append state was on the Salt master. The minion was not up to date.

[2017-06-02 19:42] lubyou commented on #41367
Not sure how I missed that, looks like it is addressing the issues that I raised.

Thanks for pointing that out @morganwillcock

[2017-06-02 19:42] #41367 closed

[2017-06-02 19:46] gtmanfred commented on #41537
So, what is happening is that the glob gets matched against any state in the state list.

so, if you check `cp.list_master` you will see that it lists two seperate strings.

[code]

The glob match is run against the whole string, and matches everything in the directory.

This is how it is meant to work.

[2017-06-02 19:47] djhaskin987 commented on #40748
Thanks for the fix, @garethgreenaway ! I'll look @ it.

[2017-06-02 19:50] gtmanfred commented on #41565
I tend to think that this is the expected behavior, because the actual version of the rpm is 1:6.10.3 with the epoch, even if the version of nodejs is 6.10.3.

@terminalmage do you have an opinion about this?

Thanks,
Daniel

[2017-06-02 20:18] hunkeelin commented on #41537
I see, so how can I get around that with my current design?

I design my environment in a way that I do not need to edit top.sls whenever I create a formula. All I have to do is to properly name the it and it will apply to the nodes i want automatically.

[2017-06-02 20:46] djhaskin987 commented on #40748
Looks a lot better, thanks!

[2017-06-02 20:49] asnell commented on #41565
Worth noting that using >= syntax works fine without the epoch:

`- nodejs: '>=6.10.3'`

As does installing using the pkg module:

`salt -L 'minion2' pkg.install 'nodejs-6.10.3'`

And - in my description above, the package actually gets installed, but the step reports as failed! I don't feel too dogmatic about whether this should be expected behavior or not, but I do think consistency would be a g

[2017-06-02 20:58] mikemol opened #41568 "No way to securely identify minion for targeting in pillar template context"
### Description of Issue/Question

I found this SLS file in a pillar `top.sls` targeting example:

`top.sls`:

    base:
      '*':
        - hostspecificsls

`hostspecificsls`:

    # See https://groups.google.com/forum/#!topic/salt-users/UWfP6bMe6F8
    {% include 'hosts/' + salt['grains.get']('fqdn') + '.sls' ignore missing %}

The goal, obviously, is to provide optional host-specific pillar da

[2017-06-02 21:41] mitar commented on #9354
I think `pillar.get` supports this now, no?

[2017-06-02 23:41] gtmanfred commented on #41537
You might be able to specify global*/init.sls

If that doesn't work, then I don't think you can use that the way salt
currently works.

On Fri, Jun 2, 2017 at 2:18 PM, hunkeelin <notifications@github.com> wrote:

[2017-06-02 23:43] gtmanfred commented on #41565
Right, it is failing on checking if it is installed, because the package
has an epoch.  And when looking it up it works fine.

Also, 1:6.10.3 is >= 6.10.3, so that seems fine, and the pkg.install
installs it, but does not check if it actually installed the package, that
is something that the state does.

On Fri, Jun 2, 2017 at 2:49 PM, asnell <notifications@github.com> wrote:

[2017-06-02 23:46] gtmanfred commented on #41568
you should have `{{minion_id}}` available in the pillar file.  Which will be the minion id that that pillar information will be sent to.

[2017-06-02 23:57] mikemol commented on #41568
Is this documented anywhere but this ticket? Where is it in the source? I
couldn't find it there, either.

On Fri, Jun 2, 2017, 7:46 PM Daniel Wallace <notifications@github.com>
wrote:

[2017-06-03 01:05] bymodude commented on #26888
Issue still persists with 2016.11, also tried changing to Transport: TCP and same (does that mean it may not be a ZMQ issue after all?). To recap, Master is running on Microsoft Azure VM - minions are at various other networks outside of Azure, Azure does not support ICMP and has a TCP connection timeout of 4 minutes.

It stills seems to me that Salt is relying on the stability of a TCP connection

[2017-06-03 02:21] gtmanfred commented on #41568
Hrm looks like I misspoke, I thought it was in there.
You can see all the jinja contaxt by using `show_full_context()`

https://docs.saltstack.com/en/latest/topics/jinja/index.html#debugging

We should add something like that though.

I am going to mark this as a feature request.

[2017-06-03 03:06] rallytime commented on #9354
@mitar yes, thanks for pointing that out.

Here are the docs for this: https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.pillar.html#salt.modules.pillar.get

I'll close this as fixed.

[2017-06-03 03:06] #9354 closed

[2017-06-03 07:17] jv2222 opened #41570 "No match in the top.sls yet configured correctly"
### Description of Issue/Question

No match in the top.sls yet it is configured correctly.

### Setup

For some reason salt says there is no match in the top.sls for both pla-stage-web
and pla-live-web but pla-live-salt works fine (pla-live-salt is the same machine as salt master, so that may be worth noting)

Here is the results of highstating pla-stage-web:

[code]

But, salt Master can talk to

[2017-06-03 09:04] guozequn commented on #41450
@dmurphy18  yes , Thank you.

[2017-06-03 09:34] rlifshay commented on #36223
I am writing a custom external pillar as well and seeing this issue. If I repeatedly call `pillar.items` using `salt-call` you can see it renders it twice for each call. I had more verbose logging on earlier and you can see it renders the entire pillar twice, it's not just calling only the external pillar.
[code]
if however I use `salt` instead of `salt-call` it only loads it once. That would make

[2017-06-03 12:17] lorengordon commented on #41567
I've had issues using yaml multiline and cmd.run with shell=powershell also. Try just quoting the whole block, which collapses it to a single line (meaning you also need to add a `;` to the end of each command):

[code]

[2017-06-03 17:05] mephi42 commented on #41154
Works, thanks!

[2017-06-03 17:05] #41154 closed

[2017-06-03 20:22] farcaller opened #41571 "x509.certificate_managed results in endless recursion if signing policy denies certificate issue"
### Description of Issue/Question

x509.certificate_managed results in endless recursion if signing policy denies certificate issue; additionally, master doesn't report the actual error.

### Setup
state.sls:
[code]

signing policy:
[code]

The error is triggered if the signing minion is not available (in the test env it failed as my minions now use FQDN).

### Steps to Reproduce Issue

Log on min

[2017-06-03 22:23] jv2222 commented on #41570
Ok, so here's what happened. For some reason I ended up in this weird state of affairs:

[code]

Note the "3 not upgraded"

So then I forced the upgrade with:

[code]

And now it works. Weird.

[2017-06-03 22:29] #41570 closed

[2017-06-04 00:27] Arkanosis commented on #19834
I've just got the setgid issue on a fully updated ArchLinux:

    Salt Version:
               Salt: 2016.11.5

    Dependency Versions:
              ioflo: 1.6.7
             Jinja2: 2.9.6
            libnacl: 1.5.0
           M2Crypto: 0.24.0
     msgpack-python: 0.4.8
           pycrypto: 2.6.1
             Python: 2.7.13 (default, Feb 11 2017, 12:22:40)
             PyYAML: 3.12

[2017-06-04 04:36] mystfox opened #41572 "bootstrap.sh tries to install the wrong package for apache-libcloud on ArchLinux"
### Description of Issue/Question
When trying to install Salt including salt-cloud on Arch Linux, it tries to install `apache-libcloud` which is not a actual Arch package - the right one is `python2-apache-libcloud` for Python2.

### Setup
Get an ArchLinux host. Instructions assume normal user, but you can just remove the sudo.

### Steps to Reproduce Issue
Run:
[code]

Output:
[code]

### Version

[2017-06-04 12:42] xuwn opened #41573 "saltstack can't restart mysql"
### Description of Issue/Question
i can't use salt stack to restart minion's mysql service!!!

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
mysql.sls:
[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in

[2017-06-04 12:47] xuwn commented on #41573
the same bug when i use:
salt '*' state.sls mysql
or
salt-ssh '*' cmd.run cmd="service msyql restart"

mysql version:
5.6.36 and 5.7.18

[2017-06-04 12:59] xuwn commented on #41573
it's long time to watting
and
no return

[2017-06-04 17:45] mostafahussein opened #41574 "Salt-SSH: sometimes results not returned"
### Description of Issue/Question
I have a php formula that is compiling from source a specific php version according to pillar='{"version": "value"}' and sometimes the execution is completed but i cannot see the execution results and the `salt-ssh` command still waiting for the signal

Is this kind of timeout somehow ? Could you tell me how can I debug this issue in a better way as i am trying to

[2017-06-04 19:40] terminalmage commented on #41154
Thanks for confirming!

[2017-06-04 21:05] mostafahussein commented on #41574
I think I have solved the issue as I cannot reproduce it again after the modification I made.
I have created this file `~/.ssh/config` and then added the following line to it `ServerAliveInterval 120`

I have tested 3 times since that modification and I have no issues for now. I will update the issue if I face the same issue again.

[2017-06-05 00:29] dschaller commented on #41562
I dug into this and it seems that this isn't an issue with npm 5 but an issue with the output of `npm list` being too much for `subprocess.communicate` to store in it's buffered stdout response. I have a fix for this issue in https://github.com/saltstack/salt/pull/41575 that only returns the top level npm packages since that is all we require for the installed state. However, we should probably op

[2017-06-05 04:25] mostafahussein commented on #21370
I have came through the exact same issue. there is a way i followed before in a similar case `file.managed` but the normal minion (there was not any issues i just needed to pass a variable to the jinja template). here is the solution for similar cases according to [the documentation](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html)

So All you have to do is passing the va

[2017-06-05 04:37] seanjnkns commented on #41435
Fixed per #41509

[2017-06-05 04:37] #41435 closed

[2017-06-05 07:27] bgdnlp commented on #27056
Hello. Any news on this issue?

[2017-06-05 07:51] sumeetisp commented on #41451
But how to set this in configuration? And by configuration you mean in the profile?

[2017-06-05 10:45] inercia opened #41578 "The minion loses connectivity to the master after changing IP address"
### Description of Issue/Question

### Setup

The Salt master is at 10.17.15.194
One of the Salt minion is at 10.17.15.127

### Steps to Reproduce Issue

[code]

Then if I do

[code]

Then running a `test.ping` results in a `Minion did not return. [No response]` for the minion that changed IP address.

[code]

I can see the master is still trying to contact the minion:

[code]

### Versions Report

[2017-06-05 11:07] absolutejam commented on #41567
Sweet, this worked a treat! Thanks @lorengordon

Would be nice to see if we can get this bug squashed too, as not to dissuade any newcomers. I'll try and have a look if I get chance but no promises :grimacing:

[2017-06-05 11:24] sazaro opened #41579 "Unable to use pkg.installed on Manjaro (Arch) minion"
### Description of Issue/Question
I am trying to run a state.apply to install some packages on a minion running Manjaro Linux (Arch based) but it errors out when I run things that contain pkg.installed in the state.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

 I setup a simple state as an example:
[code]
But I receive this error when applying

[2017-06-05 13:03] lorengordon commented on #41567
@absolutejam Cool. Yeah, I think it has something to do with getting passed from python to the cmd shell to powershell. So, lots of possible shell escaping issues, between different escape characters and different characters that need escaping.

[2017-06-05 13:25] cetanu commented on #40897
Very interesting... How do you propose order and priority be handled? I'm guessing that the first profile in the list has its keys overwritten by subsequent items?

[2017-06-05 14:15] epcim commented on #13085
[**@alexminder**](https://github.com/alexminder) commented on [Oct 7, 2016, 10:42 AM GMT+2](https://github.com/saltstack/salt/issues/13085#issuecomment-252184941 "2016-10-07T08:42:47Z - Replied by Github Reply Comments"):

can you pls share link to your workaround?

personally, systemd network support is desired, it's alternative to network module but it became a mainstream.

question is what way

[2017-06-05 14:21] Ch3LL commented on #41567
Thanks for the help on this one @lorengordon . Looks like we could improve with escaping characters here. I was able to replicate the initial reported behavior.

fyi @twangboy

[2017-06-05 14:31] jrsdav commented on #40897
Yep! That's the behavior I've seen during my tests (using 2016.11.1). The keys from the last profile matched against are the one used for the salt-cloud bootstrap process.

[2017-06-05 14:55] Ch3LL commented on #41571
@farcaller looks like we need to do a better job at catching this error on th emaster side instead of hitting the recursion error. Thanks we will need to get this fixed.

[2017-06-05 15:01] #41572 closed

[2017-06-05 15:01] Ch3LL commented on #41572
Issue moved to [saltstack/salt-bootstrap #1090](https://github.com/saltstack/salt-bootstrap/issues/1090) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-05 15:02] Ch3LL commented on #41572
@mystfox i moved this issue to the bootstrap repo so we can troubleshoot it in the correct repo. Thanks for opening this :)

[2017-06-05 15:21] Ch3LL commented on #41574
Glad you got it working :) I will close this issue for now but let me know if you need it re-opened. Thanks

[2017-06-05 15:21] #41574 closed

[2017-06-05 16:00] Ch3LL commented on #39599
I believe this is a duplciate of #40889. Can you try the re-keying fix in https://github.com/saltstack/salt/issues/40889#issuecomment-297863663

@pvrantz can you confirm rekeying resolves the issue for you?

[2017-06-05 16:16] cgiroua opened #41581 "docker-registries authentication seemingly failing when using dockerng.image_present"
### Description of Issue/Question
Using a private registry, and dockerng.image_present, the minion either seems to not be using the correct auth, or not using it at all, in order to connect to that private registry ... I hit the following issue(s):

- Pull fails for -any- new image with the following error (using a test image here):
     Comment: Encountered error pulling <my_registry>/busybox:lat

[2017-06-05 16:23] garethgreenaway commented on #40748
@djhaskin987 Great news!  If you consider the issue resolve, if you wouldn't mind closing out the issue.  Thanks!

[2017-06-05 16:24] lubyou commented on #40578
Hi,

I am having a similar problem.
[code]

[code]

I guess this could be fixed by #37692, however, I am wondering whether there is a way to get this working without having to wait for the complete switch to unicode.

[code]

`yaml_utf8: True`

[2017-06-05 16:31] #40748 closed

[2017-06-05 17:05] garethgreenaway commented on #41263
@nomeelnoj When you get a chance you can review the above PR and see if that addresses the issues that you raised? Thanks!

[2017-06-05 17:29] dmurphy18 commented on #41450
@guozequn Thanks for that information. I shall update the init scripts so that this problem is resolved in the next point releases.

[2017-06-05 17:33] garethgreenaway commented on #41540
@UtahDave I ran a quick test of this and got the expected results.

[code]

Is there something different about the contents of the zipfile?

[2017-06-05 17:45] UtahDave commented on #41540
The zip file does have a subdirectory. I'm not sure what else could be different.

[2017-06-05 17:53] garethgreenaway commented on #41540
Maybe something quirky with the version of the zip binaries on 14.04.  Is it possible to provide a scrubbed version of the zip file in question for testing?

[2017-06-05 18:05] Ch3LL commented on #41573
This is a duplicate of https://github.com/saltstack/salt/issues/16153  Closing here but feel free to comment on that issue.

[2017-06-05 18:05] #41573 closed

[2017-06-05 18:11] UtahDave commented on #41540
Yeah. I'll put one together that I can share.

[2017-06-05 18:16] seanjnkns opened #41583 "mount.swap for swap file test=True results wrong"
### Description of Issue/Question

mount.swap on a on-disk swap file will always report Result: None even when the swap file is mounted, w/ persist: True.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
# Create swapfile
[code]
### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
Run above state, the first time it'll create a

[2017-06-05 18:39] Ch3LL commented on #41578
What do the logs show on the minion side? Also do you still see this behavior after restarting the minion service?

[2017-06-05 18:44] Ch3LL commented on #41579
We will need to a check for manjaro as well [here](https://github.com/saltstack/salt/blob/develop/salt/modules/pacman.py#L42) so it returns virtualname and loads the module.

[2017-06-05 18:51] Ch3LL commented on #41581
@cgiroua you state that this was working preivously. Which version was that?

[2017-06-05 18:55] idokaplan opened #41586 "Windows - group"
Hi,

Is there a state/module to add a windows active directory group to be a member of local group (for examples - Administrators)?

Thanks!
Ido

[2017-06-05 20:16] slahouchuc-everbridge opened #41590 "boto elasticache module credentials issue"
### Description of Issue/Question
This was initially discovered when using the boto_elasticache state, and noticed the issue actually lies within the module the state is using.

This particular boto module (and perhaps other boto modules) doesn't seem to use the supplied key, and keyid supplied into the module arguments, and likewise, their respective states. Placing credentials in ~/.aws/credenti

[2017-06-05 20:40] cgiroua commented on #41581
@Ch3LL I'm not 100% sure of my previous functioning versions (I've been playing around with a lot of combinations), but trying out what I have available ... both 2016.11.4 & 2016.11.5 masters appear to pull images fine with a 2015.8.8 minion.

[2017-06-05 21:10] terminalmage commented on #41565
All of this is expected behavior. The [docs](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.pkg.html#salt.states.pkg.installed) explain this, there is an argument called ``ignore_epoch`` which disregards the epoch.

[2017-06-05 21:12] mostafahussein opened #41593 "file.find 'exec' breaks the highstate output"
### Description of Issue/Question
When I try to use file.find inside a state in order to copy a file the highstate output breaks becasue of it:
I am using `salt-ssh` but i believe that would be the case with the normal minion too but i haven't tried it yet.
[code]
The full output:
[code]

### Setup
[code]
I know that if i use bash i would add `\ ;` to the end of my command but nothing worked. howe

[2017-06-05 21:13] gtmanfred commented on #41565
Perfect, Thanks @terminalmage

On Mon, Jun 5, 2017 at 3:10 PM, Erik Johnson <notifications@github.com>
wrote:

[2017-06-05 21:13] #41565 closed

[2017-06-05 22:35] twellspring commented on #41057
I was looking for a solution to this as well a while back and created aws-formula to create a full VPC.  I put the aws pillar on the salt master only, then call the aws-formula via state.sls

Putting the aws-formula as the first step of an orchestration, followed by server creation, sounds like a better way to call it.

https://github.com/saltstack-formulas/aws-formula

[2017-06-05 23:40] garethgreenaway commented on #41540
Did some digging into this and found that the root of the issue is that the directory inside the zipfile is being flagged as a file by archive.list.  Once it's extracted it checks all existing files and because the directory inside is a directory and not simply a file, the test fails.  Digging more into why it's being flagged as a file.

[2017-06-06 07:37] sastorsl opened #41602 "Multi-Master Inconsistent docs"
### Description of Issue/Question
The docs for multi-master are inconsistent, i.e. there are two documents - each with a very different approach, and the latter, "PKI Tutorial" even advises against the first.

It should be clarified which one should be selected or at least have a discussion around which one is better suited for different use cases.

### Setup
https://docs.saltstack.com/en/latest/t

[2017-06-06 07:49] bing062 commented on #41313
I found files are missing in c:\salt\bin directory after comparing with normal computer's.

[2017-06-06 08:12] sebw commented on #41091
@Ch3LL can you try to reproduce this?

[2017-06-06 08:32] colttt opened #41603 "salt-minion eat a lot of swap"
### Description of Issue/Question
I just installed a Minion, after 2weeks, swap space was full, but  I've more than 1GiB memory free:
![image](https://cloud.githubusercontent.com/assets/10084871/26820286/a1a120c6-4aa2-11e7-9fba-634065822731.png)

here you can see, that it starts 5days ago, the minion was installed on 2017-05-24.
![image](https://cloud.githubusercontent.com/assets/10084871/26820407

[2017-06-06 09:22] Tanoti commented on #24209
I'm sad to say that because the issue has not progressed our company is now moving to Ansible for orchestration. I am still fighting Salt's usefulness but this has been a a big blow :(

[2017-06-06 10:05] dstensnes commented on #32294
On ubuntu 16.04 with saltstack packages version "2016.11.5+ds-3". Trying to add ppa:ondrej/php results in this:
[code]
So apparently it imports the key to a file "/tmp/tmpdlfjtc8z/trustdb.gpg" and forgets about it?

my saltstate file:
[code]
Resulting "apt-key list" output:
[code]

Saltstack versions report:
[code]

[2017-06-06 10:12] dstensnes commented on #32294
And even worse; running it again reveals:
[code]
But the key is actually still missing, so it is actually causing errors when I try to use it.

[2017-06-06 11:00] adubey3 opened #41605 "Beacons and Reactors"
Regarding the Beacons and Reactors module I have got two problem statements.

1- While running a reactor how can i provide pillars dynamically to it. Suppose, I have to run the reactor on two different systems but with different pillar(configuration) options.These Pillars I want to provide to the reactor either through command line or by some external way. How can I attain this?

2- 2- Suppose I h

[2017-06-06 11:11] damon-atkins commented on #24209
A support contract might of helped this jump the other 500 other P2 issues.

[2017-06-06 11:20] Tanoti commented on #24209
Sadly yes, but that was never going to happen due to the proverbial chicken and egg. To justify the usefulness of Salt as worthy of a support contract we needed to prove it had value to the company and this was one key part of that.

[2017-06-06 12:03] RealKelsar commented on #41230
Seems fixed to me.

[2017-06-06 12:03] #41230 closed

[2017-06-06 12:23] #15102 closed

[2017-06-06 13:09] dstensnes commented on #32294
Trying to add the repository via cmd.run reveals this. Maybe related?
[code]

[2017-06-06 13:35] amuhametov commented on #39939
+1

[2017-06-06 13:44] bemeyert commented on #38802
This bug is affecting us too. We just did an update where this state is used. This bug didn't exist before 2016.3. If you need more information I'm happy to provide them. Our current workaround is to manually remove all alternatives.

[2017-06-06 13:59] dstensnes commented on #32294
After lots of debugging, I have found that the problem seems to be with apt-add-repository provided by Ubuntu, so this isn't really a problem with salt. apt-add-repository apparently breaks when it encounters non-unicode characters when executing without an UTF-8 locale:
  https://github.com/oerdnj/deb.sury.org/issues/56

So, the workaround I used was to ignore the PPA bit of pkgrepo, and adding t

[2017-06-06 14:29] cetanu commented on #41342
I've fixed up a bunch of code for this.

What I am seeing though, is a fair bit of inconsistency when modifying beacons.

I have a lot of trouble modifying directly with beacons.modify, although changes from beacons.modify seem to apply when I apply a highstate afterwards (even if the highstate is applying something different).

Highstates also seem to mimic this, but differently; they seem to app

[2017-06-06 15:45] inercia commented on #41578
The does not show anything in the logs in the minion: I guess it doesn't realize anything has changed. Connectivity is restored after running `systemctl restart salt-minion` in the minion, and I can run fine `salt "*" test.ping` in the master again.

[2017-06-06 15:56] garethgreenaway commented on #41583
@seanjnkns Thanks for the report and the initial PR, we look forward to a follow up PR.

[2017-06-06 15:59] garethgreenaway commented on #41586
@idokaplan Can you provide a bit more information about what you're trying to do?  That will help us pinpoint what modules to recommend for your use case.  Thanks!

[2017-06-06 16:14] garethgreenaway commented on #41590
@slahouchuc-everbridge Thanks for the report.  We'll get this one fixed.

[2017-06-06 16:38] garethgreenaway commented on #41593
@mostafahussein Thanks for the report.  I ran a quick test and it worked using a regular minion setup.  Are you able to test your use case like this?  Then we can potentially isolate it to an issue with salt-ssh.  Thanks!

[2017-06-06 16:44] idokaplan commented on #41586
![saltgroup](https://user-images.githubusercontent.com/20675126/26840793-fc10d04a-4aef-11e7-9d88-48e5e0770051.PNG)

Please see attached.
I would like to add an AD security group (for example - "DOMAIN\IT.security") to "Administrators" local group.

[2017-06-06 17:29] asnell commented on #41565
Got it - thanks for following up on this.

[2017-06-06 18:00] garethgreenaway commented on #41603
@colttt Thanks for the report.  If possible could you update to the latest stable release and see if you're seeing the same memory usage issues?  As far as the error messages you're seeing, that's expected behavior.  The minion will continuous try to talk to the master until it's key has been signed.  Also is there a particular use case for why you're waiting so long before having the minion keys

[2017-06-06 18:46] amitsehgal opened #41612 "zero mq is spinning - salt-master cpu 100% - not responding"
### Description of Issue/Question
salt-master has stopped responding in my environment. I have ~220 minions on single salt-master with lot of resources. I dont see file descriptor being an issue. Only 99 fd are used by master process and overall 9k used system wide.

### Setup
We are not using any custom configs and not SLS.  We did have one disk full no space left event. After which we have remov

[2017-06-06 19:21] garethgreenaway commented on #41510
My suspicions would be that noexec is one of the invisible options that shows up in the results from the mount command but it not in the /proc/self/mountinfo file which is used to determine what is mounted.  Potential fix would be to add noexec to the list here: https://github.com/saltstack/salt/blob/241bc839fbba099e9883d3203016afd452a43472/salt/states/mount.py#L305

[2017-06-06 19:36] garethgreenaway commented on #41510
@UtahDave To confirm, you do get a message back saying that fstab was updated right?  The volume just wasn't remounted?

[2017-06-06 19:53] DrMerlin commented on #39786
@harmv When you say "your particular problem" are you referring to cache.grains breaking due to the minion directory without a data.p file?  I am experiencing that same problem.  The "minion" in particular is not actually a minion, but a salt-ssh target.

[2017-06-06 19:56] garethgreenaway commented on #41510
Digging more into this, it looks like the logic that is checking for mount options is only going one way.  If a volume is mounted with a certain set of options, then an additional one is added later, a remount is forced.  If an option is taken away then a remount is not forced.  Seems this should go both ways, working on a fix now.

[2017-06-06 20:34] garethgreenaway commented on #41612
@amitsehgal Sounds like maybe the salt master didn't restart correctly.  If you stop the process using the correct methods do you see rogue salt-master processes remaining?

[2017-06-06 20:50] whiteinge opened #41618 "Runner module "is not available" errors are not present on the event bus"
Executing `salt-run badmodule.badfunction` prints “‘badmodule.badfunction’ is not available.” on the CLI but does *not* create a `salt/run/<jid>/<new|ret>` event on the event bus with that error.

That behavior makes total sense given the history of Runners but it prevents clients that are watching the event bus from seeing the error/return entirely.

[2017-06-06 20:51] djhaskin987 commented on #35215
Happening for me too :(
![image](https://user-images.githubusercontent.com/1186534/26851295-aa72e58e-4ac7-11e7-9fd6-f8e25a9d4532.png)

[2017-06-06 21:03] #38938 closed

[2017-06-06 21:49] #41527 closed

[2017-06-06 23:08] brentsmyth commented on #33163
So is the idea that on ubuntu one needs to first install the `python-pip` apt package and then reinstall pip with pip?

[2017-06-07 01:22] JohnTheodore commented on #39908
template.render(
              resources=resources,
              policy=policy,
              action=action,
              account=account,
              region=region)
*** UndefinedError: 'dict object' has no attribute u'ec2'

:(

There are dozens and dozens of variable references in the template. Couldn't it have said what line or what variable name the render fails on?

[2017-06-07 04:49] mostafahussein opened #41623 "salt-ssh: using cmd.run inside a state"
Hello,

When i try to use `cmd.run` within a state and call it using salt-ssh, the result of cmd.run is the following:
[code]
For example add this inside a state `{% set epoch = salt.cmd.run('date +%s') %}`

Note: I am using cmd.run for other cases which works correctly with a regular minion but not with salt-ssh

the value of `epoch` will be as above .
Is this an issue ? Is there a work around in

[2017-06-07 06:25] sumeetisp opened #41624 "Issue while using salt-ssh along with map file"
### Description of Issue/Question

I have a following map file,

[code]

After executing this i expected a grain called roles to be listed when i did a grains.items but it did not.

[2017-06-07 06:55] lubyou commented on #40578
@Ch3LL can you chime in on this?

Thank you

[2017-06-07 07:31] oule opened #41625 "salt-api report 401 Unauthorized"
my salt-api login failed

salt --versions-report
Salt Version:
           Salt: 2016.11.5

Dependency Versions:
           cffi: Not Installed
       cherrypy: unknown
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: 2.8.1
        libgit2: Not Installed
        libnacl: Not In

[2017-06-07 07:33] oule commented on #41625
[root@localhost salt]# rpm -qa|grep -i cherrypy
python-cherrypy-5.6.0-1.el6.noarch

[2017-06-07 07:48] #41625 closed

[2017-06-07 08:40] #20527 closed

[2017-06-07 09:47] EvaSDK commented on #38837
Having the same problem with Atlassian Confluence archive. Thanks very much for the workaround.
Note that for some reason the Atlassian Jira Software archive does not suffer this problem.

[2017-06-07 10:22] ruiaylin opened #41626 "When onlyif and bg are used together the"
### Description of Issue/Question
I want to make a command to start a process background like daemon .
like this below i want to start a mysql database :
[code]

It works very well , but i want to do some check before execute the mysqld_safe command .
My code like this now:

[code]
This mean that  only if the process not exist , to start it .

when i run , i get the wrong message like this :

[cod

[2017-06-07 10:37] cetanu commented on #41342
Yep I'm definitely having some issues with persisting new beacon configuration via beacon.modify and also via highstate.

If I set up a state file with beacon.present and apply it, I can then get into an infinite loop of applying highstate, followed by checking the beacons (as one might naturally do):

1. Change the beacon.present in the state file
2. Apply highstate (this should say that it modif

[2017-06-07 11:18] githubcdr commented on #41342
Thanks for looking in to this, if you need anything tested let me know.

[2017-06-07 11:26] emeryray02 commented on #33706
We are getting the same thing:
[WARNING ] Key 'file_ignore_glob' with value None has an invalid type of NoneType, a list is required for this value
[WARNING ] Key 'file_ignore_glob' with value None has an invalid type of NoneType, a list is required for this value
[WARNING ] Key 'file_ignore_glob' with value None has an invalid type of NoneType, a list is required for this value
[WARNING ] Key 'fi

[2017-06-07 11:28] emeryray02 opened #41627 "Key 'file_ignore_glob' with value None has an invalid type of NoneType"
We are getting this warning when running salt master:
[WARNING ] Key 'file_ignore_glob' with value None has an invalid type of NoneType, a list is required for this value
[WARNING ] Key 'file_ignore_glob' with value None has an invalid type of NoneType, a list is required for this value
[WARNING ] Key 'file_ignore_glob' with value None has an invalid type of NoneType, a list is required for this v

[2017-06-07 12:17] arnoschuring opened #41628 ""Writing Execution Modules" is incorrect about __virtual__()"
### Description of Issue/Question
The documentation on the` __virtual__` function is inconsistent, both with itself and with the actual saltstack code.

### Steps to Reproduce Issue
See [Writing Execution Modules](https://docs.saltstack.com/en/develop/ref/modules/#virtual-function).

The second paragraph under "__virtual__ Function" says:

But the second example directly following it actually uses

[2017-06-07 12:24] lubyou opened #41629 "salt.states.cmd.script: Parameter "args" is overwritten if "name/id" contains spaces"
### Description of Issue/Question
Hi,

If one uses spaces for the name/id of cmd.script, salt uses everything after the first white as arguments, even if args is set.

https://github.com/saltstack/salt/blob/v2016.11.5/salt/states/cmd.py#L1084

### Setup
[code]
### Steps to Reproduce Issue
[code]

### Workaround
[code]

### Versions Report
Salt Version:
           Salt: 2016.11.5

Dependency Versio

[2017-06-07 12:43] tsaridas opened #41630 "no packages for rh5"
### Description of Issue/Question
There are no packages @ the repo https://repo.saltstack.com/yum/redhat/5/x86_64/latest/

for rh5
latest are for version 2016.11.3

ping @dmurphy18

[2017-06-07 13:27] mirceaulinic commented on #35443
As a followup (obivously to myself): checked when this happens and the `proxy` key still exists in the `__opts__` (verified using `test.get_opts`).
Wondering if it would help asking this question under the salt-users forum, where @cro seems to be more active than on the Github issues.

[2017-06-07 13:42] tsaridas commented on #41630
just saw some messages saying you are dropping support for rh5.
imo that should have been done in a major version now a lower one

[2017-06-07 13:42] #41630 closed

[2017-06-07 14:08] amitsehgal commented on #41612
@garethgreenaway Thanks for prompt response. So, I did restart salt-master and `systemctl status salt-master`  confirms one parent and ~10 child processes. However, I also increased the disk space on my box. salt-master now looks happy. Not sure if this theory is correct. We use rabbitmq which stops taking messages if disk is full 80%. I have not been able to prove the same with zeromq. Although,

[2017-06-07 14:13] skeljuve commented on #41517
Here is first patch for salt/modules/solarisips.py:

[code]

Here is a second patch for salt/states/pkg.py

[code]

Now works:

- pkg.installed for one or more (via pkgs) packages
- pkg.latest ONLY for one pkg.

[2017-06-07 14:14] NegiLXXXVIII opened #41631 "[Feature Request] Managing Multiple Local Group Policy Objects"
### Description of Issue/Question
It would be great to be able to mange multiple local group policy objects with the win_lgpo module.
With the current win_lgpo module i can only manage the settings for one user or the whole machine.
Windows comes with two local user groups predefined (administrators and non administrators) and for those i want to set the policy's. This allows me to later on to con

[2017-06-07 14:38] shitler25oki commented on #41579
@sazaro could you provide the output of 'grains.item os'?  The pacman module is looking at the 'os_family' grain which I believe should be set to 'Arch' for Manjaro.  If it isn't the os is possibly not being detected correctly.

[2017-06-07 14:38] lorengordon commented on #41631
@lomeroe any thoughts?

[2017-06-07 14:44] lubyou opened #41633 "salt.modules.win_pki dependencies are not documented"
Hi,

the new win_pki module depends on the PKI module, which in turn requires powershell 4 and Windows 8+.
The dependencies are mentioned in the source code only.

Did saltstack drop support for Windows 7?

[2017-06-07 14:49] arthurlogilab commented on #33668
ping @Akilesh1597

[2017-06-07 14:55] kporembinski opened #41634 "Function: pkg.installed. Yum does not update installed package"
### My code is:
[code]

and I'm getting error:

[code]

I thinkt that may be a problem with **salt-repo-latest-2.el6.noarch.rpm**. When I manually run yum install for this RPM's I'm getting the same error but running in Salt Stack only getting this error.

It should end with:
[code]

but I'm getting:

[code]

Running yum clean all not helping.

### Versions Report
[code]

Posted also on [stackover

[2017-06-07 15:37] terminalmage commented on #41365
Sorry for the delay. His proposed fix looks like it would work on both Windows and non-Windows platforms :+1:

[2017-06-07 15:48] poliva83 commented on #26350
Was this feature ever implemented?

[2017-06-07 15:54] gtmanfred commented on #41605
1) are you running the reactor on the minion or on the master?  What kind of pillars are you trying to pass to the reactor?  Here is an example of me using sdb.get to get a secret key from an sqlite database.  https://github.com/gtmanfred/blog-sls/blob/master/salt/reactor/blog.gtmanfred.com.sls#L1

You could use the same kind of thing, but do a `salt.pillar.get` or `salt.config.get` to get pillar

[2017-06-07 16:06] gtmanfred commented on #41624
That is not going to work, because the minion through salt-ssh uses /var/tmp/.salt-*/ as the rootdir, which will have a different grains file.

This is not supported and it would be difficult, because of the grains being passed to the minion from salt-ssh do not use /etc/salt/grains.  If you want to use that ability, you would need to use master + minion, or use pillars to assign those values to t

[2017-06-07 16:06] #41624 closed

[2017-06-07 16:14] gtmanfred commented on #41623
I am able to replicate this.

[code]

But it looks like it is not a regression and has been happening since before 2016.3.0

[code]

It looks like this has been fixed and implemented in 2017.5 which we are working to get an RC out soon for.

Thanks,
Daniel

[2017-06-07 16:24] gtmanfred commented on #41626
Thanks for reporting this.

I have fixed the problem in #41637

Daniel

[2017-06-07 16:25] mchugh19 commented on #26396
This still seems to be the case.

[code]

Here are the results for the default smart merging strategy. Here zabbix-agent has a bunch of keys and values, and testkey and testlist that are using yamlex aggregates for the list. The testlist pillar is not rendered properly, and seems to be using the overwrite strategy.
[code]

If the master.conf is updated to explicitly use the aggregate strategy, the

[2017-06-07 16:28] mchugh19 commented on #26396
In this state, it seems the only way to have merged lists is to use the `pillar_merge_lists` option. However, this isn't quite optimal as this is a global setting for all lists. Aggregate seems to be the only pillar option allowing list merge while not merging for all lists, but as shown seems to break non aggregate pillars.

[2017-06-07 16:36] gtmanfred commented on #41628
So, `__salt__` should not be relied on in `__virtual__`, because it might not all be loaded by the time you get there, if it is somewhere, we should fix that.

As for __init__, we should definitely document that.
Thanks,
Daniel

[2017-06-07 16:42] gtmanfred commented on #41627
This is fixed in https://github.com/saltstack/salt/pull/32117

Which made it into 2015.8.10  https://docs.saltstack.com/en/latest/topics/releases/2015.8.10.html

This is a duplicate of #32114

[2017-06-07 16:42] #41627 closed

[2017-06-07 16:44] arnoschuring commented on #41628
Thanks for the response. If `__salt__` might be available but is not guaranteed in all cases, I think it's best to state that explicitly in the documentation (as opposed to "will be unavailable"), to prevent people from relying on it anyway.

[2017-06-07 16:44] cachedout commented on #41628
I agree with this. That's a good suggested change.

[2017-06-07 16:51] gtmanfred commented on #41629
That is gross, and not intuitive. We would love a PR that deprecates this behavior, and changes the default.

https://docs.saltstack.com/en/latest/topics/development/deprecations.html

Thanks for reporting this.

Daniel

[2017-06-07 16:54] gtmanfred commented on #41629
Actually, I went ahead and fixed it here.  #41638

Thanks for reporting.
Daniel

[2017-06-07 16:55] gtmanfred commented on #41634
I believe what you want is `pkg.latest`.  You should just be able to change pkg.installed to pkg.latest and it should work.

Thanks,
Daniel

[2017-06-07 17:05] #40517 closed

[2017-06-07 17:14] gtmanfred commented on #41633
We should still be supporting windows 7.  There are sometimes limitations on new modules that get added which might require newer versions of stuff based on tools that are available.  For example, the firewalld module is only supported on centos/rhel 7, because versions before that do not have firewalld at all.

Because of that I am actually going to mark this as a feature request to make win_pki

[2017-06-07 17:17] arnoschuring commented on #41628
if I can be permitted to ask a somewhat-related follow-up question: the reason I wanted to do this is because I want to initialize my execution module based on pillar data. Can it be guaranteed that `__pillar__` (or even `__salt__['pillar.get']`) is available during an execution module's `__virtual__()`, or should I better use some lazy-loading mechanism here?

[2017-06-07 17:44] dmurphy18 commented on #41630
@tsaridas Sorry about Redhat 5 no longer being  developed but the practice is to drop support for an OS when it reaches it's End of Life, and leave the previous releases available in the archives. This is similar to how support ended for Ubuntu 10.04 LTS and 12.04 LTS.  Similarly when a new OS is released, it becomes available in the next point releases for versions that are currently supported, f

[2017-06-07 17:45] gtmanfred commented on #41628
__pillar__ should be in there already.

This is where they are loaded.

https://github.com/saltstack/salt/blob/2016.11/salt/loader.py#L210

And during the init of the lazy loader, it does the `__prep_mod_opts` function

https://github.com/saltstack/salt/blob/2016.11/salt/loader.py#L1042

Which packs all the pillars.

https://github.com/saltstack/salt/blob/2016.11/salt/loader.py#L1249

Then the `__

[2017-06-07 17:47] gtmanfred commented on #41626
Closing because the above PR has been merged.

Thanks,
Daniel

[2017-06-07 17:47] #41626 closed

[2017-06-07 17:54] epcim opened #41640 "service.running not evaluated properly centos7 on docker."
### Description of Issue/Question
### Setup
[code]

drive to
[code]

actual docker image used under kitchen-salt test:

[code]

### Steps to Reproduce Issue

Self-explain, but check kitchen suites of this PR:
https://github.com/salt-formulas/salt-formula-freeipa/pull/3

### Versions Report

[code]

[2017-06-07 18:05] danielmotaleite commented on #41135
for me, appying patch  #41161 fixed the problem

[2017-06-07 18:16] gtmanfred commented on #41640
I am unable to replicate this.

Using my own kitchen + docker + travisci setup, it works correctly

https://github.com/gtmanfred/blog-sls/blob/master/salt/.kitchen.yml
https://github.com/gtmanfred/blog-sls/blob/master/.travis.yml
https://github.com/gtmanfred/blog-sls/blob/master/salt/nginx/init.sls
https://travis-ci.org/gtmanfred/blog-sls

Here is a gist of a test run today.

https://gist.github.c

[2017-06-07 19:50] kporembinski commented on #41634
No it won't work:

[code]

[2017-06-07 19:56] gtmanfred commented on #41634
Oh, that is my bad.

Also, the package name is `salt-repo` not `salt-latest`

It looks like rpm thinks it is `salt-repo-latest`

But we use `yum list installed` to check which packages are installed, so the state you actually want is.

[code]

[2017-06-07 20:05] kporembinski commented on #41634
Great! Start working!

[2017-06-07 20:05] #41634 closed

[2017-06-07 23:03] rallytime commented on #41450
Fixed with #41639

[2017-06-07 23:03] #41450 closed

[2017-06-07 23:42] dschaller commented on #41562
@gtmanfred can you close this issue since the fix has been merged?

[2017-06-07 23:53] gtmanfred commented on #41562
Yup, done I have also marked that PR to be backported to 2016.11 and nitrogen.

Thanks for the help!

[2017-06-07 23:53] #41562 closed

[2017-06-08 01:03] whiteinge commented on #41568
This same question came up a long while back in https://github.com/saltstack/salt/issues/10212.

You can make use of `{{ opts.id }}` which can't be changed without unauthenticating the minion.

In addition in response to the above issue the `id` grain was special-cased in https://github.com/saltstack/salt/pull/12128 to use the value from the authenticated request instead of the value from grains -

[2017-06-08 02:50] bing062 commented on #41313
Finally find a solution : delete C:\windows\TEMP\gen_py then re-install salt to fix it.
Thanks!

[2017-06-08 02:50] #41313 closed

[2017-06-08 07:03] mchugh19 commented on #26396
In #18665 it was mentioned that using a jinja include made the smart render function as expected: `#!jinja|yamlex` With that, my test pillars are rendered properly

[code]

[2017-06-08 07:30] GwiYeong opened #41644 "checking directory permission issue when salt-minion run as non-root"
### Description of Issue/Question
Hi,

When running salt-minion as non-root, there is a problem while checking directory permissions, and the following example is what I have been experienced.

1. We want to run salt-minion as 'userA', in order to enable the salt-minion to be started or stopped by the people who logged using the account 'usreA'.
2. In addition, we want to install salt under the ot

[2017-06-08 07:37] ascheman commented on #41549
@garethgreenaway I cannot even find the code in the current develop tree. Its probably outdated and solved by another change? That said I will close the issue and hope that the problem will not come up again in another way?

[2017-06-08 07:37] #41549 closed

[2017-06-08 07:58] sumeetisp opened #41645 "Salt mysql module"
### Description of Issue/Question

The following command successfully executes when using the local client,
salt <target> mysql.db_list

But when using salt-ssh doesnt give out any output. Following is the debug log,

[INFO    ] Fetching file from saltenv 'base', ** skipped ** latest already in cache 'salt://_modules/details/__init__.py', mode up-to-date
[DEBUG   ] LazyLoaded local_cache.prep_jid

[2017-06-08 09:26] arnoschuring commented on #41628
That's perfect. Thanks for the extensive answer

[2017-06-08 10:16] luka-page opened #41646 "Duplicate Salt instances on Minion Upgrade"
### Description of Issue/Question
Hi,

We're in the process of upgrading our instance from 2016.11.3 to 2016.11.5 and I have a state which is below that will upgrade the minions however once ran the previous version of salt-minion is still running, the only way I've managed to rectify this is ssh'ing into the minion, stopping the salt service then killing any remaining processes - this isn't ideal

[2017-06-08 10:23] #22081 closed

[2017-06-08 10:27] cetanu commented on #40897
Have you tried this on the develop version? I'm looking through the code and it seems doable... even nested extends, which is a little bit mind blowing

[2017-06-08 10:44] themalkolm commented on #32253
@DanielFallon in the end we simply write rpm packages for all formulas. For custom behaviour during installation there are yum plugins. Made no sense for us to continue with spm.

[2017-06-08 10:56] cetanu commented on #40840
I have code currently in the develop branch that would permit a user to select the switch by id instead of name, is that were to be desirable. Specifically, the get_mor_by_property function called allows for object ids.

VMWare is interesting in that they let you name all kinds of things by the exact same name, like folders, VMs, resource pools, and so on...

Basically you need to use a point of r

[2017-06-08 11:53] mikemol commented on #41568
Can we get this added to the docs? Based on the various things I'm stumbling across while googling, this is something that needs to be better-documented.

[2017-06-08 11:59] arnoschuring commented on #41628
I've taken a stab at updating the documentation myself: https://github.com/arnoschuring/salt/tree/execution-module-docs

Not sure if my changes are correct though, I haven't even tried to build the documentation.

[2017-06-08 12:18] mikemol commented on #41568
Nevermind; I see that is is documented in the FAQ, but not in a version of the FAQ that's landed at docs.saltstack.com yet.

[2017-06-08 13:03] Capstan commented on #31522
Yes, finally. We have a fix in the queue, though it'll take some time to show up in production.

[2017-06-08 13:14] ryandurfey commented on #31522
Thanks @Capstan!  I wasn't sure how current this thread was so I opened a google issue https://issuetracker.google.com/issues/62410187 which references back to this.  Apologies if this was just duplication.

[2017-06-08 13:32] nmadhok commented on #38814
This will break functionality for other users who have been using size and expect it to return a string. The only reason it's a string and not a dictionary was to match with other cloud providers.

[2017-06-08 13:47] Capstan commented on #31522
No worries. Internally we live and breathe on the issue tracker, so I'd already made a private one; I've marked it blocking yours and this.

[2017-06-08 13:54] hgfischer commented on #18487
I am also trying something similar. I've tried using slsutil.renderer to render the defaults.yaml from within a `py` state, but it is not working as I was expecting.

And loading the yaml from within the `py` state is also not working because the file is not in the cache.

Any ideas?

[2017-06-08 14:00] epcim commented on #41640
I agree with you, seems to be caused on my side by using different setup for run_command and another features to tweak container start. That resulted in an non recognized init type.

[2017-06-08 14:00] #41640 closed

[2017-06-08 14:00] cetanu commented on #36543
Huh, just came across this. What @avbehar mentioned would be fantastic. We have a VMWare NSX environment here and the only way I'm able to bootstrap the machines is by creating a saltstack instance inside the environment (which has to be created outside first, and then moved in).

Some way of specifying the IP to use for connection would be fantastic, even though slightly less automated than grabb

[2017-06-08 14:02] cetanu commented on #36256
There's a bunch of code in salt/cloud/clouds/vmware.py that are used to modify existing devices, maybe it's worth having a dig around there to see what can be re-used for this.

[2017-06-08 14:09] Ch3LL commented on #41644
@GwiYeong can you explain how you are installing salt on /home/userA? pip install? are you editing hte root_dir parameters in the config file? This will help me to try to replicate the issue.

Also your minion version 2015.5.5  is not a supported version so not sure if the version will make a difference if there was an upgrade. But I can try to replicate on a newer version once given details above

[2017-06-08 14:10] cetanu commented on #35568
Hello! I can get this done quicksmart. I'll submit a PR to the develop branch in just a sec.

[2017-06-08 14:13] Ch3LL commented on #41645
@sumeetisp what version of salt are you running? Also where are you setting the `mysql` parameters? master/minion/roster config? Also are you using salt-api when you refer to localclient vs salt-ssh?

[2017-06-08 14:16] cetanu commented on #38814
That is all correct. We do want to move away from providers being normalized across all clouds from what I've heard so that would be fine. The only other thing is communicating and/or documenting the change so that people can adjust - if that's how we want to handle it.

[2017-06-08 14:23] Ch3LL commented on #41646
@luka-page this is a duplicate of github.com/saltstack/salt/issues/40011 which is fixed by https://github.com/saltstack/salt/pull/40041 . I would suggest adding some logic to your state to get the pids before upgrade and then after upgrade to kill those old pids, although I have not tested this. Another approach would be to add a state to patch your minion first with the PR and then upgrade the mi

[2017-06-08 14:26] Ch3LL commented on #35568
@cetanu thanks for the pr!!! @tjyang can you give the fix in #41649 a try?

[2017-06-08 14:32] cetanu commented on #35568
One thing to note, this only accepts a string, so dynamic data would have to be inserted by some means that it outside of the provider/profile/mapfile (the author of this issue stated he needs date/user)

If dynamic data were to be added, we would first need to discuss how it would be formatted, ie. python code in a profile setting? Bash code? Reading from a provided file path? Something else? Som

[2017-06-08 14:34] varun292006 opened #41650 "Saltstack error while running MySQL query"
### Description of Issue/Question
salt.modules.mysql.query.run throws TypeError: 'list' object is not callable

### Setup

I have Windows minions one of which is running MySQL server. I have a state file which looks like this:
[code]
When I executed this it return the below error:

[code]
Then I installed  MySQLdb python module installed on all of them and set my PATH and PYTHONPATH variables to b

[2017-06-08 14:46] magicalbob commented on #41137
Cheers @rklaren - I'll have a go tonight as I've got a new machine to put in my cluster anyway.

[2017-06-08 14:50] sumeetisp commented on #41645
Salt Version:
           Salt: 2016.11.2

Dependency Versions:
           cffi: 1.9.1
       cherrypy: 3.2.2
       dateutil: 2.6.0
          gitdb: 0.5.4
      gitpython: 0.3.2 RC1
          ioflo: Not Installed
         Jinja2: 2.8
        libgit2: Not Installed
        libnacl: Not Installed
       M2Crypto: 0.21.1
           Mako: 0.9.1
   msgpack-pure: Not Installed
 msgpack-python: 0.4.6

[2017-06-08 14:51] nmadhok commented on #38814
If the idea and decision is to have no standardization between cloud providers, then this change should be fine as long as it follows the deprecation path. The old functionality should still remain atleast for the next 3 major versions. It would be better in that case to just add cpu and memory as additional keys to the top level dict rather than put them under size.

[2017-06-08 14:52] sumeetisp commented on #41645
when i use localclient i.e salt it works perfectly fine. Then i just switch to salt-ssh ( i have the roster entry)

[2017-06-08 14:59] cetanu commented on #38814
I agree, that's a much more elegant change. I'll add a commit soon

[2017-06-08 15:20] cetanu commented on #38814
Previous change reverted, cpu and ram added as additional keys

[2017-06-08 15:27] Ch3LL commented on #41135
Okay I was able to replicate the issue that @PauloGDPeixoto pointed out between versions 2016.11.4 and 2016.11.5 (I had to move my gpgkeydir to another location - /etc/salt2/gpgkeys/) and the commit is 9f6e2e9c92faf5c5f2354ed2ecacf2b1a35c382b. But this is fixed at the head of 2016.11 so that will be fixed with 2016.11.6.

I was also able to replicate @shallot 's issue on v2016.11.3 by changing bot

[2017-06-08 15:35] luka-page commented on #41646
Hi @Ch3LL

I tried patching the minion with the PR but no luck unfortunately we still get the additional processes, as stated in https://github.com/saltstack/salt/issues/40148 I think on yum install its using the packaged version. Any other suggestions?

Regards,

[2017-06-08 15:37] Sakorah opened #41651 "pkg.installed fails when unholding and test=true"
Hi,

I use pkg.installed to manage packages and hold their version. The installed version is determined from a pillar. I use the following states to accomplish that:
[code]
First state checks if installed version differs from the pillar and if so unholds the package. Second state installs the package and the third state holds the package again.

When I try to do a dry run with `salt '*' state.appl

[2017-06-08 15:38] mirceaulinic opened #41652 "Define new autodoc directive for cross ref"
### Description of Issue/Question

Not really an issue, but mostly a question as I don't know where exactly to define a new directive (`jinja_ref`) for cross reference so the Nitrogen release notes to look slick: https://docs.saltstack.com/en/develop/topics/releases/nitrogen.html#filters with URLs etc.

[2017-06-08 15:41] mirceaulinic commented on #39668
Hi @garethgreenaway - as joined now, would you mind having a look at this issue please?
Even a pointer in the right direction would be good so I can start playing around and give it a try...
Thanks!

[2017-06-08 15:44] tomlaredo opened #41653 "Regression on known_hosts fingerprints management"
### Description
Probably linked to #40005 and #40878

With Salt server and minion in version 2016.11.5, I experiment many problems with managing known_hosts fingerprints.

The code I provide was working some months ago (sorry for the imprecision, not sure about the version and time).

### Error messages
Here are the errors I run into:
[code]

Resulting in final message like this:
[code]

### Setup

[2017-06-08 16:02] Enquier opened #41654 "Nova Cloud module doesn't work for python-novaclient 8.0.0+"
### Description of Issue/Question
I estimate that versions of python-novaclient above 6.0.1 are incompatible with the nova cloud module. This is likely due to the overall push by the Openstack team to separate the neutron and nova client functions and the overall attempts to move everything up into the main openstack client.

My guess is the best option will be to rewrite the Nova module to either

[2017-06-08 16:04] garethgreenaway commented on #39668
@mirceaulinic Sure.  Let me spend some time looking into this.

[2017-06-08 16:13] whiteinge commented on #41568
Good find. I didn't know it was in the FAQ. If you see other places, like in the Pillar docs, that would be good to either add a note or link to the FAQ we'd happily accept a PR.

[2017-06-08 16:20] Ch3LL commented on #40578
Looks like i am able to replicate this on 2016.11 branch. I cannot get it to fail consistently though. Sometimes it passes but most of the time it fails which makes it hard to run a git bisect on to gather which commit broke this issue. I am seeing this in all v2016.11 versions, but i'm not seeing it on 2016.3 versions. Looks like we need to get this fixed. Thanks.

Here is a docker container for

[2017-06-08 16:33] Ch3LL commented on #41365
@lubyou want to send that as a PR?

[2017-06-08 16:49] gtmanfred commented on #41654
I left a review on this.

I want to just leave this as incompatible with the new version of the nova module.  And continue moving forward with the move to the openstack-infra/shade library.

[2017-06-08 17:14] garethgreenaway commented on #39668
@mirceaulinic Taking a quick look at this it appears to be a simple fix.  We're simply not firing an event back if the job is not running on a minion.  I'm working on a PR now and if possible would love a second pair of eyes/tester on it.

[2017-06-08 17:15] mirceaulinic commented on #39668
Fantastic, thank you very much @garethgreenaway!

[2017-06-08 17:17] Ch3LL commented on #41650
Can you clarify if it works when using MySQLdb python module vs PyMySQL when note changing the PATHs? Just want to make sure your not running into: https://github.com/saltstack/salt/issues/39561

Also is your myslq server suppose to be `localhost`? just want to make sure its grabbing the correct opts after changing the path.

[2017-06-08 17:56] Ch3LL commented on #41651
@Sakorah i'm having a hard tiem replicating this using the following state:

[code]

And salt version 2016.11.4 is installed. Is my test case wrong as you can see?

[2017-06-08 18:11] Ch3LL commented on #41651
@garethgreenaway pinged me and stated he can replicate this behavior so he will look at a fix for this.

[2017-06-08 18:26] Ch3LL commented on #41654
@Enquier does your PR solve your immediate issues? As @gtmanfred suggested he plans to move to the shade library instead.

[2017-06-08 18:29] lubyou commented on #40578
Hi,

Thanks for getting back to me.

I seem to be able to reproduce this on 2016.3.5 on Windows, too.

[code]

[code]

[code]

[2017-06-08 18:30] Ch3LL commented on #41652
I believe you would need to use a `:ref:` similar to what we do in the release notes [here](https://github.com/saltstack/salt/blob/develop/doc/topics/releases/2016.11.1.rst) but @rallytime is more knowledgeable in this area and can tell me if i'm wrong about this assumption

[2017-06-08 18:51] lubyou commented on #40578
Hi,

This seems to be happening on 2016.3.6 as well, at least on Windows:

[code]

[2017-06-08 19:13] Ch3LL commented on #41653
okay I think i can replicate this but i'm not certain on a couple areas of the change from md5 to  sha256 in openssh. For example when I have installed openssh 6.8 or above when logging into the VM i see the format as such:

[code]

And int he release notes for openssh 6.8 they state the the key format has indeed changed [here](www.openssh.com/txt/release-6.8)

   the new format: SHA256:mVPwvezndP

[2017-06-08 19:16] Ch3LL commented on #41653
i'm not sure whne you would have had this working because i'm still not seeing this working in 2016.11.4 which was the version it was added in, so maybe my analysis is incorrect.

[2017-06-08 19:30] shallot commented on #41135
@Ch3LL I tried it again with 2016.11.5 but it was still broken; I then manually applied the current version, 24946fe, and that one actually works.

[2017-06-08 20:08] lomeroe commented on #41631
I don't have any experience with the multiple local GPOs.  User comments on the technet page linked hint that they appear to be stored in C:\windows\system32\GroupPolicyUsers\{{SID}}.  If they are kept in the same format, it *could* be a fairly easy add.

[2017-06-08 20:27] jrsdav commented on #40897
I have not yet had the time to test in the dev version, unfortunately. But thanks for the heads up! I'd love for you to report back if you get around to testing before I do.

[2017-06-08 20:48] mirceaulinic commented on #41652
Yes, possibly - worths trying. I followed the model from the minion configuration topic and defined the entity as https://github.com/saltstack/salt/blob/nitrogen/doc/topics/jinja/index.rst#sequence, referenced as https://github.com/saltstack/salt/blob/nitrogen/doc/topics/releases/nitrogen.rst#filters, but the `jinja_ref` may need to defined somewhere like `conf_minion` or `conf_log`: https://githu

[2017-06-08 21:04] rossengeorgiev commented on #40580
Anything on this? The issue remains on latest version. Master will say it fails to resolve the hostname of the git repo and then the minion will report that the top file is empty. Login into the box and running highstate manually results in successful run.

[2017-06-08 21:26] m03 commented on #41062
@gtmanfred My pull to implement a similar feature (allowing any grain value to be passed in the URL) was merged in develop. Hopefully that adds the functionality that @bhanukumar22 was looking for.

See [this pull](https://github.com/saltstack/salt/pull/41576) for more information.

[2017-06-08 21:34] gtmanfred commented on #41062
Awesome, thanks!

[2017-06-08 21:34] #41062 closed

[2017-06-08 21:44] rallytime commented on #41652
Hmm, I actually haven't ever done something like that before. Perhaps @whiteinge might know.

[2017-06-08 22:28] #8948 closed

[2017-06-08 22:28] #8877 closed

[2017-06-08 22:28] #8927 closed

[2017-06-08 22:28] #8938 closed

[2017-06-08 22:28] #8913 closed

[2017-06-08 23:24] mirceaulinic commented on #38872
Had a couple of minutes to check this. It looks like the problem is with the `hipchat` returner actually (tested with `redis` and everything was OK).

In debug more, this is what I see on the master:

[code]

I will see that next week, seems to be an easy fix.

[2017-06-08 23:33] mitar commented on #40133
Hm, looking into this, but I am not sure how exactly is this used? @The-Loeki

So if I currently have this entry in my roster file:

[code]

How do I convert it so that `mitar` is read from the environment?

[2017-06-09 00:32] moloney opened #41667 "libvirt.keys generates CA certificate with 1 year expiration date"
### Description of Issue/Question
My libvirt hypervisors started to fail to communicate with each other mysteriously. After some digging I find that the SSL certificate generated by the `libvirt.keys` state has expired.  A default value of 1-year for these certificates is a bit silly.  There is no provision to update the certificates or change the expiration time.

### Setup
I am on 2015.8.13 but

[2017-06-09 01:49] GwiYeong commented on #41644
@Ch3LL First of all, I made mistake in Steps to Reproduce Issues section. I changed userA and userB and the version report was incorrect. I'm sorry for giving you the wrong information. I have also modified above issue.
this is the correct version.

### Steps to Reproduce Issue

you can test it easily

make two user
[code]
make directory

~mkdir /home/userA/salt~ -> mkdir /home/userB/salt

change

[2017-06-09 02:11] damon-atkins commented on #40578
FYI: There are issues python does not support Unicode on the windows console  until python 3.6.0, the issue has been around for a long long time and only recently fixed.  However do not thing this is your issue.

Unicode string that contains the unicode character U+00E9 (LATIN SMALL LETTER E WITH ACUTE).

[2017-06-09 04:33] sumeetisp commented on #41645
salt-ssh test-mysql config.option mysql.user
test-mysql:
    root

I guess the connection option are available. Still mysql module cmds are not returning any output

[2017-06-09 04:43] Enquier commented on #41654
Yes the PR also fixes the immediate issue. I wanted to make sure that the discussion point was raised. I think the move makes sense as they seem to be deprecating nova and neutron

[2017-06-09 04:46] bhanukumar22 commented on #41062
I created a custom module which can concatenate the URL and minionid. I was
able to pull the pillar values for any minion, rather than for one hard
coded minionid.

On Fri, Jun 9, 2017 at 3:04 AM, Daniel Wallace <notifications@github.com>
wrote:

[2017-06-09 05:38] sumeetisp commented on #41645
I am getting the output when i send the connection parameters  in the cmdline. I feel it is not able to get connection parameters from pillars. How can i verify this?

[2017-06-09 06:33] mostafahussein commented on #41593
It works using a regular minion setup correctly:
[code]
The issue with salt-ssh only. Which part could be responsible for this ?

[2017-06-09 07:58] varun292006 commented on #41650
Thanks for the reply.

No it doesn't work without changing the PATHs. Throws the same error.
I was hoping that changing of PATHs will solve the problem but it didn't.

And yes, MySQL server is localhost.
I have below lines in my minion configuration file:
[code]

[2017-06-09 09:23] yannj-fr opened #41668 "Parted modules mkfs command does not work with NTFS"
### Description of Issue/Question
Currently, the authorized fs_type for NTFS is set in capital letter while mkfs uses small letters. Parted uses NTFS in capital letters.
It is impossible to use the mkfs command to format in ntfs.

### Steps to Reproduce Issue
salt 'minion' partition.mkfs /dev/sda1 NTFS
minion:
    Error: {0} is unavailable

salt 'minion' partition.mkfs /dev/sda1 ntfs
minion:
    E

[2017-06-09 09:37] mirceaulinic commented on #41652
I think I am going to close this, as per @whiteinge's indications https://github.com/saltstack/salt/pull/41607#issuecomment-307320660
Thanks everyone!

[2017-06-09 09:37] #41652 closed

[2017-06-09 13:44] ekle commented on #3415
it would be cool if there were also support for a max-version

[2017-06-09 14:24] The-Loeki commented on #40133
@mitar I had some discussion in my PR regarding that environment support, and eventually the Salt powers decided against directly supporting it.

I've modified the roster and docs to boot; it should now be done through sdb:
https://docs.saltstack.com/en/develop/ref/roster/all/salt.roster.cache.html#module-salt.roster.cache

Bear in mind this is only in upcoming Nitrogen release

[2017-06-09 14:26] ssriley opened #41672 "allow salt minion keys to be accepted as non-root user"
### Description of Issue/Question
I have setup external authentication and salt acl's for certain users to be able to run a limited amount of salt modules. I would like to be able to allow those users to be able to run the salt-key function so see which keys are accepted and to be able to accept keys on there own without having to be a root user.  Is there a way to allow a non-root user to be able

[2017-06-09 14:36] epelc opened #41673 "scheduling job in pillar environment doesn't work outside of base"
### Description of Issue/Question
You can not schedule jobs via pillars in environments besides `base`. NOTE I tested on the latest develop branch(2017.5.0-241-gbc0f969) as of yesterday.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

Master config
[code]

`salt/prod/pillar/top.sls`
[code]

`salt/prod/pillar/backup.sls`

[code]

### Steps to Repro

[2017-06-09 15:32] epelc opened #41675 "nitrogen docker state `docker_image.present` doesn't work"
### Description of Issue/Question
`docker_image.present` doesn't work
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
In a state use `docker_image.present`. Note using `salt-call docker.pull myimage` works but the state one does not.

[code]

It appears to be caused by this

[2017-06-09 15:34] epelc opened #41676 "`docker_container.running` image id error"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Run a state with
[code]
The image is already present/downloaded.

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/mini

[2017-06-09 15:57] epelc commented on #41675
This is due to some version issues on deps.

[2017-06-09 15:57] #41675 closed

[2017-06-09 16:32] shellhacks commented on #40821
Since this feature is yet not released ... does anybody know  how to perform such kind of insert? Maybe any workaround.

[2017-06-09 16:44] thatch45 commented on #3415
@terminalmage this has been added to Salt right? I thought we got this in years ago

[2017-06-09 16:47] garethgreenaway commented on #41667
@moloney Looking at the code and trying to replicate this issue, it doesn't appear that the `keys` function in the state module generates the keys.  It appears they're generated, stored in pillar and then retrieved by the `keys` function.

[2017-06-09 16:51] nmadhok commented on #38814
@techhat @cachedout Did we decide to move away from cloud drivers from being standardized? If so then we also need to change a lot in the VMware cloud driver including the concept of image and size. If that is the case, I'm fine with https://github.com/saltstack/salt/pull/41647 being merged into develop

[2017-06-09 16:51] epelc commented on #41676
My salt minion was mixed up after switching to the dev branch.

[2017-06-09 16:51] #41676 closed

[2017-06-09 16:56] ssgward opened #41678 "SSEAPI returner causing librato returner to throw error. Fill up log"
SSEAPI returner causing librato returner to throw error. Salt-Master log getting filled up with librato errors:
[code]
This is seen only with Nitrogen and only with the SSEAPI returner installed. Don't see these errors with other returners enabled (tried with MySQL returner). Don't see these errors with only Nitrogen installed.

In discussing with Tom it seems the safest, easiest remedy for this i

[2017-06-09 17:04] terminalmage commented on #36223
@rlifshay I can reproduce this. https://github.com/saltstack/salt/pull/41679 should address this.

[2017-06-09 17:09] #36223 closed

[2017-06-09 17:25] lubyou commented on #40578
Hi,

I agree about this not being an issue with the windows console, as it also happens when I run state.apply remotely:

[code]

It is the mix of unicode and string objects that blow up format():

![screen shot 2017-06-09 at 19 19 30](https://user-images.githubusercontent.com/300014/26986713-0f722a34-4d49-11e7-9a56-3852df032c92.png)

If I add
`from __future__ import unicode_literals`
to state.py,

[2017-06-09 17:29] garethgreenaway commented on #41673
@epelc I ran a quick test and haven't been able to reproduce this so far.  Can you confirm that the scheduled job shows up if you do a pillar.items?

[2017-06-09 17:37] epelc commented on #41673
@garethgreenaway it's showing up in `pillar.items pillarenv=prod`. I'd like to note I have set the environment and pillarenv in the minion config to `base` to prevent accidentally running states with mixed pillars(from prod and test).

[code]

[2017-06-09 17:42] lubyou commented on #41365
@Ch3LL I added a pull request.

[2017-06-09 17:49] garethgreenaway commented on #41673
@epelc If the pillarenv for the minion is set to base that's likely the reason it's not finding the schedule items in pillar.  The scheduler code uses the configured pillar environment for the minion to pull jobs from pillar.

[2017-06-09 17:50] #41508 closed

[2017-06-09 17:53] epelc commented on #41673
@garethgreenaway I didn't know that but it does make sense. Thanks for your help!

I worked around this by moving the job to the base environment but setting `kwargs` for `pillarenv` and `stateenv` on the `state.sls` call in the job.

[2017-06-09 17:53] #41673 closed

[2017-06-09 17:54] garethgreenaway commented on #41673
@epelc Glad to help :)

[2017-06-09 17:56] twellspring opened #41680 "Reactor running sls on salt-master"
### Description of Issue/Question
I am trying to setup a reactor to do a DDNS update.   In the past I was using a runner.state.sls, but per the documentation it now appears I need to use a local.state.apply.     Does using runner.state.sls still work and will it continue to be supported?   If I move to using the local.state.apply is there a way to specify the `tgt` without hard-coding the salt mas

[2017-06-09 17:58] lordcirth commented on #39480
Looking into this, I notice that aptpkg.list_repos() returns commented-out repositories, saying:

line:
# deb-src http://security.ubuntu.com/ubuntu xenial-security multiverse

I believe this is the correct place to fix this bug - commented lines should be ignored.  We could also recognize commented lines specially, but I don't think that's worthwhile.

[2017-06-09 18:07] lordcirth commented on #39480
On further study, list_repos() returns a property 'disabled' which is True for commented repos.  So probably that should be handled by the caller.

[2017-06-09 18:57] Ch3LL commented on #41678
Fixed here: https://github.com/saltstack/salt/pull/41683

[2017-06-09 19:22] garethgreenaway commented on #41618
@whiteinge I'm working on a fix for this one and wondering if there is anything in particular that you think would make sense to be in the event that is put on the event bus when this situation happens?

[2017-06-09 20:06] JaseFace commented on #25033
A nice addition would be a feature in Salt that basically tells it to bail on the run on start again with the same parameters, be it `state.sls foo,bar` `state.highstate` etc. This way when you make a change that you know will affect the environment such as this, you have a way to natively handle it.

Currently you either have to simply run twice, or break out the required state (placing users) in

[2017-06-09 20:52] ssgward commented on #41678
This is fixed. Thanks for the quick turn around. Closing.

[2017-06-09 20:52] #41678 closed

[2017-06-09 21:00] garethgreenaway commented on #41618
@whiteinge Here is what I have at the moment:
[code]

[2017-06-09 21:01] moloney commented on #41667
Sorry, I should have mentioned the actual key generation happens in the external pillar.

[2017-06-09 21:16] garethgreenaway commented on #41667
@moloney Ahh that makes more sense.  Is there a specific Salt module that you're using to generate them via external pillar?

[2017-06-09 21:29] moloney commented on #41667
I am just making use of the `libvirt.keys` state, as mentioned above.

[2017-06-09 21:35] garethgreenaway commented on #41667
@moloney All good now.  I needed to have certtool installed.

[2017-06-09 22:34] #9096 closed

[2017-06-09 22:34] #9170 closed

[2017-06-09 22:34] #9277 closed

[2017-06-09 22:34] #9263 closed

[2017-06-09 22:34] #9262 closed

[2017-06-09 22:34] #9278 closed

[2017-06-09 22:34] #9333 closed

[2017-06-09 22:34] #9370 closed

[2017-06-09 22:34] #8910 closed

[2017-06-09 22:41] whiteinge commented on #41618
@garethgreenaway thanks for tackling this one!

I'd suggest duplicating the format of minion error as much as is possible. E.g.:
`salt '*' foo.notfoo bar baz=Baz qux=True`
[code]

[2017-06-10 12:10] cetanu commented on #38814
Some background here:

https://groups.google.com/forum/#!topic/salt-cloud/8phr9hQIqvo

https://groups.google.com/forum/#!topic/salt-cloud/JVaXz81jyrs

My interpretation might be off, I am human after all. I'm fine with whatever conclusion we get to, as long as it irons out the flaws while keeping all the good.

[2017-06-10 19:51] magicalbob commented on #41137
Saved the domain xml again with virsh edit as you suggested @rklaren

Same issue when I tried to use salt-cloud -p:

salt-cloud -p libvirt-test-idell test-idell
libvirt: QEMU Driver error : Domain not found: no domain with matching name 'test-idell'
[WARNING ] /root/src/my_salt/salt/salt/cloud/clouds/libvirt.py:376: FutureWarning: The behavior of this method will change in future versions.  Use sp

[2017-06-11 06:26] mitar commented on #40133
Not sure how this would then be used. Would this work?

[code]

If this is not implemented, maybe the issue should be reopened?

[2017-06-11 09:40] yannj-fr opened #41688 "Parted module command "mkfs" fails creating swap"
### Description of Issue/Question
The mkfs command is said to support "linux-swap" but the commands fails with message "Error: {0} is unavailable.'"

Note : the output has been corrected by PR #41670

### Steps to Reproduce Issue
salt '*' partition.mkfs /dev/sda2 linux-swap

### Versions Report
The bug is still present in develop

Salt Version:
Salt: 2016.11.5

Dependency Versions:
cffi: Not Insta

[2017-06-11 19:59] ryanmaclean commented on #6896
👍

[2017-06-12 02:22] jdonofrio728 opened #41691 "Can't pass integers as cmd.run environment variables"
### Description of Issue/Question
Not sure if this is intentional, but values passed as environment variables to cmd.run or cmd.script fail if they are not strings.

[code]
In my specific case, I'm using variables from pillar, some which are numbers, and passing them as environment variables to scripts. Since I can set numbers as environment variables in a linux shell, I figured I would be able to

[2017-06-12 03:09] rallytime commented on #40155
I have added dependency information to the boto_vpc module and state docs, and also updated the `__virtual__()` function to have a better error message in the state module if the execution module cannot be loaded.

[2017-06-12 03:33] rallytime commented on #40446
@sumeetisp I have added documentation for these options in #41693.

[2017-06-12 03:41] rallytime commented on #40410
Thanks @DarrenDai! I have added ``ipcidr`` to the list of allowed values for the ``expr_form`` option docs in #41694.

[2017-06-12 07:53] MarloweW commented on #22063
fixed in #41423

[2017-06-12 09:33] aboe76 commented on #22063
@MarloweW nice thanks for this!

[2017-06-12 12:51] felixuma commented on #34880
salt-cloud -f i the cloning command and therefore you need to use the "clonefrom" parameter , for creating a new machine you should use the salt-cloud -p command.

[2017-06-12 13:07] absolutejam commented on #19839
Is this issue still alive?

I'd like to take a look at this if I get time, but I'm still diving into Salt & Python. I've noticed that Salt already has some utility functions for handling Windows Updates as they are used in win_updates/win_wua. I think if we could leverage these (They just call the DotNet `Microsoft.Update.Session` classes), we can easily add logic to either check installed updates

[2017-06-12 13:16] lorengordon commented on #19839
@absolutejam, I think the issue is still pertinent. I never found time to work on it myself. I'd be happy to collaborate some, if you can take lead.

I would at least like the approach to consider updates that are installed directly as packages on some Windows versions, and as hotfixes/updates on other Windows versions (as described in the OP, using .NET 4.5.2 as an example). I'm not quite seeing

[2017-06-12 13:41] absolutejam commented on #19839
On second read-through, I didn't fully grok that you were saying updates are available as both update and exe. However, I was under the impression that even `.exe` updates were registered into the Windows Update history log/list of installed updates, as they're all performed as transactions in the WUA. Might need to do a bit of testing to ensure that what I'm saying is true. Then all would be left

[2017-06-12 13:50] lorengordon commented on #19839
So in the workflow I was describing, the .exe is _always_ specified by the `installer` option. When the .NET45 .exe is installed on ws2008r2, _Windows_ (not salt) installs it as a software package and so it can be listed as a software package (`pkg.list_pkgs`). When the .exe is installed on ws2012r2, _Windows_ installs it as an update, and so it cannot be listed by `pkg.list_pkgs`.

In my proposal

[2017-06-12 14:00] techhat commented on #38814
Ping @gtmanfred

[2017-06-12 14:44] terminalmage commented on #41691
Fixed in https://github.com/saltstack/salt/pull/41696.

[2017-06-12 14:44] #41691 closed

[2017-06-12 15:46] gtmanfred commented on #41680
In 2014.7.0, we renamed runner.state.sls to runner.state.orchestrate.

This has been noted at the bottom of the doc here.

https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.state.html#salt.runners.state.orchestrate

Thanks,
Daniel

[2017-06-12 15:46] #41680 closed

[2017-06-12 15:48] gtmanfred commented on #41688
Thanks for the PR for this.

Daniel

[2017-06-12 16:08] gtmanfred commented on #38814
The goal is not to change the way that the cloud drivers work now.  But to move to modules, the modules do not have to be standardized across clouds.

But the cloud drivers today should remain standardized.

[2017-06-12 16:32] saltuser16 commented on #35544
It turns out the change got overridden by a command run afterwards. This
issue has been resolved.

On Thu, Aug 18, 2016 at 10:58 AM, Megan Wilhite <notifications@github.com>
wrote:

[2017-06-12 16:39] ealphonse commented on #34985
@Ch3LL Hi, I cannot reproduce the bug, so I cannot evaluate the patch, sorry. @carlpett @twellspring can you ?

[2017-06-12 17:28] terminalmage commented on #39939
Fixed in https://github.com/saltstack/salt/pull/41700.

[2017-06-12 17:28] #39939 closed

[2017-06-12 18:52] gtmanfred commented on #41672
This would be great to have.

Thanks for the request,
Daniel

[2017-06-12 20:22] terminalmage commented on #3415
This was added a long time ago, but it is not universally supported. It is only supported for package managers which support comparison operators.

From the [docs](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.pkg.html#salt.states.pkg.installed):

[code]

In order to support this more universally, we would need to be able to get a list of the available version(s) of a given packa

[2017-06-12 20:32] twellspring commented on #41178
Not sure how to get the `info needed` label removed from this.

[2017-06-12 20:36] #41668 closed

[2017-06-12 20:38] joeydouglas commented on #34364
I'm experiencing a similar issue. Do you recall what was done to rectify this?

[2017-06-12 20:51] twellspring commented on #41680
@gtmanfred

My goal here is to have a reactor run a single state file on the master.  This seems like this should be a  pretty common use case, but the documentation I have read does not really help me accomplish this.

What is the recommended method for a reactor to run a single sls file on the local master without hard-coding the master's name ( I use the same config on multiple salt servers so

[2017-06-12 20:58] thatch45 commented on #3415
ok, so it only works for pacman, zypper and ebuild, but not apt and yum/dnf?

[2017-06-12 21:12] twellspring commented on #41680
As best I can tell I need to do something like this.

[code]
But not sure how to tell it to run on the master.

[2017-06-12 21:15] gtmanfred commented on #41178
@UtahDave weren't you working on something with this?

Thanks,
Daniel

[2017-06-12 21:18] gtmanfred commented on #41680
Check and see if `caller` is available.  That will run it as a local minion
using the python api equivalent of salt-call.

But I think that might only be available in the reactor when it is run on a
minion, which won't be possible until the Next major release, Nitrogen.

If `caller.state.apply` does not work, then you will need to put the
masters minion name in the tgt: option.

On Mon, Jun 12, 20

[2017-06-12 21:53] nmadhok commented on #38814
@gtmanfred That's what I thought. Thanks for clarifying!

@cetanu @steverweber We could either keep `size` as it is today (string) and simply add `cpu` and `memory` as additional keys:
[code]

Or we could add `size_dict` as a dictionary and keep `size` as a string until the next 3 releases with a deprecation warning to users:
[code]

PS: We should call it `memory` instead of `ram` since that's wha

[2017-06-12 22:12] rallytime commented on #41688
Thanks @yannj-fr! I just merged your pull request, so I'll close this.

[2017-06-12 22:12] #41688 closed

[2017-06-12 22:13] nmadhok commented on #34880
@Ch3LL This issue can be closed as this doesn't seem to be an issue anymore.

[2017-06-12 22:17] #40410 closed

[2017-06-12 22:22] rallytime commented on #34880
Thanks everyone for following up here. I agree that this can be closed now. Please let us know if this problem pops up again and we will be happy to open this issue once more.

[2017-06-12 22:22] #34880 closed

[2017-06-12 23:16] #41629 closed

[2017-06-12 23:24] alexwbaule commented on #40486
I Got the same Issue, with Salt 2016.11.5, in a CentOS 7.
Basically, i try to create a file with file.serialize:

[code]

My Pillar has:
[code]

and my state has:

[code]

My jinja template:

[code]

There is no error in the execution, but the file has a wrong string:
[code]

There is some workaround for this ?

[2017-06-13 00:52] terminalmage commented on #3415
Correct.

It could potentially be added for apt and yum/dnf since we already have a ``list_repo_pkgs`` function for both. We would need our own logic to decide which version to install though, since neither apt nor yum/dnf support passing comparison operators when installing. The logic should already be there to check if a version is installed which matches the expression (i.e. ``>=4.5.6-7.el7``),

[2017-06-13 02:08] terminalmage commented on #31918
@GreatSnoopy The issue you're experiencing is not the same as the one reported. The issue reported here deals with what happens when you have multiple top files, not a combination of top file and master_tops.

However, after looking at how master_tops and top file matches are combined, I found the issue. To ensure no duplicate matches, the master_tops and top file matches are merged together by fi

[2017-06-13 02:08] #31918 closed

[2017-06-13 02:22] rallytime commented on #40605
I have fixed this documentation discrepancy in #41711.

[2017-06-13 02:22] #40605 closed

[2017-06-13 02:25] rallytime commented on #40770
Fixed by #40779

[2017-06-13 02:25] #40770 closed

[2017-06-13 02:34] #39135 closed

[2017-06-13 02:38] spenceation opened #41712 "System execution module will execute against salt-proxy."
### Description of Issue/Question
When a salt-proxy is running on a Linux system, the salt.modules.system execution module will incorrectly run when called against proxy minions. For example, "salt 'proxy-minion' system.reboot" will incorrectly reboot the salt-proxy instead of providing an error message that the execution module is not applicable.

### Setup
(Please provide relevant configs and/or

[2017-06-13 02:39] #41286 closed

[2017-06-13 02:43] #38314 closed

[2017-06-13 03:21] gzcwnk opened #41713 "How would I or is there a process for migrating a Salt master to a new server?"
### Description of Issue/Question

I need to move my existing salt-master off a RHEL6 server to a new RHEL7 server.   If possible I'd like to keep the keys and any other config etc so ideally I want to be able to simply change the DNS record and have clients connect tot the new server and work OK. is this possible? and if so how?

[2017-06-13 08:24] kenanbiel opened #41714 "Error in slack_notify.post_message module"
### Description of Issue/Question
I'm setting up a salt-reactor that whenever there's a failure of salt state runs/change and i want to be notified via slack. But every time i simulate a highstate failure from salt-master's side, it returns this error:

[code]

I'm also pretty sure that the values are being passed from my salt reactor state file to the customized runner that i've created:

[code]

[2017-06-13 08:44] hiscal2015 opened #41715 "service will not reload by watching file.recurse"
Hi, all

I'm using file.recurse but find service won't reload if I change files in the directory. Here's my code:

saltstack version: 2016.11.1

[code]

dry-run:
[code]

[2017-06-13 09:09] kenanbiel commented on #41714
I've also tried to run salt-run manually by using the passed arguments from the one above using this command:

[code]
And it's returning this error:
[code]

[2017-06-13 10:32] sumeetisp commented on #41645
Any comments please

[2017-06-13 12:22] dereckson opened #41716 "salt.states.grains.list_present appends a full list when some elements are already defined"
### Description of Issue/Question

The salt.states.grains.list_present ensures a list is present.

When some entries of the list are already present, but not the full list, it appends the full list.

That creates duplicate entries.

### Setup
A saltmaster, a minion (repro also with salt-call --local)

### Steps to Reproduce Issue

Apply twice the following state for the two following lists:

[code

[2017-06-13 13:21] danhawkes opened #41717 "firewalld.present does not propagate errors"
### Description of Issue/Question

(Background: adding `rabbitmq` service to `public` zone)

Running `state.apply test=True` shows the service will be added:

    ----------
              ID: firewall_public_zone
        Function: firewalld.present
            Name: public
          Result: None
         Comment: Configuration for 'public' will change.
         Started: 13:56:51.722334
        Dur

[2017-06-13 13:36] Ch3LL commented on #41712
@spenceation what version of salt are you seeing this behavior on?

[2017-06-13 13:49] Ch3LL commented on #41713
You will need to rsync files in /etc/salt/ and of course any other files you want to migrate for your salt instance such as your pillar and file roots to the new server. I did find this issue here https://github.com/saltstack/salt/issues/10032 that will impact your planned migration so you will need to workaround this. I am guessing you could possibly schedule a minion restart with cron? So for ex

[2017-06-13 14:44] Ch3LL commented on #41714
The eval error is due to `data_str` being a dictionary and not a string or code object as it states. Once I remove that eval then I am able to get further into the code and hit the error you were seeing: `NameError: global name \'__opts__\' is not defined` this is because you are trying to use an execution module with a runner. You will need explicitly load the module to ensure __opts__ is loaded

[2017-06-13 15:01] mchugh19 commented on #26396
A few tests seem to show that the smart merging strategy simply isn't operational for yamlex (which makes it seem like yamlex isn't functional so all of this is begging for unit tests)

In utils/dictupdate.py, I added a few logging lines:
[code]

This prints:
[code]

But this is a problem as I have a few pillar files such as:
[code]

From these, I would expect to see a yamlex renderer logged, but

[2017-06-13 15:04] Ch3LL commented on #41715
Are you stating the issue is only when you run test=True? Because when I don't pass test=True the state works as expected.

[2017-06-13 15:05] danhawkes commented on #41717
Ah, checked the minion log, it was failing because:

[code]
--> There was a typo the service name: d**ch**p / d**hc**p

However, it seems wrong that the state's not failing because of the error - shouldn't `state.firewalld`  be checking the exit code of the command?

[2017-06-13 15:08] Ch3LL commented on #41716
@dereckson this is a duplicate of https://github.com/saltstack/salt/issues/31427. Please feel free to add comments in this issue since we will track this issue there.

[2017-06-13 15:08] #41716 closed

[2017-06-13 16:31] Ch3LL commented on #41717
Looks like i'm able to replicate this. Its failing as expected when it adds the service in the `_present` method, but during the `present` method it does not detect the failure. [Here](https://github.com/saltstack/salt/blob/develop/salt/states/firewalld.py#L170-L176) in the code `ret['result']` initially is False and then the code changes it back to True. we will nee to fix this thanks

[2017-06-13 16:39] gaetanquentin opened #41719 "setting environment variables with a script before using a state module"
### Description of Issue/Question
Question or maybe issue:
i want to use states.gem to install a ruby gem, but ruby is part of Software collection package. That means i have to set the environment before calling ruby,. Manually i do it this way:
  1: executing  the SoftwareCollection (SCL)  script to set environment variables: . /opt/rh/rh-ruby23/enable
  2. executing the gem command: gem install

[2017-06-13 16:42] thatch45 commented on #3415
ok, lets try to get this work on the roadmap for an upcoming release

[2017-06-13 16:54] lorengordon commented on #39918
@mchugh19, thanks for testing the patch. https://github.com/saltstack/salt/issues/40902 should close this issue.

[2017-06-13 17:07] spenceation commented on #41712
We are running salt 2016.11.5 (Carbon).

[2017-06-13 17:18] Ch3LL commented on #41645
Can you see if this resolves your issue? https://github.com/saltstack/salt/pull/39862/files which is in salt version 2016.11.4 and above

[2017-06-13 17:18] rallytime opened #41720 "[Py3] Some salt-cloud drivers do not work using Python 3"
### Description of Issue/Question
The Joyent driver, as well as any driver using `apache-libcloud`, does not currently work when using Python 3.

Details for this issue can be found in [this comment](https://github.com/saltstack/salt-jenkins/issues/396#issuecomment-307254420) and [this comment](https://github.com/saltstack/salt-jenkins/issues/396#issuecomment-307430483). This problem was initially

[2017-06-13 17:25] sazaro opened #41721 "state.sysrc broken when setting the value to YES or NO"
### Description of Issue/Question
When using the state.sysrc module and setting the value to NO or YES, it receives an error. It does however work with other capitalized words such as NOO or YESS.

Edit: YES and NO work when **quoted**, but generated the error when unquoted.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
The sysrc module is used t

[2017-06-13 17:26] Ch3LL commented on #41712
I think this is expected behavior.  A module would not load only if it was not applicable to the system. But its possible to run normal execution modules against a proxy minion. Is there a reason you are expecting that particular module not to work?

Also i'm fuzzy in this area so maybe @cro can correct me if i'm wrong about this assumption

[2017-06-13 17:45] spenceation commented on #41712
The two issues I would think of are:
1. Prevents the ability for proxy minions to utilize the existing namespaces (such as system).
2. Incorrectly executes commands on the salt-proxy when targeting the proxy minion. This would lead to unexpected behavior as the salt-proxy is being executed against, not the proxy minion.

Adding a check for salt.utitls.is_proxy() would allow the module to still ope

[2017-06-13 17:50] #41365 closed

[2017-06-13 18:01] Ch3LL commented on #41646
What about the other workaround I mentioned to schedule a forcekill of the PIDS that aren't properly shutting down?

[2017-06-13 18:17] gtmanfred commented on #41721
you will need to quote the YES string, yaml converts YES and NO to true and false.

https://docs.saltstack.com/en/develop/topics/troubleshooting/yaml_idiosyncrasies.html#true-false-yes-no-on-off

Thanks,
Daniel

[2017-06-13 18:23] Ch3LL commented on #41091
I can reproduce it but I can't get it to work in 2016.11.3 either adding this to my profile

[code]

And just creating a VM with `salt-cloud -p <profile_name> <vm_name>`

I'm assuming both your domains are being set correctly in 2016.11.4?

[2017-06-13 18:58] sebw commented on #41091
I don't use `salt-cloud`, I use `salt-run` from a Rundeck job taking options. Profile options are passed to the runner through pillars.

`salt-run state.orchestrate orch_vmware.createvm pillar="{event_data: {post: {master: @option.MASTER@, instances: @option.MINION_ID@, clonefrom: @option.IMAGE@, datastore: @option.DATASTORE@, num_cpus: @option.CPU@, memory: @option.RAM@, datacenter: @option.DATAC

[2017-06-13 19:15] terminalmage commented on #3415
OK. Now that I think of it, the best place for the logic to resolve the comparison expression is in ``pkg.install`` itself. That way we can just pass through the argument from the SLS file, and the version comparsion operator will still work if ``pkg.install`` is invoked on the CLI (i.e. outside of the ``pkg.install`` state).

[2017-06-13 20:19] #34245 closed

[2017-06-13 20:32] couilllard45682 opened #41724 "Salt process crash when detached from console"
### Description of Issue/Question
When I detach a salt process from active console (CTRL + Z, bg, disown %1), the Salt process will crash after some time.

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
- Run a state
- Detach the process from active console
-- CTRL +Z
-- bg
-- disown %1

The salt-master log will show:
`
[root@salt-master01 ~]# cat /var/log/salt/master

[2017-06-13 20:32] #40446 closed

[2017-06-13 20:36] sazaro opened #41725 "fileserver_backend with git not grabbing files from repo"
### Description of Issue/Question
I am using git for the fileserver_backend to connect to Atlasassian BitBucket (Stash) and although it appears to be successfully connecting, it is not pulling the state files from git and /var/cache/salt/master is empty.

### Setup
I am using a FreeBSD dev environment and I modified my /usr/local/etc/salt/master and changed the following

[code]
I also installed t

[2017-06-13 20:46] OpenStackAnalyst commented on #34364
Yes, the current rundeck release doesn't support http, instead it's completely operational only with https SSL certificate and this certificate should be public. I was able to fix the issue with a http v2 patch which allowed me to send requests from rundeck to salt api.

[2017-06-13 20:48] Ch3LL opened #41726 "[MacOSX Python 3] Tests are hanging"
### Description of Issue/Question
Currently the test suite is hanging on Python3 MacOSX 10.11 and 10.12 on the following tests:

[code]

[2017-06-13 20:49] #41726 closed

[2017-06-13 20:49] Ch3LL commented on #41726
Issue moved to [saltstack/salt-jenkins #424](https://github.com/saltstack/salt-jenkins/issues/424) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-13 21:32] MattHoy commented on #40878
We also have the same problem, we're using the ssh_auth.present state to manage user keys, and we have hundreds of these alerts every time we highstate.

[2017-06-14 01:17] hiscal2015 commented on #41715
@Ch3LL Thank you. It works after removed test=true. But is this the expected behavior that service not showing reload during dry run?

[code]

[2017-06-14 01:59] sazaro commented on #41579
@shitler25oki
 os:
        ManjaroLinux
    os_family:
        ManjaroLinux
    osarch:
        x86_64
    oscodename:
        Gellivara
    osfinger:
        ManjaroLinux-17
    osfullname:
        ManjaroLinux
    osmajorrelease:
        17
    osrelease:
        17.0.1
    osrelease_info:
        - 17
        - 0
        - 1

[2017-06-14 02:11] gtmanfred commented on #41719
You can use the environ.setenv state, which will set the environment variable for salt, and should allow those variables to be used by anything else later in the highstate run?

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.environ.html#salt.states.environ.setenv

Thanks,
Daniel

[2017-06-14 03:23] gaetanquentin commented on #41719
@gtmanfred environ.setenv is not usefull in this case:
 - it can't set variable with other environ variables as the SCL script does
 - it would force us to enumerate every variables set in the SCL script so it create a dependency not well wanted here.

a environ.setenv_byscript would be better here.

[2017-06-14 03:40] sumeetisp commented on #41645
It did not solve the issue. I can list the pillars for that minion using pillar.items. But those pillar values does seem to be available to the minion. The connection values also come when i use config.option

[2017-06-14 03:41] terminalmage commented on #3415
I got this working for yum/dnf this afternoon, getting it working for apt should be easy. I should have this done later this week.

[2017-06-14 03:51] sumeetisp commented on #41645
Are there any specific setting that we need to enable in master conf when we are using salt-ssh for these values to be available to minion?
The only change i made from local client to ssh is made an entry to roster file for that minion

[2017-06-14 06:51] ealphonse opened #41732 "Typo in doc when asking to use cmd.run with onchange instead of cmd.wait"
### Description of Issue/Question

Quickly... `Use cmd.run with onchange instead.` [in latest doc](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.cmd.html#salt.states.cmd.wait) to replace with, for example:
[code]

As salt does not complain with a non-existent option like `onchange`, a copy-paste makes a buggy state, for me anyway.

[2017-06-14 07:48] sumeetisp opened #41733 "Salt Rest Api call"
### Description of Issue/Question
I was running following salt api calls from powershell which were running fine with 2016.11.2.
$createdata = @{"client"="runner";"fun"="state.sls";"username"="%SaltUser%";"password"="%SaltPassword%";"eauth"="%SaltEauth%";"output"="json";"arg"="create_profiles";"kwarg"=$kwarg} | convertto-json -depth 5

After i upgraded salt to 2016.11.5, i have started getting fol

[2017-06-14 08:56] 55abhilash opened #41734 "salt.auth.django error"
Whenever I call the function 'auth', ie. salt.auth.django.auth(username, passoword), it shows me the following error  (Error is apache log. My django is configured with wsgi to use apache) :

response = self.process_exception_by_middleware(e, request)
[Wed Jun 14 08:40:07.631904 2017] [wsgi:error] [pid 2987:tid 140576091502336]   File "/usr/local/lib/python2.7/dist-packages/Django-1.9-py2.7.egg/dj

[2017-06-14 09:30] danhawkes commented on #41717
Great, thanks for the quick response.

[2017-06-14 10:30] Mrten commented on #7694
State timing is in the highstate info on the master, timing is in the info log on the slave, are there more ideas where timing can be put?

[2017-06-14 10:40] ramaseshan opened #41735 "Targetting minions based on multiple grains in Python Client"
I am trying to to query minions matching a set of grains using the python client
**Note,** this works when I target using a single grain, but not using multiple grains

### Initial Setup :

### Here is the things I have tried

saltclient.cmd('env:qa,client:someone','grains.items', expr_form='grain')

saltclient.cmd('env:qa and client:someone','grains.items', expr_form='grain')

saltclient.cmd('env

[2017-06-14 10:51] cetanu commented on #38814
I personally like size_dict better since it would be more noticeable alongside the original size key

[2017-06-14 10:58] ramaseshan opened #41736 "Salt Syndic fails randomly"
### Issue

I am running a multi master setup with the latest salt. What I observe is , my salt syndic failing randomly when a query from my Master of Masters go through. The logs dont say anything useful. Here are the logs trace : https://pastebin.com/2ADdvLAA

### Setup
On Syndic Master node :
The only change in /etc/salt/master is : syndic_master: MOM

On Master of Master node :
The only change

[2017-06-14 11:52] servomac commented on #33163
I have the same problem with pip 9.0.1. It only fails with `salt-minion 2015.8.8`, but `salt-minion 2015.8.13` works. The recipe is extremly simple:

[code]

[code]

[2017-06-14 13:28] nfillot commented on #41581
Hello @Ch3LL @cgiroua

I think the problem comes from the 2016.11.4 release.
The minion is able to pull the image (module dockerng.pull) with 2016.11.3 and not with 2016.11.4

In 2016.11.3, image_wrapper was handling the login for registries :
https://github.com/saltstack/salt/blob/v2016.11.3/salt/modules/dockerng.py#L1007

In 2016.11.4, the logic changed and image_wrapper got replaced by client_w

[2017-06-14 13:56] jlayze opened #41737 "beacons.service: indices must be integers, not str (Windows)"
### Description of Issue/Question
I'm trying to setup a beacon to fire an event when the Print Spooler status changes, and then a reactor to start the Print Spooler service if it's not running.  The end goal is to do this for a different service, but I'm using the Print Spooler for testing.  However, I am getting an error that keeps looping every 1 second:

[code]

Also, in beacons.service from li

[2017-06-14 15:35] twangboy opened #41738 "Add the ability to install Salt to any location on Windows"
### Description of Issue/Question
The current default for Windows installers is `C:\salt`. In Windows it is preferred to install software to `C:\Program Files` but also to allow that location to be changed. We need to figure out how to do this. Some issues to consider:
1. The NSSM service portion should be pretty simple as the `-c c:\salt\conf` parameter is a part of the service arguments
2. Many

[2017-06-14 15:45] #41478 closed

[2017-06-14 15:49] claudekenni opened #41739 "Salt Cloud PowerVC with Nova driver"
### Description of Issue/Question
I'm trying to see if the salt-cloud nova driver works with PowerVC which is based on OpenStack
The error down there seems to be related to the salt cloud code.
### Setup
[code]
### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2017-06-14 16:25] garethgreenaway commented on #41724
@couilllard45682 So we can properly know how to handle this particular issue, what is the use case for the way that you're starting up the Salt Master versus starting it up in the usual way, eg. via systemd, init scripts, etc.

[2017-06-14 16:33] mirceaulinic commented on #39668
I'm going to close this as it has been fixed by https://github.com/saltstack/salt/pull/41658.

[2017-06-14 16:33] #39668 closed

[2017-06-14 16:40] TheRealBro opened #41741 "Add proper detection of KVM/QEMU in salt/grains/core.py"
At the moment in salt/grains/core.py the a FIXME is mentioned in the code as you can see here:

https://github.com/saltstack/salt/blob/9cf9cde6da908005e7d2636d2546f0e95f9b12cd/salt/grains/core.py#L456-L458

seems, that atm, salt is not able to properly detect between KVM and QEMU

In my research on this I found a program from called: virt-what
It can be found here: https://people.redhat.com/~rjone

[2017-06-14 16:42] TheRealBro commented on #41741
Even more, virt-what seems to be a source of endless research already done in the field of "filling the virtual-grain properly".

[2017-06-14 16:43] garethgreenaway commented on #41725
@sazaro Based on the description it sounds like the connection to your Git server cannot be established.  Are you able to perform other git commands using the standard git tools from the Salt master?

[2017-06-14 16:46] sazaro commented on #41725
@garethgreenaway Yes, on the same machine I am able to clone from the repo and push code commits. If I change the password in the master config to the incorrect one, I receive an error, but I receive no errors with the correct password. It seems like it was connecting. :( Any ideas?

[2017-06-14 16:50] farcaller opened #41742 "lvm.lvcreate can hang indefinitely"
### Description of Issue/Question

lvm.lvcreate spawns `lvcreate` on the host, that may hang indefinitely waiting for a prompt like

[code]

And there's no way to pass `-y` to lvcreate run from the module.

To fix this, add `-y` flag to always be there in lvcreate run (optionally guarded by `force=True` arg)

### Setup
I actually don't know how to trigger that prompt in lvm. Create a volume, forma

[2017-06-14 16:57] Ch3LL commented on #40148
@Tanoti did you find a proper workaround for this issue?

[2017-06-14 17:24] garethgreenaway commented on #41739
Thanks for the report @claudekenni.  It looks like the the PowerVC service is just different enough to not work with the Salt OpenStack driver.  I've marked this as approved for future development.

[2017-06-14 17:28] #41022 closed

[2017-06-14 17:33] whiteinge commented on #41733
@sumeetisp it looks like the `output` kwarg that it's complaining about was being silently ignored in previous versions. Since JSON is the default return format for salt-api I expect you can just remove that kwarg and things will be back to working as they were. Please let me know if that isn't the case.

[2017-06-14 18:02] garethgreenaway commented on #41741
Thanks for the report @TheRealBro we'll look into adding this feature.

[2017-06-14 18:21] TreverN commented on #28154
The include options are completely undocumented (at least as of salt-key 2016.11.5 (Carbon)).  Can it please be documented?   I can submit such doc if necessary.  Trying a comment here first.

I stumbled upon this git hub page, the includes were exactly what we needed for an HPC environment where compute nodes are often re-imaged with the same host name (minion ID).  This is an important option, e

[2017-06-14 18:23] McNinja opened #41747 "Feature, Add a sleep timeout flag for script_arg in cloud.providers.d config"
### Description of Issue/Question
When using salt-cloud to deploy servers to Rackspace cloud the salt-bootstrapping will sometimes fail. This happens due to post-build automation happening in the cloud servers. This post-build automation installs some packages and ties up the OS package manager thus resulting in a deploy error. This will not happen 100% of the time, but in my test batch of 20 buil

[2017-06-14 18:33] terminalmage commented on #3415
Implemented for yum/dnf and apt in https://github.com/saltstack/salt/pull/41748.

[2017-06-14 18:33] #3415 closed

[2017-06-14 19:07] 55abhilash commented on #41734
No problem. So this is a real issue in salt @garethgreenaway ?

[2017-06-14 19:23] garethgreenaway commented on #41735
Thanks for the report @ramaseshan we'll take a look and get this one fixed.

[2017-06-14 19:41] garethgreenaway commented on #41742
Thanks for the report @farcaller We would definitely welcome a pull request adding this ability to the lvm module.

[2017-06-14 19:52] gtmanfred commented on #40912
This has been fixed in 2016.11.6

[2017-06-14 19:52] #40912 closed

[2017-06-14 19:57] garethgreenaway commented on #41737
@jlayze Thanks for the report.  The format for beacons changed and it looks like the state module to manage them was not updated to take that into account.  We'll get this fixed.

[2017-06-14 20:04] garethgreenaway commented on #41747
Thanks for the report @McNinja!

[2017-06-14 20:31] garethgreenaway commented on #41737
@jlayze Update your state file to look like this:
[code]

[2017-06-14 20:35] connordelacruz commented on #34963
I've encountered this issue as well on 2016.11.5. As a workaround, I got it to work by surrounding each item in the `- comments` list with quotes and manually added the # at the beginning. e.g.:
[code]

[2017-06-14 20:44] xarlos opened #41757 "returner: postgres (table: salt_events) Schema change from text to jsonb on `data`"
### Suggestion to change the datatype of the postgresql table: salt_events
The datatype of the ```data``` column of the ```salt_events``` table is defined as ```text``` within the following document: https://docs.saltstack.com/en/latest/ref/returners/all/salt.returners.postgres.html

My suggestion is that the datatype should be set to jsonb. This will allow better flexibility of the data content r

[2017-06-14 21:00] rickh563 commented on #18510
ZD-1502 & ZD-935

[2017-06-14 21:10] gtmanfred commented on #41757
This is why we have a pgjsonb returner https://docs.saltstack.com/en/latest/ref/returners/all/salt.returners.pgjsonb.html

[2017-06-14 21:16] couilllard45682 commented on #41724
My use case is simple, i've launched 'salt -G 'os:windows' win_wua.list_updates  install=True' and remembered that it will take a very long time and I need to disconnect from server before the command will end, but I want the command to continue it's work in background. I know i could use 'nohup' or a 'screen', but it need to be done BEFORE launching it.

[2017-06-14 21:50] alexpeay commented on #38430
@twangboy here is a ticket regarding the ability to change the default directory for windows installation.

[2017-06-14 21:52] arjantent commented on #34692
What is the right way to add: https://repo.saltstack.com/#ubuntu as repos then? Im quite new to all of this but i keep having the problem 404 not found etc. like explained above.e

[2017-06-14 21:58] #40155 closed

[2017-06-14 23:32] garethgreenaway commented on #41724
@couilllard45682 That makes sense.  I had misread the issue previously and thought this was how you were starting the salt-master process, not a call to Salt.  Thanks for the clarification.

[2017-06-14 23:43] whiteinge commented on #41618
Thanks!

[2017-06-14 23:43] #41618 closed

[2017-06-14 23:53] whiteinge commented on #28154
@TreverN thanks for the mention! Looks like docs were added to the Python API but not the CLI reference. If you'd like to add those we would definitely appreciate it. The doc in question lives here:

https://github.com/saltstack/salt/blob/develop/doc/ref/cli/salt-key.rst

...plus any other places you see that warrant a mention or link.

[2017-06-15 03:18] kenanbiel commented on #41714
@Ch3LL this worked :) thanks a lot for your help.

[2017-06-15 03:18] #41714 closed

[2017-06-15 03:35] sumeetisp commented on #41733
Yes i had removed it and it worked perfectly fine. But my point was it should have ignored it like it did  previously and not raised a error.

[2017-06-15 04:17] sumeetisp commented on #41645
Is this working for anyone?

[2017-06-15 05:08] 5StevenWu opened #41759 "maybe you need modify Python version config"
cetos7.3
modify  /usr/bin/salt-minion

#!/usr/bin/python
#!/usr/bin/python2.7

我修改了第一行 然后没有报错了  默认报错第6行无法找到salt.script

`un 15 12:58:55 zqwy-ops-248 salt-minion[197693]: Traceback (most recent call last):
Jun 15 12:58:55 zqwy-ops-248 salt-minion[197693]: File "/usr/bin/salt-minion", line 6, in <module>
Jun 15 12:58:55 zqwy-ops-248 salt-minion[197693]: from salt.scripts import salt_minion
Jun 15 12

[2017-06-15 06:02] ramaseshan commented on #41735
Just a small questions, what does P3 mean in the label ?

[2017-06-15 06:03] ramaseshan commented on #41736
A little more info.
My setup is the following
1 - MoM (Master of Masters)
3  Masters

Each master has about 20 minions in it.

And from MoM I do a salt '*' , after 2-3  runs, the syndic fails

[2017-06-15 07:18] sumeetisp opened #41760 "Using runner.salt module via api"
### Description of Issue/Question

I want to understand how the following command can be converted to a salt api call,

salt-run salt.cmd cmd.run 'll /etc'

I tried many combinations as follows
curl -sSk https://10.236.220.135:8000/run -H 'Accept: application/x-yaml' -d username=admin -d password=admin -d eauth=pam -d client='runner' -d fun=salt.cmd -d kwargs={"fun":"cmd.run","args":"ll /etc"}

 c

[2017-06-15 07:32] Tanoti commented on #40148
@Ch3LL Yes but it wasn't elegant, ended up writing a state that pushed out a patched copy of the process.py module to each minion then used atd to do a kill/restart. We're now rolling out 2016.11.5 so hopefully this problem has gone away.

[2017-06-15 08:02] luka-page commented on #41646
Hi @Ch3LL

Thanks for your response, I ended up writing a script outside of salt to do the upgrade that killed the old PIDs then did the upgrade, was abit more hassle not using Salt to do it but atleast we're upgraded.

Thanks,

[2017-06-15 08:02] #41646 closed

[2017-06-15 09:34] farcaller opened #41761 "Safe guard against the grains cache getting corrupted."
### Description of Issue/Question

Note: this is a catch-all bug as there are at least three issues I found during debugging.

Running salt-ssh (maybe generic salt too? can't test yet) is unreliable, as the grains cache is always corrupted, and there's no recovery mechanism.

### Setup
Clean machine running ipv4 / ipv6 stack and having ipv6 dns entries in /etc/resolv.conf

### Steps to Reproduce I

[2017-06-15 09:36] farcaller commented on #41761
For the record, here's the original exception as reported by salt-ssh:

[code]

[2017-06-15 10:37] ashishdisawal opened #41762 "iptables.build_rule does not give full rule even when full=True is provided"
### Description of Issue/Question
Execution module _iptables.build_rule_ does not give full rule even when full=True is provided
The problem seems to be that the kwargs check, checks for string 'True' or 'true' but the actual value is a boolean.

### Setup
Salt on CentOS 6.9 with Python2.7.
Installed via pip2.7

### Steps to Reproduce Issue
[code]
But when I change the check condition to:
[code]
I

[2017-06-15 11:18] xarlos commented on #41757
I'll go ahead and close this now :-)

[2017-06-15 11:18] #41757 closed

[2017-06-15 11:48] farcaller opened #41763 "salt-ssh orchestration fails with encrypted pillar"
### Description of Issue/Question
If the pillar contents are encrypted, and salt-run is called to invoke a state on remove machine via ssh, it receives the pillar encrypted, and at that point there's no way to process it, as the keys are only available on the calling node.

Additionally, the error message is bogus.

### Setup
Have at least one pillar, encrypted via e.g. `#!jinja|yaml|gpg`

### Ste

[2017-06-15 12:13] gildor7 opened #41765 "Failed to apply configuration for the following parameters: network_mode"
### Description of Issue/Question
dockerng.running restarts my images every time (as expected) but fails giving this error:

Failed to apply configuration for the following parameters: network_mode

### Setup
[code]

### Steps to Reproduce Issue
The first run just works fine, but the second run i get the following error:

[code]

I added "- network_mode: bridge", but adding it fixed the error labe

[2017-06-15 14:25] jlayze commented on #41737
@garethgreenaway I'm no longer getting an error after making this change, but now I'm not sure if my reactor.conf or reactor.sls files are formatted correctly.

When I run `salt "wincse-labts1" beacons.list`:
[code]

When I start or stop the Print Spooler, this is what I see on the Master:
[code]
/conf/master.d/reactor.conf:
[code]
/srv/reactor/SpoolerReactor.sls:
[code]
#
I also tried an alternat

[2017-06-15 14:40] mitroko opened #41766 "salt.file.directory state exception output confuses when stat returns Stale file handle"
### Description of Issue/Question
salt.file.directory state exception output confuses when stat returns Stale file handle
It should return Stale file handle instead of making changes and reporting "File exists"

### Setup
As an example, I'm running nfs client state against deployed instance and mountpoint in stale state
https://github.com/salt-formulas/salt-formula-nfs/blob/42b4c1e888a8ad7cef96a59

[2017-06-15 14:56] gtmanfred commented on #41732
Would you mind submitting a PR with this change?

Thanks,
Daniel

[2017-06-15 15:11] gtmanfred commented on #41736
Can you give me the specs of all the devices involved?

Thanks,
Daniel

[2017-06-15 15:12] gtmanfred commented on #41759
Can you give me a better summary of what the actual problem is?

Did you install with the centos packages?  or did you pip install, how did you pip install if you did?

Thanks
Daniel

[2017-06-15 15:15] garethgreenaway commented on #41735
@ramaseshan P3 is the priority of the issue and represents our best guess as to the amount of Salt users that are affected by this particular issue.

[2017-06-15 15:31] gtmanfred commented on #41760
It does not appear that you can use this.

I am going to mark this as a bug, because the key in the runner part of salt-api is fun, and the first key in salt.cmd runner is also fun, and you can only have one `fun`, this module cannot be used.

Thanks for reporting this,
Daniel

[2017-06-15 15:36] farcaller commented on #41763
Might be a dup of #41135. WAI in the HEAD build.

[2017-06-15 15:36] #41763 closed

[2017-06-15 15:39] gtmanfred commented on #41760
@whiteinge am I missing something here?

Because it almost seems like it should be able to be passed through in kwargs?

[code]

[2017-06-15 15:46] gtmanfred commented on #41762
Yes, that should be changed to `if full is True`

Would you mind submitting a PR for this?

Thanks,
Daniel

[2017-06-15 15:51] farcaller opened #41769 "Running salt-ssh for x509.certificate_managed breaks the returned value"
### Description of Issue/Question
If a new certificate/key is generated, openssl (I assume) spams into stderr, breaking the returned JSON.

### Setup
[code]

### Steps to Reproduce Issue
Run the state over salt-ssh

### Versions Report
[code]

### Failing log

[code]

[2017-06-15 15:52] jlayze commented on #41737
I figured it out... needed a trailing `/` for `'salt/beacon/*/service/'` because that's what the event returns as the tag.  And then for the path to the reactor I needed to start with `/salt/srv/` **not** `/srv/` (this might only relate to Windows masters)

/conf/master.d/reactor.conf:
[code]
/srv/reactor/ServiceReactor.sls:
[code]
Now stopping the Print Spooler results in it starting right back u

[2017-06-15 15:54] gtmanfred commented on #41765
I am unable to replicate this error using different container images to simulate an update.

Could you provide me with some steps to replicate this issue?

Thanks,
Daniel

[2017-06-15 15:56] gtmanfred commented on #41769
This appears to be the same issue as here?

https://github.com/saltstack/salt/issues/39495

Thanks,
Daniel

[2017-06-15 16:00] gtmanfred commented on #41766
Yup, it looks like we are not handling that correctly.

@terminalmage you might be interested in this when you have time.

Thanks for reporting!
Daniel

[2017-06-15 16:03] TreverN commented on #28154
Before I try to update any doc, I don't see any documentation on this:

Is there a tie in with auto_accept or autosign_file on a master?  That is, can we specify autosign for a minion such that when a new key accept happens, if there's a denied key for the minion, it will overwrite the existing accepted key for the minion with the denied key?

I don't want to veer into support questions here, but

[2017-06-15 16:11] garethgreenaway commented on #41735
@ramaseshan Following the documentation [here](https://docs.saltstack.com/en/latest/topics/targeting/compound.html) it will work if you use the compound matching but you need to specify what each qualifier is, so something like this:
[code]
will give you what you want.

[2017-06-15 16:15] farcaller commented on #41769
Is a dup indeed, sorry.

[2017-06-15 16:15] #41769 closed

[2017-06-15 16:23] ramaseshan commented on #41736
Specs you mean ?
They are mostly VPS from Digital Ocean and Linode, mostly 8 and 16GB servers. The MoM is on a different provider (azure) and all the masters talk to azure.  The azure has a whitelisted ip and port for salt and its masters. The masters have whitelisted ip for MoM and its ports. Not sure what else you would need.

[2017-06-15 16:26] Ch3LL opened #41770 "NPM v5 incompatible with salt.modules.cache_list"
### Description of Issue/Question
According to [this](https://github.com/npm/npm/pull/15666#issuecomment-305202975) npm issue `npm cache ls` was removed in v5.0, which means our current `salt.modules.cache_list` does not work in salt and it does not look like there is an alternative to list cache in npm.

If you run the following: `salt-call --local state.single npm.cache_cleaned force=True name=N

[2017-06-15 16:33] gtmanfred commented on #41761
This behavior is fixed when we reverted a change here https://github.com/saltstack/salt/pull/41244

This will be in 2016.11.6, which we are working on getting out right now.

I believe that this patch is in 2016.11.5 packages from https://repo.saltstack.com , so if you installed from pip, you should check out that repo, or apply the patch from the above PR.

Thanks,
Daniel

[2017-06-15 16:36] gtmanfred commented on #41769
No worries, thanks for reporting!
Daniel

[2017-06-15 16:37] ramaseshan commented on #41735
@garethgreenaway I can confirm that a compound expr is working.

Does this mean that, this is the right way to do it ? Or even with expr_form='grain' should also be working.

To me compound looks to be the right way to do it.

[2017-06-15 16:43] garethgreenaway commented on #41735
@ramaseshan If you're matching with multiple qualifiers then you want to use the compound match and the example above is the one to use. It's not going to work with `expr_form=grain` because that's looking for a single grain like this example: https://docs.saltstack.com/en/latest/topics/targeting/grains.html

[2017-06-15 17:01] ashishdisawal commented on #41762
Sure. Happy to help.

On 15-Jun-2017 9:17 PM, "Daniel Wallace" <notifications@github.com> wrote:

[2017-06-15 17:03] farcaller commented on #41761
There might be other issues that will end up corrupting grains cache, why not add a little safeguard there? (can file a PR)

[2017-06-15 17:08] nmadhok commented on #38814
I prefer `size_dict` as well. Let's go with that

[2017-06-15 17:34] gtmanfred commented on #41761
Oh right, sorry while doing a biset to figure out where it was fixed, i forgot about the other things you mentioned.

I think we would greatly appreciate some safe guards around the grains cache getting corrupted!

Thanks!
Daniel

[2017-06-15 17:43] whiteinge commented on #41736
We see on-again/off-again problems like this with connections that go over the public internet. It's not specific to Salt or ZeroMQ but rather maintaining a persistent connection there is just kinda tough. That's not to say there isn't room for improvement, of course, but I expect there will always be some connection hiccups with that setup.

A few general recommendations:
- Expect the always-on c

[2017-06-15 18:14] garethgreenaway commented on #41724
@couilllard45682 Looking into the code this reason for the failure makes sense, Salt starts out logging to stdout and running disown causes that file handle to stdout to go away.  In normal circumstances this shouldn't happen and should result in an error.  A suggestion for these situations would be to use the `no_out` outputter by specifying `--out=quiet` on the command line.

[2017-06-15 18:19] thatch45 commented on #41724
This is also a good time to run salt using the `--async` flag, it will return the jid so you can replay the return whenever you want with `salt-run jobs.lookup_jid <jid>`

[2017-06-15 19:44] edgan commented on #39817
I am trying to do the same thing, and seeing the same error.

[2017-06-15 19:50] terminalmage commented on #9634
This has been implemented in the ``file.source_list`` function used by the ``cron.file`` state for some time now. Closing.

[2017-06-15 19:50] #9634 closed

[2017-06-15 19:52] terminalmage commented on #33110
Implemented in https://github.com/saltstack/salt/pull/41748. Closing.

[2017-06-15 19:52] #33110 closed

[2017-06-15 19:57] rickh563 commented on #19732
ZD-1540

[2017-06-15 20:03] gtmanfred commented on #41770
@dschaller can you take a look at this too?

It looks like upstream removed the `npm cache ls` command, and we can no longer use that in npm.cache_list module.

Thanks,
Daniel

[2017-06-15 20:25] #39918 closed

[2017-06-15 20:28] terminalmage commented on #30776
Ever since git_pillar was rewritten to use the shared codebase with gitfs, the update process has included a call to a function called `clear_old_remotes()` which removes cachedirs for repos not configured in `ext_pillar`.

I can't reproduce any of the behavior you describe. It's possible that there was a bug at the time this issue was first opened, which has since been resolved. Keep in mind that

[2017-06-15 20:33] whiteinge commented on #28154
I am not aware of overlap with `auto_accept`. For that workflow I would recommend using a Reactor file instead that listens for the [salt/auth](https://docs.saltstack.com/en/latest/topics/event/master_events.html#authentication-events) event and accepts the key by calling the [key.accept](https://docs.saltstack.com/en/latest/ref/wheel/all/salt.wheel.key.html#salt.wheel.key.accept) wheel module, wh

[2017-06-15 20:34] whiteinge commented on #28154
There's a full example of how to do that in the [Reactor docs](https://docs.saltstack.com/en/latest/topics/reactor/index.html#a-complete-example).

[2017-06-15 20:37] whiteinge commented on #41733
Glad to hear it's working. Silently ignoring kwargs can lead to unexpected behavior and errors so we've been incrementally adding better checks throughout Salt.

[2017-06-15 20:42] whiteinge commented on #41733
Ah, apologies. I overlooked your point. Yes, I agree this should not change over a point-release. I'm not sure why that did change offhand but we will look into it.

[2017-06-15 20:47] TreverN commented on #28154
Okay thanks.

[2017-06-15 21:05] frogunder opened #41778 "2016.11.6 - TCP Transport gives Exception"
### Description of Issue/Question
In 2016.11.6 when running commands using TCP it gives `Exception ValueError`
[code]
### Setup
Install 2016.11.6, set ` transport: tcp`, accept key, and run commands.

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2017-06-15 21:29] sergeyfd opened #41779 "state.sls and state.show_sls treat saltenv differently"
### Description of Issue/Question

`state.sls` and `state.show_sls` treat `saltenv` parameter differently which creates inconsistent behavior.  `state.sls` defaults saltenv into `None` and then if user did not provide any value in the command line it figures it out from `__opts__`. `state.show_sls` defaults `saltenv` to `base` instead.

### Setup
Any standard Salt setup with several environments.

[2017-06-15 21:32] lubyou commented on #19839
Hi,

I am also interested in this.

As for the syntax, I would suggest to go with what @lorengordon proposed in example 2.

Keep the version number (to cover 7/2008R2) and if hotfix is set to 'KBXXXXXXX', check the list of installed security updates for 'KBXXXXXXX' (to cover 8/2012+).

Thoughts?

[2017-06-15 21:33] rallytime commented on #41747
When someone gets to this feature, note that there appears to already be a `bootstrap_delay` option to use as a cloud config setting. The caveat there is that I don't see it implemented in any of the cloud drivers. I think this would be the way to go here instead of adding an option to the bootstrap script itself (which is what `script_args` is for).

[2017-06-15 21:44] PierreR commented on #19732
Let's make some prediction for the years to come : Oxygen -> Fluor ?

[2017-06-15 21:47] frogunder commented on #41778
[code]

@cachedout @skizunov

[2017-06-15 21:50] gtmanfred commented on #41779
We should definitely change the behavior of show_sls to match state.sls

Thanks for the report!
Daniel

[2017-06-15 22:18] farcaller opened #41781 "docker propagates name to hostname, breaking support for named containers with network_mode: host"
### Description of Issue/Question

It's impossible to run a docker container with `network_mode: host` now that hostname is propagated automatically.

### Setup
[code]

### Steps to Reproduce Issue

It's not possible to force unset `hostname`, and it makes no sense to unset `name` (not possible either, though): [dockermod.py:L2484](https://github.com/saltstack/salt/blob/develop/salt/modules/docker

[2017-06-15 22:26] McNinja commented on #41747
Oh fancy, ill give this a shot to see how it works and report back.

[2017-06-15 22:31] gtmanfred commented on #41781
I see that there is a warning that the hostname will be change to the hostname of the minion if network_mode is set to host.

@terminalmage do you have any opinions about this?

Thanks,
Daniel

[2017-06-15 23:03] UtahDave opened #41785 "Using master tops without a top.sls file causes extra errors in minion log"
### Description of Issue/Question
If I have a working master tops providing my top file data and don't have a top.sls file at `/srv/salt/top.sls`, then the minion gets DEBUG and ERROR entries in its log. This is likely because the master top system was originally designed to supplement, but not replace regular top files.

### Setup
I have a custom top file here:

[code]

My master config:

[code]

[2017-06-15 23:04] UtahDave commented on #41785
ZD 1537

[2017-06-15 23:56] whiteinge commented on #41733
The PR above should restore ignoring invalid kwargs. Sorry for the trouble and thanks for bringing this to our attention!

[2017-06-16 00:33] whiteinge commented on #41760
The nested calls are always 💫 .

@gtmanfred You're on the right track with sending JSON. (I'm not sure if this is actually possible in urlencoded format since RunnerClient didn't historically have support for `arg`/`kwarg`.) But JSON format always maps one-to-one with the Python API so it's a lot more clear. The above is _correct_...minus the kwargs -> kwarg typo. 😜

@sumeetisp The following works

[2017-06-16 00:36] gtmanfred commented on #41760
bah!

Thanks!
Daniel

On Thu, Jun 15, 2017 at 6:33 PM, Seth House <notifications@github.com>
wrote:

[2017-06-16 00:42] skizunov commented on #41778
@frogunder, @cachedout : I posted a fix for this in PR #41787

[2017-06-16 00:49] whiteinge commented on #41760
@gtmanfred as for the bug, I'm not sure there's a good solution here. Salt runs into this same problem in a handful of places where we have a module call a module (with fallbacks like `m_name` and `fun_`) but even if we fix the `fun` overlap, urlencoded data can't express complex data structures that using nested kwargs require. I'm inclined to mark as (deficient but) 'wontfix'.

@sumeetisp does t

[2017-06-16 00:59] gtmanfred commented on #41760
Agreed on the won't fix for now.

Thanks!

[2017-06-16 00:59] #41760 closed

[2017-06-16 02:38] #8905 closed

[2017-06-16 03:20] sumeetisp commented on #41760
@whiteinge So how do i figure out when to use kwargs and kwarg?

[2017-06-16 03:22] sumeetisp commented on #41760
so if i consider a folllows,
1. salt.cmd
2. cmd.run

Then ,

kwargs is for salt.cmd and kwarg is for cmd.run?

[2017-06-16 03:24] sumeetisp commented on #41645
@gtmanfred @whiteinge  Please help e here.

[2017-06-16 03:30] damon-atkins commented on #19839
Ping @damon-atkins myself to remind me to look at this, with the new code I have developed.

[2017-06-16 05:57] xiaosazixian opened #41788 "how to download a file from ftp server"
----------
          ID: /home/baseuser/demo-0.0.1-SNAPSHOT.war
    Function: file.managed
      Result: False
     Comment: Failed to cache ftp://administrator:******@10.10.5.36/demo-0.0.1-SNAPSHOT.war: Could not retrieve ftp://administrator:******@10.10.5.36/demo-0.0.1-SNAPSHOT.war from FTP server. Exception: 530 User cannot log in.
     Started: 13:53:10.302222
    Duration: 17.897 ms
     Chan

[2017-06-16 07:47] damon-atkins opened #41790 "develop branch on windows minion fails to fully start. 100% CPU"
### Description of Issue/Question
develop branch hits 100% CPU,  2017.7 branch is fine.

### Steps to Reproduce Issue
C:\Salt-Dev>set PYTHONPATH=c:\Salt-Dev\salt;c:\Python27\Lib

C:\Salt-Dev>"c:\Python27\python.exe" -B C:\Salt-Dev\salt\scripts\salt-minion --version
salt-minion 2016.11.0-1436-g9c45fa0 (Carbon)  # Should this not say develop

C:\Salt-Dev>"c:\Python27\python.exe" -B C:\Salt-Dev\salt\

[2017-06-16 07:52] xiaosazixian commented on #39214
how could i do if there has some special character in password

[2017-06-16 07:56] adammichalik commented on #39214
@xiaosazixian perhaps you have to [URL-encode](https://en.wikipedia.org/wiki/Percent-encoding) it? Try one of the many online tools: https://www.google.nl/search?q=urlencode+online

[2017-06-16 08:10] xiaosazixian commented on #39214
@adammichalik
it does not work.
if my url is ftp://username:!@#@10.10.88.10

[2017-06-16 08:14] wukang7 opened #41791 "salt-minion端口占用问题"
我们生产环境先是salt-minion配置好，然后启动。
然后部署应用，但是在部署应用的时候发现端口冲突，把salt-minion的python进程kill掉就好了。

请问能不能有固定salt-minion连接salt-master的端口？

Please reply me in Chinese, my English is poor...

[2017-06-16 08:17] gildor7 commented on #41765
My dockerfile is:

[code]

I think this part is sufficient to replicate the issue:

[code]

[2017-06-16 08:23] wukang7 commented on #41788
530报错一般是 密码错误。。。

[2017-06-16 08:30] xiaosazixian commented on #41788
密码是对的，里面有些特殊字符，特殊字符也encode了，试了好多次都不行。

[2017-06-16 08:30] xiaosazixian commented on #41788
@wukang7
密码是对的，里面有些特殊字符，特殊字符也encode了，试了好多次都不行。

[2017-06-16 08:32] wukang7 commented on #41788
@xiaosazixian
你可以试试改一个简单的密码，不带特殊符号试试

[2017-06-16 09:03] xiaosazixian commented on #41788
@wukang7
简单密码也不行

[2017-06-16 09:34] abednarik commented on #41732
Hi

 I just submit a small PR to fix this.

Cheers.

[2017-06-16 10:00] 5StevenWu commented on #41759
@gtmanfred
Salt depends on Python 2. I have previously modified the system's default Python version to cause this problem
But I'm not sure if your question is caused by this problem
You can modify the salt startup file

vi    /usr/bin/salt-minion

and then Modify the first line

#!/usr/bin/python
#!/usr/bin/python2.7

[2017-06-16 12:41] farcaller opened #41794 "{{salt.pillar.get()}} / {{salt.grains.get()}} shorthand is broken"
### Description of Issue/Question
It's not possible to use `salt.pillar.get('something')` in state file.

### Setup
Add a call to `salt.pillar.get` to sls.

### Steps to Reproduce Issue
Run the state (in here I can only reproducer with salt-ssh so far). The error is

[code]

(same for pillar and grains)

`salt['pillar.get']()` works as expected. I was able to workaround the issue with the followin

[2017-06-16 12:57] gtmanfred commented on #41760
never use kwargs, kwargs is not a thing for salt-api.

kwarg is what is passed as `**kwarg` to the function and will fill up the `**kwargs` or any other key word arguments that the function you are running accepts.  In this case, salt.cmd accepts fun, and then *args and **kwargs, so arg and kwarg from salt-api fill that up.

Then salt.cmd passes *args and **kwargs to the function that you are call

[2017-06-16 12:58] ealphonse commented on #41732
@abednarik thank you!

[2017-06-16 13:08] gtmanfred commented on #41759
I am unable to replicate the issue.

[code]

[2017-06-16 13:31] terminalmage commented on #41779
This was actually fixed a couple days ago in https://github.com/saltstack/salt/pull/41679/commits/26cc25f6a464987a107bd1abfb27642faa4b6949, part of a pending pull request.

[2017-06-16 13:43] neomag commented on #37133
Version:            Salt: 2016.11.5   master & minion

problem still exists

[2017-06-16 13:50] gtmanfred commented on #41765
Hrm, I am stlll unable to replicate this issue.

[code]

[code]

And I am on 2016.11.5, it looks like network_mode might be set to bridge by default.

[2017-06-16 13:59] gtmanfred commented on #37133
I am still unable to replicate this issue.

I set file_recv to True on the master, and restart the master, and then I am able to push data, on a master and minion on the same box, and different boxes.

Can anyone provide me with more information on how to replicate this?

[code]

Thanks,
Daniel

[2017-06-16 14:08] sergeyfd commented on #41779
I don't think that pull fixes it. `show_sls` in that PR still has the same signature:

[code]

[2017-06-16 14:08] gildor7 commented on #41765
[code]

I think this is the problem because you can't replicate. Try to build and run with the same tag.

[2017-06-16 14:14] terminalmage commented on #41779
OK, I'll take a look, the underlying code which decides which configuration to pass to the HighState object has been normalized in that PR, though.

[2017-06-16 14:15] frogunder opened #41797 "Windows minion - AttributeError: 'Process' object has no attribute 'oneshot'"
### Description of Issue/Question
On 2016.11.6, when running `status.saltmem` it fails with a traceback and `AttributeError: 'Process' object has no attribute 'oneshot'`
I see this on all windows OS's.
### Setup
Set up linux master and windows minion on 2016.11.6.

### Steps to Reproduce Issue
Run `salt 'win*' status.saltmem` and you will see this:
[code]

### Versions Report
Master
[code]

Minion

[2017-06-16 14:29] meons opened #41799 "Seems that skip_verify parameter not detected in pkg.installed"
### Description of Issue/Question
When I'm trying to install a package with Salt, I get the following error message even if I have set skip_verify param to True in my sls file:

[code]
My sls config:
[code]
### Steps to Reproduce Issue
Install a package with Salt wihtout GPG key imported on target machine.

### Versions Report
[code]

[2017-06-16 14:54] terminalmage commented on #41779
@sergeyfd I just updated the PR.

[2017-06-16 14:56] github-abcde commented on #37554
It would appear that the above approach (specifying `nodegroups: sdb://name/path` in the master config) is broken in 2016.11.5.  When using the yaml-sdb source from PR #37563, and setting the whole thing up, after starting the master, the nodegroups are loaded as they should be. However, upon changing the yaml-file that is used as sdb-source, the changes do not propagate to __opts__['nodegroups'],

[2017-06-16 14:56] gtmanfred commented on #41765
If I used the same version, then it just starts it again.

[code]

[2017-06-16 15:07] terminalmage commented on #41781
Yes, I agree, we should not be doing this. I've opened https://github.com/saltstack/salt/pull/41800 and https://github.com/saltstack/salt/pull/41801 to resolve this.

[2017-06-16 15:42] gtmanfred commented on #41791
Unfortunately we do not have anyone who speaks chinese.

You might try https://groups.google.com/forum/#!forum/saltstack-users-cn

http://www.saltstack.cn/

Thanks,
Daniel

[2017-06-16 16:19] terminalmage commented on #41785
Resolved in https://github.com/saltstack/salt/pull/41803.

[2017-06-16 16:19] #41785 closed

[2017-06-16 16:27] whiteinge commented on #37554
sdb values are evaluated when accessed so `__opts__['nodegroups']` should only ever be the `sdb://...` string and not the value.

What operation are you doing where you don't see the updated values? I'm don't know offhand all the mechanisms that trigger that evaluation, but I would not expect referencing the `__opts__` dictionary directly to work, instead I think you'll need to go through an inter

[2017-06-16 16:36] whiteinge commented on #41760
Yeah, this is pretty confusing and an unfortunate naming choice IMO. It may be a little more clear if you speak Python since the `**kwargs` mentioned above is a common pattern there. A good way to visualize the difference is to look at the function signature for [LocalClient.cmd()](https://docs.saltstack.com/en/latest/ref/clients/index.html#salt.client.LocalClient.cmd) in Salt's Python API. You ca

[2017-06-16 16:49] Ch3LL commented on #41788
@xiaosazixian Can you share your sls file?

[2017-06-16 16:50] Ch3LL commented on #41788
Also what version of salt are you using. `salt --versions-report`?

[2017-06-16 17:05] sk4rp10n opened #41807 "Running cmd.run to a minion and trying to get it to run sudo commands"
For example

saltmas1@saltmaster:~$ sudo salt 'saltminion' cmd.run 'apt-get install hexedit'
saltminion:
    E: Could not open lock file /var/lib/dpkg/lock - open (13: Permission denied)
    E: Unable to lock the administration directory (/var/lib/dpkg/), are you root?
ERROR: Minions returned with non-zero exit code

and when i try to put 'sudo....'
    sudo: no tty present and no askpass program

[2017-06-16 17:49] terminalmage commented on #28122
This has been implemented for some time. Closing.

[2017-06-16 17:49] #28122 closed

[2017-06-16 17:58] Ch3LL commented on #41790
@twangboy I haven't installed a develop install on a windows box in a while. I tried using the dev_env.ps1 script to setup the dependencies but that is failing for me. Is this still the process to do this? I was going to set this up to try to replicate it .

Or if @damon-atkins has any other ideas on how to get a develop install on windows.

[2017-06-16 17:59] Ch3LL commented on #41791
@wukang7 do you want to keep the conversation open here or move over to google groups?

[2017-06-16 18:13] grandmasterv opened #41810 "Cannot install Salt Minion on macOS 10.11"
### Description of Issue/Question

Cannot install Salt Minion 2016.11.5 on macOS 10.11.  We attempted on multiple systems.  Each one does not allow us to select the "Install for all users of this computer" option to continue the installation.  It is greyed out and there are no other options available.  We cannot select a destination.

We were able to install successfully on macOS 10.12.

We tried

[2017-06-16 18:16] Ch3LL commented on #41794
I'm able to reproduce this with the following test case:

[code]

This is only broken on salt-ssh and it is not a regression. I can see the same failed behavior all the way back in 2016.3 branch. We will need to get this fixed

[2017-06-16 18:16] terminalmage commented on #41799
Support for `skip_verify` is reliant upon it being implemented in that platform's ``pkg`` module. In this case, this was added to our zypper module in 2016.3.0. If you would like to use this feature, you will need to upgrade. The 2015.8.x release cycle is EOL.

Marking this as closed since this has been supported for over a year.

[2017-06-16 18:16] #41799 closed

[2017-06-16 18:17] damon-atkins commented on #41790
The docs have change and some scripts to support python2 and python3.  Read the develop branch docs
https://github.com/saltstack/salt/blob/develop/doc/topics/installation/windows.rst

[2017-06-16 18:19] github-abcde commented on #37554
I'm using the file-tree ext_pillar to supply pillar values to nodegroups.
When starting the salt-master with a minion listed in a nodegroup, it gets the pillar-data present in the matching nodegroup directory, but when I edit the yaml where the nodegroup-data is in, the pillar-data does not change. I added debugcode to display the value of `__opts__['nodegroups']` in salt/pillar/file_tree.py:331 b

[2017-06-16 18:26] Ch3LL commented on #41797
This code was added here: https://github.com/saltstack/salt/pull/41512

The oneshot method was not added to the psutils Process Class until commit 7efe52c6 which was added in version 5.0.0:

[code]

@frogunder what version of psutils is installed?

[2017-06-16 18:42] Ch3LL commented on #41807
@sk4rp10n i'm assuming you are running your salt-minion as a different user?

https://docs.saltstack.com/en/latest/ref/configuration/minion.html#sudo-user check out that configuration I believe that is what you are attempting to do.

[2017-06-16 18:46] grandmasterv commented on #41810
Sorry, I originally had posted this as not working on macOS 10.9 and 10.10 as well but I just saw that those are not supported platforms.  I have revised the issue to be solely for macOS 10.11 now as that is a supported platform.

http://saltstack.com/wp-content/uploads/2016/08/SaltStack-Supported-Operating-Systems.pdf

[2017-06-16 18:50] Ch3LL commented on #41810
hmmm I know we did not see this in our package testing. Is there anything unique about your environment? Also can you install from terminal? I believe the command is `installer -pkg <pkg> -target /` if you want to install on root.

[2017-06-16 19:07] sk4rp10n commented on #41807
i have the salt minion on a different vm. everything is running ubuntu server 16.04

[2017-06-16 20:06] jlayze commented on #38934
I'm also finding this effects `salt.beacons.add`

When trying to add a custom beacon with `beacons.add` I get the same error "Beacon {beacon_name} does not exist."  `beacon.present` is making a call to `beacons.add`, and it looks like this error is being generated from line 100, but I'm not sure how to take it any further.
[code]
The same Try block is also used in `beacons.modify`

[2017-06-16 20:22] grandmasterv commented on #41810
Apologies for opening this issue, I should of tested it more first.  There must be some specific configuration on the couple of systems we had tried.  I tried a clean install of 10.11 and the minion installed fine.  Thank you for your time.

[2017-06-16 20:22] #41810 closed

[2017-06-16 20:32] sergeyfd commented on #41779
@terminalmage What is the PR number?

[2017-06-16 20:40] frogunder commented on #41797
Windows minions have psutil version 4.3.0
Linux master dont have psutil installed. (Not installed by default)

[2017-06-16 21:24] vector-of-bool opened #41814 "Minion-side engines cannot communicate with the Master"
### Description of Issue

Engines running in the minion context (setup in the minion config) cannot execute `__salt__` commands which require communication with the Salt Master.

The issue is when modules attempt to use certain keys in `__opts__`, such as `master_uri`. These keys are populated by the `eval_master` method in `minion.py`, but `eval_master` is only called *after* the engines have alr

[2017-06-16 21:25] rallytime commented on #41667
@moloney This should be fixed in #41722.

[2017-06-16 22:09] rallytime commented on #41153
Fixed with #41255

[2017-06-16 22:09] #41153 closed

[2017-06-16 22:13] edgan commented on #39817
The issue in my case is I was doing everything but setting a prefix. The AWS api requires it, but boto3 does not. If I set it empty, like Prefix: '', it worked.

[2017-06-16 23:07] kirk-hammond opened #41815 "module cron set_job for entries with 0/xx values and/or piped to > /dev/null 2>&1"
### Description of Issue/Question
I was attempting to comment out several cronjobs that were entered as show here:
_*/20 * * * * /root/scripts/agentMQ.sh > /dev/null 2>&1_

I am not sure if this is caused by the 0/20 or by the pipe to dev null, but I was unable to get salt cron module to update the cron entry for root to be commented out and managed by salt.

Dev box did not have 0/20 or pipe to /

[2017-06-16 23:08] dmurphy18 commented on #40290
The upcoming Debian 9 does not come with /bin/netstat, so issue affects more than Redhat 7

[2017-06-17 00:28] GabLeRoux commented on #37133
@gtmanfred see my comment: https://github.com/saltstack/salt/issues/37133#issuecomment-270500057

I was having the issue when the *salt master* was on `2016.3.3`, I wasn't able to reproduce on `2016.11.1` or later.

[2017-06-17 01:19] gtmanfred commented on #37133
What version was the minion on?
On Fri, Jun 16, 2017 at 6:28 PM Gabriel Le Breton <notifications@github.com>
wrote:

[2017-06-17 12:33] HOSTED-POWER commented on #27094
Hi Kevin,

What would be the easiest way to test it on our production setup?

[2017-06-17 16:22] GabLeRoux commented on #37133
@gtmanfred `2016.3.3` (as shown in the linked comment's `sudo salt-call --versions-report`

[2017-06-17 16:23] damon-atkins commented on #3551
Any movement here.  if backup_mode is set. Then any change to any file should be backed up by any state/module

[2017-06-17 16:27] chris-be opened #41818 "file.comment issue when multiple lines with some already commented"
### Description of Issue/Question
I try to comment some lines in a FreeBSD configuration file. This file contains some comment containing itself the pattern I want to find. Result is that nothing is done.
According to documentation "comment"/"uncomment" do not have a "flags" argument, would it be relevant to add it ?

### Setup
Master(less) : Debian Stretch / virtualenv Python 2.7.13 (pip install

[2017-06-17 19:23] absolutejam commented on #41188
Sorry to chime in, but does this link in with https://github.com/saltstack/salt/issues/36573 ?

Should it be possible to set the Slack returner via. `master_job_cache`? Currently I'm getting a traceback.

[2017-06-17 19:24] AkhterAli opened #41819 "Salt pkg.installed false error."
### Description of Issue/Question

Salt pkg.installed (on rhel based machine) thinks packages that are already installed is an error.
This **only** occurs in **2016.11.5** and **not** **2016.11.2**

### Setup
[code]

### Steps to Reproduce Issue
Run the state above twice and you are returned with
[code]

### Versions Report
[code]

[2017-06-18 03:33] gtmanfred commented on #41188
You cannot do that, because there is no way to look up the jid after the
fact. This is required to be used as the job cache and not a returner
On Sat, Jun 17, 2017 at 2:23 PM James Booth <notifications@github.com>
wrote:

[2017-06-18 03:46] #9410 closed

[2017-06-18 05:49] absolutejam commented on #41188
Slack is one of the examples in https://docs.saltstack.com/en/latest/topics/jobs/external_cache.html and it seems like we should aim to have returners work on either minion or master, right?

Is this something I'd be able to implement based on another returner, or am I missing the difference between a master job cache?

Get Outlook for iOS<https://aka.ms/o0ukef>
_____________________________
From:

[2017-06-18 08:33] hiscal2015 commented on #40878
+1 I have the same issue.

[2017-06-18 08:41] hiscal2015 opened #41821 "Module function dockerng.login is not available"
Hi,

I'm trying to use module dockerng.login but says it is not available, anyone can help?

Here's my state (docker registry has been defined in pillar):
[code]

Then run state with test=true:
[code]

Both of my salt master and minion are running version 2016.11.5
[code]

[2017-06-18 22:12] gzcwnk opened #41823 "strange behavior from salt-minion"
### Description of Issue/Question

minion fails to work

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

========
[root@vuwunicossbwlp2 ~]# rpm -q salt-minion
salt-minion-2016.11.5-3.el6.noarch
[root@vuwunicossbwlp2 ~]#
========

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

Not known.

Return from master, it appears

[2017-06-19 02:54] mitar commented on #7909
Has here been any change?

I would in fact prefer that I could configure the suffix to be added to the hostname. So that instead of:

[code]

I could write something like:

[code]

[2017-06-19 03:27] mitar commented on #40133
Why is `salt['environ.get']('USER')` not supported in flat roster format? So why are modules not available to the renderer?

[2017-06-19 03:35] mitar commented on #7909
Oh, I see that I can just use jinja:

[code]

[2017-06-19 04:53] bemeyert commented on #23125
@msteed , @jfindlay : What is the status here? I see that in v2016.3.6 the functions `get_load` and `save_load` exists. But also that develop is quite different. What is the difference between the branches? I'm a bit puzzled. Can you please help me?

[2017-06-19 06:07] xiaosazixian commented on #41788
@Ch3LL
![b n brjfdv2b y5w1 0ub](https://user-images.githubusercontent.com/12694566/27271666-992c7c5a-54f8-11e7-8f00-1788c6475650.png)

I am sure the password and username is right.
I have also URL-encode it.

[2017-06-19 07:17] Tanoti commented on #23125
@bemeyert I raised a couple of PRs around Nove,ber/January time to fix some config loading issues and add extra functionality around a unified index. These may be what you are referring to? These were all to do with posting job data to elsasticsearch but not to do with using it as an external job cache.

[2017-06-19 07:23] bemeyert commented on #23125
@Tanoti I guess you are referring to the diff between develop and v2016.3.6?

[2017-06-19 07:28] Tanoti commented on #23125
@bemeyert Correct, it looks like my code was not pulled into a branch until the 2017.7 version, As it happens I am about to pick up this work again as we are looking once more at elasticsearch but it is not going to be the external job cache side as we've not decided how we will implement that yet.

[2017-06-19 07:35] bemeyert commented on #23125
@Tanoti Thanks for letting me know.

[2017-06-19 08:13] colttt opened #41824 "please add a Debian Stretch Repo"
Hello,

Debian 9 (codename: stretch) is out, please add a repo for this!

best regards

[2017-06-19 09:24] fanne commented on #9736
@mbochenk
so? how to fix in the centos6 ,i have the same question in centos6. i dont get it.

[2017-06-19 09:46] mbochenk commented on #9736
@fanne there is no fix available, but there are some workarounds suggested. For example, see #33442 or check mysql commit which broke compatibility: https://github.com/mysql/mysql-server/commit/684a165f28b3718160a3e4c5ebd18a465d85e97c#diff-26228c60f7753d111a177fa638fb5838R283 (` >/dev/null 2>&1 &` replaced by `>/dev/null &` )

[2017-06-19 11:02] CJCShadowsan opened #41828 "Salt won't provision grafana dashboards with an TLS-enabled Grafana install"
### Description of Issue/Question
Salt fails to provision a dashboard with a TLS-enabled Grafana install. Note that this runs perfectly fine on a non-TLS grafana install.

Error I get is:
`ID: dynamic_dashboard
Function: grafana_dashboard.present
Name: Host Overview
Result: False
Comment: An exception occurred in this state: Traceback (most recent call last):
File "/usr/lib/python2.7/site-packages

[2017-06-19 12:12] CJCShadowsan commented on #41828
Ignore this - caused by misconfiguration.

[2017-06-19 12:12] #41828 closed

[2017-06-19 12:16] bhanukumar22 opened #41829 "Boto s3 listing is not giving output in JSON/YAML format to be processed by cherrypy API"
Hello,

I was able to create AWS s3 bucket without issues and also list the s3 bucket.
But the listing of s3 bucket is not providing the output in the JSON format which cherrypy can understand.
Tried providing --out json at the end to get the output in json format

Example of the output is below. Is there a way to get the output in json format? Any quick help  would be very helpful

Buckets:
    |

[2017-06-19 12:17] bhanukumar22 commented on #41829
Salt Version:
           Salt: 2016.11.5

Dependency Versions:
           cffi: 1.9.1
       cherrypy: 3.2.2
       dateutil: 2.6.0
      docker-py: Not Installed
          gitdb: 0.5.4
      gitpython: 0.3.2 RC1
          ioflo: Not Installed
         Jinja2: 2.8
        libgit2: Not Installed
        libnacl: Not Installed
       M2Crypto: 0.21.1
           Mako: 0.9.1
   msgpack-pure: Not Insta

[2017-06-19 12:26] mchugh19 commented on #26396
@rallytime or @cachedout is there anyone that could provide a comment hint for where to start investigating this issue? It currently appears that yamlex simply isn't working as designed with either the smart pillar merge strategy or simple aggregation.

As far as I know, this is the only mechanism salt possesses that could allow for pillar setting/merging/overriding with a distributed pillar envir

[2017-06-19 13:05] SuperPommeDeTerre commented on #41455
@Ch3LL Can you provide me some update about my clarification request ?

[2017-06-19 13:58] sk4rp10n opened #41830 "interactive authentication?"
is there a way to prompt for authentication on salt master for a salt minion? what are the configurations for that? i cannot get it to work

           Salt: 2016.11.5

Dependency Versions:
           cffi: Not Installed
       cherrypy: 3.5.0
       dateutil: 2.4.2
      docker-py: Not Installed
          gitdb: 0.6.4
      gitpython: 1.0.1
          ioflo: Not Installed
         Jinja2: 2.8

[2017-06-19 14:06] KevinPlus3 commented on #27094
The first thing I tested on my machine locally was `file.lsattr` and `file.chattr`.  I `touched` a file such as `foo.txt` and then I ran `salt-call --local file.lsattr foo.txt` and observed the results.  Then I ran `salt-call --local file.chattr foo.txt operator=add attributes=ai` followed by `salt-call --local file.lsattr foo.txt` to confirm the results.

However, changing attributes of files/dir

[2017-06-19 14:21] terminalmage commented on #41821
Please post the output from the following two commands:

1. `salt minion-id grains.item saltversion`
2. `salt minion-id test.versions_report`

Replace `minion-id` with the minion ID of the minion on which you were running that state.

[2017-06-19 14:28] terminalmage commented on #41819
As you can see in the log, the actual package names are `python26-pip` and `python26-setuptools`. Salt does not support using aliased package names in the `pkg.installed` state. The reason for this is that the state has to do the following:

1. Check if targeted packages are installed
2. For those that are not, perform the install
3. Check again to see if targeted packages are installed

It is usi

[2017-06-19 14:52] tsaridas commented on #41823
you missed to add cmd.run
try
[code]

[2017-06-19 14:55] terminalmage commented on #41779
@sergeyfd Sorry, I thought I posted it but I had just posted the commit ID. The PR is https://github.com/saltstack/salt/pull/41679.

[2017-06-19 15:38] rallytime commented on #40878
Oh, I am not sure why I didn't see these updates earlier, but I see what you mean now. I will work on getting this fixed today. Sorry about that everyone!

[2017-06-19 15:49] dmurphy18 commented on #40290
need to allow for lack of support of execution modules ps.netstat -nap and network.netstat -tulpnea on Debian 9.

[2017-06-19 15:52] garethgreenaway commented on #41824
Thanks for the report!  Now that Debian 9 (stretch) has been released, we'll be building packages for that release.

[2017-06-19 16:09] sergeyfd commented on #41779
Thanks, @terminalmage It looks good now.

[2017-06-19 16:28] steverweber opened #41831 "nacl support for SealedBox"
nacl should add support for SealedBox

https://github.com/saltstack/libnacl/issues/81
https://github.com/saltstack/libnacl/issues/93

[2017-06-19 16:34] code42fr opened #41832 "salt-cloud Vmware pyvmomi - The vCenter Server is unable to decrypt passwords stored in the customization specification."
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

Error when i want to deploy a Microsoft VMs with SALT-CLOUD & Vmware driver.

I don't have problem with the deployement of Linux VMs.

A message in the LOG show "The vCenter Server is unable to decrypt passwords stored in the customization specification."

In the pas

[2017-06-19 16:48] garethgreenaway commented on #41830
@sk4rp10n Can you give a little more information about what exactly you're trying to do?

[2017-06-19 17:06] garethgreenaway commented on #41818
Looks like we need the ability to search and comment all instances of a particular expression.  Marking this as approved.  Thanks for the report!

[2017-06-19 17:16] garethgreenaway commented on #41815
@kirk-hammond Thanks for the report.  Some additional questions.  Were the jobs in question previously added to the crontab for the root user by Salt or were they manually added?  Also, can you provide the output for the cases where the module does not perform the desired action?  Thanks!

[2017-06-19 17:19] rallytime commented on #26396
I think @terminalmage would be the best one to comment on this issue or talk to about troubleshooting this.

@terminalmage Do you have any feedback on this since you were recently in the pillar merge strategy code somewhat recently?

[2017-06-19 17:23] kirk-hammond commented on #41815
All of the jobs in question were previously added to the root users crontab. If I deleted the old job, created a new one using salt.cron with the exact same cron data it was properly managed and could be set to disabled or enabled from that point without issue.

These are legacy systems and I did not capture the output unfortunately. I updated the crons to stop them as they are no longer needed an

[2017-06-19 17:34] garethgreenaway commented on #41823
@gzcwnk As @tsaridas pointed out, it appears that your salt minion is functioning as expected but it's returning an error because the commands that you're passing are not recognized as valid commands.  When interacting with the salt minion in the way that you're attempting to, all interactions are done via Salt modules.  For example, if you want to run the "yum -y install salt-ssh" command then yo

[2017-06-19 17:37] garethgreenaway commented on #41814
Thanks for the report @vector-of-bool!

[2017-06-19 17:43] garethgreenaway commented on #41832
Thanks for the report @code42fr!

[2017-06-19 18:05] cachedout commented on #41510
@garethgreenaway Did you ever get a fix in for this? If so, does it need to be linked here so this can be closed?

[2017-06-19 18:11] garethgreenaway commented on #41829
@bhanukumar22 Thanks for the report.  Unfortunately I haven't been able to reproduce the issue.  Running the following command gives me the output in JSON format:
[code]

Can you provide the exact command that you're running?

[2017-06-19 18:22] sk4rp10n commented on #41830
@garethgreenaway I want to install a hexedit (for example) onto a minion from a master. i will do something like salt 'saltminion' cmd.run 'sudo apt-get install hexedit'

I need a way i can enter a password to use sudo or to answer the [Y/n] when that comes up. theres no way to do it from the master that i found. If you have any ideas to help me work through it that would be much appreciated

[2017-06-19 18:22] garethgreenaway commented on #41510
@cachedout Still thinking about how to fix this one.

[2017-06-19 18:30] garethgreenaway commented on #41830
@sk4rp10n Generally interacting with minions via Salt is not done via interactive means, because of the way the system was designed.  As far as installing packages on minions, the recommended way to do that is by using the `pkg` module with the `install` function.  In a majority of situations the minion is running as the root user, so the minion process has access to install packages and the modul

[2017-06-19 18:34] sk4rp10n commented on #41830
@garethgreenaway thank you this helps. is there a tutorial or documentation on basic pkg module and install function implementation? also another question would be, is there a way to run a minion from a user i create and not root.

[2017-06-19 18:37] garethgreenaway commented on #41830
@sk4rp10n No worries :) The documentation for the pkg can be found here, https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.pkg.html.  It's the same module regardless of the operation system you're on, some systems support different features and abilities, hence the different specific modules.

It is possible to run the minion as a non-root user, https://docs.saltstack.com/en/latest

[2017-06-19 19:25] sk4rp10n commented on #41830
@garethgreenaway  thoughts on this?

saltmas1@saltmaster:~$ sudo salt 'saltminion' pkg.install hexedit
saltminion:
    ERROR: Problem encountered installing package(s). Additional info follows:

    changes:
        ----------
    errors:
        - Failed to start transient scope unit: Interactive authentication required.

[2017-06-19 19:42] rallytime commented on #40878
@joewreschnig I have added the fingerprint_hash_type option to the state functions in `ssh_auth.py`, as well as any functions in the `ssh.py` execution module calling out to the `_fingerprint` function. When I added that option to `ssh_known_hosts.py` I completely missed adding it to `ssh_auth.py`.

Please give #41837 a try and let me know how it goes. You should be able to specify the `fingerprin

[2017-06-19 20:23] ritzk opened #41842 "salt-minion fails to apply state as unpriviliged user using sudo"
### Description of Issue/Question
salt-minion fails to apply state as unpriviliged user using sudo. works fine as root.

$ salt testvm state.apply -t 60
testvm:
    Data failed to compile:
----------
    The function "state.apply" is running as PID 25211 and was started at 2017, Jun 19 16:13:47.368250 with jid 20170619161347368250

Everything else works fine

'''
saltmaster:salt ~ $ salt testvmcmd

[2017-06-19 20:37] ritzk commented on #41842
salt-call is indeed called correctly with sudo
[code]

salt-call o/p
[code]

running the command manually via sudo fixes this.
[code]

[2017-06-19 20:39] cachedout commented on #41628
@arnoschuring Could you go ahead and wrap those changes up into a PR and submit them to us? We'll review them there and then we can close this issue. Thanks!

[2017-06-19 21:20] Arabus commented on #41818
I think someone really went overboard with the error checking in this module.
"Let's run the regex over the file three times to see if we need to run the regex over the file to actually do something..." There ought to be a better way to do this.