[2016-05-11 10:58] rrei commented on #33163
This affects the 'develop' branch too. Downgrading pip works, but the virtualenv state module is not working for me anymore (perhaps unrelated...).

[2016-05-11 11:06] johje349 commented on #32554
Any workaround for this problem? I have the same issue when trying to deploy a digital ocean droplet. The droplet is created but not bootstrapped, i.e. salt-minion is not installed.

[2016-05-11 11:12] Xiol commented on #29422
I've opened a pull request with a fix. It's a little naive as I've copied in the `RSTR` stuff from `salt/client/ssh/__init__.py` - wasn't sure how to go about accessing those variables from `__init__.py` directly without a circular import.

Thanks

[2016-05-11 11:28] guettli commented on #33168
We have found the reason:

[code]

after adding the ip-hostname mapping to `/etc/hosts` it worked.

I close this again.

[2016-05-11 11:28] #33168 closed

[2016-05-11 12:16] DmitryKuzmenko commented on #29674
I've reproduced something looking close to this:
1. Setup multimaster environment with 2 masters and 1 minion.
2. Setup shceduler: alive every 30 seconds, state.apply every 20 seconds
3. Run all and check `test.ping` works from both masters.
4. Delete the minion key on all masters with `salt-key -y -D`
5. Run minion again.

After that either one or both masters don't respond to minion request and

[2016-05-11 13:00] karanjad commented on #24689
The onfail requisite does not kick off when this error condition happens. I will have to look for an alternative way of achieving the same effect.

[2016-05-11 13:28] lorengordon commented on #26755
@s0undt3ch, I was thinking the first issue could be addressed by config-gating the feature. That way the user would be telling salt to install the module's package dependencies. Something like `salt-call --local --install-module-deps <module.function>`.

The second issue is difficult, but probably not too bad. Once the interface is defined, the feature could be 'best effort', and if salt doesn't k

[2016-05-11 13:30] davidpsv17 opened #33171 "Salt-api error when a machine is not in roster file."
Hi!
There is a possibility to add a error message when you do a salt-api request with a machine that is not in the roster file? Because when I did a request with curl, the server didn't response anything.

Thanks!

[2016-05-11 13:52] RoGryza opened #33173 "Feature: add auth database parameter to MongoDB module and state functions"
### Description of Issue/Question

In the current salt version, all MongoDB functions take only one database parameter, so you can't auth on one database and operate on another, e.g. you have an user with the 'userAdminAnyDatabase' role in the 'admin' database but can't create an user in the 'foo' database.
Adding an extra 'authDatabase' parameter fixes that, it can default to the existing 'databa

[2016-05-11 14:11] nofxrok commented on #13141
+99999

[2016-05-11 14:48] terminalmage commented on #33013
As a bit more background, since it wasn't described in the initial post, although this issue as reported was really just a matter of badly-formatted SLS, on subsequent state runs after the first one, the state would return ``True``, when it should have failed like it did the first time. This was fixed in #33146, which has been merged.

[2016-05-11 14:48] #33013 closed

[2016-05-11 15:23] terminalmage commented on #33110
@Ch3LL is correct, yum/dnf does not provide this functionality. When you use ``<``, ``<=``, ``>``, or ``>=``, the ``pkg.installed`` state will check whether or not the currently-installed version matches the expression. If it doesn't, then Salt will mark that package for installation, and run ``pkg.install`` with that version expression. However, yum/dnf does not support those operators (``<``, ``

[2016-05-11 15:29] jfindlay commented on #33136
@akshya-github, thanks for reporting.  Is it possible for you to post the output of `salt-cloud -l debug -p vmware-Win2K8 vmware-Win2K8`?

[2016-05-11 15:35] jfindlay commented on #33143
Since the upstream bug has been fixed and closed, I'm going to close this as well.  Thanks for your work on this, @jakehilton.

[2016-05-11 15:35] #33143 closed

[2016-05-11 15:37] jfindlay commented on #33145
@lorengordon, thanks for your work on this.

[2016-05-11 15:45] jfindlay commented on #33159
@whatevsz, thanks for your analysis.  Also ping @dmyerscough.

[2016-05-11 15:45] robnagler opened #33175 "Unable to unlink pid file results in maximum recursion exceeded"
### Description of Issue/Question

First part of the output:

[code]

Bottom of the output:

[code]
### Setup

Testing on Vagrant as user vagrant running salt-master. The /var/run directory is not writable so the unlink fails. Need to avoid recursion in exit routines.
### Steps to Reproduce Issue

You can also reproduce by killing the master with TERM or INT.
### Versions Report

Just forked the t

[2016-05-11 16:02] jfindlay commented on #33163
Thanks everyone for reporting.  This has affected us as well and we're looking into it.  As @kiorky suggests, this seems to be an upstream bug.

[2016-05-11 16:15] robnagler opened #33177 "pillar.stack should not continue after errors"
### Description of Issue/Question

[salt.pillar.stack](https://github.com/saltstack/salt/blob/815c33e993ce9cd879e4728d6f71d81eb2e004ca/salt/pillar/stack.py)
prints info and warnings when there are errors such as TemplateNotFound,
but should raise exceptions.
### Setup

[code]

/srv/pillar/stack.cfg:

[code]

Produces:

[code]
### Steps to Reproduce Issue

Restart master and `salt-call pillar.items

[2016-05-11 16:24] kiorky commented on #33163
Yes, and for us it affects number of projects, unrelated to salt in any way...
And upstream doesnt want to fix for now :gun:

[2016-05-11 16:24] thatch45 commented on #33163
Upstream says that they don't support this api being stable, so I am working on a patch

[2016-05-11 16:25] thatch45 commented on #33163
basically this goes all the way up to pkg_resources, which I will admit, is the main reason I insist on the standard packages of Salt being built with distutils when possible, since I have seen a lot of breakage in pkg_resources over the years

[2016-05-11 17:03] thatch45 commented on #33163
ok, this PR should fix it, and this fix will come out in the releases we are working on right now:
https://github.com/saltstack/salt/pull/33180

[2016-05-11 17:38] dustinhperkins opened #33182 "custom grains not being recognized"
### Description

I'm trying to apply a state that performs logic based on a custom grain called "environment" (e.g. test,staging,production).  I can use grains.setval to apply the grain, which runs successful. I can call grains.items afterwards to confirm the grain is set. I've even logged pulled up the grains file on the minion and confirmed the grain is set there. But when I attempt to apply the

[2016-05-11 17:44] morganwillcock commented on #32831
I've spent the last couple of weeks packaging software, the biggest problem I've found so far is incorrect detection of state based on name collisions. As an example, Visual C++ 2005 runtime packages will install together, but state checks will fail based on the identical full_name:
[code]
I've found that I can work around the downgrade issue with state dependencies, effectively pinning package ve

[2016-05-11 17:53] jfindlay commented on #33165
@leo108, I am not very familiar with ldap, but is it possible for you to verify the `leo` ldap user is permitted to execute commands on the system?  I assume you have looked at [the documentation](https://docs.saltstack.com/en/latest/topics/eauth/index.html#openldap-and-similar-systems) for the configs, but I wonder if there is more and better error reporting that could be done for eauth with ldap

[2016-05-11 18:38] rcriddle commented on #28805
Just tried using Reactor in syndic environment and ran into the same problem and then found this bug report.    I don't know if it helps, but here is our output.         Basically, can't run reactor if syndics are in play.

/var/log/salt/master
2016-05-11 11:35:38,986 [salt.utils.templates                                 ][ERROR   ][13200] Rendering exception occurred: Jinja variable 'dict' object

[2016-05-11 18:41] rcriddle commented on #28805
We are running 2015.8.8-2

[2016-05-11 18:48] jfindlay commented on #33169
@phil-lavin, thanks for reporting.  I have tried this for about ten minutes and haven't see any increase in memory used by the minion, but this was on 2016.3.0rc3.  I am going to retry with an older version.

[2016-05-11 18:50] jfindlay commented on #33171
@davidpsv17, that would be useful, thanks for reporting.  What version of salt are you using?

[2016-05-11 18:52] jfindlay commented on #33173
@RoGryza, thanks for reporting.  I think this would be reasonable.

[2016-05-11 18:56] jfindlay commented on #30386
@NerdsvilleCEO, thanks for the confirmation.  Would you mind opening a separate issue?

[2016-05-11 19:00] phil-lavin commented on #33169
Sorry, this is a duplicate of #32201. Logs were old - error is actually in failing to connect to the master because the key is declined rather than DNS failure.

[2016-05-11 19:02] jfindlay commented on #32820
Ping @twangboy.

[2016-05-11 19:04] jfindlay commented on #33169
@phil-lavin, thanks for clarifying.  The fix for that issue should be coming out with 2015.8.9, which will come out in the next week or two.

[2016-05-11 19:12] #33169 closed

[2016-05-11 19:59] jfindlay commented on #31270
@timwsuqld, you can construct a state with `cmd.run` and call the shell utils directly.  Here is what I get when I run the state:
[code]
[code]
[code]

[2016-05-11 20:12] whiteinge commented on #24689
@karanjad Can you try running the following states to see if matches the behavior you're seeing in your real state run?

1. Run `salt-run state.orch long_orch` in one terminal.
2. Immediately switch to a second terminal and run that same command again.

These are the states I am testing with. I'm testing on 2015.2. Are you still running that version?

[code]

[code]

[2016-05-11 21:00] usbportnoy opened #33187 "Deploy to jboss TypeError at boss7.py:469"
### Description of Issue/Question
Attempting to deploy a WAR to jboss7 from a local salt source causes an error in salt/states/jboss7.py

[code]

### Setup
#### /srv/salt/jboss.sls
[code]

#### /srv/pillar/jboss.sls
[code]
#### /srv/pillar/top.sls
[code]

(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
1. configure setup
2.  run

[2016-05-11 21:53] twangboy commented on #32820
@jfindlay I don't know what's going on. I used his executable and it all worked for me.

[2016-05-11 22:10] justinta opened #33191 "Allow the minion daemon to run without needing to connect to a master"
## Description of Issue/Question

It appears that `file_client: local` doesn't run the minion in masterless, as per [the docs](https://docs.saltstack.com/en/latest/topics/tutorials/quickstart.html). This doesn't appear to hinder salt-call functionality.
### Setup

Install salt.
set `file_client: local` in minion config
Start minion in debug mode: `salt-minion -l debug`

The debug log will output s

[2016-05-11 22:52] rallytime commented on #31762
This is probably something that @gtmanfred should look into and likely needs a fix separate from just reverting the changes made in the referenced #12225 above. That code just helps avoid a race condition and makes the code more DRY and has been there for a while.

[2016-05-11 23:08] thatch45 commented on #33191
I wonder who wrote those docs, I don't think this was ever the intention to allow for the minion to run without a master

[2016-05-11 23:17] thatch45 commented on #33191
In the note in the referenced doc it clearly states that you can't run the minion daemon in masterless

[2016-05-11 23:27] rallytime commented on #33191
Let's mark this as a feature request to be able to run the salt-minion daemon in masterless mode to make use of things like minion-side beacons and engines.

[2016-05-12 01:06] leo108 commented on #33165
Whether user `leo` can execute command on the system isn't controlled by `ACL` system (`external_auth`) in the saltstack ?

I think in this case LDAP just a system that verify user name and password.

[2016-05-12 01:09] leo108 commented on #33165
Yes I have read the doc, but I can't find more useful log to find out the problem, so I submit this issue

[2016-05-12 06:37] akshya-github commented on #33136
@jfindlay, Sure...Please find the [attachment.]
[err.txt](https://github.com/saltstack/salt/files/260718/err.txt)

[2016-05-12 07:05] beardedeagle commented on #30658
Looks like I will need to pull the sources then, rather than provide them. I'll get to it.

[2016-05-12 07:18] ffjia opened #33194 "salt-cloud: EC2 userdata template error"
### Description of Issue/Question

When I try to launch instance using EC2 userdata template with this #32698 change, error occurred.

[code]
### Versions Report

[code]

Hints? Thanks in advance.

[2016-05-12 07:19] Inveracity opened #33195 "schedule not applied to secondary minion in "two minions on one server" setup"
### Description of Issue/Question
When applying a schedule to a server running two minions, it defaults to the normal installation path instead of the targeted minions configuration path.

### Setup
Two minions on the same server, the default minion is controlled by "dep1" the secondary is controlled by "dep2"

dep2 minion config resides in
`/etc/salt/dep2/`
[code]

the schedule applied to the dep

[2016-05-12 08:12] davidpsv17 opened #33196 "Salt-ssh and Salt-api without passwd"
Hi,

My roster file:

Machine7:
  host: 192.168.1.104
  user: david
  sudo: True

When I tried to execute salt-ssh normal it workds, but when I try with salt-api appears this error:
Permission denied, no authentication information

What's wrong?
Thanks!!

[2016-05-12 08:58] Inveracity commented on #33195
I just copy pasted the `persist()` function from `salt/utils/schedule.py` from the `2016.3` branch into the `2015.8.8.2` minion and it created the `_schedule.conf` file in the expected directory.
closed :)

[2016-05-12 08:58] #33195 closed

[2016-05-12 09:44] lietu commented on #33163
Downgrading Pip with `pip install pip==8.1.1` seemed to fix it for now.

[2016-05-12 10:02] guettli commented on #29568
Here is an other place where  **one** central place for explaining supported URLs would be nice:

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.virtualenv_mod.html#module-salt.states.virtualenv_mod

I don't know the underlying implementation. I can only guess:

Case1: All ways to address files/URLs like in file.managed are supported: Then please tell us

Case2: Only some ways to

[2016-05-12 10:31] ealphonse commented on #22747
Hello all,

I also notice this regression behavior but only with a http source. I can reproduce the bug like this:
[code]
calling the state with:
[code]
And it works as a single line. Could someone confirm it is the right syntax?
[code]

[2016-05-12 11:19] mallniya commented on #12803
+1, also blocking deployment

[2016-05-12 11:45] sivann commented on #33114
I added presence_events: True to saltmaster and restarted, now only 1 host is reported as allowed/alived.

[2016-05-12 13:27] davidpsv17 commented on #33171
salt 2015.5.3 (Lithium) @jfindlay , Thanks!

[2016-05-12 13:34] mostafahussein commented on #33182
@dustinhperkins , do you have a custom grains inside `/srv/salt/_grains` directory ?

[2016-05-12 13:34] adnanJP opened #33199 "state.sls_id doesn't manage onchanges or onchanges_in requisite"
### state.sls_id doesn't manage onchanges or onchanges_in requisite
### Setup

git_repo.sls

[code]

(the same is the onchanges is in the /path/cache)
### Steps to Reproduce Issue

When calling state.sls git_repo
- No issues, /path/cache gets cleared each time there is a new revision (so on git.latest changes)

When calling state.sls_id anyrepo git_repo
- Only the requires are managed, the state d

[2016-05-12 13:35] jjc001 opened #33200 "zk_concurrency will not release locks when no identifier is passed"
### Description of Issue/Question

`salt.states.zk_concurrency.lock(name, zk_hosts, identifier=None, max_concurrency=1, timeout=None, ephemeral_lease=False)`

The `identifier` parameter to `zk_concurrency.lock()` and `zk_concurrency.unlock()` is optional and defaults to 'None'. The `zk_concurrency.unlock()` function however does not release any locks created with a 'None' identifier

### Setup
A r

[2016-05-12 13:37] ealphonse commented on #28682
I agree it makes sense that the pillar facility matches the salt side. I use the much wanted `top_file_merging_strategy=same` option to stage my code deployments (salt + pillar files) but as pillar tops are merged, I end up with conflicting pillar files with merged values between QA and production for example.

Having the possibility to use the `same` setting for both sides would allow a simple wo

[2016-05-12 14:13] rickh563 commented on #32679
ZD-769

[2016-05-12 14:29] jakehilton opened #33201 "2016.3.0 AuthenticationError: message authentication failed until master becomes unresponsive."
### Description of Issue/Question

When running 2016.3 I'm seeing quite a few of the following:

[code]

I see this both during normal operation as well as when I restart. Ultimately the master stops responding to minion requests and requires a restart.

Running in debug mode has not revealed any extra information as of yet.
### Setup

Ubuntu 14.04
Saltstack 2016.3.0rc2
Multi-master enabled
### St

[2016-05-12 14:53] #25040 closed

[2016-05-12 14:53] #32834 closed

[2016-05-12 14:59] cachedout commented on #33182
Single master or multi-master?

[2016-05-12 15:11] cachedout commented on #32902
@jtand What happened with this one after the changes surrounding bootstrap?

[2016-05-12 15:12] shalabh250284 commented on #23194
+1

[2016-05-12 15:22] terminalmage commented on #32237
This seems to be a duplicate of #32685 which I fixed yesterday with #33152, still awaiting merge.

Is ``my_project`` here matched by a ``Host`` entry in ``/root/.ssh/config``, and not an actual DNS name?

[2016-05-12 15:25] Ch3LL commented on #33119
I spoke with @twangboy and we decided this would be an appropriate feature request, although he needs to think through on how to approach this. I'll label it a feature request and he has assigned it to himself to find a solution to this request. Thanks

[2016-05-12 15:39] jacksontj commented on #26755
@lorengordon Moving the logging from debug is a bit complicated, as there are quite a few scenarios where you actually load *all* modules even though you don't need most of them (primarily weirdly named modules, or ones that don't exist)-- because of that we set the logging at debug to avoid the log spam. That being said the error message should be better than that jinja error you pasted. Is that

[2016-05-12 15:48] jakehilton commented on #33201
I swear.. zeroMQ is the bane of my existence. As soon as I switched to the TCP transport things started to work better.

I'm not sure if it's something specific to our setup that zeroMQ doesn't agree with.. but it's never worked well.

I'll keep watching and report back if things go south with TCP as they did with zeroMQ.

[2016-05-12 15:48] mostafahussein commented on #33182
@cachedout  I am facing same issue with a single master but in my case i found that when i remove the custom grains that inside `_grains` folder it works without problems although they are not the same grain keys.

[2016-05-12 15:51] jtand commented on #32902
@cachedout We ended up not changing bootstrap because the libzmq version was actually correct, but in their release repo is was named incorrectly as libzmq3. @thatch45

[2016-05-12 15:54] terminalmage commented on #32385
This is fixed in https://github.com/saltstack/salt/pull/33203.

Note that in the case of the upstream repo being modified, which will cause the fetch to fail, ``force_reset`` must be set to ``True`` otherwise the state will exit with a False result since the fetch failed.

Also, since the update is not a fast-forward, ``force_reset`` will also need to be set to ``True`` to force the state to hard-

[2016-05-12 15:56] terminalmage commented on #32385
I'm sorry, I mistyped my earlier comment. To force the fetch, you would set ``force_fetch`` to ``True``.

[2016-05-12 16:01] thatch45 commented on #33201
Sounds good, we have not been seeing these in zeromq. Sounds like your lawyers have a long arm!

[2016-05-12 16:05] rallytime commented on #32902
However, now that repo.saltstack.com is properly mirroring suse's repo with updated packages, this issue needs to be readdressed with the hanging tests. Because the updated libzmq version should now be installed.

[2016-05-12 16:29] thatch45 commented on #32902
The other thing is that we should be moving over to testing on suse leap, since opensuse 13 is nearing eol and Suse is pushing hard to move people to Leap

[2016-05-12 16:30] grobinson-blockchain commented on #33121
Hi @Ch3LL were you able to reproduce this error?

[2016-05-12 16:43] terminalmage commented on #32917
Fixed in #33204.

[2016-05-12 16:44] thatch45 commented on #11995
Sorry this took so long, but there was a lot that needed to get updated in the test suite to be able to handle it.
The tests are ALMOST running, but we still have a few hicpus. You can watch as we get them closer and closer here:
http://166.78.178.63:8080/job/branch_tests/job/develop/job/salt-linode-py3-arch/
http://166.78.178.63:8080/job/branch_tests/job/develop/job/salt-linode-py3-cent7/

We THI

[2016-05-12 16:44] lorengordon commented on #26755
@jacksontj, not a traceback, just a jinja call in an sls file, before `firewalld` is installed.

Here is the state, `# cat /srv/salt/test.sls`:
[code]

Here is the salt output, `# salt-call --local -l debug state.sls test`:
[code]

[2016-05-12 16:50] terminalmage commented on #32917
@bradthurber Until we can get this into a release, I will say that after looking at the code, in this very narrow use case it is acceptable to manually fetch.

The reason I caution against this normally is because we rely on the results of a fetch to determine if updates actually happen to trigger other events when running a typical (i.e. not masterless) environment. Additionally, we have the mast

[2016-05-12 17:30] cachedout commented on #33162
Should be fixed by #33164

[2016-05-12 17:30] #33162 closed

[2016-05-12 17:46] zerthimon commented on #32237
Yep, my_project is a Host entry in /root/.ssh/config

[2016-05-12 17:50] bradthurber commented on #32917
@terminalmage thank you for taking the time to clarify. Appreciated.

[2016-05-12 18:20] cachedout commented on #32250
Do you have write permission to /var/run/salt? I can't seem to reproduce this.

[2016-05-12 18:46] Ch3LL commented on #33175
@robnagler I am able to replicate this. Here is my test case:

**SETUP:**

[code]

Master Config File:

[code]

Add privileges for vagrant user:

`sudo chown -R vagrant /etc/salt /var/cache/salt /var/log/salt /var/run/salt`

Running (as vagrant user):

1. Start first salt-master daemon: `salt-master -d`
2. Run `salt-master -ldebug`

errors in /var/log/salt/master:

[code]

[code]

and then the pro

[2016-05-12 18:47] jfindlay commented on #33136
@akshya-github, thanks for the extra information.  Ping @nmadhok.

[2016-05-12 18:52] jfindlay commented on #29568
Ping @jacobhammons.

@guettli, since #23351, almost `salt://` urls in the salt codebase are handled by python's `urllib`.

[2016-05-12 18:54] UtahDave commented on #33165
@leo108 can you stop the salt-master daemon and then run the salt-master in the foreground in debug mode like this?

[code]
Then try running the following in another terminal:
[code]

Check for any errors or stacktraces in the salt-master debug output

[2016-05-12 18:57] jfindlay commented on #29568
@jacobhammons, @guettli, I think it might be useful to have a dedicated doc page talking about how salt works with URLs, which could potentially be referenced with an rst link in the doc strings of all functions that accept a URL parameter, but this is only my opinion.  Such a page could talk all about how `salt://` URLs work: how they are relative to `file_roots`, how to [escape](https://docs.sal

[2016-05-12 19:14] jfindlay commented on #22747
@ealphonse, thanks for reporting.  I can confirm this.
[code]
[code]
[code]
[code]
[code]

[2016-05-12 19:18] rallytime commented on #30014
Bumped into this today and it is still broken. Here's the correct test functionality when using `test=true`:
[code]
And here is the command getting run when passing `Test=true`:
[code]
I checked running this with other paradigms other than `salt-ssh` and it looks like `test=true` and `Test=true` work identically when using either the `salt` command or the `salt-call` command. They both run correct

[2016-05-12 19:35] nmadhok commented on #33136
@akshya-github Change your driver to ``vmware`` instead of ``vsphere`` in your provider configuration. The ``vsphere`` driver is no longer supported and will be removed in Salt Carbon release. Looking at your logs:

[code]

The traceback confirms that it's trying to use the ``vsphere`` driver instead of the ``vmware`` driver:
[code]

Here's documentation on how to use the ``vmware`` cloud driver:

[2016-05-12 19:41] christianbundy commented on #8684
@MadsRC Can you try adding `StrictHostKeyChecking=no` to your SSH config? That fixed the issue for me.

[2016-05-12 19:49] Ch3LL commented on #33182
I am not able to replicate this behavior. Here is my test case:

1. Minion windows 8 x64 2015.5.5
2. Master centos7 x64 2015.5.8
3. Set grain value

[code]

4. Check that grain is set:

[code]

5. Run state file with test=True

[code]

Is there a difference between my test case above and your setup? Particularly what version of windows are you running?

[2016-05-12 20:09] blade2005 opened #33210 "Windows cmd.run not handling spaces very well"
I am trying to check that a file exists by using type on Windows.

I get the following response back

Returns the output of the file

If i call with powershell instead of default it works like i would expect

### Steps to Reproduce Issue
Try to run type against any path that has a space in it.
I have also tried this with single quote out, double quote in with the same results.

Output of salt --ve

[2016-05-12 20:17] Ch3LL commented on #33194
@ffjia the PR you are referencing is in the head of 2016.3 and the develop branch. In your versions report you show as using salt version 2015.8.8.2, which this change is not in that code. Do you still see this behavior at the head of 2016.3?

[2016-05-12 20:21] Ch3LL commented on #33194
I apologize it looks like this PR is only on  the develop. So please let me know if you see this same behavior on the develop branch. Thanks.

[2016-05-12 20:30] sjmh opened #33212 "external_auth requires users are allowed read access to salt-master configs"
### Description of Issue/Question

When using external_auth, commands fail if they don't have access to all the configuration files.

[code]

Because of the sensitivity of some setup configurations within the salt-master, this may expose things, like passwords.  Is there some way to keep these things secret, so that users using the salt system cannot see them?  I know there is sdb, but I'm not sur

[2016-05-12 20:55] #33173 closed

[2016-05-12 20:57] thatch45 commented on #33212
This is a hard call, yes you can use sdb, I think that would be the optimal choice here, but we may need to look into making sdb better suited to return different results when called by different users, as sdb would likely just do the same unlocking.
Do you have any ideas around this one @techhat ?

[2016-05-12 20:59] dustinhperkins commented on #33182
@mostafahussein there is a grains file on the minion box which are located in the C:\salt\conf\grains.  The environment grain is correctly showing up in there

[2016-05-12 21:01] dustinhperkins commented on #33182
@Ch3LL The minion is on a windows server 2012 R2.

[2016-05-12 21:02] dustinhperkins commented on #33182
@cachedout single master

[2016-05-12 21:02] Ch3LL commented on #33177
@robnagler i was able to re-create this behavior as below:

master config:

[code]

salt-call:

[code]

[code]

[2016-05-12 21:05] Ch3LL commented on #33187
@usbportnoy thanks for the PR! I'm gonna go ahead and close this issue now :)

[2016-05-12 21:05] #33187 closed

[2016-05-12 21:12] rrei commented on #33087
Sorry, it has been tough to get some free time to work on this. If anyone else wants to pick this up, please feel free. If you can wait a bit then I'll pick it up as soon as possible (within a few days perhaps).

[2016-05-12 21:12] Ch3LL commented on #33199
@adnanJP I am able to replicate this behavior only when applying `_in` requisites. Using onchnages works without the in.

1. Example where using onchanges works:

[code]

[code]

2. Example where onchanges_in does not work:

[code]

[code]

Also to note I also tried a `require_in` and it seems any `_in` requisites is what is causing the issue. I will label this a bug for the `_in` not being added

[2016-05-12 21:14] jfindlay commented on #33087
@rrei, no problem.  Thanks for the update.

[2016-05-12 21:17] Arabus commented on #28693
Just stumbled upon the same issue, the cause seems to be a missmatch between hash_type of minion and master and a configured fingerprint in the minion config from the time when those hash types were aligned.

solution in my case was to remove the minion_master.pub file and replace the fingerprint with the correct one from ´salt-key -F master´, then restart the minion.

´´´
salt-minion --versions-r

[2016-05-12 21:21] Ch3LL commented on #33196
@davidpsv17 what version of salt/salt-api are you using? Can you provide the output from `salt --versions-report`

Also what command are you running against the salt api?

[2016-05-12 21:37] rallytime commented on #29796
Hi everyone! I finally was able to track down the culprit for this issue. A fix is included in #33215.

@vutny please give that a try when you get a moment and let me know how it goes.

[2016-05-12 21:54] pkartch commented on #28462
I just upgraded to 2015.8.8-2 and I am seeing this error as well.  Any updates would be appreciated.

[2016-05-12 22:07] Ch3LL commented on #33210
@blade2005 can you try escaping the quotes around the file name. Here is an example: `sudo salt -G 'os:windows' cmd.run "type \"C:\Program Files\ch3ll.txt\""`

You should also be able to do something similar: `sudo salt -G 'os:windows' cmd.run 'type "C:\Program Files (x86)\Internet Explorer\test.txt"'`

Do the above syntaxes work?

[2016-05-12 22:16] Ch3LL commented on #33118
@lorengordon agreed concerning it being a documentation issue if multiline in fact parses the entire file as a string. Thanks for the PR! I will wait for it to be merged before closing this issues :)

[2016-05-12 22:16] cachedout commented on #33163
We should have this all wrapped up with the merge of #33180. I'm going to go ahead and close this.

[2016-05-12 22:16] #33163 closed

[2016-05-12 22:21] Ch3LL commented on #33110
@terminalmage thanks for the clarification.

[2016-05-12 22:32] Ch3LL commented on #33121
@grobinson-blockchain apologies for the wait. i'm looking through this now and will update when i'm done testing.

[2016-05-12 23:25] kt97679 opened #33223 "file.managed erased content of the file"
### Description of Issue/Question

Hi folks,

I manage /etc/pam.d/ files using salt and here is excerpt from the salt state that does this:

<pre>
{% for file in pam_files %}
/etc/pam.d/{{ file }}:
  file.managed:
    - mode: 644
{% if (some-condition) %}
    - source: salt://ad/exception/common-session
{% else %}
    - source: salt://ad/pam.d/{{ grains['os'] }}/{{ file }}
{% endif %}
    - templa

[2016-05-12 23:27] rallytime commented on #18517
Closing for now. We can reopen this if it needs to be revisited.

[2016-05-12 23:27] #18517 closed

[2016-05-12 23:34] Ch3LL commented on #33121
Okay I am now able to replicate the error and I think I have the smallest test case. I believe the issue is with the `extends` in your nginx/ng/init.sls file. Here is my test case:

/srv/salt/simple-test.sls

[code]

[code]

[code]

[code]

Weirdly enough if you add a state after the extends it works. Similar to the following:

[code]

[code]

Can you try appendng the following state to the nginx/

[2016-05-12 23:43] rallytime commented on #22892
A disclaimer about using the `fnmatch` library was added to the first line of the [Globbing](https://docs.saltstack.com/en/latest/topics/targeting/globbing.html#globbing) section of the docs in PR #6286, along with a link to fnmatch docs. There are also several examples of globbing options that have been added to this page through out the years. I'm going to close this. If more specific examples n

[2016-05-12 23:43] #22892 closed

[2016-05-12 23:56] m03 opened #33225 "win_servermanager reporting incorrect/truncated results on minion 2015.8.8-2"
### Description of Issue/Question

win_servermanager is reporting changes regarding features installed via state module in instances where those features had already previously been installed (and shouldn't be reporting changes), and is displaying truncated feature names from win_servermanager.list_installed. The two issues appear to be related, as the former only appears to occur for features wit

[2016-05-13 01:55] Ch3LL commented on #33200
@jjc001 i will setup a test case tomorrow and post results.

[2016-05-13 02:07] leo108 commented on #33165
Authentication module threw argument 3 must be string, not bool

[2016-05-13 02:14] leo108 opened #33228 "How to use Jinja version_compare filter"
### Description of Issue/Question

I want to use Jinja's `version_compare` filter in a sls file, I read the [jinja's doc](http://docs.ansible.com/ansible/playbooks_filters.html#version-comparison-filters), it says this filter was introduced in version 1.6, and I check the jinja installed in my system by `pip list` and it's `Jinja2 (2.2.1)`

But when I execute `salt '*' state.apply my.sls`, it says

[2016-05-13 02:47] sjmh commented on #33212
So, two thoughts ( and not fully-formed ):

1 - Would it be possible to limit the needs of the salt command to read the master configs? ( Or at least, read ALL of them? ).  We could limit access to those secrets via normal filesystem permissions.  Not fantastic, but it's the age old problem of how to securely keep secrets in config/scripts.

2 - Was thinking of how we could, internally, integrate

[2016-05-13 02:52] leo108 commented on #33165
I trace the salt python code in `auth/ldap.py` and I find this error was caused at line 226

`result = _ldap.search_s(basedn, int(scope), paramvalues['filter'])`

there is no default value for paramvalues['filter'] so it became `False`, and I check the [doc of python-ldap](https://www.python-ldap.org/doc/html/ldap.html#functions) function `search_s`'s third parameter *MUST* be string

so I added o

[2016-05-13 03:13] thatch45 commented on #33212
1 would be the easiest, we could set a file in the master.d directory to restricted permissions and then change the config loading to just skip files it can't read, put the secrets you need in there and we are good to go. It is sloppy but likely only needs a try/except block added to the code.

2. lemme get back to you in the morning....

[2016-05-13 04:04] jfindlay commented on #33165
Thanks for your investigative work on this, @leo108.

[2016-05-13 05:09] sumhuang opened #33230 "running minion with non root user"
### Description of Issue/Question
When I set minion with non root user,master can not connect to minion.
I followed the guide of the [Running the Salt Master/Minion as an Unprivileged User] and setting the config of minion as below.And restart minion,it looks like the minion not being started correctlly.
  1:change the minion file as [user: test]
  2:change the owership of the file as below

[2016-05-13 06:36] akshya-github commented on #33136
@nmadhok, I have changed driver to 'vmware', Now I am not able to connect vSphere server.

Provider file looks like:

 my-vsphere-config:
 driver: vmware
 user: 'root'
 password: 'Admin@123'
 url: 'https://192.168.8.28:443/sdk'
 esxi_host_user: 'root'
 esxi_host_password: 'Admin@123'
 esxi_host_ssl_thumbprint: '1E:3D:48:38:C1:FC:1D:9D:2C:B8:A7:08:A7:84:12:F8:59:B4:29:32'

Provider is: VMware vSphe

[2016-05-13 06:43] leo108 commented on #33228
sorry, the doc is `ansible` not `jinja`

[2016-05-13 06:43] #33228 closed

[2016-05-13 06:48] nmadhok commented on #33136
@akshya-github The document I listed before clearly lists an example for how providers config file should look like:

[code]

In your case it should be the following:
[code]

[2016-05-13 07:03] akshya-github commented on #33136
Thanks Bro,

A little error is still there: [ERROR   ] There was a profile error: argument of type 'NoneType' is not iterable

can you please help me..!!

[2016-05-13 07:19] akshya-github commented on #33136
[INFO    ] salt-cloud starting
[INFO    ] Creating Test2 from vm(Win2k12-R2-DS Client)
[ERROR   ] Error creating Test2: (vmodl.fault.NotSupported) {
   dynamicType = <unset>,
   dynamicProperty = (vmodl.DynamicProperty) [],
   msg = 'The operation is not supported on the object.',
   faultCause = <unset>,
   faultMessage = (vmodl.LocalizableMessage) []
}
Test2:
    ----------
    Error:
        Er

[2016-05-13 07:25] nmadhok commented on #33136
Need to look at the debug log. Looks like you are trying to do a clone operation on an ESXi which is only supported through a vCenter.

[2016-05-13 07:28] akshya-github commented on #33136
Yes....OK !! Can I create vm without cloning, using iso image...

[2016-05-13 08:51] tinyMrChaos commented on #19349
I ran into this problem today while fiddling about with configuration and testing features and found my problem to be a mismatch in hash_type. I had entered SHA256 as suggested by the salt-master log-file in /etc/salt/master, while the accepted value was sha256. Apparently case sensitive. I'm not sure if this helps anyone, but it fixed the problem for me.

[2016-05-13 09:46] akshya-github commented on #33136
[INFO    ] salt-cloud starting
[INFO    ] Creating Test10 from vm(Win2k12-R2-DS System)
[ERROR   ] Error creating Test10: (vmodl.fault.NotSupported) {
   dynamicType = <unset>,
   dynamicProperty = (vmodl.DynamicProperty) [],
   msg = 'The operation is not supported on the object.',
   faultCause = <unset>,
   faultMessage = (vmodl.LocalizableMessage) []
}
Test10:
    ----------
    Error:

[2016-05-13 10:05] guettli opened #33231 "pip.installed from VCS checkout, always reports as "changed""
### Description of Issue/Question

The following part always reports as "changed", although no changes were made:

[code]
### Steps to Reproduce Issue

I use `salt-ssh remote-host state.sls foo`

No single line was changed on branch master in repo `foo`, but salt says "changed".
### Versions Report

[code]

[2016-05-13 10:18] guettli opened #33232 "Docs: watch vs onchanges: Please provide an example"
### Description of Issue/Question

I don't get "watch vs onchanges":

https://docs.saltstack.com/en/latest/ref/states/requisites.html#watch

It would be great, if you could add a simple example for both use cases.

My use case: I want to restart  service `core` if a state `plugin-foo` changed. But service `core` does not know state `plugin-foo`.

Thank you.

[2016-05-13 10:24] johje349 commented on #32554
The problem was introduced by commit a743778e98796d98181ad94f7cbebee20546def2.
Most likely because config.py moved to a separate directory in the develop branch.

It was later fixed by commit 5a9f4e947e906c5ac5d3b06e0c59298e66abb271.

So the workaround is to update /usr/lib/python2.7/dist-packages/salt/config.py on the salt-master until a release with the fix arrives:
         os.path.abspath(

[2016-05-13 10:33] trexx commented on #18429
Running version salt 2015.8.8.2 (Beryllium), and I'm still seeing the same behaviour; Passing a pillar on the command line to override a value results in salt overwriting the entire dict.
ie,
settings:
  foo: 1
  buzz: 2

becomes,
settings:
  foo: override

pillar_source_merging_strategy is set to recurse.

A nasty workaround at the moment is I wrap my salt commands in a script which writes to a p

[2016-05-13 11:21] lvg01 opened #33233 "hash_type wrong warning (textual)"
### Description of Issue/Question
master/minion config with unset hash_type gives warning about hash_type not set as SHA256, e.g. for the minion: "IMPORTANT: Do not use md5 hashing algorithm! Please set "hash_type" to SHA256 in Salt Minion config!". The setting "hash_type: SHA256" fails starting the minion, correct setting is "hash_type: sha256" (in lowercase). Warning should be adjusted to the lo

[2016-05-13 13:23] DmitryKuzmenko commented on #29674
Caught it!

The problem I've found: if a minion's key was removed and the minion still think it's connected and perform interactions with the master, master handles requests and tries to respond but throws IOException in worker when trying to encrypt a response for minion because there's no minion key anymore. The exception doesn't appear in the log that is the reason it looked so magic.

Why it h

[2016-05-13 13:38] davidpsv17 commented on #33196
Hi @Ch3LL!
salt --versions-report
                  Salt: 2015.5.3
                Python: 2.7.6 (default, Jun 22 2015, 17:58:13)
                Jinja2: 2.7.2
              M2Crypto: 0.21.1
        msgpack-python: 0.3.0
          msgpack-pure: Not Installed
              pycrypto: 2.6.1
               libnacl: Not Installed
                PyYAML: 3.10
                 ioflo: Not Installed

[2016-05-13 14:15] jakehilton commented on #29674
So would this manifest with the TCP transport as well? It doesn't use the zmq libraries correct? I don't seem to experience it when using the TCP transport hence my question.

We run a `salt-run manage.down removekeys=True` command periodically from the masters so if when they are run the minion doesn't respond they are removed.. and then if the minion still thinks they are connected it could fall

[2016-05-13 14:55] usbportnoy commented on #33233
Happens on my minion also

[code]

[2016-05-13 14:59] rallytime commented on #33230
Hi @sumhuang - we just pushed a fix for this in pull request #33211, which should now be available at the HEAD of all branches (except develop - that is still pending a merge-forward, which will go in today). This fix will be available in all of the upcoming point releases (2015.5.11, 2015.8.9, and 2016.3.0), which we are working on releasing right now.

[2016-05-13 15:01] rallytime commented on #32250
@ikryten and @hun7err Please see the fix in #33211. Thank you both for your help in troubleshooting this issue.

[2016-05-13 15:03] clinta opened #33238 "x509 CSR fails if the csr does not contain any extensions"
When attempting to use the x509 module to sign a csr which does not have any requested extensions, the module fails:

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/salt/cli/caller.py", line 196, in call
    ret['return'] = func(*args, **kwargs)
  File "/usr/lib/python2.7/dist-packages/salt/modules/x509.py", line 1146, in create_certificate
    csrexts = read_csr(kwarg

[2016-05-13 15:08] damon-atkins commented on #32831
The pkg manage updates I am doing , have been always striping the version string out of the name. I will add code so that if the package needs the version string like the above C++ examples it will add version missing string to the name, this way you will see all of them installed instead of just one being reported back.

[2016-05-13 15:10] jfindlay commented on #32554
@johje349, thanks for your research on this.  The new releases will come out in the next week or two.

[2016-05-13 15:19] Ch3LL commented on #33223
I also am not able to replicate this. Here is my test case:

[code]

[code]

And the files are not empty:

[code]

I'm not sure what would have caused this, although some debug logs would be very useful in this situation. @kt97679 : Do you happen to have the debug logs to provide when this occurred?

[2016-05-13 15:32] blade2005 commented on #33210
`salt -G 'os:windows' cmd.run "type \"C:\Program Files (x86)\Internet Explorer/ie9props.propdesc\""`
Returned the following

double outer quotes, escaped inner double quotes
`salt -G 'os:windows' cmd.run "type \"C:\Program Files (x86)\Internet Explorer/ie9props.propdesc\""`
Returned the same as above

single outer quotes, escaped double inner quotes, escaped spaces
`salt -G 'os:windows' cmd.run 't

[2016-05-13 15:40] skullydazed commented on #31501
I ran into this bug this week. Centos 7 targets running on linode, Mac OS X running salt-ssh 2015.8.8.2 as the master.

Following @cachedout's suggestion I tried playing with the tty option. With "tty: True" I encountered the bug. After removing "Defaults requiretty" from the minion's sudoers and setting "tty: False" in the roster I was no longer affected by this bug.

[2016-05-13 15:41] Ch3LL commented on #33225
@m03 I am not able to replicate this:

[code]

Correct me if i'm wrong but i dont see any truncated names in the list either:

[code]

[code]

Is there anything in my test case that is different form your use case to help me replicate this?

[2016-05-13 15:55] Ch3LL commented on #33232
I think it would be great to have a section showing examples particularly to show the differences between the two requisites.

When you state "But service core does not know state plugin-foo". Can you clarify what you mean by it does not know about the state plugin-foo? If plugin-foo is in another sls file you could include that for the requisites to take effect.

[2016-05-13 16:12] jfindlay commented on #31501
@cachedout, @grep4linux, for what it's worth, I've isolated and fixed the place in the code where all the opts are dumped into the output and have extracted the error message although this does not fix the tty problem itself.
[code]

This issue is related to #28073 and #32264.

[2016-05-13 16:13] kt97679 commented on #33223
@Ch3LL sorry, I don't have debug logs. I totally understand that value of this issue without robust way to reproduce is low. But I'm also very concerned, because salt manages critical parts of our infrastructure and if this will happen again we have a good chance to face production issue affecting our customers.

[2016-05-13 16:16] Ch3LL commented on #33233
@lvg01  I am also able to replicate this on 2015.8.8.2. Agreed this needs to change in the warning to make sure there is no confusion. Thanks! :)

[code]

[code]

[2016-05-13 16:16] jbonachera opened #33243 "salt-cloud: wait_for_port() doesn't work with ipv4-only hosts"
Hi !
### Description of Issue/Question
It seems that since #32865, salt-cloud wait_for_port can't successfully establish a connection to an ipv4-only host.

The following code is run:

[code]
The "except" block assumes that socket.error exception was raised by a timeout, but when connecting to an ipv4 host, "if socket.inet_pton(socket.AF_INET6, host)" also raise a socket.error exception.
As a resu

[2016-05-13 16:20] jfindlay commented on #31501
There are a few commits which alternate this line, 0a3bed9db6a220a1fa44350def60708855feb7f8, 2669a09c974ab22fcee9a888f46efc833d0ac296, 074448bd56c4acf49faf158b1a03ee3e19c99bb8, 6795d6aef04e853038d58e8c3b1a986f86f74e1b, but when I try the form in #32218, `SSH.handle_ssh` never returns.

[2016-05-13 16:24] Ch3LL commented on #33238
@clinta thanks for the PR! Are you okay with closing this once your PR is merged?

[2016-05-13 16:28] terminalmage commented on #31977
@dizzythinks It has been about 5 weeks since I asked my questions, can you provide an update?

[2016-05-13 16:29] rallytime commented on #33233
@lvg01 This is fixed at the HEAD of 2015.8 with PR #32360 and will be available in the upcoming 2015.8.9 release. :)

[2016-05-13 16:37] #16196 closed

[2016-05-13 16:41] rallytime commented on #26913
@imchairmanm Just a nudge here to if you have had a chance to check out the fix mentioned above.

[2016-05-13 16:50] techhat commented on #33243
I have come across this too, and I have a fix for it. Let me put in a PR.

[2016-05-13 16:54] Ch3LL commented on #33231
@guettli would you mind sharing your sanitized sls file to help me attempt to replicate this issue?

[2016-05-13 16:57] techhat commented on #33243
#33246.

[2016-05-13 17:13] codekoala commented on #32260
I just hit this bug. We were trying to clone a repo that's mounted as a Vagrant shared folder. I had freshly cloned the repo to my Vagrant host, and the repo was on the master branch. The state was trying to clone the develop branch from the repo on the host to some location in the VM. That's when I encountered the traceback. As soon as I checked out the develop branch on the host, this error went

[2016-05-13 17:34] jfindlay opened #33247 "interactive state runs"
### Description of Issue/Question

Allow for interactively applying a state to minions.  Related to #15845.

[2016-05-13 17:35] #32198 closed

[2016-05-13 17:35] #32917 closed

[2016-05-13 17:38] Ch3LL commented on #33200
I am able to replicate this behavior. Here is my test case:

1. Create Lock

[code]

2. Run .lock again:

[code]

As shown above it is hanging state, which at this point is to be expected.

3. Unlock /testlock

[code]

4. The issue now lays here where the commadn in step 2 is still hanging and as you stated should unlock and return true once the lock is released.

[2016-05-13 17:39] thatch45 commented on #15845
So we could totally do this now BTW, we just need to listen to state events coming back from the minions and display stuff about them, it would be super cool.

[2016-05-13 17:44] Ch3LL commented on #33223
@kt97679 I completely understand the concern. My only guess is that some reason the jinja did not work correctly and when file.managed does not have a source and the file does not exist it will create an empty file. But I'm guessing the files you are managing do already exist so this would not apply either.

@cachedout do you have any ideas as to why the above might have happened? Or ideas on how

[2016-05-13 17:46] rallytime commented on #33075
FYI @terminalmage

[2016-05-13 17:48] jfindlay commented on #32260
@terminalmage, ping.

[2016-05-13 17:55] terminalmage commented on #32888
This is already fixed in the 2015.8 branch (see https://github.com/saltstack/salt/pull/32558), the fix will be in 2015.8.9. Can you test against the head of the 2015.8 branch?

[2016-05-13 18:06] avb76 opened #33248 "Execution module for FreeBSD Packet Filter"
### Description of Issue/Question

I searched for an existing execution module that would be an equivalent of `iptables` for FreeBSD's `pf`. I couldn't find one in the docs/repo ( I looked in the develop branch). Is there a planned `pf` execution module for the future? Or maybe there is one already but I've missed it. Thanks!
### Setup

(Please provide relevant configs and/or SLS files (Be sure to

[2016-05-13 18:10] kt97679 commented on #33223
@Ch3LL in our infrastructure we have daily scheduled job that applies certain salt states (including pam configuration) to all machines (6k+ servers). So we are still at risk.

[2016-05-13 18:16] thatch45 commented on #33247
Just fyi:
When running state files or highstate `salt-run state.event tagmatch='state' pretty=True` should also selectively print state events if you have `state_events: True` in the master config.

[2016-05-13 18:16] thatch45 commented on #15845
Just FYI:
When running state files or highstate `salt-run state.event tagmatch='state' pretty=True` should also selectively print state events if you have `state_events: True` in the master config.

[2016-05-13 18:18] terminalmage commented on #32917
No problem! I'll also add that I'm pretty sure it is unnecessary to run a ``saltutil.refresh_pillar`` when running masterless. A masterless ``salt-call`` compiles the pillar data anew each time (though maybe @cachedout could correct me with regards to some of the pillar caching code he wrote semi-recently).

Since all masterless ``salt-call`` runs will compile your git_pillar remotes, and each com

[2016-05-13 18:50] pass-by-value commented on #15845
Useful information is also provided by `tagmatch='prog'` (when state events are switched on).

[2016-05-13 20:45] clinta commented on #33238
Yes

[2016-05-13 21:35] rallytime commented on #33238
Thanks @clinta!

[2016-05-13 21:35] #33238 closed

[2016-05-13 21:36] #29422 closed

[2016-05-13 21:39] #33118 closed

[2016-05-13 22:03] Ch3LL opened #33255 "Logs output to console in 2015.8 when log_level set in master config"
### Description of Issue/Question

When running salt commands on 2016.3.0rc3 and having `log_level` set to debug in the master config file the log will output on the console.
### Setup

[code]
### Steps to Reproduce Issue
1. Add `log_level: debug` to the master configuration
2. Restart master
3. Run any salt command. For example:

[code]

As shown above the logs are outputing on the console.
### V

[2016-05-13 22:12] thatch45 commented on #33255
Any ideas on this one @s0undt3ch ?

[2016-05-13 22:51] jfindlay commented on #32354
ZD-770

[2016-05-13 23:04] piersf commented on #32679
Hi,

Thank you for all the support !

Today i had the chance to meet one of the Saltstack engineers that was in our offices this week due to a Saltstack workshop.
He took a look at the states and confirmed that everything was looking fine. As we were troubleshooting together, we managed to see where the issue was.

It turns out that the exception being thrown was very misleading and making us look

[2016-05-13 23:21] Ch3LL commented on #33182
hmmm i'm still not able to replicate this on server 2012. I am going to setup a 2012 R2 machine and will post results as late as Monday.

[2016-05-13 23:33] s0undt3ch commented on #33255
Yes, that's the expected behavior.

 `log_level` sets the console log level, while `log_level_logfile` sets the log file log level.

[2016-05-13 23:47] Ch3LL commented on #33255
@s0undt3ch does that mean this is a bug in 2015.8.8 then:

[code]

As shown above on 2015.8.8.2 when log_level is debug it doesn't show the logs on the console.

[2016-05-14 00:38] s0undt3ch commented on #33255
This is the same master configuration for both of the above calls?

[2016-05-14 00:57] hackel commented on #32761
The salt bootstrap script run by the vagrant salt provisioner fails miserably on 16.04, adding the non-existent source:
`deb https://repo.saltstack.com/apt/ubuntu/16.04/amd64/latest trusty main`
There should probably be a a way to alert users to the fact that a new distribution is not yet supported, or ideally in this case, just install salt from the main Ubuntu repos.  Looking forward to being ab

[2016-05-14 01:16] notpeter commented on #32761
Looks like the __ubuntu_codename_translation function in salt-bootstrap doesn't know about xenial. I'll try to whip up a PR tomorrow so that it at least adds the correct sources.list repo string even if it won't work until official xenial binaries are pushed to repo.saltstack.com upon the next point release.

[2016-05-14 01:20] alinefr opened #33256 "Setting { providers: { service: systemd } } does work in minion config."
This is a masterless setup for kali linux.

My /etc/salt/minion has:

[code]

If I do this:

[code]

It only checks if openvas-manager.service is enabled, but it runs `/etc/init.d/openvas-manager start` instead of `systemctl start openvas-manager.service start`

[code]

In order to properly execute invoking `systemctl <action> <daemon>.service` it needs:

[code]

[code]

[2016-05-14 04:08] sumhuang commented on #33230
Thanks for your replay.
So this problem will be solved by upgrading the minnion version after you release the new version?
Also,I want to confirm a question below.
   When I setted the minion as excuting with non root user(eg: [user: test]),whether I should start the minion with root user or non root user(test)?
   The minion in my system is 2015.5.0 now,I really can solve this problem by starttin

[2016-05-14 07:24] sumhuang opened #33257 "minion can not be connectted after minion restart a few minutes later"
### Description of Issue/Question
Minion can not work after it is being restartted a few minutes later.
But when I  restart the minion,everything is right,and master can connect to the minion,after about 20 minutes later,master get the message of [Minion did not return. [No response]] when with the commond of [test.ping],and the debug log in the minion also is unusual.

### Steps to Reproduce Issu

[2016-05-14 16:13] khaije1 commented on #32968
I'm sure that makes sense, though I wonder what that would look like in a state stanza. Could you show me an example of what you're envisioning?

Now that you mention it, I _think_ this might make the most sense as a reactor, possibly even a minion reactor?

Since I can visualize how to accomplish the above use case using only existing features, I can see how it may be unnecessary to make changes

[2016-05-15 12:48] omegarus commented on #33116
If i set ```top_file_merging_strategy``` to ```same``` only base environment states are applied.
States from dev and qa environments are not applied even if i specifying saltevn argument.

[2016-05-15 14:48] eliasp commented on #31709
This once again shows that a utility to handle the encryption of values in Pillar SLS would be quite handy, e.g. start with a plain Pillar SLS like this one in your Pillar repo:

**foo/secret.sls:**
[code]

Run a command like: `salt-dev pillar.encrypt_gpg key=0x0A52AC sls=foo.secret pillar=foo:bar`
…and the SLS will be transformed to this:

[code]

[2016-05-15 22:10] jagguli commented on #23167
I started having the same issue, once I enabled few beacons (load and diskusage).

Memory climbed up over night.

Salt Version:
           Salt: 2015.8.8.2

Dependency Versions:
         Jinja2: 2.7.3
       M2Crypto: Not Installed
           Mako: Not Installed
         PyYAML: 3.11
          PyZMQ: 14.4.0
         Python: 2.7.9 (default, Mar  1 2015, 12:57:24)
           RAET: Not Installed

[2016-05-16 00:06] tatototino commented on #33123
I fixed the issue, it was a routing problem in vcenter server. You can close this issue.

Thnks.

[2016-05-16 00:06] #33123 closed

[2016-05-16 05:27] akshya-github commented on #33136
@nmadhok, Below are the log:

[root@localhost cloud.profiles.d]# salt-cloud -p vmware-Win2K12 test18 -l debug
[DEBUG   ] Reading configuration from /etc/salt/cloud
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: 192.168.9.139
[DEBUG   ] Key 'file_ignore_glob' with value None has an invalid type of NoneType, a list is required for t

[2016-05-16 05:56] ffjia commented on #33194
@Ch3LL I can reproduce it on develop branch.

[code]
### Versions Report
[code]

[2016-05-16 07:32] dizzythinks commented on #31977
Apologies. I seem to have missed the alerts. This mysteriously started working again. I will close. Apologies again.

[2016-05-16 07:32] #31977 closed

[2016-05-16 08:19] DmitryKuzmenko commented on #29674
@jakehilton for TCP transport there is the same case but it wouldn't fall to the same issue, i.e. master will not hang because TCP transport doesn't follow REP pattern in the master worker. So it's not require each message to be replied. But TCP transport need to be updated too to properly handle the case.

Thank you for good catch @jakehilton!

[2016-05-16 10:23] sivann commented on #12540
Example logs for a minion that does no longer respond. @basepi any insights?

There is a _schedule.conf, with:
[code]
[code]

[2016-05-16 10:32] jfindlay commented on #32968
@khaije1, you can configure salt to return data into many different data stores, mainly databases and related things.  The returned data already contains success/fail status and can be queried in the normal way.  This way you can use data to track state application history.

Depending on your needs, you can also use `mock=True` and `test=True` when applying states for state development and testing

[2016-05-16 11:09] grobinson-blockchain commented on #33121
@Ch3LL Thanks for taking the time to investigate this issue! When I add a state to end `ngin/ng/init.sls` it fixes the error message:

    extend:
      nginx_service:
        service:
          - watch:
            - file: nginx_config
          - require:
            - file: nginx_config
      nginx_config:
        file:
          - require:
            {% if nginx.install_from_source %}

[2016-05-16 11:11] Timandes opened #33266 "Method `grains.items` returns unexpected `manufacturer` information"
### Description of Issue/Question
When calling `grains.items` on my servers, I always got exact string describing `manufacturer` such as `Dell Inc.`, or `HP`. But on my new servers, `grains.items` returns string with comments, like:
[code]
Should `SaltStack` processes this comments automatically?

### Setup
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2016-05-16 11:20] aleufroy opened #33267 "UnboundLocalError: local variable 'proc' referenced before assignment"
### Description of Issue/Question

Found this error when spawning an lxc container --- I've edited the code to force `use_vt=True` :

[DEBUG   ] = info(container, path=path)
  File "/usr/lib/python2.7/site-packages/salt/modules/lxc.py", line 2832, in info
    size = run_stdout(name, 'df /', path=path, python_shell=False)
  File "/usr/lib/python2.7/site-packages/salt/modules/lxc.py", line 3933, in

[2016-05-16 13:24] Suberri opened #33269 "salt-call boto_iam.server_cert_present does not work"
### Description of Issue/Question

creating cert:  "x509.certificate_managed" works
uploaing cert to aws: boto_iam.server_cert_present fails

uploading the same cert via aws iam upload-server-certificate works
## Error message:

[code]

The following aws upload command succeed
aws iam upload-server-certificate --server-certificate-name saltcert --certificate-body file:///etc/pki/ca.crt --private-k

[2016-05-16 14:00] lhotari commented on #32506
This is a workaround for Ubuntu 14.04:
[code]

[2016-05-16 14:35] grobinson-blockchain commented on #4244
+1

[2016-05-16 14:40] ccormier opened #33271 "Syndic high memory usage leak"
### Description of Issue/Question
Salt Syndic uses large amounts of memory over time, eventually consuming enough memory to cause Linux OOM to kill it off.

The syndic process is using almost 8.5GB in this example.
[code]

Another syndic host logged killing the syndic due to OOM
[code]

I have 4 Syndics deployed with version Salt: 2015.8.8.2, all of my higher minion count local masters with syndic

[2016-05-16 15:01] #31270 closed

[2016-05-16 15:14] dmurphy18 commented on #32761
@hackel @notpeter FYI Ubuntu 16.04 comes with Debian's packaged version of Salt 2015.8.8.  Salt's package support for Ubuntu 16.04 is very soon.

[2016-05-16 15:39] damon-atkins commented on #29222
+1

[2016-05-16 15:52] ikryten commented on #32250
The PR fixes the original problem, thanks. But now I can't stop the salt-minion process via systemd. Only the 'root' process is stopped, the process running as my 'salt-minion' user remains running.

[2016-05-16 16:15] beardedeagle commented on #30658
I believe I have a solution, testing today.

[2016-05-16 16:45] rallytime commented on #33255
@s0undt3ch I just checked the docs, and that is the expected behavior of `log_level` as you said, but this appears to have been broken for a long time. I thought what @Ch3LL was seeing on 2016.3 was a bug, too. I can reproduce what @Ch3LL is seeing on 2016.3 and 2015.8. So instead of this being broken on 2016.3, it's apparently broken at the HEAD of 2015.5 and 2015.8 (same master configuration for

[2016-05-16 16:48] Ch3LL commented on #33255
Thanks for confirming the above @rallytime I went ahead and changed the title to reflect that this is an issue in 2015.8 instead of 2016.3. Its actually working correctly in 2016.3 Thanks for clarifying that @s0undt3ch :)

[2016-05-16 16:55] terminalmage commented on #32237
@zerthimon then it is definitely the same issue I fixed, and the pull request I referenced earlier fixes this.

[2016-05-16 17:00] jakehilton commented on #33201
Left things running over the weekend and when using the TCP transport there were zero issues. I'm not inclined to trust zeromq ever again. :)

I'll let it run for a while longer and hope that it continues to be reliable.

[2016-05-16 17:05] sjmh opened #33276 "minion_id_caching has no documentation"
### Description of Issue/Question

The minion_id_caching option has no documentation.  It's not documented in the docs, nor in the configuration examples.

Not sure what else to say :)

[2016-05-16 17:07] cachedout commented on #33276
Lately @rallytime has been cleaning a lot of these up. I'll bet she can put something together. ;]

[2016-05-16 17:15] Ch3LL opened #33277 "Windows minion dies on startup if cannot reach master"
### Description of Issue/Question
On startup of a windows minion if the master is not available the windows minion will die and not attempt to re-authenticate with the master.

### Setup
A windows minion who's key as previously been accepted by the master. This occurs in both single and multi-master mode.

/etc/salt/minion

`master: 192.168.50.10`

or

[code]

### Steps to Reproduce Issue
1. Setup

[2016-05-16 17:17] cachedout commented on #33277
This is limited to 2016.3, right? Did you double-check to make sure this isn't also on 2015.8?

[2016-05-16 17:17] rallytime commented on #33276
I am on the case!

[2016-05-16 17:17] cachedout commented on #33277
Also, has this been confirmed as being Windows-only? I would like to know if the same things happen in Linux if one toggles the `multiprocessing` config option on the minion.

[2016-05-16 17:19] Ch3LL commented on #33277
@cachedout I will double-check 2015.8 really quick. But as far as i know this is only 2016.3

Yes this is windows-only. But I will test with multiprocessing real quick on linux  as well..

[2016-05-16 17:20] cachedout commented on #33277
@Ch3LL Cool. Keep me posted. :]

[2016-05-16 17:27] s0undt3ch commented on #33255
:smile: Anytime!

[2016-05-16 17:33] cachedout commented on #33230
@sumhuang When setting this option, you should start the minion as root and it will change the requested user on start. The issue was in Salt's internal process management and not in anything to do with PKI.

[2016-05-16 17:33] #33230 closed

[2016-05-16 17:40] cachedout commented on #27866
I think we've addressed this as best we can here: https://github.com/saltstack/salt/pull/33076

In my testing we had this down to about 1.5s

[2016-05-16 17:42] #31979 closed

[2016-05-16 17:46] morganwillcock commented on #33210
You look to have one of the slashes the wrong way around in the path of your original test:

You'll get the same result running it directly in Windows:

Correcting the forward slash should resolve the problem:
`salt morgan cmd.run 'type "C:\Program Files (x86)\Internet Explorer\ie9props.propdesc"'`

morgan:

[2016-05-16 17:56] ferricoxide commented on #30109
I think I'm facing a similar issue. Didnt' know whether to put a "Me too!", here, or open a new issue. At any rate, in my case, I'm looping through the output of `user.list_users` and, where `userid  >= 1000 && userid < 65534` I'm running:
[code]
When the state runs, it SaltStack thinks the state fails:
[code]
However, when I check the value after the run, the `mindays` value is actually getting r

[2016-05-16 18:05] cachedout commented on #32930
This is actually an unfinished piece of RAET and has been a known issue for quite some time and should be limited to `salt-call`. I assume that master-minion communication initiated from the master works as expected?

[2016-05-16 18:07] #33243 closed

[2016-05-16 18:08] jakehilton commented on #32930
@cachedout I'm not sure.. I've since switched to TCP because RAET was just proving to be too problematic. If I remember.. even state calls from the master to a minion were slow.

[2016-05-16 18:09] sjmh commented on #32144
Please don't add a *default* scheduled job for pillar refresh.   With a high number of minions, and somewhat expensive external pillars, this would cause a tremendous amount of unwanted load.  You can make it optional, but I don't want to have this by default.

[2016-05-16 18:10] cachedout commented on #32144
@sjmh Don't worry. Somebody tried to sneak that in a while back and it was firmly rejected. We've got your back. ;]

[2016-05-16 18:12] cachedout commented on #32930
@jakehilton Ahhh, OK. Thanks.

[2016-05-16 18:13] #33233 closed

[2016-05-16 18:14] #33085 closed

[2016-05-16 18:15] #33073 closed

[2016-05-16 18:19] cachedout commented on #32509
@joejulian Have you had a chance to look at this one by chance?

[2016-05-16 18:20] ferricoxide commented on #30109
N/m. Was passing the `mindays` value as a string rather than an int.

[2016-05-16 18:21] twangboy commented on #32717
@emeygret Are you still having issues with this?

[2016-05-16 18:21] cachedout commented on #32492
We need this done today. Reassigned to @rallytime

[2016-05-16 18:22] sjmh commented on #32144
@cachedout thanks ;)

I do have a question about this ticket though - @jfindlay mentioned that minion-target resolution is done via the master and I'm a little confused by that.  From what little I know, I was assuming that saltutil.refresh_pillar was allowing the minion to cache it's pillar data and that it played into the same client-side filtering that I always assumed Salt did.  Does a minion

[2016-05-16 18:23] twellspring commented on #25579
Just discovered this issue when one of my prod servers received the error `Got a bad pillar from master, type NoneType, expecting dict: None`   and the server's values in salt-mine are gone.   I use the salt-mine data to populate haproxy routing tables, so this error caused a production server to became unavailable meaning a service outage.   Looking a little more I see several other servers with

[2016-05-16 18:42] jfindlay commented on #33090
I am able to confirm the absence of reactor work, although I don't have the `Bad load from minion` messages in the master log.  I have the following reactor setup, the `/tmp/reactions.txt` file is not created, and the master log does not say anything about reactors.  This problem seems to be unique to (the head of) develop branch as I've also tried `v2016.3.0rc3` and it seemed to work as expected.

[2016-05-16 18:50] jfindlay commented on #23167
@roflmao, is it possible for you to post the beacon configuration you are using?  What do your configs look like?  Do you remember how much memory was used in the overnight scenario you mention?  Thanks.

[2016-05-16 18:53] rallytime commented on #32492
Fixed in #33280

[2016-05-16 18:57] #28868 closed

[2016-05-16 19:00] Ch3LL commented on #33277
@cachedout  Okay so this also occurring in 2015.8 as well. I tested on 2015.8.8 2015.8.9 and head of 2015.8 and still am seeing the same behavior. The cannot connect ot the master and then errors and kills the process.

When testing with linux and switching multiprocessing to True on 2016.3.0rc3 did NOT result in the minion dying, it simply kept attempting to re-auth with the master.

[2016-05-16 19:07] cachedout commented on #33277
@Ch3LL Yup, OK. That lines up with what I'd expect after looking at this code. @twangboy is investigating.

[2016-05-16 19:10] johnccfm commented on #27866
No complaints here! It's been fine for a long time now.

[2016-05-16 19:12] #32492 closed

[2016-05-16 19:13] cachedout commented on #32864
@rallytime and @techhat could one of you please verify?

[2016-05-16 19:45] rallytime commented on #33276
@sjmh Please see #33282. Does that help?

[2016-05-16 19:48] jbfriedrich commented on #28114
I see the same issue with Ubuntu 15.10 and Ubuntu 16.04. This is my state file:

[code]
This is the output in my interfaces file:

[code]

Also Salt is ignoring the `require_reboot: True` option completely. I think this is related to the issues #32983 and #27716.

SaltStack version report:

[code]

[2016-05-16 19:55] cachedout commented on #33071
I don't believe this is a bug. I have outlined my reasoning in ZD.

[2016-05-16 19:55] #27866 closed

[2016-05-16 20:02] sjmh commented on #33276
@rallytime - yup! Especially since, somehow, that config value ended up in our master config and now I can take it out. :D

[2016-05-16 20:06] rallytime commented on #33276
@sjmh Oh, yes! This is a minion-side-only config. ;)

[2016-05-16 20:47] basepi commented on #12540
@cachedout Pinging you so we have a current core dev in the conversation.

[2016-05-16 20:57] techhat commented on #32864
Hi @bradthurber.

1) The error about the missing host is not a DNS error. Salt Cloud is telling you that it cannot find the host in any of the configured cloud providers.

2) Once Salt Cloud has created a node, it will not make any changes to that node in subsequent calls. This is why it is not effecting the change.

[2016-05-16 21:01] #21315 closed

[2016-05-16 21:01] #29796 closed

[2016-05-16 21:01] #31975 closed

[2016-05-16 21:01] #21903 closed

[2016-05-16 21:01] #30258 closed

[2016-05-16 21:01] #30605 closed

[2016-05-16 21:01] #30946 closed

[2016-05-16 21:13] cachedout commented on #12540
@sivann Hi there.

I'm not sure I would agree that the ZeroMQ transport is a "custom low-level implementation". It's a series of fairly well-defined patterns into PyZMQ using hooks provided by that library. Perhaps you just meant RAET and TCP? If so, I would agree there.

I'm aware of MQTT and one of the reasons that the salt transport system has been designed in a pluggable manner is to allow eas

[2016-05-16 21:18] Suberri opened #33288 "Running "boto_elb.present" on existing elb failes"
### Description of Issue/Question
## When I run the following state twice, the first run create the elb and the second run fails.

[code]

---

error message:

[code]
### Setup

(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
salt-call 2015.8.8.2 (Beryllium)
Minion runs in local mode
using salt-call state.apply
WIndows 8.1 Vagrant Ubuntu 14.. in VirtualBox
##

[2016-05-16 21:18] cachedout commented on #33277
@twangboy has a fix for this on 2016.3 in #33285 but will need a separate one for 2015.8.

[2016-05-16 21:19] #33276 closed

[2016-05-16 21:20] cachedout commented on #33267
Closed via #33268

[2016-05-16 21:20] #33267 closed

[2016-05-16 21:24] jfindlay commented on #28114
@jbfriedrich, thanks for reporting.

[2016-05-16 21:26] thatch45 commented on #33271
Wow, thats a big deal. We recently made a few big fixes in the syndic which might help here since the syndic could develop a large event backlog. I wonder if that will help. We will have 2015.8.9 out in the next few days (we are packaging it up now), would you mind trying it when it comes out?

[2016-05-16 21:40] rallytime commented on #16869
Hi guys - I have created a list of all of the minion and master config options that are missing from the `*.rst` docs and have started going through that list to get everything documented. (I opened up that issue before I knew this one was here.)

As part of completing that issue, we also have tasks to add tests to look for including docs for new config options.

Since #32400 has a more extensive

[2016-05-16 21:40] #16869 closed

[2016-05-16 21:48] timwsuqld commented on #31270
Any chance of this being backported to 2015.8?

[2016-05-16 21:51] cachedout commented on #33266
@The-Loeki What do you think here? Is this something that should be added to the DMI data decoder over in the `smbios` module?

[2016-05-16 22:04] Ch3LL opened #33289 "Multi-Master with Raet cannot communicate from both masters"
### Description of Issue/Question

When using multi-master with the raet transport in 2016.3 I am not able to communicate with the minion from both masters.
### Setup
1. Setup a typical multi-master setup but include transport: raet in the configs:

/etc/salt/minion:

[code]

/etc/salt/master:

[code]
### Steps to Reproduce Issue
1. start the minion
2. Accept the key on the second master first 192

[2016-05-16 22:07] #32481 closed

[2016-05-16 22:16] Ch3LL commented on #33248
@avb76 i also did not see one available as well in the code. I will go ahead and label this as a feature request. i think this is a great idea :)

[2016-05-16 22:21] jagguli commented on #29451
the diskusage beacon expects a list of dictionaries instead of a dict, this is inconsistent with the other beacon configs

[2016-05-16 22:45] jagguli commented on #23167
might be related to https://github.com/saltstack/salt/issues/29451

because im getting errors in my logs every 1 second
[code]

[code]

[2016-05-16 22:45] chizou opened #33291 "cache.clear_mine is giving me a syntax error related to libnacl"
I'm currently running the latest Xenial AMI from Canonical and salt is being installed from the Xenial repo.

[code]

[2016-05-16 22:46] thatch45 commented on #33201
this is great news, and yes, zeromq hides a lot more errors and it does not chunk messages inline with our message blocks, which just adds to the reasons why we are excited about the tcp transport

[2016-05-16 23:20] censored commented on #31021
I also ran into this issue, Citrix XenServer 6.5.
I built out my Xenserver using the latest image provided by Citrix.
As part of my automated install, Salt is set up and configured and runs successfully.
I then applied the  patches to Xenserver 6.5 (the list is huge, but basically Service Pack 1 and everything after that).
At this point, python26 import hashlib started the segfault, and Salt no lo

[2016-05-16 23:26] davido-bs commented on #33027
@terminalmage Thanks, ``salt://_pillar`` seems to work with 2016.3*. Our file structure for our salt setup already had ``_grains/`` and ``_reactor/`` at the same folder level, too.

[2016-05-16 23:39] bradthurber commented on #32864
Thanks everyone. I've decided to only create sydics from my MoM and then created the syndic minions front the syndics themselves. This seems to work better for us. I thinknat the core I made a few assumptions of functionality that were not in the original design.

[2016-05-16 23:39] #32864 closed

[2016-05-16 23:52] terminalmage commented on #33075
I can't reproduce this, I get the following error message in the log (NOTE: I've modified the ``log_fmt_logfile`` to include additional information):

[code]

[2016-05-16 23:52] terminalmage commented on #33075
I tested using libgit2 0.24.1 and pygit2 0.24.0.

[2016-05-17 00:06] terminalmage commented on #33075
I tested by commenting out the passphrase parameter, which resulted in the error message I posted. When I uncomment the passphrase parameter, authentication works as expected. This was tested both with the global and per-remote versions of these parameters.

Including a passphrase parameter when the key is not protected with a passphrase does not generate an error, but this is not Salt's fault. Sa

[2016-05-17 00:19] terminalmage commented on #33027
Yeah, syncing custom grains will work in 2016.3.0 and later using ``salt-run saltutil.sync_grains``. The full list of available functions in the saltutil runner can be found [here](https://docs.saltstack.com/en/develop/ref/runners/all/salt.runners.saltutil.html).

Do you feel that your question was answered satisfactorily? If so, can we close this issue?

[2016-05-17 00:27] #33027 closed

[2016-05-17 00:39] terminalmage commented on #26062
I'm not sure how this was ever "broken". It was returning the correct result. At worst it was just logging spurious errors.

[2016-05-17 00:42] terminalmage commented on #26062
The spurious logging is removed by https://github.com/saltstack/salt/pull/33294.

[2016-05-17 00:42] #26062 closed

[2016-05-17 00:42] terminalmage commented on #23435
The spurious logging is removed by https://github.com/saltstack/salt/pull/33294.

[2016-05-17 00:42] #23435 closed

[2016-05-17 01:22] Ch3LL commented on #33182
@dustinhperkins i'm still not able to replicate this even on 2012 R2. Can you think of anything else that might be unique about your environment. Or anything that would help me to replicate this issue.

[2016-05-17 01:37] Ch3LL commented on #33123
@tatototino thanks for following up and closing the issue!

[2016-05-17 01:54] Ch3LL commented on #33257
@sumhuang I am not able to replicate this. Here is my test case:

1. Restart salt minion:

[code]

2. Verify communication:

[code]

3. Twenty minutes later I can still communicate with the master:

[code]

salt version:

[code]

Is there something wrong with the test case above?

Also can you post a sanitized version of your minion config please.

[2016-05-17 02:11] Ch3LL commented on #33121
@grobinson-blockchain nice catch on it just fixing the error, but the ordering is wrong.

When you state " if I change the require_in from the nginx.ng state file to some named state within the nginx formula (i.e. nginx_configure) then it works as intended" Do you mean that the require_in ordering is correct when changing this?

[2016-05-17 02:20] andrew-vant opened #33295 "Linux Mint service module not correctly detected."
### Description of Issue/Question

The service.running state fails on Linux Mint, with `KeyError: 'service.enabled'`. For current versions of Mint, the os and os_family grains are both set to 'LinuxMint' by default. Manually setting them in /etc/salt/grains to "Mint" and "Debian" respectively (which I believe were the old defaults) corrects the behavior. Grepping the modules directory suggests tha

[2016-05-17 03:00] Ch3LL commented on #33256
@alinefr I was not able to replicate this switching from systemd to rh_service. Are you seeing this on all services on that box or just openvas-manager.

[2016-05-17 05:03] rajvidhimar commented on #31975
@rallytime Thanks! :)

[2016-05-17 06:19] khaije1 commented on #32968
Thanks @jfindlay I see what you mean.
This will provide the state of a collected set of runs easily organized and query-able in a way that exceeds what I originally had in mind.

It doesn't include the reactive element, but I see how that could be separately added even without using the reactor system.

Thanks! I'm going to mark this closed, because a suitable and appropriate way to accomplish the

[2016-05-17 06:19] #32968 closed

[2016-05-17 07:23] avb76 commented on #33248
@Ch3LL: great

[2016-05-17 09:02] sumhuang commented on #33257
test case is ok.
all config is setting as defualt in the minion config ,except the config below.
master: test.com
id: '2530'
log_level: debug
log_level_logfile: debug

[2016-05-17 09:07] grobinson-blockchain commented on #33121
@Ch3LL that's correct. The require_in ordering is (if I've understand it correctly from the docs) not applied when I have it on the sls state file, but it is applied when I have it on some arbitrary state _within_ the formula.

[2016-05-17 09:09] githubcdr commented on #29451
This state generates a unexpected configuration file.

[code]

The following file is created when using the beacons.save module, notice the list changed to a dict here.

[code]

End result is a non working setup, with a critical error as showed below.

[code]

[2016-05-17 10:34] #31484 closed

[2016-05-17 10:53] guettli commented on #29568
@jfindlay I wrote your opinion

What is the next step?

Who is responsible for the docs?

[2016-05-17 10:54] guettli commented on #32771
I looked at the changeset:

[code]

Is there a way to make this directory configurable?

[2016-05-17 10:58] guettli commented on #27669
@msummers42 I know more now, but new comers should find the information sooner.

I am missing some information on this page:

https://docs.saltstack.com/en/latest/topics/ssh/roster.html

I am missing that `~/.ssh/config` gets evaluated on the host running the `salt-ssh` command.

[2016-05-17 11:48] idonin commented on #28877
I got `SaltRenderError: Jinja variable 'dict object' has no attribute 'name'` error too on cloud/*/creating reaction.
I use data['name'] in my jinja template as provided in https://docs.saltstack.com/en/latest/topics/event/master_events.html#cloud-events, but error still here. Sometimes work, but most of time not.
data['name'] exist in event data.

[2016-05-17 12:29] msciciel commented on #25579
We have following workaround for this.

1. Add pillar pillar_got_from_master to all hosts
[code]

2. Add state check.sls to all hosts in top.sls
[code]

It should end execution if pillar is not complete.

[2016-05-17 12:51] lorengordon opened #33298 "Windows: pkg.install returns failed for msiexec/instmsi exit code 3010 (ERROR_SUCCESS_REBOOT_REQUIRED)"
### Description of Issue/Question

When using `pkg.install` on Windows with a msiexec or instmsi installer, an [exit code of 3010](https://msdn.microsoft.com/en-us/library/windows/desktop/aa376931(v=vs.85).aspx) (ERROR_SUCCESS_REBOOT_REQUIRED) is technically a successful install, but `pkg.install` returns it as a failure.

[code]

### Versions Report
[code]

[2016-05-17 13:03] soodr commented on #32859
any updates ?
The error continues to bedevil once in every 20+ job cycles.

[2016-05-17 13:14] jbonachera opened #33299 "salt-cloud: scp_file() and sftp_file() don't work with ipv4-only hosts"
### Description of Issue/Question
This is the same issue as #33243, but for other functions.

Salt-cloud scp_file() and sftp_file() can't successfully establish a connection to an ipv4-only host, for the same reason as #33243: "inet_pton was being treated as if it would return a falsy response, when in fact it raised an exception instead".

### Setup
Standard salt-cloud + openstack setup, talking

[2016-05-17 13:42] lorengordon commented on #33298
Tracing through the code, and I don't understand the reasoning for the error logic. The package is installed using [`result = __salt__['cmd.run_stdout'](...)`](https://github.com/saltstack/salt/blob/develop/salt/modules/win_pkg.py#L811), which returns only the stdout. But then if `result` has any [non-False equivalent value](https://github.com/saltstack/salt/blob/develop/salt/modules/win_pkg.py#L8

[2016-05-17 13:59] lorengordon commented on #33298
Looks like it was changed from `cmd.run` to `cmd.run_stdout` in [this commit](https://github.com/saltstack/salt/commit/020b20ec41450952b6428a192a96b8254499337f#diff-2b9074028b9f977443fd6d4337b67cc4R654). Pinging @twangboy...

[2016-05-17 14:06] vutny commented on #32144
@cachedout Now I understand the possible implications of having such scheduled job enabled by default. So, this issue is resolved for me.

@sjmh Your suspicions are correct. `saltutil.refresh_pillar` does not put rendered Pillar cache on Minion. It actually populates `/var/cache/salt/master/pillar_cache/` directory on Master with files named by Minion ID where the Pillar data saved.

Do you have a

[2016-05-17 14:43] damon-atkins commented on #33298
.

[2016-05-17 15:02] cachedout commented on #33291
This sounds like a bug that should be filed with the libnacl packagers. All Salt is doing is attempting an import of the library and it's throwing an OSError. We could catch it it in addition to an ImportError but the true source of this bug is upstream from us.

[2016-05-17 15:10] The-Loeki commented on #33266
@cachedout that's what I think here :P

If you'd be so kind to merge this (and the other patch in this module) back into 2016.3/2015.8?

[2016-05-17 15:10] dustinhperkins commented on #33182
@Ch3LL I can't think of anything. I've run this same integration in a dev, test and prod environment with no problems.

[2016-05-17 15:35] jfindlay commented on #31270
Ping @rallytime.

[2016-05-17 15:43] rallytime commented on #31270
Done in #33305.

[2016-05-17 15:53] cachedout commented on #33266
@The-Loeki You're awesome! I've marked that for backport. Many thanks!

[2016-05-17 16:04] rallytime commented on #33299
Hi @jbonachera - thank you for filing this issue, and for submitting the fix. We love it when that happens! :)

[2016-05-17 16:05] #33299 closed

[2016-05-17 16:10] cachedout commented on #32213
There was a point way back in the 2015.5 days where there was a module that was returning a `set()` which can't be serialized by msgpack. I don't recall which one it was offhand and I can't find it now but I'm fairly sure that we have this fixed and that it shouldn't reoccur. I'm going to close this since I'm fairly confident we have this resolved. If I'm mistaken, of course, we can definitely re-

[2016-05-17 16:10] #32213 closed

[2016-05-17 16:14] EvaSDK commented on #31403
So I finally took some time to upgrade to 2015.8.8.2 from the saltstack debian repository. After fixing the ext_pillar git configuration to use the new format it loaded the pillar almost properly. With old format, it is just as broken as 2015.5.9 and 2015.5.10.

Anyway, giving a spin to 2015.8, I found out that some pillars are merged in a weird way in some environments. For example, I have a pill

[2016-05-17 16:30] twellspring commented on #25579
Thanks, that's what I needed.

[2016-05-17 16:36] jfindlay commented on #32968
Thanks, @khaije1, I'm glad you've got a way to accomplish what you need.  Please don't hesitate to share any future ideas for improvement.

[2016-05-17 16:38] jfindlay commented on #29568
@guettli, @jacobhammons is our documentation guy and will likely review this again when he has time, but anyone may create and submit such a page.

[2016-05-17 16:49] jfindlay commented on #31403
@EvaSDK, I think your demonstration is a good starting point, but it looks like there are pillar issues that still need to be fixed.  You can also look into the [pillar merging options](https://docs.saltstack.com/en/latest/ref/configuration/master.html#pillar-merging-options).

[2016-05-17 16:56] #33266 closed

[2016-05-17 17:00] whiteinge opened #33309 "RFC: Change Salt to create JIDs as UTC time"
## Background

JIDs in Salt are currently generated from the Salt Master's current timezone. This makes it difficult or (practically) impossible for consumers of Salt to reconcile a job timestamp with the user's relative local time -- specifically programmatic consumers like via returners or salt-api.

(Please comment with corrections if I am mistaken with anything above!)
## Request for comments

[2016-05-17 17:00] cro commented on #33309
:+1: from me

[2016-05-17 17:02] cro commented on #33309
Huge benefits for external job caches as well. Also, we already have issues with companies who have masters in different timezones.  If they aggregate to a single external job cache then you can't meaningfully compare JIDs to see when jobs that hit different masters occurred.

[2016-05-17 17:14] sjmh commented on #32144
@vutny - No real concerns - although it seems like the master has to do more work in that case, since it would seem that it would have to compile a list of minion names from the pillar data to target, where as if the minion's kept a local cache of pillar data, they'd be able to do target resolution on the client side ( which is how I thought most targeting mechanisms worked ).

Also, it seems stra

[2016-05-17 17:24] morganwillcock opened #33313 "pkg.py: pkgs parameter documented as not supported on Windows"
The pkgs parameter of pkg.installed and pkg.latest are documented as not supported on Windows:
https://github.com/saltstack/salt/blob/22c433184dbfdaa52846a7b7f64c43c106037771/salt/states/pkg.py#L852-L857
https://github.com/saltstack/salt/blob/22c433184dbfdaa52846a7b7f64c43c106037771/salt/states/pkg.py#L1410-L1416
...but then I realised I was already using them and they seem to work without any pro

[2016-05-17 17:25] cachedout commented on #29521
I too see this around 1s. Can you paste the output with `-ltrace` attached? Also, what version are we testing here?

[2016-05-17 17:32] cachedout commented on #29517
I've run a hundred of these in a loop and I don't see this. Is this something you can reproduce consistently?

[2016-05-17 17:37] cachedout commented on #29452
I have heard reports from other large-scale users that the patch referenced in an earlier comment has either eliminated or greatly reduced the impact of this problem. @sjmh I would like to close this but if it's unresolved for you, hit me up and we'll take another look. Thanks.

[2016-05-17 17:37] #29452 closed

[2016-05-17 17:41] cachedout commented on #33309
I'd want to be sold on the benefit a little more. There are maybe a few billion stored Salt jobs out there in the world. The risk of collisions is higher than I'd like to imagine. ;]

[2016-05-17 17:45] ralphsc commented on #32619
Thanks for your help with this and again sorry for the long delay in responding.
I can't use cluster as there is no cluster, so I used resourcepool.
Here is the debug info:
salt-cloud -l debug -p prod_template newvm001
[DEBUG   ] Reading configuration from /etc/salt/cloud
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: saltsrv.lab0

[2016-05-17 17:51] cachedout commented on #32144
There are concerns I have about minion-side pillar caching, mostly revolving around security. I don't like the notion, for example, that an individual might might use a GPG-encrypted pillar on the master-side and then end up with unencrypted data sitting in a minion cache. I'm not ruling it out of course, just pointing out that it makes me uneasy.

[2016-05-17 17:53] sjmh commented on #29452
@cachedout will do - we haven't been able to touch this code for a bit, so I haven't been too worried about it.  I'll let you know if it crops up again though.

[2016-05-17 17:54] cachedout commented on #30318
Closed for lack of response here.

[2016-05-17 17:54] #30318 closed

[2016-05-17 17:55] #33145 closed

[2016-05-17 17:59] sjmh opened #33315 "Don't run mine.update if mine_functions is empty"
### Description of Issue/Question

By default, minions create a schedule of running mine.update every hour - even if no mine_functions are defined for the minion.  Would it be possible to have the minion check if mine_functions is empty or not before running mine.update?  I don't think this is a super big issue - but at around ~7000 minions so far and it fills the log file/job cache with pointless

[2016-05-17 18:00] jmcq commented on #2707
this is a major sticking point for me.  I can't believe recursive directory copy does not preserve permissions or have an otpion to do so.

[2016-05-17 18:01] gerhardqux commented on #23643
When #33314 is merged, this issue should be completely resolved on all branches. Thanks!

[2016-05-17 18:01] sjmh opened #33316 "Documentation of mine_functions doesn't exist"
### Description of Issue/Question

From the Salt Mine docs, it appears the mine_functions can be defined in the minion config or in pillar.  It doesn't appear to be documented anywhere in the sample configuration or the documentation for 'Configuring a Salt Minion'.

[2016-05-17 18:05] cachedout commented on #29452
Sounds great. Thanks, @sjmh

[2016-05-17 18:16] sjmh commented on #31206
Would it be possible to standardize them also on pluralization? :)

Plural:

- utils => utils
- states => states
- serializers => serializers
- pkgfiles => pkgfiles
- log_handlers => log_handlers
- beacons => beacons
- engines => engines

Plural to Non Plural:

- tops => top
- runners => runner
- returners => returner
- renderers => renderer
- queues => queue
- modules => module
- grains => grain

[2016-05-17 18:47] sjmh commented on #32723
Somehow missed all the comments.

@whiteinge - Those are some good ideas and I'll look into those.

I had a question though - during a recent Salt training, our trainer mentioned that there might be some feature coming for the targeting system that would allow you to plug in your own modules.  Is that true?  If not, would it be possible?  Maybe something like:

salt -M <my custom module> 'args_to_

[2016-05-17 18:52] Ch3LL commented on #33269
@Suberri would you mind sharing your sanitized debug log when this occurs?

[2016-05-17 18:53] nmadhok commented on #32619
@ralphsc Can you try to deploy the VM using the old profile instead of the new one? Looks like you added a couple of options in the new debug log. It would help to debug the issue with your initial profile since the fields were less and most likely one of them is causing this issue.

My guess is that you are trying to clone a VM to a Standalone ESXi host (which doesn't belong to a cluster) so the

[2016-05-17 19:02] nmadhok commented on #33136
@akshya-github The ability to create VM's from scratch was recently added to Salt develop branch. I don't see that it was back ported to 2015.5 branch. You can either test it by installing Salt from latest develop branch or you can wait for the next Salt release.

[2016-05-17 19:05] thatch45 commented on #33309
salt checks for a collision before making the jid though....

[2016-05-17 19:19] grobinson-blockchain opened #33319 "Salt interpets jinja syntax in contents pillar"
I have a situation where I want to use `contents_pillar` within the `file.managed` module to create consul-template templates.

However, consul-template shares a subset of its syntax with Jinja. This means that `contents_pillar` does not escape the contents of the pillar on output and any occurrences of `{{` `}}` are interpreted as Jinja syntax:

    tmpl:
      - |
        job "example-job" {

[2016-05-17 19:40] cro commented on #32022
Do you have

``mine_enabled: True``

in your /etc/salt/proxy file?

[2016-05-17 19:43] TheBigBear commented on #33298
this is also referred to here https://github.com/saltstack/salt-winrepo-ng/issues/141 by @rterbush

[2016-05-17 19:45] cro commented on #33309
Aren't the collisions just going to exist for less than 24 hours after the switch to UTC is made, though?  And only timezones east of UTC are affected since everyone west of UTC will see their JIDs jump forward.

[2016-05-17 19:47] cachedout commented on #33309
Both good points.

If we have a retry mechanism (which I vaguely recall but haven't looked into) then I'm cool.

[2016-05-17 20:10] tristianc commented on #23789
I am using Salt 2015.8.8.

I no longer have to use the --out=highstate flag in order to get the orchestration output as formatted in: [https://gist.github.com/anonymous/c81f4445c5c94f9ed0f5](https://gist.github.com/anonymous/c81f4445c5c94f9ed0f5). This has been possibly fixed?

In fact, if I use the --out=highstate flag while applying orchestration states, I run into #29796

[2016-05-17 20:11] rallytime commented on #29286
Hi all - After looking over this issue, I think what is happening here is a badly-documented option via the `job_cache` boolean. We can't "turn off" the functionality of creating jid directories in the `/var/cache/salt/master/jobs/` directory because Salt uses those directories to check for jid collisions.

What setting `job_cache: False` does is simply throw away the returns, but keeps the jids.

[2016-05-17 20:14] rallytime commented on #23789
@tristianc Thank you for the update. The issue you mentioned you're hitting in #29796 is fixed at the HEAD of the 2015.8 branch and will be included in the upcoming 2015.8.9 release. I'd love to hear if this is all resolved for you if/when you get a chance to test it.

[2016-05-17 20:24] terminalmage commented on #33295
I'm pretty sure this is already fixed in the 2015.8 release branch.

[2016-05-17 20:24] whiteinge commented on #31206
Standardizing so they are guessable would be a good move. These settings have been in Salt since almost the beginning so we'd need the normal deprecation path -- warnings, with a targeted final removal release.

[2016-05-17 20:28] terminalmage opened #33323 "Overeager globbing in systemd.py for sysv service detection"
``salt.modules.systemd._sysv_enabled()`` uses a glob to check for a sysvinit symlink to see if a service is enabled. However, this globbing causes anacron to be matched when cron is checked.

The relevant code is [here](https://github.com/saltstack/salt/blob/1b04f0d/salt/modules/systemd.py#L276).

Fix incoming.

[2016-05-17 20:37] rallytime commented on #29286
Oh, also after testing the `keep_jobs` setting, the cache cleaner does remove the jid files from the jid dirs, but it doesn't remove the original directory that was created in `/var/cache/salt/master/jobs/`.

For example (note that job_cache is set to the default of `True` in this case, and that jid dir `30` has been cleaned, but the newest job, `19`, has not been cleaned yet):
[code]
That particu

[2016-05-17 20:39] terminalmage commented on #33323
Fixed in #33324.

[2016-05-17 20:39] #33323 closed

[2016-05-17 20:39] whiteinge commented on #32723
I asked around and you're right a pluggable target system is indeed rolling around in the backs of a few heads here. I don't think there's an issue yet to track those thoughts. This issue is a good place to start that. 👍

The "targeting modules" could cover a variety of functionality from reading from a local file to querying a remote data store.

They should be able to run both minion-side (like

[2016-05-17 20:41] #29302 closed

[2016-05-17 20:43] cachedout commented on #29123
This should have been fixed by #28020, I believe.

[2016-05-17 20:43] #29123 closed

[2016-05-17 20:45] cachedout commented on #28954
Closed for lack of response.

[2016-05-17 20:45] #28954 closed

[2016-05-17 20:45] DanyC97 commented on #25040
thanks a bunch @cachedout !!

[2016-05-17 20:46] cachedout commented on #28770
@garethgreenaway and @clinta is this something we should keep open? It sounds like @garethgreenaway couldn't duplicate it on the head of the branch. Perhaps it has been fixed?

[2016-05-17 20:49] cachedout commented on #28701
I am not certain that this is a bug, to be honest. It seems to me like there are just as many instances where a user might _want_ that mine data to hang around for a while. Personally, this seems like exactly the reason that `mine.flush` exists.

What do you think, @thatch45 ?

[2016-05-17 20:50] mirceaulinic commented on #32022
That's all I had in the proxy config file:

[code]

I will update it accordingly and I will let you know. Thank you!

[2016-05-17 20:51] cachedout commented on #28518
@kev009 Did you ever get a chance to send over a patch for this?

[2016-05-17 20:53] thatch45 commented on #28701
I am going to agree with @cachedout, I think that adding a feature in that allows someone to turn on mine flushing with key deletion would be a good idea, but otherwise I would not call this a bug

[2016-05-17 20:55] #28701 closed

[2016-05-17 20:56] Ch3LL commented on #33288
It looks like in states/boto_elb.py in `_elb_present()`  It first checks to see if the elb is present with `exists = __salt__['boto_elb.exists'](name, region, key, keyid, profile)` then if it already exists then it calls `_security_groups_present`(). This function compares `if set(security_groups) != set(lb['security_groups'])` and tries to change the security group if not equal. So i'm guessing s

[2016-05-17 20:57] cachedout commented on #28301
@arthurlogilab did you just have a Meetup on Sentry not too long agao? I assume it was working for that. I'm closing this since I can't reproduce it. If it's still broken, let me know and we'll take another swing at it.

[2016-05-17 20:57] #28301 closed

[2016-05-17 20:57] thatch45 commented on #33309
right, so it is 12 hours of collisions, which we SHOULD have a check in place for, but we should double check it, since I wrote it 5 years ago....

[2016-05-17 21:21] TheBigBear commented on #32831
@twangboy what does ```'SLEPIC'``` stand for?

By now I have quite a (mental) long collection of issues with winrepo-ng, is this issue here an attempt to list them in one place and pull these things together?

Or is it only a certain 'SLEPIC' (whatever that means) related category of issues ?

Do you know if the conversations I had with @UtahDave that feels like about a year or so ago but was less

[2016-05-17 21:24] TheBigBear commented on #32831
@damon-atkins sorry but I can't follow your logic understanding why you want to or need to remove the version numbers from the windows pkg_fullname anywhere. can you explain to me why you think that would be good or what you hope (or need to) gain by this?

[2016-05-17 21:30] ryan-lane commented on #33288
Hm. Good question. I don't think I've ever created an ELB without a security group, so I've never tried this. Is this supported by AWS? If so, we should try to have the default behavior of AWS be the default behavior of the module.

[2016-05-17 21:31] sjmh commented on #32144
@cachedout - No, that makes complete sense and something I hadn't thought of.

@vutny - is /var/cache/salt/master/pillar_cache only in 2016.3? Where is pillar data cached in 2015.8?

[code]

[2016-05-17 21:31] twangboy commented on #32831
@TheBigBear Git hub started doing epics so I have been trying it out. To keep my epics from getting lost in the other epics, I prefixed all mine with SL (Shane Lee), hence the SLEPIC.

Yeah, I'm trying to group together all the issues. It just seems they keep coming in and I don't want to lose them between now and the time I can actually start working winrepo again.

[2016-05-17 21:34] DanyC97 commented on #31709
@techhat @cachedout  fyi @eliasp  suggestion which sounds great imho.

[2016-05-17 21:37] TheBigBear commented on #32831
@twangboy so should I add mine to this list or keep a list of my own ones and at the right time point you to it, or do one linke here to my list on winrpeo issues ? what woudl you prefer? I think we alreayd have at least two if not more simialr starts of collecting them all in one place, shoudl I try to hunt them down and link them to this issue here? is that the best place? There are others that

[2016-05-17 21:52] cro commented on #33315
@sjmh Would setting 'mine_enabled' to False serve this purpose?  I see in the code that if it is False the job will not get added to the scheduler.

[2016-05-17 22:06] sjmh commented on #33315
Hey @cro - it will once we get to 2016.3  :)

Any chance this can get backported to 2015.8? Took a look at that branch and it doesn't appear to be there.  Also, can we make sure this gets added to the documentation?

[2016-05-17 22:18] terminalmage commented on #33295
It might not be, I'm looking closer now, it seems that only package management was fixed. The breakage seems to have resulted from Linux Mint changing how it identifies itself in lsb_release or wherever. I'll look further into this tomorrow.

[2016-05-17 22:19] optix2000 commented on #30123
Looks like this was a bug in what `lsb-release` returned to salt. This is fixed upstream in `lsb-release 9.20160110`.

Closing, as not an issue in salt.

[2016-05-17 22:19] #30123 closed

[2016-05-17 22:22] AndrewPashkin commented on #32260
Also ran into this.

[code]

[code]

[2016-05-17 22:28] whiteinge commented on #33309
I remember that Tom. His voice was a tad more gravelly but he had way, way fewer gray hairs.

[2016-05-17 22:36] cro commented on #33315
See PR #33326, just added the docs.

I'll look into the backport.  It won't make it into 2015.8.9 though, we're too late for the tag.

[2016-05-17 22:39] sjmh commented on #33315
@cro - looks good! Thanks!

[2016-05-17 22:46] Ch3LL commented on #33298
@lorengordon thanks for submitting a PR. Its really appreciated! Once it gets merged we will go ahead and close the issue.

[2016-05-17 23:13] cro commented on #33315
OK, see PR #33327 -- we'll see what the tests do.

[2016-05-17 23:16] rallytime commented on #29286
@harlanbarnes I think the responses above, as well as my fix in #3328 should help alleviate the troubles you're having with the `job_cache` option. Please let me know if you have any questions or suggestions.

[2016-05-17 23:17] twangboy commented on #32831
@TheBigBear That would be great. Hopefully we can address as much as possible. As far as a time frame here, we will be talking to our project manager to get a handle on priorities and a roadmap. The trick is going to be implementing new features without breaking it for older minions. I don't want to have to create a salt-winrepo-ng-v2. :)

[2016-05-17 23:35] Ch3LL commented on #33313
@morganwillcock looks like you are right:

[code]

[code]

Looks like we just need to clean up the documentation. Thanks for pointing it out.

[2016-05-17 23:44] Ch3LL commented on #33210
@blade2005 were you able to give @morganwillcock 's recommendation a try?

[2016-05-17 23:55] Ch3LL commented on #33182
@cachedout do you have any ideas? Something that might point me into possibly replicating this issue.

[2016-05-18 00:04] Ch3LL commented on #33288
I'm not quit certain but glancing at aws docs [here](http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/elb-getting-started.html) I notice it states

"If you selected EC2-Classic as your network, you can continue to the next step. By default, Elastic Load Balancing provides a security group for load balancers in EC2-Classic."

Also in these [docs](http://docs.aws.amazon.com/Elas

[2016-05-18 00:06] lorengordon commented on #32831
please, no, not salt-winrepo-ng-v2! :stuck_out_tongue:

[2016-05-18 00:15] ryan-lane commented on #33288
Based on this I'd be willing to require security group for at least VPC ELBs. It can be difficult to determine the default security group for a VPC, since it's technically possible to delete the one they provide you. We should make people be explicit about their secgroup, even if it's 'default'.

[2016-05-18 01:15] Timandes commented on #33266
It seems that the PR works for me.
[code]

Thanks all.

[2016-05-18 01:17] benhosmer opened #33329 "boto_vpc.present fails to get name of vpc"
### Description of Issue/Question

When creating a VPC using boto_vpc.present:

[code]

The following error is returned:

[code]

The VPC is actually created, however it isn't tagged with the `Name`.

The state also fails like this as well:

[code]

Sometimes the state will complete and create the VPC, adding the proper Name: value tags but this is only occassionally and not very reliable.
### Ver

[2016-05-18 01:32] ryan-lane commented on #33329
I think it's possible that boto_vpc is broken in 2015.8. I remember trying this recently and I needed to update my local copy from the develop branch to get it working. We may want to consider backporting some things back to 2015.8...

[2016-05-18 02:47] smakar-vs commented on #31294
the same 😢

[code]

[2016-05-18 03:41] sjmh commented on #32723
@whiteinge - cool! :)

So, a couple questions come to mind about a targeting system.

- Should the function return a list of minion ids, or one of the constructs that salt already accepts? Something completely different?
- Would this replace rosters? Or would this be kept as two different modules?
- Is there a limit to the amount of minions something like this could return?  What if I returned 30k

[2016-05-18 03:54] hartloosli commented on #30412
Currently watching pkg.latest fail on Centos 7.2

`    Salt Version:
               Salt: 2015.8.8.2

    Dependency Versions:
             Jinja2: 2.7.2
           M2Crypto: 0.21.1
               Mako: Not Installed
             PyYAML: 3.11
              PyZMQ: 14.7.0
             Python: 2.7.5 (default, Nov 20 2015, 02:00:19)
               RAET: Not Installed
            Tornado: 4.2.1

[2016-05-18 04:28] jagguli opened #33330 "Special characters in YAML Block Scalars not escaped"
### Special characters in YAML Block Scalars not escaped

Fails when "-" in message
 like

[code]
[code]
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report

[code]
(Provided by running `salt --versions-report`. Please also mention any differences in

[2016-05-18 04:58] jagguli commented on #33330
Doh https://docs.saltstack.com/en/latest/topics/troubleshooting/yaml_idiosyncrasies.html#nested-dictionaries

[2016-05-18 04:58] #33330 closed

[2016-05-18 05:16] hrumph commented on #33298
Hi @lorengordon the PR looks great, but I wonder if more should be done. If using state.apply, to know if we one of the installs returned the 3010 error code, it looks like we have to search the output, but we shouldn't have to do that.

There may be a much better way to do this using pillars or something (I'm not experienced enough with salt to know), but something we could do would be to use mod

[2016-05-18 05:21] hrumph commented on #33298
@lorengordon, your PR doesn't need any changing but once it's merged then I think that some work should be done on salt.modules.state and some other appropriate run module to take advantage. alls i'm sayin'

[2016-05-18 05:49] hrumph commented on #33298
@lorengarden, One thing that I'm not happy about is that there's no way to check if 3010 is meaningful or not. It's only a windows installer code and could mean anything at all under other contexts. It could even hypothetically mean "no reboot required" for some other installer. We can't just check that msiexec is set to true either, because some exe's wrap an msi so the 3010 code is valid in that

[2016-05-18 07:40] vutny commented on #32144
@sjmh I have such directory on Salt Master 2015.8.8.2. I thought it was created during `saltutil.refresh_pillar` job run.

[2016-05-18 08:57] cedricjacquet opened #33331 "File.find fails on windows systems due to missing import Glob"
### Description of Issue/Question

If you try to find some files on windows system with file.find module we have an issue "global name glob is not defined"
### Steps to Reproduce Issue

[code]

after adding import in win_file everything worked again
### Versions Report

2015.8.8

[2016-05-18 09:30] felskrone opened #33332 "parser turns digit-only parameters to ints"
The parser currently turns all digit-only parameters to ints removing leading zeros on the process.

[code]

The only way to actually force a string, is to use double-quotes around the single-quotes.

[code]

The problem with this is, thats its not up to the module to decide, what data to work with as some of the data is not passed on to it. As an problematic example, i have a maildir-module which

[2016-05-18 11:16] mirceaulinic commented on #32022
Yes, they are updating properly now. Many thanks, I was not aware of this config option.

[code]

Is there also an option to adjust the timeout? There are cases when the mines are not updated even from the CLI when trying to refresh big chunks of information:

[code]

But when updating using ```-t``` feels better:

[code]

Is there an equivalent such as ```mine_timeout``` or something similar that

[2016-05-18 11:22] cmarzullo commented on #23125
Anyone have any pointers where to start looking to fix this? It's killing salt for us that we can't visualize our salt jobs.

[2016-05-18 11:43] lorengordon commented on #33298
@hrumph, all good points, probably for one or more new issues. :grin:

I was focused in the linked PR just on addressing the bug in the return code logic for a point release. Adding new features would typically go into the develop branch first for later inclusion in a new version.

Also, I did consider that `3010` may not be a unique return code for msiexec and instmsi installers. The way the logi

[2016-05-18 12:07] akshya-github commented on #33136
Thanks @nmadhok !!.. I am able to create VM using clonefrom option in VMWARE VCenter, but VM is not getting IP specified in Profile and getiing apipa address. How i can resolve this?

I am cloning from sysprep Windows server 2012r2.
This is the network setting in profile:

  network:
   Network adapter 1:
    name: VM Network
    switch_type: standard
    ip: 192.168.139.23
    gateway: 192.168.13

[2016-05-18 12:58] harlanbarnes commented on #29286
Hi @rallytime - Thanks so much for looking into my issue! Yes, I think this will do it. Again, I appreciate all the work the Salt team does! - hb

[2016-05-18 12:58] #29286 closed

[2016-05-18 13:34] mirceaulinic commented on #32022
Is it enough to set a different ```timeout``` value in ```/etc/salt/master``` config file or is there anything more specific?

[2016-05-18 14:24] mirceaulinic commented on #32022
Was this fixed in ```2016.3``` by any chance? I tried the same configuration as above on two different platforms:

[code]

Is the Salt instance that updated the mines (in my previous comment).

While, on a different machine running Beryllium:

[code]

It looks like the mines are not updated:

[code]

I have exactly the same config on both, except:

```mine_enabled: True``` in ```/etc/salt/proxy```

[2016-05-18 14:54] cro commented on #32022
Re: timeouts, the core issue there is probably `multiprocessing: False` since you are using ssh-based proxies, correct?  You can turn up the timeout in /etc/salt/master (https://docs.saltstack.com/en/latest/ref/configuration/master.html#timeout).

Note that the timeout only represents how long the CLI will wait for the minion to return.  The job is still running on the minion--it doesn't get termi

[2016-05-18 15:00] mirceaulinic commented on #32022
Understood, thank you very much @cro!
Will upgrade all servers to ```2016.3``` as tested and confirmed to work.
And yes, the ```multiprocessing``` is set to False because the proxies connect via SSH, as you pointed out.

[2016-05-18 15:04] cro commented on #33332
@felskrone we discuss this here:

https://docs.saltstack.com/en/latest/topics/troubleshooting/yaml_idiosyncrasies.html

but that document doesn't cover the command line, and actually specifically calls out your use case as working in .sls files.  Apparently it doesn't work on the CLI.  Does it work if you double-quote it?

`salt-call maildir.make cust_id='12345' suffix='"01"'`

[2016-05-18 15:04] jfindlay commented on #23167
@jagguli, would you mind opening a new issue?  I have confirmed what you are seeing about memory usage except without the stack trace for some reason.  Because of the lack of information, I am concerned that this issue may be about something else.

[2016-05-18 15:05] cro commented on #32022
You're welcome.  I will close this issue for now.  If the issue isn't resolved drop a comment here and I can reopen it.

[2016-05-18 15:05] #32022 closed

[2016-05-18 15:07] mirceaulinic commented on #32022
Absolutely, from my point of view this seems to be fixed. Will come back if any further issues. 👍

[2016-05-18 15:11] rallytime commented on #29286
Excellent! Glad to hear it. :)

[2016-05-18 15:39] damon-atkins commented on #32831
Version  are not required as part of the application name, because they are an attribute not the title.  There are a few exceptions such as C++ runtime... As per unix you do not place the version in the name, its an attribute of what version you want to install.

[2016-05-18 15:42] OpusX opened #33335 "Highstate running multiple times on Windows servers"
### Highstate running multiple times on Windows servers

### Steps to Reproduce Issue
1) Kick off scheduled task that highstates machine
2) From command line run salt-call state.highstate
NOTE:  Multiple Highstates run whether logged in as same user or not

### Versions Report
v 2015.5.2

There is a scheduled task that runs highstate every 2 hours.  The highstate also runs on reboot.  Problem occu

[2016-05-18 15:53] benhosmer commented on #33329
Thanks @ryan-lane it looks like it's even more broken in develop:
[code]

Despite having boto installed already.

[2016-05-18 16:29] Ch3LL commented on #33288
Yeah I agree. I think requiring security groups in this instance would be a cleaner approach since it will create a default security group anyways.

@Suberri just to make sure if you were to add security groups to your configuration file does this work on the second run?

[2016-05-18 16:35] rickh563 commented on #20485
ZD-779

[2016-05-18 16:40] jfindlay commented on #23125
Ping @msteed.

[2016-05-18 16:42] #23643 closed

[2016-05-18 16:49] Ch3LL commented on #33257
@sumhuang hmm I don't see anything unusual in your configuration file. Usually when seeing this error: `SaltReqTimeoutError` its just not able to communicate to the master because of network issues. Do you possibly have some network latency issues or firewalls that could be causing timeout errors?

also is your minion version 2015.5.0 as well?

[2016-05-18 16:49] msteed commented on #23125
My understanding is that for complete master job cache support, the following routines need to be added to `salt/returners/elasticsearch_return.py`:
- `get_jid()`
- `get_fun()`
- `get_jids()`
- `get_minions()`

See https://docs.saltstack.com/en/develop/ref/returners/#master-job-cache-support for details.

[2016-05-18 16:54] terminalmage commented on #32260
Fixed in https://github.com/saltstack/salt/pull/33340.

[2016-05-18 16:54] #32260 closed

[2016-05-18 17:00] hrumph commented on #33298
@lorengordon and anyone else interested, now that I think about it I think that there should be a default list of reboot exit codes namely the singleton list containing 3010. This will doubtless work with 99% of cases. But it should be overridable with win repo formulas in the manner I described, so we deal with other installers that really do use different exit codes. I've got more idiotic design

[2016-05-18 17:06] Ch3LL commented on #33223
@kt97679 do the /etc/pam.d/* files you are managing on the boxes already exist?  Also can you supply a sanitized version of the roster file for the box this occurred on?

[2016-05-18 17:27] alinefr commented on #33256
@Ch3LL, I'm seeing this on all services. `service.running` treats the service as SysV not as systemd, except if I explicitly add `provider: systemd` inside `service.running`.

[code]

While
[code]
In a ubuntu systemd enabled box, this last command returns "systemd". It seems that someway salt detects my Kali box as SysV

This is what happens for services which does not have any /etc/init.d scripts

[2016-05-18 17:27] ryan-lane commented on #33329
If you pull in the module from develop you'll also need to pull in the modules from utils:

https://github.com/lyft/salt/blob/develop/salt/utils/boto.py
https://github.com/lyft/salt/blob/develop/salt/utils/boto_elb_tag.py

you setup utils just like you would states or modules.

[2016-05-18 17:27] kt97679 commented on #33223
yes, pam file existed before this happened. Unfortunately I can't provide roster file, it is generated on the fly by our wrapper, but it is very straightforward, just label and host for each machine. Here is diff generated by the salt:
<pre>
"changes": {"diff": "--- \n+++ \n@@ -1,
27 +0,
0 @@\n-#\n-# /etc/pam.d/common-account - authorization settings common to all services\n-#\n-# This file is inc

[2016-05-18 17:34] cachedout commented on #33335
Hrm. I don't see offhand there this would be happening, though I do wonder if it's related to multiprocessing.

@twangboy what do you think here? Can you confirm this behavior?

[2016-05-18 18:36] eliasp commented on #32831
@twangboy

That should be covered since ~2 years by https://github.com/saltstack/salt/pull/12711

[2016-05-18 18:37] bberberov opened #33342 "dockerng.copy_to gives wrong number of argument when used from module.run"
### Description of Issue/Question

I am trying to use `dockerng.copy_to` to copy a file from the salt server to a running container.

I keep getting this error:

[code]

When I tried to do it manually, it works:
[code]

It might be similar to this issue #31486

### Setup

This is a shortened SLS of what I use:
[code]

The mail.rc can be any file; I don't think it matters.

### Steps to Reproduce I

[2016-05-18 18:52] lorengordon commented on #32831
Oh! I just installed the zenhub.io extension for Chrome. Now I get the epic thing. Nifty!

[2016-05-18 19:23] morganwillcock commented on #32831
@eliasp I can see that this would work where the package display name stays the same on upgrade, but if the name changes isn't it going to be seen as a completely different application? I think where installers are known to be inconstant there needs some more generic way of identifying them, maybe options to regex match the name and version, as well as yield control of it? I installed an Adobe Air

[2016-05-18 19:45] carlpett opened #33343 "No indication of success/failure in publish"
I'm building a module that uses `publish.runner` to execute some code on the master and fetch the results. As far as I can tell from experimentation and code-diving, there is no way for me to determine if the call fails or succeeds, excepting if it times out. Even if the runner throws an exception, I just get a string representation of the exception back. If the `peer_run` setting is not correctly

[2016-05-18 19:57] TheBigBear commented on #32831
I agree and understand, but it might be a tad early to promise that, I think.
Probably best to first list the items that were on the list of what a windows pkg manager needs and then add the things we discovered since and then try to work out how this can be done .... , right?

[2016-05-18 20:10] Suberri opened #33345 "boto_asg.present - launch_config parameters anomliy"
### Description of Issue/Question
I am creating AWS asg group using two config formats. In concept both of the configs are identical and should to work. However one works and the other fails.

The following state works ok:
-------------------------------
[code]

---------------------------------------------------------------------

Creating a dict from the above Launch_config params and passing th

[2016-05-18 20:30] twangboy commented on #32831
@TheBigBear We are want to avoid a v2. Everything that happens within the .sls file must be compatible with win_pkg as it stands now.

[2016-05-18 20:33] mostafahussein commented on #28179
thanks for explanation @techhat !

[2016-05-18 20:33] #28179 closed

[2016-05-18 20:36] UtahDave commented on #33335
This is a known issue due to the salt proc system not working correctly on windows.

[2016-05-18 20:45] cachedout commented on #26311
I've been looking at this today. This is certainly happening in all branches. When we create multiple minion instances, we create a scheduler for each one. Then, they end up racing each other to schedule jobs. The tricky part here is to figure out what the intended behavior here should be.

In some cases, we might want scheduled jobs to return to both masters, such as events which might be fired f

[2016-05-18 20:49] thatch45 commented on #26311
When I originally made the multi master I made sure that the schedule existed outside the minion instances. basically so that there was a top level loop that checked each connection instance for pubs and then ran them but processed the schedule in between so it always only ran once.
So my original design accounted for this.

[2016-05-18 20:54] cachedout commented on #26311
I'm going to re-assign this to @DmitryKuzmenko. I think we'll need to move this up to a single event loop, as @thatch45 suggests.

[2016-05-18 21:01] OpusX commented on #33335
Is there an open bug we can track?

[2016-05-18 21:28] Ch3LL commented on #33319
@grobinson-blockchain `{% raw %}` is intended for this exact use case to escape jinja. It would not be possible in this particular use case to allow file.managed to manage these raw blocks because the jinja in the pillar would be rendered before file.managed is ever called.

Another approach you could take if you do not like specifying `{% raw %}` is to possibly use a different renderer.

[2016-05-18 21:42] Ch3LL commented on #30877
@Whissi are you okay to close this issue? Seems you resolved the issue by upgrading your moto version

[2016-05-18 22:13] whiteinge commented on #32723
All good questions. This would require a major addition to Salt so a lot of the answers to your questions are still TBD.

Salt's current targeting logic is all minion-side (nodegroups are an alias but the target itself is still evaluated on a minion) with the exception of salt-ssh. I expect an obvious master-side addition would indeed be to compile a list of matching minion IDs to sent as the targ

[2016-05-18 22:19] Ch3LL commented on #33331
@cedricjacquet i was able to replicate this as well:

[code]

add the following to modules/win_file.py
`import glob`

[code]

@twangboy is this the right solution to just import glob?

[2016-05-18 22:26] Ch3LL commented on #33335
@OpusX I found this issue: #20836  . As this seems to be a duplicate of 20836 I will close this here and we can track it there.

[2016-05-18 22:26] #33335 closed

[2016-05-18 22:27] ssgward commented on #33277
Closing. This fix has been verified on both 2015.8 and 2016.3

[2016-05-18 22:27] #33277 closed

[2016-05-18 22:54] Ch3LL commented on #33329
@benhosmer were you able to give ryans recommendation and add the develop utils as well?

[2016-05-18 23:02] twangboy commented on #33331
@Ch3LL Yes

[2016-05-18 23:04] blacked opened #33348 "state.sls_id doesn't return status code"
### Description of Issue/Question

Since we have `--retcode-passthrough` argument we should get real status code from salt. But it doesn't work with `state.sls_id`.

### Setup

Example of failure state:
[code]

### Steps to Reproduce Issue

[code]

### Versions Report
[code]

[2016-05-18 23:18] Whissi commented on #30877
Yup, can be closed.

[2016-05-18 23:18] #30877 closed

[2016-05-18 23:27] sjmh commented on #32144
@vutny - Do you have pillar cache settings enabled on your master?  Because I don't have that directory.

[code]

But, I also don't have normal pillars - just ext_pillar's defined.

[2016-05-18 23:28] sjmh commented on #32723
@whiteinge

So it sounds like, depending on whether or not the targeting plugins just return a list of minion ids, or something else entirely, would decide whether they need to run minion side or not, right?  If the plugin just returned minion ids, then there really isn't much for the minion to do ( since it'd just be verifying that it's id matches the id in the target list ).

Also, I'm a little

[2016-05-18 23:34] kt97679 opened #33350 "salt-ssh should have option to use default ssh keys"
### Description of Issue/Question

Currently salt-ssh uses explicit ssh key for connections. While this is reasonable in many scenarios sometime it is more convenient to let ssh figure out what default ssh key to use. I'm filing this ticket per previous discussion with @basepi in https://github.com/saltstack/salt/pull/32807 to consider implementing option that will allow later use case.

[2016-05-18 23:37] whiteinge commented on #32723
Reading the tea leaves, my guess is master-side targeting modules would produce a list of IDs and minion-side targeting modules would be a lot more open ended. It would be useful to have both for the things that must run on the master like watching the event stream.

Pillar is never stored on disk on minions but the compiled Pillar dictionary is indeed kept in-memory on each minion. When you targe

[2016-05-19 00:07] Ch3LL commented on #33342
@bberberov looks like the code is looking for `args`. can you try this and report back whether it works or not:

[code]

[2016-05-19 00:26] benhosmer commented on #33329
No not yet. I started working on using cloudformation as a plan B. I'll test out the develop branch with Ryan's modules tomorrow.

[2016-05-19 00:27] benhosmer commented on #33329
@Ch3LL I think this also affects the boto security groups module as well.

[2016-05-19 02:26] ahammond opened #33351 "salt-cloud saltify should install salt on cloud machines, even if they are visible from other provider"
### Description of Issue/Question
If you have legacy machines in a cloud provider, and have configured salt-cloud to connect with and work with that provider, and then you attempt to use saltify to salt your legacy machines... saltify gives up with an "Already running." error message.

### Setup
In digital ocean, manually create a droplet.
Configure salt-cloud digital_ocean provider. Confirm with

[2016-05-19 05:21] droptables commented on #29046
I'm having some trouble with this topic as well.

I've got 2015.8.8-2 minion on Windows Server 2012 R2 with a 2015.5.8 master.

The minion uses `C:\salt\var\cache\salt\minion\files\base\win\repo-ng`

When I run `salt minion pkg.refresh_db` it creates the expected `winrepo.p` file with the correct contents on the minion without running winrepo.genrepo.

If I create `/srv/salt/win/repo-ng/program/in

[2016-05-19 07:22] evan-ty commented on #18429
I don't know if this is related, but I have troubles setting pillar values on the command line:

related .sls snippet from /srv/salt:
https://paste.debian.net/687178/

input via command line and it's output:
https://paste.debian.net/687179/

As you can see, I want "rev" to change depending on what I pass it, and it keeps showing "None"

[2016-05-19 07:47] grobinson-blockchain commented on #33319
@Ch3LL thanks for replying! Is this referenced in the docs at all? If not, I think that would be very useful as I can't be the only person trying to use pillars in a similar way!

[2016-05-19 08:29] SolarisYan opened #33353 "how to get the per step's log with state.orchestrate"
### Description of Issue/Question
i use salt-run state.orchestrate xxx to orchestrate  my state,and i want to get the per state 's output.
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
my state sls files as follow:

/srv/salt/test/uptime.sls

[code]

/srv/salt/test/echo.sls

[code]

/srv/salt/test/test_event.sls

[code]

/srv/salt/test/init.sls

[

[2016-05-19 10:27] paul-mulvihill commented on #9141
Can I add support for getting a fix for this. I'm looking at setting up salt-api with an automation engine but if i can't get the master to properly report on it's syndic's minions this will mean i have to look at other approaches.

[2016-05-19 11:44] lorengordon opened #33354 "Clarification on how `mod_aggregate` works"
I've written a custom state module with a `mod_aggregate` function and gotten it to work. It does indeed aggregate all the state data into one state and it executes that state with the aggregated data, as expected. However, it is also still executing all the states from which data was aggregated, which I did not expect. I thought `mod_aggregate` would aggregate all the state data and execute the f

[2016-05-19 11:53] multani opened #33355 "Git ext_pillar "new-style" (post 2015.8.0) doesn't work on 2015.8.8.2"
### Description of Issue/Question

I'm trying to configure external Git pillar, with different branches for different environment, and a root directory containing the pillar files in ``/pillar/``.

Using a pre-2015.8.0 kind of configuration, it seems to work but using the newest kind doesn't.

### Setup

Pillar's top file is:
[code]

and default.sls in the related pillar is:
[code]

I'm trying to

[2016-05-19 12:01] lorengordon opened #33356 "state.orchestrate for salt masterless mode?"
Is there a way to run `state.orchestrate` using salt-call? I don't see it as a function in the execution module, only in the runner.

[2016-05-19 12:50] benhosmer commented on #33329
@Ch3LL and @ryan-lane confirmed and tested.

For anyone else coming across this issue, Ryan's [post](http://ryandlane.com/blog/2015/06/03/using-development-branch-saltstack-python-modules-in-the-stable-release/) explained the process.

I added:

[code]
to my `/etc/salt/minion` file and then copied lyfts fork of `modules`, `utils`, and `states` to `/srv/salt/extras`.

The boto_vpc states all comple

[2016-05-19 13:09] babilen commented on #33356
As orchestration requires the ability to connect to multiple minions, I don't think that this can be achieved, as of now, when called locally on a minion.

How would you expect this to work? How would your minion know about other minions and talk to them? How would that differ from that minion being a master?

[2016-05-19 13:18] lorengordon commented on #33356
I don't want to talk to multiple minions, just the local one. I just want to run states, re-initializing the loader and renderer in between. That way I can have a state that does something, then run another state that can render (via Jinja or whatever) objects set by the prior state.

[2016-05-19 13:47] borisovano commented on #12515
:+1:  (sorry about noobness does integrations label means it's that available in develop?)

[2016-05-19 14:00] morganwillcock opened #33357 "win_pkg: does not check for SystemComponent in Uninstall registry keys"
Since this key isn't checked the reported version of applications can be incorrect where an MSI installation process actually handled installation, but the application is managed at a higher level by another product e.g. Adobe Air

As an example:
`reg query HKLM\SOFTWARE\Wow6432Node\Microsoft\Windows\CurrentVersion\Uninstall\{4C00BFFA-9D98-7F05-96CE-4E472143C43A} /v Display*`

<pre>    DisplayVers

[2016-05-19 14:02] morganwillcock commented on #32831
Sorry to add to the pile, but I think I found the issue that made the version number go backwards...
#33357

[2016-05-19 14:05] damon-atkins commented on #32831
So the code I have written is different, but works with existing, as long as you do not manage the same item with both.  The only way to solve the problems with existing is to change it......
It also tries to check the contents of the yaml to point out issues in a friendly manner.

e.g. You should not have to edit the file every-time a new version of the software comes out. This is the number 1 pr

[2016-05-19 14:20] damon-atkins commented on #33357
Ran my code over this its reported as version 255.0.0
They are setting the binary version to 255.0.0 and the display version to 255

MIT need to fix it.  They have made a bad package/install  This indicates they have release 255 major releases.

        install_date:
            20160520
        packager:
            winmsi
        size:
            88311
        summary:
            Scratch 2 Off

[2016-05-19 14:36] ltsampros commented on #29252
I think this bug can be closed. reload_modules is documented for most versions here: https://docs.saltstack.com/en/2014.7/ref/states/

[2016-05-19 14:38] ltsampros commented on #24925
Is there any update on this?

[2016-05-19 14:49] bberberov commented on #33342
I get a different exception now.  I shuffled the order and quoted everything, no change.

[code]

[2016-05-19 15:07] chizou opened #33360 "Documentation on match: in a top file doesn't match functionality"
According to the docs here https://docs.saltstack.com/en/latest/topics/targeting/compound.html, specifying `match: compound` should work

[code]

However, specifying `match:compound`, I receive the following error:
[code]

If I remove the `match:compound` statement, applying the state works correctly.

[2016-05-19 15:16] twangboy commented on #29046
@droptables I would recommend upgrading your master to a 2015.8 version... preferrably the same or newer than your minion. We don't support older masters with newer minions.

The way pkg.refresh_db works in 2015.8 is that it should pull the contents of repo-ng down to the local minion and generate the winrepo.p file locally instead of copying down the winrepo.p from the master. We left the winrepo

[2016-05-19 15:16] terminalmage commented on #33295
OK, I have a fix in (#33359), but we just missed the cutoff where I could have gotten it into 2015.8.9. So you'll need to proceed with that workaround until 2015.8.10 or the first release in the 2016.3 release cycle.

Thanks for the heads-up on this.

[2016-05-19 15:20] babilen commented on #33295
Has this issue been reported upstream with Mint, @andrew-vant ? Do you know why they changed it?

[2016-05-19 15:22] Ch3LL commented on #30877
Thanks for responding quickly and closing. Much appreciated

[2016-05-19 15:24] rallytime commented on #29252
Yes, I think so. The reload documentation is located [here](https://docs.saltstack.com/en/latest/ref/states/requisites.html#reload) and [here](https://docs.saltstack.com/en/latest/ref/states/index.html#reloading-modules) on the 2015.8 branch.

@mitar I think the documentation you're referring to in your first comment is the note at the bottom of the [cmd.run state function](https://docs.saltstack.

[2016-05-19 15:24] andrew-vant commented on #33295
I don't know why they changed it, and I haven't spoken to them about it. I only noticed the issue with Salt, and I didn't know where Salt generated the offending grains from, so I didn't have anything to report.

I don't mind using the workaround for a while; I suspected I would have to anyway.

[2016-05-19 15:27] rallytime commented on #12515
@borisovano The "integrations" label, which has since been renamed to "RIoT" is just a way for us to keep track of which team this feature request falls under. Unfortunately, I don't think anyone has had time to implement this yet.

You can see a description of how our labeling system works and what each one means [here](https://docs.saltstack.com/en/latest/topics/development/labels.html), if you'

[2016-05-19 15:33] cmercier commented on #33159
Sorry didn't see the notification before.
I agree about the runtime-to-permanent, but my main problem is that i'm using firewalld on ubuntu (14.04) so I don't have the last version and this function is not available for me.

[2016-05-19 15:43] rallytime commented on #33316
Fixed via #33316

[2016-05-19 15:43] #33316 closed

[2016-05-19 15:50] rallytime commented on #33313
Fixed in #33361

[2016-05-19 15:52] Ch3LL commented on #33348
@blacked thanks for the PR! We will go ahead and close this when the PR gets mereged.

[2016-05-19 15:57] morganwillcock commented on #33357
I've already spoken to them and they say it's out of their control. Their application manifest doesn't define a version 255 and there is no MSI installer embedded in the Air file. These version numbers have come from actions taken by the Adobe Air application installer, and might even be a default value (255 as in hex ff).

I'm not sure what your code is meant to do or how it's doing it, but funda

[2016-05-19 16:03] Ch3LL commented on #33350
@kt97679 i think this is a great idea.

[2016-05-19 16:05] prasadjlv commented on #32946
I am new to salt-cloud in VMware environments so please bear with my ignorance.
I have an issue where the deployment fails after a bunch of "Waiting to retrieve IPv4 information" messages.  Can you please point me in the right direction to debug this issue.

* Is there a cookbook on how to configure the template, especially with respect to networking (DHCP vs non-DHCP). I have already followed htt

[2016-05-19 16:12] rallytime commented on #32913
@hrumph I have fixed the docs in #33362 by adding `win_pkg` to the list of modules supporting the `version` option.

[2016-05-19 16:21] corywright commented on #22852
I'd just like to throw another vote in here that it'd be really, really useful to be able to `require_in` sls files.

I'm working on something today that would be so easy if I could do that, but since I can't I'm having to use a lot of workarounds.

[2016-05-19 16:34] whatevsz commented on #33159
Ubuntu 14.04LTS uses firewalld 0.3.7-1, which has the `--reload` option as far as I'm aware, so you should be fine. `--runtime-to-permanent` doesn't seem to be available thought, but is not needed anyway for the changes.

[2016-05-19 16:39] djsly commented on #31034
Same problem here

[code]

[code]
[code]

[2016-05-19 16:44] gtmanfred commented on #12515
IMO, the best way to do this would be to write a python environ sdb module.

https://github.com/saltstack/salt/tree/develop/salt/sdb

https://docs.saltstack.com/en/latest/topics/sdb/

That then pulls the information out from the environment, and puts it into the salt config.  Unfortunately each different cloud provider has it's own set of environment variables and not all of them are the same as o

[2016-05-19 16:53] rallytime commented on #29764
@Reiner030 Do the `state_output` options help you here? https://docs.saltstack.com/en/latest/ref/output/all/salt.output.highstate.html

[2016-05-19 17:07] rallytime commented on #27919
@srkunze Perhaps these pages have changed since you last filed this issue, but the salt-modindex is a reference-point/list of all of the available modules within Salt. The index.html page (or "Reference") includes everything from the salt-modindex page, as well as references to other useful Salt documentation such as pages about using the Salt CLI, configuring the Salt Master or Salt Minions, how

[2016-05-19 17:14] basepi commented on #33350
@kt97679 you can delete sections of the issue template that aren't applicable. I went ahead and did it for you, just wanted you to be aware.

[2016-05-19 17:29] kt97679 commented on #33350
Thanks a lot @basepi ! I was not sure if I should remove them because thought their absence could confuse some automatic processors.

[2016-05-19 17:44] scubahub opened #33363 "Execution module state.single ignores explicit test=False if minion config says test=True"
I am using state.single from an execution module:

[code]

however when I execute my execution module from the command line the output makes it clear that ```state.single``` is in fact executing as if test=True.  I used pdb to confirm the args being passed to ```state.single```.  Here is the output of the args when I set a breakpoint in the state execution module's single function:

[code]

The sa

[2016-05-19 17:55] RoGryza opened #33364 "MongoDB users are created with default roles"
### Description of Issue/Question

Using the mongodb.user_create module function or the mongodb_user.present state adds default roles to users (root for users in the admin database and dbOwner for others). The default roles are set by PyMongo's Database.user function, and can be overridden by the 'roles' keyword argument.
This can be fixed by either always passing roles as an empty array or forwar

[2016-05-19 18:06] Ch3LL commented on #33351
@ahammond I am able to reproduce this easily, and of course this error is showing up because salt-cloud first checks to see if the VM already exists. And when you attempt to run it with `-p` instead of a map file you will get this error: `ch3ll-ub already exists under digitalocean:digital_ocean`.

@techhat : do you think the above could be possible? To setup a bypass for saltify to skip this check

[2016-05-19 18:09] #32915 closed

[2016-05-19 18:16] ralphsc commented on #32619
Your right, that was a different profile. Sorry.

Here is the correct one:

salt-cloud -l debug -p prod_template newvm001
[DEBUG   ] Reading configuration from /etc/salt/cloud
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: saltsrv.lab01.com
[DEBUG   ] Key 'file_ignore_glob' with value None has an invalid type of NoneType, a list i

[2016-05-19 18:31] basepi commented on #33350
Yeah we don't use any automatic processors. The template is just there to prompt users for as much information as possible.

[2016-05-19 18:34] Ch3LL commented on #33353
@SolarisYan are you looking for something similar to #15845 to be able to see the progress of states?

[2016-05-19 18:37] supertom opened #33367 "[salt-cloud] libcloud >= 1.0.0 incompatible regarding node_state"
### Description of Issue/Question

The data type of NodeState members has changed in libcloud >= 1.0.  In the latest stable (0.20.1), it is an integer, in >= 1.0.0, it is a string.

**0.20.1**
https://github.com/apache/libcloud/blob/87deb04498ea8bb5068e362810c3d2ab89359b48/libcloud/compute/types.py#L192

In version 1.0.0, it is a string

**1.0.0**
https://github.com/apache/libcloud/blob/735a786e05

[2016-05-19 19:08] rallytime commented on #32446
@sel-fish I suspect this is related to the fact that the `wheel.cmd` command in the WheelClient is broken in the version of Salt that you're using. Have you had a chance to upgrade to 2015.8.8.2? I am fairly sure this issue will be resolved by the fix in #31593, which is in 2015.8.8.2.

[2016-05-19 19:10] rallytime commented on #32574
Closing due to lack of response. If there is still an issue here, please leave a comment and we can keep the discussion going.

[2016-05-19 19:10] #32574 closed

[2016-05-19 19:12] rallytime commented on #24322
Closing due to lack of response. If you're still having trouble, please provide the answers to the questions above and we can continue the discussion. Thanks!

[2016-05-19 19:12] #24322 closed

[2016-05-19 19:22] techhat commented on #33351
The problem here is that the name exists in a way that Salt Cloud can see it (via `--query`). What Salt Cloud is expecting to do is grab ahold of a machine that exists but isn't connected to Salt, and then connect it to Salt.

One workaround is to do something to the name that makes it invisible to Salt Cloud during the `saltify` process. Another is to try out the `manage.bootstrap` runner. The ve

[2016-05-19 19:28] srkunze commented on #27919
@rallytime Let me have a look. :)

[2016-05-19 19:29] techhat commented on #33351
To be clear, I would consider `manage.bootstrap` to be the way to do this going forward. We need to deprecate the `saltify` driver.

[2016-05-19 19:32] srkunze commented on #27919
Alright. I see your point. Well, would it hurt to add your explanation to the top of the page?

index = "Table of Contents of Salt docs"
modindex = "Available Salt Modules"

In any case, this makes more sense now. :) Thanks for your efforts.

[2016-05-19 19:38] ahammond commented on #33351
I'll take a look at the manage.bootstrap runner. Thanks! :)

[2016-05-19 19:38] #33351 closed

[2016-05-19 19:49] Ch3LL commented on #33355
@multani can you try running `salt '*' saltutil.refresh_pillar` and see if you can access your pillar data after that?

But I think there is an issue with `sudo salt-run git_pillar.update` because I am returning False

[code]

Here is my master config:

[code]

ping @terminalmage

[2016-05-19 19:54] mitar commented on #29252
Yes, I understand that this is a global option, but such a note would be very useful for `pkg.installed` as well. It is probably one of the main cases where one would like/need to use `reload_modules`.

[2016-05-19 20:01] terminalmage commented on #33355
The ``update`` function returns ``True`` only if there were changes fetched. A return of ``False`` indicates that the repo was up-to-date. It can also return ``False`` when there is an error, but typically those are caught and logged (or if they're not caught, are raised as an exception). So the ``False`` return there is not in and of itself an indicator of a problem.

[2016-05-19 20:04] terminalmage commented on #33355
@multani please login to the minion and run the following command:

[code]

Post the output from this command, making sure to redact any personally-identifiable information.

[2016-05-19 20:07] terminalmage commented on #33355
Actually, since pillar is evaluated on the master, the log information I need is actually on the master, so disregard that.

Instead, please set ``log_level_logfile: debug`` in ``/etc/salt/master`` and restart the ``salt-master`` service, then use ``sudo salt 'minion1' saltutil.refresh_pillar`` to refresh the pillar data. This should generate log information for the pillar compilation in ``/var/lo

[2016-05-19 20:08] rallytime commented on #29252
Ok we can do that. I just wanted to make sure that was what you meant.

[2016-05-19 20:20] Ch3LL commented on #33360
@chizou if you put a space between `match` and `compound` does it work. Like so:

[code]

[2016-05-19 20:24] rallytime commented on #29252
@mitar Ok, I have added that note to the the `pkg.installed` docs. Thanks for the clarification!

[2016-05-19 20:28] rallytime commented on #27919
@srkunze We can definitely add a note to the `Reference` (index) page easily, but the modindex page is auto-generated and I'm not sure how to edit that currently. @jacobhammons said he'd look into it to see if it was possible.

[2016-05-19 20:29] cachedout commented on #26574
Fixed by #33375

[2016-05-19 20:29] #26574 closed

[2016-05-19 20:30] zieba88 commented on #31632
@jfindlay @rallytime @cachedout @patrickpilch

Verified the fix works. Thanks All!

[2016-05-19 20:32] rickh563 commented on #29222
ZD-780

[2016-05-19 20:35] cachedout commented on #26480
I can't replicate this at all either. I'm closing this as "Cannot Reproduce" until we can come up with a better way to reliably illustrate this problem.

[2016-05-19 20:35] #26480 closed

[2016-05-19 20:37] tmehlinger opened #33376 "pip state broken in 2015.8.9 with pip <6.0"
### Description
pip state fails with `AttributeError` in Salt 2015.8.9 with pip < 6.0

### Setup
Ubuntu Trusty
`python-pip` installed from mainline apt (pip 1.5.4)

### Steps to Reproduce Issue
Run a state with `pip.installed` in it with pip 1.5.4 installed on the system.

### Versions Report
[code]

Stack trace from the minion output:
[code]

Relevant code in pip: https://github.com/pypa/pip/blob

[2016-05-19 20:41] mitar commented on #29252
Thanks!!!

[2016-05-19 20:43] #26440 closed

[2016-05-19 20:44] shawnbutts commented on #33376
I'm also seeing something simalar with pip 6.1.1

`Function: pip.installed
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/usr/lib/python2.6/site-packages/salt/state.py", line 1624, in call
                  **cdata['kwargs'])
                File "/usr/lib/python2.6/site-packages/salt/loader.py", line 1492, in wrappe

[2016-05-19 20:48] rallytime commented on #31430
@The-Loeki I added a note about this exception/practice to the contributing docs in #33377. Thanks for following up here. :)

[2016-05-19 20:58] shawnbutts commented on #33376
I have confirmed that reverting https://github.com/saltstack/salt/pull/33180 fixes this issue.

[2016-05-19 21:05] rallytime commented on #24775
Fixed via #28457

[2016-05-19 21:05] #24775 closed

[2016-05-19 21:06] cachedout commented on #25854
@hishailesh77 is correct here.

Personally, I believe this is feature and not a bug. It's better to be able to disable various providers for a given module (i.e., win_pkg but not yumpkg) versus only being able to disable the virtual `pkg` module.  I will update the documentation better clarify this.

[2016-05-19 21:06] #25854 closed

[2016-05-19 21:06] Ch3LL commented on #33355
@terminalmage ahhh thanks for clarifying. i'll set this to expected behavior then.

[2016-05-19 21:06] tmehlinger commented on #33376
For what it's worth, I've managed to work around this with a (rather convoluted) set of states that guarantee the latest available pip is installed as the system pip. I *would not* consider this safe to use in the general case but it's working for me on fresh systems:
[code]

[2016-05-19 21:06] rallytime commented on #24148
ping @terminalmage, when you get a moment.

[2016-05-19 21:18] rallytime commented on #23546
@ryan-lane it looks to me that these docs no longer have the IAM role docs. Or am I missing something?
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.boto_elb.html#salt.states.boto_elb.present

[2016-05-19 21:42] cachedout commented on #24638
Verified that this now works correctly. Closing.

[2016-05-19 21:42] #24638 closed

[2016-05-19 21:45] #24699 closed

[2016-05-19 21:51] rallytime commented on #21720
Added this config setting to the alias state in #33380. Thanks for pointing that out @kaithar!

[2016-05-19 21:52] chizou commented on #33360
Interesting, so it does work if I add a space. I got confused because not having a space works if it's not an actual compound statement. For instance, this first works fine
[code]
But this doesn't
[code]

[2016-05-19 21:53] cachedout commented on #24383
I have verified that this has been fixed in all branches. Closing. Thanks all.

[2016-05-19 21:53] #24383 closed

[2016-05-19 21:54] chizou commented on #33360
I'm going to close it since it seems like it works as documented, it just has unexpected behavior in what should be a bug.

[2016-05-19 21:54] #33360 closed

[2016-05-19 22:06] ryan-lane commented on #23546
This looks good now. Thanks!

[2016-05-19 22:06] cachedout commented on #24034
@dsumsky Apologies that we didn't get you a real answer here.

The module should be loaded. I suspect you're getting a string back from that module. Could you break down that line in `ama.py` and see if you can suss out where in that line the error is originating from?

I think it's doubtful that this is a Salt issue.

[2016-05-19 22:09] #23789 closed

[2016-05-19 22:17] doberloh commented on #33376
+1 on a fix for this ASAP.

[2016-05-19 22:20] thatch45 commented on #33376
Yes, for the record this hit us out of nowhere because of an upstream change and are working on this right now

[2016-05-19 22:23] cachedout commented on #23839
I am wondering if this got addressed with the introduction of ContextDict

[2016-05-19 22:36] thatch45 commented on #33376
ok, can you try this patch out? It is not the most elegant, but should be safe

[2016-05-19 22:39] UtahDave opened #33384 "2015.8.9 minion crashes on startup when using a minion config generated by salt-cloud"
### Description of Issue/Question
I have a minion that was created by an older version of salt-cloud. I upgraded to 2015.8.9 from repo.saltstack.com and everything seemed to be good until I ran this command:

[code]
I thought maybe it had something to do with the generated minion config that salt-cloud produces so I swapped out a fresh minion config with only the `master` option that I needed and

[2016-05-19 22:41] rallytime commented on #23546
Thanks for verifying!

[2016-05-19 22:41] #23546 closed

[2016-05-19 22:46] shawnbutts commented on #33376
#33383 did not work for me.

[code]

[2016-05-19 23:02] thatch45 commented on #33376
Thanks @shawnbutts , can you try this again> I moved the try/execpt to the right spot:
#33383

[2016-05-19 23:06] shawnbutts commented on #33376
That did it!  Thanks for the quick work.

@tmehlinger can you confirm as well?

[2016-05-19 23:19] tyhunt99 commented on #33384
I am seeing a similar issue trying to launch new minions. My master is currently still on 2015.8.7 as I know this version works for me.
Is there a way to specify the version the new salt minion (launched with salt-cloud) should run with?

[2016-05-19 23:31] sel-fish commented on #32446
@rallytime Thanks for your reply.
I run "brew upgrade saltstack", and get version ```salt 2015.8.8 (Beryllium)```
It's ok if I run script using "salt.wheel.minions.connected()" even in ```2015.8.5 (Beryllium)```
But I still get error as I run
[code]
I can't get a clue as looking into the debug log of salt-minion:
[code]

Is it ok to run this command in ```salt 2015.8.8 (Beryllium)```
[code]

[2016-05-19 23:33] rallytime commented on #33384
@tyhunt99 You can use the `script_args` option in your cloud profile to specify a git tag. So if you wanted to use the same version as your master, you'd need `script_args: git v2015.8.7`.

[2016-05-19 23:37] tyhunt99 commented on #33384
@rallytime great thank you!

[2016-05-19 23:54] tmehlinger commented on #33376
Like a champ here. :)

@thatch45 are you referring to the upstream change in pip? Don't sweat it... it also caught me out with devpi. :(

[2016-05-20 00:03] thatch45 commented on #33376
thanks @tmehlinger ! Glad this got things working again, and thanks for letting me vent a little!

[2016-05-20 00:04] tmehlinger commented on #33376
Sure thing man, nice running into you again, one way or another. :)

[2016-05-20 00:17] thatch45 commented on #33376
it is, looks like life has been a ride since firehost for you!

[2016-05-20 01:02] timwsuqld commented on #19137
Any update on when these will be included as part of the official builds?

[2016-05-20 01:20] thatch45 commented on #33376
This is serious enough that I think we will cut a 2015.8.10

[2016-05-20 02:49] sumhuang commented on #33257
thanks for you replay.
I found the problem which is a problem in our devices not concern to saltstack.

[2016-05-20 04:12] Ch3LL commented on #33356
babilen is correct currently this is not possible, because runners are master side only. You could possibly use the publish.runner from the minion but would still need a master to connect back to. Although I think this would be a great feature request to setup the ability for minions to be able to orchestrate running state files without the runner.

[2016-05-20 04:19] Ch3LL commented on #33363
@scubahub thanks for the PR! We will get this closed once the PR is closed.

[2016-05-20 06:20] ealphonse opened #33388 "salt.runner does not pass the saltenv arg"
### Description of Issue/Question

When I use `salt.runner` to call `state.orchestrate` the `saltenv` arg is ignored, but not the other args. Calling `state.orchestrate` using `module.run -> saltutil.runner` as shown in #31851 works as expected.
### Setup
- two saltenvs: `base` and `jenkins`
- `salt/jenkins/orch1.sls`:

[code]
- `salt/base/orch2.sls`:

[code]
### Steps to Reproduce Issue

[code]

[2016-05-20 06:47] hrumph commented on #33298
ok sorry if in advance if i'm too spammy. some of the ideas of been having are a bit more crystallised now. I'll try to cut back on making suggestions for a while if folks are getting annoyed. First of all no change to what i said about having [3010] as a default but we should still make allowance for other codes. This is where I'm getting more specific now.

- Change highstate in salt/salt/module

[2016-05-20 07:02] DaveQB opened #33389 "Too many hostnames in pillar?"
### If I had one more minion name to a single line patter in the pillar top.sls file I get an error saying
"could not found expected ':'; line 80"

### Setup
This woks:

[code]

This gives the error

[code]

### Steps to Reproduce Issue
Full error:

[code]

### Versions Report
[code]

[2016-05-20 07:03] DaveQB commented on #33389
I've split the line across 2 patterns and we are working.

eg

'some hostnames here':
  - current

'The other half of the hostname patterns':
  - current

[2016-05-20 07:33] dneades commented on #23714
With this change in place, it seems that adding `force: True` will always copy the file, regardless of whether the source and destination are already identical. This means that the `file.copy` state always results in a change when `force: True` is used.

If `force: True` is not present, then my understanding is that the destination will not be replaced even if it differs from the source.

Assuming

[2016-05-20 08:31] ealphonse opened #33390 "Allow orchestrate to call orchestration files"
### Description of Issue/Question

I have a use-case that requires calling orchestration files within `state.orchestrate`.

I am developing a continuous deployment pipeline in salt: I have the same
orchestration file used to deploy at various stages + rollback if needed. It is
like a procedure which args are pillar data.

The stages are dealt with another orchestration file, and if deployment
fail

[2016-05-20 08:32] afletch commented on #32384
@jfindlay Could this please have some attention - it's preventing Salt working at all on CloudLinux.

[2016-05-20 08:32] multani commented on #33355
This is the output of ``refresh_pillar`` while using the **new kind of configuration**:

[code]

And This is the output of ``refresh_pillar`` while running the **old style configuration**:

[code]

As for ``git_pillar.update``, I tested several things:

* using the old kind of configuration always returns True, no matter if there's an update on the remote or not
* using the new kind of configurati

[2016-05-20 08:45] multani commented on #33355
I just upgraded to 2015.8.10 (master only) and still got the same problem.

[2016-05-20 08:55] cmercier commented on #33159
Ok great. I just hope that --reload is softer compare to a restart of the service because restart breaks connections (that was the case for the connection between my salt-master and salt-minions).

[2016-05-20 09:21] lorengordon commented on #33356
@Ch3LL, maybe take a look at how the winrepo runner is imported into the winrepo execution module? Would that approach work here?

[2016-05-20 09:26] multani commented on #23789
I'm still facing this issue with 2015.8.10 (?):

[code]

It also happens with other functions, but not all.

For example, this one produces a good output:
[code]

But this one produces a garbled output (some kind as above):
[code]

(with ``id.sh`` being
[code]
)

[2016-05-20 09:44] hgfischer opened #33392 "Where's the changelog and tag for 2015.8.10 ?"
I just found out that there are new deb packages for SaltStack in the official repo and I couldn't find changelog, and neither *tags* in the git repo!?

[2016-05-20 09:58] babilen opened #33393 "pip.installed does not work with ancient pip versions"
# Summary

Salt 2015.8.4 included 9cb17332fa0d708c9262ee2b357e0f608fa0749a which does not work with ancient pip versions such as 1.1 which is shipped on Debian wheezy.

# Analysis

The aforementioned commit contains the following change:

[code]

which refers to `pip.__version__` which is not present in old pip versions.

[code]

That variable was added in pypa/pip@d9599ec6df654329d967edc5253e377d

[2016-05-20 10:21] TheBigBear commented on #33298
@hrumph thanks for all the thinking and effort I like it, I really do, but I also have concerns.

I cannot ever see a windows tools such as salt minion being allowed to to an automatic restart, scheduled or not.

As far asI am concerned any and every logic has to allow for a specific state to be applied that says something like, restart this and that machine IF it requires or is waiting for a rest

[2016-05-20 10:26] fmnisme opened #33395 "salt doc error"
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.serialize

[code]

[2016-05-20 10:34] lorengordon commented on #33298
I think it would be quite valuable for salt to be able to signal that a package required a reboot and execute on that signal. However, that would be a new feature and I'd really recommend it be added as a new issue so it can continue to be tracked after this one is closed by the patch I submitted.

[2016-05-20 10:56] PKiman commented on #33392
I am wondering why the package from the official repository is 2015.8.10
https://repo.saltstack.com/yum/redhat/6/x86_64/latest/
While there is no release found in
https://github.com/saltstack/salt/releases
nor
https://docs.saltstack.com/en/latest/topics/releases/
Shouldn't it be vice versa? Releasing something without changelog is pretty confusing.

[2016-05-20 10:57] babilen commented on #33376
This breaks on older pip versions such as 1.1 as shipped in Debian wheezy:

[code]

Is the behaviour I see when testing `pip_state.py` on 2015.8 with #33396 merged.

The diff between the version that ships in the 2015.8.10+ds-1 with #33396 applied and the version that is currently in HEAD on 2015.8 with #33396 is the following:

[code]
namely #33383 which was merged into 2015.5 and not 2015.8.

So

[2016-05-20 11:45] DanielZuck opened #33397 "Render documentation from states in a way similar to "pyDoc" extensions work in modules."
### Description of Issue/Question

I'd appreciate a lot the pyDoc extensions for modules - something similar for states would be a breeze. How to comment in the source of state files is known, however we face rather often the need to sign-off a separate (high-level/functional/instructional) documentation from pieces of state code.

If I would be enough into the code, I would attempt a solution sim

[2016-05-20 11:46] msciciel commented on #29660
I've made and tested initial version of ethtool state : #33394 . I wasn't sure which version should I add in versionadded header.

[2016-05-20 11:58] hrumph commented on #33298
@TheBigBear

Right now, what is perhaps the biggest (don't know this for a fact) third party windows deployment system has this feature and the instructions don't hesitate to tell you to use it. In fact (IIRC) for some reason they have you scheduling reboots on certain installs whether or not they're even required. This may be because of a lack of flexibility with their system (I don't really know

[2016-05-20 12:14] babilen commented on #33392
Releases on GH correspond to tags.

[2016-05-20 12:36] stuartnelson3 commented on #31361
I'm encountering a similar issue, but when I'm running against a salt-minion that's on a machine that has docker pre-installed. `reload_modules` does not have an effect:

docker.sls
[code]

error
[code]

salt
[code]

The workaround at the moment is to restart the `salt-minion` daemon after `docker-py` is installed, and then `dockerng` is available in subsequent runs.

[code]

[2016-05-20 12:36] felskrone commented on #33332
Yes it does, its in the example i provided above :-)

[2016-05-20 13:00] sastorsl commented on #22146
Any traction on this? I really don't see that you can restrict which minions a job is run against. As far as I can tell from https://docs.saltstack.com/en/latest/ref/peer.html you can only restrict which modules a minion can run, not which minions the "peer" minion can publish to.

[2016-05-20 13:18] whatevsz commented on #33159
The manpage of `firewall-cmd` says the following:

    --reload
           Reload firewall rules and keep state information. Current permanent configuration will become new runtime configuration, i.e. all runtime only changes done until reload are lost with reload if they have not been also in
           permanent configuration.

    --complete-reload
           Reload firewall completely, even ne

[2016-05-20 13:23] max-peroch opened #33399 "Behavior of state grains.list_present and concurrency"
### Description of Issue/Question

Hi,
I am encountering a strange behavior with `grains.list_present`.
Some of my sls triger events from several minions to the reactor, and this works fine.
The reactor then calls a sls on a minion to store data on its grains.
The issue is that a lot of events are send at the same time and I guess `grains.list_present` has some trouble to handle concurrency ?
A lo

[2016-05-20 13:34] DanyC97 commented on #28511
@nmadhok  i'm afraid even on the latest 2015.8.8.2 i'm still getting the same issue

How do you debug it? apart from the `-l debug` ?

[2016-05-20 13:47] babilen commented on #33392
I believe that 2015.8.10 does not actually contain the changes it should have contained.

See the following for details:

* https://github.com/saltstack/salt/pull/33381
* https://github.com/saltstack/salt/pull/33383#issuecomment-220577467

and lets wait for people at SaltStack wake up.

[2016-05-20 14:01] terminalmage commented on #33355
@multani Is /srv/ext here a bare repo or a checkout of another repo?

[2016-05-20 14:17] multani commented on #33355
@terminalmage It's a checkout of another repo.

[2016-05-20 14:21] multani commented on #33355
But to be sure : the example I posted here is just a shorter variant of a more complex deployment that I'm trying to do, on which I faced the exact same issues. In this more complex example, the Git pillar configuration was referring to a remote (bare) repository though but it produced the same effect.
If you have troubles replicating the problem, I can have a look to provide you a Vagrant configu

[2016-05-20 15:21] nasenbaer13 opened #33400 "Orchestrator does not fail on salt.function states with exceptions"
### Description of Issue/Question

When running an orchestration state salt.function that throws an exception, the state itself is considered successful and a requiring state as well.

### Setup

Orchestration state:
[code]

### Steps to Reproduce Issue

    salt-run state.orch test

Output:
[code]

cmd_ret in function / saltmod.py is
[code]

### Versions Report

A 2015.8.8. with some custom patch

[2016-05-20 15:24] whiteinge commented on #33390
Good stuff. Thanks for typing that up.

[2016-05-20 15:33] whiteinge commented on #33356
@lorengordon take a look at #33390 when you have a moment. It is describing something very similar.

I like the idea of a "sub-state run". Both for Orchestrate (which is simply a master-side state run) as well as regular minion-side state runs. One obvious hurdle is by default Salt performs a check to prevent concurrent state runs on the same machine. (I'm surprised the workflow in the issue above

[2016-05-20 15:43] whiteinge commented on #33390
Thinking this over a bit: I think the 'salt' state module would be a good place for this addition to live. It could be called from Orchestrate or also from minion-side state runs (which would work for masterless as well).

Thoughts on other benefits of this proposal:

* With States now the logic for entire state run must be compiled at the top of the run. This would allow for incremental compiles

[2016-05-20 15:47] sjmh opened #33401 "More logging details about commands users run"
### Description of Issue/Question

Right now, with log level info, you'll see this in the log file when someone runs a job:

User shajducko-admin Published command test.ping with jid 20160518185546479699

Which is fine, for jobs like test.ping, but alot of our use-cases are around using cmd.run and cmd.script, and when those are run, you see:

User shajducko-admin Published command cmd.script with

[2016-05-20 15:51] lorengordon commented on #33356
@whiteinge, I just checked the `saltutil.runner` function and it says it must be run on the master. While the issues do appear related, it seems to me that they are addressing different use cases. Are you saying that to resolve the other issue, the `saltutil.runner` function would be made to work on a minion in masterless mode, as well? If so, sure, close as a duplicate. Though my preference would

[2016-05-20 15:57] Ch3LL opened #33402 "Joyent Cloud Stack tracing in 2016.3"
### Description of Issue/Question

When attempting to create a VM in 2016.3.0 with joyent cloud provider it stack traces and does not create the vm. When running `salt-cloud -p joyent-test ch3ll-joyent` I receive this stack trace:

[code]

### Setup
Here is my joyent profile config:

[code]

### Steps to Reproduce Issue
1. Add the above profile config
2. `salt-cloud -p joyent-test ch3ll-test`

###

[2016-05-20 16:39] whiteinge commented on #33356
No, this will decidedly be a feature addition for this issue and that issue because in both cases Salt needs to start a state run from a state run on a single machine. (Orchestrate is simply a master-side state run. The only thing different about it is since it's running on a master it can call more functions.)

You can execute runners on a masterless system if you install the salt-master package

[2016-05-20 17:10] droptables commented on #29046
Updated but it will still not add my custom `/srv/salt/win/repo-ng/program/init.sls` to the winrepo.

Where is decent documentation for making custom windows package installers?

[2016-05-20 17:14] twangboy commented on #29046
@droptables Here's a link to the documentation:
https://docs.saltstack.com/en/latest/topics/windows/windows-package-manager.html#creating-a-package-definition-sls-file

Also, names are important. If you have duplicate names (full_name, name, etc) it's uncertain which one will win. Could there possibly be a naming conflict with an existing package in winrepo? Can you post the software definition in

[2016-05-20 17:23] droptables commented on #29046
@twangboy In `/srv/salt/win/repo-ng/firefox/init.sls` i have the following:

(actually program replaced with 'firefox' for obfuscation. The program name is unique in the repository)

pkg.refresh will update the winrepo.p file but when i open it i see no 'firefox' and it cannot find the package via pkg.install

[code]

[2016-05-20 17:33] lomeroe commented on #23714
If 'force: True' is not present, the file will be copied only if it doesn't exist.  This should match the documentation [here](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.copy) (though "moved" should probably be replaced with "copied" in the doc string, otherwise it is accurate)

The force flag will cause file.copy to always copy the file, if the dest

[2016-05-20 17:35] hrumph commented on #33298
@lorengordon You are right. I am going to start a new issue. Even though I really shouldn't have I invaded your issue I only did it because I wanted to be sure that everyone had a longer term vision in mind before committing to anything.

[2016-05-20 17:36] damon-atkins commented on #19137
You do not need to set the binary version number you can use a displayversion.

[2016-05-20 17:39] twangboy commented on #29046
@droptables Are you opening winrepo.p on the server or on the minion?

[2016-05-20 17:39] Ch3LL commented on #33345
@Suberri can you try the following:

[code]

There are some great docs [here](https://docs.saltstack.com/en/latest/topics/yaml/#rule-three-dashes) that describe how yaml interprets dashes and colons. Let me know if the above helps you out :)

[2016-05-20 17:40] TheBigBear commented on #29046
@droptables as a starter any version numbers NEED to be in single quotes, as per doc. (any that end in zero) are (almost?) guaranteed to fail it they aren't in single quotes.
you have no space between full_name: ^ packagename (but that might not matter for yaml or might just be a result of your obfuscation, just wanted to point it out - just in case)

and as @twangboy said names matter very much t

[2016-05-20 17:41] twangboy commented on #29046
@droptables Also, I'm not sure how having multiple `install_flags` entries is handled by winrepo. I would guess that the last one wins. So, I would suggest something like this for install_flags:

[code]

[2016-05-20 17:43] TheBigBear commented on #29046
@twangboy, good one 'https://github.com/saltstack/salt/issues/29046#issuecomment-220671634' I missed that one entirely. ;-)

[2016-05-20 17:44] sjmh commented on #33212
@thatch45 - was throwing around the idea of using something similar to how ssh-agent works.  A manual process you'd have to start up along side the master and provide credentials too, which would unlock the private key needed to decrypt information.

I thought maybe of trying to use a salt-engine for this - but I'm not sure how the information pass-back would happen.  Just another thought of how m

[2016-05-20 17:47] lorengordon commented on #33298
@hrumph, no problem! I don't mind having the discussion here, I just don't want the feature request to get lost! :grinning:

[2016-05-20 18:02] droptables commented on #29046
Thanks @twangboy and @TheBigBear the following state file worked for me.  It ended up being the `install_flags`  it needs it in one line, i had a few.  I didn't realize my state file was wrong causing it to not get rendered.

Is there logs somewhere that would point towards a failed render of my init.sls when doing `pkg.refresh_db`?

[code]

i'll get the uninstaller to work now that i know why my

[2016-05-20 18:03] ssgward commented on #33402
@techhat - we'd like to get this fixed for 2016.3 if possible.

[2016-05-20 18:53] anlutro commented on #32888
Seems to work OK now. I'll re-open if the issue pops up again. Thanks!

[2016-05-20 18:53] #32888 closed

[2016-05-20 19:04] morganwillcock opened #33410 "Does pip.installed support local wheel packages?"
Wheel package exists at C:\Program Files (x86)\Python 3.5\Scripts\pygame-1.9.2a0-cp35-none-win32.whl. It fails to install when using pip.installed...

[code]

<pre>2016-05-20 18:59:45 [salt.state     ][INFO    ] Executing state pip.installed for pygame-1.9.2a0-cp35-none-win32.whl
2016-05-20 18:59:45 [salt.loaded.int.states.pip_state][DEBUG   ] Installed pip version: 7.1.0
2016-05-20 18:59:45 [pip.

[2016-05-20 20:01] TheBigBear commented on #29046
@droptables aren't computers and software like winrepo picky, anybody can see that "Progarm Protect" is the SAME (not!) as "ProgramProtect", ;-)

and that ```_comment: 'Registry not updated.'``` is nearly a dead giveaway that a one has a pkg name and full_name name mismatch. ;-)

Glad it helped.

[2016-05-20 20:10] droptables commented on #29046
@TheBigBear ok big guy, point taken.  thx

[2016-05-20 20:10] jfindlay commented on #32946
@prasadjlv, I am not familiar with the vmware salt-cloud driver and can only point you to the existing documentation, but @nmadhok may be able to answer any specific questions you may have.

[2016-05-20 20:14] jfindlay commented on #32384
Ping @cachedout.

[2016-05-20 20:47] Ch3LL commented on #33354
@lorengordon I think showing the pkg example might point you in the right direction. I did some testing with a the following in the minion config:

[code]

*Given an sls file like so:

[code]

Then when i run the state file I'm only seeing the lamp_stack state being run:

[code]

If you look at this [line](https://github.com/saltstack/salt/blob/develop/salt/states/pkg.py#L2355) is a great example

[2016-05-20 20:48] #27779 closed

[2016-05-20 20:48] #30130 closed

[2016-05-20 20:48] #32913 closed

[2016-05-20 20:48] #33313 closed

[2016-05-20 20:48] #27737 closed

[2016-05-20 20:50] twangboy commented on #29891
@deutsche I just ran your state on Windows 10 64 bit with Salt 2015.8.10. It all worked as expected. Is this still an issue?

[2016-05-20 21:03] lorengordon commented on #33354
@Ch3LL, I do have that line in my `mod_aggregate` function. Perhaps the `salt.utils.gen_state_tag(chunk)` function is somehow not accounting for custom state modules?

[2016-05-20 21:05] twangboy commented on #29891
@deutsche This is not going to work on Windows XP. To restart the salt-minion salt uses the task scheduler. The version in Windows XP is incompatible with the win_task module. Since Windows XP is end-of-life, we have no plans to continue support.

[2016-05-20 21:05] #29891 closed

[2016-05-20 21:10] twangboy commented on #10455
This is working correctly on 2015.8.10.

[2016-05-20 21:10] #10455 closed

[2016-05-20 21:11] rallytime commented on #32446
@sel-fish Ah, thanks for retesting that. It looks like the `saltutil.wheel` function is broken. I have a fix incoming.

[2016-05-20 21:13] DanyC97 commented on #33351
@techhat i'm having exactly the same issue, how can i use `manage.bootstrap` from salt-cloud in the same way i use it with `saltfiy` driver ?

[2016-05-20 21:15] lorengordon commented on #33354
@Ch3LL, also, I was using `aggregate: True` in my state definition, not in the minion config file. Perhaps that has something to do with it?

[2016-05-20 21:18] Ch3LL commented on #33364
@RoGryza would you say the expected behavior you are looking for is for the user to not have any roles assigned unless roles is specified?

[2016-05-20 21:26] whatevsz commented on #33090
Hi guy!

I did a `git bisect` between `develop` and `v2016.3.0rc3` and found that the commit that introduced that behavior is `22c6895d637239b43e7c6be8fbadf723c116e5de`. After reverting this commit, the reactor works again. I will look through that commit and report back.

[2016-05-20 21:34] hrumph opened #33413 "Want to know how to save global data in states which can be refered to in follow-up states"
### Description of Issue/Question
Hi salt people, pursuant to something that I'm thinking of in salt, I want to know the best practice for having a state save some data that can then be refered to later on in follow-up states. In my particular case I'm thinking of a final housekeeping state (with order: last). I am still very new to salt, so if I've missed something in the docs then I'm sorry abou

[2016-05-20 22:00] ahammond commented on #33351
Dani, is the workaround I documented in the initial bug report not working
for you?
On May 20, 2016 2:13 PM, "Dani Comnea" <notifications@github.com> wrote:

[2016-05-20 22:04] Ch3LL commented on #33367
@supertom i'm not able to replicate this behavior on ec2. Here is my test case:

[code]

1. created the ec2 vm `sudo salt-cloud --no-deploy -p ec2_centos_6 ch3ll_centos_6_1`
2. Then i deleted the vm with `salt-cloud -d ch3ll_centos_6_1` with no stack trace:

[code]

as you can see my libcloud version is 1.0.0rc2:

[code]

what version of salt are you running this on?

[2016-05-20 22:08] Ch3LL commented on #33384
This has been fixed by #33386. I'm going to go ahead and close this since this has been verified as a fix for this issue.

[2016-05-20 22:08] #33384 closed

[2016-05-20 22:16] rallytime commented on #32446
@sel-fish Ok, that should help you here. :)

[2016-05-20 22:55] Ch3LL commented on #33388
@ealphonse I am also able to replicate this behavior.

[code]

[code]

on version salt 2015.8.8.2

But can run it via:

[code]

[2016-05-20 22:57] hrumph commented on #33413
I just learned from @jfindlay that I should use __context__ for this. Thanks for the pointer

[2016-05-20 22:57] #33413 closed

[2016-05-20 23:20] Ch3LL commented on #33389
@DaveQB i am able to replicate this. seems to be a limit of 1025 characters. Anything over that number and the sls renderer fails.

For example:

This works:

[code]

But adding one more character does not:

[code]

I have verified this on 2015.5.9, 2015.8.8.2, and the head of 2016.3

[2016-05-20 23:31] Ch3LL commented on #33392
Shortly after the release of 2015.8.9, we were made aware of some upstream changes to pip's API which broke Salt's support for pip.

Since this is a potentially serious issue for those who use pip in conjunction with Salt, we elected to immediately patch and release a 2015.8.10 version of Salt.

The release notes for 2015.8.10 can be found here:
https://docs.saltstack.com/en/latest/topics/releases

[2016-05-20 23:41] Ch3LL opened #33417 "Feature Request: Add ability to mysql returner to remove past jobs"
### Description of Issue/Question

This feature request is to add the ability for salt to clean up the jobs stored in a returner, particularly the mysql returner. When using the master_job_cache along side the mysql returner eventually many jobs get stored into the database that it causes issues when querying the jobs. Cleaning up these jobs with salt would be a great feature added.

It would be n

[2016-05-20 23:42] Ch3LL commented on #33417
ZD-703

[2016-05-20 23:50] Ch3LL commented on #33393
@babilen thanks for the PR! Its really appreciated. We will keep this open until the PR is merged :+1:

[2016-05-20 23:59] Ch3LL commented on #33395
@fmnisme nice catch! Looks like we added dataset pillar with this commit: db38172e1e9873c8152406379e86e42c97fd557a which first showed up in tag v2015.8

Looks like we need to get this changed to the right version. Thanks

[2016-05-21 00:25] Ch3LL commented on #33357
I think some more flexibility into how packages are detected is a reasonable request. I've notified @twangboy of this request and he has added it to this list of items for looking at possible additions to the win_repo. Thanks!

[2016-05-21 00:47] Ch3LL commented on #33319
@grobinson-blockchain hmmm i actually can't find an instance of us documenting {% raw %}. Although it is on jinjas documentation [here](http://jinja.pocoo.org/docs/dev/templates/#escaping) I think its a great idea to get this added to our jinja docs though!

[2016-05-21 00:53] Ch3LL commented on #33329
@benhosmer thanks for testing that. So is the request to backport the folowing:

- develop/salt/utils/boto.py
- develop/salt/utils/boto_elb_tag.py
- develop/salt/states/boto_vpc.py

from develop to 2015.8? Once you can confirm the files I can start asking around about the possibility of backporting those files.

[2016-05-21 00:56] Ch3LL commented on #33360
@chizou thanks for reporting back the results and closing. :+1:  Really appreciate it

[2016-05-21 00:58] Ch3LL commented on #33257
@sumhuang i'm glad you got it working! I'll go ahead and close this but let us know if you need to open it up again if you see the behavior again.

[2016-05-21 00:58] #33257 closed

[2016-05-21 01:03] Ch3LL commented on #33402
I'm going to go ahead and close this. I tested the fix and its now working

[2016-05-21 01:03] #33402 closed

[2016-05-21 01:26] ghost opened #33418 "Design suggestions for dealing with reboot issues in windows"
This now serves as the official issue for what I was talking about in #33298. Because I still didn't understand salt properly some of my ideas have changed. This is now the plan in detail.
- Every time we get a 3010 in the pkg.installed or or pkg.latest function we will set __context__['reboot-required-witnessed'] to True, otherwise __context__['reboot-required-witnessed'] will remain unset.
- A m

[2016-05-21 01:33] whiteinge commented on #32778
Issue description updated with a matrix of the existing client interfaces. (It probably contains an error or two.)

[2016-05-21 04:33] DanyC97 commented on #33351
@ahammond  opps, i missed that!! It works including, much thanks!!!

[2016-05-21 05:32] damon-atkins commented on #33357
The results are has/dict and the key is the key, you can only have one key, and it will be over written if something has the same generated key.
The only way to fix this your be to use the registry key itself i.e. '{8EC964DA-D411-7B20-A99B-9962713680F1}'  which is not user friendly.   You your need to say pkg.install '{8EC964DA-D411-7B20-A99B-9962713680F1}'

This seems to have some info on it
http

[2016-05-21 06:13] damon-atkins commented on #33418
.

[2016-05-21 10:53] RoGryza commented on #33364
@Ch3LL Yes

[2016-05-21 11:51] sel-fish commented on #32446
@rallytime Yes, it works, thanks. I manually replaced the file ``` /usr/local/Cellar/saltstack/2015.8.8/libexec/lib/python2.7/site-packages/salt/modules/saltutil.py ``` and run ```salt '*' saltutil.wheel minions.connected```, it returns as expected.

[2016-05-21 13:34] grobinson-blockchain commented on #33319
@Ch3LL that would be great!

I think the issue for most people would be making the connection that they can use Jinja `{% raw %}` blocks as above to solve their similar problem. Putting this in the docs make it explicit but it also reassures people that this is the recommended way to solve this issue.

[2016-05-21 16:12] devster31 commented on #18614
I have a slightly different output:
[code]
and the trace:
[code]

[2016-05-21 19:06] hrumph commented on #33418
Thanks @damon-atkins for the links. I didn't understand the group policy discussion in link 1 but I think it will be good enough to call

[code]

as you mentioned.

The script you showed me was eye-opening and I wonder if it might make sense just to straight-up translisterate it as a salt module functinon, calling the function  pending_reboot_status or something like that.

[2016-05-21 19:10] hrumph commented on #33418
@damon-atkins, I should have added...with an extra return field called something like "reboot-code-witnessed" (which will reflect the value of __context__['reboot-code-witnessed']

[2016-05-21 22:11] hrumph commented on #33418
Ok pursuant to an on-line discussion with @jfindlay we should set a grain as opposed to using \__context\__. That way the knowledge that the 3010 happened will survive a state run.

[2016-05-22 00:59] thecosmicfrog commented on #26146
Hello again. It's almost a year later and I am still having this behaviour with Salt 2015.8.10. Is there any update on this?

[2016-05-22 05:02] m03 commented on #33418
Might want to check out what's already covered by [_win_system.get_pending_reboot_](https://docs.saltstack.com/en/develop/ref/modules/all/salt.modules.win_system.html) and expand/improve upon it.

[2016-05-22 10:04] m03 opened #33422 "win_system.set_computer_name returns truncated output for long hostnames"
### Description of Issue/Question

_win_system.set_computer_name_ and _win_system.get_pending_computer_name_ return truncated results when the new hostname is longer than 15 characters. The hostname change itself works as intended.

### Setup

Example of set_computer_name and get_pending_computer_name working as expected:
[code]

### Steps to Reproduce Issue

Example of set_computer_name and get_p

[2016-05-22 15:10] damon-atkins commented on #33422
see https://support.microsoft.com/en-us/kb/909264

[2016-05-22 15:39] warden opened #33423 "etcd profile doesn't work when used in master conf file"
### Description of Issue/Question

### Setup
State:
[code]

backends config:
[code]

### Steps to Reproduce Issue
The docs [here](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.etcd_mod.html) say to add etcd profile to the master configuration file, e.g. /etc/salt/master.d/file.conf.
I am unable to make it work this way, it always tries to connect to localhost.
*BUT* when I put th

[2016-05-22 16:25] m03 commented on #33422
@damon-atkins That article seems to be geared towards pre-2008 Windows OSes. These articles covering Windows 2008 / Windows 2012 mention a recommended maximum length of 15 characters, but an actual maximum length of 63 characters:

https://technet.microsoft.com/en-us/library/cc731383.aspx
https://technet.microsoft.com/en-us/library/gg232667(v=ws.10).aspx

[2016-05-22 20:42] thusoy opened #33424 "Error logging with non-environment branches in gitfs"
### Description of Issue/Question

I was seeing error logs from all minions when running `highstate` of the form `[ERROR   ] Template was specified incorrectly: False` when using a gitfs-backed master. The error was logged once for each non-master branch in the gitfs repo, which I wasn't using as environments and thus didn't have a topfile (topfile is in roots, only states are loaded over gitfs),

[2016-05-22 20:55] jacobweinstock commented on #26913
I'm still seeing the same issue in version 2015.8.10

`# salt-run --version
salt-run 2015.8.10 (Beryllium)`

`# salt-run manage.bootstrap hosts='172.17.0.3' script='https://bootstrap.saltstack.com/develop'
  File "<string>", line 1
    import urllib; print urllib.urlopen(https://bootstrap.saltstack.com/develop).read()
                                             ^
SyntaxError: invalid syntax
None`

[2016-05-22 21:29] hrumph commented on #33418
Thanks @m03. it looks like a lot is happening in the devel branch that I didn't know about until you pointed it out to me. There's just a bit extra that I want to see now. Maybe I'll come up with some PR's and maybe they'll be accepted but it looks like the devels are going to beat me to it.

[2016-05-23 02:55] warden commented on #30472
2015.8.9 and 2015.8.10 were released although I can't see this issue referenced in the release notes..

[2016-05-23 05:03] DaveQB commented on #33389
@Ch3LL
Cool. I am glad I wasn't reporting a false alarm.

[2016-05-23 05:09] DaveQB opened #33427 "2015.8.8.2 :: service.running falsely reports Clean"
### Description of Issue/Question
When running a state that ensures a service is running we are given the green light yet it has not started the service.

### Setup
[code]

### Steps to Reproduce Issue
[code]
### Versions Report
[code]

[2016-05-23 05:12] DaveQB commented on #33427
Removing the onlyif line allows salt to report an error. This doesn't see the right behaviour to me. Perhaps I am missing something here but I thought this worked as expected in our previous salt version (2014.7.5)

[2016-05-23 07:39] fmnisme opened #33428 "job is broken when exec `saltutil.sync_modules`"
### job is broken when exec `saltutil.sync_modules`
### Setup

run a salt module and sync_modules at the same time,and the runnging job will stop,Is there a way to avoid this？

[2016-05-23 08:30] syphernl opened #33429 "[2015.8.10] KeyError: 'file.source_list'"
### Description of Issue/Question
After upgrading from 2015.8.8.2 to 2015.8.10 we're seeing this happening at a few minions:

[code]

This also happens with `file.check_perms`, `file.user_to_uid`, `file.check_perms` but less often than with `file.source_list`.

### Versions Report
[code]

[2016-05-23 08:40] syphernl commented on #33429
It appears that this was being caused by the fact that the package was upgraded but there was still an old salt-minion process running which was stuck at a scheduled highstate (as reported in #32322).

[2016-05-23 08:58] dneades commented on #23714
@lomeroe, thank you for the detailed response. I should be happy to use `file.managed`, and indeed that is what I was going to use first. However, the documentation for the `file.managed` `source` argument says:

That led me to believe that a local source is not possible (only a file hosted on the salt master, or an HTTP or FTP server), which is why I went hunting for an alternative (and found `fi

[2016-05-23 09:14] detailyang commented on #28520
hello, how to transfer named args to salt api, now my code as follow:
[code]
variable like this:
[code]
user.present is
[code]
how to transfer uid ..named args and so on.

[2016-05-23 09:35] activars commented on #12179
Here's my thought. The reason we need dependency management is being able to
1) Easily reproduce formular used in a code base
2) Explicitly understand it's original reference location
3) Being able to compare or track down changes for formulars
4) Being able to collaborate in both formular module development and large complex formular deployment

There are many ways to implement this, the simplest

[2016-05-23 09:37] activars commented on #12179
btw, spm looks great.

[2016-05-23 10:01] Kurisutian opened #33430 "Manjaro is detected as ManjaroLinux (needs to be changed in Salt)"
It seems like the Developers of Manjaro changed the OS name to "ManjaroLinux" which now is the value of the os grain. So it has to be changed in Salt from "Manjaro" to "ManjaroLinux" to detect the correct package manager, etc.
So far in the core.py file there is only "Manjaro" listed and therefore Salt does not detect the correct package manager.

[2016-05-23 11:12] morganwillcock commented on #33357
@Ch3LL thanks for looking at this, much appreciated.

@damon-atkins I think in most cases the default behaviour is sensible, it just needs some options that let you work around issues as you come across them. I've just found that anything built with WiX is potentially writing Uninstall data into the profile of the installing user. The new Python installers demonstrate the problem:
https://bugs.pyt

[2016-05-23 11:45] damon-atkins commented on #33357
Excel, Word, etc are components of Office.  Unfortunately without components you can not tell who has  install Word.  Components are a an integral part of package management...   For example from my reading System Component was original design for Drivers and the like.

[2016-05-23 11:54] johje349 commented on #32554
This is fixed in 2015.8.10.

[2016-05-23 12:28] blade2005 commented on #33210
Sorry I have been away for the last week and today was my first chance seeing this message. Please give me a minute and I will try.

[2016-05-23 12:54] nasenbaer13 commented on #33400
Seems as if `fail_function` option is the way to achieve this since the event itself does not contain an indication that an exception occurred. A custom fail_function which checks the output for a traceback does the job.

[2016-05-23 12:54] #33400 closed

[2016-05-23 13:01] benhosmer commented on #33329
Since there has been a new release of SALT, let me try that and see if this issue still is relevant. If it's fixed in the latest release, it satisfies my use-case. Others might still need the backport though.

[2016-05-23 13:11] mguthrie88 commented on #12830
Would love to see a fix for this. We run highstate with test=true to audit config drift in our environment, and this extra output adds so much noise that it's impractical for us to use that method.

[2016-05-23 13:28] benhosmer commented on #33329
Well, I'm happy to confirm that my original VPC issue seems to have been fixed with 2015.8.10. I can create VPCs and subnets now.

However, I suspect that the route table functionality also needs to be ported over:

[code]

The route gets created and exists, but it fails to have the tag added just the the vpc create I originally posted.

[code]

@Ch3LL Should I open another issue for the route tab