[2016-07-28 23:28] GarthSnyder commented on #34975
No, just the normal master/minion configuration with the operation initiated from the master, e.g.

`sudo salt '*' state.show_top`

I'm guessing based on your results that `salt-call --local` adds the option `local_state` to the configuration for the duration of the execution - is that right? There's code at the very top of `__gen_opts() `that looks for this config option and short-circuits the ma

[2016-07-28 23:29] GarthSnyder commented on #34975
See also [#35045: "top_file_merging_strategy: same" is functionally identical to specifying an environment](https://github.com/saltstack/salt/issues/35045)

[2016-07-28 23:47] #34224 closed

[2016-07-29 00:02] dkiser commented on #30402
Is there a recommended git repo strategy to work around this?

[2016-07-29 00:06] dkiser commented on #28682
@jfindlay is there a recommended workaround/git repo strategy to work around the lack of this feature?  How do I keep pillar data from different environments from being merged?

[2016-07-29 01:54] dkiser commented on #29421
I'm having the same issue.  Is there a supported strategy to truly segregate pillar data between environments that works today?  Seems to be many open issues regarding similar problem with pillar and environments not behaving the same as states.

[2016-07-29 04:50] oakad opened #35048 "Unicode string breakage in CkMinions.match_check when using publish with raet"
I'm using salt 2016.03 on python-2.7.10 on a recent Amazon Linux instance. The transport protocol is set to RAET.

When there are non-wildcard peer specifications set in master config, the publish.publish function won't work because of this statement (minions.py:677):

[code]

The fun argument passed in from raet_publish has type 'unicode' and thus won't get wrapped in a list, causing the match do

[2016-07-29 07:45] bobrik commented on #34927
@terminalmage is there an ETA for 2016.3.2? 24 days ago: https://github.com/saltstack/salt/issues/33697#issuecomment-230550738

[2016-07-29 07:47] renner commented on #35018
Thanks @whiteinge, that answers my question! Closing this issue in favour of of #20280.

[2016-07-29 07:47] #35018 closed

[2016-07-29 08:29] eseyman commented on #34961
After more investigations, it turns out that it's my fault. The ordering of states was creating issues by stopping services while the filesystem was being changed under them.

I'm closing the issue.

[2016-07-29 08:29] #34961 closed

[2016-07-29 08:31] terminalmage opened #35051 "Runner/Wheel funcs still print return data to console when invoked from orchestration"
Also, while unrelated (though probably something I'll fix at the same time), since orchestration uses the highstate outputter, and places runner/wheel function return data (when it evaluates as ``True``) into the ``changes`` key, non-dict return data results in a spurious warning about invalid changes data.

[2016-07-29 09:17] stanislavb commented on #35044
I don't see 2016.3.2 in the git tags of this repo. Really want it to be released since S3 backend for states is broken in 2016.3.1

[2016-07-29 09:44] abrinded opened #35052 "salt-cloud (non templated) VM deploy to an ESXi Host returns a profile error 'container_ref' referenced before assignment"
### Description of Issue/Question

I am trying to create a new blank Virtual Machine using this shiny new feature introduced in 2016.3.0 via salt-cloud with a target of a single ESXi host

(NOTE: Not using vCenter, thus no template in use nor specified)

This is related to issue #34880 after a workaround thus the same provider and profile configuration is being used to give this issue instead.

**

[2016-07-29 09:58] phil123456 opened #35053 "salt runners freezing"
### Description of Issue/Question

hello,

all salt-run command freeze since a couple of days
I restarted everything, even reinstalled salt
still the same
perfectly working runners now do not do anything

salt-run jobs.list freeze also

checked in cache jobs directory, no jobs at all
please help

I cant reset my users passwords nor run anti hack security scripts, this is a major issue for me

than

[2016-07-29 11:19] jfindlay commented on #28682
@dkiser, I am not familiar with pillar data and multiple environments, so you might want to ask on the mailing list for suggestions on how to best organize your data.

[2016-07-29 12:44] phil123456 commented on #35053
finaly after hours of investigation, I found what was going on

on salt-run command, sals is running/recompilling all python runners

and in one of my runner, I had to add run() at the end cos it is supposed to take an email from STDIN and it does not work with salt, so I usualy run that script manyaly in python

wich lead to this question : how do I get STDIN flow from within a salt runner ?

[2016-07-29 12:47] clinta opened #35056 "Reverse DNS can overwrite host and fqdn grains"
### Steps to Reproduce Issue

Use a DNS server where you can configure reverse dns. Set the reverse DNS for your minion's IP to something other than the minions hostname.

`salt-call grains.get host` and `salt-call grains.get fqdn` will return the reverse dns address rather than the minions locally configured hostname and fqdn.
### Versions Report

[code]

[2016-07-29 12:56] mbrgm commented on #34497
@TheBigBear They didn't run earlier than 2015.8, but when I read the whole article you posted (not just the changes part), I found what I was looking for: It's the `winrepo_source_dir` config parameter (default: `salt://win/repo`), which obviously wouldn't work with the file_roots config I posted above:

[code]

When I changed the last line to `/srv/salt`, everything worked as expected. Thank you

[2016-07-29 13:11] Da-Juan commented on #34949
I've added `master_alive_interval: 30` to the minions config.
It seems to work for the minions running 2016.3.& but I don't see any `__master_alive` event in the event bus for minions running 2015.5.X

[2016-07-29 14:24] Da-Juan opened #35057 "Is there a way to get the end time of an asynchronous job ?"
### Description of Issue/Question

I have long running jobs (such as `pkg.upgrade dist-upgrade=true`) so I'm running them in asynchronous mode.
I would like to calculate the running time of these jobs but I'm unable to find the end time (or return time) of the jobs.

Is there a way to get it or should I open a feature request?

Thanks
### Steps to Reproduce Issue

Run a job using `--async` and pri

[2016-07-29 15:00] Ch3LL commented on #34975
@GarthSnyder maybe i'm not understanding something very clearly but if you are calling it from the master you can set `top_file_merging_strategy` in the master config. Is there a reason you want it to grab opts from the minion instead?

[2016-07-29 15:09] seanjnkns commented on #34575
Confirmed resolved with the 2015.8.11 release.  Once 2016.3.2 is released, this should be resolved completely and can be closed.

[2016-07-29 15:22] Ch3LL commented on #34855
@edgan ahh you are right. Apologies for some reason when i did my initial test case I saw the state file run even with the conflicting IDs. I must have been doing something incorrectly. But yes you are right thanks for correcting and clarifying for me.

Here it is show exiting not using salt-ssh:

[code]

and with salt-ssh and does not exit on a failure:

[code]

[2016-07-29 15:51] Ch3LL commented on #34978
@centromere are you seeing this when using the network settings beacon?

Also can you run the following: `python -c "from pyroute2.ipdb import IPDB"`

I'm not seeing that same error when I run in a python interpreter with pyroute2 version0.3.15

``

[code]

[2016-07-29 16:01] dmurphy18 commented on #34575
@seanjnkns Thanks for the confirmation on 2015.8.11, 2016.3.2 is coming out soon

[2016-07-29 16:06] #35027 closed

[2016-07-29 16:11] bberberov commented on #32493
Works for me in salt 2016.3.1 (Boron)

[2016-07-29 16:11] centromere commented on #34978
I see this when the salt-minion starts up. I do not use the network settings beacon.

[code]

[2016-07-29 16:17] Ch3LL commented on #34839
@boboli ahh nice catch. apologies for not seeing that earlier on. Yes I think we could do better with catching this, to ensure an error is displayed. I'll label as a bug. Thanks for the great investigation work.

[2016-07-29 16:24] terminalmage commented on #34927
@bobrik We are close to tagging and hope to have the release out early next week. Because this fix had not been merged forward into the 2016.3 release branch, and we may not merge-forward before we tag the 2016.3.2 release, I cherry-picked your fix into the 2016.3 branch and opened https://github.com/saltstack/salt/pull/35060 to get your fix into that release branch so that we make sure to include

[2016-07-29 16:26] knine commented on #29132
So it sounds like since Salt has moved out of EPEL, what should be done is the Salt Repo RPMs should be rolled such that they install in /opt and friends and not overwrite the EPEL packages.  Then packages that expect the EPEL X versions of these packages can find what they need, and Salt can be configured to point to the other (non-EPEL, but more up to date) packages as needed.

[2016-07-29 16:36] Ch3LL commented on #34985
@carlpett are you using salt-api at all in your setup. If so I also have a bug similar to this here: #34460

[2016-07-29 16:49] carlpett commented on #34985
@Ch3LL No, we're not using salt-api atm. Maybe the api uses publishing under the hood, though?

[2016-07-29 17:02] terminalmage commented on #34927
@bobrik Sorry, there was some miscommunication internally, 2016.3.2 was already tagged prior to your opening that PR, so I've closed #35060 and your fix will make it into 2016.3.3.

Apologies for the confusion.

[2016-07-29 17:06] dmurphy18 commented on #33662
@bigg01 @ahammond FYI with release 2015.8.11, on the landing page for 2015.8 there is a notice that the old paths are deprecated an shall be removed in the future.

With that notice, can this issue be closed, given that a direction has been picked to handle these old paths, noting that the new paths will probably have been in existence for approximately a year before these old paths are removed.

[2016-07-29 17:08] Ch3LL commented on #34982
@scott-w what OS are you attempting to install this on? I am wondering if you are getting an error when attempting to install nodejs but its not showing up for you. On 2016.3 testing I do only see two packages getting installed which does not include npm.

[code]

Can you run your state with `salt-call --local` that will give use more debug information as to why this is not working for your steup.

[2016-07-29 17:14] TheBigBear commented on #34497
@pratiktest @Ch3LL this is not an issue (and never was). ;-) Agreed?

And the two people that thought they had this, have now found the setup error and fixed it. I think this can now be closed.

[2016-07-29 17:26] Ch3LL commented on #34989
@davidpsv17 can you paste your sanitized roster file? i want to ensure you are using `sudo: True` i believe is the argument.

Also can you paste the output of `salt --versions-report`?

[2016-07-29 17:27] nicholascapo commented on #33525
Any updates? This single issue is preventing me from upgrading.

[2016-07-29 17:38] Ch3LL commented on #34992
@szjur thank you very much for pointing this out. This indeed appears to be a bug and looks like we need to ensure the event data is the same regardless of the data being sent to a master or through a syndic. Will label this a bug so we can get this fixed up. Thanks

[2016-07-29 17:40] Ch3LL commented on #35004
@eliasp thanks we definitely to make sure we do not stack trace here and spit out a more useful error. And I agree with your approach to have a check to see if the version and package are available.

[2016-07-29 17:46] Ch3LL commented on #35003
@edgan I think it would be a good idea to add the ability to use `env` with the `rabbitmq` module as well. I'll approve as a feature request. Thanks.

Also i wonder if another workaround would be to use the environ state alongside your state file as documented [here](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.environ.html)

[2016-07-29 17:49] Ch3LL commented on #35044
2016.3.2 has not been released yet. We are currently in the QA process and hope to have it out next week. The most recent version currently is 2016.3.1.

[2016-07-29 17:58] Ch3LL commented on #34981
@dhatchina i'm assuming you are referring to the `Connection refused` error. My suggestion would be to ensure you can manually ssh into that machine to make sure your credentials are setup correctly and there is not a firewall blocking your access.

Although @gtmanfred has more knowledge with openstack. do you have any suggestions on what @dhatchina might be running into with these errors?

[2016-07-29 18:01] Ch3LL commented on #35006
@eliasp yes it looks like the `~` is causing the issue. I'm not entirely familiar with gentoo but from what i gathered from a quick google search the `~` represents an unstable package. are there other special characters we might want to ensure we are able to handle with gentoo packages?

[2016-07-29 18:16] ariscn commented on #35044
Then there's a mistake at https://repo.saltstack.com/, which says:

[2016-07-29 18:21] Ch3LL commented on #34981
@dhatchina are you using an Openstack environment that uses floating ip? If so there is a know bug here #33093

[2016-07-29 18:23] terminalmage opened #35065 "Permit nodegroup definitions for simple lists (i.e. 'L@host1,host2,host3' to be configured as YAML lists"
According to the [nodegroup docs](https://docs.saltstack.com/en/latest/topics/targeting/nodegroups.html) we allow for compound matches to be defined as lists, but we should also permit simple lists of hostnames to be interpreted as a list (i.e. ``L@``) nodegroup.

This would more easily facilitate maintaining nodegroups in something like pillar and templating the nodegroup configuration like so:

[2016-07-29 18:25] Ch3LL commented on #35010
@vchav73 glancing at the code it looks like it only does a check to see if its in the correct absolute path form and will not return false because `/wqef` begins with a slash:

`if '../' in path or not os.path.isabs(path):`  Looks like we need to make sure add a check to see if it exists. thanks

[2016-07-29 18:26] terminalmage commented on #35065
ZD-861

[2016-07-29 18:37] GarthSnyder commented on #34975
As the issue title says, the behavior is not as documented; top_file_merging_strategy is presented in the docs as a minion-side option. As far as I can tell, none of the odd overlay behavior is documented anywhere.

Yes, once you read the code and understand what's going on, you can work around it -- is that the recommended solution?

It doesn't really matter since [the feature doesn't work anyway

[2016-07-29 18:43] szjur commented on #34992
I debugged it for hours, as I never analysed SaltStack code and came up with a simple hack for that, I can't share the exact diff for that due to legal reasons, but I think I can safely give you some ideas. Basically in minion.py in _process_event() at some point you do

jdict[event['data']['id']] = event['data']['return']

ignoring 'retcode', 'success' and probably a few more.

Then in master.py

[2016-07-29 18:53] Ch3LL commented on #35013
I believe we moved away from m2crypto as a default dependency since we use pycrypto now. @dmurphy18 can you confirm this?

If this is not a default dependency as a believe is the case then we should probably add to the x509 docs that it requires installing m2crypto as an additional step.

[2016-07-29 18:59] hokie1999 commented on #34970
Hello, yes, there are minions on my salt master. I have moved on to other issues. I am closing this report.

[2016-07-29 18:59] #34970 closed

[2016-07-29 18:59] hokie1999 commented on #34970
This is probably due to inexperience. Disregard for now.

[2016-07-29 19:01] samilaine commented on #34217
The final behaviour, naturally, should be exactly as it is with `find(1)`, but only after a major release as you point out.

I definitely would like to see this fixed; however, I'd hate to see it fixed without a clear notice well beforehand because this has been relied on somewhat extensively because we were too lazy to produce a patch (after finding out that, oh, well, maxdepth=0 kind of does the

[2016-07-29 19:12] hokie1999 opened #35067 "Writing salt state file"
### Writing custom state module

### Setup
See below

### Steps to Reproduce Issue
n/a

### Versions Report
Boron: 2016.3.0

Hi, could use guidance on issue. I was tasked with writing a salt state module for a custom module I've written. The custom module "interfaces.py" has a method "checkAndFix" that looks at bondx interfaces and runs system call to ethtool, if they are in an "UNKNOWN" state, th

[2016-07-29 19:36] Ch3LL commented on #35016
@pingangit looks like the only returner where this has been added was couchbase_return and local_cache:

[code]

Looks like @terminalmage put this in with #31670 . terminalimage do you think its appropriate to add `syndic_id` to all of these returners to ensure they were correctly in a syndic setup?

[2016-07-29 19:37] ariscn opened #35068 "pillar_raise_on_missing not documented"
This option is available: https://github.com/saltstack/salt/blob/2016.3/salt/modules/pillar.py#L63

It doesn't seem to be mentioned on https://docs.saltstack.com/en/latest/ref/configuration/minion.html or elsewhere in the docs.

[2016-07-29 20:00] Ch3LL commented on #35023
@amalaguti according to the documentation for cmd.run timeout and ignore_timeout are defined as followed:

If the command has not terminated after timeout seconds, send the subprocess sigterm, and if sigterm is ignored, follow up with sigkill
ignore_timeout
Ignore the timeout of commands, which is useful for running nohup processes.

So if timeout is specified it will actually try to kill the proc

[2016-07-29 20:11] Ch3LL commented on #35020
@Nan0r would you mind pasting any relevant debug logs from the minion on the hosts that are not reading the reg correctly?

[2016-07-29 20:39] Ch3LL commented on #35041
@hu-dabao thanks a bunch for catching this and putting in a PR. We really appreciate it. I'll go ahead and close this since the fix has been merged.

[2016-07-29 20:39] #35041 closed

[2016-07-29 20:41] Ch3LL commented on #35014
@damaex17 i'm having a hard time replicate this with the following test case:

map file:

[code]

Running the following command `sudo salt-cloud -P -m /etc/salt/cloud.maps.d/syndic.sls -ldebug` it correctly sets up the VMs and I do not see the error.

I am using msgpack 0.4.7 version. If you upgrade your version of msgpack do you still see this error?

If still seeing the error can you provide any

[2016-07-29 20:55] bobrik commented on #18311
Ha, look me, fixing this almost a year later: #34927.

[2016-07-29 21:02] scott-w commented on #34982
Hi @Ch3LL, thanks for getting back to me.

I'll have to do this when I get back into the office in a couple of weeks as I've just started my annual holiday.

[2016-07-29 21:53] Ch3LL commented on #35068
@ariscn agreed we need to get this better documented. Looks like there is mention of it in the `pillar.get` module docs but adding this to minion and master configuraiton would also be appropriate. thanks.

[2016-07-29 21:56] jdelic opened #35069 "2016.3.1 (Boron) executes grain sync on startup (triggered through reactors) before executing custom grains"
### Description of Issue/Question

WIth `2016.3.1 (Boron)` suddenly my reactor synchronizing grains is not executed anymore.
### Setup

I have the following vagrant setup using the `salt` provisioner:

[code]

I have the following reactor setup in `/srv/reactor/sync_grains.sls`:

[code]

and the according setup in `/etc/salt/master.d/saltshaker.conf`:

[code]

I use the following custom grain in `

[2016-07-29 22:08] notpeter commented on #20980
@kiorky This change made it so that every postgres_user.present (even no change) can result in dozens of SQL queries. Your code queries for the list of roles, iterates through that list in python issuing one query per role present on the server.

So instead of querying like this inside the for loop (1 query for each server role)
[code]
It could instead issue a single query outside the loop and get

[2016-07-29 22:12] Ch3LL commented on #35044
@ariscn whoa thanks for the catch. Sorry about that. We will get that fixed

[2016-07-29 22:16] dmurphy18 commented on #35044
@ariscn think it is refer. to latest on PyPI, since just pushed 2016.3.2 up, so web ref. probably need to be static

[2016-07-29 22:21] notpeter opened #35070 "postgres_user.present makes excessive SQL queries (regression)"
### Description of Issue/Question

The changes made to modules.postgres.user_list() in saltstack/salt#20980 cause postgres_user.present states to issue many times more SQL queries (each in distinct psql subprocess).   This number of queries is directly proportional to the number roles present in your postgresql server. So in our case, our 30-odd server-side roles result in 30+ queries for a single

[2016-07-29 22:29] Ch3LL commented on #34986
@mahresohl looks like there is a syntax error in the docs which I ran into when trying to recreate this. `Websocket` should be `WebSocket` in the javascript.

Although once I got that setup I am running into the same error as you. I'm not javascript savy so i'm not sure what the fix on this would be to make sure the example is accurate.

ping @jacksontj looks like you wrote these docs. Is there so

[2016-07-29 22:37] dmurphy18 commented on #35013
@carlpett The dependency on m2crypto was removed with 2015.8.0 and since that release only python-crypto v2.6.1 has been required. For the moment you could install m2crypto specifically from the recent release 2015.8.11 on repo.saltstack.com for your platform.

I shall look into the issue next week as to what can be done for x509.

[2016-07-29 22:40] amalaguti commented on #35023
I had the feeling that i was misunderstanding these options but I want to avoid having to remember to use the -t every time the SLS state file is executed.
My goal is to avoid the Minion do not return response, I tried to put the timeout extension in the state .sls file itself, to prevent the use of -t in the command line.
In addition to the state file, this state is going to be called from an orc

[2016-07-29 22:56] edgan opened #35072 "salt-ssh only: salt/states/test.py check_pillar() present option does not work"
### Description of Issue/Question
This bug is a repeat of #32964, but only applies in salt-ssh mode. I am trying to use test.check_pillar to make sure passwords are defined in pillars.

### Setup
[code]

Run: # salt-ssh 'some-target' state.sls test pillar="{'foo': 'bar'}"

### Steps to Reproduce Issue
[code]

### Versions Report
2016.3.1+ds-1 with #32965 patch

[2016-07-29 23:09] edgan commented on #35072
Closing bug, found it is a local, not remote, code caching bug. I ran 'rm -rf /var/tmp/salt-ssh/cache/*', and the issue went away. So old pre-patch code was cached, and causing the issue.

[2016-07-29 23:09] #35072 closed

[2016-07-29 23:15] edgan commented on #35072
The fix for my local cache issue seems to be '--refresh-cache'.

[2016-07-29 23:47] ahammond opened #35074 "salt-cloud azure basic connection and query fails"
### Description of Issue/Question

I'm having difficulty getting basic azure connectivity and interaction with salt-cloud.
### Setup

/etc/salt/cloud.providers.d/azure.conf

[code]
### Steps to Reproduce Issue

I've tried using both the azure.pem and the azure.pem.key in the config above since the docs suggest it's supposed to be the public key, but common sense suggests I should be using the priv

[2016-07-30 17:14] eliasp commented on #35006
Yes, `~` denotes an "unstable" package.
While this could be added as another special case to the pkg state, it might make sense to delegate this version comparison to the `ebuild` execution module which could make use of Portage's Python API (which is already used in the `ebuild` execution module for many other things) as there are quite a few more special cases (e.g. SLOT upgrades) for which I'm

[2016-07-30 20:10] Trouble123 commented on #34860
Hi

I just worked a way around this, I added this to the .bashrc file of the ubuntu user i use for salt, and instead of using salt 'MiNiOn' command variable, i now use s minon command variable.

myfunction() {
    salt -E "(?i)$1" $2 $3 $4 $5 $6
}
alias s=myfunction

You could set the alias to salt, instead of s - its up to you.

[2016-07-30 20:33] alexykot opened #35079 "custom grains from `base/_grains` folder silently unavailable"
### Description of Issue/Question
I've created two simple custom grains, `lan_ip` and `wan_ip`, it's parsing list of network interfaces and return minion's LAN or WAN IPs respentively. I've put these grains into `/srv/salt/base/_grains` on salt master and run `salt \* saltutil.sync_all`, which among other things returned:

[code]

Also I have observed custom grains appearing in paths `/var/cache/s

[2016-07-30 20:47] aboe76 opened #35080 "salt develop: Mode management cannot be used in combination with 'contents', 'contents_pillar', or 'contents_grains'"
### Question is this ok?

Latest salt from git has the following issue:
[code]

tracked the issue to this commit: https://github.com/saltstack/salt/commit/44d60a3252cbeefa1defd102cd0c452776aea400

### Setup
salt running git version: 2016.3.0-1006-gec82151
added salt-formula users to config

### Steps to Reproduce Issue
run salt-call state.apply users

[code]

### Versions Report
[code]

[2016-07-30 21:58] my10c opened #35083 "Feature request: Add random/x to cron module"
### Description of Issue/Question

The possibilty to add /xx to random minute and/or hour
### Setup

[code]

[code]

[2016-07-31 09:39] bobrik commented on #34927
What's the usual time for tagged release to appear in debian repos? 2015.5.11 was tagged 9 days ago, but it's not in repos yet.

[2016-07-31 10:56] srkunze commented on #27898
@thatch45 Nope, we used the vanilla salt-ssh call. We actually want to prevent to transfer the thin-tgz every time for performance reasons.

Yes. Each salt-ssh run basically executes the same set of states (using different --pillar data). It basically creates different but similar users with a specific file and dir structure, services etc. IIRC, this behavior also happens for simple "cmd.run".

I

[2016-07-31 10:57] srkunze commented on #34509
@thatch45 Thanks for your effort here. I am still on vacations but I will give it a try soon. :)

[2016-07-31 21:16] galet commented on #33536
Should be fixed by the above merge request (#35055). It would be great if someone could verify.

[2016-07-31 21:22] terminalmage commented on #34732
@damon-atkins I'm afraid I don't understand your question, can you rephrase it?

[2016-08-01 02:14] pingangit commented on #34952
@Ch3LL  I probably make misunderstanding about "eauth.conf", could you explain my question?

Q1: Is this mean kangxiaoning495 can exectued command just only on SYNDIC-LFA/SYNDIC-SHA/SYNDIC-SZB/SYNDIC-SZC ?

Q2: why kangxiaoning495 can execute command on 'CNSZ032379' ?

1. top master configuration

# top master's ip address = 30.16.226.57
[root@CNSZ045490 ~]# salt-key
Accepted Keys:
SYNDIC-LFA
SYND

[2016-08-01 03:05] DaveQB commented on #27421
Just a little update on this. I started the process of updating to 2016.8 last week, but too late to save us from an outage on the weekend.
I have posted here:
https://groups.google.com/forum/#!topic/salt-users/dyb0qY-2Efw

A summary is our single salt master hit a load average of 111, yes you read that right, 111. The salt-master service finally collapsed. I am not sure why this suddenly happened

[2016-08-01 06:30] jdelic commented on #35069
Putting a log message into `roles()` confirms that the grain is loaded by the minion process, but I can't figure out why the grains don't seem to "exist" during the first highstate. Perhaps this is related to #35079?

[2016-08-01 07:26] davidpsv17 commented on #34989
Hi @Ch3LL

roster file:

`Debian7:
  host: 47.111.75.201
  user: test
  sudo: True
  priv: /home/test/.ssh/id_rsa

Debian8:
  host: 43.112.133.158
  user: test
  sudo: True
  priv: /home/test/.ssh/id_rsa`

salt --versions-report:

`Salt Version:
           Salt: 2016.3.1

Dependency Versions:
           cffi: 0.8.6
       cherrypy: 3.5.0
       dateutil: 2.2
          gitdb: 0.5.4
      gitpython:

[2016-08-01 08:04] SolarisYan opened #35087 "salt-api multi target"
Hello, i use salt-api and want to issue multi target in at once,i use follow curl but have error:

curl -sSk http://10.10.100.51:8000 \
     -H 'Accept: application/x-yaml' \
     -H 'X-Auth-Token:  token' \
     -d client='local' \
     -d tgt=["minion02", "minion03"] \
     -d fun='test.ping'

return: ['No minions matched the target. No command was sent, no jid was assigned.']
curl: (3) [globbin

[2016-08-01 08:09] damaex17 commented on #35014
Ch3LL, this problem doesn't show up immediately. Sometimes it goes fine for a couple of days until the issue shows up and after that I can only get the machine back working again by deleting /var/cache/salt/cloud/index.p.

It seems like a certain race condition is corrupting this file.

I will check for an newer version of msgpack and update this issue.

[2016-08-01 08:45] Modulus opened #35088 "salt/cloud/ec2.py encoding problems."
### Description of Issue/Question
### Setup

A node with a tag containing the letter "Ø" crashes the command salt-cloud -m maps/mymap.map
We have a similar setup in development, but in production that letter is here, since it is in the name of the account admin.
### Steps to Reproduce Issue

Simply create a tag on any node in your setup containing the letter "Æ, Ø or Å" (copy from this text)

The

[2016-08-01 09:40] xenuser commented on #34843
Thanks for your feedback @Ch3LL! I'll reply asap.

[2016-08-01 09:56] xenuser commented on #34843
The affected server also receives other state files. For testing purposes, I deleted everything in lizardfs-client.sls (this is the state file which provided the excerpt in my ticket description) and Salt still does a "stat" on all files on the distributed network filesystem. I figure this means that some other state file might be responsible, but to be honest, I can't imagine what could cause thi

[2016-08-01 10:44] vutny commented on #18614
So, since `--output=compact` is broken for a long time and we have a workaround to achieve the same output result... Are there any plans to cut this outputter in the future versions of Salt?

[2016-08-01 10:49] Crapworks commented on #31863
Is there any progress here? I am currently trying to do the same thing and like @rhansen I haven't found a dynamic[1] and secure way to achieve this.

[1] I have a ha setup of three nodes, one node is holding a CA (generated using salts x509 module) and a generated server certificate. I need to copy the server cert and key to the two other nodes.

[2016-08-01 11:56] xenuser commented on #34843
I think you can close this issue. I found out that another state file was responsible for this (some state which does recursive ownership stuff..). I thought that I was able to exclude this specific part, but my new tests showed that I tested incorrectly in the past.

Thanks for the help!

[2016-08-01 11:56] #34843 closed

[2016-08-01 11:58] shaunatyoti commented on #35052
think i've been able to fix this, salt packages on debian 8, fully updated.

dpkg -l | grep -i salt
ii  salt-cloud                     2016.3.1+ds-1              all          public cloud VM management system
ii  salt-common                    2016.3.1+ds-1              all          shared libraries that salt requires for all packages
ii  salt-master                    2016.3.1+ds-1              a

[2016-08-01 12:18] rburkholder commented on #34883
I am able to verify that this is working in 2016.3.1.  Thank you.

[2016-08-01 12:18] #34883 closed

[2016-08-01 12:19] toanju opened #35090 "salt-cloud on fedora 24 is broken"
### Description of Issue/Question
salt-cloud -Q
[code]
### Setup
sudo ./bootstrap-salt.sh -P -L -X git v2016.3.2
(on Fedora 24)

### Steps to Reproduce Issue
* bootstrap salt
* create a default salt-cloud provider and profiles for openstack
* deploy a VM
* run `salt-cloud -Q -l debug`

### Versions Report
Salt Version:
            Salt: 2016.3.2

Dependency Versions:
[code]
### Solution
[code]
see

[2016-08-01 12:22] toanju commented on #35090
k, this was changed in libcloud 1.0.0

see
http://libcloud.readthedocs.io/en/v1.0.0/_modules/libcloud/compute/types.html
http://libcloud.readthedocs.io/en/v0.20.1/_modules/libcloud/compute/types.html

[2016-08-01 12:38] #35009 closed

[2016-08-01 12:52] #35065 closed

[2016-08-01 13:01] evan-ty opened #35093 "saltstack python client api test=True incorrect format"
### Description of Issue/Question
saltstack python client api test=True returns an incorrect format when using it at the client API level.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
I am using the python client API and I have the command line version of this:
`salt 'one' state.sls super-app test=True`

This works fine and dandy and gives me an

[2016-08-01 13:02] oliver-dungey opened #35094 "grains.append convert argument incorrectly converts null/None to list items"
### Description of Issue/Question
I have a simple roles system using grains. It's not your standard list of roles but a series of roles that can optionally have a list of specific environments/systems that the role applies to - the grains data looks like this:
[code]
To allow me to modify or add new roles (with or without the environment/systems) I have found that **grains.append** works beautiful

[2016-08-01 13:12] sebw commented on #34662
Sorry, I completely missed the notification, I run the latest stable:

[code]

Thanks for the awesome work! :)

[2016-08-01 14:42] jacksontj commented on #34986
I actually wasn't involved in the websockets API. I just wrapped it in the
config option (as to not load it by default) since the websockets code
currently has no test coverage.

On Fri, Jul 29, 2016 at 3:30 PM, Megan Wilhite <notifications@github.com>
wrote:

[2016-08-01 15:35] evan-ty commented on #35093
Closed, not a bug.  Just poor formatting on my end.

[2016-08-01 15:35] #35093 closed

[2016-08-01 15:41] rallytime commented on #18614
@vutny Yes, this is on my radar to cut this and document appropriately. I was waiting for some feedback on my latest comments above to make sure I had covered all of the potential options that people were hoping to achieve with the `compact` option, but I think I covered them all. Thanks for the bump - I can move forward on this.

[2016-08-01 15:50] TheBigBear opened #35096 "mac os x latest pkg is not available on https://repo.saltstack.com/osx/salt-2016.3.2-x86_64.pkg"
### Description of Issue/Question

The tab for mac os x on https://repo.saltstack.com shows 2016.3.2 as the latest. But the pkg has not yet been uploaded to the repo files.

is this something you do @twangboy seeing this is a mac installer?

[2016-08-01 15:52] jwhite530 opened #35097 "Minions die with "un-handled exception from the multiprocessing process""
### Description of Issue/Question
Recently I have discovered that some of my minions are becoming unresponsive when trying to do anything:

[code]

I discovered they log this error then log nothing further until the salt-minion daemon is restarted:

[code]

Here's another example from another minion:

[code]

### Setup
I have dozens of minions.  This issue seems to effect them randomly.  I cannot

[2016-08-01 16:27] dmurphy18 commented on #34927
@bobrik 2015.5.11 has been build but not tested yet, since 2016.3.2 is currently undergoing test. It is hoped that it's release is very soon, barring any blocker found in QA. It was felt that 2016.3.2 was more important to release first.

[2016-08-01 16:50] thatch45 commented on #27421
@DaveQB that does surprise me! But from your comments it looks like pillar is a likely culprit, while we did add quite a few enhancements to 2016.3 to improve worked performance we also added a pillar cache option which makes the master not regenerate the pillar every time but cache it for a little while, the PR for it is found here:
https://github.com/saltstack/salt/pull/30686

Please forgive me

[2016-08-01 16:53] TheBigBear opened #35102 "Exception raised when processing __virtual__ function for mac_system - (mac os x installation relies on un-installed 'mac_service_helper.sh')"
Installed the new mac os x pkg 2016.3.1 from repo.saltstack.com when trying to do any pkg.* related cmds it comes up with a few lines of error output that are not really related to salt.

[code]
(Note: it does actually proceed to do the requested pkg. action, but the errors need looking at and removing.)

salt errors and warning:
[code]

I think "some" helper function somewhere inside of salt trie

[2016-08-01 16:59] rallytime commented on #18311
@bobrik Ah, thanks for finding this issue. For others on this thread, the PR referenced in the issue above is #35024.

@vladvasiliu Does the fix in #35024 resolve this issue for you?

[2016-08-01 17:36] #24990 closed

[2016-08-01 17:38] #34587 closed

[2016-08-01 18:37] jmacfar commented on #35020
This looks like the issue with permissions of some keys in versions of Windows. In Win10, that key is ReadOnly for all but TrustedInstaller. _winreg just errors out since it cannot open that key will full access.

I submitted a PR to fix this behavior. I guess it is waiting for review..

#35063

[2016-08-01 18:43] Ch3LL commented on #35032
@lomeroe looks like i'm able to replicate this issue on 2016.3.1. Looks like we need to do a better job at handling when to add/remove fromt eh cache when running into an error. The error i ran into when using the bad tar was:

[code]

[2016-08-01 19:29] kartiksubbarao commented on #16383
I took out `- lens: pam` in your code and it worked -- does that work for you as well? If so, the problem might be related to issue #24274 which is still open, although that has a different error message.

[2016-08-01 19:49] mahresohl commented on #34986
It seems to be a server-side problem, not the client. Server gets the requests but drops the connection for some reason.

[2016-08-01 19:59] derekmaciel commented on #34861
Reading through the code it looks like `yumpkg.py` expects the name to not include a version number. I re-read the documentation and it is right, it is suggested you use `version: 9.4.1` instead. However, it still fails.

I apply the following state to the minion:

[code]

and I receive:

[code]

An interesting line to note:
[code]

It is expected that `9.4.1-1.ru7` would satisfy version specifica

[2016-08-01 20:01] ariscn opened #35107 "ssh_auth source fails with s3 source"
Running latest 2016.3.1 on master and minion, Ubuntu 14.04.

[code]

This fails with an error about being unable to get the file from s3. `s3.key` and `s3.keyid` are set, and other states are able to fetch files from the same bucket and folder. As a sanity check, I swapped this for:

[code]

This worked. So, the issue is in ssh_auth's interaction with s3 sources.

[2016-08-01 20:14] twangboy commented on #35096
Once the package has passed internal testing it will be put out on the Repo.

[2016-08-01 20:32] thatch45 commented on #27898
This all makes sense, so I see a few issues. Once the initial thin is deployed I can run states in parallel, the main issue is the initial deploy of the thin. If you are trying to do that to the same location a bunch of times at the same time then this becomes a very complicated problem. Now, once that is out of the way is when we see the 0 states problem, this is because when we run states we shi

[2016-08-01 21:42] moloney commented on #12803
I am running into this issue as well (on Ubuntu 16.04).  I had to restart the salt minion process for it to start recognizing users/groups from LDAP.  No amount of waiting makes any difference.

I am pretty sure that the redhat bug linked to by @rhansen describes the issue we are hitting. I took a look at the salt code and noticed it is using the 'pwd' and 'grp' modules from the standard library,

[2016-08-01 21:55] Ch3LL commented on #35045
@GarthSnyder I am also seeing the same behavior in 2016.3.1. Given my understanding, with teh following test case:

[code]

[code]

[code]

[code]

I would expect it to look like:

[code]

I have to specify the `saltenv` in order to call the different environments top files. This might be related to #30434  but without using gitfs

[2016-08-01 21:56] Ch3LL commented on #35045
ping @terminalmage am I understanding the usage of same merging strategy? From the docs [here](https://docs.saltstack.com/en/latest/ref/states/top.html#scenario-3-no-environment-specified-top-file-merging-strategy-is-same) I would expect it to work differently then it is. Just wanted to double check that I understand it correctly and accurately labeled this as a bug. Thanks

[2016-08-01 22:08] Ch3LL commented on #34975
ahhh gotch ya. Thanks for clarifying. I believer were your confusion came in was from [these](https://docs.saltstack.com/en/latest/ref/configuration/minion.html#top-file-merging-strategy) docs which explain the options you can configure on the minion, which one of them includes `top_file_merging_strategy`. Its not an issue that this option is included on the minion but that its not included in the

[2016-08-01 22:11] Ch3LL commented on #35048
ping @s0undt3ch do you think his unicode fix for raet is the right approach? My knowledge here is lacking. Thanks

[2016-08-01 22:11] wes-novack commented on #21797
Was this feature ever added?

[2016-08-01 22:14] Ch3LL commented on #35052
@abrinded would you mind giving the fix in #35099 a try and seeing if that resolves your issue?

[2016-08-01 22:19] Ch3LL commented on #35056
@clinta thanks for the PR. once your PR is merged we will get this closed up. Thanks :+1:

[2016-08-01 22:20] trebortech opened #35111 "cloud.profile fails in orchestration"
### Description of Issue/Question

I have a working cloud profile config that deploys a windows box to AWS. It completes all the steps to include the state files listed in the profile. This works fine when I execute it from salt-cloud.

When I try to execute this profile inside of an orchestration file it fails to bootstrap the instance. It will deploy the instance and even set the name tag but do

[2016-08-01 22:23] Cashwini opened #35112 "Is there a way to change salt master and minion from windows command line after installing salt?"

[2016-08-01 22:40] whiteinge commented on #35087
salt-api follows the same semantics as Salt for targeting. See the [full targeting documentation](https://docs.saltstack.com/en/latest/topics/targeting/) for details.

It's not obvious from normal CLI use but in all cases, `tgt` is a string and `expr_form` describes how that string should be parsed.

Your example above looks like a [list target](https://docs.saltstack.com/en/latest/topics/targetin

[2016-08-01 22:51] Ch3LL commented on #35057
ping @whiteinge ... do you know if this is possible? Or have any ideas on how to accomplish this?

[2016-08-01 22:56] Ch3LL commented on #35044
@ariscn looks like this has been fixed. Are you okay to close this?

[2016-08-01 22:57] Ch3LL commented on #35096
@TheBigBear I believe this is related to #35044 . The version was inaccurate. Looks like its fixed now though. Are you okay closing this?

[2016-08-01 22:57] ariscn commented on #35044
Yep, looks good:

Looking forward to the actual release!

[2016-08-01 22:57] #35044 closed

[2016-08-01 23:32] whiteinge commented on #35057
I don't think we store the return timestamp for jobs (sync or async are the same). I vaguely recall asking this same question once and the answer was one of unknown precision -- is the job finished when the function is done on the minion or when the minion returns to the master or when the master pops it off the queue and writes it to the job cache? That said, I can see the use-case for adding it.

[2016-08-01 23:36] rickh563 commented on #27294
ZD-879

[2016-08-01 23:39] GarthSnyder commented on #34975
Including `top_file_merging_strategy` in the master-side options would be an incremental improvement, but as long as it's also in the minion-side documentation, I would imagine that people will assume it can be set in either location. And in the typical case, that's not actually true.

The broader issue is that there's a sizable set of minion options that are routinely overridden by master setting

[2016-08-02 00:39] dkiser commented on #28682
@knuta @jfindlay As far as I can tell, the merging of environments is a byproduct of the git_pillar code at https://github.com/saltstack/salt/blob/2016.3/salt/pillar/git_pillar.py#L292 correct?

 If so, would this merge strategy option be implemented only there?  I monkey patched this code for a specific environment I was testing and the results seemed to be what is expected.  The thought would be

[2016-08-02 01:38] SolarisYan commented on #35087
@whiteinge Yes,i test that and the result as follow:

[root@master ~]# curl -sSk http://10.10.100.51:8000 \

return:
- {minion02: true}

[root@master ~]# curl -sSk http://10.10.100.51:8000 \

return:
- {minion02: true, minion03: true}

[2016-08-02 03:28] terminalmage commented on #34561
This is almost done, after a conversation with @thatch45 there are a couple other things we might want to keep in mind.

- If we enable runner returns, we could potentially interfere with the master looking for returns for non-runner jobs.
- We may need to modify one or more funcs in the jobs runner to filter out runner returns, potentially via a config opt called ``include_runners`` which when ``

[2016-08-02 04:09] terminalmage commented on #34561
Opened #35118 to implement this.

[2016-08-02 06:02] hrumph commented on #34821
One thing that could be done is having a bool called something like "classicMode". Default would be false and you would get the new behaviour by default but when it was true you would get the old behaviour.

[2016-08-02 06:32] whiteinge commented on #35087
[List targets do not support spaces.](https://docs.saltstack.com/en/latest/topics/targeting/globbing.html#lists)

This works because the shell interprets that as a concatenated single string with no spaces (see: `echo 'foo','foo'`) before passing the result to curl.

[2016-08-02 06:49] sjorge opened #35121 "file.append always results in change"
### Description of Issue/Question
While testing the 2016.3.2 package I noticed my file.append always triggers a change on my minions running 2016.3.2, not on those still running 2016.3.1!

### Setup
[code]

[code]
### Steps to Reproduce Issue
Snippet above, this one always triggers it.

### Versions Report
[code]

[2016-08-02 07:07] babilen commented on #21797
I am not aware that it has, no.

[2016-08-02 07:09] babilen commented on #34945
@Ch3LL ping?

[2016-08-02 07:11] sjorge commented on #35121
resulting file encoded as base64 to make sure nothing gets managled in transport

[code]

[2016-08-02 07:38] #34561 closed

[2016-08-02 07:44] phil123456 commented on #35053
exim mailer runs a script when I receive a mail
I'd like that script to be a salt runner

here is the simple python code, it should work with any language

    import sys

    for line in sys.stdin:
        print line

as I used salt-run myrunner.run, I never got any input from stdin, probably becos salt-run program was swallowing it, so it probably needs to forward its STDIN to the python script

[2016-08-02 08:27] rsuarezsoto commented on #16383
No, sorry, removing "lens: pam" changes nothing. But something weird is happening, because if I change "lens: pam" to a lens that doesn't exist ("lens: whatever"), the same error appears. It's as if the lens wasn't being used at all.

[2016-08-02 08:34] Da-Juan commented on #35057
Thanks for your answer.

For what I am doing at the moment (OS upgrades) I don't need a very precise timing so it could be any of the options you mentioned but from a more general point of view I think the better option is to have the timestamp when the function is done on the minion.

I think I'll use the state workaround, I have a thousand of minions and my jobs take more than 1 hour to run so i

[2016-08-02 08:39] SolarisYan opened #35122 "salt-api add user"
hello, i use salt-api to add user as follow:

[code]

the return is:

[code]

but when i use id salt88,the result is: `uid=1009(salt88) gid=1013(salt88) groups=1013(salt88)`

And when i use the cmd `salt '*' user.add salt99 gid=dba groups=oinstall home='/home/salt99'`
the return is:

[code]

and i use id salt99,the result is: `uid=1010(salt99) gid=1009(dba) groups=1009(dba),1008(oinstall)`

obviou

[2016-08-02 09:02] valintinr opened #35123 "Can't install package on VZ7 (Centos 7)"
Hi!
Can't install any package on new OS called VZ7 https://download.openvz.org/virtuozzo/releases/7.0/x86_64/iso/
This OS based on Centos 7.
Getting next errors

`          ID: etckeeper
    Function: pkg.installed
      Result: False
     Comment: State 'pkg.installed' was not found in SLS 'etckeeper'
              Reason: 'pkg' __virtual__ returned False`

And lot of other similar messages.

`Su

[2016-08-02 10:41] peter-slovak commented on #34962
I've looked a bit more into this - it's not as much a problem with LegacyGitPillar as it is with LazyLoader. Somehow, when pillar.git_pillar is being lazyloaded, the __opts__ dunder dict for the module is incomplete (missing the "environment" and "pillarenv" vars). Maybe it is loaded too early or in a stage that is out of context for the minion pillar request - I can't see into the loading process

[2016-08-02 10:55] morganwillcock commented on #34821
How would you decide which environment you should be using? You won't know where each package was installed from or even which environments are relevant. I don't think this approach is viable and, in the short term at least, this just needs to align with the win_pkg module docs.

[2016-08-02 11:27] abrinded commented on #35052
Hi @Ch3LL I am currently using some of the code @otupman put forward and its working fine for what i need it to do (creation of new VMs against an ESXi6 host)

[2016-08-02 12:15] franky4u commented on #31605
Same problem with reclass adapter - gpg will not be rendered
salt --version
salt 2015.8.8 (Beryllium)

/etc/salt/master
...
renderer: jinja | yaml | gpg
...
reclass: &reclass
    inventory_base_uri: /srv/salt/inventory
    class_mappings:
      - \* common.erv common.sles12sso
ext_pillar:
    - reclass: *reclass
master_tops:
  reclass: *reclass
...

[2016-08-02 12:23] alexshemesh opened #35126 "Salt reactor unable to use route53 state"
### Description of Issue/Question

I'm trying to create DNS record in AWS Route 53 for instance that ive created using Salt Cloud.
Im unable to use  boto_route53.present state.
### Setup

This is in my master file.

[code]

This is the content of my route53.sls file

[code]

In the log of master i can see following error
### Steps to Reproduce Issue

I deploy instance using map with single instanc

[2016-08-02 12:24] sjorge commented on #35121
Seems like adding a whitespace at the end of the line causes the line to always be marked as changed. See code comment above. I will try dig deeper when I have more time.

[2016-08-02 12:41] alexshemesh commented on #34940
Hi
Sorry for late response i was busy with other things.
No. Updating minion and master didnt solve the problem.
This is result of salt-minion --versions-report from the minion that im trying to install docker on.

[code]

still when im trying to use state

[code]

It will give error

[code]

i checked that i have docker-py on minion machine, ve tried to remove and reinstall it.
Nothing helps.
Thi

[2016-08-02 12:48] kartiksubbarao commented on #16383
Strange that removing the lens worked for me but not for you. Not sure what to make of it at this point. I'd suggest opening up a separate issue for the problem that you're seeing so that it can get better attention from the developers. It may be still related to #24274, or it may be a new issue.

[2016-08-02 12:56] byteknacker opened #35127 "Make doc clearer for state.pip"
### Description of Issue/Question

When reading through the official SaltStack Documentation on salt.state.pip I noticed that in the title it is written salt.state.pip_state but in the examples, you use pip.installed etc. Due to this, I assumed that it would be correct to say something like:

virtualenv_installed:
  pip_state.installed:
    - name: virtualenv

But this is not the case, it needs to

[2016-08-02 13:12] alexshemesh commented on #34940
More info.
In log file of minion i can see following error

[code]

And most importantly if i run state-apply for same minion once again it will work ok!!

[2016-08-02 15:04] ze42 opened #35128 "salt-minion bad master file when syndic_master is present"
### `salt-minion` uses bad path for master key

`salt-minion` uses `syndic_master.pub` instead of `minion_master.pub` when a `syndic_master` option is present.

### Setup

Just configure `/etc/salt/minion` with:

[code]

### Steps to Reproduce Issue

Without any `syndic` configuration, the `salt-minion` rightfully uses `minion_master.pub`.

Add a `syndic_master` option, even if you don't have an o

[2016-08-02 15:16] yamamushi commented on #34783
@twangboy @UtahDave , might there be any new updates on working around this problem?

[2016-08-02 15:34] l2ol33rt commented on #34600
Im seeing the same issue on `Ubuntu 12.04` target:
[code]

[code]

Looks like theres a similar issue: https://github.com/saltstack/salt/issues/27355

[2016-08-02 16:20] sjorge commented on #35121
I have a patch,... rolling out internally now to see if it fixes it everwhere

[2016-08-02 16:32] cachedout commented on #34885
@lesykm Good catch there. Please create a separate issue for that so that we can track them independently. Thanks!

[2016-08-02 16:34] #34885 closed

[2016-08-02 16:51] UtahDave commented on #35126
Hi Alex,

The reactor sls files need to be formatted differently than regular state files. You need a minion to execute the state. For this example I'm going to assume you have a minion running on the same VM as your master and that the minion's name is 'masterminion'.

[code]

I haven't tested this, but your reactor sls file should look something like the above. What are your results with that?

[2016-08-02 17:10] Ch3LL commented on #34975
@GarthSnyder agreed I think as part of this issue report we could add better information as to which options in a minion config are only for masterless.

[2016-08-02 17:12] hrumph commented on #34821
@morganwillcock, it's already got a "saltenv" param in the devel version, so that's how we know what environment to use. As for what the docs presently say I (and I believe @damon-atkins) believe the status quo to be a bit of a design flaw. I guess we need to hear from @terminalmage to get the final word on what changes would and would not be accepted. I also wonder what @twangboy has to say.

[2016-08-02 17:16] Ch3LL commented on #34982
no worries. just let us know thanks :)

[2016-08-02 17:19] Ch3LL commented on #35013
For now i'll lable this a documentation bug since we could add m2crypto as a dependency on x509 module docs.

[2016-08-02 17:22] Ch3LL commented on #35023
Looks like there is a `timeout` argument for saltmod [here](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.saltmod.html)  does that work for your scenario?

[2016-08-02 17:24] Ch3LL commented on #35020
thanks @jmacfar !!

@Nan0r can you confirm the fix in #35063 works to resolve the issue?

[2016-08-02 17:26] pepoluan opened #35137 "Option for salt on master returning ID instead of Name?"
### Description of Issue/Question
Currently, when applying states to minions, the salt command will return a list of "Names" with their respective results. For example:

    Name: irhan - Function: user.present - Result: ...
    Name: irhan - Function: group.present - Result: ...
    Name: irhan - Function: user.present - Result: ...
    Name: shadow.set_password - Function: module.run - Result: .

[2016-08-02 17:30] Ch3LL commented on #35014
@damaex17 ahhh gotchya. yeah i only tried it once. Let us know once you are able to try a newer version to see if you are not seeing the issue anymore thanks.

[2016-08-02 18:15] epelc opened #35139 "dockerng: RepoTags not iterable with docker 1.12 on ubuntu 14.04"
### Description of Issue/Question
This line causes `docker.running` to fail when using docker 1.12
https://github.com/saltstack/salt/blob/485dd07fe9b6d32cf0e9f284a71fa512d7508a6b/salt/modules/dockerng.py#L2352

Minion error log
http://pastebin.com/mKivKRLa

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
[code]

### Steps to Reproduce Issue
(Include

[2016-08-02 19:07] hokie1999 commented on #35067
Disregard this, not needed. Ticket can be closed.

[2016-08-02 19:07] #35067 closed

[2016-08-02 19:07] hokie1999 commented on #35067
Disregard this, not needed. Ticket can be closed.

[2016-08-02 19:26] amalaguti commented on #35023
@Ch3LL
When calling the state from an orchestration state, it finishes successfully, BUT... it does some time before the installation completes on the Windows minion (I see the .EXE still running on the Windows minion several seconds after the orchestration state has finished). I think the orchestration executes the initial powershell script but does not care about the process initiated by the scr

[2016-08-02 20:56] terminalmage commented on #34945
@babilen In develop only.

[2016-08-02 21:07] lingonl opened #35149 "ipset.check slow on hash:net with big subnets"
### Description of Issue/Question

ipset.check does not work with large subnets. The command will finish but it wil take a very long time.

See: https://github.com/saltstack/salt/blob/develop/salt/modules/ipset.py#L477

The "for .. in" will iterate over all possible addresses in the network _entry and will store them in _entries. This is a waste of time and memory. I haven't tried an ipv6 subnet,

[2016-08-02 21:16] #34767 closed

[2016-08-02 21:30] Ch3LL commented on #35069
@jdelic i'm having a hard time replicating this on 2016.3.1 but not using a vagrant host.

I setup the exact same reactor with a simple custom grain:

[code]

When I start my minion up I see this in the logs:

[code]

Are you not even seeing the reactor in your debug logs? Particularly looking for where it states `Compiling reactions for tag`

To try to figure out where the culprit is can you test

[2016-08-02 21:51] Ch3LL commented on #35070
ping @kiorky could I get your input on this one. Maybe there is a different way to approach this so we are not making as many calls to postgres?  What are your thoughts. Thanks

[2016-08-02 22:07] Ch3LL commented on #35074
@ahammond how did you generate your certificate. Did you use the instructions [here](https://docs.saltstack.com/en/latest/topics/cloud/azure.html#configuration)?

[2016-08-02 22:12] Ch3LL commented on #35079
@alexykot one good way to debug custom grains is to run command locally on the minion to see if its loading `salt-call -ldebug --local grains.get lan_ip` and you should see any errors in that output. One thing i noticed when attempting to use your grain is this error:

[code]

You will need to make sure `netifaces` is installed on any minion that you would want to use the custom grain on. Once I i

[2016-08-02 22:28] Ch3LL commented on #35080
ping @terminalmage was this behavior on purpose? Looks like from what I can tell a user would not be able to use `context` and `mode` in a state together similar to:

[code]

Which is taken from the users formulas file [here](https://github.com/saltstack-formulas/users-formula/blob/master/users/init.sls#L197)

Looks like @aboe76 's error is coming form [here](https://github.com/saltstack/salt/blob

[2016-08-02 22:36] Ch3LL commented on #35083
@lsuryo is this your proposed fix to this feature request? Feel welcome to submit a pull request and it can be reviewed. Or do you have concerns about your current changes?

[2016-08-02 22:36] #34215 closed

[2016-08-02 22:56] heaje opened #35154 "pkgrepo.managed "enabled" deprecation warning always shows up (even when "disabled" is used)"
### Description of Issue/Question
When using the pkgrepo.managed state, I see a deprecation warning that says:  "DeprecationWarning: The `enabled` argument has been deprecated in favor of `disabled`.".  This warning will show up whether or not I actually have "enabled" in my state at all.  I've tracked down the problem to line 305 in salt/states/pkgrepo.py.  If "disabled" is in my options, it sets

[2016-08-02 23:01] aboe76 commented on #35080
@Ch3LL thanks for the clarification,

[2016-08-02 23:33] EugeneKay commented on #34575
I can confirm that 2016.3.2 resolves this issue under CentOS 7. Updating from 2016.3.1 works fine, with no RPM dependency errors.

[2016-08-02 23:53] dmurphy18 commented on #19349
@masterkorp Can this item be closed, now that msgpack has been updated for 2015.8.11 and 2016.3.2 to versions later than 0.3.0

[2016-08-03 00:11] luc-poynt commented on #35083
@Ch3LL thank you! : i plan to add one more feature : but current testing the feature first

[2016-08-03 01:55] kstreee opened #35158 "Idea to resolve Salt Master 're-auth' issue."
### Description of Issue/Question

We have suffered from significant resource peak (for specifically, CPU peak), which is caused by 're-auth' in Salt Master. [As already well known](https://docs.saltstack.com/en/latest/topics/tutorials/intro_scale.html#too-many-minions-re-authing), there is a CPU usage issue in Salt Master which is caused by 're-auth'. In our case, we run a single Salt Master, whi

[2016-08-03 01:56] SolarisYan commented on #35087
get it, thx,i'll close this issue

[2016-08-03 01:56] #35087 closed

[2016-08-03 04:22] mikesager commented on #35139
I've just run into this same issue and found this issue during my search.  I've been at it for a few minutes and I think I have info to help.  Run `docker images` and see if there are any entries with `<none>` in the `TAG` column.  That seems to be why it's choking.  I suppose there just needs to be a test for this condition, but I'm not familiar with the codebase nor am I grokking Python beyond a

[2016-08-03 06:30] SolarisYan opened #35160 "salt-api token expire"
Hi there, i use salt-api, first i get a token,and request with the the token.
but if i used the expired token, the  request don't have any result, can i set some message to tip the token
have expired?

curl -sSk http://xxx:8000 \
     -H 'Accept: application/x-yaml' \
     -H 'X-Auth-Token: 1500f41dafb0d1b6e538e1d98324240a0a7beb1e7b35afa6bc60e357913d288a69fdce329e35c26dad38642f1bc8a3f20e36bf8388b6

[2016-08-03 06:56] toanju commented on #35090
Oh, sorry haven't seen that one. Will give it a try later today.

[2016-08-03 07:11] toanju commented on #35090
Actually had some time right now. Works like a charm, thanks! Its a pity, that #33518 didn't find its way into v2016.3.2

[2016-08-03 07:12] #35090 closed

[2016-08-03 07:41] fracklen commented on #34445
@mbochenk @Ch3LL The problem still persists in 2016.3.2. The problem is, that `image` doesn't quite cut it for OpenNebula, as they primarily deal with `template`s.

Also, the version in 2016.3.2 looks up the image id based on image name and uses this for the template id. 🙀

The version in develop is much more sane.

@Ch3LL Any chance we could merge the develop version into 2016.3.3?

[2016-08-03 08:15] jdelic commented on #35069
@Ch3LL Thank you for your reply and suggestions, those were quite helpful. First of all, I managed to get debug logs. So with minion and master running on the same host, installed via `salt-bootstrap.sh`, their configuration mounted into `/srv/salt` etc. on the VM using `vboxsf`, this is what happens during the initial highstate in chronological order:

 1. `/var/log/salt/master`: The `master` ren

[2016-08-03 09:20] lesykm opened #35162 "Grains targeting delimiter presense check do not work"
### Description of Issue/Question

salt -G 'foo' does not return error, but should according to:
https://github.com/saltstack/salt/blob/6fc677f1777ed15488bb0e7adf9a4056906ade5c/salt/minion.py#L2345-L2348
### Setup

Installed salt master (2015.5.10/2015.8.10/2016.3.1) with connected minions
### Steps to Reproduce Issue

salt -G 'foo' test.ping
### Versions Report

[code]

[2016-08-03 09:21] lesykm commented on #34885
Done https://github.com/saltstack/salt/issues/35162
Thanks!

[2016-08-03 09:27] SolarisYan opened #35163 "salt file.mkdir"
Hi there ,i use file.mkdir to create directory,but the result is some confused.
If the result change to True or False is better.

salt '*' file.mkdir /root/salt-test
minion02:
    None
minion03:
    None

curl -sSk http://10.10.100.51:8000 \
-H 'Accept: application/x-yaml' \
-H 'X-Auth-Token: 61272ed743cc17a513e24a08f04abc7396c2d10fe914060d0a59abf5bf2f86b8f12ae999d8fbb48ad1f80fd43f64944c113e6512cf

[2016-08-03 10:07] SolarisYan opened #35164 "salt-api file.copy"
hello, i use salt-api to use file.copy,for file that is ok,but for directory,it has a issue as follow:

curl -sSk http://10.10.100.51:8000 \
-H 'Accept: application/json' \
-H 'X-Auth-Token: 61272ed743cc17a513e24a08f04abc7396c2d10fe914060d0a59abf5bf2f86b8f12ae999d8fbb48ad1f80fd43f64944c113e6512cfb3f457a5ae96dcf41f7353' \
-d client='local' \
-d tgt='*' \
-d fun='file.copy' \
-d arg='/tmp/salt/api/t

[2016-08-03 10:08] DmitryKuzmenko commented on #8705
All the work here is done.

[2016-08-03 10:08] #8705 closed

[2016-08-03 10:29] babilen opened #35165 "jobs.exit_success does not return anything"
### Description of Issue/Question

Running `salt-run jobs.exit_success $JID` does not appear to return any data. This might be because it checks the jobs `retcode` rather than `result` as documented in https://docs.saltstack.com/en/latest/ref/states/writing.html#return-data

### Steps to Reproduce Issue

Run `salt-run jobs.exit_success $JID` for a job listed in `salt-run jobs.list_jobs`.

[2016-08-03 10:43] babilen commented on #34945
@terminalmage The behaviour is the same in develop also. I've just tested this against git HEAD (i.e. 2ad9efe47a806a671749fed71bcc0d7a92c98138) and was able to reproduce it there also.

Do you see different behaviour?

[2016-08-03 11:08] MadsRC commented on #32384
I'm seeing the same thing on CloudLinux aswell. State maps stops working as they matched Red Hat earlier. The pkg module also breaks, as it states that pkg does not exist. I suspect pkg uses os_family to map package manager?

Anyone know why CloudLinux Server got it's own "os_family"? - It's a Red Hat derivative, just like Ubuntu is a Debian derivative - We don't treat Ubuntu any different from De

[2016-08-03 11:19] bobrik opened #35166 "state_output_profile defaults are confusing"
### Description of Issue/Question

Defaulting to different values is confusing:

[code]

Especially if in the majority of cases default is not what is documented:

[code]

### Versions Report

[code]

#29217 is related

cc @clan

[2016-08-03 11:26] muep opened #35167 "salt v2016.3.2 changes grains['osfinger'] from 'Ubuntu-14.04' to 'Ubuntu-14'"
### Description of Issue/Question
Salt versions 2016.3.1 and earlier had Ubuntu 14.04 systems report "Ubuntu-14.04" in the osfinger grain. Salt-minion 2016.3.2 on a similar system will have just "Ubuntu-14" in the same grain.

A system administrator may quite often write jinja templates that check for an exact string in that grain. The change in the grain will require a large number of adjustments

[2016-08-03 11:29] muep commented on #35167
To me, it looks like commit 9a6b2175c6c6b80fd557ad6ec6cfb54df0fcfcb5 would change content of osfinger on Ubuntu from name-version to name-( osrelease_info[0] ).

[2016-08-03 12:12] mikemcrill opened #35168 "Specified sha512 checksum does not match after upgrade to 2016.3.2"
### Description of Issue/Question
SHA512 checksums are not working for file.managed in S3 buckets as of 2016.3.2.  Complains about the checksum not matching, but it does match and was working prior to the upgrade.

### Setup
Have a state which has a file.managed from S3:
[code]

### Steps to Reproduce Issue
Use the above state, will receive this error:

` Comment: Specified sha512 checksum for s3:

[2016-08-03 12:43] cro commented on #34446
https://saltstack.zendesk.com/agent/tickets/883

[2016-08-03 12:44] meaksh commented on #34691
@thatch45 @dmacvicar @rallytime after testing this fix, seems we should also include the changes in https://github.com/saltstack/salt/pull/35146 in the `2015.8` branch to get `beacons.list` working as expected (currently https://github.com/saltstack/salt/pull/35146 is only merged in `develop`).

[2016-08-03 12:47] byteknacker opened #35169 "Idea: salt.state.lock"
Feature Request:

Would it be advisable to implement a new state which locks the server provisioned by salt from any manual updates. So any operator that logs into the server cannot do any manual changes to the server but everything is readable. This is important to enforce infrastructure as code practice and make the server immutable. You can only change the server's configurations if you change

[2016-08-03 13:52] discotroy opened #35171 "Module dependencies not met by saltstack packages"
### Description of Issue/Question

I provision VMs via salt-cloud which installs the (2015.8.8) minion from Ubuntu repos, and then adds in the salt-stack repos and upgrades to the latest version as part of the state.apply.

Seemingly as a result of this process, certain dependencies within the partition module (and possibly others) are not met.  As a result, e.g. `partion.list` fails and is report

[2016-08-03 14:03] cachedout commented on #34691
@meaksh My bad. I'll mark that for backporting. Thanks.

[2016-08-03 14:14] #35149 closed

[2016-08-03 14:43] cachedout commented on #35158
I like this idea. +1

cc: @thatch45, @DmitryKuzmenko

[2016-08-03 15:17] hoitsang commented on #27400
The problem seems to be coming from the yum respond having "Package 1:" instead of "Package"

[code]

Take a look at yum install git
[code]

[2016-08-03 15:19] nmadhok commented on #34662
@sebw salt version is not really needed here since this issue exists in all versions including develop branch. But thanks anyway! 👍

[2016-08-03 15:21] nmadhok commented on #32364
Any updates on this issue? This seems to be more like an issue creating VM's in parallel using the api and not just specific to VMware cloud driver. @cachedout @techhat Thoughts?

[2016-08-03 15:40] terminalmage commented on #34945
Well, that would be expected, since we branched 2016.3 from develop originally, and any changes in the 2016.3 branch are merged forward into the develop branch.

I didn't try to replicate this, I was only answering your question.

[2016-08-03 16:36] aabognah commented on #27295
I am having trouble forcing file.line to replace occurrences of the match string at the beginning of a line. I am using '^' but it seems to be interpreted literally and the match is not found.
[code]

file contents:
[code]
outcome:
nothing is replaced when using ^
without ^ all occurrences of 'match string' are replaced

[2016-08-03 16:37] rallytime commented on #34691
@meaksh I've backported #35146 to the 2015.8 branch in #35174.

[2016-08-03 16:48] clinta commented on #35056
So it looks like since 6d21f50a73132eea28ae6629bbf5a39f1c649563 the hostname generation has been re-written. I'm not sure if this is still an issue on develop or not.

[2016-08-03 16:51] clinta commented on #35056
@isbm can you comment on the changes to generating the hostname in develop? Do your changes fix this issue?

[2016-08-03 17:00] #35096 closed

[2016-08-03 17:21] thatch45 commented on #35158
I also like this idea, the problem is if we can track the minions inside zeromq, so that the minion groups are cohesive, if we can do that then we are a go here.
Also just for the record, if we add support for curve25519 and salsa20 from libnacl then that would also lower the cpu overhead DRAMATICALLY. If we did both then it would be optimal

[2016-08-03 17:31] plastikos commented on #33516
Have any of you tried `minion.kill` or `minion.restart`?

[2016-08-03 17:33] babilen commented on #34945
Ah, I was just under the impression that you would be the best person to ask about this. Sorry if that wasn't the case.

[2016-08-03 17:56] whiteinge commented on #35164
salt-api calls Salt's [LocalClient](https://docs.saltstack.com/en/latest/ref/clients/index.html#salt.client.LocalClient.cmd) interface and so any positional arguments or keyword arguments must be given to the `arg` or `kwarg` parameters that the various LocalClient.cmd* methods accept. These are the arguments that are sent down to the minion. Since LocalClient is often called from the CLI it also

[2016-08-03 18:04] JensRantil commented on #27295
@aabognah Have you tried using `file.replace` instead?

[2016-08-03 18:06] Ch3LL commented on #35097
@jwhite530 did you notice this after upgrading to 2016.3? If so how did you update your packages?

[2016-08-03 18:22] Ch3LL commented on #35088
I am seeing the same behavior when running the following command: `sudo salt-cloud -a set_tags ch3ll_test tag1='Øtag' -ldebug`

ping @techhat do you know if there is a better way to handle these characters in tags?

[2016-08-03 18:26] jwhite530 commented on #35097
@Ch3LL I can't associate it with an upgrade, I just noticed it happening.  I had problems with schedule.py in previous versions, but none that kill my minions.  It probably started when I added a few states into each minion's schedule but I can't pinpoint one of them being the problem either.  In the mean time I've abandoned Salt's scheduler entirely and removed every state that was using it.

[2016-08-03 18:27] terminalmage commented on #34945
I am familiar enough with the code to address it, but I probably won't be able to get to it for a couple days. I'm juggling a few other issues at the moment.

[2016-08-03 18:29] Ch3LL commented on #35094
@oliver-dungey looks like I am able to replicate this in 2016.3.1:

[code]

Looks we definitely need to clean this up. Thanks for the heads up.

[2016-08-03 18:53] Ch3LL commented on #35102
hmmm okay looking at this code [here](https://github.com/saltstack/salt/blob/develop/salt/modules/mac_service.py#L71) I believe is where its attempting to read that file.

It seems from the code that it is trying to read plist files. I am not familiar with macosx so from a quick google search it seems these are just configuration files or preferences files for software. It seems this code is attem

[2016-08-03 20:18] ahammond commented on #35074
@jgartrel can you confirm you followed the above instructions for certificate generation?

[2016-08-03 20:35] Ch3LL commented on #35107
looks like i'm able to replicate this behavior:

[code]

using the following sls file:

[code]

I tested this on 2016.3.2 as well.

[2016-08-03 20:35] Ch3LL commented on #35107
@ariscn is that the same error you were also receiving?

[2016-08-03 20:37] ariscn commented on #35107
@Ch3LL I believe I was seeing a slightly different message, but I was running salt-minion with `-l debug`. Either way, I'm glad you were able to reproduce the issue.

[2016-08-03 20:43] Ch3LL commented on #35112
@Cashwini can you clarify your question. Are you referring to being able to change what salt master the salt minion is pointing to via the command line? Thanks in advanced for any more clarification.

[2016-08-03 20:46] Ch3LL commented on #35121
@sjorge thanks for the PR. We will close this once the PR has been reviewed and looks like once the discussion over windows is resolved. Thanks!

[2016-08-03 20:46] isbm commented on #35056
Yes, I rewrote this thing exactly because the minion is now what DNS tells all the time. Actually, always been, just was a pretty weird sorting that nobody knew why it was existing. We ran into a trouble with this, where longer names with "more dots" were in priority (which is wrong) and renaming host won't be possible. Now is just an FQDN whatever first returned, if fails, just a hostname. This w

[2016-08-03 21:04] derekmaciel commented on #34861
Further testing needs to be done to determine if #35119 correctly addresses one half of this issue (package fails to install when it is not currently installed).

[2016-08-03 21:30] Ch3LL commented on #35127
@byteknacker `pip_state` is the name of the file `salt/states/pip_state.py`. The reason you use `pip.installed` instead of `pip_state.installed` is because of what we call `virtualname` and the virtual function which is documented [here](https://docs.saltstack.com/en/2015.8/ref/modules/index.html#virtualname) and [here](https://docs.saltstack.com/en/2015.8/ref/modules/index.html#virtual-function)

[2016-08-03 21:33] Ch3LL commented on #35111
@trebortech if you run it with the cloud.profile execution module does it bootstrap like so:? `salt '10*' cloud.profile linode_ubuntu14 ch3ll_test -ldebug` I tested this with a linux VM and did not see the same behavior.

[2016-08-03 21:45] Ch3LL commented on #35123
@valintinr can you please paste the other related logs when attempting to install a package?

also what is the output of `salt 'minion' grains.item os` and `salt 'minion' grains.item os_family`?

Looks like we need to add support for this OS.

[2016-08-03 21:47] Ch3LL commented on #35128
@ze42 thanks for the PR. Once the PR is merged we will close this issue. Thanks

[2016-08-03 22:11] spyd3r commented on #29081
I'm interested in this feature as well.

[2016-08-03 22:12] derekmaciel commented on #34058
@Ch3LL What about if the symlink doesn't exist? Without the target it will not be able to create it. In my opinion, file.symlink should always be able to create the symlink if it does not exist.

salt.states.file.exists is currently used to ensure a file merely exists without attempting to create it if it does not. What about extending it from:

to:

@anlutro Note the restriction in force_symlink

[2016-08-03 22:12] Ch3LL commented on #35137
@pepoluan i'm assuming you are getting this output using one of the options for `state_output`. If so which one are you specifying?

[2016-08-03 22:13] Ch3LL commented on #35137
Also forgot to say that I will approve this as a feature request. Just need the additional information to ensure we are adding it for the correct state outputer you specified.

[2016-08-03 22:26] Ch3LL commented on #35139
@epelc can you check if you indeed are running into the same behavior as @mikesager ? do you have any images with none in the tag column. I'm not able to replicate this behavior on a clean setup using this state file:

[code]

So it seems that might be the key factor into why you are running into that issue.

[2016-08-03 22:34] Ch3LL commented on #33536
@galet i just tested on the head of 2016.3 and its working for me. I'll go ahead and close this issue.

@stardust85 apologies for the bug. I think the best way to ensure this does not happen again is to write a test. I will label this as needstestcase and add an issue in our qa repo to get a test written for this issue.

[2016-08-03 22:35] Ch3LL commented on #35154
@heaje I believe this is a duplicate of #33536 which has been fixed in #35055

Would you mind giving that fix a try and seeing if it resolves the issue?

[2016-08-03 22:41] Ch3LL commented on #35160
@SolarisYan i think this is a great idea. just to make sure its plausible:

ping @whiteinge do you think this is plausible with salt-api? I'm not certain of its limits or if it is able to parse errors efficiently.

[2016-08-03 22:46] epelc commented on #35139
@Ch3LL I can confirm having I untagged(none) images causes it.

I partially worked around it today by removing all none images before using the docker module.

[2016-08-03 22:47] seanjnkns commented on #33561
Retested this on 2016.3.2 and although there's roughly a 1-1.5s overhead increase compared to 2015.8.11, the time difference between salt \* state.highstate vs. salt-call state.highstate is the same.  Posting my results of just a single salt master/minion combination with the 2 versions:

2015.8.11:
	echo 3 > /proc/sys/vm/drop_caches ; time salt-call state.highstate:
	real	0m9.643s
	user	0m5.477s

[2016-08-03 22:47] #33561 closed

[2016-08-03 22:49] rallytime opened #35187 "[PY3] Top File Merge order is variable instead of lexicographical"
### Description of Issue/Question
The order that top files are merged in by default has changed when running Salt with Python 3. We have a couple of tests to check for this - the expected way that top files will be merged/ordered by default is lexicographically when running Salt in Python 2. Python 3 seems to treat lists more as traditional lists - they are unordered and results will vary.

I trie

[2016-08-03 22:57] Ch3LL commented on #35171
@discotroy this is expected behavior. We do not install all dependencies for all modules.

According to the docs partition.list depends on `parted, partprobe, lsblk (usually parted and util-linux packages)`

Sinc you are using salt-cloud you have your minion install those packages as part of hte install process by adding the following to your profile/provider file:
`script_args: -p <name of packag

[2016-08-03 22:58] derekmaciel commented on #35163
This would make sense considering other similar methods (such as file.link) in the same module return True or False.

We can simply add `return os.path.isdir(directory)` to the end of [`file.mkdir`](https://github.com/saltstack/salt/blob/develop/salt/modules/file.py#L4562)

[2016-08-03 23:08] Ch3LL commented on #35162
@lesykm thanks for catching this as well. Looks like we need to ensure this error shows up. Thanks!

[2016-08-03 23:11] Ch3LL commented on #35163
Agreed we need to add a better return something more useful then None on this `file.mkdir` module. Thanks we will need to get this fixed up.

[2016-08-03 23:23] Ch3LL commented on #35165
I'm able to replicate this behavior.

Its looking for 'retcode' [here](https://github.com/saltstack/salt/blob/develop/salt/runners/jobs.py#L516)

but when running with pdb I noticed `retcode` is not in `data`

We will need to get this fixed up. Thanks

[2016-08-03 23:34] Ch3LL commented on #35107
@ariscn thanks for the follow up and clarifying whether its the same error

In regards to your question: here is a description of our severity levels [here](https://docs.saltstack.com/en/latest/topics/development/labels.html#severity) and p1-p4 labels [here](https://docs.saltstack.com/en/latest/topics/development/labels.html#priority)

So in other words it is high severity because this is bad func

[2016-08-04 00:56] oakad commented on #35048
Upon further work, I discovered that many other functions related to publish/grains (I'm using grains discovery from minions extensively) combo are broken under raet, having me switch back to zmq.

[2016-08-04 01:35] DaveQB commented on #27421
Trying to setup a 2016.3.2 server for testing and it can't connect to a 2016.3.2 external minion. Yet the minion can connect to the master with a salt-call. Should I start a new Issue in github or a thread on google groups? I have salt event info.

Thanks.

[2016-08-04 01:45] SolarisYan commented on #35164
@whiteinge Thank you very much for your detailed explanation, i will close it now

[2016-08-04 01:45] #35164 closed

[2016-08-04 02:35] SolarisYan commented on #35122
i think i have know why. see [https://github.com/saltstack/salt/issues/35164](url)

[2016-08-04 02:35] #35122 closed

[2016-08-04 04:22] derekmaciel commented on #29785
If you only want to be able to install a specific version or the latest version of a package based on some pillar data, you should already be able to do that without this suggested feature with something like this:

[code]

In my opinion, if you want the package to be the latest version of the package, you should be using `states.pkg.latest`. @jfindlay suggesting this issue be closed

[2016-08-04 04:31] zlanich commented on #25555
For clarity, did this thread die for no reason, or because Salt Orchestrate Runner can now do everything mentioned above?

[2016-08-04 06:50] weijx0321 opened #35192 "custom module use __salt__"
### Description of Issue/Question

Each module is a separate running without problems, to import a module into another module on error like this
“NameError: global name" **salt** "is not defined”
thanks
### Setup

(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
### Steps to Reproduce Issue

(Include debug logs if possible and relevant.)
### Versions Report

(

[2016-08-04 07:16] valintinr commented on #35123
Hi!

`[root@salt-master ~]# salt 'nl32*' grains.item os
nl32.tanhost.com:
    ----------
    os:
        Virtuozzo
[root@salt-master ~]# salt 'nl32*' grains.item os_family
nl32.tanhost.com:
    ----------
    os_family:
        Virtuozzo
[root@salt-master ~]#
`
No other important logs
`2016-08-03 04:00:05,291 [salt.state       ][ERROR   ][16834] The named service atop is not available
2016-08-03 0

[2016-08-04 07:23] byteknacker commented on #35127
Thanks @Ch3LL, I totally forgot about this virtualname.

[2016-08-04 07:23] #35127 closed

[2016-08-04 07:28] meaksh commented on #34691
@cachedout @rallytime Thanks!

[2016-08-04 07:52] xbglowx commented on #13843
I am experiencing the same problem with `2016.3.2`.

[2016-08-04 08:27] onmeac opened #35193 "Add rsync:// to saltstacks repo.saltstack.com"
Would it be possible to add rsync capabilities to saltstacks repo.saltstack.com?

For those of us that have internal repository servers,and or like to mirror public ones, rsync is a really good method to use for keeping repos in sync.

Many other public repo servers offer http ftp and rsync support for synchronisation.

[2016-08-04 08:29] paul-mulvihill commented on #29785
@derekmaciel  I'm aware of that approach to deal with this issue.  I am just requesting that it be reviewed to allow the "latest" to be used as a version value.
Other config management systems have this feature and it would be cleaner code from a state file view point if it did. Otherwise every time i want to install a package I need to have an if statement. While yes this is functional it isn't a

[2016-08-04 09:14] furlongm opened #35194 "[ERROR ] boto_route53 requires at least boto 2.35.0."
This error keeps repeating when I run the following:

[code]

I don't use boto_route53 at all so not sure why its giving me an error.

Salt versions:

[code]

[2016-08-04 09:54] lorengordon commented on #35193
Was done recently: https://github.com/saltstack/salt/issues/29222#issuecomment-234020952

[2016-08-04 10:02] lorengordon commented on #34058
Can file.managed be used to set the user/group/mode on the symlink? We use it for that purpose with regular files all the time.

[2016-08-04 10:03] onmeac commented on #35193
Awesome, should have done a better search <embarrassed>.

[2016-08-04 10:06] lorengordon commented on #35193
Hehe, it _would_ be nice to get a note about it on the repo page... :grinning:

[2016-08-04 11:53] goestin opened #35198 "beacons modules: service fails"
### Description of Issue/Question
When i use the following beacon configuration to assign a beacon configuration from pillar, the configuration is not working. However the configuration is according to the documentation.

[code]

The message when i run "salt-minion -l warning" is as follows:
[code]

### Fix
Attached is a patch for the file: /usr/lib/python2.7/dist-packages/salt/beacons/service.py

[2016-08-04 11:55] usernkey commented on #19349
I run this issue too with few minions  on 2016.3 release

[root@inth1-ams-ss1 ~]# rpm -qa | grep salt
salt-2016.3.0-1.el7.noarch

as workaround I just stopped the minion delete the cache in /var/cache/salt and restarted the minion

[root@inth1-ams-ss1 ~]# salt amsbup03.hosted.internal test.ping
[CRITICAL] Could not deserialize msgpack message.This often happens when trying to read a file not in bi

[2016-08-04 12:40] NagarajGond opened #35200 "gce: Failed to get the output of 'gce.avail_images()' : : oid"
I want to list available images in gce

[code]

[code]

[code]

[code]
# \- Traceback

[code]

[code]

Thanks

[2016-08-04 13:07] iplux commented on #34161
Same issue here after upgrading. I have a small percentage of Salt minions that are temporarly down and I am having the same issue.
This problem is also preventing me to run some commands like:

salt-run manage.status

The tricky part is that running:

salt '*' test.ping

stalls indefinitely instead if I get a full list of all my minions (connected and disconnected) and execute:

salt minion test.

[2016-08-04 14:28] rallytime commented on #35193
@onmeac Yes - we should definitely get this documented on the repo page! Thank you for the reminder.

@jacobhammons and @UtahDave

[2016-08-04 15:28] thatch45 commented on #27421
Yes, lets start a new issue. Have you tried to add the pillar cache options to the master?

[2016-08-04 15:43] dmurphy18 commented on #19349
@usernkey Can you post the output from --versions-report, interested in which version of 21016.3, platform, etc.  I had hoped the latest release with msgpack upgrades would have resolved this issue.

[2016-08-04 15:55] usernkey commented on #19349
I do not know if might be related but I got same issue on other  minions  but since I increased the  number of threads in the master and syndication I did not have anymore more the error.

[root@amsbup03 ~]# salt-call --versions-report
Salt Version:
           Salt: 2016.3.0

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: 1.4.1
          gitdb:

[2016-08-04 16:00] Ch3LL commented on #35166
@bobrik are you running into a specific problem with `state_output_profile`? Is the usage confusing? Can we improve the docs? I'm a little unclear what the issue at hand is exactly. Any other clarifying information would be appreciated. Thanks.

[2016-08-04 16:08] cachedout commented on #35167
@isbm it looks like this did end up with some unintended consequences.

That said, now that this change has been made I am reluctant to revert this. I don't want to flip-flop between schemes...

[2016-08-04 16:25] bobrik commented on #35166
@Ch3LL I think that default in code should be the same as in example config. I am happy to make a PR if salt developers agree.

If salt developers disagree, I'd like to understand why.

[2016-08-04 16:30] jf opened #35203 "Targets are irrelevant and don't matter when calling `state.show_sls`"
### Description of Issue/Question

When using `state.show_top`, the output shows things as they'll be applied to the relevant host. However, when using `state.show_sls`, the identity of the targets becomes irrelevant. So even if you pass a state that does not apply to all of your targets, *the report will still come back as if it does apply to every single target/s*.

I'm thinking that this should

[2016-08-04 16:44] muep commented on #35167
Based on further examination, the truncated version number in osfinger seems to be present regardless of Ubuntu version.

Keeping it truncated has a number of issues:
 - osfinger no longer allows distinguishing between e.g. Ubuntu 17.04 and Ubuntu 17.10
 - a mix of salt minion versions[1] will result in inconsistent values in osfinger

[1] latest salt does not seem to be easily available e.g. for

[2016-08-04 16:59] orner commented on #34029
I'm running 2016.3.1, and I'm having this same problem, which seems like it's making the runas functionality on Windows nonusable.

    Function: module.run
        Name: cmd.run
      Result: False
     Comment: Module function cmd.run threw an exception. Exception: password is a required argument for runas on Windows
     Started: 09:50:52.453000
    Duration: 16.0 ms
     Changes:

    TestCmd:

[2016-08-04 17:04] bx5974 opened #35204 "What is the equivalent of puppet resource command for salt"
### What is the equivalent of "puppet resource" command for salt - to auto-generate the manifest or salt code?

[2016-08-04 17:13] aabognah opened #35205 "salt-run compact outputter (--out=compact) broken"
### Description of Issue/Question

The compact outputter option (--out=compact) seems to be broken.

Error message:

[code]
### Steps to Reproduce Issue

run:

[code]

You will get:

[code]
### Versions Report

[code]

[2016-08-04 17:17] Ch3LL commented on #35168
@mikemcrill i am able to replicate this behavior:

[code]

2016.3.1:

[code]

2016.3.2:

[code]

For some reason I'm having a hard time runing a git bisect and trying to find the exact commit that broke this. But another thing to note is that i tested this in 2015.8. I tested from 2015.8.10-2015.8.5 and it wasn't working there either. Do you know if this was working for you in 2015.8?

[2016-08-04 17:19] mikemcrill commented on #35168
No, I couldn't tell you--I didn't have this state setup back then.

[2016-08-04 17:23] rallytime commented on #35205
Hi @aabognah - this is essentially a duplicate of #18614. The `compact` outputter has never worked officially. However, I have posted some other options in that issue that should get you close to what you're looking for. Can you take a look at those suggestions and make sure I've covered all of the use cases that the compact outputter was supposed to cover?

[2016-08-04 17:29] Ch3LL commented on #35192
@weijx0321 could you give more information as to what your current module looks like right now. You should be able to cross call other modules simply using `__salt__` as documented [here](https://docs.saltstack.com/en/2015.8/ref/modules/index.html#cross-calling-execution-modules) but any other information would be appeciated so we can help you out. Thanks

[2016-08-04 17:45] bx5974 commented on #35204
as we see in this man page

https://docs.puppet.com/puppet/latest/reference/man/resource.html

This example uses puppet resource to return a Puppet configuration for the user luke:

` $ puppet resource user luke
user { 'luke':
 home => '/home/luke',
 uid => '100',
 ensure => 'present',
 comment => 'Luke Kanies,,,',
 gid => '1000',
 shell => '/bin/bash',
 groups => ['sysadmin','audio','video','pupp

[2016-08-04 17:55] aabognah commented on #35205
Hi @rallytime . Thanks for the quick response. good to know that its not just me facing this issue. I'll add my questions to the original post.

[2016-08-04 17:56] aabognah commented on #18614
Hi,

I am trying to manage the output from `salt-run jobs.list_job`. I want to only output the states that failed or changed within the specified job as I am sending the output in an email notification. `--state_verbose=False` does not seem to work with `salt-run`.

Anas

[2016-08-04 18:37] dmurphy18 commented on #33662
@bigg01 Closing this since the issue has been resolved, if you feel the resolution is unsatisfactory , please feel free to reopen it.

[2016-08-04 18:37] #33662 closed

[2016-08-04 18:44] cachedout commented on #31074
Hi all. Please see #35211.

[2016-08-04 18:59] bigg01 commented on #33662
thx

2016-08-04 20:38 GMT+02:00 David Murphy <notifications@github.com>:

--
O. Guggenbühl
System Engineer Solaris/Linux/ESX
Wehntalerstrasse 176
8057 Zürich
o.guggenbuehl@bluewin.ch
Mobile G: +41 79 776 39 55
Fixnet P: +41 43 311 68 36

[2016-08-04 19:11] laneshields commented on #30900
I hit upon this closed issue while troubleshooting my problem of not having images pre-seed.  It looks like, at least in Fedora Core 21 (I know, I know, old OS), sfdisk returns exit code 0 for sfdisk -d.  Here's an example:

`[root@peachtree modules]# salt 'peachtree' cmd.run_all 'sfdisk -d /dev/nbd0'
peachtree:
    ----------
    pid:
        5494
    retcode:
        0
    stderr:
        sfdisk

[2016-08-04 19:14] pratiktest commented on #34497
Yes we can,  my issue got resolved after i ensured version of minion = version of master. Only request I had is if this can be mentioned in some documentation or a proper error message is returned it would be clear what the exact issue is. Since I am not much aware of the salt code base ``Index error: pop from empty list `` dosent give me any information.

[2016-08-04 19:29] dmurphy18 commented on #19349
@usernkey Can you specify the increase, as in previous and current number of threads.

[2016-08-04 20:32] tdenny opened #35214 "git.latest fails on non-fast-forward when a fast-forward is possible"
### Description of Issue/Question
My git.latest state is failing with
`Repository would be updated to 08d6ca9, but this is not a fast-forward merge. Set 'force_reset' to True to force this update.`
However, this merge _is_ a fast-forward merge. ie. using native git allows fast-forward.

I'm fairly certain this is a new issue in 2016.3.2 and related to the improvements in #34869.

### Setup
The sta

[2016-08-04 20:37] tdenny commented on #35214
I think that `git merge-base` call (https://github.com/saltstack/salt/blob/v2016.3.2/salt/states/git.py#L877) is returning false because we haven't fetched from the remote yet.
Manually executing `git fetch` on the local repo, then re-salting works.

Moreover, executing `salt-call git.merge_base /srv/repos/myrepo/ '[a169d01,08d6ca9]' is_ancestor=True` gives
[code]

[2016-08-04 20:44] multani opened #35215 "salt.modules.consul always serialize to JSON before storing into Consul's KV database"
### Description of Issue/Question

The current `salt.modules.consul` module always serialize to JSON values which are stored into Consul's KV.
This is OK if we pass some structures to `consul.put` because it should only deals with strings, but if the value is already a string, then there's an unnecessary conversion to JSON which is done, which is specially a problem since the Consul's clients now

[2016-08-04 20:58] derekmaciel commented on #29785
@paul-mulvihill In that case, I see your point and I agree that this would allow cleaner state files. I could implement this soon, but I'm not sure which release it would eventually end up in. Since this isn't technically a bug, I don't believe it will be backported to 2016.3.

[2016-08-04 21:03] derekmaciel commented on #34058
If I understand the code correctly, file.managed would set the permissions to the linked file, not to the symlink.

[2016-08-04 21:05] terminalmage commented on #35080
whoops, that was meant to only catch `- mode: keep` with contents, contents_pillar, etc.

[2016-08-04 21:05] terminalmage commented on #35080
Will get a fix in ASAP.

[2016-08-04 21:11] terminalmage commented on #35080
Fixed in https://github.com/saltstack/salt/pull/35216.

[2016-08-04 21:12] svinota commented on #34978
pls try
[code]

«root» imports (like that, `from pyroute2 import …`) are intended to provide a fixed public API that would work despite any internal module layout changes

[2016-08-04 21:19] thatch45 commented on #35169
I think that feature would be reasonable, but if someone logs in a root, how would you lock them out? I think that the main question about if it is reasonable has more to do with how it is implemented.

[2016-08-04 21:28] Ch3LL commented on #35194
@furlongm i'm not able to replicate this on rhel7,cent7 or fedora22. Do you only see this when ONLY running a highstate or with other `salt-call` commands? If so what sort of state modules are you using in your highstate?

[2016-08-04 21:29] Ch3LL commented on #35198
@goestin thanks for the PR! We will get this closed up once the PR has been reviewed and merged. Thanks :+1:

[2016-08-04 21:36] thatch45 commented on #35169
Please also note that you can enforce state using the inotify reactor on config files managed by salt and a reactor which re-runs states when they are changed. I don't think that is quite what you described, but it is a patter that would logically accomplish the same thing

[2016-08-04 21:39] Ch3LL commented on #35090
ping @rallytime is it possible to get #33518 into 2016.3 looks like its only in develop.

[2016-08-04 21:47] aboe76 commented on #35080
@terminalmage thanks, I have tested your fix, and it works.

[2016-08-04 21:48] Ch3LL commented on #35200
hmmm @NagarajGond would you mind trying a couple things here.

1. downgrading libcloud below version 1. I know we have a known issue with libcloud with version1, but this error seems different.
2. How did you install pycrypto? Would you mind uninstalling/re-installing and see if that does anything. looks like there is a warning about how it was installed without libgmp.

[2016-08-04 21:58] thatch45 commented on #35203
This does behave in the desired way. The idea behind state.sls is that you can apply states that are not in the top file, you don't actually need a top file, since you can always just apply states. You can also run `state.apply <state>` to apply a state that is not defined in the top file.

The benefit here is that it allows for the configuration management system to be used for more, like running

[2016-08-04 21:58] #35203 closed

[2016-08-04 22:03] rallytime commented on #35090
I have marked #33518 for backporting to the 2016.3 branch.

[2016-08-04 22:12] Ch3LL commented on #35204
i really like this idea. I can't think of something that is currently implemented. So I will approve as a feature request fro now.

ping @thatch45 @cachedout how difficult do you guys think this would be to implement? Or maybe there is something currently already implemented that I'm not thinking of?

[2016-08-04 22:16] derekmaciel commented on #34058
Just wrote a quick state to test this and I confirmed that yes, it sets the permissions on the linked file, not the symlink itself. This is fine for most systems but on some systems the symlink's permissions are important, like on OS X.

[2016-08-04 22:23] whiteinge commented on #35160
Salt performs both the authentication and authorization and salt-api only performs a couple light sanity checks. We certainly could add a check to salt-api for this. I think the ideal fix is #6420 but that's a trickier change to make.

[2016-08-04 22:25] rstarkey commented on #35167
I too was bitten by this and I've worked around it but what a PIA to have two different behaviors of a grain based on different versions of salt.

@cachedout, I vote to fix something that's broken.  Changing core grain behavior without a deprecation notice is bad form.  Fix it and call it a regression in 2016.3.2.

[2016-08-04 22:46] rvora opened #35218 "Why salt-minion needs to be restarted for beacon config to be updated via pillar"
### Description of Issue/Question

I wrote a new beacon and put the file under /srv/salt/_beacons. I copied an existing haproxy.py beacon and just changed the beacon function.

I wanted to add a test: True / False config to allow beacon to run in test mode. Like so in a pillar file:

[code]

By default, test is False. I added log.debug("config: %s" % config) to mybeacon.py to print out value of co

[2016-08-04 23:43] richardscollin commented on #35028
The test suite is run in multiple processes correct? It seems to me that the process that is in charge of cleaning up the temporary log directories does this before the other processes have finished. Then if one of the other test processes tries to log something the file no longer exists.

I believe the error only showed up after that commit because the process that was doing logging hung after ru

[2016-08-04 23:45] MTecknology commented on #35167
After looking over the patch, it seems it was written to reduce redundant (spaghetti) code. It seemed to do an excellent job of that.

I'm tempted to ask why a change like this made it into a point release in the first place because it did not seem to resolve any open bugs in the previous release. ( but I won't )

In the case of Ubuntu, 16.04 is the major release version. As much as we'd love to s

[2016-08-05 00:19] nmadhok opened #35219 "salt develop broken - state run showing traceback and raising AttributeError"
Salt develop branch is broken. When trying to run any state using salt from develop branch, getting the following error:

[code]

Looks like the commit https://github.com/saltstack/salt/commit/73a156d28cafd45dcc6c2aac9f1ac3ad905695e3 made by @terminalmage caused it

PR with the fix coming soon!

[2016-08-05 00:21] mweinelt opened #35220 "`service.running` with enable & watch does not enable"
### Description of Issue/Question

The `service.running` state does ensure that the service is running, but not that its systemd units are being enabled.
After commenting the `watch` statement the systemd unit enables properly. Is my logic flawed or salts?

Before highstate
[code]

Highstate
[code]

After highstate
[code]

### Setup
[code]

### Steps to Reproduce Issue
-

### Versions Report
[code

[2016-08-05 00:35] derekmaciel commented on #34963
Does this bug exist on non-yum systems? It looks like currently `states.pkgrepo` does nothing with `comments` and merely defers it to the system's respective `pkg` module.

[2016-08-05 02:18] nmadhok opened #35223 "Core grains broken on salt develop branch"
Some of the core grains do not populate properly after changes in https://github.com/saltstack/salt/commit/bc73db071a84a61b5711018266ba1d1599096c56 were implemented.

One of the  broken grain is ``osmajorrelease`` whose type has been changed from ``string`` to ``int`` causing the following state to fail:

State:
[code]

Error:
[code]

Other grains that broke include ``osfinger``: See related issue

[2016-08-05 02:56] terminalmage commented on #35219
SLS?

[2016-08-05 02:57] terminalmage commented on #35219
Versions report?

[2016-08-05 03:27] pepoluan commented on #35137
Hi @Ch3LL , sorry for not responding sooner.

The state outputter I use in the example above is "**mixed**".

[2016-08-05 03:32] jf commented on #35203
I see. Thanks for the explanation!

[2016-08-05 03:45] nmadhok commented on #35219
SLS:
[code]

Versions report:
[code]

[2016-08-05 04:18] NagarajGond commented on #35200
re-installed the pycrypto and downgraded libcloud to few versions(0.19.0, 0.17.0, 0.14.0), still the same issue.

[root@localhost salt]# salt-cloud --list-images gce-config -l debug
[DEBUG   ] Reading configuration from /etc/salt/cloud
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Including configuration from '/etc/salt/master.d/reactor.conf'
[DEBUG   ] Reading configuration fr

[2016-08-05 04:23] derekmaciel commented on #29785
This feature seems to have already been added to 2015.8 as per #19346

[2016-08-05 04:45] haraldrudell commented on #33163
- This is still broken on Ubuntu 16.04
- suggested fix no work
- The true code fix is here: [https://github.com/saltstack/salt/pull/33180/files](https://github.com/saltstack/salt/pull/33180/files)
- if one puts the below in a file called file (including greater than and hyphens and 23a24):
<pre>
23a24

176,177c177,182
<         ret['prefix'] = install_req.req.project_name
<         ret['version_sp

[2016-08-05 05:21] mathieubouchard opened #35226 "Do not throw an exception when an invalid requisite is set"
### Description of Issue/Question

When an invalid require tag is set, there are no safety check in the code and an exception will be raised instead of showing a nice explanation of what is going on. It makes it really difficult to diagnose what's wrong with the SLS file.

### Setup

Example SLS :
[code]

The following exception will be raised :
[code]

The line **1868** in **/usr/lib/python2.6/si

[2016-08-05 06:09] cetra3 commented on #32719
@jfindlay,

I've managed to run into this issue also.

Steps to reproduce:

* Disable ipv6:
[code]

* Make sure there is no AAAA record for the hostname of the server in `/etc/hosts`

To fix this, you can either reenable ipv6:

[code]

Or add an entry into the `/etc/hosts` file equal to the hostname, pointing to ipv6 loopback.  I.e, if your server's hostname is `server.example.com`, add the follow

[2016-08-05 07:01] paul-mulvihill commented on #29785
Hi @derekmaciel
Thanks for letting me know that.. It looks like it works if you call it a specific way. I have just tried it on my dev platform and one way work ones doesn't.
Works:
minion:
  pkg.installed:
    - allow_updates: True
    - name: salt-minion
    - version: latest

Doesn't:
minion:
  pkg.installed:
    - allow_updates: True
    - pkgs:
      - salt-minion: latest

This is on a master

[2016-08-05 07:11] derekmaciel commented on #29785
I agree, if that is the case in 2016.3 it could use some improvement. I can test it further soon.

[2016-08-05 07:54] usernkey commented on #19349
My current configuration is with two active master in two different  datacenters and 2 syndication servers ( failover configuration) in any datacenter (6 datacenters so 12 syndacations).

we are currently running only ~200 minion in this fase but they will increase to ~7000.

I increased the worker_threads parameter from 20 to 100 on  the masters and from 50 to 100 on the syndications.

[2016-08-05 08:36] isbm commented on #35167
I'd rather extend what it is now to pass Ubuntu (and it is really easy), instead of returning back all those spaghetti code as per #35221 PR. Also I don't see any unit test case from Ubuntu guys. :smirk: Instead of accepting #35221 I would rather do the following:

1. Add a unit test for Ubuntu.
2. Add to the _existing_ code what is missing.

Raspbian anyone? Actually I am on Ubuntu system right n

[2016-08-05 09:00] byteknacker commented on #35169
How about completely disabling root. So access with root is impossible manually. Developers should deal with this security aware practice and completely avoid manual changes on servers. Anything that would be done on a server is through definition files which either triggers templates or directly provisions servers from scratch.

I am sure many system admins would consider this too restrictive. Le

[2016-08-05 09:59] isbm commented on #35223
@nmadhok Why you're getting only a first character from the string here?
[code]
It will result you to a wrong data:
[code]
In your case it will be "1". Am I missing something?

[2016-08-05 10:03] nmadhok commented on #35223
The check works for RHEL family since their os major version is always single digit. Example RHEL 5/6/7 or Oracle Linux 5/6/7 etc. Look at the code after this:

[code]

[2016-08-05 10:05] isbm commented on #35223
But you don't have to do that. It will be one digit anyway. I am also wondering how did you ran into an `int` problem, since it supposed to return string.

[2016-08-05 10:07] nmadhok commented on #35223
Actually, ``osmajorrelease`` used to return a list. See https://github.com/saltstack/salt/commit/d5629fa454219aec2529f79a4616869d6a72ebb2

[2016-08-05 10:09] nmadhok commented on #35223
@isbm The develop branch doesn't have the fix. It returns an integer on develop branch. Here's the difference between the two branches:

2016.3: https://github.com/saltstack/salt/blob/2016.3/salt/grains/core.py#L1493

develop: https://github.com/saltstack/salt/blob/develop/salt/grains/core.py#L1521

[2016-08-05 10:10] isbm commented on #35223
@nmadhok oh but let's now focus on the 2016.3. Develop is an another story.

[2016-08-05 10:10] isbm commented on #35223
@nmadhok Take a look: https://github.com/saltstack/salt/pull/35227

[2016-08-05 10:11] nmadhok commented on #35223
@isbm Merge forward should be performed from 2016.3 to develop. I do most of the testing on develop branch so makes it very difficult to test if the branch is broken.

[2016-08-05 10:14] isbm commented on #35223
@nmadhok Testing on develop and production on 2016.3 is a very-very bad idea. You should have your dev/qa/prod environments within the _same_ component version.

[2016-08-05 10:21] nmadhok commented on #35223
@isbm Our production/dev/qa environments at the University all run the same version of Salt Enterprise. My personal development machine uses salt from develop branch since I develop new features and fix bugs on the branch.

[2016-08-05 11:27] gummeah opened #35228 "Mislead in documentation of modules.ldap3.modify?"
### Description of Issue/Question

I think there's mislead in documentation to **modules.ldap3.modify**. Or this module works not as it supposed to be.

Here's example in documentation:
`salt '*' ldap3.modify "{
    'url': 'ldaps://ldap.example.com/',
    'bind': {
        'method': 'simple',
        'password': 'secret'}
}" dn='cn=admin,dc=example,dc=com'
directives="('add', 'example', ['example_

[2016-08-05 11:40] Slayer09 commented on #34783
the root cause of your problem is that the powershell script that configure WINRM uses a self signed certificate for HTTPS communications. The default behavior in the Protocol class in winrm is to make strict validation of SSL certificate before opening a WINRM session. Because you are using a self signed certificate, this validation fails. Unfortunately, Salt does not override this default behavi

[2016-08-05 12:08] morganwillcock opened #35230 "win_dacl inhertitance states don't seem to do anything"
The inherit and disinherit functions in the win_dacl state don't seem to being returning anything or doing anything.

<pre>disinherit:
  win_dacl.disinherit:
    - name: 'E:\Data'
    - objectType: Directory
    - copy_inherited_acl: False

inherit:
  win_dacl.inherit:
    - name: 'E:\Data'
    - objectType: Directory
    - clear_existing_acl: True

check:
  cmd.run:
    - name: 'icacls E:\Data'</

[2016-08-05 12:46] blueyed commented on #14383
This gets done in the cloud module already: https://github.com/saltstack/salt/blob/5c65b77b1a9f13b4c9cacb5ffcf19b94aa2b174c/salt/cloud/clouds/ec2.py#L412-L421

[2016-08-05 13:01] terminalmage commented on #35219
This looks like it may be related to the archive.extracted state. Can you isolate the salt run to just that state, run ``salt-call`` with ``-l debug``, and post the result?

[2016-08-05 13:11] ghost opened #35231 "Consul external pillar doesn't work when using ACL tokens"
We are using Consul as an external pillar source and have the following configuration (as per http://docs.saltstack.cn/ref/pillar/all/salt.pillar.consul_pillar.html):

[code]

However, it looks like none of the HTTP requests to Consul are using the token:

[code]

and because of the ACL rules Consul returns HTTP 404:

[code]

   Content-Length: 0
   Content-Type: text/plain; charset=utf-8

I can d

[2016-08-05 13:12] grobinson-blockchain commented on #35231
We are running salt 2016.3.1 (Boron).

[2016-08-05 13:28] terminalmage commented on #32719
I still can't reproduce this.

[code]

And when I run salt-call:

[code]

[2016-08-05 13:33] terminalmage commented on #32719
I removed the ``/etc/hosts`` line and it still doesn't timeout. What is in your resolv.conf? I don't happen to have any ipv6 DNS hosts there.

[2016-08-05 13:38] cetra3 commented on #32719
When I tcpdump traffic, the DNS server set in resolv.conf returns nxdomain for the AAAA record of the hostname of the server. Not sure if this has any grounding on the problem.

[2016-08-05 14:15] NagarajGond commented on #35200
OK, it worked after upgrading Saltstack to 2016.3.2 version. But the strange thing is we have to keep the provider and profile details in cloud.providers and cloud.profiles respectively for GCE.

Getting below error if I keep gcepof.conf inside cloud.providers.d,

[code]

[2016-08-05 14:32] terminalmage commented on #32719
@cetra3 OK, I still can't reproduce this but I came up with a solution that I think should fix the problem for you (and others who have run into this corner case). I've opened pull request #35233, which simply skips compilation of ``fqdn_ipv6`` (or ``fqdn_ipv4``) grains when the associated list of IP addresses is empty. So, when ipv6 is disabled and there are no ipv6 addresses found on the minion,

[2016-08-05 15:07] yamamushi commented on #34783
@Slayer09 Could you post that fix here? :-)

[2016-08-05 15:20] damon-atkins commented on #34781
Since  I have had no feed back i will submit a patch/PR for this into develop

[2016-08-05 15:26] abednarik commented on #29592
HI All

@rallytime I'm not a python expert, but could this issue be related to OrderedDict, see [this](https://github.com/saltstack/salt/blob/develop/salt/modules/hosts.py#L40-L63)

*Example 1*

[code]

Result

[code]

Debug
[code]

*Example 2*

[code]

Result

[code]

Debug
[code]

Didn't found any code that take cares of values in that dict in order to guarantee fqdn is the first entry after IP

[2016-08-05 15:38] Sylvain303 opened #35234 "Bug: module disk.wipe dont wipe the filesystem information"
### Description of Issue

module [`disk.wipe`](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.disk.html#salt.modules.disk.wipe) dont wipe. It uses `wipefs` without option, so it only displays partition informations.

according the the man:

[code]

Python code : [disk.wipe](https://github.com/saltstack/salt/blob/develop/salt/modules/disk.py#L312)

### Setup

executed directly on

[2016-08-05 15:44] meyerbro commented on #18563
I need this "feature" too :)

[2016-08-05 15:57] thatch45 commented on #35169
How would you disable root? And how would it be re-enabled? I am perfectly fine with adding a salt module that applies such restrictions, I am just curious how it could be done. Also, how would you recover from a disabled root? Do you just mean disable the root login shell? Remove the root user(can't really do this, and the uid 0 mapping persists)?

[2016-08-05 16:06] rallytime commented on #29592
@abednarik Nice find. I think you're right that the value order inside that dict is where this needs to be fixed.

[2016-08-05 16:16] terminalmage commented on #34781
@damon-atkins Raising the exception does send the error back to the caller (be it the master or the local box if invoked with ``salt-call``).

I don't really see a problem with stopping the execution of the function when there is an error like that, it seems to me that you'd not want to proceed if the templating fails. Maybe I'm missing something?

[2016-08-05 16:24] ctrlrsf commented on #34219
Also ran into this when we upgraded our salt master to xenial. Below is a quick gist to build the python-cherry3 package from trusty (3.2.2). This got our salt-api working again.

https://gist.github.com/ctrlrsf/3272ae4c0cfc58ec0060d685818e9a11

[2016-08-05 16:26] ctrlrsf commented on #34219
@Ch3LL looks like @edgan already provided output needed. Can the Info Needed label be removed so we get more visibility into this issue? If anything else is needed from us, please let us know.

[2016-08-05 16:41] cachedout commented on #35168
I have this breaking here: 636d081ae07bd22e8b71a06743b8ab4fe87e8520

[2016-08-05 16:54] TheBigBear commented on #34781
@terminalmage as long as all that doesn't get compiled into the output is the single error sls file which has a syntax error, then that is fine.

But all of the sls files that compile valid do ned to end up in the end product. Otherwise you have the effect that any and every single syntax error in a single winrepo-ng file holds up every installation or removal process, and that is not acceptable.

[2016-08-05 17:01] dmurphy18 commented on #19349
@usernkey Could you upgrade to the latest 2016.3.2. It contains a number of bug fixes which could be affecting your environment, and flush your cache's after the upgrade, that is /var/cache/salt, to ensure removal of anything stale, then restart your masters and minions.

The problems in this issue appear to be more related to the use of older versions of msgpack (v.0.3.0) with Ubuntu 14.04, which

[2016-08-05 17:09] terminalmage commented on #34781
In that case, raising the error at the end and including the changes in the exception that is raised will still communicate the information back to the user.

Something like this:

[code]

Remember, the stuff in ``info`` is printed to the screen using the ``nested`` outputter, the default used for most Salt commands. So, you'll get something resembling this:

[code]

[2016-08-05 17:25] terminalmage commented on #35168
Looking.

[2016-08-05 17:30] PredatorVI opened #35239 "[ERROR ] Exception Require 20 byte binary sha, got '\xe6\x90', len = 2 occurred in file server update"
Running on Ubuntu 14.04.5 with latest salt-master version 2016.3.2 packages.  It also happened recently with previous (newish) versions.

The logs show the exception below on the salt-master during what appears to be a refresh of gitfs repos.  The result is that none of my SLS files are loaded and I'm dead in the water.

When I saw the initial issue I also saw warnings related to changing hash_typ

[2016-08-05 17:39] terminalmage commented on #35168
According to the [documentation](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.managed), this is not the correct usage. When using a remote file source as the ``source_hash``, the hash_type isn't present.

Can you try without the ``sha512=`` in your SLS? It is possible that this was supported (but undocumented) usage in prior releases, and I unknowingly

[2016-08-05 17:59] UtahDave commented on #35169
Hi @byteknacker, I actually do that right now with the portions of SaltStack's infrastructure that I manage. Nobody has any access to the production servers. Everything is managed and controlled from the Salt Master. You can do this right now without any special locking system from within Salt.

[2016-08-05 18:58] Ch3LL commented on #35090
Awesome Thanks!

[2016-08-05 18:59] Ch3LL commented on #34872
hmmm i'm still not able to replicate this behavior on centos7, even when adding a separate environment to the test case. Is there something unique about your environment? Anything in your master or minion configs?

[2016-08-05 19:15] Ch3LL commented on #35168
ahhh gotchya. Thanks for clarifying the usage. I was definitely confused because it was working on 2016.3.1. I went ahead and tested the following:

[code]

Instead of

[code]

and its workign correctly. Also verified it works in 2015.8.11

@mikemcrill any luck for you?

[2016-08-05 19:23] terminalmage commented on #34945
I wasn't able to reproduce this on any of the following:

- 2016.3.1
- Head of ``2016.3`` branch
- Head of ``develop`` branch

Do you have an ACL set on ``/home/vagrant``? What is the output of ``getfacl /home/vagrant``? It's possible that a bad ACL is causing the directory to be created with those permissions, and Salt is only checking/fixing the mode for directories under ``name``.

[2016-08-05 19:24] thatch45 commented on #34872
@eradman what changed in your environment to make this problem go away?
@cbuechler I am just curious if increasing the timeout option helps here. We did introduce a name caching system in the cli client in 2016.3 to speed up the resolution, I think @cachedout added it, I wonder if that could be doing it?

[2016-08-05 19:30] eradman commented on #34872
I was not able to identify anything in my environment changed--I left my test configuration in a tmux session and we didn't run update any RPMs. While trying to root cause this I did restart the master and minion daemons, but at the time that didn't solve the problem.

[2016-08-05 19:30] terminalmage commented on #35168
@Ch3LL Did you make sure to test with a sha512 hash instead of md5? Your hash URL suggests an md5 hash.

So when source_hash is a file, we use the checksum length to determine the hash type. This is why the hash type shouldn't be needed. What it looks like is happening here is that my modifications assume that when you have ``- source_hash: sha512=<something>``, the part after the ``=`` is a hash,

[2016-08-05 19:31] thatch45 commented on #34872
Ok, please let us know if it resurfaces.

Have the minion systems been under extra load when this happens?

[2016-08-05 19:45] rbgarga commented on #34872
@eradman, as @cbuechler mentioned, for us it only happens when minion is 2016.3.1. With 2015.8 minion it works as expect

[2016-08-05 19:46] thatch45 commented on #34872
thats very interesting, when the minion is 2016.3.1 does the job show up in the job cache? can you look it up with `salt-run jobs.lookup_jid <jid>`
?

[2016-08-05 19:50] Ch3LL commented on #35214
ping @terminalmage can you give any further insight into this issue.

I attempted to replicate this issue using:

[code]

1. ran sls initially
2. edited a file in repo
3. re-ran sls file
4. edited the same file/line
5. re-ran sls file and it works each time and i'm seeing in the logs:

[code]

I'm not sure if my test case is incorrect or if @tdenny 's use case is different from mine. Thanks

[2016-08-05 19:56] rbgarga commented on #34872
@thatch45 here are relevant data:

[code]

Then on minion side:
[code]

And while it was being executed, I ran on master:
[code]

[2016-08-05 20:00] thatch45 commented on #34872
After the work is done and you run `salt-run jobs.lookup_jid 20160805195126878542` does it show the job? I am wondering if after the job is done, once you are sure it is done running on the minion, is it in the job cache?
I am only asking because your statement leads me to think that you ran the lookup_jid before it had a chance to return

[2016-08-05 20:02] rbgarga commented on #34872
Interesting @thatch45, here are results after job is done:

[code]

[2016-08-05 20:05] thatch45 commented on #34872
Excellent, then the issue can be isolated to the client, in that it is returning to the cli before the job is finished, something difficult in Salt because of the disconnected nature of things. When this happens this is the first thing to check.
The problem I see though is that the claim is that the minion version matters, so I need to ask, what are the minion and master versions? We may have a bu

[2016-08-05 20:07] Ch3LL commented on #35215
ping @garethgreenaway can I get your input here? Looks like you created this module. It does indeed the data is being loaded as json. Think there is a better way to deal with this issue? Thanks

[2016-08-05 20:13] rbgarga commented on #34872
Thanks @thatch45,

When we have both master and minion on 2015.8.1 it was working. After master was upgraded to 2016.3.1 it kept working. The problem started when we upgraded minion to 2016.3.1.

All these examples I sent you were done running both on 2016.3.1

[2016-08-05 20:22] thatch45 commented on #34872
Very odd indeed, but this gives us a better place to hunt, I will ask more questions as we find them

[2016-08-05 20:30] Ch3LL commented on #35218
@rvora I cannot replicate this behavior. I am able to successfully update beacon information via pillar, even when using a custom beacon.

Just to make sure are you running `salt 'minon' saltutil.sync_beacons` to ensure the beacon is synced before refreshing pillar data? Also do you see the change in  events being fired off when running `salt-run state.event pretty=True`?

[2016-08-05 20:34] rvora commented on #35218
Hmm... I think I was doing refresh_pillar before sync_beacon. Does the order matter? It shouldn't as beacon should look up the pillar at the time of execution and not cache the data. Correct?

There was no change in the event behavior i.e. it did not make any difference when I toggled test from True to False or vice-a-versa.

[2016-08-05 20:36] Ch3LL commented on #35223
@nmadhok are you okay closing this issue? Looks like the PR was merged, but wanted to be certain everything was resolved for this issue Thanks

[2016-08-05 20:44] nmadhok commented on #35223
The related PR has not been merged yet.

[2016-08-05 20:54] derekmaciel opened #35242 "Display meaningful error when attempting to use undefined pillar data"
### Description of Issue/Question

Apply the following state to a minion on 2016.3:

[code]

And you will receive the cryptic error

[code]

In this example it is obvious, but oftentimes our pillar ID is a name often used in our states, such as the name of the service we are provisioning, in which case this error does not make much sense at first. It could be improved to something like `Rendering

[2016-08-05 20:58] Ch3LL commented on #34267
I verified that the commit @edgan references does indeed fix this issue. I will see about getting it backported to 2016.3

[2016-08-05 21:00] Ch3LL commented on #35220
@mweinelt this is a duplicate of #34267

Fortunately there is a fix at #31677 which I have requested to be backported to 2016.3. I will close this and we can track this issue in 34267. And I will close it once it has been backported. Thanks.

[2016-08-05 21:00] #35220 closed

[2016-08-05 21:11] Ch3LL commented on #35226
Agreed we should not be stacktracing here and put in a more useful error.

For future reference I was able to replicate this using the sls file above with the following pillar data:

[code]

[2016-08-05 21:18] rallytime commented on #34267
@Ch3LL Back-port is in #35244

[2016-08-05 21:31] terminalmage commented on #35214
I was able to reproduce. I'll get a fix in for this later this evening.

[2016-08-05 21:33] richardscollin commented on #35028
Some times the error produced is slightly different. After running the test suit the error does not print. However you can run `ps aux | grep salt` and see that there are processes still left from running the test suite. Upon killing the process the error complaining about the missing directory is printed.

[2016-08-05 21:45] Ch3LL commented on #35230
@morganwillcock could you try running this with `salt-call -ldebu` so we can see the debug output to determine where its getting `False` from. Thanks

[2016-08-05 22:00] Ch3LL commented on #35234
@Sylvain303 looks like you are indeed correct. Great find! This should be an easy fix thanks.

[2016-08-05 22:10] eliezerlp commented on #31240
What are the next steps for this item?

[2016-08-05 22:15] Ch3LL commented on #35168
just tested with sha512 as well shown here:

[code]

which is working correctly :)

[code]

[2016-08-05 22:28] isbm commented on #35223
@Ch3LL Nope, the https://github.com/saltstack/salt/pull/35227 is not yet merged. And I just lintfixed the issues.

[2016-08-05 22:36] morganwillcock commented on #35230
@Ch3LL Hello, here is the debug output.

<pre>[DEBUG   ] Reading configuration from c:\salt\conf\minion
[DEBUG   ] Including configuration from 'c:\salt\conf\minion.d\_schedule.conf'
[DEBUG   ] Reading configuration from c:\salt\conf\minion.d\_schedule.conf
[DEBUG   ] Configuration file path: c:\salt\conf\minion
[WARNING ] Insecure logging configuration detected! Sensitive data may be logged.
[DEB

[2016-08-05 23:32] cetra3 commented on #32719
OK cheers for that. I will give it a shot in my environment and report back

[2016-08-06 00:36] terminalmage commented on #32719
Thanks!

[2016-08-06 00:39] terminalmage commented on #35214
OK, I decided to write an integration test first, to ensure that it failed in the right way before I get my fix added. Moving on to the fix now.

[2016-08-06 01:43] hjc1710 commented on #35139
I'm quite sure adding updating [this line](https://github.com/saltstack/salt/blob/485dd07fe9b6d32cf0e9f284a71fa512d7508a6b/salt/modules/dockerng.py#L2352) to be:

[code]

Would fix the entire issue. However, I can't grok Salt's test suite and have no idea how to write a test for this to prove it =/.

[2016-08-06 01:51] terminalmage commented on #35214
Fixed in #35249, integration test included to keep this from regressing in the future. Man, I'm really sorry about the inconvenience. :frowning:

[2016-08-06 01:56] terminalmage commented on #35168
@Ch3LL Thanks!

@mikemcrill If you could also test at your convenience, that'd be awesome. I want to make sure you get it working.

[2016-08-06 03:53] msonawane opened #35250 "salt reactor target - targets wrong minions"
### Description of Issue/Question
salt reactor targets more minions than it should
### Setup
following is reactor sls

[code]

### Steps to Reproduce Issue
when i send an event from ops-2 minion like:
sudo salt-call event.send "devops_repo/updated {orchestrate: refresh}"

this causes action to be taken on both ops-1 and ops-2
### Versions Report

[code]

[code]

[2016-08-06 07:00] jf opened #35251 "state.single cannot handle JSON format"
### Description of Issue/Question

Despite the documentation (`sys.doc state.single`), `state.single` cannot handle JSON-formatted keyword values right now. This isn't urgent, or critical right now, because one can still work around it using keyword arguments; but I just want to have it on record here.
### Setup

Nothing special.
### Steps to Reproduce Issue

If you try to pass everything (includi

[2016-08-06 07:56] #35013 closed

[2016-08-06 08:02] JerrySLau opened #35252 "When I execute a state, failed, Reason: 'git.checkout' is not available"
### Description of Issue/Question
When I test my state
[code]
salt returns:

[code]
I run salt directly from cmd, it works

[code]
### Setup
here's minon's grains

[code]
### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

#### master versions:
[code]
#### minion versions:
[code]

[2016-08-06 08:13] cachedout commented on #34481
Closed via #35232

[2016-08-06 08:13] #34481 closed

[2016-08-06 08:13] cachedout commented on #35003
Closed via #35232

[2016-08-06 08:13] #35003 closed

[2016-08-06 08:15] #35219 closed

[2016-08-06 08:20] #35080 closed

[2016-08-06 08:28] #27294 closed

[2016-08-06 12:56] jf commented on #35252
Jerry, there is a difference between **execution** modules/functions, and **state** modules/functions. `git.checkout`. You're confusing the two. `git.checkout` is an execution function; execution functions cannot be used in state files.

You use `pkg.install` in your state file, but have you tried `salt '*' pkg.installed curl`?

[2016-08-06 13:37] jf opened #35255 "`sys.list_returner_functions` fails with globs (bug in logic)"
### Description of Issue/Question

This is due to a bug in the code (`salt/modules/sysmod.py`, `def list_returner_functions`); and no proper tests, might I add:
[code]

Simply reading the code, you will be able to tell that if a `*` is encountered, instead of using the regular `fnmatch.filter` (as per the other "list_x_functions" methods), `func.startswith` is used for matching, which obviously wi

[2016-08-06 15:56] damon-atkins commented on #34781
I will try to submit it this weekend.

[2016-08-06 16:50] damon-atkins commented on #34781
Guys I have decided based on the feed back to change the return result away from the data structure too, one of reporting. It appears the data structure is not used return by genrepo.  Most likely I will add a new function to dump the data structure. i.e. winrepo.p from disk

[2016-08-06 17:01] vchav73 opened #35257 "Improving file.recurse state.apply performance"
Hi,

We're using file.recurse to distribute code trees with lots of files. We've noticed that salt '*' state.apply slowed down substantially when we added the code tree distribution state using file.recurse. The biggest issue is that performance is impacted even when there have been no changes to the code tree. I'm guessing salt is hashing every file in the code tree on every run of state.apply.

[2016-08-06 18:08] openstackAnalyst commented on #34863
Hi Ch3LL

I have upgraded my salt version to the latest 2016.3 and tried to run salt modules and functions from /srv/salt/_modules directory and everything works fine.

I had to modify few modules/functions in my older version 2015.5.3 because salt was not working in my custom modules directory and for some functionality i had to write my own python code and sync them to minions.

good thing is th

[2016-08-06 22:55] cachedout commented on #31308
Please see #35258 for a possible resolution to this issue.

[2016-08-06 23:36] cachedout commented on #32860
@ywahl Were you ever able to test this?

[2016-08-07 00:03] #34757 closed

[2016-08-07 00:39] bx5974 commented on #35204
it would be great to have this at salt core!

[2016-08-07 07:51] iggy commented on #35194
I'm seeing this from salt-call and in minion logs as well. Not sure why this just started all of a sudden. I do have an older version of python-boto installed (it's a dep of cloud-init).

I'm kind of torn on things like this. On one hand it's helpful to know when things you want to use are busted (and why). On the other hand, I don't really care about this particular module, boto was just pulled i

[2016-08-07 09:11] damon-atkins commented on #35204
+1 it basically needs to be implemented for every state.  Needs a state_dump.    A naming standard would be required  e.g. pkg.dump_state    And then everyone follows that standard.    It means converting something existing is easier because salt provides the syntax to add into a state yaml.   It also helps with people learning. e.g. how do I describe this user to place into a state yaml.

I chang

[2016-08-07 13:24] lorengordon commented on #35194
I've been seeing this for a while as well, but wasn't bothered enough to do something about it. Looks like it was [fixed here](https://github.com/saltstack/salt/pull/31207), currently in develop. Maybe tag it for backporting?

[2016-08-07 14:06] tsaridas commented on #22690
this can be closed as per
https://github.com/saltstack/salt/pull/31329

[2016-08-07 16:50] abednarik commented on #35234
Hi @Sylvain303  / @Ch3LL

 I just did a small contribution to dix this and is already merged. Hope that helps.

Cheers.

[2016-08-07 17:30] stephane-martin opened #35262 "grains lsb_distrib_codename and oscodename are missing on debian jessie after upgrade to v2016.3.2"
### Description of Issue/Question

grains `lsb_distrib_codename` and `oscodename` are missing on debian jessie after upgrade to `v2016.3.2`

`lsb_distrib_codename` does not appear at all in grains.items
`oscodename` key is present, but value is empty string
### Setup

[code]
### Steps to Reproduce Issue

I just upgraded master and minion from 2016.3.1 to 2016.3.2
### Versions Report

(Ubuntu trust

[2016-08-07 21:51] bobrik opened #35264 "ssh_known_hosts.present is not idempotent in test=true with port"
### Description of Issue/Question

Salt doesn't check for ssh key existence properly in test mode when port is set. The reason for this is that when port is specified, `known_hosts` file has entries formatted as `[host]:port`, not as `host`. It works ok outside of test mode.

I can fix it myself if this makes sense.

### Setup

[code]

### Versions Report

[code]

[2016-08-07 23:12] cetra3 commented on #32719
Ok, I've tested https://github.com/saltstack/salt/pull/35233 and it appears to work a lot better:

Without the change:
[code]

With the change:
[code]

[2016-08-07 23:27] cachedout commented on #32719
Cool. I'll go ahead and close this then. Thanks!

[2016-08-07 23:27] #32719 closed

[2016-08-08 02:43] JerrySLau commented on #35252
Thank u very much.

`salt '*' pkg.installed curl`
returns
es2.inter.tengyue360.com:
    'pkg.installed' is not available

[2016-08-08 03:37] UtahDave commented on #34781
@damon-atkins I'm pretty sure the behavior that we want here is while looping through the sls files to templatize them, if we get a compilation error we log the error, add the filename/path to the Errors dictionary with the templating error as the value and then continue with the rest of the sls files.

[2016-08-08 05:12] Magomogo commented on #14856
This is still an issue in salt 2016.3.0 (Boron)

[2016-08-08 07:12] damon-atkins commented on #34781
Yep agree,  it will be different to the current version which outputs what it has written to winrepo.p i.e. data, its future behavior is to report instead success or failure for each file.

[2016-08-08 07:24] sm1ly opened #35267 "Salt slack.py engine configuration with separated rights."
How to do this?
I using last https://github.com/saltstack/salt/blob/develop/salt/engines/slack.py
and I using config from https://docs.saltstack.com/en/latest/ref/engines/all/salt.engines.slack.html
so how I can separate users? like user1 can cmd.run uptime, and user2 cat cmd.run uptime,cmd.run sh some script, etc ?

[2016-08-08 08:07] goestin commented on #35198
Fix merged, thanks everyone!

[2016-08-08 08:07] #35198 closed

[2016-08-08 09:09] Xiol opened #35268 ""Failed to return clean data" on salt-ssh connection failure"
### Description of Issue/Question

When using `salt-ssh` to run a formula, if the password for the server is incorrect, or the server is refusing connections via SSH, rather than returning a sensible error message we only receive "Failed to return clean data". The only way to debug the issue is to enable trace level logging and view the output from SSH.
### Setup

Assuming this is the contents of

[2016-08-08 09:16] taogogo commented on #6896
👍

[2016-08-08 10:00] damaex17 commented on #35014
I updated python-msgpack and salt. I will check back once the issue comes up again.

[code]

[2016-08-08 10:32] Slayer09 commented on #34783
Please find below the modified content in `/usr/lib/python2.7/site-packages/winrm/protocol.py` at `line 28`. As I already said, it is a temporary workaround and it is not a good practice to modify libraries in pywinrm 0.2.0.

[code]

[2016-08-08 10:54] lwillek commented on #31978
Update: same Bug/same workaround after update to 2016.3.2.  It would be great if this bug would be fixed soon.
Regards, Lutz Willek

[2016-08-08 11:27] alexykot commented on #34776
Hey, I see the status here now, saying "Fixed Pending Verification". Shall I retest it now with latest develop branch?

[2016-08-08 11:32] Slayer09 commented on #34783
Finally, I did a rollback of my change in the Protocol class in pywinrm and changed the `wait_for_winrm` function in `/usr/lib/python2.7/site-packages/salt/utils/cloud.py`. At line `834`, I add parameter `server_cert_validation='ignore'` to the call to `winrm.Session`. see below the modified function:

[code]

[2016-08-08 12:00] martinhynar commented on #34511
Hi I faced same exception and found out that `elasticsearch_index_template.present` does not work with python-elasticsearch 1.9.0. The exception it gives is:

[code]

[2016-08-08 12:06] jf commented on #35255
ok I've had a look at the `six` module... specifically at `iterkeys`, and I don't believe it's really necessary here. If folks think or know otherwise, feel free to chime in. Otherwise, I think I got this.

[2016-08-08 12:09] mikemcrill commented on #35168
Yes, it's working now.  Thank you for your help.

On Fri, Aug 5, 2016 at 5:15 PM, Megan Wilhite <notifications@github.com>
wrote:

[2016-08-08 12:18] #35255 closed

[2016-08-08 13:07] alexykot commented on #35079
Thanks @Ch3LL, that was the cause of the problem - `netifaces` didn't get properly provisioned on few hosts and it caused the issue, and I could see the exception when I ran it locally.

Can we somehow funnel exceptions from custom grains into minion log when called from master to make it easier traceable?

[2016-08-08 14:10] Lomexian opened #35272 "boto_elb state not updating health_check for TCP/SSL targets"
### Description of Issue/Question
When setting Health_check target to 'TCP:xxxx' or 'SSL:xxxx', load balancer will be created but healthcheck is incorrect.  It creates a TCP healthcheck with default settings and the first listener port.

errors during highstate with:
`Comment: ELB devlogstash created. Set attributes on ELB devlogstash. Failed to set health check on ELB devlogstash.`

Error in mini

[2016-08-08 14:37] cachedout commented on #35166
Closed via #35271

[2016-08-08 14:37] #35166 closed

[2016-08-08 14:55] #28785 closed

[2016-08-08 15:03] yamamushi commented on #34783
@Slayer09 Thank you! That's perfect 👍  😃

[2016-08-08 15:14] rallytime commented on #22690
Thanks for letting us know @tsaridas! I'll close this.

[2016-08-08 15:14] #22690 closed

[2016-08-08 15:24] scott-w commented on #34982
Hi @Ch3LL, I've got back but I'm struggling to setup the state to be run independently.

I'm able to do `salt-call --local pkg.install nodejs` and everything works fine. Once NodeJS is installed, the `npm.installed` state works perfectly. The issue is that the state file itself fails if, and only if, the `nodejs` package isn't installed.

The OS is Ubuntu 14.04 hosted on AWS. This also happens on

[2016-08-08 15:27] craigafinch commented on #34963
I only have Yum systems to test on, so I am unable to help with that question.

[2016-08-08 15:37] Ch3LL commented on #35231
@grobinson-blockchain the link you have is to a developer version of salt. Here are the docs for the current 2016.3 [here](https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.consul_pillar.html) It does not look like that value is available in 2016.3.1.

Can you test with a developer version and report back whether that works? Thanks

[2016-08-08 15:57] Ch3LL commented on #35242
@derekmaciel agreed we could improve this error, instead of spitting out `NamedspacedDictWrapper`. Thanks

[2016-08-08 16:04] mjmonroe commented on #34460
I get the same error in the master's log when I run `salt-run manage.list_state` or `salt-run manage.not_alived`.

`2016-08-07 05:46:35,784 [salt.transport.ipc][ERROR   ][5521] Exception occurred while handling stream: [Errno 0] Success
`

`Salt Version:
           Salt: 2016.3.1

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: 2.5.3
          gi

[2016-08-08 16:32] Ch3LL commented on #35250
@msonawane i'm having a hard time replicating this with the following reactor sls:

[code]

And the following minions:
ch3ll-minion01
ch3ll-minion02

can you share your master config? And paste anything relevant from the debug logs? Particularly when the reactor is started and where its targeting both minions.  Thanks

[2016-08-08 16:33] rallytime commented on #35252
@JerrySLau Similar to the statement above, the module function and the state function have different names. For the pkg state, the function is `installed`, but for the module it is just `install`. So for that last command you ran, give `salt '*' pkg.install <name-of-package>` a try instead.

However, @jf is correct in that [git.checkout](https://docs.saltstack.com/en/latest/ref/modules/all/salt.mo

[2016-08-08 16:38] tdenny commented on #35214
Thanks for the help! Much appreciated.

[2016-08-08 16:41] rallytime commented on #35234
Thanks for letting us know @Sylvain303 and thanks for fixing this @abednarik! I'll go ahead and close this.

[2016-08-08 16:41] #35234 closed

[2016-08-08 16:47] Ch3LL commented on #35251
@jf I am able to replicate this on 2016.3.2. We will need to get this fixed up. Thanks

[2016-08-08 17:03] freelock commented on #35139
Same issue on Ubuntu 16.04 with docker.image_present, removing all untagged images fixes...

[2016-08-08 17:08] #34753 closed

[2016-08-08 17:30] Ch3LL commented on #35264
@bobrik I'm assuming when you run this with test=True it states that it is going to change even though you have already run this, due to the fact that when checking to see if entry exists the entries are different in known_hosts, because of `port`. Sounds like this definitely needs to get fixed. Please feel free to fix it as you stated you are willing to do so. That would be great !

[2016-08-08 17:31] #34725 closed

[2016-08-08 17:38] Ch3LL commented on #35267
I'm not seeing an option to do this while doing a quick glance at the code. I will approve as a feature request though.

[2016-08-08 17:40] jgartrel commented on #35074
Yes, however I set the expiration to 720 days, and the key length to 4096 I think.

[2016-08-08 17:40] Ch3LL commented on #35267
just to ensure I did not miss something ping @garethgreenaway is this accurate? There currently is not a way to set a user to only run certain commands and another user running different commands. Is that correct?

[2016-08-08 17:45] jgartrel commented on #35074
openssl req -x509 -nodes -days 730 -newkey rsa:4096 -keyout ./azure.pem.key -out ./azure.pem

[2016-08-08 17:45] jgartrel commented on #35074
openssl x509 -inform pem -in ./azure.pem -outform der -out ./azure.cer

[2016-08-08 17:58] xbglowx commented on #30577
I have something in the works, but ran into two problems that I need to work out:

1. Docker remote API doesn't expose log driver/options. This is critical, since the default that people assume of `json-file` is not always true, since that can be changed as a docker daemon startup option. I will need to create a patch to the docker engine to allow querying of this information.
1. Setting log optio

[2016-08-08 18:02] #35168 closed

[2016-08-08 18:04] Ch3LL commented on #35257
This is most likely related to #11167  It looks like `file.recurse` will also call the same code as file.directory(recurse)  if `clean` is set to `True`. Would you mind sharing your state file to see what parts of the code you are hitting?

Also as a workaround I believe archive.extracted or git.latest should be quicker. I don't believe they look through the directories.

[2016-08-08 18:04] jgartrel commented on #35074
Also tried using 1024bit:

openssl req -x509 -nodes -days 730 -newkey rsa:1024 -keyout ./azure_2.pem.key -out ./azure_2.pem
openssl x509 -inform pem -in ./azure_2.pem -outform der -out ./azure_2.cer

No such luck with that either

[2016-08-08 18:05] ahammond commented on #35074
With the 1024b key:

[code]

[2016-08-08 18:07] Ch3LL commented on #35239
@PredatorVI can you please try deleting your cache and restarting the master and seeing if that helps resolve the issue. `rm -rf /var/cache/salt/master/`

Also did you start seeing this behavior first on 2015.8 or only on 2016.3?

Also ping @terminalmage do you see anything obvious from this error message to help troubleshoot this. Thanks

[2016-08-08 18:25] Ch3LL commented on #35268
@Xiol I am able to replicate this. Weirdly enough I only see this error when running `state.sls` via salt-ssh. When I run an exectuion module I get the appropriate error:

[code]

But when I run state.sls:

[code]

I am seeing this with this in my roster file:

[code]

running into this when firewall in place or bad password

[2016-08-08 18:41] Ch3LL commented on #35262
@stephane-martin I'm having a hard time replicating this as shown below:

[code]

How did you install salt? What version of salt did you upgrade from? Any other information to help replicate this issue?

[2016-08-08 19:04] stephane-martin commented on #35262
Hello, thanks for looking at it.

By the code of `grains/core.py`, salt fetches that piece of information from `/etc/lsb-release`. In my case, that file is missing the required info:

[code]
So, the question is: who is responsible for maintaining /etc/lsb-release ?
- Interestingly, no deb package is responsible for that in my installation (`dlocate -S /etc/lsb-release` ==> nothing)
- `apt-file /et

[2016-08-08 19:07] stephane-martin commented on #35262
(by the way, i just installed a bare minimal debian jessie on another server, and there the file /etc/lsb-release is just completely absent)

[2016-08-08 20:47] #32244 closed

[2016-08-08 21:19] prius commented on #28016
Same problem here. Has anybody found a workaround for this issue?

[2016-08-08 21:26] xbglowx commented on #30577
Here are the respective docker issues:

1. https://github.com/docker/docker/issues/25508
1. https://github.com/docker/docker/issues/25507

[2016-08-08 23:42] rvora commented on #34215
This fix has not solved my problem after upgrading salt-master to 2016.3.2

Here's some new information / correlation I have found.

I have a cronjob that runs every night at 2:00 UTC:

* 2 * * * flock -xn /tmp/manage-down.lock -c "salt-run manage.down removekeys=True >>/var/log/salt-run-manage-down 2>&1"

I also see the following error in the /var/log/salt-run-manage-down file though there are no

[2016-08-08 23:46] terminalmage commented on #35168
@mikemcrill OK, then this seems like undocumented syntax which doesn't appear to have been intended to work. Given that, I'm hesitant to go back and make the syntax you were using work again. Since it is working for you using the documented syntax, I think we should leave this closed and have you use that syntax moving forward.

[2016-08-08 23:47] terminalmage commented on #35239
There is nothing wrong with the Salt code here, all we're doing is obtaining the blob object from the relative path to the file, using ``file_blob = tree / path``.  This particular syntax has been in GitFS since its inception, years ago.

This is almost certainly an upstream bug in GitPython. According to your versions report, you have version 0.3.2 RC1 of GitPython installed, which is just over 5

[2016-08-09 00:55] wblair commented on #34267
Thank you, thank you!
On Aug 5, 2016 4:58 PM, "Megan Wilhite" <notifications@github.com> wrote:

[2016-08-09 01:32] JaseFace commented on #35121
Just a note, this bug is present in 2016.3.1 also, confirmed the space at the end of the line triggers the results to believe something has changed, despite it really being a no-op.

[2016-08-09 01:51] terminalmage commented on #35214
No problem, thanks for bringing this to my attention. The kicker is that I wrote integration tests for the change that I made a few weeks ago, only to have that pull request break cause this bug because I didn't have a test case for it. At least now I have a test case though. :smile:

[2016-08-09 01:58] terminalmage commented on #35045
@Ch3LL Sorry about the lack of response, I should be able to look into this on Tuesday or Wednesday.

[2016-08-09 02:09] terminalmage commented on #33447
@tomlaredo Since I was unable to reproduce your issue, and I've resolved the issue described in the original post, I'm going to close this. If you can provide a reproducible case which I can use to troubleshoot, please file a new report and @ mention me.

[2016-08-09 02:09] #33447 closed

[2016-08-09 04:11] sm1ly commented on #35267
@Ch3LL this is right. and when I try configure 2 different engines - slack engine dies (see this in salt debug log). when it doesnt die - always using second configured engine

[2016-08-09 04:36] boltronics opened #35288 ""Best Practices" link on main documentation page broken"
Not sure where best to report this. Sorry if this is the wrong area.

https://docs.saltstack.com/en/latest/ references [Best Practices](https://docs.saltstack.com/en/latest/best_practices.html) under the _Salt Essentials_ section, which is a broken link. AFAICT it should point to [https://docs.saltstack.com/en/latest/topics/best_practices.html](https://docs.saltstack.com/en/latest/topics/best_prac

[2016-08-09 04:45] vchav73 commented on #35257
I unfortunately deleted the rules which were causing the problem, but it does sound like issue #11167.

I ended up using a tar.gz of the directory combined with file.managed instead of file.recurse on the dir. It is orders of magnitude faster, even when you include the compression / decompression time. It may be worth adding a blurb to the docs for file.recurse to mention the performance issues wi

[2016-08-09 05:05] colin-zhou opened #35289 "Can i use salt-ssh execute cp.push"
### Description of Issue/Question

I have tried salt '192.168.3.76' cp.push /etc/fstab to copy minion file to master, it works well, however, it comes to a situation where salt-minion doesn't exist, so I try to run the following cmd:
salt-ssh '192.168.3.76' cp.push /etc/fstab, it turns out error.(the following msg is error log)

[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Con

[2016-08-09 05:09] terminalmage commented on #35051
Done in #35290.

[2016-08-09 05:09] #35051 closed

[2016-08-09 05:51] z900collector opened #35291 "Yum pkg command now fails"
Just found: Add VirtuozzoLinux is yumpkg enable list. #34878 so this may be fixed?

[code]

Previously worked fine for 2 years and now returns this error on 7 nodes out of 8. Config file on minion is default with master: line set accordingly. Server is CloudLinux running Virtuozzo Containers. salt-minion service restarted several times.

The only issue I can find is that on the **working** node th

[2016-08-09 06:01] maguowei commented on #35139
@freelock +1

[2016-08-09 07:43] rbjorklin commented on #34458
@grobinson-blockchain on develop the consul_pillar tries to do `yaml.load()` on the value stored in consul, this means you can store both YAML and JSON as values and they will be correctly parsed. I've attached a patch file I'm using to get this behaviour on 2016.3.2. Regarding the yaml syntax for a list of dicts take a look at [this example](http://yaml-online-parser.appspot.com/?yaml=-%0A++child

[2016-08-09 08:29] byteknacker commented on #35169
@thatch45 to be honest, I am also not sure how to perform a sane restriction of root user. But what I did before manually is to follow the best practices of authorisation displayed on the documentation of [Ubuntu](https://help.ubuntu.com/lts/serverguide/user-management.html). This, however, is OS specific. But generally, I would suggest:

1. Disable password login for root user
2. Do not insert an

[2016-08-09 08:32] byteknacker commented on #35169
@UtahDave first off, thanks for developing the salt-vagrant-demo. I used it to learn Salt at the beginning.

Would you perhaps mind sharing with us the steps you took to disable login access by humans into production servers? What would you suggest for best practice of user management? How do you enforce infrastructure as code in your organisation?

Thanks in advance for sharing your insights. I t

[2016-08-09 08:49] szjur opened #35296 "cp.push_dir gets confused when using upload_path and is probably insecure too"
### Description of Issue/Question
cp.push_dir gets confused when using upload_path and the source minion is Windows. You have this code in master.py, _file_recv function:

        # Normalize Windows paths
        normpath = load['path']
        if ':' in normpath:
            # make sure double backslashes are normalized
            normpath = normpath.replace('\\', '/')
            normpath = os

[2016-08-09 09:00] ywahl commented on #32860
Hi, in our full software, it didn't notice any substantial difference in memory consumption. We found that a big part of the memory lost when generating pillars was due to some issues in the cassandra driver for python that don't releases memory when a connection is closed.

I didn't had the time to recreate a minimal environment without access to the DB, and reproduce the issue without and with y

[2016-08-09 09:02] cachedout commented on #32860
Ahh. That would make a lot of sense. Yes, if you can pin this down to a problem with the cassandra returner then we can definitely isolate and fix this. Thanks!

[2016-08-09 10:12] cachedout commented on #35288
@boltronics Gah! Thanks!

@jacobhammons Help?

[2016-08-09 10:14] #35020 closed

[2016-08-09 10:15] #34267 closed

[2016-08-09 10:23] Nan0r commented on #35020
Hi,
Sorry for my silent, i'm back from holidays.
I'm testing today but i thinks this patch fixes perfectly the error encountered.
Thanks a lot for the support and the rapid answer.
Have a nice day !

[2016-08-09 11:10] alexykot opened #35299 "funnel custom grain exceptions into minion log"
### Description of Issue/Question
Right now when you create custom grains, and an error of any kind happens within the grain python script - the salt-master call to `grains.get` silently returns nothing and no traces of the problem are left in neither master nor minion logs. The only way to see that the problem happens is to query custom grain locally from the minion itself with debug enabled via

[2016-08-09 11:10] alexykot commented on #35079
Closing this now as solved, and opened #35299 for logging improvement.

[2016-08-09 11:10] #35079 closed

[2016-08-09 12:11] babilen commented on #34945
@terminalmage Thank you for looking into this. I am not entirely sure why you can't reproduce it, which is why I am providing a complete example. It is using libvirt, but I'm sure that you can use vagrantbox too.

1. Create the following `Vagrantfile` and `salt/minion` files:

[code]

2. Run `vagrant up`, `vagrant ssh` and `sudo -i`
3. Accept the minion key with `salt-key -A` → "Y"
4. Create direc

[2016-08-09 12:13] babilen commented on #34945
Oh and you wanted to see the following:

[code]
which is not unusual in any way. The directory that exhibits the buggy behaviour looks like:

[code]

[2016-08-09 13:38] awerner commented on #30487
A very hackish workaround is to do something like this:
/srv/pillar/top.sls
[code]

/srv/pillar/dev/top.sls
[code]
The `**` also matches all minions, and the result is as expected.

[2016-08-09 14:01] terminalmage commented on #35168
@mikemcrill No problem! There's no harm in us investigating things like this, they can often uncover unintended regressions. Don't let it keep you from filing a bug report in the future, please! :smile:

[2016-08-09 14:15] alexandr-orlov commented on #5255
What about explicit order for includes like:
[code]
Sometimes it can be very useful.

[2016-08-09 14:53] rallytime commented on #34425
@sambev This should be fixed with #35286 and will be available in the 2016.3.3 release.

[2016-08-09 15:03] cachedout commented on #34215
Did you set the `ipc_write_buffer` config option? It's not enabled by default. Please see the linked PR above for details.

[2016-08-09 15:27] terminalmage commented on #34945
Yeah, I was just guessing on the facl, there are no ``default`` entries in the output so that rules that out.

Just built your vagrant box and working on testing now. The only difference in my SLS was that I did not use a ``user`` or ``group`` parameter, I'll step through with a debugger and see if that mattered at all (I can't see why it would).

[2016-08-09 15:33] terminalmage commented on #34945
Was able to reproduce in vagrant box, commencing step-through with debugger.

[2016-08-09 15:43] svinota commented on #34978
Looks like the fix was merged.

@centromere — anyway, try to use 0.3.22 on LTS like Ubuntu 14 / kernel 3.x, otherwise there may come other surprises.

[2016-08-09 15:51] Anthonyhawkins opened #35303 "Question/Proposal: Passphrase protected Master Private Key?"
### Description of Issue/Question

We are currently in the process of deploying salt into our environment.  One of our security policies dictates that all private-keys are passphrase protected.

I have taken a look at the code and current functionality of the salt-master and it does not appear to be supported.  We'd like to develop this feature and contribute it back, but first we have some questi

[2016-08-09 15:57] garethgreenaway commented on #35267
@Ch3LL @sm1ly Currently there isn't a way to allow different users to run different commands.  I have some changes that I started working on at SaltConf16 that I still need to push up that allows this.  Will dig up that branch and get that pushed up.

[2016-08-09 16:04] damon-atkins commented on #35303
Not sure how this is different to SSH.   I believe the keys are for verification.  If this did go ahead every-time the master is started it would require the passphrase being entered.

What I am asking is, what are you trying to protect from?  A person with sudo access to root?  Preventing someone from signing keys/accepting servers?  Someone copying the cert and using it in some way?

[2016-08-09 16:11] Ch3LL commented on #35289
@colin-zhou I am able to replicate this behavior on 2016.3.2. According to the documentation [here](https://docs.saltstack.com/en/2015.8/ref/clients/index.html#salt-s-loader-interface) some modules expect a full salt system underneath so it seems this is related to this situation.

ping @cachedout do you know if its possible to get this working in a salt-ssh environment? Based on that description

[2016-08-09 16:20] Ch3LL commented on #35291
@z900collector did something recently change in your environment when you started seeing this? Maybe updating the salt version on the master or minions? You state it is broken on 7 out of 8 of your minions. Is there any differences between the working/nonworking minions? Maybe different saltminion versions?

The fact that jinja2 is missing is definitely of concern. But can you see if its installed

[2016-08-09 16:23] dmurphy18 commented on #28745
@arthurlogilab Sorry for taking so long to get back to this issue.  Symbolic links could be made to work with the "DISTRO-saltstack-VERSION" namespace (eg. jessie-saltstack-2015-05), however with support for ARMHF in a different location and path than those normally found in a Debian repo, this would prove difficult.

At this point the namespace for repo.saltstack.com is fixed, however your issue

[2016-08-09 16:28] terminalmage commented on #34945
OK, I was finally able to reproduce on my laptop, outside of your vagrant example... It turns out that this only occurs when the source dir does not have any files in it (only subdirectories). My setup contained files in the source dir as well as subdirectories. What is happening here is that we end up call ``file.check_perms`` with a malformed mode the first time around (one converted to octal wh

[2016-08-09 16:34] thatch45 commented on #35169
Ok, @byteknacker . It seems that your main concerns are around logging in as root, then you could modify ssh to restrict root logins, or even easier, change the default root shell to /bin/false, both of these can be easily done with existing states, so I don't really see a need to add anything special to salt for them....

[2016-08-09 16:41] Ch3LL commented on #35299
@alexykot this is a duplicate of #33897 I will close this issue so we can track this feature request there. Please feel free to comment on that issue as well, so we can track on that issue. Thanks :+1:

[2016-08-09 16:41] #35299 closed

[2016-08-09 16:41] Ch3LL commented on #33897
For now I will add this as a feature request to improve ability to add logging for custom grains. Not sure how this would be accomplished. Anyone who has any ideas please feel free to comment. Thanks

[2016-08-09 16:43] Ch3LL commented on #35079
Glad you go it figured out :+1: I commented on your other issue. We will track it in an issue already open. Thanks for the great detailed issue report!

[2016-08-09 16:46] jf opened #35304 "some `user.` state functions show the wrong docstring for the user module"
### Description of Issue/Question

as per subject:

[code]

(I'm simplifying the output here by stating the salt versions in place of the minion name)

If you grep the source for that docstring (`the locale utils used by salt`), you'll see that they appear (?) in `salt/utils/locales.py`. `sys.state_doc user.iteritems`, in the meantime, pulls the module docstring from `salt.ext.six` (`user.absent`

[2016-08-09 16:48] Ch3LL commented on #35303
ping @thatch45 can I get your input on this issue in regards to @Anthonyhawkins 's proposal to adding the ability use passwords on keys and his question about where to fix it? Thanks

[2016-08-09 16:54] thatch45 commented on #5255
Ok, this was never implemented, I thought it was no longer needed since the sls modules will be loaded in the order in which they are defined in the include statement. So to get the same result as your example:

[code]

Now the order flags will be loaded in order of include, so the order flag will be set progressively for each loaded state inside the loaded sls files. I think this is better than w

[2016-08-09 17:04] thatch45 commented on #35303
Would this actually be accepted? - YES! I would like to see this feature in Salt, I think it would be well received.
Where would this actually be implemented?
Yes, crypt.py would be a good place, but we would also need to add support for this inside salt-key. I think that the main challenge would be how to read in the key, since you would not want the password to be stored on disk, and you also do

[2016-08-09 17:06] jf commented on #35304
ok it looks like `st_.states` is set up wrongly, because a `print st_.states['user.sdecode']` produces the following (which, btw, is the wrong docstring as I just realized. This is the docstring for `def decode` in salt/utils/locales.py!):

[code]

[2016-08-09 17:23] dmurphy18 commented on #34122
@abcfy2 @myii Glad you were able to resolve the issue to the packages from the PPA.  I would like to close this issue.

[2016-08-09 17:26] Ch3LL commented on #35228
ping @rhansen looks like you created this module. would you mind looking at this to help me determine whether this is a documentation bug. I'm having a hard time determining where the error is whether that be in the documentation or the users command. Thanks

[2016-08-09 17:35] dmurphy18 commented on #18527
The current releases of Salt for Ubuntu 12.04 now ship with version 0.7.0-1 of python-mako which resolves this issue.  I am going to close this issue since it is now resolved, however please re-open it if you feel the solution is unsatisfactory.

[2016-08-09 17:35] #18527 closed

[2016-08-09 17:45] #34446 closed

[2016-08-09 17:56] terminalmage commented on #34945
Fixed in https://github.com/saltstack/salt/pull/35309, integration test included.

[2016-08-09 17:59] myii commented on #34122
@dmurphy18 I'm not very familiar with packaging but would it be possible to use `conflicts` for both `python-zmq (14.5.0-1chl1~precise1)` & `python-zmq (14.5.0-1chl1~trusty1)`, when installing the newest versions of `salt-master`, `salt-minion`, etc. from `repo.saltstack.com`? The idea is that the downgrade would be automatically performed (suggested?) in that case.

Please ignore if I've got it w

[2016-08-09 18:48] moloney commented on #23947
Pretty sure this is a duplicate of #12803

[2016-08-09 18:54] dmaziuk commented on #23947
Not really: #12803 is about `file.managed` failing to fetch uid/gid from LDAP whereas this is about `user`/`group` not knowing which backend to use when.

[2016-08-09 19:01] hoitsang commented on #26091
my salt-master is running as "salt" user, and pam retval = 7 in this case under pam.py.

would you mind to point me what i need to do to modify pam to allow "salt" user to run pam.auth in this case?

[2016-08-09 19:03] babilen commented on #34945
Thank you very much!

[2016-08-09 19:06] moloney commented on #23947
The `user` and `group` states not recognizing LDAP entries I am pretty sure has the same underlying cause as the issues in the file states. If you restart the salt minion does it start to recognize these users/groups?

There is a separate issue that salt won't be able to add a missing user/group to LDAP for you by just using `user.present` or `group.present` but that feel like more of a documentat

[2016-08-09 19:17] terminalmage commented on #34945
No prob! Thank you for helping me troubleshoot, and for helping uncover a corner case that looks to have been introduced nearly *4 years ago*. (!!!)

:+1: to @babilen

[2016-08-09 19:18] dmaziuk commented on #23947
Well, I was specifically trying to add a cluster uid/gid to local files because on lennartware-infested systems LDAP is not guaranteed to start before the cluster soft. Or was it "tempfiles" service... Anyway, you can't add them to local files because there's ldap, and you can't add them to ldap -- because ldap.

[2016-08-09 19:20] Anthonyhawkins commented on #35303
Thanks all, for the quick response.

Historically what we have done is anytime we need a password is to reach out to a custom vaulting utility which houses the password.  This is done via a command i.e.

[code]
This would return the password to stdout, however, this does not solve for having the password visible in the process output.

One possible solution for this would be to not tell salt *what

[2016-08-09 19:48] UtahDave commented on #34729
I'm able to replicate this one:

Hostname/IP defined in /etc/salt/roster is not reachable

[2016-08-09 20:13] rvora commented on #34215
@cachedout Should I try ipc_write_buffer: 'dynamic'? If not, how should I go about estimating a value in number of bytes?

[2016-08-09 20:34] davegiles opened #35316 "state with service.running & enabled=true failing on windows service that is disabled"
State consists of:

    "Start Service":
      service.running:
        - name: Dnscache
        - enable: True

If DNS Client service is stopped and set to automatic or manual it functions correctly:

    root@master:~# salt 'win*' state.apply dns.clientservice
    win2012r2:
    ----------
              ID: Start Service
        Function: service.running
            Name: Dnscache
          Resu

[2016-08-09 20:49] PredatorVI commented on #35239
I do not believe I ever saw this error on 2015.8.

The initial salt-master install is not that old and was a new install on Ubuntu 14.04 so the fact that the GitPython version is that old is disturbing.

I asked around the IRC channel about this issue and was told that PyGit2 on Ubuntu 14.04 was painful to install so it was suggested to move to Ubuntu 16.04 since there was an official package for

[2016-08-09 20:49] #35239 closed

[2016-08-09 21:58] terminalmage commented on #35239
GitPython went through about a 2 or 3-year period where it wasn't actively being developed, this is likely the reason for the older release being packaged in Ubuntu 14.04 LTS. There wasn't a newer one available at the time 14.04 was frozen, most likely.

As for why you didn't see the error, this could be as simple as GitPython not properly handling a given SHA, so this error could have appeared at

[2016-08-09 22:18] twangboy commented on #34783
@techhat Is this something we could implement in Salt-Cloud?

[2016-08-09 22:20] PredatorVI opened #35320 "Issues w/ cherrypy on Ubuntu 16.04.1 and salt-api 2016.3.2"
This issue is more to document a current issue with Ubuntu 16.04 and salt-master + salt-api.

Tried to migrate my salt-master server to Ubuntu 16.04.1 in order to use 'python-pygit2' package to work around another issue.  However, when using the 'python-cherrypy' distro package (v 2.3.0-5), I get an exception:

[code]

When I remove the distro version and install cherrypy using 'pip install cherry

[2016-08-09 22:21] ryan-lane opened #35321 "cmd.wait deprecated, but alternative doesn't work for ordered state execution"
### Description of Issue/Question

cmd.wait has been deprecated in favor of onchanges, but onchanges works like watch/watch_in, in that it can reorder states. There's no equivalent of onchanges that works like listen/listen_in.

[2016-08-09 22:28] dmurphy18 commented on #34122
@myii Conflicts would not be of use in this case since the problem here is incompatibility with the version's of packages that the PPA is providing. It would be an impossible task to conflict with all possible PPA's and their versions, ahead of time that may have issues with the packages provided by repo.saltstack.com.

I shall close this issue but please feel free to re-open it this resolution is

[2016-08-09 22:28] #34122 closed

[2016-08-09 22:52] dmurphy18 commented on #29581
@zmalone The framework used to build repo.saltstack.com is open-sourced on git, salt-pack, and was made available during SaltConf 2016.  The problem with pyOpenSSL is that it has under gone an API change which can break some installations, and since not a core dependency, it has been left to the user as to which version of pyOpenSSL best suits their environment.

[2016-08-09 23:01] dmurphy18 opened #35322 "Remove m2crypto dependency in x509 module"
### Description of Issue/Question

x509 module has a dependency on M2Crypto, which is no longer provided by SaltStack with point releases since 2015.8.0. The x509 module needs to be rewritten to utilize another maintained crypto library providing similar functionality.
### Setup

(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
### Steps to Reproduce Issue

(I

[2016-08-09 23:10] z900collector commented on #35291
Hi Megan,

After a few hours of research and experiments, the issue is definitely the
change of OS name and family by Virtuozzo, We have had a series of upgrades
go through to bring nodes from 6.10 Cloud Linux to 6.11 and in the process
the OS details have changed with the rebranding of the product.

As a workaround I have added the following into the /etc/salt/grains file
on each node:

hw34.cone

[2016-08-09 23:22] thatch45 commented on #34729
@mirko please apply the patch in #35323
after you apply that patch you should get a stack trace we can work with

[2016-08-09 23:23] z900collector commented on #35291
hw33.conetix.com.au:
               Salt: 2015.5.10
             Python: 2.6.6 (r266:84292, Jul 29 2015, 18:30:53)
             Jinja2: unknown
           M2Crypto: 0.20.2
     msgpack-python: 0.4.6
       msgpack-pure: Not Installed
           pycrypto: 2.0.1
            libnacl: Not Installed
             PyYAML: 3.10
              ioflo: Not Installed
              PyZMQ: 14.3.1

[2016-08-09 23:31] githubcdr opened #35324 "Minions are disconnected after upgrade/reboot"
### Description of Issue/Question

The salt minion seems to have trouble reconnecting after a maintenance reboot. Not all hosts seem to have this issue, but on CentOS we noticed at least 20% disconnected minions.
### Setup

CentOS 6.8 running Salt 2016.3.2 from repo.
### Steps to Reproduce Issue

Perform "yum upgrade" on a host and reboot the host, note that salt is not upgraded in the maintenance

[2016-08-09 23:40] githubcdr commented on #35324
Running this on a hanging minion also reconnects the minion, besides restarting it.

[code]

[2016-08-10 00:56] jagguli opened #35326 "[salt-cloud][azure] 'module' object has no attribute 'BlobService'"
### azure storage calls error out

azure cloud functon list_blob does not work

salt-cloud -l debug -f list_blobs my-azure container=salt

[code]
### Steps to Reproduce Issue

configure an azure provider
### Versions Report

versions report does not have azure version in it

[code]

[code]

[2016-08-10 02:43] msonawane commented on #35250
I removed and added minions back. that solved the problem. closing it for now

[2016-08-10 02:43] #35250 closed

[2016-08-10 03:09] oakad opened #35327 "blkdev.formatted: use a different method to determine whether device carries a filesystem"
In a modern day of cloud storage partition tables are somewhat of an anachronism and many block devices are formatted to contain a single filesystem.

blkdev.formatted uses 'lsblk' command to establish whether existing filesystem is present on a device. 'lsblk' relies on a partition table for it's fs type detection and would not work in a case described above, causing errors.

A better alternative

[2016-08-10 03:48] SolarisYan opened #35328 "how to change user's password"
Hi there, i use user.present with hash_password parameter to create a user and set password  on my minion, and now i want to change the password via salt,but i find no function to do it. i find the shadow module but  no work.
i know the hash_password  will support in Carbon,and i use the newest user.py to replace the current user.py file,and it works well. Any plan to support the change user passw

[2016-08-10 04:52] nigelsnapsecurity opened #35330 "pkgin not detected as pkg provider on SmartOS"
### pkgin is not detected as pkg provider on SmartOS

After forcing the selection in the minion configuration as described ([here](https://docs.saltstack.com/en/latest/ref/modules/index.html#module-provider-override)) the pkg installation (squid using the [squid formula](https://github.com/saltstack-formulas/squid-formula/blob/master/squid/init.sls)) worked fine.

Salt master and minion were insta

[2016-08-10 09:21] multani opened #35333 "The orchestrate runner refreshes Gitfs repositories on each orchestration"
### Description of Issue/Question

Running the `state.orchestrate` runner trigger each time a refresh of the Gitfs `file_server` backends configured on the Salt master:
- this creates unnecessary load on the Git server, as most repositories are not changing in my case (Salt formulas)
- this is kind of slow, as each time I run an orchestration, it needs to do all the round-trips for each repositori

[2016-08-10 09:24] Ismail-AlJubbah commented on #31531
@jfindlay can I work on this issue ?

[2016-08-10 10:08] myii commented on #34122
@dmurphy18 Wouldn't dream of requesting that all PPAs be covered but this specific PPA was suggested in the official documentation, so there are potentially a large number of installations out there.  Please search for `chris-lea/zeromq` on the following pages:

* https://github.com/saltstack/salt/blob/8c812c7f2b355685dd56e6d6de12de771ec25da6/doc/topics/installation.rst
* https://github.com/saltst

[2016-08-10 10:18] oliver-dungey commented on #28274
+1, same problem here after an upgrade

[2016-08-10 10:31] valintinr commented on #35123
Hi!
Any updates?

[2016-08-10 11:24] alexykot commented on #35139
I've just experienced same issue. Having an untagged image causes it to fail with identical `NoneType` exception, and manually removing that image resolves it.

[2016-08-10 11:41] martinohansen commented on #24225
news on this being implemented?

[2016-08-10 11:45] #30577 closed

[2016-08-10 12:25] mirceaulinic commented on #34446
Hi @cro,

Thank you very much for fixing this issue.

I have a quick question, just to make sure I understand properly: to make it work for our current setup do I need to specify any value for ```append_minionid_config_dirs``` as it defaults to ```cachedir```, or that's necessary just in case the user want to use a different dir?

Thank you!

[2016-08-10 12:45] Sylvain303 opened #35336 "documentation state.file.managed parameter template not reflecting TEMPLATE_REGISTRY"
### Description of Issue/Question

Issue about the documentation:
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.managed

it is said:

The templating engine limitation is false, and not only limited to  what is written:

* The code of [salt.states.file.managed](https://github.com/saltstack/salt/blob/develop/salt/states/file.py#L1647)
* uses [`modules.fil

[2016-08-10 12:48] StoyanV opened #35337 "{CentOS7} 2016.3.2: Targeting more than 1 minion with cmd.run results in an error " Passed invalid arguments to cmd.run: __init__() got an unexpected keyword argument 'bg""
### Description of Issue/Question
when targeting more than one minion using the cmd.run option, I get error:
"Passed invalid arguments to cmd.run: __init__() got an unexpected keyword argument 'bg"
The command however completes just fine, only I get this very annoying output appended after the command is executed.

Working commands:
-----------Example1-----------

[code]

-----------END1----------

[2016-08-10 12:54] lichtamberg commented on #34790
I think a hint in the error message should be placed, like: "(please set the branch name if you didnt intend this failure)". i stumbled now above this changes and it was really hard to understand or find out that it is related to a change of git.latest.. this should really be improved, because i thought at first that I somewhat broke my own git repository/history..

[2016-08-10 13:21] StoyanV commented on #35337
Just for the information - running a highstate on the individual machines proved not to work either.
So in the end it turned out to be this:
Post install (which in my case was an upgrade from 2015.08.08) there were a lot of "dead" salt-minions running in the background, which did not get stopped by systemctl restart salt-minion.
I needed to kill them all manually and restart the process afterwards

[2016-08-10 13:33] dqminh opened #35340 "Custom modules are only resynced to minions at highstate"
### Description of Issue/Question

Custom modules are only resynced to minions at highstate. The documentation said

[code]

Before the introduction of `state.apply` it was `state.highstate` which is much clearer. However if we can fix the loading process of modules so it can be automatically resynced/reloaded it would be great too.

### Setup
- Custom modules stored in `states/_modules`

### Step

[2016-08-10 13:47] johje349 commented on #31454
Requested  information provided below. I now have 66 minions and the master is configured with 24 worker threads. I do 10 state.apply during the test.
My test state:
[code]

Execution:
[code]

[2016-08-10 14:08] johje349 commented on #31454
The memory consumption seems pretty stable during subsequent runs though. A clear improvement since the issue was reported. The version of master and minions is 2016.3.2.
I ran another 50 state.apply:
[code]

[2016-08-10 14:17] edgan commented on #31531
The know workaround is using extra_filerefs. The salt-ssh code doesn't pick up files that aren't referenced by include or source. The import doesn't count. I have tried a system of having a state to source the map.jinja in cases of salt-ssh, but it proved to be more work than using the extra_filerefs method. See #9878 for history.

Saltfile:
extra_filerefs:
      - salt://jingatest/map.jinja

[2016-08-10 15:10] morganwillcock opened #35342 "win_pkg: refresh_db doesn't remove cached items which have been renamed or removed"
If you remove or rename items in the repo-ng folder on the master, these are not removed from the minion cache when you run win_pkg.refresh_db. Particularly in the case of renaming, it's very likely to generate a name collision for the package which may result in incorrect installation states being returned (the pkg name map can still reference old sls files).

As an example, I'll rename my 7zip d

[2016-08-10 15:40] morganwillcock commented on #35262
Checking `/etc/lsb-release` looks like it's in the exception block for this:
<pre>try:
    import lsb_release  # pylint: disable=import-error
    release = lsb_release.get_distro_information()</pre>
I haven't got `/etc/lsb-release` either, but the grains are set.
<pre>salt debian-minion grains.items | grep -A1 codename
    lsb_distrib_codename:
        jessie
--
    oscodename:
        jessie</pre

[2016-08-10 15:41] thatch45 commented on #35303
We have a solution for that, if the password can be loaded from the config file then we can use sdb to store it in an external vault

[2016-08-10 15:48] perfecto25 opened #35346 "salt-minion dropping connection on windows"
### Description of Issue/Question

salt minion loses connection periodically, master cant connect to minion after running test.ping

nothing meaningful in agent log,

connection to agent is on and off

heres an example,

### Setup

run any cmd line against minion,
### Steps to Reproduce Issue

salt 'target' test.ping
salt 'target' any comand
### Versions Report

(Provided by running `salt --versio

[2016-08-10 15:54] Ch3LL commented on #27156
@Semyazz has your question been answered? Are you okay to close this issue?

[2016-08-10 16:09] stephane-martin commented on #35262
@morganwillcock indeed, the virtualenv that's used to run salt in my installation doesn't have the lsb_release python module... I'll try to add it and see if it fixes the issue.

[2016-08-10 16:11] jfindlay commented on #24225
@martinohansen, not that I know of.

[2016-08-10 16:22] tiadobatima commented on #24225
Funny I was also just looking at the status of this issue yesterday. Would +1000 for this feature being available in 2016.03.
It's a major pain to reconfigure and restart salt everytime we need a new formula :)

Thanks guys!

[2016-08-10 16:25] stephane-martin commented on #35262
Yes, thanks, now the lsb_* and oscodename grains appear.

@Ch3LL maybe the salt documentation should be explicit about it: when installing salt in a virtualenv, there are hidden dependencies on "python-apt" python package and "lsb_release" python package. (Unfortunately these packages are not installable with pip...)

[2016-08-10 16:36] deniszh opened #35350 "DDNS update existing record even if record exists"
### Description of Issue/Question
In latest stable and develop Salt ddns state module is broken - it updates DNS record every time, even if record exists.

### Setup
[code]
Running state above updates dns record every time, despite TTL 600

### Versions Report
[code]

[2016-08-10 16:38] Ch3LL commented on #35304
@jf I'm having a hard time finding the module `user.sdecode`.  Can you point me to some docs where you see this module available.

I am able to replicate this behavior though:

[code]

So I believe in this case we want to make sure we are not spitting something out if the module does not exist. But mabye you can correct me and point me to where that module exists but I cannot find it.

[2016-08-10 16:39] dmurphy18 commented on #34122
@myii Thanks for bring the out of date documentation to attention, the bootstrap script shall also be adjusted.

[2016-08-10 16:52] myii commented on #34122
@dmurphy18 @jacobhammons Apologies for the confusion.  The documentation has already been adjusted, I was just highlighting that this specific PPA was suggested in the official documentation **in the past** -- attempting to justify that this PPA should be treated as a special case re: `conflicts`.  As for the bootstrap script, that **still** references the PPA.

[2016-08-10 16:53] Ch3LL commented on #35316
@davegiles I am able to replicate this on windows 2012.

I ran the following commands to disable/stop dnscache

`net stop dnscache`
`sc config dnscache start= disable`

Then I ran your state.sls file as posted above:

[code]

One thing to note is that the service actually is started. If you check that status of the service after running the state file it is running, but the report back from the st

[2016-08-10 16:59] Ch3LL commented on #34219
Thanks for the bump. Yeah I'll change the labels. So just to clarify it seems the issue here is ubuntu's doesn't provide the package that we are compatible with. But maybe the bigger issue is to get it working with 3.5.0 cherrypy. So i'll lable it as a bug for this reason, unless I'm incorrect in this logic please correct me.

[2016-08-10 17:02] myii commented on #34122
@dmurphy18 @jacobhammons Another point for more clarity.  The `python-zmq` package isn't provided by `repo.saltstack.com`.  Rather, the discussion during this issue shows that this package needs to be downgraded to the package provided by the main Ubuntu repos, **if** the PPA package is currently installed.

[2016-08-10 17:03] Ch3LL commented on #35320
@PredatorVI this is related to #34219 although you are reporting different errors. To workaround this issue can you try installing cherrypy 3.2.3. In that issue ctrlsf has posted a solution to doing so.

I will label this a bug though to ensure we put efforts towards compatibility with newer versions of cherrypy

[2016-08-10 17:12] Ch3LL commented on #35321
i'll approve as a feature request so we can add functionality to onchanges that does not change the order of states. Thanks

[2016-08-10 17:14] davegiles commented on #35316
thx @Ch3LL ...

[2016-08-10 17:15] ryan-lane commented on #35321
I'm not sure it's that simple. People using ordered requisites assume that watch/onchanges is going to reorder the states. We added listen as an alternative to watch, so that the listens occur in a later phase of execution. I think the issue is that we also need the equivalent of listen for onchanges, not to modify onchanges' behavior.

[2016-08-10 17:19] dmurphy18 commented on #34122
@myii Do not really want to add conflicts for a particular PPA in packages.  In discussion internally about fixing the bootscript.  For python-zmq, it is provided for those platforms where the version from the base OS is insufficient.  For example it is provided for Ubuntu 12.04 but not Ubuntu 14.04 or 16.04.

[2016-08-10 17:23] Ch3LL commented on #35326
@jagguli if you run `pip install azure-storage` does this resolve the issue?

[2016-08-10 17:32] Ch3LL commented on #35327
@oakad agreed we could implement this as well as a backup if no filesystem is detected. thanks I'll label this as a bug since this is causing errors for situations where the device does not include partition tables. Thanks

[2016-08-10 17:39] Ch3LL commented on #35328
@SolarisYan could you elaborate on why the shadow module is not working? If you are attempting to just change the password once with an execution module I believe the shadow module is what you will want to use. You would want to first generate the password using `salt '*' shadow.gen_password mypassword` And then you will want to set the password with that generated hash: `salt '*' shadow.set_passw

[2016-08-10 17:40] myii commented on #34122
@dmurphy18 Understood.  Since the PPA is no longer providing the package, new installations will not end up with this issue.  Existing installations will have to be resolved manually, which isn't a big deal when only a handful of minions.  Thanks for your time.

[2016-08-10 18:00] Ch3LL commented on #35330
I know I tested with the smartos tarball [here](http://pkg.blackdot.be/extras/salt-2016.3-dev3-smartos.tar.gz) to test installing packages with 2016.3.2 just last week and it worked.

ping @sjorge would this be expected to work with a pip install of salt? I'm wondering if there are differences between the tarball install nad a pip install with smartos. Thanks

[2016-08-10 18:03] Ch3LL commented on #35336
@Sylvain303 thanks for pointing this out. Looks like we need to add more renderers to that list in the documentation.

[2016-08-10 18:06] astehlik opened #35353 "Salt does not change mysql auth plugin type"
### Description of Issue/Question

I have a simple mysql user salt state that should update the password of the root user:

[code]

The problem is, that during the installation of mysql-server on Ubuntu Xenial (16.04) the `root@localhost` user is created with the `auth_socket` authentication plugin.

This means that the password change of Salt does not really do anything. It might change the passw

[2016-08-10 18:11] Ch3LL commented on #35337
@StoyanV i think what you might have run into is this issue #33516  Are you okay closing this issue since its resolved and there is already an issue open for the other issue you found during troubleshooting?

[2016-08-10 18:15] Ch3LL commented on #35340
@dqminh are you stating that the custom modules are not being synced on `state.highstate`? or that you would like custom state modules to be synced when running `state.sls`. Sorry for the confusion just want to make sure I understand what your issue is and what you are proposing as the fix. Thanks

[2016-08-10 18:17] Ch3LL commented on #35346
@perfecto25 there might be some network latency between the minion and the master. If you increase the timeout of your command does this help to ensure the command returns each time? For example `salt 'minion' test.ping -t 30`?

[2016-08-10 18:19] Anthonyhawkins commented on #35303
This is good stuff.  One less wheel to re-invent regarding retrieving it from an external vault!

Just to confirm I'm assuming (correct me if I'm mistaken) that the salt-master on first start reads in the config prior to creating it's private key and on every boot after that it reads the config before loading it's key.

[2016-08-10 18:46] thatch45 commented on #35303
Correct :)

[2016-08-10 19:23] deniszh commented on #35350
The fix is there, but tests are red. Doubt that was caused by my change...

[2016-08-10 19:24] sjorge commented on #35330
It work with a pip installation (I run a few of those). As long as it can find the pkgin binary.

What does the following return:
[code]

For me it finds pkgin in /opt/local
[code]

I do know it doesn't work in the global zone, unless you install the special repo and set the proper path in the minion's smf.

[2016-08-10 19:27] sjorge commented on #35330
That's probably the problem, from the initial post:

[code]

It's missing /opt/local so salt can't find pkgin.

Bellow is the smf service configuration I use for my salt minions, it exports a correct PATH env.

[code]

[2016-08-10 19:43] Ch3LL commented on #35324
@githubcdr I'm having a hard time replicating this on centos6 and it seems in your test case it didn't happen on all your centos6 minions. Looks like in your settings you only have log level set to warning, because I would be curious to see what the logs looked like on the minion side when this occurred. I was hoping it was set at debug but is there anything in the minion logs that is telling as t

[2016-08-10 19:53] Ch3LL commented on #34861
@derekmaciel thanks for the PR and all the great investigation work! I did some testing with the following sls file on centos7 on the latest develop today to help with your need for a test case

[code]

1. make sure package is not already installed:

[code]

2. Run sls file:

`salt-call --local state.sls post`

[code]

3. verify it is installed:

[code]

Does this test case accurately show that yo

[2016-08-10 20:30] rallytime commented on #35336
Thanks @Sylvain303 - I have fixed this with #35360.

[2016-08-10 21:17] derekmaciel commented on #34861
That looks great @Ch3LL, that's convincing enough, feel free to close this issue.

[2016-08-10 21:35] gzcwnk opened #35363 "How to figure out how to use grains, can we have some examples please?"
So I do this to find the OS,
#

[code]
#

Now I want to nest by finding the architecture ie 32bit or 64bit the grain for which is, "cpuarch"   ?  So how do I find what will be going on the other side of the ==  ?    I find I really need examples of code and it isnt just me finding the salt docs are in-adequate in this respect, its like reading man pages not much use at times  :(  Thanks.

[2016-08-10 22:27] jim-raney-physiq commented on #31522
We got a note from our account rep that Google updated their storage service to use V4 auth.  I haven't been able to get it working yet (get "The request signature we calculated does not match the signature you provided. Check your Google secret key and signing method" on every request).  I haven't been able to spend any real time on it.

[2016-08-10 22:40] Ch3LL commented on #34506
@akcrisp just wanted to clarify everything in this issue with you so far. Can you tell me if the following is true:

1. We do not see anything in your debug logs about loading external_auth even when you are setting it to pam or ldap, therefore for some reason its not loading your `external_auth` settings from your master configuration file. Please correct me if that is incorrect. I went ahead and

[2016-08-10 22:49] dqminh commented on #35340
@Ch3LL its confusing when the documentation stated that custom modules are sync at `state.apply`, but `state.apply` can be run either in highstate mode ( same as `state.highstate` ) or in multiple states mode. Custom modules can only be synced in the former cases, not the latter.

There are a few things i would like to be fixed:
- changing documentation to clarify that custom modules are only sync

[2016-08-10 22:51] jf commented on #35304
aah, you know what, I think we're getting somewhere! Thanks for this! I actually got `user.sdecode` from doing `salt-call sys.list_state_functions user` (or even without `user` if you want to see everything). But I just looked in the source and you're right: there is no actual `user.sdecode` state function! What there is though (and this gets interesting), is the following in the source (the docst

[2016-08-10 22:53] cro commented on #34446
@mirceaulinic For proxy minions it `append_minionid_config_dirs` defaults to [`cachedir`], you are
correct.  So you can leave it unset.  The config option takes a list, but the list can only have  `pki_dir`, `cachedir`, and `extension_modules` (any combination of those three, but no others).

[2016-08-11 02:02] bwhaley commented on #27400
+1, hit this following [the tutorial on digitalocean](https://www.digitalocean.com/community/tutorials/how-to-create-your-first-salt-formula) with the most basic salt state:

[code]

[code]

[2016-08-11 02:17] SolarisYan commented on #35328
@Ch3LL  yes, shadow.set_password can set the user password,but it does not verify the old password,and i have write my own module to do this.thank  you.

Salt Version:
           Salt: 2016.3.2

Dependency Versions:
           cffi: Not Installed
       cherrypy: 3.2.2
       dateutil: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed