[2019-02-13 01:24] dwoz commented on #51578
@saltstack/team-core Does anyone have some input on this?

[2019-02-13 01:27] dwoz commented on #51585
@techhat Is this a config issue or does it look like a bug?

[2019-02-13 03:19] tuxthepenguin84 commented on #51585
I'll post my full master config tomorrow if that would help, it's very short with only a few changes.

Also one thing to note is the following will change depending on what is being done:
```SaltRenderError: Jinja variable 'id' is undefined```
This will sometimes say:
```SaltRenderError: Jinja variable 'fun' is undefined```

[2019-02-13 04:25] dwoz commented on #51592
@bobrik Thanks for reporting this.

[2019-02-13 04:27] dwoz commented on #51593
@saltstack/team-core Does anyone have input to provide on this?

[2019-02-13 04:28] dwoz commented on #51596
@dmurphy18 Can you confirm this is an issue?

[2019-02-13 04:50] gposton commented on #44145
I'm getting this error as well... any info I can provide to help.  Disabling failhard is a workaround, but that setting is very helpful during salt development.

[2019-02-13 07:32] Armadill0 commented on #36801
I'm also highly interested in that. Our Supermicro stuff also supports the Redfish API.

This would help us a lot to automate our bare-metal provisioning in a much simpler way via Salt.

[2019-02-13 09:05] dumol commented on #4614
For the record, the uninstaller does have a silent option now, and it's using the `/S` switch.

[2019-02-13 11:53] guettli opened #51618 "NameError: global name '__opts__' is not defined"
### Description of Issue/Question

I try to call `salt.grains.core.os_data()` in my custom grain, but this fails.

### Setup
[code]

### Steps to Reproduce Issue

[code]

Output:
[code]
### Versions Report

salt:/srv # salt --versions-report
Salt Version:
           Salt: 2018.3.2

Dependency Versions:
           cffi: 1.1.0
       cherrypy: 3.6.0
       dateutil: 2.1
      docker-py: Not Installe

[2019-02-13 12:46] sotona- commented on #51574
Thanks. If this workaround will not help, i'll write.

[2019-02-13 13:16] guettli opened #51619 "grains.os_string which is importable as SLS file"
### Description of Issue/Question

Unfortunately `grains.osfinger` can contain a dot.

This means, this does not work:
[code]

I like this pattern very much, so that I wrote a custom grain:
[code]

This is a feature-request. It would be nice if salt would provide something like this by default.

This way I can use this:

[code]

The files (`os-Ubuntu-18_04.sls`, `os-SLES-12_3.sls`, ....) I can dec

[2019-02-13 14:01] brejoc opened #51620 "return code breaks expected behaviour for pkg.info_installed"
### Description of Issue/Question

There have been changes in the way the `retcode` is handled when doing a `pkg.info_installed`. With `2018.3.0` (the latest version we use in SUSE) there was no `retcode` when `pkg.info_installed` was invoked. This has changed for `2019.2.0 RC2`. Now a `retcode` is returned and if a pkg is not installed, it is `1`, which produces a `CommandExecutionError`.

Of cou

[2019-02-13 14:29] isbm commented on #51620
Well, the package was not installed, therefore `salt.defaults.exitcodes.EX_GENERIC`. So I am not really sure how this is an _issue_.

[2019-02-13 14:30] damon-atkins opened #51621 "Master calling find_job every 10 seconds, Windows takes 10 seconds to execute it"
### Description of Issue/Question
When you run `salt win something`, about every 10 seconds salt master calls find_job to see how the job running on the minion is going.    On windows this starts a new thread. On windows starting a new thread seems to take about 10 seconds.

This just cause a lot of thrashing on the windows minion.  Use work around this by using `salt -t 60 ....`

### Steps to Rep

[2019-02-13 14:31] damon-atkins commented on #51621
As request by @dwoz

[2019-02-13 14:56] brejoc commented on #51620
@isbm I understand that the new behaviour is better, but this breaks the expected behaviour when coming from an older Salt version and will cause headache for a lot of customers.

[2019-02-13 15:09] terminalmage commented on #51620
The retcode handling is expected behavior and is not going to be changed.

What seems wrong to me is that a function that is meant to return info about an installed package raises an exception instead of simply returning an empty dictionary.

[2019-02-13 15:10] Ch3LL commented on #51601
looks like i'm also able to replicate this also on the head of 2018.3 an 2019.2. we could probably do a better job at catching this misconfiguration. thanks :)

[2019-02-13 15:12] terminalmage commented on #51620
It seems to me the correct fix is not to make `lowpkg.info` raise an exception.

[2019-02-13 15:19] terminalmage commented on #51620
Or, like @isbm suggested to me just now, catch it in `pkg.info_installed`.

[2019-02-13 15:23] dincamihai commented on #51620
the problem would be when `rpm` would be called with an invalid option. For example: `rpm -t abc` the retcode would also be 1

[2019-02-13 15:23] isbm commented on #51620
The `lowpkg.info` is actually raising it because of non-zero retcode, so I believe it is correct. The forming final result is the job of virtual `pkg.info_installed`, so I think this should be captured there.

However, the retcode, I still think is actually correct behaviour and all these kind of exceptions should be treated as non-zero retcodes at the end.

[2019-02-13 15:25] Ch3LL commented on #51602
this part of your reactor state: `        - name: 'This is an automated message from NetOps.'` is most likely being interpreted as a dictionary instead of an arg. So if you need to include `name:` in your message you will need to quote or escape that so its not interpreted as such

also `       -  subject='Test'` needs to be passed via `args` or `kwargs` not `arg`. See this example from the docs:

[2019-02-13 15:28] terminalmage commented on #51620
Then.... don't use invalid options? I don't understand why this is Salt's problem.

[2019-02-13 15:28] thatch45 commented on #51620
Yes, the retcode is not an issue, it is that an exception is being raised. @terminalmage is right as usual

[2019-02-13 15:30] dincamihai commented on #51620
@terminalmage my point is how to make the difference between valid retcode 1 (wrong option) and package not installed 1

[2019-02-13 15:31] Ch3LL commented on #51604
will approve as a feature request. thanks :)

[2019-02-13 15:38] terminalmage commented on #51620
If you want to set a different exit code, you can set `__context__['retcode'] = 2`, and use `salt-call --retcode-passthrough` on the minion.

https://docs.saltstack.com/en/develop/topics/return_codes/index.html

[2019-02-13 15:42] terminalmage commented on #51620
So, catch the exception, interpret it, and set `__context__['retcode']` appropriately. If you want to include the information from the failed command, `CommandExecutionError` accepts an `info` param that gets assigned as the exception's `info` attribute. So, when raising the exception, just use `info=call` or something, and catch it in `pkg.info_installed`.

[2019-02-13 16:36] Ch3LL commented on #51605
looks like i'm able to replicate this error running the following:

1. `cd /srv/salt`
2. `git clone https://github.com/saltstack-formulas/redis-formula.git  .`
3. ` salt-ssh '*' state.sls redis test=True -ltrace > /tmp/test 2>&1`

and i see ` - Rendering SLS 'base:redis.common' failed: Jinja variable 'dict object' has no attribute 'pkg_name'`

looks like we need to get this fixed up thanks

[2019-02-13 16:44] Ch3LL commented on #51611
Can you clarify this statement for me "So my problem is that salt runner cannot import this module."? Are you trying to run the custom module like so `salt-run test_mod.hello` and its not working? Or you are trying to call the custom module from another custom runner you are using?

I believe you are trying to import it from a custom runner since your stack trace shows that, but i wanted to be cle

[2019-02-13 16:45] Ch3LL commented on #51612
will approve as a feature request thanks :)

[2019-02-13 17:26] waynew commented on #40152
I'm giving a workaround a bit of attention today, hopefully should have a PR up by the EOD

[2019-02-13 17:27] vkornylyuk-vs commented on #43752
@bushelofsilicon you can fix this by escaping double quote symbol
[code]

[2019-02-13 17:38] Ch3LL commented on #51618
see issue here: https://github.com/saltstack/salt/issues/47338

if you see in that issue there is a proposed solution here: https://github.com/saltstack/salt/pull/47372 that will be added in the next fluorine release.

[2019-02-13 17:39] vkornylyuk-vs commented on #43752
But it success only if entry does not exist and fails on existing entry. Fixed version is:
[code]

[2019-02-13 17:43] Ch3LL commented on #51619
im not clear what the feature request is exactly. Are you simply asking that `osfinger` does not return a `.`?

[2019-02-13 17:51] dkpiesak commented on #51596
I forgot to mention that the escape characters that are added in order to make the `state.highstate` work, are pushed to the `master` config file. So, nothing gets actually escaped.
After the `state.highstate` has run:

[code]

Perhaps i needed to escape the escape characters and create an escape hell there. Didn't try that.
But as long as these lines remain commented out, it does not cause any pr

[2019-02-13 17:52] Ch3LL commented on #51615
One possible solution is to target multiple grains. The initial grain value you want to target `'grain:value'` and another grain value that is set after the node is connected and setup.

[2019-02-13 17:59] mattdodge commented on #51615
The problem (at least what I am observing, maybe not a "problem" per se) is that when the minion hasn't yet connected salt master tries to ask the node for it's grains, making the request take a long time and thus getting the "no response" statuses. So another grain that gets set when the minion is set up wouldn't change the fact that the salt master doesn't know about the minion yet - it would ju

[2019-02-13 18:21] stratusjerry commented on #51524
@dwoz thanks, looks like it was fixed in
#49394

[2019-02-13 18:21] #51524 closed

[2019-02-13 18:35] MrJSec commented on #51512
Hi Ch3LL,

Yes please, do show me :)

[2019-02-13 18:37] myii commented on #51605
@Ch3LL Thanks for the review and confirmation.

Yes, as a symptom of the merge not taking place, the other YAML files are not merged into the map, leading to missing attributes as shown in the following two comments:

* https://github.com/saltstack-formulas/redis-formula/issues/75#issuecomment-459279282
* https://github.com/saltstack-formulas/redis-formula/issues/75#issuecomment-459281665

[2019-02-13 19:52] waynew commented on #40152
I've just created a PR - If you can, I'd appreciate folks testing to ensure that it works for you! (If my fix fails for you - or fixes your problem - please go comment on the PR above!)

[2019-02-13 19:55] The-Loeki commented on #48067
[code]

[2019-02-13 19:57] alan-cugler commented on #51127
https://docs.saltstack.com/en/latest/topics/development/hacking.html#editing-and-previewing-the-documentation
I found this, but the "run make again" doesnt seem to cause git to see the changes

[2019-02-13 21:16] waynew commented on #48067
So these are all the modules that are (probably) affected by this issue? 😞

[2019-02-13 21:25] lomeroe opened #51634 "lgpo does not properly set "boolean" admx element types"
### Description of Issue/Question
The lgpo module does not properly generate the data for a True "boolean" admx element type.  Boolean elements are typically represented as check boxes in an Administrative Template item in the gpedit.msc GUI.

### Setup
For example, elements 'Install during automatic maintenance' and 'Install updates for other Microsoft products' of the 'Configure Automatic Update

[2019-02-13 21:58] Wilybald commented on #51611
I wrote custom runner for send email. The custom runnes was write in python so I want import my custom module to the my custom runner. Because is possible import salt modules and I don't understand why I cannot import my custom module. And Yes `run salt-run test_mod.hello` is not working.

[2019-02-13 22:08] The-Loeki commented on #48067
Something like that yeah ;) I haven't looked through the list thoroughly though.

I've toyed around a bit and just PR'ed a WIP POC thingy. Is borken in all ways *except* get_file & cache_file by injecting a very slightly modified fileclient.

[2019-02-13 22:08] The-Loeki commented on #48067
Salt pplz seem however really busy with 2019.2 so might be a while before they respond?

[2019-02-13 22:17] tuxthepenguin84 commented on #51585
My /etc/salt/master file excluding commented sections:
[code]

[2019-02-13 23:16] The-Loeki commented on #48067
Related: #50525

[2019-02-13 23:31] The-Loeki commented on #48067
Related: #50196

[2019-02-13 23:39] The-Loeki commented on #48067
Related: #50351

[2019-02-13 23:51] juthewiz commented on #51602
@Ch3LL hey thanks for the help. i made those changes

[2019-02-14 00:08] twangboy commented on #51309
The above PR's fix this issue

[2019-02-14 00:08] #51309 closed

[2019-02-14 00:10] #45622 closed

[2019-02-14 01:53] juthewiz opened #51639 "salt jira.create_issue returning 'jira.create_issue' is not available."
[code]

this is on the saltminion in /etc/salt/minion

[code]

Salt Version:
           Salt: 2018.3.3

Dependency Versions:
           cffi: 1.11.5
       cherrypy: Not Installed
       dateutil: 2.4.2
      docker-py: Not Installed
          gitdb: 0.6.4
      gitpython: 1.0.1
          ioflo: Not Installed
         Jinja2: 2.10
        libgit2: Not Installed
        libnacl: Not Installed

[2019-02-14 07:02] #35470 closed

[2019-02-14 07:02] #43826 closed

[2019-02-14 07:02] #43637 closed

[2019-02-14 07:02] #43923 closed

[2019-02-14 07:02] #38538 closed

[2019-02-14 07:02] #43745 closed

[2019-02-14 07:02] #43922 closed

[2019-02-14 07:02] #43947 closed

[2019-02-14 07:02] #43963 closed

[2019-02-14 07:02] #43984 closed

[2019-02-14 07:02] #43987 closed

[2019-02-14 07:02] #43992 closed

[2019-02-14 07:02] #43954 closed

[2019-02-14 07:02] #43347 closed

[2019-02-14 07:02] #43986 closed

[2019-02-14 07:02] #44035 closed

[2019-02-14 07:02] #20392 closed

[2019-02-14 07:02] #44068 closed

[2019-02-14 07:02] #44059 closed

[2019-02-14 07:02] #43983 closed

[2019-02-14 07:02] #44077 closed

[2019-02-14 07:02] #25061 closed

[2019-02-14 07:02] #40709 closed

[2019-02-14 07:02] #40897 closed

[2019-02-14 07:11] antifob opened #51641 "nftables returning success when rule not added"
### Description of Issue/Question

The nftables state wrongly return success when a rule isn't added.

### Setup

1. On Ubuntu 18.04 LTS, install `nftables` and flush the ruleset: `apt-get install nftables && nft flush ruleset`.
2. Apply the below  state.
3. List the ruleset (`nft list ruleset`) and see that it's empty even though the `nftables` module indicate a change.
4. Execute the following t

[2019-02-14 07:15] antifob commented on #51483
I provided steps to reproduce this issue in #51641

I'm not sure what info you need here. The above patch fails because there is no module named `log`.

[2019-02-14 07:20] antifob commented on #51484
For the record, the correct syntax is `nftables.append filter output rule="ip daddr 1.1.1.1 tcp dport 443 accept"`. And yes it works because the rule is passed straight down to the execution step.

I'm talking about the `nftables` state. I renamed  and edited my report accordingly. Sorry for the confusion.

[2019-02-14 07:22] antifob opened #51642 "cmd.script failing when /tmp is mounted noexec"
### Description of Issue/Question

The `cmd.script` function fails if `/tmp` is mounted `noexec`. This behavior is despite passing an explicit `shell` interpreter.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-re

[2019-02-14 07:25] petrhosek commented on #43963
It looks like this still hasn't been addressed.

[2019-02-14 07:43] damon-atkins commented on #51621
Hi @Ch3LL seems more like a P1, make windows experience a bad one in comparison to linux/unix. Enough for people to walk away from salt. And it just a simple fix for someone who understands the minion.py thread code.

[2019-02-14 08:02] #43736 closed

[2019-02-14 08:02] #43766 closed

[2019-02-14 08:02] #37727 closed

[2019-02-14 08:02] #39538 closed

[2019-02-14 08:02] #42979 closed

[2019-02-14 08:02] #41019 closed

[2019-02-14 08:02] #43798 closed

[2019-02-14 08:02] #43787 closed

[2019-02-14 08:02] #27692 closed

[2019-02-14 08:02] #43816 closed

[2019-02-14 08:02] #43824 closed

[2019-02-14 08:02] #41650 closed

[2019-02-14 08:02] #43815 closed

[2019-02-14 08:02] #15197 closed

[2019-02-14 08:02] #6424 closed

[2019-02-14 08:02] #37651 closed

[2019-02-14 08:02] #6405 closed

[2019-02-14 08:02] #43846 closed

[2019-02-14 08:02] #11199 closed

[2019-02-14 08:02] #43874 closed

[2019-02-14 08:02] #43879 closed

[2019-02-14 08:02] #43881 closed

[2019-02-14 08:02] #43900 closed

[2019-02-14 08:02] #21404 closed

[2019-02-14 08:05] zeyangli commented on #43369
I also encountered this problem. How did I solve it in the end?

[2019-02-14 08:36] guettli commented on #51619
Changing the output from `grains.osfinger` from "Ubuntu-18.04" to "Ubuntu-18_04" to make it possible to import "Ubuntu-18_04.sls" is too much. This would break a lot of systems.

That's why I want to add a new grain.

Is it more clear now?

[2019-02-14 08:37] guettli commented on #51618
Thank you for your answer.

[2019-02-14 08:37] #51618 closed

[2019-02-14 08:51] jfoboss commented on #6896
+1

[2019-02-14 09:02] #33957 closed

[2019-02-14 09:02] #43480 closed

[2019-02-14 09:02] #43601 closed

[2019-02-14 09:02] #17278 closed

[2019-02-14 09:02] #43569 closed

[2019-02-14 09:02] #43657 closed

[2019-02-14 09:02] #43660 closed

[2019-02-14 09:02] #43679 closed

[2019-02-14 09:02] #43696 closed

[2019-02-14 09:02] #43654 closed

[2019-02-14 09:02] #41521 closed

[2019-02-14 09:02] #34341 closed

[2019-02-14 09:02] #28016 closed

[2019-02-14 09:02] #43728 closed

[2019-02-14 09:02] #43715 closed

[2019-02-14 09:02] #43719 closed

[2019-02-14 09:02] #11501 closed

[2019-02-14 09:02] #43555 closed

[2019-02-14 09:02] #43709 closed

[2019-02-14 09:02] #35831 closed

[2019-02-14 09:02] #43525 closed

[2019-02-14 09:02] #43738 closed

[2019-02-14 09:02] #7923 closed

[2019-02-14 09:02] #41717 closed

[2019-02-14 09:02] #43741 closed

[2019-02-14 09:02] #42112 closed

[2019-02-14 09:14] jfoboss commented on #6896
Workaround script:
[code]

[2019-02-14 10:02] #43429 closed

[2019-02-14 10:02] #9436 closed

[2019-02-14 10:02] #15857 closed

[2019-02-14 10:02] #43514 closed

[2019-02-14 10:02] #43531 closed

[2019-02-14 10:02] #43540 closed

[2019-02-14 10:02] #43542 closed

[2019-02-14 10:02] #30353 closed

[2019-02-14 10:02] #43500 closed

[2019-02-14 10:02] #43521 closed

[2019-02-14 10:02] #43368 closed

[2019-02-14 10:02] #43538 closed

[2019-02-14 10:02] #40840 closed

[2019-02-14 10:02] #43568 closed

[2019-02-14 10:02] #43556 closed

[2019-02-14 10:02] #41896 closed

[2019-02-14 10:02] #9572 closed

[2019-02-14 10:02] #18406 closed

[2019-02-14 10:02] #43608 closed

[2019-02-14 10:02] #43613 closed

[2019-02-14 10:02] #43565 closed

[2019-02-14 10:02] #43558 closed

[2019-02-14 10:02] #43490 closed

[2019-02-14 10:02] #29166 closed

[2019-02-14 10:02] #43641 closed

[2019-02-14 11:35] #35440 closed

[2019-02-14 11:35] #14780 closed

[2019-02-14 11:35] #43318 closed

[2019-02-14 11:35] #43353 closed

[2019-02-14 11:35] #43451 closed

[2019-02-14 11:35] #43433 closed

[2019-02-14 11:35] #43477 closed

[2019-02-14 11:35] #43428 closed

[2019-02-14 11:57] markuskramerIgitt opened #51653 "minion.d/_schedule.conf contains outdated keys"
### Steps

Save to minion.d/schedule.conf:
[code]
Then use minutes instead of seconds, save to minion.d/schedule.conf:
[code]

Then save the original (no 1 minute, but 10 seconds)

Still the scheduler was on a 1 minute interval.

I finally realized that you see both minutes and seconds in _schedule.conf

[code]

The minutes should no longer be there.

In _schedule.conf you also see args, which is

[2019-02-14 11:58] markuskramerIgitt commented on #51653
Client version was outdated.

[2019-02-14 11:58] #51653 closed

[2019-02-14 16:14] Ch3LL commented on #51515
thanks for the additional information, seems we need to fix this up for those additional modules.

[2019-02-14 16:50] #50880 closed

[2019-02-14 17:04] Ch3LL commented on #47535
i see this as a clear duplicate of https://github.com/saltstack/salt/issues/46891

so i will close here and we will try to keep the conversation there so its in one issue

[2019-02-14 17:04] #47535 closed

[2019-02-14 17:44] markuskramerIgitt commented on #26643
I am interested in a solution

[2019-02-14 17:50] garethgreenaway commented on #49661
@treba123 @kiemlicz  If you're able to test the change in that PR, it should allow 2017.7 to start up as expected and will be available in the 2017.7.9 release.

[2019-02-14 17:56] Ch3LL commented on #46891
i was finally able to replicate this after many attempts using @MatthiasKuehneEllerhold 's test case.

I was able to bisect it to this commit:

a8cded1c836198c1ad7a6f521419b9ef10ae06d7

which is from this PR https://github.com/saltstack/salt/pull/46149

ping @terminalmage any quick ideas here by chance?

[2019-02-14 18:09] treba123 commented on #49661
@garethgreenaway ouch xD
can confirm it now works perfectly fine, thanks alot!

[2019-02-14 18:20] garethgreenaway commented on #49661
Yup!  That was a nasty one and hard to find, kudos to @Ch3LL for tracking it down.
@treba123 Thanks for testing it out.

[2019-02-14 19:06] garethgreenaway commented on #49661
Just an FYI, it appears that salt-key has a similar issue.  Currently investigating the cause.

[2019-02-14 19:54] sathieu commented on #46363
What does this bug mean?

[2019-02-14 20:09] KChandrashekhar commented on #51273
Closing as below fix is merged, which addresses this issue as well
https://github.com/saltstack/salt/pull/51318

[2019-02-14 20:09] #51273 closed

[2019-02-14 20:19] waynew commented on #51578
I can take a look at this probably tomorrow

[2019-02-14 20:34] waynew commented on #51484
Hey @antifob thanks for the follow-up!

Do you have your sample ntftables state that fails? Looking at the code, it looks like:

[code]
or something similar *should* work. What state are you using? (I didn't see it in your report, but I'm not above blaming GitHub/Chrome for caching something :trollface:)

[2019-02-14 20:34] waynew commented on #51593
I'll look into this tomorrow.

[2019-02-14 20:37] twangboy commented on #51634
Closed by 51635

[2019-02-14 20:37] #51634 closed

[2019-02-14 20:44] juthewiz commented on #51602
@Ch3LL when i remove the kwag and just use arg i get the following in the event bus....the message doesnt send but i dont see any errors?

[code]

[2019-02-14 22:10] onlyanegg opened #51656 "Inconsistent location of repos in aptpkg module"
### Description of Issue/Question

The aptpkg execution module doesn't locate repos consistently. `get_repo()` compares `rstrip('/')`ed versions of the uri, whereas `del_repo()` doesn't. This leads to confusing behavior where `get_repo()` will find a repo, but `del_repo()` wont be able to delete it. It also causes the `pkgrepo.absent` state to fail in certain cases.

### Setup

[code]

### Steps t

[2019-02-14 22:37] onlyanegg commented on #51656
Here's a small changeset that fixes my issue. I'm not sure if this is how we should fix it, but I'm happy to create a PR if that's what y'all decide.

[code]

[2019-02-14 23:55] zeyangli commented on #43369
@stamak @whiteinge

[2019-02-15 00:16] andrew-vant opened #51657 "salt-cloud w/shade is broken by default on bootstrapped Bionic."
### Description of Issue/Question

After running salt-bootstrap on a stock Bionic installation, salt-cloud is broken, apparently due to an unlisted Shade dependency. Attempting to create new instances fails with the error message: `There was a profile error: get_server() got an unexpected keyword argument 'bare'`. Other commands fail with other errors; the underlying pattern is "various issues wit

[2019-02-15 00:26] garethgreenaway commented on #51657
@dmurphy18 @saltstack/team-cloud FYI.

[2019-02-15 00:29] garethgreenaway commented on #51642
@antifob Thanks for the report.  Are you using cmd.script to run a script that is in /tmp?

[2019-02-15 00:32] gtmanfred commented on #51657
The correct solution would be to figure out what is the oldest version of shade that works, and just add that as a requirement on the module.

I don't think salt should need to provide a package for this, it would be up to the user to make sure their version is new enough to work for the distro, otherwise pip install it.

[2019-02-15 00:34] garethgreenaway commented on #51639
@juthewiz Thanks for the report.  Do you have the jira python library installed on the minion that your attempting to run the jira Salt module?

[2019-02-15 00:39] antifob commented on #51642
The script's source is under `salt://`. It is automatically copied under `/tmp` by `cmd.script`.

[2019-02-15 00:45] antifob commented on #51484
In this particular case, `nftables` reports success when nothing was added to the ruleset. Here is the output:
[code]

I'm linking to #51641 on this one and the rule still isn't added.

[2019-02-15 01:34] garethgreenaway commented on #51656
@onlyanegg Thanks for the report.  If add_repo is doing an rstrip on the URL, then it probably makes sense for del_repo to do the same.  I'm thinking we should make sure these are consistent, @saltstack/team-core thoughts?

[2019-02-15 03:50] jfoboss commented on #43433
:(

[2019-02-15 07:55] piersf opened #51659 "Create cron job every RANDOM minutes from a range of numbers without applying the state with every run"
Currently, there's the ability to create a cron job that runs every RANDOM minutes/hours/days/months if you specify `random` in the respective field:
[code]

This works fine and it will create a cronjob entry that will run every RANDOM minutes, starting from 1 until 59. The way I understand this, is that the state won't be applied with every run because the `random` functionality checks the cron e

[2019-02-15 08:35] #20680 closed

[2019-02-15 08:54] zeyangli opened #51660 "Client stop stops the previously successfully launched service through salt together"
salt-minion 2016.3.6 (Boron)

I used Tomcat users to run a service startup script on the client and found that the service started successfully, but I started to stop the client and found that the service started was also stopped. Is this normal?

start.sh
nohup java  -Dfile.encoding=UTF-8 -jar app.jar >/dev/null 2>&1 &

Please take a look at it for me. Thank you.

[2019-02-15 09:22] zeyangli commented on #51660
I found that the execution command plus runas = tomcat. This error occurs for the specified user.

[2019-02-15 10:19] johnskopis commented on #51573
I will try to finish up a good spec this weekend.

I didn't really want to do a major refractor here. any work I do should
make it easier to refactor if that's what you want to do. I want a pony but
I don't mind parking in the donkey stable (if the analogy makes sense). 😁

On Tue, Feb 12, 2019, 19:58 Matt Phillips <notifications@github.com> wrote:

[2019-02-15 10:42] HekMe opened #51662 "Pillar render error: Failed to load ext_pillar csv - NoneType Found"
Hello

### Description of Issue/Question
I'm having issue with csvpillar where it seems that there's some problem with fopen(path, 'rb'). The csv file is accessible, and with 777 permissions.
When i try 'salt "*" pillar.items', the result is following:
_errors:
        - Failed to load ext_pillar csv: coercing to Unicode: need string or buffer, NoneType found

### Setup
Salt Master ext_pillar conf

[2019-02-15 10:56] damon-atkins commented on #20680
.

[2019-02-15 11:34] dpizzle opened #51663 "Execution order of reactors and orchestrates"
### Description of Issue/Question

In this scenario, I have 3 reactors that should run in sequential order when a `napalm/syslog/junos/OSPF_NEIGHBOR_DOWN/<device>` message is received in the salt event bus. When the next `napalm/syslog/junos/OSPF_NEIGHBOR_DOWN/<device>` message is received from another network device it should run after the first has completed as state is being maintained in a com

[2019-02-15 12:17] kiemlicz commented on #49661
@Ch3LL yes it is working fine, and to be honest I would relax your condition to

if the severity is high enough (declared functionality is not working and no workaround exists) why don't you patch the already released version?

[2019-02-15 14:35] amendlik opened #51664 "gitfs fails with pygit2 v0.27.4"
### Description of Issue/Question
Using gitfs with the lastest version of pygit2 (v0.27.4) causes a stack trace:

[code]

According to the pygit2 [CHANGELOG](https://github.com/libgit2/pygit2/blob/master/CHANGELOG.rst), `Reference.get_object()` was deprecated in v0.21.4 (November, 2014), and removed entirely in v0.27.4 (January, 2019)

### Versions Report
[code]

[2019-02-15 14:37] garethgreenaway commented on #51484
I looked at this last night and see several issues with the state and module. Assigned it to myself and will be spending some time looking at it.

[2019-02-15 14:38] garethgreenaway commented on #51641
I looked at this last night and see several issues with the state and module. Assigned it to myself and will be spending some time looking at it.

[2019-02-15 14:39] waynew commented on #4438
Hey, I was trying to look into this... but I'm having a heck of a time finding a sample state that works here without you know, creating my own PPA 😝

Does anyone have a state using a publicly available PPA that I can use to repro/test this?

[2019-02-15 14:39] garethgreenaway commented on #51483
I looked at this last night and see several issues with the state and module. Assigned it to myself and will be spending some time looking at it.

[2019-02-15 14:41] waynew commented on #51484
All yours, then, @garethgreenaway :)

[2019-02-15 14:45] waynew commented on #51657
Agreed - though we *should* have some kind of minimum version specifier - though if it's a dependency of a dependency (or more 🐢 🐢 🐢) I'm not entirely certain what the right approach is - file a bug report with a dependency that they pin their dependencies (or at least specify minimum versions)?

[2019-02-15 14:47] tcharette opened #51665 "Salt fileserver backend not updating consistently"
### Description of Issue/Question
Lately, we've had to manually run salt-run fileserver.update backend=git for our salt master to push changes that are stored on our git fileserver. (online bitbucket in our case) We've been running this set up for over a year now without issue.

### Setup
salt master 2018.3.3
gitfs_remotes point to our bitbucket repos

### Steps to Reproduce Issue
Push code change

[2019-02-15 14:56] amendlik opened #51666 "DeprecationWarning with msgpack v0.6.1"
### Description of Issue/Question
After upgrading msgpack to v0.6.1, I get a warning on every remote execution:
[code]

### Versions Report
[code]

[2019-02-15 15:01] garethgreenaway commented on #51484
@waynew I made the mess, only fitting that I clean it up :smile:

[2019-02-15 15:13] juthewiz commented on #51639
@garethgreenaway yes i do, when i when to the minion and ran` sudo pip install jira` the requirements were already met.

[code]

[2019-02-15 15:32] dpizzle commented on #51666
I have the same issue here #51398

[2019-02-15 15:53] msummers42 commented on #4438
Seems like we were using the Nginx and Rabbitmq PPAs when we hit this issue initially. For testing, I'd say you will need to setup a tmp PPA so you can test rotating the keys.

[2019-02-15 15:55] waynew commented on #51593
Hi @angeloudym, thanks for the report!

When you say that the grains are being refreshed, what do you mean?

I'm only seeing the grains refresh when `reload_grains: True` is in a state, e.g.

[code]

If that's present, it'll reload the grains, but otherwise I'm not seeing that happen.

Can you produce a [mcve](https://stackoverflow.com/help/mcve) that demonstrates the issue that you're seeing?

[2019-02-15 16:29] crux-capacitor opened #51668 "Errors using consul sdb"
### Description of Issue/Question

After configuring the consul sdb, I receive the following errors when trying to access values:

[code]

[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

Configuration in the minion config file:

[code]

I have consul installed as an agent and can use it to pull values from consul.

### Steps to Reproduce Is

[2019-02-15 16:41] tcharette commented on #51665
Could it have to do with the polling? bitbucket throttling to every 5 minutes?

[2019-02-15 17:30] #14733 closed

[2019-02-15 18:16] terminalmage commented on #46891
No, unfortunately. Can you get this case into a docker container that I could use to reproduce?

[2019-02-15 19:30] #44100 closed

[2019-02-15 19:44] golmaal commented on #35289
We're impacted by this issue as well. SSHClient constructor takes an mopts, giving minion_config causes issues with thin client key. How to provide master_uri for this to work correctly?

[2019-02-15 19:46] golmaal commented on #51519
Yes, it's returning None because `config.merge mine_functions` returns empty.

[2019-02-15 19:50] terminalmage commented on #51656
I agree.

[2019-02-15 20:02] #50975 closed

[2019-02-15 20:08] whytewolf opened #51673 "Multiple directories with regex excludes conflict in inotify beacon"
### Description of Issue/Question

Setting up multiple directories to be watched in inotify beacon functions pretty well except when you have to have an exclude for each directory.

Each of the setups works 100% correctly when on their own.
[code]
But when combined the zabbix check triggers for the vim swap files.

### Setup
Setup beacons for more than one directy and put regex excludes in both.
t

[2019-02-15 20:21] andrew-vant commented on #51657
I scripted a test against each shade minor version in turn, as below. It pip-installs each version of Shade starting from 1.30 and descending, checks if a server build succeeds using that version, and stops bothering after five failures:

[code]

I got the following output:

[code]

I'm not sure what made 1.29 fail, but it doesn't seem to be transient, at least not on my system. The specific error

[2019-02-15 20:30] #6593 closed

[2019-02-15 20:30] #43967 closed

[2019-02-15 20:56] terminalmage commented on #51531
Alternate implementation here: https://github.com/saltstack/salt/pull/51677

[2019-02-15 21:30] #21118 closed

[2019-02-15 21:56] waynew commented on #51578
I'm not reproducing this on Ubuntu 18.04, at least running the master/minion under Docker. I'll try a couple of more things to see if I can reproduce.

[2019-02-15 23:30] #44113 closed

[2019-02-15 23:30] #44115 closed

[2019-02-16 02:54] max-arnold commented on #51619
Have you considered using a Jinja filter? Something like this:

`{{ grains.osfinger | replace('.', '_')}}`

Also, quite soon you will be able to simplify your custom grain, see #47372

[2019-02-16 05:12] dvcrn commented on #8273
Same issue here when using `~`

[2019-02-16 05:35] rominf opened #51682 "Move command line arguments parsing to standalone library"
I'm working on an API for some product and I want to create a CLI (let's call it `app`). Suppose I have following code in my API library:
[code]

I want that the user could invoke `Camera.create` using this:
[code]

As you see, it's very similar to `salt` invocation.

I've tried to find the library for this, but didn't find any. The easiest solution is to copy salt code.

So, I'm proposing to move

[2019-02-16 06:05] johnskopis commented on #51573
RFC is here: https://github.com/saltstack/salt-rfc/pull/3

[2019-02-16 08:26] starlton-eb commented on #50662
I'd like to provide some additional context related to this issue, which was generated on our behalf from an enterprise support ticket and much appreciated. We are using release 2017.7.8 and addressed this internally by applying essentially a configuration patch using salt states, which we bake into an AWS AMI:
[code]
This removed the attempt to create MD5 finger print, which a FIPS server will no

[2019-02-16 08:30] #16397 closed

[2019-02-16 08:30] #30685 closed

[2019-02-16 10:18] zeyangli commented on #51660
Sorry, I found this to be not a problem with salt. I guess it is a problem with nohup.

[2019-02-16 10:18] #51660 closed

[2019-02-16 11:04] vquiering commented on #49160
@garethgreenaway, I couldn't find a PR. Is there anything we can already test?

[2019-02-16 15:39] #39309 closed

[2019-02-16 15:41] max-arnold commented on #51639
JIRA module was added in the Fluorine branch and is not available in 2018.3.3

[2019-02-16 16:30] dpizzle opened #51683 "Help calling runner.queue.insert_runner from a reactor"
### Description of Issue/Question

I have a reactor that called an orchestrate file. I want to covert that, so the reactor puts that orchestrate file into a queue, to be triggered later using a scheduler. I'm having trouble with the documentation (https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.queue.html).

### Setup

Previous (reactor calling an orchestrate file) -

[code]

Cur

[2019-02-16 17:39] #44134 closed

[2019-02-16 17:39] garethgreenaway commented on #51639
@max-arnold Thanks.  @juthewiz Can you confirm that you haven't downloaded the Jira module from the 2019.2 release and are attempting to use it with the 2018.3 release?  This will likely work, but as @max-arnold pointed out, that module is only available in the 2019.2 release.

[2019-02-16 17:49] juthewiz commented on #51639
@max-arnold @garethgreenaway i havent downloaded that modile for that release. how do i install the 2019 version of salt? below is how i initially installed it (master)

[code]

[2019-02-16 18:13] juthewiz commented on #51639
ah found it https://github.com/saltstack/salt/blob/f22de0887cd7167887f113bf394244b74fb36b6b/doc/topics/releases/releasecandidate.rst

[2019-02-16 19:39] #44105 closed

[2019-02-16 19:39] #44139 closed

[2019-02-17 08:06] damon-atkins commented on #27439
.

[2019-02-17 10:11] misch42 opened #51686 "napalm_yang.managed does not work with Cisco IOS: "error 5""
### Description of Issue/Question

when I try to set the description of an interface of a Cisco switch with napalm_yang.managed, I get the following error:

Configuration diff:

You have encountered the obscure 'error 5' message. This generally means you need to add an 'end' statement to the end of your merge changes.

Loaded config:

interface FastEthernet0/6
  description new description example

[2019-02-17 11:39] kiemlicz commented on #51557
The aforementioned post covers it all
Thank you!

[2019-02-17 11:39] #51557 closed

[2019-02-17 12:22] ritishverma opened #51688 "Typo in schedule.py utils module"
https://github.com/saltstack/salt/blob/86adb6b0fe40230b8be4c74229e897a7a08f81a6/salt/utils/schedule.py#L620

In file utils/schedule.py Line 620 in branch Develop looks like a typo:
# context data that could keep paretns connections. ZeroMQ will
This typo exists in all branches not just Develop.

It should be 'parent connections' and not 'paretns connections'.
Thanks.

[2019-02-17 14:03] gtmanfred commented on #51657
This should be handled like all other salt-cloud dependencies.

We just need to add a version check to the `get_dependencies` function.

I suggest that we do >= 1.19.0.

https://github.com/saltstack/salt/blob/2018.3/salt/cloud/clouds/openstack.py#L268-L279

[2019-02-17 14:12] gtmanfred commented on #51657
Based on the information provided, this should give more information about which versions of shade are supported by salt-cloud

https://github.com/saltstack/salt/pull/51689

[2019-02-17 14:18] gtmanfred commented on #51657
Also, when someone has time, this should really be migrated over to openstacksdk, now that that is officially supported (it was still in the works when i was writing this module, but it should be fairly easy to support both pypi modules now)

https://docs.openstack.org/openstacksdk/latest/user/

My understanding is it should be 95% a dropin replacement https://github.com/openstack/openstacksdk/blo

[2019-02-17 15:06] gtmanfred commented on #51657
Here is a work in progress pr for making that change https://github.com/saltstack/salt/pull/51690

I still need to test it. @andrew-vant if you wouldn't mind taking a look at it, that would be greatly appreciated, as it is going to take me a while to get an openstack cluster running again.

[2019-02-17 15:11] norpol commented on #43694
I think this is still an issue.

[2019-02-17 16:01] gtmanfred commented on #51657
If anyone @saltstack/team-cloud wants to test it, I use the google cloud, because it was easy to setup the next hop stuff for the ip routing of VMs inside the one box server.

this is what to run on an ubuntu 16.04 server https://github.com/gtmanfred/devstack-states/blob/master/openstack.sh to install openstack pike

And this for the salt-cloud/salt-master server

https://github.com/gtmanfred/devs

[2019-02-17 16:37] mitar commented on #40133
`--user` seems to me as documented. But that sets default user, not overrides the user in the roaster.

Moreover, I think it should be still possible to use something like `salt['environ.get']('USER')` in roaster file. Then those files can be easier to distribute and use.

[2019-02-17 18:59] #44094 closed

[2019-02-17 20:59] #27339 closed

[2019-02-17 21:59] juthewiz commented on #51639
@max-arnold @garethgreenaway  i am now getting an error related to the smtp hostname and SSL. But the error is saying it doesnt match either of two options...and the first option it should match as its `jira.corp.(company name).com` and it should match the first option` '.(company name).com'`

`    SSLError: hostname 'jira.corp.company.com' doesn't match either of '*.company.com', 'company.com'
`

[2019-02-17 22:03] garethgreenaway commented on #51639
That appears to be an error outside of Salt, it appears you're trying to access a site using SSL at the address jira.corp.company.com but it is setup to use a wild card SSL certificate for *. company.com not *.corp.company.com.

[2019-02-17 22:04] juthewiz commented on #51639
@garethgreenaway thank you i will look into this internally with my team

[2019-02-17 22:11] juthewiz commented on #51639
@garethgreenaway @max-arnold quick question does the jira server config go into the minion file under /etc/salt/ or does it get its own conf file similar to smtp in /etc/salt/minion.d/

[2019-02-17 22:44] garethgreenaway commented on #51639
It can go in /etc/salt/minion or a separate file in /etc/salt/minion.d

[2019-02-18 04:01] kenanbiel commented on #50882
Unfortunately, my debug logs wasn't turned on during that period. It's happening now more regularly.

[code]

GPG service is within the salt-master server. I already have the keys initially. I just imported them via these set of commands:

[code]

[2019-02-18 06:59] #31763 closed

[2019-02-18 07:59] #36320 closed

[2019-02-18 11:48] m000v opened #51693 "Default include of master.d/*.conf unexpected behavior (ext_pillar: file_tree)"
### Description of Issue/Question
When ext_pillar: file_tree placed not in /etc/salt/master file it will generate /tmp/__salt.tmp.* files for any pillar request

### Steps to Reproduce Issue
Create /etc/salt/master.d/roots.conf
[code]
Don't forget about pillarenv in minion config:
[code]
[code]

Add some data in ext pillar
[code]

Test it
[code]

### Versions Report
[code]

[code]

[2019-02-18 12:13] piersf commented on #51596
It seems that this version of Saltstack has a real issue with comments that include special characters. I ran into another use case today, where i had the below comment line in pillar/tools/salt-minion/internal_minion.sls:
[code]

Upon `state.highstate test=True`, it was failing rendering and throwing the below error:
[code]

Once i removed completely the commented line, it worked without an issue

[2019-02-18 14:19] #44174 closed

[2019-02-18 14:19] #44169 closed

[2019-02-18 15:03] alan-cugler opened #51696 "Documentation edit workflow?"
### Description of Issue/Question
What is the exact workflow to get the documentation changes committed in git?
I am asking for a complete example of commands. I know conceptually how to use git/github and conceptually understand how Saltstack wants to receive PR's.

### Steps to Reproduce the problem

[SENDING A GITHUB PULL REQUEST](https://docs.saltstack.com/en/latest/topics/development/contribu

[2019-02-18 16:36] LaughHammers commented on #51566
@Ch3LL Thanks for looking, what now? How should I personally handle this bug?

[2019-02-18 16:52] Wilybald commented on #51229
So?

[2019-02-18 16:52] Wilybald commented on #51611
So?

[2019-02-18 17:13] rallytime commented on #43694
@Ch3LL or @garethgreenaway Can you re-open this?

[2019-02-18 17:15] garethgreenaway commented on #43694
@rallytime done.

[2019-02-18 17:19] #44120 closed

[2019-02-18 18:08] mikewiebe opened #51699 "Proxy minion startup problem"
### Description of Issue/Question

It appears that a bug was fixed in `salt/grains/core.py` but introduced a new issue that can significantly delay the proxy minion startup process and impact the functionality of the proxy minion after startup.

The difference in startup time can up to 2 mins with the fix.  If I add in a change to make the `addresses` list empty the minion reaches the ready state

[2019-02-18 21:28] dwoz commented on #51659
@piersf I am not aware of a way to accomplish this. Maybe @terminalmage has some insight?

[2019-02-18 21:31] dwoz commented on #51662
@HekMe Can you provide us the output of `salt -V`?

[2019-02-18 21:50] dwoz commented on #51663
@dpizzle Reactors run asynchronously, I think you need to look at using orchestrations instead of reactors for this purpose. See the documentation [here](https://docs.saltstack.com/en/latest/topics/reactor/#best-practices-for-writing-reactor-sls-files).

[2019-02-18 21:59] dpizzle commented on #51663
@dwoz That makes sense, however if the reactor receives a `napalm/syslog/junos/OSPF_NEIGHBOR_DOWN/vsrx01` message in the event bus should it call the orchestrate files in this order, consistently each time? Above I'm seeing that they're call randomly each time.

1. salt://reactor/register_host_in_db.sls
2. salt://reactor/register_event_in_db.sls
3. salt://reactor/ospf_neighbor_down.sls

[2019-02-18 23:21] angeloudy commented on #51593
My first observation was that every time I run the `salt-run` cmd, no matter it's a runner or orchestration runner, I will see the following in the log(My default log level is set to INFO).
[code]
From my understanding, these `/sbin/zpool list` are only called when refreshing grains.

To verify,

1. create a orchestration runner
[code]

2. `salt-run state.orch orchestration.test -l info`
Output is

[2019-02-18 23:23] angeloudy commented on #51593
In fact, if you run `salt-run` cmd in debug level, you can see
[code]

[2019-02-18 23:31] arizvisa opened #51700 "salt.utils.chocolatey.version fails too hard when an installed package is unavailable (affects salt.states.chocolatey.installed)"
### Description of Issue/Question
As of yesterday the Firefox chocolatey package is busted in some way that results in `choco list firefox` not finding anything. Not salt's fault or anything, but this results in `chocolatey.version` throwing an exception when `salt.states.installed` calls `salt.chocolatey.version` to check to see if there's a newer version available.

This is a problem because it

[2019-02-18 23:35] arizvisa commented on #51700
Imo, the fix is to update the `check_remote` condition in `salt.modules.chocolatey.version` to not make the assumption that a key dependant on third-party data will exist in a dictionary. Specifically the key representing a package version returned by `salt.modules.chocolatey.list_`.

I'll submit a PR, but it might be up to a reviewer's opinion on how to properly handle this condition.

[2019-02-19 02:11] mgriffin13 commented on #51659
I actually ran into the same problem question last week, only we were looking to randomize the hour.

Looks like there's an [undocumented feature](https://github.com/saltstack/salt/blob/develop/salt/modules/cron.py#L503) where you can pass a string range like '10:20' that will randomize inside that range.

I think a solution would be to make this a documented feature and to make it behave in a sim

[2019-02-19 04:27] icycle77 commented on #50673
@dwoz or anyone at SaltStack--could I get a second look at this issue? I'm happy to try reducing this to a simple reproducer but I'm so far at a loss for what's actually happening here.

[2019-02-19 08:08] HekMe commented on #51662
`Salt Version:
           Salt: 2018.3.3

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: 2.4.2
      docker-py: Not Installed
          gitdb: 0.6.4
      gitpython: 1.0.1
          ioflo: Not Installed
         Jinja2: 2.8
        libgit2: Not Installed
        libnacl: Not Installed
       M2Crypto: Not Installed
           Mako: 1.0.3
   msgp

[2019-02-19 08:32] hbokh commented on #46268
This has not been added / fixed in `2018.3.3` nor `2019.2`, right?

https://github.com/saltstack/salt/blob/v2018.3/salt/modules/kubernetes.py#L1089-L1091

[2019-02-19 08:47] Armadill0 commented on #49939
:+1: I would really appreciate internal metrics.

@gtmanfred Yes there is an exporter, but it is necessary to run regular dry Highstates to get the data you want. The default is every 5 minutes, which also makes sense if you want to see the changes which would happen on your next Highstate before you run it yourself.
But in large environments running dry Highstates every 5 minutes will cause many

[2019-02-19 09:20] arthurlogilab commented on #51507
@gtmanfred thanks for your answer

[2019-02-19 10:06] daks commented on #44039
This feature request is still valid.

[2019-02-19 10:16] christianernst42 opened #51703 "Salt Minion on Windows don't work when a proprietary 'man' executable is in the path"
### Description of Issue/Question
The Salt Minion on Windows don't work when a proprietary 'man' executable is in the path.
It seems that the method has_feature_flags() in \salt\utils\zfs.py tries to execute a 'man' even on Windows.
According to the header of the file this code is only for 'illumos,freebsd,linux'

### Setup
Add a man.bat to the Windows System Path with one line like:
TIMEOUT /T -1

[2019-02-19 12:35] gtmanfred commented on #49939
This sounds like the job for a custom engine, that would be super awesome if it were contributed back to salt, but is probably something that the community will need to do.

[2019-02-19 14:51] konfiot opened #51708 "Add vlan-aware option for bridge interfaces"
Using salt 2018.3.3, and looking at the source code on master, it seems that there is no way to put arbitrary options with the network state, for example I would like to be able to specify the `bridge-vlan-aware` and `bridge-vids` options to put on the bridge interfaces of proxmox hosts, but I have not found any way to do that other than writing the interfaces files manually

[2019-02-19 14:58] gtmanfred commented on #51683
Try with this reactor.

[code]

[2019-02-19 15:39] dpizzle commented on #51683
Thanks @gtmanfred, that worked 👍

[2019-02-19 15:39] #51683 closed

[2019-02-19 16:02] sotona- opened #51709 "Can't delete or disable scheduled job from itself"
### Description of Issue/Question
I have a state which schedules a job to a windows minion:
[code]

This state waiting until user closes application and tries to install  update. Last function in this state is 'schedule.absent' with name of scheduled job. But it's not working when state applied from scheduled job. If I apply it manually from master it's working.
I tried to use 'module.run' functio

[2019-02-19 17:05] waynew commented on #51229
in the ec2.py if you `print(__opts__.get('location', 'no location set'))` and then

[code]

What do you get?

Also, how are you setting your location in the config? If the config value is set correctly in the config but it's not actually getting used, then there's definitely a problem.

[2019-02-19 17:09] waynew commented on #51229
FWIW, https://github.com/saltstack/salt/blob/develop/salt/config/__init__.py#L3271 is where the code starts for getting the value from the cloud config.

[2019-02-19 17:23] Ch3LL commented on #51496
i'm still not able to replicate on mac. ping @weswhet any chance you can see if you can replicate this?

[2019-02-19 17:26] Ch3LL commented on #51482
ping @saltstack/team-network any ideas here?

[2019-02-19 17:32] Ch3LL commented on #51356
can you share a sanitized version of your configurations and the debug log?

[2019-02-19 17:42] Ch3LL commented on #51615
ahh your completely right that this would actually not work. i wonder if you could somehow mkae sure of presence events and the manage.alived runner.

ping @saltstack/team-core does anyone have any clever ideas here? or maybe i'm missing a more simple solution?

[2019-02-19 17:44] Ch3LL commented on #51512
this tutorial shows you step by step what you would need to do to submit a PR: https://docs.saltstack.com/en/latest/topics/development/tutorial.html

I am also on the saltstack community slack as ch3ll as well so you can ping me on there if you run into issues. Glad to have another salt contributor :)

[2019-02-19 17:47] Ch3LL commented on #51127
you wont want to submit the changes that are added to the _build folder. Can you clarify the exact files that you are trying to edit?

[2019-02-19 17:49] garethgreenaway commented on #51708
@konfiot Thanks for the report.  Approving this for a future feature addition.

[2019-02-19 17:55] alan-cugler commented on #51127
#51696

[2019-02-19 18:04] Ch3LL commented on #51602
can you share the state as it currently is?

[2019-02-19 18:11] garethgreenaway commented on #51696
@alan-cugler Thanks for the report.  The `doc/_build` directory is included in .gitignore because the documentation is built and the built documentation is not included is the repository.   All the documentation is built from the various `.rst` files found in this location, https://github.com/saltstack/salt/tree/develop/doc.  Was there a particular part of the documentation that you were attemptin

[2019-02-19 18:17] Ch3LL commented on #49661
In cases that the severity is high enough and there is no workaround and it impacts most salt users, yes in the past we have done a new point release as quickly as possible in the past. If we were to patch a release we could only patch the packages and not the pip packages or tagged version, so if there is a bug that would require a quick re-release, we have done a new point release quickly after

[2019-02-19 18:22] garethgreenaway commented on #51686
@mirceaulinic Any ideas on this one?

[2019-02-19 18:24] garethgreenaway commented on #51682
@rominf Thanks for the report.  The Python library you want to take a look at is `optparse`.

[2019-02-19 18:26] misch42 commented on #51087
No comment for a while. So I will close the issue. I wrote my own state file for now.

[2019-02-19 18:26] #51087 closed

[2019-02-19 18:29] juthewiz commented on #51602
it is still returning false
[code]

[code]

[2019-02-19 18:39] barkingfoodog commented on #51496
Just in case anyone else is running into this, I was able to workaround it by replacing `file.replace` with `sed` in a `cmd.run`:
[code]

But, I would much rather use `file.replace` for its clarity and cross-platform support.

[2019-02-19 18:41] Ch3LL commented on #35289
will re-open thanks. i believe what ultimately needs to occur is the push function needs to be added to the cp.py wrapper function in salt-ssh. If you look at the file here: `salt/client/ssh/wrapper/cp.py` is what i'm referring to. Looks like that function was never added. It looks like in `salt/modules/cp.py` push function it attempts to use the transport layer to send the file, so we need to re-

[2019-02-19 18:41] garethgreenaway commented on #51709
@sotona- Thanks for the report.  Can you provide the state file that you're calling from the above scheduled job?  And when you say it's not working, are you receiving any error messages or is the scheduled job simply not removed from the schedule?

[2019-02-19 18:48] alan-cugler commented on #51696
I have several doc changes to make around the documentation pages. I have not listed them out in issues, since that would be a lot issues to list out. There are already several that are listed under the documentation label. #51127 is the main issue that got me started on trying to submit doc changes.

[2019-02-19 18:59] weswhet commented on #51496
Hmm, I only have a masterless setup so I can't reproduce this.

[2019-02-19 19:34] sotona- commented on #51709
@garethgreenaway
[code]

Job is simply not removed.  But when I run state manually from master it removes the job.

[2019-02-19 19:57] steverweber commented on #47452
[code]

[2019-02-19 20:06] #48132 closed

[2019-02-19 20:15] arizvisa opened #51711 "The Cheetah template engine does not work and raises an exception due to not rendering the template before returning it"
### Description of Issue/Question
It seems like the Cheetah template doesn't appear to work. The following exception is raised when trying to use it:

[code]

### Setup
Just get setup to use `file.managed` with template set to Cheetah.

### Steps to Reproduce Issue
One doesn't even need any template variables, just try and use the Cheetah state to render anything and this exception gets raised. Th

[2019-02-19 20:17] garethgreenaway commented on #51668
@crux-capacitor Thanks for the report.  Do you have the consul python, `python-consul`, library installed on the Salt minion?

[2019-02-19 20:21] garethgreenaway commented on #51665
@tcharette Thanks for the report.  Bitbucket throttling could definitely be a factor here.  @saltstack/team-core Any thoughts?

[2019-02-19 20:25] garethgreenaway commented on #51664
Duplicate of https://github.com/saltstack/salt/issues/51270 and fixed in https://github.com/saltstack/salt/pull/51304

[2019-02-19 20:28] arizvisa commented on #51711
It looks like the issue is that the type that's being assumed to be a string is a `DynamicallyCompiledCheetahTemplate`,

[code]

[2019-02-19 20:42] arizvisa commented on #51711
From looking at the code, it looks like the Cheetah template is supposed to have its __str__() method called in order to be able to treat it as a string.

As usual, I guess I'll write up a PR for this one too...

[2019-02-19 20:57] arizvisa commented on #51711
Yea. It looks like you need to explicitly call `__str__()` or `__unicode__()` to get cheetah to render, and the original author of this code made the assumption that `salt.utils.stringutils.to_unicode()` will do that. (which it doesn't). One reason why type-checking is good in a large complex project.

[2019-02-19 21:07] juthewiz commented on #51602
@Ch3LL more current data from the minion with debug

[code]

[2019-02-19 21:27] twangboy commented on #51027
I just tried to replicate this as well on Windows Server 2016. What account is the minion service running under?

[2019-02-19 21:31] garethgreenaway commented on #51693
@morphkit Unfortunately I haven't been able to reproduce this.  Any additional information you could provide about your configuration would be helpful.  Thanks!

[2019-02-19 21:40] crux-capacitor commented on #51668
@garethgreenaway Hi Gareth. No I don't. I installed it using pip but still am getting the same errors. Here is some output:

Just to prove that consul is returning something:
[code]

python-consul is installed:
[code]

using consul.get:
[code]

using sdb.get:
[code]

netstat output showing that the consul port is open:
[code]

[2019-02-19 22:15] #20307 closed

[2019-02-19 22:37] marmarek commented on #27067
`consolidate: True` does _not_ solve the problem. It makes things even worse - selected `sources.list` get all the other entries removed (regardless of being comments or not). But the requested repository still remain commented out!

The issue is still present in salt 2018.3.2. Please reopen.

[2019-02-19 23:01] juthewiz commented on #51639
i corrected the SSLerror and i am now seeing a JIRAerror @garethgreenaway @max-arnold
[code]

[2019-02-19 23:01] juthewiz commented on #51639
i corrected the SSLerror and i am now seeing a JIRAerror @garethgreenaway @max-arnold

[code]

[2019-02-19 23:03] arizvisa commented on #51711
This is fixed by PR #51718.

[2019-02-19 23:14] arizvisa opened #51719 "saltutil.sync_utils does not work for the salt.utils.templates module?"
### Description of Issue/Question
I wrote a PR (#51718) to fix the support of the Cheetah engine in `salt.utils.templates`, and I'm trying to synchronize my fix to each minion via `saltutil.sync_all` or `saltutil.sync_utils` (until you guys merge it or whatever). However, for some reason salt-minion is still picking up the path via `salt.utils.templates` (in site-packages/salt) instead of honoring

[2019-02-19 23:51] marmarek commented on #27067
PR fixing this issue: https://github.com/saltstack/salt/pull/51720

[2019-02-19 23:55] twangboy commented on #51027
@MasonEdgel I was unable to replicate this issue either. What account are you running the minion service under?

[2019-02-20 00:28] twangboy commented on #51486
Looks like this was broken by this PR: https://github.com/saltstack/salt/pull/49167

The below will case the path to be lower case
[code]

[2019-02-20 01:00] MasonEdgel commented on #51027
They're just running under the local SYSTEM account.  No odd configuration I can think of really.  The hosts (both master and minion) are virtualized, for what it's worth.

[2019-02-20 01:15] #44191 closed

[2019-02-20 01:21] hemebond opened #51722 "sdb.delete fails with sqlite3.delete KeyError"
Configured an SQLite database to use with SDB. Can `sdb.get` and `sdb.set` entries without issue, but trying to `sdb.delete` entries just throws an error.

### Setup
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2019-02-20 01:26] hemebond commented on #51722
Sorry, this is invalid. I was accidentally reading the `develop` version of the documentation. `sqlite3.delete` is not implemented in 2018.3.

[2019-02-20 01:26] #51722 closed

[2019-02-20 02:15] #44116 closed

[2019-02-20 02:38] clinta opened #51723 "docker.container_running network_mode does not work with ipv4_address or ipv6_address"
### Description of Issue/Question

`docker.container_running state` does not use the supplied `ipv6_address` if a custom `network_mode` is used.

### Setup
[code]

### Steps to Reproduce Issue
Run the above state. Run docker inspect test and notice that the addresses for the mynet connection are not the requested addresses. This fails when specifying both ipv4 and ipv6 or just ipv4 or just ipv6.

[2019-02-20 05:28] rominf commented on #51682
@garethgreenaway,
What have I found in the docs:

Also, if I understand it correctly related code is in the `salt/utils/args.py` and it's more then 0.5 KLOC. It's too much to write it from scratch. In my opinion, it should be easy to create standalone library from it.

[2019-02-20 06:20] garethgreenaway commented on #51696
@alan-cugler Perfect, that particular one can be found here: https://github.com/saltstack/salt/blob/develop/doc/topics/cloud/config.rst

A majority of them will likely live under the doc/topics folder under the main project.  I pasted the URL for the develop branch so please adjust the branch accordingly.  Please let me know if I can help with any other documentation locations.

[2019-02-20 09:00] gaetanquentin commented on #32318
@UtahDave Can you explain what you have tested exactly?

[2019-02-20 09:42] elipsion commented on #51484
Somewhat related, @garethgreenaway, could you also look at adding support for sets?

[2019-02-20 11:28] tomlaredo opened #51725 "Mine checks for mysql even if it's not installed"
### Description of Issue/Question

Every server running salt-minion with no MySQL installed has those messages in /var/log/syslog:

[code]

As you can see, this appears every 15min and I have set mine_interval: 15

Is there any way to avoid salt-minion to try to connect to MySQL when MySQL isn't present ?

### Versions Report

[code]

Best regards

[2019-02-20 12:15] #44132 closed

[2019-02-20 13:54] BrianSidebotham commented on #50994
It looks like this was merged into the 2018.3 branch but not into the develop branch? I still get this warning when using the develop branch.

[2019-02-20 14:07] #28039 closed

[2019-02-20 14:10] gtmanfred commented on #51657
Moved the PR over to be a Draft PR now that that feature has been added to the salt repo.

https://github.com/saltstack/salt/pull/51729

[2019-02-20 14:38] juthewiz commented on #51639
@garethgreenaway the above is due to missing the S in http:// for the jira server. then i added a `/` to the end of the URL and now i am getting

[code]

[2019-02-20 14:46] juthewiz commented on #51639
@garethgreenaway how do i set the priority field running salt-call jira.create_issue? im sure i can get this to work via state file as i can add the priority field but not sure from the cli?

[2019-02-20 15:12] xuhcc commented on #51356
@Ch3LL I published it here https://github.com/xuhcc/salt-test
With this configuration I can reliably produce `decryption failed` error on a fresh Arch Linux VM.

[2019-02-20 15:42] garethgreenaway commented on #50994
The fix in 2018.3 will be merged forward and make it's way into develop. A merge forward including that fix hasn't happened yet. Most likely sometime this week once the previous merge forward has cleared.

[2019-02-20 15:56] BrianSidebotham commented on #50994
@garethgreenaway Perfect, thanks for the confirmation. :+1:

[2019-02-20 16:19] markuskramerIgitt opened #51730 "SaltRenderError when reactor gets salt.managed diff?"
### Description of Issue/Question

A `salt.manage` state copies a file.

Is the reactor unable to parse `salt.managed` diff?

### Setup

This is minionconf.sls, it copies a file minionconf.conf to the minion:
[code]

This is file minionconf.conf

[code]

This is the minionconf_reactor.sls
[code]

This is the error:
[code]

### Workaround

Added `show_changes: False` to file.managed

### Versions R

[2019-02-20 16:43] vdani opened #51731 "Salt-minion-proxy : Inconsistent behaviour with running same instance"
### Description of Issue/Question
Observing inconsistent behavior if we run the multiple instances of same proxy-minion. In some instances, it errors out suggesting there is already an instance running but in some case it does accept it and then whenever we run any command against that minion, we get replicated outputs (equal to number of instances running).

Case 1: Here when I try to run the sam

[2019-02-20 16:58] BrianSidebotham opened #51736 "salt-cloud map partial rebuild doesn't distribute minion keys to master"
### Description of Issue/Question

We have a situation where we're using map files and salt-cloud to create environments of several virtual machines in Proxmox. The complete environment build works as expected. The environments include an ESM (Environment Salt Master) and in the initial build this all works fine - salt-cloud generates minion keys for all of the minions and distributes them to the

[2019-02-20 17:12] maneamarius commented on #51128
Sorry for late reply, I've been in vacation for last month.
Yes, the fix in the PR referenced in #51372 should be good!
Thanks for helping out with this!

[2019-02-20 18:05] garethgreenaway commented on #51639
@juthewiz What was the Salt command you used?  The `priority` is a valid argument that the `create_issue` function should accept, but that looks like it might be an error being sent back from Jira.

[2019-02-20 18:21] garethgreenaway commented on #51668
@crux-capacitor The `consul` execution module is looking for a different configuration option, `url` inside the consul section:
[code]

It also looks like you're original configuration might have a typo for the host, should that be 127.0.0.1?  To match the local IP that consul is listening on.

[2019-02-20 18:21] #51128 closed

[2019-02-20 18:49] dwoz commented on #51725
@tomlaredo What does your `mine_functions` config look like?

[2019-02-20 18:51] dwoz commented on #51719
@arizvisa overriding utils modules via the `extension_modules` setting can be hit or miss depending on how the utils module is imported where it is being used.

[2019-02-20 19:04] juthewiz commented on #51639
` sudo salt-call -l debug jira.create_issue NETOPS 'automation test' 'automation test' `
and this returns

[code]

[2019-02-20 19:51] arizvisa commented on #51719
gotcha, in that case the salt.utils.template is not using the loader, and so it's hard to hotpatch #51718.

[2019-02-20 19:58] s3rj1k commented on #28039
Ping, still no returners

[2019-02-20 19:58] arizvisa commented on #51719
but i have a workaround. if this isn't something you guys plan on changing, we can close this issue.

[2019-02-20 20:30] arizvisa opened #51739 "salt.states.file.copy force=true on Windows does not clear the Read-Only attribute during removal"
### Description of Issue/Question
On the windows platform, when using file.copy where the source has a file with a read-only attribute (`attrib +r`), the call to `file.remove` fails with an exception and so the whole state fails.

### Setup
Setup a Windows box, drop a directory with some files that have the readonly attribute set. You can enable the +r attribute via `attrib +r $filename` at the co

[2019-02-20 20:32] arizvisa commented on #51739
The issue is that the call to `file.remove` in the `file.copy` state is also not setting the `force` parameter to `true`. It looks like:

[code]

I'll submit a PR for this one too.

[2019-02-20 20:34] dwoz commented on #51730
@markuskramerIgitt Thanks for reporting this issue.

[2019-02-20 21:25] piersf commented on #29018
Was this issue ever resolved? I am getting really similar error:

` "Rendering SLS 'base:reactors.startup' failed: Jinja variable 'data' is undefined"`

My SLS reactors/startup.sls file looks like:

[code]

According to the documentation in https://docs.saltstack.com/en/latest/topics/reactor/index.html#wheel-reactions, this should work. Is the documentation wrong or do we have something wrong in o

[2019-02-20 22:07] #44082 closed

[2019-02-20 23:14] garethgreenaway commented on #51639
@juthewiz This looks like it might be the solution, the post were the original poster indicates a solution mentions user rights.
https://community.atlassian.com/t5/Answers-Developer-Questions/Field-Priority-cannot-be-set-It-is-not-on-the-appropriate-screen/qaq-p/561133

[2019-02-20 23:18] garethgreenaway commented on #51602
@juthewiz In that last log it looks like you've got an authentication error:
```[DEBUG   ] SMTP Authentication Failure```

[2019-02-21 10:13] Ofloo opened #51741 "encoding is deprecated"
### Description of Issue/Question

[WARNING ] /usr/local/lib/python2.7/site-packages/salt/payload.py:145: DeprecationWarning: encoding is deprecated, Use raw=False instead.
  ret = msgpack.loads(msg, use_list=True, ext_hook=ext_type_decoder, encoding=encoding)
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include deb

[2019-02-21 10:15] Ofloo commented on #51741
https://github.com/Ofloo/salt/commit/3e62ad17c1e8af8f03d72b65d3af647b2fb082e5#diff-30108e69fa3d1358454431c6c9b08965 Should fix it

[2019-02-21 10:18] tomlaredo commented on #51725
Hi @dwoz,

Thank you for your quick reply.
There were a mysql.version: [] in mine_functions that was causing thoses unexpected behaviour.

Thanks again for your help, this issue can be closed.

Tom

[2019-02-21 10:18] #51725 closed

[2019-02-21 12:04] piersf commented on #51659
@mgriffin13 thanks for the reply. Unfortunately, the suggestion you made is not working - the state gets re-applied still. Furthermore, by setting `'10:20'` will create a cron entry like :
`17 * * * * /script` and not like `*/17 * * * * /script`

[2019-02-21 13:42] crux-capacitor commented on #51668
@garethgreenaway You were correct! Fixing the typo and adding the URL option fixed it. With the URL option, I was able to get rid of host, port and scheme.

Thanks very much!

[2019-02-21 13:42] #51668 closed

[2019-02-21 14:46] OrangeDog opened #51742 "Py3 should prefer venv module to virtualenv binary"
In Python 3 the `virtualenv` script was replaced by `pyvenv`, and then in 3.6 deprecated in favour of the builtin `venv` module.

The latter should be preferred, but at minimum `pyvenv` should be added to `virtualenv_mod.KNOWN_BINARY_NAMES`.

[2019-02-21 15:20] OrangeDog commented on #51742
Additionally, despite what the documentation says (for 2018.3.3) it's not possible to globally override.
The code (snippets below) is arranged such that the pillar is never consulted.
[code]
[code]

[2019-02-21 15:29] Ch3LL commented on #51731
looks like i'm able to replicate this. i'm also able to replicate this on 2018.3.3 as well so this is not a regression. we will need to get this fixed up thanks.

fyi @saltstack/team-network

[2019-02-21 15:32] alexey-mz opened #51743 "vmware cloud module global name 'opts' has not defined"
### Description of Issue/Question
How the module for vmware should work? Each command returns an error "global name '__opts__' is not defined". Is there a way to define it? What i'm doing wrong?
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
vmware.conf

vcenter:
  driver: vmware
  user: ''
  password: ''
  url: ''
  protocol: 'https'
  port: 443

[2019-02-21 15:45] Ch3LL commented on #51736
ping @saltstack/team-cloud any ideas here?

[2019-02-21 15:47] Ch3LL commented on #51739
thanks for the pr!

[2019-02-21 15:53] Ch3LL commented on #51741
mind pushing that as a PR?

[2019-02-21 16:00] Ch3LL commented on #51742
looks like you are working on a commit for this. would you mind pushing as PR? thanks!

[2019-02-21 16:05] Ch3LL commented on #51743
if you are trying to run this from the python interpeter or script you will need to make sure you initialize opts.  You can follow the python client api docs here: https://docs.saltstack.com/en/latest/ref/clients/ to set all the options required to run this.

There is also the cloudclient: https://docs.saltstack.com/en/latest/ref/clients/#cloudclient which might be easiest to use.

[2019-02-21 16:13] Ofloo commented on #51741
What do you mean,..?

[2019-02-21 16:23] aarnaud commented on #42081
Hi, do you have update about this issue?
Each salt call wait 40s with `Re-using gitfs object for process` in logs

[2019-02-21 16:24] waynew commented on #4438
Oh yeah, this is definitely wonky. Easiest way to reproduce. Assume you have a ppa, I built a simple one using reprepro and use this state:

[code]

Apply the state. Then change it:

[code]

Installing that package fails with  `E: There were unauthenticated packages and -y was used without --allow-unauthenticated`.

I'm not sure what the right way is to check that the key listed is actually set an

[2019-02-21 16:26] OrangeDog commented on #51742
@Ch3LL I've done the easy bit. I'm not planning to rewrite it to `import venv`.
I'm also not sure how/whether it can still be set via minion config, or whether someone wants to put that in.

[2019-02-21 16:35] OrangeDog commented on #4697
The tricky thing is how do you make the state stateful?
It's going to depend entirely on what the script does, and some SQL statements are intrinsically not stateful.
The only real solution is to write a custom state for whatever your specific case is.
This also lets you bypass `psql_query` and use `psql` (or a python driver) directly.

[2019-02-21 16:43] OrangeDog commented on #51260
Perhaps this should become a separate discussion, but I've been looking at the psql case again.

You can, using pg_ident.conf, map the user that salt runs as (probably root) to any postgres user you want. If this is configured then there's no need to involve `su` or `sudo` or anything. However, as far as I can see, there's no way to avoid the code setting `runas` (and then setting `user` to the sa

[2019-02-21 16:50] OrangeDog commented on #26255
To clarify, is the current workaround to lower the open file limit to 2048?
I note that the systemd unit for 2018.3.3 has it set to 8192, or was that already the fix?

[2019-02-21 16:53] importepeu commented on #48510
Instead of creating a new thread, I'll use this one to report a similar problem with file.recurse.

When I want to push a directory to minions containing a directory which contains ":", it fails without error : other files/links are copied but the directory (and its contain) named with some ":" is not copied on the target.

Here is the source directory I want to copy :

[code]

And the resulting s

[2019-02-21 16:57] waynew commented on #4438
After a cursory glance at the code my theory is that it might have something to do with the file cache. In my specific case, at least, in the aptpkg module, `key_url` is only in the `mod_repo` function.

Ooooh. No, wait, now that I think about it, I bet that it's in https://github.com/saltstack/salt/blob/develop/salt/states/pkgrepo.py#L419,L475 - there's probably nowhere in there that it's checkin

[2019-02-21 17:02] twangboy commented on #50650
Could you run the following command on one of the systems that has the above logs:
[code]
and post the return?

[2019-02-21 17:02] twangboy commented on #50650
Should look something like this:
[code]

[2019-02-21 17:07] twangboy commented on #50650
Even better, run it with Salt so we can get the retcode and stuff:
[code]

[2019-02-21 17:17] fayak opened #51745 "Systemd update 241 on archlinux breaks systemd.py version() function"
### Description of Issue/Question

The version 241 of systemd introduced recently on archlinux has a different output for its version. Because of this different output, systemd.py can't parse it correctly and therefore leads to `Unable to determine systemd version from systemctl ` from salt.

Output of `systemctl --version` on its latest version of archlinux : `systemd 241 (241.7-2-arch)`
`salt/ut

[2019-02-21 17:19] fayak commented on #51745
https://github.com/saltstack/salt/blob/b44f0f1d0fd564690c6e45c6dd061c0e84d76def/salt/utils/systemd.py#L68

Change from `ret = int(outstr.splitlines()[0].split()[-1])` to `ret = int(outstr.splitlines()[0].split()[1])` may fix this issue, but I'm unsure if it will works on each plateform and version of systemd unfortunately

[2019-02-21 17:28] fayak commented on #51745
This may be linked : https://github.com/systemd/systemd/pull/11230

[2019-02-21 17:36] icycle77 commented on #49855
I expect I am facing the same issue here, which I was just about to enter as a new bug. I am finding that `2017.7` salt worked OK in my example, and `2018.3` regressed. Interesting that the code in question seemed to be introduced in 2015 though.

This **fails** to make changes in the second state:
[code]
with output as follows:
[code]

This **succeeds** at making changes in the second state, the

[2019-02-21 17:42] icycle77 commented on #49855
Now, repeating the same exact experiment on `2017.7.7`, I see that while both states make changes, the "working" case is actually destructive and surfaces another bug.

See my previous comment for the state file used below.

Here's the case with `{% set insert_line = "auth apple" %}` -- note how this line **replaced** the line after my pattern match, rather than being inserted:
[code]

Here's the

[2019-02-21 17:47] ymasson commented on #49297
Hi,

@Ch3LL , I have push a PR.

[2019-02-21 17:56] mchugh19 commented on #51659
In running into a similar issue, I created #45709 allowing for generation of random numbers from a seed. You may be running into an issue that the random number is regenerated on every highstate, and thus the cronjob always gets modified with a new random number value. By using a seed you can randomize based on some value (hostname perhaps) which doesn't change.

In our case, it looked something l

[2019-02-21 18:09] alan-cugler opened #51748 "Adding python 3 http server command"
## Question
I am about to make a PR for adding the python 3 command ```python3 -m http.server``` to the [BUILDING THE DOCS](https://docs.saltstack.com/en/2017.7/topics/development/conventions/documentation.html#building-the-documentation) BASH commands in step 4. My question is which ***style*** is more preferred?

### Exhibit A:
![screenshot001](https://user-images.githubusercontent.com/25991646/

[2019-02-21 18:18] alan-cugler commented on #51696
Thank you for the clarification!

[2019-02-21 18:18] #51696 closed

[2019-02-21 18:40] gtmanfred commented on #51736
did you use salt-cloud to delete the previous minions? or did you delete them some other way, and not delete the minions key from salt-key?

[2019-02-21 18:44] gtmanfred commented on #51736
Can you provide some steps to actual replicate this?

Thanks.

[2019-02-21 18:57] juthewiz commented on #51639
@garethgreenaway looking into this now thanks

[2019-02-21 18:58] juthewiz commented on #51602
@garethgreenaway looking to change around some credentials now thanks!

[2019-02-21 19:52] juthewiz commented on #51602
yesssss thanks lol such a miss on my part

[2019-02-21 19:52] #51602 closed

[2019-02-21 19:58] alexey-mz commented on #51743
Could you provide a sample of code how to fetch __opts__ and then use it with vmware module?

[2019-02-21 20:03] icycle77 commented on #49855
I went back to `2018.3.3` (note: I can't find `2018.3.4` in your repo for installation) and added a log to confirm the same issue:
[code]
So yeah, looks like it's because of the odd partial match.

[2019-02-21 20:05] #44210 closed

[2019-02-21 20:26] jorisdejosselin opened #51751 "salt.modules.cloud.get_instance does not return existing instance"
### Description of Issue/Question

When using the cloud module for returning instance information from the deployed VM's with the libvirt provider it just returns "NONE". This also counts for salt.modules.cloud.has_instance which returns "False". But for the example I will only show the get_instance.

### Setup
KVM_provider:
[code]
KVM_profile:
[code]

### Steps to Reproduce Issue
salt 'master' cl

[2019-02-21 20:35] juthewiz commented on #51639
@garethgreenaway its not a user rights issue. i tried my own credentials and that didnt work. still the same error. and it cant be the config file because im using the saltstack cli not a state file. is there a way i can add the priority field in the salt-call syntax?

[2019-02-21 20:41] piersf opened #51752 "Reactor state not getting applied due to "No minions responded""
Hello,

I'm trying to set up a reactor. I have the below state to be executed whenever a new minion connects to the master:

[code]

The execution gets triggered successfully, but monitoring the events from the event-bus, i can see the below "error" is returned saying that no minion responded:

[code]
To simulate a new minion joining, i'm just restarting an already connected minion which the maste

[2019-02-21 20:48] waynew commented on #4438
I believe I've got a pretty solid handle on this - we've got a new hire starting in a week or two, and I think this will be a rather nice intro task for them, so expect to see a PR referencing this soon!

[2019-02-21 21:18] garethgreenaway commented on #51602
@juthewiz No worries :smile:

[2019-02-21 21:33] onlineque commented on #29914
Hello, I think the bug is still there.
Tested against:
# salt --version
salt 2018.3.3 (Oxygen)

Is there still a chance it will be fixed ? Thanks beforehand !

[2019-02-21 23:52] bluemalkin opened #51755 "Unable to use salt-formula with saltenvs"
### Description of Issue/Question
I'm unable to use salt-formulas in my salt environments.

### Setup
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2019-02-22 01:50] gtmanfred commented on #49855
2018.3.4 is not officially released yet.

It is tagged, and probably built, so just waiting for it to be released,
hopefully next week

On Thu, Feb 21, 2019 at 2:04 PM Brett Russ <notifications@github.com> wrote:

[2019-02-22 02:13] juthewiz commented on #51639
@garethgreenaway going to raise my permission to admin from dev. and will see if that helps. i will check back in tomorrow :)

[2019-02-22 06:50] HekMe commented on #51662
@dwoz
Do you need some other information?

[2019-02-22 09:16] maltris commented on #47463
@terminalmage Same question as @garethgreenaway.

[2019-02-22 11:14] BrianSidebotham commented on #51736
@gtmanfred - I did not use salt-cloud to delete the VM running as a minion for the Environment Salt Master. Instead I simply terminated it at the provider (proxmox) level. Then re-ran the same salt-cloud map.

This results in salt-cloud generating minion keys for the missing VM, but failing to distribute that key to the Environment Salt Master.

Using the below map file snippet as an example:

[co

[2019-02-22 12:25] Maunty opened #51760 "state id reference with state render"
### Description of Issue/Question
Is there any way to make logical links between salt.state.id and rendering in templates. I try to render several config files  from 1 template for multiple daemon instances on one minion.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

as workaround i use state.environ like this

----pillar.file ----

[code]

----

[2019-02-22 14:39] OrangeDog commented on #22257
Isn't this done? The only thing not checked-off is "Add execution module to easily call arbitrary serializers from the CLI/Jinja.", but that's provided by `slsutil`.

[2019-02-22 14:51] gtmanfred commented on #51736
Ahh, i have no idea how the make_master stuff works. maybe @techhat can help.

[2019-02-22 14:59] amannch opened #51763 "Cannot list installed patches"
### Description of Issue/Question

When trying to list installed patches I get the following result:

          ID: test_case
    Function: pkg.patch_installed
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/usr/lib/python2.7/site-packages/salt/state.py", line 1939, in call
                  ret = self.states[cdata['f

[2019-02-22 15:27] steveno commented on #50578
This issue can be closed now. #50708 was merged.

[2019-02-22 15:44] #33526 closed

[2019-02-22 15:44] #44243 closed

[2019-02-22 16:08] brejoc opened #51764 "Presence detection for minions behind NAT not working"
### Description of Issue/Question
Presence detection for minions behind a NAT is not working. In [minions.py](https://github.com/saltstack/salt/blob/develop/salt/utils/minions.py#L666) we fetch all of the IPv4 addresses of the minions. For `minion1` this will be the IP address the master can see. But for `minion2` this will be the address the minion gets behind the NAT. Then those [addresses are c

[2019-02-22 16:53] garethgreenaway commented on #51764
@saltstack/team-core Any thoughts on this one?

[2019-02-22 17:23] garethgreenaway commented on #51748
@alan-cugler Thanks for this report and the upcoming PR, my preference is `exhibit A`.  @saltstack/team-core Thoughts?

[2019-02-22 17:47] thatch45 commented on #51748
I would say exhibit b, python3 should always get top billing

[2019-02-22 17:50] garethgreenaway commented on #51748
@thatch45 What about the layout, eg. different boxes, of Exhibit A but top billing of Python 3 as in Exhibit B?

[2019-02-22 17:59] thatch45 commented on #51748
Yes, I will go with you there, Exhibit A with python3 top billing would be the best

[2019-02-22 18:19] garethgreenaway commented on #51763
@amannch Thanks for the report.  To confirm, are you seeing this on the `develop` branch?  Just making sure as I don't see this on the `2019.2` branch, but I do see it in `develop`.

[2019-02-22 18:40] garethgreenaway commented on #51745
@fayak Thanks for the report.

[2019-02-22 18:41] weswhet commented on #50227
This is fixed in 2019.2.

[2019-02-22 18:42] garethgreenaway commented on #51751
@saltstack/team-cloud Thoughts?

[2019-02-22 18:44] weswhet commented on #49237
I'm going to change the behavior of this to the above and create another function to handle any PID searching, @garethgreenaway any opposition to this before I start typing?

[2019-02-22 18:48] garethgreenaway commented on #49237
@weswhet No objections, thanks for picking this up :smile:

[2019-02-22 18:54] alan-cugler opened #51768 "docs page for _syspaths.py"
### Description of Issue/Question
Currently, there is an outdated tutorial on the saltstack [docs site](https://docs.saltstack.com/en/latest/topics/tutorials/rooted.html) I was going to do a PR to update the `_syspaths.py` file being shown. However, there should probably just be a docs page for this file somewhere in docs.saltstack.com.

A section of the proposed docs page can be dedicated to expl

[2019-02-22 18:55] alan-cugler commented on #51748
Alright, I'll put in a PR later.

[2019-02-22 18:55] #51748 closed

[2019-02-22 19:04] waynew commented on #3802
I'm going to go ahead and close this - though I'm happy to reopen if someone has a compelling reason we should reopen it.

[2019-02-22 19:04] #3802 closed

[2019-02-22 19:25] dwoz commented on #44184
@jacky35 This is an issue in the implementation of zip on python 2 and has been fixed on python 3. We've validated this is working with salt on python 3.

[2019-02-22 22:17] juthewiz commented on #51639
@garethgreenaway after i made the user an admin for the jira project i still received the same error about the priority field

[code]

[2019-02-22 22:23] juthewiz commented on #51639
@garethgreenaway when i add `/rest/api/2/issue/` to the jira server to the jira config on file `/etc/salt/minion` i get a new error
[code]

[2019-02-23 01:08] garethgreenaway commented on #51755
@saltstack/team-core Anyone have any thoughts on this one?

[2019-02-23 01:14] garethgreenaway commented on #51760
@Maunty Thanks for the report.  Off the top of my head I'm wondering if a map file might be the best approach, https://docs.saltstack.com/en/latest/topics/best_practices.html#modularity-within-states

[2019-02-23 01:16] garethgreenaway commented on #51752
@piersf Thanks for the report.  To confirm, does the `sync_all` reactor execute correctly and the `saltutil.sync_all` runs as expected?  Or the reactor does not execute correctly.  Thanks!

[2019-02-23 01:26] garethgreenaway commented on #51768
@alan-cugler Thanks for the report.  Seems like a good idea.  @saltstack/team-core Anyone see a reason not to include a new doc page for the various syspath variables?

[2019-02-23 11:20] #44179 closed

[2019-02-23 14:52] goodwillcoding commented on #50313
@DmitryKuzmenko anything new on this. Still working around this via cron job which restarts master

[2019-02-23 15:21] natemarks opened #51780 "user error or pipenv problem with dev-packages.httpretty section?"
### Description of Issue/Question
This is probably a user error but I'm baffled.  It may also be a pipenv bug, but I couldn't find anything like that in their issues.

When I use the Pipfile  (pipenv install --dev) it creates the environment without any packages.  If I remote that last section, I get all the packages in the installed environment.  Is there some trick I'm missing?

### Setup
If I r

[2019-02-23 16:20] #44257 closed

[2019-02-23 17:20] #44242 closed

[2019-02-23 18:26] crux-capacitor opened #51783 "Feature Request - Allow retry until with condition of NoChanges"
### Description of Issue/Question

I would like to suggest allowing the 'retry' requisite to have an 'until' condition of 'NoChanges'. The idea is that the state will be retried until there are no changes.

### Use Case:

I'm working on a formula to install and configure NiFi. During the course of the entire run, a basic config file (nifi.properties) is managed. Prior to the file being managed, a

[2019-02-23 19:30] arizvisa opened #51784 "salt.utils.path.which() on the windows platform can return a non-executable file if a file without an extension already exists (breaks npm module on windows)"
### Description of Issue/Question
Okay...this is getting pretty fucking outrageous. This condition can happen in numerous other places, but I encountered it specifically when installing nodejs via chocolatey and then trying to use the npm modules in salt. The issue is that in order to detect the existence of npm, salt will use `salt.utils.path.which()` to locate the `npm` binary.

The `salt.utils.

[2019-02-23 19:31] arizvisa commented on #51784
Ftr, this is not limited to 2018.3.3 as the related code in `salt.utils.path.which` has been wrong since 2017.

[2019-02-23 19:36] arizvisa commented on #51784
I take that back, since 2015-02-05.

[2019-02-23 21:04] arizvisa commented on #51784
...and PR #51785 fixes this.

[2019-02-23 22:18] #50556 closed

[2019-02-23 22:18] #50874 closed

[2019-02-23 23:12] arizvisa commented on #51700
Closing this issue as the related PR was merged.

[2019-02-23 23:12] #51700 closed

[2019-02-23 23:46] arizvisa commented on #51719
Closing this issue as it appears that it's not something you guys plan on changing.

[2019-02-23 23:46] #51719 closed

[2019-02-23 23:48] arizvisa commented on #51537
Closing this as it was fixed by PR #51538.

[2019-02-23 23:48] #51537 closed

[2019-02-23 23:59] arizvisa commented on #51371
I'm assuming by the unresponsivenes that adding something like this is not as easy as one would initially think?

There's two ways to do this, one of them is to add a sort-of meta-requisite that inverts the conditions of all of its sub-requisites (which uglies up the schema), and the other way is to add an explicit condition which appears to add another pass into the state compiler in order to dea

[2019-02-24 00:20] #41298 closed

[2019-02-24 07:20] #42726 closed

[2019-02-24 12:07] ritishverma opened #51788 "Typo in documentation of _check_cache_minions function"
https://github.com/saltstack/salt/blob/61baab97de511aab9273446062430f02623f5d2d/salt/utils/minions.py#L275

There is a typo in this line in the documentation of function _check_cache_minions.
It should say 'absent' and not 'absend'
This typo exists in all branches.

[2019-02-24 13:24] #44239 closed

[2019-02-24 18:11] myii commented on #41195
Where `map.jinja` is imported `with context`, here's [another workaround](https://github.com/myii/template-formula/blob/52d03d895ac60cbcef64ca712881eee56d77c21a/template/map.jinja#L4-L10):

[code]

[2019-02-24 21:16] misch42 opened #51789 "netbox external pillar fails with python3"
### Description of Issue/Question

I set up a 2019.2.0-rc2 with python3.4. The netbox external pillar fails.

### Setup
See install instructions of salt and
https://docs.saltstack.com/en/develop/ref/pillar/all/salt.pillar.netbox.html
replate all "pip" with "pip3".

### Steps to Reproduce Issue

When I start salt '*' pillar.items I get an error message in the log:
[salt.pillar      :968 ][CRITICAL]

[2019-02-24 21:36] misch42 commented on #51140
follow up: I installed salt, netbox again with python3. The netbox module of salt is installed in
/usr/lib/python3/dist-packages/salt/modules/netbox.py

But pynetbox is installed in
/usr/local/lib/python3.6/dist-packages/pynetbox

So it seems that salt just cannot find the pynetbox from the other path.

Ideas?

[2019-02-24 22:54] ralish opened #51791 "Add "npm ci" support to npm module & state"
### Description of Issue/Question

For installing Node.js modules Salt provides the `npm` state which provides support for installing packages via a `package.json` file. Internally this results in Salt calling `npm install`. Recent versions of `npm` include the `npm ci` command which is far better suited to continuous integration and deployment scenarios as it ensures reproducible builds.

Introdu

[2019-02-25 02:48] maxime-viargues-serato opened #51792 "diskusage beacons not sending events on Windows"
I am trying to setup a beacon to send disk usage events on Windows but I can't get it to work and can't see any event on master.

### Setup
beacon.conf on the minion
[code]
I have tried with `c://`, `c:`, `'*'` and '^[a-zA-Z]:\\$', and all sorts of percentage values.
I don't know what I missed?

### Steps to Reproduce Issue
Running the minion on Windows with log
[code]
So the beacon is loaded and

[2019-02-25 03:24] #44180 closed

[2019-02-25 03:33] squall2751 opened #51793 "salt minion can't start Unexpected COM Error"
Hello all,

I've use some salt-minion on Windows OS(10 or Server 2012/2016) which connected to salt-master(Ubuntu Docker).

One of the salt-minion(Windows 10) have a connection error,  the debug log error show some Chinese word meaning is

disk space not enough, can't complete this operation
But this salt-minion have enough space (18.2/99.6 GB), anyone can help me to debug this problem ?

DEBUG LO

[2019-02-25 06:49] amannch commented on #51763
yes, this is the `develop` branch

[2019-02-25 10:48] cesarl333 commented on #51575
Hi,
Sorry for the delay, a production incident prevent me to try this before.
I've applied the #50655 and it seems to solve this issue.
Thanks !

[2019-02-25 10:48] #51575 closed

[2019-02-25 11:02] xdkms opened #51794 "salt function output in orchestrate run"
### Description of Issue/Question
**Question:**
I am trying to react to a webhook event by adding a user on a minion. If adding the user failed, I want to send the error message to an external system (this has to happen on the master). I could not find a smart way to do this.

I'm a noob so any input is welcome

### Setup
How I would like it to work:

**reactor/add_user.sls**
[code]
**orchestrate/

[2019-02-25 11:26] piersf commented on #51752
@garethgreenaway the sync_all reactor gets triggered/executed but does not do anything as it fails with an error `Rendering SLS 'base:reactors.startup' failed: Jinja variable 'data' is undefined` as you can see from the output above. And the problem seems to be with the `data` dictionary that is not recognized.

[2019-02-25 11:26] BunnyHolder commented on #45026
I use onliner to fix this on daily basis with v2018.3.3
`sed -i '1756,1758{s/grant\[0\]/str\(grant\[0\]\)/}' /usr/lib/python3/dist-packages/salt/modules/mysql.py`

[2019-02-25 12:30] guettli commented on #51619
@max-arnold yes, I know the Jinja replace() filter. But since I will use the grain very often, I would like to avoid this extra typing each time I use `grains.osfinger` without a dot.

[2019-02-25 13:25] wasabi222 commented on #51482
What does the state file and template look like? Have you tried this in a test environment with a vSRX or vMX?

[2019-02-25 14:14] misch42 opened #51795 "netbox module fails: The netbox execution module cannot be loaded"
### Description of Issue/Question

When I use the netbox module i.e netbox.openconfig_interfaces I get the error
The netbox execution module cannot be loaded:
pynetbox library is not installed.

It seems that the import of netbox does not work properly. When I comment the line about pynetbox.lib everything works. Please check if pynetbox.lib exists at all.

try:
    import pynetbox
    # from pyne

[2019-02-25 14:19] misch42 opened #51796 "netbox: base URL contains one "api" too much"
### Description of Issue/Question

When I try to fetch information from netbox I get en error that the requested URL could not be found. It seems that the base_url of pynetbox/api.py contains one "api" too much. Or the netbox module of salt.

### Setup
Plain installation of salt, netbox and pynetbox with pip3.

### Steps to Reproduce Issue
salt-call -l debug netbox.openconfig_interfaces
(...)
pyne

[2019-02-25 14:22] misch42 commented on #51796
Sorry, my fault. I added the spare "api" in the URL of the config of my salt minion. Removing it solves the problem.

[2019-02-25 14:22] #51796 closed

[2019-02-25 14:34] xneceo commented on #50650
Hi Twangboy, i ran these commands on one of the server with the problem:

[code]
MediaType 3 and 4 says no instance available.

[code]

I also ran this one:
[code]

[2019-02-25 14:42] misch42 opened #51797 "netbox.openconfig_interfaces fails: '<' not supported between instances of 'dict' and 'dict'"
### Description of Issue/Question
In my setup netbox.get_interfaces works. Now I tried netbox.openconfig_interfaces. This fails with:
Passed invalid arguments to netbox.openconfig_interfaces: '<' not supported between instances of 'dict' and 'dict'

### Setup
Plain setup of salt-2019.2.0-rc2, netbox with python 3.6

### Steps to Reproduce Issue
salt -l debug nms3 netbox.openconfig_interfaces devic

[2019-02-25 15:25] juthewiz commented on #51482
@wasabi222 ill paste them here. and no im not using vMX or vSRX. so the results you get from that would be irrelevant when im using a physical box on a specific Junos, unless you are able to load Junos 17.1R2S7. just my 2 cents it has nothing to do with the state file or conf file because it applies successfully to the router. the issue is the error that saltstack output shows which isnt relevant

[2019-02-25 16:40] crux-capacitor opened #51798 "Slots not being evaluated as a sub-key of context"
### Description of Issue/Question

I'm trying to use slots to populate variables passed into the context argument of a file.recurse, but the file is being rendered with the exact text of the slot declaration, rather than the return of the slot.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

Example state. The first slot is a test for functionalit

[2019-02-25 17:10] TheVakman commented on #44376
This should remain open.

[2019-02-25 17:47] dwoz commented on #51780
@natemarks What is the output of `python3 --version`?

[2019-02-25 17:49] dwoz commented on #51783
@saltstack/team-core Thoughts on this?

[2019-02-25 18:05] dwoz commented on #51784
@arizvisa Thanks for reporting this and working on a fix.

[2019-02-25 18:05] #44211 closed

[2019-02-25 18:05] #44296 closed

[2019-02-25 18:12] dwoz commented on #51788
@ritishverma Thanks for reporting this.

[2019-02-25 18:18] dwoz commented on #51789
@mirceaulinic @ksofa2 Can either of you look into this please?

[2019-02-25 18:19] dwoz commented on #51791
@ralish Thanks, Looking forward to seeing your PR. :)

[2019-02-25 18:23] dwoz commented on #51793
@squall2751 Thanks for reporting this, I'm guessing this has more to due with the local of the operating system (being Chinese) rather than a disk space issue. We'll take a look and try to resolve it.

[2019-02-25 18:33] dwoz commented on #51795
@misch42 Thanks for reporting this.

@mirceaulinic @ksofa2 Can either of you look into this please?

[2019-02-25 18:36] dwoz commented on #51797
@misch42 Thanks for reporting this.

@Ichabond  @zachmoody  Can either of you look into this please?

[2019-02-25 18:41] twangboy commented on #51792
@maxime-viargues-serato The documentation shows `c:\\` for Windows

[2019-02-25 18:55] twangboy commented on #51792
OK, I was able to get it to work with `'C:\'`

[2019-02-25 19:03] Oloremo commented on #46926
Having a similar problem with `pillarstack` and `to_bool` Jinja filter at 2018.3.3. Any updates?

[2019-02-25 19:05] #35555 closed

[2019-02-25 19:18] DmitryKuzmenko commented on #49147
I'll take care of this.

[2019-02-25 19:26] maxime-viargues-serato commented on #51792
Oh okay, I managed to make it work using `'C:\\'` it is case sensitive then...
Interesting I tried `'C:\'` but it fails with an exception `error: bogus escape (end of line)`

It would be good to update the documentation. Even the regex from the documentation doesn't work, I get a `[WARNING ] ^[a-zA-Z]:\\$ is not a valid mount point.` which at least displays something.
It would be great to show a w

[2019-02-25 19:54] twangboy commented on #51792
The above PR should take care of this. It should fix the capitalization issue and allow single or double slashes...

[2019-02-25 19:58] #51792 closed

[2019-02-25 20:00] twangboy commented on #51793
Are all your minions using Chinese locale? If that is the case and some are functioning properly, I would suspect a corrupt WMI database.

[2019-02-25 21:08] dwoz commented on #51794
@xdkms It seems like you are on the right track. You'll want to configure the reactor in the master's config.
[code]

Then you'll want to filter the reactor so that it only runs for state/events you want.
[code]

You could probably handle the rest of this in your custom module without needing orchestrations. Have that module take the event data and make the calls to jira.

@saltstack/team-core Doe

[2019-02-25 21:26] waynew commented on #51783
Hey @crux-capacitor, thanks for the feature request!

I'm personally a fan of the idea - though I can think of at least one potential problem off the top of my head. Consider a state where you're bringing up a service, but there's an error in the config file (or worse, an error that takes a second or two to crash the service). When it tries to start there will be changes. Then it will try again, a

[2019-02-25 21:28] waynew commented on #51768
I'm 💯 for enhancing the docs this way.

[2019-02-25 21:38] aboe76 opened #51808 "saltstack 2019.2 can't be installed on debian 8 (jessie) without python-systemd"
### Description of Issue/Question

the new salt-common package 2019.2 for debian 8 has a depency on python-systemd
which isn't in debian 8 default repo's.

### Setup
clean vm debian 8

### Steps to Reproduce Issue
run bootstrap.sh script

this gives the error:
 salt-minion : Depends: salt-common (= 2019.2.0+ds-1) but it is not going to be installed

issue:
apt show salt-common
Package: salt-common

[2019-02-25 21:38] waynew commented on #51755
@bluemalkin thanks for the report! I'm guessing you have done this already, but did you restart your salt master after changing the config?

[2019-02-25 21:39] arizvisa opened #51809 "[Question] the "req" job id and how it relates to returners"
### Description of Issue/Question
Hiya. I'm the author of PR #51363 (etcd returner), and I notice that the mysql returner specially handles the case when the job id is set to "req". This job id seems to be submitted by a minion when it is activated independant of a command from the master. (Relevant code: https://github.com/saltstack/salt/blob/develop/salt/returners/mysql.py#L294)

The way this ma

[2019-02-25 21:48] waynew commented on #7300
Okay, so I've dug into this - this does not appear to be a *config* setting but a way to load plugins into Salt.

And after grokking what Salt is doing and plugging in `saltstack loader plugins` to Google, I got this page: https://docs.saltstack.com/en/latest/topics/tutorials/packaging_modules.html

So... I'd say that this already exists? Unless we feel the need to link to it from the master/minio

[2019-02-25 22:09] cachedout commented on #7300
Hi @waynew. I don't think that doc is what this issue is referring to. This specific issue  is referring to extension modules, I believe.

[2019-02-25 22:15] gtmanfred commented on #7300
The correct thing to document is the ability to drop pillar modules in `salt://_pillar`

and to sync them with `salt-run saltutil.sync_pillar` which did not exist when this issue was opened

https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.saltutil.html#salt.runners.saltutil.sync_pillar

[2019-02-25 22:18] bluemalkin commented on #51755
@waynew yes I have many times - thanks

[2019-02-25 22:25] arizvisa opened #51811 "Umm...wow. The salt.states.npm module is not checking for the existence of npm correctly."
### Description of Issue/Question
The `salt.states.npm` module doesn't work because it's checking for npm support incorrectly. Back in 2017, some guy renamed the `salt.modules.list` function to `salt.modules.list_` which broke the npm module entirely.

The reason being is that in order to verify that npm support is available, the following check is made:
[code]

Due to this states module checking

[2019-02-25 22:26] arizvisa commented on #51811
Jesus christ guys. Will write up another PR in a sec...

[2019-02-25 22:41] arizvisa commented on #51811
Closed by PR #51812.

[2019-02-25 22:51] sfozz commented on #51374
Fixed in #50216

[2019-02-25 22:51] #51374 closed

[2019-02-25 23:01] hemebond commented on #45292
I've upgraded to 2018.3.3 on Debian Jessie and it's still an issue.

[code]

[2019-02-25 23:25] arizvisa commented on #51811
Okay. So I was able to track this down while working on the PR. It's a windows-specific issue and it seems like a common construct. Will write further results on analysis in PR #51812.

[2019-02-25 23:53] arizvisa commented on #51811
Okay, the PR has been re-created PR #51812 is deprecated in favor of PR #51813. This properly fixes the version check on the Windows platform and has been tested.

For some reason on the Windows platform the call to just `npm` results in an inability to locate the command. This is likely due to either there being two scripts: `npm` which is non-executable (on windows) bourne-script, and `npm.CMD`

[2019-02-26 00:12] waynew commented on #51755
@bluemalkin Just checking the easiest and most obvious problems first 😂

If you check your logs is there anything you can see around git - maybe not being available or something? I don't *think* that's the case, but I would like to at least rule it out as the cause.

[2019-02-26 00:17] waynew commented on #7300
@cachedout I suspect there may be confusion in this issue then, because the behavior mentioned here:

is definitely the behavior in the document I linked to.

But if we're talking about documenting `salt://_pillar`in a better way than https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.saltutil.html#salt.runners.saltutil.sync_pillar I'm 👍 for that.

[2019-02-26 00:45] sidharrell commented on #40208
2019.2 release lacks diff output when running
salt '*' state.apply test=True saltenv="production"
I ran the minion in debug mode, the diff output is there.
I reverted to the 2018.3 release, diff output in test mode returned.

[2019-02-26 00:46] arizvisa commented on #51809
It looks like the reason why returners might get `req' as the job instead of a req job id is because of the following code. But again, I'm really unfamiliar with this beastly code-base so I'm not 100% sure:

https://github.com/saltstack/salt/blob/develop/salt/daemons/masterapi.py#L780

[code]

You can see the conditional at `XXX` where it's checking to see if the caches don't exist, however it loo

[2019-02-26 01:24] jkrauz commented on #46859
This issue has returned in 2019.2.0

[2019-02-26 01:30] jkrauz opened #51816 "pillar_ldap broken in 2019.2.0"
### Description of Issue/Question
This is the same issue as in https://github.com/saltstack/salt/issues/46859. Returned in 2019.2.0.

### Versions Report
Salt Version:
           Salt: 2019.2.0

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: 2.0.2
      gitpython: 2.1.3
          iofl

[2019-02-26 01:57] twangboy commented on #50650
Looks like the error in the log is related to the special character in `stderr`... Are the other servers that are working using the same locale? What language of Windows is the one that is failing?
Could you run `chcp` at the cmd prompt? That should tell you the active codepage.
[code]

[2019-02-26 01:57] twangboy commented on #50650
This may be a red herring and unrelated to the memory leak...

[2019-02-26 02:18] jkrauz opened #51817 "Saltclass external pillar broken in 2019.2.0"
### Description of Issue/Question
After upgrading to 2019.2.0 our states are playing weirdly. I believe saltclass external pillar expansion is broken.

### Setup
[code]
[code]
[code]

### Steps to Reproduce Issue
salt-call pillar.get foo
[code]
The output above doesn't look correct. The expected output is:
[code]

### Versions Report
Salt Version:
           Salt: 2019.2.0

Dependency Versions:

[2019-02-26 03:25] squall2751 commented on #51793
now only this minion using Chinese locale, other using English

[2019-02-26 04:53] bluemalkin commented on #51755
@waynew the only log we get is apparently an error we can ignore:

[code]

[2019-02-26 06:25] misch42 commented on #51490
I thunk 2019.2.0 solves the request with the new function netbox.openconfig_interfaces

[2019-02-26 06:31] eliezerlp commented on #51490
@misch42, seems that is only an execution module, not a pillar module... I think this issue aimed to get the data via Pillar.

[2019-02-26 07:22] syphernl opened #51818 "salt.nacl.dec: expected str, bytearray, or unicode"
### Description of Issue/Question
After updating to 2019.2.0 running this in a pillar
[code]

results in:
[code]

### Versions Report
[code]

NACL config:
[code]

The keyfile specs:
[code]

[2019-02-26 08:23] johnnybubonic opened #51819 "ext/ipaddress.py broken on 2019.2 when using python 3"
### Description of Issue/Question
Salt is choking when one of my ext_pillars imports the [`ipaddress` module](https://docs.python.org/3.4/library/ipaddress.html).

Here's an example (obviously not the real thing, but should serve the purpose of demonstration):

[code]
When executed directly with python 3.4 (see below for full environment), it behaves as expected, and prints `fdb3:de94:8a2b::1`.

H

[2019-02-26 08:33] misch42 commented on #51490
A pillar that delivers openconfig would really by good.

[2019-02-26 09:27] xdkms commented on #51794
@dwoz Thank you for the answer. My problem isn't reacting if it fails, but rather telling jira why it failed.

The return event only contains the return code:
[code]
If there is a way to accurately interpret the return code, that would work.

What I've done now is write a module that calls `user.add`, and then sends a custom event with the `context `data (I cut out the list of arguments since they

[2019-02-26 09:34] vandernorth commented on #49147
We're using CentOs7 and updating and restarting our minions with kernel 3.10.0-957.5.1.el7.x86_64 seem to have solved this problem for us. The affected minions had kernels between 3.10.0-5xx and 3.10.0-8xx.

[2019-02-26 10:48] oliver-dungey commented on #50565
Closing as this has been addressed elsewhere.

[2019-02-26 10:48] #50565 closed

[2019-02-26 12:00] tjyang commented on #46159
* my salt01 test server upgraded to 2019.2.0

[code]
* With gitfs configure to github following command still works.

[code]

[2019-02-26 12:01] OrangeDog opened #51821 "'comment' is an invalid keyword argument for 'test.fail_without_changes'"
Master and minion version 2019.2.0.

[code]

 salt.exceptions.SaltInvocationError: 'comment' is an invalid keyword argument for 'test.fail_without_changes'

[2019-02-26 12:09] OrangeDog commented on #51821
Aside: I realise this example state doesn't do anything useful, as it always fails regardless of whether mod_watch is triggered.

[2019-02-26 12:29] OrangeDog opened #51822 "elasticsearch.index_template_present state not idempotent in 2019.2.0"
This state now applies changes on every run.
[code]
[code]

[2019-02-26 12:32] OrangeDog opened #51823 "shedule.is_enabled should accept no argument"
Allowing to check the current state of `schedule.enable`/`disable`.

[2019-02-26 12:37] OrangeDog opened #51824 "schedule.present state not idempotent in 2019.2.0"
Master and minion 2019.2.0 (with #51265).
Every alternating application of this state reports changes.
[code]
[code]

[2019-02-26 12:39] OrangeDog opened #51825 "schedule.disable doesn't work in 2019.2.0"
Master and minion on 2019.2.0.
Either `schedule.disable` doesn't work at all, or the application of a `schedule.present` state turns it back on.
This is a very annoying change in behaviour from 2018.3.3.

[2019-02-26 13:06] gregor-tb opened #51827 "2018.3.4 TypeError: unicode argument without an encoding"
### Description of Issue/Question
Seems similar to other issues (#51298) involving 16 byte long strings, in our case the "master" entry on the minion has exactly 16 bytes and causes an exception.

We didn't address this problem with prior 2018.3 branch.

### Steps to Reproduce Issue
Just installed fresh Debian 9.8. minimal, installed salt-minion, run salt-call grains.items (or any other command).

[2019-02-26 13:09] tkaehn commented on #50221
Problem still exists 2019.2.0

[2019-02-26 13:10] damon-atkins commented on #51260
runas could support  values like su:username, proc:username, sudo:username  The `:` is an invalid character in a username for Unix/Linux/Windows. And default to su where it currently does.

Lot of people complain that limits.conf was not being applied which su fixed..e.g. increased file limits

[2019-02-26 13:15] tkaehn opened #51828 "file.managed: contents_pillar and pillar.file_tree with keep_newline is broken in 2019.2.0"
### Description of Issue/Question

Using `contents_pillar` and `pillar.file_tree` with `keep_newline` is still broken in 2019.2.0 and results in removing lines.

Probably `file.managed` is broken as `pillar.get` shows the newlines (please see below).

### Setup and steps to Reproduce Issue

[code]

### Versions Report
[code]

[2019-02-26 13:22] tkaehn commented on #42306
Problem still exists in 2019.2.0:

[code]

[2019-02-26 13:24] tkaehn commented on #47201
Problem still exists in 2019.2.0

[2019-02-26 13:53] crux-capacitor commented on #51783
@waynew Hi Wayne! I'm glad you like the idea. I definitely agree about enforcing a max attempts for this. The existing retry requisite has an attempts argument already, which defaults to 2. So adding a new until condition to the same requisite would make it subject to the default of 2 attempts.

One consideration to take into place - in the use case that I made where a file gets created during the

[2019-02-26 13:54] tganzeboom opened #51829 "salt-latest won't install on RHEL7.5"
### Description of Issue/Question
yum install salt-minion does not work with the latest (2019.2 as of this writing.)
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
N.A.
### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
yum install salt-minion
Loaded plugins: product-id, search-disabled-repos, subscription-manager
This syst

[2019-02-26 14:08] OrangeDog opened #51830 "Allow global postgres config to leverage peer ident mapping"
Arising from https://github.com/saltstack/salt/issues/51260#issuecomment-466072647

If it were possible to globally configure `host=None`, `runas=None` and `user=postgres` (or have the user continue to be auto-detected) then it should be possible for users to configure much more efficient running of postgres states.

pg_hba.conf
[code]

pg_ident.conf
[code]

[2019-02-26 14:11] afischer-opentext-com opened #51831 "IPv6AddressScoped._is_packed_binary() is not python3 compatible"
### Description of Issue/Question

Using salt 2013.3.4 we see a regression caused by method `IPv6AddressScoped._is_packed_binary()` [which is not python3 compatible](https://github.com/saltstack/salt/blob/4b37292ffb1a0ba7cee402071bf8e851fd7c90dc/salt/_compat.py#L193).
This finally breaks our ability to perform downloads e.g. from s3 due to the exception:

[code]

The method is

[code]

and the lin

[2019-02-26 14:42] nocturo opened #51832 "pillar include stopped working"
### Description of Issue/Question
I have used git for ext_pillar for a while now and when upgrading to 2019.2.0 no pillars get rendered for me. As a quick test I downgraded to 2018.3.4 and everything works as expected.

ext_pillar config:
[code]

This straight up doesn't load up the pillar top.sls if I have root: specified. If I remove the option and put top.sls in git "root" it then loads it and

[2019-02-26 14:53] Ch3LL commented on #51798
looks like we need to add the capabilities of slots to work with context.

ping @DmitryKuzmenko

[2019-02-26 14:55] xneceo commented on #50650
Language of the system is german.

[code]

[2019-02-26 14:57] #23627 closed

[2019-02-26 14:58] Ch3LL commented on #51808
ping @dmurphy18

[2019-02-26 15:16] Ch3LL commented on #51809
it looks like adding `req` to the jid was on purpose. If you can see this PR: https://github.com/saltstack/salt/pull/16392

if you see this comment: https://github.com/saltstack/salt/pull/16392#issuecomment-58903622  looks like we need to add that code handling the `req` return to all the returners.

[2019-02-26 15:26] Ch3LL commented on #51811
thanks for the PR :)

[2019-02-26 15:29] OrangeDog opened #51833 "A way to list all available update versions, not just the latest"
`pkg.list_upgrades` only shows the latest version for each package, and not others that may be between that and the currently installed.

[2019-02-26 15:35] sotona- commented on #26888
Same problem. When I'm trying to apply state from US master to 30 China minions, about half of minions reports "SaltReqTimeoutError"

[2019-02-26 15:36] Ch3LL commented on #51816
glancing at the code i'm not seeing a lot of change in those files. Can you paste the stack trace here so we can see exactly where its showing up in the code.

[2019-02-26 15:40] Ch3LL commented on #51817
looks like there is a PR here https://github.com/saltstack/salt/pull/51487 to fix some expansion issues. Any chance you can give that a try?

[2019-02-26 15:58] maltris opened #51834 "ansiblegate.py Module will not be loaded: 'module' object has no attribute 'IGNORE_FILES'"
[code]

[code]

https://github.com/saltstack/salt/blob/4b37292ffb1a0ba7cee402071bf8e851fd7c90dc/salt/modules/ansiblegate.py#L86

[2019-02-26 16:10] zachmoody commented on #51797
Iirc, it's because we're sorting the return from `.filter_()`. I'll submit a PR to remove it.

[2019-02-26 16:16] Oloremo opened #51835 "Fluorine jinja relative import not working with slsutil.renderer"
### Description of Issue/Question
New feature of the Fluorine is the relative import paths: https://docs.saltstack.com/en/develop/topics/releases/2019.2.0.html#jinja-include-relative-paths

And looks like they're not working with slsutil.renderer

### Steps to Reproduce Issue
[code]
cat states/tests/map.sls
[code]

cat states/tests/import_test.yaml
[code]

salt-call slsutil.renderer salt://tests/m

[2019-02-26 16:16] Ch3LL commented on #51818
looks like i'm able to replicate this and on the head of 2019.2. we'll need to get this fixed thanks

[2019-02-26 16:19] Oloremo commented on #51835
Additionally, I wonder if this feature should work with the constructions like:
1) `{% import './defaults.yaml' as defaults %}`
2) `{% import_yaml './defaults.yaml' as defaults %}`
?

Because documentation gives only a single and very specific example.

[2019-02-26 16:33] garethgreenaway commented on #51825
@OrangeDog To confirm, are you talking about `disable` which disables the entire scheduler or `disable_job` which disables one schedule job?

[2019-02-26 16:34] Ch3LL commented on #51819
everywhere except for pillar/netbox.py we handle importing ipaddress  module instead of ext.ipaddress for each python version.

Here's an example where its working:

[code]

but pillar/netbox.py it only imports salt.ext.ipaddress.

Is that the pillar you are referencing? If so this will be an easy fix.

[2019-02-26 16:39] steverweber commented on #26888
Perhaps if a minion cant find its master it should just exits...  The service can be configured to preform an auto restart after a short delay. This would cleanup a few issues like if the master changed IP addresses or the connection has strange issues with keepalive.  It is not the perfect solution but this fallback would get the minion talking again....

so perhaps you can find a mixture of sett

[2019-02-26 16:41] OrangeDog commented on #51825
Yes

[2019-02-26 16:41] garethgreenaway commented on #51825
@OrangeDog Thanks!  That definitely shouldn't be happening.  Will take a look.

[2019-02-26 16:42] steverweber commented on #26888
also i dont think my old code that forks the minion process and restarts the sub-process works anymore... perhaps it should be remove .

https://github.com/saltstack/salt/blob/develop/salt/scripts.py#L136

[2019-02-26 16:53] twangboy commented on #51833
On Windows there is a `pkg.list_available` option.

[2019-02-26 16:59] Ch3LL commented on #51821
looks like i'm able to replicate this and i bisected it to: 1be50abd4deacb63395b412bb9c4506c8304c56b

i also tested on the head of 2019.2 and its broken there as well.

Heres the state i used to replicate the issue:

[code]

[2019-02-26 17:05] johnnybubonic commented on #51819
No, this was an ext_pillar I wrote myself. The real thing is both a bit too complex to paste in here (and NDA prevents me from providing the entire thing as well, unfortunately) - but it seems that ext/ipaddress.py is being pulled into that ext_pillar I wrote instead of the system module.

Namely, I suspect this is the case because I have it calll ext_pillar() with a static minion ID if run intera

[2019-02-26 17:55] ze42 opened #51839 "prereq / require: recursive requisite"
### Description of Issue/Question

A couple state having `prereq` / `require` dependencies gets a `recursive requisite`.

I would expect to be able to get a `prereq` to only execute if needed, but still have a `require` to explicitly not run it if the command fails.

We could have the other way with `watch_in`, `require` without having a cycle.

### Setup
[code]

### Steps to Reproduce Issue

[cod

[2019-02-26 17:57] #44020 closed

[2019-02-26 17:57] #43743 closed

[2019-02-26 18:38] #50227 closed

[2019-02-26 18:39] mattLLVW opened #51842 "salt.auth.django docs use wrong model name"
`salt.auth.django` doc uses:

[code]
as an exemple of a django model to auth users.

There's few problems:

- the actual module tries to to fetch `minion_or_fn_matcher` user attribute.

- `CharField` should have mandatory `max_length` kwarg.

- user foreign key should be:
[code]

Docs should be updated to:

[code]

[2019-02-26 18:41] #50578 closed

[2019-02-26 19:01] twangboy commented on #44020
Ping

[2019-02-26 19:14] sfozz commented on #49147
+1 here, we're seeing it on a selection of CentOS7 systems as well. Interestingly the most recent was also running cpanel.
[code]

[2019-02-26 19:19] bicofino commented on #23518
With the new salt-minion version(salt-2019.2.0-1) it broke.

```Passed invalid arguments: 'data' is an invalid keyword argument for 'event.wait'.``` and the docs are not clear https://docs.saltstack.com/en/latest/ref/states/all/salt.states.event.html

[2019-02-26 19:22] waynew opened #51845 "unit.utils.test_schema.ConfigTestCase-20190225154848 is failing"
There are 4 failures here:

https://jenkinsci.saltstack.com/job/2017.7/job/salt-ubuntu-1604-py2/46/testReport/unit.utils.test_schema/ConfigTestCase/

[code]

Happening under (at least):

- fedora28 - py2
- debian8 - py2
- centos7 - py2
- centos6 -py2
- windows2019-py2

[2019-02-26 19:26] kylehuff commented on #51578
@waynew I am able to reliably reproduce this issue on Ubuntu 18.04, salt version 2018.3.

I created a repository (https://github.com/kylehuff/saltstack-51578) that includes the external pillar provider, salt-master config and a Vagrantfile to reproduce the test on a few different target distro/releases.

I can reproduce the issue every time on debian/jessie, debian/stretch and ubuntu/bionic.

[2019-02-26 19:26] gtmanfred commented on #51604
This is a duplicate of #5050

And i am working on implementing it right now.

[2019-02-26 19:37] Ch3LL commented on #51822
looks like there was only three commits to states/elasticsearch.py between 2018.3.3 and 2019.2.0:

0004c0bdb8cfc7ffc1bd0635b4cbb6c0ad273553
035c04131a3235070b6db5c81ae8ca0cab3d0071
e142eb13066b7f2dfc5e99d4208cd3e866676317

i'm guessing one of those commits is the culprit especially since you are using `check_definition`

ping @babs looks like you added these commits are you also seeing this behavi

[2019-02-26 19:43] waynew commented on #51578
@kylehuff Excellent! I'll take a look at this tomorrow

[2019-02-26 19:53] misch42 commented on #51797
Fix works for me.

[2019-02-26 20:05] Ch3LL commented on #51827
can you verify that the PR fixes it on 2018.3.4 as well?

[2019-02-26 20:13] gtmanfred commented on #5050
Work done here https://github.com/saltstack/salt/pull/51846

[2019-02-26 20:13] gtmanfred commented on #51604
PR https://github.com/saltstack/salt/pull/51846

[2019-02-26 20:13] Oloremo opened #51847 "[Feature Request] pip.installed has no support for "--user" argument"
### Description of Issue/Question
Pip supports installation in user namespace: https://pip.pypa.io/en/stable/user_guide/#user-installs
Currently, `pip.installed` state doesn't support it in any release

Would be really nice if this could be added.

[2019-02-26 20:14] Ch3LL commented on #51828
this should be fixed on the head of 2019.2 now and will be included in 2019.2.1. Any chance you can verify?

[2019-02-26 20:15] Ch3LL commented on #51829
ping @dmurphy18

[2019-02-26 20:18] shorawitz opened #51848 "Passed invalid arguments: network_interface_create_or_update() takes exactly 5 arguments (11 given)"
Execution of "azurearm__network.network_interface_create_or_update" fails due to problem parsing "profile" config params.  This was tested using the "develop" branch of the module.

Azure Config info
[code]

azurearm__network.network_interface_create_or_update test-interface-eth0 [{'name': 'salttest'}] subnet1 virtnet1 resgroup1 profile=azure

[code]

[2019-02-26 20:26] Ch3LL commented on #51830
ping @saltstack/team-core any opinions here?

[2019-02-26 20:37] Ch3LL commented on #51831
thanks for opening this issue. as you stated we need to handle this for python3 as well. we will get this fixed thanks.

[2019-02-26 20:58] Ch3LL commented on #51832
im not able to replicate this with:

[code]

although i did have to patch mine with https://github.com/saltstack/salt/pull/51304/files but thats because i have a newer pygit version then you do.

Do you see any error's or further information in the debug logs when this occurs?

[2019-02-26 21:09] Ch3LL commented on #51834
what ansible module version do you have installed? Looks liked IGNORED_FILES was added int `v2.1.0.0-1` and above.

[2019-02-26 21:10] jkrauz commented on #51816
2019-02-27 10:03:27,204 [salt.loaded.int.pillar.pillar_ldap:301 ][CRITICAL][14613] Failed to retrieve pillar data from LDAP:
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/salt/pillar/pillar_ldap.py", line 295, in _do_search
    **connargs)['results']
  File "/usr/lib/python2.7/site-packages/salt/modules/ldapmod.py", line 151, in search
    results = _ldap.search_s(dn,

[2019-02-26 21:16] Ch3LL commented on #51835
ping @plastikos looks like you added this feature here  https://github.com/saltstack/salt/pull/47490/files

do you mind commenting here ?

[2019-02-26 21:21] jkrauz commented on #51817
I might give that a try if I find some spare time. Note that I don't have a working dev environment for saltstack, I'm just a user so it might take me some time set everything up.

[2019-02-26 21:22] Ch3LL commented on #51839
possible duplicate of https://github.com/saltstack/salt/issues/20143 ?

[2019-02-26 21:28] Ch3LL commented on #51842
would you mind submitting a PR for that change? And thanks for opening the issue :)

[2019-02-26 22:10] waynew opened #51851 "integration.shell.test_runner.RunTest and integration.shell.test_key.KeyTest test failures - seems like results are swapped"
https://jenkinsci.saltstack.com/job/2017.7/job/salt-fedora-28-py2/50/testReport/integration.shell.test_key/KeyTest/test_list_acc_eauth/

and

https://jenkinsci.saltstack.com/job/2017.7/job/salt-fedora-28-py2/50/testReport/integration.shell.test_runner/RunTest/test_salt_run_with_eauth_all_args/

The latter expected an `eauth` failure, but instead got some kind of result. The former expected to get

[2019-02-26 22:16] waynew opened #51852 "integration tests are failing on py2 on mac"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2019-02-26 22:16] waynew opened #51853 "integration tests are failing on py2 on mac"
https://jenkinsci.saltstack.com/job/2017.7/job/salt-mac-sierra-py2/104/testReport/

Looking at most of these failures it looks like somehow return values are True/False instead of something iterable. I'll need to take a look at this - there's nothing obvious from the messages, and it's happening only on the macs :suspect:

[2019-02-26 22:28] Oloremo opened #51854 "Fluorine: minion_pillar_cache: True leads to exception"
### Description of Issue/Question
After updating to the Fluorine and switching to python36 I run on the problem with `salt-call`. Any execution of the `salt-call` with any module leads to the this stackstrace:
https://gist.github.com/Oloremo/8c1d9da8a66342f0eb2354442825d9ce

Simplest example is somethinf like `cmd.run ls`

I pinpoint this problem to a single minion option - `minion_pillar_cache: T

[2019-02-26 22:30] nergdron commented on #31973
just found this issue as I was trying to do the same thing as the reporter. I've got a ton of existing AWS infra that won't be managed with salt-cloud, nor are we planning on installing a salt server anywhere. however, I would still be able to do remote execution against them using salt-ssh. I could really use a cloud roster that just scans AWS (or whatever) for resources and generates the roster

[2019-02-26 22:51] nocturo commented on #51832
OK I was vague as it seems more involved than I first thought. I have some `include:`s happening in the pillar and it looks like this: https://github.com/nocturo/pillar

If you put that as your ext_pillar, with root:
[code]

and that's the root cause of this. I've just initially assumed since it errored out due to SLS path when trying top.sls directly at top level that it was working, but it doesn

[2019-02-26 23:14] Ch3LL commented on #51847
will approve as a feature request thanks

[2019-02-26 23:46] bicofino commented on #23518
I switched to event.send with unless directive.

[2019-02-26 23:57] #22009 closed

[2019-02-27 00:17] twangboy commented on #50650
Are all systems german or just the one with the memory leak?

[2019-02-27 00:29] mattdodge opened #51857 "How to re-run a custom grain"
### Description of Issue/Question
We have a custom grain set up that tracks a version of a Python package that is installed.
[code]

After syncing the grain it works fine:
[code]

However, then after I update the package, say with a `pip install`, I cannot get the grain value to update without a minion restart.
[code]

I have tried `saltutil.sync_grains`, `saltutil.refresh_grains`, `saltutil.refre

[2019-02-27 01:41] arizvisa commented on #51809
Ok. Because yeah, if that explicit check doesn't exist then it results in the load data being overwritten since all jids spawned from a minion are 'req'. I'll update my PR then.

Thanks!

[2019-02-27 01:41] rbthomp commented on #51817
The original issue for this is #49175.

[2019-02-27 01:43] arizvisa commented on #51809
Ftr, that unfortunately that all the returners (other than `mysql` and `local_cache`) are busted.
Should I create a new issue pointing that out, or perhaps re-open this and change the title?

[2019-02-27 01:54] jkrauz commented on #51817
@rbthomp that is actually only one part of it. Except the duplicated entries in the list, I have a problem with parent class overriding non-iterable items for its descendants. Note the value of foo:id in my original post.

[2019-02-27 02:52] rbthomp commented on #51817
Sounds like what is being discussed in #51487.

[2019-02-27 04:20] johnnybubonic commented on #51819
Oh! Additionally, the problem does not exist on 2018.3.4; the same exact ext_pillar works fine.

[2019-02-27 04:33] max-arnold commented on #51824
Duplicate of #51467

[2019-02-27 04:44] timwsuqld opened #51858 "State module.run not passing all arguments"
### Description of Issue/Question
When using state `module.run` to call the `extfs.mkfs` it's not passing the `label` argument through.

### Setup
[code]

### Steps to Reproduce Issue
Run state.sls expecting it to format `/dev/disk/by-id/scsi-0Google_PersistentDisk_borg-repository` with the label "Borg-Repository-label", the format works but the label is not set.

Below are snipped debug logs. In

[2019-02-27 06:41] prometheanfire commented on #50403
https://github.com/saltstack/salt/commit/9c6f65363e58913971ec21c3021b789f9d65d7a9#diff-2eeaed663bd0d25b7e608891384b7298

should fix it, testing now

[2019-02-27 06:42] maltris commented on #51834
2.0.0.2-2ubuntu1.1 as provided by xenial-updates: https://packages.ubuntu.com/xenial-updates/ansible

The problem seems to be gone with 2.1.1.0-1~ubuntu16.04.1 as provided by xenial-backports: https://packages.ubuntu.com/xenial-backports/ansible

[2019-02-27 06:43] prometheanfire commented on #50403
https://review.openstack.org/639256 for those curious

[2019-02-27 06:48] prometheanfire commented on #50403
I do wonder when this will be fixed

https://github.com/saltstack/salt/commit/aeacd2b749774857880821c0586e6fe0f46bafbd

[2019-02-27 06:55] xneceo commented on #50650
We recognized the issue on 4 systems, which are all german.

[2019-02-27 08:53] tkaehn commented on #51828
I checked out branch 2019.2 and it seems to work. However isn't it supposed to show a diff when running with `test=True` as well?

[code]

[2019-02-27 08:59] morphkit commented on #51693
@garethgreenaway I've tested it multiple times before posting this (bare-metal, vagrant), but now i can't reproduce also.. I think that I missed something...

[2019-02-27 09:28] ze42 commented on #51839
No a direct duplicate. Solving one **might** solve the others, but not necessarly.

20143 has 3 states:
*  C prereq B ; B require C

Here, it is:
* B prereq A ; B require_in A

Guess (no idea how it is implemented, dummy idea of how to do it) both could be sorted out by:
* **ordering** states (and detecting cycle) by considering `prereq` like `require_in`
* only check if prereq should be executed

[2019-02-27 09:56] thunder-spb commented on #51808
Got same error for Salt 2018.3

[2019-02-27 10:02] mheder79 opened #51859 "python-jinja2 Hash Sum mismatch"
Hi,

You have 2 version of **python-jinja2_2.9.4-1_all.deb**:
http://repo.saltstack.com/py3/debian/9/armhf/2018.3/dists/stretch/main/binary-armhf/Packages
**Size: 110634**
SHA256: 954060b6e3259fe1c77547470f5eee073fc70a4e896cf67e30f70d0e0efeb6a9
Depends: python-markupsafe, python:any (<< 2.8), python:any (>= **2.7.5-5~**)

https://repo.saltstack.com/salt_rc/apt/debian/9/amd64/dists/stretch/main/bin

[2019-02-27 10:05] guedressel commented on #51831
This issue ist killing our disks space right now: Stacktraces are filling up the logs - in an impressive speed.

It is affecting our machines which run salt 2018.3.4
Machines with salt 2018.3.3 seem not to have this issue

[code]

[2019-02-27 10:19] OrangeDog commented on #51833
Command-line solutions include
[code]

[2019-02-27 10:21] arizvisa opened #51860 "The win_dism module does not work on a 64-bit architecture when running inside a 32-bit process"
### Description of Issue/Question
On a 64-bit windows system, there are two versions of the `DISM.exe` binary. The first one (64-bit) is `/Windows/System32/Dism.exe` and the second one (32-bit) is `/Windows/SysWOW64/Dism.exe`. The `win_dism` module simply trusts that the PATH is set correctly as it just tries to execute "dism".

It is prudent to note that on 64-bit versions of windows, the directo

[2019-02-27 10:24] OrangeDog commented on #51822
I should mention this is with ES 6.6.1

[2019-02-27 10:33] natemarks commented on #51780
I'm on the develop branch and python3 --version returns 3.6.8 which is specified in pyenv. I have some examples below. I can't seem to reproduce it on my mac  but I can reproduce it on my AWS workspace which is Amazon Linux 2.  If I delete everything after line 34 and run pipenv install --dev, it seems to install  all of the packages correctly. I'm starting to think this is a pipenv bug.

linux_1$

[2019-02-27 10:42] emerichunter commented on #38098
Hi,
I had the same message today for a similar problem. I was missing a space 'maker_start:"<whatever>"'  instead of 'maker_start: "<whatever>"'. This would be a nice addon. Glad I found this issue BTW, it was really helpfull.

[2019-02-27 10:44] arizvisa commented on #51860
I don't have time to fix this one either. It'd be greatly appreciated if you guys can fix this one.

[2019-02-27 10:50] arizvisa commented on #51860
The issue I mentioned with pathing will require a little bit more effort than just hardcoding paths. Probably reading the `%windir%` environment variable and then working from there. However, I did a quick search and found a couple modules that also have issues related to pathing

The `salt.modules.win_license` module seems to hardcode the Path to System32 here where one can use an environment var

[2019-02-27 10:51] arizvisa commented on #51860
You can ignore the notes section in my report as it seems that there aren't enough cases to warrant something under `salt.utils`. Unless you guys think it's worthwhile to expose some simple system to users for third-party modules I guess. Anyways...

[2019-02-27 11:50] sevrob opened #51862 "Icinga2 path fix doesn't work"
### Description of Issue/Question

In 2018.3.3 icinga2 module had hardcoded wrong paths to cert files. (icinga <2.8 uses /var/lib/icinga2/certs, while older versions uses /etc/icinga2/pki).
We fixed this by hacking the icinga2.py module.

In 2018.3.4 this is supposed to be fixed.
But at least in our environment it's just broke another way...
The old icinga2.py module files hacked with correct path

[2019-02-27 11:57] thunder-spb commented on #51808
@Ch3LL Hi, do I need to fill another issue for 2018.3 version?

[2019-02-27 12:37] #44109 closed

[2019-02-27 13:17] kipje91 opened #51864 "Question about returning/output for variable use in state."
### Description of Issue/Question
Hi guys,
I might be looking in the wrong direction, but is there a way to use the output of, for example win_wua. module to use in the next state? Or to send an event?

I've looked into salt mine and returner modules, but that's not really what I want (I think).

Goal:
Run a scheduled state that check for Windows updates (critical) and does an event.send message w

[2019-02-27 13:36] magenbrot opened #51865 "salt.match.search_by resulting in 'None' since 2019.2"
### Description of Issue/Question

I'm using a setup as described in https://github.com/saltstack/salt/issues/39457#issuecomment-282506189 to apply roles to my minions. This worked fine until I upgraded to 2019.02.

It seems like the match.search_by isn't working correctly, or maybe it's something I've missed in the release notes. Here's what I have (I've added log.debug for some variables):

###

[2019-02-27 13:49] gregor-tb commented on #51827
Sorry, I don't know what information you need from me.
I installed the latest deb from http://repo.saltstack.com/apt/debian/9/amd64/2018.3

[2019-02-27 14:08] Oloremo opened #51866 "mysql module version comparison doesn't work in python3"
### Description of Issue/Question
Fluorine release **doesn't** have a MariaDB fixes in mysql.py module.
So I'm tried to apply mysql module version compassion fix(https://github.com/saltstack/salt/pull/51530) for MariaDB from 2018.3 branch to 2019.2 one with Salt running with python3 and runs on a problem with the following error:

[code]

### Steps to Reproduce Issue
Apply fixes from the to the  2

[2019-02-27 14:14] Oloremo commented on #51866
Kinda related: https://github.com/saltstack/salt/issues/45026

[2019-02-27 14:36] jeremylarose opened #51868 "Windows reg.present salt-call win_dacl.py 2019.2.0 'LookupAccountSid' Error"
### Description of Issue/Question
The reg.present states work, but presents an ugly error when running salt-call from a minion running version 2019.2.0... the error is not present with 2018.3.4 or if running the state from the master... only with a salt-call from the minion.

### Setup
example sls:
[code]
### Steps to Reproduce Issue
Run salt-call on multiple Windows 10 machines
[code]
... but the

[2019-02-27 15:04] gtmanfred commented on #50403
Neon https://github.com/saltstack/salt-jenkins/issues/995

On Wed, Feb 27, 2019 at 12:49 AM Matthew Thode <notifications@github.com>
wrote:

[2019-02-27 15:11] eimantaszd opened #51869 "x509.sign_remote_certificate not working after upgrade to 2019.2.0"
### Description of Issue/Question
x509.sign_remote_certificate not working after upgrade to 2019.2.0

### Setup
ca server minion config /etc/salt/minion.d/signing_policies.conf:
[code]

Managed certificate state:
[code]

test/map.jinja:
[code]

test/defaults.yaml:
[code]

pillar of minion:
[code]

### Steps to Reproduce Issue
Execute on master:
[code]

Getting errors:
[code]

Master log:
[code]

C

[2019-02-27 16:02] waynew commented on #51830
I'm not sure if I understand - are you saying that this is something we would/should do in *addition* to what's being discussed in 51260, or regardless of 51260?

[2019-02-27 16:03] Oloremo opened #51872 "cron state and module not working correctly with salt running from non-root user"
### Description of Issue/Question
Salt support running from **non-root user**. When I trying to do a `cron.present` state I have to specify a `user` arg, it doesn't make much sense from non-root user but ok, I set it to the same user Salt is running from and state acts weird:

1) It trying to execute cron commands from this user using a `runas` in many functions which doesn't make any sense and wo

[2019-02-27 16:34] ooboyle opened #51874 "win_wua.<anything> tracebacks on some computers"
On some of my 1000 minions, I get a traceback when using the win_wua module. I believe I'm seeing this on various Windows OS versions. Minions are all 2018.3.0. Any help would be appreciated as this is preventing me from installing packages and doing updates.

One way to reproduce the error is:

salt-call -l debug win_wua.list install=True

    [DEBUG   ] Reading configuration from c:\salt\conf\mi

[2019-02-27 16:59] ymasson commented on #51857
Hi, @mattdodge

what is your salt version ?

I have a similar issue since upgraded in 2019.2.0, but I can't confirm and reproduce it. The grains on master side seems not correctly upgraded.

Thanks

[2019-02-27 17:00] mattdodge commented on #51857
I'm on 2018.3.3 still (I actually didn't even realize that 2019.2.0 was out, so that's good to know!)

[2019-02-27 17:18] twangboy commented on #51874
That's an out of memory error:
[code]
from https://social.technet.microsoft.com/wiki/contents/articles/15260.windows-update-agent-error-codes.aspx

Can you look at the machine and see if there's a process using up all the memory?

[2019-02-27 17:21] ymasson opened #51876 "module mysql, mysql_user.present broken in 2019.2.0"
### Description of Issue/Question
In 2019.2.0 , mysql_user.present can't verifiy if user exist.
(Linked with #51866 ?)

### Setup
My test state
[code]

I have setup 2 VM (mdb1 and mdb2), Debian 9.8, with salt-minion installed from Salt repository. And MariaDB 10.3 installed from MariaDB repository.
[code]

first apply:
[code]
[code]

Second apply:
[code]
[code]

### Debug Logs
Logs on second apply

[2019-02-27 17:33] twangboy commented on #51868
@jeremylarose Thanks for reporting. I'll take a look at this.
That GUID looks suspect though... I wonder where that came from...
That code is trying to match the GUID it received to an Account name.

[2019-02-27 17:36] jeremylarose commented on #51868
Thanks, yes, i made up that id, it was a proper one

[2019-02-27 17:37] #38670 closed

[2019-02-27 17:40] twangboy commented on #51860
Are you using the official salt installers? Did you install 32bit installer on a 64bit system? This will not only affect paths but also the registry as well. There's a SysWOW64 section in the registry for 32bit stuff. We don't recommend running 32bit salt on 64bit systems for this very reason.

Or are you running 32bit python and installed salt via other means?

[2019-02-27 17:45] twangboy commented on #51828
No, because there were no changes.

[2019-02-27 17:51] twangboy commented on #50650
How long have these systems been up? What kinds of states are being run on them? Are there any scheduled jobs or beacons configured?

[2019-02-27 17:56] garethgreenaway commented on #51862
Fixed in https://github.com/saltstack/salt/pull/50765 and available in 2018.3.4.  If you're minion is still running 2018.3.3 the fix for that particular issue will not be in place.  You'll need to upgrade the minion to 2018.3.4 as well as the master.

[2019-02-27 17:56] twangboy commented on #51868
Oh, OK. That makes sense. I'll take a look at it.

[2019-02-27 18:16] dafyddj commented on #51808
Response provided [here](https://github.com/saltstack/salt-pack/issues/657#issuecomment-467932962).

[2019-02-27 18:29] ooboyle commented on #51874
twangboy:

Thanks for the reply. I get the error immediately after a reboot as well. I don't have GUI access to the device right now but running the systeminfo command via cmd.run shows:

    Total Physical Memory:     8,066 MB
    Available Physical Memory: 6,355 MB
    Virtual Memory: Max Size:  16,130 MB
    Virtual Memory: Available: 14,353 MB
    Virtual Memory: In Use:    1,777 MB

I feel li

[2019-02-27 18:29] garethgreenaway commented on #51859
@dmurphy18 FYI.

[2019-02-27 18:34] ooboyle commented on #51874
By process:

    Image Name                     PID Session Name        Session#    Mem Usage
    ========================= ======== ================ =========== ============
    System Idle Process              0 Services                   0         24 K
    System                           4 Services                   0     23,860 K
    smss.exe                       368 Services

[2019-02-27 18:44] garethgreenaway commented on #51858
@timwsuqld Thanks for the report.  Was this working correctly in 2018.3.x?

[2019-02-27 18:44] nergdron opened #51877 "pony output module broken on colour terminals"
### Description of Issue/Question

ponysay output broken because of ANSI colour codes.

### Setup
### Steps to Reproduce Issue
run a local command using the pony output module, see a bunch of escape codes instead of the actual ANSI graphics. ;)

[code]

probably needs to just pass through the output uninterpreted on systems with a colour terminal.

### Versions Report
[code]

[2019-02-27 18:56] ooboyle commented on #51874
I can track the apps and processes being called via my antivirus app and I see that salt-call is trying to modify memory (last line pasted below).

Event ID: 4c8e808a3ac011e9a4e90f67e93757e8 Device location: On-Premise Category: Monitored Process started: A few seconds ago Device IP address:  Device OS: Windows 7 x64 SP: 1 User Name: SYSTEM Sensor installed By: CSHS\kitchenstaff Parent name: cmd.e

[2019-02-27 19:26] OrangeDog commented on #51830
Both would independently give benefits.

That one is about the general problem of it being expensive to do things as another user.

This one is about a specific problem of not being able to (as far as I can see) configure the postgres module so you don’t need to run things as another user in the first place.

[2019-02-27 19:41] whytewolf opened #51879 "2019.2.0 binary pillar unicode error returns."
### Description of Issue/Question

It looks like https://github.com/saltstack/salt/issues/46934 has come back in `2019.2.0`

[code]

### Setup
Same setup as https://github.com/saltstack/salt/issues/46934

### Steps to Reproduce Issue
binary gpg render setup.

### Versions Report
[code]

[2019-02-27 19:41] whytewolf commented on #51879
ZD-3312

[2019-02-27 19:56] garethgreenaway commented on #51864
@saltstack/team-core Anyone have any ideas on this one?

[2019-02-27 20:00] dawidmalina commented on #51827
I have exactly the same issue with pure saltstack 2018.3.4 installation on ubuntu 18.04 with python3 (previously it was working perfectly).

@Ch3LL I can confirmed that https://github.com/saltstack/salt/pull/51298 is working for this issue (I manually applied this patch).

[2019-02-27 20:01] Ch3LL commented on #51808
ahhh thanks for finding that @dafyddj i'll go ahead and close this here and anyone can comment there if needed.

[2019-02-27 20:04] dawidmalina commented on #51827
Fix definitely is not applied to 2018.3 branch: https://github.com/saltstack/salt/blob/2018.3/salt/_compat.py#L192

[2019-02-27 20:30] dvandok opened #51880 "netaddr dependency issue on CentOS 6"
### Description of Issue/Question

The module [netaddress](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.netaddress.html#module-salt.modules.netaddress) does not function on CentOS 6 due to a missing dependency on python-netaddr and a mismatching python version between salt (python 2.7) and python-netaddr (python 2.6).

### Setup
Only a stand-alony salt-minion is required.

###

[2019-02-27 20:31] grichmond-salt opened #51881 "Create a grain that lists the salt modules that are loadable on a given minion"
### Description of Issue/Question
A built in grain that provides a list of loadable modules for a given minion would provide a wide range of benefits.  The mechanism used by sys.doc to determine what documentation to should may provide a good starting point.  The idea originally came from the excellent mind of @whytewolf.  Could have a significant impact on User Interfaces that are built on top of

[2019-02-27 20:33] Ch3LL commented on #50882
ping @saltstack/team-core have any other ideas here whats going on?

[2019-02-27 20:38] Ch3LL opened #51882 "Fix test flakiness for test_exit_status_correct_usage test"
@rallytime commented on [Tue May 30 2017](https://github.com/saltstack/salt-jenkins/issues/378)

PR https://github.com/saltstack/salt/pull/41382 introduced some flakiness for the `integration.shell.test_master.MasterTest.test_exit_status_correct_usage` test. This needs to be addressed and fixed.

Before that PR was merged, the test wasn't failing. However, after that test was adjusted and the PR w

[2019-02-27 20:45] Ch3LL opened #51883 "[Py3][Tornado 5.0] IOLoop tests failing with asyncio"
@gtmanfred commented on [Thu May 24 2018](https://github.com/saltstack/salt-jenkins/issues/995)

When running

[code]

The integration.modules.test_saltutil.SaltUtilSyncModuleTest.test_sync_all hangs and eventually errors with the following.

[code]

---

@DmitryKuzmenko commented on [Fri May 25 2018](https://github.com/saltstack/salt-jenkins/issues/995#issuecomment-392065160)

Using Python 3.6 af

[2019-02-27 20:51] Ch3LL opened #51884 "[fluorine] mac test_salt_contains_function test failing"
@Ch3LL commented on [Wed Nov 28 2018](https://github.com/saltstack/salt-jenkins/issues/1219)

the test `integration.states.test_renderers.TestJinjaRenderer.test_salt_contains_function` is failing on mac sierra and highsierra.

https://jenkinsci.saltstack.com/job/fluorine/job/salt-mac-sierra-py2/61/
https://jenkinsci.saltstack.com/job/fluorine/job/salt-mac-sierra-py2/61/

---

@dwoz commented on [W

[2019-02-27 20:59] dwoz commented on #51845
This should be fixed as of https://github.com/saltstack/salt-jenkins/pull/1319
verified by https://jenkinsci.saltstack.com/job/2017.7/job/salt-centos-7-py2/48/

[2019-02-27 21:00] Ch3LL opened #51885 "[fluorine] fedora 28 auth test failures"
@Ch3LL commented on [Tue Dec 11 2018](https://github.com/saltstack/salt-jenkins/issues/1238)

the tests:

[code]

are failing on fedora 28 python2 tests

https://jenkinsci.saltstack.com/job/fluorine/job/salt-fedora-28-py2/56/

---

@Ch3LL commented on [Tue Dec 11 2018](https://github.com/saltstack/salt-jenkins/issues/1238#issuecomment-446231473)

also this test as well: integration.shell.test_key.

[2019-02-27 21:01] twangboy commented on #51874
What's the exact command you're running?
It looks like you're running something like this:
[code]
If that's the case, let's work with win_wua directly:
[code]

[2019-02-27 21:01] dwoz commented on #51845
This has been fixed and verified

[2019-02-27 21:01] #51845 closed

[2019-02-27 21:02] Ch3LL opened #51886 "[fluorine] unit.utils.test_vmware tests failing on fedora py3"
@Ch3LL commented on [Wed Dec 12 2018](https://github.com/saltstack/salt-jenkins/issues/1243)

a ton of test_vmware unit tests are failing on both fedora 28 and 29 py3

unit.utils.test_vmware.CreateDatacenterTestCase.test_create_datacenter_raise_no_permission
unit.utils.test_vmware.CreateDatacenterTestCase.test_create_datacenter_raise_vim_fault
unit.utils.test_vmware.CreateDatacenterTestCase.test_c

[2019-02-27 21:03] Ch3LL opened #51887 "[2019.2.0rc1 and probably more branches] integration.reactor.test_reactor.ReactorTest.test_ping_reaction failing"
@Ch3LL commented on [Tue Jan 15 2019](https://github.com/saltstack/salt-jenkins/issues/1251)

This test `integration.reactor.test_reactor.ReactorTest.test_ping_reaction` keeps failing periodically on both python2 and python3 tests. I think it just needs to be re-analyzed and see if we can't make it more stable or look into adding the flaky decorator if its not already there.

[2019-02-27 21:04] Ch3LL opened #51888 "[2019.2.0rc1] windows tests timing out"
@Ch3LL commented on [Tue Jan 15 2019](https://github.com/saltstack/salt-jenkins/issues/1252)

The tests on windows python3 are hanging and not completing the test run:

https://jenkinsci.saltstack.com/job/2019.2.0.rc1/view/Python3/job/salt-windows-2016-py3/8/console

ping @dwoz or @twangboy do you guys have any ideas here?

---

@twangboy commented on [Tue Jan 15 2019](https://github.com/saltstack

[2019-02-27 21:05] dynek commented on #28006
This really found no interest?

[2019-02-27 21:07] Ch3LL opened #51889 "[2018.3] mac unit.grains.test_core.CoreGrainsTestCase.test_xen_virtual"
@Ch3LL commented on [Wed Jan 16 2019](https://github.com/saltstack/salt-jenkins/issues/1258)

unit.grains.test_core.CoreGrainsTestCase.test_xen_virtual is failing on mac

https://jenkinsci.saltstack.com/job/2018.3/job/salt-mac-sierra-py2/108/

[2019-02-27 21:19] ooboyle commented on #51874
was running:

salt <minion_name> cmd.run 'salt-call -l debug win_wua.list install=True'

and

salt win_wua.list install=True

same result in both cases. First option shows more errors so I sometimes use it to get a different view of the issue.

[2019-02-27 21:23] Ch3LL opened #51890 "[2019.2.0.rc1] opensuse is not bootstrapping"
@Ch3LL commented on [Tue Feb 05 2019](https://github.com/saltstack/salt-jenkins/issues/1296)

opensuse is not bootstrapping with error:

[code]

https://jenkinsci.saltstack.com/job/2019.2.0.rc1/view/Python3/job/salt-opensuse-py3/40/consoleFull

---

@Ch3LL commented on [Tue Feb 05 2019](https://github.com/saltstack/salt-jenkins/issues/1296#issuecomment-460717120)

this is also impacting 2018.3/201

[2019-02-27 21:24] dwickwire opened #51891 "Salt bootstrap upgrades to Flourine instead of provided Oxygen patch version"
### Description of Issue/Question

There appears to be a bug in the bootstrap code.  Salt upgrades to Flourine rather than the patch level 2018.3.4!

[code]

### Setup

Existing install on 2018.3.3

### Steps to Reproduce Issue

[code]

- Note the version provided was 2018.3.4 and the version installed was 2019.2.0.

### Versions Report

[code]

[2019-02-27 21:29] dwickwire commented on #51891
Moved to https://github.com/saltstack/salt-bootstrap/issues/1326

[2019-02-27 21:29] #51891 closed

[2019-02-27 21:36] ooboyle commented on #51874
Turns out it was a windows update agent issue. It needed to be reset, likely due to some sort of corruption. I did this:

net stop wuauserv
net stop cryptSvc
net stop bits
net stop msiserver
ren C:\Windows\SoftwareDistribution SoftwareDistribution.old
ren C:\Windows\System32\catroot2 Catroot2.old
net start wuauserv
net start cryptSvc
net start bits
net start msiserver

reboot

Thanks for the help.

[2019-02-27 21:47] waynew commented on #51578
Not sure *why* it's doing what it's doing, still looking into that... but meanwhile, you can avoid the problem by not poisoning the opts:

[code]

[2019-02-27 21:50] lordcirth commented on #28165
Oops, did I never do the PR? I'll take a look again.

[2019-02-27 21:53] garethgreenaway commented on #51872
@Oloremo The `user` parameter is needed since we default to using root's crontab and by default Salt is setup to run as root.  Definitely looks like we need to improve the code here to handle situations when it is not running as the root user.

[2019-02-27 21:54] Oloremo commented on #51872
@garethgreenaway I tried to fix it in the linked PR, not sure if everything is correct

[2019-02-27 21:55] twangboy commented on #51874
Sweet! Thanks for the update. Closing the issue.

[2019-02-27 21:55] #51874 closed

[2019-02-27 21:55] sfozz opened #51894 "[2018.3] git pillar broken using pygit2"
### Description of Issue/Question

Setting up a git pillar using pygit2 as the provider doesn't work. It results in the following error being logged:

[code]

It looks like there is a fix for this in c02757d70b38813e566a47954fc1118a55c8116d but this didn't make it into 2018.3.4

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

Vanilla 2018.3.4 salt-

[2019-02-27 22:04] goutkannan commented on #37783
It is still an issue with ubunut16.04

[2019-02-27 22:42] dmurphy18 commented on #51829
@tganzeboom After using the install repo rpm for Salt 2019.2.0 latest, did you perform a
yum makecache to update the yum database.

Working with a CentOS 7.3 system, the missing python2-futures is supplied by the base, as seen,

Dependencies Resolved

====================================================================================================================================================

[2019-02-27 22:47] twangboy commented on #51888
We ended up skipping that test on Py3

https://github.com/saltstack/salt/pull/51286

[2019-02-27 22:47] #51888 closed

[2019-02-27 22:49] dmurphy18 commented on #51829
fix is in backlog for salt-pack https://github.com/saltstack/salt-pack/issues/658

[2019-02-27 23:09] robinsmidsrod commented on #51869
I'm seeing the same issue here:

[code]

[2019-02-27 23:15] twangboy commented on #51868
@jeremylarose I'm having a hard time reproducing this. So, I have a few questions.

Is this the only thing in the state file you're applying? Are there any other states?
Are you setting `owner` or `perms` that you didn't have above?
What account are you running `salt-call` under? (Local Administrator?)
Is it a domain account?
Is the account a member of the Local Administrators group?

[2019-02-27 23:17] garymm commented on #11995
Documentation still says Python 3 is not supported: https://docs.saltstack.com/en/latest/topics/installation/index.html

[2019-02-28 00:22] twangboy commented on #44020
I believe this is fixed in newer versions of win_wua (2017.7.0). Older functions were deprecated (2019.2.0). `list_available` is not longer... shall we say... available. Now it's just `available`. And you can't specify a single update. The equivalent might be `get` which allows you to specify a single KB as well as pass `install=True`. It does not suffer from the issue of installing everything if

[2019-02-28 01:14] timwsuqld commented on #51858
@garethgreenaway I'm not sure if it was working on 2018.3.x. I was writing new states and couldn't get it working, we upgraded to 2019.2 a few weeks back, so never tried it on 2018.3.

Thanks

[2019-02-28 01:34] garethgreenaway commented on #51858
@timwsuqld No worries.  Just wanted to determine if it was something that broke with the 2019.2.0 release or if it was broken in 2018.3 as well.  Thanks! :smile:

[2019-02-28 03:40] jeremylarose commented on #51868
It occurs with other states.  But that is the only contents of this particular state that is run and produces the error.  No permissions are attempted to be modified.  Salt-call is run under a domain account with admin rights and through cmd or powershell run as administrator.  The thing is, it doesn't occur with previous versions of salt minion, ex: 2018.3.4 ... just 2019.2.0 using either py2 or

[2019-02-28 06:43] UtahDave commented on #50966
This is fixed by https://github.com/saltstack/salt/pull/51080

[2019-02-28 06:46] rsmekala opened #51897 "Question: Regarding salt.modules.junos update in fluorine"
### Description of Issue/Question
Wanted to know the release junos-module related changes will be checked in. I don't seem them in latest 2019.2.0 docs.

Commit : https://github.com/saltstack/salt/pull/51164

We are looking forward for it to be released in fluorine itself.

[2019-02-28 07:00] sevrob commented on #51862
Ah, I see I did a mistake, I meant to write that we had 2018.3.4 on both. We thought we could remove our old hack from 2018.3.3, but the new fix seems to fail on our system.

[2019-02-28 09:18] tganzeboom commented on #51829
@dmurphy18
That's because you are using Centos, which uses the EPEL repo. After I added the EPEL repo, everything worked again. I hope they this is fixed now, so that it comes with the saltstack repo.

[2019-02-28 09:40] wido opened #51898 "SSDs grain reports Device Mapper (LVM) devices as SSDs"
### LVM devices shown as SSDs

### Setup
Linux hosts running Ceph OSDs deployed with ceph-volume which creates Logical Volumes on top of these SSDs.

<pre>salt 'srv-*03-07*' grains.item SSDs</pre>

This returns:

<pre>
    SSDs:
        - sda
        - sdb
        - sdc
        - sdd
        - sde
        - sdf
        - sdg
        - sdh
        - sdi
        - sdj
        - sdk
        - dm-0

[2019-02-28 09:44] tganzeboom commented on #51829
@dmurphy18
Could not edit my previous statement, so I'll put it here.

I read your #658 comment now. So it was a wrong reference. However, you can not compare the RHEL repo's with Centos' Repo's. Epel has a lot more in its repo plus it differs on rpm's.

[2019-02-28 10:01] babs commented on #51822
Hi, what about without specifying aliases: {} ?

[2019-02-28 12:08] 9numbernine9 commented on #51827
I can also confirm that I'm seeing the exact same issue (Salt 2018.3.4, CentOS 7.5 with Python 2.7) and manually applying the patch from #51298 resolves the issue.

[2019-02-28 14:14] echoes86 opened #51901 "Slack returner not found and not loaded"
### Description of Issue/Question
Hello ... I'm trying to use the Slack returner provided with Salt. I want to filter only some of the messages, but for the moment is ok to let it load and run (in future I will add an `event_return`).

The scenario is simple:
 - [`master_job_cache` NOT SET] when I run `salt 'minion' --return slack test.ping` everything is ok and the `slack` returner is used
 - whe

[2019-02-28 14:37] ssiuhk opened #51902 "[Fluorine] State file.directory recurse: file mode is applied without mode specified in recurse parameter"
### Description of Issue/Question
Hi, I have an issue with file.directory state, the dir_mode is recurse to sub_dir and files without mode being specified in recurse parameter

According to [Saltstack Document](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.directory), mode should not recurse if it's not defined

### Setup
[code]

### Steps to Reproduce

[2019-02-28 14:44] Ch3LL commented on #51611
okay i did a little more digging. `__salt__` in the runner modules will call other runner modules not execution modules. you will want to follow along with this example:

https://github.com/saltstack/salt/issues/23480#issuecomment-221347420

to make sure its loaded up properly when you import the execution module.

[2019-02-28 14:44] ssiuhk opened #51903 "[Fluorine] State file.directory recurse: When both file_mode and dir_mode are supplied, file_mode overrides dir_mode for the directory itself"
### Description of Issue/Question
Hi, I have an issue with file.directory state, when both file_mode and dir_mode are supplied, file_mode overrides dir_mode for the directory itself

According to [Saltstack Document](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.directory), file_mode for permission of file, dir_mode for permission of directories.

### S

[2019-02-28 14:47] Ch3LL commented on #46268
yeah anyone else is welcome to push a PR for this :) would very much welcome that

[2019-02-28 14:56] Oloremo opened #51906 "Salt don't stop on Jinja errors"
### Description of Issue/Question
I have this construction in my orchestration:

[code]

As you may see I run mine.get and set it's output to two variables `id` and `misstake`. Mistake name indicates a typo that I made. :-) On the next string I'm trying to search a key `galera_migration` in `mysql` variable yet this variable is undefined.

If I run orchestration runner against this state - it work

[2019-02-28 15:23] garethgreenaway commented on #51862
@sevrob Thanks.  Now I see the problem.  Had to wrap the traceback in tick marks as Github was rendering it differently.

[2019-02-28 16:25] Ch3LL commented on #51356
thanks for the additional information. it looks like i'm able to replicate the error only sometimes when running `state.sls`

[code]

I did find this gpg issue https://dev.gnupg.org/T3530 which adds the option to automatically increase secure memory. I believe what is going on is gpg is not able to handle the concurrent connections. if you start your gpg-agent with that option does it resolve the

[2019-02-28 16:27] #49297 closed

[2019-02-28 16:29] Ch3LL commented on #51743
sure what are you trying to accomplish? I'm guessing using cloudclient will be the best for ya but want to make sure i know what you are trying to write up?

[2019-02-28 16:35] Ch3LL commented on #46926
its not currently assigned out. If anyone wants to try to push a PR we would definitely appreciate it.

[2019-02-28 16:35] Oloremo commented on #51906
To make it even more confusing I just checked that this code:
[code]
Actually produces the error. So it maybe a `mine` related?..

[2019-02-28 16:38] #51604 closed

[2019-02-28 16:44] Ch3LL commented on #51816
thanks we will need to get this fixed up

[2019-02-28 16:55] Oloremo commented on #51906
Please disregard, the problem was in the fact that `slsutil.renderer` used the different data than a orch for some reason, so in orch loop was done against an empty iterator for it didn't actually execute line with syntax error.

[2019-02-28 16:55] #51906 closed

[2019-02-28 17:21] #32511 closed

[2019-02-28 17:22] twangboy commented on #51868
Perhaps the `LookupAccountSID` function is failing because it can't find a name mapping for the Domain Account. Which is strange as you've assumably logged in with that account and are running the command under the same.
Does the same behavior occur with a local (non-domain) admin account?

[2019-02-28 17:45] jakehilton commented on #50994
Upgraded to 2018.3.4 and still seeing this:

Feb 28 17:42:41 host-smaster208 salt-master[7695]: [WARNING ] /usr/local/lib/python3.6/dist-packages/salt/payload.py:145: DeprecationWarning: encoding is deprecated, Use raw=False instead.

[2019-02-28 17:46] Ch3LL commented on #51832
thanks for the additional information. looks like i was able to replicate this and bisect it to fbab73a35c2a36e54ace814f2b45119e320b61e3

which is this PR: https://github.com/saltstack/salt/pull/45269

also here is a docker container to quickly replicate the issue:

1. `docker run -it -v ~/git/salt/:/testing/ ch3ll/issues:51832` (where ~/git/salt is a local cloned git repo of salt)
2. `salt-master

[2019-02-28 17:52] noelmcloughlin opened #51910 "YAML.org recommends `.yaml` extension for pillar data"
### Description of Issue/Question

By convention YAML markup files should use `.yaml` extension but salt refuses to read YAML file saved with this extension.   This is non-intuitive, a barrier to adopting salt, and does not follow recommendation from [https://yaml.org/faq.html](https://yaml.org/faq.html)

Please allow `.yaml` extension for pillar data.

### Setup

salt error for pillar data in sav

[2019-02-28 17:53] Oloremo commented on #20590
I really wish synchronous sync will be implemented. I struggling with async races with Salt.

[2019-02-28 18:07] Ch3LL commented on #51832
I realized that the reason its failing is because of this:

[code]

if you change that to:

[code]

it will work. Since we were previously supporting the `/` notation we still need to get this fixed up still though

[2019-02-28 18:12] garethgreenaway commented on #51255
This PR has been merged and the fix will be available in 2018.3.5, 2019.2.1, and the Neon release.  If the problem persists, please let us know and we can re-open the issue.  Thanks!

[2019-02-28 18:12] #51255 closed

[2019-02-28 18:43] dwoz commented on #51894
@sfozz Thanks for reporting this. I tested the use of git pillars on 2018.3.4 and did not run into any issues. Can the hostname `git` from your config be resolved to the correct server?

Here is my config:
[code]

Version Report
[code]

And some debug logs:
[code]

[2019-02-28 18:45] dwoz commented on #51897
@rsmekala This was merged to develop after we branched and feature froze Fluorine. It won't get included until Neon. You can add it to you're 2019.2.0 install by copying the module source and using ext_mods.

[2019-02-28 18:48] dwoz commented on #51898
@wido Thanks for reporting the issue and the PR.

[2019-02-28 18:56] dwoz commented on #51901
@echoes86 Thanks for reporting this. I tested this on 2018.3.4 and got the same result

[2019-02-28 19:07] dwoz commented on #51902
@ssiuhk Thanks fore reporting the issue and the PR.

[2019-02-28 19:08] dwoz commented on #51903
@ssiuhk Thanks for reporting the issue and the PR!

[2019-02-28 19:10] aboe76 commented on #51910
@noelmcloughlin but pillar.sls files aren't only ```yaml``` they could contain jinja or ggp secrets,
see for the complete list: https://docs.saltstack.com/en/latest/ref/renderers/

[2019-02-28 19:20] dwoz commented on #51894
I was working in this environment some more and saw the same error when doing `salt * saltutil.sync_all`

[2019-02-28 19:21] #42713 closed

[2019-02-28 19:33] dwoz commented on #51910
@noelmcloughlin As @aboe76 points out, pillars are a mixture of jinja templating and yaml hence the  `sls` file extension. Having said that I think it might make sense to be able to load static data from yaml files under the pillar roots.

@saltstack/team-core thoughts on this?

[2019-02-28 19:45] waynew commented on #51910
I'm personally disinclined given the fact that they're not *actually* YAML files, they just use YAML syntax. YAML files just happen to be a subset of Salt state and pillar files. I suspect there may be documentation that suggests otherwise, but it seems like allowing `.yaml` for pillar is misleading.

If we have some documentation that suggests a `.yaml` extension is OK, then we should absolutely

[2019-02-28 19:47] thatch45 commented on #51910
I understand where this is coming from but I would strongly discourage it. it would mandate that how we look up sls files needs to be changed and could potentially break any existing pillars if they have added .yaml files tot he tree for any other reason.

I also think it makes adoption harder, because now there is an arbitrary, confusing construct that pops up in random pillar trees and a need to

[2019-02-28 19:53] myii commented on #51808
For Docker, using `debian:jessie-backports` has worked for us (the reference link directly above).

[2019-02-28 20:08] mglaske commented on #23588
This is kinda silly.  any response yet on this?  It would also be nice if this supported file_mode and dir_mode.

[2019-02-28 20:28] waynew commented on #51910
If you're really interested in being able to load from `.yaml` files, you can create a [pillar module](https://docs.saltstack.com/en/latest/topics/development/external_pillars.html) and in your `ext_pillar` function load the `.yaml` file yourself.

Or, there's also the [cmd_yaml](https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.cmd_yaml.html#module-salt.pillar.cmd_yaml) pillar modul

[2019-02-28 20:58] waynew commented on #51578
I've narrowed it down to when `compile_pillar()` is called - after it's called the first time, any subsequent calls no longer produce the expected result.

[2019-02-28 21:01] faelin commented on #23233
This issue does not appear to have been resolved, as I am experiencing the same problem. Please reopen this thread.

[2019-02-28 21:28] noelmcloughlin commented on #51910
This issue is to request support for files with extension `.yaml` because its a data exchange format.

[2019-02-28 22:01] noelmcloughlin commented on #51910
The background to this request is discussion at https://github.com/saltstack-formulas/template-formula/pull/62

[2019-02-28 22:05] timdufrane opened #51916 "Zabbix Module/States Missing from Windows Minion"
### Description of Issue/Question
Zabbix module/states are not present in current Minion install, preventing use of any Zabbix functionality documented.

### Setup
N/A

### Steps to Reproduce Issue
Install current minion on Windows

### Versions Report
Salt Version:
           Salt: 2019.2.0

Dependency Versions:
           cffi: 1.11.5
       cherrypy: 17.4.1
       dateutil: 2.7.5
      docker-p

[2019-02-28 22:08] pnickerson-cashstar opened #51917 "Unicode bytearray error in 2018.3.4"
### Description of Issue/Question
One of my Salt minions recently upgraded from 2018.3.3 to 2018.3.4, and it started flooding the log file with a single repeated error:
[code]
I believe this is the same or similar problem seen in #51258
I put in some print statements, and I see that the "data" variable mentioned above is a unicode type, containing "`bastion.semi.aws`". Note that this is 16 charact

[2019-02-28 22:23] pnickerson-cashstar commented on #51917
A note for the urgency of this issue: To trigger the bug, all I did was run apt-get upgrade. After that, the Salt minion immediately began recording several hundred lines per second in two log files (/var/log/salt/minion and /var/log/syslog), filling up the disk by several GB per day, and also stopped responding to the Salt master.

I believe this bug is new in 2018.3.4, because it started on upgr

[2019-02-28 22:57] whytewolf opened #51919 "Feature request: salt-cloud vmware ip handaling"
Currently With the current way saltstack handles `wait_for_ip_timeout` the connection it will grab the first IP that is returned by vmware tools and hold onto it for trying to connect.

However, in mixed environments where DHCP and static IPs are used The first IP might not be the one that salt needs. And DNS might also not cover the host in question.

What would be good is if there was another op

[2019-02-28 23:12] johnkeates commented on #32511
But.. it is still broken :(

[2019-02-28 23:25] waynew commented on #51578
For the record, when you say **external** as in:

it's not external in the way you might typically think - external modules are still imported and used within the master process(es).

All that being said, there is still somewhere that the opts is getting updated, which it probably shouldn't be doing. Still working on tracking that spot down.

[2019-02-28 23:31] twangboy commented on #51917
Probably related to https://github.com/saltstack/salt/issues/51831
There is a fix in for this: https://github.com/saltstack/salt/pull/51918

[2019-02-28 23:33] Oloremo commented on #20590
@Ch3LL any chance to ressurect this request? Having a synchronous option to these modules will open many great possibilities and remove many race conditions like "I did pillars_refresh - can I already start things or they're not refreshed yet?" And so on

[2019-02-28 23:33] Oloremo commented on #20590
KInda related: https://github.com/saltstack/salt/issues/50105

[2019-02-28 23:36] twangboy commented on #51916
This will be fixed in the next release of Salt. 2018.3.4 and 2019.2.1.

[2019-03-01 00:02] #51897 closed

[2019-03-01 00:10] twangboy commented on #50994
It doesn't look like that PR addresses the msgpack deprecation warning.

[2019-03-01 00:17] pnickerson-cashstar commented on #51917
Hmm, you're right, this could be a duplicate of #51831, with the addition that it's affecting Python 2.7 as well.

[2019-03-01 01:19] waynew commented on #51578
Okay! So I tracked this down! It's down in the depths of `LazyLoader`.

There are a multitude of places where simply replacing `self.opts = opts` with `self.opts = dict(**opts)` totally fixes the problem. I think the lowest level point is here: https://github.com/saltstack/salt/blob/2019.2/salt/loader.py#L1604

If that becomes something like

[code]

There are no longer problems with this code (th

[2019-03-01 02:22] doesitblend opened #51921 "Missing Documentation for RotatingLogHandler"
### Description of Issue/Question
Found a couple of undocumented logging options for the minion. These aren't mentioned in either the master or the minion config pages.

[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
This is in current version:

[2019-03-01 03:14] cheribral commented on #50501
I am hitting this issue as well.  When calling pillar.items, jinja calls to __salt__ modules within class files works correctly.  When trying to run a highstate, however, saltclass will fail entirely because __salt__ has no modules so no states will make into the list for the highstate run.

It seems that the loading of __salt__ modules needs to be moved to happen earlier in the process, or the li

[2019-03-01 03:57] ndobbs commented on #51869
I'm experiencing this too, I had to revert my minions to `2018.3.2`.

[2019-03-01 05:54] cheribral commented on #50501
Perhaps @olivier-mauras might have some insight?

[2019-03-01 07:22] hackacad commented on #50994
This issue has been fixed in https://github.com/saltstack/salt/commit/8e6546a079cc2fd55be22a05a834a496f4923085#diff-30108e69fa3d1358454431c6c9b08965 but wasn't merged into 2018.3.4

[2019-03-01 07:40] hackacad commented on #50994
This issue has been fixed in https://github.com/saltstack/salt/commit/1ad8ed89ac3a2938852ab8328648178f96f9f91f#diff-30108e69fa3d1358454431c6c9b08965
Sounds like a pycache issue again. Could you cleanup salt/__pycache__ and restart the master?

[2019-03-01 08:32] tkaehn commented on #51828
Please give me a short hint how to enable diff output as it was default in previous versions.

[code]

[2019-03-01 12:29] juthewiz opened #51924 "multiple reactors for one event"
can you use multiple reactors for one event? is that possible? here is my reactor config and its not working. but individually they all work
[code]

[2019-03-01 12:57] syphernl opened #51925 "2019.2.0: pkg.installed tries to push unicoded strings to apt"
### Description of Issue/Question
`pkg.installed` is feeding unicode values to `apt` which is causing state failures:

[code]
### Setup
Using the [Grafana formula](https://github.com/salt-formulas/salt-formula-grafana), which boils down to:
[code]

`server.pkgs` is:
[code]

### Steps to Reproduce Issue
See above

### Versions Report
[code]

[2019-03-01 13:13] gtmanfred commented on #51924
That should be valid.

[2019-03-01 13:45] nocturo commented on #51832
Ok, thanks for the insight, not that of a big deal to change to keep using fluorine. Thanks!

[2019-03-01 14:20] waynew opened #51926 "integration.modules.test_shadow.ShadowModuleTest failures under py2 on fedora28"
Two failures that are probably related:

- [ ] https://jenkinsci.saltstack.com/job/2017.7/job/salt-fedora-28-py2/52/testReport/junit/integration.modules.test_shadow/ShadowModuleTest/test_set_expire/
- [ ] https://jenkinsci.saltstack.com/job/2017.7/job/salt-fedora-28-py2/52/testReport/junit/integration.modules.test_shadow/ShadowModuleTest/test_set_date/

[code]

[2019-03-01 14:23] waynew opened #51927 "integration.shell.test_auth.AuthTest failures under py2 on fedora28"
- [ ] https://jenkinsci.saltstack.com/job/2017.7/job/salt-fedora-28-py2/52/testReport/junit/integration.shell.test_auth/AuthTest/test_pam_auth_valid_user/
- [ ] https://jenkinsci.saltstack.com/job/2017.7/job/salt-fedora-28-py2/52/testReport/junit/integration.shell.test_auth/AuthTest/test_pam_auth_valid_group/

failures look like this:

[code]

[2019-03-01 14:31] waynew opened #51928 "salt-windows-2012r2-py2 tests fail for 2017.7"
I'm not entirely sure what's going wrong: https://jenkinsci.saltstack.com/job/2017.7/job/salt-windows-2012r2-py2/13/consoleFull

The first error in the log is:

[code]

Then things  run okay until

[code]

Not sure if those are in any way related to the failure, but it's clearly failing.

[2019-03-01 14:43] waynew commented on #51926
I'm not sure if the fedora29 build failures are related to the whole shadow thing - see https://jenkinsci.saltstack.com/job/2017.7/job/salt-fedora-29-py2/42/console

[code]

If that's unrelated we should create a separate issue for it.

[2019-03-01 14:56] Oloremo commented on #39105
This feature sounds useful :-(

[2019-03-01 15:12] Oloremo commented on #18098
Looking forward for this

[2019-03-01 15:38] Ch3LL commented on #51880
you will need to install the python2.7 version of the package, since salt runs python2.7. you can do this with pip.

[2019-03-01 15:38] Ch3LL commented on #51881
will approve as a feature request. thanks

[2019-03-01 15:45] Ch3LL commented on #51827
thanks for confirming. i will work on getting it backported right now.

[2019-03-01 16:01] tomlaredo opened #51932 "[REGRESSION] --output-diff doesn't display changes anymore with test=True since v2019.2.0"
### Description of Issue/Question

--output-diff doesn't display changes anymore with test=True since v2019.2.0

### Setup

[code]

### Steps to Reproduce Issue

**Initial setup**
[code]

**With test=True**
[code]
Diff isn't displayed anymore.

**Without test=True**
[code]
Diff is displayed.

### Versions Report

[code]

[2019-03-01 16:03] Ch3LL commented on #51827
I went ahead and backported both #51298 and #51342 since we had to revert some of the changes. Any chance anyone can re-confirm that this PR https://github.com/saltstack/salt/pull/51931 indeed fixes it since we had to roll back changes from the initial PR i asked you to test.

[2019-03-01 16:04] Ch3LL commented on #51917
duplicate of https://github.com/saltstack/salt/issues/51917 you can test the backport PR i added there.

[2019-03-01 16:04] #51917 closed

[2019-03-01 16:09] Ch3LL commented on #51917
heh i added the wrong duplicate issue. https://github.com/saltstack/salt/issues/51827

[2019-03-01 16:34] #22997 closed

[2019-03-01 16:34] #23226 closed

[2019-03-01 16:34] #44320 closed

[2019-03-01 16:44] TheJJ opened #51933 "Minion locale "feature" resulting in unparsable json return value"
### Description of Issue/Question

`salt-ssh` would not report back, what it had done. It just says:
[code]

The quick reader of course notices, that there's a `b'` in that string! This short piece is of course not `bytes`, but a `str(bytes)`, for example `value = "b'\"blabla\"'"` or even `value = str("blabla".encode())`.
Now the json parser refuses to understand what `b` means. But where does tha

[2019-03-01 17:34] #44325 closed

[2019-03-01 17:52] ymasson opened #51934 "2019.2.0 , targeting on grains don't match after change"
### Description of Issue/Question
Since upgraded from 2018.3.3 to 2019.2.0, my state using grains for get package version, or system update status doesn't work.
The master target minion correctly, but minion doesn't respond. Like minion don't match.
After a restart of minion service, it work.

I know, grains are designed to store data not change very often, but package version don't change quickly

[2019-03-01 18:39] juthewiz commented on #51924
@gtmanfred yes and only one of the reactors will run. for example the exact order above isnt folllowed. it skips test email and send the test slack.

[2019-03-01 18:46] max-arnold commented on #51881
Why a grain and not just a module function? How this is different from `sys.list_modules`?

[2019-03-01 18:50] grichmond-salt commented on #51881
The goal for this idea is to have information in the grain cache of the Salt Master, which supports knowing the capabilities of a minion by inspecting grain cache, rather than having to first trigger a remote execution to retrieve the list of applicable modules.

[2019-03-01 18:52] dwoz commented on #51910
@noelmcloughlin If you want to consume raw yaml files as pillar data I think the best approach is to use the external pillar system:

https://docs.saltstack.com/en/latest/topics/development/external_pillars.html

It should be a fairly straight forward exercise to write an ext_pillar that reads your yaml files.

[2019-03-01 19:08] TheVakman commented on #48278
This would be an excellent feature as I've run into the same problem from time to time. I'm not clear what's caused the problem with this _schedule.conf file though.

[2019-03-01 19:09] TheVakman commented on #48763
Yes, #48278 would be excellent. I have run into this a few times now during upgrades of the minions.

[2019-03-01 19:14] Ch3LL commented on #51919
will approve as a feature request.

[2019-03-01 19:17] Ch3LL commented on #51921
thanks! we should get this documented. Did you want to take a stab at a PR? Should be pretty easy. Just need to add it to `doc/ref/configuration/master.rst` and `doc/ref/configuration/minion.rst` files, so that its now documented at: https://docs.saltstack.com/en/latest/ref/configuration/minion.html and https://docs.saltstack.com/en/latest/ref/configuration/master.html

[2019-03-01 19:20] 9numbernine9 commented on #51903
I'm getting this exact same issue as described here, but with Salt Master and Minion at `2018.3.4` instead of `2019.2`. I don't think this problem occurred in `2018.3.3` !

[2019-03-01 19:26] noelmcloughlin commented on #51910
Hi @dwoz
That sounds interesting. If there is consensus to leave this alone regarding extension, that's fine with me.

[2019-03-01 19:33] Ch3LL commented on #11995
@garymm thanks for pointing that out. I updated the python version for the dependencies here: https://github.com/saltstack/salt/pull/51935

[2019-03-01 19:59] Ch3LL commented on #51924
i just tried this on both 2018.3.3 and 201.2.0 and i cant replicate the behavior. i am able to call  multiple reactors from the same event.

Can you clarify your salt version and any other information that might help replicate the issue? What shows up in your debug logs?

[2019-03-01 20:19] dvandok commented on #51880
As a workaround I've rebuild the rpm for python2.7. I think there shouldn't be a specific python version dependency in that package. But the correct solution is to ship it with salt.

[2019-03-01 20:28] juthewiz commented on #51924
@Ch3LL @gtmanfred This is the reactor config and event bus . the react_ sls is the slack state and the testemail is the email state. so the email state is being skipped and not even mentioned in the event bus as you will see below

[code]

[code]

This is where i remove the react_ file for the slack state and just use the email state which didnt work above with multiple reactors for one event... t

[2019-03-01 20:39] juthewiz commented on #51924
@Ch3LL @gtmanfred funny so when i swap the places of the reactors under the event it changes the behavior. when i report this i have the email reactor first then the slack reactor...and it skips the email reactor and only uses the slack reactor. now when i swap those reactors and put the slack reactor first and then the email reactor. its skipping the slack reactor and using the email reactor

[co

[2019-03-01 22:46] Ch3LL commented on #51925
you will need to use the `|tojson` filter like so:

[code]

due to this change: https://github.com/saltstack/salt/pull/48309

which was included in the fluorine release notes here: https://docs.saltstack.com/en/develop/topics/releases/2019.2.0.html#non-backward-compatible-change-to-yaml-renderer

[2019-03-01 23:35] davidjb commented on #22549
Bump

[2019-03-02 01:23] ssiuhk commented on #51903
@9numbernine9 Yeah, I checked the history of file.py, the change was introduced in 2018.3.4 but I skipped that version

[2019-03-02 06:13] arizvisa commented on #51860
Yes, default salt installers. 32-bit installer on a 64-bit system.

You're right that there is a 32-bit mapping of the registry for the Application key, but you're mistaken in that it will also affect salt as well. None of the registry keys that salt explicitly trusts are under the Software key and so the semantics between 32-bit and 64-bit accesses of the registry are the same.

However, due to t

[2019-03-02 06:15] arizvisa commented on #51860
This is surprisingly really common in the codebase, such as my salt.utils.path.which patch which originated due to Node.js including two scripts `npm`, and `npm.cmd` for example.

Something for node.js would be expected since that's a moving target and your release schedule makes it hard for one to adapt and catch these kinds of issues, but something like a System binary such as Dism.exe is someth

[2019-03-02 06:17] arizvisa commented on #51860
It's up to y'all though. I'm actually surprised how many things in your 2018.3.3 release just were just simply not working but documented as they were (in Windows). With more defensive programming such as searching for absolute paths to binaries that modules depend on, or ensuring strings fetched from external sources are correctly formatted these small-simple bugs that prevent modules from workin

[2019-03-02 06:33] arizvisa opened #51940 "Salt's reg.read_value function does not properly remove nulls from REG_SZ string types"
### Description of Issue/Question
In some critical places, such as determining the current system's timezone at minion start, the `reg.read_value` is assumed to return a properly formatted string. This is actually not the case as in all versions of Windows as you can store '\0' bytes in a REG_SZ string due to REG_SZ not actually being a constraint that is linked to the value, but really just a typ

[2019-03-02 06:42] arizvisa commented on #51940
The response to this thread on stackoverflow points out the issue that led to this:

https://stackoverflow.com/questions/27716746/hklm-system-currentcontrolset-control-timezoneinformation-timezonekeyname-corrup

[2019-03-02 07:05] arizvisa commented on #51940
PR #51941 remedies this issue. As mentioned it's probably not safe to remove terminating null bytes from a registry value as doing this actually changes the meaning of the value, but there are numerous in salt that assumes that all terminating null bytes are removed and therefore fixing it in one place for all users is a lot easier than yelling at committers for not stripping off terminating null

[2019-03-02 09:13] #39219 closed

[2019-03-02 09:13] #44333 closed

[2019-03-02 09:46] xuhcc commented on #51356
@Ch3LL I added `auto-expand-secmem 0x30000` to my `gpg-agent.conf` and it solved the problem, `Cannot allocate memory` error no longer occurs. Thank you!

But I think there is one thing that could be improved. gpg-agent may throw various errors, and they are not handled properly by salt. In case of such error, sls is being rendered using raw encrypted text from pillar. For example, when I run [thi

[2019-03-02 09:58] arizvisa opened #51944 "The INSTALL_LANGUAGE variable in salt.modules.win_lgpo module returns a default value of an incorrect type."
### Description of Issue/Question
Okay, I really don't know why I've been having such horrible luck with salt this past month, but anyways this issue is pretty simple...and away we go:

[code]

I haven't tracked down why the kernel32 api call `windll.GetSystemDefaultUILanguage()` is returning a value that isn't available in the `locale.windows_locale` dictionary on this particular system, but none

[2019-03-02 12:19] babs commented on #51822
@OrangeDog have you tried your definition without aliases: {} ?

[2019-03-02 12:58] xkisu opened #51945 "Saltstack failing to install packages from Salt managed repo"
### Saltstack is failing to install a package, but said package can be manually installed perfectly fine

Last week one of our formulas that was working fine suddenly stopped properly installing required packages.

Because this just suddenly started happening in the last week or two and happens on 2 completely different vagrant setups it leads me to assume that it must be caused by an updated vers

[2019-03-02 13:35] bigg01 commented on #39105
Yes, indeed! but I guess it was not understood correctly.

[2019-03-02 13:39] do3meli commented on #28940
Quickly looking at the code i guess this is still a valid bug.

[2019-03-02 15:36] juthewiz commented on #51924
@Ch3LL these are the logs from the master
[code]

[2019-03-02 16:00] Oloremo commented on #39105
@Ch3LL Any chance to resurrect this issue?

@bigg01 maybe you should submit a PR?

[2019-03-02 16:11] juthewiz commented on #51924
it works now. i did a lot of changing and restarting but ended up back in the same templates and now it works

[2019-03-02 16:17] juthewiz commented on #51924
tested it multiple times and it works i will close this :)

[2019-03-02 16:17] #51924 closed

[2019-03-02 16:57] astronouth7303 commented on #42833
TBH, I would be happy with a more vague error message. Like "Unable to remove database. Possible reasons include there was a connection issue, the database doesn't exist, or the database is in use."

Of course, bubbling up the error message would be the much better UX.

[2019-03-02 17:13] #44344 closed

[2019-03-02 17:38] juthewiz opened #51948 "net.cli not found but im using napalm proxy"
tried using net.cli for an event and it returned `"return": "'net.cli' is not available.",` below you will find the event, the proxy state file for sj1-e2, and the state file for net.cli. i also tried to run this from the salt master cli got the same results those are also below

[code]

[code]
[code]

[code]

[code]

[2019-03-02 18:13] #44351 closed

[2019-03-02 21:52] juthewiz commented on #51482
@wasabi222 @Ch3LL  `junos.install_config` does the same....shows an error but when i check the router it was successfully applied please see below

**Router Output confirming junos.install_config was applied successfully**
[code]

**SaltStack CLI junos.install_config output**
[code]

**Logs from the Master**
[code]

[2019-03-02 22:13] #20595 closed

[2019-03-03 01:49] gbrayut commented on #46484
It would be nice to have the default target managed by the module, but for now the following should work for systemd init systems:

[code]

[2019-03-03 08:26] mchugh19 commented on #51877
I got curious about this one and took a look. It seems that salt simply passes the execution module output to ponysay.
https://github.com/saltstack/salt/blob/develop/salt/output/pony.py#L67
`return subprocess.check_output(['ponysay', salt.utils.data.decode(high_out)])`

So all of the ANSI codes are from ponysay and have nothing to do with salt. If you are seeing escape codes, it's probably down to

[2019-03-03 08:33] mchugh19 commented on #47043
Is this still an open issue?

[2019-03-03 11:42] ymasson commented on #51934
If I print the content of `__opts__['grains']` in https://github.com/saltstack/salt/blob/2019.2/salt/matchers/grain_match.py after updated the grain value, it show the previous value. It seem it is not refreshed.