[2015-03-25 20:29] tjstansell commented on #21927
The problem looks like it's the single `*` for one of the three icmp responses.  Parsing traceroute output can get pretty tricky (even for a "successful" run) ... take this example, for instance, from my mac:

[code]

[2015-03-25 20:31] cachedout commented on #21480
After reviewing the code in the about-to-be-released update to 2014.7, I believe this issue has been resolved. I am marking his as Fixed Pending Verification until somebody can verify a fix in the next release.

[2015-03-25 20:31] rallytime commented on #20874
Glad you're back on your feet! I'm going to go ahead and close this issue. If you run into this problem again, leave a comment and we will be glad to open this issue again a readdress the problem. Thanks!

[2015-03-25 20:31] #20874 closed

[2015-03-25 20:44] cachedout commented on #18422
Ping @whiteinge Could you please take a look at the comment from @ttanner above? Thanks.

[2015-03-25 20:47] Azidburn commented on #21978
I think the Problem is in GitPython, tomorrow i will dig a little deeper.
My gitfs for states doesn't have this problem, but i used pygit2 for it.

[2015-03-25 20:51] rallytime commented on #21978
Thanks for this report @Azidburn. I know that there were some decent regressions with gitfs in 2014.7.2, which have been fixed since in the 2014.7 branch. I am not sure if this was one of the issues or not though. If GitPython isn't the problem here, are you in a position to give the HEAD of 2014.7 branch a try to see if it has been resolved?

@terminalmage ping

[2015-03-25 20:57] whiteinge commented on #18422
The link to the PDF on the homepage is now pointing to a build hosted on GitHub. We're in the process of moving to a self-hosted build but I think this issue can be closed now.

We're in the process of moving off of RTD (#12015) and so we are not likely to change the build process to work there.

If anyone has additional comments, feel free to reopen this issue or comment further.

[2015-03-25 20:57] #18422 closed

[2015-03-25 20:58] whiteinge commented on #13755
This is now (mosty) resolved. See the discussion on #18422 for detail.

[2015-03-25 20:58] #13755 closed

[2015-03-25 21:15] cachedout commented on #16435
I have tested this against the HEAD of 2014.7 and it works correctly.

[code]

and

[code]

I believe this issue has been resolved. I am going to tag it accordingly..

[2015-03-25 21:23] cachedout commented on #17032
I believe we have resolved this issue in the next release of 2014.7 and in 2015.2. I am able to see minions reconnecting to masters after a master goes down. By default, the retry time is 60s.

[2015-03-25 21:31] rvora opened #22019 "Question: How to call state.orchestrate from a runner"
I am writing a custom runner:

/srv/salt/runner/custom.py

[code]

[code]

[2015-03-25 21:50] cachedout commented on #18146
@dstokes I tried again to replicate this and could not. What is the path to ```rollout.sls``` on your system?

[2015-03-25 21:52] dstokes commented on #18146
@cachedout `states/deploy/rollout.sls`

[2015-03-25 21:53] ngrennan-inflection commented on #21664
The issue is that someone it is pulling the python3 version of urllib3 and requests, and installing them into the /tmp/.user_hash directory. If I manually replace them with the 2.7 versions of those modules then I can run python salt-call without error.

I am still trying to track down why it is pulling the python3 versions. I see that the 2.7 versions are installed. /usr/bin/python is 2.7, not 3.

[2015-03-25 21:54] babilen commented on #21977
@basepi Yeah, sorry about `\` in the title. `/32` might be redundant, but I'd like to be able to target a single host/IP address for testing purposes. I also don't really see a reason why `/32` should not be supported.

I was trying out the scan roster and quite surprised that it didn't work when I tested it against a single host (didn't necessarily want to affect multiple boxes in unforeseen ways

[2015-03-25 21:57] ngrennan-inflection commented on #21664
It is calling git for copies. If I rename /usr/bin/git to /usr/bin/git.foo it works on Fedora 21.

[2015-03-25 21:58] babilen commented on #18406
You would naturally still need a top file in which you grant access to files to specific minions/targets.

[2015-03-25 22:00] rvora commented on #22019
Never mind, I figured it out, changing from
[code]
to
[code]
does the trick.

[2015-03-25 22:00] #22019 closed

[2015-03-25 22:08] garethgreenaway commented on #21992
can you provide the output from:
salt-call test.versions_report

[2015-03-25 22:15] basepi commented on #21977
Right, but does it work if you just scan against 127.0.0.1 without the `/32`?

[2015-03-25 22:24] jfindlay commented on #20411
Yes, there has been a great amount of work on git support recently.  Is your original problem fixed now?  If so, do you mind closing this issue?  Thanks.

[2015-03-25 22:28] jfindlay commented on #21902
@kim0, @mwpher, thank you for your work on this issue.

[2015-03-25 22:32] jfindlay commented on #21892
@corywright merge forwards happen whenever @basepi has time to do it again, usually every 2-3 days.

[2015-03-25 22:34] garethgreenaway commented on #21992
I see the issue.  The "device" is not a real device, the device is 'tmpfs', so the code is interpreting it wrong as a remote file system.  Going to ponder how to fix this.

[2015-03-25 22:39] jfindlay commented on #21397
@tjstansell, this is an interesting approach, and may be similar to an eventual solution.  Would it be better to locally read resolv.conf?  I don't feel qualified to make a decision about this, though perhaps @cachedout or @whiteinge have better ideas.

[2015-03-25 22:47] TaiSHiNet commented on #20411
Just tried it and works, closing as it's fixed.
Thanks!

[2015-03-25 22:47] #20411 closed

[2015-03-25 22:48] tjstansell commented on #21397
If you plan to continue using `socket.getaddrinfo()` to do the actual DNS resolution, there's no point in reading the resolv.conf yourself.  In all the research I've done on this, it's a glibc problem that affects a lot of long-running processes.  In one post I read, folks talked about Firefox being the only thing that doesn't have this problem because they go out of their way to force the res_ini

[2015-03-25 22:52] rallytime commented on #22003
Hrm. I haven't seen that error before. What distro are you installing this on?

ping @terminalmage

[2015-03-25 22:52] jfindlay commented on #20411
Nice, thanks @TaiSHiNet.

[2015-03-25 22:53] dmyerscough commented on #21714
@cachedout I removed the /var/cache/salt/master directory and started the Salt Master and got not stacktraces and all the directories were re-created.

However, I did get some funky behaviour during the deletion of the direction when the Salt master was running.

[2015-03-25 22:54] dmyerscough commented on #21610
This can be closed

[2015-03-25 22:54] jfindlay commented on #21397
@tjstansell, thanks for bringing your research and experience to this issue.

[2015-03-25 22:54] rallytime commented on #21992
Thanks for the report @tlemarchand and thanks for jumping in @garethgreenaway!

[2015-03-25 22:55] rallytime commented on #22004
Great ideas! Thanks @bechtoldt.

[2015-03-25 22:57] garethgreenaway commented on #21992
Actually looks like a simpler fix than I thought, PR coming shortly.

[2015-03-25 22:57] dmyerscough commented on #21546
@RobertFach can this be closed out? I am going through the backlog of bugs just wanted to see if this was fixed for you now

[2015-03-25 22:58] dmyerscough commented on #21543
Can this be closed since the fix was merged?

[2015-03-25 22:59] ngrennan-inflection commented on #21664
So the version issue is python-requests on Fedora 21 is updated to 2.5.0 from 2.0.0. If I downgrade to 2.0.0, it solves the original error. Then a second issue is hit related to ssl_match_hostname. Which I am still debugging.

[2015-03-25 23:01] ngrennan-inflection commented on #21664
I was confused before, because the 2.5.0 was cached in cache/thin/thin.tgz, even after I had downgraded to 2.0.0. My python3 version was also 2.5.0, so it logged like the same code.

[2015-03-25 23:01] rallytime commented on #21543
Definitely.

[2015-03-25 23:01] #21543 closed

[2015-03-25 23:03] jfindlay commented on #21397
What do you think about this, assuming there's some way to locate the name of the system library?  whether or not that needs to be hand crafted into salt itself may not be an issue.
[code]

[2015-03-25 23:03] rallytime commented on #21546
This looks like it can be closed. If this has been closed too soon, leave a comment @RobertFach and we can re-open this issue. Thanks again!

[2015-03-25 23:03] #21546 closed

[2015-03-25 23:07] Ropes opened #22021 "Debian Script cmd.run 'sudo: not found', no switch to use 'su'"
This might be considered a non-issue, but on bare-bone installations of Debian 8 (Jessie), sudo is not installed by default, so cmd.run/wait commands fail when a user context is applied.

Example State Command definition:

[code]

State output error:

[code]

The issue simply stems from Salt attempting to change the user with the `sudo -u username`  instead of `su - username`. (I tested with `su`

[2015-03-25 23:07] #21610 closed

[2015-03-25 23:08] dmyerscough commented on #20625
I believe this can be closed now

[2015-03-25 23:18] cachedout commented on #21714
@dmyerscough This fix was only designed to handle cases where the *syndic* was depending on it during startup, as I recall.

[2015-03-25 23:28] vielmetti opened #22023 "OS X Mavericks, build fails with M2Crypto/swig problem; a workaround"
[code]

The underlying issue is here:

https://github.com/M2Crypto/M2Crypto/issues/24
https://github.com/swig/swig/issues/344

Essentially, on Mac OS X 10.9.5 (Mavericks) and Homebrew, M2Crypto fails to work because of compatibility problem with swig 3.0.5. The error you get is

[code]

and the workaround on Homebrew is to uninstall swig 3.0.5, reinstall swig 3.0.4, and rebuild M2Crypto.

[code]

[2015-03-25 23:37] mwpher commented on #21902
I've got a response from Rick Miller on the FBSD mailing list. He says:

[code]

Hopefully the project will include this patch in their next update. Until then, I'm looking for temporary workarounds.

[2015-03-25 23:48] eliasp commented on #21888
@garethgreenway: Thanks a lot. #22014 fixes this issue for me!

[2015-03-25 23:48] #21888 closed

[2015-03-25 23:53] tjstansell commented on #21397
In that case, it would try to import ctypes and load the library every time it calls reload_dns(), right?  Wouldn't it be better to simply do that once at startup rather than every time?  That said, I'm not sure how to determine the correct library name.  The example shown on https://docs.python.org/2/library/ctypes.html uses libc.so.6, which is why I chose it.  It will either work or it won't.  A

[2015-03-26 00:08] jfindlay commented on #21397
That's true, but we also try to keep utils/__init__.py as light as possible.

[2015-03-26 00:20] ngrennan-inflection commented on #21664
The solution is to downgrade to the original fc21 packages for python-requests and python-urllib3. Then salt-ssh works. Though salt-ssh should adapt to the newer updates.

Original versions:
python-requests-2.3.0-3.fc21.noarch
python-urllib3-1.8.2-4.fc21.noarch

Updated versions:
python-requests-2.5.0-3.fc21.noarch
python-urllib3-1.10-2.fc21.noarch

[2015-03-26 00:24] ngrennan-inflection commented on #21664
Other issues that make debugging hard is that salt-ssh caches versions in thin.tgz, and if it fails for a user the tmp directory, /tmp/.user_hash, has to manually be cleaned up, sometimes. salt-ssh should catch the exception, and clean up after itself, clean up on the next run, or randomize the directory name so that it doesn't keep using the broken copy that didn't work last time. It should also

[2015-03-26 00:28] jacksontj commented on #21651
#21987 is merged, this issue should be fixed. I'll have to dig in more to figure out a secure way of allowing "reactor" user to publish jobs :/

[2015-03-26 00:35] soodr commented on #21982
@whiteinge , thanks for picking this up.

        Infrequently. Couple of times .

          Yes.

          None at this point except to add that its been witnessed only with invocation of the key.* commands.

[2015-03-26 00:53] tkent-xetus commented on #10149
:+1:

[2015-03-26 01:11] tjstansell commented on #21397
So after more searching, I found we can use the following to find the correct library name:

[code]

[2015-03-26 01:43] lorengordon commented on #21928
I believe this is a duplicate of https://github.com/saltstack/salt/issues/20915, and has already been fixed in the 2014.7 branch.

[2015-03-26 02:17] jfindlay commented on #21651
@jacksontj, thanks for your work on this.

[2015-03-26 02:18] cachedout commented on #21651
+1. Thank you as always @jacksontj.

On Wed, Mar 25, 2015 at 8:17 PM, jfindlay <notifications@github.com> wrote:

[2015-03-26 02:21] loganbhardy commented on #22003
This is with the latest Amazon Linux AMI. I was able to install and run salt as recently as last week with the same distro

[ec2-user@ip-192-168-211-30 ~]$ uname -a
Linux ip-192-168-211-30 3.14.23-22.44.amzn1.x86_64 #1 SMP Tue Nov 11 23:07:48 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

[2015-03-26 02:22] jfindlay commented on #21397
Of course, that makes sense, thanks @tjstansell.  I suggest you submit a pull request with the changes you've proposed.

[2015-03-26 02:22] cachedout commented on #22003
That sounds like either stale *.pyc files or a ```PYTHONPATH``` environment issue.

[2015-03-26 02:25] jfindlay commented on #21928
Thanks, @lorengordon, I forgot about that one.

[2015-03-26 02:28] boboli opened #22024 "prereq doesn't detect the prereq'd state's changes when using test=True"
Easier to explain with examples:

asdf.sls:

[code]

I expect all 3 states to be run in the order of: fdsa, prereq_command, asdf

test=True output:

[code]

The test=True output claims that prereq_command won't be run, which is incorrect. Interesting enough, the state that is prereq'd (asdf) shows that it will be run but is shown in green not bold yellow.

When I run the state normally:

actual ou

[2015-03-26 02:54] boboli opened #22026 "supervisord.running doesn't fire prereq states if service is triggered by a watched state"
Somewhat real-world example:

[code]

The idea is to run a command to stop gunicorn iff the pgbouncer supervisord service needs to restart. So when I change the file managed by pgbouncer_config, I expect all 3 states to run in this order:
pgbouncer_config, stop_gunicorn, pgbouncer

However, the actual output is:

[code]

`stop_gunicorn` wasn't run at all.

I then read the documentation on how prer

[2015-03-26 04:26] jfindlay commented on #19173
@JaseFace, are you still having the error you described?

[2015-03-26 05:31] dmyerscough commented on #21503
@dpheasant is the `firewall-cmd` command available on the system?

[2015-03-26 05:36] dmyerscough commented on #21503
@dpheasant please also check `/usr/lib/python2.7/site-packages/salt/modules` for the `firewalld.py` script.

[2015-03-26 05:37] dmyerscough commented on #21503
@dpheasant The `firewalld` functionality is currently only in the develop branch

[2015-03-26 06:06] mimianddaniel commented on #21749
Sorry for the late reply. That's correct. I can see the number of "Got return" in the master log to be consistently same, +- few minions but when I check the syndic logs using the jid, its missing by a few hundreds at times or more sometimes. We have syndic timeout at 20 secs and 24 worker threads.  Between ret and syndic process, its done by IPC? Is there other tweaking required?? I am testing ag

[2015-03-26 06:37] bechtoldt commented on #20307
@clinta Most of the exec modules have different retvals. How could Salt determine whether an execution was (not) successful?

[2015-03-26 06:52] babilen commented on #21977
It does, yes.

[2015-03-26 07:31] mimianddaniel commented on #21749
eg of what i see..

grep 20150325202342082198 /var/log/salt/master |awk '/Got return/  {print $9}' | sort | uniq -u |  wc -l
4537
 grep -c 20150325202342082198 /var/log/salt/syndic
4279

 grep 20150326080650383947 /var/log/salt/master |awk '/Got return/  {print $9}' | sort | uniq -u |  wc -l
4535
 grep -c 20150326080650383947 /var/log/salt/syndic
4330
 sudo grep 20150326081103206842 /var/log/salt/

[2015-03-26 08:34] felskrone opened #22029 "schedule does not honor large splay values"
Im trying to setup automated downloading (not installing) of available updates. The actual downloading is triggered by a schedule from pillar which looks like this:

[code]
The idea behind the schedule is, to have all my hosts (15.000+) download the available updates during the day with approx. 2-3 minions hitting our package mirror at a time.

It seems though, that large splay values are not hono

[2015-03-26 08:57] felskrone commented on #22029
After reading the above i noticed that the 90 minutes interval for the refresh-job is wrong! It should not run every 90 minutes but every 90 minutes + random(0,4800). So that actually shows the same problem. What does work is the splay in the presence-job:

[code]

[2015-03-26 09:02] felskrone commented on #22029
@garethgreenaway i believe you're the schedule-master mind? :-)

Does the splay support large values?
Do you have any other approach on how to to do what im trying to do?

[2015-03-26 10:19] dbalan opened #22031 "Regression (?) in `Eauth` module."
LocalClient behaves different when `eauth` is used, this started happening after we upgraded to `v2014.7.2`.

When someone tries to query a group of machines in which one machine is down - `LocalClient` using `eauth` will raise `salt.exceptions.EauthAuthenticationError`, whereas LocalClient run from the user running salt will return data from all minions that are up in the selection.
## Example tr

[2015-03-26 10:57] pwaller commented on #18955
@cachedout could you clarify exactly what setting you're referring to? I'm just using whatever you get when you run salt, I haven't configured anything specifically.

[2015-03-26 11:08] luxi2001 commented on #21698
Globbing still works when vt.Terminal is used, instead of TimedProc (`use_vt=True`). Also works when `python_shell=True`. I see this is intended behaviour in #19914

[2015-03-26 12:24] vielmetti commented on #22003
I hit this issue this morning, investigating.

[code]

[2015-03-26 12:30] yyf1986 opened #22032 "a problem about state"
sls:
[code]
The command output:
[code]
when I use "wget" to download "nginx-1.6.2.tar.gz",and then I determine whether the file exists.but I find although the file download is successful, but access to the file number is 0 and the file is exist.

[2015-03-26 12:40] kiorky opened #22033 "dmidecode grains is broken on develop if no dmidecode"
cc @gutard

[code]

[2015-03-26 13:03] thedrow opened #22034 "Salt mine should support OSQuery"
OSQuery is facebook's shiny new way of retrieving and aggregating complex information about a server and it's pretty awesome.
If we'd be able to use it to fetch data into the master that could mean that Salt will enhance it's automation capabilities even more.

[2015-03-26 13:13] vielmetti commented on #22003
This (same?) problem reported at #4454

[2015-03-26 13:19] jfindlay commented on #21503
@dmyerscough, I am seeing salt/modules/firewalld.py on the 2015.2 branch.

[2015-03-26 13:50] terminalmage commented on #22003
This sounds like a problem with the AMI, or else possibly with the bootstrap script. The ``python26-`` prefixes are unique to RHEL/CentOS 5, which has a default python installation of 2.4. RHEL/CentOS 6 comes with 2.6 and therefore doesn't need special packages built against Python 2.6.

[2015-03-26 13:52] tlemarchand commented on #21992
Thanks @garethgreenaway for the quick fix !
I look forward to the next bugfix release =)

[2015-03-26 13:58] twangboy opened #22038 "cmd.run stack traces when you try to run a shell command (windows)"
salt '*' cmd.run 'dir c:\'
[code]

This is only for commands like "dir" that have no corresponding ".exe"

[2015-03-26 14:04] vielmetti commented on #22003
When I log into the running instance and run

```sudo alternatives --set python /usr/bin/python2.6```

I get something closer to the expected behavior. The release notes at

```http://aws.amazon.com/amazon-linux-ami/2015.03-release-notes/```

mention a change in the python environment.

[2015-03-26 14:04] twangboy opened #22039 "pkg.install returns error for Firefox on develop branch"
salt '*' pkg.install Firefox
[code]
This works on previous versions
Other programs seem to work fine

[2015-03-26 14:08] rafamarangoni opened #22040 "States Failing Sometimes: "Recurse failed: none of the specified sources were found""
Hi guys,

First of all, I want to congratulate all the community of SaltStack. It's a great tool, and we're using it since a few months ago on various implementations on AWS.

Now, we are running saltstack on more than 20 projects, always with 1 or 2 salt-masters and a lot of minions. Always with CentOS6/7 and installing salt from epel repository.

Since we updated SaltStack to version 2014.1, we

[2015-03-26 14:10] twangboy commented on #21884
I get this error when I apply a state file that copies a file to the minion. This problem only happens in the develop branch.

Here's the Error:
[code]

Here's the state file:
[code]

Here's the versions report:
[code]

[2015-03-26 14:28] rallytime commented on #22023
Thanks very much for posting this information and for posting the upstream issues. I've seen this error before, but didn't look into it enough to find those references. I am sure this will be useful for others to know!

[2015-03-26 14:32] rallytime commented on #21698
Oh, you're totally right @luxi2001. That is the expected behavior here, and I even knew about that change. I just didn't think it through in terms of using the reactor. Thanks for posting that information and hopefully this will help others that might be running into this issue. :)

[2015-03-26 14:33] #21698 closed

[2015-03-26 14:36] rallytime commented on #21992
Thanks @garethgreenaway!

@tlemarchand We should have the next bugfix release out very soon. Since the pull request above has been merged, are we good to close this issue?

[2015-03-26 14:37] terminalmage commented on #22003
This makes sense. Their ``python26`` packages are probably so-named because they offer both 2.6 and 2.7. ``/usr/bin/salt-minion`` from the ``salt-minion`` package is from EPEL6, and is built against Python 2.6. However, when the init script calls ``/usr/bin/python /usr/bin/salt-minion``, ``/usr/bin/python`` is Python 2.7. Since the dependencies are installed into ``/usr/lib/python2.6/site-packages

[2015-03-26 14:44] rallytime commented on #22038
Thanks @twangboy! :)

It might be good to post what version of salt you're seeing this on.

[2015-03-26 14:53] cachedout commented on #22034
Oh yeah, I completely forgot about OSQuery. I'm a big +1 for some integration work between Salt and that project.

[2015-03-26 14:55] rallytime commented on #22034
:+1:

[2015-03-26 14:58] cachedout commented on #22033
Closed per merge of #22037

[2015-03-26 14:58] #22033 closed

[2015-03-26 14:59] garethgreenaway commented on #22029
@felskrone Will definitely take a look, that's very strange behavior.  I can't think of any reason why splay wouldn't support larger values for splay.  One thing to try, if you wouldn't mind, would be to narrow the range for the splay time with the start & end options.  Maybe have it start at 22000 and end at 23000, it really shouldn't matter but I'm just curious.

[2015-03-26 15:25] clinta commented on #20307
Definitely a more complicated issue than I realized when suggesting this.

My intention was always to use this with modules that return boolean, like file.file_exists, pkg.upgrade_available and cmd.has_exec.

I think it'd be okay to throw an error if a module doesn't return boolean. But another option could be to catch any errors and return false, and otherwise cast the return code to boolean and

[2015-03-26 15:26] UtahDave commented on #21884
@deuscapturus and @twangboy could you test this fix for this six issue?

https://github.com/saltstack/salt/pull/22045

[2015-03-26 15:37] devinrsmith commented on #18955
Running on Linode debian box.

[2015-03-26 15:38] cachedout commented on #18955
@pwaller I was referring specifically to non-local fileserver backends, such as GitFS. Sounds like that isn't being used though.

[2015-03-26 15:43] whiteinge opened #22046 "Add oauth and SAML support to salt-api"
Single sign-on would be quite useful for salt-api and work well with salt-api's existing session token <-> salt token abstraction.

[2015-03-26 15:50] basepi commented on #21977
OK, cool, as long as that's working this is far from high severity, but we should make it work.

[2015-03-26 16:00] babilen commented on #21977
Agreed, thank you :)

[2015-03-26 16:11] ngrennan-inflection commented on #21664
CentOS 7 seems to work as the client host talking to itself as localhost without any changes needed. This seems to be just a Fedora 21 issue.

[2015-03-26 16:12] srkunze commented on #18406
@babilen I would restrict this to directories as the effort to do this for all specific file might be enormous and wouldn't scale very well.

[2015-03-26 16:19] #21884 closed

[2015-03-26 16:30] iggy commented on #21698
That seems like a rather large backward incompatible change... I've been seeing traces of this all over. Notably with | (pipes) in cmd.run's

[code]

[2015-03-26 16:42] quantonganh opened #22048 "state.sls: saltenv is being ignored"
salt-call --versions-report:

[code]

salt shinken-1 state.sls shinken.receiver.reaction.memory saltenv='testing' test=True

[code]

As you can see, I spefified `testing` as an environment but the Salt lookup in the env `base`.

PS: using `env=testing` worked fine.

[2015-03-26 17:37] Azidburn commented on #21978
Newer version of GitPython doesn't resolv the issue. I test the HEAD of 2014.7 branch and i see no error. I doesn't which PR fixed this problem. Issue ist resolved in Head.

[2015-03-26 17:47] iggy opened #22052 "[2015.2] cmd.run/cmd.shell changes should be more thoroughly documented"
The changes that were made to cmd.run (and the addition of cmd.shell) should be (much) more thoroughly documented. Both in the documentation and in the 2015.2 release notes.

In my opinion this is a rather large, backward incompatible change for anyone using even semi-complex cmd.run states.

It should be documented in the release notes so people know what they will have to change in their states.

[2015-03-26 17:47] rallytime commented on #22048
@quantonganh Are you in a position to give this a try on a newer release? The 2014.1 is no longer being maintained and I am wondering if this is still an issue in a newer branch.

[2015-03-26 17:48] rallytime commented on #22052
Thanks for the report @iggy. We'll make sure we get this into the docs as well as the release notes.

[2015-03-26 17:50] iggy commented on #22052
Alternatively, revert that change ( #19914 ) so you don't inconvenience a shit ton of people.

[2015-03-26 18:13] vielmetti commented on #22003
It may be worth noting that I'm loading everything using the `vagrant-aws (0.6.0)` plugin to `vagrant`, and it might be the case that the fix lives there.

[2015-03-26 18:29] twangboy commented on #22038
Here's the version info:
[code]

[2015-03-26 18:40] rallytime commented on #22032
@yyf1986 Can you post the output of `salt --versions-report`, please?

[2015-03-26 18:43] rallytime commented on #22031
Thanks for the report @dbalan. I am not very familiar with the eauth code, but I think @jfindlay might be able to help, or maybe @cro. I think some fixes have been made recently to this code since 2014.7.2, but I am not certain.

[2015-03-26 18:47] JaseFace commented on #19173
@jfindlay Yes, and running on 2014.7.2 which has the https://github.com/cro/salt/commit/44efa590e4b0c36d75a7fd27dc7f05205f00cd5f mentioned just above.

                  Salt: 2014.7.2
                Python: 2.7.6 (default, Mar 22 2014, 22:59:56)
                Jinja2: 2.7.2
              M2Crypto: 0.21.1
        msgpack-python: 0.3.0
          msgpack-pure: Not Installed
              pycrypto:

[2015-03-26 18:58] maschinetheist opened #22055 "Running "sudo salt-key" resets permissions of /etc/salt/pki to root:root"
This is related to similar issue described by 'mrtizmo' user in https://github.com/saltstack/salt/issues/2220.

Whenever "sudo salt-key" is run, Salt-master resets the permissions of /etc/salt/pki to root:root.  This issue becomes apparent when someone is running salt-master as root user and when there is a requirement to keep different permissions of /etc/salt/pki (for example when you're rsyncin

[2015-03-26 19:08] iggy commented on #22038
You sure it's not because the command ends with \? Try 'dir c:'

[2015-03-26 19:17] tkent-xetus commented on #10817
@aidos and @s0undt3ch  - thanks for adding examples into this issue, saved me from having to figure this out myself.

:+1: for adding this info into the docs

[2015-03-26 19:18] basepi commented on #22026
Right, I think you're running into a common misconception about `watch`. A `watch` is just like a `require`, but adds *additional* behavior when there are changes in the watched state. In this case, it will make sure the service is running, and then restart it if there are changes in the watched state.

The problem is that `prereq` just runs a test=True run of the prereq'd state to see if it will

[2015-03-26 19:32] rallytime commented on #22009
@whiteinge What version are you seeing this on?

[2015-03-26 19:36] basepi commented on #22009
That docstring is severely misleading. It passes in that minion's grains and id, but I think all that the Pillar class does with that is uses it for templating in the topfile. So based on the written code, this is expected behavior (obviously).

We should fix this, because otherwise that function is at least a little silly/useless. But pretty low severity, I think.

[2015-03-26 19:46] rallytime commented on #21967
Thanks for reporting this @Darnok99.

ping @techhat

[2015-03-26 19:50] thedrow commented on #22034
@cachedout Do you think that there are other places where salt could benefit from OSQuery?

[2015-03-26 19:52] rallytime commented on #21997
Thanks for the report @scaissie. We should definitely get that stacktrace cleaned up.

@amendlik - It looks like this is your code. Would you mind taking a look here?

[2015-03-26 19:58] steverweber opened #22056 "2015.2 git.latest issue"
after changing rev branch from master to beta.. I get this fail.
[code]

[code]

running the command manually I get
[code]

[2015-03-26 20:16] rallytime commented on #22021
@Ropes Thanks for this useful information and thorough bug report! I think you're right that it's reasonable to expect salt to fall back to `su` if `sudo` is not installed by default.

[2015-03-26 20:18] quantonganh commented on #22048
@rallytime : I just tried with 2014.7.1:
[code]
and got the same:

`salt u2 state.sls -l debug shinken.receiver.reaction.memory saltenv='testing' test=True -l debug`

[code]

Sure, `testing` branch does exist:

[code]

[2015-03-26 20:18] rallytime commented on #22056
@steverweber Can you post the state that you're using with `git.latest`? This could be a duplicate of #16927.

[2015-03-26 20:23] rallytime commented on #22048
@quantonganh Thanks for testing that. Now that I think about it, `saltenv` is being deprecated in favor of `env`. I'm not sure which release that is/was supposed to happen. I thought we had some warnings about that, which you should have been hitting, unless the deprecation path has already come and gone.

If you switch `saltenv` to just `env`, does this function as expected?

[2015-03-26 20:26] rallytime commented on #22048
Wait...I got that backwards. `saltenv` is correct.

http://docs.saltstack.com/en/latest/topics/releases/2014.1.0.html#saltenv

[2015-03-26 20:32] rallytime commented on #22024
@boboli I think you're right - there looks to be a bug here. I suspect we just didn't think through this case where `prereq` is interacting with `watch` while also running a `test=True`. The changes output should say something like "changes were detected and this state is set to run".

[2015-03-26 20:36] jfindlay commented on #22052
That backwards-incompatible change was made to eliminate shell injection vulnerabilities.  It's inconvenient, but necessary.

[2015-03-26 20:56] rallytime commented on #21998
I think that sounds reasonable and like a good change @tjstansell. Any thoughts about this @terminalmage?

[2015-03-26 21:03] boboli commented on #22024
Hm, @basepi seemed to have different views on whether `prereq` should interact nicely with `watch`ed statements (see my other issue #22026). Or maybe I'm misunderstanding something here? I guess `cmd.wait` doesn't even make sense to run unless it's triggered by a `watch`ed state.

[2015-03-26 21:13] clinta opened #22058 "2015.2.0rc1 mine.send cannot handle multiple arguments"
mine.send seems to no longer be able to handle calling modules that require arguments

[code]

Doesn't seem to matter whether using keywords or not:
[code]

[2015-03-26 21:14] clinta opened #22059 "2015.2.0rc1 mine_function does not work"
If I run the example in the docs `salt '*' mine.send eth0_ip_addrs mine_function=network.ip_addrs eth0` I get a return of False. On the minion I get the following error logged:
[code]

If I try to specify interface using the keyword by running `salt '*' mine.send eth0_ip_addrs mine_function=network.ip_addrs interface=eth0`, I get a return value of True, but the mine is never added to mine.p in the

[2015-03-26 21:23] iggy commented on #22052
Example?

I have a sneaking suspicion everybody is just going to s/cmd.run/cmd.shell/ and you'll be in the same place as before.

[2015-03-26 21:35] steverweber commented on #22056
16927 looks like a different issue.  the state was simple.
[code]
to work around the issue i wiped the original repo and rebuilt it.
I did find some issue with the user name so perhaps I preformed the git.latest as root then tried to preform it again as a less privliaged user causing issues.

For-now i'll close this... I should have just debugged it while it was in the error state.

[2015-03-26 21:35] #22056 closed

[2015-03-26 21:36] wrabbit-revisited opened #22061 "it is possible to launch an instance of salt-minion when one is already running"
Maybe there is a case where this is useful. On my box, running 2015.2 on Ubuntu Trusty 64-bit, the command

sudo salt '<minion>' state.highstate

 results in the cryptic error:

Data failed to compile

This was because i ran

sudo salt-minion -l debug

while the salt-minion service was running in the background. Both salt-minion and salt-master were running in foreground and neither outputs an err

[2015-03-26 22:09] rallytime commented on #22024
I've actually chatted with @basepi about both of your issues, and I think that while these are similar bugs, this one demonstrates a better "proof of concept" bug where the other one could have a likely work around. This one seems like a more general "we didn't think this interaction through and now we're hitting the bug" while the other one, while exhibiting the same behavior, has a useful workar

[2015-03-26 22:12] jeanpralo opened #22063 "Wildcard inside top.sls file for pillar"
NOTE: Works for states, this is now an issue for adding this functionality for pillar

Hiy guys,

I am trying to use a wildcard feature documented here :

http://docs.saltstack.com/en/latest/topics/releases/0.9.9.html 7.2.49.1.9. Wildcards for SLS Modules

So I wrote this simple top.sls states inside /srv/pillar:

[code]

The directory /srv/pillar/user directory contains two files user1.sls and us

[2015-03-26 22:23] basepi commented on #22040
Can you clarify which version was installed here? I'm guessing 2014.7.2, because 2014.2 is not a real salt version.

Additionally, can you include any configuration related to the fileserver you have? Configuration like `fileserver_backend`, `file_roots`, and any `gitfs` configuration if you're using gitfs.

[2015-03-26 22:23] mimianddaniel commented on #21749
@basepi i hope my explanation was sufficient, or do you require more information?

[2015-03-26 22:24] markuskramerIgitt commented on #2747
@basepi as you gave the advise to use the exclude_pat: ``` "*.svn*" ``` in 2013, should it not work in Salt 2014.1.13 (Windows) and  Salt 2014.7.0 (Debian)?

Unfortunately, this expression copies all ``` .svn  ``` folders:
[code]

[2015-03-26 22:24] basepi commented on #22040
Oh, and I should mention that unless we explicitly ask, you should stick to the `debug` log-level -- `trace` tends to be pretty unreadable, it has so much information.

[2015-03-26 22:25] basepi commented on #21985
I think `pkgrepo.managed` is probably the right answer here. What do you mean `this needs to be added to salt-minion configuration`?

[2015-03-26 23:00] eliasp commented on #22039
@twangboy Please add some context to make this issue reproducible for developers:

- what Salt version are you running on your Minion (`salt minion test.versions_report`)?
- what OS/Version are you running on your Minion?
- If you're using `win_repo` on Windows to install Firefox, how does your `win_repo` definition for Firefox look like?

[2015-03-26 23:02] basepi commented on #22024
Hehe, depends on your definition of "interact nicely". `watch` is difficult because there are two pieces to its behavior when changes are made in the targeted state. The normal state *still runs* and then the `mod_watch` function runs *in addition* when there are changes. So which run should `prereq` trigger from? Either way you choose, someone else will likely argue for the other. =P

[2015-03-26 23:06] basepi commented on #21749
Hmm. I'm still not convinced that these discrepancies can't be explained by something else besides lost events. Perhaps the syndic doesn't log every event, something like that. But I'll mark this for some investigation.

[2015-03-26 23:11] basepi commented on #2747
@markuskramerIgitt Sounds like a bug. Open a new issue, please?

[2015-03-26 23:11] basepi commented on #2747
@markuskramerIgitt Please include as much information as you can, including version information.

[2015-03-26 23:14] eliasp opened #22066 "`salt-key` doesn't show new requests for already existing keys"
**Salt:**

[code]

**OS:** Ubuntu 14.04.2 LTS

When a Minion's cert was already accepted and a Minion (e.g. after resetting a test VM) requests a new cert approval with the same name, `salt-key` doesn't indicate in any way that there's a new request for an already accepted cert's name.

The problem doesn't seem to be within the `salt-key` util itself, but far deeper in the general key handling of

[2015-03-26 23:32] yannis666 commented on #21985
@basepi what I meant is that I expected some parameter in the minion config to set the proxy.
That may not be a good idea, but I could not find any guidelines as to how to overcome the proxy issue when using pkg: install.
I had naively believed that the solution I used in my standard linux env (setting http_proxy in the environment) would work.
I think a low hanging fruit solution would be to add

[2015-03-26 23:42] whiteinge commented on #22009
2014.7

Thanks for the quick code dive. We should consider renaming if it does not
have the same semantics as the state.show_top execution module.

[2015-03-26 23:46] bocig opened #22067 "2014.7.2 / salt-minion autospawns infinitely"
When a minion fails to start properly it restarts, and fails to kill off the previous running minion. Thereby spawning more and more salt-minions.
[code]
[code]

Version Info:
[code]

[2015-03-27 00:06] Snergster commented on #19963
I can repro this all day long
root@virl:~# salt-minion --versions
Salt Version:
           Salt: 2015.2.0-844-g2d0e665

Dependency Versions:
         Jinja2: 2.7.3
       M2Crypto: 0.22
           Mako: 0.9.1
         PyYAML: 3.10
          PyZMQ: 14.0.1
         Python: 2.7.6 (default, Mar 22 2014, 22:59:56)
           RAET: Not Installed
            ZMQ: 4.0.4
          ioflo: Not Installed

[2015-03-27 01:27] chenqing commented on #19861
The same problem to me,  today the network is break between master and mioin ,and salt version is :
salt --version
salt 2014.7.0 (Helium)

os release : Red Hat Enterprise Linux Server release 5.8 (Tikanga)

and  error log :

2015-03-27 04:04:34,741 [salt.utils.schedule                         ][ERROR   ] Unhandled exception running mine.update
Traceback (most recent call last):
  File "/home/salt/

[2015-03-27 01:52] yyf1986 commented on #22032
Salt: 2014.7.0
         Python: 2.6.6 (r266:84292, May 27 2013, 05:35:12)
         Jinja2: 2.2.1
       M2Crypto: 0.20.2
 msgpack-python: 0.1.13
   msgpack-pure: Not Installed
       pycrypto: 2.0.1
        libnacl: Not Installed
         PyYAML: 3.10
          ioflo: Not Installed
          PyZMQ: 14.3.1
           RAET: Not Installed
            ZMQ: 3.2.5
           Mako: Not Installed

[2015-03-27 02:48] quantonganh commented on #22048
0.17.0, according this: http://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.state.html#salt.modules.state.sls

Yes, as I said at the beginning:

[2015-03-27 02:59] dmyerscough commented on #22066
@eliasp the minions ID has to be unique and when you reuse the minions ID with a previously accepted minion ID the master will assume the key has already accepted.

The only way around this is to pre-seed keys and load them on the minion during your OS install or pre-install.

[2015-03-27 03:01] dmyerscough commented on #22061
@wrabbit-revisited were there no errors about the port being in use already?

[2015-03-27 04:18] hyper-carrot opened #22071 "'user.present' is not available!"
Hi, saltors

I installed salt master and minion, and it look like right. It successfully run:
[code]

It's great. But I got a error when follow command run:
[code]
The error message:
[code]

I googled and haven't any result. Do you have any suggestion? Thanks!

[2015-03-27 04:29] dmyerscough commented on #22071
The user `module` does not have a present function, the state does. All features for the user module can be seen here:-

http://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.useradd.html

[2015-03-27 04:37] hyper-carrot commented on #22071
@dmyerscough It showed in http://docs.saltstack.com/en/latest/ref/states/all/salt.states.user.html#module-salt.states.user . Why?

[2015-03-27 04:39] dmyerscough commented on #22071
Hello @hyper-carrot that is a Salt state and you are executing the Salt module.

Salt modules are executed using the salt command whereas state are written into SLS files.

[2015-03-27 04:46] hyper-carrot commented on #22071
@dmyerscough OK, thanks. But I run the command:
[code]

Got a failure result:
[code]

[2015-03-27 04:54] dmyerscough commented on #22071
@hyper-carrot does the user already exist on those minions because would return a value of False.

In order to better troubleshoot this can you login to one of the minions `i-nmuw5bai` and run:

[code]

[2015-03-27 05:01] hyper-carrot commented on #22071
@dmyerscough I see, thank you very much.

[2015-03-27 05:21] #22071 closed

[2015-03-27 08:14] mostafahussein opened #22075 "Question about Customizing output"
how the output of state.sls is customized ( unlike the output of grains.items , there is no dash - or pipe l ) pluse it have colors in case of success or failure.

How to make the output of my custom module looking the same ?

[2015-03-27 08:45] anlutro opened #22076 "ssh_auth.absent with "source", without "name""
I prefer having keys in files rather than adding the long RSA key in the SLS files. However, the `ssh_auth.absent` state doesn't work if I omit the "name" argument - the key isn't being removed.

[2015-03-27 10:43] The-Loeki opened #22080 "CIDR matching for IPv6 / improve IPv6 support in utils.network"
The CIDR matching is currently IPv4 only.

It seems not too difficult to get IPv6 support in that as well, and I'm willing to build it.
However, looking at the code, the fix/feature will become non-trivial because there's a lot of code duplication/unnecessary functions

I propose the following changes:
* in `minion.py` the `ipcidr_match` function needs to differentiate between IPv4 & IPv6 addresse

[2015-03-27 10:44] luka-page opened #22081 "master unable to contact minion after server restart"
Hi there,

After restarting our salt-master server it is unable to contact the minions until each minion service is restarted, is this a known issue?

Thanks,

Luka Page

[2015-03-27 12:22] liquidat commented on #21664
@ngrennan-inflection Thanks for debugging so far - if I can help by testing a new version or anything else, just drop me a note.

[2015-03-27 12:32] wrabbit-revisited commented on #22061
Just did it again on a freshly-booted VirtualBox Ubuntu Trusty VM. The salt-minion 2015.2 service runs automatically.

ps -ef | grep salt
root       987     1  0 11:35 ?        00:00:00 /usr/bin/python /usr/bin/salt-minion
root      1124   987  0 11:35 ?        00:00:02 /usr/bin/python /usr/bin/salt-minion

netstat -a | grep salt
unix  2      [ ACC ]     STREAM     LISTENING     10732 /var/run/sal

[2015-03-27 12:51] wrabbit-revisited opened #22082 "add a feedback link to each documentation page"
Sometimes i run into issues which could be avoided via documentation, but there doesn't appear to be an easy way to provided suggested improvements on the page in question. If there was it might lead to rapid incremental improvement.

Couchbase has this feature as do many wikis.
http://docs.couchbase.com/admin/admin/Couchbase-intro.html

[2015-03-27 12:59] wrabbit-revisited commented on #22082
i.e. https://github.com/saltstack/salt/issues/5338

The page at http://docs.saltstack.com/en/latest/topics/mine/ doesn't seem to mention the need for something like:

/srv/pillar/saltmine.sls

mine_functions:
  network.interfaces: []
  network.ip_addrs: []

Just saying.. perhaps not a high priority, but if there was a feedback option users could add edits then/there instead of using IRC or forums

[2015-03-27 13:33] rafamarangoni commented on #22040
Hello,

I understand about the log-level. So, no more traces in the future.

The version is 2014.7.2:
[root@salt2 ~]# rpm -qa | grep salt-master
salt-master-2014.7.2-1.el6.noarch

(but we got the same issue in 2014.7.1)

I'm using file_roots in the salt masters:

Here is goes:

file_roots:
 base:
 - /srv/salt/base
 prod:
 - /srv/salt/prod
 dev:
 - /srv/salt/dev

Thanks!

[2015-03-27 14:01] CatDeployed opened #22083 "Ubuntu salt-minion upgrade breaks salt until reboot"
I currently have a cron script to automatically update salt-minion on all of my servers

[code]

After it installed an update on the PPA 9 days ago, states start failing with

[code]

and the following errors appear on the minion logs

[code]

Additional signs include:

In the salt-master log:

[code]

Minions also cannot run commands using cmd.run, and will usually result in something like below

[2015-03-27 14:36] jacksoncage commented on #20841
I'm experience the same issue with `orchestrate `, so I don't think this is a issue with lxc module only @rallytime, I'm getting `SaltInvocationError: orchestrate takes at least 1 argument (0 given)`, but

Here's my runner state in a reactor sls, which is being started by a
[code]

*Master log*
[code]

Also getting the same issue if passing pillars via kwarg

[code]

[2015-03-27 14:59] ergamenes commented on #21837
I had this problem, only somewhat more persistently after upgrading to 2014.7.2 on Centos 7. Restarting the salt minion fixed it, so I think it likely not having pyc files cached, as obsoleted modules loaded in memory. The process had been running since before the upgrade, so possibly adding a postinstall hook to restart the minion would have prevented this from occuring.

[2015-03-27 15:01] vielmetti opened #22084 "gitfs error handling when github.com is down"
At the moment (March 27 2015) github.com is experiencing downtime as a result of a DDOS attack.

This leads to this error in my log file:

[code]

I'm looking at the docs at http://docs.saltstack.com/en/latest/topics/tutorials/gitfs.html and trying to figure out what I can/could/should do to mitigate against this problem.

[2015-03-27 15:07] RobertFach commented on #21837
@jfindlay For me it happened after a fresh install, there was no other salt-version installed beforehand. At least I think it was like that. I will try to verify that.

[2015-03-27 15:09] RobertFach commented on #21546
@rallytime  & @dmyerscough: From my site, this has been fixed and can be closed. Thx...

[2015-03-27 15:17] tjstansell commented on #20841
I believe it is kwargs, not kwarg. Does that work?

Todd

[2015-03-27 15:18] gcamus commented on #21480
I am getting the same error too on versions 2014.7.2 or 2015.0.2rc1 but i think i find a workaround to set the saltenv on every command even if for base.

I remark that the problem appears when GitFs and ext_pillar git are activated and some branches exist on repositories

For exemple :
salt '*' state.highstate saltenv=base

[2015-03-27 15:19] vielmetti commented on #22084
Ah, a little more reading and I found

http://docs.saltstack.com/en/latest/topics/development/conventions/formulas.html

which speaks to the question (cloning repos and putting them in file_roots).

[2015-03-27 15:32] jacksoncage commented on #20841
Same error in result for `kwargs` or `kwarg`. I don't think that's connected.
btw did you ever get you code to run @tjstansell?

[2015-03-27 15:35] rallytime commented on #20841
Thanks for the updates here, everyone! I am not very familiar with using orchestrate, but perhaps @basepi or @whiteinge can take a look here.

[2015-03-27 15:37] tjstansell commented on #20841
No. I never did get it to work.  Luckily, with what I was doing, I simply changed to firing the two sls modules directly (that my orchestrate was going to do) and then I added a "sleep 5" to one of them so it should happen after the first one finished...  poor man's orchestration, but it seems to work.  Definitely a hack.  I've been meaning to try to get another environment where I can test 2015.2

[2015-03-27 16:18] steverweber opened #22087 "2015.2 grains.items get_colors() takes at most 1 argument (2 given)"
[code]

[code]

[2015-03-27 16:19] rickh563 commented on #20240
A Salt-User has reported the following to SaltStack:

-----------
Effectively this kills our ability to use salt-api and the cloudify salt plugin or salt step in rundeck because its not reliable.

-----------

[2015-03-27 16:20] rallytime commented on #22087
Thanks @steverweber. I'll take a look here.

[2015-03-27 16:31] rickh563 commented on #20240
ZD-218

[2015-03-27 16:37] rallytime commented on #22087
@steverweber I cannot reproduce this. I have tested this both from the current [HEAD of 2015.2](https://github.com/saltstack/salt/commit/13331b002cbf0ad1300ae7567313d6f0afbb10e8) as well as the current [HEAD of develop](https://github.com/saltstack/salt/commit/5c70cdd349a088e72e45b46cfa5ebf409bcec8fb) and I am not hitting this stacktrace:
[code]

[2015-03-27 16:37] steverweber commented on #22087
i'll investigate.

[2015-03-27 16:51] rallytime commented on #21981
Hrm. Interesting. Thanks for the report @soodr.

[2015-03-27 16:53] rallytime commented on #21986
Hi @numkem - Thanks for reporting this bug! It looks to me like there are two things happening here that need to be addressed to fix this bug:
- The foreman-salt plugin should probably remove that mine data
- `mine.flush` and the other cache function should probably be clearing that out as well.

[2015-03-27 16:56] steverweber commented on #22087
humm it seems that
/salt/output/grains.py
was removed.

but after removing it and rerunning bootstrap it returns...

[2015-03-27 16:59] steverweber commented on #22087
I dont see the file in bootstrap log..
[code]

[2015-03-27 17:00] steverweber commented on #22087
opps nm forgot to rm the pyc and pyo files
. all good.

[2015-03-27 17:00] #22087 closed

[2015-03-27 17:03] rallytime commented on #22067
@bocig I haven't come across this particular bug. Can you tell us how you installed salt and what OS you are running this minion on?

[2015-03-27 17:04] jfindlay commented on #22082
The documentation is included in the salt repo, so if you have improvements or corrections, you are welcome to submit a pull request.  Is this a sufficient mechanism for what you were thinking of?  We are also in the process of reworking the documentation site although I am not directly involved in that effort.

[2015-03-27 17:08] rallytime commented on #22080
@The-Loeki Awesome! I think that sounds like an excellent approach to implement IPv6 support for utils.network, as well as improving some of the other functions as well.

Since this is both a new feature as well as involving a decent refactor, please make all of your changes against the develop branch. Thanks!

[2015-03-27 17:11] rallytime commented on #22087
Ah, right! Nice! Thanks for taking another look and glad this was resolved. :)

[2015-03-27 17:15] rallytime commented on #22081
Hi @luka-page - can you tell us what version of salt you are running? `salt --versions-report` on your master would be great. You can also do `salt-call --versions-report` on the minions that are having trouble connecting.

Also, how did you install salt? What operating systems are you using for your master and affected minions?

[2015-03-27 17:16] rallytime commented on #22084
@vielmetti Yes, that documentation that you posted about conventions is a great place to start.

@terminalmage do you have anything to add about that regarding this question? Perhaps that might be something good to duplicate in the gitfs tutorial doc?

[2015-03-27 17:18] iggy commented on #22082
A link to the github source file that generated the current page might be a good addition.

i.e. http://docs.saltstack.com/en/latest/ref/states/top.html links to https://github.com/saltstack/salt/blob/develop/doc/ref/states/top.rst somehow

[2015-03-27 17:21] rallytime commented on #22055
Thanks for this report @maschinetheist.

[2015-03-27 17:24] rallytime commented on #22055
@maschinetheist Can you post your *sanitized* master config (basically looking for anything you've changed that is not a default) as well as the output of `salt --versions-report` from your master?

Are you seeing any tracebacks in your master's log?

[2015-03-27 17:33] tjstansell commented on #20841
I think I _may_ have found the bug looking at the 2014.7 branch... In `salt/utils/process.py`, this is the definitino of `fire_async()`:
[code]
but in `salt/events/util.py`, it is called by doing this:
[code]
It seems to me that the runner should be changed to properly support extra positional args and kwargs like this:
[code]
I have no idea if this is correct (my python skills is in their infant

[2015-03-27 17:45] tjstansell commented on #20841
@jacksoncage, the above research suggests that your test _should_ work if it looks like this:
[code]

[2015-03-27 18:06] tjstansell commented on #20841
I tried to make the changes locally on my salt master to test ... and it does parse the arguments, but then I just get this:
[code]
which is basically what happened for me before... something is causing the Reactor itself to die.

[2015-03-27 18:08] larkinrobert commented on #19963
Well.  I guess I can stop holding out hope that 2015.2 is a silver bullet.  I can probably stop examining deps too.
Snergster, are you using LXC as well?

[2015-03-27 18:22] belvedere-trading commented on #22052
This is kind of a jarring change.  I know that I have a LOT of code that will have to be changed to be compatible with this.  I'm guessing that I'm not alone there.  Can this either be made optional (setting to control it via the config file), or perhaps moved out of the 2015.2.0 release?

[2015-03-27 18:32] Snergster commented on #19963
Thats a bit vague..   Do i have container software installed?  yes i do.   Are either master or minion in this scenario running IN any type of container? No.
To whomever wants to try and debug this further I'm more then happy to throw up a webex or the like so you could watch it detonate first hand.  Doesn't look like this problem is going anywhere.

[2015-03-27 18:44] tjstansell commented on #20841
I've been digging in debugging this more and I've found that in `reactions()` in `events.py`, it's getting an exception while trying to process  things.  I wrapped the whole thing inside a try/except block
[code]
and the exception log comes back simply as:
[code]
Still investigating .. but found this interesting.  Maybe others know what's going on here?

[2015-03-27 18:58] msciciel commented on #21480
I have ext pillar disabled and error sometimes occurs.

[2015-03-27 19:08] maschinetheist commented on #22055
@rallytime my setup is using an absolutely default master config, with only client_acl and file_roots set.  I am running salt-master as root.

I noticed that when I run salt-master as a regular nonroot user (uid: salt in this case), it retains salt:salt permissions on /etc/salt/pki.  Permissions don't get retained if I run this as root.

Below is the versions report (this is on CentOS 6.6):
$ sudo

[2015-03-27 19:10] tjstansell commented on #20841
I've tracked the exception down to coming from `verify_high()` in `state.py`.  I added a debug log to it to dump the high data coming in and get this:
[code]

[2015-03-27 19:33] wrabbit-revisited commented on #22082
Crowdsourcing documentation has been a common theme for the past few years. The idea is to make it very easy for the community to quickly and intuitively interact with other members and the doc team when they run across an issue. It should be quite easy to use, like MediaWiki or maybe something like readme.io (which will host open source projects for free btw). Generally just an interface that all

[2015-03-27 19:47] jfindlay commented on #22082
These are all good ideas, thanks.

[2015-03-27 19:55] larkinrobert commented on #19963
Ah, ok.  My minions are running in an lxc container and I was wondering if there was a connection, but it looks like the answer doesn't lie there.  Basepi wasn't able to reproduce this...it's a bit mysterious what you and I have in common that is missing from his environment.

[2015-03-27 22:06] basepi commented on #22076
What version of salt are you using? The `source` argument to `ssh_auth.absent` is *very* new, and so is only in the `develop` branch, slated for the feature release after 2015.2.0 (codenamed Beryllium). Looks like someone forgot to add the `versionadded` directive there, I've added it here: https://github.com/saltstack/salt/pull/22096

[2015-03-27 22:09] basepi commented on #22075
The state system uses a special outputter called the [`highstate` outputter](https://github.com/saltstack/salt/blob/develop/salt/output/highstate.py).

You can define the outputter for a command with `--out=highstate`. However, this won't work in your case, because the `highstate` outputter is designed for the very structured output of the state system.

So what I recommend is writing your own out

[2015-03-27 22:13] anlutro commented on #22076
2014.7.1

On Fri, 27 Mar 2015 23:06 Colton Myers <notifications@github.com> wrote:

[2015-03-27 22:14] basepi commented on #22058
Thanks for filing this. We just need to clean the kwargs in mine.send. Pull request incoming.

[2015-03-27 22:20] basepi commented on #22058
Fixed: https://github.com/saltstack/salt/pull/22097

[2015-03-27 22:21] basepi commented on #22059
It's *possible* this is fixed by the resolution in #22058 but I'm not sure.

[2015-03-27 22:22] basepi commented on #22059
If you could test with the patch in https://github.com/saltstack/salt/pull/22097 that would be great.

[2015-03-27 22:26] basepi commented on #22061
There wouldn't be any errors. The minion doesn't bind to a port. There is no safety against running two copies of the salt minion. The problems come when you try to run two copies with the same ID, because then you can't target one independent of the other. Ideally you would run two copies of the minion each with their own config dir (with the `-c` flag) and thus different IDs and so forth. We use

[2015-03-27 22:29] basepi commented on #22063
Have you attempted to use this with the state system instead of the pillar system? From the release notes, it appears this was implemented for the state system, but it may not have been implemented for the pillar system.

[2015-03-27 22:31] basepi commented on #22066
@eliasp This is expected behavior. If a minion tries to authorize as a minion ID which has already been accepted, but with a different key, the master will immediately deny access, assuming someone is trying to pretend to be one of your minions. Delete the old key before trying to accept the new one.

[2015-03-27 22:36] basepi commented on #21985
Ya, we wouldn't want to do it as part of the config. However, we could potentially add some sort of state or module to enable this configuration for you, and then you could add it to your workflow. I'm going to mark this as a feature.

[2015-03-27 22:37] basepi commented on #22009
Agreed. Does `state.show_top` only show the data for that minion, after evaluating the targets?

[2015-03-27 22:39] basepi commented on #22040
To verify, you're not using any non-default `fileserver_backend` setting, correct?

Very strange. Is your master under heavy load?

[2015-03-27 22:43] rallytime commented on #22083
It looks to me like something changed in the packaging process that is causing this. The upgrade is probably not properly shutting down the old minion process and then when the state runs, the lock error occurs because the old minion process is already running it.

As a work around for now, I would suggest adding a `killall salt-minion` and a `service salt-minion stop` to your cron job to make sur

[2015-03-27 22:44] basepi commented on #22076
Yep, that's the issue. Sorry that this won't be available in an official salt release for a couple of months. In the meantime you could try syncing down the `develop` version of this module as a custom state module. It often works just fine, even in older versions.

[2015-03-27 22:45] basepi commented on #22076
Though you'll probably have to sync down the `develop` version of any execution modules that the state module references.

Anyway, since this is just a "not available in that version" issue, I'm going to close it.

[2015-03-27 22:45] #22076 closed

[2015-03-27 22:51] anlutro commented on #22076
That's fine. Just to be sure, this feature is planned for the upcoming
release or some undetermined future release?

On Fri, 27 Mar 2015 23:45 Colton Myers <notifications@github.com> wrote:

[2015-03-27 22:55] rallytime commented on #22076
The source argument will be available in `2015.2.0`, which will be the next feature release.

[2015-03-27 23:15] rafamarangoni commented on #22040
Hello, 

That's right: no fileserver backend.

And the master servers (on every project we have 2 masters) are running fine, with just 5% of cpu. We run on aws ec2, size m3.medium for them.

Thanjs

Rafael

<div>-------- Mensagem original --------</div><div>De : Colton Myers <notifications@github.com> </div><div>Data:27/03/2015  19:39  (GMT-03:00) </div><div>Para: saltstack/salt <salt@noreply.gith

[2015-03-27 23:19] basepi commented on #22040
Ah, that's good to note, this could potentially be a multi-master issue.

[2015-03-27 23:20] rallytime commented on #22076
Actually, my above statement is incorrect. It will be in the *NEXT* feature release, Beryllium, which is down the line a little ways. It will *not* be in 2015.2.0.

[2015-03-27 23:33] rafamarangoni commented on #22040
Colton,

One thing is that the same issue happens if we add --master on salt-call command line.

<div>-------- Mensagem original --------</div><div>De : Colton Myers <notifications@github.com> </div><div>Data:27/03/2015  20:19  (GMT-03:00) </div><div>Para: saltstack/salt <salt@noreply.github.com> </div><div>Cc: rafamarangoni <rafael.marangoni@brlink.com.br> </div><div>Assunto: Re: [salt] States Fa

[2015-03-27 23:37] anlutro commented on #22076
Alright. Thanks for the information!

[2015-03-28 00:24] eliasp commented on #22066
I do know, that a duplicate key is no valid scenario. My initial request wasn't meant to cover something like "overwrite authorized ID `foobar` with new request", but it was more about detecting, that there are duplicate requests for already accepted IDs at all.
I didn't know it gets immediately rejected, but thought it would end up in the queue for incoming requests at least. I see the following

[2015-03-28 00:34] mimianddaniel opened #22110 "batch mode from master of master doesnt work as expected --"
running `salt '*' test.ping -b 50` runs against the minions (intermediary masters or minions directly connected) only.  This is on rc1

[2015-03-28 00:40] cachedout commented on #22110
Sorry, didn't mean to close that.

[2015-03-28 01:12] wrabbit-revisited commented on #22061
If there's no production reason to support multiple agents on the same host then enforcing it ASAP might reduce the noise level. Docker might be mature enough to produce a clean swarm, at least on Linux, without introducing features into the minion.

[2015-03-28 01:44] twangboy commented on #22039
this is a problem with win_repo. The sls files have the path to the Program Files (x86) folder that exists only on 64bit windows. This of course fails on 32 bit machines. The way salt handles the win_repo needs to be changed so that you can use jinja in the sls files. Right now they don't.

[2015-03-28 01:46] twangboy commented on #22038
This is because 2015.2 now uses cmd.shell to handle shell specific commands. cmd.run requires an actual executable file.

[2015-03-28 01:49] eliasp commented on #22039
@twangboy See #6859 regarding Jinja support for `win_repo` definitions.
See https://github.com/saltstack/salt/issues/20737#issuecomment-74849836 for some further thoughts regarding improved `win_repo` definitions.

[2015-03-28 02:04] eliasp commented on #22084
Regarding the usage of formulas, I prefer to relay them through a local `salt-formulas` repository, so I keep control over upstream changes in the formulas and don't just blindly trust my infrastructure to unreviewed code - I'd actually strongly advice against putting public repositories into the `gitfs_remotes` list.

The way I handle it is:
- one local `salt-formulas` repo
- containing one subdi

[2015-03-28 02:16] eliasp opened #22112 ""Invisible" mount options aren't dropped from fstab"
**Salt:**

[code]

**OS:** CentOS 7

When removing one of the "invisible" mount flags from a persistent `mount.mounted` state, it isn't dropped from fstab. The fstab entry of a persistent `mount.mounted` state should always reflect 1:1 the state definition.

[2015-03-28 03:49] mwpher commented on #21902
It appears that the previously submitted PR isn't the correct one. The bug I described is reported here: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=185666 It looks like it has been fixed in stable/10

Anyways, this can be worked around via using 'pw groupmod', like so:

[code]

This would be very inconvenient to use manually when changing a lot of groups, but with Salt you can use a python

[2015-03-28 11:25] ag-wood opened #22117 "Providers option in salt minion config file is broken in 2015.2 and development branches"
I've been trying to test the solarisips package provider which works after a few little tweeks (including changing the virtualname and autodetection parameters).  Solaris 11 requires the use of both IPS and SRV5 style packages which I planned to use the providers over-ride mechanism to switch as required.

The plan was to fix the autodetection such that IPS is the preferred package manager going f

[2015-03-28 14:38] garethgreenaway commented on #22034
Started hacking on some code to pull information from osquery, hoping to have a pull request ready this weekend.

[2015-03-28 16:24] whiteinge commented on #20841
The syntax for calling Runner/Wheel functions via the Reactor very directly maps to the function signature for each Runner/Wheel function and does not make use of 'arg' or 'kwarg' (unless the function being called specifies either in the function signature).

@paha try this syntax for [lxc.init](http://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.lxc.html#salt.runners.lxc.init) instea

[2015-03-28 16:38] whiteinge commented on #20841
Oh, one additional note. There has been recent work done in the Reactor (worker pools were added in a 2014.7 point-release), as well as in RunnerClient and WheelClient (for the switch to event-based execution; light work was done in 2014.7 and heavy work was done in 2015.2).

So there may indeed still be a regression here somewhere. Make sure you're on the latest available point-release when you t

[2015-03-28 16:44] jacksoncage commented on #20841
Thanks @tjstansell and @whiteinge!
Confirmed working for me when using `mods` and I'm running 2014.7.2. Will try to add some examples during next week.

[2015-03-28 17:27] cryptid11 commented on #21967
same issue....

/usr/lib/python2.7/site-packages/requests/packages/urllib3/util/ssl_.py:79: InsecurePlatformWarning: A true SSLContext object is not available. This prevents urllib3 from configuring SSL appropriately and may cause certain SSL connections to fail. For more information, see https://urllib3.readthedocs.org/en/latest/security.html#insecureplatformwarning.

[2015-03-28 19:22] tjstansell commented on #20841
While trying to debug all of this yesterday to try to understand how it all works (boy, my brain hurts :) ), I found several places that really need some try/except blocks for error handling.  Related to the original post here and the stack trace seen, this is because the `verify_high()` function assumes there is a `__sls__` attribute defined when it tries to generate error messages.  I have some

[2015-03-28 19:53] tjstansell commented on #20841
@whiteinge: if the explanation you gave here were added to the main reactor documentation explaining how the runner and wheel module arguments are passed, that would be huge... not to mention just having more examples.

[2015-03-28 20:06] whiteinge commented on #20841
Thanks for working to back-port some of that error-handling to 2014.7.
That will be great to have in.

In addition to docs, we also need some basic error-checking and
linting in place. This class of error should be preventable.  :-/

[2015-03-28 21:09] vielmetti commented on #21413
I'm following along here as @eliasp seems to have a reasonable design for how this should work (that's better than the approach I tried in #22084).

[2015-03-29 00:31] ag-wood commented on #22066
I am just working through implementing salt, changing from puppet.  I see the same thing with puppet and don't consider it to be an issue.  I treat it as a process issue, with my thoughts on the two scenarios being:
- the first situation with an external master-management agency would require that they detect and report unresponsive minions and have a process to correct the various known scenarios

[2015-03-29 03:11] vielmetti opened #22124 "minion becomes unreachable after VirtualBox "vagrant suspend" / "vagrant resume" cycle."
The environment: Virtualbox on OS X Mavericks, Ubuntu 14.04 on both salt-master and the managed vm, using Vagrant to bring the machine up and down.

The "before" state: sallt master is up, and a minion is up on the managed vm, and everything is fine.

I run a `vagrant suspend`, and the vm no longer responds to a ping; then I do a `vagrant resume`, and the system comes back online. So far so good,

[2015-03-29 03:30] vielmetti commented on #22124
The workaround that comes to mind after looking at this a bit:

I'm using `openvpn` to manage VPN tunnels between the VM and the salt-master. (This lets me avoid poking holes in the Amazon AWS firewall every time I decide to run a new protocol.) `openvpn` has a `--up` option that lets you run a script when the tunnel comes up; that would be a good and perfectly opportune time to do a `service salt

[2015-03-29 07:50] thedrow commented on #22034
:+1:

[2015-03-29 13:00] eedgar commented on #21948
I have replicated this on a ubuntu as well.

root@saltmaster-dev:/etc/salt# cat master.d/_defaults.conf |grep -v ^#|grep -e '^$' -v
fileserver_backend:
  - git
  - roots
gitfs_provider: gitpython
gitfs_remotes:
    - git@bitbucket.org:eedgar/salt_master.git
    - https://github.com/eedgar/users-formula.git
    - https://github.com/eedgar/salt-formula.git
    - https://github.com/eedgar/mysql-formu

[2015-03-29 13:07] eedgar commented on #21948
I did experiment with gitfs in case it was a gitpython issue.  However, git python doesn't like the format
git@bitbucket.org:eedgar/salt_master.git so I wasn't able to get that to work either.

[2015-03-29 15:42] samart commented on #21359
i think we are affected by this as we try to figure out environments in general.  this + the top file compilation issue.

[2015-03-29 15:43] samart commented on #12483
we might be running into this while trying to get svnfs and envs working.    this implies environment functionality is pretty much broken?

[2015-03-29 16:06] andygrunwald commented on #21809
@rallytime i will try to setup this system again on our hardware with HEAD of 2014.7 and reproduce this issue. If i had done this i will push back the information.
I think i will need a few days for this.

[2015-03-29 16:09] andygrunwald commented on #21814
I didn`t editied my first comment (afaik).
If i can do anything to help / support you (debugging, information, whatever) please let me know.

[2015-03-29 17:20] bkuhl opened #22128 "Incorrect formatting on the Table of Contents"
The bullets on http://docs.saltstack.com/en/latest/contents.html seem to be nested incorrectly making it difficult to follow the intended structure.  There are multiple sections beginning with "1." at the same nesting level... see this screenshot:

![nesting-error](https://cloud.githubusercontent.com/assets/524933/6886732/536d6692-d616-11e4-9d7f-09561678d25d.PNG)

[2015-03-29 18:35] jeffclay commented on #19271
this seems to have been fixed in the dev version https://github.com/saltstack/salt/blob/develop/salt/modules/win_useradd.py   can this be updated or is 2014.7.x not getting updates due to future release of 2015.2.x ?

[2015-03-29 18:35] babilen commented on #19271
This feature was added in 714145d50b83889352d134abc0631e55f73825fb which is only in develop as of now. It therefore simply won't work on 2014.7.*.

[2015-03-29 19:10] desegel commented on #21149
I have a question related to this please.
I still couldn't manage doing this - the windows minion is python-freezed - how can I install a third-party library for it?
I need it in order to use the library for a custom Execution Module

thanks!

[2015-03-29 19:16] quixoten opened #22131 ""unexpected keyword argument 'merge'" on 2014.7.2 (salt-ssh)"
I'm invoking `salt-ssh` on an Archlinux box to configure an Ubuntu 14.04 virtual machine. I'm using the latest version of salt (version info below). I'm using the [salt-formula](https://github.com/saltstack-formulas/salt-formula). My top file looks like this:

[code]

### Full Output

[code]

### Version Info

[code]

[code]

[2015-03-29 21:42] chruck commented on #20595
@nmadhok No assignee?

[2015-03-29 22:50] nmadhok commented on #20595
@chruck this totally slipped through the crack. I will work on it this week.

[2015-03-29 23:02] jeanpralo commented on #22063
Hiya,

Tested with the states works fine. Thought that the state system and pillar were at the same level of functionality, my mistake.

Would be nice to have it for the pillar system too.

Thanks anyway.

[2015-03-29 23:14] nmadhok commented on #22067
@rallytime I've come across a similar situation in which all the minions have 2-5 salt-minion processes running.

[2015-03-29 23:22] kiorky opened #22132 "intermittent setup.py glitches (develop)"
Sometime i get some
[code]
Re running some setup.py develop fixes it, but i got bitten by this muliple times, there may be a bug.

[2015-03-29 23:28] kiorky commented on #22132
I think that the thing that append the git changeset is really harmful with nowadays setuptools and should be removed.

[2015-03-29 23:32] kiorky commented on #22132
a glitched pkginfo:

cat /salt-venv/salt/src/salt/salt.egg-info/PKG-INFO
[code]

[2015-03-29 23:34] kiorky commented on #22132
and after a pip intall -e . in the salt checkout (although the previous  command was also a pip install -e)
cat /salt-venv/salt/src/salt/salt.egg-info/PKG-INFO
[code]

[2015-03-29 23:37] kiorky commented on #22132
damn im not reproducing it right now, but it had bitten me more than 15 times on multiples boxes in the last month

[2015-03-29 23:45] ross-p commented on #21929
@TriAnMan @jfindlay I submitted a feature request to composer for them to give us an appropriate way to determine whether or not `composer install` should be run.

https://github.com/composer/composer/issues/3888

While `composer --dry-run` works right now, we have no indication that they will not modify the output yet again in the future such that it breaks our output parsing logic.  They have mo

[2015-03-30 03:04] #9960 closed

[2015-03-30 03:18] jfindlay commented on #21948
@eedgar, thanks for all of your work on this issue.  Is it possible for you to try with the 2015.2 branch?  There have been many changes to the git code on that branch.

[2015-03-30 03:23] jfindlay commented on #19271
That commit (#18840) is also available on the 2015.2 branch.  We are getting very close to releasing 2015.2.0 and I am wary of backporting so much code to an old stable branch.  @jeffclay, when 2015.2.0 comes out will you be able to verify if this is fixed?  Thanks.

[2015-03-30 03:25] jfindlay commented on #21929
@ross-p, @TriAnMan, thanks for your work on this issue.

[2015-03-30 03:35] clinta opened #22136 "Multiple keyword arguments in publish.publish doesn't work"
Testing the example [documented](http://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.publish.html).

Only tested on 2014.7 right now. Will try and test develop.

[code]

The debug log has this:

[code]

[2015-03-30 03:47] eedgar commented on #21948
I found the issue and the cause of the confusion.  https://github.com/eedgar/salt-formula.git didnt have a dev branch and I didn't know it needed one.  So I might suggest catching this exception and then logging which repo didn't have the branch it was looking for.

[2015-03-30 04:08] eedgar commented on #21948
or another option would be to allow the branch to fall back to the base branch if the searched branch was missing.  Thats what I assumed would happen.

[2015-03-30 04:23] ninjada commented on #22003
this was working a few weeks back when i was testing, but experienced the same issue today using latest Amazon EC2 AMI (3.14.35-28.38.amzn1.x86_64 HVM), installed salt, salt-master, salt-cloud via EPEL.

any salt* command results in:

[code]

works* after running the following as above:
[code]
but receiving following error:

[code]

[2015-03-30 07:38] billcchung opened #22138 "publish.publish might get different return data everytime."
every time when i run publish.publish, i might get different return data:
[code]

but this command, when gets executed on master, is stable:

[code]

after some investigations, it turns out the if statement (https://github.com/saltstack/salt/blob/develop/salt/modules/publish.py#L111) in *publish.publish* for checking the returned minions is not correct, e.g.:
[code]

that's why the data got return

[2015-03-30 08:18] dhs-rec commented on #21059
Any news on this issue?

[2015-03-30 08:26] billcchung commented on #22138
ahhh, my bad, now **matched_minions** and **returned_minions** are *sets* instead of lists, so looks like this is no longer an issue.

[2015-03-30 08:26] #22138 closed

[2015-03-30 08:28] dhs-rec commented on #20850
I'd suggest adding "detailed-exitcodes" to the arguments for the puppet agent here:

[code]
or (even better) simply change the whole list to just contain 'test', which implies all the other entries + --detailed-exitcodes, according to puppet agent --help:

[code]
With this in place, the agent returns 0 or 2 for success, everything else is failure.

[2015-03-30 09:10] tlemarchand commented on #21992
My problem is solved, we are good to close.
Thank you all.

[2015-03-30 10:00] babilen commented on #20096
Any progress on this one? `pkgrepo.{absent,managed}` is quite broken in this regard and having to remove the sources.list prior to highstate runs to ensure that managed repositories are actually added is, well, slightly suboptimal.

To provide a little more information. This can be easily reproduced with the following state:

[code]

which results in the following:

[code]
and even adding `enabled

[2015-03-30 11:11] Deshke opened #22141 "grains.get_or_set_hash render error if hash begins with "%""
fresh minion, if the return value from grains.get_or_set_hash begins with a %, the yaml renderer crashes.

[code]

[code]

after removing the minions grains file and a new generation of the hash it works

[2015-03-30 11:45] ketzacoatl commented on #21864
Any updates on the status of this issue, is this a confirmed bug?

[2015-03-30 12:08] multani opened #22142 "State `acl.present` doesn't allow to set "default" ACLs"
The following state:

[code]
gives the following error:

[code]

This is because of [this check](https://github.com/saltstack/salt/blob/25f523/salt/states/linux_acl.py#L60):

 * it uses `acl.getfacl` which doesn't return the "default" ACLs if none has been set
 * additionaly, even if `acl.getfacl` did this, the same check can't understand the tree-like structure returned by `acl.getfacl` in case a

[2015-03-30 13:25] jeffclay commented on #19271
yes, once the minion is released and the version is available in epel 7 repo.

[2015-03-30 14:20] amendlik commented on #21997
Please try the fix at:
https://github.com/amendlik/salt/commit/11536f6cc5e71c95e5355614eb4aa11c0fde66dd

[2015-03-30 14:28] sirshurf commented on #21837
I have a fresh install, and I just created a new sls for apache configs.

The dir in question only have apache vhosts .conf files.

[code]

[2015-03-30 14:49] rallytime commented on #21809
No problem! Thanks for being willing to try again and keep us posted!

[2015-03-30 14:51] zerthimon commented on #20240
I'm using the salt-api (in a deploy script) despite the problem with "sleepy minions".
The test.ping crontab workaround (see above) works great :)

[2015-03-30 14:52] babilen commented on #21480
We are seeing this all the time ever since we upgraded to 2014.7.2, quite annoying

[2015-03-30 14:58] iggy commented on #22063
Would also be nice to document the differences between state and pillar top files.

[2015-03-30 15:00] twangboy commented on #21961
Fixed by PR #22020
Applied to 2014.7 branch
Merged forward

[2015-03-30 15:00] #21961 closed

[2015-03-30 15:07] clinta opened #22146 "peer communication should allow restricting arguments"
In the master config you can currently restrict minions so that they can only run publish.publish against certain other minions and execute certain functions.

It would be helpful if they could additionally be restricted so that the args that are send with that function must match a specific pattern.

[2015-03-30 15:23] UtahDave commented on #21451
@basepi fixed this.

[2015-03-30 15:23] #21451 closed

[2015-03-30 15:24] babilen opened #22147 "pkgrepo.managed enabled/disabled settings are confusing"
Hi,

pkgrepo.managed has the following in its docstring:

[code]
which I find rather confusing. Despite the fact that this isn't working (cf. #20096, but I'm working on this), it is unclear what these options should do.

I can't really fix #20096 without knowing what the *intended* effect of these settings should be.

Superficially one might assume that you really don't need two settings to reflec

[2015-03-30 15:34] rallytime commented on #21992
Awesome! Thanks!

[2015-03-30 15:34] #21992 closed

[2015-03-30 15:39] rallytime commented on #21997
Thanks @amendlik! If this patch works, it'd be great to get a pull request in for this.

@scaissie If you try the patch from @amendlik list above, does that help resolve this issue for you?

[2015-03-30 15:39] dantezeppelin opened #22149 "newbie with a question."
I've been following the example command line but still get syntax error at ^Z in python 2.7

[code]

[2015-03-30 15:39] iggy commented on #22038
Ooh... I hate that change...

[2015-03-30 15:41] iggy commented on #22149
Can you provide a link the example/docs you are looking at?

[2015-03-30 15:46] SEJeff commented on #18843
Confirmed. I just ran into this exact same issue with:

[code]

[2015-03-30 15:50] dantezeppelin commented on #22149
https://search.yahoo.com/search?p=brute+force+hacking+tool&ei=UTF-8&fr=chr-greentree_ff&ilc=12&type=635779

[2015-03-30 15:59] #18822 closed

[2015-03-30 15:59] rallytime commented on #22128
Thanks for pointing this out @bkuhl! I think we have another issue for this open already in #20489. As such, I am going to close this one in favor of that one so we don't have two issues open that track this issue.

ping @whiteinge @jacobhammons

[2015-03-30 15:59] #22128 closed

[2015-03-30 16:00] rallytime commented on #20489
ping @jacobhammons

[2015-03-30 16:01] cachedout commented on #20565
Closed by #22120

[2015-03-30 16:01] #20565 closed

[2015-03-30 16:11] vieira opened #22152 "pkg_resource.sort_pkglist raises TypeError: list indices must be integers, not str"
When attempting to run an [example from the documentation](http://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.pkg_resource.html#salt.modules.pkg_resource.sort_pkglist):

`salt '*' pkg_resource.sort_pkglist '["3.45", "2.13"]'`

a TypeError: "list indices must be integers, not str" is raised. The offending line as reported by Python is line 216 of pkg_resource.py.

Tested in salt-minio

[2015-03-30 16:17] jfindlay commented on #20850
@dhs-rec, do you think you could submit a pull request against the 2014.7 branch to fix this?

[2015-03-30 16:19] jfindlay commented on #21864
@ketzacoatl, is it possible for you to test the 2015.2 branch of salt?  There have been many updates to the git code there and we're getting close to releasing that branch.

[2015-03-30 16:20] scaissie commented on #21997
That fixed the problem. Thanks for the quick fix.

[2015-03-30 16:22] rallytime commented on #21997
Awesome! Thanks for testing!

@amendlik We'd love to see a PR with your changes! Thanks very much!

[2015-03-30 16:23] jfindlay commented on #21837
@sirshurf, what is the output of `salt --versions-report`?

[2015-03-30 16:51] twangboy commented on #22038
It looks like this has been fixed to maintain backwards compatibility.

[2015-03-30 16:51] #22038 closed

[2015-03-30 16:56] rallytime commented on #21997
Awesome! Thanks!

[2015-03-30 16:56] rallytime commented on #21997
@scaissie Now that the PR is in, are we good to close this issue out?

[2015-03-30 17:00] scaissie commented on #21997
Yes, thanks.

[2015-03-30 17:00] #21997 closed

[2015-03-30 17:09] jfindlay commented on #22110
2015.2.0rc1

[2015-03-30 17:10] jfindlay commented on #22110
@mimianddaniel, I am unsure about what the problem is you are having.  Do you want syndics to respond to `test.ping` as well?

[2015-03-30 17:11] jfindlay commented on #22112
@eliasp, thanks for the report.

[2015-03-30 17:16] jfindlay commented on #22117
@ag-wood, thanks for the report.  I do not understand why this change is causing packaging failures, but @dmurphy18 or @cachedout may have better information here.

[2015-03-30 17:21] jfindlay commented on #22136
@clinta, thanks for reporting.

[2015-03-30 17:22] jfindlay commented on #22141
@Deshke, thanks for reporting this.

[2015-03-30 17:26] jfindlay commented on #22142
@multani, I'm not an ACL expert, but your proposed solution seems like the right approach to me.  Please feel free to submit a pull request against the oldest release branch applicable, thanks.

[2015-03-30 17:27] jfindlay commented on #22146
Great idea, @clinta, thanks.

[2015-03-30 17:39] jfindlay commented on #22147
@babilen, to me it seems likely that these redundant options are the result of many authors making changes over time but without a coherently shared goal (or a single author who was not thinking carefully).  There should be one option `enabled`, for example.  Your other conclusions seem correct to me.  Please feel welcome to create a pull request implementing these changes if you want.

[2015-03-30 17:44] jfindlay commented on #22149
@dantezeppelin, it looks like you're trying to enter shell commands in the python prompt.  To quit python on windows, try `exit()` or `quit()`.

[2015-03-30 17:45] jfindlay commented on #22152
@vieira, thanks for the report.

[2015-03-30 17:46] jfindlay commented on #22131
@quixoten, thanks for the report.

[2015-03-30 17:49] cachedout commented on #22117
Hi @ag-wood

```raw_mod``` doesn't evaluate ```__virtual__``` functions in execution modules so that won't do what I think you want. Could you use ```minion_mods()``` and just pull out the functions you want from that list? I don't fully understand the packaging concerns you have, so I might need a little more clarification to assist if that doesn't solve the issue you're having.

[2015-03-30 18:27] dantezeppelin commented on #22149
But I want to Be in python

[2015-03-30 19:13] #21978 closed

[2015-03-30 19:15] rallytime commented on #21978
Thanks for checking that out, giving it another try, and following up here! :)

[2015-03-30 19:17] pkruithof opened #22164 "ufw module is not installed anymore on Debian/Ubuntu"
Something I noticed on my recent new Ubuntu installs (14.04 and 14.10): `/etc/ufw/salt.ufw` is missing. It always worked before and I could run `ufw allow salt` out of the box, but not anymore.

I think [this file](https://github.com/saltstack/salt/blob/43e69d2842c34cfb49b8997c7c3d5b378b43406a/debian/salt-common.install) should handle it (or at least provide the paths to copy), but I don't know ho

[2015-03-30 19:53] jcockhren commented on #21881
@bechtoldt Hey. Where are you on this? I'll be on the lookout for your awesome PR. :smile:

[2015-03-30 20:15] mimianddaniel commented on #22110
this is not just for test.ping, i tested it using cmd.run as well.

[2015-03-30 20:43] jfindlay commented on #22110
No, sorry.  So what you're saying is that when you batch commands, then minions connected through syndics do not respond?  Do you know if this behavior has changed or has always been like this?

[2015-03-30 21:09] iggy commented on #22149
This has nothing to do with Salt.

[2015-03-30 21:24] basepi opened #22171 "We should only call returner.save_load once per jid"
Right now we save the load in two places: once during the publish (inside of the `publish` function), and once inside of the `_return` function. This means we try to save the load again for each minion return. This is far from ideal from a performance standpoint, and also causes problems with some returners (such as mysql).

The reason we `save_load` on returns is in case of `salt-call`-initiated

[2015-03-30 21:43] br0ch0n commented on #20850
Ah, this makes a bit more sense now.  I should've looked closer at the code. The comments say that we're running 'puppet agent --test' but in actuality, the actual arguments implied by --test are being explicitly called instead (but no detailed-exitcodes, which I could've sworn was default anyway, but I guess not).
But yes, I'd say replace all of those array elements with just 'test'.

[2015-03-30 22:06] mimianddaniel commented on #22110
6c5f3f8d2eb8a810d3ec02982656c7ffe5fd46cc be an issue? Seems like it got commited on the 27th.

[2015-03-30 22:12] ag-wood commented on #22117
To try to clarify further, I have looked out how raw_mod is used in throughout the salt codebase and found three instances -  state.py, minion.py and output/_ _ init_ _ .py.

All three appear to expect a specific module to be returned as a collection of functions.  The current code in loader.py returns all functions for __all modules__ of the specified module type.

To satisfy the three use cases

[2015-03-30 22:15] #13177 closed

[2015-03-30 22:15] cachedout commented on #22117
cc: @jacksontj You might be interested in this conversation.

[2015-03-30 22:24] rallytime opened #22173 "Re-evaluate where the shell completions scripts are"
They should all be in the same place.

Check the tarball when getting ready for the release.

@thatch45 Said he's going to do this right now. :)

[2015-03-30 22:28] thatch45 commented on #22173
3 minutes

[2015-03-30 22:28] rallytime commented on #22173
:+1:

[2015-03-30 22:29] dantezeppelin commented on #22149
Well look at the BIG BRAIN ON BRIAN THE FIRST SENTENCE SAYS NEWBIE DORK!
Instead of being condescending you could help by suggesting a more
appropriate thread or even offer an opinion FOOL!

Don Juan Luchetti
On Mar 30, 2015 3:09 PM, "Brian Jackson" <notifications@github.com> wrote:

[2015-03-30 22:37] jfindlay commented on #22110
@cachedout, any comments?

[2015-03-30 22:48] thatch45 commented on #22149
@dantezeppelin sorry for the confusion on our end, but I am afraid that we don't have sufficient context to help you here. Perhaps you could help us understand what it is you are trying to do?

[2015-03-30 22:51] basepi commented on #22149
@dantezeppelin I don't think @iggy was trying to be condescending, he was just pointing out a fact. As it turns out, text is pretty tone deaf. =)

We'd love more details on what you're trying to do, or what example command line you're following. It's also possible you might have ended up in the wrong repo, since this doesn't appear to be relevant to Salt.

[2015-03-30 22:56] basepi commented on #22124
This feels like it's likely a ZMQ problem, and thus out of our hands (and something RAET will solve). I would also be interested to know if there's anything in the debug log on the minion -- I wonder if the minion is actually still running properly, or if the init script is just checking for the pidfile or something naive like that. </ramblingthoughts>

[2015-03-30 23:03] vielmetti commented on #22124
What else should I be checking for to see if the minion is working? There' s nothing in /var/log/salt/minion that looks at all interesting.

[2015-03-30 23:24] #22173 closed

[2015-03-31 03:38] polliard commented on #21961
@twangboy, @utahdave, @rallytime. First, thanks for the help!!!  Since I am posting to two "issue channels". I did a poor job including helpful information here and provided that information back channel. Should I stop opening tickets here and just open back channel. Not sure the two tickets is working :-(. What's your thoughts?

[2015-03-31 04:31] dmyerscough commented on #22112
@eliasp can you give me an example of your state so I can test and troubleshoot?

[2015-03-31 05:07] kevich commented on #14183
@basepi any luck with this issue as High Severity?

[2015-03-31 06:02] sirshurf commented on #21837
root@edesktop:/home/sirshurf# salt --versions-report
                  Salt: 2014.7.2
                Python: 2.7.6 (default, Mar 22 2014, 22:59:38)
                Jinja2: 2.7.3
              M2Crypto: 0.21.1
        msgpack-python: 0.3.0
          msgpack-pure: Not Installed
              pycrypto: 2.6.1
               libnacl: Not Installed
                PyYAML: 3.10
                 ioflo: N

[2015-03-31 06:29] sirshurf commented on #21837
Day later (today) I have runned the script again and all was ok...
----------
          ID: /etc/apache2/sites-enabled
    Function: file.recurse
      Result: True
     Comment: The directory /etc/apache2/sites-enabled is in the correct state
     Started: 01:26:15.358447
    Duration: 1500.964 ms
     Changes:
----------

[2015-03-31 07:32] luka-page commented on #22081
Hi,

Apologies for the late response, the salt version for the master is: Salt: 2014.7.1 and the minion is: Salt: 2014.7.1

We installed Salt via yum and we are running Oracle Linux 6 on both minion and master.

Thanks,

[2015-03-31 07:46] abcfy2 commented on #19861
Today this bug has been replicated. But no more logs for debug level.

Execute this command twice:
[code]
On minion:
[code]

minion log:
[code]

master log:
[code]

[2015-03-31 09:30] SPoage commented on #20485
Same issue as well.

[code]

[2015-03-31 10:18] eliasp commented on #22112
[code]

[2015-03-31 10:36] sirshurf commented on #21837
After a few changes, in the system (same stack file added to another server) the OLD server is falling again, and the new works ok...
And it's not a diferent version of minion, i checked it, here is my minions:
[code]

[2015-03-31 11:06] rallytime commented on #21961
@polliard Thanks for the question. I would say post the issue originally in the back channel. Then we will open up a new ticket here if we haven't seen the issue before. That way we can keep everything concise and everyone on the same page.

[2015-03-31 11:10] rallytime commented on #22081
Hrm...When you installed 2014.7.1, were you doing a fresh install or were you upgrading? If you were upgrading, do you remember which version of salt you had on there before?

Also, if you could post the output of `salt --versions-report` from both your master and you minion, that would still be very useful in trouble-shooting this issue. There is useful information in the versions report besides

[2015-03-31 11:49] Jiaion commented on #19172
Hi terminalmage ：

I'm sorry, I recently not logged in github, this situation may be unique in our company.
First, open the branch function.
Increase the hook point at different stages.

## branch config
[code]
## hook script
[code]
## repo file
[code]

[2015-03-31 12:20] rallytime commented on #22164
@pkruithof Thanks for the report here. You're talking about the latest packages, 2014.7.2, correct?

I suspect something just changed when @joehealy was doing the packaging this time around. I am not sure if that was intentional or not, but I think it was just a mistake.

[2015-03-31 12:25] joehealy commented on #22164
My guess is they have never worked on 14.x. I'll fix this in the upcoming 2014.7.4.

Thanks for the pickup.

Joe

[2015-03-31 12:28] rallytime commented on #22164
Awesome! Thanks Joe!

[2015-03-31 13:22] anlutro opened #22191 "Document Salt Jinja 2 globals/global variables"
I was doing the following:

[code]

Little did I know that both `user` and `group` are global variables in Salt's Jinja2 environment, which messed up my state and caused it to fail.

It would be nice to have all the global variables listed somewhere in the documentation, for example in the Jinja renderer chapter. I had a quick search in google and in Github issues but couldn't find anything.

[2015-03-31 13:44] rdoursenaud commented on #11276
+1

[2015-03-31 14:12] pass-by-value opened #22192 "Refresh modules related query"
Trying to use the ``tls`` state after installing ``pyOpenSSL`` on a _fresh VM_ but running into issues. Here is my distilled version of the state file.

[code]

It installs some packages and does a pip install for pyopenssl. Lastly it does a refresh modules and calls ``tls.create_self_signed_cert``

It doesn't seem to be reloading the tls module though since I see the following error.

[code]

But

[2015-03-31 14:40] jacksontj commented on #22117
I guess I'm not following what the issue is here. The new loader returns a dict capable of loading all raw modules (to be clear it lazily loads). From a quick look at the uses around that should be fine-- as you still have to access the dict to call the functions. Is there somewhere that relies on iterating over all items in the dict and those being the only ones for a given module?

[2015-03-31 15:21] #22058 closed

[2015-03-31 15:33] thatch45 commented on #22192
You can manually call for a module refresh post a state call with the reload_modules flag:

[code]

[2015-03-31 15:35] pass-by-value commented on #22192
Will try it out now thanks @thatch45

[2015-03-31 15:54] andygrunwald opened #22195 "Commit hash of deployed file (from gitfs) in returner information"
We are using a custom returner added to the master_job_cache. See https://github.com/saltstack/salt/issues/21814#issuecomment-83980692 for details.

In our state files we are using configuration files located in git and connected via gitfs to saltstack.
In the message of our return message we got several information like timestamp, function (e.g. state.sls), fun_args (e.g. webserver), and a diff o

[2015-03-31 16:04] thatch45 commented on #22192
If this works please close this issue out :)

[2015-03-31 17:14] clinta commented on #22059
Tested that commit and it works fine now using both methods. Thanks.

[2015-03-31 17:14] #22059 closed

[2015-03-31 17:37] pass-by-value commented on #22192
It works!

[code]

Thanks @thatch45

[2015-03-31 17:37] #22192 closed

[2015-03-31 18:15] dmyerscough opened #22204 "Hostname unresolvable causes delays in grains"
Hello All,

I bumped into an issue last night when I was using `salt-call --local`. When using `salt-call --local` the grains `core.hostname`, `core.fqdn_ip4` and `core.fqdn_ip6` use the `getaddrinfo` function which can cause significant delays in loading Salt if it cannot resolve the systems hostname.

When running `salt-call` with the debug option it just looks like Salt is reading the `/etc/sal

[2015-03-31 18:35] basepi commented on #22132
Hmmm, keep us posted if you can find a way to reproduce this consistently.

[2015-03-31 18:48] whiteinge opened #22207 "salt-cloud throws traceback if sdb value is referenced"
The `sdb://thing` reference is in my master config.

[code]

[2015-03-31 19:12] belvedere-trading commented on #20107
I've tested this in 2015.2.0rc1.  In addition to the problem still being present, I can't seem to get a cron based schedule to work at all.

[2015-03-31 19:21] rafamarangoni commented on #22040
Sorry, but, any news os sugestions?

[2015-03-31 19:34] matdrapeau opened #22208 "[salt-ssh] Being able to provide pdsh like hostnames"
A feature to provide hostnames to salt-ssh to be resolved like pdsh or clustershell like:
[code]

[2015-03-31 19:35] garethgreenaway commented on #20107
Running on centos 6.2 right?

[2015-03-31 19:41] belvedere-trading commented on #20107
CentOS 6.5

[2015-03-31 19:44] garethgreenaway commented on #20107
Will attempt to duplicate the issue.

[2015-03-31 20:02] ag-wood commented on #22117
Yes, the functions returned are expected to be those for the specified module only.  The functions that consume the output from raw_mod are expecting a single module that is fit for the purpose that they requested i.e. if a pkg state is being called from state.sls, and the package provider is specified in the pkg state, it is expecting the functions from a single pkg provider only.

The  get_progr

[2015-03-31 21:09] junster1 opened #22214 "ini_manage with white space delimiter?"
Based one what I can see you can't use space delimited key value pairs, it only assumes either an `=` or `:`.  Is this something that could be added?

`option_regexp1 = re.compile(r'\s*(.+?)\s*(=)(.*)')`
`option_regexp2 = re.compile(r'\s*(.+?)\s*(:)(.*)')`

I also noticed that if you have a comment like this:
`## my comment`

It will be silently updated to
`# # my comment`

Here is the version inf

[2015-03-31 21:41] RenoRainz opened #22215 "hipchat absent in distrubution packges"
Hi,

I tried to send hipchat message during a run but I got the following error :

I use the vagrant provider to install salt on both master and minion (ubuntu trusty), following packages are installed :

ii  salt-common                      2014.7.2+ds-1trusty2  all                   shared libraries that salt requires for all packages
ii  salt-minion                      2014.7.2+ds-1trusty2  al

[2015-03-31 21:46] ryanfields opened #22216 "npm state module: packages installed from git always reinstall"
[code]

Fails to see when /home/me/node_modules already contains strider, or lacks a means of comparing what's installed to what's about to be cloned.  The result is that git-sourced packages always reinstall.

[code]

[2015-03-31 21:51] basepi commented on #22061
It could also be something we make configurable, in case of people using it "properly" in production (separate minion id's, etc), and to make the existing minion swarm continue to work

[2015-03-31 21:54] basepi commented on #22066
This could be an interesting (optional) feature to have, to log (and maybe keep around) unauthorized key attempts. I've marked it as such.

[2015-03-31 21:54] rallytime commented on #22215
Thanks for the question @RenoRainz. The hipchat module and state are a newer addition to salt and won't be available in packages until 2015.2.0 is released.

Looks like we need to get some `versionadded` documentation in those files. I'll do that right now.

[2015-03-31 21:55] basepi commented on #12483
It implies that the best way to handle environments currently is to not have topfiles with conflicts top level keys. Only define an environment once, in a single topfile, because the merging is not currently happening as described in the docs.

[2015-03-31 21:57] basepi commented on #21480
2014.7.4 has been tagged and we're just waiting on packagers. If someone wants to install from source or pip in the meantime and see if this is resolved, that would be lovely. Otherwise we'll wait until the official announcement.

[2015-03-31 21:59] basepi commented on #22063
Both great points. I've marked this as a feature.

[2015-03-31 21:59] RenoRainz commented on #22215
Ok, thanks you :-)

Do you know 2015.2.0 will be released ?

[2015-03-31 21:59] rallytime commented on #22215
The tricky thing here is that docs.saltstack.com is built off of the latest develop. So the files that show up there are based on the develop branch, which can cause some confusion when you're working off a release.

[2015-03-31 22:00] rallytime commented on #22215
We are working on releasing 2015.2.0 within the next several weeks or so. We should have an RC out soon available for testing very soon.

[2015-03-31 22:01] basepi commented on #22124
Setting log level to debug might be useful (or even necessary) to see regular updates in that log. Creating a scheduled job on the minion also might help.

It's a problem I haven't thought about before -- we can't use `salt-call` because it works independent of an already-running minion. We might be able to see the status using strace or somethign.

[2015-03-31 22:01] RenoRainz commented on #22215
Ok great, may the force be with you :-)

[2015-03-31 22:03] basepi commented on #14183
Unfortunately, not yet. We've been working on getting a couple of delayed releases out. Hopefully we'll have time to start attacking the less high severity "High Severity" bugs soon. ;)

[2015-03-31 22:09] basepi commented on #22059
Awesome!

[2015-03-31 22:11] basepi commented on #22040
Unfortunately we haven't had a chance to investigate this further yet. It's going to be a beast to debug, I think, because I'm guessing it will be hard to reproduce.

[2015-03-31 22:30] garethgreenaway commented on #20107
I think I've managed to duplicate this issue, have you run the salt-minion in debug mode (-l debug) and seeing an exception regarding a file under /var/cache/salt/minion/proc?

[2015-03-31 22:42] Seldaek opened #22218 "Error reporting on masterless gitfs includes is misleading"
I tried including a formula using gitfs on a masterless setup, and ended up with this:

`Specified SLS mysql in saltenv base is not available on the salt master`

Seems related to #17963 but this is supposed to be fixed (I am using 2014.7.2). I would be happy to resolve that of course, but either way I wanted to point out that the error reads `... on the salt master` while I am running with `file_

[2015-03-31 23:15] freimer opened #22221 "No support for network namespaces in Linux"
Salt currently does not support network namespaces for Linux.  Need to extend many states and modules to support network namespaces.

[2015-04-01 02:45] Darnok99 commented on #21967
@cryptid11 @rallytime
well it took me a while to fix warning but problem persists:

[code]

[code]

[2015-04-01 03:24] gravyboat commented on #15265
Does anyone know what the status is on this? Are there any specific roadblocks that are preventing this from being an easy addition to the minion?

[2015-04-01 03:35] UtahDave commented on #15265
Yeah, it's a planned feature. It may have been implemented already in
develop. I'll check in the morning
On Mar 31, 2015 9:24 PM, "Forrest" <notifications@github.com> wrote:

[2015-04-01 04:00] gravyboat commented on #15265
@UtahDave Iggy was saying that it apparently is in develop already, looks like I must have just missed where the actual implementation is!

[2015-04-01 04:19] thatch45 commented on #15265
Heh, yes, I implemented it myself around 2 weeks ago, it will be in beryllium.

[2015-04-01 04:30] gravyboat commented on #15265
@thatch45 Can you please link the commit/where it is implemented for the minion for posterity in this issue?

[2015-04-01 04:39] thatch45 commented on #15265
Bah, I don't remember where it is, too much has happened, I will dig it up

[2015-04-01 04:41] thatch45 commented on #15265
Thats why I did not close this, I didn't finish for ZMQ

[2015-04-01 06:08] lrhazi opened #22230 "salt.master.MWorker died with exit status None"
Trying to run latest git develop in a centos6 Docker container... when master starts, it seems all workers die with the following error.

Bot sure which file is missing....

[code]

[2015-04-01 06:32] dbalan commented on #22031
any update on this? I can provide more info if you need.

[2015-04-01 07:49] sirshurf opened #22233 "svn.update failing with working copy locked"
I am sending a command from my master to the minion to update it and it's failing. but when I send the same command directly it works.

[code]

But when I run the same thing on the minion I have this:

[code]

They all should run under the user ROOT, and the minion is running as root.

[2015-04-01 08:23] PitrJ commented on #21480
I am trying to solve this issue as well. I made a state that basically just did a file.manged and nothing more. From a client I did the following:

while [ $? == 0 ] ; do  salt-call -l debug state.sls testing/pieter; done

All went fine the first 14 times, after that it broke:
[DEBUG   ] Fetching file from saltenv 'base', ** attempting ** 'salt://testing/pieter.sls'
[ERROR   ] Data is
Passed inval

[2015-04-01 08:25] PitrJ commented on #21480
Forgot the versions:
           Salt: 2014.7.2
         Python: 2.6.6 (r266:84292, Oct 12 2012, 14:23:48)
         Jinja2: unknown
       M2Crypto: 0.20.2
 msgpack-python: 0.1.9.final
   msgpack-pure: Not Installed
       pycrypto: 2.0.1
        libnacl: Not Installed
         PyYAML: 3.10
          ioflo: Not Installed
          PyZMQ: 14.3.1
           RAET: Not Installed
            ZMQ: 4.0.4

[2015-04-01 08:29] dhs-rec commented on #20850
Created #22234 against develop and #22235 against 2014.7.

[2015-04-01 08:30] gcamus commented on #21480
I think the problem is really due to GitFS and list of env issue. If you enable GitFS and you have multiple repos you have to create same branches on all your git repos or else use master conf (See below example) :

gitfs_env_blacklist:
  - release*

gitfs_env_whitelist:
  - base
  - bamboo

If you want you can check all declared GitFS envs names  in file : /var/cache/salt/master/gitfs/envs.p

[2015-04-01 08:37] dhs-rec commented on #21256
Any news on this?

[2015-04-01 08:39] PitrJ commented on #21480
We are using 1 repo as gitfs_remote.

[2015-04-01 08:59] gzhukov opened #22236 "Wrong path for lvdisplay execution"
Hi, I faced with wrong lvdisplay execution in salt-minion's logs:

[code]

[code]

[code]

My manifest:

[code]

[2015-04-01 09:00] PitrJ commented on #21480
Running the same loop with saltenv=base did not solve the problem. Still broke after about 20 cycles.

[2015-04-01 09:01] gzhukov commented on #22236
root@kafka1d:~# apt-cache policy lvm2
lvm2:
  Installed: 2.02.98-6ubuntu2
  Candidate: 2.02.98-6ubuntu2
  Version table:
 *** 2.02.98-6ubuntu2 0
        500 http://gce.clouds.archive.ubuntu.com/ubuntu/ trusty/main amd64 Packages
        100 /var/lib/dpkg/status

root@kafka1d:~# lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.1 LTS
Release:	14.04
Codena

[2015-04-01 09:19] gzhukov commented on #22083
I have the same error in my log but I use only
*/5 * * * * salt-call state.highstate
in my cron.

In logs:
....
  File "/usr/lib/python2.7/dist-packages/salt/modules/cmdmod.py", line 371, in _run
    .format(cmd, kwargs, exc)
CommandExecutionError: Unable to run command ['runlevel', '/run/utmp'] with the context {'with_communicate': True, 'shell': False, 'env': {'LANG': 'en_US.UTF-8', 'SHELL': '/b

[2015-04-01 10:13] pezzagetest opened #22238 "Solaris minion install problem"
Hi. It actually installed just fine but when I run it, it complains that it cant find something:
[code]
the file is there and when I try to run it like this I get another not found:
[code]
but the python folder is there:
[code]
What is the problem here?

[2015-04-01 10:17] arthurlogilab opened #22239 "include --retcode-passthrough in man pages"
--retcode-passthough is described in --help but absent from the man pages.

[2015-04-01 12:01] rafamarangoni commented on #22040
I understand Colton. Do you have any suggestion for work around?

[2015-04-01 12:04] masterkorp opened #22241 "Salt master not properly generating the map"
I have the following map.jinja on a formula

[code]

The `sensu["name"]` and `sensu["address"]` do not get set when using salt from a salt-master. While testing with salt-call and [kitchen-salt](https://github.com/simonmcc/kitchen-salt) they get they proper value just fine.

Both on the salt masterless, the minions and the master are on `Helium` above go the detailed versions-report
**Test box:**

[2015-04-01 12:31] ag-wood commented on #22117
I have created a pull request for this: https://github.com/saltstack/salt/pull/22240

[2015-04-01 12:41] djs52 commented on #19193
This also applies to `editable` -- line 561 of pip_state.py (`if requirements or editable:`) short-circuits the check that a package is already installed.

[2015-04-01 12:52] evilNullPointer opened #22244 "Regression in salt-run manage.down - 2015.2"
We upgraded from 2014.7.1 to 2015.2 yesterday and we got an error every time we run runner modules. The cli output had changed as well and generated double output (formated and raw json).

salt-run manage.down -l debug
[code]

2015.2
[code]

2014.7.1
[code]

[code]

[2015-04-01 13:19] Ligthert commented on #21837
I am getting the same error upgrading from 2014.7.1 to 2014.7.2 on Ubuntu.

[2015-04-01 14:10] achernev commented on #15023
Addressed this issue in PR #22245.

[2015-04-01 14:10] achernev commented on #14991
Addressed in PR #22245.

[2015-04-01 14:56] jacksontj commented on #22117
I see the issue-- that is a weird interface ;) I opened #22246 with a more efficient fix-- which gets the same result. I've also added a test for the interface.

[2015-04-01 14:56] cachedout commented on #22244
This looks like an issue that's been fixed at the head of 2015.2 already. Did you grab the v2015.2 tag or did you checkout the head of the branch?

[2015-04-01 15:16] evilNullPointer commented on #22244
I checkout the git tag

[2015-04-01 15:18] cachedout commented on #22244
Could you please try again on the head of the 2015.2 branch?

[2015-04-01 15:18] rallytime commented on #21480
@PitrJ It looks like you're on 2014.7.2, where we had some gitfs regressions. These have now been fixed in 2014.7.4, which was recently tagged and is now in the packaging stage. I'd recommend giving that tag a try, if you're able. If not, please let us know if you still hit this issue once the packages for 2014.7.4 are available and you've had a chance to retest.

[2015-04-01 15:44] rallytime commented on #22218
Thanks for the report and for catching that. We probably just need to change the wording there to be a little broader so we're not excluding masterless setups.

ping @terminalmage

[2015-04-01 15:49] Seldaek commented on #22218
Yup the wording is an easy fix and not so critical, but I am still curious if someone has a clue why gitfs fails on 2014.7.2 while it's supposed to work :)

[2015-04-01 15:54] rallytime commented on #22218
Oh, sorry. I guess I missed that part of the question. I know we had some pretty decent gitfs regressions in 2014.7.2 that have now been fixed. We just tagged the 2014.7.4 release, and it is now in the packaging stage. Are you in a place to test either from the tag on GitHub?

[2015-04-01 15:59] evilNullPointer commented on #22244
Yep the branch is working. Bug fixes are not backported to tagged versions? Ideally I don't want rogue commit to break my live environment and branches involved unfreeze/unstable development from my view.

[2015-04-01 16:00] rallytime commented on #22239
Good catch @arthurlogilab. We should get that in added to the man pages.

[2015-04-01 16:01] babilen commented on #21480
@rallytime Which particular issue are you referring to and in which commit was it fixed? Given that .4 won't make it into the repositories for some time I might consider building and distributing a locally maintained version or fix it in whatever way is appropriate, but for that I'd need to know more details.

[2015-04-01 16:17] Seldaek commented on #22218
I just ran the bootstrap stuff to get latest develop and I can confirm that `salt-minion 2015.2.0-899-g6566a5d (Lithium)` seems to work fine regarding gitfs. I found a regression though but I'll report another issue for that after investigating some more.

[2015-04-01 16:18] garethgreenaway commented on #20107
@belvedere-trading can you test latest 2015.2 and see if this fix works for you.

[2015-04-01 16:19] belvedere-trading commented on #20107
I'm not seeing any errors referencing /var/cache/salt/minion/proc in the current 2015.2.  I'm not able to get a 'cron-based' schedule to apply at all.  I'll update to the latest 2015.2 and see if that makes a difference.

[2015-04-01 16:21] cachedout commented on #22244
The v2015.2 tag represents the point at which the branch was cut from develop. It does not represent the final release of 2015.2, which will be tagged as v2015.2.0. All that work happens (and is happening) on the 2015.2 branch, which will be tagged as a final release in the coming days.

[2015-04-01 16:26] Seldaek opened #22252 "Regression in handling of cron.absent"
I just updated to `2015.2.0-899-g6566a5d (Lithium)` from `2014.7.2` and the following recipe now fails:

[code]

[code]

The user is created succesfully but ensuring that the cron is not defined fails for some reason.. I don't see why permissions are denied as /tmp is `drwxrwxrwt  5 root root 4096 Apr  1 16:19 .`

[2015-04-01 16:26] garethgreenaway commented on #20107
And you have python-croniter installed?

[2015-04-01 16:34] rallytime commented on #15023
Thanks very much @achernev!

@syphernl Can you give that pull request a try and let us know if that fixes the issue for you?

[2015-04-01 16:42] rallytime commented on #21480
@babilen Unfortunately, I don't have a particular commit or pull request number offhand. I was going off of @cachedout's comment above about reviewing the code and marking this as fixed pending verification.

I think really we are just wondering if someone can test this on 2014.7.4, where the tag (v2014.7.4) is pushed to the saltstack repo, or on packages once they come out. We'll certainly leave

[2015-04-01 16:43] belvedere-trading commented on #20107
I have croniter (0.3.5) installed.  It does through errors if croniter is not installed.

[2015-04-01 16:47] whiteinge commented on #22009
Yeah.

On Fri, Mar 27, 2015 at 4:37 PM, Colton Myers <notifications@github.com>
wrote:

[2015-04-01 16:56] rallytime commented on #22218
Great! Thanks very much for testing that out and definitely file a new report for the other issue.

[2015-04-01 16:59] garethgreenaway commented on #20107
Different issue than I saw then, going to install Salt in a CentOS 6 instance and see what's happening.

[2015-04-01 17:23] vectorsigma commented on #13263
FWIW, we really like the GPG rendering feature in Saltstack, so we're starting to roll it out farm wide to several thousand machines.  So the temporary fix of installing python-gnupg is only partially helpful, since RHEL 6 and RHEL 5 don't seem to ship that package.  We grabbed one from Fedora which seems to work, but that's an ugly hack.

TL;DR: Upvote from OpenX for fixing this bug. :+1:

[2015-04-01 17:44] jfindlay commented on #21256
@dhs-rec, 2014.7.4 and beyond has a new windows installer that has fixed many issues.  I'm not sure about the bootstrapping component, @UtahDave, @twangboy, or @techhat may have more comments on that.

[2015-04-01 17:47] jfindlay commented on #21837
@Ligthert, what do you mean by every other time?  Every other time you do an upgrade or every other time you restart the salt-minion?

[2015-04-01 18:15] rallytime commented on #21967
Thanks for the update. I don't think anyone has gotten a change to fix this yet.

[2015-04-01 18:17] vielmetti commented on #6593
Just ran into this issue today, with a key showing up in both the "accepted" and "unaccepted" lists. Following the instructions here to recover.

[2015-04-01 18:18] rallytime commented on #22207
ping @techhat

[2015-04-01 18:19] rallytime commented on #22216
Thanks very much for this report @ryanfields.

[2015-04-01 18:20] variia commented on #22252
Hi,
The permission denied could come from sticky bit set on /tmp (most Linux distros do that default, notice the trailing 't' on perms). That would indicate that /tmp/tmpEdiNjj was created by root or some user other than 'testuser'. Sticky bit prevents users modifying/deleting files that belong to other users with the exception of root, which can do whatever it wants.

Ivan

[2015-04-01 18:20] rallytime commented on #22208
Thanks for this report @matdrapeau and for the fix!

Since your pull request has been merged, can this issue be closed? Or is there still more work to be done here?

[2015-04-01 18:22] whiteinge opened #22257 "Make new 'serializer' module type"
Serializer modules would be responsible for deserializing and serializing common file formats to and from Python data structures. The usual suspects JSON, YAML are well supported. XML [is easily supported](https://github.com/saltstack/salt/compare/develop...whiteinge:xml-badgerfish-serializer).

This would also allow a pluggable interface for domain-specific serializers such as configuration files

[2015-04-01 18:23] rallytime commented on #22195
That seems like a good idea to me, but I am going to defer to @terminalmage for comments about this.

[2015-04-01 18:24] whiteinge commented on #22257
TODOs:

* [ ] Add `serializer` support to the loader interface.
* [ ] Move existing serializer .py files into `salt/serializer` directory.
* [ ] Add execution module to easily call arbitrary serializers from the CLI/Jinja.
* [ ] Update the `file.serialize` state module to call the new, generic execution module from the previous todo.

[2015-04-01 18:25] whiteinge commented on #22257
@cheuschober ^^.

[2015-04-01 18:26] andygrunwald commented on #22195
If you can name me some files / functions where the return values will be
created, i will try to create a PR

Am Mittwoch, 1. April 2015 schrieb Nicole Thomas :

[2015-04-01 18:27] garethgreenaway commented on #20107
I fired up a CentOS 6.6 docker instance running salt 2015.2 with your example pillar for the schedule items and I'm seeing the jobs run.  So you're not seeing the jobs run at all?

[2015-04-01 18:27] rallytime commented on #22230
Thanks for the report @lrhazi. I am not very familiar with our docker support, but @terminalmage has been making some changes there. Perhaps he has seen something like this before.

Or maybe @basepi does this look familiar to you?

[2015-04-01 18:32] surajssd commented on #21721
Hi, I did submit patch for this issue and has been merged in [issue#22118](https://github.com/saltstack/salt/pull/22118). So please take a look.

[2015-04-01 18:39] basepi commented on #22040
You might test on one of the 2015.2 release candidates (we're hoping to have v2015.2.0rc2 out in the next day or two), see if things are better there. Otherwise I'm stumped at the moment.

[2015-04-01 18:47] basepi commented on #22230
Sounds like `which` may be missing. Can you run `which selinuxenabled` on the command line?

[2015-04-01 18:57] #22208 closed

[2015-04-01 18:58] jfindlay commented on #21721
Actually, I referenced this issue, by editing @surajssd's commit message.

[2015-04-01 19:01] rallytime commented on #22236
Thanks for this report @gzhukov. I am curious if this has potentially been fixed at the HEAD of 2015.2. Are you in a position to give that a try and see if you still hit this error?

[2015-04-01 19:09] cheuschober commented on #22257
@whiteinge Does a good job of capturing the goals of a pluggable serializer concept. I didn't think about the execution module part of it but it makes perfect sense. Does ``file.managed`` use ``file.serialize`` under the hood or should that be added too?

[2015-04-01 19:18] whiteinge commented on #22257
I think `file.serializer` would be used in place of `file.managed` for files you're not templating with Jinja. Also the execution module would be useful from Jinja for using serialization with subsets of the config file.

[2015-04-01 19:21] jfindlay commented on #22214
@junster1, I did not know that (some?) ini-formatted files supported whitespace-separated key, value pairs.  Thanks for the feature.  That comment thing looks annoying too.

[2015-04-01 19:22] jfindlay commented on #22221
@freimer, thanks for reporting.

[2015-04-01 19:24] jfindlay commented on #22230
This is fixed in #22177.  @lrhazi, what is the output of `salt --versions-report`?  Thanks.

[2015-04-01 19:24] cheuschober commented on #22257
@whiteinge Sounds very reasonable. Not related to this request but perhaps adjacent, I did like the paradigm of adding an appropriate comment to the effect of *Don't modify this file! This file is managed by {{ source }}* for the admin diving a filesystem. Using `file.serialize` does give that up, currently. After an initial implementation, it might be worth adding some type of default header supp

[2015-04-01 19:29] jfindlay commented on #22233
@sirshurf, what is the output of `salt 's2' test.versions_report`?  Also can you paste the associated minion debug log?  Thanks.

[2015-04-01 19:32] whiteinge commented on #22257
Good suggestion.

[2015-04-01 19:47] jfindlay commented on #22238
@pezzagetest, where did you download the salt package from?  Also, what is the first line of `/opt/csw/bin/salt-minion` and does the python interpreter listed there actually exist on the system?

Ping @dmurphy18.

[2015-04-01 20:10] terminalmage commented on #22230
@rallytime I have not been making changes to dockerio.py. I rewrote docker support in dockerng.py.

[2015-04-01 20:16] br0ch0n commented on #20850
If I'm reading this right, won't this change still obscure the exit code to either 0 or 1?  It would be desirable to return the actual puppet agent code since one might want to see if anything changed during the run.  It should be left up to the caller to interpret the exit codes IMO.

[2015-04-01 20:25] babilen commented on #21480
@rallytime That's perfectly fine. I might have just given it a try if it had boiled down to a simple patch that I can test easily. It's just that I haven't immediately seen something related while glimpsing over the git log and was curious.

[2015-04-01 20:29] dmurphy18 commented on #22238
It would be useful to know the version of Solaris and the architecture that you are installing on, also any other information on the system and package that you are attempting to install / use.

More information the better.

[2015-04-01 20:33] basepi commented on #22040
Could you also add some debug logs from the minion with these problems occurring?

[2015-04-01 21:31] cachedout commented on #22244
Since it sounds like this is indeed working, I'm going to close this issue. If you have more questions about the release tagging, just leave a comment and we can keep discussing it. :]

[2015-04-01 21:31] #22244 closed

[2015-04-01 21:32] cachedout commented on #22117
@ag-wood Please test this now that @jacksontj 's fix is in and close this issue if appropriate. Thanks!

[2015-04-01 21:33] cachedout commented on #21651
Since we've had a fix merged for a week now, I'm going to go ahead and close this issue. Thanks, all.

[2015-04-01 21:33] #21651 closed

[2015-04-01 21:41] cachedout commented on #20777
@bersace And does fully restarting the master resolve the issue for you as it did for @wt?

[2015-04-01 21:46] cachedout commented on #20777
This sounds more like a problem with the system service not fully restarting the salt-master than anything else. What distro is this behaviour being observed on?

[2015-04-01 21:55] wt commented on #20777
In my case, Amazon Linux.

[2015-04-01 21:55] cachedout commented on #20630
@kriberg With a minion that's unresponsive, it looks like it's receiving commands (generally) but the returns aren't making their way to the master, correct?

I'm curious about the state of the TCP session on a minion that exhibits this condition. Do you see any difference between the TCP session for port 4505 and the one for 4506 on an affected minion? If it's reporting as being connected on 4506

[2015-04-01 22:04] cachedout commented on #18729
One more ping, @wt. Is this problem ongoing, even with that patch in place?

[2015-04-01 22:23] cachedout commented on #12935
That problem with the nested data keys was actually causing other issues. I believe we have it addressed here: https://github.com/saltstack/salt/pull/21775. Take a look at the change to masterpi and see if it does what you're looking for.

[2015-04-01 22:32] cachedout commented on #22048
@quantonganh Which fileserver backends are you using? Is it just ```roots``` (the default local filesystem) or something else?

[2015-04-01 23:19] ag-wood commented on #22117
Thanks very much @jacksontj and @cachedout , that's perfect - tested fine for my installation.

[2015-04-01 23:30] rallytime commented on #21149
Thanks for the question. I am not all that familiar with how the windows minion works, but @twangboy or @UtahDave might be able to offer some help here.

[2015-04-01 23:34] whiteinge commented on #21982
@soodr I haven't been able to reproduce this yet. I've tried hammering with many concurrent requests all running `key.list_all` with the hopes that would reveal it. No luck. I'm not sure where to go next.

If you can think of any steps you common run before seeing this I can try those as well. Deleting/accepting keys, anything like that. How is the free disk space and available inode count on that

[2015-04-01 23:46] mimianddaniel commented on #21749
Not sure if there has been any update on this or not but, i noticed that modifying the following two parameters in config.py makes the number of returns most consistent.  Shouldnt these be configurable??
syndic_max_event_process_time
syndic_event_forward_timeout

[2015-04-01 23:55] jacksontj commented on #22117
Np, sorry for the breakage ;)

[2015-04-02 01:11] lrhazi commented on #22230
I was gonna reply: But of course i checked that!.... Maybe not... my shell had it builtin, but actual external */bin/which does not exist indeed...  "yum install which" fixed this.

[2015-04-02 01:11] #22230 closed

[2015-04-02 01:15] dogrover opened #22269 ""State 'archive.extracted' is unavailable" on 2014.7.2 on Windows"
I've seen several issues about the state `archive.extracted` not working in 2014.7.1 and earlier:

- #13077 archive state not working
- #20852 Not able to extract archive in 2014.7.1
- #21341 2014.7.1 regression. archive.extracted does not work

Those issues all seem to have been resolved, but I'm seeing something similar on 2014.7.2, on Windows:

[code]

Perhaps unrelated: is that "Failed to impo

[2015-04-02 01:56] lrhazi opened #22270 "salt-master does not respond"
Fresh install of salt git develop, in docker container from centos6 or centos7 images.
Staring master in foreground, never seems to print anything after:

[code]

this command times out:
[code]

[2015-04-02 02:11] lrhazi commented on #22270
Here is a minimum dockerfile to reproduce the issue:
[code]

build it:
[code]

run it:
[code]

Watch the logs:
[code]

[2015-04-02 02:20] quantonganh commented on #22048
@cachedout: We are using both of `roots` and `git`:

[code]

[2015-04-02 02:54] ryan-lane opened #22273 "boto_iam state's delete_keys function doesn't support test mode"
delete_keys doesn't support test mode, which will be a really dangerous surprise if someone tries it.

Ping @tsaridas

[2015-04-02 03:01] ryan-lane opened #22274 "boto_elb state's register_instances function doesn't support test mode"
Missing a check for test mode.

[2015-04-02 03:15] ag-wood commented on #22117
Sorry to re-open this @jacksontj, @cachedout, but there's another aspect of this that seems to be missing.  I tested over-riding the package provider during state processing as described in the first section of the [State Providers](http://docs.saltstack.com/en/latest/ref/states/providers.html) documentation.  This works fine, however, over-riding the package provider using the [providers option i

[2015-04-02 04:18] lrhazi commented on #22270
I tried with https://github.com/phusion/baseimage-docker, instead of plain centos images and its seems to work fine. so I guess this is Salt in Docker container issue, and not Salt proper. Feel free to close.

Thanks.

[2015-04-02 04:47] gmcwhistler commented on #18843
just throwing in a "me too"

           Salt: 2014.7.2
         Python: 2.6.6 (r266:84292, Jan 22 2014, 01:49:05)
         Jinja2: unknown
       M2Crypto: 0.20.2
 msgpack-python: 0.1.13
   msgpack-pure: Not Installed
       pycrypto: 2.0.1
        libnacl: Not Installed
         PyYAML: 3.10
          ioflo: Not Installed
          PyZMQ: 2.2.0.1
           RAET: Not Installed
            ZMQ: 3.

[2015-04-02 05:25] ag-wood commented on #22147
I believe this is using enabled and disabled in a RedHat family repository sense.

- Disabled
  - the repository is not available for general use for installing packages / resolving dependencies if no other option is provided
  - Override an enabled repository to make it disabled for a given package.
- Enabled
  - the repository is available for general use for installing packages / resolving depe

[2015-04-02 05:30] dhs-rec commented on #20850
Yes. Thought about this, too. However, I wasn't sure whether an exit code of 2 would make the caller think there was an error, so I combined the "good" cases into one exit code (0).

Feel free to change that.

[2015-04-02 06:25] syphernl commented on #15023
Seems to work just fine @rallytime & @achernev! All passwords were replaced properly and are remaining in the correct state in subsequent runs.

Initially it didn't look like it but that was because `state.sls`  doesn't force a sync of `_modules`. :)

Tested on:
[code]

With manually patched `grains.py` in the `_modules` directory on the master.

Would be nice if this fix could be backported to th

[2015-04-02 06:28] syphernl commented on #14888
As I mentioned earlier in #15023, this is now working as it should with the changes done in #22245.

[2015-04-02 06:29] syphernl commented on #14991
As I mentioned earlier in #15023, this is now working as it should with the changes done in #22245. Thanks @achernev!

[2015-04-02 06:47] #21397 closed

[2015-04-02 06:54] sirshurf commented on #22233
Here:
[code]
And I do not know how to get minion debug log, can you point me?

[2015-04-02 07:17] NancyPaul commented on #21980
Hi Rally,

I have a doubt please help me to solve this.

I have ping federate its normally a zipped folder. We will be extracting and run 'run.bat' to work with it. We don't have any 'exe' file for it. If i want to run my ping federate as a service in remote system what should i do???

I don't have an idea about this can you please help me???

[2015-04-02 07:29] dhs-rec commented on #21256
Wanted to test with the new installer, but we've already switched AWS region to eu-central-1 (Frankfurt), so that I promptly ran into #16921.

[2015-04-02 08:39] HiTeN commented on #13216
Any news on this issue ?

I'm willing to try any fix or workaround you may have as this issue is really affecting my daily deployments...

[2015-04-02 09:46] pingliu opened #22279 "problem with rest_cherrypy"
HELP
I have a question about rest_cherrypy.
[code]

this is ok. I can add user.
but when I want to add more args in user.add func.
how can I use it.
```'arg':['test',groups='sudo']```  doesn't work.

[2015-04-02 10:06] ag-wood commented on #22147
My mistake - the functionality I described in my previous comment is covered by the 'enablerepo' and 'disablerepo' options of the yumpkg module.

@babilen, from the comments in the pkgrepo state module:
[code]
it is apparent that the disabled option is for people who use apt and the enabled is for people who use yum.  For what it's worth, I personnally use both and would not have an issue with one

[2015-04-02 10:25] innokenty-shuvalov commented on #18652
I'm facing almost the same issue right now with apt instead of yum.

[code]

In my recipe I have:

[code]
And when I run state.highstate I get the following output:

[code]

[2015-04-02 10:32] nmadhok commented on #20805
@techhat Found this.

[2015-04-02 10:41] innokenty-shuvalov commented on #18652
Just minutes after posting the previous message I understood what was causing the problem: Apt considers version ```3.6-0-1``` to be higher than ```3.6-2```. But salt most likely did not so didn't update at all. It didn't update even to the version ```3.6-3``` because it had no knowledge of that one, because apt was returning version ```3.6-0-1``` as the highest. I created version ```3.7``` and ev

[2015-04-02 11:17] paolodina commented on #21521
dup reference: https://github.com/saltstack/salt/issues/21191

[2015-04-02 12:49] rafamarangoni commented on #22040
those logs above are from the minion, running the salt-call. Is that ok? Do you need any other specific log?

About upgrading to 2015.2: I'm using yum/EPEL, and this version is not available yet. What's the best to install 2015.2 over the 2014.7.2 installed  by YUM/EPEL?

[2015-04-02 13:47] eedgar opened #22284 "salt-auth yubico isnt working on 2014.7.0 please update the documentation."
It appears that salt-auth yubico is a new feature probably for the 2015.2.0 release, but the documentation doesn't make that clear.  please update the documentation accordingly to mention when this was added.

[2015-04-02 14:04] shawnbutts opened #22285 "Docs: boto_iam_role.present & policies_from_pillars example pillar"
Currently the doc have an example state:
.
.
        - policies_from_pillars:
            - shared_iam_bootstrap_policy
.
.

I'm having trouble getting this working. I think an example of what 'shared_iam_bootstrap_policy' looked like and/or an example of how to use a pillar with a deeper structure would be helpful.

[2015-04-02 14:09] jfindlay commented on #22233
The minion log is located on the minion at `/var/log/salt/minion`.  The log file defaults to the debug level.  Or you can start the minion manually in debug mode `salt-minion -l debug`, thanks.

[2015-04-02 14:12] achernev commented on #18544
Are you sure you guys are using the correct functions? Seems to me `grains.remove` is for removing an item from a list grain while `grains.delval` is the one to remove the grain itself. Here's an example:

<pre>
# salt-call grains.append test_list item_one
# salt-call grains.append test_list item_two
# salt-call grains.append test_list item_three
# cat /etc/salt/grains
test_list:
- item_one
- item

[2015-04-02 14:36] #20841 closed

[2015-04-02 14:36] #22215 closed

[2015-04-02 14:38] jfindlay commented on #22147
@ag-wood, thanks for your input on this issue.

[2015-04-02 14:44] rallytime commented on #15023
Awesome! Glad that is working for you. We've already tagged 2014.7.4 and it is currently in the packaging stage. Since this fix was made against develop, it didn't make it into 2014.7.4. However, it is marked for backporting so I will backport that so it can be in a release sooner rather than later.

Is it okay with you @syphernl if we close this issue?

[2015-04-02 14:48] babilen commented on #22147
@ag-wood Yeah, that is what I referred to as "unhealthy munging" earlier. The problem with this is that it requires *everything* to use the sanitized repository definition which is, at this point, not the case.

I am also not entirely sure if the sanitized version can be used as a drop-in for the non-sanitized version as I seem to recall that I have seen differences in datastructures (i.e. I seem

[2015-04-02 14:56] #22285 closed

[2015-04-02 15:09] garethgreenaway commented on #22112
@dmyerscough are you actively working on this one?

[2015-04-02 15:16] techhat commented on #22207
@whiteinge what version is this?

[2015-04-02 15:18] whiteinge commented on #22207
Tested on both 2014.7 and 2015.2, IIRC.

On Thu, Apr 2, 2015 at 9:16 AM, Joseph Hall <notifications@github.com>
wrote:

[2015-04-02 15:49] syphernl commented on #15023
Yep, lets close it. Hope this fix makes it into stable soon, so I can finally improve my states with random strong passwords :)

[2015-04-02 15:49] #15023 closed

[2015-04-02 15:54] dmyerscough commented on #22112
@garethgreenaway I have been trying to simulate the error. I tried the following:-

[code]

I removed `acl` from the state and re-ran the state and it works as expected, I cannot get this to fail.

[2015-04-02 16:11] rallytime commented on #18544
@achernev Thanks for pointing this out. You're absolutely right about the different functions here. I think a misunderstanding of the difference between using `grains.setval` and `grains.append` to get the grain set in the first place. This then determines when to use `grains.delval` vs. `grains.remove`.

@bigg01 I would suggest using `grains.delval` when trying to remove grains that were set usin

[2015-04-02 16:17] shawnbutts opened #22290 "modules/boto_iam.py json parsing issue"
Running Amazon Linux 2015.03 with Salt installed via bootstrap (yum packages)

[code]

Run: `salt-call -l debug boto_iam.get_role_policy nat Backup-to-s3`

Returns:

[code]

If I updated the import for json in modules/boto_iam.py to "import simplejson as json" the problem is fixed.

[2015-04-02 16:28] basepi commented on #21980
Hey @NancyPaul. Below are some workaround instructions from that other issue:

[code]

Note that you retrieve the exe file from the link above. You can stick it on your master at `/srv/salt/storage/unzip.exe` and then use the state above to push it to your windows minion, and then run it on your zipped folder. Make sure you change `C:/tmp/installer.zip` to your .zip file, and `C:/tmp/build/` to th

[2015-04-02 16:29] basepi commented on #21980
Note also that the `IF NOT EXIST` line should be changed so that it looks for a file within your unzipped folder. That way if the folder has already been unzipped it won't be unzipped again.

[2015-04-02 16:33] rallytime commented on #22269
@dogrover Do you know if this function was working in an earlier release on windows? I have a suspicion that the root cause here is perhaps the fact that the module function `archive.unzip` is not available in windows and perhaps archive.extracted also wasn't written with windows in mind. See issue #12992.

If it was working in windows, then let's get this bug fixed. If it's the case that this has

[2015-04-02 16:36] rallytime commented on #22273
Thanks for the report @ryan-lane! Looks like @tsaridas has fixed it already. Thanks!

[2015-04-02 16:41] MrMarvin commented on #21480
From the piece of code I looked at I believe that the issue is master side only. I upgraded our master to git v2014.7.4.
It now runs
[code]

The minions however are still running 2014.7.2 from ubuntu trusty repos.

For me **the issue is still there.**

And yes, our setup uses multiple gitpython based gitfs repos, some with a non-default branch. Just to make sure we are talking about the same error

[2015-04-02 16:45] yannick opened #22294 "salt-cloud ec2: minion_id set to hostname instead of supplied name"
when i spin up a machine with salt-cloud -p myprofile host.name on ec2 the minion
tries ends up with the amazon style ipstring (e.g. "ip-10-10-12-110") in /etc/salt/minion_id  instead of host.name

[2015-04-02 16:53] basepi commented on #21749
If they're in config.py, then they're configurable via the master/minion config, even if they're not included in the template. We should definitely better-document these options, however, and perhaps evaluate changes in their default values.

[2015-04-02 16:54] #14991 closed

[2015-04-02 16:54] basepi commented on #14991
Awesome!

[2015-04-02 16:57] basepi commented on #13216
No news, but I put it on the milestone for our next feature release so we can get some eyes on it and make a decision. In 2015.2 we changed the salt outputter to show minions which didn't return by default, so I think the pattern is swinging in the direction of "minions which didn't return are treated as an error".

It should probably be configurable, as well.

[2015-04-02 16:58] yannick commented on #22294
i fixed this by using -F in script_args for bootstrap-salt.sh.
before it complained about not overwriting /etc/salt/minion_id

[2015-04-02 17:07] basepi commented on #22040
You're right, they are indeed minion logs, sorry for my confusion.

The easiest way is to just use the [bootstrap script](https://github.com/saltstack/salt-bootstrap), and target a git tag for one of the release candidates. Looks like RC2 isn't quite up yet, but I'm hopeful it will go up later today.

[code]

I'm mostly frustrated that there's not more in the logs....is there anything of interest

[2015-04-02 17:16] ryan-lane commented on #22273
It's partially fixed. It looks like the test mode doesn't check to see whether or not the keys need to be deleted; it just reports that it's going to delete keys (which may not be true :) ).

[2015-04-02 17:49] tsaridas commented on #22273
thats true, if thats the test you need then the test will have to be moved to the private function _delete_key. That also means that the function has to return ret to the main. Thus ret has to be defined or provided as a parameter.

I'll try to have a PR over the weekend but my hands are busy with the cnf module/state atm.

[2015-04-02 17:52] wt commented on #18729
I don't actually know. I actually restart the minions and master once per day. I can tell you that highstates take much longer to run right before the restart. Sometimes they do not complete. Here's a log message I seem to get around that time:

[code]

In fact, I ended up getting this message when I attempted to do a manual highstate just before the restart of the master.

[code]

If I start a ne

[2015-04-02 17:59] eedgar opened #22295 "salt-auth yubico isnt working."
I am trying to test the new yubico auth in 2015.2.0rc1.

I am getting this error.
[code]

[2015-04-02 18:20] jberkus commented on #4245
I'm not sure if this would be handled by the same request or not.  If it's not, I'll open a new bug/request.

I'd like to be able to create inter-minion dependancies in a orchestrate runner.  That is, to be able to say "if any state fails on node A, do no execute on node B".  This would obviously prevent the orchestrate jobs from running in parallel.

My use case for this is doing failover in sing

[2015-04-02 18:27] ryan-lane commented on #22273
No rush. The change that's in currently at least won't cause people to delete keys they weren't expecting to.

[2015-04-02 18:43] garethgreenaway commented on #22112
Is `acl` one of the hidden mount options?

[2015-04-02 19:24] andrew-vant commented on #21480
I have this on 2014.7.2 as well. It is intermittent, and the trace usually seems to get come from within a defaults.get call. (possibly pillar.get as well, I am unsure)

I will re-test when the next package is available.

[2015-04-02 19:27] rallytime commented on #21480
Thanks very much for testing this on a newer version @MrMarvin. I'll remove the fixed pending verification label.

[2015-04-02 19:31] rallytime commented on #22284
Thanks for filing this bug. I'll fix that right now!

[2015-04-02 19:38] rallytime commented on #22284
I've fixed this is the pull request above. The change in the documentation should appear in the next couple of days as the pull request gets merged forward and the docs rebuild. Thanks!

[2015-04-02 19:38] #22284 closed

[2015-04-02 19:49] rallytime commented on #22279
@pingliu I am not very familiar with the code in rest_cherrypy, but perhaps @whiteinge can take a look here.

Also, can you please post the output of `salt --versions-report`?

[2015-04-02 19:50] rallytime commented on #22191
Thanks for the suggestion @anlutro.

ping @jacobhammons

[2015-04-02 20:00] jfindlay opened #22298 "windows pkg.remove error"
### version
[code]
### master config
[code]

### setup
[code]
### execution
[code]

[2015-04-02 20:02] jfindlay commented on #21059
Related to #22298.

[2015-04-02 20:02] jfindlay commented on #21041
Related to #22298.

[2015-04-02 20:03] jfindlay commented on #22298
@twangboy

[2015-04-02 20:07] rallytime commented on #22294
@yannick Can you please post the output of `salt-cloud --versions-report`?

[2015-04-02 20:12] whiteinge commented on #22279
Since you're doing this in Python you'll have a _much_ easier time of things sending JSON instead of urlencoded data (it's possible with urlencoded data but it's ugly, relies on string parsing and looks like `'arg': ['test', 'groups="sudo"'`).

Add the `Content-Type: application/json` header to your request and then you can create a real data structure to send through as JSON. Just make sure postd

[2015-04-02 20:16] rallytime commented on #22295
Thanks for trying this out @eedgar. I am not familiar with this particular code. @dmyerscough It looks like you introduced this module. Would you mind taking a look here?

[2015-04-02 20:22] rallytime commented on #22274
Thanks @ryan-lane

[2015-04-02 20:34] rallytime commented on #14888
Thanks for the updates @syphernl!

@djs52 Can you verify that this issue is fixed with the changes that @achernev made in the pull request referenced above?

[2015-04-02 20:42] basepi commented on #22290
Huh. I wonder if the python 2.6 version of `json` doesn't support that keyword argument. We may have to gate this based on python version or something. I don't think we want to dep on simplejson.

@ryan-lane and @tsaridas thoughts?

[2015-04-02 20:46] ryan-lane commented on #22290
Is that hook actually needed? We can probably just convert the object before it's passed into json.

[2015-04-02 20:54] eliasp commented on #22112
In my case, it was `bg` which I dropped from the state above.

[2015-04-02 20:56] basepi commented on #4245
This is definitely supported. Just have one state only target node A, and then the other state target node B and `require` the first state. You should be golden!

[2015-04-02 20:57] basepi commented on #22290
That seems like a reasonable solution to me.

[2015-04-02 21:04] tsaridas commented on #22290
This is why I added describe_role() but didn't want to change the existing function since I didn't want to break compatibility with anything.
You can use mine and delete the old one if you think nothing from the state is going to break.

[2015-04-02 21:50] belvedere-trading commented on #20107
It appears that having the following parameter set in the minion config file is the underlying cause:

loop_interval: 60

Removing that parameter causes the issues to stop occurring and putting it back causes it to re-occur.

[2015-04-02 21:53] basepi commented on #22204
Nope, that sounds great! I think we may have more grains information at the trace loglevel, but that loglevel is so verbose as to be ridiculous.

[2015-04-02 21:58] basepi commented on #22241
That versions-report stacktrace is weird. How did you install the master? Seems like we should get that resolved, because you may have something weird going on with your install.

Do the rest of the values get set correctly? As in, are those the only things missing, but the rest of `sensu` is there?

Can you clarify? What are you doing differently? The map should still execute on the minion side a

[2015-04-02 22:00] #22270 closed

[2015-04-02 22:00] basepi commented on #22270
Thanks for the update @lrhazi !

[2015-04-02 22:00] yannick commented on #22294
sorry.
[code]

[code]
this produces a minion_id file and the system package supplied, commented /etc/salt/minion file stays there.
when i add script_args -F everything works as desired, no /etc/salt/minion_id is generated but
```desired-host-name ``` appears in a /etc/salt/minion stripped version with no comments .

i guess its actually expected behavior as the system has the salt package already

[2015-04-02 22:01] basepi commented on #22270
PS: If you wanted to debug this more, I would recommend getting into the docker container, stopping the master, and then starting it in the foreground with debug loglevel:

[code]

Might give you a better idea of what's going on.

[2015-04-02 22:04] EugeneKay commented on #12301
Any update on this Issue? It's been almost a year. I can look into providing a patch, but I don't know which method would be preferred.

[2015-04-02 22:06] garethgreenaway commented on #20107
So uncommenting that option causes the issue to exist and commenting it out causes it to work as expected?

[2015-04-02 22:07] dmyerscough commented on #22204
Ill get a pull request in shortly.

[2015-04-02 22:09] dmyerscough commented on #22295
@eedgar let me look into this shortly.

[2015-04-02 22:25] rallytime commented on #22252
Thanks for the report @Seldaek and for the help @variia! Looks like we've got a bug here.

[2015-04-02 22:43] EliRibble opened #22306 "S3 ext_pillar does not properly set pillar directory in multiple_env mode"
Salt version 2014.7.4

To reproduce the problem I'm running salt in masterless mode. I've configured the following in /etc/salt/minion

[code]

I have the bucket set up with /base/top.sls, /base/test.sls.

/base/top.sls:
[code]

/base/test.sls:
[code]

When I run `salt-call pillar.get test -l debug` it downloads the top.sls and test.sls files to `/var/cache/salt/minion/pillar_s3fs/base/salt-pillar

[2015-04-02 23:18] mimianddaniel commented on #21749
I am leaning towards using returners for everything since this method of tracking the results with zeromq is unreliable and cumbersome to configure.  Is there a case where returns are necessary ? Since this returns to master are default, I am curious to know where the reasoning came from.

[2015-04-02 23:29] techhat commented on #22294
Hi @yannick. When a new stable version of the bootstrap script is released, it is copied into the Salt repo as well. However, https://raw.githubusercontent.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh is the develop version of the bootstrap script, not the stable version.

And you are correct: on a system which already has Salt installed, I would fully expect the bootstrap script to leav

[2015-04-03 00:06] #22204 closed

[2015-04-03 00:26] dmyerscough commented on #22295
Hello @eedgar I just tried this on my machine and it works fine:-

[code]

Can you ensure you have the Yubico libraries installed:-

[code]

[2015-04-03 00:41] RobertAtomic opened #22312 "Unable to spin up GCE instances"
Hi,

I'm unable to create GCE instances using salt-cloud.  The issue seems to be that zone=None for some reason in the call to ex_get_disktype.  Is this a bug, or am I doing something wrong?  Config and output below.  Thanks in advance for any help.
[code]

[2015-04-03 01:52] lrhazi commented on #22270
I am happy with the my new container image, but I can help debug this if needed. I did what you suggest before, it behaves exactly the same way.. startup seems to stop at same spot!

[2015-04-03 02:37] hvnsweeting commented on #18843
this also hit 2015.2

[code]

[2015-04-03 02:39] rvora commented on #21214
@basepi @thatch45 Solution by @thusoy looks great and it seems to work. Do you think this is the way to go until SaltStack officially supports calling states from other states?

Thanks - this is a very useful feature hope you implement it in core SaltStack.

[2015-04-03 03:13] deuscapturus commented on #22003
This was my quick fix. CentOS -> https://aws.amazon.com/marketplace/seller-profile?id=16cb8b03-256e-4dde-8f34-1b0f377efe89

[2015-04-03 03:53] hvnsweeting opened #22314 "memory error in 2015.2.0RC2"
When I run a formula, which normally works with salt 2014.7.2 but with

[code]

[code]

and the problem is persist, though my VM has 1 GB free RAM, that run consumed all MEM made VM OOM.

[2015-04-03 04:53] hvnsweeting commented on #22314
very likely relate to https://github.com/saltstack/salt/issues/20420

[2015-04-03 05:32] ryan-lane commented on #20485
Would be good to get a "needs tests" tag added to this bug :)

[2015-04-03 06:02] pingliu commented on #22279
@whiteinge  @rallytime  thank you for your anwser.
I solved this problem.
but when use urllib.urlencode,the postdata must be tuples or dictionnary.

[2015-04-03 09:30] bechtoldt commented on #21881
@jcockhren

https://github.com/bechtoldt/monitoring/blob/master/monitoring/salt/elasticsearcharbe_return.py
https://github.com/bechtoldt/salt-modules/blob/master/_modules/elasticsearcharbe.py
https://github.com/bechtoldt/salt-modules/blob/master/_states/elasticsearch_index.py

Everything is still in a very early state. It will take some time to get all those modules stable and reliable.

[2015-04-03 09:49] bechtoldt commented on #21881
For those of you who are interested in the returner:

My code proposal will sanitize index and doc type names ('.' => '_'). Every exec function will have its own index. every doc type in an index represents a version of the data schema of the ret variable (job result). This includes salt and exec module defined data. This means it will be possible to hold data of several versions of salt and execu

[2015-04-03 11:17] batulin-s opened #22321 "module.portage_config bug with appending accept_keywords"
If we run
[code]
then change `~amd64` to `amd64` and run again
then in minion
[code]
but this two flags couldn't be together - `~amd64` means that we want to install the last unstable version, and `amd64` flags means that we want to install stable version.
I afraid, that this issue could be avoid, but I found one way: I changed function `_merge_flags` into module `portage_config`...

[2015-04-03 12:10] erjohnso commented on #22312
Hi @RobertAtomic,

Very sorry about this, but there is a bug with libcloud 0.17.0 [https://github.com/apache/libcloud/pull/448].  It's been fixed upstream in trunk, so if you're OK with it, you could go bleeding edge to pick up the fix.  I don't have a good handle on a 0.17.1 release at this point.

@techhat @s0undt3ch FYI

[2015-04-03 12:23] yannick commented on #22294
makes sense, thanks

[2015-04-03 12:23] #22294 closed

[2015-04-03 12:29] arthurlogilab opened #22322 "salt-cloud to use docker as provider"
It would be useful to have a a docker "backend" for salt-cloud.

Many options on how to do this I guess, but I can think of two :

* have an image with ssh in it, connect to it and deploy salt-minion (phusion/baseimage for example)
* salt-minion could be launched as the entrypoint of the docker image and have the minion-id configurable as an environment variable and minion keys too

[2015-04-03 12:44] vielmetti commented on #22322
A very good idea, but I suspect you'll want to have #21713 fixed first.

[2015-04-03 12:57] vielmetti commented on #22322
Another related docker support issue is https://github.com/saltstack/salt/issues/21572

[2015-04-03 13:33] yesteph commented on #19869
Hi, in our case, we solved the same problem (git.config ok runned from the minion (salt-call) but KO from the master) setting the 'user' :

{%- if pillar['http_proxy'] is defined %}
git-http-proxy:
  git.config:
    - name: http.proxy
    - value: http://{{ pillar['http_proxy'] }}
    - user: root
    - is_global: True

[2015-04-03 13:48] eedgar commented on #22295
root@saltmaster-dev:~# python -c 'import yubico_client'
root@saltmaster-dev:~# echo $?
0

2015-04-03 13:46:00,276 [salt.master                              ][ERROR   ][8309] Exception occurred while authenticating: 'delimiter', 'show_timeout' and 'show_jid' are invalid keyword arguments for salt.loaded.int.auth.yubico.auth. If you were trying to pass additional data to be used in a template contex

[2015-04-03 14:10] techhat commented on #22312
Thanks for helping out here @erjohnso.

[2015-04-03 14:14] techhat commented on #22322
Ref saltstack/salt-cloud#615 (which also refs other issues).

Despite my thoughts in the past, it should be doable.

[2015-04-03 14:36] bradthurber opened #22327 "latest develop branch syntax error on salt-master startup"
**UPDATE: It looks like 625cc262b43b4342e1ea90ce9b4b5ff3f552dfda is where this issue starts for me.**

bootstrapped latest develop branch - commit: f65f6471a4dfcf429a7508051afd2ecc6e7b4a6b

[code]

During `salt-master -l debug` startup I see this type of error many times

[code]
I have an /etc/salt/master file but it is all commented out.

I also see similar errors when running salt-run. For examp

[2015-04-03 14:42] rallytime opened #22328 "Document list_nodes functions in salt-cloud feature matrix"
Handy functions like `list_nodes`, `list_nodes_full`, and `list_nodes_select` should be added to the functions section in the salt-cloud feature matrix: http://docs.saltstack.com/en/latest/topics/cloud/features.html#functions

We should also link the feature matrix page from the salt-cloud actions and the salt-cloud functions pages:
- http://docs.saltstack.com/en/latest/topics/cloud/action.html
-

[2015-04-03 14:53] batulin-s opened #22329 "Salt couldn't see the changes of accept_keywords."
If we have minion with installed stable version of varnish, and we want to upgrade it to the newest version (unstable) We need to change accept_keywords then reinstall package.
I run:
[code]
But unfortunately pkg.latest couldn't see that accept_keywords was changed because of python module portage can't see this changes.
in minion in python console I run next (like in modules/ebuild.py):
[code]
Th

[2015-04-03 14:59] rallytime commented on #22327
Thanks very much @bradthurber. We will get this cleaned up ASAP!

[2015-04-03 15:04] LordFPL commented on #11900
Hello,

A little update for a strange thing :

[code]

But :
[code]

Why don't support the ".service" ? On systemd both are working :/

(and it's make me a little headache to find this...)

[2015-04-03 15:17] rallytime commented on #22327
@bradthurber Ok, I think the pull request I've referenced above should help clean up that stacktrace.

[2015-04-03 15:39] chdeliens commented on #21140
Hi,

Just experienced similar issue here when adding a new locale formula:
[code]

First highstate says that it failed:
[code]

altough it actually succeeded.
"locale -a" lists the new locale.

[2015-04-03 15:58] basepi commented on #12301
Sorry we haven't had time to get to this. We have an overwhelming number of open bugs and this is pretty low severity.

That would be my preferred method. It would be fairly straightforward to add a special case for `all` into the glob targeter. It would need to be added in `salt.utils.minions.CkMinions`, as well as in `salt.modules.match`

[2015-04-03 15:59] rallytime commented on #22328
Those functions, in addition to the link, should also be document on the "Cloud Functions" page linked above. They are general functions that should be available to use with all cloud providers.

[2015-04-03 15:59] basepi commented on #21749
Nope, returns are not necessary, as far as I know. You could run everything with `--async` and not worry about viewing returns on the command line at all, and just look up in your return in whatever returner system you use.

[2015-04-03 16:00] basepi commented on #22270
Well, if you're happy, I'm happy, so let's hold off for now. ;)

[2015-04-03 16:22] #22327 closed

[2015-04-03 16:26] mimianddaniel commented on #21749
Along that line of the thought then, job_cache on local machine is something of moot for those who use returners for everything? I really wanted to have all the returns collected from the one source as audit mechanism as this should be considered high on the list for orchestration tool.

[2015-04-03 16:31] rallytime commented on #22306
Thanks for the report @EliRibble. And that would be fantastic if you could submit a PR. Be sure to submit it against the 2014.7 branch and then we'll merge it forward into the other branches so the fix can apply to all supported branches. Thanks!

[2015-04-03 16:42] jfindlay commented on #22321
@batulin-s, does portage complain if there are two kewords for the same package?  What is the output of `salt --versions-report`?  Thanks.

[2015-04-03 16:45] EugeneKay commented on #12301
Yeah, no worries about the time ;-)

Thanks for providing the reference points, I'll dive in this weekend and see where I end up.

[2015-04-03 16:48] basepi commented on #21749
Even if I were using a returner-heavy infrastructure, I would probably still just let it hit the local cache, so I would be able to query jobs easily locally, in addition to my main auditing through returners. *shrugs*

[2015-04-03 16:48] basepi commented on #12301
Sounds great! I wish you good luck sir!

[2015-04-03 16:52] jfindlay commented on #22329
@batulin-s, thanks for reporting this.

[2015-04-03 17:03] mimianddaniel commented on #21749
i dont disagree with you but that was my initial reason for following this up - missing return events in master of master doesnt show up in the local job cache either, unless i pull from intermediary masters. At this point, i do not think syndic is reliable for the return events.

[2015-04-03 17:09] rallytime opened #22332 "[salt-ssh] Add a check for host in /etc/salt/roster"
If you have a syntax error in your roster file for salt-ssh, such as a missing space after `host` such as `host:111.222.333.444` instead of `host: 111.222.333.444`, you get the following error:
[code]
YAML is probably treating the whole string as a key, so it's `host:111.222.333.444: None` or something like that.

There should be a check for host since it's a required member of the roster dictiona

[2015-04-03 17:10] rallytime commented on #22332
Oh, also, this is on the current HEAD of the 2014.7 branch:
[code]

[2015-04-03 17:12] EliRibble commented on #22306
I sent PR https://github.com/saltstack/salt/pull/22307 but I'm not sure if I have it correctly linked to this issue or not.

[2015-04-03 17:21] basepi commented on #21749
I want to return for a moment to the original issue. You're seeing mistmatched numbers of events. But we never landed anywhere precise with regards to the actual returns. Are you missing returns from minions which are actively connected to lower-level masters? Ignoring events in the logs, are these minion returns inconsistent?

[2015-04-03 17:22] rallytime commented on #22306
Ohh..right! To get github to link the issue up from a PR, the reference has to be in the "message" part of the PR, and not just the "title". Thanks very much!

[2015-04-03 17:27] mimianddaniel commented on #21749
At the intermediary master, number of returns in the master log are more less consistent, but number of return events being forwarded up to the master of master is not thru syndic.  How would i verify the minions returns if i am ignoring the events in the logs??  My bad if i didnt make my issue clear in the earlier post.

[2015-04-03 17:48] basepi commented on #21749
Well, if you run a `salt '*' test.ping` from the master of masters, do you get all your minions back?

[2015-04-03 17:50] mimianddaniel commented on #21749
* would mean over ~8000 minions and usually I see various results.
On Apr 3, 2015 10:48 AM, "Colton Myers" <notifications@github.com> wrote:

[2015-04-03 17:50] basepi commented on #21749
Ah, yes, that does make things harder. =\

[2015-04-03 18:00] mimianddaniel commented on #21749
When i attended the talk done by  jacksontj@saltconf, he mentioned they run 16000 per master, i am curious how they are managing losing ret or just use different returner... or completely different master topology without syndic??

[2015-04-03 18:20] mshade commented on #19911
Fun update - grains.list_absent will trigger the same disconnection! Continuing to try to catch this with a minion in debug logging mode.

[2015-04-03 18:35] basepi commented on #21749
Pretty sure they use syndics. Though they don't wait for returns on the CLI, they looks them all up after the fact from the local job cache.

[2015-04-03 18:36] jfindlay commented on #21140
@holms, @chdeliens, the locale.gen_locale code has been significantly updated.  We have 2014.7.4 and 2015.2.0 coming out soon.  Is it possible for you to retry with either of those when they become available?  thanks.

[2015-04-03 18:40] mshade commented on #19911
Just discovered that running 'killall -SIGUSR1 salt-minion' on a minion that has stopped responding causes it to reconnect.

[2015-04-03 18:55] edwardsgs commented on #20681
I am running into almost exactly the same thing, but my source file is simply .tar, not a .tar.gz.

My State
untar:
  archive:
    - extracted
    - name: /usr/local/
    - source: /usr/local/staging/file.tar
    - source_hash: md5=934f86bda6a757b44e53c7131e9e23b5
    - if_missing: test -d /usr/local/App
    - archive_format: tar
    - tar_options: x
    - require:
        - cmd: downloadfile

Err

[2015-04-03 19:15] whiteinge opened #22339 "Scheduler broken in 'develop': RuntimeError: dictionary changed size during iteration"
Bug is not present on 2015.2.

[code]

[2015-04-03 19:17] rallytime commented on #22339
ping @garethgreenaway

[2015-04-03 19:33] rallytime commented on #16139
Thanks for the update @eliasp. I've removed the "Fixed Pending Verification" label.

[2015-04-03 19:34] rallytime commented on #16435
@deuscapturus Can you give the HEAD of 2014.7 a try and let us know if this is fixed for you or not?

[2015-04-03 19:41] rallytime commented on #19162
I'm going to close this since we haven't heard back for a bit. If more work needs to be done here, leave a comment and we can open the issue again. Thanks!

[2015-04-03 19:41] #19162 closed

[2015-04-03 19:47] rallytime commented on #20205
@RobertFach Ubuntu packages have been out for a little while now. Can you give this another try and let us know how it goes? Thanks!

[2015-04-03 19:48] rallytime commented on #20317
Closing since we haven't hear back for a while. If this remains an issue, please leave a comment and we will be glad to open this again. Thanks!

[2015-04-03 19:48] #20317 closed

[2015-04-03 19:50] rallytime commented on #19587
Since it looks like this is likely fixed since the packages have been added to the saltstack debian repo, I am going to close this issue. If someone runs into problems here when testing the packages, please leave note here and we can reopen this bug.

[2015-04-03 19:50] #19587 closed

[2015-04-03 19:52] rallytime commented on #19949
@jcftang Apologies for the back-and-forth here. Ubuntu packages are out for 2014.7.2. Have you had a chance to test the new version is regards to this issue?

[2015-04-03 19:56] #20625 closed

[2015-04-03 20:01] jcftang commented on #19949
@rallytime I plan on trying it out next week, I've just gone through a number of upgrades so my environment is different now. I will do my best to verify this fix next week.

[2015-04-03 20:02] rallytime commented on #21267
Looks like this was added to saltstack-formulas [here](https://github.com/saltstack-formulas/uptime-formula) so I'm going to close this bug out. Thanks!

[2015-04-03 20:02] #21267 closed

[2015-04-03 20:09] rallytime commented on #21503
I added some version tags to the docs for the firewalld file in #22324. I think that should help clear up some of the confusion here. As such, I am going to close this issue. Thanks all!

[2015-04-03 20:09] #21503 closed

[2015-04-03 20:10] jfindlay commented on #21477
@MrMarvin, are you getting the same error you were getting before?

[2015-04-03 20:11] garethgreenaway commented on #22339
@rallytime saw this the other day. Hope to have a fix submitted today.

[2015-04-03 20:18] rallytime commented on #21507
I only briefly glanced at the latest comments, but it looks like the original request was implemented, but more work needs to be done to make gpgautoimport more global. Is that something that should be in a new request, and close this one, or should I remove the "Fixed Pending Verification" label here because more work needs to be done for this original issue?

[2015-04-03 20:23] rallytime commented on #21783
This fix was backported and will be available in 2014.7.4, which is currently in the packaging stage. Can anyone test either the v2014.7.4 tag on GitHub, or give this a try when the various packages come out and let us know how it goes?

[2015-04-03 20:31] rallytime commented on #19949
No problem! Thanks!

[2015-04-03 20:31] rallytime commented on #22339
Awesome! Thanks @garethgreenaway! :)

[2015-04-03 20:32] whiteinge commented on #22279
Haha, whoops. That's my bad -- I was sleep-walking through that reply it seems. Using JSON is an _alternative_ to using urlencoded data. The raw JSON needs to go in the request body:

[code]

[2015-04-03 20:44] isbm commented on #21507
@rallytime Well, now our Zypper *always* refreshes the db. So the request to auto-import GPG keys at that moment is actually pretty much valid. I will take a look at this next week.

[2015-04-03 20:44] rallytime commented on #21928
Since this has already been fixed and since it was a duplicate of another issue, I am going to close this bug report. Please leave a comment if this issue pops up again!

[2015-04-03 20:44] #21928 closed

[2015-04-03 21:04] steverweber opened #22342 "salt service, systemd, upstart... should be set to auto restart"
salt-minion service, systemd, upstart... should be set to auto restart if the minion dies.

[2015-04-03 21:09] steverweber commented on #22342
upstart:  respawn
systemd: RestartSec=2, Restart=...
initd could do a double fork with a for loop and sleep...
windows> ? i dont know.

[2015-04-03 21:10] steverweber commented on #22342
it would be nice to clean this up for the 2015.2 release.

[2015-04-03 21:11] steverweber commented on #22342
bootstrap-salt might also need some work.

[2015-04-03 21:15] nmadhok commented on #22322
Should be easy. +1

[2015-04-03 21:18] rallytime commented on #22306
@EliRibble Thanks very much for the fix! Looks like your PR has been merged. Should this issue be closed now?

[2015-04-03 21:22] bechtoldt commented on #22257
+1111

related issue (bug in file.serialize) #18966

[2015-04-03 22:33] RobertAtomic opened #22346 "Specify additional disks with GCE provider"
Hi,

Is it possible to create and / or attach multiple disks to an instance at create time when using the GCE provider?  The EC2 provider has this in it's example:

[code]

but doesn't call it out as provider specific.  My GCE config looks like this:

[code]

When instances are created they always have a single 10G volume.
Thanks for any help or advice.

[2015-04-03 22:53] EliRibble commented on #22306
Works for me

[2015-04-03 22:53] uvsmtid commented on #8875
To complement this issue, this is how to live now with workaround.

## Workaround ##

Push a variable with location of the pillar into the pillar template being included using `defaults` as described in [doc how to include pillar](http://docs.saltstack.com/en/latest/topics/pillar/#including-other-pillars).

#### Example ####

The top file is not used, but it's important to note that it cannot use

[2015-04-03 23:30] dmyerscough commented on #22295
Could you open the `yubico.py` and modify the following:-

[code]

Replace the username, id and key with the correct values. Then do a simple `python yubico.py` and let me know if any errors

[2015-04-03 23:49] jacksontj commented on #18358
@msciciel The change @cachedout made uses CKMinions, which actually doesn't do what you want in this scenario. CKMinions is intended to give a super-set of minions-- and in quite a few cases returns all minions. I Made a new PR (#22350) which reverts most of this-- but should be better than the old implementation without breaking all of batching ;)

[2015-04-04 00:01] s0undt3ch commented on #19923
Fixed in #22280

[2015-04-04 00:01] #19923 closed

[2015-04-04 00:12] jfindlay commented on #22110
Duplicate of  #18358.

[2015-04-04 00:19] garethgreenaway commented on #22339
Not exactly the thing I saw the other day but I think I've identified the issue.  PR coming shortly.

[2015-04-04 00:26] garethgreenaway commented on #22339
See PR, this didn't happen in 2015.2 since it's using kwargs.items() where develop is using six.iteritems().

[2015-04-04 03:23] hoffmannliu-ayla opened #22356 "Status pkg.removed fails on Ubuntu 14.04"
Hi,

This issue is the same as/related to https://github.com/saltstack/salt/issues/9984 but it was closed.

Today I tried to remove package on Ubuntu 14.04 when it had been removed already, but it failed. This time the package is openjdk-7-jre. salt is Helium (2014.7.2) and this failed on 2015.2.0rc2  too.

SLS:

[code]

And the error output is :

[code]

ywliu

[2015-04-04 04:30] sambev opened #22357 "service.running function broken on OSX 10.10"
I was getting this error
[code]
The logs show:
[code]
After digging in I saw that the launchctl module's _get_launchctl_data has this:

[code]

But `man launchctl` tells me:
-x       This flag is no longer supported.

I don't know if we can just remove the flag and not break older versions. 10.9 man page says:
If [-x] is specified, the information for the specified job is output as an XML property

[2015-04-04 06:19] Snergster commented on #19963
I don't know about you larkinrobert but on my setup I found one way to easily reproduce this.
minion with multiple masters in a list.  Video shows just a single master in a list but I just showed a single to highlight the bug
https://youtu.be/h22Bx1LuC40
@basepi what more do you need to get this bug off the Cannot reproduce list?

[2015-04-04 08:15] eedgar commented on #22295
I am closing this issue.  It appears to have been an issue locally to my client.  I had 2014.7 libraries and 2015.2 libraries installed at the same time.  I have figured out my issue and this is working for me.

[2015-04-04 08:15] #22295 closed

[2015-04-04 10:44] Seldaek commented on #22252
@variia /tmp/tmpEdiNjj in this case does not exist after the salt run though, so either it's created during the run by root and then passed on to the testuser to be applied or I'm not sure what happens. But yes looks like a bug either way since it worked with the other version on the exact same VM/setup :)

[2015-04-04 11:22] shencan opened #22358 "Run salt command abnormal"
[code]

some information:
System version :  Centos 6.6
Saltstack version:  salt-2014.7.4
Python version:  2.7.6
Install way:  pip install salt

[2015-04-04 12:17] kiorky opened #22359 "unless is not recognized as a state internal keyword"
[code]
cc @s0undt3ch

[2015-04-04 12:36] francoisvdv commented on #22003
[code]
Worked for me as well (salt-minion). As mentioned in the AMI release notes, Python2.7 is only the default for new systems. Updated systems will default to 2.6.

[2015-04-04 13:35] souravsingh commented on #22239
I would like to take this up.How do I proceed with this?

[2015-04-04 16:29] steverweber opened #22360 "2015.2: default log level for salt-call?"
using 2015.2 salt-call log_level seems to be INFO if no value is set.
Not sure why it does that...  IMO lets have it as warning.

salt/config.py has None a default for log level... why not set it as `warning` to reduce code blot.
A few places check if None then set a default... The default they set is not always warning...
https://github.com/saltstack/salt/search?p=4&q=log_level&utf8=%E2%9C%93

I

[2015-04-04 16:51] steverweber commented on #22360
related:
https://github.com/saltstack/salt/issues/21875

[2015-04-04 17:20] bechtoldt opened #22361 "2014.7: Execution Modules are not available in scheduled Returners"
Could someone please verify that execution modules are not available in returners that will be called by scheduled execution modules?

[code]

I get a KeyError, and after inspecting __salt__ I can't find the required execution module. Everything works fine when the returner will be called after an execution module run from salt cli tool (master) or salt-call (local minion).

[2015-04-04 18:49] variia commented on #22252
Yes, the bug is in [cron module](https://github.com/saltstack/salt/blob/2015.2/salt/modules/cron.py):

[code]

I think the OS exception needs to be removed and the chown command has to run as the tmp file will always be created natively by python aka by the user who runs salt.

Shall I fix this or somebody will?

[2015-04-04 20:18] c4milo commented on #20240
I'm also running into this.

[2015-04-04 21:51] angystardust opened #22364 "Adding functionality to create() in vmware cloud driver to be able to add/reconfigure scsi adapters"
It would be great to have the possibility to create new virtual scsi adapters and attach new hard disks to those. That's really useful when you have an I/O bound vm (for example: a database server) and you want to distribute the I/O load to different scsi queues in order to gain performance improvements.

In this example, i mentioned the 4 types of scsi adapter supported by vmware API's:

[code]

[2015-04-04 23:02] nmadhok commented on #22364
@angystardust How about the following instead:

[code]

[2015-04-04 23:18] angystardust commented on #22364
@nmadhok, your config layout makes much more sense! :+1:

[2015-04-04 23:20] nmadhok commented on #22364
@angystardust I will try to create it in such a way so that both are possible.

[2015-04-04 23:45] angystardust commented on #22364
That would be really really great!
Talking about the contribution to the development of your driver, @virtdevninja asks if there's a TODO list of things that need to be done. (https://twitter.com/virtdevninja/status/584473676097028096)
Speaking for myself, sadly I'm not a python-coder but I'm a brave tester ;)

[2015-04-05 00:01] nmadhok commented on #22364
I started working on this just 7-8 days ago so there no do list actually. But there's plenty that needs to be done. We need a lot of people to test and file issues/find bugs

[2015-04-05 00:01] s0undt3ch commented on #22359
Renamed to better reflect the actual bug.

[2015-04-05 00:26] angystardust commented on #22364
Maybe we can create a meta-issue on github with a checklist of the things to test and the feature to develop. Do you agree?

[2015-04-05 03:15] lucacorti opened #22366 "Minion stops responding to commands after highstate with bad indentation in state"
After running:

```salt '*' state highstate test=True```

on the master, the minion stopped responding to any command until salt-minion was killed and restarted.

In the minion log:

[code]

[code]

[code]

[2015-04-05 05:38] svetlyak40wt commented on #20240
Hey guys! I found a solution for this! Now moving to ansible :)

[2015-04-05 06:50] anlutro commented on #15561
Bumping just because this happened to me last night. It's especially easy to fall victim to this if you're using slashes at first, but then need to use relative imports:

[code]

[2015-04-05 08:54] iigorkarpov commented on #12483
Since this problem has been around for almost a year, is not it better to change the documentation so that it reflects the current state of affairs? I mean not only a reference to the issue #12483, added to http://docs.saltstack.com/en/latest/ref/states/top.html, but also recommendations on the management of the multiple environments.

I wonder if ongoing release candidate treats top files differe

[2015-04-05 10:32] markuskramerIgitt commented on #19166
Hello @s0undt3ch,
Thank you for the update.
Please tell me the steps to find out if  my minion is using threads or multiprocessing.

Best regards,
Markus

Three notes:

From your comment in a247dc0 I start to get an idea of the size of the problem:   ("`sys.stdin.encoding` is the most reliable source but it's reset to `None` once a process is daemonized")

In 92dfa30 you have put the encoding in t

[2015-04-05 14:25] wrabbit-revisited commented on #19317
Seeing the same symptom 2015.2 on Ubuntu 14.04. I do a "salt-key -L" on the salt master and see:
Resource temporarily unavailable (thread.cpp:91)
There are a lot of instances of this error reported for various projects. Perhaps a Python or OS issue.

[2015-04-05 15:16] #22306 closed

[2015-04-05 15:19] rallytime commented on #22295
Awesome! Glad you got it figured out and thanks for following up. Also thanks for helping trouble-shoot @dmyerscough!

[2015-04-05 15:33] rallytime commented on #22239
@souravsingh `--retcode-passthrough` is part of `salt-call`, as seen in `salt-call --help`. The man pages for `salt-call` are located in `salt/doc/man/salt-call.1`, which I believe is the file that needs to be edited.

If/when you do end up making this change, please make it against the 2014.7 branch. Once the change is made and the pull request is merged in, we will merge it forward into the othe

[2015-04-05 17:29] ealphonse opened #22370 "Onfail requisite does not handle multiple requirements"
Given:
[code]

salt 2014.7.2 will not trigger state c. It will if the statements are reversed or if there is only one statement:
[code]
This is the case with orchestration too.

The 'require' requisite does handle several statements I think. Is this the expected behaviour for Onfail?

Thank you in advance.

[code]

[2015-04-05 17:58] nbari commented on #21871
I just copied the mine_functions inside the minion config and still get nothing back, same behavior.

[2015-04-05 18:56] markuskramerIgitt commented on #19166
Hello Pedro,
by a strange coincidence, I try to learn Portuguese since January, so
all my comprehension goes to chardet: Portuguese is very difficult to
get right, especially the nasal sound :-)

But jokes aside: thank you for letting me know the limitations of
chardet.
What I see from your examples is that chardet can be very sure 0.99 but
is wrong, as in example #6 and #8
The only reason that I

[2015-04-05 19:50] dragon788 commented on #20240
I also encountered this issue, it turns out at some point the salt master
had hung, so we ended up with two salt-master processes. Our minion
behavior was everything worked perfectly when doing salt-call from the
minion, but any time you tried to run a salt state from the master, it was
a crap-shoot whether it would time out or have "authentication failed" or
some other error. Once we killed the e

[2015-04-05 20:56] nmadhok commented on #22364
Agreed

[2015-04-06 00:50] rvora opened #22376 "Syndic start event"
When a minion starts there are salt/minion/*/start events.

When a master-syndic starts and connects to master-of-masters, I don't see a corresponding start event, just salt/auth event which repeats periodically.

I am trying to react and trigger something when a Syndic starts and connects to master-of-masters in a similar way that one can trigger something when a minion starts.

I would like Salt

[2015-04-06 05:50] petertilsen commented on #20614
same issue here. any changes on that?

[code]

[code]

my python version is for sure not up to date, but I don't see any connection to that.

[2015-04-06 06:11] kev009 commented on #21418
Any ideas for stuff to start working on?

[2015-04-06 07:32] batulin-s commented on #22321
If two keywords exist (amd64, ~amd64), portage use ~amd64.

salt --versions-report:
Salt: 2014.7.1
         Python: 2.7.5 (default, Apr  4 2014, 09:54:57)
         Jinja2: 2.7.2
       M2Crypto: 0.21.1
 msgpack-python: 0.4.0
   msgpack-pure: Not Installed
       pycrypto: 2.6.1
        libnacl: Not Installed
         PyYAML: 3.10
          ioflo: Not Installed
          PyZMQ: 14.0.1
           RA

[2015-04-06 09:40] masterkorp commented on #22241
@baseapi I installed salt-master with the [salt-bootstrap script](https://github.com/saltstack/salt-bootstrap) then just ``apt-get install salt-master``

Yes, these are the only 2 values that do not work for some reason.

[code]

[2015-04-06 12:52] masterkorp commented on #22241
After more experimentation. I think there is some pillar data problem that is overriding the features some.

I am [using yamlex to merge some pillar data](https://groups.google.com/forum/#!topic/salt-users/e4O_r8KQR0g) after a few tries I am seeing what the problem seems to reside.
Here are some example of the files:

Client state:
[code]
This pillar data would be present on all minions.

The are

[2015-04-06 13:16] rafamarangoni commented on #22040
Thanks.
Just to be sure: should I remove the old packages (yum remove salt*) before running the bootstrap script?

[2015-04-06 13:50] belvedere-trading commented on #20107
That's correct.  I'm retesting this now.

[2015-04-06 14:22] cachedout commented on #22339
Merged #22351 so I'll go ahead and close this. Thanks all!

[2015-04-06 14:22] #22339 closed

[2015-04-06 14:42] ghost opened #22382 "The 'proxmox' cloud provider alias, for the 'proxmox' driver, does not define the function 'disk'"."
I want to use salt as a cloud controller for proxmox. I wanted to view storage options before creating a VM from an image. I am able to view images and run a query, but any commands that actually "do" things dont' work.

For instance:
[code]
I tried looking at storage options, since I was seeing "KeyError: 'disk'", but even viewing storage doesn't work.
[code]
The error above occurs with various o

[2015-04-06 14:45] belvedere-trading commented on #20107
Okay.  I can confirm without that parameter, things work.  With it the issue is present.

[2015-04-06 14:46] daiqingyang commented on #20240
@svetlyak40wt  good idea..

[2015-04-06 14:54] rickh563 commented on #7772
ZD-234

[2015-04-06 14:55] bechtoldt opened #22383 "salt.modules.disk shouldn't return numbers as strings"
Temporary solution:  https://github.com/bechtoldt/salt-modules/blob/master/_modules/diskarbe.py (a wrapping execution module)

I think it will be important not to break backwards compatibly immediately after fixing this issue. An optional argument could be added like `num_as_str=True` or similar.

[2015-04-06 14:58] cro commented on #16123
Other related PRs are #19182 and #19149.

Ideally it should have a testcase.

[2015-04-06 14:58] #16123 closed

[2015-04-06 15:01] uvsmtid commented on #6955
### Preserve order ###

I thought it already works by preserving order in which pillar files are loaded.
I was wrong, but the following could be a generic solution.

The approach is simple:
*    Use `include` key in pillar files to declare dependency of content within pilar file on content from another pillar file. It's probably similar to how state's `include` works.
*    In "single pillar file"

[2015-04-06 15:06] garethgreenaway commented on #20107
Very strange.  With the option commented it should be using the default which is the value.  Let me uncomment and see if I can duplicate the issue.

[2015-04-06 15:15] garethgreenaway commented on #20107
Confirmed.  Seeing the same thing you are.  Will check out the code and see exactly what is happening.

[2015-04-06 15:28] erjohnso commented on #22346
@RobertAtomic, no I'm afraid the GCE driver does not support this currently.  If we were to add this, the underlying implementation would have to first create all the disks in a loop and wait for successful completion of those operations. Then, it could move on to creating the VM and attach the disks.

It also gets a bit trickier in terms of expected user behavior and matching that up with the GCE

[2015-04-06 15:41] rallytime commented on #20614
Thanks for the update, @petertilsen! Yes, this is still an issue. I don't think anyone got a chance to look at this bug yet.

[2015-04-06 16:00] rallytime commented on #16123
Thanks @cro! We'll leave the "needs testcase" label on here until we've written some.

[2015-04-06 16:16] cachedout commented on #22359
I merged this fix this morning so I'm going to go ahead and close this. Thanks @s0undt3ch and @kiorky

[2015-04-06 16:16] #22359 closed

[2015-04-06 16:17] cachedout commented on #22252
@variia We would welcome a fix from you if you would like to take a swing at it.

[2015-04-06 16:17] basepi commented on #19963
The addition of "multi-master" is enough. I didn't test with multiple masters.

[2015-04-06 16:21] basepi commented on #12483
I don't expect the topfile compilation to have changed recently, but you're right, I still don't think it matches the docs and it should. However, we'll probably just fix the functionality, rather than taking the time to test the current state of things sufficiently to document it.

[2015-04-06 16:22] basepi commented on #21871
I assume you restarted the minion? Also, could you remove the `mine_interval` line as recommended by @iggy? Just trying to narrow the problem.

[2015-04-06 16:26] basepi commented on #22040
As far as I know, there's actually no need. Bootstrap will just overwrite the files in `python2.7/dist-packages`. But removing the old packages also won't hurt.

[2015-04-06 16:26] cachedout opened #22385 "States which require unavailable modules should display the reason"
Right now we do this if the ```npm``` exec module cannot be loaded:
[code]

We need to extend this error reporting to include:

 * A much better error message. This one is confusing.

 * If the execution module returned a reason it could not be loaded, that reason should be displayed here as well.

[2015-04-06 16:30] whiteinge commented on #19963
Minion-initiated actions currently have undefined behavior on multi-master. There's been discussion on adding a flag to salt-call to specify which master(s) to send the event/job/whatever back up to.

[2015-04-06 16:35] sambev commented on #22357
I am pretty sure we can't just remove it. It seems like launchctl has changed quite a bit in 10.10.

[2015-04-06 16:41] basepi commented on #22241
Hrm, I don't know yamlex well enough to know whether there's a bug here or not off the top of my head. But thanks for your good detective work, at least we'll know where to look when we find time to dive into this one.

[2015-04-06 16:43] ghostsquad opened #22386 "Salt's presence detection"
http://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.manage.html#salt.runners.manage.alived

I couldn't find any documentation on what "presence detection" actually does. Can this be explained?

[2015-04-06 16:52] rallytime commented on #22346
Thanks for the suggestion @RobertAtomic.

[2015-04-06 16:56] rallytime commented on #22357
Thanks @sambev!

[2015-04-06 16:57] cachedout commented on #22357
@sambev Could we just detect the version of OS X and adjust the flag accordingly?

[2015-04-06 16:58] rallytime commented on #22356
@hoffmannliu-ayla Can you clarify what you mean by "but it failed" and what you're expecting to happen? You said that you were trying to remove a package that had been removed already, which is what the debug output seems to be saying: `Package 'openjdk-7-jre' is not installed, so not removed`.

[2015-04-06 17:03] sambev commented on #22357
@cachedout Not entirely sure. I tried just removing the -x, but it still didn't work for me. But that could be because I don't have the job loaded correctly as I used `load` and `unload`, which are listed as 'legacy commands' along with `list`. I'll try to get it loaded correctly first, then try it out.

[2015-04-06 17:06] cachedout commented on #22357
@sambev See if you can get a shell command that works and then let us know what it is and what version of OS X the change appeared in. Then we can get this fixed right up.

[2015-04-06 17:08] Snergster commented on #19963
whiteinge  ??   I see no reason why even if i give a directed --master=foo to salt call that it shouldn't work regardless.  Thats not specific to this bug...if i point the finger and say go there it should ignore any other settings that may steer it elsewhere random_master multi_master etc.
I would actually understand this being a lower severity issue if that did work properly because I could stil

[2015-04-06 17:30] jfindlay commented on #16123
@cro, so the test case is to test whether a django user and/or group can authenticate with salt through eauth?  Anything else?

[2015-04-06 17:35] cro commented on #16123
yes, that should do it.

On Mon, Apr 6, 2015 at 11:30 AM, Justin Findlay <notifications@github.com>
wrote:

--
*--cro*
C. R. Oldham, Platform Engineer, SaltStack
cr@saltstack.com / 801-564-4673

[2015-04-06 18:03] rallytime commented on #22358
Hi @shencan - When you installed salt, is this on a new system that has never had salt installed on it before? Or are you upgrading? I am wondering if you've got all of the package dependencies needed to run salt. (requests is a hard dependency for salt in the 2014.7.x releases.)

[2015-04-06 18:15] rallytime commented on #22361
Thanks for the report @bechtoldt. Can you please post the output of `salt --versions-report`, please?

ping @garethgreenaway

[2015-04-06 18:22] cachedout commented on #22216
Hi @ryanfields. Give #22387 a try, please.

[2015-04-06 18:23] rallytime commented on #22382
Thanks for this report @uggedal. Can you also post the output of `salt-cloud --versions-report`?

ping @syphernl and @techhat

[2015-04-06 18:28] rallytime commented on #22386
Thanks for the request/question @ghostsquad. There are some docs [here](http://docs.saltstack.com/en/latest/topics/event/master_events.html#presence-events) that describe presence events. Does that help answer you question?

[2015-04-06 18:33] rallytime commented on #22314
@hvnsweeting Can you give us some more information about your system and what you're trying to do to help us reproduce/debug this (Is this happening on all minions or just one? What distro are you running? etc etc)? It looks like you're running into this stacktrace while running a highstate. Is that correct? Or what command are you calling? Can you give us some examples of the state(s) you're usin

[2015-04-06 18:34] cachedout commented on #22360
To the best of my recollection this has been the default for quite a while. Personally, I like the INFO level as a default but I'm happy to keep this thread open for other points of view as well.

[2015-04-06 18:35] Anderoo16 opened #22388 "Require file with '~' (tilde) - file.directory, clean: true"
Currently in the process of standardizing the /etc/apt directory on our Ubuntu hosts.  While attempting to require the standard directory structure, I ran into an issue with the two files appended with '~'.  See below.

The stanza:
[code]

Result:
[code]

Let's try without requiring those files:
[code]

Now that's no fun..
[code]

Salt appears to pick them up and plans to delete them when they are

[2015-04-06 18:42] cachedout commented on #22366
Hi @lucacorti.

I could not reproduce this at all. Could you provide a sample state which can reliably illustrate this error? Thanks!