[2018-10-20 06:38] #42632 closed

[2018-10-20 08:31] cavepopo commented on #49586
Here :
[code]

[2018-10-20 09:34] cavepopo commented on #49586
Here, the minion log (full log https://gist.github.com/cavepopo/6c9c2e67a556655a4621222bc061b64d) :
[code]

Comparing this one and the master counterpart shows that the whole minute delay (bw 11:10:29 and 11:10:31) is spent running gitfs related operation, mostly :
[code]

[2018-10-20 12:31] jtauke commented on #48882
I've been testing salt for primarily windows environment for a few days.

- Excluding C;\salt doesn't seem to help.  Commands still timeout.

- Turning off everything related to windows defender DOES, seem to get the response time down to within the normal timeout period, but that seems like a poor solution in any case.

[2018-10-20 13:17] terminalmage commented on #49586
The master stuff is just the update thread fetching, that has nothing to do with pillar. What that debug logging shows though is that the pillar compilation inside the state run is not what is causing the delay, since it happens after the delay.

OK, more debug logging (you can remove the stuff from `salt/state.py` if you like). What I need you to do is add some sort of logging message both before

[2018-10-20 14:04] morganwillcock commented on #48882
It sounds a lot like adding path exceptions to Windows Defender might stop on-access scanning within those paths, but isn't excluding processes launched from other types of scanning. You might get similar symptoms from poor disk throughput though. Are you using shared storage for the system drive?

[2018-10-20 14:15] jtauke commented on #48882
Current testing is limited to a pair of VMs running on virtualbox (master and a server 2016 minion).

Those are just being backed by a consumer grade ssd.

[2018-10-20 14:32] morganwillcock commented on #48882
How is your CPU allocated to the VMs? I imagine that if you are using a type 2 hypervisor you could end up with some weird latency / timeout issues if CPU cores are over committed (i.e. you have 4 CPU cores available, and both of these VMs are assigned 4 CPU cores).

[2018-10-20 14:42] jtauke commented on #48882
4 Cores available - 1 assigned to salt master, 2 assigned to windows server VM

[2018-10-20 14:59] ManicoW commented on #50138
Can't reproduce here, same salt version, but debian dist. The cron modules code seems to take care of env lines before cron lines. Some more informations to reproduce (like states files) ?

[2018-10-20 16:14] #40970 closed

[2018-10-20 18:11] cavepopo commented on #49586
Here we go :
[code]
root@opendj1 [~]: time salt-call -l debug state.apply  successful_test 2>&1 |tee /tmp/log.pbe
[DEBUG   ] Reading configuration from /etc/salt/minion
[DEBUG   ] Including configuration from '/etc/salt/minion.d/_schedule.conf'
[DEBUG   ] Reading configuration from /etc/salt/minion.d/_schedule.conf
[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: server
20:08:21,376 [sa

[2018-10-20 18:40] m03 opened #50142 "stringutils.to_none AttributeError: 'module' object has no attribute 'tex_type'"
### Description of Issue/Question

Using `salt.utils.stringutils.to_none` results in the following:

[code]

### Setup

Tested on Masterless Minion.

### Steps to Reproduce Issue

Use `salt.utils.stringutils.to_none` anywhere. Example execution module:

[code]

Example output:

[code]

### Versions Report

[code]

[2018-10-20 20:47] mchugh19 commented on #48118
I was just looking into this as well as it would be useful to holistically manage te/pp files. However, I don't know that changes are exposed.

The `selinux.module` ultimately uses `semodule -i modulename.pp` to install the pp module, but it doesn't appear that semodule has any facility for detecting changes in module versions.

[code]

That output is the same if localpolicy is changed or unchange

[2018-10-20 20:56] mchugh19 commented on #2747
I think this can be closed with the merged list support for include_pat/exclude_pat.

[2018-10-20 21:14] #32152 closed

[2018-10-20 21:51] mchugh19 commented on #41944
This was merged as a serializer in #45054

[2018-10-21 00:07] damon-atkins commented on #40970
Hi @KaiSforza  @dubb-b , maybe you can develop something to test the windows installer.

[2018-10-21 02:10] autumnw opened #50149 "salt-ssh can not get pillar "glibc:version""
### Description of Issue/Question
When I use "salt-ssh my_host pillar.get glibc:version", it always returns "None", I tried both on entos6 and 7. However, with "salt my_host pillar.get glibc:version", it always return the right value.

### Setup
salt-master and salt-ssh version is: 2018.3.2-1.el7.noarch
salt master OS version is centos 7

### Steps to Reproduce Issue
on salt master, run "salt-ssh

[2018-10-21 10:45] #40873 closed

[2018-10-21 13:16] damon-atkins commented on #49523
This should fail the `locale: ANSI_X3.4-1968` i.e. ASCII  not `UTF-8`

If you expect input to be UTF-8 you need your local to be UTF-8 or tell salt you expect it to be the input not hard code it.  It will break other platforms.

[2018-10-21 14:01] mchugh19 commented on #46686
Might this case be better off using and empty `file.managed` rather than expanding out `file.touch`?

[2018-10-21 14:04] travispaul commented on #50106
Just wanted to add an update from my attempts over the weekend. I thought I might be able to get away with setting the SSL options in a cnf file using the ``mysql.default_file`` option. However in every case I tried the SSL options seem to be ignored. This _appears_ to be a problem in the [MySQLdb library as far as I could tell](https://github.com/farcepest/MySQLdb1/issues/144).

[2018-10-21 18:56] dgengtek opened #50151 "Unable to build documentation on Arch Linux"
### Description of Issue/Question
Cannot build docs in virtualenv with python2.7 or python3.7 on Arch Linux. Any help appreciated.

### Setup
Followed https://docs.saltstack.com/en/latest/topics/development/conventions/documentation.html#building-the-documentation and HACKING.md

Tried with either python versions and latest sphinx modules and with sphinx 1.4.9. Could not find which sphinx version

[2018-10-21 19:45] #38936 closed

[2018-10-21 21:45] #40999 closed

[2018-10-22 02:23] nkrishnakishor commented on #50033
thanks for the inputs

[2018-10-22 07:05] nelson-ks commented on #29835
Hello,

I am running salt version 2018.3.2 and encountering the same issue.
The salt minion stop proceeding at start up because the master cannot be connected.

I have a number of raspberry pi with some services running on it, in offline mode (Actually it pair up with phone in an intranet, but anyway I just want to say there is no point setting up a master in this scenario)
Salt is a very good opt

[2018-10-22 07:45] #2053 closed

[2018-10-22 10:45] #39533 closed

[2018-10-22 10:48] zbw1983 opened #50153 "Can not use compound match in eauth"
### Description of Issue/Question
I want to use compound match in eauth configuration, I want to match 2 grains in my conf, but it can't work.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
My eauth conf like below, I want to match 2 grains in eauth, but it can't work.
[code]
### Steps to Reproduce Issue
I use SALT-API to call my SALT-master, but

[2018-10-22 12:26] gtmanfred commented on #50153
This is fixed by https://github.com/saltstack/salt/pull/49236 and will be in 2017.7.9 and 2018.3.4.

We are currently working on getting 2017.7.8 and 2018.3.3 out, so this will be in the next version release.

[2018-10-22 12:26] gtmanfred commented on #50132
Thanks for the PR for this.

Daniel

[2018-10-22 12:29] gtmanfred commented on #50137
Would you mind submitting a PR to fix this?

Thanks,
Daniel

[2018-10-22 12:31] #50142 closed

[2018-10-22 12:32] gtmanfred commented on #50142
Woop, looks like a typo.  Thanks for the pr to fix this, i have merged it and we will get it backported to the other releases.

For future reference, when submitting bug fixes, PRs should be submitted against the oldest support release that the bug is in.

Thanks!
Daniel

[2018-10-22 12:33] gtmanfred commented on #50149
I am going to need more information on your setup so that I can replicate this issue.

@mgomersbach pillar.items should not be needed because the way salt-ssh works, it runs salt-call --local on the salt-ssh minion, so it will start up a whole minion process and get the pillar data.

[2018-10-22 12:46] nkrishnakishor opened #50154 "file.managed: Multiple lines to a file"
### Description of Issue/Question
Trying to add multiple lines to a host file using file.managed
### Setup
`cat /srv/salt/common/init.sls`

[code]
Below are the contents of pillar file.

`cat /srv/pillar/top.sls | grep -v "#"`
[code]

`cat /srv/pillar/test/init.sls`

[code]
### Steps to Reproduce Issue

`salt windows-minion state.sls common`
[code]
### Versions Report
`salt --versions-report`
[cod

[2018-10-22 12:54] gtmanfred commented on #50151
Thanks for reporting this.

@terminalmage when you get a second could you take a look, it seems like sphinx changed again.

Thanks,
Daniel

[2018-10-22 13:54] Ch3LL commented on #50041
ahh thanks for pointing that out again @dafyddj

ping @saltstack/team-windows anyone want to tackle this one?

[2018-10-22 14:00] gtmanfred commented on #50154
so, ideally, you would just use the ability to pull strings out of pillars, which would be `contents_pillar`

[code]

But if for some reason you really wanted to use contents, you need to make sure your stuff is indented.

[code]

[2018-10-22 14:00] #50154 closed

[2018-10-22 14:06] Ch3LL commented on #50034
thanks for clarifying on the linux side of things. so it seems its not only related to the OS.

We did a ton of unicode work in the 2018.3 release so I'm guessing this is related to that. Can you do me  another favor and add a couple log lines in the following:

[code]

[2018-10-22 14:08] dgengtek commented on #48281
Fixed with https://github.com/saltstack/salt/pull/48765

[2018-10-22 14:08] #48281 closed

[2018-10-22 14:08] mikemartino opened #50155 "artifactory.downloaded state is not respecting test=True"
### Description of Issue/Question
I'm using the `artifactory.downloaded` state to download an artifact from a Nexus repository to one of my managed hosts. It works well with the exception that the state seems to ignore the `test=True` flag during a `state.apply`:

[code]

And the file gets downloaded to the host. I'm not sure how the `test` flag fits into the SaltStack architecture, but I read on

[2018-10-22 14:10] rallytime commented on #29835
Thanks for letting us know @nelson-ks - I can open this again.

@garethgreenaway Tagging you here to get someone from triage looped in on this issue. :)

[2018-10-22 14:10] terminalmage commented on #49586
@cavepopo We are getting closer now. Since we know that the delay is happening during the `call()` function, I've created [this patch](https://gist.github.com/terminalmage/87b1d2a098d9dfeb2ea3587daedba881) (link to raw content [here](https://gist.githubusercontent.com/terminalmage/87b1d2a098d9dfeb2ea3587daedba881/raw/cc9126ddec5251915d44e35b806d3b5a134a1882/caller.patch)). Please revert the loggin

[2018-10-22 14:21] Ch3LL commented on #49450
ping @saltstack/team-core any ideas on why this might be occuring?

[2018-10-22 14:37] gdavis33 commented on #50137
Sure, as soon as git stops being broken.

[2018-10-22 14:41] Ch3LL commented on #50105
without diving into the code I believe that would be the area. ping @saltstack/team-core might be able to show you exactly where. I will go ahead and approve this as a feature request :)

[2018-10-22 14:41] gtmanfred commented on #50137
/sigh yup, that would be awesome! thanks!

[2018-10-22 14:45] gtmanfred commented on #50105
you do not need the runner.

What you should do is exactly what the refresh_modules does when it asyncronous is False.

https://github.com/saltstack/salt/blob/2018.3/salt/modules/saltutil.py#L979
[code]

You need to make sure to listen to the minion event bus, then you fire an event to refresh pillar, exactly like it does now, and then you listen for the event for when the pillars are completed re

[2018-10-22 14:46] Ch3LL commented on #38533
I'll go ahead and mark this as a feature request but no one is currently working on this due to other higher priority issues, so anyone else here is welcome to take a stab at it.

[2018-10-22 14:47] rallytime commented on #14047
@MTecknology Wanna take a swing at this one, too?

[2018-10-22 14:48] gtmanfred commented on #50105
You will also need to add fireing the event, probably from the _gather_pillar() function in salt.minion,  the same way that the minion_mods loader fires an event when notify is set to True.

https://github.com/saltstack/salt/blob/2018.3/salt/loader.py#L263

[2018-10-22 14:54] #50129 closed

[2018-10-22 14:59] #49523 closed

[2018-10-22 15:16] MTecknology commented on #14047
Oh, that's a nifty feature! I'll include it with my other changset. Thanks for the ping!

[2018-10-22 15:53] Ch3LL commented on #50106
thanks for clarifying @travispaul . I took a look at the mysql docs: https://dev.mysql.com/doc/connector-python/en/connector-python-connectargs.html

and it looks like we just need to add those ssl options to the connection args list there. Want to try that out and see if it works. We are willing to accept a PR on this.

[2018-10-22 16:37] jvrahav commented on #48498
Thanks Andreas, I will try it out

On Sat, Oct 20, 2018 at 1:32 AM Andreas Tsaridas <notifications@github.com>
wrote:

[2018-10-22 16:45] #40382 closed

[2018-10-22 17:12] mikemartino commented on #50155
After a few hours fighting with my configuration, I realize that the `test` flag is used in more places than I previously knew. For instance, it's used by [`prereq`](https://docs.saltstack.com/en/latest/ref/states/requisites.html#prereq) which has been the cause of much confusion for me this

I'm trying to download a more recent version of a JAR using the `artifactory.downloaded`. To avoid deployi

[2018-10-22 19:33] tsaridas commented on #48498
@jvrahav
I deleted the previous comment because it needs more investigation.

https://github.com/msgpack/msgpack-python/issues/283

https://github.com/saltstack/salt/blob/develop/salt/transport/ipc.py#L175

To my understanding its normal that python does not release memory and as long as there is free memory the OS will always try to give it more. This should not be a problem as long as the OS doe

[2018-10-22 19:59] #2747 closed

[2018-10-22 21:45] #41043 closed

[2018-10-22 23:01] cruscio commented on #49723
Switched back to python2 (master and minion) and it's happening with a Windows minions.

#### Minion Versions Report

[code]

#### Master Versions Report

[code]

[code]

Worth noting the Salt Master is running in Azure in a docker container and the Salt Minion is in another data center, connecting over the internet via TCP/TLS transport.

[2018-10-22 23:23] rbthomp opened #50162 "Scheduled job runs in endless loop when using when: and splay: together."
### Description of Issue/Question
When defining a scheduled job in a pillar and specifying when: and  splay: options together the schedule job runs in an endless loop.

### Setup
Pillar:
[code]

### Steps to Reproduce Issue
Create scheduled job using pillar.
Commenting the pillar to any of the following will result in normal behavior.

Comment out splay:
[code]
Change schedule to seconds from when

[2018-10-22 23:49] ricelitao opened #50163 "state_verbose=False doesn't work for SALT.RETURNERS.HIGHSTATE_RETURN module"
### Description of Issue/Question
the state_verbose setting doesn't work for SALT.RETURNERS.HIGHSTATE_RETURN module, doesn't matter if specify state_verbose=False in command line or set it in /etc/salt/minion and /etc/salt/master. Does it suppose to be working like this?
From the following instruction, it looks like there is separated setting for filtering:
[code]
But how can I display only change

[2018-10-23 00:38] rjc commented on #50025
I believe I covered everything in #50164, when it comes to `conf/master`.

[2018-10-23 02:58] JonathanWilbur commented on #50138
@ManicoW Please refer to [this repository I just made](https://github.com/JonathanWilbur/saltstack-issues-50138) which **proves** that this is an issue on both RPM and Debian distros, and please review and explain why you do not experience this issue on your machine.

@mgomersbach I don't see how your comment is relevant. I am saying that SaltStack appends environment variables to `/etc/crontab` i

[2018-10-23 02:58] travispaul commented on #50106
@Ch3LL it's definitely on my shortlist but it might be a week or two given some upcoming travel. I'll continue to update this issue if I make any progress.

[2018-10-23 03:18] whistle-china opened #50165 "Jid conflicts"
### Description of Issue/Question
Use the python module threading to call the salt api asynchronously
1. {'client': 'local_async', 'tgt': tgt, 'fun': 'cmd.run_all', 'arg': arg, 'expr_form': 'list'}
2. {'client': 'runner', 'fun': 'jobs.exit_success',  'jid': jid }
3. {'client': 'runner', 'fun': 'jobs.lookup_jid',  'jid': jid }

2018-10-18 21:20:44,233 [salt.utils.event

[2018-10-23 04:07] nkrishnakishor commented on #50154
@gtmanfred thanks for the reply, but i have tried to check with both the commands provided still resulting the same error.

[code]
Error message
` salt windows-minion state.sls common`
[code]

[2018-10-23 04:19] kenanbiel opened #50166 "Amazon ECR Credential Helper not working with Salt"
### Description of Issue/Question
I'm using Amazon's ECR service as my private container registry.

Unfortunately, whenever I want to pull images from that registry, i need to re-authenticate and the token changes every 12 hours. Amazon has gladly provided a workaround (https://aws.amazon.com/blogs/compute/authenticating-amazon-ecr-repositories-for-docker-cli-with-credential-helper/) for CI/CD pur

[2018-10-23 07:14] mgomersbach commented on #50138
@jonathanwilbur my wording could have been better. The code there is the relevant code. This does not mean you are not experiencing this bug. Thank you for the extra information.

[2018-10-23 09:04] ManicoW commented on #50138
@JonathanWilbur I'm sorry but your repository just proves that environment variables after crontab makes them not available, not that salt cron.set_env append them.

My test and the code, as mentioned by @mgomersbach , show that salt takes care of environment variables before any crontab, which result salt prepending the environment variables.

That's why I was asking for some salt state file (or

[2018-10-23 10:28] simmel commented on #47483
Don't know if it's possible already but what we'd want is to have a "role" attached/configured via pillars  to a minion which can be used in `ext_pillar`.

Sorta psuedo example config:
###### `pillar/top.sls`
[code]

###### `pillar/myappdb.sls`
[code]

###### `master.d/ext_pillars.conf`
[code]

Is this already possible or will it be possible with this feature request?

[2018-10-23 10:53] gtmanfred commented on #50153
You will need to wait for 2017.7.9 for this.  it will not be in 2017.7.8.

Did you make sure to fully restart the master and salt-api after making this change?

[2018-10-23 10:54] gtmanfred commented on #50154
Ok, it says it is failing to render the `pillar` `test` so it is unrelated to common.sls, it is going to be /srv/pillar/test.sls or /srv/pillar/test/init.sls that is failing

[2018-10-23 10:56] gtmanfred commented on #50138
@JonathanWilbur can you provide the states that you used that caused the crontab to be setup like this?

Thanks,
Daniel

[2018-10-23 11:29] waterlili commented on #28810
Even the issue were closed but I want to share my experience. Every thing was working and I start learning how to write module for salt. At first I created a module that name was same as module in salt (test.py) so when I write salt '*' test.ping It return not available and because master spread it to all minions even I delete test.py from master It doesn't work at least I had to delete all minion

[2018-10-23 12:17] #40676 closed

[2018-10-23 12:52] prog-dale commented on #50034
Yes of course, and then run it again with debug or ?

[2018-10-23 13:17] #27437 closed

[2018-10-23 13:19] guillefar opened #50169 "What is causing Salt to add 'u' to the commands?"
### Description of Issue/Question
This is probably a dumb question, but after doing search for quite a while, don't see the problem posted in another place.
So, when I run `salt-call`,  I'm seeing this kind of output:

[code]

[code]

[code]

As you can see is adding **u'** in front of some strings.

This doesn't seems to affect the run, but I would like to fix it just in case

### Setup
The files

[2018-10-23 13:29] #49744 closed

[2018-10-23 13:29] #44979 closed

[2018-10-23 13:29] #50014 closed

[2018-10-23 13:29] #50015 closed

[2018-10-23 14:39] guillefar commented on #50169
Oh I see. Well, that explains it. Thanks. I suppose I don't have to use it in the definitions?

[2018-10-23 15:12] mruepp opened #50176 "Salt Debugger with steppings feature request"
### Description of Issue/Question

If we could get a debugger like salt option when issuing state.apply or similar, this would be awesome.

Something like salt * state.apply debug=true

with the options:
Option to write breakpoints into sls files
Option to step into and step out of states and functions
Option to see variables and rendered jinja on the side

Currently it is quite hard to debug salt

[2018-10-23 15:57] gtmanfred commented on #50176
you will never be able to do that from `salt` because all of the work is done on the minion.

If you login to the minion, you can run `salt-call state.apply -l debug` and see all of your stuff.

You can also insert logging into the state files with the `log` module

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.logmod.html

[2018-10-23 15:59] gtmanfred commented on #50169
Starting with 2018.3, we switched to using `unicode` strings as the default string value, which is what has happened in python3, but we need to be compatible so we did it with python2 as well.

You should not have to change anything unless you are dumping stuff directly in jinja files, in which case, you may need to pass it through the yaml_encode filter so that it strips the u.

But we load all y

[2018-10-23 15:59] #50169 closed

[2018-10-23 16:17] #41027 closed

[2018-10-23 17:07] garethgreenaway commented on #50166
@terminalmage Any insight on this one?

[2018-10-23 17:11] garethgreenaway commented on #50165
@whistle-china Thanks for the report.  Are you making the above calls to the runner functions simultaneously?  Based on the time stamps they appear very close.
@saltstack/team-core Thoughts?

[2018-10-23 17:21] nkrishnakishor commented on #50154
@gtmanfred my pillar file /srv/pillar/test/init.sls was already listed previously.

[2018-10-23 18:32] rbthomp commented on #50162
I've confirmed that this is happening when splay: and when: are used in conjunction. Changing the return_kwargs was only changing the output to default to /var/log/salt/events from my /var/log/salt/pkg_list_test which let me to believe it was a factor.

[2018-10-23 18:45] garethgreenaway commented on #50163
@ricelitao Thanks for the report.  Are you seeing the verbose output in the command line output or in output file?

[2018-10-23 20:09] mchugh19 commented on #46510
Hey @blade2005. What's the status of your ssm module? We could use this functionality as well. Is it in a usable state?

[2018-10-23 20:34] mruepp commented on #50176
You don´t think it would be possible to step through lowstate on the minion and return after every step to the master?

[2018-10-23 21:17] #33071 closed

[2018-10-23 21:48] gtmanfred opened #50185 "Salt minion continues to try and connect to master even if disabled"
### Description of Issue/Question

[code]

Minion should never try to contact the master, but it is trying for some reason.

[code]

### Versions Report
[code]

[2018-10-23 21:49] gtmanfred commented on #50185
ugh, i had minion_type instead of master_type.

[2018-10-23 21:49] #50185 closed

[2018-10-23 22:04] gtmanfred commented on #50176
it is possible, but it will require an almost full rewrite of how the localclient return system works, because we only return the full data at the end of the command being run.

Now, i could see this happening on the minion, with salt-call, it would still be a substantial change, but it wouldn't require reworking the entire way the event system returns work.

[2018-10-23 22:20] alxwr commented on #33629
This seems to be still an issue in 2018.3.2.

[2018-10-23 22:29] klafkoff opened #50186 "BUG: Vault with KV Secrets Engine - Version 2 breaks SDB Vault"
### Description of Issue/Question
I am using Vault with KV Secrets Engine - Version 2. This breaks things with SDB since the response from vault is different than KV Secrets Engine - Version 1.

### Setup
Make sure you have Vault configured and enable KV Secrets Engine - Version 2:

[code]

/etc/salt/master.d/vault.conf:
[code]

This patches the sdb.get function to work correctly. I haven't looked

[2018-10-24 02:18] zbw1983 commented on #50153
Yes, I fully restart master and salt-api, but it still can't work. I use 2017.7.7 version, is there any other change I need do? Have you tested 2 grains match on eauth part? Many thanks.

[2018-10-24 02:59] MasonEdgel commented on #47771
Not sure if this is still relevant to anyone involved with this issue, but I ran into this problem myself today and decided to tackle it.  Take a look at the attached PR for my workaround.  It's not the most elegant, but at least in my case it works.  I took the qemu-agent approach, so it will require that the agent be installed to your source template.

[2018-10-24 05:35] jvrahav commented on #48498
Thanks @tsaridas for your inputs. For now i have limited resource to salt master and that seems to do the trick with consuming less memory. However i would like to hear from @DmitryKuzmenko  as well on your findings.

[2018-10-24 06:02] whistle-china commented on #50165
@garethgreenaway Multiple threads are used with module threading, and each thread calls the runner functions separately. The number of threads at the time of the problem cannot be determined for a while, but dozens of threads are available.

I think creating jid with {0:%Y%m%d%H%M%S%f}'.format(datetime.datetime.now()) is very accurate, but it still causes jid to repeat

I found a post https://gith

[2018-10-24 06:20] ricelitao commented on #50163
Hi @garethgreenaway , I see the verbose output in output file. Basically, I need only changes and errors in HTML format output file, but it displays everything whatever I tried. The output in the command line looks good, it only shows me changes and errors.

[2018-10-24 06:59] thebluesnevrdie commented on #50032
@terminalmage Thanks for the insight. For the last case, could we add an argument to indicate the use of a custom registry with a custom port? `private_reg: True` or `registry_port: 5000`

[2018-10-24 08:04] kangelos opened #50191 "_load_library in rsax931.py on openwrt systems"
### Description of Issue/Question
find_library does not work on systems like openwrt where utils like ldd ldconfig etc behave differently

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
just plain python3.7 setup.py install
[rsax.error.txt](https://github.com/saltstack/salt/files/2509498/rsax.error.txt)

### Steps to Reproduce Issue
(Include debug

[2018-10-24 08:59] Tanoti opened #50193 "Job ID changes in event data between salt-call start and job return"
### Description of Issue/Question
The Job ID appears to change between the start of a salt-call state run on a minion and the return data for that job. For instance, with "state_events: True" a simple one-step state will return these tags:

Job Progress
--------------
Sending event: tag = salt/job/**20181024085257863424**/prog/saltdev/0; data = {'jid': '20181024085257863424', 'cmd': '_minion_event

[2018-10-24 10:13] mattiasr opened #50194 "Failed to create temp network for comparison: Unable to perform create_network: create_network() got an unexpected keyword argument 'enable_ipv6'"
### Description of Issue/Question
Try to create docker network via salt on Ubuntu 16.04.
[code]

### Workaround
Update python-docker to newer version.
* `pip install docker`
* Upgrade to Ubuntu 18.04

### Setup
Ubuntu 16.04
salt-master 2018.3.2 (Oxygen)
salt-minion 2018.3.2 (Oxygen)
OS Package: docker-ce Version: `18.06.1~ce~3-0~ubuntu`
OS Package: python-docker Version: `1.9.0-1~16.04.1`
[code]
A

[2018-10-24 10:15] cavepopo commented on #49586
Here :
[code]

[2018-10-24 10:17] mattiasr commented on #50194
The issue is solved to me, just for reference, i'm fine if you close this :)

[2018-10-24 11:15] pthirumalachar commented on #46665
+1.  + if this could report not only the state transitions, but could also capture the STD outs/warning of the underlying processes being run, is very much needed.  And having the ability to list only the delta output would be very helpful

[2018-10-24 11:47] kiemlicz commented on #22852
Is it possible to achieve something like this?

some_kubernetes_masterstate.sls:
[code]

kubernetes/network.sls:
[code]

Aforementioned example doesn't work as included `kubernetes.network.{{ kubernetes.network.provider }}` is not the same sls as `kubernetes.network` (though include should mean it is the part of the same sls...)

Currently to make this work I have to duplicate:
[code]
Which I don'

[2018-10-24 12:19] shallot commented on #38336
Still not documented, per report

[2018-10-24 12:57] mchugh19 commented on #49335
Sounds like this would also be helped by implementing the naming convention suggestions from #30533

[2018-10-24 13:14] gtmanfred commented on #50186
i don't understand what has changed? because we are already pulling a data key off the top of the response, is it now two nested dicts called data?

[code]

[2018-10-24 13:28] max-arnold opened #50196 "No way to debug templates over salt-ssh"
### Description of Issue/Question

The recommended ways to debug templates are (as seen in the Slack chat):

[code]

Unfortunately, I was unable to make it work over `salt-ssh`:

[code]

[code]

Third way also doesn't work:

[code]

Salt version `2018.3.2` on Py3.

The question is: what is the best (and documented) way to debug templates, which works consistently across `salt`, `salt-call` and `sa

[2018-10-24 13:35] gtmanfred commented on #50153
just so I make sure to replicate what you are doing, what command are you running that is returning a 401 error?

[2018-10-24 13:39] gtmanfred commented on #50153
It is working for me.

[code]

With a simple example.

[2018-10-24 13:44] gtmanfred commented on #50186
Also, i ran this through our tests, and it does not allow us to upgrade our vault container for tests to the newest vault version.

https://github.com/saltstack/salt/blob/fluorine/tests/integration/sdb/test_vault.py#L40

If you can submit a PR that allows us to upgrade that to the latest version of vault i will love you forever <3

Thanks,
Daniel

[2018-10-24 13:46] georgegiovanni commented on #31241
this issue is still valid, current workaround:
[code]

[2018-10-24 13:58] blade2005 commented on #46510
Hey @mchugh19 I've not and I do feel bad for not putting more than an initial effort. I'm not working a lot with salt right now. If you fork my branch feel free to PR against me or saltstack's repo.

I don't want to keep hope up that I will finish this because I just don't have the cycles to spare.

[2018-10-24 14:55] mruepp opened #50198 "Distinguished event when minion firstly connects with auto_accept: true"
### Description of Issue/Question
We need to run an orchestrator on the first minion start event.
We run a reactor on salt key accept events. But we want to set auto_accept to true on the master and in that case, no salt key events are published.

Is there any way how we can trigger a reactor on the first key accept with the auto_accept option to true?

### Setup
(Please provide relevant configs a

[2018-10-24 15:29] gtmanfred commented on #50137
The fix for this has been merged

[2018-10-24 15:29] #50137 closed

[2018-10-24 15:43] ryanwalder commented on #35719
I've come across #45039 which is the same bug but seems to be the active one. This can probably be closed (sorry for re-opening it!).

[2018-10-24 15:48] snlnspc opened #50210 "grep/ag via cmd.run get different results over salt-ssh (fails) and zeromq"
### Description of Issue/Question
When searching files directly via cmd.run or cmd.script states, grep/ag have different syntax requirements over salt-ssh vs zeromq. I have the same issue with both `name: grep hi` and `source: salt://test/ag.sh`. In production, we're matching any of several strings, excluding several directories, and piping matching files to a multiline sed command.

* over salt-s

[2018-10-24 17:39] garethgreenaway commented on #50162
@rbthomp Thanks for the update.  Looking into this now.

[2018-10-24 17:46] rpisarev opened #50213 "Redodata is missed on yum/redhat/6/i386/latest/"
Redodata is missed on
https://repo.saltstack.com/yum/redhat/6/i386/latest/

On the other hand we have https://repo.saltstack.com/yum/redhat/6/x86_64/latest/repodata/

Please recreate repodata for redhat/6/i386

[2018-10-24 18:42] Ch3LL commented on #50191
seems you have a clear grasp here, mind submitting a PR?

[2018-10-24 18:44] JonathanWilbur commented on #48241
TLDR: Upgrade PyZMQ, check minion configuration, and use batching.

I had this same problem. I noticed that the salt-master processes would stay hot for a few minutes after running a big salt job (running `saltutil.sync_grains` on about 380 hosts, to be more precise), which made me think that there was probably a lot of I/O buffered that was being handled after the job. I imagine you may have noti

[2018-10-24 18:47] garethgreenaway commented on #50162
@rbthomp So far I haven't been able to reproduce this and I'm not seeing an endless loop.  That being said, it does appear that splay + when it not working as expected.

[2018-10-24 19:08] Ch3LL commented on #50213
ping @dmurphy18

[2018-10-24 19:11] klafkoff commented on #50186
Yeap, it's nested data inside data. If we dump the full json back from Vault, it shows this:

/opt/saltstack/lib/python2.7/site-packages/salt/sdb/vault.py:get()
[code]

[code]
Note the u'data': {u'data':

[2018-10-24 19:13] gtmanfred commented on #50186
ugh, ok thanks vault... i am working on fixing the tests for this, then we can test and make sure they still pass with the change

[2018-10-24 19:41] rallytime commented on #44554
@gmacon This should be fixed with #50211

[2018-10-24 20:00] cavepopo commented on #49485
Hi,
Please let me know if I can of any help regarding this issue.

[2018-10-24 20:30] szandala commented on #47006
Greetings,
I still have the problem on Alpine Linux (both 3.8 and edge)
`[CRITICAL] Failed to load grains defined in grain file opt-1.marathon in function <function marathon at 0x7f2fc7611c80>, error:
Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/salt/loader.py", line 757, in grains
    ret = funcs[key]()
  File "usr/lib/python3.6/site-packages/salt/grains/marathon.py

[2018-10-24 20:37] anarcat commented on #48939
... why?

[2018-10-24 20:39] dmurphy18 commented on #50213
@rpisarev The RHEL 6 32-bit repository is now available for Salt 2018.3.3, sorry about that oversight, it is one of the few left which is built by hand and a step was missed in making the 32-bit repository.

Please let us know if there are any issues with its use, and if not, can you close this issue once you are satisfied.

[2018-10-24 20:40] gtmanfred commented on #48939
i don't remember @cro do you?

[2018-10-24 20:48] rpisarev commented on #50213
@dmurphy18 Thank you! I'll close it then

[2018-10-24 20:48] anarcat commented on #48939
and why should we consider CVE-2017-7893 fixed if the protection is disabled?

[2018-10-24 20:49] #50213 closed

[2018-10-24 20:52] szjur commented on #48498
Hi

Please note that minion responses larger than max_buffer_size will cause exception there and in the other approach (creating a new Unpacker inside the while loop) any response larger than 4096 bytes will not work (which is obvious from looking at this code), so this may not be the best solution.
I scrutinised msgpack source and can't really understand why it leaks memory with no buffer set, me

[2018-10-24 22:04] gtmanfred commented on #50186
Yeah, so the problem with the way we use vault is that we hard code and only use v1 of k/v pairs.

https://github.com/saltstack/salt/blob/2018.3/salt/modules/vault.py#L138

So even with your change, the tests still fail, because the vault module needs to be updated to support using k/v  version 2

[2018-10-24 23:01] #41107 closed

[2018-10-24 23:28] garethgreenaway commented on #50162
Was finally able to reproduce this one.  Seems related to specifying `when` as a list and using in combination with `splay`.

[2018-10-25 05:27] dudleyperkins opened #50217 "salt-master debian package upgrade to 2018.3.3+ds-1 fails"
### Description of Issue/Question

I just tried to upgrade the salt-master package, but the restart of the service during that upgrade fails. That leaves the salt-master package as unconfigured for dpkg and unusable on the system.

Error messages ( from /var/log/salt/master) during the restart are:

2018-10-25 06:28:32,267 [salt.log.setup   :1165][ERROR   ][6901] An un-handled exception was caught

[2018-10-25 05:47] ata-sql opened #50218 "git.latest with unless command fails after upgrade to 2018.3.3"
### Description of Issue/Question
after upgrading (Centos 7) saltstack to 2018.3.3 git.latest state with unless "git status" starts to fail.

### Setup
[code]

### Steps to Reproduce Issue
[code]

when *unless* section is removed, state works fine

### Versions Report
[code]

[2018-10-25 06:35] muslumb commented on #40529
Hi
i've faced this issue  when i try "service salt-minion start/status/restart" .
"ERROR: Unable to look-up config values for /etc/salt   "
then when i run "salt-call state.highstat" or /usr/bin/salt-minion
[ERROR   ] 'NoneType' object is not iterable
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/salt/utils/parsers.py", line 222, in parse_args
    mixin_after_parsed_f

[2018-10-25 06:35] muslumb commented on #40529
[root@salt]# salt --versions
Salt Version:
           Salt: 2018.3.3

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: 2.1
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: 2.7.2
        libgit2: Not Installed
        libnacl: Not Installed
       M2Crypto:

[2018-10-25 07:50] promulo commented on #50217
We had the same problem after an unattended upgrade on Ubuntu installed `2018.3.3+ds-1` (we were already on 2018.3.3).

In our case, installing the `python-concurrent.futures` package mitigated the issue.

[2018-10-25 08:03] dudleyperkins commented on #50217
Thank you that did the trick.

I leave this issue open for now, cause i think this should be added as a dependency for the package. If a Developer states otherwise this might as well be closed.

[2018-10-25 08:07] zbw1983 commented on #50153
I just update my salt to 2017.7.8 version, and update my /usr/lib/python2.7/site-packages/salt/utils/minions.py file, but still can't work.
Here is my conf
[code]
salt -a ldap bjo-devops-008 test.ping
username: cd_af
password:
Failed to authenticate! This is most likely because this user is not permitted to execute commands, but there is a small possibility that a disk error occurred (check disk/i

[2018-10-25 08:20] JonathanWilbur commented on #50138
@ManicoW and @mgomersbach This is the issue here:

The `cron` module first searches for the `flag` line, which is `# Lines below here are managed by Salt, do not edit`. Anything that comes after that line gets parsed as you would expect:

https://github.com/saltstack/salt/blob/63df92054c96efa3b2b16e1cae6bfdbf16f746d2/salt/modules/cron.py#L330-L334

But anything that comes before this `flag` line i

[2018-10-25 08:31] tkaehn opened #50219 "file.managed: UTF-8 in contents_pillar broken in 2018.3.3"
### Description of Issue/Question

UTF-8 in contents_pillar is broken in 2018.3.3. Before the last upgrade it worked.

I've also tried to set  `- encoding: utf-8` in the state file. But this didn't change the behaviour.

### Setup and steps to reproduce

[code]

### Versions Report

[code]

[2018-10-25 08:38] damon-atkins commented on #50219
Also are utf8 however the output is determined by LANG environment vars

[2018-10-25 09:57] murmelantes commented on #45441
I'm having the exact same issue, so I'm just leaving a quick comment so the issue doesn't auto close...
Thanks a lot!

[2018-10-25 09:59] Mrten commented on #28274
I'm seeing this on 2017.7.8

[2018-10-25 10:03] Mrten commented on #28274
both when running state.highstate and a single state.sls

[2018-10-25 10:06] Mrten commented on #28274
only a problem when the minion is 2017.7.8, 2017.7.7 minions work OK

[2018-10-25 10:11] Mrten commented on #28274
[code]

[2018-10-25 10:11] Mrten commented on #28274
python-psutil is installed

[2018-10-25 10:12] mgomersbach commented on #50138
Correct and seems like correct behaviour?
As in: do not touch or alter existing entries?

[2018-10-25 10:29] Mrten opened #50220 "broken highstate going from 2017.7.7 to 2017.7.8: "KeyError: 'saltutil.is_running'""
I'm currently stuck on something that looks suspiciously like #28274, which I'll stop spamming now.

2017.7.8 minion:
[code]
If I downgrade to 2017.7.7, same state.sls:
[code]

[2018-10-25 10:29] Mrten commented on #28274
Continued in #50220, sorry for the spam

[2018-10-25 10:42] dwoz commented on #50193
@Tanoti Thank you for reporting this.

[2018-10-25 10:48] dwoz commented on #50196
@max-arnold Thank you for reporting this.

[2018-10-25 10:59] tkaehn opened #50221 "file.managed: contents_pillar and pillar.file_tree with keep_newline is broken in 2018.3.3"
### Description of Issue/Question

Using contents_pillar and pillar.file_tree with keep_newline is broken in 2018.3.3 and results in removing lines.

Probably file.managed is broken as `pillar.get` shows the newlines (please see below).

### Setup and steps to reproduce

[code]

### Versions Report
[code]

[2018-10-25 11:02] dwoz commented on #50218
@ata-sql Thank you for reporting this.

[2018-10-25 11:40] soostdijck opened #50222 "numeric git branch name breaks saltenv=<mybranch>"
### Description of Issue/Question

When using gitfs and using  `saltenv=somebranch` where "somebranch" is a integer/number things fall over.

### Setup
`salt-call state.apply network saltenv=1297551 pillarenv=base --output-diff`

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2018-10-25 11:47] HansAdema commented on #50014
Thank you! How can I try this change? Do you know with which versions of Salt will contain this fix? I checked the code for 2018.3.3, but it doesn't seem to contain these changes.

[2018-10-25 12:03] Mrten commented on #50220
Related? /var/log/salt/minion from a failing run:
[code]

[2018-10-25 12:30] sblaisot commented on #50220
same here with 2017.7.7 master and 2017.7.8 minion
If I downgrade the minion to 2017.7.7 no problem, but unfortunately older versions are not available anymore from saltstack's official debian repo.

I did not try to upgrade master to 2017.7.8 yet to have both master and minion in this version beacause I don't want to break all my servers.

[2018-10-25 12:39] Mrten commented on #50220
You can change your /etc/apt/sources.list.d/[salt-ppa] file to have, for example:
[code]
then
[code]

[2018-10-25 12:40] Mrten commented on #50220
all old releases are [there](http://repo.saltstack.com/apt/ubuntu/14.04/amd64/archive).

[2018-10-25 12:41] Mrten commented on #50220
Btw, my master is 2017.7.8 and it's OK. But be careful to run a highstate if it upgrades the salt-minion package, I had to manually downgrade four servers.

[2018-10-25 12:51] Mrten commented on #50220
I'm in the process of upgrading 14.04 machines to 16.04.

The problem manifested itself on 14.04 first. When the upgrade to 16.04 is done 2017.7.8 is still broken, but when I then dist-upgrade which upgrades (amongst others) `python-concurrent.futures` (to 3.0.5) and `python-tornado` (to 4.2.1-2~ds+1) things seem to work again.

Is there a minumum dependency on either of those two packages missing

[2018-10-25 12:54] JonathanWilbur commented on #50138
I would call it _understandable behavior_, but not _correct behavior_. It seems to defeat the point that you can't completely manage the crontab from SaltStack. It certainly defeated the point in my case, where all I needed to do was apply an environment variable to all cron jobs by putting it at the top of the file.

For that matter, if the parsing logic works for everything after the flag, it sh

[2018-10-25 13:06] lomeroe commented on #50220
I am seeing the same on 2018.3.3 too (as well as 2017.7.8), even when just trying to run a state.single or state.apply, my nodes are masterless too...

[code]

[code]

[2018-10-25 13:11] lomeroe commented on #50220
Seems python's concurrent module is the cause in my case:

[code]

[code]

fixes it on Cent...looks like the package needs a dependency to make sure it gets installed

[2018-10-25 13:41] mgomersbach commented on #50138
Personally I've found the '# Lines below here are managed by Salt, do not edit' self explanatory.
Usually in your described situation a '# Do not touch, this file is managed from salt' is present.
But a more clear documentation would never hurt!
This is for obvious reasons as salt would not be able to tell when something is custom or managed.

[2018-10-25 13:44] Local9 opened #50223 "salt.states.reg: HKEY_CURRENT_USER keeps adding items in HKEY_USERS"
### Description of Issue/Question
salt.stats.reg HKEY_CURRENT_USER keeps adding to HKEY_USERS

When using the following in a .reg file it works as intended.

[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

disable-f1.sls
[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
Run the sls file above on Windows 7

[2018-10-25 13:47] mruepp opened #50224 "Augeas changes state with setm not working"
### Description of Issue/Question
We have the following state:
[code]
It does not work with:
`setm /files/etc/logrotate.conf//create/*[label() = "mode"] . 0640`
`Error: Invalid formatted command, see debug log for details: /files/etc/logrotate.conf//create/*[label() = "mode"] . 0640`

Also not with:
`setm '/files/etc/logrotate.conf//create/*[label() = "mode"]' . 0640`
[code]
Both commands work wit

[2018-10-25 13:52] folti commented on #50220
Not on trusty.
It looks like, the problem is the different dependency handling by APT, regarding the dependencies of the python-tornado package. On our trusty hosts which shows this bug, the version of the python-tornado package is 4.2.1-1 with no installation candidate:
[code]
This usually happens when the source of that version disappears from APT sources (eg. probably provided in a previous Sal

[2018-10-25 13:54] sblaisot commented on #50220
On a debian stretch minion server, installing package `python-concurrent.futures` resolves the issue.
This package should definitely be made a dependance of the salt-minion package

[2018-10-25 14:09] gtmanfred commented on #50217
This is being tracked over here.

https://github.com/saltstack/salt-pack/issues/593

[2018-10-25 14:09] #50217 closed

[2018-10-25 14:16] gtmanfred commented on #50222
That is caused by yaml,  you will need to quote those.

`salt-call state.apply network saltenv='"1297551"' pillarenv=base --output-diff`

https://docs.saltstack.com/en/latest/topics/troubleshooting/yaml_idiosyncrasies.html

all of the salt commandline inputs are passed through the yaml loader, which converts the string with only numbers in it to an integer.

[2018-10-25 14:16] DmitryKuzmenko commented on #48498
@szjur I'll look at that right when I'll have more time.

[2018-10-25 15:30] rallytime commented on #50050
OK, so in PR #50182 there were 3 test files back-ported for files that don't exist in 2018.3.

The following test files were removed:
- unit/beacons/test_smartos_imgadm.py
- unit/beacons/test_smartos_vmadm.py
- unit/beacons/test_watchdog.py

All three of the associated beacons exist in `fluorine`, so after #50182 is merged forward to `fluorine`, the test files will need to be added again to the `f

[2018-10-25 15:30] Ch3LL commented on #50194
yeah it looks like `enable_ipv6` was added in python-docker 1.10.0. Is it really required to upgrade ubuntu18 or you just took taht path cuz the python-docker package is updated there?

[2018-10-25 15:32] aplanas commented on #43131
I think that this part of the code is a mess, as even the default way in this code is to leverage `gpasswd`, when nowadays `usermod -a` (append) is used.

But for this specific issue I think that `--root` can be used instead of `-Q` or `-R`, as both share the same long command.

But IMHO this piece of code needs to be rewritten.

[2018-10-25 15:32] szjur commented on #48498
@DmitryKuzmenko it actually seems that the main reason of leaks are forgotten event consumers (https://github.com/saltstack/salt/issues/34215). It is easy to overlook this when you have a client with a dedicated event listener but then also use the LocalClient to start some async jobs.

msgpack using Cython code does seem to have some tiny leak or otherwise under very heavy testing that process sl

[2018-10-25 15:58] gtmanfred commented on #50153
If you remove the compound target, does it work?

[2018-10-25 15:59] gtmanfred commented on #50014
it will be in 2018.3.4, you can download the module and put it in salt://_modules/ and use it there

https://docs.saltstack.com/en/latest/ref/file_server/dynamic-modules.html

[2018-10-25 16:00] Ch3LL commented on #50198
when i set `auto_accept` adn a minion is accept automatically i see this event:

[code]

You should be able to react off of that event?

[2018-10-25 16:12] mruepp commented on #50198
Unfortunately, that event triggers on every minion connect, restart, etc. We do quite heavy lifting in the primer orch so to run it on this event would trigger on every minion upgrade, sys reboot

[2018-10-25 16:37] dgengtek opened #50226 "Custom state module with same name is overriding default state"
### Description of Issue/Question
Edit: see my comment below for the actual issue

I am unable to use the locale state. It does not load with any minion in my environment. Downgrading does not help.

Debugs are not outputting anything helpful. Am I missing something on my hosts?

### Setup
[code]

### Steps to Reproduce Issue
[code]
Tried on minion without master
[code]

### Versions Report
One of

[2018-10-25 16:51] dgengtek commented on #50226
I found my issue. It was my template in the _states directory in the formula. I had a _states/locale.py file.

This was the content of the file:
[code]
Shouldn't this have prevented the default from being overriden?

https://docs.saltstack.com/en/latest/ref/states/writing.html
Note that a state module's name defaults to one based on its filename (i.e. foo.py becomes state module foo), but that its

[2018-10-25 16:52] Ch3LL commented on #50219
i was able to replicate this and bisected it to this commit: https://github.com/saltstack/salt/pull/49316/commits/3fef112409ad206f4c6af5f21561dd71ba53b618

we will need to fix this up thanks

[2018-10-25 16:58] Ch3LL commented on #50220
this is being tracked over here: https://github.com/saltstack/salt-pack/issues/593

[2018-10-25 16:58] #50220 closed

[2018-10-25 17:32] Ch3LL commented on #50223
ping @saltstack/team-windows any ideas here?

[2018-10-25 17:41] sheagcraig opened #50227 "mac_utils `_available_services` will fail with malformed launchd plists present"
### Description of Issue/Question
The current implementation of the salt/utils/mac_utils.py module uses exception handling during plist reading primarily as a means for dealing with binary encoded plists. However, it doesn't correctly handle plists which are invalid, leading to an unhandled exception blowing up the `_available_services` function.

Obviously, you shouldn't have any broken launchd p

[2018-10-25 18:13] twangboy commented on #50223
So, you're saying there's now a `SOFTWARE` key directly under `HKEY_USERS`, right?

[2018-10-25 18:49] rallytime commented on #50050
#50230 needs to be back-ported as well, once it's merged.

[2018-10-25 18:58] rallytime commented on #50219
@dwoz Can you take a look here?

[2018-10-25 21:13] mattp- commented on #26505
tagging https://github.com/saltstack/salt/issues/35798 as another issue to resolve for cherrypy parity

[2018-10-25 21:17] rallytime commented on #50221
@dwoz Can you fix this one as well?

[2018-10-25 21:42] roskens opened #50238 "KeyError: u'ret' when running salt -b x ... on salt master-of-masters."
### Description of Issue/Question
Running `salt -b 50 '*' state.highstate` on salt MasterOfMasters and getting an exception:
[code]

I added a logging statement after `for minion, data in six.iteritems(parts):` in /usr/lib/python2.7/site-packages/salt/cli/batch.py to print the minion & its data value. When this exception happens, data is always `{'failed': True}`.

The minion that it fails on is r

[2018-10-25 22:03] bornwitbugs commented on #48343
Checking back on this, seems it missed the 2018.3.3 cut off

[2018-10-25 22:20] dmurphy18 commented on #40529
@muslumb The original issue is about RHEL 6, whereas your version report shows Amazon Linux 1.  Could you please open a new issue for Amazon Linux 1.  Understanding that Amazon Linux 1 is based on RHEL 6, and SaltStack only supports Python 2.7 at this point on both, however the packages are built differently for Amazon, and it would be better to address this in its own issue rather than conflagrat

[2018-10-25 22:50] roskens commented on #50238
Unsure of whether this is relevant or not, but the salt master-of-masters is configured with a master_job_cache using pgjsonb. The syndics are configured with both master_job_cache and returner.pgjsonb entries in their master configs.

I am seeing errors in the postgresql logs about duplicate keys in the jids table:
[code]

The existing load value for that jid:
[code]

This is just one example, bu

[2018-10-25 23:03] bornwitbugs commented on #50219
@dwoz not sure if this is a bug or simply a packaging error. Ran into this same issue when using `file.blockreplace`. After playing around with the current code base (including the commit mentioned above by @Ch3LL ) I've found a discrepancy with the current source for salt/utils/files.py at least on centos 7 repo package.
When installing from salt repo `Check for ASCII first` is the first encoding

[2018-10-26 01:54] zbw1983 commented on #50153
Yes, if I use single grains match or use PCRE match, it can work.

[2018-10-26 07:48] tomlaredo opened #50241 "[CRITICAL] Missing python-concurrent.futures leads to infinite loop error logging on salt 2018.3.3"
### Description of Issue/Question

Upgrading from 2018.3.2 to 2018.3.3 on a server that doesn't have python-concurrent.futures installed on Debian 9 (stretch) makes salt-minion fail and write this error message in an infinite way, filling logs of all my servers:

[code]

An insteresting point is that python-concurrent.futures MIGHT be present if apt is configured to install "recommended" dependenc

[2018-10-26 08:07] pasanmdev opened #50242 "after uprgrade to 2018.3.3+ds-1 salt-minon,salt-master fails to start"
### Description of Issue/Question
I have upgrade the salt-master/salt-minon nodes on my network to latest pkg 2018.3.3+ds-1 via saltstack deb repo ( http://repo.saltstack.com/apt/debian/9/amd64/latest stretch/main amd64) and it appears to missing a python dependency and causes minion and master process start up fail with below message.

Oct 26 18:23:15 tigernut salt-master[11768]:     import salt.

[2018-10-26 08:46] afischer-opentext-com opened #50243 "No file download retry in case of wrong checksum"
### Description of Issue/Question

In case a `retry` and a `source_hash` is configured for the salt state `file.managed`, the state does not manage/download a file again, in case the passed checksum does not match. Instead only the checksum is verified as often as the retry configures it. Used version is salt 2017.7.5.

Expected behavior is that a file is downloaded again in case the checksum does

[2018-10-26 10:28] giorgiosironi opened #50244 "Return code 0 on rejected minion key"
### Description of Issue/Question

Running a new minion that gets rejected because of an existing key doesn't fail the `salt-call state.highstate` command

### Setup

- Create a minion
- Create another minion with the same `/etc/salt/minion_id`
- Run `salt-call state.highstate --retcode-passthrough` on the latter

### Steps to Reproduce Issue

[code]

### Versions Report

[code]

[2018-10-26 10:38] markododa opened #50245 "salt can't connect to the master."
On a new install of saltstack 2018.3 (from the apt repo) on debian 9, i can't run commands to the master, only salt-call works.
Even salt minion_id test.ping hangs
The error i get in stderror is

`
^CException SystemExit: SystemExit(u'\nExiting gracefully on Ctrl-c',) in <bound method AsyncReqMessageClient.__del__ of <salt.transport.zeromq.AsyncReqMessageClient object at 0x7f8e9c11bdd0>> ignored
E

[2018-10-26 10:38] ClaudiuPID commented on #21370
Does any one know if Saltfile is ignored when calling salt-ssh over salt-api?

[2018-10-26 11:29] nkrishnakishor opened #50246 "external_auth: Authentication error occurred when using ldap and active directory"
### Description of Issue/Question
Authentication error while using ldap and active directory for external authentication
### Setup
`cat /etc/salt/master | grep -v "#" | grep -v "^$"`
[code]
### Steps to Reproduce Issue
`[user1@master ~]$ salt -a ldap minion test.ping -l all`
[code]
### Versions Report
 `salt --versions-report`
[code]

[2018-10-26 11:41] mattiasr commented on #50194
I took that path since i like to have a fresh system, but upgrading `pip install docker` was enough to get it to work on 16.04 (as i perhaps not really clear stated in workaround section)

[2018-10-26 12:11] Local9 commented on #50223
@twangboy I don't know the best way to explain it right now but hope fully these two screen caps should help.

This is what happens in the registry when ran via the reg state.
![wrongkey](https://user-images.githubusercontent.com/6077794/47565456-6450d500-d920-11e8-844f-4b73348a2d70.PNG)

When I run those in a .reg file I get the following which is correct and the expected outcome.
![correctkey](h

[2018-10-26 12:11] damon-atkins commented on #50223
Current User is `SYSTEM` for the salt-minion
Current User when using `salt-call` could be the user running `salt-call`

Which user are you targeting?

[2018-10-26 12:12] Local9 commented on #50223
I maybe miss understanding the reg keys but I want to target all users.

[2018-10-26 12:14] damon-atkins commented on #50223
You can but you need to use  HKEY_USER and loop through all the users. Some not real code, put i think you will get the idea.
[code]

[2018-10-26 12:55] gtmanfred commented on #50153
@Ch3LL can you also try and replicate this when you get a minute today? I was unable to replicate with 2017.7.8

Thanks,
Daniel

[2018-10-26 13:14] Local9 commented on #50223
@damon-atkins Thank you, you sent me down a path that helped me find it... so yea, I completely didn't understand the module.

[2018-10-26 13:14] #50223 closed

[2018-10-26 13:32] ixs opened #50247 "Nested grains.filter_by calls fail when using salt-ssh"
### Description of Issue
This occured using the epel formula from https://github.com/saltstack-formulas/epel-formula.

When running state.apply epel via salt-call, everything works.
Running the same via salt-ssh, an error is returned instead:

`    - Rendering SLS 'base:epel' failed: Jinja variable 'dict object' has no attribute 'key_name'
`
The problem seems to be, that the salt-ssh grains wrappe

[2018-10-26 13:32] damon-atkins commented on #50223
If you need more help goto https://saltstackcommunity.herokuapp.com/

[2018-10-26 13:43] Local9 commented on #50223
I'll have a look into doing this on the weekend, still thank you, for now the operations management are happy that something has been progressed as this was mainly to bock users opening the windows help pane as this caused agent machines to slow down and also get around a GPO.

[2018-10-26 13:49] roskens commented on #50238
Upgraded master, syndics, and minions to 2018.3.3 and the problem still exists.

[2018-10-26 15:14] roskens opened #50249 "pgjsonb returner is not multi-syndic safe / duplicate jids"
### Description of Issue/Question
Using pgjsonb in a master-of-masters (1 master-of-masters, X syndics, Y minions), leads to large numbers of duplicate key errors on the jids table when running large numbers of concurrent jobs.

This comment from the multi_returner returner sums this problem up:

Possibly a duplicate of https://github.com/saltstack/salt/issues/50165 ?

### Setup
1 master-of-master

[2018-10-26 15:37] rbthomp commented on #50198
@mruepp I had this same issue I ended up having my reactor accept the key on minion first connect.

Reactor
[code]

[2018-10-26 15:52] Ch3LL commented on #50210
im a bit confused. When i run your state against a regular minion and salt-ssh I get the same failures and passes on both of them. And i see the same in your output. Can you clarify?

Also one thing ot note if you look at this warning:

From these docs:  https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.cmdmod.html#salt.modules.cmdmod.run

Can you try the following when using the p

[2018-10-26 16:07] dmurphy18 commented on #50241
@tomlaredo This is being handled https://github.com/saltstack/salt-pack/issues/593

But basically stretch supplies python-tornado (not SaltStack) which has a recommends on concurrent-futures, not a depends.  Salt is using the python-tornado that is supplied with the OS.

However shall look into steps to help with the issue.

[2018-10-26 16:08] dmurphy18 commented on #50242
@pasanmdev This is being handled saltstack/salt-pack#593

But basically stretch supplies python-tornado (not SaltStack) which has a recommends on concurrent-futures, not a depends. Salt is using the python-tornado that is supplied with the OS.

However shall look into steps to help with the issue.

[2018-10-26 16:08] #50242 closed

[2018-10-26 16:09] dmurphy18 commented on #50241
Closing this since being address as detailed above

[2018-10-26 16:09] #50241 closed

[2018-10-26 16:09] dmurphy18 commented on #50242
Closing this since being address as detailed above

[2018-10-26 16:12] Ch3LL commented on #50224
okay i'm able to replicate this. It looks like in the augeas module it compares the base path to make sure its a string but we are passing in unicode type so right here:

[code]

is where its failing. ping @terminalmage can you take a look here

[2018-10-26 16:49] roskens commented on #50249
I was comparing pgjsonb.save_load() with local_cache.save_load(). local_cache's version will *overwrite* the existing JID file each time it is called for the same JID!

[2018-10-26 16:58] mruepp commented on #50198
Indeed thats the best solution. But generally asking nonetheless, shouldn´t be a dedicated event raised if minion gets accepted by auto_accept?

[2018-10-26 18:06] klafkoff opened #50253 "sdb yaml bug found when opening the yaml file to read values in"
### Description of Issue/Question
Inside `/opt/saltstack/lib/python2.7/site-packages/salt/sdb/yaml.py:_get_values()` it calls `with salt.utils.files.flopen(fname) as yamlfile:`

in `salt/utils/files.py`:
[code]

Since there's no check to establish whether or not there are more than args[0], we get this error
[code]

If I provide a check if len(args) > 1, success:
[code]
and now:
[code]
### Setup
N

[2018-10-26 18:14] jmcook1 opened #50254 "file.line adding line every time"
### Description of Issue/Question
2018.3.3 appears to have a bug with file.line. The line is always added even if it already exists. This does not happen on 2018.3.2 minions. I've tried a variety of after/before lines and the line is always added.

### Setup
yum.sls:
[code]
Contents of /etc/yum.repos.d/epel.repo:
[code]
### Steps to Reproduce Issue
Run the state on the minion:
[code]
### Versions

[2018-10-26 18:35] ezh opened #50255 "mine.get broken in Python 3"
### Description of Issue/Question
ctx['salt']['saltutil.runner']('mine.get', tgt='*', fun='network.ip_addrs')
"\nPassed invalid arguments: unhashable type: 'list'\n\nUsage:\n\n    Gathers the data from the specified minions' mine, pass in...

salt/utils/minions:1176

fun 'test.ping'
data.get(functions)
TypeError: TypeError("unhashable type: 'list'",)
functions ['test.ping']

mine.py:317
https://gi

[2018-10-26 18:37] ezh commented on #50255
I checked the develop branch tip. Error is present.

Python 3.5.5 (default, Jun 26 2018, 08:06:41)
[GCC 6.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: unhashable type: 'list'

{'secondKey': 2, 'firstKey': 1}

[2018-10-26 18:38] ezh commented on #50255
What branch I should get for PR with fix?

[2018-10-26 18:38] Ch3LL commented on #50226
im able to replicate this behavior and it looks like it was added here: https://github.com/saltstack/salt/blob/develop/salt/loader.py#L1387-L1390

which sees that an older version of `locale.py` is already in the list with a higher priority so it doesn't add it to `file_mapping` and therefore never attempts to load the virtualname.

This was added here: https://github.com/saltstack/salt/pull/48636

[2018-10-26 18:40] Ch3LL commented on #50226
i should have included the tag version of the loader.py in case the develop branch changes. Here it is:

https://github.com/saltstack/salt/blob/v2018.3.3/salt/loader.py#L1342-L1345

[2018-10-26 18:41] Ch3LL commented on #50227
thanks for the PR!

[2018-10-26 18:44] Ch3LL commented on #50238
can you please include a sanitized version of your configuration files?

Also to confirm if you remove the postgres returner does it work?

Does it occur if running just a simple `salt '*' test.ping` as well? or just a highstate?

[2018-10-26 18:48] rallytime commented on #50255
Hi @ezh - Please submit your fix to the `2018.3` branch if you would. :)

[2018-10-26 18:53] Ch3LL commented on #50243
hmm i'm not seeing the retry kwarg anywhere? Can you point me to where that is?

[2018-10-26 19:30] Ch3LL commented on #50245
can you see if installing `python-concurrent.futures` helps?

[2018-10-26 19:31] Ch3LL commented on #50246
did this occur after an upgrade? and if so what was the previous version?

[2018-10-26 19:40] Ch3LL commented on #50247
if the code for nested `filter_by` calls is in `salt/modules/grains.py` and not the wrapper then we will need to add it to the wrapper.

[2018-10-26 19:45] Ch3LL commented on #50249
i'm having a  hard time making a difference between this issue and https://github.com/saltstack/salt/issues/50238

Can you clarify and answer my questions in the other issue? Or this one if you want to keep this issue open

[2018-10-26 19:47] Ch3LL commented on #50253
mind pushing a pr?

[2018-10-26 19:55] camposdelima commented on #49889
@tacf  and @jcrsilva  let me know if I can help. I'm found that bug too, and suffering about that.

[2018-10-26 20:19] Ch3LL commented on #50254
looks like i'm able to replicate this although i'm having a hard time bisecting it. Bisect showed these:

[code]
we will need to get this fixed thanks

[2018-10-26 21:07] ixs commented on #50247
@Ch3LL nah, the original code in salt/modules/grains.py calls utils/data.py for it's filter_by function.
The ssh wrapper contains a filter_by function which is a close approximation of the utils code but not exactly.

I have to admit, I had a quick look at the wrapper but did not understand it's purpose. So please take my attempt at explaining things with a grain of salt.

[2018-10-26 21:39] roskens commented on #50238
We used the saltstack-formulas/salt-formula to configure the master, syndics, and minions. Here is the pillar data:

master-of-masters role:
[code]

salt-master role:
[code]

salt-syndic role:
[code]

salt-minion role:
[code]

The syndic's and master-of-master also overwrite salt:minion:master to only the salt-master-of-masters.

From where? The MasterOfMasters, the Syndics, or from all of them?

[2018-10-26 22:07] roskens commented on #50249
This is being logged in the local postgresql database logs:
[code]

This has nothing to do with the `KeyError: u'ret'` exception as far as I can tell. This is probably closer to #50165, but specific to pgjsonb.

[2018-10-26 22:08] roskens commented on #50238
Sadly this exception also occurs without any master_job_cache or returner's defined to send through pgjsonb.

[2018-10-26 22:58] roskens commented on #50249
Following up on my comment earlier about local_cache.py:

I modified this section from save_load() in salt/returners/local_cache.py to save each load to a unique file:
[code]

Then ran a job that targeted 9 minions (these also happen to be syndics), and this was what I found in the local job cache on the master:
[code]

So this would confirm my suspicion that save_load is overwriting the LOAD_P fi

[2018-10-26 22:59] paulkramme opened #50260 "python-futures: Dependency missing on Debian 9"
### Description of Issue/Question
I just updated my salt-master via `salt '...' pkg.upgrade` from version 2018.3.2 to 2018.3.3. After the update, all Salt commands issued from the master failed with "No module named concurrent" and journalctl reporting a python stacktrace (appended below). After some research, I installed the debian package `python-futures`. After a salt-master service restart, th

[2018-10-27 00:34] nkrishnakishor commented on #50246
Error occurred with previous version also.
Previous version was 2018.3.2

[2018-10-27 02:32] ezh commented on #50255
I checked 2018.3.3 branch. There is different code and it is working.
@rallytime Could you please backport working part to develop branch?

[2018-10-27 02:48] #4542 closed

[2018-10-27 02:48] #35617 closed

[2018-10-27 02:48] #20570 closed

[2018-10-27 02:48] #41080 closed

[2018-10-27 02:48] #41115 closed

[2018-10-27 02:48] #13216 closed

[2018-10-27 02:48] #41130 closed

[2018-10-27 02:48] #35764 closed

[2018-10-27 02:48] #41131 closed

[2018-10-27 02:48] #41140 closed

[2018-10-27 02:48] #29341 closed

[2018-10-27 02:48] #41139 closed

[2018-10-27 02:48] #33742 closed

[2018-10-27 02:48] #41018 closed

[2018-10-27 02:48] #23621 closed

[2018-10-27 02:48] #41175 closed

[2018-10-27 02:48] #41114 closed

[2018-10-27 02:48] #32820 closed

[2018-10-27 02:48] #41159 closed

[2018-10-27 02:48] #40703 closed

[2018-10-27 02:48] #41197 closed

[2018-10-27 02:48] #41196 closed

[2018-10-27 02:48] #41183 closed

[2018-10-27 02:48] #19998 closed

[2018-10-27 03:47] #40670 closed

[2018-10-27 03:47] #41132 closed

[2018-10-27 03:47] #41157 closed

[2018-10-27 03:47] #41252 closed

[2018-10-27 03:47] #41225 closed

[2018-10-27 03:47] #41241 closed

[2018-10-27 03:47] #41268 closed

[2018-10-27 03:47] #41260 closed

[2018-10-27 03:48] #41266 closed

[2018-10-27 03:48] #41277 closed

[2018-10-27 03:48] #35231 closed

[2018-10-27 03:48] #41273 closed

[2018-10-27 03:48] #25047 closed

[2018-10-27 03:48] #27370 closed

[2018-10-27 03:48] #41272 closed

[2018-10-27 03:48] #20724 closed

[2018-10-27 07:47] #36762 closed

[2018-10-27 09:14] szandala commented on #40382
What is the status of this issue?
I still struggle with extremely big output

[2018-10-27 13:14] gtmanfred commented on #40382
You cannot supports the output, but you can specify that it should be quiet for the salt bootstrap args, but and if your driver supports it you can set `show_deploy_args: False`

And you should be able to set `display_ssh_output:False` and it should not show any ssh output.

[2018-10-27 13:57] max-arnold opened #50262 "Saltclass: broken list expansion in Fluorine"
### Description of Issue/Question

This used to work in 2018.3.x:

[code]

It seems that #47799 broke list expansions. The example above fails on Fluorine with the following exception:

[code]

[2018-10-27 13:58] max-arnold commented on #48170
Another one: #50262

[2018-10-27 14:56] xuhcc commented on #42763
The problem appeared again in **2018.3.3**.

[2018-10-27 18:47] #38230 closed

[2018-10-27 23:28] dgengtek commented on #44778
Found this issue when I was faced with the same problem. Creating a user with a formula and querying user data of the same newly created user in another formula during a highstate.

Since the query happens when the highstate gets rendered the highstate will obviously fail with no data for the new user - since the user did not exist at that time.

Getting dynamic results which depend on a previous

[2018-10-27 23:34] ReubenM opened #50265 "saltclass pillar not available to jinja"
/etc/salt/master
[code]

saltclass/nodes/node1.yml
[code]

pillar/top.sls
[code]

The 'I@foo' pillar targeting works fine.
However, the pillar object made available to jinja when preprocessing the template is empty.

Salt: 2018.3.2
Python: 2.7.5

[2018-10-28 04:32] garethgreenaway commented on #41480
Commenting to keep open.

[2018-10-28 06:32] max-arnold commented on #48486
Any news on this? I'm still observing duplicate modules in the thin archive made with `2018.3.3`.

[2018-10-28 07:14] ezh commented on #47911
Confirmed. mine_interval is not updated.
Minion saltenv=test, pillarenv=test
[code]

[2018-10-28 09:28] #34578 closed

[2018-10-28 10:28] #39344 closed

[2018-10-28 11:47] howardjones commented on #41452
In current docs (2018.3.3), password is still not a documented parameter.
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.cmd.html#salt.states.cmd.script

[2018-10-28 13:35] 4815162342lost opened #50266 "grains.virtual show incorrect info"
Hello,

I have a physical Oracle Linux-server.

But salt show that it is virtual server.

[code]

Minion-version:
[code]

Master version:
[code]

It is physical server, not virtual...
[code]

I can provide the output of any command if needed.

Could you please take a look if possible?

Have a nice week!

[2018-10-28 14:43] blbradley commented on #25104
Closed by #45416

[2018-10-28 14:43] #25104 closed

[2018-10-28 17:28] #12183 closed

[2018-10-28 18:45] codepanda commented on #50260
Swallowing my prideful opinions about javascript and manually installing `python-concurrent.futures` resolves the problem. It's a shame that the maintainers of `python-concurrent.futures` have a hard dependency on `libjs-sphinxdoc`.

[2018-10-28 23:16] paulkramme commented on #50260
Unfortunately salt-minion seems to be affected, too. The salt-minion crashes with the same error, apparently, which generates huge error logs, which caused my servers to fail over the weekend. The service has to be fixed manually by installing python-futures.

[2018-10-29 00:18] codepanda commented on #50260
the `v2018.3.3` tag includes an import for `concurrent`:

    salt/utils/thin.py:16:import concurrent

that the `v2018.3.2` tag does not have. This comes from commit 70c60345.

While searching for imports of `concurrent`, I did find that there are quite a few uses of `tornado.concurrent` common to both tags. Here's a selection:

    salt/transport/tcp.py:44:import tornado.concurrent
    salt/trans

[2018-10-29 05:10] ajitdharap opened #50268 "Unable to get postgresql server 9.6 to work with post install configurations"
### Description of Issue/Question
Unable to get postgresql server 9.6 to work with post install configurations
Perhaps the post install configuration steps are not clear to me yet which ends up giving me errors while i run my state file to get user, group & pg database created. In the error log I see that the psql  query is executed, why is that for, whats missing?

'[u'/usr/bin/psql', u'--no-alig

[2018-10-29 06:31] wong751236 opened #50269 "smtp returners can not properly display Chinese"
### Description of Issue/Question
Learning saltstack for a couple of weeks
I'm wondering if there is a way to make the email human readable when I use smtp returners.
Currently, getting something like this

id: someid
function: state.sls
function args: [u'atrm1', {u'pillar': {u'time': u'20:00 10/29/2018'}}]
jid: 20181029130430101864
return: {u'at_|-atrm_|-atrm_|-absent': {u'comment': u'removed 0 j

[2018-10-29 08:15] afischer-opentext-com commented on #50243
Hi! I am not sure I understand the question. I am talking about [this feature](https://docs.saltstack.com/en/latest/ref/states/requisites.html#retrying-states). To my understanding the retry feature is implemented in the code calling the state functions but not directly within the state functions. That's visible in those log lines:

[code]

Also, it obviously does a retry but the retry in this cas

[2018-10-29 09:14] giorgiosironi commented on #50244
Thank you, I could not easily find a similar bug report. We will upgrade sooner or later to Salt 2018 but it seems the previous versions are still supported and maintained :+1:

[2018-10-29 09:32] Paraomao commented on #40486
I got the same issue using the state file.serialize with Salt 2018.3.3.

[code]

Trying to serialize (file.serialize) a pillar on file, I get a wrong result:

Test state:

[code]

Test pillar:

[code]

Expected file content:

`test: 123èéà456`

Got file content:

`test: 123\xc3\xa8\xc3\xa9\xc3\xa0456`

Best regards

[2018-10-29 11:11] markododa commented on #50245
It seems that installing the newest tornado via pip causes the problem, keeping the system's tornado fixes the issue

[2018-10-29 11:29] mruepp commented on #50224
This should be the desired working expression:
[code]

[2018-10-29 12:38] jose1711 opened #50273 "cmd.script does not work properly with bg=True"
### Description of Issue/Question
`cmd.script` in combination with `source` using `salt://` and `bg=True` does not work as expected.

### Setup
master and minion are the same. `file_roots` contains `/srv/salt` and there is a `script.sh` in this directory with the following content:
[code]
minion process is run on console with `salt-minion -t trace`.

### Steps to Reproduce Issue
first run the scri

[2018-10-29 13:19] rallytime commented on #50255
@ezh The code from earlier branches is always merged forward to `develop`. If `2018.3.3` is working, then something has regressed in the `develop` branch and will need to be fixed there. I won't have time to track this down right now, unfortunately. Is that something you're still willing to look into?

[2018-10-29 13:32] #44554 closed

[2018-10-29 14:13] kappacher opened #50279 "index error in _get_boot_time_aix() for uptime < 1 day"
### Description of Issue/Question
On AIX systems, the status.uptime (salt/modules/status.py) does not work for uptime <1 day.
An index error is raised for etime strings without a day prefix (before a "-").
OK: 7-20:46:46
Not OK:  20:46:46
The list variable "days" tries in all cases to index the fields before/after separator "-".
[code]

### Setup
(Please provide relevant configs and/or SLS files (

[2018-10-29 14:18] Ch3LL commented on #50034
they should show up without debug as ti will spit out an error but go ahead and run with debug so we can get more context around the output :)

[2018-10-29 14:23] #35719 closed

[2018-10-29 14:28] Ch3LL commented on #47006
and what about version 3.3? I know there was this PR https://github.com/saltstack/salt/pull/48636 that was added to properly handle pycache files.

[2018-10-29 14:32] Ch3LL commented on #48343
bump @garethgreenaway

[2018-10-29 14:38] kappacher commented on #50279
Even the Hours part is optional: [[ dd-]hh:]mm:ss

[2018-10-29 14:38] gtmanfred commented on #50260
This is being handled over here.

https://github.com/saltstack/salt-pack/issues/593

[2018-10-29 14:38] #50260 closed

[2018-10-29 14:40] Ch3LL commented on #50194
thanks for clarifying @mattiasr

we will want to set the minimum version for the docker_network module so it only loads if >=1.10 docker-py is installed. So i'll label as a bug to get this added.

[2018-10-29 14:54] gtmanfred commented on #49967
This is fixed with https://github.com/saltstack/salt/pull/50280

[2018-10-29 15:39] Ch3LL commented on #50153
looks like i'm able to replicate this behavior. Heres a docker container to replicate it:

1. `docker run -it -v ~/git/salt:/testing/ ch3ll/issues:50153 /bin/bash` (where ~/git/salt/` is a local cloned git repo of salt)
2. `salt-master -d; salt-minion -d`
3. `salt --username=saltdev --password=saltdev --eauth=pam -l warning c6c2e89d6b0b test.ping`

I also tried on the head of 2017.7 and 2018.3.3 a

[2018-10-29 15:42] Ch3LL commented on #50198
i think we could probably add an event there as well.

[2018-10-29 15:48] Ch3LL commented on #50238
okay so you are certain this is not related to the pgjsonb returner now? Did you just recently start seeing this behavior after an upgrade?

[2018-10-29 15:55] Ch3LL commented on #50249
ping @saltstack/team-core are any of you aware of this being an issue with returners and how we properly handle these cases?

[2018-10-29 17:01] garethgreenaway commented on #50279
@kappacher Thanks for the report.  Seems like this should be a simple fix, some detection to see if the `-` is in the string and run the split, otherwise just run the split on the `:`.

[2018-10-29 17:02] gtmanfred commented on #50153
@terminalmage can you take a look at this when you get a moment?

Thanks

[2018-10-29 17:04] rbthomp commented on #50265
@ReubenM I believe you have to use ` {%- for x in salt['__pillars__.get']('foo') %}`

https://github.com/saltstack/salt/blob/033ce00ad0259fd286665b4a19740121cf247135/salt/tops/saltclass.py#L32

[2018-10-29 17:17] garethgreenaway commented on #50268
@ajitdharap Thanks for the report.  Based on the information in your logs above it appears that Postgres is not running when the Salt states are attempting to configure it.  I believe CentOS does not automatically start up services when they are installed, so you might need an additional state to ensure that Postgres is running.

[2018-10-29 17:19] rbthomp commented on #50265
@ ReubenM are you trying to merge saltclass pillars and standard top style pillars? Both are completely different top and pillar generating systems. Maybe you can clarify on the use case for defining pillars for `foo` by saltclass and standard pillar top.sls.

[2018-10-29 17:33] garethgreenaway commented on #50266
@4815162342lost Thanks for the report.  A couple things to check, can you see if any of the following directories exist on the system in question, `/proc/sys/xen`, `/sys/bus/xen` or `/proc/xen`.  Can you also check if you have a grain called `virtual_subtype`.  Thanks!

[2018-10-29 17:38] prog-dale commented on #50034
'zenoss' __virtual__ returned False: invalid syntax (zenoss.py, line 97)
ERROR: Minions returned with non-zero exit code

[2018-10-29 17:55] max-arnold opened #50286 "Multiple issues with libcloud_dns"
### Description of Issue/Question

I found so many issues while trying to use `libcloud_dns`, that it looks like it was never tested at all.

1. Documentation doesn't mention that libcloud is not a cloud module. Using terms like `profile` and `providers` is really confusing, and it looks like I'm not the only one who spent hours on this: #44390

2. The example just doesn't work:

https://docs.salt

[2018-10-29 17:56] 4815162342lost commented on #50266
Hello @garethgreenaway,

Thanks for your worries.

Please, see:
[code]

Let me know if you need any information. I am always ready to provide it.

[2018-10-29 18:12] garethgreenaway commented on #50265
@ReubenM Thanks for the report.
@saltstack/team-core Does anyone whose more familiar with saltclass have any ideas here?

[2018-10-29 18:17] garethgreenaway commented on #50269
@wong751236 Thanks for the report.  As far as making the email more human readable, one of the available configuration options for the SMTP returner is the option to include a template for what the body of the email should be.  You can configure it with the data that you want in the format you want it.

As far as displaying the Chinese characters correctly in the email, because the template is spe

[2018-10-29 18:31] dwoz commented on #50269
I think we're asking for trouble when it comes to non-ascii characters with this simple string formatting:

https://github.com/saltstack/salt/blob/develop/salt/returners/smtp_return.py#L237

We should be using the mime specification to properly support emails with non ascii characters.

https://docs.python.org/2/library/email.mime.html#email.mime.text.MIMEText

[2018-10-29 18:33] max-arnold commented on #14383
Something generic like this would be useful in the core: https://github.com/apache/libcloud/blob/trunk/libcloud/utils/misc.py#L276

[2018-10-29 18:38] 4815162342lost opened #50288 "grains.virtual is incorrect on IBM Power servers"
Hello,

We have several virtual IBM Power-servers (Linux SLES 12):
[code]

It is a virtual server, but salt show 'virtual':
[code]

I do not know how we can exactly determine virtual servers in IBM, but perhaps  **lparstat -i** command can help:
[code]

Let me know if you need additional information.

[2018-10-29 18:41] garethgreenaway commented on #50266
@4815162342lost Thanks for the information.  This is likely the reason that the machine is being flagged as a Xen system, the three directories that I mentioned will only show up on a Xen system.  Is it possible that Oracle Linux is running everything inside Xen in some manner?  Unfortunately I don't know too much about it and don't currently have access to a system running it.

[2018-10-29 18:53] 4815162342lost commented on #50266
Hello,

Not sure that root cause is related to _/sys/bus/xen_

I  checked other virtual **VmWare** server which determine correct and _/sys/bus/xen_ path also exist:
[code]

On my home PC with Ubuntu 18.10 _/sys/bus/xen_ aslo exists.

[2018-10-29 18:59] garethgreenaway commented on #48343
Apologies for the delay in this, the above fix looks good to me.

[2018-10-29 19:30] ReubenM commented on #50265
@rbthomp:

Yes, I'm merging pillar from two sources. The first pass is from saltclass. The second pass using the pillar top sets additional pillar data based on the first pass. The pillar targeting within the pillar top file is working. However using pillar within the Jinja template processing does not.

The real world use case for it is that I want to define roles using pillar, but I also want to

[2018-10-29 19:39] garethgreenaway commented on #50266
@4815162342lost Thanks for that additional information.  This does appear to be a bug.  We'll get it fixed asap.

[2018-10-29 19:59] rbthomp commented on #50265
@ReubenM I'm using roles as your are to avoid setting grains on nodes, except I'm keeping everything within saltclass instead of merging. This way you don't have to maintain top files. You can just define role classes that contain the pillars you need. You can even include classes in classes.

saltclass/nodes/node1.yml
[code]
saltclass/classes/role/role1.yml
[code]
saltclass/classes/role/role2.yml

[2018-10-29 20:46] dwoz commented on #50219
os.linesep is a bytestring (not unicode) when running under python 2. It looks like that is causing an implicit encode call.

[2018-10-29 20:49] rallytime commented on #50050
OK, I did all of the clean up mentioned in my comments above, so this is nearly done.

Unfortunately, it appears that once I merged in #50182, some branch tests started failing on 2018.3. I will need to investigate that first thing in the morning.

[2018-10-29 20:57] dstoliker opened #50292 "sysctl in test=True mode results in [ERROR ] Could not open sysctl file"
### Description of Issue/Question
When applying a `sysctl` state in `test=True mode`, if the default `sysctl` configuration is not yet present, will result in an error.
### Setup
Assuming a clean CentOS 7 setup, ensure the file `/etc/sysctl.d/99-salt.conf` does not exist.
Example SLS file:
[code]
### Steps to Reproduce Issue
If the default configuration file does not exist, applying the state in t

[2018-10-29 21:08] gigi206 opened #50294 "archive.extracted and modified files not detected"
### Question

Is there a way for archive.extracted to detect modified files? Indeed, this function seems to detect only if a file is missing and not if a file has been modified.

[2018-10-29 21:16] garethgreenaway commented on #50266
@4815162342lost One other question.  On the physical Oracle Linux system can you see if the command `systemd-detect-virt` exists and if so, can you run it and provide the output?  Thanks!

[2018-10-29 21:32] tonybaloney commented on #50286
I'll pick this up

[2018-10-29 21:39] roskens commented on #50238
If I run the salt batch command on a syndic, I do not see this exception.

[2018-10-29 21:47] ReubenM commented on #50265
@rbthomp

Fun part for me is that no two nodes share the same role. Roles in my case are large dictionary trees. Nodes may share common branches of the roles tree, (which is what I was matching against in the pillar top files) but none share the same tree which make classes a bit cumbersome. Plus the pillar top files allowed to keep stuff segregated by environment.

I'll do some experiments and se

[2018-10-29 22:59] te-af-github opened #50297 "Dependency missing in 2018.3.3 .deb"
### Description of Issue/Question

Missing dependency for

_python-concurrent.futures_

from 2018.3.3 .deb package. Minion crashes if _python-concurrent.futures_ is not installed.

Seems to have happened back in the days: [33801](https://github.com/saltstack/salt/issues/33801)

### Setup
Salt Version:
           Salt: 2018.3.3

Dependency Versions:
           cffi: 0.8.6
       cherrypy: Not Insta

[2018-10-29 23:00] eliasp commented on #35013
Same for me!
Is there a (technical) reason (besides noone did it so far) for not porting `x509` to pycrypto?

[2018-10-29 23:21] dmurphy18 commented on #50297
duplicate and fixed https://github.com/saltstack/salt-pack/issues/593

[2018-10-29 23:21] #50297 closed

[2018-10-29 23:38] boltronics commented on #41583
Still an issue in Salt 2017.7.8.

[2018-10-29 23:42] te-af-github commented on #50297
Not fixed for Debian 8.

[2018-10-30 00:37] tonybaloney commented on #50286
All issues raised fixed in #50296

TBH, this could also do with an integration test module. I've added a load of unit tests in the execution module which found all the bugs you raised (and a couple of others), mainly around kwarg naming and the `extra` dictionary.

[2018-10-30 03:20] ajitdharap commented on #50268
I did ensure postgres is in running status before running the state. Also ensured the pg_hbd.conf has itself allowed for md5 auth

[2018-10-30 04:19] DrPyser opened #50300 "feature request: dockermod.build network_mode option"
### Description of Issue/Question
salt.modules.dockermod.build doesn't support all options provided by docker build command and the client.images.build function of the `docker` python sdk(see https://docker-py.readthedocs.io/en/stable/images.html#docker.models.images.ImageCollection.build for all options).

One such option that would be useful to have is the `network_mode`(e.g. to connect to a doc

[2018-10-30 05:10] tonybaloney commented on #47425
@raddessi @mirceaulinic added fixes and simple tests in #50301

[2018-10-30 10:43] nkrishnakishor opened #50303 "unable to update multiple lines in a file using pillar data"
### Description of Issue/Question
unable to update multiple lines in a file using pillar data
### Setup
`# cat /srv/pillar/file/init.sls`
[code]

### Steps to Reproduce Issue
`[root@master ~]# salt *windows-minion* state.sls common.hostfile -l debug`
[code]
`# cat /srv/salt/common/hostfile.sls`
[code]
`# cat /srv/pillar/top.sls | grep -v "#" | grep -v "^$"`
[code]

### Versions Report
 `salt --ver

[2018-10-30 10:46] aplanas opened #50304 "Very slow salt-master start under a NIS/YP environment."
### Description of Issue/Question

Very slow salt-master start under a NIS/YP environment.

During the start up there is a check for ACL that implies a call to `pwd.getpwall()` in order to get all the users available in the system:

https://github.com/saltstack/salt/blob/develop/salt/daemons/masterapi.py#L241

If the system is under NIS/YP, this call will require some network access and some reque

[2018-10-30 11:57] ilezcano opened #50305 "salt RPM package doesn't contain logrotate entry for salt proxies"
### Description of Issue/Question
The RPM package contains logrotate entries for Master, Minion, and Key logs. However there's no entry for Proxy logs. On salt minions running large numbers of proxies, the log fills up with no pruning controls normally provided by logrotate

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Packaged contents of /etc/l

[2018-10-30 13:40] maximd commented on #18558
The command `"C:\Program Files\NVIDIA Corporation\NVSMI\nvidia-smi.exe" -L` seems to be the simplest and most correct way to get GPU information for NVIDIA cards (example for a machine with 2 GPUs):

[code]

It is not an universal solution (it obviously does not work for ATI or Intel GPUs) but it may be a good first step.

[2018-10-30 13:58] kipje91 opened #50307 "example state of locale error in 2018 version of salt."
### Description of Issue/Question
The provided example of the locale state output's an error on 2018 version of salt.

[code]

But the state seem to have worked fine.

Same state does work flawless on 2017.7 minions/master

### Setup
Pretty much the same setup as the example in:
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.locale.html
[code]
### Steps to Reproduce Issue
Just cre

[2018-10-30 14:04] rallytime commented on #50050
Those test failures should be resolved with #50308

[2018-10-30 14:17] Ch3LL commented on #50246
thanks for clarifying. ping @gtmanfred and @cro i believe both of you have done work around this. Do you see anything wrong with @nkrishnakishor 's setup in the initial post?

[2018-10-30 14:24] Ch3LL commented on #42763
@xuhcc can you please open a new issues with the details of the issue

[2018-10-30 14:28] Ch3LL commented on #47911
i know there was some work in 2018.3.3 around the mine any chance you can try that version?

[2018-10-30 14:47] Ch3LL commented on #40486
looks like i'm able to replicate this on 2018.3.3. I was surprised to see this because we did a ton of unicode work in 2018.3 so looks like we will need to clean this up as well.

[2018-10-30 14:51] Ch3LL commented on #50245
are you running python3 or python2? tornado 5.0 should work with python2 but we are still working on making it compatible with python3

[2018-10-30 14:55] Ch3LL commented on #50034
sorry i missed a `)`

[code]

[2018-10-30 14:56] Ch3LL commented on #48343
@bornwitbugs mind pushing that as a PR?

[2018-10-30 15:03] anarcat commented on #48939
ping? I'm trying to figure out how to backport those fixes into Debian for security updates, and it's not clear at all what the proper course of action is, or if this is even fixed in current stable releases.

Thanks for any update.

[2018-10-30 15:11] tb2097 commented on #18558
Unfortunately using nvidia-smi isn't an optimal solution, as it requires installing an nvidia driver to use, which defeats the main purpose of using salt to manage a workstation.  I already have salt managing the driver version after install to ensure consistent builds but being able to roll out an image without needing to do the initial driver install would be preferred.

[2018-10-30 15:22] cro commented on #50246
If this really is Active Directory, several things jump out at me right away:

[code]
This should probably be `sAMAccountName`

[code]
Are you really binding to the directory with a CN of "Users" and DC components
".my.domain.com"? Are you wanting to bind to the directory for user lookup with one user and login with a separate user, or bind with the same user for lookup and authentication?

[code]

[2018-10-30 15:34] Ch3LL commented on #50210
thanks for clarifying for the inital salt-ssh issue i was able to replicate this behavior.

When running `salt-ssh` with `ag hi` as the cmd.run command it does not return the data. But if i run teh command that salt-ssh actually runs: `sudo python2.7 /var/tmp/.ch3ll_951f46_salt/salt-call --retcode-passthrough --local --metadata --out json -ldebug -c /var/tmp/.ch3ll_951f46_salt -- cmd.run 'ag hi' p

[2018-10-30 15:34] cro commented on #48939
@anarcat, sorry, I was on vacation for a couple of days.

We turned `sign_pub_messages` back off by default because it broke compatibility with older masters (#40203).  We don't guarantee compatibility between newer minions and older masters, but we strive for it since sometimes folks upgrade their minions by accident and it's painful to recover when they won't talk to the current masters.

CVE-20

[2018-10-30 15:37] Ch3LL commented on #50238
thnaks for all the follow up information. one more question and then i will try to replicate the issue. Can you supply either a state file or the cmd.run command you are running when you see this?

[2018-10-30 15:51] prog-dale commented on #50034
The minion function caused an exception: Traceback (most recent call last):
      File "c:\salt\bin\lib\site-packages\salt\minion.py", line 1607, in _thread_return
        return_data = minion_instance.executors[fname](opts, data, func, args, kwargs)
      File "c:\salt\bin\lib\site-packages\salt\executors\direct_call.py", line 12, in execute
        return func(*args, **kwargs)
      File "c:\sal

[2018-10-30 15:52] prog-dale commented on #50034
this is 2018.3.3

[2018-10-30 16:07] ajitdharap commented on #50268
i think i had messed up with the pg_hba.conf entries which must have resolved the issues getting connected to the database server only when i changed the IPv6/4 protocol auth mode to trust to get through. I think while i had md5 auth selected postgres user wasnt letting the connection through.
I think if this was really the issue more relevant error should be thrown.

[2018-10-30 16:08] xuhcc opened #50310 "acme.cert falsely reports changes"
### Description of Issue

After upgrading from **2018.3.2** to **2018.3.3** execution of **salt.states.acme.cert** with **renew** parameter always reports changes, even if certificate is not changed:

[code]

### Setup

[code]

### Versions Report

[code]

[2018-10-30 16:09] xuhcc commented on #42763
Done #50310

[2018-10-30 16:11] gtcat commented on #48965
I get the following error after the ssh session from the proxy minion to the Cisco switch has been closed. I can reproduce this by clearing the ssh session on the Cisco device.

[root@saltgery ~]# salt 'tankstelle_1-port1-dev' net.cli "show version"
tankstelle_1-port1-dev:
    ----------
    comment:
        Cannot execute "cli" on 10.82.12.6 as admin. Reason: Socket is closed!
    out:
        --

[2018-10-30 16:22] mirceaulinic commented on #48965
@gtcat I think in your case it's the reconnect scheduler that is not working due to a bug. Please upgrade to 2018.3.3 and normally this should work fine (i.e., should reconnect when the Minion detects that the connection has been dropped).
Note however, that on IOS, as mentioned above, you may hit a interval between the moment the connection is dropped and the Minions re-establishes it, when the c

[2018-10-30 16:24] marek-obuchowicz opened #50311 "pkg.installed state fails even though it suceeded"
### Description of Issue/Question
The state `pkg.installed` works as expected and installs package from external source, but it returns true which prevents depending states from being executed.

This issue has just popped out on our older code base, which was not changed last days and used to work with previous releases of saltstack.

### Setup
State:
[code]

### Steps to Reproduce Issue
1. Run th

[2018-10-30 16:28] dwoz commented on #50286
@max-arnold Thank you for reporting this.

@tonybaloney Thanks for the PR and quick turn around.

[2018-10-30 16:32] dwoz commented on #50288
Hi @4815162342lost, Thank you for reporting this issue. What version of salt are the master and minion?

[2018-10-30 16:33] kappacher commented on #50279
This whole function _get_boot_time_aix() does exactly the same as psutil.boot_time()  does (or the api interface to psutil of the salt module function ps.boot_time()), but I have not verified if psutil is a mandatory python module in the Salt distribution and if it's hardened against AIX 6/7. If you need some assistance / tests on AIX hosts I am willing to spend some time on it.

[2018-10-30 16:42] anarcat commented on #48939
So the upgrade path for users is to apply the patch, then simultaneously turn on `sign_pub_messages` at once, is that right?

[2018-10-30 16:44] dwoz commented on #50300
@DrPyser Thanks for opening this issue. Would you like to try making a PR to add these options?

[2018-10-30 16:48] #49988 closed

[2018-10-30 16:48] #49671 closed

[2018-10-30 16:49] mgriffin13 commented on #49732
This used to be the default behavior before salt-2017 and the vault module re-write. To recover the old behavior, I created a new custom vault module (https://docs.saltstack.com/en/latest/ref/modules/) called ``vault_ext`` that contains:

[code]

Given this, you will change your vault sdb calls to instead say something like

[code]

You can change ``ret`` to whatever you like, but this was the old

[2018-10-30 16:51] cro commented on #48939
Yes, provided they don't have older masters that would be bitten by #40203.

[2018-10-30 16:52] rallytime commented on #50262
@olivier-mauras Would you be able to look into this issue?

[2018-10-30 17:01] dwoz commented on #50292
@dstoliker Thank you for reporting this. It's some odd behavior. :)

[2018-10-30 17:01] dwoz commented on #50294
@gigi206 Thanks for reporting the issue. Can you provide us with an example state?

[2018-10-30 17:05] mgriffin13 commented on #49732
Also looks like it'll be fixed in an upcoming release

https://github.com/saltstack/salt/pull/46829

[2018-10-30 17:13] mikeadamz opened #50313 "salt-master process leaks memory when running in a container"
### Description of Issue/Question
When running in docker/kubernetes the salt-master process leaks memory over time

![image](https://user-images.githubusercontent.com/1888506/47736286-a2553e00-dc2b-11e8-8b09-4d0b6a69e029.png)

I have confirmed the same behavior with or without our custom engine installed

### Setup
Dockerfile:

[code]

Enterypoint.sh

[code]

master.conf
[code]

### Steps to Repro

[2018-10-30 17:13] gtcat commented on #48965
@mirceaulinic Thank you for the quick answer. I just updated to 2018.3.3. It now recovers itself after the session has been closed. This takes about 40 seconds. But like you said during the recovery the ` OSError: Socket is closed` still appears.
Will this be fixed as well? Can I improve that by increasing the ssh timout on the Cisco device?

[2018-10-30 17:21] anarcat commented on #48939
thanks. i have determined this cannot be fixed in the jessie version anyways (2014.1.13) as it doesn't have master signing in the first place, so I've skipped that issue, for what that's worth. hopefully a fix can be deployed in stretch (2016.11.2) nevertheless.

[2018-10-30 17:53] rallytime commented on #50050
All of the work here should be done now. Closing!

[2018-10-30 17:53] #50050 closed

[2018-10-30 18:15] dwoz commented on #50304
@aplanas Thank you for reporting this.

[2018-10-30 18:33] bogdanr commented on #50166
I would also like to know if there is some workaround for it.

[2018-10-30 18:33] doesitblend commented on #50313
ZD-2933

[2018-10-30 18:48] dwoz commented on #50303
@nkrishnakishor Thanks for reporting the issue. Did this pillar and state work before an upgrade? The curious thing is the comment returned by the state `Pillar data:text does not exist`. What happens if your run `salt *windows-minion* pillar.get data -l debug`?

[2018-10-30 19:41] 4815162342lost commented on #50266
@garethgreenaway  sure!

[root@salt-minion: ~]# systemd-detect-virt
none

[2018-10-30 19:44] roskens commented on #50238
`salt -b 40 '*' state.apply salt.minion`

Where salt.minion is from https://github.com/saltstack-formulas/salt-formula with the last commit of ed9a1b1814b4b217e7e91f70a016768e75ec47eb.

[2018-10-30 19:44] 4815162342lost commented on #50288
Hello @dwoz,

[code]

[2018-10-30 19:49] #23631 closed

[2018-10-30 20:06] #40539 closed

[2018-10-30 20:08] wildk1wi opened #50319 "file.line no longer working after 2018.3.3 release"
### Description of Issue/Question
Using line function from the file module to ensure the existence of a line in a Linux config file no longer works as expected.

It is now inserting a new line every time the high state runs rather than just once.
As you can see this is now the contents of the /etc/yum.conf file.

[main]
cachedir=/var/cache/yum/$basearch/$releasever
keepcache=0
debuglevel=2
logfile

[2018-10-30 21:04] wildk1wi commented on #50319
In the /etc/yum.conf case, as a work around I've moved the class to using the in ini module as the file conforms to the ini file spec.

[2018-10-30 21:15] bornwitbugs commented on #48343
sure thing!

[2018-10-30 21:31] garethgreenaway commented on #48343
@bornwitbugs Thanks!  Much appreciated!

[2018-10-30 21:35] aboe76 opened #50320 "state cron.absent failes if cron module isn't loaded (not installed)"
### Description of Issue/Question
I have a state file in which I want a cron entry absent, but I have a minion without cron
so the whole module cron isn't loaded and this fails the state

### Setup
archlinux setup without cron only systemd.

### Steps to Reproduce Issue
state:
[code]

### Versions Report
[code]

[2018-10-30 22:29] isaachui commented on #43076
Hello,

I'm also having the same issue. Would love an update on this.

[2018-10-30 23:21] rbthomp opened #50323 "Salt-Cloud fails to create VMware Snapshot from orchestrator on second run."
### Description of Issue/Question
I have an orchestration job that creates a VMware snapshot when called by a reactor. In many instances multiple events come in firing off multiple orchestration jobs to create VMware snapshots. The first time a flood of events come in the VMware snapshots are created without issues, but anytime a flood of events comes in after that snapshots fail to be created. Th

[2018-10-31 03:00] dwoz commented on #50307
@kipje91 Thank you for reporting this issue. I've confirmed this is a issue using CentoOS 7.5.

[2018-10-31 03:03] tonybaloney commented on #47425
Fixed in merged PR, please verify @raddessi @mirceaulinic

[2018-10-31 04:21] bitskri3g opened #50324 "Salt parallel runners overwrite pillar variables when calling state.orchestrate"
### Description of Issue/Question

I'm using the orchestrate runner to stage the bootstrapping of a few different pieces of hardware.  I have the different phases of the deployment set in the pillar and have set it up so that everything in each phase can safely be done in parallel without any negative impacts.

However, when I call state.orchestrate using salt.parallel_runners and pass in pillar d

[2018-10-31 04:50] nkrishnakishor commented on #50303
@dwoz thanks for the reply. I haven't tried this formula before upgrade. Below is the output of the command `# salt *1284* pillar.get data -l debug`
[code]
I'm trying to add data based on the minion's network. If the minion is in one network then add `"X"` data else add `"Y"` data.

[2018-10-31 08:12] aboe76 opened #50325 "Feature request: skip state if __virtual__ module is not loaded"
### Description of Issue/Question
When saltstack state has a module that is not loaded or not available on a system it will fail the state with an error message:
[code]
### Steps to Reproduce Issue
have a state run with a module that isn't available on a minion.

### Future handling

is a state is run where a module isn't loaded or can't be loaded the state shouldn't fail but skip with a warning.

[2018-10-31 10:23] aplanas commented on #50304
Well, I realized that my proposal to solve the issue is not correct, and the check is against an ACL, that can have regular expressions, so there is not sense in iterating over it.

Maybe we can avoid the iteration making access_keys lazy somehow, that checks if the user have rights or not under request.

[2018-10-31 11:24] t0fik commented on #50254
@Ch3LL Sure. On weekend I should have some time, to test it. I've got some idea what might not work.

[2018-10-31 12:31] damon-atkins commented on #40486
This option is removed in 2018.3
[code]

You need to be on 2018.3 for international characters.

[2018-10-31 12:38] damon-atkins commented on #40486
@Paraomao please open a different issue against 2018.3.  As this is about early versions which do not support international character sets.

[2018-10-31 13:04] travispaul commented on #41342
This is still broken unless some work has been done in this area since Sept 20 (and wasn't linked to this issue).

[2018-10-31 13:11] bogdanr commented on #50166
Works for me.
My formula for putting the helper on machines looks like this:
[code]

[2018-10-31 13:29] ol3k commented on #49883
I was able to set up a working salt-cloud module because of this thread.

This should be definitely mentioned in any doc or pushed to top.
It's just annoying, a game of try&error and costs at least hours of debugging which modules/packages/config you have to use in order to get salt-cloud running in Oct 2018.

The actual dev release (as by 31/10) seems to work together with the docs for azurearm.

[2018-10-31 13:34] roskens commented on #50238
Two other data points:

1. The exception occurs on the master-of-masters regardless of whether all minions are connected to the syndic or not.

2. The syndic has ~1000 minions connected to it.

[2018-10-31 13:35] Ch3LL commented on #50319
this is a duplicate of https://github.com/saltstack/salt/issues/50254

[2018-10-31 13:35] #50319 closed

[2018-10-31 13:46] Ch3LL commented on #50310
This is the only PR that affects the acme modules between those two releases: https://github.com/saltstack/salt/pull/48635

ping @nbraud can you take a look here

[2018-10-31 14:24] mattp- commented on #50324
out of curiosity, can you try with the parallel: True attribute instead of using the parallel_runners feature?

[2018-10-31 14:53] Ch3LL commented on #50311
looks like i'm able to replcate this and git bisect shows 998651102d128e26b4163816bafca58a17896209 which is from this PR https://github.com/saltstack/salt/pull/48426

ping @garethgreenaway can you take a look here?

[2018-10-31 15:00] Ch3LL commented on #50323
was this previously working on an older version?

also ping @saltstack/team-cloud any ideas here?

[2018-10-31 15:03] Ch3LL commented on #50325
ping @saltstack/team-core can i get your opinions on this feature request?

[2018-10-31 15:38] gtmanfred commented on #50325
I disagree that it should be skipped, people should be told that their state failed if it is not loaded.

What i would support is making `onfail` be able to mark a state as successful if it fails, so if a state isn't loaded, you could have an onfail that installs the stuff necessary to run it again, and succeed, and then mark the first run of the failed state as a success if onfail is successful.

[2018-10-31 15:39] aboe76 commented on #50320
@Ch3LL it's not a bug but a feature request.
I was thinking about an option as ignore_errors if module couldn't be loaded.

If I have a state in which for example a cron item should be absent but the machine in question doesn't have cron installed this state will fail at the moment because the module couldn't be loaded, I would like to see a way that if an state item is absent or not present there

[2018-10-31 15:59] #41345 closed

[2018-10-31 16:01] remyd1 opened #50327 "master logs full of WARNINGS due to zmq / tornado ioloop.py"
### Description of Issue/Question
My master logs are full of following messages:

[code]
I think I get these messages each time I restart my master (cannot restart right now).

I have a multi-master configuration and I am using reactors and orchestrators + a gitfs backend.

### Versions Report

[code]

[2018-10-31 16:08] bitskri3g commented on #50324
@mattp- I did two additional tests, one with salt.runner and one with salt.state.  They both worked as expected (save for phase0 and phase1 being run simultaneously, but I can fix that with requisites), so I imagine that the issue is specific to parallel_runners rather than with the parallel functionality in and of itself.

[code]

output:
[code]
---------

[code]

output:
[code]

[2018-10-31 16:14] rallytime commented on #48734
Hi @oddfellow - This should be fixed now with #50328.

[2018-10-31 16:18] #49967 closed

[2018-10-31 16:24] mattp- commented on #50324
perhaps we should deprecate the parallel_runners feature since the same can be accomplished with `parallel: True` and that works agnostic to any state in the state engine. I'd have to defer to salt core team for that decision though

[2018-10-31 16:35] bitskri3g commented on #50324
I do see the value in the parallel_runners feature - it makes requisites in large/complex orchestration tasks much more manageable.  It's possible to achieve the same with individual runners, but I can see the requisites quickly spiraling out of control if you have moderately complex ordering requirements, particularly when dealing with concurrency issues.

[2018-10-31 16:55] twangboy commented on #44889
The above PR implements the fix as suggested by @calc84maniac

[2018-10-31 16:55] #44889 closed

[2018-10-31 16:59] #41366 closed

[2018-10-31 17:40] basseed opened #50331 "non-lowercase files never being kept with clean: True in file.py"
### Description of Issue/Question
Hi there, I was trying to use the "clean" option with file.recurse and it would always remove the files in the source after copying them. In the end i found that it has to do with how the list of files to keep is handled in the states/files.py code, specifically in the function **_find_keep_files**:

[code]
not sure if os.normcase is being used to convert backslas

[2018-10-31 17:41] aboe76 commented on #50325
@gtmanfred you are right that the normal behavior should be fail, but there should also be a workaround if you know that only that state can fail on your machine and you wan't the rest to continue.

something like `absent` shouldn't cause a failure if a module couldn't even be loaded than it means that it is surely `absent`, and the other way around is also true, if the state is `present` or `runn

[2018-10-31 18:15] cro commented on #50246
You need to set the following parameters.

[code]
Then you should be able to login with the bare username, so the external_auth clause should look like this:

[code]

(note I don't have an AD instance at hand to test with, this is based on my previous experience with the code)

[2018-10-31 19:03] goodwillcoding commented on #50313
I have nearly identical issue though not in container. I have completely vanila Salt 2018.3.2 deployed with only 2 minions, only configuration changes from the default are the hostname of the salt master.

After a week of NOTHING running at all from the master the memory usage is nearly 5GB. At this point we are considering installing a cron task that restarts the service just to avoid this, which

[2018-10-31 19:09] goodwillcoding commented on #40507
@DmitryKuzmenko ... another week same problem. nothing changes. B. At this point we are considering installing a cron task that restarts the service just to avoid this, which is frankly an insane solution. I also commented here #50313 ... maybe the same issue.

@DmitryKuzmenko can you please advise if this is even being looked at cause it's not going to be possible to even use salt if this continu

[2018-10-31 19:16] dubb-b commented on #49687
@briancain I can submit a fix for this. The website is still in transition from old to new.

Let me see if I can get the website folks to update that link.

[2018-10-31 19:40] rbthomp commented on #50323
@Ch3LL I'm not sure I just implemented this on 2018.3.3.

[2018-10-31 20:33] doubletwist13 commented on #33921
I would very much like a fix for this as well, but I'm far from knowledgeable enough to do it myself.

[2018-10-31 22:09] wildk1wi commented on #47628
The aggregate also fails to manage the holds option correctly.
Test case:
[code]
Result when aggregate pkg is set in salt master.
[code]
Results when aggregate is not set in master
[code]

[2018-10-31 22:16] dubb-b commented on #49687
@briancain this should be complete now.

[2018-10-31 23:05] briancain commented on #49687
Thanks @Ch3LL @dubb-b !

[2018-10-31 23:05] #49687 closed

[2018-11-01 00:31] donkopotamus commented on #46485
I have also observed this when using `pkg.installed` with `sources` on RHEL7.5

    git2u-ius-repo:
      pkg.installed:
        - sources:
          - ius-release: https://rhel7.iuscommunity.org/ius-release.rpm

The rpm can be installed manually using `sudo -E yum install <the-url>`.  As a workaround I currently use `salt://` to provide the rpm

**Version Report**
[code]

[2018-11-01 00:39] DrPyser commented on #50300
@dwoz Sure.

[2018-11-01 00:44] DrPyser commented on #50300
@dwoz Does this require adding/modifying a test case somewhere? If so, should I include it in the PR?

[2018-11-01 01:15] rjeschmi commented on #38559
I've started working on cleaning up the scaleway module with some information from here. I'll PR the changes, but I need to test all the functionality.

[2018-11-01 01:34] dgorissen commented on #20298
Bumped into this, this does seem fixed now? https://docs.saltstack.com/en/latest/ref/states/all/salt.states.mount.html#salt.states.mount.mounted

[2018-11-01 11:14] austinpapp commented on #43599
this one should be resolved as its fixed...

[2018-11-01 12:16] oddfellow commented on #48734
Hi @rallytime I applied https://github.com/saltstack/salt/pull/50328/commits/c684c298ffbdcb846a16e32c7f94e44e32e6f81e to a 2018.3.3 master installation and can confirm salt-run now returns the correct values for the test case mentioned above. Thank you!

[2018-11-01 13:14] rallytime commented on #48734
@oddfellow Excellent! Thank you for testing and confirming. :)

[2018-11-01 13:15] rallytime commented on #43599
@austinpapp True! Thanks for the bump. Closing.

[2018-11-01 13:15] #43599 closed

[2018-11-01 14:16] Ch3LL commented on #50243
thanks for clarifying the feature. I honestly didn't know about this feature :) If you specify `- keep_source: False` in your state it will not keep the artifact download and show re-download it.

[2018-11-01 14:19] Ch3LL commented on #50034
im not seeing the errors only the stack trace? Did you check the logs on the minion? Thats where they would show up

[2018-11-01 15:35] sjorge commented on #46965
This got fixed and also backported AFAIK.

[2018-11-01 15:41] garethgreenaway commented on #50327
@DmitryKuzmenko Thoughts on this?  This might be a duplicate of an existing issue.

[2018-11-01 15:52] Ch3LL commented on #50238
thanks for teh further details. Looks like i'm able to replicate this issue but i was only able to replicate this on the first run of the states, never after. You said you can replicate with `cmd.run` can you share the command you are runnig when you run into this error?

[2018-11-01 15:58] garethgreenaway commented on #50331
@basseed Thanks for the report.  Can you provide the output from `salt --versions-report`.

[2018-11-01 16:42] sdemura commented on #40491
Still broken on `2018.3.3` for me. `trim_output: True` trims to 100, but integer values do not work.

[2018-11-01 19:51] davideagen commented on #50238
I am working with roskens on this and was able to reproduce the problem with `salt -b 60 '*' cmd.run 'uptime ; df -h /'`

[2018-11-01 20:01] aboe76 commented on #50320
@Ch3LL yes, but I wasn't sure if it is a feature request or a bug report if the state absent parameter should fail if a module couldn't be loaded or that it should silently skip it.

[2018-11-01 20:52] rallytime commented on #49433
This config item needs one more release cycle. I bumped the warning version from `Neon` to `Sodium` in #50346.

Turns out there was already an issue open for this, so I am going to close this issue as it is a duplicate of #46336.

[2018-11-01 20:52] #49433 closed

[2018-11-01 23:15] doesitblend opened #50348 "New use_superseded option needs added to configuration documentation"
### Description of Issue/Question
The newish `use_superseded` option is not mentioned in either the [master config documentation](https://docs.saltstack.com/en/latest/ref/configuration/master.html) or the [minion config documentation](https://docs.saltstack.com/en/latest/ref/configuration/master.html].

### Versions Report
This is in the latest version of the docs.

[2018-11-01 23:17] doesitblend commented on #50348
This issue may be related to #44882

[2018-11-01 23:18] doesitblend commented on #50348
ZD-2936

[2018-11-02 01:32] russellballestrini opened #50351 "salt-ssh throws exception when minionfs is enabled."
### Description of Issue/Question

### Setup
salt-ssh throws the following exception when minionfs is enabled on salt master::

[code]

### Steps to Reproduce Issue

enable `minionfs` on `salt-master` and try to run `state.highstate` using `salt-ssh`

### Versions Report
[code]

[2018-11-02 04:32] #41375 closed

[2018-11-02 04:32] #34424 closed

[2018-11-02 04:32] #41376 closed

[2018-11-02 04:32] #41368 closed

[2018-11-02 04:32] #41369 closed

[2018-11-02 07:52] dhs-rec commented on #50243
But wouldn't that happen everytime the state runs, then, regardless of whether it succeeded or not?

[2018-11-02 12:00] afischer-opentext-com commented on #50243
Thanks for the suggestion! It basically works, but unfortunately @dhs-rec  is right: The oddity now is that the external file is downloaded in any case, even if the file to managed locally already matches the configured checksum.

This increases runtime and also may cost money (in case S3 is used as file server backend).

[code]

[code]

[2018-11-02 13:39] kiemlicz opened #50352 "Orchestrator enforce serial state execution"
### Description of Issue/Question
I want to start the state on any of my minions multiple times **serially** (it is fine for state to run each time on different minion)

### Setup
I've setup pgjsonb for queuing (following this [doc](https://docs.saltstack.com/en/latest/ref/queues/all/salt.queues.pgjsonb_queue.html))
I've created the debug state (`salt/debug/init.sls`):
[code]
This state just appen

[2018-11-02 13:52] morph027 commented on #46946
Same here on Ubuntu Bionic with 2018.3. and 2017.7.

[2018-11-02 15:57] Chupaka commented on #41583
And not fixed in salt 2018.3.2 (Oxygen) :)

[2018-11-02 16:20] rallytime commented on #50348
@isbm I think `use_superseded` was your addition. Would you be willing to add documentation for this?

[2018-11-02 16:36] #48782 closed

[2018-11-02 16:36] twangboy commented on #48782
With the merge of #50006 I'm closing this.

[2018-11-02 17:17] LaughHammers opened #50357 "ar"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2018-11-02 17:19] jnellen commented on #33994
Running into this with 2018.3.3, same symptoms as above. Any work thoughts on a work around or solution?

[DEBUG   ] Requesting URL https://api.vultr.com/v1/server/create?api_key=XXXXXXXXXX using POST method
[DEBUG   ] Using backend: tornado
[DEBUG   ] Response Status Code: 200
[DEBUG   ] Attempting function <function wait_for_hostname at 0x7fee0f652398>
[DEBUG   ] Requesting URL https://api.vultr

[2018-11-02 18:32] dwoz commented on #50357
I am assuming this was a mistake.

[2018-11-02 18:32] #50357 closed

[2018-11-02 19:12] hokie1999 commented on #21802
I am running salt 2016.11.3 (Carbon) on CentOS 7. Can someone tell me why this code runs without error...

new_checker_py:
  file.managed:
    - name: /tmp/rpmChecker.py
    - user: root
    - group: root
    - mode: 755
    - source: salt://system/files/rpmChecker.py

...but the code below

new_checker_py:
  file.managed:
    - name: /tmp/rpmChecker.py                                      <<<<< s

[2018-11-02 19:28] hokie1999 commented on #21802
![image](https://user-images.githubusercontent.com/17535943/47936393-dc387580-deb3-11e8-9af2-b01da7c12fe7.png)

[2018-11-02 19:29] hokie1999 commented on #21802
Can someone tell me why code above fails when jinja is added. "...is not formed as a list..."  thanks.

[2018-11-02 20:13] mchugh19 commented on #20298
@dgorissen unfortunately, nope. The linked URL is for the mount state, which does have the persist option. This issue is basically to migrate that functionality to the mount execution module, and then re-use that logic in the state.

Looks like the mount.mount execution module, could possibly use the logic from mount.set_fstab (or mount.set_vfstab when on Solaris, I assume).

[2018-11-02 20:48] whytewolf commented on #50352
@kiemlicz

The salt.state mod documentation actually expands on what the queue function does. It passes the queue option to the state function. So the state function is what handles that queueing. Since you are using subset which is handled on the orchestration side. these two will conflict. and give the behavior you are seeing.

To do what you want you would need to use a different kind of queue.

[2018-11-02 20:58] pll opened #50363 "Support for pulling docker containers via bittorrent"
Quay.io supports pulling docker containers via quayctl, which seems to be a wrapper around docker to support pulling/distributing images via bittorrent.

I would like the salt module to support alternative commands for pulling that aren't docker pull. Ideally, though I would like it to support quayctl, it should probably support a means for specifying an arbitrary command replacement for docker.

[2018-11-02 21:50] sathieu commented on #46128
@Boulet- shouldn't this bug be closed?

[2018-11-02 22:10] sathieu opened #50364 "git_pillar mountpoint ignores the root parameter"
### Description of Issue/Question

### Setup
Consider the following master config:
[code]

### Steps to Reproduce Issue
The `root` parameter is ignored.

Longer story: I want all my git repos to be virtually relative to `/srv`. The `top.git` repo only contains `pillar/top.sls` which loads the proper "app" pillar corresponding to the minion id. This prevents an app repo to inject pillar data to min

[2018-11-02 23:50] LaughHammers commented on #50357
Yes whatever is it, it was definitely something just fat fingered. Thanks!

On Fri, Nov 2, 2018, 3:17 PM Daniel Wozniak <notifications@github.com wrote:

[2018-11-03 00:53] garethgreenaway commented on #50062
Made some progress on this one today, here is a preview from the salt event runner:
[code]

[2018-11-03 03:32] #28086 closed

[2018-11-03 03:32] #36479 closed

[2018-11-03 03:32] #39713 closed

[2018-11-03 03:32] #41402 closed

[2018-11-03 12:37] #39511 closed

[2018-11-03 14:47] Oloremo commented on #18510
Wait, what is the current status of retcodes for salt operations? It's been 4 years since the issue was created...

[2018-11-03 15:16] Oloremo commented on #32488
any updates?..

[2018-11-03 17:37] #41422 closed

[2018-11-04 01:37] #41406 closed

[2018-11-04 01:37] #41424 closed

[2018-11-04 01:37] #41444 closed

[2018-11-04 01:37] #40596 closed

[2018-11-04 01:37] #38751 closed

[2018-11-04 01:37] #41385 closed

[2018-11-04 01:37] #15561 closed

[2018-11-04 01:37] #28006 closed

[2018-11-04 01:37] #26702 closed

[2018-11-04 01:37] #36599 closed

[2018-11-04 01:37] #41481 closed

[2018-11-04 01:37] #41489 closed

[2018-11-04 01:37] #41492 closed

[2018-11-04 01:37] #41491 closed

[2018-11-04 01:37] #40767 closed

[2018-11-04 01:37] #39876 closed

[2018-11-04 01:37] #34508 closed

[2018-11-04 01:37] #40492 closed

[2018-11-04 01:37] #41477 closed

[2018-11-04 01:37] #39906 closed

[2018-11-04 01:37] #15692 closed

[2018-11-04 01:37] #41475 closed

[2018-11-04 01:37] #41534 closed

[2018-11-04 01:37] #41537 closed

[2018-11-04 09:16] 4815162342lost commented on #41479
Please, reopen.

The issue still persist on salt version.

[2018-11-04 14:01] xjpresley opened #50372 "one minion return lots hosts result"
### Description of Issue/Question
i have six vm minionid is web01-web06
when i run :  salt 'web01' grains.item ipv4  in salt master 10.0.0.1
its return six hosts and six  ip （one host only has one ip） .
i run salt web01 cmd.run ifconfig . it return ip random in web01-web06     i am shock
and im sure those hosts all config different minion id in  /etc/salt/minion_id  .  and more suprise  two of tho

[2018-11-04 15:38] #41571 closed

[2018-11-04 21:19] braunse commented on #28503
I'm hitting the same problem in 2018.3.3. Both `__pillar__` dict and even the output of `__salt__["pillar.get"](...)` are empty in my modules.

[2018-11-04 23:38] #41057 closed

[2018-11-05 07:38] linuxeryt opened #50373 "start java process by saltstack , java process env no LANG var"
I start java process by custom mudle of saltstack, java process env no LANG var

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
caSalt Version:
           Salt: 2018.3.2

Dependency Versions:
           cffi: 1.11.5
       cherrypy: 3.2.2
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: N

[2018-11-05 09:46] Oloremo opened #50375 "[Question] Is there is a way to programmatically check if pillars are able to render?"
### Description of Issue/Question
I'm looking for a way to programmatically check if pillars are able to render and\or up to date.

As I understand so far `saltutil.refresh_pillar` call is asynchronous and can't be used for this at all. I looked into the synchronous refresh_pillar PR(https://github.com/saltstack/salt/pull/50168) and looks like it won't help either.

I wish there is a `pillar.get`

[2018-11-05 09:52] bjorntheart opened #50376 "pam authentication fails executing `test.test` runner"
### Description of Issue/Question

**pam** authentication is failing for me when executing the `test.test` runner

### Setup

#### Vagrant setup

##### Environment

[code]

##### Vagrantfile
[code]

Run `vagrant up` where you `Vagrantfile` is located

#### Create `salt` user and add to sudo

[code]

#### Switch to `salt` user and configure salt master
[code]

Set `user: salt` in `/etc/salt/master`

[2018-11-05 10:14] MatthiasKuehneEllerhold commented on #46891
With the repository pinned to version 2017.7.4 I didnt get any new version of salt-ssh. Today I've tested some:
* 2017.7.4 works
* 2017.7.5 error
* 2017.7.6 error
* 2017.7.7 error
* 2017.7.8 error
* 2018.3.1 error
* 2018.3.2 error
* 2018.3.3 error

Does this help in determining what caused this error?

[2018-11-05 12:43] Oloremo commented on #50375
Kinda related to https://github.com/saltstack/salt/issues/39793
And https://github.com/saltstack/salt/issues/18510
And https://github.com/saltstack/salt/issues/802

[2018-11-05 13:48] reschl opened #50377 "Cannot validate HMAC on CLI when it ends on '=' and has no other special character"
### Description of Issue/Question
It is not possible to validate an HMAC via the CLI if it ends on a "=" and has no other special character before the "=". The result is "ERROR executing 'hashutil.hmac_signature': The following keyword arguments are not valid:" for the given challenge_hmac.

It is only a CLI problem. Adding a unit test for hashutils with the same input works just fine.
[code]

###

[2018-11-05 14:16] rallytime commented on #41583
Please see PR #50358

[2018-11-05 14:19] rallytime commented on #41342
@travispaul Please see #50347

[2018-11-05 14:28] #50300 closed

[2018-11-05 14:39] gtmanfred commented on #18843
@saltstack/team-triage can someone take a look at this?

[2018-11-05 15:17] #50097 closed

[2018-11-05 15:19] Ch3LL commented on #50363
will approve as a feature request.

[2018-11-05 15:29] Ch3LL commented on #50372
can you paste the sanitized output so I can see clearly the issue? Also can you include the salt versions report

[2018-11-05 15:32] Ch3LL commented on #50373
can you please include more information related to the issue? Can you include a small snippet of the custom module? And show the output of what happens when you run the command?

[2018-11-05 15:36] #49415 closed

[2018-11-05 15:38] Ch3LL commented on #50375
Can you include the version you are seeing this? Looks like we need to change the exit code when this fails.

[2018-11-05 16:05] roskens commented on #50375
I was just dealing with an ext_pillar (makostack) that was failing to render because of a duplicate key. It sure would be nice if `saltutil.pillar_refresh` would have returned False for minions where the pillar data experienced a failure during rendering.

[2018-11-05 16:05] Ch3LL commented on #50376
I used your exact vagrant setup and i'm not able to replicate this. I get this error:

`'test.test' is not available.` because its not a valid runner.

[2018-11-05 16:08] travispaul commented on #41342
Awesome! Thanks @rallytime and @garethgreenaway

[2018-11-05 16:43] pgporada commented on #41902
This is working with my example pillar data as of ```[root@c24b0f82353a test]# rpm -qa |grep salt
salt-minion-2018.3.3-1.el7.noarch
salt-2018.3.3-1.el7.noarch
salt-master-2018.3.3-1.el7.noarch
salt-repo-latest-1.el7.noarch
[code]

[2018-11-05 16:44] pewpewp3w opened #50381 "rest_cherrypy py3-incompatible POST /keys handler"
### Description of Issue/Question
Exception:
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
Salt Version:
           Salt: 2018.3.3

Dependency Versions:
           cffi: Not Installed
       cherrypy: 18.0.1
       dateutil: 2.6.1
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: 2.10

[2018-11-05 16:44] #41902 closed

[2018-11-05 16:48] bjorntheart commented on #50376
I forgot to add the custom runner I created in _runners test.py with a test function that prints text to the screen

[2018-11-05 16:49] Tanoti commented on #10728
I would like to leave this open please as I think it is a good check for URL-based sources.

[2018-11-05 16:51] damon-atkins commented on #19839
@lorengordon How does this report the software https://docs.saltstack.com/en/latest/topics/releases/2018.3.0.html#new-utils-module-salt-utils-pkg-win

[2018-11-05 17:05] Ch3LL commented on #50377
seems salt is interpreting the `=` as a kwarg:

[code]

[2018-11-05 17:29] lorengordon commented on #19839
@damon-atkins I'll try to take a look, we're only just getting around to updating to 2018.3

[2018-11-05 17:35] farcaller commented on #41846
this is still a problem.

[2018-11-05 17:50] Ch3LL commented on #50381
did this just start occurring after an upgrade? i'm guessing this is related to the Unicode work we did in 2018.3

[2018-11-05 19:18] Mrten commented on #7694
@basepi? what do you think? is this one done?

[2018-11-05 19:18] twangboy commented on #41738
I think this is still on the roadmap

[2018-11-05 19:21] twangboy commented on #41738
Tracked by https://github.com/saltstack/salt/issues/42801

[2018-11-05 19:21] #41738 closed

[2018-11-05 19:39] ggates1020 opened #50388 "salt-ssh to sparc solaris 64 bit uses 32 bit library path to test for libcrypto"
### Description of Issue/Question
Using salt-ssh and connecting to a sparc solaris 64 bit system running 64 bit python uses the 32 bit library path to test for libcrypto resulting in an OSError.

        Traceback (most recent call last):
          File "/var/tmp/.ajb_303cbc_salt/salt-call", line 15, in <module>
            salt_call()
          File "/var/tmp/.ajb_303cbc_salt/py2/salt/scripts.py"

[2018-11-05 20:46] basepi commented on #10494
@team-triage

[2018-11-05 20:48] rallytime commented on #10494
@saltstack/team-triage

[2018-11-05 20:49] basepi commented on #7909
@saltstack/team-triage

[2018-11-05 20:50] #49469 closed

[2018-11-05 20:54] gtmanfred commented on #7909
@saltstack/team-triage

[2018-11-05 21:02] #49416 closed

[2018-11-05 21:04] basepi commented on #10728
@saltstack/team-triage

[2018-11-05 21:15] basepi commented on #7694
I think we've had timing for years now so yes, I think this can be closed.

[2018-11-05 21:15] #7694 closed

[2018-11-05 21:17] dawidmalina commented on #39284
I had today exactly the same issue. It didn't worked when i configured it with:
[code]
When i put the settings into `/etc/gitconfig` so system wide it started to work.

[2018-11-05 21:34] skijash commented on #44908
Does someone know the status of this issue?

[2018-11-05 21:43] Oloremo commented on #50375
@Ch3LL

[code]

[2018-11-05 22:47] dwoz commented on #50219
@bornwitbugs are you looking at the 2018.3 branch and not the 2018.3.3 tag? That would explain the difference between what you see in the package vs the repository.

[2018-11-05 23:06] dwoz commented on #50219
I can confirm this has been fixed in the 2018.3 branch due to a combination of these PRs:

https://github.com/saltstack/salt/pull/49561

and

https://github.com/saltstack/salt/pull/49782

[2018-11-05 23:52] garethgreenaway commented on #49575
Did some digging on this one and it seems related to the tornado mocking.  The moment I comment out all the tornado mocking in conf.py then this particular page builds as expected.

[2018-11-06 02:04] dwoz commented on #50221
This is still an issue in the latest 2018.3 branch.

[2018-11-06 06:09] nkrishnakishor commented on #50303
Any suggestions please.

[2018-11-06 09:34] linuxeryt commented on #50373
I discovered the problem by starting the process with salt-minion-c /etc/ salt-d rather than a startup script. salt-minion-c /etc/ salt-d  does not load the environment variables

[2018-11-06 09:56] bjorntheart commented on #50376
@Ch3LL

I added the following to my master config to look for additional locations when processing master runniners.
[code]

**test.py**
[code]

Technically I should be able to run  the following command
`salt-run -a pam --username=salt --password=secret -l trace test.test SomeString`
and it should print 'SomeString' to the terminal, but it doesn't. Instead I get the following error
`Authenticatio

[2018-11-06 10:08] bjorntheart commented on #50376
Is it even necessary to run the commands with `salt-run -a pam --username=<username> --password=<password> test.test`? What I am getting at is if the user `salt` auth configuration is declared as follows
[code]
and I am logged in as the user `salt`, can I leave off the `-a pam` flags? Would salt still check the auth for the user?

[2018-11-06 10:21] basseed commented on #50331
[code]

[2018-11-06 12:08] damon-atkins commented on #37692
The 2018.3 release covered this issue.

[2018-11-06 12:08] #37692 closed

[2018-11-06 12:13] Chupaka commented on #41583
@rallytime thanks!

While waiting for the salt release with this fix, I added fixed mount.py as salt://_states/mount.py - looks good, no more disturbing messages =)

[2018-11-06 12:48] bjorntheart opened #50391 "Configuration for external_auth malformed for eauth 'pam', and user 'salt'"
### Description of Issue/Question

Two things that is really odd to me:

1. The following message in the salt-api debug logs `Configuration for external_auth malformed for eauth 'pam'`
2. `perms: {}` is always returns with no permissions in the `/login` response

### Setup
**restcherry_py.conf**
[code]

**Salt master `external_auth` config**
[code]

[code]

**Curl command output**
[code]

### Step

[2018-11-06 13:33] tsaridas opened #50393 "zmq socket closed before sending all data"
### Description of Issue/Question
While testing sending command to multiple minions (200+) at the same time we noticed that some syndic randomly did not send publish the event to the minions and tracked down the issue to the ZeroMQPubServerChannel class.

After adding debug log after

https://github.com/saltstack/salt/blob/develop/salt/transport/zeromq.py#L938

the problem seemed to be fixed think

[2018-11-06 13:55] julientravelaer opened #50394 "boto_vpc, unable to create inter-region peering"
### Description of Issue/Question
Hi all,

It's not possible to create an AWS peering connection between different region under the same account.

I looked at the code of **salt-2018.3.3/salt/modules/boto_vpc.py** and the region can't be passed to the **request_vpc_peering_connection** method, which call the **conn.create_vpc_peering_connection** method of boto3.

Is it possible to add the paramet

[2018-11-06 14:29] Ch3LL commented on #40491
can you open a new issue with the details?

[2018-11-06 14:29] Ch3LL commented on #50238
thanks. ping @DmitryKuzmenko can you put this on your backlog?

[2018-11-06 14:30] Ch3LL commented on #50320
okay i'll go ahead and close this as this would be considered new behavior and we will track there.

[2018-11-06 14:30] #50320 closed

[2018-11-06 14:49] Ch3LL commented on #50243
thanks for clearing my understanding up. ping @terminalmage any ideas here?

[2018-11-06 15:06] terminalmage commented on #49586
Sorry for the delay, I was on vacation. I will look at this soon.

[2018-11-06 15:28] #41819 closed

[2018-11-06 15:31] Ch3LL commented on #46946
looks like i'm able to replicate this. we will need to get this fixed up.

[2018-11-06 15:35] roskens commented on #50238
This little patch prevents the **KeyError u'ret'** from being returned and causing the batch to completely fail. I have not tested it with raw output.

[code]

Connected minions still randomly fail to return results, and that's probably a separate issue to look into and address.

[2018-11-06 15:40] Ch3LL commented on #50381
thanks for the PR! I will go ahead and close the issue.

[2018-11-06 15:40] #50381 closed

[2018-11-06 15:58] Ch3LL commented on #50375
thanks. So it seems we can use this issue to make sure the exit code is not a 0 when there is a keyerror. Currently `saltutil.pillar_refresh` is currently asynchronous and looking at the PR it looks like it will still simply send an event to make sure the pillar refreshes and wait for the event to return. It looks like there is a try/except there to handle KeyErrors but i'm not seeing where we wou

[2018-11-06 16:22] Ch3LL commented on #50376
i think what you are looking for is the publisher_acl then: https://docs.saltstack.com/en/latest/ref/publisheracl.html  you can speciy the user to run and dont have to pass `-a pam`. If you are logged in as that user and the directories have the correct permissions you can run like shown below:

[code]

/etc/salt/master:

[code]

[2018-11-06 16:29] terminalmage commented on #50243
I'm not familiar with `retry` but it seems to be built into the state compiler. The reason we're only attempting to download the file once is because `cp.cache_file` uses the `__context__` dunder to prevent multiple fileclient requests in the same state run from re-downloading the same file. We would need to do something like the following:

1. Add some logic that would allow us to detect whether

[2018-11-06 16:34] bjorntheart commented on #50376
Thanks. That makes sense. However it doesn’t solve the initial issue Inwas having pam. Instill don’t understand why it’s not working the auth config is correct

[2018-11-06 16:36] mikeadamz commented on #50313
I'm not sure if this helps, but I have two salt masters running on two different kubernetes clusters in two different datacenter in two different states. One master has a single minion and the other master has zero minions. The memory leak is _exactly_ the same.

<img width="890" alt="image" src="https://user-images.githubusercontent.com/1888506/48078803-f36eb000-e19e-11e8-8b19-5bd23fc8bbec.png">

[2018-11-06 16:41] rallytime commented on #49575
It's possible that the tornado mocking was added long ago. I wonder if it is still needed?

[2018-11-06 17:56] prog-dale commented on #50034
Ok now im super confused its working with 2018.3.3 the minion i tested it on had lost its config after a wipe and reinstall. But this minion has the config and seems to work.

[2018-11-06 18:08] terminalmage commented on #18510
Exit codes have been normalized in https://github.com/saltstack/salt/pull/48361 for the upcoming Fluorine release. The following conditions will set a nonzero exit code:

- An exception is raised
- The code being run sets `__context__['retcode']` to a nonzero value
- The return data for a given function is a dictionary with either a `result` or `success` key in it, which resolves as `False`

`file

[2018-11-06 18:09] #46128 closed

[2018-11-06 18:19] garethgreenaway commented on #50394
@julientravelaer Thanks for the report.  This would be a great feature to have.  Marking it as approved for a future feature addition.

[2018-11-06 19:21] ldav1s commented on #39709
Here's a command line version that may be the same or related issue.  My salt looks like:

[code]

I'm trying to filter the disks grains says I have:

[code]

OK, lets filter on loop disks:

[code]

I'm expecting an "x" for each loop disk, I guess.  Picking and choosing is no help either:

[code]

[code]

[2018-11-06 19:30] garethgreenaway commented on #50391
@bjorntheart Thanks for the report.  If you update your external_auth configuration to the following that should take care of one of the issues:
[code]
As far as the `perms` value always being blank, your configuration is allowing access to all functions in all modules.  The runner and wheel functions don't show up in `perms` because they are handled differently.

[2018-11-06 19:42] garethgreenaway commented on #50393
@saltstack/team-core Anyone have thoughts on this one?

[2018-11-06 20:00] #50310 closed

[2018-11-06 20:01] cachedout commented on #50393
@garethgreenaway Right now this is something that @dwoz is looking into.

[2018-11-06 20:04] garethgreenaway commented on #50393
@cachedout Thanks.  Assigned to @dwoz.

[2018-11-06 20:16] #41590 closed

[2018-11-06 20:16] #16590 closed

[2018-11-06 20:16] #41517 closed

[2018-11-06 20:16] #41605 closed

[2018-11-06 20:16] #26350 closed

[2018-11-06 20:26] prometheanfire opened #50403 "tornado 5.1.1 is not co-installable with salt on python2.7"
### Description of Issue/Question
Salt states that it works with tornado<6.0.0 in base.txt but the metadata it installs does not follow the python version specifier.

    # grep tornado ~/.virtualenvs/salt-tornado/lib/python2.7/site-packages/salt-2018.3.3.dist-info/METADATA
    Requires-Dist: tornado (<6.0,>=4.2.1)
    Requires-Dist: tornado (<5.0,>=4.2.1)

When pip installing you get these lines

[2018-11-06 20:28] prometheanfire commented on #50403
It seems to me you are doing a ton of custom stuff in setup.py that's shooting yourself in the foot.  Just use setuptools/pkg_resources/etc for the requirements stuff. you can specify playforms, optional requirements (extras), etc.

[2018-11-06 21:17] Noah-Huppert commented on #47483
@simmel I think you can use templates in the Vault external pillar configuration. I briefly remember doing something similar.

In the last example in the [Vault external pillar documentation](https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.vault.html#module-salt.pillar.vault) there is an example which uses the `{minion}` variable:

[code]

However I did not end up using this method

[2018-11-06 21:24] garethgreenaway commented on #49575
@rallytime Looks like they've been there for 4-5 years, one was added 5 months ago.

[2018-11-06 22:21] gtmanfred commented on #39709
@saltstack/team-triage can yall take a look?

[2018-11-06 22:41] cbojja22 commented on #38302
I also have the same issue on win server 2012 R2 for a long time so we are unable to debug what kind of modules are failed to run for highstate.
even i changed the minion config to debug/error mode and restart minion service and run some states though its not updating minion log.
could you please suggest me here.

[2018-11-06 22:46] cbojja22 opened #50404 "salt service is not logging on windows server 2012"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
salt-call.bat -l log_file debug state.apply

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2018-11-07 03:05] darkpixel commented on #47445
I see the same thing with several services on FreeBSD including filebeat and spiped.
Any of the following fill hang indefinitely until I kill the child process (i.e. filebeat or spiped):
```cmd.run 'service filebeat start'```
```cmd.run '/usr/local/etc/rc.d/filebeat start'```
```service.start filebeat```

[2018-11-07 03:50] glkappe opened #50406 "salt-ssh can't use Mongo returner"
### Description of Issue/Question

Master_job_cache:mongo can only be used when the user of Mongo is root, otherwise it will be wrong.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

CentOS 6.9 Final
PyMongo == 3.4.0
Percona-Server-MongoDB-34-mongos-3.4.17-2.15.el6.x86_64
Already opened security.authorization=enabled
[root@DB123 master.d]# pip lis

[2018-11-07 03:51] glkappe commented on #50406
I wonder if you can understand it.

[2018-11-07 05:48] sathieu commented on #47206
#47539 is marked fixed "and it will be in the 2018.3.4 release"

[2018-11-07 06:36] bjorntheart commented on #50391
@garethgreenaway I changed it as you suggested but I'm still seeing the following error:
[code]

[2018-11-07 07:36] crazyeefly opened #50408 "UnicodeEncodeError: 'latin-1' codec can't encode characters"
### Description of Issue/Question

salt '*' cp.get_dir salt://shenjh  /temp can not work

there is some wrong log  on other master :
2018-11-07 11:13:38,485 [salt.master                                           :1795][ERROR   ][26762] Error in function _file_list:
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/salt/master.py", line 1788, in run_func
    ret = getattr(

[2018-11-07 07:57] mitroko commented on #41766
Still needed

[2018-11-07 08:48] CGenie opened #50411 "Reactor AuthenticationError"
### Description of Issue/Question
I get an `AuthenticationError` when using the `local` type of reactor. Below is a simple setup I use. I have more complex `runner` reactions and they work just fine.

### Setup
In the `salt-master` configuration I have these lines:
[code]
The `reactors/nginx/cert-update.sls` file looks like this:
[code]

### Steps to Reproduce Issue
I just send the event manually:

[2018-11-07 09:44] kstreee opened #50412 "RFC: Makes salt minion's master_port and publish_port options depend on each master's ip"
- Feature Name: Makes salt minion's master_port and publish_port options depend on each master's ip.
- Start Date: 2018-11-07
- RFC PR:
- Salt Issue:

# Summary
[summary]: #summary

For example, current salt minion configuration can't cover the following setting of multi-master.

master1's config
[code]
master2's config
[code]

minion's config
[code]

# Motivation
[motivation]: #motivation

We are

[2018-11-07 11:47] flassman opened #50413 "cmd.run using runas fails on windows with python3 with TypeError: 'error' object does not support indexing"
### Description of Issue/Question

Using cmd.run with "runas" fails on windows if using the python3 minion with the following error:

  File "c:\salt\bin\lib\site-packages\salt\utils\win_runas.py", line 313, in runas_system
    if exc[0] == winerror.ERROR_NO_SUCH_LOGON_SESSION \
TypeError: 'error' object does not support indexing

### Setup

you need a windows agent with the python 3 bundled

###

[2018-11-07 14:19] DmitryKuzmenko commented on #50327
@garethgreenaway hm... not sure. This could mean we have to change the way we're getting the current ioloop somewhere else from `tornado.ioloop.IOLoop.current()` to `salt.utils.zeromq.ZMQDefaultLoop.current()`. But first we have to understand where. =)

For now I can put it to my backlog.

[2018-11-07 14:48] #31522 closed

[2018-11-07 14:48] #18487 closed

[2018-11-07 15:28] Ch3LL commented on #38302
as this issue has been closed for a while can you please open a new issue with the details @cbojja22 thanks

[2018-11-07 15:48] #36256 closed

[2018-11-07 17:40] garethgreenaway commented on #50067
@DrPyser This feature has been implemented in #50150

[2018-11-07 17:48] #41568 closed

[2018-11-07 17:56] Sxderp commented on #42075
I think the parameter "mode" should be removed entirely. For the most part I like what @tremon015 suggested [here](https://github.com/saltstack/salt/issues/42075#issuecomment-419743899), without point # 1 (I think it adds confusion). Unfortunately, this would break backward compatibility but I think it's for the better, as using single paramter that takes a single word to define functionality is t

[2018-11-07 18:00] dwoz commented on #50393
@tsaridas can you please provide us the output of `salt --versions-report` ?

[2018-11-07 18:05] dwoz commented on #50403
@prometheanfire Thank you for reporting this. I have confirmed the issue.

[2018-11-07 18:11] dwoz commented on #50404
@cbojja22 Does it work correctly using the `--log-file` option? The command would be something like this `salt-call.bat --log-file salt-call.log -l debug`

[2018-11-07 18:19] kiemlicz opened #50419 "Management of applications deployed in kubernetes using Salt"
### Description of Issue/Question
Given the huge number of possibilities how to manage the kubernetes-based applications using Salt I'm confused.
By managing kubernetes-based application I don't mean installation of kubernetes itself. I mean provisioning the actually deployed application, like sharding the MongoDB database, creating redis clusters. Anything that actually requires some kind of orch

[2018-11-07 18:43] dwoz commented on #50403
@prometheanfire Can you provide us with the output of `salt --versions-report` and if you are unable to run that due to a broken install can you provide us the OS and Python Version?

[2018-11-07 19:06] tsaridas commented on #50393
[code]

[2018-11-07 19:27] weswhet opened #50420 "mac_system virtual function fails to load on 2018.3.3"
### Description of Issue/Question
mac_system throws something like below on 2018.3.3
[code]
sorry, I made mac_system real sad with #49062 😞 I'll fix it.

[2018-11-07 19:57] dwoz commented on #50406
@glkappe thank you for reporting this. I have confirmed the issue exists. It looks like `salt.returners.get_returner_options` is not honoring the configured mongo user and is using the ssh username instead.

[2018-11-07 19:58] prometheanfire commented on #50403
keep in mind this is in a venv, but here it is.

[code]

[2018-11-07 20:00] prometheanfire commented on #50403
I noticed this bug in openstack co-installability tests for proposed updates. jaeger-client has this cap as well iirc.

http://logs.openstack.org/31/615731/1/check/requirements-tox-py27-check-uc/3712d13/job-output.txt.gz#_2018-11-06_06_35_48_249574

[2018-11-07 20:20] craigafinch commented on #30176
The fix worked. As of 2018 I can install and enable a module with the pattern:
[code]

[2018-11-07 21:18] dwoz commented on #50408
@crazyeefly Thank you for reporting the issue. I am having trouble re-producing this on a fresh install of Redhat 7.3. Is the python package up-to-date on both systems?

[2018-11-07 21:20] jeffdyke commented on #50123
@garethgreenaway is there a way to stop this until it gets fixed, i have no errors any longer in any pillar files.  That was a red herring by looks and it always logs pillar data to syslog.  can i redirect salt's syslog output to another file?  Its not logging anything to /var/log/salt/master.

[2018-11-07 21:27] V3XATI0N opened #50422 "It's impossible to restart salt-minion from the master on MacOS minions"
### Description of Issue/Question
A command like `salt MINION service.restart salt-minion` works fine on Linux, Windows, and even Solaris. But on MacOS, it just kills the service. There's no apparent workaround either, because any process (including a local script that would start the service) started by the minion dies with the main process when it restarts, killing any would-be restart commands

[2018-11-07 21:39] weswhet commented on #50422
Looks like service.restart on macOS does a stop/start. Which is an issue because when it the stops the service, it kills the process thats running the command so its unable to start it again. Looks like we should be able to change this to run `launchctl kickstart -k system/com.saltstack.salt.minion` and we should be good to go.

[2018-11-07 21:45] alxwr commented on #40490
Works for me using:

- Ubuntu 18.04.1
  - salt-minion 2017.7.8+ds-2
  - python-m2crypto 0.27.0-5
- FreeBSD 11.2
  - py27-salt-2018.3.3
  - py27-m2crypto-0.30.1

Supposedly still doesn't work with 0.26.0, but I think we can close this issue. :-)

[2018-11-07 21:48] #41631 closed

[2018-11-07 22:38] dwoz commented on #50411
@CGenie thank you for reporting this issue. I was able to confirm that I receive the same auth error with a similar setup. I tried adjusting `publisher_acl` and `peer` ACLs but they did not change the result.

[2018-11-07 23:49] dwoz commented on #50412
@kstreee Thanks for the feature request. It makes sense to me and I like it.. @core-team comments?

[2018-11-08 01:33] glkappe commented on #50406
Thank you for the reply！
If it has been repaired, how can I know?
@dwoz

[2018-11-08 05:23] crazyeefly opened #50426 "cp.get_dir not work when the root_dir big"
cp.get_dir not work   file_roots on nas with a big large files

it looks like the salt will scan the full dir in /srv/salt/

the reult return null and minion not get the dir

it is active on 2018.3.X

salt --versions-report
Salt Version:
Salt: 2018.3.3

Dependency Versions:
cffi: 1.6.0
cherrypy: unknown
dateutil: 1.5
docker-py: Not Installed
gitdb: Not Installed
gitpython: Not Installed
ioflo: Not

[2018-11-08 05:54] bjorntheart commented on #50376
That is so weird. Let me recreate my the setup on my side and see if that doesn't fix the issue

[2018-11-08 05:56] bjorntheart commented on #50391
@garethgreenaway I think this issue might be related to another issue I am having with authentication using pam #50376
I'm going to recreate my setup and see if that  doesn't fix the issue.

Closing for now

[2018-11-08 05:56] #50391 closed

[2018-11-08 05:56] bjorntheart commented on #50376
Closing for now

[2018-11-08 05:56] #50376 closed

[2018-11-08 06:09] sathieu commented on #32245
Appart from the race, there is also a bug with `__env__` pillar inclusion handling. Proposed fix in #50417.

[2018-11-08 06:29] phpguru commented on #23543
I'd love a single complete working example on how to solve this. Still happens on Ubuntu 16, Salt 2018.3.3:

Command:

[code]
Here is my php/init.sls :

[code]

Here's the output on the master:

[code]

[2018-11-08 07:09] goodwillcoding commented on #50313
wow the silence on tis bug is completely deafening ... despite the obvious P1 status

[2018-11-08 07:15] dwoz commented on #50426
@crazyeefly  Thank you for reporting the issue. Can you provide us with `salt --versions-report` and also some logs from the master and minion while trying `cp.get_dir` ?

[2018-11-08 08:35] Oloremo commented on #35215
Run on this issue too. At make's close to zero sense to serialized data for KV as JSON.
it's still not fixed as at 2018.3.3

[2018-11-08 08:36] Oloremo commented on #35215
@Ch3LL could this issue be reopened?

[2018-11-08 09:17] Poil opened #50429 "dockerng.network_present vs docker_network.present"
Hi,

I'm writing a formula that uses docker(ng) states.
What I understand is I should use the dockerng state because the docker state is going to be deprecated.
But dockerng.network_present does not have driver_opts, so I don't understand how I can configure a macvlan network with it

Best regards,

[2018-11-08 09:43] #50429 closed

[2018-11-08 09:57] DmitryKuzmenko commented on #50313
Sorry for the silence guys. I'm here and working on it.

[2018-11-08 10:09] DmitryKuzmenko commented on #50313
@mikeadamz is it possible to get output of `ps aux | grep salt` on one of VMs where master already grown enough to see what subprocess of master has that problem?

[2018-11-08 13:14] mikeadamz commented on #50313
[code]

[2018-11-08 13:18] gazzer82 opened #50430 "Enable DigitalOcean Monitoring"
### Description of Issue/Question
I would like to enable DigitalOcean Monitoring during droplet creation, but it doesn't seem the option "monitoring" is supported at the moment, or it never gets passed to DigitalOcean.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Currently my profile looks like this.

[code]

### Steps to Reproduce Issue
(Includ

[2018-11-08 13:22] DmitryKuzmenko commented on #50313
@mikeadamz thank you! It's very helpful.

[2018-11-08 14:13] rallytime commented on #50292
@dstoliker This is fixed with #50423

[2018-11-08 14:54] Ch3LL commented on #50430
should be good to add. will approve as a feature request

[2018-11-08 14:54] Ch3LL commented on #50430
fyi @saltstack/team-cloud

[2018-11-08 15:00] zerthimon opened #50433 "Wildcard grant fails in mysql_grants.present in mysql 8.x"
### Description of Issue/Question

### Setup
[code]
### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2018-11-08 15:32] terminalmage commented on #50218
`onlyif` and `unless` do not support a list of commands.

[2018-11-08 15:37] terminalmage commented on #50218
It looks like it does in `cmd` states but was implemented differently for `git` states. At any rate, the fact that a list is supported is not documented anywhere, which is also problematic. I'll try to get this normalized and improve the documentation.

[2018-11-08 15:47] terminalmage commented on #50218
There's also a separate bug here, which is what is actually causing the traceback. 1f7d50d194c86128ec126b6c619e0a885f4ea250 broke this by assuming that the command is always a string. A command can be passed to `TimedProc` as either a string or a list of args, just like `subprocess.Popen`.

[2018-11-08 16:05] phpguru commented on #23543
After much tinkering, this works with the latest PHP. Thanks @RyPeck

[code]

[2018-11-08 16:54] robertpenberthy commented on #21986
Ran into this issue myself yesterday.  I destroyed some VMs in my environment through salt-cloud and then ran through some states, orchestration, and modules trying to figure out why minions I destroyed were returning in my mine.get calls.  Because they returned, they broke logic and caused things to fail / become misconfigured.  Please fix!

[2018-11-08 17:12] dwoz commented on #50393
@tsaridas I've submitted a PR with my proposed fix #50424. If you would like to test it and provide a review that would be helpful.

[2018-11-08 17:59] Reiner030 commented on #46163
mmh... bug still exists / something else broken?

[code]

tested with:
[code]

[2018-11-08 18:59] cavepopo commented on #49586
No worries ! Hope you enjoyed your vacation :)

[2018-11-08 19:18] ata-sql commented on #50218
Well, I didn't know it wasn't supported. I found it somwhere on the internet (list of commands) and it worked. Thanks for taking analyzing it.

[2018-11-08 19:31] terminalmage commented on #50218
@ata-sql yeah, it should work if you use the following:

[code]

[2018-11-08 19:33] paulcdejean commented on #24216
This is still an annoyance!

[2018-11-08 19:50] ata-sql commented on #50218
It looks like a hack, array of commands looks much nicer.

[2018-11-08 20:10] terminalmage commented on #50218
Well I still plan on normalizing it so that a list of commands works. But, if you don't want to change it then I guess you'll have to live with it not working until we get a new release out.

[2018-11-08 21:04] rallytime commented on #34089
This is fixed now with the 2 PRs linked above.

[2018-11-08 21:04] #34089 closed

[2018-11-08 21:06] rallytime commented on #24216
@saltstack/team-triage FYI

[2018-11-08 23:56] tjgruber opened #50444 "Windows 7 32-bit Minions broken on 2018.3.3 - Windows Service Gone"
### Description of Issue/Question

On a bunch of Windows Minions, suddenly, the salt-minion service is gone. When I look at services.msc or Get-Service in PowerShell, there is not a salt-minion service.

Installing fresh, reinstall from Chocolatey, or a reinstall from the Windows installers located [here](https://docs.saltstack.com/en/latest/topics/installation/windows.html) results in a successfu

[2018-11-09 02:28] DrPyser commented on #50067
Great, thanks! And thanks @mchugh19 !

[2018-11-09 02:48] ezh commented on #47911
We are using stable 2018.3.3

[2018-11-09 05:28] #41644 closed

[2018-11-09 05:28] #41593 closed

[2018-11-09 05:28] #40821 closed

[2018-11-09 05:28] #39480 closed

[2018-11-09 05:28] #25033 closed

[2018-11-09 08:34] brettsheffield commented on #41932
The issue has not been addressed.  The documentation page is still inaccessible from lynx and gives a 403 forbidden error.  This would seem trivial to address in the nginx config.  Does accessibility not matter to the project?

[2018-11-09 10:38] viq commented on #49147
Any news with this? I was just bitten by it on a couple of minions, eg
[code]

[2018-11-09 12:49] nithinh123 opened #50445 "Not able to use the modified salt minion installer for windows without installing python"
###Salt folder getting created in C drive even after changing it

I tried to make a Windows Minion Installer by changing the default Path to "C:\hivecenter". I am able to install the minion using the installer i build. But the service is not going up. Service is up only if I have python installed before installing salt minion.

Tried editing  "Salt-Minion-Setup.nsi" file in the windows installer b

[2018-11-09 12:50] #50445 closed

[2018-11-09 12:54] nithinh123 opened #50447 "Not able to make modified minion service up without installing python before."
Not able to make modified minion service up without installing python before.

I tried to make a Windows Minion Installer by changing the default Path to "C:\saltpath". I am able to install the minion using the installer i build. But the service is not going up. Service is up only if I have python installed before installing salt minion.

Tried editing "Salt-Minion-Setup.nsi" file in the windows i

[2018-11-09 13:46] #50447 closed

[2018-11-09 14:32] thefirstzven commented on #37750
Tested on CentOS 7.5 : network.mod_hostname sillyserver , the server name is now 'sillyserver' (OK)
but then the line "search mydomain.com" in /etc/resolv.conf file disappears !
I face same issues on some salt-cloud -p ... command when deploying ( at hostname set step?...)
Without the "search...." line in resolv.conf, the server do not access the salt-master anymore...
=> switch to hostnamectl sho

[2018-11-09 14:45] #40490 closed

[2018-11-09 15:13] Ch3LL commented on #47911
im not able to replicate this on 2018.3.3. ping @garethgreenaway do you see anything obvious on the scheduler side of things?

[2018-11-09 15:14] Ch3LL commented on #37750
@thefirstzven can you please open a new issue with all the details since this is closed.

[2018-11-09 15:29] thefirstzven opened #50454 "network.mod_hostname on Centos 7.5 suppress "search" line in resolv.conf"
Tested on CentOS 7.5 : when I do network.mod_hostname sillyserver, the hostname change to "sillyserver" (OK) but then the line "search mydomain.com" in /etc/resolv.conf file disappears !
I face same issues on some salt-cloud -p ... command when deploying ( at hostname set step?...)
Without the "search...." line in resolv.conf, the server do not access the salt-master anymore...
=> switch to hostna

[2018-11-09 19:45] #9736 closed

[2018-11-09 19:46] basepi commented on #9736
I guess I should have let StaleBot close this, but I certainly cannot imagine this still being an issue in modern versions of salt. If anyone has this issue still, please comment and we can re-open.

[2018-11-09 20:03] terminalmage commented on #50218
OK, I've opened https://github.com/saltstack/salt/pull/50456 to support a list of commands for unless/onlyif. Apparently, the default handling of unless supports a list, but when overridden in a state module (as done in the `cmd` state, as well as a few others), it's up to the implementation of that state module's `mod_run_check` function, which for `git` states did not support a list.

@ata-sql H

[2018-11-09 20:52] nickgarber opened #50458 "Use State Staza kwarg '_stanza_meta' for storing info like: docstring, et al"
### Description of Issue/Question
This is a discussion/consensus request to identify a means to safely add additional info to a state stanza.

My immediate use-case is to make my stanzas more self-documenting, more context-rich, and ideally easier to follow and improve by other state authors.

Supplemental to that I'd like to use this embedded information in downstream tooling to automatically pro

[2018-11-09 21:05] cdalvaro opened #50459 "PyGit2 wrong user for .gitconfig"
PyGit2 is trying to use the wrong `.gitconfig` file when `salt-master` is launch as `root` but the user `/etc/salt/master` is set to a different one.

[code]

I think the problem is the way in which the `search_path` for the global config for pygit2 is set

https://github.com/saltstack/salt/blob/b87bfd36b23104b0ba0cd4a10c266c1eb066964e/salt/utils/gitfs.py#L1625-L1626

I understand that launching `

[2018-11-09 21:42] tjgruber commented on #50444
This all started with "Latest release: 2018.3.3 (October 24, 2018)".

Everything is great before that, so definitely a correlation there.

What logs from where should I pull up to identify the issue?

[2018-11-10 01:54] Firewire2002 commented on #41020
I suggest a symlink from backport to ext directory to fix this issue. But PR was reverted without any comment.
So which issues do you mean?

In the meanwhile I moved the symlink creation to salt-call:

[code]

[2018-11-10 12:39] absolutejam opened #50461 "elementaryOS 'pkg' __virtual__ returned false"
### Description of Issue/Question
Trying to run my standardised Ubuntu workstation setup on elementaryOS, and it looks like Salt is not detecting that the OS uses apt/is Ubuntu-based.

### Setup
Example `pkg.installed` call: `sudo salt-call --local state.single pkg.installed name=git -l debug`

### Versions Report
[code]

[2018-11-10 13:56] pquentin commented on #45917
@jeremysolarz libcloud 2.4.0 is now out with your change! Thank you, and sorry for the delay

[2018-11-11 06:56] UniIsland commented on #30161
I'm using 2018.3.3 (Oxygen).

With `module.run`, it seems this problem still exists that `unless` is ignored when used in combination with `onlyif`.

Below is my state file that reproduce this issue.

[code]

[2018-11-11 07:33] UniIsland opened #50462 "How to append string with the new __slot__ syntax?"
### Description of Issue/Question

The `__slot__` syntax #44866 is great. But can we manipulate the string returned, or append another string to it?

I tried the following states syntax. Neither of them works.

[code]

[code]

After reading the source code [salt/state.py#2054](https://github.com/saltstack/salt/pull/44866/files#diff-e5cf22153489a6c40864babf3ca18002R2054), I guess anything after the

[2018-11-11 11:05] max-arnold commented on #50462
@UniIsland You could write a custom grain for this. If you still want to use slots, this workaround could help:

[code]

[2018-11-11 12:39] nkrishnakishor opened #50464 "ID startup_states in SLS common is not a dictionary"
### Description of Issue/Question
Unable to execute startup_states
### Setup
Below is the config file
`cat /srv/salt/common/init.sls`
[code]
### Steps to Reproduce Issue
`# salt minion state.sls common -l all`
[code]

### Versions Report
`salt --versions-report`

[code]

[2018-11-11 13:59] damon-atkins opened #50465 "reg.present does not return changes with new and old and should use comments"
### Description of Issue/Question

### Setup
Use reg.present state.
Returns non-standard `changes`.  Should put feed back in `comments` instead of changes.

### Steps to Reproduce Issue
Change a registry value using reg.present

e.g.
[code]
should look like this as a module output
[code]
Then the reg.present should look like this with the use of `comment`
[code]

### Versions Report
All recent ver

[2018-11-11 16:54] johnkeates commented on #41931
This is still a severe bug...

[2018-11-11 19:54] #41672 closed

[2018-11-12 00:41] garethgreenaway commented on #50411
What is $ROOT? And what is the contents of the configuration file `_all`?

[2018-11-12 01:03] crazyeefly commented on #50426
# salt --versions-report
Salt Version:
           Salt: 2018.3.3

Dependency Versions:
           cffi: 1.6.0
       cherrypy: unknown
       dateutil: 1.5
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: 2.7.2
        libgit2: Not Installed
        libnacl: Not Installed
       M2Crypto: 0.21.1

[2018-11-12 02:41] cruscio commented on #48467
Hey @markuskramerIgitt - I just ran into this error with Salt-Minion-2018.3.3-Py2-AMD64-Setup.exe from repo.saltstack.com on Windows Server 2008 R2. Can we reopen this issue or should I log my own?

[code]

[2018-11-12 05:03] averyfuentes9rs commented on #35838
Pinging this issue as I just ran into the issue using salt 2018.3.3 on gentoo

[code]

while trying to bootstrap the configuration for a new machine.
As I'm trying to apply the configuration in the context of a masterless minion, a way to reproduce is:

[code]

[2018-11-12 05:17] CGenie commented on #50411
I'm sorry, I copied the contents of `master` from a bash script that generates it for our purposes, `$ROOT` is just that bash script's variable to know where to make the installation. Here is the whole `_all/master` configuration file:
[code]

[2018-11-12 08:40] averyfuentes9rs commented on #50127
I have been running into this issue myself and I can report that @mgomersbach fix works on my gentoo installation, using python 3.6

[code]

However for my installation/version the patch is missing another occasion of
```reload(portage)``` in [salt/modules/portage_config.py](https://github.com/saltstack/salt/blob/develop/salt/modules/portage_config.py#L60)

On my test machine I could verify that a

[2018-11-12 09:13] mgomersbach commented on #50127
You are completely right! :flushed:
For some reason my first grep missed (branch 2017.7):

tests/unit/utils/test_path_join.py:130
tests/unit/utils/test_path_join.py:138 (in general the 'imp import')

salt/modules/portage_config.py:57

Should I squash them together in one PR or leave the test for someone else?

[2018-11-12 15:48] afischer-opentext-com opened #50475 "Redis returner and "The function "state.sls" is running as PID and was started at ...""
### Description of Issue/Question

We are currently planning to migrate a single salt master environment the way it is served by multiple salt masters using a Redis cache/returner. Given that, our plan was to setup a Redis host/cluster, configure the salt-master the way

[code]

and then to install the PIPs for redis and rediscluster on the minions. We already have a salt runner which utilizes the

[2018-11-12 16:37] nkrishnakishor opened #50476 "win_wua.install_update: ERROR: No updates found"
### Description of Issue/Question
Unable to install Windows update in Windows 2012 R2 server, but when i manually try to install the update it shows prompt for continuation.
### Setup
`# salt windows-minion win_wua.install_update KB4056898 -l debug`

### Steps to Reproduce Issue
[code]

### Versions Report
`salt --versions-report`

[code]

[2018-11-12 16:42] #50461 closed

[2018-11-12 17:28] SimonSapin opened #50477 "`'user.info' is not available` with macOS minion through salt-ssh"
### Description of Issue/Question

When configuring a macOS 10.13 minion, trying to use the `user.present` state causes exception `KeyError: u'user.info'`. Trying `user.info` on the command-line results on `'user.info' is not available.`

A search engine leads to https://docs.saltstack.com/en/latest/ref/modules/index.html#module-provider-override which suggests this could be a Salt bug.

### Setup

[2018-11-12 17:36] SimonSapin commented on #50477
This works around the issue:

[code]

[2018-11-12 18:06] gtmanfred commented on #41020
This should be fixed by additions made that will be in the fluorine release that allows the user to customize their thin tarball for salt-ssh.

@saltstack/team-triage just fyi.

[2018-11-12 18:51] SimonSapin commented on #50477
No (further) work-around was needed to use the `service.running` state.

[2018-11-12 19:01] SimonSapin commented on #50477
Later, I expect to deploy multiple macOS machines with identical configuration. Is there a way in the `roster` file to have a `minion_opts` section apply to multiple minions, rather than repeating it entirely for each minion?

[2018-11-12 20:44] twangboy commented on #50444
What version are you migrating from?

[2018-11-12 20:45] dwoz commented on #50444
@tjgruber Are you downloading the packages from https://repo.saltstack.com ?

[2018-11-12 20:50] mgzabriskie commented on #46626
I will second this. We are having this issue in 2016.11.9 and 2016.11.10. @Ch3LL 's suggested change is a valid workaround. I would love to see this get patched for real though.

[2018-11-12 21:32] terminalmage commented on #50151
Fixed in https://github.com/saltstack/salt/pull/50480.

[2018-11-12 22:21] terminalmage commented on #49586
@cavepopo The delay appears to be happening when salt-call connects to the master to set up a ZeroMQ connection that it will use to return the results back to the master.

Are you running a salt-minion daemon on the box from which you're trying to run salt-call?

[2018-11-12 23:37] tjgruber commented on #50444
I'm not migrating from anything. It's like this from a fresh install of Salt-Minion.

[2018-11-12 23:39] tjgruber commented on #50444
I haven't from there. I have used from https://docs.saltstack.com/en/latest/topics/installation/windows.html and https://chocolatey.org/packages/saltminion.

[2018-11-13 02:19] dwoz commented on #50433
@zerthimon thanks for reporting this. I was able to apply your state on a fresh install of salt and mysql. What is the output from `show grants for 'debian-sys-maint'@'localhost';`?

[2018-11-13 02:21] dwoz commented on #50454
@thefirstzven what is the output from `salt -V`?

[2018-11-13 03:31] craigafinch opened #50488 "What does state selinux.fcontext_policy_applied actually do?"
### Description of Issue/Question

I am using states `selinux.fcontext_policy_present` and `selinux.fcontext_policy_applied` to set a custom context for files. The purpose of `selinux.fcontext_policy_present` is clear; this state:

[code]

is equivalent to this command:

[code]

However, the documentation does not clearly explain what `selinux.fcontext_policy_applied` does.  I expected that this s

[2018-11-13 06:09] damianw2 commented on #48882
Very slow response on Win2016 from Azure. Must increase timeout to 120s, otherwise **Minion did not return. [No response]** error appears.

[2018-11-13 06:45] dwoz commented on #50459
@cdalvaro Thanks for reporting this. I have confirmed it is an issue in 2018.3.3. Can you please provide us with the output from `salt -V`?

[2018-11-13 06:57] cdalvaro commented on #50459
[code]

[2018-11-13 07:37] markuskramerIgitt commented on #48467
Hi @cruscio
This issue is about my own errors in building a pip cache.
I am surprised the official installer has this problem

I have no time to install a new client: please attach your c:\salt\var\log\salt\minion

[2018-11-13 07:51] dwoz commented on #50459
Looks like we can set the search path via pygit2. I added this above the `init_repository` call:
[code]
That seems to have resolved the issue.

[2018-11-13 08:31] dwoz commented on #50419
@flavio @SEJeff Do either of you have any input on this one?

[2018-11-13 08:32] dwoz commented on #50458
@core-team Does anyone have feedback to provide on this one?

[2018-11-13 08:41] cdalvaro commented on #50459
When you run `salt-master` as `root` but `user` is set to another user (e.g. `salt`) in the `master` config file, is the `HOME` env variable set to the correct one (e.g. `/home/salt`)?

Thank you for your time!

[2018-11-13 09:14] cruscio commented on #48467
Saved the error, but I didn't save the log. I'll see if I can reproduce it later and update this issue

[code]

[2018-11-13 11:28] damianw2 opened #50490 "False negative error when install .net sdk"
### Description of Issue/Question
When apply salt state file to install .net core sdk, package is intall properly but error output appear.

### Setup
**pkg file:**
----------

[code]

**state file:**
----------

[code]

**output:**
----------

[code]

### Steps to Reproduce Issue

### Versions Report
Salt Version:
           Salt: 2018.3.3

Dependency Versions:
           cffi: Not Installed

[2018-11-13 11:47] zerthimon commented on #50433
[code]
The user was created earlier with:

[code]

[2018-11-13 11:51] zerthimon commented on #50433
[code]

[2018-11-13 12:16] tomaxsas opened #50491 "custom grain cannot override grain in /etc/salt/grains"
### Description of Issue/Question
custom grains in _grains directory does not override grains in /etc/salt/grains
new grains are shown fine, but override doe not work as expected and written in docs, custom grains does not override /etc/salt/grains but it can override, for example, os grain.

### Setup
/etc/salt/grains content on minion:
`xs_configured_ip: ip`

/srv/salt/salt_env/_grains/test.py o

[2018-11-13 13:07] thefirstzven commented on #50454
Salt -V (salt master side)
Salt Version:
           Salt: 2018.3.2

Dependency Versions:
           cffi: 1.11.5
       cherrypy: unknown
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: 2.10
        libgit2: Not Installed
        libnacl: Not Installed
       M2Crypto: Not In

[2018-11-13 13:38] terminalmage commented on #49586
I've renamed this issue to reflect the actual problem.

[2018-11-13 13:51] rallytime commented on #50458
@saltstack/team-core

[2018-11-13 14:54] damon-atkins commented on #48882
I have an idea on how to fix it.   i.e. stop forking for find_job.
I looked into this on Linux, to see if I could reduce the forking.

In salt/minion.py
Try 1 was:
[code]
Could not get the above to work i.e. needs someone who knows this code better.

Try 2 was in _handle_decoded_payload
[code]
The above resulting in single fork instead of two linux.

Looking at the code Windows in general appears

[2018-11-13 15:04] Ch3LL commented on #50475
hmmm yeah i'm not seeing anything in your states that would tell them to continue onto the next state even though the first job is not complete.

`{'tgt_type': 'glob', 'jid': '20181112111531012172', 'tgt': 'minion001', 'ret': 'redis', 'user': 'sudo_vagrant', 'arg': ['minion.version_check', {'pillarenv': 'testenv', 'queue': False, 'saltenv': 'testenv', 'concurrent': False, '__kwarg__': True}], 'fun

[2018-11-13 15:20] Ch3LL commented on #50488
Since you are getting `SElinux policies are already applied for filespec` returned it looks like its calling the restorecon command here: https://github.com/saltstack/salt/blob/v2018.3.3/salt/modules/selinux.py#L555-L559 to check if its applied already. So your state isn't even getting to the portion of the code where it makes changes. If you run that restorecon command what is returned?

[2018-11-13 15:22] Ch3LL commented on #50490
ping @saltstack/team-windows any ideas here?

[2018-11-13 15:41] Ch3LL commented on #50491
looks like i'm able to replicate this and the last time it was working was 2016.11.9. My bisect showed this commit: 3b95ef2345048cf59f46065b30a274f6593db330

which is this PR: https://github.com/saltstack/salt/pull/41408

ping @s0undt3ch can you take a look here when you get a moment.

[2018-11-13 15:47] shahid3507 opened #50495 "Not able to run Salt minion on MacOS High Sierra and Mojave"
### Salt minions fails to start after installation on MacOS High Sierra (10.13) and Mojave (10.14)

### Console  output
command : sudo salt-minion -l debug

`[ERROR   ] '' does not appear to be an IPv4 or IPv6 address
Traceback (most recent call last):
  File "/usr/local/Cellar/salt/2018.3.2/libexec/lib/python2.7/site-packages/salt/utils/parsers.py", line 210, in parse_args
    process_option_func

[2018-11-13 16:22] s0undt3ch commented on #50491
We might need to review the sort rules, but they should be sorted.

[2018-11-13 16:28] importepeu opened #50497 "lvm.lvresize return True without doing anything"
### Description of Issue/Question
I would like to use execution modules lvm.lvresize and disk.resize2fs to extend an existing LV. When executed, logs tells that "No changes were made" and effectively, the LV was not modified at all. I wonder what I'm missing... Running the module directly in salt-call did the job.

### Setup
Here is the SLS file :

resizeLV_/dev/data2/postgres_admin:
  module.run:

[2018-11-13 16:41] pzskc383 commented on #49438
Just got to testing this and noticed that #48956 didn't fix this error for me.

That PR adds check for missing image name in `show_instance` method,:
https://github.com/saltstack/salt/blob/bad995462c1772d99b755272e1aab2c9ed88ec49/salt/cloud/clouds/openstack.py#L469-L472

while `list_nodes_full` left unchanged:
https://github.com/saltstack/salt/blob/bad995462c1772d99b755272e1aab2c9ed88ec49/salt/clo

[2018-11-13 16:42] Ch3LL commented on #50477
im having a hard time replicating this issue. When i run `user.info` against a 10.13 VM it runs just fine. Was this working previously?

Also i'm not seeing an options from the docs to apply the opts to multiple minions unless there is a different roster module that would allow that.

[2018-11-13 16:44] importepeu commented on #50497
Ok, It doesn't take too much time to find the problem. I have configured this in my minion
use_superseded:
  - module.run

This lead to change my formula like this to work :
[code]

[2018-11-13 16:44] #50497 closed

[2018-11-13 16:48] SimonSapin commented on #50477
(I’ve found https://docs.saltstack.com/en/latest/topics/ssh/roster.html#target-defaults where `roster_defaults` in the master config can apply `minion_opts` to all minions.)

No, this setup and this minion are new.

[2018-11-13 16:48] Ch3LL commented on #50495
@shahid3507 we did not see this during our high sierra package testing. can you elaborate on how you installed salt? Also as this a clean install or upgrade?

[2018-11-13 16:53] shahid3507 commented on #50495
@Ch3LL These are the steps that I followed for installation.
[code]
`export PATH="/usr/local/Cellar/saltstack/2017.7.4/libexec/bin/:$PATH" `
`pip2 install psutil`
`sudo curl -L `
`https://raw.githubusercontent.com/saltstack/salt/develop/pkg/darwin/com.saltstack.salt.minion.plist -o /Library/LaunchDaemons/com.saltstack.salt.minion.plist`
`sudo launchctl load -w /Library/LaunchDaemons/com.saltstack.

[2018-11-13 17:09] nkrishnakishor commented on #50464
@dwoz thanks for the reply. I’m trying to use them in windows minions, where they should be defined in windows.

[2018-11-13 19:00] dwoz commented on #50459
Yes, I tested this with the `user` setting in the master config. In my case I was running as user `admin` and the HOME environment variable is `/home/admin`.

[2018-11-13 19:10] nhavens commented on #46485
We're seeing this issue intermittently as well on our CentOS 7.5 boxes with salt 2018.3.3. Strangely, the same sls file will work on the majority of our minions, but fail on a different 2 or 3 with each scheduled state.apply. Every failure is caused by a pkg.installed that specifies an https source URL. The stack trace always includes tornado. As best I can tell, the issue began for us after upgra

[2018-11-13 20:04] ptitdoc opened #50501 "saltclass master_top module fails to populate __salt__ in some cases (salt-ssh + saltutil)"
### Description of Issue/Question
When using saltclass master_top module with a salt-ssh client, it fail to populate the __salt__ object and crash with the following message:
[ERROR   ] Top function saltclass failed with error 'dict object' has no attribute 'saltutil' for minion myminion

### Setup
In my classes, I use a macro that populates the pillar with some certificates found in the mine. The

[2018-11-13 20:50] eliasp commented on #31006
Related: https://github.com/saltstack/salt/issues/18406#issuecomment-146151604

[2018-11-13 23:02] ricelitao commented on #50163
It turns out the SALT.RETURNERS.HIGHSTATE_RETURN module doesn't support to display changes and errors only in the report result.

[2018-11-14 05:29] nkrishnakishor opened #50506 "pam authentication: Salt request timed out. The master is not responding."
### Description of Issue/Question
Unable to execute salt commands through pam authentication.
### Setup
[code]
### Steps to Reproduce Issue
`salt -a pam windows-minion test.ping`
[code]
### Versions Report
`$ salt --versions-report`
[code]

[2018-11-14 07:32] digitalformula commented on #46665
+1

[2018-11-14 08:04] mgomersbach commented on #50127
@averyfuentes9rs maybe this is not noticed because this already got merged, would you create a new bug?

[2018-11-14 09:12] dawidmalina commented on #50327
I have exactly the same issue:
[code]

[code]

I'm using transport `tcp` if this change something.

[2018-11-14 09:35] damon-atkins commented on #46665
The minion is polled to see if the job is running. But it does not return where it is up to. `state_events: True` is most likely the best way.  You can push event onto slack  or similar as well.

[2018-11-14 12:30] marek-obuchowicz commented on #50311
I've checked branch `2018.3` and it worked well for me.

[2018-11-14 13:38] #41455 closed

[2018-11-14 13:50] Mrten commented on #5876
again

[2018-11-14 13:50] Mrten commented on #5876
please don't stale approved issues

[2018-11-14 14:26] rongzeng54 opened #50507 "multiple salt-minion process starts on el6"
### Description of Issue/Question
In el6 environment without systemd, quickly start salt-minion will gain more than one salt-minion instance with same ID.
Then each command sent from the salt-master will run multiple times.
You can easily reproduce the problem by following the steps below.
[code]

### Setup
No

### Steps to Reproduce Issue
No

### Versions Report
[code]

[2018-11-14 14:37] #32578 closed

[2018-11-14 14:37] #41924 closed

[2018-11-14 14:41] cebe commented on #10723
old issue but still not implemented or documented as far as I see. Should stay open.

[2018-11-14 14:58] damon-atkins commented on #41975
.

[2018-11-14 15:36] #41926 closed

[2018-11-14 15:36] #41910 closed

[2018-11-14 15:36] #41712 closed

[2018-11-14 15:36] #41719 closed

[2018-11-14 15:36] #41725 closed

[2018-11-14 15:36] #38430 closed

[2018-11-14 15:36] #41724 closed

[2018-11-14 15:36] #30776 closed

[2018-11-14 15:36] #41747 closed

[2018-11-14 15:36] #41759 closed

[2018-11-14 15:36] #41765 closed

[2018-11-14 15:36] #41791 closed

[2018-11-14 15:36] #3551 closed

[2018-11-14 15:36] #41788 closed

[2018-11-14 15:36] #41761 closed

[2018-11-14 15:36] #41815 closed

[2018-11-14 15:36] #41849 closed

[2018-11-14 15:36] #41276 closed

[2018-11-14 15:36] #41623 closed

[2018-11-14 15:36] #41878 closed

[2018-11-14 15:37] #41645 closed

[2018-11-14 15:37] #41880 closed

[2018-11-14 15:37] #41875 closed

[2018-11-14 15:37] #41898 closed

[2018-11-14 15:37] #41897 closed

[2018-11-14 15:37] #41863 closed

[2018-11-14 15:37] #22146 closed

[2018-11-14 15:37] #41905 closed

[2018-11-14 15:58] #50311 closed

[2018-11-14 17:11] garethgreenaway commented on #50507
@rongzeng54 Thanks for the report.  I'm curious about a couple things on this particular issue.  First, how much time are you allowing between attempting to start up the Salt minion?  Based on the PIDs, it doesn't appear to be much time at all.  Second, what is the use case when you would expect to want to attempt multiple instances of the Salt minion that close together?

[2018-11-14 17:53] garethgreenaway commented on #50501
@saltstack/team-core Anyone more familiar with saltclass have any insight here?

[2018-11-14 17:58] rongzeng54 commented on #50507
Hi @garethgreenaway
It’s not my intention to start multiple salt-minion with same MINION-ID very quickly. Here is just an example.
The salt-minion received the task that update itself and restart itself, while other monitors on the server found the service is stopped then try to start it.

[2018-11-14 17:58] garethgreenaway commented on #50506
@nkrishnakishor Thanks for the report.  It appears the authentication piece right above your attempt to run the command is failing.  Are you able to run commands from the Salt master without using external authentication?

[2018-11-14 18:10] dmurphy18 commented on #38871
Keeping this around since issue for building on Amazon where mock cannot be run as privileged user

[2018-11-14 19:29] #48343 closed

[2018-11-14 20:00] rochen-joshua commented on #49147
Getting the same here in our setup, about 10 or so of our minions are getting this and filling up drive space rapidly.

[2018-11-14 20:01] rochen-joshua commented on #49147
FYI - We have about 300 or so minions, so it's not global, and reinstalling did not fix issue.

[2018-11-14 20:07] kiemlicz commented on #50352
Thank you for response, your approach definitely works (queuing the orchestration runs on the master).
Giving this use-case more thoughts (as what was presented here was actually too minified):
 - my multiple orchestration runs happen as a reaction to multiple events
 - orchestrations cannot happen concurrently (your solution helps me here)
But:
 - I'm fine with only one ochrestration run that wil

[2018-11-14 20:07] #50352 closed

[2018-11-14 20:10] paulcdejean opened #50517 "yaml|jinja renderer crashes"
The expected behavior is ansible like rendering, where the individual keys and values from yaml are passed through jinja2 processing.

What we get instead is a crash.

[code]

[2018-11-14 21:14] Ch3LL commented on #46626
unfortunately 2016.11 is a CVE security release only now so there are no longer any bug fixes being submitted to this branch. 2017.7 does seem to have this fix though which is a bug release fix currently.

[2018-11-14 21:14] Ch3LL commented on #46626
since this is resolved in 2017.7 i will go ahead and close here, but please let me know if its still not working in 2017.7

[2018-11-14 21:14] #46626 closed

[2018-11-14 21:28] ewenmcneill commented on #7532
I too am still interested in this feature.  There's a prototype implementation in https://gist.github.com/ppmathis/a78d9000a4ba90e7f6571ce06f6bc209 (see https://github.com/saltstack/salt/issues/7532#issuecomment-312466009) for the feature, written by @ppmathis.  Perhaps that could be turned into a pull request instead of just a gist, and then improved (or merged and then incrementally improved).

[2018-11-14 21:34] Ch3LL commented on #50477
nice find on the roster_defaults.

So the way that the loader tries to decide to load a module is right here: https://github.com/saltstack/salt/blob/v2018.3.3/salt/modules/mac_user.py#L42-L47 for mac_user.

so im not sure why its not loading for you. If you run the salt-ssh command with `-ltrace` it will show you the exact salt-call command its attempting to run on the mac. Then you can try to run

[2018-11-14 21:51] twangboy commented on #50490
@damianw2 There were a couple things wrong
- The `full_name` must match exactly what appears in the `add/remove programs`, including capitalization. Here are the two items side by side:
[code]
- This particular installer puts 2 different versions in different parts of the registry. In the 64 bit area the display version is `2.1.403`.  In the wow6432 area the version is `8.116.58436`. I noticed thi

[2018-11-14 21:51] #50490 closed

[2018-11-14 21:55] Ch3LL commented on #50495
do you see this error after attaching the minion to a master? Or on first startup?

Also i noticed in your steps you are doing the following: `export PATH="/usr/local/Cellar/saltstack/2017.7.4/libexec/bin/:$PATH" ` shouldn't that be 2018.3.2

[2018-11-14 22:35] mikeadamz commented on #50313
Yes. We’re using pygit2

Sent from my iPhone

[2018-11-14 22:47] roskens opened #50518 "ipset states need to persist ipsets across reboots."
### Description of Issue/Question

The iptables states have a save option to optionally run `iptables save > /etc/sysconfig/iptables` when changes are made. The ipset states should also behave similarly when `save: true` is added to the state.

Alternatively, the ipset state documentation could mention that ipset's are not persisted on reboot and you need to modify /etc/sysconfig/ipset-config and

[2018-11-14 22:56] #25094 closed

[2018-11-14 22:56] basepi commented on #16089
@saltstack/team-triage

[2018-11-14 22:57] basepi commented on #8639
@saltstack/team-triage

[2018-11-14 22:57] basepi commented on #10723
@saltstack/team-triage

[2018-11-14 22:58] basepi commented on #7532
@saltstack/team-triage

[2018-11-14 23:15] fake-name commented on #42106
It looks like the PR for this issue did get merged, so I'll close it.

[2018-11-14 23:15] #42106 closed

[2018-11-14 23:34] davidjb commented on #32978
Still an issue (reviving so stale bot doesn't close it)

[2018-11-15 00:42] twangboy commented on #50476
@nkrishnakishor I'm getting the same result as you are on a 2012R2 machine using `win_wua.install KB4056898`. You said that you were able to run it manually... was that via Windows update? Or by downloading the `.msu` file and running it?

Anyway, I've been looking at this for a while and there are a few things I'm finding.  Apparently, there are issues with some AV software that is incompatible w

[2018-11-15 01:31] digitalformula commented on #46665
Out of interest - how difficult would it be to add some sort of progress bar?  I understand that there are reasons why SaltStack doesn't do that now, and that's 100% fine, but if there was a command line switch that showed something as simple as "Running state 3/17", that would be *huge*.

`salt-call state.apply blender.install --progress`

My use case is the cloning of source from Github, which t

[2018-11-15 05:50] nkrishnakishor commented on #50506
@garethgreenaway thanks for the reply. I'm able to run the commands from salt master without using external authentication.

[2018-11-15 07:59] shahid3507 commented on #50495
@Ch3LL
I have changed the PATH to the existing one the system i.e.
`PATH="/usr/local/Cellar/salt/2018.3.2/libexec/bin/:$PATH"`

The problem which occurred is that there isn't a directory named `/etc/salt/` and on the lower versions of mac like 10.12 (Sierra) the directory was there.