[2020-05-12 16:12] biwhite commented on #42306
Hitting this now.  Package previously removed, but not purged.  However pkg.purged is returning 'All specified packages are already absent'
Minion 2019.2.0
Master 3000.2

[2020-05-12 16:25] erwindon commented on #57146
The man-page of `virt-what` does not specify the order in which the properties of a system are produced.
(in my version of virt-what:) in the output for a xen system, the first line is "xen", the second line is "xen-hvm", "xen-dom0" or "xen-domU" or there may not be a second line.
On my system, `virt-what` returns "virtualbox" and "kvm". So "kvm" is part of the response, but only as the second lin

[2020-05-12 16:29] silenius commented on #57223
I tried to modify the state a little bit for debuging:

[code]

[2020-05-12 16:32] erwindon commented on #56885
The code takes the last line of the `virt-what` output, so it only considers "aws".
See also #57146

[2020-05-12 18:04] sagetherage commented on #56654
closing as done in sodium if more work is to be done please comment and mention me, please

[2020-05-12 18:04] #56654 closed

[2020-05-12 18:12] natemellendorf commented on #53244
I just wanted to note that I just ran into this too.
Same error message, and the same fix.
Would love to see this merged in.

Running Python3.7 on 3000.2:

[code]

[2020-05-12 19:11] H20-17 opened #57227 "[BUG] In Windows Salt dies when started from the command line when no connection to Active Directory"
**Description**
For a computer probably already joined to active directory, salt will not start from the command line. Fortunately it still runs as a service.

**Setup**
No specific setup other than have the minion joined to active directory.

**Steps to Reproduce the behavior**

1. Make sure that the minion cannot talk to active directory. In my case the minion could still talk to  the salt maste

[2020-05-12 19:23] DmitryKuzmenko commented on #57224
@wb529kq could you please try to change your state to this one?
[code]
I've moved all keyword arguments to kwargs section and renamed `kwargs` to `kwarg`. This should work.

[2020-05-12 19:24] erwindon opened #57228 "[BUG] warning in SALT-API may become error in future"
**Description**
Starting with browser FireFox version 76, a warning is shown when the SALT-API is used from a web application.
With my translation from Dutch to English, the message is: "Cookie ‘session_id’ will soon be rejected because the attribute ‘sameSite’ is set to ‘none’ or to an invalid value, without the attribute ‘secure’. Read https://developer.mozilla.org/docs/Web/HTTP/Cookies for more

[2020-05-12 20:23] kiemlicz opened #57230 "[BUG] Startup states not executed"
**Description**
Salt-minion upon start doesn't execute startup states, no information in logs

**Setup**
Regular minion bootstrapped by salt bootstrap script, configured to run master-less

**Steps to Reproduce the behavior**
Install Salt Minion, add config:
[code]

**Expected behavior**
The `some.sls.of.yours` executed

**Versions Report**
<details><summary>salt --versions-report</summary>
(Provi

[2020-05-12 20:45] kiemlicz commented on #57230
I think this issue is invalid.
In case sls fails, there simply is no logs, that's why I couldn't trace it.
Closing this, since I need more thorough debug

[2020-05-12 20:45] #57230 closed

[2020-05-12 22:13] cmcmarrow commented on #56496
https://github.com/saltstack/salt/pull/56635/files

[2020-05-12 22:19] cmcmarrow commented on #56496
@OrangeDog https://github.com/saltstack/salt/pull/56635/files seem to have fix your error. I your pillar data on develop and got no error.

[2020-05-12 23:18] taranlu-houzz commented on #42550
I'm still having this issue on macOS.

**Versions Report**
Salt Version:
           Salt: 3000.1

Dependency Versions:
           cffi: 1.12.2
       cherrypy: unknown
       dateutil: 2.8.0
      docker-py: Not Installed
          gitdb: 2.0.6
      gitpython: 2.1.15
         Jinja2: 2.10.1
        libgit2: 1.0.0
       M2Crypto: 0.35.2
           Mako: 1.0.7
   msgpack-pure: Not Installed
 msgpa

[2020-05-12 23:57] cmcmarrow commented on #55304
Seems when we reload the cache data into salt the floats are not load it to the right precision. Just need to find the spot where the precision is lost.

0.19999999999999996

[2020-05-13 00:05] timothyhutz commented on #10237
I was curious why I can't use this feature on 3000.2 version this is the error I get....

 State 'keystore.managed' was not found in SLS 'confluent.kafka'
              Reason: 'keystore' __virtual__ returned False: Cannot load the keystore state module: keystore execution module not found

[2020-05-13 00:12] timothyhutz commented on #10237
State 'keystore.managed' was not found in SLS 'confluent.kafka''
Reason: 'keystore' virtual returned False: Cannot load the keystore state module: keystore execution module not found

[2020-05-13 00:13] timothyhutz commented on #10237
Why can I use this feature using salt 3000.2, here is the error I get

State 'keystore.managed' was not found in SLS 'confluent.kafka''
Reason: 'keystore' virtual returned False: Cannot load the keystore state module: keystore execution module not found

[2020-05-13 00:46] taranlu-houzz opened #57233 "[BUG] git.latest fails with permission error on macOS when using identity file and non-standard user"
**Description**
When using `git.latest` I get a permission error if using the `user` parameter combined with the `identity` parameter.

[code]

**Setup**
sls file that fails:
[code]

sls file that works (but clones/updates repo as root):
[code]
- `minion_user` is just a different user than root in this case
- `minion_home` is the above user's home directory

**Expected behavior**
The repo should b

[2020-05-13 03:31] LeoDemoniac commented on #57214
Thanks for your comment!

I solved this problem by add code into `xxx.yaml` , next line after the `import_json` .
code is:
[code]
use the filter to encode this content。
It seems like used for our task.

But for your test, you can use the `yaml` in `issue_yaml.sls` to write in your local `yaml` file.
Maybe can reproduce.

I don't know if the python version is related to this test.
My python version

[2020-05-13 05:12] wb529kq commented on #57224
Thank you :) /\

[2020-05-13 05:12] #57224 closed

[2020-05-13 05:32] mchugh19 commented on #10237
@timothyhutz like most salt states, the keystore state uses the keystore execution module to do the work, and that error tells you the keystore execution module is not able to be loaded. If you try, you will likely get an error about a missing dependency. For the keystore module it is the jks python library.
https://github.com/saltstack/salt/blob/a670b4ae72ec11f5485c216c54059e14223019b8/salt/modul

[2020-05-13 06:21] vnitinv commented on #56732
@alexey-zhukovin I tested on 3.6. It doesnt depend on which python is being used

[code]

[2020-05-13 06:45] AmiramMaimon commented on #57064
I change the log level to `debug`.

looking on the following line:

It seems that the sls run, but it didn't.
This is the `test.sls`:
[code]
and this is the `/etc/salt/minion.d/_schedule.conf`:
[code]

After reboot/service restart I search the `/root/` folder for the `test.sls` file with no success:
[code]

I expected it to work because:
[code]

[2020-05-13 08:12] DmitryKuzmenko commented on #57214
@LeoDemoniac sounds legit to me. Just one suggestion: use `tojson` instead of the deprecated `json_encode_dict`.
Can we close this issue now?

[2020-05-13 08:13] rvvliet commented on #57121
After another 2 days of trying i decided to switch to https://  for gitfs and ext_pillar, so far this works.
So far https:// is working for me.

I still do not know if this is a configuration error or salt/gitfs2/libssh2 error.
i no one else has this problem  feel free to close this.

Thanks for the support.

[2020-05-13 08:59] silenius commented on #57223
I found the issue.

With "runas"it has "run this as user X" logic which resets the euid and ruid. So it set the ruid and euid correctly, and the egid and group list, just not the rgid but the mismatched rgid is still enough to taint the process.

So it looks like the Salt process is tainted as rgid is not equal to egid and this causes $ORIGIN to be ignored. I think Salstack isn't correctly resetti

[2020-05-13 09:02] silenius commented on #57223
I found the issue.

With "runas"it has "run this as user X" logic which resets the euid and ruid. So it set the ruid and euid correctly, and the egid and group list, just not the rgid but the mismatched rgid is still enough to taint the process.

So it looks like the Salt process is tainted as rgid is not equal to egid and this causes $ORIGIN to be ignored. I think Salstack isn't correctly resetti

[2020-05-13 09:38] DmitryKuzmenko commented on #57204
@OrangeDog good catch. You're right, thank you.

[2020-05-13 09:54] root360-AndreasUlm commented on #50327
HI,

I got this issue too with salt version 2018.3.5 and 2019.2.4 in a python script that uses the salt-module to run some states.

After some debugging and testing I could reproduce this issue by running the following simple script:
[code]

When `wheel.cmd` is removed the script runs successfully and prints the version but when the wheel-call is initiated before `salt.client` the version command

[2020-05-13 10:23] LeoDemoniac commented on #57214
Yes, I see. Well, anyway. we solved this problem.
 Thanks.

[2020-05-13 10:23] #57214 closed

[2020-05-13 12:35] sushantkumr commented on #56247
Hey ! Any progress on this? We are facing the same issue.

[2020-05-13 13:03] mirceaulinic commented on #56007
Was there a plan to address this issue for past releases as well?

[2020-05-13 14:27] alan-cugler commented on #56247
In your two config experiments did you ensure the `#!yaml|aws_kms` was at the top of the file? I am just starting to get familiar with the issue.

[2020-05-13 14:32] alan-cugler commented on #56247
so this is the aws docs for their [command](https://docs.aws.amazon.com/cli/latest/reference/kms/generate-data-key.html), slowly connecting the dots to the pillar file.

[2020-05-13 15:09] alexey-zhukovin commented on #56732
I tried duplicate with `Python 3.5.2` , `Python 3.8.2 `
It works.

[code]

[2020-05-13 15:33] Laserwhit opened #57242 "Local salt-call path different than salt call from master"
### Description of Issue
Calling from salt-call locally succeeds while calling from master using salt 'specific_machine' fails because the paths/envs are different.  I apologize if this is expected behavior.  I was unable to find information on the web for this and I clearly did NOT EXPECT this so it is not expected behavior to me and seems new with version 3000.2.

### Setup
Centos 7 machine crea

[2020-05-13 15:46] DmitryKuzmenko commented on #50327
@root360-AndreasUlm thank you for analyze and example. I'm getting the same stack trace but without the IOLoop warning. Could you please also provide your `salt --versions-info`? Probably it depends on ZMQ/Tornado version.

[2020-05-13 15:52] root360-AndreasUlm commented on #50327
@DmitryKuzmenko

[code]

Das Paket stammt aus dem offiziellen Saltstack-Repo (gecachet via S3):
[code]

[2020-05-13 16:05] DmitryKuzmenko commented on #50327
@remyd1 I've reproduced it with `pyzmq==16.0.2`. This message disappears after upgrading to `pyzmq>=17.0.0`.

[2020-05-13 17:32] dwoz opened #57244 "[Test Failure] integration.modules.test_cmdmod"
[code]

[2020-05-13 17:32] xeacott commented on #57115
So my setup is a master on 3000.2 on ubuntu and my minion is running natively on my machine on version 3000.2 and im not seeing these same errors, but it could be my setup.

What happens if you run...
`salt windows_minion pillar.items` and
`salt windows_minion 'reg.set_value' ("HKLM",'SOFTWARE\\Salt\\test_key','test_property',vtype="REG_SZ",vdata='test_data_value')`

Also what version of Windows a

[2020-05-13 17:33] s0undt3ch opened #57245 "[Test Failure] integration.setup.test_bdist.BdistSetupTest.test_wheel_build"

[2020-05-13 17:34] s0undt3ch opened #57246 "[Test Failure] integration.setup.test_egg.EggSetupTest.test_egg_install"

[2020-05-13 17:35] s0undt3ch opened #57247 "[Test Failure] unit.setup.test_man.ManPagesTest.test_man_pages"

[2020-05-13 17:39] xeacott commented on #57115
I am able to set the key using _just_ the command and then lookup with a reg.read_value

[code]

[2020-05-13 17:44] xeacott opened #57248 "[Test Failure] integration.states.test_pip_state.PipStateTest"
Test failures from https://github.com/saltstack/salt/pull/57238

`TypeError: string indices must be integers`
and
`pip._vendor.distlib.DistlibException: Unable to locate finder for 'pip._vendor.distlib'`

[2020-05-13 17:58] cmcmarrow opened #57249 ""unit.utils.scheduler.test_skip.SchedulerSkipTest.test_skip" [Test Failure] TypeError: can't pickle _thread._local objects"
**Description**
unit.utils.scheduler.test_skip.SchedulerSkipTest.test_skip
 `TypeError: can't pickle _thread._local objects`

https://github.com/saltstack/salt/pull/57238

[2020-05-13 18:06] dwoz opened #57251 "[Test Failure] integration.modules.test_mine."
**Description**

[code]

[2020-05-13 18:39] whytewolf commented on #57242
This is the expected behavior.

The difference between the two is the environment they are started in which is where the path comes from.

[2020-05-13 19:02] Chupaka commented on #50327
Unfortunately, Ubuntu 18.04 has only python3-zmq 16.0.2-2build2 in its repos.

[2020-05-13 19:06] xeacott commented on #57248
This looks like the following is causing the issue...
[code]

Virtualenv is trying to install pip 8.0.1 but these issues appear to be resolved in pip 9.0.1+

[2020-05-13 19:33] DmitryKuzmenko commented on #50327
@Chupaka yes, I see this. I've put this to the pipeline, we'll discuss what's the better way to fix it.

[2020-05-13 19:46] DmitryKuzmenko commented on #57150
@srkunze it sounds like better to be discussed as a [SEP](https://github.com/saltstack/salt-enhancement-proposals).
Could you please create one for this?

[2020-05-13 19:52] cmcmarrow commented on #57249
@shane fixed it before I could

[2020-05-13 19:52] #57249 closed

[2020-05-13 19:53] #57027 closed

[2020-05-13 19:53] #57016 closed

[2020-05-13 19:57] twangboy opened #57253 "[BUG] scheduler unit tests are failing on Windows"
https://github.com/saltstack/salt/pull/57238

[2020-05-13 20:07] rjc opened #57255 "NOTICE file is both misleading and unnecessary"
**Description**
A `NOTICE` file has been included with this [commit](https://github.com/saltstack/salt/commit/1dd0e342b5af2501e761a4067e0ceab02f7a6616). As it stands, the text is misleading:

[code]

As it stands, the text is misleading as it attributes SaltStack's copyright to The Apache Software Foundation and calls the software `Apache SaltStack` - I check the ASF web pages and there's no sight

[2020-05-13 20:15] DmitryKuzmenko commented on #57170
@rj-dsl thank you report. Could you please clarify what is the `salt-versions` on your old master?

[2020-05-13 20:25] cmcmarrow opened #57256 "[Test Failure] tests.integration.shell.test_saltcli.RetcodeTestCase"
**Description**
tests.integration.shell.test_saltcli.RetcodeTestCase

[2020-05-13 20:27] DmitryKuzmenko commented on #57242
@Laserwhit I agree with @whytewolf . This is expected. The difference you see is the difference between environments where master and salt-call is running. Try to figure out why your master's environment doesn't contain the `profile.d` scripts results. It's your os administration question, not salt.
If you're satisfied with this answers please close this. If not you're welcome with other questions

[2020-05-13 20:28] DmitryKuzmenko commented on #57233
Right now I have no chance to reproduce this on MacOS. The described configuration works good for me in Linux. Probably it's something specific for Mac. @tam-core could anyone try this?

[2020-05-13 20:40] DmitryKuzmenko commented on #57255
@rjc thank you for poining this out. I need to request other to answer.
That file is introduced by @cachedout here https://github.com/saltstack/salt/pull/49979 and it's approved by @thatch45.

[2020-05-13 20:59] taranlu-houzz commented on #57233
I've just found that it actually isn't an issue with the machine running both the master and a minion, it seems to be some other identity/ssh/permission issue. I disabled the ssh config and other old keys on a different machine running a minion and also cleared out the stored keys using `ssh-add -D` and now it is exhibiting the same behavior.

[2020-05-13 21:04] myii commented on #55029
@roaldnefs Could you re-open this issue?  It's now affecting all builds of the `master` branch using the `salt-bootstrap`:

* https://travis-ci.com/github/netmanagers/salt-image-builder/builds/165825747

[2020-05-13 22:32] DmitryKuzmenko commented on #57223
@silenius thank you for reporting and analyzing the issue. It's not a recipe just one more thing to clear up: as I see from the code there are different paths with or without the `group` argument set. Could with the `group` Salt uses `sudo` with a common interface for different platforms (I'm interested in linux vs bsd here). Without it uses native specifics of `su` commands.
Could you please try

[2020-05-13 22:50] DmitryKuzmenko commented on #57196
@pankajghadge thank you for report. Any details about your configuration related to etcd?

[2020-05-13 22:57] DmitryKuzmenko commented on #57194
Thank you @OrangeDog !
@darkpaw could you please confirm and close the issue?

[2020-05-13 23:00] #57248 closed

[2020-05-13 23:01] #57253 closed

[2020-05-13 23:12] DmitryKuzmenko commented on #57189
@smarsching thank you for report and analyze. The comment about the `e` flag makes sense and your PR looks good for me.

[2020-05-13 23:20] Laserwhit commented on #57242
Ok, something seems to have changed then in the new 3000.2 version that is preventing env vars from getting setup in the call from master.  But still if this is not an issue I will close :-)  (If I can narrow the issue further compared to previous versions I will open a new ticket specific to that.)

[2020-05-13 23:20] #57242 closed

[2020-05-13 23:31] taranlu-houzz commented on #57233
So, I just ran this command on the machine running the minion that exhibits this behavior as mentioned above: `sudo salt-call -l debug state.single git.latest "git@github.com:<repo>.git" target="<path>/test" identity="salt://data/ssh/<key>" user="<user>"` which gives me this output:
[code]

[2020-05-13 23:54] DmitryKuzmenko commented on #57182
@natemellendorf great job! Fill free to create a PR you'll see the CI tests results on your changes. It could be a draft PR so we'll see it's in progress.

[2020-05-14 00:18] DmitryKuzmenko commented on #57174
@erwindon could you please clarify your case for me. I've configured a beacon like this:
[code]
And I'm seeing this events in master log:
[code]
So for each event we can't determine the interface from the event id. But we see it in `event['interface']` field. Do you want to be able to filter these events by event id? Say `salt/beacon/<minion_id>/network_info/wlp4s0`?

[2020-05-14 00:20] DmitryKuzmenko commented on #57173
@twangboy @dmurphy18 could you please follow this up?

[2020-05-14 00:53] DmitryKuzmenko commented on #57146
@erwindon thank for the report and analyze.
I agree with you and your bug points to the same part of the code as #56885
I propose to close this one in favor of the earlier bug #56885
BTW your comment makes sense. Accordingly to the documentation virt-what just prints facts that it could determine. There's no guarantees about the order so we don't have to take the last one but should lookup interes

[2020-05-14 00:53] #57146 closed

[2020-05-14 00:54] DmitryKuzmenko commented on #56885
For future note: please see #57146 it has good comments from @erwindon .

[2020-05-14 00:56] mymindstorm opened #57258 "[FEATURE REQUEST] COPR support in pkgrepo"
**Describe the solution you'd like**
An option for pkgrepo that can mange COPR repos on RedHat based systems. E.g.

[code]

It would be a lot nicer to be able to just specify the repo in pkgrepo.managed instead of manually doing things.

**Describe alternatives you've considered**
- Manually downloading the repo file from COPR
- Running `dnf/yum copr enable <repo>`

**Additional context**
Salt alr

[2020-05-14 01:00] DmitryKuzmenko commented on #57145
Yes it's a duplicate. You both have an ASCII system encoding this is the reason Salt can't properly show unicode characters. This is not meaning you should to feel this pain. We have to work it around.
Thank you for report. this report is already linked with #55931 so I'm closing this as a duplicate.

[2020-05-14 01:00] #57145 closed

[2020-05-14 01:08] #57244 closed

[2020-05-14 01:25] DmitryKuzmenko commented on #57242
@Laserwhit you're welcome! Feel free to reopen this one or open a new one.

[2020-05-14 03:29] H20-17 commented on #57115
@xeacott, I upgraded my test minion to 3000.2 and I'm still experiencing the issue. My windows version is 10.0.18363.

The command:
[code]
runs without issue. And so does
[code]
You said

Right. I understand. That all works. It's only failing when I'm trying to read dunder dictionaries inside an external module when the module is executed by a pillar scheduled event (i don't know about other sched

[2020-05-14 03:45] xeacott commented on #57115
Yes you are correct sir @H20-17 I just wanted to make sure the basics worked as I do not have much experience with the module itself, as well as asking about your version of Windows; sometimes we run into issues that are present on certain versions of windows vs. others. 😄

[2020-05-14 04:54] dwoz opened #57261 "[Test Failure] integration.modules.test_system.SystemModuleTest"
[code]

[2020-05-14 04:57] #57245 closed

[2020-05-14 04:57] #57246 closed

[2020-05-14 04:58] #57247 closed

[2020-05-14 05:40] roaldnefs commented on #55029
I've reopened the issue as it is now affecting builds of the `master` branch using the `salt-bootstrap`.

[2020-05-14 05:48] myii commented on #55029
@roaldnefs And it looks like it's been fixed by the latest commits that were merged since then!  I got some advice from one of the devs about a commit that might resolve the issue.  As I was adjusting the bootstrap to use another source for building Salt, I found that the original failures were now passing.

[2020-05-14 05:56] roaldnefs commented on #55029
@myii, thanks for the feedback. Closing this issue again.

[2020-05-14 05:56] #55029 closed

[2020-05-14 07:34] cachedout commented on #57255
I agree that this this is misleading and should be amended or removed.

[2020-05-14 07:44] darkpaw commented on #57194
I'm not sure that #56031 would have fixed this as I didn't see that import error, but I will close and retest another time.

[2020-05-14 07:44] #57194 closed

[2020-05-14 07:48] omegarus commented on #56389
This issue is not allowing us to use engines on 2019.2.4 salt, also it's very hard to debug any master related issues without `salt-run state.event`.
Everything worked fine on 2018.3.4.
Any suggestions how we can workaround this issue ?

[2020-05-14 07:53] erwindon commented on #57174
@DmitryKuzmenko
The beacon messages may be handled by a generic message processor. For display, or to keep the 'latest' state.
In a generic message processor you do not want to have the knowledge of the beacon message structure, specifically about which field is a "key" field for each beacon type. The uniform way is to append that knowledge to the beacon tag as already done by several beacon provi

[2020-05-14 08:23] afischer-opentext-com opened #57264 "[BUG] Minion process did not stop properly on PKI failure"
**Description**

One of our salt minions ran into the following issue today.
[code]

Given the setup of that salt setup, the situation may be expected and a restart would fix the failure.

The issue now is that the python process did not completely exit. A test.ping to the minion no more worked, however, the scsm.exe
and the python process continued to execute, leading to the situation that a conf

[2020-05-14 08:24] mark-hyde commented on #57127
Hi Wayne,

Not sure I have the skills TBH, I'm OK at tweaking things but less so at anything more complex - Especially have no clue about how to even start on writing the associated tests since it seems this is a requirement now (And there don't appear to be any tests for this part of the code already which I could tweak appropriately)

I'd consider this a 'regression bug' rather than a feature re

[2020-05-14 08:26] silenius commented on #57223
Hello @DmitryKuzmenko it works if I'm adding a `- group: geoserver` argument. Sorry I didn't know that it was supported in the state as it isn't mentionned in the documentation **(1)** (only `- runas:` is specified).

**(1)** https://docs.saltstack.com/en/latest/ref/states/all/salt.states.cmd.html#salt.states.cmd.run

[2020-05-14 08:34] pankajghadge commented on #57196
@DmitryKuzmenko I think this issue is not related to etcd service.
When I run this command it give above error randomly it will not always fail but after 2-3 run it will surly fail.

`salt 'target' test.ping --return etcd -l trace`

When I run the same command directly from minion, it always work

`salt-call test.ping --return etcd -l trace`

By the way what etcd Configuration do you need? Specify

[2020-05-14 09:36] #57251 closed

[2020-05-14 10:17] rj-dsl commented on #57170
Old master salt --versions-report :
[code]

[2020-05-14 10:18] richardsimko commented on #54449
@max-arnold That seems to be specifically linked to Pip, looking at the PR which is later referenced as a fix (#56867) this only changed so that Pip triggers a reload, however even when installing using `pkg.installed` the Docker state fails.

[2020-05-14 11:11] plinkable opened #57266 "[BUG] Unable to refresh pillar on Windows minion with M2Crypto installed"
**Description**
We first noticed this problem after upgrading to 2019.2.4 from 2018.3.4, but highstate would fail every time with an error. Quick diagnostics and it was traced to pillar, as test.ping would work fine. It would also work if we removed M2Crypto, as the affected line wasn't being called.

**Setup**
Install 2019.2.4 from saltstack repo. Manually pip install the wheel package for M2Cryp

[2020-05-14 11:19] s0undt3ch opened #57267 "[Test Failure] integration.shell.test_auth.GroupAuthTest.test_pam_auth_valid_group"
integration.shell.test_auth.GroupAuthTest.test_pam_auth_valid_group

[2020-05-14 11:56] s0undt3ch opened #57268 "[Test Failure] integration.shell.test_key.KeyTest.test_remove_key_eauth"
integration.shell.test_key.KeyTest.test_remove_key_eauth

Fixed in https://github.com/saltstack/salt/pull/57149

[2020-05-14 11:58] s0undt3ch opened #57269 "[Test Failure] integration.shell.test_key.KeyTest.test_list_acc_eauth"
integration.shell.test_key.KeyTest.test_list_acc_eauth

Fixed in https://github.com/saltstack/salt/pull/57149

[2020-05-14 12:35] DmitryKuzmenko commented on #57267
There's some specific for darwin failure. I'll create a PR.

[2020-05-14 12:53] DmitryKuzmenko opened #57272 "[Test Failure] integration.shell.test_auth.UserAuthTest.test_pam_auth_valid_user"
Test is failing on MacOS `integration.shell.test_auth.UserAuthTest.test_pam_auth_valid_user`:
[code]
Fix: https://github.com/saltstack/salt/pull/57271

[2020-05-14 14:24] V3XATI0N opened #57274 "[BUG] Passing pillar data to states from state.orchestrate is broken"
**Description**
Minions don't pick up pillar data passed to states from state.orchestrate calls

**Setup**
1. Set up a state that requires some custom nested pillar data:
[code]

2. Call this state from the orchestrate runner:
[code]

**Steps to Reproduce the behavior**
run `salt-run state.orch orch.test` on the salt-master

**Expected behavior**
targeted minion prints `hello world`

**Actual beha

[2020-05-14 14:38] oeuftete commented on #54378
Related: #57223

[2020-05-14 14:39] oeuftete commented on #54378
Also ZD-5097.

[2020-05-14 14:51] q1x opened #57275 "[BUG] salt.states.virt.pool_running doesn't accept start as parameter"
**Description**
Docstring for `salt.states.virt.pool_running` mentions `start` as a parameter, but it is not defined as a parameter in the function.

**Setup**
`test.sls`:
[code]
**Steps to Reproduce the behavior**
Running a `state.apply` of the above `test.sls` state results in the following error:

[code]

**Expected behavior**
State should accept `start` as a valid parameter as indicated in doc

[2020-05-14 14:54] s0undt3ch opened #57276 "[Test Failure] integration.runners.test_state.StateRunnerTest.test_orchestrate_target_does_not_exist"
integration.runners.test_state.StateRunnerTest.test_orchestrate_target_does_not_exist

[2020-05-14 14:55] DmitryKuzmenko commented on #57255
@rjc will you create a PR for this?

[2020-05-14 14:55] DmitryKuzmenko commented on #57255
@cachedout thank you for explining.

[2020-05-14 15:08] s0undt3ch opened #57278 "[Test Failure] integration.runners.test_runner_returns.RunnerReturnsTest.test_runner_returns_enabled"
integration.runners.test_runner_returns.RunnerReturnsTest.test_runner_returns_enabled

[2020-05-14 15:32] Salvi99 opened #57280 "iteritems() not supported in pythhon3.6 in process_minion_data.py"
### Description of Issue
after changing logging level to garbage. Python trace shows up in logs.
[code]

iteritems() is not supported in python36

### Setup

### Steps to Reproduce Issue
in  /srv/salt/master:
[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)
[code]

[2020-05-14 15:34] conmarti commented on #56715
I have (probably) the same issue, but it's reproducible using a much more simpler testcase.
[code]
Running state "test" from master is fine. Running state test from minion runs fine, but salt-call does not return. Running individual state_id's from minion runs fine for "test1" and "test3", but not for "test2". So it's somehow related on retrieving extra "files" from master, which causes this issue

[2020-05-14 15:38] DmitryKuzmenko commented on #57174
@erwindon thank you for explanation! It's a good idea!

[2020-05-14 15:47] Skeen commented on #28503
I think I'm hitting this on `salt-ssh 3000.2`.

Running `salt-ssh target pillar.items` yields:
[code]
However, running `salt-ssh salt-master-test docker.login hub` yields:
[code]
Entering the server, and modifying `/var/tmp/.root_cb71e2_salt/pyall/salt/modules/dockermod.py`, to print `pillar.items` just before returning said error:
[code]
Yields the following output on the next run of `salt-ssh sa

[2020-05-14 15:54] DmitryKuzmenko commented on #57223
@oeuftete thank you for mentioning that.
@silenius we definitely have to update docs. Thank you for report.
I'm not closing this as duplicate because there're differences between BSD and Linux code. So we want to be sure both issues will gone.

[2020-05-14 15:57] DmitryKuzmenko commented on #57223
Also that issue claims the only documentation change. But I think we have to investigate this behavior at all.

[2020-05-14 15:59] erwindon commented on #57174
@DmitryKuzmenko the next thing would be to make the "event" type beacons identifiable as such. to distinguish them from "status" type beacons. for "event" beacons, every instance may be important. for "status" beacons, typically only the latest one is important. the standard ones are `btmp`, `wtmp` and `watchdog` (note: the `watchdog` beacon uses its own package name to add to the tag, barely usef

[2020-05-14 16:20] DmitryKuzmenko commented on #57196
@pankajghadge thank you for additional details.
About etcd: I wan't to understand what do you have in your configuration related to etcd. Do you use the only etcd returner? Do you use etcd pillars or cache? If you could provide related sanitized configuration it would be helpful.

[2020-05-14 16:58] oeuftete commented on #54378
To be clear, there is more than just a documentation issue here.  There is a documentation issue for sure, the `group` argument is not documented.  But I'm going to take the doc tags off, since I think that's creating confusion about the larger issue.  @sagetherage please correct me if I'm overstepping on that.

The pre-2019 behaviour with just `runas: someuser` appears to have implied also runnin

[2020-05-14 17:07] dsanader commented on #47870
The small patch in PR https://github.com/saltstack/salt/pull/54900 fixed a similar issue for us.

[2020-05-14 17:34] whytewolf opened #57284 "[BUG] Traceback in minion log repeated for every master connect attempt when master is not valid"
**Description**
The minion when an improper or invalid hostname is put into the master set of the minion will cause a minion to spin wildly and log a traceback at an incredibly fast speed. This also pins the CPU at 100% as the minion is in a tight loop trying to connect. This can cause the minion to also fill the drive with logs in a very fast manner. Which if not caught can bring down a minion wi

[2020-05-14 18:18] #57267 closed

[2020-05-14 18:18] #57272 closed

[2020-05-14 18:19] #57278 closed

[2020-05-14 18:20] #57276 closed

[2020-05-14 18:48] OrangeDog commented on #57194
I put together this patch for 3000.x on py38. It seems to be working.
https://gist.github.com/OrangeDog/b3c6a0a577ebcaa90d578941e198ac87

[2020-05-14 19:12] MadillJ opened #57285 "[BUG] win_iis state module not redacting passwords"
**Description**
I am using the `win_iis.container_setting` function to set the identity for app pools and noticed that the output when changed is including the password in plain text.

**Setup**
[code]

I'm not sure if it matters, but in my case the password in the pillar file is encrypted using gpg.

**Steps to Reproduce the behavior**
Ensure app pool either does not exist, or is using a differen

[2020-05-14 19:35] #57261 closed

[2020-05-14 20:04] sagetherage commented on #57284
similar issue https://github.com/saltstack/salt/issues/55631 to rotate log files, but not a duplicate

[2020-05-14 20:23] twangboy opened #57289 "[BUG] test_user_present_existing failing on master"

[2020-05-14 21:52] Akm0d opened #57292 "[Test Failure] integration.modules.test_git.GitModuleTest.test_rebase"
Failing Test:  integration.modules.test_git.GitModuleTest.test_rebase

Error Message

'' != 'First, rewinding head to replay your work[43 chars] foo' + First, rewinding head to replay your work on top of it... + Applying: Added a line to foo

Stacktrace

Traceback (most recent call last):
  File "/tmp/kitchen/testing/tests/integration/modules/test_git.py", line 709, in test_rebase
    self.assertE

[2020-05-14 23:12] dwoz opened #57293 "[Test Failure] integration.states.test_pip_state"
[code]

[2020-05-14 23:33] #57268 closed

[2020-05-14 23:33] #57269 closed

[2020-05-15 00:33] dwoz commented on #57293
[code]
Fixed by #57149

[2020-05-15 00:36] dwoz opened #57294 "[BUG] integration.master tests not running"
**Description**

The tests under `tests/integration/master/*` are not running on fast or full test runs. They will run when passing them directly with `-n` to runtests.py

[2020-05-15 01:12] damon-atkins commented on #51621
@sagetherage Thanks.   The work around I use is to change the salt master is change several settings that effect find_job, how often it runs and its timeouts to give find_job() time to finish. However the impact is even slower response compare with Linux however its stable response.

@cmcmarrow For someone new looking at using Salt for Windows getting `Minion did not return. [No response]` , is en

[2020-05-15 01:24] damon-atkins commented on #48964
I suspect this is a duplicate or part of the problem.  #51621 `Master calling find_job every 10 seconds, Windows takes 10 seconds to execute it` depending on how schedule works.

[2020-05-15 03:40] darkpaw commented on #57194
Thanks @OrangeDog I just tried master from source and that is fine, not sure if that's ahead or behind 3000.2 but grains/core/py does have your chicken and egg imports section from the patch.

[2020-05-15 04:53] sticky-note commented on #56231
Just for reference -> https://github.com/saltstack/salt/issues/44848

[2020-05-15 05:03] Akm0d opened #57297 "[TEST FAILURE] integration.modules.test_linux_service.ServiceModuleTest"
integration.modules.test_linux_service.ServiceModuleTest.test_service_disable
[code]
integration.modules.test_linux_service.ServiceModuleTest.test_service_enable
[code]

[2020-05-15 05:52] pankajghadge commented on #57196
@DmitryKuzmenko
We only have following configuration in master /etc/salt/master.d/etcd-cache.conf
we don't use etcd pillars, also there is nothing like etcd returner

`cache: etcd

etcd.host: remote_host
etcd.port: 2379
etcd.protocol: http
etcd.allow_reconnect: True
etcd.allow_redirect: False
etcd.read_timeout: 60
etcd.username: etcd_name
etcd.password: etcd_password
etcd.cert: None
etcd.ca_cert:

[2020-05-15 06:35] #57292 closed

[2020-05-15 06:36] #57293 closed

[2020-05-15 07:10] dwoz opened #57298 "[Test Failure] integration.runners.test_jobs"
[code]

[2020-05-15 07:44] plinkable commented on #57266
Ping @dwoz as requested (originally)

[2020-05-15 08:12] pretorianec-ua commented on #57057
Also mentioned (published) even on January 2020 ... - CVE-2019-17361
(https://access.redhat.com/security/cve/cve-2019-17361)

![image](https://user-images.githubusercontent.com/65391928/82027499-01a76180-969d-11ea-86ef-0effcd669cf7.png)

[2020-05-15 08:36] russtanevich commented on #54019
@kussatom
Hi
Do you remember what happened in your case? :)
I use
[code]
master config:
[code]

But I see nothing in the `/srv`
and debug logs
[code]
Thank you in advance!

[2020-05-15 09:15] OrangeDog commented on #57194
@darkpaw master is way ahead, so keep an eye out for other bugs that have slipped into it.

[2020-05-15 09:22] Skeen commented on #28503
I have made a minimal example producing the issue here: https://github.com/Skeen/missing_pillar_minimal_example

[2020-05-15 10:09] cachedout commented on #57057
@pretorianec-ua That is a different issue than the one being discussed in this thread.

[2020-05-15 10:32] SDedik opened #57300 "[BUG] file.directory clean doesn't work on Windows"
**Description**
file.directory module report that "The directory is in the correct state" and doesn't remove files from it.

**Setup**
Consider following directory `tree C:\my /F`
[code]
and following state file `test.sls`
[code]

**Expected behavior**
Expected behavior is that `file.txt` should be removed from the directory as it is not required anywhere in the `test.sls` and `test.sls` itself do

[2020-05-15 10:47] OrangeDog commented on #57280
`/srv/runners/process_minion_data.py` would be code you've written. There's no such file in the saltstack codebase.

[2020-05-15 10:52] OrangeDog opened #57301 "[BUG] pkg.upgrade ignored test mode"
**Description**
I wanted to check what `pkg.upgrade` would do, so I ran it with `test=true`. However, it actually did the upgrade.

**Steps to Reproduce the behavior**
Have some apt packages pending upgrade, and run ```sudo salt '*' pkg.upgrade test=true```

**Expected behavior**
No changes should be made.

**Versions Report**
N.B. this is the version now, after running the upgrade.
<details><summ

[2020-05-15 11:52] bsoldhogg opened #57302 "Pillar Merging Option in git_pillar [FEATURE REQUEST]"
**Is your feature request related to a problem? Please describe.**
If a minion doesn't have `pillarenv` set, they qualify for everything defined in every git remote when using wildcards or grain targeting. I want to avoid using nodegroups as that would be another thing to maintain.

**Describe the solution you'd like**
I would like a similar approach to `PILLAR_SOURCE_MERGING_STRATEGY: None` avail

[2020-05-15 12:56] oeuftete opened #57304 "[BUG] svn.latest with `user` checks out file with `root` group"
**Description**

When using [`svn.latest`](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.svn.html#salt.states.svn.latest) with the `user` kwarg, the files are checked out with a group of `root`.

**Setup**

[code]

**Steps to Reproduce the behavior**

Apply the state above.

**Expected behavior**

Files owned by `foo:foo`.

**Screenshots**

[code]

[code]

**Versions Report**

<d

[2020-05-15 12:58] oeuftete commented on #57304
Workaround:

[code]

[2020-05-15 12:58] oeuftete commented on #57304
ZD-5096

[2020-05-15 13:39] conmarti commented on #56715
I've investigated further and it seems like this behavior is related to PyZMQ. Version 18.0.2 is working fine and Version 18.1.0 and newer shows the weird behavior. At the end I tracked it down to the follwing commit https://github.com/zeromq/pyzmq/commit/bee745b3e4e5562651c68b0768eda43b4996ba7b

[2020-05-15 14:23] peter-slovak commented on #55656
We're running into the same problem. Although getting `minion_id` from `__opts__` should be a safe fallback from `grains['id']`, the reality is that `__opts__['minion_id']` actually contains a different minion's name.

That's why the `pcre_match` keeps working and `glob_match` broke down - the first one uses `opts['id']` (which in our case contains the correct minion name), the other one uses `__o

[2020-05-15 14:50] malletp commented on #57196
Hello @DmitryKuzmenko,

I work with Pankaj. We used etcd as backend for minion data cache to synchronize mine data between all master and syndics.
We got the message each time the salt command use the etcd client library.

[2020-05-15 15:02] s0undt3ch opened #57305 "[Test Failure] integration.runners.test_state.StateRunnerTest.test_orchestrate_target_does_not_exist"
integration.runners.test_state.StateRunnerTest.test_orchestrate_target_does_not_exist

[2020-05-15 15:11] DmitryKuzmenko opened #57308 "[Test Failure] integration.proxy.test_shell.ProxyCallerSimpleTestCase.* tests fail on proxy builds"
[code]

https://jenkinsci.saltstack.com/job/pr-centos7-py3-proxy-slow/job/master/13/

[2020-05-15 15:22] peter-slovak commented on #55656
FWIW, changing `minion_id = opts.get('minion_id', opts['id'])` to `minion_id = opts['id']` in `matchers/glob_match.py` works around the problem (bypassing the incorrect value in `opts['minion_id']`.

[2020-05-15 16:29] twangboy opened #57311 "[TEST FAILURE] unit.returners.test_local_cache.Local_CacheTest.test_clean_old_jobs failing on master"
https://jenkinsci.saltstack.com/job/pr-windows2016-py3-slow/job/master/13/testReport/junit/unit.returners.test_local_cache/Local_CacheTest/test_clean_old_jobs/

[2020-05-15 16:33] s0undt3ch opened #57312 "[Test Failure] integration.states.test_archive.ArchiveTest.test_local_archive_extracted_with_skip_files_list_verify"
integration.states.test_archive.ArchiveTest.test_local_archive_extracted_with_skip_files_list_verify

[2020-05-15 16:35] s0undt3ch opened #57313 "[Test Failure] integration.modules.test_linux_service.ServiceModuleTest.test_service_disable"
integration.modules.test_linux_service.ServiceModuleTest.test_service_disable

https://jenkinsci.saltstack.com/job/pr-archlts-py3-slow/job/master/15/
https://jenkinsci.saltstack.com/job/pr-fedora32-py3-slow/job/master/14/

[2020-05-15 16:35] s0undt3ch opened #57314 "[Test Failure] integration.modules.test_linux_service.ServiceModuleTest.test_service_enable"
integration.modules.test_linux_service.ServiceModuleTest.test_service_enable

https://jenkinsci.saltstack.com/job/pr-archlts-py3-slow/job/master/15/
https://jenkinsci.saltstack.com/job/pr-fedora32-py3-slow/job/master/14/

[2020-05-15 16:44] s0undt3ch commented on #57314
Duplicate of https://github.com/saltstack/salt/issues/57297

[2020-05-15 16:44] #57314 closed

[2020-05-15 16:44] s0undt3ch commented on #57313
Duplicate of https://github.com/saltstack/salt/issues/57297

[2020-05-15 16:44] #57313 closed

[2020-05-15 16:47] s0undt3ch opened #57315 "[Test Failure] integration.states.test_user.UserTest.test_user_present_usergroup_false"
integration.states.test_user.UserTest.test_user_present_usergroup_false

https://jenkinsci.saltstack.com/job/pr-macosxmojave-py3-slow/job/master/14/

[2020-05-15 16:48] s0undt3ch opened #57316 "[Test Failure] unit.setup.test_egg.EggSetupTest.test_egg_install"
unit.setup.test_egg.EggSetupTest.test_egg_install

https://jenkinsci.saltstack.com/job/pr-windows2016-py3-slow/job/master/14/

[2020-05-15 17:08] elsmorian opened #57317 "[BUG] Failure to start salt-minion after upgrade to Py3"
**Description**
Upgrading from 2019.2 py2 to the py3 version fails on Ubuntu 16.

**Setup**
Ubuntu 16 install, we had 2019.2.5 installed from the python 2 apt repo

**Steps to Reproduce the behavior**
- Uninstall salt-minion installed from the python 2 repo with `apt-get remove salt-minion`
- Run `apt-get autoremove` to clear any unused packages
- Change the repo to use http://repo.saltstack.com/p

[2020-05-15 17:11] #57289 closed

[2020-05-15 17:23] sagetherage commented on #56196
closing as merged for 3000.1 release

[2020-05-15 17:23] #56196 closed

[2020-05-15 17:32] sagetherage commented on #57211
Closing as incomplete, and incorrect request - my mistake

[2020-05-15 17:32] #57211 closed

[2020-05-15 17:33] #57305 closed

[2020-05-15 17:52] #57298 closed

[2020-05-15 17:54] jtraub91 opened #57318 "[BUG] junos.conn seems to go stale"
**Description**
Sometimes, proxy minions utilizing `junos.cli` will return without any newlines. This makes the output hard to read.

**Setup**
Configure and start a junos proxy minion. The bug _might_ be due to long open connections, so wait, if necessary.

**Steps to Reproduce the behavior**
Execute a cli command.

[code]

**Expected behavior**
Command should output with newlines. Ex:
[code]

**

[2020-05-15 19:01] Akm0d opened #57323 "[Test Failure] integration.runners.test_fileserver.FileserverTest.test_symlink_list"
**Description**
Slow test failure:
integration.runners.test_fileserver.FileserverTest.test_symlink_list
[code]

[2020-05-15 19:02] Akm0d opened #57324 "[Test Failure] integration.runners.test_jobs.JobsTest"
**Description**

Slow Test Failures
integration.runners.test_jobs.JobsTest.test_active
integration.runners.test_jobs.JobsTest.test_master
[code]

[code]

[2020-05-15 19:04] Akm0d opened #57325 "[Test Failure] integration.runners.test_state.StateRunnerTest.test_orchestrate_target_does_not_exist"
**Description**
Slow test failure integration.runners.test_state.StateRunnerTest.test_orchestrate_target_does_not_exist
[code]

[2020-05-15 19:05] Akm0d opened #57326 "[Test Failure] integration.states.test_archive.ArchiveTest.test_local_archive_extracted_with_skip_files_list_verify"
**Description**
slow test failure integration.states.test_archive.ArchiveTest.test_local_archive_extracted_with_skip_files_list_verify
[code]

[2020-05-15 19:35] pgporada opened #57327 "[BUG] Unable to use saltcheck with a map.jinja"
**Description**
[code]

**Setup**
[code]

The map.jinja contains
[code]

The whatever.tst file contains
[code]

**Expected behavior**
I should be able to use the `map.jinja` from a formula in a saltcheck test.

**Versions Report**
[code]
</details>

**Additional context**
Add any other context about the problem here.

[2020-05-15 19:55] DmitryKuzmenko commented on #57174
@erwindon looks reasonable for me.
@team-core I want someone else to take a look at these ideas.

[2020-05-15 19:57] jtraub91 commented on #57318
Proposing https://github.com/saltstack/salt/pull/57328 as a potential fix

[2020-05-15 21:36] OrangeDog commented on #57301
I've just realised test mode is only a state thing, and this was running a module function directly.

[2020-05-15 21:36] #57301 closed

[2020-05-15 21:37] #57324 closed

[2020-05-15 21:37] #57325 closed

[2020-05-15 21:53] #57316 closed

[2020-05-15 23:29] #57297 closed

[2020-05-16 00:03] DmitryKuzmenko commented on #57194
@OrangeDog thank you one more time! You're awesome.

[2020-05-16 03:14] dwoz opened #57331 "[Test Failure] integration.sdb.test_vault"
[code]

[2020-05-16 03:16] #57315 closed

[2020-05-16 04:41] #57331 closed

[2020-05-16 04:42] #57326 closed

[2020-05-16 07:52] dwoz opened #57333 "[Test Failure] unit.setup.test_install.InstallTest"
https://jenkinsci.saltstack.com/job/pr-amazon2-py3-slow/job/master/17/

[code]

[2020-05-16 08:17] #57333 closed

[2020-05-16 08:54] #57323 closed

[2020-05-16 09:21] erwindon commented on #57174
when applicable, I'm volunteering to create a PR for both code updates and [`doc/topics/beacons/index.rst`](https://docs.saltstack.com/en/latest/topics/beacons/) update.

[2020-05-16 10:14] dwoz commented on #54821
runas uses a low level windows api to launch programs. The problem here is that the 'echo' is not a program located in the path.. It's actually a built in command of cmd.exe. When trying to use built-ins you need to launch cmd.exe directly.

`salt minion cmd.run "cmd.exe /c echo hello" runas=Administrator`

We probably need to catch this error and return a more helpful message.

[2020-05-16 13:29] udf2457 opened #57336 "[BUG] "unless" not firing in 3000.3"
No matter the syntax I attempt, it seems that `unless` is being ignored and the state is being run.

I have tried:
[code]

and

[code]

and

[code]

But the result is always the same, the state gets fired:
[code]

[2020-05-17 02:53] darkpixel opened #57339 "[BUG] 2018.3.4 under python 3 - x509 fails, can't install m2crypto pycrypto / pycryptodome doesn't cut it"
Bug #35013 has not been resolved.

[code]

[2020-05-17 03:06] darkpixel commented on #57339
Just upgraded the minion from 2018.3.4 to 2019.2.5 and the issue persists.

[2020-05-17 03:46] darkpixel commented on #57339
Maybe I'm misunderstanding the comment on the other bug from 4 years ago that salt was moving away from m2crypto?

[2020-05-17 06:30] ari commented on #56332
This happens for me on every state and also highstate. FreeBSD 12.1. Salt 2019.2.5

[2020-05-17 12:54] h0jeZvgoxFepBQ2C commented on #55310
Ran into this as well.. Would be great to have this fixed soon.

[2020-05-17 15:46] LHozzan commented on #36556
This error I can see too.
[code]
Fix for me is install aditional package `python3-influxdb`. It seems, that states `influxdb_database.*` require this package. After installation this problem disappeared.
Maybe consider SaltStack team add this dependencies for linux distros.

[2020-05-17 16:06] LHozzan opened #57342 "[BUG] - influxdb_database.present failed on first run"
**Description**
When InfluxDB is fresh installed / configured, this state failed.
[code]

Next runs working correctly:
[code]

**Setup**
- Vagrant 2.2.9 (box 'generic/debian10' (v3.0.2))
- SaltStack 3000.3
- States:
[code]

**Steps to Reproduce the behavior**
- when first run on fresh box install, still failed
- next runs working correctly

**Expected behavior**
It seems, that InfluxDB is iniciali

[2020-05-17 16:36] darkpixel commented on #57339
The more I dig into the source, I guess x509 is still dependent on m2crypto and you have to go through all the horrible hoops to get it compiled and working.

[2020-05-17 16:36] #57339 closed

[2020-05-17 21:12] markuskramerIgitt commented on #51621
@damon-atkins how do you set how often  `find_job` runs, please?

I cannot find that setting.

Thank you

[2020-05-17 21:33] h0jeZvgoxFepBQ2C commented on #47383
Still happening to me in 3000.3?

[2020-05-17 22:51] h0jeZvgoxFepBQ2C commented on #53620
This also affects me, raising the error while parsing this:

[code]

[2020-05-18 02:35] s0undt3ch opened #57345 "[Test Failure] integration.runners.test_fileserver.FileserverTest.test_symlink_list"
integration.runners.test_fileserver.FileserverTest.test_symlink_list

https://jenkinsci.saltstack.com/job/pr-archlts-py3-slow/job/master/27/testReport/junit/integration.runners.test_fileserver/FileserverTest/test_symlink_list/

https://github.com/saltstack/salt/issues/46099

[2020-05-18 03:52] #46099 closed

[2020-05-18 03:52] #57345 closed

[2020-05-18 04:27] jude opened #57347 "[BUG] rpm_lowpkg.version_cmp() logs a warning asking to install rpmdevtools"
**Description**
rpm_lowpkg.version_cmp() logs a warning asking to install rpmdevtools which may end up surfacing dev tools in production.

**Setup**
- python3-based salt-master / salt-minion
- Centos 7.8 minion  (I suspect any Centos 7.x host may enough)
- the python3-rpm package is not installed
- the rpmdevtools package is not installed

**Steps to Reproduce the behavior**
- Apply a pkg.latest s

[2020-05-18 05:42] dwoz opened #57348 "[Test Failure] Test suite hangs"
**Description**

This test
[code]
Or the test after it is causing the suite to hang and stop running.

https://jenkinsci.saltstack.com/job/pr-ubuntu1804-py3-slow/job/master/27/
https://jenkinsci.saltstack.com/job/pr-opensuse15-py3-slow/job/master/19/

[2020-05-18 09:40] dkacar-oradian opened #57349 "[BUG] salt-cloud sends object of type bytes in an event which causes an error"
**Description**
I tried to watch Salt's event bus while creating a VM with `salt-cloud`. After seeing some events I got an error:
[code]
This shouldn't be happening.

**Setup**

I'm using VmWare provider. This is `salt-cloud` invocation:
[code]
The same thing happens if I use a profile with `-p` option.

On the salt master I'm watching events like this:
[code]

**Steps to Reproduce the behavior**

[2020-05-18 09:49] DmitryKuzmenko commented on #57174
@erwindon could you please put your comment https://github.com/saltstack/salt/issues/57174#issuecomment-628460030 to the issue text to not lose it.

[2020-05-18 11:06] dkacar-oradian opened #57351 "[BUG] salt-cloud doesn't honor filter_events when creating VMs in parallel"
**Description**
When multiple VMs are created in parallel for some of them `salt-cloud` in the `created` event does not send data specified in `filter_events` (from `salt-cloud` config file).

**Setup**
This is relevant part of my `/etc/salt/cloud` config file:

[code]

I'm observing salt events with this:

[code]
The loop shouldn't be necessary, but `salt-run` is frequently exiting with errors, a

[2020-05-18 11:18] k-hamza opened #57352 "Question about usage of globals() in execution module"
is the usage of `globals()` in execution module allowed ?

usallly when we have multiple state files, we begin with something like this
`{% set my_global_dict = salt['my_module.get_my_data']() %}`

`my_global_dict` contains every thing we need to set our states (like what we could have with map.jinja, but using execution module)

if `get_my_data` require some compute, call it at every sls file wil

[2020-05-18 13:52] b0r0 commented on #57170
I have same issue on CentOS 7.8.2003. Py3 3000.3 version of salt-master have problem with M2Crypto function check_key, m2.rsa_check_key(self.rsa) throw an exception. If I changed salt-master 3000.3 to Py2 based everything is working fine. The check_key function is validating RSA keys and check that p and q are in fact prime. My master keys were generated near 2013 so I think, that there is problem

[2020-05-18 14:17] dmurphy18 opened #57353 "[BUG] Proxy logs are not rotated"
**Description**
Salt Proxy logs are not getting rotated, and need an entry in salt-common.logrotate similar to master and minion

**Setup**
Native minion on Juniper, but applicable for any proxy minion usage.

**Steps to Reproduce the behavior**
Reported by Juniper when developing native minion with make use of proxy

**Expected behavior**
Expect proxy logs not to consume all space on a disk but r

[2020-05-18 15:31] dkacar-oradian commented on #57351
I've tested some more. I have 5 different VMs in a map file. They are all created from the same profile, but have different things specified per VM (IP address, additional disks and grains). All VMs except the `stest-proxy-01.xdc` (reported above) had the correct message reported to Slack, which means their events had the appropriate data.

The first visible difference between `stest-proxy-01.xdc`

[2020-05-18 15:31] elsmorian commented on #57317
After some great detective work by @max-arnold turns out even though I `apt-get auto remove` for some reason It left the old Python2 `salt-common` package in place and was then trying to use that with a Python3 salt-minion!

[2020-05-18 15:31] #57317 closed

[2020-05-18 16:39] darkpixel commented on #55214
Well...ran into another box with the issue.

[code]

[code]
There is no ipv6 connectivity at this location.
The salt minion has ipv6: false.  Same with the master.
/etc/gai.conf has IPv6 set as a lower precedence, and there isn't an IPv6 entry in DNS or in /etc/hosts.

[2020-05-18 17:43] rtaft commented on #56258
I'm still seeing this error in 3000.3

Salt Master is 3000.3
Salt Minion is 3000.3
Rabbitmq 3.8.3

[2020-05-18 17:50] sagetherage commented on #54349
closing this as we now know this is a Codecov issue

[2020-05-18 17:50] #54349 closed

[2020-05-18 17:57] whytewolf opened #57357 "[BUG] inconsistent exit code when batch is used vs when batch isn't used."
**Description**
The batch mode is changing the exit code to 0 when other issues happen that would normally result in other exit codes.

**Setup**
Log into a server and try to run a command against a server that doesn't exist. and output the exit code. Then try again with `--batch 1`

**Steps to Reproduce the behavior**
See above

[code]

The only difference between those two commands is the batch

[2020-05-18 17:59] whytewolf commented on #57357
zd-5107

[2020-05-18 19:11] waynew opened #57361 "Remove deprecated _fix_cask_namespace"
Used to swap `caskroom/cask` for `homebrew/cask`, but that was marked to be removed for Sodium

[2020-05-18 19:46] garethgreenaway commented on #57352
@k-hamza Thanks for the question.  There are a number of Salt modules that utilize `globals` so it's not disallowed in execution modules, `__context__` would be the preferred method of course as preserving information during a Salt execution across modules is what it was designed for.  The contents are only good for a single call however.  What are the circumstances where you're seeing the content

[2020-05-18 19:53] #54869 closed

[2020-05-18 20:03] waynew opened #57362 "Remove deprecated napalm_network features"
What it says on the tin

[2020-05-18 20:36] sagetherage commented on #57203
@barbaricyawps https://github.com/saltstack/salt-enhancement-proposals/pull/20

[2020-05-18 20:36] sagetherage commented on #57203
@eliasp we also accept PRs for review! Thank you for creating an issue.

[2020-05-18 20:54] waynew opened #57363 "Remove deprecated selinux.fcontext_add_or_delete_policy"

[2020-05-18 21:01] whytewolf commented on #57336
so the issue is `cmd.run` has it's own `mod_run_check`. This is more of a documentation bug then a code bug. See https://github.com/saltstack/salt/pull/51846#issuecomment-497913069 for a list of modules that use there own `mod_run_check`.

However your test of the file using bash is the one that is odd. here is my own test from 3000.3

[code]

as can be seen the fun.file_exists doesn't trigger the

[2020-05-18 21:15] cmcmarrow commented on #57266
This is an ugly bug. I have no been able to reproduce this but I can tell you what I have ruled out.

I installed 2018.3 and M2Crypto “from the url” then upgraded to v2019.2.4 and got no error.
I verified that line 303, `aes = key.private_decrypt(ret[‘key;])` runs

When I run pillar `key` is an `RSA` object. But the error reports key as an `RsaKey` Object.

One big hint I found was M2Crypto.RSA do

[2020-05-18 21:34] k-hamza commented on #57352
@garethgreenaway Thanks for your quick reply.

In the execution module, I make calls to internal Salt modules: `__salt__['state.show_top']()` and `__salt__['cp.cache_file'](path, saltenv)`
`__context__` is destroyed after each call of the execution module

So I made some simple tests, and without calling these Salt modules, `__context__` seemed to be preserved even across multiple calls

"Unfortun

[2020-05-18 21:37] garethgreenaway commented on #57300
@saltstack/team-windows Any ideas on this one?

[2020-05-18 21:42] garethgreenaway commented on #57347
@jude Thanks for the report.  This seems like it should be a simple fix as the change would just be in the log message.  Now that we're moving towards only supporting Python3 this should be a quick change to reference this package.

[2020-05-18 21:46] #57308 closed

[2020-05-18 21:56] twangboy commented on #57173
The current iterations of Salt do not support Windows Server 2003 / Windows XP. There have been changes to underlying dependencies that no longer support those systems. I doubt you could even get a minion to start without disabling many things in salt... some grains come to mind. I would imagine you would have to go back as far as 2015.8 versions of salt before you would find something that would

[2020-05-18 22:25] sagetherage commented on #56553
closing as fixed in 57141

[2020-05-18 22:25] #56553 closed

[2020-05-18 22:28] sagetherage commented on #55185
closing as fixed will be released in Sodium

[2020-05-18 22:28] #55185 closed

[2020-05-18 22:29] garethgreenaway commented on #57342
@LHozzan Thanks for the report.  When the information from the call to `service.running` returns it is indicating that the underlying service system. eg. systemd has started the service in question.  It is not an indication that the service is available.  What would help in this situation is a function that reports if InfluxDB is in a ready state.  I'm changing this from a bug to a feature request

[2020-05-18 22:39] waynew commented on #55611
pushing this (once again) to Magnesium

[2020-05-18 22:43] #57056 closed

[2020-05-18 22:45] garethgreenaway commented on #57327
@mchugh19 Any insights you could offer on this one?

[2020-05-18 22:47] plinkable commented on #57266
Quick search reveals this exists in pycryptodome. eg https://github.com/Legrandin/pycryptodome/blob/v3.8.1/lib/Crypto/PublicKey/RSA.py#L51

[2020-05-18 22:50] plinkable commented on #57266
For reference, these should be otherwise virgin Windows installs, using only content provided by that installer, plus M2Crypto, which is a hard dependency for the x509 state/module.

I can check again to make sure there's nothing left over from a previous version that shouldn't be there, eg in pycache, but I agree it shouldn't be happening in any case.

[2020-05-18 22:54] sagetherage commented on #55514
will be released in Sodium

[2020-05-18 23:02] dwoz commented on #56959
@hadiulla This will get fixed in Sodium. We're not planning on any more bugfix releases for Neon.

[2020-05-18 23:45] sagetherage commented on #51868
closing as fixed will be released in Sodium

[2020-05-18 23:45] #51868 closed

[2020-05-19 02:41] waynew opened #57366 "Deprecate pkgrepo.managed `refresh_db` parameter"

[2020-05-19 02:46] waynew opened #57367 "Remove deprecated utils.locales.sdecode(_if_string)"
two functions were deprecated, must be removed.

[2020-05-19 02:53] waynew opened #57368 "Remove assorted internal functionalities"
- salt.utils.context.NamespacedDictWrapper
- salt.utils.minions `show_ipv4` parameter removed
- salt.utils.smb.get_conn - no longer supports `impacket`, use smbprotocol instead
- salt.utils.cloud dropped `winexe` support - use pypsexec instead
- salt.transport.zeromq.AsyncZeroMQReqChannel, .AsyncReqMessageClientPool, and .AsyncReqMessageClient  .destroy methods removed. Use .close instead
- salt.t

[2020-05-19 04:47] prometheanfire commented on #53504
`{%- if ( 'module.run' in salt['config.get']('use_superseded', default=[]) ) or ( grains.saltversioninfo[0] >= 3001 ) %}` seems will be needed unless both versions can be supported at the same time.  I think, right now, the main thing that's needed is a particular version the cut over will happen and migration path for any consumers of the module.

[2020-05-19 06:11] mchugh19 commented on #57327
@garethgreenaway map files *should* be supported. There was a conversation about how best to handle this in https://github.com/saltstack/salt/pull/53024. It really comes down to the saltcheck running files through the renderer, and figuring out what's needed, then caching that. Map files were very much tested, so I'd expect this to work, but I don't see map files included in the integration test.

[2020-05-19 06:51] mchugh19 commented on #57327
I just tried to replicate by cloning the [ntp formula](https://github.com/saltstack-formulas/ntp-formula)  and copied the ntp directory to /srv/salt. I then added ntp/saltcheck-tests/init.tst with the content:
[code]

As you can see, this test uses the formula's map.jinja file.

I am then able to run saltcheck with this test:
[code]
It also works with master/minion
[code]

Thus, my testing seems t

[2020-05-19 07:19] mchugh19 commented on #57327
I've also tried to replicate with the given whatever files:
[code]
whatever/map.jinja - Note updated for my test host of Debian-10
[code]
whatever/whatever.sls
[code]
whatever/saltcheck-tests/whatever.tst
[code]
whatever/defaults.yml
[code]

Given this file structure, I am able to display the map.jinja contents:
[code]
So I can validate that the map.jinja is being successfully rendered.

Then I'm

[2020-05-19 07:28] mchugh19 commented on #57336
To backup @whytewolf, the custom requisite behavior of cmd.run has been unified with the rest of salt as of https://github.com/saltstack/salt/pull/55974. So in Sodium and on, all the requisite syntaxes (including use of salt execution modules) should work for cmd.run, just list any other state.

For version 3000, cmd.run only support shell tests for unless. So your `unless: test -f /var/lib/postgr

[2020-05-19 09:57] OrangeDog commented on #53504
The best way to get people to migrate away from deprecated constructions is to provide migration tools that do it for them. See e.g. Python (though unfortunately once you start using `six` it's too late to use `2to3`, I don't see a `6to3` but it would be very useful for salt right now), Java (provided by third parties like JetBrains), Angular.

It should be easy to script migration of plain yaml,

[2020-05-19 10:02] EugeniuZ opened #57375 "[BUG] Salt-Master version is incorrectly reported"
**Description**
I have installed salt-master version 2019.2.5 but `salt-master --version` returns version `3000.1`

**Expected behavior**
The installed version should be returned instead.

**Screenshots**
[code]

**Versions Report**
<details><summary>salt --versions-report</summary>
(Provided by running salt --versions-report. Please also mention any differences in master/minion versions.)

[code]

[2020-05-19 10:24] pkramme commented on #52678
Currently the [documentation](https://docs.saltstack.com/en/2019.2/topics/targeting/nodegroups.html) says

It would be great if the documentation could either be fixed or the compound matcher fix be backported to 2019.2.* (which we'd really prefer!).

[2020-05-19 13:18] rj-dsl commented on #57170
Mine are from around 2012, so I guess its the same for me.. Any takes on how to fix this issue? Reverting to python2 is not really a viable option

[2020-05-19 14:12] cerberek opened #57377 "[BUG] SaltCacheError 'maximum recursion depth exceeded while calling a Python object' with ETCD cache"
**Description**
A clear and concise description of what the bug is.
When calling mine.update I got this error even that it looks that grains are updated properly.
[code]

**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info).
ETCD cache running locally

etcd.host: 10.120.0.1
etcd.port: 2379
etcd.protocol: http
etcd.allow_reconnect: True
etcd.allow_redirect:

[2020-05-19 14:50] thekabal commented on #57126
https://access.redhat.com/security/cve/cve-2020-11652 now shows that RedHat / Fedora has marked this CVE as "Won't fix".

What is the official suggestion from SaltStack for Fedora users? The Python install package seems to be the only patched version, and it installs in different locations and with different settings than the original Fedora package.

[2020-05-19 15:00] ewhitesides opened #57378 "add ability to hide windows updates in win wua module"
Hi there, it seems there is a feature to remove particular windows update (https://docs.saltstack.com/en/master/ref/states/all/salt.states.win_wua.html), but there isn't a feature to hide windows updates.

Unless the hide windows updates feature is implemented, every time there is a check for new updates, it will attempt to download and install that update again, creating a cycle of continuously i

[2020-05-19 15:13] terminalmage commented on #57126
Maybe I'm misreading, but that page only seems to say this is "Won't fix" for `Red Hat Ceph Storage 2`. Not Fedora.

Uhh... install from the upstream repos?

[code]

[2020-05-19 15:24] rossengeorgiev commented on #57126
If you look at https://apps.fedoraproject.org/packages/salt the current release is now `3000.2` with `3000.3` being in testing.

[2020-05-19 15:42] rossengeorgiev commented on #57375
That seems funky. Can provide the output of `cat $(which salt-master)` ?

[2020-05-19 16:04] carlwgeorge commented on #57126
Fedora isn't some magically entity that spits out package updates.  Fedora is a community, and relies on that community to get things done.  The [salt package in Fedora](https://src.fedoraproject.org/rpms/salt) is maintained by @dmurphy18 and @terminalmage.  For the scope of the salt package, they *are* Fedora.  If they are having issues keeping the package up to date, they should reach out to the

[2020-05-19 16:09] carlwgeorge commented on #57126
For those that would like to follow along, here are the open bugzillas for salt in Fedora and EPEL that include the string "CVE" in the summary.  If you have a bugzilla account you can CC yourself on each one to get email notifications.

https://bugzilla.redhat.com/buglist.cgi?bug_status=NEW&bug_status=ASSIGNED&component=salt&product=Fedora&product=Fedora%20EPEL&query_format=advanced&short_desc=CV

[2020-05-19 16:19] EugeniuZ commented on #57375
Turns out I had also the python package installed which overwrote the binary from the debian package.
Removed the python package, reinstalled the debian package and now the version is reported correctly.

[2020-05-19 16:19] #57375 closed

[2020-05-19 16:54] waynew opened #57379 "Ensure changelog is updated for Sodium release"
We need to massage the CHANGELOG.md when we run towncrier to merge the old additions and the new additions. This should be done probably at the same time as updating the manpages.

[2020-05-19 17:17] cmcmarrow commented on #57266
@plinkable that would be great! Can you give me more information on the minions that are working and not working? Can I get your top.sls and your minion.conf file? Sensitive information censored of course.

[2020-05-19 17:19] #56897 closed

[2020-05-19 17:20] #55835 closed

[2020-05-19 17:33] thekabal commented on #57126
I'm thrilled to see updated versions hitting Fedora now. As of a few days ago, it wasn't available. I also cc'd (added myself) to the multiple Bugzillas for the CVE's, which conveniently did not mention the updated packages. The "build" page under the apps.fedora... link also doesn't work.

Regardless! I'm happy with the end result - a patched, updated version available for Fedora. Thank you all!

[2020-05-19 17:34] ssoto2 opened #57381 "[FEATURE REQUEST] security metadata in repo"
**Is your feature request related to a problem? Please describe.**
Recently there where SaltStack CVE's that came out. These were talked about widely both by press but by saltstack itself https://community.saltstack.com/blog/critical-vulnerabilities-update-cve-2020-11651-and-cve-2020-11652/

While the Vuln was listed on the website automated tools like yum did not see that the update was a securit

[2020-05-19 17:47] plinkable commented on #57266
I've gone several steps further than that already, with help from @waynew. These are Server2016 and 2019 running under kvm, and they don't have the VC2013 runtime installed. The very one that's in the salt installation folder. Putting that in the path in any way makes everything work the same way it always used to with 2018.3.

So the sequence of events now seems to be:
1) salt/crypt.py checks for

[2020-05-19 17:52] DmitryKuzmenko opened #57382 "Check coverage of #56243 and add missing tests"
This is the continuation of https://github.com/saltstack/salt/pull/56243 that has a lot of small changes that formally have to be covered with tests. Now we have no simple way to check all of them so we're splitting this work to a separate issue.

[2020-05-19 17:52] DmitryKuzmenko commented on #57382
@raddessi FYI

[2020-05-19 17:56] carlwgeorge commented on #57126
That's because no bugs were associated with the [update](https://bodhi.fedoraproject.org/updates/FEDORA-2020-43cd31fba0).  When those are submitted the maintainer has the option to check boxes for any bugzillas that will be resolved by it, and then those bugzillas get automatic comments about the updated packages moving to the testing and then stable repos.  If the maintainer doesn't check the box

[2020-05-19 17:58] plinkable commented on #57266
My suspicion is that this used to "just work" in 2018.3 because one (or more) of the core dependencies shipped with the Windows install loaded the runtime earlier, and a newer version in 2019.2 uses a newer runtime instead.

Not that this explains why the above sequence appears to be happening. It feels like a race condition that's happening rather reliably on our servers.

[2020-05-19 18:08] sagetherage opened #57383 "[DOCS] for sodium and python 2 deprecation please update RC docs"
**Description**
Docs update for python2 deprecation please update RC docs to reflect changes

**Setup**
https://docs.saltstack.com/en/master/topics/releases/releasecandidate.html

**Steps to Reproduce the behavior**
N/A

**Expected behavior**
Remove Python 2 references

[2020-05-19 18:19] raddessi commented on #57382
Nice! Thank you for splitting this. I haven't given up on trying, work has just been busy as we are trying to finish some larger projects right now.

[2020-05-19 18:28] markuskramerIgitt commented on #57300
I see no test for clean in https://github.com/saltstack/salt/blob/master/tests/unit/states/test_file.py

[2020-05-19 18:32] xeacott commented on #57378
So when you say a feature to hide windows updates, how do you envision that working? Besides `installed` and `removed` we have `uptodate` which, by nature of the function, makes sure that the system is up to date. Naturally, it will download and install any update it finds, however you should be able to run that state in test=True and it will return to you what _will_ be downloaded and installed s

[2020-05-19 18:34] xeacott commented on #57378
Unless you are thinking more in the direction of only applying certain updates given a list, and "hiding" others, but then that's a question of which updates do you want to "hide" and the potential issues that come with only applying a subset of updates.

[2020-05-19 19:08] cmcmarrow commented on #55304
@maennlse I fixed the bug... It will make it into Sodium.

[2020-05-19 19:10] cmcmarrow commented on #55304
The problem was the cache data was being load-it as a string and not a float.

[2020-05-19 20:02] ewhitesides commented on #57378
I built the following this afternoon to replicate what I'm after, see screenshots:

![Capture](https://user-images.githubusercontent.com/24396832/82372118-63433500-99e9-11ea-98bd-49394375b555.PNG)
![Capture2](https://user-images.githubusercontent.com/24396832/82372120-63433500-99e9-11ea-98a0-7227369b5203.PNG)

Basically, there needs to be an ability to prevent an update from showing up in a 'get-u

[2020-05-19 20:10] xeacott commented on #57378
Sure, I understand. So then how do we compute _which_ update is not wanted on the system? We have two chances of catching this. The first is before the list is computed, and the second is after the list is computed.

If a user wants an update blacklisted, then that update must be known before the update agent performs the download/install cycle.

If a user wants an update blacklisted _after_ the u

[2020-05-19 20:16] xeacott commented on #57378
One way to solve this, is to add another function that would just retrieve a list of updates available for the system. Actually, we have that. Then the user would pass a "subset" of this list to installed and call it day, right?

[2020-05-19 20:23] DmitryKuzmenko commented on #57382
I'm not forcing you, just FYI and surely in hope you'll have a chance some time =)))

[2020-05-19 20:27] sagetherage commented on #55167
closing as merged PR above will be released in Sodium

[2020-05-19 20:27] #55167 closed

[2020-05-19 20:30] ewhitesides commented on #57378
i use the powershell module pswindowsupdate a lot, and one of the commands is 'hide-windowsupdate'.  hide-windowsupdate is probably invoking some windows internals, because this functionality is part of windows already (quick googling came up with this: https://support.microsoft.com/en-us/help/3073930/how-to-temporarily-prevent-a-driver-update-from-reinstalling-in-window).

[2020-05-19 20:47] xeacott commented on #57378
So i just ran Hide-WindowsUpdate and this was my output:
[code]

But I want to know, how did this module determine which update to hide? Does it hide all of the available updates?

[2020-05-19 20:53] twangboy commented on #57378
I don't think the win_wua module functions the same way the PowerShell cmdlet does. It will not download and install the update unless you tell it to. Have you verified this behavior with the salt states?

[2020-05-19 21:22] ewhitesides commented on #57378
I'm imaging a salt state that would somehow interface with this: https://docs.microsoft.com/en-us/windows/win32/api/wuapi/nf-wuapi-iupdate-get_ishidden

So, in my particular situation, I'd like to issue update commands once a month at the cli/cron job, and if necessary, I could define a pillar list of KBs.  That pillar list would be passed to wua.removed and wua.hidden.

[2020-05-19 21:43] sagetherage opened #57386 "[Test Failure] slow test integration utils test_thin"
**Description**
https://jenkinsci.saltstack.com/job/pr-amazon2-py3/job/PR-57380/1/testReport/junit/integration.utils.test_thin/TestThinDir/test_thin_dir/

[2020-05-19 21:49] sagetherage commented on #56232
closing as fixed will be released in Sodium

[2020-05-19 21:49] #56232 closed

[2020-05-19 21:53] sagetherage commented on #52387
closing as fixed @morganwillcock please let us know if this does not correct your issue

[2020-05-19 21:53] #52387 closed

[2020-05-19 21:55] sagetherage commented on #56269
closing as corrected by above PR and will be released in Sodium

[2020-05-19 21:55] #56269 closed

[2020-05-19 22:18] sagetherage commented on #54501
closing as fixed with PR referenced will be released in Sodium

[2020-05-19 22:18] #54501 closed

[2020-05-19 22:22] sagetherage commented on #54702
closing as fixed in PR #56395 will be released in Sodium

[2020-05-19 22:22] #54702 closed

[2020-05-19 22:25] sagetherage commented on #56428
fixed in Sodium see PR referenced

[2020-05-19 22:25] #56428 closed

[2020-05-19 22:30] sagetherage commented on #56451
PR merged, closing will be released in Sodium

[2020-05-19 22:30] #56451 closed

[2020-05-19 22:38] sagetherage commented on #56449
closing as PR is merged, will be released in sodium

[2020-05-19 22:38] #56449 closed

[2020-05-19 22:44] sagetherage commented on #56322
fixed in PR reference above - closing will be released in Sodium

[2020-05-19 22:44] #56322 closed

[2020-05-19 22:45] sagetherage commented on #56554
PR merged, closing as fixed, will be released in Sodium

[2020-05-19 22:45] #56554 closed

[2020-05-19 22:46] sagetherage commented on #56570
PR is merged and will be released in Sodium

[2020-05-19 22:46] #56570 closed

[2020-05-19 22:50] sagetherage commented on #54288
merged into master closing

[2020-05-19 22:50] #54288 closed

[2020-05-19 23:38] #56496 closed

[2020-05-19 23:38] sagetherage commented on #56496
this will be released in Sodium

[2020-05-20 00:09] dmurphy18 opened #57388 "[BUG] Junos execution modules ignoring template_vars on load and diff extra keyword"
**Description**
Recent changes removed template_vars breaking load functionality.
In addition supplying a dest parameter to rpc call generates errors, that is, junos rejects extraneous keyword

**Setup**
State file contents
[code]
where salt://files/rest.set contains:
[code]

**Steps to Reproduce the behavior**
[code]
[code]
**Expected behavior**
[code]

[code]
**Screenshots**
If applicable, add s

[2020-05-20 00:12] sagetherage commented on #56053
merged and will be released in Sodium

[2020-05-20 00:14] #56053 closed

[2020-05-20 01:43] r-pufky opened #57390 "Add support for winget as a windows package management tool."
**Is your feature request related to a problem? Please describe.**

winget is a new opensource tool by Microsoft that enables package management from the command line, akin to debian-based package management (e.g. apt).

https://github.com/microsoft/winget-cli

**Describe the solution you'd like**

I'd like to be able to use the same package management states for linux as in windows. With winget,

[2020-05-20 01:51] garethgreenaway commented on #57377
@cerberek Thanks for the report.  The above errors look similar to this other issue, https://github.com/saltstack/salt/issues/37646, which has a fix (https://github.com/saltstack/salt/pull/54018) that will be in the upcoming Sodium release.  Are you in a position where you're able to test that fix?

[2020-05-20 02:47] collator commented on #37261
I'm going to bump this issue.  My team is seeing the same issue that is non-uniform across the platform and intermittent.

**Our use case**
We have a multiple-master Jenkins setup and dispatch the same command to one of two salt masters which are managed by a load balancer.  Some of the responses returned are 100% valid and expected responses.  About half of the others are invalid.

**Example**
[c

[2020-05-20 08:38] bsoldhogg commented on #35592
Also run in to this with `locale.present` and `locale.system` and a few others.

[2020-05-20 10:03] hemantaltair commented on #38563
It's not implemented I am getting same error

[2020-05-20 10:11] hemantaltair commented on #33844
No it didnt worked for me.

[2020-05-20 10:25] DmitryKuzmenko commented on #57264
@afischer-opentext-com thank you for report.
The behavior in the case minion's answered it's key is rejected the minion prints the message about it and exits after 10-20 seconds. Since you've set auto-restart, minion is getting restarted and this happens again.
I'm sorry it's not quite clear for me is it a fresh install or an updated minion? So I can't say how the minion key got to the rejected co

[2020-05-20 10:34] cerberek commented on #57377
I did upgrade to new version, but I'm getting still same errors

[code]

[2020-05-20 11:53] bergentroll opened #57393 "[BUG] win_powercfg._get_current_scheme() raises exception"
**Description**
`win_powercfg._get_current_scheme()` raises an exception on Windows 10 minion.

**Setup**
Very default set of Debian 10 master and Windows 10 minion.

**Steps to Reproduce the behavior**
`salt 'minion1' powercfg.set_standby_timeout 0` (or `set_whatever_timeout`).

gives:
[code]

**Expected behavior**
[code]

**Versions Report**
<details><summary>SaltStack 3000.3</summary>

[code]
<

[2020-05-20 11:55] edorivai commented on #51999
Has this issue been solved? I'm currently experiencing this issue.

[code]

[code]

[2020-05-20 12:37] DmitryKuzmenko commented on #48390
Here are some results from my investigation.

The original issue was reported against v2017.7.2 where minion main process worked as described receiving SIGTERM.

This commit 9f1fe42b3cca0809616e2782a13b8bbf4dd4e3c9 from #54259 changed this behavior so the main process doesn't exit untill all the workers terminated. All the jobs results are reported to master as well.

Meanwhile the `salt` command

[2020-05-20 13:32] dkacar-oradian opened #57395 "[FEATURE REQUEST] Improve salt-cloud logging in parallel mode"
I'm trying to write a script which would be used to test new (and RC) salt releases. I'm using `salt-cloud` to create virtual machines, but the logs which can currently be produced in parallel mode make things very hard to debug.

I'm basically invoking `salt-cloud` like this:

[code]
The parallel mode disables output from ssh bootstrap script on the terminal (which is OK), but searching for anyth

[2020-05-20 15:34] gqlo opened #57397 "allow uefi firmware auto select with recent libvirt and qemu version"
**Is your feature request related to a problem? Please describe.**
Add the "efi" boot parameter allowing nvram and loader path to be filled automatically with recent libvirt and qemu version.
**Describe the solution you'd like**
 allowing boot parameter `"efi": True ` is an good option.

[2020-05-20 15:59] LHozzan commented on #57342
@garethgreenaway Thank you for information.
So, you mean add some state like `cmd.wait` and test in loop, that InfluxDB is ready to accept coonections? Good idea, I'll consider it.

[2020-05-20 16:14] garethgreenaway commented on #57397
@gqlo Thanks for the report.  Marking this as approved for a future feature addition.

[2020-05-20 16:20] garethgreenaway commented on #57390
@r-pufky Thanks for the report.  Approving this for a future feature addition.

[2020-05-20 17:30] garethgreenaway commented on #57280
@Salvi99 This appears to be a customer runner that is on the Salt master, not code that has been shipped with Salt.

[2020-05-20 17:56] sagetherage commented on #55376
fixed in above PR will be released in Sodium - closing

[2020-05-20 17:56] #55376 closed

[2020-05-20 18:30] H20-17 commented on #57115
@waynew, I notice that you added the _Info Needed_ tag. I need to know what info you would like to have.

[2020-05-20 18:37] garethgreenaway commented on #57069
@cerberek Thanks for the report.  A couple question, can you confirm that you have the python-redis  library installed on the Salt master.  If you have the `cluster_mode` option enabled, can you confirm that you have the `redis-py-cluster` package library installed?  Thanks!

[2020-05-20 19:51] markuskramerIgitt commented on #56634
@cmcmarrow, @twangboy could you please reopen?

twangboy tells me that version.py "grabs the commit hash".

version.py did and must continue to grab the commit hash only in-between git tags, and omit the commit hash on a git tag (like `v3000.3`)

[2020-05-20 22:29] garethgreenaway commented on #57124
@skob Thanks for the report.  I was able to reproduce this in the 3000.2 release and it is fixed in the master branch and the fix will be available in the Sodium release.  The below changes were the relevant part in the PR that fixed this particular issue:
[code]

[2020-05-20 22:32] #56611 closed

[2020-05-20 22:36] #56960 closed

[2020-05-20 22:45] jkmcrg commented on #54821
You are a HERO. Let me try this out in a few applications.

[2020-05-20 22:56] #55934 closed

[2020-05-20 22:56] #57386 closed

[2020-05-20 22:58] #55380 closed

[2020-05-20 22:58] #57008 closed

[2020-05-20 23:17] #54819 closed

[2020-05-20 23:37] #57347 closed

[2020-05-20 23:38] sagetherage commented on #56454
merged and will be released in Sodium - closing

[2020-05-20 23:38] #56454 closed

[2020-05-20 23:42] garethgreenaway commented on #57275
@cbosdo Looks like you added this into the docstring but it never got into the valid argument list and doesn't appear to be in use.

[2020-05-20 23:49] garethgreenaway commented on #57285
@saltstack/team-windows FYI.

[2020-05-21 00:28] adevuyst commented on #46045
One way I was able to quickly delete some accepted keys matching a pattern was with some bash magic. This may help some of you if you need to delete keys in bulk that are accepted that match a pattern but don't want to delete keys that have not been accepted that match the same pattern:

`for i in $(sudo salt-key -l accepted | grep some_part_of_name_here); do sudo salt-key -d $i -y; done`

[2020-05-21 01:58] poige commented on #46045
\@

The point of this issue is **duplicate keys** _deletion_, not "newbies discovering cycles in bash".

[2020-05-21 04:00] felixglow opened #57403 "[BUG]AttributeError: 'module' object has no attribute 'nested'"
**Description**
Salt master send commond to minion, this error occurs in the minion log

**Setup**
salt "minion" test.ping

**Steps to Reproduce the behavior**
(Include debug logs if possible and relevant)

**Expected behavior**
return True

**Screenshots**
![image](https://user-images.githubusercontent.com/8147810/82521543-8ee52d00-9b59-11ea-8af9-4daa34b116e7.png)

**Versions Report**
<details>
<

[2020-05-21 07:24] loz-hurst opened #57405 "salt.pillar.file_tree documentation is wrong"
The current documentation provides an example where the tree structure is clearly unrelated to the pillar data that it is said to generate.  This is confusing and leaves users having to apply trial-and-error to figure out how it actually behaves:

(from: https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.file_tree.html - confirmed this is the same in the source in master)

Strangely t

[2020-05-21 07:30] loz-hurst opened #57406 "salt.pillar.file_tree not following file symlinks - possible regression?"
If I put a symlink in the file_tree to another file also in the file tree the file is not included in the generated pilllar data for the node (the other regular files are included as expected) and the master log has an error logged:

[code]

The example tree in the docs (https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.file_tree.html) includes a symlink but the example pillar render

[2020-05-21 07:45] loz-hurst commented on #57405
The examples were both changed in https://github.com/saltstack/salt/commit/0ba4954a4ba4ca91c188354d46cba16e7c27d23d and merged into 2017.7 in https://github.com/saltstack/salt/pull/46042 but the merge into 2018.3 (https://github.com/saltstack/salt/commit/3273bbdab7ea622c830a2f6086332cb0ba369c01 / https://github.com/saltstack/salt/pull/47927) didn't merge all of the changes to that file from 2017.7

[2020-05-21 07:49] loz-hurst commented on #57406
Just a note, having looked at how the documentation became broken - if file symlinks are not supported any more, my opinion is that a deprecation warning needs adding to the documentation because they used to work according to the 2015.5.0 documentation.

However, it would seem very odd to say file symlinks are not supported when directory ones are, and there is explicit options that deal with whe

[2020-05-21 08:00] rjc commented on #57255
@DmitryKuzmenko My PR would be simply to delete said file :^)

However, if you would like to retain it, for one reason or another, then it needs to be fixed. I'm afraid that I don't know enough about all of the Salt's code copyright, 3rd-party components which might have been incorporated into it and/or their licenses, etc. in order to even attempt to compile such file and it reflecting the realit

[2020-05-21 08:30] loz-hurst commented on #57406
Looks like the code has always blocked symlinks, despite the documentation using them in the example:

(https://github.com/saltstack/salt/commit/89a3d905dc3c09dd65eb9964d83c74316bfc17f1#diff-a8eb41ad64c9e8ea0f1445db91941d1cR106 lines 106-108)

[code]

[2020-05-21 08:57] cerberek commented on #57069
Hi, we are not running redis in cluster_mode. And python-redis is intalled in version 3.2.1-2.
What I think is that this issue is related with another redis case you have open here https://github.com/saltstack/salt/issues/54734

[2020-05-21 09:21] krionbsd commented on #56231
I can't reproduce this failure on salt3000.3 which I'm going to port to FreeBSD in the next days. 2019.2.5 is still affected and has this issue though, stay tuned we're working on it.

[2020-05-21 09:21] krionbsd commented on #56332
I can't reproduce this failure on salt3000.3 which I'm going to port to FreeBSD in the next days. 2019.2.5 is still affected and has this issue though, stay tuned we're working on it.

[2020-05-21 10:04] #54373 closed

[2020-05-21 10:18] plinkable commented on #57266
Some further information I've just uncovered. This issue only affects `salt-call`, and only under specific scenarios. The running minion is fine.

Specifically, `salt-call --versions-report` succeeds in loading M2Crypto and returns the version found. In a not-altogether-unrelated note, a quick check on an old 2018.3.2 minion I had in a VM behaved differently and wasn't even able to load M2Crypto f

[2020-05-21 10:33] DmitryKuzmenko commented on #57255
@rjc please don't hear me wrong. I'm just about keeping your copyright on this finding. If you don't wan't to do this I will. Thank you! =)

[2020-05-21 11:13] natemarks opened #57409 "[BUG] httppretty section in Pipfile seems to be breaking install of other packages"
**Description**
Running pipenv install --dev should install all 79 packages. it only installs httppretty

**Run normally**
[code]

**ONLY httpretty is installed**
[code]
** everything seems to work adn the diff is below**
[code]
**Versions Report**
[code]

[2020-05-21 11:27] plinkable commented on #57266
Just tried 3000.3, same problem

[2020-05-21 11:41] rjc commented on #57255
@DmitryKuzmenko I understand where you're coming from. Here, however, there's no copyright to speak of - we're deleting a file after all, not adding any content - attribution, perhaps. I'm not after any brownie points ;^)

Your PR is fine, BTW. Thanks!

[2020-05-21 13:15] adevuyst commented on #33928
Fingerprints would be really helpful for me as well.

[2020-05-21 13:24] plinkable commented on #57266
The x509 integration test isn't even listed for this suite, but the results I found were:

https://jenkinsci.saltstack.com/job/pr-windows2016-py3-slow/job/master/38/testReport/unit.modules.test_x509/X509TestCase/

[2020-05-21 15:01] doesitblend opened #57414 "Output fails to compile correctly with saltutil.sync_modules in orchestration"
**Description**
I get a "Data failed to compile error" when I run the following orchestration:

[code]

From what I can tell the modules actually sync and if I use `--out=json` I can see that the output actually comes back as an empty list just fine. However, when using the default highstate outputter I get the following error:

[code]

You can see in the output above that it's listing the module

[2020-05-21 15:55] theunsa commented on #46665
+1 fwiw

[2020-05-21 16:35] #57312 closed

[2020-05-21 18:04] loz-hurst opened #57416 "ssh_priv master configuration option is undocumented"
The code supports it (https://github.com/saltstack/salt/blob/master/salt/client/ssh/__init__.py#L254) and the related ssh_priv_passwd (https://docs.saltstack.com/en/2019.2/ref/configuration/master.html#ssh-priv-passwd) and ssh_use_home_key (https://docs.saltstack.com/en/2019.2/ref/configuration/master.html#ssh-use-home-key) options are documented.

Following a recent compromise, we have been told

[2020-05-21 19:16] garethgreenaway commented on #57409
@natemarks Thanks for the report.  Looking at the output that you've included above I don't see any Salt specific commands and don't follow how this is a Salt issue?

[2020-05-21 19:53] garethgreenaway commented on #57409
@natemarks Upon future investigation is appears that you're attempting to install Salt via Pip and that the Pipfile is causing issues.  Conferring with the rest of @saltstack/team-core it appears that the Pipfile is quite out of date and no longer maintained, and needs to be removed.  We'll take care of that asap.  Thanks!

[2020-05-21 20:04] garethgreenaway commented on #57406
@loz-hurst Thanks for the report.  Looking at the code and the documentation it appears that pillar_tree supports using symlinks for directories but not for files.  Does your use case include directories or files?

[2020-05-21 20:05] garethgreenaway commented on #57405
@loz-hurst Thanks for the report.  We'll get the documentation updates to ensure that examples are clear.

[2020-05-21 20:08] garethgreenaway commented on #57180
@saltstack/team-core Any ideas on this one?

[2020-05-21 20:28] garethgreenaway commented on #57274
@V3XATI0N Thanks for the report.  This appears to be fixed in the 3000.5 release.

[2020-05-21 20:30] flavius-iftode opened #57417 "[salt-cloud] on azure userdata_file: is not used properly for windows minions"
**Description**
salt-cloud: `userdata_file:` is not used properly if it point's to a local file for `azurearm.py`. I did some debug and and I found out that if `userdata_file:` is a local file, the content of the file will be assigned to the `userdata:`. After this if `userdata:` is not empty, which is not, `settings['commandToExecute']` is set to `userdata:` content, which causes `commandToExecut

[2020-05-21 20:31] #57388 closed

[2020-05-21 20:35] Akm0d commented on #55222
Related to PR https://github.com/saltstack/salt/pull/55421

[2020-05-21 20:37] garethgreenaway commented on #57416
@loz-hurst Thanks for the report.

[2020-05-21 20:38] adziura-ledger commented on #53833
@Ch3LL , I've tested and found that the problem is actually not with incorrect ENV.
before 2018.3.4 when env HOME was set cmd.run was executed exactly from this path.
Starting from 2018.3.4 - it's executing from /root directory

[2020-05-21 20:41] craigafinch commented on #16089
This issue needs to be reopened and escalated. You can still manage network interfaces in CentOS 7 via the traditional scripts and configuration files, but in CentOS 8, you must use NetworkManager.

1. https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html-single/considerations_in_adopting_rhel_8/index#removed-packages_changes-to-packages

[2020-05-21 20:51] garethgreenaway commented on #57381
@saltstack/team-packaging FYI.

[2020-05-21 21:02] alexkolomolo commented on #16089
Agree with Craig.  The following issue is related.  https://github.com/saltstack/salt/issues/51046#issuecomment-622671711

Right now we have to manage network via nmcli from salt as we run centos8. :(

[2020-05-21 21:02] alexkolomolo commented on #51046
In Centos 8 this does not work.

[2020-05-21 22:21] garethgreenaway commented on #57414
@doesitblend I believe I found the cause for this.  If you enable the debug level logging you'll see the traceback.

[2020-05-21 22:28] #54298 closed

[2020-05-21 22:43] garethgreenaway commented on #57414
@doesitblend never mind, different issue than another one I was looking at.

[2020-05-21 22:45] sagetherage commented on #24501
the doc fix is only a portion yes, but something that may be done by a separate person so was asking, merely

[2020-05-21 22:47] eykd commented on #55811
We encountered this error as well. After some debugging I tracked it down to version 1.3.7 of the `mysqlclient` package (`mysql-python: 1.3.7` in `--versions-report`).

`MySQLdb` was not decoding bytestring warnings generated by a query, instead passing them directly to `warnings.warn()`. Because `salt` uses `warnings.filterwarnings()`, the `warnings` subsystem was trying to apply regex patterns t

[2020-05-21 22:53] garethgreenaway commented on #56939
@Oloremo Thanks for the report.  I've been able to reproduce this and can confirm that the above orchestration states do run even though test = True.

[2020-05-21 22:58] sagetherage commented on #57390
@saltstack/team-windows thoughts?

[2020-05-21 23:40] garethgreenaway commented on #57349
@dkacar-oradian Thanks for the report.  Are you able to check the Salt master logs for anything that happens around the time when this issue happens on the event bus?

[2020-05-21 23:43] #55304 closed

[2020-05-21 23:44] #53244 closed

[2020-05-22 00:07] garethgreenaway commented on #57403
@felixglow Thanks for the report.  I haven't been able to reproduce this issue.  Are you installing Salt via the provided packages?

[2020-05-22 00:15] denz7201 commented on #57133
@waynew   Did you plan on following up here or have you given things the kiss of death " Info Needed " ?

[2020-05-22 00:18] garethgreenaway commented on #57417
@kz-flavius Thanks for the report.

@saltstack/team-cloud FYI

[2020-05-22 00:45] apex-omontgomery opened #57418 "[BUG] lowpkg.list_pkgs fails to to list held packages"
**Description**
`lowpkg.list_pkgs` fails to list held packages in versions from 2016.3.8 to 2019.2.4, but `lowpkg.info 'prefix*'` and `pkg.list_pkgs` shows the held package.

This appears to be related to improperly parsing the dpkg https://github.com/saltstack/salt/blob/2019.2.4/salt/modules/dpkg_lowpkg.py#L166

and fixed in a later version
https://github.com/saltstack/salt/blob/master/salt/modul

[2020-05-22 01:11] nicholasmhughes commented on #57417
Azure doesn't seem to provide for your proposed "upload a local file to the instance and run it" workflow.

https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows

[2020-05-22 01:23] garethgreenaway commented on #57144
@kylehuff Thanks for the report.  Confirmed that passing `test` via Salt-SSH doesn't produce the desired results.

[2020-05-22 02:45] #55222 closed

[2020-05-22 02:46] #57361 closed

[2020-05-22 02:46] #57362 closed

[2020-05-22 02:46] #57363 closed

[2020-05-22 02:46] #57366 closed

[2020-05-22 02:46] #57367 closed

[2020-05-22 02:46] #57368 closed

[2020-05-22 03:24] #56205 closed

[2020-05-22 03:34] craigafinch opened #57421 "[BUG]pkg.installed shouldn't return an error when package is already installed"
**Description**
When using pkg.installed to directly install an RPM (NOT using yum), the state returns an error when the package is already installed and up to date. In other words, the state **returns an error when the system is already in the desired state**. This behavior is inconsistent with the operation of every other Salt state, which returns "clean" when the system is already in the desire

[2020-05-22 03:49] #57184 closed

[2020-05-22 03:52] #57266 closed

[2020-05-22 04:15] #57353 closed

[2020-05-22 04:27] felixglow commented on #57403
@garethgreenaway  yes, install salt from official website
**here is my install steps:**

[code]

**everything is ok, but when i send commond from the master, this error occurs in the minion log**

[code]

[2020-05-22 04:40] darkpixel opened #57422 "[BUG] Intermittent "Bad file descriptor" (old_wakeup_fd = signal.set_wakeup_fd()) when going highstate or running state.sls and various connectivity issues"
**Description**
Machines randomly throw "Bad file descriptor" errors when going highstate or calling state.sls.
The machines affected appear to always be FreeBSD.  They usually work normally if I wait a few minutes and run the command again.

Occasionally one or two minions will simply return ```Minion did not return. [No response]``` and they are offline for good until I SSH in and restart the sa

[2020-05-22 06:33] kz-flavius commented on #57417
@nicholasmhughes that's true. I guess then changing the logic in azurearm.py is the best solution.

Adding this in docs as an alternative for azure only will do the trick but not sure how elegant is this:
`powershell -command "valid powershell cmds"`

I think I will try to provide a PR with changes in azurearm.py to handle this properly. I can get the content from the file and append the necessary

[2020-05-22 09:04] #57383 closed

[2020-05-22 10:48] rossengeorgiev opened #57424 "[BUG] CentOS 8 osrelease grain does not all version numbers"
**Steps to Reproduce the behavior**
[code]

**Expected behavior**
Example for CentOS 7:

[code]

**Versions Report**
<details><summary>salt --versions-report</summary>
(Provided by running salt --versions-report. Please also mention any differences in master/minion versions.)

[code]
</details>

[2020-05-22 11:29] dkacar-oradian commented on #57349
I have master log at the debug level.

This is suspicious (I added line breaks for readability, but it's just one line in the log):

[code]

I suppose the data in `signature` is binary. And this is the first event in master log after the `salt/auth` event which is the last shown before `salt-run state.event` exits.

And the one after that is:

[code]

Master's debug level was propagated to the `sa

[2020-05-22 15:55] garethgreenaway commented on #57424
@rossengeorgiev Thanks for the report.  We'll get this one fixed asap.

[2020-05-22 16:16] #50911 closed

[2020-05-22 16:28] garethgreenaway commented on #57302
@bsoldhogg Thanks for the report.  Approving this for a future feature addition.

[2020-05-22 16:52] garethgreenaway commented on #57421
@craigafinch Thanks for the report.  We'll get this fixed asap.

[2020-05-22 16:54] dubuc commented on #56994
This also seems to happen with our CentOS 7.7 hosts using Python2 and Salt 3000.3

[code]

[code]

[code]

[2020-05-22 16:55] garethgreenaway commented on #57422
@darkpixel Thanks for the report.  Please keep us posted if you're still seeing this after upgrading minions to 2019.2.5.

[2020-05-22 17:05] wimo7083 commented on #57418
I have not been able to test the upcoming 3000.5 release. Will the sodium release back-port bugfixes to 2019.X?

[2020-05-22 17:15] garethgreenaway commented on #57069
@cerberek Thanks for the response.  I just noticed you're using Python 2 and my testing was done using Python 3, will retest with Python 2 to try and reproduce.  Thanks!

[2020-05-22 17:16] garethgreenaway commented on #57418
@wimo7083 We are no longer back porting non-cve related fixed into older releases, the Sodium release will strictly be a 3001 release.

[2020-05-22 17:19] garethgreenaway commented on #57349
@dkacar-oradian Thanks.  This is potentially helpful as it might be or be related to the vault generate_token command being run.

[2020-05-22 17:23] garethgreenaway commented on #57403
@felixglow Thanks!

[2020-05-22 17:34] garethgreenaway commented on #55032
All, apologies for the delay in responding on this one.

@oliverisaac Can you point me at code that would fix this issue and we'll get some tests written for it.  If you want to put in a PR and tag me, I'll make sure some tests get added.

[2020-05-22 17:50] #57256 closed

[2020-05-22 17:57] cmcmarrow commented on #55608
PyYAML is now unlock

[2020-05-22 17:57] cmcmarrow commented on #54871
PyYAML is now unlocked

[2020-05-22 17:57] #54871 closed

[2020-05-22 17:59] weswhet commented on #56108
and just ran into this.

[2020-05-22 18:00] darkpixel commented on #55032
Maybe I missed something, but I just applied the patch listed in the bug report to both my master and a test minion and restarted all the services.  It's still bombing out with the same error that the signing policy doesn't exist.

[2020-05-22 18:01] cmcmarrow commented on #55308
https://github.com/saltstack/salt-jenkins/pull/1613 is merged now

[2020-05-22 18:01] #55308 closed

[2020-05-22 18:14] alan-cugler opened #57429 "collections deprecation warning deque"
**Description**
Hello, working off the latest 3000.3 salt, and I have a deprecation warning for collections. I see [here](https://github.com/saltstack/salt/pull/57240/files) we had a merged PR for this in the sodium release but not for this particular file.

Relevant Warning
[code]
The main problem is I dont see a natural upgrade for `collections.deque` in collections.abc. Would someone know the w

[2020-05-22 18:19] ewhitesides opened #57430 "add autoreboot boolean parameter to win_wua.list install=True"
it would be great if you could incorporate an autoreboot switch, so that when updates are complete and one or more updates require a reboot, the machine will autoreboot.

this would be easier than having to issue a 'get reboot status', check that all machines are returning true, then sending a reboot command.

[2020-05-22 19:13] #43223 closed

[2020-05-22 19:13] #49413 closed

[2020-05-22 19:13] #55905 closed

[2020-05-22 19:13] #56111 closed

[2020-05-22 19:32] #56328 closed

[2020-05-22 19:33] #56091 closed

[2020-05-22 20:50] #53943 closed

[2020-05-22 20:52] sagetherage commented on #55444
closing as fixed and will be released in Sodium

[2020-05-22 20:52] #55444 closed

[2020-05-22 20:57] sagetherage commented on #56240
I think you did this backwards @Akm0d -- you use the syntax in the PR to resolve the issue. closing as done.

[2020-05-22 20:57] #56240 closed

[2020-05-22 21:40] garethgreenaway commented on #57403
@felixglow I attempted to replicate this with a CentOS 7 master running 3000.3 and a Ubuntu 14.04 minion running 2019.2.0, but unfortunately I wasn't able to.  Commands ran as expected.  Ubuntu 14.04 is no longer supported by us so it won't be receiving new packages.  Are you able to upgrade to a newer version of Ubuntu?

[2020-05-22 21:43] crimv42 opened #57432 "Git broken in Python3 Minion when not using UTF-8 as system locale"
**Description**
When trying to use the state `git.latest` on a system that uses both Python3 and a locale that is _not_ UTF-8, the state fails with a `UnicodeEncodeError`:
[code]

**Setup**
State:
[code]

Also tried `output_encoding: latin-1`, and same results.

**Steps to Reproduce the behavior**
Try the git.latest state while using a system locale that is not UTF-8.

**Expected behavior**
Git cl

[2020-05-22 22:10] plReynaerde opened #57433 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0x82 in position 22: invalid start byte"
### Description of Issue
Nearly every salt command gives an exception.

[code]

### Setup
No changes in the default setup.
On de master i did a upgrade to 3000.3 from a working environment

On the client i did a plane install by apt install salt-minion

### Steps to Reproduce Issue
On a raspberry pi running raspbian buster (10.4) run:
[code]

### Versions Report
[code]

[2020-05-22 22:13] sagetherage commented on #56055
@saltstack/docs-working-group @barbaricyawps the docs still exist for salt-unity which has been deprecated from the code base docs can be seen here: https://docs.saltstack.com/en/latest/ref/cli/salt-unity.html

[2020-05-22 22:52] #57311 closed

[2020-05-22 22:54] #51883 closed

[2020-05-22 22:54] #52301 closed

[2020-05-22 22:54] #53521 closed

[2020-05-22 22:54] #53623 closed

[2020-05-22 22:54] #53908 closed

[2020-05-22 22:54] #53947 closed

[2020-05-22 22:54] #54169 closed

[2020-05-22 22:54] #54292 closed

[2020-05-22 22:54] #54387 closed

[2020-05-22 22:54] #54390 closed

[2020-05-22 22:54] #54439 closed

[2020-05-22 22:54] #54443 closed

[2020-05-22 22:54] #54800 closed

[2020-05-22 22:54] #54811 closed

[2020-05-22 22:54] #54968 closed

[2020-05-22 22:54] #54969 closed

[2020-05-22 22:54] #55176 closed

[2020-05-22 22:54] #55178 closed

[2020-05-22 22:54] #55310 closed

[2020-05-22 22:54] #55525 closed

[2020-05-22 22:54] #55538 closed

[2020-05-22 22:54] #55574 closed

[2020-05-22 22:54] #55699 closed

[2020-05-22 22:54] #55852 closed

[2020-05-22 22:54] #55891 closed

[2020-05-22 22:54] #56137 closed

[2020-05-22 22:54] #56234 closed

[2020-05-22 22:54] #56522 closed

[2020-05-22 22:54] #56683 closed

[2020-05-22 22:54] #57348 closed

[2020-05-22 23:00] sagetherage commented on #56035
@Akm0d did you put in a deprecation warning for this?

[2020-05-22 23:03] sagetherage commented on #57124
closing as fixed and will be released in Sodium

[2020-05-22 23:03] #57124 closed

[2020-05-22 23:04] garethgreenaway commented on #57069
@cerberek A fresh install of Debian 10 running Python 2, I haven't been able to reproduce this one.  Typically a key error from the Salt loader means that the module in question isn't available because checks in the `__virtual__` function didn't pass, these are usually checks to ensure certain libraries are installed.

[2020-05-22 23:18] flavius-iftode commented on #57417
@garethgreenaway I found something interesting in azurearm.py.
This statement:
 **_Note that the local file is not treated as a script by the extension, so "one-liners" probably work best_**.

Complete paragraph below:
**userdata** and **userdata_file**:
   Azure Resource Manager uses a separate VirtualMachineExtension object to pass userdata scripts to the virtual machine. Arbitrary shell command

[2020-05-23 01:02] nicholasmhughes commented on #57417
It's in the module docs:

https://docs.saltstack.com/en/latest/ref/clouds/all/salt.cloud.clouds.azurearm.html

Never really understood the use for the documentation split.

[2020-05-23 01:23] #50811 closed

[2020-05-23 01:23] #54175 closed

[2020-05-23 07:52] AldarisPale opened #57436 "service.dead fails on macos catalina [BUG]"
**Description**
service.dead is not working on macos catalina.
What happens is that I get "Operation now in progress" and retcode is 36.

**Setup**
demo state:
  service.dead:
    name: org.fusioninventory.agent

**Steps to Reproduce the behavior**
state.apply

**Expected behavior**
Service should be stopped

**Screenshots**
None

**Versions Report**
Can provide probably next week. Salt master is

[2020-05-23 09:56] rosscdh commented on #52120
+1 messes certain scripts up
salt 3000.3
saltstack/salt:latest docker image

[2020-05-23 13:42] #56320 closed

[2020-05-23 14:01] #54220 closed

[2020-05-23 14:42] #55094 closed

[2020-05-23 14:55] #47488 closed

[2020-05-23 14:56] natemellendorf opened #57438 "[FEATURE REQUEST] Junos Outbound SSH support"
**Is your feature request related to a problem? Please describe.**

Today, it appears that Salt supports the ability to establish an outbound SSH tunnel to a Junos device for remote management. (via Salt SSH)

This works well for devices that are publicly exposed or are privately available to the Salt master. However, devices behind a network address translation boundary (NAT) require exceptions t

[2020-05-23 15:07] waynew commented on #53148
Fixed in #53149

[2020-05-23 15:07] #53148 closed

[2020-05-23 15:29] oliverisaac commented on #55032
@garethgreenaway : I've rebased off master and created a PR: https://github.com/saltstack/salt/pull/57441

[2020-05-23 15:51] sagetherage commented on #52136
will be released in sodium - closing

[2020-05-23 15:51] #52136 closed

[2020-05-23 15:52] sagetherage commented on #52000
fixed with port to master -- will be released in sodium

[2020-05-23 15:52] #52000 closed

[2020-05-23 16:12] leeclemens commented on #57424
It seems it could be related to https://bugs.centos.org/view.php?id=8359 which is still "Assigned". I think a similar workaround as https://github.com/saltstack/salt/pull/31539/commits/a3b806d12667d8fe71a2f5f2a1908e9b6996dcd0 needs to follow to CentOS 8. Working on setting a test box to use.

[2020-05-23 16:29] rossengeorgiev commented on #57424
I don't think so. The `os-release` file has not changed.

[code]
and
[code]

[2020-05-23 16:42] LinuxLeafFan opened #57442 "[BUG] Spacewalk runner does not properly parse method namespaces"
**Description**
The spacewalk runner does not properly parse the method namespaces. It assumes that a simple .split('.') will result in a two element list [ namespace, method ]. This works in simple cases such as 'system.listSystems' but fails for namespaces such as 'channel.software.listChildren' which results in three elements and causes the following exception:
[code]

**Setup**
N/A

**Steps to

[2020-05-23 17:15] gecube commented on #53836
Please reopen the ticket, because the issue still exists in 3000.3

[code]

[code]

[2020-05-23 17:17] gecube commented on #53836
#54449 - the same

[2020-05-23 17:17] gecube commented on #54449
I used the `reload_modules` and it looks like it worked for me. OK. Could you all make more thoroughly tests? I will try to repeat too :-)

[2020-05-23 17:22] garethgreenaway commented on #55032
@oliverisaac Thanks!  I was finally able to reproduce this and finally see the root of the issue.  Will check your PR and get some tests written for it.

[2020-05-23 17:41] #39881 closed

[2020-05-23 17:41] #51153 closed

[2020-05-23 17:41] #54788 closed

[2020-05-23 17:51] #54393 closed

[2020-05-23 18:01] sagetherage commented on #49636
The Open Core team no longer owns or develops the dot com site or the blog - will assign to our Community Manager for follow up on a blog RSS feed.

[2020-05-23 19:26] onnodb opened #57445 "certutil.add_store with salt:// URL doesn't respect saltenv"
**Description**

In my state file, I have:

[code]

My master `file_roots` are set up in _production_ and _staging_ environments --- so no _base_ environment is present:

[code]

My minion is set up to have `saltenv: production` and `pillarenv: production` (minion config), so it should always try to fetch things from the _production_ environment. This works fine for pretty much everything as far a

[2020-05-23 19:55] #57379 closed

[2020-05-23 22:08] rossengeorgiev commented on #57424
Can confirm that adding CentOS 8 to that place resolved the problem

[2020-05-24 00:35] kirandevops commented on #15177
Greetings!
How do I use replace plan text password in the state with a pillar value? For example, when I use {{ domain_user }} and {{ domain_password }} pillar keys, the state fails.

[2020-05-24 07:26] richardsimko commented on #54449
@gecube Are you installing docker using `pkg.installed` or `pip.installed`?

[2020-05-24 09:27] heini opened #57447 "[BUG] ssh_auth.present with "source:" cuts comment at first blank"
**Description**
When using `ssh_auth.present` with a `source:` attribute, the comment in the resulting authorized_keys entry differs from the one in the source file in that it is cut off at the first blank. If, for example, the source file is
[code]
the authorized_keys entry is created as
[code]
This doesn't happen when `name:`, `enc:` and `comment:` attributes are used directly.

**Setup**
[code]

[2020-05-24 19:51] leeclemens commented on #57424
I tested on CentOS 6 and it's fine there too (as well as 7 and 8), so long as Salt is no longer supporting CentOS 5 (which may be fine) I think this `pop` works for any CentOS currently supported or moving forward. I'll force push a new change that only checks for 'centos'.

[2020-05-24 20:10] rossengeorgiev commented on #56957
@garethgreenaway hey, sorry to ping you, but is that something that can be looked at for upcoming release. It really hurts not being able to use `prereq`. I think this issue goes as far back as v2017.

[2020-05-25 00:56] hemantaltair commented on #46665
+1 otherwise it's very difficult to go on a minion and check logs which is not practical when you have 1000 of infrastructure.

[2020-05-25 02:17] felixglow commented on #57403
@garethgreenaway There are some difficulties，this is an ancient project。Thank you brother！

[2020-05-25 03:40] #55032 closed

[2020-05-25 04:06] #57255 closed

[2020-05-25 06:13] Deshke opened #57449 "pki/master/minions store module"
**Is your feature request related to a problem? Please describe.**

salt currently stores the minion keys as file in the configured pki_dir `/etc/salt/pki/master/minions` this does not scale at 5000 minions+

**Describe the solution you'd like**

a distributed pki store, something like a noSQL/keyValue backend for minion keys (redis/memcached/cassandra....)

**Describe alternatives you've consider

[2020-05-25 06:15] Deshke commented on #57449
links to https://github.com/saltstack/salt/issues/34238 what got somehow sleept on since 2016

[2020-05-25 07:17] cbosdo commented on #57275
Oops, looks like a bad copy/paste issue from the `virt.init` docstring. `virt.running` will always start the domain... that's what it used for. Otherwise, look into the `virt.defined` state that will come in Sodium.

[2020-05-25 07:18] dkacar-oradian commented on #57349
For a test server I have disabled pillars which access Vault and created it with:
[code]
In another terminal I was running:
[code]
And everything went fine. `salt-run` reported all events and didn't exit on error.

This is the interesting output from `salt-run` command:
[code]

[2020-05-25 08:46] loz-hurst commented on #43080
This is still an issue.

[2020-05-25 08:50] loz-hurst commented on #57406
@garethgreenaway My use case is for files and the older documentation (e.g. 2015.5.0 which I linked to) used a file-symlink in the example, so the docs suggest that the intention was to support symlinks even though the code never has.

If you are not going to support file symlinks then I think the current documentation needs to make clear that the old docs which did have symlinked files in the exa

[2020-05-25 08:57] loz-hurst commented on #57406
As a workaround, I'm having to use this recipe to get the file into multiple hosts' pillar data:

[code]

[2020-05-25 09:06] loz-hurst commented on #57405
@garethgreenaway No worries.  If you look at the commands and merges I've highlighted it used to be correct, was updated with a less contrived example (correctly, but losing the file symlink from the example) and then the merge into 2018.3 somehow conflate the old and new versions so the example "source" has the older version and the "generated pillar" shows the new one.

One fix is just to pull i

[2020-05-25 09:36] loz-hurst opened #57452 "salt.states.git does not set permissions correctly"
git clone uses the umask to control the initial permissions on cloned files.  When cloning sensitive files from our private git servers I want to clone them with a secure permissions (which I can do on the command line by setting umask (0077 or 0007)).  Git also provides a mechanism for overriding the effective umask via the `core.sharedRepository` configuration option (https://mirrors.edge.kernel

[2020-05-25 09:37] loz-hurst commented on #57452
I had a few searches through the open issues and could not find one for this already, apologies if it does exist and I missed it.

[2020-05-25 10:05] onmeac commented on #26605
We too have seen this issue, it gets even weirder when one uses keyword arguments for requisites (which we do).

Will not clean files:
[code]

Cleans files:
[code]

One of our many workarounds is to create the directory using cmd.run and then manage the "clean: True" using file.directory.

[2020-05-25 10:08] ZsBT commented on #55344
I've just met another example. Salt master and minion version is 3000.1.
No customization, a plain sysctl state :
[code]

...runs to error:
[code]

The PATH environment variable, obviously,  is not set locally.

[2020-05-25 10:28] OrangeDog commented on #34238
@cachedout this should probably be reopened

[2020-05-25 10:43] cachedout commented on #34238
@OrangeDog I agree but I don't have any GitHub permissions to do so. :) @sagetherage ?

[2020-05-25 13:19] oeuftete opened #57454 "[BUG] MacBookPro14,3 productname grain has a trailing null character"
**Description**

For a MacBook Pro with a model identifier of `MacBookPro14,3` (at least), the `productname` grain includes a null character at the end.

**Steps to Reproduce the behavior**

[code]

[code]

**Expected behavior**

The value of the `productname` grain would be `MacBookPro14,3` with no trailing null character.

I suppose it could be argued that we should take the value from `sysctl`

[2020-05-25 13:19] oeuftete commented on #57454
ZD-5071 and ZD-5133.

[2020-05-25 15:10] cerberek commented on #57069
System default is python 2, but Salt on Debian Buster is available only as Python 3, so i expect that install of salt-master is able to install python 3 dependencies and call python 3 libraries. Which libraries are missing here?

[2020-05-25 15:16] garethgreenaway commented on #55032
PR with the changes from @oliverisaac have been merged and the fix will be available in the upcoming release.

[2020-05-25 16:09] jleroy commented on #56361
FYI this issue is also present in version 3000.3.

[2020-05-25 16:48] b-a-t opened #57456 "[BUG] Empty formula makes `salt-call` to hang forever."
**Description**

Empty formula makes `salt-call` to hang forever.

**Setup**

We have a simple formula, that allows to add some custom states during the `highstate`, based on the minion's FQDN:
`custom_minion_state/init.sls`:
[code]
In 99% of the cases that renders to the empty SLS file, as there is no customization necessary.

**Steps to Reproduce the behavior**

Applying that formula to the host

[2020-05-25 18:25] garethgreenaway commented on #57069
@cerberek I ended up using the Debian 9 APT information to get around the Python2 / Python3 issue, but the packages you'll want would be python-redis for Python2 and python3-redis for a Python3 install.

[2020-05-25 21:00] Oloremo commented on #19958
@sagetherage Why this issue was closed? It's totally valid and present in 3000.x

[2020-05-26 00:12] b-a-t commented on #49939
Any progress?

[2020-05-26 06:28] Heiko-san opened #57458 "When will you provide a repo for Ubuntu 20.04 focal?"
Please release a repository on https://repo.saltstack.com for Ubuntu 20.04 focal.

[2020-05-26 10:41] cerberek commented on #57069
Yes it was missing python3-redis library. Thanks for help.

[2020-05-26 10:41] #57069 closed

[2020-05-26 11:15] DmitryKuzmenko commented on #52120
@rosscdh last occurrences of this issue are fixed in https://github.com/saltstack/salt/pull/57240 and will be released in Sodium.

[2020-05-26 12:25] rosscdh commented on #52120
Thanks for the info @Dmitry

On Tue, May 26, 2020 at 1:15 PM Dmitry Kuzmenko <notifications@github.com>
wrote:

[2020-05-26 15:07] ometol commented on #57456
I ran into this as well.  Indeed if you add any bit of random data to the sls outside of the if statement, so it will never be empty, will make it work.

[2020-05-26 15:18] garethgreenaway commented on #57069
Awesome.  Glad you got it all figured out.

[2020-05-26 15:35] garethgreenaway commented on #57349
@dkacar-oradian Sounds like maybe there is something in the event that is being generated for vault related activity that Salt is able to handle properly but the event runner is not.  This gives us some additional information to try to replicate this and get a fix in. Thanks!

[2020-05-26 15:39] garethgreenaway commented on #56957
@rossengeorgiev No worries.  This might be fixed with some recent changes to the requisites that we're looking at including for Sodium that @cmcmarrow worked on.  @cmcmarrow can you take a look and see if your recent PR fixes this situation?  Thanks!

[2020-05-26 15:57] jinm opened #57459 "Use consistent parameter name for file system type (fs_type vs fstype)"
**Is your feature request related to a problem? Please describe.**
mount uses 'fstype'. blockdev uses 'fs_type'

**Describe the solution you'd like**
use 'fs_type'

[2020-05-26 16:45] Akm0d commented on #57433
@plReynaerde python2 has been deprecated, have you tried installing salt with python3?

[2020-05-26 17:38] weswhet commented on #57436
@AldarisPale Thanks for opening the issue. I can confirm this happening. Starting on Catalina the underlying command on `launchctl bootout system/org.fusioninventory.agent` returns an exit code of 36 which salt treats as an error. The state should actually stop the service. If run again it should return no changes/errors. I'll see If we can get a fix in for this that ignores retcode of `36` on Cat

[2020-05-26 17:50] weswhet commented on #57454
Can confirm! Thanks for opening the issue. I'm in favor of striping the null character.

[2020-05-26 18:01] bryceml commented on #57458
This will happen when sodium is released, for a timeline, see: https://github.com/saltstack/community/wiki

[2020-05-26 18:54] VietTPham opened #57461 "[BUG]archive.extracted unzip command incorrcet order"
**Description**
archive.extracted options not being called in the correct order

**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info).
[code]
**Steps to Reproduce the behavior**
highstate the computer or state.apply it
It is running
```[ERROR   ] Command '['unzip', '-x', 'sys/*', '/test.zip', '-d', '/opt/zip/']' failed with return code: 9```

**Expected be

[2020-05-26 20:08] plReynaerde commented on #57433
Yes, i have. By the way salt-minion depends on the python2 apps.
# apt-cache depends salt-minion
salt-minion
  Depends: lsb-base
  Depends: bsdmainutils
  Depends: dctrl-tools
  Depends: python-crypto
  Depends: python-zmq
  Depends: salt-common
  Depends: init-system-helpers
  Depends: <python:any>
    python
  Recommends: debconf-utils
  Recommends: dmidecode
  Recommends: <sfdisk>
  Recommends:

[2020-05-26 20:44] eykd commented on #55811
**An addendum:** for us on Ubuntu 16.04, the above fixed the problem locally using `salt-call` but we were still seeing the problem when applying states to `salt-minion` from the `salt-master`. Removing the `python-mysqldb` apt package appears to have addressed this problem.

[code]

I don't know why `salt-minion` was getting the old version (1.3.7) while `salt-call` was getting the new (1.3.14).

[2020-05-26 21:32] oeuftete commented on #52981
ZD-5156.

[2020-05-26 21:44] twangboy opened #57464 "[BUG] [RC1 Sodium] Build Environment doesn't work since removing msvcrt"
**Description**
Since removing the msvcrt120.dll from the root of the python install the dev environment no longer functions. `pip install -e .`

The following stacktrace is thrown when running `salt-minion -l debug`
[code]

[2020-05-26 23:36] darkpixel opened #57466 "[FEATURE REQUEST] zfs.filesystem_present should support 'mode'"
There currently doesn't appear to be a way to set permissions on a file, folder or zfs dataset without creating it.

For example:

[code]
Will create ```tank/mydataset```.  But if I want to set permissions on it, I need to:
[code]

Unfortunately what happens--especially in the ZFS world is that the dataset actually exists, but it hasn't been mounted.  For example with encryption.

This causes salt

[2020-05-26 23:49] frogunder opened #57467 "[BUG] [RC1 Sodium] Mac report wrong system version in 3001 RC"
**Description**
Running `test.versions` reports `version: Darwin 18.2.0 ` should be `version: 10.14.3 x86_64`
This is on a 10.14 (Mojave) machine but see the same on 10.13 (High sierra) also.

[code]
I was expecting version to show
[code]
not
[code]
I am on a 10.14.3 machine
[code]

**Versions Report**

[code]

[2020-05-27 01:08] waynew commented on #52981
As extra flavor, here's another curl that fails for me:

[code]

[2020-05-27 04:09] darkpixel commented on #55214
I've got another box with this issue.  It was working fine years.  It doesn't appear to be dependent on location (multiple boxes across different states), client (it's occurring on 3 different client networks that are all wildly different), internet connection (one site is Comcast, another is Charter, a third is Wave Broadband).

DNS has no IPv6 record for salt.mxpriem.net.
IPv6 is disabled in the

[2020-05-27 06:04] krionbsd commented on #55214
Does the following work for you?
[code]
I have a strong feeling your stub resolver on minion with IPv6 tries to resolve master hostname, gets the FQDN from it and tries to connect to IPv6 first, as IPv6 is disabled on master it fails. In order to check it you might run from minion `ssh master -vvv` and look what type of IP is getting connected.

btw, did you check
[code]
for AAAA records?

Another

[2020-05-27 06:36] AmiramMaimon opened #57468 "Grains refresh/reload failed"
I'm trying to reload the `minion` grains during a sls run with no success.
I have tried to use:
  * reload_grains: True
  * saltutil.grains_refresh
  * salt service.running restart (using the watch statement)

Using each of the above function I failed to reload the grains during the state run.

Consider the following example:
[code]

At the `before` id I expect the domain field to be empty while o

[2020-05-27 10:05] Slamoth commented on #44768
on what line number or function did you put that on @rico256-cn ?

[2020-05-27 12:22] Oloremo opened #57470 "[FEATURE REQUEST] Add a return evaluation to unless & onlyif requisites"
**Is your feature request related to a problem? Please describe.**
Assume this example:

we have a consul execution module: `consul.get` that returns this data on a non-existent key
[code]
And state like this:
[code]
will pass
[code]

This is due to a very naive truthness check in the current implementation and due to the fact that there is no structure or strict format of the execution modules ou

[2020-05-27 13:05] krionbsd commented on #57429
It seems it's fixed in master branch, could you check it:
https://github.com/saltstack/salt/blob/master/salt/ext/tornado/httputil.py

[2020-05-27 13:32] krionbsd commented on #57466
[code]
That's absolutely logical, you might run zfs module to mount dataset first and then apply permissions to it in your state.

[2020-05-27 13:44] ironman627 opened #57472 "SDB.GET Module Traceback Error with SALT-RUN"
**Description**
When executing the command: "salt-run sdb.get sdb://mysqlite/app_licence_key" it generates the following error: (issuing the salt-call version of this command works fine)
#############
salt-run sdb.get sdb://mysqlite/app_license_key
[ERROR   ] An un-handled exception was caught by salt's global exception handler:
TypeError: Object of type 'bytes' is not JSON serializable
Traceback

[2020-05-27 14:24] davidme4 commented on #53313
Hi, guys, I have the same issue, with Salt 3000.3 on CentOS7 and cherryPy 5.6.0 : 401 using salt cherryPi REST API for Runners (with `client=runner`).
API OK with other `client=local`...
PAM external_auth is set with `@runner` in master conf.
Config :
[code]

[2020-05-27 14:43] davidme4 opened #57473 "[BUG] network.wolmatch invalid arguments error"
**Description**
Error ```Passed invalid arguments: string indices must be integers``` using runner network.wolmatch

**Setup**
Salt 3000.3 (On CentOS 7)

**Steps to Reproduce the behavior**
Just (after having Minion associate, with Grains Cache) test `wolmatch` function as defined [here](https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.network.html#salt.runners.network.wolmatch).

[2020-05-27 14:55] darkpixel commented on #57466
Back before ZFS supported native encryption, we used salt to manage LUKS to 'unlock' the drives, followed by a zpool import.  Occasionally things would go so well and before the pool could be imported some process (like samba) would trample all over /tank followed by salt setting permissions on the unmounted filesystem.  I would have to abort everything, zfs umount -a, rm -rf /tank, then zfs mount

[2020-05-27 14:56] amendlik opened #57474 "[BUG] slsutil.renderer does not work with salt-ssh"
**Description**
`slsutil.renderer` does not work with salt-ssh. The underlying problem seems to be during the call to `cp.get_url` and the differences in that function between the minion and ssh agents.

**Setup**
The simplest setup is to call slsutil.renderer directly:
`salt-call slsutil.renderer salt://anything.yaml`

**Steps to Reproduce the behavior**
(Include debug logs if possible and releva

[2020-05-27 14:58] davidme4 opened #57476 "[BUG] network.wolmatch failed on Windows because of Loopback interface not ignored"
**Description**
`network.wolmatch` failed on Windows

**Setup**
Salt 3000.3 (On CentOS 7)

**Steps to Reproduce the behavior**
With correction indicated on the bottom of in https://github.com/saltstack/salt/issues/57473 to make `network.wolmatch`  working.
Just (after having Windows Minion associate, with Grains Cache) test wolmatch function as defined [here](https://docs.saltstack.com/en/latest/r

[2020-05-27 15:03] darkpixel commented on #55214
Yeah--if I use the IPv4 address directly, it has no problems communicating with the master.

[code]

The minion has no IPv6 connectivity.
[code]
Every other tool on the box definitely connects via IPv4.

I already did.  If you see previous comments I posted a screenshot of the DNS traffic from the minion.  It definitely requests an AAAA record, but it doesn't get an answer back.  It *never* querie

[2020-05-27 15:26] rico256-cn commented on #44768
@Slamoth

grep "The master key has changed, the salt master could have been subverted" /usr/lib/python3.6/site-packages/salt/crypt.py

[2020-05-27 15:47] krionbsd commented on #55214
ok, what if you use `interface: $IPv4` in your master.conf?

[2020-05-27 16:04] cbosdo opened #57477 "virt.init doesn't generate proper disk target devices"
### Description of Issue

When generating the XML for a VM that has a mix of disk buses using`virt.init`, the disk target names are not all starting from `a`.

For instance with the following disks is generating the following targets: `vda` and `hdb` instead of `vda` and `hda`.

[code]

[2020-05-27 17:31] natemellendorf commented on #57182
@DmitryKuzmenko Thanks! I've started on the PR (draft). Once It's verified functional and I have the new tests added in, I'll request a review.

[2020-05-27 17:47] oeuftete commented on #52981
@waynew's one-line fix in https://github.com/saltstack/salt/issues/52981#issuecomment-575768120 does work, but the catch is that support for the `ssl_ciphers` options was added in cherrypy in https://github.com/cherrypy/cherrypy/commit/0aa622f8ec930c95e45455acae810e23f3c47105, which is in version 10.2.2 and above.

@jyriatntt Your `Server` version in https://github.com/saltstack/salt/issues/52981#

[2020-05-27 18:34] kschafer2598 commented on #56171
I've upgraded minions/masters to 2019.2.5 and have the same issue.

What else can I try here?

[2020-05-27 19:40] Akm0d commented on #57433
Was this an upgrade that took salt from py2 to py3 or is this a raw first-time install of salt on the pi?

[2020-05-27 19:46] Akm0d commented on #57438
I wonder if this is something [heist](https://gitlab.com/saltstack/pop/heist) would solve well

[2020-05-27 19:48] plReynaerde commented on #57433
The master was an upgrade from a 3000.1 version (I believe it was already a python3 based one) and the minion was a fresh install.

[2020-05-27 19:50] Akm0d commented on #57442
I wonder if `command.split(".", maxsplit=2)` could also do the trick.

@LinuxLeafFan Do you want to try opening a PR to fix this?

[2020-05-27 19:59] Akm0d commented on #34238
Reopening based on **https://github.com/saltstack/salt/issues/57449**

[2020-05-27 20:00] Akm0d commented on #57449
Closing in favor of #34238 which is reopened :+1:

[2020-05-27 20:00] #57449 closed

[2020-05-27 20:07] Akm0d commented on #57452
Could the git cloning state be used in conjunction with [salt.states.file](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.directory) to manage permissions on the cloned directory?

[2020-05-27 20:14] Akm0d commented on #57454
Fixed in [idem-darwin](https://gitlab.com/saltstack/pop/idem-darwin/-/blob/master/idem_darwin/corn/hw/sysctl.py) A strip just needs to be done on the output of `cmd.run`

[2020-05-27 20:19] #57458 closed

[2020-05-27 20:23] dmurphy18 commented on #57433
@plReynaerde It is likely that you had Py 2.7 already installed on the Raspberry Pi since SaltStack does not support Py 2 with Buster. It has only ever been built with Python 3 support.  Debian 9 shipped with Debian's own fork of Salt (ran out of /usr/local/bin and /usr/local/lib) which conflicted with the version supplied by SaltStack (runs out of /usr/bin and /usr/lib). Is it possible that you p

[2020-05-27 20:24] Akm0d commented on #57459
To clarify,  [blockdev](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.blockdev.html) uses `fs_type` and [mount](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.mount.html) uses `fstype` and the request is to change the mount state to also call it `fs_type`?

[2020-05-27 20:25] jinm commented on #57459
Yes, thanks.

[2020-05-27 20:28] Akm0d commented on #57459
This would be a no-brainer to do when the two states were initially being created, but now I'd be worried about it breaking existing states -- for cosmetic reasons.  If there's high demand for the change let's do it, but we'll need some more opinions supporting this feature request :+1:

[2020-05-27 20:30] jinm commented on #57459
Totally agree with your point.

[2020-05-27 20:33] weswhet commented on #57454
@Akm0d idem-darwin is slated for Magnesium?

[2020-05-27 20:36] oeuftete commented on #57452
@loz-hurst The git module in places supports using `git_opts` (with [`clone`](https://docs.saltstack.com/en/master/ref/modules/all/salt.modules.git.html#salt.modules.git.clone), for example) to pass configure options.  If the analogous _states_ were updated to allow a `git_opts` argument as well, that would allow you to handle your use case in one secure step.

Is that the kind of thing you are lo

[2020-05-27 20:43] dmurphy18 commented on #57433
Reviewing the errors at the start of the issue, I believe that the Debian fork of Salt is active on your Pi
[code]

The correct path for Salt's version of the same file
[code]

[2020-05-27 20:48] Akm0d commented on #57470
Thank you for the feature request!  FYI This is something we're baking into `idem` early on in that project.  Does [salt-check](https://github.com/wcannon/salt-check) do something similar to what is being requested here for salt?

[2020-05-27 21:00] gdm85 commented on #50727
This is **not** fixed in the following versions available via Ubuntu:
* 3000.2 (testing)
* 2018.3.4 (19.10 Eoan Ermine)
* 2017.7.4 (current LTS Bionic Beaver 18.04)

Installing via pip3 also gives an exit code of 0 (!) with the following on-screen errors:
[code]

The installed `salt-ssh` also gives an exit code of `0` with multiple failures. @s0undt3ch is it possible that this is not yet fixed, or

[2020-05-27 21:40] s0undt3ch commented on #50727
I just merged the PR that, apparently, fixed this.
Can you try latest master branch?

[2020-05-27 21:43] plReynaerde commented on #57433
Well probably, but i install salt from:
/etc/apt/sources.list.d$ cat salt.list
deb http://repo.saltstack.com/apt/debian/9/armhf/latest stretch main
(There is was no 'buster', yet)

But you triggered me... There was still a salt dir in the /usr/lib/python2.7/dist-packages that was the 3000.1 version. So i removed that one. So i guess the apt update; apt dist-upgrade did not go well. An upgrade from

[2020-05-27 22:12] s0undt3ch commented on #50727
[code]
What exactly is trying to build a salt-ssh package?

[2020-05-27 22:14] plReynaerde commented on #57433
And @dmurphy18 you were right. I missed the deinstall the 2.7 version and install the 3 version. And basically that's what i just have done... Thank for your help!!

[2020-05-27 23:18] alexinvestor commented on #48465
Still in 3000.3 (3000.3+ds-1 on Debian).  Workaround: I use a salt build, so add a perl stanza to overwrite this line after having installed saltstack.

[2020-05-28 00:41] bitskri3g commented on #55316
Not stale - still happening on CentOS 8 (and more frequently)

[2020-05-28 00:48] oeuftete commented on #57454
@Akm0d it's going to need more than just a plain `strip()`, isn't it?

[code]

[2020-05-28 01:20] darkpixel commented on #55214
I tried setting that on the master as well as the ```source_interface: ip.add.re.ss``` on the minion.  Same result.

[2020-05-28 01:29] r-pufky opened #57484 "[BUG] network.interface on windows 10 minions returns (WMI?) interface description instead of name."
**Description**
Expected interface name is not returned for network.interface on Windows 10 salt clients.

Intended result: Have minions contact salt-master via wireguard tunnel, named "salt-client". This network is confirmed to: work, pingable on both minion/master machines and correctly applies salt states, minion client upgrades, etc. **through the tunnel without** specifying the interface, sal

[2020-05-28 05:34] AmiramMaimon commented on #57064
Any update?

[2020-05-28 06:03] loz-hurst commented on #57452
@Akm0d I tried that, it cannot be done securely - there is a window between the clone and the file state being applied when the files are world-readable on disk, which is not acceptable in my use-case.  The best work-around I have is to cmd.script it with a script that sets the umask and then runs `git clone`.

[2020-05-28 06:06] loz-hurst commented on #57452
@oeuftete Yes, that would be an ideal solution.  I have a very specific use-case but allowing us to set git_opts in the state would be useful in lots of situations I expect.  I'm using `git.latest` with this repo, so for me `git.latest` and `git.clone` would need to support the option.  I see that `git.pull` in the module supports the option too, so I presume this is fairly straight-forward to imp

[2020-05-28 06:58] pmurley commented on #57458
Is there a proper way to install on Ubuntu 20.04 before then? Running the bootstrap script gives the following error:

[code]

[2020-05-28 07:13] MntMrc commented on #37444
Hello, looks like is back in salt 3000.3
salt/returners/elasticsearch_return.py
[code]
for example.

[2020-05-28 07:26] Deshke commented on #34238
cool, is there any progress on this ?

[2020-05-28 07:41] onionka opened #57485 "[BUG] Saltcheck raises UnboundLocalError exception"
**Description**
Since I started trying out the saltcheck, I have gotten multiple exceptions like this. I don't know what exactly causes them, because the message is not really helpful. I was trying to implement simple tests for already working apache, just to learn how to implement tests. It should test if the directory exists and if `index.html` is present, just to try out `assertions` option. I

[2020-05-28 08:25] hongwuyuan opened #57486 "Saltstack's service will produce a file with jobID as the file name in the proc directory of the minion terminal after each issue of the task. This file will be deleted after a period of time. I want to know what is the mechanism of file deletion"
Saltstack's service will produce a file with jobID as the file name in the proc directory of the minion terminal after each issue of the task. This file will be deleted after a period of time. I want to know what is the mechanism of file deletion

[2020-05-28 11:14] krionbsd commented on #55214
That's absolutely weird, as well as this custom IPv6 minion tries to connect to. Do you use active directory or multiple IPs for the same hostname? Are you able to check DNS zone?

[2020-05-28 11:56] DmitryKuzmenko commented on #57182
Awesome! Thank you!

[2020-05-28 12:11] DmitryKuzmenko commented on #56171
@kschafer2598 I'm getting the empty results if I'm removing cache and run master and never run minion, using the only salt-call command. After I'm starting the minion once everything works good ever if I'm stopping it.

[2020-05-28 13:13] jinm commented on #57459
Can we consider making 'fs_type' as a valid input for the mount module in a future release and eventually retire 'fstype' couple releases away?

[2020-05-28 13:34] agraul commented on #57442
`command.split(".", maxsplit=2)` does not work, since `maxsplit` is the number of allowed splits. With 2 splits there would be 3 elements in the list. `maxsplit=1` does not work either in this case since it starts on the left side and puts too many things on the right element in the resulting list:
[code]

[2020-05-28 15:01] LHozzan opened #57488 "STANDALONE MINION - not clear description"
**Describe the solution you'd like**
I attempt to run a masterless server with `salt-master` daemon. In error log I spot problem, when salt-minion service cannot connect. In [document](https://docs.saltstack.com/en/latest/topics/tutorials/standalone_minion.html#standalone-minion) about stand alone monion I found information, that **daemon** `salt-minion` isnt neccessary for running command `salt-c

[2020-05-28 15:05] leifliddy commented on #52678
Are there any plans to backport this PR to previous salt releases as it's classified as a high security bug?

[2020-05-28 16:14] waynew commented on #52981
What we need to do to resolve this issue, then, is to add support, probably `api_ssl_ciphers` as an option to the Salt config. I'm guessing that we can do something like map `tlsv1.x` to the appropriate cipher sets, or just use the ciphers as provided.

We should also document, probably in the default config, as well as in the Salt-API docs, that it's only supported in CherryPy>=10.2.2.

---

- [

[2020-05-28 16:24] jyriatntt commented on #52981
@oeuftete Thanks, that explains it. I did not upgrade to the latest CherryPy in my last test.

@waynew I think that it should be enough, though, it has to be clear to the end user that this cipher set will give you tlsv1.x and this will give you tlsv1.n, so maybe mapping would probably be the best.

[2020-05-28 16:34] kphatak commented on #49939
This is very much needed for our use case. We have a few multi-master saltstack deployments each with few hundred minions connected with automation. Monitoring based on prometheus, exporter, grafana would help a lot.

[2020-05-28 16:47] darkpixel commented on #55214
I manage the zone mxprime.net.  I have a DNS server running BIND.  It's an extremely simple zonefile...

[code]

No IPv6.

The minion is on a private network that has AD, but it's not pointed at an AD DNS server.
The minion looks up DNS from the router (which is running dnsmasq) which in turn looks up from one of the big resolvers out there (1.1.1.1, 1.0.0.1, 8.8.4.4, and 8.8.8.8).

I've even trie

[2020-05-28 17:00] Talkless commented on #57089
I get a bit different traceback with 3000.2 on Sid:
[code]
I guess it does not like Debian Sid's version:
[code]
I gues workaround is to just use `cmd.run` manually..?

[2020-05-28 17:00] gaozhekang opened #57490 "[BUG] State 'pkg.installed' was not found"
**Description**
I got a problem when using salt on openEuler linux(both master and minion), which is an opensource linux system and uses rpm for pkg management & systemd for service management, like what Centos do.

It reports an error as ”State 'pkg.installed' was not found”. I guess it's because openEuler systems can not be recognized, while it's very similar to Centos or fedora. So is there som

[2020-05-28 17:16] gaozhekang commented on #57490
ISO can be downloaded here(If this can do help)
https://repo.openeuler.org/openEuler-20.03-LTS/

[2020-05-28 17:57] waynew commented on #52981
Yeah - I'm thinking that documenting the mapping, but allowing people to override and specify whatever ciphers they'd like, is the most sensible approach. There are a number of weird dependencies out there that people have, and while I think we should provide safe/easy/reasonable defaults, if someone has some weird set or subset of ciphers that they require, who am I to argue? 🤷 All they would rea

[2020-05-28 19:28] Akm0d commented on #57484
I solved a similar issue in idem-windows a while back, the code in [idem-windows](https://gitlab.com/saltstack/pop/idem-windows/-/blob/master/idem_windows/corn/net/interfaces.py#L630) might be helpful for finding a solution

[2020-05-28 19:44] Akm0d commented on #57490
Since the os_family is "openEuler" the change probably just needs to be made to yumpkg.py's [__virtual__](https://github.com/saltstack/salt/blob/9536d322acf35931baaf0e780528c56334d718cd/salt/modules/yumpkg.py#L85) function:

Specifically:
[code]
Needs to be changed to
[code]

Would you like to open a PR for that change?

[2020-05-28 19:50] Akm0d commented on #57459
Yes, that would be a good way to do it :+1:

[2020-05-28 19:51] Akm0d commented on #57454
Yes I believe so

[2020-05-28 19:53] Akm0d commented on #57454
Oh it looks like the underlying command is different.  Idem-darwin is doing `sysctl -n hw.model` and salt is doing `sysctl -b hw.model`

[2020-05-28 20:01] DmitryKuzmenko commented on #57486
This file is being created right before the job is starting it's execution.
Minion removes the file in the very beginning of the returning the job results to master when the job is done.
I can provide more details if needed. Feel free to ask.

[2020-05-28 21:08] twangboy opened #57493 "[BUG] Stacktrace on cmd.powershell"
**Description**
`cmd.powershell` throws a stacktrace when the return is an empty string

**Setup**
None

**Steps to Reproduce the behavior**
[code]

**Expected behavior**
[code]

**Versions Report**
master

[2020-05-28 21:55] mforde84 opened #57495 "[BUG] salt.util not finding rabbitmq module user_exists"
**Description**
I'm experiencing an issue with salt utils being unable to find the rabbitmq.user_exists module

**Setup**

part of the state init
[code]

Stating the rabbitmq role generates following:
[code]
**Steps to Reproduce the behavior**
Can only reproduce with jinja render. With CLI, the module works fine:
[code]
**Expected behavior**
Jinja should make a module call to rabbitmq.user_exists

[2020-05-28 21:59] darkpixel commented on #57422
I think there might be two separate issues here.

When some of the minions stop responding I suspect it some sort of issue where the minion thinks the socket is still open, but the connection really isn't there.

I had literally just done a ```salt '*' test.ping``` showing one of the techs the basics of salt.  Every minion responded.  About 45 seconds later I did the same thing and this time only

[2020-05-28 22:30] frogunder commented on #57467
This might not be specific to mac, since I see the same on Debian 10

On 3001rc1 I see this
[code]

While on 3000.3 it is this
[code]

I am on a 10.4 machine
[code]

[2020-05-28 22:38] darkpixel commented on #57422
Oh...and here's a strange one.
The minion running on the master itself disconnected.  Nothing in the error log.  I had to restart the service to bring it back online.

[2020-05-28 22:42] gdm85 opened #57496 "[BUG] pkgrepo.managed does not report missing gpg package error"
**Description**

When using `pkgrepo.managed` the actual underlying `salt-call` error is not reported, making it impossible to troubleshoot the issue without running the command manually (after enabling trace logging level on the master) on the minion.

**Steps to Reproduce the behavior**

Use a `pkgrepo.managed` stanza targeting a minion that has no `gpg` or `gpg2` installed.

The following error

[2020-05-28 23:18] darkpixel commented on #57422
After digging through more bug report, I found there's a setting ```ping_interval``` that I can apply to the minions.  I'm going to push this out and see if that fixes the disconnect issue.

I will do more testing over the weekend and see if I can trigger that file descriptor issue.

[2020-05-29 00:00] gdm85 commented on #50727
Sorry, I don't understand your question; the output snippet you mentioned is from the pip3 install command:

I am not familiar with the process but I guess it is preparing "wheels" for salt-ssh. This SO answer sheds some light: https://stackoverflow.com/a/44862371
It might be something missing in the requirements.

[2020-05-29 00:02] gdm85 commented on #50727
Which PR? Can't see it: https://github.com/saltstack/salt/pulls?q=is%3Apr+is%3Aclosed

Also, I have to ask: no regression test for this? :)

[2020-05-29 01:32] hongwuyuan commented on #57486
If I send a command like 'ping 127.0.0.1' on the proxy side, which can never be executed, will the files under the proc on the minion side disappear? Currently, I test that if I kill the process executing the task minion, I will delete all the files under the proc within 1 hour, during which I do no other tasks. Is there a mechanism similar to the timing task to periodically delete proc files belo

[2020-05-29 06:06] hongwuyuan commented on #57486
The files under cache / salt / minion / proc / of minion will be deleted automatically every hour, even if the minion task is still in progress. I want to know if this is the definition, or can I delete files of non running tasks?

[2020-05-29 06:16] hongwuyuan commented on #57486
Now I have a problem. I will execute the command like "Ping 127.0.0.1, tail - f file" on the master side to the minion side. This command will be executed forever. I need to kill these processes. I will kill them through kill_ The job method can't kill all the processes and their subprocesses executing the task. I wrote a script to kill the process tree, but the first step of my script is to read

[2020-05-29 07:46] gaozhekang commented on #57490
It solves the problem. Very grateful!
I'm ready to open a PR for my code and spec adaption on openEuler. But salt I'm using is an old version released in 2015. I'm not clear that if the same adaption on master branch is effective, I will have a test before that, so see you soon!

[2020-05-29 12:09] cbosdo opened #57497 "virt.defined with selected volume on disk-typed pool tries to compute another volume name"
### Description of Issue

With a libvirt storage pool defined of disk type, selecting existing volume in a `virt.defined` state will pick up a new volume name.

### Setup

Prepare a libvirt pool with a definition like this one:

[code]

Ensure there is only a `vdb1` volume created in that pool.

### Steps to Reproduce Issue

Add the following to a `virt.defined` state

[code]

Apply the state. The

[2020-05-29 21:12] #51123 closed

[2020-05-29 21:14] sagetherage commented on #51123
It should be closed with the syntax in the PR body to close the issue it is linked to upon merge - but we are not very good about linking issues with PRs. @OrangeDog please comment and mention me if this isn't corrected for you.

[2020-05-29 21:17] sagetherage commented on #57456
apologies! I can't seem to get the labels correct, today, my mistake in removing P3, merely wanted to add the severity with the definition that includes "hanging" which ATM is `Critical`

[2020-05-29 21:25] sagetherage commented on #43436
Closing as fixed in the above PR, will be released in Sodium mid-Jun 2020, please comment and mention me if this is incorrect.

[2020-05-29 21:25] #43436 closed

[2020-05-29 21:30] sagetherage commented on #48204
https://github.com/saltstack/salt/pull/56174

[2020-05-29 21:31] sagetherage commented on #48204
These fixes were released in 3000.1

[2020-05-29 21:48] sagetherage commented on #51467
This PR: https://github.com/saltstack/salt/pull/51265 still needs a port to master and that PR (the port to master, once created and merged) will resolve this issue - let's plan to do this in Magnesium.

[2020-05-29 21:48] dmurphy18 commented on #53559
@c4t3l Can you confirm that this issue has been resolved, and hopefully you are testing with the latest release 3000.3 - has CVE fix (so did 3000.2)

[2020-05-29 21:50] sagetherage commented on #51862
this was fixed in Neon (3000), closing, if more issues persist, please open a new issue with all relevant information.

[2020-05-29 21:50] #51862 closed

[2020-05-29 21:53] sagetherage commented on #52723
fixes were released in Neon, please open a new ticket if issues persist

[2020-05-29 21:53] #52723 closed

[2020-05-29 21:54] sagetherage commented on #52777
closing this as done and if changes are needed in the future let's open new tickets

[2020-05-29 21:54] #52777 closed

[2020-05-29 22:00] sagetherage commented on #55152
PR merged and will be released in Sodium mid-June 2020

[2020-05-29 22:00] #55152 closed

[2020-05-30 00:10] bryceml commented on #57458
a pip install of it from the master branch should work (this shouldn't be done on a production machine since it's a moving target and there are no assurances of quality)  The rc repos should be availble June 2nd here: https://repo.saltstack.com/salt_rc/py3/ubuntu/18.04/amd64/ (also don't recommend on a production machine)

[2020-05-30 02:47] max-arnold commented on #57474
Looks like a duplicate of https://github.com/saltstack/salt/issues/50196

[2020-05-30 03:52] jude opened #57501 "[BUG] msgpack.py: 128: DeprecationWarning: encoding is deprecated, Use raw=False instead"
**Description**
A lot of my minions are logging the message

[code]

This issue looks related to Issue #51398, but is surfacing at another location

**Setup**
N/A

**Steps to Reproduce the behavior**
Control reaches https://github.com/saltstack/salt/blob/master/salt/serializers/msgpack.py#L49 with salt.utils.msgpack.version >= (0.5.2)

In this case, options.setdefault() will set encoding='utf-8',

[2020-05-30 06:17] DmitryKuzmenko commented on #57486
Yes, this is a bug. Minion removes the proc file  only if the job is done. If you kill it the proc file is still there forever.

[2020-05-30 06:39] DmitryKuzmenko commented on #57486
The temporary workaround could be running `saltutil.find_job` for each file in the `prooc` dir to determine is it alive.
[code]

[2020-05-30 07:26] kiemlicz commented on #51123
The syntax:
[code]
Should do or there is some another syntax?

[2020-05-30 07:32] mchugh19 commented on #57470
Feature addressed in #57504

[2020-05-30 09:58] #15169 closed

[2020-05-30 15:46] nee2c commented on #52361
I have update the PR due to the conflicts with master.  If I get a chance next week I'll get some unit test written.

[2020-05-30 20:21] sathieu commented on #56571
#56356 ?

[2020-05-30 20:51] oeuftete commented on #56597
ZD-5188

[2020-05-31 01:57] cdfrey opened #57505 "cmd.run's runas does not drop privileges"
### Description of Issue
When running a program with cmd.run, using runas: username, the resulting action does not drop all privileges, and still runs with group ID of root.

### Steps to Reproduce Issue
Relatively simple to reproduce:

whoami test:
  cmd.run:
    - name: whoami > /tmp/whoami-test.txt && id > /tmp/id-test.txt
    - runas: someuser

Output of id-test.txt was:
uid=10002(someuser) gi

[2020-05-31 06:37] mchugh19 commented on #57485
@onionka Unfortunately, this appears to be a bug that is present in the v3000 release but it has been corrected in the master branch, and will be in future salt releases.

You can backport the fixed version from
https://raw.githubusercontent.com/saltstack/salt/master/salt/modules/saltcheck.py
and override the version shipped in v3000 by copying it into your `states/_modules` as described in https:

[2020-05-31 07:14] mchugh19 opened #57508 "Sphinx html generation edits rst files and removes exclude-members"
**Description**
The `make html` doc build process causes the source .rst files to be edited (at least in removing `:exclude-members:` entries), resulting in docs which include unexpected information.
See the difference betewen v3000 and master for [the saltcheck docs](https://docs.saltstack.com/en/master/ref/modules/all/salt.modules.saltcheck.html), and how master includes `class salt.modules.salt

[2020-05-31 13:41] NTmatter opened #57509 "[BUG] [RC1 Sodium] Missing grains in Fedora 32"
**Description**
Most grains are missing from grains.items on Fedora 32, when compared to Fedora 31. Notably, os, networking, and cpu grains are absent.

**Setup**
Create a Fedora 32 container:
[code]

Create a Fedora 31 container:
[code]

**Steps to Reproduce the behavior**
Get a list of grains and/or their contents:
[code]

**Expected behavior**
The Fedora 31 container comes back with 70+ lines o

[2020-05-31 16:03] Slamoth commented on #44768
Thanks.

[2020-06-01 04:28] damon-atkins commented on #57390
Salt already provides package management for Windows like RPM.  WinGet also has the same problem as Chocolatey assuming access to the Internet.  WinGet is beta at this stage. The advantage of WinGet seems to be more people willing to contribute to the package definitions. https://github.com/microsoft/winget-pkgs/tree/master/manifests.

WinGet is just an installer it has no state. It does provide t

[2020-06-01 08:06] boltronics opened #57510 "[BUG] salt-cloud deploy script failing when using a non-English locale"
**Description**
I run `sudo salt-cloud -m somefile.map`. when my system has the following environment variables set:
[code]
Somewhere in my deploy script, I have the command `apt-get update` which will always fail:
[code]

On occasion it will get a little bit further:
[code]

To fix this, I must run put everything back into English:
[code]

[code]

I expect this is a regression, as we haven't real

[2020-06-01 09:19] sblaisot opened #57511 "[BUG] ext_pillar named arguments not working as documented"
**Description**
https://docs.saltstack.com/en/master/topics/development/modules/external_pillars.html#configuration describe 3 methods to pass arguments to external pillar module
- example A with single positional argument
- example B with multiple positional arguments
- example C with multiple named arguments

Example A and example B work just fine but I can't manage to get example C (named argum

[2020-06-01 10:12] sblaisot commented on #57511
in [this line](https://github.com/saltstack/salt/blob/master/salt/pillar/__init__.py#L1132) `run` gets value `{'configfile': '/etc/myconfig.yml', 'test_ext_pillar': None, 'myconfig': 'myvalue'}` which seems like a bug in https://github.com/saltstack/salt/blob/310405df2c2a0dafa07b39eb54178d0031ed12ee/salt/loader.py#L400

[2020-06-01 13:29] sblaisot commented on #57511
Ok, the bug is inbetween my chair and my keyboard

My config should be:
[code]

Indentation problem in my yaml config file

[2020-06-01 13:29] #57511 closed

[2020-06-01 14:20] OrangeDog commented on #51123
Not sure when this got released, but it's fixed in 3000.3

[2020-06-01 15:05] hongwuyuan commented on #57486
I found a bug. In line 108 of salt/utils/minion.py, there is no return value when calling the _check_cmdline method, causing the following judgment error
![log](https://user-images.githubusercontent.com/39953293/83422548-47657780-a45c-11ea-9abf-d77b02b4ab0a.png)

[2020-06-01 15:10] hongwuyuan commented on #57486
#This is my code for printing the log
def _read_proc_file(path, opts):
    '''
    Return a dict of JID metadata, or None
    '''
    serial = salt.payload.Serial(opts)
    current_thread = threading.currentThread().name
    pid = os.getpid()
    with salt.utils.files.fopen(path, 'rb') as fp_:
        buf = fp_.read()
        fp_.close()
        if buf:
            data = serial.loads(buf)

[2020-06-01 15:12] hongwuyuan commented on #57486
This is my print log，_check_cmdline() method return None,It should be True or False

2020-06-01 22:35:54,736 [salt.utils.minion                                                            :141 ][WARNING ][11312] _check_cmdline PID is 21629
2020-06-01 22:35:54,737 [salt.utils.minion                                                            :155 ][WARNING ][11312] fopen path is /proc/21629/cmdline
2

[2020-06-01 15:20] hongwuyuan commented on #57486
Hello, I still have a question. The method _read_proc_file() will be executed once an hour, and more files below the proc will be detected. Could you please tell me where the specified code of this place is

[2020-06-01 15:22] pguinardco commented on #56571
I've built this and ran our tests against this. #56356 does fix the issue!

[2020-06-01 15:22] #56571 closed

[2020-06-01 15:42] gediminasz opened #57512 "[BUG] Reactor is unable to read secrets from Vault"
**Description**
After upgrading Salt master from Python 2 to 3, we have noticed that our reactor fails to read secrets from Hashicorp Vault with the following error:

[code]

**Setup**
Snippet from Salt master config:

[code]

Snippet from reactor:

[code]

**Steps to Reproduce the behavior**
1. Make sure Vault is configured on Salt master
2. Invoke a job that would trigger the reactor, any state

[2020-06-01 15:59] frogunder opened #57513 "[BUG] [RC1 Sodium] network.arp cmd does not work on Ubuntu 20"
**Description**
On 3001rc1 on Ubuntu 20 `network.arp` command does not work.

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.network.html#salt.modules.network.arp

Fails with this error
[code]

**Setup**
Install 3001rc1 on a Ubuntu 20 machine.

**Steps to Reproduce the behavior**
Run `salt '*' network.arp`
[code]

**Expected behavior**
[code]

**Versions Report**
[code]

[2020-06-01 16:39] lorengordon opened #57514 "[FEATURE REQUEST] Support IMDSv2 for retrieving EC2 Metadata grains"
**Is your feature request related to a problem? Please describe.**

AWS has released a new EC2 Metadata protocal, IMDSv2, that requires passing an authentication token when querying for EC2 Metadata. The token can be retrieved programatically. The old method, now dubbed IMDSv1, can be disabled entirely, which breaks the method salt is currently using to retrieve EC2 Metadata grains.

**Describe th

[2020-06-01 17:23] dmurphy18 commented on #57509
@NTmatter The problems are due to Salt 3000.3 does not support Python 3.8. This is being corrected in the next point release Salt 3001, of which a Release Candidate (currently under QA) is soon to be released, early June with Salt 3001 scheduled for mid to last June.  Fedora 32 has being passing internal tests and everything is expected to function correctly.

See https://github.com/saltstack/salt

[2020-06-01 17:30] hongwuyuan commented on #57486
When I opened the /proc/process/cmdline file, I was surprised to find it, but I executed vim normally on the terminal

with salt.utils.files.fopen('/proc/18761/cmdline', 'rb') as fp_:
...     print(fp_.read())
...
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/data/app/cje/cje-automation/lib/python3.7/site-packages/salt/utils/files.py", line 399, in fopen
    f_h

[2020-06-01 18:05] dmurphy18 commented on #57429
@alan-cugler Can you check per @krionbsd request that this is resolved

[2020-06-01 18:35] dmurphy18 commented on #57432
@crimv42 I believe that this is to be expected since Python 3 will typically assume UTF-8 is available.
For example: PEP 538 and PEP 540 cover this in detail and a working solution, see https://www.python.org/dev/peps/pep-0538 and https://www.python.org/dev/peps/pep-0540

This does work in environments where only 'C' and POSIX locales are available.using Python 3.7, Cython and POSIX locale, such a

[2020-06-01 18:40] dmurphy18 commented on #57476
PR submitted, but it needs testcases

[2020-06-01 19:05] frogunder commented on #57467
Also raspbian 10 is different on 3001rc1 than 3000.3.

[code]

[2020-06-01 19:10] dmurphy18 commented on #57505
@cdfrey It is operating as expected, for example:

[code]

The documentation states the default for **group** keyword parameter is **None**, hence getting the group for root since that is currently executing the command.
[code]

If this resolves your issue, please consider closing it unless there is other information I can provide to you.

[2020-06-01 19:13] #57474 closed

[2020-06-01 19:14] #57485 closed

[2020-06-01 19:29] amendlik commented on #50196
I can work on a fix if the @dwoz or someone at Salt can offer some guidance.

[2020-06-01 19:42] cdfrey commented on #57505
Thanks David.

I actually looked a group setting, considering the way other salt states work, but it was nowhere to be found on the latest doc page:

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.cmd.html

So it boils down to a documentation bug.

From a security point of view, though, this is very unexpected behaviour.  The default rights a user account holds should be controlle

[2020-06-01 20:19] sagetherage opened #57516 "[BUG] [RC1 Sodium] python 2 deprecation warnings and halt salt-call"
**Description**
Missed deprecation warnings:

 https://github.com/saltstack/salt/blob/master/salt/scripts.py#L106 and https://github.com/saltstack/salt/blob/master/salt/scripts.py#L215-L227

[2020-06-01 20:27] ghost opened #57517 "[FEATURE REQUEST] ip virtual module for SUSE operating systems"
**Is your feature request related to a problem? Please describe.**
Lack of virtual ip module for SUSE operating systems.

**Describe the solution you'd like**
Addition of a suse_ip module.

**Describe alternatives you've considered**
I've written a module using the rh_ip and debian_ip modules as templates and can create a pull request if desired.

**Additional context**
This is my first contributi

[2020-06-01 20:52] xeacott commented on #55251
@deborahcai Yes! Will have a PR up in a little 🛩️

[2020-06-01 21:24] dmurphy18 commented on #57508
Using the latest master branch, which is soon to be a Release Candidate, I have been unable to reproduce this issue.
[code]
this was with history of commands on Ubuntu 18.04
[code]

Can you try repeating with the current master branch to see if your issue has already been resolved, and if so, consider closing this issue.

[2020-06-01 21:33] dmurphy18 commented on #57510
2017.7.8 did not really support Python 3 and UTF-8 fully, that did not happen till the 2018.3 branch.
I understand you stating salt-cloud, but from the example given it appears to be an issue with Debian 9 and apt-get update, rather than salt-cloud which really provisions the VM.

Given stretch given it is oldstable at this point, backports doesn't really come into it.
But have you tried just runn

[2020-06-01 21:41] dmurphy18 commented on #51398
Closing this as fixed with PR https://github.com/saltstack/salt/pull/57122 about to appear in 3001 RC1.
If unsatisfied with this answer, feel to reopen it and direct it to my attention.

[2020-06-01 21:41] #51398 closed

[2020-06-01 23:49] boltronics commented on #57510
@dmurphy18 Yep, this Salt build is using Python 2.7 as per the versions report output. We haven't made the change to running Salt on Python 3 yet.

`apt-get update` runs without issue if ran manually. I've never seen the issue before, and we've been using Debian 9 for quite some years, so certainly a salt-cloud problem.

[code]
The same on both.

If it helps, I can also run `sudo salt 'gateway0.us

[2020-06-02 01:15] hongwuyuan commented on #57486
I finally found out the reason, because we changed the name of salt by secondary development, which resulted in the failure of judgment in "if b'salt' in data:" judgment, so I suggest adding "if b'salt' in data or b'minion' in data:" on this judgment.

...     data = fp_.read()
...

b'/data/app/cje/cje-automation/bin/python3\x00/data/app/cje/cje-automation/bin/cje-minion\x00-c\x00/data/app/cje/con

[2020-06-02 01:40] machine-outboundengine commented on #57456
I can seeing the same thing on Ubuntu 24.04. This also smells like #56332 .

It seems anything that touches salt:// hangs.

Hangs, where testfile is an empty file:
[code]

Doesn't hang:
[code]

Doesn't hang:
[code]

Hangs:
[code]

Hangs:
[code]
Doesn't hang:
[code]

Hangs and salt://testtest doesn't exist:
[code]

Hangs and salt://saltstack does exist:
[code]

[code]

[2020-06-02 01:42] edgan commented on #57456
I can seeing the same thing on Ubuntu 24.04. This also smells like #56332 .

It seems anything that touches salt:// hangs.

Hangs, where testfile is an empty file:
[code]

Doesn't hang:
[code]

Doesn't hang:
[code]

Hangs:
[code]

Hangs:
[code]
Doesn't hang:
[code]

Hangs and salt://testtest doesn't exist:
[code]

Hangs and salt://saltstack does exist:
[code]

[code]

[2020-06-02 03:28] edgan commented on #57456
I thought this might relate to gitfs, but a simple git clone with file_roots does the same thing. I also tried stripping it down. No pillars, no custom grains, a super basic top.sls, and an example state from above. Even the most basic of setups hangs with 3000.3, py3, and salt-call.

[2020-06-02 04:42] mchugh19 commented on #57508
@dmurphy18 That's really odd. When I opened the ticket, I had replicated this issue on master. Going back to the same session with the same dependencies, it no longer occurs.

However, this ticket should still be open, as the problem described is live on the published docs right now as shown with the [classes showing up at the bottom of the saltcheck docs](https://docs.saltstack.com/en/master/ref/

[2020-06-02 07:55] max-arnold commented on #57508
I can reproduce it using the 310405df2c2a0dafa07b39eb54178d0031ed12ee master revision:

[code]

[code]

[2020-06-02 09:09] pankajghadge commented on #57196
@DmitryKuzmenko Any finding or progress regarding this issue ?

[2020-06-02 09:14] DmitryKuzmenko commented on #56171
Could you also please check is this the same on both masters?

[2020-06-02 10:11] DmitryKuzmenko commented on #57486
@hongwuyuan good catch! Thank you for analyzing this. The proposed change sounds good to me. Will you create a PR with the fix?

[2020-06-02 10:27] OrangeDog commented on #57513
It's in the obsolete package `net-tools`, which is no longer part of the default installation.
That package has been deprecated for a while. Replacement commands are as follows:

old | new
-- | --
arp | ip neighbor
ifconfig | ip addr, ip link, ip -stats
iptunnel | ip tunnel
iwconfig | iw
nameif | ip link
netstat | ss
route | ip route

There's probably a wider issue here for all the linux networkin

[2020-06-02 10:27] DmitryKuzmenko commented on #57196
Sorry, I've stopped on installing environment and switched to another task. Now I'm back on this.

[2020-06-02 12:14] DmitryKuzmenko commented on #57196
I still can not reproduce this. But I have found an upstream bug in `python-etcd` project.
https://github.com/jplana/python-etcd/issues/179
https://github.com/jplana/python-etcd/issues/190
I have tried different versions but still can not reproduce it.
Anyway possibly upgrade to the latest versions of `python-etcd` and `urllib3` could help.

@pankajghadge are you able to try it?

[2020-06-02 12:43] oeuftete commented on #54869
ZD-5202

[2020-06-02 12:48] nohaj opened #57520 "NFS mounts are remounted at every execution"
Hello,

I'm trying to mount some NFS shares on my servers and it seems that I'm facing the same problem as the unresolved issues #15289 and #53688 .

[code]

[code]

At the first execution, the folder is created and the mount is done.

Then, for all the others executions I get :

[code]

Same in python :

[code]

Am I doing something wrong ?

Regards,

Johan

[2020-06-02 14:44] dmurphy18 commented on #57508
Marking it as fix pending verification then, so will revisit once Salt 3001 is released

[2020-06-02 14:54] Heiko-san commented on #51356
The gpg-agent.conf workaround doesn't seem to work for me.
However it seems, the error only occurs with a certain setting of worker_threads in comibination with a certain amount of minions targeted. In my case I target about 100 minions and have a worker_thread configuration of 20. Actually lowering it to 19 everything works without the error.

I issue something like `salt '*' state.apply monitori

[2020-06-02 15:08] sagetherage commented on #57057
closing as there likely isn't any new relevant information to be added, here and if there is please see our Community Slack Channel [#salt-store-miner-public](https://saltstackcommunity.slack.com/archives/C01354HKHMJ)

[2020-06-02 15:08] #57057 closed

[2020-06-02 16:44] rosscdh commented on #56276
+1

[2020-06-02 16:56] dmurphy18 commented on #57520
@nohaj Can you upgrade to Salt 3000.3 as there were a number of issues fixed in runner's etc. in that release, and this might have affected nfs mounts too.   And then rerun your tests.
Thanks

[2020-06-02 18:06] Nerigal opened #57522 "haproxyconn Module : typeError: a bytes-like object is required, not 'str'"
**Setup**
haproxyctl-0.3.1 from `pip3 install haproxyctl`

[code]

**Steps to Reproduce the behavior**

`salt-call --local haproxy.show_backends -l debug`

[code]

[2020-06-02 19:43] xeacott commented on #57430
Our next release Sodium does have a `pending_reboot` grain, which can be utilized for this. We may add the ability to the functions themselves, so I won't close this ticket, but we aren't considering it right now.

That grain is in master right now so you can give it a shot.

[2020-06-02 20:06] thelande-kla commented on #57517
@dmurphy18 Thanks for the guidance. I'll take care of creating the PR.

SUSE uses different variables, values, and configuration formats versus RedHat, not to mention different file locations (`/etc/sysconfig/network` vs. `/etc/sysconfig/network-scripts`). For example, SUSE uses `STARTMODE` vs. `ONBOOT` and `PREFIXLEN` vs. `PREFIX`. RH also seems to place DNS settings in the device configuration f

[2020-06-02 20:22] frogunder commented on #57467
On Cent 7 is it different on 3001rc1 than on 3000.3

3000.3
[code]

3001rc1
[code]

Not saying it is the biggest deal but it would be good to see what specific version of cent 7 users are on, and not just saying `centOS 7`

[2020-06-02 20:25] sagetherage commented on #38099
kicking this back into triage to attempt to get movement on it

[2020-06-02 20:44] sagetherage commented on #45292
closing this issue as that the Open Core Team won't fix for now since it is Python 2.7 which we will stop supporting in the Sodium release this month, and given the age of the issue. if this issue still exists with Python 3 please open a new issue. With the many changes in Salt and Docker it will help to have a updated details on the existing problem.

[2020-06-02 20:44] #45292 closed

[2020-06-02 20:51] sagetherage commented on #42539
kicking this back to triage in an attempt to get movement

[2020-06-02 21:40] terminalmage commented on #45292
@sagetherage It seems that you have misunderstood the nature of this issue. There is nothing Python 2-specific about it.

I still don't think this is a Salt bug, though.

[2020-06-02 22:05] bryceml commented on #57458
The rc is out.

[2020-06-02 22:22] bryceml commented on #57513
The plan is to add a `Recommends` dependency on net-tools to Ubuntu 20.04 for the actual release.

[2020-06-02 22:24] bryceml commented on #57513
See https://github.com/saltstack/salt-pack-py3/blob/develop/file_roots/pkg/salt/master/ubuntu2004/spec/salt_ubuntu.tar.xz

I already updated the debian control file.

[2020-06-02 22:24] Vaelatern commented on #42539
ok, so:

When working with runit, to enable and start a service, you:
`ln -s /etc/sv/$service_name /var/service`

When enabling but NOT starting a service, do the above and then quickly stop it with an `sv stop $service_name` (or play with the `/etc/sv/$service_name/down` file, which, if it exists, will prohibit running the service).

To check that a service is in fact running, `sudo sv check $ser

[2020-06-02 22:29] bryceml commented on #57508
https://gitlab.com/saltstack/open/docs/builddocs/pipelines

is where they are built for docs.saltstack.com in case anyone didn't know.

You can fork that repo and see what it produces on gitlab pages, or use it to try to reproduce locally.

[2020-06-02 22:29] prometheanfire commented on #56007
The fix looks like is in sodium (3001_rc1).  The requirements/base.txt needs to remove the cap now

[2020-06-02 23:01] dmurphy18 commented on #57512
testing it now

[2020-06-02 23:13] mazovladimir opened #57524 "[BUG] jobs.list_jobs shows "Target": unknown-target when using pgjsonb returner"
**Description**
A clear and concise description of what the bug is.

Hello Colleagues, I get an issue related to pgjsonb returner. The problem is: when I try to list jobs with the following command:

salt-run jobs.list_jobs search_function='pkg.update'

I get "Target": unknown-target

I suppose the issue in jsonb database load column.

CREATE TABLE jids (
       jid varchar(255) NOT NULL primary k

[2020-06-03 01:51] boltronics commented on #57510
I also hit this in a completely separate environment just now (separate AWS accounts, etc) but the same versions of Debian and Salt (also the Python 2 version).

[2020-06-03 02:11] boltronics opened #57526 "[BUG] Empty `master:` minion setting floods logs with stack traces"
**Description**
I deployed a Salt minion configuration update to a subnet of minions. Unfortunately the value of `master:` was missing from pillar for some of the minions, so the Jinja template left the `master:` field empty.

This caused the following trace to be continuously spammed to the logs:
[code]
It was spammed so frequently that all hosts affected by this ran out of disk space before I go

[2020-06-03 02:19] boltronics commented on #57526
To highlight the severity, here is an example from one of the affected hosts that was out of space:
[code]
However I think the fix will be easy.

[2020-06-03 05:03] mchugh19 commented on #57508
Just to repeat, the currently generated doc for master are incorrect. https://docs.saltstack.com/en/master/ref/modules/all/salt.modules.saltcheck.html show various classes and functions which should be hidden. As I'm not able to replicate any longer, I cannot point to which other pages also have this issue, but there were many.

The behavior I witnessed, seems to have occured for the docs currentl

[2020-06-03 07:30] nohaj commented on #57520
Hello,

Just updated in 3000.3, same issue =(

[2020-06-03 08:08] hupebln commented on #56657
Hey,
we faced the same problem you face. We see a difference in the behavior of dummy-proxies and napalm-proxies.
With napalm it renders fine, without any issues, but not with dummy-proxies.
I tried to follow the workflow of slsutil.renderer and at the point of this [line](https://github.com/saltstack/salt/blob/v3000.3/salt/utils/templates.py#L393) I compared the **decoded_context** and found a di

[2020-06-03 08:09] KresoDenis commented on #56994
Works ok for me on centos 7. Just had to preinstall yum-plugin-versionlock with yum as package on hosts before using holds on saltstack. Im using 3000 with python 3 tho.

[2020-06-03 13:28] markuskramerIgitt opened #57529 "[BUG] [RC1 Sodium] esxi/vsphere busy poll (100% CPU) for 8 seconds on Windows"
## Test cases

- `test.ping` spends 3/4 of 100% CPU by unsuccessfully importing esxi/vsphere
- `file.replace` on a text files of 5 lines takes 100% CPU for 11-13 seconds

## Expected behavior
- `test.ping` or `file.replace` take 15% CPU for 2 seconds or less.

## Pull requests
- May be fixed by: #57579
- Not be fixed by: #57576

## Test Setup

Install minion 3000.2 from Git

Execute

    pip insta

[2020-06-03 13:57] markuskramerIgitt commented on #57529
@twangboy created https://github.com/saltstack/salt/pull/57523

[2020-06-03 14:18] joshboon commented on #56798
also for folks deploying via salt-cloud you can build the packages and use the following script to install them. script should be dropped into /usr/lib/python3/dist-packages/salt/cloud/deploy/Ubuntu-2004.sh
[code]

You'll also need to add
`script: Ubuntu-2004`
to your cloud-profile for deploy

[2020-06-03 14:21] cerberek opened #57530 "[BUG] virt.pool_running failling"
**Description**
A clear and concise description of what the bug is.

State virt.pool_running should be in salt from  version 2019.2.0 i'm running 2019.2.5+ds-1 on minion and master

Definign pool with virt.pool_running fails. First run was OK

          ID: default
    Function: virt.pool_running
      Result: True
     Comment: Pool default defined and started
     Started: 14:11:23.789631
    Du

[2020-06-03 14:30] dmurphy18 opened #57531 "[BUG] [RC1 Sodium] remove arista_pyeapi incorrectly states send_command"
**Description**
The documentation example on page https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.arista_pyeapi.html

uses '**send_commands**' when it should be '**run_commands**' as stated drop down box and further down the page.

The error is in the bash example box just above the definition of
salt.modules.arista_pyeapi.call(method, *args, **kwargs)

[code]

**Screenshots**
![

[2020-06-03 14:42] eliasp commented on #57513
For replacing `net-tools`' functionality, instead of using `iproute2`'s CLI I feel like it might make sense to consider using [pyroute2](https://pypi.org/project/pyroute2/) instead, which is most likely far more performant, since it doesn't shell-out for every function but uses a native Python netlink implementation instead and also eliminates the issue of having to rely on parsing a command's out

[2020-06-03 14:58] waynew commented on #57516
Per discussion in the Community Slack, allowing people to even *start* Salt with Python2 is just a bad idea and will cause long-term confusion. We're going to change these to a `sys.exit` line, with some verbage to the effect of:

[2020-06-03 15:04] waynew commented on #57516
I believe we should also halt on `salt-call`

[2020-06-03 15:22] bryceml opened #57532 "[BUG] [RC1 Sodium] we can't run on less than pyzmq 17 anymore"
**Description**
We only seem to work on pyzmq 17 and newer, can't remember why exactly.  We should update our requirements to a minimum of pyzmq 17.0.0.

[2020-06-03 15:50] krionbsd commented on #56332
As we moved to 3000.3 in `sysutils/py-salt` this issue is fixed there. @cedwards any plans to migrate to 3000.3?

[2020-06-03 15:55] krionbsd commented on #56231
@darkpixel as we upgraded `sysutils/py-salt` to 3000.3 yesterday, it would be awesome if you could test this version and this issue on it. I assume official FreeBSD 3000.3 package will be available on 12-STABLE and on HEAD tomorrow, I did not commit it into quarter builds so it won't be available on security branches.

[2020-06-03 18:06] dmurphy18 commented on #57532
let me add the requirement for pyzmq >= 19.0.0 for Py 3.8 is also onerous and is there only to make Salt testing with wheels easier.

Fedora 32 ships with python3-zmq v18.1.2, v19.0.0 is in Rawhide
Ubuntu 20.04 ships with 17.1.2-3ubuntu1, again an issue with Py 3.8  and zmq being less than requirements

[2020-06-03 18:38] dmurphy18 commented on #57522
@Nerigal The last commit on the haproxyctl was 'Latest commit 8a10db7 on Aug 24, 2015'
Are you sure that this module is compatible with Python 3.6 which you are using on Redhat 7, since this appears to be a bytes vs str usage issue, typically not an issue in Py 2.7 but not in Python 3.

Noting that support for Python 3 was released in May 2015, but still quite some time ago, Py 3.4 and Py 3.5 wher

[2020-06-03 18:46] Vaelatern commented on #42539
I've confirmed that I can not make a runit service start with saltstack as of 3000.2.

[2020-06-03 19:10] ssiuhk opened #57535 "[BUG] salt-call x509.read_certificate error out when reading a Microsoft CA issued certificate"
**Description**
When using salt-call x509.read_certificate to read a Microsoft CA issued certificate, it will error out due to an exception raised in m2crypto library for unsupported format.
I've also raised https://gitlab.com/m2crypto/m2crypto/-/issues/276 to address the issue

**Setup**
[code]

**Steps to Reproduce the behavior**
[code]

**Expected behavior**
To print out decodable content of th

[2020-06-03 19:19] waynew opened #57536 "[BUG] [RC1 Sodium] msgpack requirements are incorrectly pinned <1.0.0"
**Description**

We've merged https://github.com/saltstack/salt/pull/57122 to support msgpack >=1.0, but our requirements files prevent installing with a greater msgpack.

We need to fix that.

[2020-06-03 19:20] waynew commented on #57536
@sagetherage we have folks asking for this in Sodium. It should be just changing the requirements file.

[2020-06-03 19:49] dmurphy18 commented on #42539
@Vaelatern Could you repeat that with 3000.3 as there was an issue with runners in 3000.2.  Thanks

[2020-06-03 19:58] eliasp opened #57537 "[BUG] Documentation URL anchor - result hidden by header"
**Description**
When linking to a specific function in the docs using an anchor (http://foo.bar/something#function), the first few lines incl. the most important part of a function - its signature, will be hidden by the header.

**Setup**
- Win10, Firefox 77.0

**Steps to Reproduce the behavior**
- Click on [this link](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.saltutil.html

[2020-06-03 22:30] twangboy commented on #41347
This addresses the issue. We would need to see if we want to backport this to master.
https://github.com/saltstack/salt/pull/52566

[2020-06-03 22:53] nmulcahey opened #57538 "[BUG] Undocumented Peer System dependency on Job Cache"
I have found that configuring a master to use `job_cache: False` results in `publish.publish` calls from a minion receiving an empty return from the master despite the peer returning a complete response to the master.

This does in fact make some sense that the result is discarded and the isn't query-able to be returned to the caller so I'm uncertain if this is missing documentation or a functiona

[2020-06-03 23:07] Nerigal commented on #57522
it is the version installed from `pip3 install haproxyctl`
haproxyctl-0.3.1

and yes i figured that the version on the repo work fine but the pip version is still broken with the  encoding of `cmd.getCmd()`

[2020-06-03 23:11] Nerigal commented on #57522
Also, i say here because i dont know where but in the official documentation
there is no mention on what are and how to install the requirements to make `salt.modules.haproxyconn` work properly

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.haproxyconn.html#module-salt.modules.haproxyconn

[2020-06-03 23:33] sagetherage commented on #57537
@saltstack/docs-working-group

[2020-06-03 23:37] sagetherage commented on #57531
assigning to @dmurphy18 to remove Jun 8th

[2020-06-04 00:03] sagetherage commented on #57505
@saltstack/docs-working-group

[2020-06-04 06:32] pankajghadge commented on #57196
@DmitryKuzmenko
python-etcd already have latest version 0.4.5 from the beginning
urllib3 upgraded from 1.25.7 to 1.25.9 (It is just a minor version upgrade)
We are still facing this issue.
If you want more trace details let me know. I will add log.trace or log.debug in salt python code.

[2020-06-04 08:44] aplanas commented on #57536
https://github.com/saltstack/salt/pull/57539

[2020-06-04 08:50] boltronics commented on #46152
I came up with a function I can put into an execution module to make things easier until this is fixed (again, please re-open this)!

Tested to work in Python 2.7 and 3.7.
[code]

[2020-06-04 09:34] OrangeDog opened #57541 "[Tech-Debt] Avoid use of deprecated net-tools"
**Is your feature request related to a problem? Please describe.**
The linux `net-tools` package has been deprecated since 2011, and provides commands including `arp`, `ifconfig`, `iptunnel`, `iwconfig`, `nameif`, `netstat`, and `route`.

Some salt modules make use of these commands, causing failures when they're not available (#57513).

**Describe the solution you'd like**
Code should be rewritte

[2020-06-04 11:31] AmiramMaimon opened #57542 "Exception/Error catch on sls include statement"
I have the following dynamic include block:
[code]

The sls will fail if one of the include files are missing.
Is there a way to `catch` (expect) the exception so the rendering and the salt run will not fail, i.e it will just skip this `include`.

for example:
[code]

In that note, is it possible to call include several times across a sls file?
meaning:
[code]

[2020-06-04 11:40] pesc opened #57543 "[BUG] Can't remove pkg inside for loop"
**Description**
salt3000.3 fails to remove pkg on FreeBSD while inside a for loop -> no problem while using pkg.installed or not deleting pkg's inside a loop

**Setup**
[code]

**Steps to Reproduce the behavior**
[code]
**Expected behavior (works in salt2019.2)**
[code]

**Versions Report**
<details><summary>salt --versions-report</summary>
Minion: FreeBSD; Master - Ubuntu; Both 3000.3

[code]
</d

[2020-06-04 12:24] sanjaymp18 commented on #51955
Facing the same issue, how else can we obtain public IP address of a minion from another minion in AWS ?

from master: `sudo salt minion-name cmd.run 'curl http://169.254.169.254/latest/meta-data/public-hostname'
`
from a minion ?

[2020-06-04 12:59] clallen commented on #55128
Still seeing this issue in 2019.2.5.

Interestingly, it works using "salt-call" directly when logged into the minion host.

[2020-06-04 13:47] cbosdo opened #57544 "Allow setting boot devices in virt.running and virt.defined states"
**Is your feature request related to a problem? Please describe.**

`virt.init()` module has an undocumented `boot_dev` parameter for ages that allows setting the boot devices order for a VM. This parameter needs to be provided also in the `virt.running` and `virt.defined` states for users to be able to create VMs booting using PXE or using an attached CDROM.

[2020-06-04 13:52] graphicore commented on #57121
@rvvliet I basically have the same issue (but trying to fetch), using pygit2, I found this issue googling for the error message. I managed to use the `GIT_CREDTYPE_SSH_KEY` method with the [underdocumented](https://github.com/libgit2/pygit2/issues/731) `pygit2.KeypairFromAgent` Keypair Constructor, after staring into pygit2 and libgit2 sources for a while. It uses `ssh-agent` deep down in [libssh2

[2020-06-04 14:05] myii commented on #10838
Still being reproduced, this issue needs to be reopened:

* https://travis-ci.org/github/myii/packages-formula/jobs/694412318#L4276-L4285

[2020-06-04 14:46] wb529kq opened #57546 "[BUG] lgpo set failing to set"
**Description**
When I apply the state `lgpo.set`

results in ...
[code]
running salt blah `lgpo.get` shows the correct results..

[code]
however ...

opening the UI  gpedit.msc shows ...
![image](https://user-images.githubusercontent.com/54352944/83769418-1cf40400-a680-11ea-8bdb-79776eef5c31.png)

... and it does not work, however if I cut and paste the URL into the UI and hit apply it works

run

[2020-06-04 15:24] dmurphy18 commented on #57522
@Nerigal You state it is pip3 installed, then it is not from CentOS 7 haproxyctl-0.3.1 since it will have been installed from PyPI, and you then state that the pip version is broken.

SaltStack is not in control of haproxyctl especially the version installed from PyPi. You can log the error with upstream for haproxyctl.

As for haproxyctl-0.3.1, I fail to find that package on either Centos 7 or Re

[2020-06-04 15:32] DmitryKuzmenko commented on #57196
I've just re-read all our discussion. Could you please detail some more things?
1. In the very beginning you've provided the log ending with
[code]
This log is from `salt` command or from minion?
2. When it happens the targeted minion terminates? Could you provide the debug log from the targeted minion? I want to understand what's happening there before this appears:
[code]
3. You mentioned syndic

[2020-06-04 15:34] dmurphy18 opened #57547 "[BUG] Beacon Watchdog doc is missing from Salt 3000.3"
**Description**
The documentation for watchdog is here https://docs.saltstack.com/en/master/ref/beacons/all/salt.beacons.watchdog.html#module-salt.beacons.watchdog

Note that it is missing from 20192.5 and 3000.3 documentation, when searching for it.
It used to be in the older  documentation, and the functionality has been there for some significant time and was in the 2018.3 documentation too.

[2020-06-04 15:36] sagetherage commented on #57508
@saltstack/docs-working-group this is the highest priority right now but would love for someone who does have a minute to look at it deeper

[2020-06-04 15:37] dmurphy18 commented on #57547
@saltstack/docs-working-group FYI

[2020-06-04 15:57] whytewolf commented on #47969
ZD-5222

[2020-06-04 16:09] sagetherage commented on #57541
I don't know if I would called this a feature - I see it as an enhancement to something that currently exists and is not working due to an upstream dependency deprecation some time ago (2011?!), but I don't have a template for `enhancement` :) so this works

[2020-06-04 16:35] OrangeDog commented on #57541
@sagetherage the only options are Bug and Feature

[2020-06-04 16:55] #57464 closed

[2020-06-04 17:08] #57467 closed

[2020-06-04 17:10] #57493 closed

[2020-06-04 17:19] dmurphy18 commented on #57546
@twangboy Can you take a look at this given its lgpo

[2020-06-04 17:47] sagetherage commented on #57541
yes, I put those in place, mostly putting notes for myself :)

[2020-06-04 17:49] dmurphy18 commented on #57538
@nmulcahey Can you provide example configuration and commands to reproduce the issue to ensure that the issue is understood and reproducible as seen by you. This ensures your issue when examining and testing for your issue, and not some other item found.  And please include a versions-report for the master and minion that you are testing with.
Thanks.

[2020-06-04 18:06] sagetherage commented on #51932
Somehow I mistakenly added the next release label to this issue, merely a mistake. It is working in master and will be released in Sodium you can find the RC for Sodium in these places:
GitHub Release tag: [https://github.com/saltstack/salt/tree/v3001rc1](https://github.com/saltstack/salt/tree/v3001rc1)
PyPi: [https://pypi.org/project/salt/3001rc1/](https://pypi.org/project/salt/3001rc1/)
The RC p

[2020-06-04 18:10] dmurphy18 commented on #57530
@cerberek While everywhere is 2019.2.5+ds-1, the versions-report is also useful to know which OS platforms you are using.  Can you please supply the versions-report for both the master and minion, since there are 5 different Debian/Ubuntu platforms on which 2019.2.5+ds-1 can be installed.