[2020-06-04 18:31] #48204 closed

[2020-06-04 18:52] NotSqrt opened #57550 "[BUG] [RC1 Sodium] [python3] Calls to python -m pip --version don't respect "user""
**Description**

Commands triggered by `virtualenv.managed` might not respect the `user` parameter, which result in a `__pycache__` folder owned by `root`, triggering permission issues later on.

**Setup**

On ubuntu 20.04, python 3.8, salt 3001 rc1 (but there does not seem to be any recent updates on https://github.com/saltstack/salt/blob/v3001rc1/salt/states/virtualenv_mod.py)

Minimal state exa

[2020-06-04 18:55] NotSqrt commented on #57550
(I tried with `pip_no_cache_dir` and some other options, hence its appearance in the logs, but that is not relevant)

[2020-06-04 19:01] NotSqrt commented on #57550
maybe the call in https://github.com/saltstack/salt/blob/v3001rc1/salt/modules/pip.py#L1302 ?

[2020-06-04 19:20] dmurphy18 commented on #57535
There is a PR in with m2crypto that builds wheels, but it hasn't been merged. Hopefully that will resolve this issue.

[2020-06-04 19:28] dmurphy18 commented on #57526
@boltronics The minion configuration is being written from pillar information in your application, and some of the minion's are failing to read the pillar information correctly and thus their configuration lacks the master: term.  Am I understanding the issue correctly ?

If so can you perhaps include an example of the configuration, pillars, top file, etc to allow understanding of the problem.  F

[2020-06-04 19:38] waynew opened #57551 "Flaky test - Failed integration.states.test_pkg.PkgTest.test_pkg_002_installed_with_version on SUSE 15.1"
It's possible that we're hitting some rate limiting, but this is definitely flaky:
[consoleText.txt](https://github.com/saltstack/salt/files/4732352/consoleText.txt)

[code]

[2020-06-04 19:40] waynew opened #57552 "Flaky test - integration.pillar.test_git_pillar.TestGitPythonHTTP setUpClass"
[code]

[2020-06-04 19:41] dmurphy18 commented on #57522
I expect Ubuntu 20.04 version is more up to date and functions correctly with Python 3 since they are shipping https://packages.ubuntu.com/focal/haproxyctl v1.4.3-1 (Debian versioning)

it’s not spelled out that you have to install it yourself, but on the top of any module documentation that has 3rd party deps it says something to that effect.

[2020-06-04 19:46] xeacott commented on #41452
Hi sir @howardjones this PR https://github.com/saltstack/salt/pull/57554 should address this issue...

[2020-06-04 19:52] Nerigal commented on #57522
i don't see anything about that here

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.haproxyconn.html#module-salt.modules.haproxyconn

[2020-06-04 20:14] dmurphy18 commented on #57522
[code]
Usually it says it for 3rd party deps, but not in current documentation.  SaltStack has recently hired new documentation writers and they going through the documentation for correction, errors and Python 2 specific items. I shall add this to their list of fixes

@saltstack/docs-working-group  Missing 3rd party deps requiring pip install for the haproxy module.
@Nerigal You need to file an u

[2020-06-04 20:23] Nerigal commented on #57522
@dmurphy18 ok thank you

[2020-06-04 20:24] sagetherage commented on #57535
@dmurphy18 can you reference the PR?

[2020-06-04 21:42] cingeyedog commented on #57327
It appears that importing map.jinja from saltcheck-tests, doesn't honor saltenv.

[code]

Here is the directory structure.

[code]

I am able to run `salt -C "test-minion" state.apply grub saltenv=dev` without issues.

However, when I run `salt -C "test-minion" saltcheck.run_state_tests grub saltenv=dev`, I get the same errors as described above.

[code]
However, if i change the the file_root for

[2020-06-04 21:58] DmitryKuzmenko commented on #55128
@clallen this is fixed by e5b3e87e55dc512705ff6155b4086add742454f5
This will be released with Salt 3001

[2020-06-04 21:58] #55128 closed

[2020-06-04 21:59] DmitryKuzmenko commented on #55128
Fix PR: https://github.com/saltstack/salt/pull/53167

[2020-06-04 23:26] xeacott commented on #53560
Does this need to be ported to master? https://github.com/saltstack/salt/pull/51304

[2020-06-05 03:04] boltronics commented on #57526
@dmurphy18 To put it simply, there was a pillar mis-configuration resulting in a number of our hosts ending up with a minion config that had `master:` in their config, without a value that would normally follow when that setting is used. If you need more config info than that, you're probably misunderstanding the issue.

Normally I believe the minion would default to "salt" as a master hostname if

[2020-06-05 05:22] enmanuel17 commented on #55629
@tjyang

Just want to clarify the options
salt_event_pub_hwm: 128000
event_publisher_pub_hwm: 64000

did not do anything since you were using salt version 2019.2.0 and those options were removed long ago in https://github.com/saltstack/salt/pull/49934  https://github.com/saltstack/salt/issues/49925

I believe the only thing that might have helped you was increasing your master resources.

[2020-06-05 06:47] mchugh19 commented on #57327
Thanks for the info @cingeyedog

I just pushed a fix for this in #57557. Sodium is already in a release freeze, so this is unlikely to make it in time, but you get the fixed version from that PR and place it into your salt states/_modules directory (and run saltutl.sync_all) to correct your existing setup.

It's a one line fix, and the saltcheck file itself should be able to be backported to any o

[2020-06-05 06:55] NotSqrt commented on #57550
To avoid the side-effect of creating `.pyc` files, it's possible to use `PYTHONDONTWRITEBYTECODE=1` env variable.

[2020-06-05 07:21] marceliq commented on #51932
Hi,
this issue seems to pop out again with version 2019.2.5

[2020-06-05 07:25] mchugh19 commented on #49332
@erwindon master branch saltcheck currently reports
[code]

Is this still an issue?

[2020-06-05 08:47] udf2457 opened #57559 "[FEATURE REQUEST] Switch to /etc/crontab"
At the moment `cron.present` places the entry in the root user's cron (i.e. the same as would happen if you ran `crontab -u root -e`).

The biggest problem with this approach instead of `/etc/crontab` is that you cannot assign a non-root user to the job, which you can do with `/etc/crontab`.  Sure you could prefix the `cron.present` entry with `sudo` but that's not exactly best practice (and is a

[2020-06-05 10:23] OrangeDog commented on #57542
I'm sure this has been a feature request for ages, but probably got staled at some point.

[2020-06-05 11:30] i2dcarrasco opened #57560 "mount.fstab_present doesn't mount the Filesystem"
### Description of Issue
I'm trying to use this method to mount my filesystems because I want to use the UUID in fstab, but I've noticed that fstab is changed but no filesystem is mounted.

### Setup
[code]

### Steps to Reproduce Issue
Just use the provided state with an empty of already formated disk.

You can see how the fstab is changed but filesystem is not mounted:
[code]

If you run the mou

[2020-06-05 12:34] schorsch3000 commented on #52132
How is this issue closed if nothing was done and the issue clearly did not resolve itself?

[2020-06-05 12:39] dkacar-oradian opened #57561 "[BUG][RC1 Sodium] Vault module cannot fetch more than one secret"
**Description**
The `vault` module in Sodium RC can get only one secret in a run. Attempting to get the second secret results in an error.

**Setup**
Master configuration:
[code]

The same effect happens with or without `uses` directive. The same configuration (without `uses`) works perfectly fine on 3000.3 (and it's the same token).

`pillar/top.sls`:
[code]
`pillar/testvault.sls`:
[code]

Those

[2020-06-05 12:51] schorsch3000 opened #57562 "[BUG] Acme state fails on first run, succeeds on every other"
**Description**
The Acme-state fails with an exception on the first run anfter cerbot runs successfully

**Setup**
[code]
Note: nginx is configured to server `/var/www/acme/` if the path starts with -well-known.
Cerbot runs successfully and is able to obtain a certificate

**Steps to Reproduce the behavior**
logs from `salt-call`
[code]

**Expected behavior**
I expected the acme state to work on t

[2020-06-05 13:34] oeuftete opened #57565 "[BUG] "ValueError: insecure string pickle" in s3fs cache read should be handled"
**Description**

Occasional errors have been observed loading the s3fs cache.  I've investigated a handful of theories on what might be happening in the particular customer environment, but can not reproduce.  However, it seems appropriate in this case to return no data from the cache lookup and continue, as is done with several other exceptions: https://github.com/saltstack/salt/blob/9e1caa2d4b6f

[2020-06-05 13:38] cingeyedog commented on #57327
Thank you @mchugh19

Verified the fix provided resolved the issue.

[2020-06-05 13:59] oeuftete commented on #57565
ZD-5095

[2020-06-05 14:09] skob commented on #51794
reopen plz

[2020-06-05 14:43] skob opened #57567 "pass salt function result to another function"
**Is your feature request related to a problem? Please describe.**
my problem is very similar to #51794 — I need to parse `return` from salt.function and parse it for next states. It's not easy to use reactor , because many states need to be runned in my orch.
How can I achieve this?

**Describe the solution you'd like**
Maybe something like registering variable or ability to pass return to next s

[2020-06-05 15:44] waynew commented on #57526
I would consider this a feature request. It's expected that you either provide a valid master, or don't and we set a default.

Defining your master as undefined is an undefined behavior, and clearly in nearly a decade it's never been something that's come up, and definitely not a common occurence.

[2020-06-05 15:49] dmurphy18 commented on #57524
Please supply salt --versions-report so we know which platform the problem is  occurring on and with which version of salt.

[2020-06-05 15:51] nee2c commented on #52361
I have added new PR #57569, with tests and docs updates

[2020-06-05 16:21] dmurphy18 commented on #57562
@schorsch3000 Can you re-run the issue against a released version of Salt.  Running issues on non-released versions of Salt is problematic since those versions are in flux and unreliable as a solid basis for investigation.

[2020-06-05 16:29] erwindon commented on #49332
@mchugh19
That is not an improvement :-)
See output of `test.providers` for a complete overview of all values.
I have 162 entries there on a 3000.3 system.
* 134 use the same python modulename as the salt modulename; and
* 24 entries have similar names, e.g. `ansiblegate` vs `ansible`.

but 4 behave different, comparable to the initial report:
* `saltcheck`: in the source code, it intends to retur

[2020-06-05 16:43] OrangeDog commented on #57456
Ubuntu 18.04, salt 3000.3 - no hang.
Ubuntu 20.04 salt 3001rc1 - hangs.

It's only a `state.apply` that does this, other functions I've used have been fine.

[2020-06-05 17:01] #57531 closed

[2020-06-05 17:12] NTmatter commented on #57509
A quick test of 3001rc1 shows more than 80 grains now.
<details>
<summary>Output from 3001rc1 on Fedora 32: salt-call --local --versions-report</summary>
Salt Version:
           Salt: 3001rc1

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: 2.8.0
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed

[2020-06-05 17:12] #57509 closed

[2020-06-05 17:14] julianpacheco commented on #56645
Hope you don't mind @ritwikbadola I just entered a PR to resolve this issue since it's still open.

[2020-06-05 17:33] mazovladimir commented on #57524
Salt Version:
           Salt: 3000.1

Dependency Versions:
           cffi: 1.12.3
       cherrypy: unknown
       dateutil: 2.8.1
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
         Jinja2: 2.10
        libgit2: Not Installed
       M2Crypto: 0.35.2
           Mako: Not Installed
   msgpack-pure: Not Installed
 msgpack-python: 0.5.6
   mysql-pyth

[2020-06-05 18:41] prometheanfire commented on #57536
can this be reopened since the patch was reverted?

[2020-06-05 21:26] whytewolf opened #57573 "[BUG] [RC1 Sodium] tplpath, slspath and relational path do not work in jinja import"
**Description**
In the past, there were 2 ways of being able to not have to type out the full path to a file if it was in the same path. slspath, tplpath which are variables and relative path.

Currently, none of these work as designed.

**Setup**
File directory layout

[code]

test_import1.sls
[code]
test_import2.sls
[code]

**Steps to Reproduce the behavior**

<details><summary>Relative path tes

[2020-06-05 21:28] sathieu commented on #39420
I've created #57540 to fix this without a lock. Please test...

[2020-06-05 21:58] whytewolf opened #57574 "[BUG] [v3000] [vRC1 Sodium] [v3001] slsutil.renderer when called through salt-call not exiting after run"
**Description**
Running salt-call slsutil.renderer is causing a freeze after the output.

**Setup**
install salt and render a file with saltutil.renderer `salt-call slsutil.renderer` watch it stick and have to hit ctrl+c to get a prompt back.

**Steps to Reproduce the behavior**
`salt-call slsutil.renderer salt://test/init.sls` file doesn't need to exist.

**Expected behavior**
salt-call exists af

[2020-06-05 22:06] b-a-t commented on #57456
Can you provide, at minimum, verbose versions output for both platforms? I feel that this is PY2 vs PY3 difference that makes this difference.

[2020-06-05 22:09] b-a-t commented on #57456
I feel that it's somewhere on the low level, in the way how event loop is handled.

It seems that the final `poll()` call doesn't have any timeout setting and waits only for any activity on the fds. As there is nothing to send back due empty state, it hangs forever.

[2020-06-05 22:18] b-a-t commented on #57574
As we are heavily using `slsutil.renderer` for syntax validation in the Git hooks for `sls` that looks pretty bad to me.

[2020-06-05 22:43] dmurphy18 commented on #57544
@cbosdo Using undocumented feature and parameters, even if they have been around for ages, is not a good policy for system software.  If can request the upstream maintainers for virt to document that boot_dev parameter, then SaltStack will consider the Feature Request.

Generally SaltStack only uses documented features, api's, parameters, etc.
If you want to discuss this further I shall hold this

[2020-06-06 07:01] hongwuyuan opened #57577 "How do I execute a python2 script"
Hello, one more question, I want to execute python2 script or code, what should I do, let's say I do "print 'hello', and it will report an error,

The File "/ TMP / __salt. TMP. B0j4vvg3. Py", line 3

Print "hello"
^
"SyntaxError: Missing in call to 'print'. Did you mean print(" hello ")?

[2020-06-06 09:59] markuskramerIgitt commented on #57529
Attempting to load the vsphere module on Windows makes no sense and take 8 seconds of 100% CPU.

To avoid loading the module, you can guard the import of vsphere module in the esxi grain (see below).
This is a one line fix and run time of test.ping is down from 17 to 4 seconds.

Profile 3000.2 minion from git

    \Python35\python.exe -m cProfile -o snakeviz test_ping--0--orig.prof  /Python35/Scri

[2020-06-06 11:08] OrangeDog commented on #57456
Nope

<details>
<summary>Works fine</summary>

[code]
</details>
<details>
<summary>Hangs</summary>

[code]
</details>

[2020-06-06 12:02] dropbrick commented on #57171
@echo-of-wind is there a workaround ? How did you fix CentOS ? Having the exact same issue.

[2020-06-06 13:39] dropbrick commented on #57171
yum update to 7.8 fixed it.

[2020-06-06 13:42] boltronics commented on #57526
Not reported at least. I wouldn't consider the lack of input validation a feature request, especially when consequences are so dire... but we can agree to disagree. It's your project.

[2020-06-06 16:22] damon-atkins commented on #47969
Maybe just stat() the file to determine if it exists, rather than directory listing and text comparison.

[2020-06-06 21:54] natemellendorf commented on #57182
I believe I’ve completed this work. The PR is now open and awaiting review. If it’s approved and merged in, we can call this request complete and close it out.

[2020-06-07 04:00] #57508 closed

[2020-06-07 08:08] cbosdo commented on #57544
@dmurphy18 the point is that `boot_dev` parameter is a parameter of `virt.init` that was hidden in `**kwargs` for ages... and this issue is about making it documented. I can only agree with you that hiding parameters is not a good practice.

[2020-06-07 11:50] rosscdh commented on #37657
still appears to not be documented.. found this thread fortunately +1 on documenting

[2020-06-08 07:40] daks opened #57580 "[BUG] pillarstack opts matching: pillar.items returns nothing"
Looking at documentation for pillarstack ext_pillar https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.stack.html it should be possible to define stack config files depending of grains, pillar or opts, like in the example

[code]

I tried pillar matching and it works but opts don't.

Here is one basic pillarstack setup that works. Minion has a 'saltenv' setting (it will be used later)

[2020-06-08 08:07] mazovladimir commented on #57524
Colleagues, Please try this commit:

https://github.com/saltstack/salt/pull/57534/commits/794d4cf12396670cf056928f408f7fda39fbefb5

I suppose this is final solution, no need to replace query

[2020-06-08 08:07] mazovladimir commented on #57524
just need to add
ret["tgt"] = data["tgt"]

[2020-06-08 09:26] lubyou commented on #55024
Hi,

The same happens on French systems, as the state in question assumes that the English word "successfully" is part of the certutil response:
https://github.com/saltstack/salt/blob/master/salt/states/win_certutil.py#L102

[code]

[code]

[2020-06-08 09:34] jynolen opened #57582 "[BUG] Salt override previously defined filterwarnings"
**Description**
The default behavior of filterwarnings is to push new rules to the top of the filter list.
If filter are inplace before salt init (like pytest) it will override configuration

** Test on **
https://github.com/saltstack/salt/tree/v3000.2

**Setup**
test.py
[code]

pytest.ini
[code]

**Steps to Reproduce the behavior**
[code]

**Expected behavior**
[code]

**Fix**`
Patch file content

[2020-06-08 09:44] dkacar-oradian commented on #57561
I have this working fine if I set `uses: 0` in the master configuration file.

But I'm really confused with the documentation in the release notes. That effect wasn't obvious to me.

[2020-06-08 09:52] s0undt3ch opened #57583 "[BUG] Support Upstream Nox Package"
**Is your feature request related to a problem? Please describe.**
While Salt supported both Python 2 and Python 3, it had to support it's own [fork of the nox package](https://github.com/s0undt3ch/nox/tree/hotfix/py2-release).
Now that Salt is Python3 only, we should move to the [upstream nox package](https://github.com/theacodes/nox).

**Describe the solution you'd like**
Provide a way to suppor

[2020-06-08 10:53] OrangeDog opened #57584 "[BUG] RuntimeWarning: line buffering (buffering=1) isn't supported in binary mode"
**Description**
Warning raised on py38

  f_handle = open(*args, **kwargs)  # pylint: disable=resource-leakage

**Setup**
Unfortunately, there's no indication of which state triggered it, and I was applying a big highstate for the first time. The following state functions applied changes:
<details>

[code]
</details>

**Expected behavior**
There should be no warnings during normal operation

**Ver

[2020-06-08 11:34] poofyteddy commented on #39420
Thank you for working on this @sathieu. Sadly i won't be able to test it because i am still running 2017 at work, and converting your code in this version will take a while.
we have an upgraded planed to 2019, so that will be a good time to how your fix compare to #54097. I'll keep you posted.
Until then, maybe @gmsoft-tuxicoman is in a better place to test this ?
We are official replacing salt he

[2020-06-08 12:39] sc-kanga commented on #53966
I take it there is still no response from developers? I'm also experiencing this issue.

[2020-06-08 12:54] oeuftete commented on #54045
ZD-4955

[2020-06-08 12:59] #57577 closed

[2020-06-08 14:13] dkacar-oradian opened #57585 "In the state module allow pillar argument to accept newlines as whitespace"
**Description**
Many functions in the `state` module have `pillar` argument. The documentation about syntax isn't very clear. It usually just says:

[code]
From that I cannot figure out if newlines are acceptable as whitespace characters.

**Setup**
Have one minion and one state file (contents doesn't matter).

**Steps to Reproduce the behavior**
Using `pillar` with only spaces works fine:
[code]

[2020-06-08 14:27] zbarr commented on #53147
My sock_pool_size is set to 64 currently and my worker_threads are set to 64 as well. We still have these issues occasionally with the timeouts but for one of my salt masters, restarting the service mitigates the issue for at least a week. As we are still on the 2018.3.3 master, we'll be pushing towards and upgrade soon anyway. We're seeing some memory leak issues that are documented [here](https:

[2020-06-08 15:19] frogunder commented on #57574
@whytewolf Thanks for reporting this issue.

[2020-06-08 15:19] frogunder commented on #57573
@whytewolf Thanks for reporting this issue.

[2020-06-08 15:40] frogunder commented on #57561
@dkacar-oradian Thank you for reporting this issue.

With the new updates to the Vault module in 3001 this seems to be expected behavior.
https://docs.saltstack.com/en/master/topics/releases/3001.html#execution-module-updates

@saltstack/team-core Does that seems correct that is is expected behavior?

Thanks.

[2020-06-08 15:49] jynolen opened #57586 "[FEATURE REQUEST] - Creation of External Logger is undocumented"
**Describe the solution you'd like**
The documentation here (https://docs.saltstack.com/en/latest/ref/configuration/logging/handlers/index.html#external-logging-handlers) describe the list of external logger defined out of the box of salt
But this is undocumented that it is possible to create new loggers in extmod folder by putting
log_handlers subfolder

**Additional context**
Taking logstash as

[2020-06-08 16:14] dmurphy18 commented on #57524
@mazovladimir I am confused by your 794d4cf , just moving a line down by 1, I don't see what difference that will make, and there is already
[code]
in that code, so why the need to 'add it' ?

[2020-06-08 16:22] dmurphy18 commented on #57526
Closing this as operating as expected, however a PR (Feature Request) adding input validation for a master which is undefined, would definitely be considered.

Please feel free to reopen this issue if unsatisfied with this answer

[2020-06-08 16:22] #57526 closed

[2020-06-08 16:25] frogunder commented on #57582
@jynolen Thank you for reporting this issue.

Seems like you have a fix for it. Do you wanna submit an PR to address this issue?

Thanks.

[2020-06-08 16:35] dmurphy18 commented on #57544
@cbosdo I can only again iterate that it is undocumented, hence please get the upstream to document it, as that is the correct place to have it documented. Once it is documented in libvirt then it can be considered for use in Salt.

[2020-06-08 16:42] mazovladimir commented on #57524
it seems I added multiple commits by mistake, there wasn't this line in source code

ret["tgt"] = data["tgt"]

[2020-06-08 16:44] dmurphy18 commented on #57544
@cbosdo Well arguing without you about boot_dev is pointless, went checking and it is already in the code for Sodium at least.
[code]

Also check out 'def init()' in the same module
[code]

Going to close this feature request since the code already has it.  If it is not working correctly, please open an issue describing the problem, and even better a PR with tests that fixes the issue.

[2020-06-08 16:44] #57544 closed

[2020-06-08 16:44] xeacott commented on #57378
@twangboy and I will discuss this and we'll see what we can do about this. We may not get to this immediately but we'll investigate.

[2020-06-08 16:44] xeacott commented on #57378
@ewhitesides also goes for your other feature request, but that other ticket probably won't need development work I left you a comment.

[2020-06-08 16:45] mazovladimir commented on #57524
If you check this file https://github.com/saltstack/salt/blob/master/salt/minion.py starting from line 1976 there is no line ret["tgt"] = data["tgt"].

[2020-06-08 16:49] dmurphy18 commented on #57524
Understand now, please submit a PR with tests for the solution that you have for the issue

[2020-06-08 17:03] dmurphy18 commented on #57520
This might be related to https://github.com/saltstack/salt/issues/39292 causing issues since the fstab is not quite the same.

[2020-06-08 17:05] cbosdo commented on #57544
@dmurphy18 The point of this issue was not that it wasn't in `virt.init()`, but that it was not exposed in the virt states using that function, namely `virt.running` and `virt.defined`.

And I also submitted a PR to implement it. See PR #57545

[2020-06-08 17:41] frogunder commented on #57580
@daks Thanks for reporting this issue.

I am seeing the same thing.

Thanks.

[2020-06-08 18:43] dmurphy18 commented on #57544
@cbosdo Sorry about that, initially took different meaning from your first sentence.  Thanks for the PR

[2020-06-08 19:45] darkpixel commented on #56231
Building on my salt master now... :)

[2020-06-08 19:59] kajigga commented on #49890
I am working on a solution where we need like to correlate logs generated by salt and logs created by processes that are triggered by salt (perhaps via cmd.run or something like that).

It would be relatively easy to match up log entries if we could capture the `jid` and pass it to these sub processes where it could be included it in those generated logs.

[2020-06-08 20:21] frogunder commented on #57584
@OrangeDog Thank you for reporting this issue.

Not sure what triggered that warning, but will ping the core team for input and awareness.

@saltstack/team-core Any thoughts on this one?

Thanks.

[2020-06-08 20:30] darkpixel commented on #56231
Salt master upgraded without issues.  Just upgraded 21 FreeBSD minions, no issues. Preparing to upgrade ~65 other Linux and BSD machines.

[2020-06-08 21:36] frogunder commented on #57573
I see that error on 3001rc1, 3000.3, 2019.2.5, 2018.3.5.
On 2017.7.8 I do not see that error.
Seems this issue has been around for while, and is not Sodium specific.

[2020-06-08 22:06] ewhitesides commented on #57430
The general idea is that it would be less moving parts to have the install function check that grain for me.

What if I were trying to check 1000 servers, every 5 mins for that grain? What if the salt-master was busy, so I would then need to call it with an async switch, so then my script would then need to parse json on a job lookup? You get the idea, the extra complexity starts snowballing.

[2020-06-08 22:08] ewhitesides commented on #57378
Thanks I'm just noticing the difference between what the salt module provides and the pswindowsupdate module.  If the salt module is more at parity with pswindowsupdate I can remove the middleman :)

[2020-06-08 22:18] xeacott commented on #57430
Sure, and we're trying to weigh all these considerations especially because with an auto_reboot feature, there could be just as many instances where someone _doesn't_ want to auto-reboot because it will take 1000 machines offline during production time and various intervals.

That's why we went in the direction of the grain right now and to give users the ability to monitor their own scheduling ba

[2020-06-08 22:38] arizvisa commented on #56390
Just to clarify, is this the case for both Python2 _and_ Python3 on windows? And in the meantime is the proper workaround to not `reload_modules`, and maybe just restart the minion?

[2020-06-08 23:27] twangboy commented on #57546
So, I just applied the following state:
[code]

I see the following in my gpedit:
![image](https://user-images.githubusercontent.com/9383935/84089684-dc142c00-a9ac-11ea-8a17-5f03bfcfb242.png)

I get this on 3000.2 and master branch...

[2020-06-08 23:37] twangboy opened #57591 "[BUG] `lgpo.get` stack traces with UnicodeEncodeError"
**Description**
`lgpo.get machine` returns a stack trace with a UnicodeEncodeError when the Computer Name contains unicode characters.

**Setup**
Set the computer name to something with unicode characters. In my case it was: kомпьютер

**Steps to Reproduce the behavior**
Run `salt-call --local lgpo.get machine`

Observe the following stack trace:
[code]

**Expected behavior**
A list of policies se

[2020-06-09 00:38] #57529 closed

[2020-06-09 00:40] #57583 closed

[2020-06-09 00:42] #55084 closed

[2020-06-09 01:09] ewhitesides commented on #57430
I would leave autoreboot as default to False, it's not something everyone will want.

[2020-06-09 02:40] #57403 closed

[2020-06-09 04:54] akhilgoel09 opened #57593 "Having issue regarding jinja template: "Unable to manage file: Jinja variable 'salt.utils.odict.OrderedDict object' has no attribute""
### Description of Issue
Hi Guys,
I am getting error on salt when using jijna template, error below,:
----------
          ID: /etc/tomcat8/context.xml
    Function: file.managed
      Result: False
     Comment: Unable to manage file: Jinja variable 'salt.utils.odict.OrderedDict object' has no attribute 'redis_base64_password'
     Started: 04:43:30.104276
    Duration: 26.431 ms
     Changes:

[

[2020-06-09 06:04] arizvisa commented on #56296
This also happens on Windows 8.1.

[2020-06-09 06:13] arizvisa commented on #56296
One way to allow users to fix this themselves would be to implement the `preflight_cmds` configuration option that salt-cloud has only implemented for posix environments. This way users can customize the minion environment prior to deployment similar to how you're able to do against posix environments.

[2020-06-09 07:02] arizvisa commented on #56296
Was able to resolve this manually by using dism to install the update rather than wusa.

[code]

[2020-06-09 07:21] arizvisa opened #57594 "salt-minion fails startup on Windows 8.1 x86 and x64, and likely any that doesn't include the relevant vc++ runtime"
**Description**
salt-minion fails startup on Windows 8.1 x86 and x64 when using the Salt-Minion-3000.1-Py3-x86-Setup.exe or Salt-Minion-3000.1-Py3-x64-Setup.exe, due to api-ms-win-crt-runtime-l1-1-0.dll is missing.

**Setup**
This is actually due to wusa.. Stop the Windows Update service as if you were planning on using saltstack to bootstrap the windows updates.

If its easier, you can use the fo

[2020-06-09 07:30] wb529kq commented on #57546
On windows 2019 ?

[2020-06-09 07:35] arizvisa commented on #57594
I take that back. This will only affect Windows 8.1 (x86 and x64) and Windows Server 2012R2 (as per #56296).

[2020-06-09 07:59] arizvisa commented on #56296
@xiaohuazi123, sorry to bug you. But is that a screenshot from Windows Server 2012R2? The reason why I ask is because my Windows 8.1 boxes also appear to use the exact same version "6.3.9600. The full version that I listed is from the following:
[code]

If it is definitely Windows Server 2012R2 and you still have access to it, can you run that `systeminfo` command and paste me its output (specific

[2020-06-09 09:18] OrangeDog commented on #57456
In case it's relevant, with debug logging the end is
[code]

[2020-06-09 09:22] #57591 closed

[2020-06-09 09:24] OrangeDog commented on #57584
Got it with debug logging enabled:
[code]
That's [this state from openssl-formula](https://github.com/saltstack-formulas/openssh-formula/blob/v0.43.3/openssh/config_ini.sls#L12).

[2020-06-09 09:31] damon-atkins commented on #43718
@twangboy Got powershell calling working the other day the key is setting `sys.path.append(r"important path") ` correctly
Where important path is the value of
`powershell "([PSObject].Assembly.Location)"`
Have not been able to find the above value in the registry.

[2020-06-09 09:38] OrangeDog commented on #57584
So the problem is here (default `bufsize` is 1).
https://github.com/saltstack/salt/blob/v3001rc1/salt/modules/file.py#L2552

[2020-06-09 10:07] sathieu commented on #39420
@poofyteddy I've ported #57540  to `2019.2.x` as #57597.

[2020-06-09 10:23] dkacar-oradian commented on #57561
OK, it is an expected behavior, but the documentation is rather confusing and should be improved.

1. Release notes say that `uses: 0` creates unlimited use token, but that information is not written in the `vault` module documentation. It should be there.
2. Neither release notes nor module documentation say what the defaults for `uses` and `ttl` are. That should be mentioned. Module documentatio

[2020-06-09 10:53] dahabakuk commented on #26876
this is still an issue in 2019.2
i started looking into procedures as queries are only allowed to have one occurence of %s (for the minion id)... and stumbled upon this problem...

[2020-06-09 11:04] jynolen commented on #57582
@frogunder Please find PR #57598 for the fix

[2020-06-09 11:55] OrangeDog commented on #57541
Closely related: Ubuntu doesn't use `ifupdown` any more, but `netplan`. The file `/etc/network/interfaces` is also not used.

[2020-06-09 12:45] erwindon commented on #57174
not impatient, but may be I should mention: "done"

[2020-06-09 12:45] pesc commented on #57543
Some more bugs I think it's related to it:

If I use salt-call to run a single state there's no problem. If I use salt-call to run two independent states it fails: For example if I run the ntp and nginx state on it's own -> no problem. If I combining them there's an error. But if I combining two other states it works

`[root@test:~] 41s 1 # salt-call -l critical state.sls ntp test=true  --state-ve

[2020-06-09 13:26] OrangeDog commented on #57541
I think the whole of `debian_ip` needs rewriting. Every config file and tool it uses is obsolete.
Related: #54791

[2020-06-09 14:02] OrangeDog opened #57600 "[BUG] pkgrepo.managed doesn't account for architectures in test mode"
**Description**
When run in test mode on an apt system, `pkgrepo.managed` incorrectly determines that there would be changes if an architecture is defined.

**Setup**
[code]

**Steps to Reproduce the behavior**
[code]

**Expected behavior**
After first application, no changes should be reported.

**Versions Report**
<details><summary>salt --versions-report</summary>

[code]
</details>

[2020-06-09 14:04] OrangeDog commented on #27181
@wolfpackmars2 those are forward slashes (`/`), not backslashes (`\`).

[2020-06-09 14:17] bryceml commented on #54791
See related: https://github.com/saltstack/salt/issues/55359

[2020-06-09 14:25] rossengeorgiev commented on #54791
While `ifcfg` style files are still available, to apply the changes, the network state will need to invoke NM. See https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/configuring_and_managing_networking/getting-started-with-managing-networking-with-networkmanager_configuring-and-managing-networking#Using-NetworkManager-with-sysconfig-files_getting-started-with-networking-

[2020-06-09 14:47] ucontacti opened #57601 "[BUG] Virt Module NIC default profile issue"
**Description**
I have Salt-master and Salt-minion connected. I try to use salt.modules.virt.init module. I get this error

Which means I have to change the interface from nonexistence br0. I do this by the following setup. But I still get the same error. I looked at the newly created configuration instance and even I set NIC profile to None. It still creates two different network interfaces and t

[2020-06-09 15:02] twangboy commented on #43718
What do you mean by `Got powershell calling working'? Is the path a requirement. I implemented a version of @absolutejam 's example above (https://github.com/saltstack/salt/issues/43718#issuecomment-410968388) to get interface info using .NET instead of WMI. It was an attempt to speed up the creation of grains. I didn't need to specify a path. I think the `clr` library handles all that.

https://g

[2020-06-09 15:05] gizahNL opened #57602 "[BUG] Intel GPU not found in GPU grain"
**Description**
Intel GPU not found in grain

**Setup**
default grains

**Steps to Reproduce the behavior**
Run salt-call grains.item gpus

**Expected behavior**
Expect to see Intel GPU listed in output.

[code]
**relevant bit in lspci -vmm**
[code]

[2020-06-09 15:48] rosscdh commented on #40214
+1 still happens in 2020

exact same issue and setup

[code]

[code]

[2020-06-09 15:53] frogunder commented on #57585
@dkacar-oradian Thank you for reporting this issue.

I am seeing the same thing.

Thanks.

[2020-06-09 16:08] frogunder commented on #57594
@arizvisa Thank you for reporting this issue.

@saltstack/team-windows @twangboy Can you take a look at this one?

Thanks.

[2020-06-09 16:13] rosscdh commented on #40214
so have managed to get it working by using gitfs and mouting the repo to the salt://win/ prefixed location

[code]

it appears the docs https://docs.saltstack.com/en/master/topics/windows/windows-package-manager.html are not quite clear on how to set up the reference to a git repo with the salt://win/ prefix

[2020-06-09 16:21] frogunder commented on #57593
@akhilgoel09 Thank you for reporting this issue.

Can you proved me the state file you are trying to run so I can try and replicate it. (Sanitized if any passwords or personal info is present, please)

Also I see you are running version 2017.7.x which is old and unsupported.
https://www.saltstack.com/product-support-lifecycle/
If you try and upgrade to for example 3000.3, do you still see this iss

[2020-06-09 16:46] xeacott commented on #57430
I'll get a pull request together for this and we can see what it looks like and decide over it. 😄

[2020-06-09 16:46] xeacott commented on #57430
Because personally I would like to see this.

[2020-06-09 17:15] dmurphy18 commented on #57541
Note: the old net-tools cannot be totally removed since still have to support older OS's, for example: Solaris 10, some of the underlying OS's on some switch/routers, AIX.  But as stated above, have the net-tools as a fall back for when more modern implementations are not available.

[2020-06-09 17:20] frogunder commented on #57600
@OrangeDog Thanks for reporting this issue.

I am seeing the same thing.

Thanks.

[2020-06-09 17:23] frogunder commented on #57602
@gizahNL Thank you for reporting this issue and for the PR.

Thanks.

[2020-06-09 17:33] sagetherage commented on #52356
closing as fixed in master and 3001RC

[2020-06-09 17:33] #52356 closed

[2020-06-09 17:54] Xaelias opened #57606 "[BUG] service.running doesn't trigger systemctl daemon-reload as expected"
**Description**
Changing a .service file (ubuntu 18.04) does not trigger a daemon-reload.

**Setup**
[code]

**Expected behavior**
I would fully expect a `systemctl daemon-reload` to be run before restarting the service here.

**Logs**
<details><summary>debug logs</summary>

[code]
</details>

**Versions Report**
<details><summary>salt --versions-report</summary>

[code]
</details>

<details><summ

[2020-06-09 17:57] akhilgoel09 commented on #57593
**state files:**

init.sls:
tomcat:
  watch:
    - pkgs:
      - tomcat8
      - tomcat8-admin

/etc/tomcat8/context.xml:
  file.managed:
    - source: salt://tomcat/context.xml
    - template: jinja
    - user: tomcat8
    - group: tomcat8
    - mode: 644
    - makedirs: True

context.xml file:

<Environment name="secretKey" type="java.lang.String" value="{{pillar['tomcat8']['secret_Key']}}"/>

[2020-06-09 18:00] akhilgoel09 commented on #57593
sorry missed the context file above earlier:

context file:

    <Environment name="secretKey" type="java.lang.String" value="{{pillar['tomcat8']['secret_Key']}}"/>
    <Environment name="redisHost" type="java.lang.String" value="{{pillar['tomcat8']['redis_host']}}"/>
    <Environment name="redisPort" type="java.lang.Integer" value="{{pillar['tomcat8']['redis_port']}}"/>
    <Environment name="red

[2020-06-09 18:10] #57173 closed

[2020-06-09 18:13] twangboy commented on #57546
OK, let me try it on 2019...

[2020-06-09 18:19] twangboy commented on #57546
Yes, it works the same on 2019

[2020-06-09 18:41] twangboy commented on #57393
I am unable to reproduce this.
What does the following command return?
[code]
mine returns the following:
[code]

[2020-06-09 19:00] sagetherage commented on #51932
@marceliq can you give your set up and Salt version report, please?

[2020-06-09 19:40] xeacott commented on #57594
I think that will be on @twangboy after reading through all the comments.

So from what I read... @arizvisa Win8.1/Server2012R2 is going to need to be patched in order for Salt to be installed on it properly, or during Salt's installation, we need to patch the system. From the looks of it (not super familiar with the Windows installation process), we are attempting to handle this case but one of o

[2020-06-09 20:35] dmurphy18 commented on #57541
Capturing a thread from community slack here

From: OrangeDog
[code]

From terminalmage
[code]

So, need to do a root and branch update of networking when handling replacement of net-tools, allowing for older OS's (Solaris, AIX) and what is available on older Linux platforms, for example: Debian 9, Ubuntu 16.04, and FreeBSD too.

[2020-06-09 20:44] DmitryKuzmenko commented on #57182
@natemellendorf thank you for you work! The merge would be blocked for some more time while we're preparing the release. Thank you for understanding.

[2020-06-09 21:20] waynew commented on #52026
I'm looking into this at the moment and I was thinking perhaps the issue could have been in m2crypto, since we were getting different subject hashes on Python2 and Python 3, causing https://github.com/saltstack/salt/blob/9536d322acf35931baaf0e780528c56334d718cd/salt/states/x509.py#L801 to not be equal.

But I've verified that both m2crypto on py2 and py3 return the same subject hash, so when we're

[2020-06-09 21:24] terminalmage commented on #57541
I think you misread, @dmurphy18. I wasn't saying I did any of that, I was saying that I implemented network teaming already, which is entirely unrelated to this.

[2020-06-09 21:24] OrangeDog commented on #57541
That should've been `netplan`.

[2020-06-09 21:47] OrangeDog commented on #13085
It might be worth looking at [`netplan`](https://netplan.io/), which provides a single YAML interface to both `network-manager` and `systemctl-networkd`. It's been used by Ubuntu as its network config since 18.04.

[2020-06-09 21:48] OrangeDog commented on #57541
More related: #13085, #49078

The PR #54572 was merged, but that only partially updated the module. Calls to `ifup`/`ifdown` remain, as does the Suggests requirement.

This is possibly the cause of errors (which used to also cause stacktraces) in #6922. Ubuntu 18.04 and `netplan` are mentioned.

[2020-06-09 21:54] eliasp commented on #13085
I'm not aware of any other distribution besides of Ubuntu making use of netplan - besides that, it just adds another abstraction layer which would be nice in case it's really widely used and the scenario to cover multiple backends would be quite common, but in this case I don't think its the right way to go - to support netplan instead of systemd-networkd and thereby pull in the Ubuntu-specific ne

[2020-06-09 21:55] avanier commented on #52421
I'll report I'm also getting this issue. I've batch tested and I can confirm I have it on the following versions.

| version | state | error |
| --- | --- | --- |
| centos-7-3000-3 | Created | Kitchen::ActionFailed |
| centos-7-3000-2 | Created | Kitchen::ActionFailed |
| centos-7-3000-1 | Created | Kitchen::ActionFailed |
| centos-7-2019-8 | Created | Kitchen::ActionFailed |
| centos-7-2019-2-5 |

[2020-06-09 21:59] OrangeDog commented on #13085
@eliasp fair enough. It's in Debian Buster too, but I don't know of any other distributions using it.

[2020-06-09 22:28] saltysaltsalty commented on #53147
Is there anyone on salt 3000 that is experiencing this problem?  I'm currently on salt 2019.2.5 and seeing these sporadic errors.

[2020-06-09 22:52] sagetherage commented on #57513
Keeping open 57541 and closing this as changes were made in [salt-pack-py3 repo](https://github.com/saltstack/salt-pack-py3.git) for the Sodium release

[2020-06-09 22:52] #57513 closed

[2020-06-09 23:11] dmurphy18 commented on #57541
@terminalmage sorry about that, was grouping network work together, or at least anything with the word network in it :)

[2020-06-10 00:01] arizvisa commented on #57594
Not a corruption issue at all.

It's related to the process being used to install an .msu patch. Installing the patch with the `wusa` api requires certain features to exist within Windows Update which requires a user to ensure that `wuauserv` is enabled, licensed, and patched before installing salt.

So, if you were planning on using saltstack to bootstrap your Windows updates and patches, this ac

[2020-06-10 00:10] piterpunk opened #57612 "[BUG] Disk grains reports virtual block devices as "disks" or "SSDs""
**Description**
Virtual block devices, like loopbacks, ram disks and device-mappers were show as real devices.

The loopback and device-mapper devices are in the "disks" grain:

[code]

And the RAM disks in the "SSDs" grain:

[code]

**Setup**
Linux machine with only one physical disk, no SSDs:

[code]

**Steps to Reproduce the behavior**
Any Linux machine with LVM volumes or loopback devices.

**

[2020-06-10 02:40] xiaohuazi123 commented on #56296
@arizvisa ,
Yes, this is a screenshot of Windows Server 2012R2.
This is my full version output as follows
[code]

[2020-06-10 06:19] arizvisa commented on #56296
Awesome. Thanks a bunch, @xiaohuazi123.

That's interesting.. heh. I suppose I need to check the major/minor version, and then check "OS Name:" for "Windows Server".

Much appreciated, good sir!

[2020-06-10 07:09] boltronics commented on #57510
This is super annoying... I've probably failed 20 or so instance launches by now since upgrading to this release, wasting a lot of time and money. I believe it has failed _every single time_ the language is not set to an English locale. I might have to resort to making a salt-cloud wrapper script that sets environment variables.

I didn't notice before, but there's a full stack trace in the logs.

[2020-06-10 08:07] markuskramerIgitt commented on #57594
@arizvisa would you have use of an Salt msi installer (instead of an Nullsoft exe)?

The msi installer (available for the release candidate) does not use msu but msm (merge modules)

[2020-06-10 08:25] juan-acevedo-ntt opened #57614 "[BUG] Bootstrap fails on SuSe"
**Description**
Deploying Suse instances on AWS usising a mapfile fails to install the minion.

**Setup**
mapfile:
[code]
profile:
[code]

**Steps to Reproduce the behavior**
Error log:
[code]

Error when manually ran the command:
[code]

**Expected behavior**
The process should deply a Suse ec2 instance and install the minion

**Versions Report**
<details><summary>salt --versions-report</summary>

[2020-06-10 08:49] arizvisa commented on #57594
I believe either installer could work. The issue is how is the installer going to install KB2999226 which is required for Python3 and directly triggering the issue. I'm using salt-cloud to deploy the installers from https://repo.saltstack.com/windows.

One possible workaround would be to enable the `preflight_cmds` option in salt-cloud for Windows as well as Posixy systems, this way users can use

[2020-06-10 10:36] dhs-rec commented on #55799
Is there any news on this? I still see this in 3000.3 and it's still preventing us from updating to that version.

[2020-06-10 10:41] dhs-rec commented on #56199
Any news here?

[2020-06-10 11:12] bergentroll commented on #57393
@twangboy, absolutely.
[code]
(There is Cyrillic signs in output.)

With salt (Cyrillic chars are missing):
[code]

[2020-06-10 11:40] jynolen opened #57617 "[BUG] Some modules are not sync with sync_all runner"
**Description**
Runner saltutils miss the following component:
- log_handlers
- matcher
But there are present in the saltutil modules
So it is not possible with out of box runner to use log_handlers and matcher defined in external filesystem like gitfs

However there is the following workarround but it's not convinient to use
`salt-run salt.cmd saltutil.sync_all`

**Setup**
_/etc/salt/master (usef

[2020-06-10 11:43] OrangeDog opened #57618 "[BUG] Grain does not report configured nameservers for systemd-resolved"
**Description**
On systems using `systemd-resolved`, by default the `/etc/resolv.conf` file lists 127.0.0.53 as the nameserver (for clients not using the libc or bus APIs). The list of actual nameservers is available e.g. via `systemd-resolve --status`, or `resolvectl dns` on newer systems.

I'm not sure when `resolvectl` was added. It's not available in `237` but is in `245`.

**Setup**
A default

[2020-06-10 12:53] xenadmin opened #57619 "[BUG] Debian 9->10 apt-get dist-upgrade removes salt-common & salt-minion"
**Description**
A Debian 9 adm64 VM with salt-minion installed.
I want to upgrade, either manual or via salt, doesn't matter, to buster.
A `apt-get dist-upgrade` wants to remove salt-minion. The machine becomes un-managed.

**Setup**
A Debian 9 adm64 VM with salt-minion installed.
Source before and after:
[code]

**Steps to Reproduce the behavior**
Changing all repo sources from stretch to buster.

[2020-06-10 13:56] cruscio opened #57621 "[BUG] Windows minion hangs loading disk.disk grain"
**Description**
A couple freshly installed windows minions (out of thousands) are hanging up during a test.ping and neither completing nor erroring.

The last line in a trace log is:
[code]

**Setup**
<details><summary>Minion configuration</summary>

There were no modificaiton to C:\salt\conf\minion
Modifications in minion.d:

[code]

</details>

**Steps to Reproduce the behavior**

[code]
Minion

[2020-06-10 19:43] castastrophix opened #57627 "creation /var/cache/salt/master/minions permission denied"
On a new installation with apt-get  on Ubuntu 18.04  downloaded with deb http://repo.saltstack.com/apt/ubuntu/18.04/amd64/latest bionic main

version Salt: 2017-7-4

Directory /var/cache/salt/master is owned by root with only read rights to other users.
some subdirectory exist under it. they were  created with user salt like tokens, jobs, proc...
minions directory did not exist yet.

Salt try to c

[2020-06-10 20:44] dafyddj opened #57628 "[BUG] [RC1 Sodium] Windows - traceback on grain pending_reboot.pending_reboot"
**Description**
Sodium RC1 generates a traceback while loading the grain `pending_reboot.pending_reboot`.
[code]
**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info).
See [`dafyddj/openvpn-formula`](https://github.com/dafyddj/openvpn-formula/tree/test-rc) for test setup.

**Steps to Reproduce the behavior**
(Include debug logs if possible and relevant)
Thi

[2020-06-10 22:01] piterpunk opened #57629 "[FEATURE REQUEST]: Grain with the LVM volumes"
**Is your feature request related to a problem? Please describe.**
The LVM makes easier to manage the machine storage, providing a logical abstraction over the physical disks. The logical volumes  are dynamical and could span for several disks or use only part of them. It's very common to use LVM in Linux Servers, so the filesystems could easily grow as needed and new disks are added.

But no LVM

[2020-06-10 22:50] arizvisa commented on #57594
And here's screenshots of the .exe for the sake of being comprehensive.
Logs for the redistributable: https://gist.github.com/arizvisa/702ef52b6449a26d2a2b779cc40701f6

Screenshot of current install progress at point it asks me about the runtime.
![image](https://user-images.githubusercontent.com/2035497/84325531-96886800-ab40-11ea-9af1-0698a7597bd8.png)

Screenshot of issue:
![image](https://user

[2020-06-10 23:05] wolfpackmars2 commented on #27181
@OrangeDog I think I conflated backslash with "trailing slash". I updated my comment above.

[2020-06-10 23:05] arizvisa commented on #57594
Despite this issue getting such a high severity and it being a critical issue, I don't think it's something you guys can fix "elegantly" as the issue could be considered out-of-scope for the salt project due to python3's dependency on the crt, and salt's depdendency on python3.

Unless there's some way with the installers to avoid calling into the wusa api for KB2999226, or something similar to di

[2020-06-10 23:49] doesitblend commented on #57118
@vin01 @marcmerlin

Installing the `setproctitle` Python library will allow your Salt master to rename the processes to more meaningful names, and may be of benefit to troubleshooting this further since this would help determine which part of the Salt master is consuming memory.

Installing this module does require having the Python devel headers installed as well as GCC though. However, I believe

[2020-06-10 23:52] doesitblend commented on #57118
ZD-5267

[2020-06-10 23:57] dmurphy18 commented on #57118
@marcmerlin
[code]
I am curious where you obtained Salt v2999 from , since that is an internal version number used for nightly builds and should be in no one's hands but QA and developers ?

[2020-06-11 00:10] xeacott commented on #57484
Thanks for getting all that information for me 😄 Going down the rabbit hole of all this _eventually_ leads to this function:
[code]
Since it appears you're on a Win10 box (likewise here, too) you'll actually be using the python dotnet framework instead of WMI because of this...

[code]

Just keeping all this info here... the rabbit hole for gathering network interfaces goes like 10 calls down, phe

[2020-06-11 00:43] xeacott commented on #57484
Oh, finally could you run a `salt-call --local network.interfaces` for me and see what you get? Looks like we only count a network interface if its status is "Up", and then the "name" that we give each interface is actually the description itself: `name = interfaces[i_face]['description']` See if this PR works for you...https://github.com/saltstack/salt/pull/57633

[2020-06-11 00:51] marcmerlin commented on #57118
@dmurphy18  I pasted wrong,, sorry. I meant  2019.2.5+ds-1

[2020-06-11 00:59] marcmerlin commented on #57118
@doesitblend  thanks,
apt-get install python-setproctitle python3-setproctitle
did the trick, I now see what salt process is what.

Does the salt-master package on debian use external packages visible by pip or is it fully self contained? We have 2 salt servers, one leaks and the other one does not. The one that leaks has those python packages visible on the system
[code]

[2020-06-11 02:51] marcmerlin commented on #57118
@doesitblend  as luck would have it, the process that leaks has no extra information in its name:
[code]

[2020-06-11 02:55] marcmerlin commented on #57118
Its open files probably say what it is, though:
[code]

Is it fair to say that it's the process that gathers logs from all minions?

[2020-06-11 04:17] marcmerlin commented on #57118
I should add that it leaks 6GB per hour, so it dies several times a day
[code]

[2020-06-11 05:20] piterpunk opened #57634 "[BUG] [RC1 Sodium] Wrong PIDs in service.status when using sysvinit"
**Description**
When using service.status in a pure sysvinit environment, the PID of the python running the "service.status" always is in the results list. So, it always return at least one PID as result, even for non-existent services:

[code]

**Setup**
Nothing special, Salt 3001 (git202006091336) in two Slackware Linux machines.

**Steps to Reproduce the behavior**
Run "service.status" with a n

[2020-06-11 06:49] akhilgoel09 commented on #57593
Any update....

[2020-06-11 07:00] i2dcarrasco commented on #57560
Yeah, but my problem is that I want to mount the disk and store the mount point on fstab as UUID, to avoid problems if device name changes. That UUID is not known when the state is executed, because the disk is also formatted in same state, and `mount.fstab_present` provides the `mount_by` option to solve this problem.
On `mount.mounted` that option doesn't exists, so the only ways I have is to mo

[2020-06-11 08:42] daks commented on #57580
More information:

after adding dev and prod to my `pillar_roots` I got rid of this error message but I still see that when running `pillar.items` it does not know about the saltenv and by consequence doesn't parse the expected files and returns nothing.

[2020-06-11 09:19] OrangeDog commented on #52361
@sagetherage no, why does it need unlinking?

[2020-06-11 10:49] rossengeorgiev commented on #57505
I would expect `runas` to run with the privileges of the `user`. This `group` thing is a gotcha, even if documented. Definitely not a reasonable default behaviour.

[2020-06-11 11:00] tobiasvdk commented on #52164
From security perspective this functionality is a "must-have".

[2020-06-11 11:45] vortemid opened #57638 "state mysql_query.run cannot use multiline queries"
**Description**
State mysql_query.run cannot use multiline queries in versions of PyMySQL after 0.7 (not sure about exact version). I suppose that this is intentional, but can we provide option to the state such as "client_flag: CLIENT.MULTI_STATEMENTS" in order to support multiline queries

**Setup**
[code]

**Steps to Reproduce the behavior**
Run the above state and receive error:
[code]

**Expe

[2020-06-11 11:45] gqlo opened #57639 "Memory Tuning Support"
Having [Memory Tuning  support](https://libvirt.org/formatdomain.html#elementsMemoryTuning) allows much greater control of the memory allocation.

[2020-06-11 12:01] rossengeorgiev opened #57640 "[FEATURE REQUEST]: Consider having all point releases on archive.repo.saltstack.com"
**Is your feature request related to a problem? Please describe.**
It is currently **not possible** to template a URL to a specific version of salt without knowing what the latest release is.

Example URL templating:

[code]
It doesn't work for the last 2 point releases:

http://archive.repo.saltstack.com/yum/redhat/7/x86_64/archive/3000.3/ - 404
http://archive.repo.saltstack.com/yum/redhat/7/x86_

[2020-06-11 13:00] asvany commented on #55029
the dependency is still missing.

[2020-06-11 13:08] asvany commented on #55310
this bug still alive on mandjaro linux.
"ImportError: cannot import name '_supported_dists' from 'platform' (/usr/lib/python3.8/platform.py)
"

[2020-06-11 13:50] frogunder commented on #57580
@saltstack/team-core Can you take a look at this issue and give some input, please?

Thanks.

[2020-06-11 13:59] q1x opened #57641 "[BUG] [documentation] salt.virt module dependencies are not complete"
**Description**
Today I found out that the virt module is dependent on `qemu-img` (it calls it through `subprocess.Popen()`. It is however not mentioned in the 'depends' section in the documentation. https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.virt.html

Furthermore, the command run uses the `-U` flag, which is not available in older versions of `qemu-img`. Debian 9 (still LT

[2020-06-11 14:11] frogunder commented on #57621
@cruscio Thank you for reporting this issue.

@twangboy @xeacott Do you guys have any thoughts on this issue?

Thanks.

[2020-06-11 14:14] frogunder commented on #57629
@piterpunk Thank you for this feature request and for the PR.

Thanks.

[2020-06-11 14:16] frogunder commented on #57639
@gqlo Thank you for this feature request and for your PR.

Thanks.

[2020-06-11 14:24] terminalmage commented on #55310
@asvany `_supported_dists` is no longer referenced in Salt code as of the upcoming 3001 (Sodium) release, aside from in a comment.

[code]

[2020-06-11 14:25] frogunder commented on #57640
@rossengeorgiev Thanks for reporting this feature request.

@saltstack/team-core @bryceml Can you chime in on this one?

Thanks

[2020-06-11 14:27] frogunder commented on #57634
@piterpunk Thank you for reporting this issue and for you PR.

Thanks.

[2020-06-11 14:32] gqlo commented on #57639
:)

[2020-06-11 15:33] frogunder commented on #57619
@xenadmin Thank you for reporting this issue.

Did you install salt from https://repo.saltstack.com/#debian ?

Also for clarification, are you on a Debian 9 or Debian 10 machine when you try to upgrade?
Because I think you will get errors if you are on a Debian 10 machine and try to install instructions for Debian 9. And the same the other way if you are on a Debian 9 machine trying to install ins

[2020-06-11 15:48] frogunder commented on #57593
Sorry for the late reply, we are in the middle of preparing for the 3001 release next week.

What happens when you do a pillar.get on those keys, what does it return at the CLI?

[2020-06-11 16:14] pgporada commented on #57327
I can confirm that this fixed my problem too.

[2020-06-11 16:15] frogunder commented on #57617
@jynolen Thank you for reporting this issue.

[2020-06-11 16:38] OrangeDog commented on #41578
This is apparently a regression on #2358.

[2020-06-11 17:19] MartinMystikJonas opened #57644 "[BUG] Debian 10 is wrongly detected as < 6 in debian_service module"
**Description**
When using Debian 10 without systemd then debian_service treats it like versions <6 instead as >= 6. Therefore it calls `/etc/init.d/[service]` instead of `service [service]`. With Debian 9 everythings works as expected.

**Setup**
For example run service state in Docker image where sysemd is not booted.

**Steps to Reproduce the behavior**
Run any command from module service in De

[2020-06-11 17:28] sagetherage commented on #57541
likely we need an epic created in planning and listing out all the different tasks to track we don't miss something

[2020-06-11 17:58] sagetherage commented on #52361
I meant this issue wouldn't close if linked, but I guess that PR is now closed so once the latest PR https://github.com/saltstack/salt/pull/57569 merges then it should close this issue - that was all I was trying to do, ensure the automation to close the issue works.

[2020-06-11 18:06] terminalmage commented on #57541
I did a quick grep of the code and then checked the matching files. Here's what I found, though I welcome people doing their own analysis in case I missed something:

- `salt/modules/bridge.py` - Seems to be used for BSD only. Not sure if this is a problem.
- `salt/modules/iwtools.py` - Seems we can leave this alone since this module is specific to using iwtools
- `salt/modules/lxc.py` - iproute2

[2020-06-11 18:06] sagetherage commented on #56473
removed the label since that PR is now closed and not merged their is a PR based on 52362 --> https://github.com/saltstack/salt/pull/57569 @waynew @cmcmarrow can one of you please review?

[2020-06-11 18:37] sagetherage commented on #56473
looks like the new pr above does not address this issue so assigned to get a PR open

[2020-06-11 19:18] sagetherage commented on #55555
@saltstack/team-packaging

[2020-06-11 19:31] OrangeDog commented on #57541
-  `salt/modules/network.py` is using `arp`, which was the original issue I linked to
- `salt/modules/linux_ip.py` is using `ip`, but using cmd strings instead of arg lists

There's also this changelog entry I'm not exactly sure what it refers to, but if `arp` isn't installed then `ip` should still be an option.

[2020-06-11 19:34] OrangeDog commented on #56473
@sagetherage it's already been fixed by #56243

[2020-06-11 21:22] cmcmarrow commented on #56473
https://github.com/saltstack/salt/pull/56243

[2020-06-11 21:22] #56473 closed

[2020-06-11 21:43] xeacott commented on #57430
I decided not to make a PR for this yet ... simply because this is an opportunity to refactor and condense a lot of code. There's various pending_reboot / needs_reboot functions that exist that need to be moved, there's utility functions that are calling state functions, etc.

so instead, on my fork i have a branch called `wua_auto_reboot`. if you'd like to see the diff, go for it.

[2020-06-11 21:48] bryceml commented on #57640
It was discussed while the SEP was open was decided against.  Also, it's confusing but:

https://archive.repo.saltstack.com/yum/redhat/7/x86_64/archive/3000/ is a point release
https://repo.saltstack.com/yum/redhat/7/x86_64/3000/ is a symlink to 3000.3

It makes it hard to use the bootstrap script because of the version scheme because if you specify
`stable 3000` it will setup your repo files to p

[2020-06-11 21:49] frogunder commented on #57641
@q1x Thank you for reporting this issue.

[2020-06-11 21:56] frogunder commented on #57627
@castastrophix Thank you for reporting this issue.

Did you try to install salt from the official salt repo?
https://repo.saltstack.com/#ubuntu

It seems weird if you install latest but got version 2017.7.4.

[2020-06-11 21:58] xeacott commented on #53708
Hi @chokkoretto I read your ticket over just now and it appears you're using a file called win_drives.py yes? It doesn't appear that we have that file in our code base, which makes me believe it is your own custom file?

If that is the case, I don't believe there is anything inside of salt that needs to be fixed here. But yes
 `string.ascii_uppercase` can be used on python2/3 whereas `string.Upper

[2020-06-11 22:10] rossengeorgiev commented on #57640
Oh, I didn't even notice that inconsistency. `3000` on `/archive/` is essentially `3000.0`. That is so confusing, and even comes last in the folder order in the listing.

For the moment, https://repo.saltstack.com/yum/redhat/7/x86_64/archive/ works for URL templating. I assume it will get removed? Then templating becomes a pain. I know the SEP came about around CVE/supported versions, and that is

[2020-06-11 22:35] r-pufky commented on #57484
No worries. Here you are:

[code]

[2020-06-11 23:11] dmurphy18 commented on #55555
Presuming this to be Debian 10, the issue was resolved in the 3000 branch by embedding Tornado v4.5.3 inside of salt and hence it no longer requires python3-tornado4 from the Debian 10 OS to function.  Support for Tornado v5.x and v6.x  is being actively worked on and will appear in later versions of Salt, unfortunately, not Salt 3001 (soon to be released) which still relies on the embedded versio

[2020-06-11 23:51] bryceml commented on #57640
@rossengeorgiev anything here: https://archive.repo.saltstack.com/yum/redhat/7/x86_64/archive/  will be removed from repo.saltstack.com when we sync up the changes from staging.  It looks like the plan so far is to have those deletions sync up at the same time as the 3001 release which should be on the 17th.

[2020-06-12 00:42] paralllax opened #57647 "[BUG] 06.11.2020 -- salt-ssh -- salt doesn't properly recognize appropriate python versions"
**Description**

I have a Centos 7 master and an Centos 7 client. salt-ssh exits with the following error:

[code]

Centos 7 Client has python versions: 2.6 & 2.7.5.

Centos 7 Host, where I run salt-ssh from, has python 2.6, 2.7.5, and python 3.6.8.

I believe this may be a bug as I recently ran this from a manjaro box, identical setup, and there were 0 issues. I had to rekick the manjaro box to c

[2020-06-12 01:14] paralllax commented on #57647
Reading back, I just realized it references dependencies specifically for python2.6/2.7... so I installed those on the master just to be certain with:

[code]

The other 3 were already satisfied:

[code]

Here is the version report again

[code]

Unfortunately the same error is returned as before:

[code]

[2020-06-12 03:19] cro commented on #41578
I know this would only be a workaround, but do any of the parameters that start here

https://github.com/saltstack/salt/blob/master/conf/minion#L244

in the example minion config file help?

[2020-06-12 04:12] piterpunk commented on #57421
Hi,

Your state seems to be wrong, "latest" is the version of salt-repo package, not part of its name and the documentation says

The pkg.list_pkgs output:

[code]

Changing the state to:

[code]

Fixes this behaviour:

[code]

Working as expected

[2020-06-12 06:13] arizvisa opened #57648 "[BUG] salt-master in auto_accept, minion key appears in "Accepted Keys" and "Denied Keys""
**Description**
I have a master configured with `auto_accept`. After using salt-cloud to deploy to a windows minion. The minion is first started in a "bootstrap" environment which is used to install some additional configuration such as upgrading the version of python and and configuring the etcd returner. Once that's complete, it switches to the "base" environment and reboots the machine. (edited

[2020-06-12 07:45] bit-punk opened #57649 "[BUG] Unable to execute cron-style Jobs on CentOS7 / Python3"
**Description**
Currently i intend to let our minions execute a highstate-job at 4:15am declaring the job with a cron-like syntax in the pillar:
[code]

Even though i follow the [official configuration example](https://docs.saltstack.com/en/latest/topics/jobs/#scheduling-highstates) i cannot get the job executed. In the minion's log i get the following error:
[code]

I have tried to solve the issu

[2020-06-12 08:21] dpizzle opened #57650 "High CPU with salt-master running in Alpine docker container"
**Description**
We have a salt-master process running in a docker Alpine container and the CPU starts off ~0%. There is another Alpine container running napalm-logs and when that starts, and connected to the salt-master, the CPU jumps up to ~50% and remains there. From there the CPU on the salt-master frequently hits 100% and as a result missed events with the below error. This is occurring on `20

[2020-06-12 08:33] s0undt3ch commented on #55310
@asvany As @terminalmage mentioned, this issue should be fixed.
What version of salt are you running?
Please try v3001rc1.

[2020-06-12 10:16] OrangeDog commented on #54847
This was released in 3000.

[2020-06-12 10:16] #54847 closed

[2020-06-12 10:26] asvany commented on #55310
┌──[as@as17]─[/tmp]─[○]                                     [p jún 12 - 12:23]
└──● virtualenv py_env_salt
created virtual environment CPython3.8.3.final.0-64 in 391ms
  creator CPython3Posix(dest=/tmp/py_env_salt, clear=False, global=False)
  seeder FromAppData(download=False, pip=latest, setuptools=latest, wheel=latest, via=copy, app_data_dir=/home/as/.local/share/virtualenv/seed-app-data/v1.0.1

[2020-06-12 10:47] OrangeDog commented on #41578
I tried these, but it made no difference.
[code]
With or without those settings, the minions are reconnected after ~10 minutes. No restart required.
I guess that counts as working as designed?

<details><summary>versions report</summary>

[code]
</details>

[2020-06-12 10:48] arizvisa opened #57652 "[BUG] salt.states.sync_all does not always work"
**Description**
For some reason `salt.states.sync_all` doesn't work consistently. I first had the problem because I was originally using `module.run` with the old deprecated syntax. I switched over to the new syntax for `module.run`, and then discovered that you guys implemented it as a state.

**Setup**
There's two environments. One of them is named "base", the other is named "bootstrap". The min

[2020-06-12 11:36] pankajghadge commented on #57196
@DmitryKuzmenko
1. This log is from salt command or from minion?
=> salt command (we execute salt command from salt master only )
=> we don't execute salt command from salt-master-of-master (only few are executed )

2. When it happens the targeted minion terminates?
=> no target minion do not terminate, also no error log entry on target minion
3.You mentioned syndic. What's your salt layout? Maste

[2020-06-12 11:48] #57650 closed

[2020-06-12 14:39] heini commented on #55555
I'm meanwhile running 3000.3, anyway.

[2020-06-12 14:39] #55555 closed

[2020-06-12 15:11] twangboy commented on #57594
We should present that to the Salt-Cloud working group

[2020-06-12 15:15] twangboy commented on #57594
Would this fix it: https://github.com/saltstack/salt/pull/57625

[2020-06-12 16:51] ewhitesides opened #57653 "salt.states.cron switch to use dayofweek as actual word not integer"
desired cron - run job every second saturday of the month.  the following does not work:
0 4 8-14 * 6
because if dayofmonth and dayofweek are restricted (not *), the command will run when _either one_ matches.

we can workaround this by replacing dayofweek with the word sat, so it's:
0 4 8-14 * sat

however, when I put in the dayweek parameter of 'sat' into the cron.present state, it changes it to

[2020-06-12 16:57] doesitblend opened #57654 "[DOCS] rework states part 1 clearer explanation to start at configure file_roots"
**Description**
In the tutorial documentation, [States Part 1](https://docs.saltstack.com/en/latest/topics/tutorials/states_pt1.html#targeting-minions), under the section "SLS File Namespace" it's not quite clear that all paths must start at the configured file_roots.

[2020-06-12 16:58] doesitblend commented on #57654
ZD-5279

[2020-06-12 17:01] cmcmarrow commented on #57536
@aplanas
We don’t see this as a bug because no platform “that we support” requires/uses msgpack 1.0.0 and no part of salt needs the upgrade.
Why do you need msgpack 1.0.0?
msgpack 1.0.0 is be worked on in #57571. We currently have 7 – 8 failing test.

[2020-06-12 17:11] ewhitesides commented on #57653
closing this for now - i have to confirm in a debian and enterprise linux environment if using word for the day will actually succeed in restricting it or not

[2020-06-12 17:11] #57653 closed

[2020-06-12 17:12] frogunder commented on #57648
@saltstack/team-windows @twangboy Can you take a look at this Windows issue?

Thanks.

[2020-06-12 17:13] frogunder commented on #57652
@saltstack/team-windows @twangboy Can you take a look at this Windows issue?

Thanks.

[2020-06-12 17:21] aplanas commented on #57536
@cmcmarrow I am a bit confused. This bug is not mine.

There are some bits related with this topic that are indeed bugs, let me try to clarify:

* We, on SUSE / openSUSE, use Salt in Tumbleweed derivatives, that since some month already have msgpack 1.0.0 installed. Salt was not working with this version, and we fixed this here: https://github.com/saltstack/salt/pull/57122

* One comment from the

[2020-06-12 17:32] prometheanfire commented on #57536
The main reason I think the cap needs to be raised is so that openstack can use the newer msgpack (mem leak being one reason).  msgpack was already held back for the last release and I'd rather remove salt as a dependency that openstack projects can use than keep msgpack back for another cycle.  The reason openstack needs salt to update the dependency is because we want to keep openstack co-instal

[2020-06-12 18:22] Nerigal opened #57656 "[BUG] CSF state Module Ignore test=true"
csf State Module ignore the parameter **`test=true`** on execution

state ID example
[code]

State execution example :

`salt test-minion state.apply csf.ports test=true `

The execution will apply all change regardless of the `test=true` parameter
[code]

**Expected behavior**
if `test=true`the changes should never be applied

`Succeeded: 4 (Unchanged 1, changed=1)`

[code]

[2020-06-12 18:47] arizvisa commented on #57652
Yeah. Please tell me that I'm crazy here. I need to be kept in check, otherwise I rage. :-(

[2020-06-12 18:52] arizvisa commented on #57648
I'm pretty sure it's happening when I restart the salt-minion into a new environment. But I'm not 100% sure.

This capability is very key to the way I'm doing things because this is part of a project that automatically generates a number of salt-configured clusters. So, everything needs to be automatic \_and\_ platform-independent (hence the "bootstrap" environment being used to normalize things b

[2020-06-12 19:03] arizvisa commented on #57594
The logic looks sound. Didn't know that you guys bundled the installer scripts in the main repo, hah. Would've submitted a PR if I knew.

Give me a moment though to setup an environment to build the installer and I'll let you know.

[2020-06-12 19:06] arizvisa commented on #57594
Also, what'd be the process to notify the salt-cloud folks? Just shout @ one of their usernames?

[2020-06-12 19:12] sagetherage opened #57657 "Update signing packages to allow for Redhat 8's use of gpg-agent"
Need a way to allow for Redhat 8's use of gpg-agent when signing packages and creating a repo

[2020-06-12 19:20] frogunder commented on #57601
@ucontacti Thank you for reporting this issue.

[2020-06-12 19:35] frogunder commented on #57656
@Nerigal Thank you for reporting this issue, I am seeing the same thing.

Thanks.

[2020-06-12 20:37] frogunder commented on #57649
@bit-punk Thank you for reporting this issue, I am seeing the same thing.

Thanks.

[2020-06-12 21:11] survient opened #57658 "mirroring of repo.saltstack.com via rclone results in large amounts of duplicate files"
### Description of Issue
When mirroring saltstack via rclone as suggested by https://repo.saltstack.com/#mirror you wind up with a large number of duplicate files for a total capacity of 428.3GB. After running deduplication on our Netapp file server it was able to reduce this down to 42.96GB. Comparatively if you sync the content via rsync the total amount of content is ~64G. Is there something th

[2020-06-12 22:02] frogunder commented on #57658
@bryceml Can you take a look at this, maybe you have some info/tips?

Thanks.

[2020-06-12 22:46] doesitblend opened #57660 "Master failover in minion configuration not working as expected"
**Description**
 If a name for configured Salt master cannot be resolved in DNS it silently falls back to 127.0.0.1. It might be Ok for some cases but definitely isn’t Ok of our case when we use ‘master_type=failover’.

With this (see below) configuration we would expect that if minion cannot resolve `master1` it would try `master2` and then `master3`, instead it resolves `master1` to `127.0.0.1`

[2020-06-12 22:47] doesitblend commented on #57660
ZD-5282

[2020-06-12 23:45] Nerigal commented on #57656
i fixed that way
https://github.com/Nerigal/salt/commit/7f007f652e3c8c5010e2264d476c8755a2f60af0

[2020-06-13 01:49] sergeyfd commented on #57660
Thanks for creating it.

[2020-06-13 21:25] noelmcloughlin opened #57664 "[BUG] macos service.running is not robust"
**Description**
MacOS `service.running` is not robust.  Testing https://github.com/saltstack-formulas/salt-formula/pull/447  I only managed to get `com.saltstack.salt.master` success once, every other attempt returns-

1. `/Library/LaunchDaemons/com.saltstack.salt.master.plist: service already loaded`
2. `Service com.saltstack.salt.master is already enabled, and is dead`
3. `/Library/LaunchDaemons

[2020-06-14 04:22] bswilden opened #57665 "[BUG] junos.install_config does not render the template when template_vars is omitted"
**Description**
There’s an issue in https://pypi.org/project/salt/3001rc1/  with the `junos.install_config` function.

Previously, if you called the `junos.install_config` function with a template that used only pillar or grain data, and you omitted the `template_vars` parameter, it would render the template and apply the configuration. Now it’s giving an error.

The prior behavior was that the it

[2020-06-14 06:01] vnitinv opened #57667 "[BUG] [RC1 Sodium] Could not load configuration due to : "[Errno 21] Is a directory..""
**Description**
When cache is not present, while copy we used cp_get_template, this return folder name and not the file path. Hence we got this error
[code]

**Setup**
[code]

**Steps to Reproduce the behavior**
Remove any cache file on proxy server.
it can be found using
[code]

**Expected behavior**
Should not throw error

**Screenshots**
If applicable, add screenshots to help explain your probl

[2020-06-14 06:50] bswilden commented on #57667
I have encountered this issue in v3001rc1

[2020-06-14 06:54] vnitinv commented on #57667
Fixed via #57668

[2020-06-14 11:38] arizvisa commented on #57594
Just finished downloading (I have a garbage internet connection at the moment) and building. The installer seems to work on win8.1 (x86), so PR #57625 should close this whenev it gets merged.

[2020-06-14 18:33] disaster123 commented on #36654
ping

[2020-06-14 21:16] s0undt3ch commented on #50792
FYI, I believe 3001 no longer throws any of these warnings.

[2020-06-15 01:53] nee2c commented on #57618
If not mistaken resolvectl was added 16.10.  I don't know if there is any thing to update in salt as the grain just parse /etc/resolv.conf.  Ubuntu resolvectl dose not update /etc/reolv.conf.  I have a state for ubuntu 16.10 =< create syslink to /run/resolvconf/resolv.conf (not 100% on that path)

[2020-06-15 03:22] craigafinch commented on #57421
@piterpunk Thank you for catching that subtle error in my state. I still think there is a Salt bug, though it's a different kind of bug than what I originally reported. The state output is not helpful in catching or troubleshooting the error in my state. Why this state need me to specify the exact package name, when I'm already providing a very specific RPM file that can only represent one package

[2020-06-15 09:06] s0undt3ch commented on #54520
@rklaren by any chance have you tried running this issue by salt 3000 or 3001rc1?

[2020-06-15 09:14] OrangeDog commented on #57618
It's not available in 18.04, so I doubt that. Did you mean `systemd-resolved`?

Yes, that's why it doesn't work.

Because it is the recommended mode of operation. If you replace the symlink then clients that use it will lose local resolution, DNSSEC, and other functionality.

[2020-06-15 09:35] maznu commented on #14888
Have managed to repeatedly reproduce this issue by starting with just the following in /etc/salt/grains:

[code]

And then trying to do `salt['grains.get_or_set_hash']('key1:key3:',…)` in a jinja template.

The end result is that `key2` has vanished:

[code]

[2020-06-15 09:58] maznu commented on #14888
That's exactly what I just tried, and it works.

Submitting a PR.

[2020-06-15 10:40] natemarks commented on #57409
What I was actually trying to do was clone the salt repo and get the tests running. I saw the Pipfile and thought you were using pipenv to manage development environment dependencies.  I guess not. I'll dig deeper into the  READMEs

[2020-06-15 10:56] natemarks commented on #57409
Would it be ok for me to just fix the Pipfile based on https://docs.saltstack.com/en/master/topics/development/hacking.html? it looks like it should be pretty straight-forward. pipenv seems like it would be a convenient way to help people get their dev environments off the ground.

[2020-06-15 12:14] dhs-rec commented on #56199
I believe I found the reason. Something(tm) reg. environment variable handling seems to have changed to being case-sensitive on Windows minions now. If I use
[code]
instead of
[code]
in `cmd.run` it works on Windows minions running 3000.3. Please update the documentation accordingly.

[2020-06-15 12:25] dhs-rec opened #57672 "[BUG] cmd.run: "- prepend_path:" broken (fails with KeyError exception) on Windows"
**Description**
Due to #56199 I changed some states using `cmd.run` from
[code]
to
[code]
but that also led to failures on (Windows) minions running Salt Minion 3000.3.

I even get two different error outputs for the same kind of thing (running in a loop):
[code]
and
[code]
The reason for this seems to be the code for `prepend_path` in `cmdmod.py`, which looks like being Linux/Unix only (https://g

[2020-06-15 13:30] s0undt3ch commented on #54520
Since salt will no longer release a v2019.2.x version, unless it is a CVE release, this issue is now invalid, at least from v3001rc1 onward.

## Versions Report
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-06-15 13:30] #54520 closed

[2020-06-15 15:18] sagetherage commented on #57532
@bryceml @s0undt3ch can we close this?

[2020-06-15 16:19] s0undt3ch commented on #57532
I'll @bryceml handle this since he's the one that worked on it.

[2020-06-15 16:48] sagetherage commented on #57652
@arizvisa can we please keep the issue title with `Bug` instead of alluding to profanity, please?

[2020-06-15 17:24] robertpenberthy commented on #55201
Based on the activity on this issue, this has been moved from being worked on for Sodium to Magnesium?  When is that expected to be released?  I was really sad to find that restarting the salt minion via salt broke when we upgraded from 2018.3.3 to 3000.3.  Looking forward to this issue being fixed as with 3000.3 neither restarting the salt-minion via salt or reloading modules in states is working

[2020-06-15 17:27] sagetherage commented on #57654
@saltstack/docs-working-group looks like we could make this clearer

[2020-06-15 17:28] sagetherage commented on #57654
@doesitblend updated the title so I don't have to dig all the way into the issue to remember what this one is, exactly, I hope that is ok. Thanks!

[2020-06-15 17:30] #57532 closed

[2020-06-15 17:44] xeacott commented on #57628
[code]
I see "Access is denied" which indicates that the process running your salt-minion, salt-call, whomever in this case doesn't have privledges to launch a "SystemInfo" instance. Basically, the grain that loads up at startup has to get through this block of code and it clearly isnt:

[code]
Two things should happen on our part:
1. Throw that guy in a try catch, let the application continue if

[2020-06-15 17:47] xeacott commented on #57628
@dafenko When you had this failure, what user was running salt?

[2020-06-15 18:44] dafyddj commented on #57628
Hi, this is in a Kitchen [test environment](https://github.com/saltstack-formulas/openvpn-formula/blob/740ba4e80e01a724b7833ee6b3d7e66740ced795/.github/workflows/kitchen.yml#L28), so in this case the user is `kitchen` and in the group `Administrators`.

These commands are called over winrm, so I have a feeling that this has to do with the fact that Win Update commands can't be called [remotely](ht

[2020-06-15 19:02] weswhet commented on #57664
Ah looks like you are running into 2 different issues. That I've been meaning to fix.

1. The service state will attempt to start macOS service before enabling it. on macOS, you can't `load/bootstrap/start` the service if it's disabled. So the state will always fail to start a disabled service macOS. The fix here is to enable services before starting them on macOS.

2. The `mac_service.enable` fun

[2020-06-15 19:11] weswhet commented on #57664
The issue when you get a `stderr: /Library/LaunchDaemons/com.saltstack.salt.master.plist: service already loaded` isn't an issue per se with the salt service module. It's with the salt master daemon. When checking to see if a service is running on macOS it will check the launchd config for that service to see if it's supposed to be an always running service. AKA a service that's supposed to have a

[2020-06-15 19:12] xeacott commented on #57628
To my knowledge we have passing tests for this and our tests run in kitchen env's so I'm still wondering about that, I personally haven't experienced issues calling COM related win32 stuff remotely. It could be something else (COM object is already initialized and running under a different security context) and in this case, that is throwing both errors "Access is denied" and "Operation unavailabl

[2020-06-15 19:15] sagetherage commented on #52167
looks like we have a separate issue so assigning the same Open Core Team member for this as well

[2020-06-15 19:21] krionbsd commented on #57543
OK, let me test this on FreeBSD with pkg.removed, I didn't experience this failure before.

[2020-06-15 19:21] sagetherage commented on #52329
@dwoz assigning this one to you and put in the `Magnesium` release in an attempt to move it from blocked and perhaps more - we will at least discuss in planning for the Magnesium release cycle set to occur over the next 2-4 weeks.

[2020-06-15 19:27] gvengel commented on #57584
Also seeing this issue. Confirmed the warning goes away if [file.py](https://github.com/saltstack/salt/blob/v3001rc1/salt/modules/file.py#L2552) is modified to either open the file as text or with buffering disabled.

[2020-06-15 20:02] berkut-174 opened #57673 "[FEATURE REQUEST] Updating %PATH% on installation SaltStack for Windows"
**Is your feature request related to a problem? Please describe.**
I see an error (see below) during the installation of SaltStack, when my %PATH% exceeds 1024 characters and the %PATH% does not update as expected.
When uninstalling SaltStack, %PATH% is also not updated regardless of its length.

**Describe the solution you'd like**
I suggest the NSIS EnVar plugin https://github.com/GsNSIS/EnVar/r

[2020-06-15 20:16] xeacott commented on #57628
I also see the minion isn't failing, and the CI pipeline continues just fine. Maybe we'll make this grain optional in some capacity.

[2020-06-15 20:41] oeuftete opened #57674 "[BUG] [RC1 Sodium] Duplicate zipped custom module and custom module file throws uncaught exception"
**Description**

If a custom module is provided in the file roots as a zipped version and as a simple module file, `salt` will not run.

**Setup**

Add the same simple custom module as a zip file and a regular module file:

`/srv/salt/_modules/zd5292.py`:

[code]

`/srv/salt/_modules/zd5292.zip` (same content as above in `__init__.py`):

[code]

Put these two files in a custom modules path, e.g. `

[2020-06-15 20:45] oeuftete commented on #57674
ZD-5292

[2020-06-15 20:48] oeuftete commented on #57674
I think the same thing would happen with `.pyx` if enabled?

https://github.com/saltstack/salt/blob/b95213ec903402f25c1e0aeb3990fe8452ab63ce/salt/loader.py#L1338-L1352

Either both of these need to also be appended to `self.suffix_order`, or maybe checked along with directories (the `""` extension) at:

https://github.com/saltstack/salt/blob/b95213ec903402f25c1e0aeb3990fe8452ab63ce/salt/loader.py#

[2020-06-15 21:07] sagetherage commented on #41578
putting this in `Magnesium` release to at least have a discussion and assigning Dwoz to help facilitate if this is working as designed or merely "failling back" to the TCP keepalive default and isn't reliable.

[2020-06-15 21:14] bobrik commented on #51592
Looks like the issue is limited to `zmq` transport! My test configuration is a master with two workers and two `salt-call` loops on the same machine. The idea is that I don't have more clients than I have workers, which means that there is room for every request to be serviced in parallel.

With `tcp` transport:

[code]

With `zmq` transport:

[code]

I'm still on 2017.7.8.

[2020-06-15 21:15] nergdron commented on #55138
I just ran into this on 3001rc1, and it occurs even when I specify `archive_format: tar`. any ETA on getting this fixed?

[2020-06-15 21:33] piterpunk commented on #57456
Is this still a thing?

I tried to reproduce with code from 2020-06-09 git and looks OK:

[code]

The versions being used are:

[code]

[2020-06-15 22:03] castastrophix opened #57675 "[QUESTION] Windows output of command line is on one line for many commands"
Do a simple comman  to have many line of text like
Salt-call --local pkg.list_pkgs

On linux I got an output with  nice list of package on many lines in color and version in another color  with ident

On Windows there is a one line which include a lot of unescaped character like \n \\
Some commands are working on Windows without color like
salt-call --local grains.ls
which is on many lines

Salt-c

[2020-06-15 22:13] sagetherage commented on #57665
@bswilden can you please provide the salt version report and at least the text of the error you are seeing, please?

[2020-06-15 22:20] weswhet commented on #54513
this script is probably helpful in singing / notarizing all of salt and its bundled python. https://github.com/munki/munki/pull/986/files

[2020-06-15 22:32] dmurphy18 commented on #57667
@vnitinv Full information for versions-report is helpful in reproducing this, esp. that it provides platform information. Also the contents of the examples so that the error can be reproduced.

Given that I am running similar tests without error, more details need to be provided in order to reproduce the error.

Lastly is this with a proxy-minion or a regular salt-minion ?

[2020-06-15 22:39] xeacott commented on #57621
A couple out of thousands are hanging, how many thousands? Are they all reporting to the same master? And how many are hanging, like one? 10?

[2020-06-15 23:01] bswilden commented on #57665
@sagetherage I added the version history and error.

[2020-06-15 23:35] dampersand commented on #52164
In the meantime can we temporarily remove it from the documentation until fixed, and then once fixed, ALSO have it added to the documentation under 'peering?'

[2020-06-16 06:18] unix196 opened #57677 "[DOCS] Misprint: need point device_write_iops instead device_read_iops in docker_container.running"
**Description**
Misprint in documentation https://docs.saltstack.com/en/latest/ref/states/all/salt.states.docker_container.html#salt.states.docker_container.running
[code]

**Expected behavior**
Need point `device_write_iops`

**Screenshots**
https://ibb.co/6nfpmXR

[2020-06-16 07:01] krionbsd commented on #57456
I can't reproduce it on current master, @b-a-t please confirm

[2020-06-16 07:22] karkey-salt opened #57678 "SSE API cmds"
We have a SALT SSE API, I'm trying to execute few commands to get current license count as mentioned in the document https://help.saltstack.com/hc/article_attachments/360049509052/SaltStackEnterpriseHelp-v6_1_0_October.pdf

But unable to execute the sample code provided in the document, getting python errror
**ImportError: No module named 'sseapiclient'**

We are using python3, already have tornad

[2020-06-16 07:37] krionbsd commented on #57677
Thank you for reporting it, I've opened https://github.com/saltstack/salt/pull/57679 which fixes this issue.

[2020-06-16 07:44] Akm0d opened #57680 "[FEATURE REQUEST] Get grains from grainsv2"
Separate grains from core.py and the `grains` directory into independent platform specific projects.
The SEP for this change is [here](https://github.com/saltstack/salt-enhancement-proposals/pull/30)
The bulk of the work has been done in:
[idem-linux](https://gitlab.com/saltstack/pop/idem-linux)
[idem-bsd](https://gitlab.com/saltstack/pop/idem-bsd)
[idem-windows](https://gitlab.com/saltstack/pop/i

[2020-06-16 08:04] boltronics opened #57682 "[BUG] Cannot allocate memory when running test.ping"
**Description**
I upgraded from 2017.something to 2019.2.5 a little while back when there was that major security issue, and today I encountered this:

[code]

This happened when I ran `sudo salt '*' test.ping` on the master. All 13 minions on the network returned `True`, but the command just got stuck there, never returning me to the shell.

Then I noticed the master host started swapping (I had

[2020-06-16 08:10] Akm0d opened #57683 "[FEATURE REQUEST] Use the tools isolated from salt into dict-toolbox"
**Is your feature request related to a problem? Please describe.**
Several tools from salt have been separated into the [dict-toolbox](https://pypi.org/project/dict-toolbox/).   As part of breaking up salt into smaller chunks, this project can be imported into salt rather than maintaining two versions of the code

**Describe the solution you'd like**
Remove code in salt that has been split into di

[2020-06-16 08:42] krionbsd commented on #57682
I believe this is fixed in master branch, any chance to test master on your env?

[2020-06-16 08:51] boltronics commented on #57682
It might be possible, but I wouldn't be able to for long. Is there a sure-fire way to reproduce this?

Is the git master still compatible with Python 2? We probably have some stuff that's going to break under Python 3.

[2020-06-16 08:58] krionbsd commented on #57682
master might work with py2 but we don't guarantee it py2-safe, sticking with py3 is more appropriate for master

[2020-06-16 08:58] krionbsd commented on #57682
I tried it on AMI with 2G RAM but couldn't reproduce it

[2020-06-16 09:05] boltronics commented on #57682
It's been over a month since 2019.2.5 came out (and we upgraded minutes after it's release), and this is the first time we've seen it. Sadly, it does not seem easy to reproduce.

However if I do see it again, I'll update this ticket.

[2020-06-16 09:15] krionbsd commented on #57682
Did you try to increase RAM/swap? If yes, could you reproduce the failure?

[2020-06-16 09:17] boltronics commented on #57682
I didn't, but I haven't been able to reproduce the error anyway.

We are running a very similar setup in production on much bigger instances.

[2020-06-16 09:36] vnitinv commented on #57667
@dmurphy18

Salt Version:
           Salt: 3001rc1

The condition/setup is:

* salt master and proxy are running on a different server.

* There is **NO** cached file located on proxy server, which can be confirmed using
[code]

To avoid copying every time, we check if we have cached file, if then check checksum and use the same.

* Using install_config module for Junos
[code]
where `salt://config

[2020-06-16 12:06] StewAlexander-com opened #57686 "[Question] Upgrading windows salt minions from the salt master"
We have about 1500 or so Windows PC salt minions distributed over a pretty big area, and we were wondering what the easiest way is to upgrade all of the out-of-date salt minions?

Is there a way to do this from the salt master?

This would be the easiest solution for us....

I read online that the salt-minion may loose connection to the salt master if we upgrade from the salt master, but we're cur

[2020-06-16 12:15] ihakh opened #57687 "[DOCs] NameError: global name '__jid__' is not defined"
**Description**

the `__jid__` is not available in execution module:

[code]
this should be available: https://docs.saltstack.com/en/master/topics/development/modules/developing.html#additional-globals
**Versions Report**
<details><summary>salt --versions-report</summary>

[code]
</details>

[2020-06-16 12:53] s0undt3ch commented on #52026
Please state otherwise, but I believe this is no longer an issue, at least on v3001rc1 onward.

[2020-06-16 12:54] noelmcloughlin commented on #57664
- I enabled debug but nothing was logged.
- I did `launchctl dumpstate` and noticed the service was disabled=True.

The file `https://raw.githubusercontent.com/saltstack/salt/master/pkg/osx/scripts/com.saltstack.salt.master.plist` mentioned in https://github.com/saltstack-formulas/salt-formula/pull/447 references `/opt/salt/bin/start-salt-master.sh` but that does not exist on my filesystem, so

-

[2020-06-16 14:22] piterpunk commented on #57574
I guess this bug was silently fixed by other changes.

I did tried to reproduce using 2020-06-09 git with an non-existent file:

[code]

And with an existent one:

[code]

salt --versions-report

[code]

[2020-06-16 14:44] Oloremo opened #57689 "[BUG] onlyif and unless usage with retry could lead to an incorrect data structure in salt/state.py"
**Description**
So first of all it's a shame that ret dictionary data structure is not strict. I think it has to be.

The problem is in the `salt/state.py` file.

In a function `_run_check` we have a:
[code]

So we `comment` key is a `list` and we append some stuff to it, what could go wrong right?

Later in the `call` function we call:
[code]

And guess what - we just overrode the `ret` dict `'co

[2020-06-16 14:50] heaje commented on #37080
I'm seeing this same behavior with version 3000.3

[2020-06-16 14:52] Oloremo commented on #57689
Fixed in https://github.com/saltstack/salt/pull/56381

[2020-06-16 14:52] #57689 closed

[2020-06-16 15:00] damon-atkins commented on #57648
Also note Salt-Minion does not handle sysprep.  I suspect you have a left over pki key on the minion.

[2020-06-16 15:01] Paulo-Nunes commented on #47001
I am experiencing similar problems here.
[code]

Similar to the above I am using `file.managed` with `template: jinja` and `context`.
Unlike the above I am passing in to `context` a dictionary with sub dictionaries and lists:

I create a variable that pulls from pillar:
`{% set someVar = pillar_dictionary %}`

pillar_dictionary is defined here:
[code]

So someVar contains the above dictionary and

[2020-06-16 15:07] OrangeDog commented on #57574
@piterpunk or it's not reproducible on Slackware.

[2020-06-16 15:42] NotSqrt opened #57690 "[BUG] postgres_privileges: unable to verify existing privileges on views."
Hello !

`postgres.privileges_list` and similar functions are unable to verify existing privileges on views.

`postgres_privileges.present` says:

https://github.com/saltstack/salt/blob/a670b4ae72ec11f5485c216c54059e14223019b8/salt/states/postgres_privileges.py#L118

But `_make_privileges_list_query` is unable to verify existing privileges on views because it filters on ordinary tables only.
https

[2020-06-16 15:53] terminalmage commented on #47001
This is the correct solution.

As noted elsewhere in this comment thread, when a data structure is dumped using a jinja placeholder, jinja simply runs `repr()` on the variable:

[code]

Using the `json` or `tojson` filter is equivalent to running `json.dumps()` on the data structure, resulting in a representation of that data without the `u` prefixes:

[code]

[2020-06-16 15:55] sagetherage commented on #52167
this is much bigger and needs to be done in major release so leaving it in Magnesium for now and adjusting up the severity

[2020-06-16 16:02] piterpunk commented on #57574
The reproduction issue doesn't seem to be Slackware related. Just created a CentOS 8 machine at Linode and I have the same results, with no hangs, with the code from git:

[code]

salt --versions-report
[code]

[2020-06-16 16:29] OrangeDog commented on #57574
@piterpunk that doesn't help. Can you reproduce it with the same code that everyone else did - the Sodium RC? If you can then it's fixed.

[2020-06-16 16:31] OrangeDog commented on #57574
@piterpunk is that the RC release or a later version?
The people who have reported it have all been using Ubuntu 20.04.

[2020-06-16 16:46] piterpunk commented on #57574
It's a later version. I usually check the bug against the last version to see if it's already fixed and not start to write code for nothing.

I see now that I have to understand better the development dynamics here.

Should I try the current code on Ubuntu 20.04 to see if it this issue is gone there too and, if solved, bisect to find the commit which solved the problem?

[2020-06-16 16:54] OrangeDog commented on #57574
You should check this. First try the RC code and confirm the issue is there. Then if the current code on the same system doesn't have the issue then it is fixed.

[2020-06-16 18:16] xeacott commented on #57690
Thanks for bringing this to our attention, and it also looks like you have a fix there. Would you be able to also submit a PR for that fix?

[2020-06-16 18:27] dmurphy18 commented on #57665
@bswilden Do you have sample pillar.BGP_data that can be used including valid neighbor parameters.  It would help in ensuring valid testing of the issue

[2020-06-16 18:49] piterpunk commented on #57574
Tested 3001rc1 on Slackware machine and the issue was present there:

[code]

The execution waits forever in this last line, as described by OP.

salt --versions-report
[code]

[2020-06-16 18:56] cruscio commented on #57621
Right now, 1800 windows servers mixed from 2008R2 to 2016. All running 3000.3.

I've only seen this hangup happen on two servers. The root cause is almost certainly with those servers but I'd like to see if it's an error condition (e.g. WMI corruption) that salt should catch/handle instead of hanging and never completing.

Last year I was also part of a deployment of 2018.3.3 to approx. 6000 serve

[2020-06-16 18:57] Xorima opened #57691 "[FEATURE REQUEST] test-kitchen supporters wanted"
Hi All,

I am one of the admins for https://github.com/test-kitchen and we are looking for additional maintainers to help ensure the direction of the project works for everyone.

Would there be any members of Salt who would like to help us here (And ensure it continues to work for your usecases?)

Thanks

Jason

[2020-06-16 19:06] bswilden commented on #57665
@sagetherage Test data added

[2020-06-16 19:10] Paulo-Nunes commented on #47001
Even if I already did a json dumps in the state?
[code]

I use the json filter in the state that passes the context to the jinja template. Why would I have to do a dump of the data again from within the template? I guess I was just expecting all the data I pass to the json filter to be ... filtered.

[2020-06-16 19:27] gtmanfred commented on #47001
the result is that is reread back into python and turns into unicode, and then gets dumped again with the u prefixes.  The other solution is to move to using the python3 version of salt, and you lose this weird artifact of legacy python, where strings were bytes and not unicode.

[2020-06-16 19:36] terminalmage commented on #47001
You are misunderstanding how this works. You are using the json filter to coax a Python data structure to JSON so that it can be loaded as YAML back into a Python dictionary (where the strings internally will be unicode).

These are _two independent Jinja templates_ (the SLS file and the file being managed), and they are compiled separately. If you were passing JSON into the Jinja context, you wou

[2020-06-16 20:05] xeacott commented on #57687
Hey @ihakh can you be a little more specific when you say "the jid is not available in execution module"?

It sounds like you're writing or have written a custom execution module, but returning `__jid__` gave you some kind of error? If so, could you post the entire stack trace? Also, what steps did you follow to have salt execute your custom file?

[2020-06-16 20:27] xeacott commented on #57682
@boltronics for the time being, ill label this ticket as "blocked" with info needed so we know to be expecting some follow up from ya 😄

[2020-06-16 20:30] xeacott commented on #57686
Yes! A few ways that come to mind, but the important part of all of this is to make sure that your question is answered, which unfortunately, I don't have a clear cut answer so we'll need to discuss this. @saltstack/team-core any thoughts on this?

[2020-06-16 20:58] StewAlexanderACC commented on #57686
Great, thanks for at least discussing this, as it would be problematic to send the 3 people we have to the 1500+ systems to upgrade individually

[2020-06-16 21:02] arizvisa commented on #57648
What do you mean by handling sysprep exactly? If you're referring to the generalization stages of installing Windows. That "shouldn't" be happening at this point as literally the generalization of the machine and the os being installed has already been completed, and this is being done on a fresh windows template.

This situation happens occasionally right at the point of using salt-cloud to deplo

[2020-06-16 21:09] sagetherage commented on #57691
Hi Jason! Thank you for the request and we are very interested and it is my understanding our community manager @cassandrafaris has reached you via other communications platforms and we look forward to talking about this in a weekly Open Hour community meeting on Thursdays.

[2020-06-16 21:09] #57691 closed

[2020-06-16 21:14] arizvisa commented on #57652
My bad, @sagetherage. I was going through all the stages of grief. :-/

I had to put this down for a bit, but i think this might be related to #57027 in some way as this was during an update from 2019.2 to 3000.3. I'll try and do some better troubleshooting once I have the time to be doing programming-type stuff again.

[2020-06-16 21:25] xeacott commented on #57686
Certainly! I'm thinking you should be able to follow this type of workflow ... (the _exact_ states for you will be different but its the same idea)

1. Run a state that downloads from repo.saltstack.com onto the salt-master
2. Run a command that copies over the file from the master to each windows minion with https://docs.saltstack.com/en/latest/ref/cli/salt-cp.html:
3. Run a state that targets wi

[2020-06-16 21:26] dmurphy18 commented on #57665
@bswilden What previous version of Salt was this working on (versions-report if possible)

I am finding it failing with r1 pillar data on Salt 3000.3
[code]
[code]

[2020-06-16 21:28] xeacott commented on #57675
Hey @castastrophix so what exactly would you like to see change? I'm not understanding the issue with Salt or what behavior is wrong/incorrect in this case.

[2020-06-16 22:16] dmurphy18 commented on #57665
Similar errors with Salt 2019.2.5

[2020-06-16 23:03] xeacott commented on #57673
Ahhh nicely done. Would you like to get the PR up and we can move discussion there?

[2020-06-16 23:09] xeacott commented on #57664
Thanks for the detailed report @noelmcloughlin / @weswhet Is it okay if I leave this issue tagged as it is and we continue to offer support? Or is there another ticket we can link this to?

[2020-06-16 23:13] xeacott commented on #57647
Thanks for the report @paralllax someone on @saltstack/team-ssh ; any insight on this one? 😄

[2020-06-16 23:21] sagetherage commented on #57678
@karkey-salt you have opened an issue for the SaltStack Enterprise product in the Salt Open Source repo. If you are having trouble with the Enterprise Product, please reach out to our support department by emailing them at enterprisesupport@saltstack.com. You may also submit a ticket by logging in to the support portal at https://help.saltstack.com/ .

[2020-06-16 23:21] #57678 closed

[2020-06-16 23:28] bswilden commented on #57665
Ok. I thought it was a 2019.2 build, but maybe it was an interim Juniper build based on 2019.2. Sorry Let me check with Juniper then.

[2020-06-16 23:48] boltronics commented on #37080
It probably goes without saying, but we experience the same issue on 2019.2.5 too.

Just yesterday I had to quickly roll back a broken build of one of our apps that someone pushed and somehow passed its tests and QA, and the quickest way to do that is (or should have been) to update the pillar file to pin the version to the previous release.

In my haste I forgot about this issue, which left me sp

[2020-06-17 00:27] bswilden commented on #57665
For what it's worth, the Juniper Day One: Automating Junos with Salt guide uses the bootstrap script to install the 2018.3.2 Oxygen release and uses the install_config function to load a similar template that uses pillar data in Chapter 6.
https://www.juniper.net/documentation/en_US/day-one-books/DO_Automating_SALT.pdf

So it seems like it worked in that release   I had based my example on that on

[2020-06-17 00:44] twangboy commented on #57686
I would just use winrepo
[code]

[2020-06-17 00:45] twangboy commented on #57686
Or
[code]

[2020-06-17 00:55] xeacott commented on #57686
Whichever you find easier @StewAlexanderACC please only do a few minions before running it on 1500 😄 that way you don't have any _potential_ headaches 😉

[2020-06-17 01:01] xeacott commented on #57621
Hmmm, and its just the same 2 servers. Sometimes you need a sanity check; have you considered swapping out the disk from the 2 servers that are hanging and putting them into other servers that aren't hanging?

Just thinking outside the box here considering you have 1790-some _other_ servers working just fine. And this is certainly _something_ we could do here such as skip the particular grains aft

[2020-06-17 03:51] bswilden commented on #57665
I backed the same setup down to 2019.2.5 (installed from PyPI), and i was able to get the template to load. This setup has a separate Salt master and proxy minion server.  I also tried on a setup with a single server for the salt-master and proxy minions and I was able to load the template in various releases on that setup including 2018.3.2, 2019.2.2, 2019.2.4, 2019.2.5.  I'm including the state

[2020-06-17 06:48] max-arnold commented on #57686
1. If possible, ensure that you have a backup remote access (other than Salt) to each minion in case if something goes wrong
2. Survey your minion versions
3. Test the upgrade process for each minion version
4. Upgrade the master first
5. Upgrade one or two minions, then very carefully and gradually start upgrading them in larger batches (you can use the salt version grain to  target minions that

[2020-06-17 07:01] berkut-174 commented on #57673
I expect the https://repo.saltstack.com/windows/dependencies/nsis-plugin-envar.zip file exists in the repo, but it is not. PR is here https://github.com/saltstack/salt/pull/57693
Thank.

[2020-06-17 09:15] OrangeDog commented on #49078
@dmurphy18 the actual fix never got released before it was accidentally reverted: #57637

[2020-06-17 11:04] pesc commented on #57543
ok, let me know if you need some assistance or any further information

[2020-06-17 11:12] sjkummer opened #57694 "[BUG] Installation failed on Ubuntu 20.04 LTS arm64 (Raspberry Pi)"
**Description**
Salt minion installation fails on Ubuntu 20.04 (arm64 Raspberry Pi). But worked on earlier versions (Ubuntu 19.10).

**Setup**
`sudo sh bootstrap-salt.sh -D -x python3 git v3000.3`
Same behavior when using v3000

**Install Log**
Add any other context about the problem here.

[code]

[code]

[2020-06-17 11:27] berkut-174 opened #57695 "[FEATURE REQUEST] Older versions of python modules for Windows"
**Is your feature request related to a problem? Please describe.**
What is the reason for using old versions of python modules when building .exe:
https://github.com/saltstack/salt/blob/master/pkg/windows/req.txt
https://github.com/saltstack/salt/blob/master/pkg/windows/req_pip.txt
https://github.com/saltstack/salt/blob/master/pkg/windows/req_win.txt
?
I checked, the assembly passes correctly with

[2020-06-17 11:41] StewAlexanderACC commented on #57686
How to use winrepo? I have heard of this in other posts, but I did not find how to use this...

If I upgrade the Master is it backwards compatible with the salt minion version ``` 2017.7.8```

That is the version of salt-minion on all of our Windows systems

[2020-06-17 11:53] Nerigal commented on #57656
Fixed this issue in this pull request https://github.com/saltstack/salt/pull/57655
waiting for the test to be fixed and for approval

[2020-06-17 12:57] angeloudy opened #57696 "[BUG]Pillar not available randomly"
**Description**
My pillar will become unavailable sometimes.
It happens randomly.
`salt-call pillar.get mypillar` will return empty, then after a few seconds, it returns my data.

I used the following script to catch the time when pillar is not available
[code]

After running for a few hours, the script returned
[code]

It's so inconsisten I am not sure how to debug.

Setup:

[code]

[2020-06-17 12:57] oeuftete commented on #21260
Reconfirmed in 3001rc1:

[code]

Master log excerpt:

[code]

[2020-06-17 13:28] krionbsd commented on #57696
Thank you for the report. Could you provide more information, did you try to trace network connectivity? Any reason to call pillar every second?

[2020-06-17 14:07] StewAlexander-com opened #57697 "[FEATURE REQUEST] Appget module for dealing with the Microsoft AppGet package manager"
Hi -

Microsoft recently copied AppGet for WinGet (https://it.slashdot.org/story/20/06/01/1447201/microsoft-now-credits-maker-of-package-manager-it-copied----but-offers-no-apology), which I suppose will be their defacto Windows package manager in later releases (?)

Anyway, just like there is a module for Chocolatey, we would like to see a module for AppGet

https://appget.net/

Thank you ....

[2020-06-17 14:08] krionbsd commented on #57543
Hmm, I can't reproduce it on 3000.3 + FreeBSD
[code]

[2020-06-17 15:55] jynolen commented on #57582
ANy updates about this ?

[2020-06-17 16:01] xeacott commented on #57697
@StewAlexanderACC Yes, @twangboy @thatch45 and myself are super excited to see what we can do with winget. I would expect a module to appear at some point, but unfortunately we haven't really discussed it.

[2020-06-17 16:20] xeacott commented on #57694
Hi @sjkummer thanks for reporting. I'll ask if @dmurphy18 if he could look at this since probably has the most experience when it comes to building on a pi.

[2020-06-17 16:21] dmurphy18 commented on #57694
Python 3.8 is supported with the about to be released Salt 3001. You could try the Release Candidate Salt 3001rc1 or wait a few hours and 3001 should be available later today.

[2020-06-17 16:22] xeacott commented on #57644
Oh interesting thanks for submitting @MartinMystikJonas that shouldn't be too bad to fix. 😄

[2020-06-17 16:27] DmitryKuzmenko commented on #57196
@pankajghadge thank you for information. I still can not reproduce it on my side.
Are you able to patch your etcd client python package and check would it help? In this case I can work on a patch and if it would help we can contribute it to etcd client team.

[2020-06-17 16:39] dmurphy18 commented on #57694
Actually the Raspbian 10 version of Salt 3001 is just pure Salt, hence noarch, you could probably take that and run it on Ubuntu 20.04 arm.  It is built on a Pi 3, for armhl but should work.

[2020-06-17 17:57] twangboy commented on #57621
What happens when you run the following command on one of the failing servers?
[code]

[2020-06-17 18:27] dmurphy18 commented on #57665
Ah! proxy minions, being using regular salt-minions, but it is the same code executed on both.  Juniper have been making changes on both the state and execution modules junos.py for Salt 3001 (just gone live). Differences in 2019.2.4 and 2019.2.5 is down to CVE fixes. State file very similar to the one I tested with too. Will try 2018.3.2 on a clean box and work from there.

[2020-06-17 18:50] bswilden commented on #57665
Sorry if it wasn't clear that proxy minions were in use. As far as I'm aware, the older code only supported using proxy minions for Junos devices, so I didn't think to mention it.

[2020-06-17 19:03] litnimax opened #57701 "[BUG] Salt masterless reactor_niceness key error"
**Description**
Works with 3000.3 and does not work with 3001.
I use minion reactor that now does not start due to KeyError.

[code]

[2020-06-17 19:04] dmurphy18 commented on #57665
My fault, working too much on a native minion for Juniper that works on the actual switch, and forgot there are other ways to use it.

[2020-06-17 19:42] litnimax opened #57702 "[BUG] Caller reactor error: IOLoop is already running"
**Description**
I am using masterless setup with caller reactor.
Salt 3000.3 & 3001.

Minion config:
[code]

reactor/test.sls:

[code]

Output:

[code]

[2020-06-17 20:36] alan-cugler opened #57704 "salt-run manage.key_regen doesnt work with auto-accept[BUG]"
**Circumstances**
We had minions responding to a master running a `salt \*` command but not if you directly tried to target those minions, the minions key wasn't present in `salt-key,` we figured we had key artifacts in memory and decided to get the minions to re-authenticate in bulk to get these ghost minion keys back in salt-key.

The main command used was:
[code]
Unfortunately, this command wil

[2020-06-17 20:41] j0sh3rs opened #57705 "[BUG] SDB Vault Config Fails on "uses""
**Description**
When attempting to configure a vault connection and sdb setup, salt is simply unable to get appropriate values from vault in any capacity, complaining about the sdb vault script and a "uses" KeyError.

**Setup**
Salt Version 3001
Vault 1.4.2 running locally in dev mode

**Steps to Reproduce the behavior**
1. Follow this guide to bootstrap salt w/ vault sdb:
https://help.saltstack.c

[2020-06-17 20:44] mbochenk opened #57706 "[BUG] [DOCS] repo.saltstack.com incorrect links since SEP22 and needs more review of possible other dead/incorrect links"
**Description**
repo.saltstack misses multiple older releases, for example http://repo.saltstack.com/apt/debian/9/amd64/archive/
This causes bootstrap issues, etc (master running on 2019.2.0, for ex) This also originally appears as incorrect GPG keys and confuses troubleshooting

**Setup**
Bootstrap CentOS7 or Debian9 (other repos might be also affected) with salt-bootstrap script, with for exampl

[2020-06-17 20:57] litnimax commented on #57702
Very strange.
There was a hang minion process (semi-killed).
So when I killed it with -KILL and restarted everything started to work.

[2020-06-17 21:00] mbochenk commented on #57706
Updated description as I've finally figured out what actually happenned.

[2020-06-17 21:05] xeacott commented on #57706
Thanks for the report, @bryceml do you have any insight on this?

[2020-06-17 21:09] xeacott commented on #57705
I unfortunately do not have a lot of experience with exact configuration here, so my eye's wont be the most useful here. Can anyone else on @saltstack/team-core help here, please?

[2020-06-17 21:13] bryceml commented on #57706
It might be nice if whatever is downloading the key in the bootstrap script throw an error and immediately exit if it gets a 404 for the key.  If it's curl, it would be adding the `-f` flag.

[2020-06-17 21:20] mbochenk commented on #57706
I see the notice now.
I am not sure that pinning to minor releases makes any sense without suggesting to use the archive repos too?

In the past I ran multiple times into update issues between minor versions and have found pinning to minor versions required, sometimes during for much longer than 2 releases. In short, I never know if the next update would be for non-archived or already archived min

[2020-06-17 21:36] xeacott commented on #57606
Thanks for the report @Xaelias sometimes issues like these stem from interpretations of the docs and sometimes a lot gets lost. I'm going to mark this as a bug, but also with a Doc label so that whoever takes on this ticket knows that the additional context has a lot to say.

It looks like if I specify .service in the service.running stanza it does the right thing.
But I still think this is a bug,

[2020-06-17 21:49] xeacott commented on #57638
Hi @vortemid when you say "State mysql_query.run cannot use multiline queries in versions of PyMySQL after 0.7" has this been something that you've successfully done in the past, multi-line statements? However something has changed now, and you're unable to?

[2020-06-17 22:03] hsergei opened #57707 "spm DB consistency problem"
**Description**
spm python code only adds or removes entries from the "packages" and "files" sqlite3 tables. Theres no updates, no constraints in DB to limit the number of packages with the same name.

If one updates a package and installs it with -f option - DB will have additional entry for the same package and this will accumulate over time. Each time new version is installed. Same happens with

[2020-06-17 22:09] bryceml commented on #57706
https://github.com/saltstack/salt-bootstrap/pull/1478/files should improve the error message.

[2020-06-17 22:41] litnimax commented on #57702
No, again the same.

[2020-06-18 01:23] kkallday opened #57709 "[BUG] Trouble importing macro with gitfs and using saltenv"
**Description**
I have a master config with two git remotes. My Salt state fails to render, when specifying `saltenv` because it can't find the sls file that contains the macro definition. The saltenv/branch exists in git remote 1, but not in git remote 2. The macro definition is in git remote 2. I can't find a configuration option in the doc that resolves this issue. Thanks in advance!

**Setup**

[2020-06-18 02:37] tonyplovich commented on #52167
It was suggested in one of the above comments to use openssl.  I pieced together the following bash hackery from a few stack exchange posts and figured I'd share it.

[code]

[2020-06-18 04:01] ihakh commented on #57687
[code]

[code]
[code]

[2020-06-18 04:26] ihakh commented on #57058
hmm...
1-create a pillar file in /srv/pillar/ with the content like this:
[code]
2- create 1 or two json file in minion like this:
[code]
[code]
3- configure the beacon2 in minion config:
[code]
4-create two custom beacon in master:
[code]
[code]
5- sync the beacons
`salt \* saltutil.sync_all`
6- restart the minion salt-minion service to load the new conf
now you should see the beacon2 event every

[2020-06-18 05:05] ihakh commented on #57687
__salt__ is available but __jid__ is not
__conf__ is not available too

[2020-06-18 05:07] angeloudy commented on #57696
@krionbsd
There are no connectivity issues because I also tried with the minion that runs on the same machine as the master. I run it every second to see how often and how many times it happens.
We noticed this issue because quite often our `state.apply` fails, but succeeds on retry.

[2020-06-18 06:30] vskubriev commented on #56798
Salt 3001 released. Ubuntu 20.04 now supported.
https://docs.saltstack.com/en/master/topics/releases/3001.html

[2020-06-18 06:41] max-arnold commented on #57705
Probably related to https://github.com/saltstack/salt/pull/57066

Cc: @mchugh19

[2020-06-18 06:43] max-arnold commented on #57701
Probably related to https://github.com/saltstack/salt/pull/57365

Cc: @mattp-

[2020-06-18 06:50] rj-dsl opened #57710 "[BUG] salt-master not running, unable to read key master.pem"
**Description**
Salt-master refused to start after reboot, citing `Unable to read key: /etc/salt/pki/master/master.pem; passphrase may be incorrect` as the issue

**Setup**
Running on Ubuntu 16.04 that has been updated from 14.04 quite a while ago.. Upstart is installed along systemd, service as been running fine for a few years like this.

**Steps to Reproduce the behavior**
salt-master debug:

[

[2020-06-18 07:05] krionbsd commented on #57710
Just for my understanding: did you upgrade to 3001 and see this error or you did upgrade to Ubuntu 16 from 14? If it's upgrade to 16, did you reinstall all Ubuntu packages afterwards?

[2020-06-18 07:09] rj-dsl commented on #57710
The server has been upgraded to 16.04 for some time now.. upgrade to 3001 happened while on 16.04.. As far as I can see in my apt log, the following tried to update last night, and failed:

[code]

However there nothing pending when I run apt update, apt upgrade or apt dist-upgrade now

[2020-06-18 07:12] rj-dsl commented on #57710
Checking some of the failed packages tells me that the are indeed installed, and with correct versions:

[code]

[2020-06-18 07:14] krionbsd commented on #57696
Did you run the state with -l debug?
Please read carefully https://docs.saltstack.com/en/latest/topics/troubleshooting/index.html and try to use those recipes.

[2020-06-18 07:33] sjkummer commented on #57694
I can confirm that installing v3001 on Ubuntu 20.04 LTS arm64 was successful!

Thanks for your fast response.

[2020-06-18 07:33] #57694 closed

[2020-06-18 08:14] krionbsd commented on #57710
Could you backup `/etc/salt/pki/master/master.pem`, delete it and try to restart master, afterwards delete `/etc/salt/pki/minion_master.pub` on the minion, restart it and re-accept the key on master.

[2020-06-18 08:33] vortemid commented on #57638
Hi @xeacott , I'm still running Salt on version 2018.3.5 (both master and minions) and MySQL-python version 1.2.5 (python2) and multiline queries are working. Now I want to upgrade to latest Salt version (3000.3) and PyMySQL v0.9.3 (python3) and tests are showing that multiline sql queries are not working.
I've seen that some users use python3 scripts with PyMySQL with mentioned client_flag: CLIEN

[2020-06-18 09:54] RobHooper opened #57711 "[BUG] Missing salt-ssh dependencies on Ubuntu 16.04"
**Description**
Following the upgrade of my salt client from `3000.3+ds-1` to `3001+ds-1` I started getting the following error.

[code]

**Setup**
Start Ubuntu 16 desktop/server (haven't tested any other os)
Add the salt repo `http://repo.saltstack.com/py3/ubuntu/16.04/amd64/latest`
`sudo apt-get install salt-ssh`

**Steps to Reproduce the behavior**
`salt-ssh '*' test.ping`

You can fix the issu

[2020-06-18 09:59] rj-dsl commented on #57710
That did the trick.. I did however need to do this on around 70 minions.. But is up and running again

[2020-06-18 10:21] JeremyHutchings opened #57712 "[FEATURE] UFW rules not installed on ubuntu20 04 with salt 3001"
**Description**
ufw rules (/etc/ufw/applications.d/salt.ufw) are not being installed on ubuntu 20.04 with salt version 3001

**Setup**
Default Ubuntu 20.04 LTS AWS image, then following the instructions here : https://repo.saltstack.com/#ubuntu

**Steps to Reproduce the behaviour**
1. Install as per :https://repo.saltstack.com/#ubuntu

root@salt-master:/home/ubuntu# ufw allow salt
ERROR: Could not

[2020-06-18 11:01] wojaczek commented on #54730
Hey team!
We're experiencing this on 2019.02 and it's truly annoying. I'm only the user, not the Salt admin, so don't have access to the master config, but what I see is when we're using grain or compound matching, the servers, that are unreachable are targeted even though the grain does not exists for them and the state is failing because of these unreachable nodes.
While this bug really exists,

[2020-06-18 13:21] gasmick opened #57713 "Icinga2 utility on CentOS fails to get version"
### Description of Issue

As mentioned already in [#51862](https://github.com/saltstack/salt/issues/51862), get_certs_path() in [salt/utils/icinga2.py](https://github.com/saltstack/salt/blob/master/salt/utils/icinga2.py) fails to extract Icinga2 Version on a CentOS server and throws an error:

This happens because
`version = re.search(r"r\d+\.\d+", icinga2_output["stdout"]).group(0)`
doesn't find

[2020-06-18 13:27] nohaj commented on #57520
OK so I added another NFS share today on some servers but in NFS 4.0 version (different NFS server) and I don't have this issue with this mount.

So I switched the others mounts in 4.0 version and the issue is gone.

[code]

Does it help you ?

[2020-06-18 14:07] sjorge opened #57714 "[BUG] `virtual` grains broken on illumos on 3001"
**Description**
Somewhere between 3000.1 and 3001 the `virtual` grains got broken on illumos.
It only ever gets set to `physical` which is the default fallback if i am not mistaken.

**Setup**
Running salt 3001 inside a SmartOS zone.

**Steps to Reproduce the behavior**
[code]

**Expected behavior**
[code]

**Screenshots**
n/a

**Versions Report**
<details><summary>salt --versions-report</summary>

[2020-06-18 14:11] sjorge commented on #57714
Before it would hit this and then hit https://github.com/saltstack/salt/blob/b95213ec903402f25c1e0aeb3990fe8452ab63ce/salt/grains/core.py#L927, where it would fallback to zone.

It now seems to abort earlier.

[2020-06-18 14:27] OrangeDog commented on #57513
@bryceml the 3001 release package has `net-tools` as a required dependency instead of a recommendation.

Can this be fixed?

[2020-06-18 14:29] Zortran opened #57715 "[BUG] unnecessary line. broken ansible roster."
https://github.com/saltstack/salt/blob/b95213ec903402f25c1e0aeb3990fe8452ab63ce/salt/roster/ansible.py#L146
Line was pushed in **if** but have double. Comment line 146 fix ansible roster.
[code]

[2020-06-18 14:32] remyd1 opened #57716 "[BUG] [3001] No matching sls found for ... in env base"
**Description**
`salt-master` need to be restarted after calling a script with salt `3001`.
This script is committing /pushing my git remote fs code and is clearing cache, synchronizing module, functions... My code `clear_all.sh`, is available [here](https://gist.github.com/remyd1/2853f489d828ecda52183ca37a813f4e#file-clear_all-sh).

If I don't restart the master I get the message `No matching sls

[2020-06-18 14:37] marceliq commented on #51932
@sagetherage sorry for late answer, here it is:

Salt is installed from pip.

[code]
Note to mention, that file.serialize shows diffs, but file.manage dont.

[2020-06-18 14:39] Morozzko opened #57717 "Installation failed on RHEL 7.4"
I tried to solve the problem from different sentences, it did not help.
Can any one help me?

[code]

[2020-06-18 14:45] OrangeDog opened #57718 "[BUG] grains.delkey/delval requries an argument that does not exist"
**Description**
Trying to use `grain.delkey` or `grains.delval` on a structured value results in this message

However, neither function accepts this argument

Trying to workaround by force-setting back to a string, and the `grains.delkey` reports no errors, but the key hasn't been deleted.
Also tried with `saltutil.refresh_grains` between each step, with no difference.

The only solution I found

[2020-06-18 14:45] RedXIV2 commented on #57706
Are there plans to add minor versions to the archive? we've been using 2019.2.3 as a fixed version since our incompatibility with salt 3000 is still causing problems. I've seen 2019.2.4 and 2019.2.5 in the archive and 2019.2 also in the parent directory. This would be great to get added also

[2020-06-18 14:46] castastrophix commented on #57675
the pkg.list_pkgs output would be
`
b"local:\n ---------\n    tools for .Net 3.5:\n 3.11.50777\n .....
`
It is more difficult to read because nothing is aligned and if I want  to automate the output of the windows command line sometime I have to unescape the output and sometimes not.  This is not always the same and it is different than Linux which require even more different programming of the ou

[2020-06-18 14:51] OrangeDog commented on #57711
`python3-pycryptodome` isn't available for 16.04.
https://packages.ubuntu.com/xenial/python3-pycryptodome

[2020-06-18 14:54] RobHooper commented on #57711
`python3-pycryptodome` is available for 16.04 from the salt stack repositories.

http://repo.saltstack.com/py3/ubuntu/16.04/amd64/latest/pool/main/p/pycryptodome/

[2020-06-18 14:55] OrangeDog commented on #57456
Testing 3001 release on Ubuntu 20.04.
While #57574 appears to be fixed, this issue doesn't.
It still hangs after every `state.apply`.

[2020-06-18 15:01] darrenrabbs opened #57719 "[BUG] 2019.2.3 stable archive version is missing from the saltstack repository"
**Description**
2019.2.3 stable archive version is missing from the saltstack repository

**Setup**
Bootstrap scripts are failing to install a stable 2019.2.3 version of Salt , it appears the version has been deleted from the archive - https://repo.saltstack.com/yum/amazon/latest/x86_64/
This was available at the beginning of this week 16th of June 2020.

**Steps to Reproduce the behavior**
Try in

[2020-06-18 15:13] OrangeDog commented on #57706
@RedXIV2 STOP USING 2019.2.3
It has a [critical vulnerability](https://community.saltstack.com/blog/active-saltstack-cve-critical-updates/) with multiple active attacks.

[2020-06-18 15:15] OrangeDog commented on #57719
2019.2.3 has a [critical security vulnerability](https://community.saltstack.com/blog/active-saltstack-cve-critical-updates/) with multiple active exploits.

![image](https://user-images.githubusercontent.com/675056/85038770-e4275500-b17e-11ea-9846-8e77f529cec8.png)

[SEP 22](https://github.com/saltstack/salt-enhancement-proposals/blob/master/accepted/0022-old-releases.md)

[2020-06-18 15:23] darrenrabbs commented on #57719
ok thanks for the quick response on this, it appears 2019.2.5 is the next stable version then?

[2020-06-18 15:25] OrangeDog commented on #57719
The latest stable version is 3001, the previous was 3000.3.
The latest on the 2019.2 branch is 2019.2.5, yes.

[2020-06-18 15:29] sagetherage commented on #53317
since this is in GitLab @Akm0d should we move the issue there, or will there be work in the salt code base, too and thus keeping this in this repo for Magnesium?

[2020-06-18 15:36] sjorge commented on #57714
So it looks like before we stepped into the prtdiag block even if the command failed (non-global zone), we just did not append it to the failed_commands set.

In the ptrdiag block we then still check the zonename to figure out if we are physical or a zone.

Currently on 3001 we never make it because we bail out near the top because the exit code is not 0 (as mentioned, this is expected for a zone)

[2020-06-18 15:46] sjorge commented on #57714
This seems to fix it:
[code]

@DmitryKuzmenko perhaps some optimization changed the behavior of the retcode check.

I think some of the code should be rewritten to avoid this mess though, or would the above patch be acceptable?

[2020-06-18 15:51] sjorge commented on #57714
Actually I think this patch is better, we break the loop in the newer LDOM detection if we match anything, so this works as a fallback and that path is then used by illumos.

[code]

[2020-06-18 16:03] darrenrabbs commented on #57719
Thanks James.

[2020-06-18 16:03] #57719 closed

[2020-06-18 17:39] allyunion commented on #49078
I am still having this issue.  Shouldn't the dependency be on the ip command instead of ifupdown for the maximum compatibility?

[2020-06-18 17:42] OrangeDog commented on #49078
@allyunion yes, that's the fix that got accidentally reverted.

[2020-06-18 17:45] xeacott commented on #57701
@litnimax Thanks for the issue here. @max-arnold it looks like that PR was merged and the code is there, however this is indicating that the `reactor_niceness` var is not present in his opts. Any suggestions here?

[2020-06-18 17:50] xeacott commented on #57718
@OrangeDog Thanks for reporting this, we'll get someone on it. 👍

[2020-06-18 17:50] redishot2 commented on #32253
Dave Verwer has created a website that catalogs many SPM frameworks with helpful info like license, versions available, and how long ago the last update was.

[The Swift Package Index](https://swiftpackageindex.com/?utm_campaign=iOS%2BDev%2BWeekly&utm_medium=email&utm_source=iOS%2BDev%2BWeekly%2BIssue%2B460)

[2020-06-18 17:51] xeacott commented on #57710
Hey @rj-dsl are we able to close this issue? It looks like you're good to go, but sorry about the manual effort required ...

[2020-06-18 17:57] xeacott commented on #57717
Hi @Morozzko so it looks like you've installed using Python 2.7, which we no longer officially support, to which the ImportError is because Python 2.7 does not have abc importing. You will have to use Python3.6+

[2020-06-18 18:08] krionbsd commented on #57712
@dmurphy18 do we install `salt.ufw` by default on Ubuntu20? Could you please help.

[2020-06-18 18:13] mtslzr commented on #56442
In the wake of numerous older versions (included 2016.11) being shelved, I'll close this. We ended up just using `pip install` to install Salt, and have moved away from 2016.11 now anyway. Thanks for the help.

[2020-06-18 18:13] #56442 closed

[2020-06-18 18:14] allyunion opened #57721 "[BUG] 3001 On Ubuntu 18.04, network.managed of bridge interface returns a RuntimeError"
**Description**
On Ubuntu 18.04, network.managed of bridge interface returns a RuntimeError

**Setup**

network.sls:
`ifupdown:
  pkg.installed:
    - pkgs:
      - ifupdown

eno1:
  network.managed:
    - enabled: True
    - type: eth
    - bridge: br0

br0:
  network.managed:
    - enabled: True
    - type: bridge
    - proto: dhcp
    - ports: eno1
    - use:
      - network: eno1
    - require

[2020-06-18 18:16] mattp- commented on #57701
this seems odd. i just tried running from git on the v3001 tag and it was fine. how did you install salt / what packaging?

[2020-06-18 18:20] mattp- commented on #57701
regardless of the actual issue, if you put reactor_niceness: 0 in your config it should work as before (unless something is _really_ wrong)

[2020-06-18 18:28] krionbsd commented on #57707
@saltstack/team-core someone has an idea what might be going on here?

[2020-06-18 18:29] johnkeates commented on #32253
That seems to be a Swift repo, not SaltStack.

[2020-06-18 18:43] dmurphy18 commented on #57712
We don't, don't see salt.ufw as part of the install for Ubuntu 16.04, 18.04 and 20.04.
But wondering if this could be an issue on Ubuntu 20.04 due to dropping of legacy net-tools and we had to add then back into the install.

If the steps work on Ubuntu 18.04, then that is probably the issue and need to get marked up and associated with issue #57541

[2020-06-18 18:48] JeremyHutchings commented on #57712
I installed on an Ubuntu 18.04.4 LTS server today as well (as we have a mix of 20.04 and 18.04 and had to manually create the file on all servers.

I was confused because of this : https://docs.saltstack.com/en/latest/topics/tutorials/firewall.html

![Screenshot_20200618_194813](https://user-images.githubusercontent.com/439559/85060176-b3561880-b19c-11ea-8163-99fad58eac5d.png)

[2020-06-18 18:55] xeacott commented on #57714
@sjorge Thanks for the report and spending so much time on diving into the code. Would you be able to open a PR and we can discuss there?

[2020-06-18 18:59] sjorge commented on #57714
@xeacott I can yeah, but won't have time the coming week to write tests (never written tests for grains and I am not sure how I can add a test that covers this particular bug well.)

[2020-06-18 19:03] xeacott commented on #57714
Hey no problem @sjorge there are a lot of tests that already exist in `unit/core/test_grains.py` that can be used for examples, just like the LXC grain. If you're feeling it, go for it. Otherwise we appreciate the PR and someone will get tests written for it.

[2020-06-18 19:05] xeacott commented on #57715
@Zortran Thanks for the report. Just to clarify, the line ...

num 146 `hosts.extend(_get_hosts_from_group(child)) `
should be commented out as its causing issues, yes?

If this is the case, would you like to get a PR in for this and we can continue discussion there?

[2020-06-18 19:05] sjorge commented on #57714
I'll try to get the PR in with just the patch and some more fleshed out description/analysis.
I can push tests later if I find time, or like you said someone form saltstack could do them.

[2020-06-18 19:09] Morozzko commented on #57717
thx gonna try

[2020-06-18 19:09] #57717 closed

[2020-06-18 19:10] xeacott commented on #57716
@remyd1 Thanks for posting this, and agreed although we've seen a _few_ issues lately with needing to restart the `salt-master`. I am unsure exactly what best practice is, so maybe someone on @saltstack/team-core can weigh in on that?

[2020-06-18 19:12] xeacott commented on #57702
@litnimax Thanks for the report, seems like an odd issue to have. Was there anything else that occurred after you killed the process and restarted it?

[2020-06-18 19:22] sagetherage opened #57722 "[TEST FAILURE] centos8 py3 slow tests"
**Description**

https://jenkinsci.saltstack.com/job/pr-centos8-py3-slow/job/master/225/

[2020-06-18 19:54] dmurphy18 commented on #57722
they have been failing for some time in what appears to be integration shell tests

[2020-06-18 19:59] dmurphy18 commented on #57712
@JeremyHutchings Did this used to work for you, if so, can you provide a versions report on the machine that it did work.

The file salt.ufw has not been shipped with Debian or Ubuntu systems that I recall from Salt.
Note: this may have been an oversight.
It is shipped for Redhat family platforms.

[2020-06-18 20:04] sagetherage opened #57725 "[DOC] New doc on rotating keys"
**Is your feature request related to a problem? Please describe.**
This works, but isn't explicit in the documentation, request for net new docs on key rotation

**Describe the solution you'd like**

- Rotating Keys
There are several reasons to rotate keys. One example is exposure or a compromised key. An easy way to rotate a key is to remove the existing keys and let the salt-master or salt-minio

[2020-06-18 20:22] joni1993 commented on #39845
This is still important, but probably difficult to implement, as the whole x509 remote signing is actually minion-to-minion peer communication, so the CA server has no access to it's clients pillar data. I see no easy way to "dynamically" get a rule for certificate-client-minions from the ca-minion.

Any ideas how this could be done?

[2020-06-18 20:53] rj-dsl commented on #57710
yes, sorry :)

[2020-06-18 20:53] #57710 closed

[2020-06-18 21:09] bryceml commented on #57711
It appears that along with all of the changes going into moving to pycryptodome, I marked pycryptodome as a dependency of salt-master and salt-minion since that's where the dependencies on python3-crypto were.
[code]
Looks like we need to move those dependencies to the salt-common package.  I'm not sure why this wasn't breaking with python3-crypto.  Probably something we changed in the python requ

[2020-06-18 22:03] bryceml commented on #57711
@dwoz says we're going to do a re-package release before 3001.1, which should show up in repo.saltstack.com as

repo.saltstack.com/..../archive/3001-2
repo.saltstack.com/..../3001 -> archive/3001-2 # this is a symlink.

using the bootstrap script you will get the update.

[2020-06-18 22:30] sagetherage commented on #51932
@marceliq what state are you using and where exactly are you see this happening? I want to gather as much information as I can so we can really narrow down where this is still occurring and get it corrected. Thank you!

[2020-06-18 22:54] angeloudy commented on #57696
@krionbsd I've already tried that, with no luck, because it happens so randomly that I can't reproduce it by hand. And I think debugging the state.apply is useless because it fails due to lack of pillar data.

[2020-06-18 22:56] waynew commented on #57456
I've tried this a couple of times and haven't been able to repro. I didn't try on Ubuntu 20.04, but I'll give that a shot tomorrow and see if I can repro.

[2020-06-18 23:57] bryceml commented on #57711
This also affects raspbian 9

[2020-06-19 00:11] sagetherage commented on #57711
Yes, that is a confusing, we will do more packages on repo.saltstack.com which will be agnostic of a salt release. I am removing the release label.

[2020-06-19 00:13] sagetherage commented on #57711
I am adding the version - since I can. Not to confuse, we are working this now and will publish as soon as we are able.

[2020-06-19 00:40] sagetherage commented on #48667
the stale bot has been disabled, but we do still need some automation in place for follow up, clearly we missed it here. @jerrykan can you confirm the salt version you are still seeing this, please?

[2020-06-19 00:55] sagetherage commented on #51848
@shorawitz can you confirm this is still an issue and have you been able to upgrade to a new version and still seeing this issue there, as well?

[2020-06-19 00:58] sagetherage commented on #56181
@waynew can you follow up here, please?

[2020-06-19 00:59] sagetherage commented on #56198
@twangboy please follow up on this issue.

[2020-06-19 01:00] shorawitz commented on #51848
I can't at this time since I don't have a Salt setup at my new position.  I
believe this was from a customer request - possibly LMI.

On Thu, Jun 18, 2020 at 5:55 PM Sage the Rage <notifications@github.com>
wrote:

[2020-06-19 01:03] sagetherage commented on #56206
trying to move this forward, I will need to follow up tomorrow or Monday.

[2020-06-19 01:04] sagetherage commented on #56216
@xeacott can you help with follow up on this tomorrow during regular triage of new issue, please?

[2020-06-19 01:10] sagetherage commented on #56217
@saurabhnemade are you still seeing this issue and can you provide a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example) - salt version report, state files used, example config, the jobs, if it is on a schedule and any other relevant info with sensitive info redacted, please?

[2020-06-19 01:40] carolcoral commented on #55799
@waynew i am sorry it too late to answer you.Your example can be worked in the same mathin,but i need to execute it from another mathin as a client.
So, i have to make a Flask service as a client to receive 'command' to execute it.
For example like this:
[code]

[2020-06-19 06:18] litnimax commented on #57702
I am trying to re-produce it. But now there is no such error.
Let me pls to keep this ticket open for a week or so.
Thanks.

[2020-06-19 06:26] litnimax commented on #57701
I installed with pip. So it did not create me the default configs.
Also I use masterless reactor. So this option should go to minion conf.
But anyway I think if ``self.opts.get("reactor_niceness", 9)`` will be better.

[2020-06-19 06:56] krionbsd commented on #57713
Thanks for the report, could you please submit a PR to fix this issue?

[2020-06-19 07:40] Zortran commented on #57715
@xeacott I'm newbie in Python. But receive error I found broken logic in function. I think line 146 must be deleted. For me it fix the roster module.
[code]

[2020-06-19 07:53] dhs-rec commented on #57706
We're also still in the process of evaluating 3000. Since both 3000 *AND* 2019.2.x had compatibility issues, we still couldn't update from 2018.3.x. But those versions are gone now.
Please restore them.

[2020-06-19 09:08] mbochenk commented on #57706
I am in a similar situation here. For me pinning to major version does not work.
There are usually quite big changes between minor versions - either new bugs, incompatible changes or old bugs resurfacing. Sure, sometimes these are not bugs but issues with my code that were working for some time by that point.
As a result I always have to actually plan update between minor versions. In the end I do

[2020-06-19 09:20] OrangeDog commented on #57706
To be clear, they aren't gone, they've just been moved.

[![image](https://user-images.githubusercontent.com/675056/85038770-e4275500-b17e-11ea-9846-8e77f529cec8.png)](https://repo.saltstack.com)

[SEP 22](https://github.com/saltstack/salt-enhancement-proposals/blob/master/accepted/0022-old-releases.md)

Further, 2019.2.3 and 2018.3.x have a [critical security vulnerability](https://community.salt

[2020-06-19 09:43] dhs-rec commented on #57706
OK, then fix the docs, please: At least on the Windows download page, it points to https://repo.saltstack.com/windows/archive/, which is empty.

And NO, there's nothing we MUST do. However, I understand it's recommended to patch ;-)

[2020-06-19 09:46] JeremyHutchings commented on #57712
_Did this used to work for you, if so, can you provide a versions report on the machine that it did work._

I can't, as I have no memory or evidence of it ever working, I've always had to deal with the ports manually. So I expect installing the file on Ubuntu is an oversight.

[2020-06-19 09:56] mbochenk commented on #57706
@OrangeDog and they were present until a couple of days ago and for years in the old location.

I've run multiple times into incompatibilities between minor salt stack versions that make you roll back to previous release. In the past both bugfixes and CVE were mixed in a minor release. This path would be valid if minor releases were only for CVE and maybe some really critical bugs. For example, le

[2020-06-19 10:34] OrangeDog commented on #57706
Yes I know, I've had all of the same problems.
I've repeatedly asked to have a single repo with all the currently-supported versions in it, but saltstack apparently don't want to.

All that has happened is unsupported releases have been moved. **They have not been removed.**
There was a proposal announced, the community approved it, it was announced again, and there is a highlighted warning banner

[2020-06-19 11:44] andreasnuesslein commented on #57705
Can confirm this bug with the following masterless minion-config:
[code]

No changes, when I set `uses` in `auth` to any value.

As a **temporary workaround** you can set line 342 (`connection["uses"] -= 1`) to
`connection["uses"] = 1`

[2020-06-19 12:04] remyd1 opened #57729 "[BUG] Critical bug in salt [3000.3] and [3001] whith git remote backend and `gitpython`"
**Description**

Following [this bug](https://github.com/saltstack/salt/issues/57716), I have noticed many other bugs while refreshing or synchronizing stuffs in `SaltStack 3000+` with a git backend.

Indeed, I have custom modules. These modules were not synchronized this morning. I had to force the synchronization with `salt '*' saltutil.sync_modules`.

However, then, I had a really serious bug w

[2020-06-19 12:11] timsen4711 commented on #49238
I do not understand why this state is still maintained and in the documentation if it's demonstrably not functional under Debian and corresponding derivatives.
Either change the documentation (does not work on Debian ...)
or try to fix the problem -> please!
But continuing to provide the state and leaving this problem untouched is definitely not a good way.

[2020-06-19 12:51] oeuftete opened #57730 "[FEATURE REQUEST] Incorporate lint for log messages in __virtual__"
**Is your feature request related to a problem? Please describe.**

Community contributors (and maybe Salt devs, too) add well-meaning logs to `__virtual__` methods, typically to highlight that a module could not be loaded.  However, these messages will show up very frequently in the logs, which is especially problematic if the logs are errors (see, e.g. https://github.com/saltstack/salt/pull/5772

[2020-06-19 13:00] oeuftete commented on #57730
Support was added for this in https://github.com/saltstack/salt-pylint/pull/37.  However, I ran into a couple of obstacles trying to add it.

### Salt's dunders blow up the check

E.g. https://github.com/saltstack/salt/blob/b95213ec903402f25c1e0aeb3990fe8452ab63ce/salt/modules/linux_service.py#L18-L56

[code]

### Log message in missing import blocks aren't found

https://github.com/saltstack/salt

[2020-06-19 14:08] remyd1 opened #57732 "[BUG] gitfs_provider ignored with pygit2 installed"
**Description**
In the [gitfs documentation](https://docs.saltstack.com/en/latest/topics/tutorials/gitfs.html#installing-dependencies), it is said that `gitfs_provider` should be used when both `pygit2` and `gitpython` are installed. It seems that it does not work.

Uninstalling `pygit2` solves this issue.

**Versions Report**

After uninstalling `pygit2` (`1.2.1`):

<details><summary>salt --versi

[2020-06-19 14:09] bryceml commented on #57513
It is a recommends dependency, not a required one.  We could potentially change it to a suggests dependency.  I would want more community input on that.  We went with recommends because it would "just work" for people, and they could still remove it if they wanted to.

[2020-06-19 14:10] bochi opened #57733 "[BUG] minion with fishy public key will make saltmaster unresponsive/unusable"
**Description**
**IMHO THIS IS A CRITICAL BUG**
If there's an invalid key in /etc/salt/pki/minion/minion.pub (ie. empty file or garbage) the key can still be accepted but the salt master is trying to load the key anyway and fails with

[code]
or
[code]
The really bad thing about this is that everytime this happens it appears that a worker thread becomes unusable/unresponsive. So after a short whil

[2020-06-19 14:25] remyd1 commented on #57729
I am not sure about what is going on here, because I switched back to `gitpython` after removing `pygit2` and it works fine now...

Here is the list of what I have done so far:

Installing `libgit2`:

[code]

Adding a ssh/config file or append this to it:
[code]

[code]

[code]

Starting `salt-master` in debug mode:

[code]

Ok, it works with `pygit2`.

Switching back to `gitpython`:

[code]

[cod

[2020-06-19 14:39] oeuftete commented on #56495
I can reproduce this in 3001 as well.  A little more detail which might help focus in on where the problem lies.

This configuration seems to work:

[code]

[code]

However, if I use the ["by minion, by user" `external_auth` configuration](https://docs.saltstack.com/en/latest/topics/eauth/index.html#matching-syntax):

[code]

[code]

[2020-06-19 14:43] oeuftete commented on #56495
Here's the diff between 2018.3.5 and 2019.2.5:

[code]

[2020-06-19 15:24] sagetherage commented on #57574
trying something on this issue with the title, versions bug is reported in the brackets.  We may all hate it so only trying it on this one issue ATM this and the referenced issue point to more issues and we have the Open Core Team looking at what we can fix in the point release 3001.1 and maybe there is more to fix Magnesium - likely.

[2020-06-19 15:34] OrangeDog commented on #39608
@sagetherage this can be closed now: As Designed

[2020-06-19 15:44] OrangeDog commented on #57574
@sagetherage usually that's what the labels are for, and you use the milestone to show the planned fix release

[2020-06-19 16:07] ericrasmussen commented on #49238
For added context, I had issues running the test suite and some concerns
about how the timeout might be used here. I tried talking to maintainers on
IRC several times to get more info and couldn't get a coherent response, so
eventually I let it go. I know their team is busy, but without being able
to run the test suite or get any support I didn't feel comfortable turning
this into a PR.

If anyone

[2020-06-19 16:31] bdrung opened #57734 "[BUG] test_thin_dir fails with python3-virtualenv 20.0.23+ds-1"
I wanted to prepare salt 3001 for Debian and one test case failed:

[code]

The test case obviously choke the version number of the installed python3-virtualenv package: `20.0.23+ds-1`.

[2020-06-19 16:34] bryceml commented on #57711
Actually, I think it would be better to re-name the existing folder in archive to 3001-1 and have the new release replace 3001
so

repo.saltstack.com/..../archive/3001-1 # this is the old release
repo.saltstack.com/..../archive/3001 # this is the new release
repo.saltstack.com/..../3001 -> archive/3001 # this is a symlink.

Is that ok @dmurphy18 ?

[2020-06-19 16:58] twangboy commented on #56198
I can confirm this bug with the 3000.3 installer users the silent switch `/S`

[2020-06-19 16:58] sagetherage commented on #51848
@shorawitz I didn't realize you were in a new position, congrats! and you will be missed!

[2020-06-19 17:04] OrangeDog opened #57735 "[BUG] relative pillar includes only work in the current directory"
**Description**
Pillars now support relative includes, but only a single level. They should behave the same as state includes.

**Steps to Reproduce the behavior**
[code]

**Expected behavior**
Includes should behave consistently across pillars and states.

**Versions Report**
<details><summary>salt --versions-report</summary>

[code]
</details>

[2020-06-19 17:07] twangboy commented on #56198
This issue has been addressed by: https://github.com/saltstack/salt/pull/57578
3001 builds include the above fix.

[2020-06-19 17:07] #56198 closed

[2020-06-19 17:11] xeacott commented on #56216
Yes @shortstack ill add this to my list of stuff for the day and i'll see what I can come up with, but ill follow up in an hour so once i've read this a few times 😄

[2020-06-19 17:17] dmurphy18 commented on #57712
Changing this to a feature, since you are the first to bring it up in over 5 years.

Add **salt.ufw** to Debian and Ubuntu packaging similar to it's provision with Redhat and Amazon platform families

[2020-06-19 17:26] sagetherage commented on #57574
yes, we abuse label, though

[2020-06-19 17:27] sagetherage commented on #57574
and right now I can't give community members the ability to apply labels, working on it.

[2020-06-19 17:30] j0sh3rs commented on #57705
Can confirm the workaround is functional -- thanks @andreasnuesslein !  This should work for my demoing purposes of sdb functionality, but what kinds of expectation could be set for when this will be formally fixed?

[2020-06-19 17:42] sagetherage commented on #56828
kicking this back into triage

[2020-06-19 17:43] sagetherage commented on #56516
@wesley-c42 can you give more details, please?

[2020-06-19 17:44] xeacott commented on #57729
@remyd1 Thanks for all this information. There seems to be problems often with git backends and the only person I know who has worked on that is @cmcmarrow so I'll see if he can provide any insight.

[2020-06-19 17:46] sagetherage commented on #57707
@saltstack/team-packaging

[2020-06-19 18:02] sagetherage commented on #57707
Confirmed this is a valid bug @hsergei are you able to submit a PR?

[2020-06-19 18:05] xeacott commented on #57709
Thanks for the report @kkallday has your state files worked in the past at all, and now with an upgrade they're no longer working?

All i can find is this doc: https://docs.saltstack.com/en/master/topics/tutorials/gitfs.html#tutorial-gitfs
and this doc: https://docs.saltstack.com/en/master/ref/pillar/all/salt.pillar.git_pillar.html#git-pillar-configuration

[2020-06-19 18:15] sagetherage commented on #56397
putting this back into triage

[2020-06-19 18:20] sagetherage commented on #56206
@sjkummer or @max-arnold are either of you able to open a PR for this? This likely isn't something the Open Core Team can focus on right now, but we can keep it open for the community to pick up.

[2020-06-19 18:25] sagetherage commented on #57064
putting this back to triage for follow up

[2020-06-19 18:26] xeacott commented on #57732
Thanks lol @remyd1 so I brought up your issues in our internal chat because there definitely seems to be something going on here with the opts, having gitfs providers, and then actually using them. we'll see what resolution we can bring, but is there a way to condense all your tickets into a single one? Sorry, I realize that's a big ask but I'll let you decide. 😄

[2020-06-19 18:26] whytewolf commented on #57709
This is working as expected.

saltenv locks an environment to ONLY that environment. and master is the base environment in your config.

The branches are not what is important here but the mapping of environments. If you use saltenv you are locking those environments to only that environment.

[2020-06-19 18:29] sagetherage commented on #56181
putting this back into triage for follow up

[2020-06-19 18:31] whytewolf commented on #57729
Can we get more of the actual git configs? such as the git remotes and gitfs_* configs. except for passwords if those exist.

[2020-06-19 18:33] xeacott commented on #56224
Hi @jf thanks for getting back. Are you able to fully upgrade to Python3 and salt 3000/3001?

[2020-06-19 18:38] hsergei commented on #57707
@sagetherage I'm not sure if this PR would be a vanilla bug fix and not involve architecture decisions. This looks more like rewriting spm. And looking at when it was introduced I believe most users either not affected by this or figured some workaround. So a decision has to be made how to move forward.

* Does DB need constraints/indices ?
* Why there is `-f` and what exactly is it expected to fo

[2020-06-19 18:46] xeacott commented on #57733
Agreed @bochi we'll get someone to take a look at this, thanks 👍

[2020-06-19 18:47] xeacott commented on #57734
I believe this test is passing in our environment but let me check @bdrung

[2020-06-19 18:48] whytewolf commented on #57716
Yes, a restart is going to be required if you rm the gitfs directories out of the cache. you not only deleted the repos you deleted the map to those repos. so while the master might think one thing salt-run is not going to be able to map to those items.

That map is created on startup if it doesn't already exist.

[2020-06-19 19:15] sagetherage commented on #57133
We do really need to do better here, I am looking into it, kicking this back to triage to get follow up, today.

[2020-06-19 19:16] sagetherage commented on #57133
@nicholasmhughes if you have any input please do respond, as I attempt follow up, thank you! @saltstack/team-cloud

[2020-06-19 19:43] remyd1 commented on #57729
Sure @whytewolf :

[code]

Other options are commented. I can give you the full path for my git repositories but that won't help you as it's nt reachable from Internet. It is just a basic private gitlab server.

That being said, I am checking my logs now on this salt master (yes, I should have done that in the first place), and after some grep on ERROR and date, I get some interesting informations

[2020-06-19 20:11] denz7201 commented on #57133
Thanks Sage.  Last I checked this was still an issue.

[2020-06-19 20:19] remyd1 commented on #57716
Ok @whytewolf , I will upgrade my scripts then. Is it related to a specific commit on salt `3001` ?

Thanks.

[2020-06-19 20:42] prensing commented on #57390
Much as I generally like the Salt windows package manager works, the package definitions are a significant maintenance problem. If the Salt files do not list every version, then it thinks the package is not loaded, and can actually downgrade a package. It remains to be seen, but if winget gets traction, it would be better (IMHO) to consolidate on it, mostly to cut out duplicate maintenance effort

[2020-06-19 22:08] sagetherage commented on #57732
I like having the docs updates in another ticket -- we can keep it as is.

[2020-06-19 22:47] whytewolf commented on #57716
No, This should never have worked at all. If it had you were only getting lucky.

[2020-06-19 23:26] piterpunk commented on #57456
Tested with current master on a freshly installed and updated Ubuntu 20.04 and can't reproduce this issue:
[code]

The lala/init.sls state:
[code]

salt --versions-report
[code]
I installed most Python modules using PIP and not the Ubuntu packaged ones.

[2020-06-19 23:32] xeacott commented on #57704
There's a lot of information in here, so let me try to summarize just to make sure I understand:
- So first and foremost, your minions (only some of them?) we're **not** responding to being targeted, but only when the wildcard target was used
- And, the minions that weren't responding through normal targeting (same ones as above) also didn't have keys otherwise returned from running `salt-key`
- s

[2020-06-19 23:38] xeacott commented on #56216
Okay so, @shortstack off the bat this seems to be highly specific and incorrect behavior:

[code]

Are there any logs at this point in time you'd be able to share some output from? Or have you considered upgrading the master/minion?

My usual setup is a master running on Ubuntu (WSL) and then a native Windows minion, so I'm hoping to find a way to repro this.

[2020-06-19 23:48] xeacott commented on #57715
I'll make a PR in a second here, let the tests run on it, and see if something breaks. 😄

[2020-06-20 00:33] vosscodes commented on #57733
we ran into this today as well when a minion somehow had keys of 0 bytes generated. the master has several hundred minions, and this issue generally rendered it useless, but some highstates were seemingly still succeeding.

logs were just like the ones posted above, we saw `RSAError: no start line` in all cases.

salt 2019.2.5, centos 8
[code]

[2020-06-20 03:52] waynew commented on #57456
Same here - trying with Ubuntu 20.04 Docker container and everything works. I cannot reproduce this on 3001.

For anyone who was able to reproduce this, was this under Docker? Can you repro under docker? Or vagrant?

I'm simply not able to reproduce this - I'm not sure if I'm just missing some setting in master/minion config, mine are very sparse, just enough to connect. I added gitfs to see if th

[2020-06-20 04:05] waynew commented on #57550
I'm looking into this 👀

[2020-06-20 04:06] max-arnold commented on #57735
@waynew This issue describes the same problem I spotted earlier: https://github.com/saltstack/salt/pull/52156#issuecomment-526059701

[2020-06-20 05:45] remyd1 commented on #57716
The "rm" operation in my script is only done if `-e=y`. I don't do that usually. And it was not done in this use case.

[2020-06-20 14:32] OrangeDog commented on #57718
I realised I have `grains_cache: true`, which probably contributed to some of the behaviour.

[2020-06-20 14:36] OrangeDog commented on #57456
Hmm, I've installed 3001 on 8 separate 20.04 server VMs (kvm) and they all do it.
All have the same config, but the highstate is complex and differs between them in various ways.
Shell is bash, connected via SSH.

<details><summary>Master config</summary>

[code]
</details>

<details><summary>Minion config</summary>

[code]
</details>

If I have time and luck and find a minimal reproduction I'll s

[2020-06-20 15:21] arizvisa commented on #57196
@pankajghadge, maybe a stupid question, but did you recently switch from python2 to python3?

[2020-06-20 15:26] arizvisa commented on #57196
@DmitryKuzmenko, this is a scoping issue and is based on Python's GC. So it won't be easy to reproduce unless your interpreter's garbage collection is aggressive. You might be able to reproduce by explicitly deleting the etcd client when it has gone out of scope, and then calling `gc.collect` to get Python to clean it up.

You can likely consider it an upstream bug, though, as python-etcd should n

[2020-06-20 17:06] kkallday commented on #57709
Got it. To summarize:
- I have a master config with repo-1 and repo-2
- The "my-branch" is only in repo-1
- `something.sls` in repo-1 imports a file that resides in repo-2
- If I `state.apply something saltenv=my-branch`, the failure is expected because "my-branch" does not exist in repo-2.

Is my understanding correct?

An additional question: I see the `fallback` feature [here](https://docs.salt

[2020-06-20 17:58] edgan commented on #57456
I tested the hang on Ubuntu 20.04 with Salt 3001, and I don't see it anymore on state.applys that touch salt:// . @OrangeDog I suspect you have a different bug.

[2020-06-20 18:40] mchugh19 commented on #57705
Ick! Looks like this was missed by the test suite. Using `file_client: local` or approles could trigger this.

#57739 should correct this, and also adds a test case so it won't happen again.

[2020-06-20 19:39] OrangeDog commented on #57456
It certainly looks that way.

[2020-06-21 09:24] jleroy commented on #42145
This issue is still present in 3000.3.
It seems to happens only when `network.system` and `network.managed` are used together.
I see no error related to networking in minion log or syslog but the main interface (eno1 in my case) is in state `DOWN` after the state has been applied.

[code]

[2020-06-21 09:41] arizvisa commented on #57648
After upgrading to 3001, it seems this issue has gone away. I'm not sure which PR or what change fixed this, as I tried downgrading back to 3000.3 to confirm my sanity and was still able to reproduce.

So, closing this issue as you guys have resolved it somewhere in-between 3000.3 and 3001.

[2020-06-21 09:41] #57648 closed

[2020-06-21 09:45] arizvisa commented on #57652
After upgrading to 3001, this issue doesn't reproduce anymore similar to another issue that I submitted for 3000.3. I downgraded to 3000.3 to confirm my sanity and was still able to reproduce this one as well.

However, I'm closing this as it was fixed by some commit in-between 3000.3 and 3001 and that's really all I care about. It gets progressively harder and harder to defend usage of this softw

[2020-06-21 09:45] #57652 closed

[2020-06-21 10:09] arizvisa opened #57740 "[BUG] setproctitle and timelib compilation requirements on the Windows platform"
**Description**
On the Windows platform, both of these packages are required if installing the `salt==3001` package from pypi (https://pypi.org/project/salt/3001). The issue is that installing either of these packages requires a compiler on the target in order to build them.

However, according to the `HAS_TIMELIB` and `HAS_SETPROCTITLE` variables used by `salt.modules.dockermod` + `salt.utils.dat

[2020-06-21 10:10] arizvisa commented on #57740
I can get logs if you guys need, lmk if that's the case.

I think this is actually in `requirements/static/windows.in`.

[2020-06-21 11:23] krionbsd commented on #57740
Shane, Chad, could you please help with it?

[2020-06-21 12:39] Mapel88 opened #57741 "system.set_hostname not working on windows servers in version 3000"
**Description**
system.set_hostname not working on windows servers in version 3000
test with minion version 3000.2 & 3000.3

**Setup**
salt-call system.set_hostname sv1-test -l debug

**Steps to Reproduce the behavior**
[code]

**Expected behavior**
Rename server hostname

**Versions Report**

[code]
</details>

**Additional context**
module was working properly in version 2019.
According to windo

[2020-06-21 14:17] #57702 closed

[2020-06-21 15:02] shish opened #57742 "[BUG] AttributeError: 'Process' object has no attribute '_args_for_getstate'"
**Description**
salt-ssh crashes with an exception before doing seemingly anything

**Setup**
Just upgraded to salt 3001, 3000 was working fine

**Steps to Reproduce the behavior**
salt-ssh $host state.highstate test=True

<details><summary>AttributeError: 'Process' object has no attribute '_args_for_getstate'</summary>

[code]
</details>

**Expected behavior**
Salt executes on the host

**Version

[2020-06-21 15:34] damon-atkins commented on #57390
WinGet has the same problem, every version needs a new file.   Unfortunate I have not had time to complete the package manager I have written to replace win_pkg.  It does dynamic version. For example it knows about all versions of firefox, without one version number mention in the package definition file. You can configure how to get the list of available versions.

[2020-06-21 16:00] prensing commented on #57390
That sounds like a great idea.  But if it does not work out, then I would guess that winget will benefit hugely from wide community involvement in maintaining the manifests (if it does not fizzle...).

[2020-06-22 08:13] conmarti commented on #54378
Just updated to version 3000.2 and ran into the same issue. When using cmd directly I can workaround the issue by providing the desired group.
But not all modules which makes use of cmd module (e.g. git) have the possibilty to provide group information and therefore do their "work" using group "root".

[2020-06-22 08:49] fgionghi opened #57744 "[BUG] Problem with file.replace with python 3.8"
**Description**
I have 1 master (ubuntu 18.04) and 2 clients (one ubuntu 18.04 and one ubuntu 20.04) with salt 3001.

I have this state:
[code]
and on ubuntu 18.04 everything is working fine:
[code]
But I have problems with ubuntu 20.04:
[code]

**Versions Report**
minion `ariel` ubuntu 18.04:
[code]
minion `imsai` ubuntu 20.04:
[code]
master with ubuntu 18.04:
[code]

[2020-06-22 09:26] johje349 opened #57745 "[BUG] Problem with pcre matching in SLS files"
**Description**
After upgrading from 2018.3.4 to 2019.2.5 salt['match.pcre'] stopped working in SLS files.

**Setup**
Pillar file test.sls:
[code]

salt 'asx-u9' pillar.items:
[code]

**Expected behavior**
Expected matchedMinion: True

**Versions Report**
<details><summary>salt --versions-report</summary>
(Provided by running salt --versions-report. Please also mention any differences in master/mi

[2020-06-22 09:58] OrangeDog commented on #57712
Noting that [ufw-formula](https://github.com/saltstack-formulas/ufw-formula) provides an almost identical file as a workaround.

@dmurphy18 just because a bug hasn't been fixed for years doesn't make it not a bug. The documentation says this is supposed to happen, and it's clearly the intent of the source file that it gets installed,

[2020-06-22 10:00] #57741 closed

[2020-06-22 10:00] cbosdo opened #57746 "libvirt engine doesn't listen on storage events on recent libvirt"
**Description**

The minion log shows the following when starting the libvirt-events engine even when running against a recent libvirt like 6.0.0:

[code]

Storage events have  been added in libvirt 2.0.0, so libvirt is not too old for them.

**Setup**

* Recent enough libvirt
* Enable libvirt-events engine with this in the minion config:

[code]

**Steps to Reproduce the behavior**

Start the min

[2020-06-22 11:23] pesc commented on #57543
@krionbsd What version of FreeBSD are you using?
I've tested it on 11.3 and the new 11.4 with python 3.7.7 (as shown in version report)

`# salt --versions-report
Salt Version:
           Salt: 3001

Dependency Versions:
           cffi: 1.14.0
       cherrypy: Not Installed
       dateutil: 2.8.1
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed

[2020-06-22 11:40] pesc commented on #57543
**Debug Log**
<details><summary>salt-call -l debug state.sls test4 test=true --state-verbose=true  saltenv=salt3000</summary>

[code]
</details>

[2020-06-22 12:02] angeloudy commented on #57696
After some testing I found most pillar that are missing have jinja conditions around them.
For example,
[code]
These kind of pillars get missing randomly

[2020-06-22 13:03] mattp- commented on #57701
ah, didnt notice the title said masterless. i actually had no idea this was a thing, but if its instantiating a reactor with minion_opts it would explain the failure. your suggestion would work but really the default should be in config/__init__.py for minion opts if reactor can be used in this way.

[2020-06-22 13:47] oeuftete opened #57748 "[BUG] tests/integration/netapi/rest_tornado are not run with runtests"
**Description**

None of the tests under `tests/integration/netapi/rest_tornado` currently run with `runtests`.  This appears to mean these tests are not running in CI.

![image](https://user-images.githubusercontent.com/170730/97091552-fe80ac00-1612-11eb-9052-401a563bb04d.png)

**Steps to Reproduce the behavior**

[code]

<details><summary>Test logs</summary>

[code]
</details>

**Expected behavi

[2020-06-22 13:50] oeuftete commented on #57748
This will work around the issue:

[code]

It looks like the check added in https://github.com/saltstack/salt/commit/b7f99d180f90453fbebbe0fa20f36d56b560df5f to see if all of a class's tests can be skipped is a bit overzealous.

[2020-06-22 14:04] oeuftete opened #57749 "[BUG] tests/integration/netapi/rest_tornado don't pass under pytest"
**Description**

The tests under `tests/integration/netapi/rest_tornado` that work with `runtests` (with the workaround in #57748 to allow them to be selected) do not work with `pytest`.

**Steps to Reproduce the behavior**

This will cause a couple of tests to fail.  If the tests are not limited with `-k`, they will eventually hang, so maybe the tests are also not as independent as they need to b

[2020-06-22 14:21] malletp opened #57750 "[BUG] Minion did not return. [No response] with some random minions"
**Description**
With masters started since few weeks, salt commands failed with "Minion did not return. [No response]" on some random minions. The minions who do not respond are not the same if the salt command is rerun.
I reproduce the issue when I target a single minion with a test.ping command.
Restarting the master service solve the issue, but it appear again after some days/weeks without rest

[2020-06-22 14:31] CostelLupoaie commented on #57574
Also tested it on Ubuntu 20.04

[code]

In our case seems to be failing when we have more then file in definitions. For instance a simple sls with a single file:

[code]

was ok. However:

[code]
did not exit (thus the Ctrl+C).

In our tests it fails to exit for states having service.running, cmd.wait, archive.extracted, so maybe it has something to do with the cleanup.

[2020-06-22 14:45] shortstack commented on #56216
We've had numerous issues with the salt minions causing exceptions and no longer checking into the master (dozens more than just this instance and various other exceptions). In a distributed environment where we don't always have access to these systems by any means *other* than salt, we've had to abandon salt and find another solution since it has become unreliable.

I do not have the logs from t

[2020-06-22 14:58] krionbsd commented on #57574
Yeah, it seems every salt-call invocation on FreeBSD 13 and Salt 3001 has this problem

[2020-06-22 15:05] krionbsd commented on #57543
Now I can reproduce it on FreeBSD 13 and Salt 3001
It seems every salt-call and state invocation has this flaw right now

[2020-06-22 16:05] piterpunk commented on #57574
@CostelLupoaie pointed a bug applying states with more than one file.
@krionbsd all salt-call invocations on FreeBSD 13 and Salt 3001

The guess is that they are all related to the original slsutil.renderer bug?

[2020-06-22 16:10] sagetherage commented on #56828
@xSke can you give us a copy with redacted info of the state you used in your repro, please? I am trying to move this forward, thank you!

[2020-06-22 16:16] piterpunk commented on #57574
When I was working on #57669, I had the same issue of the neverending "salt-call". There it was related to modules/disks.py and the optional loading.

It was solved with commit [8018b2a](https://github.com/saltstack/salt/pull/57669/commits/8018b2a6405ea2995657920d16a30d5f08687636) maybe it's something similar happening here.

[2020-06-22 16:36] garethgreenaway commented on #57750
@malletp Thanks for the report.  A couple questions about the setup here, are the salt mater and the minions on the same network or this going out onto the Internet?  There are a number of Keepalive settings that you can add to the minion configuration to ensure it's maintaining it's connection to the master, https://docs.saltstack.com/en/latest/ref/configuration/minion.html#keepalive-settings.  F

[2020-06-22 16:45] sagetherage commented on #57546
@wb529kq looks like we can't reproduce this , can you give us more details? Maybe it is something specific to your box, or environment? Are you able to upgrade to a newer version of salt?

[2020-06-22 16:45] krionbsd commented on #57721
@allyunion thank you for reporting that. Could you provide mode details, did the state work for you prior to 3001 on Ubuntu 18?

[2020-06-22 16:49] krionbsd commented on #57742
@saltstack/team-core someone with MacOS Kung-Fu skills might take a look into this one

[2020-06-22 16:51] dmurphy18 commented on #57711
@bryceml  it is similar to what I did for Raspbian 9
[code]

[2020-06-22 16:52] oeuftete commented on #50162
Just for the record, looks like this was not addressed until 3000.1 via https://github.com/saltstack/salt/pull/54580.  I can reproduce it in 2019.2.5.

[2020-06-22 17:37] krionbsd commented on #57745
@johje349 thank you for submitting the report. I tried to reproduce it with 3001 but couldn't. Could you please try it with 3001?

[2020-06-22 17:39] sagetherage commented on #56216
@shortstack We certainly don't like hearing this, and we will need more information in order to move forward, here. Are you able to get with a colleague or peer that can get logs?

We can schedule a time with you and an Open Core team member, maybe include someone from support for 30 minutes to run through more specifics. Let us know if there is more we can do or if you want to move forward with e

[2020-06-22 17:44] flassman opened #57752 "[BUG] regression with 3001: runas and onlyif do not work together"
**Description**
Using a cmd.run state with powershell commands fails if you use the `runas` and `onlyif` options together.
It worked with 3000.2 but now fails with 3001

You get the following stacktrace:

**Setup**
[code]

**Steps to Reproduce the behavior**
(Include debug logs if possible and relevant)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Scree

[2020-06-22 17:52] oeuftete commented on #57752
ZD-5335.

[2020-06-22 18:05] krionbsd commented on #57735
@OrangeDog thanks for the report, could you please write the patch if it's possible?

[2020-06-22 18:10] oeuftete commented on #57752
This looks at least related to https://github.com/saltstack/salt/issues/54821.  I am able to reproduce this on 3001 with Windows 2012 R2, although with a different error:

[code]

The different error sounds a bit like what a commenter saw in https://github.com/saltstack/salt/issues/54821#issuecomment-536659857.

The workaround suggested in https://github.com/saltstack/salt/issues/54821#issuecommen

[2020-06-22 18:28] OrangeDog commented on #57735
No, I have no idea what is the required, nor the time to do it.

[2020-06-22 18:29] bryceml commented on #57711
This is fixed and has been pushed live on repo.saltstack.com.

[2020-06-22 18:36] bryceml commented on #57658
s3 isn't aware of symlinks, the vast majority of the duplicate files are caused by the symlinks for centos like
[code]
you can add an `--exclude` flag on the rclone  something like `--exclude '**/7.*/**' --exclude '**/8.*/**'`

And that should get rid of the vast majority of the duplicates.

I didn't try those flags myself, but something like that should work.

Also we should be down to 90G now th

[2020-06-22 18:41] sagetherage commented on #57706
@saltstack/docs-working-group @barbaricyawps @ScriptAutomate

[2020-06-22 18:41] bryceml commented on #57658
If you want to write up a good set of excludes that are at least somewhat future proof (have some good pattern matching), I would be fine publishing them to the instructions on https://repo.saltstack.com/#mirror

[2020-06-22 18:41] xcorvis commented on #57574
Can confirm this happens in some of my states in 3001 on Ubuntu 20.04. The same states running on a Ubuntu 16.04 system don't hang (at least, not as far as I've seen). This is in my bento test environment so it's pretty vanilla. I can provide more details if you think it would be helpful.

[2020-06-22 18:44] sagetherage commented on #57706
Great points, I will update this issue to get the site reviewed as well as other documentation that may have these links. We do have a Working Group and they were going to help with running a script to look at dead links, but not sure if that was decided or helpful here. I am putting this in the next major release to plan and then execute. I will update this issue with more as we discover more and

[2020-06-22 18:45] bryceml commented on #57658
Long term I'd like to get rid of all of the centos symlinks.  They were put there because of an issue with scientific linux I think, @dmurphy18 knows more about that.  We need to make sure everywhere that it's documented to use `$releasever` in the centos repo file is changed to point to the correct one specifically, i.e. `7` or `8`.

We would also need to have a formal deprecation over a period o

[2020-06-22 18:58] sagetherage commented on #56561
do we also need information on towncrier in the contributing docs?

[2020-06-22 19:14] sagetherage opened #57753 "[DOCS] add changelog to the release docs"
**Description**
In the release notes example: Sodium https://docs.saltstack.com/en/latest/topics/releases/3001.html we do not reference the changelog - we have referenced the changelog in the past in the announcements, but it is inconsistent, likely we need to update the template of the release announcement (I will log another ticket elsewhere), and add this to the release notes.

https://github.c

[2020-06-22 19:37] waynew commented on #57574
@xcorvis the more of an [MCVE](https://stackoverflow.com/help/minimal-reproducible-example), the better. I haven't been able to repro personally - either on 20.04, or FreeBSD 12.1. So I'm sure that there is some essential difference between my setup and the rest of these.

[2020-06-22 20:12] ewhitesides opened #57754 "[BUG]"
**Description**
salt.states.timezone.system produces an error when trying to set on windows systems

**Setup**
America/New_York:
  timezone.system

-or-
America/New_York:
  timezone.system:
    - utc: True

**Steps to Reproduce the behavior**
applying either of the above as a state works correctly on linux.
applying either of the above as a state on Windows sets the timezone, but then it outputs a

[2020-06-22 20:28] waynew commented on #57550
I've definitely been able to reproduce - I haven't confirmed exactly which line is causing this issue though.

[2020-06-22 21:13] dmurphy18 commented on #57658
Actually the symlinks are there because of the different versions that Redhat uses, in addition to Scientific Linux (majorver.minorver)., for example: 7Server, 7WorkStation and having to insure that paths using those names can be resolved.

[2020-06-22 21:14] xcorvis commented on #57574
@waynew Sure. This state proved reproducible:

[code]

On the master, (`salt '*' state.sls teststate`) it executed normally. On minion-xenial  (`salt-call state.sls teststate`) this worked fine, no issues. On minion-focal (same command) this executed but hung on the "Closing AsyncZeroMQReqChannel instance" line. It also hung with `test=true`, and whether or not nginx was already installed.

The on

[2020-06-22 21:28] waynew commented on #57550
Okay, yeah, looks like in `pip.freeze` at least - there needs to be passing a user parameter. I did finally get enough `user` thrown in to get this to work correctly. There are probably a lot of other places where we need to update this sort of thing, though. I'll start working through this in more depth tomorrow during the Test Clinic.

[2020-06-22 21:39] survient commented on #57658
I can confirm that the size has been significantly reduced after most of the content was moved to archive:

Logical Size Used by Active Filesystem: 86.72GB

deduplication brings the size down to 47.55GB

If s3 does not support symlinks then this will be a difficult "issue" to solve. That said if the overall size of the project not including archive doesn't expect to grow significantly in a short t

[2020-06-22 22:15] arizvisa commented on #57196
Agreed. It should definitely be a context manager, or even persisted.

Yeah actually, I've been trying to get my rewrite of the etcd returner merged into master since saltstack was split up into the "develop" branch like 2 years ago (#51363, with another addition in PR #55186).

Right now it's stuck in the "Merge ports into master" project, but once that finaally gets merged into the "master" bran

[2020-06-22 22:22] arizvisa commented on #57754
@ewhitesides, please update the title referencing the `salt.states.timezone` module and the "windows" environment. ;)

[2020-06-22 22:27] #39608 closed

[2020-06-22 22:34] ewhitesides commented on #57754
woops, done thanks

[2020-06-22 22:45] waynew commented on #55799
@carolcoral I'm not sure what `mathin` is supposed to mean.

You also didn't provide the output at all - it's very difficult to help when you don't provide enough information to go on.

@dhs-rec that's definitely an odd one - it seems like it may be related. I'll come back to this tomorrow to see if I can repro your sample.

[2020-06-22 22:48] #50650 closed

[2020-06-22 22:50] sagetherage commented on #10838
@myii apologies I didn't get back to this - does the Core team need to look into addressing this?

[2020-06-23 01:38] carolcoral commented on #55799
@waynew i am sorry for this wrong word - "machine".
I have to execute 'CMD' in A machine but from B machine.But it didn`t worked in my Java program.
So, i had make a Flask Server to receive "CMD" to execute.
The output is same as you execute it in the base machine but the command from another machine.

[2020-06-23 05:33] kkallday commented on #57709
@xeacott @whytewolf here is the output when I try to use `fallback: master`:

[code]

Here is the relevant part of my master config:
[code]

[2020-06-23 05:42] dhs-rec commented on #57706
Thank you, @sagetherage. While you're at it, there's another one which requires a documentation update: #56199.

[2020-06-23 06:02] krionbsd commented on #56231
Problems solved

[2020-06-23 06:02] #56231 closed

[2020-06-23 06:22] krionbsd commented on #57754
Thanks for reporting it, could you please provide the error message and snippet from the state with this change?

[2020-06-23 06:31] whytewolf commented on #57709
`fallback` was introduced in 3001. So isn't in 3000.3, this is what the line `New in version 2018.3.0: for all_saltenvs, 3001 for fallback` means.

It didn't exist in salt before that. so it will cause that error.

In the version you are in you would want `all_saltenvs` which can be used to have the single branch appear in all environments.

The difference between the two is this.

* `all_saltenvs

[2020-06-23 06:56] kkallday commented on #57709
Got it - thanks for the follow up @whytewolf.

I was able to get the behavior I want with this config:
[code]

[2020-06-23 06:56] #57709 closed

[2020-06-23 07:10] arizvisa commented on #57695
Some things to keep in mind are that some modules are binary and don't have recent wheels which means they'll require a compile. (#57740 is an exmaple, although these ones specifically are optional).

There's also been history with some issues in core modules like msgpack where the maintainer had introduced a broken change that resulted in saltstack acting pretty awkwardly (and was difficult to tr

[2020-06-23 07:26] arizvisa commented on #57687
Are any of the other globals available in the execution module? (`__user__`, `__tag__`, `__jid_event__`)

[2020-06-23 07:37] max-arnold commented on #56206
I have no idea how to reduce memory usage (other than switching to a 32-bit OS), so I can't provide a PR

[2020-06-23 07:48] sjkummer commented on #56206
Neither do I, sorry.

[2020-06-23 08:53] malletp commented on #57750
@garethgreenaway Thanks for your response.
Master and minion are on the same network, nothing going onto internet.
Regarding keep alive settings, I have configured a minion and test again but I still reproduce the issue.

I don't think this is a connection issue. Minions properly receive jobs from master, and properly send results to the master. The results of the jobs are also properly stored in

[2020-06-23 09:20] pankajghadge commented on #57196
no we didn't switch to python 3

[2020-06-23 09:23] dumol commented on #57710
Having the same issues after upgrading from 3000.3+ds-1 to 3001+ds-1 on Ubuntu Server 18.04 LTS. The master keys were not changed for 7 years.

Is there any other solution except regenerate the master keys? It's not always easy to copy the new public key over to all minions through a separate channel… Thanks!

[2020-06-23 09:27] pankajghadge commented on #57196
@DmitryKuzmenko I don't know how to patch etcd client python package.
in pip i don't see any updates are available in pip
Here is the list of python packages which are available updates but i don't see python etcd package

[code]

[2020-06-23 09:28] johje349 commented on #57745
@krionbsd it works in 3001.
Follow up question then. I use salt-cloud to install my minions, and it installs 3000.3 from http://repo.saltstack.com/apt/ubuntu/16.04/amd64. It seems 3001 is at another url: http://repo.saltstack.com/py3/ubuntu/16.04/amd64.

How can I make it install 3001?

My provider config:
do:
  driver: digital_ocean
  personal_access_token: xxxxx
  ssh_key_file: /etc/salt/pki/clo

[2020-06-23 09:30] dumol commented on #57710
For people trying to get back to previous versions… It's not enough to downgrade to 3000.3, e.g. with:
[code]

You'll also have to purge ``python3-pycryptodome`` afterwards, e.g.:
[code]

[2020-06-23 09:46] johje349 commented on #57745
Found the answer to the follow up question:
Add script_args: -x python3

[2020-06-23 10:23] tomlaredo opened #57758 "[BUG] file.keyvalue with key_values dict doesn't seem to work"
**Description**
I just discovered the new "key_values" (3001) feature of the file.keyvalue state.
Unfortunately, I was unable to make it work.

Related merge-request: https://github.com/saltstack/salt/pull/50627
Documentation: https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.keyvalue

**Setup**

keyvalues_test.sls
[code]

**Steps to Reproduce the behavior*

[2020-06-23 10:34] tomlaredo commented on #57758
I'm really not a Python expert but I suspect that the issue come from here: https://github.com/saltstack/salt/pull/50627/files#diff-3b447dc835943beb1326f98f684fe783R4713-R4719

the difference between dict and OrderedDict (collection):

[code]

[2020-06-23 11:03] ata-sql opened #57760 "[BUG] random "bad signature" error on minions after upgrade to 3001"
**Description**
Yesterday we have upgraded our infrastructure to 3001-1 and discovered strange random failures.
Cronned salt-call for highstate hangs (until killed manually) and following error occurs:
[code]
Setting master_use_pubkey_signature to false helps, but it is very hard to cleanup, because cmd.run from master reports nodes as failed and I can't kill hanging python3 (salt-call) processess

[2020-06-23 11:17] cdalvaro commented on #57742
Same for '`SignalHandlingProcess`':

[code]

[2020-06-23 12:12] pesc commented on #57543
You're right. Not having problem when running it from one of the salt-masters

[2020-06-23 12:54] krionbsd commented on #57745
OK, it's nice it worked with 3001, can we close this issue now?

[2020-06-23 13:07] #57745 closed

[2020-06-23 13:55] ewhitesides commented on #57754
the 'error' is that it returns false and 'failed to set utc to true', which is a false positive that throws off monitoring, etc. ideally it should return that it made the timezone change, or no change was necessary and return successful.

[code]

[2020-06-23 14:28] nlgordon commented on #57742
I ran into this just running a test.ping against a mac minion. Getting my dev environment setup and going to take a swing at digging into this as time allows.

[2020-06-23 15:14] syehorov opened #57762 "[BUG] wua.uptodate broken in Windows 10 2004"
**Description**
wua.uptodate always fails after installing Windows 10 2004 update.
No issues on 1909 build.
[code]

**Setup**
First noted on salt master and minion 3000.3, reproduced in 3001.

[code]

**Steps to Reproduce the behavior**
Run state.apply with listed above code in sls.

**Expected behavior**
Latest updates installed, if any available:
[code]

**Versions Report**
For both systems mini

[2020-06-23 16:05] krionbsd commented on #57762
@cmcmarrow could you look into it?

[2020-06-23 16:47] krionbsd commented on #57744
It seems backslash handling changed in Python3.8:
https://docs.python.org/3.8/library/re.html

Could you please use smth like:
[code]

[2020-06-23 16:56] krionbsd commented on #57760
@ata-sql thank you for letting us know. That's weird the keys were removed after upgrade, could you run `salt-key --delete-all` on master and re-accept all minion keys afterwards?
You might use these instructions:
https://github.com/saltstack/salt/issues/57725

[2020-06-23 18:05] arizvisa commented on #57196
Hey @DmitryKuzmenko, do you think it would be safe to assign the connection globally (in the module) so that it doesn't go out of scope, or is there some way to attach the etcd connection object somewhere so it doesn't get gc'd?

Or do you think that it would just be safer to explicitly call `.__del__()` when the connection object is done being used so that way `client.http` can be set to `None` t

[2020-06-23 18:07] cmcmarrow commented on #56494
@lubyou Whats your Windows user name? Can I also see you minion config? Did you install windows in English then install the French laughing pack? What French language pack are you using?

[2020-06-23 18:11] arizvisa commented on #54882
Re-visited this as during the upgrade I found these in my logs:

[code]

[2020-06-23 18:12] cdalvaro commented on #57742
Until the bug is fixed. This is a temporary solution.

Edit the Homebrew `salt` formula (`brew edit salt`) to apply the following patch:

[code]

then:

[code]

May be we could create a PR at [homebrew-core](https://github.com/Homebrew/homebrew-core) to apply this patch to the formula until the bug is fixed.

[2020-06-23 18:26] sagetherage commented on #57656
@Nerigal we have an lengthy PR process and currently we are in code freeze as we released v3001 on June 17th and that will continue into July. I also see the PR is pointing to the `develop` branch, and needs to rebased against `master` please.

[2020-06-23 18:41] sagetherage commented on #54075
@disaster123 we were wondering about your use-case so we could also develop a test against it.

[2020-06-23 19:09] disaster123 commented on #54075
Use case:
Proxmox (www.proxmox.com) uses a fuse filesystem for /etc/pve/ to store cluster wide config files which i manage via salt.

[2020-06-23 19:11] sagetherage opened #57765 "[BUG] thread safety in the loader namespacing issues"
**Description**
Many issues exist in the salt loader and thread safety must be addressed

WIP PR: https://github.com/saltstack/salt/pull/56513 -- may not be the implementation we want, unknown at this time

From Closed PR from Akmod: https://github.com/saltstack/salt/pull/54878
Merge PR from develop #50655 which was a new version of #39948, #48598, and #50648 so the description has been copied fro