[2016-01-08 05:27] gladiatr72 opened #30224 "gnupg2, modules.gpg, versions, binary paths--questions..."
A few points I'm curious about wrt this module:
- _check_gpg() checks for the `gpg` binary and then stops
  - apparently apt requires gpgv1, so all debian-derived systems must have gnupg v1
  - gnupg v2 installs, unsurprisingly, as `gpg2`

In _check_gpg(), would it make sense to check for `gpg2`, falling back to `gpg` on failure?
- the version check in `__virtual__()` is a bit confusing in the con

[2016-01-08 08:50] vutny commented on #25292
@lichtamberg Few things to check for you in the pillar file.
* ensure you defined the correct salt 'environment' (I assume you only use 'base')
* check YAML indentation in `top.sls` file carefully, this is important
* restart your `salt-master` after making changes in the config

I'd rewrite your whole example like this:

[code]

If I understand it correctly, the main purpose of `N@` classifier is

[2016-01-08 08:56] msciciel commented on #29660
I've made initial version of module: https://github.com/msciciel/salt/commit/6416d3d50371d9130dd1e047041ceef0a3e22375

May I get some advice about next steps ? It's the first time i'm doing sth more than bugfix for salt.

[2016-01-08 09:58] anlutro opened #30226 "Custom returner exceptions are swallowed"
If I have a custom returner that throws an exception, that exception is never logged anywhere.

[2016-01-08 10:30] edhgoose opened #30227 "Latest Salt will not install on Amazon Linux due to missing python, systemd packages and/or EPEL package out of date"
Hi,

I think this could be interpreted as a documentation bug or an installation bug, but the default instructions for installing Salt on Amazon Linux do not work. I'm attempting to install on an existing AWS Linux image, and I've also reproduced on a brand new Amazon t2.micro instance.

The [installation instructions](https://docs.saltstack.com/en/latest/topics/installation/rhel.html) say that: "

[2016-01-08 11:11] lorengordon commented on #30227
Try using the new saltstack repo, https://repo.saltstack.com/#rhel

[2016-01-08 12:45] abednarik commented on #30226
Would be great if you can post salt version and one example if such thing is possible.

[2016-01-08 13:10] mpreziuso opened #30230 "pkg.install uses 100% CPU whenever there are no changes to the registry"
`pkg.install` uses 100% CPU whenever there are no changes to the registry.
This is due to a for cycle that is in place in order to make sure there are no effective changes that still have to be applied to it.
This cycle made my **Windows** VM CPU spike, this is not very efficient and:
 - may cause performance issues to other applications or the OS
 - may cause unnecessary CPU credits consumption o

[2016-01-08 13:22] skandyla commented on #29537
Hi,
also have this issue.

`salt-cloud -f list_nodes my-vmware  -l debug`

[code]

[code]

Versions report:
[code]

Temporary solution:
[code]

[2016-01-08 13:46] nmadhok commented on #29537
@skandyla I'm working on fixing this. pyVmomi 5.5 is old. Please uninstall it and reinstall pyVmomi 5.5.0-2014.1.1.

[code]

[2016-01-08 13:54] nmadhok commented on #29537
@skandyla Would it be possible for you to install pyvmomi 6.0.0 and test it with the PR referenced above? I have tested it to work but just want to make sure it works for others.

[2016-01-08 13:59] nmadhok commented on #29537
@rallytime After merging https://github.com/saltstack/salt/pull/30231, you won't see the SSL issue. The SSL issue will only appear when pyVmomi >= 6.0.0 is installed on systems using Python < 2.7. I will submit another PR to mention this in the docs that pyVmomi >= 6.0.0 is only supported on systems using Python >= 2.7 and for systems using Python < 2.7, they should use pyVmomi 5.5.0-2014.1.1 by d

[2016-01-08 14:12] DanyC97 commented on #21124
@terminalmage i guess nothing was added to docs?

[2016-01-08 14:32] DanyC97 commented on #21071
@gladiatr72 if you don't mind can you pls share/ explain how salt-cloud can leverage salt master pillar data or ext_pillar (which i believe has been defined in salt master running on same node with salt-cloud)?

Much thanks.

@rallytime sorry for reviving a closed issue but on the other one you reference i got a bit confused.

[2016-01-08 14:38] edhgoose commented on #30227
@lorengordon Those instructions are the same as the instructions I referenced, although they don't refer to Amazon any more.

However .... the bootstrap script referenced on that page (under Bootstrap - Multi Platform) does work! Thank you.

For anyone else who has this issue, I couldn't get the `install_salt.sh` script to run while I had the previous EPEL version of Salt installed. I had to run `

[2016-01-08 14:49] lorengordon commented on #30227
Sorry about the duplicate instructions, I admittedly didn't click on the link you provided; I saw the url went to the docs site rather than the repo site, and I just assumed the docs site still had old instructions. :shamefaced:

Glad you got it working though.

[2016-01-08 14:52] frogunder commented on #11150
Since there has been no activity for a while, I will close this issue.

[2016-01-08 14:52] #11150 closed

[2016-01-08 14:54] frogunder commented on #13683
Since there has been no activity for a while, I will close this issue

[2016-01-08 14:55] frogunder commented on #16880
Since there has been no activity for a while, I will close this issue

[2016-01-08 14:55] #16880 closed

[2016-01-08 14:55] frogunder commented on #17006
Since there has been no activity for a while, I will close this issue

[2016-01-08 14:55] #17006 closed

[2016-01-08 14:56] frogunder commented on #18146
Since there has been no activity for a while, I will close this issue

[2016-01-08 14:56] #18146 closed

[2016-01-08 14:56] skandyla commented on #29537
@nmadhok  I've tested your PR - seems all working good (under Centos7).

I've setuped virtualenv, and installed  pyvmomi (6.0.0)
also
[code]

Thanks!

[2016-01-08 14:56] frogunder commented on #19193
Since there has been no activity for a while, I will close this issue

[2016-01-08 14:56] #19193 closed

[2016-01-08 14:57] frogunder commented on #20956
Since there has been no activity for a while, I will close this issue

[2016-01-08 14:57] #20956 closed

[2016-01-08 14:58] frogunder commented on #24419
Since there has been no activity for a while, I will close this issue

[2016-01-08 14:58] #24419 closed

[2016-01-08 15:02] nmadhok commented on #13683
@frogunder There doesn't seem to be any PR referenced to this issue. I do not have time to test the same issue again and again because of various reasons. Did you test the issue using the information I provided and make sure it doesn't exist anymore on develop branch? If you did test it and the issue didn't exist, closing this issue makes sense.

If you haven't tested it and closed this issue just

[2016-01-08 15:30] nmadhok commented on #29537
@skandyla Not a problem. Glad it's working for you now. Should be merged into develop and 2015.8 branch very soon.

[2016-01-08 15:30] dpkirchner commented on #8647
This same behavior occurs while running test.ping. We're seeing it while using 2015.5.3 when running 'salt -t 10 host test.ping' on a largely idle master and minion (~0.5 load average). We have a single master configuration and there is low latency between the master and minion.

Here is the debug output when the test.ping request fails:

    [DEBUG   ] Reading configuration from /etc/salt/master

[2016-01-08 15:30] frogunder commented on #28350
@WalterInSH - Have you figured this out, or is it still an issue for you?

[2016-01-08 15:35] frogunder commented on #28290
Since there has been no activity for a while, I will close this issue

[2016-01-08 15:35] #28290 closed

[2016-01-08 15:50] dneades commented on #26255
Thank you – I’ve made comments on the PR!

[2016-01-08 16:12] basepi commented on #30198
Technically I don't think it would. Pretty sure the minion would take whichever one it found first.

I'll have to think more on this problem. We would potentially add some logic for checking mountpoints, but that's pretty hacky, as the fileserver backend is supposed to be invisible as far as the fileclient is concerned....

[2016-01-08 16:15] mwiora opened #30232 "salt minion does not finish job - all steps done"
Hi all,

we're currently trying to install an Ambari Hadoop Cluster with Saltstack. To do so, we've created simple setup instructions - please refer to the attached one.

Environment:
1 Master
1 Minion

/etc/salt/master:
[code]
and the content of the attachment is located in /srv/salt/

While running the states
[code]
is running fine and giving a feedback to the master after about 10 seconds (give

[2016-01-08 16:15] basepi commented on #8906
I think I do agree with you. I'm not sure how both pieces of the version ended up in osmajorrelease. My only concern at this point is breaking people's setups if they're relying on both pieces of that grain. My gut says nobody is, but I don't know for sure.

[2016-01-08 16:27] basepi commented on #13683
@nmadhok The issue is we have been unable to reproduce, as you can see from @cachedout's comment above. However, we should give this another try.

[2016-01-08 16:29] nmadhok commented on #13683
@basepi I'll try to reproduce this once again but that will take me some time considering I'm currently busy at work. Closing the issue would just make it worse.

[2016-01-08 16:34] rallytime commented on #29537
@nmadhok Awesome! Thanks for submitting that, and thanks @skandyla for testing. I'll test that out today.

[2016-01-08 17:06] jakehilton commented on #30183
I just ran a test and can verify that I can send commands against the minion once it has connected to the secondary master.

[2016-01-08 17:10] githubgrojas opened #30234 "Pillar Environment not working with the parameter pillarenv=qa u others environments"
Version SaltStack 2015.8.3 (Beryllium)
Hi:
On my master file  I wrote the next:
[code]
In directory pillar exist a file top.sls with the next information:
[code]
When I try to get the pillar item for environments that itsn't working, For example i wrote:
[code]
And the result is all information from pillars (mixed) including base environment. This behavior is a bug?, or i need to do other configur

[2016-01-08 17:26] basepi commented on #30173
Pretty sure there's already an issue open for using the .ssh/config and whatnot, but I'm having a bear of a time finding it, so it must have been part of the discussion on another issue....

Anyway, this is something we want to do at some point.

[2016-01-08 17:31] rallytime commented on #29537
@nmadhok Hrm...After applying these changes to the 2015.8 and upgrading my version of pyVmomi to 6.0, the proxy minion stops with these errors:
[code]
I am running this on an Ubuntu 14 machine.
[code]

[2016-01-08 17:42] terminalmage commented on #9569
OK, technically it will work, but I'm making some changes to make it work smoother. For instance, right now by default it is necessary to set ``contents_newline`` to ``False`` in a ``file.managed`` state (default value is ``True``) to deploy binary contents, otherwise a newline will be appended to the end of the file. It's easy enough to check if the contents are binary though, so I'm going to mod

[2016-01-08 17:50] nmadhok commented on #29537
@rallytime Would it be possible for you to test this on a CentOS/RHEL 6/7 server? I will in the meantime spin up an Ubuntu server and test it.

[2016-01-08 17:53] codehotter commented on #30150
@cachedout I've been running https://github.com/saltstack/salt/pull/30212 on develop and I've no longer had any issues with the returners. The changed version no longer makes the assumption that the file exists that atomic_open() is called on:

[code]

I think https://github.com/saltstack/salt/pull/30212 is safe

[2016-01-08 18:00] maschinetheist commented on #27138
Hi, any ideas if this will be fixed?

[2016-01-08 18:16] jfindlay commented on #30208
Thanks for reporting, @seanjnkns.

[2016-01-08 18:20] jfindlay commented on #30210
@mimianddaniel, deprecation warnings for Boron should be processed before the Boron release.  If you are running into a deprecation warning, it is best to update your configs and data to the new layout before upgrading.

[2016-01-08 18:36] jfindlay commented on #30214
@sebastian-cb, I'm not sure what you're asking with your first question.  There is a `maxrunning` scheduler parameter, which defaults to `1`, meaning that only one copy of a job can run concurrently.  For your second question, there is a `splay` parameter which randomizes the start time to somewhere within the range from the scheduled time and the splay range.  I'm not sure if this can be found on

[2016-01-08 18:39] jfindlay commented on #30216
@timcharper, thanks for the report.  Are you suggesting a flag for for the pkgrepo state?

[2016-01-08 18:39] rallytime commented on #28396
Alright! @ymote, @mianos, @beardedeagle, and @danduk82 I have fixed this with pull request #30238, and the fix will be available in the upcoming 2015.8.4 release of Salt:
[code]

[2016-01-08 18:44] jfindlay commented on #30220
@kaithar, thanks for the report.  If you have time to work on this, that would be great as I am unfamiliar enough about the circumstances for the escaping to know what change to make.

[2016-01-08 18:50] #28923 closed

[2016-01-08 18:50] #29654 closed

[2016-01-08 18:50] #29919 closed

[2016-01-08 18:50] #30171 closed

[2016-01-08 18:50] frioux opened #30239 "pillar.get and pillar.items have different sematics"
TL;DR: pillar.items and pillar.get return different data.  Check this out:

[code]

[code]

Ok so I have an ext_pillar that I use to share data between pillars.  The ext pillar defines roles that apply to a given server, and then based on those roles other pillars vary their data.  So here's a little example; here's the ext_pillar:

[code]

And here's the pillar:

[code]

Note that as above, for s

[2016-01-08 18:54] #29951 closed

[2016-01-08 18:55] jfindlay commented on #30224
@gladiatr72, thanks for the report.  You could add a search for gpg2
[code]
but you would have to make sure the gnupg python package would work in either case.

It seems that the version check is there because functionality was removed in 1.3.1 and later versions of the gnupg package.  It could be that the functionality was removed in favor of something else.

[2016-01-08 18:58] jfindlay commented on #30226
@anlutro, thanks for reporting.  Do you have a minimal example?

[2016-01-08 19:00] jfindlay commented on #30230
@mpreziuso, your solution seems good to me.  Will you open a pull request against the 2015.8 branch?  thanks.

[2016-01-08 19:09] jfindlay commented on #30232
@mwiora, thanks for the report.  What version of salt are you using?  My guess is that one or both of the `cmd.run` statements are not resolving/returning in the way that cmd.run, or python's subprocess library, which cmd.run uses, is expecting, like the `ambari-server start` could be leaving a file descriptor open somehow or even more likely is not properly detaching from its parent (cmd.run) pro

[2016-01-08 19:15] jfindlay commented on #30234
@githubgrojas, this is one confusing aspect of salt environments.  I think you should get what you expect if you try this setup:
[code]
[code]
[code]

[2016-01-08 19:19] edhgoose commented on #30227
Sorry, I've realised I haven't got it working at all. I've actually realised I've gone backwards!

The command line version only installs this version:

[code]

And the second thing I've realised (or remembered rather) is that the `python26-boto` library is installed to make the ec2_tags plugin (in the contrib repo: https://github.com/saltstack/salt-contrib/tree/master/grains) work.

So ... back w

[2016-01-08 19:23] snw1968 opened #30240 "firewalld inconsistent permanent option used for services but not ports - other options required"
using the **firewalld.sls** state file below:

[code]

and running

[code]

gives the following INFO/DEBUG output

[code]

The issue is in the lines

[code]

against

[code]

the **add service** line uses the **--permanent** option
the **add port** line **doesn't** use the **--permanent** option

Using the **permanent** option  writes the change to the firewall config file - but doesn't effect the

[2016-01-08 19:25] jfindlay commented on #30239
@frioux, thanks for the report.  I think this is a duplicate of #23391.  If you don't mind, I'm going to close this in favor of that.  Your additional information is helpful, though.  If you restart the minion as suggested in #23391, does that produce the correct `pillar.get` behavior?

[2016-01-08 19:25] #30239 closed

[2016-01-08 19:27] frioux commented on #30239
I actually do not even have a minion to restart; I'm running all local with no services.

Also, you know more about this than I do for sure, but both `pillar.get` and `pillar.item` show the same results, only `pillar.items` has the complete data.

[2016-01-08 19:33] frioux opened #30241 "Log to standard error instead of standard out"
Currently the log and the actual output are interleaved in the same output stream.  Sometimes I will use `jq` to filter the json that comes back when I use `--out json`, but I have to be careful to `-l warning` (or some other log level) or the log messages will be included in what gets passed to `jq`, thus making it invalid JSON.

It seems to me that it would be totally reasonable to make the log

[2016-01-08 19:55] gibsonje commented on #25125
I'm seeing this in 2015.8.3 currently. I don't have a solution just yet.

[2016-01-08 20:13] twangboy commented on #29553
Added `modules/mac_shadow.py`
Fixed unicode issues in `modules/mac_user.py` and `states/user.py`

[2016-01-08 20:33] timcharper commented on #30216
Oh, shoot, I'm so sorry @jfindlay . I'm terrible. This was supposed to go to salt-bootstrap.

[2016-01-08 20:33] #30216 closed

[2016-01-08 20:54] DanyC97 commented on #13777
@rallytime superb job, i had no clue about zmq_monitor (i wished that was known 2 months ago when i spent ages trying to understand a problem)

[2016-01-08 21:17] rallytime commented on #13777
@DanyC97 I believe all of the credit should go to @jacobhammons! He wrote that doc, I just followed up on the issue. ;)

[2016-01-08 21:33] rallytime commented on #29537
@nmadhok Hrm. I wasn't able to get this working on a CentOS7 server with your patch applied, either. I am seeing the same warnings.

[2016-01-08 21:36] DanyC97 opened #30242 "Salt Cloud ec2 driver not aware of multi VPC"
Salt Cloud _assumes_ that on a AWS account defined (by the key / id credentials associated with a IAM user) on ec2 provider file there is only 1 VPC and so that create various issues.

**Use case:**
     One AWS account has multiple VPCs, each VPC being treated as an independent/ isolated tenant with its own Salt Cloud but sharing/ same map files (the provider file is using the same credentials du

[2016-01-08 21:37] sebastian-cb commented on #30214
@jfindlay, I just double checked this and it looks like a [`maxrunning`](https://github.com/saltstack/salt/blob/2015.8/salt/utils/schedule.py#L214-L226) scheduler parameter is to ensure that there are no more than N copies of a particular routine running however I'm asking about [`batch size`](https://docs.saltstack.com/en/latest/topics/targeting/batch.html) so I could schedule a `highstate` to be

[2016-01-08 21:41] rallytime commented on #30242
@DanyC97 Thanks for this excellent explanation. I agree that add a vpcID parameter to the EC2 provider or profile config files is the right solution. I believe the boto_vpc state does something along those lines.

[2016-01-08 21:43] nmadhok commented on #29537
@skandyla Was able to get it working on CentOS 7.

[2016-01-08 21:46] rallytime commented on #29537
@nmadhok Yes, I see that. These are both Vagrant boxes because of other reasons. I am wondering if that might have something to do with it. My original stacktrace didn't mention anything about the `SNIMissingWarning`, but now both stacktraces do.

[2016-01-08 21:49] jacobhammons commented on #13777
And I just copied @cachedout's great writeup from the default master config file. That is some teamwork! :grinning:

[2016-01-08 21:50] dmurphy18 opened #30244 "Update salt init, service, upstart scripts from version of salt"
The current salt packages init, upstart and service scripts are static and need to be updated from the current version of salt being built.

This fixes allows for changes from Debian Bug: 806786 and reflected in #29513

[2016-01-08 22:25] jfindlay commented on #27138
@maschinetheist, not that I know of.  We're doing our best to work through the bug backlog.

[2016-01-08 22:26] jfindlay commented on #30216
No problem, thanks, @timcharper.

[2016-01-08 22:29] jfindlay commented on #30214
@sebastian-cb, that makes more sense to me.  I am not sure what the answers are.  @garethgreenaway, do you have any comments on @sebastian-cb's questions?

[2016-01-08 22:33] rallytime opened #30247 "Stacktrace when launching master with -d on develop branch"
[code]
This bug is likely caused by #25950.

[2016-01-08 22:36] jfindlay commented on #29660
That looks great.  We usually try to use single quotes by default and don't forget to add `.. versionadded:: Boron` to the doc string at the top of the file.

[2016-01-08 22:46] garethgreenaway commented on #30214
@sebastian-cb I'm not clear with your concern about the high states running in parallel.

[2016-01-08 22:48] patrickpierson commented on #28122
definitely looking for a workaround.  the awslogs logging driver is a pretty powerful addition to our log collection.

[2016-01-08 22:50] jfindlay commented on #30214
I can see a concern with scalability on the master, similar to how a manually triggered highstate can be batched.

[2016-01-08 22:57] bebehei commented on #30173
I'd pledge for *not* using the ssh-config and parsing it. Let this please be the job of ssh.

Parsing the ssh-config is a real PITA. There are so many tarpits. For example you have to parse the config two times, when CanonicalizeDomains is set, support Match clauses, etc..

Additionally by parsing .ssh/config manually, you decline any good feature provided by ssh. As I said, I believe the error is

[2016-01-08 22:59] bebehei commented on #30173
... in the options Parser [salt/config/schemas/ssh.py Line 45](https://github.com/saltstack/salt/blob/fcef605a4ac775f8fed64db6333f7c4483ecb3b7/salt/config/schemas/ssh.py#L45). There is a default specified, which is not neccessary. Sadly I'm not able to test this.

[2016-01-08 23:04] sebastian-cb commented on #30214
@garethgreenaway I've just noticed a high CPU usage caused by `pkg.installed` (`repoquery`) so I'm concern that if this will run on multiply VMs on the same host it may cause a high load.

[2016-01-08 23:07] garethgreenaway commented on #30214
@sebastian-cb Ahh that's a fair concern.  A combination of seconds, range and splay should work.  Have the job run every 3600 seconds (one hour), use a range of 3am - 4am so it only runs in that time span.  It will try to run at 3am, but the range will prevent it from running again at 4am.  Then use splay to offset the run time across minions.

[2016-01-08 23:45] mpreziuso commented on #30230
Sure thing!

[2016-01-09 00:06] sebastian-cb commented on #30214
@garethgreenaway Ahh, so `splay` actually randomize execution time on minions and not job/state invocation time on the master?

So there is no way to use batch size with scheduling system to make sure `highstate` is not overlapping on minions?

[2016-01-09 00:45] mwiora commented on #30232
Hi @jfindlay,

thanks for your quick reply.
[code]

cheers,
Matthias

[2016-01-09 02:24] githubgrojas commented on #30234
@jfindlay , i did the modifications, but when i execute again on the command line, the next:
[code]
 Appears the next message:

"Specified SLS 'base.users' in environment 'base' is not available on the salt master"

Then, i corrected the top.sls files for environment base and qa, deleting the words base. and qa., being as follows:

[code]
[code]
Next, i execute again the first sentences for get ju

[2016-01-09 02:56] Shad0w1nk commented on #29494
There is no /etc/salt/cloud config file on my system. I assume it took the
default. I have cloud profile and provider config files. What else do you
want me to look at?

On Thu, 7 Jan 2016, 14:10 Nicole Thomas <notifications@github.com> wrote:

--
--
Daniel
https://about.me/daniel.lacasse

[2016-01-09 03:09] oznah commented on #29239
+1

RHEL 7

[code]

[2016-01-09 03:15] jbussdieker commented on #27020
+1 for a vault module

[2016-01-09 06:43] skandyla commented on #29537
A few comments.
I'm using simply  `salt-cloud` command and PR is working good for that. So, my environment doesn't have proxy minions.

Versions in case they may be useful:
[code]

[2016-01-09 08:28] mbarrien opened #30250 "npm.bootstrap state runs even when test=True"
Title captures it all... ran test=True, and it actually installed packages. Code for npm bootstrap at https://github.com/saltstack/salt/blob/develop/salt/states/npm.py#L263 never checks __opts__['test'].

Not good.

[2016-01-09 08:47] kaihowl opened #30251 "Extend service state module to display stdout/err if service fails to start"
When putting service.running into a state and the service fails to start, it would be very nice to directly see the stdout/stderr from the service to immediately spot the error as to why the service is not starting. Currently the solution is to issue cmd.run or log into the machine and manually start the service to see the errors.

This is a follow up to a salt-users discussion. See context below:

[2016-01-09 10:45] notpeter commented on #25010
This wasn't fixed, it just manifests itself differently. It's still trying to parse a hash out of the XML error (and failing).  Unless you are running with loglevel=debug, there's no indication this was a 403 or 404.  For example:
[code]
Output (info)
[code]
But with -l debug you can see what's actually happening.
[code]

[2016-01-09 10:47] notpeter commented on #25010
And versions if it matters:
[code]

[2016-01-09 12:04] optix2000 opened #30252 "GPG renderer should fail if it cannot decrypt a GPG message"
No error is thrown when the GPG renderer fails to decrypt a message. Instead the pillar contents (the encrypted message) gets silently returned, which causes it to be embedded in whatever file/state the pillar was used for.

The GPG renderer should fail the pillar render if it can't decrypt the message, so garbage isn't passed to the file or state the pillar is used for.

Not 100% sure if this is

[2016-01-09 12:56] s0undt3ch commented on #30247
https://github.com/saltstack/salt/pull/30253

[2016-01-09 13:49] anlutro commented on #30226
Oddly enough, I can't reproduce the issue. I'll close the issue for now and re-open if I find out what caused it to happen in the first place.

[2016-01-09 13:49] #30226 closed

[2016-01-09 15:56] PKiman commented on #28766
Thanks for the follow up.
I think the problem appears in conjunction with salt-cloud and the bootstrap script together.

When I create a new EC2 VM and passing the bootstrap parameters like:

salt-cloud -p db_small_ec2 db03-dev.local --script-args="-i db03–dev.local"

then the minion_id is set correctly to db03-dev.local.

But according to the documentation:
https://docs.saltstack.com/en/develop/t

[2016-01-09 23:08] sebastian-cb opened #30254 "A custom renderer (GPG) doesn't work"
I'm actually planning to overwrite the default GPG renderer however I used different name in the test case below to better demonstrate this issue:

[code]

[code]

[code]

[code]

[code]

[2016-01-09 23:17] abednarik commented on #29785
Where are you running this? I was reading the pkg state and I think you can use version: latest to get that behavior. I just my understanding of the code.

Cheers.

[2016-01-09 23:41] fjorgemota opened #30255 "apt-get turns zombie with mysql official apt repository and mysql-formula"
Hello! Good reading of the issue below, I hope that I described the problem well...:)
## TLDR

When using pkg.installed in one of my states, which install a package found in mysql official apt repository, the package is installed correctly, **but** apt-get turns into a zombie process and the salt-call calling highstate justs hang-on, even when using module.run to execute cmd.retcode. If running ex

[2016-01-10 00:09] rallytime commented on #25010
Thanks for the extra info.

[2016-01-10 00:14] rallytime commented on #29494
@Shad0w1nk Hrm. I tried it again by removing the `/etc/salt/cloud` file on my system, and I still am not able to reproduce that stack trace.

Can you tell me what version you're running by posting the output of `salt --versions-report`?

[2016-01-10 00:15] rallytime commented on #30250
Thanks for letting us know, @mbarrien. Can you also post what version of salt you're using here?

[2016-01-10 04:42] mbarrien commented on #30250
Was working with the head of 2015.8 branch using salt-ssh. (Not 2015.8.3 because there's a bug we're working around that's fixed on HEAD). That said, from code inspection, it looks like it affects it even in 2015.8.3.

[2016-01-10 07:04] ZacharyDuBois commented on #30145
Sorry for the delay, @rallytime.
I would have to play with it because my current setup installs saltstack using the PPA for Ubuntu 14.04.

[2016-01-10 13:31] abednarik commented on #30250
HI @mbarrien

 I made a PR #30257. Is just an idea but may work. Would be great if you cat test it in a non production environment.

Cheers.

[2016-01-10 13:54] WalterInSH commented on #28350
@frogunder actually it's still bothering me. But it hasn't happened on another machine.

[2016-01-10 13:54] #28350 closed

[2016-01-10 14:16] abednarik commented on #27613
I can confirm this in develop branch. I will have a look.

[2016-01-10 14:30] dragon788 commented on #28036
One thing I've done is to provide a cwd and bin_env for anything I need to call using pip, which allows me to tell it to specifically use /usr/bin/pip and not just import something called pip* that might show up in the class path.

[2016-01-10 15:39] rallytime commented on #30145
@ZacharyDuBois Ah, yes. I don't think the ppa has been updated from 2015.5.3 yet. If you want to install a newer package, you'll need to use a package from our [Ubuntu repo](http://repo.saltstack.com/#ubuntu).

[2016-01-10 15:57] rallytime opened #30258 "Changes dictionary return should be mentioned in test state docs"
The [Test State](https://docs.saltstack.com/en/latest/ref/states/writing.html#test-state) section of the [Writing States](https://docs.saltstack.com/en/latest/ref/states/writing.html) doc doesn't contain an example of the changes dictionary. The changes dictionary often contains a lot of helpful information that should be included in the `test=true` functionality when people are writing states. Th

[2016-01-10 17:22] jhujhiti commented on #29882
I just realized that the kern.osrelease sysctl can be set on a per-jail basis as of 10.2: https://www.freebsd.org/releases/10.2R/relnotes.html#kernel-sysctl . This isn't required to be set and by default it'll use the host's value, however.

So, the freebsd-version utility still seems like the most reliable method, but I'm wondering if we shouldn't try freebsd-version, then the sysctl, then the ke

[2016-01-10 18:34] ZacharyDuBois commented on #30145
Will do later in the week :)

[2016-01-10 21:19] deyanx commented on #24304
I have tried this on the latest version of the master and minion (both the same version 2015.8.3-1.el6), but the behavior is still wrong.

**cmd.retcode 'true | false'** still returns 0 instead 1

[2016-01-10 22:04] DanyC97 commented on #14113
@cachedout thanks.
@jacobhammons - any chance to get some attention to it? much thx

[2016-01-10 22:07] DanyC97 commented on #22082
few good weeks past and we entered into a new year. Are you going to do anything about this?

Note Ansible has the same thing so don't get it why we are waiting for?

[2016-01-10 22:09] DanyC97 commented on #12292
bump @basepi where should we stick @jacksontj output?

[2016-01-10 22:50] DanyC97 commented on #26425
@badele @JensRantil  from the main page http://saltstack.com/ if you click on Software -> Documentation you do get to the latest page which shows on the right hand side the last 2 stable releases + the develop (bleeding) version (not released)

Isn't that enough ?

[2016-01-11 01:18] dkiser commented on #29727
+1 ran into same problem

[code]

[code]

[2016-01-11 01:36] dkiser commented on #28004
+1

[2016-01-11 06:41] anandnevase opened #30260 "For wrong vCenter details, salt-cloud create command get blocked"
I am trying to run salt-cloud create VM command with wrong VMware vCenter details, salt-cloud sub-process get blocked.

Following are configuration and command I am running:

/etc/salt/cloud.providers

[code]

/etc/salt/cloud.profiles:

[code]

Command: `salt-cloud -p vm_prof test-vm`

[2016-01-11 07:05] MadsRC opened #30261 "Add ability to define custom beacons"
It would be nice if you where able to create your own custom beacons, just as you can with modules and runners.

I've searched the docs, and can't see any way to do this yet.

[2016-01-11 07:28] MadsRC commented on #30117
I'm not able to reproduce the issue after implementing my patch, and I can't find any regression bugs either. So I think you can consider this issue closed as per #30121

Seems like I forgot to make the PR against the 2015.8.3 branch (as it was a bugfix), do you want me to back-port it so it can be part of the next release?

[2016-01-11 08:18] DanielDent commented on #21223
I think I'm experiencing a similar issue using salt-ssh 2015.8.1 (Beryllium).

The first time salt-ssh connects to a host, it appears to be unaware of the value of some grains. In a jinja template, the first time I connect to a host, "{{ grains["os"]|lower }}" renders to "debian" while "{{ grains["oscodename"] }}" renders to "" (an empty string).

If I use the exact same template, but I do 'salt-s

[2016-01-11 08:38] msciciel commented on #29660
I've made style changes and created pull request #30262 .

[2016-01-11 09:48] jacksoncage commented on #30251
:+1:

Having the same issue with a lot of applications, some even reporting true, even when the service restart failed, or didn't happen. Add the stdout to the comment for service.running would be great!

[2016-01-11 10:46] mstagi opened #30264 "vmware vm connection to a distributed virtual switch fails"
When we try to create a vm with salt-cloud the DVS connection fails if 2 datacenters defined with distributed switches which are using the same portgroup names in both datacenters. The object search queries the portgroups by their name and this returns only one portgroup id every time which might not be the one which we actually need.
This can be fixed by starting the object search from the datace

[2016-01-11 10:53] paul-mulvihill commented on #29785
Hi
not sure what you mean by where am I running it. My setup is as follows
Master: Centor 6.7 machine running 2015.8.3
minion: centos 6.7 running 2015.8.3
as far as i know both are the latest versions of master and minion
I'm running the following
state file:
saltminion:
  pkg.installed:
    - pkgs:
      - salt-minion: latest
test run:
[root@salt saltminion]# salt 'gw01' state.apply test=True
gw0

[2016-01-11 12:06] mpreziuso commented on #30081
Hi @Narcolapser, any updates on this?

[2016-01-11 12:11] abednarik commented on #29785
Let me have a look. I was checking apt module. Let me see if yum pkg module do the same.

[2016-01-11 12:39] DanyC97 opened #30265 "Salt documentation sphinx warnings"
I'm planning to start tidy up some documentation and after i only installed sphinx and run the build i was surprised by the number of warnings

https://gist.github.com/DanyC97/16e6a6c167e211f01bc9

shouldn't we aim at having no warnings ?

Also right at the top is complaining about not being able to find some salt modules, i suspect that is a bug since the modules should be present in the git repo

[2016-01-11 12:59] markuskramerIgitt commented on #25499
Hi @basepi,
these are the 5 commands and the sls file to reproduce the effect:

[code]

**Observations:**
Immediately after `grains.set`, all minions respond to `grains.get` with the correct value (without flashback).
After `file.managed`, only ~ 33% of the minions respond to `grains.get`, ~ 20% of which with a flashback.
When `grains.get` is repeated (~5 min interval), more minions respond, and 1

[2016-01-11 13:00] adithep opened #30266 "dockerng.create links kwargs error"
This works:

[code]

Where as this:

[code]

Throws this error:

[code]

[2016-01-11 13:09] markuskramerIgitt commented on #25499
[code]

Minions are a mixture of 2014.7.2 to 2015.5.3.

Flashbacks occured on 2014.7.2  2015.5.0.

I try to upgrade all to 2015.5.3

[2016-01-11 13:18] lorengordon commented on #30251
I think it would also be nice at the debug loglevel to see the actual return code from from service start/restart.

[2016-01-11 13:48] abednarik commented on #29785
I don't think you can use latest as a version. Looks like version only accepts a version number. Reading the code, is not clear for me what happens if you avoid version number.

There is an option pkg.upgrade that will always install the latest version, if that is what you want. Anyway I agree latest would be a good feature.

[2016-01-11 13:53] paul-mulvihill commented on #29785
Hi Alejandro
Thanks for looking.. I wanted to get this logged to hopefully get it on the backlog and added to Salt Stack. with the current functionality i can either
1, install a specific version
or
2, always install the latest.
I want to be able to define a state file that asks for a version and then based on pillar data either put latest or specific versions on the box. This means i can control

[2016-01-11 13:53] eliasp commented on #29117
The `join` filter isn't the culprit, the same problem can be reproduced when using the string concatenation Jinja operator `~` instead:
[code]

[2016-01-11 13:57] abednarik commented on #29785
Got it. In that case you can play with salt '*' pkg.latest_version <package name> and do the magic/login in your own templates. also salt '*' pkg.upgrade_available and salt '*' pkg.list_upgrades will help you out.

Cheers.

[2016-01-11 14:03] paul-mulvihill commented on #29785
For now I will just use pkg.installed for the most part and anything I specifically want to keep updated i will use pkg.latest. although this will limit some of the flexibility I want to build in.
I would like to see the feature added where pkg.installed can take a "latest" version value.
Unfortunately i'm not a developer of sufficient skill to even suggest where/how to start with it.
Do i need to

[2016-01-11 14:07] nmadhok commented on #29537
@rallytime I don't have proxy minion setup either. I'm wondering if that's causing the issue for you?

[2016-01-11 14:07] abednarik commented on #29785
Paul, I'm just a user like you :)  I think is just fine your requests :)

Anyway, maybe I can help developing this, but I'm really a "semi junior" ins salt development :D

[2016-01-11 14:17] paul-mulvihill commented on #29785
Ahhh.. sorry for the confusion. and thank you again for the assistance in looking at the code.
hopefully it will get picked up as i think it will be a very useful feature. makes state reusability much easier.

[2016-01-11 14:25] babilen commented on #8843
@garethgreenaway Did you implement that yourself in the ssh execution module? If so: Would you be interested in getting that merged in salt?

[2016-01-11 15:01] dpkirchner commented on #8647
This post includes debug logs from the master.

	$ sudo salt -l debug minion-* test.ping
	[DEBUG   ] Reading configuration from /etc/salt/master
	[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: salt-master
	[DEBUG   ] Missing configuration file: /root/.saltrc
	[DEBUG   ] Configuration file path: /etc/salt/master
	[DEBUG   ] Reading configuration from /etc/salt/master
	[DEBUG   ] Using

[2016-01-11 15:34] engtools commented on #23419
I also have had a nightmare getting pygit2 installed and setup on ubuntu for our salt rollout.
Has there been any further advancements on a better package?

[2016-01-11 15:41] terminalmage commented on #9569
#30268 adds support for binary contents in contents/contents_pillar/contents_grains to the ``file.managed`` state, and adds an example of deploying binary contents to the FAQ in the docs.

[2016-01-11 15:41] #9569 closed

[2016-01-11 16:05] rallytime commented on #30260
@anandxoriant Can you please post the output of `salt-cloud --versions-report` here as well as the error you're seeing that is blocking?

[2016-01-11 16:07] rallytime commented on #29537
No, it's not the proxy minion, because I get the same errors in a python interpreter just calling the `salt.utils.vmware.get_service_instance` function to connect directly to the ESXi host.

However, I just realized that this ESXi host has esxi5.5 installed on it, not 6.0. That might be where this is falling down.

[2016-01-11 16:11] jtand commented on #30227
@dmurphy18 @terminalmage

[2016-01-11 16:32] jtand commented on #30240
@snw1968 These are good ideas! You're welcome to submit a PR with these changes, if you would like.

[2016-01-11 16:36] garethgreenaway commented on #8843
@babilen Let me look at what I ended up doing, almost 2 years later :)

[2016-01-11 16:46] jraby commented on #29486
For the record, it also breaks pip installed packages.

[2016-01-11 16:53] pass-by-value commented on #29347
Hi @cinterloper were you able to move forward with this? I am not able to reproduce this particular bug. Please let me know, would love to get this working for you.

[2016-01-11 16:55] abednarik commented on #30240
Looks like a nice challenge for me.  @snw1968  let me know if you working on this. I will be happy to help developing this one.

Cheers.

[2016-01-11 16:57] nmadhok commented on #29537
@rallytime Version of pyVmomi should be the same as the version of ESXi hosts/vCenter.

[2016-01-11 17:15] terminalmage commented on #30199
OK, thanks. I'll have to investigate further, this may be a docker-py limitation. Can you let me know the versions of docker and docker-py that you have installed?

[2016-01-11 17:15] rallytime commented on #29537
@nmadhok Yes, I just tried this against another vCenter server that *is* running 6.0, and I'm still seeing the error. I'm not sure what I am doing incorrectly, but I will keep poking at it, because this is fishy. Thanks for your patience.

[2016-01-11 17:20] skandyla commented on #29537
Actually, I have ESXi 5.5.0, and it working with pyvmomi 6.0.0 and PR you have provided.
Some basic stuff at least.

[code]

[2016-01-11 17:24] Ch3LL opened #30270 "salt.virt- different keys when creating VM multiple times"
When creating a VM using salt.virt with the same name multiple times sometimes the keys are different on the master and the VM/minion.

Test case below:

1. Need an image. I have only been able to replicate this issue with an image that has salt pre-installed on it. I used this image: https://cloud-images.ubuntu.com/trusty/current/trusty-server-cloudimg-amd64-disk1.img  . And I did the following t

[2016-01-11 17:29] Ch3LL commented on #30270
ZD-583

[2016-01-11 17:33] twellspring commented on #29697
I am facing the same issue as wenxin-wang.  By default all states in an include run before the states in the file.  I want the states in an include to run after a particular state in the file.  So to rewrite the example:

[code]
and
[code]
The require-in does not currently work with sls, but if it did then the ordering for above would be

[code]
Which is what we are looking for.

I looked at orche

[2016-01-11 17:42] abednarik commented on #27613
Hi @ryanwalder  can you please run

[code]

I was able to reproduce this behavior in develop branch but not in 2015.8.

[2016-01-11 17:53] nmadhok commented on #29537
@skandyla it is going to work but a lot of features won't work as expected because of the difference in features between versions.

[2016-01-11 17:54] nmadhok commented on #29537
@rallytime if I can get access to the server remotely, I could take a look at it and help debug. Let me know

[2016-01-11 17:54] snw1968 commented on #30240
Hi @abednarik - I haven't done any work with github at all and am not a python programmer.
Though I dare say I could have a bash at some point in the future.

However this issue could be broken down into several issues really.

I think one of them is a bug - ports and services are handled in a different way - one only permanently and the other in runtime only - they should really be treated the sa

[2016-01-11 18:02] abednarik commented on #30240
Agree. Let me try to fix the missing permanent first in ports, so at least is consistent.

[2016-01-11 18:02] dmurphy18 commented on #27098
@aboe76 After consideration of your request it was decided that the intention is to only supply the required dependencies for salt from repo.saltstack.com, rather than make it a convenient location for other packages.

If this answers your request, can this issue be closed.

[2016-01-11 18:06] dmurphy18 commented on #28184
@erchn Can this issue be closed given that with the 2015.8.3 release different versions for zeromq, zeromq3, etc. can co-exist.  Removed the conflict on versions from the spec file.

[2016-01-11 18:09] basepi commented on #30173
You're probably correct.

[2016-01-11 18:12] dmurphy18 commented on #13668
@pkruithof Can this issue be closed, given that repo.saltstack.com is the officially supported location to install salt and it's dependencies from.  The PPA areas are community supported locations.

If the problem occurs with repo.saltstack.com, can you open a new issue and let me know and I shall endeavor to address the issue.

[2016-01-11 18:13] gtmanfred opened #30272 "[salt-cloud][nova] Move all openstack* command things over to using shade"
http://docs.openstack.org/infra/shade/index.html
https://github.com/openstack-infra/shade

This will make for some nicer things going on, and not having to worry about all the different clients anymore.

I am working on this now, this is just an FYI issue

[2016-01-11 18:15] basepi commented on #28350
@WalterInSH you might try deleting the cache and pki directories on the master and reaccepting all your minions. This could be a caching issue of some kind. Then again I still cannot imagine how basic globbing with * would not work. This issue is really mystifying. There must be a corruption or something on the machine in question. Sorry we weren't able to fix it for that machine.

[2016-01-11 18:15] dmurphy18 commented on #27542
@babilen Can this issue be closed, now that the community has access to salt-pack and can improve how packages are built.

[2016-01-11 18:16] basepi commented on #12292
@jacobhammons Any thoughts on a good location for this information?

[2016-01-11 18:16] rallytime commented on #30272
Thanks @gtmanfred, as always! :)

[2016-01-11 18:16] basepi commented on #30117
I'll mark it for backporting. Thanks @MadsRC !

[2016-01-11 18:16] #30117 closed

[2016-01-11 18:19] basepi commented on #25499
Thanks for the reproduction steps. This issue still mystifies me but maybe if we increase the sample size we can reproduce.

[2016-01-11 18:19] basepi commented on #25499
(In the meantime, at least sync_grains is a working workaround to make all the grains update properly with no flashbacks)

[2016-01-11 18:23] basepi commented on #30251
Thanks for filing this, I think this extension will be great.

[2016-01-11 18:26] basepi commented on #8647
@dpkirchner Interesting, thanks for the detective work. The issue you're seeing looks a bit different from this original issue. Would you mind opening a new one with the same findings?

[2016-01-11 18:26] dmurphy18 commented on #28643
@sivann How packages are built has been open-sourced, see saltstack / salt-pack on Github.  You should be able to utilize this to build your sqeeze packages for salt.
Note that the current tools used to build on Debian / Ubuntu is pbuilder, which had some issues on Ubuntu 12.04, but were resolvable, see salt-pack setup for Ubuntu 12.04.  Moving forward, some dependencies for the latest salt (2015.

[2016-01-11 18:27] basepi commented on #29486
This is all config-gated now. Should be fixed in the next release.

[2016-01-11 18:28] jfindlay commented on #26473
@thusoy, you may consider using the `--static` option if you want valid json output.  [This comment](https://github.com/saltstack/salt/issues/25154#issuecomment-122509991) should link discuss the issue and link to a few others that address valid json output.

[2016-01-11 18:29] erchn commented on #28184
@dmurphy18 I believe two issues were conflated into one.  The zeromq issue, and the python-zmq issue, which is what I brought up.  The epel version isn't sufficient to support Salt, the one provided in Salt's repo is sufficient, but the spec file for Salt doesn't specific a minimum supported version of python-zmq package.  So when upgrading a minion from epel to salt repo and moving to 2015.8 (at

[2016-01-11 18:30] dmurphy18 commented on #30244
Fixed in salt-pack #4

[2016-01-11 18:30] #30244 closed

[2016-01-11 18:31] jfindlay commented on #30241
@frioux, thanks for the report.  I think this is a duplicate of #26473.  See also the suggestions in https://github.com/saltstack/salt/issues/25154#issuecomment-122509991, which could help with producing valid json output.

[2016-01-11 18:31] #30241 closed

[2016-01-11 18:32] frioux commented on #30241
Ah sorry, again, I search for "standard error" and didn't see those.

[2016-01-11 18:32] dmurphy18 commented on #29443
@danlsgiga Can this issue be closed ?

[2016-01-11 18:34] DanyC97 commented on #23794
I had a look at this and the reason is hapepning on the slat-modindex page is because of [1]

All this is generated from  https://github.com/saltstack/salt/blob/develop/doc/_themes/saltstack2/layout.html and it seems the genindex is inherited into the salt-modindex.

Unfortunately i haven't found how to stop this, i suspect this has s'thing to do with Sphinx conf.py but any html_* param i tried di

[2016-01-11 18:35] danlsgiga commented on #29443
yup! Thanks!

[2016-01-11 18:40] gtmanfred commented on #30272
I might end up going with openstack and rackspace sdks, since it doesn't look like shade supports auth plugins at all... but we will see.

[2016-01-11 18:45] rallytime commented on #30264
I think that sounds right, but I'm going to default to @nmadhok's opinion here, as he is much more knowledgeable about the code you're asking about.

[2016-01-11 18:45] jfindlay commented on #30254
@sebastian-cb, thanks for the report.  It seems that the loader may not be loading your custom renderer.

[2016-01-11 18:48] basepi commented on #30252
Agreed. If rendering fails, pillar should fail.

[2016-01-11 18:49] terminalmage opened #30274 "Hide binary contents in pillar.{get,item,items} by default"
Given https://github.com/saltstack/salt/pull/30268, more people are likely to start using the file_tree external pillar to store binary data.

Given the fact that echoing binary data to the terminal can have weird side-effects, we should hide binary data by default in pillar.get, pillar.item, and pillar.items.

My proposal would be for binary data to be replaced by something like this:

[code]

Wh

[2016-01-11 18:52] terminalmage commented on #30274
We may not need to change *every* reference to config.get, pillar.get, etc... I'm willing to bet that in the majority of cases binary data is not desired.

[2016-01-11 18:55] basepi commented on #30274
The .get functions should not hide binary by default. If you're asking for a pillar value, you want the value.

However, pillar.items and grains.items should hide by default. Those functions are generally not used programmatically but rather to just browse the available pillar/grains data, and so the actual binary data isn't useful.

[2016-01-11 19:05] abednarik commented on #30240
Hi @snw1968 I just made a PR to partially fix this one. If you are able to test in a non production environment, that would be great. I don't have a centos 7 here to test ( my bad, sorry )

Cheers.

[2016-01-11 19:21] thusoy commented on #26473
@jfindlay Thanks for the tip, but I'm interested in the error output, as I'm running from cron with `-l warning`and get the stderr mailed to me if there's any warnings. The particular error from this issue wasn't included, even though the call failed.

[2016-01-11 19:26] waynew opened #30276 "Is filesystem s3fs broken on Centos7 w/2015.8.1, or am I doin' it wrong?"
Master config:

[code]

When I run `salt-run fileserver.update` on the master:

[code]

That's not at all what I expected... Any clue as to what's wrong? Me? Salt?

My versions report:

[code]

[2016-01-11 19:33] nmadhok commented on #30264
@mstagi @rallytime Agreed. Going to take a look at it. I had it originally start from the rootFolder because we don't have same names across multiple datacenters (Generally it's a bad practice to have same names in vCenter and I don't know why VMware even lets you create multiple objects with same name). Going to work on fixing this anyway for you and others who do have objects with same name.

[2016-01-11 19:34] webtrekker opened #30277 "[salt-cloud] Error actioning machines: 'ascii' codec can't encode character u'\xa0' in position 20"
When trying to create a VMWare snapshot using ---
`salt-cloud -a create_snapshot syslog01 snapshot_name="mySaltSnap" description="Snap created via Saltcloud"`

I get the error --
`UnicodeEncodeError: 'ascii' codec can't encode character u'\xa0' in position 20: ordinal not in range(128)`

… in my massive Google’ing this I came across this link
http://stackoverflow.com/questions/28544686/unicodeenco

[2016-01-11 19:52] jfindlay commented on #30255
@fjorgemota, thanks for the report.  A better place for this issue might be the [https://github.com/saltstack-formulas/mysql-formula/issues/new](mysql formula).  Is it possible for you to reproduce the problem with the mysql repo and without using the mysql formula?

[2016-01-11 19:54] jfindlay commented on #30261
@MadsRC, thanks for the feature request.

[2016-01-11 19:57] jfindlay commented on #30265
@DanyC97, thanks for the report.  I haven't spent much time on the documentation, but I agree with your conclusions.  I suspect the main reason these errors and warnings are a lack of resources.  @jacobhammons should be able to help you with any further questions you may have.

[2016-01-11 19:59] jfindlay commented on #30266
@adithep, thanks for the report.  What version of salt are you using?  Will you also post the minion debug log when you run the `dockerng.create` state?

[2016-01-11 20:03] jfindlay commented on #30276
@waynew, thanks for the report.  This looks like a bug to me based on my research:
- `git diff v2015.8.1:salt/fileserver/s3fs.py..v2015.8.3:salt/fileserver/s3fs.py` shows nothing
- Your configuration matches the [example documentation](https://docs.saltstack.com/en/latest/ref/file_server/all/salt.fileserver.s3fs.html)

[2016-01-11 20:12] waynew commented on #30276
Thanks for the quick response! If there's anything else I can help with, let me know

[2016-01-11 20:22] jfindlay commented on #30277
@webtrekker, thanks for the report.  Are you working with any strings with non-ASCII chars?  Is it possible for you to post your vmware cloud configs with the private info redacted?

@s0undt3ch, could this be fixed by salt-cloud handling the system encoding in the same way salt does if it does not do this already?

[2016-01-11 20:30] webtrekker commented on #30277
Here ya go ...
`cat /etc/salt/cloud.providers.d/vmware.conf`
`vmware-config:`
`  driver: vmware`
`  user: 'VMWare.local\cfgmgt'`
`  password: 'reals3cure-trustme'`
`  url: '1.2.6.201'`

[2016-01-11 20:33] rodriguezsergio commented on #25492
@hernanc that `!!null` work around works great. Thanks.

[2016-01-11 20:38] terminalmage commented on #23553
Salt supports dnf starting with version 2015.8.0. In the develop branch, reliance on yum-utils has been removed, so this is not going to be an issue moving forward.

As for the 2015.5 release cycle, since we have packages in the Fedora 23 repos (Fedora 22 will display a warning but still does work if the ``yum`` command is run) I will need to backport the dnf support from 2015.8 into the 2015.5 br

[2016-01-11 20:41] jfindlay commented on #30232
Thanks, @mwiora.  The solution here may be as simple as `ambari-server start &`.  When you run that command independent of salt, does it properly detatch the new process (daemonize)?

[2016-01-11 20:44] dmurphy18 commented on #27120
@stbenjam Can this be closed, as with the immanent next point release there shall be install salt repo rpm's for Redhat/Centos.

[2016-01-11 20:45] terminalmage commented on #29684
Found the issue, working on a fix now.

[2016-01-11 20:46] pass-by-value commented on #29666
Hi @tminn could you please run the salt cloud command in the debug mode and post the output? Something like `salt-cloud -p centos7_medium  t1 -l debug` would be great.

[2016-01-11 20:47] stbenjam commented on #27120
Sure, sounds good, thanks!

[2016-01-11 20:50] jfindlay commented on #29421
This may be related to #30062.

[2016-01-11 20:53] nmadhok commented on #30264
@mstagi Can you give https://github.com/saltstack/salt/pull/30278 a quick test? If the ``datacenter`` is specified in your profile/map file, the search will be restricted to that datacenter.

[2016-01-11 20:59] jfindlay commented on #30234
@githubgrojas, you are correct, my example was wrong.  I think that this issue is actually be a duplicate of #30234.  You could try changing the `pillar_source_merging_strategy` master config to `aggregate`.

[2016-01-11 20:59] #30234 closed

[2016-01-11 21:03] #27120 closed

[2016-01-11 21:05] aboe76 commented on #27098
@dmurphy18 this answers my question...

[2016-01-11 21:05] #27098 closed

[2016-01-11 21:06] basepi commented on #26070
@slav0nic I think your proposed patch should be great! Would you mind submitting a pull request?

[2016-01-11 21:06] babilen commented on #8843
@garethgreenaway It's just that I ran into this issue now and wouldn't want to duplicate your work. It should be possible to add different aliases as it is hard to predict which particular key a client will be offered.

[2016-01-11 21:10] VynceMontgomery commented on #22820
is is *still* the case that the URL referenced renders with a confusingly empty page. it is *still* the case that the URL does not 404 or 301 to something more useful. it is *still* unclear whether that module is supposed to exist or what it is supposed to do or what replaces it. maybe that's as intended, but my experience is that empty web pages are a terrible user experience.

[2016-01-11 21:10] babilen commented on #27542
@dmurphy18 It might make sense to move it over to salt-pack, but the issue is still valid, isn't it?

[2016-01-11 21:15] rallytime commented on #28974
@belt-ascendlearning Looking at the code history, on version 2015.8.1, that was definitely true. However, I updated that function to use `test=true` functionality with PR #28269, and during that change, `force=True` functionality now only affects password changes.

This is fixed in the 2015.8.3 release of Salt. Thanks for the report! I'll go ahead and close this.

[2016-01-11 21:15] #28974 closed

[2016-01-11 21:58] kingsquirrel152 commented on #30261
Looks like it is documented here?
https://docs.saltstack.com/en/latest/topics/beacons/#writing-beacon-plugins

[2016-01-11 22:19] #29443 closed

[2016-01-11 22:22] jfindlay commented on #30241
@frioux, no problem.  I only knew they existed because I had seen them before.

[2016-01-11 22:25] MadsRC commented on #30261
Ah, I must have missed that.
Glancing over the documentation, while it seems like Salt supports
custom beacons, it doesn't look like it supports storing them on the
fileserver (or it just isn't documented?) like, say, runners.

It would be ideal if custom beacons could be placed in /srv/beacons or
/srv/salt/beacons so that we wouldn't need to patch the local salt
installation in order to install a

[2016-01-11 22:35] jfindlay commented on #23419
Related to #27098.

[2016-01-11 22:41] jfindlay commented on #30261
After looking over the [loader code](https://github.com/saltstack/salt/blob/v2015.8.3/salt/loader.py#L429-L443) it seems that custom beacons should be able to be served master to minion like other custom modules.  If this does not work, it should.

[2016-01-11 22:43] DanyC97 commented on #30265
@jfindlay thanks for response. It seems is related to #22820 but no conclusion there...

[2016-01-11 22:55] Ch3LL commented on #30183
I am going to test this today or tomorrow, because this behavior is a little different from other issue reports. I'll update my findings after I test. Thanks for the update

[2016-01-11 23:02] #27346 closed

[2016-01-12 00:23] nmadhok commented on #29537
@rallytime @cro

From https://urllib3.readthedocs.org/en/latest/security.html#pyopenssl and https://urllib3.readthedocs.org/en/latest/security.html#insecureplatformwarning

[code]

On Ubuntu, you may run into trouble installing  ``pyopenssl``, you'll need these dependencies:
[code]

[2016-01-12 00:38] cro commented on #29537
Well, Salt already deps on PyOpenSSL, so we're OK there.  I'll give this a
try.

On Mon, Jan 11, 2016 at 5:23 PM, Nitin Madhok <notifications@github.com>
wrote:

--
*--cro*
C. R. Oldham, Platform Engineer, SaltStack
cr@saltstack.com / 801-564-4673

[2016-01-12 00:39] nigelsim commented on #29046
@twangboy can you please elaborate on how to setup a repo without using git? I used to be able to place the SLS files directly in `win/repo` and running `winrepo.genrepo`, but when I do the same into `win/repo-ng` the SLS files don't get synced to the minion on `pkg.refresh_db`.

[2016-01-12 00:52] whiteinge commented on #23794
At quick glance it looks like [this is the culprit](https://github.com/saltstack/salt/blob/0832539/doc/_themes/saltstack2/layout.html#L5-L8). I'm probably the one who added that but I don't recall why. If you nuke that block does it fix the duplication?

[2016-01-12 01:18] twangboy commented on #29046
@nigelsim

Assuming your file_roots is the default (`/srv/salt`):

If you have a 2015.5 server or below, all the files go into `/srv/salt/win/repo`

If you have a 2015.8 server or above, you put SLS files in two places.
1. `/srv/salt/win/repo` for 2015.5 and below minions
2. `/srv/salt/win/repo-ng` for 2015.8 and above minions.

[2016-01-12 01:42] adithep commented on #30199
Docker version 1.9.1, build a34a1d5
docker-py==1.6.0

[2016-01-12 01:56] adithep commented on #30266
I am using salt develop, I do a pull every day so its fairly recent.

[code]

[2016-01-12 02:55] cro commented on #29537
Sorry, this didn't work. :-(

I checked out your PR and made sure the right items were installed with pip.

[code]

where get_si.py just contains two lines:
[code]

[2016-01-12 04:11] fjorgemota commented on #30255
Hello, @jfindlay.

I don't think that the mysql-formula is the more appropriate, just because the mysql-formula is not directly responsible by the subprocess that Salt manages (waiting the subprocess to finish, in this case), even when we consider that mysql-formula is causing Salt to start that process.

Another point is that, when a process turns into a zombie, is probably because the parent pro

[2016-01-12 04:38] terminalmage commented on #29684
Fixed in https://github.com/saltstack/salt/pull/30284

[2016-01-12 04:38] #29684 closed

[2016-01-12 06:04] dreampuf commented on #26171
+1

[2016-01-12 06:43] dreampuf commented on #26171
resolve it by https://gist.github.com/dreampuf/a07fd546857f8444b90d

[2016-01-12 06:43] dreampuf commented on #26584
resolved it

https://gist.github.com/dreampuf/a07fd546857f8444b90d

[2016-01-12 07:30] DanyC97 commented on #23794
i did test that bit @whiteinge and w/o then nothing will be shown on the header on the genindex (main page of the docs) and that means we are losing the next/prev buttons

[2016-01-12 09:00] JensRantil commented on #26425
Wouldn't it make sense to also have it under "Software -> Downloads"? Also, the page should probably also refer to the PIP version, right?

I'm sorry, but I would never have found those versions in the top right corner of the page unless I looked for them _a lot_. I still think it needs a more explicit place.

[2016-01-12 09:29] falzm commented on #26889
Same here with 2015.8.3.

[2016-01-12 09:53] pkruithof commented on #13668
I think you're referring to issue #26879, which is about installing/upgrading Salt.

This issue is about upgrading other pkgrepo's along with an Ubuntu distribution.

[2016-01-12 10:26] jumping commented on #29511
On python26 has same issue.

[2016-01-12 10:29] tkunicki opened #30286 "salt-cloud ec2 spot requests fail with userdata_file in config or profile"
With `salt-cloud` and the `ec2` driver use of `userdata_file` results in an error with attempts to use spot instance requests.

It appears the use of `UserData` is not specified w/ `spot_prefix` parameter in [`ec2.py`](https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/ec2.py#L1620)

replacing:
```params['UserData'] = base64.b64encode(userdata)```

with:
```params[spot_prefix + 'User

[2016-01-12 13:01] tnypex commented on #23373
Hi,

Sorry I should have been more precise on the issue that remains, from the develop branch I still experience mixed up pillar data in orchestrate runners started by the reactor (no more tracebacks).

the reactor sls is:
[code]

and the orchestrate sls:
[code]
When, run test.ping against multiple minions `salt '*'  test.ping`, the reactor sls is correctly rendered but the following orchestrate r

[2016-01-12 13:11] anandxoriant commented on #30260
Output of ``` salt-cloud --versions-report```:
[code]

Blocking Error:
```salt-cloud``` cli command shows ```Could not connect to host '10.20.30.40'. Please check the debug log for more information.``` and remain block there only. Explicitly i need to kill that process using kill command

[2016-01-12 13:45] mstagi commented on #30264
@nmadhok I tested it. I actually created a fix for this which is very similar to yours, I just wanted to make sure if it's okay for you this way. Should I create an issue ticket here for every change which I'm currently implementing in the vmware driver?

[2016-01-12 13:46] twangboy commented on #29046
@nigelsim What are the salt versions for your master and minions?

[2016-01-12 13:59] nmadhok commented on #30264
@mstagi Can you give it a try again? I fixed the positional argument issue. Let me know how the test goes.

[2016-01-12 14:05] nmadhok commented on #29537
@cro Looking at the error you got, you didn't get any SSL related errors. You're getting a different error.

[2016-01-12 14:14] nmadhok commented on #30260
@anandxoriant Can you post the output of the following commands:

[code]

[code]

[2016-01-12 14:25] damon-atkins opened #30287 "python library cryptography"
Consider using python library "cryptography" as its parent project is openstack
See
https://cryptography.io/en/latest/
https://lwn.net/Articles/595790/

It appears its only dependency is openSSL

Given a lot of vendors want to support openstack, you may find "cryptography" on new releases of OS. But this does not help with older releases of OS.

[2016-01-12 14:57] patrickpierson commented on #25125
same at @gibsonje salt-minion 2015.8.3

[code]

[2016-01-12 15:00] jeffreyctang opened #30288 "file.recurse should support local source."
It would be nice if file.recurse supported "file:"  sources like file.managed does.

The state:

    /tmp/newfile:
      file.recurse:
        - source: file:///tmp/oldfile

fails with:

     Comment: Invalid source 'file:///tmp/oldfile' (must be a salt:// URI)

This is under salt 2015.8.3 (Beryllium)

[2016-01-12 15:10] momchilov opened #30290 "mount.mounted - force remount"
Running a mount state definition results in mount being remounted on every execution. Salt-master version is 2015.5.3. The result is the same on all minions:

State definition:

[code]

State execution - changes every time:

[code]

Debug:

[code]

[2016-01-12 15:13] momchilov commented on #30290
It's strange when the option Test=true is specified, the output of changes is different:
[code]
Standard state output (no test):
[code]

[2016-01-12 15:15] terminalmage commented on #30199
Thanks! I'll let you know what I find. It's possible that docker-py's Client.start() function doesn't wait to return even when attached to stdout, in which case this is probably not possible at this time. If that is the case, then opening an upstream feature request with docker-py would be the next step.

[2016-01-12 15:16] kamikaze commented on #11995
Please make Salt working with Python 3.5. Python 3 came out in 2008! C'moooon

[2016-01-12 15:29] tehmaspc commented on #22558
+1

I would like to see this as well after realizing that one can destroy their infrastructure if they don't know what they are doing.
I think a whitelist option would be best - that way I could additively add safe commands as I needed over time. I'd rather cmd.run be unusable at first till I add the ability to run x,y,z commands.

[2016-01-12 15:40] gibsonje commented on #25125
@patrickpierson I was able to solve this by using the rabbitmq module from a past version (sorry, I'm not positive which version it came from, coworker did it). The rabbitmq module in 2015.8.3 is not working for me.

[2016-01-12 15:41] #30196 closed

[2016-01-12 15:58] cro commented on #29342
Fixed by #30293 and #30289

[2016-01-12 16:02] s0undt3ch commented on #11995
...And only a couple of months ago we were able to drop m2crypto...

Believe me, all of us want Salt fully running under Py3, but have you looked at the current size of Salt's source?

... Its an ongoing daunting task, but its not forgotten...

One just needs to keep believing and submitting PRs...

[2016-01-12 16:13] jacksontj commented on #29521
I've actually seen something similar (although I thought it was closer to 1s, not 3s). If you add `--local` to the command, does it run quickly?

[2016-01-12 16:19] jacksontj commented on #20051
As mentioned, if we did add such functionality it wouldn't work the same if the job was async-- to be fair, thats the same as salt-call. We could do effectively the same thing and use https://github.com/saltstack/salt/blob/develop/salt/utils/job.py#L101 to determine the exit code assuming some --retcode-passthrough was passed in and the job was run `sync`.

[2016-01-12 16:19] multani commented on #25125
For those who are still experiencing the issue (@gibsonje and @patrickpierson ?) running 2015.8.3, you should probably report the output of the following commands:
* ``python -c "import subprocess; print repr(subprocess.check_output(['rabbitmqctl', 'list_users']))"``
* ``rabbitmqctl status``

I'm currently running 2015.8.3 and RabbitMQ 3.5.6 and I don't have the problem.

[2016-01-12 16:21] #14980 closed

[2016-01-12 16:21] terminalmage opened #30295 "Allow Pillar classes to be seeded with initial data"
### Use Case

User has multiple external pillars configured and wants the later ones to have access to the pillar data generated in ext_pillar instances evaluated earlier.
### What needs to happen to implement this
1. All Pillar classes and subclasses need to have an argument added to provide the initial pillar data (rather than just initializing the pillar dict as an empty dict).
2. This initial

[2016-01-12 16:23] rallytime commented on #30286
@tkunicki Thanks for the report! We'd love a PR when you get a moment.

[2016-01-12 16:25] arthurlogilab commented on #29521
@jacksontj as see in #29517 I can't run it with --local

[2016-01-12 16:33] s0undt3ch commented on #30277
@jfindlay if salt-cloud is not using the same approach that salt is, it should... and yeah @webtrekker, we should not rely on that hack... We need to find the deeper issue and handle it appropriately.

[2016-01-12 16:35] jfindlay commented on #30288
@jeffreyctang, thanks for the report.

[2016-01-12 16:35] s0undt3ch commented on #30277
@webtrekker can we get the debug logs of that `salt-cloud` call? `pass -l debug` to the `salt-cloud` command. Of course, remove any sensitive data in those logs before posting...

[2016-01-12 16:36] HerrBerg opened #30296 "state.orchestrate: state.sls.highstate: Jinja variable 'salt.utils.templates.AliasedLoader object' has no attribute '<my.salt.module>'"
Hey,

in the following setup I have the issue that all states run fine when called via `salt '*' state.highstate` or via `salt-call state.highstate`, but fail when run via `salt-run state.orchestrate`.

The setup is as follows:
`my.sls:`

[code]

in `my.sls` we use a self written function `ext_if` from a self written module named `net`

The orchestrate file:

[code]

When I run this orchestrate fi

[2016-01-12 16:43] jacobhammons commented on #30265
Hi @DanyC97, Sphinx warnings and errors are an ongoing issue, they seem to always find their way in as things are added to the code. When we create a branch and a release for a new version, I go through and fix as many of the issues as possible (for example, here is the clean up PR for beryllium: https://github.com/saltstack/salt/pull/27195/files - I'll do a similar pass when we branch for Boron).

[2016-01-12 16:53] jfindlay commented on #30290
@momchilov, thanks for the report.  You can try
[code]

[2016-01-12 17:01] DanyC97 commented on #30265
cool, thanks @jacobhammons
You can close this issue then

[2016-01-12 17:07] vladislav-jomedia commented on #29298
I have the same issue!
You have my vote too.

[2016-01-12 17:08] #30265 closed

[2016-01-12 17:19] jfindlay commented on #30266
Thanks, @adithep.  The annoying thing here is that `module.run` is [hiding the traceback](https://github.com/saltstack/salt/blob/develop/salt/states/module.py#L240-L243) associated with the exception.  You could try this patch, which should give you more information on what the cause of the error is:
[code]

[2016-01-12 17:24] jfindlay commented on #30255
@fjorgemota, yes I should have been more clear on my doubt that the problem was solely caused by the mysql formula.  If you can manage to find a more minimal test case that doesn't involve the formula, that would be great.

[2016-01-12 17:30] patrickpierson commented on #25125
@multani

[code]

[2016-01-12 17:34] abednarik commented on #28320
@Grokzen if you are able to test this PR #30298 that would be great. Hope help fix this.

[2016-01-12 17:41] webtrekker commented on #30277
Okay, I've taken out the `hack` and removed any sensitive data, hope this is workable ...
As a side note, I've inspected all of the config files it reads/includes to validate that there weren't any special/hidden characters using `cat -vT filename` and the `:set list` in vi.
[code]

[2016-01-12 17:44] momchilov commented on #30290
@jfindlay thanks for the swift response! This option is available in 2015.8.3.

[2016-01-12 17:50] AkhterAli opened #30300 "boto_route53 __salt__ not defined."
Error
[code]
minion version:
[code]

Master version:
[code]

saltstate:
[code]

Boto is installed and is 2.38.

Works fine in 'minion: 2015.8.3-4701-g998b55b'

[2016-01-12 17:51] jfindlay commented on #30290
@momchilov, sorry I misread your version report as 2015.8.3.  This option was added because mount state remounts happen for so many options for which it is impossible to write a conclusive list.  Your options are to either upgrade to 2015.8.3 or you could try serving 2015.8.3's mount state in `_states` to your minions.

[2016-01-12 17:58] momchilov commented on #30290
Good suggestion. Going to try that tomorrow and report on the results.

[2016-01-12 18:00] twangboy commented on #26017
`file.join` was added with https://github.com/saltstack/salt/issues/19410 on the 2015.8 branch.

[2016-01-12 18:03] rallytime commented on #30300
Thanks @AkhterAli for filing this - I believe I broke this with #30158, and should be fixed with #30279. Can you apply #30279 and see if that clears up this issue for you?

[2016-01-12 18:04] terminalmage commented on #29049
This warning does not come from Salt, it comes from python-cffi and pygit2. I believe that more recent versions of pygit2 do not generate this warning.

#28072 is unrelated to this warning message.

Closing.

[2016-01-12 18:04] #29049 closed

[2016-01-12 18:16] veretcle commented on #14920
Same issue here (version 2015.5.8 on 2012R2). States win_servermanager fails because modules win_servermanager.list_installed fails:

minion_name:
----------
          ID: win_snmp
    Function: win_servermanager.installed
        Name: SNMP-Service
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call $
ast):
                File "c:\salt\bin\lib\site-

[2016-01-12 18:54] vladislav-jomedia commented on #29298
I've found the bad minion, which sent multiple replays , by replacing

minion_tracker[queue]['minions'].remove(id)
with
                               if id in minion_tracker[queue]['minions']:
                                        minion_tracker[queue]['minions'].remove(id)
                               else:
                                       print_cli('Invalid minion :{0}'.format(id))

T

[2016-01-12 18:56] waynew commented on #30276
Some further information: I tossed some extra logging in there - it appears to be getting thrown when my bucket actually has no files. As it actually has no files :)

Looks like that's definitely the case - `bucket_one` has files, `bucket_two` does not.

Changing to:

[code]

Allows the state to run A-OK.

A quick fix-ish would be a note in the docs for the affected versions mentioning that bucket

[2016-01-12 19:06] jfindlay commented on #30276
@waynew, I totally agree; thanks for your extra work on this.

[2016-01-12 19:30] #29882 closed

[2016-01-12 19:42] #23742 closed

[2016-01-12 20:05] MadsRC commented on #30261
Didn't know where in the code to look, as I haven't yet gotten a firm grasp of how Salt's internals are supposed to work. But since you pointed me in the right direction, I'll give it some more testing and try to fix what's wrong. Be it documentation or code.

[2016-01-12 20:09] kingsquirrel152 commented on #30261
@MadsRC I had good luck using this a reference: https://github.com/saltstack/salt/blob/develop/salt/beacons/load.py

[2016-01-12 20:33] DanyC97 commented on #26425
@JensRantil fair points, no need to say _sorry_ ;)

[2016-01-12 20:43] jfindlay commented on #30261
@MadsRC, no problem.  I wouldn't expect anyone unfamiliar to salt to have to look into the core code just to write a custom extension module. :-)  If you have time to figure out and document the process, that would be awesome.

[2016-01-12 20:46] #30250 closed

[2016-01-12 21:00] #30286 closed

[2016-01-12 21:23] nigelsim commented on #29046
@twangboy Thanks, all working now. So <= 2015.5 synchronises salt://win/repo and >=2015.8 synchronises salt://win/repo-ng? I just got caught up overthinking how this all worked because of the `winrepo_dir` and `winrepo_cachefile` variables. I don't have a `file_roots` value (we structured it 2 years ago so that wasn't in the forefront of my mind), so I created a tree that would expose the correct

[2016-01-12 21:48] pass-by-value commented on #30276
@waynew and @jfindlay #30310 should resolve this

[2016-01-12 21:49] rallytime commented on #29758
Actually, @gtmanfred I was just looking over the code, and `access_ip` is indeed not set to anything by default. It gets set in a lot of places hidden under various `if` statements. I'm not sure if that is because there is something missing from @zaide's config files, or if something is getting missed for his setup. We should at the very least clean up that stacktrace and provide a helpful error i

[2016-01-12 22:02] rallytime commented on #29494
@Shad0w1nk I also just saw in your stack trace that there was mention of the vmware driver at the top. Are you provisioning VMs via your map file with the vmware driver? Are you using any other cloud providers? I was only testing this with Linode, thinking this was a salt-cloud core-based stacktrace, but perhaps that is the key to reproducing this issue.

[2016-01-12 22:05] waynew commented on #30276
Looks like it fixes it for me:

[code]

:+1: thanks!

[2016-01-12 22:09] twangboy opened #30311 "Create Software Update module for OS X"
Story: #29550
https://saltstack.zendesk.com/agent/tickets/400
using `softwareupdate`

- show available packages
- packages to hide from user

[2016-01-12 22:11] twangboy opened #30312 "Create System Setup Module for OS X"
Story: #29550
https://saltstack.zendesk.com/agent/tickets/400

use `systemsetup`

[2016-01-12 22:11] pass-by-value commented on #30276
Thanks for checking @waynew! I'll close this once the patch is merged.

[2016-01-12 22:12] mgresser commented on #25040
I'm also seeing this issue in 2015.8.3. I only see the grain info after minions are restarted.

[2016-01-12 22:37] tkunicki commented on #30227
I ran across this last night.  I had to modify the instructions for use with Amazon Linux AMI 2015.9.1 to use the following:
[code]

The current [documentation for RHEL et al.](https://docs.saltstack.com/en/latest/topics/installation/rhel.html) specifies the use of
[code]

I think the issue relates to this:
[code]
The file `/etc/yum.conf`, I believe, was provided by the base AMU and `releasever` i

[2016-01-12 23:24] twangboy opened #30313 "TCP Transport fails with multiprocessing on in Windows (develop)"
### Master:
[code]

### Minion
[code]

### Error
Working off the Head of Develop.
With `multiprocessing: True` the minion starts up and seems to connect (no errors). Then I issue a `test.ping` from the master and I get the following stacktrace:
[code]

[2016-01-12 23:47] Ch3LL commented on #30183
@jakehilton looks like i can recreate this although I am not seeing these errors at all:

[code]

Here is what my output looks like when the minion is running through the `SaltReqTimeoutError`:

[code]

This process took about 10 minutes just as you stated previously. Which in my opinion I agree with you it is taking a long time to failover to the other master, when the master is initially down on

[2016-01-12 23:55] basepi commented on #23373
@tnypex I'm thinking that since we've fixed part of this issue we should open a new issue for the remaining piece and link back to this issue, so "what's left" is clearer. Thoughts?

[2016-01-12 23:55] #26017 closed

[2016-01-13 00:20] rothgar opened #30315 "Provide a repo for Workstation $releasever"
[Documentation for RHEL systems](https://docs.saltstack.com/en/develop/topics/installation/rhel.html#installation-rhel-repo) says to use the following URL for the salt repo https://repo.saltstack.com/yum/redhat/$releasever/$basearch/latest but there is no link for 6 and 7 Workstation machines. It would be nice if a symlink can be added to point to https://repo.saltstack.com/yum/redhat/(6|7)/$basea

[2016-01-13 00:34] Ch3LL commented on #24243
Just wanted to update this issue. I have done some further testing with this and I believe my test case above is incorrect. The minion does not actually hang indefinitely, it takes about 10 minutes and then fails over to the second master if the first master is down when the salt-minion starts. So now as far as I understand it with multi-master failover we have two issues:

salt-version 2015.8.3
1

[2016-01-13 01:07] s0undt3ch commented on #30277
There we go... One of those 3 variables needs to be sdecoded, but that info is coming over the wire I believe, so, we'll have to know the content encoding...

[2016-01-13 01:22] rallytime commented on #29018
@cgaley I am not able to reproduce this error on 2015.8.1, nor the HEAD of the 2015.8 branch. Here's my simple set-up and results:

Relevant master.conf file:
[code]
/srv/reactor/test.sls:
[code]
Master logs showing successful `created` event trigger:
[code]
Versions Report:
[code]
Can you post the contents of your `init` state? Is it possible that something in that state is causing the error you'

[2016-01-13 01:33] fjorgemota commented on #30255
@jfindlay Right, i'll try to find a more minimal test case for that problem.

Just a fix for the labels: I think that problem is located on cmd module, because, as I said in the original text of the issue, even when running the command using directly the **module.run** state and calling **cmd.retcode** (based on some comments I found in some issues here in github) the apt-get program still turns i

[2016-01-13 01:39] rallytime commented on #29018
I also just tried with `state.apply` in my reactor file, just to be sure it wasn't that instead and it also worked:
[code]

[2016-01-13 01:43] abednarik commented on #27613
After digging a litle bit i found out that [status.pid](https://github.com/saltstack/salt/blob/2015.5/salt/modules/status.py#L730-L733) rgeex will match sshd, since is loking for ssh and that will match line like this
[code]

If you remove
[code]

You will get desired result :)

Use sig when searching for a service with ps. In this case, is not necessary.

[code]

[2016-01-13 01:54] cgaley commented on #29018
I'll check again I have reworked a lot of that code so  I will see if I still have an example.

Sent from Outlook<http://aka.ms/Ox5hz3>

On Tue, Jan 12, 2016 at 5:25 PM -0800, "Nicole Thomas" <notifications@github.com<mailto:notifications@github.com>> wrote:

@cgaley<https://github.com/cgaley> I am not able to reproduce this error on 2015.8.1, nor the HEAD of the 2015.8 branch. Here's my simple se

[2016-01-13 05:56] anandxoriant commented on #30260
[code]

[code]

[2016-01-13 07:03] hxnan opened #30317 "When I run salt-api 2015, AttributeError:'str' object has no attribute 'get'"
I install the salt 2015 by `python install setup.py --record log`

relhat4.4.7-4

Error as bellow:
[code]
I google this info , but nothing work,

[2016-01-13 07:33] JoaquinVeira commented on #29260
hello, is there any news regarding this?

[2016-01-13 09:30] LiangAllen opened #30318 "ERROR: Sorry, Windows does not support runas functionality"
`salt-api cmd.run windows minion` ,return  `ERROR: Sorry, Windows does not support runas functionality`
[code]
How to solve?

[2016-01-13 09:50] Semyazz opened #30319 "state.apply truncates long output"
`state.apply` truncates the log when it's most probably too long, for instance it doesn't show the summary with successful/failed states, so it's not possible to figure out which states were failed.

This doesn't happen when `state.highstate` is used or a single SLS is executed using `state.sls` subcommand, but the latter might be too short to trigger this bug.

[code]

[2016-01-13 10:53] snw1968 commented on #30240
Hi @abednarik - I have never pulled anything from git before and don't currently have a machine I can build this on - maybe able to in a week or so

[2016-01-13 11:15] jizhilong commented on #30317
it seems be related to your settings, pasting your settings for salt-api would be helpful

[2016-01-13 11:38] DanyC97 opened #30321 "Feature Salt-Cloud: Allow AWS volumes tagging based on minion_id"
Currently you can tag Volumes in a profile which was introduced in https://github.com/saltstack/salt/issues/18451.

Since most of us use the map file to create instances where the VM names (resource tag in AWS terminology) is defined, will be nice to allow
- from the map file to "inject" the VM name (which is going to be the minion_id) into the current profile Volume tagging functionality
- in the

[2016-01-13 11:42] DanyC97 commented on #30321
Currently this is what we are doing after everything been bootstrapped which is ugly since it requires an extra step.

[code]

[2016-01-13 11:50] mstagi commented on #30264
I tested it, the creation works nicely, the objects can be retrieved. Thanks!

[2016-01-13 11:53] nmadhok commented on #30264
@mstagi Thanks for confirming. Glad to know that the problem has been fixed for you.

[2016-01-13 12:00] skandyla opened #30323 "Feature request: salt-cloud oVirt/RHEV platform management support"
Hi folk,
it would be great to have oVirt (https://en.wikipedia.org/wiki/OVirt) platform support at salt.
Ovirt in two words something like Vmware vcenter.

Ansible, for instance, has such feature.
http://docs.ansible.com/ansible/ovirt_module.html

[2016-01-13 12:11] portos060474 opened #30324 "network.routes netmask"
[code]

On Centos 7,  this will produce the /etc/sysconfig/network-scripts/routes-eth0 like:

[code]

which is wrong, will add route to 10.2.0.0/25 instead 10.2.0.0/24

It works with `netmask: 24`.

Regards.

[2016-01-13 12:37] abednarik commented on #30240
Hey, don't worry. I think i can try to test during the weekend, i really neeed a centos 7 to test fixes in salt, i only use Ubuntu, for now.

[2016-01-13 13:30] momchilov commented on #30290
Pulled the 2015.8.3 version ({{HEAD detached at v2015.8.3}}), symlinked the state to the {{_states}} directory; added the {{hidden_opts}} option in the state; did a {{saltutil.sync_states}}, which showed the state synced successfully. Upon execution, it still complains in the output.

Modified sls:
[code]

[2016-01-13 15:05] momchilov commented on #30290
Resolved by removing barrier=0 and nobh from the mount options and it went "green".

[2016-01-13 15:12] srkunze opened #30325 "Failhard Option for Single Execution"
Currently, we can set failhard globally (for the master) and for a single state.

Specifying it for a single salt/salt-ssh execution would be great.

[2016-01-13 15:14] joberget commented on #28462
I am also seeing this on my multi-master PKI setup. Any updates on this?

I see the same on this version:

Salt Version:
           Salt: 2015.8.3

Dependency Versions:
         Jinja2: 2.7.2
       M2Crypto: Not Installed
           Mako: 0.9.1
         PyYAML: 3.10
          PyZMQ: 14.0.1
         Python: 2.7.6 (default, Jun 22 2015, 17:58:13)
           RAET: Not Installed
        Tornado: 4.2.

[2016-01-13 15:20] Shad0w1nk commented on #29494
[code]
@rallytime You are right, I'm using the vmware driver. I cannot test on another driver as its the only one I have setup.

[2016-01-13 15:29] rallytime commented on #30264
Closed via #30278

[2016-01-13 15:29] #30264 closed

[2016-01-13 16:01] bogdanr opened #30326 "salt-cloud parameter to force a provider"
salt-cloud could benefit from having a parameter which allows specifying a certain provider.
Currently it interrogates all the defined providers for some actions, such as when a map file is queried.

This might create issues when node names are the same or when there are quite a few providers defined.

[2016-01-13 16:16] jfindlay commented on #30315
@rothgar, thanks for reporting.  I am going to move this to the salt-pack repo.

[2016-01-13 16:16] #30315 closed

[2016-01-13 16:16] twangboy commented on #29046
@nigelsim I'm glad it's working for you.
@effics Is this still a problem for you?

[2016-01-13 16:21] seanjnkns commented on #30208
After testing this numerous times over between 2015.8.1, 2015.8.3 and development branch, using the exact same state, I can't retrigger the problem.  Not sure if we want to keep this open or not, but if so, I'll see if I can retrigger the issue again and retrace my steps.

[2016-01-13 16:24] jfindlay commented on #30317
@hxnan, thanks for the report.  As @jizhilong indicates, we need to see your salt-api configs.

[2016-01-13 16:26] damon-atkins commented on #30323
+1

[2016-01-13 16:28] jfindlay commented on #30318
@LiangAllen, thanks for the report.  What version of salt are you using?  Will you also post your salt-api configs?

[2016-01-13 16:29] rallytime commented on #30326
That would be a useful feature. When I am working on a cloud driver, I am frequently moving the "extra" providers to a `disabled` directory or renaming them to `.bak` files. I think maybe a `--provider` option, which strips out all other provider configs, wouldn't be too terribly hard to implement.

Also, I would be careful about using identical node names across providers, regardless of whether o

[2016-01-13 16:33] jfindlay commented on #30319
@Semyazz, thanks for the report.  This is an interesting situation because `state.apply` does nothing but call `state.sls` and `state.highstate`:
[code]

[2016-01-13 16:35] jfindlay commented on #30321
@DanyC97, thanks for the report.

[2016-01-13 16:36] jfindlay commented on #30323
@skandyla, thanks for the feature request.

[2016-01-13 16:40] jfindlay commented on #30324
@portos060474, thanks for the report.

[2016-01-13 16:40] jfindlay commented on #30324
@portos060474, what version of salt are you using?

[2016-01-13 16:41] jfindlay commented on #30325
@srkunze, thanks for the feature request.

[2016-01-13 16:43] jfindlay commented on #30287
@damon-atkins, thanks for the feature request.  This would be a great option to have.

[2016-01-13 16:50] jfindlay commented on #30296
@HerrBerg, thanks for the report.  The mechanism that provides custom modules to the master is different from that which serves them to the minions.  Whereas the second is the `_modules` directory in `file_roots`, if you want to provide custom modules to the master you need to use the [`extension_modules`](https://docs.saltstack.com/en/latest/ref/configuration/master.html#extension-modules).

[2016-01-13 16:55] jfindlay commented on #30277
@nmadhok has done the majority of the work on the salt-cloud vmware integration, so he may have some good information on that.

[2016-01-13 16:57] jfindlay commented on #30276
Thanks, @pass-by-value.

[2016-01-13 17:04] jfindlay commented on #29260
@JoaquinVeira, not that I know of.  @aboe76, @isbm, do you have any ideas?

[2016-01-13 17:05] jfindlay commented on #30290
@momchilov, thanks for the extra info.  We may need to add a parameter for hidden keyword opts.

[2016-01-13 17:08] jfindlay commented on #30208
@seanjnkns, thanks for your work on this.  Let's close it for now unless you're able to reproduce it again so you don't have to worry about it if you'd rather move on.

[2016-01-13 17:08] #30208 closed

[2016-01-13 17:37] danlsgiga opened #30329 "Add failhard arg to cmd_batch LocalClient"
Currently I'm writing a custom runner that calls a LocalClient cmd_batch function to run a command in batches. This custom runner basically deploys code to a server farm and if any of the targetted nodes in the batch fails to deploy the code, I want to stop the deployment and do a rollback. Without the failhard option present in the LocalClient cmd_batch function I can't stop the batch execution u

[2016-01-13 17:39] nmadhok commented on #30277
@jfindlay This doesn't seem to be a problem with the salt-cloud VMware driver. This seems to be a problem with the way salt-cloud handles Unicode support.

[2016-01-13 17:43] JensRantil opened #30330 "salt.state.file.absent doesn't document recursiveness"
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.absent doesn't say whether it removes non-empty directories or not. Does it?

[2016-01-13 17:45] nmadhok commented on #30277
@webtrekker

Can you put the user in double quotes instead of single quotes?
[code]

It seems like your user may be causing the issue since it has ``\c`` in it.

[2016-01-13 17:46] jfindlay commented on #30277
@nmadhok, that is true, although salt does try to guess the system encoding, https://github.com/saltstack/salt/blob/v2015.8.3/salt/__init__.py#L33 and then use it to transcode strings coming from the system.

[2016-01-13 17:48] nmadhok commented on #30277
@jfindlay If encoding not found, then it sets it to ascii https://github.com/saltstack/salt/blob/v2015.8.3/salt/__init__.py#L57

[2016-01-13 17:58] #29553 closed

[2016-01-13 18:22] webtrekker commented on #30277
@nmadhok, it didn't like the double quotes --
[code]
And on a by-guess-by-golly figured I'd try escaping the `\c` with `\\c`
No joy
[code]
Also tried the `username@` method ... also, no joy ...
`  user: 'cfgmgt@VMWare.local'`

[code]
Just to validate that the `\cfgmgt` might be the problem I can create a new user... any suggestions on what characters I shouldn't use?
Or is there another way to pas

[2016-01-13 18:26] #30247 closed

[2016-01-13 18:29] webtrekker commented on #30277
I've also tried using the AD domain account -- `user: 'NET\svc-EASalt'`, but had the same encoding error
[code]
so, seems `\s` won't work either if this is the root cause.

[2016-01-13 18:31] portos060474 commented on #30324
salt-master 2014.1.13 (Hydrogen)
salt-minion 2015.8.3 (Beryllium)

[2016-01-13 18:36] lorengordon commented on #30277
It looks to me like it's throwing the error while trying to print one of the vm_names. The error is being thrown by the `log.debug` function on `vm_name`. Got any VMs with slightly odd names?

https://github.com/saltstack/salt/blob/v2015.8.3/salt/cloud/__init__.py#L1443-L1444

[2016-01-13 18:37] JaseFace commented on #29298
@vladislav-jomedia Great catch, this is indeed an issue of a minion being removed multiple times because of too many minions running.  This quick patch works well for me.  Do you mind doing a PR with it, unless someone believes there is a better way to fix it?

[2016-01-13 18:43] ryan-lane opened #30333 "Add test suite that ensures modules load when their dependencies are satisfied"
As an example of a regression:

https://github.com/saltstack/salt/commit/0d912bf0d4fee1df60a4574ca7282d11ad50fdcf

boto_iam's state module virtualname was accidentally changed from boto_iam to boto_cfn. We should have tests that ensure a module and all its functions are available if its dependencies are met in the virtual function.

[2016-01-13 18:45] JaseFace commented on #24617
https://github.com/saltstack/salt/issues/29298 has a fix for this, hopefully it will hit as a PR soon, but it's just a few lines so you can hot patch your existing install.  Seems this happens when it gets more than one return from a minion (normally because more than one minion is running, which seems to be another bug caused by a less than perfect restart), and the subsequent response goes to re

[2016-01-13 18:47] JaseFace commented on #24875
https://github.com/saltstack/salt/issues/29298 has a fix for this, hopefully it will hit as a PR soon, but it's just a few lines so you can hot patch your existing install.  Seems this happens when it gets more than one return from a minion (normally because more than one minion is running, which seems to be another bug caused by a less than perfect restart), and the subsequent response goes to re

[2016-01-13 18:47] webtrekker commented on #30277
@lorengordon, nothing out of the ordinary ... no special characters other than these three `-` , `_`, or a `.` , most of our names are in this format `xyz123-abc456` or `Z-xyz123_dt`

[2016-01-13 18:48] nmadhok commented on #30277
@lorengordon The vm names should be encoded and printed as unicode strings.

[2016-01-13 18:53] jfindlay commented on #30324
Thanks.  That's a very old master, but all of the logic concerned should be happening on the minion anyway.

[2016-01-13 18:54] lorengordon commented on #30277
@nmadhok: I don't know about _should_, but it has to be throwing up on `vm_name` because the other two values are printed just fine in prior iterations of the loop (or so it appears from the log output in this thread). So, worth a try? We'd have to look up the allowed VM name characters, I guess, to be sure. String encodings give me a headache.

[2016-01-13 18:56] jfindlay commented on #29298
This seems good to me.  @vladislav-jomedia, will you send in a pull request to 2015.8?  Thanks.

[2016-01-13 19:00] portos060474 commented on #30324
Well... perhaps someone has forgot to do the conversion between  decim as l
255.255.255.0 and cidr /24 representation.
It happens .
On Jan 13, 2016 8:54 PM, "Justin Findlay" <notifications@github.com> wrote:

[2016-01-13 19:22] lorengordon commented on #29298
So, the problem is duplicate items of the same name in the same list? Why not take the set() of the list?

[2016-01-13 19:27] wt commented on #23556
This block is the source of the wrongness:
https://github.com/saltstack/salt/blob/66af26c2fe50d99afb7cfa634787a1c8baa32921/salt/modules/rh_ip.py#L628

What should be done? Should we filter out interfaces named dummy*? That seems less than ideal.

[2016-01-13 19:31] nmadhok commented on #30277
@webtrekker Can you change line 1444/1445, in function ``do_action`` in ``/usr/lib/python2.6/site-packages/salt/cloud/__init__.py`` to the following:
[code]

Try this and let me know if you still see the error?

[2016-01-13 19:34] lorengordon commented on #29298
It looks like you could do that [here](https://github.com/saltstack/salt/blob/v2015.8.1/salt/cli/batch.py#L139), with:

[code]

[2016-01-13 19:35] Sakorah commented on #26920
Hi, I run into this issue as well on ubuntu. I need to give useres access to databases based on their username which is the prefix of the database.
Just like the first post mentions.

[2016-01-13 19:35] #30276 closed

[2016-01-13 19:38] Shad0w1nk opened #30334 "global name '__env__' is not defined in pip_state.py"
I feel this is a bug.

Given a custom salt state module located at `_states/foo.py` with the following content:
[code]

Calling that state within a .sls file or simply through the command line will result in the following exception:
[code]

This was tested on Salt Minion for Windows 2015.8.1 for a Windows 2008 r2 x64. I'm positive you could reproduce this on other machines. I will try with the Sal

[2016-01-13 20:01] webtrekker commented on #30277
@nmadhok,
[code]
And Ladies and Gentlemen, members of the press, and Distinguished Guests .... We have a Winner!
[code]
.... huge list ... continues...
[code]

[2016-01-13 20:06] nmadhok commented on #30277
@webtrekker Going to submit a PR for this. Glad to hear it's working for you now.

[2016-01-13 20:11] wt commented on #23556
I've started a thread on salt-user about this topic to try to figure out how to fix it. Here's a link:
https://groups.google.com/forum/#!topic/salt-users/MdMf0oiZrrY

[2016-01-13 20:17] nmadhok commented on #30277
@webtrekker Can you post the output of following command:
[code]
Also, can you open a python interpreter and print the output of following:
[code]
OR
[code]
Are you able to perform the following commands successfully?
[code]
[code]

[2016-01-13 20:25] webtrekker commented on #30277
@nmadhok, could this be the underlying issue ...
[code]
Here is the rest of what you requested, seems all work as expected ...
[code]
and
[code]
and
[code]

[2016-01-13 20:28] nmadhok commented on #30277
@webtrekker Can you do the following and try again:

[code]

[2016-01-13 20:34] ch-acctg commented on #27688
We rebuild the systems from scratch from a fresh debian jessie build VM with package updates before running the salt.  I'll try and remove the pyc's before saving the next base.

[2016-01-13 20:41] nmadhok commented on #30277
@jfindlay This is not an upstream bug.

[2016-01-13 20:46] blbradley opened #30336 "salt-cloud: 'Salt installed' success shown but not installed without bootstrap update"
Hello!

I was running `salt-cloud` without first running `salt-cloud -u`. So, no bootstrap script existed. Cloud machines were started fine, and I was getting `[INFO    ] Salt installed on my-test-instance`. But salt was not installed on instances. Everything works fine after running `salt-cloud -u`. So, this is clearly a bug.

I tested this on `v2015.8.3` and develop.

[2016-01-13 20:47] JaseFace commented on #29298
@lorengordon it's the inverse.  Some minions are returning multiple times, so any subsequent attempts to remove the single existing entry for that minion fail.

[2016-01-13 20:49] webtrekker commented on #30277
Okay... exported LANG and reset the `__init__.py` back to original.  That combo still fails.
The code changes works with either `POSIX` or `en_US.UTF-8`

Well... hold that ... something is going sideways ... the snapshot is now grabbing a completely diff machine than what was specified on the command line ..
[code]
but...
[code]

[2016-01-13 20:57] nmadhok commented on #30277
@webtrekker Alright. Does it get fixed when you export LANG back to POSIX?

[2016-01-13 21:13] webtrekker commented on #30277
Okay... I must have foobar'd the code when setting it back to original. My apologies.
I put the changes back in and reset the system to use `LANG=POSIX`.  Back to working as before with the edited code.

Then, redid the `LANG=en_US.UTF-8` plus edited code test .. this combo also works.
Then, redid the `LANG=en_US.UTF-8` plus original code test ... this combo does fail.

[2016-01-13 21:15] nmadhok commented on #30277
@rallytime @s0undt3ch @jfindlay What do you suggest we should do here? We have a fix but I don't like it honestly. In my opinion, salt should handle the encoding rather than encoding strings everytime in debug statements.

[2016-01-13 21:17] mecarus commented on #29410
Not sure if anyone looked at this, but issue is that mongo returner does not have a get_load method defined.

  def get_load(jid):
      '''
      Return the load data that marks a specified jid
      '''
      ret = {}
      conn, mdb = _get_conn(ret=None)
      rdata = mdb.saltReturns.find({'jid': jid})
      if rdata:
          return rdata
      return ret

[2016-01-13 21:23] Shad0w1nk commented on #30334
Looks like it got fixed with the Salt Minion 2015.8.3 for Windows. Closing the issue.

[2016-01-13 21:23] #30334 closed

[2016-01-13 21:29] dnd opened #30341 "salt-cloud linode connection reset by peer"
I just tried using salt-cloud to do some linode provisioning today, and a configuration that has worked for well over a year is now failing with the following:

[code]

This is running salt 2015.5.3. Also I should add that linode api commands work fine from the command line using curl.

[2016-01-13 21:31] cachedout commented on #30341
Linode has been experiencing large DDoS attacks for the past several weeks. It's more likely this is a failure on their API than it is in salt-cloud, IMHO.

[2016-01-13 21:34] #29619 closed

[2016-01-13 21:50] rhealitycheck commented on #29410
@mecarus i haven't had a chance to look at this yet but the mongo_returner.py is not the returner that is used when set the job_cache to use 'mongo'. the actual returner that's used is the mongo_future_returner.py -- i've been recommending that they deprecate the mongo_returner.py for just that reason that it's confusing.

[2016-01-13 21:53] s0undt3ch commented on #30277
What http lib dies the VMware library use? Our HTTP lib? A VMware specific lib? Ie, what do we use to query the VMware api.

[2016-01-13 22:10] HeathNaylor commented on #30341
Great, I am getting this right now too. It is almost essential to switch from Linode at this point. Their status page has no update yet, opening a ticket with them.

[2016-01-13 22:12] nmadhok commented on #30277
It uses requests. We use pyVmomi to query using VMware API

[2016-01-13 22:15] dnd commented on #30341
There's an issue open in the libcloud issue tracker. I don't *think* this problem is specific to salt, but I'm waiting to see the outcome of the ticket before closing the issue. Just in case the way libcloud is called by salt needs to be changed.

https://issues.apache.org/jira/browse/LIBCLOUD-791

[2016-01-13 22:17] pass-by-value commented on #29101
#30346 should fix this. The volumes weren't being attached to the instance because it wasn't ready when the call to attach volumes was happening. Now they should be attached _and_ marked for delete on termination (if configured to be so) regardless of where those keys are in relation to each other.

To check that the volumes are created with the required parameters you can call `salt-cloud -f show

[2016-01-13 22:22] edhgoose commented on #30227
I can confirm that I also have been able to install Salt latest using 6 instead of $releasever. Thank you @tkunicki!

Is this a documentation bug (i.e. I should submit a PR to adjust [this installation page](https://github.com/saltstack/salt/blob/develop/doc/topics/installation/rhel.rst) to say "Version 6 or Amazon Linux", or is there an alternative fix that would be better?

[2016-01-13 22:37] rodriguezsergio commented on #27589
I've decided to revisit this and I've noticed that the custom grains are, in fact, present, but only to root. The problem is that I'm running this as the `sensu` user. Non-root users do not see the custom grains on this 1 particular instance.

[2016-01-13 22:40] lorengordon commented on #30227
Oh geez, ok, right.

https://github.com/saltstack/salt/issues/27281#issuecomment-142080230
https://github.com/saltstack/salt/issues/28190#issuecomment-150214234
https://github.com/saltstack/salt/pull/29102#issuecomment-158778197

It would be nice to have redirects for the known $releasever values so this issue would go away.

[2016-01-13 23:04] s0undt3ch commented on #30277
OK, then  any data coming from those needs to be turned into Unicode. Requests will tell you the encoding used, don't know about the other...

... Or, was this a configuration issue? Sorry I've been following up on my phone...

[2016-01-13 23:07] s0undt3ch commented on #30277
If that log call is something like:

[code]

Does it work?

[2016-01-13 23:27] oogali commented on #29018
I just pushed my systems up to 2015.8.3, and I'm still facing the same issue.

[code]

[code]

The referenced SLS:
[code]

[2016-01-13 23:35] rallytime commented on #29018
@oogali I think you're seeing a different issue that the one discussed here, as you noted. Would you mind opening a new issue, so we can track the progress of each individually? Also, when you open the new issue, can you also post what you reactor file looks like?

[2016-01-13 23:36] #29537 closed

[2016-01-13 23:52] oogali commented on #29018
This activity got my gears going, and after poking around, I think my issue might be user error (aka me) -- I may have found a bad scope reference in my reactor files.

I'll keep digging, and if it turns out to be upstream, I'll open a new issue.

[2016-01-13 23:53] rallytime commented on #29018
@oogali Sounds good! :)

[2016-01-14 00:04] danlsgiga commented on #29643
+1 This issue is also affecting me! The batch mode simply doesn't work because the return code is 0. Thanks for tracking this down! Hope to see the fix soon.

[2016-01-14 00:42] twangboy opened #30350 "win_servermanager.py should check win version and bitness"
win_servermanager.py relies on the ServerManager powershell module.

The ServerManager module is only available on 64bit windows versions 2008R2 and higher.

If a user (for some horrible reason) has 32bit salt installed on 64bit Windows 2008R2 or higher, it will launch a 32bit powershell window which will not be able to find the ServerManager module and will return the following to the master:
[co

[2016-01-14 00:44] twangboy commented on #30350
https://github.com/saltstack/salt/issues/29169

[2016-01-14 00:45] twangboy commented on #29169
We don't support 32bit install of salt on 64bit machines. See https://github.com/saltstack/salt/issues/30350 for one of the many reasons why

[2016-01-14 00:48] twangboy commented on #30350
https://github.com/saltstack/salt/issues/29169

Related:
https://github.com/saltstack/salt/issues/28324

[2016-01-14 00:48] twangboy commented on #28324
https://github.com/saltstack/salt/issues/30350

[2016-01-14 00:49] #28218 closed

[2016-01-14 01:02] blbradley commented on #29931
I'm experiencing this also!

[2016-01-14 01:05] webtrekker commented on #30277
@s0undt3ch, if that is something you'd like me to try just let me know what I need to change and where.  Note: ... I'm and admin, not a coder :smile:

So, it kinda sounds like we have 2 *solutions*
* edit `/usr/lib/python2.6/site-packages/pyVmomi/__init__.py`
add 2 lines
[code]
or
* edit  `/usr/lib/python2.6/site-packages/salt/cloud/__init__.py` and change the log.debug stanza.

From what I've gat

[2016-01-14 01:10] blbradley commented on #29931
#25569 workaround is acceptable in practice, but this could still considered a bug. `associate_eip` could possibly work without assigning a subnet or security groups.

[2016-01-14 03:32] cybacolt commented on #27446
its worth also considering (as mentioned my my post above) that the syndics minions also cant access the syndic's mine data, as its registered upstream with the master master...

this is probably related enough not to be a seperate issue?

[2016-01-14 04:04] damon-atkins commented on #30227
You should look at using yum mirror list option, which would allow you to use a cgi script to take inputs and then send back a url, it would be a better option than creating lots of sym links in your repo. And also allow you to collect data about what platforms are using yum.  i.e. mirrorlist=yum.cgi?releaserver=$releaserver;arch=$arch;basearch=$basearch
which would then return https://repo.saltst

[2016-01-14 05:41] LiangAllen commented on #30318
@jfindlay thanks  for your reply.

version:
salt 2015.8.3
salt-api 0.8.4.1

salt-api config: Only configure the user name and password

POST / HTTP/1.1
Host: localhost:8000
Accept: application/json
X-Auth-Token: d40d1e1e
Content-Type: application/x-www-form-urlencoded

fun=cmd.run&client=local&tgt=*&arg=C:/Powershell/a.ps1

return "ERROR: Sorry, Windows does not support runas functionality"

I wan

[2016-01-14 10:35] DanyC97 opened #30352 "Salt-Cloud assesment: AWS is changing the Instance ID format, does have any impact?"
AWS just released a notification saying

[code]

The new format is [here](https://aws.amazon.com/ec2/faqs/#longer-ids)

[2016-01-14 10:59] pkruithof commented on #18630
Having the same problem on 2015.8.1:

[code]

[code]

[2016-01-14 12:28] alkivi-sas commented on #24955
Any news on this ? :)

[2016-01-14 12:35] lorengordon commented on #30227
@damon-atkins, nice, yeah, that would be even better.

[2016-01-14 12:46] s0undt3ch commented on #30277
For now, try this debug call and test please:
[code]

[2016-01-14 12:47] s0undt3ch commented on #30277
Oh, and option 1, `reload(sys)` that's a _no, no_ :smile:

[2016-01-14 13:13] tnypex opened #30353 "Concurrent orchestrate runners get mixed up pillar data"
Hi,

`salt['pillar.get']` returns mixed up values when concurrent orchestrate runners are started by the reactor.
This is the same issue as in #23373 event though that was supposed to be fixed by the RequestContext implementation (PR #27843)

SLS and logs below:

the reactor sls is:

[code]

and the orchestrate sls:

[code]

When, running test.ping against multiple minions `salt '*' test.ping` , t

[2016-01-14 13:14] kovacsbalu commented on #20865
Hi!
Is there any solution for loading extension_modules from gitfs? We are using some python stuff to fill salt mine_function for get network interface data.

[2016-01-14 13:27] ferricoxide commented on #27094
+1

[2016-01-14 13:32] lorengordon commented on #27094
+1

[2016-01-14 13:37] webtrekker commented on #30277
@s0undt3ch, that debug call works as well.

[2016-01-14 13:41] ajbothe commented on #16592
Any updates on this?

[2016-01-14 13:41] vitalyisaev2 commented on #16992
+1 It would be nice to have an opportunity to import python standalone files from ```!Py``` SLS files

[2016-01-14 13:57] favoretti opened #30355 "While retrying connections to the master salt-minion exits if it can't resolve salt-master"
In a cloud-like environment to make saltstack-controlled environments idempotent to presence of salt-master (or actually the moment in time salt-master becomes available) it would make sense to not to exit on DNS errors, but rather just keep retrying `sign_in` attempts.

[2016-01-14 14:00] s0undt3ch commented on #30277
So, what we've learned here is that the underlying libraries return Unicode, as they should, and, the problem is that the format call of the debug message does not assume that any of those arguments could be Unicode. The immediate fix is wrapping the log message string in `six.u()`, before formatting... `log.debug(six.u('log msg').format(args))`.

The long run fix is stopping to use format, **just

[2016-01-14 14:23] favoretti commented on #30355
Nevermind. After studying the source some more I came to my senses.

[2016-01-14 14:23] #30355 closed

[2016-01-14 15:24] frogunder commented on #27141
@racooper - I recently tested this again against version 2015.5.5.
I don't get your error, it is working correctly.

If you have time can you try again too see if you still get the error message?

[2016-01-14 15:38] techhat commented on #30352
I was wondering when Amazon would get around to doing that.

We'll want to double-check of course, but last I checked Salt Cloud doesn't care what the IDs actually look like, so long as they're there. This should not have any impact.

[2016-01-14 15:40] rallytime commented on #30341
Here's a blog post about this bug that contains some more information about it and a workaround: https://libcloud.apache.org/blog/2016/01/14/notice-for-linode-users.html

[2016-01-14 15:44] dnd commented on #30341
Yeah, that's from the issue above. Where would we need to override the tls
value in Salt so that things will work? It looks like it needs to be set
before libcloud is imported.
On Jan 14, 2016 9:40 AM, "Nicole Thomas" <notifications@github.com> wrote:

[2016-01-14 15:49] rallytime commented on #18630
@garethgreenaway Just a ping here to see if you were ever able to swing back around to this one. Looks like several fixes were submitted, but a final resolution hasn't been applied yet?

[2016-01-14 15:55] llamallama commented on #30341
From https://libcloud.apache.org/blog/2016/01/14/notice-for-linode-users.html "Keep in mind that for this to work you need to have a recent version of OpenSSL installed on your system and you need to use Python >= 3.4 or Python 2.7.9."

I'm on CentOS 7 with Python 2.7.5. Thank, Linode! Looks like I'm screwed.

[2016-01-14 15:59] dnd commented on #30341
Hard to fault Linode for having to protect their systems from the attacks
they have been undergoing. Is there any reason Salt can't run on python
2.7.9? I haven't been able to try yet, but was going to do so today.

On Thu, Jan 14, 2016 at 9:56 AM, Chris Jones <notifications@github.com>
wrote:

[2016-01-14 16:04] cro commented on #30341
@llamallama I think RH/CentOS backported the ssl stack from 2.7.9 to 2.7.5.  You might be OK.

@dnd Salt runs fine on almost any 2.7 Python (sans the issues we are discussing here).  The issue is that "older" distros don't package newer Python's

[2016-01-14 16:06] llamallama commented on #30341
@cro Noted. Thanks for pointing that out. At this point, do we just wait for a salt update?

[2016-01-14 16:08] danlsgiga commented on #29643
I was investigating this issue last night and I came to the same conclusion as @matthayes...
In utils/job.py the get_retcode() is always returning 0 because retcode is not present in the dict.
AFAIK, the retcode is the global return for the final state execution and the result is the execution status for each specific state.
This same issue happens when using cmd.run instead of cmd.run_all. The fi

[2016-01-14 16:16] llamallama commented on #30341
Adding

    import ssl
    import libcloud.security
    libcloud.security.SSL_VERSION = ssl.PROTOCOL_TLSv1_1
to
`/usr/lib/python2.7/site-packages/salt/cloud/clouds/linode.py`
on CentOS 7 fixed this for me.

[2016-01-14 16:16] frogunder commented on #26440
@thenational22 - Have you figured this out, or is this still an issue for you?

[2016-01-14 16:22] rallytime commented on #30341
The 2015.8 version of the Linode driver in Salt Cloud connects directly to their API, instead of using libcloud. I just tried the 2015.8 driver, and it didn't have this same error. If you're not able to patch the current 2015.5 driver with the suggestions above, I'd suggest grabbing the Linode driver from the 2015.8 branch and putting it in your `path/to/salt/install/salt/cloud/clouds/linode.py` p

[2016-01-14 16:35] dnd commented on #30341
I just tried downloading the newer linode driver like you suggested. The error is gone, but doing a `salt-cloud --list-sizes=all` just returns:

[code]

[2016-01-14 16:44] rallytime commented on #30341
@dnd Hrm. Thanks for testing that! There must be some incompatibility between 2015.5 and 2015.8 in salt-cloud itself.

Here's the next thing to try. In 2015.5.3, we introduced a new library to use instead of libcloud. It appears to be working (I only tried some basic tests). Go back to the 2015.5 version of the driver and install the `linode-python` library from pip. If you have linode-python inst

[2016-01-14 16:51] thraxil commented on #30341
@rallytime, that appears to have worked for me (on Ubuntu 14.04 and salt 2015.5.3)

[2016-01-14 16:56] rallytime commented on #30341
@thraxil Awesome. I'll put in some changes today to import those the SSL libraries if possible, and if not possible, recommend to use the `linode-python` bindings instead of `libcloud`.

Thank you everyone for helping to solve this issue. :)

[2016-01-14 16:58] dnd commented on #30341
@rallytime I just tried deploying a new machine and got the following error:

[code]

Nothing changed from before. Is it expecting the profile to be in a different format than with libcloud?

[2016-01-14 17:04] dnd commented on #30341
It looks like with the new driver salt requires the location to use the `abbreviation`, so in this case dallas. Still deploying, but so far so good.

[2016-01-14 17:06] rallytime commented on #30341
@dnd Oh, good information. I didn't realize that was different.

[2016-01-14 17:08] jfindlay commented on #30318
@LiangAllen, thanks for the extra information.  I wonder if salt-api is supplying a runas argument to cmd.run because you've specified a username, whereas windows doesn't support runas (yet).

[2016-01-14 17:11] jfindlay commented on #30329
@danlsgiga, thanks for the feature request.

[2016-01-14 17:13] danlsgiga commented on #30329
Thanks @jfindlay... I'm currently testing if setting the LocalClient mopts with failhard=True will do the trick. Once I have some news I'll post it in here

[2016-01-14 17:16] dnd commented on #30341
To add on even more, if you do not have `private_ip: True` set in your cloud configuration the machine will not provision with a private ip address, even if you have the network helper utility active in your Linode account. Before with libcloud it didn't effect this setting.

[2016-01-14 17:23] jfindlay commented on #30330
@JensRantil, thanks for reporting.

[2016-01-14 17:25] whiteinge commented on #30318
@jfindlay No. salt-api does not inject kwargs. What the user supplies is sent to the minion verbatim. Username is the eauth username and used by the Salt Master only.

@LiangAllen your salt-api version number should *match* the Salt version number. It was once a separate project but was merged into the main Salt repo in the 2014.7 release. Uninstall salt-api and reinstall Salt then check the versi

[2016-01-14 17:26] jfindlay commented on #30333
Thanks, @ryan-lane, this is a great idea.

[2016-01-14 17:28] cachedout commented on #30333
Crap. I should have caught this in my review. Thanks for bringing that one to my attention, @ryan-lane . Apologies for the breakage.

[2016-01-14 17:29] jfindlay commented on #30336
@blbradley, thanks for the report.  Salt ships with a stable version of bootstrap and `salt-cloud -u` updates it to the latest develop version, so something is not working in the current stable version, but it is fixed in the development version.

[2016-01-14 17:34] rallytime commented on #30336
This is a duplicate of #26699. I'm going to close this in favor of the older issue. I was thinking about that bug the other day and wondering if it was still happening on newer versions (we started seeing this in 2015.8.0), which appears to be the case. Thank you for letting us know.

[2016-01-14 17:34] #30336 closed

[2016-01-14 17:40] blbradley commented on #30336
@rallytime Definitely a duplicate. Thanks!

[2016-01-14 17:40] jfindlay commented on #30353
@tnypex, thanks for reporting.

[2016-01-14 17:45] webtrekker commented on #30277
so.... should I just leave the last change in place until the next revision? BTW, I'm fine w/that just wanted to make sure no one was waiting on me for something.
Thanks everyone for your help... this was my first time being involved in any project code.

[2016-01-14 17:46] jfindlay commented on #24955
@alkivi-sas, not that I know of.  We're working on getting through our backlog of issues.

[2016-01-14 17:48] rallytime commented on #30277
@webtrekker Yeah that should be fine. I'll be sure to take care of this as @s0undt3ch suggests above for the next version. Thanks for your testing! It is much appreciated.

[2016-01-14 17:52] rallytime commented on #30336
Sure thing! Thanks for confirming the bug!

[2016-01-14 17:56] basepi commented on #27589
Are the minion_mods directories accessible by the `sensu` user?

[2016-01-14 18:00] invsblduck commented on #16687
Too bad this was only implemented for Pillar!  Generic support for SLS inclusion in `top.sls` (as the title states!) or SLS inclusion from within another SLS would have been epic.  But that is no small patch, I'm sure.  Thanks @ryan-lane for getting the Pillar part done! :+1:

[2016-01-14 18:00] kevinquinnyo opened #30362 "mysql_grants.present does not check for Grant_priv"
How to reproduce:

Create the user with all privileges first (but exclude grant_option key which defaults to False)

[code]

Then uncomment:

[code]

And run the state again.

I would expect that the user's Grant_priv to be added to the mysql user's table on a subsequent run since it should be idempotent.  If you delete the user manually, and run it again with `grant_option: True`, it works as exp

[2016-01-14 18:01] basepi commented on #29643
I think the code for parsing out errors is solid, it's just the module reload that's causing issues. You can test this by reducing your state run to a single `test.fail_without_changes` state. I'm pretty sure the retcode should come through as 1.

[2016-01-14 18:13] danlsgiga commented on #29643
I'm doing exactly this test:

apache/tomcat/deploy.sls:

    abort-execution:
      test.fail_without_changes:
        - name: foo

salt --batch=1 --failhard '*java*' state.apply apache.tomcat.deploy

Executing run on ['az-ore-javademo1']

az-ore-javademo1:
----------
          ID: abort-execution
    Function: test.fail_without_changes
        Name: foo
      Result: False
     Comment: Failure!

[2016-01-14 18:15] rodriguezsergio commented on #27589
@basepi nope. That was it!

On the affected node:
[code]

On a working node:
[code]

Thanks! :smile:

[2016-01-14 18:15] #27589 closed

[2016-01-14 18:16] danlsgiga commented on #30329
Nope, it does not change anything... The --failhard for the Salt CLI is present in 'cli/salt.py' while when running the LocalClient cmd_batch, the api calls the 'client/__init__.py' directly that does not handle the failhard option at all.

[2016-01-14 18:20] terminalmage commented on #30203
Done in https://github.com/saltstack/salt/pull/30363.

[2016-01-14 18:20] #30203 closed

[2016-01-14 18:29] deutsche commented on #28693
Bug still repeating.  Also I delete /etc/salt/pki/minion/minion_master.pub before start minion.
[code]

[2016-01-14 18:32] fernandoacorreia commented on #18510
+1

We're using Salt as part a continuous delivery workflow, and it's really problematic that when states fail in minions for some reason (with `Result: False` in the logs), the `salt` command still exits with 0. We'll have to resort to parsing log files to find out if the one thing that Salt does in that workflow (configuration management) actually succeeded or not.

[2016-01-14 18:49] DenisBY opened #30365 "runner.cloud.create UnpackValueError"
We are starting to get this error in logs. How to fix it?

2016-01-14 18:44:40,396 [salt.utils.event ][DEBUG   ][12147] Sending event - data = {'jid': '20160114184440205765', 'return': 'Exception occurred in runner cloud.create: Traceback (most recent call last):\n  File "/usr/lib/python2.7/dist-packages/salt/client/mixins.py", line 337, in low\n    data[\'return\'] = self.functions[fun](*args, **

[2016-01-14 19:09] ryan-lane commented on #16687
Yeah... The code for pillar and state top files are separate for some reason, even though they do the exact same thing. I was hoping to do both at the same time, but I only needed pillar and the state top file code looked more difficult to modify. I'm still hoping someone from SaltStackInc will finish this work up :)

[2016-01-14 19:11] paulfanelli opened #30367 "salt-run orchestration via state.sls always successful; it is ignoring state return value"
In the process of writing some salt orchestration, no matter which options I used, the salt-run orchestration state.sls module/function always ignores the pass/fail return output from the state (that runs on the minion) and the salt-run orchestration is always successful.

I'm using the latest salt released version - 2015.8.3, on both the master and minion (all version info at the bottom).

I firs

[2016-01-14 19:37] gladiatr72 commented on #29249
Yar.  I've got its teeth marks on my ankles!

For anyone finding this, the simplest work-around I've found for this is to listen for the minion start event and fire the bootstrap reactor/orchestration state only if a particular grain is set. This grain doesn't get set until the end of the bootstrap state.  The second stage of the reactor runs a salt.function -> system.reboot. A post-salt-cloud-boo

[2016-01-14 19:42] danlsgiga commented on #29643
Ok @basepi, I was wrong and you were right! I think I found the issue. As you said, 'retcode' is indeed in the minion response. The issue is exactly here:
https://github.com/saltstack/salt/blob/develop/salt/cli/batch.py#L213

The retcode key is outside the data['ret'] dict.

The return batch.run() is giving to get_retcode is this:

    {'test_|-abort-execution_|-foo_|-fail_without_changes': {'comm

[2016-01-14 19:53] arroyoc commented on #5786
We are closing this ticket due to inactivty, if anyone @thatch45 @madduck feels that this feature needs further attention feel free to re-open it.

[2016-01-14 19:55] arroyoc commented on #5992
@madduck I am closing this issue due to inactivity, If anyone feels like this needs further attention feel free to reopen.

[2016-01-14 19:56] arroyoc commented on #6202
@DDarko @s0undt3ch I am closing this ticket due to inactivity. If anyone feels that this feature needs more attention feel free to reopen.

[2016-01-14 19:58] arroyoc commented on #6364
I am closing this ticket due to inactivity, if anyone feels that this feature needs more attention, feel free to reopen it.

[2016-01-14 19:58] #6364 closed

[2016-01-14 20:00] arroyoc commented on #6567
@jacobhammons @jacksontj I am closing this ticket due to inactivity. If anyone feels that this feature needs more attention feel free to reopen it.

[2016-01-14 20:02] DenisBY commented on #30365
I've fixed it by removing /var/cache/salt
For unknown reason /var/cache/salt/index.p became zero size.

[2016-01-14 20:02] #30365 closed

[2016-01-14 20:03] arroyoc commented on #6712
I am closing this ticket due to inactivity. If anyone feels that this feature needs more attention feel free to reopen it.

[2016-01-14 20:03] #6712 closed

[2016-01-14 20:04] arroyoc commented on #7105
I am closing this ticket due to inactivity. If anyone feels that this feature needs more attention feel free to reopen it.

[2016-01-14 20:12] DanyC97 commented on #30352
:+1: @techhat
I was thinking that is the case but thought a pair of eyes won't hurt.

[2016-01-14 20:17] jacobhammons commented on #6567
This still needs to be added to the docs, reopening.

[2016-01-14 20:50] madduck commented on #5786
I maintain that this should be fixed. Closing this just means this won't ever happen, while leaving it open at least serves as a reminder.

[2016-01-14 20:52] thatch45 commented on #5786
Will do @madduck

[2016-01-14 20:59] Ch3LL commented on #29169
The makes sense. I will close this then.

[2016-01-14 20:59] #29169 closed

[2016-01-14 21:02] madduck commented on #5786
@arroyoc I cannot reopen issues.

[2016-01-14 21:05] madduck commented on #5992
Well, as with the other issue, I don't think closing this just because it hasn't been implemented is the way to go. Either an issue is deemed wontfix, or it remains an issue, no?

[2016-01-14 21:06] matthayes commented on #29643
Hey @basepi I'm noticing another strange issue with failhard that affects test mode.  I'm not sure if this is related.  I can open another issue if you think that's best.  I'm executing `state.highstate` from the master with `test=True`.  When I have `failhard: True` in the master config, it doesn't execute all the salt states (only one out of about fifty).  If I remove `failhard: True` and bounce

[2016-01-14 21:11] thatch45 commented on #5992
Agreed, we decided to clean up a bun of old issues but I think that we need to do it more carefully

[2016-01-14 21:13] cachedout commented on #27347
@SEJeff I haven't heard back from you so I'm closing this. I'll re-open it if you do reply, however. :] Thanks.

[2016-01-14 21:13] #27347 closed

[2016-01-14 21:19] terminalmage commented on #25381
Environment file support added to the RHEL7 spec file in https://github.com/saltstack/salt-pack/pull/12.

[2016-01-14 21:19] #25381 closed

[2016-01-14 21:56] danlsgiga commented on #30329
I found another way to do this after checking that the return sent by cmd_batch is a generator object I can control when to not proceed raising a StopIteration exception.

[2016-01-14 22:09] #28396 closed

[2016-01-14 22:09] #28586 closed

[2016-01-14 22:09] #30330 closed

[2016-01-14 22:37] kev009 commented on #28518
Ok, this should make FreeBSD 10.3 so I will switch the disk grain over to using geom.. https://github.com/freebsd/freebsd/commit/b44c9b27614b4dd0f17257fca26ff654d074a0b9 we will lose the firmware stuff but that seems worth the trade to avoid tickling any HW issues.  Netflix is working on upstreaming some stuff to get at this data too, I will follow along for that and hopefully it will be in FreeBS

[2016-01-14 23:45] rallytime commented on #30277
This should be fixed with #30374.

[2016-01-15 00:13] rallytime commented on #30277
In my first PR, my brain translated "pyVmomi" to "VMware Cloud Driver" and changed the formatted logging strings to unicode as @s0undt3ch described above. Right after I submitted it, I realized that the change you made locally that is working, and the where the stacktrace was pointing, was supposed to be made in `cloud/__init__.py`. The second PR in the list fixes the init file.

[2016-01-15 01:01] whiteinge commented on #23794
Thanks for the sleuthing. That code has been in a good while without the duplicate links so I'm not sure what changed to cause it. One possible tack could be to wrap that in a conditional that checks if it's on the index page or not. I'm afraid I can't devote time to it now, so I'll defer to @jacobhammons.

[2016-01-15 01:34] eywalker commented on #18630
I'm also experiencing the same problem with `cifs` on 2015.8.3

Using state:

[code]

Running this the second time yields:

[code]
but none of the options have changed in `fstab`.

[2016-01-15 02:40] gtmanfred opened #30377 "pkg.latest is broken with yumpkg in develop"
[code]

Looks like the package list used to return a dictionary with each one of the packages, and no version number, and now if everything is updated, it returns an empty list, which would be fine, but the avail list is used in pkg.latest.

https://github.com/saltstack/salt/blob/develop/salt/states/pkg.py#L1473

Looks like it is coming from the changes @terminalmage did back in december.

https:/

[2016-01-15 02:41] gtmanfred commented on #30377
This is the state that I am using https://github.com/gtmanfred/openstack-salt-states/blob/master/keystone/packages.sls

[code]

[2016-01-15 02:42] gtmanfred commented on #30377
[code]

[2016-01-15 06:29] hxnan commented on #30317
Sorry for late.
Is this config?  @jfindlay @jizhilong
/etc/salt/master.d/api.conf

rest_cherrypy:
    host:10.63.74.53
    port:8000
    disable_ssl:true

external_auth:
    pam:
        webadmin
        - .*
        - '@wheel'
        - '@runner'

[2016-01-15 07:36] jizhilong commented on #30317
@hxnan, your config for `rest_cherrypy` is malformed. according to http://docs.ansible.com/ansible/YAMLSyntax.html:

so you should adjust  your settings as below：

[code]

[2016-01-15 07:59] jizhilong commented on #30313
Since `_thread_return` and `_thread_multi_return` are wrapped in `_target`, which serves as the target function of `threading/multiprocessing`, the recreation of `minion_instance` should be done in `_target` too. I will try to make a patch and fix it.

[2016-01-15 08:03] andrejohansson commented on #25664
FYI: Seems to be the same with the postgresql returner.

[2016-01-15 08:36] paul-mulvihill commented on #6437
+1 for this

[2016-01-15 08:39] JensRantil commented on #30330
:+1: for quick fix. Thanks!

[2016-01-15 09:38] mpreziuso commented on #30230
Hi @jfindlay, as this has been merged, I'm gonna close this!
Thanks!

[2016-01-15 09:38] #30230 closed

[2016-01-15 10:06] cybacolt commented on #26963
+1

could also be useful to have some info on *how* to become a contributor.

[2016-01-15 10:08] multani commented on #25125
@patrickpierson That weird, because we I try to parse the content of your ``subprocess.check_output()`` result with the function that is raising the exception as you posted before, it parses everything alright. I assume that running the ``rabbitmq.list_users`` Salt command on the related minion also gives you the same traceback?

[2016-01-15 10:09] dr4Ke commented on #18630
Hmm. For @eywalker: I think you should use either a list, or a comma separated string for `opts`, not both. It seems that the 4th line is interpreted by salt as a single option named `exec,noperm`.

[2016-01-15 12:09] sebastian-cb commented on #30214
@garethgreenaway so I tested recommended solution and this doesn't work as expected:

**State:**
[code]
**Pillar:**
[code]
Although `splay` was added command was executed at the same time:
[code]
[code]

[2016-01-15 12:43] BalintSzigeti opened #30386 "OEL - State 'service.running' was not found in SLS"
hello

this happens only on OEL 6.x

[code]

the sls file:

[code]

[2016-01-15 13:37] Reiner030 commented on #29044
ok @rallytime but perhaps you can add it as recommend package with version identifier in the package "header" and comment so other people didn't run in same problem ?

[2016-01-15 13:55] Reiner030 commented on #29078
Hello @quantonganh , there is no missing region in my profile.

Here also an example from an instance with IAM profile associated - even here the instance can find itself only when specifying the region:
[code]
(i have no debugging outpout posted because there is not shown that it's getting the iam profile data)

[2016-01-15 14:00] etki commented on #28044
having same thing here

[2016-01-15 14:16] BalintSzigeti opened #30387 "OEL - statick routes"
hello

the network module on OEL can't set the static routes properly.
this is my network settings:
[code]
and when I run it I got the 10.3.0.0 network into the route-eth0 file. Plus the network was restarted therefore the salt lost the connection with the minion because the master is in the 172 network.

I got this when I run the network command:
[code]

[2016-01-15 14:39] sjorge commented on #30386
Looks related to #30387

[2016-01-15 15:00] eywalker commented on #18630
@dr4Ke: Separating `exec,noperm` into distinct entries doesn't solve the problem, with the message now saying `Forced remount because options (exec) changed`.

If I remove `exec`, then now I get message `Forced remount because options (credentials=/path/to/credentials) changed`.

Among the ones I checked, following options causes forced remount despite no change in values: `exec`, `credentials`, `

[2016-01-15 16:20] jtand commented on #30367
@paulfanelli That looks like it should be propagating the failure all the way back up, so yes. I would consider this a bug. Thanks for pointing this out and filing with the detail you did.

[2016-01-15 16:22] rallytime commented on #29078
@Reiner030 Can you please post both the state you're using as well as your profile? (Please remove any sensitive information.)

[2016-01-15 16:57] jfindlay commented on #30377
@gtmanfred, thanks for reporting.

[2016-01-15 17:29] damon-atkins commented on #18510
+1 exit code standard is required.     Running state.* vs file.file_exists (or test.ping etc).   And also target should also have an impact e.g. '*'  vs real hostname or set of hostnames.  e.g.   salt '*' state.highstate (soft error) vs salt 'hostname' state.highstate (hard error)
There is sort of a standard.. http://tldp.org/LDP/abs/html/exitcodes.html
If something does not go to plan it should i

[2016-01-15 17:34] jfindlay commented on #30386
@BalintSzigeti, thanks for the report.  What version of salt are you using?

[2016-01-15 17:39] BalintSzigeti commented on #30386
2015.8.1

On 15/01/16 17:35, Justin Findlay wrote:

[2016-01-15 18:00] jfindlay commented on #30387
@BalintSzigeti, thanks for the report.  As @sjorge indicates, the core problem is the same as #30386, which is that the service execution module is not loading, so I am going to close this as a duplicate of that.

[2016-01-15 18:00] #30387 closed

[2016-01-15 18:02] terminalmage commented on #30377
Fixed in https://github.com/saltstack/salt/pull/30393

[2016-01-15 18:04] jfindlay commented on #30362
@kevinquinnyo, thanks for the report.

[2016-01-15 18:26] yannis666 opened #30394 "RedHat 5 repo does not contain v2015.5.9"
2015.5.9 is in
http://repo.saltstack.com/staging/yum/redhat/6/x86_64/2015.5/
but not in
http://repo.saltstack.com/staging/yum/redhat/5/x86_64/2015.5/

[2016-01-15 18:45] #30341 closed

[2016-01-15 18:57] deuscapturus commented on #28257
@heini I was able to fix this by using gitpython.  You configuration should look like this:

[code]

[2016-01-15 19:00] racooper commented on #29132
Checking for updates to this issue. Repo is still trying to overwrite system and epel packages, so I still can't get 2015.8.x for CentOS.

[2016-01-15 19:12] basepi commented on #6202
I still would really like to see this implemented, so I've re-opened it.

[2016-01-15 19:13] basepi commented on #7105
I still want to revisit this so I've reopened the issue.

[2016-01-15 19:17] basepi commented on #29643
@matthayes That's a weird one. Do any of the states it does run fail? It's possible for things to fail even in test mode.

[2016-01-15 19:17] basepi commented on #29643
(But to answer your question, probably a separate issue.)

[2016-01-15 19:18] matthayes commented on #29643
Nope, no failures for the states that ran.

[2016-01-15 20:05] m03 commented on #9876
@famousgarkin, To avoid restarting the minion, you could use the environ.setenv state with update_minion set to True in order to propagate the change to the current running minion. As an example for adding Git to the Windows System Path:

[code]

[2016-01-15 20:09] twangboy opened #30398 "Create mac_timezone module"
### systemsetup
[-getdate] [-setdate mm:dd:yy] [-gettime] [-settime hh:mm:ss] [-gettimezone]
[-listtimezones] [-settimezone timezone] [-getusingnetworktime]
[-setusingnetworktime on | off] [-getnetworktimeserver]
[-setnetworktimeserver timeserver]

[2016-01-15 20:14] terminalmage commented on #30199
@adithep As I thought, docker-py returns immediately after issuing a call to the [docker.Client.start()](http://docker-py.readthedocs.org/en/stable/api/#start) function. Additionally, this function returns ``None`` so there is no actual API response for us to interpret.

This doesn't look to be supported by docker-py, and may not even be supported at all in the Docker Remote API.

[2016-01-15 20:15] twangboy opened #30399 "Create mac_power module"
### systemsetup
[-getsleep] [-setsleep minutes] [-getcomputersleep] [-setcomputersleep minutes]
[-getdisplaysleep] [-setdisplaysleep minutes] [-getharddisksleep]
[-setharddisksleep minutes] [-getwakeonmodem] [-setwakeonmodem on | off]
[-getwakeonnetworkaccess] [-setwakeonnetworkaccess on | off]
[-getrestartpowerfailure]
[-setrestartpowerfailure on | off] [-getrestartfreeze] [-setrestartfreeze on |

[2016-01-15 20:19] twangboy opened #30400 "Add to mac_system module"
### systemsetup
[-getremotelogin] [-setremotelogin on | off] [-getremoteappleevents]
[-setremoteappleevents on | off] [-getcomputername]
[-setcomputername computername]
[-getstartupdisk] [-liststartupdisks] [-setstartupdisk path]
[-getwaitforstartupafterpowerfailure] [-setwaitforstartupafterpowerfailure value]
[-getdisablekeyboardwhenenclosurelockisengaged]
[-setdisablekeyboardwhenenclosurelockise

[2016-01-15 20:37] twangboy opened #30401 "Build SSE 4.0.6 for Windows"
- [x] 32 bit
- [x] 64 bit

[2016-01-15 20:45] anonymousobject opened #30402 "git_pillar mapping problem with multiple branches on single repo"
I've got a single Git repo that has two branches for pillar data, one for master and one named staging. I've attempted to configure the Salt master to use master for base env and staging for staging env but staging env minions always get base pillar data. On version 2015.8.3

[code]

However when I try to start the master with this config, I get:

[code]

So I update config to:

[code]

Log then s

[2016-01-15 20:50] dmurphy18 commented on #29132
@racooper work is on-going to develop python-tornado-salt and python-crypto-salt packages and have the code fall back to use these if the RH versions are not sufficient.  Unsure as to when this will become available, it may not make it to the next point release (which is immanent), but the one after.  Evidence of this work can be found in salt-pack where pkgbuild.sls contains the above named packa

[2016-01-15 21:08] #28886 closed

[2016-01-15 21:54] jfindlay opened #30404 "better error message when EC2 size is not available for the AMI"
### config

[code]
### command

[code]
### log

[code]

The error message `The requested instance type's architecture (x86_64) does not match the architecture in the manifest for ami-4c6ad824 (i386)` is obscure, but @rallytime helped me figure out that it was due to a size/AMI mismatch.
### versions

[code]

[2016-01-15 22:13] #30377 closed

[2016-01-15 23:30] jfindlay commented on #30394
@yannis666, RHEL 5 packaging was completed today.  You should find it there now.

[2016-01-16 00:07] deuscapturus opened #30407 "git pillars not found with multiple repos - pygit2"
With the configuration below all of my pillar repos are successfully cached in /var/cache/salt/, but **_only the last repo in the list actually renders with minions**_.

[code]

I fixed this by doing this:

[code]

weird.

[2016-01-16 00:33] coen-hyde commented on #27020
I hate to just add another +1, but this would be good.

[2016-01-16 07:15] dmyerscough commented on #29472
Yeah, looks good.

[2016-01-16 07:15] #29472 closed

[2016-01-16 10:55] aboe76 commented on #29194
@daswathn sles 11 sp2 isn't supported anymore by suse,
see http://lists.opensuse.org/opensuse-security-announce/2014-01/msg00004.html

only repo suse 11 sp4 is supported at the moment, I can't help with that.

[2016-01-16 11:22] aboe76 commented on #29714
is this stil an issue?

[2016-01-16 14:41] davisj commented on #27022
Another data point to add to this. It appears that this bug only surfaces when the mako renderer is in the pipeline. I was able to reliably reproduce the error just by adding "#!mako|yaml" to one of the pillar .sls files, or by setting "renderer: yaml_mako" in minion config, regardless of whether there is actual mako syntax in the pillar.

I tested the "#!py" renderer as well and it worked fine, s

[2016-01-16 14:48] akissa commented on #27022
I fixed this in https://github.com/saltstack/salt/pull/29944

[2016-01-16 15:27] heini commented on #28257
@deuscapturus: Looks like the "-name" tag makes the difference. Thanks a lot.

This doesn't seem to be documented in the "Pillar Configuration" section (at least I didn't spot it there).

[2016-01-16 17:17] heini commented on #30402
It's a pity that this is still not working properly. I have a simple test setup with two repos, one for the top.sls files only, the other one for states and pillar data. both repos have their files in located in root directories states and pillar. The (pillar|states)/top.sls files in the first repo look like:
[code]
in the other repo, on branch master, states/test/init.sls looks like:
[code]
and p

[2016-01-16 19:58] TheBigBear commented on #29184
Now that the code is in it's own repo. This can be closed. Thanks.

[2016-01-16 19:58] #29184 closed

[2016-01-16 21:25] kingsquirrel152 opened #30411 "zeromq transport connection cache seems to be broken?"
While running minion in debug log level I've noticed the connection cache never seems to fire for live commands or beacons. I see it Re-Use auth during minion startup, but once its up, all live commands from the master, and outbound events from beacons kick off new connections and SAuth.

Log from minion of two sys.list_modules commands run from master:

[code]

Relevant line that never seems to f

[2016-01-16 21:51] dragon788 commented on #30145
@rallytime Would be great if the PPA could get updated. We are only allowed to access the central Ubuntu repositories or ppa.launchpad.net, we can't get to anything else through our corporate proxies.

[2016-01-16 23:20] markuskramerIgitt commented on #25499
I now see a huge influence of “refresh“ in “sync_grains”.
I have reproduced the steps below on a single minion many times with always the same result.
I retried within seconds or minutes, the result is always the same.

**Summary:**
The workaround only works when ```refresh:True``` but with the (false) statement ```No minions matched```.

Master is 2015.5.3 Debian 7, minion is 2015.5.3 Windows 7

[2016-01-17 00:45] gitlerhub opened #30412 "pkg.latest seems to be broken"
Versions: openSuse 13.2 with salt-2015.8.3-223.7.x86_64

I have this sls:

[code]

When running

[code]

I get this error:

[code]

I tested a little bit with:

[code]

and got:

[code]

Maybe there others, but one problem is the handling of the status:

[code]

I found the problem  in the zypper.py code

[code]

I changed it to

[code]

With these changes, running again:

[code]

shows the expect

[2016-01-17 02:50] cachedout commented on #30411
I have noticed similar behavior and it's on my list to debug. In theory, the connection should be re-used if it's in the cache.

@jacksontj This is in your wheelhouse, of course.

[2016-01-17 03:56] kingsquirrel152 commented on #30411
Cool. Nice to know I'm not crazy. I think it does in face get reused, I see
that behavior earlier in the minion. I put a log.debug on the ioloop being
sent into the factory and it looks like we get a new one one on every
beacon and master call. (Late night theory being side effect of being
called from a co-routine or Async scheduler? Haven't traced the
architecture vertically far enough to see wha

[2016-01-17 07:11] IAIS4EP commented on #29714
for me, all works now - thx. :-)

[2016-01-17 09:26] kaithar commented on #30220
Sorry, I've not had time but it looks like @kiorky got it :+1:

[2016-01-17 09:36] #30220 closed

[2016-01-17 11:15] bechtoldt opened #30413 "make salt-ssh error when ssh is missing more human-readable"
something like "we couldn't find a ssh binary" is better than

[code]

[2016-01-17 14:29] bechtoldt commented on #28333
looks like #7876

[2016-01-17 14:31] bechtoldt commented on #28300
also looks like #7876

[2016-01-17 14:47] bechtoldt commented on #30325
+1

[2016-01-17 17:01] DanyC97 commented on #19263
any progress on adding GIT support to file_tree?

[2016-01-17 19:14] bechtoldt commented on #19263
@DanyC97 you see there isn't.

[2016-01-17 20:58] sjorge opened #30414 "salt.modules.system should play nice on solaris"
the ```shutdown``` command on Solaris is different than on linux.
e.g.
[code]

Optionally ```-f``` can be passed to do a 'fastboot' but it depends on the hardware if it works.

Ideally the existing one should not be loaded on os_family = Solaris. And a solaris_system should take it's place.

More info here: http://illumos.org/man/1m/shutdown

[2016-01-17 21:16] sjorge opened #30415 "salt.modules.cp has no option to delete a file that was pushed."
title says it all

[2016-01-17 22:24] ZacharyDuBois commented on #30145
@rallytime Got around to changing repos over. Works now `salt 2015.8.3 (Beryllium)` :)

[2016-01-18 01:18] dragon788 commented on #26493
@syedaali According to rallytime on another issue the PPA lags behind their own repository. https://github.com/saltstack/salt/issues/30145#issuecomment-170360607

[2016-01-18 01:52] dragon788 commented on #27687
@buddyp450 According to rallytime on another issue the PPA lags behind their own repository. https://github.com/saltstack/salt/issues/30145#issuecomment-170360607

[2016-01-18 03:28] hxnan commented on #30317
@jizhilong Thanks a lot :+1:
Actually I do not like Yaml , I write a wrong config, why not remind me the Syntax Error.
I prefer the JSON...

[2016-01-18 04:50] cybacolt commented on #21403
would love for this to be native to pillars!

i've got a situation where i have one pillar that is using 3 ```saltutil.runner('mine.get'....)```, which is bringing that particular minion to its knees (saltReqTimeoutError until i remove that pillar)

i'm assuming its the runner that slows it down so much, as otherwise mine.data should be cached?

dynamic pillars would be a massive boon to saltstack

[2016-01-18 09:14] seshenli opened #30416 "open many files"
hi all:
 I encountered an error： when salt-master running for some time, my machine got an error too many open files,then  i need reboot this machine
centos 6.5
open files   196605
max user processes  256389

[2016-01-18 09:37] HenriWahl opened #30417 "Including fish shell completion into RPM"
Hi there,
is it possible to include the fish completion for SaltStack as in https://github.com/saltstack/salt/tree/develop/pkg/fish-completions into the SaltStack RPM files or provide them as extra RPM to get them easily?
Thanks and regards

[2016-01-18 11:08] mmisztal1980 opened #30419 "Obtain jid when salt-call event.send is raised and query for completion?"
Hi again,

In my scenario, I'm executing a ```salt-call event.send``` to raise a minion-side event. While running the salt-master in debug mode, I've noticed that internally, the salt-master registers an object with a ```jid``` (job id?).

I'd like to obtain the said ```jid``` at ```salt-call``` time and the query the salt-master from the minion for completion, passing that ```jid```

Is this scen

[2016-01-18 12:14] pille commented on #1616
i really like to see this feature (for haproxy), too.

[2016-01-18 12:17] mmisztal1980 opened #30421 "Persist / retrieve contents of event.send in a scalable environment?"
Hi again,

I have the following scenario:

- I'm supposed to manage a scalable pool of minions
- Each minion is going to have a shared grain and the whole pool is going to be targeted using that grain
- The reactor system is going to be used to handle certain events :
    - The said events will be treated as a change of the environment's state
    - The said events will deploy new configuration fi

[2016-01-18 12:20] #30028 closed

[2016-01-18 14:02] npithon opened #30422 "Error DDNS"
Hello,
I tried to use SALT.STATES.DDNS but It does not work.
My ddns.sls:

[code]

My tsig_key.txt:

[code]

When i update the state i have an error:

---

[code]

---

[code]

[2016-01-18 14:21] MadsRC commented on #30415
Can't speak for SaltStack, but the module is called cp? Deleting a file after you're done pushing it would be more akin to moving the file.

Anyway, I'll look up the source and see if it's not an easy fix.

[2016-01-18 14:35] MadsRC commented on #30415
Doesn't look like it's too much trouble to implement. I'll have a go at it tonight when I'm home from work.

[2016-01-18 14:42] daveneeley commented on #25757
@sjorge I don't see a PR for this fix, just for the prerequisite. Did you implement this some other way?

[2016-01-18 14:51] sjorge commented on #30415
Yeah the module is called cp. Which is the one to put and pull (so the name makes sense) files from the minion file store on the master. I guess it makes sense to add a delete in the same module but then the name doesn't make much sense.

[2016-01-18 14:52] sjorge commented on #25757
It got fixed, as the esky builds work fine now. But I can't locate the other PR either.

[2016-01-18 15:09] daveneeley commented on #25757
I see the change in develop, that's good enough for me. I need to roll something similar for aix.

[2016-01-18 15:40] enblde commented on #12653
+1 My use case is: schedule state.highstate test=True on all minions once every hour and set up a reactor listening on job finish events and passing the event data to a custom email runner which will notify me about all pending highstate changes. Without the scheduler job events this pipeline doesn't work.

[2016-01-18 16:39] michaelkarrer81 commented on #8684
Could you please reopen the bug! I do have the exact same problem on GitPython 1.0.1 on ubuntu 14.04 with saltstack 2015.8.3

[2016-01-18 17:14] yamamushi commented on #30167
I believe this error is related to a bug with the version of winexe being used and the Windows image that is used.

I was having this same issue, but then I realized that both @amitshipra and I were using R2 windows images from AWS. I changed my image to a non-R2 image type, and I was able to deploy new Windows instances within EC2 without further issues.

The bug with winexe is documented here ->

[2016-01-18 17:15] bradthurber commented on #30407
If you are using 2015.8.3, you may want to try going back to 2015.8.1 as a troubleshooting step.

ref #29601

It may not be the same issue, but apparently the default pillar merge logic changed if I'm reading it right.

[2016-01-18 17:24] breakwang opened #30425 "Multi-Master ZMQError on windows"
hi, As described on [https://github.com/saltstack/salt/issues/29396](https://github.com/saltstack/salt/issues/29396), we are also facing the same issue, we hava many windows servers on production environment, so we imperative to know when and which release will fixed this bug, and   In addition to waiting for the next version,
Do you have any better suggestions？thx

[2016-01-18 18:35] Lothiraldan commented on #26505
Do we have an idea when CORS support could lands in a saltstack release, it's currently available only on develop branch and has not been yet merge in 2015.8 branch, did I need to create PR for CORS support for the 2015.8 branch?

[2016-01-18 18:40] MadsRC commented on #30415
I had a quick run at it. Think I got it working (Haven't actually tested it, as the misses decided that we should go shopping for groceries just before I was about to test) in this commit: https://github.com/MadsRC/salt/commit/7ab0b08f911c5b688a9dd778170a849eb49bc13f

If it works, I'll implement the same for push_dir() and test again. Finally if it all works I'll submit a pull request.

[2016-01-18 19:07] sjorge commented on #30415
I was actually talking about having it remove from the master side.

e.g. minion1 pushes /data/somedata.bin
minion2-fetches /minion1/data/somedata.bin
minion1 removes /minion1/data/somedata.bin at some later time

leaving the local copy intact, deleting the local copy can already be done using salt.modules.file.remove (https://docs.saltstack.com/en/develop/ref/modules/all/salt.modules.file.html#sa

[2016-01-18 19:23] lopter opened #30427 "file.accumulator doesn't appear to work with a salt-ssh minion"
Hello,

(This is a follow-up to: https://groups.google.com/d/msg/salt-users/9Kr4sMt3iIA/PqjUsVAqAgAJ)

How can accumulator variable be not defined, while we can clearly see `file.accumulated` being successfully executed beforehand?

[code]

AFAIK, I’m strictly following the documentation [1], here are the relevant parts of my state files:

…/foo/init.sls:

[code]

…/bar/init.sls:

[code]

The rele

[2016-01-18 20:37] MadsRC commented on #30415
You mean having the minion delete data, on the master, that it pushed, on an earlier run, to the master ? I'd do that in a runner of some sort. Although my knowledge of Salt's internals are still limited, it would be counter intuitive to have a module delete data from the master, as modules (by nature) executes on the minion and runners on the master.

Wether or not it's possible for a minion to k

[2016-01-18 21:10] qfwwfq opened #30429 "windows packege fails to install. Error: retcode 1203"
I get this error trying to instal several different packages on Windows. For example, this happens installing Oracle Java JRE8_x86 on Win 7 32 bits:
[code]
Here is the (relevant part) of the minion log
[code]

Here is the sls I am working with
[code]
I think this may be useful:
[code]

Than you very much in advance for your help.

[2016-01-18 21:56] michaelkarrer81 commented on #23419
@engtools still have the exact same problem:
UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 77: ordinal not in range(128)

Whatever i try i can not work with private github repos.

[2016-01-18 23:01] nbow opened #30431 "cp.get_url with large files results in an Uncaught Exception"
When doing a cp.get_url with large files (5GB) I encounter a stacktrace:
[code]
I can see that the bug was fixed for 2015.8.0 ( https://github.com/saltstack/salt/issues/24048 ). However, I can also see that in this issue ( https://github.com/saltstack/salt/pull/27394 ) the code was reverted, with no mention of the initial bug. There should be a way to transfer large files to a minion using salt.

[2016-01-18 23:31] dnd opened #30432 "Cloning linode server with salt-cloud requires payment term"
I'm using 2015.8.3, and when trying to clone a node, I get the error:

[code]

When I output the contents of the `result` dict from Linode, it contains the following:

[code]

I've never specified a payment term in my provider or profile configs when creating a machine, so I'm not sure what's going on here.

[2016-01-19 02:56] cybacolt commented on #21403
i've gotten my timeout issues by detaching the salt.run into a cronjob on salt master:
[code]

then using 'import_yaml' in my pillars to retrieve the cache as required:
[code]
the sls rendering doesnt change, just the method of input, and the minion in question is now working fine.

[2016-01-19 07:26] DanyC97 commented on #19263
@bechtoldt what i meant was if there was any code submitted to back up this issue. sorry for poor wording...

[2016-01-19 07:58] arthurlogilab commented on #12653
@enblde that's a great scenario and I think a lot of people can benefit from such a workflow. We're using the master returner above which seems to work quite well for 2015.8 but not so well for 2015.5 (so wheezy machines still there...). Haven't found the time to debug yet.

[2016-01-19 08:17] optix2000 commented on #29670
+1 on this issue. Using reactor files located on gitfs. I can confirm the files ARE cached properly in `/var/cache/salt/master/files/`

Restarting the salt master doesn't seem to resolve the issue, since the reactor doesn't trigger, and the error gets thrown every restart.

[code]

[2016-01-19 08:37] arthurlogilab commented on #13558
Got hit by this one too. In a different way though: my schedule tasks stop working (not sure if they stop running or if the returners aren't being run), the minion still responds to queries though.

Will add the restart minion in logrotate even-though it's a hack from my point of view.

Why is this issue closed ? Is it continued somewhere else ?

[2016-01-19 09:22] cybacolt commented on #11509
regarding https://github.com/saltstack/salt/issues/11509#issuecomment-138980156:

incase anyone is having the same problem - if you have minions that require a significant amount of mine data, this method will timeout (saltReqTimeoutError) when the minion runs state.highstate.

until mine data becomes available in pillar, a hack is to cache the mine data on cron on the salt master. this is detaile

[2016-01-19 09:25] BalintSzigeti opened #30434 "highstate doesn't work with multiple environment"
my top.sls contains 'base' and 'live'. The base section is the first one. When I run the 'salt-call state.highstate' only 'base' section will be set. The 'salt-call  state.highstate saltenv=live' returns with:

[code]

I use salt-2015.8.3-1.el6.noarch

my top.sls looks:

[code]

[2016-01-19 12:54] tminn commented on #28017
# No dice ...

--snip--
pycrypto==2.6.1
python-keystoneclient==0.11.0
python-novaclient==2.20.0
pytz==2015.7
pyzmq==15.2.0
requests==2.9.1
-e git+https://github.com/saltstack/salt@dc95b28f9b9da0256a5b933450fc351fde48ad8e#egg=salt-origin/HEAD
simplejson==3.8.1
singledispatch==3.4.0.3
six==1.10.0
stevedore==1.10.0
tornado==4.3
wrapt==1.10.6
wsgiref==0.1.2
--snip--

--snip--
(salt)[salt@smaster ~]$ s

[2016-01-19 12:56] tminn commented on #28017
Apologise for the bold characters ..

[2016-01-19 13:12] githubcdr opened #30435 "feature request file.line_absent module"
Hi,

It would be nice to have a module to remove a (duplicate) line from a file. I know there is file.replace and file.sed, but using them to remove a line feels complicated, when having duplicate lines it becomes even more complex.

For example, to remove NETWORK=5.6.7.8 from /etc/sysconfig/network-scripts/ifcfg-eth0;

[code]
Or to remove all comments in this file.
[code]

What do you think?

[2016-01-19 13:35] tminn commented on #29666
Hi.

I switched to git branch and the status quo remains.
--snip--
(salt)[salt@smaster ~]$ salt-cloud --version
salt-cloud 2015.8.3-5104-gdc95b28 (Beryllium)
--snip--

--snip--
 salt-cloud -p centos7_small    t1  -l debug
[DEBUG   ] Configuration file path: /etc/salt/cloud
[WARNING ] Insecure logging configuration detected! Sensitive data may be logged.
[INFO    ] salt-cloud starting
[DEBUG   ] Co

[2016-01-19 13:47] zerthimon opened #30437 "git.latest exception when requested branch doesn't exist"
2015.8.3 (Beryllium)

[code]
When 'master' branch is not available in git repo:
[code]

----------
          ID: mycompany_dev_myproject_repo
    Function: git.latest
        Name: git@mycompany_dev_myproject:mycompany_dev/myproject.git
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/usr/lib/python2.7/dist-packages/sa

[2016-01-19 13:50] lorengordon commented on #30435
Have you seen the `file.line` function? If you use it with `mode=delete`, it should do what you're asking...

https://github.com/saltstack/salt/blob/develop/salt/modules/file.py#L1394

[2016-01-19 14:46] githubcdr commented on #30435
Wow, can't believe I missed that, thanks for pointing this out :)

[2016-01-19 15:40] amitshipra commented on #30167
Thanks for replying.

I tried with non R2 windows version: (Microsoft Windows Server 2012 Base - ami-b0005dda)

and still the same result:

[code]

[2016-01-19 15:42] #30435 closed

[2016-01-19 15:45] ustolt opened #30438 "smtp_return: an empty optional config value "smtp.renderer" leads to a blank e-mail"
If the SMTP Returner is used without the optional parameter "smtp.renderer", you will get
the following error message by running arbitrary commands on a Minion, for example:

[code]

[code]

The e-mail subject and the e-mail body are empty.

The cause is the function  _options_browser in

_/usr/lib/python2.7/dist-packages/salt/returners/**init**.py_

This generator iterates over the desired attrib

[2016-01-19 15:47] amitshipra commented on #30167
@yamamushi Could you tell me the imageid (AMI) that your test worked. I will try at my end.

[2016-01-19 16:13] twellspring commented on #29492
Looks like this has been documented in #29384

[2016-01-19 16:17] ssgward commented on #30416
@seshenli - what version of salt are you using on your master and minions? ``salt --versions-report`` will get us the needed info.

Were you running any salt commands prior to this happening?

[2016-01-19 16:18] ssgward commented on #30407
@deuscapturus - thanks for send this in.

[2016-01-19 16:22] ssgward commented on #30412
@gitlerhub - thanks. Feel free to submit a pull request to get this fix in.

[2016-01-19 16:25] ssgward commented on #30414
@sjorge - thanks.

Are you suggesting that documentation needs to be updated or the code needs to be changed to allow for different Shutdown command on Solaris?

[2016-01-19 16:31] sjorge commented on #30414
I'll probably write a Solaris variant when I have more time.

~ sjorge

[2016-01-19 16:31] jfindlay commented on #30417
@HenriWahl, thanks for reporting.  I have moved this issue to the salt-pack repo.

[2016-01-19 16:32] #30417 closed

[2016-01-19 16:33] rallytime commented on #28017
@gtmanfred Is this something that just needs to be documented (the newer version of nova client) or can we fix this in a way that is doable for older versions as well?

[2016-01-19 16:40] #27820 closed

[2016-01-19 16:44] arthurlogilab commented on #29179
@meggiebot yep, sorry can't test HEAD in production, and this is hard (takes time) to reproduce in a sandbox... this is a non blocking issue for us, if you want to close this until we can test it in production, feel free.

[2016-01-19 16:52] jfindlay commented on #30419
@mmisztal1980, thanks for asking.  How are you executing the salt-call command?

[2016-01-19 16:59] basepi commented on #30413
An OSError could probably be thrown for a few other reasons, but we could probably catch it and add something like "probably a missing ssh binary" or something. Though since the command is called `salt-ssh` I'm wondering if we should do anything at all. I think it's pretty obvious that ssh is required, and I hate to mask other potential errors for the small subset that try to run it without ssh in

[2016-01-19 17:01] twangboy opened #30440 "mac service module"
Create a module for dealing with services on mac os
launchctl

- [ ] Merge `launchctl.py` and `mac_service.py`
- [ ] Delete `launchctl.py`

[2016-01-19 17:04] jfindlay commented on #30421
@mmisztal1980, thanks for the question.  Without more knowledge of your requirements and setup, I would say that you should be able to achieve this with a simple highstate that is applied as each minion joins the pool.  Config files can be served through [`file_roots`](https://docs.saltstack.com/en/latest/ref/configuration/master.html#file-roots), but you'll need to describe how and where they are

[2016-01-19 17:07] ssplatt opened #30442 "salt-cloud linode query only lists private or public IP, not both"
running `salt-cloud -Q` or `salt-cloud -F` does not display both public and private IPs of Linodes.  If it encounters a private IP, it only displays the private IP. Every Linode gets a public IP so public IP should always be displayed.

`salt-cloud -a show_instance <name>` shows both.

[2016-01-19 17:10] jfindlay commented on #30422
@npithon, thanks for the report.  This looks like a problem in the ddns execution module.

[2016-01-19 17:13] jfindlay commented on #30425
@breakwang, 2015.8.4 will be released within the next several days.  If you have the same problem after upgrading to 2015.8.4, please be sure to report on #29396, thanks.

[2016-01-19 17:13] dnd opened #30444 "Cloning linode server with salt-cloud fails trying to create disk config"
Running salt 2015.8.3. I think when a machine is cloned with Linode, the config is automatically configured based off of the existing machine. So when salt attempts to create a new disk config, it gets the following response:

[code]

and throws the following exception:

[code]

It might be necessary to list the configs when cloning instead of trying to create a new config. I don't think deleting

[2016-01-19 17:16] jfindlay commented on #30427
@lopter, thanks for the report.

[2016-01-19 17:17] rallytime commented on #30432
@dnd Can you post your cloud provider and profile here, with any sensitive data stripped out?

[2016-01-19 17:19] jfindlay commented on #30429
@qfwwfq, thanks for the report.  Do you get the same `retcode: 1203` when you run the install manually?  @TheBigBear, do you have any suggestions?

[2016-01-19 17:21] jfindlay commented on #30431
@nbow, thanks for the report.  This issue should have been fixed although the final change(s) may not have been clearly linked to the issue you mention.  Upgrading to 2015.8.3 should fix this problem.

[2016-01-19 17:21] dnd commented on #30432
[code]

[2016-01-19 17:21] rallytime commented on #30352
@DanyC97 and @techhat please see PR https://github.com/saltstack/salt/pull/30433, as it is related.

[2016-01-19 17:27] basepi commented on #25499
That's good information. It's possible there's something weird going on with your setup, I am very surprised that you're getting the `No minions matched` statement but the minion still seems to be getting the job. But I also didn't realize you were on a windows minion, which may also be part of the problem. (All windows, or just some?)

[2016-01-19 17:28] basepi commented on #8684
@michaelkarrer81 It sounds like this is an upstream bug for older versions of gitpython. Can you upgrade your gitpython?

[2016-01-19 17:30] Lothiraldan commented on #26505
@whiteinge I tested right now the unofficial CORS support of rest_cherrypy and it doesn't works at least with authentication by header, I will try the cookie authentication but it's not very standard for API to use cookies.

[2016-01-19 17:30] basepi commented on #30415
If I'm not mistaken, cp.push stores files in a folder specific to that minion on the master, so I don't think there are security implications, as long as we test to make sure `../` in the path doesn't escape that sandbox. I haven't looked at the actual code for cp.push recently, but perhaps we can just put a `delete: True` argument or something, and send that as part of the request to the master,

[2016-01-19 17:31] jfindlay commented on #30434
@BalintSzigeti, thanks for the report.  I am wondering if your problem/an additional problem is the `Template was specified incorrectly: False` log statement.  Is it possible for you to provide the debug log output?  what happens if you remove the `- network.{{ grains['fqdn'] }}` line in your top file?

[2016-01-19 17:31] TheBigBear commented on #30429
@jfindlay error 1203 is a strange one in this case.

I agree, I would check on the cmd line maually using the exact same parameters and see what it returns.

@qfwwfq your version number  ```8.0.400:``` needs quoting ```'8.0.400':``` in the 'sls' file, else winrepo will never detect the correct version actually being installed.

All of the version numbers need quoting all of the time, but in your c

[2016-01-19 17:32] basepi commented on #30415
Oh, and I'm not sure a minion can check whether a file has already been pushed or not. Again, I haven't been in that code for awhile. I'm guessing it cannot.

[2016-01-19 17:34] basepi commented on #13558
It was purely a "we can't reproduce, might be an upstream python bug" close. If you're seeing it, I can re-open and we can continue to investigate. Have you been able to reproduce this with any sort of consistency @arthurlogilab ?

[2016-01-19 17:34] jfindlay commented on #30437
@zerthimon, thanks for the report.  I am going to close this as a duplicate of #29870.

[2016-01-19 17:34] #30437 closed

[2016-01-19 17:35] rallytime commented on #30442
Hi @ssplatt - Can you post the output of `salt-cloud --versions-report` here? We should definitely get this cleaned up.

[2016-01-19 17:36] basepi commented on #29492
Thanks for pointing that out @twellspring. I'm going to close this.

[2016-01-19 17:36] #29492 closed

[2016-01-19 17:39] ssplatt commented on #30442
# salt-cloud --versions-report
Salt Version:
            Salt: 2015.8.3

Dependency Versions:
 Apache Libcloud: 0.17.0
          Jinja2: 2.7.3
        M2Crypto: Not Installed
            Mako: 1.0.0
          PyYAML: 3.11
           PyZMQ: 14.4.0
          Python: 2.7.9 (default, Mar  1 2015, 12:57:24)
            RAET: Not Installed
         Tornado: 4.2.1
             ZMQ: 4.0.5
            cffi

[2016-01-19 17:39] rallytime commented on #30444
@dnd Good catch. We'll get this cleaned up.

[2016-01-19 17:40] whytewolf commented on #30169
+1 also having this bug. and finding that it goes a little deeper than just the ip not matching. even some subnets that should match are not.

for an ip of 10.40.0.2 I can test upto 10.40.0.0/25

but a submask of /26 or higher does not match. even though that ip should be within range till at least /30 also a subnet mask of /32 for an ip never matches. even though it is technically a valid subnet

[2016-01-19 17:41] jfindlay commented on #30438
@ustolt, thanks for the report.  You are welcome to submit a pull request to fix this.

[2016-01-19 17:43] rallytime commented on #30432
@dnd Thanks! Can you also post your profile information? I don't see any `size`, `image`, or `location` information with what you've posted here.

[2016-01-19 17:44] cro opened #30446 "VMware vRO Plugin"

[2016-01-19 17:44] cro commented on #30446
This will probably be spread out over several sprints.

[2016-01-19 17:46] cro opened #30447 "VMware vRO Plugin meetings & working with pass-by-value"

[2016-01-19 17:47] nbow commented on #30431
The above stacktrace was consistently encountered in a 2015.8.3 environment.

[2016-01-19 17:49] cro commented on #30447
This issue was moved to saltstack/zh#428

[2016-01-19 17:49] #30447 closed

[2016-01-19 17:49] cro commented on #30446
This issue was moved to saltstack/zh#429

[2016-01-19 17:49] #30446 closed

[2016-01-19 17:51] jfindlay commented on #30317
@hxnan, do you consider this issue resolved?

[2016-01-19 17:55] yamamushi commented on #30167
@amitshipra Here's the profile that works for me:

    base_windows_2012:
      provider: <redacted>
      image: ami-b0005dda
      size: t2.micro
      securitygroup: <redacted>
      userdata_file: /etc/salt/windows-firewall.ps1
      win_installer: /etc/salt/Salt-Minion-2015.8.3-AMD64-Setup.exe
      win_username: Administrator
      win_password: auto

If it helps, my version of winexe was in

[2016-01-19 18:07] sjorge commented on #30415
Yeah form what I can tell cp.push stores stuff on the master under a specific per minion dir, I guess as long as a delete happens from the same minion it should be OK to do.

I'm not sure if adding a delete=True/False param would be the way to go.
It will makes the checks like checking if the local file exists and such more complicated.
I'd personally be more in favor of a `cp.purge(path)` or simu

[2016-01-19 18:15] jfindlay commented on #30431
@nbow, thanks for the extra info.  @jacksontj, @DmitryKuzmenko, do you have any comments here?  I will try to find and link any related issues, but I thought that this issue was supposed to be fixed.

[2016-01-19 18:20] jfindlay commented on #30431
#26212 #26250 #26252 #27394

[2016-01-19 18:21] thatch45 commented on #23556
@SEJeff any word here? Sounds like this is a small fix that you have already solved. are there any pitfalls you ran into that have prevented you from updating this?

[2016-01-19 18:47] russellballestrini commented on #22518
I just ran into this same error.

Any updates?

[2016-01-19 18:51] #29194 closed

[2016-01-19 19:08] rallytime commented on #22518
Unfortunately, we haven't had a chance to tackle this feature yet, as we're trying to attack the bug count first. Thanks for the bump. We'd gladly accept a PR if someone wanted to attempt this feature, however!

[2016-01-19 19:37] techhat commented on #30352
Thanks @rallytime. I wasn't aware of that pillar. Do you know of any other regular expressions that have to do with AWS?

[2016-01-19 19:43] gtmanfred commented on #29666
I am currently in the process of rewriting all of this to use the openstack-infra/shade library, so this should be fixed in the first 2016 release.

https://github.com/saltstack/salt/pull/30335

It will be relying more heavily on upstream, and should have better support for the calls to make to openstack (it will also remove the constant querying of instance status by salt-cloud, and will handle a

[2016-01-19 19:45] rallytime commented on #30352
I don't. I just saw that PR come in today and remembered this issue. We should look around though...

[2016-01-19 19:46] gtmanfred commented on #29758
We can assign it to a None value, but it should follow one of the branches that assignes access_ip to something everywhere.

I can take a look at some point this week and see if I can figure out a better way to do it (a lot of this stuff is going to be changed when i finish the rewrite using shade as well.

[2016-01-19 19:48] gtmanfred commented on #28017
OH, i know why that is happening, I can fix that, i already have it fixed in my changes for shade, I will get that split out later today.

[2016-01-19 19:54] dnd commented on #30432
Here's the profile I'm using for the clone.

[code]

[2016-01-19 20:22] twangboy opened #30451 "create mac_system module"
Work with AT command

[2016-01-19 20:37] cachedout commented on #25844
Fixed via #30245

[2016-01-19 20:37] #25844 closed

[2016-01-19 20:43] zaide commented on #29758
Hello,
First sorry for the delay, I was in ski vacations ;-)
Here is my informations:

Provider
[code]

Profil:
[code]

Tell me if you need more informations.

[2016-01-19 20:45] pass-by-value commented on #29347
Closing this for now. Pleas re-open if it is still an issue.

[2016-01-19 20:45] #29347 closed

[2016-01-19 20:55] #30311 closed

[2016-01-19 20:55] #30451 closed

[2016-01-19 20:56] #30401 closed

[2016-01-19 21:09] favoretti opened #30454 "Using yaml serializer inside jinja template results in unicode being prepended by '!!python/unicode'"
Given the following example:

`files/elasticsearch.yml`:

[code]

`settings.sls`:

[code]

Resulting rendered file will look like:

[code]

Looking around this looks like it's not really salt's state per se, rather pyyaml's, as stated, for instance in http://stackoverflow.com/questions/1950306/pyyaml-dumping-without-tags

https://github.com/saltstack/salt/blob/develop/salt/utils/jinja.py#L387 uses

[2016-01-19 21:09] rallytime commented on #30442
@ssplatt I've fixed this in #30453.

[2016-01-19 21:10] jacksontj commented on #30431
From the exception there it seems that the minion ran our of memory-- is that the case? As of today salt pulls the entire response into memory before doing anything with it.

[2016-01-19 21:13] basepi commented on #30454
My vote is still to just create another filter for safe_dump. I mean, I'd probably vote to just make the existing filter safe_dump, but that could break existing setups.

[2016-01-19 21:35] whiteinge opened #30456 "Key wheel module missing denied"
We're currently missing a function wrapper to deny keys.

https://github.com/saltstack/salt/blob/develop/salt/wheel/key.py

Hat-tip to @wldcordeiro

[2016-01-19 21:39] nbow commented on #30431
That is entirely likely. I know that in 2015.8.0 this was an issue that was seen when using a salt url. That is why cp.get_url was used, which in that release did not have this problem.
I'm not sure what everyone's idea of working is, but as a user it seems like a big problem that in order to transfer a large binary to a minion it needs to have large amounts of memory.

[2016-01-19 21:50] jfindlay commented on #30431
@nbow, yeah, that is definitely a problem.  Thanks for reporting.

[2016-01-19 21:52] rallytime commented on #22820
@VynceMontgomery Apologies for the premature closing earlier. I've removed the module doc references to this module in #30457. Once that PR is merged and the docs rebuild, a 404 should result on https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.fsutils.html#module-salt.modules.fsutils, and the reference in https://docs.saltstack.com/en/latest/ref/modules/all/ should also disappear.

[2016-01-19 21:58] terminalmage commented on #8684
@michaelkarrer81 Do you have a reproducible use case?

[2016-01-19 22:36] notpeter opened #30460 "cmd.shell should be documented"
Use of cmd.run currently generates a DeprecationWarning:

[code]

Which mentions cmd.shell. But the [salt.states.cmd documentation](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.cmd.html) has no mention of cmd.shell (because it's purely an alias defined in salt/utils/templates.py).

Similarly is python_shell=True is something one can set on a cmd state or it only exposed on the u

[2016-01-19 22:51] rallytime commented on #30432
@dnd It appears the cloning functionality is pretty broken in the 2015.8 branch right now. I'll be cleaning it up in the next couple of days. Thanks for posting your configs.

[2016-01-19 22:51] rallytime commented on #30432
Related to #30444

[2016-01-19 23:01] basepi commented on #23941
Did using `grains.setval` fix this for you, @bnikolaus? I'm going to close this, but please comment if it needs to remain open.

[2016-01-19 23:01] #23941 closed

[2016-01-19 23:04] tkwilliams commented on #26784
Hi @martinhoefling - was just on the verge of starting a boto3 port myself (we need the new NAT Gateway support only in boto3) when I thought to google it first.  I've done a smattering of work on the existing boto modules, and would be more than pleased to help you with the boto3 work - coding, testing, or both.... :)

[2016-01-19 23:18] jfindlay opened #30461 "update documentation on bootstrap-supported platforms"
https://docs.saltstack.com/en/latest/topics/tutorials/salt_bootstrap.html#supported-operating-systems

[2016-01-19 23:39] moloney opened #30462 "Simple way to avoid conflicts between "key accept" reactors and "on start" reactors"
It is a common need to do something slightly different on the first boot of a minion and subsequent reboots.  We can write reactors for when a minion key is first accepted (our first boot) but when we write a reactor for minion starts there is no way to tell it only run on subsequent reboots.  Perhaps we can provide something like a boolean `is_first_boot` in the minion startup events?

[2016-01-19 23:58] sjmh opened #30464 "pillar_env minion config option needs to be documented"
As per #28237, there is a new 'pillarenv' config option - but it's not in any of the sample Minion configuration documentation.

Need to make sure people are aware that 'environment' doesn't set the pillarenv anymore and only works for the fileserver.

[2016-01-20 00:12] sjmh commented on #5054
As an aside, we do this via a custom runner wrapper.  In essence, we execute the runner and provide it the command and arguments we want to run.  The runner takes care of executing the job async and then waits on the job return for a certain amount of time.

If that job return fails to show up, it then executes a kill_job on the job id and returns an error that the job timed out.

We do this for b

[2016-01-20 00:18] alandrees opened #30465 "Nested imports with pyobjects"
Started using pyobjects, and converting my jinja + yaml states to pyobjects.

I am continuting to use yaml for my top file, then for my state files using the pyobjects renderer.

Using imports on the first level pyobjects state file works fine.  However once you get into first nested pyobjects file, imports break with a syntax error.

After a slight bit of searching, I came across this closed tick

[2016-01-20 00:33] dmurphy18 commented on #13668
@pkruithof Can you tell me the version of salt you were running when this was encountered.There have been a number of changes to mod_repo since mid-2014, once specifically related to insertion into sources.list, but I am going to try to duplicate the issue and then fix if I can get it to occur.

If you have any other information which can be of help in reproducing this issue, it would be greatly a

[2016-01-20 01:43] UtahDave commented on #28604
Hi, @efficks can you try an older version of nssm? That might help. We don't have Windows XP to test against. Windows XP is eol'd and we don't officially support it anymore. If you have a system we can test against that might help.

[2016-01-20 01:47] daveneeley opened #30467 "Dependencies in Installation document are out of date"
https://docs.saltstack.com/en/latest/topics/installation/index.html#dependencies

Recent new dependencies include python-dateutil and tornado.

[2016-01-20 02:54] lorengordon commented on #21485
Well, it turned out to be fairly easy to use a class to define most of the data structure and various helper functions. That's likely about as far as I can take this myself at the moment. Is it worth trying to convert or import or otherwise utilize the .cpp source from Apply_LGPO_Delta so it can be used as a library in python, to eliminate the external dependency on the .exe? I have no idea how to

[2016-01-20 06:30] borgstrom commented on #30465
Dang... you're right.  There hasn't been any progress.  The original issue totally fell off of my radar.  Apologies.

I'll take a stab at recursive imports tomorrow.

[2016-01-20 07:07] tminn commented on #29666
Thanks gtmanfred, I will be willing to test it in 3 weeks . I'm offline from tommorrow.
Is there a reason for moving away from libcloud ? It was functional and in 2015.8 it is totally borked.

[2016-01-20 09:01] PierreR commented on #13081
I might have a similar need. What about a simple two step tasks:

  - remove the cert file on a target minion
  - remove the associated certs from master

Could it be done with the orchestration system ? The target of the minion would need to be specify on the command line.

Of course this can be done using a shell script and 2 salt commands. I guess I will go this route for now (even if it sounds

[2016-01-20 09:24] pkruithof commented on #13668
Sorry, I manage a fairly large number of servers, most of which I migrate instead of upgrading. So I'm not sure anymore on which server this happened (and which Salt version it was running at the time). I do however try to keep everything up to date, and I'm quite sure I was using the Salt/Ubuntu PPA at the time. So maybe you can infer the version from that?

However, if the state I posted in my f

[2016-01-20 09:47] mmisztal1980 commented on #30419
@jfindlay hi there,

What I'm doing, is I'm starting a ```cmd.exe /c``` process from C# with the following arguments :
```salt-call event.send 'customevent' {} --return local --out quiet```
When the process terminates, I'm left with JSON and I'm deserializing the JSON to obtain the JID.

I figured out that much on my own, however I still have no idea how to check whether or not that particular job

[2016-01-20 11:56] seshenli commented on #30416
Salt: 2015.5.0
         Python: 2.6.6 (r266:84292, Nov 22 2013, 12:16:22)
         Jinja2: 2.7.3
       M2Crypto: 0.22
 msgpack-python: 0.4.2
   msgpack-pure: Not Installed
       pycrypto: 2.6.1
        libnacl: Not Installed
         PyYAML: 3.10
          ioflo: Not Installed
          PyZMQ: 14.4.1
           RAET: Not Installed
            ZMQ: 4.0.5
           Mako: Not Installed

[2016-01-20 11:56] seshenli commented on #30416
thank you for help me

[2016-01-20 13:11] bechtoldt commented on #30413
Or simply check whether the ssh binary is available at all upon salt-ssh startup or similar.

Just think of a minimal Docker base image that doesn't contain a SSH client by default. The OSError above doesn't even tell which file/dir is missing. ;)

[2016-01-20 13:14] sjorge opened #30472 "KeyError with schedule"
[code]

I get this in my log;
[code]

I grab the content of ret which is hit on line 740
[code]

platform: SmartOS
version: develop branch

[2016-01-20 13:18] mstagi opened #30473 "salt-minion overrides custom root_dir config with default"
I tested this with the current develop branch. I think I found a bug, I tried to create a vmware vm with the salt execution mode as a non-root user:

[code]

For the minion I specified the following config-dir: `/var/tmp/salt-minion/etc/salt/`
If the root_dir configuration attribute differs from '/' in your minion config, and you run the minion as non-root user who does not own the /etc/salt dir,

[2016-01-20 13:26] sjorge commented on #30472
[code]
Line 740 from schedule.py

I added the following above:
[code]

Output of ret is above, self.functions.pack['__context__'] is empty :/

[2016-01-20 13:52] sjorge commented on #30472
On the positive note, the error seems to be non fatal.

[2016-01-20 14:04] qfwwfq commented on #30429
@TheBigBear, @jfindlay I am sorry. I mixed two errors. Error 1203 As you can see in the log lines I attached to my original post, error 1203 appeared trying to install another product, (Legato Networker). I fixed that error, including a couple of strategicaly place quotes (???) in the install flags.

As to the error tying to install jre8_x86, the error was
[code]
But in this case I tried to instal

[2016-01-20 14:55] mmisztal1980 opened #30474 "salt-run salt.orchestrate crashes due to an exception"
Part of my work on the event reactor includes an orchestration step

/srv/salt/orch/orchestrate-stuff.sls
[code]

/srv/salt/iis-website-stop.sls

[code]

I'm attempting to debug this on the go, however it seems to be crashin and I have no idea what am I doing wrong... Is there anything wrong with my YAML/Jinja?

```sudo salt-run state.orchestrate orch.orchestrate-stuff -l debug``` yields the follo

[2016-01-20 15:17] mmisztal1980 commented on #30421
Thanks :) I'll read those docs :)

[2016-01-20 15:17] #30421 closed

[2016-01-20 15:58] yamamushi commented on #30167
In troubleshooting this, I've resolved all of the problems I've had spinning up Windows instances of any type in AWS.

The primary solution was removing the Salt RPM's and replacing the salt installation with one directly from github, as it appears that some fixes for winrm connections were put in but never merged into the RPM packages.

After moving directly to a source installation, the examples

[2016-01-20 16:24] powellchristoph commented on #20113
Has there been any progress regarding this? Alot of the newer Rackspace images support boot from volume and the older performance images are being phased out.

[2016-01-20 16:34] xenuser opened #30476 "Adding new MySQL users with multiple hosts"
The Salt state module mysql_user should be able to accept multiple hosts parameters and then translate this into adding the user multiple times, but of course with different hosts.

The same goes for the mysql_grants state module.

Example:

[code]

This would really help since it is not possible to define the user "frank" multiple times within a high state (please correct me if I am wrong).

[2016-01-20 16:36] Xiol commented on #29422
I've been banging my head against this problem again and I've managed to get a bit further with debugging it, although I'm no closer to finding the root cause.

I've narrowed the problem down to the following state. If I comment this state out, it works fine. With this state active, it fails and dumps out the root SSH password (which is **different** to any passwords used in this state!)

[code]

[2016-01-20 16:39] ssgward commented on #30467
@daveneeley - good find. Thanks.

[2016-01-20 16:42] ssgward commented on #30474
@mmisztal1980 - what version of salt are you using? ``salt --versions-report``. There was a known issue with orchestrate in 2015.8.1-8.2, IIRC.

[2016-01-20 16:44] mmisztal1980 commented on #30474
@ssgward

[code]

[2016-01-20 16:56] mwiora commented on #30232
Hi @jfindlay,

great stuff - we had to remove the "ambari-server start" command.
Now the installation is running through successfuly.

Instead of the command we've enabled the service for autostart and rebooted the server with:
ambari-server:
 service:
  - enable: True

cheers,
Matthias

[2016-01-20 16:58] #30232 closed

[2016-01-20 17:50] sjorge opened #30477 "salt.runner.asam should handle missing HTMLParser better"
When starting the master this message gets logged:
[code]
The ```__virtual__``` function does seem to handle the cases when HTMLParser is not importable...

But because this class is also defined:
[code]
In the main namespace, python fails to load the module due to missing HTMLParser and salt never get's to the ```__virtual__``` call due to the python complaining.

I tried changing some of the ord

[2016-01-20 17:57] sjorge commented on #30477
Attached is a diff that 'fixes' the error for me, but I am not sure the runner still works as I am not sure how to test it.

[code]

[2016-01-20 18:11] jfindlay commented on #30419
@mmisztal1980, I think the [saltutil](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.saltutil.html) execution module should give you what you're looking for.  Also see, https://docs.saltstack.com/en/latest/topics/jobs/.

[2016-01-20 18:12] jfindlay commented on #30419
@mmisztal1980, I think the [saltutil](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.saltutil.html) execution module should give you what you're looking for.  Also see, https://docs.saltstack.com/en/latest/topics/jobs/.

[2016-01-20 18:15] jfindlay commented on #30429
@qfwwfq, do you think this issue could be closed?

[2016-01-20 18:18] UtahDave commented on #28604
I'm going to close this issue for now since this bug is on unsupported platforms. Feel free to comment and we'll reopen if we can find a solution to this.

[2016-01-20 18:18] #28604 closed

[2016-01-20 18:25] jfindlay commented on #29422
@Xiol, thanks for your investigations on this issue.

[2016-01-20 18:26] jfindlay commented on #30232
@mwiora, nice!  I'm glad you figured it out.

[2016-01-20 18:45] nbow opened #30480 "Salt Master Stops Responding"
In a 2015.8.0 environment while running commands against the salt-api the following errors are encountered. The error seems to occur randomly without warning. I was not able to find any issues that matched this behavior exactly, but have seen a few describing similar issues. (with windows minions. This environment is entirely Linux.) The master is: `Linux cm15virtual 3.10.0-229.el7.x86_64 #1 SMP T

[2016-01-20 18:52] basepi commented on #30454
I added the filter really quick. I didn't have a chance to test it, so if you have a minute that would be awesome. #30481

[2016-01-20 19:11] basepi commented on #30415
That sounds like a good solution. I like `cp.purge`.

[2016-01-20 19:53] tbaker57 commented on #30474
@mmisztal1980  Are you sure this is right? :
[code]
Does it help if you use
[code]
?
cheers,
Tim

[2016-01-20 20:14] qfwwfq commented on #30429
Yes. thank you very much,

[2016-01-20 20:44] basepi commented on #13081
I had forgotten about this issue, so thanks for bringing it back to the forefront. I think this sounds really cool, so I'm going to mark it for investigation and possible inclusion in the Carbon release of salt. No promises, of course. :)

[2016-01-20 20:46] basepi commented on #13081
Oh, and to answer your question, you might be able to do this via the orchestrate system. Though you might be better off just to write a custom runner. It wouldn't need to be very complex and could get the job done much cleaner, I think.

[2016-01-20 20:47] basepi commented on #30413
Yes, you're obviously right. We should just check ahead of time. Thanks for the sanity check. :)

[2016-01-20 20:47] mmisztal1980 commented on #30474
@tbaker57 Hi Tim,

I've done as you asked and restarted the salt-master service (I thought 'why the heck not?') got the result below - next I reverted the change and got the same result:

[code]

What's extremely interesting to me in this output, is the fact that devua-salt01_master is not the expected minion to handle this state. I've verified the state of the IIS server on the target machine and