[2015-11-10 00:34] quantonganh opened #28724 "Exception occurred when calling boto_vpc.route_table_present with test=True"
salt-call --versions-report:

[code]

Formula:

[code]

and the exception:

[code]

[2015-11-10 00:41] centromere commented on #27555
@Ch3LL Hi, I will do so and get back to you on this.

[2015-11-10 00:43] Ch3LL commented on #27555
@centromere great thanks i appreciate it

[2015-11-10 02:00] rterbush commented on #28721
So defaulting to relative path to file_roots base would avoid the confusion and you could still take your approach if you wanted to drop it outside of the file_roots base. Makes sense.

[2015-11-10 02:05] feigenblatt opened #28726 "user.present ignores "createhome: False""
salt-call --versions-report
[code]

User home account directories are being created even when we set "createhome" to False.
In other words, the -M flag is not being passed to the "useradd" command and the directory "/home/someuser" will be created when using the following formula:

[code]

[2015-11-10 03:25] puneetk opened #28727 "Documentation is incomplete for Salt Python api RunnerClient"
We need more documentation for salt.runner.RunnerClient async and cmd_async functions. @basepi recommended filing an issue for getting clarity on this use case, maybe an example / documentation.

[2015-11-10 05:11] gravyboat opened #28728 "dockerng fails to start container as the container 'does not exist'"
I've been testing out dockerng state and I'm getting the following error:

[code]

The state looks like this:

[code]
There will also sometimes be an error like this (note that the container is exited at this point because it never even started):
[code]
This is what it looks like after a few runs:
[code]

And after the 'changes have to be made' error:
[code]
It seems to me like the problem is rela

[2015-11-10 05:14] gravyboat commented on #28728
@terminalmage Figured I'd tag you on this since you seemed to be working on a few of the other dockerng issues. This one is a deal breaker for me using the new dockerng states and poses a serious threat to infrastructure if people upgrade their states. I also noticed that a lot of the time when it returns the original error about the system not existing the state still returns as success:

[code]

[2015-11-10 05:26] syedaali opened #28729 "pip module is taking "too long""
When I use pip.installed, I noticed that a typical minion run takes a "very long" time, compared to doing a cmd.run with pip. Below is an example:

[code]

The above is based upon:

[code]

Total run time:  456.647 s

On the other hand if I process the above with cmd.run the time taken is much shorted as seen below:

[code]

Total run time:  145.564 s

[2015-11-10 06:48] dmyerscough opened #28732 "cherrypy API endpoint"
I was playing around with the RESTful API using CherryPy. When I made a request to generate a key `/keys/mid` I got the following exception:-

[code]

When I do the same request again it works without any issue. I was checking out the source source code it seems to be related to the following statements in the `app.py`, its like the values are not picked up until the second request.

[code]

@whit

[2015-11-10 06:56] JaseFace commented on #28462
I haven't had a chance to dig into it too much, but I can confirm it's not the ```ping_interval``` health check from the minions as we have turned that off and still see the issue.  The jobs are being initiated by the minion, so scheduled highstate is the only other source I could imagine.  Is it ```__read_master_key``` that should be getting triggered on the minion to refresh the key when it can'

[2015-11-10 07:04] dmyerscough commented on #28711
+1

[2015-11-10 07:21] yyf1986 opened #28733 "[salt-ssh] No JSON object could be decoded"
when I run `salt-ssh -i '*' state.sls test`

[code]

'state.sl' is not running in salt-ssh?

[2015-11-10 07:29] andrejohansson commented on #28569
@basepi if `data['success']` is signaling salt errors, what is then `retcode` signaling today? And yes, my hack currently defines "failure" as "any state returned result: False".

I will send a mail to my contact regarding your Zendesk proposal, I don't think I've gotten a login yet, I have to double check.

A general failure event feels like the natural way, and maybe a possibility to extend the

[2015-11-10 07:46] zigarn commented on #28674
OK. Thanks for the info. I'm looking forward to see that.

[2015-11-10 07:50] yyf1986 commented on #28733
my test.sls
test:
  cmd.run:
    - name: free -m

[2015-11-10 08:10] yyf1986 commented on #28733
when I see #27325, I removed the /tmp/.root_c87ee6__salt/ directory and did the salt-ssh call again.

Then it worked.

[2015-11-10 08:17] anlutro commented on #28729
Bit of an unfair comparison - `pip install pkg1 pkg2 pkg3` will probably always be faster than `pip install pkg1; pip install pkg2; pip install pkg3`

I agree that the pip-related module is quite slow, though.

[2015-11-10 08:41] Mrten commented on #8647
I doubt any code is the same since then :)

[2015-11-10 09:10] bmcorser opened #28735 "More issues with UTF-8 filenames"
[code]

Both master and minion are on 2015.8.1 (Beryllium)

[2015-11-10 09:35] bmcorser commented on #28735
NB: Upgraded minion to `develop` and this is still present.

[2015-11-10 09:57] Akilesh1597 opened #28738 "mysql_database.present does not handle character set and collation"
handled here
https://github.com/saltstack/salt/pull/28737

[2015-11-10 12:54] sanflores commented on #28735
Same problem with utf-8 filenames using state.sls (master 2015.5.3):

     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/usr/lib/python2.6/site-packages/salt/state.py", line 1563, in call
                  **cdata['kwargs'])
                File "/usr/lib/python2.6/site-packages/salt/states/file.py", line 2313, in recurse

[2015-11-10 13:06] DmitryKuzmenko commented on #22713
Done. Now all returners return dict mapping JID to the load data in get_jids()

[2015-11-10 13:24] mortis1337 commented on #22957
+1

[2015-11-10 13:32] jfindlay commented on #28687
@nicksloan, this is an interesting proposal.  Some simplicity in this area would be useful and helpful, but we would have to be concerted to enact such a plan so that it doesn't result in a more complex situation with even more variability to do the same thing.  Also, I am unsure how such a large undertaking would be done.  The changes to the code itself, although they may be advanced, are not as

[2015-11-10 13:35] jfindlay commented on #28684
@gravyboat, thanks for the report.

[2015-11-10 13:38] jfindlay commented on #28682
@knuta, thanks for the well-researched issue.  This is something I have wanted to do as well.

[2015-11-10 13:44] anlutro commented on #22191
I just found this: https://docs.saltstack.com/en/latest/ref/states/vars.html

[2015-11-10 13:44] anlutro commented on #27753
I just found this: https://docs.saltstack.com/en/latest/ref/states/vars.html

[2015-11-10 13:47] driskell commented on #11516
Interestingly this is happening in `print()`!
I'm seeing the same thing and it happens randomly during printing the output

[code]

A bit of Googling seems to suggest something like `errno` not reset properly so the IOError 11 is actually happening in a previous system call and it just happens to be the `print` that actually sees it or something. Though could be something different.

It's constant

[2015-11-10 13:59] jfindlay commented on #28676
@rominf, thanks for the report.  I am confused as to what your commands are demonstrating.  I have a system with a master and a minion (similar to your `root` system).
[code]
[code]
[code]
[code]

[2015-11-10 14:07] jfindlay commented on #28674
@zigarn, your second comment is a [known issue](https://github.com/saltstack/salt/issues/27542).  Regarding your original issue, we have decided to move all saltstack packaging to repo.saltstack.com for simplicity and consistency.  The confusion about this is understandable and we probably should have made a better effort at documenting this and deprecating the old distro package sites.  As this c

[2015-11-10 14:12] jfindlay commented on #28663
@andygrunwald, thanks for working on this.

[2015-11-10 14:27] jfindlay commented on #28674
Similar to #28142.

[2015-11-10 14:49] srkunze commented on #27753
@anlutro Hey, that's great.

@jfindlay Thus, we can close the issue?

[2015-11-10 14:57] arthurlogilab commented on #27385
Having wheezy is important for us too. There is also other people asking for this on the mailing list.

[2015-11-10 15:02] arthurzenika opened #28742 "repo.saltstack.com to host armhf and armel binary distributions"
I was great to have armhf and armel binary distributions on debian.saltstack.com, now trying to switch to repo.saltstack.com but only amd64 is built. This is a pretty big regression in my opinion for all the small devices that could have a salt-minion (raspberrypi for example, but also a bunch of NAS etc.). Promoting salt as a very versatile solution is getting harder. _Please_ re-enable these arc

[2015-11-10 15:21] jfindlay commented on #28742
Related issues:
#27228
#27189
#24955

[2015-11-10 15:24] DmitryKuzmenko commented on #24784
@victors2709 thank you for the report and your interest in raet.

I performed some tests. Unfortunately you are right. Raet takes about 20 secs with default configuration. After I tuned ioflo and raet options I got 2.5 seconds, but ioflo became eating CPU because of an extra cycle loops. Related config options are (default vaues are in brackets)
[code]
Please don't follow this example as an instru

[2015-11-10 15:28] bbinet commented on #28742
+1
could debian.saltstack.com be updated with latest salt versions until repo.saltstack.com is ready for all architectures and all debian distributions?

[2015-11-10 15:28] arthurlogilab opened #28743 "[doc] Publish fingerprint for SALTSTACK-GPG-KEY.pub on repo.saltstack.com (with https?)"
It would be nice to provide the information (and instructions) for people to trusting the signing key provided by salt for the new "repo.saltstack.com"
- publish the fingerprint
- serve that in HTTPS
- add it to a web of trust so one can verify it
- have joe healy sign that so as to ensure smooth transition

[2015-11-10 15:42] arthurlogilab commented on #28743
The key is 2048R/0E08A149DE57BFBE

I believe the fingerprint is :

754A 1A7A E731 F165 D5E6  D4BD 0E08 A149 DE57 BFBE

http://keyserver.ubuntu.com:11371/pks/lookup?op=vindex&fingerprint=on&search=0x0E08A149DE57BFBE (no signatures in the web of trust)

[code]

[2015-11-10 15:55] ticosax commented on #28728
Since your container doesn't start, this is the expected behaviour of `salt.states.dockerng`.

First I'd suggest to solve the container issue.
`docker logs nginx-proxy` to starts with.
Once you manage to start the container, update your `states` to reflect the changes you did to start the container.

[2015-11-10 15:57] dnd commented on #28659
@cachedout what in your mind do you think this would entail? Should the minion restrict the events the user fires off or should it be handled on the master? If the master should manage the restrictions would the correct implementation be to maintain individual keys for users authorized to fire events on the master, or would that be overkill?

Where is the code that currently restricts what modules

[2015-11-10 15:57] jtand commented on #28693
@jbq Can you provide the versions-report for this minion?

[code]
Thanks!

[2015-11-10 15:58] arthurlogilab opened #28745 "repo.saltstack.com should use a different distro name than the official distros"
When using a backport or a newer version distributed by a vendor (in this case saltstack), one would like to be able to use the "fromrepo" attribute for pkg.installed

With the new repo.saltstack.com you've abandoned the "DISTRO-saltstack-VERSION" namespace (eg. jessie-saltstack-2015-05), this is a real shame because we cannot use the fromrepo and the tedious way of doing it is to deploy some apt-

[2015-11-10 15:59] BalintSzigeti commented on #28567
well yes. sometimes the sls file needs to have multiple different
included files plus I had to play with 'if elif endif' statements.

On 09/11/2015 21:17, Colton Myers wrote:

[2015-11-10 16:12] jtand commented on #28711
@whiteinge @jacobhammons

[2015-11-10 16:13] jtand commented on #28711
@gravyboat Thanks for catching this!

[2015-11-10 16:16] jfindlay commented on #28655
@sjorge, thanks for the report.  The docker issue has already been [reported](https://github.com/saltstack/salt/issues/28549) and the mentioned pull request should fix the other.

[2015-11-10 16:20] jfindlay commented on #28549
@jacksontj, could this be related to the use of `__modules__` here?

[2015-11-10 16:23] dnd commented on #19629
@rallytime almost a year later, but this pull request should get it done.

[2015-11-10 16:25] bbinet commented on #7924
I think this was a duplicate of #8646 which was fixed by #27748.
If confirmed, this issue can be closed.

[2015-11-10 16:25] bbinet commented on #26605
I think this was a duplicate of #8646 which was fixed by #27748.
If confirmed, this issue can be closed.

[2015-11-10 16:29] twangboy commented on #21256
@rterbush Did you build that `winexe` package yourself or did you find one somewhere? Could you share what you did to get a more recent version of `winexe` on CentOS/RHEL?

[2015-11-10 16:30] arthurlogilab commented on #28745
The pinning works as follows (while waiting for this bug to be fixed) :

 in ```/etc/apt/preferences.d/saltstack-pinning ``` put

[code]

[2015-11-10 16:41] rterbush commented on #21256
@twangboy I used this repo to build it myself.

https://github.com/juliogonzalez/winexe-rpm

[2015-11-10 16:42] sanflores commented on #28735
Looks like is going to be fixed on 2015.8.2

[2015-11-10 16:42] efficks commented on #28604
@jfindlay Any update?

[2015-11-10 16:45] cedwards commented on #28580
I just installed ``2015.8.1-980-gdecc31a`` using bootstrap (should be HEAD of 2015.8) and the problem persists. I installed using:

[code]

I restarted master, minion, syndic and proxies.

[code]

[2015-11-10 17:43] lorengordon opened #28749 "Feature Request: Modify Windows installer to handle running salt-minion as an unprivileged user"
I saw the docs for installing salt on Windows now cover the steps to run the salt-minion service as an unprivileged user. It would be nice if those steps were handled by the installer. I would not expect the installer to create the account; rather I expect the account to be specified by the user. I would expect the installer to verify the specified account exists, set the permissions on the folder

[2015-11-10 17:45] UtahDave commented on #28604
I'll be working on this today.

[2015-11-10 17:56] alektant opened #28750 "Salt-Minion 2015.8.1 installer on WinXP ignores the /start-service flag."
Installing on WinXP SP2 and the service starts automatically despite the flag /start-service=0.

c:\temp\Salt-Minion-2015.8.1-x86-Setup.exe /S /start-service=0

![screen shot 2015-11-10 at 12 54 28](https://cloud.githubusercontent.com/assets/12358552/11070588/6dade068-87aa-11e5-9ee5-a9f4dfdc2f45.png)
![screen shot 2015-11-10 at 12 55 25](https://cloud.githubusercontent.com/assets/12358552/11070591

[2015-11-10 17:56] mcansky commented on #25335
@mshirley thanks for the update and details

[2015-11-10 17:58] basepi commented on #28351
Um, if you have a working workaround we can close this one. The other idea should be a separate issue I think.

[2015-11-10 17:58] #28351 closed

[2015-11-10 18:02] olfway opened #28751 "network.system state ignores test=True on debian/ubuntu"
I've tried to configure hostname on ubuntu with:
[code]
and `salt 'node' state.sls network.config test=True`
ignores test parameter and applies changes unconditionally

It also adds "domain node-domain" line to /etc/resolv.conf which is unexpected
(and actually with resolveconf installed will be overwritten)

I'm using salt 2015.8.1 on Ubuntu 15.10

[2015-11-10 18:07] twangboy commented on #28604
@UtahDave @jfindlay It looks like it's a time out issue. It tries 7 times, 1 minute between each try. After the 7th try it says it failed to authenticate and then throws a stack trace. Looks like the fact that it doesn't wait forever is by design. Is this something we want/need to change?

[2015-11-10 18:14] mathrick commented on #28604
For a running service at least it's reasonable to keep trying, otherwise there's no way to have minions reconnect after a transient network/master outage without restarting them manually, which sounds like a Bad Thing™ for a configuration manager.

[2015-11-10 18:15] cachedout commented on #28745
Hi @arthurlogilab. This is one for @dmurphy18 to take a look at. I've cc:'d him here. Thanks for the info.

[2015-11-10 18:17] twangboy commented on #21256
I agree. Since we depend so heavily on it for salt-cloud with windows we should package it. I'll see what I can do to get that wheel rolling here.

@UtahDave @dmurphy18 ^^^^^

[2015-11-10 18:25] basepi commented on #28278
Technically publish.publish should work. But it's not very applicable to salt-ssh, since what actually happens is the master just runs the published command as a normal salt-ssh command.

The only reason we wrote the wrapper function was to support publish calls from within jinja templates that were ported over from normal salt.

Anyway, this looks like it's probably a bug with the thin_dir. At le

[2015-11-10 18:26] #24758 closed

[2015-11-10 18:26] #26592 closed

[2015-11-10 18:26] #28603 closed

[2015-11-10 18:26] #28469 closed

[2015-11-10 18:37] NVoronchev commented on #28290
@cachedout, please, exuse me. Unfortunately, I have a problem with free time. I will try to investigate this issue in more detailes on the next weekend.

[2015-11-10 18:39] basepi commented on #28569
Yeah, it would be an additional event (we don't want to change the existing tags). Or it would be another field inside of the existing event.

In at least 2015.8, I'm pretty sure the retcode does change on failures, so we might actually be able to just cue off of that instead. I'll have to do some testing.

[2015-11-10 18:39] twangboy commented on #28604
@efficks @mathrick I just tried this on a linux box. It does the same thing, tries 7 times to connect and then fails to authenticate. The difference being that after it fails to authenticate, it restarts the process and starts over.This is probably a bug in how windows handles the restarting process.

[2015-11-10 18:40] dmurphy18 commented on #28745
@arthurlogilab The naming for the various repositories is under-going change in repo.saltstack.com for the next release.  It was decided that the use of distro codenames was not customer friendly, that is, Ubuntu 14.04 rather than trusty is what is most current in a customer's mind. This may not be so with Debian distributions where users are more technical. I shall raise the issue as to naming in

[2015-11-10 18:57] Ch3LL commented on #28542
We are waiting on user validation of this fix before closing.

[2015-11-10 19:04] mathrick commented on #28616
@jfindlay 2015.5 and 2015.8.1 both have this issue

[2015-11-10 19:16] gravyboat commented on #28728
@ticosax The container does start when run via Docker, and ran correctly via Salt one time, which I have been unable to duplicate (settings and config were identical). I'm duplicating `docker run -d -p 80:80 -v /var/run/docker.sock:/tmp/docker.sock:ro jwilder/nginx-proxy`.

Here's what that output looks like for a container created by salt:
[code]
The box then locks up and crashes. This is definit

[2015-11-10 19:36] sjorge commented on #28655
Just pulled in the changes, looks to be fixed.

[2015-11-10 19:54] efficks commented on #28604
@twangboy @mathrick I agree with @mathrick, the service should not stop and be restarted by the system. On Windows, normally a service can be defined to be restarted automatically. But I don't think saltstack should rely on the OS to be restarted.
There's a bigger problem here, when saltstack crash (exception), NSSM seems to crash too! The OS pop an error message and the service is not restarted u

[2015-11-10 20:34] cedwards opened #28753 "full Pillar data available to ext_pillar"
I've written an ext_pillar module that references git_pillar data and tries to query for values defined by the ext_pillar. What I'm finding (and I suppose I'm not surprised) is that if a pillar key is defined for lookup in the ext_pillar, it is only accessible if granted access within the pillar ``top.sls``.

Is it possible to make the entirety of git_pillar data available to the ext_pillar module

[2015-11-10 20:44] myrah commented on #28311
Use GitPython instead of pygit2 if you are not in need of using the improved authentication features in pygit2. It fixed my issue.

[2015-11-10 20:55] ticosax commented on #28728
You can reply to this question by running `docker inspect --format="{{.Config.Volumes}}"  nginx-proxy`

Do you see the mapping `/var/run/docker.sock:/tmp/docker.sock:ro` in the output ?

[2015-11-10 20:57] kt97679 opened #28754 "service.enabled fails on xen server"
I'm trying to use service.running with ntp and I'm getting this error on xen server:
<pre>
----------
          ID: ntp_service
    Function: service.running
        Name: ntpd
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/tmp/.root_0451fb_salt/salt/state.py", line 1591, in call
                  **cdata['kwargs'])

[2015-11-10 21:42] gravyboat commented on #28728
It seems that the -v option is actually setting this as a bind when building the machine without Salt, and NOT a volume (which is where it gets set inside of Salt) even though that's what the command specifies. I've modified the state to set this as a bind mount instead:

[code]

[2015-11-10 21:52] plastikos commented on #27421
My stack got pushed and I haven't quite popped back to this point.  I'm working on a fix for incorrect aggregate return codes.  I need to write a unit test for on PR and then a separate PR for the "fix".  Hopefully I'll be back to this before the end of the week.

[2015-11-10 22:02] cachedout commented on #27421
@plastikos Super! Thanks.

[2015-11-10 22:27] gravyboat commented on #28004
Ran into this today:

[code]

[2015-11-10 22:39] ryan-lane commented on #25094
I'll be honest. I still don't understand how to install with pip editable and have it show the correct version. None of the install options seem to work for this purpose. It still shows 2014.1 as the version with a completely fresh install against 2015.8.

[2015-11-10 22:43] rallytime commented on #19629
@dnd No worries! Thanks for implementing it! Can this issue be closed once your PR is merged?

[2015-11-10 23:19] cedwards commented on #28753
I'm wondering if ``master_tops`` is a possible solution here..

[2015-11-10 23:28] jfkw commented on #26558
Have there been any discussions on possible implementation of this capability?

[2015-11-10 23:42] twangboy commented on #28604
@efficks I can't reproduce the NSSM problem you're having. Could you post the version of salt you are running. Is it 32 or 64 bit? Are you on 32 or 64 bit windows?

[2015-11-10 23:43] dnd commented on #19629
Yes, the pr will resolve it.
On Nov 10, 2015 4:44 PM, "Nicole Thomas" <notifications@github.com> wrote:

[2015-11-11 00:30] jfindlay commented on #28701
@rdutch, thanks for the report.

[2015-11-11 00:35] jfindlay commented on #28692
@mrosedale, thanks for finding this.  Will you open a pull request for this against the 2015.8 branch?

[2015-11-11 00:47] jfindlay commented on #28706
@kkaig, thanks for the report.

[2015-11-11 00:53] jfindlay commented on #28707
@efficks, thanks for the report.  @cachedout, @basepi, do you have an opinion here?

[2015-11-11 00:57] jfindlay commented on #28712
@hexedpackets, thanks for fixing this.

[2015-11-11 00:57] #28712 closed

[2015-11-11 01:01] gravyboat commented on #24049
This is still biting me in the ass on 2015.8.1, got this today:

[code]

[2015-11-11 01:06] gravyboat commented on #28036
For anyone else that runs into this, the issue isn't resolved yet from the main Ubuntu repo.

[2015-11-11 01:22] jfindlay commented on #28715
@mlalpho, thanks for the excellent information.  I would consider this a bug since the format that is working is counterintuitive, confusing, and possibly a regression from the v1 API.

[2015-11-11 01:28] jfindlay commented on #28721
@rterbush, thanks for the report.  Relative paths on the master can be a security vulnerability.  The documentation on winrepo might need to be updated to mention this.  What do you thin, @UtahDave?

[2015-11-11 01:34] whiteinge commented on #28732
I think your diagnosis is spot-on. See issue #22451. This has fallen off my radar since filing that.

I'm not certain the way I'm assigning values to those tools is exactly kosher. :-/  It may need to be done within the `__init__()` method instead. Or perhaps as a method decorator.

[2015-11-11 01:37] whiteinge commented on #28732
If you're banging on that endpoint I should also point out these two just in case: #22442, and #22452. I _think_ all three have quick fixes...

[2015-11-11 01:40] efficks commented on #28604
@twangboy, I'm on Windows XP  32 bits.
Let me try tomorrow on Windows 7.

[2015-11-11 02:51] jfindlay commented on #28691
@Pixcell, thank you for working on this.  If you don't get any response on this, ping me and I'll come back and look it over again.  @UtahDave, @twangboy, do you have any ideas on this one?

[2015-11-11 02:56] jfindlay commented on #28720
@gravyboat, thanks for the report.  There are a few issues here.  The pkgrepo.managed state doesn't explicitly list its arguments.  This is something that can be easily fixed.  The second problem is that even if you knew the list of arguments, how would you determine which are misspelled?  There are many arguments that can be used on any state, `require`, for example.  I suppose the state compiler

[2015-11-11 03:04] cybacolt commented on #18563
this could be useful.

perhaps recurse should be added to salt.state.file.cp instead, to match the module?

i'll probably call the module for now as a work around...

[2015-11-11 03:13] gravyboat commented on #28720
The resolution to this problem was changing `hummanname` from having two `m`s in `humman` to spelling it correctly with a single `m`: `human`. So simply ensuring the argument was spelled correctly is what allowed it to succeed. I think this comes back to an issue of the fact it's failing silently because of the expectation of kwargs more than anything. I'm not sure if this should simply be a warni

[2015-11-11 03:16] #28724 closed

[2015-11-11 03:16] jfindlay commented on #28724
Thanks for fixing this, @quantonganh.

[2015-11-11 03:46] jfindlay commented on #28655
Thanks, @sjorge.  If you don't mind, I'm going to close this as there is already an issue for the docker problem.

[2015-11-11 03:46] #28655 closed

[2015-11-11 03:47] jfindlay commented on #28549
Here is my full log output, which is more conclusive as to what is going on with the loader:
[code]

[2015-11-11 03:59] dmyerscough commented on #28732
I tried using the __init__() method but have had no luck :-1:

[2015-11-11 05:00] jfindlay commented on #28726
@feigenblatt, thanks for the report.

[2015-11-11 05:03] jfindlay commented on #28727
@puneetk, thanks for the report.

[2015-11-11 05:06] jfindlay commented on #28728
@gravyboat, @ticosax, thanks for working through this issue.

[2015-11-11 05:11] jfindlay commented on #28729
@syedaali, thanks for the report.  I agree with @anlutro, though.  How long does it take to run:
[code]
or even just
[code]

[2015-11-11 05:17] jfindlay commented on #28733
@yyf1986, thanks for the report.  What is the output of `salt --versions-report`?  Is there any other information you can provide that may be related?

[2015-11-11 05:19] jfindlay commented on #28735
@bmcorser, thanks for the report.  Are you saying that your fix did not resolve your issue?

[2015-11-11 05:21] jfindlay commented on #28738
@Akilesh1597, thanks for the feature.

[2015-11-11 05:21] jfindlay commented on #28743
@arthurlogilab, thanks for the report.

@whiteinge, @UtahDave

[2015-11-11 05:22] jfindlay commented on #28749
@lorengordon, thanks for the feature request.

[2015-11-11 05:23] jfindlay commented on #28750
@alektant, thanks for the report.

@twangboy

[2015-11-11 05:29] jfindlay commented on #28751
@olfway, thanks for the report.

[2015-11-11 05:50] TTWShell commented on #22023
For me, os is mac OS X  10.11.1, swig304 and M2Crypto==0.21.1 install ok, but have a error:

Traceback (most recent call last):
  File "conf/db_create.py", line 23, in <module>
    from app import db
  File "conf/../app/__init__.py", line 55, in <module>
    import views
  File "conf/../app/views.py", line 24, in <module>
    from models import xxx
  File "-conf/../app/models.py", line 23, in <mod

[2015-11-11 05:54] dmyerscough commented on #28732
@whiteinge I tried putting a decorator around each request method:-

[code]

This works similar to the `__init__()` method.

[2015-11-11 06:02] dmyerscough commented on #28732
I got a fix for this now, standby.

[2015-11-11 06:28] dmyerscough commented on #28732
@whiteinge after a while of digging around cherrypy's documentation I found a solution that works well.

[2015-11-11 08:12] syedaali opened #28761 "Numerous module import errors in /var/log/salt/minion (test,oracle,archive)"
Hi,

I am getting numerous import errors in /var/log/salt/minion:
[code]
[code]

[2015-11-11 10:31] cybacolt opened #28763 "grain saltversioninfo not returning values by index"
to return the first item in a list, add :0, like so:
salt-call grains.get fqdn_ip4:0

when trying to get the first item from saltversioninfo on 2015.8.x:
salt-call grains.get saltversioninfo:0

nothing is returned.

[2015-11-11 11:30] ticosax commented on #28728
The container did started successfully and was reported as is by the docker daemon, so salt behaves as expected. I don't see much how we can support your use case in salt at the moment. We'd need something asynchronous anyway, because we should not block the entire state execution the time we check if in `n` amount of time the container is still running. AFAIK salt state execution environment in s

[2015-11-11 13:11] bmcorser commented on #28735
My fix (https://github.com/saltstack/salt/pull/28736) was just demonstrating how I worked around the issue. I was expecting either someone to say "write some tests" or for another developer to pick it up ... but it just got merged.

I'll have a look at testing the code I put there today.

[2015-11-11 13:41] #26368 closed

[2015-11-11 13:57] bartlaarhoven commented on #1038
+1
Any news on the progress of this feature request?

[2015-11-11 14:15] rterbush commented on #28721
It seems that winrepo_dir is not a required setting and defaults /srv/salt/win/repo.

If I change file_roots.base to /srv/salt/formulas, it silently breaks winrepo functionality.

IMO, it would follow rulle of least astonishment to have winrepo default to a location that is relative to file_roots.base. And of course require an absolute path if you point it to some other location.

If you place it

[2015-11-11 14:19] rusvdw opened #28766 "salt-cloud ec2 image creates two keys and minion can't connect"
We've just started out with Salt and have hit a brick wall almost immediately trying to provision an Ubuntu image on ec2. The instance is created, but the minion is unable to connect due to a key issue. There are two keys created in salt-keys: the minion id supplied to salt-cloud and the ec2 hostname provided by AWS.

My cloud profile:

[code]

The creation command:

[code]

The keys afterward:

[

[2015-11-11 14:21] rterbush opened #28767 "winrepo_remotes and winrepo_remotes_ng defaults to public repo if unset"
I've discovered that there is no way to override the defaults for winrepo_remotes(_ng). If unset in the master config, The appears to automagically provide a list member pointing to the saltstack/salt-winrepo(-ng).git repositories.

This creates an issue with me being unable to prevent inclusion of the public repo in my local winrepo setup and is unclear how I could give precedence to my own priva

[2015-11-11 14:25] lorengordon commented on #28721
I haven't started moving my Windows instances to 2015.8, yet, and I remember seeing that these options may have changed, but this is what I've been configuring to get things working in 2015.5:

[code]

[2015-11-11 14:52] mrosedale commented on #28692
Thanks I've submitted a pull request.

[2015-11-11 14:57] shencan opened #28769 "Salt Can Not run command with specify groups"
###Salt  and OS(CentOS 6.6) version
<pre>
[root@master~]# salt --version
salt 2015.8.1 (Beryllium)

[root@master ~]# salt \* test.version
48a211c82b9f:
    2015.5.5
</pre>

###salt master  group configure
<pre>
nodegroups:
  group1: 'L@48a211c82b9f'
</pre>

### restrat salt-master and run command
<pre>
[root@master ~]# salt \* test.ping
48a211c82b9f:
    True

[root@master~]# salt -N group1 test.p

[2015-11-11 14:58] twangboy commented on #28750
@alektant This feature was added after the release of 2015.8.1. It will be available in 2015.8.2.

[2015-11-11 14:58] #28750 closed

[2015-11-11 15:01] twangboy commented on #28691
@UtahDave 's gonna have to address this I'm not familiar enough with package drivers.

[2015-11-11 15:33] jfindlay commented on #28526
@clarkperkins, thanks for fixing this.  @grep4linux, @ankitforcode, can you confirm that this fixes the issue for you?

[2015-11-11 15:53] #18544 closed

[2015-11-11 16:01] clinta opened #28770 "scheduled item does not run until minion is restarted"
After adding or changing a scheduled item using [schedule.present](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.schedule.html#salt.states.schedule.present) the schedule does not run until the minion is restarted. Running [schedule.reload](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.schedule.html#salt.modules.schedule.reload) has no effect.

[2015-11-11 16:21] blueyed commented on #24049
@gravyboat
As far as I understand it should be in the next release, since it is merged already.

[2015-11-11 16:35] DanyC97 commented on #18510
@rgardam welcome to the party :)  ...nothing should surprise i'd say

[2015-11-11 16:38] nikatjef commented on #25028
Greetings,

 We first spotted this issue back in 2014.1.10, and are still seeing it in 2015.8.0.  To give an idea of what we are seeing, I have attached two graphs;
![count_from_mom](https://cloud.githubusercontent.com/assets/1252723/11094648/ad666496-8845-11e5-8dab-9e2e7f0e4bfe.png)
This graph shows the total number of minions, as reported by 'salt-run manage.status', averaged over three hours fo

[2015-11-11 16:51] alektant opened #28773 "powercfg module/state does not work on WinXP SP2."
The powercfg module does not work in WinXP due to powercfg.exe not having the flag "/getactivescheme".
Working with Salt 2015.8.1 and WinXP SP2.

Perhaps accepting an optional scheme param to get around this issue?

![screen shot 2015-11-11 at 11 49 46](https://cloud.githubusercontent.com/assets/12358552/11096894/5b8662aa-886a-11e5-9162-daddfccf4508.png)

[2015-11-11 16:58] alektant commented on #28750
Okay great! Thanks for looking into it.

[2015-11-11 17:12] nikatjef commented on #28676
Greetings,

I am able to reproduce what I think the OP is referring to.  From what I can tell, the grain cache is not synched reliably / consistently when you have Syndic involved.

We have cronjob that fires a high state every 10 minutes from our Salt M-O-M (Master-Of-Masters) cluster, through our 2x2 Salt Syndic / Master clusters to our minions.  This should, by virtue of it being a "high state"

[2015-11-11 17:20] SeoFood commented on #10272
+1

[2015-11-11 17:25] lomeroe commented on #28390
@syedaali are you trying to use cmdmod to run `aws s3` or are you using the s3 salt module?

I use instance profiles/salt to access s3 via states and the module.run, for example:

s3_file_download:
  module.run:
    - name: s3.get
    - bucket: {{ s3_bucket }}
    - path: {{ s3_file_path }}
    - local_file: /myfile.tar.gz
    - location: {{ region }}

[2015-11-11 18:03] basepi commented on #9018
@mostafahussein I think this would be a cool feature! What are you using for the minion opt for the whitelist? `cmd_run_whitelist` or something? We could also make it configurable via pillar/grains if we just use `config.get` to get the whitelist. It should also be off by default -- if the whitelist is empty or None, then it should allow all commands.

But yeah, I think you should probably submit

[2015-11-11 18:06] basepi commented on #28350
Can you try running the `*` command with `-ldebug`? I'm just grasping for straws, I'm completely mystified.

[2015-11-11 18:07] cachedout commented on #28350
We'll probably want `-ldebug` or even `-ltrace` on the master side as well.

[2015-11-11 18:18] basepi commented on #22852
I assume the `file.manged` typo in your state was from copying it over? That would definitely cause problems.

`watch:in:` wouldn't throw errors because the state compiler would just ignore it as invalid. (this behavior will change in the carbon release of salt, if I remember correctly.)

Anyway, as I stated above, this probably should have been classified as a feature, since I think the _in requi

[2015-11-11 18:20] sjorge opened #28779 "salt.module.zpool and salt.module.zfs could use some love."
Looks like the output is just a simple dump of the text output of the commands, e.g.:

```/opt/local/salt/bin/salt-call --local zpool.list```
[code]

```/opt/local/salt/bin/salt-call --local zpool.status zones```
[code]

```/opt/local/salt/bin/salt-call --local zpool.status``` does not work:
[code]
While it is perfectly fine to request info for all zpools!

[code]

Looking at the code the seems lo

[2015-11-11 18:22] sjorge commented on #28779
I'm happy to go over them and fix these up, although I am not sure how to do this and retain backwards compatibility with the current straight dumped output?

Any suggestions? perhaps add a 'legacy=True/False' parameter to each toggle the behavior?

[2015-11-11 18:23] basepi commented on #8647
@kracekumar Can you try increasing the `gather_job_timeout` as @jordanrinke mentioned?

[2015-11-11 18:25] fportillo-daitan opened #28780 "file.copy is not replacing destination file even with force: True in state.orchestrate"
file.copy is not replacing destination file even with force: True

Salt version report:

[code]

Dir /srv/salt/podmaster is file_roots for podmaster environment.

[code]

My state file:

[code]

When I run this state.orchestrate command:

[code]

I can see and verify that the file has been copied as expected. Great. Then after that I edit my moveconfigfile.sls state file, add **force: True** as st

[2015-11-11 18:30] sjorge opened #28781 "[want] salt.module.fmadm"
[code]

Would be awesome to have an exec module for this. Again I'll be happy to implement. (I will probably do so anyway)

Let's slowly make SmartOS and by extension in this case Solaris in some cases more of a first class minion!

[2015-11-11 18:37] basepi commented on #11516
Weird! We'll have to see if we can reproduce this ourselves.

[2015-11-11 18:39] cro commented on #28350
@WalterInSH just to be sure, you don't have any other config files inside /etc/salt/master.d, do you?

[2015-11-11 18:41] cachedout commented on #28733
This may be a duplicate of #27492

[2015-11-11 18:41] basepi commented on #28567
Thanks. I think this would be a cool feature to have, but it will be low on our priority list, I think, since it's a pretty niche edge case.

[2015-11-11 18:42] basepi commented on #7924
@liquidgecka Can you test if @bbinet's theory is correct?

[2015-11-11 18:43] kaihowl commented on #28062
I had the same problem when for some reason I had mixed a pip and a Debian packaged based installation. I was able to clear up the problem by completely removing any salt packages and running a git and pip based installation with the bootstrap script.

[2015-11-11 18:43] basepi commented on #28707
I think this is already the case on linux. Are you experiencing otherwise?

[2015-11-11 18:45] cachedout commented on #28726
Fixed by #28758

[2015-11-11 18:45] #28726 closed

[2015-11-11 18:47] dmyerscough commented on #28732
@jfindlay @whiteinge can this be merged forward to 2015.8 and develop :)

[2015-11-11 18:48] cachedout commented on #27961
@ahammond Sorry to keep bugging you. Just checking in. :]

[2015-11-11 18:50] liquidgecka commented on #7924
Sorry, was busy with a bunch of other things. Let me test it out real fast

[2015-11-11 18:57] liquidgecka commented on #7924
It looks like its still removing it then replacing it...

[code]

This is on 2015.5.3+ds-1trusty1

[2015-11-11 19:15] basepi commented on #1038
No news, but thanks for the bump, I've put some eyes on it.

[2015-11-11 19:29] basepi commented on #7924
Thanks for the update.

[2015-11-11 19:56] chrigl opened #28783 "iptables.get_saved_rules does not handle family=ipv6"
```salt-call --local iptables.get_saved_rules family=ipv6```

returns the ipv4 rules, instead of the expected ipv6-rules.
This causes iptables-states to save all ip6tables-rules on each run, even when there are no changes.

Issue exists since the first version of modules.iptables supporting ipv6.

[2015-11-11 19:59] chrigl opened #28784 "iptables.get_saved_rules tests pretty much useless"
Testing of salt.modules.iptables.get_saved_results does not catch the real bug #28783. Test was introduced in 2015.8, so I filed this ticket and another pull-request.

[2015-11-11 20:03] efficks commented on #28707
@basepi If you look at issue #28604, on linux and Windows it seems that saltstack exists after 7 retries.

[2015-11-11 20:05] gravyboat commented on #28728
Fair enough, I'll close this out.

[2015-11-11 20:05] #28728 closed

[2015-11-11 20:07] gravyboat commented on #24049
@blueyed Yeah I just realized this didn't make it into the 2015.8.1 release.

[2015-11-11 20:14] nikatjef opened #28785 "Multiple returns from minions when multi-master is used."
Greetings,

I have looked at a number of issues like this on here and other sites and have not seen a true solution to the issue, instead most seem to focus on the different symptoms and not the under lying cause...  Unfortunately, that means none of the existing solutions has really fixed the problem. We first saw this issue in Salt 2014.1.10 and continue to see it in 2015.8.x

So the basic probl

[2015-11-11 20:20] kracekumar commented on #8647
Thanks @basepi and @jordanrinke increasing time out works.

[2015-11-11 20:28] scbunn opened #28788 "sall-call from minion appears to always initiate a highstate"
When I use salt-call on a minion it always triggers a highstate.  This didn't start happening until I upgraded from 2015.5.6 to 2015.8.1.

command:
[code]

salt-minion log
[code]

This appears to happen when I issue any type of salt-call command, not just when initiating state.sls.  I thought that this might be a reactor issue; however, I've disabled any minion start reactor events.  When calling

[2015-11-11 20:47] nmadhok commented on #28429
@cbuechler Please see the referenced PR for the fix. You can disable the customization of VM manually by specifying ``customization: False`` in the map file or profile for your VMs after you apply this patch on your server.

[2015-11-11 20:49] rallytime commented on #28429
Thanks @nmadhok!

[2015-11-11 20:51] jfindlay opened #28790 "add grains (and others?) to salt modindex"
`salt.grains` is not included in the [all modules index](https://docs.saltstack.com/en/latest/salt-modindex.html).

It would also be nice to have a homepage for grains, et al, like there is [for modules](https://docs.saltstack.com/en/latest/ref/modules/all/index.html) with some exposition on all the grains things, et al.

[2015-11-11 20:52] jfindlay commented on #28790
@rallytime, @jacobhammons

[2015-11-11 20:58] mostafahussein commented on #9018
@basepi i am getting the whitelist by calling config.get then matching the command that passed through `cmd.run` state module if its not there it return false as the screenshot above. It it was just one command for a demo. I will continue on this feature with more cases as possible.

Should I leave it as a whitelist where you allow specific commands only. Or make it as a blacklist where you will b

[2015-11-11 21:12] jfindlay commented on #28281
@ThomasZhou, thanks for the extra information.

[2015-11-11 21:18] #27658 closed

[2015-11-11 21:20] jimfunk opened #28792 "'pkg' __virtual__ returned False on 2015.8.1 under openSUSE leap 42.1"
I am using 2015.8.1 on openSUSE leap 42.1 from the packages provided in the default openSUSE 42.1 repo. It seems that pkg.installed is getting an error:

    Nov 11 21:15:16 salt salt-minion[13037]: [ERROR   ] State 'pkg.installed' was not found in SLS 'common'
    Nov 11 21:15:16 salt salt-minion[13037]: Reason: 'pkg' __virtual__ returned False

Here's the full minion log:

[salt-minion.txt](http

[2015-11-11 21:22] jfindlay commented on #28519
@vakulich, thanks for the extra info.  The best I can suggest at this point is to try 2015.8.1 as there have been updates to the service state and the loader.

[2015-11-11 21:31] jfindlay commented on #28438
@vakulich, @trevor-h, thanks for the extra work on this issue.  I have seen a [similar issues](https://github.com/saltstack/salt/issues/19249#issuecomment-153010455), which was fixed by #28545, but this issue is more strange as in that case the directory was already present between the check and the creation, whereas here it is not created at all.

[2015-11-11 21:34] ryan-lane opened #28793 "Enable ext_pillar for minions in master/minion mode"
When using secret management systems like Confidant, it's better for minions to fetch their secrets directly, rather than having the master fetch the secrets, then distribute them to the minions. It would be nice to be able to use ext_pillar on minions directly, even if in master/minion mode (it already works in masterless). In this mode it should merge the pillars from the master with the ext_pil

[2015-11-11 21:34] basepi commented on #28793
Which would take precedence?

[2015-11-11 21:34] jfindlay commented on #27792
@tiger-seo, have you investigated @sjwoodr suggestions?

[2015-11-11 21:35] ryan-lane commented on #28793
Ideally configurable. Default should probably be the minion overrides the master, since minion is more specific.

[2015-11-11 21:37] ryan-lane commented on #28793
https://github.com/hashicorp/vault/issues/323 is related

[2015-11-11 21:39] jfindlay commented on #28520
Thanks, @ClaudiuPID, we could add some more explanations and examples to the documentation.

[2015-11-11 21:41] jfindlay commented on #28338
@vitalyisaev2, we regularly create new releases on our release branches.  2015.8.2 is going to be released soon and develop will be forked in a few months to be come the Boron release.

[2015-11-11 21:43] basepi commented on #28707
Yes, but I think Linux restarts after those 7 tries. And that may be by design, I can't remember for sure. It's possible it was designed that way so everything would be reinitialized, including re-resolving the DNS and so forth. I'm not sure.

[2015-11-11 21:43] basepi commented on #28707
But we should investigate more.

[2015-11-11 21:44] basepi commented on #8647
I'm thinking we should probably increase the gather_job_timeout by default. It will increase the total time it takes the CLI to return for fast-running jobs when minions are offline, but may be worth avoiding issues such as this one.

[2015-11-11 21:46] cbuechler commented on #28429
Thanks @nmadhok and @rallytime! I'll give this a shot and report back, looks good at a glance though.

[2015-11-11 22:00] nmadhok commented on #28429
@rallytime @cbuechler No problem!

[2015-11-11 22:01] bocig opened #28794 "Hipchat returner doesn't support self hosted server"
It seems the hipchat returner code doesn't support self hosted hipchat server. Please add support for
custom "api_url".

api_url = 'https://api.hipchat.com' is hard coded in hipchat_return.py

Thanks!

[2015-11-11 22:03] DanyC97 commented on #28793
+100 this will indeed solve all my problems with ext_git + gpg (which has tons of issues)

[2015-11-11 22:06] makearl opened #28795 "beacons.modify and beacons.add not working for custom beacon"
When trying to run beacons.modify or beacons.add for a custom beacon, I get a Beacon does not exist error:

[code]

After digging into the code, it looks like these functions in [beacons.py](https://github.com/saltstack/salt/blob/d3643fc08b6f404e633193e4c953eb3a12a7652c/salt/modules/beacons.py) try to import the beacon from salt.beacons.<beacon name>. The custom beacon is not located in this modul

[2015-11-11 22:15] DanyC97 commented on #22082
this is great idea and honestly i'm on same side with @iggy, is not a big deal to get a github account should you want to contribute.
IS a minimal effort from the community to give back to Salt as a company/ project.

[2015-11-11 22:25] gravyboat commented on #22082
It's still a step that is required to provide feedback. I know that I wouldn't do that if I didn't already have an account. A great example of this lately was feedback for DO's new IP feature which I had feedback on and they asked me to submit to some service I would have had to sign up for which I did not do. If you want feedback you need to provide the lowest possible barrier to entry, and requi

[2015-11-11 22:27] makearl opened #28796 "Enabling and disabling individual beacons that use YAML block sequences ("- ") fails with no comment."
Enabling and disabling individual beacons that use YAML block sequences ("- ") fails with no comment.

Example of the problematic beacon configuration:
[code]

When the beacon is configured as above, we don't get any comment that it's wrong but salt does not apply the update:
[code]

If we change the beacon to use indented YAML notation, it works:
[code]

Is this the expected behavior? If so, I ca

[2015-11-11 22:31] DanyC97 commented on #28701
@rdutch can you also post the output of `salt --version-report`

[2015-11-11 22:38] fyb3r opened #28797 "__data__ and __tag__ not available in py rendered reactors."
After attempting to write a reactor file using the python renderer, I found that there is no way to access the event data from within it. At least not with pure python.

I am, however, able to access the **grains**, **opts**, and **salt** variables.

I reported this in IRC and was told that this is a bug and/or accidentally overlook and to put a report in for it.

If you need more data I can provi

[2015-11-11 23:03] rallytime commented on #26349
When this issue gets addressed, it should be noted that the limits from Linode's API states that their call limits are 240 requests per 2 minute period, however, in reality, the limit is actually 2 calls per second.

[2015-11-11 23:05] sjorge opened #28801 "salt.output.compact raises exception"
[code]

For reference here is the raw output
[code]

[2015-11-11 23:07] sjorge commented on #28801
Oops I missed it on my first search #18614 is already open.

[2015-11-11 23:07] #28801 closed

[2015-11-11 23:07] sjorge commented on #18614
Still hitting this on develop

[code]

For reference here is the raw output
[code]

[2015-11-11 23:17] ssgward opened #28802 "spm install duplicating folders in the /srv/spm/salt dir"
spm install <package> duplicating folders in the /srv/spm/salt dir

1. Set everything up to install a package (create_repo, update_repo, etc.)
2. Run ``spm install apache`` for example.
3. Go to the /srv/salt/spm dir. In the example above, there are two, nested apache folders ``srv/spm/salt/apache/apache/init.sls``

In order to get the state to run user must run ``salt '*' state.sls apache.apache`

[2015-11-11 23:20] jfindlay commented on #23271
@twisty7867, I have fixed these errors in #28803.  Are you able to test it?  Thanks.

[2015-11-11 23:24] jfindlay commented on #23873
@aphor, indeed.  There are some ideas to be explored here.  I created this issue at the request of @techhat.

[2015-11-11 23:33] jfindlay commented on #28170
Thanks, @dmurphy18.  I'll be sure to test this.

[2015-11-11 23:38] jfindlay commented on #23016
Ping, @rallytime, @techhat.

[2015-11-11 23:41] jfindlay commented on #28083
@chrismcmacken, part of the reason why it was rewritten. :-)  If you have a change that works, you are welcome to submit it against 2015.5, thanks.

[2015-11-11 23:54] jfindlay commented on #26856
@cachedout, no.  I think it could be an issue with the python caching of dependencies, because that is the only thing I didn't clean out in an attempt to narrow in/resolve this problem.

[2015-11-11 23:54] #26856 closed

[2015-11-11 23:55] fyb3r opened #28805 "syndic presence events are in an incorrect dict format."
Upon testing reactors within a syndic environment, the MastersMaster has the following inside /etc/salt/master.d/reactor.conf:

[code]

The errors from salt-master -l debug:

[code]

Here is the event in question, from running     `salt-run state.event pretty=True`    on the master:

[code]

My guess would be that instead of being passed the prettied up dict, the reactor is actually being handed t

[2015-11-11 23:59] jfindlay commented on #28641
@davidkarlsen, the version reported in the bootstrap output is the version of bootstrap itself.  Can you paste the output of `salt --versions-report` or similar?  Thanks.

[2015-11-12 00:01] jfindlay commented on #27155
@tampakrap, that would be great, thanks.

[2015-11-12 00:01] petarmaric opened #28806 "dockerng.push not working with private insecure registries"
When running:

[code]

I get the following error:

[code]

due to not passing the `insecure_registry` parameter to the `__context__['docker.client'].login` call in https://github.com/saltstack/salt/blob/v2015.8.1/salt/modules/dockerng.py#L868

Easy fix would be to just pass the `insecure_registry` parameter, but please note that the docker-py's `login()` is depreciating the `insecure_registry` par

[2015-11-12 00:04] jfindlay commented on #28640
@dsumsky, I am suggesting trying salt version 2015.8.1 for the master or a minion or both.

[2015-11-12 00:14] rallytime commented on #28466
Good! Glad there is at least an easy work around. I am going to close this as a duplicate of #26699.

[2015-11-12 00:14] #28466 closed

[2015-11-12 00:18] petarmaric commented on #28806
Seems that not calling docker-py's ``login()`` when ``insecure_registry`` is ``True`` should be the norm, as per https://github.com/docker/distribution/blob/master/docs/deploying.md#native-basic-auth:

[2015-11-12 00:31] cachedout commented on #26856
@jfindlay Thanks.

[2015-11-12 00:36] bocig opened #28807 "pkg.installed fails under 2015.8.1 with "-" in the key name"
There seems to be a bug in 2015.8.1 with pkg.installed when there is a "-" in the name of the source package key. For example

[code]

[code]

My understanding is that the problem is with this line:

[code]

because of the '-' in the key.

Thanks!

[code]

[2015-11-12 01:32] whiteinge commented on #28732
Sounds like there will be a merge-forward tomorrow. Though I have been
given the impression it may be possible to _speed_ this process by
pledging delivery of SaltConf beers to @rallytime.

[2015-11-12 01:42] timcharper commented on #4348
@rallytime Regarding the above referenced patch: I've tested locally and have confirmed fixes the issue for me. With it, I can use `tpldir` for formulas in any folder, including ones in the top-level root directory, `/srv/salt`.

[2015-11-12 01:48] dmyerscough commented on #28732
Ahh OK, I didn't know if the merge-forward was automatic.

[2015-11-12 01:51] hubez commented on #27152
@Ch3LL I did a simpler setup. I followed: https://docs.saltstack.com/en/latest/topics/tutorials/multimaster.html

I have open authentication where the master will accept any minion connecting.
And I give both my servers the same private keys by just copying them.

[2015-11-12 02:13] whiteinge commented on #28753
Targeting is so integral to how Pillar is generated I can't think of a way to mix-and-match file/git-based Pillar with an ext_pillar module in a generic way without a large feature addition to Salt. I have very two broad suggestions, hopefully there's a kernel of inspiration:

== Suggestion 1

A technique I have used on a couple occasions that required a "more flexible pillar than pillar" is to st

[2015-11-12 04:09] cedwards commented on #28753
This could be a viable alternative in my use-case, if we can get the PR filled: https://github.com/saltstack/salt/issues/22957

[2015-11-12 04:38] ryancurrah opened #28809 "salt-minion and salt-master displaying traceback when started (saltdev)"
I'm trying to setup a salt dev environment on centos67 x86_64 vagrant box. I'm getting an issue very similar to https://github.com/saltstack/salt/issues/26672. I cloned and checked out develop which has supposedly fixed the issue linked and still getting the same issue. Any idea what I could do to troubleshoot?

Run the salt-master in daemon mode..

[code]

Vagrant salt dev provisioning script...

[2015-11-12 04:48] syedaali opened #28810 "test.ping is not available"
When I run test.ping from the master, I get the below error on the master:
[code]
Basically test.ping works for the master from the master, but does not work on any minion from the master. This may be related to #28761 .

When I check /var/log/salt/minion on the minion I see the below error:
[code]
I installed salt-minion on the minion using salt-cloud. My providers file has:
[code]
[code]
[code]

[2015-11-12 05:18] ryancurrah commented on #28809
Ah never mind the process still runs in the backround but I always get this error when running both minion and master... not sure if it's bad thing but minion master works.

[code]

[2015-11-12 05:18] #28809 closed

[2015-11-12 05:20] #4348 closed

[2015-11-12 06:23] whiteinge commented on #28753
Follow-up on our Google Chat chat:

Using the Python renderer in a top file is a potential alternative to master tops but it works with all Salt versions and for states and Pillar. The contract is only that the data structure you return must be in the expected top file format.

An example `/srv/pillar/top.sls` using the Python renderer would look like this:

[code]

Notes:

* Run a regular YAML to

[2015-11-12 06:57] VynceMontgomery commented on #26605
I suspect this is related to https://groups.google.com/forum/#!topic/salt-users/x-3zCIA_s4w which was at the time linked to two other bugs, both now closed but in ways that clearly didn't affect this issue.  @ryanwalder can you check if your tests work if you use what is currently the -name onto the id line?

[2015-11-12 07:43] kracekumar commented on #8647
As of now, once minion doesn't report, master stops trying. How about min retry of n times in x interval ?

[2015-11-12 07:53] DanyC97 commented on #22082
@gravyboat right but the way i'm thinking is in terms of _baby steps_
* 1st get the feedback out asap even if that require GitHub account, is no brainer to enable it, minimal effort
* 2nd based on lessons learned lower the barrier and get rid of the GitHub account, requires more design around it i believe

Currently the barrier is higher and we need to gradually lower it ..my £0.002

[2015-11-12 07:58] bbinet commented on #7924
@liquidgecka can you show your sls state?

[2015-11-12 07:59] gravyboat commented on #22082
@DanyC97 I think that's pretty fair and agree it would be easy to add a 'have feedback? Report it to us!' and a link directly to the new issues. I just want to make sure that this isn't the only step taken as it isn't sufficient to get the sort of engagement that is needed from your average user of the docs.

[2015-11-12 08:07] DanyC97 commented on #22082
:+1:

[2015-11-12 08:14] gravyboat commented on #22082
Hmm, I just double checked what that process would look like while not logged in (realized I've never even navigated to the repo without being logged in) and it's actually a pretty crappy user experience:

![github_new_issue](https://cloud.githubusercontent.com/assets/1396878/11113490/44c2c37a-88d2-11e5-9b09-ef48ce7dfc37.PNG)

There's no prompt to create an account, all you can do is log in.

[2015-11-12 09:03] mortis1337 commented on #25926
+1

we really need this :)

[2015-11-12 09:04] rsuarezsoto commented on #9018
Personally, I would love having both a blacklist and a whitelist. But if only one of them is possible, I'd prefer a whitelist.

[2015-11-12 09:07] lburg commented on #27267
Hi, I get the same error running a highstate with a `service.running` state. I'm running salt-minion 2015.8.1 installed using the bootstrap-salt.sh script, and salt-master 2015.8.1 installed through `repo.saltstack.com`. Both the minion and the master are running on Debian. If I open `salt/utils/__init__.py`, I do see the `to_str` function at line 2776. Also, running the highstate a second time yi

[2015-11-12 09:13] rusvdw commented on #28766
I've managed to get a working installation together by trawling through the github issues. This time I installed salt-master using the Ubuntu package instructions instead of the method described in the getting started guide. Even then, an old version of salt-minion was installed when I tried to use salt-cloud and the whole thing died with "master_type: str causes minion to fail to start" errors on

[2015-11-12 09:13] arthurlogilab commented on #28303
On top of that if you don't want to get the following bug https://github.com/getsentry/raven-python/issues/339 (filed by @s0undt3ch ) you have to add ```?timeout=10``` (or another number) at the end of the dsn string.

[2015-11-12 09:37] multani opened #28813 "boto_route53.present state should have a way to specify multiple IP for a A record"
route53 console has a simple way to specify manually a A record towards several IP addresses, although the API seems a bit more complicated as shown here : http://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeResourceRecordSets_Examples.html

I'm willing to make a patch, although I'm not sure how to update the boto_route53 module? I originally wanted to make something simple like this:

[2015-11-12 09:42] mostafahussein commented on #9018
I maybe able to make both black and white lists but what if you have a
command* that doesn't belong to any of these lists ? Should I consider it
blacklisted by default unless you want to run this command* through
`cmd.run`

*Note: by command i mean the whole line that include the command options
and arguments as in `echo "foo"` or `rm -rf MyDir`

If you have anyother cases feel free to share it wi

[2015-11-12 09:46] rsuarezsoto commented on #9018
@mostafahussein yes, I'd consider everything blacklisted by default, unless explicitly added to the whitelist. Just make the whitelist optional for those who need to execute many different commands.

Thanks for your effort, by the way!

[2015-11-12 09:48] cybacolt commented on #18630
incidentally i got around this by adding an onlyif to test for nfs at the mountpoint... (this if probably only useful if your options *don't* change often):
[code]

[2015-11-12 09:50] peter-slovak opened #28814 "The "virtual" grain detection with virt-what on LXC incorrectly yields "physical""
I remember something similar has already been discussed in #15846, but the fix only works if at least one other method of detection succeeds. However, in LXC containers that are only able to work with virt-what, the result is "physical".

I believe it is sufficient to add 'lxc' into the tuple in https://github.com/saltstack/salt/blob/develop/salt/grains/core.py#L569 (of course I can create a PR if

[2015-11-12 09:55] damon-atkins commented on #9018
Hi all Its a good idea to be able to restrict it.   I assume you mean if  you have white list, its the only commands you can run.   (some sort of pattern matching list).
If you have a blacklist you can run anything which does not match.   If both files existed, then you would need to match on the whitelist, and not match on the blacklist.

[2015-11-12 12:11] rasathus opened #28817 "Apt 'could not get lock' only via salt"
Im experiencing some very strange behaviour provisioning new Ubuntu 14.04 machines.  Im using the latest vagrant box image "v20151110.0.0", to which I am adding the salt repository "http://repo.saltstack.com/apt/ubuntu/ubuntu14/latest trusty main" and have installed salt version '2015.8.1+ds-1'.

The logs from running highstate are riddled with errors, but they seem to be focused mainly around fai

[2015-11-12 12:17] rasathus commented on #28817
The duplicate output from the cmd.run intrigued me, so I had a look through the master logs and found something odd...

[code]

Even when running  the command in a targeted fashion I get a duplicate response ...

[code]

[2015-11-12 12:26] WalterInSH commented on #28350
@cro I dont have /etc/salt/master.d

[code]

[2015-11-12 12:29] WalterInSH commented on #28350
@cachedout @basepi
[code]

[2015-11-12 13:39] sivann commented on #28643
@dmurphy18 It is old, but we use salt to monitor about >1000  remote small industrial PCs. Those machines will never upgrade, so if it is possible we would like squeeze to continue to be supported if there is no reason to stop. Or perhaps with a less frequent update schedule. Thank you,

[2015-11-12 13:42] rdutch commented on #28701
The version was 2015.8.1

[2015-11-12 13:50] sivann commented on #27437
May I suggest you consider fpm (https://github.com/jordansissel/fpm/wiki) for your packaging needs (rpm, deb) as it may simplify your life as it did mine.

[2015-11-12 13:53] rafaeljusto commented on #18652
Is this PR already in v2015.8.1 release? I'm having the same problem trying to update a package.

[code]

[2015-11-12 14:05] tomasfejfar commented on #18630
cc: @thatisgeek

[2015-11-12 14:09] lorengordon commented on #9018
Is there a link to the code? I was wondering whether the whitelist (or blacklist) required an exact match, or if it was a list of regex patterns.

[2015-11-12 14:30] RobQuistNL opened #28819 "NPM: Installing global packages contains a slow check"
When installing global NPM modules, the salt script runs "npm list --silent --json --global" for every global package. This is not needed - this function takes rather long and if only called once will speed up the process. I'm not sure if this can be fixed properly, but calling it once and caching it would speed up the total process quite a lot - allthough i understand if it _needs_ to be called,

[2015-11-12 15:12] mostafahussein commented on #9018
Hello loren, unfortunately I haven't pushed the code to github yet, i will try to make it available as soon as possible.

and for your question yes currently it search for an exact match , i will try to make it support for regex patterns too so you can block a specific command without worring about the rest of the line , like if you want to block `rm` for example

[2015-11-12 15:19] pure1-sre opened #28821 "Do not provision a public ip address (not elastic IP, but interface public IP)"
Is there a way to specify in /etc/salt/cloud.profiles.d/my-ec2-profile.conf that salt-cloud should not provision a public IP for an EC2 instance?  I am using the below settings, but the instance still comes online with a public IP address: (AssociatePublicIpAddress may be for an Elastic IP)

 network_interfaces:
      - DeviceIndex: 0
        PrivateIpAddresses:
          - Primary: True
        A

[2015-11-12 15:40] DmitryKuzmenko commented on #28350
@WalterInSH just a crazy thought, what shell do you use? Isn't it possible your shell resolves the wildcard? Do you use surround the wildcard with quotes?

It's simple to check it by perform two commands: 1. prepend ```sudo salt...``` with ```echo``` command ```echo sudo salt....``` 2. insert echo after sudo: ```sudo echo salt...``` and place the result here.

My thought is based on the following

[2015-11-12 15:45] HerrBerg opened #28822 "saltenv url-parameter not working in file.managed for salt:// sources since 2015.8"
Until 2015.5 this feature was working fine:

[code]

Since 2018.8 the source file is not found anymore.
When I use 'env' instead of 'saltenv' a DeprecationWarning is returned that I should use 'saltenv' instead, but the file is not found either.

[2015-11-12 15:55] ryanwalder commented on #26605
Ok, so it's partially resolved.

It now works as expected with you manage a file directly (adds file, does not delete)
[code]

[code]

However it does not work as expected if salt creates the file (pkgrepo.managed adds the file, file.directory clean removes the file)
[code]

[code]

[2015-11-12 16:35] rafaeljusto commented on #18652
Forgive me, I'm using Salt Stack from repository http://ppa.launchpad.net/saltstack/salt/ubuntu and is still in version 2015.5.3. I will try to update it and the problem will be probably solved. Thanks!

[2015-11-12 16:45] rallytime commented on #28821
@pure1-sre Can you also post the output of `salt-cloud --versions-report`? I feel like there is a way to do this, but I can't remember/find that option just now.

[2015-11-12 17:01] pure1-sre commented on #28821
I have also tried to spin-up instances in private subnets in my VPC, but they are still getting a public IP along with a private IP.

$ sudo salt-cloud --versions-report
Salt Version:
            Salt: 2015.8.1

Dependency Versions:
 Apache Libcloud: 0.15.1
          Jinja2: 2.7.2
        M2Crypto: Not Installed
            Mako: 0.9.1
          PyYAML: 3.10
           PyZMQ: 14.4.0
          Pyth

[2015-11-12 17:08] rallytime commented on #28821
@techhat Do you remember if there is a way to do this?

[2015-11-12 17:30] ahammond commented on #27961
Tested and it works. Sorry for the delay:

[code]

[2015-11-12 17:57] jacksontj commented on #28549
PR #28827 opened with the fix. @jfindlay was correct-- __modules__ was being called which is an undefined variable. There was also a bug in the loaders "virtual_timer" which I've also submitted a patch for.

[2015-11-12 17:58] basepi opened #28828 "salt-ssh doesn't package tornado's new deps in the thin"
[code]

singledispatch, backports_abc, singledispatch_helpers

[2015-11-12 17:58] #28828 closed

[2015-11-12 17:58] ldelossa commented on #28549
Great job guys!

On Thu, Nov 12, 2015 at 12:57 PM, Thomas Jackson <notifications@github.com>
wrote:

[2015-11-12 17:58] basepi commented on #28828
Fixed in #28826

[2015-11-12 18:03] fcrozat opened #28830 "non-standard umask breaks salt-ssh deployement"
With umask 0133, salt-ssh is not able to properly deploy its archive, due to tar being expanded without changing system umask.

[2015-11-12 18:25] basepi commented on #8647
That's not correct, actually. Or it shouldn't be. What happens is the master sends a job to the minions. It then waits `timeout` seconds for the minions to return. If not all minions have returned, it sends a `saltutil.find_job` command to the minions to see which minions are still running the job. That secondary job has a timeout as well, `gather_job_timeout`. If minions reply that they are still

[2015-11-12 18:56] pure1-sre commented on #28821
I think I found the solution, basically I thought I was deploying the AWS EC2 instance in a private subnet, but I was not, and that is why AWS was assigning a public IP. Once I changed the subnet-id to be  one that is truly a private subnet, AWS did not assign a public IP to it. I don't think we need anything on the salt-cloud end here.

[2015-11-12 18:56] #28821 closed

[2015-11-12 19:01] rallytime commented on #28821
Oh, awesome! I'm glad you got it figured out! :)

[2015-11-12 19:04] mscherer opened #28835 "user.present react badly if fullname contain a comma"
I just found out that the following snippet will fail:

[code]

Since the fullname contains a comma, applying this state several time result into this:
[code]
I assume that fullname should be checked for ',' since this is used as a separator.
[code]

I didn't tried on newer version

[2015-11-12 19:58] cedwards opened #28838 "FX2 proxy-minion feature - capture more detailed grains"
We're using the FX2 proxy minions and we've discovered that much of the information gathered by the ``inventory`` and ``system_info`` commands are great candidates for grains data. Hopefully this is something that can be gathered at startup in the future.

[2015-11-12 20:01] Ch3LL commented on #28838
ZD-522

[2015-11-12 20:15] aboe76 commented on #24019
@jfindlay I have found more people with this issue:
https://bugzilla.novell.com/show_bug.cgi?id=954135

could you help me resolve this?

[2015-11-12 20:26] Ch3LL commented on #27152
@hubez thanks for the additional information. I tested on the head of 2015.8 which includes the fix for multi master and I am still seeing the same issue, but some differences in your initial issue report.  So unfortunately it appears there is a bug in failover multi-master.

Here is my output form `salt-minion -l debug`:

[code]

As shown above my salt-minion process on the head of 2015.8 gets st

[2015-11-12 22:15] cachedout commented on #26051
The TCP tests are now fully back online and passing. Closing issue. Thanks everyone.

[2015-11-12 22:15] #26051 closed

[2015-11-12 22:27] Snergster commented on #19963
@cachedout this fix is working for me just fine.   One thing for those of us living in multimaster land if you could verify issues like this in the future with
master:
  - mastera
  - master

master_shuffle: True
master_type: failover

vs a directed --master call that would be great..seen more then a couple issues now that don't properly repro with directed --master calls

thanks much for nailing

[2015-11-12 22:44] sjorge opened #28845 "minions not loading modules from returners_dirs (develop)"
I have the following in my minion config:
[code]

Since this is my dev box it is running masterless for easier testing of a lot of stuff, also why I am loading extra modules to improve development speed.

exec modules and state modules are loaded file, returners however are not. I never picks them up at all.

[2015-11-12 22:56] cachedout commented on #19963
@Snergster Glad things are working well.

@Ch3LL Could you please ensure the scenario that's described above is tested upon each release?

[2015-11-12 23:05] Ch3LL commented on #19963
@cachedout yeah i'll add it to the tests :)

[2015-11-12 23:08] b225ccc opened #28847 "Add option to salt.states.keystone.user_present to not overwrite existing password"
This should have been put up for discussion first, but a pull request is [here](https://github.com/saltstack/salt/pull/28846).

It would be common for user's to set their passwords via the OpenStack Horizon GUI after it's set initially by an admin.  This new option would allow the password to be set initially when the user is created, but it would not reset the password after the user already exis

[2015-11-12 23:13] #22141 closed

[2015-11-12 23:35] rallytime commented on #26051
:balloon: :+1: :tada:

[2015-11-13 04:30] syedaali commented on #27152
I am encountering a similar problem but I have a single master, the minion hangs randomly.

root@ip:~# service salt-minion stop
salt-minion stop/waiting
root@ip:~# salt-call state.highstate -l debug
[DEBUG   ] Reading configuration from /etc/salt/minion
[DEBUG   ] Including configuration from '/etc/salt/minion.d/_schedule.conf'
[DEBUG   ] Reading configuration from /etc/salt/minion.d/_schedule.con

[2015-11-13 05:50] amfarrell commented on #11824
I notice that https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.state.html#salt.modules.state.sls_id now seems to indicate that this exists.

[2015-11-13 08:11] jjc001 commented on #13216
I am getting the same problem with the orchestrate runner when timeouts occur with long running formulas  and with minions not responding with version Beryllium 2015.8.1 Can this issue be re-opened?

[2015-11-13 09:12] DmitryKuzmenko commented on #28350
Also please start master with debug logging enabled and execute the command. Find something like this in the log and attach here.
[code]

[2015-11-13 09:54] justin8 commented on #25026
I had this issue crop up a few hours ago; It was running against 8 machines, and half way through the 5th machine it failed 15/70 states and had this error, then the remaining 3 only had this error, no state information at all.

[2015-11-13 10:26] zer0def opened #28852 "Attempts at using mine over salt-ssh result in KeyError: 'master_job_cache'"
The entirety of my attempted salt-mine usage is within the exception log. Target machines are Ubuntu 14.04.

[code]

[code]

[2015-11-13 12:00] tiger-seo commented on #27792
@jfindlay as i sad previously, the same problem appeared on both our environments, for sure it was not about disk free space or inodes ;)

[2015-11-13 12:42] tampakrap opened #28854 "inconsistency between os* grains in various SLE distros"
As seen below, there is quite some mess on the os\* grains in SLE distros:
- SLE11SP3:

[code]

[code]
- SLE11SP4:

[code]

[code]
- SLE12:

[code]

[code]

[2015-11-13 12:42] tampakrap commented on #28854
see also https://github.com/saltstack/salt/issues/28855

[2015-11-13 12:46] tampakrap commented on #28854
if needed, I can provide more output from additional distros (openSUSE, SLED, the upcoming SLE12SP1 etc)

[2015-11-13 14:34] jbq commented on #28693
Here it is:

[code]

[2015-11-13 15:47] terminalmage commented on #28728
Thanks @ticosax for addressing this, I was out on vacation this week.

[2015-11-13 15:51] terminalmage commented on #28620
You really shouldn't ever need to interact with the directories managed by gitfs or git_pillar, I'm puzzled as to why you were doing so.

[2015-11-13 15:52] cro commented on #28838
This will make it into 2015.8.2.

[2015-11-13 15:58] lomeroe commented on #25127
@relopezz try using "ip_protocol: all"

[2015-11-13 15:59] jakehilton commented on #28620
Because I can't get them to work properly without some sort of a push. Is it normal to have to tell each node to refresh pillar data when it's set to use ext_pillar? I would think/hope it would get the latest in the repo automatically.

I'm also puzzled as to why it's not more automatic.

[2015-11-13 16:00] lomeroe opened #28858 "boto_secgroup.present attempts to validate tags/rules if the group does not exist and test=True"
When running boto_secgroup.present with test=True, if the group does not exist, the state continues to attempt to check rules/tags, which leads to the state returning 'False'

[2015-11-13 16:01] mhoogendoorn opened #28859 "ebuild.install runs `refresh_db()` when `refresh=False` is given."
Furthermore if `refresh=True` is given, `refresh_db()` is called twice.

1. If I pass `refresh=False` (the default):
    * What I expect: No syncing of the portage tree should take place
    * What happens: The portage tree is synced.
2. If I pass `refresh=True`:
    * What I expect: The portage tree is synced (once).
    * What happens: The portage tree is synced two times in a row.

Steps to rep

[2015-11-13 16:03] dmurphy18 opened #28861 "Build Salt SSE 4.1.1 for Redhat 5, 6, 7 and Ubuntu 14"

[2015-11-13 16:31] trevor-h opened #28862 "salt-cloud uppercase timeout options no longer recognized"
The timeout options such as 'WAIT_FOR_PASSWD_MAXTRIES' found in https://docs.saltstack.com/en/latest/topics/cloud/misc.html#connection-timeout are no longer recognized in salt 2015.8.1 in either provider or profile configurations.

Per the current documentation and in previous Saltstack releases this was accepted. I've tested lower case 'wait_for_passwd_maxtries' and this does work. Ideally the re

[2015-11-13 16:33] joshughes commented on #28311
Unfortunately we do need ssh authentication so GitPython is not an option

[2015-11-13 16:44] terminalmage commented on #28620
git_pillar and gitfs remotes are refreshed in a "maintenance" process which does all its tasks and then sleeps for 60 seconds (this number is configurable via the ``loop_interval`` master config value). It's not really feasible to make it "automatic", as we'd be fetching every time you try to do something in Salt. It is possible via Salt's reactor system to use a git post-receive hook to trigger a

[2015-11-13 16:57] jakehilton commented on #28620
Please pardon my misunderstanding.. I was under the impression that every 60 seconds salt would refresh the remote server backends. So that when a state.highstate was run on the minion the pillar data would be fresh.. aka I wouldn't have to manually tell each minion that they should refresh the pillar data from git. This somewhat defeats the purpose of an automated system. In order to get my data

[2015-11-13 17:07] terminalmage commented on #28620
You only need to do so if you want the new pillar data in that interval of time between when you push to the repo and the next time the repo is updated.

[2015-11-13 17:10] terminalmage commented on #28620
Similarly, you only need to do a ``salt-run fileserver.update`` if you want access to changes pushed to a gitfs remote during the interval of time between the push and the next automatic fileserver update.

[2015-11-13 17:12] cachedout commented on #28817
@rasathus Are you positive you aren't running multiple copies of the salt-minion daemons at the same time?

[2015-11-13 17:13] jakehilton commented on #28620
And therein lies the issue. I've waited upwards of 10 minutes and the minions never refresh the pillar data unless I explicitly signal them to do so. I'll revisit my configs and tests but what you described is what I expected.

[2015-11-13 17:16] #27537 closed

[2015-11-13 17:18] basepi commented on #11824
Nice! It does indeed appear to be implemented. Thanks for the find, @amfarrell

[2015-11-13 17:18] #11824 closed

[2015-11-13 17:19] #28830 closed

[2015-11-13 17:23] basepi commented on #13216
No update yet, unfortunately.

[2015-11-13 17:28] terminalmage commented on #28620
OK, if it is not updating, that is not expected behavior. If you can produce a reproducible use case, I'd be happy to help troubleshoot.

One thing you might want to do is look at the master log and see if there are errors with updating your gitfs/git_pillar remotes.

[2015-11-13 17:40] davegiles opened #28866 "errors installing salt on amazon linux 2015.09.1 using steps from repo.saltstack.com"
[untitled.txt](https://github.com/saltstack/salt/files/34192/untitled.txt) ssh log from install...

followed steps from http://repo.saltstack.com/#rhel (rhel 7 specifically) and receive errors:

Error: Package: salt-2015.8.1-1.el7.noarch (saltstack-repo)
           Requires: systemd-python
Error: Package: salt-master-2015.8.1-1.el7.noarch (saltstack-repo)
           Requires: systemd-python
Error:

[2015-11-13 17:47] vigneshsarma commented on #27871
@jfindlay Any updates on this? Any workaround?
Just hit this issue today.

[2015-11-13 18:50] lorengordon commented on #28866
Pretty sure Amazon Linux is based on el6, not el7.

[2015-11-13 18:56] jfindlay commented on #28754
@kt97679, thanks for the report.  Is there any more debugging information you can provide?  Do other states work on your xen server?  Is it possible for you to post the state you're using?  What operating system is the xen server using?  Does `service.disabled` work?  Is the xen server running systemd?

[2015-11-13 19:00] jfindlay commented on #28761
@syedaali, thanks for the report.  Did these begin to happen recently, with an upgrade, for example?  Have you modified the salt source code in any way?  Did you install salt from git/pip?

[2015-11-13 19:04] syedaali opened #28868 "salt-minion hangs randomly"
salt-minion appears to hang randomly, restarting salt-minion service or even the AWS instance on which it is running is not helping. I have had to terminate the instance and create a new one since I could not find any other way of getting it to work.
[code]

[2015-11-13 19:05] davegiles commented on #28866
thanks lorengordon, tried el6 process and worked just fine.  closing...

[2015-11-13 19:05] #28866 closed

[2015-11-13 19:05] syedaali opened #28869 "salt-cloud install_ubuntu_git() is using a "to be deprecated" option"
When attempting to install an AWS instance from salt-cloud here is one the warning messages:
[code]
I am installing salt-minion from the git repo on version 2015.8.1.
[code]
[code]

[2015-11-13 19:13] jfindlay commented on #28763
@cybacolt, thanks for the report.  I'm not sure if it matters, but the `fqdn_ipv4` list is returned in green text and the `saltversioninfo` is bold yellow text.

[code]
[code]
[code]
[code]
[code]

[2015-11-13 19:18] jfindlay commented on #28766
@rusvdw, thanks for the report.  The updated bootstrap script will be included in 2015.8.2, which is coming out in a few days.  Did `salt-cloud -u` fix the issues you were having?

[2015-11-13 19:19] jfindlay commented on #28767
@rterbush, thanks for the report.

[2015-11-13 19:19] basepi opened #28870 "mdadm commands failing"
From a salt-users thread:

I'm trying to create a raid0. All attempts fail except my home grown cmd.run.

I find two different salt.state.mdadm documents with different examples and each fails in different ways.
The only difference in my state file from the example is I'm specifying raid 0 and my specific devices.

I really want to use provided states instead of rolling my own via a cmd.run.
Would

[2015-11-13 19:20] basepi commented on #28870
Appears to be an issue with the python_shell=False change. Notice the nested list in the command list:

[code]

Fix incoming.

[2015-11-13 19:24] jfindlay commented on #28769
@shencan, thanks for the report.  This is a duplicate of #27219.

[2015-11-13 19:24] #28769 closed

[2015-11-13 19:26] jfindlay commented on #28770
@clinta, thanks for the report.  What version of salt are you using?

[2015-11-13 19:28] kt97679 commented on #28754
Hi @jfindlay.

Other states worked ok.
Xen server version is: Citrix XenServer Host 6.5.0-90233c
This xen server is not running systemd.
I didn't checked system.disabled.
Please find below diff (salt/modules/rh_service.py) that fixed issue for me.
<pre>
***************
*** 44,49 ****
--- 44,50 ----
      '''
      # Enable on these platforms only.
      enable = set((
+         'XenServer',

[2015-11-13 19:28] jfindlay commented on #28773
@alektant, we have no plans to support Windows XP as it is no longer supported by Microsoft, but thanks for filing the issue anyway.

[2015-11-13 19:35] alektant commented on #28773
@jfindlay totally understandable. Thanks for letting me know.

[2015-11-13 19:35] jfindlay commented on #28779
@sjorge, thanks for looking into this.  I am unsure what you mean by creating a provider for zfs.  If the zfs/zpool code needs an update, you are very welcome to deprecate functions and arguments and rewrite things in a better layout.

[2015-11-13 19:38] jfindlay commented on #28780
@fportillo-daitan, thanks for the report.

[2015-11-13 19:39] jfindlay commented on #28781
That would be excellent, thanks, @sjorge.

[2015-11-13 19:40] jfindlay commented on #28783
@chrigl, thanks for working on this.

[2015-11-13 19:41] jfindlay commented on #28784
@chrigl, thanks for your work on this.

[2015-11-13 19:44] clinta commented on #28770
[code]

[2015-11-13 19:46] jfindlay commented on #28754
@kt97679, excellent.  Would you mind submitting a pull request against 2015.8?  If not I can do it.

[2015-11-13 19:53] fportillo-daitan commented on #28780
yrw

[2015-11-13 20:00] jfindlay commented on #28788
@scbunn, thanks for the report.  This is an interesting problem.  I am wondering whether there could be any other artifacts left over from/after the upgrade.

[2015-11-13 20:05] pitatus opened #28872 "bad error/warning message, 'You should upgrade pyOpenSSL'"
I have found a few salt.module calls that do not work for Debian based OS's, complaining `You should upgrade pyOpenSSL` to a version that is one version higher than is installed on the box.  For example, I have tested with the following distro versions and version of python-openssl/pyOpenSSL:

[code]

using these module functions which fail (mostly likely others):

[code]

The RedHat based distros

[2015-11-13 20:07] #28859 closed

[2015-11-13 20:23] Ch3LL commented on #28785
@nikatjef thanks for the report. Does this behavior occur every time you run a command against your minions?

There was some work done on multi master to fix the following issue: #21744 and the fix is located here: #252 . Although this issue is different from your problem with multi-master I did some testing to make sure this new fix was working and in my testing i did not see multiple returns fro

[2015-11-13 20:40] jfindlay commented on #28788
@scbunn, as suggested by @UtahDave, the minion may think that it is already in the middle of a highstate run.  You could try restarting the minion and possibly clearing out `/var/cache/salt/master/proc'
'/var/cache/salt/minion/proc` as appropriate.

[2015-11-13 20:52] chjohnst opened #28875 "salt minion failover"
I am using the new version in the salt repo for RHEL7 and I am seeing some weird behavior.  When using a configuration with "str" for a hot-hot setup, if both of my masters are up when the minion is started it will connect to both of them no problem and they respond to test.ping commands.  When I shutdown one of the masters, the minion will still respond to test.ping commands.  However, if one of

[2015-11-13 20:54] jfindlay commented on #28792
@jimfunk, thanks for the report.  This is probably fixed by #28672.

[2015-11-13 20:58] chjohnst commented on #28875
Also seeing this on one of my masters

2015-11-13 15:54:34,696 [salt.config      ][ERROR   ][52503] Error parsing configuration file: /etc/salt/minion.d/_schedule.conf - could not determine a constructor for the tag 'tag:yaml.org,2002:python/object:tornado.concurrent.Future'
  in "<string>", line 7, column 15:
          master: !!python/object:tornado.concurre ...
                  ^
2015-11-13 15

[2015-11-13 21:00] jfindlay commented on #28770
@clinta, I think there were some scheduler things fixed in 2015.8.2, which is coming out soon, but I don't know for sure if this would be related.  Do you know, @garethgreenaway?

[2015-11-13 21:03] chjohnst commented on #28875
2015-11-13 16:02:48,682 [salt.transport.zeromq][ERROR   ][53963] Bad load from minion
2015-11-13 16:02:53,684 [salt.transport.zeromq][ERROR   ][53956] Bad load from minion
2015-11-13 16:02:58,682 [salt.transport.zeromq][ERROR   ][53966] Bad load from minion

[2015-11-13 21:03] garethgreenaway commented on #28770
Nothing that I know of that should have caused this.  Will take a look.

[2015-11-13 21:17] dmurphy18 opened #28876 "Revise salt-pack infrastructure and mode of operation for Debian similar OS"

[2015-11-13 21:17] rterbush opened #28877 "reactor triggered state fails with "no attribute 'id'""
Triggering a reactor SLS file from a 'salt/minion/*/start' event and am hitting this error.

The state file:

[code]

And the error log:

[code]

salt --versions:

[code]

[2015-11-13 21:30] garrickp commented on #13263
As an FYI, this is failing when using only the shebang as well:
[code]

Upgraded and restarted everything.

[2015-11-13 21:31] jfindlay commented on #28794
Thanks for the feature request, @bocig.

[2015-11-13 21:54] #28870 closed

[2015-11-13 22:02] pitatus commented on #28872
testing with OpenSUSE 13.2 and Salt ``2015.8.1 (Beryllium)``, package ``python-pyOpenSSL`` version is ``0.15.1-2.2`` and also fails but with different result:
[code]
Comparing to CentOS7 which works:
[code]

[2015-11-13 22:24] terminalmage commented on #27443
My patch, along with the new "profile" loglevel that @SEJeff and I discussed, have been added in https://github.com/saltstack/salt/pull/28880. Closing.

[2015-11-13 22:24] #27443 closed

[2015-11-13 22:30] ngrennan-inflection commented on #28526
I was experiencing this bug on CentOS 7. The patch fixes it for me.

How is there not test coverage on this?

[2015-11-13 23:10] #25775 closed

[2015-11-13 23:10] #28199 closed

[2015-11-13 23:10] #28429 closed

[2015-11-13 23:10] #28692 closed

[2015-11-13 23:10] #28783 closed

[2015-11-13 23:10] #8647 closed

[2015-11-13 23:17] basepi opened #28881 "salt-ssh stacktraces on first run"
[code]

Subsequently works.

Seems to be caused by https://github.com/saltstack/salt/pull/28638, just need to check the type of the return to make sure it's actually a dict.

[2015-11-13 23:34] ldelossa opened #28883 "Issues running select states - local variable 'salt' referenced before assignment"
Hey guys,

I just bootstrapped a minino and a state I ran 100 times before simple does not work.
[code]
[code]

[code]

[code]

Looks like it's surrounding the file.managed state. No other states seem to have an issue.

[2015-11-13 23:55] nikatjef commented on #28785
The behavior as a whole does appear to happen every time for the Salt Syndic / Master boxes.

The Salt Minions (reporting to those Salt Syndic / Master boxes) also appear to behave this way, but not quite as consistently.  I suspect that the lack of consistency is related to a separate issue (https://github.com/saltstack/salt/issues/25028).

I will need to upgrade to 2015.8.1 before I can test it

[2015-11-14 00:14] #28881 closed

[2015-11-14 00:24] jfindlay commented on #28795
@makearl, thanks for the report.

[2015-11-14 00:26] kt97679 commented on #28754
Created pull request: https://github.com/saltstack/salt/pull/28885

[2015-11-14 00:29] cro opened #28886 "Targeting by some grains for proxy minions is not working"
Targeting proxy minions via some grains is not working.  At first glance it appears that it only affects non-core grains.  In addition, grains modules located in `salt/grains` do not appear to be respecting the `__proxyenabled__` directive and are being loaded by all proxies, not just the ones for which they were intended.

[2015-11-14 00:35] cro commented on #28886
ZD-522

[2015-11-14 00:39] cro commented on #28838
This feature did land in 2015.8.2 but revealed a regression in grains for proxies.  That is documented here: #28886

[2015-11-14 00:39] #28838 closed

[2015-11-14 00:43] twangboy opened #28888 "Fix file.comment"
This PR broke file.comment / uncomment states:
https://github.com/saltstack/salt/pull/28174

For some reason it can't find mmap

[code]
Getting the following error:
[code]

Salt Version: 2015.8.2 /2015.5.7
Windows 2008R2 64 and 32

[2015-11-14 00:47] jfindlay commented on #28796
@makearl, thanks for reporting this.  I think the better solution is to log and return an error/warning that the beacon data needs to be a dictionary.  Since the difference in data formatting is trivial, I think it would be better to limit the variability for simplicity and stability.

I would probably prefer the list formatting `- ` because it is more similar to the [highstate style](https://docs

[2015-11-14 01:06] jfindlay commented on #19317
As suggested by #13869, the problem with multiple minion processes going for the apt lock could be handled more intelligently by salt, which by this point, I think is the only issue left here.  If anyone has other opinions, please share them and I'll reopen.

[2015-11-14 01:06] #19317 closed

[2015-11-14 01:09] jfindlay commented on #28817
@rasathus, thanks for the report.  This is most likely a duplicate of #19317.  Also see #13869.  If there is any differences from #19317 that ought to be addresses, then we can reopen this issue.

[2015-11-14 01:09] #28817 closed

[2015-11-14 01:11] jfindlay commented on #28797
@fyb3r, thanks for the report.

[2015-11-14 01:25] jfindlay commented on #28805
@fyb3r, thanks for the report.  What version of salt are you using?

[2015-11-14 01:26] cedwards commented on #28753
I've got some ideas here. I'm going to close this. Thanks for the suggestions.

[2015-11-14 01:26] #28753 closed

[2015-11-14 01:27] jfindlay commented on #28806
@petarmaric, thanks for the report.

[2015-11-14 01:33] jfindlay commented on #28807
@bocig, thanks for the report.  Why are you suspecting `-` characters in the key name?  Have you tried keys without `-` in the name?

[2015-11-14 01:35] lorengordon commented on #28888
oops. i did fix all the tests that failed with that change. guessing there aren't tests for file.comment?

[2015-11-14 01:37] jfindlay commented on #28810
@syedaali, thanks for the report.

[2015-11-14 01:39] jfindlay commented on #28813
@multani, thanks for the report.  @quantonganh, @lomeroe, @ryan-lane, @rallytime, do you have any ideas here?

[2015-11-14 01:39] lorengordon commented on #28888
oh wait, i think i know what is happening. the separate win_file.py module always throws me. try just adding `import mmap` to win_file.py.

[sidenote: it would be awesome if jenkins spun up a windows instance to run the tests against!]

[2015-11-14 01:43] jfindlay commented on #28814
@peter-slovak, a pull request would be welcome.  Be sure to submit it against 2015.8.

[2015-11-14 01:50] jfindlay commented on #28556
I don't think we're going to get away from bootstrap, or a bootstrap-like tool any time soon, if ever.  It is also a tradeoff between convenience and reliability, but there are some scenarios that probably can't be automated in any other way.  My hope is that we can rewrite it in python 2.4 - 3.5 compatible code.  Although this would be difficult, it is going to be much better than posix shell.

[2015-11-14 01:52] jfindlay commented on #28556
@jacobhammons, what we should do here is add a warning to https://repo.saltstack.com/ on the bootstrap tab similar to that found in the [bootstrap readme](https://github.com/saltstack/salt-bootstrap#installing-via-an-insecure-one-liner).

[2015-11-14 01:54] jfindlay commented on #25138
@cubranic, starting with 2015.8.0, we are hosting salt packages at https://repo.saltstack.com/.  You are welcome to try the packages there.

[2015-11-14 01:59] jfindlay commented on #27753
Perfect, thanks @anlutro.

[2015-11-14 01:59] #27753 closed

[2015-11-14 02:07] syedaali commented on #28761
This is a new installation of 2015.8.1, and I have noticed these errors since the installation. The code has not been modified in any way. Salt master was installed as following:

apt-get install python-pip -y
pip install apache-libcloud

wget -O - https://repo.saltstack.com/apt/ubuntu/ubuntu14/latest/SALTSTACK-GPG-KEY.pub | sudo apt-key add -
echo "deb http://repo.saltstack.com/apt/ubuntu/ubuntu1

[2015-11-14 02:09] jfindlay commented on #28720
@whiteinge, this seems related to our discussion we had yesterday about validating state arguments.  In my opinion, it is worth the extra effort to explicitly list state function arguments and only use `*args, **kwargs` in the most severe and unusual circumstances, because the state function arguments are the user API of salt and it benefits everyone to have them well defined, well audited, and we

[2015-11-14 02:13] jfindlay commented on #28735
@bmcorser, I already went after the same issue in #28340, which was merged directly to 2015.8.  It will have also been merged forward to develop at this point.  I am interested if you do have any test cases and what the results are.  We can also put together a unit or integration test for this.

[2015-11-14 02:16] jfindlay commented on #23271
I would like to get a testcase for this based on @twisty7867's state:
[code]

[2015-11-14 02:23] jfindlay commented on #28676
@nikatjef, thanks for the excellent analysis.

[2015-11-14 02:31] jfindlay commented on #24049
We're in the release process for 2015.8.2 right now, so it should be out in about a week.

[2015-11-14 02:38] gravyboat commented on #24049
@jfindlay Sounds good! Also please don't work so late, it's not good for you.

[2015-11-14 02:39] jfindlay commented on #22082
Another issue (although I'm not responding to discourage anything) is that even if the user is (already) successfully logged into github, they'll be presented with some potentially very dense rst markup.  Again, this may not be too much of a problem since most salt users have high technical competence and could infer most things for minor changes from context.

[2015-11-14 02:52] jfindlay commented on #18652
@rafaeljusto, you can find updated packages at https://repo.saltstack.com/.

[2015-11-14 04:55] #28754 closed

[2015-11-14 04:58] jfindlay commented on #28549
Thanks, @jacksontj.

[2015-11-14 04:58] #28549 closed

[2015-11-14 05:02] TronPaul opened #28890 "ConfigParser serialization in file.serialize"
I'm really loving `file.serialize`. It's the feature I didn't know I was missing until I had it. I'm looking to set up https://github.com/saltstack-formulas/mopidy-formula and realized there was no ConfigParser-like serializer available.

I'd like a ConfigParser serializer to be added. I see #22257 is being worked on so there might need to be some coordination to avoid merge conflicts (I haven't l

[2015-11-14 05:03] TronPaul commented on #28890
I'll probably throw a PR together at some point, but if someone wants to beat me to it, go for it :smile:

[2015-11-14 05:04] whiteinge commented on #28720
:+1:

[2015-11-14 05:21] whiteinge commented on #28890
This would be a great addition.

You can future-proof this addition by putting the code inside a new file `salt/serializers/configparser.py`. No merge conflicts.

The only thing that needs to change in the `file.serialize` state function is to replace this if-elif-else block:

https://github.com/saltstack/salt/blob/84be609/salt/states/file.py#L4332-L4339

With a dictionary lookup like this:

[code

[2015-11-14 05:22] whiteinge commented on #28890
_Ninja edit_: oh, actually the `merge_if_exists` stuff would need to be swapped out too.

[2015-11-14 06:41] jfindlay commented on #23971
@dumol, this is fixed in #28891.

[2015-11-14 07:18] #28732 closed

[2015-11-14 07:18] dmyerscough commented on #22451
@whiteinge this can be closed :+1:

[2015-11-14 07:18] dmyerscough commented on #22442
This can be closed :+1:

[2015-11-14 07:19] dmyerscough commented on #22452
This can be closed :+1:

[2015-11-14 07:19] dmyerscough commented on #22452
Actually, this need a little more logic which I can look at implementing

[2015-11-14 07:29] jfindlay commented on #24019
@dumol, thanks for the detailed report.  This should be fixed in #28892.  @aboe76, please verify the fix if you can, thanks.

[2015-11-14 07:39] jfindlay commented on #27871
@vigneshsarma, the only workaround that I can think of is to use a flat requirements file.  pip may provide some programmatic representation of the requirements information, and if so, this should be easy to implement.

[2015-11-14 07:49] dmyerscough opened #28893 "Salt argument collision"
Salt has a conflict with `--pid-file` arguments as it's defined twice. Once in `DaemonMixIn` and once in `PidfileMixin`

[code]

To reproduce this just issue `salt-api -h` on the development branch

@s0undt3ch

[2015-11-14 08:32] rominf commented on #22082
I think that people, which use Salt, are capable to learn rst markup or write docstrings for Salt functions, moreover GitHub is quite popular and has convenient interface for single file edits contributing. Adding a link to corresponding sources (as described in #27618) has additional benefit — in case of incomplete documentation I can deduce what function does from sources. I do it quite often an

[2015-11-14 10:13] s0undt3ch commented on #28893
I'll fix it. Thanks for reporting that.

[2015-11-14 11:21] bmcorser commented on #28735
I spent a little time looking at this (I managed to get the suite up and running) but didn't get to actually write a test. I will look again today ... `:)`

[2015-11-14 13:34] tsaridas commented on #26784
+1
what is the status of this request ? Did anybody do a research on what needs to be changed ?

[2015-11-14 13:53] lorengordon commented on #28888
Now I am more confused. Since my patch created the problem, I thought I would test the issue and try to fix it, but file.comment and file.uncomment are working just fine on my Windows system, without messing with win_file.py. I am using masterless mode, though, as I don't have a salt master. Perhaps it's an interaction between master and minion versions?

I was using 2015.5.5, with updated file.py

[2015-11-14 14:53] #22451 closed

[2015-11-14 15:00] moebiuseye commented on #21226
I'm still experiencing this issue:

``̀`
Salt Version:
           Salt: 2015.8.1

Dependency Versions:
         Jinja2: 2.7.3
       M2Crypto: Not Installed
           Mako: 1.0.0
         PyYAML: 3.11
          PyZMQ: 14.4.0
         Python: 2.7.9 (default, Mar  1 2015, 12:57:24)
           RAET: Not Installed
        Tornado: 4.2.1
            ZMQ: 4.0.5
           cffi: 0.8.6
       cherrypy: N

[2015-11-14 15:03] moebiuseye commented on #21226
salt-ssh -v '*' pkg.installed less

[code]

[2015-11-14 15:23] lorengordon commented on #28888
Just upgraded my minion to 2015.8.1, added modules/file.py and states/file.py from the 2015.8 branch to _modules and _states, synced them, and it still works with no errors. So, possibly an issue with a master/minion setup? Or 2015.8.2, specifically?

[2015-11-14 16:06] jfindlay commented on #28735
@bmcorser, even if you just want to sketch out a test case, that would be fine.  I'm probably one of the world's experts on salt testing, for whatever that is worth, and I could write one down with minimal effort, but if you want to do it, that is fine too.

[2015-11-14 16:10] jfindlay commented on #21226
@moebiuseye, are you able to get any salt-ssh commands to work successfully?  I suspect that this is a slightly different issue, and if so, I can confirm it.

[2015-11-14 17:35] TheBigBear opened #28898 "question: how do I render/expand winrepo-ng jinja2 template sls files into their yaml versions?"
@twangboy @jfindlay or @terminalmage I would quite like to be able to locally (and at a 'pre-git-commit' stage) test my winrepo-ng sls files and render or expand them into their 'final' yaml versions. for double checking and testing purposes.

I have the following generic python jinja2 renderer loop written, but of course it backtraces as the salt dictionary contents, such as the value of 'cpuarch

[2015-11-14 17:54] TheBigBear opened #28899 "can we improve (or add actually) tests run against winrepo and winrepo-ng sls files as they are being merged in?"
I find that too often for my liking, I myself, (or occasionally others too) manage to submit and commit `'salt-winrepo'` or `'salt-winrepo-ng'` `'sls'` files in to the respective git repo that have syntax errors or are otherwise incomplete etc etc.

Some of the time, those errors 'blow up' the whole genrepo process for all the users, and I get notified with an isue pretty quick, but sometimes the

[2015-11-14 18:20] lorengordon commented on #28721
After upgrading my Windows minion to 2015.8.1 to test another issue, I went ahead and started testing the winrepo configuration. I think I ended up basically confirming what @rterbush found. Here's what worked (note that I had to make `winrepo_dir` a subdirectory within my `base` environment):

Also note that this was masterless; hence the Windows-style paths for `file_roots`.

relevant settings f

[2015-11-14 18:35] bocig commented on #28807
@jfindlay yes we have. It only failed with '-' in the key name. Thanks!

[2015-11-14 18:41] lorengordon commented on #28807
@bocig, I think yaml gets a little finicky about hyphens in keys. Try putting quotes around the key?

e.g.:
[code]

[2015-11-14 19:00] vmspike commented on #28403
One of the possible reasons is salt cache, minion upgrade process doesn't clean cache (it seems a bug). Cache cleaning can help:
`rm -rf /var/cache/salt/minion/*`

[2015-11-14 19:41] chjohnst commented on #28875
Backported to the 5.5-1 version and seeing similar behavior.  Seems you need to have the first master in the list up in order for things to work.

For eg if I have the following in my configuration, if the first host salqa1 is down, the minion will just loop until I bring it up.  Shouldn't the minion detect that it is down, then attempt the next one in the list?  Is there a setting I am missing so

[2015-11-14 20:48] lomeroe commented on #28813
The above state *should* work for creating simple round robin based muti-IP A records (does for me at least).

If you want to create latency based or weight based record sets, you can at least create them today with the 'identifier' kwarg, this works via the execution module:

latency based with a fake server in us-east-1 and us-west-1:
salt 'minion' boto_route53.add_record host.my.domain 2.2.2.2

[2015-11-14 21:04] vitaliyf commented on #26129
I can confirm that this issue was fixed by the fix in #28526

[2015-11-14 21:26] aboe76 opened #28901 "feature request, opensuse/suse wicked suport for state network"
salt state network should be able to support wicked network daemon

more information;
https://github.com/openSUSE/wicked

pdfs:
http://events.linuxfoundation.org/sites/events/files/slides/LinuxCon_2013_NA_Eckermann_Network_Wicked.pdf
http://www.susecon.com/doc/2014/sessions/TUT7562.pdf

This will help adopting saltstack in to the suse realm

[2015-11-15 00:34] cedwards commented on #28518
So to avoid this issue I had previously commented out the ``_freebsd_camcontrol(device)`` function within ``grains/disk.py`` (with some other minor changes to avoid calling it). This led to reliable server functionality up until I upgraded to the 2015.8.2 release last night, which overwrote my changes and reinstated the ``camcontrol`` scan. Below is the output of ``lsof`` on the camcontrol pids

[

[2015-11-15 00:37] seanbruno commented on #28518
Gah ... this sucks.  Thank you for the requested feedback.  They all seem to be hung on pass1 ... "camcontrol devlist" should tell you which disk is causing the hang here.  I suspect either a compatibility/unsupported ATA command problem or a failing drive.

Are these different models or are they all the same drives?

[2015-11-15 00:40] cedwards commented on #28518
[code]

[2015-11-15 00:45] seanbruno commented on #28518
Huh ... ok, "something" is amiss with that SATA channel then, it only negotiated/detected SATA 2.x even though its identical to your other 3 Western Digital disks:

ada1: 300.000MB/s transfers (SATA 2.x, UDMA5, PIO 8192bytes)
vs
ada2: 600.000MB/s transfers (SATA 3.x, UDMA5, PIO 8192bytes)

[2015-11-15 01:34] cedwards commented on #28518
I just dug through the BIOS hoping to find a setting for this and didn't come up with anything. I really don't know why it'd detect half as SATA 2.x and the other as 3.x..

[2015-11-15 01:49] kev009 commented on #28518
The C600 PCH has 2 SATA3 ports and 2 SATA2 ports.  It looks like you have two of those, and the second one is probably wired for SATA2 due to bus bandwidth limitations.  Regardless, it shouldn't hang the box :(.  I'd try a BIOS update if there is one, but it's bothering me that this is happening.

[2015-11-15 01:52] kev009 commented on #28518
I'm anticipating we need to blacklist certain devices/controllers, or find a better way of getting this info kernel side like caching it after disk plug in.

So what does this mean for salt.. if there are other complaints I think we should back it out, if it's just your box leave it in?

[2015-11-15 02:43] cedwards commented on #28518
Wasn't aware of this, but you're right. According to the spec sheet on this server:
``NOTE: HDD bays 1 and 2 support 6.0Gb/s SATA. HDD bays 3 and 4 support 3.0Gb/s SATA.``

Not sure how we should proceed here. I seem to be the only one having an issue..

[2015-11-15 02:45] seanbruno commented on #28518
It would be interesting to swap the cables between two of the drives and see if the problem follows the disk currently exhibiting the issue.

[2015-11-15 04:31] TronPaul commented on #28890
There doesn't seem to be a serializer for the weird "python" serialization format with pprint. Guess this will need to include making that as well.

[2015-11-15 05:07] fyb3r commented on #28805
2015.8.1 on all machines. Master, Syndic, and Minion.

[2015-11-15 05:41] dmyerscough commented on #28794
Just submitted a pull request #28904

[2015-11-15 05:49] fyb3r commented on #28805
After looking at the data using the python api, the dictionary is wrapped with the typical dictionary for an event. So it looks like this:

{ 'tag': 'tag/text',
  'data':
  {
    '__stamp':'date_stuff',
    'tag':'tag/text',
    'data':
      {
        '__stamp':'orig_stamp_from_syndic',
        'present':'['Minion_ID1','Minion_ID2']
      }
   }
}

[2015-11-15 19:42] DanyC97 commented on #18098
it would indeed but no progress over a year ;-(

[2015-11-15 19:47] lomeroe commented on #28813
sent a PR to add support, all my tests checked out but definitely needs to be looked over and tested by others

I tried to make minimal changes api-wise, but maybe it would be better handled differently (weight/latency_region parameters or something as opposed to just using the 'identifier' tuple)

[2015-11-15 21:01] antonrakh opened #28907 ""state.apply" is not available"
Hi!

I'm fairly new to salt-stack and programming, so this may be something simple that I'm missing, but all the googling I did for the past couple of hours produced no results.

I've set up both minion and master on AWS (using boto and fabric libraries in Python), and have installed the most recent version of SaltStack on both (salt-minion on minion, salt-master on master).

I've managed to pass

[2015-11-15 21:35] #27440 closed

[2015-11-15 21:37] #24458 closed

[2015-11-15 22:07] kuzyn83 commented on #10272
+1

[2015-11-15 22:09] rallytime commented on #25347
@jtand You might want to be aware of this feature request as well.

[2015-11-15 22:15] rallytime commented on #23916
I just tried to build the docs just now on develop. I ran into this error:
[code]
However, after fixing that error with #28909, I was able to build the docs successfully. I'm going to go ahead and close this, but if this remains a problem, please leave a comment and we'll be glad to reopen!

[2015-11-15 22:17] #23916 closed

[2015-11-16 01:37] twangboy commented on #28898
@TheBigBear I believe this is happening because grains are only available to salt. You're running this script outside of salt, so grains will not be available. I doubt you'll be able to render the yaml correctly outside of salt.

I did write a module a while back to parse the Jinja, but it doesn't output yaml. You could possibly tell salt to return the results as yaml using the `--out=yaml` option

[2015-11-16 01:37] twangboy commented on #28898
Unless I completely misunderstood you.

[2015-11-16 02:32] #28781 closed

[2015-11-16 02:32] #28858 closed

[2015-11-16 02:35] ccmills opened #28911 "GitFS numeric tags cause errors with environments"
using the git fileserver repo, if your repo has branches `master` and `develop`, and tag `1.0`; then they will all be listed as available environments via `salt-run fileserver.envs`:

    # salt-run fileserver.envs
    - develop
    - base
    - 1.0

however, passing in the numeric tag to set the environment for a command causes an exception, because it's being read in as a float:

    # salt-run

[2015-11-16 07:04] sjorge opened #28912 "smartos.vm_present state now drops nested lists"
Found a bug during actual usage, probably introduce with the small refactor to the nics/disks rework.

Will fix as soon as I can.

[2015-11-16 08:47] giannello opened #28913 "S3 module authenticates to wrong region"
When trying to use file.managed with a file hosted on S3 and using IAM, the file download fails when the S3 bucket is in a different region than the EC2 instance.

Running salt-call with loglevel "all" shows that the authentication call contains the region of the instance instead of the region where the bucket is hosted. Patching the method in salt/fileclient.py (line 572) and hardcoding the right

[2015-11-16 08:58] anlutro commented on #28907
What version of salt? state.apply is a fairly recent addition (I think 2015.8).

[2015-11-16 09:01] giannello opened #28914 "Salt 2015.8 not working properly on Debian 7"
On Debian 7, installing saltstack from PIP pulls "certifi" as a dependency.

The latest certifi version doesn't play well with OpenSSL 1.0.1e (https://github.com/certifi/python-certifi/issues/26 and https://github.com/aws/aws-cli/issues/1499), making all the s3 commands fail (and probably also all the aws-related, didn't manage to test it).

Downgrading certifi to 2015.4.28 fixes the problem.

[2015-11-16 09:27] sastorsl commented on #6691
Any movement on this issue?
I would expect cmd.run to hang around and gather all feedback until the process drops to the background like you would for many servers when they start.

[2015-11-16 09:33] andrejohansson commented on #28606
@lorengordon here is my full file, in essential this is merging `defaults.yaml > map.jinja > pillars` into one final configuration variable (in this case the name is `salt` because it´s for my salt formula):

[code]
This data is then imported into states and config files using this line:
[code]
And then variables are used in this way: ` - name: {{ salt.master.service.name }}`

As for the merging,

[2015-11-16 10:05] stanislavb opened #28915 "S3fs pillar cannot find cache in 2015.8.1"
## Salt versions
[code]
## Salt master log
Bucket name replaced. Original contains hyphens.
[code]
## Salt master config
[code]
## Minion output
[code]

Similar to #23016

[2015-11-16 11:30] stanislavb commented on #28915
Sorry, this was fixed in:
https://github.com/saltstack/salt/commit/75a658e2176a98232a1ee1d3f4423948754b31ec

[2015-11-16 11:30] #28915 closed

[2015-11-16 11:52] WalterInSH commented on #28350
@DmitryKuzmenko I tried your commands. The result is weird.
[code]
[code]
[code]

Those things (jre-7u75-linux-x64.rpm) are the files in the directory. I'm sure I run these commands with quotes.

[code]

[2015-11-16 12:42] farss opened #28916 "'useradd' __virtual__ returned False"
I run useradd.list_users in windows 2008 x64 , and return:

[code]

[code]

[2015-11-16 12:43] kimoziiiii opened #28917 "UnicodeDecodeError: 'ascii' codec can't decode byte 0xc2 in position 30: ordinal not in range(128)"
saltmaster
[code]
minion
[code]
I get this crash when running  `salt SHPD-I03-SRV03 saltutil.sync_modules` , but run this shell is ok before i upgrade minion from 2014.7.5 to 2015.8.1.
[code]
the modules
[code]

how to fix it? ths.

[2015-11-16 13:13] rusvdw commented on #28766
Yes it did.

[2015-11-16 13:15] multani commented on #28813
@lomeroe The example I posted above definitely doesn't work here, I've got the following error:
[code]
At the moment, I'm only looking at a simple round-robin based addressing though...

[2015-11-16 13:19] andrejohansson opened #28918 "Proposed solution to win_repo package matching"
## Problem

The **win_repo** uses a combination of `name + version` in windows add/remove programs registry to determine and list versions installed on a minion. I think all the functions of `pkg.*`depends on this matching. Such as `pkg.install` and `pkg.list_available` and so on...

This is a flawed approach because the underlying available information in Windows is neither consistent nor good:
-

[2015-11-16 13:27] lorengordon commented on #28606
I think there is a slight mismatch in your os map and the merge dictionary. I don't think the dictionary you're getting back in this line `  , merge=salt['pillar.get']('salt'))` contains the key `salt` at the toplevel, so the keys in the dictionary you're merging with are not lining up quite right. Maybe try something like this, instead:

[code]

[2015-11-16 14:06] bmcorser commented on #28883
I see this too.

[2015-11-16 14:12] petarmaric commented on #28806
Any chance this could be fixed in time for the ``2015.8.2`` release?

On Sat, Nov 14, 2015 at 2:28 AM, Justin Findlay <notifications@github.com>
wrote:

--
Petar Marić
petar.maric@gmail.com
http://www.petarmaric.com/

[2015-11-16 14:45] lomeroe commented on #28813
@multani what's your salt version?  I was able to do it with boto_route53 module/state files out of the 2015.8 git branch.

[2015-11-16 14:55] multani commented on #28813
@lomeroe Oh yes, I completely forgot to indicate that :/ I'm using Salt 2015.8.1:

[code]

[2015-11-16 14:56] ldelossa commented on #28883
Work around for now:

wget -O install_salt.sh https://bootstrap.saltstack.com
sudo sh install_salt.sh -P git v2015.8.1

[2015-11-16 15:04] antonrakh commented on #28907
On master, both salt and salt-master return version 0.17.5

On minion, salt-minion returns version 0.17.5 as well.

Oh, I'm working with an old version. Well now I just feel silly. Thank you!

[2015-11-16 15:09] syphernl commented on #25364
This was on 2015.5.2

[2015-11-16 15:17] #28907 closed

[2015-11-16 15:42] andrejohansson opened #28920 "Enable setting file and folder permissions on windows"
Today the [documentation of file.managed](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.managed) states that setting group or mode is not supported on windows.

Dealing with NTFS permissions is complex and a mess, but why not let **file.managed** use the official included tool [icacls.exe](https://technet.microsoft.com/en-us/library/cc753525.aspx) to ma

[2015-11-16 15:56] lomeroe commented on #28813
I found the PR that adds the support and it was just merged a few weeks ago #28374
It isn't in the 2015.8.1 release.

You can pull the state/module files from the 2015.8 git repo into your _states and _modules folders and have the functionality.  Otherwise, I would guess the update will be in 2015.8.2

[2015-11-16 16:02] lomeroe commented on #28813
Sorry I was wrong, the change was backported with #28376 and should be in 2015.8.1.  The line number in your error above suggests that the boto_route53.py module file doesn't include that fix though.

Your error
[code]

2015.8 should have the following after the above PR:
[code]

[2015-11-16 16:14] rallytime commented on #28813
@lomeroe and @multani The change in question is not present on the 2015.8.1 release. The back-porting pull request was added 18 days ago, whereas 2015.8.1 was released on September 30. This pull request will be present in the 2015.8.2 release, however. Does that help clear things up?

[2015-11-16 16:33] Grokzen commented on #24050
@dmcteer I can confirm that `__salt__['pillar.get'](key)` inside a module still returns cached data and `saltutil.refresh_pillar` do not update that. This was tested on 2015.5.6 and inside a custom module calling `__salt__['pillar.get'](key)`

[2015-11-16 16:38] twangboy commented on #28888
Hmmmmmm. I'll take a look later today and see what I can find out.

[2015-11-16 16:39] #28618 closed

[2015-11-16 16:58] arroyoc commented on #8985
I am closing this issue due to inactivity for over a year. @whiskybar feel free to open this in the future.

[2015-11-16 16:58] #8985 closed

[2015-11-16 17:00] aabognah opened #28923 "passing argument with '=no' to file.line"
I spent basically all morning on this and cant get it to work.

I am trying to modify one line in a file using the file.line module:

[code]
But I am getting this error:

[code]
Somehow salt translates any '=no' in the command argument into '=False' and complains about it. How to I stop it from doing that?

Thanks.

[2015-11-16 17:01] zizkebab commented on #24575
I am following #23694 , but  I haven't seen it merged yet...

[2015-11-16 17:10] arroyoc commented on #5309
@jfindlay @UtahDave  Do you guys remember why this feature was blocked? Any reason why we shouldn't approve this?

[2015-11-16 17:15] syedaali commented on #28542
I am encountering a similar issue, I have pillar items setup as following:

   s3.location:
        us-west-2
    s3.verify_ssl:
        False

However, when I run salt minion s3.get I see the below error:

minion:
    |_
      ----------
      Code:
          AuthorizationHeaderMalformed
    |_
      ----------
      Message:
          The authorization header is malformed; a non-empty region mus

[2015-11-16 17:19] arroyoc commented on #8013
@johnnoone This ticket has been blocked waiting for your response.

[2015-11-16 17:22] lomeroe commented on #28813
@rallytime thanks, I was thrown off by the heading of the 2015.8.2 release notes, they say 2015.8.1, that clears up why there are 2 2015.8.1's listed on the release notes page (I didn't catch the URL for the "second" 2015.8.1 was 2015.8.2)

[2015-11-16 17:27] rallytime commented on #28813
Ah, right. That is confusing. I just fixed the title of the release notes in #28922.

[2015-11-16 17:29] jakehilton commented on #28620
I have been testing this weekend and it seems that when I push changes that eventually they do get to the minions and I've verified this by running a highstate on the box and seeing the updates.

What is now troubling is I've setup a schedule to run every hour to run highstate on the minions.. but it doesn't seem to be working. I've followed this guide in the highstates section: https://docs.salts

[2015-11-16 17:44] jtand commented on #28862
@trevor-h Thanks for the bug report!

[2015-11-16 17:56] cachedout commented on #28916
That module is for Linux only. The module you are likely looking for is `win_useradd`.

[2015-11-16 18:21] jakehilton commented on #28620
I think I got it working.. will do some more testing to confirm.

[2015-11-16 19:00] Ch3LL commented on #28542
@syedaali thanks for posting your information. There are a couple of new fixes for the s3 module that will be in 2015.8.2 which is coming out soon. If you are willing to apply those fixes before that and see if it works for you that would be great. The fixes are: #28660  #28535

We are waiting to close this once we receive another user's validation that these have fixed the issue at hand. If you a

[2015-11-16 19:01] pass-by-value commented on #28619
#28925 adds modules and states for this

[2015-11-16 19:08] bocig commented on #28794
Thanks @dmyerscough it's looking great! I've just tested it, I believe you still need to pass
'api_url': 'api_url' into attrs = {)
[code]

[2015-11-16 19:14] chrish42 commented on #28184
I had upgraded a RHEL 6.5 to 2015.8 using the SaltStack repo and the master couldn't send commands to the minions. Looking at the open TCP connections, only one of the two was open for the broken minions. (I forgot which of the two SaltStack ports.) Downgrading to 2015.5 got things working again. My guess is that this was a manifestation of this bug.

What's interesting is that there was absolutel

[2015-11-16 19:16] UtahDave commented on #5309
I don't know.  This probably should be a beacon instead of an execution module, though

[2015-11-16 19:54] petarmaric commented on #26602
Any chance this could land in 2015.8 branch, within Docker NG I mean?

[2015-11-16 20:01] twangboy opened #28928 "Fix user.present 2015.5"
user.present no longer works in 2015.5 since PR #28627 was applied.

[2015-11-16 20:28] githubcdr opened #28929 "faeture: user.present state support for skel"
Currently the user.present state copies files from /etc/skel when createhome is set to True.

Sometimes this is undesired behavior, it would be nice if there was a "skel: True/False" option to influence this.

[2015-11-16 21:22] andretost commented on #28883
I see it, too, but using the 2015.8.1 release is not an option for me, because I have a custom module which doesn't work, related to a bug in that release (https://github.com/saltstack/salt/pull/27725). So it looks like I am stuck for now.

[2015-11-16 21:23] ldelossa commented on #28883
Can you use develop branch ? Or do same limits apply

On Monday, November 16, 2015, andretost <notifications@github.com> wrote:

[2015-11-16 22:03] dglloyd commented on #21317
The precise packages have the correct (for upstart) scripts in place:
* the upstart config at ```/etc/init/salt-minion```
* a symlink to ```/lib/init/upstart-job``` at ```/etc/inid.d/salt-minion```.

[2015-11-16 22:50] clarkperkins opened #28935 "Salt v2015.8.2 is available on PyPI, but there's no tag on the github repo"
I recently upgraded to salt 2015.8.2, but I can no longer use the salt-bootstrap script with the `git` install type, because the `v2015.8.2` tag is missing on the repo.

[2015-11-16 23:02] terminalmage commented on #27487
@sparrc Sorry for all the delays, I had hardware issues and family illness and all manner of things getting in my way these last few weeks, but I finally did get a pull request opened today: https://github.com/saltstack/salt/pull/28934

If possible, could you test this pull request? You can use [this walkthrough](https://help.github.com/articles/checking-out-pull-requests-locally/) to checkout a p

[2015-11-16 23:12] jfindlay commented on #28935
@clarkperkins, sorry about that.  Give me a few minutes and I'll have it there.

[2015-11-16 23:14] phryneas commented on #24818
any more on this?

[2015-11-16 23:17] clarkperkins commented on #28935
Great, thanks!

[2015-11-16 23:24] andretost commented on #28883
I reinstalled my minion using the bootstrap script with 'git develop' and I get the same problem.

[2015-11-16 23:29] belt-ascendlearning commented on #27857
Problems with 2015.8.1 rabbitmq_user (with respect to vhosts):
* if the user exists, but has no permissions, list_user_permissions() blows up e.g. {'/': ["","",""]}
* can't clear permissions... as _check_perms_changes() has a "if not newperms return false" e.g. perms=[] or perms=None
* need to send force=True for changing more than just the PW (contrary to documentation)

[2015-11-16 23:32] belt-ascendlearning commented on #27857
BUG: RabbitmqUser is not loaded unless rabbitmqctl is already present on system
This creates a chicken-and-egg problem for installing and managing rabbitmq via salt.

[2015-11-16 23:50] basepi commented on #6691
No movement on this. Note that this should be fairly straightforward, so if someone wants to take a whack at it, I'm happy to provide guidance. We just haven't had time yet.

[2015-11-17 00:01] jfindlay commented on #28935
@clarkperkins, it should be there now, https://github.com/saltstack/salt/releases/tag/v2015.8.2.

[2015-11-17 00:01] #28935 closed

[2015-11-17 00:02] dmyerscough commented on #28794
Sorry @bocig Ill get this submitted this evening.

[2015-11-17 00:03] sparrc commented on #27487
@terminalmage thanks! I'll try it out in the release :+1:

[2015-11-17 00:05] #28928 closed

[2015-11-17 00:12] #28888 closed

[2015-11-17 00:12] mimianddaniel commented on #28318
So what's the solution to fix this problem for those who are installing from the git?

[2015-11-17 00:57] maatthc commented on #14899
Having multiple 'include' to order execution would be perfect!
We have hundred of States that could be much simpler without all the dependencies declaration what makes Salt extremely verbose.
Any chance to implement this feature?

Cheers

[2015-11-17 01:42] lorengordon commented on #28898
@TheBigBear, if you want to write your own python app (as it appears to me you are doing), you might want to take a look at salt's [python client api](https://docs.saltstack.com/en/develop/ref/clients/index.html#python-client-api).

[2015-11-17 02:26] dmyerscough commented on #28794
@bocig would you be able to test putting

[code]

Into the `profile_attrs` dictionary, if that works I can create the pull request. I don't have a test HipChat server :(

[code]

[2015-11-17 02:47] timwsuqld opened #28940 "pip.installed with Requirements file is useless when test=True (reports changes would be made)"
Trying to use pip.installed with a Requirements file, doesn't check if the contents of that file are installed when doing test=True.

This causes state.highstate test=True to always report that it's going to do something, even if nothing is needed. When trying to detect if a highstate file is going to change anything because it always reports it's going to change something we can't detect if there

[2015-11-17 02:51] bocig commented on #28794
@dmyerscough I've tested it out, and it's good. Thanks!

[2015-11-17 03:05] dmyerscough commented on #28794
Just submitted the pull request #28941

[2015-11-17 03:07] chadhs opened #28942 "boto_secgroup state docs creation error"
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.boto_secgroup.html

these docs need a minor update in that either vpc_id or vpc_name must be defined or the creation of a secgroup will end in error.

to recreate install salt 2015.8.2, create a simple boto_secgroup definition without defining a vpc_id or vpc_name and run the state.

[2015-11-17 03:08] ondrej opened #28943 "On OS X, Salt Master takes over 3 minutes to initialize and start responding to requests"
Salt was installed on OS X El Capitan according to the instructions at https://docs.saltstack.com/en/latest/topics/tutorials/walkthrough_macosx.html. No other changes were made to the Salt master configuration file, and no other changes were made to the salt or pillar directories.

When we start Salt with `sudo salt-master --log-level=all`, it takes about three and a half minutes for Salt to proce

[2015-11-17 03:41] syedaali commented on #28868
It's getting concerning to see this behavior on more minions:

root@minion:~# salt-minion -l debug
[DEBUG   ] Reading configuration from /etc/salt/minion
[DEBUG   ] Including configuration from '/etc/salt/minion.d/_schedule.conf'
[DEBUG   ] Reading configuration from /etc/salt/minion.d/_schedule.conf
[DEBUG   ] Configuration file path: /etc/salt/minion
[WARNING ] Insecure logging configuration det

[2015-11-17 03:55] syedaali commented on #28868
Here is the strike:

read(33, "-----BEGIN PUBLIC KEY-----\nMIIBI"..., 4096) = 450
read(33, "", 4096)                      = 0
close(33)                               = 0
munmap(0x7f969aafe000, 4096)            = 0
clock_gettime(CLOCK_MONOTONIC, {637, 968706361}) = 0
poll([{fd=17, events=POLLIN}, {fd=24, events=POLLIN}, {fd=31, events=POLLIN}], 3, 0) = 3 ([{fd=17, revents=POLLIN}, {fd=24, revents=P

[2015-11-17 03:59] rallytime opened #28945 "Dell Chassis State Example Improvements"
- The example state template in the dellchassis.py docs does not include updating the idracs. The pillar data example is there, but the state example just shows cmc and switches.
- When using the following state example, the minion always returns with `[No response from the minion]`. If you extend the timeout, this response goes away. The docs should be updated to include this caveat as the dracr.

[2015-11-17 03:59] jfindlay commented on #27961
@ahammond, thanks for verifying.

[2015-11-17 03:59] #27961 closed

[2015-11-17 04:17] rallytime opened #28946 "dellchassis.blade_idrac function doesn't have test=True support"
test=True support needs to be added to the dellchassis.blade_idrac function in 2015.8.

ping @cro

[2015-11-17 04:18] rallytime commented on #28946
FYI @cedwards too.

[2015-11-17 06:16] dmyerscough opened #28947 "sdb modules are not synced out"
Custom sdb modules are not synced out to minions from the master when using `/srv/salt/_sdb`.

[2015-11-17 06:16] dmyerscough commented on #28947
@whiteinge

[2015-11-17 06:19] whiteinge commented on #28947
Doh!

[2015-11-17 06:21] dmyerscough commented on #28947
:)

[2015-11-17 06:27] whiteinge commented on #28947
I haven't added a sync function before so I'm not sure if there's any additional machinery required. Any chance you could test this?

https://github.com/saltstack/salt/compare/2015.5...whiteinge:sync-sdb

[2015-11-17 06:30] dmyerscough commented on #28947
Yeah, testing now

[2015-11-17 06:37] dmyerscough commented on #28947
You need to update this to

[code]

This gives the following

[code]

[code]

[2015-11-17 06:39] cedwards opened #28948 "FX2 proxy-minion dellchassis.switch state broken"
I discovered today that applying the ``dellchassis.switch`` state results in a Traceback. Oddly enough using ``test=True`` responds appropriately, but once it's removed I get the following:

[code]

@cro @rallytime @Ch3LL

[2015-11-17 06:49] bmcorser commented on #28735
@jfindlay. Do you mean here, in this issue, or in the test suites?

On Sat, 14 Nov 2015 16:06 Justin Findlay <notifications@github.com> wrote:

[2015-11-17 06:55] whiteinge commented on #28947
Woot. I like the easy ones. Thanks for testing and the arg fix.

[2015-11-17 08:58] ClaudiuPID opened #28951 "CloudLinux 7 changes"
Some info about the system I am running first:
[code]

Packages install and services restart failed on this system.
I had to edit the minion code in order to get things running.
[code]
I replaced all ```CloudLinux``` entries with ```Cloud```, this fixed things for me.
I will not make a pull request with this change since it is a trivial one and I don't think this is the correct fix.

[2015-11-17 09:33] timo-klarshift commented on #19992
I also would like to have that feature ! At the moment I have the workaround, that my states always rely on a pillar. For example when you run the state states/java8 there must be a pillar key java8 available for the minion, if not the state simply will be skipped. Every state is wrapped with {% if pillar.get('foo') %}. This way I also make sure that a minion will not pull a state its not configur

[2015-11-17 11:57] marnovdm commented on #28807
I think I have a related issue. Master running 2015.8.1 and with a minion also running 2015.8.1 I have the same error (Unable to cache salt://elasticsearch/elasticsearch-2.0.0.deb: file not found). The same state works on a minion running 2015.5.3 (even with the master running 2015.8.1).

However, for me adding quotes or renaming so we don't need hyphens does not solve the issue. Odd thing is if I

[2015-11-17 12:56] Wenzel opened #28953 "gitfs_provider settings is not working with salt-call --local"
Hi !
I'm using `salt-call 2015.8.1 (Beryllium)`
I have a Docker container where I have installed both `python-pygit2` and `python-git`.
I'm calling salt with `salt-call --local` and I would like to force salt to use `GitPython`, so I added in my minion config file :

[code]

But when i'm calling `salt-call`, I have the following error :

[code]

As you can see, `pytgit2` is called where `GitPython

[2015-11-17 13:48] jackywu opened #28954 "saltutil.sync_modules sync module but minion do not always reload module on Windows 2008 R2 successfully"
I put my custom module in file_root dir: PATH/TO/File_Root/base/_modules/,  and run salt '*' saltutil.sync_modules or saltutil.sync_all on salt-master, but minion do not  always reload module successfully. sometimes it's ok, and sometimes not. After restart salt-minion, everythings works fine.

I also read some other opened issue, for instance:

1. #14763 said only modules put in file_root can be

[2015-11-17 14:54] tsaridas commented on #27385
+1 for wheezy please.

[2015-11-17 15:01] deniswal commented on #27599
I found a cause (Not explained) that triggers those random crashes:
* If the __salt-minion -d__ are launched directly from a ssh -> crashes happen
* If the __salt-minion -d__ are launched from a ksh -> crashes do not happen

To launch the minions, I use now:
[code]
instead of:
[code]
and this makes my minions crashes disappear.

[2015-11-17 15:04] racooper opened #28956 "Netscaler module doc enhancements"
The documentation for the Netscaler execution module (https://docs.saltstack.com/en/2015.5/ref/modules/all/salt.modules.netscaler.html#module-salt.modules.netscaler) could really use some examples on how to set everything up. Unfortunately, I don't have anything to contribute, as this is information I am in need of as well.  I haven't had any success finding docs or examples from other sources, ei

[2015-11-17 15:22] #28912 closed

[2015-11-17 15:34] terminalmage commented on #27487
@sparrc OK, cool. Just FYI, I mistakenly marked it as a 2015.8.2 feature in my pull request, but it just missed the cut for that release. I've fixed the version number [here](https://github.com/saltstack/salt/pull/28957/files).

[2015-11-17 15:50] makearl commented on #28796
@jfindlay thanks for the feedback. I agree with you that the list formatting would be more consistent with the rest of the system and will work on implementing that change.

[2015-11-17 15:57] cachedout commented on #28947
Looks like this is all done. Closing.

[2015-11-17 15:57] #28947 closed

[2015-11-17 15:58] cachedout commented on #28920
This is a question for @twangboy.

[2015-11-17 16:05] jfindlay commented on #28819
@RobQuistNL, thanks for the report.  It seems there could be some optimizations done here.

[2015-11-17 16:07] RobQuistNL commented on #28819
Awesome :) Thanks for your contributions to the OS community. If I find some time to learn more on Salt I'll be sure to help out.

[2015-11-17 16:15] jfindlay commented on #28822
@HerrBerg, thanks for the report.  I can reproduce this.
[code]
[code]
[code]
[code]

[2015-11-17 16:17] jfindlay commented on #28835
@mscherer, thanks for fixing this.

[2015-11-17 16:17] #28835 closed

[2015-11-17 16:21] cachedout commented on #28956
@racooper Ah, you're totally right.

@aletourneau Since you wrote this module, is this something you might be willing to assist with?

cc: @jacobhammons

[2015-11-17 16:24] cachedout commented on #28845
You may have a typo. You want `returner_dir` not `returners_dir`. :]

[2015-11-17 16:28] jfindlay commented on #28847
@b225ccc, thanks for adding this.

[2015-11-17 16:28] #28847 closed

[2015-11-17 16:30] cachedout commented on #28954
@jackywu That operation is asynchronous. Are you attempting to use the synced modules immediately after using them? (In a state file, for example?) If not, we may need to see debug logs on the minion to help troubleshoot this. Thanks.

[2015-11-17 16:34] jfindlay commented on #28854
@tampakrap, also see #28892.  Is there any more work that needs to be done here?

[2015-11-17 16:37] jfindlay commented on #28868
@syedaali, thanks for the report.  How have you installed salt on the minions that are failing?

@cachedout, do you have any ideas here?

[2015-11-17 16:40] jfindlay commented on #28869
@syedaali, thanks for the report.

[2015-11-17 16:50] basepi commented on #28852
Hmm, it shouldn't be stacktracing, so we should look into that.

However, I highly recommend avoiding the mine if you can in salt-ssh. I implemented basic mine support in salt-ssh for feature parity purposes, but it's *super* inefficient. It basically will publish a new job for each mine.get call, since minions can't send up their mine information on a regular basis. Additionally, since each of th

[2015-11-17 16:50] jfindlay commented on #28875
@chjohnst, thanks for the report.  What do you mean by 'hot-hot setup', 'one of my masters is down in the list on minion start', and 'setup my minion for "failover"'?  Do you mean that you're setting up multiple masters in a failover configuration?

[2015-11-17 16:56] jfindlay commented on #28877
@rterbush, thanks for the report.

[2015-11-17 17:02] cachedout commented on #28951
Hi @ClaudiuPID Thanks for this information. Could you please be more specific about how services failed to start and packages failed to install? Did it stacktrace? I'm curious about how you came to discover that these functions would work correctly after making the changes you describe above. I'm sure we can get this fixed, but I'm just looking for a little more background to help understand what'

[2015-11-17 17:05] cachedout commented on #28942
Thanks for this info, @chadhs

@quantonganh or @ryan-lane Do either of you have any insight on this one, since I know this is a piece of the code you both know somewhat well. :]

[2015-11-17 17:07] jfindlay commented on #28883
@ldelossa, thanks for the report.  Do you mean you ran the state 100 times and it failed on the 100th time?  Also, it looks like you're running on develop.  Can you reproduce this on the head of 2015.8?  Is there any more information you can give to help replicate a reproducible test case?

[2015-11-17 17:07] sjorge commented on #28845
Yep, it was a typo -_-

[2015-11-17 17:07] #28845 closed

[2015-11-17 17:09] ldelossa commented on #28883
Hey Justin,

No that means I just ran that state a bunch of times before in the past,
without any issues. Now that I used the latest bootstrap, its an issue.

I didn't use the develop bootstrap, I just used this command:

Using wget to install your distribution's stable packages:

wget -O install_salt.sh https://bootstrap.saltstack.comsudo sh install_salt.sh

Should have been the latest stable.

O

[2015-11-17 17:11] arthurlogilab commented on #24462
Getting this trace on debian jessie with

[code]

[2015-11-17 17:11] cachedout commented on #28913
I'm wondering if this may have regressed here: https://github.com/saltstack/salt/pull/25767

@techhat Does that seem plausable to you?

[2015-11-17 17:13] jtand commented on #28899
@TheBigBear Thanks for this suggestion. Getting tests to run on windows is something we are actively looking into right now. We just recently made some changes that allows the test suite to run on windows (it never has before). This is something I'm hoping to get in the near future.

Feel free to pester me about it :)

[2015-11-17 17:13] syedaali commented on #28868
Yes, minion is installed on the AWS instances that are failing. The minions are installed via salt-cloud bootstrap.sh. I have tried to stop the minion and run 'salt-call state.highstate -l debug' and I have tried salt-minion -l debug, both hang.

[2015-11-17 17:17] jfindlay commented on #28901
@aboe76, thanks for the report.  Unless I am misunderstanding you, a more salty way to do this would be to write an execution module for wicked that provides the same API as the other execution modules used interchangeably by the network state module.

[2015-11-17 17:18] techhat commented on #28913
Ref #28660 and #28542.

[2015-11-17 17:20] cachedout commented on #28929
Yes, that would be good Would you like some guidence on creating a pull-request to make this feature happen? Should be easy to add. :]

[2015-11-17 17:20] whiteinge opened #28960 "Add sdb support to grains"
The `grains.get` execution function does not currently dereference sdb paths. Currently any sdb paths in grain values must be accessed using the `config.get` execution function instead.

[2015-11-17 17:22] quantonganh commented on #28942
@chadhs: Please show us the error.

[code]

I cannot reproduce with the above example:

[code]

[2015-11-17 17:23] cachedout commented on #28911
@terminalmage Is this something you can look into?

[2015-11-17 17:29] jfindlay commented on #28914
@giannello, thanks for the report.

[2015-11-17 17:37] jfindlay commented on #28916
@farss, or even better,
[code]
Salt execution and state modules have a mechanism called `__virtualname__` that is used to put parallel modules into the same class so that they can be used in an OS agnostic fashion.  For example, the `user` module that loads on linux is `salt.modules.useradd`, whereas the module that loads on windows is `salt.modules.win_useradd`.

[2015-11-17 17:40] ClaudiuPID commented on #28951
Hi, this is pretty simple, if the OS is not found in your list (and Cloud is not in your list), it will use /etc/init.d for service management.
CloudLinux is systemd (RHEL 7) so it fails to start/stop services.

As for packages being installed I guess it is the same issue since it does not detect a supported OS. It returns something about __virtual__, I don't have the exact error right now.

[2015-11-17 17:46] jfindlay commented on #28735
@bmcorser, anywhere is fine, whether you have any ideas to add or are ready to send in a pull request.  Either is fine.

[2015-11-17 17:47] jfindlay commented on #28917
@kimoziiiii, thanks for the report.  This should be fixed by #28340, which is coming out in 2015.8.2.

[2015-11-17 17:56] jfindlay commented on #28940
@timwsuqld, thanks for the report.

[2015-11-17 18:02] whiteinge commented on #28960
Initial stab probably goes something like this:

[code]

[2015-11-17 18:04] aletourneau commented on #28956
Yes, I could assist with that, glad to see there is interest in this module! :)

[2015-11-17 18:06] cachedout commented on #28956
@aletourneau Super! Thank you! I'll leave it to you and @racooper to figure out the details of what will need to be done here.

[2015-11-17 18:11] aboe76 commented on #28901
@jfindlay , yes that's a good idea, something like wicked_ip.py that can be used..

[2015-11-17 18:14] cachedout commented on #28960
@whiteinge That works for me. Send over a PR. ;]

[2015-11-17 18:16] terminalmage commented on #28911
@ccmills This looks like it just affects the fileserver runner, have you reproduced this with a file state, or with ``salt minionid cp.list_master``?

[2015-11-17 18:16] cachedout commented on #27823
We haven't had any response here and we have a documented workaround, so I'm closing this issue for the time being.

[2015-11-17 18:16] #27823 closed

[2015-11-17 18:17] fernandoacorreia commented on #19332
I ran into this warning on the documentation when researching how to implement configuration overrides.

The implementation seems to be deterministic, at least for certain cases, and I would like to request that the documentation should be updated to state the cases for which deterministic behavior can be expected (so that the existing, deterministic behavior does not suddenly go away in a new ver

[2015-11-17 18:20] cachedout commented on #19332
@twangboy or @dmurphy18 Are one of you able to look at this, per the above request of @thatch45 ?

[2015-11-17 18:22] cachedout commented on #24243
I'm almost certain this is resolved in 2015.8 though I don't have the exact commit at hand.

@Ch3LL is this something you have time to verify?

[2015-11-17 18:23] jfindlay commented on #25364
@syphernl, can you verify with a more recent release?

[2015-11-17 18:24] aletourneau commented on #28956
In the meantime, to get started there is only 2 requirements:

1. pip install nsnitro (on your salt master)
2. you need to add 3 pillars:
[code]

[2015-11-17 18:24] cachedout commented on #23373
So now that we have the ContexetDict implementation merged, this should be resolved I believe.

@tnypex Are you willing to test this at the head of develop?

[2015-11-17 18:27] jfindlay commented on #26602
@petarmaric, yes, that may be possible.

[2015-11-17 18:28] jfindlay commented on #27857
@belt-ascendlearning, will you open a separate issue for that?  Thanks.

[2015-11-17 18:29] cro opened #28965 "Dell iDRAC passwords cannot be longer than 20 characters"
Check for this in the dracr change_password routine and throw an error if its longer.

[2015-11-17 18:33] jfindlay commented on #28883
@ldelossa, thanks for the clarification.

[2015-11-17 18:34] rterbush commented on #28877
@jfindlay I need to provide a bit more info here. It has been discussed in irc that this may be an issue of what event was used to trigger this reactor state. It seems the doc suggests that if trigged with <code>'salt/cloud/*/created'</code> that <code>name</code> and not <code>id</code> is variable being passed.

If the <code>'salt/minion/*/start'</code> event is triggering the reactor state, <co

[2015-11-17 18:40] jfindlay commented on #28923
@aabognah, thanks for the report.  The problem is that the command line is run through the yaml renderer, which opportunistically interprets things.

[2015-11-17 18:43] whiteinge commented on #28960
Alrighty then. :-)

[2015-11-17 18:44] tampakrap commented on #28854
thanks @jfindlay I will take a look and get back to you. @aboe76 @isbm @darix check it as well please

[2015-11-17 18:49] cachedout commented on #25499
@markuskramerIgitt Sorry for the delay in getting back to you on this one. Were you able to try the test that @basepi recommended?

[2015-11-17 18:49] whiteinge commented on #28923
Many of the functions in the file execution and state modules have warnings about this behavior (see `file.replace`). We should get it added to `file.line` as well.

[2015-11-17 19:50] jwilsonGFM opened #28968 "Using host.present gives error on Ubuntu 14.04"
I have setting up the hosts file for AWS using this simple file:

jumpbox:
  host.present:
    - ip:
      - 52.32.111.207

dbmaster:
  host.present:
    - ip:
      - 172.31.1.30
## this gives this error when executed:

[code]

the error duplicated on all individual hosts in the control file.

[2015-11-17 20:17] jfindlay commented on #28868
@syedaali, is it possible for you to try a reduced highstate and narrow in on what may be causing this problem?  Can you post or describe a reproducible test case?

[2015-11-17 20:18] cedwards commented on #28580
The primary issue(s) outlined here was fixed with 2015.8.2, yes. We can close this issue.

[2015-11-17 20:18] #28580 closed

[2015-11-17 20:18] terminalmage commented on #28911
Fix submitted in https://github.com/saltstack/salt/pull/28970

[2015-11-17 20:32] whytewolf commented on #28236
while having more filters would be nice. it isn't the only thing i want. it would be nice if we could actually tweek some of the settings for jinja, or add jinja extensions. basicly having jinja more exposed for the more advanced users.

[2015-11-17 20:51] belt-ascendlearning opened #28971 "if the user exists, but has no permissions, rabbitmq_user.list_user_permissions() blows"
To recreate: try defining the permissions as: `{'/': ["","",""]}`
Then try doing anything else e.g. re-running the recipe.

[2015-11-17 20:52] kraney opened #28972 "boto_secgroup forbids valid IP protocols"
boto_secgroup insists on IP protocol values from the list 'tcp', 'udp', 'icmp', 'all', '-1', however AWS accepts custom protocols. For example IP protocol '47' represents GRE traffic. In the AWS GUI, you can type 'GRE' and it's accepted, but converted to the numeric 47. It would probably be sufficient in boto_secgroup to accept numbers. E.g.

[code]

[2015-11-17 20:52] belt-ascendlearning opened #28973 "Can't clear permissions for a RabbitmqUser"
... as _check_perms_changes() has a "if not newperms return false" e.g. perms=[] or perms=None

[2015-11-17 20:55] belt-ascendlearning opened #28974 "force=True documentation for RabbitmqUser is misleading"
Reading the code, if the user exists, nothing will happen unless force=True is set... not just for passwords.

[2015-11-17 21:00] githubcdr commented on #28929
Sounds good to me, where do I start? :)

[2015-11-17 21:00] belt-ascendlearning opened #28975 "RabbitmqUser chicken-and-egg problem"
We can't configure users, exchanges and queues unless rabbitmqctl is already on the system... as RabbitmqUser is not loaded unless rabbitmqctl is already present on system.

So how do we install-and-configure in the same state file?
If we try doing it in 2 state files, 1 to install, 1 to configure... how can we guarantee the configure happens after the install? (require breaks if the recipe isn't

[2015-11-17 21:05] belt-ascendlearning opened #28976 "RabbitmqUser change_password escaping problem"
The recipe as written (as of 2015.8.1) doesn't set the password correctly if it contains a dollar-sign "$"
On the command line: `rabbitmqctl change_password guest te\$t` # works

However, if we send 'te\$t' to RabbitmqUser.present(), the backslash gets escaped twice i.e. 'te\\$t' gets sent to change_password
i.e. On the command line: `rabbitmqctl change_password guest te\\\\$t` # is not the right

[2015-11-17 21:06] belt-ascendlearning commented on #27857
Five bugs found:
https://github.com/saltstack/salt/issues/28971
https://github.com/saltstack/salt/issues/28973
https://github.com/saltstack/salt/issues/28974
https://github.com/saltstack/salt/issues/28975
https://github.com/saltstack/salt/issues/28976

[2015-11-17 21:10] belt-ascendlearning commented on #28976
WORKAROUND:
password = 'te\$t'
Cmd.run("rabbitmqctl change_password %s '%s'" % ('root', password))

[2015-11-17 21:15] VinceBarresi opened #28977 "minion_id is empty in data dictionary in presence change lost event"
I'm trying to test that minion keys are automatically deleted using a presence event. Here is my `presence.sls`:
[code]
I have also have a `presence.conf` which is in in `/etc/salt/master.d` and can be seen here: `presence_events: True`

and finally, my `reactor.conf`:

[code]

I have set my log level to debug using `salt-master -l debug` and have stopped a minion straight from aws console. Below

[2015-11-17 21:19] heini commented on #28311
@joshughes you can use ssh authentication with gitpython. All you need is to setup a host entry in /root/.ssh/config.

[2015-11-17 21:20] heini commented on #28257
I use gitpython and have the same problem.

[2015-11-17 21:21] dmurphy18 commented on #19332
@twangboy You'll have to look, I am neck deep packaging.

[2015-11-17 21:24] oogali commented on #27056
Any traction? This is preventing me from fully using salt-cloud to orchestrate hosts in Amazon EC2.

[2015-11-17 21:53] chjohnst opened #28978 "salt-call state.highstate and downed syndics"
In an environment with multiple syndics, if one of my syndics is down when I run 'salt-call state.highstate' on a minion it hangs attempting to connect to the downed syndic and times out after 60s.  If I run this command 4-5x it will eventually bounce to the next syndics that is up and running and works.  Does the minion not keep track of who its current syndic is and use it when you run those com

[2015-11-17 22:02] cachedout commented on #27866
@twangboy or @UtahDave Can you reproduce what @johnccfm is seeing here? Are we really taking 6s to return a simple ping?

[2015-11-17 22:03] Ch3LL commented on #24243
The issue that @jfindlay referenced is very similar to this issue, which I also tested and responded to. I think its important to note that there is a difference between the normal multi master setup and the multi-master failover setup. I tested again for this particular issue on the head of 2015.8 to see if the new fix for multi-master would fix **multi-master failover**, and it does not. Here is

[2015-11-17 22:08] multani commented on #28813
@lomeroe I will try to import the execute and state module from 2015.8.2 into _modules and _states and see if it works!

[2015-11-17 22:14] ryan-lane commented on #28972
Ah. Interesting. I didn't know that. This check is mostly here as a ways to avoid outages, due to the way the API works. We can modify this to accept the named protocols or any number. Ideally if there's a way to know the range of valid numbers it would be nice to check it.

The issue with the API is that for secgroup rules, it requires you to delete a rule, then add a rule. You can't update an ex

[2015-11-17 22:20] cachedout commented on #27856
There have been a number of bugs in the Python stdlib regarding symlinks that point to themselves, some of which have been known to cause crashes and other nastiness. My guess here is that you're probably hitting one of those. You might try switching versions of Python, especially if you're on 2.6.

To be honest, I'm not too inclined to try and support symlinks in `/srv/salt` like this. Is there a

[2015-11-17 22:23] cachedout commented on #27269
Because we have not had a response here as requested, I am closing this for the time being. If a response comes back, we can definietely re-open it.

[2015-11-17 22:23] #27269 closed

[2015-11-17 22:23] basepi commented on #27279
@pirogoeth Just wanted you to know this is still on our radar, we need to get this fixed.

[2015-11-17 22:25] cachedout commented on #27267
@lburg Was that installation an upgrade or a fresh one?

[2015-11-17 22:27] lorengordon commented on #28972
@ryan-lane, 0-255 should be the range of valid integers for IP protocols.

http://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml

[2015-11-17 22:27] cachedout commented on #27169
@thehunmonkgroup Wow, interesting. Sounds like this is affecting multiple platforms then. I'm going to see if I can build a Debian 8 box that has this problem. I assume this was a fresh install and not an upgrade? Also, can you post a `salt --versions-report` so I can see what libs are installed? Thanks.

[2015-11-17 22:28] jfindlay commented on #28875
@chjohnst, thanks for the extra information.  There are some known issues with multimaster, such as #27152.  #18751 may also be related.

[2015-11-17 22:32] jfindlay commented on #27056
@oogali, not that I know of.  You could ask @cedwards or @kim0 if they think this would be an easy fix.

[2015-11-17 22:34] QuinnyPig commented on #19332
This matches what I'm seeing / using in production here. Sorry I haven't followed up; Pillar top files work on a last-match basis. If you can confirm this is always the case / there's no way to uncover overridden values, then this becomes a purely documentation issue.

[2015-11-17 22:37] ogabrielsantos commented on #27856
@cachedout I've solved this with a PR to improve behavior of saltstack-formulas/bind-formula. Anyway, this still is a bug with python 2.7.

[2015-11-17 22:51] mimianddaniel opened #28981 "2015.8.2 import pagerduty error"
Since upgrading to 2015.8.2, seeing the following error in the master.log

2015-11-17 23:33:59,283 [salt.loader                                  ][ERROR   ][31030] Failed to import runners pagerduty, this is due most likely to a syntax error:
Traceback (most recent call last):
  File "/opt/blue-python/2.7/lib/python2.7/site-packages/salt/loader.py", line 959, in _load_module
    suffix_order.appen

[2015-11-17 23:10] rterbush commented on #28877
@jfindlay This appears to not be a bug, but rather a confusion on perhaps my part.

Events triggered on <code>'salt/cloud/*/created'</code> pass the required data as <code>data['name']</code>

This is a bit counterintuitive to me and does prevent the ability to share reactor states across different event types. Not a show stopper, but would make sense if there was consistency.

I will leave this o

[2015-11-17 23:17] jfindlay commented on #28877
@rterbush, thanks for your further research.  Let's keep it open as you suggest.

[2015-11-17 23:45] mimianddaniel opened #28985 "2015.8.2 Salt request timed out"
a lot of following warnings in the master.log since the upgrade:
2015-11-18 00:24:56,170 [salt.utils.reactor                                                  ][WARNING ][22548] Exception caught by reactor: Salt request timed out. The master is not responding. If this error persists after verifying the master is up, worker_threads may need to be increased.

Had no problem with on 2015.5.5
I have th

[2015-11-18 00:03] whytewolf opened #28986 "xfs.devices failing on ubuntu"
getting an error when trying to use xfs.devices on an ubuntu system.

here is the output I am getting
[code]

I did notice that it is trying to use blkid -o export as it's input data.

here is the output i get from that command
[code]

and of coarse version info

[code]

[2015-11-18 00:04] isbm commented on #28854
@tampakrap I just today looked at this, because we needed that clear in SUSE Manager, and found [this line](https://github.com/saltstack/salt/blob/develop/salt/grains/core.py#L955) is aliasing everything. First, this value [goes into `lsb_distrib_id`](https://github.com/saltstack/salt/blob/develop/salt/grains/core.py#L1215) but then never goes overridden, even `/etc/os-release` is present.

We wou

[2015-11-18 00:05] anitakrueger commented on #21293
I have been using the postgres_cluster state (thanks for that!) and have just added the correct db_port to connect to in my postgres_database.present states. That way, the database will be created in the correct cluster. Not sure how the postgres_database state would ever know about a cluster...(since that's really just a name/port/data_dir configuration.

[2015-11-18 00:10] oogali opened #28987 "Salt has disappeared from FreeBSD packaging???"
The ```py-salt``` package has disappeared from the FreeBSD package database in the last few hours.

I'm testing FreeBSD 10.2 on EC2, and this morning I was able to install Salt via pkg. As of 2 hours ago, it's no longer working.

To make sure I wasn't losing my sanity, I removed my local database and re-updated it, and py-salt is indeed gone.

[code]

Technically, this could be directed at FreeBSD

[2015-11-18 00:26] doberloh commented on #28693
I am experiencing this in my master/minion test setup as well. Any ideas what could be happening here?

[2015-11-18 00:36] cro commented on #28597
So did this resolve itself?  We had some bad docs that Jacob removed and
I'm wondering if Google's cache just needed to catch up.

On Mon, Nov 9, 2015 at 12:59 PM, Forrest <notifications@github.com> wrote:

--
*--cro*
C. R. Oldham, Platform Engineer, SaltStack
cr@saltstack.com / 801-564-4673

[2015-11-18 00:39] gravyboat commented on #28597
@cro Definitely looks as though it did. Search results seem good. Thanks @jacobhammons.

[2015-11-18 00:39] cro commented on #28948
I think we resolved this today.  @cedwards -- let us know after you get done with your rotations tonight.  Thanks!

[2015-11-18 00:40] cro commented on #28597
Yay!  Thanks for the quick reply!

[2015-11-18 00:41] cro commented on #28987
I know @cedwards just pushed new packages to the FreeBSD repos.  That
shouldn't make the old ones disappear, though...

On Tue, Nov 17, 2015 at 5:10 PM, Omachonu Ogali <notifications@github.com>
wrote:

--
*--cro*
C. R. Oldham, Platform Engineer, SaltStack
cr@saltstack.com / 801-564-4673

[2015-11-18 00:43] Ch3LL commented on #28953
@Wenzel I tested this on two seperate minions. One that was NOT a docker container on a centos7 VM and one that I followed running your instructions. On the cent7 I was not receiving the same error. I was able to confirm that I did receive the same error on the docker container that you pointed me to. One thing to note though is once I followed these instructions to re/install libgit2:

[code]

It

[2015-11-18 00:49] #24019 closed

[2015-11-18 00:49] #28784 closed

[2015-11-18 00:53] doberloh commented on #28693
Just resolved it in my environment. It was a matter of changing the minion config value 'master_finger' after checking the master .pub key 'salt-key -F master'. Once that key is updated on the minion, you will need to remove the old master pub key from the minion. That is located at /etc/salt/pki/minion_master.pub. Restart the minion and it should be good.

[2015-11-18 01:01] cedwards commented on #28987
Isn't the package name ``py27-salt``? I'm not near one of my FreeBSD systems right now to check, but that's my first guess..

[2015-11-18 01:49] thehunmonkgroup commented on #27169
@cachedout fresh install on debian 8.2 bento base box with v2015.8.1, and this problem no longer occurs for me. didn't try latest v2015.5.x

[2015-11-18 01:51] oogali commented on #28987
The package name is py-salt, and py27-salt acts as an alias.

Even searching for py27-salt shows nothing.

[2015-11-18 03:06] adithep opened #28990 "Dockerng volume"
https://blog.docker.com/2015/11/docker-1-9-production-ready-swarm-multi-host-networking/

Docker 1.9 has a new volume management Api:

    Usage:  docker volume [OPTIONS] [COMMAND]

    Manage Docker volumes

    Commands:
      create                 Create a volume
      inspect                Return low-level information on a volume
      ls                     List volumes
      rm

[2015-11-18 03:21] racooper commented on #28956
I'll do what I can to assist, but I was just handed access to two netscalers and trying to figure them out.  Is it possible to support more than one netscaler device with this module?

[2015-11-18 04:15] pirogoeth commented on #27279
@basepi Thanks for the note!

[2015-11-18 05:42] jbq commented on #28693
Hi Dustin, this is indeed what happened.  But the python exception
traceback leads to believe that this is a Salt bug.  Is it possible to have
a meaningful error message?

--
Jean-Baptiste Quenot
Tel: 06 50 23 76 87

[2015-11-18 06:18] timcharper opened #28991 "allow role-assumption with s3 credentials"
I'm using IAM roles. On AWS classic instances, I've resorted to role assumption since it's not supported there, and to keep things consistent.

I started down the path to support this by fetching the credentials in a python pillar file; however, I realized that it's necessary to pass the `token`, in addition to the `key` and `keyid`, in order to use a role-assumption session.

Here's the code I wr

[2015-11-18 06:52] netroby commented on #21226
Long times goes, this bugs still there. affect us.

[2015-11-18 06:57] bmcorser commented on #28735
The test case I was going to try to create would have been a directory tree under `salt://` that had files and directories with non-ASCII characters in their names, then
 - send this tree to a minion with a `file.recurse`
 - send individual files with `cp.*` functions
 - reference a file with a non-ASCII character from an SLS file, send it to a minion with the same name using `file.managed`

Basic

[2015-11-18 06:59] netroby commented on #21226
[code]

This commend will install python and then install msgpack for us.

[2015-11-18 07:04] netroby commented on #21226
First time run salt you may using following command to install python and msgpack module
[code]

[2015-11-18 07:29] netroby opened #28993 "Proposal: Add command flags to display all content for roster"
Please add command .like

[code]

or

[code]

Read and output content for /etc/salt/roster

[code]

[2015-11-18 08:07] timcharper commented on #28991
https://github.com/saltstack/salt/pull/28994

[2015-11-18 08:17] rall0r commented on #23391
I have a similar issue when using `pillar.item <pillar>` and `pillar.items`:

* `salt 'minion' pillar.item <pillar>` : shows the old value
* `salt 'minion' pillar.items` : shows the actual/new value of <pillar>
* `salt-call pillar.item <pillar>` on the minion : shows the actual/new value of <pillar>

A `salt 'minion' saltutil.refresh_pillar` helps to fix this behavior and also a `state.apply` is u

[2015-11-18 09:17] timcharper opened #28995 "systemd.get_all broken on non-bsd systems / salt-bootstrap failure"
Either `salt-bootstrap` failed to install it, but the `col` command is not available, by default, on Debian systems. This is causing `systemd` `service.get_all` to fail silently when listing actual `systemd` services, and return only the legacy ones.

The command is referenced several times; see here:

https://github.com/saltstack/salt/blob/v2015.8.2/salt/modules/systemd.py#L76

Installing the pac

[2015-11-18 09:17] timcharper commented on #28995
affected salt versions: `2015.8.1` and `2015.8.2`

[2015-11-18 09:18] wangyang616 opened #28996 ""pkg.installed: -pkgs" may takes a very long time to run "repoquery --all""
When I use "pkg.installed" with "pkgs" to install multiple packages, salt run

`repoquery --plugins --queryformat '%{NAME}_|-%{VERSION}_|-%{RELEASE}_|-%{ARCH}_|-%{REPOID}'   --all --quiet --whatprovides`

But it takes a very long time with large repos cause it fetched all rpms.

Example:

[code]

Is it possible to check only specific pkgs?
like: `repoquery --plugins --queryformat '%{NAME}_|-%{VERS

[2015-11-18 09:36] Wenzel commented on #28953
Hi @Ch3LL, thank you for your feedback.

First, `pygit2` was only packaged in `Debian` testing. That's why I choose it as a base image for my container.
So I tried to replace the [`python-pygit2`](https://packages.debian.org/stretch/python-pygit2) package with the sources of `pygit2` that your provided.
I switched from version `0.23.0-1` to `v0.23.2`, and it **worked**.

Bug the bug that I wanted

[2015-11-18 09:58] kiorky opened #28998 "[Broken] lxc additions breaks again the module"
FWIW, i do not like at all the proposed patches, the uses_systemd thing is ugly and add too much code.

If the detection of systemd in there fails, this is this code that has to be fixed, and not a workaround if branch.

The patchs for new options for salt cloud templates is wrong, the thing to patch is the module execution interface method.

cc @terminalmage @basepi

[2015-11-18 09:58] kiorky commented on #28998
#28207 #27662

[2015-11-18 10:03] rominf commented on #28403
Thank you, @vmspike, cache cleaning helped me!

[2015-11-18 10:40] DmitryKuzmenko commented on #28350
@WalterInSH actually it's good news! You just need to determine what's wrong with your environment. It looks like either sudo or shell problem. Please show output of the following:
[code]

[2015-11-18 10:51] dumol commented on #24019
Thanks, that should do it. Looking forward to get this fix in an update.

[2015-11-18 10:52] kiorky commented on #28998
(im already fixing)

[2015-11-18 11:01] tampakrap commented on #28854
@isbm [this line](https://github.com/saltstack/salt/blob/develop/salt/grains/core.py#L955) was added by me on #28855 because SLE11SP4 was failing to start services otherwise. Either way, I will update to 2015.8.2 and will resubmit data that I submitted to this ticket's subject

[2015-11-18 11:03] johnccfm commented on #27866
I just tested it again, having upgraded the master to 2015.8.1. I created a new Windows VM, installed Salt minion 2015.8.1.

With defaults (multiprocessing enabled).
[code]

After disabling Multiprocessing and restarting the minion.
[code]

[2015-11-18 12:03] olfway opened #29001 "debconf.set doesn't support "prereq" in states"
[code]
prints warning:
[code]
I'm using salt 2015.8.1 (Beryllium)

[2015-11-18 12:07] moebiuseye commented on #21226
@jfindlay Hi, I've installed python-msgpack because I didn't have time to wait for an answer.
I'll reproduce this and post more info this week-end if I find the time.
@netroby Of course that solves the problem, but to quote @basepi : «Salt-ssh is designed to run on the target system without any modification.»

[2015-11-18 12:11] kimoziiiii commented on #28917
@jfindlay ths for your reply.

[2015-11-18 12:26] kiorky commented on #28998
The ``error 2`` status is not an error, but a debug log from salt.cmd, it does not fail the state...

[2015-11-18 12:26] kiorky commented on #28207
The ``error 2`` status is not an error, but a debug log from salt.cmd, it does not fail the state...

[2015-11-18 12:29] s0undt3ch commented on #28893
Here's the fix, plus some more goodies... https://github.com/saltstack/salt/pull/29002

[2015-11-18 13:14] 0xf10e commented on #28987
I checked on FreeBSD 9.3-RELEASE and FreeBSD 10.2-RELEASE and both look fine:
[code]

[code]

[2015-11-18 13:32] almondc opened #29003 "Not able to specify the network adapter an instance is bootstrapped with Salt Cloud"
I have AWS instances with 2 NIC's with SSH only available on Eth1 (ACLs and Security Group restrictions). By default Salt Cloud will attempt to SSH to Eth0 on the device meaning I cannot boostrap them via salt cloud.

Is it, or could it be possible to specify which Eth adapater to use to kick off the bootstrap proccess?

The network part of my salt cloud profile looks like this:

[code]

[2015-11-18 13:39] dmyerscough commented on #28893
:+1:

[2015-11-18 13:39] #28893 closed

[2015-11-18 14:16] RuriRyan commented on #28996
This should have been fixed by #28526.

[2015-11-18 14:23] 0xf10e opened #29004 "Reusing a `user.present` state written for Linux on FreeBSD causes the specified account to expire immediately"
The [`bsd_shadow.set_expire`](https://github.com/saltstack/salt/blob/develop/salt/modules/bsd_shadow.py#L120) exec function assumes the expiration date of an account is passed in seconds since 1970-01-01 00:00 UTC aka "epoch".
The state function [`user.present`](https://github.com/saltstack/salt/blob/develop/salt/states/user.py#L487) always passes the attribute `expire` as days since epoch as expe

[2015-11-18 14:24] fcrozat opened #29005 "non-standard umask breaks salt-call call in salt-ssh"
Following #28830 , salt-call requires a standard umask for work properly over salt-ssh, if user used for ssh has non-standard umask.

[2015-11-18 15:14] BalintSzigeti opened #29007 "sls file interpretation issue."
hello

if you set a variable in sls file and just use the same name without brackets the interpretation will substitute the 'variable' with value.

for example:
[code]
the gatewaydev will be IP instead of 'eth1' string.

workaround:
using another variable name.

According to my knowledge if I want to use the variable I should use {{ eth1 }} form which works but not explicitly.
I use salt-2015.8.1

[2015-11-18 15:17] LoveIsGrief opened #29009 "git.latest doesn't checkout submodules"
Hello,

For the versions salt 2015.8.1 (Beryllium) and salt 2015.5.2 (Lithium) I have run into the problem that `git.latest` doesn't checkout the submodules when asked to do so.

Here's an example configuration to reproduce the problem

[code]

[code]
[code]

This ran on a vm:

[code]

[2015-11-18 15:28] msciciel commented on #25579
I've found that problem occurs on nodes which have file /etc/salt/minion.d/_schedule.conf:
[code]
I didn't create this file and in my case mine.update is only executed during highstate , not from schedule.

[2015-11-18 15:30] oogali commented on #28987
@0xf10e Your output disturbs me even more.

You're deleting the local package database, updating, and pulling down a different count of packages (24424 on your 9.3 box, vs. 24632 on your 10.2 box).

| Reporter | FreeBSD Version | Package Count (reported by pkg) | py-salt? |
| ------------ | ----------------------- | -------------------------------------------: | :---------: |
| @oogali | 10.1 (New

[2015-11-18 15:35] msciciel commented on #25579
Maybe below example will bring some freshness into this problem:

[code]

[2015-11-18 15:51] The-Loeki opened #29010 "file.managed download failing checksum testing for Ubuntu initrd w/source_hash"
[code]

Relevant output:

[code]

[2015-11-18 15:52] oogali commented on #28987
It seems to be the latter, the mirrors are fine (kind of?)

My broken systems are pulling from http://pkgmir.pkg.freebsd.org/FreeBSD:10:amd64/latest/, which doesn't have py-salt in the database.

[code]

My working systems are pulling from http://pkgmir.pkg.freebsd.org/FreeBSD:10:amd64/quarterly/, which does have py-salt in the database (albeit the older version: 8.0_1).

[code]

Mirrors are techn

[2015-11-18 15:53] The-Loeki commented on #29010
`efe2b5e68664fa07bad420a14147f68448d8bad44ef2650ac0074c3ec5d0e4e9` ==  `./vivid-cdrom/initrd.gz`

[2015-11-18 15:54] The-Loeki commented on #29010
Salt version = `2015.8.1-1087-g5560cb6`, but it's reproducable since at least 2015.5

[2015-11-18 16:10] ccmills commented on #28911
@terminalmage great to see. I can confirm the bug is also present with:

`salt [minionid] cp.list_master`

your fix in #28970 looks like it will address the issue, should we mark this closed?

[2015-11-18 16:18] jfindlay commented on #27857
Nice, thanks @belt-ascendlearning.

[2015-11-18 16:20] terminalmage commented on #28911
@ccmills If you're able to test the pull request, that would be a big help. Here's a [guide](https://help.github.com/articles/checking-out-pull-requests-locally/) on how to check out a pull request in a local branch.

[2015-11-18 16:21] jfindlay commented on #28971
@belt-ascendlearning, is this on 2015.8.1?

[2015-11-18 16:21] jfindlay commented on #28973
@belt-ascendlearning, is this on 2015.8.1?

[2015-11-18 16:22] belt-ascendlearning commented on #28971
Yes.

[2015-11-18 16:22] belt-ascendlearning commented on #28973
yes

[2015-11-18 16:22] jfindlay commented on #28974
@belt-ascendlearning, is this on 2015.8.1?

[2015-11-18 16:25] Ch3LL commented on #28953
@Wenzel thanks for the additional information. I'll make sure to add the appropriate bug labels to this issue. And just to add more information fro this issue here is the `salt --versions-report` from your container once I got the command working.

[code]

[2015-11-18 16:25] belt-ascendlearning commented on #28974
Yes.

[2015-11-18 16:27] jfindlay commented on #28976
@belt-ascendlearning, thanks for the report.  Can you explain what you mean by the recipe?

[2015-11-18 16:28] belt-ascendlearning commented on #28976
I don't know what else to call it. Directive? cmd.run or rabbitmq_user.present ... these are "recipes" ... a collection of recipes are a state.

[2015-11-18 16:33] jfindlay commented on #28981
@mimianddaniel, thanks for the report.  Your stack trace looks incomplete.  Is it possible to post the whole output?

[2015-11-18 16:33] jtand commented on #28995
@timcharper Thanks for finding and reporting this!

[2015-11-18 16:39] jfindlay commented on #28986
@whytewolf, thanks for the report and the fine version info.  @isbm, do you have any ideas on this?

[2015-11-18 16:39] jfindlay commented on #28990
@adithep, thanks for the report.

[2015-11-18 16:44] jtand commented on #28995
@timcharper I did a little looking to this with a Debian 8 machine and `col` was available, pulling from the head of 2015.8.  Can you post the output from the two commands I used below?

[code]

[2015-11-18 16:46] jfindlay commented on #28993
@netroby, thanks for the feature request.  What is your motivation for wanting such a feature that `cat /etc/salt/roster` doesn't provide?

[2015-11-18 16:50] oogali commented on #28987
So the origin of the 'quarterly' and 'latest' changes is documented in the 10.2 release notes:
- https://www.freebsd.org/releases/10.2R/relnotes.html#releng-changes (see last note)

You can see the current state of which FreeBSD versions have which versions of py-salt via portsmon:
- http://portsmon.freebsd.org/portoverview.py?category=sysutils&portname=py-salt

In the second link, you can see tha

[2015-11-18 16:51] TrevorKarjanis opened #29012 "The salt-minion takes a long time to connect when configured with a master failover list."
There is no way to configure the connection timeout. To avoid massive timeouts when using a failover list, it would be good to have a feature that allows us to configure the salt minion with two connection timeout values, a small and a large value (e.g. 5 and 30 seconds). When configured with a failover list, it would use the small timeout on the first iteration of the list and then use the large

[2015-11-18 17:12] jfindlay commented on #28995
@timcharper, thanks for the report.  I researched the issue and also tested the differences, and it seems that running the output through `col -b` is not necessary for the systemctl output.

[2015-11-18 17:14] techhat commented on #28862
None of these options are meant to work in uppercase. See the raw docs:

https://raw.githubusercontent.com/saltstack/salt/develop/doc/topics/cloud/misc.rst

It looks like the style sheets in your link are displaying the headers in uppercase, instead of lowercase.

[2015-11-18 17:15] jfindlay commented on #28996
@wangyang616, thanks for the report.  As @RuriRyan indicates, this is a duplicate of #28526.  The fix will be included in 2015.8.2

[2015-11-18 17:15] #28996 closed

[2015-11-18 17:17] aletourneau commented on #28956
Yes it's possible, here is an example:
[code]
With that said, my current use case is: one salt-master per environment, which in turn only manages one netscaler directly.

[2015-11-18 17:20] Ch3LL commented on #29010
@The-Loeki thanks for the report. I was able to reproduce this error. Also here is some additional output from the command:

[code]

[2015-11-18 17:23] Ch3LL commented on #29010
also I tested this on:

[code]

[2015-11-18 17:24] jfindlay commented on #29001
@olfway, thanks for the report.  Can you also post the output of the debug logs of the master and minion when this happens?

[2015-11-18 17:25] jfindlay commented on #29004
@0xf10e, thanks for the report.

[2015-11-18 17:28] jakehilton opened #29015 "git_pillar not honoring git_pillar_base"
Consider the following master config:

[code]

From that I would assume that the branch that would be referenced would be the 'dl' branch yes?

In my cache dir I see the following here: /var/cache/salt/master/gitfs/5eac921619e32e399818342f847b05a9/.git/HEAD

[code]

I would expect it refer to ref: refs/heads/dl

git status in my gitfs cache repo shows

[code]

Which is incorrect even for the maste

[2015-11-18 17:29] jfindlay commented on #29005
@fcrozat, thanks for the report.

[2015-11-18 17:34] jfindlay commented on #29007
@BalintSzigeti, thanks for the report.  I cannot reproduce this.  Is there anything else I should try?
[code]
[code]
[code]

[2015-11-18 17:34] jakehilton commented on #29015
What is also somewhat concerning is that when a minion goes into its highstate I get an error when my ext_pillar is set to: - dl ssh://git@source.gitlab.com/devops/ops.git but works when I set it to - master ssh://git@source.gitlab.com/devops/ops.git

The branches are identical in content and so I think it must have something to do with a mismatch in the ext_pillar and gitfs checkouts or some othe

[2015-11-18 17:49] jfindlay commented on #29009
@LoveIsGrief, thanks for the report.

[2015-11-18 18:04] #29005 closed

[2015-11-18 18:06] Ch3LL commented on #28875
@chjohnst This has been fixed for str multi-master setup at this PR: #28302 This will be included with 2015.8.2 and should be released soon.

[2015-11-18 18:08] Grokzen commented on #13640
@terminalmage This issue should be closed as the PR that added this flag now is merged into the 8.0 branch.

[2015-11-18 18:13] Ch3LL commented on #28875
@chjohnst I will keep this ticket open for the failover scenario you described above, because the PR does not fix multi-master failover. But for str multi-master this is fixed. Can you please verify this is the case for you and update this ticket once 2015.8.2 is release.

[2015-11-18 18:22] jfindlay commented on #29012
@TrevorKarjanis, thanks for the feature request.

[2015-11-18 18:24] Tangresh commented on #28519
I see the same error on two freshly installed Ubuntu 14.04 systems with Saltstack 2015.8.1.

One is running in Vagrant and fails consistently to restart services. The output of state.show_sls for that one is too big to post here.

The second machine is not fully set up yet, but it seems to exhibit the same behavior: no service restarts.
Info of the second machine:
[code]

[code]
The thing that see

[2015-11-18 18:27] rallytime commented on #29003
I don't think this is a supported option currently, but it's a great feature request. Thanks!

[2015-11-18 18:29] jfindlay commented on #28985
@mimianddaniel, thanks for the report.  Is it possible for you to post a reactor sls that is related to the log message?  Did you install/upgrade salt with packages or with pip or git?  What systems are you running your master/minions on?  Can you provide more information on the topology of your salt network that is giving rise to these timeout issues?

[2015-11-18 18:32] basepi commented on #28977
I think you're not allowing the presence to get going properly. Are all those new minions actually new? It's possible the presence system didn't see your stopped minion before it was stopped.

[2015-11-18 18:38] basepi commented on #28978
I do not think the minion writes anything about its current syndic to _schedule.conf -- that file is only used for schedule changes with the schedule module/state I think.

The problem here is that salt-call doesn't have any interface with a running minion on the system. It inits its own connection and does its own thing. So even if you have a running minion connected to an online syndic, it's not

[2015-11-18 18:44] Ch3LL commented on #28785
@nikatjef thanks for the additional information. I did find this issue: #21601 where a user was receiving multiple returns in a syndic scenario, and resolved it because he had multiple syndic processes running. He did not have a multi-master setup so I believer your setup is a separate issue. But in this issue basepi explained the following:

"This is very odd. The only time I would expect to see

[2015-11-18 18:46] mimianddaniel commented on #28981
sorry bad cut and paste..
2015-11-17 23:33:59,283 [salt.loader                                  ][ERROR   ][31030] Failed to import runners pagerduty, this is due most likely to a syntax error:
Traceback (most recent call last):
  File "/opt/blue-python/2.7/lib/python2.7/site-packages/salt/loader.py", line 959, in _load_module
    suffix_order.append(suffix)
  File "/opt/blue-python/2.7/lib/python

[2015-11-18 18:50] mimianddaniel commented on #28985
Unfortunately, i have reverted to previous stable version branch and the log doesnt show which reactor it was running at the time of the warn.
I installed from git, packaged up thru RPM.  Centos 6
Master -> syndics -> minions  . I am suspecting that this is happening due to the recent changes to the return_retry_timeout introduced in 2015.8 and 2015.5 branches.

[2015-11-18 18:58] jfindlay commented on #28976
@belt-ascendlearning, I very much sympathize with your confusion.  Most people call them 'states', which is problematic because salt states are also called states.  The best term I've found is 'sls', which is a little better.  Personally, I would rather that they were called something like 'recipe' or 'formula'.

[2015-11-18 19:03] olfway commented on #29001
I'm not sure how to get relevant debug output ("salt-{minion,master} -l debug" gives too much)

but this issue looks same as this one https://github.com/saltstack/salt/issues/16709

and same patch fixes issue for me (no warnings output, order looks right):
[code]

[2015-11-18 19:04] jfindlay commented on #28981
@mimianddaniel, thanks for the extra info.  The fix will be in the next release.  As a workaround, you should be able to update the runner module according to the referenced pull request.

[2015-11-18 19:06] jfindlay commented on #29001
ping @cachedout

[2015-11-18 19:19] VinceBarresi commented on #28977
So it turns out I had a typo in my `presence.conf`

[code]

I'll close the ticket as everything appears to be working now.

[2015-11-18 19:22] cgaley opened #29018 "Error retrieving data['name'] dict from salt/cloud/*/created/"
I have been testing this to no avail. I am attempting to trigger a state that updates some custom modules dependencies. The event has the proper field but I am getting a not found in dict error. I initially thought this might be related to #28877

Triggering Event:

[code]

[code]

.sls:

[code]

reactor.conf:

[code]

Salt Report:

[code]

[2015-11-18 19:25] cgaley commented on #28629
can confirm this fix worked

[2015-11-18 19:26] rallytime commented on #28629
Awesome! Glad to hear that. Thanks!

[2015-11-18 19:37] ccmills commented on #28911
I think I can manage that this week. I'll report back with my findings.

[2015-11-18 20:13] BalintSzigeti commented on #29007
well I met the problem when I used network module. I tried to configure
the network and the issue was face up.

On 18/11/15 17:35, Justin Findlay wrote:

[2015-11-18 20:15] basepi commented on #21226
@moebiuseye Did installing msgpack resolve your `pkg.installed not available` errors? Looking back, I'm surprised those were related. I think that "critical" error is not actually critical in the case of salt-ssh, but if it was actually interfering with normal salt-ssh runs then I need to investigate more.

[2015-11-18 20:19] basepi commented on #25579
I think that's expected behavior on all minions. We use _schedule.conf for internal scheduling, as well as managing schedules through the schedule module/state. So when you set a mine_interval, I'm pretty sure the minion automatically updates this file to schedule the actual mine.update. I could, however, be wrong. Good info, thank you.

[2015-11-18 20:23] basepi commented on #28785
Yes. The issue is that the minion doesn't keep track of jids it has already executed. It just executes a job every time it receives a job. So when you pub a job from the master of masters through two syndic masters, with a minion underneath connected to both, the minion receives to jobs, and so it runs and returns two jobs.

This is a fairly common use case, so we need to at some point add this fi

[2015-11-18 20:29] ssplatt opened #29021 "master cannot send custom event to other masters and syndics"
event.fire, event.fire_master, and event.send only work master<->minion. Messages from Master only travel on the Minion bus. In a multimaster, multisyndic configuration, there is no way to trigger an event from one master to another. i.e. if salt-cloud stands up a new minion from master1 but is configured to use syndic1 as it's master, there is no way to tell syndic1 to accept the salt-cloud minio

[2015-11-18 20:31] Karunamon commented on #24351
I can confirm this is happening on 2015.5.3 as well. It might be bogus data already in the job cache, but if that's the case, I'm not sure how to delete it.

[code]

[2015-11-18 21:48] andrejohansson opened #29023 "Is it possible to assign pillars via command line?"
I know it's possible to assign pillars via command line such as:

[code]

But is it possible to assign existing pillars to a specific target from commandline? For example if my top file looks like this:

[code]

Could I do something like this?

[code]

This could be useful for when creating and destroying test environments.

[2015-11-18 22:10] twangboy commented on #27866
I'm getting right around 4 seconds with multiprocessing on and around 2 seconds with it off.

[2015-11-18 22:13] terminalmage commented on #28911
:smile:

[2015-11-18 22:32] isbm commented on #28986
@whytewolf You're a very brave man with XFS on 14.04... :wink:

@jfindlay I know why this happens, but should we actually care about Ubuntu 14.04, which even does not have an upstream LTS kernel?

[2015-11-18 22:38] basepi commented on #28977
Awesome! Glad you found it.

[2015-11-18 22:38] #28977 closed

[2015-11-18 22:42] basepi commented on #21226
I can reproduce this issue. I'm investigating now.

[2015-11-18 23:00] terminalmage commented on #28072
Confirmed that the gitfs code did work in 0.22.x, as well as 0.23.0 and 0.23.1, but breaks with 0.23.2. Looks like the pygit2 developers decided to once again make a major change in a point release. They have a history of doing that, unfortunately.

Sorry for the inconvenience, I'll get a fix for this in the next day or two.

[2015-11-18 23:07] terminalmage commented on #28072
In the meantime, @johnwchadwick, you can work around this by uninstalling pygit2, and installing 0.23.1 using pip:

[code]

[2015-11-18 23:11] Ch3LL commented on #28785
Thanks for the clarification @basepi . I am going to re-label this as a feature-request

[2015-11-18 23:18] doberloh commented on #28693
@jbq Unfortunately I am not a contributor to the project (yet) but I would +1 a more meaningful message.

[2015-11-18 23:22] deuscapturus opened #29025 "Windows - Illegal character allowed in file cache"
I am trying to use file.managed to download a file from a web API to a Windows 2012 server.  Saltstack is unable to download and cache the file because the URL for the file contains a colon "\id:32035" which is an invalid character for directories in Windows.

Colons should be replaced for the purpose of the file cache with some other valid character.

[code]

[code]

[2015-11-18 23:26] teran-mckinney commented on #12880
Is there a way to force reloads even if the service is running, without a watch, using state and not the module? Or is using the module the right way to do this?

[2015-11-18 23:44] hemebond commented on #1064
Are Pillar files themselves merged together, after Jinja has had its way, before being processes by the YAML processor in one go?

[2015-11-19 01:28] kevins9 opened #29028 "state.sls fails to render state with pillar data: Jinja variable 'dict object' has no attribute"
This is only occurring on my minions running Salt 2015.5.5 and CentOS 7.  Issue is similar to #16727 and #16656.
##### Version info - master and minion

[code]
##### Pillar top.sls

[code]
##### Pillar bugdemo.sls

[code]
##### minion /etc/salt/grains

[code]
##### Master /srv/salt/dev/bugdemo.sls

[code]

(Note: master config has "dev" saltenv configured with root /srv/salt/dev)
##### Evidence

P

[2015-11-19 01:40] lorengordon commented on #29023
I would also appreciate something like this. Particularly if I could just point right at the filename. i.e. `pillar=./mysql.sls`

[2015-11-19 01:56] kevins9 commented on #29028
When rewriting the state to use salt['pillar.get']('bugdemo') references, as per recommended in documentation, things work differently:

##### bugdemo.sls
[code]

##### Works correctly on the good minion
[code]

##### Works incorrectly on the bad minion
[code]
It never filled in the value "problem" into the state.

[2015-11-19 02:06] timcharper commented on #28995
`which col` definitely failed before, but succeeds now that I've installed the package `bsdmainutils` (the package which includes the `col` command).

[code]

Mind you, I had to manually install `PyZMQ`, also, as noted in another issue for salt-bootstrap.

Sounds like you've got the fix in route :) Let me know if you'd still like me to run the

[2015-11-19 02:10] whiteinge commented on #24562
This has been fixed. Docs on usage are in #27096.

[2015-11-19 02:10] #24562 closed

[2015-11-19 03:08] TronPaul commented on #28890
Calling this done with the merge of #28906. Thanks for the help!

[2015-11-19 03:08] #28890 closed

[2015-11-19 03:52] syedaali opened #29029 "Feature request for 'Bad load from minion' logging IP of minion"
I am seeing the below error message in my master's log file:

2015-11-19 03:49:24,337 [salt.transport.zeromq][ERROR   ][32163] Bad load from minion

I cannot tell which minion is causing this, if the minion IP is logged it would be helpful.

Hopefully this is not a duplicate request?

[code]

[2015-11-19 04:00] zanhsieh opened #29030 "Possible cmd.run return IP addresses instead of minion_id?"
Hi,

As title. To illustrate, suppose we have:

master => 192.168.1.100
minion1 => 192.168.1.101
minion2 => 192.168.1.102

In master, we execute:

[code]

Then it suppose to return something like this:

[code]

Is it possible to return like this or something similar:

[code]

[2015-11-19 04:08] syedaali opened #29031 "Authentication failure of type "user" occurred."
Related to #11628  I am seeing the below error message in my master log:

2015-11-18 23:48:59,976 [salt.master      ][WARNING ][1166] Authentication failure of type "user" occurred.

salt-master and salt-minion are both running from /etc/init.d.

I  did not define 'user' in my master config.

salt --versions
Salt Version:
           Salt: 2015.8.1

Dependency Versions:
         Jinja2: 2.7.2

[2015-11-19 04:21] syedaali opened #29032 "Bad load from minion"
I am seeing the below error in my master log file:

2015-11-19 04:12:22,184 [salt.transport.zeromq][ERROR   ][32169] Bad load from minion

The error only happens when the below minion connects. It may be related to the different versions of some of the software (not salt though) on the minion versus the master, for example the tornado version differs.
salt-minion> salt-minion --versions
Salt Versi

[2015-11-19 04:24] terminalmage commented on #29031
As I asked before in the other issue, please let us know how to reproduce this. What were you doing when the error occurred?

[2015-11-19 04:30] syedaali opened #29033 "salt-minion reports different version of tornado than the one installed on the system"
I have python tornada 4.2.1-1 on the system, but salt-minion reports Tornado: 3.2, not sure where salt-minion is getting it's tornado version from? (May be related to #29032 )

[code]

[code]

[2015-11-19 04:37] syedaali commented on #29031
Sorry, missed that part.

I see 4 errors in my master's log file:

2015-11-18 17:51:36,153 [salt.master      ][WARNING ][1165] Authentication failure of type "user" occurred.
2015-11-18 17:51:36,445 [salt.master      ][WARNING ][1176] Authentication failure of type "user" occurred.
2015-11-18 17:52:06,920 [salt.master      ][WARNING ][1177] Authentication failure of type "user" occurred.
2015-11-1

[2015-11-19 04:42] syedaali opened #29034 "Authentication failure of type "user" occurred does not report minion IP"
I am seeing the below error message in my master's log, is there any way to make the message source clear? Is this coming from a minion, if so what is the IP of the minion? Just based on the error I can't tell where to look for the cause.  (Also see #29031)

2015-11-18 17:51:36,153 [salt.master      ][WARNING ][1165] Authentication failure of type "user" occurred.
2015-11-18 17:51:36,445 [salt.mas