[2017-03-02 22:03] Ch3LL commented on #39781
@borisovano this is related to https://github.com/saltstack/salt/issues/18510 which is an issue being tracked to help standardized exit codes within salt. This is also a duplicate of https://github.com/saltstack/salt/issues/27200 which is related to salt-cloud which encompasses not returning the correct exit code in salt-cloud when running into errors. I will close this issue so we can track this

[2017-03-02 22:03] #39781 closed

[2017-03-02 22:05] Ch3LL commented on #39782
@sergeizv thanks for the PR on this. I'll go ahead and close this issue now. Thanks once again!

[2017-03-02 22:05] #39782 closed

[2017-03-02 22:11] Ch3LL commented on #39779
@sp1r seems you have a good idea on why this is occurring any chance you want to try to tackle this with a PR? Or if you have any questions on how to tackle it?

[2017-03-02 22:22] gtmanfred opened #39798 "Use cache subsystem for pillar_cache backend."
### Description of Issue/Question
description.

https://docs.saltstack.com/en/latest/ref/configuration/master.html#pillar-cache-backend

[2017-03-02 22:37] Ch3LL commented on #39786
@harmv can you give #39651 a try and report back if its working for you?

[2017-03-02 23:04] Ch3LL commented on #39783
@mdaffin looking at the code [here](https://github.com/saltstack/salt/blob/v2016.11.3/salt/engines/slack.py#L205) and when i just pass that through using the python salt-api as shown below it works:

[code]

Can you print out kwargs and args on that command and see how its trying to pass this to localclient?

[2017-03-02 23:05] dmacvicar commented on #39764
I started looking into this, unfortunately I could not get runtests.py to work in develop.

I suspect of:

[code]
I will revisit it soon.

[2017-03-02 23:10] #39394 closed

[2017-03-03 00:56] vieira commented on #39778
Hello @Ch3LL

Oops, sorry. You are right, it does not appear to be related only with 2016.x. I updated some more minions in the last few days and now have some in 2016.11.3 where this happens and some where it does not.

So here are some where it does not happen (running version 2016.11.3+ds-1):
(also tested without humanname, dist and key_url and with clean_file: True. No problems.)

[code]

[cod

[2017-03-03 01:06] vieira commented on #39778
The state where I am having problems (oracle-java8-installer) works fine on 2015.5.3+ds-1trusty1. So at least with PPAs there seems to be a regression in 2016.x.

[2017-03-03 01:15] whiteinge commented on #39783
It might not be working because it looks like this engine is doing [it's own name=val parsing](https://github.com/saltstack/salt/blob/v2016.11.3/salt/engines/slack.py#L180) and at quick glance it's not clear to me why. LocalClient _also_ performs that work in addition to running args through `parse_input` (which is what turns `name=value` pairs into a data structure) so I think we could just use t

[2017-03-03 01:46] vieira commented on #39778
So both 2015.5.3 and 2016.11.3 will enter the `if pre:` ([2015.5](https://github.com/saltstack/salt/blob/2015.5/salt/states/pkgrepo.py#L324), [2016.11.3](https://github.com/saltstack/salt/blob/v2016.11.3/salt/states/pkgrepo.py#L367)) condition because on both `pre` [has something](https://github.com/saltstack/salt/blob/v2016.11.3/salt/states/pkgrepo.py#L345):
[code]

In 2015.5 inside the if there

[2017-03-03 02:09] JaseFace opened #39804 "Query strings are now always used in the minion cache, creating duplicate files when dynamic URLs are used"
### Description of Issue/Question
https://github.com/saltstack/salt/pull/36305 introduced the addition of the query string to the filename in the minion cache. When using a source which is a dynamic URL (such as URLs that expire with unique auth strings), this creates a duplicate file for every fetch, even though the back end file is the same.

For example each highstate would grab and store a fil

[2017-03-03 03:19] sumeetisp commented on #39752
But i feel when my master is at 11.2 the bootstrap happening during provisioning should not have installed minion at a higher version than the master. It should download same version as that of the master. Let me know your thoughts.

[2017-03-03 03:20] gtmanfred commented on #39752
You can hard code which version to install by using script_args, but by
default it always installs the newest version.
On Thu, Mar 2, 2017 at 9:19 PM sumeetisp <notifications@github.com> wrote:

[2017-03-03 03:22] sumeetisp opened #39805 "Regarding issue #39752"
### Description of Issue/Question
I feel the bootstrap happening during provisioning should not have installed minion 11.3 when my master version is 11.2. The bootstrap should have happened at same version as that of the master.
Here i am not using any custom script to bootstrap which is an option but even while depending on automatically bootstraping this check should be in place.

Let me know yo

[2017-03-03 03:23] sumeetisp commented on #39750
It worked for linux. Will have to check for windows which takes much longer to clone on vmware. Will update

[2017-03-03 04:44] daswathn commented on #39777
Thank you for checking on this, do let me know if you need any more details, regarding this.

[2017-03-03 05:08] daswathn opened #39807 "Incorrect Logging of info for multimaster setup"
### Description of Issue/Question
The minion is setup for multi-master setup, but when you restart the minion the log says "random_master is True but there is only one master specified. Ignoring" which is not true, this error is being reported in the salt-call 2016.11.2 (Carbon) . It was working well with 2016.3.1.

But its working fine, communication between the multi-master and minion is fine.

[2017-03-03 07:27] mirceaulinic commented on #39775
You are correct @Ch3LL: #39776 does not entirely fix this. There are few more changes required, but I would need some help to identify where's the right place.

[2017-03-03 07:35] harmv commented on #39786
I'll give it a try. (will be next week though)

[2017-03-03 07:35] sp1r commented on #39779
@Ch3LL I would love to. But I have no much understanding of salt internals for now and current implementation confuses me at some points.

I state my idea like this:
- teach scheduler to differ jobs originated from config files and from pillar
- and deny any modifications to jobs from pillar by `schedule` module

Is it OK?

[2017-03-03 08:44] Xiami2012 commented on #39552
@Ch3LL Hmm.. I don't know the author's design. I tried to fix that but my fix may go contrary to @lingonl 's original design. So I prefer him to fix it.

My fix:
1. I dropped ``elif subtype == 'port'`` code blocks.
2. Process ``parts`` like this:
    ...
[code]
    ...
[code]
    ...

If you are satisfied with this, I'd like to make a PR.

Sorry for late reply.

[2017-03-03 09:41] mirceaulinic opened #39811 "Allow NAPALM proxy to not be always alive"
### Description of Issue/Question

Opening this ticket for myself, please add the Feature label.

Although having the connection always alive it's a great benefit in terms of speed, there are a few challenges as many devices such as Cisco IOS do not provide any kind of capability to handle parallel requests over the same SSH session.
In addition, in some environments that are not very dynamic, hav

[2017-03-03 09:47] shixinyu commented on #25842
@jfindlay Seems salt-minion run the executed command with wrong grammar.

it should be
`/bin/sh -c 'sudo -u root salt-call --out json --metadata -c /etc/salt -- state.apply packages/wget __pub_user=sudo_<USER> '__pub_arg=['"'"'packages/wget'"'"']' __pub_fun=state.apply __pub_jid=20160819152129612779 '__pub_tgt=<TARGET GLOB>' __pub_tgt_type=glob __pub_ret='`

[2017-03-03 09:49] vutny opened #39812 "Master is unable to target minion with space in ID from pillar top file"
### Description of Issue/Question
If minion has a white space in the ID, the Salt Master cannot target it by ID specified in Pillar `top.sls` file.
Please look at the details below.

### Setup
[code]

### Steps to Reproduce Issue
[code]

#### Expected result
I assume that I should get `test1: passed` as well. But I don't.

### Versions Report
[code]

[2017-03-03 10:08] hulu2wa commented on #39779
I have some same problem, The schedule.delete function already return True,
But some times the  schedule job still execute on minion.

[root@localhost minion.d]# salt --versions-report
Salt Version:
           Salt: 2016.3.0

Dependency Versions:
           cffi: Not Installed
       cherrypy: 5.1.0
       dateutil: 1.5
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo:

[2017-03-03 10:20] guettli opened #39813 "Spirit of docs: Common use case first"
### Spirit of docs: Common use case first

I want to explain my 13 year old son the beautify of configuration management.

I looked at the docs of [pkg.installed](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.pkg.html#salt.states.pkg.installed)

If you follow the above link, you will see details. A lot of details. My son looks a the details ... and is confused.

Does salt have a

[2017-03-03 11:20] #39805 closed

[2017-03-03 11:23] sumeetisp opened #39814 "Salt-Cloud provisioning - salt key"
### Description of Issue/Question
While provisioning using salt-cloud, the key of the minion which is to be provisioned is added to salt first.
This works fine if the provisioning has succeeded but when the provisioning has failed this  key has to be manually removed.
Is there any config parameter to take care of this?

[2017-03-03 12:21] guettli commented on #39684
I created a pull request. Please revue it. Thank you.

[2017-03-03 12:44] zerthimon opened #39817 "State function boto_s3_bucket.present problem"
### Description of Issue/Question
Trying to create an s3 bucket with Lifecycle Configuration fails:
[code]

### Setup
[code]
LifecycleConfiguration is copy/pasted from doc: https://docs.saltstack.com/en/latest/ref/states/all/salt.states.boto_s3_bucket.html#salt.states.boto_s3_bucket.present

### Steps to Reproduce Issue
run the SLS

### Versions Report
[code]

[2017-03-03 13:16] kivoli commented on #28082
I just stumbled across this as well. IMO in case of `clean_file: true` the state should not bother with some in-file magic but just compare the whole file to the desired end state - like `file.managed` does, right? If I find the time I’ll look into this next week.

[2017-03-03 14:09] lorengordon commented on #36802
I'm hitting this also. Thankfully I don't _need_ to use `clean: True` in my state; it would just be a nice-to-have.

[2017-03-03 14:12] gtmanfred commented on #39813
We have a `Salt in 10 minutes` Guide

https://docs.saltstack.com/en/latest/topics/tutorials/walkthrough.html

and a walkthrough https://docs.saltstack.com/en/latest/topics/tutorials/states_pt1.html#states-tutorial

We are working on a salt cheat sheet to add to the documents.

[2017-03-03 14:13] gtmanfred commented on #39814
There is not a way to do this.  But if you build the server again, it will overwrite the old key.

I am marking this as a feature request.

Thanks,
Daniel

[2017-03-03 14:17] gtmanfred commented on #39804
Seems reasonable, if you wanted to add this, we would greatly appreciate it.  I would make it so that you could pass the option to `_extrn_path` from the file.py module, but also so that it could be an option in the minion config.

Otherwise I have tagged this with the core team.

Thanks for the request.
Daniel

[2017-03-03 14:44] guettli commented on #39813
Please, don't misunderstand me. I don't want more documentation. I want a different ordering.

[2017-03-03 14:47] gtmanfred commented on #39813
Well, this is where i recommend starting with salt.  It has the beginning basic links you need to get started.  https://docs.saltstack.com/en/latest/  If you follow around those tutorials, that is really the beginning section?

[2017-03-03 15:02] sumeetisp commented on #39814
My suggestion would be to add the key after the installation of the minion
but before starting the minion service

On Mar 3, 2017 19:43, "Daniel Wallace" <notifications@github.com> wrote:

[2017-03-03 15:12] terminalmage commented on #39812
This is expected behavior as far as I know, since the default matcher is the compound matcher and this matcher parses each individual word separately. Add a ``- match: glob`` to the entry in the pillar top file and it should work.

[2017-03-03 15:16] sebw opened #39818 "artifactory.downloaded lacks user, group and mode options"
I'm using the following state:

[code]

The file gets downloaded properly, but with that metadata:

[code]

This is not a problem in the project I'm working on, as 644 is sufficient to see the WAR getting deployed, but we might want to restrict the mode, user or group in other projects and specific environments.

target_file should take such options like file.managed.

Thoughts?

[2017-03-03 15:18] carlpett commented on #39717
It seems this was fixed between 2016.11.2 and 2016.11.3. I wrote a small tester util, https://gist.github.com/carlpett/7bd0bf087658056a7e863b1d1fdd19a9. If I run this on 2016.11.2, every iteration creates _a lot_ of objects, including new AsyncReqMessageClientPool, ZMQStream, Socket and AsyncZeroMQReqChannel. After ~40 iterations, I have ~400 fds, and my VM runs out of memory.

When I upgrade to 2

[2017-03-03 15:21] gtmanfred commented on #39717
I will try to get around to doing a git bisect on this, but unfortunately, if it is not an issue in the newest release, we have to prioritize other issues.

Thanks,
Daniel

[2017-03-03 15:23] #39763 closed

[2017-03-03 15:23] vutny commented on #39812
Thanks @gtmanfred ! It works with `- match: glob`.
But I always thought that the `glob` is the default matcher in a top file. Is there any documentation page describing this?

[2017-03-03 15:23] gtmanfred commented on #39818
This would be great to have.  If you check out the archive.extracted state, that uses the file module to download the files.  If you wanted to submit a pr to the develop branch with this feature, we would greatly appreciate it, otherwise I have tagged our platform team to take a look.

Thanks,
Daniel

[2017-03-03 15:26] sebw commented on #39818
Hi Daniel,

I'll take a look at archive.extracted.

Thanks,
Seb

[2017-03-03 15:38] lingonl commented on #39552
That looks correct to me. Let's create some unit-tests as well,
especially for proto:ports. I'll look into it after the weekend.

On 03-03-17 09:44, Xiami wrote:

[2017-03-03 15:42] carlpett commented on #39717
@gtmanfred I'll see if I can get around to setting up a full-blown salt-dev environment. Currently I have it working well enough to do pull requests and unit tests, but actually running it seems to be a bit away still...

[2017-03-03 15:43] gtmanfred commented on #39793
I am unable to replicate the issue.

I see the same error on the master.

[code]

But i do not see any states run on the minion.

[code]

[code]

And i am unable to get it to actually do the state.highstate without the pillars rendering.

[2017-03-03 15:44] gtmanfred commented on #39717
Let me know if you can get it bisected.

Otherwise, I am going to put it on my schedule to try and do this next week.

[2017-03-03 16:03] gtmanfred commented on #39807
I have confirmed this.  It actually looks like it is not choosing a random master.

There is also somewhere that is overwriting the opts['master'] list, which is causing problems with this check here.

Thanks for reporting.
Daniel

[2017-03-03 16:06] #38537 closed

[2017-03-03 16:17] #39627 closed

[2017-03-03 16:27] frogunder commented on #39119
Confirmed, this fixes it on head of 2016.3.
Closing this issue.

[2017-03-03 16:27] #39119 closed

[2017-03-03 16:39] rallytime commented on #32430
@valentin2105 This issue was caused by the addition in #25021. This should be fixed now at the HEAD of the 2016.3 branch currently and will be available in the next release of both the 2016.3 and 2016.11 branches. The fixes specifically related to this issue are #38289 and #39766.

This issue is also related to #39336.

[2017-03-03 16:43] terminalmage commented on #39812
@vutny This changed to ``compound`` in 2014.7.0, but it looks like the docs were never updated to reflect this. In nearly every case, a single glob is processed identically by the ``compound`` and ``glob`` matchers, but since the compound matcher parses individual words, the whitespace causes the match to fail. I've opened https://github.com/saltstack/salt/pull/39819 to update the docs.

[2017-03-03 16:44] rallytime commented on #22984
Yes, I think so. Thanks for your work here @The-Loeki!

[2017-03-03 16:44] #22984 closed

[2017-03-03 16:44] rallytime commented on #30561
Thanks @The-Loeki!

[2017-03-03 16:44] #30561 closed

[2017-03-03 17:44] almoore commented on #27094
+1

[2017-03-03 18:24] JDiPierro commented on #39763
Super fast turnaround! IRC question to feature in 2 days :P Can't wait for the 2017 release!

[2017-03-03 18:25] gtmanfred commented on #39763
Well it was a great idea!
On Fri, Mar 3, 2017 at 12:24 PM Justin DiPierro <notifications@github.com>
wrote:

[2017-03-03 18:59] mdaffin commented on #39783
@Ch3LL output as requested:
[code]

@whiteinge it does look like that is the case and the above confirms it is just treating the part after the `=` as a string rather then decoding it like it does on the command line. I do like your suggestion of allowing full yaml support in the config but it does not solve the problem for non aliased messages from slack like `!state.orchestrate orch.ping pillar=

[2017-03-03 19:00] PeterS242 commented on #12540
@sivann, I am seeing/troubleshooting this as well on my network.  We have a DMZ that has been closing connections from our non-DMZ Master to the DMZ Minions.

When you strace the Minion and it shows that it "just polls its socket", what do you see in the logs on the Minion?  Are you running the option "log_level_logfile: all" or equivalent? Or, what are the last actions logged by the Minion?  Also

[2017-03-03 19:02] mdaffin commented on #39783
Note that since it is a runner command this is what is passed to the [`runner.cmd`](https://github.com/saltstack/salt/blob/v2016.11.3/salt/engines/slack.py#L200) rather then the `local.cmd`

[2017-03-03 19:06] amendlik commented on #38537
@gtmanfred I tested this against 2016.11.2 and the problem is still present.

[2017-03-03 19:07] gtmanfred commented on #38537
You will need to test it against 2016.11.3, which is where the fix will be
On Fri, Mar 3, 2017 at 1:06 PM amendlik <notifications@github.com> wrote:

[2017-03-03 19:09] terminalmage commented on #39812
Closing since tests have passed on https://github.com/saltstack/salt/pull/39819.

[2017-03-03 19:09] #39812 closed

[2017-03-03 19:30] suruchoudhary commented on #39490
closing this as this is specifically related to the ami

[2017-03-03 19:30] #39490 closed

[2017-03-03 20:00] carlpett commented on #39717
Ok, I think I got it worked out. This seems to be the one that fixes it: https://github.com/saltstack/salt/commit/0b18f3467817e27d3039fd27bb806ecb087f2dd3

Another thing to note is that it seems not all state modules will trigger the issue. This, for example, works even before that commit:

[code]

While this does not:

[code]

[2017-03-03 20:02] schoudhary-matterport opened #39824 "Salt cloud error : Salt minion gets installed , but minion config file that master writes is missing"
### Description of Issue/Question

salt-coud -l debug -p <profile_name> <instance_name>

2017-03-03 19:09:04,255 [salt.utils.cloud ][DEBUG   ][12726] Retrying connection to host 10.230.143.40 on port 22 (try 12)
2017-03-03 19:09:07,254 [salt.utils.cloud ][DEBUG   ][12726] Caught exception in wait_for_port: [Errno 113] No route to host
2017-03-03 19:09:08,255 [salt.utils.cloud ][DEBUG   ][12726] Re

[2017-03-03 22:10] cro commented on #39748
Yeah, this appears to actually be a problem with Sphinx and autodoc.  I'm figuring out what the best way to fix this is.

[2017-03-04 01:49] whiteinge commented on #39783
Oh! _facepalm_ I see now why this module is using that format. I was thinking SLS files but it makes sense that it's parsing textual messages from Slack. Thanks, that makes sense now.

In that case, I think we can get this all the way working by simply packing all positional args into `LocalClient`'s arg array. E.g., `LocalClient().cmd('*', 'state.sls', arg=['one', 'two=true', 'three={four: Four}'

[2017-03-04 02:39] mirceaulinic commented on #39748
I found something in the sphinx doc: http://www.sphinx-doc.org/en/stable/ext/autodoc.html#directive-automethod

Adding manually lines such `.. automethod:: function(args)` under the doc rst might help, e.g.: under https://raw.githubusercontent.com/saltstack/salt/develop/doc/ref/modules/all/salt.modules.napalm_network.rst would require adding many entries such `.. automethod:: load_template(templat

[2017-03-04 02:50] mirceaulinic opened #39827 "Difference between config.option and config.merge"
### Description of Issue/Question

Looking at the doc: https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.config.html#salt.modules.config.option, it's not obvious to me what's the difference between `config.option` and `config.merge`?

`Same as option() except that it merges all matches, rather than taking the first match.` what's that first match (i.e. what's the order)?
Also: how'

[2017-03-04 03:15] cro commented on #39748
We actually have a Sphinx plugin to properly handle decorated functions but it does not appear to be working right. I'm in the process of fixing it.

[2017-03-04 03:25] mirceaulinic commented on #39748
Great! Thank you @cro

[2017-03-04 03:27] syst0m commented on #38772
pillar:
[code]

Also:
[code]

Should it be 'redis: True'?

[2017-03-04 03:36] syst0m commented on #38118
Pillar was missing data:

[code]

Tahnks for the help.

[2017-03-04 03:36] syst0m commented on #38772
Pillar was missing data:

redis:
  bind_ip: '127.0.0.1'
  maxmemory: '2gb'
  timeout: 300
  tcp_keepalive: 60
  save_time: 120
  syslog: True
  maxmemory_policy: "volatile-ttl"
Tahnks for the help.

[2017-03-04 03:36] #38772 closed

[2017-03-04 16:06] tsaridas opened #39830 "corrupted SRPM"
### Description of Issue/Question
[code]
I tried downloading from different servers but I get the same error message.

[2017-03-04 18:44] ninja- opened #39831 "Parallel mode crashes with"
### Description of Issue/Question
This is my first take at using the new parallel feature and it doesn't quite work in my setup.

SLS file
[code]

[code]

Any ideas?

@thatch45 would you have an idea as an author of this feature.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Latest Salt Develop, python3
### Steps to Reproduce Issue
(Include debug

[2017-03-04 18:45] ninja- opened #39832 "Parallel mode crashes with "list index out of range""
### Description of Issue/Question
This is my first take at using the new parallel feature and it doesn't quite work in my setup.

SLS file
[code]

[code]

Any ideas?

@thatch45 would you have an idea as an author of this feature.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Latest Salt Develop, python3
### Steps to Reproduce Issue
(Include debug

[2017-03-04 18:48] ninja- opened #39833 "Cron incompatible with python3"
### Description of Issue/Question
Cron module on py3 is currently incompatible because of some bytes/strings problem.

[code]
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Latest develop branch, python3
### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
Run any job using cron.present

### Versions Report
(Provided by runni

[2017-03-04 18:53] ninja- commented on #39831
sent the issue twice by accident (closing dup.)

[2017-03-04 18:53] #39831 closed

[2017-03-04 20:22] 0xf10e commented on #39647
We'll see if/when I get to this.

**For future reference**:
* The test has to be added to the object `jinja_env` in function `render_jinja_tmpl()` in [`salt/utils/templates.py`](https://github.com/saltstack/salt/blob/develop/salt/utils/templates.py#L276).
* The actual filter functions like `is_list()` are imported from [`salt/utils/__init__.py`](https://github.com/saltstack/salt/blob/develop/salt/

[2017-03-04 20:45] bgdnlp commented on #31802
Still true for 2016.11.2 running on Ubuntu 16.

To clarify, the expectation is that when `follow_symlinks` is False and a symlink exists in place of the file, the symlink is removed and a new file is created.

Workaround, for anyone stumbling upon this issue:
[code]

[2017-03-04 21:27] eligundry opened #39834 "Docker password key can't take input from GPG renderer"
### Description of Issue/Question

I am attempting to check in my Docker Hub password as a GPG encrypted string using Salt's GPG renderer. When I do this, login does not work on highstate. When I hardcode the password in there in clear text, everything works.

### Setup

* I am running this as a masterless minion (not sure if I'm describing this right).
* I have a pillar file that looks like this:

[2017-03-04 22:06] bobrik commented on #39793
Right, it's important to issue the command from salt master. Sorry, I totally forgot to mention that.

I have:

* `states/foo.sls`

[code]

* `pillar/foo.sls`

[code]

With both files being the only thing in respective `top.sls` I let the minion to sync everything and highstate. Then:

[code]

So far so good, but then I change pillar:

[code]

And issue the command again:

[code]

This should've f

[2017-03-04 22:23] ninja- commented on #39832
This looks like a logical failure because the cdata[args][0] fallback should be duplicated to the second function. @thatch45 ?

https://github.com/saltstack/salt/blob/develop/salt/state.py#L1667

[2017-03-04 22:54] Reiner030 commented on #39751
Additional info to in 2016.1.3 introduced bug - is related to this issue and I hope same cause with state definition:
[code]

which gaves finally:

[code]

I got also since update
* testing errors:
[code]
* non-test mode:
[code]

The interesting part is that similar state below still works fine - only user/group parameters are different:
[code]
which gaves finally:
[code]

[2017-03-04 22:58] gtmanfred commented on #39793
My comment comes from running this on the salt master. And I was never able
to reproduce what you were seeing.
On Sat, Mar 4, 2017 at 4:06 PM Ivan Babrou <notifications@github.com> wrote:

[2017-03-04 23:00] gtmanfred commented on #39793
I used my docker demo https://github.com/gtmanfred/salt-docker-demo/ and
added the versions of your minion and master to mimic the environment
On Sat, Mar 4, 2017 at 4:58 PM Daniel Wallace <dwallace@saltstack.com>
wrote:

[2017-03-04 23:10] bobrik commented on #39793
I used your demo and was able to reproduce:

[code]

[2017-03-04 23:13] gtmanfred commented on #39793
Ahh I see the problem. When you do a state.apply and specify a state, the
pillars are not refreshed, so this won't fail. If you remove the reference
to the sls, it runs high state, and it renders pillars ever time and it
will fail.

This is the expected behavior.
On Sat, Mar 4, 2017 at 5:10 PM Ivan Babrou <notifications@github.com> wrote:

[2017-03-04 23:24] bobrik commented on #39793
Why do I see errors in salt master log if pillars are not refreshed?

[2017-03-04 23:27] gtmanfred commented on #39793
That I do not know right now, i will have to check it on monday.

But this is where in the highstate that the modules and pillars are refreshed.

https://github.com/saltstack/salt/blob/develop/salt/state.py#L3619
https://github.com/saltstack/salt/blob/develop/salt/state.py#L3138

And that is not run on a regular state.sls.

[2017-03-05 00:47] myii opened #39835 "Fix 'NoneType' is not iterable TypeError for `salt-run cache.grains`"
### Description of Issue/Question

Possible duplicate of #38216.  Unfortunately, it seems that this problem persists, even after fix #38659 linked to that issue.

[code]

Checked the main docs @ https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.cache.html:

[code]

Found that explicitly stating the `tgt` worked fine, i.e.:

[code]

This gave the result that `salt-run cache.grains`

[2017-03-05 01:53] TheTesla opened #39836 "wrong line in checksum file used"
### Description of Issue/Question
If checksum file with multiple checksum entries is specified for archive.extracted, maybe wrong line is selected if filename is the same but path is different.

### Setup
[code]

### Steps to Reproduce Issue
run this above

there are two lines in the checksum file:

[code]
first one is taken, but second one has to

### Versions Report
[code]

[2017-03-05 02:24] bobrik commented on #39793
Pillars are partially rendered, from what I see.

With the following state:

[code]

And the following `pillar/top.sls`:

[code]

When I break `bar` I see the following:

[code]

Pillars are even rendered when I do `salt-call test.ping`.

[2017-03-05 04:46] timwhite commented on #33309
This seems to have missed 2 major releases. External tools using the API have issues due to this bug, so it would be really nice to have it fixed. Any updates on which release this may end up in?

[2017-03-05 04:53] myii commented on #39835
I have another `2016.11.3` master available, which doesn't have this problem.

[code]

The only differences, in terms of the output of this command, are:

1. `cffi`
1. `cherrypy`
1. `M2Crypto`
1. `pycparser`
1. `release`

Hope that helps narrow things down a bit.

[2017-03-05 05:07] terminalmage commented on #39627
@tkwilliams Yes, we use a merge-forward workflow in which bugfixes are ideally submitted to the earliest non-EOL branch where the bug exists. This prevents the need for frequent backporting of individual issues, as we regularly merge forward from older release branches into newer release branches. This way, a bugfix submitted against the 2016.3 branch end up being merged into the 2016.11 branch, a

[2017-03-05 05:18] terminalmage commented on #39751
@Reiner030 Actually no, I did _not_ catch that in https://github.com/saltstack/salt/pull/39762. Thanks for pointing that out. The fix for your issue is in https://github.com/saltstack/salt/pull/39837.

[2017-03-05 12:57] ninja- commented on #39833
The problem is here https://github.com/saltstack/salt/blob/develop/salt/modules/cmdmod.py#L440, I'll try to send a fix

[2017-03-05 15:10] cmcologne commented on #39158
I did changed the configfile as you wrote:

windows-server.sls:
npp:
  [2spaces]pkg:
    [4spaces]- installed
salt-minion:
  [2spaces]pkg:
    [4spaces]- installed
Web-Server:
  [2spaces]win_servermanager:
    [4spaces]- removed

root@salt:~# salt 'testminion' pkg.refresh_db && salt 'testminion' state.apply
Output:

----------
          ID: Web-Server
    Function: win_servermanager.removed

[2017-03-05 17:39] smarsching opened #39842 "File module removes trailing newline on Windows"
There is a bug in `salt/modules/file.py` that causes trailing newlines in files to be removed when the minion is running on Windows.

### Setup
mystate.sls:
[code]

### Steps to Reproduce Issue
`salt windows-minion.example.com state.apply mystate`

### Versions Report
#### Master

#### Minion

### Investigation Results

The problem seems to be caused by the following code in `salt/modules/file.py`

[2017-03-05 18:19] smarsching commented on #5721
@vutny I can confirm that your solution works fine on Ubuntu 16.04 LTS and on Windows Server 2012 R2 with one small exception: On Windows, the complete path to `salt-call` has to be specified. This is strange because `C:\salt` is in the `path` grain, but maybe `cmd.run_bg` does not inherit this path.

Anyway, I think that the solution proposed by @vutny is the one which works best on most platform

[2017-03-06 00:07] nvx opened #39845 "x509 signing policy restrict CN based on pillar or grains"
The x509 state seems like quite a versatile module, although one area that it seems to be lacking is if you want to securely issue a certificate for every node while enforcing the certificate CN to be something controlled (eg, pillar or grain data). At the moment as far as I can tell the options are either force a signing policy to always force a specific CN, or allow the minion to use any CN. The

[2017-03-06 07:50] alankrita opened #39846 "File.recurse not efficient for large directories."
File.recurse checks each file in every sub-directory even if nothing has changed and thus takes more time with large directory. Is there an efficient alternative present with Salt to copy only diff patches.

### Setup
state file -
[code]

### Steps to Reproduce Issue
Debug logs -
[code]
(Include debug logs if possible and relevant.)

### Versions Report
[code]
Salt-minion is on the same version.

[2017-03-06 09:04] vutny commented on #39812
Awesome, thank you!

[2017-03-06 10:36] #39813 closed

[2017-03-06 12:53] sumeetisp commented on #39750
I tried with runner as follows

[‎3/‎6/‎2017 6:20 PM] Tiwari, Ranjeet (Cognizant):
 Invoke-RestMethod -Method POST -Uri 'https://10.236.220.135:8000/run' -Body $data -ContentType 'application/json' -TimeoutSec 1200

data={
    "fun":  "cloud.map_run",
    "output":  "json",
    "username":  "admin",
    "client":  "runner",
    "eauth":  "pam",
    "path":  "/etc/salt/box/testbox-map1",
    "timeo

[2017-03-06 12:53] ScoreUnder opened #39847 "MySQL lower_case_table_names results in grant failure"
### Description of Issue/Question

If mysql's `lower_case_table_names` variable is `1` or `2`, then the `mysql_grants.present` state will fail for any table containing a capital letter.

To everyone else reading, please remember never to use camel-cased database or table names in MySQL. It will lead you down a path of endless pain and misery. Keep it all lowercase. Salt is not the first program to

[2017-03-06 13:02] shawnbutts opened #39848 "Amazon Linux repo appears to be missing 2016.11"
https://repo.saltstack.com/yum/amazon/ does not have 2016.11 directory.

However, there is a 2016.11 directory under each of the other versions.
https://repo.saltstack.com/yum/amazon/2015.03/x86_64/2016.11/
https://repo.saltstack.com/yum/amazon/2015.09/x86_64/2016.11/
https://repo.saltstack.com/yum/amazon/2016.03/x86_64/2016.11/
https://repo.saltstack.com/yum/amazon/2016.09/x86_64/2016.11/
https:/

[2017-03-06 13:04] ScoreUnder commented on #39847
Sanitised debug logs. Formatted as diff so that I can highlight the important lines.
[code]
Note how the database name case differs.

[2017-03-06 13:33] christoe commented on #39717
Saltstack 2016.11.3 does indeed solve this issue as @carlpett suggested.

[2017-03-06 14:36] The-Loeki commented on #7759
@dangarthwaite your RFE should be fully addressed with my PR #39050 @rallytime I think you can close this one now?

[2017-03-06 15:08] kojiromike commented on #1864
Encountered in 2016.3.5

[2017-03-06 15:26] kojiromike commented on #1864
Clarification: Encountered in `test=True` mode in 2016.3.5. When I ran it for real, `file.append` created the file.

[2017-03-06 15:43] BadBossy opened #39849 "salt.file.line - begin regex"
### Description of Issue/Question
Hi,
ive got the problem that i try to insert a specific line into a file. I use the "before" parameter but somehow it says to me: more than one match or less than one match. Depends on what i try, i used: "^exit 0$" "^exit 0"... I can't use file.managed because different formulas are accessing the file. Is it possible to deactivate: stream multiple lines as a sing

[2017-03-06 15:53] michaelkarrer81 commented on #15910
really interested in this one too

[2017-03-06 15:54] Ch3LL commented on #39817
@zerthimon looks like in your copy/paste there is a difference in the spaces as show below:

[code]

vs docs:

[code]

Do you still get the same error if you re copy/paste with the same spacing?

[2017-03-06 15:57] Ch3LL commented on #39824
@suruchoudhary i'm a little confused with the output. Are you stating that the salt-minion is installed but its missing /etc/salt/minion? Or maybe it is adding that file but not adding the following to the file:

[code]

Any clarification would be great thanks.

Also to note 2015.5.11 is  a pretty old version and you might have luck if upgraded to a newer version.

[2017-03-06 16:08] Ch3LL commented on #39832
@ninja- thanks for the PR on this. Please feel free to close this issue once the PR has been reviewed/merged or we can.

[2017-03-06 16:08] ptombez commented on #25593
This feature would be very useful in the case I'm facing right now (retrieve a file named after the grains.id value). Is this feature will be soon available ?

[2017-03-06 16:10] Ch3LL commented on #39833
@ninja- thanks for the PR! once its been reviewed/merged please feel free to close this issue or we can.

[2017-03-06 16:42] tazaki commented on #15910
If a more seasoned salt expert would give me some advice I am still up for giving it a shot

[2017-03-06 16:44] dangarthwaite commented on #7759
👍

[2017-03-06 17:20] whiteinge commented on #39750
@sumeetisp to verify, do you have the following in your master config?

[code]

[2017-03-06 17:50] Foxlik opened #39854 "quoted space in authorized_keys confuses ssh.py"
### Description of Issue/Question

In some cases (e.g. Ubuntu cloud-init) authorized_keys may contain quoted spaces as part of options:
[code]
which confuses the split in _replace_auth_key() in modules/ssh.py.

Applying state like this one:
[code]

Results in state reporting:
[code]
but actually changing nothing.

### Setup

Please see above

### Steps to Reproduce Issue

Please see above

### Ver

[2017-03-06 18:01] rallytime commented on #7759
Yeah, for sure. Thanks @The-Loeki!

[2017-03-06 18:01] #7759 closed

[2017-03-06 18:15] zerthimon commented on #39817
@Ch3LL Do you mean I'm missing a redundant ID as in the docs ?
` ID: "lc1"`
It's a mistake that produces YAML dulicate key error (that's why I removed it)

[2017-03-06 18:20] zerthimon opened #39856 "Improvement: implement 'show_changes' in dockerng.running"
### Description of Issue/Question
Same idea as in file.managed: don't show the changes made to container!
I'm passing a password in environment variable for a container and it's being happily displayed in the output with no way to hide it.

[2017-03-06 18:29] Ch3LL commented on #39830
@tsaridas looks like i'm able to replicate this.

ping @dmurphy18 looks like these srpms aren't working as expected.

[2017-03-06 18:37] thatch45 commented on #39832
Thanks for the cleanup here @ninja- ! I don't write features as much anymore because I just don't have the time to work on the cleanup and polish anymore. You assistance here is greatly appreciated!

[2017-03-06 18:45] Ch3LL commented on #39827
To asnwer you question: `what's that first match (i.e. what's the order)`? you can look at this code [here](https://github.com/saltstack/salt/blob/develop/salt/modules/config.py#L144-L155)

So for example if none of the omit_* arguments were added to the call it seems the order is opts, master config, pillar, then any defaults.

To answer the question: ` how's the merging? e.g.:`

You are correct

[2017-03-06 18:50] Ch3LL commented on #39835
@myii can you give this a try https://github.com/saltstack/salt/pull/39852

This is most likely a duplicate of https://github.com/saltstack/salt/issues/39786

[2017-03-06 18:59] zerthimon commented on #39817
@Ch3LL
Yep I've used a correct state (not sure why it got extra indent in issue description)
[code]
gives:
[code]

[2017-03-06 19:03] Ch3LL commented on #39836
@TheTesla looks like i'm able to replicate this.

Here is a docker container for anyone to quickly replicate this:

1. `docker run -it -v /home/ch3ll/git/salt:/testing/ ch3ll/issues:39836 salt-call --local state.sls test -ldebug` (where /home/ch3ll/git/salt is a local cloned git repo of salt)

Note: this also occurs in 2016.3.4

[2017-03-06 19:04] PeterS242 commented on #12540
Here is an update.

On my non-firewalled network I have minions that still report timeouts, but recover adequately.

[code]

With this is mind I decided to configure my DMZ-firewalled systems to have an increased "auth_tries" value of 20 instead of the default of 7.  This seems to have done the trick for me.  I could not get the "Set timeouts really low to force the code to restart the salt-minion

[2017-03-06 19:05] Ch3LL commented on #39842
ping @twangboy can you give @smarsching any input on whether his fix is the right fix so he can possibly submit a PR?

[2017-03-06 19:11] gtmanfred commented on #38514
@githubcdr can you check the above pr? This should fix this problem

[2017-03-06 19:20] Ch3LL commented on #39846
@alankrita this is a duplciate of https://github.com/saltstack/salt/issues/11167 and https://github.com/saltstack/salt/issues/35257

as you can see in #35257 one alternative is to zip the directory and use file.managed or archive.extracted to make the process quicker. Also in #11167 there are workarounds using cmd.run that you will see in those issues. Thanks

[2017-03-06 19:20] #39846 closed

[2017-03-06 19:22] Reiner030 commented on #39751
thx, manual patched and works for non-initial setup fine again ;)

[2017-03-06 19:28] twangboy commented on #39842
@smarsching That looks like it should work. You'd need to tests with states to make sure the file.managed state passes. I think it does some comparison of the two files at the ends and different line endings would cause the comparison to fail. Though it should work.

[2017-03-06 19:35] wes-novack commented on #19054
+1

[2017-03-06 19:43] Ch3LL commented on #39848
My understanding is this is the director you are looking for https://repo.saltstack.com/yum/amazon/latest/x86_64/   `latest` being the releaserver for amazon linux. Although I'm not sure what each of those other directories are because I don't believe we use these.

ping @dmurphy18 fyi above. Can you clarify what those other directories are?

[2017-03-06 20:17] SEJeff opened #39859 "etcd.set state does something weird with a json blob"
Given pillar data like this:

[code]

And a state like this:

[code]

When doing `etcdctl get /coreos.com/network/config` it returns something odd like this:

[code]

This causes flanneld to die with journalctl showing errors such as:

[code]

Knowing that salt internally uses an `OrderedDict` for everything, I tried to set this key manually:

[code]

So... I've not looked into the etcd module yet

[2017-03-06 20:20] steverweber opened #39860 "pillar includes overrides child defines"
### Description of Issue/Question

Pillar includes overrides child defines.
Because of this its less friendly to use merging strategies to override common settings.

### Steps to Reproduce Issue

pillar files
[code]

- top.sls
[code]

- env/deep/default.sls
[code]

- env/default.sls
[code]

- default.sls
[code]

test
[code]

test result expected
[code]

current workaround is moving the `includes`

[2017-03-06 20:26] SEJeff commented on #13933
This doesn't seem to be a priority.

[2017-03-06 20:26] #13933 closed

[2017-03-06 20:26] #27445 closed

[2017-03-06 20:28] SEJeff commented on #31405
@jfindlay any update on this one? It isn't that high of a severity if it hasn't been fixed in a year :)

[2017-03-06 20:37] Ch3LL commented on #39849
Does this work for your use case?

[code]

[2017-03-06 20:40] Ch3LL commented on #39834
@eligundry And when you run `pillar.get` is it the expected value? Just trying to figure out if its rendering correctly

`salt-call --local pillar.get docker-registries.https://index.docker.io/v1/.password --output=json`

[2017-03-06 20:44] Ch3LL commented on #39845
maybe i'm not quit following but couldn't you just add something like the following to your state:

[code]

or a grain value there? Can you clarify what you are requesting a little more thanks.

[2017-03-06 20:46] githubcdr commented on #38514
@gtmanfred confirmed working, thanks!

[2017-03-06 20:47] gtmanfred commented on #38514
Great thanks!

[2017-03-06 20:47] #38514 closed

[2017-03-06 20:52] smarsching commented on #39842
@twangboy Thanks, I will try to put a patch together and test it on one of our Windows minions. If it works there, I will create a PR. Is it okay for you, if I create the PR for the 2016.11 branch? This is the only version that I have on any Windows minion, so it is the only version for which I can really test the patch.

[2017-03-06 21:00] Ch3LL commented on #39847
I think the issue might lie in this call [here](https://github.com/saltstack/salt/blob/v2016.11.3/salt/modules/mysql.py#L1709)

It grabs the current grants for that user and later compares those grains, and i'm wondering if thats returning back teh lowercase name.

If you look at your log here:

[code]

you can see its calling that _grant_to_tokens multiple times based off of all the grants the us

[2017-03-06 21:01] Ch3LL commented on #39854
@Foxlik thanks for the PR! once that pr has been reviewed and merged please feel free to close this issue or we can.

[2017-03-06 21:02] twangboy commented on #39842
@smarsching That would be fine.

[2017-03-06 21:03] myii commented on #39835
@Ch3LL Thanks for for your reply.  I'll try this out within the next day and reply here.

[2017-03-06 21:03] ealphonse opened #39861 "Logging to `dev/log` should follow recommended Syslog format: app-name not specified"
### Description of Issue/Question

[log_file](https://docs.saltstack.com/en/latest/ref/configuration/logging/#log-file) can be set to log to syslog, but does not specify the [app-name field](https://tools.ietf.org/html/rfc5424#section-6.2.5).

As a result, messages are wrongly parsed and part of the timestamp is used for the app-name, truncating the timestamp field.

For instance, with a typical r

[2017-03-06 21:18] dmurphy18 commented on #39830
Checked and there appears to be an issue with salt-2016.11.3-1.el6.src.rpm, the srpm for Redhat 7 salt-2016.11.3-1.el7.src.rpm is fine.  I shall need to investigate and rebuilt for Redhat 6 for the srpm as to why it was corrupted, even on the build machine (problem did not occur in transfer)

[2017-03-06 21:22] Ch3LL commented on #39856
Agreed this would be a good idea. Is the password showing in debug log output? Can you give an example of how its displaying this with the passowrd sanitized.

[2017-03-06 21:22] arthurlogilab commented on #38287
affected by this too

[2017-03-06 21:24] Ch3LL commented on #39859
Sounds like you have a hold of a fix for this so look forward to this. Thanks for opening this.

[2017-03-06 21:31] Ch3LL commented on #39292
It seems this was written with intended behavior so I added as a feature request to add a new argument to not add current options if its already mounted. If its a feature it would not be added to 2016.11 but to develop and then branched off into the next feature release. If this was intended behavior we could not change the default behavior in a bug fix release.

As a workaround does it work if yo

[2017-03-06 21:32] #34035 closed

[2017-03-06 21:35] Ch3LL commented on #38125
Great thanks for all the information on this. So from what I understand is this is a documentation issue. We need to add semi-colons in that script.

ping @twangboy looks like we need to edit the powershell script in the docs.

[2017-03-06 21:41] Ch3LL commented on #39636
Maybe you are running into this? https://github.com/Azure/azure-storage-python/issues/218

There is a workaround in that issue

[2017-03-06 21:43] Ch3LL commented on #38275
ping @terminalmage do you know if there is anything we can do on our end to get rid of this warning as a workaround even though this is an upstream issue?

[2017-03-06 21:46] dmurphy18 commented on #39848
@shawnbutts The layout for Amazon differs from that used by Redhat due to Amazon's release cycle  is different.

For example: Amazon names their current version latest.
The 2015.3, 2015.09, 2016.03 and 2016.09 are the versions of Amazon which utilized python 2.7 rather than Redhat 6's python 2.6.  These are symbolic links to the current supporting Salt implementation for current Amazon AMI's.

The

[2017-03-06 21:49] Ch3LL commented on #39668
That would be awesome because that would be a great thing to have. I know that @garethgreenaway has done a lot of work in the scheduler so maybe he would have some good input as to where to get started.

[2017-03-06 21:52] dmurphy18 commented on #39830
@tsaridas As a work-around for the corrupt version from the x86_64 directory, the version from the i386 directory installs without error, that is, http://repo.saltstack.com/yum/redhat/6/i386/2016.11/SRPMS/salt-2016.11.3-1.el6.src.rpm

We shall address the issue with the version in the x86_64 directory.

[2017-03-06 21:52] Ch3LL commented on #39163
@JDiPierro makes sense to me. Would you mind opening another issue so we can focus on helping @MDPolaris get in a working state in this issue and we can focus on adding more error details in the issue you open. Thanks

[2017-03-06 22:00] Ch3LL commented on #39669
k thanks for clarifying

[2017-03-06 22:21] Ch3LL commented on #38287
@arthurlogilab this original issue has been resolved with #39228

I will close this issue and wait for @danbudris to open a separate issue with the separate error he is getting.

[2017-03-06 22:21] #38287 closed

[2017-03-06 22:32] Ch3LL commented on #39703
Will approve as a feature request. Thanks!

[2017-03-06 22:36] Ch3LL commented on #39685
Perfect thanks for trying that. I will close this. I have also put in a request to get that fix backported to 2016.11 if possible.

[2017-03-06 22:36] #39685 closed

[2017-03-06 22:48] shawnbutts commented on #39848
Got it.  I was confused by the two date based version systems.

Thanks

[2017-03-06 22:48] #39848 closed

[2017-03-06 22:55] Ch3LL commented on #39673
Okay i'm able to replicate. I created a new clean box and ran adduser while adding the user to the wheel group.

[code]

[code]

So it seems this is an issue with how adduser is working. did everyone else in this issue have the same setup with having used adduser?

[2017-03-06 23:01] Ch3LL commented on #39524
I believe you are running into this issue at this point: https://github.com/saltstack/salt/issues/33466

[2017-03-06 23:08] gtmanfred commented on #39322
This is great! Thanks for the PR, it is greatly appreciated!

I am going to close this issue!

Thanks,
Daniel

[2017-03-06 23:08] #39322 closed

[2017-03-06 23:09] gtmanfred commented on #39322
For the cache=true, we should create another feature request.

[2017-03-06 23:40] grichmond-salt commented on #38125
@Ch3LL thanks so much for looking at this!

Adding the semicolons is merely a suggestion to mitigate the problem for passing a PowerShell script as userdata in AWS.

The root of the problem is that the userdata file's line breaks are (apparently) being passed incorrectly.

[2017-03-06 23:44] dankolbrs commented on #37750
Looking into this, `network.mod_hostname` is called only if `apply_hostname` is [set to True](https://github.com/saltstack/salt/blob/develop/salt/modules/rh_ip.py#L1185). Verified this on a CentOS 7, hostname is not set via hostnamectl unless `apply_hostname` is specified.

The [documentation](https://docs.saltstack.com/en/develop/ref/states/all/salt.states.network.html) isn't very detailed and do

[2017-03-06 23:45] nvx commented on #39845
That would create a certificate as I described, yes, but nothing in the signing policy when using a ca_server can enforce that a rogue client wouldn't request a certificate for any other arbitrary CN. A compromised minion could issue a certificate for any CN.

I probably wasn't clear enough that I was referring to the signing_policy when using a remote ca_server, not about locally signing certific

[2017-03-06 23:56] grichmond-salt commented on #38125
Additional info,

Attempting to run a simple bash script via userdata when provisioning a RHEL 7.2 node in AWS yielded the following result in `/var/log/cloud-init.log` on the new minion:

[code]

For reference, the script (created for validating line breaks) was:
/etc/salt/userdata-linux
[code]

[2017-03-07 00:15] myii commented on #39835
@Ch3LL OK, applying that patch has worked, so thanks for that.

There is point of interest, though.  I've checked my second master (as mentioned above, which was already working) and it **doesn't** have this patch applied and is working regardless.  So I've run a comparison of `/usr/lib/python2.7/dist-packages/salt` on both masters and the diff shows that they were identical, before I applied the

[2017-03-07 00:24] myii commented on #39786
@harmv Coming from probable duplicate issue #39835, I can report that this patch has worked for my `2016.11.3` master.  The strange thing is that my other `2016.11.3` master wasn't affected.

[2017-03-07 03:10] sumeetisp commented on #39750
Yes I have this config

On Mar 6, 2017 10:50 PM, "Seth House" <notifications@github.com> wrote:

[2017-03-07 04:36] andrewlarioza commented on #38121
Are there any update with this issue? I'm also having the same problem with Beacon.

[2017-03-07 04:39] daswathn opened #39863 "Salt-Master not responding when the list of minions are high after upgrade to 2016.11.2"
### Description of Issue/Question
Have upgraded from _2016.3.2_ to _2016.11.2_ from then on when we run jobs or state_file for minion list which are more than 500 the salt-master stops to respond with the below error. The issue is not just on one salt-master but on all three master servers.

**But all these same jobs used to work seamless when we had _2016.3.2_ in the environment**.

### Setup
Mas

[2017-03-07 05:34] sumeetisp commented on #39636
Tx @Ch3LL . Its working

[2017-03-07 05:34] #39636 closed

[2017-03-07 07:08] BadBossy commented on #39849
Yes this does work thanks, but isn't it better if there is a option to activate multiline mode? Like "flags" which are deprecated?

[2017-03-07 07:43] hbayindir opened #39866 "Salt pkg.installed returns error despite successful operation."
### Description of Issue/Question

I'm installing four packages, which I purge in the previous step. The purged packages are newer versions, installed ones are older. In fact, I'm doing an downgrade.

To keep the package versions locked, I use `hold: True`; to keep the rule idempotent I use `update_holds: True` and `reinstall: True`.

After applying the state, salt reports an error stating that th

[2017-03-07 08:01] jagguli commented on #38907
Bump ... same issue

[code]
Why is it trying to look for public ip ? public ip's are not assigned automatically. I think the implementation is wrong.

[2017-03-07 08:39] harmv commented on #39786
@myii  perfect. I'll skip my test. (Wasn't that easy for me to do)

[2017-03-07 08:49] myii commented on #39786
@harmv There is a workaround, as I mentioned in #39835:

[2017-03-07 09:03] pepoluan commented on #37651
Hi, I just realized that I also need this functionality (i.e., managing AWS ELB "Application" Load Balancer).

Is there any progress?

[2017-03-07 09:26] zerthimon commented on #39856
@Ch3LL it's displayed in Debug and also in the final summary of changes made.

[2017-03-07 09:46] ashokrajar commented on #39688
I encountered the same problem. But using -w or -W solved it.

Mine was salt-ssh 2016.11.1 (Carbon)

[2017-03-07 10:43] harmv commented on #39786
@myii hm.. in my case the workaround doesn't work

[code]

Here somehow in the master minion cache, there is a minion directory without  a data.p file. (the minion directory is empty)
[code]

[2017-03-07 10:46] ScoreUnder commented on #39847
Here's the new log with that debug statement added.
Note that I've replaced capitalised database name (→SomeDB) and the lowercase database name (→somedb) separately in the output, so when you see strange lowercase where it shouldn't be, that is not a transcription error.

[code]

[2017-03-07 11:06] myii commented on #39786
@harmv Saw that @Ch3LL mentioned at https://github.com/saltstack/salt/issues/38216#issuecomment-266881930:

I suppose that the workaround requires some minions attached...

[2017-03-07 11:12] harmv commented on #39786
I can confirm that the fix in pull request #39852 (merged), fixes my particular problem.
(tested version 8ecc719f905e1a2c5ab5e7d82dc7a6b3969acd90)

[2017-03-07 11:14] myii commented on #39786
@harmv Better than any workaround.

[2017-03-07 11:17] myii commented on #39835
@Ch3LL Since all looking good on #39786 as well, not going to worry about the second master issue and will close the issue.  Thanks again.

[2017-03-07 11:17] #39835 closed

[2017-03-07 11:37] alexntt commented on #38125
Yes, please. Adding new lines is a hack and it might now work in all situations- the proper solution would be to ensure that the script is copied to the target un-mangled.

[2017-03-07 12:11] sebw opened #39867 "salt.states.tomcat.war_deployed lacks config file deployment"
According to https://tomcat.apache.org/tomcat-7.0-doc/manager-howto.html#Deploy_using_a_Context_configuration_%22.xml%22_file it is possible to deploy a WAR with a context file.

This is the URL to call:

http://localhost:8080/manager/text/deploy?config=file:/path/context.xml&war=file:/path/bar.war

salt.states.tomcat.war_deployed doesn't have the option for deploying config.

[2017-03-07 12:40] amontalban opened #39868 "archive.extracted issue when source_hash_update=True and extracted files does not exist"
### Description of Issue/Question
Not sure if I'm not using archive.extracted properly or if this is a bug, I think that it should check for the tarball content besides the hashes are not changed and extract if files are missing.

### Setup
[code]

### Output
[code]
### Steps to Reproduce Issue
Run the above state, then remove the extracted tarball path and run the state again. Salt will compare h

[2017-03-07 12:57] Foxlik commented on #18168
Sorry for reviving this thread, but I do have a favor to ask. Could this please get backported to stable? I'd love to stop patching the module myself. Thanks in advance.

[2017-03-07 13:41] eliasp commented on #18168
@Foxlik just use [Dynamic Module Distribution](https://docs.saltstack.com/en/latest/ref/file_server/dynamic-modules.html) - no need to patch it manually every time you update.

[2017-03-07 14:07] sgouliarmis commented on #31308
There is also the problem that a command (mount -o remount) returns a non-zero code and yet salt happily reports that everything's fine.

Furthermore I am not comfortable with Reiner030's lazy umount + mount solution as this could let very long-lived processes keep file handles into the old mount. Keeping an eye on those processes and their "old" fd's is a PITA [1], so I would want to decide for m

[2017-03-07 14:33] Foxlik commented on #18168
@eliasp ah, great idea. thanks.

[2017-03-07 15:21] Ch3LL commented on #38125
thanks for clarifying. Let me see if i can replicate this and i'll update here

[2017-03-07 15:26] shallot commented on #33857
I seem to have run across this issue - I'm trying to get some file systems formatted with specific labels, but blockdev.formatted provides no apparent option to specify a label that would in turn be passed down to the mkfs function.

[2017-03-07 15:35] terminalmage commented on #38275
@Ch3LL See https://github.com/saltstack/salt/pull/39871

[2017-03-07 15:40] tjyang commented on #38275
@terminalmage and @Ch3LL , thanks for the understanding and providing  this fix.

[2017-03-07 15:55] Ch3LL commented on #38125
Okay I confirmed that this is broken on 2016.11.3 and the head of 2016.11

It is working in 2016.3 branch and 2016.3.4. So seems this regressed. Thanks!

[2017-03-07 16:07] shaidar commented on #38121
Any updates on this as we're running into the same issue as well on 2016.11.3 (Carbon). Tried formatting the beacon as a dict and as a list and get the same error reported when it's a dict and the following error when it's a list:
`AttributeError: 'list' object has no attribute 'get'`

[2017-03-07 16:26] The-Loeki commented on #38680
Well the OP gave a `priv: /tmp/somekey.ppk`, which is a PuTTY key, not an SSH key (although it's in there somewhere), so his specific snippet was never gonna work anyway.

It's not an entirely invalid question though: Given enough keys in path/agent, you'll be forced to supply a pubkey to force SSH to pick the right one.

[2017-03-07 16:29] The-Loeki commented on #16068
Related/at least for cached minions solved: #39050

[2017-03-07 16:30] The-Loeki commented on #32978
Related/for cached minions solved: #39050

[2017-03-07 16:32] rickh563 commented on #39322
ZD-1238

[2017-03-07 16:33] gtmanfred commented on #39860
Thanks for reporting.  I don't see this as a huge problem because the includes are really meant to just allow for extra stuff to be added to pillar files.  From looking through old issues about this, it seems that overrides are meant to go in separate pillar files.

When you use an include it basically makes one big file, and I believe it is an ordered dictionary, so the way it is parsed, the firs

[2017-03-07 16:38] gtmanfred commented on #39861
Thanks for reporting this.

If you wanted to submit a PR to fix this behavior, we would greatly appreciate it, otherwise I have tagged the issue with our platform team to take a look.

Thanks,
Daniel

[2017-03-07 16:43] The-Loeki commented on #27669
The new release will have `ssh_options` as config option in rosters

[2017-03-07 17:05] gtmanfred commented on #39868
This appears to be a bug with source_hash_update, Where it will only update if the source_hash changes.

[code]

Without the `source_hash_update: True` this works.

@terminalmage you might be interested in this.

Thanks,
Daniel

[2017-03-07 17:07] gtmanfred commented on #39866
Can you provide an actual state for this so that I can replicate the issue?

Thanks,
Daniel

[2017-03-07 17:08] p6knewman commented on #35646
@halkotron, your solution worked for me. I was only getting this in salt-ssh for remote hosts that were a a bit slower to respond on SSH. I increased the ssh_scan_timeout to 5 and it hasn't happened again. Would love to see this option documented in /etc/salt/master!

[2017-03-07 17:09] gtmanfred commented on #39867
Thanks for the request.  We would love a pull request that implements this.

Thanks,
Daniel

[2017-03-07 18:26] kiorky opened #39873 "correctly handled onfail requisites should have returncode==0"
### Description of Issue/Question

Returncode  (eg via state.sls) of state executions where onfail requisites are used is currently non null, even if states are handled via onfail, and those onfail states suceed

### Steps to Reproduce Issue
[code]

here RC==2 .

(Include debug logs if possible and relevant.)

### Versions Report
2016.11

[2017-03-07 18:26] kiorky commented on #39873
Making the related PR ...

[2017-03-07 18:40] gtmanfred commented on #39717
I have confirmed this as well, This was fixed by https://github.com/saltstack/salt/pull/38951 Which was meant to fix #33890

Thanks to everyone, I am going to close this issue now.
Daniel

[2017-03-07 18:40] #39717 closed

[2017-03-07 19:08] carlpett commented on #39717
@gtmanfred Looking at the fixing PR, it is pretty unclear that this could have the sort of effect as reported here and in the other bug report. Would it be wise to put some cautious comment in that file that changing it can lead to non-obvious effects? Or maybe this is already clear to the people who would be editing it?
Just not keen on a regression on this, but not sure how to best avoid it.

[2017-03-07 19:10] steverweber commented on #39860
thanks for tagging.

the default merging strategy will override the previously defined with the new one.

I took a good look over the source, sadly the fix is not a simple one.

[2017-03-07 19:13] steverweber commented on #39860
also if a developer does take a look into this... might be a good time to add support for the prefix dot for current path ` - .current.path.sls` that works in state files.

[2017-03-07 19:23] steverweber commented on #39860
i took a quick stab at it...

fliped `merge( state, nstate ...)` but no luck
https://github.com/saltstack/salt/blob/develop/salt/pillar/__init__.py#L689

[2017-03-07 20:49] nw0428 opened #39875 "Can't use grains.list_present with complex(dict) types"
### Description of Issue/Question
A state like this:
[code]
Will work the first time but not the second. The second time it throws the following:
[code]

### Versions Report
[code]

[2017-03-07 21:37] shallot opened #39876 "salt-ssh sls parser throws an unhelpful error on a simple user error (esp. with lvm)"
### Description of Issue/Question

The parser of state files handles this kind of a trivial user error like this:

[code]

[code]

First off, the newbie user has no idea what this JSON talk is about, given that they used YAML. Secondly, the part after the colon in that error message is void, which sounds like something should have been there but is somehow missing.

Then there's the spuriously cri

[2017-03-07 22:22] porunov opened #39877 "Could not fetch from s3"
### Description of Issue/Question

It seems that minions use different python modules for s3. I tried to change next files to add http support and path style support:

[code]

It works in master file (as a fileserver backend) but it doesn't work with the minion file. Does minon uses other s3 modules?

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

[2017-03-07 23:17] blbradley commented on #39608
Confirming on 2016.11.3

[2017-03-07 23:42] ninja- commented on #39836
@TheTesla it doesn't look like a bug. I think you misread the docs :)

Look, there's this cool feature you can use right now, just need to specify source_hash_name
![](https://vderp.net/s/rmDCA_chrome_2017-03-08_00-42-06.png)

[2017-03-08 00:19] blakemartin commented on #38066
@Ch3LL - I'm seeing exactly the same issue with VSTS and gitfs remotes.  Any updates?

Thanks!

[2017-03-08 01:18] DaveQB commented on #39308
Hi @Ch3LL

I'll start the salt upgrade business process.

"ops-deleteme97-ap-southeast-2b.think.vpc" was once a minion, never a master and no longer exists. It is like a key collision of some sort.

[2017-03-08 01:18] timwsuqld commented on #37741
Which version has this been merged into? It doesn't appear to be in 2016.11.3

[2017-03-08 01:20] mirceaulinic commented on #39748
Hi @cro - I'm afraid that the modules under develop are still not displayed correctly: https://docs.saltstack.com/en/develop/ref/modules/all/salt.modules.napalm_network.html#module-salt.modules.napalm_network. Did you have any success fixing the decorator handler? Thanks!

[2017-03-08 01:24] mirceaulinic commented on #39827
Great! Thank you very much @Ch3LL!

[2017-03-08 01:24] #39827 closed

[2017-03-08 01:27] whiteinge commented on #33309
@timwhite thanks for the bump.

General consensus is this should be an easy switchover. Main blocker is the unknowns. We talked about this today and will make the switch for Oxygen to give any potential issues time to surface.

[2017-03-08 01:29] mirceaulinic commented on #36356
Hey @grichmond-salt: are you still seeing this in one of the official releases? The stable version I recommend for napalm modules is >= 2016.11.2.

[2017-03-08 03:26] sumeetisp commented on #39750
I am facing this issue only with runner client. Other clients seem to work properly.

[2017-03-08 04:19] mfilotto commented on #16313
Is it still a considered feature ?

[2017-03-08 05:37] DaveQB commented on #39308
A solution that might be working for us having a cronjob our single master to service salt-master stop && killall salt-master and then service salt-master start. Seems to be working.

[2017-03-08 08:56] sivann commented on #12540
@PeterS242 Hi peter, as I stated above, keepalive counters count on one end (the minion's) because on SAT networks keepalive is proxied (emulated). Nothing on the minion logs.

[2017-03-08 09:05] MTecknology commented on #19054
It was a weekend project that didn't get finished that weekend... or ever. I got sidetracked with another project that has been chewing up all of my free time for the past few months. I'm getting closer, but still probably have another 2-3 months left. :(

Still, I want to find some time to make this happen. It seems like it should be easy, it's just a matter of finding the right place to stop and

[2017-03-08 09:44] alankrita opened #39879 "gen_accept does not work with '_' in minion id"
### Description of Issue/Question
If minion id contains '_' in function salt.wheel.key.gen_accept, minion appears both under Accepted keys (without underscore) and Unaccepted keys (with underscore).

### Versions Report
salt-master version 2016.11.2

[2017-03-08 09:53] tsaridas opened #39880 "syndic is not added to startup rhX"
### Description of Issue/Question
salt-syndic is not added to start automatically on boot.
it was removed from #32308.
ping @terminalmage
I also don't understand why the restart is commented out ( although it would need to have a condrestart in the init script )

### Steps to Reproduce Issue
install latest salt-syndic in a rh os and check with chkconfig if its added to startup.

### Versions Repor

[2017-03-08 09:58] shallot commented on #39876
Oh and I forgot one more detail...

salt-ssh minion state.show_sls volumes
minion:
    ----------
    /dev/xvdf:
        ----------
        __env__:
            base
        __sls__:
            volumes
        lvm:
            - pv_present
            |_
              ----------
              order:
                  10000
salt-ssh state.show_sls   0.29s user 0.09s system 14% cpu 2.550 total

I w

[2017-03-08 10:45] shallot commented on #38336
ssh_log_file doesn't get prefixed with root_dir by default, which makes it inconsistent with all the other variables. It should be normalized instead.

[2017-03-08 10:54] hbayindir commented on #39866
Attached state file can reliably reproduce the problem in a ScientificLinux 6.8 (Which is in the same family with RHEL, CentOS). One can obtain relevant ISO files from [here](http://ftp1.scientificlinux.org/linux/scientific/6.8/x86_64/iso/)

Actual state file (renamed to `.txt` since GitHub didn't like SLS extension): [recreate_downgrade_bug.txt](https://github.com/saltstack/salt/files/827362/recr

[2017-03-08 10:55] shallot commented on #39876
I found the newer 14.04 package repository and now 2016.11.3 says:

minion:
----------
          ID: /dev/xvdf
    Function: lvm.pv_present
      Result: False
     Comment: State 'lvm.pv_present' was not found in SLS 'volumes'
              Reason: 'lvm' __virtual__ returned False
     Changes:

Summary for minion
------------
Succeeded: 0
Failed:    1
------------
Total states run:     1
Total r

[2017-03-08 11:06] afletch opened #39881 "salt-ssh jinja import_text breaks gitfs backend (also can't import from gitfs)"
Using salt-ssh:
When using `import_text` in jinja states, referencing files stored on a gitfs remote, the file cannot be found[1]. This works fine when executed via the minion, but fails with salt-ssh.

This seems to have a cascading effect that other **files** stored on the gitfs, for subsequent IDs in the same state (possibly other states too) also become unavailable even for `salt://` reference

[2017-03-08 11:41] The-Loeki commented on #39720
@gtmanfred this is a 'regular' SLS file, so `state.sls imateapot` or something like that ;)

[2017-03-08 11:44] suhahmed commented on #38655
Any update on the exception error. Even I am facing same issue

[2017-03-08 11:58] smarsching opened #39883 "file.line function fails with NameError on Windows"
### Description of Issue/Question

The `file.line` state function is broken on Windows due to a bug in the `win_file` execution module. When using the `file.line` function, execution fails with `NameError: global name '__opts__' is not defined`.

In my opinion, this is due to the crazy way how the `win_file` module uses functions from the `file` module, while at the same time replacing the `file`

[2017-03-08 12:00] smarsching commented on #39842
I submitted PR #39882 which fixes this issue. I tested the changes on Linux and Windows, except for the changes in the `line` function which I could only test on Linux due to #39883.

[2017-03-08 12:08] tsaridas opened #39885 "AttributeError: 'module' object has no attribute 'OrderedDict - 2016.11.3"
### Description of Issue/Question

#39392 made code incompatible with python2.6

[code]

### Steps to Reproduce Issue
salt minion test.ping

### Versions Report
2016.11.3

[2017-03-08 13:00] tsaridas commented on #39885
fixed in dev

[2017-03-08 13:00] #39885 closed

[2017-03-08 13:28] tjyang commented on #38275
Can #39871 be included into 2016.11.4 ?

[2017-03-08 13:35] smarsching commented on #39883
After spending quite some time on investigating this issue, I feel a bit lost.

I tried several simple workarounds in order to get `__opts__` resolved from `file.line`, but they were not successful. I always end up with a different error like the following:
[code]

However, I think I got a better understanding of why this weird importing and aliasing is happening.

The `win_file` module uses quite

[2017-03-08 14:15] The-Loeki commented on #39389
@germfue just for giggles, can you add the `root_dir` to the `ssh_minion_opts` and try again? I'm currently tracing a problem that looks a lot like yours ;)

[2017-03-08 14:21] The-Loeki commented on #34402
I'm actually using it like this on 2016.11 and it works as advertised (well, it doesn't but that's a different story/issue ;))

[2017-03-08 14:27] The-Loeki commented on #10682
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.libcloud_dns.html

libcloud_dns supports DNSimple, this can be closed :)

[2017-03-08 14:28] guettli opened #39887 "Release 2016.11.4 is missing in pypi"
### Description of Issue/Question

Release 2016.11.4 is missing in pypi

According to the docs 2016.11.4 exists: https://docs.saltstack.com/en/latest/topics/releases/2016.11.4.html

But no matching version here: https://pypi.python.org/pypi/salt

[2017-03-08 14:29] The-Loeki commented on #18540
#27669

[2017-03-08 14:43] mweinelt opened #39889 "pkg.upgrade on Debian does no dist-upgrade"
### Description of Issue/Question

`pkg.upgrade` does not do a complete upgrade of the system.

When a Debian kernel meta-package gets updated it introduces a new package via its dependencies
[code]

This in turn requires one to do a `apt-get dist-upgrade` instead of just `apt-get upgrade`.

### Setup
- All machines on Debian Jessie

#### Master
[code]

#### Minion
[code]

[code]

### Steps to Rep

[2017-03-08 14:47] shallot opened #39890 "salt-ssh throws un-handled TerminalExceptions in key deploy when no password entered"
This should probably be handled more gracefully:

[code]

### Versions Report
[code]

[2017-03-08 15:07] The-Loeki opened #39892 "Salt-SSH reflects certain minion's opts as master opts for rendering"
### Description of Issue/Question
Salt-SSH reflects the minion options back to the Pillar code when it wants a rendered pillar.
This leads to unexpected and possibly dangerous behaviour.

### Setup / Steps to Reproduce Issue
Salt SSH config:
[code]

[code]
### Versions report
[code]

[2017-03-08 15:15] gtmanfred commented on #39887
2016.11.4 has not been tagged yet.

Those are documentation for what will be changed there as we work on 2016.11.4

[2017-03-08 15:15] #39887 closed

[2017-03-08 15:23] guettli commented on #39684
thank you for merging.

[2017-03-08 15:26] alektant opened #39893 "Make __utils__ available to engines"
### Description of Issue/Question
This is a feature request to make the utils dunder available to engines.

### Setup
I currently have a minion engine that is several hundred lines long. It would be nice to break that up into pieces which can be reused by modules and vice versa.

### Versions Report
[code]

[2017-03-08 15:43] Ch3LL commented on #39863
@daswathn when you receive the error message is there any significant load on the VM?

Also is there anything in the debug logs that relates? Even on the minion side as well?

[2017-03-08 15:44] Ch3LL commented on #39873
@kiorky thanks for the PR! Please feel free to close this issue once your PR has been reviewed/merged or we can

[2017-03-08 15:50] Ch3LL commented on #39875
Looks like i'm able to replicate this.

Here is a docker container for anyone that wants to quickly replicate this:

1. `docker run -it -v /home/ch3ll/git/salt/:/testing/ ch3ll/issues:39875 salt-call --local state.sls test -ldebug` ( where /home/ch3ll/git/salt is a local cloned git repo of salt.)

Looks like we need to get this fixed thanks

[2017-03-08 15:53] gtmanfred commented on #39893
I have added the following pr to make __utils__ available in engines in the Nitrogen release.

https://github.com/saltstack/salt/pull/39894

[2017-03-08 15:53] Ch3LL commented on #39876
@shallot seems you have a grasp on how to fix this to show a better error message. Would you mind sending in a PR with the fix?

[2017-03-08 16:01] mweinelt commented on #39889
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.aptpkg.html#salt.modules.aptpkg.upgrade

[code]

[2017-03-08 16:01] #39889 closed

[2017-03-08 16:02] terminalmage commented on #38275
@tjyang Yes, it will automatically be included in 2016.11.4.

[2017-03-08 16:02] Ch3LL commented on #39877
If you look at this PR it shows you how s3 syntax was added to file.managed: https://github.com/saltstack/salt/pull/10893

Hopefully that points you in the right direction. Does that help out?

[2017-03-08 16:06] terminalmage commented on #39868
It was designed to work the way that it does, I carried over that feature from 2016.3 when I rewrote the state for 2016.11. However, the behavior does not quite match the documentation, and there is definitely a use case for proceeding with extraction in the event that files are missing. I'll get this taken care of for 2016.11.4.

[2017-03-08 16:09] Ch3LL commented on #39879
I'm not able to to replicate this. Here is my test case:

In a python interpreter:

[code]

And it only shows as accepted:

[code]

What was the name of your minion? Any other information to help replicate this?

[2017-03-08 16:16] Ch3LL commented on #39880
@terminalmage or @dmurphy18 do you know why this behavior was added and if it was intended?

[2017-03-08 16:19] esn89 commented on #39219
Hey guys,

I just wanted to reopen this topic.  As it turns out, last time I was using a cached version of this on `/var/cache/salt/master/s3cache`.  Could you guys please take a look, or perhaps give me some pointers?

That would be really appreciated.  By the way, my config is the same from last time and nothing has really changed to be honest, and the error is the same.  Only this time, the cac

[2017-03-08 16:36] shallot commented on #32771
@fcrozat looks like `thin_dir` is a configurable roster setting which could be useful for this

[2017-03-08 16:52] terminalmage commented on #39880
Sorry, but I don't have any idea what you mean by "the restart is commented out", and I don't know what you think changed in that PR. Can you elaborate?

I don't think that any of the daemons are set to automatically start on boot, and that is the intended behavior I believe.

[2017-03-08 16:53] terminalmage commented on #39751
Thanks. With the fixes confirmed and both PRs merged, I am going to close this.

[2017-03-08 16:53] #39751 closed

[2017-03-08 17:04] Ch3LL commented on #39883
ping @twangboy can you give @smarsching some pointers on how to fix this. Seems he is eager to learn ;)

[2017-03-08 17:14] twangboy commented on #39883
Maybe the real fix would be to move the shared file functions to a salt util that os specific modules could call. @UtahDave @cachedout ?  In the meantime, I don't know why `__OPTS__` isn't available in the win_file module. Let me do some poking around.

[2017-03-08 17:15] tsaridas commented on #39880
at the spec file for rhX

https://github.com/saltstack/salt/blob/develop/pkg/rpm/salt.spec#L342
adds master to automatically start on boot and below you can find minion but not the syndic.

%postun restarts master and minion but not syndic.
https://github.com/saltstack/salt/blob/develop/pkg/rpm/salt.spec#L353

[2017-03-08 17:20] terminalmage commented on #39880
@dmurphy18 Please see the above two links.

[2017-03-08 17:20] Ch3LL commented on #39881
Looks like i'm able to replicate this. Here is my test case:

[code]

And here is my gitfs:

[code]

It works when running against a normal minion but when using salt-ssh it breaks it and i see that template not found error. We will need to get this fixed up thanks.

[2017-03-08 17:35] Ch3LL commented on #39890
Agreed we should definitely not stack tracer here. We will need to print out an error.

[2017-03-08 17:58] Ch3LL commented on #39219
What if you add these options to he minion config? I would like to rule out the issue with pillar opts

And you list two configs in your previous comment. Which is the current config?

[2017-03-08 17:58] tazaki commented on #39608
Also have this issue on salt 2016.11.3 (Carbon)

[2017-03-08 18:00] Ch3LL commented on #39684
Thanks for the fix!

[2017-03-08 18:00] #39684 closed

[2017-03-08 18:02] Ch3LL commented on #34402
Thanks for the input @The-Loeki

@edgan are you still running into this issue?

[2017-03-08 18:12] dmurphy18 commented on #39880
@tsaridas The spec file to generate Redhat packages exists in salt-pack, https://github.com/saltstack/salt-pack/blob/develop/file_roots/pkg/salt/2016_11_3/rhel7/spec/salt.spec, however the section of commented out code exists there too.  Can you verify which versions of Redhat this is occurring on, given use of chkconfig, I am presuming Redhat 6 since on Redhat 7 I would expect systemd commands to

[2017-03-08 18:15] Ch3LL commented on #37741
This was submitted to develop so it would not have made it into a bug fix release like 2016.11.3. Let me see about getting backported to 2016.11 branch.

[2017-03-08 18:16] dmurphy18 commented on #39880
This shall be fix in the next releases, see https://github.com/saltstack/salt-pack/issues/221

[2017-03-08 18:19] germfue commented on #39389
@The-Loeki I tried as you say adding root_dir to the ssh_minion_opts and I executed the command:

`alt-ssh server test.ping`

I did not find any issue or error in the output

    server:
        True

[2017-03-08 18:23] grichmond-salt commented on #36356
@mirceaulinic: Thanks for asking!  My comment from September 15, 2016 was from a time when I was onsite with a client.  I have not had an opportunity since that time to work with a network engineer on Salt Proxy Minions for Cisco devices.

Also, thanks for noting that you recommend this module for use with 2016.11.2!  I will give this a try at the earliest opportunity.

[2017-03-08 18:24] twangboy commented on #39883
@smarsching The above PR should fix the problem with `file.line`

[2017-03-08 18:46] mirceaulinic commented on #36356
Yes, at that point back in time they were not officially released and since then, they suffered many change and improvements from users. However, feedback is always much appreciated.

[2017-03-08 19:01] grichmond-salt commented on #36356
Nice work! It looks like a fantastic module and I'm looking forward to trying it out :)

[2017-03-08 19:03] grichmond-salt commented on #36356
@cro I know you self-assigned this to look at the "init" grain issue that I referenced.  Given that this issue was filed prior to the release of 2016.11, I suspect the observations I made at the time are no longer relevant.  For that reason, I'll close this issue.  Thanks everyone!

[2017-03-08 19:03] #36356 closed

[2017-03-08 19:19] seanjnkns opened #39901 "network.managed ipaddrs ignored"
### Description of Issue/Question
Using network.managed for any interface and using ippaddrs, all ips w/in the ipaddrs list are ignored instead of generating a IPADDR0...X and GATEWAY/SUBNET0...X

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
[code]
### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
Use above state and not

[2017-03-08 19:36] porunov commented on #39877
@Ch3LL thank you! It helped a lot. I have created a pull request which fixes it. I will be happy if it will be merged.

Best regards,
Alexandr

[2017-03-08 19:36] whiteinge commented on #39750
Your syntax looks good. I can't think of anything else that would affect a Runner's timeout behavior. Two more questions:

1. What version of Salt is your Master running?
2. What message bus were you watching to see all those 'pub' parameters come through?

    I asked about the `expire_responses` setting because I don't see it in the `__pub_rest_cherrypy` output but the other rest_cherrrypy confi

[2017-03-08 19:47] #28773 closed

[2017-03-08 19:48] seanjnkns commented on #39901
FYI, although I expected the outcome to be the same, and it was, updated to CentOS 7.3 on a test server and got the exact same results.

[2017-03-08 19:50] Ch3LL commented on #39892
@The-Loeki looks like I can replicate this behavior. We will need to add some more validation here before sending the minion opts into the pillar data. Thanks

[2017-03-08 19:52] scottf-unity opened #39903 "File.managed S3 checksum problem"
Something appears to have recently changed causing subsequent state runs to fail for file.managed when using S3 as the source.  My master was initially on 2016.3.4 (due to some other issues) and minions using version 2016.11.2 worked fine.  When switching minions to 2016.11.3 the breakage would appear.  Also upgrading to 2016.11.3  on both master and minion has the same error.  The initial state a

[2017-03-08 19:53] Ch3LL commented on #39877
Perfect! thanks for that PR! Feel free to close this issue once that has been reviewed/merged or we can :)

[2017-03-08 20:22] Ch3LL commented on #39836
@ninja- looks like you are indeed right! Thanks so much for pointing that out, i was also not aware of this.

@TheTesla can you try:

[code]

That got it working for me.

[2017-03-08 20:27] Ch3LL commented on #35646
@geekgao does this option work for you also? AGreed we need to document this feature a little more I'll use this issue to track the doc addition.

[2017-03-08 20:30] gtmanfred commented on #39239
I have opened the above PR to add call_listen to the state.pkg which will allow for listen and listen_in to be used in salt-ssh. #39904

[2017-03-08 20:33] Ch3LL commented on #38121
My understanding is this issue outlines not being able to configure a beacon as a list, but it works as a dictionary but spits out a deprecation warning.  If there is a beacon thats not actually working please open a seperate issue on this, we definitely want to get those fixed up sooner.

In terms of an update on this issue, this will be assigned out to an engineer and timeline wise the plan is t

[2017-03-08 20:35] Ch3LL commented on #39308
So it seems you are running into  #35480 then if the processes are not being killed?

Also concerning the other issue that does indeed seem very odd that its spitting out the name of an old minion, that should be trying to initialize with the master its running on. How many minions do you currently have in your environment? Just want to make sure your worker threads should be at 80, which is a lot

[2017-03-08 20:39] Ch3LL commented on #39786
Thanks for testing. Will close now thanks!

[2017-03-08 20:39] #39786 closed

[2017-03-08 20:41] Ch3LL commented on #39847
Yep it looks like that `user_grants` call is indeed returning the SomeDB database lowercase. Thanks for doing tat for me. Looks like we need to get that call fixed up. Thanks.

[2017-03-08 20:44] Ch3LL commented on #37651
This currently has not been assigned to an engineer. You are more then welcome to start trying to add the feature yourself as a PR

[2017-03-08 20:58] twangboy opened #39905 "The State System is Broken for Windows on the Develop Branch"
### Description of Issue/Question
Running anything that applies a state in Windows (`state.sls`, `state.apply`) returns as a failure and raises a stacktrace on the Minion.
[code]
Doing a `git bisect` on the problem narrows it down to this PR: #39351

### Steps to Reproduce Issue
Apply any state file

### Versions Report
Salt: Head of Develop
OS: Windows Server 2016

[2017-03-08 20:59] guettli commented on #32771
My issue is solved  (use of /var/tmp, not /tmp). If you want this to be configurable, please open a new issue.

[2017-03-08 20:59] ninja- commented on #39905
Woops...I'll have a look

[2017-03-08 21:00] guettli commented on #27669
ok, I close this

[2017-03-08 21:00] #27669 closed

[2017-03-08 21:00] ninja- commented on #39905
Are you sure that your master is on develop branch ?

[2017-03-08 21:00] twangboy commented on #39905
@ninja- It is not.

[2017-03-08 21:00] ninja- commented on #39905
That's the problem. It needs to be

[2017-03-08 21:01] ninja- commented on #39905
😅

[2017-03-08 21:01] twangboy commented on #39905
@ninja- OK, I'll test.

[2017-03-08 21:04] twangboy commented on #39905
@ninja- I'm still seeing this issue with master and minion both on head of Develop

[2017-03-08 21:06] ninja- commented on #39905
That's very unlikely. Could you try wiping your salt binaries from /usr/lib/python*/{site-modules,dist-packages}/salt before doing setup.py install? It often bugs out

[2017-03-08 21:17] twangboy commented on #39905
I'm working in develop mode (no salt directory in `dist-packages`). I did a `git reset --hard HEAD` and `git clean -fxd` before doing `pip install -e . --force`

[2017-03-08 21:19] ninja- commented on #39905
Could you attach master logs in debug mode. There should be a mention of master command _find_file_and_hash being run

[2017-03-08 21:22] ninja- commented on #39905
And attach salt --version

[2017-03-08 21:25] ninja- commented on #39905
...On both master and minion

[2017-03-08 21:27] shorawitz opened #39906 "Manage runner broken for 'alived' and 'no_alived' when called from a Master of Masters"
### Description of Issue/Question
When using the "manage" runner on a normal master | syndic, the "alived" and "not_alived" functions return a list of minions as expected.  When run on a Master of Masters, they return the opposite list of minions as expected - offline minions show up using "alived", online minions show up using "not_alived".

### Setup
mom.conf
[code]

syndic.conf
[code]
### Steps

[2017-03-08 21:28] twangboy commented on #39905
OK, when you asked me to attach versions for both, my master upstream was set to `twangboy/develop` instead of`saltstack/develop`. Changed my upstream, pulled the HEAD, and everything's good.

Sorry....

[2017-03-08 21:28] twangboy commented on #39905
I will close the issue

[2017-03-08 21:29] #39905 closed

[2017-03-08 21:29] twangboy commented on #39905
@ninja- Thanks for your help.

[2017-03-08 21:35] ninja- commented on #39905
:+1:

[2017-03-08 21:57] dawidmalina commented on #39608
We also have this issue :(

[2017-03-08 22:39] smarsching commented on #39883
I can confirm that PR #39900 from @twangboy fixes the problem for me. Thanks a lot!

We probably should still consider refactoring the file related code for a future release. I guess this should go into a separate issue because it is rather a feature / improvement than a bug, right?

[2017-03-08 23:17] timwsuqld opened #39908 "Jinja Error Handling still doesn't provide enough clues to the source of the issue"
### Description of Issue/Question
#4092 claims to have improved error handling since the original issue. Jinja rendering issues can still throw a Traceback that is less than helpful, and doesn't point to the actual issue.

### Setup
Pillar file had incorrect nodegroups as an array instead of list. Error message didn't provide enough clues to a) work out which jinja file was at fault, or b) which p

[2017-03-08 23:25] yannispanousis opened #39909 "Thorium deletes keys after master or minion restart"
### Description of Issue/Question

Hi,

I'm attempting to implement the [basic use case of Thorium](https://docs.saltstack.com/en/latest/topics/thorium/index.html) to cleanup dead minion keys.

From a clean slate, everything works fine the first time.

However, when the master or the minion is restarted, then the minion's key is rejected soon after, with messages:

[code]

It seems related to the

[2017-03-08 23:26] yannispanousis commented on #39909
I also tried 2016.11.3 but had the same issue :(

[2017-03-08 23:40] timwsuqld commented on #31580
Any progress on this? We have this problem as well

[2017-03-09 00:06] techhat commented on #39909
Hi @yannispanousis. I had the same issue a few days ago. This is resolved with #39858.

[2017-03-09 00:13] yannispanousis commented on #39909
Great! @techhat Does this mean it should be in 2016.11.4?

[2017-03-09 00:17] techhat commented on #39909
I'm guessing so, but I'm not in the release loop.

[2017-03-09 00:52] twangboy commented on #39883
👍

[2017-03-09 01:57] NickDubelman opened #39914 "Syndic topology vs. Multi-Master topology"
### Syndic topology vs. Multi-Master topology
I have been having many issues with a syndic-topology, namely inconsistent returns from minions, even when bumping syndic_wait up up as high as 50.

I had the idea that instead of a syndic-based topology, I could have a setup where minions have multiple masters, which gives me the benefits of a syndic topology (the ability to control all minions from a

[2017-03-09 02:14] mirceaulinic commented on #38990
I did the same as above and the proxies consume much more (again this might be related to napalm):

[code]

15798 and 30343 are the child processes of two proxies started some time ago (a couple of weeks maybe).

At the same time, in a lab, a fresh napalm proxy process (running the code from develop tho):

[code]

 I will leave them running and see if indeed the consumption goes up -- at a glance

[2017-03-09 04:02] DaveQB commented on #39308
@Ch3LL  I'll check out #35480 now.

It is very odd. Minions that have long been dead (months in some cases).

We have about 220 minions. We increased to 80 as we kept getting that error message suggesting we do (which didn't remove that error message of course)

Thanks

[2017-03-09 04:05] DaveQB commented on #39308
@Ch3LL  In which release was issue #35480 fixed? I couldn't decipher.
Thanks.

[2017-03-09 04:08] DaveQB commented on #39308
Just adding this. Running salt against the same minion (tst-scripts01-ap-southeast-2b.think.vpc), back to back saw different minion names returned both times.

[code]

[code]

[2017-03-09 05:50] daswathn commented on #39863
@Ch3LL , Yes your right the load increases signiciently on the VM , but only one salt-worker logs the load on the server with, when we did a strace on the PID

[code]

Strace on the process salt-master process which is showing the below trace..
[code]

The logs are written as below, for all the 8000+ when we run the across the landscape..

[code]

We will also look for more clues, but if your alre

[2017-03-09 05:59] DaveQB opened #39915 "file.recurse also grabs ../"
### I am finding now using file.recurse it is grabbing more folders then it should be.
I changed the config to see if it was a matching issue, but even removing the if..then statement still sees this happen (if the path is salt://soe/etc/apt/) as it seems to grab salt://soe/etc/apt* instead.

I think this might be a regression as I have this setup this way for a few years and haven't had this issu

[2017-03-09 07:14] toanctruong commented on #39903
Also running into this issue. I seem to have bad luck with any S3 related module.

State
[code]
Output
[code]

When test=true

[code]
Master Version

[code]

[2017-03-09 07:45] githubcdr opened #39916 "[Feature] compound matcher based on config.get"
### Description of Issue/Question

It would be nice to be able to match minions based on _config_ values.

[code]

I don't think this is possible in current version?

[2017-03-09 09:19] rmjstn opened #39917 ""salt-run state.orchestrate" always return True"
### Description of Issue/Question

"salt-run state.orchestrate" always return true.

### Setup

I wrote this state (which failed) :

[code]

### Steps to Reproduce Issue
This command always return success, but "Changes" indicate ERROR :

[code]

### Versions Report

Salt Version:
           Salt: 2016.11.2

Dependency Versions:
           cffi: 1.6.0
       cherrypy: 3.2.2
       dateutil: Not Ins

[2017-03-09 09:33] MTecknology commented on #19054
I couldn't really sleep so I started playing around with an idea. (completely UNtested)
https://github.com/saltstack/salt/compare/develop...MTecknology:develop

I haven't even checked that it clears the syntax checker, but I don't see why this shouldn't work.
```alias salt='salt --batch-safe-limit=50 --batch-safe-size=10'```
If ```salt '*' test.ping``` were to match more than 50 minions, then swit

[2017-03-09 09:36] s0undt3ch commented on #1864
@kojiromike could you please open another issue linking to this one stating that the failure occurs when running in test mode?

Thanks.

[2017-03-09 09:54] esn89 commented on #39219
After doing some more careful testing:

**Scenario 1:**
master:
- pillar_opts: True
- s3.keyid: 123abc
- s3.key: 123abc
- s3.location: us-west-1

minion:
no settings set

This does not work, I am not able to get the s3 packages.  So I can confirm that pillar_opts does not work.

--------------------------------------
**Scenario 2:**
master:
- pillar_opts: False
- s3.keyid: 123abc
- s3.key: 123abc

[2017-03-09 10:01] pepoluan commented on #37651
Thanks for the info!

Let me see what I can do 😙

[2017-03-09 10:05] ashokrajar commented on #21118
Here is how I worked around the problem,

$ tree
.
├── Saltfile
├── config
│   ├── master
│   └── roster

$ cat Saltfile
salt-ssh:
  roster_file: ./config/roster
  config_dir: ./config
  ssh_log_file: /tmp/salt-ssh-log.log
  ssh_priv: agent-forwarding
  ssh_max_procs: 10
  ssh_wipe: True
  ssh_rand_thin_dir: True
  ssh_user: ubuntu
  ssh_sudo: True
  ssh_tty: True

$ cat config/master
cachedir: /t

[2017-03-09 10:11] pepoluan commented on #37651
Hmmm... the changes might be quite significant... for instance, `list_elbs` only list the "classic ELB" instances and none of the new "ALB"...

I'll probably split the functionality off into its own set of functions (and modules), e.g., `list_albs`, `create_alb`, `create_alb_targetgroup`, and so on.

What do you think?

[2017-03-09 10:54] kivoli opened #39918 "Enabling list merging leads to multiplying of unique list items"
### Description of Issue/Question

When running `salt-ssh` with `pillar_merge_lists=true` list items multiply regardless of merging being necessary or not. When running `pillar.items` a “correct” list is returned but once salt states are rendered stuff starts multiplying — I’ll explain the likely reason below. This is a bug of its own right but I would also like to get lists of unique items when a

[2017-03-09 10:58] mirceaulinic commented on #38990
I let the lab running overnight (without having jobs scheduler etc. - just the process being up):

[code]

Which shows an increase of 10MB over several hours. At this point I am still not sure if it's because of the proxy itself, or the connection to the network device.

[2017-03-09 11:02] mirceaulinic commented on #38990
For the sake of testing, I am running now the code from https://github.com/saltstack/salt/pull/39896 specifying the `always_alive: false` option which spawns a new connection when a CLI command is executed (somehow similar to the regular minion), but the process itself is always up. This perhaps will give us some more input. For the beginning, these are the values:

[code]

[2017-03-09 12:58] The-Loeki commented on #25371
@jfindlay I cannot reproduce this anymore, so it's probably gone and all involved versions are not supported anymore anyway :)  you can close this

[2017-03-09 13:41] gtmanfred commented on #38941
Ok, apparently i was mistaken.  In order for it to do multiple levels deep, all the levels before the last level have to be defined.

And there does not appear to be an is None check defined for jinja.  You can just do

[code]

Both of those work.

[2017-03-09 13:41] #38941 closed

[2017-03-09 13:41] gtmanfred commented on #39908
Thanks for reporting this.

Daniel

[2017-03-09 13:43] gtmanfred commented on #39914
Multi-master allows for minions to fail over between masters if one of the masters goes down.

Syndic allows for the syndic-masters to handle the traffic, and send one payload to the master of masters, alleviating some of the problems with having too many connections open to a single master.

Which problem are you trying to solve?

Thanks,
Daniel

[2017-03-09 13:52] ScoreUnder commented on #39915
Taken a small look into this myself (not a project member), and found:

[code]
This code appears in the loop over the output of `cp.list_master`. It skips any directories not relative to `srcpath`.

**BUG:** It also skips directories with names beginning with `..`. Possible solution: `(relname + '/').startswith('../')`

But that's not the bug you're running into, it's later in the file. Under `if

[2017-03-09 13:53] paul-mulvihill commented on #38941
Rather than closing this can we not make it a feature request? or do i need to raise a seperate issue for that?
I don't think this should be expected behaviour personally.

[2017-03-09 13:54] mirceaulinic commented on #39916
In that case I'd add the `tcp_keepalive_idle` option in the pillar which anyway is merged with the minion config file and you'll be able to do `salt -C "G@kernel:Linux and I@tcp_keepalive_idle:300" test.ping`. Would that work for you?

[2017-03-09 13:55] gtmanfred commented on #38941
This would be something that needs to be added to jinja.

[2017-03-09 14:05] gtmanfred commented on #39901
Thanks for reporting this.

I have replicated the issue.  If you wanted to take a shot at fixing this, it looks like ipaddrs isn't used correctly in the rh_ip.py file, we would greatly appreciate the pull request.  Otherwise I have tagged the platform team to take a look.

Thanks,
Daniel

[2017-03-09 14:14] tsaridas commented on #39880
I'm using rh6 but I don't see any systemctl enable on rh7 either so I'm guessing its not added to startup there either.

I can confirm minion is not added to rh7 in startup but it is for rh5-6

[2017-03-09 14:16] g-shockfx opened #39920 "Windows salt minion can`t start (don`t send key to master) with transport: raet"
### Description of Issue/Question
Our salt minion don`t want start with RAET,
can start as service but master don`t receive a key

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
clean installation of Salt 2016.11.3 AMD64, Windows 2008R2, domain joined.
installed via pip
raet
ioflo
pysodium

### Steps to Reproduce Issue
I can`t provide full scenario

[2017-03-09 14:32] gtmanfred commented on #39903
This appears to be the same issue as here https://github.com/saltstack/salt/issues/39751

Can you check this PR?

https://github.com/saltstack/salt/pull/39762

`patch -Np1 -d /usr/lib/python2.7/site-packages/salt < <(curl -Ls https://github.com/saltstack/salt/pull/39762.diff)`

[2017-03-09 14:34] gtmanfred commented on #39916
I think this would be a neat feature.  But i wouldn't expect this to be prioritized.

I can see the use case where you want to find all the minions that have certain things set, maybe to a new variable, or to a default from the master configs in pillar_opts.

Thanks for the request.
Daniel

[2017-03-09 14:37] gtmanfred commented on #39906
This is very odd.

Thanks for reporting this!
Daniel

[2017-03-09 14:50] chrismcmacken opened #39922 "disk.fstype doesn't properly check the filesystem for unmounted volumes"
The salt module `disk.fstype` uses the `df -T` command to check the filesystem type on volumes. Unfortunately df only lists filesystems that are mounted, `file -s` should be used to test block devices for their file types.

### Setup
Attach a volume to a machine and format it as ext4 without mounting it, try to use disk.fstype on it. It will report the type as `devtmpfs`. Now mount it and try agai

[2017-03-09 15:29] gtmanfred commented on #39922
Thanks for reporting this.  Would you mind submitting a pull request to fix this?  If not, i have tagged out platform team to take a look.

Thanks,
Daniel

[2017-03-09 16:02] rickh563 commented on #39275
ZD-1247

[2017-03-09 16:06] rallytime commented on #25371
Thanks for following up here @The-Loeki!

[2017-03-09 16:06] #25371 closed

[2017-03-09 16:20] #39877 closed

[2017-03-09 16:56] chrismcmacken commented on #39922
Here's a PR #39925

[2017-03-09 17:11] githubcdr commented on #39916
@mirceaulinic that would work... The nice thing of a config compound matcher is that you get in fact the running value. Sometime pillar data is set but not active because a minion config reload is needed for example.

[2017-03-09 17:27] mirceaulinic commented on #39748
Hey @cro - still no luck on this? Is there any chance to get this sorted before releasing Nitrogen?

[2017-03-09 17:36] NickDubelman commented on #39914
Our two biggest issues are:

- Inconsistent return from minions of the syndic node when administering a command from the master of masters (for any value of syndic_wait)
- Syndic_wait causes Salt API requests to take longer than they should

[2017-03-09 17:50] kucerarichard commented on #29670
Thanks checked my paths and realized I had multiple bases,  had to move reactor file under one of them.

[2017-03-09 17:59] mirceaulinic commented on #39916
Yes, I saw the reasons, I had a very similar need too, in the past.. but everytime I think of a new feature it strikes me the huge waiting list: https://github.com/saltstack/salt/issues?q=is%3Aopen+label%3AFeature+sort%3Acreated-asc and I try to find workarounds. But if someone would be kind enough to implement this, it would be fantastic! :)

[2017-03-09 18:10] gtmanfred commented on #39922
Thanks for the PR!

[2017-03-09 18:28] seanjnkns commented on #39901
It's unlikely I'll be about to do a PR given the major workload I currently have.  If I find some time over a weekend, or another one of our developers is willing to help out, I'll get a PR sent, otherwise, I'll await a PR from the platform team and am willing to test it to see if it does the trick.

[2017-03-09 18:37] edgan commented on #34402
No, it still doesn't work for me. I think it is my use of "include:" in the top.sls.

If I don't set top_file_merging_strategy in the master file I get the errors below. Which just seems to be the same problem with less output.

## Errors:
[code]

If I use "top_file_merging_strategy: same" in the master file, I get the exact same errors as before.

## top.sls:
[code]

[2017-03-09 18:40] etiennepouliot commented on #39608
I you want to bypass this error, make the key in another config and include it the in cert ca.  So the example in the doc would become :
[code]

[2017-03-09 18:46] cro commented on #39748
I think in the files where you define your decorators, if you add

`from functools import wraps`

at the top, and then in the decorator definition add a call to `@wraps(func)` like so:

[code]

this will give the Sphinx doc generator the hint it needs to include the docs for the actual function.  This works in my testing and should work for you, but you'll probably want to test your proxies just t

[2017-03-09 19:02] gtmanfred commented on #39909
Yup, this will be in 2016.11.4!

Thanks @techhat.

I am going to close this issue.

[2017-03-09 19:02] #39909 closed

[2017-03-09 19:03] gtmanfred commented on #39915
Thanks for the PR to fix this @ScoreUnder !

Daniel

[2017-03-09 19:15] edgan commented on #34402
These errors suggest that it is not picking up my custom python grains from _grains when using gitfs. This does work when using the filesystem method.

[code]

[2017-03-09 19:18] scottf-unity commented on #39903
Patched applied via above to modules/file.py and states/archive.py

Still have the same Unable to manage file: 'hsum' error when re-running a state that pulls files from S3.

[2017-03-09 19:42] shallot commented on #39876
@Ch3LL the immediate fix for lvm that I suggested would be easy, but I'm afraid the wider issue is beyond my reach at the moment - I've happened to stumble upon the "JSON Render failed for:" error several times now, and I see it's mentioned in the same form six times within /usr/lib/python2.7/dist-packages/salt/client/ssh/wrapper/state.py Someone who actually understands the innards of the state e

[2017-03-09 19:45] gtmanfred commented on #39917
This is a duplicate of #30367

Thanks,
Daniel

[2017-03-09 19:45] #39917 closed

[2017-03-09 19:53] gtmanfred commented on #39918
I have confirmed this is an issue with salt-ssh.

It does work correctly with the masterless minion or minion + master setups.  Thanks for reporting this, we will get it fixed.

Daniel

[2017-03-09 20:12] tazaki commented on #39608
This workaround worked for me. Thanks @etiennepouliot !

[2017-03-09 20:21] gtmanfred commented on #39920
We are working on deprecating raet. And I don't believe it has ever supported Windows.

You will need to use tcp or zmq.

Thanks,
Daniel

[2017-03-09 20:21] #39920 closed

[2017-03-09 20:58] cro commented on #39775
Copying this comment over from #39776:

Oh, I remember now. When we persist the data to the _schedule.conf file, it's in the same format as the regular minion configuration file, and it resides in /etc/salt/proxy.d/. Thus, it gets loaded as part of the regular configuration file processing when the minion starts up.

I think that means that it might be a little harder to handle this since ALL file

[2017-03-09 21:06] MDPolaris commented on #39163
Hi Megan,

Sorry for the delay. I got tied up on cleaning up some projects before
going out on vacation. Your suggestions make sense and i definitely do not
want to use pillar_opts. Now that I understand how this works better I will
just try to use the runner for SDB. I prefer to keep all of the SDB config
locked away in the master if I can. I will also look into updating the docs
to clarify this

[2017-03-09 21:13] cro commented on #39631
I've been discussing this with another customer and the intent was for any data in /etc/salt/proxy or proxy.d to override anything in Piillar.  However, @mirceaulinic noted the same issues related to the scheduler over in #39775, so I think we need a solution closer to what @cprior is suggesting.

[2017-03-09 21:16] cro commented on #38990
Good data to have.  Thank you.

[2017-03-09 22:19] rallytime commented on #39883
@smarsching Thanks for filing this and testing the fix. Yes, the refactoring question you just raised should go in a new issue.

I just merged the fix into 2016.11, so it will be available in the 2016.11.4 release. I'll close this issue.

[2017-03-09 22:19] #39883 closed

[2017-03-09 22:44] DaveQB commented on #39915
Thanks @ScoreUnder
My work around was to extend the name of the default source path from soe/etc/apt/ to soe/etc/apt-default/
None of the other paths start with apt-default. That's been working.
I think this is a regression.

[2017-03-10 08:56] vutny commented on #5721
@smarsching Thanks for the feedback! This is valuable information.
Just to be more precise, could you please tell with which exact Salt version you have tested your SLS?

In the meanwhile I will try to come up with PR to update FAQ according to your comment.

[2017-03-10 08:59] smarsching commented on #5721
@vutny Sure, I tested it with version 2016.11.3.

[2017-03-10 10:11] martinschipper opened #39939 "Relative symlinks are changed with file.recurse 2016.11.3"
### Description of Issue/Question
A relative link-target is changed when symlinks are managed with file.recurse
The link-target is "prefixed" with the salt:// path.

I.e. a relative link:
00non-https -> ../sites-available/non-https

Is changed to:
00non-https -> webserver24/etc/apache2-prod/sites-enabled/sites-available/non-https

when using the SLS snippet below. So the "../" is replaced by "webs

[2017-03-10 10:37] lubyou opened #39940 "2016.11.x windows minion fails to start on Windows 2003"
### Description of Issue/Question
Hi,

The windows minion of the 2016.11 branch fails to start on windows 2003.

I tested both Salt-Minion-2016.11.0-x86-Setup.exe and Salt-Minion-2016.11.3-x86-Setup.exe on an English Windows 2003.

pywintypes imports fine:

[code]

The 2016.3 minion works fine.

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2017-03-10 11:07] vutny commented on #5721
@smarsching Thanks, one more question: maybe do you use some `sleep` command before actually restarting a Minion? Because on Linux sometimes Salt performs to fast (:smile:) and restarts the service before the Minion is to be able to report back to the Master. That's why I put `sleep 10; ` before doing `salt-call ...`. I wonder how to put something like this to the Windows command.

[2017-03-10 11:34] Foxlik opened #39942 "Web Documentation not in sync with release 2016.11.3"
It seems the salt documentation is out of sync with salt packages.

I do have Salt 2016.11.3 installed via salt repository
[code]

But my salt instalation does not support ulimits in dockerng:
[code]

Even though it is mentioned in the web documentation for 2016.11.3: https://docs.saltstack.com/en/latest/ref/states/all/salt.states.dockerng.html

It was added in this commit: c50374041d87b3611b2d133

[2017-03-10 11:35] Foxlik commented on #39942
oh and just by the way ... https://docs.saltstack.com/en/develop/ref/states/all/salt.states.dockerng.html still shows 2016.11.2 ...

[2017-03-10 11:51] sumeetisp opened #39943 "Salt-cloud select_query"
### Description of Issue/Question

I am trying to use the following,
`salt-run cloud.select_query` & `salt '*' cloud.select_query`

I have the following in  /etc/salt/cloud

[code]

And following is the output i get for both the cases,

[code]

However when using salt-cloud -S it gives me following (just a small snippet)

[code]

Just wanted to know how to use the salt and salt-run for select `que

[2017-03-10 11:54] sivann commented on #38706
any updates here?

[2017-03-10 12:12] porunov opened #39944 "openstack-swift installation fails even so it installs correctly"
### Description of Issue/Question

I don't understand why `openstack-swift` installation fails even when it is installed correctly.yum install `openstack-swift` also works but when I use this package in a state it fails.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

SLS:

[code]

### Steps to Reproduce Issue
(Include debug logs if possible and r

[2017-03-10 12:14] secumod opened #39945 "Module `cmd.retcode` ignores inversion with `!`"
### Description of Issue/Question
Module `cmd.retcode` ignores inversion with `!`

test.sls
[code]
^ success

[code]
^ should fail according to https://docs.saltstack.com/en/latest/ref/states/requisites.html#check-cmd

Also, `onlyif` and `unless` are broken

This is basically because `cmd.retcode` ignores `!` somehow

[code]

[code]

### Versions Report
[code]

Most probably applies to 2016.3 bran

[2017-03-10 12:16] alankrita commented on #39879
I tried your test code on my master and I got this:
[code]
though I did not get another one under unaccepted.
Salt -version report
[code]

[2017-03-10 12:18] dqminh commented on #39793
https://github.com/saltstack/salt/pull/39727 fixes the issue for me, at least it will abort the salt run when pillar rendering partially failed.

[2017-03-10 12:56] porunov opened #39947 ""salt --versions-report" doesn't show correct version of salt"
### Description of Issue/Question
When I call `salt --versions-report` or `salt-run manage.versions` it shows that my master have version 2016.11.1 but I upgraded it to the newest version 2016.11.3. When I call `yum install salt-master` I get a message: `Package salt-master-2016.11.3-1.el7.noarch already installed and latest version`

### Setup
(Please provide relevant configs and/or SLS files (Be

[2017-03-10 13:35] lubyou commented on #39940
Hi,

It seems that the real import failure (psutil) is masked.

https://github.com/saltstack/salt/blob/2016.11/salt/utils/win_functions.py#L10

[code]

After removing the try/except, the trace looks like this now:

[code]

[2017-03-10 14:00] sumeetisp opened #39949 "Pillar top file"
### Description of Issue/Question

I have a pillar top.sls which has the following contents,
base:
  {% set roles = salt['grains.get']('roles',[]) -%}
  {% for role in roles -%}
  'roles:{{ role }}':
    - match: grain
    - {{ role }}
  {% endfor -%}
Which will get dynamically generated depending on minion roles.

But when i running any sls file as below,
salt master state.sls some-sls pillar='{}

[2017-03-10 14:08] adtyashgl opened #39950 "salt to install packages from yum cache"
Is there a way to enable salt stack to install a package from yum cache?
command is yum install -C "package name"
Currently pkg_verify and the verify_options do not work with -C option, as it passes it down as --C
This works for rpm options like --nodeps, but is there a way for yum? yumpkg module does not mention cache
### Versions Report
(Provided by running `salt --versions-report`. Please also

[2017-03-10 14:10] cgoudie commented on #27228
If you don't mind enabling a repo for stretch via "deb http://ftp.de.debian.org/debian stretch main"

and then apt-get update && apt-get install python-tornado

This seems to solve the dependency. Just make sure to turn off the stretch repo after.

[2017-03-10 14:19] kojiromike opened #39951 "file.append state fails in test mode when file doesn't exist"
### Description of Issue/Question

When using a state like

[code]

in salt-ssh 2016.3.5, the state would fail in `test=True` mode, but succeed in regular mode.

This is similar to #1864, but specifically applies to the test mode.

[2017-03-10 14:21] babilen commented on #27228
@cgoudie : I wouldn't recommend to pull in packages from stretch into jessie.

[2017-03-10 14:31] johnkeates commented on #12803
Ran into the same issue here. Debian 8 too. Restarting it resolved it for a bit here as well.

[2017-03-10 14:42] smarsching commented on #5721
@vutny I did not have to add a sleep command (it simply worked correctly without it), but if you want to do some thing similar to `sleep 10; salt-call --local service.restart salt-minion` on Linux, the closest thing on Windows is `ping -c 10 127.0.0.1 >nul: & C:\salt\salt-call.bat --local service.restart salt-minion`.

[2017-03-10 14:42] vutny commented on #5721
Ah, never mind, I figured out that we don't need any kind of "sleep" or "timeout". It appears that on some systems (I've tested on CentOS7) wrapping `cmd.run_bg` with `module.run` doesn't work in way we want.
Instead, I've used `cmd.run` *state* function with `bg` argument. That works like a charm.

All the tricks have been assembled in PR #39952. But it would be great to have a single function wh

[2017-03-10 14:49] ton3r commented on #38538
I'm running in the same problem. At the end the call is finished and done fine. But I think there is a loop about 4 times which logs on saltmaster with "Passing on saltutil error. This may be an error in saltclient. 'retcode'"

On the requested minion I found no errors. May be I don't interpret them as errors..

Both, master and minion are 2016.11.3 (Carbon)

I've the following state file which is

[2017-03-10 15:01] DanielZuck opened #39953 "os_family grain for 'Suse' compared wrongly in certain modules"
### Description of Issue

As in grains/core.py the **os_family** evaluates on all SuSE-platforms to the string "Suse".
In certain modules, the os_family string is compared agains "SUSE", which will never become true - even if it should be on the related check. This is causing some modules to malfunction.

See core.py lines 1145-1153

### Setup
I am running 2016.11.1, but I see the same issue in th

[2017-03-10 15:06] #15482 closed

[2017-03-10 15:15] Poogles commented on #39947
Restart the salt master process?

[2017-03-10 15:54] porunov commented on #39947
Tried. Reboot the whole machine doesn't work too.

[2017-03-10 16:02] porunov commented on #39944
The problem is that when I use `yum install openstack-swift` it installs the package `python-swift`. So basically, yes it doesn't install `openstack-swift` but it installs `python-swift`. `openstack-swift` is just an alias for `python-swift`.

If I change state like this:
[code]

then it works correctly. But I think that aliases have to be able to be used as well as original names because yum uses

[2017-03-10 16:04] kruule69 opened #39955 "salt-cloud vmware Windows Template on a DHCP network with static map file doesn't connect"
### Description of Issue/Question
When deploying a new Windows Template using salt-cloud vmware module with a static IP in the map file, but the destination network is DHCP, the salt-cloud installer gets the DHCP address first before the server has finished being customized by vmware image customized.  The customization complets and sets the IP address but salt-cloud does not see the new IP addres

[2017-03-10 16:05] kruule69 commented on #39955
Additional information --- When we disable the DHCP Scope on that network, it works as expected.

[2017-03-10 16:10] gtmanfred opened #39956 "Dockerng.call thin tarsal does not include custom modules."
### Description of Issue/Question

The thin tarball for dockerng.call does not get include custom modules.

### Setup

[root@salt ~]# cat /var/cache/salt/minion/extmods/modules/mymod.py
[code]

### Versions Report
[code]

@dmacvicar you might be interested in this.

Thanks!
Daniel

[2017-03-10 16:22] cmarzullo commented on #35353
Bumping. Sure would be nice to be able to lock down the password without having to resort to other trickery.

[2017-03-10 16:23] shallot commented on #19898
How is this feature actually used? I don't see it mentioned in

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.debian_ip.html
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.network.html#configuration-of-network-interfaces

By default, network.managed seems to ignore existing loading of interfaces.d/* on Ubuntu systems, it just seems to blithely rewrite the main

[2017-03-10 16:27] niq000 commented on #39755
@gtmanfred unfortunately I don't have a proxmox setup right now that I could test it on. I remember in my specific use-case I was having issues with the aws and digital ocean providers

[2017-03-10 17:18] rickh563 commented on #39956
ZD-1249

[2017-03-10 17:45] jacksontj commented on #25700
@davidone First off-- sorry for the horrific delay ;) Somehow the notification got missed, and as I'm cleaning out my email today I found it :)

The "failover groups" would be to allow a minion to be attached to multiple "groups" of masters. The thought being that you may have a "global" cluster of masters-- as well as maybe a "team specific" master for some subset of minions. If you want specific

[2017-03-10 17:49] Ch3LL commented on #39939
I am able to replicate this its working in 2016.3.4 but broken in 2016.11.3. Here is a docker container to help replicate this issue:

1. `docker run -it -v /home/ch3ll/git/salt/:/testing/ ch3ll/issues:39939 /bin/bash -c "salt-call --local state.sls test; ls -la /etc/apache2/sites-available/"` (where /home/ch3ll/git/salt is a local cloned git repo of salt)

git bisect shows a7d2135dc2ddb989687b66c

[2017-03-10 18:04] Ch3LL commented on #39942
I think what we need to do here is add the version when this was added. ping @terminalmage what do you think?

Let me find out about the other issue with it showing 2016.11.2 on develop at the bottom.

[2017-03-10 18:06] Ch3LL commented on #39942
ping @rallytime any ideas on why the develop docs are still showing 2016.11.2 at the bottom?

[2017-03-10 18:42] NickDubelman opened #39959 "rawfile_json returner doesn't work in any context"
I am trying to configure my master_job_cache to use a rawfile_json as its returner and am observing that not only does this not work (causes exceptions to be thrown on every command),  but even when I disable the master_job_cache and just try to use --return rawfile_json, no file is created. I have checked the default rawfile_json.filename location and changed this manually and neither files exist

[2017-03-10 18:44] rallytime commented on #39942
@Ch3LL Hmmm....I think that is because that file has been renamed from `dockerng` to `docker` on the develop branch, so when the docs rebuild, that file shouldn't be there anymore for the develop branch to point to. I think we'll need to look at the build server for this to get any references to `dockerng` pages on the develop branch to redirect to `docker`.

Do you have any thoughts on that @whit

[2017-03-10 18:47] smarsching opened #39960 "Refactor file execution modules"
The `file` execution module has different implementations for Windows and non-Windows systems. In the following, the term POSIX will be used for all non-Windows systems, even though some of them might not strictly adhere to the POSIX specification.

### Status quo ###

At the moment, the `file` module provides the functions for POSIX systems and the `win_file` module for Windows systems. On Window

[2017-03-10 18:48] smarsching commented on #39883
FYI, I created #39960 for the refactoring of the code.

[2017-03-10 19:05] blbradley commented on #34116
This is a _huge_ issue. x509 states and module are brittle at best. I've encountered multiple errors including some that have not been reported. That said, I __love__ the premise of the functionality.

@Ch3LL Until this is closed, can the company please be more strict about changes to this module without tests?

[2017-03-10 19:08] pepoluan commented on #39314
Oops, forgot to report back:

Yes, the errors disappear when I remove `python-boto3`.

[2017-03-10 20:12] gtmanfred commented on #39903
You shouldn't have the exact same error if the patch was applied.

The if statement was changed to an elif statement.

https://github.com/saltstack/salt/pull/39762/files#diff-7c48191b14cdf053cf954d03cc317963R3776

Did you run a saltutil.sync_modules to sync the modules down?  What command are you running to test this? If you were using state.sls or state.apply with specifying a certain state to ru

[2017-03-10 20:16] andsouth44 opened #39961 "Napalm discards configuration"
###Description
If a user is connected to a Junos router using CLI, enters edit mode, makes a change but does not commit (stays in edit mode)  -  then another user using the Napalm net.load_config function tries to make another different config change, the "LockError" message is received ok but Napalm still discards the uncommitted CLI change.

### Versions Report
xxxxxx@xxxxx:~$ sudo salt --versio

[2017-03-10 20:46] Ch3LL commented on #39940
I know that we do not support windows 2003 , but maybe we can get @twangboy 's input here. Do you see an obvious solution to this or is there something in windows 2003 that is preventing these imports that you are aware of?

[2017-03-10 20:46] scottf-unity commented on #39903
So, I failed to patch this on the minion (only did it on master).  I guess I'm still learning about Salt.  I applied the patch to the minion and it fixed it.  The command I was running was a state.apply.

I guess I need to familiarize myself with managing minion modules as I hadn't seen the use case yet.

Apologies for the confusion and thank you very much for the help!

[2017-03-10 20:55] lorengordon commented on #39960
Kind of related, https://github.com/saltstack/salt/issues/23226

[2017-03-10 21:01] Ch3LL commented on #39944
@porunov how are you setting these aliases initially?

[2017-03-10 21:04] Ch3LL commented on #39945
Can you try the following:

[code]

[2017-03-10 21:05] haelyn opened #39965 "salt-cloud not passing master info to minion on bootstrap"
### Description of Issue/Question

salt-cloud doesn't write the salt master information on /etc/salt/minion on bootstrap

### Setup

sanitized/minimized `/etc/salt/cloud.profiles.d/vmware.conf`

[code]

map.sls
[code]

/etc/salt/cloud
[code]

### Steps to Reproduce Issue
- Run `$ salt-cloud -m test.sls -l debug`
- wait for the bootstrap process to finish deleting the temporary files (`/tmp/.saltcl

[2017-03-10 21:08] Ch3LL commented on #39947
are you installing the git version of boostrap? Maybe you have some pyc files.

for debugging purposes that call is made here: https://github.com/saltstack/salt/blob/develop/salt/utils/parsers.py#L245

[2017-03-10 21:09] Ch3LL commented on #39949
What version of salt are you on? I know there was some issues with earlier salt versions where if you are passing pillar data it didn't merge together the pillar from your top file and what was called on the command line. Also if you remove the pillar from that command does it work?

[2017-03-10 21:14] Ch3LL commented on #39950
I'm also not seeing the cache call within the module. Will approve as a feature request

[2017-03-10 21:21] Ch3LL commented on #39951
Can you elaborate on what error you are receiving? I would expect that state to fail because its not formed as a list but you are stating you get an error when the file does not exist?

[2017-03-10 21:49] porunov commented on #39944
@Ch3LL , I am not setting these aliases. They are set by repository. I.e. when I install `openstack-swift` it installs `python-swift` instead. Here is the repository which I use:

[code]

The same situation with `pip`. If I use `python-pip` it fails if I use `python2-pip` it works. But in fact `python-pip` is just an aliase for `python2-pip`. The both installs `python2-pip`.

[2017-03-10 21:52] Ch3LL commented on #39953
Looks like the grain is indeed Suse:

[code]

But for that module I am not even hitting those checks. When running with pdb i'm seeing this error:
`'Failed to create bus connection: No such file or directory',`

Are you possibly seeing the same thing?

you can set this debug log in the file to see the return:

[code]

[2017-03-10 21:59] porunov commented on #39947
Here are files which I have changed manually:
[code]

Can this cause problems with an update?

[2017-03-10 22:57] Ch3LL commented on #39943
@sumeetisp what version are you running against? I am not able to replicate this it works for me. Also what provider?

[2017-03-10 22:58] rallytime opened #39971 "Provide a larger example/use case for using thorium"
### Description of Issue/Question
During the meet the maintainers discussion this afternoon, it came up that while we have improved the overall [documentation for Thorium](https://docs.saltstack.com/en/latest/topics/thorium/index.html), we don't have a larger example for a complete use case. We need to get a larger example added to the docs.

[2017-03-10 22:59] rallytime commented on #39971
FYI @joesusecom

[2017-03-10 23:03] Ch3LL commented on #39955
Does this only occur with windows?

[2017-03-10 23:13] Ch3LL commented on #39959
How do yo have everything configured. I tested this really quick by adding `rawfile_json.filename: /var/log/salt/events` to the minion and running `salt '*' test.version --return rawfile_json` and it showed up in the file. Can you share all your settings?

[2017-03-10 23:19] Ch3LL commented on #39960
@twangboy seems this is a feature request but I would like to get your opinion on this. Is this something we would like to do? This would change the way we approach the setup of this module.

[2017-03-10 23:27] Ch3LL commented on #39961
@mirceaulinic seems you have done a lot of work here mind giving this a check. I don't have access to a a junos router to test this.

[2017-03-10 23:28] whiteinge commented on #34234
Echoing the detail above this appears to be a race condition in the CherryPy server that was fixed for the 3.2.5 release (at quick glance, according to the Git history). Unfortunately there was an SSL-related problem for several CherryPy releases between 3.2.5 and 3.7.x and possibly more. The current version 10.1.x appears to be fully working so I'd feel comfortable closing this out once we have a

[2017-03-10 23:47] #7997 closed

[2017-03-10 23:49] whiteinge commented on #39942
Sphinx can't track renames so the old auto-generated `.rst` file needs to be nuked so that it can be re-generated for the new module on the next docs build, then that new version should be committed.

[2017-03-10 23:57] rdeusser opened #39972 "salt-cloud SATA controller supported?"
### Description of Issue/Question
I'm trying to use salt-cloud to create a VM on vSphere. I can't find anything in the repo or in the docs about creating a SATA controller. An IDE controller isn't an option. In my cloud profile I have:

[code]

but it doesn't create a SATA controller (it also doesn't create an IDE controller because vSphere for some reason doesn't have it as an option). Any ideas?

[2017-03-10 23:58] Ch3LL commented on #39947
I'm not aware of a situation that would cause this with those files. Didn't hear an answer from the previous question do you have any pyc files laying around? particular for the salt.version file?

[2017-03-10 23:59] rallytime commented on #39942
Oh, derp. That's easy. I forgot to even check if we'd done that correctly. I can grab that really fast.

[2017-03-10 23:59] Ch3LL commented on #39879
So its working? Or are you using that command a different way? Can you post what you are trying to run

[2017-03-11 00:02] Ch3LL commented on #39163
Awesome we love it when people contribute. Please let me know if i can help in anyway! I'll keep this open as a documentation issue :)

[2017-03-11 00:06] gtmanfred commented on #39903
No problem! glad it worked!

On Fri, Mar 10, 2017 at 2:46 PM, Scott Farrell <notifications@github.com>
wrote:

[2017-03-11 00:24] twangboy commented on #39960
@Ch3LL In the issue he mentions in the above feature request I suggested putting shared functions in a salt util. That might be a good way to clean this up.

[2017-03-11 00:32] twangboy commented on #39940
@lubyou This guy fixed something similar by downgrading psutil to version 2.2.0... I guess you could try that...
https://github.com/giampaolo/psutil/issues/348#issuecomment-254304885

[2017-03-11 00:33] twangboy commented on #39883
@smarsching I saw that. Thanks for the detailed write up.

[2017-03-11 04:04] sumeetisp commented on #39943
AWS and VMware

On Mar 11, 2017 04:27, "Megan Wilhite" <notifications@github.com> wrote:

[2017-03-11 04:05] sumeetisp commented on #39949
I am using 2016.11.2

On Mar 11, 2017 02:39, "Megan Wilhite" <notifications@github.com> wrote:

[2017-03-11 04:15] cachedout opened #39974 "Add CONTRIBUTRING.md"
As described. :]

[2017-03-11 07:31] DanielZuck commented on #39953
I was thinking about this check in _timedatectl() too, but this is not the issue. The one you quoted works correct. On SLES11 it is never called - as timedatectl is not existing there.

The mentioned module is fixed on SLES11, if I update
[code]
to
[code]
above line 154. After this update, the correct method for the OS is evaluated, and _get_zone_sysconfig() (which is the way to go on SLES11) is c

[2017-03-11 08:41] DanielZuck commented on #39953
Personal comment:

The thing was introduced by commit https://github.com/saltstack/salt/commit/bcd6a1cd7756a1fb235345e3c984fb893842aec8 on May 27 2016 and reverted with one of the commits happend on Jun 29 2016.

Note that I perceive changes to core.py's mapping tables (I allow myself to describe the returned values as "string constants") as something critical. In a nutshell: Please don't do that.

[2017-03-11 08:54] porunov commented on #39947
I did have version.pyc file but I deleted it. After salt-master had been restarted a new version.pyc file has been generated.

[2017-03-11 15:26] kruule69 commented on #39955
Our company has almost no Linux so we only have tested the deployment for windows and haven't setup/tested the bootstrap for Linux.  So, unfortunately I haven't tested if this is only windows or also is a problem in Linux but I believe this will be specific to the salt-cloud vmware provider.

[2017-03-11 16:46] peterhirn opened #39976 "win_lgpo missing policies, eg. `Prevent the usage of OneDrive for file storage`"
Missing in the output of `salt "*" lgpo.get return_not_configured=True`.

OneDrive only contains one setting: `Windows Components\OneDrive\Save documents to OneDrive by default`. There are 3 other settings missing.

- Salt-Minion-2016.11.3-AMD64
- Windows 10 Enterprise

Trying to set a missing policy results in:

	----------
		  ID: group-policy
	    Function: lgpo.set
	      Result: False
	     C

[2017-03-11 17:38] chrismcmacken commented on #802
Do salt states have a documented grammar that is used to parse them?

[2017-03-11 18:00] pcn commented on #802
@chrismcmacken have you read through https://docs.saltstack.com/en/latest/ref/renderers/ ?

[2017-03-11 18:12] chrismcmacken commented on #802
@pcn I hadn't, salt supports a lot more renderers than I thought. Still though, if it gets parsed it must be against some set of rules. I'm sure it's a tough problem to solve, otherwise it would have been solved already, just thought I'd ask and bump the thread.

[2017-03-11 19:17] pcn commented on #802
It doesn't seem to support a grammar so much as a list of existing and extensible grammars that map directly to a list of python dictionaries.

[2017-03-11 19:28] kiemlicz opened #39978 "ext_pillar infinite recursion"
### Description of Issue/Question
Writing custom module for _ext_pillar_ that uses `__salt__['pillar.ext']` or in general (`pillar_obj.compile_pillar()`) causes pillar rendering to hang.
## my use case
Based on user-defined pillar data, fetch additional pillars from user configured repository (dynamically added url, user, pass)

### Setup
Steps taken by me:
Add to /etc/salt/master:
[code]
_/srv/ex

[2017-03-11 19:33] kiemlicz commented on #39503
Thank you for your reply.
Yes I use map jinja filtering the pillar. I wanted to add more overrides/appends in different saltenvs
I've solved the issue using jinja template inheritance (the fact that _gui_ env contains _base_ as well)
For now seems like the most elegant way

[2017-03-11 19:33] #39503 closed

[2017-03-11 20:51] TheTesla commented on #39836
Yes, this may work that way. But what happens, if source_hash_name option is not provided? It compares only the highest level of the url with the highest level of the label in the hash file. But this will give two results like in my example and it chooses one of these. This is undefined behavior for me. I think it would be better to compare the path level by level backward.

**example**
{{{
 - sou

[2017-03-12 23:27] cdunklau commented on #15171
I've hit this on 2016.11.3 with a very simple state. This is `nginx/init.sls`:

[code]

Traceback resulting from `salt davinci-staging state.apply test=True`, `salt davinci-staging state.apply nginx test=True`, and `salt davinci-staging state.apply nginx`. It doesn't seem that test=True, the tracebacks are identical:

[code]

Versions:

[code]

[2017-03-12 23:50] cdunklau commented on #15171
I was able to work around my issue by using `prereq_in`. This state works fine:

[code]

[2017-03-13 05:57] #9628 closed

[2017-03-13 09:18] smarsching commented on #5721
@vutny Sure, if you provide an updated version of `minion.restart`, I can certainly give it a try on Windows.

[2017-03-13 10:34] mirceaulinic commented on #39961
Sure thing @Ch3LL can you please assign this to me and add the following labels: _Bug_, _Low severity_, _Execution module_.

However, please note that the fix won't be available very soon as there are some changes required in the underlying library beforehand.

[2017-03-13 10:41] adtyashgl commented on #39950
Thanks. Any tentative timelines when this will be available in salt official release?

[2017-03-13 11:19] ramachandranviji commented on #39863
We are having a similar issue with our landscape where we installed salt 11.1 and then upgraded to salt 2016.11.2. But as we run some jobs across a list of servers more than 300, it throws the below error message.
'Salt request timed out. The master is not responding. If this error persists after verifying the master is up, worker_threads may need to be increased.'

This makes the work really diff

[2017-03-13 11:30] alankrita commented on #39879
No I tried exactly your test code, still you can see I am getting 'testtest' instead of 'test_test'

[2017-03-13 11:45] davidone commented on #25700
@jacksontj cool, thanks.

[2017-03-13 11:54] PabloLemos opened #39981 "Since the last update os salt eauth authentication doesn't work"
### Description of Issue/Question
Since the last update of salt, the eauth authentication module doesn't work. I use sssd service to authenticate user via ssh to the machines and delegate the users db to Active Directory. The salt-master use pam-sssd to authenticate and authorize users to execute commands and modules.

Only local users can launch salt commands, the others one we have to use sudo.

[2017-03-13 12:06] jbfriedrich commented on #37845
Using "vmware.py" from the development branch does not help me unfortunately. I think the error message is misleading. I think the connection to the vCenter is severed for a currently unknown reason, and as there is no "real" error, the Exception is "None" and therefore the error message.

With 2016.11.1 this exception is caught and we get some better error message:

But its still the same issue.

[2017-03-13 12:13] haelyn commented on #39965
Addendum: if I add grains info to the minion: stanza on map.sls it gets correctly rendered.
Thus
[code]
renders /etc/salt/grains on the minion with the correct values. The master configuration doesn't get passed

[2017-03-13 13:37] secumod commented on #39945
Yes, it seems to work correctly with quotes.

[2017-03-13 14:22] cachedout commented on #38557
I am fairly certain that this issue has been resolved. Therefore, I'm closing this.

[2017-03-13 14:22] #38557 closed

[2017-03-13 14:22] cachedout commented on #38121
Fix has been merged.

[2017-03-13 14:22] #38121 closed

[2017-03-13 14:45] cachedout commented on #22852
Closed via #39399

[2017-03-13 14:45] #22852 closed

[2017-03-13 14:51] terminalmage commented on #34210
Closing since this was added in #39629.

[2017-03-13 14:51] #34210 closed

[2017-03-13 14:58] jbfriedrich opened #39982 "VMware: "requesting" event does not contain kwargs data anymore"
### Description of Issue/Question

With SaltStack 2016.3.x the "requesting" event when using the VMware driver contained a lot of kwargs information. I was able to use

[code]

in states that were directly executed via reactor so that we could update our DNS and inform a Slack channel about it. This seems not to be possible anymore with saltstack 2016.11.1.

### Setup

Install Saltstack 2016.11.1

[2017-03-13 15:02] Ch3LL commented on #38753
@alexbleotu does the PR resolve this issue for you?

[2017-03-13 15:04] terminalmage commented on #39530
This is done aside from some documentation and a blurb in the release notes. I'll have a PR opened for this later today. However, it should not immediately be merged as it includes integration tests for docker which need busybox (to create an image in the setUpClass), and busybox is not in EPEL. I prepared a SRPM on Sunday and sent it to @dmurphy18 to be built, signed and added to our el7 repo. Wh

[2017-03-13 15:05] terminalmage commented on #39349
Will work on this during this week.

[2017-03-13 15:12] techhat commented on #39982
Hi @jbfriedrich. This was on purpose; `requesting` was never meant to display that much information, and it never did in any of the other drivers. This change happened in #38811. The biggest problems that we were dealing with were security issues; nobody bothered to sanitize those data. But we also would rather keep the event bus as clean as possible; it's already handling plenty of data.

I can u

[2017-03-13 15:15] lubyou commented on #39940
Hi @twangboy, I downgraded psutil to 3.4.2 (last version that supports 2003) and the minion now starts.

Thanks for the help!

[2017-03-13 15:15] #39940 closed

[2017-03-13 15:15] bewing opened #39983 "Missing napalm grains in develop"
### Some default grains are missing in napalm in develop branch

Most notably, in "develop", "os" is reported as None when testing both vEOS and vSRX.

### Setup
Provisioned new salt master with Vagrant salt provisioner, install "git", source "develop"

### Steps to Reproduce Issue
Configure napalm proxy for vEOS device and retrieve grains.

### Output from "stable":
[code]

### Output from "devel

[2017-03-13 15:24] bewing commented on #39983
This causes issues in other execution modules, eg netacl, which relies on the grain:
[code]

[2017-03-13 15:24] sdodsley opened #39986 "JSON array structure incorrectly rendered"
### Description of Issue/Question
The JSON standard for an array is that it starts with a [ (left bracket) and ends with a ] (right bracket), with values between these being separated by a comma (http://www.json.org/index.html).

When using the salt runner module the array structure is being incorrectly formatted with whole array being wrapped in quotation marks("), including the left and right br

[2017-03-13 15:27] rallytime commented on #39974
@cachedout In order to not duplicate efforts, we have a [CONTRIBUTING.rst](https://github.com/saltstack/salt/blob/develop/.github/CONTRIBUTING.rst) file already. I suspect this should probably just be a `.md` file since it's in the`.github` directory? It probably doesn't make sense to have both files there to maintain and potentially cause confusion. :)

[2017-03-13 15:28] mirceaulinic commented on #39983
Thanks for reporting this @bewing - I will have a look later this week.

Can one of the maintainers assign this to me, please?

[2017-03-13 15:31] jbfriedrich commented on #39982
Hey @techhat. Thanks for the quick response. I would have appreciated a more prominent warning or deprecation announcement with some time for people to adapt to the changes. I now have to rewrite everything in a short period of time to be able to meet certain deadlines.

I haven't worked with `--select-query`, but it sounds like it would be a good idea to implement that. Is there an example you co

[2017-03-13 15:33] aabognah commented on #34460
Any updates on the cause of this? or how to work around it?

Still seeing these messages after updating to 2016.11.3

Salt Version:
           Salt: 2016.11.3

Dependency Versions:
           cffi: 1.6.0
       cherrypy: 3.2.2
       dateutil: 1.5
          gitdb: 0.6.4
      gitpython: 1.0.1
          ioflo: Not Installed
         Jinja2: 2.7.2
        libgit2: Not Installed
        libnacl: Not

[2017-03-13 15:37] techhat commented on #39982
Hi @jbfriedrich. Because it was not working as intended and was causing problems, it was considered a bug. That's why it wasn't deprecated; it was just fixed.

The idea with select query is that you may want more (or different) data than are provided via `--query` but not as much as you would get from `--full-query`. You configure the fields that you would like in `/etc/salt/cloud` as follows:
[co

[2017-03-13 15:42] techhat commented on #39982
FYI, reference for the `querying` variables: https://docs.saltstack.com/en/latest/topics/cloud/reactor.html#salt-cloud-minion-id-requesting

[2017-03-13 15:48] gtmanfred commented on #39983
Unfortunately we cannot assign issues to people not in the Members organization.

Thanks for taking a look at this @mirceaulinic

[2017-03-13 15:56] jbfriedrich commented on #39982
@techhat Thanks for the clarification. Using `--select-query` sounds like a good idea. Thanks again.

[2017-03-13 16:01] bewing commented on #39983
Looks like "os" and "host" are both None.  Both use _get_device_grain.

Strangely, username uses the same function, and it is returning correctly.

[2017-03-13 16:06] gtmanfred commented on #39978
First off.  I don't think this is going to work because, for the git pillar, we have the maintenance thread that needs to check out the repository.  So even if this wasn't hitting a recursion, I don't think it would work.

You would need to write your own git ext pillar, that pulls down the repository and does the same job if you wanted to pass the variables through.

Thanks,
Daniel.

[2017-03-13 16:13] gtmanfred commented on #39972
While the IDE takes a dictionary, it does not actually use any of the arguments in there.

If you do

[code]

Can you specify `SATA 0` as the controller of the disk?

[2017-03-13 16:14] gtmanfred commented on #39972
I actually don't see anyway to specify a SATA controller in the code.

I am going to mark this as a feature request.

Thanks,
Daniel

[2017-03-13 16:19] gtmanfred commented on #39981
I am going to be setting this up with sssd to test this, but I just want to make sure that you have `python-sss` installed?

Thanks,
Daniel

[2017-03-13 16:28] gtmanfred commented on #39986
Can you please provide the debug log of the command so that hopefully we can see where this errored at?

Thanks,
Daniel

[2017-03-13 16:30] gtmanfred commented on #39965
Can you remove the extends line?

The information in the map file is already extending the test-clone, because you have specified to use that profile.  I am wondering if extends there is confusing it, and reloading the test-clone settings.

Thanks,
Daniel

[2017-03-13 16:31] gtmanfred commented on #39976
Can you provide me with some information on how to set this up and test it?

Thanks,
Daniel

[2017-03-13 16:39] haelyn commented on #39965
@gtmanfred Thanks for the answer. Here's what I've been trying today so far:
- Removing the extends: line
- running salt-cloud with --keep-tmp and pasting and running the command line from inside the minion

Hacking the bootstrap script to force debug output shows this:

 `* DEBUG: Since BS_KEEP_TEMP_FILES=1 we're copying files instead of moving them
 * DEBUG: The passed destination (/etc/salt) is

[2017-03-13 16:41] Spacefish commented on #36802
Hitting this problem as well!

[2017-03-13 16:47] gtmanfred commented on #39965
if you wanted to keep debug files, just add

`script_args: -DK`

And it should dump the debug logs to the /tmp/.salt-cloud* directory.

The salt-cloud command generates the file and then puts it into /tmp/.salt-cloud* on the minion and then the bootstrap moves it into place.  Using the contents of the `minion: ` dictionary to update the DEFAULT_MINION_OPTS from salt.config.

Here is where it gets

[2017-03-13 16:54] haelyn commented on #39965
The minion config gets into the tmp dir every time, it just doesn't get copied over to /etc/salt. From the debug lines pasted upthread and my own experimentation, the script refuses to overwrite the key files and /etc/salt/minion. If I nuke the existing config/key files and re-run the command line, the missing file gets copied over correctly.

[2017-03-13 16:59] mirceaulinic commented on #39748
I've added the extra wrap in https://github.com/saltstack/salt/pull/39896/commits/c78d56b0ca6d96811764bf177c4346a6ba10a0fc, and the proxies seem to work fine with this.

[2017-03-13 17:06] gtmanfred commented on #39965
Sorry, it looks like the place where it deletes the minion_conf file, is just if keep_tmp is set to False.

It looks like you need to pass `-F` to the bootstrap script which will tell it to overwrite the config files.

[2017-03-13 17:12] haelyn commented on #39965
I can certainly do that, will get back with the result
The question arises, though: Why is not overwriting files on bootstrap the default option? The principle of least surprise suggests that if you do have custom configurations to push to the minion they should be given precedence. The documentation also mentions nothing about this(or perhaps I've been too dense to find it)

[2017-03-13 17:15] gtmanfred commented on #39965
I think the bootstrap script was originally written to not overwrite any of the files, but in an effort to give people the ability to do it the way they want, we added the ability to override the files.  And to maintain the most backwards compatibility, and since the bootstrap script doesn't really have a great way to display deprecation messages like the core salt code, the default won't be chang

[2017-03-13 17:19] PabloLemos commented on #39981
I did not have the python-sss package installed because I thought it was for the manipulation of users and groups of sssd and salt used pam modules for user authentication.

I just installed the package and tested the eauth authentication module and it has all worked again.

`
~> yum info python-sss
Complementos cargados:product-id, refresh-packagekit, rhnplugin, security, subscription-manager
*No

[2017-03-13 17:21] gtmanfred commented on #39981
No problem!

I recently put a note in the pam eauth that python-sss was required for this, just fyi for anyone that comes across this in the future.

https://docs.saltstack.com/en/latest/ref/auth/all/salt.auth.pam.html

Explained the need for it here.

[code]

[2017-03-13 17:21] #39981 closed

[2017-03-13 17:30] haelyn commented on #39965
I see your point re: less destructive default.
My own expectations are, as you correctly surmise, that the configuration values pushed by the CM infrastructure should override anything else to help keep the host formally defined and under complete control. I see now a different approach is needed. Thanks :)

May I suggest, nevertheless, a tweak to the relevant docs? This issue, after all, arises f

[2017-03-13 17:31] gtmanfred commented on #39965
Where would you propose this addition? And would you mind submitting a pull
request to expand the documentation?

Thanks!
On Mon, Mar 13, 2017 at 12:30 PM haelyn <notifications@github.com> wrote:

[2017-03-13 17:45] haelyn commented on #39965
Well, my first thought would be to modify the Quick Start
[code]
and the Map File page
[code]
given that following the instructions in those pages result in a non-funcional bootstrap procedure as I found out. I'll give it a spin and see what I can write up

[2017-03-13 17:52] mega-watt opened #39989 "Virtual Grain fails if virt-what not installed, dmidecode and systemd-detect-virt completely ignored"
### Description of Issue/Question
[salt.utils                                           ][TRACE   ][56107] 'virt-what' could not be found in the following search path: '['/sbin', '/usr/sbin', '/usr/local/sbin', '/root/bin', '/usr/local/bin', '/usr/bin', '/bin', '/usr/games']'
[salt.loaded.int.grains.core                          ][DEBUG   ][56107] Please install 'virt-what' to improve results of t

[2017-03-13 17:53] mirceaulinic commented on #39983
This should fix it: https://github.com/saltstack/salt/pull/39990

[2017-03-13 18:06] gtmanfred commented on #39965
I would rather just make a not on the cloud quick start about the salt-bootstrap script, mentioning script_args. https://docs.saltstack.com/en/latest/topics/cloud/misc.html#deploy-script-arguments

And then pointing to the bootstrap args from there https://docs.saltstack.com/en/latest/topics/tutorials/salt_bootstrap.html

[2017-03-13 18:27] bewing commented on #39983
Appears so:
[code]

[2017-03-13 18:34] joshgies-xad commented on #31202
service command has the same issue of starting two daemons, one with STAT of S, the other of Sl.
A restart will kill off the Sl process, leaving the S proc, and starts up another Sl and S process.

This is running on amazon ami in AWS VPC

Any fix for this?

[2017-03-13 18:55] andsouth44 commented on #39961
No urgency on my part Mircea.
Thanks.

[2017-03-13 19:02] c-wicklein commented on #30208
I encountered this symptom with a minion running Ubuntu 14.04.  I don't know what the state of the machine was before running salt, but I wasn't able to change the password for some non-root user with the same error message.  I noticed that the user's last password change field in /etc/shadow was set to -1.  Editing /etc/shadow and setting this to a positive integer fixed the problem.  It's possib

[2017-03-13 19:20] peterhirn commented on #39976
I'm trying to apply the following state to a Windows 10 Enterprise machine:

	group-policy-update:
	  cmd.wait:
	      - name: 'gpupdate /force'

	group-policy:
	  lgpo.set:
	    - computer_policy:
		'Windows Components\Windows Update\No auto-restart with logged on users for scheduled automatic updates installations': Disabled
		'Windows Components\Cloud Content\Do not show Windows tips': Enabled

[2017-03-13 19:21] gtmanfred commented on #39976
Can you also provide the versions report that the blueprint for issue requests so that we can make sure to replicate this against the same version?

Thanks,
Daniel

[2017-03-13 19:27] mega-watt commented on #39989
quick and dirty that works for me:

# diff salt/grains/core.py{,.orig}
491,494d490
<         if salt.utils.which('systemd-detect-virt'):
<             _cmds = ['systemd-detect-virt']
<         if salt.utils.which('dmidecode'):
<             _cmds = ['dmidecode']

[2017-03-13 19:29] gtmanfred commented on #39989
This looks like acceptable behavior.

The goal is to use virt-what for everything instead of dmidecode or systemd-detect-virt, if virt-what is available.  If it is not available, there is a debug message to let you know that virt-what is the preferred tool, but this only shows up in debug logs.

If virt-what is not found, then dmidecode and systemd-detect-virt are still used.

[2017-03-13 19:43] gtmanfred commented on #39983
Thanks all.  I will close this one the PR gets merged.

Thanks,
Daniel

[2017-03-13 20:13] btbroot opened #39993 "Vultr cloud provider is disfunctional"
### Instance cannot be properly created and bootstrapped

Since https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/vultrpy.py doesn't support even SSH keys specification, it's basically impossible to provision a new instance. `salt-cloud` after a number of SSH login failures reaches

[code]

Here are the current parameters for `/v1/server/create`

[code]

### Versions Report
$ sudo s

[2017-03-13 20:14] cachedout commented on #39974
@rallytime Yeah, I'm not sure why that is in there. Offhand, I don't see anywhere that it's popping up in the GitHub workflow. Maybe it does just need to be renamed?

[2017-03-13 20:26] rallytime commented on #39974
@cachedout I think so. I think those all need to be markdown files for those to pop up on the related github links.

[2017-03-13 20:28] rallytime commented on #39974
Looks like it was renamed from markdown to restructured text in #36959

[2017-03-13 20:29] cachedout commented on #39974
Bah. Maybe test it on a private repo to see if making it `.md` does the trick?

[2017-03-13 20:43] Ch3LL commented on #38753
Closing this please let me know if you need to re-open

[2017-03-13 20:43] #38753 closed

[2017-03-13 21:04] frogunder opened #39995 "Head of Develop - Multimaster error"
In a Multimaster setup with two masters/minions, if both masters are stopped/killed the minions does not switch between trying to connect to the two masters, it only tries the first one in the minion config file. It just goes forever until you kill the process. I believe they should switch between trying to connect between the two master.

Also if the first master is stopped and the second  is run

[2017-03-13 21:05] frogunder commented on #39995
I believe this is also an issue on the head of 2016.11, but I will have to double check to confirm

[2017-03-13 21:07] NickDubelman commented on #39959
Okay I have been able to get the returner to work as you showed, however I am now trying to use this as a master_job_cache and have not been able to get it to work. Should this returner be usable as a master_job_cache?

These are the errors I see:
[code]

[2017-03-13 21:13] terminalmage commented on #39530
Opened #39996 to fulfill this issue.

[2017-03-13 21:21] cachedout commented on #37070
ETA, EOD March 14th.

[2017-03-13 21:32] kiemlicz commented on #39978
Thank you for information
Will apply your suggestion

[2017-03-13 21:36] rallytime commented on #39974
@cachedout yes, i can for sure test that. Is there somewhere you were looking for a `CONTRIBUTING.md` file to show up on our repo and it wasn't there? The PR `Please review the guidelines for contributing to this repository.` link that shows up when submitting a change goes to the `CONTRIBUTING.rst` file. I am just wondering where else I should look.

[2017-03-13 21:39] techhat commented on #39982
@jbfriedrich please see #39997.

[2017-03-13 21:42] cachedout commented on #39974
I don't know where it would normally appear. IIRC, I filed the original issue after reading a best practices guide and then noticing we didn't have one. Obviously, if we have one but it's only available by checking the `.github` directory that's no good either. So, I think we need to either figure out how to get GH to display it somewhere on the site (if that's indeed supported) or we just need to

[2017-03-13 21:49] rallytime commented on #39974
I'm fine with renaming it (and changing it for markdown) - I checked the GH docs and `.github/CONTRIBUTING.md` is what they say to create: https://help.github.com/articles/setting-guidelines-for-repository-contributors/

I just wanted to make sure there wasn't somewhere you noticed it _should_ be showing up, and isn't.

[2017-03-13 23:00] FraaJad opened #39998 ""salt" state.sls 17x slower than "salt-call""
### Description of Issue/Question
When running salt command from the master it takes 5m10s to complete the no-op run.  If I run salt-call from the minion, it takes 18s.

### Setup
The total size of the vhosts which are deployed entirely from pillar is 378KB.
I'm using PillarStack and Consul ext_pillar providers
[mf_llpweb.zip](https://github.com/saltstack/salt/files/839821/mf_llpweb.zip)

### Step

[2017-03-13 23:02] ninja- commented on #39998
What's the latency between your master and minion

[2017-03-13 23:02] ninja- commented on #39998
The ping to be exact

[2017-03-13 23:03] ninja- commented on #39998
Also is the 5 minutes an install on clean machine or an "incremental" run?

[2017-03-13 23:18] dougofthemoment commented on #39998
My ping from master to minion is 0.340 ms.  This is an incremental run that results in a no-op (103 states succeed with no changes).

[2017-03-13 23:19] rallytime commented on #39974
Ok, done. Please see #39999.

[2017-03-13 23:19] ninja- commented on #39998
That's weird. Could you attach master and minion logs in debug mode?

[2017-03-13 23:26] rallytime commented on #39942
Hi @Foxlik - After looking into this issue, the docs that you're seeing on docs.saltstack.com build from the HEAD of the release release branch (in this case, the 2016.11 branch), and not the tag from the actual release. The commit you referenced above was added to the 2016.11 branch _after_ the 2016.11.3 release.

I agree with @Ch3LL that we should just get a `Version Added` tag for this change i

[2017-03-13 23:29] dougofthemoment commented on #39998
There is tons of client names and sensitive stuff in there, is there a private place I could drop them?

[2017-03-13 23:35] ninja- commented on #39998
If that's OK you can put them in some cloud and drop me a link at xninja@openmailbox.org

Disclaimer: I am just a contributor, but I am experienced with solving salt problems similar to yours.

[2017-03-13 23:42] blbradley commented on #19869
I encountered this in 2016.11.3 when running an OpenSSL command with `cmd.run`. OpenSSL expects HOME (or RANDFILE) to be set for writing a default seeding file.

[2017-03-13 23:45] sdodsley commented on #39986
Here's the debug output you requested...
[code]

[2017-03-14 00:01] #39974 closed

[2017-03-14 03:06] te-af-github opened #40004 "svn changes report"
### Description of Issue/Question

svn.export returns invalid change data. This happens on first and all following runs.

### Setup

mailbackup/aftools-svn/init.sls:

[code]

### Steps to Reproduce Issue

`salt * state.apply mailbackup.aftools-svn`

[code]

### Versions Report

[code]

[2017-03-14 03:46] damon-atkins commented on #39976
I believe that the original author had no choice but to hard code the lgpo.  So every time a new Windows OS comes out this will need to be updated.

[2017-03-14 04:11] damon-atkins commented on #19869
On Linux PAM sets some env and people have asked also for limits.    Currently Salt does not use PAM.
So either salt uses pam or decides to set the basic variables.
e.g. Solaris Logon sets
[code]

e.g. Linux login
[code]

At some stage salt will need support  working with pam.

[2017-03-14 04:31] sumeetisp commented on #39949
No it doesnt work when i remove the pillar because the required pillar values are being passed only on cmd line and i have declared any static pillar data file for it.

I defined a '*" target in the pillar top file but still it did not work. It only worked when i added dummy role for the target.

[2017-03-14 06:56] danielcb commented on #36802
+1

[2017-03-14 08:20] alexshemesh commented on #34940
i moved on to combination of terraform and ansible.
i wrote script that generates terraform files from yaml, so it kind of the
same as salt stack but much stable.
thanks

On Tue, Mar 14, 2017 at 10:08 AM, alem0lars-yoroi <notifications@github.com>
wrote:

[2017-03-14 08:44] alem0lars-yoroi commented on #34940
I WANT to continue using salt, however this issue is really blocking me.

[2017-03-14 09:23] alem0lars-yoroi commented on #34065
Are there any news on that ?

[2017-03-14 09:48] peterhirn commented on #39976
Master:

	Salt Version:
		   Salt: 2016.11.3

	Dependency Versions:
		   cffi: Not Installed
	       cherrypy: Not Installed
	       dateutil: 1.5
		  gitdb: 0.5.4
	      gitpython: 0.3.2 RC1
		  ioflo: Not Installed
		 Jinja2: 2.7.3
		libgit2: Not Installed
		libnacl: Not Installed
	       M2Crypto: Not Installed
		   Mako: Not Installed
	   msgpack-pure: Not Installed
	 msgpack-python: 0.4.2

[2017-03-14 09:58] Foxlik commented on #39942
@rallytime 👍
I agree that it covers both my 'complaints' ...  thanks!

Actually I do have one more suggestion, though not sure if it really is worth it as it is more of a UX thing:
When renaming modules, leave some kind of placeholder in the documentation stating the new name of the module. And vice versa. Now when you are in dockerng and switch to develop branch (button in top right), you get 404

[2017-03-14 10:06] alem0lars-yoroi commented on #33444
Any updates ?

[2017-03-14 11:08] vutny opened #40005 "`ssh_known_hosts.present` does not support SHA256 key fingerprints"
### Description of Issue/Question
The `ssh_known_hosts.present` state function does not support SH256-hashed public key fingerprints, which would be given by modern versions of OpenSSH binaries. For example:
[code]
At the moment, I can't use such strong hash in SLS, but have to deal with legacy MD5:
[code]
Also, this is little bit awkward that the option `-E md5` seems to be not documented properl

[2017-03-14 11:08] mirceaulinic commented on #39748
I confirm it works now with that change, e.g.: https://docs.saltstack.com/en/develop/ref/modules/all/salt.modules.napalm_acl.html

Many thanks @cro!

[2017-03-14 11:08] #39748 closed

[2017-03-14 11:33] mirceaulinic commented on #35443
Just in case someone would like to look into this problem at some point:

When this happened today reveals that the modules are there, under the caching dir correctly and `sync_all` doesn't do anything in this direction:

1. modules disappeared

[code]

2. The cache dir content:

[code]

3. `sync_all` says that many things have been resynced:

[code]

4. The cachedir is actually the same:

[code]

[2017-03-14 11:40] mirceaulinic commented on #35443
BTW @Ch3LL @cro I would find "Bug" & "High Severity" labels more appropriate - maybe that way it will get more visibility given that after 7 months we're pretty much in the same place.

[2017-03-14 12:00] The-Loeki opened #40007 "Salt-SSH git_pillar rendering fails w/root param set"
### Description of Issue/Question
When defining a git_pillar with a `root` stanza, Salt-SSH will bork out:
[code]

This seems similar to #39720

### Setup
[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)
[code]

[2017-03-14 13:39] damon-atkins commented on #39960
The structure has been talked about before in the renaming the modules thread. Something along the lines of <module>_share <module>_win <module>_posix <module>_macos
<module>_share is used by the other modules and contains common code.

In terms of file in general
It should use mmap to read any file, and write any file line by line. This would allow salt to support large files.   Parts of the curr

[2017-03-14 13:53] The-Loeki opened #40008 "RFE: PyGit2 backend should also support SSH Agent Authentication"
### Description of Issue/Question
In Salt-SSH rosters you can already use `agent-forwarding` to use a key from the SSH Agent.
Using GitPython as backend for the gitfs SSH Agent auth (accidentally) also works

PyGit2 has support for this as well, but the code needs some minor adjustments to make it work.

[2017-03-14 14:18] terminalmage commented on #40008
Do you have any examples of this? There's no mention of agent forwarding in the [documentation](http://www.pygit2.org/remotes.html#credentials) for the Credentials objects.

[2017-03-14 14:28] sergeyfd commented on #39779
I THINK that the problem is that config.merge returns` __opts__['schdeule']` which is a copy of `minion.opts['schdeule']` so updating that dictionary doesn't update in-memory copy of schedule jobs. Changing `option` method of Schedule class somewhat like this might help:

[code]

[2017-03-14 14:43] Ch3LL commented on #39993
are you looking for these options?

[code]

[2017-03-14 14:48] Ch3LL commented on #39998
@dougofthemoment you might be running into https://github.com/saltstack/salt/issues/38758 which as been fixed in https://github.com/saltstack/salt/pull/39505 can you give that a try?

[2017-03-14 14:48] btbroot commented on #39993
Exactly, and some others, like enabling backups. Am I overlooking something?

[2017-03-14 14:49] ninja- commented on #39998
Yeah @dougofthemoment please try running this on develop branch as some important fixes were not backported

[2017-03-14 14:49] The-Loeki commented on #40008
https://github.com/libgit2/pygit2/pull/424

[2017-03-14 14:53] ninja- commented on #39998
Well OK so that's still not in .3 :)

[2017-03-14 14:57] Ch3LL commented on #39998
Yeah correct. Just wanted to clarify in case we did need to backport something back from develop. Thanks

[2017-03-14 14:59] Ch3LL commented on #40004
This is a duplicate of https://github.com/saltstack/salt/issues/21025 . Please feel free to leave a comment there concerning this issue. Thanks

[2017-03-14 14:59] #40004 closed

[2017-03-14 15:06] sergeyfd commented on #39779
@sp1r Yes, one thing is for sure that updating output of `config.merge` is wrong.

[2017-03-14 15:19] tsaridas opened #40011 "salt-minion does not shutdown properly 2016.11.3 rh6"
### Description of Issue/Question
When you try to stop salt-minion in rh6 in 2016.11.3 you don't get a log message that the minion received a sigterm and only kills one of the two processes that are running.

### Setup
latest stable 2016.11.3

### Steps to Reproduce Issue
Install the minion and try to stop it

### Versions Report
[code]

[2017-03-14 15:40] guettli opened #40013 "Issues with docs: Method not visible"
### Description of Issue/Question
If I follow this link I can't see the method. I need to scroll up before I see the method name. In this case **salt.states.file.exists**

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.exists

I see the following screen:

![screenshot-of-browser--method-not-visible](https://cloud.githubusercontent.com/assets/414336/23908

[2017-03-14 15:44] rallytime commented on #40013
Hi @guettli - thanks for reporting this issue. This is actually a duplicate of #37399 that we still need to get fixed. :)

I'll close this as a duplicate.

[2017-03-14 15:44] #40013 closed

[2017-03-14 15:49] jbfriedrich commented on #34460
Same here, I get the errors too. I am not using the API either but I am also sending events via scripts to the event bus for the reactor.

[2017-03-14 15:59] githubcdr commented on #40011
I can confirm this on CentOS 6 and 7, it also seems that a self initiated restart does not work, causing one thread to hang as described here.

[2017-03-14 16:14] twangboy commented on #39314
Has anyone tried this with the two PR's I did above? It should have fixed the issue whether boto was installed or not.

[2017-03-14 16:19] #39983 closed

[2017-03-14 16:43] aabognah opened #40017 "__virtual__ function raising multiple exceptions"
### Description of Issue/Question

I started seeing lots of these messages on the master after updating to 2016.11.3. This master is RHEL6. I have another Salt master running 2016.11.3 on RHEL7 that does not have this issue!

[code]
The above is a grep a not a full log.

### Setup
standard master/minions setup with gitfs and git pillars.
### Versions Report
[code]

[2017-03-14 16:46] aabognah commented on #40017
here is a longer version of the log:

[code]

[2017-03-14 16:47] ninja- commented on #40017
This is actually expected behaviour(for now) due to some hard-to-refactor loader limitations...Whether or not you get these messages depends on randomness of module loading order.

[2017-03-14 16:49] rallytime commented on #39942
@Foxlik yeah, that's a totally valid UX complaint on navigating the docs 😄

Would you mind filing a new issue about that? We would definitely like to clean that up. I think that is a bit of a difference issue that this original one, but we don't want to lose your suggestion either.

[2017-03-14 16:59] tsaridas commented on #40011
ping @terminalmage
#38925 brakes this. if you swap order of
[code]

it works fine.

[2017-03-14 17:02] laurentalsina commented on #28519
Hello, trying to evaluate saltstack here, may I ask if this issue has been fixed?

[2017-03-14 17:18] #37070 closed

[2017-03-14 17:31] smarsching commented on #39960
@damon-atkins  Thanks for your comments. It really makes sense to have a common scheme for dealing with platform-specifics. So we should try to use the same style for the `file` module that is also used for other modules. Do you happen to have a link to the "renaming the modules thread" for future reference?

Regarding line endings, I think that #14135 gives some good ideas. In particular, I agree

[2017-03-14 17:33] damon-atkins commented on #37070
Thanks

[2017-03-14 18:43] lorengordon commented on #39960
Salt currently uses `mmap` in the `file.replace` function. (I implemented that change over a year ago, I believe.) Other than handling of zero-byte files, I'm not aware of any issues that have cropped in as a result that required special-casing.

[2017-03-14 18:51] dreampuf commented on #21118
@ashokrajar Thanks. Your comment solves my problem.

[2017-03-14 18:56] falenn commented on #21118
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  curtis.l.bates@gmail.com
    Domain imwiz.com has exceeded the max emails per hour (156/150 (104%)) allowed.  Message will be reattempted later

------- This is a copy of the message, in

[2017-03-14 19:06] dougofthemoment commented on #39998
I figured it out...  First I did install the develop branch and it speeded it up a bit but it still took minutes.  I dug into the logs and found that an unless statement attached to archive.extracted was failing when it shouldn't which caused it to have to recompute the hash and the enforce_ownership_on option for each dir.

What is happening is the unless statement is ran using *bash* when execut

[2017-03-14 19:45] gtmanfred opened #40022 "[Develop] Scheduler only runs jobs one time"
### Description of Issue/Question
The schedule only runs the jobs on the startup of the salt master.  I have a suspicions that this also happens on the minion, but haven't checked.  It runs once when the schedule gets started, and doesn't run after that.  For some runners, it doesn't run at all.

Reverting #39527 remedies the problem

### Setup
[code]

Start the master and look for lines like this

[2017-03-14 19:46] gtmanfred commented on #40022
@YuriGrigorov you might be interested in this.

[2017-03-14 20:04] Ch3LL commented on #40005
@vutny i am able to replicate this. The problem i believe resides [here](https://github.com/saltstack/salt/blob/v2016.11.3/salt/modules/ssh.py#L247) It is hardcoded to use md5.

Here is a docker container for anyone to quickly replicate this:

1. `docker run -it -v /home/ch3ll/git/salt/:/testing/ ch3ll/issues:40005 salt-call --local state.sls test -ldebug` (where /home/ch3ll/git/salt is a local cl

[2017-03-14 20:11] Ch3LL commented on #40005
NOTE: We need to check in the code for any other hard coded md5 values like this and get those changed up. Thanks for bringing this to our attention

[2017-03-14 20:22] Ch3LL commented on #40007
I'm not able to replicate this with the following settings in master config:

[code]

And when i run the following it works:

[code]

Can you try those settings? that repo is open to the public? I want to see if only your repo is failing.

[2017-03-14 20:52] Ch3LL commented on #40011
Okay i was only able to replicate this after connecting a minion to the master. If you just start up a minion not connected to a master I was not able to replicate this. Just FYI for anyone trying to replicate this.So to quickly replicate this do the following:

1. install salt-master and salt-minion
2. point minion to the local master `master: localhost`
3. start master
4. start minion
5. `servic

[2017-03-14 20:58] Ch3LL commented on #39998
@dougofthemoment do you see this resolved on your end then? okay to close?

[2017-03-14 21:04] Ch3LL commented on #39993
Those ssh options should work for you. Are they not?

[2017-03-14 21:06] Ch3LL commented on #33444
@alem0lars-yoroi are you running into the same thing? what update are you looking for specifically?

We need to hear from @tyhunt99 to see if he was able to resovle this issue with the posted solutions above

[2017-03-14 21:09] dougofthemoment commented on #39998
Its still an issue, to be clear salt-call appears to use a different shell than salt to execute its unless argument.  The expected behavior would for it to always use the same shell.

[2017-03-14 21:16] Ch3LL commented on #39959
If you look at the docs [here](https://docs.saltstack.com/en/latest/ref/returners/#master-job-cache-support
you can see a returner requires a couple of additional functions in order to support the master job cache. I do not see these functions in the rawfile_json returner. So i'll approve this as a feature request to get that added for master job cache support.

there is another issue though you s

[2017-03-14 21:18] frogunder commented on #39995
I see the same issue on the head of 2016.11

[code]

[2017-03-14 21:20] Ch3LL commented on #39945
Great thanks for the update. I'll close now since its working. Thanks

[2017-03-14 21:20] #39945 closed

[2017-03-14 21:33] secumod commented on #39945
Not sure... It is still not working according to the docs, so docs have to be updated at least.

Also, what about `# salt-call --local cmd.retcode '! echo foo'`?

[2017-03-14 22:33] lorengordon commented on #39976
ping @lomeroe ;)

[2017-03-14 23:17] luc-poynt opened #40028 "[NEW FEATURE REQUEST]Master capable to ignore down minion"
### Description of Issue/Question
in the previous version when selecting using grains, any down minion would be ignore.
However since updating to  2016.11.3 this is no longer the case!
This partially bad as on EC2 we have instance that are down (by purpose).

### Setup
Ubuntu 14.04
both master and minion running 2016.11.3
salt-minion --versions
Salt Version:
           Salt: 2016.11.3

Dependency

[2017-03-15 00:42] s0undt3ch commented on #31576
I'm a bit late but we did ship msgpack in the thin for a while but we reverted, its a binary dep.
One possible solution is to depend on the python implementation of msgpack and include that one, or we switch how we handle thin all together by creating a pyinstaller version of salt with all batteries included, and of course, a not so thin `thin`....

[2017-03-15 06:30] alem0lars-yoroi commented on #33444
@Ch3LL The salt minion doesn't get the docker-py, thus issues an error when a state requires it. I've already tried to use `reload_modules: True`.

This is the relevant part of my sls:

[code]

Then when I try to use dockerng (that requires docker-py) it gives me the following error:

[code]

[2017-03-15 06:47] Set4now opened #40031 "salt ext_pillar from mysql not working"
Issue:- We want to use ext_pillar with mysql . we have created a table inside mysql with keys and values inside it. Now we want to pull that data . we followed the steps mentioned in doc but its not working.
[code]
===========================
mysql table:-
[code]
now when we try to get pillar data
salt \* saltutil.refresh_pillar
salt \* pillar.data
[code]

[2017-03-15 07:15] anlutro commented on #31576
What about a salt-ssh option (command line argument, Saltfile, master config) to use msgpack instead of JSON, and then display a warning if a user tries using binary data with the JSON transport? Using msgpack would require them to install python-msgpack on the target system themselves.

[2017-03-15 10:04] Foxlik commented on #39942
@rallytime : sure thing, will do.

feel free to close this one, once the web documentation for 2016.11 gets regenerated ... it's just fine in 2016.3 docs.

[2017-03-15 10:09] YuriGrigorov commented on #40022
Thanks for your report.

The problem is in master design. We can see in `run` function in `salt/master.py` that scheduled jobs (`self.handle_schedule`) are evaluated with other maintenance stuff:
[code]
so whie default `loop_interval` is 60 seconds, interval between scheduler evaluations is about 61.82 and we are 1.82 secs runout. In my patch i added check only for 1 second.
[code]
To fix this pro

[2017-03-15 10:17] Foxlik opened #40033 "Web doc UX: renamed modules should get placeholder"
### Description of Issue/Question

As a follow up to #39942 I would like to propose a little UX change to the web documentation:

When modue gets renamed (eg. dockerng->docker), or otherwise changed (removed, merged, etc.), create a placeholder document describing what has happened and link to the new relevant documentation.

As an example: today, opening https://docs.saltstack.com/en/latest/ref/s

[2017-03-15 10:29] sivann commented on #12540
There are some good news:  testing the TCP transport with the latest 2016.11.x, we have 2 complete weeks that all 3 test minions are reachable.

[2017-03-15 10:39] esn89 commented on #26028
Hey guys, after this fix (which was from a long time ago), any ideas on how to specify version 4 support when I use file.managed s3:// as a source?

[2017-03-15 10:58] oogali opened #40036 "UnboundLocalError: local variable 'ifcfg' referenced before assignment"
### Description of Issue/Question
I'm trying to define a new network alias (on the loopback interface), and I'm receiving a variable scoping exception.

### Setup
My state is as follows:
[code]

### Steps to Reproduce Issue
When I attempt to apply highstate from master to minion, I get the following:
[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any

[2017-03-15 10:59] oogali commented on #40036
Minion's salt-call:
[code]

[2017-03-15 12:19] fcrozat commented on #32771
@shallot Thanks, using thin_dir should do the trick !

[2017-03-15 14:24] terminalmage commented on #40008
Oh, cool! Odd that this has never made it into their documentation. I'll play around with this and try to get it into Salt. Thanks for the link!

I can't promise this will make the next feature release because Python 3 support is a higher priority right now, but I'll try to make it happen/

[2017-03-15 14:33] siddhantgoel opened #40042 "Incorrect error message on minion in case of invalid minion ID"
### Description of Issue/Question

In case the minion ID is not in an expected format (something like "id: app-`cat /etc/hostname`"), then the minion log shows the following warning:
[code]
The salt-master writes the correct log output in this case:
[code]
It would be less confusing if the error message on the minion would be something similar such that debugging takes less time.

### Setup

Fresh

[2017-03-15 14:34] terminalmage commented on #40011
Fixed in #40041.

[2017-03-15 14:40] gtmanfred commented on #40022
Is there a reason to not set it to `if seconds <= 0` ?

[2017-03-15 14:42] terminalmage commented on #38066
I've @Ch3LL add my pubkey to her VSTS repo, and will look at this when time allows (currently tied up making Python 3 compatibility changes).

[2017-03-15 14:45] YuriGrigorov commented on #40022
If you configure job with interval of 90 seconds it will wire after 120. And i think it's not what you want.

[2017-03-15 14:48] blarghmatey opened #40043 "Execution and state modules for Hashicorp Vault"
### Description of Issue/Question
I have an execution and state module for Hashicorp Vault that I have used for building a corresponding formula and full automation routines. I was about to submit a pull request to contribute these modules upstream when I noticed that there was the beginnings of a state and execution module already present.

I am wondering if there is interest in pulling my change

[2017-03-15 14:48] YuriGrigorov commented on #40022
We should add some ``grace_time`` -- seconds after the designated runtime that the job is still allowed to be run. And if it's exceed then reschedule the job.

[2017-03-15 14:55] do3meli opened #40044 "grains containing wrong values with "Invalid entry lenght""
### Description of Issue/Question
I have an Acer Veriton N4620G computer that I manage with salt and I end up having wrong information available via grain:

[code]

I had a quick look at the code and it seems that the smbios module is responsible of doing the necessary work. calling that module manually on the same minion ends up having correct data:
[code]

so there seems to be an issue parsing t

[2017-03-15 14:55] gtmanfred commented on #40017
Thanks for reporting this,

We will get it fixed.
Daniel

[2017-03-15 14:56] gtmanfred commented on #40043
We would love to have these modules if you wanted to submit a pull request to the develop branch!

Thanks,
Daniel

[2017-03-15 14:58] blarghmatey commented on #40043
Great! Do you want me to overwrite the existing modules or would you prefer that I choose a different module and file name so that they can co-exist?

[2017-03-15 14:59] blarghmatey commented on #40043
I am also planning on writing a state module to handle deployment and management of PKI within Vault. I'm not sure if it will be ready before the April 3rd feature freeze but I'll see what I can get done.

[2017-03-15 15:03] rallytime commented on #39942
@Foxlik Great! Thank you! We're all set on the 2016.11 docs too. I just checked and the `versionadded` is there. :)

[2017-03-15 15:03] #39942 closed

[2017-03-15 15:10] gtmanfred commented on #40043
Oh, sorry, i didn't realize that the vault module had been added for the Nitrogen release.

If you are going to add support for this, you will need to do the following.

[] talk to @techhat and @carlpett
[] yours will need to be documented

Also after looking at your module, we require cli examples for each of the stuff in the modules, so the way you are registering the commands from the client di

[2017-03-15 15:13] lomeroe commented on #39976
@damon-atkins Administrative Templates (which would include the OneDrive setting) in the module are dynamically read from the localadmx/adml files.

I'm able to set this on my dev machine , so I must have screwed something up when creating all my backport PRs to merge bug fixes back into 2016.11.

[2017-03-15 15:13] gtmanfred commented on #40042
Thanks for reporting this.
Daniel

[2017-03-15 15:15] The-Loeki commented on #40008
That's OK :) there's obvious and good workarounds for it so no high prio.

[2017-03-15 15:18] thatch45 commented on #40017
Can you give us your master configs (all the the files under master.d too)?

[2017-03-15 15:21] carlpett commented on #40043
@blarghmatey Those are some very nice additions! Especially the states covers quite a few things I did not implement yet.

In terms of compatibility with existing code, the current implementation does not use HVAC but rather uses the http api directly, to remove the need for a separate dependency. How much work would it be for you to remove the client?

I believe token management might also be han

[2017-03-15 15:22] thatch45 commented on #40022
The solution is to check the time between evaluations and sleep for the remaining time. So you do a time.time.() at the top of the schedule eval and then again right before the sleep, take the extra time and subtract it from the loop interval and sleep that long, and if the subtracted number is negative then skip the sleep.

[2017-03-15 15:28] vutny opened #40048 "The `pip.installed` state is unable to use `pip3` when no `pip` for python2 installed"
### Description of Issue/Question
I'm trying to install `aiohttp` module for Python 3.5 with `pip3` using Salt. I don't have `pip` version for Python 2 installed at all.

### Setup
[code]

### Steps to Reproduce Issue

What I've got is this:

[code]

It seems that the `pip` state module is depending on `pip` for Python 2 module availability, because Salt Minion is running againts Python 2.

The wo

[2017-03-15 15:29] thatch45 commented on #40022
https://github.com/saltstack/salt/blob/develop/salt/thorium/__init__.py#L166

Is where we do it in Thorium...

[2017-03-15 15:33] MikeH-Halo commented on #39512
Don't forget to not fail if no hash is specified! In particular with templated patches it is impossible to know the hash in beforehand. I am getting the following error for a perfectly applied patch (using salt 2016.11.3 (Carbon)):

----------
          ID: /foo/conf/httpd.conf
    Function: file.patch
      Result: False
     Comment: File /foo/conf/httpd.conf hash mismatch after patch was applie

[2017-03-15 15:49] MikeH-Halo commented on #39512
Why is file.patch even requiring a hash? It should suffice that the underlying patch command returns true if no hash is given. In particular with patches generated through templates it is impossible to know the hash in beforehand..

[2017-03-15 16:17] blarghmatey commented on #40043
@carlpett in terms of the token management, I don't have any explicit management for that and leave it as an exercise to the user for managing how those tokens are obtained. In my particular case I'm leveraging the `ec2_minion_authenticated` state module to generate credentials for my master node which get written out to the minion and master config. The master then uses the token stored in the co

[2017-03-15 16:21] sebw commented on #38402
This workaround works fine for salt-cloud VM creation (I use the salt runner cloud.create), but other things listing snapshots or resetting VM still break.

[code]
Would you have another workaround?

[2017-03-15 16:22] sergeizv opened #40050 "salt-cloud fails operating with GCE nodes on 2015.8"
### Description of Issue/Question

After creating a GCE instance salt-cloud fails on querying, destroying, performing actions on it, etc.

The issue appears only on 2015.8 and is fixed in be41a400fa8c which were committed into 2016.3.

### Steps to Reproduce Issue

Create a node on GCE and try to do anything with it.

    (py2-env) salt-test@tommynaut:~> salt-cloud -Q -l debug
     ...
     [DEBUG

[2017-03-15 16:55] gtmanfred commented on #40050
Unfortunately 2015.8 is only receiving CVE fixes now, and has no more releases planned.

Thanks,
Daniel

[2017-03-15 16:55] #40050 closed

[2017-03-15 16:56] gtmanfred commented on #40048
I consider this the expected behavior.

The module defaults to using pip, if it is not available, the correct pip to be used will need to be specified.

Thanks,
Daniel

[2017-03-15 16:56] #40048 closed

[2017-03-15 16:57] Maudite commented on #23446
I'm trying to delete a dictionary grain key (I'm still new, not sure I'm saying this correctly), but seems as though the grains.set destructive=True is not removing the key.  It will remove the value, but not the key.

[root@salt-cloud02 powershell]# salt 'psHost*' grains.items
psHost01.lab.local:
    ----------
    TC:
        ----------
        environment:
            Devt
        infraHosting:

[2017-03-15 17:00] gtmanfred commented on #40031
The key and value that it needs to match is the minion_id.  The '%s' will be the minion id.

The ext_pillar is just a place to store each minions pillars.
It looks like `package_name` is `MongoDB` which is not the minions name?

Thanks,
Daniel

[2017-03-15 17:03] sergeizv commented on #40050
ok, thank you for the information! I just planned some cloud-related fixes and was looking for the latest release branch :)

[2017-03-15 17:06] Maudite opened #40052 "grains.set Not able to remove sub key"
### Description of Issue/Question
Trying to remove grain sub key with grains.set destructive=True, but it will only remove the value.

### Setup
As per [https://github.com/saltstack/salt/issues/23446](url) it states

### Steps to Reproduce Issue
I'm trying to delete a dictionary grain key (I'm still new, not sure I'm saying this correctly), but seems as though the grains.set destructive=True is no

[2017-03-15 17:07] YuriGrigorov commented on #40022
Please take a look at https://github.com/YuriGrigorov/salt/commit/1257d64dfa68f2889f3a1784eea3452751431ad4

[2017-03-15 17:08] gtmanfred commented on #40036
I have submitted the following PR which will add alias to the list of iface_types

https://github.com/saltstack/salt/pull/40053

Thanks for reporting,
Daniel

[2017-03-15 17:26] thatch45 commented on #40022
Looks good, I made one comment.

[2017-03-15 17:49] bdrung opened #40054 "sysctl.present replaces spaces by tabs"
### Description of Issue/Question

`salt/modules/linux_sysctl.py` tries to be smart in `persist()` and replaces spaces by tabs:
[code]

This behavior exists since at least salt 0.11. Sadly following state:
[code]
leads to following setting:
[code]
There is a difference between tabs and spaces for this setting!

### Versions Report
[code]

[2017-03-15 17:55] gtmanfred commented on #40028
So, we consider this as fixing a regresssion.

It should have always waited on these servers.

What you can do is set an extra grain on the minions before turning them off and also target those minions.

`salt -C 'G@ec2_tags:Name:momo* and not G@disabled:True' test.ping`

Also possibly using pillars for this.

https://docs.saltstack.com/en/latest/topics/blackout/

`salt -C 'G@ec2tags:foo and not I

[2017-03-15 17:59] gtmanfred commented on #40044
Can you provide the full `--versions-report` so that I can try and replicate this issue?

Also the output of `dmidecode -t 1`?

Thanks,
Daniel

[2017-03-15 18:04] gtmanfred commented on #40052
You will need to set `val=None`  If it is just an empty string, it will set it to the emptry string.

Thanks,
Daniel

[2017-03-15 18:05] #40052 closed

[2017-03-15 18:26] gtmanfred commented on #40054
Thanks for reporting this.

Looks like this was added back in 0.9.8  https://github.com/saltstack/salt/commit/545dca075186c6c7d0d11cada5327de2c41a4f09

@SEJeff do you have any opinions about this?

Thanks,
Daniel

[2017-03-15 18:26] tyhunt99 commented on #33444
Sorry this issue slipped through the cracks. But as of 2016.11.3 I am still seeing this issue. I am using the docker formula to set up docker and then trying to start a container.

The relevant errors I get:
[code]

I have a current work around. If I restart the salt-minion service it picks up docker-py is installed.

[2017-03-15 18:37] tyhunt99 commented on #38352
After upgrading to 2016.11.3 thhis issues seems to be resolved

[2017-03-15 18:37] #38352 closed

[2017-03-15 19:17] luc-poynt commented on #40028
Not sure if I was not clear with explaining the issue, and I see the issue is been re-opened.

Here a 'wish  feature':
the the master config something like
  ignore_minions:
    - manage.down

or is there a way to have use a combined command that can target  grains + manage.up that I am not aware off?

in AWS an instance could go down anytime and during deployment to hundreds of instances (==minio

[2017-03-15 19:24] onlyanegg commented on #38386
@Ch3LL I'm no longer using this method anymore, so I probably wont be looking at this. You can close this you'd like.

[2017-03-15 19:26] gtmanfred commented on #40028
Well, this issue is titled as a bug. Would you mind updating the title to better describe the feature you are requesting?

Thanks,
Daniel

[2017-03-15 19:27] onlyanegg commented on #38384
@Ch3LL I worked around this by explicitly setting permissions with the file.directory state after extracting.

[2017-03-15 19:42] luc-poynt commented on #40028
Done, thanks

[2017-03-15 19:43] gtmanfred commented on #40028
Awesome, thank you!

[2017-03-15 19:45] ealphonse commented on #8875
Hi, it is also the case when one `- require: - sls:` a sls in a salt file.

[2017-03-15 19:47] disaster123 commented on #6237
+1 for a fix. Still don't understand how to work around this. I've the same issue like @jhenry82

[2017-03-15 19:57] Maudite commented on #40052
Exactly what I was looking for.  Thank you.

[2017-03-15 19:58] gtmanfred commented on #40052
Happy to help!

[2017-03-15 20:03] ealphonse commented on #39861
Thanks. Unfortunately, I only program in salt. :-)

[2017-03-15 20:21] tully32 opened #40058 "pillar.show_top and state.show_top differ in functionality"
### Description of Issue/Question

state.show_top returns information relegated to the minion in relation to the top file. pillar.show_top returns the entire pillar top file.

### Setup
run "salt "minion" state.show_top and then salt-run pillar.show_top minion=minion and see the different results.

### Steps to Reproduce Issue
run "salt "minion" state.show_top and then salt-run pillar.show_top min

[2017-03-15 20:58] piter50 opened #40062 "Add VRF/Routing instance support for net.traceroute/net.ping"
### Description of Issue/Question
Traceroute and ping on some platforms would benefit from being able to specify a vrf or routing instance as not all default/mgmt instances have access to all routes or we want to test different paths not on default/mgmt instance.
The ability has been added to napalm in development and will need salt implementation.

### Setup
(Please provide relevant configs and/o

[2017-03-15 21:08] grichmond-salt opened #40063 "VirtualBox Cloud Interface Not Working"
### Description of Issue/Question
The VirtualBox Cloud interfaces does not work with current versions of VirtualBox.

Test was performed on Ubuntu 16.04 with Salt 2016.11.2.  Also the VirtualBox SDK was installed.

With VirtualBox 5.0 installed, "salt-cloud -Q" works as expected.  However, attempting to launch a VM with "salt-cloud -p" results in the following error:

[code]

Further, with Virtual

[2017-03-15 21:14] logbie opened #40064 "Mysql"
When i try to apply a state to my minions in setup everything else just fine but will not install mysql-server

I am running ubuntu 16.04.2 on a Digital ocean VM (both master and minion)

I am using GitFS and salt formulas

Error produced

[code]

### Master config File
[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
[code]

[2017-03-15 21:17] kruule69 opened #40065 "system.join_domain does not join domain when account_ou is defined"
### Description of Issue/Question
when the system.join_domain is called without the account_ou defined it works.  Specifying the account_ou doesn't join the domain and doesn't give any error messages.

This occurs on both Windows 2008/2012 minions trying to get them to join the domain.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to R