[2021-05-04 19:21] ScriptAutomate commented on #59161
Related: https://github.com/saltstack/salt/issues/59061

[2021-05-04 20:43] sagetherage commented on #59161
I am wrong. It was ONLY FIXED in 3003 and not before. Closing, apologies for my mistake.

[2021-05-04 20:43] #59161 closed

[2021-05-04 21:02] sagetherage commented on #53017
@disaster123 thank you for the prompt reply and noted.

[2021-05-04 21:40] lllamnyp opened #60129 "[BUG] sign_remote_certificate fails when using a compound matcher in the signing policy"
**Description**
Minions are not permitted to use a signing policy when the `minions` key of the policy is a compound matcher.

**Setup**
`/etc/salt/master.d/peer.conf`

[code]

`/etc/salt/minion.d/signing_policies.conf `

[code]

[code]

Rendered sls (only relevant state shown):
[code]

**Steps to Reproduce the behavior**

Running the state (output trimmed):

[code]

**Expected behavior**

Given t

[2021-05-04 21:47] xeacott commented on #59490
@kkoppel Give this a try and let me know how it works for you. https://github.com/saltstack/salt/pull/60130

[2021-05-04 22:37] hbonath commented on #50851
I ran into this issue using Salt 3003 on Debian Based systems while interacting with the Asterisk PBX.

### Salt Master:
[code]

### Salt Minion (Ubuntu)
[code]
### Salt Minion (Debian)
[code]

### Steps to Reproduce:
I started with minions running the [Ubuntu 20.04 cloud image](https://cloud-images.ubuntu.com/focal/current/focal-server-cloudimg-amd64-disk-kvm.img) and the [Debian Buster cloud ima

[2021-05-04 23:01] bryceml commented on #59421
tests/integration/modules/test_cp.py::CPModuleTest::test_get_file_str_https looks like it will need changed as part of this change.  It looks like the test is to fetch https://repo.saltstack.com/index.html and see if it contains the word "Bootstrap".

[2021-05-04 23:52] dmurphy18 commented on #60120
@edgan Can you provide the contents of pkg.sls after you have added the 1:1.20.0-2.fc34 to it.
Wonder if there are epoch handling issues occurring.

[2021-05-05 00:01] bryceml commented on #59986
I'd like more people including some of the core team to weigh in on this before we do it, seems like it's likely a good change to make.

https://github.com/saltstack/salt-pack-py3/blob/develop/file_roots/pkg/salt/master/rhel8/sources/salt-master.service is the current copy used for rhel8 for example.

[2021-05-05 00:11] sagetherage commented on #60007
I will have to find out

[2021-05-05 06:53] cbosdo commented on #59739
Thanks @ewenmcneill for the report. I wasn't aware of those subtleties in the `changes` value. Since `virt.running` and `virt.defined` can only be applied to one virtual machine at a time I will remove the virtual machine level of the `changes` dictionary.

[2021-05-05 06:59] cbosdo commented on #53081
This has been implemented in 3003. Could you check that the added features match your requirements? Hopefully it should be flexible enough to cover this issue.

[2021-05-05 07:06] cbosdo opened #60132 "virt.vm_info fails if one of the disks is on a stopped storage pool"
### Description of Issue

Run `virt.vm_info` on a stopped VM that has at least one disk on a storage pool which is not started. The function fill trigger a libvirt error due to the volume not being found in the storage pool.

Instead the function should handle this error case and simply provide less information on the disk that can't be accessed.

### Versions Report
Affects master and 3003.

[2021-05-05 07:07] markuskramerIgitt commented on #60122
I just found that the salt-master debian package sets the value:
https://github.com/saltstack/salt/blob/4f3cb36955d84c6793efcbeabf53963067922d90/pkg/deb/salt-master.service#L6

[2021-05-05 08:07] Rabattkarte commented on #53017
@sagetherage unfortunately not. Currently I'm not using salt anymore and lost access to this issue's originating setup. On a second thought, CentOS is dead anyway.

[2021-05-05 08:09] cbosdo commented on #59739
@ewenmcneill the above PR fixes this issue.

[2021-05-05 08:13] alexandre-allard-scality commented on #60126
@sagetherage sure, I'll do it.

[2021-05-05 11:21] bkaczynski opened #60135 "[BUG] No matching minions when combine two grains items"
**Description**
No minions matched the target when combine two grains

**Setup**

[code]

**Expected behavior**
Both minions should be matched at single query

**Versions Report**
Master:

[code]

Minion Debian:
[code]
Minion CentOS:
[code]
</details>

[2021-05-05 13:48] #59452 closed

[2021-05-05 13:58] jbg-uwaterloo commented on #27263
Just came across this issue and it is still an issue on a 3000 master.

[2021-05-05 15:06] eliasp commented on #60122
As SaltStack itself just uses `resource.getrlimit()` to retrieve the effective limits of the executed process, I just wanted to briefly verify what's going on here and found the following weird behaviour on a Ubuntu 20.04 LTS system:

- Create `/etc/systemd/system/salt-master.service.d/debuglimits.conf`
- ```ini
  [Service]
  LimitNOFILE=6144:8192
  Type=simple
  ExecStart=
  ExecStart=/usr/bin/py

[2021-05-05 15:21] kkoppel commented on #59490
Unfortunately this change is not working for me.
I applied the change to both the master and the minion (v3003) and then restarted both. The patch got applied with no problems reported.
Checked the interfaces on the minion:
[code]
Added an IP to the eno1 interface on the minion and checked the grains again:
[code]
Checked interfaces on the master:
[code]
Restarted the minion and then checked inter

[2021-05-05 15:21] lukasraska commented on #60135
@bkaczynski filter `G@os:CentOS and G@os:Debian` will try to match minions that are both CentOS and Debian, which is something that essentially won't happen. You probably want `G@os:CentOS or G@os:Debian` -> minions that are either CentOS or Debian

Can you try the query with `or` if it works for you?

[2021-05-05 15:31] rawmind opened #60139 "[BUG] Can't use `file.manged` with SLS file on Windows minion (version 3003 only)"
**Description**
Can't use `file.manged` with SLS file

**Setup**

Create SLS ` /srv/salt/test-write.sls `

[code]
and a test jinja template file `/srv/salt/test.write`
[code]

**Steps to Reproduce the behavior**

`sudo salt 'aminion' state.apply test-write`

The output:

[code]

Detailed stacktrace:

[code]

Import for `C:\salt\bin\lib\site-packages\salt-3003-py3.7.egg\salt\states\file.py` is pres

[2021-05-05 15:57] sagetherage commented on #60127
@ssoto2
The Salt version is vulnerable. We recommend upgrading as soon as possible to at least latest point release or to latest. You can find those here https://github.com/saltstack/salt/releases or the packages repo here: https://repo.saltproject.io/

[2021-05-05 16:47] bkaczynski commented on #60135
omg, yes. You're right. I have to repeat logical operations...

[2021-05-05 16:47] #60135 closed

[2021-05-05 17:37] dfidler opened #60140 "[BUG] boto_vpc.absent fails because of dependencies"
**Description**

Can't delete the vpc because an internet gateway and default routing table is created when creating a vpc.

**Setup**
<details><summary>Script to create /srv/salt/issue-setup.sls and /srv/salt/issue-decomm.sls</summary>

[code]
</details>

**Steps to Reproduce the behavior**

<details><summary>Results from issue-setup.sls</summary>

[code]
</details>

<details><summary>Results fro

[2021-05-05 17:49] piterpunk commented on #57785
Ok, I wrote the #59988 but while testing it I saw that this bug seems to be fixed sometime between `3000.3` and `3003`.

I just built a new virtual machine with CentOS and install Salt with these commands:
[code]
Created a `bond.sls` state:
[code]
The first run results:
[code]
The second run results:
[code]
It looks like it's all working fine.

<details><summary>salt --versions-report</summary>

<

[2021-05-05 18:06] #60105 closed

[2021-05-05 18:06] #60108 closed

[2021-05-05 18:23] #59844 closed

[2021-05-05 18:48] prensing opened #60142 "[BUG] win_lpgo has problems with values containing comma"
**Description**
It appears that the win_lgpo state module gets confused if a security setting value contains a comma. For instance, property "Audit Logon Events" fully on should be "Success, Failure". However, under some state files, trying to set that value will result in it being set to "Success" only.

The win_lgpo command line module works fine; it seems to be an issue with using the *state* m

[2021-05-05 18:48] dmurphy18 commented on #53243
@gmoisio Have not seen a response as to whether this is still an issue for you with the latest Salt, Twisted and Pyparsing Liberaries, also does this problem occur with a MX router ? (have a vMX that I could use)

[2021-05-05 18:51] EliAndrewC commented on #60003
FWIW, we've run into the same issue and have had to stay on salt 3002 as a result.  I've tried to find some other workarounds but for now we'll just avoid upgrading to 3003 until there's a fix or someone figures out a good workaround.

[2021-05-05 18:53] gmoisio commented on #53243
Hi David I did a test and all is working fine

Le mer. 5 mai 2021 à 20:48, David Murphy ***@***.***> a
écrit :

[2021-05-05 18:54] gmoisio commented on #53243
I did the test with vQFX

Le mer. 5 mai 2021 à 20:48, David Murphy ***@***.***> a
écrit :

[2021-05-05 18:54] piterpunk commented on #57785
It was fixed in 4f889c1799c5291f1664db116604893e83283b06

@sagetherage if my test is correct, this mean the target for `Aluminium` was, involuntary, reached.

[2021-05-05 19:26] dmurphy18 commented on #53243
@gmoisio Thanks for the quick response and glad to hear everything is working fine.  Was just about to attempt with a vMX.

I shall close this issue since all is working fine.

[2021-05-05 19:26] #53243 closed

[2021-05-05 20:53] xeacott commented on #59490
@kkaempf before you request the grains from the minion, can you run `salt your_minion saltutil.grains_refresh` first? Then request the IP grains again. The patch will clear the grains, but only when the object is re-initialized or when a grains refresh is requested. The former happens when you'd execute a `salt-call --local` and the latter with just a `salt` command and since you don't want to tak

[2021-05-05 22:14] dfidler opened #60144 "[BUG] boto_vpc.route_table_present - not idempotent"
**Description**

The _subnet_names_ and _subnet_ids_ parameters of the salt.states.boto_vpc.route_table_present  method overwrite the existing subnet associations of the route table.

That means that if you have a state file that..
1. creates vpc
2. creates internet gateway
3. creates route table
4. creates subnets (and specify the route table)

This will create all of the objects just fine.  Howe

[2021-05-05 22:22] #57785 closed

[2021-05-05 22:25] #53017 closed

[2021-05-05 22:38] sagetherage commented on #60140
@dfidler Salt v3002.5 is vulnerable, please upgrade to v3002.6

[2021-05-05 22:42] sagetherage commented on #60144
@dfidler v3002.5 is vulnerable, please upgrade to v3002.6

[2021-05-05 22:57] xeacott commented on #60139
Hey @rawmind could you run this locally on your box with `salt-call --local state.apply test-write -l debug` ? Basically the same thing, but without going through the master and just on the minion locally.

[2021-05-05 23:02] sagetherage commented on #59986
@bryceml I will add it to the agenda for the core team to briefly review in the weekly Friday Planning meeting this week.

[2021-05-06 01:42] justin-sunayu opened #60146 "[FEATURE REQUEST] Initial support for Rocky Linux"
**Is your feature request related to a problem? Please describe.**
I'd like to see saltstack support Rocky Linux https://rockylinux.org/.

**Describe the solution you'd like**
For starters Rocky Linux could be identified as a RedHat derivative under `os_family`. I believe this would allow the yum/dnf pkg resources to work.

**Describe alternatives you've considered**
Without being at least tagged

[2021-05-06 01:46] justin-sunayu commented on #60146
Sorry should have searched closed ones first: https://github.com/saltstack/salt/issues/60118

I believe this was already addressed there?

[2021-05-06 01:48] #60146 closed

[2021-05-06 04:31] auphofBSF commented on #46891
I am having same issue version `3002.6` and agree with https://github.com/saltstack/salt/issues/46891#issuecomment-731771394  and https://github.com/saltstack/salt/issues/46891#issuecomment-749686915.

**SUCCESFUL** if first salt-ssh <target> test.ping with roster `sudo: false`  subsequent calls with salt-ssh can then be roster `sudo: true` or `sudo: false`

**FAILS** consistently if first salt-ss

[2021-05-06 12:26] speedytom commented on #6896
I have tried script from this comment:
 "jfoboss commented on Feb 14, 2019"

I gets this error message:
    Minion did not return. [No response]
    The minions may not have all finished running and any remaining minions will return upon completion. To look up the return data for this job later, run the following command:

    salt-run jobs.lookup_jid 20210506103249534555

root@salt:/srv/salt# sal

[2021-05-06 13:33] Ch3LL opened #60147 "[TEST FAILURE] Linode Cloud Tests are Failing"
The tests:

[code]

are failing.

[2021-05-06 13:38] Ch3LL opened #60148 "[TEST FAILURE] Catalina Test Failures"
Multiple tests started failing on Catalina between these revisions:

c043d467e9a1857b5f80084c252bf1eb247130a1
02cc401d25bc1a2158b26d0d7c8400696df1694c

https://jenkins.saltproject.io/job/pr-macosx-catalina-x86_64-py3-pytest-slow/job/master/97/

tests.pytests.functional.test_loader.test_new_entry_points_passing_module
tests.pytests.functional.test_loader.test_new_entry_points_passing_func_returning

[2021-05-06 13:40] Ch3LL opened #60149 "[TEST FAILURE] Windows scheduler test failures"
The tests:

[code]

started failing on Windows 2019 between these revisions:

02cc401d25bc1a2158b26d0d7c8400696df1694c
23fcbf3d7556a24eec0ec38759534b80c3c956e7

ping @garethgreenaway I'm guessing it is related to the merge of this: https://github.com/saltstack/salt/pull/59997

[2021-05-06 15:21] edgan commented on #60120
[code]

I think you are seeing the typo in services.sls. This should fix it.

[code]

[2021-05-06 15:47] whytewolf commented on #59792
@sagetherage any updates on this?

[2021-05-06 16:03] rawmind commented on #60139
Hey @xeacott and thanks for the quick response! I found the root cause. Briefly, It's a module that breaks all when I spread it across all minions with `3003`. After the investigation, I'll provide details about it on this ticket. I guess you may decrease the ticket severity as well.

Thanks again!

[2021-05-06 16:11] dmurphy18 commented on #60120
@edgan Fixed one of my typos too, thanks, pored over the files and missed it, Hercule Poirot I am not :)

[2021-05-06 17:10] dmurphy18 commented on #60120
Slight misstep in the description of commands given to produce the issue reported, correcting for above.
[code]

Compliant is that the command
[code]
doesn't inform that the service will be restarted when nginx is installed.

with test:
[code]
with execution of the  command
[code]

The problem is due to the following lines of code checking state of the service and returning before checking to see

[2021-05-06 17:22] dmurphy18 commented on #58902
Closing since PR #60145 is merged in

[2021-05-06 17:22] #58902 closed

[2021-05-06 18:59] markuskramerIgitt commented on #60049
I have mistaken a "thundering herd" problem during the start of the salt-master as a memory leak.

[2021-05-06 19:07] markuskramerIgitt commented on #60122
[code]

The first is from Salt, the second from me

[2021-05-06 20:49] anitakrueger opened #60152 "[BUG] slack.post_message state says api_key is optional, but it isn't"
**Description**
In the slack state documentation, it says:
[code]

However, when the api_key isn't provided in the kwargs, the state fails without checking the master or minion configuration. It does in the slack_notify.py module and in the slack utils code, but not in the state.

**Setup**

Add slack.api_key to salt minion configuration.
[code]

And call slack.post_message from a state:
[code]

*

[2021-05-06 21:00] xeacott commented on #59612
@cristian-popa Would you like to make a PR for those changes? There's other changes that need to happen to the slack module due to the changes from Feb. 24th that we are also aware of.

[2021-05-06 22:28] sagetherage commented on #60152
@xeacott if you are fixing the salt slack engine you may take a look at this as well - looks like it never worked the way the state was written. although with the recent slack changes I am unsure as I write this, regardless it doesn't work as optional, needs a fix.

[2021-05-07 00:59] huntermatthews commented on #59594
I will attempt to create one - first timer, will need some mentoring.

[2021-05-07 02:08] piterpunk opened #60154 "[FEATURE REQUEST] State module to manage SysFS entries"
**Is your feature request related to a problem? Please describe.**
There are some Linux kernel configuration that are managed through SysFS objects,  it's not uncommon to need change those configurations, like disable transparent hugepages, or change disks I/O scheduler, or to offline some CPUs.

Saltstack provides the `sysfs` execution module, but not a state module so I could set and keep the co

[2021-05-07 05:37] netkey commented on #58767
I met this issue too，and I resolved it by this way.

#pip3 uninstall urllib3
#pip3 uninstall requests
#yum remove python-requests
#yum remove python-urllib3
#pip3 install --upgrade --force-reinstall 'requests==2.6.0' urllib3

[2021-05-07 06:15] speedytom opened #60156 "Rename salt keys"
**Is your feature request related to a problem? Please describe.**
It is similar to Rename salt keys #6896

  root@salt:/srv/salt# salt --versions-report
  Salt Version:
   Salt: 3002.5

  Dependency Versions:
  cffi: Not Installed
  cherrypy: Not Installed
  dateutil: 2.7.3
  docker-py: Not Installed
  gitdb: 2.0.6
  gitpython: 3.0.7
  Jinja2: 2.10.1
  libgit2: Not Installed
  M2Crypto: Not Insta

[2021-05-07 07:23] dev4lif3 opened #60157 "[BUG] salt-master logs flooded with "State 'state.name' was not found in SLS 'SLS.name'""
**Description**
Every time when salt-minion executes _salt-call_ command (or salt-master execute command: _salt 'target'_) salt-masters logs are flooded with following errors (it happens when salt-master renders _top file_):

Reason: 'file.managed' is not available.
[salt.state       :322 ][ERROR   ][15897] State 'ssh_known_hosts.present' was not found in SLS 'linux.saltssh'
Reason: 'ssh_known_hos

[2021-05-07 07:37] dwicahyohph commented on #60082
turns out not only module locke is missing but also other module such as, auditctl and secops_pam, like below:

local:
    Data failed to compile:
----------
    Rendering SLS 'base:newfile' failed: Jinja variable 'salt.utils.templates.AliasedLoader object' has no attribute 'secops_pam.password_requirements'

[2021-05-07 07:47] rnick commented on #29835
I had the same issue and can fix it by setting

`master_type: disable`

in /etc/salt/minion as the service throws an error, if the master is not reachable at startup.

[2021-05-07 08:11] banholzer commented on #46660
@terminalmage I think we should discuss this issue again.

Not having the top_file_meging_strategy "same" from my perspective blocks having a clean and modern GitOps environment.

If you want to automatically test your new features that are developed in separate branches - which are mapped to saltenvs - you should be able to make sure that changes in your feature branch are not merged into other e

[2021-05-07 09:33] kkoppel commented on #59490
@xeacott Thanks! I can confirm that with this patch the master does see the change to the ip4_interfaces grain after running `salt testminion saltutil.refresh_grains` on the master or applying highstate on the minion.

I also did some additional testing and found that this first got broken with v3001.

[2021-05-07 10:14] marmarek commented on #60003
I believe I have very similar issue. My minimal test case:
[code]

[code]

After debugging it a bit, I've found it is about cached FileClient instance. I've added the following debug/workaround patch:
[code]

And it works, and shows what's the issue at the same time:
[code]

That said, I have no idea why this happens (especially - why cachedir changes at some point, still within master context) an

[2021-05-07 14:50] doesitblend opened #60160 "[BUG] slack_notify.post_message requires authentication update"
**Description**
Slack has reported that for new applications they no longer allow posting the token as a query parameter. This is the only method we currently allow in the [slack_notify module](https://docs.saltproject.io/en/latest/ref/modules/all/salt.modules.slack_notify.html#module-salt.modules.slack_notify).

See [this article from Slack](https://docs.saltproject.io/en/latest/ref/modules/all/s

[2021-05-07 15:08] terminalmage commented on #46660
It does, and it always has.

If you read the OP closely, you'll find that the issue wasn't that `top_file_merging_strategy` didn't work, but that the OP wanted to be able to run highstates without specifying the `saltenv`. He accomplished this in a PR by overwriting the effective fileserver environment for the salt run, **_which broke `top_file_merging_strategy`_** and had to be reverted.

Did you

[2021-05-07 16:26] terminalmage commented on #46660
I added the `saltenv` example to the GitFS Walkthrough via https://github.com/saltstack/salt/pull/60161

[2021-05-07 18:36] adcpdk commented on #42060
Hi team, is there any progress on this one?

[2021-05-07 19:11] dmurphy18 commented on #48835
Closing this since we have moved to using Black

[2021-05-07 19:11] #48835 closed

[2021-05-07 19:39] garethgreenaway commented on #59339
@BrianSidebotham Apologies for the delay on this one.  I did notice some issues with Salt and later versions of Vault, what version were you using when running into issues?

[2021-05-07 19:46] sagetherage commented on #44937
@tj90241
I have unlinked the PR your closed PR mostly for GitHub syntax searching on linked issues to PRs. Leaving this open until it can get picked up, again. Thank you!

[2021-05-07 19:57] sagetherage commented on #55426
@cmcmarrow can you confirm this is still an issue in `master` please?

[2021-05-07 20:00] sagetherage commented on #55804
@ScriptAutomate @waynew did we fix this in the clean up of the testing docs and contributor docs?

[2021-05-07 20:00] morgana2313 commented on #55804
Dank voor uw bericht.

Ik ben afwezig tot 16 mei 2021 en lees sporadisch mijn mail.

Voor dringende zaken kunt u contact opnemen met mijn collega's via  070 891 9 891 of via ***@***.***

[2021-05-07 20:11] sagetherage commented on #59008
@ScriptAutomate may have started some of this documentation as well

[2021-05-07 20:18] sagetherage commented on #58632
@Venkateshsandupatla I hope this info solved your issue. I am closing for now.

[2021-05-07 20:18] #58632 closed

[2021-05-07 21:07] dmurphy18 commented on #53619
@raddessi Do you have a sample configuration which demonstrates the issue on EOS.  I have access to some Virtual EOS machines which I can test against.

[2021-05-07 21:25] cmcmarrow commented on #59971
On my Box it was not as bad of slow down that you saw. But I can confirm salt took a performance hit in that release. I also saw the performance hit at the point as you ` [TRACE   ] ext_pillar_extra_data = {}`

[2021-05-07 21:28] dmurphy18 commented on #54346
@V3XATI0N I have tried what you gave as an example, and was unable to repoduce the issue, using the latest Salt v3003 on an up to date Centos 7.

Downloaded maven-assembly-plugin-2.3-source-release.zip, created a tarball with tar.
[code]
and then moved the maven-assembly-plugin-2.3-source-release.zip to an arch directory
[code]
Can you provide the versions-report for the system you were using, in

[2021-05-07 21:34] sagetherage commented on #54179
Apologies! Getting back to this and looks like we need to have discussion on moving forward, here. I have pressed the Core team for that discussion and will follow up.

[2021-05-07 21:45] Oloremo commented on #59971
@cmcmarrow Hm, could it depend on the size of the pillars? We do have a lot of stuff in our pillars.

[2021-05-07 21:50] dmurphy18 commented on #56963
@dkacar-oradian BTW  the master did not lose connection with the minion during the upgrade, that is, able to run test.versions on minion before and after upgrade, hence no connection broken which is the main point of the issue in the title.

We can discuss the other issues of states files etc. but the connection was not broken due to the upgrade.
Should the title of the issue actually reflect the

[2021-05-07 22:00] sagetherage commented on #60036
I apologize I missed this comment @OrangeDog I will get this in front of the Core team and follow up.

[2021-05-07 22:01] #50979 closed

[2021-05-07 22:02] raddessi commented on #53619
Any config should show the issue, as long as there is a config change, running with `test=True` would still apply changes. I don't have a config I can easily copy I'm afraid.

[2021-05-07 22:03] #56559 closed

[2021-05-07 22:03] raddessi commented on #53619
We just finished updating to 3002.6 however, I'll check this some time next week and get back to you.

[2021-05-07 22:07] #56572 closed

[2021-05-07 22:40] sagetherage commented on #59594
We have a slack workspace, we are on IRC or you can join our mailing list if you are not already there to ask questions :) details on the readme: [Engage the Salt Project and the Community](https://github.com/saltstack/salt#engage-the-salt-project-and-the-community)

[2021-05-07 22:43] sagetherage commented on #59792
Since it is `severity-medium` I simply haven't assigned it, yet - thanks for the nudge. Will get it assigned.

[2021-05-07 22:48] #52339 closed

[2021-05-07 22:53] sagetherage commented on #51493
closing as corrected

[2021-05-07 22:53] #51493 closed

[2021-05-07 23:11] #50662 closed

[2021-05-07 23:14] #49069 closed

[2021-05-07 23:19] sagetherage commented on #57118
yes, closing as corrected in recently releases

[2021-05-07 23:19] #57118 closed

[2021-05-08 05:56] piterpunk commented on #59573
I can submit a PR, but first I need to know which is the correct value to show. I am inclined to go with `virtual` equals `container` and `virtual_subtype` equals `LXC` as Linux Containers are, indeed, containers.

Also, this seems to be the intent of @waynew in cf64c4c4f6d4589cccd0339837fe8e908d69a822.

[2021-05-08 14:32] unman opened #60162 "[BUG] pkg.uptodate reports success when refresh=True but package database check fails"
**Description**
As title

**Setup**
Debian-10 master/minion set
Salt: 3003

update.sls:
[code]

**Steps to Reproduce the behavior**
Take master offline or block external access.
`salt '*' state.apply update`

**Expected behavior**
Result will show "False"
Optional - Comment *may* report failure to update packages

**Versions Report**
I'm not on that machine at present.
Fresh install of Salt 3003,

[2021-05-08 14:50] unman opened #60163 "[BUG] YUMPKG.refresh_db does not report error if repo unavailable"
**Description**
`yumpkg` module has `refresh_db` to check repos for updated packages.
Returns are:
True: Updates are available
False: An error occurred
None: No updates are available

If the minion cannot reach a repo, it still returns `None` instead of `False`

**Setup**
Fedora-32 master/minion from fresh 3003 install.

**Steps to Reproduce the behavior**
Take master/minion offline
Run yumpkg.ref

[2021-05-09 10:09] PolymathArtisan commented on #59519
For what it's worth, I solved the issue for myself by using `user.present`
instad. This *did* work:

[code]

[2021-05-09 11:25] hemebond commented on #59393
In my testing the refresh works if you do it twice.

[2021-05-10 08:23] BrianSidebotham commented on #59339
@garethgreenaway Vault was at `v1.6.0` :+1:

[2021-05-10 10:23] rasstef commented on #59205
**Hello, could anybody fix this bug please? Because of this we cannot install the critical security patches provided by 3002.6**

[2021-05-10 10:26] rasstef commented on #60123
**Hi, when can we expect this bug to be fixed? It prevents us installing the critical security patches provided by 3002.6.**

[2021-05-10 14:18] waynew commented on #60036
My thought is that we should be listing anything systemd does. (I.e. intentional, not a bug. Or at least it should be intentional)

[2021-05-10 16:04] whytewolf commented on #56273
Since the code in https://github.com/saltstack/salt/pull/59474 is not meant as a fix but instead a workaround that adds delays. this really needs to be looked at with more scrutiny to fix the race condition and not just work around it. can this be reassigned to someone for an actual fix?

[2021-05-10 16:55] markuskramerIgitt commented on #60122
Right after  the line @eliasp mentioned I temporarily added logging to the  3002.6 salt-master and found no issue.

[code]

[2021-05-10 18:23] Oloremo commented on #56273
@whytewolf Not sure if that is the question to me, we tried the best we could to at least highlight the issue but we're unable to find a root cause and hoping for some Salt folks help and\or guidance.

[2021-05-10 18:30] whytewolf commented on #56273
No it wasn't to you, was more to @sagetherage as part of the triage process.

[2021-05-10 20:44] karlhauck opened #60167 "[BUG] Winrepo pkg.installed fails using state.apply in the UI but works using pkg.install from command line"
**Description**
Winrepo pkg.installed fails using state.apply in the UI but works using pkg.install from command line.

**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info).

root@ssc-01a [ /srv/salt/win/repo-ng ]# ls
remote_map.txt  salt-winrepo-ng  vscode2
root@ssc-01a [ /srv/salt/win/repo-ng ]#

vscode2:
  '1.56.0':
    full_name: Microsoft Visusal Stud

[2021-05-11 00:17] garethgreenaway commented on #59971
@Oloremo When you saw you have a lot of data in your pillar, can you give an estimate of how much data?

[2021-05-11 00:23] Oloremo commented on #59971
@garethgreenaway

~45000 LoC in yaml 🙄

[2021-05-11 00:35] danielrobbins commented on #59205
If anyone has any information on how to reproduce this issue reliably, please post. We will need to attempt to reproduce this issue before we can fix it. If it can't be reliably reproduced, we will at least need to get an environment set up where it can be reproduced randomly, and then try to track it down from there.

[2021-05-11 11:51] BrianSidebotham commented on #57992
@jay7x The vault integration works by the salt master generating a limited use token (essentially a one-time throwaway after use token) for a salt minion so that it can access Vault. I'm not sure why this was the case, but it was probably done to stop the salt master being swamped in large systems using vault. This way, calls to vault are spread out across the minions.

Not having configuration on

[2021-05-11 13:18] carinedengler opened #60170 "[BUG] clean up routine tries to delete file with shutil.rmtree"
**Description**
First of all, thank you for your work on this projet! We are using it for years now and are very happy with it! I would like to bring to your attention an issue we are experiencing recently though. Similarly to [this issue](https://github.com/saltstack/salt/issues/33544), the clean up routine fails to clear the master's job cache, leading to all the inodes of the system being used.

[2021-05-11 17:42] mattiasr commented on #53836
I installed `python3-docker`, no change, then I started a python3 shell and imported docker and got error `No module named 'distutils.spawn'`

Installed `python3-distutils` and now the steps works.

Running:  3003+ds-1 on Ubuntu 20.04

[2021-05-11 17:43] mattiasr commented on #54449
I installed `python3-docker`, no change, then I started a python3 shell and imported docker and got error `No module named 'distutils.spawn'`

Installed `python3-distutils` and now the steps works.

Running:  3003+ds-1 on Ubuntu 20.04

[2021-05-11 20:45] karlhauck commented on #60167
Yes.  That is correct.  I am running it on Photon FYI

[2021-05-11 21:31] #60156 closed

[2021-05-11 21:48] #55804 closed

[2021-05-11 22:24] dwoz commented on #60083
I don't think #59361 is related.

[2021-05-12 00:52] twangboy commented on #60142
I can confirm this issue. If I change the code to use `Success and Failure` it set successfully, but not with `Success, Failure`. Perhaps that is the solution then.

[2021-05-12 01:44] xeacott commented on #60167
Gotcha. This might not be the correct place to open a ticket, as this repository is only for the Salt open project and not for our Enterprise solutions. Let me see if I can get you better contact.

[2021-05-12 02:35] DaveQB commented on #57856
https://github.com/saltstack/salt/issues/57856#issuecomment-671982449

I disagree. My start up scripts for new servers hang as a result. This is causing production issues at my company now. I am even finding on the salt master, when calling a highstate on minons, is hanging too.

So this is fixed in 3002?

Thank you.

[2021-05-12 03:10] jay7x commented on #57992
But this will expose just pillars attached to the minion in pillar's top.sls, right? Though it's possible to reduce exposure of vault via per-minion policies too..

[2021-05-12 04:41] jwolfe-ns commented on #57856
Assuming you're using state.apply from the Salt master, this bug would be unrelated, you have something else going on. This only affects direct salt-call runs.

Yeah 3002 is gtg.

[2021-05-12 06:08] s0undt3ch commented on #60072
Confirmed, here's a fix with a test
[code]

[2021-05-12 06:12] s0undt3ch commented on #60072
The PR fixing this https://github.com/saltstack/salt/pull/60173

[2021-05-12 08:31] nweidemann commented on #60095
Don't know what we can do here to get the problem solved...

I can add more information if I notice that this happens again with another package

[2021-05-12 10:50] #60149 closed

[2021-05-12 12:46] jgraichen commented on #59545
@doesitblend I do not have any affected minion anymore, but as far as I remember issuing some calls, such as `saltutil.refresh_grains` and `saltutil.refresh_pillar` did work, at least when being done manually via cli, or with some delay. Some initial tests having `saltutil.refresh_pillar` invoked directly on minion start (startup commands, reactor) did not work.

[2021-05-12 12:48] jgraichen commented on #59545
@doesitblend From some plugin and extensions development I have done, I would suspect some change using `__opts__["grains"]` as a stateful cache for loaded grain data, which would break when there is a `grains` key in the config, unless explicitly refreshed, but I haven't investigated anything there.

[2021-05-12 13:29] ggiesen commented on #60025
I moved to 3003 last night and hitting this as well. Makes network proxy minions completely unusable (they don't stay connected). Any chance we can get the first for this in the point release?

[2021-05-12 13:32] ggiesen commented on #60025
Here's output from a Junos minion. No commands run except to start the proxy:

[code]

[2021-05-12 13:34] network-shark commented on #60025
@ggiesen I just fired up the proxy in my lab environment. I got theses failures , but did not have any issues. Are you sure we're talking about the same issue ?  From the output it looks like the minion is still running

[2021-05-12 13:35] ggiesen commented on #60025
The minion itself is still running but not connected to the device

[2021-05-12 15:00] prensing commented on #60142
Unfortunately, using "Success and Failure" does not work for me. If I start with the property set to "Failure" and do:
[code]
But then right after, I check and get:
[code]
Using "Success, Failure" on the command line does work with that machine. Note that some of the other LGPO objects on my machines do use the "and" format.

In the state file, what has worked for me is to create a separate entry

[2021-05-12 15:07] ggiesen opened #60177 "[BUG] Salt Deltaproxy NAPALM Issues - PR #60090"
**Description**
A number of issues related to the open-sourcing of deltaproxy in PR #60090 when using NAPALM as the proxy type.

1. Slow startup. Running in debug mode, the deltaproxy appears to connect to each device sequentially and issue a number of commands. When testing a 21 node setup on a mix of (admittedly slow) IOS and NX-OS devices, it took 13 minutes to connect to all of the devices
2.

[2021-05-12 16:33] sagetherage commented on #29028
@vikrant-agarwal Salt v2016.11.3 is no longer supported and breaking changes are likely.

[2021-05-12 17:39] garethgreenaway commented on #60177
@ggiesen A couple things to look at here but can you update your proxy configurations and enable multiprocessing?  Thanks!

[2021-05-12 18:01] ggiesen commented on #60177
Way ahead of you. Made no difference.

[2021-05-12 19:59] BrianSidebotham commented on #57992
@jay7x Yes, that would be right. :+1:

[2021-05-13 08:50] gediminasz opened #60179 "[BUG] "ValueError: too many values to unpack" when running state.show_state_usage"
**Description**
The following error is observed when trying to run `state.show_state_usage`:

[code]

I suspect the culprit is here:

[code]

**Setup**
No special setup is required. Any salt repo should do.

**Steps to Reproduce the behavior**
Try running `state.show_state_usage`. For example I have a minion named `dev`, so I run `salt dev state.show_state_usage`.

**Expected behavior**
The `state

[2021-05-13 09:05] grem11n commented on #59205
@danielrobbins , In my case it was a minion started with Salt Cloud in AWS public cloud (simple EC2 machines). Both master and minion were running 3002 version on Ubuntu 20.04 with the default Python 3 interpreter. Unfortunately, I cannot disclose concrete details about the setup e.g. config files, states, etc. Hopefully, this information helps.

This bug doesn't occur with versions 3000 and 3003

[2021-05-13 10:04] speedytom opened #60180 "pillar data for reactor"
**Description**
We don't get pillar data for reactor

**Setup**

root@salt:/srv/salt# salt --versions-report
Salt Version:
          Salt: 3002.5

Dependency Versions:
          cffi: Not Installed
      cherrypy: Not Installed
      dateutil: 2.7.3
     docker-py: Not Installed
         gitdb: 2.0.6
     gitpython: 3.0.7
        Jinja2: 2.10.1
       libgit2: Not Installed
      M2Crypto: Not Ins

[2021-05-13 10:10] speedytom commented on #60180
[email-on-failure.sls.210510.txt](https://github.com/saltstack/salt/files/6471811/email-on-failure.sls.210510.txt)
[mail_sender.py.txt](https://github.com/saltstack/salt/files/6471812/mail_sender.py.txt)

[2021-05-13 12:48] raczkow commented on #59065
@krionbsd This bug should be reopened as it still doesn't work in Ubuntu 20.10 and, as @Artanicus said - on Ubuntu 21.04

I have confirmed, that it was fixed in Ubuntu 20.10 but apparently  it is not. I didn't noticed that I already patched my `/usr/lib/python3/dist-packages/salt/modules/aptpkg.py` to workaround the problem. Here's my patch:

[code]
With this patch I am allowed to configure PPA wi

[2021-05-13 12:54] vrubiella commented on #32805
Hi @adiroiban ,
Can you explai how and where configure this umask please?, only on salt-master required, salt-minions too, etc.?
Thanks!:

[2021-05-13 13:49] waynegemmell commented on #13085
I'm just adding a bump here. having a network state that works on Ubuntu/Debian would be great.

[2021-05-13 14:08] s0undt3ch commented on #59961
The fix has been merged into the `frozen` branch and will be on the next point release.

[2021-05-13 15:30] whytewolf commented on #60180
this is expected behavior. reactors are not run on the minion they are run on the master. and the master is not running it in any kind of regard for a minion. it is just parsing the data given it and going through it. if you want to get pillars of the minion you need to query the minion. this is also not advised internally to the reactor and would be better to ship this to an orchestration at that

[2021-05-13 15:44] speedytom commented on #60180
OK. I understand.

Do you have any option how to disable send emails by environment variable?
Thanks for your answer.

[2021-05-13 16:50] #59961 closed

[2021-05-13 16:50] garethgreenaway commented on #60177
@ggiesen Can you pull down the latest from the `adding_deltaproxy` branch please?  There are some changes to the napalm proxy minion that should address the issue of all commands going to the last proxy minion connected.  Thanks!

[2021-05-13 17:09] ggiesen commented on #60177
Will do. Working on building a proper Vagrant lab and I'll test as soon as it's done

[2021-05-13 17:12] adiroiban commented on #32805
This is something for the salt-minion, as the salt-minion  is the actual OS process handling the files.

It has been a long time since this issue was raise...and since them I am no longer working directly with salt.

[2021-05-13 17:58] Lesvek opened #60182 "[FEATURE REQUEST] Add a way to filter by minion_id in jobs.list_jobs"
**Is your feature request related to a problem? Please describe.**
When we want to investigate a problem on a minion, one of the first thing to do is to check if something changed that could cause the problem. To do that, we could use he jobs.list_jobs function.
The problem is that, when we use a grain or a pillar as a filter, there is no way to filter using the minion id:

[code]

To get the info

[2021-05-13 18:55] sagetherage commented on #60180
@speedytom you may want to pose your question in the [mailing list forum for salt-users](https://groups.google.com/forum/#!forum/salt-users), ask on [IRC](http://webchat.freenode.net/?channels=salt&uio=Mj10cnVlJjk9dHJ1ZSYxMD10cnVl83), or in our [community slack workspace](https://saltstackcommunity.slack.com/) for a better conversation platform.

[2021-05-13 18:55] #60180 closed

[2021-05-13 19:03] sagetherage commented on #60167
@doesitblend @whytewolf this looks like an Enterprise issue - closing

[2021-05-13 19:03] #60167 closed

[2021-05-13 19:08] sagetherage commented on #59668
@macejko8 please mention me if this did not solve your problem, closing for now.

[2021-05-13 19:08] #59668 closed

[2021-05-13 19:42] ikogan commented on #56171
I'm also experiencing what I believe to be this behavior, I cannot target with grains but using individual minion IDs works just fine.

[code]

Minion Version is `3001.7`.

[2021-05-13 19:56] github-abcde commented on #56171
@ikogan Could you post the commands that you tried and the output they gave you? That would give us more insight into what exactly you're trying (and what salt is doing or not doing for you) and will help us formulate useful followup questions.

[2021-05-13 21:15] mirko commented on #60044
@danielfrg I'm so sorry I didn't get back to you and this earlier - thanks for all the effort at this point!

I totally follow and understand the thoughts and concerns here. However I rather to tend to also consider users with non-existent home directories as "valid users". They come with the biggest linux distributions - even in minimal config - pre-configured. It's valid users to me and valid to

[2021-05-13 21:41] 53845714nF opened #60183 "[Enahancement] No ssh key roll out with fido2"
**Description**
When I try to roll out a public SSH key secured with fidio2 it does not work. With a normal key it works.

**Setup**
`init.sls` File:
[code]
**Steps to Reproduce the behavior**
A `.pub` file with that started with `sk-ssh-ed25519@openssh.com` does not work. I get the following error message.
[code]
When I use a normal key it works (ssh-ed25519).

**Expected behavior**
The state sho

[2021-05-13 21:55] waynew commented on #59205
FWIW that original error I don't think was due to os grains not being defined - at least `grains['os']` would not produce that error message. That message would be produced if `grains` was a dictionary and it was accessed like `grains.os`. :thinking:

More generally, `thing = {}; thing.os` is more or less what triggered this exception. Exactly _why_, I don't know but for sure (yet?) :thinking: :su

[2021-05-13 23:29] rofuentes opened #60184 "[BUG]"
**Description**
During our migration from Py2 to Py3 I attempted to use both pkgrepo.managed and pkgrepo.absent state modules to add the Py3 apt repository and remove the Py2. I cannot figure out how to remove the Py2 repository. I get success messages, but the line is still present in saltstack.list

**Setup/Reproduction**

State
[code]

Output
[code]

These states were not used at the same time,

[2021-05-14 01:48] linora opened #60185 "Why not use AES to encrypt file contents？"
Why is the password algorithm of RClone encryption not unified, that is, the file name encryption using AES algorithm, and the file content encryption using XSALSA20 POLY1305? Will XSALSA20 POLY1305 be safer than AES? As far as I know, companies like Restic and some public cloud vendors use AES to encrypt file contents

[2021-05-14 01:48] #60185 closed

[2021-05-14 07:23] Waaaaat opened #60186 "[BUG] Manjaro Arm os.family"
Hi Guys

I have manjaro(minimal) installed on my raspberrys and i want to install a package via Salt. The Problem is the pkg module doesn't recognize the packagemanager (pacman). I think its the same problem as in this bug(https://github.com/saltstack/salt/issues/41579), except  for now its on arm and not on x86. Additional I tested it on my Manjaro Laptop (x86) where it works fine.

My setup:
Mas

[2021-05-14 08:07] max-arnold commented on #59182
I can confirm that this issue is valid and it broke existing `curl` scripts that talk to `salt-api`. Steps to reproduce:

1. Ubuntu 18.04
2. Install `salt-master` and `salt-minion`, accept the minion key
3. Add the following lines to /etc/master.d/api.conf

[code]

4. Install `salt-api` and `python3-cherrypy3`
5. `service salt-api start`
6. `curl -sS localhost:8000/run -H 'Accept: application/x-ya

[2021-05-14 08:27] Waaaaat commented on #60186
Hi Guys

I have found a little work around:
1: set the salt grain manually
![image](https://user-images.githubusercontent.com/53849986/118242787-fa788680-b49d-11eb-98b6-be2e1540872e.png)
2: restart the salt-minion service (bsp: systemctl restart salt-minion)
3: now the installations works...
Its just an workaround not an fix of this problem.

Have a nice day ;-)

[2021-05-14 08:59] OrangeDog opened #60187 "[FEATURE REQUEST] Support postgres_privileges for columns"
**Is your feature request related to a problem? Please describe.**
Postgres supports column-level permissions. Salt does not.
[code]

**Describe the solution you'd like**
For example, this
[code]
would generate
[code]
A way to do multiple columns at once would be nice, but they have to be in the same table.

**Describe alternatives you've considered**
Manually construct the `GRANT` command, but ch

[2021-05-14 13:39] Oloremo opened #60188 "[BUG] Jinja2 3.0 support breaking changes"
Jinja2 3.0 was released a few days ago and seems like Salt can't work with it.

We have issues like this:

[code]

[2021-05-14 16:14] sagetherage opened #60189 "[BUG] module not loading redis cache"
**Description**
Hi..
I am trying to use redis cache as external minion data cache.. I have given the configuration in master as per the below format:

cache.redis.host: localhost
cache.redis.port: 6379
cache.redis.db: '0'
cache.redis.password: my pass
cache.redis.bank_prefix: #BANK
cache.redis.bank_keys_prefix: #BANKEYS
cache.redis.key_prefix: #KEY
cache.redis.separator: '@'

However, If i try to

[2021-05-14 18:39] piterpunk commented on #59039
@sagetherage I guess this one can be closed.

[2021-05-14 18:53] marbraket commented on #59148
I would like to propose [Rust as basis for a service](https://github.com/microsoft/windows-rs/discussions/726#discussioncomment-654035) (and other things).

[2021-05-14 21:31] ggiesen commented on #60177
Initial impressions are that it is looking much, much better:

[code]

[code]

[code]

[2021-05-14 21:43] rnickle opened #60190 "gitfs_saltenv per-environment directive does not work with fallback gitfs directive"
**Description**
The per-saltenv configuration parameters section of the documentation describes the *gitfs_saltenv* directive.

**Setup**
I am successfully using gitfs_remotes with the _fallback_ directive, example:

[code]

**Steps to Reproduce the behavior**
When I check my cp.list_master output, I am expecting to see content for the 'public' repository from the 'test' branch when I use the 'sal

[2021-05-14 21:50] network-shark commented on #55269
Still happening
[code]

[2021-05-14 22:28] whytewolf commented on #59792
May we get an update?

[2021-05-14 23:11] garethgreenaway commented on #60177
@ggiesen Excellent!  Thanks for testing that out.  I'm looking into the other issue of being able to have the connections happen in parallel to speed things up.

[2021-05-15 02:42] vincentor commented on #60094
Same situation for me. Hope someone can fix it ASAP.

[2021-05-15 09:19] nkrishnakishor commented on #59039
thanks @piterpunk for explaining it. It can be closed.

[2021-05-15 09:19] #59039 closed

[2021-05-15 12:49] network-shark opened #60191 "[ Feature Request ] block.replace should have an option to remove the whole block"
Hello Devs ,

stalebot closed https://github.com/saltstack/salt/issues/45370

It was never implemented , but I think it would be a good idea . Can we reopen the old one or should we use this one ?

Feature Req:

file module should have a absent option for a text block which was created via file.blockreplace.

[code]

[2021-05-15 15:07] xmsk opened #60192 "[BUG] Consul agent_service_maintenance using incorrect HTTP method"
**Description**
The `agent_service_maintenance` function int he `consul` module uses an HTTP GET call rather than an HTTP PUT call as defined in the API documentation https://www.consul.io/api-docs/agent/service#enable-maintenance-mode.

**Setup**
Set up a salt minion with the consul agent installed locally and a service running that is registered in consul.

**Steps to Reproduce the behavior**
Ru

[2021-05-15 15:23] IluckySi opened #60193 "How to control task timeout on minion from master?"
There is a situation, when the master sends a script task to all minions below him, if a server has very few idle resources, the script may remain stuck and cannot be executed. As more and more tasks are issued, this leads to There are more and more python processes on the server, and eventually server resources are slowly exhausted. So when the master sends a command to minon (using saltclient),

[2021-05-15 20:20] TathanT commented on #59618
Unfortunately I no longer have access to the same system where the issue existed so I won't be able to test the resolution

[2021-05-15 20:59] xmsk commented on #60192
I tried fixing it by simply adding `method="PUT"` to the `_query` call but it turns out that the Consul API returns an empty body without a `Content-Type` header

[code]

It seems that `salt.utils.http.query` defaults to decoding it as `application/json` and `salt.utils.json.loads` fails when decoding an empty (byte-)string.

Unfortunately I am not familiar enough with the code base to judge what

[2021-05-15 21:04] network-shark opened #60195 "[BUG] Jinja Debug show_full_context() broken ?"
**Description**
Trying to debug a jinja template via show_full_context() or straight from the documentation:
Context is: {{ show_full_context()|yaml(False) }}

Should return a dictionary with the a lot of values ....

Example.sls

[code]
Returns:
[code]

On the Minion:
[code]

Master | show_full_context()
[code]

Minion | show_full_context()
[code]

**Versions Report**
[code]
[code]

[2021-05-15 21:48] network-shark commented on #60195
Used it in a wrong way

[2021-05-15 21:48] #60195 closed

[2021-05-16 03:07] piterpunk commented on #59573
Ok, just did the PR #60196. It also fixes #53868 that I hit while testing the changes.

[2021-05-16 08:07] doc75 opened #60197 "[BUG] salt-master returns every minute [ERROR ] Exception during resolving address: [Errno 2] Host name lookup failure"
**Description**

In `/var/log/syslog` on the salt master I can see the following error message raised 3 consecutive times every single minute:
[code]

It seems to be harmless, but as this is raised as an error, this is not good to have such message in the log (risk to miss other errors).

**Setup**
No specific setup, it seems that having a docker configuration on the salt master could lead to this

[2021-05-16 14:12] 1ricardo opened #60198 "[BUG] 3003 static grains and grains_dirs don't work in statefile"
**Description**
I' m working on automation in serverless mode and I'm using  `--saltfile` option (btw. there is missing any documentation how to use this switch, I found a very short description on  [Twitter](https://twitter.com/salttips/status/1262345221058318336)  :/ ) how to use it. I noticed that static grains and `grains_dirs` don't work at all in that setup.

**Setup**
[code]

**Steps to Rep

[2021-05-16 19:10] mochrul commented on #35385
I'm experiencing this issue too. The actual problem is in salt/states/pkg.py within the function _find_install_targets (currently at line 825) which looks like this:
allow_updates = bool(not sources and kwargs.get("allow_updates"))

And this practically means that if the sources is provided then the allow_updates option is ignored. If checked the history of the file and it was in this state since

[2021-05-16 20:52] nbraud commented on #60121
In a related note, I just noticed that setting `discovery: false` in `/etc/salt/master.d/whatever` doesn't cause `salt-master` not to listen on port 4520.

[2021-05-17 00:26] ewenmcneill commented on #53081
Thanks for the heads up @cbosdo!

For anyone else playing along at home, the actually applied change seems to be https://github.com/saltstack/salt/issues/58844 (issue) and https://github.com/saltstack/salt/pull/56430 (PR; both found via [3003 release notes](https://docs.saltproject.io/en/latest/topics/releases/3003.html)).

From reading the change diff (but not yet testing it), I *think*:

    ser

[2021-05-17 07:03] kebre001 opened #60199 "[BUG] salt-ssh file.managed NameError: name '__context__' is not defined"
**Description**
Im doing a simple test with salt-ssh to push ntp configuration to a FreeBSD system.
My state that has a file.managed section to update /etc/ntp.conf fails with below error.

[code]
Full error / state run is at the end.
I have not done any more testing since I don't understand this error at all.
(Same issue for other file.managed)

**Setup**
(Please provide relevant configs and/or S

[2021-05-17 09:09] kkoppel commented on #59318
Same issue is present in v3003.
It can be reproduced on the command line (the ipset.present state calls ipset.check internally to check if the given entry is already present in the set):
[code]
Note that it does not matter if the port is given as just `443` or as `tcp:443` on the CLI, because the problem is actually coming up when _parse_member() is parsing entries reported by ipset. At least the

[2021-05-17 09:21] OrangeDog commented on #60193
The `cmd.script` (if that's what you mean) function has a `timeout` parameter, as do most functions in that module.

https://docs.saltproject.io/en/latest/ref/modules/all/salt.modules.cmdmod.html#salt.modules.cmdmod.script

[2021-05-17 09:22] OrangeDog commented on #60191
I reopened the stale issue.

[2021-05-17 09:22] #60191 closed

[2021-05-17 10:03] network-shark commented on #45370
/watch

[2021-05-17 12:14] IluckySi commented on #60193
Thank you very much for your reply~
 Just setting up timeout is not effective (it will remind us to time out, but it won't kill the process) and you need to set up use_vt as the followiing, but we look at the use_vt is a lab parameter, which is strange, but someone will raise this issue in 2017
https://github.com/saltstack/salt/issues/42696

![Uploading image.png…]()

  params = {
            'sou

[2021-05-17 14:57] krionbsd opened #60201 "[TEST FAILURE] MacOS proxy test failures"
MacOS proxty tests started failing each time:

`tests.pytests.integration.proxy.test_simple.test_can_it_ping`
`tests.pytests.integration.proxy.test_simple.test_list_pkgs`

https://jenkins.saltproject.io/job/pr-macosx-catalina-x86_64-py3-pytest/job/PR-60200/3/#showFailuresLink
https://jenkins.saltproject.io/job/pr-macosx-mojave-x86_64-py3-pytest/job/PR-60200/4/#showFailuresLink

[2021-05-17 15:07] waynew commented on #60201
Is this proxied to something on the same machine? We could at least check the PID to see if the minion actually exists.

It would also be helpful to include any minion logs in the failure 🤔

[2021-05-17 15:50] dmurphy18 commented on #60095
@nweidemann If you has a copy of the exact package which gave you the problem that would help in recreating what you experienced and I could investigate it further.  Otherwise, please consider closing this issue and opening a new issue if the problem reoccurs, and include the offending tar ball with the issue.

[2021-05-17 20:42] Mukrosz commented on #42801
Heya,
No way to specify an alternative installation directory via command line?

[2021-05-17 21:08] amikeallen opened #60203 "[BUG] 3003 fileclient can display basic credentials when missing 'handle' key"
### Description of Issue

If the return from `salt.utils.http.query()` does not contain the 'handle' key it will raise a new `MinionError` containing the unsanitized URL, potentially exposing basic credentials in the output. For example:

[code]

I'm not sure all the ways _into_ this scenario, however I noticed it in our environment for URL or HTTP errors when we declare `source_hash` for bad loca

[2021-05-17 21:34] matthew-williams opened #60204 "[BUG] Salt-SSH does not install dependencies on Ubuntu 20.04 or WLS2"
**Description**
Salt-SSH does not install dependencies on Ubuntu 20.04

**Setup**
[code]
So when you attempt to install salt-common:
[code]

Which leads me to attempt to manually install those:
[code]

**Steps to Reproduce the behavior**
[follow the instructions](https://repo.saltstack.com/#ubuntu)
`sudo apt-get install salt-ssh`

**Expected behavior**
Should install dependencies

**Screenshots**

[2021-05-18 00:17] sagetherage commented on #59792
@whytewolf @s0undt3ch is likely the best person to dig into this issue and he was assigned 10 days ago, but is still transitioning back from working on another project and this will not be his highest priority for Silicon, but he is assigned and will review soon.

[2021-05-18 00:23] sagetherage commented on #55269
@network-shark what version of Salt are you seeing this in or is it also in `master` - thanks for the extra help!

[2021-05-18 00:27] sagetherage commented on #60204
@matthew-williams what version are you trying to install?

[2021-05-18 02:08] sagetherage commented on #60049
Removing from the 3003.1 release - unable to replicate, but we will still looking into a fix for the next release cycle.

[2021-05-18 02:11] ScriptAutomate commented on #28742
## Debian / Raspbian `armhf` `salt` releases: Where are they?

For Debian/Raspbian `armhf`, these are currently created and can be found under:
- https://repo.saltstack.com/#raspbian

The directory listing path being:
- https://repo.saltproject.io/py3/debian/9/armhf/

I wasn't around for `debian.saltstack.com`, but I think that can now be broken down into:
- https://repo.saltstack.com/#raspbian
-

[2021-05-18 02:13] sagetherage commented on #60187
@OrangeDog has Postgres always supported this and not Salt or is this a new feature for Postgres? I was trying to find it, but I got lost. Wondering if I get eyes on it sooner if it is a recent addition (recent is definitely a relative term) and then get work done hopefully sooner.

[2021-05-18 02:23] sagetherage commented on #59764
@keithpjolley are you able to upgrade to v3002.6 and verify this is still an issue?

[2021-05-18 02:56] ScriptAutomate commented on #60186
A PR can be done in a similar form to https://github.com/saltstack/salt/pull/59404 or https://github.com/saltstack/salt/pull/58443:

- In `_OS_NAME_MAP`, add: `"manjaro-ar": "Manjaro ARM",` (note that this only takes the first 10 characters form the OS name)
- In `_OS_FAMILY_MAP`, add: `"Manjaro ARM": "Arch",`
- In `tests/unit/grains/test_core.py`, add a new test function very similar to what is s

[2021-05-18 03:15] sagetherage commented on #32980
@xyzst I have re-opened the stale issue but the other refers to this issue so unsure we need both?

[2021-05-18 04:12] #39564 closed

[2021-05-18 04:22] sagetherage commented on #49301
putting this back into triage as I think there may be some other issues that are similar and assigned to @garethgreenaway but I may be wrong.

[2021-05-18 04:27] sagetherage commented on #49834
the issue was originally created some time ago and sites older versions

[2021-05-18 04:29] s0undt3ch commented on #60204
I also followed, the [ubuntu install instructions](https://repo.saltstack.com/#ubuntu) on Ubuntu 20.04 docker container:
[code]
[code]
[code]
[code]
So, I'm unable to reproduce.

[2021-05-18 04:52] nkrishnakishor opened #60205 "[BUG] Unable to create aws ec2 instance salt cloud"
**Description**
Unable to create aws ec2 instance with required details provided

**Setup**
Below are the require files under ```/etc/salt/cloud.providers.d/``` and ```/etc/salt/cloud.profiles.d/```

[code]

[code]

**Steps to Reproduce the behavior**
Below is the error while trying to spin the instance

[code]

**Expected behavior**
VM sould have been created in the AWS once the command ```sudo s

[2021-05-18 05:07] s0undt3ch commented on #60184
[code]
<details>
<summary>Installed Salt Grains Information</summary>
<pre>
# salt-call --local -g
local:
    ----------
    SSDs:
        - dm-1
        - nvme0n1
        - dm-4
        - dm-2
        - dm-0
        - nvme1n1
        - dm-3
    biosreleasedate:
        12/06/2019
    biosversion:
        N1EET87W (1.60 )
    cpu_flags:
        - fpu
        - vme
        - de
        - pse

[2021-05-18 05:58] grinapo commented on #49834
@sagetherage: Same often (but not always?) happen in the recent versions.

(A little bit off the track is to mention that minion is really bad in starting recently, especially around upgrades, but not exclusively. Even debug level log does not offer a hint: it hangs pretty early somewhere before actually firing up the queueing lib and its networking. I have to try to trace it... when it happens, j

[2021-05-18 06:16] s0undt3ch commented on #60189
Issue submitted in https://saltstackcommunity.slack.com/archives/C7K04SEJC/p1620733260393800

Without actually setting up a redis server, I'm able to have salt load the module properly
<details>
<summary><tt>/etc/salt/master.d/redis.conf</tt></summary>
<pre>
cache: redis
cache.redis.host: localhost
cache.redis.port: 6379
cache.redis.db: '0'
cache.redis.password: my pass
cache.redis.bank_prefix: #B

[2021-05-18 07:44] OrangeDog commented on #60187
Looks like it was added in 8.4, so twelve years ago.
https://www.postgresql.org/docs/8.4/sql-grant.html

[2021-05-18 07:49] OrangeDog commented on #60205
The profile definition is supposed to contain a `provider` key. I think you've called it `driver` instead of some reason.

[2021-05-18 09:04] marbx commented on #59064
Same error in 3002.6 Minion

[code]

[2021-05-18 09:05] marbx commented on #59064
Please continue

[2021-05-18 09:05] marbx commented on #59064
Same error in 3002.6 Minion

[code]

[2021-05-18 09:17] myii commented on #60188
As mentioned in [Slack](https://saltstackcommunity.slack.com/archives/C7KKN9P6W/p1621328831003600):

I'm wondering if this should actually be considered to be a bug rather than a feature request.  We've started seeing failures across various formulas and I did a test run to determine that 32 of around 100 formulas are now failing: https://saltstack-formulas.zulipchat.com/#narrow/stream/239693-CI/t

[2021-05-18 09:55] nweidemann commented on #60095
The package is

source file for kibana: https://artifacts.elastic.co/downloads/kibana/kibana-7.12.1-linux-x86_64.tar.gz

I thought you had the same issues with this package as I experienced.

[2021-05-18 09:59] baby-gnu commented on #60188
I agree this is a bug.

The `salt` special variables are not passed in successive import.

I made a little test where `direct-import` is working but not `indirect-import`:

- `/srv/salt/foo/init.sls`
[code]
- `/srv/salt/foo/direct-import.sls`
[code]
- `/srv/salt/foo/indirect-import.sls`
[code]
- `/srv/salt/foo/libsaltcli.jinja`
[code]
- `/srv/salt/foo/test.jinja`

[code]

<details><summary>DEBUG l

[2021-05-18 10:08] baby-gnu commented on #60188
It works if I modify `/srv/salt/foo/test.jinja` like this:

[code]

[2021-05-18 10:09] network-shark commented on #60061
@dmurphy18 @sagetherage Any news on this ? Thank you !

[2021-05-18 11:53] nkrishnakishor commented on #60205
@OrangeDog I have updated file under `profiles` as below

[code]
It is throwing error as below.
[code]

[2021-05-18 12:20] OrangeDog commented on #60205
I'm guessing because you told it to use `ec2-us-east-1-private` but only defined `ec2-us-west-2-private`.

[2021-05-18 12:40] AxisNL opened #60206 "salt-minion 3003 not starting with system.daemon python error"
### Description of Issue
Hey, I'm managing a whole bunch of Ubuntu machines, and all of a sudden (I think after an automatic upgrade), salt-minion won't start anymore on my minions:

[code]
All machines are running Ubuntu 20.04.2 LTS, full updated.

On other machines running all the same versions, everything works fine:

[code]

I removed the salt-packages, rm -rf /etc/salt, and reinstalled, same

[2021-05-18 13:36] s0undt3ch opened #60207 "[BUG] Ansiblegate is not usable after Salt 3001 release"
**Description**
Prior to the 3001 release of salt, the ansiblegate module worked by adding the ansible functions into the loaded salt module as a wrapper.

[code]
Although there's a traceback, the ansible modules were properly injected into Salt's `ansible` module.

Now, for Salt 3001+
[code]

[2021-05-18 15:20] AxisNL commented on #60206
versions on faulty machine (same as on other machines)
[code]

[code]

[2021-05-18 15:24] rasstef commented on #59205
I simplified my setup as much as I could. With that, reproduce the bug with the following simple files:

[code]

Then install the packages and the error pops up immediately:

[code]

With saltstack `3002.1+ds-1` the error does not show up.

[2021-05-18 15:29] dmurphy18 commented on #60095
That is the exact package I used since you referenced it above and had no issue with it.  Wonder if you had a bad download, did you check the sha sums for what you downloaded ?

[2021-05-18 15:33] rasstef commented on #59205
This zip contains the config files list above:
[salt-bug.zip](https://github.com/saltstack/salt/files/6502506/salt-bug.zip)

[2021-05-18 15:33] rasstef commented on #60123
To reproduce the bug just use the following simple configuration:

[code]

Then install the packages and the error pops up immediately:

[code]

No such error with Saltstack `3002.1`.

This zip contains the config files list above:
[salt-bug.zip](https://github.com/saltstack/salt/files/6502498/salt-bug.zip)

[2021-05-18 15:47] rasstef commented on #59205
I have added a description how to reproduce the bug to the thread.

From: Daniel Robbins ***@***.***>
Reply to: saltstack/salt ***@***.***>
Date: Tuesday, 11. May 2021 at 02:36
To: saltstack/salt ***@***.***>
Cc: "Bogun, Stefan" ***@***.***>, Comment ***@***.***>
Subject: Re: [saltstack/salt] grains: jinja2.exceptions.UndefinedError: 'dict object' has no attribute 'os' when rendering Pillar (#5920

[2021-05-18 16:02] OrangeDog commented on #60206
`--versions-report` also being broken is annoying.
I assume the system python is still 3.8.5?

[2021-05-18 16:04] s0undt3ch commented on #60207
Broken in https://github.com/saltstack/salt/commit/92438882a94cbd4b1f1ec94eeda0bf1a35b98d27#diff-519146c38c0ed7bc961ffc5f408d3dd380abb8760d48e839743dbd38dc28ba15R323

Fixed locally. Will either submit a separate PR or will join it with the fix for https://github.com/saltstack/salt/issues/59792

[2021-05-18 16:12] dmurphy18 commented on #60183
@53845714nF Not sure if Salt supports fido2, checking but not finding support for it in the code.

[2021-05-18 16:38] dmurphy18 commented on #60183
@53845714nF Currently Salt does not support fido2 from https://fidoalliance.org/fido-authentication.  You could turn this issue into a Feature Request (Label Feature) if desired, or Salt would be more than happy to accept contributions adding fido2.

Please consider closing this issue or turning it into a Feature Request, given that fido2 is currently unsupported in Salt

[2021-05-18 16:45] nkrishnakishor commented on #60205
Thanks @OrangeDog. It helped to rectify the issue..... able to spin the VM but its unable to establish the connection. Below is the error log, can you help on this or point to any reference doc about the issue. Moreover Salt is trying to SSH over instance private IP rather than public IP.

[code]
so on... I have checked the security group where all ports are allowed from default security group whi

[2021-05-18 17:05] garethgreenaway commented on #60206
@AxisNL Thanks for the report.  To make sure we're able to fix this are you using the Salt packages provided by the Salt Project or the packages provided by Ubuntu?

[2021-05-18 17:10] garethgreenaway commented on #60205
@nkrishnakishor It appears that salt-cloud is attempting to connect to the private IP address of the AWS instance and doesn't have the ability to connect.  You'll need to have AWS provide a public IP address for your instances and tell salt-cloud to use the public IP or use a VPN so that salt-cloud has access to the private IP.

[2021-05-18 17:12] cmcmarrow commented on #60157
@dev4lif3 Looks like we are logging and `error` for attributes that are optional when is supper ignoring. Looks like we just need to clean up the log like you said.

[2021-05-18 17:12] bryceml commented on #28742
The binary-i386 folder was just there so you don't have to put `arch=amd64` in the .list file since a lot of amd64 machines also have i386 enabled too, mostly so they can run 32 bit programs.  As far as I'm aware, centos/rhel 6 has been the only one with i386 support in the past 3 years.

[2021-05-18 17:43] waynew commented on #60198
Hey @1ricardo thanks for opening this issue! Turns out it's a problem with our docs not clearly explaining what a Saltfile *is*.

The Saltfile isn't a config file - it allows you to provide command line args without providing command line args. So if you're constantly calling something like:

[code]

You can avoid having to provide all those extra args by creating a Saltfile

[code]

Then you only

[2021-05-18 17:44] #60198 closed

[2021-05-18 17:50] dmurphy18 commented on #60061
@network-shark It looks to be related to #59690 and that is a loader issue, so have to fix that first and then re-check that it resolves this issue.  Fixing loader issues takes time due to not wanting to break that, testing etc., still under investigation as to the most appropriate solution.

[2021-05-18 18:16] marbx commented on #53809
No longer an issue in  Minion version 3002.6

[2021-05-18 18:16] #53809 closed

[2021-05-18 18:36] marbx commented on #59070
Never noted again. If I observe it again, will use `-l trace`

[2021-05-18 18:43] marbx commented on #53890
Since `multithreading: False` improvements, no longer collected

[2021-05-18 18:43] #53890 closed

[2021-05-18 18:45] marbx commented on #51730
Unsubscribing because of `show_changes: False`

[2021-05-18 19:00] AxisNL commented on #60206
That last command seems to give output! It is identical to the working node though!

I'm using the packages from the salt repo (https://s3.repo.saltproject.io synced to local mirror on our air-gapped networks.

[code]

[2021-05-18 20:11] garethgreenaway commented on #57274
Thanks for the update.  Closing this one out.

[2021-05-18 20:11] #57274 closed

[2021-05-18 20:21] ggiesen opened #60210 "[DOCS] Document --saltfile command-line option"
**Description**
The --saltfile option is poorly documented.

[code]

What is a Saltfile? How do I use one?

The naming of the file tends to suggest it is some sort of config file, when in fact it is mere a "macro" to supply CLI options

**Suggested Fix**
We should probably clean up the documentation here:

https://docs.saltproject.io/en/latest/topics/ssh/index.html#define-cli-options-with-saltfile

[2021-05-18 21:52] dmurphy18 commented on #49834
@grinapo Back working on this issue for you.  @sage was referring to 2016 and 2018 are EOL and no longer under support.  I am trying to duplicate this on Debian 10 (current up to date), with upgrading from Salt 3002 to 3003.

Wondering if you are using Debian 9 or 10, and still have systemd disabled and using sysvinit-core, sysv-rc and init.  Trying to duplicate exact conditions that you are exper

[2021-05-18 23:41] auphofBSF commented on #51181
This would be very useful  , thank you if it can be done

[2021-05-18 23:55] bryceml commented on #28742
Also, for raspbian on arm64, the vast majority of the packages come straight from debian repos, with just a few packages added on from the raspbian repos on top.

[2021-05-19 00:17] piterpunk commented on #59170
Ok, I thought this should be a good way to kill a couple issues with a single patch and just begun my tests. Did the test with Debian 10 master and minion and an Ubuntu 20.04 minion.

For both cases I installed Salt with this procedure:
[code]
In the minion-only machine the last line ommits the `-M`

To have the `x509` module working I also had to install the package `python3-m2crypto`.

To do the

[2021-05-19 00:20] piterpunk commented on #59170
@krionbsd as you are assigned to #52167 and these issues seems to be related.

[2021-05-19 00:34] felixmarch commented on #59758
Hi @sagetherage I refactored the codes ([commit 3](https://github.com/felixmarch/salt/commit/ea9456d912c0cb5f70952762edbecb7dccbfcf85)) ([commit 4](https://github.com/felixmarch/salt/commit/2d682e92c1b38c3ab07fc17329bc26d3db482901)).
And thanks @waynew, he also gave some input on the ([commit 3](https://github.com/felixmarch/salt/commit/ea9456d912c0cb5f70952762edbecb7dccbfcf85)) there.
Can you ple

[2021-05-19 01:11] dmurphy18 commented on #49834
BTW: Will be trying this on Devuan 3.1 tomorrow

[2021-05-19 03:29] Mukrosz commented on #42801
@twangboy Thank you very much!

[2021-05-19 04:00] nkrishnakishor commented on #60205
can u help me how to setup the requirements....any doc link towards that ?

[2021-05-19 04:11] Mukrosz commented on #42801
Please forgive me if this is a trivial question: Would I install salt-minion as follow:
`Salt-Minion-3003-Py3-AMD64-Setup.exe /master=my_master /minion=minion_fqdn /start-minion=1 /install_location="D:\salt" /S`

[2021-05-19 06:10] nweidemann commented on #60095
You have the same issue, that the user/group parameters of the archive.extracted state module are ignored?! Or am I wrong now?

[2021-05-19 08:50] nkrishnakishor opened #60212 "Saltify - Cloud instance already exists whereas it is newly created"
**Description**
I have an Windows AWS instance and want to saltify it, configured required conf files and tried to run the command it is throwing error failed to start salt on host windows-server-2019.

Both the master and Windows minion are in same region.

**Setup**
Below are the profile and provider files

[code]

**Steps to Reproduce the behavior**
ubuntu@ip-172-31-34-78:/shared-path$ sudo sal

[2021-05-19 09:59] rasstef commented on #59205
Ok, I wasn't explaining it at full lengths:

- `state.apply` is executed automatically when the minion is started (or the key added) triggered by the event `salt/minion/*/start`, this is defined in `/etc/salt/master` and the reactor in `/srv/reactor/initial_state_apply.sls`.
- the error occurs in the `state.apply` run in the reactor only, but **not** when `state.apply` is executed on the command l

[2021-05-19 10:07] rasstef commented on #59205
Ah, this reactor is already sufficient to trigger the error:
[code]

Just restart the minion and there we go...

[code]

[2021-05-19 10:44] eliasp opened #60213 "[BUG] "schedule.add" on Master fails"
**Description**
Trying to add a scheduled job to the Master (e.g. a scheduled Orchestration) fails.
The `schedule.add` function executed by the `salt.cmd` runner just returns `False` and the comment "Failed to add job test0815 to schedule.".
Listing scheduled jobs also shows no change.

**Setup**
- have a Master running
- have a shell ready to execute `salt-run`

**Steps to Reproduce the behavior*

[2021-05-19 12:32] AxisNL commented on #60206
good node:

[code]

bad node:

[code]

After seeing this, I removed the systemd package (no idea how that got installed), salt-minion suddenly works fine! So it looks like salt was using the systemd package instead of the systemd-python package.

This machine was clean installed a few weeks back, running graylog (+mongodb +elasticsearch). Perhaps one of those packages installed the systemd package

[2021-05-19 14:55] sagetherage commented on #60203
I believe this is a regression - something we have fixed previously and isn't working again - at least in version 3003. We will take a look in this release cycle for code name `Silicon` target date is July 2021

[2021-05-19 14:56] sagetherage commented on #60189
User stated on 2021-MAY-18: Hi.. I was able to resolve it actually. There was a problem with redis python version. And there was a change in the way lists are read in redis ..
I updated it to the latest version and it worked..

Closing

[2021-05-19 14:56] #60189 closed

[2021-05-19 15:01] dmurphy18 commented on #60095
@nweidemann Yes, the problem is with the underlying command on the OS, in that, we call down to the OS to perform the command, and Salt is limited by the command's functionality on the OS.

I too experienced the same owner and group being ignored by tar on Centos 7, and also on Ubuntu 20.04.2,
But I believe these options are only valid during creation of a tarball and not during it's extraction.

[2021-05-19 15:31] 53845714nF commented on #60183
@dmurphy18
It is not really a Feature request. It is much more a bug in rolling out SSH public keys. As of SSH 8.2+ fidio2 is supported.
The fidio2 support does not really concern Salt.

[2021-05-19 16:28] rasstef commented on #59205
I could simplify the code that causes the exception to occur even more. Please find it here:
[saltstack_3002.6.zip](https://github.com/saltstack/salt/files/6510304/saltstack_3002.6.zip)

Just restart the minion and have a look into `/var/log/salt/master`.

It all depends on the grain defined in the first line of `/srv/pillar/base/consul.sls`.
For grains just as `oscodename`, `fqdn_ip4`, `cpuarch`

[2021-05-19 16:40] prensing commented on #59059
Still getting this with version 3003.  Here is a run with just the command line:

[code]

If you know of something to run which will help diagnose this (python, powershell), happy to help.

[2021-05-19 17:07] sagetherage commented on #28742
Many of these packages were created by the community some time ago and the team does not have the manpower to create all of these, but we welcome community packagers - if anyone on this issue or others are interested please contact us at saltproject@vmware.com

[2021-05-19 18:21] #54224 closed

[2021-05-19 18:51] #59647 closed

[2021-05-19 18:52] #59378 closed

[2021-05-19 18:52] #59426 closed

[2021-05-19 18:53] #59419 closed

[2021-05-19 20:24] sagetherage commented on #60187
Oh, well, we really should get on that!

[2021-05-19 20:36] dmurphy18 commented on #60183
@53845714nF
[code]
Can you point me to where there is a statement in Salt Project doc's that states fido2 is supported - it needs correction if it is there.

If the statement is because SSH 8.2+ supports fido2, then there is an issue in the version SSH that Salt is supporting.  Looking for more context, since I have not been following SSH lately, as focused on other UNIX platforms.

[2021-05-19 20:44] dwoz opened #60215 "[BUG] salt.utils.crypt can use wrong crypto library"
**Description**

In the `salt.crypt` module we use some logic to determine which crypto library we are using. The logic tries M2Crypto, PyCryptodomex, then PyCrypto. The imports in `salt.utils.crypt` do not try to import M2Crypto or PyCryptodomex. This can have negative side effects. I observed code in the `salt.utils.vt.Terminal` stuck after forking because it was calling `Crypto.Random.reinit` v

[2021-05-19 20:53] dwoz opened #60216 "[BUG] salt.util.cloud connections hang indefinitely."
**Description**

If a host or network goes away during a cloud deployment ssh connections to the box can be left in a hung state indefinitely.

**Steps to Reproduce the behavior**

Run 50+ deployments using the saltify cloud provider when some of the hosts might go away before the deployment finishes.

**Expected behavior**

We should add `ServerAliveInterval` and `ServerAliveCountMax` options to

[2021-05-19 20:54] dwoz commented on #59902
This issue is related to #59903

[2021-05-19 20:54] dwoz commented on #59901
This issue is related to #59903

[2021-05-19 20:56] dwoz commented on #59903
This issue is also related https://jira.eng.vmware.com/browse/SSC-379

[2021-05-19 21:00] myii commented on #60188
For the Formulas' team, we're rebuilding our CI images to force the downgrade of `Jinja2` from `3.0.x` to `2.11.3`.  That's got our CI working again.  Obviously, this is only a workaround until the result of this feature request (bug report?) is clear.

[2021-05-19 21:31] waynew commented on #59758
@felixmarch can you go ahead and open a PR? Then we can review it there :+1:

[2021-05-19 21:36] #59684 closed

[2021-05-19 21:37] sagetherage commented on #59684
https://saltproject.io/repo-and-bootstrap-changes/

[2021-05-19 21:38] #59356 closed

[2021-05-19 21:39] 53845714nF commented on #60183
I expect to be able to distribute my ssh keys no matter what format they have.
And the key is in a valid ssh format. That is the point.

Where in the documentation are the formats that are not supported?

The normal Debian repositories still have an old ssh, it has to be installed from the backports.

Here is a simple state that does it:
[code]

But it doesn't really matter. With some operating sy

[2021-05-19 21:39] sagetherage commented on #49636
This has been updated: https://saltproject.io/blog/feed/

[2021-05-19 21:39] #49636 closed

[2021-05-19 21:49] bryceml commented on #58767
Any further issues relating to this should be added to this issue: https://github.com/saltstack/salt/issues/59982

[2021-05-19 22:10] dmurphy18 commented on #60183
@53845714nF You reported Debian 10, not Arch and Alpine. Can only test on what is reported.
Will look at a version of Debian 10 with backports enabled, but NOTE, not all users of Debian enable backports, this has been an issue in the past where organizations using Debian did not use backports and could not simply upgrade to receive the fix, thus resulting in work-arounds.

Lastly, valid ssh format

[2021-05-19 22:23] #60012 closed

[2021-05-19 22:25] ggiesen commented on #60177
@garethgreenaway

Another issue:

When the SSH session is dropped, it does not reconnect until the proxy is restarted:

[code]

[code]

[code]

Logs from when I disconnect the session:

[code]

[code]

Log from minion while executing above:

[code]

[2021-05-19 22:28] garethgreenaway commented on #49115
@polak785 Apologies for the delay on this one.  The issue is that when only two permissions are specified in the initial state run and the third is left as an empty string, on the second run the data returned from RabbitMQ only includes the non-empty permissions that were specified.  The change in the PR that is now linked checks that the returned data has three values, adding empty strings when n

[2021-05-19 22:42] ggiesen commented on #60177
Note that using `salt router1 napalm.reconnect` does successfully restart the connection. I also tested this with a proxy minion to be sure, and it appears we have the same behaviour with a regular proxy minion as well. I don't recall this ever happening on 3001. Is it possible your patch broke the auto-reconnect?

I'll try spinning up another unpatched vagrant lab to confirm.

[2021-05-19 22:43] adammike commented on #60021
Fix PR has been accepted and will be in Silicon. Issue closed!

[2021-05-19 22:43] #60021 closed

[2021-05-19 22:48] 53845714nF commented on #60183
@dmurphy18 Yes, my salt master is a Debian 10 with the SSH version OpenSSH_8.4p1.
The other operating systems referred to my Minions, they can use different operating systems.
I don't think my Salt master is particularly old.

This is the reason for my Issue.

[2021-05-20 00:10] dmurphy18 commented on #60183
@53845714nF Ubuntu 20.04.2 has ssh v8.2, so this definitely has to be fixed, just ordered a YubiKey 5 NFC to ensure all of this functions as expected.  So have to enhance support of ssh to ensure fido2 is handled correctly since now in stable OS with LTS.

[2021-05-20 01:19] #60206 closed

[2021-05-20 02:30] felixmarch commented on #59758
Yep, PR #60218 created. Thanks :handshake::smile:

[2021-05-20 03:45] ggiesen commented on #60177
Unpatched 3003 still exhibits same behaviour. So probably not deltaproxy related. Going to revalidate on 3001 for my own sanity ;)

[2021-05-20 03:53] ggiesen commented on #60177
Okay, I'm not crazy. Tried on 3001 and the regular proxy minion will reconnecT:

Kill connection:
[code]

[code]

Logs from salt-proxy confirms disconnect:
[code]

User is definitely disconnected from router:
[code]

A few tens of seconds later:
[code]

Amd session and is reconnected:
[code]
Will try with 3002 next and then 3003 again.

[2021-05-20 04:07] ggiesen commented on #60177
Confirmed 3002.6 works properly as well:

Session is connected:
[code]

Kill connection:
[code]

Logs from salt-proxy confirms disconnect:
[code]

User is definitely disconnected from router:
[code]

A few tens of seconds later:
[code]

Amd session and is reconnected:
[code]

[2021-05-20 04:18] ggiesen commented on #60177
Reconfirmed 3003 is broken. It's actually this bug: #60025 (and it's not cosmetic)

[2021-05-20 04:35] ggiesen commented on #60025
So after doing some testing with the deltaproxy in #60177 , and then going back to unpatch 3003, I can confirm this is a real issue and not merely a comestic one.

Start the proxy minion:
[code]

Proxy minion is connected:
[code]

Logs on proxy minion show disconnect:
[code]

We see user is disconnected on router1:
[code]

Some tens of seconds later and proxy minion attempts to reconnect and fails

[2021-05-20 06:58] max-arnold opened #60219 "[BUG] On 3003 grains.get returns an empty string when called from minion's id_function"
**Description**

Since salt 3003, the `id_function` minion option that utilizes grains (useful for generating unique minion IDs based on hardware properties, especially with custom grains) returns an empty string.

[code]

**Steps to Reproduce the behavior**

1. Install salt-minion
2. Stop it: `service salt-minion stop`
3. Remove the cached minion id: `rm -f /etc/salt/minion_id`
4. Add the followi

[2021-05-20 07:03] nweidemann commented on #60095
Ok, I think I have to accept this behavior.

Do not understand why it works with the permissions and a self created tarball archive, which in contrary to "the parameters are only vaild at creation not on extraction", but I see that the behavior of Salt ist the same like on OS layer.

So that should be an issue with the tarball itself.

I will close the issue.

thanks for your support.

[2021-05-20 07:03] #60095 closed

[2021-05-20 10:44] rasstef opened #60220 "[BUG] pkgrepo.managed creates multiple identical lines in sources.list.d file for Ubuntu"
**Description**
[code]

This code in a state sls file causes the same line to be repeated in `/etc/apt/sources.list.d/*.list`:

[code]

Every state.apply adds a new identical line.

**Setup**
[code]

**Steps to Reproduce the behavior**
[code]

every `state.apply` adds a new identical line to the `sources.list.d` file

**Expected behavior**
Only one line of the same kind in the `sources.list.d` fil

[2021-05-20 11:33] 53845714nF commented on #60183
Great :+1:

[2021-05-20 13:52] IluckySi commented on #60193
Why doesn't it work on Windows Server? On windows server， It only prompts timeout, but it doesn't kill the process. It's strange

[2021-05-20 14:20] ggiesen commented on #60188
If/when this gets addressed, could we get #35398 addressed at the same time?

[2021-05-20 15:47] dmurphy18 commented on #60025
@ggiesen Thanks for that great debug of issue, looks like it is not related to what I originally thought, given it was working and the problem is in re-connect or similar

[2021-05-20 15:58] QuasiDev commented on #48763
I am also experiencing this in my minions on Windows 10 running 3001 and master on 3001.

[2021-05-20 16:01] ggiesen commented on #60025
@dmurphy18

Just to be clear, the message also appears even proxy minion is started up and connected properly. It just seems to only impact the ability for the proxy minion to reconnect.

[2021-05-20 16:30] rawkode opened #60222 "[BUG] S3 Module / State Configuration Not Aligned"
**Description**

The S3 module expects the s3 configuration to be:

[code]

Code: https://github.com/saltstack/salt/blob/master/salt/modules/s3.py

However, when using `s3://` as a file source - `s3_opt` uses `['s3']['key']`

https://github.com/saltstack/salt/blob/4f3cb36955d84c6793efcbeabf53963067922d90/salt/fileclient.py#L547

**Setup**

This means that a backup and restore state like this will

[2021-05-20 17:19] Waaaaat commented on #60186
@ScriptAutomate and anyone else, I'm really sorry, but i have no clue how a PR works and what i need to change in the code. I will inform myself and maby i get time to try it myself, but i usually don't write code and I do not want to Include any bugs or memory leaks in my PR, so if anyone else is able to help out, and test this for him self i would be very grateful.

[2021-05-20 19:19] dmurphy18 opened #60223 "Add capirca to Arista native minions"
Add capirca to Arista native minions

[2021-05-20 19:21] dmurphy18 opened #60224 "[BUG] Add capirca and napalm to Juniper native minion"
Add capirca and napalm to Juniper native minion

[2021-05-20 19:23] dmurphy18 commented on #60224
During development of the Juniper native minion, attempts were made to include napalm but issues were run into.  This was over a year ago so details are missing.

However will retry and log details of issue, if memory is correct, there were conflicts with Junos (FreeBSD)

[2021-05-20 20:54] craigafinch commented on #58587
@garethgreenaway I have run into numerous other configuration files in which I have faced this exact problem. We can't create a custom Salt module for every application config file. It's a really common use case to ensure that a specific line is present (but not duplicated) in specific location in a text file. I have struggled with using file.replace and some complex regular expressions to achieve

[2021-05-20 23:12] dmurphy18 commented on #54145
@pavel-z1 The main problem is related to not using ext_pillar in order to get saltclass rendered, as documented in https://docs.saltproject.io/en/latest/ref/pillar/all/salt.pillar.saltclass.html#saltclass-pillar-module.

taking your example of pass.sls but with the gpg issues removed and crypted_secret a text string 'dog'.
Without use of ext_pillar, nothing is rendered, with ext_pillar rending was

[2021-05-21 04:07] Timmeeh opened #60227 "[DOCS] `dry_run` in docstring of `file.blockreplace` state, but not implemented"
**Description**
`dry_run` kwarg is documented in docstring of `file.blockreplace` state, but not implemented

**Suggested Fix**
Remove `dry_run` from the docstring

**Type of documentation**
Salt Repo

**Location or format of documentation**
https://github.com/saltstack/salt/blob/v3003/salt/states/file.py#L5614
https://docs.saltproject.io/en/3003/ref/states/all/salt.states.file.html#salt.states.fi

[2021-05-21 05:52] marty-macfly commented on #53197
Hello,

@sagetherage can we have some advice on how to implement test so we can merge this PR, we are currently using that PR by applying the patch in our build process and it's running in production since 10/2020 without issue on our side.

Regards,

[2021-05-21 10:01] luvncoco commented on #54449
still getting this issue with
      - python3-distutils
      - python3-docker
[code]

[2021-05-21 15:08] dmurphy18 commented on #38871
Removed Packaging label since this is not a packaging issue but relates to how Salt core uses commands internally (too many assume root and work-away)

[2021-05-21 16:29] dbellavista opened #60232 "[BUG] network.default_route: 'anycast' does not appear to be an IPv4 or IPv6 network"
**Description**
I have got an error (**ValueError: 'anycast' does not appear to be an IPv4 or IPv6 network**) when executing network.default_route:

<details><summary><code>salt minid network.default_route</code></summary>

[code]

</details>

**Setup**

**Steps to Reproduce the behavior**

**Expected behavior**
Should not throw

**Screenshots**

**Versions Report**
<details><summary>salt --versio

[2021-05-21 16:54] cmcmarrow commented on #57501
This PR looks to be the fix, https://github.com/saltstack/salt/pull/51262, if not please reopen the ticket

[2021-05-21 16:54] #57501 closed

[2021-05-21 19:36] dmurphy18 commented on #60025
Duplicated this with Arista EOS too, investigating

[2021-05-21 19:54] dmurphy18 commented on #60025
Understand the issue and should have a fix next week.

[2021-05-21 21:48] sagetherage commented on #60224
It can't be a bug and an enhancement so pick one.

[2021-05-21 21:49] sagetherage commented on #60223
It can't be a bug and an enhancement, pick one.

[2021-05-21 22:27] #58975 closed

[2021-05-21 22:34] sagetherage commented on #60201
Yes, good idea to include the logs in the failure - I will keep that in mind as well. This was fixed and is failing again. Wayne will put in some more diagnostics to find the root cause.

[2021-05-21 22:38] sagetherage commented on #60147
Looks like this hasn't been passing since 2021-APR-27 https://jenkins.saltproject.io/job/pr-centos-7-x86_64-py3-cloud-pytest/job/master/87/

[2021-05-21 22:41] matthewsht commented on #58125
I've just hit this same bug on Centos-7, salt version 3002.5

Reading the code at https://github.com/saltstack/salt/blob/4f3cb36955d84c6793efcbeabf53963067922d90/salt/modules/system.py#L651,
There an "@depends()" that implies to me this function should only exist on NILRT systems - not redhat family.

Instead, could we make this feature available to all salt systems and just modify the NILRT_REBOO

[2021-05-21 22:56] sagetherage commented on #59675
Looks like these are passing now

[2021-05-21 22:56] #59675 closed

[2021-05-21 23:00] sagetherage commented on #59476
These are still timing out @twangboy

[2021-05-21 23:02] sagetherage commented on #59884
currently these are green, closing

[2021-05-21 23:02] #59884 closed

[2021-05-21 23:06] sagetherage commented on #59496
@s0undt3ch is this still occurring on Mac? I think it is.

[2021-05-21 23:15] sagetherage commented on #53197
@marty-macfly
We hold on Tuesdays from 1-2 pm Mountain and Thursdays from 8-10 am Mountain Test Clinics with @waynew on [Twitch](https://www.twitch.tv/saltprojectoss) and this is the [schedule](https://www.twitch.tv/saltprojectoss/schedule). Wayne can help even if there isn't great test coverage, today. He is pretty amazing!

[2021-05-21 23:59] sagetherage commented on #53706
@twangboy @xeacott let's re-triage this issue please

[2021-05-22 00:03] sagetherage commented on #54484
@xeacott is this a bug or a feature - they are mutually exclusive. Pick one.

[2021-05-22 00:16] sagetherage commented on #58145
@garethgreenaway let's review this in triage next Tuesday - around "order" so  I have created a label as such

[2021-05-22 00:29] sagetherage commented on #60205
[salt cloud ec2 docs](https://docs.saltproject.io/en/latest/ref/clouds/all/salt.cloud.clouds.ec2.html)

[2021-05-22 00:30] sagetherage commented on #60205
AWS has great documentation if that is what you mean, DuckDuckGo gave me this: https://docs.megaport.com/cloud/megaport/aws/aws-public-ip/ as one example

[2021-05-22 00:31] sagetherage commented on #60205
let myself or Gareth know if this doesn't help you by mention is in the comments, I am closing this issue for now.

[2021-05-22 00:31] #60205 closed

[2021-05-22 04:56] fangpsh opened #60235 "[BUG]Jinja rendering result is weird"
**Description**
When rendering the ifcfg file , the mac address is converted to an integer.

**Setup**
default config.

**Steps to Reproduce the behavior**
`ifcfg-device.jinja`:
[code]

`network.sls`:
[code]

**Expected behavior**
I hope to get a conf like the following:
[code]

**Screenshots**
but I got:

`/tmp/test.conf`:
[code]

Interesting, if you change an a-f character to the mac addr, it wi

[2021-05-22 12:30] dwoz commented on #56273
This bug could potentially happen for any batch commands run. `salt.cli.Batch.run` is creating multiple generators (via `salt.client.LocalClient.cmd_iter_no_block`) which call `salt.utils.event.SaltEvent.get_event` on the same `SaltEvent` object. Each of these get_event calls has a different match clause. We might be iterating over a generator of one batch job when a return from another batch job

[2021-05-22 13:25] xmsk commented on #60192
I realized that I can just pass in the `decode_type` parameter to explicitly request plain text decoding. I tested it locally and it seems to work fine now.

[2021-05-22 14:51] damon-atkins commented on #32805
@saltstack/team-core  please re-open.

[2021-05-22 22:45] arizvisa commented on #54484
ftr, op's implementation is at https://github.com/gigi206/VSCode-Anywhere/blob/2a55aec128ee9234b7fa6d3f9610e4a5878d1403/_modules/scoop.py#L81, and it's based on the implementation at https://eklausmeier.wordpress.com/2015/10/27/working-with-windows-junctions-in-python/.

[2021-05-23 18:08] lukasraska commented on #60235
@fangpsh This is actually how YAML behaves:
[code]

I assume the exact behaviour would be defined somewhere in YAML language specification.

The safest thing would be wrapping the value in quotes, which I would do for all values that you expect to be string (the same thing would be false vs "false"), like this:
[code]

[2021-05-23 20:38] dwoz commented on #56273
Turns out we are subscribed to the events and the single event object *is* caching returns for the jobs we are looking for but we're also calling `close` on the event object which will discard any cached events. This behavior was introduced by https://github.com/saltstack/salt/commit/c59a5adb0d0480bbe2ed42c361d95fac2af2718b.

[2021-05-24 01:11] dtmateojr commented on #57750
Just a "me too" comment to confirm that the issue persists in 3000.9.

[2021-05-24 02:02] #60235 closed

[2021-05-24 12:45] Ch3LL commented on #58125
Thats what the proposed PR here https://github.com/saltstack/salt/pull/58131 is doing.

[2021-05-24 15:02] sblaisot opened #60239 "[BUG] VM creation failing on 3003 with salt-cloud and openstack backend"
**Description**

After migration from salt 2019.2 to salt 3003 VM creation using salt-cloud with openstack backend fail.

**Setup**
<details><summary>`/etc/salt/cloud.provider.d/xxx.conf`</summary>

[code]
</details>

<details><summary>`/etc/salt/cloud.profile.d/xxx.conf`</summary>

[code]
</details>

<details><summary>`/srv/cloud-map/test.map`</summary>

[code]
</details>

**Steps to Reproduce th

[2021-05-24 15:32] provonet opened #60241 "[BUG] inotify beacon fails with AttributeError: 'list' object has no attribute 'get'"
**Description**
The inotify beacon fails after sending an event and spams the logfile with python stack traces.

**Setup**
[code]

**Steps to Reproduce the behavior**
1) salt minion1 beacons.add watch_important_files "[{'beacon_module': 'inotify'}, {'disable_during_state_run': true}, {'files': {'/opt/newdir/do-not-touch': {'mask': ['modify']}}}]"
2) modify /opt/newdir/do-not-touch

**Expected beha

[2021-05-24 15:48] provonet commented on #60241
the following patch solves the reported bug:

[code]
but maybe config should always by treated as a list instead of a dict

[2021-05-24 15:57] uhthomas opened #60242 "[BUG] Graceful exit throws an exception"
**Description**
Salt throws an exception when gracefully terminating.

**Setup**
Single master/minion with no config.

**Steps to Reproduce the behavior**

Run any salt command and then CTRL+C.

[code]

**Expected behavior**
A nice, graceful exit.

**Versions Report**
<details><summary>salt --versions-report</summary>
(Provided by running salt --versions-report. Please also mention any differences

[2021-05-24 15:59] sagetherage commented on #46644
Descoping from `Silicon` for now

[2021-05-24 16:34] #59962 closed

[2021-05-24 17:26] oliver-dungey opened #60245 "[BUG] 3003 sdb.get with strict=True returns incorrect error message when key/value missing"
**Description**
`sd.get` has an optional parameter `strict` which defaults to `False`. This feature was added last year here: https://github.com/saltstack/salt/pull/57630

The documentation says ` If the uri provided is not valid, then it will be returned as-is, unless strict=True was passed.` but it does not say what it will return. In my case the error returned is:

`ERROR executing 'sdb.get': S

[2021-05-24 18:15] sagetherage commented on #59209
@ronak2303 @doesitblend looks like this was working and there has been no response in some time, are we ok to close this issue?

[2021-05-24 18:18] jp-costa commented on #55781
+1

[2021-05-24 18:28] sagetherage commented on #47988
@vernondcole @dafyddj @timwsuqld

Discussed in Grooming 2021-MAY-25: Agree that we will not change the way Salt works, here, but we can on Windows we give a better message on package install informing of the need to restart minion and maybe we can also add functionality to optionally restart the minion automatically as a flag or opt in functionality.

[2021-05-24 18:38] sagetherage commented on #48285
@kiemlicz
Discussed in Grooming 2021-MAY-24: we see that pkgrepo, if it cannot `retry` is a bug that isn't cleaning up between retries and we also need clearly document `retry` , `requisites`. I would proposed to split these into two issues in GitHub and can do so.

[2021-05-24 18:40] sagetherage opened #60246 "Clearly document `retry` and `requisites`"
@kiemlicz
Discussed in Grooming 2021-MAY-24: we see that pkgrepo, if it cannot `retry` is a bug that isn't cleaning up between retries and we also need clearly document `retry` , `requisites`. I would proposed to split these into two issues in GitHub and can do so.

_Originally posted by @sagetherage in https://github.com/saltstack/salt/issues/48285#issuecomment-847249660_

[2021-05-24 18:50] sagetherage commented on #48390
Discussed in Grooming 2021-MAY-24 - considering closing the PR and may want to write a new issue here. I need to follow up and will review, again in following weeks.

[2021-05-24 19:20] dmurphy18 commented on #60232
@dbellavista On a clean install running salt-call --local network.default_route encountered no problem on Ubuntu 20.04.2 (currently up to date).  Also had no issues on a Centos 7 machine running Salt 3003 too.

However on my own machine (Ubuntu 20.04.2 current) I did experience problems
[code]

Given how much dev / testing I do, I removed Salt and reinstalled it to ensure I was really using Salt 3

[2021-05-24 19:42] piterpunk commented on #57046
While I was writing a patch to this issue, I found that the `ip` field is a list and you can set the same hostname to multiple IPs setting the different IPs as multiple items in the list. So, to assign the name `localhost` and `localhost.localdomain` to `127.0.0.1` and `::1` the declaration should be:
[code]
To have the same results of the initial state and avoiding the warnings the following stat

[2021-05-24 21:33] sagetherage commented on #58125
@matthewsht that PR has no test case associated it with it. It won't be merged until that occurs, and we will try to get to those but ask the author of the PR to write tests - it is now required for all PRs so yes, it is expected that you will still hit this bug.

[2021-05-24 21:44] sagetherage commented on #60242
similar issue: https://github.com/saltstack/salt/issues/59618

[2021-05-24 21:57] sagetherage commented on #59740
@CriProphet can you give more details, here? Steps to reproduce, expected behavior, etc. please?

[2021-05-24 22:04] sagetherage commented on #40507
@nir-stratoscale @simmel are you seeing this on a supported version of Salt >v3000.9?

[2021-05-24 22:15] sagetherage commented on #58932
Yes, the fix was merged into `master` and released in `Aluminium` for the Salt version 3003

[2021-05-24 22:15] #58932 closed

[2021-05-24 22:16] matthewsht commented on #58125
I understand. I'm tied up right now but I if the author doesn't add tests soon I may try myself.

That path chosen also isn't the best - it really should be /var/run or /run on RedHat or Debian family Os's.

--
Hunter Matthews
Scientific System Engineer [C]
NIH/National Human Genome Research Institute
***@***.******@***.***> | (919) 491-2124

On May 24, 2021, at 5:33 PM, Sage the Rage ***@***.****

[2021-05-24 22:42] dmurphy18 commented on #54179
Confirm occurring with Salt 3003, with absolute paths, there is no problem with ID resolutions but with the relative paths there is, even though individually everything is fine.

Thinking there is something problematic in the relative path creation process to the file that does not execute with an absolute path

[2021-05-24 22:48] sagetherage commented on #57958
The upstream bug has been resolved in python @lubyou can you confirm this is no longer an issue?

[2021-05-24 22:58] sagetherage commented on #52759
@zenitraM what supported version of Salt are you still seeing this issue?

[2021-05-24 23:00] dmurphy18 commented on #54179
Problem appears to be due to re-rendering salt/bug/bug.sls in relative case which doesn't occur in the absolute case, as shown
[code]
but in relative, re-render and detect conflicting IDs
[code]
If we replace the relative path for .bug in init.sls with an absolute path, it all works as in absolute paths case.
[code]

One of these case is correct and the other wrong, that is, relative may be correc

[2021-05-24 23:02] sagetherage commented on #55811
This was corrected: https://github.com/saltstack/salt/pull/50823 for Salt v2018.3.x - what version of Salt are you still seeing this @eykd ?

[2021-05-24 23:29] twangboy commented on #59476
I don't know why they're timing out. The logs console output doesn't look like it's timing out.... looks like it's still running when it says it timed out. Maybe @bryceml has some ideas.

[2021-05-24 23:33] #56217 closed

[2021-05-24 23:36] #56317 closed

[2021-05-24 23:38] bryceml commented on #59476
@twangboy the tests are canceling because they take more than 5.75 hours which is our time limit for running tests.

I believe we could just change `testrun_timeout: 6,` to `testrun_timeout: 7,`  if we want to give it more time, or figure out which tests are taking so long and fix them.  We've been hesitant to increase the time in the past because otherwise we never find out why it's slow.

[2021-05-25 03:51] jay7x commented on #57992
Just to follow up on my comment.. I went the `read_secret` way too. It works exactly in the way expected by me for SDB module to work:
[code]

[2021-05-25 08:11] misrn opened #60248 "python api Parameter definition"
curl -v http://127.0.0.1:58080/ -H "Accept: application/x-yaml" -H "X-Auth-Token: 72d32bf87eb543cc6eb52cb9dda6bfc002a148a2" -d client='local' -d tgt='*' -d fun='cmd.run' -d arg='ip -a' -d arg='runas=nginx'

python code

import urllib
import urllib.request
import urllib.parse
import json

class SaltAPI(object):
    __token_id = ''

    def __init__(self, url, user, password):
        self.__url = u

[2021-05-25 08:45] rasstef commented on #59205
@sagetherage When will the version with the bugfix be available? Could provide a patch once you have it? We need this urgently....

[2021-05-25 08:52] dbellavista commented on #60232
We were experiencing this problem recently on some minions (and now they are working only because we are patching di salt minion, we found the fix of `multicast` and added another `if` with `anycast`).

So, I'll try to reproduce it, but it may take a while. If it is of any help, recently an update of docker forced us to enable ipv6 on network interfaces (previously we kept it disabled). I don't kn

[2021-05-25 10:44] aef commented on #60239
I'm having the same problem. Version report is attached below.

Downgrading to 3002.6 makes the problem disappear.

It seems `__utils__` is unavailable as soon as ` __query_node(vm_)` is run through `cloud.wait_for_fun`. Seems like it loses context in a threadpool or something like this.

Version report:

Salt Version:
          Salt: 3003

Dependency Versions:
          cffi: Not Installed

[2021-05-25 10:50] lubyou commented on #57958
@sagetherage seems to be working with one of the recent releases.

Before:
[code]

After:
[code]

[2021-05-25 11:44] unman opened #60249 "[BUG] Cannot use pkg (and other modules?) with Parrot minions"
**Description**
A clear and concise description of what the bug is.
Some salt calls work with Parrot minions.
Attempt to use states using `pkg` fail:
[code]
**Setup**
Attempt to update Parrot with `pkg.uptodate`

**Steps to Reproduce the behavior**
Basic salt call to `pkg.uptodate` (or any use of `pkg`)

**Expected behavior**
Call will succeed and packages will be updated as necessary

**Screensho

[2021-05-25 12:04] dwicahyohph commented on #60082
I add this and solved the issue
/var/cache/salt/minion/extmods/modules/locke.py
/var/cache/salt/minion/extmods/states/locke.py

Others like auditctl, secops_pam are the same.

Close this threat.

[2021-05-25 12:04] #60082 closed

[2021-05-25 12:22] ptitdoc commented on #51986
In the meantime, maybe it can be documented in salt/vault module setup. For instance, in my case when running `vault write -f auth/approle/role/saltmaster/secret-id`, it shows a TTL of 768h. It can probably be increased to avoid this problem to occurs too often.

[2021-05-25 14:23] aef commented on #60239
Btw, the aforementioned proposed patch seems to fix the problem in my case.

[2021-05-25 14:57] Arderos commented on #59846
It does.

[2021-05-25 15:10] dimitrijepetrovic commented on #18630
Just an update, I can still see this issue

[2021-05-25 15:21] dmurphy18 commented on #60232
@dbellavista Would be interested in where you applied the fixes for mulitcast and anycast.  And interesting that you were using Docker and not a real machine or VM.  I used a real Ubuntu 20.04 on a laptop and a VirtualBox VM for Ubuntu 20.04, same for the Centos 7 machine (VM).

Interesting this was using a Docker container, can you supply any further details on the Docker containers used, version

[2021-05-25 15:37] onmeac opened #60251 "local_cache returner fails on missing .minions.p on master of masters"
### Description of Issue
In a master of master setup with one or more syndic servers the `.minions.p` file inside job results cache directory will be absent when salt commands are run/started from syndic, causing `salt-run jobs.lookup_jid <jid>` to fail on master of masters.

### Setup
- have setup with "master of masters" and at least one "syndic" conected
- have master of masters returner config

[2021-05-25 15:44] dbellavista commented on #60232
@dmurphy18 sorry I misspoke. The salt was running on a VM, but we are using salt also to install and run docker containers.

Here the state for patching (it was a very quick and dirty intervention I know :D )

<details><summary><code>init.sls</code></summary>

[code]

</details></summary>

<details><summary><code>network.patch</code></summary>

[code]

</details></summary>

[2021-05-25 16:00] corey-hammerton commented on #60018
Is there an update to this issue? It's been more than 30 days since the last update

[2021-05-25 16:19] dmurphy18 commented on #60232
Thanks for that info.  But your comment made me think, and we will be updating our standard bug report template to include info for real machine, VM, Docker, containerd, K8s, etc. esp. since containers are only going to get more popular with K8s.

Will dig further.

[2021-05-25 17:17] ScriptAutomate opened #60253 "Add setup.cfg for default sdist owner and group to be root"
By default, when packaging `salt` with `sdist`:

[code]

The generated `dist/*.tar.gz` tarballs embed the uid/gid of the archived files as matching the user that generated them. Previously, `sdist` had additional args so a command would look like:

[code]

These args no longer exist. Instead, these values can be picked up from `setup.cfg` as so:

[code]

A `setup.cfg` should be added to this repo

[2021-05-25 17:32] sagetherage commented on #60044
@mirko
Reviewed this issue in Tuesday Triage 2021-MAY-25 - very interesting! Daniel Robbins has since moved onto another team so we were simply reviewing and may have more comments.

[2021-05-25 17:52] waynew commented on #60044
Hey @mirko, there's definitely something weird happening here. As Sage
mentioned we took a look at this and all our tests behaved exactly the way you
expected it to work.

Yet, you're seeing some screwy behavior so the question is why? We were able to
manually introduce an error that would make this behavior appear 100% of the
time, but it's not clear why it would ever be failing.

But this should

[2021-05-25 17:55] sagetherage commented on #60253
changed to a `bug` since it isn't working correctly since the args no longer exist.

[2021-05-25 17:56] xeacott commented on #54484
This is mostly a feature as it will extend support. Still in favor of this 👍

[2021-05-25 19:32] xeacott commented on #59899
Hi @daro1337 I checked this out, and for `salt-cp` it looks like there's basically two ways of handling a copy:
1. passing `--chunked`
2. not passing `--chunked`

The bug that you experienced is:
https://github.com/saltstack/salt/blob/5457218d86ebed772111954d061e332d7c30c0d7/salt/cli/cp.py#L108
and the fix is adding a `b` to read in as binary `with salt.utils.files.fopen(fn_, "rb") as fp_:`

howev

[2021-05-25 19:46] daro1337 commented on #59899
@xeacott thanks for your debug.
Also I'll try salt_cp_chunk_size in salt-master config, I didn't knew about this option, I guess it's undocumented #58112 :)

[2021-05-25 19:54] daro1337 commented on #60035
@kylehuff  should I mark this Issue as resolved since workaround exist (upgrade jinja2 via pip) or repo for debian should be updated?

[2021-05-25 20:08] dbellavista commented on #60232
@dmurphy18 uh I haven't tried with table `all`. So the ipv4 routes are:

[code]

But the ipv6 table contains:

[code]

So I guess it may have happened when we enabled ipv6.

[2021-05-25 20:21] dmurphy18 commented on #60232
@dbellavista I believe that is where the issue is, esp. since **_anycast_** came in with IPv6, I also see **_multicast_** too
[code]
Will be able to fix this and add additional tests, and some other research to check if there is anything else missed with IPv6.

[2021-05-25 20:27] sagetherage commented on #55811
Thank you @eykd then I am going to close this issue since v2018.3.x and v2019.2.5 are no longer supported versions of salt - but mention me if you don't agree or you can open a new issue. thank you!

[2021-05-25 20:27] #55811 closed

[2021-05-25 20:32] #57958 closed

[2021-05-25 20:33] dmurphy18 commented on #60232
Need to adjust the following code to allow for mutilcast, anycast, etc.
https://github.com/saltstack/salt/blob/5457218d86ebed772111954d061e332d7c30c0d7/salt/modules/network.py#L571-L575

[2021-05-25 20:33] sagetherage commented on #59205
@rasstef
@waynew is looking into this and he hasn't had time to give an ETA on a patch, yet, but we are working towards it and discussed this week. He will give more info soon.

[2021-05-25 23:00] #60253 closed

[2021-05-26 00:59] pgporada commented on #58141
I am seeing this too.
[code]

I added some extra logging to `/usr/lib/python3/dist-packages/salt/modules/network.py`
[code]

and received the following error:
[code]

Removing my extra log line returns the following:
[code]

I think this is related to https://github.com/saltstack/salt/issues/60197

I do no see this on Centos 7 or Centos 8.

I only began seeing this after setting the static and pre

[2021-05-26 04:39] rnickle commented on #58822
I just ran into this in 3003 too, works fine with yaml and json, just not toml:

[code]
Run output:
[code]
salt-versions:
[code]

[2021-05-26 04:50] max-arnold commented on #60248
Change the following line

[code]

to

[code]

And then call your method like this:

[code]

Important caveat: multiple POST arguments with the same name are broken in Salt >= 3002: https://github.com/saltstack/salt/issues/59182

[2021-05-26 07:44] ggiesen commented on #60025
After applying the patch, I'm now getting the following:

[code]

[2021-05-26 07:50] ggiesen commented on #60025
@dmurphy18

Note that the regular proxy minion still connects to the device, and will reconnect if the session is killed, but I get those tracebacks at startup.

@garethgreenaway With @dmurphy18's patch, deltaproxy still never reconnects if the session is killed.

[2021-05-26 13:01] ggiesen commented on #60177
@garethgreenaway that's correct. The patch made in the other issue has caused some new issues as well, and while they do solve the reconnect issue for regular proxy minions, they do not solve it for deltaproxy

[2021-05-26 13:29] garethgreenaway commented on #60025
@ggiesen but you don't see the traceback ad you did before?  Or you didn't see that traceback?

[2021-05-26 15:32] rjc commented on #59990
Still, it would have been nice to know how to at least get rid of the error message:

    [...] Requested method not exposed: _ext_nodes

I have some older minions which can't be updated to 3003.

[2021-05-26 17:23] garethgreenaway commented on #60177
@ggiesen Found the issue and updated the `adding_deltaproxy` branch with the fix.  The issue was when checking for the existence of `ConnectionClosedException` via an import.

[2021-05-26 18:28] ggiesen commented on #60025
To clarify, I'm not seeing any traceback from deltaproxy. Reconnect just doesn't work, even with @garethgreenaway latest commit ( https://github.com/saltstack/salt/pull/60090/commits/3a577ca35dc4beac185d3e8a61d9b7d51100ce07 ).

With regular proxy minion, reconnect now works, but getting the traceback in https://github.com/saltstack/salt/issues/60025#issuecomment-848546302 and periodically also get

[2021-05-26 18:32] uucp-io commented on #52329
I tried adding the `-p0` to the patch invocation as suggested in #57205, but the problem persisted.

I dug into this issue hoping for a quick fix, but it's actually quite involved.  This is the call chain:
`file.patch` in my sls file
calls `patch()` in `states/file.py`
calls `_patch()` in `states/file.py` (which is defined within `patch()`)
calls `__salt__["file.patch"]()` aka `patch()` in `module

[2021-05-26 18:58] bryceml commented on #59982
For the 3003.1 release we're no longer providing python3-reqeusts or python3-urllib3 from the salt repos as amazonlinux 2 provides those now.  It is preferable to downgrade python3-requests rather than python3-urllib3 going forward for salt 3003 or older so that a future upgrade goes smoothly.

[code]

3003.1 and forward should work installing fresh out of the box without any pinning.

Also, becau

[2021-05-26 19:33] bryceml commented on #59986
We had a meeting, It sounded like the core team was hesitant to add this by default since different people may want different values depending on their situation, and some may expect it to not restart by default so errors don't keep happening or causing extra load.

I think we said that we would bring this up in the community open hour on Thursdays to get more opinions.

[2021-05-26 19:46] bryceml commented on #55100
it looks like `python36-zmq` only deps on `libzmq.so.5()(64bit)` and not the `zeromq` package.  It should be as simple as adding `zeromq` as a dependency to python36-zmq.

We should fix this for the 3004 release.

[2021-05-26 20:04] xeacott commented on #60103
Hey @AlSpirkin I just want to make sure I understand what's wrong here, as this is what I'm picking up for the description in the ticket.

and as described in the state file to create `C:\test` and this state file was ran from `C:\tmp`:
[code]

and the expected behavior

are you meaning here that `c:\tmp` which was the directory you ran the state from also had a change in permissions?
or did the d

[2021-05-26 20:08] xeacott commented on #58866
Hi sir @BrianSidebotham have you had a chance to try this out?

[2021-05-26 21:56] #60083 closed

[2021-05-26 22:05] dwoz opened #60259 "[FEATURE REQUEST] Add process titles to engines."
**Is your feature request related to a problem? Please describe.**

Engine processes are not identifiable.

**Describe the solution you'd like**

Use setproctitle to add process titles to engines so we know which process belongs to specific engine.

[2021-05-26 22:07] #59476 closed

[2021-05-26 22:53] waynew commented on #59205
Well, I can reliably reproduce the symptom, but not the cause.

Specifically, I just added `{% let x = grains.pop('os') %}` and then I see the
exact same error message. I'm betting that `grains.pop` doesn't exist
*anywhere* in your states, though, or you wouldn't see the error
intermittently.

Given it's an intermittent issue that can be solved with a `refresh_grains` and
`refresh_pillar`, it make

[2021-05-26 23:36] mirko commented on #60044
Hey, thanks a lot for putting so much effort into this and coming back to me!

The good news: I'm still able to reproduce it
The "other" news: While trying to reproduce again, I narrowed it down to only a special case which I didn't see as such before and now I'm afraid of having wasted your time.

The issue only occurs, when `user1` is the user I'm logging into the minion as via salt-ssh.

Now yo

[2021-05-27 00:12] waynew commented on #59205
After some further research - I was able to get this to happen by blocklisting
the `os` grain and enabling grains caching.

If you add these lines to your minion config:

[code]

And then run `salt-call --local pillar.items` you should see the error appear.
Remove the `grains_blacklist` option and re-run, and the problem should remain.
Once `grains_cache` is removed, however, then it should start

[2021-05-27 00:19] dhruv-malik-ptc commented on #55311
Same issue here while deploying cross account EC2. It successfully assumes cross account role, but fails to find the Subnet in that account, even though the subnet exists.

`[DEBUG   ] AWS Response Status Code: 400
[ERROR   ] AWS Response Status Code and Error: [400 400 Client Error: Bad Request for url: https://ec2.ap-southeast-2.amazonaws.com/?Action=CreateNetworkInterface&PrivateIpAddresses.0.P

[2021-05-27 04:55] AlSpirkin commented on #60103
I expect folder C:\test created with propagation "This folder only" but it created with "This folder and subfolders"

[2021-05-27 06:08] ggiesen commented on #60177
@garethgreenaway After the latest changes in https://github.com/saltstack/salt/pull/60090/commits/4a1efd0271ed3d98c2e8e15c90d2d1e0cefbf866, deltaproxy now reconnects automatically with no intervention on the part of the user:

Session is killed:
[code]

Session is automatically reconnected:
[code]

[2021-05-27 10:03] javicacheiro commented on #59033
I am having the same issue with 3003.

After some debugging I have found that there are several possible outcomes.

## Using the minion's IP address
salt-ssh using the IP address always fails with the above error.

## Using the minion's hostname
In this case the behaviour is different depending if the minion is defined in the roster file and if it is or not resolved via the DNS (only direct resolu

[2021-05-27 10:05] rasstef commented on #59205
Dear waynew,

Thanks a lot for that @waynew, but I don't see how this could be related to the problem we have. In our case, all grains exists if I run `salt 'broken-minion' grains.items` or `salt-call ...` or whatever, including the grains shown as non-existing in `/var/log/salt/master`:

[code]

(here: `fqdn_ip4`, but it turned out that it affects absolutely *all* grains, except the few defined i

[2021-05-27 11:13] yukpun opened #60263 "[BUG] salt return exitcode1 with pkg.installed on Windows, but App is installed"
**Description**
I'm Trying to install Antivirus softwate on salt minion (Windows 10) Cortex, usign salt-call.bat

**Setup**
[code]

Below state calls with this state:
[code]

**Steps to Reproduce the behavior**
I tried install it on clean Windows 10 with CMD

[code]

**Expected behavior**
I expect no ERROR message here, since antivirus application installs and works fine after this

**Versions Rep

[2021-05-27 11:43] mppraxis opened #60264 "[BUG] MySQL8: mysql.user_present sets password to actual hash value when using password_hash"
It appears that mysql_user.present does not handle password_hash correctly, at least in MySQL 8.0.25.

The user is created/updated to use the hashed password supplied to salt as the actual password. Ie. if I supply salt with password_hash: *2470C0C06DEE42FD1618BB99005ADCA2EC9D1E19 then I can login to the mysql server using that as the actual password.

I *think* the problem could be the way salt b

[2021-05-27 11:58] javicacheiro commented on #59033
After some debugging I found the origin of the issue.

The problem is when the roster file has one-line definitions of the type:
`myhost: 10.1.2.3`

This syntax worked in previous versions until #58163.

Now the code in `client/ssh/__init__.py` instead of:
```if hostname in [host_id, roster_data.get("host")]:```
uses:
```if hostname in [host_id, roster_data[host_id].get("host")]:```

That is fine

[2021-05-27 12:33] Kenan7 opened #60265 "[BUG] Can not get docker from bintray HTTP 403"
**Description**
Can not get docker from bintray HTTP 403

[code]

**Versions Report**
<details><summary>salt --versions-report</summary>
(Provided by running salt --versions-report. Please also mention any differences in master/minion versions.)

[code]

</details>

[2021-05-27 13:17] nicholasmhughes commented on #59182
the conversion to a dictionary was squashing duplicate keys. pretty sure something like this fixes it:
[code]
I'll try to get a PR out for it, but feel free to snag this and make your own. just tag me if you're going to submit the fix so we don't duplicate effort

[2021-05-27 16:15] twangboy commented on #59476
OK, updated the timeout and now I'm seeing a different test failure:

`tests.pytests.integration.master.test_clear_funcs.test_pub_not_allowed`

Which seems to be a flaky test on Mac. Looks like this test doesn't regularly fail

[2021-05-27 16:16] twangboy commented on #59476
Plus, there were two successful runs before that...

[2021-05-27 18:19] Oloremo opened #60266 "[BUG] Salt orchestration with saltenv argument conflicts with salt.function arguments"
**Description**
I noticed an interesting problem.

I tried to run salt-run state.orch with a `salt.function` module of the`saltutil.sync_all` and passed the saltenv via kwargs of both salt-run and saltutil.sync_all and

**Steps to Reproduce the behavior**

orch file with the:
[code]
Run it from CLI like:
`salt-run state.orch orch.utils.sync saltenv=release`

I get the following result:

[code]

No

[2021-05-27 19:58] sagetherage commented on #60248
Thank you @max-arnold !
@misrn please mention me if this does not solve your issue and we can reopen or you may want to pose your question in the [mailing list forum for salt-users](https://groups.google.com/forum/#!forum/salt-users), ask on [IRC](http://webchat.freenode.net/?channels=salt&uio=Mj10cnVlJjk9dHJ1ZSYxMD10cnVl83), or in our [community slack workspace](https://saltstackcommunity.slack.c

[2021-05-27 19:58] #60248 closed

[2021-05-27 20:14] garethgreenaway commented on #49301
There is the `process_count_max` which limits the maximum number of processes or threads created by salt-minion when running commands.  By default it is set to be unlimited.  This might be something to try.

[2021-05-27 20:19] sagetherage commented on #59364
@anonymousobject where you able to try SaltClass or pillarstack?

[2021-05-27 20:21] sagetherage commented on #49301
@ferringb Docs for process_count_max: https://docs.saltproject.io/en/latest/ref/configuration/minion.html#process-count-max

[2021-05-27 20:38] garethgreenaway commented on #60182
@Lesvek Thanks for the report.  The `list_jobs` function in jobs runner has a `search_target` which I believe accomplishes what you're trying to do.

[2021-05-27 21:16] Oloremo commented on #53747
I have the same issue

[2021-05-27 22:28] bryceml opened #60268 "use epel 8 python3-contextvars and python3-immutables"
epel 8 has python3-contextvars and python3-immutables, We should switch to using the upstream versions.

[2021-05-27 22:30] #40507 closed

[2021-05-27 22:45] garethgreenaway commented on #60241
@provonet Thanks for the report.  Unfortunately with the above steps I am unable to reproduce this, do you have more than one beacon configured or something else not specified above?

[2021-05-28 00:04] rofuentes commented on #60184
I was able to remove the SaltStack Python 2 repository with the following state

[code]

So I guess the issue really is, if I pass the `disabled=true` argument when using `pkgrepo.managed` module, and the apt data source is configured as a one line and not DEB822, the line should be commented out.

[2021-05-28 00:31] garethgreenaway commented on #60241
@provonet Never mind.  It was further back in the logs.

[2021-05-28 00:47] garethgreenaway commented on #60241
@provonet So this is definitely a bug, The configuration for the itnotify (and all beacons) should be a list, filled with dictionaries in most cases so we don't need to handle a situation where it isn't a list.

[2021-05-28 12:37] dgengtek commented on #51360
This is such a weird behavior. Is this a bug or feature?

`{{pillar['key']}} ` works

`{{pillar.get('key')}} ` does not work

`{{salt. pillar.get('key')}} ` does not work

Being able to access previously set pillars from `ext_pillar_first: True` should work because why should it not if it is rendered before pillar_roots? I am able to grab data set by previous ext_pillars in a subsequent ext_pillar

[2021-05-28 14:10] marbx commented on #59064
Who can have another look, here?

[2021-05-28 14:11] mattiasr commented on #54449
Dump question, but did you restart the service?

[2021-05-28 15:15] sblaisot commented on #56729
1+ year, still present.

Any news?

[2021-05-28 15:16] #55899 closed

[2021-05-28 18:18] major0 opened #60271 "[DOCS] redist_return.py contains docs copy/pasted from redis_cache.py"
**Description**
It appears that the redis returner was developed using copy/paste from redis cache, and the docs were not completely cleaned up.

**Suggested Fix**
[code]

[2021-05-28 18:29] major0 opened #60272 "[BUG] 3002.6 redis_cache.py and redis_return.py break in clustered mode"
**Description**
`redis_cache.py` and `redis_return.py` attempt to import `StrictRedisCluster` from the redis-py-cluster package when in cluster mode.

[code]

The appropriate class is `RedisCluster`. See: https://redis-py-cluster.readthedocs.io/en/master/

**Versions Report**
<details><summary>salt --versions-report</summary>
(Provided by running salt --versions-report. Please also mention any dif

[2021-05-28 18:36] major0 opened #60273 "[BUG] 3002.6 redis_cache.py not decoding responses"
**Description**
Redis added a `decode_responses` parameter to deal with the change from Python2 ASCII strings to Python3 bytes. It appears that the `redis_return.py` source was updated to use this parameter in commit bdaef390 , but `redis_cache.py` was not.

Have not yet confirmed this is a bug.  Noticed this when tracking down a bug in the `redis_return.py` (issue #60272 )

Proposed fix:
[code]

[2021-05-28 21:52] #59612 closed

[2021-05-28 21:52] #60068 closed

[2021-05-28 21:52] #60152 closed

[2021-05-28 21:52] #60160 closed

[2021-05-29 00:33] b-a-t commented on #57046
Thank you, @piterpunk for looking into this case and finding out what we, seems, missed from the documentation.

After testing your suggestion in our environment and see clean output first time in 3 years I agree that clarification of the documentation would be enough. Apparently, current one isn't clear in that regards.

As RedHat/CentOS is pretty popular platform may I suggest to include given b

[2021-05-29 00:33] #57046 closed

[2021-05-29 23:40] ikogan commented on #56171
It appears that in attempting to reproduce this behavior, I've run into another issue where I cannot target minions by a list value. As I understand it, the following should work:

[code]

[2021-05-31 01:01] 53845714nF commented on #60183
Could you reproduce my error?

[2021-05-31 02:53] ewenmcneill opened #60275 "[BUG] 3003: Py3.6: virt.keys crashes in creating external pillar with keys/certificates"
**Description**

With Salt 3003 on the master and minion, running a state that includes:

[code]

causes a stack traceback apparently as a result of trying to enumerate a None value while packing the external pillar that the method is intended to create.  Unfortunately as many methods in `virt` rely on `virt.keys` (at least if access to `libvirt` is authenticated) this basically renders `virt.*` u

[2021-05-31 02:56] ewenmcneill commented on #53081
Unfortunately it appears that [`virt.keys` is entirely broken on 3003](https://github.com/saltstack/salt/issues/60275) (crashes in creating external pillar at the top of the method), which functionally means that `virt.*` is entirely broken on my system (as it relies on the `virt.keys` for authentication to libvirt, and without it seems like the `virt.*` methods start making weird decisions like t

[2021-05-31 03:18] ggiesen opened #60276 "[BUG] pkg.group_installed does not install some package groups on CentOS 8"
**Description**
Trying to install the package group "Workstation" on CentOS 8, and receive an error about "Common NetworkManager submodules":

[code]

**Setup**
State file:

[code]

**Steps to Reproduce the behavior**
`$ salt minion state.apply`

Minion trace logs:
[code]

**Expected behavior**
Install "Workstation" package group

**Versions Report**
<details><summary>salt --versions-report</summa

[2021-05-31 03:22] ewenmcneill commented on #60275
Potentially relevant, this `virt.keys` created pillar is one of two [`on_demand_ext_pillar`](https://docs.saltproject.io/en/latest/ref/configuration/master.html#on-demand-ext-pillar), which is included in the default set.  I've just got the default config for that on the salt master:

[code]

and the only pillar related override I have is to point the on disk pillar base at a specific directory:

[2021-05-31 03:31] ggiesen commented on #60276
Note that installing manually using dnf works just fine:

[code]

[2021-05-31 04:27] ewenmcneill commented on #60275
I've managed to figure out how to get into `pdb` on the affected code (a combination of [a useful gist](https://gist.github.com/terminalmage/7a655ae441efa888050a22afbac7ac5a) and [a blog post](https://www.embrace-tech.de/en/blog/2014-07-15-debugging-salt-and-salt-states/)), and injecting a `pdb.set_trace()` near the start of `virt.keys`  gives:

[code]

But unfortunately it looks like the loading

[2021-05-31 04:47] ewenmcneill commented on #60275
Based on some more psychic debugging from reading `loader_context.py`, I believe what's happening is:

*   there's no specific loader context established so [NamedLoaderContext.loader() is returning `None`](https://github.com/saltstack/salt/blob/b88a23323783dd8ded7a20954f5da112fcc89b14/salt/loader_context.py#L43-L51)

*  which results in [NamedLoaderContext.value() using the default](https://githu

[2021-05-31 07:28] cbosdo commented on #53081
Could you be more precise on that one? I am curious to see if it's a bug or due to some missing pool refresh.

[2021-05-31 08:07] ewenmcneill commented on #53081
@cbosdo, fortunately I still had the terminal window from the earlier runs open, so below is an example of the output I was getting on my `virt.running` runs when first trying 3003 (it happened for *every* VM defined for that virt/VM host, with basically the same output, as they're all from the same template/pillar data).  There's the relevant template of jinja populated states below, of which the

[2021-05-31 08:40] ewenmcneill commented on #53081
This "disk creation attempt in 3003" is potentially a *different* bug from the one in `virt.keys` and the one in this issue (console parameters); if so it possibly should be pulled out to a new issue. (I'm not doing that now, as I'm still unsure, and it's late here so I'm not debugging it in full today to make the call one way or another).

But I do note that:

https://github.com/saltstack/salt/bl

[2021-05-31 11:13] waynegemmell commented on #13085
^ I linked that the incorrect issue.

[2021-05-31 22:19] marbx commented on #60273
I had to use `decode_responses=True` since Python3.

I have overlooked and may have reprogrammed `redis_cache`.
Does `redis_cache` store live data from minions?

[2021-05-31 22:49] marbx opened #60280 "[DOCS] How to link topic and module overview?"
The minion data cache [module overview](https://docs.saltproject.io/en/latest/ref/cache/all/index.html) lacks description or a link to the minion data cache [topic](https://docs.saltproject.io/en/latest/topics/cache/index.html)

The topic is generated from an [rst file](https://github.com/saltstack/salt/blob/master/doc/ref/cache/all/index.rst).

The module overview is not generated from rst.   How

[2021-06-01 07:38] dhruv-malik-ptc opened #60281 "[BUG] /wsman (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')],)",),))"
**Description**
I am deploying Windows EC2 using salt-cloud and am using generic WinRM script provided [here](https://docs.saltproject.io/en/latest/topics/cloud/windows.html#firewall-settings)

With pywinrm==0.2.1, I get this error:

[code]

Downgrading to  pywinrm==0.1.1, throws this error:
[code]

**Setup**
Profile sls

[code]

**Steps to Reproduce the behavior**
Debug logs

[code]
**Expected be

[2021-06-01 11:20] #60049 closed

[2021-06-01 12:13] onmeac opened #60284 "possible [BUG]? 3000.9 cmd.run with test=true does not trigger watch/watch_in"
**Description**
A `cmd.run` during `test=true` that "would have been executed" does not have any changes, obviously becuase the cmd hasn't run yet.

Because `cmd.run` has no changes, `service.running` that has a watch on that `cmd.run` during `test=true` does not mention "Service is set to be restarted".

There is logic already present for `cmd.run`, e.g. unless/onlyif, which helps to determine if

[2021-06-01 13:50] lukasraska commented on #60281
@dhruv-malik-ptc The error indicates the Windows server doesn't have WinRM HTTPS certificate that is trusted by the server spinning up the VM. If you trust the network, then you can probably configure `winrm_verify_ssl: False` as mentioned here - https://docs.saltproject.io/en/latest/topics/cloud/windows.html#self-signed-certificates-with-winrm

[2021-06-01 13:58] github-abcde commented on #56171
Please create a separate issue for this, as the "other issue" you have described is not related to the salt mine. (And as always, check if there is a similar issue about the specific behavior you're seeing first).

[2021-06-01 14:41] OrangeDog commented on #60265
Bintray has been discontinued as of May 1st

https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-06-01 14:41] #60265 closed

[2021-06-01 15:08] rombert opened #60287 "[BUG] Certain package not detected as installed (rpm/zypp)"
**Description**
Certain packages are not detected as installed. These are Canon print drivers downloaded from https://support.brother.com/g/b/downloadlist.aspx?c=us_ot&lang=en&prod=dcpt500w_all&os=127#SelectLanguageType-558_0_1 . Even though installed when applying the state files zypper tries to reinstall them, leading to an error

**Setup**
[code]

**Steps to Reproduce the behavior**
Try to appl

[2021-06-01 15:13] danisdaniel opened #60288 "CentOS 8 salt-minion returns non-zero exit code when using pkg state module to install appstreams"
### Description of Issue

A CentOS 8 salt minion returns a non-zero exit code when attempting to install the '@idm:client' appstream module using a salt state using pkg.installed. However when inspecting the minion's configuration afterwards, it does appear that the module packages are installed. Removing the module using pkg.removed claims the module is not installed.

I also tested this with the

[2021-06-01 16:23] dmurphy18 commented on #60183
@53845714nF Would need to generate the relevant pub key file, but given the ssh support in Ubuntu 20.04, need to update to allow for Fido2, so was waiting for key to arrive.  Received my YubiKey over the Memorial Day weekend (US holiday), so will be looking at this soon, have some other fixes need to complete first but it is on my hot list.

[2021-06-01 17:00] dmurphy18 commented on #60025
@ggiesen Looks as if you are encountering an additional problem which was hidden by the original problem (presuming you have applied the changes in #60244 correctly).  I suggest that you open a new issue referencing the subsequent issue with the fix from #60244 applied, given the key error is not **_get_reboot_active_**

Can you open an issue as described above and re-close this, as best practice

[2021-06-01 17:03] sagetherage commented on #60192
@xmsk thank you for the issue report and the PR! Looks like the PR needs a test case.
We hold Test Clinics via Twitch Tuesdays from 1-2 pm Mountain and Thursdays from 8-10 am Mountain with @waynew on [Twitch](https://www.twitch.tv/saltprojectoss) and the [schedule](https://www.twitch.tv/saltprojectoss/schedule) is listed there, too.

[2021-06-01 17:15] sagetherage commented on #60197
This is working as expected, but this is on by default and you can turn it off here are the docs: https://docs.saltproject.io/en/latest/ref/configuration/minion.html#enable-fqdns-grains
We do recognize the error should be a warning and can put this as a backlog item to update to warn

[2021-06-01 18:14] dmurphy18 commented on #60271
The documentation at https://docs.saltproject.io/en/latest/ref/cache/all/salt.cache.redis_cache.html presents
[code]
for salt.cache.redis_cache

But the same example is also used in https://docs.saltproject.io/en/latest/ref/returners/all/salt.returners.redis_return.html

A case of cut and paste from salt/cache/redis_cache.py to salt/returners/redis_return.py probably and the example should be as t

[2021-06-01 19:00] sagetherage commented on #60287
@rombert the bug is likely valid, I will get it triaged; however; the Salt reported version `3002.2` is vulnerable. We recommend upgrading as soon as possible to at least the latest point released version or to latest. You can find those here https://github.com/saltstack/salt/releases or the packages repo here: https://repo.saltproject.io/

[2021-06-01 19:07] dmurphy18 commented on #60284
@onmeac Believe this issue is similar https://github.com/saltstack/salt/issues/60120 and fixed by PR https://github.com/saltstack/salt/pull/60150
Text is a little different but similar to what you state
[code]

Closing since duplicate, please re-open with details if you believe this issue is not addressed by the PR above.

[2021-06-01 21:16] onmeac commented on #58510
It is indeed not even salt specific
[code]
gave me `lolmarcinDELIMITER3bad360d` in /test.

digging a little deeper, https://bugzilla.redhat.com/show_bug.cgi?id=486844 seems to have resulted in this patch https://src.fedoraproject.org/rpms/at/blob/rawhide/f/at-3.2.2-shell.patch file, which is being applied to atd source code in fedora, and then trickles down to RHEL/Centos/etc. (I have not tested o

[2021-06-01 21:27] sharkbruhaha opened #60290 "[BUG] pkg.remove does not honor options"
**Description**
`pkg.remove` (and `pkg.install`) is not honoring options:
https://docs.saltproject.io/en/3002/ref/modules/all/salt.modules.pkgng.html#salt.modules.pkgng.remove

Trying to glob, regex, and dryrun and none are working. Following the example CLI and still notta.

**Setup**
None

**Steps to Reproduce the behavior**
`salt minion01 pkg.remove tree* glob=True dryrun=True`
(will fail becau

[2021-06-01 21:31] rombert commented on #60287
Thanks for the heads-up @sagetherage, I'll look into upgrading soon.

[2021-06-01 23:27] dhruv-malik-ptc commented on #60281
For anyone else facing this issue, I updated the settings in Profile mentioned by @lukasraska and then upgraded pywinrm==0.4.1
and it worked!

[2021-06-01 23:27] #60281 closed

[2021-06-01 23:58] dhruv-malik-ptc opened #60291 "[BUG] win_installer is not able to deploy Salt-Minion-3003-Setup.exe file on the newly created Windows server"
**Description**
win_installer is not able to deploy Salt-Minion-3003-Setup.exe file on the newly created Windows server
File exists on the master:

59M     /etc/salt/win_installer/Salt-Minion-3003-Setup.exe

I see it rendering bootstrap-salt.sh for some strange reasons

[code]
**Setup**
[code]

**Steps to Reproduce the behavior**
[code]

**Expected behavior**
win_installer should be able to copy t

[2021-06-02 01:45] dhruv-malik-ptc commented on #60291
missed some package smbprotocol

[2021-06-02 01:45] #60291 closed

[2021-06-02 01:47] sagetherage commented on #60290
@sharkbruhaha
The Salt version is vulnerable. We recommend upgrading as soon as possible to at least latest point release or to latest. You can find those here https://github.com/saltstack/salt/releases or the packages repo here: https://repo.saltproject.io/

[2021-06-02 06:52] cbosdo commented on #53081
Ewen, that disk issue seems a different bug to me. I never tested using LVs and block devices using the `source_file` directly. As a workaround creating a storage pool of logical type and use volumes in it should work.

[code]

The disks would just be something like:

[code]

with the pillar being changed to:

[code]

I will try to reproduce your setup locally and see what goes west.

[2021-06-02 08:15] cbosdo opened #60296 "virt.update fails to use existing LVM disks"
**Description**

Updating the disks of a VM with LVM volumes that already exists fails as it tries to create the new disk. See https://github.com/saltstack/salt/issues/53081#issuecomment-851296460 for full detail.

**Setup**

Minion setup to reproduce the issue:
  * Install software needed for virtualization.
  * Add an empty disk to the minion (will be `/dev/vdb` in the these steps)
  * Run these

[2021-06-02 08:16] cbosdo commented on #53081
@ewenmcneill let's move the disk discussion to issue #60296. I managed to reproduce and your guess about `isfile()` is right: doesn't work with block devices and symlinks.

[2021-06-02 09:10] onmeac commented on #60284
@dmurphy18 looks similar, but when I test PR #60150 using `test=true` a service.running will _always_ report `The service <name> is set to restart`, without `test=true`, service does not actually restart.

[2021-06-02 10:46] #53868 closed

[2021-06-02 10:46] #59573 closed

[2021-06-02 10:48] #59424 closed

[2021-06-02 10:53] Ch3LL opened #60298 "[TEST FAILURE] Windows tests are not completing"
The windows tests are not completing after these commits where merged:

[code]

https://jenkins.saltproject.io/job/pr-windows-2016-x64-py3-pytest-slow/job/master/203/

[2021-06-02 14:00] ninoY25 opened #60300 "[FEATURE REQUEST] 3003 Need a way to refresh next_job_fire_time in the pillar schedule"
**Is your feature request related to a problem? Please describe.**
If I change the minion system time frontwards, and run a schedule job once. Then adjust the time backwards, because the next fire time of schedule job will be some time in the future, the schedule job will be running only after some future time I changed at the first time.
e.g.
If I change the minion system time to 2022-06-02, and

[2021-06-02 16:05] dmurphy18 commented on #60284
@onmeac Just clarifying, with test=True and PR #60150 you now get an indication that the service will be restarted.  However without test=True, that is, commands should be executed, the service is not actually restarted ?

[2021-06-02 16:50] dmurphy18 commented on #60284
For adjusted foo.sls where /dog/kat already exists
[code]

[code]
and PID's before and after
[code]

The service may or may not be restarted, depending on the state of systemd and other items in the system.
Perhaps the text form PR #60150 should be adjusted from
[code]
to
[code]

[2021-06-02 17:01] dmurphy18 commented on #60284
From Slack conversion with @onmeac
[code]

[2021-06-02 17:04] wwdillingham commented on #55269
Just ran into this error on salt-3001.7 as well

[2021-06-02 20:41] sagetherage commented on #60290
@sharkbruhaha
yes, I have it assigned to do just that :) @s0undt3ch if you can please triage and verify this is still an issue, please.

[2021-06-02 21:06] EthanB11 commented on #58895
It's back with the latest Uyuni 05-2021 and Fedora 33.

Fedora 33 packages - salt-minion-3003-1.fc33.noarch python3-decorator-4.4.2-3.fc33.noarch
Uyuni server packages - salt-master-3000-lp152.3.33.1.x86_64 uyuni-base-server-4.2.3-2.2.uyuni.x86_64

[code]

[2021-06-02 21:39] garethgreenaway commented on #60213
@eliasp Thanks for the report.  The major issue here is that the schedule module utilizes the event bus specifically the minion event bus and wasn't designed to work with the Master.  When the module runs via the `salt.cmd` runner it's attempting to connect to a minion event bus which doesn't exist.

[2021-06-02 22:15] Lesvek commented on #60182
I'm under the impression that there is a bug that prevents the minion list from being updated when using the default returner.

Could this be the case?

[2021-06-02 22:50] sagetherage commented on #60280
@marbx thank you for the issue report!

Let me restate so I know I'm understanding ,correctly: if a user of salt lands on [this index page of cache modules](https://docs.saltproject.io/en/latest/ref/cache/all/index.html) there is no way to know f these modules all are referencing or concerning the [Minion Data Cache on the Salt Master](https://docs.saltproject.io/en/latest/topics/cache/index.html)

[2021-06-03 05:23] xeacott commented on #60287
Did triage this, however not on Suse specifically and this must be a bug related to the Zypper module itself because apt did not have any issues with this, even on this release. I'll get a suse box spun up shortly and give it a go there

[2021-06-03 09:46] marbx commented on #60280
Hi @sagetherage, thank you for your great overview!
Not confusing at all.
I was aware of the sphinx documentation but have not found the rst from which sphinx generates the cache modules index.

I took a second look and guess it is `doc/ref/cache/all/index.rst` but I cannot verify because creating the docs on Windows fails due to a lack of `make` and pip install nox failed on my Linux box, probabl

[2021-06-03 13:53] jouve opened #60307 "[BUG] inconsistent behaviour between supervisord.running and supervisord.dead for process groups"
**Description**

let's say I have an `apache` process group I want to control.

* when using `supervisord.running`, the `name` must be `apache:*` (which is the same notation used by supervisor)
* when using `supervisord.dead`, the `name` must be `apache:` (without the `*`)

As both states mirror each other, I expect them to use the same convention for `name`, the one from `running` since it's the

[2021-06-03 14:21] jmcmillan89 opened #60308 "Is it possible to load custom execution & state modules from version control?"
### Description of Issue
I wrote a custom execution and state module for installing/configuring AppDynamics agents but I cannot figure out how to load them from BitBucket.

### Setup
I tested my modules by placing them in `/srv/salt/base/_modules` and `/srv/salt/base/_states` respectively. This worked great and once I had everything working, I committed them into BitBucket using the following dire

[2021-06-03 15:01] jmcmillan89 commented on #60308
Explicitly specifying the environment with `saltenv=base` seems to work. I removed all references of my `appdynamics.py` modules from the Salt master filesystem, then made a new method stub in my `appdynamics.py` execution module:

[code]

I then pushed this to BitBucket.

After running `salt-run fileserver.update` followed by `salt -L my-minion.foo.bar saltutil.sync_all saltenv=base`, I got this

[2021-06-03 15:01] #60308 closed

[2021-06-03 16:19] #60298 closed

[2021-06-03 18:14] Sxderp commented on #58763
The way the initial deprecation rolled out was terrible. The inability to use both syntax at the same time creates undue burden on sysadmins. The need to go ensure all third-party states/formulas are in-line is a non-starter. Ideally the deprecation would allow for feature detection and gradual rollout. Right now it's an all or nothing situation.

1. Feature detect and then deprecate.
2. Feature d

[2021-06-03 21:01] dwoz commented on #60102
@seandjones92 Have you been able to test with msgpack 1.0?

[2021-06-03 21:50] sagetherage commented on #60280
Looks good! Thank you @marbx :)

[2021-06-04 00:14] seandjones92 commented on #60102
with msgpack 1.0 I no longer see the unicode error. Thanks!

[2021-06-04 04:17] piterpunk commented on #60044
Hi @mirko

Salt uses `usermod` under the hood to do the home directory change. Some user attributes can't be changed while the user is connected or if any process of this user is running. From `usermod`'s man page:

This is what is preventing the logged user to change his home directory. IMHO it should not be considered a bug.

[2021-06-04 09:57] timmotej commented on #59209
The argument `- arg: [1]` was that missing piece in the puzzle: my servers were switching off the salt service and it didn't return the response.
With that line everything works great!
**Thanks @robertpenberthy !**

[2021-06-04 10:57] #60271 closed

[2021-06-04 12:41] #60132 closed

[2021-06-04 15:13] sagetherage commented on #60307
@jouve
The Salt version is vulnerable. We recommend upgrading as soon as possible to at least the latest point release (3001.7) or to latest. You can find those on [releases](https://github.com/saltstack/salt/releases) here in GitHub or the [package repo](https://repo.saltproject.io/).

[2021-06-04 15:42] 53845714nF commented on #60183
Hello, sounds good. I found a similar bug also in ProxmoxVE, there only one regex had to be adjusted.
Do you know in which file the ssh key is checked? Maybe I can have a look at it and create a pull request.

[2021-06-04 18:49] asomers commented on #29307
I'm seeing this on minions with Salt 3002.6_3

[2021-06-04 19:08] doesitblend commented on #60219
I believe I am running into a similar issue using this state:

[code]

Here I expect the value 'dev' to be output, but I get the value for the 'environment' key instead. For whatever reason, the lookup for the 'env' key is returning 'unknown' as the value. Seems there could be a bug in utils/data.py:traverse_dict_and_list function?

[2021-06-04 21:24] dwoz commented on #58791
@ixs Can you confirm this has been resolved with 3002.2?

[2021-06-04 21:56] BrianSidebotham commented on #58866
@xeacott Sorry for the slow response. I've been trying to get to a Windows box to test, but unfortunately no longer have access to salt on Windows so cannot confirm. But I would assume we can cover this off with a test case and move forward. :beer:

[2021-06-05 00:23] ring-pete commented on #59982
Hey there - when I checked the release notes for salt-3003.1* I didn't see a mention of this fix.  I also notice the `Latest`** yum repo also still contains python3-requests, so I assume work is still underway to get this fix pushed out.  Will the `Latest` repo pickup these changes once they are released?
Thanks!

*https://docs.saltproject.io/en/master/topics/releases/3003.1.html
**https://repo.sa

[2021-06-05 14:48] Timmeeh opened #60313 "[DOCS] priviledged -> privileged in docstring"
**Description**
Typo in docstring of `salt.utils.win_runas.runas_unpriv`

https://github.com/saltstack/salt/blob/4f3cb36955d84c6793efcbeabf53963067922d90/salt/utils/win_runas.py#L257

**Suggested Fix**
priviledged -> privileged

**Type of documentation**
Salt utils function docstring

**Location or format of documentation**
https://github.com/saltstack/salt/blob/4f3cb36955d84c6793efcbeabf539630679

[2021-06-05 19:42] elgalu commented on #58202
@jholloway7 how did you proceed? I'm currently a bit fed up with thousands of `ERROR   ] Can't parse line ...` :)

[2021-06-06 02:00] pruiz commented on #59755
I would better add a 'b' prefix to regex expression: br"\\x([a-f0-8]{2})"

[2021-06-06 17:40] heini opened #60314 "[DOCS] Examples for ip_networks functions use wrong function name"
**Description**
The examples for `ip_networks` functions use wrong function names

**Suggested Fix**
Rename functions in the examples

**Type of documentation**
Salt modules

**Location or format of documentation**
https://docs.saltproject.io/en/latest/ref/modules/all/salt.modules.network.html#salt.modules.network.ip_networks

[2021-06-07 07:50] supfors opened #60316 "[BUG] docker_network.present error on subsequent run when using driver_opts"
**Description**
I'm trying to set a bridge name name using `driver_opts` in the `docker_network.present` module. The network is created with the correct name when it does not exist. When it does exist, the state fails.

**Setup**
[code]

**Steps to Reproduce the behavior**
[code]

**Expected behavior**
I expect the state to not fail and proceed without changes.

**Versions Report**
<details><summa

[2021-06-07 11:13] smcv opened #60317 "[DOCS] salt.states.iptables does not document save: true or its requirements"
**Description**
salt.states.iptables mentions the `save: true` parameter in examples, but doesn't document what it does or what it requires.

In particular, on Debian-derived systems (and perhaps others) the implementation of this parameter requires packages that are not present in a default installation, so merely adding the parameter does not have the desired effect immediately.

**Suggested Fix

[2021-06-07 13:44] TheBirdsNest commented on #38990
Hi,

Has there been any movement on this bug? I am running 1500 proxy minions on my hosts and there seems to be some form of memory leak or something. Multiprocessing is disabled and the proxy is not persistent (keep_alive: False).

@mirceaulinic would you say this is the same as what you are seeing?

![image](https://user-images.githubusercontent.com/31070227/121027446-deb38800-c79e-11eb-94a3-422

[2021-06-07 15:12] twangboy commented on #59819
1604 is eol. 1804 is failing with a different test.

[2021-06-07 15:25] twangboy opened #60319 "[TEST FAILURE] Ubuntu 18.04"
Please paste the link from the specific build where the failure first started:

https://jenkins.saltproject.io/job/pr-ubuntu-1804-amd64-py3-pytest-slow/job/master/224/

tests.pytests.functional.transport.zeromq.test_pub_server_channel.test_publish_to_pubserv_ipc

[code]

This seems to be an intermittent failure. It seemed pretty stable up until these commits:
e3c52e5fba7e2cbb1126ea784ce60f65fcb592

[2021-06-07 15:45] Ch3LL opened #60320 "[TEST FAILURE] The test_base_failhard fails sometimes"
https://jenkins.saltproject.io/view/Master%20Branch%20Fast%20Jobs/job/pr-ubuntu-2004-amd64-py3-tcp-pytest/job/master/103/

The test tests.integration.pillar.test_git_pillar.TestPygit2SSH.test_base_failhard is failing sometimes when the directory is not getting created for some reason.

[2021-06-07 16:01] waynew commented on #60148
I wonder if this is due to differences like this:

[code]

According to https://www.python.org/dev/peps/pep-0508/ it shouldn't be a problem, but:

[code]

There are some pip-tools-compile changes that might be relevant as well....

[2021-06-07 16:02] dmurphy18 commented on #60025
@ggiesen Closing this, since your issue experienced is not the original issue. Please open a new issue for the problems you have seen as outlined in the comment above.

[2021-06-07 16:02] #60025 closed

[2021-06-07 16:12] waynew commented on #59819
Is this related to https://github.com/saltstack/salt/issues/59498? I see they're both sdb tests :thinking:

[2021-06-07 16:52] Ch3LL commented on #60147
this is passing now. I had to create a new v4 api key with more permissions. Also the v3 key had expired so i created a new one there as well.

[2021-06-07 17:03] twangboy commented on #60319
I ran this test 50 times on my local VM and saw it fail one time.
[code]

[2021-06-07 17:04] sagetherage commented on #60313
@Timmeeh thank you for the issue report - if you are able to, we will review a PR to correct, otherwise this is considered a low severity issue and is unlikely to get the Core Team's attention. I have put this on the Docs Working Group project board to attempt to assign a resource, as well.

[2021-06-07 17:31] garethgreenaway commented on #60066
Haven't seen this issue show up in any recent PRs so closing it out.

[2021-06-07 17:31] #60066 closed

[2021-06-07 17:44] twangboy commented on #59753
We no longer support Ubuntu 16.04. I don't see the test failing on other OS'es.

[2021-06-07 18:00] twangboy commented on #59819
These tests are failing intermittently on https://jenkins.saltproject.io/job/pr-centos-7-x86_64-py3-m2crypto-pytest-slow/job/master/

Going to change the title and re open

[2021-06-07 18:22] xeacott commented on #60287
hey @rombert could you run the same thing but check another package instead? I tried this with the package `epson-inkjet-printer-escpr` and this is my result on 3002.2. Perhaps it's that specific package that is causing some unintended behavior?

[code]

[2021-06-07 18:24] #59496 closed

[2021-06-07 18:28] xeacott commented on #58866
If you run into this again, just re-open and I'll be more than happy to take a look!

[2021-06-07 18:28] #58866 closed

[2021-06-07 19:24] waynew commented on #60201
This has me :suspect:

On Catalina between 4 & 5 it succeeded.

On **Mojave**, build **no. 4**:
- `tests.pytests.integration.proxy.test_simple.test_install_pkgs`
- `tests.pytests.integration.proxy.test_simple.test_remove_pkgs`
- `tests.pytests.integration.proxy.test_simple.test_upgrade`
- `tests.pytests.integration.proxy.test_simple.test_service_list`

**no. 6**
- `tests.pytests.integration.proxy.

[2021-06-07 19:38] s0undt3ch commented on #60148
Failure started on Jenkins build 97, we're now on 224 and these particular tests haven't been failing. Closing.

[2021-06-07 19:38] #60148 closed

[2021-06-07 19:44] waynew commented on #60148
Seems reasonable to me - maybe just environmental factors? Though it would be nice to know exactly why :grimacing:

[2021-06-07 20:16] waynew commented on #60201
In build 6, in the 2nd log file: [build6log.xz.zip](https://github.com/saltstack/salt/files/6611715/build6log.xz.zip)

At 07:18:47,165:

[code]

As far as I can tell, it *is* actually succeeding here - it's just failing because it can't delete the FD from the ioloop and that lights everything on fire causing the test to fail, despite actually sort-of working?

[2021-06-07 20:49] jeff350 opened #60325 "[FEATURE REQUEST] support etcd api v3"
**Is your feature request related to a problem? Please describe.**

There are many features in salt such as using etcd as external pillar, returner, modules, or cache. the current implementation relies on the python-etcd package (https://github.com/jplana/python-etcd) that has not had a release since 2016 and does not support etcd API v3. Since etcd 3.4.0 etcd API v3 has become the default api, an

[2021-06-07 21:18] mirceaulinic commented on #38990
Yes, the memory leak in the Proxy Minions has never been resolved. It _seems_ a little better in the most recent Salt versions (I'm running 3002.5), especially if you disable anything using `schedule` (that is, disable mines, disable keep alive, everything). We ended up writing an internal tool that restarts the PMs gracefully when they're about to hit a certain mem usage (like a PM manager) but t

[2021-06-07 21:29] bryceml commented on #59982
Yes, latest will pick up those changes when 3003.1 is released since latest is a symlink to whatever the latest release is.

3003.1 isn't tagged yet.  @sagetherage should we throw that in the release notes before we tag? https://github.com/saltstack/salt-pack-py3/commit/c2c71c8b9cf33a9cf7360ec72e12c532d1a64adf is the commit associated with the dependency fixes on amazon linux 2.

[2021-06-07 21:30] rombert commented on #60287
Thanks for looking into this @xeacott ! Indeed, two specific packages are problematic, when I run salt I get:

[code]

So the package you tried is indeed working as expected, but others are not. I am not sure why they would cause problems, maybe the architecture? FWIW, the pacakges are reported as installed

[code]

and these are the file checksums

[code]
and an info of one of the files

[code]

[2021-06-07 21:41] vriccio512 opened #60327 "[BUGError executing net.cli "show tech-support" on Cisco IOS XE device"
**Description**
Trying to collect tech-support in switch (Cisco IOS XE) device.

**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info).

**Steps to Reproduce the behavior**
[root@salt-prod-master-1 ~]# salt 'blr0' net.cli "show tech-support"

blr0:
----------
comment:
Cannot execute "cli" on blr0.vmware.com as svc.salt.net. Reason: Search pattern never dete

[2021-06-07 21:44] xeacott commented on #60287
Ah so that's curious:
[code]

So when `pkg.version` is called, it returns the result of `__salt__["pkg_resource.version"](*names, **kwargs)` which uses this call `__salt__["pkg.list_pkgs"](versions_as_list=True, **kwargs)` as its egress data.

So if salt is saying the package isn't installed, we come back with an empty dict which is the behavior your experiencing even though they are installed on

[2021-06-07 23:28] sagetherage commented on #59982
@bryceml yes, can you open a PR to add that to the release notes for 3003.1?

[2021-06-08 08:14] dwicahyohph opened #60330 "[BUG] salt-minion.service: main process exited, code=exited, status=1/FAILURE TypeError: '>=' not supported between instances of 'OSError' and 'int'"
**Description**
I can't use salt-call command in one of minion in my dev, checked its status,  got this error:
[code]

**Versions Report**
<details><summary>salt --versions-report</summary>
(Provided by running salt --versions-report. Please also mention any differences in master/minion versions.)

[code]
</details>

[2021-06-08 11:26] gray380 opened #60331 "[BUG] salt-ssh python 3.7 contextvars issue"
**Description**
Hello,

The following error has appeared when I try to run the test.ping:

[code]

Seems that I have to apply the following [fix](https://docs.saltproject.io/en/master/topics/releases/3003.1.html) but I didn't find how to apply it.

**Setup**
Initial salt-ssh setup :

[code]

**Versions Report**
<details><summary>salt --versions-report</summary>

[code]
</details>

**Additional con

[2021-06-08 11:45] OrangeDog commented on #60327
Can you fix the formatting? Probably needs some code fences: ` ``` ` (and N.B. "PASTE HERE"). You may have also deleted the `<details>` block from the template.

[2021-06-08 11:47] OrangeDog commented on #60290
@sharkbruhaha Licenses do not stop you upgrading to 3002.6 for the critical security fixes.

[2021-06-08 11:51] dwicahyohph commented on #60330
I didnt do anything, first I just want to check the version using salt-call on cli. And then that kind of error happen..
[root@olndsaltmimion02 ~]# salt-call --local test.version

[2021-06-08 14:18] NotAProfessionalDeveloper commented on #38126
not stale!

[2021-06-08 15:39] Ch3LL commented on #59753
ping @twangboy I just saw it fail again here: https://jenkins.saltproject.io/job/pr-centos-7-x86_64-py3-tcp-pytest-slow/job/master/227/#showFailuresLink

[2021-06-08 15:42] Ch3LL commented on #59753
Here is another one: https://jenkins.saltproject.io/view/Freeze%20Branch%20Jobs/job/pr-centos-7-x86_64-py3-m2crypto-pytest-slow/job/freeze/119/#showFailuresLink

[2021-06-08 15:52] sagetherage commented on #60325
Right, this issue includes work to deprecate the use of etcd API v2 throughout salt and to add support for etcd api v3. Likely, this has work that needs to be done in phases. I will have this assigned and get details into the issue.

[2021-06-08 16:24] sagetherage commented on #26605
I am not convinced there is a workaround here so I am changing the severity up one level until determined otherwise. We will take a look at this in next couple of weeks.

[2021-06-08 18:44] waynew opened #60336 "[DOCS] fix 3003.1 docs formatting"
Tagging and release was more important than having "correct" formatting - the rST file in https://github.com/saltstack/salt/pull/60334/files needs to get formatted as expected (e.g. adding ` `` ` back)

[2021-06-08 18:49] sagetherage commented on #60336
Wondering if this is often a problem not just in these release notes, but perhaps the rstcheck isn't always catching this or correcting? @ScriptAutomate

[2021-06-08 20:08] sagetherage commented on #60331
@gray380 we can't really help with applying a fixing to your environment since we have no context for your setup and it puts us in an odd situation to assume liability, but the fix will be released soon in v3003.1 - the release date was set today 2021-JUN-23, thank you!

[2021-06-08 20:08] #60331 closed

[2021-06-08 22:27] bryceml opened #60339 "[BUG] npm.installed is broken on arch linux (possibly more)"
**Description**
npm.installed reports a failure the first time it runs, even though it appears successful

**Setup**
[code]
run this state on archlinux :point_up:

**Steps to Reproduce the behavior**
sudo salt-call --local state.sls that-state-above

output is
[code]

2nd time running it outputs:
[code]

**Expected behavior**
It reports that it installed it successfully the first time

**Versions

[2021-06-08 22:37] doesitblend opened #60340 "[BUG] Port option removed in Junos Proxy"
**Description**
The option to specify the port was removed from the Junos proxy minion. This is what enables running Netconf connections over SSH. As far as I can tell, just adding this option back to the list of parameters in `def init` function resolves the issue and allows Netconf connections over SSH again.

**Setup**
Run `git diff v3002.6 v3003 salt/proxy/junos.py` to see that the port option

[2021-06-08 22:42] dmurphy18 commented on #60340
Accidentally removed by commit https://github.com/saltstack/salt/pull/58979/commits/57f28f1008583bd6b3faff6a1bba231859ba97b4

[2021-06-09 01:16] ewenmcneill commented on #60296
Of note, in [my setup (detailed in the older issue)](https://github.com/saltstack/salt/issues/53081#issuecomment-851296460) these LVM logical volumes *already exist* (I've got my own setup code for the logical volumes to ensure they exist before the `virt.running` gets triggered), and in the case I ran into this (upgrading from 3002 to 3003) the volumes were actually already in the virtual machine

[2021-06-09 02:14] dwicahyohph commented on #60330
it is the same as above
[code]

[2021-06-09 02:25] dwicahyohph commented on #60330
I found out the space of /var/log is full...
[code]
deleted some files, the issue solved.

closed this ticket.

[2021-06-09 09:04] OrangeDog commented on #60330
Reopening because there's still a bug here.

`traceback.format_exc` does not take an exception as its first argument.

[2021-06-09 10:59] Ch3LL opened #60343 "[TEST FAILURE] Amazon Linux: mutimaster test_get_opts failure"
The test `tests.pytests.scenarios.multimaster.modules.test_test.test_get_opts` is failing sometimes on Amazon Linux:

https://jenkins.saltproject.io/job/pr-amazon-2-x86_64-py3-pytest-slow/job/master/234/

[2021-06-09 11:01] Ch3LL commented on #60343
These tests are also failing on debian:

https://jenkins.saltproject.io/job/pr-debian-10-amd64-py3-pytest-slow/job/master/228/

[code]

[2021-06-09 15:14] myii commented on #58555
Added more details here:

* https://gitlab.com/saltstack/open/salt-pkg/-/issues/38

[2021-06-09 17:03] sagetherage opened #60345 "[TEST FAILURE] fix flaky test Mock ip_addrs() in utils/minions.py unit test"
Please paste the link from the specific build where the failure first started:
When salt.utils.network.ip_addrs() returned no IPs, the test failed.

[2021-06-09 17:10] sagetherage commented on #59753
Re-opened, but is still flaky and may be related to the sdb tests - it needs someone to look into it, please

[2021-06-09 17:16] dmurphy18 commented on #60061
@network-shark Can you provide a sanitized version of your pillar file for the proxy using napalm and netmiko

[2021-06-09 19:21] dmurphy18 commented on #60327
Adding more info

[code]

[2021-06-09 20:00] network-shark commented on #60061
@dmurphy18

Sure no problem..

root@debian10:/srv/pillar/base# cat top.sls
base:
  '*':
    - proxy_napalm
    - netmiko

root@debian10:/srv/pillar/base# cat r1.sls
proxy:
  r1:
    proxytype: napalm
    host:  172.28.128.8
root@debian10:/srv/pillar/base# cat proxy_napalm.sls

proxy:
  proxytype: napalm
  user: vagrant
  driver: ios
  password: vagrant
  host: 172.28.128.8
  optional_args:
    ena

[2021-06-09 20:32] waynew commented on #60044
@piterpunk thanks for weighing in here! That definitely explains it. I don't know if it makes sense for us to do some kind of check within Salt for this -- if someone opened a PR with tests, I feel like that would be a reasonable enhancement, but I don't think that's necessarily Salt(the program)'s responsibility :thinking:

[2021-06-09 21:01] sharkbruhaha commented on #60290
@OrangeDog preachin to the choir 👍
yes, but slow business practices do 😞

[2021-06-09 23:04] yassineselmi commented on #57750
Same issue persists in 3002.6. It happens only when I target multiple minions at the same time (using `salt \* test.ping`). However, I don't see the issue when I run `salt myminion test.ping`.

I increased the timeout to 5 min but the issue still persist.

PS: This happens only for Windows minions.

Salt versions report:

[code]

[2021-06-10 05:04] piterpunk opened #60351 "[BUG] hosts.rm_host doesn't works if an inline comment is present in /etc/hosts"
**Description**
`hosts.rm_host` throws an error when any host line in `/etc/hosts` have the `#` character. As `hosts.rm_host` is used by `host.absent` state module, this error also prevents its execution.

This is specially annoying as the hosts entries inserted by `host.present` state module with a comment or using `hosts.set_comment` renders the `hosts.rm_host` unusable.

**Setup**
An `/etc/host

[2021-06-10 06:35] TheDJVG opened #60353 "[BUG] On Windows an engine is started multiple times when multiple masters are defined"
**Description**
Running salt-minion with multiples masters causes equal amount of the same engine to be started.

**Setup**
Connect a Windows minion to two salt-masters and enable the test engine:

[code]

**Steps to Reproduce the behavior**
Two engines are started instead of one:
[code]
**Expected behavior**
Expected to be only running 1 `test` engine.

**Versions Report**
<details><summary>salt-

[2021-06-10 07:53] ari opened #60354 "[BUG] SleekXMPP should be replaced with slixmpp"
The slixmpp project has replaced the now deprecated SleekXMPP.  See the notice here: https://github.com/fritzy/SleekXMPP

On the plus side, the new library should be just drop in with only import changes.

[2021-06-10 12:17] Nerigal commented on #50939
+1

[2021-06-10 15:34] agraul commented on #60345
I haven't seen this specific test fail in the saltstack/salt's CI, but I can point to this GitHub Action run from our downstream repo where I saw this test failing: https://github.com/openSUSE/salt/runs/2763521974?check_suite_focus=true#step:4:10318

[2021-06-10 16:19] sagetherage commented on #60354
@cmcmarrow let's put in a deprecation warning in and then get an estimate of LOE level of effort for the new library. Warning can go in right away, but need to get an idea of LOE before we can implement the replacement and plan for it in a release. Let's do the planning in `Silicon` release cycle.

[2021-06-10 16:26] dstoliker opened #60357 "[BUG] lgpo.set always reports pending changes when applying a list of groups to a policy"
**Description**
When applying a list of entities to apply to a policy, `lgpo.set` reports pending changes when `test=True` is set, whether changes are required or not.

**Setup**
Verify that the policy "Take ownership of files or other objects" is in its default state - only the Administrators group should be returned.

[code]
**Steps to Reproduce the behavior**

Create a state file to enforce onl

[2021-06-10 16:57] joseph-ireland opened #60359 "[BUG] Using #!yamlex in a pillar file with salt-ssh results in some strings being quoted"
**Description**
Strings defined in a pillar file using yamlex end up quoted when rendered in jinja to the state file.

**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info).
/srv/pillar/weird_quotes.sls:
[code]

/srv/salt/weird_quotes.sls:
[code]

**Steps to Reproduce the behavior**

`salt-ssh <host> state.apply weird_quotes -l debug`
<details><summary>outp

[2021-06-11 00:40] garethgreenaway commented on #60300
@ninoY25 Thanks for the report. I've read through this one a couple times and I'm struggling to think of a use case when you would want to adjust the time of the system that far into the future and still scheduled jobs work as expected.  The PR that you mentioned fixed a bug when `refresh_pillar` was run and would delete all the elements in Pillar include `_next_fire_time`, thus removing all histo

[2021-06-11 00:42] garethgreenaway commented on #60264
@mppraxis Thanks for the report, this is definitely a bug and was something that was simply missed between the different variants and versions of MySQL that we're trying to support.  I've included a fix and a test in PR #60264 and we'll try to get that in for the Silicon release.

[2021-06-11 00:59] xeacott commented on #60357
Setting this as high priority as this is an important module.

[2021-06-11 01:32] xeacott commented on #53706
Hi @trudesea could you try this again on the latest release of salt? Unless I'm not fully understanding the issue... it does appear to be working. I created a file called testfile.txt in my path C:\dev\salt\testfile.txt and applied the following state:
[code]

and it created a file in path C:\Users\Public\Desktop\application.lnk and when I open that file, it opens my testfile.txt and the propertie

[2021-06-11 01:35] garethgreenaway commented on #58145
@Prakash82x We discussed this issue during our weekly Triage meeting and concluded that the issue of ordering was likely caused by changes between Python versions.  There was also the suggestion for your particular use case sending the information to an database either SQL like MySQL or PSQL, or no-SQL like Mongo, using a Salt returner.  Then you could guarantee the ordering of the data you receiv

[2021-06-11 01:44] garethgreenaway commented on #60316
@supfors thanks for the report.  It looks like the state module is not handling the scenario when the network already exists when using a bridge name.

[2021-06-11 01:49] garethgreenaway commented on #50294
@gigi206 We discussed this one during our Triage meeting last week and wondered whether this particular is actually by design.  When looking at an archive it's easy and fairly quick to see the contents of the archive, eg. an list of what files and directories exist inside.  It's not easy however to see details about the files, eg. their sizes or MD5 sums to compare whether the file that exists in

[2021-06-11 04:17] ari commented on #60354
Is it clear that anything user facing needs to be deprecated, other than ensuring the user puts the correct library into the python classpath?

[2021-06-11 14:02] bzukdatto opened #60361 "[BUG] Batch execution of multiple modules fails with salt global exception"
**Description**
Batched running of multiple modules fails due to TypeError exception.  Both batch.py and salt.py assume a single return code for batched execution runs, but running multiple modules results in a dictionary of return codes.

Applied the following patches to job.py and salt.py and they appear to fix the issue
[code]

**Setup**
Salt master and multiple syndics all running 3003.
Minion

[2021-06-11 14:48] topicgit opened #60362 "[BUG] Running state.highstate is very slow, just using the file module，How should I troubleshoot the problem"
**Description**
When I run state.HighState, minion returns very slowly. When I run cmd.run, minion returns very fast
**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info).
[code]

**Steps to Reproduce the behavior**
(Include debug logs if possible and relevant)

[code]

---
[code]

**Expected behavior**
A clear and concise description of what you expected t

[2021-06-11 20:15] dmurphy18 commented on #59448
@mirceaulinic Any comments on the above comment

[2021-06-11 21:10] xeacott commented on #60263
Perhaps the difference here is the command executed with the salt master has a better handle on the return, i do believe there was another issue highly similar to this just from a few weeks ago... let me go find it

[2021-06-11 21:41] amalaguti-mane commented on #58533
This also affects sqlite3.fetch execution module, for instance running the following
`salt-run sdb.set sdb://mysqlite_checks/mysvr_1 'fire alarm'`
then running
`salt-call --local sqlite3.fetch /tmp/sdb.sqlite 'SELECT * FROM alarms;'`
will output only the key but the value is not shown.

I have removed the following lines from sdb/sqlite3.py:
[code]

So value remains intact as string and that seeme

[2021-06-11 22:04] amalaguti-mane commented on #58533
I tried the fix, while it seems to work ok for sdb.get, I think the fact that the string value is converted to byte object by sdb/sqlite3.py set_ function affects the fetching of data by execution module sqlite3.fetch.

def set_(key, value, profile=None):
    ...
    if six.PY2:
        # pylint: disable=undefined-variable
        value = buffer(salt.utils.msgpack.packb(value))
        # pylint: e

[2021-06-12 00:49] whytewolf commented on #39908
the issue with this one is that error is NOT a jinja error.

[2021-06-12 00:49] whytewolf commented on #39908
closed on accident. meant to cancel the response.

[2021-06-12 00:51] whytewolf commented on #39908
what I was going to say. the error in the original ticket is a jinja error. the error you are talking about is a yaml error. and has nothing to do with jinja directly. use slsutil.renderer to render out the jinja directly and then validate the resulting yaml through your favorite yaml lint

[2021-06-12 00:54] whytewolf commented on #39908
also see https://github.com/warpnet/salt-lint for a tool to help with linting salt.

[2021-06-12 03:27] max-arnold commented on #58533
I stumbled upon the same issue a while ago while working on a custom module that used sqlite sdb. Here is my workaround

[code]

I spent some time debugging it, and I believe the issue was caused by msgpack serialization/deserialization.

If I remember correctly, I reproduced this on 3002.5 and maybe 3002.6

[2021-06-12 15:32] sebastianreloaded opened #60365 "[BUG] Minions running 3002+ throw a JSONDecodeError when called from master"
**Description**
Minions running with Saltstack 3002.6 or 3003 throw an exception when called from master also running on 3002.6 or 3003.

**Setup**
Fresh installation of saltstack 3003 on Ubuntu 20.04

**Steps to Reproduce the behavior**
[code]

**Expected behavior**
[code]

**Versions Report**
master:
[code]

minion:
[code]

**Additional context**
When i downgrade the minion on Ubuntu 20.04 to 30

[2021-06-13 08:18] Elufimov commented on #44778
I think this sep describe this issue problem  https://github.com/saltstack/salt-enhancement-proposals/pull/33

[2021-06-13 10:47] OrangeDog commented on #60362
Something doesn't add up. Has this installation been manually patched?

vs.

           Salt: 3000.9

Wherever your slowdown is, it's not during the actual highstate

[2021-06-13 22:34] droope commented on #46152
Using the bash one liners I was able to correctly configure the github RSA public key using this configuration:

[code]

I was also running into this issue.

[2021-06-14 05:29] sebastianreloaded commented on #60365
I tried to debug a little bit, and for some reason it seems in `/usr/lib/python3/dist-packages/salt/executors/sudo.py`Line 74 the call doesn't return stdout.

code:
[code]

log:
[code]

[2021-06-14 05:35] sebastianreloaded commented on #60365
On a minion that works, the log looks like this:
[code]

[2021-06-14 10:47] rombert commented on #60287
@xeacott  - what I think happens is that salt tries to check if the packages are installed. Since that check fails, it tries to install them, resulting in a failure. I have some sensitive pillar data so I can't paste a full execution log, but I tried to isolate the install sequence to a single state, and here's what I think is the relevant output:

[code]

Hopefully that helps, let me know if you

[2021-06-14 15:58] nkrishnakishor opened #60366 "Issue while usage of cmd.script in state file"
**###** Description of Issue

Trying to assign output of a script to a variable using cmd.script.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

Below is the state file.
[code]

Below is the script located under ```salt://scripts``` directory
[code]
### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
[code]

### Versions R

[2021-06-14 16:19] whytewolf opened #60367 "[BUG] snapper module will throw an exception if dbus-python installed but dbus not running"
**Description**
the snapper module will throw an exception if the dbus python module is installed but dbus is not running during the loader.

**Setup**
install the dbus python module on salt and stop dbus.

**Steps to Reproduce the behavior**
do anything which triggers the loader after the above setup.

[code]

**Expected behavior**
snapper doesn't load without throwing an error.

**Versions Repor

[2021-06-14 17:00] sebastianreloaded commented on #60365
For me, it looks like it is a problem with any minion running salt 3002+ in azure.
Because running the minion on bare metal with 3002+ doesn't produce the problem.

[2021-06-14 17:36] cmcmarrow commented on #60354
@sagetherage slixmpp API looks to be the same "took a 30 sec look". If that is true we should try to import it and then import the older module, as well add the deprecation warning.

[2021-06-14 17:37] cmcmarrow commented on #60354
https://github.com/fritzy/SleekXMPP repository has been archived AKA it is no long maintained.

[2021-06-14 17:44] Ch3LL opened #60368 "[TEST FAILURE] Fedora 33 test_loader test_version failures"
The following tests are failing on Fedora 33:

tests.pytests.functional.test_loader.test_new_entry_points_passing_func_returning_a_dict
tests.pytests.functional.test_loader.test_old_entry_points_returning_a_list
tests.pytests.functional.test_loader.test_old_entry_points_yielding_paths
tests.pytests.functional.test_version.test_salt_extensions_in_versions_report
tests.pytests.functional.test_versio

[2021-06-14 18:05] sagetherage commented on #58877
@yleong please let us know if this solves what you potentially asked for in a feature request and we can close or something else?

[2021-06-14 18:16] sagetherage commented on #36303
Reviewed in Grooming - this started as a bug and is now a huge feature request that will need a SEP if every taken on by a champion. We decided to preserve the history to leave this open and in the backlog for now.

[2021-06-14 18:45] sagetherage commented on #42440
Another formula: https://github.com/saltstack-formulas/openssh-formula/blob/master/openssh/files/default/sshd_config handles this better

[2021-06-14 18:59] sagetherage commented on #39105
Reviewed in Grooming 2021-JUN-14 this is a larger discussion and any changes would likely require a SEP. Keeping this open for possible SEP as related to https://github.com/saltstack/salt-enhancement-proposals/pull/35 and there may be others.

[2021-06-14 19:29] twangboy commented on #60357
You can use the following state as a workaround:
[code]

[2021-06-14 19:52] ScriptAutomate commented on #60336
We could evaluate using similar methods to https://github.com/saltstack/pytest-salt-factories/blob/master/pyproject.toml#L9-L49 where `towncrier` is generating an `.rst` version of CHANGELOG, preventing format clashing. This seems to be a problem coming from manual copy/pasting from `.md` (`CHANGELOG.md`) to the release file (ex. `3003.1.rst`)

[2021-06-14 19:58] joshiegy opened #60370 "[BUG] Salt-ssh can't use ansible inventory as per documentation"
**Description**
Using ansible inventory file for salt-ssh does not work according to documentation,

**Setup**
salt installed via pip, version 3002.2.

**Steps to Reproduce the behavior**
* Install salt-ssh
* copy inventory file-example from [documentation](https://docs.saltproject.io/en/latest/ref/roster/all/salt.roster.ansible.html#module-salt.roster.ansible)
* run `salt-ssh --roster-file=/etc/s

[2021-06-14 20:01] joshiegy commented on #59293
I have the same issue, more or less. Have tried both ini-format (even copied the documentations example) and yaml, neither worked.

[2021-06-14 21:20] sagetherage commented on #60336
let's discuss this in the Friday planning meeting this week

[2021-06-14 21:24] sagetherage commented on #60354
@cmcmarrow yes - level of effort is needed, given all the other priorities for the current release cycle

[2021-06-14 22:08] waynew commented on #60361
Verified this using this command

[code]

I get the same result.

Looking at the code, `job.py` has basically been unchanged, however there have been a few changes to `batch.py`. I'm not positive if that's where things went a bit sideways, but it looks like the return isn't returning the expected sort of value :thinking:

This fix *would* stop the exception, but AFAICT this *should* be working (th

[2021-06-14 22:56] dmurphy18 commented on #60061
Found code responsible for the issue, and have dev. tested fix.   Need to write some tests for the issue.

[2021-06-14 23:21] waynew commented on #58888
Looked into this a bit closer, and it appears that `file.cached`, and maybe localclient(?) doesn't really offer a way to skip adding the querystring. In fact, even adding headers would be a pretty wild process to add this capability.

It looks like you could workaround this by defining your *own* cache and using `module.run` something like this:

[code]

That would require some other shenanigans t

[2021-06-14 23:36] dmurphy18 commented on #60368
Errors are due to space left on device.
@s0undt3ch Would it be possible to increase the size of the disks for Fedora testing, betting the other versions will encounter too. EOD here and you'll be in 8 hours before me, where you can adjust sizes and kick them back off

[2021-06-15 01:20] dmurphy18 commented on #60327
Once the issue of get_connection is fixed, see https://github.com/saltstack/salt/issues/60061, the problem appears to be netmiko/base_connection.py failing to properly scan the output data returned by the command 'show tech-support', namely missing the part of the data returned and not seeing the host name in that data.

Investigating further as to why this is occurring, as with debug code, the ho

[2021-06-15 06:01] network-shark commented on #60061
@dmurphy18 That means the fix will be in 3004 ?

[2021-06-15 15:38] dmurphy18 commented on #60368
@bryceml @krionbsd See above, tests failing due to not enough disk space.  Need to update the amount of disk space allowed for the Fedora systems. Probably should check if any of the other Redhat / Centos family are pushing up against their limits.  Assigning this your way.

[2021-06-15 16:04] sharkbruhaha commented on #38551
I'm still hitting this issue on 3003.1

Can we please get a fix here?

[2021-06-15 16:55] dmurphy18 commented on #60061
Cannot say what fix will appear in what release, but probably will appear in Silicon given current timeframes.
Also working on #60327 while I have the files open and a Cisco Router available to me, so no PR submit for it just yet.

[2021-06-15 17:02] waynew commented on #60365
Hey @sebastianreloaded  Can you try setting your locale for your master/minion to UTF-8?

[2021-06-15 17:04] damon-atkins commented on #38551
The default saltenv is base... If you wish to use another saltenv value you need to ensure the files are located in the salt master in the saltenv

[code]

You would need to have `/srv/salt/prod/win/repo-ng` and `/srv/salt/test/win/repo-ng`
[code]

[2021-06-15 17:16] sagetherage commented on #60370
@joshiegy
The reported Salt version is vulnerable. We recommend upgrading as soon as possible to at least the latest point release or to latest. You can find those on [releases](https://github.com/saltstack/salt/releases) here in GitHub or the [package repo](https://repo.saltproject.io/).

[2021-06-15 17:23] waynew commented on #60365
Oh, actually looking at this a little closer -

[code]

Would you be comfortable editing that file? If you add a breakpoint and run your minion manually (with `salt-minion`) in the foreground, it will should drop there and you can inspect the actual output (`print(cmd_ret)`)

I'm guessing that there will be something extra in that stdout. Might also be some logging in place there and changing to d

[2021-06-15 17:34] marbx commented on #60280
This question is answered

[2021-06-15 17:34] #60280 closed

[2021-06-15 17:46] sharkbruhaha commented on #9183
Can we please get globbing/regex enabled for this already?

[2021-06-15 17:57] sharkbruhaha commented on #60290
confirmed not to work on 3003.1

[2021-06-15 18:01] dmurphy18 commented on #60327
Problem (with get_connection) fixed appears to occur with netmiko from versions 3.3.0 and later.  Netmiko version 3.2.0 has no IOError issues, note: that the command from Salt is 'show tech-support' and the error appears to be in netmiko/base_connection.py, but no recent changes appear there.  The problem is finding the prompt for the Cisco router in the output.

Suggest using netmiko version 3.2.

[2021-06-15 18:02] sharkbruhaha opened #60371 "[FEATURE REQUEST] Enable globs and regex for salt.states.pkg.removed"
**Is your feature request related to a problem? Please describe.**
It is incredibly useful to be able to ensure that no older versions of a piece of software are on a host, and having globs/regex enables this feature with little issue.

**Describe the solution you'd like**
Add support for globs/regex to `pkg.removed` like there is in `pkg.installed`.

**Describe alternatives you've considered**
Th

[2021-06-15 18:04] damon-atkins commented on #38551
@Ch3LL  the code works as expected, as this how the master "file server" works.

[2021-06-15 18:07] sharkbruhaha commented on #60290
confirmed that pkg.install is also not honoring any of those options

[2021-06-15 18:12] sagetherage commented on #57664
This was fixed with https://github.com/saltstack/salt/blob/master/salt/modules/mac_brew_pkg.py#L30-L38

[2021-06-15 18:12] #57664 closed

[2021-06-15 18:33] sharkbruhaha commented on #38551
roger that, thanks for the breakdown @damon-atkins

[2021-06-15 18:43] sagetherage commented on #60366
Looks like you are trying to find the name of the source rpm, yes? You can use the pkg.module [aptpkg.py](https://github.com/saltstack/salt/blob/master/salt/modules/aptpkg.py) which is intended for this use case.

If you are looking for something else or have questions you may want to pose your question in the [mailing list forum for salt-users](https://groups.google.com/forum/#!forum/salt-users),

[2021-06-15 18:43] #60366 closed

[2021-06-15 18:54] sagetherage commented on #60325
Wayne and I will plan out work in the Silicon release cycle and attempt to fix what is critical, first and not leave behind work, but that will need to be determined. Planning to break into smaller pieces of work at the end of June 2021 and more details to follow once we have had a chance to review.

[2021-06-15 20:08] garethgreenaway commented on #60359
@joseph-ireland Thanks for the report.  I was able to reproduce this one and it's definitely a bug.

[2021-06-15 20:09] dmurphy18 commented on #60327
Closing this and marking it as a duplicate of #60061 with the note about using netmiko v3.2.0

[2021-06-15 20:09] #60327 closed

[2021-06-15 20:50] #57830 closed

[2021-06-15 21:35] sagetherage commented on #53336
@CosmicToast is this only on python2?

[2021-06-15 21:36] sagetherage commented on #53337
this is only on python 2? @CosmicToast we no longer support python 2 can you confirm, please?

[2021-06-15 22:04] CosmicToast commented on #53337
I recall this being the case on python 3 as well, but this bug has been open for 2 years and I've moved off of salt (in part due to this, in part due to another git-related bug) in the meanwhile (python2 support got removed during the same time period).
I'm not really interested in setting everything up again from scratch just to test (at least right now, I'd have to see if I have time this weeken

[2021-06-15 23:04] dmurphy18 commented on #53619
@raddessi Any update on this with Arista.
@dractyl Sorry for talking so long to get back to you on this.  Are you still experiencing the problem, also what version of Cisco router are you using, recently got access to IOS-XR and IOS-XE.

Lastly presuming you are using Napalm, have you taken pre-cautions in config that Napalm documents about using config ?  https://napalm.readthedocs.io/en/latest/s

[2021-06-15 23:13] waynew commented on #60361
Digging into this a bit more, it's definitely due to `batch.py` getting horked up. In fact, replacing parts of the existing `batch.py` -- specifically if you put this block in:

https://github.com/saltstack/salt/blob/ead47e4bba6d8addd0717b28b81251e3a4a22647/salt/cli/batch.py#L222-L247

No other changes are necessary - that will make this existing code work. Granted, I don't think that's a comprehe

[2021-06-15 23:31] sagetherage commented on #50610
@twangboy doesn't think the above commit has fixed this, so re-opening it

[2021-06-15 23:40] sagetherage commented on #53490
@dkfsalt is this still an issue in later versions of Salt, I assume so, just checking to be sure.

[2021-06-15 23:52] Linuturk opened #60375 "[BUG] MySQL Minion Cache isn't loaded"
**Description**
I've configured the external minion cache for my salt master and it isn't being loaded on startup of the service. No minion data is being sent to the database.

**Setup**

Minion cache config:

[code]

**Steps to Reproduce the behavior**
Configure the MySQL minion cache according to the docs: https://docs.saltproject.io/en/latest/ref/cache/all/salt.cache.mysql_cache.html#module-sal

[2021-06-16 00:29] #54346 closed

[2021-06-16 00:30] garethgreenaway commented on #60266
@Oloremo Thanks for the report.  I wasn't able to reproduce this one, I suspect the example state file is incomplete?  I see your error references the state id ` salt.sync.runner.clear_file_cache` but the only one defined in the state is `salt.sync.function.sync_all`.