[2016-02-09 19:38] o-sleep commented on #31030
Ah, so create a module that calls the ext_pillar() function and call it from the reactor state file?

[2016-02-09 19:44] #30938 closed

[2016-02-09 19:49] JensRantil opened #31056 "file.symlink documentation improvement"
The documentation of https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.symlink doesn't say whether it creates a soft or hard link.

[2016-02-09 20:04] danlsgiga commented on #21392
Sorry commenting in a closed issue.
Was the "quiet" option removed in the latest release (2015.8.5)? It seems that the runner is emmiting command execution outputs again even using the opts['quiet'] = True inside a custom runner.

[2016-02-09 21:29] rallytime commented on #30950
@tmaulik I found where the problem was. There was a larger regression in salt-cloud causing this, plus a little bit of follow-up in the vmware driver as well. I was able to reproduce your issue, and the pull request as it stands right now fixes it. If you'd like to give the change another try, you'll need to replace two files:

- the vmware driver: https://raw.githubusercontent.com/rallytime/salt/

[2016-02-09 21:30] sjmh commented on #21392
@danlsgiga - the option still works for me with 2015.8.5 -

[code]

The script
[code]

The output:
[code]

Without the quiet option in the script, the output is:
[code]

[2016-02-09 21:33] rallytime commented on #30950
Oh, and here's the reproduction of the bug:
[code]
And here's the same command working, after applying those fixes:
[code]

[2016-02-09 21:33] danlsgiga commented on #21392
@sjmh, what happens if you run it using:
    # salt-run runner_quiet
?

[2016-02-09 21:42] mf-collinhayden opened #31059 "salt-cloud rename fails in 2015.8.5"
Hi guys,

I have a script that does a rename for the instance before creating a new one and it is failing.  When I ran debug, this is what I get:
[code]
[code]
This was working in the prior version 2015.8.3.

Here is my OS info, I am using the official ubuntu saltstack repo:
[code]

[2016-02-09 21:48] jfindlay commented on #31059
@mf-collinhayden, thanks for reporting.

[2016-02-09 22:17] rallytime commented on #30950
Actually @tmaulik, don't bother testing. There is a change that fixed a bug that caused this error, and I was hoping to keep the change in, and fix this. But the original change that caused this regression is causing other problems in salt-cloud, so I am just going to revert the PR that caused this regression. Apologies for all of the noise.

[2016-02-09 22:34] rallytime commented on #31059
@mf-collinhayden This was caused by the change in #30217, which I have reverted in #31061. This will be fixed in the next release of salt, 2015.8.7.

Here's the output of making sure this was fixed. First, the reproduction of the bug:
[code]
And then successful run, after applying the branch with the reverted change:
[code]

[2016-02-09 22:52] rallytime commented on #30950
The real, actual fix for this problem is in #31061. With this revert, I no longer see the errors you were getting. The fix will be available in the next release of salt, which we are working on getting out right now.

[2016-02-09 22:54] rallytime commented on #29602
Unfortunately, the fix from @pass-by-value for this issue was causing a lot of regressions in typical salt-cloud -a usage, so we've had to revert that change with #31061.

We'll have to take another crack at fixing this particular issue.

[2016-02-09 23:10] beardedeagle commented on #30658
Sure, doing a quick rewrite to add backwards compatibility so it can be used against centos 6.* and centos 7.*

[2016-02-09 23:46] AndreasBackx opened #31066 "pyenv installation fails on ubuntu/trusty64"
The pyenv installation fails to create the directory /usr/local/pyenv and spits out the following error:

[code]

This is the state:

[code]

When adding everything that makes the folder we get the following state:

[code]

But it still spits out the following error:

[code]

[2016-02-09 23:48] Ch3LL commented on #29817
ping @whiteinge : Do you have any comments/ideas concerning this latest update?

[2016-02-10 00:05] symphorien opened #31069 "Wrong filename in documentation for x509 state"
The example at the beginning of https://docs.saltstack.com/en/latest/ref/states/all/salt.states.x509.html says that to enable the publish module, one should create a file called ```/etc/salt/master.d/peer.sls```. The correct filename is ```/etc/salt/master.d/peer.conf``` instead.

[2016-02-10 00:10] basepi commented on #30819
Hmm, I'm wondering if I'm misremembering the filename. If I'm not, then we need to figure out why those cache files are not being created, because that may well be the source of your issues.

[2016-02-10 00:11] basepi commented on #31030
Indeed. That might be the direction I'd go if external pillar is an important piece of it. You could also go around the external pillar and just call the pillar backend directly.

[2016-02-10 00:46] ccrivelli opened #31070 "libgit2 must be compiled with libssh2 to support SSH authentication."
I'm testing pygit2 with ssh to sync my gitHub repo, but I'm getting the following error:

[code]

My gitfs config in salt-master is the following one:

[code]

The interesting thing is that, if I change my salt-master config in this way:

[code]

I get a different error:

[code]

A manual git clone command works fine:

[code]

I also opened a github issue in the libgit2 page with all my compilatio

[2016-02-10 01:21] shpsec-dennis opened #31071 "GCE Salt-Cloud Driver:creating node with custom subnetwork not possible?"
Hi,

Combing the libcloud (1) and gce provider source code in saltstack and docs I cannot seem to figure out how to create a GCE instance into a custom sub-network either using a profile or salt-module.

 Is this support just not existing or can I not figure out how to do it?
(similar to EC2: [https://issues.apache.org/jira/browse/LIBCLOUD-579])

If I specify a subnetwork for the network attribute

[2016-02-10 01:30] mf-collinhayden commented on #31059
@rallytime Thanks much.  I made the changes manually to the 2 files for now until the release, and it's working :)

[2016-02-10 02:37] JohnMaguire commented on #9805
I had setup my vagrant provisioner to install a `minion` file with `environment: develop`, in hopes that the user could `vagrant ssh` and then call `salt-call --local state.highstate` and have the Vagrant machine provisioned. Seems this is still a bug.

[2016-02-10 02:42] JohnMaguire commented on #9805
Interestingly, `salt.highstate` seems unaffected while `state.apply` is:

[code]

[2016-02-10 02:47] JohnMaguire commented on #9805
Actually, based on quickly glancing the code, it seems like `highstate` might default to a different env if the requested one isn't available. Not sure I'm reading the code correctly though.

[2016-02-10 03:31] kev009 commented on #28518
@cedwards can you try this https://github.com/freebsd/freebsd/commit/63a60c271f3a9672a5c6327c1c29d5e5e80d56c9?

[2016-02-10 06:42] joejulian commented on #30932
I'll take a look at this.

[2016-02-10 07:19] fredrikaverpil commented on #26450
Not sure if I'm hitting the exact same use case, as the OP didn't provide much background. But here's my case (with the same error).

This works perfectly fine:

[code]

But this will fail:

[code]

...with the following info:

[code]

I'm on 2015.8.5, running on CentOS 7. The minion is a Windows 10 Pro 64-bit box.

[2016-02-10 07:34] turtletraction opened #31074 "salt-ssh sudo_user execution not running as sudo_user"
Hi,

Looking for some guidance regarding the usage of the "sudo_user" in the roster file option "minion_opts".
Seems like the commands are not executed as the "sudo_user" but as the connecting user.

Salt version: 2015.8

Here is my roster file:

[code]

I can confirm that the sudo is correct configured on "myhost" since I can run;

`salt-ssh myhost cmd.run 'sudo -u appuser touch /tmp/test1' `

Th

[2016-02-10 08:16] DmitryKuzmenko commented on #28154
Ok, it looks I can close this.

[2016-02-10 08:16] #28154 closed

[2016-02-10 08:18] pkruithof commented on #18630
[code]

Does that help?

[2016-02-10 09:05] joejulian commented on #30932
gluster got smarter about figuring out it's own hostname. If you establish a trusted pool from server1 (10.0.0.1) to server2 (10.0.0.2) with:

[code]

then, from gluster2 you can check that

[code]

So, obviously, 10.0.0.1 isn't going to match it. Gluster's also added the ability to know aliases for that hostname which might also need to be checked. The existing logic in the peered state is comple

[2016-02-10 09:16] joejulian commented on #25169
This should have been fixed by #30075. Can you verify @theorb77?

[2016-02-10 09:56] lagonix commented on #28751
Hi @abednarik

I have tested PR #30749 from the 2015.8 branch on a Ubuntu 14.04 with success.

[2016-02-10 10:04] abednarik commented on #28751
Thanks: :)

[2016-02-10 10:24] jakubek commented on #30819
@basepi kind of magic, I have stopped master and then started, before I did service restart (which should be the same), executed salt '*' saltutil.sync_all and voila data.p are created and compound is working now. Thanks for you support!

[2016-02-10 10:24] #30819 closed

[2016-02-10 11:19] arthurlogilab commented on #30820
got hit by this too. Thanks for the quick update.

[2016-02-10 12:48] mmisztal1980 commented on #30783
@jfindlay  Hi there. This doesn't exactly solve my problem - is there any way I can work around this? for instance using a beacon inotify? could you give me an example of how to move a directory using inotify?

[2016-02-10 13:05] zerthimon commented on #30991
https://github.com/saltstack/salt/issues/30596

[2016-02-10 13:16] marnovdm commented on #31017
Please see https://github.com/saltstack/salt/pull/31077 which adds basic support for setting the cores_per_socket parameter.

[2016-02-10 13:18] zerthimon opened #31078 "Feature: Allow specifying syslog facilty, level and tag for syslog returner"
Currently everythong goes to default facility, INFO level:

[code]

[2016-02-10 13:24] srkunze opened #31079 "Automatic Invalidation of ThinTGZ"
After a lot of successful runs of salt-ssh, the following bug occurs:

[code]

Our dirty solution: removing the thin-tgz on the minion

`minion-server:~ # rm -rf /tmp/.root_dcdf8c_salt`

[2016-02-10 13:55] JensRantil opened #31080 "salt.states.file.line documentation doesn't explain "name""
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.line doesn't document the "name" parameter. It isn't part of the https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.file.html#salt.modules.file.line parameters. I assume it's the file to be modified?

[2016-02-10 13:59] JensRantil opened #31081 "salt.modules.file.line documentation unclarities"
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.file.html#salt.modules.file.line could be somewhat improved:
- Is `mode: Ensure` based on the `content` or `match` parameter?
- The parameters are given in two different formats (bullets and `:param`s).
- Is `match` required?

[2016-02-10 14:04] damon-atkins opened #31082 "No grain for salt config dir"
Most of the time it is /etc/salt some OS e.g. Windows and FreeBSD its different.
If people what salt to add files into /etc/salt/master.d or /etc/salt/minion.d they need to hard code it.

Please add a grain similar to saltpath and saltversion , maybe call it saltconfdir assuming the master and minion will always be the same.  (or saltminionpath) ???

Cheers

[2016-02-10 14:12] JensRantil commented on #31081
Also, where are new lines being placed if no `location`, `before` or `after` is given? It's totally fine to say "undefined behaviour", but should probably be documented.

[2016-02-10 14:12] JensRantil commented on #31081
Can `before` and `location` be given at the same time or are they mutual exclusive?

[2016-02-10 14:13] JensRantil commented on #31081
Looks like based on `content`. See https://github.com/saltstack/salt/blob/develop/salt/modules/file.py#L1480.

[2016-02-10 14:14] JensRantil commented on #31081
The example is using "ensure" (small caps) while parameter documentation uses "Ensure". Maybe use the same caps?

[2016-02-10 14:18] BrandKNY commented on #24575
It is going to be some time until I can re-test this. If your own tests
have perhaps shown it to be fixed I would say move to close the issue as
resolved and, when I can test it out with newer versions I will give you
feedback at which point you may decide to re-open the issue if necessary at
that time? Sorry I wish I could be more helpful at this time but I'm
swamped with other development work a

[2016-02-10 14:25] erjohnso commented on #31071
Hi @shpsec-dennis - you're research is correct. Subnetworks do not yet exist in libcloud and that has to happen before they can get exposed to the salt-cloud GCE driver.

Could you create a libcloud issue for the feature request and point back to this issue? Also, if you're inclined to do the work, I'd be happy to help review / test.

[2016-02-10 14:38] bradthurber commented on #31017
@marnovdm thank you for picking this up and running with it! I'll give it a try in a bit.

[2016-02-10 15:40] rallytime commented on #31059
@mf-collinhayden Excellent! Glad to hear that.

[2016-02-10 15:49] rallytime commented on #24575
@BrandKNY Not a problem at all. I'll close this for now, but let us know if this pops up again when you get a chance to upgrade and retest and we will be glad to take another look.

[2016-02-10 15:49] #24575 closed

[2016-02-10 16:06] kartsm commented on #30515
Addressed in PR #30801

[2016-02-10 16:06] #30515 closed

[2016-02-10 16:15] garethgreenaway commented on #18630
@pkruithof Perfect!  Exactly what I was seeing as well.  the vers option is showing up in the mounted file system as vers=4.0 but when specified in the salt state it's vers=4, salt sees the difference and forces a remount.  Looks like a scenario we need to account for, I'll look at a fix later today.

[2016-02-10 16:20] rterbush commented on #10237
Wanted to share the following set of states that I worked up to deal with this keystore task. I'd welcome any input as to how to do this better and would also welcome the addition of keystore state to manage this more directly.

[code]

[2016-02-10 16:51] rambli opened #31087 "Unable to process YAML from winrepo_ng state file"
I am using a template state file from winrepo_ng ([https://github.com/saltstack/salt-winrepo-ng/blob/master/7zip.sls]) in my `salt-call --local state.highstate` call, but I get the error below:
` 'Data failed to compile: State '7zip' in SLS i'7zip' is not formed as a list.`

I double checked that the post-jinja parsed output is valid YAML using a validator, but salt does not like it, throwing the

[2016-02-10 17:00] jfindlay commented on #31046
@krisrmgua, thanks for reporting.  The glob target uses python's [glob](http://docs.python.org/library/glob.html) library, so this may be a bug in that upstream library.

[2016-02-10 17:09] gladiatr72 opened #31088 "request for color logging fix backport"
#30542

Is there a possibility of getting this back-ported to at least the 2015.8 branch?  I neglected to actually look before updating one of my salt-masters from 2015.8.3 -> 2015.8.6 a couple days ago.  Woke up to unhappy people on my phone due to the master having filled up the disk with stacktraces emanating from salt.log.setup by way of gnupg log messages :cry:

[2016-02-10 17:16] JohnMaguire commented on #30991
@zerthimon I did see those bugs and almost referenced them, but I believe they're unrelated. The error is different (status code 500 from API vs. unexpected keyword.)

[2016-02-10 17:43] jfindlay commented on #31046
[code]

[2016-02-10 17:46] paclat commented on #29817
Looks like the basic issue is with regard to __del__ behavior.   Most comments on line say to be very wary of counting on it.

[2016-02-10 17:47] jfindlay commented on #31047
@m-o-n-k, thanks for the report.  What version of salt are you using?  Also, will you post the minion debug log for the time when this state first runs (copies the file)?

[2016-02-10 17:52] jfindlay commented on #31048
@papiveron, thanks for reporting.  What version of salt are you using?  This looks like a bug to me, but I'm not sure exactly what the fix would be.

[2016-02-10 18:03] basepi commented on #30819
Ooh of course, sync_all. Good call. Glad you have it fixed, and know what to look for. That's something we definitely need to improve, but we'll track it in that other issue I linked.

[2016-02-10 18:05] jfindlay commented on #31052
@danlsgiga, thanks for reporting.  Is it possible to post the full error (traceback if available)?

[2016-02-10 18:06] bahadunn commented on #31021
Here is some more info that might be helpful.

[root@xen1 ~]# python2.6
Python 2.6.8 (unknown, Nov  7 2012, 14:47:45)
[GCC 4.1.2 20080704 (Red Hat 4.1.2-52)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Segmentation fault

[2016-02-10 18:15] bahadunn commented on #31021
More hopefully useful info:

Feb 10 12:59:46 xen1 kernel: [694500.664249] python2.6[26753]: segfault at 11 ip 00007f8f00b5f7d0 sp 00007fffe82b5c50 error 4 in libcrypto.so.1.0.1e[7f8f00a6d000+1a9000]
Feb 10 13:12:59 xen1 kernel: [695293.270926] python2.6[31105]: segfault at 11 ip 00007f713d0ae7d0 sp 00007fff516c4840 error 4 in libcrypto.so.1.0.1e[7f713cfbc000+1a9000]

[2016-02-10 18:15] danlsgiga commented on #31052
@jfindlay for sure... I'm just wondering how to do this, since the only error I get in the logs when the log_level is set to debug is that one. Is there any log_level lower than debug?

[2016-02-10 18:22] jfindlay commented on #31056
@JensRantil, thanks for reporting.  This should be fixed by #31095.  Symlink is a portmanteau of 'symbolic link'.  What should probably be done here is to create a `file.link` function that can do both hard and soft links but defaults to soft linking.

[2016-02-10 18:23] cachedout commented on #31021
Could you do a `yum whatprovides libcrypto.so.1.0.1e` please?

[2016-02-10 18:27] bahadunn commented on #31021
[root@xen1 ~]# yum whatprovides libcrypto.so.1.0.1e
Loaded plugins: dellsysid, fastestmirror
Loading mirror speeds from cached hostfile
citrix                                                                                                               |  951 B     00:00
dell-omsa-indep                                                                                                      | 1.9 kB

[2016-02-10 18:30] cachedout commented on #31021
Hrm. You might need to do a little massaging of that filename to figure out what yum is looking for. Basically, I'm trying to suss out which package thinks it owns that libcrypto library. This *sounds* like a conflict between one of the python crypto libs and python, but it's a little hard to say.

[2016-02-10 18:32] bahadunn commented on #31021
[root@xen1 ~]# yum whatprovides "*/libcrypto.so"
Loaded plugins: dellsysid, fastestmirror
Loading mirror speeds from cached hostfile
citrix/filelists                                                                                                     |  166 B     00:00
dell-omsa-indep/filelists_db                                                                                         | 635 kB     0

[2016-02-10 18:36] cachedout commented on #31021
Ah. I'm guessing that's the source of the problem here. Salt is calling out to pycrypto which is looking to the libcrypto shared object which isn't compatible with the version of python that's installed. You could probably verify this by pulling up a 2.6 python shell and doing an `import Crypto` and see if it segfaults.

[2016-02-10 18:37] bahadunn commented on #31021
[root@xen1 ~]# python26
Python 2.6.8 (unknown, Nov  7 2012, 14:47:45)
[GCC 4.1.2 20080704 (Red Hat 4.1.2-52)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

[2016-02-10 18:37] cachedout commented on #31021
@bahadunn I only got part of that. Did the interpreter exit or segfault or did it keep running?

[2016-02-10 18:42] bahadunn commented on #31021
it's doing something weird.  The interpreter did not segfault.  It kept running.

[2016-02-10 18:42] bahadunn commented on #31021
1:openssl-xs-libs-1.0.1e-42.xs15.x86_64 : A general purpose cryptography library with TLS
                                        : implementation
Repo        : installed
Matched from:
Filename    : /usr/lib64/libcrypto.so.10
Filename    : /usr/lib64/libcrypto.so.1.0.1e

[2016-02-10 18:43] twangboy commented on #28943
I have followed the instructions in the documentation to install a salt master using homebrew and had no problems. I spun up a VM using parallels and performed the following steps:
- Install Homebrew
- brew install python
- brew install swig
- brew install zmq
- pip install salt==2015.8.0 (because that's the version shown in this issue)
- create master config in `/etc/salt`
- set maxfiles limit to

[2016-02-10 18:43] cachedout commented on #31021
@bahadunn The problem might only be exercised by certain crypto functions so importing it *might* not be enough to reproduce the issue.. :-/

[2016-02-10 18:45] jfindlay commented on #31066
@AndreasBackx, thanks for reporting.

[2016-02-10 18:53] Ch3LL opened #31099 "Cannot specify size in map file in 2015.8"
When specifying the size in a map file instead of the profile configuration file I receive and error when trying to create/provision the VM. Here is my test case:

/etc/salt/cloud.providers.d/amazon.conf

[code]

/etc/salt/cloud.profiles.d/amazon.conf

[code]

map file

[code]

When I run `sudo salt-cloud -m /srv/salt/states/test-map.sls -ldebug` I receive the following error:

[code]

[code]

I a

[2016-02-10 18:54] #31066 closed

[2016-02-10 18:54] Ch3LL commented on #31099
ZD-639

[2016-02-10 18:55] bahadunn commented on #31021
Just found this:

[root@xen1 /]# python2.6
Python 2.6.8 (unknown, Nov  7 2012, 14:47:45)
[GCC 4.1.2 20080704 (Red Hat 4.1.2-52)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Segmentation fault

[2016-02-10 18:55] beardedeagle commented on #30167
for centos 7.2 and winexe you need 1.1. I am working on this with dmurphy18 in #30658

[2016-02-10 18:58] cachedout commented on #31021
Nice! So, clearly there's a conflict between the openssl install you have and your python install, since that's a part of the python stdlib. I'm a little concerned that this got introduced with your salt upgrade though. I assume this was the point where you switched to using `repo.saltstack.com`?

[2016-02-10 18:58] jfindlay commented on #31069
@symphorien, thanks for reporting.  This is fixed in #31100.  If you need to make doc updates in the future, you can edit the page [on github](https://github.com/saltstack/salt/edit/2015.8/salt/states/x509.py), which should create a pull requests with any edits to the file.  See also #22082.

[2016-02-10 19:00] bahadunn commented on #31021
Well, this first started with version 2015.5.3 of salt-minion I believe.  We obtained that from a copr repo.  I found and installed the repo.saltstack.com repo in an effort to upgrade and see if that would fix it.

[2016-02-10 19:01] cachedout commented on #31021
Is this happening on every Xen box you have or is this just an artifact of an upgrade on this single machine?

[2016-02-10 19:01] jfindlay commented on #31070
@ccrivelli, what version and pygit2/libgit2, what is the output of `salt-run --versions-report`, and what platform and version?  Thanks.

[2016-02-10 19:07] bahadunn commented on #31021
This is happening on all new installs for us on xenserver version:

[root@xen1 ~]# cat /etc/redhat-release
XenServer release 6.5.0-90233c (xenenterprise)
[root@xen1 ~]#

Xenserver running salt-minion version 2015.5.0 seems to be fine.  We had hacked the bootstrap script for saltstack to work on xenserver which was fine until recently when the copr repo seemed to have moved.  Ever since then when s

[2016-02-10 19:12] jfindlay commented on #31088
@gladiatr72, thanks for reporting.  I'm going to close this since it has been backported.

[2016-02-10 19:17] jfindlay commented on #31074
@turtletraction, it is confusing, but salt-ssh needs a `user: appuser` roster config for sudo to work over salt-ssh.

[2016-02-10 19:18] bahadunn commented on #31021
I think I might have an idea as to the problem. My hacked up install.sh script has an override:
    if [ "${DISTRO_NAME}" = "XenServer" ] ; then
        DISTRO_NAME="CentOS"
        DISTRO_VERSION="5"
    fi

CentOS5 maxes out at openssl 0.9.something
But Citrix, with their out of band patches, they appear to have manually compiled that new openssl-xs
which is 1.0.1e
So if we're installing a pytho

[2016-02-10 19:21] cachedout commented on #31021
Yup, that sounds like exactly the problem.

[2016-02-10 19:28] rowedonalde commented on #27993
@rallytime Necroposting to this issue as we're finally trying to move to core salt-cloud away from [our fork of the original repo](https://github.com/csakoda/salt-cloud) to which we had added support for chained extends. Is it a deliberate design decision not to allow chained extends in salt-cloud profiles, or is it a technical limitation/bug?

[2016-02-10 19:38] jfindlay commented on #31078
@zerthimon, thanks for reporting.  You are welcome to implement this if you have the skill and need.

[2016-02-10 19:50] jfindlay commented on #31079
@srkunze, thanks for reporting.  What is the output of `salt-ssh --versions-report`?  Do you have any other info or suspicions on when/how the thin tar becomes corrupted?

[2016-02-10 19:57] jfindlay commented on #31080
@JensRantil, thanks for reporting.

[2016-02-10 19:58] jfindlay commented on #31081
@JensRantil, thanks  for the review.  We should get these clarified.

[2016-02-10 20:01] jfindlay commented on #31082
@damon-atkins, thanks for reporting; this should be simple to add.

[2016-02-10 20:03] jfindlay commented on #31087
@rambli, thanks for reporting.  @thebigbear, do you have any ideas on this one?

[2016-02-10 20:06] #28751 closed

[2016-02-10 20:10] jfindlay opened #31104 "Add repo.saltstack.com as an example for pkgrepo.managed"
Also add this example for debian/ubuntu/RHEL install instructions: https://docs.saltstack.com/en/latest/topics/installation/rhel.html.

[2016-02-10 20:10] srkunze commented on #31079
Not really. :/

[code]

[2016-02-10 20:23] jfindlay commented on #30783
@mmisztal1980, I am not sure as I don't have much experience with beacons but a reactor that is triggered, possibly by beacon, upon file upload and calls a runner on the master to move the files into salt:// seems like a good approach.

[2016-02-10 20:28] jfindlay commented on #31052
@danlsgiga, [there are](https://github.com/saltstack/salt/blob/v2015.8.6/salt/log/setup.py#L44-L55), but if the stack trace does not appear in the debug log, it will likely not appear at a deeper level.  Do you at least have the full error message returned on the console and the associated minion debug log?

[2016-02-10 20:50] cro commented on #28943
I've seen this behavior when DNS is messed up -- is DNS resolution working
OK for the machines in question?

On Wed, Feb 10, 2016 at 11:43 AM, Shane Lee <notifications@github.com>
wrote:

--
*--cro*
C. R. Oldham, Platform Engineer, SaltStack
cr@saltstack.com / 801-564-4673

[2016-02-10 21:16] rvandegrift opened #31106 "Exception from scheduled runner"
I'm trying to use the scheduler to exec a runner.  Whenever it runs, I get the following exception:
[code]

It seems to do this for any runner - I'm using sample based on the docs (https://docs.saltstack.com/en/latest/topics/jobs/schedule.html#runners)
[code]

[2016-02-10 21:37] mrueg opened #31109 "Trusted grains (Having the salt-master add a signature to the grain)"
This is a feature request to improve the security on (e.g., role-based) grains.
A possible scenario could have a production and development environment. The pillar's top.sls is using grains to decide which secrets (e.g. a tls priv key) are provided to each environment. As described in [1], a developer who has access to the development environment could add the production grains and get full access

[2016-02-10 22:08] o-sleep commented on #31030
I'm not entirely sure what you mean, unless you are saying to make the call externally to salt and then just feed it events with the indicative data as the payload.  I have thought about doing that and will keep that as a backup.  If you meant something else, please elaborate.  Otherwise, your earlier suggestion gives me a path to work towards.  I'll see how far I get with it and let you know if I

[2016-02-10 22:19] AkhterAli commented on #28693
That fingerprint originally reported looks really close to ssh fingerprint.  I would double check with the fingerprint of the master with the one in the config.

[2016-02-10 22:29] ketzacoatl commented on #27020
An execution module means the secrets don't inadvertently end up in the salt log, but a pillar module means users can make use of this more seamlessly (retain loose coupling with salt formula).. but maybe the pillar module could use the execution module, so that both are available?

One thing I am not sure of is how you would retrieve all child keys from a parent _path_ in Vault. I will look into

[2016-02-10 22:30] whiteinge opened #31112 "Can't delete a minion key from the Python API"
This doesn't work. No error, no return. Tested on 2015.8 and 2016.3.

[code]

[2016-02-10 22:39] terminalmage commented on #31006
The idea of using the file_tree external pillar is to allow for ACLs so that a file can not be readable and able to be decrypted by any minion that doesn't need to have that information. Trading convenience for added security, so to speak.

To do it in the way you suggest means that the file is just part of the ``salt://`` namespace and any minion can request the file and, if the GPG key is deploy

[2016-02-10 22:49] ealphonse commented on #29341
Hi, same problem, configuring salt-ssh to perform salt updates and recovery, and quite some gpg'd pillar variables.

[2016-02-10 22:49] dmurphy18 commented on #30937
Thinking this may be related to the incorrect reliance on python-systemd in 2015.8.4 which has since been removed in 2015.8.5.

[2016-02-10 22:52] TheBigBear commented on #31087
@rambli, no can't think of something right away. But, just being curious and to double check the sls parsing and all, what would a ```salt 'minion' pkg.install 7zip``` do, or report? Does that work?
Maybe the error is hidden in the 'state' side of things, maybe the 'highstate' is being passed a 'bad' list, and it's not actually the 7zip sls file but the complement of states that make up taht high

[2016-02-10 22:52] anlutro commented on #30937
If that was the case, I don't think running the `apt-get install` command manually would work, either. It seems the thing triggering the fail is if the `apt-get install` is a subprocess of the salt minion.

[2016-02-10 22:54] ccrivelli commented on #31070
Hi @jfindlay,
I think I need to mention than I'm trying to sync the saltmaster repo behind a proxy/jumpbox, like:
[code]
I've set up the saltmaster ```.ssh/config``` to connect to github.com jumping to the proxy/jb through an ssh tunnel, like:
[code]
and a git clone from bash works file, like:

[code]

But - at this stage - I'm still not figuring out if I can do it with salt/pygit2 as libgit2 is n

[2016-02-10 23:01] dmurphy18 commented on #30937
@anlutro  trying your commands now

[2016-02-10 23:26] nfillot opened #31115 "2015.8.5 salt-cloud nova valid ip address was not found"
Hello,

When creating a new node with salt-cloud  (2015.8.5) and nova, i have the following issue :

[code]
This is caused by the call to preferred_ip inside nova.py at line 863.

[code]
data.public_ips is not a dict and therefore the loop is failing

[code]

Passing a dict works :
[code]

[2016-02-10 23:36] dmurphy18 commented on #30937
Looks like this is due to salt.loaded.int.module.nova.__virtual__() is wrongly returning `None`. #29445

Seeing the loader ERROR out due to exception __virtual__ function for nova

[2016-02-10 23:41] rambli commented on #31087
Thanks for getting back to me guys.
(JFYI, I am running salt in the masterless state.)

[code]

The `salt-call --versions` call is failing with `'OSError:  Could not locate nacl lib, searched for libsodium' `error, so trying to resolve that, will post update once I get past that.

[2016-02-10 23:46] jfindlay commented on #31070
@ccrivelli, does your proxy configuration rely on the use of `$http_proxy/$https_proxy`?

[2016-02-10 23:46] anlutro commented on #30937
I've seen that error in my logs for a long time and it hasn't caused any real problems. Why does it cause the package upgrade to fail? And why only this particular upgrade path? Like I said, upgrading from 2015.8.4 to .5 worked fine.

[2016-02-11 00:02] ccrivelli commented on #31070
@jfindlay yes, but just for HTTP/HTTPS protocol, not for SSH.
I'm not sure I got the reason of your question under this thread.

[2016-02-11 00:37] gtmanfred commented on #12511
@terminalmage does your PR from a couple weeks ago close this?

Thanks

[2016-02-11 00:42] optix2000 commented on #30692
@jfindlay,

Oops forgot the version info.
Here it is:
[code]

[2016-02-11 01:29] gladiatr72 commented on #31106
@dmacvicar #24237

I reverted salt/utils/schedule.py to c462139dbb7937e9f7e3c4c670a4adfb3f7b8ad1 and my salt-master scheduler returned to its blissful state of usefulness.

[code]

(master log)
[code]
:unamused:

[code]

[2016-02-11 03:02] o-sleep commented on #31030
After working on this a bit.  Is there a way I can import the the external pillar to run ext_pillar()?  I tried calling it and mypillar.ext_pillar(), where mypillar is the name of a version of cmd_json, I modified.  But both get "is not defined" errors.  Or did you mean for me to call the external data source directly from the state module, and not use the external pillar system in salt?

[2016-02-11 03:38] roskens opened #31117 "ssh_known_hosts.present doesn't account for host key type"
I was trying to create a state to add all known host keys for a remote host into a users known_hosts file. I was doing this by adding: "enc: ecdsa,dsa,rsa" to the state entry. Unfortunately, this doesn't work as expected for two reasons:
1. Testing for the presence of a host key uses "ssh-keygen -F name" which doesn't account for the host key type. So if one already exists for a different type, no

[2016-02-11 04:07] ccrivelli opened #31118 "GitPython return 'True', but the GitHub repo is not fetched"
Hi guys,
I'm testing the GitPython backend fileserver, when I run `# salt-run fileserver.update -l all` everything seems to be good:

[code]

but I'm not able to find any fetched data in my local filesystem (should I find my github repo here, correct?):

[code]

I found only a .git directory here:

[code]

with the following content:

[code]

My configuration in `/etc/salt/master.d/gitHub.conf` is

[2016-02-11 04:46] ccrivelli commented on #31118
Well,
I think I'm definitely missing something about how gitfs works, as after running the following command:
[code]

I was able to find my fetched data:

[code]

[2016-02-11 05:59] gtmanfred commented on #31115
Are you specifying the ssh_interface as the cloud network 'Private-NTW' ?

[2016-02-11 06:19] gtmanfred commented on #29666
there was a mistake in the NovaServer class that only put the networks named 'public' or 'private' in the public_ips and private_ips.

#31120 fixes that, and will sort the ips when making the server object, so this one should be fixed, because it can now just fall back to using the private_ips.

The other change was fixing letting ssh_interface specify which network to use the ip from, so you coul

[2016-02-11 06:35] thedrow commented on #25728
@jfindlay Is there an ETA on when we can start working on this?

[2016-02-11 06:38] nfillot commented on #31115
No i am specifying private_ips as ssh_interface
My profile :
[code]

[2016-02-11 06:51] gtmanfred commented on #31115
You shouldn't be hitting the data.public_ips at all then.

The only time data.public_ips is not a list, was when it was just the access_ip.

data.private_ips should always have been a list, it was never mangled.

Can you test with the patches from #31120 ?

It fixes some of the inconsistencies between the nova driver and what was the old libcloud driver that is deprecated now, and should no longer

[2016-02-11 09:15] mmisztal1980 commented on #30783
Can anyone else assist? @cachedout ?

[2016-02-11 10:30] turtletraction commented on #31074
@jfindlay Thanks for you reply.
I am not really sure what you mean by setting the `user: appuser`

Here is my roster:

[code]

But the result of `whoami`still returns the `sshuser`

[code]

Setting `sudo: True` attempts to run the commands as root, which is not allowed in our case.

Grateful for your help

[2016-02-11 10:50] dmacvicar commented on #31106
I think I saw this once, and I assumed that at some point of the loop this was not available, but I did not thought about "schedule running on the master" case. I will try to reproduce.

[2016-02-11 11:23] davidcodesido opened #31122 "data_file (and maybe headers_file) in http.query not rendering"
I'm on :
salt-minion                    2015.8.3+ds-1
salt-master                    2015.8.3+ds-1

I have a state that uses http.query to perform a POST:

[code]

However, when that state is rendered, I get the following error:

[code]

When I try to check if those files are available on the salt-master with salt-call cp.list_master they are available:
- docker-zabbix/files/templates/auth.jinja
-

[2016-02-11 12:29] fbretel commented on #31006
Having followed #1543, I'm well aware that sensitive data should be in pillar :) What in my proposition suggests

?

I stated:

I think I duplicated #3790.

How about:
[code]
Which would be available as pillar `ssh:ssh_host_rsa_key.gpg` for host1 only ?
Then we need to consider also the renderer at some stage.

[2016-02-11 13:30] dr4Ke commented on #23758
I think the state should fail if the archive is not fully extracted for whatever reason. Right now, it returns success with a message instead of a file list:

[code]

[2016-02-11 13:44] BalintSzigeti opened #31123 "state minion regexp doesn't work - CentOS 6"
hello

according to this: https://docs.saltstack.com/en/latest/topics/targeting/globbing.html

this state should work:

[code]

but it return with ntp.conf.default regardless the state was executed on host1c or host2c.

salt version:
salt-2015.8.5-1.el6.noarch

[2016-02-11 15:47] davidpsv17 opened #31126 "take a query from the mysql of the master"
Hi,
I have the master with mysql, It's posible make a query with saltstack on the master?
Thanks!!

[2016-02-11 15:57] bmgraves opened #31127 "Non-Statefull results with file.replace"
This is a very specific use case, and Might not be considered a "bug" so much, but still something that causes minor issues.

I'm using salt at the moment to control boot options for my grub menu. To do this I use file.replace, to search for the kernel line pattern, split it into 2 sections: The "static" section, and the "options" section. I then repl with the static section + boot options, the st

[2016-02-11 16:18] jcockhren commented on #12511
@gtmanfred which PR is that? I'd love to take a peek. ;)

cc @terminalmage

[2016-02-11 16:21] danlsgiga commented on #31052
@jfindlay There's nothing in the minion log because the schedule is configured in the master config. I've changed the log_level to trace but, as you mentioned, that didn't help much.

Here is the only line that I get regarding the scheduled job.

    2016-02-11 09:17:54,645 [salt.master      ][ERROR   ][8062] Exception 'pillar' occurred in scheduled job

[2016-02-11 16:23] gtmanfred commented on #12511
I believe this one should be able to close this
https://github.com/saltstack/salt/pull/30647
On Thu, Feb 11, 2016 at 10:18 AM Jurnell Cockhren <notifications@github.com>
wrote:

[2016-02-11 16:24] tbaker57 commented on #31127
How about using onlyif/unless to make it idempotent ? e,g,
[code]

cheers,
Tim

[2016-02-11 16:32] rallytime commented on #27993
@rowedonalde It is not a design decision, it just wasn't written originally with that idea in mind. That functionality just needs to be refactored in order to support chaining multiple extends together.

[2016-02-11 16:34] tbaker57 commented on #31123
I think the jinja rendering in your issue is separate from targeting. I don't think jinja2 supports regex matching natively. You'd need to write a custom jinja filter for that (or use another templating engine such as Mako).

cheers,
Tim

[2016-02-11 16:50] tmaulik commented on #30950
Thanks rallytime. Can you please tell when the next release of salt can expected to be available?

[2016-02-11 16:54] bmgraves commented on #31127
And with the help of your comment I realized that things actually work find anyway and I'm just an idiot. I was including "quiet" as part of my base pattern, but also adding quiet as part of my options  bit, causing it to never satisfy itself.

Sorry for the trouble, thanks for the help. :)

[2016-02-11 16:54] #31127 closed

[2016-02-11 17:04] mpaolini commented on #30969
[code]

[2016-02-11 17:07] rallytime commented on #30950
The release has been tagged internally and we're running tests on it right now. I don't have hard date, but it should be very soon. This will be in the 2015.8.7 release.

[2016-02-11 17:09] zerthimon commented on #4244
+1

[2016-02-11 17:21] rallytime commented on #31099
@Ch3LL I have fixed this regression in #31132. This regression is present on all releases in the 2015.8 branch so far, but will be fixed in the 2015.8.8 release of salt.

This was fixed in my testing, as noted in the original comment of the PR submission, but if you could give this a try and confirm this fix works for you as well, that would be swell.

[2016-02-11 17:24] jfindlay commented on #31106
@rvandegrift, thanks for reporting.

[2016-02-11 17:25] jfindlay commented on #31109
@mrueg, thanks for reporting.  This seems like a great idea.

[2016-02-11 17:31] jfindlay commented on #31117
@roskens, thanks for reporting.  This would be a good feature to have.

[2016-02-11 17:34] jettero commented on #26254
I was getting list.remove(x): x not in list in 2015.8.1 and discovered it was really because of having more than one node with the same id.

[2016-02-11 17:37] jfindlay commented on #31118
@ccrivelli, thanks for reporting.

[2016-02-11 17:42] jeffreyctang opened #31135 "file.line mode=replace breaks on empty file."
Platform: Ubuntu 14.04.3 LTS
Salt version: salt 2015.8.3 (Beryllium)

if file.line  mode=replace is confronted with an empty file, it causes an exception:

[code]

If the file has one blank line, then this doesn't fail.

[2016-02-11 17:42] jfindlay commented on #31122
@davidcodesido, this looks like a bug to me.

[2016-02-11 17:46] jfindlay commented on #31123
@BalintSzigeti, also your jinja logic tests whether the id grain is literally `host(1|2)c` or `host[1|2]c`.  In order to get pattern matching you will need to look into the options @tbaker57 has mentioned.

[2016-02-11 17:48] jfindlay commented on #31126
@davidpsv17, normally work done on the master by the master salt daemon uses a runner, but in this case it might be easier to put a minion on the master as well and that way you can access mysql with the execution and state modules.

[2016-02-11 17:49] jfindlay commented on #31135
@jeffreyctang, thanks for reporting.

[2016-02-11 17:50] jacky35 commented on #26253
I have the same problem with Windows XP : - / what's the solution?

[2016-02-11 17:54] jeffreyctang opened #31136 "file.line should create the file if it doesn't exist."
Platform: Ubuntu 14.04.3 LTS
Salt Version: salt 2015.8.3 (Beryllium)

I'm trying to make sure a file exists with one particular line, but not completely manage the contents so other processes can also add content to it.  I could use file.touch as a requirement, but I shouldn't have to and it doesn't actually work because of #31135.  If file.line just created the file, it would make it a lot easier

[2016-02-11 17:59] #26569 closed

[2016-02-11 18:01] #31033 closed

[2016-02-11 18:03] jeffreyctang opened #31137 "logrotate creates .bak files in /etc/logrotate.d which logrotate reads."
Platform: Ubuntu 14.04.3 LTS
Salt Version: salt 2015.8.3 (Beryllium)

When editting a file in `/etc/logrotate.d/` the  logrotate module creates a .bak file. The  logrotate  program will read this extra file, which can be very confusing.  The call to `file.psed` should be `file.replace`  with `backup=False` for logrotate.d files

[2016-02-11 18:19] jfindlay commented on #31136
@jeffreyctang, thanks for the report.  We could add a `create` option to the function to create the file if it doesn't exist, which could run a file.touch first.

[2016-02-11 18:20] jfindlay commented on #31137
@jeffreyctang, thanks for reporting.  This should be easy to fix.

[2016-02-11 20:07] adrianhj commented on #31074
Hello!

I am seeing the same issue on my side, my tests below if they are of any use.

Normal login, verify that NOPASSWD is setup correct for normal user:

[code]

[code]

Let us configure the sudo_user minion option:

[code]

[code]

Doesn't execute command as sudo_user, let's check if sudo: True is needed:

[code]

[code]

Executes command as root, not as the sudo_user (nfs).

I tested this aga

[2016-02-11 20:10] nbari opened #31141 "how to prevent removing minions (mines IP) on an HAproxy"
I am using mines to keep backends updated on an HAproxy, but for some unknown reasons, when the salt master can't see a minion and when running a ``salt-call state.highstate``  from the HAProxy, it could happen that since the maser it not available to reach the minions, the HAproxy conf becomes empty and therefore takes all the backens out.

How to prevent removing "unreachable" mines (IP's)  from

[2016-02-11 20:37] davidcodesido commented on #31122
I was afraid to state so due to my lack of expertise on salt, I was more oriented to a mistake on my side. If you need more info to reproduce it let me know.

[2016-02-11 20:50] wrosecrans commented on #21797
On this topic, but with a slightly different approach...  Is there an easy way to get salt to prepend each line with the minion name, so I can just pipe the output of salt to sort ?  Currently, i do something like "salt something\* test.ping | sort | uniq" to see a list of the machines I am picking to make sure my glob (or grain match or whatever) does what I think.  Then I  "salt something\* some

[2016-02-11 20:56] Reiner030 commented on #30985
Hi, I have this problem too...  escpecially because of the boto_* bug.
1st I tried like like @zmalone wrote on weekend the debian variant to held them - which can be done easily like e.g.
[code]
and a patch for this line for bootstrapping in ````/usr/lib/python2.7/dist-packages/salt/cloud/deploy/bootstrap-salt.sh```` to get the old packages for salt.

=> it would be nice if there can be an expande

[2016-02-11 20:59] gladiatr72 commented on #31099
:beers:

[2016-02-11 21:04] terminalmage commented on #12511
Yep, this is implemented now and will be available in 2016.3.0. To sync runners to the master, you can run the following:

[code]

However, the update to 2016.3.0 will bring about one non-compatible change that affects some people. This will be included in the release notes but I'll state it here too. Before this runner module was added in my pull request, custom runners could be added by creating

[2016-02-11 21:05] terminalmage commented on #12511
Since this is implemented now, I will close this.

[2016-02-11 21:05] #12511 closed

[2016-02-11 21:10] terminalmage commented on #31006
It may be possible, this would be something that would need to be implemented in the common code that compiles both pillar top files and top files for states.

[2016-02-11 21:15] Reiner030 commented on #30300
Hi @rallytime I used this fix with _modules/boto* since some days and got very weird behavior this week...
* the boto package isn't reloaded.
  state is defined as:
[code]
  but I got these errors - with only this one referenced state:
[code]
  so I guess that the reload_modules has still this issue https://github.com/saltstack/salt/issues/24925  open and isn't correctly reloaded ? I checked log/f

[2016-02-11 21:16] gladiatr72 commented on #31123
As my salt mentor (hi, @whiteinge! :beer: :) told me on several occasions, beyond very basic logic, you'll be miles ahead to do the heavy lifting in python.

I have a couple *custom* execution modules that hold nothing but utility functions for use within state files.  So, something along the lines of:

/srv/salt/_modules/tplutils.py
[code]

could then be called like

[code]

[2016-02-11 21:17] cachedout commented on #31088
@jfindlay I think you forgot to actually close it. ;]

[2016-02-11 21:17] #31088 closed

[2016-02-11 21:23] #30993 closed

[2016-02-11 22:11] gladiatr72 commented on #30925
Where this hits me is on the salt-master--the minion (on the salt-master host) is running as root--

`/etc/salt/pki/minion` is owned by root--if salt-call is inadvertently run from the salt user (`_salt`), it cannot access the directory that is properly present with proper permissions.

[code]

[2016-02-11 22:13] cachedout commented on #30994
cc: @garethgreenaway

[2016-02-11 22:33] rallytime commented on #30300
@Reiner030 Did you sync the module to your minions? What version of boto is installed?

[2016-02-11 22:37] rallytime commented on #14128
This is fixed in 2015.8.3, so I'll go ahead and close this. If this pops up again, please let us know!

[2016-02-11 22:37] #14128 closed

[2016-02-11 22:41] rallytime commented on #21282
Since this is fixed in 2015.8.3, I'll go ahead and close this. If you bump into this issue again, please leave a comment and we'll be glad to take another look.

[2016-02-11 22:41] #21282 closed

[2016-02-11 22:42] rallytime commented on #23630
I'm going to go ahead and close this, since we haven't heard back. Please do let us know if this pops up again.

[2016-02-11 22:42] #23630 closed

[2016-02-11 22:45] rallytime commented on #23694
Since this is fixed in newer releases, and given the back-port PR above, I'm going to close this. Thanks everyone!

[2016-02-11 22:45] #23694 closed

[2016-02-11 22:47] #30502 closed

[2016-02-11 22:52] rallytime commented on #30572
Closing since this issue is fixed. If you have any more questions or this issue comes up again, leave a comment and we will be happy to re-open!

[2016-02-11 22:52] #30572 closed

[2016-02-11 23:01] whiteinge commented on #31123
@gladiatr72 (hi!) is right that util functions are often preferable to Jinja logic, particularly inline Jinja. (Speaking of which, your general-use `rematch` function would be a very nice addition to [this recent module addition](https://github.com/saltstack/salt/blob/develop/salt/modules/slsutil.py), _wink, wink, :beer: nudge, nudge_.)

@BalintSzigeti Since you're doing a regex match against a mi

[2016-02-11 23:09] rallytime opened #31148 "[Docs] salt-ssh agent-forwarding option has no documentation"
The feature request outlined in #22618 and #24522 was implemented with PR #22629. However, this new feature, which has been present since 2015.8.0, was never documented.

ping @jacobhammons

[2016-02-11 23:10] rallytime commented on #24522
Since the `ssh_priv: agent-forwarding` feature was added to 2015.8.0, I am going to close this issue. Unfortunately, this functionality still hasn't been documented. I opened a new issue (#31148) to track getting some documentation added.

[2016-02-11 23:10] #24522 closed

[2016-02-11 23:11] rallytime commented on #31148
@ngrennan-inflection Since you added the original feature, perhaps you'd be interested in this issue.

Also, thanks for the adding original feature! :)

[2016-02-11 23:13] patel66 commented on #30899
@timcharper Defining s3.role_arn fixes the issue when I run highstate directly on the minion but fails during s3.get when I execute a highstate from the master. I don't understand what would cause that

[2016-02-11 23:15] rallytime commented on #24863
Since this was fixed in 2015.5.5, I'll go ahead and close this. If this pops up again, let us know. We will be happy to take another look.

[2016-02-11 23:15] #24863 closed

[2016-02-11 23:20] #26090 closed

[2016-02-11 23:26] rallytime commented on #28402
Since we haven't heard back here, I'm going to close this. If the suggestion above doesn't work out, please let us know and we will be happy to take another look. Thanks!

[2016-02-11 23:26] #28402 closed

[2016-02-11 23:30] rallytime commented on #28761
@syedaali Were you able to give the fix mentioned above a try? That fix should be available in 2015.8.3.

[2016-02-11 23:45] rallytime commented on #29078
@Reiner030 So looking at your comment from about a month ago [here](https://github.com/saltstack/salt/issues/29078#issuecomment-171966999), what I want to know is what your state looks like that you're using. Some of the docs were wrong, which I have fixed as mentioned above about where region needs to be specified.

You need to either use key/key_id/region in the state, or use a `profile` with th

[2016-02-11 23:47] #29258 closed

[2016-02-11 23:49] syedaali commented on #28761
I upgraded to 2015.8.3 and I don't see the errors anymore, thank you for your help.

[2016-02-11 23:49] rallytime commented on #29265
@mbochenk Sorry to ask again, but just to clarify...did you test both of the pull requests from @michalsuba above, or just the first one? I am trying to gauge if more work is needed here, or if the second PR takes care of the issue with using password changes on existing users.

[2016-02-11 23:54] jfindlay commented on #29335
@colegatron, this should be available in 2016.3.0.

[2016-02-11 23:55] rallytime commented on #28761
@syedaali That is great news! Thanks for the update. I'll close this.

[2016-02-11 23:55] #28761 closed

[2016-02-12 00:10] jfindlay commented on #31070
@ccrivelli, sorry, I'm not very familiar with proxying ssh.  `salt.utils.http` seems to lately have problems using `$http(s)_proxy`.  Is it possible for you to verify if this happens if the connection is not proxied?

[2016-02-12 00:17] jfindlay commented on #25728
@thedrow, I know of no time constraints.  You are welcome to start on this as soon as you need.  We have many extenuating obligations over dozens development activities, so I cannot promise any dedicated resources from SaltStack.  If you are able to work on this though, @techhat may be your best contact.

[2016-02-12 00:18] Glasswalker commented on #27716
Note, this appears to be happening to me as well, OS Version Oracle Linux 7.2 (but very similar to Centos 7.1).
x86_64

Not using salt-ssh, but experiencing exact same issue otherwise.

So this suggests the issue isn't specific to salt-ssh.

[2016-02-12 00:18] garethgreenaway commented on #30994
@cachedout will take a look.

[2016-02-12 00:21] jfindlay commented on #23758
Ping @abednarik.

[2016-02-12 00:22] jfindlay commented on #31052
@danlsgiga, you are right, sorry, I meant to say master log.  That is the error message I was looking for.

[2016-02-12 00:24] danlsgiga commented on #31052
@jfindlay, no worries. But that is the only message I get in my master log on debug and trace level.

[2016-02-12 00:33] jfindlay commented on #31074
@turtletraction, I'm not sure about `user: appuser` either, I don't think I mentioned that.  What is important that you're missing is `sudo: True` in your roster:
[code]
However, @adrianhj has demonstrated that this doesn't work anyway.

[2016-02-12 00:35] abednarik commented on #23758
Ok. Will check.

[2016-02-12 00:45] basepi commented on #31030
I feel like you should be able to either import the modules directly, or if that fails, import the loader and call the loader on those modules. Did a direct import not work?

[2016-02-12 01:00] Ch3LL commented on #31099
@rallytime I just tested your fix and it worked in my test case as well :) Thanks your awesome!

[2016-02-12 02:34] rallytime commented on #31099
@Ch3LL Sweet great news! When you you wanna close this?

[2016-02-12 02:35] Ch3LL commented on #31099
@rallytime we can close it now and open it again if needed.

[2016-02-12 02:35] #31099 closed

[2016-02-12 04:35] garethgreenaway commented on #30994
Believe I've found the issue, working on a fix now.

[2016-02-12 08:09] turtletraction commented on #31074
@jfindlay, another affect of this issue is of course that our custom grains which requires execution as `user: appuser` does not run.
Additionally, do you have any indication when this may be solved?

@adrianhj, thanks for reproducing this on your side.

Many thanks

[2016-02-12 08:31] thedrow commented on #25728
All of us always needed it but it's a huge amount of work. I don't think it's fair to drop this on an sole unpaid volunteer.
Moreover, SaltStack will use it to their advantage to mark Satl as the only Configuration Management solution that can provision docker containers correctly, with caching and all the goodies that docker provides. This is not just any feature that the community will enjoy. Th

[2016-02-12 08:32] thedrow commented on #25728
If you could enable BountySource and enough people/companies donate I'd be happy to start working on it.

[2016-02-12 09:02] mbochenk commented on #29265
@rallytime I tested commit f364fbf

[2016-02-12 09:04] mbochenk commented on #29265
And commit 727c138 does not seem to be merged yet.

[2016-02-12 09:23] adrianhj commented on #31074
I am not 100% comfortable with the codebase yet, so please bear with the rambling as I am not sure if my analysis/speculation is correct.. but I am guessing that the sudo_user minion option is *only* picked up by a minion in a master/minion setup as part of calling out to salt-call on the box (see the SudoExecutor).

As salt-ssh executes salt-call directly the sudo_user option in the minion config

[2016-02-12 10:14] avdhoot commented on #31070
Facing same issue

[code]
`2016-02-12 10:12:09,015 [salt.utils.gitfs                                     ][ERROR   ][1633] Unable to fetch SSH-based gitfs remote 'xxxxxxxxx@git-codecommit.us-east-1.amazonaws.com/v1/repos/xxxxxt'. libgit2 must be compiled with libssh2 to support SSH authentication`

[2016-02-12 10:59] papiveron commented on #31048
Hi @jfindlay ,

This is my salt version :

[code]
I'm using **Debian Wheesy**

Regards.

[2016-02-12 11:06] jbonachera opened #31154 "ini_manage performance issue in dry-run"
Hello !

I'm currently testing the ini_manage state (and the related module) in the develop branch, and noticed some performance degradation.
In my setup, a dry-run takes about 50s, where it used to take about 6s with the "old" (2015.08.5) version.

## version

Server:
[code]

While using  ini_manage state as of eb19140cc5caaa7e6664a9a99389f958b307e5e9 and ini_manage module as of 6339d7bfd9d4e1b9f

[2016-02-12 12:23] Reiner030 commented on #26728
Hello,

problem still exists:
* with version/on system:
[code]
* with generated states:
[code]

* log excerpt:
[code]

* Additional to the unneded remount try because options didn't change
* there is logged that glusterfs didn't now the option "remount"
  So it would be nice if this change can be done by an lazy unmount/mount ?

[2016-02-12 13:19] avdhoot commented on #31070
@ccrivelli might help you. please verify
issue resolved. If you using ssh defing ssh in gitfs_remotes like below:

[code]

[2016-02-12 13:25] jacky35 opened #31156 "Problem Windows XP - ZMQError"
Hello,
I do not know if you are successful or not , but from my side I never got Windows XP operating correctly SALT.

I think there is a problem with Windows XP and ZMQ

Have you found a way to make it work properly ?

Many thanks,
Jacky

Version: Salt-Minion-2015.8.5-x86-Setup.exe
OS: Microsoft Windows XP Professionnel (5.1.2600 Service Pack 3 Version 2600)

Here Debug:
[code]

[2016-02-12 13:29] m-o-n-k commented on #31047
Versions: salt-call 2014.1.13 (Hydrogen) and salt-call 2015.8.5 (Beryllium)
Debug output I will attach tonight or over the weekend.

[2016-02-12 13:37] Reiner030 opened #31158 "salt-cloud ignores -K option (keep temp files) with ec2 provider"
[code]

/etc/salt/cloud.providers.d/aws-ec2-eu-west-1.conf:

[code]

shows still tempfolder deletions. Here successfull with workaround mentioned below; before I got ssh exitcode 255 error message back from salt-cloud with no output of created instance details:

[code]

This is part of a workaround since _only_ many salt-minion based apt tasks are hanging this week / since update to 2015.8.5.
If s

[2016-02-12 13:47] jaipepe opened #31159 "Errors After Updating to 2015.8.5"
I am seeing the following errors after updating to 2015.8.5. Is this a bug, or did I mess something up?

[code]

[code]

[2016-02-12 16:07] rterbush commented on #13048
Confirming that this does not work in 2015.8.5 and that the cmd.run is a workaround.

[2016-02-12 16:12] ssgward commented on #31159
@jaipepe - looks like you're running state.highstate?

Are you in master-less mode or running from a master?

Also, if you can provide a sample of the state you're running that will help in troubleshooting.

[2016-02-12 16:13] jaipepe opened #31163 "Errors After Updating to 2015.8.5"
We just updated to 2015.8.5 last night, and are seeing this issue on a few of the minions.
[code]
[code]

When running a highstate manually, the following error occurs:
[code]
When I look at _schedule.conf, it is different that my other minion's _scheudle.conf for some reason.

broken _schedule.conf
[code]
good _schedule.confsudo cat /etc/salt/minion.d/_schedule.conf
[code]

[2016-02-12 16:16] ssgward commented on #31154
@jbonachera - thanks for sending this in. Yes, feel free to submit a PR with your changes.

[2016-02-12 16:20] ssgward commented on #31156
@jacky35 - thanks for sending this in. This is a tough one as we don't support XP and hence don't spend any dev or testing time on this OS. You could try to manually update the ZMQ package to a 4.x version (if one does exist for Windows) or reach out to the community to see if anyone else has been successful in working around your same issue.

[2016-02-12 16:21] dmacvicar commented on #31106
I am not sure the "runs on the master" pattern applies as I saw this with `mine.update`:

[code]

However, I see other mine.update events on the master having `retcode`:

[code]

May be someone has an insight why some attributes would be available sometimes only?

[2016-02-12 16:21] DmitryKuzmenko commented on #29643
@matthayes I've just fixed this. All details provided in the PR #30325

[2016-02-12 16:26] cachedout commented on #30994
Awesome! Thank you, @garethgreenaway

[2016-02-12 16:35] DmitryKuzmenko commented on #28569
@andrejohansson I've just fixed an issue with the ```retcode```.
Not sure have you met this, but this could be related.
All details provided in the PR #31164

If you'll find any problem with getting the execution results with the ```retcode``` value as I described above, please create a new issue.

[2016-02-12 16:35] #28569 closed

[2016-02-12 16:40] danlsgiga commented on #29643
This may fix an issue I've opened for a few months already. #24996
Thanks for the fix @DmitryKuzmenko

[2016-02-12 16:45] #31136 closed

[2016-02-12 16:58] frogunder opened #31167 "minion throwing error unable to cache file from saltenv 'base' while using gitfs and a mountpoint"
Minion reporting error, unable to cache file.

Master cfg. file:
[code]

Ran the command:
[code]

Minion log:
[code]

[code]

[2016-02-12 17:00] DmitryKuzmenko commented on #29643
@danlsgiga you're welcome!

[2016-02-12 17:10] jfindlay commented on #31141
@nbari, what version of salt are you running?  Is there any network complexity between the master and minions that might cause connectivity issues for salt?

[2016-02-12 17:16] rallytime commented on #29265
@mbochenk Hrm...Both commits should be merged into both the 2016.3 and develop branches. If you want to wait to test this when the next feature release comes out, that is totally fine, too.

[2016-02-12 17:17] gtmanfred commented on #29758
Can you check if this pr fixes your problems https://github.com/saltstack/salt/pull/31120 ?

Thanks
Daniel

[2016-02-12 17:17] gtmanfred commented on #29666
Can you check if this pr fixes your problems https://github.com/saltstack/salt/pull/31120 ?

Thanks
Daniel

[2016-02-12 17:22] terminalmage commented on #30937
The error referenced by @dmurphy18 would not cause this problem.

@anlutro What version was your master running when you performed this upgrade?

[2016-02-12 17:23] anlutro commented on #30937
2015.8.3

On Fri, 12 Feb 2016 18:22 Erik Johnson <notifications@github.com> wrote:

[2016-02-12 17:25] terminalmage commented on #30937
OK. It is discouraged to update the minion before the master, because sometimes changes in Salt require the minion's responses to the master to change, and an older master doesn't know how to deal with those changes in the minion's communication payloads.

I'm trying to reproduce this right now, but if you have any 2015.8.3 minions remaining, could you try upgrading the master first and then upgra

[2016-02-12 17:29] anlutro commented on #30937
Right... I will try in our test environment on Monday. Though a pillar
regression is keeping us from upgrading in production.

On Fri, 12 Feb 2016 18:25 Erik Johnson <notifications@github.com> wrote:

[2016-02-12 17:37] rallytime commented on #31112
@whiteinge I think this might be a duplicate of #30866. What do you think?

[2016-02-12 18:08] scoobydooxp commented on #29222
+1

rsync support would be huge. reposync keeps puking all over the place trying to mirror things. I'm sure the Salt team prefers we have local mirrors instead of having 10's if not 100's of thousands of hosts update direct.

[2016-02-12 18:19] rallytime commented on #26699
We were finally able to reproduce this one, and the fix is in #31172. :D

[2016-02-12 18:26] jfindlay commented on #31163
@jaipepe, thanks for reporting.  How many minions have the tornado `Future` in place of the master location?  Have you setup any scheduling beyond the default?  Do you have any suspicions about why some minions may have a malformed schedule config and not others?

@garethgreenaway, @jacksontj

[2016-02-12 18:28] #29643 closed

[2016-02-12 18:30] jfindlay commented on #31158
@Reiner030, thanks for reporting.  Does this still happen if you use the develop version of the bootstrap script?

[2016-02-12 18:45] sjorge opened #31174 "salt.states.archive.extacted displays incorrect message:"
[code]

[code]

[code]
It correctly checks if /home/sjorge/.vimrc is present or not. But it's not a directory, so the message that it was created as a directory is just wrong.

I'll start squashing some of my issues once I have finished my saltstack rollout, no ETA on that.

[2016-02-12 19:01] sjorge commented on #31174
This was a super easy fix. PR opened.

[2016-02-12 19:08] jfindlay commented on #31074
@turtletraction, I am unsure, but I would like to see it solved sooner than later as well.

@adrianhj, it is very likely that salt-ssh is unaware of the relatively new executor plugin layer of salt, whereas before it was refactored into an executor, `sudo_user` was handled in a special, internal execution module that was called with some custom minion logic.

[2016-02-12 19:16] jfindlay commented on #31048
@papiveron, thanks for the version info.  Is it possible for you to verify with 2015.8.3?

[2016-02-12 19:21] jfindlay commented on #26728
@Reiner030, in 2015.8.2 and later, there is a `hidden_opts` option to `mount.mounted`, where you can specify mount options to ignore for deciding whether to remount.

[2016-02-12 19:29] jfindlay commented on #31106
@dmacvicar, the first error you mention may be #30472, which should have been fixed in #30978 but not released yet.

[2016-02-12 19:33] jvestrum opened #31178 "salt-cloud won't auto-create Cloud Service for Azure VMs"
When I attempt to deploy an Azure VM, salt-cloud claims that the "Cloud service already exists" even though it doesn't; this in turn causes the VM deploy to fail.

[code]
Full output at https://gist.github.com/jvestrum/7d95ffa8540b5b3319a0.

When I manually create a Cloud Service through the Azure portal and set a service_name in the profile config, it works.

[code]

[2016-02-12 19:37] jfindlay commented on #31178
Thanks for reporting, @jvestrum.

[2016-02-12 19:48] jvestrum commented on #31178
FYI, I've tried this with both the Azure Python SDK 0.11.1 as recommended, and with the latest Azure Python SDK, which requires the latest development salt/cloud/clouds/msazure.py. Same error either way.

[2016-02-12 20:33] jaipepe commented on #31163
@jfindlay , we do have a scheduled state.highstate that looks like this:

`schedule:
  highstate:
    function: state.highstate
    minutes: 15
    maxrunning: 1`

A couple suspicious things to note so far:
I am running a failover master setup and most of the minions only have 1 connection open to port 4505 at time. For the minions with this issue, they have two connections open to different maste

[2016-02-12 20:44] Reiner030 commented on #24664
Hi,

Problem is now "working" again:
[code]
I got since last update e.g. this error:
[code]

@mcansky thanks for your module https://gist.github.com/mcansky/07a86eab5213dcf80e46 mentioned in https://github.com/saltstack/salt/issues/20408#issuecomment-113187952
Because it was failing for me still to often I modified it with variable defined loop (timeout and retries).

For others having same proble

[2016-02-12 20:58] jfindlay commented on #31163
@jaipepe, thanks for the extra info.

[2016-02-12 21:04] ssoto2 opened #31179 "salt artifactory - classifier not properly being identified"
So i was attempting to use the artifactory state instead of a cmd.run wget but was running in to an error that was not being solved. I keep getting the error

From Master:

[code]

From Minion:

[code]

now please note in the artifactory repository i am pulling from in the snapshot folder there are 4 files
2 jar files
1 base jar
1 base jar with dependencies (with classifier  'jar-with-dependencies

[2016-02-12 21:04] babilen commented on #28142
@bbinet It does involve all supported Debian releases, but I will have to see how easy it is to backport to squeeze.

[2016-02-12 21:08] mew1033 commented on #29081
This is definitely something I want. Reactors should be store-able in gitfs without exposing them to minions.

[2016-02-12 21:20] garethgreenaway commented on #30994
@cachedout no worries :) Need to prep a similar PR for develop, as those changes will break some of the beacons that are in develop and not 2015.8.

[2016-02-12 21:31] cro commented on #30642
OK, I've reviewed this and it requires some changes to core.  I can't get this in until Carbon.  In other words, my changes will go into the current develop branch.

In the meantime, you can look at [the Dell fx2 chassis grains module](https://github.com/saltstack/salt/blob/2015.8/salt/grains/fx2.py) for some ideas of how you could work around this deficiency.

[2016-02-12 22:26] twangboy opened #31185 "pkg.refresh_db leaves old sls files if the name changes"
software definition files in salt-winrepo-ng deleted or renamed
old versions remain in the minion cache
cache should be an exact copy of what's on the master

[2016-02-12 22:31] dmacvicar commented on #31106
@jfindlay thanks for the pointer, so that error is about `state.py` not setting `retcode`.

This error seems to be two parts. One not being to access the `pack` with the runner wrapper. For this, I can get over this by implementing:

[code]

on the `ClientFuncsDict` wrapper, so that `pack` is forwarded. Does this make sense? I am not sure about the consequences unless I figure what is the purpose

[2016-02-12 22:46] ssgward commented on #31179
@ssoto2 - Thanks.

[2016-02-12 22:54] #25904 closed

[2016-02-12 23:04] ssgward commented on #31174
@sjorge - thanks. Good find.

[2016-02-12 23:08] rallytime commented on #30962
@fantasy86 Thank you for finding the commit where this broke. I can confirm that #24282 is the culprit. However, this issue is a duplicate of #29188. I'm going to close this in favor of the older issue so we can track progress all in one place.

[2016-02-12 23:08] #30962 closed

[2016-02-12 23:10] rallytime commented on #30169
Hi everyone! This is a duplicate of #29188, as @whytewolf suggested. (Thanks for the find!)

Since the other issue is older, I am going to close this in favor of that one so we can track the issue all in one issue.

[2016-02-12 23:10] #30169 closed

[2016-02-12 23:11] ssgward opened #31188 "Exception when running network.managed state on Windows 2012 minion"
Minion version = 2015.8.7
Master version = 2015.8.7

Command run: ``salt Win* state.sls winstates.network``

Exception:
[code]

Here is the state:
[code]

I'm expecting the state to create the new interface. Maybe I'm misunderstanding the function of network.managed and it only applies to existing interfaces.

[2016-02-12 23:11] rallytime commented on #29733
@roshan3133 This is a duplicate of #29188. Since that issue is older and has more discussion, I am going to close this in favor of #29188. Please see the discussion there for more information and to track the progress of this bug.

[2016-02-12 23:11] #29733 closed

[2016-02-12 23:12] rallytime commented on #29188
Thank you for all of the feedback on this issue. This regression looks to be caused by the changes in #24282.

[2016-02-12 23:14] ssgward commented on #31188
Haven't had time to check, yet, to see if the same result happens on other Windows versions

[2016-02-12 23:29] cachedout commented on #29518
Wow, apologies for letting this sit so long. I've been trying to reproduce this going from a 2.7 host to a 2.6 one on Salt 2015.8.3 but haven't been able to yet. I'm not sure why `singledispatch_helpers.py` isn't getting packed into my thin tarball.

I suspect this regressed here: https://github.com/saltstack/salt/pull/28826

[2016-02-12 23:45] gwaters commented on #29094
I am having this issue as well trying to use the latest RHEL7 bootstrap. I have tried both the gpg keys that vutny suggests, but no luck. I tried downloading the gpgkeys and manually installing them, still the same error. See the gist here:
https://gist.github.com/gwaters/4c1760ec9f6eb2eed9e6

I did update my salt-stack.repo file like vutny suggested no luck.
Like Yamamushi, my build is in AWS.

[2016-02-13 00:00] rallytime commented on #27498
@arthurlogilab It looks like the docs are just wrong for that kwarg. The example should read `salt-run cache.clear_mine_func tgt='*' clear_mine_func_flag='network.interfaces'`

I've fixed this in #31191.

[2016-02-13 00:24] mirceaulinic commented on #30642
That sounds very promising, thank you! When do you plan the release?

[2016-02-13 01:09] gwaters opened #31193 "RHEL7 gpg key problem"
I just installed salt cloud on a AWS node and I have it deploying other ec2 instances, unfortunately
python-jinja and possible other rpms are not installing. Even though the package comes from salt the keys that sign the package do not match the published key.
Versions of salt cloud, salt cloud errors, yum errors in the gists below:

https://gist.github.com/gwaters/4c1760ec9f6eb2eed9e6
https://gis

[2016-02-13 02:25] kstreee opened #31194 "run multiple salt-api instances using salt-api command."
I installed the develop branch version of saltstack using setup.py in github repository.
Then try to run several salt-api using following ```master``` configuration file.

[code]

To test it, I copied ```rest_cherrypy``` directory to ```a``` and ```b``` in salt/netapi, then install saltstack it using setup.py.
But when we run the command ```salt-api``` after run ```salt-master```, only one instanc

[2016-02-13 06:31] damon-atkins commented on #31109
Register an OID for an SSL Cert with isot @ ansi.org  Add values to the SSL certificate. i.e. if you sign it your accept the values as well.

[2016-02-13 06:51] roshan3133 commented on #29733
Thanks for the update @rallytime

[2016-02-13 09:06] whiteinge commented on #31194
Interesting. I think I can safely say you're the first person to try this. I'm curious what your use-case is.

I can't think of a reason this wouldn't work. Was there any errors or interesting log messages for the copies that did not start up?

[2016-02-13 09:58] roshan3133 commented on #29733
@rallytime you are referring different issue and it was with diff version which is 2015.8.1 and i am working with 2015.8.3  which is a different version.
@jfindlay will you check on this and please open the issue again.

[2016-02-13 16:46] MadsRC commented on #8684
I'm experiencing the exact same bug as @michaelkarrer81... Here's an exempt of my logs:

[code]
Doing, as root, a git clone https://hub.docker.com/r/madsrc/salt-master/ works brilliantly, so it's definitely either Salt or GitPython. I've event tried with the latest version of gitpython from pip.

For those of you wanting to reproduce this, I've got a Docker image that reproduces it here https://hu

[2016-02-13 18:02] alektant opened #31197 "Nodegroups does not play nice with batching"
Hey guys, when issuing a command like: `salt -b 3 -N 'nodegroup1' test.ping`, my expectation is that the master will parse the nodegroup list and begin execution of test.ping on 3 minions at a time until the nodegroup list is exhausted. This does not appear to be the case.

I noticed this issue when trying to issue such a command against minion VMs running on a single KVM virtual host. There are g

[2016-02-13 21:26] rallytime commented on #29733
@roshan3133 This functionality is broken on all versions of the 2015.8 branch, as far as I have tested.

[2016-02-13 21:49] kstreee commented on #31194
No there is no error while executing the ```salt-api``` command like this way, but the salt-api command does not recognize multiple salt-api configurations. The command just run a single salt-api instance.

In our case, We use a salt stack as a low level framework to deploy and run commands for other systems.
Thus we want to separate salt-api based on purposes of api calls.
For example, one salt-a

[2016-02-13 21:52] The-Loeki commented on #29188
@fantasy88 was correct in #30962 about the `self.opts['grains']` making no sense in the master-side matching context ;)
The other thing he notes is that '10.0.0.1/32' wouldn't match because it'd be handled as a net rather as an IP; I can't reproduce this, it matches nicely over here?

There's a few different described behaviours in the various issues here:
* No matches at all: I had this happen to

[2016-02-13 23:24] sc250024 opened #31202 "Managing salt-minion through formula starts 2 daemons"
Greetings,

This might be a configuration issue, but I believe managing the Salt minion config file, and thus service, results in having two `salt-minion` daemons running, and causes problems when trying to run jobs. The error I believe sources from using the init.d script (and not `service salt-minion start`) to start the salt-minion server. I am running the latest version of Ubuntu 14.04 through

[2016-02-14 01:12] whiteinge commented on #31194
Thanks for the explanation; that is interesting. I should rephrase: you're the first person I've heard of to run multiple rest_cherrypy instances. salt-api is definitely written to be able to start multiple netapi modules at once.

Try this:

* In your `a` and `b` copies of rest_cherrypy, edit [this line](https://github.com/saltstack/salt/blob/afdcc81/salt/netapi/rest_cherrypy/__init__.py#L39) to

[2016-02-14 03:39] fantasy86 commented on #29188
I don't know if IP address 'xx.xx.xx.xx' handled as subnet 'xx.xx.xx.xx/32' affects the matching, only noticed that the single ip address specific code can not be reached as expected, because all ip/subnet will be handled by the subnet matching logic.

[2016-02-14 07:56] jbouse commented on #30672
With 2015.8.5 running with '-l debug', I'm able to see recode returns 1 but it still reports it installed which it really didn't...

It looks like [salt/modules/pecl.py#L86](https://github.com/saltstack/salt/blob/develop/salt/modules/pecl.py#L86) calls _pecl() but never catches or processes the return. Instead it simply executes the call and then checks to see if the extension is installed via a '

[2016-02-14 08:07] jbouse opened #31203 "pecl module doesn't handled __uri channel sources"
I can't seem to find any way that the existing pecl state or module can handle installing from a URL source. In order for the existing pecl module to handle looking at the __uri channel you have to specify the name as "__uri/extensionname" but there is no way to specify the URL from which to actually install the extension from.

I'd suggest this might be a good situation to allow for a "source" at

[2016-02-14 16:03] The-Loeki commented on #29188
@fantasy86 you're right & it should be fixed with the new commit. I probably hadn't noticed at the time because (semi-accidentally) the in_subnet does actually match (while the actual address matching didn't work, <duh>).

I've refactored somewhat to improve performance master-side as well, casting only once instead of casting over & over again.

[2016-02-14 16:48] The-Loeki commented on #30561
Guess what happens when you execute

[code]

It's a pickle though, because you actually need to target `[2001:4800:7818:104:be76:4eff:fe04:618a]:/tmp/.root_03f252_salt/salt-thin.tgz` for this to work.

*BUT* that's a syntax SSH won't like (`ssh [2001:4800:7818:104:be76:4eff:fe04:618a]` won't work).

So methinks pretty much the only way around it is to detect an IPv6 address and add the brackets in

[2016-02-14 22:41] kstreee commented on #31194
It works well what you advised!
Following configuration for rest_cherrypy instances works well.
[code]
I think, the name of salt-api instance doesn't need to have a ```rest_cherrypy``` as a prefix.

How about change [the line](https://github.com/saltstack/salt/blob/afdcc81/salt/netapi/rest_cherrypy/__init__.py#L39) returns ```short_name```. E.g., ```return short_name```.
I know it is quite tricky

[2016-02-14 22:50] kstreee commented on #31194
It works well what you advised ( update the return statement into return NAME_OF_CHERRYPY for each copies of cherrypy instances )!
Following configuration for rest_cherrypy instances worked well.

a:
    port: 30001
    disable_ssl: True
b:
    port: 31001
    disable_ssl: True
rest_cherrypy:
    port: 32001
    disable_ssl: True
I think, the name of salt-api instance doesn't need to have a rest_c

[2016-02-14 23:02] ccrivelli commented on #31070
well, you can read all my following steps here: https://github.com/libgit2/libgit2/issues/3605

[2016-02-14 23:20] Silvenga opened #31205 "Memory Leak"
I'm having an odd issue with the Salt-Minions in my deployments. I noticed it when monit (proactive system monitoring) started complaining that some of the minion daemons weren't running and were restarted. I checked around and noticed that most, if not all, of the minions were using a large amount of memory (assuming the minions were crashing due to memory constraints). Normally minions use aroun

[2016-02-15 01:28] whiteinge opened #31206 "Document all the custom module "_dirs" settings"
(Hat-tip to Tom and Pedro.)

Salt's loader currently has mechanisms to load custom modules for _all_ module types from directories specified in the master and minion config. But [only a few are mentioned in the sample minion config](https://github.com/saltstack/salt/blob/afdcc8126da64da580b806e1f6d8eeef4815122a/conf/minion#L332-L340) and [only one is mentioned in the master config](https://github.

[2016-02-15 03:11] aalba6675 commented on #23910
+1

Slightly OT: I wonder how Ansible handles it: it has the concept of host_vars and group_vars , similar to the pillar, which are a mix of jinja2/yaml and  seems to recursively render it until only terminal symbols are left.

[2016-02-15 06:03] h2so4gun opened #31208 "minion cant connect to master"
i have deploy the salt-minion on centos 6.5 and config the master ip address in `/etc/salt/minion`.On the salt master i run `salt "minion_name" test.ping` and return "Minion did not return. [Not connected]".I wonder the link has been connected,so i run the `salt "minion_name" test.ping` and return "Minion did not return. [Not connected]".I login the minion and run the cmd `salt-minion -l debug` an

[2016-02-15 06:59] udhayprakash commented on #7347
I too faced the same problem. I solved it by updating the salt-minion(s), to that of salt-master.

`salt '*' cmd.run "yum update salt"`

[2016-02-15 07:01] boltronics opened #31209 "ini_manage should support different separator types"
I am configuring Munin in a custom state file, and Munin basically uses an ini format for the config file format. The only difference is that instead of separating key and value pairs with an equal sign ("="), it just uses a space.

It would be great if ini_manage supported a "separator" argument, so the built-in state and execution modules could be reused for these kind of files.

[2016-02-15 08:00] babilen commented on #23910
@aalba6675 Which would be a very sensible thing to do if you have some means to enforce acyclic graphs.

[2016-02-15 08:12] enver opened #31211 "Occasional code tags on saltstack formulas"
Hi, it would be great if occasional tags on all formulas could be created (quarterly, monthly,...) so they could be easily used without risking future updates breaking something. This way users could easily use formulas as:

[code]

without creating fork for each formula they use. Then as formulas are updated users could test new versions and pull them in their system in a more controlled way.

[M

[2016-02-15 08:26] eliasp opened #31212 "states.git.latest: exception with test=true and user not (yet) present"
`git.latest` with `test=true` and the user specified is not yet present results in a ugly backtrace which could be handled more gracefully:

[code]

[code]

[2016-02-15 08:45] BalintSzigeti commented on #31123
hello

unfortunately it doesn't work:
[code]

[2016-02-15 09:10] anlutro commented on #30937
@terminalmage: I tried upgrading the salt-master first, and the exact same problem occurs.

[code]

[code]

[2016-02-15 09:27] s0undt3ch commented on #31206
`_dirs` needs to be appended too all of the enumated above. And while at it, double check, I see `output` above and I'm assuming that's for outputters. The correct setting name is `outputter_dirs`...

[2016-02-15 09:43] eyj opened #31214 "locale.present not working in Ubuntu 14.04"
Salt Tag: v2015.8.6

On Ubuntu 14.04, locale-gen returns an error if it is passed a charmap as part of the locale:
[INFO    ] Executing command ['locale-gen', 'de_DE.UTF-8 UTF-8'] in directory '/home/ubuntu'
[ERROR   ] Command ['locale-gen', 'de_DE.UTF-8 UTF-8'] failed with return code: 1

I therefore propose to pass salt.utils.locales.normalize_locale(locale) to locale-gen instead of just locale.

[2016-02-15 11:34] babilen commented on #30937
Maybe closing this was a bit premature?

[2016-02-15 11:51] oliver-dungey opened #31216 "pkg.installed documentation not consistent with implementation"
The documentation for pkg.installed says:

I'm running 2015.8.5 on CentOS and the version parameter is not ignored if I use 'pkgs' like this in my formula:
[code]

Here's the log:
[code]
I suspect the documentation needs to be updated.

[2016-02-15 13:03] s0undt3ch commented on #12416
Implemented [here](https://github.com/saltstack/salt/pull/31218).

[2016-02-15 13:09] s0undt3ch commented on #31206
And while at it, include the documentation snippet found in the description of https://github.com/saltstack/salt/pull/31218 (if accepted and merged)

[2016-02-15 14:14] gladiatr72 opened #31219 "when the minions have all been destroyed..."
This should not happen.  It doesn't happen when the static (`-s`) is left off

[code]

[code]

[2016-02-15 14:35] mallniya opened #31220 "state.apply error (several environments): No matching sls found for 'state' in env 'base'"
Hello, error reveal itself under following conditions (I use several environments):

[code]

If state.apply is running with "env=usermodel" option -- all works as expected:
`sudo salt statlab100.rambler.ru state.apply packages env=usermodel`
But removing "env=usermodel" option leading to the following error:

[code]

Is it a bug, or there is something I missed?

[2016-02-15 15:43] antonakv opened #31221 "pkgrepo.managed issue with enabling repository in 2015.8.5"
Hi,

salt --version
salt 2015.8.5 (Beryllium)

I have state for enabling epel repository.
init.sls:

[code]

But it doesn't work, only adds empty first line to epel.repo. There is execution output:

[code]

Meanwhile module execution "salt n4-prod-db\* pkg.mod_repo epel enabled=1" works well and changes value to enabled=1 in yum repo file

Looks like bug https://github.com/saltstack/salt/pull/2863

[2016-02-15 16:03] pprince commented on #30274
How will you detect binary data?

[2016-02-15 16:35] 8BitAce commented on #21118
It should be noted that the documentation currently seems to state this is possible:
https://docs.saltstack.com/en/latest/topics/ssh/#running-salt-ssh-as-non-root-user

However running salt-ssh with the following Saltfile:
[code]
Produces the same message. So likely there is something going on deeper down.
[code]
This seems like a rather large flaw as I'd rather keep all configs in a single user-o

[2016-02-15 16:35] #28971 closed

[2016-02-15 16:35] #30654 closed

[2016-02-15 16:35] #30676 closed

[2016-02-15 16:35] #30694 closed

[2016-02-15 16:35] #30792 closed

[2016-02-15 16:35] #30798 closed

[2016-02-15 16:35] #30814 closed

[2016-02-15 16:35] #30817 closed

[2016-02-15 16:35] #30840 closed

[2016-02-15 16:35] #30869 closed

[2016-02-15 16:35] #30899 closed

[2016-02-15 16:35] #30934 closed

[2016-02-15 16:35] #31056 closed

[2016-02-15 16:35] #31069 closed

[2016-02-15 16:47] nbari commented on #31141
Hi, I am using:

[code]

For now via cron every 5 min I am calling: ``salt-call state.highstate -l quiet``

Master and minions all running within a same VPC

[2016-02-15 17:17] hexedpackets commented on #30845
@jfindlay Unfortunately that workaround doesn't work for me.

The issue seems to be in running topbeat-god. Running the service's command through salt, ie `salt-call cmd.run '/usr/bin/topbeat-god -r / -n -p /var/run/topbeat.pid -- /usr/bin/topbeat -c /etc/topbeat/topbeat.yml'`, still hangs. The same command outside of salt daemonizes correctly.

[2016-02-15 17:22] Deshke commented on #30845
had the same issue with filebeat, since salt service.restart filebeat just keeps zombie procs around

[code]

[2016-02-15 18:55] pprince opened #31223 "file_tree pillar: fails when data files at root end in '\n'"
Since 1ba448b (in v2015.8.4)

Using file_tree pillar, if any of the files end with '\n', this exception is thrown:

It looks to me like a bug in the code, and I am submitting a PR momentarily.

[code]

For reference, I have the files laid out like this:

[code]

and my /etc/salt/master contains this:

[code]

[2016-02-15 18:57] pprince opened #31224 "Minor documentation fixes: file_tree pillar"
The docs in salt/pillar/file_tree.py claim that `keep_newlines` is ignored for binary files, but the code does not contain any such check, and treats all files the same with respect to `keep_newlines`.

Also, sometimes the text refers to `keep_newlines` instead of `keep_newline`.

PR incoming.

[2016-02-15 19:13] pprince commented on #31223
Submitted PR #31225

[2016-02-15 19:13] pprince commented on #31224
Submitted PR #31226

[2016-02-15 19:50] gladiatr72 opened #31227 "Short, gentle rant"
[code]
I would love to see two things in the documentation:
 * some sort of indication when an auxiliary module is broken
 * whether or not said module works with the salt-master

I've been heavily into Saltstack for nearly two years now.  I think I contribute back quite a bit and put lots of plugs out for Salt where I can (Hey, if all you need is Fabric, use Fabric!)

On that note:

I have a grip

[2016-02-15 21:25] JDiPierro opened #31228 "Compound matcher with multiple conditions not matching properly"
I'm experiencing an issue with Salt's compound matching. I've got a machine named `qa-tool-util`. It has the following grains, among others not displayed:

    environment: qa
    role:
      - kibana

Querying for the `role` and `environment` grain through salt shows everything's good.

    # qa-tool-util has the "kibana" role
    my_user@salt-master:~$ sudo salt -C "qa-tool-util" grains.get role

[2016-02-15 21:32] alangarf commented on #30925
This is so annoying.

[code]

Even just trying to send an event causes this loop if you forget to use `sudo`, and you can't interrupt it, you can only background the task and kill it. Although not before it's output a thousand plus lines of 'I/O operation on closed file' errors. :-1:

[2016-02-15 23:04] terminalmage commented on #30274
Binary pillar data is stored as a string, we check that string for a null character (``\0``).

[2016-02-15 23:17] eykd opened #31229 "git.latest broken behavior in 2015.8.x on older Git"
We rely heavily on `git.latest` for deploying our web properties. After upgrading from 2014.7.x to 2015.8.x this month, I've begun witnessing very strange behavior on Ubuntu Precise with Git 1.7.9.5.

Here are steps to reproduce the problem as I experienced it, starting with 2014.7.x and then upgrading to 2015.8.x:

## Steps to reproduce:

### Locally:

Set up the VM on step-1 tag:

[code]

### On

[2016-02-15 23:24] bertjwregeer commented on #21118
In your roster file you can specify the path to a key...

[code]

So if you have an appropriate file somewhere in your tree, you can pass it directly. In my case I share my salt-ssh setup with a lot of others users, and they have their own keys. We update a central authorized_keys file with all of our users keys, that is stored in git for version control. Then existing users can add new entries/re

[2016-02-15 23:46] eykd commented on #31229
Oh, I should also say, I've definitely encountered this bug on Ubuntu Precise, with Git 1.7.9.5. I've not tested extensively, but I haven't yet encountered the weirdness on Ubuntu Trusty, with Git 1.9.1.

[2016-02-16 00:22] pprince commented on #30274
So, I've got some thoughts, on the handling of pillar contents, which can now be either
  1. Text strings (presumably, Unicode or ASCII), or
  2. Arbitrary binary data (e.g., read from a file).

### Thoughts on Detecting Binary vs. Text Data ###

As far as detecting whether data is 'text' or 'binary',
  * There's no guarantee that a binary file will contain a NUL.
  * There's no guarantee that a l

[2016-02-16 00:52] pprince commented on #31223
I figured out why I was having this issue, but no one else had yet.

It only occurs when the data files are at the top level of the tree, so this breaks:

``/srv/salt/file_tree_pillar/hosts/minion1.example.com/file.txt``

but this works:

``/srv/salt/file_tree_pillar/hosts/minion1.example.com/some_dir/file.txt``

[2016-02-16 03:02] gaoyang-gridsum opened #31231 "cmd.shell or cmd.run can not use chinese"
master version :  Salt 2015.8.3
minion version :  Salt-Minion 2015.8.5-AMD64
i try to input salt command on master like this:
` salt 'win-minion-id' cmd.shell 'echo 中文' shell='powershell'`
note:
'win-minion-id' is a minion for windows;
'中文' is some chinese character;

but the result like this :
[code]

all chinese character be cast to sign '?'

If i'm try to run same command "echo 中文" on powershel

[2016-02-16 06:52] kstreee commented on #31194
Also I found a typo at [this line](https://github.com/saltstack/salt/blob/develop/salt/netapi/rest_cherrypy/app.py#L1727). It could be ```orig_session```.

[2016-02-16 13:02] duk3luk3 opened #31236 "States using the cp module don't work when Py renderer is used"
This reproduces on develop branch and with every salt release that can be installed on my target system (Ubuntu 14.04 LTS). Most functions in the cp module, e.g. `cp.get_file_str` or `cp.cache_file` do not work.

Therefore, states that use the cp module, for example ssh_auth.present, fail, sometimes in interesting ways.

**Note that most other stuff works** - e.g. file.managed has no problems gett

[2016-02-16 13:32] Unksi commented on #20190
I have encountered this with version 2015.8.4 as well, so it seems it is not fixed. However, babilen's solution worked around the problem.

[2016-02-16 13:37] zerthimon commented on #26961
+1, I'd like to have the possibility to configure a specific pam service just for salt (like other linux services, sshd, etc.)

[2016-02-16 14:05] hgfischer commented on #30472
when there will be the next point release?

[2016-02-16 15:15] JDiPierro commented on #31228
I restarted the `salt-minion` service on that machine and then the multi-condition compound matcher returned successfully:

    my_user@salt-master:~$ sudo salt -C "G@role:kibana and G@environment:qa" test.ping
    No minions matched the target. No command was sent, no jid was assigned.
    ERROR: No return received
    my_user@salt-master:~$ sudo salt 'qa-tool-util' test.ping
    qa-tool-util:

[2016-02-16 15:26] #31154 closed

[2016-02-16 15:33] davidpsv17 opened #31238 "how works mysql.py"
Hi,

I don't understand very well how work mysql.py in pillar folder, I want to access to a query in the mysql of the master.

I configured a pillar with the next data:
[code]

This example is the same as the mysql.py file. How can I access to the query of the pillar?

Thanks

[2016-02-16 15:36] babilen commented on #31206
Yes, please!

[2016-02-16 15:37] rterbush commented on #28286
Just to further confuse this issue, I now have a 2015.8.5 environment running in staging and am executing the same states that are used in production 2015.8.3 environment and the file.managed: state is failing with the following error.

[code]

The state is as follows (note that same state is working on 2015.8.3 system)
[code]

I am able to use AWS command line tools on the target minion to get bo

[2016-02-16 15:40] #31214 closed

[2016-02-16 15:48] toanju opened #31240 "pkgrepo.managed fails on Fedora 23"
adding a new repository using pkgrepo.managed on a salt minion (2015.5.9-2.fc23) fails with this error:

[code]

example repo:

[code]

a workaround is using `dnf install yum`.

maybe setting basedir would work too, but i have not tested this, yet.

[2016-02-16 16:10] jmiller0 opened #31241 "pkg.group_installed infinite loop GNOME Desktop"
When trying to install GNOME Desktop using group_installed, the state never finishes instead loops through all subgroups.

[code]

[code]

[code]

[2016-02-16 16:19] #31185 closed

[2016-02-16 16:43] #27498 closed

[2016-02-16 17:14] jfindlay commented on #31193
@gwaters, thanks for the report.  Do you have epel installed on the system, or at least the epel repo key?  What command(s) did you run to produce the pasted output?  How did you configure `repo-saltstack-el7` on the system?

[2016-02-16 17:17] #22370 closed

[2016-02-16 17:24] rallytime commented on #29188
@The-Loeki Thank you for submitting that fix. I ran some quick tests on your PR, and the breakage I was seeing has been resolved.

@bergemalm Can you confirm this issue is fixed for you, too?

[2016-02-16 17:30] jfindlay commented on #31197
@alektant, thanks for reporting.  What version of salt are you using?

[2016-02-16 17:36] jfindlay commented on #31202
@sc250024, thanks for the detailed report.  My recommendation is to always use `service` to start and stop and query daemons.  The `/etc/init.d/salt-minion` script is provided as a backwards compatibility feature for those who need it as ubuntu uses upstart and systemd for services.  Avoiding the `/etc/init.d/` script should resolve the issues you're having with two daemons started.

[2016-02-16 17:41] eykd commented on #31229
And I've run through the reproduction steps with Git 1.9.1, and I can't reproduce the bug, so the problem seems limited to the older Git. It seems to have to do with the upstream remote manipulation that `git.latest` is performing, but that's about the best I can say at the moment.

[2016-02-16 17:50] danlsgiga opened #31243 "s3fs update should clean stale entries in the cache"
I have a s3fs setup to serve artifacts from AWS S3 buckets. It works fine but when I run:

[code]

The files deleted from my S3 bucket should be also deleted from the local cache, which is not the case. The file list is updated as expected, but the old entries are not delete from the disk which can easily bloat the local cache.

The best way to do the update IMHO is to have the same behaviour as t

[2016-02-16 17:57] jfindlay commented on #31203
@jbouse, thanks for reporting.

[2016-02-16 17:57] whiteinge commented on #31194
This module is a tad out of date by Salt standards. That line should officially return the `__virtualname__`
variable near the top of the file. Something that may be a middle ground is something like:

[code]

Then you could add a `virtualname.json` to each copy:

[code]

You're right about that. At least it's a consistent typo. (^_^) It should be fixed.

[2016-02-16 18:02] gwaters commented on #31193
@jfindlay Yes, I have epel installed, and I believe I have the key installed. Both the epel repo and and the repo-saltstack-el7 came from the salt-cloud ec2 install.
I created this output via "salt-cloud -p $ec2-profile-name $instance-name". During the installation of the salt-minions of that ec2 is when the python-jinja2 error occurs. Note: this is the automatic portion of the install.

I have tr

[2016-02-16 18:09] gwaters commented on #31193
Added the yum repo files to the bottom of that gist.

[2016-02-16 18:10] jfindlay commented on #31205
@Silvenga, thanks for the report.  Do you have any clues to the increased memory footprint about what the minion activities and workload are like on the affected minions?  Are minions of certain roles more/only susceptible to holding on to extra memory?  Can you reliably predict or expect to reproduce this on those minions, and do you have any recommendations on trying to reproduce this?  Thanks.

[2016-02-16 18:16] jfindlay commented on #31208
@h2so4gun, thanks for reporting.  You need to first accept the minion's key on the master before the master and minion can communicate.
[code]

[2016-02-16 18:31] jfindlay commented on #31211
@enver, thanks for reporting.  To me the issue seems to be that formulas would be more useful if, if possible, they were developed in release cycles or at least used occasional tags as you suggest.

Related to #26963.  Ping @whiteinge, @iggy, @babilen.

[2016-02-16 18:39] jfindlay commented on #31212
@eliasp, thanks for reporting.

[2016-02-16 18:43] jfindlay commented on #31216
@oliver-dungey, thanks for reporting.

[2016-02-16 18:45] jfindlay commented on #31219
@gladiatr72, thanks for reporting.

[2016-02-16 18:48] garethgreenaway commented on #31043
Might have an idea why this isn't working as expected.

[2016-02-16 18:50] jfindlay commented on #31220
@mallniya, thanks for reporting.  Do you have a `packages.sls` in `/usr/local/etc/salt/states/base/`?

[2016-02-16 18:52] jfindlay commented on #31221
@antonakv, thanks for reporting.

[2016-02-16 18:52] gladiatr72 commented on #31228
Out of curiosity, are you issuing a service.restart salt-minion at any point?  As part of the initial bootstrap of new cloud minions, I've taken to using a multi-tiered orchestration routine (sync_all, mine.update, refresh_pillar, basic_pkgs, restart salt-minion, run intermediate states, restart salt-minion, etc)  I've noticed that I end up with a persisting salt-minion process in the R1 state (ru

[2016-02-16 18:52] jbouse commented on #31203
@jfindlay, you're welcome... My thought on adding a 'source' attribute rather than modify the handling of the 'name' attribute is in the case I was actually testing the URL name was different then the interpreted '__uri/exension' name to check via 'pecl list -c __uri' so made more sense to leave the name as the channel name to look for.

If I have time I'll try and see if I can't get a PR together

[2016-02-16 18:55] jfindlay commented on #31223
@pprince, thanks for fixing this.

[2016-02-16 18:55] #31223 closed

[2016-02-16 18:56] jfindlay commented on #31224
@pprince, thanks for the fix.

[2016-02-16 18:56] #31224 closed

[2016-02-16 19:01] nbow commented on #30431
Thanks for the help and work!
I can verify that this is fixed in development and currently in 2016.3.

[2016-02-16 19:20] mallniya commented on #31220
Hi, @jfindlay. No, there is no `/usr/local/etc/salt/states/base/packages.sls`, only `/usr/local/etc/salt/states/usermodel/packages.sls`. Still, I expect `sudo salt statlab100.rambler.ru state.apply packages` find packages as `/usr/local/etc/salt/states/usermodel/packages.sls` exist and file_roots contain the following:
[code]

[2016-02-16 19:26] matthayes commented on #29643
@DmitryKuzmenko thanks for fixing this!

[2016-02-16 19:30] mallniya opened #31247 "Using file.managed and file.append in one formula"
Hello, my salt installation:

[code]

and I wonder why just as described [here](http://stevebennett.me/2014/02/17/one-week-of-salt-frustrations-and-reflections/) file.managed and file.append must be used as two separate formulas?
I mean instead that:

[code]

It's necessary use this:

[code]

In my case first option doesn't do anything, not even output an error. Second option works, but inability

[2016-02-16 19:34] jfindlay commented on #31227
@gladiatr72, thanks for ranting.  Your first issue is obviously very difficult as it's nearly impossible and impractical for SaltStack to test each of the hundreds of integrations into other systems that have been written into the several plugin layers that salt has.  I've thought very long about this problem and am open to ideas.

The second issue seems to be much easier.  There are some plugin l

[2016-02-16 19:36] jfindlay commented on #31227
@gladiatr72, also issues shouldn't be closed without adequate resolution regardless of the age.  Do you have any examples of this happening?

[2016-02-16 19:40] jfindlay commented on #31228
@JDiPierro, thanks for reporting.

[2016-02-16 19:53] rallytime commented on #31106
@rvandegrift Does the fix in #31189 resolve the bug you were seeing here? (@dmacvicar thank you very much!)

[2016-02-16 19:54] BDizzle2600 opened #31248 "Minion failing to update Users"
I am very new to Salt.  Due to some personnel changes I have recently taken over the Linux server maintenance.  When I try to push changes to the users on the minion, I receive errors such as "These values could not be changed {passwd, home, groups} or the error "Failed to remove user" for users marked as absent.  Both are Debian boxes, the master is using Salt version 2015.5.3 (Lithium) and the m

[2016-02-16 19:55] gladiatr72 commented on #31227
Thanks for your reply, @jfindlay.  Not off the top of my head.  It may indeed be that the issues that I am remembering were blocked awaiting more data from the OP.  I'll give you a heads-up if I spot something like that (I sometimes peruse closed issues looking for info)

With regards to your previous response, I've got a pretty good handle (what I think of) as the outter-layer modules as to the m

[2016-02-16 19:58] jfindlay commented on #31229
@eykd, thanks for reporting.

[2016-02-16 20:00] jfindlay commented on #31231
@gaoyang-gridsum, thanks for reporting.  This seems like a bug.

[2016-02-16 20:09] whiteinge commented on #31211
Agreed that tags should be added to each repo. This process and cadence should be up to the individual formula repos and maintainers. I suggest opening an issue on relevant repos to raise the discussion there.

Docs on versioning formulas are here:

https://docs.saltstack.com/en/latest/topics/development/conventions/formulas.html#versioning

[2016-02-16 20:12] bergemalm commented on #29188
@rallytime Yup, problem solved! :)

[2016-02-16 20:13] jfindlay commented on #31236
@duk3luk3, thanks for reporting.

[2016-02-16 20:14] jfindlay commented on #31238
@davidpsv17, where do you want to access the pillar from?

[2016-02-16 20:15] rickh563 commented on #31167
ZD-645

[2016-02-16 20:17] jfindlay commented on #31240
@toanju, thanks for reporting.  The `dnf` work has been done mostly on 2015.8 and develop/2016.3.  Much of this has been backported to the 2015.5 branch, but it is possible that something hasn't been backported, or that pkgrepo will fail on both 2015.5 and 2015.8.  Is it possible for you to reproduce this on 2015.8.5?

[2016-02-16 20:22] rallytime commented on #29188
@bergemalm Awesome! We've already started the tagging/testing release process for 2015.8.7, so this particular fix didn't make it into that release. However, this fix should make it into the release after that, which will come out sometime in March.

We can either keep this bug open until then, or we can close it now since it's confirmed fixed. What do you think?

[2016-02-16 20:31] thatch45 commented on #25728
@thedrow sorry this one took so long to get the right attention. We get a ton of feature requests and few of them get slated as feature goal projects.

I have slated this feature for the Carbon release and we will dedicate SaltStack resources to it as soon as they are freed up. I can't get it into Boron simply because it is feature frozen.

We will let you know as soon as we start here!

[2016-02-16 20:32] jacobhammons commented on #30461
Updated

[2016-02-16 20:42] ifattah opened #31251 "set_log_record_factory not member of SaltLoggingClass?"
Is there a reason that set_log_record_factory is NOT a member of SaltLoggingClass?

https://github.com/saltstack/salt/blob/d0d01fe9de9fe0c9347436e7cdf51c39e844aafb/salt/log/setup.py#L198

This would be incredibly useful to help in redacting information from logs, like passwords, as well as, be more inline with functionality provided by the Python logging module. The following module code results i

[2016-02-16 20:44] jfindlay commented on #31241
@jmiller0, thanks for reporting.

[2016-02-16 21:22] meggiebot opened #31252 "Work on "VMware vRO Plugin #429""

[2016-02-16 21:22] #31252 closed

[2016-02-16 21:35] jfindlay commented on #31141
@nbari, I am not sure.  At this point I would suggest investigating what may be causing the master and minion connectivity problems.

[2016-02-16 21:39] jacobhammons commented on #30461
Scratch that, still need to get this in a pull request!

[2016-02-16 21:43] jfindlay commented on #30472
@hgfischer, it should be coming out this or next week.

[2016-02-16 21:50] jfindlay commented on #31203
@jbouse, thanks for your attention to this issue.  Send in a pull request if/when you have time.

[2016-02-16 21:54] jfindlay commented on #31220
@mallniya, if you remove the `env=usermodel` argument to your command line it will default to the `base` saltenv.  Also, it is better to use `saltenv` rather than `env` since the latter is deprecated and will be removed in Salt Carbon.

[2016-02-16 21:58] gtmanfred commented on #20113
Correct, all of these should be supported now
one fix needs to go in for 2015.8 to support the boot_volume key (to build from already built cinder volumes)

https://github.com/saltstack/salt/pull/31253

Once that is merged, to your respective branch, it should all be good to go.

[2016-02-16 21:59] gtmanfred commented on #20113
As for attaching volumes, youcan use the cloud state to do this.

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.cloud.html#salt.states.cloud.volume_attached

[2016-02-16 22:02] jfindlay commented on #31193
@gwaters, I have recently created a CentOS 7 VM on EC2 (ami-61bbf104) and was successfully able to bootstrap it with the latest develop version of the script.
[code]

[2016-02-16 23:07] hjc opened #31257 "dockerng.running reports an odd diff for entrypoint changes"
If you use `dockerng.running` and change the `entrypoint` for your Docker container, then the state reports the diff in a very odd format. It looks like each item in the entrypoint is sorted alphabetically and that is chosen. This is jarring because the `entrypoint` key takes in a list of various command line arguments/flags that are joined together in the order they are specified in.

Here is the

[2016-02-16 23:31] ctaylo21 commented on #10272
+1

[2016-02-16 23:53] twangboy commented on #22452
https://saltstack.zendesk.com/agent/tickets/650

[2016-02-16 23:58] hacfi opened #31258 "postgres_database.present with encoding fails on consecutive runs"
Using

[code]

the provisiong works as expected. However, running state.highstate afterwards throws an error:

[code]

Checking the database the column Encoding (from table `pg_database` column `encoding` is `6` = `UTF-8`) is already `UTF-8` so it shouldn’t even try to change anything.

Is this a bug or am I doing something wrong here?

[2016-02-17 00:05] rallytime commented on #18614
Edit: "One thing to note is that there isn't a way to set state_verbose from the CLI"

That isn't true, actually. You can achieve this via using the `--state_verbose=False` option.

[2016-02-17 00:23] whiteinge opened #31260 "Sphinx mock message in rest_cherrypy docs"
Something's gone wrong in the build system that is hiding the real docs here:

https://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_cherrypy.html#keys

https://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_cherrypy.html#salt.netapi.rest_cherrypy.app.LowDataAdapter.POST

[2016-02-17 02:30] garethgreenaway commented on #31043
Taking a quick look at this and testing it out, I copied the test.py into /srv/salt/_modules as foo.py.  Ran all the same calls, and I see the various functions in the foo module available in list_functions.  Something wrong with the win_service.py module or perhaps something related to Salt on Windows?

[2016-02-17 02:30] o-sleep commented on #31030
I went down this route and started worrying about all the dependencies I started to pull in, so I shelved it for now and am trying another tact.

I create a custom execution module to make a urllib2 call to our rest interface.  I am trying to call this from a reactor event that takes the result of this for making a cloud.create call.  I am trying to see how best to do this, though.  I know there i

[2016-02-17 03:23] iggy commented on #31211
The thing is... there are a ton of formulas that don't have a maintainer (in fact, I'd argue none of them do). There are basically a handful of volunteers merging patches that don't look obviously wrong. There are very few formulas where one person says they are completely and totally responsible for it. We don't even have a way to mark formulas as "maintained", that's how seldom it happens.

What

[2016-02-17 03:31] gravyboat commented on #31211
I think @iggy covers most of my concerns with this pretty thoroughly.

[2016-02-17 03:41] cinterloper commented on #25168
line 294 in utils/reactor.py calls cmd_async with 2 args, not 3. could this be the culprit?

[2016-02-17 04:16] deamen commented on #26839
This issue still exists in 2015.8.3, 2015.8.4 and 2015.8.5, however, it happens on Windows minion only, it works fine on Linux minion.

PS C:\Users\vagrant> salt-call cp.get_file salt://saltmaster.vagrant.om.net/C:/test/test1/test2/test3.tz C:\test_101.tz -l debug
[DEBUG   ] Reading configuration from c:\salt\conf\minion
[DEBUG   ] Configuration file path: c:\salt\conf\minion
[WARNING ] Insecure l

[2016-02-17 04:26] garethgreenaway commented on #30563
Apologies for the delay on this one, able to duplicate the issue and working on a fix now.

[2016-02-17 05:28] timwsuqld commented on #27257
We are also experiencing this issue with Centos 6 machines.

[code]
[code]

Contents of state file

[code]

Contents of repo file after deploy
[code]

It makes it hard to use test=True to check if anything would be done.
We are not using comments sections in the repos.

I also notice that the timestamp is updated on the saltstack-rhel6.repo file on each application of the state, even if it reports

[2016-02-17 06:09] jfindlay commented on #31229
@eykd, it seems that this may be a duplicate of #30999, for which a fix is proposed in #31245.  Is it possible for you to test the fix?

[2016-02-17 06:22] bergemalm commented on #29188
@rallytime You can close this, fine with me.

[2016-02-17 06:33] mkuchin opened #31263 "Scheduled job maxrunning: 1 only work with return_job: False"
I'm trying to schedule long running job on minion and check if only one instance running at time.
Here is my pillar data:

[code]

It's working as expected with `return_job: False`:

[code]

If I remove `return_job: False` from job settings it looks like `maxrunning` is ignored and I get two sleep processing running simultaneously:

[code]

salt-minion version is 2015.8.5 (Beryllium).

[2016-02-17 07:49] enver commented on #31211
My intention was not to ask for guarantee that some tag in formula works. It is just that if i start with some formula on tag X i test it and add it to project. Later after few fixes new tag Y gets available I can test it in my test environment and if it goes ok move it to production. So basically it is more-less same as forking project and pulling fixes occasionally only without need to create fo

[2016-02-17 08:01] paul-mulvihill commented on #29867
Any thoughts? unless i'm doing something wrong this really limits the use of salt for windows users.

[2016-02-17 08:51] thedrow commented on #25728
Great! Thank you.

[2016-02-17 09:02] s0undt3ch commented on #12416
Entry points support was added to salt's loader in #31218. Closing as fixed.

[2016-02-17 09:02] #12416 closed

[2016-02-17 09:39] fredrikaverpil opened #31266 "Salt in Docker container cannot run dmidecode"
When running Salt in a Docker container, I get:

    salt | [WARNING ] Although 'dmidecode' was found in path, the current user cannot execute it. Grains output might not be accurate.

When logged into the salt master running in the container, `dmidecode` returns the following:

    [root@salt /]# dmidecode
    # dmidecode 2.12-dmifs
    /dev/mem: No such file or directory

The container is runnin

[2016-02-17 10:11] mallniya commented on #31220
May I ask why? I mean, why denotion in file_roots block isn't enough? Is there a way to change this kind of behaviour?

Moreover, if it as you describe, why this can happen:

- wokrs: `sudo salt -t 300 graphite10.profile.rambler.ru state.apply graphite test=true`
- doesn't work: `sudo salt -t 300 graphite10.profile.rambler.ru state.apply packages test=true`

Nor graphite, nor packages exists in ba

[2016-02-17 10:26] oliver-dungey commented on #29329
I have just bumped into this - the documentation is misleading as it suggests a value of 'None' is the default and should skip the checksum stage but it doesn't

[2016-02-17 10:48] davidpsv17 commented on #31238
@jfindlay, I want to access the pillar from the environment in the master.

[2016-02-17 11:24] BalintSzigeti opened #31267 "network.routes doesn't handle multiple 'routes'"
when the network state will be applied on the system only the last '**routes**' entries will be applied:

[code]

the eth0 routes won't be inserted.
client CentOS 6.7
salt-2015.8.5-1.el6.noarch

This is critical issue! It breaks the system network connection.

[2016-02-17 12:12] cinterloper commented on #25168
I believe some data has to be extracted from kwargs and passed into cmd_async as positional params

[2016-02-17 12:53] kstreee commented on #31194
I think, this code is appropriate way to set \_\_virtualname\_\_ for rest_cherrypy instances,
[code]

Because directory name of salt-api and salt-api instance name in ```master``` configuration file must be same to run salt-api instance.
For example, If user set salt-api instance name as ```abc``` in ```master``` configuration file, then the target salt-api instance must be located in ```.../salt/

[2016-02-17 12:54] kstreee commented on #31194
Oh I am sorry, I had a click miss.

[2016-02-17 13:14] svenehret opened #31270 "acl.present: TypeError on subsequent runs"
# Description
I think I have hit a bug with setting linux file acls:

ACLs are set correctly (albeit a change is not reported), but subsequent runs throw a TypeError.

Example:
[code]
When executed, this sets ACLs correctly. Note that no change is being reported (green text):
[code]

When executed a second time, this error is thrown (red text):
[code]

# Versions
## Master
[code]
## Minion
[code]

[2016-02-17 13:16] sjorge commented on #30651
Just a heads up as this did not get merged into 2016.3, the issue is still there!

[2016-02-17 15:02] bradthurber commented on #31017
@marnovdm I got around to testing your PR for this last night and it works well. Thanks again!

[2016-02-17 15:02] #31017 closed

[2016-02-17 15:42] rallytime commented on #29188
Thanks everyone!

[2016-02-17 15:42] #29188 closed

[2016-02-17 16:02] ssgward commented on #29867
@paul-mulvihill - what is your salt version and Windows version being used?

[2016-02-17 16:41] paul-mulvihill commented on #29867
@ssgward  I'm currently running 2015.8.5  both server and client
Centos Server with Windows Clients
I just double checked and created some users and then changed the passwords on the master but the state run still refers to the users as present and up to date. even though i know the passwords are out of sync.

[2016-02-17 16:47] UtahDave commented on #29867
This is a known issue. We need to come up with a way for Salt to verify if the specified password is what is currently assigned in Windows. Right now Salt has no way to get the Windows password to use for comparison.

In the Linux version of this module Salt is able to compare a hash of the specified password and the hash kept in the /etc/shadow file. No such file exists on Windows. We might be ab

[2016-02-17 16:54] abh23 commented on #29329
True @oliver-dungey

[2016-02-17 16:59] rvandegrift commented on #31106
I setup the original test, no exceptions.  Thanks, looks good!

[2016-02-17 17:03] rterbush commented on #28286
I actually believe I have figured this out. In both the case of the original report and of this case, the error message does not really reflect the issue.

The checksum file in this second case is being generated with a powershell script on a windows server and unfortunately, is creating a file that is type: <code>Little-endian UTF-16 Unicode text, with CR line terminators</code>

The code checkin

[2016-02-17 17:05] jfindlay commented on #30563
Thanks, @garethgreenaway.

[2016-02-17 17:10] rvandegrift opened #31275 "ps.disk_partition_usage fails on Windows minions with empty cdroms"
I have a 2015.8.5 Windows VM joined to a master.  The VM has an empty virtual CDROM.  ps.disk_partitions reports:

<pre>
$ sudo salt winminion ps.disk_partitions
winminion:
    |_
      ----------
      device:
          C:\
      fstype:
          NTFS
      mountpoint:
          C:\
      opts:
          rw,fixed
    |_
      ----------
      device:
          D:\
      fstype:
      mountpoint:

[2016-02-17 17:12] jfindlay commented on #27257
@timwsuqld, thanks for the additional info.  I would recommend using this baseurl and key url:
[code]
or for a specific release:
[code]
Since they are the new and conform to a more conventional repo layout.

[2016-02-17 17:13] damon-atkins commented on #29867
SaltStack would need to test the local username/password to confirm its correct, i.e. logon or change password everytime. Keep in mine windows password history, password change restrictions.    There are a few examples on the internet e.g. https://gallery.technet.microsoft.com/scriptcenter/Verify-the-Local-User-1e365545/view/Discussions#content   https://support.microsoft.com/en-us/kb/180548

No i

[2016-02-17 17:24] jfindlay commented on #31220
Minions or minion targets are associated to specific saltenvs with a top file.
https://docs.saltstack.com/en/getstarted/fundamentals/top.html
https://docs.saltstack.com/en/latest/ref/states/top.html

[2016-02-17 17:25] jfindlay commented on #31238
@davidpsv17, I am unsure what you mean by the environment.  Will you be more specific?  Thanks.

[2016-02-17 17:28] jfindlay commented on #28286
@rterbush, thanks for the extra info.

[2016-02-17 17:36] jfindlay commented on #31247
@mallniya, thanks for filing the issue.  The blog post you linked is very interesting, but the basic idea here is a duplicate of #29142.

[2016-02-17 17:52] jfindlay commented on #31248
@BDizzle2600, thanks for reporting.  Is it possible for you to paste the command or state SLS you are trying to run, and the output?  The minion debug log from that will also likely be useful as well.  You may need to remove any private info.  It could also be useful to know more precisely what the system knows about these users vs what salt is trying to do.  Hopefully this makes sense.

[2016-02-17 17:59] jfindlay commented on #31257
@hjc1710, thanks for the report.

[2016-02-17 18:02] jfindlay commented on #31258
@hacfi, running any state twice should not succeed first and fail second, so this is likely a bug.  What version of salt are you using?

[2016-02-17 18:08] jfindlay commented on #31263
@mkuchin, thanks for the report.

[2016-02-17 18:11] tkent commented on #23687
@jfindlay

I finally had some time to setup a salt development environment last night and added a patch for this. It was a lot more straightforward than I expected. Any chance I could nudge you into getting this into the next 2015.8 release?

[2016-02-17 18:12] rambli commented on #31087
I got my issue resolved by following these steps to correctly use winrepo state files. It does not answer why the post-jinja parsed sls file could not be used directly in my top file, but this is the procedure to use winrepo packages anyway, so didn't bother resolving my original issue as it seems like a usage error.

Minion conf file:
[code]
The following commands get you going with winrepo
[code

[2016-02-17 18:13] #31087 closed

[2016-02-17 18:14] jfindlay commented on #31266
@fredrikaverpil, thanks for reporting.  What user does the salt-minion run as?  Grain data is collected by the minion.

[2016-02-17 18:17] jfindlay commented on #31267
@BalintSzigeti, thanks for the report.

[2016-02-17 18:18] 8BitAce commented on #21118
Great! This strategy works for the time being.
It took me a few hours of digging through the code to realize I also needed to set `pki_dir` in the `master` config file and not `Saltfile`. And as you mentioned earlier I then also had set `root_dir`.

So long story short it seems salt-ssh could use a bit of tweaking in how it handles configuration options.
This is something I might be able to help w

[2016-02-17 18:20] ssgward commented on #31275
@rvandegrift - thanks for submitting the issue. Feel free to submit your change for review as a PR.

[2016-02-17 18:25] ryan-lane commented on #12416
:clap:

[2016-02-17 18:33] davidpsv17 commented on #31238
SORRY @jfindlay, I need to acces a querys from a mysql in the master, from the master.
I'm trying to run the ext_pillar with the mysql module. But I don't understand well how it works. First I modified the config file of the master and  I added:

ext_pillar:
- mysql: /usr/bin/mypillar

and:

mysql:
user: salt
pass: 123pass
db: saltdb

How I can configure the pillar for acces to the query? In the b

[2016-02-17 18:40] jacobhammons commented on #31260
@whiteinge I did some troubleshooting here, and it seems like this change is what is causing the first error: https://github.com/saltstack/salt/blame/2015.5/salt/netapi/rest_cherrypy/app.py#L1111

These lines were changed to:
[code]
From the following that generates correctly in 2014.7:
[code]

Do you know what might be causing this?

The second error was also present in 2014.7, so I'll have to go

[2016-02-17 18:42] rallytime commented on #31167
After looking into this a little more, it appears that the point of failure is related to the `mountpoint` piece. This breaks down for both `cmd.script

[2016-02-17 18:43] cmclaughlin opened #31278 "file.append should be stateful, changes spike minion CPU to 100%"
I expected file.append to be stateful.  By that I mean if you append X to a file and later change X to Y, X should be removed from the file and Y should be added.  I found that when I change X and try to apply the highstate, it never returns and salt-minion process spikes to 100% until I restart it.

Here's my use-case:

supervisord is installed via yum and ships with some default config files.  I

[2016-02-17 18:47] fredrikaverpil commented on #31266
The minions are Windows based, so I'm not sure exactly what user is running them... I've used the Windows installer för Salt 2015.8.5. I'm guessing it's running as some system service with admin rights?

This warning appears in the salt master even if I don't have any minion keys accepted. The salt master is being run by root.

[2016-02-17 18:51] hacfi commented on #31258
Version is `2015.8.5 (Beryllium)`. Need any additional information?

[2016-02-17 18:52] jfindlay commented on #31270
@svenehret, thanks for the report.

[2016-02-17 18:55] rambli opened #31280 "salt-call state.highstate exiting with "Exiting gracefully on Ctrl-c" message"
I'm facing the following issue running a highstate command with a very simple top file:
Salt version: 2015.8.5 (Beryllium)
Host: Windows 2012R2 VM
Single minion running in masterless mode

[code]

Upon digging into salt code by following trace output, turns out saltutil.is_running check is the issue. I verified that upon commenting the state function running check below, my top.sls gets properly p

[2016-02-17 19:19] tkent opened #31282 "dockerng.running - incorrect desired vs actual state detection for port_bindings when 0.0.0.0 used"
**Issue**
When the any address (`0.0.0.0`) is used in a `port_bindings` entry, dockerng.running properly applies the setting to the container but then fails to detect that the setting was applied.

For example, if you have a state with something like:

[code]

Then it will work properly when the container is created, but then if you run the state a second time (after the container is created), you

[2016-02-17 19:37] pileofrogs opened #31283 "cpan execution module fails w older cpan version"
Hi all.  Thanks for trying to make CPAN work with salt!  Those of us who still toil in the perl mines appreciate that you haven't all forgotten us.

I've got a Centos 6 server and the version of cpan does not support the '-J' or -j' (and possibly other) arguments.  This means cpan.installed fails every time.  cpan.installed calls show_config to determine if the build dirs are there or not.

Centos

[2016-02-17 19:44] jfindlay commented on #31238
@davidpsv17, thanks for the extra information.  I have not used the mysql external pillar before, but I suggest starting with a simple pillar, perhaps not even mysql at first, and seeing if you can verify that it works with `salt-run pillar.show_pillar` on the master, and then add more detail as necessary.  If you run into problems you are unsure how to resolve, be sure to check the master debug l

[2016-02-17 19:46] jfindlay commented on #31258
@hacfi, I think this is enough to establish and identify the problem, thanks.

[2016-02-17 19:47] gwaters commented on #31193
@jfindlay
thanks works for me too! So that leads to this question:
Does salt-cloud -u not pull from that bootstrap file source?

The difference is the source for python-jinja2 at deploy time. when deploying directly from salt cloud the repo source is repo-saltstack-el7, but if you do it with the salt-ssh ( or in my case local root) the source for the rpm is my rhel7-repo.

[2016-02-17 19:49] jfindlay commented on #31266
That makes sense, do you also run a minion on the same system as your master?  I am not aware of the salt master collecting grain info, but I could be wrong.

[2016-02-17 19:57] jfindlay commented on #31278
@cmclaughlin, thanks for the report.  Statefully editing files can be tricky.  It's often simpler to have salt manage the whole file rather than pieces of it.  Like, for example, with the patch utility, or git, it is common for there to be conflicts that cannot be automatically resolved.

[2016-02-17 20:01] cmclaughlin commented on #31278
@jfindlay agreed... btw, I discussed this with some co-workers - they think I'm crazy and they don't think append should be stateful.  Either way, we should probably figure out the endless CPU spike.

[2016-02-17 20:05] eykd commented on #31229
Figuring out this bug took a lot of time, and now I'm backed up. Once I get a bit more caught up, I'll take a look at it.

[2016-02-17 20:10] tspecht commented on #28483
Any news on this?

[2016-02-17 20:11] cachedout commented on #31278
`file.append` should certainly be stateful, it's just sort of poorly named. It's real intention is more along the lines of what could be better named `file.endswith`. The strace you posted is just the minion idiling on the socket poll waiting for the state to finish. I'd like to see an strace of the other from the point the state starts running. You could potentially accomplish this with `salt-cal

[2016-02-17 20:18] aabognah commented on #29254
Hi,
I am trying to do the same within a custom grains module. The thinking behind it is to be able to set things such as roles, environment, and other hots attributes in one Hosts pillar and have that pillar read by custom grains module to be used for targeting and other stuff.

The __pillar__ dict seems to be not accessible from custom grains. What other options do I have?

[2016-02-17 20:42] JensRantil commented on #27295
I don't understand why this doesn't work:
[code]
This is the error I'm getting (incomprehensible):
[code]
I'd like Salt to add this line to the end of the file if it doesn't exist. Feels like a common use-case. Is my use case not possible? Please make sure that the documentation explains why this doesn't work.

[2016-02-17 20:45] JensRantil commented on #27295
Okay, looks like I should use `file.append` instead...

[2016-02-17 21:05] rallytime commented on #31167
Some more useful information. When adding the `mountpoint` to the config file, the file path gets messed up (relative to the mountpoint that is set, i think...), compared to not having the `mountpoint` set.

Here's the output of `cp.cache_file` and `cp.list_master` using salt-call:
[code]
Note that `salt-test` is listed twice...
[code]

[2016-02-17 21:06] terminalmage commented on #31167
Should be an easy fix, I'll get it done today. Thanks to both of you for the helpful troubleshooting.

[2016-02-17 21:13] fredrikaverpil commented on #31266
No, I am not running a minion on the salt-master. salt-master is running as root.

It seems to me, that the salt-master itself is invoking dmidecode.

[2016-02-17 21:21] fredrikaverpil opened #31290 "Windows hostnames are dealt with in all uppercase"
When using the `win_service` state execution module, I've noticed that the hostname is always set all in uppercase, e.g. `MYMINION` even if the provided hostname is `MyMinion` or `myminion`. It would be very useful if the hostname wasn't always set in all uppercase.

The Windows command `hostname` returns the hostname as-is, and not in all uppercase, and could perhaps be used instead of the curren

[2016-02-17 21:39] jfindlay commented on #23687
@tkent-xetus, probably not since we try very hard to only let bug fixes into release branches.

[2016-02-17 21:53] jfindlay commented on #31229
@eykd, thanks, take the time you need.

[2016-02-17 21:53] hubez opened #31291 "file.manage with s3 has intermittent failure - Can it support configurable retry amount?"
file.manage with an s3 source seems to have intermittent failure, and I would love to have a configurable retry amount (because a subsequent highstate succeeds).

The frequency is about 1 every few high hundred calls where a single deploy across multiple machines that hits s3 hundreds of times.

The s3 provider seems to have a hard-coded timeout of 10s, and no retry. Is it possible to expose retry

[2016-02-17 22:00] #23687 closed

[2016-02-17 22:03] ernstae commented on #13449
+1 here too

[2016-02-17 22:10] #31282 closed

[2016-02-17 22:23] cmclaughlin commented on #31278
@cachedout I was able to strace the state... there's tons of output, but these are the last few lines.

	munmap(0x7f469b970000, 4096)            = 0
	lstat("/etc", {st_mode=S_IFDIR|0755, st_size=4096, ...}) = 0
	lstat("/etc/sysconfig", {st_mode=S_IFDIR|0755, st_size=4096, ...}) = 0
	lstat("/etc/sysconfig/supervisord", {st_mode=S_IFREG|0640, st_size=3131, ...}) = 0
	open("/etc/sysconfig/supervisord

[2016-02-17 22:33] cachedout commented on #31278
Wild guess here but does the CPU spike happen if you change this to append to a file other than that one?

[2016-02-17 22:51] deuscapturus opened #31293 "Git Pillars lose HEAD reference over time"
We have a salt master configured with several git pillar repos.  About once a day we start getting these errors:
[code]

We resolve the issue each day by deleting /var/cache/salt/master/git_pillar

Looking into /var/cache/salt/master/git_pillar/c245a5b583965a1bc938b8104013601c/.git/  I see that HEAD is actually missing.  What would cause HEAD to be deleted randomly?

master config: (all other gitp

[2016-02-17 22:55] abulkavs opened #31294 "Grains defined within salt-cloud map file are not propagated to a newly bootstrapped LXC minion"
My assumption is that happens because LXC provider uses a separate builtin bootstrap function in comparison to other cloud providers.

The following map file doesn't work:

[code]

[2016-02-17 23:09] abulkavs opened #31295 "passing jinja/python dict with none value through the file.managed context argument converts python/jinja none into string "none""
[code]

---

in some_file:

[code]

[2016-02-17 23:23] cmclaughlin commented on #31278
btw, I have some other stuff that references that file... possibly contributing the CPU spike.

In my supervisord state I manage the ownership and mode of that file:

	supervisord-sysconfig-mode:
	  file.managed:
	    - name: /etc/sysconfig/supervisord
	    - user: root
	    - group: supervisord
	    - mode: 0640

Every app that I configure to run under supervisord sets it's own sysconfig file, as

[2016-02-17 23:25] cachedout commented on #31278
Ah-ha! Yeah, that sounds *way* more likely. Can you wiggle that stuff around and see if the problem goes away? I'll bet it does.

[2016-02-17 23:27] jfindlay commented on #28483
@tspecht, not that I know of, but it seems like something that should be relatively easy to add.

[2016-02-17 23:32] cmclaughlin commented on #31278
Not sure if this is good news or bad news, but I removed all the other references to that file and was able to reproduce it.  The only thing I left is the file.append.  I'll keep poking around...

[2016-02-17 23:33] jfindlay commented on #29254
@rakesh91, you could try storing that info into [sdb](https://docs.saltstack.com/en/latest/ref/sdb/all/index.html) for general data storage.

[2016-02-17 23:37] cachedout commented on #31278
That surprises me, to be honest. Can you try switching the file.append to a different file, just as a test?

[2016-02-17 23:39] jfindlay commented on #23687
@tkent, sure.  Comment here again if you have problems with doing that.

[2016-02-18 00:03] cmclaughlin commented on #31278
I did some more testing...

[2016-02-18 00:23] cmclaughlin commented on #31278
I did some more testing... I think it just breaks down as a very complicated regex (assuming that's what's going on behind the scenes).

If I start from scratch and add a character to new line to file that is managed with file.append and run highstate... and keep repeating this pattern over and over again, I eventually hit a point where it completely breaks.

Leading up to that I see the CPU spike

[2016-02-18 00:24] twangboy commented on #29457
I was able to use the binary marker but I had to base64 encode it first.

[code]
So then my yaml looks like this:
[code]
Even though this works, perhaps we should allow you to pass the data as a string and then base64 encode if you pass `REG_BINARY` or something like that.

[2016-02-18 00:29] lorengordon commented on #29457
Thanks @twangboy, I can give that a try as well. Can you confirm that in your example the contents of the value 'Blob' is 'ec'?

[2016-02-18 00:38] gwaters commented on #31193
@jfindlay How come when I diff the curl'd file vs the one that salt-cloud -u has, there tons of differences?  (/etc/salt/cloud.deploy.d/bootstrap-salt.sh)
(btw I just did a salt-cloud -u)

[2016-02-18 00:45] gwaters commented on #31193
@jfindlay HA! if i copy that curl'd shell script, and replace /etc/salt/cloud.deploy.d/bootstrap-salt.sh, it works fine!
So whatever mechanism the salt team is using to promote and export the bootstrap script for salt-cloud to pick isnt working.

[2016-02-18 00:54] garethgreenaway commented on #30224
@gladiatr72 I can offer up some insight into that module.  The reasoning behind checking for different versions of the GPG python libraries.  There are in fact *two* different versions of the library, written by two different groups.  Each different versions, both end up with the same name.  Different functionality exists between the two versions, features exist in one and not the other, and funct

[2016-02-18 02:04] garethgreenaway commented on #28795
Will take a look at this one.  To duplicate the situation as close as possible, where is your custom beacon when you try to run the beacon.add and beacon.modify?

[2016-02-18 02:40] dragon788 commented on #7997
The reload sounds really similar to how nginx handles config changes, it lets the sockets from the old config survive and spawns new ones with the new config until the old ones all expire.

One thing we've noticed is that upgrading a debian version forces the service restart due to how Debian derivatives handles services in general, ie "you requested this be installed so we are enabling/starting t

[2016-02-18 02:42] dragon788 commented on #5721
Using atd or anacron or a sleep 300 is a good way to do it on Linux, and on Windows using a scheduled task works pretty well. I also like somebody's suggestion of using salt-call --local service.restart salt-minion as that uses salt but salt-call doesn't require the service or communication with the master.

[2016-02-18 03:03] terminalmage commented on #31001
https://github.com/saltstack/salt/pull/31032 fixes this. It tries to upgrade to a new enough version of dnf-plugins-core, and in the event that this cannot be done the check that would have been performed is skipped.

I will need to get these changes patched into the Fedora RPMs, I'll work on this tonight/tomorrow.

[2016-02-18 03:04] terminalmage commented on #31001
This fix should make it so that even when a compatible version of the plugins can't be installed, the state proceeds without a false negative result.

[2016-02-18 03:44] plaurin84 opened #31298 "file.line not keeping block chomping indentation after changes were made"
I use a simple file.line to ensure an indented line exists in an xml config ile:

[code]

The initial run of highstate seems to works perfectly. The config file looks like this:

[code]

If I run highstate a second time, salt detects that changes were made to the file, which is expected behaviour, since the file was appened by starting the application (orientdb) later in the highstate (see comment

[2016-02-18 04:43] rallytime commented on #29795
@vutny I was able to reproduce this behavior and I have fixed this bug in #31299. Feel free to give that a try!

[2016-02-18 04:47] rallytime commented on #19066
@TimJones I just came across this issue again. I think actually what you're looking for here is to use something like `state_output: changes`. Basically what `changes` does is "terse output will be used if there was no error and no changes, otherwise full output will be used."

Or another option you could use here that is also along these lines is setting `state_verbose: False`. This means "settin

[2016-02-18 04:55] rallytime commented on #16235
@cimarronm Are you still running into this bug? I am not sure where this got fixed along the line, but I am unable to reproduce this bug either on the latest release on the 2015.5 branch (2015.5.9) nor on any release in 2015.8.

Here's the successful output I am seeing, this example is on 2015.5.9:
[code]

[2016-02-18 06:42] rall0r commented on #31106
Does that mean, that scheduling and/or salt mine in 2015.8.5 is broken?

[2016-02-18 08:17] JoaquinVeira commented on #30662
yes, it works! many thanks! and sorry about the late response.
should I close this case or you need any other confirmation?

[2016-02-18 08:19] JoaquinVeira commented on #29260
it is working now with version 2015.8.5 on master and minions for both Suse and Redhat.
many thanks.

[2016-02-18 08:27] fredrikaverpil opened #31303 "rdp.enable cannot use "require""
I can't use `require` with `rdp.enable` in Salt 2015.8.5:

[code]

I get this error when running that state:

[code]

I've tried switching out `windows.network.firewall` to other state files and none are working, and it seems `rdp.enable` simply does not support `require`. Could this really be so?
I'm using `require` all over the place, and this is the first time I see this behavior, where it simp

[2016-02-18 09:06] sunstick opened #31304 "Error when trying to use extend in cloud provider conf"
Hi,

I am trying to use the extend feature documented in https://docs.saltstack.com/en/develop/topics/cloud/config.html#extending-profiles-and-cloud-providers-configuration

My setup is that I have an `aws.conf` in /etc/salt/cloud.providers.d/ and it looks like the following

[code]

However, when using this I got the following error
[code]

Any ideas what's going on here? What did I do wrong?

Th

[2016-02-18 09:38] fredrikaverpil commented on #31303
Never mind, I forgot to include `windows.network.firewall`.

[2016-02-18 09:38] #31303 closed

[2016-02-18 09:39] tminn commented on #29666
Could you tell me this pr is in 2015.8.7 or should I test 2016.3 ?

[2016-02-18 09:53] multani commented on #28082
I can confirm the bug as well.

I believe this come from the [cleaning step](https://github.com/saltstack/salt/blob/develop/salt/states/pkgrepo.py#L336-L338) which happens [after the check if the repository is correctly configured or not](https://github.com/saltstack/salt/blob/develop/salt/states/pkgrepo.py#L322-L326).

[2016-02-18 09:56] isbm commented on #29260
@jfindlay we had this UTF-8 problem. I don't like the way we fixed it, since RPM should rather return correct encoding then broken, which means non-ASCII symbols should be fine in the descriptions. But since 99.999% of the descriptions are only in English, this should be fine for now.

@JoaquinVeira I have to look at KeyError, since we've just knocked out similar issue for state "latest". Probably

[2016-02-18 10:52] CGenie commented on #27688
Isn't this because minion's `schedule` is created only on `_post_master_init` so after minion connects to master? This way in a standalone minion the `schedule` attribute will not be present?

https://github.com/saltstack/salt/blob/develop/salt/minion.py#L868

[2016-02-18 11:57] zizkebab commented on #20009
While you guys are on this useful enhancement, I just noticed the documentation for **mine_get** appears only the in the master configuration example file, but not on the Configuring the Salt Master article : https://github.com/saltstack/salt/blob/01490387d714256191b3017fe488175b55231bbf/doc/ref/configuration/master.rst

[2016-02-18 12:01] gtmanfred commented on #29666
It will vein 2015.8.8 and 2016.3.1
On Thu, Feb 18, 2016 at 3:39 AM tminn <notifications@github.com> wrote:

[2016-02-18 12:20] tsaridas opened #31306 "salt-cloud not creating instances"
[code]
It actually says that the instance is there but nothing is created.

[code]
Also doesn't work with 2015.8.5.
Tested with version 2015.8.3 and everything works fine.

[2016-02-18 12:39] duk3luk3 commented on #31236
I'm wondering if it's misguided to debug this down to the `cp` module, since Salt-SSH docs [say](https://docs.saltstack.com/en/2015.5/topics/ssh/index.html)

- what exactly is the magic that makes states, and in particular file.managed work?

[2016-02-18 13:59] ticosax commented on #28483
This is not a feature supported by docker-py client.

Providing environment variables from the pillars is the way to go.

[2016-02-18 14:11] Reiner030 opened #31308 "glusterfs mount option #1 forces remount every state run / #2 with invalid remount option #3 lazy unmount missing"
[code]

[code]

Here the log from state run after first setup:

[code]

I tried to put it into the hidden_opts which sounds great from documentation (and issue https://github.com/saltstack/salt/issues/28603 )

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.mount.html#salt.states.mount.mounted

[code]

But then I lose the mount parameter. :(
Seems the "hidden_opts" are wrong named

[2016-02-18 14:27] Tanoti opened #31309 "state.grains.present to just assert a grain is present or not"
Modify the state.grains.present function so as to make the value parameter optional and then use the absence of that that option to simply report if a grain is actually present without caring about the value the grain is actually set to.

We have a need to check that a company-specific grain is present so as to be sure it is safe to run certain states but we can't predict the value the grain shoul

[2016-02-18 14:28] Reiner030 commented on #31308
some "buggy" but successful workaround for it:

[code]
I tried - since yesterday on this problem - also the mod_watch but it also seems not working...
[code]

[2016-02-18 14:35] whiteinge commented on #31194
Relabeling. Not a bug since Salt modules are not normally intended to have multiple instances.

[2016-02-18 14:37] tardypad opened #31311 "State git config_unset KeyError exception"
I encounter an exception while using git.config_unset within a state

Here below is the description of what happens when trying to remove a simple value

On the minion, the git user's gitconfig contains

[code]

Salt template contains

[code]

state apply test=True results in

[code]

actual state apply results in

[code]

and the value gets removed from the gitconfig

[code]

Here is the Salt / l

[2016-02-18 14:38] provonet commented on #29662
with above mentioned workarround we where able to upgrade to 2015.8.4

[2016-02-18 14:38] whiteinge commented on #31194
@kstreee this approach is not as explicit as the JSON file approach. But that's ok. I'll leave additional comments in your pull req.

[2016-02-18 15:06] tardypad opened #31313 "State git config_unset regex issue"
I encounter an error while using git.config_unset within a state

Here below is the description of what happens when trying to remove a section values using regex

On the minion, the git user's gitconfig contains

[code]

Salt template contains

[code]

state apply test=True results in

[code]

actual state apply results in

[code]

and the gitconfig stays unchanged

[code]

salt minion log report

[2016-02-18 15:06] tspecht commented on #27020
Any progress on this? Would be awesome if we could get vault as a pillar backend for Salt!

[2016-02-18 15:38] rallytime commented on #31304
@sunstick Can you post the output of `salt-cloud --versions`? Also, if you change the word `driver` to `provider` in the `general-ec2` section, do you get the same error? I am wondering if that is where there might be a bug.

[2016-02-18 15:44] rallytime commented on #31306
@tsaridas We had some decent salt cloud regressions in 2015.8.4 - 2015.8.6. We have fixed the regressions we were seeing in 2015.8.7, which has been tagged and is presently getting packaged.

I am curious to see if this is fixed along with the other regressions. If you could give this a try when 2015.8.7 is available, that would be great.

[2016-02-18 15:46] alexxannar opened #31315 "Salt merging strategy not working"
Jinja2: unknown
       M2Crypto: Not Installed
           Mako: Not Installed
         PyYAML: 3.11
          PyZMQ: 14.5.0
         Python: 2.6.6 (r266:84292, Jul 23 2015, 15:22:56)
           RAET: Not Installed
        Tornado: 4.2.1
            ZMQ: 4.0.5
           cffi: Not Installed
       cherrypy: 3.2.2
       dateutil: Not Installed
          gitdb: Not Installed
      gitpython: Not Ins

[2016-02-18 15:52] sunstick commented on #31304
@rallytime Thanks for the reply. This is my `salt-cloud --versions` output

[code]

I will try to change `driver` to `provider`

[2016-02-18 15:53] ketzacoatl commented on #27020
@tspecht, I have it on my todo list, but I have not started on it. I hope to do so in the next week or two. Anyone else is welcome to as well, I'm not looking to block, I am just interested in meeting this need but also tied up at the moment.

[2016-02-18 16:00] sunstick commented on #31304
@rallytime changed `driver` to `provider`. Saw the same error message.

[2016-02-18 16:21] rallytime commented on #31304
@sunstick Ok thanks for the info. I was thinking that might have been where the sticking point was, but it looks like something else in the `extends` functionality.

[2016-02-18 16:25] terminalmage commented on #31229
@jfindlay I don't think this is the same thing as #30999 at all, that issue dealt with a tag, and how Salt tries to unset the tracking branch when the rev is a tag. This is a branch.

I will investigate later today.

[2016-02-18 16:57] sakateka commented on #30472
@anlutro I think this bug will be corrected here https://github.com/saltstack/salt/pull/31196
lsof always returns 1 when there no active tcp session to master,  and it caused an exception

[2016-02-18 17:00] DmitryKuzmenko commented on #24050
In PR #31319 I've fixed the following:
* Properly initialize modules pillar data on minion start. Previously it was empty because minion was initializing modules before getting pillar from master so modules was initialized with an empty pillar dict. So now such requests like ```salt '*' pillar.get name``` and ```salt '*' pillar.item name``` don't return 'no key' response if executed right after mi

[2016-02-18 17:05] eykd commented on #31229
Well, I thought I had a workaround, namely setting a local branch name that has no equivalent upstream, but now I'm getting failures on subsequent deploys again because git is creating the weird `origin/<branchname>` local branches, and then failing when it tries to create them again.

[2016-02-18 17:06] #31315 closed

[2016-02-18 17:26] DmitryKuzmenko commented on #25858
It looks it was a bad idea to close this before the Raet issue and PR has closed...

@meggiebot, @cachedout could somebody merge the saltstack/raet#70?

[2016-02-18 17:33] tsaridas commented on #31306
Tested 2015.8.7 with no success.
The below commit fixes my issue.

https://github.com/saltstack/salt/pull/31002

[2016-02-18 17:42] jfindlay commented on #31280
@rambli, thanks for reporting.  Is it possible for you to experiment with some different configurations, like, for example a simpler state:
[code]

[2016-02-18 17:45] jfindlay commented on #31283
@pileofrogs, thanks for reporting.  What version of salt are you using?

[2016-02-18 17:48] racooper commented on #29132
Looks like it's gotten worse.... (on CentOS 6 with EPEL6)
[code]
it's trying to replace an EPEL package of the required version with a newer  version, and the newer version file from the saltstack-repo is missing.

[2016-02-18 17:52] rallytime commented on #31306
@tsaridas Thank you for testing and for finding the fix! I'm glad this is already resolved. I didn't realize you were using the cloud state (though there is a clue in your debug output).

#31002 will be in the 2015.8.8 release.

[2016-02-18 17:57] jfindlay commented on #31291
@hubez, I don't think this is currently possible, #31051.  As a workaround, you could add an [`onfail`](https://docs.saltstack.com/en/latest/ref/states/requisites.html#onfail) state that waits a minute before trying again.

[2016-02-18 17:58] #31306 closed

[2016-02-18 17:59] dmurphy18 commented on #29132
@racooper I was able to download using the following:

wget http://repo.saltstack.com/yum/redhat/6/x86_64/archive/2015.8.5/openpgm-5.2.122-2.el6.x86_64.rpm

so wondering if something else is occurring that is preventing access.

[2016-02-18 18:00] techhat commented on #31283
Thanks @pileofrogs, I'm glad to know that people are finding it useful! I was considering using cpanplus since it also supports uninstalling. Does cpanm support that as well?

Also, do you know of an option analogous to `-j` in Cent 6?

[2016-02-18 18:01] edgan commented on #31148
If someone can point me the right place to add this documentation, I will do it.

[2016-02-18 18:11] jfindlay commented on #31293
@deuscapturus, thanks for the report.

[2016-02-18 18:13] jfindlay commented on #31294
@abulkavs, thanks for reporting.  What version of salt are you using?

[2016-02-18 18:15] rambli commented on #31280
Unfortunately that did not make any difference :(
I don't think the state files themselves are a problem.

Issue arises when executing the `running()` function within `salt/utils/minion.py`.. the act of finding running jobs on a minion is somehow causing a SIGINT to be raised from somewhere (which I'm guessing is the reason for seeing the "Exiting gracefully on Ctrl-c" message)

Here is some debug

[2016-02-18 18:17] jfindlay commented on #31295
@abulkavs, thanks for the report.  What version of salt are you using?

[2016-02-18 18:18] twangboy opened #31323 "service.running must run twice to start disabled service in windows"
Windows 2012R2
Salt 2015.8.5

`service.running` will not start a disabled service on first run. The service is enabled on the first run, but not started. The service starts successfully on the second run because it was enabled in the first run.

To replicate:
Disable and stop the Print Spooler service using the windows service manager `services.msc`.

Create a state file with the following:
[code]

[2016-02-18 18:22] rallytime commented on #31148
@edgan That'd be great! I think adding something to https://docs.saltstack.com/en/latest/topics/ssh/roster.html and https://docs.saltstack.com/en/latest/ref/cli/salt-ssh.html would be fantastic.

Since this feature has been available since 2015.8.0, the change should be made against the 2015.8 branch.

[2016-02-18 18:22] jfindlay commented on #31298
@mosieurlaurin, thanks for reporting.

[2016-02-18 18:24] rallytime commented on #29666
This change will be in 2015.8.8 as stated above, but I recently did a merge-forward to the 2016.3 branch in #31322, which includes this fix. So it will be available in 2016.3.0, too. :)

[2016-02-18 18:24] jfindlay commented on #31308
@Reiner030, thanks for the detailed report.  I know that @joejulian has been working on this state recently.

[2016-02-18 18:30] jfindlay commented on #31309
@Tanoti, thanks for reporting.  As a workaround you could use:
[code]

[2016-02-18 18:32] jakehilton commented on #31009
Got bit by this again.. this time installing a simple package.

[code]

If I run the salt call command again I don't get the error most likely because the package has been installed.

[2016-02-18 18:34] jfindlay commented on #31311
@tardypad, thanks for the report.

[2016-02-18 18:39] jfindlay commented on #31313
@tardypad, thanks for the report.

[2016-02-18 18:44] joejulian commented on #31308
Thanks, I'll take a look at this.

[2016-02-18 18:47] joejulian commented on #31308
I should really read before I comment.

This is mount, not gluster. I haven't been working on mount.

[2016-02-18 18:49] joejulian commented on #31308
`remount` is an invalid option for fuse mounted filesystems.

[2016-02-18 18:55] jfindlay commented on #31251
@ifattah, `setLogRecordFactory` is python 3 only.  You might have better fortune creating a custom log handler and importing the salt logging classes directly.

[2016-02-18 18:59] jfindlay commented on #31251
@ifattahm, #31325.

[2016-02-18 19:05] jfindlay commented on #30662
@JoaquinVeira, no, thanks for confirming.

[2016-02-18 19:05] #30662 closed

[2016-02-18 19:06] jfindlay commented on #28082
@multani, you are welcome to submit a pull request if you have a fix.

[2016-02-18 19:13] jfindlay commented on #28483
@ticosax, but it still should be possible to supply a file containing environment variable definitions to the dockerng execution or state module at which point it could be translated into the command environment?

[2016-02-18 19:17] twangboy commented on #31280
@rambli Are you able to start/stop/disable/etc the Power service from the windows service manager? Are you able to issue a `net stop power` command? My windows machines all show this as not available for this specific service.

[2016-02-18 19:19] ticosax commented on #28483
@jfindlay Sure, we can.

Does it make sense ?
Not from my point of view.
Because `sls` are already files. What would be the motivation to store `Env` in a separate file then to parse it and to make it a python dict ?
I'm failing to see a valid use case here.

@tspecht what is your use case ? Can you tell us more ?

[2016-02-18 19:22] jfindlay commented on #31308
@joejulian, *I* should read before commenting. :-)

[2016-02-18 19:59] #30350 closed

[2016-02-18 20:03] terminalmage commented on #30999
This is fixed in #31301. Just FYI, I did some digging and found that ``--unset-upstream`` was added in 1.8.0, not 1.9.2.

[2016-02-18 20:05] ifattah commented on #31251
Thank you @jfindlay. If write a custom log handler would our module output still appear in the minion's logs?

@s0undt3ch, any thoughts on a python2.x solution to override the LogRecord factory (or SaltLogRecord)? This would be perfectly parallel to the functionality provided by Python's logging module to be able to set do the following:

[code]

Yes, this is monkey patching for python2.x, but is

[2016-02-18 20:06] thatch45 commented on #27020
@techhat would be the best one to implement this one, but if you start before he does @ketzacoatl let us know. I will slate this for the Carbon release, since the boron release has been frozen

[2016-02-18 20:12] pileofrogs commented on #31283
Sortof, cpanm -U does uninstalling but only from the "local::lib"
directories.  Apparently as a safeguard against deleting core modules.
I've used it and it seems to work for modules I installed with cpanm.
Unfortunately, it doesn't appear to be available  in the default package
repos for centos 6 and earlier. I've been installing it by hand using
cpan.  Well, that defeats the purpose.  So, maybe

[2016-02-18 20:32] terminalmage commented on #31167
OK, this regression only affects the global gitfs_mountpoint, it can be worked around using a

Also, @frogunder, this is invalid:

[code]

This value should not be a list, it should be formatted as follows:

[code]

However, for now you can just remove or comment it out, and do this, and it will work:

[code]

[2016-02-18 20:35] techhat commented on #31283
Awesome. I can parse that. I've got a lot on my plate right now, but I'll add it to my list.

[2016-02-18 20:38] jfindlay commented on #31251
@ifattah, I don't have much experience with salt's log handler system, but I have no reason to suspect log handlers would work for the master and not the minion.

[2016-02-18 20:59] rambli commented on #31280
@twangboy This issue is not related to the power service, as I see the Ctrl-c issue even when running state.highstate with a very simple top.sls, like copy a file for example. If you could please read my previous comment, it has the issue described in detail :)

[2016-02-18 21:11] abulkavs commented on #31295
2015.8.1 (Beryllium)

[2016-02-18 21:12] abulkavs commented on #31294
2015.8.1 (Beryllium)

[2016-02-18 21:15] terminalmage commented on #31167
Wait, I misunderstood this... I didn't realize there is a salt-test dir in @rallytime's test repo.

So, I can't reproduce any of this. Still digging.

[2016-02-18 21:38] rallytime opened #31330 "Orchestrator output regression in 2016.3"
I have a simple orchestrator set up with the following files:
[code]
When I run the orchestrator in 2015.8, the state information is output correctly like so:
[code]
But when I upgrade to 2016.3 without changing anything else, there is not stateful output:
[code]

Git bisect points to the regression happing in this merge-forward somewhere: https://github.com/saltstack/salt/pull/27887

[2016-02-18 21:44] martinhoefling commented on #23576
So git_pillar seems to be broken as well. To me it seems as if it is not rendered on the server at all but instead attempted on the minion, where the repo is not available. I have prepared an example with some vagrant machines [in this repo](https://github.com/martinhoefling/salt-ssh-git-bug). The minion is working with gitfs / git-pillar when addressed via salt master/minion connection, but not w

[2016-02-18 21:51] terminalmage commented on #31167
OK, I think this is not a bug, but a misunderstanding of the mountpoint feature.

First of all, @frogunder, I checked the git repo you posted in the initial post, and there is no ``dir_fs.sh`` in it. So, did you use that URL as a means of obfuscating the actual URL? If so, that's fine, but I wanted to clear this up as it is a point of confusion since that URL points to a valid repo.

Can you let m

[2016-02-18 21:57] terminalmage commented on #31167
Basically, the mountpoints are prepended to all paths, and the root changes the directory where gitfs starts looking at files.

[2016-02-18 21:58] AcidRobot opened #31331 "Salt doesn't update file when pillar called"
So, if I set a source to call pillar information eg:
[code]

it won't update the file on the server, it'll give this when running salt-call state.highstate
[code]

after changing this to:
[code]

does it work and update the file

[code]

[2016-02-18 22:26] rallytime commented on #31330
Ah, the regression was actually here: #27175. It appears the highstate outputter doesn't like the addition of the `retcode` key here.

[2016-02-18 22:28] babilen commented on #30999
Very nice, ta @terminalmage

[2016-02-18 22:29] Ch3LL commented on #30948
I just tested this while upgrading from 8.3 to 8.7 and it worked. Can we close this?

[2016-02-18 22:29] o-sleep commented on #31030
Ah, I found a bug.  When I put my custom execution module into my saltstack lib/modules directory it works from the reactor, but not from the srv/salt/_modules dir.

-Bjorn

[2016-02-18 22:29] #31030 closed

[2016-02-18 22:30] twangboy commented on #30948
@Ch3LL Have @frogunder test it. His machine is the one that could replicate this.

[2016-02-18 22:35] twangboy commented on #29457
@lorengordon Yes. I checked the registry and the value was `ec` without the additional `00`. Here's a screen shot:

![image](https://cloud.githubusercontent.com/assets/9383935/13160524/1f114e5a-d655-11e5-9aac-94fce7eb4c8a.png)

[2016-02-18 22:36] terminalmage commented on #31167
I've opened https://github.com/saltstack/salt/pull/31332 to add additional clarification to the differences between the mountpoint and root options.

[2016-02-18 22:39] meetjitesh commented on #31167
So, Salt-test is name of git repo under organization and ```dir_fs.sh`` is sample script under ```Salt-test``` repo and not in a subdirectory.

[2016-02-18 22:39] lorengordon commented on #29457
@twangboy, oh that's not right. `ec` is the hex value not the ascii value. It should like this:

![image](https://cloud.githubusercontent.com/assets/8457307/13160632/9b32f5f4-d666-11e5-99a1-1a53fd85973d.png)

[2016-02-18 22:46] lorengordon commented on #29457
ahh, but if i use your method but tell b64encode that it's a hex string (`'\xec'`), then it works.

[code]

[code]

![image](https://cloud.githubusercontent.com/assets/8457307/13160771/838ce76a-d667-11e5-81cf-139c03eac008.png)

[2016-02-18 22:47] terminalmage commented on #31167
OK, can you post the output of ``salt <minion id> cp.list_master | grep dir_fs.sh`` ?

[2016-02-18 22:50] terminalmage commented on #31167
I think the issue here is that you made ``gitfs_mountpoint`` a list. Changing it to the below should work.

[code]

I will investigate means of more strictly enforcing the data type.

[2016-02-18 22:50] techhat commented on #27020
@bechtoldt, @eedgar, @DanyC97, @jbussdieker, @coen-hyde, @ketzacoatl, @tspecht, would one or more of you please take a look at #31333? I only installed Vault about two hours ago, so I'm sure I'm not doing great on best practices.

[2016-02-18 22:52] meetjitesh commented on #31167
#salt \*db02*  cp.list_master | grep dir_fs.sh
```    - Salt-test']/dir_fs.sh```

[2016-02-18 22:53] terminalmage commented on #31167
Yep, that's the problem. Make the change I recommended and it should start working. I will note that the [docs](https://docs.saltstack.com/en/latest/ref/configuration/master.html#gitfs-mountpoint) do show correct usage for this parameter.

[2016-02-18 22:56] meetjitesh commented on #31167
Thanks @terminalmage after change it started working.

[2016-02-18 23:02] #31167 closed

[2016-02-18 23:24] wes-novack commented on #30838
That helps, thanks.

[2016-02-18 23:35] twangboy opened #31334 "win_servermanager with spaces in the display name"
If you use win_servermanager to install or remove a windows feature the name returned will be chopped if it contains a space.

For example:
[code]
returns:
[code]
FeatureResult should contain the full name `Telnet Client`
Should also have it remove the braces `{}`

2015.8.5

[2016-02-18 23:51] terminalmage commented on #31167
No problem, I both clarified the docs (in #31332) and added some additional logging (in #31336) which should help make this sort of misconfiguration easier to identify in the future.

Thanks for helping us make Salt better!

[2016-02-19 00:03] mbrgm commented on #31236
I am not sure if this is related, but I tried usign `cp.push` via `salt-ssh`, which does not work either.

[2016-02-19 00:27] deuscapturus commented on #31293
I see that the .git/HEAD file is updated every 60 seconds; I assume this is where it gets clobbered.  Could somebody help me find the code that is updating the external git pillars every 60 seconds?

[2016-02-19 00:29] Tanoti commented on #31309
Many thanks for the work around, I had not thought of using module.run like that. I have a patch ready for a pull request which should be with you soon.

[2016-02-19 00:56] #29046 closed

[2016-02-19 00:57] #29808 closed

[2016-02-19 01:02] twangboy commented on #29457
I'm going to close this then.

[2016-02-19 01:02] #29457 closed

[2016-02-19 01:12] #27945 closed

[2016-02-19 01:48] ferricoxide opened #31342 "State "service.running" w/ "enable: true" doesn't enable service"
Have a formula defined for configuring `yum-cron` on EL6. After I've applied the config-mods to `/etc/sysconfig/yum-config`, I have a service.running state configured like:

[code]

The state properly detects the updates to the file and runs the `service.running`:

[code]

however, a check of the service's boot-time enablement shows that it didn't actually get enabled:

[code]

This feels like a b

[2016-02-19 02:07] ferricoxide commented on #31342
Dammit... Bad form on the `enable`. Never mind...

[2016-02-19 02:36] mkuchin opened #31343 "dockerng.volume_present fails if no volume exists on minion"
Trying to execute state

[code]
on the minion with no volumes:
[code]
finishes with error:
[code]

[2016-02-19 02:46] terminalmage commented on #31293
Please set `log_level_logfile` to `debug` and restart the salt-master service. Doing so will include the full traceback along with that error message.

[2016-02-19 03:04] terminalmage commented on #31293
The git_pillar remotes are updated in the maintenance thread, the code is salt/daemons/masterapi.py I believe. But that shouldn't be causing any problems as the update code only fetches, it does not update HEAD. So I wouldn't bother wasting time going down that rabbit hole.

My guess is that there is an uncaught exception which interrupts the checkout when pillar data is being compiled. The debug

[2016-02-19 03:04] hw-qiaolei commented on #25842
@dmyerscough Is your problem solved? I met the similar problem. I got a `Minion did not return. [No response]` using `salt '*' test.ping`, but everything is normal when I remove the `sudo_user: root` in `/etc/salt/minion.d/minion.conf`. Unfortunately I did not find any suspicious logs in debug mode.

The salt version is following:
[code]

[2016-02-19 04:15] hw-qiaolei commented on #25842
@jfindlay is there any progress with this issue? thanks.

[2016-02-19 05:31] dvcrn opened #31345 "timezone.system is not available for mac"
Executing with `salt-ssh`

State:

[code]

Error:

[code]

Salt version: 2015.8.5

Running this on a cluster with mostly debian machines, but also 1 mac. The debians work fine, the mac fails

[2016-02-19 09:17] anlutro commented on #30500
Upgraded to 2015.8.7 and the issue is still present.

[code]

[2016-02-19 09:33] anlutro commented on #30472
Upgraded to 2015.8.7 today and am still seeing the error.

[2016-02-19 10:07] rajvidhimar opened #31347 "Problem with junos proxy"
Hi,
I am working with junos proxy. There seems to be a problem with the proxy. When I call the call_rpc function from the junos module in gives the following error:
[code]
At first it looks like an error is emitted in the unlying libraries used by the the rpc function, but it's not.

The broken code looks something like this:
Module:
[code]

Proxy
[code]
When I make a device connection in rpc itse

[2016-02-19 10:16] qgesima commented on #27138
I'm not sure if this causes, but it seems the group membership checking is not correct. (False vs None?)

This patch is fixed it for me:
[code]

[2016-02-19 10:23] Tanoti commented on #31309
Sadly the workaround does not solve this problem. The grains.get function will default to an empty string causing the wrapped module.run state to succeed every time regardless of whether the grain is present or not.

[2016-02-19 10:44] ticosax opened #31348 "[2016.3] saltmaster incompatible with minion 2015.8"
After I upgraded my salt master to `2016.3` minions that are still at `2015.8.7` can't execute `state.highstate`:

[code]
[code]

[2016-02-19 10:49] zerthimon opened #31349 "Problem with salt-api (rest_cherrypy): token doesn't work"
I'm having the following problem with salt-api:

Here is my forkflow:
1. Using curl to authenticate with user and password to receive a token - SUCCESS: I get the token
2. Using curl to place a job (using the token from step 1) - SUCCESS: I get the jid
3. Using curl to check jid status (using the token from step 1 and jid from step 2) - FAILURE: 401 Unauthorized

Here is the query that fails:
[cod

[2016-02-19 11:07] ticosax commented on #31348
I found the commit and realize it is part of 2015.8.4
https://github.com/saltstack/salt/commit/f9480f66d

restarting salt-minion solve my issue

[2016-02-19 11:07] #31348 closed

[2016-02-19 11:27] DenisBY opened #31350 "Failed to spawn the VT: StringIO instance has no attribute 'fileno'"
We have a heavily used for AWS autoscaling salt-master and after some time salt starts to throw in log exceptions like this:
[code]
[code]
[code]

After salt-master restart everything goes back for a while but in some time it happens again.
It happens time to time and I don't see any consistent pattern of this issue.

[code]

[2016-02-19 11:41] whiteinge commented on #31349
Checking job returns is a master-side operation via Salt's jobs runner. You
need to give the jenkins user access to runners via `@runner` in order to
execute them. That could certainly be explained better in the docs. :-P

On Fri, Feb 19, 2016 at 3:49 AM, Lior Goikhburg <notifications@github.com>
wrote:

[2016-02-19 12:26] zerthimon commented on #31349
@whiteinge that's solved my problem, thanks a lot!

[2016-02-19 12:26] #31349 closed

[2016-02-19 14:03] tminn commented on #29666
Checked could not find tags/v2015.8.8 but works for 2016.3. Now I can deploy an instance without floating IP

--snip--
[salt@smaster salt(keystone_adm)]$ salt-cloud --version
salt-cloud 2016.3.0rc1-1178-g64707d1 (Boron)
--snip--

The issue I'm running into is same as before. Please see output from Jan 19. What works for now is I can pass private network uuid in Network and It does work without flo

[2016-02-19 14:17] ticosax commented on #30597
You need to add the parameter `validate_input=True` so types get cast properly.

[code]

[2016-02-19 14:44] frogunder commented on #30948
@twangboy - @Ch3LL - I tried this again and it is still an issue. (At least for me)
I tried updating to 2015.8.7 and it hangs. (2015.8.7-AMD64)

The command is working fine most of the time, and updating correctly.
The problem is that when you dl the file, if you get the message `The "file" is not commonly downloaded and could harm your computer`, Windows is throwing an smart screen warning when t

[2016-02-19 15:04] gtmanfred commented on #29666
For the nova driver, i don't know what the output of a floating ip looks like in the addresses dictionary.

But to attach a floating-ip, you should just have to follow the same format as attaching a private network, and then put in the stuff that you would pass to novaclient for that.

[code]

[2016-02-19 15:47] ticosax commented on #29662
@provonet please can you paste a command that I can reproduce the issue and emphasis what is wrong ?

[2016-02-19 15:58] mahresohl commented on #31106
Just tested Runner scheduling with 2015.8.7 (both Master and Minion - windows). The same error:
-------------------------------------------------------------------
2016-02-19 10:51:58,512 [salt.utils.schedule][ERROR   ][15105] Unhandled exception running myrun.test
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/salt/utils/schedule.py", line 703, in handle_func
    ret[

[2016-02-19 16:02] thatch45 commented on #24050
Thanks @DmitryKuzmenko ! Spot on in all cases!

[2016-02-19 16:14] ticosax commented on #27674
Sorry I just realized you asked for my help.

I think if you try with latest release `2015.8.7` it will work.

[code]

this issue can be closed.

[2016-02-19 16:15] ticosax commented on #26934
has been fixed by #31326

[2016-02-19 16:17] ssgward commented on #31345
@dvcrn - thanks for reporting. We are in the process of improving our Mac support.

Also, feel free to submit pull requests for any functionality you'd like to see added.

[2016-02-19 16:23] sastorsl opened #31356 "file.copy module with recurse=true and non-existing src dir does not fail and resets dst dir permissions"
To reproduce:

Create a destination (dst) directory and a file in that directory.
We can see that the source directory does not exist.

[code]

Try to copy from the non-existing directory.
I would expect this to fail - but it returns True and the directory permissions of the dst directory are reset to 000

[code]

My version info
[code]

[2016-02-19 16:36] mahresohl commented on #31106
The fix in #31189 solves the problem. No more errors and the runner works as expected

[2016-02-19 16:36] Ch3LL commented on #30937
I was able to replicate this upgrading from 2015.8.3 to 2015.8.7:

SALTMASTER:

[code]

[code]

DEBIAN8 VM:

[code]

[code]

Also to note I did not see this behavior when upgrading from 2015.8.4 to 2015.8.7

Ping @terminalmage ^ my test case

[2016-02-19 16:39] sastorsl commented on #31356
Adding os.path.exists(src) to salt/modules/file.py should fix this, but I would maybe test if recurse is set and then test with os.path.isfile(src) / os.path.isdir(src) depending on if recurse is False or True.

[2016-02-19 17:03] jfindlay commented on #26883
@vatex, what execution and/or state modules have you tried and what was the result?  Also, what version of salt are you using?  Thanks.

[2016-02-19 17:04] rambli commented on #31280
Hey guys, to eliminate any potential interference from my setup, I spun up a new Windows 2012 R2 VM and did a fresh install of Salt via pip (version 2015.8.7). I'm seeing the same issue :( Any ideas what could be going on?

[2016-02-19 17:15] DmitryKuzmenko commented on #24050
@thatch45 thank you!
In this case I can declare: now (where the fixes are merged) Salt works as documented.
If anybody needs to update pillar on master side he needs to send refresh_pillar request to teh related minions.
If anybody has a case where you have a logic that needs to have frequently updated on-demand pillar data, please create a new issue with the detail description of your special cas

[2016-02-19 17:16] #24050 closed

[2016-02-19 17:16] deuscapturus commented on #31293
Thanks @terminalmage for helping us.

I have to wait until the issue starts again to get the trace.  **But I just discovered something amazing.  ** Something is touching the .git/HEAD file continuously.  In my other deployments of SaltStack using the same version, the HEAD file never changes (as you said should be the case)

[code]

Further, I added the HEAD file to the system audit logs.  The aud

[2016-02-19 17:22] strocknar opened #31361 "dockerng No such file or directory on initial run"
I'm trying to get dockerng to pull an image and start a container, but it seems that dockerng cannot do anything if a state that also installs docker is run at the same time. However, running a another highstate pulls the image and starts the container correctly. Am I missing something?

-=# docker.sls #=-
[code]
-=# ecs.sls #=-
[code]
-=# error #=-
[code]
-=# Salt version #=-
[code]

[2016-02-19 17:23] rallytime commented on #31106
The fix was only recently submitted and merged, and did not make it into the 2015.8.7 release. It will be available in the next release, however, which will be 2015.8.8.

[2016-02-19 17:32] gtmanfred commented on #31361
You will need to run `reload_modules` after python-docker is installed.

https://docs.saltstack.com/en/latest/ref/states/#reloading-modules

[2016-02-19 17:44] strocknar commented on #31361
That did the trick! Many thanks. I have never run into an issue where I needed to reload the modules before.

[2016-02-19 17:44] #31361 closed

[2016-02-19 17:44] joejulian commented on #30932
@johje349 Can you verify this fixes it for you, too?

[2016-02-19 17:49] jfindlay commented on #31331
@AcidRobot, thanks for reporting.  What version of salt are you using?  Do you see anything suspicious in the master or minion debug log?  You can also try:
[code]

[2016-02-19 17:53] twangboy commented on #31280
@rambli I didn't know you were installing salt using pip. Do you get the same issue if you install salt using the windows installer?

https://repo.saltstack.com/windows/Salt-Minion-2015.8.7-AMD64-Setup.exe

If you don't have problems with it using the windows installer, I would suspect something in your python environment. Try setting up a dev environment for salt using the `dev_env.ps1` script at

[2016-02-19 17:53] jfindlay commented on #31342
@ferricoxide, thanks for reporting.  What version of salt are you using?

[2016-02-19 17:55] jfindlay commented on #31343
@mkuchin, thanks for working on this.

[2016-02-19 17:57] jfindlay commented on #31347
@rajvidhimar, thanks for reporting.

[2016-02-19 17:57] foundatron opened #31362 "salt-key returns error when not run as root"
`salt-key` returns error when not run as root

I'm attempting to run as salt as unprivileged user described [here](https://docs.saltstack.com/en/latest/ref/configuration/nonroot.html). Regular `salt` commands run without problem, but running `salt-key` commands returns this error:

[code]

I'm running Centos 7 (using the most recent base Centos AMI on AWS). I experienced this with salt versions 20

[2016-02-19 17:59] eykd opened #31363 "git.latest with force_clone fails when it can't create a target directory that already exists"
The docs for `force_clone` say this:

However, I faced this situation: I'm cloning a repo into a subdirectory where the parent directory is owned by a different user. `git.latest` can't create the directory, so I use `file.directory` to create an empty directory to clone the repo into. Now, by reading the docs, I assumed that I should use `force_clone` since the "target directory exists and is not

[2016-02-19 18:06] jfindlay commented on #31350
@DenisBY, thanks for reporting.  How are you initiating the salt-cloud action, with the cloud runner on the master, or the cloud execution or state module on a minion, or a cmd.run?

[2016-02-19 18:12] jfindlay commented on #31356
@sastorsl, thanks for the report.  If you think that you have an idea of how to solve this, you are welcome to send in a pull request.

[2016-02-19 18:12] deuscapturus commented on #31293
I'm getting close.

Inside of [/usr/lib/python2.6/site-packages/salt/daemons/masterapi.py](https://github.com/saltstack/salt/blob/develop/salt/daemons/masterapi.py#L57):
[code]

Seen in log:
[code]
init_git_pillar is running every second...  If I delete /var/cache/salt/master/git_pillar and restart the stream of messages stop.

This function is calledin 2 places:
[code]

[2016-02-19 18:17] jfindlay commented on #31363
@eykd, thanks for the report.  What version of salt are you using?  When you set `force_clone: false`, did the state only report that it was successful or was it actually successful, meaning that the repository was cloned into the directory?

[2016-02-19 18:21] DmitryKuzmenko commented on #30183
It's deep insight the core of the transport logic. BTW, this works properly with ```transport=tcp```. I'm working on the fix design.

[2016-02-19 18:24] cwicklein opened #31365 "osrelease_info broken for CentOS 7"
It looks like the osrelease* grains aren't being set on CentOS 7 with 2015.8.5 as they were with 2015.5.x.  The osrelease_info bits mostly fell out.

2015.5.x:

    os:
        CentOS
    os_family:
        RedHat
    osarch:
        x86_64
    oscodename:
        Core
    osfinger:
        CentOS Linux-7
    osfullname:
        CentOS Linux
    osmajorrelease:
        7
    osrelease:
        7.1

[2016-02-19 18:29] eykd commented on #31363
Whoops, sorry, this is in 2015.8.5. This worked previously in 2015.7.x with the "equivalent" option `force: true`.

Leaving off `force_clone` (or setting it to `false`) results in a true positive success: the repository is cloned successfully into the target directory.

I'm not really sure if this is a behavior bug or a documentation bug. :)

[2016-02-19 18:42] Ch3LL opened #31366 "pkg.info_installed on centos5 does not output info"
This has been tested on the following salt versions:

2015.8.1, 2015.8.7, 2016.3.0rc1-535-g02f79dc

[code]
The package is installed:

[code]

But when I run `pkg.info_installed bash-completion` I get empty output.

[code]

Here is the salt-call output for more details.
[code]

[2016-02-19 18:44] jfindlay commented on #31362
@foundatron, thanks for reporting.  Will you also post the master config you are using with any private info removed if necessary?

[2016-02-19 18:48] jfindlay commented on #31365
@cwicklein, thanks for reporting.

[2016-02-19 18:49] rambli commented on #31280
@twangboy The windows installer worked fine for me!
I tried Salt via pip on three machines (2 VMs, and one physical host), all three were clean installs, so unsure about the python environment being a problem. Please let me know if there's anything environment settings you'd like me to check on these.

[2016-02-19 19:08] jfindlay commented on #31365
I can confirm this:

- 2015.5.9
[code]

- 2015.8.7
[code]

[2016-02-19 19:18] cmarzullo commented on #30696
Anyone have a procedure on how to unbork this?

[2016-02-19 19:20] jfindlay commented on #25842
@hw-qiaolei, I haven't made any progress on this issue.  There are many issues in the backlog we are trying to resolve, but if you find any more info on this one, be sure to post it here, thanks.

[2016-02-19 19:23] foundatron commented on #31362
Here you are:

[code]

I also just found that someone [mentioned](https://groups.google.com/d/msg/salt-users/phuM1sNzLAE/V_dTU5wsCgAJ) something similar on the google group, but I didn't see any issues in this repo that looked related.

[2016-02-19 19:24] jfindlay commented on #27138
@qgesima, if you think your solution is good, you are welcome to submit a pull request.

[2016-02-19 19:28] twangboy commented on #31280
@rambli Did you try running the `dev_env.ps1` script to install python instead of installing python manually?

[2016-02-19 19:30] jfindlay commented on #31309
You could do something more hacky, like:
[code]

[2016-02-19 19:32] blbradley commented on #30696
@cmarzullo I don't think this is a problem with `2015.8.3` or `2015.8.5`.

[2016-02-19 19:34] jfindlay commented on #31363
@eykd, thanks for the clarification.

[2016-02-19 19:39] jfindlay commented on #31295
@abulkavs, I get this when trying your example:
[code]
[code]
[code]

[2016-02-19 19:42] sakateka commented on #30472
This PR#31196  is not included in the release 2015.8.7

[2016-02-19 19:42] anlutro commented on #30696
I don't know about the 2015.5 packages but can confirm this was only an issue with 2015.8.4.

[2016-02-19 19:44] ssgward commented on #31365
@jfindlay - is this just for Cent 7 or other distros, too?

[2016-02-19 19:45] jfindlay commented on #31365
I only tested on CentOS 7.

[2016-02-19 19:53] rallytime commented on #29727
@oeuftete Are you in a position to give the fix from @ticosax above a try?

[2016-02-19 19:57] pileofrogs commented on #31283
sorry to keep bugging you, but you might also want to change the behavior
when the cpan script isn't found.  Right now it fails the __virtual__ and
says something totally arcane which I've come to intepret as "you just
tried to use a module that doesn't exist".

Hope that helps, and thanks again!
-Dylan

On Thu, Feb 18, 2016 at 12:35 PM, Joseph Hall <notifications@github.com>
wrote:

[2016-02-19 20:05] techhat commented on #31283
@pileofrogs, is this the cpanm that you're talking about? http://search.cpan.org/~miyagawa/App-cpanminus-1.7040/bin/cpanm

[2016-02-19 20:24] pileofrogs commented on #31283
Yeah, that's the one.

You might want to do a thing where you search for cpanm, if it's not found
try cpanplus, then cpan?  Sounds like a lot of work...

On Fri, Feb 19, 2016 at 12:05 PM, Joseph Hall <notifications@github.com>
wrote:

[2016-02-19 20:25] #31174 closed

[2016-02-19 20:26] sjorge commented on #30836
Had this pop up today on a minion on 2016.3 also.

[2016-02-19 20:28] sjorge commented on #30563
Looks like it is fixed in my 2016.3 build from today. Marking this as closed.

[2016-02-19 20:30] sjorge commented on #30780
Looks fixed in 2016.3 build I spun today? Can anyone verify?

[2016-02-19 20:31] techhat commented on #31283
Yeah, I hate doing that kind of magic. I think I would rather use a number of modules with their own `__virtual__()`functions returning `cpan`.

[2016-02-19 20:33] sjorge opened #31369 "illumos/solaris/smartos display compacted hwaddrs"
[code]
[code]

These should probably be padded with 0 if length of segment < 2

Not sure how far back this goes but at least develop and 2016.3 show it. I assume 2015.8 and older also.

[2016-02-19 20:48] ferricoxide commented on #31342
The one in the current EL6 repository:

[code]

[2016-02-19 21:11] Ch3LL opened #31370 "pkg.info_installed on ubuntu12 does not output info and stack trace"
Salt Versions tested:

2015.8.3, 2015.8.7, 2016.3.0rc1-535-g02f79dc

[code]

The package is installed as shown below:

[code]

When I run `pkg.info_installed` I get a stack trace error:

[code]

Here is the salt-call for more details:

[code]

[2016-02-19 21:15] babilen commented on #30696
Sure, the dependency has been removed (and Debian packages by Saltstack therefore don't provide that functionality at the moment).

[2016-02-19 21:22] techhat commented on #27020
Pillar module at #31371.

[2016-02-19 21:25] abulkavs commented on #31295
{{foo.bar | default('should be none', True)}}

such jinja template evaluation definitely shouldn't be in sls file. I've put it there just to demonstrate that if that would be there then it is evaluated differently than in /tmp/file from file.managed "context". In sls file it's evaluated properly and "salt-minion -l debug" would show that even though it results in error during further yaml processi

[2016-02-19 21:36] ssgward commented on #31369
@sjorge - thanks.

[2016-02-19 22:29] algorythmic commented on #8906
This was fixed by d5629fa454219aec2529f79a4616869d6a72ebb2.

[2016-02-19 22:41] sjorge commented on #31369
Trying to fix it now in 2016.3 so I can test, then I will backport to 2015.5 as the code is the same.
I'll open the PR against 2015.5. Not sure how long it will take me.

[2016-02-19 22:43] terminalmage commented on #31229
@eykd I found and fixed the issue. The main problem was that we were using ``--track`` on older git when we needed to use ``--set-upstream``.

See https://github.com/saltstack/salt/pull/31373 for details. Once this is merged, I'd love if you could test using your vagrant setup with a git install from the head of the 2015.8 branch.

Thank you so much for your extremely detailed report. I wish all b

[2016-02-19 22:50] lorengordon commented on #31342
@jfindlay, I eyeballed the code really quickly and am pretty sure this problem is due to logic [like this](https://github.com/saltstack/salt/blob/develop/salt/states/service.py#L322). Basically, `if enable is True ... elif enable is False ...` causes the parameter to be treated as if it were not set at all when the value is evaluated to a string (e.g. `enable: 'True'` rather than `enable: True`).

[2016-02-19 22:54] sjorge commented on #31369
[code]

Fixed in 2016.3 on my dev box, expect PR soon

[2016-02-19 22:58] eykd commented on #31229
Splendid! I have a crucial app that's still on precise, and I was forced to deploy it by hand via wooden planks rough-hewn with a stone axe. I'll be happy to test the fix when it's merged.

Bugs are inevitable, but bugfixes aren't, so thanks for the quick turnaround!

[2016-02-19 23:03] ssgward commented on #31369
@sjorge - good work. Thanks.

[2016-02-19 23:05] sjorge commented on #31369
Done PR #31374

[2016-02-19 23:10] sjorge commented on #30563
I stand corrected, it not yet fixed in 2016.3

[2016-02-19 23:19] garethgreenaway commented on #30563
The PR was made against develop, not 2016.3, it's likely it hasn't been merged in yet.  Would you mind testing against develop?

[2016-02-19 23:22] sjorge commented on #30563
I'm alternating between 2016.3 and develop. I probably messed up my builds earlier. I just grabbed my dev machine and it's fine in develop.

[2016-02-19 23:31] DenisBY commented on #31350
using reactor on master via api. we are using reactor from here:
https://github.com/saltstack-formulas/ec2-autoscale-reactor

[2016-02-19 23:34] mshirley commented on #10796
Until resolved, you can get around this issue by symlinking /usr/lib64/nagios or /usr/share/nagios/libexec to /usr/lib/nagios.

[2016-02-19 23:43] sjorge commented on #30563
@garethgreenaway spoke to soon:
[code]

[2016-02-20 00:53] twangboy commented on #30948
It will continue to be a problem until our new download site establishes credibility or we get a code signing certificate.

[2016-02-20 01:07] blbradley commented on #28641
Is this in 2015.8.7?

[2016-02-20 01:23] PKiman commented on #28036
I got a similar error message when trying to install virtualenv from pip code base, but figured it out.

sudo salt 'minion-1' state.highstate test=False -l debug
`
      ID: virtualenv
Function: pip.installed
  Result: False
 Comment: An importable pip module is required but could not be found on your system. This usually means that the systems pip package is not installed properly.
 Started: 00:3

[2016-02-20 02:08] oeuftete commented on #29727
@rallytime I should be able to test it out mid-next-week after vacation is done.

[2016-02-20 04:01] dvcrn commented on #31345
Is there a list with what is available on which platform?

[2016-02-20 08:09] DmitryKuzmenko commented on #31365
Works on Centos 6.6:
[code]

[2016-02-20 08:21] sastorsl commented on #31356
Haven't contributed to github before, so I've spent the morning (europe) reading up. I'll see if I can share some inputs. I'll be AFK for at least some hours now.

[2016-02-20 08:48] sastorsl commented on #31356
Firing from the hip.
IMHO the function should fail early when something as important as the source of a copy does not exist. If you see reasons to move the test to a sub function I'll of course listen to reason.

salt/modules/file.py
[code]

[2016-02-20 08:56] sastorsl commented on #31356
And an example test with a patched version of salt-2015.5.5 - salt/modules/file.py

[code]

Performing some tests
[code]

[2016-02-20 11:15] provonet commented on #29662
See my original post from 14/12 or the comment from @jgmchan
We use the workarround suggested by @jgmchan  which work fine... but is a bit bloated. so for forwarding tcp ports is is enough to only configure them as port_bindings, but for udp ports it is required to set them in ports: as well. With 2015.8.1 that was not needed.

[2016-02-20 14:50] DmitryKuzmenko commented on #30183
Fixed by disabling auth retry if multimaster is set to failover mode.

[2016-02-20 15:11] DmitryKuzmenko commented on #31365
Had some time today to check this: the difference is the following:

**CentOS 6**
* doesn't provide ```/etc/os-release file``` or it's just missing on my centos, will check on some another.
* salt uses the info from ```/etc/centos-release``` that's content is:
[code]
**CentOS 7**
* provides ```/etc/os-release``` that is out of the freedesktop.org standard: it contains the only major release number

[2016-02-20 16:32] damon-atkins commented on #31365
@DmitryKuzmenko Maybe the other approach should be taken and ask Centos team why they are not updating /etc/os-release VERSION_ID to equal 7.2  As per the os-release standard.

Don't assume it is a Salt bug.

[2016-02-20 17:52] mallniya commented on #31247
@jfindlay, thanks for clarification. Somehow it bothers me, that it can look like:
[code]
And there will be no contradiction. But, as I am not a programmer, I guess #29142 will solve it.

One more note: working form of formula will rewrite target file every time highstate is running, which is either unnecessary and potentially harmful for services, that watch this actually unchanged, but as a fact

[2016-02-20 18:08] sunstick commented on #31304
@rallytime Found a workaround for this. If I specify `my-ec2`'s extend to be 'general-ec2:ec2', it actually works.

[code]

[2016-02-20 18:26] mallniya commented on #31220
My bad, packages does not really assigned to graphite10.profile.rambler.ru server's role.
Still, @jfindlay, I expect some comment on:

Much appreciated details produced, thank you.

[2016-02-20 18:31] rallytime commented on #31304
@sunstick Oh! You're right. That's how providers are supposed to be extended. I just forgot about that difference. It's documented [here](https://docs.saltstack.com/en/latest/topics/cloud/config.html#extending-providers).

Since this is working as intended, I'm tempted to close this. Unless there is something you can think of in the docs where we can make this more clear?

[2016-02-20 18:35] MalloZup opened #31383 "minion_id generation doesn't match the newhostname."
Tested on opensuse_leap42.1.

how to reproduce:

In a new installed machine, with new salt-Minion, before setup the minion itself (so minion-salt-service isn't started)
- change the hostname via hostname "NEWHOST"
- change the file etc/hostname = "NEWHOST".
- don't change the file /etc/hosts

[code]

[code]

start the salt-minion-service.

minion_id = OLD
#

If i modify the /etc/hosts, with the "N