[2018-05-31 14:11] Ch3LL commented on #47912
looks like i'm able to replicate this in older versions of salt as well including 2017.7.2 so this is not a regression. If  I run the state the second time it looks like it resolves okay.

[2018-05-31 14:13] Ch3LL commented on #47898
ping @saltstack/team-cloud any ideas here?

[2018-05-31 14:23] Popovych49 commented on #47912
Yes, I found it in 2017.7.2 and test it in 2018 to test.

I think it resolve the second time because of this cinematic :
- At the end of the first time, the key of second state is delete because no value.
- The second time, the first state is not launch because no changes are expected, so the second state works fine

[2018-05-31 14:37] zerthimon commented on #47086
https://github.com/saltstack/salt/issues/47004

[2018-05-31 15:19] nicholasmhughes commented on #47819
@cskowronnek , the data disk dictionaries are passed entirely to the DataDisk object (at least in the develop code)... so it should be supported now. Can you test something like this:

[code]

[2018-05-31 16:11] gtmanfred commented on #47898
is the --versions-report output from the machine you are running `salt-cloud` on? or the one you are trying to bootstrap?

Because the locale is ANSI and not unicode.  Can you try setting your locale to a unicode locale and trying again?

Thanks,
Daniel

[2018-05-31 16:58] #33923 closed

[2018-05-31 17:00] sandilyasd commented on #47834
Thanks for the details. I will try changing the permissions and will let you know the outcome.

[2018-05-31 17:24] vimalkesavan opened #47914 "salt-run state.event pretty=True not working"
Hi,
I am new to salt.

I am trying to configure a beacon in minion.

When I give command salt-run  state.event pretty=True it gives a message
"Function 'state.event' is unavailable"

[2018-05-31 17:39] whytewolf commented on #47031
ZD-2529

[2018-05-31 17:47] tehsu commented on #45670
any updates on this? @erjohnso

[2018-05-31 17:47] poliva83 commented on #47031
@whytewolf Thanks for linking to zendesk ticket. I didn't know this was already opened.

[2018-05-31 17:58] #33938 closed

[2018-05-31 18:08] tehsu commented on #45670
So, Google uses the image size for the boot disk size, I created an image from Google's image with a 50 gb disk and that solves this if anyone is looking for a workaround.

[2018-05-31 18:12] rung94 commented on #45670
Yes, I came to that conclusion that salt is not strong in defining infrastructure like this. Using gcloud command line to define instances while pairing with salt functionality is more ideal.

[2018-05-31 18:33] rallytime commented on #47559
@soner89 This should be fixed with #47788. Can you confirm?

[2018-05-31 18:35] #47693 closed

[2018-05-31 18:50] #43914 closed

[2018-05-31 19:56] cskowronnek commented on #47819
Thanks, that worked! Can you please update the documentation on this?

[2018-05-31 20:58] #33967 closed

[2018-05-31 21:20] maxime-viargues-serato commented on #47905
Sorry when I say it fails it returns
[code]

[2018-05-31 21:21] maxime-viargues-serato commented on #47905
version reports is

Salt Version:
           Salt: 2018.3.0

Dependency Versions:
           cffi: 1.11.2
       cherrypy: 13.0.0
       dateutil: 2.6.1
      docker-py: Not Installed
          gitdb: 2.0.3
      gitpython: 2.1.7
          ioflo: Not Installed
         Jinja2: 2.10
        libgit2: Not Installed
        libnacl: Not Installed
       M2Crypto: Not Installed
           Mako: 1.0.7

[2018-05-31 21:31] maxime-viargues-serato commented on #47905
The ping with debug output from the master outputs
[code]
I am surprise to see 127.0.0.1 as address, but that's the same output with a machine which works.

[2018-05-31 21:44] nicholasmhughes commented on #47819
I can take a stab at that, but documenting dynamic parameter handling is... tricky. What do you think is the best way to consume this in the documentation?

[2018-05-31 22:21] kveroneau commented on #32871
This is still definately an issue, I don't believe anybody is noticing/reporting as subversion is mostly dead these days.  In the current version 2018.3.0 if I try to use svnfs, I see the following in the log file:
[DEBUG   ] Could not LazyLoad svnfs.envs: 'svnfs' __virtual__ returned False

If I remove the lines which detect what I have in my fileserver_backend:
    if __virtualname__ not in __op

[2018-05-31 22:29] kveroneau commented on #47086
I am also effected by this issue, when is 2018.3.1 set to release?  I noticed that 2018.3.0 has many broken features, that used to work in 2017.7.?  Perhaps more testing should be done before accepting an PR into the release branch?  I am boggled at how this mysql_grant state issue got into a release version of SaltStack.  Additional QA should be performed on updates to major widely used modules s

[2018-05-31 22:41] kveroneau opened #47916 "Documentation on how to downgrade SaltStack"
### Description of Issue/Question
I noticed that a few things which worked in 2017.7.? are now broken in 2018.3.0, and some of the changes to state modules are not forward compatible requiring states to be updated.

In the case of accidental or automated updates to the salt-master or salt-minion, documentation should be available on how to properly downgrade to a prior version of SaltStack.

### S

[2018-05-31 22:58] #33225 closed

[2018-05-31 23:09] maxime-viargues-serato commented on #47905
The machine also receives TCP packets from the master, every second or so

[code]

[2018-05-31 23:32] maxime-viargues-serato commented on #47905
And that's running a ping FROM the machine, which succeeds and adds the machine to the master key list, although doesn't fix the problem from the master, i.e. still cannot ping the minion
[code]

[2018-06-01 00:58] #33811 closed

[2018-06-01 01:53] maxime-viargues-serato commented on #47905
Ok I finally got down to the bottom of the problem after outputting the daemon errors to a file, so the problem is that on those clean machines there is no Git installed.
So it fails to launch the daemon with
[code]

So it's not related to the version although the previous version doesn't seem to have this problem.
Now the question is why does salt need Git? Or does it actually need it? It looks l

[2018-06-01 05:13] vimalkesavan commented on #47914
//minion output

root@NTNX-FCH2004V1KZ-A-CVM:10.151.34.237: salt-call sys.list_functions
Checksum type 'md5' disabled
local:
    - acl.delfacl
    - acl.getfacl
    - acl.modfacl
    - acl.version
    - acl.wipefacls
    - aliases.get_target
    - aliases.has_target
    - aliases.list_aliases
    - aliases.rm_alias
    - aliases.set_target
    - alternatives.auto
    - alternatives.check_exists

[2018-06-01 05:14] vimalkesavan commented on #47914
//master
root@HelperFramework:~# salt --versions-report
           Salt: 0.17.5
         Python: 2.7.6 (default, Nov 23 2017, 15:49:48)
         Jinja2: 2.10
       M2Crypto: 0.21.1
 msgpack-python: 0.3.0
   msgpack-pure: Not Installed
       pycrypto: 2.6.1
         PyYAML: 3.10
          PyZMQ: 14.0.1
            ZMQ: 4.0.4

[2018-06-01 06:17] paulkramme commented on #47904
Thank you, `state_top_saltenv: base` worked.

[2018-06-01 06:17] #47904 closed

[2018-06-01 07:19] romcab opened #47918 "Requisites in reactor is not working"
### Description of Issue/Question
I've created a simple reactor that does the following when a particular event occurs.
- copy an existing file in the salt-master with a new file name
- replace a value in the new file
- read the file, updated value should change.
I've used requisite(require) and expects the order to be as is. however, running the script returns different ordering.

### Setup
/srv/

[2018-06-01 08:34] gmwubs commented on #47898
I've run export LC_ALL=en_US.UTF-8. After this I ran salt -V, which gave the following output:
System Versions:
          dist: debian 9.2
        locale: UTF-8
       machine: x86_64
       release: 4.9.0-4-amd64
        system: Linux
       version: debian 9.2

After the output confirmed that the correct locale was set, I've had salt-cloud create an instance and install the minion again. This fa

[2018-06-01 08:44] knfoo commented on #47906
Thank you for pointing to the slots feature.
I tried that.

[code]

but it fails with this error:

[code]

It seems that slots are not executed before it is run

[2018-06-01 09:00] gmwubs commented on #47898
For confirmations sake, the output from salt-cloud on the master:

Setting up salt-common (2018.3.0+ds-1) ...
Setting up salt-minion (2018.3.0+ds-1) ...

Configuration file '/etc/salt/minion'
 ==> File on system created by you or by a script.
 ==> File also in package provided by package maintainer.
 ==> Using current old file as you requested.
Created symlink /etc/systemd/system/multi-user.target

[2018-06-01 09:00] #47898 closed

[2018-06-01 10:03] tganzeboom commented on #47864
Ah, good to know that salt-ssh work this way. Is there a reason why it doesn't use the ansible way of ssh connecting?

Concerning the fact that py26 is no longer supported, I would think it is expeditious to drop it in saltstack, unless I am unaware of something. I think most of us still have to support machines for wha'eva reason that still have this. But I guess this is shown by that fact that i

[2018-06-01 10:10] aadityabagga commented on #47864
Hi @gtmanfred, can you tell how to make salt-ssh use different python version (python2.7) on the client?

Could be useful for https://github.com/saltstack/salt/issues/45321 as well.

[2018-06-01 10:25] topicgit opened #47919 "Does it support grains judgment to do some operations"
### Description of Issue/Question
I have two computer rooms, D and E, and each machine sets up the labelling of the upper computer room through grains.

Now I want to distribute different files through the computer labelling set up by grains. How should I write?

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
salt dd-web89-e.ld.co grains.item idc_t

[2018-06-01 13:06] Ch3LL commented on #45670
does @saltstack/team-cloud have any ideas here as well?

[2018-06-01 13:15] Ch3LL commented on #47906
ping @DmitryKuzmenko seems you added the slots feature any ideas here?

[2018-06-01 13:17] gtmanfred commented on #47834
it cannot find the command you are trying to run, which you have also redacted.

`reason: command not found`

Make sure that the path for that file is added for the user you are running, and not just only added for the root user.

[2018-06-01 13:17] #47834 closed

[2018-06-01 13:18] gtmanfred commented on #47898
:+1: no problem.

[2018-06-01 13:21] Ch3LL commented on #47911
ping @mirceaulinic are you seeing this behavior as well?

also @saltstack/team-network any ideas here as well?

[2018-06-01 13:21] gtmanfred commented on #47864
We have dropped python 2.6 support in salt, but salt-ssh still looks for the python2 binary, but if you have a python2.7 binary available, salt-ssh will use that instead.

It is going to be in the next major release, which will be this Fall.

@aadityabagga i do not know.

[2018-06-01 13:21] #47864 closed

[2018-06-01 13:35] anlutro opened #47921 "[develop] file.serialized with json and merge_if_exists doesn't work due to wrong options being passed to deserialize function"
I was looking forward to using `file.serialize`'s new `serializer_opts` argument on the develop branch, but ran into a problem when trying it out.

Given a state like:

[code]

Produces the following error:

[code]

This solution makes the error go away, but might break other use cases.

[code]

[code]

[2018-06-01 14:39] #33974 closed

[2018-06-01 14:55] frogunder commented on #47901
I also see the same thing on 2018.3.1

[code]

[2018-06-01 15:15] terminalmage commented on #47905
@maxime-viargues-serato Yeah, the problem with that is that we can't capture that error directly because it's part of an exception class in GitPython itself. @Ch3LL is going to change the exception catching to a general `except Exception` to get around this.

This is actually being caused by an upstream bug in GitPython. I reported and fixed this last year in https://github.com/gitpython-developer

[2018-06-01 15:21] garethgreenaway commented on #47914
@vimalkesavan Thanks for the report.  To clarify, are you attempting to run `salt-run` on the Salt minion or on the Salt master?

[2018-06-01 15:39] #31383 closed

[2018-06-01 15:39] #33975 closed

[2018-06-01 15:39] #34032 closed

[2018-06-01 15:39] #33439 closed

[2018-06-01 15:39] #34036 closed

[2018-06-01 15:39] #34013 closed

[2018-06-01 15:39] #33852 closed

[2018-06-01 15:39] #34070 closed

[2018-06-01 15:39] #34090 closed

[2018-06-01 15:39] #25579 closed

[2018-06-01 15:39] #34081 closed

[2018-06-01 15:39] #34082 closed

[2018-06-01 15:39] #34125 closed

[2018-06-01 15:39] #33092 closed

[2018-06-01 15:39] #33994 closed

[2018-06-01 15:39] #34121 closed

[2018-06-01 15:39] #28005 closed

[2018-06-01 15:39] #33931 closed

[2018-06-01 15:39] #34202 closed

[2018-06-01 15:39] #31294 closed

[2018-06-01 15:39] #34221 closed

[2018-06-01 15:39] #32606 closed

[2018-06-01 15:39] #29410 closed

[2018-06-01 15:48] garethgreenaway commented on #47916
@kveroneau Thanks for the report.  There is some information about pinning Salt to specific versions on the https://repo.saltstack.com/ page, but having it in the documentation would be helpful.

[2018-06-01 16:17] garethgreenaway commented on #47919
@topicgit Thanks for the report.  What you have above should work, I'd suspect that something isn't synced up and when you're running the state run the grains are not available.  A safer approach would be the following:
[code]
This approach is calling out to the `get` function in the `grains` module but also includes a default value in the event that the grain value is unable.

[2018-06-01 16:22] JonGriggs opened #47925 "GitFS looking for files in the master branch only"
### Description of Issue/Question
I've got a fairly simple gitfs setup that uses a single repo with 3 branches: dev, stg, and master.  I have a state file that runs a scrips that resides in a subfolder called scripts.  The script only exists in the dev branch, and the minion has the saltenv: dev configuration value and runs other sls files from that branch just fine.  When I run the state the refe

[2018-06-01 16:22] yagnik commented on #47872
I went all in and here are the options that I could find:
- use salt python api but if called inside salt-call it will essentially end up reloading everything
- use custom cli which itself calls python api, works like a charm but means that the team has to now use something special
- (dirtiest of all) ask the gc of the current objects and find the instance of lazyloader

If anyone has a better way

[2018-06-01 17:41] #44331 closed

[2018-06-01 17:45] garethgreenaway commented on #47918
@romcab I suspect the output in the event bus might be misleading as to the order of the commands are actually running, are you seeing issues with the results outside of what is being displayed in the event bus, eg. the replace attempting to happen before the copy has ocurred?  I ran a quick test using a modified version of what you have above and I'm seeing expected results.

[2018-06-01 18:39] #34266 closed

[2018-06-01 19:28] terminalmage commented on #47684
Inline pillar was only ever added for state runs. Re-categorizing this as a feature request.

[2018-06-01 19:39] rijnhard commented on #40948
Running into the same issue in docker.
I had to get systemd working for the minions though (which was a whole other story) but anyway.

Out of the box it works for `centos:7` and `opensuste/leap:42`, and generates the `/etc/salt/pki/minion` directories successfully.

It  DOESN'T work for debian 8 or 9. and its reproducible, each time it does not generate the pki folder.

dockerfiles here:

Debian

[2018-06-01 19:48] rijnhard commented on #40948
Just a silly hunch, but could it be a missed dependency?

[2018-06-01 20:30] prog-dale commented on #47905
I am seeing the same thing with windows minions that I just upgraded to 2018.3

[2018-06-01 21:10] #47634 closed

[2018-06-01 21:11] terminalmage commented on #47925
I don't think this is a gitfs issue, if theres an issue it's probably somewhere in the state or the state compiler.

Can you use the remote-exec counterpart for `cmd.script` and see if it fails in the same way?

[code]

[2018-06-01 21:39] #34231 closed

[2018-06-01 21:39] #33816 closed

[2018-06-01 21:39] #34185 closed

[2018-06-01 22:11] whytewolf opened #47934 ".format in log.debug can cause unicode error in template.py"
### Description of Issue/Question

Much like the unicode error That happened in #44452.
.format does not like when unicode is put through it's variables.

For that reason if unicode is in any of the variables between
https://github.com/saltstack/salt/blob/v2017.7.5/salt/utils/templates.py#L456-L460

You will end up with a unicode error, instead of the actual error produced. even if not useing debu

[2018-06-01 22:11] whytewolf commented on #47934
ZD-2514

[2018-06-01 22:27] terminalmage commented on #47684
OK, so here's the thing. There are two kinds of Pillar data. They are described [here](https://docs.saltstack.com/en/latest/topics/pillar/#in-memory-pillar-data-vs-on-demand-pillar-data) in the docs. The `pillar.get` function returns from the in-memory pillar data, while inline pillar is only present in on-demand pillar data.

As it turns out, `cmd.script` does generate on-demand pillar data (thou

[2018-06-01 23:52] viraptor opened #47937 "Add a git.cloned state for cases where updating is unnecessary after cloning"
### Description of Issue/Question

In some configurations of `git.latest`, there's no point in running `ls-remote` to find what HEAD (or other `rev`) is pointing at.

This matters for large repos, because running `git ls-remote` against them can take minutes on a slow connection.
It also prevents offline runs when the local state is sufficient.

### Setup

[code]

In this case, if the repo is alre

[2018-06-02 00:27] romcab commented on #47918
hi @garethgreenaway I ran it multiple times and it's giving me different results. The scenario you provided happens and so the other combination like FileNotFoundException when trying to read the new file. I think there is a race condition happens?

[2018-06-02 00:36] viraptor opened #47938 "SLS file could use a type check to prevent weird errors"
### Description of Issue/Question

If you make a mistake and don't use a list in the top sls file for a single entry, it results in a weird error.

### Setup

`pillar/top.sls`:
[code]

### Steps to Reproduce Issue

[code]

Instead of saying something like "host expects a list of SLSs rather than a string `nginx`", salt tries to iterate what it's got, resulting in checking state for each letter of

[2018-06-02 02:07] JonGriggs commented on #47925
You're right @terminalmage - the remote-exec command worked fine (more or less - the script errors out but that's a different story ;))

Still not sure why cmd.script has a problem with the environment.

Full disclosure, I am editing the cmdmod.py file on the Windows system as referenced by swickera at the bottom of this issue:  https://github.com/saltstack/salt/issues/46524

I can't imagine this

[2018-06-02 02:52] #34265 closed

[2018-06-02 06:32] topicgit commented on #47919
@garethgreenaway Thank you very much. It's working now.

[2018-06-02 06:32] #47919 closed

[2018-06-02 15:33] adtyashgl opened #47940 "createrepo on rsynced redhat packages causes "not an rpm package" error"
### Description of Issue/Question
Hello,
We are trying to install salt master in an environment with no internet connection on a centos 6 machine. As mentioned in other threads we are trying to rsync the packages.

We ran the following command

[code]
This command executes successfully.

Next we run the following command

`createrepo /home/vagrant/rhel`

The following errors are then observed

[co

[2018-06-02 16:52] #33730 closed

[2018-06-02 21:46] doc987 commented on #47491
Nice!  Excited to see this in the next release.

[2018-06-03 02:54] terminalmage commented on #47937
I disagree, given the following from the documentation:

[code]

The `ls-remote` is needed to determine whether the local checkout has the commit to which the current remote points.

I tried running a `git ls-remote https://github.com/saltstack/salt` (our repo is pretty large), and it took 1.2 seconds. I was able to get it down to about 1 second by also specifying a revision (using `git ls-remote

[2018-06-03 03:11] cong520 opened #47942 "how to revise the configure path?"
we know,the configure path is /etc/salt  ,now, I want to set the configure path as /opt/salt .
What should I do?
eg: the minion configure?

[2018-06-03 04:27] terminalmage commented on #47925
@JonGriggs I found the problem, and fixed it in https://github.com/saltstack/salt/pull/47943

[2018-06-03 05:04] viraptor commented on #47937
I'm looking at a private repo, with lots of heads (36187 and counting...). On a good connection it takes 30s without specifying the head and 16s when I specify it, so that's definitely an improvement, but still a significant time.

I understand the case where a specific branch like `develop` has to be verified, but I meant the specific case of HEAD:
[code]
in this case, I don't care about the remo

[2018-06-03 05:39] terminalmage commented on #47937
Your use case seems better suited to an entirely new state (maybe call it `git.cloned`?) The proposed state would just clone the repo if it's not present. This state would never even _need_ to run an ls-remote because it would only ever make changes if no git repo existed at the specified target path.

[2018-06-03 05:48] viraptor commented on #47937
I agree, that does sound like a much better solution.

[2018-06-03 06:11] AmiramMaimon commented on #47854
Hey,

I have top.sls file for each env places under the file_root of the relevant env.

Amiram

[2018-06-03 12:46] JonGriggs commented on #47925
I've confirmed that commenting out the lock_saltenv line in the minion config results in the expected behavior.  Thank you for the fix.

[2018-06-03 12:46] #47925 closed

[2018-06-03 22:50] romcab commented on #47918
@garethgreenaway thank you. Below is the debug output of the master which results FileNotFound exception. For now, i'll try to override the ordering by using "order" keyword.

Sending event: tag = salt/run/20180603224343175366/new; data = {u'fun': u'runner.salt.cmd', u'fun_args': [{u'fun': u'file.copy', u'src': u'/etc/salt/cloud.maps.d/test-env.d/aiws.conf', u'dst': u'/etc/salt/cloud.maps.d/test-e

[2018-06-03 23:04] alogoc opened #47948 "After upgrading to 2018.3 salt-master service causes excessive load to master servers"
### Description of Issue/Question
Salt-master is often unresponsive and unable to contact minions after upgrading to version 2018.3

### Setup
2 identical salt-masters upgraded both to 2018.3, servers became almost unresponsive after excess load being generated by the salt-master service
[code]
Salt-minions fail to connect to master
[code]

### Steps to Reproduce Issue
Seems that several modules a

[2018-06-04 02:49] thuhak commented on #47938
syntax error,
it should be
[code]

[2018-06-04 02:58] viraptor commented on #47938
I understand where the problem comes from, but that's not the point. The error could be nicer for this situation.

[2018-06-04 03:35] terminalmage commented on #47937
OK, I will take a look at adding a new state for this use case.

[2018-06-04 03:46] shorawitz commented on #44643
I had to switch the 'params' key to 'data' and pass in the parameters as a dict and then it works.

[2018-06-04 06:08] terminalmage commented on #47925
No prob, thanks for reporting it! This is new functionality in 2018.3.0 and this was just something our testing did not account for. Apologies for the inconvenience.

[2018-06-04 06:52] sandilyasd commented on #47834
These errors are coming during the startup. Not sure which path needs to be added to the user.

Please share your thoughts on this

[2018-06-04 08:46] dev58 commented on #47890
Sorry I didn't describe issue properly. What i meant is that, my orchestration is returning CHANGES not PCHANGES if test = True.
I checked source code of schedule.present state
https://github.com/saltstack/salt/blob/e974cf385d3ac0b86959a0eca88d96c9e3527ec3/salt/states/schedule.py
`if 'test' in __opts__ and __opts__['test']:`
In source code if this condition is true you are using JSON attribute `re

[2018-06-04 08:54] #19213 closed

[2018-06-04 08:54] #33535 closed

[2018-06-04 12:54] #31258 closed

[2018-06-04 13:30] gtmanfred commented on #47940
That is not the path for the repo.

You will want to drill down to where the actual repo is before you run createrepo.

[code]

Also, you shouldn't need to do a createrepo, The rsync should pull down the repodata, you should be able to just setup your repo file correctly to pull from the local repository.

Daniel

[2018-06-04 13:31] gtmanfred commented on #47934
Does this still happen in 2018.3?

[2018-06-04 13:35] gtmanfred commented on #47938
Seems reasonable, but I am going to mark this as a low severity bug.

Should just have a check in the top file rendering to make sure it is actually a list.

I am also going to mark this as Low Hanging fruit for a good first issue if anyone wants to submit a PR for it.

Thanks,
Daniel

[2018-06-04 13:37] gtmanfred commented on #47942
if you put the minion config file in /opt/salt/minion, you can pass `-c /opt/salt/` and then specify the root_dir or any of the other minion options to move the configuration and other files there.

You will also need to edit your init scripts, or use a dropin file for systemd to point to using that directory for the minion config.

https://docs.saltstack.com/en/latest/ref/configuration/minion.htm

[2018-06-04 13:37] #47942 closed

[2018-06-04 13:40] gtmanfred commented on #47948
Can you make sure you don't have any left over .pyc files from an older release?

Because there was some moving of the salt/utils/__init__.py functions into other utils module files.

Thanks,
Daniel

[2018-06-04 13:43] gtmanfred commented on #47834
looking at the logs, it may be rpm?
[code]

It may be best to make a new salt master and just migrate over if you are having problems with this server.

[2018-06-04 13:45] gtmanfred commented on #47890
Yeah, we don't fully use pchanges yet.  It will also cause errors because test=True would not trigger checking of the other states if it only sets pchanges

See this issue. https://github.com/saltstack/salt/issues/45895

I do not think this should be changed because of the problems described in the other issue.

[2018-06-04 13:50] #47819 closed

[2018-06-04 13:54] #11107 closed

[2018-06-04 14:11] adtyashgl commented on #47940
Thanks Daniel for the response.
What I understood from your response is that I just need to create the .repo  file in /etc/yum.repos.d
Brilliant.

The correct way to pass -R option to bootstrap would be then
-R file:///rhel/redhat/7Server/x86_64/latest .

Do I need to sync epel repo as well?

I would really appreciate if you could answer my follow up questions

[2018-06-04 14:57] gtmanfred commented on #47921
Are you sure you are on the latest develop?

Because there are quite a few more commits in my version number.

[code]

And I am unable to replicate this issue.

Daniel

[2018-06-04 15:11] anlutro commented on #47921
I did a `git pull` just now but problem is still present. I can't get the same version number as you, though:

[code]

[2018-06-04 15:12] gtmanfred commented on #47921
How did you install salt?

did you do a `pip install -e .`?

Can you run `git describe` in the repository?

[code]

[2018-06-04 15:15] anlutro commented on #47921
Made a virtualenv, `pip install -e .`. I re-created the virtualenv from scratch just now and wiped all .pyc and __pycache__ files just to be sure.

[code]

[2018-06-04 15:28] gtmanfred commented on #47921
I am unable to replicate not getting the version to update.

When I update my repository that is installed with `pip install -e` the git salt version updates.

Without being able to replicate this issue with the current develop, there is not a lot that we can do to fix this.

Thanks,
Daniel

[2018-06-04 15:31] anlutro commented on #47921
Well, my version did update from `2018.3.0-473-g2bac7b2` to `2018.3.0-492-gb004a1a` when I `git pull`ed so I can't be that far off the mark... But I will `rm -rf` literally everything and start over to be 110% sure.

[2018-06-04 15:39] anlutro commented on #47921
Here's my entire installation process, could you point out what I'm doing wrong please? https://bpaste.net/show/4c07f7232421

[2018-06-04 15:40] alogoc commented on #47948
Indeed I read about this on the release notes, I checked all the files under salt/utils but there are no old utils modules files.

The load average is getting better but it's still complaining about the fopen module.

Regards,
Georgios

[2018-06-04 15:40] steverweber opened #47954 "ordering in includes is broken."
pillar:

x.sls
[code]
x3.sls
[code]
x2.sls
[code]
x1.sls
[code]

[code]

[code]
where x should be `1`!

the bug seems to be:
https://github.com/saltstack/salt/blob/develop/salt/pillar/__init__.py#L764

it is changing the matched_pstates array to a set:
[code]
perhaps it was changed to this to remove duplicates...

fixes the issue.
[code]

[2018-06-04 15:44] steverweber commented on #47954
this is kinda critical to get fixed and back-ported.

[2018-06-04 15:55] alogoc commented on #47948
There is no salt-minion process, this is just the salt-master running only the salt-master service :)

[2018-06-04 16:14] gtmanfred commented on #47948
Sorry, hrm, yeah it wouldn't be the minion.

No, just restart the salt-master process.  they are just the compiled bytecode that python creates at the start.

[2018-06-04 16:16] gtmanfred commented on #47834
users should be allowed to run the rpm command, this is used on rpm systems to get information about the host_cpu.

[2018-06-04 16:54] #34278 closed

[2018-06-04 17:20] gtmanfred commented on #47921
Looks like this was caused by https://github.com/saltstack/salt/commit/6b935442766b3a81dc4ca62a319d3586fc8e3d7b

@nocturo can you take a look at this since you implemented this?

Thanks,
Daniel

[2018-06-04 17:54] #30957 closed

[2018-06-04 18:15] ddellingeroxy commented on #46868
Fantastic! Thanks!

[2018-06-04 19:54] #15613 closed

[2018-06-04 20:03] rallytime commented on #47031
@garethgreenaway Can you fix this issue for the 2017.7.7 release?

[2018-06-04 20:10] rallytime commented on #34504
Docs are fixed with #38650

[2018-06-04 20:10] #34504 closed

[2018-06-04 20:17] #47047 closed

[2018-06-04 20:17] #47127 closed

[2018-06-04 20:18] #47173 closed

[2018-06-04 20:18] #47306 closed

[2018-06-04 20:18] #47364 closed

[2018-06-04 20:19] #47717 closed

[2018-06-04 20:19] #47690 closed

[2018-06-04 20:20] #47582 closed

[2018-06-04 20:21] #47561 closed

[2018-06-04 20:21] #47553 closed

[2018-06-04 20:21] #47491 closed

[2018-06-04 20:22] #47432 closed

[2018-06-04 20:36] nocturo commented on #47921
On 2018.3.0 with patches for `serializer_opts` backported, python 3.4 from epel, everything seems to be working:
[code]

so this is most likely caused by something that got diverged from between 2018.3.0 and develop. I'll see if I can dig what's causing it.

[2018-06-04 20:38] #46949 closed

[2018-06-04 20:38] #46938 closed

[2018-06-04 20:39] gtmanfred commented on #47921
Awesome, thanks!
Daniel

[2018-06-04 20:39] #46934 closed

[2018-06-04 20:39] #46881 closed

[2018-06-04 20:39] #46581 closed

[2018-06-04 20:39] #46538 closed

[2018-06-04 20:40] #45514 closed

[2018-06-04 20:41] #42421 closed

[2018-06-04 20:43] #36802 closed

[2018-06-04 20:44] #24209 closed

[2018-06-04 20:53] frogunder opened #47955 "2018.3.1 Creating Windows machine in Amazon using salt-cloud fails."
### Description of Issue/Question
In 2018.3.1 when trying to create a windows machine in amazon from a linux master with salt-cloud it fails with this error:
[code]

### Setup
providers.d
[code]

profiles.d
[code]

### Versions Report
[code]

[2018-06-04 22:00] raddessi commented on #47425
Any chance you've been able to take a look @tonybaloney?

[2018-06-04 22:37] garethgreenaway commented on #47236
Apologies for the delay on this one.  I circled back to it today and I've traced it down to as issue with the passphrase parameter.  If the passphrase is omitted then the call to `private_key_managed` functions as expected.

[2018-06-05 00:09] bryceml commented on #9805
I guess this was intentional.  I wish it would have been a more graceful change.  https://docs.saltstack.com/en/latest/topics/releases/2018.3.0.html#environment-config-option-renamed-to-saltenv

[2018-06-05 06:38] sandilyasd commented on #47834
Thanks for the information, it worked after changing the permissions of /usr/bin/rpm

[2018-06-05 06:40] prashanthtuttu opened #47961 "Updating SNMP Configurations on network device"
Hi,
I am following
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.netsnmp.html#network-snmp
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.napalm_snmp.html#module-salt.modules.napalm_snmp  to update SNMP configurations on my test device.

Though i am able to update contact & location , im not able to update SNMP community string , ACL's and read-write option , c

[2018-06-05 08:30] tganzeboom commented on #47864
Any idea on installing py27 on the machines affected? I mean not 1, but 1000's? Oh right, revert back to the previous release on the saltmaster.

[2018-06-05 08:52] thatsk commented on #47896
2016

[2018-06-05 09:28] vryabinin commented on #43872
Confirming this as of 2018.3.0 (Oxygen)

I use the default configuration.

Nothing unique, but the issue seems to affect CentOS 6/7 machines. There is another discussion here [https://github.com/saltstack/salt/issues/38538](url) mentitoning CentOS boxes

[2018-06-05 09:53] DmitryKuzmenko commented on #47906
I'll check it later. Thanks for ping @Ch3LL

[2018-06-05 10:05] aaronlauterer commented on #38306
Any news regarding this? I am still experiencing it with 2017.7.5 (Nitrogen).

[2018-06-05 10:06] damon-atkins opened #47962 "salt.utils.http.query results not consistent across backends."
### Description of Issue/Question
salt.utils.http.query result ouput not consistent across backends.

The following is inside salt.utils.http.query

[code]

salt.utils.http.query returns a dict. This dict always contains handle.  However handle can be:
-  requests.models.Response from requests.Session()
-  tornado.httpclient.HTTPResponse from tornado

It appears backend set to urllib2 may not work

[2018-06-05 10:14] vryabinin commented on #43872
Turning off pillarstack external pillar helped to solve the issue

[2018-06-05 10:50] Deshke commented on #47434
any timeframe for 2018.3.1?

[2018-06-05 11:31] slhu91 opened #47963 "multi master exec command return failed"
### Description of Issue/Question
when we use multi master，exec   salt "*" test.ping，always exist some minions return true and some minions did not return，but all the minion is exec success，the result from cache/master/jobs/。And I shared the cache directory  cache/master/jobs、pki。
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reprodu

[2018-06-05 12:56] nocturo commented on #47921
Pushed a fix for this to develop. Let me know if everything is working for you @anlutro and if this is good enough code for salt @gtmanfred :)

[2018-06-05 13:09] gtmanfred commented on #45496
PRs welcome. 😺

[2018-06-05 13:12] gtmanfred commented on #47864
@tganzeboom in the end you are going to have to downgrade, but it might be worth while to install it first, should be in epel, but we also provide a python27 and python27-pip package on the repo.saltstack.com repository for el6

[2018-06-05 13:18] gtmanfred commented on #47921
Thanks for the PR, comment added.

[2018-06-05 13:30] Ch3LL commented on #47954
i'm not able to replicate this on develop which is the version of salt you pointed to in the code. can you include a versions-report so i can attempte to replicate on the same version you are using.

Here is my return from salt-run

[code]

Do you have anything set in master config to change the order of pillar rendering?

[2018-06-05 13:33] Ch3LL commented on #47961
ping @mirceaulinic can you take a look here? is there somewhere else in the docs that would outline this?

[2018-06-05 14:13] paul-mulvihill commented on #29867
anyone had any thoughts on this? it would be really useful to have something that can manage credentials for local windows users.

[2018-06-05 14:21] RomanSaveljev opened #47969 "file.recurse removes the target file on case-insensitive file systems"
### Description of Issue/Question

The `file.recurse` will remove the target file after synchronizing it, if the casing of some letters in the file name was changed (e.g. from `A.txt` to `a.txt`). This was observed on Windows.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

init.sls:

[code]

In the `x` sub-folder I have a single text file called

[2018-06-05 14:38] Ch3LL commented on #47962
seems we could improve the returns here.

Can you describe what problems this is causing for you with the different returns?

[2018-06-05 14:50] damon-atkins commented on #47962
` fileclient.get_url  {'body': b'', 'handle': HTTPResponse(_body=b'',buffer=<_io.BytesIO object at 0x000001FBA95D4A98>,code=200,effective_url='https://nmap.org/dist/nmap-7.01-setup.exe',error=None,headers=<tornado.httputil.HTTPHeaders object at 0x000001FBA9737390>,reason='OK',request=<tornado.httpclient.HTTPRequest object at 0x000001FBA95CBA20>,request_time=25.246567964553833,time_info={})}`

With

[2018-06-05 14:55] Ch3LL commented on #47969
i'm able to replicate this but ONLY on windows. it works as expected on linux.

ping @saltstack/team-windows fyi

[2018-06-05 15:02] damon-atkins commented on #47962
I was looking into how get_url() works and hence salt.utils.http.query() because salt.utils.http.query currently does not return response headers and hence get_url can not use response headers.

[2018-06-05 15:02] garethgreenaway commented on #47031
@rallytime Looks like @lejambon opened a PR for this already, just needs to be point it at 2017.7 instead of develop?

[2018-06-05 15:04] Ch3LL commented on #47963
Can you clarify your issue I am having a hard time understanding. Are you stating your issue is that some minions are not returning when they should be or maybe there is something missing from the cache?

Also was this working in a previous release?

[2018-06-05 15:14] damon-atkins commented on #47969
So the while system on Windows  A.txt = a.Txt = A.txt
However python is not case insensitive so A.txt <> a.Txt <> A.txt
To support this, most likely it slow down salt.  i.e. case insensitive comparison.

Windows is not the only file system which is not case sensitive. Some other files systems on Linux/Unix have the option to be as well.

Samba performance improvement for large number of files is:

[2018-06-05 15:15] GitHubAre opened #47971 "Question: How to update windows salt minion - silent installation"
### How to update salt minion on windows from command line?
I havent found direct answer to this in the docs, but I think that calling the .exe might do the trick and there is actually no need to uninstall the previous version (just guessing based on googling).

### Steps to Reproduce Issue
Lets say I have Installed minion version 2018.3.0 and now version 2018.3.1 is released.
Can I run the execut

[2018-06-05 15:36] cbosdo opened #47972 "virt.running state silently drops libvirt errors"
### Description of Issue/Question

The `virt.running` state doesn't report any of the libvirt error. Actually the code catching **libvirt.libvirtError** assumes that the error is that the domain was running, which case is ruled out by the `vm_state != 'running'` that is above. This exception catching statement should always report an error.

### Setup

The setup, just requires a salt master and a

[2018-06-05 15:36] cbosdo commented on #47972
Taking the issue, will submit a PR for it soon

[2018-06-05 16:29] #9800 closed

[2018-06-05 17:24] frogunder opened #47974 "2018.3.1 - Py3 - Salt upgrade using pip3 fails"
### Description of Issue/Question
Trying to upgrade from 2017.7.5 to 2018.3.1 using pip3 fails.
It seems to upgrade fine but when trying to run commands it doesn't work.

The upgrade is working fine from 2018.3.0 to 2018.3.1 but fails when trying from 2017.7.5 to 2018.3.1.

I see this in the master log:
[code]

### Setup
Pip3 install 2017.7.5 then upgrade to 2018.3.1 using pip3.

### Versions Repo

[2018-06-05 17:39] terminalmage commented on #47937
Implemented in https://github.com/saltstack/salt/pull/47975

[2018-06-05 17:39] #47937 closed

[2018-06-05 18:30] frogunder commented on #47974
Closing this, its working correctly for me now, must have been something in my environment.

[2018-06-05 18:30] #47974 closed

[2018-06-05 19:29] #34314 closed

[2018-06-05 20:18] rallytime commented on #47031
@garethgreenaway This will need to be fixed for 2017.7, so if you could help get that across the line/reviewed/backported, that would grand :)

[2018-06-05 20:53] onlyanegg opened #47979 "Zookeeper module raises NoNodeError when getting non-existent node"
### Description of Issue/Question
The Zookeeper execution module raises a NoNodeError when doing a get for a node that doesn't exist. This causes states which use this module in Jinja to fail. I think it would be better to catch this exception and return something reasonable (`None` maybe).

I wrote a custom SDB module on top of the Zookeeper execution module, so one solution for me is to catch it

[2018-06-05 21:11] maxime-viargues-serato commented on #47905
Thanks @terminalmage I'll wait for the fix and use the 2017 version in the meantime.

[2018-06-05 21:50] jeduardo opened #47984 "x509 module/state writing wrong certificate serial number to CRL"
### Description of Issue/Question

CRL files created through the Salt x509 module store a wrong serial number for the certificates to be revoked, causing revoked certificates to be recognized as valid and removing the effectiveness of the CRL created.

### Setup

* Master peer configuration:

[code]

* Minion signing policies:

[code]

* State to issue Root CA:

[code]

* State to issue Intermedia

[2018-06-05 22:21] gtmanfred commented on #47979
Yes, it would be better to return false instead of the stack trace (but also log the stacktrace in the debug log)

Would you mind submitting a PR to fix this?

Thanks,
Daniel

[2018-06-05 22:51] steverweber commented on #47954
i'll need to do some more investigation on this..
noticed today that the fix didn't work ....
`salt-run pillar.show_pillar the_cake_is_a_lie`
is giving different ordering than
`salt the_cake_is_a_lie pillar.items`
really odd.

[2018-06-05 23:10] onlyanegg commented on #47979
Sure, @gtmanfred. I'd be happy to. Thanks!

[2018-06-05 23:20] viraptor commented on #47937
Thank you!

[2018-06-05 23:33] gtmanfred commented on #47979
Awesome!

When i initially wrote this module, i wrote it with a very limited knowledge of how zookeeper actually works, and just to fit one customers usecase for what they were asking for.

[2018-06-06 00:15] scottalanmiller commented on #42328
We seem to be seeing it in 2018.3.0-1 still.  Any updates?

[2018-06-06 00:44] boltronics commented on #38306
I too would like to express interest in seeing this issue solved.

It seems to me that the syntax should be changed so that the items in the `VirtualHost` dict (and elsewhere) are also presented as a list to avoid duplicate keys when rendering the YAML. ie. Instead of

[code]
where in this example only one `Directory` key is available (since it's effectively presented as a YAML-formatted dict), th

[2018-06-06 01:38] junovitch commented on #35333
Get subscribed on this... I've seen my calls to things like `salt-run manage.status` get *a lot* slower moving from 2016.11 to 2018.3.0 recently and the gitfs syncing going on during every single salt-run looks like a bit part of the time. It looks like I was able to mitigate it a bit by using a blacklist of branches to exclude but I didn't time a before/after. Is this the same root cause under th

[2018-06-06 03:14] garethgreenaway commented on #47546
Reopening for some additional fixes.

[2018-06-06 03:30] vernondcole opened #47988 "Salt cannot find git on Windows, so "git.latest" is broken"
### Description of Issue/Question
The Windows "Local System account" runs using a very limited PATH.
The default installation of `git` is not on that path.
The default installation of Salt runs on the "Local System account".
The Salt "git" execution module does not have a contingency method of locating `git.exe`.
Therefore, `git.latest` does not work on a stock Windows system.
### Setup

The probl

[2018-06-06 05:06] slhu91 commented on #47963
When I use the multi master、multi syndic, when the command is executed on the master, all the minions are executed successfully, but the master display part of the minion is not returned. I save the result to mysql, master_job_cache: mysql  and return: mysql, and  all minion return true from mysql query.

both of minion 、syndic  and master is 2018.3.0

[2018-06-06 08:48] guettli commented on #46771
@DmitryKuzmenko are there any reason making `__salt__` availlable in slots (without writing a custom function) is a bad idea?

I personally like the syntax of the first comment of this issue.

[2018-06-06 09:02] rongzeng54 commented on #47789
hi @Ch3LL
Is there any progress? or if i use v2017.7.3 will be ok?

[2018-06-06 09:06] prashanthtuttu commented on #47961
@mirceaulinic , Also wanted to know is there any way to compare the current SNMP config on a device against a template using saltstack ?

[2018-06-06 09:19] Claptou opened #47992 "Vault Module u'verify' error"
### Description

Hello,

I have one backend vault and an other VM with a salt master and some salt-minion.
I would like to test a simple read_secret command on my vault with the salt-master.

[code]

But only the salt master is returning the pass and salt-minions are returning

[code]

### Setup
One backend vault, one salt master, multiple minions

Backend config:
[code]

Policy config:
[code]

/e

[2018-06-06 09:39] DmitryKuzmenko commented on #46771
I agree this feature proposal looks interesting and useful.

[2018-06-06 10:52] vimalkesavan commented on #47914
Hi Team,

It seems that issue is resolved when uninstalled and reinstalled the salt master and salt minion respectively.

[2018-06-06 10:52] #47914 closed

[2018-06-06 11:17] hackacad opened #47994 "salt.states.mount & salt.modules.mount not working on FreeBSD minion"
### Description of Issue/Question
Cannot mount shares on FreeBSD via module or state (/proc/self/mounts, /proc/self/mountinfo missing). Mounting manually works fine with the giving opts.

### Setup
mount.sls:

/mnt/dummy:
  mount.mounted:
    - device: nfserver:/mnt/share
    - fstype: nfs
    - mkmnt: True
    - persist: True
    - mount: True
    - opts: nsuid,noatime,tcp,rw

### Steps to Reprod

[2018-06-06 11:42] xenophonf commented on #47971
Re-run the installer with the same flags as before.  You can test this yourself by installing an older minion and then upgrading it.  It preserves the existing configuration and keying material.

Alternatively, configure the [Windows Package Manager](http://docs.saltstack.com/en/latest/topics/windows/windows-package-manager.html) to use [salt-winrepo-ng](https://github.com/saltstack/salt-winrepo-n

[2018-06-06 12:07] vimalkesavan opened #47995 "Notify changes in Salt minion to master with timings and user details"
Hi Team,

I am new to salt, I have a masterless minion that watches some files.  The salt call command  salt-call state.highstate --state-output=changes runs daily as a crown job.

Now I need to connect the masterless minion to master and make it work in master minion mode. I need to notify any changes that earlier masterless minion which is now normal minion watches to notify to the master.

Basi

[2018-06-06 12:30] Ch3LL commented on #47789
No one is currently working on this so please feel free to push a fix if you can.

Here are the test results for 2017.7.3:

[code]

so does not look like it regressed in 7.3 still seeing the same behavior.

[2018-06-06 12:44] Ch3LL commented on #43872
anyone else here using external pillar and can confirm the same thing?

[2018-06-06 13:17] ngrundler opened #47996 "NAPALM proxy minion should generate ipv4/6 grain"
### Description of Issue/Question
The NAPALM proxy minion currently does not set the ipv4/6 grain, which is required for using `ipcidr` targetting.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Given a standard proxy key:
[code]

### Steps to Reproduce Issue
$ salt -S '10.0.0.1' test.ping

No minions matched the target. No command was sent, no ji

[2018-06-06 13:23] rlschilperoort opened #47997 "Blacklist salt-call for certain (or all) minions"
### Description of Issue/Question
Would it be possible to blacklist minions from using salt-call ?

I have a setup where not all of my minions are managed by me;
Some minions are in controll (root level) by other persons.
I do not want these minions to be able to "publish" a job to the master for example list the master salt:// folder/files
The publisher_acl_blacklist only applies for commands run

[2018-06-06 13:26] gtmanfred commented on #47996
Assigned to @mirceaulinic as discussed in the networktocode slack.

[2018-06-06 13:36] AAbouZaid commented on #40152
So the work around to make it work with older `ssh-keyscan` is using default ssh port `22` just to make it accept the host as a `known_hosts`.

[2018-06-06 13:45] #33785 closed

[2018-06-06 13:45] Ch3LL commented on #47896
thanks for clarifying that. Since you are passing a kwarg you would need to specify kwarg instead of arg, but I still am not able to get this to work. Setting the following in the master config:

[code]

and running `salt '*' pkg.install pkgs="['pkg']" -ldebug` i am seeing error  `Invalid regular expression: [u'pkg']`. in the master log.

ping @DmitryKuzmenko seems you added this feature initially

[2018-06-06 13:49] Ch3LL commented on #47434
We are currently fixing up a couple more issues found during the testing phase then we will re-test and package then release. We are shooting for next week if things go well during testing :)

[2018-06-06 13:51] arthurlogilab opened #47999 "Carbon returner failing when run through scheduler on log.trace"
### Description of Issue/Question

After upgrading to 2018.3.0 the scheduled module executions with carbon returners stopped sending their returner.

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

In the minion logs I get :

[code]

Commenting the log.trace lines fixes solves my problem (insert pink sombrero here).

### Versions Report

[code]

[2018-06-06 13:55] rallytime commented on #47955
@frogunder This should be fixed with #47989. Can you apply that fix to your 2018.3.1 test branch (or pull down #47998) and test this again?

[2018-06-06 14:04] Ch3LL commented on #47962
@damon-atkins thanks for clarifying the issues :)

ping @saltstack/team-core any ideas here?

[2018-06-06 14:08] Ch3LL commented on #47954
ping @terminalmage might have some ideas here as well to help with the fix

[2018-06-06 14:12] Deshke commented on #47434
thanks

[2018-06-06 14:16] Ch3LL commented on #38306
We never want to break backwards compatibility unless it is properly deprecated as documented here: https://docs.saltstack.com/en/latest/topics/development/deprecations.html

Essentially you would add a deprecation notice that it will change in whichever release (2 feature releases out) and that behavior would not change the default until then, but the new behavior would also be available in the c

[2018-06-06 14:18] vinian opened #48000 "wrong output of salt-api when working with salt-syndic"
### Description of Issue/Question

when firing salt execute function by salt-api, even if the function is executed on minions behind salt-syndic, but the output show "minion did not return. [No response]"

execute test on master of master
[code]

event on master of mater
[code]

salt event on syndic
[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive in

[2018-06-06 14:19] steverweber commented on #47954
lets also add a test case along with the fix so we don't run into this one again.
I would create the test case myself a few months ago but had trouble figuring out how to write it.

[2018-06-06 14:28] Ch3LL commented on #47963
Thanks for further clarifying, I believe I understand the issue now. Probably the reason you are seeing the return in your mysql return information instead of when running the command from the master is the timeout is timing out when running the command from the master. The timeout value which defaults to 5 is the time the master will wait for a minion return. So probably what is happening is the

[2018-06-06 15:11] frogunder commented on #47955
It's working fine with that fix.

[2018-06-06 15:27] #47921 closed

[2018-06-06 15:30] #47955 closed

[2018-06-06 16:18] garethgreenaway commented on #47999
@arthurlogilab Thanks for the report. Looks like there is an issue with that log statement that you commented out, too many arguments perhaps.  Which one was it exactly in which file?

[2018-06-06 16:27] garethgreenaway commented on #47994
@hackacad Thanks for the report. Sounds like the OS detection in the mount module isn't working correctly, the `active` function should be running the `_active_mounts_freebsd` function.  Can you check what is being returned in the `os` grain on that system?

[2018-06-06 16:30] garethgreenaway commented on #47988
@dwoz @twangboy Thoughts?

[2018-06-06 16:32] garethgreenaway commented on #47984
@jeduardo Thanks for the report and the PR!

[2018-06-06 16:32] garethgreenaway commented on #47971
@GitHubAre Thanks for the report.  Does the suggestion by @xenophonf answer your question?

[2018-06-06 16:35] garethgreenaway commented on #47972
@cbosdo Thanks for the report and the PR.

[2018-06-06 16:36] tganzeboom commented on #47864
I did revert back to 2017.7.5:
First edited the saltstack repo to point to 2017.7.

`[saltstack]
name=SaltStack latest Release Channel for RHEL/CentOS $releasever
#baseurl=https://repo.saltstack.com/yum/redhat/7/$basearch/latest/
baseurl=https://repo.saltstack.com/yum/redhat/7/$basearch/2017.7/
skip_if_unavailable=True
gpgcheck=1
#gpgkey=https://repo.saltstack.com/yum/redhat/7/$basearch/latest/SAL

[2018-06-06 16:39] garethgreenaway commented on #47995
@vimalkesavan Thanks for the report.  To clarify, what you're looking for is the ability for any previous actions performed on the masterless Salt minion before it was added to the master to be reported back to the Salt master?

[2018-06-06 16:41] garethgreenaway commented on #47997
@rlschilperoort Thanks for the report.  I don't believe this is currently supported but would be possible with an additional configuration flag for the minion.  Approving for as a future feature request.

[2018-06-06 16:42] garethgreenaway commented on #47992
@Claptou Thanks for the report!

[2018-06-06 16:43] garethgreenaway commented on #48000
@vinian Thanks for the report!

[2018-06-06 17:01] hackacad commented on #47994
Yes! OS detection seems to be broken. On FreeBSD 11 with salt 2018 os returns "none".
That helps me understand a couple of similar problems and side effects.

minion log:
----------
 File "/usr/local/lib/python3.6/site-packages/salt/utils/versions.py", line 138, in warn_until
    salt_version=_version_.formatted_version
RuntimeError: The warning triggered on filename '/usr/local/lib/python3.6/site

[2018-06-06 17:10] gtmanfred commented on #47864
If you want to run salt-ssh against a minion with only python2.6, you need to go back to a version that supported py26. which is 2016.11

My suggestion is to go back to 2016.11, and then use salt-ssh to install python27 on your machines.

[2018-06-06 17:55] #38802 closed

[2018-06-06 17:55] #39417 closed

[2018-06-06 18:30] rhbvkleef commented on #10237
Please give us this. That would make people immensely happy!

[2018-06-06 18:38] xenophonf opened #48007 "Shorthand SLS target syntax doesn't work in Pillar top files"
### Description of Issue/Question

The shorthand syntax [defined here](https://docs.saltstack.com/en/latest/ref/states/top.html#shorthand) doesn't work when used in a Pillar top.sls file.

### Setup

Install the latest release of Salt on a master and a minion.  Pair them.  Both can be on the same computer.

Create an empty "default.sls" file in /srv/pillar/.

### Steps to Reproduce Issue

The foll

[2018-06-06 18:52] dafyddj commented on #47988
I use `git.latest` on Windows with no problem. Is the minion restarted after install of Git, to read the new Path environment variable?

[2018-06-06 19:45] #34315 closed

[2018-06-06 20:46] vernondcole commented on #47988
@dafyddj No, the minion is not restarted.  Is there a supported way to do that now days?

I have a Python script which can do a minion restart -- but that would require a timeout on the master to wait for the restart before sending the git job. Not exactly user friendly. It should work like it works on Linux: out of the box.

[2018-06-06 21:02] kiemlicz opened #48008 "Salt 2018.3 source code mismatch"
### Description of Issue/Question
The installed Salt master doesn't match the source code it was supposed to be build with.
It causes incompatibility with custom extensions
Can someone explain why such situation happened?

### Setup
[code]

### Steps to Reproduce Issue
Just install the salt-master
By looking at the `/usr/lib/python2.7/dist-packages/salt/utils/gitfs.py`
the constructor for `GitBase

[2018-06-06 21:04] dafyddj commented on #47988
The [salt-formula](https://github.com/saltstack-formulas/salt-formula/blob/9f33d2afe11fe4be4a12b7d355e0a593a841f201/salt/minion.sls#L59) uses this line:
`salt-call.bat --local service.restart salt-minion`

[2018-06-06 21:45] kiemlicz opened #48010 "Custom ext_pillar __opts__ is not defined"
### Description of Issue/Question
I was trying to write very simple `ext_pillar` that pretty much just delegates the call to `git_pillar.ext_pillar` (dynamically creates the repository configuration that gets delegated)

I'm facing the issue that `git_pillar.ext_pillar` cannot find `__opts__`

Why is that and how to fix this?
Inside of the custom pillar I can access `__opts__` but not after callin

[2018-06-06 22:45] #31880 closed

[2018-06-07 00:00] boltronics commented on #38306
@Ch3LL Thanks for clarifying.

Looking over the above again, I think it should be possible to keep backwards compatibility while also supporting the new style. It would just be a matter of checking the value type under each key to see if it's a dict or list before deciding which code path to use. So I guess there's no rush to deprecate the existing code.

[2018-06-07 00:45] #34253 closed

[2018-06-07 01:43] Timandes opened #48012 "Found UnicodeDecodeError when trying to start Salt Master"
### Description of Issue/Question
When I upgraded the Salt Master and was trying to start it, I got a UnicodeDecodeError:
[code]

### Setup
I think there is no need to provide it. : )

### Steps to Reproduce Issue
- Make sure `/etc/hostname` and `/etc/nodename` are all absent.
- Add some comments to `/etc/hosts` file with Chinese characters, such as:
[code]
- Run:
[code]

### Versions Report
[code

[2018-06-07 02:05] slhu91 commented on #47963
I think this is because the random selection of a master is not a performance problem when syndic is returned. So when I execute a command on one of the masters, I only see a part of the minions returning.

[2018-06-07 02:05] junovitch commented on #46972
@uzwal111, an example:
`/etc/salt/minion`
[code]

With that on several minions run a `salt '*' mine.update` on your master.

Now on a minion I can run something like `salt-call mine.get '*' fqdn_ip4` to get the fqdn_ip4 grain of all other host that are exporting it as mine data. In a state file the the Jinja syntax is shown at the URL from earlier but it can be a bit busy looking so be sure to QA

[2018-06-07 02:43] rklaren commented on #47633
It seems looks that the `ElementTree.tostring()` API changed between python2 and python3. In python2 it returns a string in python3 it returns bytes.

[2018-06-07 03:43] indigoarc opened #48013 "offline (with no internet) installation of salt"
### Description of Issue/Question
How can I install salt with no internet connections?

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Tried to set up a local mirror using this command:
rsync -vaH --numeric-ids --delete --delete-after --delay-updates rsync://repo.saltstack.com/saltstack_pkgrepo_full ./fullrepo

But then what to do with it once I ha

[2018-06-07 05:27] vimalkesavan commented on #47995
No . Actually what I need, is to notify the master that which all files were modified in minion then and there itself.  It is just that the files/directories I am using for watching the changes were earlier configured to restored using salt call command when there were working as masterless salt-minion earlier.

I have using beacons and inotify, but the problem is that we need to give the files ma

[2018-06-07 06:18] mruepp commented on #33857
Is there still no way to pass arguments to blockdev.formatted?

[2018-06-07 08:01] brejoc commented on #47861
@Dejv56 Thanks for reporting this. But you should indeed report this in SUSE Bugzilla and/or contact SUSE service so that the right people are made aware of this.

[2018-06-07 09:05] vinian commented on #48000
when i checkout the source code, found the problem was fixed in branch `2018.3`, but the source code(2018.3) in git repo was not match with the deb repo(2018.3.0+ds-1).

deb package on my host
[code]

here's my simple fix for the problem
[code]

output of the test
[code]

[code]

[2018-06-07 09:07] heylucky commented on #42448
that  help me a lot!!!! tks

[2018-06-07 09:12] prashanthtuttu commented on #47961
Hi @mirceaulinic / @Ch3LL ,
 Any update on above request ?

[2018-06-07 09:29] rlschilperoort commented on #47997
@garethgreenaway Thanx for the quick response.
It would be great if this feature could be configured from/within the master and cannot be controlled/changed within the configuration at the minion side.

[2018-06-07 09:29] rlschilperoort commented on #47997
@garethgreenaway Thanx for the quick response.
It would be great if this feature could be configured from/within the master and cannot be controlled/changed within the configuration at the minion side.

[2018-06-07 09:41] prog-dale opened #48016 "orch of win_wua error"
### Description of Issue/Question
Running win_wua.list in an orchestration comes with an error and does not show the results
              The State execution failed to record the order in which all states were executed. The state return missing data is:
              {'Success': False, 'Updates': 'Nothing to install'}

### Setup
[code]

### Steps to Reproduce Issue
salt-run state.orchestrate orch

[2018-06-07 09:53] MorphBonehunter commented on #47236
Works now like expected (tested against latest in 2018.3.1 branch as #47957 gets backported):
[code]

[2018-06-07 09:53] #47236 closed

[2018-06-07 10:31] blefeuvr opened #48017 "Infinite loop: salt-proxy with napalm driver when can not connect to the 'proxy device'"
### Description of Issue/Question
I hesitated a lot between issuing this here or in napalm-salt github.
But I will start this here.
Setup is quiet simple
I have a proxy pillar cisco.sls:
[code]
A pillar top file :
[code]
And then I try to launch the proxy minion cisco1 process from a minion :
[code]

And here comes the issue, if there is a problem somewhere, like:
- napalm driver doesnt exist
- pr

[2018-06-07 10:31] zerthimon opened #48018 "vault runner is broken in 2018.3.0"
### Description of Issue/Question
[code]
Should be (example):
[code]
### Setup
vault.conf
[code]

peer_run.conf
[code]
### Steps to Reproduce Issue
`salt-call vault.list_secrets saltstack/envs`

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)
[code]

[2018-06-07 10:36] zerthimon commented on #48018
argh, sorry, duplicate https://github.com/saltstack/salt/issues/46864

closing

[2018-06-07 10:36] #48018 closed

[2018-06-07 11:17] guettli commented on #7883
Yes, ~user works. Can someone please point me to the docs? I could not find them.

To make this feature more public, I created an answer here: https://serverfault.com/questions/915600/saltstack-how-to-create-user-and-a-directory-in-his-home-directory

[2018-06-07 11:20] Svolentin commented on #47086
same with 2018.3.0

[2018-06-07 11:43] msouth commented on #38513
Is a fix for this on the roadmap?  We deploy scripts with salt and we are currently looking at a second mechanism to go fix the permissions, which kind of defeats the "fix in one place and forget" mechanism.  Also, if someone has even a vague idea where the problem is with this I'd be willing to take a stab at fixing it.

[2018-06-07 11:59] tganzeboom commented on #47864
I'm pretty sure this used to be possible with the 2017.7 range, since I upgraded from that. Did the 2018 range also upgrade libraries which are still installed on the system that also have to be reverted?

[2018-06-07 12:18] heregear commented on #42160
Howdy getmanfred, thanks for the info thus far!  I'm working with indigoarc on this salt local repo issue.
**QUESTION:  once we build the local repo via rsync, how do we use it to install saltstack master and minions?**

Any other caveats, etc?  We are using salt on a system with selinux and completely off the web, lots of firewalls, lockdowns, etc. - any other links anyone can provide that may he

[2018-06-07 12:22] grinapo commented on #33114
[code]

[2018-06-07 13:02] gtmanfred commented on #47633
in python2, a string is bytes.  That is the biggest change between py2 and py3.

str goes from being bytes to unicode.  So it is consistently returning the same thing, always bytes.

[2018-06-07 13:04] gtmanfred commented on #47864
you could try wiping the thin tarball from the minions since it will probably be the 2018.3 thin tarball.

add -W to your salt-ssh command.

The problem is that dictionary comprehension `{key: value for key, value in list_of_tuples}` is not a valid syntax in 2.6, it was added in 2.7.

[2018-06-07 13:09] gtmanfred commented on #42160
@indigoarc you can see all of the repositories that you could rsync using the --list-only option.

rsync --list-only rsync://repo.saltstack.com/

@heregear configure the local repository and install salt-minion.

Salt Bootstrap has a -R flag that you can point to your own repository, instead of using the repo.saltstack.com, if you don't mirror the epel repository, you will also need to use the /ba

[2018-06-07 13:15] gtmanfred commented on #48007
seems easy enough to just do an `isinstance(whatever, six.string_types)` and then making it `[whatever]`

Daniel

[2018-06-07 13:17] gtmanfred commented on #48008
The branch 2018.3 gets updated, is this the same as the v2018.3.0 tag?

https://github.com/saltstack/salt/blob/v2018.3.0/salt/utils/gitfs.py#L2028

[code]

The new code will be in the next release of that branch.

[2018-06-07 13:17] #48008 closed

[2018-06-07 13:18] indigoarc commented on #42160
Thanks @gtmanfred .
Question for configure the local repository.

I tried to use this command to create a local repository
createrepo /data/fullrepo

But got tons of following errors:
Worker 0: Error: Could not open local rpm file: /data/fullrepo/dev/yum/redhat/5Workstation/x86_64/archive/2015.5.6/SRPMS/python26-2.6.8-3.el5.src.rpm: RPM Error opening Package

Any suggestions? Thanks!

[2018-06-07 13:21] gtmanfred commented on #48010
You cannot import the files directly, you have to load them through the loader.

[code]

Instead of that, load them through the loader.

https://docs.saltstack.com/en/latest/ref/clients/#salt-s-loader-interface

use

[code]

[2018-06-07 13:21] #48010 closed

[2018-06-07 13:34] gtmanfred commented on #48012
Thanks for reporting this.

We will get it fixed.
Daniel

[2018-06-07 13:37] gtmanfred commented on #48017
I am not sure this is a bug.  I think this would be the expected behavior.  Especially for not being able to connect, because you could eventually be able to connect.  It could be just that the device is down and rebooting, etc.

And if you pip install napalm when it wasn't installed, then it would try to connect, without having to restart the system.

There is also a scenario where the proxy mini

[2018-06-07 13:38] gtmanfred commented on #48016
@twangboy @dwoz can one of yall take a look at this?

Thanks,
Daniel

[2018-06-07 13:42] gtmanfred commented on #42160
do not run createrepo

the repo has already been created, just point to the files in your .repo config.

[code]

and then install the packages

[2018-06-07 13:48] frankthetankmay opened #48019 "Azure VM Custom Image"
### Description of Issue/Question
It's known that Salt can create Azure VM image from the Marketplace by specifying the publisher, sku etc... in the cloud profile. I would like to know whether Salt can create an Azure VM from a custom generalized image which is of type **Microsoft.Compute/images** not **Microsoft.Compute/virtualMachines**; this means just like a Marketplace image with no VHD but s

[2018-06-07 14:00] gtmanfred commented on #48019
@nicholasmhughes or @techhat do either of yall know the answer to this?

Thanks!
Daniel

[2018-06-07 14:02] rklaren commented on #47633
Any case the bytes trip up the call to libvirt. I have some time in the coming week to write a patch that works on both python2 and python3.

[2018-06-07 14:16] gtmanfred commented on #47633
check out salt.utils.stringutils, for some helper functions for dealing with unicode/bytes/str

[2018-06-07 14:22] calvinhp opened #48020 "mine.get not returning data in a state.orchestrate sls"
### Description of Issue/Question

`mine.get` is not working correctly from inside an orchestration.

### Setup

Add a `mine_function` to a pillar to return `network.ip_addrs`

Create an `orch.sls` with the following contents

[code]

### Steps to Reproduce Issue

When running the following, `app_servers` will be an empty dictionary

`$ sudo salt-run state.orchestrate orch`

but if I run the same

[2018-06-07 14:50] nicholasmhughes commented on #48019
@frankthetankmay , to confirm... you want to specify the ID of an image resource instead of the publisher, sku, offer, and version... correct?

That functionality doesn't currently exist, but could be added somewhat trivially.

[2018-06-07 14:58] frankthetankmay commented on #48019
@nicholasmhughes Correct. Our custom image - similar to a Marketplace image - is created in our subscription below:

ResourceGroupName    : ****
SourceVirtualMachine : Microsoft.Azure.Management.Compute.Models.SubResource
StorageProfile       : Microsoft.Azure.Management.Compute.Models.ImageStorageProfile
ProvisioningState    : Succeeded
Id                   : /subscriptions/****/resourceGroups/**

[2018-06-07 15:02] indigoarc commented on #42160
@gtmanfred  I would love to use Salt Bootstrap.
What would the value for -R flag be looking like? Can you please provide an example?

Do you recommend mirror epel repository or use rhel base repository coming with Salt?
If using rhel base, any setup needs to be done?

Thanks for your help again!!

[2018-06-07 15:17] nicholasmhughes commented on #48019
I'll take a look at the code, but it would probably entail adding a new keyword (say... `image_resource_id` or something like that) which would reference the full path to the resource ID of the image you want to use. Then, the code would use that instead of attempting to build the image reference from the publisher, etc. I can take a look at the change as early as tomorrow. Would you be able to te

[2018-06-07 15:27] frankthetankmay commented on #48019
@nicholasmhughes Yes we can test the patch once complete. This is a customer's Salt install so I would need to get approval from there devops team to apply the patch but that shouldn't be an issue since we need this behaviour to get them moved to Azure ideally. I appreciate you working on this.

Thank you.

[2018-06-07 15:32] nicholasmhughes commented on #48019
What version are they running?

[2018-06-07 15:34] prog-dale commented on #48016
its the same if i upgrade to salt 2017.7.5 (Nitrogen)

[2018-06-07 15:38] #21392 closed

[2018-06-07 15:47] frankthetankmay commented on #48019
2018.3.0 Latest version. If you need version detail I can SSH to server and get it in a few. Let me know thanks.

[2018-06-07 15:48] frankthetankmay commented on #48019
@nicholasmhughes see below

# salt --versions
Salt Version:
          Salt: 2018.3.0

Dependency Versions:
          cffi: 1.11.5
      cherrypy: 3.5.0
      dateutil: 2.7.3
     docker-py: Not Installed
         gitdb: 0.6.4
     gitpython: 1.0.1
         ioflo: Not Installed
        Jinja2: 2.8
       libgit2: Not Installed
       libnacl: Not Installed
      M2Crypto: Not Installed
          Ma

[2018-06-07 16:01] gtmanfred commented on #42160
you would host the repo yourself on a server using httpd or nginx, and then just point to the repo name, or the path on it to the yum repository, so if you just host it at `/yum` then just point -R to the servername of the server.

Actually, since you are using centos 6, you don't need epel.  Unless you are installing salt 2016.11 for some reason.

[2018-06-07 16:03] nicholasmhughes commented on #48019
@frankthetankmay , I also want to make sure that you understand that the current stable version does not have support for a lot of functionality which you may require, such as managed disks, assigning instances to availability sets and backend load balancer pools, as well as working userdata script functionality.

[2018-06-07 16:05] cro commented on #48017
I agree, I think it's not a bug.  It is ugly, granted, but these devices can be recalcitrant and the safest thing to do to try to get a reconnect is what we are doing right now.

[2018-06-07 16:10] frankthetankmay commented on #48019
@nicholasmhughes When you say there is no support for managed disks, can you clarify. Does this mean you cannot create VMs with managed disks and/or does it mean we cannot configure a VM, install app software on the VM with Salt if that VM has a managed disk?

[2018-06-07 16:16] nicholasmhughes commented on #48019
Purely from a cloud module instance creation perspective. The current stable version is only capable of creating instances with "unmanaged" blob storage disks.

[2018-06-07 16:38] #17204 closed

[2018-06-07 16:41] nicholasmhughes commented on #48019
I'm not sure I follow your meaning... There are execution modules in `develop` which can perform the "generalize" operation, etc. However, that is not in a stable release.

[2018-06-07 16:56] frankthetankmay commented on #48019
Ok understood. I suppose we will continue on with unmanaged disks then and will move to managed disks when the next stable release includes creating generalized images.

I appreciate your quick feedback on this.

[2018-06-07 17:18] Talkless commented on #34236
Ping. Please don't close.

[2018-06-07 18:32] frankthetankmay commented on #48019
@nicholasmhughes One final question here. If we were to use the Develop version, does it include the ability to specify Azure custom image in our cloud profile or would you need to add it to there first? Customer would consider using this version to test their process of generalized images.

Thanks

[2018-06-07 18:37] nicholasmhughes commented on #48019
No. It's not in develop either. However, I could probably have the patch in by the end of tomorrow. PRs get merged pretty quickly for small fixes like that.

[2018-06-07 18:40] frankthetankmay commented on #48019
I would appreciate it if you could put it in for us. We would be able to test it tomorrow or Monday whenever you are ready with it.

Thanks

[2018-06-07 19:09] PabloLemos commented on #46896
I have the same problem with the archive.extracted and tornado backend:
``
archive.extracted:
      - name: {{ postgres['pg_base'] }}-{{ postgres['version'] }}
      - source: https://get.enterprisedb.com/postgresql/postgresql-{{ postgres['version'] }}-1-linux-x64-binaries.tar.gz
      - skip_verify: True
      - if_missing: {{ postgres['pg_datos'] }}
      - user: postgres
      - group: postgres

[2018-06-07 20:05] gabriel8fm commented on #12161
Someone have any news about this issue? I have the same on our company salt environment and already tried to disable sort_keys on config.sls but doesn't work.

[2018-06-07 20:38] #34394 closed

[2018-06-07 20:38] #33329 closed

[2018-06-07 21:19] onmeac opened #48025 "Autoloading Utility Modules?"
### Description of Issue/Question
In https://docs.saltstack.com/en/2017.7/topics/utils/index.html it is written that

But following the examples displayed on that page does not seem to work.
`state.apply` does not appear to sync anything from _utils.

### Steps to Reproduce Issue
_utils/foo.py
[code]

foo.sls state
[code]
command
[code]

with saltutil.sync_utils
[code]

### Versions Report
[code]

[2018-06-07 21:38] #34294 closed

[2018-06-07 21:38] #34374 closed

[2018-06-07 22:08] whytewolf commented on #47934
@gtmanfred no, it does not happen in 2018.3. Sorry for the late response.

[2018-06-07 23:15] getSurreal opened #48026 "Windows service.disabled does not disable a service if it is set to manual"
### Description of Issue/Question
The win_service module interprets a manual service the same as a disabled service.

### Setup
windowsservices.sls
Disable Windows Service:
  service.disabled:
    - name: Browser

or

Disable Windows Service:
  service.dead:
    - name: Browser
    - enable: False

### Steps to Reproduce Issue
Set a windows service (i.e. Computer Browser) to manual and run a state

[2018-06-08 00:56] csnook commented on #47826
I'd be happy to implement this, but before I do, I'd like to know if you would prefer I implement only a filter for this parameter, which I can easily test, or if you'd rather I implement it for all mode-specific parameters for mdadm, which I can't easily test. The list of parameters that are accepted in each mode is well-documented:

https://linux.die.net/man/8/mdadm

It's probably not much more

[2018-06-08 01:20] #40174 closed

[2018-06-08 03:40] terminalmage commented on #48000
This is a duplicate of https://github.com/saltstack/salt/issues/47199, which was fixed by https://github.com/saltstack/salt/pull/47275 on April 24th.

[2018-06-08 03:40] #48000 closed

[2018-06-08 04:34] terminalmage commented on #48025
This is a documentation issue that I introduced when I replaced references to `state.highstate` with `state.apply`. The `state.apply` function is a convenience function for running states. When it is run with no arguments, it runs a `state.highstate` (this behavior is described [here](https://docs.saltstack.com/en/latest/topics/tutorials/states_pt1.html#install-the-package)). When run *with* argum

[2018-06-08 04:41] thatch45 commented on #48025
Yes, lets update the docs

[2018-06-08 06:38] prog-dale commented on #48016
@twangboy its the same with the above and even if i remove categories
this is the not the first time its been seen as far as I can see just with other modules.
https://github.com/saltstack/salt/issues/37174

[2018-06-08 07:39] blefeuvr commented on #48017
OK thanks a lot for the answer, makes things clearer for me, at least I know this is the way it is normally going.
I close, thanks again for your awesome reactivity.

[2018-06-08 07:39] #48017 closed

[2018-06-08 08:02] vinian opened #48029 "syndic failed to auth when restart salt-master on syndic master"
### Description of Issue/Question
master: running salt-master
syndic-master: running salt-master, salt-syndic, salt-minion

when restart salt-master on syndic-master, syndic will not pass auth section
[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

default set up on master, and syndic master

### Steps to Reproduce Issue
(Include debug logs

[2018-06-08 08:39] kiemlicz commented on #48010
Thank you!

[2018-06-08 08:49] dhs-rec commented on #38551
OK, need to revise the above comment. Even with this setup, the package description files seem to picked from base everytime. What's the sense of having a saltenv parameter in pkg.refresh_db, then?

[2018-06-08 08:55] onmeac commented on #48025
Thank you for clarifying, though this is unfortunate.

We had hoped that modules would also be synced when just wanting to apply a single state.
Would it be possible to provide some kind of flag/option?

[2018-06-08 09:13] damon-atkins commented on #38551
root_file is a hunt list. I think their is an option to change this.

[2018-06-08 09:39] #22649 closed

[2018-06-08 09:49] jyurdal opened #48031 "keyError on pillar.get"
I needed to throw exception on a missing key in pillar.get in jinja sls
Yet too many formulas start to fail on  pillar_raise_on_missing set in minion config.
I have tried to set exceptions.KeyError  in the sls formula but however I write it it returns jinja parse error.

Can I make pillar.get to throw exception on missing key, other than pillar_raise_on_missing in minion config.
Or alternatively i

[2018-06-08 10:39] #34336 closed

[2018-06-08 11:14] hackacad commented on #47994
It's related to the existing FreeBSD bugfix as well.
Applying the patch:
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=227836  worked.
related to: #47006

Thanks @cedwards

[2018-06-08 11:14] #47994 closed

[2018-06-08 13:55] gtmanfred commented on #47934
Ok, my recommendation is going to be updating to 2018.3, specifically because of all of the work we added for making sure unicode worked on py2 and py3.

[2018-06-08 13:55] #47888 closed

[2018-06-08 13:55] gtmanfred commented on #47826
I would say implement all of them, and tests the ones that are easy to test.

[2018-06-08 13:58] gtmanfred commented on #48010
:+1: no problem!

[2018-06-08 14:22] terminalmage commented on #48025
@onmeac yes, that is definitely doable

[2018-06-08 15:26] closepin commented on #35547
There any hope of getting this in place any time soon? We are managing minion keys and outages pretty often when a machine is down for maintenance or any other reason we may need to stop the minion, causing jobs that reach out to multiple machines to hang for extended periods of time. Purely because of this.

We're on 2017.7.2 infrastructure-wide.

[2018-06-08 15:28] seamus-45 commented on #34061
bump

[2018-06-08 16:44] JamesSnow opened #48036 "Salt 2018.3.0 service.enable mangles /etc/rc.conf, rendering system unbootable"
### Description of Issue/Question
Tagging @cedwards at his request.

Tested on both FreeBSD 11.1 and 10.4:
[code]
### Setup
None. This is a vanilla install, fresh out of the box.

### Steps to Reproduce Issue
[code]
### Versions Report
[code]

[2018-06-08 17:30] grandmasterv commented on #41188
I finally found this issue when trying to figure out why I'm getting errors like this on the master and can't configure the Slack returner to work on the master.

`[CRITICAL] Could not deserialize msgpack message.This often happens when trying to read a file not in binary modeTo see message payload, enable debug logging and retry.`

Or this one when I tried to configure both slack returner and the

[2018-06-08 17:38] terminalmage commented on #48025
@onmeac See https://github.com/saltstack/salt/pull/48037.

[2018-06-08 17:50] askholme commented on #31520
I believe this is still present just quite hard to solve

fre. 8. jun. 2018 16.40 skrev stale[bot] <notifications@github.com>:

[2018-06-08 18:16] gabriel8fm commented on #12161
FYI We had problems when we tried to apply nginx state (with passenger) in Ubuntu 18.04 Bionic. The `nginx.conf` was created with the `include /etc/nginx/modules-enabled/*.conf;` at the end of file ordering alphabetically, causing `nginx: [emerg] unknown directive` error message. With this in mind we solve our problem puting the below block on nginx.conf template file:

[code]

These setup can be

[2018-06-08 18:21] Ch3LL commented on #48020
was this working previously? are you just seeing it in 2018.3.0?

[2018-06-08 18:21] whiteinge commented on #35547
An argument to expose the data needed for this check was added to Salt's Python API in 2017.7 called [full_return](https://docs.saltstack.com/en/develop/topics/releases/2017.7.0.html#full-return-argument-in-localclient-and-runnerclient). You can use that immediately to perform the same calculation that the Salt CLI performs -- subtracting minion IDs in that `minions: []` educated guess from the mi

[2018-06-08 18:31] Ch3LL commented on #48031
you can set the pillar like so `{{ pillar['foo']['bar']['baz'] }}` and it should fail if the pillar does not exist. You will get an error similar to:

[code]

[2018-06-08 18:35] Ch3LL commented on #48036
ping @cedwards you planning on pushing a PR for this or do we need to try to get someone else on it?

[2018-06-08 18:56] closepin commented on #35547
Fantastic, I will test that as soon as I can and report back. Thank you!

[2018-06-08 19:22] rallytime commented on #47684
After discussing this with @terminalmage offline, I think the documentation change is sufficient for this request and that adding code for this is not necessary. Marking as 'Fixed'.

[2018-06-08 20:20] steveno commented on #35935
I've been looking into this issue. I don't believe this is a salt issue. It appears to be how `difflib.unified_diff` is creating diffs that contain no newline character. There doesn't appear to be anything salt can do about this without modifying standard library behavior.

Example python session with a modified example from the docs:
[code]

[2018-06-08 20:21] austinpapp opened #48038 "jobs are not dedup'ing minion side"
### Description of Issue/Question

@mattp- and i spotted this one

#### Review
I picked this up testing on 2017.7.5 where i was getting multiple returns from a single minion. further investigation yielded the job was executing twice (in my case). the double execution being based on the number of masters in the minion's master list.

Compare trace from 2017.7.5 and a 2017.7.2 minions. I've done my

[2018-06-08 20:21] austinpapp commented on #48038
We could issue the patch but im not sure what  [PR-43860](https://github.com/saltstack/salt/pull/43860) solves that we aren't aware of

[2018-06-08 20:51] gtmanfred commented on #48036
This is already fixed for 2018.3.1

[2018-06-08 21:09] twellspring opened #48039 "github.repo_present returns stacktrace, got multiple values for keyword argument profile"
### Description of Issue/Question
github.repo_present state errors, returns
`TypeError: add_team_repo() got multiple values for keyword argument 'profile'`

This is an error in the code:
salt/states/github.py:717
[code]
salt/modules/github.py:
```def add_team_repo(repo_name, team_name, profile="github", permission=None):```

The permission is being put into the positional argument profile.

In oth

[2018-06-08 21:16] twellspring commented on #48039
Fix submitted: PR #48040

[2018-06-08 21:40] cedwards commented on #48036
@gtmanfred - Can you point me to the patch for 2018.3.1? I may need to a midstream patch in the port.

[2018-06-08 22:13] cachedout commented on #48038
The analysis of this problem seems right but I'm not sure the fix is.

Isn't the true source of the problem here?

https://github.com/saltstack/salt/blob/develop/salt/minion.py#L1439

What if we changed that to `if self.jid_queue:` ?

[2018-06-08 22:39] #34412 closed

[2018-06-08 22:45] austinpapp commented on #48038
@cachedout that could very well be it. You'd know more about the code than I 😀 . I'll implement your fix and give it a go.

[2018-06-08 23:34] rsyring opened #48043 "salt-api reported errors - ChannelFailures: IOError port not free"
### Description of Issue/Question
I see the following errors on stdout/stderr after running `salt-api`.  This **does not** seem to affect the functioning of the REST API, it works as best I can tell.

[code]

### Setup
[code]

Happens regardless of port chosen and whether or not I specify `host`.

### Steps to Reproduce Issue
I am running salt master in a docker container.  Otherwise, I'm not doin

[2018-06-08 23:39] #34399 closed

[2018-06-08 23:50] rsyring commented on #48043
Turns out this is because on Ubuntu, the salt-api package installs a service and it was running.  I didn't realize that!  :)

[2018-06-08 23:50] #48043 closed

[2018-06-08 23:58] boltronics commented on #31247
As of 2018.3.0 `file.managed` now has support for the source file to be local to the minion, however this is not yet available in `file.append` (or at least not documented if it is).

[2018-06-09 00:43] mattp- commented on #48038
@cachedout I believe the issue is the loss of reference to the shared list, so that would mean it would still be dropped. I think something like:
[code]
might be better, or something along those lines.

[2018-06-09 01:14] cedwards commented on #48036
I did a little bit of digging and found this related issue #47502 . I will update the port with a patch pending the 2018.3.1 release.

[2018-06-09 07:04] zerthimon opened #48045 "The changes:diff: for file.manage appears out of order in 2018.3.0 ?"
Is this a known problem ?
[code]
Lines with - should be with + and vice versa ?

[2018-06-09 07:36] zerthimon commented on #48045
This only appears when running with `test=True`, works correctly with the real run.

[2018-06-09 10:06] loz-hurst commented on #29421
Just checking with my colleague if this is fixed - looks like #36435 should have resolved this?

[2018-06-09 18:26] gtmanfred commented on #48036
:+1: #47502

[2018-06-09 18:26] #48036 closed

[2018-06-09 18:31] cedwards commented on #48036
FreeBSD bug tracked here: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=228843

[2018-06-09 23:02] fooka03 commented on #42081
Still running into this behavior in our setup with 23 remotes (gitfs and git pillar).  Anytime we run operations on our master (or syndic) we see a huge spike in CPU and the logs are spammed with: `Re-using gitfs object for process <pid>`

[code]

[2018-06-10 01:49] brianholland99 commented on #28070
FYI - At least the Ubuntu 18.04 salt-master and salt-minion installs from the standard apt-get repos seem to have made the change to /var/lib/salt/pki.  It would be nice to converge to this location and some well-documented notification and roadmap (even deprecation warning) as mentioned above so people can prepare. I either need to have scripts handle both locations or possibly switch back to sal

[2018-06-10 17:40] 1ricardo commented on #47539
Hi @Ch3LL

I am sorry for late answer, for last weeks I was very busy with implementing new project.

### First way to reproduce:

I prepared some steps to reproduce this issue, but I am not sure if this is the best approach because it can be related with other issue/bug. I mentioned before that I had this issue before but with hits to API (which also using reactor), but I solve it by workaround,

[2018-06-10 18:13] krcroft commented on #36153
@Ch3LL, @rallytime  -- thanks!

[2018-06-11 05:35] terminalmage commented on #42081
Yes, this is a known issue for the reasons I've described above.

The fact is that gitfs wasn't designed to be used with dozens of remotes, so it needs to adapt to this kind of usage. One way that we plan to do so is to use our [pluggable cache subsystem](https://github.com/saltstack/salt/tree/develop/salt/cache) to drasically reduce seeking for files. If we locate a file once, we can then pull it

[2018-06-11 05:42] terminalmage commented on #47486
@rosscdh No problem! Since you provided a PR to resolve this issue (thanks again for that!), I'll go ahead and close this.

[2018-06-11 05:51] terminalmage commented on #47001
I don't understand what you mean. The `u` prefixes on the values in your screenshot are only there because it's a `repr()` representation of a list, which is what you get in Python when you format a data structure as a string. What shows in the `changes` field from the state return shows that the individual strings in the list do not have the `u` prefix.

Can you elaborate on how you are comparing

[2018-06-11 05:55] terminalmage commented on #47001
@AlonSh Please provide SLS examples and examples of the error, thanks.

[2018-06-11 06:42] epcim commented on #47126
It's not just reclass ext_pillar what is affected, do we have any example fix from other PR to fix similar?

[2018-06-11 09:04] danny-smit commented on #30324
Is this issue still present? Or is there a fix available already?

I noticed the issue is still present with salt 2016.11.6 in my environment.
Looking at the changes between 2016.11.6 and 2018.3.0, there doesn't seem be any commit that would be able to fix it.

Can we asume the bugreport is still valid? And therefore worth reopening the bugreport?

[2018-06-11 09:51] babilen commented on #48045
We've just ran into the same problem on 2018.3.0

[2018-06-11 09:58] loz-hurst commented on #29421
We are unable to confirm if this is fixed in our live environment as the latest version of salt in EPEL is 2015.5.10

I can build and test in a couple of Debian stable (2016.11.2) VMs if no one else is in a position to confirm this is resolved?

[2018-06-11 10:13] GitHubAre commented on #47971
@garethgreenaway Yes it does.
Thanks!

[2018-06-11 10:13] #47971 closed

[2018-06-11 11:16] guettli commented on #35935
The end user does not care which library gets used. The end user gets confused with the current output.

[2018-06-11 11:34] vimalkesavan commented on #47995
Hi Gareth,

Kindly update on the issue if you have any answer on this.

Thanks,

Vimal Kesavan

[2018-06-11 11:48] #34332 closed

[2018-06-11 12:38] benceszikora commented on #43517
@garethgreenaway I just ran into the same thing as well and the patch does seem to fix the issue, does this PR need any more testing?

[2018-06-11 13:06] gtmanfred commented on #40827
Even if it is deprecated, it is still in the code base and should probably be fixed.

It doesn't have a date when it is scheduled to be removed.

[2018-06-11 13:33] #48019 closed

[2018-06-11 14:06] Ch3LL commented on #47963
Can you clarify what you mean by "the random selection of a master"? Did you verify if the commands return if you increase the timeout?

[2018-06-11 14:16] Ch3LL commented on #33857
No but we are always willing to accept PRs :)

[2018-06-11 14:36] Ch3LL commented on #38513
This is not currently on a roadmap due to other higher priority issues so please feel free to take a stab at it. It looks like the logic for file_mode is handled in salt/states/file.py you should be able to debug from there

[2018-06-11 14:48] fooka03 commented on #42081
Is that rework in progress or on the development roadmap?  I can find a way to work around it for the time being but would like to communicate to my leadership how long we have to maintain that system.

[2018-06-11 14:59] Ch3LL commented on #47539
Thanks for the additional details that will help to dive in.

ping @DmitryKuzmenko just a friendly reminder to add this to your bug list to fix :)

[2018-06-11 15:00] garethgreenaway commented on #48045
This is a duplicate of https://github.com/saltstack/salt/issues/46931 and will be fixed in 2018.3.1.
Thanks!

[2018-06-11 15:00] #48045 closed

[2018-06-11 15:02] Ch3LL commented on #45339
@akrus what OS are you using? Could possibly be running into this: https://github.com/saltstack/salt/issues/47905#issuecomment-393912172 since you are on the newer version

[2018-06-11 15:12] #48039 closed

[2018-06-11 15:48] SEJeff commented on #43517
@prutschman can you open the PR against the saltstack/salt repo, and not against your fork?

[2018-06-11 15:50] gtmanfred commented on #47995
You don't have to switch away to using a master to watch these files, if you have a generic way to watch all modified files that is working for you in masterless mode, you can continue to use `salt-call` in minion-master mode.  If you want the master to trigger running the jobs, you will need to use the inotify beacon + reactor in order to do it.

Otherwise, If it works now for masterless, i would

[2018-06-11 15:56] rallytime commented on #48012
@terminalmage Can you fix this one?

[2018-06-11 16:17] SteveZman opened #48056 "Data failed to compile errors"
### Description of Issue/Question
Working to set up a salt environment and I repeatedly encounter this error when building state files.  Unable to determine what is causing the error
### Setup
using a basic .sls file for testing:
install_apache:
  pkg.installed:
    - name: apache2
command issued and results:
lzimmerm@ntsinfsalt101 salt]$ sudo salt -vv '*lsus*' state.sls apache
[sudo] password for

[2018-06-11 19:57] noelmcloughlin commented on #46615
closing as stale issue. Will test again in future.

[2018-06-11 19:57] #46615 closed

[2018-06-11 20:00] cachedout commented on #48038
@mattp Ah, I've got you. Yeah, I can get on board with that.

[2018-06-11 20:18] msciciel commented on #47713
@slaws are You able to verify proposed solution ?

[2018-06-11 20:28] #9141 closed

[2018-06-11 20:28] #34440 closed

[2018-06-11 20:28] #34444 closed

[2018-06-11 20:28] #34501 closed

[2018-06-11 20:28] #20546 closed

[2018-06-11 20:28] #28807 closed

[2018-06-11 20:28] #1064 closed

[2018-06-11 20:28] #4106 closed

[2018-06-11 20:28] #27292 closed

[2018-06-11 20:28] #34413 closed

[2018-06-11 20:28] #34243 closed

[2018-06-11 20:28] #34574 closed

[2018-06-11 20:28] #34579 closed

[2018-06-11 20:28] #34562 closed

[2018-06-11 20:28] #32773 closed

[2018-06-11 20:28] #4834 closed

[2018-06-11 20:28] #28333 closed

[2018-06-11 20:28] #34609 closed

[2018-06-11 20:28] #34597 closed

[2018-06-11 20:39] noelmcloughlin commented on #46361
@Ch3LL any news on this.

[2018-06-11 20:42] astronouth7303 opened #48059 "Message Busses Unclear; more docs needed"
As a Salt user getting into deeper module writing, I've found the various message busses to be very confusing.

When an event is published, it can go (as far as I know):
* A minion bus (each minion has one local to it)
* The master bus (picked up by salt-api, the `state.event` runner, and other places?)
* The "publisher" (what's actually sent to minions?)

I have little idea about how these busses

[2018-06-11 21:55] edlane commented on #47859
I can confirm that this problem exists in any Python3.6 installations using Salt v2018.3.0 (and presumably earlier) -- not just Windows.
I did a quick fix to https://github.com/saltstack/salt/blob/v2018.3.0/salt/master.py#L1454
by converting to a bytearray
**...and then discovered that this fix had already been applied here**  :1st_place_medal: https://github.com/saltstack/salt/blob/v2018.3.1/salt

[2018-06-11 23:24] garethgreenaway commented on #48038
I've been taking a look at this and so far I haven't been able to reproduce it with just multiple masters.  Next step is to use a setup with syndic masters to attempt to duplicate the issue.

[2018-06-12 04:28] #23119 closed

[2018-06-12 04:28] #16443 closed

[2018-06-12 06:43] akrus commented on #45339
@Ch3LL, master is on Ubuntu, minion on RHEL/CentOS. Not using GitPython, so don't think it's related. Turned on key cache now, looks better, but strange as master doesn't look overloaded.

[2018-06-12 06:47] GitHubAre opened #48063 "Question - how to best handle multiple customer environments"
### We have many customers (200+). For our customers we will automate deployments (by deployment I mean like publishing a website to web server) by using SALT on the other hand I would love to use SALT for internal server management (installing software, OS updates, cleanup of log files, ...). I would be thankful for your opinion on how to handle the following scenario:

1. Our environment is in A

[2018-06-12 08:00] C0nsultant commented on #47859
Thank you for the update, @edlane!
We'll try deployment with ```v2018.3.1``` as soon as there is time for it.

[2018-06-12 08:01] JensRantil opened #48065 "Client safe mode"
We recently had an issue where someone mistakenly executed

    salt '*' state.highstate

. This, combined with a small bug, temporarily brought down a few services. MySQL has [`--safe-updates`](https://dev.mysql.com/doc/refman/8.0/en/mysql-command-options.html#option_mysql_safe-updates) which forces a user to set limits on executions. How about having a setting in the Salt client config that forc

[2018-06-12 08:02] oarmstrong opened #48066 "Docker state authenticate with credentials helpers"
### Description of Issue/Question

I have a docker image registry (AWS ECR) that requires authentication before pulling images. I'm making using of a [credential helper](https://github.com/docker/docker-credential-helpers), specifically the [amazon-ecr-credential-helper](https://github.com/awslabs/amazon-ecr-credential-helper) project.

With my configuration I am able to pull images using the Dock

[2018-06-12 08:37] guptasakshi01 opened #48067 "cmd.script is not executing script on remote server via ssh"
###
while executing script on target server using salt-ssh i am getting following error
cmd:- sudo salt-ssh minion cmd.script source=salt://test.sh
minion:
   ----------
    cache_error:
        True
    pid:
        0
    retcode:
        1
    stderr:
    stdout:

### Setup
test.sh script is present at master on the /srv/salt/
We are executing command considering script will be executed remotely

[2018-06-12 12:22] austinpapp commented on #48038
@garethgreenaway well... i dont think you are going to get what you are looking for with 2 masters and executing on only one at a time. You'd need to execute the same command at the same time from the 2 masters. cron comes to mind as a way to maybe replicate this.

anyway, syndics with at least a MoM will do this for you which is why we are seeing the double exec.

[2018-06-12 12:49] lesar commented on #38157
I put my minion in dmz and then no lost connection any more so I remove the minion from dmz and use the @codekoala [solution](https://github.com/saltstack/salt/issues/6231)  :
[code]

and it work for me. so there is some reason why we have to use this solution. some configuration on master server or on minion it makes necessary communication from master to minion on some close port or use the conf

[2018-06-12 12:54] gtmanfred commented on #48059
No events get published to the publish bus.

The minion bus and the master bus are just event busses, for state.event or any fire_event stuff.  They are used by the reactor, as well as interprocess communication, so that we can do stuff like refresh grains asyncronously.

The publish bus is where the master puts the jobs, it publishes jobs and this is where minions pick up jobs to run.

The syndic

[2018-06-12 13:06] gtmanfred commented on #48056
So, the error here is that you already have a state running on that other minion.

You can only run one state run on a minion at a time.

You can see what is running on the salt minion using

`salt \* saltutil.is_running`

And Kill any running jobs with

`salt \* saltutil.kill_job <jid>`

[2018-06-12 13:19] gtmanfred commented on #48063
I would stick to two environments, one for testing and one for prod.

Then i would write templated formulas, that pull all of the individual data for each customer from pillar data.  Then you just assign the necessary pillar data to each customers servers based on the hostnames of their machines.

And then if you setup the hostnames in a specific fashion.

`<app>.<test/prod>.<customername>`

Then

[2018-06-12 13:20] gtmanfred commented on #48065
I am marking this as a feature request.

[2018-06-12 13:23] gtmanfred commented on #48065
Actually... Would this work for you?

[code]

It was added here https://github.com/saltstack/salt/pull/41021  to fix https://github.com/saltstack/salt/issues/19054

And is in 2018.3.0.

[2018-06-12 13:27] gtmanfred commented on #48066
We just use the .docker/config.json file for the user salt is running as.

Does the helper script just reauthenticate?

This would be pretty simple to do the docker state, and then add an onfail: requisite, and if it fails, just do a cmd.run state for authenticating again, and then add a second copy of the state, that only runs onfail as well, but after the token is recreated.

[2018-06-12 13:33] gtmanfred commented on #48067
I am unable to replicate this behavior.

[code]

It is working correctly for me. and copying the script over to the minion and then running the command.

[2018-06-12 13:51] Ch3LL commented on #46361
can you clarify this: "you are wanting to create a local user if it doesn't exist in AD already." is that correct?

[2018-06-12 13:53] Ch3LL commented on #45339
you would have run into this even if you weren't using gitpython. Did you just recently start seeing this when you upgraded?

[2018-06-12 13:56] garethgreenaway commented on #48038
@austinpapp executing via Cron would result in multiple returns but should be multiple valid returns since it should be two different jids. I'll test the syndic scenario with a single MoM.

[2018-06-12 14:04] noelmcloughlin commented on #46361
Yes, `user.present` should function as expected  (AD/LDAP user management occurs elsewhere).

[2018-06-12 14:38] #47984 closed

[2018-06-12 14:39] austinpapp commented on #48038
@garethgreenaway yea... i just realized that. duh! you are correct. seems syndics are the key to this situation.

[2018-06-12 14:46] akrus commented on #45339
@Ch3LL, I don't have old logs anymore and running 2018.3 for ~2 months already, so not sure if I had similar problems before.

[2018-06-12 14:51] SteveZman commented on #48056
Checked for running states – same results:

[lzimmerm@ntsinfsalt101 ~]$ sudo salt '*lsus*' saltutil.is_running *
[sudo] password for lzimmerm:
ntsinflsus102:
ntsinflsus102:
[lzimmerm@ntsinfsalt101 ~]$ sudo salt '*lsus*' saltutil.is_running state
[sudo] password for lzimmerm:
ntsinflsus102:
ntsinflsus102:
[lzimmerm@ntsinfsalt101 ~]$ sudo salt '*lsus*' state.sls apache
[sudo] password for lzimmerm:

[2018-06-12 14:55] gtmanfred commented on #48056
That could do it, it looks like you might have two minion processes running on the same minion, with the same name.

Login to that minion, and stop the salt-minion service, then see if any salt-minion processes are still running, and that could cause the issue.

[2018-06-12 15:39] nickgarber commented on #43832
`man 7 salt` is where _all_ this documentation is ... like ALL of it: all specific states, states in general, requisite logic, modules, runners, all the reference topics, etc, etc, etc. (too much to list, but it's all there).

Closing this task as it's already completed.

[2018-06-12 15:39] #43832 closed

[2018-06-12 15:57] SteveZman commented on #48056
Seem to be getting a similar error – it appears that there is only one minion service running:

root@ntsinflsus102 ~]# systemctl status salt-minion
● salt-minion.service - The Salt Minion
   Loaded: loaded (/usr/lib/systemd/system/salt-minion.service; disabled; vendor preset: disabled)
   Active: active (running) since Tue 2018-06-12 10:47:45 CDT; 1min 52s ago
     Docs: man:salt-minion(1)

[2018-06-12 16:00] garethgreenaway commented on #48038
After adding in the syndic servers to the setup I was able to reproduce the issue right away.  Updating minion.py and swapping in `self.jid_queue = [] if jid_queue is None else jid_queue` fixes the issue and I'm only seeing one return per minion.  Working on a PR now.

[2018-06-12 16:04] GitHubAre commented on #48063
Thank you for such a quick reply!

Can you please describe little bit more this part:
`Then i would write templated formulas, that pull all of the individual data for each customer from pillar data. Then you just assign the necessary pillar data to each customers servers based on the hostnames of their machines.`

[2018-06-12 16:09] gtmanfred commented on #48056
Can you check the actual process list with `ps aux| grep salt-minion`? and make sure there aren't extra minion jobs running besides the one from systemctl status salt-minion?

[2018-06-12 16:11] gtmanfred commented on #48063
Take a look at the saltstack-formulas repository, and you will see a bunch of examples of writing generic formulas, and configuring them using pillar data.

https://github.com/saltstack-formulas/apache-formula/blob/master/pillar.example#L41

[2018-06-12 16:16] SteveZman commented on #48056
Here we go – not sure how it should look.

[root@ntsinflsus102 ~]# systemctl status salt-minion
● salt-minion.service - The Salt Minion
   Loaded: loaded (/usr/lib/systemd/system/salt-minion.service; disabled; vendor preset: disabled)
   Active: active (running) since Tue 2018-06-12 10:47:45 CDT; 1min 52s ago
     Docs: man:salt-minion(1)
           file:///usr/share/doc/salt/html/contents.html

[2018-06-12 16:17] gtmanfred commented on #48056
Yup, you have an extra minion that was started with `salt-minion -d`
[code]

do a `kill -9 22309` and that should fix your problem.

[2018-06-12 16:18] GitHubAre opened #48073 "Restarting windows minion during state execution and continue after restart"
### How to restart windows minion during salt state and execute other states after reboot

Can you please give me a hint in this scenario:
`I would like to rename disk where pagefile.sys is located from D: to S:`

**This activity consists of these steps:**

1. Move paging file from D: to C:
2. Rename D: to S:
3. Reboot computer
4. Move paging file to S:
5. Reboot again

I know how to do those step

[2018-06-12 16:19] #48063 closed

[2018-06-12 16:23] nickgarber opened #48074 "Please include (man7) Salt docs in salt-common, and/or as a similarly required separate package"
### Description of Issue/Question

The Salt documentation in /usr/share/man/man7/salt.7.gz is only included with the salt-master install, but it would be better to either include it in salt-common or as a separate package, so that it can be made available in places that dont need/want a master installed.

The principle here being make it easier and safer for people to learn.

When discussed briefl

[2018-06-12 16:27] SteveZman commented on #48056
That did it!  Thanks so much.

Steve

From: Daniel Wallace <notifications@github.com>
Sent: Tuesday, June 12, 2018 11:18 AM
To: saltstack/salt <salt@noreply.github.com>
Cc: Zimmerman, Steve <steve.zimmerman@paymentspring.com>; Author <author@noreply.github.com>
Subject: Re: [saltstack/salt] Data failed to compile errors (#48056)

Yup, you have an extra minion that was started with salt-minion -d

[2018-06-12 16:51] slaws commented on #47713
Sorry for the delayed response.

I just tried the proposed solution, it seems to works correctly in my environment (Debian 9, salt 2018.3.0) :
* Changing adaptive rx : works without error
* Running the state again : do not trigger a new change.

Thanks for you help

[2018-06-12 19:28] #33201 closed

[2018-06-12 20:00] onmeac commented on #48025
Awesome, tyvm

[2018-06-12 20:05] msciciel commented on #47858
I've performed some debugging and it looks that time is wasted in function https://github.com/saltstack/salt/blob/develop/salt/modules/ini_manage.py#L81:
[code]
Because of the loop in refresh() method in class _Section https://github.com/saltstack/salt/blob/develop/salt/modules/ini_manage.py#L269.

I have investigated that most time is used for commented lines. Maybe the solution is to skip lines

[2018-06-12 21:02] dgengtek opened #48076 "Pass in pillar file with salt-call for state execution"
### Question

I am already able to use `$ salt-call --local --pillar-root=pillar`. Is there some other way to pass in for example a single pillar file to override settings from the pillar root? Thought this would be possible `$ salt-call --local state.sls test pillar=@mypillarfile.sls`.

Could not find anything in the documentation and grepping sys.doc output had no results either in that directio

[2018-06-12 21:41] rv-ptighe commented on #46510
@blade2005 Is there a repo you're working from for this feature?  We also would like to see this in Salt, and would like to help contribute to getting this into the product.

[2018-06-12 21:52] gtmanfred commented on #48076
Everything that is passed in from the commandline is passed through the yaml safe loader, so you should be able to just do.

But otherwise, pillar is just pillar data, so you would need to cat in the file

[code]

or `"$(cat path/to/mypillar.sls)"`, `$(<file)` does the same thing as catting the file out.

[2018-06-12 21:52] #48076 closed

[2018-06-12 22:46] terminalmage commented on #42081
The current plan is to have this functionality present in the next feature release (this fall).

[2018-06-12 23:04] #25469 closed

[2018-06-12 23:04] #34706 closed

[2018-06-13 00:47] terminalmage commented on #48025
No problem! Thanks for helping to point this out.

[2018-06-13 02:05] sugizo opened #48078 "fresh install result on mac = ValueError: invalid literal for float(): 1024,00"
### Description of Issue

### Setup
no config, just started from scratch new python environment in conda

### Steps to Reproduce Issue
[code]

trying salt --versions-report and salt --help also thrown the same error :
ValueError: invalid literal for float(): 1024,00

### Versions Report
can not generate salt --version-report, but seen in pip install salt = salt-2018.3.0

any idea ? thx

[2018-06-13 04:59] linora commented on #46409
same issue,so many bugs........disappointed

[2018-06-13 05:09] prashanthtuttu commented on #47961
Can anybody suggest me some options on the above request?

[2018-06-13 06:18] terminalmage commented on #48012
@rallytime Fixed in https://github.com/saltstack/salt/pull/48081

[2018-06-13 07:12] GitHubAre opened #48082 "Multiple environments with single top file throws "No Top file or master_tops data matches found.""
### Description of Issue/Question
Hello,

I am just starting with Salt and I am trying to use multiple environments (base, dev and prod).
My goal would be to have **one top.sls** file inside **base file_roots**. From the docs: https://docs.saltstack.com/en/latest/ref/states/top.html it should be possible as it says:
`When using multiple environments, it is not necessary to create a top file for ea

[2018-06-13 07:25] jyurdal opened #48083 "ext_pillar env specific git branch problem"
I have a problem with defining different branches for minions with different env. I am using salt-master and salt-minion 2018.3.0

The salt-master config:
[code]
When I issue
**# salt 'myminion' pillar.item dhcpd**

I do get only the data from salttestjyu. However when I do

**# salt-run pillar.show_pillar 'myminion'**

or

**# salt 'myminion' state.apply dhcpd.config**

returned pillar data/dhcpd

[2018-06-13 08:37] sumeetisp commented on #48067
Minion based approach works but when i am using salt ssh there is no output.
[code]

Any way to debug when using salt ssh?

[2018-06-13 08:44] sumeetisp commented on #48067
The only different in output is cache error.

[2018-06-13 09:04] slhu91 opened #48084 "multi-syndic environment the master use list tgt_type return many a time"
### Description of Issue/Question
Salt-master has multiple syndics and when I use list to manipulate minions on the master, it returns one success and multiple failures。

### Setup
![image](https://user-images.githubusercontent.com/14175152/41341264-e294f8e2-6f2b-11e8-9157-2f33c33daa7a.png)

### Steps to Reproduce Issue

### Versions Report
![image](https://user-images.githubusercontent.com/141751

[2018-06-13 09:33] GitHubAre commented on #48082
I have tried "brute force on different combinations" and I figured it out.

master config:
`file_roots:
  base:
    - /srv/tips/salt/base
  dev:
    - /srv/tips/salt/base
    - /srv/tips/salt/dev
  prod:
    - /srv/tips/salt/base
    - /srv/tips/salt/prod

pillar_roots:
  base:
    - /srv/tips/pillar/base
  dev:
    - /srv/tips/pillar/base
    - /srv/tips/pillar/dev
  prod:
    - /srv/tips/pillar/

[2018-06-13 09:34] #48082 closed

[2018-06-13 09:35] cbosdo opened #48085 "virt.get_disk output doesn't provide complete qemu-img data"
### Description of Issue/Question

Run `virt.get_disks` on a VM with such a setup:

* At least one disk with a qcow2 image with several backing files chained to each other
* At least one non-qcow2 image

The first problem is rather an inconsistency: the detailed `qemu-img info` output is only added for qcow2 files... why not other disk images like raw, qed, etc?

The output of the `qemu-img info`

[2018-06-13 09:40] cbosdo commented on #48085
The parsing code could be changed as follows to easily fix it:

* Use qemu-img  `--output json` parameter
* Use qemu-img `--backing-chain` to get the complete chain of backing files... not just the first one

However, the drawback is that the json output doesn't show the same keys for the different values. Along the same lines, the timestamps are just integers, not human-readble values. Would that

[2018-06-13 09:47] C0nsultant commented on #47859
After pulling and installing the release tagged ```v2018.3.1``` from Github, I can confirm that the failure is gone. All posted commands execute successfully, even the ```cp.push``` that previously failed.

[2018-06-13 10:02] cbosdo commented on #48085
Output of `qemu-img info $PWD/test-suma-overlay.qcow2`

[code]

This even raises an error, as the code splits the snapshot columns using `\s` regular expression class. The corresponding output with `--output json --backing-chain` parameters

[code]

The exception is due to the snapshot name having a space in it... without this snapshot, the output looks like this one:

[code]

[2018-06-13 10:03] mateiw opened #48086 "Failure with quickly cascaded salt-ssh state.apply calls to the same minion"
### Description of Issue/Question

When executing two concurrent `state.apply`es targeting the same SSH minion and with a small delay in between, one of the states is not applied and it returns an empty response.

The `queue=true` doesn't seem to make a difference.

However, without the small delay in between the calls both seem to work fine.

### Setup
/srv/salt/echo1.sls
[code]
/srv/salt/echo2.s

[2018-06-13 10:04] #34550 closed

[2018-06-13 11:17] oarmstrong commented on #48066
Sorry I'm not actually intimately familiar with how the credential helpers work.

That docker configuration let's docker know that it needs to basically run the `ecr-login` binary to obtain the authentication token. The binary does what it needs to do to grab an authentication token from AWS and then caches it for future use, returning it to docker to use to authenticate to the registry.

When usi

[2018-06-13 12:52] DmitryKuzmenko commented on #47896
@thatsk , @Ch3LL
Yes, you're correct, that functionality works for the only string values. I'll think about the best way to adopt it for list and dict values.

[2018-06-13 12:58] DmitryKuzmenko commented on #47539
@Ch3LL thank you. It's already in my icebox, just not the top priority at this moment, sorry. I'll work on it right after a few critical tasks.

[2018-06-13 13:04] rallytime commented on #47859
Thanks for confirming @C0nsultant! I'll go ahead and close this.

[2018-06-13 13:04] #47859 closed

[2018-06-13 13:19] epcim commented on #43130
This should be closed I guess.

[2018-06-13 13:49] gtmanfred commented on #48067
I am unable to replicate this at all, can you provide me more information on your setup? any config changes you have made from the basic setup?

I am not able to replicate this, and it shouldn't be happening, so I don't know where the problem is for you.

It would also be worth while to share the `-l debug` output of the salt-ssh command.

Daniel

[2018-06-13 14:39] junster1 commented on #43517
@prutschman we ran into this issue also, can you submit a PR against upstream?

[2018-06-13 14:48] benceszikora commented on #43150
I have run into this same issue as well, are there any ways to get around this?

[2018-06-13 15:05] sootythebear commented on #45561
@garethgreenaway Hi Gareth, any thoughts on this?

[2018-06-13 15:36] blade2005 commented on #46510
@rv-ptighe I've not had a chance to put too much effort into this feature.  I did start work on it in a branch. https://github.com/blade2005/salt/tree/feature/aws-ssm

[2018-06-13 16:16] cbosdo commented on #48085
@gtmanfred, @cachedout any opinion on what to do with those changes? Should I use different properties as the values are presented differently or stick with these names?

[2018-06-13 16:41] madrisan commented on #14553
Same issue with 2018.3.0 (Oxygen).

[code]

[2018-06-13 16:57] davidwright commented on #13732
This is still happening for me in salt-call 2017.7.2 (Nitrogen). It appears to only happen with archive file types. Tar files, zip files and gz files exhibit the issue. Text files and images do not. One other caveat is that I am connecting to a S3 compatible HCP Object Storage not Amazon S3.

[2018-06-13 17:22] indigoarc commented on #48013
yes. this approach worked. It would be nice to update Saltstack documentation to guide user to do a full set up.

[2018-06-13 17:26] indigoarc opened #48093 "Saltstack to manage db clusters as minion"
### Description of Issue/Question
I have a DB server which has 5 nodes as a DB cluster.
They share the same DNS name and the primary node owns the DNS name.

Question:
When install minion on these nodes, is there any special considerations?
I assume they would have to have the same minion id so that master can communicate with any one of those being the master?
Is there any instruction on how to d

[2018-06-13 17:56] Ch3LL commented on #47434
we have pushed ubuntu 18 packages up now for 2017.7.6 and 2018.3.1 :)

[2018-06-13 17:56] #47434 closed

[2018-06-13 18:02] rallytime commented on #13732
@davidwright It is probably worth opening a new issue for this as the original one is nearly 3 years old. Can you open a new issue with all of the relevant information?

[2018-06-13 18:27] davidwright commented on #13732
Will do. Wasn't sure which way was preferable were the issue matches exactly.

[2018-06-13 18:40] Ch3LL commented on #48073
you can look at saltstack orchestration here: https://docs.saltstack.com/en/2017.7/topics/orchestrate/orchestrate_runner.html

[2018-06-13 18:47] Ch3LL commented on #48078
running the salt master on macosx is not supported as documented here: https://docs.saltstack.com/en/2017.7/topics/installation/osx.html#salt-master-customizations

but i bet you will run into this on minion as well. can you run the minion process and do you run into the same thing? And which macosx version are you using?

[2018-06-13 18:59] rallytime commented on #13732
Yeah, no problem. I just bet we'll get more eyes on it with a new issue.

[2018-06-13 19:40] frankthetank opened #48107 "Failed to load ext_pillar git: object.__new__(thread.lock) is not safe, use thread.local.__new()"
I posted the following over on the Google group at https://groups.google.com/forum/#!msg/salt-users/_wr0Bd2RRxo/X9d4SizNAgAJ but received no responses so I am assuming that it's not an easy configuration issue that I've somehow borked.

I am receiving the above message when trying to load pillar data from git.  If I load the pillar data from local storage then I do not receive this error.

Unfortu

[2018-06-13 20:00] steverweber commented on #45080
the PR in python was merged so this issue should be resolved once upstream builds of python have the patch.  https://github.com/python/cpython/commit/2487f30d5529948ace26559e274d7cac6abcd1a8

[2018-06-13 20:01] GitHubAre commented on #48073
My scenario is in terms of event-driven infrastructure where new minion is created (in Azure) and I would like to apply certain states (like moving the pagefile.sys swap file) when that event is fired.

That would mean creating orchestration that is running against a single minion (the one that fired the event). I know that orchestration is used where multiple deployment targets need to be coordin

[2018-06-13 20:05] Ch3LL commented on #48083
looks like i'm able to replicate this and it is working in 2017.7.4

on 2018.3.0 (and head of 2018.3):

[code]

note this is failing because the pillar data structure is different between the environments. but what is important is that you are seeing `megangotit` which is in environment qa and not dev.

on 2017.7.4:

[code]

Here is my configurations:

[code]

[code]

ping @terminalmage any ideas

[2018-06-13 20:08] Ch3LL commented on #48084
duplicate of https://github.com/saltstack/salt/issues/47199  can you try 2018.3.1 should be fixed there.

[2018-06-13 20:09] whytewolf opened #48110 "file.line on windows not treating unix line endings correctly."
### Description of Issue/Question
On windows when using `file.line` state module. If the file being changed has unix style line endings instead of dos line endings. The entire file can be changed.

### Setup

A simple file to change
[code]

a simple state.
[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
if the file c:\test\test.txt uses dos line endings it only

[2018-06-13 20:13] davidwright opened #48111 "Stacktrace when fetching archive file types using s3 module"
I am getting the following error when trying to do a salt-call s3.get for archive filetypes(tar, zip, gz). The error does not occur when getting text or image files.

[ERROR   ] An un-handled exception was caught by salt's global exception handler:
ParseError: not well-formed (invalid token): line 1, column 2
Traceback (most recent call last):
  File "/bin/salt-call", line 11, in <module>
    salt

[2018-06-13 20:13] whytewolf commented on #48110
ZD-2524

[2018-06-13 20:20] #34649 closed

[2018-06-13 20:43] Ch3LL commented on #48086
looks like i'm able to replicate this. I still see hte same behavior on 2017.7.4 so it does not appear to be a regression. Did you see it working on a previous version?

[2018-06-13 20:52] Ch3LL commented on #48093
the minion id needs to be unique so you will need to give the nodes unique minion ids.

[2018-06-13 20:58] indigoarc commented on #48093
Would that be an issue if the same DNS name used by many minions depending which node is the primary in the cluster?

[2018-06-13 22:05] DeviantEng opened #48112 "_raw_desmodule.so: cannot open shared object file: No such file or directory"
### Description of Issue/Question
salt-master won't start:
[code]

### Setup
Salt-Master on CentOS 7, salt-2018.3.1.  Been running fine for months, but seems something has recently changed and broked salt-master (guessing an update?).

### Versions Report
Unfortunately, won't run.

[code]

[2018-06-13 22:08] gaetanquentin opened #48113 "state file.line has error and erase file content completly, while with mode test=true it is ok"
Trying to insert lines after line "symbolic-links=0":

file to modify:
----------------
/etc/my.cnf:
[code]

state:
-------
[code]

Results
---------
- with test=true: result is ok:
[code]

- without test=true, error, and file is empty:
[code]
[code]

environment
------------------
[code]
[code]

salt minion:
centos 6
salt in python 2:
[code]

[2018-06-13 23:56] doc987 opened #48118 "selinux.module State Fails to Report Changes"
SELinux modules appear to successfully install (if not present) or update (if installed, but have changes).  See example below.
[code]

However, ```selinux.module``` doesn't report having changes in the result summary for the minion, and any requisites that are tied to changes don't get triggered.  I imagine a typical requisite might be to run ```restorecon``` when a module changes.
[code]

What w

[2018-06-13 23:58] sugizo commented on #48078
macos siera version 10.12.6
started from fresh, no minions created yet

[2018-06-14 01:04] boltronics commented on #43130
The examples are fixed, but it's still not as clear as it could/should be IMO.

For example, the first four examples use the new syntax. Then the documentation switches to giving an example of the old way. Initially the reader would think it's just a quick one-off example of something they don't really need to care about, but then it goes on for another five additional examples. At this point, the

[2018-06-14 01:34] #48084 closed

[2018-06-14 03:46] linuxyn opened #48119 "Salt-master executes 'ulimit -n' and gets a wrong result"
### Description of Issue/Question
Sometimes I can't use the salt master to get the correct ulimit -n execution result，The result of executing with salt-master is 1024。But I manually logged in to ssh and executed 'ulimit -n' directly. I found it to be 65535.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug

[2018-06-14 03:58] WangWenchao opened #48120 "About salt grains.ipv4 get the IP list is not all ip as network.ipaddrs"
### Description of Issue/Question

`grains.ipv4 ` return the ip is less the the interface actually configed , but through module `network.interfaces ` get the all IP configed

on test node , output of   `ip addr show `  is :

[code]

and `ifconfig ` output is :

[code]

and

[code]

And

[code]

And what's the reasons?

### Steps to Reproduce Issue
I use salt to collect all the nodes information ,

[2018-06-14 05:51] syphernl opened #48121 "[2018.3.1] salt.loaded.int.utils.boto3.__virtual__() is wrongly returning `None`"
### Description of Issue/Question
Running a highstate results in seeing the following error and warning:
[code]

This particular machine does not have any boto package installed:
[code]

[code]

### Versions Report
[code]

[2018-06-14 06:30] rmarchei commented on #47043
There's a similar issue with other states as well (i.e: with `file.directory` and recursive permissions).
States that used to take seconds can now take 10 mins to complete.

[2018-06-14 06:55] martinrm77 commented on #48112
I'm using 2017.7 and also getting these failures.
It fails after these packages were updated from salt pkg repo:
salt-2017.7.6-1.el7.noarch
salt-minion-2017.7.6-1.el7.noarch
python2-pycryptodomex-3.4.11-2.el7.x86_64
zeromq-4.1.4-7.el7.x86_64

But the salt repo dont have old versions of packages, so I cant downgrade...

[2018-06-14 07:59] stpfeil commented on #48112
I also tried to downgrade.
I removed all salt-packages and python2-msgpack (which was marked as duplicate [again]). Then I reinstalled salt 2018.3.1 and then downgraded. This installed salt 2015-5.10 which was completely unusable in our case.

Then I changed the repo from latest to 2017.7 [1] and upgraded to 2017.7.6. I encountered the same problem. Then I changed the repo again from 2017.7 to lat

[2018-06-14 08:30] pasmon opened #48122 "Salt minion 2017.7.6 disregards "bin_env" in pip state"
### Description of Issue/Question
Python modules fail to install for Python 3 since pip state doesn't seem to make use of "bin_env" defined in the state file.

### Setup
flake8.sls:
[code]
### Steps to Reproduce Issue
Install Salt minion version 2017.7.6 and run the state, Salt fails to install the Python 3 version of the flake8:
[code]
Salt minion 2017.7.5 uses pip directly instead of "python -m

[2018-06-14 08:35] JensRantil commented on #48065
@gtmanfred `batch_safe_size` is exactly what I was looking for! Thanks!

[2018-06-14 08:35] #48065 closed

[2018-06-14 10:12] mateiw commented on #48086
@Ch3LL I only noticed it recently but I don't think it worked in previous versions either. I tested with `2016.11.4` and I was able to reproduce the problem.

[2018-06-14 10:31] c-wicklein opened #48123 "file.directory with recurse fails when it encounters a broken symbolic link"
With 2018.3.0 (but not with 2017.7.2), if file.directory with recurse encounters a broken symbolic link, it aborts.  I think ideally it would at worst log about it and continue.

[2018-06-14 10:55] Talkless commented on #44003
Got `service.enabled` too, with 2017.7.6:

[code]

Try on lower-endish hardware. In my case it reproduces on laptop with HDD, while Debian 8 is running inside VirtualBox, with master an minion on the same machine, while applying ~300 states. Maybe it needs to be rather slow to hit this possibly a race condition.

Maybe limiting virtual machine available core count and memory would help to reproduc

[2018-06-14 11:26] bhanukumar22 opened #48124 "Salt inbuilt modules not working for HP-UX and AIX target servers"
### Description of Issue/Question
Salt inbuilt modules not working for HP-UX and AIX target servers

We have banners during login and after login, could this be an issue?
Also, there are few scripts executed at login time, which would give us details on what time user had logged in before, successful and unsuccessful logins.
Also, "Password:" is appearing in stdout.

Could this have caused the iss

[2018-06-14 11:51] mephi42 opened #48125 "logrotate.set fails on CentOS 7's /etc/logrotate.d/syslog"
Here is the content of my `/etc/logrotate.d/syslog` (it was this way out of the box):
[code]

Here is my SLS file:

[code]

First, a minor issue: if I ask Salt to edit `/etc/logrotate.d/syslog` directly using `conf_file` directive, it will fail with `KeyError: include files`. The following patch helped:

[code]

Now, the main issue: ```Error: A setting for a dict was declared, but the configuratio

[2018-06-14 13:33] Ch3LL commented on #48107
im suprised in your configuration here: ```ext_pillar:
  - dev git@mygitserver:infrastructure/salt-pillars.git``` that you do not have any auth setup like keys as this is using ssh. Have oyu just removed that information for the sake of sanitizing the output here?

Was this working previously?

[2018-06-14 13:35] Ch3LL commented on #48110
@whytewolf is this a regression?

also ping @saltstack/team-windows any ideas here

[2018-06-14 13:40] DeviantEng commented on #48112
This is what got my salt-master back up this morning:

[code]

I was then able to restart the `salt-master` service with `systemctl restart salt-master` and it started successfully.  Definitely seems that pycryptodomex is to blame, but not sure specifically why.  Going to continue testing to see if I'm fixed (at least for now).

[2018-06-14 13:41] Ch3LL commented on #48111
seems there was a similar issue here: https://github.com/saltstack/salt/issues/23007

can you try the recommendations in there around the `return_bin` kwarg.

[2018-06-14 13:47] qiangshui opened #48127 "How to get the terse result through rest api"
How to make the response only return {"result": true or false} when request url:saltapi_port/jobs/jid to get the execute result?

[2018-06-14 13:47] sithmein commented on #48112
Same problem here. A faster way to revert back to the old python2-pycryptodomex version:

`yum downgrade https://repo.saltstack.com/yum/redhat/7/x86_64/2016.11/python2-pycryptodomex-3.4.3-2.el7.x86_64.rpm`

[2018-06-14 13:48] gtmanfred commented on #48121
This is fixed in https://github.com/saltstack/salt/pull/47726

And will be added in 2018.3.3, unless we sneak it into the quick bugfix for 2018.3.2... let me ask.

[2018-06-14 13:51] cbosdo commented on #48085
@Ch3LL I wanted to finish deprecating libvirt:hypervisor to submit the PR... but yeah can submit earlier if needed. Maybe @thatch45 or @holmboe would have an opinion since they authored quite a lot of the virt things

[2018-06-14 13:53] gtmanfred commented on #48121
Looks like this will have to wait for 2018.3.3

[2018-06-14 13:53] gtmanfred commented on #48121
Duplicate of #47694

[2018-06-14 13:53] #48121 closed

[2018-06-14 14:06] davidwright commented on #48111
Sorry I should have included those details in the original post - I thought I had but didn't. Yes using return_bin will download the file, that is not what I am trying to do. I am trying to fetch the list of headers available for the file.  I found a workaround using s3.head to get a dictionary of headers and values but s3.get should return a list of the file headers available. It works correctly

[2018-06-14 14:06] gtmanfred commented on #48122
This is only broken when using the system pip3, if you use a virtualenv to install, it will use the correct python from the virtualenv, and -m pip, so it will work there.

This change was made to allow the pip module to be able to upgrade itself.

[code]

I am marking this as a blocker for 2018.3.3, to fix this behavior.

(normally it would be 2018.3.2, but that is going to be a very narrow releas

[2018-06-14 14:14] frankthetank commented on #48107
The git keys are defined in the global git_pillar_*key since all of my repositories are accessed by the same git user.

As far as working, I've never had the pillar data pulling from git due to this error.  All pillar data this far was from the local (server) filesystem.  I do have salt started pulling from git, though.

[2018-06-14 14:32] bowmanjd-lms opened #48128 "apk.py Python 3 compatibility"
https://github.com/saltstack/salt/blob/9a0ec9c30f65338dda31613516ac8a6121dfb0cb/salt/modules/apk.py#L307

In Python 3, this yields `TypeError: 'dict_keys' object does not support indexing`

Similar to Issue #40437

I suggest:
`next(iter(p)) for p in pkgs`

PR #48131

[2018-06-14 14:33] damon-atkins commented on #48110
from https://docs.python.org/3/tutorial/inputoutput.html

text mode, the default when reading is to convert platform-specific line endings (\n on Unix, \r\n on Windows) to just \n.

I would assume about would add platform-specific line endings

[code]
**_get_eol will never see the line endings unless the file is open in binary mode.**  From what I can tell its open in text mode on Unix and Windows

[2018-06-14 15:08] damon-atkins commented on #48110
I have made a few comments about Text Process in a few PR/Issues.   Can be start a Discuss PR about what the requirements are and the assumptions.  For example py3 introduced a newline option.

newline controls how universal newlines works (it only applies to text mode). It can be None, '', '\n', '\r', and '\r\n'. It works as follows:

https://docs.python.org/release/3.2/library/functions.html#ope

[2018-06-14 15:13] garethgreenaway commented on #48112
Thanks everyone.  Appears to be an issue with the pycryptodomex we're providing on the SaltStack repo.  We'll get that fixed up ASAP.

[2018-06-14 15:17] rmarchei opened #48130 "Minion timeouts with 2018.3.1"
### Description of Issue/Question

Since I upgraded to 2018.3.1 from 2017.7.6 I have a minion in a different datacenter that is timing out when I run salt from the master (i.e. with `salt vpn\* state.apply -l debug`):

[code]
If I use `salt-call` and start the highstate from the minion, it completes correctly.

timeout value was the default one (5). Now to avoid the timeout I have to put a value h

[2018-06-14 15:22] BenjaminSchiborr opened #48132 "Dynamic File Roots"
### Description of Issue/Question
In our current environment we are using a mixture of information coming out of a git repository and from a local salt file server. Historically all information was always taken from the saltenv base environment (as in the master branch of the git repository and files that were locally on disk configured as the base saltenv)

However, we are moving forward to a new

[2018-06-14 15:23] garethgreenaway commented on #48113
@gaetanquentin Thanks for the report.  We'll get this one fixed up asap.

[2018-06-14 15:45] garethgreenaway commented on #48118
@doc987 Thanks for the report.  This would be useful, marking it as a future feature request.

[2018-06-14 15:46] dmurphy18 commented on #48112
@martinrm77 FYI the older versions are always available, you just need to use the instructions to
'Pin to Minor Release' and set the version to whichever one you want,for example 2017.7.6 -> 2017.7.5 for the previous release.

Looking into the pycryptodomex issue

[2018-06-14 15:46] garethgreenaway commented on #48128
@bowmanjd-lms Thanks for the report and the PR!

[2018-06-14 16:07] garethgreenaway commented on #48120
@WangWenchao Thanks for the report.  Appears to be a bug.  The grain should contain all the ipv4 addresses that the system is configured with.

[2018-06-14 16:08] garethgreenaway commented on #48123
@c-wicklein Thanks for the report.

[2018-06-14 16:13] #39266 closed

[2018-06-14 17:04] dmurphy18 commented on #48112
Python 3 version works fine, examining failures in Python 2 version

[2018-06-14 17:34] nickgarber opened #48139 "(feature) Allow `state.single` to accept a path to a SLS file to run"
### Description of Issue/Question
 Allow `state.single` to accept a path to a state file to run

For example:

[code]

I find that I'll often switch back and forth between YAML stanzas and CLI `state.single` calls while testing and sometimes wish there was less translating in that process.

Use Cases include:
 - embedding stand-alone states inside systemd service units and shell scripts
 - increme

[2018-06-14 17:51] gtmanfred commented on #48132
Correct, you have to specify the different env's in file_roots.

I am going to mark this as a feature request.

@terminalmage you might be interested in this request.

[2018-06-14 18:04] garethgreenaway commented on #48139
The state module has a `template` function that I believe will accomplish what you want:
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.state.html#salt.modules.state.template

[2018-06-14 18:21] zerthimon opened #48141 "salt-api request causes exception"
[code]

[code]

[2018-06-14 18:36] zerthimon commented on #48141
Seems to happen only for "batch" jobs.

[2018-06-14 18:46] garethgreenaway commented on #48124
@bhanukumar22 Thanks for the report.  On the AIX and HPUX machines, what is the version of Python that is installed?

[2018-06-14 19:13] garethgreenaway commented on #48127
@qiangshui thanks for the question.  This does not appear to be possible currently.

[2018-06-14 19:14] garethgreenaway commented on #48130
@rmarchei Thanks for the report.  Are other salt commands also timing out, for example is `test.ping` timing out when run against the minion in question?

[2018-06-14 19:29] garethgreenaway commented on #48120
@WangWenchao Looking closer at the information above you appear to be running the two commands against two different machines.  By default, `network.ipaddrs` does not include the loopback device when it is called to populate the `ipv4` grains value, it includes the parameter (include_loopback=True) to include the loopback device.  If you run both commands against the same machine, including `inclu

[2018-06-14 19:33] jeffclay opened #48142 "Exception thrown if you ctrl-c from a master -> minion command"
On a newly updated master from 2018.3.0 to 2018.3.1 running on CentOS-7 with everything up to date, if you run the command 'salt MINION-ID test.ping' then press ctrl-c you get the error below.

[code]

### Versions Report
[code]

[2018-06-14 19:40] zerthimon commented on #48130
Having the same problem after upgrade.
I'm getting timeouts when running long jobs like state.highstate from minions that are 'far' from the master.
Adding -t 600 to salt command helps.

[2018-06-14 19:42] rmarchei commented on #48130
`test.ping` is ok. Running a single state fails if it lasts more than the
timeout

On Thu, Jun 14, 2018, 21:14 Gareth J. Greenaway <notifications@github.com>
wrote:

[2018-06-14 21:38] jeffclay opened #48144 "top file not matching multiple environments for highstate on 2018.3.1"
after updating to 2018.3.1 from 2018.3.0 highstates do not work without specifying the saltenv flag. this was reproduced on windows 10 minions and centos7 minions using a centos7 master also running 2018.3.1.  all systems completely up to date.

[2018-06-14 21:39] gtmanfred commented on #48144
This is the gist we talked about in IRC

https://gist.github.com/jeffclay/5340d3777453ec73deedaf67c754527f

[2018-06-14 21:40] jeffclay commented on #48144
https://gist.github.com/jeffclay/5340d3777453ec73deedaf67c754527f

[2018-06-14 21:48] jeffclay commented on #48144
## Master salt --version
[code]

## Linux minion
[code]

## Windows minion

[code]

[2018-06-15 02:02] doc987 commented on #48118
Just to clarify, the last paragraph is a feature request, but I think the rest describes a bug.  selinux.module should be reporting when changes are made.

[2018-06-15 02:14] WangWenchao commented on #48120
thank your point out  .  Here is the different of the output
[code]

[2018-06-15 03:42] doc987 commented on #1349
Another option for a persistent file context rule is to use an SELinux policy module.  The example below sets the SELinux context that should be assigned based on the current policy.  In other words, if the path exists, and it does not have the right context, run ```restorecon``` to fix it.
[code]
Note that there is an issue using a requisite to trigger an action upon SELinux module changes (#4811

[2018-06-15 03:48] garethgreenaway commented on #48120
That makes more sense. Looks like it's not picking up the additional ip addresses.

[2018-06-15 07:15] max-arnold opened #48145 "Failed to load ext_pillar saltclass: can only assign an iterable"
### Description of Issue/Question

Saltclass is not compatible with existing reclass tree - it fails on empty yaml keys.

### Steps to Reproduce Issue

Example class `consul.yml`:

[code]

The place where it fails with Exception:

[code]

This is printed before the exception:
[code]

And this is the exception itself:

[code]

### Versions Report

<details><summary>salt --versions-report</summary>

[2018-06-15 08:02] rmarchei opened #48146 "mysql_query.run: exception on 2018.3"
### Description of Issue/Question

On Salt 2018.3 running this state raises an exception (tested with salt and salt-ssh):
[code]

[code]

This used to work on 2017.7.

I'm currently able to reproduce it only with the query `PURGE BINARY LOGS BEFORE NOW()`

Running the same query via module works as expected:
[code]

**EDIT**:
I've just noticed if I remove `output: None` from my state, everything w

[2018-06-15 09:12] max-arnold commented on #48145
Simple fix:

[code]

@olivier-mauras

[2018-06-15 11:18] zerthimon commented on #47361
Something weird is going on with this state.
From what I observed, when the service is dead and needs to be started AND enabled it's only gets started. The next run enables the service.

[2018-06-15 11:29] olivier-mauras commented on #48145
Thanks for the fix, do you mind sending a PR directly?

[2018-06-15 12:48] gtmanfred commented on #48145
would it be better to do `isinstance(expanded_classes[klass], dict) and 'classes' in expanded_classes[klass]`?

If one of yall would be able to submit a PR we would greatly appreciate it.

Thanks!
Daniel

[2018-06-15 12:51] gtmanfred commented on #48146
Thanks for reporting this, we will get it fixed.

Daniel

[2018-06-15 12:57] nickgarber commented on #48139
Cheers @garethgreenaway, thanks for that!

For anyone interested, here's an example incantation I've settled on for interactive, cut/paste states:
[code]

I think there should be a `read` and `$REPLY` herestring incantation that could also shake out of this.

[2018-06-15 12:57] #48139 closed

[2018-06-15 12:58] gtmanfred commented on #48142
Confirmed.

@DmitryKuzmenko would you be able to help with this when you get a second?  It popped up with the work for tornado 5.0, and I think something is just falling through getting caught and printing out the jid, so that it can be looked up after the job finishes.

Thanks,
Daniel

[2018-06-15 13:18] gtmanfred commented on #48144
I have replicated this using the container `gtmanfred/issues:48144`

[code]

Right now in the container, salt is installed with pip, if I downgrade to 2018.3.0, everything works as expected.

Note: The container also contains a `/stop.sh` that will kill off the salt processes.
There is also an alias for salt to be `salt -c /etc/salt/master`, all the minions live in `/etc/salt`.

@terminalmage can

[2018-06-15 13:30] gtmanfred commented on #48142
Duplicate #47901

[2018-06-15 13:30] #48142 closed

[2018-06-15 13:40] rallytime commented on #46392
@jose1711 This has been fixed with #47956. Do you want to give that a try?

[2018-06-15 13:47] x70b1 commented on #36402
Hi dudes

I am not sure what the current work status is. I can confirm that this problem still exists in `2018.3.0 (Oxygen)`. Setting the parameter `priority=''` works as a workaround. But that there is no error message is a bit confusing.

[2018-06-15 13:49] rallytime commented on #48146
@garethgreenaway can you fix this one up?

[2018-06-15 14:08] Ch3LL commented on #46361
thanks for clarifying that point.

ping @saltstack/team-core any ideas here?

[2018-06-15 14:11] Ch3LL commented on #45339
To clarify you are just seeing these messages but the returns occur? In other words the functionality is okay. There could be some possible network latency causing these timeouts. What command are you running when you see the command?It would be normal to see these errors if you do have issues on the network.

[2018-06-15 14:11] Ch3LL commented on #47713
Thanks for your help on this @msciciel really appreciate it :)

[2018-06-15 14:11] #47713 closed

[2018-06-15 14:13] Ch3LL commented on #47961
apologies I am not versed in this area at all. let me try to get someone from the network team.
ping @saltstack/team-network any chance you can take a look here.

[2018-06-15 14:14] Ch3LL commented on #47539
no worries just wanted to make sure it was on your radar. thanks :)

[2018-06-15 14:15] meaksh opened #48153 "How to check which are the Salt capabilities available on the minion?"
### Description of Issue/Question
When writing SLS files for states, it would be really useful to know if the Salt version installed on the minion is providing certain feature/capability.

I would really like a mechanism that allows something like this in an SLS state file:

[code]

So it's easy to establish a workaround in case the needed Salt capability is not available.

I've created a PR to in

[2018-06-15 14:18] akrus commented on #45339
It's the same DC, so latency is less than 1 msec there. This is example what was appearing:

[code]

Anyway with key_cache it's working well now.

[2018-06-15 14:19] Ch3LL commented on #43150
looks like this is something that still needs to be fixed. Please feel free to push a PR if you can as this is not currently assigned out. It seems the solution would be to use a different command to query the md127 devices.

[2018-06-15 14:50] Ch3LL commented on #48073
ahh thanks for clarifying. Might be best to use saltstacks reactor which can run some states after certain events. Here are the docs for the reactor: https://docs.saltstack.com/en/latest/topics/reactor/

Essentially you can create the node and salt-cloud will create events once its created adn started. And once that event is seen you can have the reactor run certain states adn then once it restart

[2018-06-15 15:00] Ch3LL commented on #48093
it should not but please open an issue if you see any problems

[2018-06-15 15:05] #33175 closed

[2018-06-15 15:05] #32706 closed

[2018-06-15 15:05] #28124 closed

[2018-06-15 15:05] #33813 closed

[2018-06-15 15:05] #13419 closed

[2018-06-15 15:05] #34903 closed

[2018-06-15 15:05] #30711 closed

[2018-06-15 15:05] #34868 closed

[2018-06-15 15:05] #34362 closed

[2018-06-15 15:05] #14002 closed

[2018-06-15 15:05] #32059 closed

[2018-06-15 15:05] #34674 closed

[2018-06-15 15:05] #34602 closed

[2018-06-15 15:05] #34635 closed

[2018-06-15 15:05] #34743 closed

[2018-06-15 15:06] #34735 closed

[2018-06-15 15:06] #34810 closed

[2018-06-15 15:06] #34856 closed

[2018-06-15 15:06] terminalmage commented on #48144
I see the problem and am working on a fix.

[2018-06-15 15:06] #34804 closed

[2018-06-15 15:06] #15651 closed

[2018-06-15 15:06] #34881 closed

[2018-06-15 15:06] #34944 closed

[2018-06-15 15:06] #34958 closed

[2018-06-15 15:06] #34922 closed

[2018-06-15 15:06] #8604 closed

[2018-06-15 15:06] #34719 closed

[2018-06-15 15:49] gtmanfred commented on #48130
Can you give us any more information?

If I put a time.sleep `600` in a state, i am still not running into this issue.

[code]

Can you provide us with some states that replicate this issue?

Thanks,
Daniel

[2018-06-15 15:53] max-arnold commented on #48145
I'll submit the PR.

@gtmanfred Are you sure that `expanded_classes[klass]` is a `dict`? In all these examples it is a list: https://docs.saltstack.com/en/latest/topics/releases/2018.3.0.html#new-saltclass-pillar-master-tops-modules

[2018-06-15 16:02] rmarchei commented on #48130
I can easily replicate the issue even this way:

[code]

I have many minions and this is the only one that fails after upgrading to 2018.3 (and downgrading both master and minion to 2017.7.6 solves the issue).
Salt master is in a datacenter in US and the minion is in UK, so they are far away from each other and this seems to be what triggers the issue

[2018-06-15 16:05] golmaal commented on #46905
I'm seeing this issue now in 2017.7.6 release as well.

@isbm really sorry for such a late reply. Is there anything in particular you're looking for?

[2018-06-15 16:05] #34669 closed

[2018-06-15 16:05] #34494 closed

[2018-06-15 16:05] #34747 closed

[2018-06-15 16:05] #34657 closed

[2018-06-15 16:05] #34761 closed

[2018-06-15 16:05] #13174 closed

[2018-06-15 16:05] #34777 closed

[2018-06-15 16:05] #34789 closed

[2018-06-15 16:05] #34785 closed

[2018-06-15 16:05] #33950 closed

[2018-06-15 16:05] #32122 closed

[2018-06-15 16:05] #34813 closed

[2018-06-15 16:05] #29465 closed

[2018-06-15 16:05] #13635 closed

[2018-06-15 16:06] #34598 closed

[2018-06-15 16:06] #32256 closed

[2018-06-15 16:06] #34802 closed

[2018-06-15 16:06] #34836 closed

[2018-06-15 16:06] #32671 closed

[2018-06-15 16:20] GitHubAre commented on #48073
I understand the part when I will hookup my state file to machine start event (or cloud event). Which I am not certain about is how to continue after I reboot the computer. What I assume is that it will reboot - for example after joining to active directory domain and once it reboots it will fire another new event and it will run the same state file as it did before the reboot. The difference will

[2018-06-15 16:28] cachedout commented on #48130
Can we see debug logs on the minion for one of these failed jobs please?

[2018-06-15 16:43] Ch3LL commented on #48111
when trying to put hte archive file up in the bucket i am getting this error:

[code]

with this command: `sudo salt-call --local s3.put ch3lltest "test.zip" local_file="/home/ch3ll/test.zip" -ldebug`  I tested with a normal text file adn was able to push up fine.

I know you are showing the `s3.put` command but did you push your zip file up that way or manually upload it via aws console just to c

[2018-06-15 16:45] rmarchei commented on #48130
minion debug log:
[code]

[2018-06-15 16:47] Ch3LL commented on #48078
can you just try starting hte minion process on the same minion with `salt-minion -ldebug` and see if it fails or not?

As stated previously the master isn't supported on macosx

[2018-06-15 16:54] gtmanfred commented on #48130
Can you run this in a second session on the master?

[code]

And then run

`salt 'vpn01.*' -t 5 state.apply test.sleep`

in a different terminal, and see if you get a saltutil.find_job return back in the output of `salt-run` before the timeout happens from the state.apply?

Thanks,
Daniel

[2018-06-15 16:56] gtmanfred commented on #48145
If it is not a dict, then `+           if expanded_classes[klass].get('classes'):` won't work.  because only dicts have a .get function.

I was just going off what you posted above.

[2018-06-15 17:02] rmarchei commented on #48130
I got this:
[code]

at this point the master failed. But then I also got (I guess when the job finished on the minion):
[code]

[2018-06-15 17:04] gtmanfred commented on #48145
Nevermind, I understand what you are trying to do now, approved PR, thanks for the integration test too!

[2018-06-15 17:15] #47031 closed

[2018-06-15 18:02] terminalmage commented on #48144
Fix is done but I'm adding more testing to catch this in the future. We already had unit testing to test our top file merging, but it was simply testing the merge functions themselves. This bug happened further up the chain and was not caught by those tests.

[2018-06-15 19:04] dwoz commented on #46507
I ran into this today. It only happens using python 2.

[code]

[2018-06-15 19:12] dmurphy18 commented on #48112
Fixes associated with Salt 2018.3.1 for Python 2 and Python 3 have been sent to QA

[2018-06-15 20:01] gtmanfred commented on #48130
I just submitted a PR that fixed this for us, can you try it out?

`patch -Np1 -d /usr/lib/python2.7/dist-packages/ < <(curl -sL https://github.com/saltstack/salt/pull/48158.diff)`

Thanks,
Daniel

[2018-06-15 20:30] OrlandoArcapix commented on #48112
Very quick workaround for those needing it:

[code]

[2018-06-15 20:40] pguinardco opened #48160 "Saltstack Coreos service provider"
### Description of Issue/Question

Service.running does not work while running on coreos.

### Setup
_0_, facility0_.updated_dt as updated_7_11_0_, facility0_.collateral_type as collater8_11_0_, facility0_.collection_date_id as collect14_11_0_, facility0_.default_lender_id as default_9_11_0_, facility0_.determination_date_id as determi15_11_0_, facility0_.facility_n{"timestamp":"2018-06-15T13:34:0

[2018-06-15 20:48] kt97679 commented on #16417
Please don't close this issue.

[2018-06-15 20:52] rmarchei commented on #48130
Worked! Thanks for the quick fix!

[code]

[2018-06-15 20:57] dmurphy18 commented on #48112
Fixes associated with Salt 2017.7.6 for Python 2 and Python 3 on Redhat 7 & 6 have been sent to QA

Given time of day in Mountain States USA, if QA passes the fixes, then the respective repos should be updated beginning next week.

[2018-06-15 21:12] gtmanfred commented on #48130
Awesome! thanks for verifying!

Daniel

[2018-06-15 21:14] samc-6ft opened #48163 "service.running times out while waiting on a Windows service that starts successfully after 90 seconds."
### Description of Issue/Question
I have a service that has a long startup time; greater than 90s.  Unfortunately this is something I can't control as the software is not mine.  When running a service.running against the minion hosting the service Salt reports the service failed to start after 90 seconds.  After logging into the minion and checking the services list the service was still starting

[2018-06-15 21:21] samc-6ft commented on #48163
I should add that the minion is running Windows Server 2012 R2 Standard.

[2018-06-15 21:27] #16660 closed

[2018-06-15 22:38] garethgreenaway commented on #48120
@WangWenchao So far I haven't been able to duplicate this one, the `ipv4` grains is populated by the `network.ipaddrs` module so if the IPs are showing up there they should be showing up in the grain.  How are you adding in the additional IP addresses?

[2018-06-15 22:39] teran-mckinney commented on #48122
This is also a blocker for me. I hope 2018.3.3 is ready soon, will stick with 2018.3.0 for now.

[2018-06-16 01:48] terminalmage commented on #48144
Fixed in https://github.com/saltstack/salt/pull/48165

[2018-06-16 01:49] terminalmage commented on #48144
@gtmanfred tested my WIP code earlier today and confirmed the fix.

[2018-06-16 01:58] terminalmage commented on #46660
I had to revert the changes made by @folti, as the way this was working was expected behavior. https://github.com/saltstack/salt/pull/46751 broke this because setting the environment manually in the opts ensures that *only* that environment is considered when finding top file matches.

To work around conflicting IDs using gitfs, consider using [state_top_saltenv](https://docs.saltstack.com/en/late

[2018-06-16 02:01] gtmanfred commented on #48122
Looking at August for 2018.3.3.

But it should be an easy dropin fix for the module, once it is fixed.

https://docs.saltstack.com/en/latest/ref/file_server/dynamic-modules.html

On Fri, Jun 15, 2018, 5:39 PM Teran McKinney <notifications@github.com>
wrote:

[2018-06-16 03:35] davidwright commented on #48111
I used the put command. The commands I listed are the ones I used to
reproduce the issue after I had narrowed down the cause. Although I am not
connecting to Amazon s3 but an in house s3 compatible storage array.

On Fri, Jun 15, 2018, 10:43 AM Megan Wilhite <notifications@github.com>
wrote:

[2018-06-16 10:35] kiemlicz commented on #48010
To be honest: it worked... at least I think it did... slightly differently written:
[code]
But now (2018.3.1) it does not...
The same code causes to initialize git but doesn't initialize remotes. Thus in logs I see:
[code]
In the `/var/cache/salt/master/git_pillar/...` I can find empty repostory without branch checkout
How do I fix this? How to pass the `init_remotes` ?

[2018-06-16 16:27] #34855 closed

[2018-06-16 17:27] #34839 closed

[2018-06-16 19:27] #35004 closed

[2018-06-17 01:30] boltronics commented on #19056
I really think this issue should be reopened. `file.manage_file` has got to be one of the more popular execution modules but is still a mess to work with. Why does it take a fixed number arguments? The documented arguments in the example aren't even correct at the time of writing in the latest stable release (although I see a PR has made it into master recently to address that). It's not surprisin

[2018-06-17 06:32] akbhat commented on #46905
Upgraded from 2017.7.5 to 2017.7.6 and now seeing the same crash when executing a runner.

[DEBUG   ] Initializing new AsyncZeroMQReqChannel for ('/etc/salt/pki/minion', 'seed1', 'tcp://192.168.122.97:4506', 'clear')
[ERROR   ] Exception in callback <functools.partial object at 0x7fb59d952520>
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/tornado/ioloop.py", line 592,

[2018-06-17 08:00] max-arnold opened #48167 "Saltclass performance"
### Description of Issue/Question

As noted in the https://github.com/saltstack/salt/pull/42349#issuecomment-397536143, the performance is significantly degraded

### Setup

Amount  of reclass files:

[code]

### Steps to Reproduce Issue

Salt 2017.7.0, reclass:
[code]

Salt 2018.3.1, saltclass
[code]

**Almost 50% of the time is spent in `get_class` doing this over and over for each class**

[cod

[2018-06-17 10:55] sugizo commented on #48078
[code]

same error for both salt --version-report and salt-minion -ldebug, think the problem is not about the salt-master

[2018-06-17 11:02] max-arnold commented on #47126
I made a fork of `reclass` which fixes this issue https://github.com/max-arnold/reclass/commits/maintenance and also ported reclass to Python 2.7/3.6.  This fix took less time than migration attempt to built-in `saltclass`.

Briefly tested this with Salt 2018.3.1, Python2.7/Python3.6 and existing reclass tree (~300 classes, ~70 nodes). Any feedback/bugs are appreciated.

[2018-06-17 11:31] boltronics commented on #44639
This still seems to be a problem in 2018.3.1.

[2018-06-17 13:42] WackyOne opened #48168 "Support for new system role 'Transactional Server' in openSUSE Leap 15.0"
openSUSE Leap 15.0 has added a new system role called _Transactional Server_, which features a new update system that applies updates atomically (as a single operation) and makes them easy to revert should that become necessary. It is an outcome of the openSUSE Kubic effort.

To work with transactional updates, the command **transactional-update** is used instead of YaST and Zypper for all softwar

[2018-06-17 14:17] adamsewell opened #48169 "win.powercfg documentation is incorrect"
### Description of Issue/Question
The documentation located https://docs.saltstack.com/en/latest/ref/states/all/salt.states.win_powercfg.html states that the value for set_timeout is in minutes but it's actually in seconds.

[2018-06-17 15:48] kedare commented on #46665
I confirm this is more than needed.
We have some huge highstate (and on Windows...) that can take between 30 minutes and 1h to apply, it's very frustrating to not have any progress report

[2018-06-17 16:36] max-arnold opened #48170 "Multiple issues with Saltclass variable expansion"
### Description of Issue/Question

I spent more than 2 days trying to migrate existing reclass tree to saltclass (introduced in https://github.com/saltstack/salt/pull/42349) and found multiple issues with saltclass variable expansion.

1. Variable expansion doesn't work at all under Python 2.7

The reason is that checking for `str` is not enough, strings can also be `unicode` with 2.7: https://git

[2018-06-17 16:36] rklaren commented on #47633
Update: time was a bit more elusive, and I ran into another bug while testing (a problem with a newer libvirt version in Fedora). I'm traveling next week and will probably not be able to work on it. I'll get back on it towards the end of the month. I pushed the work in progress in a branch https://github.com/rklaren/salt/tree/fix-saltcloud-libvirt-python3 so you can see if the xml conversion chang

[2018-06-17 17:27] thebluesnevrdie commented on #44050
@terminalmage @garethgreenaway This looks like it was taken care of in #44188 and can be closed.

[2018-06-17 18:21] #35006 closed

[2018-06-17 19:31] rallytime commented on #48146
@rmarchei This should be fixed in #48164. Can you give that a try?

[2018-06-17 19:34] rallytime commented on #48113
@gaetanquentin This should be fixed with #48156.

[2018-06-17 19:39] rmarchei commented on #48146
Works perfectly, thanks!

[2018-06-17 21:10] #44050 closed

[2018-06-18 00:50] angeloudy commented on #8249
An interactive shell would be very useful. In our environment, salt master manages some minions in different locations and there are firewalls between them. To run a command on the minion, I have to execute `salt 'minion_id' cmd.run 'something'`, which is not effective if I want to run a lot of commands.

[2018-06-18 09:06] prashanthtuttu commented on #47961
@saltstack/team-network , any update on my request?

[2018-06-18 09:20] mirceaulinic commented on #47961
Hi @prashanthtuttu - yes, there's an issue with that state. You can use https://docs.saltstack.com/en/latest/ref/states/all/salt.states.netconfig.html, or simply use this pre-written formula: https://github.com/saltstack-formulas/napalm-ntp-formula/.

[2018-06-18 09:30] mirceaulinic commented on #47392
Hey guys. Thanks for clarifying this @whytewolf - yes, it's a general issue with Cisco platforms to be completely different in terms of commands and their output provided. If you know the maintainers of the sg350 community driver for napalm, please inform them that they might want to submit their driver to https://github.com/napalm-automation-community so everyone will be aware of their work. Than

[2018-06-18 09:44] dgengtek commented on #46485
I get exactly the same exception as lxs. Selinux is disabled.
[code]
[code]

[2018-06-18 09:55] prashanthtuttu commented on #47961
Thank you @mirceaulinic - Let me give it a try on the same.
Also when i write my own custom modules and do a salt-call , i get error like module not found though the standalone python script works. Is there something im missing here?

[2018-06-18 10:03] mtorromeo commented on #33668
This should have been fixed by 479c8dee

[2018-06-18 12:10] msciciel commented on #47858
How to reproduce:
1. curl -o /etc/nova.conf https://docs.openstack.org/nova/latest/_downloads/nova.conf.sample
2. create /srv/salt/test.sls:
[code]
3. salt-call --local state.sls test -l debug

Result:
[code]

[2018-06-18 13:09] epcim commented on #47126
Seems to me as fixed by this: https://github.com/salt-formulas/reclass/pull/49
(can someone confirm independently, that reclass on that branch is passing)

(way to force_install_reclass on any CI env:
https://github.com/salt-formulas/salt-formulas-scripts/blob/master/bootstrap.sh#L407
[code]

[2018-06-18 13:10] #48146 closed

[2018-06-18 13:17] rallytime commented on #48122
@gtmanfred Can you get this fixed up for the 2018.3.3 release?

[2018-06-18 14:11] mmulqueen opened #48184 "Invalid DMI prevents salt-minion from running"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

Salt is setup with the default settings, except the master and master_finger settings.

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

I've only been able to see this bug on one machine. I've deployed an identical setup on other machines

[2018-06-18 14:58] PhilCANDIDO opened #48187 "[salt syndic] : Error targeting minions"
### Issue Description
I realize a architecture with a master, syndic and minions managed by syndic.
The architecture is detailled in section _Description of architecture_

The master is the server __prv01.lan__.
The syndic is the server __prv02.dmz__.
The minion is the server __api01.dmz__.

From the master :
When I try the command test.ping on all minions, I have a response :
[code]
We can not ta

[2018-06-18 15:36] silenius commented on #47502
please, please, please ... would it be possible to add a test case for this... it was "silently hidden" during 2018.3.0 upgrade and caused (tons of) machines/VM to become unbootable ...

thanks

[2018-06-18 16:10] robertpenberthy commented on #48020
@Ch3LL Since he hasn't responded and I have just found this same issue after upgrading to 2018.3.1 on Friday, I'll add some additional information.

I find that I cannot get mine data from the master with salt-run commands.  This is a problem as any mine data you want to use to control the flow of your orchestration or pillar will fail because they're rendered on the master (which is why saltutil.

[2018-06-18 16:46] gtmanfred commented on #48145
Looks like the fix for this has been merged.

[2018-06-18 16:46] #48145 closed

[2018-06-18 17:51] gtmanfred commented on #48122
Yeah.

[2018-06-18 18:05] #43286 closed

[2018-06-18 18:06] #45900 closed

[2018-06-18 18:12] gtmanfred commented on #48122
This will be fixed by https://github.com/saltstack/salt/pull/48189

Just waiting on verifying that this doesn't break anything on windows.

[2018-06-18 18:37] max-arnold commented on #48145
Sorry that I haven't closed the issue. My impression was that it should be done after a merge-forward is completed.

[2018-06-18 18:44] gtmanfred commented on #48145
No worries, i just happened to come across the issue today, and saw the fix was merged.

[2018-06-18 20:05] #47327 closed

[2018-06-18 20:06] Ch3LL commented on #48160
duplicate of https://github.com/saltstack/salt/issues/38931  closing here and you can monitor issue there. thanks :)

[2018-06-18 20:06] #48160 closed

[2018-06-18 20:14] Ch3LL commented on #48163
looks like for the win_service module it checks for the status here: https://github.com/saltstack/salt/blob/v2018.3.1/salt/modules/win_service.py#L416

which RETRY_ATTEMPTS is hardcoded to 90.

ping @saltstack/team-windows is there purpose behind hardcoding this value?

[2018-06-18 20:18] Ch3LL commented on #48168
ping @saltstack/team-suse any comments here?

[2018-06-18 20:28] metashock commented on #47629
@msupinodn

Wich value did you change in the config?

[2018-06-18 21:58] garethgreenaway commented on #48141
@zerthimon Can you provide information about how your calling the Salt API?  Any reactors you're using, etc.?  That will help us be able to reproduce the issue and hopefully fix it.  Thanks!

[2018-06-18 22:00] ari commented on #47502
On the plus side, 2018.3.0 was such a buggy release (especially on FreeBSD) that I can't figure how anyone even managed to get it to run. The -O1 optimisation in FreeBSD ports completely broke it. So the impact is less than it might have been.

[2018-06-19 03:28] #34952 closed

[2018-06-19 04:27] damon-atkins commented on #48163
Windows Start and Stop Services have 30 seconds to respond.   If they do not respond the service goes into an error state.
https://msdn.microsoft.com/en-us/library/windows/desktop/ms685149.aspx

Anything over 35 is most likely wasting time.

[2018-06-19 04:39] damon-atkins commented on #48163
Windows Start and Stop Services have 30 seconds to respond. If they do not respond the service goes into an error state.

However seems there are work around for it.
https://msdn.microsoft.com/en-us/library/windows/desktop/ms685149.aspx

Could you stop the service and start it and run this every 10 seconds until it has started.
salt-call  service.info name_of_service

Does the service have any dep

[2018-06-19 05:03] msupinodn commented on #47629
the value of interface

https://docs.saltstack.com/en/2017.7/ref/configuration/master.html#interface

[2018-06-19 07:43] max-arnold commented on #48170
Cc: @olivier-mauras

[2018-06-19 08:02] sundowner69 opened #48196 "poor performance of the state system in long distance connections"
### Description of Issue/Question
We see significant poor performance in the state system compared to execution system if dealing with minions far away from home.
Our guess is that salt delivers much more data next to the "state.apply" event e.g. grains, pillars etc. which will slow down the process. Since we have a couple of states more (several hundred) in one highstate it takes half an hour and

[2018-06-19 08:03] olivier-mauras commented on #48170
@max-arnold this has been reported in https://github.com/saltstack/salt/issues/47634

PR has been merged

[2018-06-19 08:20] isbm commented on #48168
@WackyOne, the transactional update is not what you think. It is not used _instead_ of YaST and Zypper. What it actually does is that it _wraps_ Zypper, allowing you to update read-only FS by taking snapshot of it, install all the packages you would need into it, save it, and then tell you which it is. So then the next time you reboot into this snapshot, you will have your software available. In c

[2018-06-19 08:49] jasonvoor opened #48197 "after upgrade to 2017.7.6 highrun is not possible"
### Description of Issue/Question
as soon as a minion is upgraded to 2017.7.6 a highrun is not possible (Error message: "No Top file or master_tops data matches found.")
downgrade of the minion resolves the issue again.

### Setup
we use one top.sls in "base" which covers "playground" and "prod" environments:
[code]

### Steps to Reproduce Issue
show below is a test on the saltmaster itself, but t

[2018-06-19 09:13] chaudum opened #48198 "Certain states never return and create infinite loop on minion"
### Description of Issue/Question

Since the update to 2018.3.1 we encounter the following problem: certain states never return. From looking at the minion logs it seems the job is stuck in an "infinite loop" on the minion and it never returns to master.

### Setup

I've created a setup with two state files. The first returns, the 2nd doesn't:

#### SUCCESS
[code]

Minion log:
[code]

#### FAILURE

[2018-06-19 09:20] tsenay commented on #47704
sorry for delay, I wasn't working on that project for a while.

I finally found by accident the real issue. The problem is not on file sync but elsewhere

The context contain the 'env' item. I saw in logs a deprecation message about about the env variable.
I've renammed the 'env' item to 'environment' and the issue disapears

change block
[code]
to
[code]

makes everything work again.

[2018-06-19 10:05] max-arnold commented on #48170
Unfortunately, I can't test this with the latest develop branch. It fails with the following exception:

[code]

[2018-06-19 10:07] max-arnold commented on #48170
Also, is it normal that during `salt-call --id example.com pillar.data` this function is called twice (exception above is displayed twice)?

[code]

[2018-06-19 11:04] amuhametov opened #48200 "virtualenv pip.freeze error"
### Description of Issue/Question
Getting error after update 2016.11.6->2017.7.6

      Name: /usr/local/python36/venv
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/usr/lib/python2.7/site-packages/salt/state.py", line 1879, in call
                  **cdata['kwargs'])
                File "/usr/lib/python2.7/site-pa

[2018-06-19 11:05] amuhametov commented on #48200
@rallytime Hi, take a look at this please.

[2018-06-19 11:36] oarmstrong commented on #48066
Sorry for the ping but can you have a look at my update please @gtmanfred ?

[2018-06-19 11:50] WackyOne commented on #48168
Thanks @isbm , it's good to know it is being worked on. How will the module interact with a `pkg.installed` state? It sounds like it won't just call the `transactional-update` command.

[2018-06-19 12:16] isbm commented on #48168
It should be something more extended than just `pkg.installed`, as it installs "elsewhere", not on the direct machine (though it is). So the changes take effect only after the complete reboot. And therefore it should be treated more like a work with the snapshots. This is why I think here more sort of a separate, snapshot-aware approach, rather then direct installation.

[2018-06-19 13:03] marceliq commented on #48020
It does not work for me either. Same behavior on 2018.3.1.

[2018-06-19 13:07] gtmanfred commented on #47704
Well, first, your are not passing anything to the context dictionary, context in this case is null.

[code]

But that is just a problem with yaml.

@terminalmage were you the one that deprecated env for environment? it seems like it might not be working with the deprecation.

Thanks!
Daniel

[2018-06-19 13:10] gtmanfred commented on #48066
Which home are you trying to set? your users home or root's home?

You can set HOME in the a systemd dropin file.

[code]

And that should set it on the environment in the service.  This is specifically a systemd thing since it isn't actually a shell, it doesn't get all the environment variables, so you have to set what you need on the systemd service.

[2018-06-19 13:59] jwokaty commented on #46962
#46919 fixed my issue.

[2018-06-19 13:59] #46962 closed

[2018-06-19 14:02] zerthimon opened #48204 "State mysql_user.present Exception with mysql 8.0.11"
### Description of Issue/Question
[code]

### Setup
[code]

### Versions Report
[code]

[code]

[2018-06-19 14:04] rallytime commented on #44366
@brianthelion This should be fixed with #48182

[2018-06-19 14:15] zerthimon commented on #48204
looks like this is because password() function no longer works in mysql 8.0
[code]

[2018-06-19 14:16] #46806 closed

[2018-06-19 14:22] thefirstzven opened #48205 "Unable to deploy a VM from a template : salt-cloud do not see the template"
### Description of Issue/Question
when I do
[code]

I get this error :
  There was a profile error: The VM/template that you have specified under clonefrom does not exist.

### Setup
[code]

then the templates available are:
[code]
So the first in the list (CentOS67) is the one I set in clonefrom: in the profiles.conf file

--------------------------------------------------------------------------

[2018-06-19 14:47] closepin commented on #35547
Running on 2017.7.2 VM with our API wrapper extended to have full_return in the request data, I am not receiving the format of the return data as described in your link.
I've attempted this with local, local_async, and with and without a minion offline. Is there any other configuration that may impact the ability of the API to return a full response? I never get a return_code entry for offline min

[2018-06-19 14:50] ncopa commented on #41847
I was expecting to find an URL to the tarball generated by SaltStack here. Maybe add a link to where to find this SaltStack generated tarball?

[2018-06-19 14:52] max-arnold commented on #48170
I asked a question on SaltStack Slack group regarding this double call. It seems to be ok:

[code]

[2018-06-19 14:59] gtmanfred commented on #41847
We upload them to pypi.

https://pypi.org/project/salt/

[2018-06-19 15:03] Ch3LL opened #48206 "python3 ec2 salt-cloud stack traces when trying to create a VM"
### Description of Issue/Question
When trying to create a VM in ec2 with `salt-cloud -p test-profile test-vm` I am seeing this stack trace on python3:

[code]

It creates the VM but does not continue sshing into the box to complete the salt installation and setup.

### Versions Report

[code]

currently working on a PR

[2018-06-19 16:24] garethgreenaway commented on #48205
@thefirstzven Thanks for the report.  It appears that what you want to specify in the `clonefrom` argument is a template or an existing VM, so one of the templates returned from `salt-cloud --list-templates` or an existing VM returned from `salt-cloud --list-vms`.

[2018-06-19 17:29] garethgreenaway commented on #48204
@zerthimon Thanks for the report.  Looks like we need to take the version of MySQL into account for whether to use the `PASSWORD` function.  When adding a user is the password being automatically encrypted now?

[2018-06-19 17:39] dmurphy18 commented on #48112
@DeviantEng A new version of pycryptodomex has been posted for Salt 2017.7.6 and 2018.3.1 for Redhat 7 & 6. Can you test that this resolves issues encountered, and close this issue, if you consider it resolved.

Note seeing some issues with having to restart salt-api, as detailed on repo.saltstack.com pages for Redhat 7 & 6, this is being examined, see: https://github.com/saltstack/salt-pack/issue

[2018-06-19 17:46] edgan commented on #48130
I have see this issue too.

[2018-06-19 17:50] rhoths commented on #48112
I can confirm that this seems to fix the problem for us on 2017.7.6

[2018-06-19 17:55] gtmanfred commented on #48130
This will be fixed in 2018.3.2 and 2017.7.7 which is tagged and will be released soon.

[2018-06-19 17:55] #48130 closed

[2018-06-19 18:08] whiteinge commented on #35547
Oof. I do apologize -- I misremembered what data was included behind that flag.

You should see additional metadata (such as `retcode`) in addition to the job returns themselves, however the `minions` array is _not_ among them. That array is only surfaced via actively watching Salt's event bus. (It may also be written to the job cache on the Master.) You can watch the event bus yourself via the `/

[2018-06-19 18:13] closepin commented on #35547
Thanks for getting back. I was wondering when we'd have to write a direct listener to the event bus - this is annoying enough of an issue that we'll want to build this out to be part of stack. Instantiating this during execution of our tooling and having that be where we watch for event completions seems like a direct enough approach to resolving this issue.

The other interesting thing is that th

[2018-06-19 18:15] edgan commented on #48130
I backported the patch to 2018.3.1, and works for me.

[2018-06-19 18:16] rallytime commented on #47901
@frogunder This should be fixed with #48185. Can you give that a try when you have a moment?

[2018-06-19 18:19] #48128 closed

[2018-06-19 18:29] asottile opened #48208 "feature request: boto_lambda PutFunctionConcurrency"
### Description of Issue/Question

aws lambda supports reserving concurrency for a function: https://docs.aws.amazon.com/lambda/latest/dg/concurrent-executions.html

Expose this through the `boto_lambda` states would be useful -- I can take a stab at this too

[2018-06-19 18:34] garethgreenaway commented on #48204
A couple possible ways here in this StackExchange post: https://unix.stackexchange.com/questions/44883/encrypt-a-password-the-same-way-mysql-does

[2018-06-19 18:53] garethgreenaway commented on #48196
@sundowner69 Thanks for the report.  Based on the output above, it appears that the state calling hostname is taking 15ms to run but something else is holding up the return.  Are you able to run the command with debugging enabled, `-l debug`, and provide that result?  Also run the Salt event runner, `salt-run state.event pretty=True`, and see if you can see the command running and returning to the

[2018-06-19 18:59] garethgreenaway commented on #48197
@jasonvoor Thanks for the report.  For your minions are you including the environment during targeting or is it provided in the minion configuration file?

[2018-06-19 19:05] Ch3LL commented on #48167
ping @olivier-mauras mind taking a look here?

[2018-06-19 19:09] olivier-mauras commented on #48167
Yep got benchmarks and PR coming up let me clean it all up

[2018-06-19 19:10] Ch3LL commented on #48169
ping @saltstack/team-windows can you confirm?

[2018-06-19 19:13] Ch3LL commented on #48170
ping @olivier-mauras can you take a look here

[2018-06-19 19:16] olivier-mauras commented on #48170
Yes but sadly I can't reproduce it :(
@max-arnold Would you mind giving me a minimal dataset - class + node - that make this crash happen? Adding a empty list in my test dataset doesn't raise anything :(

[2018-06-19 19:21] jasonvoor commented on #48197
it's only done via the "base" top.sls file - so targeting only.
The minions only have a "master:" line and eventually "test: true" - nothing else.

[2018-06-19 19:30] mchugh19 commented on #48141
The jenkins plugin generates a JSON that looks something like:
`{"client":"local_batch","batch":"100%","tgt":"*","expr_form":"glob","fun":"cmd.run","arg":["ls -la"],"kwarg":{}}`

[2018-06-19 20:04] #35032 closed

[2018-06-19 20:07] amuhametov commented on #48200
Nope, have nothing special for pip.

Just updated to 2017.7.6, the error is the same.

-rw-r--r-- 1 root root 46692 Jun 13 19:01 /usr/lib/python2.7/site-packages/salt/modules/pip.py
9236a69f88bea85a9363b5cc47eb8b24  /usr/lib/python2.7/site-packages/salt/modules/pip.py

[2018-06-19 20:12] samc-6ft commented on #48163
This is where it sits until it starts, and then I get the output posted above.

[code]

[2018-06-19 20:22] DeviantEng commented on #48112
@dmurphy18
Appears to be working for me as well, on 2018.3.1.

Closing.

[2018-06-19 20:22] #48112 closed

[2018-06-19 20:45] Ch3LL commented on #48184
Can you try fix in https://github.com/saltstack/salt/issues/48184

[2018-06-19 20:47] frogunder commented on #47901
It is working correctly for me with that fix.

[2018-06-19 20:56] dwoz opened #48218 "Better documentation of `user.present` password handling on Windows"
### Description of Issue/Question

Password handling for `user.present` differs between *nix and Windows but we do not have the behavior documented.

### Versions Report

`2017.7.2`

[2018-06-19 21:02] Ch3LL commented on #48153
is the only goal of this to determine if a particular state/execution module can be run on that minion?

[2018-06-20 00:16] vernondcole commented on #34470
I think this is still a valid concern.  Even if no code is changed, the documentation should be improved.

[2018-06-20 02:48] binocvlar commented on #46905
@gtmanfred, @isbm:

This morning, I applied yum updates on our non-production saltmaster. From the list of upgraded packages, here are the most interesting ones:

[code]

Note that `python-zmq-15.3.0-2.el7.x86_64` remained unchanged.

After this change, attempting to inspect the message bus would yield a traceback (which not the case prior to updating):

[code]

I decided to try downgrading zeromq

[2018-06-20 03:29] damon-atkins commented on #36031
python 3.6 17 months old and have released 3.6.5 vs the 3.5.3 (2017-01-17) ship with 2018.3.0
There are no bug fixes being applied to the 3.5 release.

3.6.6 Candidate Release (out any day), Windows relevant.
bpo-33184: Update Windows installer to OpenSSL 1.0.2o.

With the 2018.3 release complete, test case for windows almost complete. Please upgrade the python release which ships with Salt-Minion

[2018-06-20 04:02] binocvlar commented on #46905
... and once again, if I remove the `runner_dirs:` directive from `/etc/salt/master`, the problem disappears.

[2018-06-20 06:29] max-arnold commented on #48170
@olivier-mauras Sorry, my previous example was incomplete.

[crashes.zip](https://github.com/saltstack/salt/files/2118068/crashes.zip)  - `reclass` folder is for Salt 2017.7 and reclass, `saltclass` is for the latest Salt develop branch.

### Steps to reproduce

This is how it should be rendered (Salt 2017.7, reclass):

[code]

And this is what happens with Salt develop branch:

[code]

And while

[2018-06-20 06:29] sundowner69 commented on #48196
@garethgreenaway thanks for your fast reply. As requested please find the output below:

<pre><code>
master:~ # salt-run state.event pretty=True
20180620081343689497    {
    "_stamp": "2018-06-20T06:13:43.689959",
    "minions": [
        "minion"
    ]
}
salt/job/20180620081343689497/new       {
    "_stamp": "2018-06-20T06:13:43.690452",
    "arg": [
        "hostname"
    ],
    "fun": "state.

[2018-06-20 06:38] max-arnold commented on #48170
@olivier-mauras Would you mind joining the Slack group? http://saltstackcommunity.herokuapp.com/

I'd like to discuss a few other issues I found, before filing them on Github.

[2018-06-20 06:58] PhilCANDIDO commented on #48187
Before the upgrade, the syndic server worked normaly.

I complete my explantion with this schema.
![issue48187](https://user-images.githubusercontent.com/13585152/41641314-2d156b70-7465-11e8-979d-88dcff279a52.png)

I realized the following tests.
## Tests
### Scenario 1
On prv02.dmz salt-minion, salt-master and sant-syndic are running.
[code]

[code]
Only the salt-minion on the server prv02.dmz is

[2018-06-20 07:01] angeloudy opened #48221 "runner cannot import modules after upgrading to 2018.3.1"
I have some custom runners located at ` /usr/local/etc/salt/runner`.
And I also have a lib folder `/usr/local/etc/salt/runner/lib`
Some of my runners need to import modules from this `lib` folder and they all have lines like `from lib import something`

This has stopped working since I upgraded salt to 2018.3.1
The error I got is ` __virtual__ returned False: No module named 'lib'`

However, if I

[2018-06-20 07:08] bhanukumar22 commented on #48124
We have python 2.7.5 on the servers.

[2018-06-20 08:05] chaudum commented on #48198
@garethgreenaway sorry, was a typo in the comment:

you see in the logs that it is `pkg`, otherwise it would not have compiled at all:

[code]

[2018-06-20 08:05] chaudum commented on #48198
btw. any package installed would cause this, not only curls or wget

[2018-06-20 08:33] sithmein commented on #48112
Thanks for fixing the issue. However, this is about the third time in the last two years (since we started using Salt) that an update was completely broken and rendered everything unusable. This makes we wonder about how and whether you are doing QA? RHEL/CentOS seems to be a widely used OS on servers where salt makes sense therefore I would expect this combination to be thoroughly tested. Which d

[2018-06-20 08:46] epcim commented on #47126
I think we may close. I can confirm 2018.3.1 works with salt-formulas/reclass (v1.5.4).

Original reclass also have got fix in Max fork https://github.com/max-arnold/reclass/commits/maintenance.

[2018-06-20 08:46] #47126 closed

[2018-06-20 08:47] jyurdal commented on #48031
Thanks :)

[2018-06-20 08:47] #48031 closed

[2018-06-20 09:00] Annnetta commented on #47030
Hi, I had exactly the same issue.

I am using physical MacOS High Sierra 10.13.5
Minion is on the Mac. Salt-minion version  is 2018.3.1

Master is on Debian 9 in VirtualBox, salt-master version is 2018.3.0
I am using Bridge adapter as network. The pings from Master to Minion and vise versa worked fine.

**What worked for me:**
On Mac, launch

here I had the error message:

[code]

So
 - I updated

[2018-06-20 09:04] #35053 closed

[2018-06-20 09:30] oarmstrong commented on #48066
Yep I get that I could do that, thanks. Wasn't too sure if there would be other repercussions though. If you aren't too happy with my proposed patch then I won't bother working on it and I'll use the workaround. I can't think of any nicer codebase solutions so feel free to close this up.

Cheers.

[2018-06-20 09:39] zerthimon commented on #48204
@garethgreenaway the workaround with `password_hash` doesn't work either.
[code]
[code]

[2018-06-20 09:57] mirceaulinic commented on #45882
Hey @github-abcde - that sounds interesting. Would you mind sharing your code (and eventually submit a PR?). Cheers!

[2018-06-20 12:47] esviderskii opened #48223 "pip.installed with upgrade: true cause failed"
### Description of Issue/Question

### Setup
sls

[code]
result (-l debug)

[code]

If change `upgrade: False` or added `force_reinstall: True` - run and executed without errors.

### Versions Report

salt-call version
[code]

[2018-06-20 12:57] gtmanfred commented on #48066
Cool, :+1: yeah, i am just not sure that setting a HOME manually is the correct way to do this.  It feels much better to just have the user set the HOME variable if they need it.

Thanks!
Daniel

[2018-06-20 12:57] #48066 closed

[2018-06-20 13:06] bmwiedemann opened #48224 "please add a salt-ssh --bootstrap"
### Description of Issue/Question
Originally filed at https://bugzilla.opensuse.org/show_bug.cgi?id=1057772

### Setup
have a remote node without python installed

### Steps to Reproduce Issue
run `salt-ssh $NODENAME test.ping`

This will fail due to lack of python on the remote node.

### Versions Report
Salt: 2017.7.2

### Thoughts
One nice solution could be a new `salt-ssh --bootstrap $NODENAME

[2018-06-20 13:33] #47901 closed

[2018-06-20 13:47] Ch3LL commented on #48221
duplicate of https://github.com/saltstack/salt/issues/46924  In that issue the bisect shows changes to a loader that causes this.

Before I close as a duplicate can you clarify one thing for me:

"However, if I deleted __pycache__ directory from /usr/local/etc/salt/runner, my runners can successfully run and will stop to run for a second time because the __pycache__ was recreated and I have to rem

[2018-06-20 13:59] Ch3LL commented on #48224
hmmm so you want salt-ssh to install python if its not available? I'm not so sure we would want to add this as it would require a lot of hardcoded management. ping @saltstack/team-core any opinions here?Maybe instead we could setup a feature in salt-ssh where we have raw pre_flight commands and the user can control what is run before salt-ssh is run?

As a side note you can just run a raw salt-ssh

[2018-06-20 14:07] bmwiedemann commented on #48224
It does not need to check for python with every salt-ssh run as that would impose overhead, but when I know that I just added some nodes (could also be heterogenous so some openSUSE, Debian, Archlinux and Fedora) and I just want to say `salt-ssh --bootstrap '*'`

What 'hardcoded management' do you have in mind, other than knowing how to pull in the runtime dependencies of salt-ssh via a salt-ssh -

[2018-06-20 14:14] Ch3LL commented on #48223
im having a hard time replicating this using the following state:

[code]

Do you run into the issue if you run this simple state above as well?

[2018-06-20 14:20] rnickle commented on #39608
Still seeing the bug, and the workaround works.  Thanks for pointing out how to do the require with x509: <filename> Etienne, I was trying to work that out when I found your report.

Salt Version:
           Salt: 2018.3.1

Dependency Versions:
           cffi: Not Installed
       cherrypy: 3.5.0
       dateutil: 2.4.2
      docker-py: Not Installed
          gitdb: 0.6.4
      gitpython: 1.0.1

[2018-06-20 14:35] closepin commented on #35547
We are actually almost exclusively using local_async runners and querying for completion, issue is that downed minions hang forever waiting for results which led to the last few iterations of attempts. If IP address is needed to use manage.present I will attempt to write something into the api for that. I believe we were using manage.down with tgt_types/expr_form as compound since that's what we u

[2018-06-20 14:37] esviderskii commented on #48223
No, тhe problem appears when there is an extra_index_url in the state

[2018-06-20 14:55] frankthetank commented on #48107
Is there any additional info needed to maintain the "Info Needed" label?  I've been able to change how I access the network that I am deploying salt into and can now grab the full output from commands rather than having to retype everything.  I am attaching the full version report below.

[code]

[2018-06-20 16:00] #48206 closed

[2018-06-20 16:30] garethgreenaway commented on #48141
@mchugh19 Great.  Thanks!  Is there something on the Salt end, a reactor perhaps that handles this JSON being sent along to the API?

[2018-06-20 17:37] mchugh19 commented on #48141
Sorry, I thought there was more context than there was.

The Jenkins plugin takes some input fields and converts them into json, submits to the salt-api, and then (optionally) checks the result. So that json string pasted above could be written as:
[code]
{"return": [{"master": "total 24
drwx------ 4 root root 4096 Oct 4 2017 .
drwxr-xr-x 25 root root 4096 Jun 20 17:26 ..
-rw-r--r-- 1 root root 31

[2018-06-20 19:07] PeterS242 opened #48229 "yumpkg.py not loading, McAfee Web Gateway RHEL-based OS"
### Description of Issue/Question
I'm not able to use any `pkg.*` modules.  Most likely since the OS is a customize Red Hat EL 6 system produced by McAfee.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

Execute any basic pkg module command that relies on yumpkg.py:

[cod

[2018-06-20 19:09] whytewolf opened #48230 "file.managed source_hash case-sensitive for test=true"
### Description of Issue/Question

When using source_hash for a file if the source_hash is uppercase for any reason instead of lowercase the while using test=true the file will be detected as changing while with test=false it will not.

The desired result would be the reaction of test=true being the same as test=false. Detecting that the file isn't changed when the hash is uppercase.

### Setup
te

[2018-06-20 19:10] whytewolf commented on #48230
ZD-2635

[2018-06-20 19:14] PeterS242 commented on #48229
Another example of the error, and it being fixed:

[code]

[2018-06-20 19:18] garethgreenaway commented on #48141
@mchugh19 Perfect!  With this I am able to reproduce the error.  Thanks!

[2018-06-20 19:27] absmith82 opened #48231 "salt attempts to make ~ directory if using tab for autocomplete rather than creating files in home directory"
### Description of Issue/Question
salt attempts to make ~ directory in current directory if using tab for autocomplete rather than creating files in home directory

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
changed group of relevant files/folders to allow salt to use auto completion with tabs

### Steps to Reproduce Issue
(Include debug logs i

[2018-06-20 20:20] #35023 closed

[2018-06-20 20:43] absmith82 commented on #48231
This only seems to be happening on my testing system right now so looking into this further.  I did have the salt.bash script installed on my test cluster where I don't on my production system so checking to see if it has something to do with that.

I will follow up if removing the salt.bash script seems to fix it.

[2018-06-20 20:49] absmith82 commented on #48231
removing the salt.bash script stopped this issue,  It was probably a few revisions behind since I initially installed it with version 2017.7 since this is not crucial for me I will close this issue and re-open if I find an issue with the new salt.bash script