[2017-08-14 18:28] #38590 closed

[2017-08-14 18:30] twangboy commented on #42801
@morganwillcock The cache was being deleted specifically by the installer... I removed that line this PR.

https://github.com/saltstack/salt/pull/42913

[2017-08-14 18:33] #42815 closed

[2017-08-14 19:12] goosemaster commented on #42912
Thanks, works for me.

[2017-08-14 19:33] twangboy commented on #42862
This one maybe: https://pypi.python.org/pypi/setproctitle
We might be able to do something with iexpress to actually convert the batch file's to exe's or something...
https://stackoverflow.com/a/26797258

[2017-08-14 19:49] garethgreenaway commented on #42642
@githubcdr The PR has been merged and the fix will be available in the next 2016.11 release as well as future releases.  I'm going to close out this issue, if the problem persists or if you find that the PR doesn't solve the problem please feel free to reopen this issue or a new one.  Thanks!

[2017-08-14 19:58] talktosaswat commented on #42895
I am getting below error while executing runner and it seems that orchestrate   still runs on the local minion first . It should run at the end .
Below is my orchestrate  file under : /srv/salt/orch
[root@qa-salt orch]# cat vaultdeploy.sls
vault_brooklyn_install:
  salt.state:
    - tgt: 'qa-brooklyn'
    - highstate: True
salt_master_local:
   salt.state:
     - tgt: 'qa-salt.qa.local'
     - hig

[2017-08-14 20:02] ryan-lane opened #42921 "Rename boto_elbv2 module to boto_alb"
### Description of Issue/Question

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.boto_elbv2.html

ALBs aren't v2 of ELBs :). We should name the modules after there resources to avoid confusion. I think this went into a release, so we should mark it as deprecated, and/or do aliases?

[2017-08-14 20:03] gtmanfred commented on #42895
There is this problem right now where the pillarenv and saltenv are broken.

https://github.com/saltstack/salt/pull/42433

This will be fixed in 2017.7.1, but you can pass `base` to pillarenv and saltenv and this might fix the problem you are seeing

`salt-run state.orch vaultdeploy saltenv=base pillarenv=base`

[2017-08-14 20:07] gtmanfred commented on #42921
I would just go with the aliases, and not worry about deprecating it.

[2017-08-14 20:08] lorengordon commented on #42921
Well, they kind of are...at least, that's how the API refers to them (and hence, the cli):

* http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/ELBv2.html
* http://docs.aws.amazon.com/sdkforruby/api/Aws/ElasticLoadBalancingV2/Client.html
* http://boto3.readthedocs.io/en/latest/reference/services/elbv2.html
* http://docs.aws.amazon.com/cli/latest/reference/elbv2/index.html

An alias sounds lik

[2017-08-14 20:11] talktosaswat commented on #42895
also I used salt-call  as per Saltstack document but have still fails. It seems it is running in sequence but  looking for  JINJA variables which I am using from Pillar
---------------------------------------------------------------------------------
---------------------------------------------------------------------------------
[root@qa-salt orch]# salt-run  state.orchestrate orch.vaultdeploy
[

[2017-08-14 20:11] lorengordon commented on #42900
I usually see `-v` as an option to increase the cli verbosity. State output is not managed as cli output (streaming to stdout), so this would feel weird to me.

[2017-08-14 20:14] ryan-lane commented on #42921
Hah. Doh. OK, I guess I know why it's named this. I think most folks will
look for alb though, so still probably worth a rename.

On Aug 14, 2017 1:08 PM, "Loren Gordon" <notifications@github.com> wrote:

[2017-08-14 20:14] gtmanfred commented on #42895
what is `minion_parameter` and is it specified when you try to get it from
`pillar.get` when calling salt and targeting from the master?

On Mon, Aug 14, 2017 at 2:11 PM, Sas <notifications@github.com> wrote:

[2017-08-14 20:18] talktosaswat commented on #42895
I have 3 pillar files under : /srv/pillar/appdir/vault  which I am using inside state files as pillar data

brooklyn_parameter:
  brooklynip: "10.0.0.1"
  provider_name: "my-data"

minion_parameter:
     minion_id: "qa-brooklyn"

brooklyn_authentication:
              user: user
              password: secret123

[2017-08-14 20:20] gtmanfred commented on #42895
please see my previous message about the bug in 2017.7.0, and try running
the orchestrate by specifying the pillarenv.  We have a bug in 2017.7.0
that is fixed in .1 which sets the pillarenv to the string `"None"`, so you
have to specify the pillarenv, which defaults to `base`

On Mon, Aug 14, 2017 at 2:18 PM, Sas <notifications@github.com> wrote:

[2017-08-14 20:23] talktosaswat commented on #42895
Thanks for the quick response. I will test it now and update my result.

[2017-08-14 20:28] UtahDave opened #42922 "Change in beacon return data structure"
On 2016.3.1 the output of the inotify beacon was the following:

[code]

Both 2016.11.6 and 2017.7.0 give us the following output:

[code]

Was this change on purpose or is this a regression? Is the current data output going to stay the same in the future?

Here's the config file I used in both examples:

[code]

When using `event.send` on the minion I get the following output on 2017.7.0:

[code]

[2017-08-14 20:29] UtahDave commented on #42922
ZD 1677

[2017-08-14 20:32] UtahDave commented on #42922
The old structure is found in the docs here:  https://docs.saltstack.com/en/latest/topics/beacons/#view-events-on-the-master

I wonder if there are other locations that need changing as well

[2017-08-14 20:33] dmurphy18 commented on #42904
@nigelsim This may be due to your repolist and settings for the various repo's in /etc/yum.repos.d

For example you are installing PyYAML from Redhat 6 but on my test system I install that from Salt

root@ip-10-0-0-17:/home/ec2-user# yum list | grep YAML
python27-PyYAML.x86_64                 3.10-3.10.amzn1              installed

Suggest examining the priority settings for the various repo's in

[2017-08-14 20:38] dmurphy18 commented on #42904
@nigelsim FYI the python26-pycurl dependency install issue has been fixed in the next point release which is soon.

[2017-08-14 20:38] talktosaswat commented on #42895
It is working perfect :) . Thanks a lot . we need to use orchestrate more often as we deal with multiple minions which has sequence and this is the best solution .

[2017-08-14 20:38] #42895 closed

[2017-08-14 21:19] terminalmage commented on #42900
@lorengordon not only that, verbose output is the default (I believe). So this would effectively change the default behavior.

[2017-08-14 21:39] nixjdm opened #42926 "network.system not setting hostname in hosts file, preventing sudo."
### Description of Issue/Question
I'm currently using https://docs.saltstack.com/en/latest/ref/states/all/salt.states.network.html to set the hostname of my instance with
[code]

This does modify my `/etc/hostname` correctly, but it does not set the hostname in `/etc/hosts`, instead, there it is the same as before the salt state was ran, so now there's a mismatch. Granted, I'm aware that https://d

[2017-08-14 21:50] pitchblack408 opened #42927 "Bower state doesn't install correct javascript library version"
### Description of Issue/Question
When I try to install jquery 2.1.4  the state fails to install the correct version.  It ends up installing version 3.2.1
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

jquery-installed:
  bower.installed:
    - name: jquery#2.1.4
    - dir: /EdgeCast/billing/gui/

### Steps to Reproduce Issue
(Include debug logs i

[2017-08-14 22:17] UtahDave commented on #42869
ZD 1681

[2017-08-14 22:55] fake-name commented on #42906
I'm pretty sure I tried all 4 possible combinations of (`boto`, `boto3` and `assign_funcs`, `apply_funcs`), and they all failed.

I'll be able to test later.

[2017-08-14 22:57] fake-name commented on #42900
Yeah, `--state-verbose=STATE_VERBOSE` didn't wind up doing exactly what I though it did. It'd be better to have it mean `--log-level=all`, or at least "turn up the log level.

The default is *most definitely* not verbose.

[2017-08-14 23:04] lorengordon commented on #42900
Right, and that is already shortened to `-l all` :)

[2017-08-14 23:11] garethgreenaway commented on #42873
@TheVakman Are you able to run the osqueryi.exe binary manually?

[2017-08-14 23:15] TheVakman commented on #42873
@garethgreenaway Yes, from the system itself, it runs without any issues.

Sorry, I could have been more clear, that was what I meant by running it locally in the OP.

[2017-08-14 23:24] gtmanfred commented on #42906
@ryan-lane can you take a look at this and see if you can assist?

Thanks
Daniel

[2017-08-14 23:46] Ar1272 opened #42929 "Reactor not firing based on the custom tags in the salt event bus"
### Description of Question
Trying to do something similar to

https://serverfault.com/questions/739800/saltstack-events-not-firing-or-reactor-system-not-responding

configured reactor.conf and also the uncommented /etc/salt/master file for the default path

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug

[2017-08-14 23:50] onlyanegg commented on #21119
I have a similar issue with Apache sums. I'm not sure if it's related. I'm getting the following error:
`Source hash https://dist.apache.org/repos/dist/release/kafka/0.11.0.0/kafka_2.11-0.11.0.0.tgz.md5 format is invalid. The supported formats are: 1) a hash, 2) an expression in the format <hash_type>=<hash>, or 3) either a path to a local file containing hashes, or a URI of a remote hash file. Su

[2017-08-15 02:26] garethgreenaway commented on #42873
@TheVakman No worries.  I had a suspicion about the osquery but it turned out to be something on my end.  That being said I believe I've found something.  To confirm, can you run a call to the osquery module with the debug logging enabled, `-l debug`, and see if you you something in the stderr with the query in double quotes.

[2017-08-15 02:37] damon-atkins commented on #42862
Now that the termination time is increase to 27 secs away from the initial Control-C. This should not be required. Or their is a bug in how Control-C is managed.

Where is the minion code which loops around waiting for the next request?

[2017-08-15 02:58] gzcwnk opened #42931 "Salt master not running (properly?)"
### Description of Issue/Question

I am just setting up a Salt master on Centos7.    My 3 salt minions cannot connect to the salt master.  Port 4506 is connection refused.  No firewall in the way.

###
[root@bacula01 salt]#  iptables -L -n
Chain INPUT (policy ACCEPT)
target     prot opt source               destination

Chain FORWARD (policy ACCEPT)
target     prot opt source               destina

[2017-08-15 03:04] gzcwnk commented on #42931
[root@glusterp1 ~]# rpm -q salt-minion
salt-minion-2017.7.0-1.el7.noarch
[root@glusterp1

[2017-08-15 03:04] gzcwnk commented on #42931
[root@bacula01 salt]# rpm -q salt-master
salt-master-2017.7.0-1.el7.noarch
[root@bacula01 salt]#

[2017-08-15 03:06] gzcwnk commented on #42931
###
8><----
#root_dir: /
#ssj start
root_dir: /gluster-prod-1/srv/salt/
#ssj fini
8><----
###

[2017-08-15 03:16] damon-atkins commented on #42862
`When nssm receives a stop command from the Windows service manager, or when it detects that the monitored application has exited, it tries to shut down the monitored application, and any subprocesses, gracefully. If the application's process tree does not exit promptly, nssm can forcibly terminate all processes and subprocesses belonging to the application.`

The above sounds good for the service

[2017-08-15 03:25] damon-atkins commented on #42862
Instead of `if pkg_name in ['salt-minion', 'salt-minion-py3']:`
Suggest line is change to an re.search('salt[\s-]*minion',pkg_name) is not None
This will allow people to create their own sls files for salt-minion upgrade
e.g.
my org salt minion:
installer: http://internal web site etc
And it will not name clash with the github sls version and still work

[2017-08-15 03:47] bobrik opened #42932 "cmd.run with bg: true doesn't fail properly"
### Description of Issue/Question

We upgrade salt minion from 2016.11.6 to 2017.7.0 during initial highstate on boot and minion restart fails silently.

### Setup

Simplified state looks like this:

[code]

We run it when salt version changes or when salt package is updated. Previously we did not have `sleep`, it was added later to avoid scenarios where highstate fails when called from master.

#

[2017-08-15 03:50] sumeetisp commented on #42907
I was inspecting the code and found something related to shebang line. Is
that also required?
I don't see you using it. Jinja would be default?

On Aug 14, 2017 23:27, "Daniel Wallace" <notifications@github.com> wrote:

[2017-08-15 03:53] bobrik commented on #42932
Sometimes it does restart salt minion, sometimes it doesn't. This doesn't look right in either case:

[code]

[2017-08-15 04:15] bobrik commented on #42932
I found the issue why sometimes minion is not restarted: It happens when highstate has failed states and `salt-call` exits with non-zero exit code.

It seems that systemd just kills all processes in unit cgroup (we have a dedicated `salt-highstate` unit to run initial highstate). I'm not sure if we should explicitly exclude `salt-minon` restart from the massacre or do something else yet.

[2017-08-15 07:51] TheVakman commented on #42873
@garethgreenaway Confirmed. When I put the Salt Minion into debug mode previously to troubleshoot, I definitely noticed that which is why I was wondering about the formatting. I'll run again now and put the example below for reference.

Example: `[DEBUG   ] stderr: Error: near ""select * from users;"": syntax error`

[2017-08-15 08:49] BenjaminSchubert opened #42935 "docker_image.present always ends up failing even on correct result."
### Description of Issue/Question

When running a docker_image.present state, I always end up with an error, even though it should be a success.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

We need a salt minion with docker installed.

A simple reproduction state is :

[code]

### Steps to Reproduce Issue
(Include debug logs if possible and rel

[2017-08-15 10:01] nigelsim commented on #42904
Thanks for looking into this. On a clean system this all works correctly. My issue is properly reproduced by:

1. first trying to use the old _latest_ repo `yum install -y https://repo.saltstack.com/yum/amazon/salt-amzn-repo-latest-1.ami.noarch.rpm`,
2. trying to install salt, this failing,
3. then updating to the new repo,
4. doing the `sudo yum clean expire-cache` as suggested in the documentati

[2017-08-15 11:19] dqminh commented on #42932
You can probably try with `KillMode=process` instead of the default cgroup mode to make sure that only the salt-highstate process is killed.

Otherwise, another workaround is just to move the salt minion restart out of salt into the systemd service as the next `ExecStart`, or `ExecStartPost`. IIRC this doesn't executed if your salt-highstate command failed but that's probably ok-ish tradeoff. And

[2017-08-15 11:59] jamessoubry commented on #38680
your best bet is to use ```ssh_identities_only: true``` in your Saltfile and then add your login details to ```~/.ssh/config``` this way it completely ignores attempting to upload the minion key using a password. (this is 2017! why are we using passwords to ssh?)

[2017-08-15 12:08] Marx1st commented on #40840
Thanks for clearing this up, @legnej !
I've added "dvs_switch: <ourSwitchName> and it will clone the vm and add a nic, but then it will throw a new error:

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/salt/cloud/cli.py", line 284, in run
    self.config.get('names')
  File "/usr/lib/python2.7/dist-packages/salt/cloud/__init__.py", line 1457, in run_profile
    ret[na

[2017-08-15 12:11] Marx1st commented on #40840
Here's the profile I use:

  provider: zim-vcenter
#  script: bootstrap-salt
  deploy: True
  resourcepool: Test
  datacenter: "ZIM Zentral"
  datastore: ZR_3par_bronze.0
  clonefrom: salt-debian9-template
  private_key: /srv/salt/ssh/id_rsa
  ssh_username: root
  memory: 8GB
  devices:
    network:
      Network adapter 1:
        name: "dvPG zim (220)"
        dvs_switch: "DSwitch ZIM zentral"

[2017-08-15 12:16] Mapel88 opened #42936 "bug in win_iis module & state - container_setting"
I already fixed this issue and tested on my pc.
To which branch can I push it?

### Description of Issue/Question
in win server 2016 processModel.identityType can be set by string or numeric id.
i.e:
processModel.identityType: 3
or
processModel.identityType: SpecificUser

in win server 2016 processModel.identityType can be set only by numeric id.
i.e:
processModel.identityType: 3

The test for ver

[2017-08-15 12:28] Marx1st commented on #40840
Ok it works after applying the proposed fix from here: [https://github.com/saltstack/salt/issues/38402](https://github.com/saltstack/salt/issues/38402)

(I now get the error, that customising Debian hosts is not supported... but that is a different story... ;) )

[2017-08-15 12:42] zerthimon opened #42937 "salt crashes after upgrading to 2017.7.0"
### Description of Issue/Question
[code]
### Steps to Reproduce Issue
`salt-call state.highstate -l debug`

### Versions Report
[code]

[2017-08-15 13:05] ryan-lane commented on #42906
I don't think you can access execution or state modules from salt-cloud.

[2017-08-15 13:07] ryan-lane commented on #42906
I think most likely what you want to do is implement lightsail like one of the newer boto_ modules (see the recently refactored boto_sqs module, which now uses boto3), where you implement execution and state modules, rather than a salt-cloud plugin.

[2017-08-15 13:18] samodid commented on #42644
Yes, it allocates only 1 public ip

[2017-08-15 13:30] corywright opened #42938 "Incorrect documentation for disk.format_"
### Description of Issue/Question

The inline documentation for `disk.format_` indicates that the function can be called via a `disk.format` alias:

    salt '*' disk.format /dev/sdX1

However, no such alias exists and running the command from the documentation results in an error:

    $ salt storage01.example.com disk.format /dev/sdX1
    storage01.example.com:
        'disk.format' is not avail

[2017-08-15 13:46] samodid commented on #42082
We install salt from centos repo. We have template config in states from which generate saltmaster configuration.

[2017-08-15 13:47] Ch3LL commented on #42922
@garethgreenaway do you happen to know if this data structure change was on purpose?

[2017-08-15 13:57] gtmanfred commented on #42907
I believe you should be able to specify a `#!` at the top, or you could just specify the `- data_renderer: jinja` as what should be used to render it.

[2017-08-15 14:09] #42914 closed

[2017-08-15 14:25] gtmanfred commented on #42644
This should be fixed by #42940 I am working on testing it now.

Daniel

[2017-08-15 14:32] the-glu commented on #42389
I think I'm getting the same issue with 2017.7.0. I don't have precise timing since I updated a production stack, but now highstate is very slow and I have a lot of file.managed.

I cleared master/minion cache, without any changes. It's like the local cache is not used (first run is as slow as next runs).

File are coming from a gitfs from the master.

I watched the minion cache file building up a

[2017-08-15 15:03] danlsgiga opened #42941 "pkg.installed fails on installing from HTTPS rpm source"
### Description of Issue/Question
I have a formula that installs the Graylog repo package from its https source url. It worked fine until I upgraded Salt to 2017.7.0 this week.

### Setup

[code]
### Steps to Reproduce Issue
Please use the docker container created to reproduce the issue.

`docker run -it danlsgiga/salt-pkg-http:2017.7.0
`

It returns with the following error but works just fine fr

[2017-08-15 15:33] terminalmage commented on #42900
@fake-name the problem with your reasoning there is that the minion logging doesn't show up on the CLI, since it is being logged to the minion under /var/log/salt/minion. Any logging you see when running the `salt` CLI command is master-side logging. To get the minion logging at, say, the `debug` loglevel, you'd need to SSH into the minion and run `salt-call -l debug some_module.some_function ....

[2017-08-15 15:35] terminalmage commented on #42389
OK, until someone provides a use case I can reproduce, there's not much I can do. I'm not saying there's no problem, but if I can't reproduce, I can't identify what needs to be changed.

[2017-08-15 15:39] the-glu commented on #42389
Yes, I understand it's problematic to fix ;)

Is there some debugging/logging can I do on my stack to try to help ? I cannot downgrade it but I can do them on current version.

[2017-08-15 15:54] terminalmage commented on #42389
@the-glu If you set `log_level_logfile: trace` on the master, you will get a bunch of logging saying things like `Master function call X took Y seconds`. Ideally, it'd be great to get comparisons of this between 2016.11 and 2017.7 so we can see if there is any noticeable difference on the master side.

[2017-08-15 16:02] mirceaulinic opened #42943 "`extension_modules` defaulting to `/var/cache/minion` although running under proxy minion"
### Description of Issue/Question

The `extension_modules` option defaults to `/var/cache/minion/extmods` when it should default to `/var/cache/proxy/extmods`.
Additionally, this option should probably be appended to the `append_minionid_config_dirs` list of directories that should have the minion ID appended, hence each proxy minion caches its modules separately.
Without these, when running on a

[2017-08-15 16:15] rossengeorgiev opened #42947 "Zenoss state changes production state even when test=true"
### Description of Issue
Using the `zenoss.monitored` and running it with `test=true` will still change the production state.

### Steps to Reproduce Issue
If the device already exist in Zenoss the code will check the state and set it to whatever is specified, without checking `test` parameter

https://github.com/saltstack/salt/blob/af0c8ffe36c695b9e23a13a3bc2645ed528c1da7/salt/states/zenoss.py#L5

[2017-08-15 16:43] damaex17 commented on #37802
how about an option in the salt command to get the desired outcome?

[2017-08-15 16:55] garethgreenaway commented on #42926
At the moment on Debian & Ubuntu based systems it doesn't update /etc/hosts.  Originally network.system only supported Red Hat based systems, which set the hostname, etc. in specific files.  Debian based systems don't have this so we simply set it in /etc/hostname.  Based on this, we should also try to update any hosts in /etc/hosts as well.

[2017-08-15 16:59] rgcosma opened #42955 "Glusterfs - support for arbiter node"
### Description of Issue/Question
Gluster module doesn't seem to allow definining a "replica 3 arbiter 1" option as described in https://gluster.readthedocs.io/en/latest/Administrator%20Guide/arbiter-volumes-and-quorum/

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Centos 7, Gluster 3.8

### Steps to Reproduce Issue
(Include debug logs if possibl

[2017-08-15 17:03] garethgreenaway commented on #42927
@pitchblack408 I assume you're able to install the jquery 2.1.4 package manually outside of Salt?

[2017-08-15 17:06] dragonpaw commented on #42375
Any chance of reclassifying this issue as not a closed documentation one but an actual bug?

[2017-08-15 17:08] garethgreenaway commented on #42929
@Ar1272 Thanks for the report.  Can you provide a copy of your reactor.conf file as well as the sls file that should be reacting to the events.  Thanks!

[2017-08-15 17:14] Ar1272 commented on #42929
reactor.conf
reactor:
    - 'foo/bar':
       - /srv/salt/reactor/foo.sls

and the contents of /srv/salt/reactor/foo.sls:
log_foo:
     local.file.append:
           - tgt: myminion
           - arg:
               - /tmp/reactor_example.txt
               - {{ data }}

[2017-08-15 17:17] garethgreenaway commented on #42931
@gzcwnk Couple things to try.  can you check the output of `netstat -lnp` and see if the Salt TCP ports are listed.  Also, are you able to connect to the port on the local machine, eg. the master using either telnet or nc (netcat).  Lastly, do you have a minion running on the master that is able to connect?

[2017-08-15 17:24] garethgreenaway commented on #42931
@gzcwnk Thanks for the report.  A couple things to try and report back.  can you check the output of `netstat -lnp` on the master and see if the Salt ports are there and listening?  Are you able to connect to the TCP port on the master using tools like telnet or nc (netcat)?  Lastly, do you have a minion running on the master that is able to connect?

[2017-08-15 17:37] lordcirth opened #42957 "test=True is not respected if other options are mistyped"
### Description of Issue/Question

If one makes a reasonable typo such as:
salt '*' state.apply --state-verbose test=True

Where --state-verbose ought to be --state-verbose=False or True, test=True is not read and the command is executed for real.

While this could be seen as user error, in my opinion typoing an option which only controls verbosity should not result in ignoring test=True and poten

[2017-08-15 17:42] garethgreenaway commented on #42935
@terminalmage Thoughts on this one?

[2017-08-15 17:44] garethgreenaway commented on #42936
@Mapel88 If you have a PR ready to go please post it against the 2017.7 branch.  Thanks!

[2017-08-15 17:48] vijayinvites commented on #42381
@jalandis How do you pass the -ref and -rev arguments?

[2017-08-15 17:51] garethgreenaway commented on #42937
@zerthimon Thanks for the report.  A couple questions.  What version were you upgrading from?  Are you able to restart Salt and have it function again?

[2017-08-15 17:52] garethgreenaway commented on #42938
@corywright Thanks for the report and the PR!

[2017-08-15 17:59] corywright commented on #42938
Thanks for the info. I'll get a PR in for the alias.

[2017-08-15 18:01] garethgreenaway commented on #42938
:+1:

[2017-08-15 18:06] garethgreenaway commented on #42941
@danlsgiga Thanks for the report and the docker image for testing.  Based on the stack trace, this appears to be a failure in the tornado library.  Are you able to tell if prior to the upgrade you were using a different version of python-tornado?

[2017-08-15 18:14] garethgreenaway commented on #42932
@bobrik Thanks for the report.  Restarting the salt-minion from salt-minion is tricky, not sure if you're seeing this but these are the recommended ways to do it:
https://docs.saltstack.com/en/latest/faq.html#what-is-the-best-way-to-restart-a-salt-minion-daemon-using-salt-after-upgrade

[2017-08-15 18:15] gtmanfred commented on #42375
@dragonpaw can you check if this fixes the issue for you?

https://github.com/saltstack/salt/pull/42958

[2017-08-15 18:18] garethgreenaway commented on #42943
@mirceaulinic As always, thanks for the report and the PR!

[2017-08-15 18:20] garethgreenaway commented on #42947
@rossengeorgiev Thanks for the report, test=True should definitely be honored.  we'll get this fixed.  Can you provide a version report, `salt --versions-report`.

[2017-08-15 18:22] garethgreenaway commented on #42955
@rgcosma Thanks for the report.  Marking this as approved for a future feature addition.

[2017-08-15 18:24] fake-name commented on #42900
I guess  there's a lot more complexity there then what I'm using salt for (VPS creation and provisioning, where I'm managing my own log output return during the provisioning step).

[2017-08-15 18:24] danlsgiga commented on #42941
Hi @garethgreenaway, as far as I can see the python-tornado I have is the following one and it hasn't been updated along with Salt as per my yum.log records:

Hope it helps!

[2017-08-15 18:32] fake-name commented on #42906
@ryan-lane - AWS Lightsail is a VPS provider, no different then DigitalOcean, Vultr, or any of the other salt-cloud providers. Additionally, I'm specifically interested in using it in a context where I'm already using other cloud providers, via salt-cloud, so if it's not a salt-cloud module, it's useless to me anyways.

[2017-08-15 18:47] garethgreenaway commented on #42929
@Ar1272 The event should be firing but I believe the issue is that `file.append` will not write to a file if it doesn't exist so the reactor is failing.  Something like this will work:
[code]

[2017-08-15 19:28] Ar1272 commented on #42929
Thanks for the quick response. That works great! Appreciate it.
One more question - Anyway/option to write file to syndic or the master instead of writing it to minions?

[2017-08-15 19:30] garethgreenaway commented on #42929
@Ar1272 Update the target to be the machine where you want the reactor to run.  You will need a minion running there.

[2017-08-15 19:42] ryan-lane commented on #42906
Ok. I'm not the right person to talk to then, as I don't use salt cloud.

On Aug 15, 2017 8:32 PM, "Connor Wolf" <notifications@github.com> wrote:

[2017-08-15 19:59] fake-name commented on #42906
Ok, no problem.

I guess the answer here is more or less just use boto directly, rather then trying to rely on the existing infrastructure? Unfortunately, the salt-cloud ec2 module seems to not use boto, but rather the amazon HTTP(s) interface for some reason, so there's no existing stuff I can base off of.

[2017-08-15 20:08] Ar1272 commented on #42929
This does not work on syndic even though we have the minion running on it. I used the same code mentioned as above.

[2017-08-15 20:25] peter-funktionIT commented on #10237
I too would like a state and execution module for managing java keystores.
Meanwhile, this is my alternative to @rterbush solution:

    Add cert to keystore:
      cmd.run:
      - name: /path/to/keytool -keystore /path/to/cacerts -storepass changeit -import -alias my_cert -file /path/to/cert.crt -noprompt
      - unless: /path/to/keytool -keystore /path/to/cacerts -storepass changeit -list -alia

[2017-08-15 20:40] gzcwnk commented on #42931
Hi, I saw another case so tried telnetting from a minion it doesnt connect to the master.

I dont have a minion on the master yet, job to do.

[2017-08-15 21:02] talktosaswat commented on #42897
Hi Daniel,
I think it is fixed now.  When I am trying to copy a single file then it is working fine. Single file means I just define a variatble  file1=/tmp/a.txt file2=/tmp/b.txt  . but I was trying to use  cp.push  with /tmp/logs/*  which sometimes copy file  sometimes not. I believe the use of "*"  is not the proper way. I moved back to single file.  Is there a better way to use cp.push  for mu

[2017-08-15 21:15] gtmanfred commented on #42897
You can use `cp.push_dir` which can push an entire directory up.

And also has a `glob` argument that can be used to glob inside that directory.

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.cp.html#salt.modules.cp.push_dir

[2017-08-15 21:15] #42897 closed

[2017-08-15 21:18] brianthelion opened #42960 "Outputter names are not properly documented and/or some outputters are broken"
### Description of Issue/Question

If you want to use the "--output=" feature of the CLI, Googling "saltstack outputters" gets you [here](https://docs.saltstack.com/en/develop/ref/output/all/index.html) via the first link. The outputters listed are:

[code]

Unfortunately, trying to use those results in weirdness and stack traces. See my shell script below.

### Setup

[code]

### Steps to Reprodu

[2017-08-15 21:25] whiteinge commented on #42553
Sorry for the slow reply; busy couple of weeks and this fell off my radar.

The reason I like tracking this at the individual state level instead of at the job level is because states can be run in dry-run even though the full state run is not (e.g., prereq). Bottom-line: we don't have enough fields to represent all possible scenarios without making at least one of the proposed additions so I'll a

[2017-08-15 21:28] ryan-lane commented on #42906
I think someone from saltstack Inc needs to help out here.

On Aug 15, 2017 9:59 PM, "Connor Wolf" <notifications@github.com> wrote:

[2017-08-15 22:13] eliasp commented on #14103
I don't think this feature request should be closed - it's still valid.

[2017-08-15 22:14] aneeshusa commented on #42553
Now that #42576 is merged, this is fixed from my perspective so I'm closing this. Thanks all for the feedback.

I didn't know about prereq and running individual states in dry-run mode, sounds like a cool feature! I think injecting a `test: True` into the state return would make the most sense there, but I agree that we can revisit that later with a new issue.

[2017-08-15 22:14] #42553 closed

[2017-08-15 22:24] nhavens commented on #42382
This problem is still present in 2017.7.1

@rallytime's fix got merged into the 2017.7 branch (#42618). Unfortunately, it did not get merged forward to the 2017.7.1 branch upon which salt-2017.7.1-1.el7.noarch.rpm from the RHEL/CentOS 7 repos appears to have been built.

Because of this regression, I was unable to use 2017.7 and am still unable to use 2017.7.1. Is there any way we could get the fi

[2017-08-15 22:43] Ar1272 commented on #42929
Am able to work through it. Thank you!

[2017-08-15 22:43] #42929 closed

[2017-08-15 23:12] garethgreenaway commented on #42931
Are you able to confirm that the salt master is starting up and listening on the ports using the above mentioned tools?

[2017-08-15 23:41] gzcwnk commented on #42931
Hi I am away from the site for about 6 hours so cannot do further checks right now, the server is isolated.   From the outputs above the Master appears to be [almost] starting, however it is not accepting connections.   I will install a salt-minion locally when I get home, check with netstat and run a packet sniffer if needbe also to try and see what is going on to provide more info.

[2017-08-16 00:37] garethgreenaway commented on #42941
@danlsgiga I was able to duplicate this and found the spot where the code is breaking.  We'll get a fix out asap.

[2017-08-16 01:20] netroby opened #42965 "[RFC] salt can support different crypt algorithms like chacha20-poly1305 or AES-GCM-256"
[RFC] salt can support different crypt algorithms like chacha20-poly1305 or AES-GCM-256

Now days we have different crypt algorithms. would you please support these ?

the default salt aes may be not very safe enough.

[2017-08-16 01:48] terminalmage commented on #42941
This is happening because the remote server is closing the connection. While tornado is processing the headers from the GET request, while stepping through with a debugger I was able to see a header line consisting of `Connection: close\r\n`. For 302 redirects we should be seeing a `Connection: keep-alive\r\n` here.

I'm not sure if this is a bug in tornado, or something we're doing wrong in using

[2017-08-16 01:51] terminalmage commented on #42941
For what it's worth, I was able to download the file just fine using cURL while manually setting the `User-agent` to the one used by Salt. So, this does not appear to be the result of User-agent checking being done by the remote server.

[2017-08-16 01:53] terminalmage commented on #42941
You can reproduce this without needing the SLS, simply by calling `cp.cache_file https://packages.graylog2.org/repo/packages/graylog-2.3-repository_latest.rpm`

[2017-08-16 02:06] terminalmage commented on #42941
I will do a git bisect in the morning, assuming I can find a working commit.

[2017-08-16 02:36] UtahDave commented on #42922
I was informed that the beacon data structure was formalized at that time across all beacons. The new data structure is the new standard format.

[2017-08-16 02:36] #42922 closed

[2017-08-16 03:24] terminalmage commented on #42941
Actually, ignore my earlier comment about the connection being closed. I've found the actual problem and will have a fix in soon.

[2017-08-16 03:24] lsh-0 opened #42966 "ordering not mentioned in minion.d/*.conf file includes"
### Description of Issue/Question
I need to ensure pillar data is merged in a certain order with dummy public values first and private actual values last.

The documentation doesn't mention ordering:
https://docs.saltstack.com/en/latest/ref/configuration/minion.html#default-include

And typically you can't trust globs to return ordered results.

### Steps to Reproduce Issue
With some simple experi

[2017-08-16 03:40] terminalmage commented on #42941
Fix has been submitted in https://github.com/saltstack/salt/pull/42967.

[2017-08-16 04:18] UtahDave commented on #42869
@abednarik are you using git_pillar with the same repo?

[2017-08-16 06:51] boltronics commented on #14080
While I think Stable releases have been improved as of late (excluding `.0` releases), there is still no easy way to test upcoming releases in the same way as is used in production.

In addition to the standard repos over at https://repo.saltstack.com/#debian, I'd love to see a "daily builds" repo built against the develop branch, and one for release candidates.

The problem in getting this done c

[2017-08-16 06:58] vutny commented on #38839
Finally, the fix was merged 🍾 FYI @Ch3LL @rallytime

The workaround until next release is to use orchestration function:
[code]

[code]

[2017-08-16 07:08] #40477 closed

[2017-08-16 07:59] vbatoufflet commented on #42437
Hi @svenauhagen,

Is there any way to switch back the old behavior? At the moment, states that were valid before the upgrade are broken in the 2017.7 release.

[2017-08-16 09:11] gzcwnk commented on #42931
###
[root@bacula01 ~]# netstat -tunlp |grep 4506
tcp        0      0 0.0.0.0:4506            0.0.0.0:*               LISTEN      3539/python
[root@bacula01 ~]# netstat -tunlp |grep 4505
tcp        0      0 0.0.0.0:4505            0.0.0.0:*               LISTEN      3533/python
[root@bacula01 ~]#
###

[2017-08-16 09:20] rossengeorgiev commented on #42947
@garethgreenaway heres the versions report

[code]

[2017-08-16 09:31] adampbrush commented on #42790
Can I have some more guidance for Windows Minion debugging please?
I've now also tested Python 2and3 versions of the x64 and x86 2017.7 release and have the same issues on all of them.

[2017-08-16 09:34] treba123 commented on #37293
This is quite a big deal when using the lvm state. I support the idea from above (and will maybe have a look to create a PR)

[2017-08-16 10:38] adtyashgl opened #42972 "How to use salt.call.Caller and provide metadata and out=json option"
### Description of Issue/Question
I am trying to call the following cli command
 salt-call --local test.ping --metadata --out=json
via the salt.call.Caller api and I am unable to figure out how to pass the options

My current python script looks like the following

[code]

This just returns "True" rather than { "local": true } when I run this via the cli.

Any suggestions please?
### Setup
(Please

[2017-08-16 11:05] mirceaulinic commented on #42943
Sure @garethgreenaway.

Closing this via https://github.com/saltstack/salt/commit/6da4d1d95e84bef8bd004297a120f06804e21021.

[2017-08-16 11:05] #42943 closed

[2017-08-16 11:11] mirceaulinic opened #42973 "kwargs ignored when executing a runner"
### Description of Issue/Question

When invoking an execution function from a runner (e.g. via the `salt.execute` runner), there is the error below, and the function is called without kwargs.
I'm not seeing anything related in the Nitrogen release notes: https://docs.saltstack.com/en/develop/topics/releases/2017.7.0.html but I'm not sure since when this has been introduced and why, so I will be wa

[2017-08-16 12:02] adampbrush commented on #42790
Heres some screenshots of testing various versions of the Windows minion. It appears that later versions of the windows minion cause commands such as grains.items to take longer and longer:

![wsmtesting_2017_7_0py3amd64](https://user-images.githubusercontent.com/30800227/29362247-1a05725c-8283-11e7-97ac-afccb1a5a583.png)
![wsmtesting_2015_8_03](https://user-images.githubusercontent.com/30800227/2

[2017-08-16 13:10] abulford opened #42976 "docker_network.create fails in develop"
### Description of Issue/Question
Applying `docker_network.present` state results in an error:
[code]

This is because the state is passing this argument even though it's not expected by the execution module.

### Setup
Running 2017.7.0 Salt but with `dockermod.py` and `docker_network.py` updated to 2017.7.1 with https://github.com/saltstack/salt/pull/40753/commits/4c29c5f6ab7ad786981b1e3561f0fc92

[2017-08-16 13:14] rallytime commented on #42382
Hi @nhavens - apologies for missing the question about when the fix will be released. This fix will be available in the `2017.7.2` release.

In the mean time, you can patch the state file and place it in your `_states` directory and use it like a custom state module: https://docs.saltstack.com/en/latest/ref/states/writing.html#using-custom-state-modules

@mvyletel Thanks for the confirmation! Sinc

[2017-08-16 13:14] #42382 closed

[2017-08-16 13:22] abednarik commented on #42869
Hi @UtahDave

No we are not using git_illar at all. t’s a plain GIT repo that we want to checkout. Since is a huge repository (~7G) and this in a  kitchen tests context, we bring the vm up where we run the tests and we do a rsync of this repo before running salt states. And it’s quite possible that this happens when we have pushes to master at same time we are running that command

thanks.

[2017-08-16 13:30] rallytime commented on #38839
Thanks for fixing this and for posting the workaround @vutny.

This fix will be available in 2016.11.8.

[2017-08-16 13:30] #38839 closed

[2017-08-16 13:55] #42644 closed

[2017-08-16 14:24] stduolc opened #42978 "LocalClient didn't return correct minions id."
I used the salt-syndic to merge two salt cluster. now I found a bug in the pub function of the LocalClient class which didn't return the correct minions.

the version of syndic_master:
[root@syndic_master ~]#  $ salt --versions-report
[code]

the settings of syndic_master:
[code]

the version of old_master:
[code]
the settings of old_master:
[code]

the common.hostinfo source file:
[code]

https:/

[2017-08-16 14:30] jryberg opened #42979 "Red Hat 6 and CentOS 6 are no longer fully supported after version 2017.x.x"
### Description of Issue/Question
I have been using https://github.com/saltstack-formulas/mysql-formula for ages but after I upgraded to 2017.7.0 and later 2017.7.1 it's no longer possible to manage users in MySQL for Red Hat 6(.9)

I changed the state to it's minimum and it still fails exactly the same way (took example just to be sure I did not do anything wrong: https://docs.saltstack.com/en/la

[2017-08-16 14:31] treba123 commented on #37293
With the force option from above, the '--yes' option gets passed to lvcreate, which will usually make lvcreate wipe all filesystems/drbd-metadata etc. that it finds.
As soon as this is merged and the 'force' option is documented, we can close this issue imo

[2017-08-16 14:32] danlsgiga commented on #42941
This is freaking awesome guys @terminalmage and @garethgreenaway! Fantastic job and thanks a lot! I'll place this fix in my _states folder and use it until 2017.7.2 is out!

[2017-08-16 14:32] gtmanfred commented on #37293
Great, thanks!

[2017-08-16 14:32] #37293 closed

[2017-08-16 14:39] adampbrush commented on #42521
As a work around I guess you could use cmd.run in a saltstate and issue the install command that way.
Such as:

ChocoProgramtoinstall:
   cmd.run:
     - name: choco install Programtoinstall -y

[2017-08-16 14:41] terminalmage commented on #42941
@danlsgiga The fix was in `salt/fileclient.py`, I don't think you'll be able to cleanly apply it using that method.

[2017-08-16 14:41] lukasz-baranowski opened #42980 "postgres_schema.present not working on develop after merging PR 42544"
### Description of Issue/Question
_postgres_schema.present_ not working after merging [PR 42544](https://github.com/saltstack/salt/pull/42544).

Module method _postgres.schema_get_ expects _user_ parameter but gets _runas_ instead from postgres_schema state.

### Setup
[code]

### Steps to Reproduce Issue
Execute postgres_schema.present on any postgres database.

[code]

### Versions Report
Master

[2017-08-16 14:43] Ch3LL commented on #42960
**json_out** -- the name you are suppose to use in this outputter is json
**key** -- this is the outputter that salt-key uses
**nested** -- the default outputer for salt
**newline_values_only** -- do you have a specific question about this outputter? The documentation seems to clearly explain what the code also shows.
**no_out** -- the name is quiet
**no_return** -- Looks like this outputter adds

[2017-08-16 14:44] danlsgiga commented on #42941
Thanks, @terminalmage! I just figured this and was about to comment here. Is there any way to load the fixed fileclient.py in all minions the same way we do with dynamic modules / states / etc? Just trying to avoid having to hard replace it in all minions and the master.

[2017-08-16 14:46] Ch3LL opened #42981 "overstatestage outputter stack traces alongside orchestration"
Since the overstate system is deprecated we need to either deprecate the overstate outputer or convert it to be used by the orchestration system.

When attempting to use this outputter with the orchestration system I see a stack trace:

[code]

[2017-08-16 14:50] johje349 opened #42982 "Orchestration not working from Reactor"
### Description of Issue/Question
Orchestration from Reactor stopped working in 2017.7.0. I recon that was fixed by manually applying the changes in PR #42433. Now we've just upgraded to 2017.7.1 and it stopped working again.
The changes in PR #42433 are definitely in 2017.7.1 but there is something else wrong.

### Setup
Master config:
reactor:
  - 'salt/cloud/*/created':
    - '/srv/reactor/mini

[2017-08-16 14:58] kivoli commented on #28082
Still an issue in Salt 2017.7.1

[2017-08-16 15:01] gtmanfred commented on #42982
If you move `mods` inside the `kwarg` argument it should work.

[2017-08-16 15:03] gtmanfred commented on #42973
Can you double check if this works in 2017.7.1?

I am pretty sure we fixed this in

https://github.com/saltstack/salt/pull/42548

[2017-08-16 15:04] gtmanfred commented on #42973
Actually maybe not, it might be running into the same problem as the reactor was.

[2017-08-16 15:07] gtmanfred commented on #42972
@whiteinge don't we have a feature request for this ability for all the clients somewhere?

[2017-08-16 15:45] wongchao commented on #38916
@gtmanfred it works, thx

[2017-08-16 15:51] dmurphy18 commented on #42904
@nigelsim The correct link to use for installing on later version's of Amazon Linux is as follows:

yum install -y http://repo.saltstack.com/yum/amazon/salt-amzn-repo-latest-2.amzn1.noarch.rpm

The version you used was for Amazon before SaltStack made a specific version of Salt for Amazon Linux. The instructions for using Amazon Linux with Salt can be read here: http://repo.saltstack.com/#amzn

[2017-08-16 16:24] twangboy commented on #42521
This may also be fixed by this: https://github.com/saltstack/salt-winrepo-ng/pull/1049

[2017-08-16 16:24] twangboy commented on #42521
The chocolatey software definition was pretty messed up.

[2017-08-16 16:28] Ch3LL commented on #42965
@saltstack/team-core does anyone know if we have plans or want to add these other crypt algorithms into salt?

[2017-08-16 16:30] svenauhagen commented on #42437
Hi @vbatoufflet

I can resubmit my original code.
Let me get on that and I will send a PR.

[2017-08-16 16:35] Ch3LL commented on #42966
@lsh-0 are you refering to pillar ordering from the top file? By default pillar files are applied in the order they are listed in the top file as documented [here](https://docs.saltstack.com/en/latest/topics/pillar/#pillar-namespace-flattening)

[2017-08-16 16:45] svenauhagen commented on #42437
PR is #42987

[2017-08-16 16:45] Ch3LL commented on #42976
@abulford thanks for the PR! As you have a fix in I will close this issue but please let us know if we need to re-open it if there is an issue with the PR

[2017-08-16 16:45] #42976 closed

[2017-08-16 16:46] garethgreenaway commented on #42937
@zerthimon To be clear is Salt crashing on startup or only following a highstate?

[2017-08-16 16:53] Ch3LL commented on #42979
Do you have the MySQLdb python27 module installed? in 2017.7.0 we dropped python 2.6 support so salt will only run on python2.7 in redhat6.

[2017-08-16 16:54] Ch3LL commented on #42980
@lukasz-baranowski thanks for the PR! as there is a fix in I will close this issue but please let us know if it needs to be re-opened if there is an issue with the PR.

[2017-08-16 16:54] #42980 closed

[2017-08-16 17:05] brianthelion commented on #42960
@Ch3LL A couple of additional things that you might want to consider:
* It would be helpful if the CLI `--help` string said which `--output` options were valid. This could be hard-coded in the help pretty easily.
* If the outputter was specifically requested from the CLI but it isn't available for any reason, the call should probably fail immediately.
* Even if an outputter's requirements aren't i

[2017-08-16 17:08] brianthelion commented on #42960
I see you've started in on (3) with #42981. Thanks!

[2017-08-16 17:09] jryberg commented on #42979
Hi @Ch3LL, thank you for your reply.

Python 2.7 are not supported by Red Hat 6

Does this mean that SaltStack are no longer supporting Red Hat/CentOS 6?

I know it's technically possible to install Python 2.7 but It's not supported by Red Hat and as we are using Red Hat 6 in production environments we are not able to do anything that are unsupported by Red Hat.

Best regards Johan Ryberg

[2017-08-16 17:09] ajacoutot commented on #42634
@viq well, not sure how I can help here :-)
Better see with the zeromq folks.

[2017-08-16 17:19] Ch3LL commented on #42973
I was able to confirm when passing `salt-run salt.execute '*' state.sls test kwarg='test=True'` it worked in 2017.7.1 and not in 2017.7.0.

@mirceaulinic can you confirm your use case works in 7.1 as well?

[2017-08-16 17:24] abulford commented on #42976
@Ch3LL No problem :).  What's the process for raising tickets?  I thought I should create one so I have a ticket to reference in the PR, and assumed the ticket would only be closed once the PR was merged.  I'm more than happy to just submit the PR without an associated ticket in the future if the ticket's not important.

[2017-08-16 17:28] nhavens commented on #42382
@rallytime, Thanks for the info! Very helpful!

[2017-08-16 17:29] mirceaulinic commented on #42973
Thanks @gtmanfred @Ch3LL.
I do not have 2017.7.1 installed yet, but I believe you are correct and I will give it a whirl tomorrow.

[2017-08-16 18:11] haam3r commented on #42982
Can confirm the bug.
Tested it and moving mods indside the kwarg is a valid workaround

[2017-08-16 18:49] gzcwnk commented on #42931
I did a yum update and the server and client patched and then worked!  as we can see from the netstat above, minions connect and respond fine....so no idea what went wrong.

[2017-08-16 18:49] #42931 closed

[2017-08-16 18:50] blbradley opened #42989 "GitFS GitPython performance regression in 2017.7.1"
2017.7.1 Salt Master with GitFS usage runs all commands at least 10x slower when using GitPython vs pygit2.

### Setup
* 2017.7.1 Salt Master with GitFS usage and only GitPython installed

### Steps to Reproduce Issue
* Run a highstate (because it measures execution time). This will take some time.
* Install pygit2
* Restart master
* Run same highstate and observe at least 10x speedup

[code]

###

[2017-08-16 19:15] whiteinge commented on #42972
If you can instantiate the Caller class yourself then the above looks correct. The only distinction to be made is outputter modules are intended to be used from the CLI and don't do anything at the Python API. If you're already in Python you can just serialize the return data yourself. If you'd like to use Salt's outputters instead of, say, `import json` you can do so like this:

[code]

[2017-08-16 19:25] Ch3LL commented on #42978
@stduolc this might be similar to  https://github.com/saltstack/salt/issues/42668

does pr https://github.com/saltstack/salt/pull/42710 resolve the issue?

[2017-08-16 19:28] johje349 commented on #42982
It works when moving mods inside kvarg. Unsure if it's a bug then, but docs need to be updated: https://docs.saltstack.com/en/latest/topics/reactor/

[2017-08-16 19:37] DarkKnightCZ opened #42990 "Unable to pass command-line arguments or environment variables to cmdmod.exec_code_all"
### Description of Issue/Question
Even though cmdmod.exec_code_all [internaly uses](https://github.com/saltstack/salt/blob/develop/salt/modules/cmdmod.py#L2449) cmdmod.run_all, it's not possible to pass custom cmd arguments, environment variables (or other parameters accepted by run_all method).

I will prepare PR to address this issue.

### Versions Report
2017.7.1

[2017-08-16 19:43] gtmanfred commented on #42982
Yes, we have a duplicate issue about getting that doc updated.

I am not sure where it is at the moment

[2017-08-16 19:44] gtmanfred commented on #42982
https://github.com/saltstack/salt/issues/42632 here it is

[2017-08-16 19:44] #42982 closed

[2017-08-16 19:47] pabloh007 opened #42992 "docker.save flag push does is ignored"
### Have tested and verified that the push flag on the module docker.save is ignored due to a bug in the function. Have verified the master is enabled to receive files from minion also
### Setup

### Steps to Reproduce Issue
salt 'target-minion' docker.save test_webservice:0.0.1 /tmp/webservice.tar overwrite=True push=True -l debug

no data is pushed to salt-master

### Versions Report
# salt mast

[2017-08-16 20:00] garethgreenaway commented on #42957
@lordcirth Looking into this more the issue is the result of how the `optparse` library works.  The `test=True` string ends up being the argument for `--start-verbose` since it's the one passed immediately after it and it is expecting an argument.  Unfortunately there doesn't appear to be a way to have an argument that is expecting a value not expect one and use a default.

[2017-08-16 20:37] brianthelion commented on #42960
@Ch3LL The `progressbar` package seems to be broken for python3.5.

[code]
Updating to package `progressbar2` gets us a stack trace:

[code]

[2017-08-16 20:38] brianthelion commented on #42960
@Ch3LL The `table` outputter doesn't seem giving the same output as `nested` but without color:
[code]

[2017-08-16 20:49] jryberg commented on #42979
This is a how to install "python27-mysql" on Red Hat 6

- yum -y install gcc
- yum -y install rpm-build gcc-c++ # not entire sure this is needed, have not tested without them
- yum -y install mysql-devel python27-devel
- curl https://bootstrap.pypa.io/get-pip.py | python2.7 -
- pip2.7 install MySQL-python

I suppose I will have to create a rpm package of product for our environments but I'm afraid

[2017-08-16 21:06] zerthimon commented on #42937
@garethgreenaway It happens when I run a highstate.

[2017-08-16 21:09] garethgreenaway commented on #42937
@zerthimon Thanks.  So a call to a state function in one of the states that is being called via the highstate is causing the crash.  Are you able to narrow that down or provide the state files that are being used during a highstate?

[2017-08-16 21:29] jryberg commented on #42979
Guide how to create rpm for redistribution
[code]

[2017-08-16 21:48] dnd opened #42994 "Broken `as_user` functionality in slack returner"
It looks like PR #23521 commit 2326c5ee0e95b00d953f622547f6ce411e3054ef breaks the `as_user` functionality of the slack returner. The original implementation where `as_user` was checked for `None` was correct. It is an optional boolean field to send to the Slack API. Being boolean checking for presence with `if not as_user` is not reliable.

It can be worked around by setting the field as a string

[2017-08-16 22:12] lordcirth commented on #42957
What about checking if a value that should be True or False of type Bool is instead a string, namely "test=True" ?

[2017-08-16 22:23] bstevenson commented on #42747
@whiteinge @cachedout
I've run into this issue too.  I made a comments in the original change which pops the data:
https://github.com/eyj/salt/commit/6f26237574247c3431e75062dcce39c038074f9d

My use case is trying to return orchestration output to devs via the rest API.  I grab the job_id and then pull for the return data.  The return data used to show the results of orchestration via a `salt-run

[2017-08-16 22:30] lordcirth commented on #42957
Then we could throw something like "--state-verbose requires an argument of type Bool" and exit.

[2017-08-16 22:49] basepi commented on #42989
I am also seeing this in v2017.7.0+. Likely not a gitpython issue, but rather a change in salt. Marked regression in performance.

It appears to make about 2x the number of calls to git as it used to. Not sure why. You can easily reproduce by subscribing to a gitfs remote with a few custom modules and doing a `salt '*' saltutil.sync_all`. Enable debug logs on the master, with gitpython as gitfs pr

[2017-08-16 23:32] brianthelion opened #43000 "`salt-cloud --providers-config` isn't actually implemented"
### Description of Issue/Question

From Cloud's [Core Configuration](https://docs.saltstack.com/en/develop/topics/cloud/config.html#core-configuration) docs, last paragraph of the [syntax section](https://docs.saltstack.com/en/develop/topics/cloud/config.html#cloud-configuration-syntax):

### Setup
None

### Steps to Reproduce Issue

[code]

### Versions Report

[code]

[2017-08-17 00:56] stduolc commented on #42978
@Ch3LL  yes, It's duplicated and #42710 fix the bug.

[2017-08-17 01:45] nigelsim commented on #42904
Thanks @dmurphy18 , we've updated our build scripts to use the new repo RPM.

[2017-08-17 01:45] #42904 closed

[2017-08-17 02:50] BenjaminSchubert opened #43001 "docker_container.running state is not stable."
### Description of Issue/Question

When using `docker_container.running`, the state needs to be applied twice to be in a consistent state.
The second time we run it, some changes are made, which is inconsistent with the fact that states should not change once run.

### Setup

A state that reproduce the issue would be :

[code]

### Steps to Reproduce Issue

1) install a salt minion with docker sup

[2017-08-17 03:14] pitchblack408 commented on #42927
Yes

[2017-08-17 05:04] vbatoufflet commented on #42437
Great. Thanks for your work on this.

[2017-08-17 07:24] the-glu commented on #42389
@terminalmage In fact I'm running into #42989 , installing pygit2 fixed the issue on my side (probably, because I don't have a comparison with 2016.11 and pygit2 ;))

[2017-08-17 07:51] the-glu commented on #42989
In 2016.11, the SSL verify things and the remote thing is done only when there is no remote: https://github.com/saltstack/salt/blob/2016.11/salt/utils/gitfs.py#L884
In 2017.7, https://github.com/saltstack/salt/blob/2017.7/salt/utils/gitfs.py#L968, this is not done in the if block but in all cases ( https://github.com/saltstack/salt/blob/2017.7/salt/utils/gitfs.py#L979-L989 )

I'm not sure if it's

[2017-08-17 08:06] szjur opened #43003 "Syndics behind long WAN links are a huge bottleneck"
### Description of Issue/Question
Hi

Syndics behind long WAN links seem to be a huge bottleneck. I have a pool of syndics connected to the top level masters by a typical intercontinental link (ping of ~190 ms). When I ping several hundreds of minions connected to one of those syndic, the results arrive to salt-master in several seconds. But then it takes minutes for salt-syndic to send them back

[2017-08-17 09:22] SuperPommeDeTerre commented on #26995
In addition, if artifactory artefact is SNAPSHOT and marked as unique, the `maven-metadata.xml` file could not exists. So, in case that `maven-metadata.xml` couldn't be retrieved, Saltstack artifactory module should consider `snapshot-version` is equal to `version`.
See https://github.com/saltstack/salt/blob/2017.7.1/salt/modules/artifactory.py

[2017-08-17 10:26] F30 commented on #32975
FWIW, I worked around this by using `{{ pillar['...'].decode('utf-8') }}` in the template. It's not very nice, as you have to know where in the Pillar non-ASCII data is stored, but works.

Additionally, the Salt output now says "Replace text file with binary file" instead of a diff, which is comprehensible but still wrong for UTF-8 data.

[2017-08-17 11:03] Mapel88 opened #43007 "create_service function in win_service module raises exception when service exists"
### Description of Issue/Question
Create_service function in win_service module raises exception when service exists.
This seems a bit exaggerated.
In other modules, when the the required status already present it returns "true" and does nothing.
Worst case it would return false if exists, but never encountered exception in similar situation.

relevant code from module:
    # Test if the service a

[2017-08-17 11:45] fillarios opened #43008 "states.service.running always succeeds when watched state has changes"
### Description of Issue/Question

Applying `states.service.running` returns `True` even when systemd reports an error if the state it watches has changes.

Even running it with a nonexistent service name succeeds.

### Setup

[code]

Output:
[code]

### Versions Report

[code]

[2017-08-17 12:44] konstest commented on #42421
Hello, maybe it will help someone.
I bypassed this error this way:
[code]

[2017-08-17 13:23] Ch3LL commented on #42605
Fixed by https://github.com/saltstack/salt/pull/42097

[2017-08-17 13:23] #42605 closed

[2017-08-17 13:25] Ch3LL commented on #42753
Fixed by https://github.com/saltstack/salt/pull/42848

[2017-08-17 13:25] #42753 closed

[2017-08-17 13:26] Ch3LL commented on #42891
Issue moved to [saltstack/salt-pack #411](https://github.com/saltstack/salt-pack/issues/411) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-17 13:26] #42891 closed

[2017-08-17 13:30] #42514 closed

[2017-08-17 13:52] dadrian commented on #7179
I just made the exact same mistake as @cstockton. While obviously I should have been more careful, this is a ridiculous and anti-user default.

[2017-08-17 14:17] mirceaulinic commented on #42973
I confirm this working fine in 2017.7.1.
Thanks!

[2017-08-17 14:17] #42973 closed

[2017-08-17 14:23] mirceaulinic commented on #42074
I have realised the following:

- the proxy authentication details are in the pillar, under the `proxy` key, which makes it easy to have separate configuration per proxy minion
- the `__pillar__` object is available inside the grains at startup

The why not take everything under `__pillar__['grains']` and load it as static grains? What do you think?

[2017-08-17 14:29] gtmanfred commented on #42973
Awesome!

On Thu, Aug 17, 2017 at 8:17 AM, Mircea Ulinic <notifications@github.com>
wrote:

[2017-08-17 14:34] gtmanfred commented on #42994
In what cases does this fail?

You should be able to set it to `true` `false` or `none` and `if not as_user` should handle it correctly.

https://docs.saltstack.com/en/latest/topics/troubleshooting/yaml_idiosyncrasies.html#true-false-yes-no-on-off

[2017-08-17 14:36] gtmanfred commented on #42990
Thanks for the PR!
Daniel

[2017-08-17 14:40] gtmanfred commented on #42992
Would you mind submitting this commit upstream in a PR against 2016.11 branch in the dockerng.py file, and the 2017.7 branch in the dockermod.py file.

https://github.com/pabloh007/salt/commit/fe7554cfebe64a42cc962078cb087deec5ca918b

Thanks.
Daniel

[2017-08-17 14:43] jubrad commented on #42706
I am also seeing this. I was able to consistently reproduce in a centos 7 docker container with `salt-master 2017.7.0 (Nitrogen)`

I believe the issue is coming from a `/` char in the tag name generated from state preventing the cache file creation here:
https://github.com/saltstack/salt/blob/333d86d96c87b615e01bd182e5c13ae8180f6904/salt/state.py#L1709

It's probably best to use an os encoded vers

[2017-08-17 14:45] gtmanfred commented on #43000
Yup it looks like it was removed at some point, and replaced by

[code]

Thanks,
Daniel

[2017-08-17 14:49] gtmanfred commented on #43001
thanks for reporting this.

@terminalmage when you get a second, could you take a look at this?

It looks like the docker image id is getting changed on the second time this is running through so the comparison to the old container looks like it has changed.

Thanks!
Daniel

[2017-08-17 14:54] dnd commented on #42994
Yes @gtmanfred, it fails because of the YAML idiosyncrasies. Also, it's an optional field in the Slack api, it should be perfectly fine for it to not be there. It's fine if Salt wants to make it required. At the very least that is counter to the API, but also seems like there's no need for it to fail because of that regardless.

[2017-08-17 14:57] thusoy commented on #42437
This is also fixed by the PR I sent yesterday at #42988.

[2017-08-17 15:02] gtmanfred commented on #42994
I am still not sure I understand the problem.  Is it that 'false' or whatever should be strings?

[2017-08-17 15:06] gtmanfred commented on #43007
It would probably be best to return a dictionary that explains what happened and also provide a result.

If you wanted to submit a PR to make this change, we would greatly appreciate it.

Thanks,
Daniel

[2017-08-17 15:08] acgustafson opened #43015 "PDF Download of Documentation Returns a 404 Error"
### Description of Issue/Question
PDF download URL returns a 404 error.

### Steps to Reproduce Issue

Attempt to download a PDF from the salt documentation website.

Page to download from: https://docs.saltstack.com/en/latest/contents.html

The link we are trying to reach: https://docs.saltstack.com/en/pdf/Salt-2017.7.1.pdf

[2017-08-17 15:08] gtmanfred commented on #43008
This will be fixed in PR #43016

Thanks for reporting.
Daniel

[2017-08-17 15:24] icksa opened #43017 "wheel.key.accept reactor broken in 2017.7.1"
### Description of Issue/Question
I have a reactor that is used to auto accept minions with specific public keys that is working well using salt 2017.7.0. In 2017.7.1 I am seeing an exception about accept in the event log:

[code]

So, something changed with wheel.key.accept in 2017.7.1 but I am not sure exactly what that is.

### Setup
[code]

auth_pending.sls:
[code]

### Steps to Reproduce Issu

[2017-08-17 15:26] zerthimon commented on #42937
@garethgreenaway Something weird is going on when trying to run a single state:
[code]
And the highstate just fails with exception

[2017-08-17 15:26] gtmanfred commented on #43015
We will get it up.

Thanks!
Daniel

[2017-08-17 15:31] garethgreenaway commented on #42937
@zerthimon Is it just that state that is causing the issue or any single state?

[2017-08-17 15:37] jessebye commented on #31562
@ahammond and @barm4ley I don't know if this helps at all, but I found that this syntax works:
[code]

[2017-08-17 15:43] gtmanfred commented on #43003
It looks like there was some work on sending all the minion returns in one syndic return, but it was closed because the bug it was supposed to fix was solved elsewhere.

#32650

Assigning to @DmitryKuzmenko who is going to look at this tomorrow.

Thanks for reporting this.
Daniel

[2017-08-17 15:46] gtmanfred commented on #43017
So, passing kwargs like that was deprecated in Nitrogen.

[code]

You should be able to change your reactor state to look like this.

Thanks,
Daniel

[2017-08-17 15:56] damaex17 commented on #37802
so i worked around this to make our CD work and fail the build in case the minion is not connected by wrapping salt into a bash script

[code]

[2017-08-17 15:56] zerthimon commented on #42937
@garethgreenaway any single state. Same error even if I provide a name of a non-existent state.

[2017-08-17 15:59] zerthimon commented on #42937
[code]

[2017-08-17 16:09] #40634 closed

[2017-08-17 16:14] #38933 closed

[2017-08-17 16:15] #42357 closed

[2017-08-17 16:59] damon-atkins commented on #32975
Hi @F30  you might be interested in this function
`def _yaml_result_unicode_to_utf8(data):` within  salt/renderers/yaml.py`  forces everything to a PY2 string (which would be bytes in PY3)

Try on a test box, as it looks like this function has been removed in development.
[code]

Also see https://github.com/saltstack/salt/issues/42278#issuecomment-318913952 `salt logging with plain str (ascii) wit

[2017-08-17 17:07] damon-atkins commented on #42278
Anyone reading this thread _yaml_result_unicode_to_utf8(data) has been removed from salt/renderers/yaml.py in development.

[2017-08-17 17:24] nixjdm commented on #42926
I also just discovered that the minion_id is not changed either. It is the previous hostname. Can we add that to the list? Another ticket?

[2017-08-17 17:32] damon-atkins opened #43022 "develop salt.utils.sanitize_win_path_string breaks state.apply/highstate on windows"
### Description of Issue/Question

### Setup
salt minion on windows apply a state or highstate.

[code]

My preference would be to see this function removed, or raise an error.
Also note trantab ends up being a extremely long string, could be all of the unicode chars.

If it must be kept try

[code]

I add code to print the winpath value and type. When value passed is Unicode it breaks.
[code]
I h

[2017-08-17 17:35] garethgreenaway commented on #42937
@zerthimon Seems like the bug you found is related to another reported issue which was fixed by PR #42860 which will go into 2017.7.2.

[2017-08-17 17:41] pabloh007 commented on #42992
Will work on it today.. Thanks!

[2017-08-17 17:45] garethgreenaway commented on #42937
Looking closer might be related but probably not the cause.  Digging deeper.

[2017-08-17 17:57] icksa commented on #43017
Thanks Daniel, that seems to have fixed the issue. Sorry for the trouble.

[2017-08-17 17:57] #43017 closed

[2017-08-17 18:00] epcim commented on #36942
[**@bbruun**](https://github.com/bbruun) commented on [Aug 1, 2017, 10:00 AM GMT+2](https://github.com/saltstack/salt/issues/36942#issuecomment-319297920 "2017-08-01T08:00:48Z - Replied by Github Reply Comments"):

check: https://github.com/saltstack/salt/pull/41538

[2017-08-17 18:11] #42978 closed

[2017-08-17 18:15] UtahDave commented on #42869
The git state has seen some improvements. Would it be possible to test this on the latest 2017.7.1 Salt release?

[2017-08-17 18:16] Ch3LL commented on #42979
@jryberg redhat6 is still supported by saltstack so we have provided python27 packages in our repository for those that need to install python27 alongside centos6 to workaround not supporting python2.6 any longer. Docs are [here](https://docs.saltstack.com/en/latest/topics/releases/2017.7.0.html#python-2-6-deprecation) in the release notes. In fact it looks like it already installed for you as you

[2017-08-17 18:16] gtmanfred commented on #43022
Just to make sure I know where the error is, if you switch the if statement in that to check if isinstance `str` instead of `six.string_types`.  I think the problem is where we changed `str` to `six.string_types`

I wonder if it is also broken on py3 and needs to be six.binary_types.

Thanks,
Daniel

[2017-08-17 18:47] Ch3LL commented on #42960
Okay I will try to answer all your concerns. Let me know if i miss one:

_1. It would be helpful if the CLI --help string said which --output options were valid. This could be hard-coded in the help pretty easily._

I think this is a great idea. I would like to try to make sure this issue stays a documentation issue so we can track this in another issue. I'll open one after I hit comment

_2. If t

[2017-08-17 18:48] abednarik commented on #42869
Ok, I will give it a try.

[2017-08-17 18:55] rallytime commented on #42992
Thanks for submitting those PRs @pabloh007!

[2017-08-17 18:55] #42992 closed

[2017-08-17 18:59] Ch3LL opened #43028 "Add list of outputters to `salt --help`"
### Description of Issue/Question
It would be helpful if the CLI --help string included the --output options that are available for the user.

[2017-08-17 18:59] Ch3LL commented on #42960
Heres the issue for salt help https://github.com/saltstack/salt/issues/43028

[2017-08-17 19:02] Ch3LL commented on #42976
No please do continue to create issues it is VERY helpful to backtrack to figure out what the PR helped fix. We are just trying to make better efforts towards closing issues sooner then later when its possible. With this approach if we are certain the PR is going to resolve the issue we will close the issue and continue discussion about the fix in the PR. If the issue needs to be re-opened if the

[2017-08-17 19:05] damon-atkins commented on #43022
translate does not like the contents of trantab when applied against a unicode string within winpath
[code]
The regex is a much cleaner solution. It seems this function is only used three times.

[code]

[2017-08-17 19:17] gtmanfred commented on #43022
Great, would you mind submitting a PR for that?

Thanks,
Daniel

[2017-08-17 19:21] azmng commented on #21119
Version 2015.5.10 (Lithium)

Same error with **archive.exctracted**. I've tried to define the source_hash in the state or use the https link - both of attempts gave me the same error:

[DEBUG   ] Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/salt/states/file.py", line 1586, in managed
    follow_symlinks)
  File "/usr/lib/python2.7/site-packages/salt/modules/file.py",

[2017-08-17 19:22] Ch3LL commented on #42355
@rmarchei does this last update resolve the issue for you to use the additional int/strftime filters?

[2017-08-17 19:23] #34985 closed

[2017-08-17 19:30] damon-atkins commented on #42706
The issue here will be the `/` in the filename.
i.e. `cmd_|-m1_|-date && touch` a directory `containing test_|-run`
vs
`cmd_|-m1_|-date && touch /test_|-run`

Windows replaces bad chars with _ . I suspect url encoding will not fix this as `/` will be left alone.

[2017-08-17 19:40] fillarios commented on #43008
Thank you! This PR fixes the issue (in my real use-case as well).

[2017-08-17 19:40] #43008 closed

[2017-08-17 19:51] abednarik commented on #36675
Hi Guys

 We are testing v2017.7.1 and look like https://github.com/saltstack/salt/commit/cc2b85cc42a94a2559612899f1f3884771fe45ed introduced a bug.

Running a simple state to ensure a service is running inside FreeBSD fails because after the above change looks like salt assumes that we are running that inside a jail when is not the case.

[code]

[code]

I think here None means *this is not a jai

[2017-08-17 19:51] Ch3LL commented on #43015
This should now be available.

[2017-08-17 19:51] #43015 closed

[2017-08-17 19:53] brianthelion commented on #42960
@Ch3LL Here is the updated version of the script that gave me the results cited above. My `salt` version is the same as the one cited in the issue report; it's just slightly behind HEAD on the "develop" branch.

[code]

[2017-08-17 19:53] abednarik commented on #42869
HI @UtahDave

 We tried with 2017.7.1 but we found a critical bug https://github.com/saltstack/salt/issues/36675#issuecomment-323176122 so is not an option right now :(

[2017-08-17 19:58] adeck commented on #40916
I am also affected by this issue. And it is annoying.

[2017-08-17 20:06] gtmanfred commented on #40916
@blarghmatey it looks like you wrote the testinfra module, would you mind taking a look at this?

Otherwise, anyone else that wanted to submit a PR to fix this issue, we would greatly appreciate it.

Thanks,
Daniel

[2017-08-17 20:14] blarghmatey commented on #40916
The fix for that behavior was recently merged into the develop branch.

[2017-08-17 20:21] garethgreenaway commented on #41737
Fixed in #42317

[2017-08-17 20:21] #41737 closed

[2017-08-17 20:23] garethgreenaway commented on #41263
Fixed in #41325 and #42489

[2017-08-17 20:23] #41263 closed

[2017-08-17 20:27] terminalmage commented on #42989
@the-glu I've approved your PR and added additional comments, see [here](https://github.com/saltstack/salt/pull/43002#pullrequestreview-57045189)

[2017-08-17 20:29] gtmanfred commented on #40916
Do you have a PR, so that we can backport it to the 2016.11 branch?

Also, in the future, for bug fixes, it is usually best to submit them to the oldest supported release

https://docs.saltstack.com/en/latest/topics/development/contributing.html#the-current-release-branch

[2017-08-17 20:30] gtmanfred commented on #40916
Found it https://github.com/saltstack/salt/pull/42547

We will get this backported.  Thanks,
Daniel

[2017-08-17 20:30] #40916 closed

[2017-08-17 20:33] blarghmatey commented on #40916
Sorry for being so terse in my last response, I was on my tablet. Next time I will issue a PR against the supported releases.

[2017-08-17 20:44] #42989 closed

[2017-08-17 20:49] gtmanfred commented on #40916
No worries!

It was easy to find 😉

[2017-08-17 20:58] mcarlton00 opened #43036 "Linux VMs in Bhyve aren't displayed properly in grains"
### Description of Issue/Question
When running Linux VMs under a Bhyve hypervisor, the "virtual" grain appears as a "physical" device.
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Versions 2015 to 2017.7 all show "physical" for the virtual grain
Discovered on both Ubuntu and CentOS VMs
### Steps to Reproduce Issue
(Include debug logs if possible

[2017-08-17 22:53] UtahDave commented on #42869
OK, so aside from the bug you ran into, does the git.latest work with 2017.7.1?

[2017-08-17 23:03] darcoli opened #43040 "gitFS ext_pillar with branch name __env__ results in empty pillars"
### Description of Issue/Question
From documentation, when using git with ext_pillars, one should be able to use `__env__` instead of directly specifying a branch name.  This should result in the master trying to use the git branch matching with the pillarenv or environment on the minion. This seems to be broken because currently it results in empty pillars on the minion.

### Setup
/etc/salt/mast

[2017-08-17 23:12] abednarik commented on #42869
We didn't tried because tests always fails, so with that bug, is impossible for us to run tests and reproudce this error.

[2017-08-17 23:35] lsh-0 commented on #42966
no, I'm talking about the ordering of files when a glob `*` is used.

typically this order can't be guaranteed: `$ cat /etc/salt/minion.d/*.conf` will not give you the same ordering as `include: minion.d/*.conf`.

However it looks like Salt actually is ordering files alphanumerically, which allowed me to number the config snippets so that production conf files overrode dummy conf files.

It's mino

[2017-08-17 23:41] UtahDave commented on #42869
Would it be possible to isolate just the git.latest piece of your test suite and test against 2017.7.1?

[2017-08-18 00:36] oekelly opened #43042 "Ubuntu 14.04.05 - salt-common package conflicts with libssl1.1"
### Description of Issue/Question

Installation of the salt-minion package is blocked on Ubuntu 14.04.05 due to unmet dependencies in the salt-common package:

[code]

The salt-common=0.17.5+ds-1 package can not be installed, as it will cause the removal of both libssl1.1 and various dependent php5.6-* packages from the common 'ondrej' PPA http://ppa.launchpad.net/ondrej/php/ubuntu/

[code]

Chain

[2017-08-18 00:46] pabloh007 opened #43043 "docker.save and docker.load problem"
### Description of Issue/Question
Im having problems with two docker functions. save and load.
Here is an example:
`salt 'dev-machine' docker.save webservice:0.0.4 /tmp/webservice_img.tar overwrite=True push=True`
then I load the image in another machine
`salt 'stg-machine' docker.load salt://webservice_img.tar image=webservice:0.0.4`
It generates this Warning
More than one top-level image layer w

[2017-08-18 01:31] garethgreenaway commented on #38934
The issue is that the custom beacons aren't able to imported like the stock ones are.  Working on a fix to move the validation to a different spot, which should allow custom beacons to be handled with the module & state module.

[2017-08-18 03:03] Kwantem commented on #36654
75 worker threads

[2017-08-18 07:19] jryberg commented on #42979
Hi @Ch3LL

I do not wish to be rude of your work to make SaltStack better, I understand that Python 2.6 are very old and are causing issues for maintainability of the software.

You are correct that you are bundling Python 2.7 and you are correct that salt **core** functionality works.

I do have one very strong concern that almost all modules, states and other components that requires external py

[2017-08-18 09:57] anuja12415 opened #43044 "Saltstack supervisord execution module fails to reread changes in application configuration file"
### Description of Issue

[code]

I am using the above mentioned modules to reread and update any changes made to supervisor configuration file for my application running on minion. When I run state.apply in master, changes in the supervisor conf file  are not getting reflected in the minion.

### Versions Report
Version of Salt for Master and Minion : 2017.7.0 (Nitrogen)

[2017-08-18 10:16] stardust85 commented on #7179
It is also discussed here: https://github.com/saltstack/salt/issues/26202

[2017-08-18 10:27] stardust85 commented on #26202
Also discussed in https://github.com/saltstack/salt/issues/7179

Two guys were hurt by this again. Two years after reporting people still accidentally upgrade whole system instead of one package.

This is another argument for (and I hate to say that, as a salt user and contributor) leaving Salt.

[2017-08-18 10:35] stardust85 commented on #26202
Ok, to be more constructive, I propose this fix:
1. deprecate old behavior so it prints warnings, update docs
2. one release later, remove the dangerous functionality

[2017-08-18 11:21] damon-atkins commented on #26202
Simple fix is your need to pass a magic package name.
e.g. `++all++` e.g.
[code]
Anyone one the salt team think this is a bad idea?   Please add your github reaction to this comment.
Anyone know of a package called `++all++` that would cause an issue if this was the magic name.

[2017-08-18 11:30] DmitryKuzmenko commented on #43003
@szjur I've ported the patch @gtmanfred mentioned above. With this patch applied syndic sends all collected minion returns in one request. Both master and syndic have to be patched.
I've tested the difference on 2016.11.5 with 100 mininons using `tc` to emulate network latency.
Without patch: 5.5s vs 1m 22.7s
With patch: 5.5s vs 5.5s.

@szjur is it possible to ask you to test it on your environmen

[2017-08-18 11:43] Modulus opened #43045 "docker.version is not available on ubuntu 14.04"
### Description of Issue/Question
trying to use docker states and modules. Which fails.
I have docker installed, as well as the docker pip module for python.

### Setup
Just paste this into a state file and run it
ubuntu 14.04:
  docker.image_present:
    - name: ubuntu:14.04

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
Run the state mentioned above

salt minion_id

[2017-08-18 11:46] mirceaulinic commented on #38744
Looking a bit closer into it, seems that the configuration option I need is already there and it's called `interface` rather than `source_ip` (what I would expect). When referring to `interface` I would expect there to configure the name of the interface, rather than an IP address (or allow both). Anyway, that's no biggie, just food for thoughts and looking for more opinions.

Fortunately this loo

[2017-08-18 11:48] mirceaulinic commented on #38744
Just realised this is what @gtmanfred pointed out just above...

[2017-08-18 11:56] darcoli opened #43046 "Minion setting pillarenv_from_saltenv ignores commandline saltenv argument"
### Description of Issue/Question
When setting `pillarenv_from_saltenv: True` on salt minions, it is expected that there should not be a need to provide the `pillarenv=...` in the commandline when the `saltenv=...`. However, it seems that when saltenv is provided in the cli, this option does not behave as expected and the pillarenv falls back to base instead.

### Setup
In our testing we were usin

[2017-08-18 12:33] abulford opened #43047 "Add support for IPAM config to docker_network.present"
### Description of Issue/Question

When creating Docker networks using `docker_network.present`, currently the only configuration options you can specify are the `name` and `driver` (and `driver_opts` in the `develop` branch thanks to #40753).  In order to make use of [macvlan](https://docs.docker.com/engine/userguide/networking/get-started-macvlan) networks you need to be able to specify the subn

[2017-08-18 12:36] szjur commented on #43003
Thank you for a superfast response! I will surely test it, but it will take me a few days due to other commitments. I spent lots of time recently diagnosing this problem and trying to find a way to run commands on tens of thousands of minions in a fast way but avoiding those bottlenecks at the same time.
I hope to get back with some results by next Friday.

[2017-08-18 12:48] sdemura commented on #43040
I spent a lot of time with this yesterday as well. The only different is my repo is in github.

An interesting thing I see in the logs though is this: `Failed to checkout test-push from git_pillar remote '__env__ ssh://git@github.com/apcera/rocksalt.git': remote ref does not exist`

[2017-08-18 12:48] forty8bits commented on #38862
Any updates on this? We're experience this issue as well. For example, given the following Pillar data:

[code]

Used like so:

[code]

The contents are incorrectly rendered as:

[code]

Note the missing indentation of the `network.host` list items.

[2017-08-18 12:56] grobinson-blockchain commented on #42937
We're experiencing the same issue with 2017.7.1. The issue also occurs on instances that have not had previous versions installed either.

    local:
        Data failed to compile:
    ----------
        Traceback (most recent call last):
      File "/usr/lib/python2.7/dist-packages/salt/state.py", line 3629, in call_highstate
        top = self.get_top()
      File "/usr/lib/python2.7/dist-packa

[2017-08-18 13:02] abulford commented on #42976
@Ch3LL OK, will do :).

Not wanting to pester, but is there any chance someone could take a look at the PR?  I've just submitted another one (#43049) which kinda depends on this.

[2017-08-18 13:08] abednarik commented on #42869
Sadly at this point is not an option.

Cheers.

[2017-08-18 13:29] grobinson-blockchain commented on #42937
@garethgreenaway I tried the patch in https://github.com/saltstack/salt/pull/42860 but I'm afraid I still get the same error.  I'll report back with more information when I've found the root cause.

[2017-08-18 13:34] DmitryKuzmenko commented on #43003
Thank you @szjur !

[2017-08-18 13:34] stardust85 commented on #26202
@damon-atkins This is a funny solution, but it should work :)
I think it it's time to deprecate pkg.upgrade without args in favor of this syntax

[2017-08-18 13:36] stardust85 commented on #26202
@basepi any input on this?

[2017-08-18 13:40] rmarchei commented on #42355
yes @Ch3LL, with the additional filter I haven't experienced the issue anymore, so I'll go ahead and close the issue.

Thank you!

[2017-08-18 13:40] #42355 closed

[2017-08-18 13:55] grobinson-blockchain commented on #42937
The issue appears to be that `self.channel.send(load)` in `__hash_and_stat_file` can return False (see https://github.com/saltstack/salt/blob/2017.7.1/salt/fileclient.py#L1270) where the [caller](https://github.com/saltstack/salt/blob/2017.7.1/salt/fileclient.py#L1044) expects two return values.

The exception occurs because of the following:

    Traceback (most recent call last):
      File "<st

[2017-08-18 14:03] grobinson-blockchain commented on #42937
This errors appears to happen because the salt master is on an older version than the minion:

    2017-08-18 14:00:39,048 [salt.master      ][ERROR   ][18046] Received function _file_hash_and_stat which is unavailable on the master, returning False

the fix is to update the salt master to 2017.7.1

[2017-08-18 14:09] Ch3LL commented on #43036
@mcarlton00 thanks for the PR! Since it looks like your PR resolves the issue I will close this issue but please let me know if there is an issue with the PR and we can re-open the issue.

[2017-08-18 14:09] #43036 closed

[2017-08-18 14:22] Ch3LL commented on #43040
@sdemura can you confirm @darcoli 's fix works for you as well?

[2017-08-18 14:38] Ch3LL commented on #43042
@oekelly those are pretty old packages. If you tried the newere salt packages from repo.saltstack.com (2016.11.7 or 2017.7.1?) do you still see this issue?

[2017-08-18 14:39] Ch3LL commented on #43043
@pabloh007 a PR would be great. I know @terminalmage has done a lot of work in the docker modules so he will have some great insight into this problem as well.

[2017-08-18 14:59] Ch3LL commented on #43044
@mintyanuja can you include the sanitized output from `salt-call --local state.sls state -ldebug` When i run the state I'm seeing it run the update command so this will allow us to see why its possibly failing for you.

[2017-08-18 15:35] sdemura commented on #43040
@Ch3LL: it's working beautifully. Nice fix @darcoli!

[2017-08-18 15:35] Ch3LL commented on #43046
@darcoli it seems this might be a duplicate of https://github.com/saltstack/salt/issues/43040

which is fixed in https://github.com/saltstack/salt/pull/43041 can you give that a try?

[2017-08-18 15:41] Ch3LL commented on #43047
@abulford thanks for the PR! Since this seems to resolve this feature request I will close this issue but if there is an issue with your PR let us know and can re-open this issue for tracking.

[2017-08-18 15:41] #43047 closed

[2017-08-18 15:46] Ch3LL commented on #43045
@Modulus can you specify your docker version and docker-py version?

And just as an extra check can you run `python -c "import docker; docker.version_info"` using the same python version as what salt is using. (according to your version report 2.7.6)

[2017-08-18 16:15] ghost opened #43055 "Salt version salt 2017.7.1 (Nitrogen) give garbage output for Vault command output"
### Description of Issue/Question
We are using salt state for checking Vault status which returns status as sealed or unsealed. For latest version we are getting "2"  is added with stdout .
Changes:
              ----------
              pid:
                  3015
              retcode:
                  0
              stderr:
              stdout:
                  ?[H?[JUNSEAL_STATUS:unsealed

[2017-08-18 16:40] dhaines commented on #41451
And what might that solution be?

[2017-08-18 16:40] dhaines commented on #41451
And what might that solution be, @sumeetisp?

[2017-08-18 16:42] jcocozzi opened #43057 "permission denied: /var/tmp when using salt-ssh"
### Description of Issue/Question
Permission error when attempting to run with Salt-SSH

[code]

### Setup
Roster and salt state file can be attached if needed.

### Steps to Reproduce Issue
Issue the following command:
sudo salt-ssh -i --username jcocozzi --passwd ***** --roster scan "10.52.137.50" test_engine.sls

### Versions Report
Salt Version:
           Salt: 2017.7.1

Dependency Versions:

[2017-08-18 16:53] damon-atkins commented on #32831
Some of the above has changed.
refresh_db validates the information in the slp. winrepo only records enough information to determine a) the unique package name using regex and b) version number (choice of display name, display version or binary version).  The slp template is render again at install and remove time allow the template to be rendered with current information.

[2017-08-18 17:00] cstockton commented on #7179
@dadrian Ah yes, the day I did a full system upgrade on a live 30 machine elasticsearch cluster. By some miracle java wasn't upgraded, thank goodness! Hope you had a little luck too.

[2017-08-18 17:09] racooper commented on #26202
This is a duplicate of #7179 which has been discussing this issue for several years now - 2013 I believe.  The suggestion over there that to me seems best is to leave pkg.upgrade to upgrade the whole system, and pkg.update <package> to update an individual package. This apparently mimics the existing behavior of the ebuild module.  if pkg.upgrade were run with any arguments, it would produce an er

[2017-08-18 17:10] racooper commented on #7179
someone needs to mark #26202 as a duplicate of this ticket and close it.

[2017-08-18 17:17] tyhunt99 commented on #35598
Just wanted to check in and see if this was on anyone's radar for implementing.

[2017-08-18 17:18] damon-atkins commented on #26202
The idea is to avoid an accident.
Does not matter if it is `pkg.doit`  it still needs to be `pkg.doit ++all++`

[2017-08-18 17:40] whiteinge commented on #42622
Closing. Feel free to reopen if you'd like to continue the discussion.

[2017-08-18 17:40] #42622 closed

[2017-08-18 18:55] sdemura commented on #19032
This is still happening on 2017.1.1

`salt "foo" state.highstate mock=True saltenv=bar` works, but it would still be nice to see the output of `show_highstate` when using saltenvs.

[2017-08-18 19:24] Ch3LL commented on #43055
Can you please share the state so I can try to reproduce the behavior?

[2017-08-18 19:31] Ch3LL commented on #43057
I'm having a hard time replicating this. Are the perms correct on that folder for that user?
also is `test_engine.sls` a custom module?

[2017-08-18 19:34] Ch3LL commented on #35598
No this is not scheduled on our end due to other higher priority features and bugs. Please feel free to take a go at a PR for it :)

[2017-08-18 19:54] jcocozzi commented on #43057
Permissions of the tmp directory:

`drwxrwxrwt  2 root root   4096 Aug 18 12:28 tmp
`
This is my sls file:

# python packages
python:
  pkg:
    - installed
python-tk:
  pkg:
    - installed
python-dev:
  pkg:
    - installed
python-ostinato:
  pkg:
    - installed
pyshark:
  pkg:
    - installed
PyYAML:
  pkg:
    - installed
python-software-properties:
  pkg:
    - installed
pysnmp:
  pkg:
    -

[2017-08-18 20:16] Ch3LL commented on #42966
Thanks for clarifying the issue. Looks like we are indeed adding a sort to any includes [here](https://github.com/saltstack/salt/blob/develop/salt/config/__init__.py#L2092)

Will use this issue to add this to the documentation

[2017-08-18 21:12] TheVakman opened #43063 "win_wua.list install=True - Passed invalid arguments to win_wua.list: 'int' object is not callable"
### Description of Issue/Question
The win_wua module has some issues with the list function and the "install=True" option.

The error is:
`    Passed invalid arguments to win_wua.list: 'int' object is not callable`

### Steps to Reproduce Issue
You can use this module with download=True or install=True and you will encounter this error.
`salt MINIONNAME win_wua.list categories=["Security Updates"]

[2017-08-18 21:14] talktosaswat commented on #43055
we have nothing fancy . Just calling a shell script
 cat vault-status.sls
=========================
/root/OSCFL/vault-operation:

    file.recurse:
      - name: /root/OSCFL/vault-operation
      - source: salt://appdir/vault/OSCFL/vault-operation
      - makedirs: True
      - user: root
      - group: root
      - failhard: True

/root/OSCFL/vault-operation/vault-status.sh:
    file.managed:

[2017-08-18 21:19] talktosaswat commented on #43055
Please find the vault-status.sh  script which we call from salt state
[vault-status.sh.txt](https://github.com/saltstack/salt/files/1235692/vault-status.sh.txt)

attached here

[2017-08-18 21:26] TheVakman commented on #43063
Actually, this can likely be closed. It looks like a duplicate of #42482.

I'm guessing that fix will make it to 2017.7.2.

[2017-08-18 21:35] terminalmage commented on #42869
I spoke with @UtahDave about this and we narrowed it down to a race condition when the remote repo is updated between when we run `git ls-remote` to check which commit we are targeting, and when the remote repo is fetched. I was able to reproduce the failure by pausing execution in a debugger, then pushing a new commit to the remote repo before resuming.

The fix is in https://github.com/saltstack

[2017-08-18 22:12] nixjdm opened #43067 "host.absent can't remove a line in /etc/hosts by only specifying ip or name"
### Description of Issue/Question
[salt.states.host.absent](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.host.html) is meant to remove data from /etc/hosts. When specifying a name and ip, it will successfully remove the name from that ip. If it is the only name, it will remove that whole line from /etc/hosts. I would like host.absent to be able to take only an ip, and just remov

[2017-08-18 23:51] twellspring opened #43069 "salt-cloud AWS server can not set a recover alarm"
### Description of Issue/Question
Trying to create a cloudwatch alarm to recover a server if it fails. For an hvm image of ubuntu a salt-cloud created server the recover option is disabled.  The same option is available if I spin up an hvm ubuntu server via the GUI.   Per AWS Support the servers spun up by salt-cloud have some portions of the instance store setup and that is what is preventing thi

[2017-08-18 23:57] twellspring commented on #43069
screenshots below show the greyed out option on the salt-cloud server and the available option on the gui created server. to get to this screen

- Right click on an instance
- Under `Cloudwatch Monitoring` select `Add/Edit Alarms`
- Click `Create Alarm`

![screen shot 2017-08-18 at 4 54 47 pm](https://user-images.githubusercontent.com/9868888/29481419-016fd9ee-8436-11e7-9835-4328a9b91656.png)
![sc

[2017-08-19 00:05] twellspring commented on #43069
Looking at the debug log I see the EC2 response is showing /dev/sdb and /dev/sdc.  From what the AWS rep said it is these definitions ( even though there is no device behind them) that are stopping this from working.

[code]

[2017-08-19 00:54] lsh-0 commented on #42966
thankyou - and thankyou for the link.

[2017-08-19 01:50] abednarik commented on #42869
Hi @terminalmage

 Thanks for fixing this one. For sure we will try this fix next week.

Cheers.

[2017-08-19 02:33] gtmanfred commented on #43063
Yes, that fix will be in 2017.7.2

In the mean time, you can copy the `win_wua.py` into `salt://_modules`

https://docs.saltstack.com/en/latest/ref/file_server/dynamic-modules.html

Daniel

[2017-08-19 02:33] #43063 closed

[2017-08-19 05:42] sumeetisp commented on #41451
Documentation should be updated so that it clearly states os_disk_size is a
parameter that can be specified in the profile

On Aug 18, 2017 22:11, "David J. Haines" <notifications@github.com> wrote:

[2017-08-19 05:46] gtmanfred commented on #43067
So, no matter what, name is always passed, that is a saltism.

So

[code]

This is actually the same as

[code]

and will try and remove `127.0.0.1 rm` from /etc/hosts.

We could make this a feature request, for the ability to remove all instances of a specific host name.

Let me know what you want to do.
Thanks,
Daniel

[2017-08-19 05:50] gtmanfred commented on #43067
If you want to remove the whole line, you could use a `file.line` state with mode=delete.

[2017-08-19 13:40] #13749 closed

[2017-08-19 13:40] #13855 closed

[2017-08-19 13:40] #13861 closed

[2017-08-19 13:40] #13868 closed

[2017-08-19 13:40] #12672 closed

[2017-08-19 13:40] #13892 closed

[2017-08-19 13:40] #13928 closed

[2017-08-19 13:40] #13931 closed

[2017-08-19 13:40] #13934 closed

[2017-08-19 13:40] #8682 closed

[2017-08-19 13:40] #13915 closed

[2017-08-19 13:40] #13956 closed

[2017-08-19 13:40] #14000 closed

[2017-08-19 16:02] Reiner030 commented on #34219
Its interesting how such old package is needed / seems to be used for testing...
For Debian luckily there is till the **old old stable** = wheezy package available with the right version:
https://packages.debian.org/wheezy/python-cherrypy3

[2017-08-19 16:22] daveneeley commented on #21714
Seeing this from vagrant centos/7 with salt bootstrap, fresh minion install.

[code]

[2017-08-19 17:13] darcoli commented on #43046
Thanks @Ch3LL Yes I did try that fix but it still does not solve this issue. The gitFS fix in #43041 would be a prerequisite here since my instructions to replicate use gitFS.

However the issue can be replicated by using environments making use of just local directories - indicating that this issue is not related to gitFS itself.

By using the the attached git repo from my original post, we can c

[2017-08-19 18:25] jared-mess commented on #43001
I'm having a similar issue where I need to run `state.highstate` twice for `docker_container.running` to take effect on a fresh Ubuntu 16.04 instance, but I get an error the first time.

#### Master Output
[code]

#### Minion Log
[code]
#### SLS
[code]
#### System Report
[code]

[2017-08-19 18:27] twellspring commented on #41178
no not working on anyone.   Just gave a suggestion above about a fix but it would have potential affect on existing users so I needed advice

[2017-08-19 18:45] talktosaswat opened #43071 "salt-cloud with Azure integration issue"
### Description of Issue/Question
I am trying to integrate saltcloud 2017.7.1 with Azure cloud by following the document
https://docs.saltstack.com/en/latest/topics/cloud/azure.html . I am getting multiple issue starting from Azure driver. Could you please confirm if salt-cloud is already tested with Azure and any final productive version of document available for error free installation.  I have

[2017-08-19 18:53] twellspring commented on #43067
Looks like hosts.only would do what you wanted.  Per the hosts.only documentation
[code]

So the code would be
[code]

[2017-08-19 21:13] darcoli commented on #43046
PR #42388 seems to solve part of the problem: pillar.items returns correct values respecting the `pillarenv_from_saltenv` setting . However, states.sls still gets wrong pillars.

[2017-08-20 13:51] #14050 closed

[2017-08-20 13:52] woodsb02 commented on #36675
I am having the same issue as @abednarik has reported here.

Troubleshooting by adding some additional "log.info" lines in the freebsdservice.py code has revealed that

- the "jail" variable has the type NoneType in the "get_all" function
- when the "get_all" function calls the "_cmd" function, the "jail" variable has the type str within the "_cmd" function

After a lot of troubleshooting, I have

[2017-08-20 16:49] darcoli commented on #43046
PR's #42388 and #43072 are both needed together to solve this issue.

[2017-08-20 18:16] vtolstov commented on #37080
any news? i have old data in pillar in 2016.11

[2017-08-20 18:21] mamalos commented on #36675
Hi guys,

And sorry for the delayed answer, but unfortunately (or fortunately? :) ) I'm on vacation with limited Internet access. On Tuesday morning (EEST)  I'll be back in my office, so I'll try correcting it then, if it's not that critical. I already see some workarounds, but it's a long time since I've written this code so it'd be much better if I gave it a more thorough look before submitting

[2017-08-20 23:05] gzcwnk opened #43075 "Improvement is documentation - examples please"
### Description of Issue/Question

Unable to figure out how to restart a service in a sls file

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

###
So I am trying to restart a service after I have changed its config file,

[code]
###

Which doesnt work.

It would be really nice if there are examples on how to do this, cant find any via googling.

#

[2017-08-21 03:20] moali87 opened #43076 "Yum pkg.installed false error"
### Description of Issue/Question

### Setup
salt with kitchen-salt running 2017.7.1
### Steps to Reproduce Issue
Run a state like the following:
[code]
### Versions Report
[code]

### Log from minion
[code]

### Log from salt run
[code]

[2017-08-21 03:56] Manoj2087 opened #43077 "Issue with deleting key via wheel"
### Description of Issue/Question

I have created an reactor system to listen for the event tag 'salt/presence/change' and delete all the lost minion key using the wheel.key.delete. This was working until recent in the same major release (2017.7.1) . But now I come across the below error. The salt master was recently rebuild using the below command

**Error:**
salt/wheel/20170818045716097720/ret

[2017-08-21 05:01] vnitinv opened #43078 "salt.schedule for junos.rpc errors"
### Description of Issue/Question
If we add a schedule for junos.rpc, gets some error which is not coming from junos or junos code.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
**salt 'vmx' schedule.modify job1 function='junos.rpc' job_args="['get-route-information']" seconds=10**
logs:
`
[DEBUG   ] Sending event: t

[2017-08-21 06:13] Modulus commented on #43045
docker-py version: python -c "import docker; print(docker.version_info)"
(2, 5, 0)

Python version: python -V
Python 2.7.6

[2017-08-21 07:20] guettli opened #43079 "How to obtain more details of error message?"
### Description of Issue/Question
I run `salt-ssh` and receive this error message.

[code]

How to obtain more details? I think some heavily needed stdout/stderr gets lost.

### Versions Report

[code]

[2017-08-21 08:09] #19054 closed

[2017-08-21 08:10] mintyanuja commented on #43044
@Ch3LL
** Output in debug mode**
{'jid': '20170821070529263496', 'retcode': 0, 'ret': {'module_|-myapp_update_|-supervisord.update_|-run': {'comment': 'Module function supervisord.update executed', 'name': 'supervisord.update', 'start_time': '07:05:29.487081', 'result': True, 'duration': 49.66, '__run_num__': 1, '__sls__': 'myapp', 'changes': {'ret': ''}, '__id__': 'myapp_update'}, 'supervisord_|-

[2017-08-21 08:20] stardust85 commented on #7179
What about renaming pkg.update to pkg.update_all? This would be explicit enough :) And pkg.update would require an argument of course

[2017-08-21 08:23] stardust85 commented on #26202
Ok, not to have this in 2 issues, I'm closing this as a duplicate of #7179. When I discussed in #7179 somebody asked me to open a new issue if I remember well.

[2017-08-21 08:23] #26202 closed

[2017-08-21 09:05] te-af-github opened #43080 "Check Master vs Minion Version"
Referring to issue #42448: Why on earth is salt not checking the the version of the minion and is then providing a meaningful error (or warning) message if this is so important?

This clearly violates the "fail fast" principle. So my feature request would be:

Make the salt master fail fast if an older / incompatible minion version is detected.

[2017-08-21 10:08] aogier commented on #42739
Hi, I've just implemented group/useradd for Synology platforms, relevant integration tests are passing.
I've however encountered a couple of issue I'd like to implement in a salty way:

 * code repetitions: I'd like to refactor code in an `utils` package (see for example [here](https://github.com/aogier/salt/blob/6b4a78c6dec0e37ad3d901a4a381bd74030275a5/salt/modules/groupadd.py#L38) and [here](htt

[2017-08-21 10:20] schasi commented on #30367
Still happens as of 2016.11.5. A salt-run state.orch returns successfully even if the host to run a state on is not online o_0

[2017-08-21 11:07] loz-hurst commented on #24491
Hi,

I came across this but looking for something else but I thought that I would add my thoughts as I use this myself and rely on it working as documented.  So, from my perspective as a user, the current behaviour is exactly what I would expect to happen according to the documentation ("Run the given command only if the watch statement calls it.").

According to the documentation, therefore, cmd.

[2017-08-21 11:18] loz-hurst commented on #43080
I agree - I've just spent ages getting nowhere with why creates wasn't working with "cmd.run" just to find one minion was out of date.  Salt should emit a warning if there is a master/minion version mismatch - definitely if there's a major version difference (2014 vs 2015 in my case).

[2017-08-21 12:43] danhawkes opened #43083 "ldap.managed error: exception in ldap backend: LDAPError(0, 'Error')"
### Description of Issue/Question

Attempting to run a state with `ldap.managed' , I'm seeing the following error:

[code]

However, I can't find any info on the error in the [python-ldap docs](https://www.python-ldap.org/doc/html/ldap.html#exceptions).

What does the error mean / how can I go about debugging it?

### Setup
`ldap.sls`
[code]

### Steps to Reproduce Issue
salt '*' state.apply ldap

[2017-08-21 13:07] johnkeates opened #43084 "postgres_database.present fails with no usable error message"
### Description of Issue/Question
postgres_database.present returns -1 but nothing else when it fails.

The minion log, however, contains the useful error message:
[code]

This error message is only a demonstration, it seems that on failure, stderr is not used to show a message to the user. In this case, using the postgres formula I set a database with a collation which apparently was incompatible

[2017-08-21 13:27] dadrian commented on #7179
@cstockton That's exactly what I did.

[2017-08-21 14:29] n-rodriguez commented on #42165
Hi there! Any news?

[2017-08-21 14:32] brejoc opened #43085 "Patch for Kubernetes module missing from 2017.7 and 2017.7.1"
### Description of Issue

This PR (saltstack/salt/pull/42174) has been merged into `develop` although the Kubernetes module was introduced in 2017.7. This patch is currently still missing from `2017.7` and `2017.7.1`.

[2017-08-21 14:39] aogier opened #43086 "pylint: Instance of 'tuple' has no 'extend' member (no-member)"
when developing on another branch I saw some errors that pylint indeed partly confirmed:

[code]
This probably could get a better coverage in tests, I'll try to track it down and then fix it !

[2017-08-21 14:44] rallytime commented on #43085
@brejoc I can back-port that fix to the 2017.7 branch. Note that it will not be back-ported to the 2017.7.1 branch as `v2017.7.1` has already been released.

[2017-08-21 14:54] gtmanfred commented on #42739
`__salt__` is not available in `__utils__`

You can see what is loaded in each module by checking `salt.loader`

https://github.com/saltstack/salt/blob/2017.7/salt/loader.py#L341

As for point 2, I don't think there is really any guidelines except that you should make sure to make a note of it in the docstring for the function.  Whichever way you think is best.

[2017-08-21 15:01] jcocozzi commented on #43057
I was able to get past this issue by going to the client machine and removing the tmp directory that was created:

![image](https://user-images.githubusercontent.com/13281426/29523155-0af195cc-865a-11e7-8428-bd24f116ff55.png)

[2017-08-21 15:10] jcocozzi commented on #43057
Closing issue due to finding a solution.

[2017-08-21 15:10] #43057 closed

[2017-08-21 15:13] gtmanfred commented on #43067
Cool, looks like that works.

Thanks @twellspring

[2017-08-21 15:13] #43067 closed

[2017-08-21 15:16] gtmanfred commented on #43075
You can either use the

[code]

Or you can use the mod_watch functionality.

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.service.html#salt.states.service.mod_watch

This is triggered using `watch` or `listen` to run the service.running state after another state has a change

https://docs.saltstack.com/en/latest/ref/states/requisites.html#watch

https://docs.saltstack.com/en/lat

[2017-08-21 15:16] #43075 closed

[2017-08-21 15:38] tsaridas opened #43089 "Tornado API does not work for multimaster-multisyndic"
### Description of Issue/Question
I tried to install tornado api in a multimaster multi syndic environment but when trying to target \* from API the only results coming back are from the minions on the syndic.
Doing so from the command line works fine.

In general I don't really understand why there is a call to https://github.com/saltstack/salt/blob/develop/salt/netapi/rest_tornado/saltnado.py#L9

[2017-08-21 15:38] gtmanfred commented on #43001
@jared-mess that is a different issue, but will be fixed by this PR.  https://github.com/saltstack/salt/pull/43088

[2017-08-21 15:39] gtmanfred commented on #43001
Also, I am able to replicate @BenjaminSchubert s issue pretty easily.

[code]

[2017-08-21 15:40] gtmanfred commented on #43045
First, it should be `docker` not `dockermod`, the module has aliases to be able to run as `docker` `dockerng` or `moby`.

Second, can you provide the versions report on the minion?

`salt minion_id test.versions_report`

Thanks,
Daniel

[2017-08-21 15:45] garethgreenaway commented on #42937
@grobinson-blockchain Thanks.
@zerthimon Can you confirm that you're salt master & salt minions are all either 2017.7.0 or 2017.7.1?

[2017-08-21 16:21] garethgreenaway commented on #43069
@twellspring Thanks for the report!  Did the AWS representative  give any additional information as to why the sdb and sdc definitions would be causing the issue?  It doesn't appear that they're defined in your cloud configuration but they might be part of the Ubuntu image.  Are you using the same image with salt-cloud & the AWS GUI?

[2017-08-21 16:24] gtmanfred commented on #43045
It looks like the default `docker.io` version on ubuntu 14.04 is 1.18.

The minimum supported docker version on salt is 1.19, so you will need to upgrade to a newer docker version.

https://github.com/saltstack/salt/blob/2017.7/salt/modules/dockermod.py#L249

[2017-08-21 18:16] garethgreenaway commented on #43080
Definitely a good feature to have.  Thanks for the report!

[2017-08-21 18:17] garethgreenaway commented on #43071
@talktosaswat Thanks for the report.  Can you please provide the output from salt --versions-report and confirm that you have the Python Azure libraries installed?  Thanks.

[2017-08-21 18:41] #43085 closed

[2017-08-21 18:57] garethgreenaway commented on #43076
@AkhterAli Thanks for the report.  We'll get someone to take a look at this.

[2017-08-21 19:03] amontalban commented on #42642
Hey guys,

I'm having the following problem when using branch `2016.11` (Was working fine in `2016.11.6`):

[code]

This is my state:

[code]

Any idea of how can I fix this up?

Thanks!

[2017-08-21 19:23] garethgreenaway commented on #43079
@guettli Thanks for the report. It looks like there is an issue with the packaging system on the client side, possibly a failed attempt that left apt or dpkg in a failed state.

[2017-08-21 19:26] garethgreenaway commented on #43084
@johnkeates Thanks for the report!

[2017-08-21 19:27] garethgreenaway commented on #43086
@aogier Thanks for the report!

[2017-08-21 19:48] danielmotaleite opened #43094 "salt-ssh 2017.7.1 + vault = token in git"
with the salt-ssh 2017.7.1, the vault config changed and now we have to put the token in the master.

the problem is that this collides with version control systems (like git) , we have to push the token to git (and later to github, gitlab, etc), manually remove it before commits, or blacklist the master from commits (and if we need to add something, we need to whitelist it, remove the token, chan

[2017-08-21 19:50] garethgreenaway commented on #43077
@Manoj2087 thanks for the report.
@terminalmage Looks like this might be related to your change in this commit, https://github.com/saltstack/salt/commit/3184168365f35e2a22381a7282e65d8c76a778a6

[2017-08-21 20:20] garethgreenaway commented on #43089
@tsaridas Thanks for the report!

[2017-08-21 20:24] smcquay commented on #32306
Yes. Let's call this good for now. Thanks!

[2017-08-21 20:24] #32306 closed

[2017-08-21 20:25] garethgreenaway commented on #43083
@danhawkes Thanks for the report.  I'm wondering if your seeing that error because Salt isn't able to connect to the LDAP instance.  You may have need to configure salt to be able to talk to LDAP per this page:
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.ldapmod.html

[2017-08-21 20:33] Modulus commented on #43045
I tried with both dockermod and docker, That's why I posted the same command twice. I will post the rest of the info tomorrow.

[2017-08-21 20:35] gtmanfred commented on #43045
The only way I was able to replicate this was with using the default `docker.io` package from ubuntu 14.04, which is too old to work with the salt docker modules.

You would need to use the docker CE repository to get a newer version, or upgrade to ubuntu 16.04

https://docs.docker.com/engine/installation/linux/docker-ce/ubuntu/

[2017-08-21 20:36] Modulus commented on #43045
I used this: https://github.com/saltstack-formulas/docker-formula
Will look into the details tomorrow

[2017-08-21 20:39] gtmanfred commented on #43094
What version of salt were you using when this was possible?

Also, how exactly are you using the vault? are you using sdb or the vault.get execution modules or runner modules?

I am not aware of any changes that would have made this so it wouldn't work, but you might be able to use the environment sdb backend to store stuff in the environment.

https://docs.saltstack.com/en/latest/ref/sdb/all/salt

[2017-08-21 20:41] Modulus commented on #43045
Also:

salt minion_id docker.login **produces the following**:
'docker.login' is not available.

salt minion_id dockermod.login **produces the following**:
'dockermod' virtual returned False: 'module' object has no attribute 'connection'

[2017-08-21 20:44] gtmanfred commented on #43045
Yes, I saw that, I was just letting you know that dockermod didn't need to
be checked, because it wasn't the name the module was loaded under.

On Mon, Aug 21, 2017 at 2:42 PM, John Sigvald Skauge <
notifications@github.com> wrote:

[2017-08-21 20:45] danhawkes commented on #43083
@garethgreenaway Hi, thanks for the response.

Yes - connectivity was my first thought also. However, I think the stack trace shows it's using  `ldap3` rather than `ldapmod` underneath, which doesn't mention any config requirements in the [docs](https://docs.saltstack.com/en/2016.11/ref/modules/all/salt.modules.ldap3.html) (presumably they're set via the `connect_spec` parameter).

Also I can run

[2017-08-21 20:48] danielmotaleite commented on #43094
the best way to give you that info is to refer to my original ticket when i had problems (due to a bug) setting it up

https://github.com/saltstack/salt/issues/38830

looking to the /usr/lib/python2.7/dist-packages/salt/utils/vault.py, i see this:

[code]
and in that profile config, we have:

[code]

[2017-08-21 20:52] thatch45 commented on #42965
I am all for adding in more crypto libs and making it more flexible.
We also recently added the ability to run the connection over TLS, that may satisfy your needs for now as well

[2017-08-21 21:00] garethgreenaway commented on #43083
@danhawkes You're right.  I missed the call to the ldap3 module.  Looking closer, it makes sense that the search works but the call to managed is failing because it's expecting some bind credentials with the rights to be able to make modifications.  You might need to pass along some credentials:
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.ldap3.html#salt.modules.ldap3.connect

[2017-08-21 21:03] gtmanfred commented on #43094
Ok, you should be able to add the following to your master config?  The master config gets run through salt.config.apply_sdb, and should inject the environment variable into the config when salt-ssh starts up.

[code]

If that doesn't work, I will work on getting a fix to add the environment variable back into the new make_request function.

Thanks,
Daniel

[2017-08-21 21:35] astronouth7303 opened #43095 "auth.mk_token always returns empty string"
### Description of Issue/Question

Calling `auth.mk_token` via `/run` (with POSTed username/password/eauth) and via `salt-run` both result in an empty string return.

### Setup
Salt Master with salt-api configured

### Steps to Reproduce Issue
[code]

[code]

### Versions Report
[code]

[2017-08-21 21:53] bobrik commented on #42932
@garethgreenaway we'll figure out how to deal with salt minion restarts.

This issue is about this:

[code]

There should be no error in logs. Please ignore everything else.

[2017-08-21 22:50] cachedout commented on #15171
Closed via #42985

[2017-08-22 01:01] twangboy opened #43098 "Fix `salt.utils.find` for Windows or document non support"
### Description of Issue/Question
If salt.utils.find is not going to be supported whatsoever on Windows, it needs to be declared as-such instead of just quietly removing test coverage. Alternatively (and preferably) we need a version of this utility that does work on Windows.

### Setup
Found in testing: https://github.com/saltstack/salt/pull/43024

2017.7

[2017-08-22 04:46] boltronics commented on #37936
I feel this was closed too early. The merged PR (above) only updates the execution module. The state module was never updated, so the example described above still is not possible.

[2017-08-22 05:17] ravi45722 opened #43099 "[WARNING ] Cannot resolve address None info via socket: <class 'socket.gaierror'>"
### Description of Issue/Question
Master: salt 2016.11.4 (Carbon)
Minions: salt-minion 2016.11.0 (Carbon) && salt-minion 2017.7.1 (Nitrogen)

### Setup
Minions:
master: 10.xx.xx.133
id: 10.xx.xx.132

Master:
[code]

### Steps to Reproduce Issue
I have a setup of 1 master and 9 minions. When ever I run any command on any minion I am getting this WARNING. What it mean? How to resolve it??

### Logs

[2017-08-22 05:50] Modulus commented on #43045
Salt Version:
               Salt: 2017.7.1

    Dependency Versions:
               cffi: Not Installed
           cherrypy: Not Installed
           dateutil: 1.5
          docker-py: Not Installed
              gitdb: Not Installed
          gitpython: Not Installed
              ioflo: Not Installed
             Jinja2: 2.7.2
            libgit2: Not Installed
            libnacl: Not Installe

[2017-08-22 05:55] Modulus commented on #43045
pip freeze | grep docker on minion:

    docker==2.5.0
    docker-pycreds==0.2.1

docker -v on minion
Docker version 17.05.0-ce, build 89658be
So no docker.io running here, but still and older version. I will try to update this. And see what happens.

Docker-py is reported to not be installed. But it is. And it is working on that system.

[]

'hello world\n'

[<Image: ''>, <Image: ''>, <Image: ''>

[2017-08-22 07:14] guettli commented on #43079
@garethgreenaway  thank you for looking at this. You labeled this issue "info needed". What can I do now?

[2017-08-22 07:20] guettli commented on #40518
I don't see a reason why things should be simple and straightforward. It is much more adventurous and not boring if docs contains the word "or".

Of course this was ironic. Don't get me wrong - have fun. Thank you for looking at this issue.

[2017-08-22 07:41] JensRantil commented on #15171
@cachedout Is https://github.com/saltstack/salt/issues/15171#issuecomment-323872701 also supposed to close this issue? It's still open...

[2017-08-22 08:31] guettli commented on #43079
In this case I could solve the issue by connecting interactively via ssh. It was this issue : https://askubuntu.com/questions/631615/unable-to-connect-to-upstart-error-when-installing-git-all

But the big question for me: Why does salt not display the error message of `apt`?

[2017-08-22 09:26] aogier opened #43101 "genesis.bootstrap fails if no pkg AND exclude_pkgs (which can't be a string)"
### Description of Issue/Question

`genesis.bootstrap` module fails if no exclude_pkgs is specified:

[code]

As reported by stack trace, resulting command line is indeed:
[code]

this is obviously a wrong invocation for --include/--exclude flags. Also, it's not possible to pass them via cmdline eg.

[code]

Well since I need it for write tests for #43086 I'll try to fix this before :)

Thank you

[2017-08-22 09:35] fcxjluo opened #43102 "Why is 2017.7.1 salt-api so much slower than cli？"
My salt-api and master version is 2017.7.1,minion version is 2015.08.05.If I exec some command like

[code]
it costs 3s by cli.But if I exec the some command by salt-api,it will costs 30s even more.The network and getting token are fast.I don't know why,Is the execution  different between salt-api and cli？

[2017-08-22 11:40] aogier commented on #42739
ok thank you, I'm beginning to understand this magic. Still, there's another problem (this time I think real) accessing those dunders: taking as an example [this line](https://github.com/aogier/salt/blob/ad2aae429c03de3d24022e6b87d87dcf88bf0088/salt/modules/groupadd.py#L77) I've wrote a simple condition that [checks for the 'os_family' grain](https://github.com/aogier/salt/blob/ad2aae429c03de3d240

[2017-08-22 11:42] dkmolko opened #43104 "Garbled output by running cmd.script"
Description of Issue/Question

I used cmd.script module on salt-master to run powershell script to Windows minion（Windows is Chinese version），it's OK.But the output will be garbled if there were some Chinese in output，all Chinese displayed as question mark.Is it a bug or salt couldn't support Chinese？Help me please

As below，run Get-ChildItem command in a simple script，some question marks in last

[2017-08-22 11:52] mamalos commented on #36675
OK, the problems arose after issue #40937 (with pr #41014). Even though I was asked as a reviewer if anything might break, I didn't see it coming, hence this bug. I'll ask for issue #40937 to be reopened and will suggest/discuss a cleaner solution.

[2017-08-22 12:42] sumeetisp commented on #42907
https://hostname/api/v1/viewentities?where={%22entityid%22:%22somevalue%22}

How to format this URL into a salt http cmd?
What would be the value of params?
Unable to format this into a valid cmd.

[2017-08-22 13:01] #15171 closed

[2017-08-22 13:09] abednarik commented on #36675
Thanks for the update @mamalos.

Cheers.

[2017-08-22 13:25] mamalos commented on #36675
Hmmm...after looking into my code (and **memoize**'s code) a little deeper, I think that the **memoize** decorator is not needed in our case -or better say I think that using might be wrong. I'll give it a more thorough look tomorrow morning with a cleaner head and will submit the PR.

The good thing, on the other hand, with this bug is that it disclosed a few other issues about decorator **memoiz

[2017-08-22 13:58] #14086 closed

[2017-08-22 13:58] #1904 closed

[2017-08-22 13:58] #1985 closed

[2017-08-22 13:58] #3173 closed

[2017-08-22 14:23] danielmotaleite commented on #43094
That was the old config, that do not work anymore, but porting your changes to the new config layout, it works... from my conf/master, for the salt-ssh i have:

[code]
Exporting the VAULT_TOKEN, it works!

Thanks!

Can you please add this example to the vault documentation, i suspect this is useful for other too

[2017-08-22 14:35] cachedout commented on #15171
Eh? This is #15171. Which comment are you linking to?

[2017-08-22 14:39] JensRantil commented on #15171
@cachedout The one that states "Closed via #42985".

[2017-08-22 14:42] Mapel88 opened #43109 "Bug in win_iis module - list_sites"
### Description of Issue/Question
certificatehash & certificatestorename are empty for windows 2008 even when certificate exists and binded

I don't know how to fix it, but I did find that the following command returns the binded certificate:
[code]
### Setup
win server 2008
[code]
### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2017-08-22 14:48] gtmanfred commented on #43045
where is the docker module installed?

[code]

If it is in /usr/local, you may have to make sure that the /usr/local is added to the python path on ubuntu, I have seen issues where that path is not available in salt for some reason.

Daniel

[2017-08-22 14:48] Mapel88 opened #43110 "bug in iis_module - create_cert_binding"
### Description of Issue/Question
- Create cert binding fails for windows 2008
- Fix is ready, but validation fails due to list_sites bug #43109

### Setup
https-cert-binding:
      win_iis.create_cert_binding:
          - name: cert_hash
          - site: default web site
          - ipaddress: *
          - port: 443

### Steps to Reproduce Issue
          ID: https-cert-binding
    Function: wi

[2017-08-22 14:54] gtmanfred commented on #42739
I think the `__virtual__` function may be run twice.  Once before the `__grains__` dict is populated, and once after, so you may try using `__grains__.get('os_family')` instead so that there isn't a stack trace?

Just a thought.

[2017-08-22 14:54] Sieabah opened #43111 "Unable to manage file: 'module' object has no attribute 'TEMPFILE_PREFIX'`"
### Description of Issue/Question

    [salt.state       ][ERROR   ][1290] An exception occurred in this state: Traceback (most recent call last):
    File "/usr/lib/python2.7/dist-packages/salt/state.py", line 1733, in call
        else:
    File "/usr/lib/python2.7/dist-packages/salt/loader.py", line 1652, in wrapper with salt.utils.context.func_globals_inject(f, **inject_globals):
    File "/us

[2017-08-22 15:00] gtmanfred commented on #43094
Sure! I have marked this as a documentation issue.

If you wanted to submit a PR with the documentation, we would greatly appreciate it.  Otherwise, we will get to it.

Thanks,
Daniel

[2017-08-22 15:05] gtmanfred commented on #43111
I believe that this was fixed, but I am not sure where.

It is worth noting that 2016.3 is in CVE release only, so we won't be releasing any bug fix patches for it.

Would you be able to update your master and minions to at least 2016.11 and see if the problem is fixed?

Also, your master should never be on an older release than the minion.  https://docs.saltstack.com/en/latest/faq.html#can-i-run-

[2017-08-22 15:05] aogier commented on #42739
the strange thing is that getting `kernel` grain during \_\_virtual__ does not seem to raise [any exception](https://github.com/aogier/salt/blob/ad2aae429c03de3d24022e6b87d87dcf88bf0088/salt/modules/groupadd.py#L33) (and it works, in fact, since module win `group` virtual name). When I get `os_family` in add() implementation I need it, but maybe this quirk is only test related ?

thank you !

[2017-08-22 15:13] gtmanfred commented on #43104
We did not have a huge amount of support for unicode in 2016.3.

2017.7 is our first release with full support of python3, and thus has more support for unicode.  Would you mind updating and checking if that version fixes this issue?

Thanks,
Daniel

[2017-08-22 15:15] gtmanfred commented on #42739
That is odd.  I can't think of a reason for it.

On Tue, Aug 22, 2017 at 9:05 AM, Alessandro Ogier <notifications@github.com>
wrote:

[2017-08-22 15:18] Sieabah commented on #43111
It seems the latest supported for Ubuntu 14.04 is 2016.3.7, I'll try to see if I can get the 2016.11 release deployed.

[2017-08-22 15:23] gtmanfred commented on #43111
We host our own packages

http://repo.saltstack.com/#ubuntu

There is an ubuntu tab on that page that will point you to the official repos for salt.

[2017-08-22 15:32] jeffdyke commented on #42311
I am also getting the same error on Ubuntu 16.04 running
[code]
`salt-master` is the same version

This only happens on servers where i have the aws cli installed which of course depends on boto.

when updating a state that deals with aws, i see the following (most of this is above, but for completeness)
[code]

[2017-08-22 15:43] gtmanfred commented on #43102
I am unable to replicate this with a 2017.7.1 salt-minion on windows, and a 2017.7.1 master.

[code]

I am going to try a 2015.8 minion now.

[2017-08-22 15:44] gtmanfred commented on #42907
have you tried this?

`salt minion http.query 'https://hostname/api/v1/viewentities' params='where={"entityid":"somevalue"}'`

[2017-08-22 15:44] zerthimon commented on #42937
@garethgreenaway My salt-master is 2016.11.6...

[2017-08-22 15:47] grobinson-blockchain commented on #42937
You need to update the master to the latest version. The minion is attempting to call methods on the master that don't exist in the older version.

[2017-08-22 15:49] danhawkes commented on #43083
Right, so I've added credentials as below, and am still getting the same error.

[code]

However, using those same credentials with `ldap3.add` appears to be connecting successfully:

[code]

[2017-08-22 15:55] gtmanfred commented on #43102
Yeah, I am unable to replicate this with the windows minion on 2015.8.5 either.

It is actually slightly faster through the api.

[code]

Can you provide me with any more information to replicate this?

Thanks,
Daniel

[2017-08-22 15:55] dseira opened #43112 "Cannot render pillar SLS with more than 98 if/elif statements"
### Description of Issue/Question
Having a pillar with the following content:

[code]
Fails with the following error message:

[code]
On the other hand, if one of the ``elif`` statement line is removed (keeping 98 ``elif``), the sls is compiled without errors.

It seems there is a hard limit on ``elif`` statements in the jinja templating because the following pillar doesn't fail:

[code]

### Setu

[2017-08-22 15:57] #14111 closed

[2017-08-22 15:57] #11978 closed

[2017-08-22 15:57] #14023 closed

[2017-08-22 15:57] #14282 closed

[2017-08-22 15:57] #14293 closed

[2017-08-22 15:57] #14407 closed

[2017-08-22 15:57] #14425 closed

[2017-08-22 15:57] #14387 closed

[2017-08-22 15:57] #6925 closed

[2017-08-22 15:58] #14465 closed

[2017-08-22 16:00] zerthimon commented on #42937
@grobinson-blockchain Thanks a lot for the investigation.
I'll be upgrading the master a bit later. For now I've reverted the minion back to 2016.11.6 so It can work.

This issue can be closed.

[2017-08-22 16:02] garethgreenaway commented on #42937
@grobinson-blockchain Thanks for the info. on this one.

@zerthimon If the issue persists please feel free to re-open this issue.

[2017-08-22 16:02] #42937 closed

[2017-08-22 16:11] astronouth7303 commented on #43095
Ok, I stand correct, it appears to return an empty string when authentication fails. `sudo salt auth.mk_token` works when given arguments.

`auth.mk_token` is hard to use from salt-api because you have to have access to runners (which are not access controlled) and then give authentication twice (once for eauth, once as arguments to `mk_token`).

[2017-08-22 16:11] #43095 closed

[2017-08-22 16:11] gtmanfred commented on #43095
[code]

[2017-08-22 16:12] gtmanfred commented on #43095
Yup, that does it.

Daniel

[2017-08-22 16:19] sumeetisp commented on #42907
Yes I have tried this, got something similar error saying invalid mapping
string

On Aug 22, 2017 21:14, "Daniel Wallace" <notifications@github.com> wrote:

[2017-08-22 16:19] astronouth7303 commented on #43095
The problem is that it's unclear if `enable_sessions` (salt-api configuration option new for 2017.7) disables the `/login` and `/logout` end points or just the setting and checking of cookies. I thought if it was set, you'd have to use `auth.mk_token` to authenticated, but that's only a route available to trusted users (due to the lack of granular access control to runner modules).

[2017-08-22 16:24] gtmanfred commented on #43099
First, if you have any minions running 2017.7, please update your master to 2017.7 as well.  The master needs to be at least as new as your newest minions.

This is showing `None` because the master is on 2016.11, and it is having an error generating the MasterMinion's minion_id.

As for how to resolve it, I am not quite sure.

can you run the following.

[code]

Thanks,
Daniel

[2017-08-22 16:31] gtmanfred commented on #43101
Thanks for the PR to fix this @aogier

Daniel

[2017-08-22 16:32] gtmanfred commented on #43110
Would you mind submitting this patch as a PR? https://github.com/Mapel88/salt/commit/ec20e9a19a2cf08c7d005a5ca1fe8d7c380a0c99

Thanks
Daniel

[2017-08-22 16:33] gtmanfred commented on #43110
Ahh, looks like you are going to once the other issue is fixed.

Thanks,
Daniel

[2017-08-22 16:34] gtmanfred commented on #43109
@trebortech or @twangboy can one of yall take a look at this?

I don't know anything about IIS.

Thanks!
Daniel

[2017-08-22 16:36] eykd commented on #12638
This would still be nice to have. :)

[2017-08-22 16:40] gtmanfred commented on #42907
How about making params into a dictionary?

[code]

[2017-08-22 16:46] gtmanfred commented on #43112
This appears to be a limitation of jinja2.

[code]

Can you open a bug upstream with them?

Thanks,
Daniel

[2017-08-22 16:57] thusoy commented on #42437
@Ch3LL this can be closed now since #42988 has been merged.

[2017-08-22 17:06] Amacelia opened #43114 "Custom Grains not updating/persisting"
### Description of Issue/Question
Custom grains are not being recognized/persisting. We made a custom salt grain in the minion config ('/opt/local/etc/salt/minion') and performed saltutil.sync_grains which caused the grain to be updated but when we do run using cmd.run (which defaults to 'shell: /bin/sh'). It still performs our commands in /sh instead of /bash as we tried to set it.

### Steps to

[2017-08-22 17:07] #42437 closed

[2017-08-22 17:10] gtmanfred commented on #43114
Are you doing `Grains` or `grains`?  the correct key is `grains`.

Also, you can just put `shell: /bin/bash` in /etc/salt/grains, and then the minion doesn't have to be restarted to load the grains, you just have to call `saltutil.refresh_grains`

[2017-08-22 17:18] gtmanfred commented on #43109
@m03 it also looks like you have done some work on the win_iis module/state would you be able to assist me here?

Thanks,
Daniel

[2017-08-22 17:33] lomeroe commented on #42279
@dafyddj I finally got back to this and have a fix PR pending for develop which should fully correct this now.  Develop's win_lgpo.py module has some changes that aren't backward compatible, so you cannot just drop it into a minion to test (unless it is a minion running from the develop branch, obviously).  I'll have a backport for 2017.7 and 2016.11 ready once the changes in develop are merged.

[2017-08-22 17:47] sumeetisp commented on #42907
I will try this but this is not what documentation suggests

On Aug 22, 2017 22:10, "Daniel Wallace" <notifications@github.com> wrote:

[2017-08-22 17:49] Amacelia commented on #43114
'grains', I changed the post to reflect proper capitalization.

Would that `shell: /bin/bash` be within a config file in /etc/salt/grains? Can you flesh out that method of defining grains?

Also, for my additional question, do you have a thought on it?

Thank you!

[2017-08-22 17:49] gtmanfred commented on #42907
so, the problem is you have to feed in a dictionary of key values, that is then converted to urlencoding.

https://stackoverflow.com/questions/5607551/how-to-urlencode-a-querystring-in-python

But you don't want the {"entityid":"somevalue"} encoded in into key=value thing, so you have to escape it.

[2017-08-22 17:51] gtmanfred commented on #43114
`/etc/salt/grains` is just a yaml formatted file that gets converted to a dictionary and added to the grains dictionary.

so

`/etc/salt/grains`
[code]

Should work.
Daniel

[2017-08-22 17:52] gtmanfred commented on #43114
You can also use the `grains.set` module and it will put it in the /etc/salt/grains file.

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.grains.html#salt.modules.grains.set
[code]

[2017-08-22 17:52] nixjdm commented on #43067
@twellspring As is your code snippet does not work for me. I get

[code]
However, both
[code]
and
[code]
do work. The last one is verbatim what is in the docs, which I thought I tried. I guess I made a mistake. It's working now. Thanks guys!

[2017-08-22 18:00] Amacelia commented on #43114
Thank you for the information! I hadn't used `saltutil.refresh_grains` and that was why it was not reflected in the minion's `salt 'target' grains.items` listing.

[2017-08-22 18:00] #43114 closed

[2017-08-22 18:14] #42893 closed

[2017-08-22 18:23] #42892 closed

[2017-08-22 18:40] Sieabah commented on #43111
It seems upgrading has solved the issue, weird bug between using 2016.11 (master) and 2016.3 (minion) that caused the minion unable to high state or use the package manager at all.

[2017-08-22 18:48] gtmanfred commented on #43111
Hrm, if you have that error message, I would appreciate it, because we should be gauranteeing master -> minion backwards compatibility, where you can have a newer master with an older minion.

Thanks,
Daniel

[2017-08-22 19:17] Sieabah commented on #43111
2016-10-27 19:04:07,794 [salt.cli.daemons ][INFO    ][3212] The Salt Minion is starting up
    2016-10-27 19:04:07,794 [salt.minion      ][INFO    ][3212] Minion is starting as user 'root'
    2016-10-27 19:04:07,795 [salt.utils.event ][INFO    ][3212] Starting pull socket on /var/run/salt/minion/minion_event_80a001ab8b_pull.ipc
    2016-10-27 19:04:35,074 [salt.utils.parsers][WARNING ][3212] Mini

[2017-08-22 19:24] gtmanfred commented on #43111
Hrm, unfortunately, that isn't super helpful.  If you have the `-l debug`
log it might show a stack trace.

On Tue, Aug 22, 2017 at 1:17 PM, Chris S <notifications@github.com> wrote:

[2017-08-22 19:28] amontalban commented on #42869
Hey @UtahDave / @terminalmage / @rallytime ,

We are trying to test this fix by using `2016.11` branch but unfortunately we found this bug([#42642  comment](https://github.com/saltstack/salt/issues/42642#issuecomment-323824782)) and we can't change our testing environment to that branch until is fixed because as @abednarik said this was a rare race-condition we had so we can't replicate it easily.

[2017-08-22 19:49] m03 commented on #43109
@gtmanfred All my work/additions targeted 2012R2 and up, so encountering issues working with older releases is not unexpected. Regardless, I can fire up a 2008R2 test VM and see if I can reproduce/fix the issue this weekend, assuming no one else addresses it first.

[2017-08-22 19:50] #42279 closed

[2017-08-22 19:53] dseira commented on #43112
Done. [#759](https://github.com/pallets/jinja/issues/759)

[2017-08-22 19:54] lomeroe opened #43120 "lgpo.set state does not validate possible element alias names when comparing requested policy to existing policy"
### Description of Issue/Question
lgpo.set does not validate all possible policy element names when comparing a previous policy to a requested policy to determine if changes should be made

If "full" policy/element names are used (those seen in the GUI), then lgpo.set will only update the policy when changes need to be made.  If the "id" string from the ADMX file is used, the policy will be re-app

[2017-08-22 20:15] gtmanfred commented on #43109
That would be super helpful, thanks!
Daniel

[2017-08-22 20:16] gtmanfred commented on #43112
Thank!
Daniel

[2017-08-22 20:35] twangboy commented on #43109
@Mapel88 My 2008R2 box is showing the certificate hash and store... Are you on 2008 or 2008R2?

[2017-08-22 20:38] rickh563 commented on #42642
ZD-1703

[2017-08-22 20:53] twangboy commented on #43109
Here's the output I get from a 2008R2 box:
[code]

[2017-08-22 21:28] ThiefMaster commented on #43112
I've just fixed this upstream - pallets/jinja#760. The fix will go into 2.10 and 2.9.7 (not yet released).

However, since you are using Jinja (2.6, a six-year-old version) from OS packages, you'd probably need to ask distros to backport the fix or salt needs to somehow use a more recent Jinja version...

[2017-08-22 21:51] gtmanfred commented on #43112
We provide the oldest supported version in our repos usually, newer versions need to be supplied by the distro or by using pip to install.

[2017-08-22 21:51] #43112 closed

[2017-08-22 23:37] UtahDave opened #43124 "publisher_acl with regex on username not working and has no documentation"
### Description of Issue/Question
This issue: https://github.com/saltstack/salt/issues/23194 asked for regex on the username line in `publisher_acl`

@DmitryKuzmenko added support for this here: https://github.com/saltstack/salt/pull/34268

I can find no documentation on how this is supposed to work other than this comment here: https://github.com/saltstack/salt/issues/23194#issuecomment-267570004

[2017-08-22 23:38] UtahDave commented on #43124
ZD 1699

[2017-08-22 23:40] UtahDave commented on #43124
If this feature is supposed to work I think this page should be updated with some examples using regex for the username line:  https://docs.saltstack.com/en/latest/ref/publisheracl.html

[2017-08-22 23:54] dseira commented on #43112
I will try it through pip when it is released.

Thanks both,
David

[2017-08-23 01:07] Sieabah commented on #43111
I unfortunately don't have the master and minion in a state where it throws it anymore, but for testing purposes it was 2016.11 for the master and 2016.3.3 for the minion.

[2017-08-23 01:14] Bitman1993 opened #43126 "Find address bitcoin with a@b.c salt"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2017-08-23 01:21] TheVakman opened #43127 "cmd.script Module Issues / Could Not Find File"
### Description of Issue/Question + Debug
There is a batch and a PowerShell script that I am trying to run using the cmd.script module on Windows minions.

salt MINIONNAME cmd.script salt://scripts/Batch/TestScript.bat
salt MINIONNAME cmd.script salt://scripts/Batch/TestScript.bat shell='cmd'

I have placed these scripts in /srv/salt/scripts/PowerShell and /src/salt/scripts/Batch, these are within

[2017-08-23 01:22] TheVakman commented on #43063
Thanks, that's good to know! I'll do that if I need to before the next release.

Also, I noticed that the "Blocked" milestone was added?

[2017-08-23 02:05] kimoziiiii opened #43128 "python27-requests-2.6.0-4.el6 ImportError"
### Description of Issue/Question
[code]
### Setup
Default

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2017-08-23 02:12] gtmanfred commented on #43111
Ok, I will try and reproduce it tomorrow.

Thanks,
Daniel

On Tue, Aug 22, 2017 at 7:07 PM, Chris S <notifications@github.com> wrote:

[2017-08-23 03:24] sumeetisp commented on #42907
Worked. Thank you.

[2017-08-23 04:20] abcfy2 commented on #11995
I find the `2017.7.0` release notes mention that salt has supported python 3. But I don't find any docs about how to use python 3. And the official doc still says the dependency of python is `Python 2.6 >= 2.6 <3.0`.

[2017-08-23 04:21] ravi45722 commented on #43099
On Master:
[code]

On one of the minion:
[code]

[2017-08-23 06:31] mchugh19 commented on #42467
With the merge of the linked PR, this can be closed.

[2017-08-23 06:37] mchugh19 commented on #10272
The mysql_query.run_file state has been released so this can be closed.

[2017-08-23 06:53] Mapel88 commented on #43109
@twangboy That's weird..
I'm using 2008R2 as well...
Full OS details:
server 2008 R2 standard SP1 64bit

![image](https://user-images.githubusercontent.com/12735495/29602256-0ff4eda0-87e8-11e7-8610-ad0cb764f9f0.png)

iis version 7.5

[2017-08-23 07:13] Mapel88 commented on #43110
Already commited the fix and the certificate assignment works, but it will return "failed" until the other bug is fixed.

Thanks

[2017-08-23 08:49] github-abcde commented on #31006
That looks like it will probably work if something similar is done like in `salt/template.py`. You could just call its `compile_template`-function with the supplied template-render-pipe as `default` argument.

[2017-08-23 09:07] boltronics opened #43130 "module.run documentation issues"
### Description of Issue/Question
According to https://docs.saltstack.com/en/latest/ref/states/all/salt.states.module.html#module-salt.states.module the new `module.run` syntax is:
[code]

This example is incorrect. It should read:
[code]

All the other examples on that page also have the same error, which I found quite confusing.

That entire section doesn't read very well, as the old and new syn

[2017-08-23 09:23] aogier opened #43131 "groupadd chroot (root parameter) support is broken"
### Description of Issue/Question

If `G@kernel:Linux` and `root` is not None, **-R** got appended to a command that can be:

 * gpasswd
 * usermod (suse 11)

at least on my Debian, the former requires **-Q** for specifying a chroot. I suspect this is broken elsewhere, currently downloading openbsd/netbsd/suse11 vagrant boxes so I can check this.

I can work on this but I'd prefer to wait for #431

[2017-08-23 09:33] nkrishnakishor opened #43132 "Unable to install DLP application in windows minion"
I'm trying to install DLP application in a Windows minion but unable to install and below is the error message. I have the installation setup file locally in the server under the directory **/srv/salt/win/repo**.

[code]

Below is the init file

[code]

Below is the Salt version details and Windows minion is also running the same version

[code]

Please help me in installing the application.

[2017-08-23 09:42] SuperPommeDeTerre opened #43133 "`pkg.installed` failed when specifying packages version"
### Description of Issue/Question
When installing multiple package at once with `pkgs` option of state `pkg.installed`, weird things are occuring...
If using wildcards (`*` characters), packages are not installed, and when not using wildcards, packages are installed, but state fails.

### Setup
Make a state like this:
[code]

Or, for second case:
[code]

### Steps to Reproduce Issue
When using suc

[2017-08-23 09:56] aogier commented on #43131
Multiple bugs confirmed. Considering that those chroot flags seems to wrap around a standard chroot(2) syscall, at least on gpasswd(1) (for you reference: [it starts here](https://github.com/shadow-maint/shadow/blob/fb04f2723a48ff3f59a4c48a641d185403bd3135/src/gpasswd.c#L995), [it ends here](https://github.com/shadow-maint/shadow/blob/fb04f2723a48ff3f59a4c48a641d185403bd3135/libmisc/root_flag.c#L1

[2017-08-23 10:00] tsaridas opened #43134 "PyCrypto is always being downloaded and installed"
### Description of Issue/Question
https://github.com/saltstack/salt/blob/68c84a28bccb093fb1c7c5685310a9781c7cf12f/setup.py#L376
shows the package is being downloaded and installed every time.

I suggest there is a lookup first to see if its installed and version matches and then perform the steps.

[code]

### Versions Report
latest

[2017-08-23 10:16] mirceaulinic opened #43135 "Pillar: add capability to save data"
### Description of Issue/Question

Under the salt-users forum I asked the following question: https://groups.google.com/forum/#!topic/salt-users/tNWokdevaH4

Let's suppose you have a triggered configuration change (as a reaction to an event). Requirements: the system to be configured as the triggered job dictates and the pillar to be updated.
I would firstly update the pillar data, then execute th

[2017-08-23 10:17] tsaridas opened #43136 "Windows build hard requirement for git"
### Description of Issue/Question
In a windows build you need to have git installed which is not the only way to get the files for salt ( you can download the zip file )

My suggestion is to have the git part but if we cannot find git installed, try to guess the variables we get from it.

git is used to get version and to find the root of the repo in order to setup salt.
The version part is alread

[2017-08-23 10:24] aogier commented on #42739
Ok, first of all I'll try to reproduce aganist a vanilla develop branch by just implementing an integration test that should fail because no grains on already existing code. Then we will see :)

[2017-08-23 11:15] F30 opened #43138 "npm.installed mistakenly throws error for packages which are "installed via remote""
### Description of Issue/Question
The `npm.installed` state throws an error when installing certain packages. I was able to track this down to packages where "is installed via remote" is printed to stdout. (Whatever that means, it's not really Google-able.) Examples for such packages are "sqlite3" or "bcrypt", and the exact line looks like this:

However, the packages acutally are successfully ins

[2017-08-23 11:19] tsaridas opened #43139 "Feature request: Windows build patches folder"
### Description of Issue/Question
I would like to run to extra script for the windows build but at the moment I have to change the build_pkg.bat script in order to do so.

Suggestion
Add an option to see if folder 'Patches' exists and if it does run all bat files in that folder.

[code]

[2017-08-23 11:55] damon-atkins commented on #11995
Python 2.7 is the minimum for 2017.7
I think Python 3.6 is the minimum for 2017.7

I would think not all modules would work with Python 3.6 yet, esp. the ones which are rarely used or do not have tests developed for them.

[2017-08-23 12:15] Set4now opened #43140 "unable to use two source of API external pillars modules."
Hi,
We have two custom external pillar modules.
The functionality of the modules are to parse an api output and return dic/json strings.
ext_pillar:
  - cloud_pillar:
      url: https://uat2-harmony.cognizantgoc.com/provisioning/services/provisioningservice/clouddata/listAll
  - network_pillar:
      url: https://uat2-harmony.cognizantgoc.com/api/v1/viewentities

So under dist-packages/salt/pillar

[2017-08-23 12:40] gtmanfred commented on #43099
It looks like `localhost.localdomain` is not a resolvable hostname on the master.

[code]

If you add `localhost.localdomain` to /etc/hosts or change the hostname on the master to something that can be resolved, the error will go away.

[2017-08-23 12:41] gtmanfred commented on #42467
Perfect, thanks!

[2017-08-23 12:41] #42467 closed

[2017-08-23 13:28] #42505 closed

[2017-08-23 13:35] mamalos commented on #36675
Ah, this bug has been removed from branch **2017.7** with @cro's fix in a260e91 about 3 weeks ago. I suppose that **2017.7.1** should merge this fix?

[2017-08-23 13:37] abulford opened #43143 "git.detached does not fetch if rev is missing from local"
### Description of Issue/Question
When applying the `git.detached` state with a `rev` specified, if the `rev` is set to a commit hash which is available on the remote but not locally, the state fails with an exception.

### Setup
Example state file:
[code]

Repo has already been cloned to the target but a new commit has been added to the remote since the clone, the state is specifying that new com

[2017-08-23 13:38] gtmanfred commented on #36675
2017.7.1 was a small bug fix release of specific bugs, so it doesn't look
like this one was included in it.

It should be in 2017.7.2

On Wed, Aug 23, 2017 at 7:35 AM, George Mamalakis <notifications@github.com>
wrote:

[2017-08-23 13:41] abulford commented on #43143
Having looked into the state module, it seems the logic is there to perform a fetch if the commit isn't found locally, the problem is that the `git.describe` call throws an exception rather than returning false.

This could be fixed by exception handling in the state module's `detached` function, exception handling in the execution module's `describe` function, or by passing `failhard=False` to `_

[2017-08-23 13:43] sumeetisp opened #43144 "salt-proxy"
Can external pillars be used with salt-proxy?
If yes, how?

[2017-08-23 14:00] danielmotaleite commented on #43094
documentation update merged, so closing this.

[2017-08-23 14:00] #43094 closed

[2017-08-23 14:27] abednarik commented on #36675
Thamks for the info.

[2017-08-23 14:31] gtmanfred commented on #43144
Yes, you manage the external proxy on the salt-master, and the external proxies are configured based on the minion_id, so make an external_proxy entry for the `proxyid`  and you should be all set.

[2017-08-23 14:31] #43144 closed

[2017-08-23 14:35] aogier commented on #42739
I looked in the wrong place, failing tests are unit not integrations and the culprit is grains patching [like here](https://github.com/saltstack/salt/blob/b3aa9ab394a0028cc59a2d38d902f4136f6f869f/tests/unit/modules/test_groupadd.py#L38) or [here](https://github.com/saltstack/salt/blob/b3aa9ab394a0028cc59a2d38d902f4136f6f869f/tests/unit/modules/test_groupadd.py#L130). I'll add Synology support and

[2017-08-23 14:36] bhanukumar22 opened #43147 "salt-proxy not able to fetch details from external pillar"
Im trying to connect network devices from salt-master.
Having the json format details for proxy in http_json.

When we run "salt-proxy --proxyid=router1 -l debug", not able to get the proxy details to connect to the device.

Got below error:
No proxy key found in pillar or opts for id router1. Check your pillar/opts configuration and contents.  Salt-proxy aborted

Any quick help is much appreciate

[2017-08-23 14:36] gtmanfred commented on #42739
ahh, that would do it!

On Wed, Aug 23, 2017 at 8:35 AM, Alessandro Ogier <notifications@github.com>
wrote:

[2017-08-23 14:40] sumeetisp commented on #43144
Are you saying in the following command,

salt-proxy --proxy=<id>

Here the <id> will be passed as minion_id to the external pillar module?

[2017-08-23 15:13] gtmanfred commented on #43144
https://docs.saltstack.com/en/latest/ref/cli/salt-proxy.html

The `--proxyid` will be the minion id.

[code]

[2017-08-23 15:46] mwtzzz opened #43150 "raid.present does not funtion properly"
raid.present on md127 devices does not issue the correct mdadm commands to determine whether the raid exists and is active. This is on salt-2017.7.01

A simple state file like this:
[code]
Produces the following debug output from salt-call. As you can see, `mdadm` attempts to assemble the array, this operation fails because the array is already active and busy, as indicated by previous mdadm comma

[2017-08-23 16:46] icycle77 opened #43153 "Improper autogenerated command line quoting breaks (at least) yum pkg.uptodate"
### Description of Issue/Question
I'm trying to exclude some packages from the `pkg.uptodate` state, as described in the the note at the bottom of [the documentation](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.yumpkg.html#salt.modules.yumpkg.upgrade). Trouble is, it doesn't work and there doesn't appear to be a workaround to make it work. In all cases, my YAML is apparently

[2017-08-23 17:04] terminalmage commented on #43001
I couldn't reproduce this, and after talking to @gtmanfred he was also not able to reproduce either. But from the changes being reported in the state output, I can tell what is happening here. The image being reported when you inspect the temp container created by the `docker_container.running` state is the image's ID and not its name. https://github.com/saltstack/salt/pull/43155 should solve this

[2017-08-23 17:06] mwtzzz opened #43157 "pkg.latest and rpm version numbers - what are the requirements?"
We have a custom rpm package where an older version looks like
nagios-client-1.1.03-0.1500498524.x86_64
and the latest version looks like
nagios-client-1.1.03.07-0.1503344684.x86_64

You see the difference is that the latest has an additional version number appended.

pkg.latest refuses to update it, saying that the host, which has the older package installed, is "already on the latest version".

[2017-08-23 17:10] awssalt01 opened #43158 "need to add a string after matching word Xfer to conf file"
need to add a string after matching word  Xfer to conf file

[code]

salt --version
salt 2017.7.1 (Nitrogen)

I got no errors and no changes applied to conf file

[2017-08-23 17:49] icycle77 commented on #43153
My coworker has proposed the following patch which theoretically should work:
[code]
Testing it as a patch to 2016.11.7 does produce this command:
[code]
but it still ignores the excludes. Perhaps there is some additional quoting/unquoting going on with the command list after it's handed off? I would have expected the entries would be stripped of their single quote wrappers and joined with spaces.

[2017-08-23 18:39] Set4now opened #43160 "salt-proxy with external pillar not working"
we are trying to use salt-proxy with external pillar.
for that we have our own custom module that takes the minion id as arg in ext_pillar function
and form an api url ,from where we will get the data for proxy.

/usr/lib/python2.7/dist-packages/salt/pillar/network_pillar.py
def ext_pillar(minion_id,
               pillar,  # pylint: disable=W0613
               url=None):
    '''
    Read pillar

[2017-08-23 18:40] #43140 closed

[2017-08-23 18:40] #40031 closed

[2017-08-23 18:41] #41518 closed

[2017-08-23 18:41] #41848 closed

[2017-08-23 18:42] #42227 closed

[2017-08-23 18:42] #42797 closed

[2017-08-23 20:42] cachedout commented on #42642
@garethgreenaway Please see ZD-1703 for additional info on what still needs to be done.

[2017-08-23 20:48] twangboy commented on #11995
Salt needs to support Python 3.4 for now. Windows ships with 3.5.

[2017-08-23 20:53] twangboy commented on #43109
Looks like we're using the same version.... Mine's datacenter instead of standard... don't know if that would make a difference.
![image](https://user-images.githubusercontent.com/9383935/29637848-af659720-8812-11e7-9323-6719ce17baa2.png)

[2017-08-23 20:57] thatch45 commented on #11995
Salt 2017.7 supports python 2.7 and 3.4 and greater.
why 3.4 you may ask?
A few reasons:
3.4 is the lowest version of Python currently shipping on enterprise platforms
3.5 introduced non backwards compatible syntax to 2.7, basically we can't use the benefits of 3.5 while still supporting 2.7, so it makes sense to cut it off there until we only support Python3 at some future and not yet determined

[2017-08-23 21:52] whiteinge commented on #43135
I like this idea. Since ext_pillar formalizes fetching specific data from specific data stores I think it makes sense to provide an interface that formalizes saving specific data back to that same data store in a compatible, pre-configured kind of way.

@saltstack/team-core Thoughts on the idea or any other considerations that should be taken?

[2017-08-23 22:31] #14338 closed

[2017-08-23 22:31] #8968 closed

[2017-08-23 23:13] oeuftete commented on #35455
Is this perhaps because a `reload_modules` directly reloads the modules, but not any `utils` stuff those depend on?  I'm seeing this in 2017.7.1.  I'm running python `docker==2.5.1` and installing it with a state with `reload_modules` and get the following.

[code]

Without `reload_modules`, I get `Reason: 'docker_container' __virtual__ returned False: 'docker.version' is not available.`

[2017-08-24 02:02] damon-atkins commented on #11995
Now that Salt is release with PY3.4 or greater support, I assume this can be closed now. Last 2 updates give a status update on where it is, for anyone who comes across this.

[2017-08-24 02:45] davidjb commented on #42979
Fwiw, can confirm the same problem with v2016.11.6 of Salt; eg not just v2017+.

[2017-08-24 04:42] boltronics commented on #39240
@Ch3LL According to the [mine_interval](https://docs.saltstack.com/en/latest/ref/configuration/minion.html#mine-interval) docs, it's supposed to be managed by seconds, not minutes.

Since this question was related to setting the mine by seconds which seems like it's broken or documented incorrectly (and not specifically about setting different intervals for different items in the mine), perhaps th

[2017-08-24 07:16] MorphBonehunter opened #43162 "docker_container.running interference with restart_policy"
### Description of Issue/Question
I have an state which configures an docker container and keeps it running.
In my setup i have set the `restart_policy` to `unless-stopped`.
As long as the docker is running all works as expected, no chages are made on state.apply.
This behavior changes if i restart my docker daemon (or reboot the system).
Afterwards salt changes the DNS Setting of the container, i

[2017-08-24 07:59] fcxjluo commented on #43102
Thanks for your answer.This problem  has been solved with doing nothing.So I can't get more information.From  previous tests,it seems to cost much time in this loop: salt/utils/process.py(line:390).
[code]
I will comment more if the problem happens again.Thank you very much.

[2017-08-24 08:08] Mapel88 commented on #43109
I have no idea...
I would test it myself, but we don't have datacenter edition..

[2017-08-24 08:27] boltronics opened #43163 "Runner execution of modules (either from the command line or jinja) is very slow"
### Description of Issue/Question
Running `salt-call grains.item id` on a minion apparently waits for the master to render all pillar data before returning - despite not being used. That's probably a bug, but not directly what this issue is about.

In my pillar data, I have a bunch of YAML+Jinja2 files that use `salt.saltutil.runner` in the way that is recommended by the [`mine.get`executable modu

[2017-08-24 09:05] enigmapsi opened #43164 "Windows registry (reg state) not working as documented"
### Description of Issue/Question
The following state **works**:

[code]
The following state **does not work** - the ID was moved to `- name`:
[code]
It returns the following error:
[code]

It looks to me that Salt tries to escape the backslash (`\`) from the registry path even if it shouldn't (e.g. when the path is enclosed in single quotes). The same behaviour exists if I enclose it in double qu

[2017-08-24 10:06] meggarr commented on #42082
I saw this issue when using
[code]

[2017-08-24 12:23] abulford commented on #43162
I was just about to report the same problem but found this ticket.

@MorphBonehunter you can workaround this by setting the DNS options manually in your state.  Add the following:
[code]
For me this is occurring with Docker versions `17.06.0-ce` and `17.06.1-ce`, I've not tried any earlier.
[code]

[2017-08-24 12:27] Modulus commented on #43045
That seems to have been the issue. Sorry about all the fuzz, it is now working after we added /usr/local to the python path.

Thank you for all the help, and again, sorry about all the fuzz

[2017-08-24 12:37] mamalos commented on #36675
Guys, from what I understand we should close the issue, since this bug is only found in **2017.7.1** branch and is not present in the main **2017.7** branch.

[2017-08-24 12:37] #36675 closed

[2017-08-24 13:51] Ch3LL commented on #43120
@lomeroe can you speak to whether this is default behavior and might need to be added as a feature or a bug in this module?

[2017-08-24 13:59] #43126 closed

[2017-08-24 14:04] Ch3LL commented on #43127
I cannot replicate this. If you run `salt-run fileserver.file_list` from the salt master does it show the bat/powershell file?

[2017-08-24 14:20] Ch3LL commented on #43128
@kimoziiiii looks like i'm able to replicate this. As a workaround you can upgrade requests using pip.

First install pip `yum install python27-pip`
Then update requests `pip2.7 install --upgrade requests`

Then you can import requests. Seems there is an issue with the version of requests we are building. @dmurphy18 do you see any obvious reason for this import error or possibly we need to provide

[2017-08-24 14:23] gtmanfred commented on #43102
Sounds good.

I am going to go ahead and close this issue then, and if it comes back, just comment and I will reopen it.

Thanks!
Daniel

[2017-08-24 14:23] #43102 closed

[2017-08-24 14:23] gtmanfred commented on #43045
Awesome!

No worries.

Thanks for following up!
Daniel

[2017-08-24 14:23] #43045 closed

[2017-08-24 14:25] gtmanfred commented on #43135
I was thinking about this same thing not that long ago.  We already have the ability to write to sdb.  This would fit perfectly along with that.

Thanks,
Daniel

[2017-08-24 15:03] Ch3LL commented on #43131
I think the only things we need to watch out for is ensuring backwards compatibility.

I also want to bring in anyone from @saltstack/team-core that might have other thoughts surrounding changing it to the chroot executable instead.

[2017-08-24 15:50] Ch3LL commented on #43132
If you run `salt-run fileserver.file_list` do you see the msi listed?

[2017-08-24 15:53] lomeroe commented on #43120
@Ch3LL

It is default to compare the requested and existing policies before applying any policy changes (to determine if changes will be made for test=True/etc).  During that comarison, the policy names are normalized between the existing and requested policy (accounting for the possible aliases for each policy), but the sub-policy elements (if they exist for a particular policy) are not.

I'd per

[2017-08-24 15:55] #43040 closed

[2017-08-24 15:55] terminalmage commented on #15071
Better late than never! https://github.com/saltstack/salt/pull/43169

[2017-08-24 15:55] #15071 closed

[2017-08-24 16:49] terminalmage commented on #42941
@danlsgiga Unfortunately not. The fileclient is not extensible in the same way that modules/states/etc. are.

[2017-08-24 16:53] terminalmage commented on #42935
I can't reproduce this on my laptop running Arch. Going to test on Fedora 26 now.

[2017-08-24 16:59] twangboy opened #43174 "Get SPM Working on Windows"
### Description of Issue/Question
SPM does not work in Windows
Need to get it running and add any batch scripts needed for the installer

### Setup
Clone the salt repo
Create a dev environment (`pkg\windows\build_env_2.ps1`)
Install salt in editable mode (`pip install -e .`)

### Steps to Reproduce Issue
Try to run `spm`. You'll get the following stack trace:
[code]

### Versions Report
2017.7 hea

[2017-08-24 17:08] twangboy commented on #43174
@gtmanfred It's in my queue

[2017-08-24 17:18] danlsgiga commented on #42941
No problem!! I think I will just wait 2017.7.2 to come out and download the artifact locally in the meantime. Thanks!

[2017-08-24 17:27] terminalmage commented on #42935
OK, I can reproduce on Fedora 26. It seems that Docker on Fedora 26 includes the registry URL before the image name:

[code]

I haven't seen this notation before for images that don't come from a custom repo. When I switched the SLS to use the image name `docker.io/postgres:9-alpine`, it worked.

I'm working on adjusting the state to be more tolerant of variances like this between different releas

[2017-08-24 17:34] tobias-kuendig opened #43175 "chocolatey.installed ignores version definition"
### Description of Issue/Question

When using `chocolatey.installed` [the docs](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.chocolatey.html) state:

This seems not to be the case. When I install the `php` package in version `7.1.5`, then update my sls file to install `7.1.7` salt prints `The Package php is already installed` and does not touch it.

### Setup

[code]

### Steps

[2017-08-24 17:45] majuscule commented on #9939
I found this ticket while debugging a similar (the same?) issue, but am confused as there are not many details here. I am using a similar state, and see the following debug output from my salt run:

[code]

Despite the explicit command arguments listed, the prereleases are not installed. When I run the stripped command by hand, i.e.: `/var/web/myapp/venv/bin/pip install --pre myapp[production] `,

[2017-08-24 17:48] gtmanfred commented on #43163
This is caused by the fact that the `salt-call` starts up a whole new minion, which has to do all the minion maintenance tasks, including pulling the pillar data down.

[2017-08-24 17:57] terminalmage commented on #42935
This may be more complicated that I thought though, because not all platforms seem to be including the registry URL for images from the Docker Hub, and this has to work for both.

[2017-08-24 19:05] Ch3LL commented on #43133
@SuperPommeDeTerre this might be a duplciate of https://github.com/saltstack/salt/issues/42774

Can you try the fix in https://github.com/saltstack/salt/pull/42808

[2017-08-24 19:12] Ch3LL commented on #43136
@twangboy what do you think about this proposal? Seems it would allow the build to be more dynamic, but you have more knowledge around how and why that is setup. Thanks

[2017-08-24 19:16] s0undt3ch commented on #43134
No issues with first checking if it's installed.

[2017-08-24 19:19] Ch3LL commented on #43138
We also had to do something similar here: https://github.com/saltstack/salt/pull/41776

seems we will need to also add a check for this output as well.

[2017-08-24 19:21] Ch3LL commented on #43139
I think this is a good idea. Will approve as a feature request. Please feel free to submit a PR and @twangboy can help to review

[2017-08-24 19:23] Ch3LL commented on #43143
@terminalmage can you help give some insight to @abulford as to what the best approach to fix this is?

[2017-08-24 19:39] terminalmage commented on #42935
OK, this should be fixed now via #43176. The differences in image naming in `docker_container.present` states should be resolved by #43155. Both fixes should be in 2017.7.2.

[2017-08-24 20:07] terminalmage commented on #43143
I decided to fix it myself, because I noticed that there was a variable naming change between 2016.11 and 2017.7, and I wanted to make sure there was no possibility of a bug creeping in on a merge-forward.

@abulford See https://github.com/saltstack/salt/pull/43178/files. This is similar to what is already being done in the `git.latest` state [here](https://github.com/saltstack/salt/blob/2016.11/s

[2017-08-24 20:07] twangboy commented on #43139
@tsaridas What's the purpose of the scripts if it's just a one-time thing? Why not just patch salt? What are you patching for example? Would the items in the Patches directory be commited into the salt repo? What is the use case here?

[2017-08-24 20:18] felippeb commented on #43077
[code]
 something like that should work for you.

[2017-08-24 20:29] Ch3LL commented on #43150
@mwtzzz it looks like in the code [here](https://github.com/saltstack/salt/blob/develop/salt/states/mdadm.py#L90) its doing a `raid.list` and then checking if the name of your raid is already in that list. in your logs it shows the stdout and I don't believe I'm seeing the name of your drive `/dev/md127`. can you verify by running: `salt 'minion' raid.list` and posting a sanitized version here?

[2017-08-24 20:44] aogier opened #43180 "<string> in <string> usually breaks code reliability"
### Description of Issue/Question

Hi, during a static analysis of the code I've noticed a lot of those (IMO incorrect) statements:

[code]
This is not an error in Python because strings are indeed iterables, however it is not what coder probably want. Some examples are [here](https://github.com/saltstack/salt/blob/ad7b66ec530b342f4d55284a442b5c12aae0c541/tests/integration/modules/test_mac_group.p

[2017-08-24 21:04] Ch3LL commented on #43153
from a quick google search it seems on the command line the only way to exclude multiple packages is to include `--exclude <pkgname> --exclude <pkgname>` so i think we need to include this logic. If you run that
 yum command yourself without the issue of the quotes does it work?

[2017-08-24 21:07] Ch3LL commented on #43157
can you paste the output of `salt --versions-report`?

[2017-08-24 21:12] Ch3LL commented on #43158
Can you share a sanitized version of the file you are trying to match?

[2017-08-24 21:23] ixs commented on #4326
Generally the ability for a pillar to fetch other pillar data is becoming more important nowadays. Think a pillar that fetches data from a database but needs login credentials. We can work around a lot of problems by using import_yaml but a simple __pillar__.get() in a py rendered pillar or a salt['pillar.get']() as the jinja equivalent is the cleaner solution.

I have a few use-cases where having

[2017-08-24 21:23] aogier commented on #43180
an example:
[code]
but since what we need is an identity it could lead us to wrong assumptions. What do you think ?

also
[code]

what do you think ?

[2017-08-24 21:27] Ch3LL commented on #43162
@MorphBonehunter looks like i'm able to replicate this. One thing to note is it only fails on the first run after restarting docker. The consecutive runs afterwards work. I also tested this on the head of 2017.7 and it was still failing.

ping @terminalmage any ideas on this?

[2017-08-24 21:42] abulford commented on #43143
@terminalmage I gave it a run and found a couple of issues which I've pointed out in the PR, but otherwise it seems to do the trick :).

[2017-08-24 21:58] terminalmage commented on #43143
@abulford thanks, I addressed both of the issues you found.

[2017-08-24 22:40] Manoj2087 commented on #43077
@felippeb Thank you for sharing this. Looks like it is working as it is suppose to with your code. Do you know why the old code broke and how come we are passing the minion name as arg (i cant find this info on the documentation https://docs.saltstack.com/en/latest/ref/wheel/all/salt.wheel.key.html#salt.wheel.key.delete ).  Thanks

[2017-08-24 22:42] terminalmage commented on #43162
This should be fixed by https://github.com/saltstack/salt/pull/43184.

[2017-08-24 22:44] terminalmage commented on #43162
Keep in mind that we're not setting default values anymore in 2017.7.0+. We simply create a container using the passed arguments. So, it's Docker that's using different values depending on certain conditions.

[2017-08-24 22:53] mitar commented on #42065
This holds also for any other exception being raised. It simply looks they d not stop rendering but are converted to values. This is not good. This can hide errors.

[2017-08-24 23:02] gtmanfred commented on #42065
@saltstack/team-core anyone know anything about how salt-ssh handles displaying command output, and checking for the `_error` keys for pillar rendering?

Thanks,
Daniel

[2017-08-24 23:43] boltronics commented on #43163
Thanks. That explains why it's pulling in pillar data on a salt-call command that doesn't require it. But it doesn't explain why using `mine.get` runner calls on what should be cached data to render pillar is painfully slow.

I forgot to mention that using the `mine.get` runner in the original Jinja2 loop described above (where the runner was called ~19 times to render the file in my environment d

[2017-08-25 01:51] boltronics commented on #43163
Some more investigation shows that `salt-run` commands that do the same thing as `salt` commands (`test.arg` execution module vs `test.arg` runner module) suffer a huge performance penalty.
[code]

So the this isn't an issue specific to the `mine.get` runner module, but rather with the runner in general - assuming the runner works on the command line in a similar fashion to it being executed via j

[2017-08-25 05:09] terminalmage commented on #42941
Sure, no prob. Thanks for finding and reporting this, it was good to get it identified and fixed.

[2017-08-25 05:17] terminalmage commented on #43077
@garethgreenaway the commit you referenced was made in develop a couple weeks ago. The OP is on 2017.7.1.

[2017-08-25 05:41] abulford commented on #43143
@terminalmage no worries :+1:

[2017-08-25 05:46] tsaridas commented on #43139
Hi @twangboy ,

Patches require some maintenance in case code is changed from upstream.
No items would be committed to upstream ofc.

As I described, I would like to run some scripts before building the exe like patching salt code, deleting/adding/downloading files

[2017-08-25 06:08] MorphBonehunter commented on #43162
@terminalmage could you please explain this a little bit further as i don't get ist.
I do not set the Dns* Settings in docker state so there are no arguments to compare to the existing container and the default value for docker Dns* Settings are emtpy arrays (i just spawn an new container to look at the settings).
So maybe docker does it wrong that they don't verify the input as it seems that "nul

[2017-08-25 06:13] damon-atkins commented on #43139
So you want to re-build the windows salt agent, with your own patches and create the install exe?
Vs using _module or writing salt states to patch the windows agents.

[2017-08-25 06:18] terminalmage commented on #43077
I can reproduce this, I've created a docker container `terminalmage/issues:43077`. To launch the container, run **``docker run --rm -it -v $PWD:/testing terminalmage/issues:43077``** from the root of a clone of Salt's git repo.

[code]

It's past my bedtime right now, but I'll look into this in the morning.

[2017-08-25 06:44] tsaridas commented on #43139
correct :)

[2017-08-25 07:26] SuperPommeDeTerre commented on #43133
@Ch3LL I'm currently giving this a try. I'll keep you informed.

[2017-08-25 07:50] odormond opened #43185 "cmd.run runas does not properly change user on macOS"
### Description of Issue/Question

On macOS, tools like https://github.com/mas-cli/mas, uses some Apple specific internal call to get user specific informations. When invoked through `cmd.run` with the `runas` option set, they will not get the correct user specific data.

The problem can be pinpointed to the use of `sudo` instead of `su` as it can be reproduced directly with these two without invo

[2017-08-25 07:55] NegiLXXXVIII opened #43186 "Windows minon 2017.7.0 containing differnt modules than the matching git branch"
### Description of Issue/Question
The 2017.7.0 windows minion file state is not the same as in the current git branch for 2017.7.0.
The absent method does not call the file.remove with the force parameter set to true. Also the platform module in the utils of salt is missing. Therefore your can't simply  copy the newer file state to the minion.
The problem is also present in Verions 2016.11 and 201

[2017-08-25 08:15] SuperPommeDeTerre commented on #43133
@Ch3LL It's better, It works when omitting wildcards, but installation still fails when using them:
[code]

[2017-08-25 09:18] mirceaulinic opened #43187 "How to point from an execution module that a certain function failed"
### Description of Issue/Question

So the core of the questions is: how to control the `success` file of the event output, without raising an exception?
In the `raw` mode of the execution function output the `success` field does not appear, but it does on the bus.

There's the `--summary` option for the `salt` bin that I suppose should be use this flag, however this doesn't seem to report properly

[2017-08-25 11:51] soostdijck commented on #802
Bump as well. Has anyone made progress on this?
I'm still hoping that I'll be able to check syntax via commit hooks properly.

[2017-08-25 12:22] porunov opened #43189 "Fedora 26 has SaltStack vesrion 2016.11.5-3 not 2017.7.0"
Hello,

This link says that Fedora 26 has SaltStack version 2017.7.0 but in fact it has the version 2016.11.5-3:
https://repo.saltstack.com/#fedora

Do I need to change something to be able to use a newer version of SaltStack in fedora? Or I need to install it from sources?

[2017-08-25 12:29] abulford commented on #43162
@terminalmage I've tested the fix and it works for me :).

I think you're right that it's not really the Salt module's fault - I think the problem is in `docker-py`, where the `dns` variable (and various others) are defaulted to `None` in `create_host_config`, whereas the Docker CLI client and the daemon itself seem to use `[]` as a default, as illustrated below:
[code]

[2017-08-25 12:38] 4s1 commented on #40490
I traced it down a bit further.

A X509_NAME Object has a list of valid nids (attribute ID<>String) wich is [prepopulated](https://gitlab.com/m2crypto/m2crypto/blob/0.26.0/M2Crypto/X509.py#L267-285).

Salt's x509 module blindly loops over this list of valid IDs and tries to read every attribute (even if it is not available, i.e. results in a `None`)
https://github.com/saltstack/salt/blob/0931281eb

[2017-08-25 13:12] JensRantil commented on #802
Just wanted to share how we've created a workaround for syntax checking in our CI pipeline: In our `top.sls` files we've added a standardized way of adding example minion names:

    # CI example: my-minion-name
    'my-minion-*':
      - some.state

We then have a script that extracts all the example minion names (`salt-dry-run.sh`) for each minion name calls the script `salt-dry-run-single.sh` w

[2017-08-25 13:28] jettero commented on #43003
I've noticed this too. I was going to start an issue if I couldn't find one.

Why is the group minion fix (which I think would help my problem, but haven't tried) marked as "don't merge"? Does this mess something else up? My over-the-ocean links have this speed of light 200-400ms pause built into the round trip. So the return, ack, return, ack, return, ack pattern introduces a huge amount of laten

[2017-08-25 13:33] tsaridas commented on #43003
@DmitryKuzmenko ,

I have amazing fst results after the patch.

Thanks a lot

[2017-08-25 13:34] gtmanfred commented on #43180
I am all for mixing bugs, but there are some instances where your example is what is wanted.

As long as it doesn't break anything I don't think we have any problems with it.

Thanks,
Daniel

[2017-08-25 13:36] gtmanfred commented on #43163
My guess for that extra time is that `salt-run` generates the grains on the salt master.

https://github.com/saltstack/salt/pull/42787

[2017-08-25 13:44] gtmanfred commented on #43186
It looks like the correct file is on the v2017.7.0 tag.

https://github.com/saltstack/salt/blob/v2017.7.0/salt/states/file.py#L1436

That `force=true` was just added here.  https://github.com/saltstack/salt/pull/42308

And as 2016.11.7 and 2017.7.1 were security releases, they did not include all the bug fixes in the 2017.7 and 2016.11 branches.  This PR will be in the next release of both branche

[2017-08-25 13:44] #43186 closed

[2017-08-25 13:57] gtmanfred commented on #43187
It looks like the only ones that get added to the `# of minions with errors` are the ones that returned with a non-zero ret code.

https://github.com/saltstack/salt/blob/2017.7/salt/cli/salt.py#L311

[2017-08-25 13:58] gtmanfred commented on #43189
Fedora 26 is waiting for 1 more karma.

https://bodhi.fedoraproject.org/updates/FEDORA-2017-996b732425

Thanks,
Daniel

[2017-08-25 13:58] #43189 closed

[2017-08-25 14:00] mirceaulinic commented on #43187
Thanks @gtmanfred - shouldn't `test.exception` be one of the functions returning non-zero code? Or can you please give a better example?

[2017-08-25 14:04] gtmanfred commented on #43185
Would you mind submitting a PR for the `salt/modules/cmdmod.py` change?

[code]

Thanks,
Daniel

[2017-08-25 14:07] Ch3LL commented on #43160
@Set4now i just tested with external pilar of git and it worked fine in my proxy setup.

If you test this custom external pillar with a normal minion setup does it work?

also @cro might have some insight here as well

[2017-08-25 14:09] Ch3LL commented on #43147
@bhanukumar22 can you provide some more details around how you have your external pillar setup? share a sanitized version of your configs? I just tested with git ext pillar and the proxies seem to be working. Also if you test this external pillar setup with a normal minion does that work?

[2017-08-25 14:13] Ch3LL commented on #43130
@boltronics I don't think the new module.run is set by default. If i recall correctly to use the new syntax you would need to add an additional argument to your config. Is this accurate from your setup?

I completely agree we should add some examples to these docs for the new syntax but i don't think we want to do a clear removal of the old syntax because its still applicable i believe.

[2017-08-25 14:13] gtmanfred commented on #43187
Looking at how cmdmod.py adds the retcode to the return value, I would think that we should catch the exceptions internally, add 'retcode' to the return, and then push them to the output.

I am not sure where to do that right now though.

[2017-08-25 14:22] amalaguti opened #43192 "Improve documentation for SALT.EXECUTORS.SPLAY MODULE"
### Description of Issue/Question
Add more usage information for SALT.EXECUTORS.SPLAY MODULE including the use in orchestration and reactor states.

[2017-08-25 14:24] mirceaulinic commented on #43187
I just checked and added the `retcode` field to the output of a test execution function:

[code]

On the bus, there's no difference:

[code]

Neither in the summary: `# of minions that did not return: 0`.

Perhaps I didn't understand what you mean by adding the `retcode` to the return?

[2017-08-25 14:26] cetanu commented on #3913
Is this still relevant?

[2017-08-25 14:27] cetanu commented on #8685
I think this is already in salt

[2017-08-25 14:28] rickh563 commented on #42459
ZD-1713

[2017-08-25 14:33] thatch45 commented on #41847
I wanted to add a comment here with regard to a conversation with the team at SUSE.
The version number used by Salt is automatically generated by the `setup.py` and stored in a file next to the `version.py` file called `_version.py`.
If a packager wishes to use the GitHub tarball as a package source then that is perfectly fine so long as they understand that they will need to create the `_version.

[2017-08-25 14:34] gtmanfred commented on #43187
hrm, that is what I thought would have fixed it.

@saltstack/team-core does anyone know how the `--summary` works, or why it wouldn't be incrementing with exceptions?

Thanks,
Daniel

[2017-08-25 14:34] cetanu commented on #8925
This is gone now, right? It's just salt-bootstrap?

[2017-08-25 14:37] cetanu commented on #8925
The planned updates should be documented or this should be closed, I think :)

[2017-08-25 14:52] gtmanfred commented on #43192
https://docs.saltstack.com/en/latest/ref/executors/all/salt.executors.splay.html

[2017-08-25 15:29] jettero commented on #43003
I haven't had any luck applying the patch to 2017.7.1 -- I didn't try very hard, but I get a lot of rej

[2017-08-25 15:34] aogier commented on #43180
Hi, ok I understand your point and I can confirm this isn't creating problems. I'm sorry if report sounded a bit arrogant, I was just a little worried because I think it's a bad idiom that could lead to difficult to solve problems. Thank you :)

[2017-08-25 15:34] #43180 closed

[2017-08-25 15:46] DmitryKuzmenko commented on #43003
@jettero Thank you for reminding me. I've tested it already but forgot to update the PR description.
If you'd like to test it on 2017.7.1 try this:
[group_syndic_2017.7.1.patch.gz](https://github.com/saltstack/salt/files/1252319/group_syndic_2017.7.1.patch.gz)

[2017-08-25 15:54] BenjaminSchiborr commented on #3913
From my pov this is still relevant. The overall question is how to easily discover all masters in a given environment (e.g. for a multi-master setup you want to discover all relevant masters and add them to your minion config). In our AWS setup we currently do this by passing a list of masters through userdata to the minion. This way of looking up things seems rather inefficient. An easier way wou

[2017-08-25 16:04] jmholla opened #43194 "pkg module only installs custom Windows packages when minion is running in debug mode"
### Description of Issue/Question
I'm running into an issue where when I attempt to apply a state that installs a customly defined package on a Windows machine, it will fail if the minion is not running in debug mode, making this problem difficult to diagnose. I attempted to run it through the execution module (similar to the workaround for installing jre8 here: https://github.com/saltstack/salt/p

[2017-08-25 16:21] #8428 closed

[2017-08-25 16:27] mwtzzz opened #43197 "state repoerting named service reported as unavailable but module says it is available"
This is on salt-2016.11.1-1.el6 on amzn linux.

My state file:
[code]
Running the state results in:
[code]
But salt-call module and the system itself both see the service:
[code]

[2017-08-25 16:30] mwtzzz commented on #43157
Here you go Megan:
[code]

[2017-08-25 16:34] mwtzzz commented on #43150
@Ch3LL Hi Megan, here's the output you request:
[code]

[2017-08-25 16:40] adam-smith-sundance commented on #35204
I'm not sure if this is already in salt but it would be nice to do this for network interfaces too,

I am currently getting a cumulus switch ready to use with Salt and it would be amazing to grab the current configuration off the switch so that it doesn't get changed by accident with a new state.

[2017-08-25 16:57] fleekix commented on #42500
I have this issue in the opposite as @grobinson-blockchain
(older master 2016.11.3, newer minion 2017.7.1)

[2017-08-25 17:32] corywright opened #43198 "disk.format_ needs to be aliased to disk.format"
### Description of Issue/Question

The `disk.format_` function should be aliased to `disk.format`. The documentation already describes this but it is not implemented.

[2017-08-25 17:35] corywright commented on #42938
Closing as this was addressed in #43199.

[2017-08-25 17:35] #42938 closed

[2017-08-25 17:41] mwtzzz commented on #43197
I noticed that this problem occurs on 2016-11.1 and 2016-11.4
but 2016-11.7 successfully uses "/sbin/service" to check the status.

[2017-08-25 18:24] grobinson-blockchain commented on #42500
@fleekix sorry, my issue was that the master was on an older version than the minion. I had mistyped my previous comment. You need to update your master to 2017.7.1.

[2017-08-25 18:38] gtmanfred commented on #43077
If you move match into kwarg does this work?

[code]

[2017-08-25 18:45] gtmanfred commented on #43077
This was the change that was made in 2017.7.

Passing kwargs besides name anywhere except to the `kwarg` key was removed.

It all has to be passed to the LocalClient in the `kwarg` key.

https://github.com/saltstack/salt/blob/2016.11/salt/client/mixins.py#L370

This is what was deprecated that allowed for the previous behavior in 2016.11

[2017-08-25 18:49] gtmanfred commented on #43198
Thanks for the PR!

[2017-08-25 18:51] gtmanfred commented on #43197
I believe that we found this issue at some point, and it was fixed.

If it is fixed in a newer release, can we close this issue?

Thanks,
Daniel

[2017-08-25 19:37] gtmanfred commented on #43164
Can you update your salt versions to 2017.7.1?

I just checked, and it is working on those releases.

[code]

[2017-08-25 19:44] terminalmage commented on #43198
PR was merged. Thanks for finding and fixing this!

[2017-08-25 19:44] #43198 closed

[2017-08-25 19:48] adeck opened #43200 "grafana4_datasource doesn't set `access` to `proxy` by default"
### Description of Issue/Question

### Setup

Trying to use the new `grafana4_datasource` state from the most recent release.
[code]

### Steps to Reproduce Issue
I got this error...
[code]

...which made me dig deeper. According to [the docs][grafana4_datasource], the default value of "access" is "proxy".
But when I actually take a pcap of what it's doing (from following the HTTP stream)...

[cod

[2017-08-25 19:48] gtmanfred commented on #43175
What version of salt are you running on the minion?

`salt minionid test.versions_report`

Because this should be broken on 2017.7.0 and 2017.7.1 right now.

https://github.com/saltstack/salt/pull/42534

[code]

That will be fixed in 2017.7.2

Thanks,
Daniel

[2017-08-25 20:04] #38761 closed

[2017-08-25 20:11] #38100 closed

[2017-08-25 20:13] garethgreenaway commented on #42642
PR submitted to revert changes.  Upon further investigation the original state file should be:
[code]
For the augeas state to function correctly.  The one reported by @amontalban  should also include an unless conditional to avoid multiple attempts to add the line.  The python-augeas library doesn't handle this well.

[2017-08-25 20:15] rallytime commented on #42329
@jagguli 2016.11 is great. It will be merged-forward to 2017.7 and develop. Thank you for your contribution.

[2017-08-25 20:15] #42329 closed

[2017-08-25 20:15] #39976 closed

[2017-08-25 20:20] amontalban commented on #42642
@garethgreenaway great thanks, yes we have an unless in place just not pasted for simplicity.

Thanks!

[2017-08-25 20:21] garethgreenaway commented on #42642
@amontalban :+1:

[2017-08-25 20:59] rallytime commented on #21969
Hi @whiteinge

I have fixed this for wheel and runner funcs as described in #43203. This should be more helpful for users experiencing this issue, and is a start towards #6420.

Token is valid, command is incorrect:
[code]
Command is still incorrect, but the token isn't valid (no behavior change from before):
[code]

[2017-08-25 21:05] mwtzzz commented on #43197
Yep , fine to close.

[2017-08-25 21:13] aogier commented on #43101
closed in f16b724

[2017-08-25 21:13] #43101 closed

[2017-08-25 21:20] szjur commented on #43003
@DmitryKuzmenko, @tsaridas didn't send the details of our tests, so I will add them for the record. We set up 200 minions connected via LAN to 2 syndics and the masters were across a WAN link with ICMP ping of ~180 ms. Pinging from the masters without the patch took around 1:30 seconds. With the patch - less than 6 seconds, of which some must have been caused by syndic_wait. Log analysis showed th

[2017-08-25 21:23] #43197 closed

[2017-08-25 21:25] #42990 closed

[2017-08-25 22:27] UtahDave opened #43204 "Orchestration changes field contents is dictionary on success and is a string upon failure."
### Description of Issue/Question
When running an orchestration state that has a failure the `changes` field gets populated with a string that looks like json.  When running an orchestration state that succeeds the `changes` field gets populated with a dictionary.

This makes it difficult to parse programmatically. Expected behavior would be for both successes and failures to provide a dictionary

[2017-08-25 22:28] UtahDave commented on #43204
ZD 1705

[2017-08-25 23:34] pgporada opened #43205 "Better slack notification handling"
Currently the slack module and nearly every function of the slack state require a slack API key to post to a webhook. The process to create a slack api token is confusing, which isn't salts fault at all.

Why can't a user just use a webhook link? A person can easily run a curl to the webhook which accomplishes what the state and module should be doing.  It would be useful for the module and state

[2017-08-26 04:24] mitar opened #43208 "Prevent user.present to change uid and gid of existing user"
### Description of Issue/Question

I would prefer if `user.present` would throw an error instead of trying to change uid and gid of an existing user. Currently, if an user already exists, it changes uid and gid values to new values. This might leave some files on the system previously belonging to the user with old permissions.

### Versions Report

[code]

[2017-08-26 04:54] adeck commented on #43200
Also, all the values that aren't passed into the state module shouldn't be set to `null` and passed to `grafana`. They should simply be left unset. At least for the cloudwatch datasource leaving things set to `null` screws stuff up.

[2017-08-26 08:20] Set4now commented on #43160
Hey. It has been resolved. It came out to be an issue with the API proxy data.
Thanks am closing this out.

[2017-08-26 08:20] #43160 closed

[2017-08-26 08:40] tobias-kuendig commented on #43175
Yes, it actually was broken. I manually applied [this patch](https://github.com/saltstack/salt/pull/42534/files) to make it work.

I initially tested it on `2016.11.7` where the specified `version` was ignored. Then I upgraded to `2017.7.1` in hope that it has been fixed in this new release. After finding out about the broken chocolatey support I applied the patch but the `version` setting is stil

[2017-08-26 19:52] whiteinge commented on #21969
Wow, blast from the past. Thanks for the fix! Verified locally -- it works great.

[2017-08-27 00:19] vmule commented on #43133
Can anyone contribute to this issues?

[2017-08-27 01:59] justindesilets commented on #21935
I can confirm this issue is related to the GPG renderer if it is in a bad state. I came across this post when researching the error called out in this issue: https://github.com/saltstack/salt/issues/38616 . I tried hacking my way around the gpg issue and then updated my salt master's  renderer setting to be: `renderer: gpg | yaml | jinja` after that I kept getting the above error. I then commented