[2016-07-05 03:43] Trouble123 opened #34449 "Windows minions showing NO RESPONSE since upgrade to 2016.3.1"
Hi

I have recently upgraded our salt master to  2016.3.1, and are having issue with our windows minions, seems to be

When i

[code]

On another Windows 2003 server its failing on every command running salt minion 2015.8.3 so i upgraded it to 2016.3.1. It is still failing yet sometimes when i run salt-minion-debug on the windows server, i can see that the request is actually making it to the mini

[2016-07-05 05:11] ajthor opened #34450 "Salt minions fail to start on Raspbian"
Hi,
I'm having an issue starting salt-minion 2016.3.0 on Raspbian. I did an issue search but didm't come up with anything. I've reproduced the error on Debian linux once, but can't seem to reproduce it again on my Debian box. I have 5 minions running Raspbian, and one of them works, but four of them don't. I've installed salt-master and salt-minion (2016.3.0) from the stretch repo on a sixth Raspb

[2016-07-05 05:33] moshe0076 commented on #33571
Hi,

Sorry for the late response.
It works!
Thanks all for the help!

Moshe

[2016-07-05 07:33] phil123456 commented on #34444
any update on this one ?

[2016-07-05 10:44] ekollof commented on #34414
[code]

This is the latest version available from the Saltstack package repository for FreeBSD. I'd rather not build from git.

[2016-07-05 10:47] Inveracity commented on #34443
The pillar data should be rendered as an `OrderedDict` so it is peculiar that it changes the output.

I would suggest using the [host feature](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.host.html) instead, maybe that will help

[2016-07-05 10:58] manjiki commented on #26995
I had the same issue, I worked around it by commenting  `assert version == metadata.find('version').text` in the  `_get_snapshot_version_metadata`  function of the artifactory.py module.

I believe that this assertion is checking the version element from  from  [artifactID/maven-metadata.xml](url)
[code]
with the one from [artifactID/0.0.2-SNAPSHOT/maven-metadata.xml](url)
[code]

minion version:

[2016-07-05 11:21] Inveracity commented on #34421
I believe this is a [mysql error](http://dev.mysql.com/doc/refman/5.5/en/commands-out-of-sync.html) and not a saltstack error

tested with
[code]
salt output:
[code]

result on db:
[code]

[2016-07-05 13:27] dpetre commented on #9141
Any updates on this? We currently need to use salt api in a master of masters setup and stumbled upon this issue.

[2016-07-05 13:29] ekollof commented on #34414
Never mind, managed to find packages for 2016.3.1 and recreated my hosts. Still same behaviour.

[2016-07-05 13:29] dpetre commented on #23233
@cachedout #33021 doesn't seem to fix this one. We're using salt 2015.8.10 which has the changes in #33021 and the issue is still present.

[2016-07-05 14:32] mrichar1 commented on #3991
By using PillarStack you do get nice merging strategies, but you lose out on being able to use them with other ext_pillar sources, like git_pillar or pillar_ldap.

It would be nice if the merging strategies that PillarStack offers were part of the 'core' pillar code.

[2016-07-05 14:45] paul-mulvihill commented on #3991
:( guessed it would be something like that.. for the scale i'm building a salt estate I need git as the backend, so i'll have to find a work around until we can get this sort of features in the core code.

[2016-07-05 15:49] Ch3LL commented on #34234
@deuscapturus also we would like to know why you believe these two issues are related?

By chance are you possibly seeing the salt-api and master crash at the same time? or any other indications?

[2016-07-05 16:02] gtmanfred commented on #34224
@tehsu are you on rackconnect v2 or rackconnect v3?

[2016-07-05 16:07] #34395 closed

[2016-07-05 16:12] danlsgiga commented on #3991
You can have this very same feature using the slsutil.merge module. Here is a snippet to place in your map.jinja:

[code]

With that you'll have a full merged dict including lists.

[2016-07-05 16:20] rallytime commented on #19573
Unfortunately, I don't think anyone has been able to do anything with this one yet.

ping @twangboy

[2016-07-05 16:23] bbinet commented on #3991
PillarStack author here: personally I'm also storing my pillar and states data in git (on bitbucket private repositories), and I'm using a docker container to automatically update my pillar and states tree when a new commit is pushed to bitbucket (new commits trigger POST web hook requests to my docker container which update the relevant pillar or states tree).

Here is the docker container I'm us

[2016-07-05 16:37] Ch3LL commented on #34421
@Inveracity thanks for the great and clear test case.

@tuxick as shown above looks like this might be an error on mysql's end. If you still don't think it is can you please provide your exact sls that you are running into this error and we can see if we can replicate it as well. Also can you try @Inveracity 's example and see if you run into the error since we know this is a working example. Than

[2016-07-05 17:15] thatch45 commented on #33697
@asloboda-cisco @danlsgiga @fracklen can you please test my pr:
#34456
and let me know if it solves the issue?

[2016-07-05 17:19] tehsu commented on #34224
Rackconnect v2

[2016-07-05 17:47] danlsgiga commented on #33697
@thatch45 Your fix works fine!!! Just applied to my dev environment and my custom runners that uses salt client internally are running fine now.

Thanks a lot!!

Any idea of which release this fix will be applied to?

[2016-07-05 17:48] thatch45 commented on #33697
good to hear! We are trying to finalize 2016.3.2 right now, if this fix is good we are down to just one blocker bug I think.

[2016-07-05 17:51] ekollof commented on #34414
I've noticed that whlie my master installs 2016.3.1, my minions seem to be bootstrapped with 2015.8.8.

[2016-07-05 18:03] grobinson-blockchain opened #34458 "Salt consul pillar list of dicts"
It's unclear from the docs how to create a pillar in Consul that features a list of dicts (or whether this is even possible).

For example, in an SLS file I could write:

[code]

but in the Consul K/V store newlines represent list items and the tree represents nested keys. Therefore, it's unclear how `/parent1` could contain a list of key/value pairs.

For example: the following does not work beca

[2016-07-05 18:30] terminalmage commented on #33915
Thanks for the vagrant box, I was able to use a python debugger inside of it to get to the bottom of this.

The issue was that in 2016.3.0 we added the ability for runners to specify a return code which ``salt-run`` reads and uses to exit with a nonzero exit status when there are errors. This retcode value is added to the return dictionary. However, due to [this block of code](https://github.com/s

[2016-07-05 18:31] Ch3LL opened #34460 "Receive an error when using salt-api to call a runner"
### Description of Issue/Question

When using salt-api to call a runner I am seeing the following error:

[code]
### Setup
1. install salt-api, salt-master
2. install cherrypy
### Steps to Reproduce Issue
1. `curl -sS localhost:8000/run -H 'Accept: application/x-yaml' -d client='runner' -d fun='jobs.active' -d username='saltdev' -d password='saltdev' -d eauth='pam'`

I also saw this error more fre

[2016-07-05 19:05] gravyboat opened #34461 "Create an equivalent to chef's `ruby_block`"
It would be nice if Salt had a mechanic similar to Chef's `ruby_block`: https://docs.chef.io/resource_ruby_block.html

[2016-07-05 19:05] Ch3LL commented on #34434
@adelcast Looks like we definitely need to standardize how this is called to ensure the configuration is validated at the same time for all beacons.

ping @cachedout what way do you think we should standardize this? I'm thinking we would want to standardize by having the beacons call validate from the main beacon method like [adb](https://github.com/saltstack/salt/blob/develop/salt/beacons/adb.py#

[2016-07-05 19:06] fracklen commented on #33697
@thatch45 works like a dream. Awesome!

Sounds great if it could hit 2016.3.2.

[2016-07-05 19:10] Ch3LL commented on #34438
@onorua thanks for the PR! We will close this once its been reviewed and merged :+1:

[2016-07-05 19:23] terminalmage commented on #34371
Due to the fact that the two commits @erikgrinaker submitted in that PR would have needed to be backported to two different branches, I instead split his commits into separate pull requests.

See https://github.com/saltstack/salt/pull/34372#issuecomment-230573532 for details.

[2016-07-05 19:23] cachedout commented on #34434
Let's call it during beacon load.

[2016-07-05 19:26] thatch45 commented on #33697
it is merged into the branch, so this fix will be in 2016.3.2, glad I could help :)

[2016-07-05 19:27] thatch45 commented on #33697
with multiple validations on the fix and the pr being merged I am going to close this out as fixed

[2016-07-05 19:27] #33697 closed

[2016-07-05 19:32] fracklen commented on #33697
@thatch45 wrt the tests, can this be an issue for other transports as well?

Would be nice to have a test that verifies that a runner can connect to a running IOLoop using the client - using each transport.

[2016-07-05 19:38] Ch3LL commented on #34439
I am able to replicate this behavior. I believe this is related to #33616

Just to clarify this is what I am seeing and please clarify if this is the same behavior.

I run a `state.highstate` with minions intentionally not running and I have to hit `Ctrl+C` multiple times to get the highstate to stop. And after every time I select Ctrl+C the memory increases and stays there until I hit Ctrl+C abou

[2016-07-05 19:39] Ch3LL commented on #34439
I also want to note that after I do select Ctrl+C 3-5 times then the memory does go back down though. @edgan do you see hte same behavior?

[2016-07-05 19:44] thatch45 commented on #33697
Yes, good call,I did validate this fix on the other transports and a test that checks for this will be run on our multiple transport test platforms.
But yes, we do need to get a test in for this

[2016-07-05 20:16] edgan commented on #34439
Yes, ctrl-c more stops it completely. After one ctrl-c it continues to grow continiously till OOM.

I last reproduced it with just "salt '*' cmd.run 'ls'".

My salt master has 7982mb, AWS EC2 instance type t2.large.

[2016-07-05 20:27] Ch3LL commented on #34423
@bdrung I was able to easily replicate this and am seeing the same thing you are bringing attention to.

We don't want to refactor grain code too much to ensure we don't change values for others, particularly in a dot release. If you want to refactor a lot of it just make sure to add that to the develop branch and then we can review the PR.

If ou do want to just approach this by just fixing just

[2016-07-05 20:28] Ch3LL commented on #34439
@edgan thanks for the additional information. We definitely need to get this fixed up. Thanks

[2016-07-05 20:37] #34379 closed

[2016-07-05 20:37] #34390 closed

[2016-07-05 20:58] terminalmage commented on #34397
@jaredhanson11 OK, then I just need to adjust the code to pass through the ``ignore_epoch`` param to the cmp functions. I'll get that taken care of, and update this comment thread when done.

[2016-07-05 21:04] Ch3LL commented on #34440
I'm not very familiar with .nsi files but a quick google search states it helps to create windows installers. So I am guessing the reason you can't see the description of the service name yet is because it would be a part of the package and not a git install. I'm not entirely sure on this at all. ping @twangboy do I understand this correctly? Is this maybe why the service description is not seen y

[2016-07-05 21:13] Ch3LL commented on #34443
@suslikas that is definitely odd behavior. I do see that your master is a lower salt version then your minion, which is not recommended. Could you try upgrading your master and see if you still see the behavior?

[2016-07-05 21:18] ko-christ commented on #30234
i don't have a naming convention like this for my qa/prod environments.
- 'srvqa*':
- 'srvprod*':
- 'srvdev*':

eg: The `qa` and `dev` environment could rely on the very same minion machine.

so I match all minions like that `'*'`

[code]

[code]

and when I explicitly declare `saltenv=dev` or `saltenv=qa` salt ignores my setting and pillars are merged.

Setting `pillar_source_merging_strategy: ag

[2016-07-05 21:38] Ch3LL commented on #34444
@phil123456 I am not seeing a package winrar in the winrepo [here](https://github.com/saltstack/salt-winrepo-ng) which would explain why you are receiving that error. Please correct me if I am wrong? Or maybe theres a different name for it?

For example if i query for a known wrong package name I receive the same error:

[code]

And if i query a package i know exists in winrepo:

[code]

I do thin

[2016-07-05 22:19] cachedout commented on #34215
This is very mysterious. Right now, I am wondering if what's happening here is that we're switching into an IOLoop that's currently waiting on a read callback to complete. (Though, what's even stranger is that I haven't yet found a place where that callback would even be set.) It looks like we're in the context manager `salt.async.current_ioloop` every time we hit this bug which does seem suspect.

[2016-07-05 22:32] TheRhino04 commented on #30487
Any updates here? We somewhat depend on this to extract data that may not be available during the testing process.

[2016-07-05 22:36] mattglv commented on #33915
@terminalmage Thanks for the info and the fix. I've applied your patch on my local dev environment and it seems to work as expected!

[2016-07-05 22:41] Ch3LL commented on #34445
I am able to replicate this behavior in 2016.3.1 .

[code]

The above configuration works in 2015.8.10 to create the VM but I do see this error: `AttributeError: 'NoneType' object has no attribute 'text'` but the VM is created. In 2016.3.1 with that same profile does not work and states the image could not be found.

I can get this to work in develop without error, although as you state in develop

[2016-07-05 22:51] Ch3LL commented on #34424
@podshumok it looks like we need to add some additional logic to check if we already have those tmp files in that location. Just for clarification am I understanding this correctly:

1. you run the state files and it works correctly adding the tmp.bak file
2. you run it again and where the issue lies is it adds a file named tmp.bak.bak

Any clarification would be appreciated. My understanding of h

[2016-07-05 22:59] Ch3LL commented on #34449
@Trouble123 you might need to increase the timeout value when running the commands . There could be some network latency between your master and minions. So if you run `salt 'bugs.XXX.local'  pkg.refresh_db -t 100` do you still get the minion not connected error?

[2016-07-05 23:03] Ch3LL commented on #34450
@ajthor we actually just recently (last week) released raspbian packages for 2016.3.1 [here](http://repo.saltstack.com#raspbian) If you were to install salt-minion using the instructions posted on repo.saltstack.com do you still run into this issue?

[2016-07-05 23:07] Ch3LL commented on #34414
I was not able to get to this today so I will test this out tomorrow but i'll have to check in my test case to see what version of salt its actually installing on the minion If you update your bootstrap script `salt-cloud -u` is it still installing 2015.8.8?

[2016-07-05 23:16] sjmh commented on #33516
Does this happen on RHEL5/RHEL6?  We plan on upgrading to 2016.3, but this would be a big blocker for us doing that.

[2016-07-05 23:17] Ch3LL commented on #34447
@kespindler what version of salt are you seeing this on?

[2016-07-05 23:17] Ch3LL commented on #34447
sorry also which OS?

[2016-07-05 23:26] ekollof commented on #34414
It does install 2016.3.1 now, but there is a problem with the pkg package provided with the saltstack repository:

[code]

[2016-07-05 23:45] c4t3l commented on #33516
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

I've seen this behavior in rhel6.  My workaround was to issue two restarts at 2 and 3 minutes from state call using the at command via cmd state.  I lost connection with the rhel6 hosts but they successfully updated after 3 minutes.

On July 5, 2016 6:17:04 PM CDT, sjmh <notifications@github.com> wrote:

- --
Robert
-----BEGIN PGP SIGNATURE-----
Ver

[2016-07-05 23:53] twangboy commented on #34440
@Ch3LL Yes, it's part of the installer. The above PR adds a description after the service has been registered. This won't happen if someone installs salt through any other means.

[2016-07-06 00:28] AvinashDeluxeVR opened #34469 "WinMinion pkg.available_version"
Hello all,

I am trying to follow the [Windows Guide](https://docs.saltstack.com/en/latest/topics/windows/windows-package-manager.html)

My setup seems correct so far:

[code]

When I run

`sudo salt winminion pkg.available_version firefox`

I get

`No minions matched the target. No command was sent, no jid was assigned.`

When I run

`salt -G 'os:windows' pkg.list_pkgs`

I get a list of already i

[2016-07-06 00:38] vernondcole opened #34470 "salt-call --file-root prevents use of config file_roots: feature"
### Description of Issue/Question

I am trying to set up a local development/test system which will use the same salt state files as production. My local top.sls and some (under development) other state files will need to be different on my workstation, but support systems should be configured using the stock state files as used on the real salt master.  The solution seems to be to use a file_root

[2016-07-06 00:59] podshumok commented on #34424
Hello!

Not always.
The problem is that portage treat these .bak files as normal config files. If you have `-use` flag in such a file and want to add `use` flag. you may not get what you want.
Also, I described an example with two state files, adding different use flags to the same atom. Even without `tmp` file, this setup will end up with .bak file or even with .bak.bak file.

[2016-07-06 01:33] ajthor commented on #34450
Still no good. Upgraded a few nodes that weren't working to begin with to 2016.3.1 and the master to 2016.3.1. The only one it can see now is the one node that was working previously. Can't see the master minion now, either, even though it can start up the service.

[2016-07-06 02:35] czhong111 commented on #34413
BTW, I recorded the test log  and the 10.255.252.211 is the minion id.
**And here is the trace log when it costs 5s.**
[root@jenkisdevdb201 ~]#  while /bin/true;do time salt --timeout=5 '10.255.252.211' test.ping -l trace; sleep 1;done
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Including configuration from '/etc/salt/master.d/api.conf'
[DEBUG   ] Reading configuration from /

[2016-07-06 02:41] ccrivelli opened #34471 "Cannot delete grain using delval"
### Description of Issue/Question
Cannot delete grain using delval

### Setup
Just run the commands below.

### Steps to Reproduce Issue
- list my grain
[code]

- delete the grain
[code]

- but the grain is still there
[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[code]

Both minion and manster installed

[2016-07-06 03:58] rmohta opened #34473 "SaltStack Enterprise to SaltStack Opensource Mapping"
### Description of Issue/Question
This is more like a question. Is there any document which lists mapping of SaltStack Enterprise version to the closest SaltStack OpenSource.

For example, what's the closest open source version for 4.1.5.2?

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible

[2016-07-06 04:38] cachedout commented on #34443
I ran a thousand iterations of this scenario with `salt-call` in masterless mode and couldn't get this to happen once, FWIW.

[2016-07-06 05:33] ajthor commented on #34450
UPDATE: Upgrading salt on the pi's left the same problems as before, so I'm not sure what the error was, but it seemed to be some kind of conflict with a package installed on the system. I re-flashed the SD cards with a fresh version of Raspbian, and re-installed salt using the method linked to above. Now everything seems to connect just fine, and I can't replicate the issue. I'm going to go ahead

[2016-07-06 05:33] #34450 closed

[2016-07-06 05:51] Inveracity commented on #34471
I can confirm this aswell, it doesn't appear to want to remove nested keys with the ` : ` delimiter, I did however manage to remove it issuing the command without the delimiter:

[code]
It still returns `None` when issuing the command, but the key has been removed

I hope that helps

[2016-07-06 05:59] Inveracity opened #34474 "deleting subkey grains with `destructive=True parameter` returns error"
### Description of Issue/Question
deleting subkey grains with `destructive=True` parameter returns error:

command:
[code]
output:
[code]

reference to #34471

[2016-07-06 06:40] ccrivelli commented on #34471
The comment above works because it deletes all the parent grain ```aide``` and all the son grains consequently.
It's equivalent to:
[code]
I mean that - yes - It deleted my init_db grain, but I also lost my other grains:
[code]

Also it set up my parent grain to none:
[code]
and, when I ran my state, I got an error:
[code]

Then solved setting up 'force=True' as per Error message.

[2016-07-06 07:24] herisanu opened #34475 "Does stack external pillar GPG renderer?"
### Description of Issue/Question
I've setup the stack external pillar. When I add a GPG encrypted entry, it's not decrypyed

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Setup a salt stack external pillar setup and the same info in a normal pillar file.

[root@saltmaster pillar_stack]# cat stack.cfg
common.yml

### Steps to Reproduce Issue
(Incl

[2016-07-06 07:38] phil123456 commented on #34444
ok thanks for the info :-)

[2016-07-06 07:54] toanju commented on #23576
Any updates on this?

[2016-07-06 08:15] L4rS6 opened #34477 "rabbitmq_cluster.join ingores runas keyword"
### Description of Issue/Question
rabbitmq_cluster.join and rabbitmq_cluster.joined ignore the keyword runas.

### Setup
rabbitmq.sls:
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2016-07-06 08:28] hujunya opened #34478 "makedir bug in the file module"
https://github.com/saltstack/salt/blob/develop/salt/modules/file.py#L4599

[code]

if the directory containing the path is not available, like `path = '/notexist/'` on Linux or `path = 'N:'` on Windows, then the program will run into the while loop, the length of the directories_to_create list will increse, until a MemoryError is raised.

[code]

[code]

[2016-07-06 09:03] tomlaredo commented on #34471
I reported this in https://github.com/saltstack/salt/issues/32477 (11 Apr).

[2016-07-06 09:10] phil123456 opened #34479 "Packages DB refresh leads to all packages definitions erased on windows minion"
### Description of Issue/Question

I tried to add my own package definition (winrar), but as I try to install it on minion, => package cannot be found in repository

digging further in the windows minion files

C:\salt\var\cache\salt\minion\files\base\win

only contains repo-ng that contains winrepo.p

and if I one it with an hex editor, it only contains character 0x80 (???)

it seems de db refres

[2016-07-06 09:23] tomlaredo opened #34480 "Question: Saltstack team's policy for closing issues"
### Description of Question
I often see some bugs reports that seem to be fixed but ticket is still opened (eg. https://github.com/saltstack/salt/issues/34001).

What is the SaltStack policy for closing issues? If I think the issue of my ticket is now fixed, could/should I close it?

Regards

[2016-07-06 09:46] tuxick commented on #34421
sorry, no idea what i was doing wrong, it's ok :)

[2016-07-06 09:46] #34421 closed

[2016-07-06 10:16] Trouble123 commented on #34449
Thanks, that worked.
I have updated the timeout value in the master config file so i don't need to do it manually.

[2016-07-06 10:20] btbroot commented on #34170
Neither psutil 4.0.0 or 3.0.0 work for a Windows minion smoothly (ps.pgrep return null, ps.get_users throws an exception)

[2016-07-06 10:52] L4rS6 opened #34481 "rabbitmq_user.present with password keyword throws exception"
### Description of Issue/Question
rabbitmq_user.present throws an exception if I try to set a password for the user.

### Setup
rabbitmq.sls:
[code]

### Steps to Reproduce Issue
The following exception is thrown when the state above is executed:
[code]

### Versions Report
[code]

[2016-07-06 11:29] mkorkalo commented on #3790
+1

[2016-07-06 12:19] kespindler commented on #34447
Mac OS X 10.11.5 running `salt-ssh 2016.3.1 (Boron)` targeting an Ubuntu 14.04 server.

--log-level=debug output here:

http://pastebin.com/dPnGgYgr

[2016-07-06 14:20] arthtux commented on #29222
:+1:

[2016-07-06 14:30] cachedout commented on #34460
Could you re-test this against this please? https://github.com/saltstack/salt/pull/34456

[2016-07-06 14:49] caidongqing opened #34485 "How can I implement the salt-api that excute a command after get the token"
###For example,I want to implement the api follow with the salt-netapi-client:
curl -k https://192.168.1.72:8000 -H "Accept: application/x-yaml"         -H "X-Auth-Token: c203344e84448e60582acc662d0108d69948dbfd"         -d client=local  -d tgt='slave1' -d fun='file.copy' -d arg="/var/tmp/1" -d arg='/var/tmp6'
return:

who can show me a model,thank you very much

[2016-07-06 14:56] vernondcole commented on #34261
The example on dnsmasq.set_config is now correct, and the parameter notes are much better. Thank you.

The CLI example on dnsmasq.get_config is still incorrect.

[2016-07-06 15:00] do3meli commented on #1864
I just came across this bug report and realized that I have the exact same issue again in salt-minion 2016.3.1 (Boron). @s0undt3ch can you verify if your fix and test case is still working on the mentioned version? thanks

[2016-07-06 15:17] #34449 closed

[2016-07-06 15:26] rallytime commented on #34261
Thanks for following up @vernondcole. I have fixed the `dnsmasq.get_config` docs in #34488. Can this issue be closed now?

[2016-07-06 15:54] Inveracity commented on #34471
@ccrivelli ah sorry, didn't realise it would actually delete everything

Maybe this can help instead: [usage example](https://github.com/saltstack/salt/blob/2016.3/salt/modules/grains.py#L294)
you can give it subkeys including values, maybe you can change the values instead of deleting them?
[code]
I hope that helps

[2016-07-06 16:05] cachedout commented on #34433
This is not a bug in Salt. It's an error in your template. It's easy to do, though, since this is a subtle side-effect in Jinja2.

What you're seeing here is a single-element list being returned from this grain. When you call `pop()`, it modifies the list _in place_ before evaluating it, so it thinks the list is empty. What you want to do here instead is either access the element directly or itera

[2016-07-06 16:05] #34433 closed

[2016-07-06 16:21] thatch45 commented on #34447
We are looking into this, but if it is not caching the thin then this is a serious bug, salt-ssh has very sophisticated caching of the thin tarball.
We think that what you might be seeing is the compiled state tarball that we ship down to run states, that does need to be regenerated, but we are investigating, thanks for the report!

[2016-07-06 16:35] cachedout commented on #34439
This is a reactor loop combined with a known issue with a leak in the event system. Please try #34490 for a fix.

[2016-07-06 16:39] kespindler commented on #34447
Ah okay. Thanks for looking- you could be right. Is there a way I should confirm which is happening?

[2016-07-06 16:41] Ch3LL commented on #34447
@kespindler I have not been able to replicate this. I am only seeing `thin.tgz` scp'd in the logs on the first initial run. Here is my roster file:

[code]

It does look like in your logs you are showing the thin tarball being copied over here:

[code]

Just to confirm you are seeing that everytime?

It is expected to see this being copied over each time: `salt_state.tgz` but not that  thin tarbal

[2016-07-06 16:48] Ch3LL commented on #34448
@Trouble123 I'm having a hard time replicating this as shown below:

[code]

This is on a 2012 windows server:

[code]

What window OS are you seeing this behavior?
How did you install salt?

[2016-07-06 16:50] kespindler commented on #34447
Interesting. It looks like what is happening is that the /etc/salt/thin directory is getting deleted on every sync. I changed my `thin_dir` to `/home/ubuntu/thin` (definitely not a folder getting controlled by salt).

While running, I was ssh-ed into the server, and continually did a `ls` on the directory. It first contained `thin-salt.tgz` (expected), then it contained items like `minion  py2  ru

[2016-07-06 16:56] Ch3LL commented on #34460
I was actually testing based off of that commit already as shown in my versions report: `edd6b95` . I also tested in 2016.3.1 and saw this behavior as well though.

[2016-07-06 16:58] #33915 closed

[2016-07-06 16:59] thatch45 commented on #34447
what is the exact salt-ssh command you are running?

[2016-07-06 16:59] kespindler commented on #34447
salt-ssh app1 -ldebug state.highstate 2>&1 | tee salt-ssh.log

[2016-07-06 17:00] whiteinge commented on #34485
The above command looks correct. Add the `-i` flag to curl so you can see the response headers. That will help drill down on why the return is empty.

Also take a look at the `-c`/`-b` curl flags to avoid having to manually pass the token. There is an example of that in the [Authentication](https://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_cherrypy.html#authentication) section i

[2016-07-06 17:22] Ch3LL commented on #34447
hmmmm are you using `ssh_wipe: True` anywhere? Maybe in your roster saltfile?

[2016-07-06 17:28] ahammond opened #34491 "transport/tcp TypeError: 'int' object has no attribute '__getitem__'"
### Description of Issue/Question

I  was seeing this on our salt-master this morning.

[code]

Restarted salt-master and problem went away.

`/var/log/salt/master` log contains a bunch of this:

[code]

Scrolling up the logfile to the first error messages give me this:

[code]

This was immediately after I ran salt-cp with a target that should have hit about 400 machines, but only returned on 4.

[2016-07-06 17:34] kespindler commented on #34447
Damn, it was indeed in Saltfile. I used a template to get started with it,
and it slipped my view. Sorry for the trouble, thank you for the assistance
here.

Kurt
+1 (925) 360-2631
LinkedIn <https://www.linkedin.com/in/kurt-spindler-7b204859> | Twitter
<https://twitter.com/kurtontech> | Blog <http://www.kurtsp.com/>

On Wed, Jul 6, 2016 at 12:23 PM, Megan Wilhite <notifications@github.com>
wrote:

[2016-07-06 17:34] kespindler commented on #34447
Damn, it was indeed in Saltfile. I used a template to get started with it, and it slipped my view. Sorry for the trouble, thank you for the assistance here.

[2016-07-06 17:34] #34447 closed

[2016-07-06 17:37] Ch3LL commented on #34469
@AvinashDeluxeVR you just need to change the name of your target in this command `sudo salt winminion pkg.available_version firefox` to the name of your own windows minion which looks like it is `SPARK-29` so the command should be  `sudo salt 'SPARK-29' pkg.available_version firefox`

Does that help resolve the error?

[2016-07-06 17:45] ahammond commented on #34480
Usually I see a comment from @Ch3LL or one of the other salt-stackers along the lines of "hey, we think this is resolved, so unless you confirm that it's still a problem, we're going to close the issue" except, uh, more polite than that. And then I generally confirm that it's resolved and close the issue. If you think your issue is fixed, please comment to that effect and close the issue!

[2016-07-06 17:45] whiteinge commented on #34461
@gravyboat would the suggestion in #18462 fulfil this?

[2016-07-06 17:46] AvinashDeluxeVR commented on #34469
Hi there,

That does resolve that error I listed but also displays the following error:

[code]

I will look into this issue further. Perhaps there is already a fix on Git.

I also tried

[code]

Again, I will look into these issues myself before asking more questions.

Thanks for your help!

Avinash.

[2016-07-06 17:46] #34469 closed

[2016-07-06 17:52] Ch3LL commented on #34447
No worries :) Thanks for the quick response and the investigation work!

[2016-07-06 17:54] gravyboat commented on #34461
Definitely.

[2016-07-06 17:54] #34461 closed

[2016-07-06 17:57] rallytime commented on #34480
@tomlaredo Yeah, exactly what @ahammond said. :)

If your issue is fixed/resolved to your satisfaction (even if one of us from SaltStack hasn't commented yet to say 'we think this is resolved'), we'd much rather have you close it with a comment saying so. If you close your own issue, you keep the power to re-open it if you need to. If we close it, you'll have to get one of us to open it again. We

[2016-07-06 17:57] rallytime commented on #34001
Thanks for following up here, @seamus-45. I'll close this.

[2016-07-06 17:57] #34001 closed

[2016-07-06 17:58] cro commented on #34446
Yes, the default cachedir for the proxy should be changed to something else.  In the meantime, if you add

`cachedir: /var/cache/salt/proxy`

to /etc/salt/proxy

does that fix the problem?

[2016-07-06 18:07] mirceaulinic commented on #34446
Hi @cro, thanks for looking at this issue!
The proxy config file is already configured like that (please see my previous comment).
Is there anything else I can set in the minion or proxy-master config files?

[2016-07-06 18:11] cro commented on #34446
I apologize, I missed that.  The cachedir directive *should* fix this, so let me dig into it a little more and see where we are not referencing it properly.

[2016-07-06 18:12] mirceaulinic commented on #34446
Sure, let me know if you'll need further details - I assume it's not quite easy to reproduce this particular setup.

[2016-07-06 18:22] Ch3LL commented on #34470
@vernondcole so just to clarify you are requesting the ability to ensure whatever is specified in `--file-roots` is merged with file_roots in minion config filem, instead of overwriting what is in the minion config?

[2016-07-06 18:43] azabielski opened #34494 "Windows setting environment getting temp data."
### Description of Issue/Question

When you are setting a windows environment it seems that when the minion starts to call information it sets a bunch of windows and unix temp paths. Thus when you go to add to the env.path it makes those other values set that aren't needed.
### Setup

c:\ProgramData\salt>salt-call environ.get Path
local:
 C:\ProgramData\Oracle\Java\javapath;C:\Windows\system32;C:\

[2016-07-06 18:59] markuskramerIgitt opened #34495 "Building the Windows installer shows too much logging and continues on error"
### Description of Issue
The scripts that setup the Windows build environment and create the Windows installer show too much logging and continue on errors. It is necessary to scroll back several screen full of logging data and hard to detect errors because they do not stop the

### Setup
Change directory to github/saltstack/salt/pkg/windows.
Execute the scripts.

[2016-07-06 19:14] UtahDave commented on #29222
OK, thank you for your patience, everyone. We now have rsync available at `rsync.repo.saltstack.com`. This rsync matches the contents of `repo.saltstack.com` exactly.

You can list the available modules like this:
[code]
The `saltstack_pkgrepo_full` module will give you an exact copy of the entire contents at `repo.saltstack.com`.
The other modules such as `saltstack_pkgrepo_ubuntu` provide just t

[2016-07-06 19:14] cmeisinger commented on #30323
+1

[2016-07-06 19:17] allierichards commented on #30323
+1

[2016-07-06 19:21] Ch3LL commented on #34471
@ccrivelli are you okay closing this issue and tracking it in #32477 ?

[2016-07-06 19:29] Ch3LL commented on #34474
@Inveracity you are passing 3 arguments into delval but it only allows two (key and destructive) as shown [here](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.grains.html#salt.modules.grains.delval)

[2016-07-06 19:46] Ch3LL commented on #34475
@herisanu i'm not seeing anything in the docs about the pillarstack supporting different renderers.

ping @bbinet looks like you are the maintainer of this external pillar. Can you confirm whether it has the capability to use different renderers?

[2016-07-06 20:14] Ch3LL commented on #34477
@L4rS6 I believe this is related to this line [here](https://github.com/saltstack/salt/blob/develop/salt/states/rabbitmq_cluster.py#L51)

It does not include the runas kwarg. If you were to replace that line with `status = __salt__['rabbitmq.cluster_status'](runas=runas)` does that work?

[2016-07-06 20:22] pratiktest opened #34497 "salt 'testMinion' pkg.available_version firefox gives IndexError: pop from empty list"
### Description of Issue/Question
Hi,
I am running **salt minion 2016.3.1** on a **windows 2003** server

**master is Ubuntu 14.04**

I am following documentation at
https://docs.saltstack.com/en/latest/topics/windows/windows-package-manager.html#windows-software-repository to install packages on remote  windows salt-minion

i ran the following in my master
//sls files used to install windows pack

[2016-07-06 20:30] Ch3LL commented on #34478
@hujunya i'm not able to replicate this behavior with the following test case:

[code]

Maybe im misunderstanding something. Thanks in advance for any clarification

[2016-07-06 20:37] rmohta commented on #34473
@meggiebot My question is "around how the SSE package versioning maps to OSS package versioning". In our infrastructure, for R&D/PoC we use OSS, but for actual execution we use SSE. Hence, the question.

BTW, Thank You for mapping of SSE 4.1.5.2

[2016-07-06 20:40] Ch3LL commented on #34481
@L4rS6 I believe this to be a duplicate of #/33588

Can you verify if PR #33641 fixes this issue for you?

[2016-07-06 20:42] vernondcole commented on #34263
@Ch3LL I agree that the PATH setup should be in the dnsmasq documentation. Perhaps it is, somewhere, but I did not see it. A short note in the Salt documentation would be helpful, too, since the module will not work as intended otherwise.

[2016-07-06 21:00] whiteinge commented on #34461
Thanks, sir. I'll bump that one up on the priority list.

[2016-07-06 21:13] Ch3LL commented on #34479
@phil123456 i'm wondering if you ran into this issue that is explained in the windows software repository docs;

Does the above information help? Looks like it needs to be located in a particular directory.

[2016-07-06 21:15] Ch3LL commented on #34495
@markuskramerIgitt thanks for the PR to fix this issue! I'll go ahead and close this issue since its now been fixed. :+1:

[2016-07-06 21:21] Ch3LL commented on #34444
hey @phil123456 I just found this issue #31759 which looks like a duplicate for this issue? Do you mind use tracking this issue there instead and closing this one? Any objections?

[2016-07-06 21:45] cachedout commented on #34215
OK, so I think we have a better idea of what's going on here.

What this looks like is that we're pushing data onto the Tornado write queue in the EventPublisher and that memory is never being reclaimed. There are a couple of possible factors in play here:

1) According to this documentation: http://www.tornadoweb.org/en/stable/iostream.html?highlight=iostream#tornado.iostream.BaseIOStream.write,

[2016-07-06 21:59] Ch3LL commented on #34497
@pratiktest I'm not seeing the same behavior with a windows2012. Can you ensure the firefox sls file was synced down to the minion by running:

`salt 'minion' cmd.run 'dir c:\salt\var\cache\salt\minion\files\base\win\repo-ng\salt-winrepo-ng\'`

[2016-07-06 22:00] markuskramerIgitt opened #34500 "salt/setup.py should not show files copied and byte-compiled"
### Description of Issue/Question
The output of  ``` "%PyDir%\python.exe" "%SrcDir%\setup.py" install --force ``` (as in salt\pkg\windows\build.bat)
 has 2,500 lines, most of which are individual files successfully copied or byte-compiled.

This level of details makes it difficult to understand the working and result of salt\pkg\windows\build.bat.

setup.py should have an option, that suppresses t

[2016-07-06 22:06] pratiktest commented on #34497
looks like it was not synced

[code]

shouldn't this command sync the file?
`salt -G 'os:windows' pkg.refresh_db`

[2016-07-06 22:19] Ch3LL commented on #34458
@grobinson-blockchain I'm a little confused as to what you are attempting to do. Could you clarify or provide a clear test case? Are you attempting to use the consul external pillar? Thanks ahead of time for any additional clarification

[2016-07-06 22:21] Ch3LL commented on #34497
@pratiktest yes `pkg.refresh_db` should be syncing that file and that cache directory path should be correct unless you are using different salt environments.

What is the output when you run pkg.refresh_db on that minion?

[2016-07-06 22:26] Ch3LL commented on #34414
@ekollof if you attempt to install salt using the salt repos [here](https://docs.saltstack.com/en/latest/topics/installation/freebsd.html#saltstack-repo) manually on that minion do you still run into the same error? Trying to determine if this is a boostrap or package issue because I don't remember running into this issue when installing 2016.3.1 on freebsd manually.

[2016-07-06 22:27] fedusia opened #34501 "Error with hiera ext_pillar"
### Description of Issue/Question

Fresh install from vagrant up. When i add hiera as ext_pillar i see in logs of salt-master error:

[code]
### Setup

[code]

[code]

[code]

[code]
### Steps to Reproduce Issue

[code]

In logs i see:
`[ERROR   ] Got a bad pillar from master, type str, expecting dict:`
### Versions Report

[code]

[2016-07-06 22:45] markuskramerIgitt commented on #34495
Hi @Ch3LL,
my pleasure - it is exciting to contribute!

I personally do consider this issue open until
pull request https://github.com/saltstack/salt/pull/34502 is merged and
issue https://github.com/saltstack/salt/issues/34500 is resolved (I don't dare to touch setup.py)

[2016-07-06 22:48] AvinashDeluxeVR commented on #34469
So the main problem was that the minion and the master were on different versions.

the latest version for ubuntu is 2015.5.3 and the latest version for windows is 2016.3.1

I just installed the latest versions on the installations pages:

[Windows](https://docs.saltstack.com/en/latest/topics/installation/windows.html)
[Ubuntu](https://docs.saltstack.com/en/latest/topics/installation/ubuntu.html)

[2016-07-06 22:56] Ch3LL commented on #34494
It looks like we are actually calling the python os module instead of a salt module to get this information [here](https://github.com/saltstack/salt/blob/develop/salt/modules/environ.py#L222)

ping @twangboy do you know if maybe there is a better way for this to work with windows? Or os.environ.get is the best approach.  I did notice there was a module for getting path [here](https://docs.saltstac

[2016-07-06 23:00] Ch3LL commented on #34495
Oh you are right there was another concern in the issue as well to stop on error, sorry about that.  I will re-open and feel free to close when you feel like all the concerns have been addressed. I will

[2016-07-06 23:02] azabielski commented on #34494
@Ch3LL Yes here is my state file that calls this and where i noticed the issue happening.

[code]

[2016-07-06 23:03] AvinashDeluxeVR commented on #34497
@Ch3LL @pratiktest  I had this issue also. The cause of all my issues was that the salt master on Ubuntu and the salt minion on Windows were on different versions. The latest version for Ubuntu is 2015.5.3 and the latest version for Windows is 2016.3.1

The tutorial is slightly misleading as it doesn't indicate that both master and minion should be on the same versions.

[2016-07-06 23:04] Ch3LL commented on #34500
@markuskramerIgitt I think this is a great idea! i'll approve as a feature request :+1:

[2016-07-06 23:12] Ch3LL commented on #34497
@AvinashDeluxeVR thanks for the input! Really appreciate it. That does indeed explain why you were running into this issues since the old and new winrepo used a different directory structure as explained [here](https://docs.saltstack.com/en/latest/topics/windows/windows-package-manager.html#maintaining-windows-repo-definitions-in-git-repositories) We do not support a master that is a lower version

[2016-07-06 23:15] markuskramerIgitt commented on #19137
Hi @saxonww,
This means there must be a difference between your and my environment.
Maybe our Powershell versions are different. Can you execute `powershell -version 2`  ?

We also could compare the output of our build scripts.

Ideally,  the build scripts should tell if something is wrong, but they currently continue on error and contain so much noise that finding errors (or reading them) is diff

[2016-07-06 23:18] s0undt3ch commented on #34500
This is not something salt specific. I believe this is a distutils thing. You could pass `-q` to setup.py to quiet it down... I think.

[2016-07-06 23:24] AvinashDeluxeVR opened #34504 "Installation documentation for Ubuntu server and Windows minion leads the user to use different salt versions."
Hi all,

If you follow the [Ubuntu installation guide](https://docs.saltstack.com/en/2015.8/topics/installation/ubuntu.html) and the [Windows installation guide](https://docs.saltstack.com/en/2015.8/topics/installation/windows.html) you will have a mismatch in master and minion versions, since the latest version for Ubuntu is  2015.5.3 and the latest version for windows is 2016.3.1.

This causes m

[2016-07-06 23:37] pratiktest commented on #34497
that is true, sorry i forgot to put my salt master version here

[code]

@AvinashDeluxeVR : to solve this issue did you downgrade the salt version on the minion?

[2016-07-06 23:45] ccrivelli commented on #34471
Sure @Ch3LL,
I close this issue and I will add my salt version report on the other one: https://github.com/saltstack/salt/issues/32477

[2016-07-06 23:45] #34471 closed

[2016-07-06 23:46] AvinashDeluxeVR commented on #34497
@pratiktest Yes I downgraded Salt minion to 2015.5.3 to match the salt master

Here are the links

[2015.5.3 x64](https://repo.saltstack.com/windows/Salt-Minion-2015.5.3-2-AMD64-Setup.exe)
[2015.5.3 x86](https://repo.saltstack.com/windows/Salt-Minion-2015.5.3-2-x86-Setup.exe)
[All previous versions](https://repo.saltstack.com/windows/)

[2016-07-06 23:47] ccrivelli commented on #32477
Same with Salt 2016.3.1 on Centos7:

[code]

[2016-07-06 23:56] markuskramerIgitt commented on #34500
Hi @s0undt3ch,
I agree, I just don't know how to search for it.

Thank you for your suggestion: I added ``` -q ``` as in
 ```"%PyDir%\python.exe" "%SrcDir%\setup.py" install -q --force```
but still each file is named

[2016-07-07 00:34] AvinashDeluxeVR commented on #34497
@pratiktest Just another "gotcha" Ubuntu asked me to upgrade, which also upgraded my salt master to 2015.8.8 which then got me into this mismatch situation again.

[2016-07-07 00:40] pratiktest commented on #34497
thanks for such quick help.

I just brought up a test vm in windows and matched the version to salt-master and it worked

Also when i do pkg.refresh_db this time it returned true, while for minions with higher version it did not return anything. **If it would have returned false , I would have known that sync failed**

[code]

**Installing package works after matching salt-master version with mini

[2016-07-07 00:58] vernondcole commented on #34263
It seems that dnsmasq.py/set_config is now called with four keyword arguments it does not expect.  Here is a patch to ignore them.

[34263.patch.txt](https://github.com/saltstack/salt/files/351165/34263.patch.txt)

Note to reviewer:  I think that the line just above my editing:
`            if filename.endswith('#') and filename.endswith('#'):`
is oddly redundant.  I was tempted to fix it, but tha

[2016-07-07 01:37] ahammond commented on #34491
This was followed by our salt-master's hardware imploding. So... maybe not a software issue.

[2016-07-07 01:37] #34491 closed

[2016-07-07 01:45] vernondcole commented on #34263
@Ch3LL Is there also a label for "has patch"?  If so, it ought to be added to this issue.

[2016-07-07 01:59] vernondcole commented on #34261
Fix confirmed. Well done.

[2016-07-07 01:59] #34261 closed

[2016-07-07 01:59] terminalmage commented on #33915
No problem, thanks for confirming!

[2016-07-07 02:57] hujunya commented on #34478
@Ch3LL Could you please try this on Windows server ?
file.makedirs on a not exist disk, like `salt-call.bat --local file.makedirs "N:"`

[2016-07-07 02:59] saxonww commented on #19137
Hello @markuskramerIgitt,

I figured out what's causing my build problem. I have cygwin installed and am using cygwin's git instead of 'git for windows'. My PATH is set up to allow access to this git from cmd.exe; build.bat uses a git command to calculate the path to setup.py, which will not be usable by Windows python in my environment.

It looks like vcredist was dropped as a requirement with #1

[2016-07-07 03:12] terminalmage commented on #34302
Improved documentation and logging are submitted in #34505.

In the process of standing up a test environment I found another method that may help avoid this issue with multiple top files. Passing a ``saltenv`` parameter when running a highstate will only process the top file from that environment. It will also only run states from that environment, so if you only desire to run states from a singl

[2016-07-07 03:13] terminalmage commented on #31385
Improved documentation and logging are submitted in #34505.

In the process of standing up a test environment I found another method that may help avoid this issue with multiple top files. Passing a ``saltenv`` parameter when running a highstate will only process the top file from that environment. It will also only run states from that environment, so if you only desire to run states from a singl

[2016-07-07 05:01] Inveracity commented on #34474
I managed to confuse myself, mixed up delval and setval

I apologise for the noise!

[2016-07-07 05:01] #34474 closed

[2016-07-07 07:34] herisanu commented on #34475
@bbinet looked in the code, and it only does a YAML.safe_load on a Jinja Template.

Doesn't it make sense to use the rendering system here? Otherwise you will not store any secrets in this type of pillar and any advantage it brings it would be lost.

[2016-07-07 07:40] L4rS6 commented on #34477
@Ch3LL Thank you, it's working now.

[2016-07-07 07:40] #34477 closed

[2016-07-07 07:47] L4rS6 commented on #34481
@Ch3LL Unfortunately this doesn't fix my issue. We are already running the version which applies this fix.

It looks like the cmd is wrong. If I execute it on the CLI it looks like this:
[code]

And this is the salt module code:

[code]

We are running RabbitMQ 3.5.4.

[2016-07-07 08:00] LoveIsGrief commented on #24689
Hi

We've been running into this as well. The highstate just seems to keep running and blocking other states.

[code]

A part of our orchestration routine

[code]

I tried adding `- queue: True` to the *manager_build_and_deploy* state -->

[code]

I also tried adding

[code]

to no avail...

[2016-07-07 08:24] ekollof commented on #34414
I'll run some tests.

[2016-07-07 08:36] akcrisp opened #34506 "external_auth not functioning"
### Description of Issue/Question

Trying to configure external auth to use ldap(freeipa), running on centos7. for external authentication. I am a newbie to salt - so its possible I've missed a configuration step or misconfigured something...

Running salt-master -l trace, when i issue the salt -a ldap '*' test.ping from a logged in (ldap user account) on the master salt server all I get in the tr

[2016-07-07 09:01] phil123456 commented on #34479
no it does not help at all, there is clearly something broken in the db_refresh command

[2016-07-07 09:03] phil123456 commented on #34444
no problemeo, but can someone seriously check the issue about db_refresh destroying the packages cache on windows 7 => https://github.com/saltstack/salt/issues/34479#issuecomment-230908640

[2016-07-07 09:13] ekollof commented on #34414
It seems that FreeBSD upstream updated their repositories, fixing the above. But the original problem still occurs when the minion gets bootstrapped with 2016.3.1:

[code]

[2016-07-07 09:50] markuskramerIgitt commented on #19137
Hi @saxonww,
I still (since May 25) have problems loading WiX  3.10 into Visual Studio 2013.
Which versions of Visual Studio and WiX do you use?

**My configuration:**
Visual Studio Premium 2013 Version 12.0.40629
.Net 4.5
Tried WiX 3.9 and WiX 3.10

**With WiX  3.10:**
References/WiX has a tiny yellow triangle exclamation mark icon, no matter if I ad a reference to “Managed Bootstrapper Applicati

[2016-07-07 10:00] herisanu commented on #34475
So we've dug more into this and my proposal would be to use `salt.util.compile_template` to actually load the file. What we'll loose is the ability in  the file itself to use `{% set info = pillar['info'] %}`, but on the upside it will use whatever renderer it need (including GPG).

Code change:
[code]

[2016-07-07 10:08] ekollof commented on #34414
I'll do another run with --script-args "-D"

[2016-07-07 10:27] bbinet commented on #34475
I'm not aware of saltstack pillar renderer, I need to go through the documentation.
What do you mean by it will loose the ability in the file itself to use `{% set info = pillar['info'] %}`? We cannot use Jinja anymore in the file or just the `set` Jinja statement?

[2016-07-07 10:31] ekollof commented on #34414
[code]

[2016-07-07 10:35] ekollof commented on #34414
Log entry from the master:

[code]

Maybe pre-seeding keys is not going so stellar?

[2016-07-07 10:49] herisanu commented on #34475
In your setup, in the actual pillar file you could do cool stuff like:

[code]
where `pillar['saltmaster']` was from another external pillar.
This can't be done in the normal pillar setup, as in salt, you can't reference a pillar from another pillar.

As a workaround for this we use a variation of:
https://github.com/saltstack/salt-contrib/blob/master/pillars/lookup.py
that allows us to do this:
[

[2016-07-07 10:52] herisanu commented on #34475
An alternative to using the renderer would be to detect and decrypt the encrypted values directly just as varstack external pillar is doing.
https://github.com/conversis/varstack/blob/master/varstack/__init__.py#L175-L190

Not sure which approach is best.
In my opinion, there should be a use-case in which you have encrypted values in the pillar that get decrypted.

[2016-07-07 11:02] Inveracity commented on #33969
The keyerror was a fluke, couldn't reproduce it again

The original problem is fixed, thank you!

[2016-07-07 11:02] #33969 closed

[2016-07-07 11:29] dgorissen opened #34508 "No error output for failed deb install in pkg.installed"
### Description of Issue/Question

On Ubuntu 14.04. My YAML is as follows. Given a directory with (in this case 2) deb files, install each of them in turn.

[code]

Executing the state with debug shows the following for each package.

[code]

Running this manually on the same machine.

[code]

Works fine without a hitch. Im trying to understand why salt fails to do the same. It would help if there

[2016-07-07 11:55] bbinet commented on #34475
On 7 July 2016 at 12:49, herisanu <notifications@github.com> wrote:

Yes, this is exactly the reason why I've wrote PillarStack. And you can
even reference previous "stack" data from the current "stack" yaml file.

So being able to reference previous pillar from the current one is an
absolute requirement for PillarStack...

[2016-07-07 12:00] bbinet commented on #34475
On 7 July 2016 at 12:52, herisanu <notifications@github.com> wrote:

Personnaly I don't use encrypted values in my pillarstack data, but I'm
open to the idea of supporting your use case in PillarStack. Feel free to
submit a pull request to the upstream project at
https://github.com/bbinet/pillarstack

In the mean time, why not use normal pillar to store you encrypted values
with GPG, and then mana

[2016-07-07 12:16] herisanu commented on #34475
Because you can't target the minions easily in a large installation. The matchers in pillar top.sls can use grains and minion_id only.

We have two requirements for pillar/top.sls:
* you should not target pillars with grains because you can set a grain on a minion
* role attribution should not be done by minion id (our top.sls for pillar is 300 lines long with 50 regexes for nodegroups)

Your stac

[2016-07-07 12:51] srkunze opened #34509 "No atomic thin.tgz deploy"
It appears to me that the deploy of the salt-ssh thin.tgz is not atomic and very sensitive to environmental influences. The following minion has a bad network connectivity.

### First run:
[code]

### Second run (which can also occur randomly after deleting the .root_dcdf8c_salt dir)
[code]

### Alternative second run
[code]

[code]

NOTE: sometimes, it's a single tgz, sometimes there are two tgz

[2016-07-07 12:52] aleksmm opened #34510 "ps.top: psutils.cpu_times() return changed"
psutils package changed return tuple adding two more values leading to exception for packages versions >=4.1.0
Return a (user, system, children_user, children_system) namedtuple

psutils.cpu_times()
Changed in version 4.1.0: return two extra fields: children_user and children_system.

### Setup
salt/modules/ps.py

  File "/usr/lib/python2.6/site-packages/salt/modules/ps.py", line 132, in top
    u

[2016-07-07 13:05] saxonww commented on #19137
@markuskramerIgitt it's just bad code. I am not sure how I didn't catch that.

I pushed saxonww/salt-windows-msi@68768b2 to fix. Basically that should have been [System.IO.Path]::GetFullPath, not [System.IO]::Path. It's an [MSBuild property function](https://msdn.microsoft.com/en-us/library/dd633440(v=vs.120).aspx) and the intent there is to canonicalize the paths with \\..\\.. components. It's no

[2016-07-07 13:30] SMillerDev opened #34511 "AttributeError: elasticsearch_index_template.present"
### Description of Issue/Question

When trying to use the [elasticsearch state integration](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.elasticsearch_index_template.html) the formula ends with an AttributeError (`'module' object has no attribute 'exceptions'`). Which seems to originate on line https://github.com/saltstack/salt/blob/2016.3/salt/modules/elasticsearch.py#L96
### S

[2016-07-07 13:57] ekollof commented on #34414
I also cleaned out the master and minion's keys, restarted everything and tried again. No luck. Same result.

[2016-07-07 14:39] grobinson-blockchain commented on #34458
@Ch3LL so in an SLS file it is possible to define a pillar like this:

    parent1:
      - key1: value1
      - key2: value2
      - key3: value3

which is dict where the value at `parent1` is a list of k/v pairs.

However, because of how the Consul external pillar module uses the key/value store hierarchy to represent different data structures, it appears that the above data structure is impossi

[2016-07-07 14:42] grobinson-blockchain commented on #34458
To be honest, I think it would be better and more flexible to have literal Yaml inside the value of a key/value entry (just like we have literal Yaml inside an SLS file) and then map keys to pillars in the same way the top file maps to SLS files on the file system (rather than using the file system hierarchy as your data structure).

[2016-07-07 15:03] hdimitriou commented on #12070
Any news on this? '2016.3.1' version and I can't get mines via ochestrate (unless I do some sort of salt-call trick)

[2016-07-07 15:53] Ch3LL commented on #34481
@L4rS6 yes you are right the PR is actually already in 2016.3.1. Apologies for that. It does look like there is another PR included in the issue #33588 as well that was not included in 2016.3.1 here: #33734 but I am not certain it would actually resolve your issue because it seems like this fix was specific to rabbitmq versions greater then 3.5.7. Looks like rabbitmq added an api to check username

[2016-07-07 16:03] Ch3LL commented on #34504
@AvinashDeluxeVR the reason this occurs is because of the community managed repos. It seems 2015.5.3 is the version available in PPA, which we do not manage. We actually manage our own packages now at repo.saltstack.com and I would recommend to use the instructions on that site and you will not run into that issue.

I think this is the issue I asked you to open in relation to making it more clear

[2016-07-07 16:12] Ch3LL commented on #34475
@herisanu looks like @bbinet wants to track this request in his upstream repo. Would you mind opening it there so we he can track it there and then feel free to close up this issue. Thanks :+1:

[2016-07-07 16:25] dgorissen commented on #34508
Mmm, Im suspecting a bug. The above output is from one of the runs after I had installed it manually. I rebuilt the VM from scratch (im using vagrant) and re-ran salt. I now get this output:]

[code]

So while it thinks there was an error, it actually did install properly.

[2016-07-07 16:48] vernondcole commented on #34470
I can think of three solutions:
- leave the code as-is and document the existing behavior.
- concatenate the --file-root argument to the programmer's file_roots list (as the first or last?)
- trust the programmer and do not change the value of file_roots if it is defined.
I think I prefer the latter: if I explicitly state file_roots, I want it used the way I define it.

[2016-07-07 17:03] xfernando opened #34514 "pkg.installed can fail if any line in .deb Desciption starts with any of the following: 'Version:', 'Package:' or 'Description:'"
### Description of Issue

If a line in the _Descritpion:_ field of a .deb file starts with any of the following, salt might not detect that a package was properly installed:

[code]
### Steps to Reproduce Issue

I ran into this weird issue when trying to install some .deb packages needed for the TSM client with **pkg.installed** that have been created in house a long time ago that had the followin

[2016-07-07 17:33] vernondcole opened #34515 "Please actually implement skip_verify for archive.extracted"
### Description of Issue/Question

When I do not define an upstream hash for archive.extracted, Salt provides an error message suggesting that I use a "skip_verify" switch.

That switch does not exist.
### Setup

Virtualbox published an invalid checksum, so I want to ignore it this time...

[code]
### Steps to Reproduce Issue

`sudo salt-call --local state.sls {the state file we just defined}`

[c

[2016-07-07 17:36] thatch45 commented on #13141
I can verify that this works well, although I hope more people can also verify it:
https://docs.saltstack.com/en/develop/topics/thorium/index.html

[2016-07-07 17:36] #13141 closed

[2016-07-07 17:38] jakehilton commented on #13141
I'll give this a whirl and report back. Should work fine with 2016.3.1?

Thanks for getting this in!

[2016-07-07 17:39] Ch3LL commented on #34501
@fedusia looks like I am able to replicate this behavior:

Looks like i'm seeing the same behavior with your same test case:

[code]

I'm not famiilar with hiera but i'm guessing the `output: nil` has something to do with this issue. If you were to run that command you would get that same output `nil`. Not sure why its getting a nil and anyone else with more hera knowledge that could explain it wo

[2016-07-07 17:39] thatch45 opened #34516 "Allow Thorium to make existing reactor like calls"
This means that we need a thorium state that checks for a specific matched event:

[code]

[2016-07-07 17:40] thatch45 commented on #13141
this code is only in the develop branch, so you need a master and minion on develop. It is a feature addition

[2016-07-07 17:47] Ch3LL commented on #34506
@akcrisp Is there anything relevant in the master debug logs when restarting the master?

[2016-07-07 17:50] thatch45 opened #34517 "Document existing Thorium states"
The existing thorium states all need examples and documentation

[2016-07-07 17:50] seanjnkns commented on #16880
Still seeing this on 2015.8.10:

Salt Version:
           Salt: 2015.8.10

Dependency Versions:
         Jinja2: 2.7.3
       M2Crypto: 0.21.1
           Mako: 0.8.1
         PyYAML: 3.11
          PyZMQ: 14.7.0
         Python: 2.7.5 (default, Nov 20 2015, 02:00:19)
           RAET: Not Installed
        Tornado: 4.2.1
            ZMQ: 4.0.5
           cffi: 0.8.6
       cherrypy: 3.2.2
       da

[2016-07-07 18:13] Ch3LL commented on #34508
@dgorissen yeah it looks like its not determining correctly the output of it being installed. I was able to replicate it with this small test case on ubuntu14:

1. `cd /srv/salt`
2. `wget http://archive.ubuntu.com/ubuntu/pool/main/a/alien/alien_8.93_all.deb`
3. /srv/salt/test.sls:

[code]

4. `salt-call --local state.sls test`

[code]

Says it failed but it did indeed install correctly. We will ne

[2016-07-07 18:22] Ch3LL commented on #34509
@srkunze agreed this should be able to be more flexible. As a side note I believe this is also related to #26467, although it seems that issue is a different use case of selecting ctrl + c but is still the same concept that we do not provide more flexibility when copying over the thin tarbal. What do you think about closing 26467 and tracking it here? I guess it could also be argued to keep it ope

[2016-07-07 18:25] Ch3LL commented on #34170
@btbroot would you mind opening a seperate issue that includes the exception and more details

[2016-07-07 18:27] seanjnkns commented on #16880
btw, I tried even changing the masters entry in /etc/salt/minion from the 2 RIPs to the VIP and same error.  Oddly enough, the minion running on the salt-master doesn't throw this error, but all other minions do.

[2016-07-07 18:28] Ch3LL commented on #34510
@aleksmm I believe this is a duplicate of #34170 . Looks like there is a fix in at #32182. Would you mind giving that fix a try?

[2016-07-07 18:55] fedusia commented on #34501
i will research this issue by myself, i would glad for any help.

[2016-07-07 19:00] Ch3LL commented on #34511
@SMillerDev I'm not seeing this same behavior. I am seeing the correct error it seems:

`CommandExecutionError: Could not connect to Elasticsearch host/ cluster ['127.0.0.1:9200']`

using this sls file

[code]

and the same pillar values you posted. What version of py-elasticsearch do you have installed? Mine is 2.3.0: `elasticsearch (2.3.0)`

[2016-07-07 19:08] terminalmage commented on #33609
@danlsgiga you didn't provide any information about the version you are running, but the fix referenced in this issue is in 2016.3.1. Please attempt again on that version.

[2016-07-07 19:10] Ch3LL commented on #34514
@xfernando wow what a great issue report and investigation work! I believe this is related to issue: #34508

Although when i apply your patch my test case from 34508 still does not seem to work:

[code]

To note I did have to change this line to add a quote around version. `elif 'version' not in ret and line.startswith('Version:'):`

I'm assuming this patch is working in your test case?

[2016-07-07 19:15] akcrisp commented on #34506
Can you give me a better idea what you mean by relevant ? Is there something I should be seeing when it starts and using external_auth? As other than see it say it's reading the auth.conf I don't see anything else related.

Andy

Sent from my iPhone

[2016-07-07 19:22] TheBigBear commented on #33609
@terminalmage the patch in 2016.3.1 is 'better' but there is still a regression in there.
It now does the ```pkg.upgrade```, but it still reports an error that was not there before. This is on a 2016.3.1 minion connected against a 2016.3.1 master.

[code]

[2016-07-07 19:24] danlsgiga commented on #33609
@terminalmage I was at the same version at the time of my comment. Thanks for reporting back about the fix on 2016.3.1. I've tested and it works fine!

[2016-07-07 19:25] terminalmage commented on #33609
@TheBigBear I noticed that too and fixed it in https://github.com/saltstack/salt/pull/34524.

Just to be clear: the error that was logged did not represent a functional problem, it was logged because we were running pkg_resource.parse_targets when we didn't need to.

[2016-07-07 19:30] TheBigBear commented on #33609
@terminalmage I take your word for it.

I was NOT saying this reminding 'error' in the log was an actual problem, seeing that the upgrade actually happened, but merely saying that the 2016.3.1 output and log still suggest there is an "[error]".

Thanks for fixing this as well and getting rid of the extraneous (and wrong - I suppose?) log entry. Well done. Will test when it get's released and repor

[2016-07-07 19:51] terminalmage commented on #33609
Yeah the log entry occurs when you invoke parse_targets with invalid input. We shouldn't have been calling it in the first place. This was caused by a community member adding the ability to specify packages to upgrade (see b8b6ac7), which uses ``pkg_resource.parse_targets`` to convert either the ``name`` or ``pkgs`` arguments to a list of targets to append to the yum/dnf command. What this person

[2016-07-07 20:04] danielmotaleite opened #34526 "salt-ssh + mine = weird error"
I'm testing a salt-ssh setup with mine and have this teste.sls state file:

[code]
with this roaster

[code]
The mine.get returns:

[code]

but doing this command returns this outpupt:

[code]

and i'm totally lost why

[2016-07-07 20:04] #34302 closed

[2016-07-07 20:05] #34371 closed

[2016-07-07 20:25] markuskramerIgitt commented on #19137
Hi @saxonww,
I got it - from now on I will only use msbuild + WiX 3.9 and forget VisualStudio.

I cloned salt v2016.3.1 and executed salt\pkg\windows\build.bat
This created ```c:\github\salt\pkg\windows\buildenv\``` (4376 files)
and ```c:\github\salt\pkg\windows\installer\Salt-Minion-v2016.3.1-AMD64-Setup.exe``` (26.579.063 bytes)

My WiX-project provokes Minion.Common.targets(32,5) error  "Must s

[2016-07-07 20:29] divyaeadelly commented on #8882
o

[2016-07-07 20:37] markuskramerIgitt commented on #34500
Hi @s0undt3ch,
it is ``` --quiet ``` as in
```"%PyDir%\python.exe" "%SrcDir%\setup.py" --quiet install --force```

Closing the issue.
Thank you for your help!

[2016-07-07 20:37] #34500 closed

[2016-07-07 20:49] Ch3LL commented on #34515
@vernondcole would you mind trying #34529 and seeing if that possible fix works for you?

[2016-07-07 20:57] Ch3LL commented on #34413
@czhong111 thanks for all the additional information. I'm currently setting up a test case and will report back soon if I see the same behavior. Thanks!

[2016-07-07 21:21] #34360 closed

[2016-07-07 21:28] terminalmage commented on #34397
@jaredhanson11 This is implemented in #34531.

[2016-07-07 21:31] edgan commented on #34439
Confirmed, that fixes it for me.

[2016-07-07 21:31] #34439 closed

[2016-07-07 21:33] AkhterAli opened #34532 "Cloudwatch alarm attributes alarm/ok/insufficient actions do not update."
### Description of Issue/Question
### Setup

[code]
### Steps to Reproduce Issue
1.  Create an alarm with insufficient actions attribute and then remove it to update the alarm and remove insufficient actions from the alarm.

---

This will result in present alarm already in the most up to date state.  It's not looking at the attributes properly and comparing it to the alarm.
### Versions Report

[

[2016-07-07 21:39] sebw opened #34533 "salt-cloud vsphere list_nodes doesn't work on vCenter ESX 6.0"
I can't retrieve nodes info using list_nodes, list_nodes_min works though:

`# salt-cloud -f list_nodes vmware -l trace`

[code]

It appears that the Guest OS field contains \xa0 character instead of spaces:

`{u'config.hardware.numCPU': 1, u'name': '<REDACTED>', u'config.guestFullName': u'Red\xa0Hat\xa0Enterprise Linux\xa06 (64\xa0bits)', 'object': 'vim.VirtualMachine:vm-252', u'guest.ipAddress':

[2016-07-07 21:48] rallytime opened #34534 "proxy_port option is listed as int, but default is set to None"
### Description of Issue/Question
After merging #34407 into develop, the following log messages occur frequently:
[code]

This log warning is due to the `proxy_port` option being set as an `int` type in `salt/config/__initi__.py`, but the default value is set to `None`. The default value needs to be set to a valid integer instead of a `None` value.

### Setup
Start a minion on the develop branch a

[2016-07-07 21:52] #26467 closed

[2016-07-07 21:59] srkunze commented on #34509
We can track everything here. :)

[2016-07-07 22:00] saxonww commented on #19137
Run that same command, and add /p:Version=v2016.3.1 as a command line parameter. Also you can remove the /p:NuGet since it's no longer required.

FWIW I have been updating the README.md in salt-windows-msi as I've made the other changes, so it should explain what's required to run/build.

[2016-07-07 22:06] kt97679 commented on #33223
I think I found race condition in the fileclient.py. I'm going to check if following fix will work:
<pre>
--- fileclient.py.orig  2016-07-07 12:22:22.860338370 -0700
+++ fileclient.py       2016-07-07 13:49:02.436409000 -0700
@@ -11,6 +11,7 @@
 import os
 import shutil
 import ftplib
+import uuid

 # Import salt libs
 from salt.exceptions import (
@@ -1047,6 +1048,7 @@
             load['gzip'] =

[2016-07-07 22:54] Ch3LL commented on #34509
great thanks!

[2016-07-07 23:05] Ch3LL commented on #34413
I'm going ot investigate this a little more tomorrow as well. But I am seeing 5 seconds in performance whenever i can communicate with teh syndic, but the issue i'm running into is sometimes the syndic is timeing out even if i increase the timeout value to 20 when using your bash while loop:

[code]

Have you seen any errors similar to `Minion did not return` udring your testing?
i'll dive deeper

[2016-07-07 23:08] seanjnkns commented on #16880
I fixed this by reconfiguring my load balancer to maintain persistent connections for longer periods of time.  Otherwise, the numerous connections the minion makes to the VIP would cause communication to swap around between various masters.

[2016-07-08 00:08] AAbouZaid commented on #33495
Ok, I was going to implement the missing features that in v0.9. Because current InfluxDB module and state are so basic!

But I see @babilen did a good job! So what do we need to do now? Test that against InfluxDB 0.8 and 0.9?

[2016-07-08 00:25] grichmond-salt opened #34540 "Salt Targeting Terminology"
When we specify targeting types in Salt states, we have three keywords that we can use.  They are:
- match (top.sls file)
- expr_form (orchestration/reactor states)
- tgt_type (orchestration/reactor states)

This has raised questions during training classes.  In discussing this with Seth, he stated that submitting an issue to eventually use a single term for matching would be valuable.  Seth sugge

[2016-07-08 00:41] cachedout commented on #34540
Is this strictly a documentation issue or are you recommending functional changes as well?

[2016-07-08 01:39] grichmond-salt commented on #34540
Following Seth's preference, my thought would be to make sure “expr_form” works in all places, and then change our online documentation and training materials.

[2016-07-08 01:47] saxonww commented on #19137
@markuskramerIgitt That is great news. Does the msi install a working version of the Salt minion?

[2016-07-08 02:09] xfernando commented on #34514
@Ch3LL I was full of demands at work so what I did to get it working regardless of a fix was extract the .debs, edit debian/control and repackage them without the offending "Version:" line in the description.

After doing that I started writing the issue here and just wrote the code of the fix I thought would be the best directly on the issue so that's why the quotes were missing, my bad!

But I'l

[2016-07-08 03:12] czhong111 commented on #34413
Thanks for testing, when you using "while" loop to test, is the target specified '*' ?  if so, I get 5 seconds in performance  too. But when the target using regular expression  like 'minion*' which including minion id, the  performance comes to 20 seconds, it is so werid.
[root@salt-master ~]# while /bin/true; do  time /usr/bin/salt   --timeout=5 **'*'** test.ping ; sleep 1;done
syndic:
    True

[2016-07-08 03:39] Omeryl commented on #9332
Yeah I need this for a few different things as well.

[2016-07-08 08:03] herisanu commented on #34475
Sure, I'll create a issue and PR there. Thanks!

[2016-07-08 08:03] #34475 closed

[2016-07-08 08:17] sebw opened #34547 "salt-cloud deployment fails when deploy: True"
I'm deploying from a RedHat Enterprise 7 template where salt-minion 2016.3.1 is already installed (from official repositories) with a basic configuration. For different reasons I can't use the bootstrap script.

I use a custom script to finish the deployment, but I get a traceback and the minion key is rejected from the Master. Salt-minion refuses to start as a result. I'm getting the same error u

[2016-07-08 11:20] silenius commented on #34215
hello, just to add that we have the same problem here with a fresh 2016.3.1:
[code]

this is with a simple salt "somehost" test.ping

[2016-07-08 11:25] sebw commented on #34547
Getting the same error with ```bootstrap-salt.sh -D stable 2016.3.1```

[2016-07-08 11:50] Inveracity opened #34548 "win_dsc.set_lcm_config does not set multiple values, missing semicolon"
### Description of Issue/Question
When setting multiple lcm config values it does not set them correctly

I believe the produced command from [win_dsc.set_lcm_config](https://github.com/saltstack/salt/blob/develop/salt/modules/win_dsc.py#L518) is missing a `;` at the end of each parameter string.

example:
[code]

### Setup
state:
[code]

configuration command output produced by set_lcm_config():

[2016-07-08 12:10] rafaltrojniak4interia commented on #34363
Hello,

Sorry for not responding, it seams I missed all notifications. I'll try to respond quicker next time.

Clearing things out :
- In my test-case I can't see 'restarted' word in any message, there is no information the service was restarted
-  I have checked PID of the haproxy process before/after the action, and it stays the same. If the service would be restarted, it would change (that's th

[2016-07-08 13:03] silenius opened #34550 "Could not deserialize msgpack message: Some exception handling minion payload"
I'm reinstalling the salt-master here and I don't know what's wrong but I have the following:

[code]

I tried with 2015.8.3, 2015.8.8, and 2016.3.1 ... I supect something is broken between the dependencies ...
### Versions Report

[code]

[2016-07-08 13:12] xfernando commented on #34514
I just tested it (got the old .deb file with "Version:' in the descritption) and indeed the problem did not occur with the fix I suggested (this time with the proper quotes!).

[2016-07-08 13:12] soodr commented on #33959
I was looking to switch to Tornado to address a vexing issue with rest_cherrypy:
#32859

[2016-07-08 13:12] #33959 closed

[2016-07-08 13:19] babilen commented on #33495
I waited for a new https://github.com/influxdata/influxdb-python/ release that included https://github.com/influxdata/influxdb-python/pull/331 and https://github.com/influxdata/influxdb-python/pull/330.

Some testing of the modules and states at https://github.com/babilen/salt/tree/influxdb-current would be great. I'll open a PR soon.

[2016-07-08 13:21] SMillerDev commented on #34511
I think this is the package you are refering to?

[2016-07-08 13:32] silenius commented on #34550
same on:
[code]

[2016-07-08 13:33] SMillerDev commented on #34511
So...funny story, reinstalling the package fixed everything. Thanks for the help I guess?

[2016-07-08 13:37] sebw commented on #34533
The problem lies in the encoding used in pyVmomi.

Adding the following to /usr/lib/python2.7/site-packages/pyVmomi/__init__.py fixes the problem:
reload(sys)
sys.setdefaultencoding('utf-8')

https://github.com/saltstack/salt/issues/30277

[2016-07-08 14:23] fatelei commented on #27094
+1

[2016-07-08 14:28] silenius commented on #34550
ok I just rebooted, started from scratch, rm -rf /var/cache/salt, rm -rf /usr/local/etc/salt/pki, and maybe one important thing: I started the salt_master under the root user instead of a dedicated one .. I don't known if it has something to do but it works now .. very strange ..

[2016-07-08 14:30] danielmotaleite commented on #34526
i forgot, i'm using salt-ssh 2016.3.1 (Boron) and of course, running a simple test.sls with

[code]

works fine

[2016-07-08 14:36] silenius commented on #34550
just `rm -rf /var/cache/salt` and reswitched to `user: salt` in the master file and I get the msgpack error again, so apparently it seems related ...

[2016-07-08 14:47] markuskramerIgitt commented on #19137
Hi @saxonww,
the msi-installed minion responds to test.version. This means the service is installed, and this means you resolved the salt.bat/salt.exe problem.. :-)

i will perform more serious tests in the next days.

-original message-
Subject: Re: [saltstack/salt] MSI installer(s) for windows minion (#19137)
From: Will Saxon <notifications@github.com>
Date: 08.07.2016 03:47

@markuskramerIgitt

[2016-07-08 14:53] yauhen-matsiushonak commented on #18564
If the issue is related to timeout on **_'saltutil.find_job'_** it cat be "work-arounded" by creasing **_'gather_job_timeout'_** in master config. We saw the similar issue on virtual environment, when traversing of salt minion cache hangs in 'find_job'.  However, it also looks like defect in client/saltutil/orchestration, because saltstack considers that state.sls execution was succeed, when it fa

[2016-07-08 15:02] rallytime commented on #34534
Fixed via #34541

[2016-07-08 15:02] #34534 closed

[2016-07-08 15:05] mbom2004 opened #34551 "salt.engines.logstash not loading"
We are trying to use the Salt Engine for Logstash to send all information from the Salt event bus to our Logstash instance.  I can't get the engine to load successfully. Any help would be much appreciated.

**Salt Master config:**
[master.txt](https://github.com/saltstack/salt/files/354511/master.txt)

**Debug Logs**: /var/log/salt/master
[debug.txt](https://github.com/saltstack/salt/files/354514/

[2016-07-08 15:05] Ch3LL commented on #34511
@SMillerDev did you re-install the same version? I'm wondering if there is differences in versions

[2016-07-08 15:08] SMillerDev commented on #34511
Yes, must be a local issue then I guess

[2016-07-08 15:27] lukayeh commented on #32276
me too!

[2016-07-08 16:10] Ch3LL commented on #34526
@danielmotaleite I believe this is related to #27808, but i'll leave both open because I don't believe they are duplicates since the other issue specifically addresses using aliases in salt-ssh.

I am able to replicate this behavior using the following sls file:

[code]

I can run this find without salt-ssh:

[code]

But when attempting this with salt-ssh:

[code]

Thanks for catching and reportin

[2016-07-08 16:32] Ch3LL commented on #34532
@AkhterAli when I attempt to use your sls file I am running into this error:

[code]

Glancing at the code it looks like what maybe that needs to be is `insufficient_data_actions`. Is that the argument you are attempting to use?

[2016-07-08 16:34] racooper commented on #33804
SP4 packages did work.

[2016-07-08 16:34] #33804 closed

[2016-07-08 16:37] stjack99 opened #34554 "num_cpus grain missing with Salt 2016.3.1 on FreeBSD 10.x"
Salt 2016.3.1 on FreeBSD 10.x is missing the num_cpus grain. It still shows num_gpus and other grains.
...
    master:
        salt
    mem_total:
        999
    nodename:
        pc-1.somewhere.com
    num_gpus:
        0
    os:
        FreeBSD
    os_family:
        FreeBSD
    osarch:
        amd64
    osfinger:
        FreeBSD-10.2
    osmajorrelease:
        10
    osrelease:
        10.2
.

[2016-07-08 16:45] mallniya opened #34555 "Absence of version option in pkgng.install module"
### Description of Issue/Question
Hello,
as I see in:
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.pkgng.html
there is no version option in pkgng.install module. Why not?
It seems, that it's not hard thing to take version of package from separate field and append it to package name so instead of this:
[code]
we could use:
[code]
like in other pkg modules (yum or apt).
Looks li

[2016-07-08 17:02] Ch3LL commented on #34533
from reading the other issue it seems like siilar to that issue we need to do some better handling on salts side of things.

ping @s0undt3ch would you mind glancing at this? Do you see an easy fix to ensure we don't run into these unicode errors?

[2016-07-08 17:22] Ch3LL commented on #34548
@Inveracity thanks for the PR! We will get this closed once the PR has been merged :)

[2016-07-08 17:29] Ch3LL commented on #34550
hmmm I'm not seeing this behavior if i change the `user: salt`. How did you install/re-install salt?

[2016-07-08 17:39] Ch3LL commented on #34551
@mbom2004 what version of python-logstash do you have installed?

I'm not seeing this issue with python-logstash (0.4.6)

Also I determined this by running `python -c "import logstash; logstash.LogstashHandler('localhost', 8080, version=1)"` and I did not see the `no attribute` error.

[2016-07-08 17:45] Ch3LL commented on #34554
@stjack99 I believe this is related to #34382  There is a patch posted there and I'll work on getting a PR together sometime today. If you try that does it work for you? Although I need to actually move the patch below the try/else block which will be the case in the PR.

[2016-07-08 17:46] Ch3LL commented on #34382
@jhujhiti great thanks! i'll work on a PR today :+1:

[2016-07-08 18:20] Ch3LL commented on #34555
@mallniya it looks like there is a version argument shown [here](https://github.com/saltstack/salt/blob/v2016.3.1/salt/modules/pkgng.py#L790) if you are installing the package from a repository. Is it not working when tryin gto use the version argument?

[2016-07-08 18:40] pirxthepilot commented on #20546
I'm not sure if `test: True` in the salt master config file works. After I added this line to `/etc/salt/master.d/defaults.conf` and restarted salt-master, `state.apply` and `state.highstate` still run as if test=False.

[2016-07-08 18:45] rvora opened #34558 "cmd.run results in zombie / defunct process"
### Description of Issue/Question
I have  a simple state that calls an external shell script. Which runs and exits but that process is now shown as defunct with salt-minion as the parent process.

Question is why did salt-minion fail to "reap" the child process which is already dead.

The script being called starts a number of processes which all now owned by PID 1.

### Setup

[code]

### Steps t

[2016-07-08 19:08] Ch3LL commented on #34547
@sebw what versions of pvmomi and httplib are you using?

Also to be clear this only occurs when using a custom script correct?

[2016-07-08 19:18] gehzumteufel opened #34559 "When bootstrapping the describe-instances is hitting wrong endpoint"
### Description of Issue/Question
I am new to the salt-cloud things. In running the first VM deploy, everything generally works (boostrap is still broken in stable but fixed in develop) but nearing what appears to be the end, salt is calling the wrong endpoint relative to where the instance was deployed, and as a result, it gets an instance does not exist error. The instance is in us-west-2 but it

[2016-07-08 19:29] whiteinge commented on #34433
Whoops, I overlooked that. Good catch, Mike. Modifying the loaded grains object is definitely bad juju. This is better done using the `| first()` filter in Jinja, or by looping over each value.

That said, that error message is very perplexing. The result of that Jinja operation should be a string (the return value of `pop()`). The `pop()` operation should only be executed one time and at that tim

[2016-07-08 19:35] #34559 closed

[2016-07-08 19:54] edlane opened #34561 "salt-run(ner) returns need a returner endpoint"
This requirement comes from @thatch45:
RaaS (and potentially other Salt users) requires a way to capture the returns from a salt runner.
Currently when a `salt-run` command is issued from the CLI, RaaS is not updated through the `returner` API as is the case with all other salt commands.

It is expected that RaaS will be capable of auditing the CLI activities on all the raas controlled masters inc

[2016-07-08 20:23] whiteinge commented on #32859
@soodr I apologize I missed your reply above somehow. I saw your bump on the PR above just now.

Try `print_job` instead of `lookup_jid`. It will return a bit more information about the job:

[code]

I'm interested in whether the target/function/arguments all look correct for the failed jobs.

The reason I ask is that I suspect this is not related to salt-api since salt-api is completely out of th

[2016-07-08 20:30] whiteinge opened #34562 "The templated file on `file.managed` is evaluated twice"
### Description of Issue/Question

(More specific follow-up to #34433.) The templated file when using `file.managed` is run through the Jinja engine twice.
### Steps to Reproduce Issue

[code]

[code]

Run the state: `salt '<mid>' state.sls tmpltest`

Then check the result:

[code]

There should only be one `foo` in the resulting file.
### Versions Report

Tested on 2016.3 and develop (9d998ce).

[2016-07-08 20:30] pirxthepilot commented on #28807
I'm also experiencing the same issue, in CentOS 7 and 2016.3.1. I have a couple of states like this:

[code]

I have 3 environments: base, dev and prod. The states are in dev and prod; base is empty. When I run state.highstate or state.apply on a server that is in dev or prod, salt tries to get the rpm file from base. (I know this because copying the rpm to base makes the error disappear.)

Error

[2016-07-08 20:48] terminalmage commented on #34428
I sent @UtahDave a patch earlier this week to test, but he's been too swamped to do so this week. We should be able to get this tested and a PR in next week.

[2016-07-08 20:48] markuskramerIgitt commented on #34495
Happily merged and resolved :-)

[2016-07-08 20:48] #34495 closed

[2016-07-08 22:28] soodr commented on #32859
@whiteinge

example output for a job with a minion log warning of "The minion failed to return the job":
[code]

   * Using ZMQ versions v4.1.2 on master/minion as noted in the versions-report above.
   * I am using the default values in the for the job cache:
[code]
* The master is an AWS ec2 instance, running in a VPC in a private sub net.
* We are not using syndic or multimaster.

[2016-07-08 23:35] Ch3LL commented on #34413
hmmm nope i'm still seing 5 seconds

[code]

running this command:
`while /bin/true; do time /usr/bin/salt --timeout=10 '*m*' test.ping -lwarning; sleep 1;done`

oh I just realized I have been testing with 2016.3.1 not 2016.3.0. What if you upgrade to `.1` you still see the same behavior?

[2016-07-09 03:00] terminalmage commented on #34397
#34531 has been merged, closing.

[2016-07-09 03:00] #34397 closed

[2016-07-09 04:53] tjyang opened #34567 "RandomPool_DeprecationWarning on centos 6.7 or 6.8 with Salt: 2016.3.1"
### Description of Issue/Question

[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue

[code]

### Versions Report

[code]

[2016-07-09 14:18] aty010 commented on #4106
Here is my salt master setup.

[code]

[2016-07-09 14:23] tjyang commented on #4106
I use following script to trigger the issue

[code]
here is my saltmaster info.

[code]

[2016-07-09 16:31] carlpett commented on #27020
Took quite some time again between work and refactoring to get `_utils` to work, but I've pushed the changes now. What's the process of getting it into "mainline salt"? Just create a PR?

[2016-07-09 20:49] lorengordon commented on #34540
From a semantics perspective, `expr_form` is just noise. Seems unlikely to me that most will be able to guess at its meaning when reading a state file, so it will only make sense once the user is already a salt expert. `match` is much more clear and easier to remember.

[2016-07-09 20:57] lorengordon commented on #34470
Those operations all look to be working exactly as I would expect. Is this about precedence? The command line options take precedence over the config file options. You can specify whatever you want in the config file, then override it via a command line option. Isn't that _exactly_ doing what the programmer specified? If you want all the file_roots locations on the command line, try specifying the

[2016-07-09 21:18] tjyang commented on #4106
Targeting same set of minions using different master.

- stress test on salt02 (centos 7.2) using following script.
[code]

-  with  /etc/sysctl.d/saltstack.conf setting like following

[code]

- Here is the flooding message after 10 runs of test.ping
[code]
- salt-master --versions-report
[code]

[2016-07-09 23:06] ekollof commented on #34414
I'll recreate the master. I have everything backed up anyways. I'll report back.

[2016-07-10 00:55] rmohta commented on #34473
@meggiebot  Thank You.

[2016-07-10 00:55] #34473 closed

[2016-07-10 04:56] hemebond commented on #30454
What is the reason for not adding the python/unicode constructor to the SaltYamlSafeLoader class?

[2016-07-10 07:58] somenick commented on #34101
We're also using a marker file pattern, although not in the same way as the reporter of the #32801 that resulted in the PR above.

[2016-07-10 08:35] hemebond commented on #27292
What is needed here? A PR for the documentation? I can't get most of the examples on https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.mine.html to actually work.

[2016-07-10 18:44] non7top opened #34574 "salt.modules.grains options are inconsistent"
### Description of Issue/Question

The options to manage grains are inconsistent, some are missing

salt example.com grains.get role - works
salt example.com grains.set role rolename - does not work
salt example.com grains.append role rolename - does not work
salt example.com grains.del role rolename - does not work

salt example.com grains.getval role - does not work
salt example.com grains.setva

[2016-07-10 20:38] TheBigBear commented on #31889
@jfindlay @terminalmage  @twangboy what I don't understand is why ```'salt server pkg.list_upgrades'```works and properly reports pkgs that can be upgraded and their versions, but ```'salt server pkg.upgrade'```  does not do anything, as this issue states.

But I assume this issue is saying that a warning needs adding to the output on the master when trying to do a full system upgrade on a windows

[2016-07-10 20:42] TheBigBear commented on #32846
@twangboy really? I understand the point @daemon-atkins is making and actually I fell into the same trap. I also read the docs and believed it was working just as the docu says. But in this case, it is surely more important to actually get ```'pkg.upgrade'``` work  under windows, especially seeing that ```'pkg.list_upgrades'``` already works, instead of adding a warning about this not being implem

[2016-07-10 20:55] seanjnkns opened #34575 "zeromq 4.1.4-5.el7 from EPEL causes issues with python-zmq-14.7.0-1.el7.x86_64 from saltstack repo"
### Description of Issue/Question
### Setup

CentOS 7 + EPEL repo
Saltstack repo enabled and salt\* related packages installed
### Steps to Reproduce Issue

Try installing the latest zeromq from EPEL, that came out earlier today and you'll get errors like so:

[code]
### Versions Report

[code]

I get the same results with 2016.3.1 as it uses the same python-zmq.

Could you update/rebuilt python-z

[2016-07-11 01:08] timwsuqld commented on #34575
Same issue
[code]

[2016-07-11 01:09] czhong111 commented on #34413
Tnanks for testing.
 I upgrade to 2016.3.1-1. and when I use  regular expression like
 `while /bin/true; do  time /usr/bin/salt   --timeout=10 "*n*" test.ping ; sleep 1;done
`
it did come 5 seconds,
[code]

real	0m6.221s
user	0m1.116s
sys	0m0.153s

However, when I use
`while /bin/true; do  time /usr/bin/salt   --timeout=10 "minion*" test.ping ; sleep 1;done``

I see the 20+ seconds again...
[code]

[2016-07-11 01:18] hartloosli commented on #16687
Bumping this, as it would really clean up a tedious top.sls in our code.

[2016-07-11 06:48] phil123456 commented on #34243
any update on this ?

[2016-07-11 07:57] openstackAnalyst opened #34577 "rcctl(8) is only available on OpenBSD."
### Description of Issue/Question

I am unable to load the module /salt/modules/openbsdrcctl.py in my salt custom module where i need to get the flags for re.compile function.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

This below function says that this is available only for OpenBSD, i am running my code on Ubuntu 14.04, how can i fix this er

[2016-07-11 09:17] SolarisYan opened #34578 "returner redis KeyError: 'keep_jobs'"
Hello, i want to use redis as returner,but i have this error:

[code]

my conf  as follow:

[code]

[code]

[2016-07-11 10:02] eliasp opened #34579 "`git.latest` state with `mirror=true` doesn't report changes for `onchanges` requisites"
### Description of Issue/Question

Depending on changes propagated by `git.latest` when using `bare=true` doesn't work, as it just returns no changes through the `changes` dict.
### Setup

Use the SLS below and point it to any existing user/SSH identity:

[code]
### Steps to Reproduce Issue
- Push an update to the test repository.
- Run `salt-call state.apply git-test`.

**Resulting/relevant debug

[2016-07-11 11:43] babilen commented on #31074
This would be a great feature to have in salt and a big argument in favour of Ansible (cf. http://docs.ansible.com/ansible/become.html) for users that require it.

[2016-07-11 11:52] zerthimon commented on #33458
+1

[2016-07-11 12:01] jackivanov opened #34580 "keystone.endpoint_present gave an error: AttributeError: adminurl"
### Description of Issue/Question

Hello, guys!
I'm trying to add endpoints to keystone and got an error
Some debug below
### Setup

SLS:

[code]

pillar:

[code]
### Steps to Reproduce Issue

You should have working Keystone instance on your server, then just run this SLS.
### Versions Report

[code]

[code]

Can anyone tell me, what is that? And How can I enable more informative debug?

[2016-07-11 12:11] gunph1ld commented on #34580
and `endpoint_get` also does not work

[code]

[2016-07-11 12:13] enver opened #34581 "Mine.send does not work for alias functions"
### Description of Issue/Question

Mine.send does not work for alias functions. It always returns false.
### Setup

[code]

After restarting minion (deploy) I can get values from mine with:
`# salt deploy mine.get deploy grains.items`
`# salt deploy mine.get deploy alias.test`

yet executing mine.send function always fails on alias function:

[code]

[code]
### Steps to Reproduce Issue

Add 2 mine

[2016-07-11 12:29] eliasp commented on #34579
@terminalmage You're probably the right one to look into this…
…this basically requires a few changes to `git.latest` as it would mean `rev` would be used for monitoring changes in a specific `rev` of the bare repo, but it wouldn't checkout this `rev` in a working tree.

[2016-07-11 12:31] eliasp commented on #34579
@terminalmage …outlined those suggested changes through a few changes to the doc:
[code]

[2016-07-11 12:38] vutny commented on #32144
Yeah, I like your points. But still I'm not sure that Salt Minion really **does not** obtain fresh pillar during startup... Need to dive in the code.

[2016-07-11 12:40] eliasp commented on #34579
@terminalmage the following workaround **WORKSFORME** locally, but I doubt that's a proper solution… (e.g. missing support for `test=True` and most likely a few more edge cases):

[code]

[2016-07-11 13:26] AkhterAli commented on #34532
@Ch3LL
Try specifying 'insufficient_data_actions' rather than 'insufficient_actions' it seems that the docs are updated.  Regardless, removing that parameter alltogether and running the module again doesn't remove anything under 'insufficient data' in cludwatch.

[2016-07-11 14:20] akcrisp commented on #34506
High as I've not had a response for more info re what's relevant  - please see the trace output from running the salt-master. This is unto the point its fully loaded.

[code]

[2016-07-11 14:24] akcrisp commented on #34506
should add that the external_auth is all contained in the auth.conf, which you see it read

[2016-07-11 14:46] do3meli opened #34583 "sysctl.present for kern.ipc.somaxconn shows to be changed if test=true"
### Description of Issue
I am using the `sysctl.present` state to set  `kern.ipc.somaxconn` to a value of 10240 on FreeBSD 10.3 Servers. If I run the state with **test=false** it runs without any problems:
[code]
If I run it with **test=true**:
[code]

I am facing this issue only with this particular sysctl key. I am setting some other 20 sysctl values where test=true responds correct.

### Setup

[2016-07-11 14:48] do3meli commented on #34583
i actually forgot to mention that i see this behaviour on several different FreeBSD servers where all of them have the sysctl value for kern.ipc.somaxconn already set to 10240. i verified this by looking into /etc/sysctl.conf.

[2016-07-11 15:51] Ch3LL commented on #34558
@rvora i'm not seeing this same behavior while using this script. My script never goes into a defunct process:

[code]

If you use a simple script like above do you still see the behavior?

And if not can you share a reproducable script that causes this behavior?

[2016-07-11 16:03] jacobhammons commented on #34249
I've added a note to clarify this, closing.

[2016-07-11 16:03] #34249 closed

[2016-07-11 16:12] mallniya commented on #34555
You right, I'm sorry. it was our internal problem, which I can found with `salt-call -l trace` -- trace shows exact arguments, which used with `pkg` and this hint is enough to understand what is wrong.
The reason I consider version is not taking in account is that version is not included in opts, but rather in kwargs.
Thank you, case closed.

[2016-07-11 16:12] #34555 closed

[2016-07-11 16:34] jfindlay commented on #27355
Closing according to @babilen and @nixuser's suggestions.  If anyone can still reproduce this, we will reopen the issue.

[2016-07-11 16:34] #27355 closed

[2016-07-11 16:45] Ch3LL commented on #34574
@non7top in 2015.8 and 2016.3 branch grains.{set,append} are working as far as I can see.

So I think thats one step forward. But I think its a great idea to make sure there is more consistency between these names so I will approve for a feature request thanks!

[2016-07-11 16:48] Ch3LL commented on #34575
ping @dmurphy18 would you mind looking at this? Is this something we could implement. Thanks

[2016-07-11 17:24] gtmanfred commented on #34224
This should now be fixed by removing that block in the 2016.3 branch, the sorting of ips was added into a higher up portion of the code just before that block was added.  It should be available in 2016.3.2, and this issue will be closed when the fix is merged into the develop branch.

[2016-07-11 17:28] benhosmer opened #34587 "postgres_initdb.present fails on Redhat with PostgreSQL provided installation"
### Description of Issue/Question

### Setup
The following state:

[code]

Fails with:

[code]

When using the the PostgreSQL provided repositories on RHEL 7 because initdb is located in `/usr/pgsql-<postgres-version>/bin/initdb`. This is not in root's path:

`/sbin:/bin:/usr/sbin:/usr/bin`

### Steps to Reproduce Issue
1. Use a RedHat 7 machine
2. Install the official PostgreSQL rpm: `# yum -y in

[2016-07-11 18:16] rafaltrojniak commented on #34363
@Ch3LL any chance to re-open ?

[2016-07-11 18:38] sebw commented on #34547
@Ch3LL yes it happens with any script actually, not only custom.

pyvmomi (6.0.0.2016.6)

Regarding httplib, this is what I find:

# rpm -qf /usr/lib64/python2.7/httplib.py
python-libs-2.7.5-34.el7.x86_64

This is the latest version of the package available on RHEL7:

# rpm -qi python-libs
Name        : python-libs
Version     : 2.7.5
Release     : 34.el7
Architecture: x86_64
Install Date: Mon 30

[2016-07-11 18:40] #34567 closed

[2016-07-11 18:58] kevops commented on #33709
Same issue after upgrading from 2015.5.3 to 2016.3.1.

c:\salt>salt-call state.highstate
Traceback (most recent call last):
  File "c:\salt\bin\Scripts\salt-call", line 11, in <module>
    salt_call()
  File "c:\salt\bin\lib\site-packages\salt\scripts.py", line 221, in salt_call
    import salt.cli.call
  File "c:\salt\bin\lib\site-packages\salt\cli\call.py", line 6, in <module>
    from salt.util

[2016-07-11 19:01] tjyang commented on #9187
@renoirb,Can this issue be closed ? I tried out removekeys=True without issue.

[2016-07-11 19:04] Ch3LL commented on #34577
@openstackAnalyst it looks like that module can only be run on openbsd. Can you clarify exactly what you are attempting to do? Looks like that `_get_flags` method is just trying to get the `service.flags` configuration from either _opts_,pillar, or default values. If this is really what you are attempting to do you could just call `__salt__['config.optoin']` in your module.

also i'm a little conf

[2016-07-11 19:06] dmurphy18 commented on #34575
@seanjnkns @Ch3LL @timwsuqld I shall take a look into this

[2016-07-11 19:08] Ch3LL commented on #34578
@SolarisYan do you have the python client for redis installed? `pip install python-redis` i believe the name is

[2016-07-11 19:14] Ch3LL commented on #34579
ping @terminalmage any suggestions for the patch?

[2016-07-11 19:20] thatch45 commented on #9187
I also added the ability in Thorium to auto clean keys from disconnected minions:
https://docs.saltstack.com/en/develop/topics/thorium/index.html#writing-thorium-formulas

[2016-07-11 19:20] #9187 closed

[2016-07-11 19:26] adrianhj commented on #31074
I did not get a chance to properly investigate at the time, but I noticed that salt-ssh calls salt-call directly and as such bypasses the SudoExecutor used by minions.

I do not have access to the code changes right now as they are on locked-down systems (and it was some time ago), however the logic for my workaround for the PoC that was being implemented in case it is of help was as follows:

- A

[2016-07-11 19:55] Ch3LL commented on #34580
Looks like we need to ensure `adminurl` is actually returned in `keystone.endpoints.list`

Would you mind adding a debug log line here:

[code]

in the `salt.modules.keystone` endpoint_list method, so we can see what endpoint.list is returning

[2016-07-11 20:26] Ch3LL commented on #34581
@enver looks like i'm able to replicate this issue back to 2015.5 branch. Looks like we need to get this fixed up. Thanks

[2016-07-11 20:29] openstackAnalyst commented on #34577
I am extremely sorry, i was looking at a wrong place. the actual function is available in file.py under /usr/lib/python2.7/dist-packages/salt/modules directory. I was trying to create a custom module which is already available in salt modules function. I am using file.replace instead of creating a new one.

Many thanks for following up with the issue, i am closing it now.

[2016-07-11 20:29] #34577 closed

[2016-07-11 20:31] tjyang commented on #9187
@thatch45 , thanks for the Thorium info on this subject.

[2016-07-11 20:34] Ch3LL commented on #34575
awesome thanks

[2016-07-11 20:47] renoirb commented on #9187
I confirm! That's great! Thanks

(I've forgotten that this issue was still out there)

[2016-07-11 21:01] Ch3LL commented on #34583
@do3meli since you are getting that error according to the code you do not have `kern.ipc.somaxconn` in either current or configured [here](https://github.com/saltstack/salt/blob/develop/salt/states/sysctl.py#L60)

Do you see it when you run  `salt-call --local sysctl.show` and `salt-call --local sysctl.show config_file=/etc/sysctl.conf`

also what is the output of `salt-call --local sysctl.defaul

[2016-07-11 21:10] mpaolini commented on #33649
ping @rallytime this also affects 2015.8.10, do I need to open a new issue? can it be backported?

[2016-07-11 21:23] Ch3LL commented on #34587
@benhosmer I would consider this expected behavior/upstream issue postgres is not adding that command to PATH. You could workaround this with salt by running a state before running the postgres_initdb state that adds that to PATH. But we don't want to add this to the module because it would become a little difficult to manage all the different OSs. Does that workaournd work for you?

[2016-07-11 21:32] rallytime commented on #33649
@mpaolini Oh, nah. I grabbed the backport in #34593.

[2016-07-11 21:35] mpaolini commented on #33649
@rallytime Thanks!

[2016-07-11 21:38] Slimmons commented on #4834
Was this feature, or any way to run something like notepad in the UI for a windows minion implemented?

[2016-07-11 22:37] basepi commented on #21252
Looks great. Thanks for adding this.

[2016-07-11 22:39] basepi commented on #23576
Unfortunately I haven't been able to get back to this. It's still on my assigned list, but since I no longer work for SaltStack I've had less time to work on issues like this one.

[2016-07-11 23:03] benhosmer commented on #34587
I'd already implemented a workaround actually by just symlinking it. I do see your point though about maintainability. I wonder though if this happens in Debian or Opensuse with the official PostgreSQL repos too. I only posted RedHat because that was what I was using at the time.

With this being the upstream official repo though, I wonder if this problem might crop up again and again.

Can we kee

[2016-07-11 23:12] adilr00t commented on #34065
I confirm, having the same issue on ubuntu 14.04

But on debian 8 is working without any problem.

I have two minions, one Debian8 and one Ubntu 14.04, the same sls is working fine on Debian but it failed on Ubuntu

[2016-07-12 02:52] SolarisYan commented on #34578
@Ch3LL i have install redis use pip install redis, and now i uninstall the redis use pip uninstall redis,then use pip install python-redis,and the error as follow:
2016-07-12 10:48:19,685 [salt.minion      ][ERROR   ][11196] The return failed for job 20160712104819401140 'redis.returner'
2016-07-12 10:48:19,685 [salt.minion      ][ERROR   ][11196] Traceback (most recent call last):
  File "/usr/li

[2016-07-12 03:32] seanjnkns opened #34595 "salt 2015.8.10 incompatible with pip v8.1.2"
### Description of Issue/Question
After OpenStack Mitaka (CentOS 7.x distro) released python-pip 8.1.2-1.el7, pip.installed no longer works and throws errors.  Assumed this was fixed in #33163, but appears to not be the case.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
[code]
### Steps to Reproduce Issue
(Include debug logs if possible and rele

[2016-07-12 04:05] terminalmage commented on #2707
Working on this right now. I've expanded the `os.stat()` output to the other fileserver backends, and intend to work on the fileclient and file.managed/file.recurse state modifications over the next few days. With luck I'll have a pull request opened this week.

[2016-07-12 04:45] whiteinge commented on #32859
Hi @soodr. Thank you for the thorough reply. The following is feedback from the Salt 'Core' team.

The core problem is that for some reason your Master is slow to respond when Minions go to deliver the function result.

The reason for that slowness could be a large variety of things -- network, system stats, bad library versions, or even other things. I don't see anything obvious in the configurat

[2016-07-12 06:25] do3meli commented on #34583
@Ch3LL I looked at the mentioned code as well and it seems like it must be the case that its currently not set AND not configured yet. so given this i checked another FreeBSD 10.3 System on which I haven’t run the above state yet:

[code]
also the sysctl utility tells me that the config is not only configured but also active:
[code]
so the situation on this new server is clear:
* the sysctl value

[2016-07-12 06:40] ypid opened #34597 "Core Infrastructure Initiative (CII) Best Practices"
### Proposal

Someone closely involved with the project could add the project there, go thought the criteria and keep them up-to-date.
### References
- https://bestpractices.coreinfrastructure.org
- https://twit.tv/shows/floss-weekly/episodes/389

[2016-07-12 07:43] DanyC97 commented on #27020
@carlpett  yes

[2016-07-12 08:12] Kurisutian opened #34598 "[request] please make salt-ssh sudo flags/options configurable"
As it is required for me to run salt through salt-ssh I have some servers which I need to connect personalized first and once connected I have to escalate privileges to another local user by running 'sudo -iu <localtooluser>'.
Salt seems to just be running 'sudo' without the possibility to add flags and options to it.
Would it be possible to maybe add an option to the roster file to tell salt-ssh

[2016-07-12 08:13] ekollof commented on #34414
I completely recreated the salt master and recreated the keys. Still same behaviour.

[2016-07-12 10:48] do3meli commented on #32773
@ihrwein could you already have a look at it in the meanwhile?

[2016-07-12 11:29] davidpsv17 opened #34600 "Error trying a salt-ssh test.ping"
Hi,

I already installed salt in a Debian jessie, and I'm trying to do a "salt-ssh" 'wordpressServer' test.ping, but the next error appears:

`Traceback (most recent call last):
          File "/var/tmp/.root_9cdddb_salt/salt-call", line 15, in <module>
            salt_call()
          File "/var/tmp/.root_9cdddb_salt/py2/salt/scripts.py", line 339, in salt_call
            import salt.cli.call

[2016-07-12 11:49] AlexanderThaller commented on #31849
I have the same issue with using our custom modules in pillar files:

[code]

[code]

[code]

[code]

[2016-07-12 12:39] AkhterAli commented on #34532
@Ch3LL Also I would like to mention.  Providing an empty list "insufficient_data_actions: []" does work, however when looking at the source, it looks like parameter insufficient_data_actions is supposed to be "None" to begin with.

[2016-07-12 12:43] thor opened #34602 "stateconf renderer giving incorrect absolute path from relative include in sls"
### stateconf renderer fails to give correct absolute sls-name for relative include

Trying to keep the title as short and concise as I can, I stumbled onto this during some local experimentation with stateconf to avoid some conflicts and what-not.
### Setup

`top.sls:`

[code]

`test/init.sls:`

[code]

`test/config.sls:`

[code]
### Steps to Reproduce Issue

Do that, and run `salt-call state.sho

[2016-07-12 12:46] davidpsv17 commented on #34600
I tried with a Debian8 target and works fine..

[2016-07-12 13:20] #34600 closed

[2016-07-12 13:55] gtmanfred commented on #34587
We should document this either way, just to mention that the initdb binary needs to be in the path.

[2016-07-12 14:32] kevops opened #34603 "AttributeError: 'module' object has no attribute 'BASE_THORIUM_ROOTS_DIR'"
### Description of Issue/Question
Upgraded from 2015.5.3 to 2016.3.1 from  https://repo.saltstack.com/apt/ubuntu/14.04/amd64/latest/

### Steps to Reproduce Issue
Trying to run state.highstate from 2016.3.1 minion:

[code]

### Versions Report
[code]

[2016-07-12 14:40] cachedout commented on #34603
You have stale `.pyc` files in your Salt installation. Clear those out and try again, please.

[2016-07-12 15:00] srkunze commented on #21252
@renner Wow. Thanks a lot. :) However, we concluded that we would need a persistent tunnel rather than a singular one. But still, I think it is very useful for others.

[2016-07-12 15:05] srkunze commented on #31079
Maybe related to https://github.com/saltstack/salt/issues/34509

[2016-07-12 15:05] #31079 closed

[2016-07-12 15:08] srkunze commented on #15109
@basepi Closing as we have no need for it right now. Fewer issues helps you focus on the important ones.

[2016-07-12 15:08] #15109 closed

[2016-07-12 15:12] srkunze commented on #27898
Still an issue with 2016.3.1:

[code]

[2016-07-12 15:13] srkunze commented on #27862
I think we can close this.

[2016-07-12 15:13] #27862 closed

[2016-07-12 15:14] #21251 closed

[2016-07-12 15:15] srkunze commented on #26936
Not an issue anymore with 2016.3.1.

[2016-07-12 15:15] #26936 closed

[2016-07-12 15:16] srkunze commented on #26954
Solved. :)

[2016-07-12 15:16] #26954 closed

[2016-07-12 15:17] #21252 closed

[2016-07-12 15:23] kevops commented on #34603
Can I *easily downgrade to 2015.8.5?

[2016-07-12 15:24] #15908 closed

[2016-07-12 15:25] #27003 closed

[2016-07-12 15:25] #27973 closed

[2016-07-12 15:26] #27858 closed

[2016-07-12 15:28] srkunze commented on #28333
@bechtoldt This is more about "return 0 no matter what".

[2016-07-12 15:28] #28300 closed

[2016-07-12 15:31] #28411 closed

[2016-07-12 15:35] srkunze commented on #27400
Still there with 2016.3.1.

[2016-07-12 15:38] #27942 closed

[2016-07-12 15:45] srkunze commented on #27751
@jfindlay @jacobhammons I think it would help to explain what `**kwargs` mean on https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.state.html

`**kwargs` appears in almost all functions but without any explanation (or a link to the relevant pages) so far.

Shall I open another issue and close this one?

[2016-07-12 15:46] #24666 closed

[2016-07-12 16:23] dmurphy18 commented on #33458
@notpeter @zerthimon For the foreseeable future, the plan is too use reprepro. However I shall keep your enhancement request to use aptly instead as a background research item.  I need to look into the aspects of keeping older versions of packages available in a repository for a specific version, even if they are available from older paths.  As you are probably aware, changing repository layouts i

[2016-07-12 16:42] srkunze commented on #27751
@jfindlay You're welcome. I understand that it's necessary to distinguish the essence from the noise, so I do what I can to keep my list of issues clean.

[2016-07-12 16:44] srkunze opened #34609 "Better documentation for the kwargs of the state execution module function parameters"
I think it would help to explain what **kwargs mean on https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.state.html

**kwargs appears in almost all functions but without any explanation (or a link to the relevant pages) so far of their meaning.

(follow up on #27751)

[2016-07-12 16:49] yamamushi opened #34610 "userdata_file option in cloud profile throws errors on powershell scripts for windows instances"
### Description of Issue/Question

I am trying to create windows instances in AWS using Salt-Cloud.

In order to do this, we need to upload a powershell script opening up various ports on the newly created instances, as described by this documentation: https://docs.saltstack.com/en/develop/topics/cloud/windows.html

Before today's upgrade over to the develop branch, we were able to create instance

[2016-07-12 17:15] sjmh opened #34612 "Thoughts about creating the salt-minion package as a self-contained python env?"
Not really an 'issue', but more of a discussion.  I tried a quick search thru the issues but didn't see a previous discussion, if there is, feel free to point me at it!

Has there been any thought to creating the salt-minion deployment as a self-contained package with it's own python environment, to avoid issues with host python libraries and such?  This is the way that the chef-client RPM has gon

[2016-07-12 17:48] cachedout commented on #34612
I'm not in favor of replacing our packages with this approach for the
reasons you've already mentioned but augmenting them with packages that do
this would be a win, I think.

As a reminder, the Salt packaging system is open-sourced and can be found
here: https://github.com/saltstack/salt-pack

If anybody would like to take a swing at this using salt-pack, it would
certainly be welcomed. :]

-mp

[2016-07-12 18:29] techhat commented on #9540
@JasonSwindle, do you still need this?

[2016-07-12 18:38] techhat opened #34613 "libcloud_dns module requiring non-existent libcloud function"
### Description of Issue/Question
When running my master in the foreground (`salt-master -l debug`) I noticed the following error:
[code]
I didn't see this until I upgraded libcloud to version 1.1.0. I found this in the code:
[code]
So it's probably happening to a lot of people, but they're not noticing because they're not running the master in the foreground.

Ping @tonybaloney.

### Versions Rep

[2016-07-12 20:14] cro commented on #34506
Greetings @akcrisp,

I suspect that for some reason auth.conf isn't being loaded, because whenever anything goes wrong with eauth you should have messages in the log at the debug level and above.  Do you get a different response if you temporarily move your ldap eauth configuration into /etc/salt/master ?

[2016-07-12 20:21] akcrisp commented on #34506
No it's exactly the same - tried it

Andy

[2016-07-12 20:23] rallytime commented on #34506
@akcrisp Do you get a sane result when trying a test.ping without going through the ldap user?

[2016-07-12 20:29] cro commented on #34506
Any change if you set `auth.ldap.auth_by_group_membership_only: False`?

[2016-07-12 20:32] akcrisp commented on #34506
Yeah that all works fine. And I have since tried pam rather than LDAP and that's not working even with it in the master config file either.

Sent from my iPhone

[2016-07-12 20:34] akcrisp commented on #34506
I will double check that but pretty certain I only added that later to see if it made any difference. It is as though it's ignoring entirely the external_auth

Sent from my iPhone

[2016-07-12 20:42] rallytime commented on #34609
Thanks @srkunze for filing this follow-up issue (and for cleaning out all of your older ones earlier today). It would be good to explain what that means for the functions that use `**kwargs`. I am thinking this is likely easiest to have a general explanation somewhere in Salt's documentation that the functions in the state module can point to.

[2016-07-12 20:42] rallytime commented on #34609
FYI @jacobhammons

[2016-07-12 21:21] rallytime commented on #34610
Hi @yamamushi - I can reproduce this on the develop branch. This regression was caused by the change in #32698. We'll need to get this fixed up.

ping @techhat

[2016-07-12 21:26] willjp opened #34622 "group.present: with - addusers: [ a, b, c ] fails with KeyError: 'group.adduser' on FreeBSD 10.2"
### Description of Issue/Question
KeyError Exception occurs when adding users to an existing group using
group.present with addusers.

### Setup
[code]

fails with the traceback:
[code]

when run using salt-call
[code]

### Versions Report
[code]

[2016-07-12 21:48] rallytime commented on #34610
This is also likely related to #33194

[2016-07-12 22:01] techhat commented on #34610
@yamamushi, #34623 should fix this.

[2016-07-12 22:08] yamamushi commented on #34610
@techhat Thank you, I will not have the opportunity to test this until I go into the office tomorrow morning at ~10-11am CDT, however I will update this ticket to confirm if it has been resolved from my tests.

[2016-07-12 22:14] terminalmage commented on #21413
I can't think of the solution off the top of my head but I am working on some fileserver stuff this week and will try to figure something out.

I just want to make sure we're on the same page first, though. Are you saying that ``fail2ban/init.sls`` doesn't show up in the output from ``salt-run fileserver.file_list``? If so, I might have an idea of why. For the default fileserver backend we use ``o

[2016-07-12 22:23] rallytime commented on #34597
Thanks for the suggestion. We'll take a look.

[2016-07-12 22:27] rallytime commented on #34603
You should be able to pin to the 2015.8 release branch here: http://repo.saltstack.com/2015.8.html#ubuntu

[2016-07-12 23:02] eliasp commented on #21413
@terminalmage That's correct and the reason for this happening is, that `fail2ban` is listed, as a symlink (which is technically a file), but it doesn't result in being added as a state as this would require:
- the symlink to be resolved
- the absolute target of the symlink (in the worst case, it might be a symlink to another symlink) needs to be checked whether it's a `foo.sls` or `foo/init.sls`

[2016-07-12 23:06] benhosmer commented on #34587
I'll get a PR in for the docs to add something to that effect then in case others come across this. I'll keep this open until I add it.

[2016-07-13 00:20] soodr commented on #32859
@whiteinge
Thanks for your response.
I did proceed with bumping up the default values of two parameters (by a factor of 3) right after my last post.
Things have been looking up since. Haven't yet encountered a revisit for the last 3 days.
Will keep you posted.

[2016-07-13 02:41] terminalmage commented on #21413
OK, then I believe I have a handle on this. Essentially, in gitfs when a symlink points to a file we follow the symlink and return the file to which it points, but when the symlink points to a directory we do not follow it. This used to not be done for any of the backends, it was added at one point for the default (``roots``) backend via an option called ``fileserver_followsymlinks`` but never exp

[2016-07-13 03:04] tonybaloney commented on #34613
I'll tackle this.

[2016-07-13 03:09] lewayotte opened #34627 "Public IP not detected. If private IP is meant for bootstrap you must specify "ssh_interface: private_ips" in your profile."
I'm trying to launch EC2 instances with salt-cloud, I want the SaltStack to be managed using the private IP addresses, but I also need the instances to have public Elastic IP addresses. This seems to work fine, except that I get this error message:

[code]

I do have `ssh_interface: private_ips` specified in the profile and the provider.

cloud.profiles.d/domain.conf:
[code]
cloud.providers.d/aws.

[2016-07-13 03:11] techhat commented on #34613
Thanks @tonybaloney, you're the man.

[2016-07-13 04:22] tonybaloney commented on #34613
Created a PR @techhat , it was an easy one to fix.

[2016-07-13 05:19] alssi commented on #29592
For the record, this is still not working (tested with 2016.3.1).

This is very dependent on fqdn and alias name.
[code]

Will give:

```10.10.10.123            foo.local.domain foo```

But

[code]

Will give:

```10.10.10.111            alias fqdn.domain.com```

It will be great if this can be fixed in future release.

[2016-07-13 05:38] rbjorklin commented on #34169
Looks like #33647 was my issue. Distributing pillars to the master is done by appending `_master` to the minion name of the minion running on the master (if you have one). Closing this issue.

[2016-07-13 05:38] #34169 closed

[2016-07-13 05:41] rbjorklin commented on #29028
This randomly resurfaced and is once again blocking deployment... This is nasty.

[2016-07-13 06:30] phil123456 commented on #34479
can I have an update on this
do you need more infos ?
I really cannot push any windows package wich renders salt copletely useles on windows 7 minions

[2016-07-13 07:04] snabel-kabiya commented on #34558
Hi,

Here are more details about the scripts, could any of the following steps cause salt not to recognize process is finished?

Description about the installation script.
•	Checking and installing dependency.
•	Allocating memory.
•	Loading kernel modules.
•	Removing the eth0 interface and giving it to application.
•	Installation of the application packages.
•	Creating the Virtual Interface for ap

[2016-07-13 07:40] aleksmm commented on #34510
yes, obviously the fix will work. I was trying to find the ticket to avoid creating duplicate. Sorry.

[2016-07-13 07:40] #34510 closed

[2016-07-13 07:59] ekollof commented on #34414
On a lark, I rolled out a Fedora droplet from my FreeBSD salt-master. This worked. Which makes me suspect something is going wrong during the salt-bootstrap.

Any luck recreating my problem, @Ch3LL? You mention that creating FreeBSD droplets from a Linux-based master does work. I could just switch to that, but that would kinda defeat the point :P

[2016-07-13 08:12] sivann opened #34629 "Centos 7 repo is broken, clashes with EPEL's more recent zeromq version"
### Description of Issue/Question
[code]

The only way to install salt is installing the 2015.10 version from EPEL, by disabling salt's repo:
[code]

It's better to release salt on EPEL more frequently than trying to maintain a separate repo. In the current state the systems cannot update without manual intervention.

[2016-07-13 09:04] bdrung opened #34630 "Spelling errors"
lintian found several spelling errors in the man page:
[code]

[2016-07-13 09:13] ekollof commented on #34414
I created a Ubuntu Xenial-based salt-master and tried to provision an FreeBSD-based droplet. Same behaviour as on the FreeBSD salt-master. Looks like provisioning FreeBSD on DigitalOcean through salt-cloud seems broken in general.

[2016-07-13 10:17] JensRantil commented on #10237
Nice solution! Best so far! This solution works as long as `s3://bucket/example.com.pkcs12` never is updated without patching the Salt state. The nice thing with a `keytool` state is that it would be able to conditionally check if the certificate is previously added or not.

@rterbush File a separate issue for it ;)

[2016-07-13 12:25] markuskramerIgitt commented on #27807
I very much support this feature request.

Currently, when module abc contains a syntax error, the salt-master says `Module 'abc' is not available.`
Therefore, a syntax error is undistiguishable from a missing module.

[2016-07-13 12:34] markuskramerIgitt opened #34633 "When execution module abc contains a syntax error, the salt-master says Module 'abc' is not available"
### Description of Issue
Just another title for issue https://github.com/saltstack/salt/issues/27807

[2016-07-13 13:43] akcrisp commented on #34506
So I've put the external_auth back into the master file and I've set auth.ldap.auth_by_group_membership_only: False and its still exactly the same

[2016-07-13 14:16] JasonSwindle commented on #9540
At this point, no. I've well moved on from this version of salt.

[2016-07-13 14:16] #9540 closed

[2016-07-13 15:14] rallytime commented on #33194
@ffjia Does the fix in #34623 help resolve this for you?

[2016-07-13 15:14] andygrunwald commented on #34554
I can confirm this. Would be lovely to get it back, because we need this numcpu setting to configure the correct Setting for a PHP L1 cache (xcache).

[2016-07-13 15:15] rallytime commented on #34587
That sounds great @benhosmer! I'll adjust the labels here to indicate that something should be fixed in the docs.

[2016-07-13 15:24] techhat commented on #34613
Much appreciated @tonybaloney.

[2016-07-13 15:41] rallytime commented on #34554
@stjack99 and @andygrunwald I just merged the fix from @Ch3LL - can you guys give that a try and confirm the fix?

[2016-07-13 15:41] rallytime commented on #34382
@amontalban and @jhujhiti Can you guys give the fix from @Ch3LL a try and let us know if this issue is resolved for you?

[2016-07-13 15:47] #34613 closed

[2016-07-13 15:51] mbrgm commented on #34497
I can confirm the bug for salt-master 2016.3.1 in combination with salt-minion 2016.3.1.

[2016-07-13 15:55] pcdummy opened #34635 "Ubuntu Xenial, state network.managed and files in /etc/network/interfaces.d/*"
network.managed produces my eth0 interface with the wrong proto **dhcp**, but i gave
**static** explicitly.
### Setup

I have the following ([generated](https://rene.jochums.at/having-fun-with-saltstack-and-ext_pillar-mongo)) state:

[code]

Cloud-init file in **/etc/network/interfaces.d/50-cloud-init.cfg**:

[code]

No include in **/etc/network/interfaces**
### Steps to Reproduce Issue

When i ru

[2016-07-13 16:07] colinjkevans opened #34638 "Unicode decode error when giving deprecation warning in sqlite3 ext_pillar"
### Description of Issue/Question

Unicode decide error when trying to give deprecation warning in sqlite3 ext_pillar

The sqlite3 pillar looks for `__opts__['sqlite3']['database']` and issues a deprecation warning if it instead finds `__opts__['pillar.sqlite3.database']`

Stack trace:

[code]
### Setup

Add the following line to master config:
pillar.sqlite3.database: /path/to/my/sqlite.db (The d

[2016-07-13 16:13] santiwst opened #34639 "No error message when no permission for logging under /var/log/salt"
when trying to setup develop environment, start `master` as below after clone the repo and setup the virtualenv:

[code]

there are output as below:

[code]

and the exit code is ``0`` .

In fact, there are several other errors before this.

[code]

so, I figure out that the problem must be ``non-root`` user, and create the required folders, then change
ownership. As a result, all those permission

[2016-07-13 16:16] nevins-b opened #34640 "utils.shlex_split removing quotes which are required for augeas"
When using aegus.change it appears that the utils.shlex_split function is stripping quotes from the command which make augeas fail.

### Setup
[code]

### Steps to Reproduce Issue
With some additional logging added the issue is apparent that the double quotes have been stripped from the path.
```{'path': '/files/etc/fstab/*[file=/tmp]/opt[last()]', 'before': False, 'label': 'opt'}```

[2016-07-13 16:36] rallytime commented on #34627
Ah, thanks for letting us know @lewayotte. I can reproduce this problem as well. I think we just need to gate that error message a little bit better.

[2016-07-13 16:47] rallytime commented on #34627
@lewayotte I have fixed this in #34641.

[2016-07-13 16:50] rallytime commented on #34630
This list is great! Thanks for letting us know, @bdrung. We'll need to get those spelling errors fixed in the documentation, and then regenerate the man pages.

ping @jacobhammons

[2016-07-13 16:57] lewayotte commented on #34627
@rallytime I applied to fix to my server and it seems to have fixed it. Thanks!

[2016-07-13 17:09] rallytime commented on #34633
@markuskramerIgitt Thanks for filing this. However, since this is basically the same issue as the one explained in #27807, as you stated, I am going to close this as a duplicate. That way we can track the issue in one place.

[2016-07-13 17:09] #34633 closed

[2016-07-13 17:31] hop commented on #33841
Can I give any further info to help with this? At the moment I'm using a cron job to restart the minions once a day and that tastes like defeat…

[2016-07-13 17:32] yamamushi commented on #34610
@techhat Is there a way to confirm that the script is actually being run on the windows instances when they're being created?

If I spin them up now, it doesn't look like the powershell is being run because no ports are being opened up to allow for remote access as listed in the script.

[2016-07-13 17:36] techhat commented on #34610
@twangboy, you know powershell better than me, do you have an answer?

[2016-07-13 17:58] yamamushi commented on #34610
For reference, here is what a successful instance creation looks like with the aforementioned powershell script:```

# nmap 172.31.14.89

Starting Nmap 6.40 ( http://nmap.org ) at 2016-07-13 13:57 EDT
Nmap scan report for 172.31.14.89
Host is up (0.0019s latency).
Not shown: 993 filtered ports
PORT      STATE SERVICE
135/tcp   open  msrpc
139/tcp   open  netbios-ssn
445/tcp   open  microsoft-ds
33

[2016-07-13 17:59] tlc commented on #18419
I was hoping to use salt-cloud and salt-ssh on a cloud project, but this is a deal breaker.
There is no need to have root perms on a machine to manage other machines.

If someone tells me it's a straightforward fix and gives me a strong hint of where
to look, I _might_ try to create a pull request.  But for now, I'm going to evaluate Ansible.  :(

[2016-07-13 19:00] jwhite530 opened #34645 "Unable to match node groups in SLS file"
### Description of Issue/Question

I'm attempting to limit states in an SLS file to to only apply to a certain nodegroup by following [this](https://docs.saltstack.com/en/latest/topics/targeting/nodegroups.html#using-nodegroups-in-sls-files) documentation.  However, this doesn't work.
### Setup

I have nodegroups defined:

[code]

... and they work, here's me testing that minion "dn1" is part of t

[2016-07-13 19:01] markuskramerIgitt commented on #34633
Correct, thank you.

[2016-07-13 19:25] pcdummy opened #34646 "qq"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2016-07-13 19:42] rallytime commented on #34646
I think this may have been opened accidentally. Please feel free to open a new issue if you meant to submit a bug report or question with more information. :)

[2016-07-13 19:42] #34646 closed

[2016-07-13 19:45] rallytime commented on #34629
Thanks @sivann - This looks to me like a duplicate of #34575. I'm going to close this in favor of the older issue so we can track this in one place.

[2016-07-13 19:45] #34629 closed

[2016-07-13 19:46] rallytime commented on #34575
I am changing the labels here as I think this is rather a bug than a feature, especially based on the additional report filed by #34629 (which I closed as a duplicate).

[2016-07-13 19:55] bortels opened #34648 "Error that % cannot start token"
### Description of Issue/Question

Using syntax from https://docs.saltstack.com/en/latest/ref/states/all/salt.states.ssh_auth.html triggers an error when you try to apply it. I have no idea if this is a bug in the code or the docs. :-)

### Setup
[code]

### Versions Report
[code]

[2016-07-13 20:34] bezilla opened #34649 "The directory /var/cache/salt/master does not recover fully if removed"
### Description of Issue/Question
### Setup

If for whatever reason the directory /var/cache/salt/master is removed, everything within this directory is not recovered during a service restart.  A more specific case is the directory /var/cache/salt/master/tokens directory isn't re-created, and will create problems with users trying to authenticate against the API if-enabled.  The tokens directory m

[2016-07-13 20:35] rallytime commented on #34622
Hi @willjp! Hrm...It seems the group module isn't loading correctly. Can you post the output of a `salt-call grains.get kernel` command?

It also looks like part of your versions report didn't get included. I don't see the part about what version of Salt you're running, which will be helpful in tracking this bug down. Can you run the `salt-call --versions` command again and paste the output?

[2016-07-13 20:49] rallytime commented on #26207
This is fixed by #26237

[2016-07-13 20:49] #26207 closed

[2016-07-13 21:34] fedusia commented on #4134
i think it's feature Value True/False should be interpreted as boolen. Values 'True' or 'False' should be string. I guess saltstack team should close this ticket.

[2016-07-13 21:45] UtahDave commented on #34369
I think some of this may already be done. I think there may be a runner function that clears the minion cache

[2016-07-13 22:06] rallytime commented on #34638
@colinjkevans Does the unicode error go away if you change the master config to use the `sqlite3.database` syntax instead of the `pillar.sqlite3.database` syntax? I think that is what you're implying, but I wasn't able to reproduce your issue by setting the old syntax. This indicates to me that something deeper is going on with something in your pillar files that needs to be addressed instead.

[2016-07-13 22:30] thatch45 commented on #4134
yes, revolvers for this got added a long time ago, this should have been closed years ago :)

[2016-07-13 22:30] #4134 closed

[2016-07-13 22:56] rallytime commented on #34645
@jwhite530 After looking into your issue, it appears to me that the docs are incorrect. The first part of the if statement in the sls file is looking for `grains.id` in the pillar call. However, in a jinja file, the `salt['pillar.get']('master:nodegroups:my-nodegroup')` call only returns the stdout of the command, not the entire dictionary that contains the minion key.

For example, I have the fol

[2016-07-13 23:08] ayeja opened #34653 "salt 2016.3.1 too slow"
I recently updated salt  2015.8.0 to 2016.3.1. The execution time of formulas has increased greatly.  For example, a formula that takes eight seconds now takes 22. I have observed that CPU performance of minions has increased its load when I execute any state. I am concerned with this behavior.

Master info:

Salt Version:
           Salt: 2016.3.1

Dependency Versions:
           cffi: Not Instal

[2016-07-13 23:32] zzzuzik commented on #6896
:+1:

[2016-07-14 01:50] ffjia commented on #33194
@rallytime With #34623, we can pass userdata as string, but still has error like this:
[code]

My problems is how should I pass the `NAME' in `salt-cloud -p PROFILE NAME' to userdata as jinja template? Which variable should I use?

[2016-07-14 03:04] pwhack opened #34656 "salt-cloud error when underscore in minion name; vmware driver"
I'm getting a stacktrace with "invalidProperty = u'spec.identity.hostName'" when trying to deploy a VM to VMware using salt-cloud if the minion name has an underscore in the name. Using hyphens works fine. Are underscores verboten by Salt or VMware API?
#### -------------------------------------------------------------

[code]
#### -------------------------------------------------------------

[co

[2016-07-14 04:42] sjmh opened #34657 "Grain and pillar reverse mapping"
We've found that when we start getting up into large job runs ( 5-10kish minions ) on our installation ( ~24k minions ), that we run into issues when those jobs use metadata type targeting ( grains or pillar ).

The current pillar cache system only really works for state files, and in fact, doesn't even affect targeting.  I'm not sure that the grain cache is any speedier or that it works for targe

[2016-07-14 05:50] eidng8 opened #34658 "MacOS El Capitan user.present cause execution error"
I'm just testing on a Mac minion, with a simple user.present state test. The user already exists, and the minion throws:

[code]

Master:

[code]

Minion:

[code]

SLS:

[code]

[2016-07-14 05:53] eidng8 commented on #34658
Just done a bit more tests. I have created two new users with `user.present`, and the creation went well, the users are created. But after that, every time I run it, the same error is thrown for every created users.

[2016-07-14 06:42] Inveracity opened #34659 "salt.wheel.key NameError: global name '__opts__' is not defined 2016.3.1"
### Description of Issue/Question

Using the salt.wheel.key functions results in stacktrace `__opts__ is not defined`, maybe I'm doing it wrong?

### Steps to reproduce:
my code:
[code]

stacktrace:
[code]

### How I got it working

in `salt/wheel/key.py` I changed `list_all()` to take `__opts__` as a parameter
[code]

and changed my code to:
[code]

which results in the expected output (indented

[2016-07-14 07:01] ShaolongTan opened #34660 "saltutil.sync_modules can't sync myself module to minions if I use consul python package in the module"
### Description of Issue/Question
I write a myself module with python. Because I need to use python consul package, I import consul in my python code. I used saltutil.sync_modules to sync the extended module. It shown saltutil sync the module, but actually I can't use the module function.
If remove the "import consul" code, the saltutil.sync_modules works.

### Setup
(Please provide relevant confi

[2016-07-14 07:20] chrimi opened #34661 "Cron State documentation lacks information of "New in" for special parameter in cron.present"
### Description
The documentation located at https://docs.saltstack.com/en/latest/ref/states/all/salt.states.cron.html lacks the information, that the **special** parameter for **cron.present** is only available as of Release 2016.3.

### Setup
cron-chkrootkit-reboot:
  cron.present:
    - name: /usr/sbin/chkrootkit> /tmp/chkrootkit.log
    - user: root
    - special: '@reboot'
    - identifier: c

[2016-07-14 09:54] zbikmarc commented on #33114
I confirm this issue. We have about 50 hosts, all are visible as up (manage.up) however only few of them are visible in manage.alived exact same list in manage.present.
All of them have IP in same subnet as master.
Every minion with version 2015.8.8 are visible. Only 4-5 minions with 2016.3.1 are visible. What is more interesting all 2016.3.1 minins are reporting exact same versions of packages, t

[2016-07-14 10:44] bdabelow commented on #23454
Any update on this? I have just now run into this with 2016.3.1
pydsl seems to be broken for salt-ssh. Any input I can provide?

[code]

[2016-07-14 11:38] jfindlay commented on #23454
@bdabelow, thanks for the info.  What systems are you running salt-ssh from and to, and do you have a minimum repeatable test case?

[2016-07-14 11:42] sebw opened #34662 "salt-cloud vmware list_hosts_by_datacenter doesn't take folders into account"
In the following vCenter hierarchy function `list_hosts_by_datacenter` fails to return the hosts in the datacenter:
- Datacenter
  - Folder
    - Cluster

[code]

If I move the cluster right under its datacenter, function works:
- Datacenter
  - Cluster

[code]

Folders are visibly not taken into account.

[2016-07-14 12:13] bdabelow commented on #23454
This is on:
Oracle Linux 6.7
Linux 3.8.13-118.3.2.el6uek.x86_64
Python 2.6.6
Salt 2016.3.1

salt-ssh is used to the localhost in this testcase, but happens for remote machines as well.

debug/23454_01.sls:
[code]
[code]

[2016-07-14 12:31] sevenval-admins commented on #34575
We are affected by this too. Currently we work around the problem by excluding Zeromq packages from EPEL.

[2016-07-14 13:52] #34640 closed

[2016-07-14 13:57] #34627 closed

[2016-07-14 13:58] #24592 closed

[2016-07-14 14:07] ScoreUnder commented on #34236
This specific one is one I've been seeing a lot recently.

The culprit is this: https://github.com/saltstack/salt/blob/d3df37e57a495c5e0daa2378bc5a3de7d0a23934/salt/modules/ini_manage.py#L76

[code]

`get_ini_file` does this:

[code]

`_Ini` inherits from `_Section` which inherits from `OrderedDict`, and `OrderedDict`'s `__bool__` returns true if and only if the dict *is not empty*.

In other word

[2016-07-14 14:11] dzwicker commented on #8723
ping

[2016-07-14 14:26] techhat commented on #34656
I think it may be forbidden by the VMWare API: https://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externalId=2039365

[2016-07-14 14:46] andras-tim opened #34665 "Can not use file.line on Windows"
### Description of Issue/Question
Can not use `file.line` on Windows, because it is not passed through in `win_file.py`

### Steps to Reproduce Issue
1. use `file.line` in a state file what will be evaluated on a Windows host
2. run a `state.apply`

### Versions Report
[code]

[2016-07-14 14:53] Inveracity commented on #34660
Hey, on the master, have you run the following command:

[code]
This ensures the module is transferred to the minion

[2016-07-14 14:54] andras-tim opened #34667 "INI uses proper line endings"
### Description of Issue/Question
The `ini` uses hard-coded `\n` as line ending. This was so wired.

### Setup
call any function from `ini`

### Steps to Reproduce Issue
trivial

### Versions Report
[code]

[2016-07-14 14:55] rallytime commented on #33194
@ffjia The profile name is name of the salt-cloud profile you want to use as the template to provision a new VM with. A simple example would look something like this, in a salt-cloud profile file:
[code]
And then the salt cloud command would me `salt-cloud -p my-ec2-profile my-new-vm`.

In case you haven't seen them yet, there are some nice salt cloud docs explaining this, which all start here: ht

[2016-07-14 15:10] aphor opened #34669 "sad error detection/logging/handling in salt.cloud when driver does not implement fun"
salt.cloud emits ambiguous errors when salt.states.cloud.\* needs a function that has not been implemented in the cloud driver. The salt/cloud/**init**.py has a lot of if blocks all over the place checking for driver implementation of any particular function. Each has different error messages, few explaining what actually went wrong.

[code]

This makes the impression that the cloud provider is no

[2016-07-14 15:15] aphor commented on #34669
I propose refactoring out `if fun not in self.clouds` but I haven't decided what I want to try first. I think probably a `def driver_impl_check(driver, fun):` and a new exception, but I will meditate on this before I spin up a PR.

[2016-07-14 15:36] Inveracity commented on #34660
I noticed you've got a 2016.3.0 Master and a 2016.8.0 minion, I believe you're hitting one of the backwards incompatible changes as it's written [here](https://docs.saltstack.com/en/latest/topics/releases/2016.3.0.html#backwards-incompatible-changes)

:disappointed:

[2016-07-14 15:44] Inveracity commented on #34548
woohoo, I'll go ahead and close it :mailbox_closed:

[2016-07-14 15:44] #34548 closed

[2016-07-14 15:48] TheBigBear commented on #33620
@Ch3LL did my instructions not help? can you really still not replicate this?

[2016-07-14 15:49] bdrung commented on #34630
These spelling errors are in the documentation, but they might also be in the code. So I suggest to search for them with ```git grep -i``` and fix it everywhere.

[2016-07-14 15:53] jwhite530 commented on #34645
It looks like that solutions causes it to always match and be True, as long as it is a valid node group regardless of whether the minion is in the group.  I now have this:

[code]
... which does indeed touch /tmp/foo as desired.  However, switching it to another node group which this minion is not a member of also matches and runs /tmp/foo when it should have fallen into the {% else %} block and t

[2016-07-14 16:10] techhat commented on #33194
@rallytime, I think he's asking for the name of the variable. In this case it would be `name`. @ffjia you have access to everything in the `opts` dictionary, with updates/overrides supplied from the `vm_` dictionary.

[2016-07-14 16:21] hdimitriou commented on #31849
Is there any good workaround apart for "salt['cmd.shell'](...." invoking 'salt' on a minion created on the orchestrator node just for this cause??

Trying to evaluate orchestration part of Salt and currently it feels hard without being able to grab variables and perform actions that will help set up the actual orchestration.

Is there any pointers on where we could help if we wanted to see the cod

[2016-07-14 16:34] RobotLimeLtd opened #34672 "pkgrepo.managed limited support for Yum repositories"
### Description of Issue/Question
pkgrepo.managed has limited support for yum repo options, such as metadata_expire, autorefresh.

The full list of possible parameters are here:  https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/System_Administrators_Guide/sec-Configuring_Yum_and_Yum_Repositories.html

This means I cannot create/manage yum repositories into which I regu

[2016-07-14 16:35] jakehilton opened #34673 "pip.installed fails when state is called from another state"
### Description of Issue/Question

I have a state setup to install a package via pip. This state is called from another state. When this happens I always get the following error:

[code]

If I run the state standalone... I get this:

[code]

My base state calls my syrinx state like so:

[code]
### Setup

My syrinx init.sls looks like this:

[code]
### Steps to Reproduce Issue

Have a base state in

[2016-07-14 16:38] TheBigBear commented on #33620
@damon-atkins

Can you explain how you work around this? If I do a ```cmd.run salt-call --local pkg.list_upgrades``` using your arguments from the master, or literally as-above from a windows minion ```salt-call --local pkg.list_upgrades``` I simply get an empty result in both cases?

[2016-07-14 16:38] gravyboat commented on #802
I'm just going to bump this again. People keep running into this issue of not being able to syntax check without doing a run, which doesn't provide great errors. There really needs to be a built in utility within salt to at least confirm the yaml/jinja is legit (even if it does not check against the pillar, though that would be nice). This has been a 'want' for both new and existing users for over

[2016-07-14 17:03] #34672 closed

[2016-07-14 17:03] RobotLimeLtd commented on #34672
Ah, hadn't realised any further arguments can simply be supplied, even though they're not documented.

[2016-07-14 17:12] TheBigBear commented on #34497
@mbrgm the 'bug' as documented and tracked  here is not a bug but  a 'feature'  if one mixes master and minion of different versions.

Can you document or backup your claim that using the identical version on master and windows minion you still get that ```IndexError: pop from empty list``` as you try to install a pkg?

[2016-07-14 17:16] SHU17 opened #34674 "Rendering exception occurred"
I upgraded salt master & minion to version -- salt 2016.3.1 (Boron).  Post upgrade I get following exception (It was working fine before the upgrade):

[code]

Here is Pillar sls:

[code]

[2016-07-14 17:47] santiwst commented on #34639
Maybe this problem seems non-important, but I find there are three problems in the code when processing this error:

1. ``SaltSystemExit`` not caught by the ``try...except`` clause

[code]

SaltSystemExit is not subclass of OSError

2. SaltSystemExit raised with code=0, which i think is incorrect.

[code]

3. ``get_error_message(error)`` does not print the error message,
which is used by ``environ

[2016-07-14 17:50] bengaywins opened #34675 "salt-cloud should delete static network interfaces when terminating instances"
### Description of Issue/Question

When deploying an instance via salt-cloud in AWS and it fails (for whatever reason) and you have specified an IP for them, when it destroys the failed deploy instances, it does not destroy the created interfaces. Which then results in the following error:

`{'Error': {'Message': 'The specified address is already in use.', 'Code': 'InvalidIPAddress.InUse'}}`
### S

[2016-07-14 18:03] colinjkevans commented on #34638
I changed:
[code]
to
[code]
then restarted salt-master it works. Switch back to the former syntax and it gives the unicode error again.

[2016-07-14 18:25] #34667 closed

[2016-07-14 18:42] martinhoefling opened #34678 "config.get module is broken due to bug in dictupdate.py"
### Description of Issue
The line in question is https://github.com/saltstack/salt/blob/develop/salt/utils/dictupdate.py#L61

When using `merge=recurse`, e.g.

    salt-call config.get lxc.container_profile:debian-default merge=recurse

the pillar is not merged due to a problem with the above line. The `__pillar__` is not an ordinary dict but a `NamespacedDictWrapper` and thus the `update` does no

[2016-07-14 19:04] rallytime commented on #34645
@jwhite530 Ah, you're right. I am looking at the example more closely, and since I was focusing on the return of the `pillar.get` command, I missed how the nodegroup definition plays a part here.

If you look closely at the nodegroup definition in the example, the minion name (which matches `grains.id`) is _in_ the nodegroup definition, which makes the state work as expected.

So the example in th

[2016-07-14 19:06] rallytime commented on #34645
One thing you can do is to use a runner in the state, but note that this will only work on a local minion that is running on the master:
[code]

[2016-07-14 19:51] wblair commented on #34267
FWIW:  I have similar behavior on Centos 7 not enabling an elasticsearch service when run through highstate.  When we provision Amazon stack, the master starts first.  Each minion independently runs salt-call to apply its highstate.

The state below will start the service but systemd reports it as disable (and it is really is because it does not start on reboot).

start-service:
  service.running:

[2016-07-14 21:33] #33452 closed

[2016-07-14 23:42] #34665 closed

[2016-07-14 23:42] rallytime commented on #34665
Thanks for the fix @andras-tim!

[2016-07-15 02:21] uvsmtid commented on #23119
Just a follow up. I tried to reproduce this issue with `py` renderer (not `pydsl`) to see if there are similar issues. No - `py` returns results of `state.show_sls` for both `salt` and `salt-call`.

So, the issue still perists on Salt `2015.5.10` (Fedora 24 x86_64).

[2016-07-15 02:38] uvsmtid commented on #16443
I believe this more a bug then a feature.

Of course, the interpretation differs. In a lage scale system with 10s and more nodes it is normal when minions go offline and ignoring missing replies could be a better default. However, there are more smaller scale systems thant larger scale ones. Moreover, there can be special subsets of minions which must always be present even in the large setups.

S

[2016-07-15 02:57] ShaolongTan commented on #34660
Thanks for you quick response. My minion is 2015.8.0 and not 2016.8.0. :)
But why I can sync modules if I just remove "import consul"? If the reason is backwards incompatible, it always should not work. is it right? thanks.

[2016-07-15 05:09] JarenGlover commented on #26702
+1 `2015.8.7`

[2016-07-15 05:24] Inveracity commented on #34660
I apologise, I meant 2015.8.0 of course!
The reason I suggested it might have been the backwards incompatibility is because I tested it with a 2016.3.1 minion and master, and it worked fine when importing consul.
I realise now that I hadn't been paying proper attention, when you show that the execution module works fine without importing consul.

Try running the minion in debug mode and view what

[2016-07-15 06:34] Talkless commented on #34236
Yes, of course, so that `ini.options_present` could generate (based on Pillars, for example) *new* .ini while deploying some app.

[2016-07-15 07:35] uvsmtid commented on #34674
So, maybe check if you grains contain `osmajorrelease` key:

[code]

Check documentation (read release notes) if this key is still available in `2016.3.1`. If it does not available, update your pillars files.

Also, try to keep issue title more specific (like adding "due to missing `osmajorrelease` key in grains").

[2016-07-15 07:45] zhaogaolong commented on #33524
I encountered the same problem, but restart salt-master Useless,
my salt version  salt 2015.5.10 (Lithium)

description:
     salt runing python2.6 is ok,
    but running2.7.10 It will be reported the same mistake

error info:

[root@xxxx ~]# python
Python 2.7.10 (default, Apr 16 2016, 22:27:29)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-16)] on linux2
Type "help", "copyright", "credits" or "license" for

[2016-07-15 07:55] hnagri opened #34687 "salt-master salt-cloud not acting idempotent"
[http://stackoverflow.com/questions/38390216/salt-master-salt-cloud-not-acting-idempotent](http://stackoverflow.com/questions/38390216/salt-master-salt-cloud-not-acting-idempotent)
I am trying to test salt-cloud saltify to deploy/install salt-minions on target machines.

I created three vagrant machines and names them master, minion-01and minion-02.

all the machines were same like this;

[code]

[2016-07-15 08:55] gravitypaint commented on #25842
Hi, I believe I am seeing the same issue. I have a salt user, with sudo access to root with no password required, but when I try to run the highstate I get the following.

[code]
I also have the following error at the start of my minion log file.
````[salt.state       ][ERROR   ][1735] No contents found in top file````

I can, however, run the highstate from the minion using salt-call. Other state

[2016-07-15 10:08] sebw commented on #34547
I have a custom grain module polling our CMDB to retrieve information using httplib.
I think this might be the issue, I'm going to investigate and report back.

[2016-07-15 12:12] EvaSDK commented on #29239
Hello there, I am currently running 2015.8.3 and 2016.3.1 from saltstack debian repository and seeing the same issue (tested with salt '*' saltutil.refresh_pillar):
[code]

[2016-07-15 12:18] gruaig commented on #10272
+1

[2016-07-15 12:22] EvaSDK commented on #29239
Ok, after cleaning up cache likeso:
[code]
Pillar is now returning good data but master's log now show a worrying error message: `2016-07-15 14:18:35,696 [salt.template    ][ERROR   ][2584] Template does not exist: ` (yes, no name for that template). Hopefully this isn't related.

[2016-07-15 13:58] dmacvicar opened #34691 "beacons.list does not include beacons configured from the pillar/ext_pillar"
### Description of Issue/Question

The module `beacons` has a list function which is supposed to show the list of beacons enabled. It does correctly display the ones enabled via the minion config but not the ones enabled via pillar configuration.

The beacons are active and work correctly though.

The module fires an event which is handled in the minion event loop, which takes `self.opts['beacons'

[2016-07-15 14:15] johnennewdeeson opened #34692 "Install failure on Ubuntu 16.04 (missing in ppa.launchpad.net)"
### Description of Issue/Question

Install failure on Ubuntu 16.04

I think that http://ppa.launchpad.net/saltstack/salt/ubuntu/dists is missing a xenial folder.

### Steps to Reproduce Issue

Following instructions here or Ubuntu 16.04 (Xenial)
https://repo.saltstack.com/#ubuntu

[code]

Save the following file to /etc/apt/sources.list.d/saltstack.list:
```deb http://repo.saltstack.com/apt/ubuntu

[2016-07-15 14:23] johnennewdeeson commented on #34692
For anyone else having this problem, it is because I first followed the instructions from here:
https://docs.saltstack.com/en/latest/topics/installation/ubuntu.html

To undo these instructions, run this command:

`sudo add-apt-repository --remove ppa:saltstack/salt`

[2016-07-15 14:23] #34692 closed

[2016-07-15 14:31] phil123456 commented on #34479
hello ?

[2016-07-15 14:49] jmcgrail commented on #34267
Wayne's issue has

[2016-07-15 14:49] rallytime commented on #34659
Hi @Inveracity - instead of using the `salt.wheel.key` module directly, which inherits it's `__opts__` dict from a running master, you can use the [WheelClient](https://docs.saltstack.com/en/latest/ref/clients/index.html#salt.wheel.WheelClient) to run commands used in the wheel key modules, such as listing keys directly in a Python interpreter:
[code]

[2016-07-15 15:01] Inveracity commented on #34659
excellent!

I managed to completely miss the wheelclient part of the docs, shame on me

thank you! :smile:

[2016-07-15 15:01] #34659 closed

[2016-07-15 15:15] damon-atkins commented on #33620
On windows itself --local stops it from fetching
12189 [INFO    ] Fetching file from saltenv 'base', ** skipped ** latest already in cache u'salt://win/repo-ng/......
The DB & files needs to exist first locally pkg.genrepo  you can test with pkg.get_repo_data

[2016-07-15 15:32] alias454 commented on #34575
Same thing here on RHEL7
[code]
`[root@el7repo bkeep]# salt-minion --versions
Salt Version:
           Salt: 2016.3.1

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: 1.5
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: 2.7.2
        libgit2: Not Installed
        libnacl: Not Installed

[2016-07-15 15:40] dsumsky commented on #27800
Isn't this relataed to https://github.com/saltstack/salt/issues/26311 ?

[2016-07-15 17:12] dmurphy18 commented on #34575
FYI -- currently working a solution for this issue

[2016-07-15 17:28] rallytime commented on #34649
Hi @bezilla - Can you tell me how you installed Salt? Or how you are restarting the salt-master? I am not able to reproduce this issue either at the HEAD of the 2015.8 branch, or on the 2015.8.7 version that you've reported:
[code]

[2016-07-15 18:09] rallytime commented on #34691
@dmacvicar That would be great if you wanted to put something together to fix this. I suspect the pillar aspect was just missed when that function was written.

[2016-07-15 18:17] joshuaprewitt commented on #33201
I second that.  We have had much better luck with TCP.

[2016-07-15 18:25] rallytime commented on #34687
@hnagri Hm - I wonder if this is a bug in the saltify driver itself, rather than all of salt-cloud. I am not able to reproduce this with other drivers like linode or ec2. The map call correctly exits with warning messages stating that the map file minions already exist:
[code]

I tested this at the HEAD of the 2015.8 branch, the HEAD of the 2016.3 branch, as well as the 2016.3.1 release. All resul

[2016-07-15 18:31] rallytime commented on #34673
@jakehilton What version of pip is installed on the box that has this failure?

[2016-07-15 18:43] fayetted commented on #34161
Is more information needed on this problem or is it being worked on?

I'm having the same issue since upgrading from 2015.5.8 (that version did not have this problem).

If I target any minion that is offline the salt command (on salt-master) hangs indefinitely.  I've tried various versions of salt-master on CentOS7 (each time removing the old version and installed using yum via repo.saltstack.com)

[2016-07-15 18:48] fayetted commented on #34161
Forgot to add that removing salt-master and salt-minion and re-installing 2015.5.8 the problem is gone.  The salt command returns with "Minion did not return. [Not connected]" after 12 seconds (when I target 5 hosts, 4 online, 1 offline)

[2016-07-15 19:04] thatch45 commented on #18419
@techhat can you or @cro take a look at this one?

[2016-07-15 19:18] techhat commented on #18419
As with other components of Salt, Salt Cloud uses `syspaths.CACHE_DIR`, which defaults to `os.path.join(ROOT_DIR, 'var', 'cache', 'salt')`. This can be seen in the `init_cachedir()` function inside `salt.utils.cloud`.

@cro, do you have any insight as to how other subsystems write to the cache directory as a non-root user?

In the meantime, creating `/var/cache/salt/cloud` and changing the user/gr

[2016-07-15 19:25] richardscollin opened #34701 "Development Documentation not in Sync with Development Branch"
### Description of Issue/Question

The salt development documentation is not in sync with the development repo.

See:

https://docs.saltstack.com/en/develop/ref/modules/all/salt.modules.system.html
[code]

https://github.com/saltstack/salt/blob/develop/salt/modules/system.py
[code]

[2016-07-15 19:36] srimandarbha commented on #29293
Is it fixed in the recent version of salt? Still facing the issue in salt 2015.8.8 beryllium

[2016-07-15 19:39] terminalmage commented on #29239
@EvaSDK Please open a new issue, and provide the information requested in the issue template to assist us in troubleshooting. Feel free to link to this issue.

[2016-07-15 19:40] jakehilton commented on #34673
[code]

[2016-07-15 19:55] terminalmage commented on #34369
@UtahDave To my knowledge that only clears grains/pillar/mine data. There is a ``saltutil.clear_cache`` function already, but it blows away all cached files in the minion cachedir.

The likely solution for this is a modification of this function that allows one to limit the function to just the fileserver cache. I might also add additional arguments to clean only files with a filename matching a p

[2016-07-15 20:03] terminalmage commented on #4134
@thatch45 Did we properly document that you must quote these values in your pillar SLS? I've confirmed that ``foo: yes`` results in the ``foo`` pillar being loaded as ``True`` while ``foo: 'yes'`` results in it being loaded as a string.

[2016-07-15 20:05] terminalmage commented on #4134
It looks like it is indeed documented [here](https://docs.saltstack.com/en/latest/topics/troubleshooting/yaml_idiosyncrasies.html#true-false-yes-no-on-off). However, I don't know why it says that it needs to be quoted twice.

[2016-07-15 20:09] Cashwini opened #34703 "Is it possible to return output from python execution module to a file on salt master?"
I am trying to return the output from all minions from remote execution of python module to a file on salt master. This can be achieved if I use _--out-file_ on command line. But, I want a way to do it thru Python module itself.

[2016-07-15 20:25] #33665 closed

[2016-07-15 20:26] #27542 closed

[2016-07-15 20:38] rallytime commented on #34669
@aphor Would it make more sense to just provide a more useful log message? You're right that the message is confusing and does make it seem like the provider, as a whole, is not available, which is not the case. However, I think if you're hitting that part of the code because a a function is called that doesn't exist, that would be good information.

[2016-07-15 20:46] rallytime commented on #34656
We should catch that error up further in the create function if a VM name contains an underscore (we do a similar check in the Linode driver), as well as document this in the VMWare driver documentation.

[2016-07-15 20:53] rallytime commented on #34662
Thanks @sebw - can you also tell us what version of salt-cloud you're using?
[code]

FYI @nmadhok

[2016-07-15 20:55] dmurphy18 commented on #27542
@babilen I have been thinking about this and wanted to get your ideas on the following scheme, using debain.saltstack.com as a guide. All of the following symbolic links start from the repo.saltstack.com/apt area:

jessie-saltstack -> http://repo.saltstack.com/apt/debian/8/amd64/latest
jessie-saltstack-2016-03 -> http://repo.saltstack.com/apt/debian/8/amd64/2016.3
jessie-saltstack-2015-08 -> http:

[2016-07-15 20:56] cmclaughlin opened #34706 "PagerDuty states don't show changes"
### Description of Issue/Question

Expected highstate to show changes.  salt/modules/pagerduty_util.py doesn't set it.
### Setup

[code]
### Steps to Reproduce Issue

Change the escalation_rules, re-apply the state.
### Versions Report

[code]

[2016-07-15 20:56] cmclaughlin commented on #34706
@bruce-lyft FYI

[2016-07-15 21:02] rallytime commented on #34661
Thanks for pointing this out @chrimi! I've fixed this in #34707.

[2016-07-15 21:11] richardscollin commented on #34701
@jfindlay

[2016-07-15 21:19] nmadhok commented on #34662
@sebw Good catch. Thanks for filing the bug!
@rallytime Will look into fixing this one soon! Thanks for pinging ;)

[2016-07-15 21:21] rallytime commented on #34662
Awesome! Thanks @nmadhok!

[2016-07-15 21:24] rallytime commented on #34658
@eidng8 Thanks for letting us know and for the really helpful bug report.

ping @twangboy

[2016-07-15 21:26] #34639 closed

[2016-07-15 21:27] rallytime commented on #34701
@richardscollin I suspect there might be an error in the develop docs, and sphinx isn't building the most recent version.

@jacobhammons Can you take a look?

[2016-07-15 21:30] jacobhammons commented on #34701
@rallytime you are right, the develop docs are behind right now due to a build error. I submitted a PR yesterday to fix this in  2015.8, so develop will build again after it is merged forward.

[2016-07-15 21:33] rallytime commented on #34706
@cmclaughlin Oh, you're right. The pagerduty_escalation_policy state isn't returning a `changes` dictionary at all. This state needs to be refactored a bit to return the proper `ret` dictionary and we should get this fixed up.

https://docs.saltstack.com/en/latest/ref/states/writing.html#return-data

[2016-07-15 21:34] danlsgiga commented on #25469
+1
This would help a lot on debugging. Running 2016.3.1 and still the client api does not include the disconnected minions on the response.

[2016-07-15 21:36] cmclaughlin commented on #34706
Thanks for checking this out... btw, this bug probably applies to the other pagerduty states as well as that util method is used in a few places.

[2016-07-15 21:37] rallytime commented on #34701
@jacobhammons Oh! Is the fix in #34616? I merged that forward a couple of days ago in #34624. Is it possible there is a different build error in develop?

[2016-07-15 21:39] rallytime commented on #34706
Ah yeah - we should also look at the other pager duty states to make sure the correct return dictionary is implemented. Thanks for pointing that out!

[2016-07-15 21:40] jacobhammons commented on #34701
@rallytime you did indeed, there must be another error. I'll take a look.

[2016-07-15 21:41] rallytime commented on #34701
Ok! Thank you!

[2016-07-15 21:42] rallytime commented on #34638
Ok thanks for confirming. I will try to reproduce this again. @Ch3LL Have you seen this before?

[2016-07-15 21:53] cachedout commented on #34657
You're exactly right. I've actually thought a lot about this and I think this has to be the way we need to go for large installations. We've reached the limit of cache traversal as it sits right now.

Part of the question in my view here is whether to do this as you suggest or go for a KV store somewhere that can handle this. Doing something like that would allow us to extend the returner system,

[2016-07-15 22:33] richardscollin opened #34712 "Salt Test Suite Error - develop"
### Description of Issue/Question
Salt test suite produces error then hangs.

### Steps to Reproduce Issue
python runtests.py --transport=tcp -n integration.modules.system

[code]

### Versions Report
[code]

[2016-07-15 22:38] cachedout commented on #34712
You need to upgrade your copy of salt-testing.

[2016-07-15 22:41] rallytime commented on #34703
@Cashwini This doesn't appear to be documented, which we need to fix, but you can set the `output_file` option in your master config to achieve this.

[2016-07-15 22:44] Cashwini commented on #34703
@rallytime I do not see this option in master config file. Do I add it?

[2016-07-15 22:45] Cashwini commented on #34703
Just tried and it worked like a charm. Thanks @rallytime

[2016-07-15 22:49] Cashwini commented on #34703
It looks like the output from all types of commands on master is being returned to this file. Is there a way to limit this ? Like maybe doing this only when a certain python module / state file is executed on the minion. It would be useful if this can be done from the module itself

[2016-07-16 00:15] sjmh commented on #34657
@cachedout - a k/v store that could do it would be awesome - was throwing around the idea of perhaps using elasticsearch and feeding the grain/pillar structures for the minions into it, and then plugging the targeting options to enable ES queries - I haven't played much with ES but it seems like these type of searches would be it's balliwack.  It seems like it'd be trivial to plug in the grains/pi

[2016-07-16 01:22] rallytime commented on #34703
@Cashwini It is not included in the master config file by default, but you can just add it: `output_file: /path/to/your/output/file`

[2016-07-16 01:29] rallytime commented on #34703
There isn't a way to limit it to certain modules or states. You can only set it to all or nothing. However, if you'd like something like that, perhaps it would be a good idea to file a new issue as a feature request. That way we can use this one to track the documentation need of `output_file` in the master config docs.

[2016-07-16 06:45] Cashwini opened #34715 "Is there an alternate to adding schedule on salt master"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2016-07-16 06:45] Cashwini opened #34716 "Is there an alternate to adding schedule on salt master"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2016-07-16 06:45] Cashwini opened #34717 "Is there an alternate to adding schedule on salt master"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2016-07-16 06:45] Cashwini opened #34718 "Is there an alternate to adding schedule on salt master"
### Description of Issue/Question

I am trying to add schedule on salt master. This can be done from config file. Is there an alternate of doing this ? Also, how can I see jobs scheduled on salt master ? (schedule.list can be used for jobs scheduled on minions. Is there anything similar for master?)

[2016-07-16 06:47] #34715 closed

[2016-07-16 06:48] #34716 closed

[2016-07-16 06:48] #34717 closed

[2016-07-16 09:41] silenius commented on #34550
In this case it was a new installation, minions were running 2015.8 and I installed a new 2016.1 master. In the end I `rm -rf /var/cache/salt` and `rm -rf /usr/local/salt/pki` ... Perhaps the problem come from the `hash_type:` which changed

[2016-07-16 17:12] d3xt3r01 opened #34719 "lingering connections on the master"
There is just ONE out of 10 minions that has this issue
After a few days, hundreds of "ESTABLISHED" connections will linger on the master, yet only one on the minion.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2016-07-16 17:23] iggy commented on #34649
This was installed from a local repo of packages that are mirrored from repo.saltstack.com

We've tried restarting via init script and running `salt-master -l debug` in the foreground.

Possibly of interest:
salt-api is enabled with cherrypy module (considering all the files/dirs that we had to manually replace were related to salt-api/cherrypy)

[2016-07-16 18:39] #33495 closed

[2016-07-16 18:48] d3xt3r01 commented on #34719
Tried setting tcp_keepalive: True on master ( I know it's true by default but thought to give it a shot ) with no luck.
The minion sees the connection with keep alive. The master does not.
I'm sure noone's messing with the packets. I applied the same settings on all the minions. It's this azure box that's giving me headaches.

[code]

[code]

[2016-07-16 18:50] rallytime commented on #34703
@Cashwini I have added docs for this option in #34721.

[2016-07-16 18:52] cachedout commented on #34657
I don't know that much about ES either so I'd be interested to hear what you find. I do agree that the engine would be an easier short-term solution.

[2016-07-16 18:55] cachedout commented on #34719
We hear all the time about this sort of problem inside Azure. It sounds like they have some networking equipment that might be causing these sorts of issues. It's hard to pin this down to an issue with Salt, given that it's only one side which thinks that the TCP connection is established.

[2016-07-16 19:01] cachedout commented on #34718
It seems as though we still need to write a runner that can handle all this work. That's on the TODO list somewhere but of course contributions are very welcome. :]

cc: @garethgreenaway

[2016-07-16 19:03] cachedout commented on #34678
@martinhoefling Very interesting. Your analysis seems right. Did you want to submit a PR for this?

[2016-07-16 19:09] cachedout commented on #34653
We really need more information to go on here. Can you point to a particular formula that's slow so that we can try to pin this down to something specific?

[2016-07-16 19:17] d3xt3r01 commented on #34719
Any workarounds of some sort ? In my case, only 1 minion is in azure.

Can the master have keepalives then ? That should close useless connections ...

[2016-07-16 19:21] rallytime commented on #34630
@bdrung I've cleaned these up in the documentation with #34722. The man pages are generated from the docs, so once we regenerate them again, the man page spelling errors will be resolved as well.

@jacobhammons Can you regenerate the man pages on the 2016.3 branch once #34722 is merged in?

[2016-07-16 19:25] cachedout commented on #34649
@iggy Can you verify that you have `verify_env` set to True (the default) in your config?

[2016-07-16 19:26] #34603 closed

[2016-07-16 19:29] #29032 closed

[2016-07-16 19:31] #34170 closed

[2016-07-16 19:36] #34485 closed

[2016-07-16 19:37] #34381 closed

[2016-07-16 19:37] #34276 closed

[2016-07-16 19:39] rallytime commented on #32980
I'm closing this since I didn't hear back. If this needs to be re-opened, please let me know. Thanks!

[2016-07-16 19:39] iggy commented on #34649
It is set to `False`

[2016-07-16 19:39] #32715 closed

[2016-07-16 19:43] #30210 closed

[2016-07-16 19:44] #27749 closed

[2016-07-16 19:49] #21662 closed

[2016-07-16 19:50] d3xt3r01 commented on #34719
something like

[code]

[2016-07-16 19:53] cachedout commented on #34719
I'm not sure why keepalives would make this problem any better. If an intermediate device is holding open the connect, wouldn't a keepalive only make this problem worse?

[2016-07-16 19:59] d3xt3r01 commented on #34719
At least the master would know to close the connection.
Also, if that would be customizable, we could lower the settings maybe under a treshhold that azure's nat tables wouldn't expire...

Still, the keepalive option should be available on the master too just for consistency.

[2016-07-16 20:55] d3xt3r01 commented on #34719
Also, I don't think an intermediate device is keeping the connection open. What I think happens is:

Minion sends the keepalive ..too late
Somewhere nat tables expired
Master doesn't get it .. but given he doesn't have keepalive on the tcp connection, he doesn't care if the minion died, rebooted or doesn't exist anymore...
Minion sees that it can't ping the master, restarts a new connection
2 conn

[2016-07-16 22:19] ayeja commented on #34653
cachedout, thanks for your response. You can try any case. For example, I have this formula:

/etc/rsyslog.d/file.conf:
  file.managed:
    - source: salt://logs/file.conf
    - user: root
    - group: root
    - mode: 644
    - template: jinja

{% if grains['osfinger'] == 'CentOS Linux-7' %}

syslogrestart:
  cmd.run:
    - name: systemctl restart rsyslog
    - user: root

{% else %}

syslogresta

[2016-07-16 22:22] #32276 closed

[2016-07-16 22:22] #34661 closed

[2016-07-16 22:29] garethgreenaway commented on #34718
I have made several attempts at creating a runner to accomplish this, the hurdle that I always run into it related to how the master handles events.  Adding things into the schedule for the running minion or master had to be done via the event system otherwise the changes never made it into the running configuration.  On the minion it was easy to grab the particular a event for schedule related st

[2016-07-17 00:10] zzzirk commented on #34648
I ran into this same issue today.  I am guessing that the error has something to do with how YAML is handled or interpreted.  I made the simple change of wrapping the %h/.ssh/authorized_keys in single quotes (`'%h/.ssh/authorized_keys'`) and it worked brilliantly.  The single quotes were the only change I made from the example both in the docs and that you've listed above.

[2016-07-17 03:24] akoumjian opened #34725 "`git.latest` with `force_reset` set to `True` does not reset local changes, causing it to fail."
### Description of Issue/Question

`git.latest` with `force_reset` set to `True` does not reset local changes, causing it to fail.

### Setup
Two states, one to clone a git repo, another that templates a config file after cloning. It will work the first time, but the second time it will fail.

[code]

### Steps to Reproduce Issue

My relevant real logs can be found here: https://gist.github.com/ak

[2016-07-17 08:54] martinhoefling commented on #34678
PR #34726 with suggested update added. Please backport to 2016.3 and 2015.8.

[2016-07-17 13:12] willjp commented on #34622
Hey rallytime! I'm so embarassed - I was running an older version of salt-minion (2015.8.8) than my salt-master(2016.3.1). After a `pkg upgrade` everything is working as expected I'm so sorry.

[2016-07-17 13:12] #34622 closed

[2016-07-17 14:37] ablinkinz commented on #27980
@rallytime I think the message in the docs about the version of the azure provider is no longer valid. in 2016.3.1 I had to install azure 1.0.2 in order to get any azure commands to work. This is the first version I have been able to use above 0.11.1.
-Stephan

[2016-07-17 15:13] mirko opened #34729 "salt-ssh doesn't return from error"
I'm experiencing the weird behaviour, that salt-ssh doesn't return from an error.
The command just "hangs" there forever. It also doesn't print any (error) messagse.

Successfully executed commands **do** return back to the shell, printing she shiny greenish summary output as expected.

I'd like to provide 3 examples - called with "salt-ssh -l all" - where 2 show the behaviour:

1) SSH host key is

[2016-07-17 21:20] githubcdr commented on #34718
For me the schedule option seems to be completely ignored when used in a master config file. It feels wrong to implement an orchestration schedule on a minion of the master server :)

[2016-07-17 22:39] aphor commented on #34669
I noticed there is some new work in salt.exceptions, notably salt.exceptions.NotImplemented. I'm thinking the cloud loader should raise salt.exceptions.NotImplemented, logging something better than 'Could not LazyLoad ec2.volume_list' like maybe 'LazyLoad: ec2 driver does not implement ec2.volume_list' if the function is just not there, to distinguish from broken implementations like syntax errors

[2016-07-18 02:58] jbnance commented on #34575
EPEL's zeromq has been updated to 4.1.4.  Since you maintain the dependencies for RHEL systems without EPEL in the Salt repo you could update the Salt repo to the 4.1.4 from EPEL and rebuild python-zmq against the new zeromq.

If python-zmq won't compile against zeromq 4.1.4 typically what is done in RPM world is a "zeromq40" package would be created that has a slightly different prefix (you can u

[2016-07-18 03:03] hrumph opened #34732 "Question about usage of namespaced_function in pkg.py"
### Would like to understand the usage of namespaced_function in pkg.py

Hi,
in pkg.py I see the following code

[code]

Some people and myself on the efnet #salt IRC channel were asking about what _namespaced_function was accomplishing in the above code segment, and I'd like to understand this (so i can make a pull request that may depend on understanding this). @UtahDave this question is especia

[2016-07-18 05:59] ShaolongTan commented on #34660
In my salt-minion env, I can't run salt-minion with debug mode because I didn't install pyzmq. Currently, I can't resolve the issue because my network meet some issues and can't connect ourselves SUSE repository. Do you have any suggestion? Thanks a lot.

Please see the error message:
[code]

[2016-07-18 06:53] ffjia commented on #33194
Thanks @rallytime and @techhat, I could use `opts['names'][0]` to get the instance `NAME`. But there's error when doing base 64 encoding.

[code]

[2016-07-18 08:52] tomlaredo opened #34734 "postgres_user.present is uselessly looping on every database user"
### Description of Issue

postgres_user.present state seems to fire a (finite) loop on each user without any reason.

For example, let's assume that we have 4 users named "alice", "bob", "mike" and "tom" declared on a postgresql database.
If we run the postgres_user.present state on user "bob", salt will do this:

[code]

As you can see, 4 SQL requests were done whereas we only requested Salt to e

[2016-07-18 09:05] bobrik opened #34735 "No response from minion when targeting by pillar"
### Description of Issue/Question

Somehow my master lost the knowledge about pillars on some minions. I have 6 minions with the following pillar:

[code]

On one day only 4 started reporting instead of 6 and **there were no indication that anything is missing**:

[code]

Once I figured that out from people complaining that some certs have different expiration dates (luckily they were all still va

[2016-07-18 09:27] phil123456 opened #34736 "please answer 34479"
can someone answer me

https://github.com/saltstack/salt/issues/34479

appreciate

[2016-07-18 09:33] magic4u commented on #34054
salt 20163.1
centos 6.7
sls:
/etc/profile:
  file.append:
    - text:
      - export HISTTIMEFORMAT="%F %T 'whoami'"
same error. works when remove the quotation marks.

[2016-07-18 10:05] Inveracity commented on #34660
That is very odd
Try putting the import into the function and wrap it in a try/except:

[code]

I wonder if that will give you an indication of what goes wrong

[2016-07-18 10:12] bobrik commented on #34735
Salt minion version on each minion:

[code]

[2016-07-18 10:13] bobrik commented on #34735
I restarted minion on one "missing" machine and it works now. I still have the second node in bad state if you want me to investigate more.

[2016-07-18 12:33] morganwillcock commented on #34479
@phil123456 The documentation says to put it in a specific location and your logs show it's trying to use this location.
<pre>2016-07-06 11:14:37 [salt.fileclient][INFO    ] Caching directory 'win/repo-ng/' for environment 'base'</pre>
Your sls files look to be elsewhere.
<pre>/srv/salt/windows_packages/repo/salt-winrepo/duplicati_x86.sls</pre>
Also, you don't need to use winrepo.genrepo if you ar

[2016-07-18 13:05] #16986 closed

[2016-07-18 13:05] terminalmage commented on #34428
Setting as blocked until we can get this tested.

[2016-07-18 13:07] #33609 closed

[2016-07-18 14:24] PeterS242 commented on #34575
Just FYI I'm currently not sure that I can exclude zeromq from EPEL7 as in our environment we have EPEL being sync'ed as a Red Hat Satellite Channel.  All the packages for EPEL are provided by the RHN plugin inside of yum on our subscribed systems.  Although I've not exhausted my resources (as I've fixed the small handful of machines suffering from this issue) I don't think it is likely I can perf

[2016-07-18 14:29] aphor commented on #34669
Here's what I think is happening.

1. Using `salt.cloud.CloudClient` instantiates a `salt.cloud.Cloud` object, which adapts all the `salt.cloud.clouds.*` to CloudClient.
2. `salt.cloud.Cloud` objects have an attribute, clouds, which is a `salt.loader.LazyLoader` instance, wrapped to enforce cloud module path and to add `'__active_provider_name__'` to the LazyLoader context and also to check for cl

[2016-07-18 14:34] jacobhammons commented on #34701
develop docs are building again, there was a sync issue on the build server.

[2016-07-18 14:41] EvaSDK opened #34737 "`ini.options_present` touches supposedly untouched sections"
### Description of Issue/Question

I am managing a piwik instance configuration file with ini.options_present as I only want to touch a few settings in the file. In salt releases prior to 2016.3, this worked just fine but it seems that 2016.3 started collapsing key/values in sections that should be untouched by the state as described in the documentation https://docs.saltstack.com/en/latest/ref/st

[2016-07-18 14:48] rallytime commented on #34701
Thanks @jacobhammons! Those look correct now.

[2016-07-18 14:48] #34701 closed

[2016-07-18 14:48] rallytime commented on #34622
@willjp No problem! I am glad that you got it figured out and everything is working now. :)

[2016-07-18 14:54] rallytime commented on #34669
I think that sounds like a solid approach. I like it. What say you, @techhat?

[2016-07-18 15:09] thatch45 commented on #34479
@UtahDave @twangboy can you please take a look here?

[2016-07-18 15:15] ubaumann commented on #13174
Are there any news?

I try to do something linke:
`wait_for_os_update:
  salt.wait_for_event:
    - name: salt/netapi/hook/osr/stagingtask/{{ jid }}/os_update`

Is there another / better way?

[2016-07-18 15:37] rallytime commented on #34648
@bortels and @zzzirk Yeah, the `%` notation there is a directive in the YAML processor. We should update the doc example to include the single quotes around the `config` value and a `.. note::` on that page to explain that the single quotes are needed.

I think it would also be useful to add a section to the [YAML Idiosyncracies](https://docs.saltstack.com/en/latest/topics/troubleshooting/yaml_idi

[2016-07-18 15:40] shellhacks commented on #25926
Hello,

Are there any news regarding implementation of this feature?

@gczuczy, @mortis1337 have you found any acceptable workarounds?

I confirm that the auto-mapping of the branches will be much more convenient than the need to declare each branch manually in the ext_pillar section on the salt-master.

Thanks in advance for feedback.

[2016-07-18 15:44] twangboy commented on #34479
Please read the documentation at: https://docs.saltstack.com/en/latest/topics/windows/windows-package-manager.html

Assuming you haven't customized winrepo settings in the master config:
- Your master needs to be 2015.8.0 or newer
- On your master, run `salt-run winrepo.update_git_repos` to pull community definitions from git.
- Place your custom `.sls` files on your master in `/srv/salt/win/repo-

[2016-07-18 15:58] rallytime commented on #34678
@martinhoefling thanks for fixing this! I've back-ported your fix to 2015.8 in #34726, which will be merged-forward to 2016.3 in the next day or so.

[2016-07-18 15:58] #34678 closed

[2016-07-18 16:17] DmitryKuzmenko commented on #8705
@meggiebot ah yes, sorry, forgot to change the status.

[2016-07-18 16:21] jfindlay commented on #29293
@srimandarbha, thanks for reporting.  It seems to still not be fixed yet.

[2016-07-18 16:23] rallytime commented on #34153
@dcovello I think the change in #34690 should fix this up for you. Would you mind giving that a try?

[2016-07-18 16:46] bobrik opened #34743 "Failed to reload the service can be more informative"
### Description of Issue/Question

Currently you can't see why service start / reload / restart fails. All you see is:

[code]

You have to manually check what's wrong:

[code]

I think we should listen what systemd is saying and relay this info to the user:

[code]

One might argue that you can run things like nginx config check as a script, but this is pretty ugly and requires extra script runs.

[2016-07-18 17:16] #34143 closed

[2016-07-18 17:17] Ch3LL opened #34745 "issue with pkg.upgrade return output"
### Description of Issue/Question

When running `salt-call --local pkg.upgrade name=openssl` on centos it does not return `comments` and `return: True`.
### Setup
1. Centos7 minion
### Steps to Reproduce Issue
1. `salt-call --local pkg.upgrade name=openssl`

[code]

This is compared to running on ubuntu14 which does return comments and return as show below:

[code]
### Versions Report

[code]

[2016-07-18 17:20] eradman commented on #34653
This morning I upgraded from 2015.8 to 2016.3 and I did not observe a difference
in performance on CentOS 7.2

**2015.8.7**

    $ time sudo salt 'db1*' state.highstate env=$USER
    db1.mydomain.com:

    Summary for db1.mydomain.com
    -------------
    Succeeded: 10
    Failed:     0
    -------------
    Total states run:     10

    real    0m3.640s
    user    0m0.544s
    sys     0m0.068s

[2016-07-18 17:21] cachedout commented on #34653
@eradman I suspect that you are correct. That's why I wanted a specific formula to test against.

[2016-07-18 17:29] rallytime commented on #27980
@ablinkinz Thanks for letting me know. The `msazure.py` docs list the correct `1.0.2` version dep, but not the `Getting Started with Azure` docs. I have fixed this in #34746.

[2016-07-18 17:34] morganwillcock commented on #34494
If you want the PATH value without the context of the process you are retrieving it from, you can access the system PATH value in the registry and then use a shell to expand it:
<pre>{% set env_path = salt['reg.read_value']('HKEY_LOCAL_MACHINE', 'SYSTEM\CurrentControlSet\Control\Session Manager\Environment', 'Path')['vdata'] %}
{% set env_path_expanded = salt['cmd.run']('echo ' ~ env_path) %}</pre

[2016-07-18 17:35] ablinkinz commented on #27980
Awesome!

Thanks:
  - Stephan Looney
  - Sent using thumbs, results may vary

[2016-07-18 17:44] jmacfar opened #34747 "cp.get_file / cp.get_url should take a directory as destination"
Would like to be able to pass a destination directory as argument to cp.get_file / cp.get_url instead of having to specify full path in source and also dest.

Currently errors out with "is a directory" or "permission denied" depending on OS.

[code]

Windows minion gives same error, except ends with "IOError: [Errno 13] Permission denied: 'C:/_Software'
### Versions Report

All using salt 2016.3.1

[2016-07-18 17:45] rallytime commented on #34736
#34479 has some new responses, so I will close this.

[2016-07-18 17:45] #34736 closed

[2016-07-18 17:45] ayeja commented on #34653
@eradman Could you try the formula I published?

This is my salt-master configuration:

auth_mode: 1
auto_accept: true
cachedir: /var/cache/salt/master
cli_summary: false
client_acl: {}
client_acl_blacklist: {}
cluster_masters: []
cluster_mode: paranoid
conf_file: /etc/salt/master
cython_enable: false
default_include: master.d/*.conf
enable_gpu_grains: false
enforce_mine_cache: false
enumerate_pro

[2016-07-18 17:50] whiteinge opened #34749 "Add ability to change StrictHostKeyChecking at runtime in SSHClient"
Follow-up to https://github.com/saltstack/salt/issues/32980.

There is currently no way to change`StrictHostKeyChecking` at runtime in `SSHClient`. In addition the error message is CLI-centric.

[2016-07-18 17:51] whiteinge commented on #32980
@rallytime thanks for keeping up on this. This does indeed need a feature request. I filed the above-linked one just now.

cc @jfindlay

[2016-07-18 18:03] Cashwini commented on #34718
@githubcdr salt-master needs to be restarted for the schedule to be implemented. It would be really nice if there was an alternative way of scheduling jobs on master.

[2016-07-18 18:13] sjmh opened #34750 "Failed to authenticate messages are confusing and often wrong"
The 'Failed to authenticate' messages are often confusing and conceal the true errors for the failure of the commands.  Here's a few scenarios you'll get them in:

a) You entered the wrong username/password ( This should be ONLY time you get the Failed message )
b) You don't have access to one of the hosts you targeted ( I didn't fail to authenticate, I just didn't have authorization to do that..

[2016-07-18 18:16] jfindlay commented on #32980
Thanks, @rallytime, @whiteinge.  I must have missed this one.

[2016-07-18 18:17] cachedout commented on #34750
The last time I discussed this with @thatch45 (which was a _long_ time ago so my memory could be hazy), one of the reasons that this is the case was to prevent an potential attacker from determining which failure scenario they hit, which could provide some clue about the underlying authentication/authorization configuration.

That said, I tend to agree that there's a lot of room for improvement he

[2016-07-18 18:28] #34630 closed

[2016-07-18 18:28] #34703 closed

[2016-07-18 18:33] cachedout commented on #34735
Just to be clear, you did have the `pillar_cache` configuration option set to `True` on this master?

[2016-07-18 18:35] #31739 closed

[2016-07-18 18:39] cachedout opened #34753 "Investigate failing netapi get_mid test"