[2018-01-27 08:14] ajing2 commented on #44752
I also met this problem
![image](https://user-images.githubusercontent.com/18003343/35470055-f82eebce-037c-11e8-9591-afc31713c629.png)
![image](https://user-images.githubusercontent.com/18003343/35470057-0209cd08-037d-11e8-80e2-136277f1661e.png)
[root@bogon master.d]# cat api.conf
t_cherrypy:
  port: 8000
  ssl_crt: /etc/pki/tls/certs/localhost.crt
  ssl_key: /etc/pki/tls/certs/localhost.key
exter

[2018-01-27 10:21] kiemlicz commented on #44013
I _kind of_ understand your release cycle,
But issue like this should be considered for immediate backport to existing releases.
The whole `pkgrepo` state is practically unusable.
Please let me know what do you think

[2018-01-27 14:28] wsw70 opened #45728 "How to deal with a minion “already deleted from tracker”?"
### Description of Issue/Question
_Initially asked on [SO](https://stackoverflow.com/questions/48457530/how-to-deal-with-a-minion-already-deleted-from-tracker)_

When running

    salt '*' test.ping -s --out json

I get the following output (reduced to just a few typical cases, the ellipsis covers the same cases)

    Minion sent222 did not respond. No job will be sent.
    (...)
    minion sent00

[2018-01-27 15:21] steverweber commented on #35375
there is no issue here.

using {{var|json|json}} is a good solution if you want to pass json into a file.

{{var|json}} converts the var into json, the extra |json encodes the data as a string that yaml will read as a /large/ string without interpreting it as a dict

[2018-01-27 16:54] #20828 closed

[2018-01-27 17:21] infoveinx commented on #39881
This issue (extra_filerefs ignored on gitfs) still exists on salt 2017.7.2 (Nitrogen). I had managed several systems remotely from my master using salt-ssh earlier last year prior to moving the state and repos to gitfs. Now nothing works anymore. What's even more bizarre is that I swear I wasn't passing the extra_filerefs anywhere on the prior Salt release when I wasn't using gitfs, and it was wor

[2018-01-27 18:48] #27814 closed

[2018-01-27 18:48] #27819 closed

[2018-01-27 19:48] #28002 closed

[2018-01-27 19:48] #27889 closed

[2018-01-27 19:48] #27900 closed

[2018-01-27 19:48] #28071 closed

[2018-01-27 19:48] #26094 closed

[2018-01-27 19:48] #11724 closed

[2018-01-27 19:48] #28011 closed

[2018-01-27 19:48] #28093 closed

[2018-01-27 19:48] #28121 closed

[2018-01-27 19:48] #28136 closed

[2018-01-27 19:48] #28111 closed

[2018-01-27 19:48] #28133 closed

[2018-01-27 19:48] #25160 closed

[2018-01-27 19:48] #28100 closed

[2018-01-27 19:48] #27425 closed

[2018-01-27 19:48] #28172 closed

[2018-01-27 19:48] #16667 closed

[2018-01-27 19:48] #26506 closed

[2018-01-27 19:48] #20165 closed

[2018-01-27 19:48] #28145 closed

[2018-01-27 19:48] #28152 closed

[2018-01-27 19:48] #28157 closed

[2018-01-27 19:48] #28205 closed

[2018-01-27 19:48] #28200 closed

[2018-01-27 20:40] terminalmage commented on #45409
There were tests, they were just written to confirm the incorrect path normalization behavior. This is fixed as part of https://github.com/saltstack/salt/pull/45703.

[2018-01-27 21:42] mchugh19 commented on #44597
This seems to be a dupe for #16687
(I found this issue when also looking for this functionality)

[2018-01-27 22:20] #27854 closed

[2018-01-27 22:20] #27872 closed

[2018-01-27 22:20] #27046 closed

[2018-01-27 22:20] #27817 closed

[2018-01-27 22:20] #24149 closed

[2018-01-27 22:20] #27912 closed

[2018-01-27 22:20] #27894 closed

[2018-01-27 22:20] #27803 closed

[2018-01-27 22:20] #27848 closed

[2018-01-27 22:20] #25344 closed

[2018-01-27 22:20] #27842 closed

[2018-01-27 22:20] #27881 closed

[2018-01-27 22:20] #27709 closed

[2018-01-27 22:20] #27999 closed

[2018-01-27 22:20] #27972 closed

[2018-01-27 22:20] #27506 closed

[2018-01-27 22:20] #28030 closed

[2018-01-27 23:09] garethgreenaway commented on #43367
@assafShapira @Ch3LL Missed this originally, will circle back and take a look.

[2018-01-28 01:15] #15038 closed

[2018-01-28 01:15] #28220 closed

[2018-01-28 01:15] #28254 closed

[2018-01-28 02:04] #45472 closed

[2018-01-28 05:01] #24716 closed

[2018-01-28 18:37] samodid commented on #44201
I can not reproduce it on fresh Centos 7.3 system.

2017.7.1 - can not reproduce
2017.7.2 - can not reproduce

[code]

[2018-01-28 19:11] UtahCampusD opened #45738 "minion cache overwritten for scheduled jobs"
### Description of Issue/Question

When a scheduled job is executed on minions caching jobs locally, the previous scheduled job cache is overwritten. It seems like schedules jobs are cached under the same jid every-time overwriting previous cached entries. Instead of a timestamp type jid, the jid is set as "req". Is this a bug or intended by design? Is there a setting I might be missing to be able

[2018-01-28 21:52] martinohansen opened #45739 "Windows patch management, possibility to block specific update."
Hi,

We are looking at saltstack for linux and **windows** patch management, and I have a quick question if thats okay.

Is it possible, on windows (ranging from window 7/2008 r2 to 10/2016), to hold back or block a specific update from being installed?

Thanks in advance.

Best regards,
Martin Hansen

[2018-01-29 02:06] frogunder opened #45743 "Multi-master PKI not working on Py3"
### Description of Issue/Question
When setting up an Multi-master PKI environment on py3, minions will not connect to the master.
(it is working correctly in a py2 setup)
https://docs.saltstack.com/en/latest/topics/tutorials/multimaster_pki.html

See this when running minion in debug mode:
[code]

[code]

I see this in the master log:
[code]

### Setup
Set up a Multi-master PKI environment on a py

[2018-01-29 02:52] denfromufa commented on #33003
Here is how to embed powershell in python using pythonnet. I have not tried anything more complicated.

https://stackoverflow.com/a/39543595/2230844

[2018-01-29 14:00] vutny commented on #20823
Fixed by #45459. FYI @rallytime

[2018-01-29 14:48] #20823 closed

[2018-01-29 15:13] terminalmage commented on #45743
Fixed in https://github.com/saltstack/salt/pull/45755

[2018-01-29 15:13] lahdekorpi commented on #31427
Any plans on fixing this?

[2018-01-29 15:15] somppa commented on #31427
+1

[2018-01-29 15:49] rallytime commented on #42626
This is fixed with #45389

[2018-01-29 15:49] #42626 closed

[2018-01-29 15:54] rallytime commented on #44957
Since the main issue that was raised here that was blocking for Oxygen has been resolved, I am removing the "oxygen" and "blocker" labels. We can keep this issue open in order to address the remaining problems raised, however.

[2018-01-29 16:19] gtmanfred commented on #45727
There have been some updates to the http.query stuff in 2017.7.2, and some more fixes are coming in 2017.7.3, which we are working on getting out right now, would you be able to upgrade to 2017.7.2 and check if that fixes this problem, and if it doesn't can you install from the 2017.7.3 branch?

[code]

The above command will install the 2017.7.3 branch on a new master, and hopefully you would be

[2018-01-29 16:24] gtmanfred commented on #45728
Looks like this was added here.

[code]

https://github.com/saltstack/salt/pull/31777

Are you rsyncing minion keys between masters?

Thanks,
Daniel

[2018-01-29 16:24] gtmanfred commented on #45739
@twangboy is this possible?

Thanks,
Daniel

[2018-01-29 16:28] TheVakman commented on #45559
@twangboy I'm also having this, even on fresh Salt installations now.

This is on Windows 10 1607, December CU. Salt Minion 2017.7.2 (Python 3).

[2018-01-29 16:32] rallytime commented on #44923
#44962 has been merged. Closing.

[2018-01-29 16:32] #44923 closed

[2018-01-29 16:34] wsw70 commented on #45728
@gtmanfred I have only one master, but who listens on two different ports. It may be that a minion has contacted either of these ports. Following on your comment, I ran

[code]

I do not know salt enough to understand this result. This is ONE minion, who (maybe) connected to either of the ports at some time and is currently up (there were two `True` for each of the two `sent002` minions in the out

[2018-01-29 17:07] gtmanfred commented on #45738
I have replicated this.

[code]

I am seeing the job for the `schedule.run_job` stored in the minion job cache, but the jobid for the job is changed to `req` in salt.utils.schedule

[code]

https://github.com/saltstack/salt/blob/2017.7/salt/utils/schedule.py#L941

And then it is sent on the minion event bus, and saved to the job cache.  Not quite sure why that jid is being changed.

Looks like it

[2018-01-29 17:11] gtmanfred commented on #45738
Actually, looks like I did not go back far enough.

@garethgreenaway added it here https://github.com/saltstack/salt/commit/67f704bbc93

https://github.com/saltstack/salt/pull/16392

[2018-01-29 17:19] gtmanfred commented on #45728
What happens when you check `ps aux | grep salt-minion` on the sent002 minion?

[2018-01-29 17:35] #44449 closed

[2018-01-29 17:35] #45072 closed

[2018-01-29 17:47] golmaal opened #45759 "Unable to send HTTP POST request with json encoded body when using http.query module"
### Description of Issue/Question
I am trying to use http.query and send "Content-Type: application/json" to our REST API server where the body is json-encoded.
I can send urlencoded HTTP POST messages to Salt CherryPy as following -

[code]
Question - How do I do the same where the body is json encoded? When I use the following, I get error -
[code]
Error thrown by above -
[code]

I looked at the

[2018-01-29 18:09] gtmanfred commented on #45738
So, it looks like the problem is that when the job is sent back to the master, it sees `req` in the jid, and preps a jid to store it in, but there is no similar logic for inside the salt-minion when cache_jobs is set.

Fixed here https://github.com/saltstack/salt/pull/45761

[2018-01-29 19:05] #45743 closed

[2018-01-29 19:25] UtahCampusD commented on #45738
@gtmanfred thanks so much for the fix! Tested it and seems to be working and producing unique jids now.  Will this fix be available on the next rpm package release?

[2018-01-29 19:28] gtmanfred commented on #45738
No, it was too late to make it into 2017.7.3, but it will be in 2017.7.4 and might be in the .0 release of oxygen if it gets merged forward before that is branched for rc1, if it is not, then it will be in the .1 release of oxygen.

[2018-01-29 20:02] #45409 closed

[2018-01-29 20:08] maxime-viargues-serato commented on #45643
`hmm and when you say it works with salt-call state.apply running form the minion are you running salt as that intended user?`
Yes it's running with the intended user.

`Also can you setup another test state to ensure runas is working. Just a more simpler cmd.run?`
Yes it works if I run
[code]
It outputs the  right user name.

[2018-01-29 20:43] fandrews commented on #30066
I'm seeing a similar issue that is somewhat intermittent but when it does occur it is an operation of `archive.extracted`:

[code]

[2018-01-29 21:05] hibbert opened #45765 "Escaping single quote"
### Description of Issue/Question

### Setup
Unable to figure out a way of escaping single quotes have tried the following:-

"'"
''

Yaml escaping such as

{{ '{{' }}
{% raw %}{% endraw %}

### Steps to Reproduce Issue
The string I need to put in yaml is:-
[code]

I would also like to have jinja templating in there i.e. service:{{ host_type }} for example

### Versions Report
# salt --versions-re

[2018-01-29 21:37] himanshu1691 opened #45767 "cp.get_file SaltReqTimeoutError for large file(>60 GB)"
### Description of Issue/Question
During salt orchestrate run, the run fails while executing cp.get_file on the minion with error:

While executing this state, the salt-master process shows 100% CPU usage as well.

Even when I run just the single command instead of the orchestrate run, I get the same error.
Command used:

### Setup
[code]

### Steps to Reproduce Issue
Executing the below command w

[2018-01-29 22:19] twangboy commented on #45739
Maybe in versions previous to Server2016/Win10. The longest you can delay a patch in the Server2016/Win10 is 1 year. After that it forces the update.

With all versions salt leverages the Windows Update Agent to apply patches. You could optionally turn off Windows update and apply patches using the win_dism module. You would have to manage the `.msu` files yourself.

[2018-01-29 22:22] jessebye commented on #30367
Still happening as of 2017.7.2. Hard to believe this hasn't been fixed by now.

Here is a state:
[code]

And yes, the `/foo/bar` path above doesn't exist on the server, so this state should fail... but the output shows:
[code]

[2018-01-29 22:51] bilalbaqar commented on #34334
Is the fix for this still in the road map?

[2018-01-29 23:25] twangboy commented on #33003
That looks like embedding python in powershell...

[2018-01-29 23:30] terminalmage commented on #40578
Much of this was already done with the work to overhaul unicode support, but the last pieces needed to satisfy this issue on have been added in #45772.

[2018-01-29 23:35] gtmanfred commented on #45767
The fileserver is not meant to send stuff that large.

You can speed it up by setting this value https://docs.saltstack.com/en/latest/ref/configuration/master.html#file-buffer-size

the default for each chunk sent via the file server is `1048576 bytes` but you will also see the salt masters memory footprint increase if you increase that value.

I would highly recommend hosting the file on an http

[2018-01-29 23:35] #45767 closed

[2018-01-29 23:51] twangboy commented on #45503
There are 2 things you could try here:
[code]
or
[code]

[2018-01-30 00:49] #45673 closed

[2018-01-30 04:22] ipmb opened #45775 "job cache success often incorrectly false"
### Description of Issue/Question

I often see successful `state.apply` jobs that aren't flagged as a `success` by the `pgjsonb` job cache.

### Setup

```master_job_cache: pgjsonb```

### Steps to Reproduce Issue

I've noticed if I run `salt-call state.apply` on a minion and it completes successfully, it is often (always?) not flagged as a success by `pgjsonb`. If, however, I run `salt-call --ret

[2018-01-30 05:33] ipmb commented on #45775
I can also recreate this behavior with a simple `test.ping` on the minion. When called with the local returner I get the expected results:

[code]

[2018-01-30 07:11] wsw70 commented on #45728
@gtmanfred : `ps aux | grep salt-minion` shows only one `salt-minion` process

[2018-01-30 10:13] vbatoufflet commented on #42503
The problem only seems to trigger when executing the command as `root`:

[code]

[2018-01-30 11:03] yusufgungor opened #45776 "pkg.installed rpm command not found"
### Description of Issue/Question
I am using the official postfix formula which privatized for Centos 6/7 and Debian 7/8. Formula can successfully applied to dozens of servers. But i got the "command not found" error on one of the CentOS 7 [7.3.1611 (Core)]

### Setup
Used the official postfix formula with some personal adjustment: https://github.com/saltstack-formulas/postfix-formula
[code]
### S

[2018-01-30 11:40] #28025 closed

[2018-01-30 14:32] Moulde commented on #6896
👍

[2018-01-30 16:49] unixtastic opened #45783 "UnicodeEncodeError whilst trying to run a subprocess"
### Description of Issue/Question
Salt states that start a subprocess fail on a UnicodeEncodeError. This affects many kinds of salt states.

          ID: clean_tmp
    Function: cron.present
        Name: find /tmp -name test.tmp -delete
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/usr/lib/python2.7/dist-packages/

[2018-01-30 16:51] unixtastic commented on #45783
Theis appears related to, but not the same as, other unicode issues reported here. It appears related to unicode being inserted into the subprocess's environment. The following patch fixes this for me:

[code]

[2018-01-30 17:33] #28234 closed

[2018-01-30 17:58] poliva83 commented on #34237
Thanks @twangboy. Will this fix be included in 2017.7.3 release?

[2018-01-30 18:04] oarmstrong opened #45784 "SELinux module fcontext_get_policy fails with long regex"
### Description of Issue/Question

When an SELinux `fcontext` entry has a regular expression that is longer than 49 characters, the `modules/selinux.py` module is unable to find it. This is due to the output of `semanage fcontext --list` only containing a single space at the end of the regular expression.

We are expecting the output to contain 2 or more spaces between each item in the output. Her

[2018-01-30 18:08] gtmanfred commented on #45765
You should just be able to put it in unquoted?

[code]

All the jinja will be rendered first, so it just needs to be valid yaml afterwards, have you tried just dropping in

[code]

as is? without surrounding it by quotes?

Thanks,
Daniel

[2018-01-30 18:24] gtmanfred commented on #45783
Would you mind submitting this as a PR to the 2017.7 branch?

https://docs.saltstack.com/en/latest/topics/development/contributing.html

Thanks,
Daniel

[2018-01-30 18:28] #28277 closed

[2018-01-30 18:39] twangboy commented on #34237
@rallytime ^^^^

[2018-01-30 19:13] rallytime commented on #34237
No, we have already tagged and started packaging the 2017.7.3 release. It will be available in the 2017.7.4 release, however.

[2018-01-30 19:23] poliva83 commented on #34237
@rallytime What about initial oxygen release? Will it get in there?

[2018-01-30 19:28] #7463 closed

[2018-01-30 19:29] hibbert commented on #45765
Thanks for the tip. It's a bit more complicated perhaps as that string is coming from a pillar to an sls (which seems to stript out the single quote at the start anyway), so the sls surrounds the pillar value in single quotes. Taking out the single quotes on the sls and in the pillar file seemed to work for this monitor but caused problems on other so I needed to add |yaml_dquote to the end. This

[2018-01-30 19:38] Trouble123 commented on #45727
Hi, i did the upgrade using your 2 line commands and its now showing version: 2017.7.0-n/a-1439da8
I have tested on this version (can you explain how i can find out what version this is), and the issue does not seem to be happening any more.
Thanks

[2018-01-30 19:52] rallytime commented on #34237
@poliva83 Yes, it will be in oxygen.

[2018-01-30 20:33] rallytime commented on #34237
I made this tool to help check versions more easily: https://github.com/rallytime/version-check, if that helps.

@poliva83 You can also use [Dynamic Module Distribution](https://docs.saltstack.com/en/latest/ref/file_server/dynamic-modules.html) to sync the fix if you need this sooner than oxygen.

[2018-01-30 20:54] poliva83 commented on #34237
Thanks @rallytime, I added a star to your project.

My workaround is in place for 2017.7.2 just wanted to know timing so I can add a note to remove later.

[2018-01-30 20:56] rallytime commented on #34237
@poliva83 Ah, OK great! Thanks!

[2018-01-30 21:01] rallytime commented on #34237
I am going to go ahead and close this issue as resolved. Thanks everyone!

[2018-01-30 21:01] #34237 closed

[2018-01-30 21:53] gtmanfred commented on #45727
so, when installing from git, _version.py does not get generated, so the version will not actually show correct.  What you installed was directly from the [2017.7.3](https://github.com/saltstack/salt/tree/2017.7.3) branch which we are currently stablizing for release as 2017.7.3 packages.  Since this fixes the issue, I am going to close this issue, and it will be fixed once 2017.7.3 is released.

[2018-01-30 21:53] #45727 closed

[2018-01-30 21:54] gtmanfred commented on #45765
Can you give me a full example of the setup you are using right now that isn't working, so that I can see that and offer a fix?

Thanks,
Daniel

[2018-01-30 22:02] #11043 closed

[2018-01-30 22:02] #28160 closed

[2018-01-30 22:02] #21727 closed

[2018-01-30 22:02] #21017 closed

[2018-01-30 22:06] gtmanfred commented on #45776
I am unable to replicate this issue.

[code]

It has a different error, but it is installing packages fine.

Can you try running `salt test_centos_7 cmd.which rpm` and provide the return?

Thanks,
Daniel

[2018-01-30 22:29] gtmanfred commented on #45759
So, i think that if the data is passed in is converted to a dict, it is then just passed as _urlencoded.

Can you try double quoting this string?

[code]

Everything thing that comes in on the commandline gets passed through the pyyaml renderer.  I think the problem is that the single quoted dictionary gets converted into a dict in python, and that is passed through urlencode.  If it is double quo

[2018-01-30 22:30] gtmanfred commented on #45784
Thanks for the PR to fix this!
Daniel

[2018-01-30 23:02] #28295 closed

[2018-01-31 00:13] Nick2253 commented on #29580
I'm not sure if this is the right spot to report this, but I'm having issues over IPv6.  I'm successfully able to ping repo.saltstack.com, and I'm able to connect, but then the connection hangs, which almost looks like it's getting data, but extremely slowly.  The connection never drops, I just get impatient after 1+ hours, and kill it manually.  I can repeat this on CentOS7 with multiple IPs, usi

[2018-01-31 00:56] UtahDave commented on #29580
@Nick2253 do you have IPv4 disabled?

[2018-01-31 01:04] bdarnell opened #45790 "Test with Tornado 5.0b1"
Tornado 5.0 is currently in beta, and I'm filing issues with prominent
users of Tornado to give them a chance to test it before release and
provide feedback on the changes and make adjustments as necessary. You
can install it with `pip install --pre tornado==5.0b1`. I expect to
release the final version of Tornado 5.0 in early March, about a month
away.

Full release notes are
[here](http://www.to

[2018-01-31 02:27] walison commented on #40912
unfortunately it has not been fixed.

[2018-01-31 04:06] xiang5 opened #45792 "bug"
### Description of Issue/Question
when run the command as follow will clean out crontab of the target machine
salt "*" cmd.run "su test -c crontab -l"

the right command line should be
salt "*" cmd.run "su test -c 'crontab -l' "

### Versions Report
           Salt: 2015.5.8
         Python: 2.6.6
         Jinja2: 2.2.1
       M2Crypto: 0.20.2
       msgpack-python: 0.4.6
       pycrypto: 2.0.1

[2018-01-31 07:25] while0pass commented on #32128
Since version 2016.11.0 [`fileserver.clear_file_list_cache`](https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.fileserver.html#salt.runners.fileserver.clear_file_list_cache) runner can be used to address the issue.

[2018-01-31 08:18] damon-atkins commented on #45783
Look at the code in the existing oxygen branch. However PY2 2016,2016 versions of salt do not support Unicode.  Your would need to run PY3 2017.   Oxygen release will be the first release to support International Character sets.

[2018-01-31 11:48] bogdanr opened #45795 "salt-cloud 2017.7.2 doesn't work with driver gce on Debian 8"
salt-cloud 2017.7.2 doesn't work with driver gce on Debian 8

[code]

The profile config looks like this:
[code]

[code]

[2018-01-31 12:48] L4rS6 opened #45796 "aliases module doesn't follow symlinks"
### Description of Issue/Question
On FreeBSD the default aliases file (`/etc/aliases`) is symlinked to `/etc/mail/aliases`. The aliases module removes the existing alias file (`/etc/aliases`) and replaces it with a new copy. So if the alias file is a symlink, it gets replaced.

### Setup
[code]

### Steps to Reproduce Issue
Make sure `/etc/aliases` is a symlink and then run the states above. You w

[2018-01-31 12:54] unixtastic commented on #45783
The PR is at https://github.com/saltstack/salt/pull/45793

[2018-01-31 12:57] L4rS6 commented on #45796
Please backport this bug to branch 2017.7.

[2018-01-31 13:06] do3meli commented on #42389
i am closing this as i was able to upgrade to 2017.7.x in the meanwhile without any slow down issues.

[2018-01-31 13:06] #42389 closed

[2018-01-31 14:42] nnew2 opened #45798 "LIBCLOUD_VERSION_INFO tuple for rc versions"
### Description of Issue/Question
When running "salt-cloud -p myprofile.conf ourname" from release candidate 2.0.0rc2
the following tuple fails because it expect each block to be of type int.

[code]
.../site-packages/salt/cloud/libcloudfuncs.py [l=29]

Error

Installed via yum repo on Centos 7.4.1708

[2018-01-31 16:33] garethgreenaway commented on #45790
@bdarnell Thanks for the report.  @gtmanfred is on the case.

[2018-01-31 16:37] gtmanfred commented on #45507
I think this issue was fixed over the weekend when all the unicode issues were being fixed.

I am going to close this issue.

Daniel

[2018-01-31 16:37] #45507 closed

[2018-01-31 16:50] garethgreenaway commented on #45792
@xiang5 Thanks for the report.  Are you seeing the above in a particular module or particular documentation example?

[2018-01-31 16:57] garethgreenaway commented on #45798
@nnew2 Thanks for the report.

[2018-01-31 17:11] frogunder opened #45804 "mac py3 gives DeprecationWarning"
### Description of Issue/Question
On mac py3 I see this when running salt-call sys.doc.
It does not show up on other salt-call commands.

[code]

### Versions Report

[code]

[2018-01-31 17:11] thatch45 commented on #45535
Yes, you are doing this correctly, those modules should be included in the thin tarball and the code change proposed looks like it would be a viable fix here.

[2018-01-31 17:13] rallytime commented on #45535
@gtmanfred I'll assign this to you to be included in the 2017.7.4 release.

[2018-01-31 17:14] garethgreenaway commented on #45795
@bogdanr Thanks for the report.  Can you provide the version of GCE  that is installed?

[2018-01-31 17:18] Nick2253 commented on #29580
@UtahDave No, IPv4 is enabled.  The simple workaround is to force IPv4, and then it get everything just fine.  I can resolve both IPv4 and IPv6, I can ping both IPv4 and IPv6, but it's pulling content over IPv6 where I'm having an issue.  But, like I said, forcing IPv4 works.

[2018-01-31 17:18] terminalmage commented on #45422
@gtmanfred not at present. The `update()` func in salt.utils.gitfs runs a function called `clear_old_remotes()` which removes cachedirs for removed/renamed repos. But the way it detects an "old" remote is by listing all the directories in `/var/cache/salt/master/git_pillar` and then iterating over the configured remotes and removing the cachedirs for each git_pillar repo from that list, then remov

[2018-01-31 17:24] golmaal commented on #45759
Hello Daniel,

Thanks for looking at this issue. I tried as you suggested and that seems to work. A couple of caveats with this approach are -

1. All double quotes for the key/val need to be escaped
2. All special characters (e.g., in my actual password I had a $) need to be escaped.

Will using a data file be any different?
Do you have suggestion to not have to escape the above two things?

Rega

[2018-01-31 17:26] bogdanr commented on #45795
How do I check that?

[2018-01-31 17:45] terminalmage commented on #45422
@gtmanfred You could probably tackle this if you want to get some experience working with salt.utils.gitfs. Because of the (mostly) shared codebase, this fix would work the same for both gitfs and git_pillar. I took the liberty of doing the legwork of playing around in a Python shell and figuring out how to get the fetch URL from the git remote in both GitPython and Pygit2:

[code]

The fix here w

[2018-01-31 17:45] hgfischer commented on #28206
I am having the same issue here. Is there any way to fix this?
[code]
[code]

[2018-01-31 17:49] terminalmage commented on #45422
Actually, the helper doesn't have to return a repo object, since it's a private function it'd have access to `self`, so the helper would literally be as simple as indenting that code and returning the value of `new`, and then doing:

[code]

[2018-01-31 18:00] gtmanfred commented on #45776
Hrm, then i have no idea why this would be happening.  Is it possible to destroy this VM and start over?

Thanks,
Daniel

[2018-01-31 18:00] bgridley opened #45805 "Execution module victorops throws an error "RuntimeError: dictionary changed size during iteration""
### Description of Issue/Question

victorops execution module returns an error for all paramters tested. Example:

salt '*' victorops.create_event message_type='INFO'
    The minion function caused an exception: Traceback (most recent call last):
      File "/usr/lib/python2.7/dist-packages/salt/minion.py", line 1470, in _thread_return
        return_data = executor.execute()
      File "/usr/lib/

[2018-01-31 18:00] wsw70 commented on #45728
@gtmanfred I restarted them and they do connect to several minions at the same time.

I also have a  case where there are three masters (in the same configuration as above), both the minion and the master was restarted a few times. Several connection still:

[code]

(`10.0.2.3` is a VPN connection, `10.81.102.133 `is a master which holds both the endpoint on its `eth0` and its `tun0` (`10.0.2.3` c

[2018-01-31 18:04] wsw70 opened #45806 "How to check the connection IPs?"
Is there a way to check, **on the master**

-  what is the **minion** IP a minion connected **from** (assuming the **minion** has several IPs)?
- what is the **server** IP the minion connected **to** (provided the **server** has several IPs)?

[2018-01-31 18:04] gtmanfred commented on #45759
To get away from not having to escape those things, you could write a python command that uses LocalClient to send the command instead of using the commandline.

Pulling from a data file might work, but it would be dependent on how the data file is loaded, which i am not familiar with in the code.

As this works now, I am going to close this issue.

Thanks!
Daniel

[2018-01-31 18:04] #45759 closed

[2018-01-31 18:10] rallytime commented on #22412
The PR #45603 should fix this. Can anyone confirm?

[2018-01-31 18:33] thatch45 commented on #36031
In the long run yes, we would only ship a PY3 windows install

[2018-01-31 20:53] vtolstov commented on #44559
When this fixed in 2016.11 ?

[2018-01-31 20:53] poliva83 opened #45812 "Extra line gets added for windows hosts that use file.managed with contents_pillar option"
### Description of Issue/Question
An extra line gets added for windows hosts in 2017.7.2 that use file.managed with contents_pillar option.

Its because use of `contents.endswith(os.linesep)`:
https://github.com/saltstack/salt/blob/v2017.7.2/salt/states/file.py#L2207
Since os.linesep for windows is expecting '\r\n' but pillar getting returned only has '\n' line endings:
https://github.com/saltstac

[2018-01-31 20:56] poliva83 commented on #45812
Proposed solution would be to change the check to:
[code]

[2018-01-31 20:56] #27586 closed

[2018-01-31 20:56] #28014 closed

[2018-01-31 21:03] eliasp commented on #28482
Keep this one open!

[2018-01-31 21:14] wsw70 opened #45813 "Can a salt master provide a state to unavailable minions?"
### Background

I have several servers which run a service I develop. All of them should have the same copy of the service.

To ensure deployment and up-to-dateness I use Ansible, with an idempotent  playbook which deploys the service. Since the servers are on an unreliable network, I have to run the playbook periodically (in a cron job) to reach the servers which may not have been available befor

[2018-01-31 21:17] justin-sunayu commented on #44559
I don't believe this has been patched yet. I still have the issue on 2017.7.2

[2018-01-31 22:04] #27830 closed

[2018-01-31 22:04] #28197 closed

[2018-01-31 22:21] himanshu1691 commented on #45659
I am facing the exact same issue. I am using SMTP returner though and I don't even get an email.

[2018-01-31 23:07] twangboy commented on #45470
This is being tested now since the test has been updated to use `unicode_literals`. Unicode values are now being passed to the function... which is what was causing it to fail before.

[2018-01-31 23:07] #45470 closed

[2018-01-31 23:46] #28156 closed

[2018-01-31 23:55] BrighTide commented on #21797
If you want to sort numerically rather than alphabetically use ` sort --version-sort`

[2018-02-01 00:35] gtmanfred commented on #45813
The minion can ask for the state whenever it wants.

So with the master/minion you have a minion always running and connected to the master, so you would be able to send the command with `salt <target> state.apply`.

If you want the specific minion to run the command, you would use `salt-call`, then you can use any of the modules that you would normally run from the master.

`salt-call state.apply

[2018-02-01 00:37] gtmanfred commented on #45812
So, the reason that the newline is added is because of posix compliance, since windows doesn't really care about posix anyway, i would say we could probably just skip that whole step if it is being run on a windows machine.

[2018-02-01 00:44] gtmanfred commented on #45805
I have opened a PR to fix this here https://github.com/saltstack/salt/pull/45814

Thanks for reporting!
Daniel

[2018-02-01 00:45] gtmanfred commented on #45806
I do not believe that you can show which ip the minion is connecting to, but to show which ip the minion is connected to, you could use the manage.present runner

https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.manage.html#salt.runners.manage.present

`salt-run manage.present show_ipv4=true`

Daniel

[2018-02-01 03:03] nullify005 opened #45816 "modules/boto3_route53.change_resource_record_sets inifinite loop"
### Description of Issue/Question

When running modules.boto3_route53.change_resource_record_sets the code gets stuck in an infinite loop when the API refuses to do the work, but doesn't return a rate limiting code which might trigger a retry.

An example is say attempting to change a pre-existing record which is a CNAME to an A, which the API doesn't allow for

I've raised https://github.com/salt

[2018-02-01 03:07] nullify005 opened #45817 "states/boto3_route53.rr_present NoneType when ResourceRecords are not present from API"
### Description of Issue/Question

When attempting to compare the local changes with the remote, in the case where the DNS entry is based on an AliasTarget (thereby meaning ResourceRecords are not present from the upstream API) salt doesn't first check to see if it's None before attempting to iterate over it.

This ends up throwing the following error:
[code]

I've raised https://github.com/saltst

[2018-02-01 03:25] qiangshui opened #45818 "saltutil.running shows no job running but jobs.lookup_jid shows state.highstate is rurnning"
### Description of Issue/Question
There is a job which jid was 20180131204010595907,i execute "salt-run jobs.lookup_jid 20180131204010595907" and print the output, it show that the job is finished.
Then I run anothor job which jid was 20180131204353461703, I exexute "salt-run jobs.lookup_jid
20180131204353461703", it show
![default](https://user-images.githubusercontent.com/24819310/35659273-5102a

[2018-02-01 05:02] tamalnath commented on #4502
DO we have any update on this?
Please suggest any workaround to set custom install location.

[2018-02-01 05:59] yusufgungor commented on #45776
Hi @gtmanfred ,

I have replaced the hostname in logs as "test_centos_7" but it is a prod server. I can not destroy it :(

Can we find another solution?

[2018-02-01 07:02] #10467 closed

[2018-02-01 08:27] wsw70 commented on #45806
@gtmanfred Thank you Daniel.

This is a very useful command, though it shows that some of the minions are connected via `127.0.0.1`, which is not the case (they are remote devices)
[code]

[2018-02-01 08:34] wsw70 commented on #45813
@gtmanfred Thank you - sorry  if I was not clear enough.

What I meant is that I have a state to apply (say, the fact that a service must be up). When applying the state, it is applied to minions which are currently up. The ones which are down do not get the state.

This means that, in the case of an unstable environment (minions being up and down), I need to continuously apply the state from the

[2018-02-01 08:38] github-abcde commented on #42440
@thatch45 Could you take a look at this? It would be very nice to be able to handle OrderedDicts, but I don't know the history of the failing PayloadTestCase above to say anything useful about that. I can confirm that the odict.patch does not break things on 2017.7.2 and allows OrderedDicts to be passed unharmed (for example as an execution module call result).

[2018-02-01 09:04] #13358 closed

[2018-02-01 09:04] #28245 closed

[2018-02-01 12:26] wsw70 commented on #45728
@gtmanfred I tried to start the minion manually (`salt-minion -l debug`) and I see that it connects to all three masters, in a random way (that is - not according to the list in the config file):

[code]

[2018-02-01 13:38] asymetrixs opened #45821 "Deleting files older than 7 days using scheduled jobs"
### Description of Issue/Question
I'd like to automatically delete files older than 7 days on Monday/Tuesday.

### Setup
Doing this by hand I used
`salt '*' file.find 'C:\Windows\Temp' type=f name=cab_\* mtime=+7d delete`
and it works perfectly. It gives a list of files that were deleted.

But how to achieve this in a scheduled job? I tried this:
`salt '*' schedule.add job1 function='file.find' jo

[2018-02-01 14:18] asymetrixs opened #45822 "Exception in tornado.application using scheduler"
### Description of Issue/Question
Running the following tasks throws exceptions but only in log file:

[code]

[code]

And a different command:

[code]

[code]

Salt Version 2017.7.2 64-Bit on Windows 7, Python 3.5.3 64-Bit, Tornado 4.5.1 (default salt-minion installation, no detailed information due to airgap, hope this helps)

[2018-02-01 15:27] rallytime commented on #4502
@twangboy Can you comment here?

[2018-02-01 15:29] ze42 opened #45823 "fun_args not passed properly via salt-syndic"
### Description of Issue/Question

In return events (`salt/job/<jid>/ret/<minion>`), the `fun_args` get striped from when returned by the syndic.

### Setup
* Two servers.
* Both having a local `salt-master` and a local `salt-minion` connected to it.
* Second server having a `salt-syndic` to report to the first.

In examples bellow: `d-ze-std01-empty` is the main master, `d-ze-std04-empty` is the

[2018-02-01 15:38] gtmanfred commented on #45813
That is not possible.

The minions connect to the publish port/bus and the master puts new jobs on that bus.  Then the minion picks it up and runs the job, if the minion is not connected when the job is published, then it will not see the job.

[2018-02-01 15:40] gtmanfred commented on #45776
can you provide the full debug log of `salt-call state.apply postfix.config -l debug` when you run it on that machine?

[2018-02-01 15:49] noelmcloughlin commented on #43208
I too have troubles with `user.present` and `group.present`.  The objective is to ensure user/group is present (create locally if necessary), but salt throws ERRORS.

[code]

_Note: The authentication database can be aggregation of local/remote databases ... NSS (name switch service) and PAM (pluggable authentication modules) provide the abstractions._
[code]

I tried following workaround in [user

[2018-02-01 15:52] gtmanfred commented on #45821
job_kwargs needs to be a dictionary. and delete is an arg, not a kwarg, because it doesn't have an equal sign.

[code]

[2018-02-01 15:53] ipmb commented on #45775
As a workaround, I've used the following values:

minion jobs: `full_ret['retcode'] == 0`
master jobs: `return['success']`

In my usage, the `success` column does not seem to accurately map to either of these although I would expect it to.

[2018-02-01 15:53] gtmanfred commented on #45816
Thanks for the pr to fix this!
Daniel

[2018-02-01 15:54] gtmanfred commented on #45817
Thanks for the PR to fix this.
Daniel

[2018-02-01 15:58] gtmanfred commented on #45818
It is possible that `20180131204010595907` was not finished on one of the minions, even though it was finished on all the other minions. And then it finished between that time, and when you ran saltutil.running.

If that is not the case, can you please provide me with an example of this happening so that I can replicate it?

Thanks,
Daniel

[2018-02-01 16:14] gtmanfred commented on #45728
Ok, I am unfortunate unable to replicate this.

[code]

I am seeing the minion only connect once.

[code]

If i comment out `master_type: failover` then I am seeing this happen, but i am still unable to replicate the initial issue.

Do you have any other minion config files in /etc/salt/minion.d/*.conf on these minions?

Also just to follow up on something that you said earlier

I do not believe t

[2018-02-01 16:14] wsw70 commented on #45813
@gtmanfred Thanks Daniel, this is now clear. And thanks for all the help, and the product!

[2018-02-01 16:14] #45813 closed

[2018-02-01 16:27] #43806 closed

[2018-02-01 16:58] gtmanfred commented on #45790
@bdarnell is there a reason that you are just dropping the io_loop all together?  This will break all older versions of salt.

Would it be possible that yall could just swallow the value?  I tested with this, and it seems to work fine for us, the only problem is the error that there is no allowed io_loop variable anymore, which will break older versions.

Also, with not being able to pass in an io

[2018-02-01 16:58] philpep opened #45825 "selinux.fcontext_policy_present doesn't work on Centos 6 with filetype = all files"
### Description of Issue/Question

Using `selinux.fcontext_policy_present` with `filetype: a` (default) don't work on Centos 6 because semanage doesn't accept `--ftype a`. From `semanage --help`:

[code]

This is OK on Centos 7 (since `--ftype a` is handled by newer `semanage`). I guess it's better to not add a `--ftype a` when `filetype` is `a` since it's the default behavior of `semanage`.

###

[2018-02-01 17:05] gtmanfred commented on #45825
If you set `filetype: None` in your state, it should work as a work around.

I am going to mark this as a bug, if you wanted to submit a PR to change the default in the state functon to None and add a note to explain that not specifying a filetype defaults to all file types, we would greatly appreciate it.

Thanks!
Daniel

[2018-02-01 17:40] frogunder commented on #45478
This is working as expected on the head of Oxygen.

I have added this to the manual test run until we can get it automated

https://saltstack.testrail.com/index.php?/cases/view/3101

[2018-02-01 17:43] twangboy commented on #44967
Possibly fixed by https://github.com/saltstack/salt/pull/45763

[2018-02-01 18:02] rallytime commented on #45478
Thanks @frogunder! I'll close this.

[2018-02-01 18:02] #45478 closed

[2018-02-01 18:41] nickhentschel opened #45828 "Can't import pkg_resources in custom outputter"
### Description of Issue/Question

I'm trying to make use of an external module that imports `pkg_resources` to format output from `salt` runs and consistently seeing an import error. `setuptools` is definitely installed within the virtualenv. Using my outputter with `salt-call` works fine.

### Steps to Reproduce Issue

[code]

Running `salt-call test.version --out html_out` from the same venv wo

[2018-02-01 19:01] gtmanfred commented on #45828
How are you installing `python 2.7.9` on a centos 7.1 machine?

The default version on centos 7.1 is 2.7.5.

can you run `python -m ansi2html.converter` ?  you should also be able to run `python -c 'import pkg_resources'`?

If not, then this is an issue with the python environment and not with salt.

[2018-02-01 19:14] gtmanfred commented on #45823
I have verified this.

Thanks for reporting,
Daniel

[2018-02-01 19:24] nickhentschel commented on #45828
Thanks for the quick reply.

We package and distribute 2.7.9 internally.

[code]

Both modules can be imported fine outside of my outputter. Everything works as expected when running `salt-call`.

[2018-02-01 20:09] phsteve commented on #45822
+1. I can trigger the exact same issue with `salt 'minion_id' schedule.run_job 'Schedule name here'` on Windows. Additionally if I try to do a `schedule.run_job 'Disabled chedule name' force=True` on a disabled schedule I get the following traceback:

[code]

Version report:

[code]

[2018-02-01 20:18] twangboy commented on #4502
This is currently not supported. However, there is some discussion to move in that direction. https://github.com/saltstack/salt/issues/42801

[2018-02-01 20:49] gtmanfred commented on #45828
can you provide the output of the `env` command?

Thanks,
Daniel

[2018-02-01 21:10] nickhentschel commented on #45828
[code]

[2018-02-01 21:15] gtmanfred commented on #45828
can you check `head -n1 $(which salt-minion)` and just make sure that it is set to use `/salt-master/salt-mastervenv/bin/python` and not `/usr/bin/python`?

Also, check `ps aux | grep salt-minion` and make sure it isn't using `/usr/bin/python`.

If you are starting the salt-minion process with a systemd unit, you will need to make sure that the venv path is available to systemd.  If this is being

[2018-02-01 21:56] nickhentschel commented on #45828
Here's the unit for the minion:

[code]

We're literally specifying the python version from the virtualenv.

[code]

[2018-02-01 22:07] gtmanfred commented on #45828
And you can run `/salt-master/salt-mastervenv/bin/python -c 'import pkg_resources'`?

I think this has to be something weird in the way this whole thing is working being run from systemd.  Because if it works when using `salt-call` this starts a full salt-minion process inside the context of your shell.  Where when it is started by the unit, it is started in systemd's environment, which is not a s

[2018-02-01 22:25] whytewolf commented on #44937
ZD-2198

[2018-02-01 22:25] whytewolf commented on #45022
ZD-2198

[2018-02-01 22:25] whytewolf commented on #24501
ZD-2198

[2018-02-01 22:25] #44534 closed

[2018-02-01 22:44] gtmanfred commented on #45828
yeah, that is super bizarre, i have no idea why that would be happening.

@saltstack/team-core does anyone else have any ideas?

Thanks,
Daniel

[2018-02-01 22:45] gtmanfred commented on #45828
@nickhentschel it might be worth while sending an email to the [salt-users](https://groups.google.com/forum/#!forum/salt-users) google group to see if anyone else has run into this

And maybe checking on our slack or irc channel https://github.com/saltstack/salt/#get-saltstack-support-and-help

[2018-02-01 23:00] twangboy commented on #45812
It looks like you have to set `contents_newline: False` if you don't want a new line. The default is True.

[2018-02-01 23:42] twangboy commented on #45503
I can confirm that this is fixed in 2017.7.3

[2018-02-01 23:42] #45503 closed

[2018-02-02 00:13] twangboy opened #45833 "Key format change from 2017.7 to Oxygen"
### Description of Issue/Question
Something has changed with the minion keys between 2017.7 and Oxygen. When upgrading from 2017.7 to Oxygen, the minion will no longer start because it's key is being denied. When you run `salt-key` on the master, you get something similar to the following:
[code]
Here are the contents of the keys:
/etc/salt/pki/master/minions/<current key>
[code]
/etc/salt/pki/mas

[2018-02-02 00:32] poliva83 commented on #45812
@twangboy I never had `contents_newline: False` set when using 2016.3.6 and this extra unnecessary newline was not added.

[code]
Technically the wording here says `will have a newline added to the end of the file if one is not present`. IMO the detection of a newline is broken for windows hosts.

[2018-02-02 00:51] poliva83 commented on #45812
@twangboy It does seem odd though that the file.managed code doesn't appear that different between `2017.7.2` and `2016.3.6`. So I am now wondering if the `__salt__['pillar.get'](contents_pillar, __NOT_FOUND, delimiter=contents_delimiter)` may now be adding Unix line ending. I am using a `2017.7.2` salt-master for this deployment vs `2016.3.6` salt-master when I didn't see this issue.

I will need

[2018-02-02 01:37] angeloudy commented on #31907
This issue is still occuring on 2017.7.2
[code]

[2018-02-02 01:48] bdarnell commented on #45790
Accepting the `io_loop` argument but ignoring it would be very confusing if you were passing any other IOLoop than the current one. And if you were passing `IOLoop.current()`, you could simply remove the argument and be compatible with both old and new versions of Tornado.

Being able to run an IOLoop inside an IOLoop is unfortunately something that is lost with the move to asyncio, since asyncio

[2018-02-02 02:36] gtmanfred commented on #45790
Ok, we will have to discuss how to best work on fixing this.

You should also let https://github.com/zeromq/pyzmq know, because it looks like this change is going to break some stuff that they are using as well.

[2018-02-02 05:39] bdarnell commented on #45790
Yes, I've already notified minrk for pyzmq (via https://github.com/jupyter/jupyter/issues/317).

[2018-02-02 08:09] otm1 commented on #44960
Hi, How can I unblock this issue (the information requested has been provided)?

[2018-02-02 08:34] johje349 opened #45837 "Salt Cloud does not recognise all Digitalocean sizes"
### Description of Issue/Question
[code]

It seems salt-cloud only lists 20 entries coming from the API:
[code]

Digitalocean recently added more droplet sizes.

The size s-12vcpu-48gb is indeed there if listing more pages or allowing more entries per page:

[code]

### Setup
asx-dse-cookies:
  provider: do
  image: ubuntu-16-04-x64
  size: s-12vcpu-48gb
  location: ams3
  private_networking: true

[2018-02-02 08:48] johje349 commented on #45837
Same goes for --list-sizes, only 20 entries:

[code]

[2018-02-02 09:01] asymetrixs commented on #45821
@gtmanfred thanks, now the job runs as expected on the given times.

However, I cannot manually run the job using schedule.run_job <job>. Nothing happens when I try to run the job with job_run, except that the log shows an error similar to #45822 except that the last line is `_pickle.PicklingError: Can't pickle <function normpath at 0x00000000035AAA60>: attribute lookup normpath on salt.loader.sal

[2018-02-02 09:29] philpep commented on #45825
Hi @gtmanfred , unfortunately `None` is not a workaround since this value is rejected by `_validate_filetype()`.

[2018-02-02 09:57] lastmikoi commented on #36796
I am suffering from the very same replicate that issue under `2016.11.8`

[2018-02-02 11:29] DmitryKuzmenko commented on #45828
@nickhentschel could you try to modify the systemd unit to source the `activate` script from the environment first. It can be done for instance by creating a shell script to run salt and call it from the unit instead of calling `salt-minion` directly.
/salt-master/salt-mastervenv/bin/salt-minion.sh
[code]
# chmod +x /salt-master/salt-mastervenv/bin/salt-minion.sh

in the unit file change the exec

[2018-02-02 14:37] rallytime commented on #45833
I am interested to know if this is happening on Linux as well as Windows. And is it possible to bisect this?

[2018-02-02 14:51] gtmanfred commented on #45821
I think those are related.

The problem with windows + python + multiprocessing is that windows has no equivalent of os.fork in linux, which forks the whole process memory, and continues running with that same memory in the new process.  On windows what it does to simulate this, is pickle everything and pass it to the new process.  Unfortunately, in salt, we store all the references for all the fu

[2018-02-02 14:51] #45821 closed

[2018-02-02 14:55] gtmanfred commented on #45825
Ahh bummer.... Thanks for the PR!
Daniel

[2018-02-02 15:09] gtmanfred commented on #45837
We should be just querying their sizes api...

https://github.com/saltstack/salt/blob/oxygen/salt/cloud/clouds/digitalocean.py#L164

If you wanted to submit a PR to fix that, we would greatly appreciate it.

Thanks!
Daniel

[2018-02-02 15:16] greed2411 commented on #29407
check [this](https://stackoverflow.com/a/28664414/6905674) out, Im not sure if its of any help tho.

[2018-02-02 15:24] gtmanfred commented on #36796
Can you give me a better example to replicate that on?

Because i am not able too.

[code]

[2018-02-02 16:09] nickhentschel commented on #45828
So here's the steps to reproduce:

1. Rebuild `virtualenv`

[code]

2. Start `salt-minion`

[code]

3. Test outputter with `salt-call` (works as expected)

[code]

4. Test outputter with `salt` (results in import error)

[code]

Yeilds the following error:

[code]
So I'm still getting the same error running `salt-minion` directly, so I doubt it's a problem with `systemd`. I'm not convinced it's no

[2018-02-02 16:36] lastmikoi commented on #36796
Sure, I've managed to reproduce the issue on a small codebase that I've pushed there: https://github.com/lastmikoi/saltstack-bug-36796 (just make sure to replace the absolute paths I haven't found a way to make relative yet, and the roster of course)

In this codebase I am able to apply my dummy `mine.get`-using `salt-ssh -i '*' state.apply test_mine` as well as apply my dummy `grains.get`-using `

[2018-02-02 17:49] gtmanfred commented on #36796
Ok, cool I am able to replicate this.

As a side not, you can use `{{grains.get('os')}}` and it will work, that just uses the `grains` dictionary that is loaded into the renderer, instead of using using the grains.get salt module.

@saltstack/team-ssh does anyone have an idea of why this might be happening?

Initially i thought it might have been because mine.get was in the wrappers, but grains is

[2018-02-02 18:20] gtmanfred opened #45845 "[Oxygen] unable to `load_yaml` in rc1"
### Description of Issue/Question
This yaml map is unable to be loaded in oxygen.rc1

https://raw.githubusercontent.com/saltstack-formulas/mysql-formula/master/mysql/defaults.yaml

I am getting this error.

[code]

### Setup
Put the above mentioned defaults.yaml in /srv/salt/defaults.yaml

Then add the state

[code]

run `salt-call --local state.apply test`

Watch it explode.

### Versions Report

[2018-02-02 19:49] Nick2253 commented on #31863
Unfortunately, the event bus also uses the `.send()` method, and is no more secure than `cp.push`.

I'm assuming you're talking about a Hashicorp Vault, which is, again, additional software.  While Hashicorp Vaults are good solution to some of these problems, it doesn't really address the fundamental problem with `.send()`.

[2018-02-02 20:13] FireDrunk opened #45846 "fileserver.update doesn't update, firing the event does update gitfs_backend"
### Description of Issue/Question
Using ```salt-run fileserver.update```, the gitfs_backend doesn't get updated (although the event is received).

[code]
Firing the the event manually with:
```salt-call event.fire_master update salt/fileserver/gitfs/update```

Results in the following event(s):
[code]
The last one does forcefully update the gitfs_backends

### Setup
Nothing special, fresh install

[2018-02-02 20:31] gtmanfred commented on #45846
How are you verifying that the fileserver.update does not update the fileserver?

The runner doesn't fire an event, instead what it does is contact all the backends and run their `update()` function?

https://github.com/saltstack/salt/blob/2017.7/salt/fileserver/__init__.py#L466

Thanks,
Daniel

[2018-02-02 20:56] FireDrunk commented on #45846
The git pillar is not updated (pillar.items shows old data), and I'm running the server in debug mode, and I'm not seeing the update in the output on screen.

When it does update, this is the output:

[code]

[2018-02-02 21:03] edgan commented on #44145
I am suddenly seeing this same issue on Ubuntu 14.04 with salt-ssh 2017.7.2.

I narrowed it down to enabling failhard, and stating at "running = {}" in the call_chunks function of call_chunks. I say this because tracing back where running in reconcile_procs leads me back to call_chunks.

traceback:

    Traceback (most recent call last):
      File "/var/tmp/.edgan_e1f3ee_salt/salt-call", line 15,

[2018-02-02 21:09] gtmanfred commented on #45846
Git pillar is an external pillar, not a fileserver.

https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.git_pillar.html#salt.runners.git_pillar.update

use the git pillar runner to update it.

[2018-02-02 21:21] FireDrunk commented on #45846
Ah, that works perfectly! Silly me.

Thanks!

[2018-02-02 21:21] #45846 closed

[2018-02-02 21:58] wsw70 opened #45847 "Could "pip3 install salt" break the existing salt installation?"
### Description of Issue/Question

I had a server and several minions running fine. Since I wanted to experience with the Python API, I installed the salt module (`pip3 install salt`).

It look it broke all `salt` commands (I am not sure but this is the only change I can think of).

Running `salt '*' test.ping` yields

[code]

`salt-run` commands are OK (for instance `salt-run manage.present` outp

[2018-02-02 22:05] #28288 closed

[2018-02-02 22:05] #28307 closed

[2018-02-02 22:05] #28327 closed

[2018-02-02 22:16] openfly commented on #42278
This currently still exists in 2017.7.3 =/
Ugh.

[2018-02-02 22:25] wesleyarthur opened #45848 "Salt minion - startup network timing hostname/ID issue"
I'm trying to dynamically provision about 150 servers.  I'm using salt reactor/beacons to auto accept the key when the servers boot based on the minion id.  When some servers boot, it appears that the networking starts late (about 26 seconds) after salt-minion has already started, and instead of them checking into the salt master with their proper hostname/minion id, they try to authenticate with

[2018-02-02 22:28] damon-atkins commented on #42278
Please label this to be fixed in 2017.7.3

[2018-02-02 22:47] Epiclemonaid opened #45849 "XenServer Provisioning errors out on this line. removing it succeeds."
**Description of Issue/Question**
https://github.com/saltstack/salt/blob/11f73910a6e810ee90c30d0c0a1d3dc672b10a38/salt/utils/cloud.py#L468

**Setup**
I am running the develop branch of salt working with xencenter. Ive run into a few problems here are the stack traces below. and what I've done to fix them.

[code]

my config

[code]

[code]

this is called in the Xen.py

[code]

removing the line l

[2018-02-02 23:01] viq opened #45850 "Thorium on GitFS"
### Description of Issue/Question
Is it possible to have Thorium formulas live on GitFS? After using GitFS for states and pillars it feels wrong to be forced to have something on disk.

Possbly related to #29081

[2018-02-03 00:05] #28216 closed

[2018-02-03 01:37] #27414 closed

[2018-02-03 10:26] #26151 closed

[2018-02-03 10:26] #28368 closed

[2018-02-03 11:29] viq opened #45853 "slack engine fails to connect to slack"
### Description of Issue/Question
[code]
### Setup
Exactly as described at https://docs.saltstack.com/en/latest/ref/engines/all/salt.engines.slack.html#module-salt.engines.slack

### Steps to Reproduce Issue
Follow guide. Start `salt-master`

### Versions Report
[code]
with `slackclient` version `1.1.2`

[2018-02-03 12:51] viq commented on #45853
This seems to be related to https://github.com/slackapi/python-slackclient/issues/189

[2018-02-03 12:53] viq commented on #42634
Salt is working on OpenBSD, so I guess this can be closed.

[2018-02-03 12:53] #42634 closed

[2018-02-03 13:10] Robert-Grundstrom commented on #44147
I have tried some changes. But the problem still persists.
Code now looks as follows.
For an current status on what the code looks like check:
https://github.com/Robert-Grundstrom/salt-config/blob/master/salt-config/salt/services/sshd/init.sls
'''
set_sshd_fwrules:
  iptables.insert:
  - names:
    - 'SSHD Set':
      - position: '1'
      - match: 'recent --set --name SSH --rsource'
      - conns

[2018-02-03 16:16] viq opened #45854 "Hardcoded, undocumented reference to /var/cache/salt/master/queues"
### Description of Issue/Question
I'm trying to run `salt-master` as unprivileged user in a dir from pip to test something. Even with `cachedir` set to a different location, master was still failing to start complaining about lack of access to `/var/cache/salt/master/queues`. Quick looking through sources found https://github.com/saltstack/salt/blob/develop/salt/queues/sqlite_queue.py whereas ther

[2018-02-03 16:23] viq commented on #45854
And even with `sqlite_queue_dir` defined, there's a lot of logs like:
[code]

[2018-02-04 00:42] gdm85 commented on #27295
I spent quite a bit of time trying to have a line ensured to be in a file. After frustration, I came up with a shell-based replacement:

[code]

I hope in future it will be easier to reproduce this functionality in Salt (notice that since `-F` mode of grep does not anchor, this is far from a perfect replacement of a line-based check).

[2018-02-04 08:11] go8ose commented on #40352
Hi @timwsuqld. I tried to replicate, but on my system salt gets stuck while the certbot binary (presumably) waits at a prompt. At least it runs "letsencrypt-auto certonly --domains applyrandomdomain.com --domains www.applyrandomdomain.com", and if I run that manually I see a prompt about using standalone or webroot modes.

Was there anything else you needed to do to see this fault?

I was trying t

[2018-02-04 09:56] #27618 closed

[2018-02-04 17:16] Epiclemonaid commented on #45849
edited to meet submission format.

[2018-02-04 23:23] morganwillcock commented on #45643
This sound very similar to #45063, where running the minion service as a different user means that the process context is not created correctly. If you run the minion service as the SYSTEM account (just for test purposes), does it work then?

[2018-02-04 23:45] #24850 closed

[2018-02-04 23:54] morganwillcock commented on #45571
Since it is currently run in a shell, switching to the folded block style will get you pretty close.
<pre>test:
  cmd.run:
    - name: >
        echo hello &
        echo world</pre>
...but that is effectively the same as writing:
<pre>test:
  cmd.run:
    - name: |
        echo hello & echo world</pre>

[2018-02-05 00:04] maxime-viargues-serato commented on #45643
The service is already installed as the SYSTEM account, that's the default installation of the minion. This doesn't work. I manually changed the user to run as the expected user and it worked, which is the opposite of what you are suggesting. Although that what just for testing purposes.

[2018-02-05 04:55] jf commented on #43930
Did something change in salt/states/git.py? I had this problem as well, but after updating to 2017.7.2, I am not able to duplicate it. The state files remain the same, and I had the problem before; after updating, I cannot duplicate this.

[2018-02-05 06:36] #27503 closed

[2018-02-05 08:23] wsw70 commented on #45847
After some search I discovered that a new installation of `salt` appeared in `/usr/local`. Would that happen after installing the  python module? (the initial installation was through the repository

[2018-02-05 09:23] AmiramMaimon opened #45856 "Minion sign to Master with different id"
Hey,

I have an environment of one master and few minions.
Now, I'm trying to set the minion ID's using the minion configuration file (/etc/salt/minion).
After setting the ID of the minion I'm restarting the minion and waiting for it to sign to the master and here the trouble begins.

Recently I added few server with the following ID:
101444_263102810263
102457_596102810230
And they have identify

[2018-02-05 09:37] CharlesQQ opened #45857 "configure master_job_cache: mysql, concurrent requests saltstack http api, but sometimes appear 401"
I user requests and threading to request the salt-api, but sometimes return the like this:
HTTPSConnectionPool(host='dev.salt.biz.sogou', port=9000): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000000015F6A438>: Failed to establish a  new connection: [Errno 10060] ',));

after that, I request again, return me 401; it mean

[2018-02-05 11:05] varun292006 opened #45858 "Unable to download package from Nexus repository"
### Description of Issue/Question
Unable to download package from Nexus repository

### Setup
Small stage environment with 1 master running salt-2017.7.2 and 4 windows minions

### Steps to Reproduce Issue

- Write a state as below:

[code]

- Execute the state file. This state gets executed fine on 3 minions but on fourth minion it gives the below error message:
[code]

- I am able to download th

[2018-02-05 11:34] wsw70 commented on #45728
I think I found the issue. Out of despair I decided to upgrade the linions - and I discovered that a few of them were at version 2014! I believe that this is the reason they were connecting a few times to the master.

I used the boostrap script to update them (which had all kind of issues as well, specific to raspberry) and now they report only once (checked with `/usr/bin/salt '*' cmd.run 'netsta

[2018-02-05 11:34] #45728 closed

[2018-02-05 12:44] s0undt3ch commented on #44758
I believe that at the time this was done we were facing file handles leakage and this minimized the issue. Of course, this massive negative impact was not taken into account because it wasn't seen/reported at the time.
We could revert this setting or, calculate how many file handles salt needs and lower the maximum limit when starting salt, thus reducing the performance penalty while making sure a

[2018-02-05 14:15] xmessner commented on #40788
Hi,

I have the same issue on salt 2016.11.4.

When i send a command from a master of master, for example
`salt 'minion*' cmd.run 'ls /tmp'`
Some of the minions did not return a response.

If i use this command to trace messages on all masters
`salt-run state.event pretty=True`
I can see that when minions seem not to respond, in fact response is sent to another master of master.
What is strange, i

[2018-02-05 14:29] noelmcloughlin commented on #45510
I found same problem testing a [PR](https://github.com/saltstack-formulas/postgres-formula/pull/182).  Some salt optimization breaks service.running.

**Replicating**
State `a ` (service.running watching pkg.installed) works.
State `a.remove ` (service.dead watching pkg.removed) works.
States `a.remove` and `a` running in same high.state breaks service.running: `'_The named service lakdjfla is not

[2018-02-05 14:35] wsw70 commented on #45806
OK, the ones connected via `127.0.0.1` were actually though forwarded ports (which show up as `127.0.0.1`). Thanks for the help!

[2018-02-05 14:35] #45806 closed

[2018-02-05 14:36] #44816 closed

[2018-02-05 14:59] #44978 closed

[2018-02-05 15:13] ChaosOrd opened #45860 "dockerng.image_present state fails due to CommandExecutionError"
### Description of Issue/Question
Hi,

I am trying to manage docker images via salt. I have added the following lines to my sls configuration file:

[code]

After running a state.highstate command I am getting  the following error:

[code]
### Versions Report

master:

[code]

minion:

[code]

Many thanks

[2018-02-05 16:36] #28332 closed

[2018-02-05 16:54] EvaSDK commented on #43138
Just upgraded from 2016.11 to 2017.7 and hit this as well. Is there any fix planned or should I switch to `cmd.wait` ?

[2018-02-05 17:33] lastmikoi commented on #6922
Just stumbled upon that issue under `2016.11.9`, I had an empty `/etc/sysconfig/network` out of a cloud-init instance and it  kept failing. @dsnopek's workaround worked perfectly but not before I lost a lot of time trying to troubleshoot that issue on my own :). Having either the docs or the code updated to reflect that behaviour would definitively be helpful.

[2018-02-05 18:02] rallytime commented on #45845
@terminalmage You have been making changes in the yamlloader util a lot lately. Can you look into this here?

[2018-02-05 18:04] gtmanfred commented on #45847
On debian/ubuntu pip installs put stuff in /usr/local/lib, which could cause problems if you have python2 version installed to /usr/lib.  I would not recommend having separate installs like this on the same system, as it will definitely cause problems with python trying to import from different places.

Also, your `salt-master` is probably still running the python2 version. since the service unit

[2018-02-05 18:06] gtmanfred commented on #45848
I have not seen this before but if you add this to the minion:

[code]

Does this problem go away?

Thanks,
Daniel

[2018-02-05 18:12] gtmanfred commented on #45849
cloud you try deleting this block from the `create` function?

[code]

Because that is not true anymore, provider and driver should both be specified.

If this fixes the problem I will open a PR for it.

Thanks!
Daniel

[2018-02-05 18:14] gtmanfred commented on #45850
You cannot yet, as mentioned in that issue, it would be nice to see that added.

https://github.com/saltstack/salt/issues/29081#issuecomment-249902902

I am closing this as a duplicate of that other issue.

Daniel

[2018-02-05 18:14] #45850 closed

[2018-02-05 18:20] gtmanfred commented on #45854
When you fixed the sqlite_queue_dir, did you remove the cachedir configuration?

Because the line where that error originates from is looking to verify that the cachedir exists and is owned by the correct user.

[code]

[2018-02-05 18:22] #40578 closed

[2018-02-05 18:24] gtmanfred commented on #45856
The disappearing underscore is an idiosyncracy with yaml.

[code]

What you will want to do is quote it, so that yaml does not try to "correct" it.

[code]

[2018-02-05 18:25] rallytime commented on #45833
I spoke with @twangboy about this offline. He's only able to reproduce this on windows and linux was OK. But he wasn't able to do a git bisect successfully to help narrow it down.

[2018-02-05 18:27] gtmanfred commented on #45857
Can you provide me with your configs, and possibly a way to replicate this issue?

Thanks,
Daniel

[2018-02-05 18:38] morganwillcock commented on #45643
Okay. Presumably when you tried running the service as that user, you applied the state in a console window then?

[2018-02-05 18:44] gtmanfred commented on #45860
I am unable to replicate this.

[code]

What is the `root` docker hub?

Thanks,
Daniel

[2018-02-05 18:47] gtmanfred commented on #45853
That appears to be fixed with `websocket-client` 0.44.0?

https://github.com/slackapi/python-slackclient/issues/189#issuecomment-311181341

have you tried running the code manually and checking that `rtm_connect` is returning false?

Thanks,
Daniel

[2018-02-05 18:48] gtmanfred commented on #45858
Can you provide the whole `-l debug` output when you run this state with salt-call on the minion?

Thanks,
Daniel

[2018-02-05 19:42] lahdekorpi commented on #41883
Just verified that this still exists in 2017.7.3.

[2018-02-05 19:54] lahdekorpi commented on #41883
Oops. It's an indentation issue.
[code]
is wrong.

While:
[code]
is correct.

[2018-02-05 20:37] ipmb opened #45863 "cloud.profile regression in 2017.7.3"
### Description of Issue/Question

4a77560646b50d48270d59e7078d301e6eee5f84 introduced a bug which breaks the `cloud.profile` module for me.

[code]

I think the intent was ```list(_providers.copy())```.

### Steps to Reproduce Issue

`salt-call -ldebug cloud.profile profile=my_profile names=[my_minion]`

### Versions Report

[code]

[2018-02-05 21:08] justin-sunayu commented on #44559
Looks like this was fixed with 2017.7.3!

[2018-02-05 21:08] #44559 closed

[2018-02-05 21:39] morganwillcock commented on #45643
I've tested it out and I get the same issue. I think this is because of differences between a genuine interactive session, and one which has been created from logging on a user profile and running a process with its security token. The results are definitely different, as the session ID returned inside the process is 0 (which you wouldn't get for an actual interactive logon).

So I would say this

[2018-02-05 21:42] viq commented on #45854
No, `cachedir` is still there.

[2018-02-05 21:50] viq commented on #45853
[code]

Sorry, but how would I run it manually? I don't know python well enough yet to know how the pieces go together, sorry for that.

[2018-02-05 21:55] alexpeay opened #45865 "Add 'Skip reason' for scheduled job instances that are skipped due to Max Parallel Running Jobs"
### Description of Issue/Question
With the Schedule capabilities you can set a number of Max Running Jobs, which will limit the number of jobs that can be kicked off from the specified schedule. If that limit is reached and a new instance is ready to trigger that upcoming instance will be skipped. At the moment we do not annotate the reason for the skipping of the upcoming instance.

We should pro

[2018-02-05 21:56] gtmanfred commented on #45853
basically, copy the engine file, and then copy all the code out and see if it is still able to run.

or you can add `log.critical(whatever)` to the module, and it will log the output and you can just make sure that rtm_connect is actually failing.

[code]

This should basically show you if your token works for connecting.

[2018-02-05 22:04] #44297 closed

[2018-02-05 22:06] viq commented on #45853
Thank you!
This appears to not be related to salt then:
[code]

[2018-02-05 22:06] #45853 closed

[2018-02-05 22:07] gtmanfred commented on #45854
So, the problem here is that the `master` config file does not exist in your config_dir.

If you touch `$PWD/master` This will all work.

This is the same issue as https://github.com/saltstack/salt/issues/45315

And when I get time to just double check https://github.com/saltstack/salt/pull/45330 it will be fixed.

Daniel

[2018-02-05 22:07] #45854 closed

[2018-02-05 22:10] gtmanfred commented on #45853
Well, it could be related, if we need to upgrade the way salt uses slack client, you may have run into another issue where archlinux's version is too new, and we need to make changes to cover it.

[2018-02-05 22:11] ipmb opened #45866 "Orchestrate runner crashes trying to parse highstate output"
### Description of Issue/Question

When running an `state.orchestrate`, it crashes at the end of the run with this Traceback:

[code]

I narrowed the source down to this state:

[code]

Its `tname` in the highstate outputter is just the value of the variable `test_host`, so `comp` is just a single item list. Here is the relevant output from that state during a run:

[code]

### Versions Report

I

[2018-02-05 22:22] viq commented on #45853
https://github.com/slackapi/python-slackclient/issues/289 created to check with upstream.

[2018-02-05 22:40] Nick2253 opened #45867 "Icinga2 Module uses incorrect paths"
### Description of Issue/Question
Icinga2 changed the paths for certificates starting in version 2.8.  The paths are hardcoded in the Icinga2 module, and refer to the paths for versions 2.7 and prior.

https://www.icinga.com/docs/icinga2/latest/doc/16-upgrading-icinga-2/#upgrading-to-2-8-certificate-paths

### Suggestion to Fix
We could update the module and hardcode the new paths.  However, this

[2018-02-05 22:42] gtmanfred commented on #45863
There is a fix for that, i didn't realize that this was in 2017.7 or i would have pushed for it to be fixed before 2017.7.3 got sent out.

https://github.com/saltstack/salt/pull/45742

[2018-02-05 23:01] darrenjlowe opened #45868 "LGPO No longer working"
After upgrading to 2017.7.3 on both master and minion, running salt "*MACHINENAME" lgpo.get machine return_full_policy_names=True brings back an error, on 2017.7.2 this was working

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
On salt master just run

salt "*MACHINENAME" lgpo.get machine return_full_policy_names=True

[2018-02-05 23:07] darrenjlowe opened #45869 "REG Read Not working"
After upgrading to 2017.7.3 on master and minion, reading the registry in a state no longer works

### Setup
Salt State File

{% set selectedusersid = salt['reg.read_value']('HKEY_LOCAL_MACHINE', 'SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\LogonUI', 'SelectedUserSID') %}

Disabletherestofthevisualeffects:
 reg.present:
   - name: 'HKEY_USERS\{{ selectedusersid.vdata }}\Control Panel\

[2018-02-06 01:15] dave92082 commented on #45863
This was working perfectly fine in 2017.7.2 and it broke for us on deploying a new 2017.7.3. PLEASE FIX THIS as all of our workflows depend on cloud orchestrations

[2018-02-06 02:13] CharlesQQ commented on #45857
The salt master config:
[saltstack@xxx]cat /etc/salt/master
default_include: /opt/local/saltstack/conf/master/*.conf
transport: tcp
publish_port: 4505
user: saltstack
ret_port: 4506
pidfile: /opt/local/saltstack/run/salt-master.pid
root_dir: /opt/local/saltstack
conf_file: /etc/salt/master
pki_dir: /opt/local/saltstack/pki/master
cachedir: /opt/local/saltstack/cache/master
module_dirs:
   - /opt/s

[2018-02-06 02:25] CharlesQQ opened #45871 "We use two salt-master, when one of the salt-master down, some salt-minion deamon also down;"
We use two salt-master, when  one of the salt-master down, some salt-minion deamon also down, but other salt-minion deamon connect all the time, the count of salt-minion about 1000;

[saltstack@xxxx~]$ /opt/local/saltstack/python/bin/salt --versions-report
Salt Version:
           Salt: 2017.7.0

Dependency Versions:
           cffi: 1.10.0
       cherrypy: 10.2.1
       dateutil: Not Installed

[2018-02-06 02:27] CharlesQQ commented on #45871
the salt master config:

[saltstack@xxxx~]$ cat /etc/salt/master
default_include: /opt/local/saltstack/conf/master/*.conf
transport: tcp
publish_port: 4505
user: saltstack
ret_port: 4506
pidfile: /opt/local/saltstack/run/salt-master.pid
root_dir: /opt/local/saltstack
conf_file: /etc/salt/master
pki_dir: /opt/local/saltstack/pki/master
cachedir: /opt/local/saltstack/cache/master
module_dirs:
   - /

[2018-02-06 07:54] syphernl commented on #43340
@rallytime Seems like this is still an issue with 2017.7.3. Our minions died after an upgrade and required manual intervention to come back up.

[2018-02-06 09:14] guettli opened #45872 "Typo in docs fixed since 9 months"
### Description of Issue/Question
I found a typo in the docs:

[code]
There is missing a ":" after "installed".

I started to create a pull request, but then realized, that this was already fixed since May 2017: https://github.com/saltstack/salt/commit/bf7a0076ddbc0dfe02ec07b2278d08dc2b5ca1b7

AFAIK the latest release is younger then 9 months.

[2018-02-06 09:22] otm1 opened #45873 "file.recurse - Unable to manage file: 'charmap' codec can't decode byte 0x81 in position 6107: character maps to <undefined>"
When using file.recurse I get the following error on some of the files:
`Unable to manage file: 'charmap' codec can't decode byte 0x81 in position 6107: character maps to <undefined>`

I had this error on salt master 2016 and i upgraded to 2017.7.2 in hopes that it would resolve the issue.

My SLS file looks like this:
[code]

I have tried using different encodings like ascii and latin-1 by using

[2018-02-06 09:22] #44960 closed

[2018-02-06 09:23] otm1 commented on #44960
Did not know how to unblock the issue. Created new issue #45873

[2018-02-06 09:42] AmiramMaimon commented on #45856
Hey,

Thank you for the response, it worked like a charm.

Amiram

[2018-02-06 09:42] #45856 closed

[2018-02-06 09:43] Marx1st commented on #43340
I can confirm this. 2017.7.3 craps out on Ubuntu 16.04 and Debian 8+9, again... :(

[2018-02-06 09:49] ChaosOrd commented on #45860
It looks like another interferes with "docker_image.present". When I apply this state separately, everything seems working. But when I run the state.highstate command which applies lots of other states, then the error occurs. I will try to find the exact state causing the problem.

[2018-02-06 09:52] amalleIntesens commented on #44334
Sorry about response time, this issue slipped from my watch.

I am still able to reproduce the issue.

The only difference I can see is that you use 'salt-call' on the minion so I tried it and it worked.

Using 'salt-call' on the minion did pull the image that I could not pull using 'salt' from the master.

I still have the issue when I apply the state from the master.

I am not sure what the diff

[2018-02-06 10:39] varun292006 commented on #45858
Hi Daniel,

Thanks for the reply.

I was able to download the package using salt-call but from salt-master I
still encounter failure.

I have pasted the logs in pastezone, please find the link below:
https://paste.debian.net/1009012/    (package doesn't exist)
https://paste.debian.net/1009013/    (package is existing)

BR,
Varun

On Mon, Feb 5, 2018 at 7:49 PM, Daniel Wallace <notifications@github

[2018-02-06 11:09] damon-atkins commented on #45868
@lomeroe  @twangboy  This may also impacted on 2016.11

[2018-02-06 11:13] damon-atkins commented on #45868
@darrenjlowe  what is the policy name please.  Is it English? What Language is the Windows Install?

This may also be #42278 `salt logging with plain str (ascii) with unicode chars causes UnicodeDecodeError PY2`

[2018-02-06 11:15] damon-atkins commented on #42278
@Ch3LL  Please remove the Info Needed Label

[2018-02-06 11:57] wmariuss commented on #28440
I will close this one. New one was opened and seems to be the same. Also the new one has more examples.
[34645](https://github.com/saltstack/salt/issues/34645)

[2018-02-06 11:58] #28440 closed

[2018-02-06 13:39] AmiramMaimon opened #45875 "Is it possible to check if minion grain in pillar file in the top.sls ?"
Hey,

I would like to run the top.sls file on servers that does not appear in a pillar file.
Meaning, I have pillar file that contain a list to servers (yaml format) that I don't want to apply configuration now.
The file looks like this:
band_servers:
  server1:
    name: real_server1_name
  server2:
    name: real_server2_name

Now, I would like to perform a query on this file before running the

[2018-02-06 13:53] hedrickbt opened #45876 "Unable to use mako for file.managed template due to urlparse import with Python 3"
### Description of Issue/Question
Using the mako template engine on a Windows salt minion with file.managed fails.  I have tested with both Salt-Minion-2017.7.1-Py3-AMD64-Setup.exe and Salt-Minion-2017.7.3-Py3-AMD64-Setup.exe on Windows 2016 64bit.

Error:
machine.fqdn.com:
----------
          ID: instana-win-conf
    Function: file.managed
        Name: c:\Program Files (x86)\Instana\instana-age

[2018-02-06 14:10] gtmanfred commented on #45860
Perfect, thanks

[2018-02-06 14:14] gtmanfred commented on #45872
The change was made in develop, so it will be in the Oxygen docs once they are out https://github.com/saltstack/salt/pull/41017

In the future, it would be best to submit doc fixes to the branch they are being fixed for. So in this case, 2016.11 or 2017.7

[2018-02-06 14:58] gtmanfred commented on #43340
I am testing on debian 9, and I am unable to replicate this.

[code]

Can you provide the output you were seeing during the upgrade in the minion logs?

Thanks,
Daniel

[2018-02-06 15:06] Marx1st commented on #43340
`2018-02-06 16:04:08,472 [salt.minion      ][INFO    ][1568] User root Executing command pkg.upgrade with jid 20180206160408455420
2018-02-06 16:04:08,516 [salt.minion      ][INFO    ][12062] Starting a new job with PID 12062
2018-02-06 16:04:08,697 [salt.loader.salt.zim.uni-wuppertal.de.int.module.cmdmod][INFO    ][12062] Executing command ['dpkg-query', '--showformat', '${Status} ${Package} ${Ve

[2018-02-06 15:08] gtmanfred commented on #45858
I do not see this error in the logs.

[code]

Infact, it looks like it is working there, can you provide me with the debug log when it is not working?

Thanks,
Daniel

[2018-02-06 15:18] Nick2253 commented on #31862
My understanding is that this issue still exists.  If @rhansen and the REQ Channel Documentation is correct, I feel like this is an important caveat.

Furthermore, I did some additional digging, and `[module.event.send](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.event.html)` also uses the `.send()`.  This means that any pillar data sent via an event is also exposed to all ot

[2018-02-06 15:24] gtmanfred commented on #43340
Here is my whole trace log of it working https://gist.github.com/gtmanfred/0719ca5c4fac2b3a67cfcddf61bfb3a6 unfortunately i still cannot replicate this

If you have a machine that is still on 2017.7.2 on can you open /usr/lib/python2.7/dist-packages/salt/modules/aptpkg.py and add `use_vt=True` to the cmd.run_all on line 1065

[code]

And then restart the salt-minion and run the upgrade?

Thanks,
D

[2018-02-06 15:35] #45872 closed

[2018-02-06 15:46] gtmanfred commented on #44334
Ahh i see what you mean.

So fyi, looking at the code, what it does is this
[code]

Based on that note, it still pulls the image, but it reports that nothing was pulled because nothing actually changed.  It knows this because the image id remained the same before and after the pull.

So it is just reporting that nothing changed, even though it pulled the image.  This is reporting the correct statu

[2018-02-06 15:53] terminalmage commented on #45873
This is fixed in the upcoming Oxygen release as part of a larger effort toward better unicode handling.

[2018-02-06 15:56] Marx1st commented on #43340
Hi,

strange behavior:

[code]
BUT, the update did finish successfully and the minion is running!

[code]

[2018-02-06 16:05] gtmanfred commented on #43340
What is in the /var/log/salt/minion debug log when you have that use_vt enabled? it should show all the apt-get output in there

Daniel

[2018-02-06 16:10] terminalmage commented on #45860
@ChaosOrd This seems like an upstream bug. The reason I say this is that docker-py is supposed to raise its own exceptions when an API call encounters an error. The line in Salt that is raising the traceback you're seeing only happens when an exception other than one of docker-py's is raised.

That's a relatively old version of docker-py, so this could be an upstream bug that has since been fixed.

[2018-02-06 16:15] darrenjlowe commented on #45868
@damon-atkins the above command should check all Group Policy settings and return anything that is configured, the machines being checked are all English (U.S.)

[2018-02-06 16:29] garethgreenaway commented on #45876
@hedrickbt Thanks for the report.  Looks like the mako template needs to be updated to include support for Python3.  We would welcome a PR to include this.

[2018-02-06 16:40] wsw70 commented on #45847
@gtmanfred Thanks - this is the reason. Is there a way to install the Python3 version then? I tried via `apt` (installs the Python 2 version) and via the bootstrap script (which  also installs the python 2 version). Should I then remove them and leave the `pip3`-installed one?

[2018-02-06 16:44] gtmanfred commented on #45847
We are going to have python3 packages for oxygen release which is our next major release.  And it should be much more stable as a python3 release.

Personally i would not run python3 until the oxygen release.  But if you have to run it, i would not use bootstrap or apt, use a clean machine and pip3 install it.  Then copy the /etc/systemd/system scripts, and then the config files to /etc/salt/.

[2018-02-06 16:50] garethgreenaway commented on #45873
Going to close this out since it's covered by the recent unicode efforts that went into Oxygen.

[2018-02-06 16:50] #45873 closed

[2018-02-06 16:52] terminalmage commented on #45845
@gtmanfred This doesn't look like a Salt bug at all. It's telling you exactly what is wrong, there is a duplicate ID called `mysqldump`. Check lines 306 and 358 of the defaults.yaml, there are two `mysqldump` keys there.

We could perhaps provide an error that doesn't expose the traceback, though.

[2018-02-06 16:53] wsw70 commented on #45847
Thank you - all is clear now. Since all our scripting is Python 3 I will go the `pip3` way for now, awaiting the oxygen release (and, should you be interested - feedback on possible issues)

[2018-02-06 16:53] #45847 closed

[2018-02-06 17:02] garethgreenaway commented on #45867
@Nick2253 Thanks for the report.  The paths should definitely be configurable with defaults based one standard locations.  If there is a way to determine the version of icinga2 installed, perhaps with a CLI argument to a binary, that would be one way to determine the appropriate default locations by version.  And we would definitely welcome a PR with this fix.  Thanks!

[2018-02-06 17:06] nickgarber commented on #40975
I'd be happy to help implement it, though I'd require some tutelage and direction.

[2018-02-06 17:08] garethgreenaway commented on #45863
@ipmb Thanks for the report.  We'll get this fix backported for 2017.7.4.

[2018-02-06 17:11] gtmanfred commented on #45845
bah, yeah it looks like we are actually finally handling it correctly now.  It would be helpful to mark the line.

I swear i looked through this file a just didn't see those ones.  But it also looks like we just skipped over this error in older versions.

I will fix the formula

Thanks,
Daniel

[2018-02-06 17:32] garethgreenaway commented on #45869
@twangboy Any ideas on this one?

[2018-02-06 17:46] ferringb commented on #35070
@akissa when you have a chance, take a look at the PR I opened please.  A rewrite of that module is most definitely warranted, but fixing this particular issue doesn't require it- it just requires a minor bit of sql.

[2018-02-06 17:47] frogunder commented on #45023
Tried this again on the head of Oxygen.rc1 (fcf8a36a4aa61ea017846a278b7fbfcceefa1d14) and I get the authentication error. I do not see the other error only the authentication error.
[code]
In the master log
[code]
[code]

[2018-02-06 17:53] garethgreenaway commented on #45875
@AmiramMaimon Thanks for the question.  What you want to accomplish above should be possible, you'll just need to ensure that that pillar value that contains the list of servers is available to all minions or in the pillar get ensure there is a default which is an empty list.  Something like this:
[code]

[2018-02-06 18:04] garethgreenaway commented on #45871
@CharlesQQ Thanks for the report.  In your minion config, ensure that the `master_type` option is set to `failover` so that the minion will try each one until it finds one that it is able to connect to.
https://docs.saltstack.com/en/latest/ref/configuration/minion.html#master-type

[2018-02-06 18:16] phsteve opened #45881 "schedule.present state fails on Windows when highstate itself is run via a schedule"
### Description of Issue/Question

When a Windows minion runs a highstate triggered by the scheduler, it logs the following error when it tries to ensure an additional schedule is present:

[code]

The error does not occur if a highstate is kicked off by `salt-call state.highstate` on the minion or `salt 'minion_id' state.highstate` on the master.

### Setup
(Please provide relevant configs and/or

[2018-02-06 18:18] garethgreenaway commented on #45866
@ipmb Thanks for the report.  Definitely looks like a bug and looks like we should be checking that the `comps` list is at least 2 elements deep before the comparision.

[2018-02-06 18:23] rallytime commented on #45023
@frogunder This looks similar to the fix in https://github.com/saltstack/salt/pull/45811, but that fix isn't _quite_ right for this problem. I have assigned this to @gtmanfred to look into. Thanks!

[2018-02-06 18:27] garethgreenaway commented on #45881
@phsteve Thanks for the report.  Based on the output above it appears that the event that is fired to add the item to the scheduler is not returning as expected, the fact that you're seeing that particular process take 30 seconds to complete means that it's hitting the time out.  Are you able to use the Salt event runner to see if events are hitting the event bus as expected?
`salt-run state.event

[2018-02-06 18:34] darrenjlowe commented on #45869
If I run from the salt master

salt "MACHINENAME" reg.read_value HKEY_LOCAL_MACHINE 'SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\LogonUI' 'SelectedUserSID'

The Following is returned

    ----------
    comment:
        Cannot find SelectedUserSID in HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\LogonUI
    hive:
        HKEY_LOCAL_MACHINE
    key:

[2018-02-06 18:51] phsteve commented on #45881
@garethgreenaway good suggestion on watching the event bus... I'm a bit puzzled by what I'm seeing in this case.

During the successful (i.e. non-scheduled) highstate I see the following in the logs, suggesting that the event returned successfully:

[code]

... but I don't see an event at 18:32:26 on the event bus.

[code]

And then, during the scheduled highstate, I see the same "Failed to add jo

[2018-02-06 19:00] Nick2253 opened #45882 "Canonical solution for securely transferring data between minions"
## Description of Question
I've been trying to determine the canonical solution to the following problem:
- Generate secure data on a first minion.
- Pass the secured data from the first minion to a second minion.

An example of this process is generating a Let's Encrypt certificate from a web-accessible client (first minion) for a web-inaccessible client (second minion), and passing the certifica

[2018-02-06 19:11] varun292006 commented on #45858
Hi Daniel,

Just to be clear, the state execution works fine using salt-call but the failure is encountered when executing it from salt master and I want to execute it from salt master.

Please find the failure log in the link below:
https://paste.debian.net/1009099/

BR,
Varun

[2018-02-06 19:12] lomeroe commented on #45868
@darrenjlowe is the log level on your minion set to debug? (since it seems to be barfing on a debug log statement).

On a fresh 2016 server, I'm able to run the command successfully (even with debug on).  Would you mind adding this at line 5046 and re-running?

[code]

That should give us which registry policy is having an issue.  Either way, the debug statement might need  to better handle the va

[2018-02-06 19:19] darrenjlowe commented on #45868
@lomeroe the minion is Windows 10 and not Server 2016, although it should not make any difference, it might....

Will look at adding debug option

[2018-02-06 19:22] lomeroe commented on #45868
@darrenjlowe right, I don't have quick access to any Win10, I should have noted that in my response as to why I used 2016.

[2018-02-06 19:23] gfyrag commented on #45197
@gtmanfred This behavior is recent?
I have a configuration with this kind of config (same branch map on differents env) and until today (upgrade from debian jessie to stretch), it was working as expected.

[2018-02-06 19:28] tintoy opened #45884 ""TypeError: can't serialize <NodeImage" when calling salt-cloud with the dimensiondata driver"
### Description of Issue/Question

Hi.

When running `salt-cloud -p ubuntu_dimensiondata test3`, I see the following error:

[code]

I'm sure I've seen this work before, but it fails reliably now (even, as mentioned, on a clean machine).

Let me know if missed anything :)

Thanks,

Adam.

### Setup

The full log:

[code]

### Steps to Reproduce Issue

The error was originally reported to me for th

[2018-02-06 19:33] tintoy commented on #45884
BTW, the error occurs even if I don't `pip install --upgrade` to get the latest `libcloud` and dependencies.

[2018-02-06 20:08] eapugo commented on #21986
Still no update on this? This is making Orchestration extremely difficult since grains are pretty critical and unique to hosts for deploying clustered or distributed services

[2018-02-06 20:14] Marx1st commented on #43340
It looks like this (but that was the half way successful update):

[code]

[2018-02-06 20:18] neilehavens commented on #44299
This problem is still present in version 2017.7.3.  A state.apply for a yum pkgrepo.managed repo with comments indicates that the repo configuration will be changed even if the comments are already present. Running the state.apply actually updates the file (even if it doesn't need to be updated).

I'm happy to do the work if someone from the Salt team can tell me what they would like done.  Do we

[2018-02-06 20:25] terminalmage commented on #45845
#45885 gets rid of the traceback and adds context to the YAML error.

[2018-02-06 20:26] #45845 closed

[2018-02-06 20:34] wongster80 commented on #42700
Hi, any momentum on this fix?

[2018-02-06 20:39] terminalmage commented on #45197
@samilaine Your example configuration above is not using the documented syntax. You did not specify a `ref` for it to point to, so it is likely just being ignored (hence only `base` showing up when listing the envs).

The `name` line is being ignored because it is not a recognized parameter for per-saltenv configuration.

This would be the correct usage, based on your example (and assuming the def

[2018-02-06 20:50] frogunder opened #45886 "SALT.MODULES.WIN_PKG - UnicodeEncodeError"
### Description of Issue/Question
Trying to run the `salt.modules.win_pkg` fails on `oxygen.rc1`.
See this:
[code]

### Setup
WIndows minion and linux master.

### Steps to Reproduce Issue
Try to run `salt.modules.win_pkg`commands from the master to the win minion and it will fail.
[code]

### Versions Report
[code]

[2018-02-06 20:57] tintoy commented on #45884
Looking at the code for other drivers, it looks to me like perhaps the problem is that the `dimensiondata` driver is passing an object (e.g. `NodeImage`) to `fire_event`?

https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/dimensiondata.py#L248-L268

I see that (for example) the `digitalocean` driver passes only primitive types to `fire_event`:

https://github.com/saltstack/salt/blob

[2018-02-06 21:12] gtmanfred commented on #43340
Ok, i have been able to replicate that, the problem is the fact that the `KillMode=process` is not in place when the debian scripts do what they do, which is stop the services before laying down the files, then start it again after laying them down.

This should be fully fixed with the next upgrade, but I will make sure that it gets tested and is verified that it will work starting with 2017.7.4

[2018-02-06 21:53] twangboy commented on #45868
I am unable to reproduce this issue. Could you send me a copy of the `Registry.pol` file?

You can find it in:
[code]

My email:
slee@saltstack.com

[2018-02-06 22:03] tintoy commented on #45884
I came up with the following code which works (although packing the objects directly does not):

[code]

[2018-02-06 22:05] rallytime commented on #45886
@twangboy Can you look into this?

[2018-02-06 22:13] tintoy commented on #45884
I _think_ this would fix the problem:

https://github.com/saltstack/salt/compare/develop...DimensionDataResearch:fix/issue/45884

Should I open a PR?

[2018-02-06 22:46] groggemans commented on #32253
@sjorge @Ch3LL This is what I was talking about this afternoon when compared to puppet modules or ansible roles. (Although when I first looked at Salt, SPM didn't exist, and it seems to go in the right direction)

I share a lot of @johnkeates's ideas/concerns. If it's part of enterprise (?), I do hope it comes to open-source. I think it could give a big boost to the Salt adoption.

[2018-02-06 22:48] twangboy commented on #45869
OK. I've had a chance to take a look at this. Here's what I've found. I haven't been able to reproduce this in the same way. Passing `SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\LogonUI` never works for me, whether on 2017.7.2 or 2017.7.3. So, I don't know how this is working for @darrenjlowe. Here's the output:
[code]
So, I tried passing `SOFTWARE\\Microsoft\\Windows\\CurrentVersion\

[2018-02-06 23:04] gtmanfred commented on #45882
Have you looked at vault + sdb?

I would generate the certificate, and store it in sdb, and then put it under a role so that only certain minions can directly access it.

You can also use something like https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.sdb.html#salt.modules.sdb.get_or_set_hash to generate a shared password between a bunch of minions, so they can all access it.

Ano

[2018-02-06 23:15] #28391 closed

[2018-02-06 23:18] LumbaJack commented on #6896
👍

[2018-02-06 23:19] jubrad opened #45889 "minion matches all grain/pillar/mine targets after key deletion (open_mode)"
### Description of Issue/Question
It would appear that if a minions cache is empty on the master the master may target the minion in cases that targeting shouldn't apply to it. This is a bit of a throw back/old version. We're using 2016.11.6 (updating soon) and have noticed this issue in a somewhat contrived scenario where `open_mode` is enabled and a minion-key is deleted while the minion is stil

[2018-02-06 23:25] nhavens commented on #33928
My process to work around this missing feature was:

1. Delete both keys (one Accepted and one Denied) for the minion from the master.
2. Restart the salt-minion service on the minion. Now, its new key will be listed as Unaccepted instead of Denied on the master.
3. Accept the new key on the master.

[2018-02-07 00:14] Nick2253 commented on #45882
I've looked at Vault, and it definitely is the direction I'd go if you needed to manage lots of credentials, but that's another piece of third-party software to manage.  The goal was to do this all with Salt.  If you have to manage separate credentials and ACLs, that defeats the purpose, and you might as well just run a secure file host (like git) on the first minion.

Again, third-party software,

[2018-02-07 00:15] #28507 closed

[2018-02-07 00:17] sjorge opened #45891 "docs example for x509.get_pem_entries seems wrong"
### Description of Issue/Question
[code]

The example mentions read_pem_entries while the function is called get_pem_entries.

### Setup
N/A

### Steps to Reproduce Issue
Check the docs at https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.x509.html

### Versions Report
N/a

[2018-02-07 02:54] CharlesQQ commented on #45871
I know, but if I don't use option   master_job_cache: mysql, it's works OK

[2018-02-07 05:16] dwoz commented on #36802
@twangboy Based on our conversation today, I think the root of this issue is a call to minionfs's [file_list](https://github.com/saltstack/salt/blob/2016.11/salt/fileserver/minionfs.py#L224) method which run's on he master returning unix style paths. Windows minions call while generating keep. This happens in the[ recurse method](https://github.com/saltstack/salt/blob/2016.11/salt/states/file.py#L

[2018-02-07 07:51] terminalmage commented on #45473
Done in #45892

[2018-02-07 08:58] CrackerJackMack opened #45893 "archive.extracted ValueError "No path specified" in 2017.7.3"
### Description of Issue/Question
`archive.extracted` seems to be broken in 2017.7.3 w.r.t cached values.  [Debug log](https://gist.github.com/CrackerJackMack/c77370ff8fb8b242c7be7dcef4ad0389) shows the error manifesting in 2017.7.3.  This issue is **not** present in 2016.11.9.  Both versions were released on Feb 5th 2018.   I've been developing a new salt infrastructure just using "stable" with t

[2018-02-07 08:59] PhilippeAB commented on #30422
I was stuck few hours on this problem too, the salt doc does not specify the file format.
Did not find it in the dnspython either.
looking at the code, i figured out it should be json

{ "yourdomain.": "your key" }

don't forget the final '.' on your domain

[2018-02-07 10:22] rdoursenaud commented on #11276
Issue still valid. Please reopen.

[2018-02-07 10:28] damon-atkins commented on #45886
Try pkg.refresh_db first, although it should have done this.  Can you install PY3 please and try it as well.

[2018-02-07 10:58] dumol commented on #44086
2017.7.3 fixes this for me.

[2018-02-07 11:17] rosscdh commented on #31538
+1 happening here too (Nitrogen)

[2018-02-07 12:00] dumol commented on #45142
As discussed in #45345, the above construct is not actually supported, but here's another one that generates the same error on MacOS (but works fine on a plethora of Linux distros, FreeBSD and OpenBSD) :
[code]
`gid`, the default group id should also accept a group name, according to https://docs.saltstack.com/en/latest/ref/states/all/salt.states.user.html#salt.states.user.present.

[2018-02-07 14:39] rallytime commented on #44086
@dumol Thanks for confirming. I'll go ahead and close this.

[2018-02-07 14:39] #44086 closed

[2018-02-07 14:42] #45473 closed

[2018-02-07 15:03] #21394 closed

[2018-02-07 15:03] #28452 closed

[2018-02-07 15:31] amendlik opened #45895 "states.file.managed returns empty changes dict in test mode"
### Description of Issue/Question
The `file.managed` state function often returns an empty `changes` dict when run with `test=true`. In fact, the only time a non-empty `changes` dict is returned is when there will be a change to the file content. All other managed changes (e.g. owner, group, mode) will return an empty `changes` dict, which causes several requisites to misbehave, including `wait`,

[2018-02-07 16:14] gtmanfred commented on #45882
That is the point of sdb though, to be able to put secure data where other minions can see and access it.

If you have to use a salt system, you could use publish.publish and allow only specific minions to run commands on the first minion to get the data back, but that puts a lot more load on the server.

[2018-02-07 16:14] darrenjlowe commented on #45868
Looks like from a command line from a salt master trying to run the following also does not work

---------------

salt "MACHINAME" reg.read_value HKEY_LOCAL_MACHINE 'SOFTWARE\Microsoft\Windows\CurrentVersion\Authentication\LogonUI' 'SelectedUserSID'
---------------

Even with double escape characters

-----------

MACHINENAME:
    ----------
    comment:
        Cannot find SelectedUserSID in HKE

[2018-02-07 16:26] jellisii commented on #45893
Can verify, have the same problem.
## Setup
I have no custom config on the minion, but the minion is running Ubuntu 16.04, where as the master is running Ubuntu 14.04.  I've redacted the rest of this state file because it holds no bearing on the problem at hand.

[code]

## Steps to Reproduce Issue

- [Debug log](https://gist.github.com/jellisii/3bbb82ccfda5a331c69950b473b6b410)

## Versions Repor

[2018-02-07 16:34] justin-sunayu commented on #12803
+1 Triggering scripts to work around this.

[2018-02-07 16:45] frogunder commented on #45886
On a py3 setup it is working correctly, so it seems it is only failing on a py2 setup.

Running pkg.refresh_db command worked but it I still get the error when trying to run other commands.

[code]

Running minion in debug mode, this is what I see:
[code]

[2018-02-07 16:57] darrenjlowe commented on #45868
@lomeroe I enabled debug logging and added "log.debug('LOOK AT ME: policy {0}'.format(policy_name))"

2018-02-07 08:48:43,892 [salt.minion      :1324][INFO    ][7268] User root Executing command lgpo.get with jid 20180207084846218556
2018-02-07 08:48:43,892 [salt.minion      :1330][DEBUG   ][7268] Command details {'tgt_type': 'glob', 'jid': '20180207084846218556', 'tgt': '*vdi*', 'ret': '', 'user'

[2018-02-07 16:59] darrenjlowe commented on #45868
@twangboy email sent

[2018-02-07 17:06] darrenjlowe commented on #45869
@twangboy with a double backslash from a salt master

salt "MACHINENAME" reg.read_value HKEY_LOCAL_MACHINE 'SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Authentication\\LogonUI' 'SelectedUserSID'

MACHINENAME:
    ----------
    comment:
        Cannot find SelectedUserSID in HKEY_LOCAL_MACHINE\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\Authentication\\LogonUI
    hive:
        HKEY_LOCAL_MACH

[2018-02-07 17:20] Reiner030 commented on #45893
yes, I can confirm this bug for Debian Stretch.

"You made my day" - every time you publish an update ...
I tested extensive Saltstack changes / justify of packages/states for some weeks to upgrade from Jessie to Stretch with all needed external repos/packages and was finally succesfull setup my instances several time in one run only.
Then today my CTO was checking my setup so we can next weeks ro

[2018-02-07 17:23] gtmanfred commented on #45884
I would love to see that opened as a PR, and then we can discuss it over there.

Thanks!
Daniel

[2018-02-07 17:24] gtmanfred commented on #45884
it looks like the same problem may exist against 2017.7, could you open the PR against that, and we will merge the fix forward to the other branches?

https://docs.saltstack.com/en/latest/topics/development/contributing.html#merge-forward-process

Thanks,
Daniel

[2018-02-07 17:30] twangboy commented on #45833
After updating to the latest Oxygen (1bd38fb3b7), I now get a stacktrace... repeatedly...:
[code]

[2018-02-07 17:35] darrenjlowe commented on #45869
@twangboy

I think I worked this out, I downloaded the 32bit version of Salt Minion installer instead of 64bit, once installed 64bit, this looks to work as expected, even with single backslash

[2018-02-07 17:35] #45869 closed

[2018-02-07 17:38] gtmanfred commented on #45889
So, it is not actually sending the data to the minion.

What you see on the commandline is that since there is no minion grains cache, the master has to guess that maybe that minion could respond for that request.  So it will wait for a return from that minion.

SInce it is in open mode, even though you have deleted the key, the minion is still attached to the master and can listen to the pub bus,

[2018-02-07 17:38] #45889 closed

[2018-02-07 17:46] gtmanfred commented on #45891
Yup, that looks like it is just a typo.

Would you mind opening a PR to fix it?

Thanks,
Daniel

[2018-02-07 18:01] DmitryKuzmenko commented on #45833
I've seen all these problems. I've already done the corresponding changes and will have a PR tomorrow, I expect.

[2018-02-07 18:08] gtmanfred commented on #45893
Unfortunately I am unable to replicate either of the examples that have been provided :/

https://gist.github.com/gtmanfred/95697af8f217153dba92da1fa7eb71e3

Can you provide us with any other information on what to run to replicate this issue?

@terminalmage can you take a look at this?

Thanks,
Daniel

[2018-02-07 18:15] CrackerJackMack commented on #45893
@gtmanfred I don't know the significance here, but I was testing states with `salt-call state.apply` on the minion (not a masterless setup FYI)

[2018-02-07 18:18] gtmanfred commented on #45893
I tested with salt-call as well, and got the same result.

[2018-02-07 18:19] V3XATI0N opened #45900 "ext_pillar is an opaque black box that's impossible to troubleshoot"
### Description of Issue/Question
When encountering issues with ext_pillar (specifically git pillar), it's basically impossible to trace the issue since nothing related to git pillar logs anything anywhere until it hits an error. This should be fixed.

### Steps to Reproduce Issue
1. Use git pillars
2. Have an error or unexpected behavior somewhere
3. Try to find out what precisely the ##### is go

[2018-02-07 18:20] gtmanfred commented on #45895
@saltstack/team-core can i get some comments on what the plans are for pchanges?

Because a good point is brought up here, it isn't used everywhere yet, and I am not aware of any active effort to expand on it.

Thanks,
Daniel

[2018-02-07 18:23] jubrad commented on #45889
This makes sense I assumed it worked in a similar way, although, I assumed the master would make the opposite assumption [ that the minion would not be responding ]. If this is expected behavior that's great to know. Just hoping this ticket will be helpful to the next person experiencing this.

[2018-02-07 18:25] terminalmage commented on #45893
@CrackerJackMack Can you run a `cp.is_cached https://github.com/wkhtmltopdf/wkhtmltopdf/releases/download/0.12.4/wkhtmltox-0.12.4_linux-generic-amd64.tar.xz` and see if it returns the cached path?

@jellisii Can you run a `cp.is_cached salt://files/rkhunter-1.4.4.tar.gz` and see if it returns the cached path?

[2018-02-07 18:27] gtmanfred commented on #45889
yeah, the reason it just assumes that the minion would return because it is assumed that it would be better to wait for a return if it might come, then to just exit once we have the other that itknows will return.

Because all the master does is put the job on the pub bus, and then the minions pick it up, see if they match, and then run the job.  and then the master sends saltutil.is_running to ch

[2018-02-07 18:27] jellisii commented on #45893
[code]

[2018-02-07 18:42] kislik opened #45901 "Import map.jinja from gitfs_remotes (TemplateNotFound: salt://nginx/conf/map.jinja)"
### Description of Issue/Question
Can i import variable inside state from map.jinja? If it store map.jinja in "salt://" path?
**BUT**:

[code]
### Setup

`{% from "salt://nginx/conf/map.jinja" import nginx %}
`

### And i get
[code]

### Versions Report
2016.11.3+ds-1

[2018-02-07 18:53] gtmanfred commented on #45901
imports in jinja need to be full paths, they cannot be salt://paths.

If you want to use salt:// you will need to use cp.cache_file for that.

[code]

[2018-02-07 18:53] #45901 closed

[2018-02-07 19:02] sjorge commented on #45891
Looks like someone beat me too it, I check checked the file in develop and it's fixed.
It needs a backport, but I'm not sure how those are done.

The commit is ```2cf9e10672427735f344162b3a19669395b74f22``` it is relatively recent too. So not sure if it made it into Oxygen either.

[2018-02-07 19:06] terminalmage commented on #45893
Ahh, you had `keep: False`, so it would have deleted the file at the end of the state anyway. But I figured it out.

What's happening here is that 2017.7.3 changed how we managed cached archives to avoid repeated downloads for remote files. So we use a newly-added state called `file.cached` to ensure the file is present in the minion file cache. Afterward, we use [cp.is_cached](https://docs.saltst

[2018-02-07 19:10] BenjaminSchiborr opened #45903 "Displaying only errors for job"
This is a question/possible story, *not* an issue.

As a developer I want to be able to efficiently debug possible problems that happened during execution of a highstate/state.

Ways of doing this are by e.g. locally logging to a file and skimming the file or by reading the output of ```state.highstate``` or ```state.apply``` (and restricting the output using additional parameters).

In my use cas

[2018-02-07 19:11] samodid commented on #44553
I could propose to add one more recuse type - silent  here

https://github.com/saltstack/salt/blob/ed60fbb3318b26893a85c14b08cc15687275a5c7/salt/states/file.py#L2581

and in case if option set shrink ret['pchanges']   here https://github.com/saltstack/salt/blob/ed60fbb3318b26893a85c14b08cc15687275a5c7/salt/states/file.py#L3040

[2018-02-07 19:14] rallytime commented on #45891
@sjorge I have labeled the PR to be backported. Thanks!

[2018-02-07 19:14] #45891 closed

[2018-02-07 19:29] CrackerJackMack commented on #45893
@terminalmage thanks for the super quick turn around! I can confirm the fix works with the instructions provided.  I don't know if this warrants a hotfix release or what the policy is related to break fixes but super easy to back out as you state.

[2018-02-07 19:30] jasperla commented on #33248
@avb76 I just noticed this issue, you may want to have a look at the new module I've proposed in #45905 to see if it works on FreeBSD too.

[2018-02-07 19:35] twangboy commented on #45868
@darrenjlowe Taking a look

[2018-02-07 19:40] gtmanfred commented on #45903
There is not, when you query the job, it returns all the job data, you would have to then take that data yourself and pass it through the highstate outputter.

Probably the best way would be to use the RunnerClient, and just use python directly to parse the data for what you want.

https://docs.saltstack.com/en/latest/ref/clients/index.html#salt.runner.RunnerClient

[code]

This doc shows what the

[2018-02-07 19:40] terminalmage commented on #45893
@CrackerJackMack Thanks for the confirmation. Sorry about this, I always try to take care to code for edge cases and this one was frustrating to have missed. I am in the process of adding an automated test though to ensure this doesn't regress again in the future.

[2018-02-07 19:41] jellisii commented on #45893
Workaround works as expected.  Thanks for the heads up @terminalmage and the quick response @CrackerJackMack

[2018-02-07 19:55] BenjaminSchiborr commented on #45903
@gtmanfred: Thanks a lot. I think this will already help.

Just to have it asked. Is there a way of piping the output of ```lookup_jid``` into a shell command equivalent of ```salt.output.display_output```

[2018-02-07 19:59] #28532 closed

[2018-02-07 20:10] gtmanfred commented on #45903
you could potentially write a salt runner module that does that, but i would have to fiddle with it for a while, which i unfortunately...

actually one second

[code]

and then you can put it in `salt://_runners/whatever.py`

and call `salt-run saltutil.sync_runners`

And you should then be able to run `salt-run whatever.test <jid>`  you can change the module name and the function name to get it t

[2018-02-07 20:14] BenjaminSchiborr commented on #45903
@gtmanfred

Haha. I love it!

Thank you so very much. This is a perfect solution for us.

[2018-02-07 20:16] gtmanfred commented on #45903
Cool, no problem I am going to close this issue then.

Thanks!
Daniel

[2018-02-07 20:16] #45903 closed

[2018-02-07 20:39] terminalmage commented on #45893
Regression test added to the pull-request: https://github.com/saltstack/salt/pull/45902

[2018-02-07 20:57] dave92082 commented on #44142
Is there a timeline for this fix?

[2018-02-07 21:02] patrickpierson commented on #44062
Seeing the same in an Amazon linux instance:

[code]

[2018-02-07 21:28] lorengordon opened #45910 "2016.11.9: UnicodeDecodeError traceback in reg.present"
### Description of Issue/Question

Was testing 2016.11.9 and am getting tracebacks when attempting to write binary data to the registry using reg.present. It was working fine in 2016.11.6 (haven't tested .7 or .8).

### Setup
It's a little complicated since the data is a certificate. Using the !py renderer is the only way I could get this to work in earlier versions.

cat test.sls:
[code]

### Ste

[2018-02-07 21:45] tintoy commented on #45884
@gtmanfred - ok, done :)

[2018-02-07 23:35] boltronics commented on #18098
As far as I'm aware, there is still no function specific interval functionality. At least, not anything mentioned in the docs if there is.

https://docs.saltstack.com/en/latest/topics/mine/#mine-interval

[2018-02-07 23:37] twangboy commented on #45629
Are you using a WSUS server?

[2018-02-07 23:56] boltronics commented on #19992
I do not believe this feature has been implemented. I assume we would want to have #19991 implemented first.

There is also the question of how to manage included files. If `top.sls` lists `a.sls` for a given minion, and `a.sls` includes `b.sls`, would the minion still be permitted to call `b.sls` directly? I'm guessing this would not be permitted, as if it were intended, `b.sls` could simply be a

[2018-02-08 00:03] tintoy commented on #45884
Remaining failing test seems to be unrelated to my changes:

https://jenkins.saltstack.com/job/PR/job/salt-pr-linode-ubuntu16-py3/6659/testReport/junit/integration.spm.test_man_spm/SPMManTest/test_man_spm/

[2018-02-08 00:10] #28539 closed

[2018-02-08 00:27] twangboy commented on #45886
This is an issue with one of the package definition files. It has a unicode character.

[2018-02-08 03:03] maneamarius opened #45913 "Please add support for emerging packages with --oneshot flag (Gentoo Linux)"
### Description of Issue/Question
Please add support for emerging packages with --oneshot flag (Gentoo Linux)
This causes for the package not to be added to /var/lib/portage/world file, but it will install normally
This can be achieved by installing the package normally, then removing the line with package name from /var/lib/portage/world file, but it's a nuisance.

### Setup
(Please provide relev

[2018-02-08 03:11] richardweib commented on #45893
I get the same problem，I modify the archive.py，It work. Thanks @terminalmage

[2018-02-08 04:25] dwoz commented on #36802
Upon further investigation, it looks like this was fixed in [2016.11.8](https://github.com/saltstack/salt/commit/c5841e2ade59c3c24bf8f9a8310f0c544373b9ac).

@absolutejam Are you able to provide me the version salt you saw this in?

[2018-02-08 04:51] xyoun opened #45914 "pip.installed with custom index_url cause failed"
### Description of Issue/Question

### Setup
sls:
[code]
result:
[code]

it seems that [pip.list_all_versions](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.pip.html#salt.modules.pip.list_all_versions) (new in 2017.7.3) not read the index_url.
### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
[code]

[2018-02-08 06:30] AmiramMaimon commented on #45875
Hey,

Thank you for the answer,
I'm handle the pillar file as a dictionary that why I'm searching for a key in there.
So what worked for me is:
{% if not salt['pillar.get']('servers_from_pillar') or grains['host'] not in salt['pillar.get']('servers_from_pillar').keys() %]
The rest of the top.sls file
{% endif %}

The first element in the if check if the pillar file is empty, if it is I want to run

[2018-02-08 06:30] #45875 closed

[2018-02-08 06:34] dwoz commented on #36802
Using the setup @morganwillcock reported on #39021.  I was able to reproduce the behavior described in this ticket on versions before 2016.11.8. Prior to the patch above the _clean_dir method is checking for:

 'c:\' in ['/' or 'C:\\'] (after escaping)

After the patch in 2016.11.8 it's checking for:

 'c:\' in ['\', 'c:\', 'c:\\']

However, this still seems a bit buggy. For instance, if someone h

[2018-02-08 06:58] nkrishnakishor commented on #45629
we use SCCM server but not for servers. This server doesn't have any WSUS entries also in registry.

[2018-02-08 08:04] rsuarezsoto commented on #9018
Hi,
has been there any work on this?

[2018-02-08 08:30] ChaosOrd commented on #45860
Thanks @terminalmage!
Upgrading docker python pacage to version 3.0.1 solved the issue.

[2018-02-08 08:30] #45860 closed

[2018-02-08 08:53] MatthiasKuehneEllerhold opened #45915 "2017.7.3: Salt-SSH & Vault Pillar: Permission denied "minion.pem""
### Description of Issue/Question

After the upgrade to salt-ssh 2017.7.3 I'm receiving this errors on each execution:
[code]

It seems like it tries to access the non-existing file "/var/tmp/.salt_a40eac_salt/running_data/etc/salt/pki/minion/minion.pem", but even "/var/tmp/.salt_a40eac_salt/running_data/etc" does not exist on my minions.

I can confirm that salt doesnt load any pillar-values from

[2018-02-08 09:22] rsaffi commented on #40152
I have just stumbled on the same problem. Did anything happen to this since March 2017?

Versions on my system:
[code]

[2018-02-08 10:34] FireDrunk opened #45916 "Running salt-cloud via salt.runner function generates two minion keys, 1 accepted, 1 denied."
### Description of Issue/Question
When using a salt.runner -> salt.profile, it creates two keys, 1 is accepted, 1 is denied.

### Setup
SLS:
[code]
Pillar:
[code]
### Steps to Reproduce Issue
I'm starting with an salt-key which does not have any key for the machine.

I've pre-installed salt-minion inside the template that is being used by running salt-bootstrap.sh -x.
Command on master: salt-call

[2018-02-08 10:41] damon-atkins commented on #45886
The old reg code use to handle it better or ignore something.
@thatch45    However it highlights again PY2 issues on Windows.
i.e. 2017.11 use PY2 recommanded on windows
2018 onwards PY3 recommended on windows.

[2018-02-08 11:20] The-Loeki commented on #11276
Hasn't all of this been migrated to `repo.saltstack.com` (which does have IPv6)?

[2018-02-08 11:58] dpasqualin commented on #42608
@pabloh007, I was having the same issue, and apparently the problem is that `pip uninstall docker-py` is not doing it's job right, as I found some leftovers files in my `/usr/local/lib/python2.7/dist-packages` directory.

The solution for me was to remove these leftovers with `rm -rf /usr/local/lib/python2.7/dist-packages/docker*` and install docker again with `pip install docker`.

[2018-02-08 12:24] damon-atkins commented on #45910
Should not be converting a REG_BINARY to unicode
ping @twangboy   this issue will exist in recent 2016.11 and 2017.7 and Oxygen as code was back-ported I believe.
@Ch3LL  please label.

'Value': salt.utils.stringutils.to_unicode(vdata, 'utf-8')}    Needs to just set Value to BINARY NOT SHOWN when dealing with REG_BINARY

[2018-02-08 13:01] damon-atkins commented on #45910
@lorengordon  could you turn your example above into a test case for 2017 and 2018

[2018-02-08 13:09] lorengordon commented on #45910
maybe, not sure when i'll have time to dig in any further. haven't even tried to use 2017.7 yet -- too afraid bugs in the repackaging are going to bite hard, particularly on EL6.

[2018-02-08 13:23] lorengordon commented on #45910
@damon-atkins I suppose your approach would work, to just not print the vdata. Though there is something going on as the prior method of just using `.format(vdata)` worked fine on python2.6 and python2.7. There is _definitely_ some way to print the value, even if it's gobbledygook. I'm just not sure how to handle doing that in a way that will work both in py2 and py3.

Here is where it changed (@t

[2018-02-08 13:35] damon-atkins commented on #45910
Salt team provide another 2016.11. See if anything else comes up next few days.
I understand the reason for the back port, it was to fix other issues, unfortunately created an extra one.

I think its a bad idea to print BINARY as it could be small or large.  I suppose it just needs some common sense around it.

PS win_pkg was also pack ported, as noted in the release notes.  Give it a could test.

[2018-02-08 13:39] rdoursenaud commented on #11276
@The-Loeki You're right. It wasn't obvious to me.
Sorry for the noise. I believe the issue can be closed again.

[2018-02-08 13:51] lorengordon commented on #45910
Of course, I get that the idea was to fix a lot of other _potential_ problems. I still think it was ill-considered to backport this type of change into a minor release. The risk of introducing bugs is _predictably_ very high when handling changes around py2/py3 strings. This should have been held to a branch that was already making unicode considerations for py3, and not introduced into the branch

[2018-02-08 14:19] damon-atkins commented on #45910
Win_pkg only had about 3 back port fixes + doco updates. It started as partial back port. Most of the bug fixes came from bugs I found while testing 2016.11 These bugs had existed for a long long time.

[2018-02-08 14:27] jeremysolarz opened #45917 "No support for GCP static internal IP creation for instance"
### Description of Issue/Question

[Salt GCP integration](https://docs.saltstack.com/en/latest/topics/cloud/gce.html) currently does not support [static internal IP](https://cloud.google.com/compute/docs/ip-addresses/reserve-static-internal-ip-address#creating_a_vm_instance_with_a_static_internal_ip_address) creation / assignment.

Is there any plan to provide this?

[2018-02-08 14:28] #23763 closed

[2018-02-08 15:31] #26783 closed

[2018-02-08 15:50] Nick2253 commented on #45882
Perhaps I'm missing the point then.

I dug into the SDB documentation, and I see that I can use (for example) a YAML file stored on the master, which I feel would meet my "do this all with Salt" criteria.  However, I'm not sure how to manage the permissions/ACLs for this data.  The documentation for SDB does not indicate any means of setting any kind of limits on access.

Publish also uses the `.s

[2018-02-08 16:02] isbm commented on #28986
@rallytime I would just wontfix that.

[2018-02-08 16:10] lomeroe commented on #45868
@darrenjlowe Looks like FullPrivilegeAuditing is the culprit policy.  That particular policy is a "registry" policy (where the registry value is queried to determine if it is Enabled/Disabled).  I know I have seen systems where the registry value is '30 00' (not sure if this is the same case for your actual reg value), which would break things pre-2016.11.9 too.  My searches haven't been able to f

[2018-02-08 16:15] garethgreenaway commented on #45917
@jeremysolarz Thanks for the report.  This would definitely be a good feature to include in the GCE support.

[2018-02-08 16:22] garethgreenaway commented on #45916
@FireDrunk Thanks for the report.

[2018-02-08 16:26] gtmanfred commented on #45882
The vault sdb uses the vault execution module can have acls to allow only certain minions access to the data.

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.vault.html

[code]

And then in vault you would only allow each minions role access to whatever data, and then only allow them to read it, and then your minion that generates the variable would have access to pull the data.

[2018-02-08 16:26] noelmcloughlin commented on #43208
@gtmanfred are you aware of some general issues with user/group present/absent ?

[2018-02-08 16:38] garethgreenaway commented on #45913
@maneamarius Thanks for the report.  Would be a good feature to include.

[2018-02-08 16:40] Kaydub00 opened #45924 "pkg.upgrade with exclude does not exclude package on CentOS 7"
According to documentation at https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.yumpkg.html using pkg.upgrade I should be able to exclude packages using the pkg.upgrade module.

## Setup
Salt-minions running from a Master

### Salt-Master:
Salt Version:
           Salt: 2017.7.3
System Versions:
           dist: centos 7.4.1708 Core
         locale: UTF-8
        machine: x86_64

[2018-02-08 17:02] garethgreenaway commented on #45900
@V3XATI0N Thanks for the report.  Tagging this as a future feature addition to improve the logging for ext_pillar.

[2018-02-08 17:48] fedepires commented on #33773
Bumping since we are still seeing this. On an example cluster with 1 master and 3 minions (master + 2 nodes), if we use batch and subset, it will ignore subset:

[code]

Now without batch, runs on one server as expected:

[code]

Salt Version:

[code]

[2018-02-08 17:48] Nick2253 commented on #45882
Is it therefore correct to say that there is no built-in method to securely transfer data from a minion to the master (such that no other minion can snoop on this data)?  Obviously, Salt has built-in methods to securely transfer files via third-party tools/services.

With this in mind, I'm trying to understand the Vault solution, since it sounds like that's the easiest solution that will work for

[2018-02-08 18:26] gtmanfred commented on #45882
@Nick2253 there is a `zmq_filtering` option, which should make it so that only the targeted minion can actually see the messages.

Also, can you show me how it other minions would be able to see the information that is sent to the salt master to would be able to be seen by other minions?

Pillars especially, because no other minion should be able to see that data, except for the minion it is sent

[2018-02-08 18:44] Nick2253 commented on #45882
The grammar is kinda broken in this sentence, so I'm not exactly sure what you're asking.  I'm assuming you're asking "how can other minions see the data that a first salt minion sends to the master?".

To answer that, I'd refer you to the [Salt documentation on the request channel](https://docs.saltstack.com/en/develop/topics/transports/index.html#req-channel):

By diving into the code for the di

[2018-02-08 18:55] lordcirth commented on #31678
Is it worthwhile to file an issue with upstream Python to improve platform.py?

[2018-02-08 18:56] The-Loeki commented on #42932
Issue still exists.

related #29964 and #31755

The state uses `cmd.run_all`, `cmd.run_bg` doesn't have this problem and returns expected output.

As a side note; since `not bool(None)` ain't false, the state is `True` ;) not sure if that's an issue

[code]

[2018-02-08 19:38] cro opened #45926 "Oxygen scheduler assumes localtime"
### Description of Issue/Question

Code in the scheduler in Oxygen is using `mktime` which assumes localtime.  This can generate challenges for infrastructures where masters are in many timezones.  Allow scheduling to be specfiied in different timezones but store and process timestamps in UTC.  This enables client tools to display the time in whatever timezone.

[2018-02-08 19:57] rallytime commented on #45865
Fixed via #45844

[2018-02-08 19:57] #45865 closed

[2018-02-08 20:06] terminalmage commented on #45860
Excellent! Thanks for confirming.

[2018-02-08 20:16] terminalmage commented on #44422
@isbm The problem occurs not in PyYAML, but in the `.format()` referenced in the traceback.

This is fixed in the upcoming Oxygen release.

[2018-02-08 20:18] terminalmage commented on #45152
2017.7.3 was released earlier this week.

[2018-02-08 20:18] #45152 closed

[2018-02-08 20:31] lordcirth commented on #28165
https://stackoverflow.com/a/2319078

This sort of solution seems perfect, but involves introducing a new dependency on pyparsing or a similar lib.  What is the official stance on dependencies?

[2018-02-08 21:05] #28430 closed

[2018-02-08 21:54] rallytime commented on #45915
@MatthiasKuehneEllerhold Can you give the fix in #45928 a try and confirm that this is fixed for you?

[2018-02-08 23:11] #21883 closed

[2018-02-09 00:01] edgan opened #45938 "zookeeper.present state doesn't deal with an existing zode with no ACL specified"
### Description of Issue/Question
I have an existing zookeeper server where the znode kafka1 already exists. I am trying to run the salt code in the setup section to verify it exists, and get the error below.

I backported the zookeeper state commit back to 2017.7.3.

I am using kazoo 1.2.1 from the python-kazoo Ubuntu 14.04 package. I tried using pip to upgrade to the latest kazoo, 2.4.0, but it

[2018-02-09 00:03] andygabby opened #45939 "user.present with hash_password: True detects change on every state.apply/highstate"
### Description of Issue/Question
user.present with  hash_password: True detects change on every highstate. The password is successfully set to what was intended, but upon subsequent highstates, salt always thinks it needs to change the root password again.

### Setup
[code]

[code]

### Steps to Reproduce Issue
Run state multiple times against same node. The password is set successfully without e

[2018-02-09 00:48] andygabby commented on #45939
I realize there is probably nothing that can be done from the salt side of things to resolve this because of the nature of hashing. If no resolution, then maybe a note in the docs to inform users of the behavior since it is an option to use the hash_password arg.

[2018-02-09 05:33] terminalmage commented on #45679
@gtmanfred This is fixed in https://github.com/saltstack/salt/pull/45941, with a backport to 2017.7 in https://github.com/saltstack/salt/pull/45942. Can you test to confirm it works?

[2018-02-09 06:43] MatthiasKuehneEllerhold commented on #45915
I can confirm it works! Thanks!

Steps:
* Download the patch file from https://github.com/saltstack/salt/commit/259e60e5d4998e4004a16ccc39db28763063fd18.patch
* Go (as root) to `/usr/lib/python2.7/dist-packages` and run `patch -p0 < /path/to/the/fixing.patch`
* You may need to supply the "File to patch": just enter "salt/utils/vault.py".

Directories may vary according to your distro / installatio

[2018-02-09 06:43] #45915 closed

[2018-02-09 08:16] FireDrunk commented on #45916
I've been debugging some more, and it looks like the following timeline is happening:

- Events
- Create Keys
- Proxmox Get Free VM ID
- Start Creation Job on Proxmox
- Wait for it (few iterations of get status)
- Start bootstrapping the VM (copy bootstrap script)
- New key generated & old one get's denied
- Copy keys to machine using SFTP/SCP
- Launch bootstrap script
- Fail at start salt-minion

[2018-02-09 08:20] elvinasp opened #45943 "Keyword arguments not passed via arg/kwarg in Reactor sls, works with args."
### Description of Issue/Question

I was trying to use Reactor to pull files from Syndic host to main master using custom event and applying state via Reactor. The same state wen applying via CLI worked perfectly
salt -l debug syndic-host state.apply states.pullresults pillar='{"minion_id":"RHEL7-139"}'
However it did not work, when applied from Reactor state as custom pillar value passwd via kwar

[2018-02-09 09:18] MorphBonehunter commented on #45679
Works for me:
[code]

[2018-02-09 09:20] DmitryKuzmenko commented on #45833
I've found no normal case that can produce the described behavior. The only idea I have is: because of some other errors minion got an error during the key load procedure and decided to generate a new keypair. Or the old keypair was removed by user or a script. Thus minion generated a new key pair that was denied by master.

I've thought something wrong with M2Crypto migration but I've tested all

[2018-02-09 09:29] cachedout commented on #45790
@bdarnell Thanks for reaching out to us. That is really kind.

I can completely understand how you wouldn't want to accept but ignore an `io_loop` argument but might we find a middle ground here? Perhaps logging an error so that it's apparent to a user but it doesn't break entirely?

This puts us in a really tough spot because I don't think we can test and distribute versions of Salt which switch

[2018-02-09 12:16] #45485 closed

[2018-02-09 12:20] rallytime commented on #45023
@frogunder This should be fixed with #45931. Can you confirm?

[2018-02-09 12:25] max-l-weaver opened #45946 "sentry_return in orchestrate runner"
### Description of Issue/Question
I've set up an orchestrate runner that applies a highstate when a new minion is detected.
This works fine, but lately I have attempted to add a sentry returner that only returns errors to the state module but it isn't working as I'd hoped

### Setup
salt/pillar/raven.sls:
[code]

salt/orch/apply_highstate.sls:
[code]

/etc/salt/master:
[code]

salt/reactor/run_orc

[2018-02-09 13:12] vnitinv commented on #42074
@mirceaulinic  Now with this change, if I do
[code]
this data is stored in the file /etc/salt/proxy.grains.d/{id}/grains

Now, if proxy is restarted, it uses the same data from the file. But for me, the data should only ephemeral to that proxy instance.
Is there is a way to clean up the file gracefully when proxy get killed.

[2018-02-09 13:18] mirceaulinic commented on #42074
The point of static grains is that they are static.
if you want something with that behaviour, you should probably just look
into writing a grains extension module in your own environment.

On Fri, Feb 9, 2018 at 1:12 PM, Nitin Kr <notifications@github.com> wrote:

[2018-02-09 13:31] vnitinv commented on #42074
Make sense. Thanks @mirceaulinic

[2018-02-09 15:53] mephi42 opened #45947 "file.absent does not remove files created by file.mknod"
### Description of Issue/Question
I have a state, which calls `file.absent` in order to remove a special file.
It says that file is not present, even though it exists.
I think this has to do with the following check in `salt/states/file.py`:

`if os.path.isfile(name) or os.path.islink(name):`

Would it be possible to also do `os.lstat()` and check whether `st_mode` passes `S_ISFIFO`, `S_ISCHR`, `S

[2018-02-09 16:02] chris-reay commented on #44967
FYI @twangboy
The new release of the 2017.7.3 client seems to have corrected this issue for me at the moment.  I have been able to verify on multiple systems and reg writes no longer hang.

It does however introduce this issue https://github.com/saltstack/salt/issues/45868
Which also seems to be fixed using the new win_lgpo file you are working on in that case.

[2018-02-09 16:28] bdarnell commented on #45790
How much time would you need? Moving this to a later release is not an option, but the timing of 5.0 is not set in stone. In the meantime could you pin your dependency on `tornado<5.0`? (that's probably a good practice in general - once you've updated for 5.0 you probably want to depend on `<6.0`)

[2018-02-09 16:46] twangboy commented on #44967
Then I'm going to close this issue.

[2018-02-09 16:46] #44967 closed

[2018-02-09 17:15] twangboy commented on #45868
Yeah, the registry entry for FullPrivilegeAuditing was set to REG_BINARY `80`. Which didn't translate cleanly for the `log.debug`. I think the PR I submitted above will fix this issue... After I fix a few more things on it.

[2018-02-09 17:19] garethgreenaway commented on #45943
@elvinasp Thanks for the report.  Not sure if it's reflective of what your actual reactor file looks like but can you check the tabbing for the keyword args?  They need to be tabbed in:
[code]

[2018-02-09 17:33] twangboy commented on #45629
I think SCCM may use WSUS under the hood...

[2018-02-09 17:46] frogunder commented on #45023
@rallytime It is working fine for me now, with that fix.

[2018-02-09 17:51] terminalmage opened #45954 "[oxygen] msgpack errors in test suite"
The following shows on the console in some integration tests:

[code]

This is likely due to unicode-related changes causing the payload to no longer be bytes. Should not be hard to track down. *(EDIT: famous last words...)*

[2018-02-09 18:07] ghost opened #45955 "get_minion_data returns None because cache file missing"
### Description of Issue/Question

The function [`get_minion_data`](https://github.com/saltstack/salt/blob/9a0ec9c30f65338dda31613516ac8a6121dfb0cb/salt/utils/minions.py#L69) returns `None` when the cache file for the minion is missing:

    [salt.loaded.int.cache.localfs][DEBUG   ][17503] Cache file "/var/cache/salt/master/minions/$MINION_ID.p" does not exist

which causes other functions, such a

[2018-02-09 18:09] garethgreenaway commented on #45939
@andygabby Thanks for the report.  Looking at the code for this I can see why it's continuously attempting to set the password.  When `hash_password` is set to True, the state will call `shadow.gen_password` using the provided password.  If you try running that module function manually you'll see that the hash it generates each time is different.  If you set the `enforce_password` option to False

[2018-02-09 18:31] garethgreenaway commented on #45946
@max-l-weaver Thanks for the report.  Are you able to verify that Salt is able to talk to Sentry?  Anything in the Sentry logs?

[2018-02-09 19:01] frogunder opened #45956 "CTRL-C gives traceback on py3 setup"
### Description of Issue/Question
Running command and hitting CTRL-C before it is completed exits with a traceback on a py3 setup in oxygen.rc1.

Should see something like this:
[code]

But see this:
[code]

### Versions Report
[code]

[2018-02-09 19:18] max-orhai commented on #45863
I'm running into this issue too. I'm using the saltstack.com debian packages and had to revert to 2017.7.2.

In Python 3 `list.copy` is defined, but not in Python 2.7.12. Anyway, I don't think it's necessary to take a copy of a freshly made list like that.

[2018-02-09 19:27] twangboy commented on #45910
It looks like the reg module previously would convert REG_BINARY types using `bin(vdata)` whereas it is now leaving binary data untouched. However, with the addition of `unicode_literals` it is probably now being converted to unicode because it's not doing the `bin(vdata)` thing. We could try putting that back here: https://github.com/saltstack/salt/blob/2016.11/salt/modules/reg.py#L542
[code]

[2018-02-09 19:39] lorengordon commented on #45910
@twangboy Ahh, I see how that changed. I can give that a try and see if it starts working. Thanks!

[2018-02-09 19:40] twangboy commented on #45910
Actually, the execution module seems to work fine. It may be an issue in the state module.

[2018-02-09 19:47] twangboy commented on #45910
It's dying trying to convert vdata to unicode for the list of changes. Let's try str.

https://github.com/saltstack/salt/blob/2016.11/salt/states/reg.py#L197

Change it to this:
[code]

[2018-02-09 20:02] twangboy commented on #45910
Would it be useful to do the `base64.b16encode` stuff in the module, so you could pass the raw hex data in a YAML file? Would that simplify the state?

[2018-02-09 20:03] lorengordon commented on #45910
Yep, it works when using `to_str` there instead of `to_unicode`! Although, problem now is that two of the states are continuously reporting as "changed" with every run. So still an issue with change detection.

[2018-02-09 20:05] lorengordon commented on #45910
Haha, the complexity of the state is not a big deal _to me_ (now that I've figured it out). But I could see a use case for a custom Windows "certificate.present" state or something that maybe makes it easier for others. :)

[2018-02-09 20:06] rallytime commented on #45956
@DmitryKuzmenko Can you look into this one?

[2018-02-09 20:07] DmitryKuzmenko commented on #45956
👍

[2018-02-09 20:08] DmitryKuzmenko commented on #45956
@rallytime 👍

[2018-02-09 20:09] twangboy commented on #45910
The two states that are failing are the two setting the REG_BINARY value, correct?

[2018-02-09 20:14] lorengordon commented on #45910
Well yes, but ALL of these states, eight total in the example, are setting a REG_BINARY value.

[2018-02-09 20:52] rallytime commented on #45956
Thanks!

[2018-02-09 20:52] #45023 closed

[2018-02-09 20:53] twangboy opened #45960 "CLI no longer handles binary data"
### Description of Issue/Question
A return that contains binary data causes the CLI to throw a stack trace.

[code]

### Setup
Given the following state file named `reg_binary.sls`:
[code]

### Steps to Reproduce Issue
Either apply the state or run `show_sls`
[code]

### Versions Report
oxygen.rc1 master on Ubuntu 16.04
oxygen.rc1 on Windows Server 2016

[2018-02-09 21:07] twangboy commented on #45910
OK, I just ran your state. I added a Salt the paths in the file so I wouldn't edit actual keys. For example `SOFTWARE\Salt\Microsoft`. I ran the state twice and the second time they all showed they were already in the correct state.

[2018-02-09 21:21] terminalmage commented on #45954
I'm unable so far to reproduce this locally. I was however able to track down the data structure which failed to unpack. It is the result of a grains.items. There doesn't appear to be anything that one would assume would cause msgpack to error out, though.

[code]

[2018-02-09 21:22] lomeroe commented on #45868
@twangboy perhaps fullprivilegeauditing should have its transform changed (a new transform) to accept anything other than 1 as disabled, this appears to be what the GUI is doing.

Strangely, using secedit to export the policy show different results.  Anything other than 0 or 1 are not exported.  With 80 in the registry, a secedit export shows an empty value:
[code]
And nothing is changed when impo

[2018-02-09 22:01] lorengordon commented on #45910
Quite right! When I modify the keys similarly, "changes" works correctly! Must be something going on with the key then. When I use the original key paths, the problem with changes is reproducible.

[2018-02-09 22:08] lorengordon commented on #45910
Ok, I take it back. Must have been some leftover registry artifact from the bad runs. I switched it to "reg.absent" to remove the entries, then back to "reg.present", and now changes is working properly with just the `to_str` patch.

[2018-02-09 22:16] thenoid commented on #38072
Since this issue is still open, I don't feel bad posting on it a year later.  Looks like salt's [evil] engineering overlord closed #38469.  We are running into the need for lazy evaluation of variables over and over again when dealing with AWS.

EG.  First you need to create the security group, then you need to get the security group ID  for use in ec2 state, then you need the ec2 instance id for

[2018-02-09 22:20] lorengordon commented on #45910
Well, this is bonkers. Something is inconsistent in the execution, and I don't know what. Sometimes changes is fine, and sometimes it is not. One run might say no changes, and another run a second later with the same exact state will report 2 or 3 changes. These three are the problem children:

[code]

[2018-02-09 22:25] rallytime commented on #45960
@terminalmage Can you look into this one?

[2018-02-09 22:27] andygabby commented on #45939
@garethgreenaway Thanks for the reply! I noticed the same about shadow.gen_password. Setting enforce_password: False kind of defeats the purpose of changing the pillar for pushing password updates.

shadow.gen_password can take a crypt_salt argument so that if passed the same value each time, would give you a consistent hash of the same password.
[code]
Perhaps the user module could take crypt_sal

[2018-02-09 22:31] gtmanfred commented on #38072
That got closed by a different one was implemented and it was included in oxygen https://github.com/saltstack/salt/pull/44866

[2018-02-09 22:48] edgan opened #45962 "rabbitmq_user.present seems to error from a dependecy on python-sss"
### Description of Issue/Question
I added the rabbitmq_user.present below and got the error below till I installed the python-sss package. It seems like an odd dependency to require pysss for this use case.

### Error

    ----------
          ID: sensu_rabbitmq_user
    Function: rabbitmq_user.present
        Name: sensu
      Result: False
     Comment: Error: RabbitMQ command failed: [TRACE   ]

[2018-02-09 23:20] darrenjlowe opened #45964 "macOS Timezone Set Using Network Time no longer applies configuration"
Just upgraded to macOS 10.13.3 from 10.12.6 and also upgraded Salt Minion to 2017.7.3, when running

`salt 'MACHINENAME' timezone.set_using_network_time True`

This returns

`MACHINENAME:
    False`

I have tested against other machines running macOS 10.12.6 and minion 2017.7.2, and macOS 10.13.3 and 2017.7.2 minion, these all return "True"

### Versions Report
Salt Minion

Salt Version:

[2018-02-09 23:56] rs-mrichmond commented on #41178
Just ran into this issue. Because Amazon RDS doesn't allow grants to ``` '*.*' ``` and the workaround is to use ``` '%.*' ```  like this.

``` GRANT ALL PRIVILEGES ON `%`.* TO 'foo_admin'@'%' ```

But

[code]
Generates a statement that leads to this grant

[code]

What do we need to do to either work around this fix the root cause without causing headaches for other people?

[2018-02-10 00:03] twangboy commented on #45833
@DmitryKuzmenko
@rallytime

OK... I think I'm on to something here...

The config file had the following setting:
[code]

The setting is coming from `salt-cloud`. The entire config file created by `salt-cloud` looks like this:
[code]

If you run `config.get pki_dir` on a 2017.7 minion with that setting the return is:
[code]
and the keys are created in that directory

When I launched the oxygen min

[2018-02-10 01:00] msteed commented on #45926
The `timestamp()` method on `datetime` objects will do the conversion to Unix timestamp handling the timezone information properly.

[2018-02-10 01:05] garethgreenaway commented on #45926
Looks like `datetime.timestamp()` is Python 3.x only.

[2018-02-10 01:11] msteed commented on #45926
😭

[2018-02-10 01:52] #28341 closed

[2018-02-10 01:52] #28378 closed

[2018-02-10 01:52] #26916 closed

[2018-02-10 02:18] gtmanfred commented on #38072
It hasn't been released yet, it is our next major release

[2018-02-10 06:31] DmitryKuzmenko commented on #45833
Awesome finding @twangboy !

[2018-02-10 07:43] go8ose commented on #40351
Looks like #42763 has since dealt with this, see the 4356d022b9c40195eb80938f8c28dcf6d4131c99 commit. I suspect this bug can be closed.

[2018-02-10 12:21] damon-atkins commented on #45960
Original ticket 2016.11.9: UnicodeDecodeError traceback in reg.present #45910

[2018-02-10 12:43] damon-atkins commented on #45960
[code]

[2018-02-10 12:48] damon-atkins commented on #45910
[code]

[2018-02-11 00:19] aphor opened #45967 "pkg state module does not allow specifying variants for macports packages"
### Description of Issue/Question
See #45413 and PR #45462
#### pkg.installed states should be able to specify variants as supported by the execution module

### Setup
#### example state
    hdf5:
      - pkg.installed:
        - variant: +openmpi-cxx-hl
        - refresh_db: false

### Steps to Reproduce Issue
The variant in the above example is non-default, and is ignored by the macport "port" c

[2018-02-11 00:23] aphor commented on #45967
@KaiSzuttor if you have any additional difficulties with variants and pkg.installed states on macports systems, please add comments here.

[2018-02-11 00:54] mcqueenorama commented on #285
Assuming I know how to write salt modules, and I've got a python bittorrent client that uses libtorrent (a c library), how do I package it up as an execution module? In particular how would libtorrent be deployed to the minions?  We can assume I use the cython setup, but I wonder about if the libtorrent dependency can be packaged up and delivered to the minions as part of the execution module.

[2018-02-11 01:16] #28557 closed

[2018-02-11 01:16] #28558 closed

[2018-02-11 06:58] #28570 closed

[2018-02-11 07:58] #28634 closed

[2018-02-11 10:24] fake-name opened #45968 "GCE driver fails to list available images."
On current develop branch, with the GCE credentials configured properly.:

[code]

`gce_images` is an empty set.

Looking through the source, [`all_images.extend(conn.list_images(project))`](https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/gce.py#L355) is throwing for most of the `public_image_projects`, which is then being eaten by something between the `list_images()` call and th

[2018-02-11 15:09] ferventcoder opened #45969 "chocolatey bootstrap should support offline installation of Chocolatey itself"
### Description of Issue/Question

Salt is able to bootstrap Chocolatey with [chocolatey.bootstrap](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.chocolatey.html#salt.modules.chocolatey.bootstrap). However, there is nowhere to indicate an internal/offline location of the Chocolatey nupkg like you can with Chef and Puppet.

Being able to support a fully internal installation see

[2018-02-11 15:10] ferventcoder commented on #45969
cc @jfindlay @rallytime @twangboy

Just as an FYI, I'm writing some user documentation on how to support offline installation across different configuration managers and I'm noting that it's not possible and pointing back to this issue as a placeholder until this is implemented.

[2018-02-11 16:33] ferventcoder commented on #45969
FYI here is an image of that documentation included in Chocolatey.Server v0.2.3:
![image](https://user-images.githubusercontent.com/63502/36075617-10815c8e-0f17-11e8-913e-bde5554f0451.png)

[2018-02-11 19:25] lorengordon commented on #29063
I think this is still not working.

[2018-02-11 20:23] #28566 closed

[2018-02-11 23:03] #40351 closed

[2018-02-12 07:07] CT-EQ8 opened #45973 "Key accepted but minion unable to communicate with Master"
### Description of Issue/Question

Master has a key accepted for a specific minion;

[code]

However a test from the minion shows that a "SaltReqTimeouError: Message timed out" along with asking if the key has been accepted;

[code]

Seems like it might be a similar issue as in #2581 because the minion sees a lot of open connections to the Master IP;

[code]

I recently upgraded the Salt versions

[2018-02-12 08:37] #24981 closed

[2018-02-12 10:51] DmitryKuzmenko commented on #45833
Ok. The behavior change is introduced by PR #41281.
The sensible change is a fix for the logic case that prevents prepending of the root dir to absolute paths set in config. There was a bug in that logic where check for an absolute path was done against the key (i.e. `pki_dir`) instead of the value (`/conf/pki/minion`).

Buggy line is here:
https://github.com/saltstack/salt/pull/41281/files#diff-0

[2018-02-12 11:14] colttt opened #45974 "slow bash completion"
### Description of Issue/Question
 I use debian jessie and tab-copmpletion, but when i for example type : `salt '*' pkg.<TAB><TAB>`, it takes around 25s

### Setup
not necessary?!

### Steps to Reproduce Issue
not necessary?!

### Versions Report
Salt Version:
           Salt: 2017.7.2

Dependency Versions:
           cffi: 0.8.6
       cherrypy: Not Installed
       dateutil: 2.2
      docker-py:

[2018-02-12 11:21] zhulh200868 opened #45975 "[ERROR ] No master could be reached or all masters denied the minions connection attempt."
### Description of Issue/Question
[code]
### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)
Salt Version:
           Salt: 2017.7.2

Dependency Versions:
           cffi: Not Installed
       cherrypy: 3.2.2
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: No

[2018-02-12 11:45] max-l-weaver commented on #45946
Hi @garethgreenaway no logs whatsoever, and I can confirm I can connect successfully to the sentry server via the raven client.
I have tried to run the returner directly inside a Python shell and there are no errors logged and nothing is returned. Not really sure what else to try

[2018-02-12 12:08] grobinson-blockchain opened #45976 "6a5e0f9 introduces regression that breaks Vault module for salt masterless"
### Description of Issue/Question

https://github.com/saltstack/salt/commit/6a5e0f9ac11e7731b759d7dcc873c07f6436ba1b introduces a regression that breaks the Vault module for salt masterless.

Since https://github.com/saltstack/salt/commit/6a5e0f9ac11e7731b759d7dcc873c07f6436ba1b, we get the following error message running `salt-call --local state.apply`:

        [CRITICAL] Rendering SLS 'foo' fai

[2018-02-12 12:26] elvinasp commented on #45943
Thanks, indentation seems to have been the main issue. Another one - I have missed missing "-" symbol before _kwarg_ in the Salt documentation.

After I have formatted YAML to use 4 space as indentation, my state file started to work and _kwarg_ arguments were parsed properly.

So another question: should this be considered a bug?

YAML specification allows to use 1 or more space to indent element

[2018-02-12 14:33] hgfischer opened #45980 "Exceptions with Slack returner"
### Description of Issue/Question

Keeps getting the following error logged even thou Slack returner seems to work most of the time:

[code]

### Setup

The minion config:

[code]

### Versions Report

[code]

[2018-02-12 14:43] aphor commented on #45967
I'm not sure, but I think this may require significant changes to salt/states/pkg.py or salt/modules/mac_ports.py in order to handle the variants' spec separate from the version string. It would be most pythonic to handle the package data from state declaration and repo/installed package lists as a dict per package eg. `{'name': 'hdf5', 'variant': {'openmpi'}, variant-rejected: {'cxx-hl'}}` but so

[2018-02-12 14:54] gtmanfred commented on #45955
What kind of multimaster setup do you have? is it active-active?

If this is the case, i think it would be possible for any master to return back the call for a vault token, and it could be the one that doesn't have a grains cache?

If the minion_data_cache is false, then the grains are not cached, so it can't fetch them.

If you use an external grains cache, then both master should be able to sha

[2018-02-12 14:58] gtmanfred commented on #45974
It is slow because it reaches out to the minions to figure out what commands can be run.

It should only be slow the first time though, https://github.com/saltstack/salt/blob/3b81c37a531c48ff54a2332c4ea9c0d108ce0e74/pkg/salt.bash#L136  because it puts the function list into a cache

But it will set a timeout on that cache, so that it refreshes it after a certain amount of time.

https://github.com

[2018-02-12 14:58] #45974 closed

[2018-02-12 15:01] cachedout commented on #45790
Hi @bdarnell. The issue is really that because it's not pinned to < 5.0 in currently release version of Salt, we have to re-test and re-release multiple versions _and_ we have to give users, some of whom have very large production infrastructures time to test those changes and deploy those changes. That's potentially many weeks if not months, especially for users at large corporations. I totally u

[2018-02-12 15:05] gtmanfred commented on #45962
For getting grouplists, in python2, it only gets groups from local users.

python-sss is required in order to get groups from other pam providers, like ldap or something.

In python3, they have included this method, so we can just use the os.getgrouplist.

https://github.com/saltstack/salt/blob/2017.7/salt/utils/__init__.py#L2955-L2972

Here is where that takes place.  It should still fall back to

[2018-02-12 15:07] gtmanfred commented on #45967
I would say instead of providing the variant in a seperate argument, you could handle the variant name in the mac_ports pkg module?

Just look for the `+` sign, and split it to be pkgname and variant.

[2018-02-12 15:10] gtmanfred commented on #45964
Can you provide the output of running

[code]

On the minion?

Thanks,
Daniel

[2018-02-12 15:24] gtmanfred commented on #45980
If you run a command like

[code]

Do you see this error?

I think this is probably caused by something being run that isn't a state?

Thanks,
Daniel

[2018-02-12 15:26] hgfischer commented on #45893
Also affected by this.
This is a regression, reported 5 days ago, and

[2018-02-12 15:26] gtmanfred commented on #45969
This seems like a great idea.

We would love to see a PR implementing it.

If you dont have time, @dwoz and @twangboy would yall mind taking a look and seeing if this would be quick to implement?

Thanks,
Daniel

[2018-02-12 15:28] gtmanfred commented on #45975
Can you provide me with more information about what I am looking at and how to replicate this behavior?

Thanks,
Daniel

[2018-02-12 15:30] gtmanfred commented on #45973
Can you add `log_level: debug` to the master config file, or run it with `salt-master -l debug` and provide any output that might be relevant?

I am wondering if there is a message in there about that minion.

Thanks,
Daniel

[2018-02-12 15:31] grobinson-blockchain commented on #45955
We have a multi-master set up as explained here: https://docs.saltstack.com/en/latest/topics/tutorials/multimaster.html

I thought so too. However, in all cases `minion_data_cache` was True, as I inserted additional logging while debugging the issue.

We don't use an external, shared cache, rather each master has its own cache. Could this be the issue?

[2018-02-12 15:35] gtmanfred commented on #45955
That is my suspicion.  Would you mind trying out one of the external cache modules?

There is a redis one if you don't want to use consul.
https://docs.saltstack.com/en/latest/ref/cache/all/salt.cache.redis_cache.html#module-salt.cache.redis_cache

[2018-02-12 15:36] babilen commented on #26585
Would it be an option to simply include all files in `file_tree` rather than pruning files that are needed?

[2018-02-12 15:42] DmitryKuzmenko commented on #45956
Can't reproduce on Arch. Trying in Cent7 container.
Btw, @frogunder are you sure it's `oxygen.rc1`? In the versions report I see `g78fed2d`, but I see that revision is included to `develop` only.
[code]

[2018-02-12 15:43] Nick2253 commented on #45867
I'm working through the changes here, and I just had a quick question about best practices.  I can get the version directly from the icinga binary, but I'm not sure where I should put the logic to get this version and determine the default paths.  Should that go in the __virtual___ function?

[2018-02-12 16:23] darrenjlowe commented on #45964
This looks to be working today, will close issue, continue to test more and log a new issue if I see a pattern emerging, could be something with reboots of the machine after Salt Minion is upgraded

[2018-02-12 16:56] gtmanfred commented on #45968
I am unable to replicate this issue.

[code]

Can you provide more information on your setup?

Thanks,
Daniel

[2018-02-12 17:23] hgfischer commented on #45980
Yes, I do see it when running `test.echo ..`

[2018-02-12 17:25] gtmanfred commented on #45980
Ok, it looks like this just needs to add a check that checks if the return is an actual dict before checking for `changes` in it.

Since not all returns are a dictionary.

I am marking this as a bug.

Thanks,
Daniel

[2018-02-12 17:31] poliva83 opened #45982 "cmd.script that has args attribute set is broken in 2017.7.3"
### Description of Issue/Question
There is a regression in 2017.7.3 that breaks `cmd.script` for windows host when running a powershell script that passes in arguments.

I believe its caused by this commit: https://github.com/saltstack/salt/commit/8dfcf71b08e5fa68079e184740f7d1fcbafb97eb#diff-879e9c967b796ba8a6922815406a96ff

### Setup

example state file:
[code]
example state.sls run:
[code]

###

[2018-02-12 17:43] Ch3LL commented on #33922
@PharaohAsh are you still seeing this behavior in the latest 2017 release?

[2018-02-12 17:51] ferventcoder commented on #45969
@gtmanfred I don't have the skills necessary to implement it. Or at least quickly and correctly.

[2018-02-12 17:54] Ch3LL commented on #43208
@noelmcloughlin your issue seems to be unrelated to this issue. Would you mind opening a new one?

Back to the original issue:

I would say that this would be considered expected behavior since as an admin you can change the uid/gid of user as well, but i want to ping @terminalmage here as well to see if he agrees. Or maybe we can add an option possibly that ensures we don't change the gid/uid if

[2018-02-12 18:14] poliva83 commented on #45982
For references purpose, this issue was introduced by https://github.com/saltstack/salt/pull/45134 which was meant to fix https://github.com/saltstack/salt/issues/44315.

[2018-02-12 18:14] Ch3LL commented on #45643
ping @twangboy any ideas here as well?

[2018-02-12 18:16] Ch3LL commented on #43138
This isn't currently on our roadmap due to other higher priority issues. Please feel free to submit a PR for the issue though.

[2018-02-12 18:17] Ch3LL commented on #44954
This isn't currently being worked on due to other higher priority issues. Please feel free to submit a PR :)

[2018-02-12 18:19] Ch3LL commented on #44394
I'm not able to replicate this which makes it difficult to go forward with a fix. Any chance you can replicate this in a vagrant machine or docker container and share that here?

[2018-02-12 18:25] Ch3LL commented on #45659
ping @saltstack/team-core do we need to attack each of these loader warnings and fix each error in each module? or is this possibly an issue with the loader not loading something up required by another module possibly?

ping @himanshu1691 can you please open another issue with more details as these loader warnings/errors shouldn't impact functionality unless it spits out a warning for your smtp re

[2018-02-12 18:30] edgan commented on #45962
This message seems to suggest it is trying grp.getgrall(), "Trying generic group list for 'rabbitmq'", but it fails with a trace. Where as if I install pysss, it works without error.

This is python2 as shown in the versions report above.

[2018-02-12 18:35] robertpenberthy commented on #44201
I just had this same issue happen in my environment.  My minion is a "Red Hat Enterprise Linux Server release 7.4 (Maipo)" and my master is a "CentOS Linux release 7.3.1611".

Both my master and minion are running 2017.7.0 version of SaltStack.

I ran a state.apply against my minion and during the state run it failed to install the docker packages, so the unit file that gets installed with the pac

[2018-02-12 18:40] Ch3LL commented on #44299
ping @terminalmage any ideas on this since configparser doesn't work with comments?

[2018-02-12 18:40] robertpenberthy commented on #44201
An update, I just reran my state apply and on the second run it came back with:

[code]
It may be related to the service.systemctl_reload module that ran right before the service.running.

Output from the first run:

[code]

Output from the second run:

[code]

[2018-02-12 18:42] gtmanfred commented on #45982
It looks like windows does not like single quotes.

Can you try the PR I just opened and see if this fixes your issue?

Thanks,
Daniel

[2018-02-12 18:44] frogunder commented on #45956
Tried again on the head of oxygen.rc1. I still see it on a Cent7 vm but on Arch vm it seems to work correctly.

[2018-02-12 18:48] poliva83 commented on #45982
I tried your PR fix and it solved my issue. Thanks @gtmanfred !

[2018-02-12 18:53] darrenjlowe commented on #45964
Looks like when I run the the salt-call on the minion this seems to work

----------------------
[DEBUG   ] Reading configuration from /etc/salt/minion
[DEBUG   ] Including configuration from '/etc/salt/minion.d/_schedule.conf'
[DEBUG   ] Reading configuration from /etc/salt/minion.d/_schedule.conf
[DEBUG   ] Including configuration from '/etc/salt/minion.d/cpe_mac.conf'
[DEBUG   ] Reading configu

[2018-02-12 18:56] garethgreenaway commented on #41883
@lahdekorpi Can you provide some addition information for where you're seeing a potential security issue and in what scenarios you're seeing the Slack token?  Thanks!

[2018-02-12 19:04] lahdekorpi commented on #41883
@garethgreenaway When the engines in the master config had incorrect indentation, Slack integration would work perfectly but Salt would output a:
[code]
warning to the output of every user and script, even restricted, running Salt including a private API key for Slack that can be used to spy on Slack messages / do other things.

This does not, however, happen if the master is correctly configured.

[2018-02-12 19:17] Herugrim opened #45986 "[2017.7.3] grains.has_value behavior changed, returns True on grain containing empty list"
### Description of Issue/Question

In 2017.7.2 and before the function `grains.has_value `returns `False` if a grain contains an empty list. When i upgraded to 2017.7.3 it started to return `True`. I am not sure if this is intended but it broke my configuration so i just want to make sure it is not a bug as the documentation is a bit unclear on this specific usage.

### Setup

For the proof of con

[2018-02-12 19:33] rs-mrichmond commented on #41178
@gtmanfred @twellspring @UtahDave : Ping

[2018-02-12 20:01] maxime-viargues-serato commented on #45643
Yes it's run in a console, or via a Jenkins service.
I now run the state apply on a Jenkins job so it runs as the expected user via the Jenkins service on the machine which solves the problem for now.

[2018-02-12 20:10] amendlik commented on #45895
@gtmanfred, any update on this?

[2018-02-12 20:21] rallytime commented on #45886
This is fixed with #45937

[2018-02-12 20:21] #45886 closed

[2018-02-12 20:23] chschmitt commented on #45321
Can I do anything to further the investigation of this issue?

[2018-02-12 20:53] gtmanfred opened #45987 "[2017.7] Unable to use vault + sdb in minion config files"
### Description of Issue/Question
In 2017.7.0 sdb + vault was broken and you can't use sdb:// uris with vault in any config files.

Master and Cloud have been fixed.  but salt-minion's config still needs to be fixed.

[2018-02-12 20:56] gtmanfred commented on #45962
Can you provide the trace?

Thanks,
Daniel

[2018-02-12 21:00] gtmanfred commented on #45964
Can you try.

[code]

or enable this in the minion config

[code]

and use the new module.run format.

[code]

Thanks,
Daniel

[2018-02-12 21:01] rallytime commented on #45833
@DmitryKuzmenko This was reopened because after some investigation, we need to config gate the behavior change. Just wanted to let you know why this was opened and the the assignees were changed.

[2018-02-12 21:02] gtmanfred commented on #45895
I am waiting on input from the rest of the core team on this.

[2018-02-12 21:04] gtmanfred commented on #41178
It is not something we are currently working on. But would love to see a PR submitted to fixing this.

Thanks,
Daniel

[2018-02-12 21:40] edgan commented on #45962
This is all I get from salt.

salt-call -l trace state.apply sensu.server :
[code]

[2018-02-12 21:42] fake-name commented on #45968
Uh, huh. I have no idea. The GCE client was working fine for multiple months, and just started failing spontaneously. As far as I know, I didn't touch anything anywhere that would have changed any settings.

[2018-02-12 21:50] sevagh commented on #40303
BTW, I'm probably not gonna have a chance (or desire) to work on this. So, anybody, feel free.

[2018-02-12 21:52] #45816 closed

[2018-02-12 21:52] #45817 closed

[2018-02-12 22:13] #45796 closed

[2018-02-12 22:15] mwtzzz commented on #43150
Still would like to see a solution.

[2018-02-12 22:17] rallytime commented on #45895
I am not aware of any active effort to expand it either and, to be honest, I don't _quite_ understand the intricacies of `pchanges` as well as I would like. To the best of my knowledge, it's not documented very well either as I ran into some issues about what the expected behavior is when I was trying to debug some tests with @twangboy a couple of months ago.

@thatch45 @cachedout @terminalmage @g

[2018-02-13 01:14] nullify005 opened #45995 "states/boto3_route53.hosted_zone_present bad comparison when Comment is blank"
### Description of Issue

If you leave Comment out of your state it's being interpreted as an empty string `''` whereas the upstream field is actually `None` not `''`

This means that the state is always making changes unnecessarily based on the Comment.

If the incoming Comment is set to `None` when empty not `''` then the comparison works properly and the state doesn't make any changes.

### Set

[2018-02-13 01:20] nullify005 opened #45996 "states/boto3_route53.rr_present won't make TXT records"
### Description of Issue

The AWS API requires that TXT records be surrounded in quotation marks in order to persist them with route53.

I absolutely couldn't figure out how to do this with the jinja templating engine, whatever I tried it just simply wouldn't pass the quotes correctly to the state.

In order to fix this we inject the quotes in the state if the type happens to be a TXT record.

###

[2018-02-13 02:13] terminalmage commented on #45960
That traceback isn't the same thing as the one in the OP, it happens in the state itself and not the nested outputter.

@twangboy does this also happen on the head of 2017.7?

[2018-02-13 04:15] aphor commented on #45967
Variants in macports are more like version data than separate packages (with separate names). They get treated like macros for configure options at build time, mostly.

I don't think it would be less messy to clobber package names by appending variants because it's still a pain to handle cases where a minion has foo+sparkles installed and active, but a pkg.installed state asks for foo+sprinkles. I

[2018-02-13 04:22] aphor commented on #29159
I'm going to need this soon I think, and so I'd like to keep the ticket around to anchor work.

[2018-02-13 04:43] terminalmage commented on #45960
See https://github.com/saltstack/salt/pull/45999 for a fix for this particular traceback. The one posted by @damon-atkins is not related.

[2018-02-13 04:59] terminalmage commented on #45954
See #45998 for a possible fix. We'll need to wait for tests to complete and then check the console log to be sure.

[2018-02-13 05:00] terminalmage commented on #45910
to_str would break on Python 3:

[code]

https://github.com/saltstack/salt/pull/46000 just keeps the original bytestring if decoding fails, though it kinda seems like it should always fail, right? Or, are the registry values sometimes not binary? I'm a *NIX guy, your quaint Windows ways are strange to me. 😄

[2018-02-13 05:53] nullify005 commented on #45995
And pretty please can I get this backported to 2017.7

[2018-02-13 05:53] nullify005 commented on #45996
And pretty please can I get this backported to 2017.7

[2018-02-13 05:54] nullify005 commented on #45539
And pretty please can I get this backported to 2017.7

[2018-02-13 06:28] DmitryKuzmenko commented on #45956
Ok, thank you for checking.

[2018-02-13 06:31] terminalmage commented on #45910
Also, since this would result in non-printable characters in the highstate output, I'm not convinced that #46000 is the best solution as-is. I'm open to suggestions.

[2018-02-13 06:48] CT-EQ8 commented on #45973
To test some of this I tried deleting the key on the Master. I'm not seeing this presented again so I'll close this off until I've got some more solid information for the issue. Thanks for the help so far.

Thanks,
C.

[2018-02-13 06:48] #45973 closed

[2018-02-13 07:22] martinohansen commented on #45739
Thanks for the input

[2018-02-13 09:07] sumeetisp opened #46001 "Using salt-ssh for windows"
### Description of Issue/Question

I see that there is a argument to pass winrm=True/False in roster and also in salt-ssh shell.py module has a function gen_shell which checks for type of target shell. Which is also checking for winrm.

This function specifies that saltwinshell should be installed. Is this saltwinshell still under development as i am not able to find any thing related to it instal

[2018-02-13 09:23] The-Loeki commented on #11276
@basepi I don't think debian.saltstack.com is used for anything anymore; it might be a good idea to either CNAME it to repo.saltstack.com or abolish it altogether to prevent further confusion?

[2018-02-13 10:19] jzandbergen commented on #21876
This issue is also still relevant in 2017.7.3 (Nitrogen)

/srv/salt/test.sls (on the master)
[code]

`salt-call state.apply test` on the minion:
[code]

[2018-02-13 10:49] DmitryKuzmenko commented on #45833
@rallytime Got it. Thank you!

[2018-02-13 11:06] theunsa commented on #27400
Same issue as @adamehirsch above ...

[code]
The sls

[code]
Output when above salt state is run from master on a minion without any of the above packages installed:
[code]
Error logs from `/var/log/salt/minion` on minion:
[code]
And on minion these packages are now installed:
[code]

[2018-02-13 11:36] lorengordon commented on #45910
@terminalmage The Windows registry values can be binary or not. When _setting_ the value, you'd generally know from the `vtype` (REG_BINARY, REG_SZ, REG_DWORD, etc). When _reading_ the value, I'm not sure though I'd hope the type could be inspected or that the library otherwise returned a tuple or dict indicating the type.

Does saltstack have a policy on merging py2-only code to branches that are

[2018-02-13 11:48] damon-atkins commented on #45910
#46000 I have placed a comment against this PR with a plan.

[2018-02-13 12:08] sumeetisp commented on #45290
Can this be achieved?

[2018-02-13 12:09] DmitryKuzmenko commented on #45956
Reproduced on CentOS and then on Arch Linux. It looks the only sensible thing is the Python version. It's reproducible on Python 3.4 (3.4.5 on Cent and 3.4.7 Arch AUR). Investigating.

[2018-02-13 12:30] DmitryKuzmenko commented on #45659
@Ch3LL the reason is not in modules itself. This happens because `__grains__` contains no `kernel`, `os` and `os_family` keys for some reason. Probably `__grains__` partially or completely not initialized in the described case.

[2018-02-13 13:44] #45960 closed

[2018-02-13 14:00] #45833 closed

[2018-02-13 14:09] gtmanfred commented on #45539
I have marked it to be backported.

In the future, please submit bugfixes against the version fix that the bug fix is for.

https://docs.saltstack.com/en/latest/topics/development/contributing.html#main-release-branches

[2018-02-13 14:13] gtmanfred commented on #45982
This is fixed by this PR https://github.com/saltstack/salt/pull/45716

[2018-02-13 14:13] #45982 closed

[2018-02-13 14:17] gtmanfred commented on #46001
This is offered in our enterprise product, and will be in 5.3.

[2018-02-13 14:17] #46001 closed

[2018-02-13 14:35] github-abcde opened #46004 "opts file_roots gets overwritten with pillar_roots in orchestration run"
### Description of Issue/Question
Like https://github.com/saltstack/salt/issues/5449 but under different circumstances.
When perfoming an orchestration run with specific contents (see below), `__opts__['file_roots']` of the orchestration-salt-instance gets filled with the contents of `__opts__['pillar_roots']`, which causes all sorts of 'file not found'-problems.

### Setup
master config:
[code]

[2018-02-13 14:45] aphor commented on #45967
There is demand besides macports for refactoring the list_packages data at the heart.. #45948

I think this issue is blocked on the results of #45948. At this point, I think I am in favor of it.

[2018-02-13 15:09] Athos85 commented on #29018
I don't know whats the status of this issue. But I am quite interested in it specially because I am affected as well.

I can complete reproduce the issue posted by @cgaley and I am unable to use the salt event salt/cloud/<name>/created

Maybe it helps if I post my informations:

**Versions Information**
`salt --versions-report
Salt Version:
           Salt: 2017.7.3

Dependency Versions:

[2018-02-13 15:18] Ch3LL commented on #45986
i bisected this to bf45ae6e6ad02e14ca8da289463b4399d7bc84dd https://github.com/saltstack/salt/pull/43973

according to the comments in that PR it seems this is expected but want to ping @terminalmage to triple check this.

[2018-02-13 15:25] Ch3LL commented on #45995
Thanks for the PR! Went ahead and added the label to get it backported once its merged so it can be reviewed whether it can be backported.

[2018-02-13 15:26] Ch3LL commented on #45996
Thanks for the PR once again :) ! Went ahead and added the label to get it backported once its merged so it can be reviewed whether it can be backported.

[2018-02-13 15:29] fastjohnny commented on #45383
Hi @jodok
Did you solve issue?
Have this error too, nothing helps

[2018-02-13 15:29] BenjaminSchiborr commented on #27400
@theunsa , I'm experiencing the same issue on the 2017.2 branch. One workaround that did the trick for me was to do e.g.
[code]
instead of
[code]

[2018-02-13 15:33] gtmanfred commented on #45383
I recently found out that `reset_system_locale=True` is the default on cmd.run, so that is the problem here.

Sounds like rabbit might need it to be set to false in some cases.

I am marking this as a bug.

Daniel

[2018-02-13 15:34] fastjohnny commented on #45383
Ok, eventually i'v found a workaround -
in /etc/locale.conf insert this and restart minion
LANG=en_US.utf8
LC_ALL=en_US.UTF-8

[2018-02-13 15:39] baby-gnu commented on #14613
Hello,

I'm configuring salt-ssh to replace dish, clusterssh, pssh or mussh I used before.

This point is really annoying.

I setup `config_dir` in `~/.salt/Saltfile` and then I defined the following in my `~/.salt/master`:

[code]

I wanted the `file_roots` to be relative to `root_dir`.

Any news on this issue?

Regards.

[2018-02-13 15:45] Waples commented on #46004
I am getting the same error as @github-abcde; reproduced with information given on a fresh salt. Note: I am using salt 2017.7.3 with python3.6

### Output
[code]

### Versions
[code]

[2018-02-13 16:23] #45413 closed

[2018-02-13 16:43] lordcirth commented on #28165
So, there are 2 kinds of comments, line comments //.... \n which needs one string arg, and multiline comments /* ... */ , which requires 2 string args.

I'm thinking:

[code]

[2018-02-13 17:01] sam0104 opened #46010 "http.wait_for_successful_query gives status:503 error though curl output is 200"
### Description of Issue/Question
http.wait_for_successful_query gives status:503 error .
Though URL response is 200 using curl command.

**ac-query-http-url:
  http.wait_for_successful_query:
    - name: 'http://localhost:{{ salt['pillar.get']('ac-tomcat:connector:port') }}/appControl/v1/types'
    - status: 200
    - wait_for: 30**
### Setup
(Please provide relevant configs and/or SLS files (Be

[2018-02-13 17:17] twangboy commented on #45910
Even though the data is binary... `reg.read_value` returns them as a string. So a `REG_BINARY` value of `80` becomes `'0x80'`

[2018-02-13 17:23] Ch3LL commented on #46004
i'm able to replicate this with your current use case. Here is a docker container for anyone to quickly replicate this:

I think one of the issues that might be the cultprit is this `{%- set foo = salt['saltutil.runner']('pillar.show_pillar', minion='*') %}`
When i remove that it works. Also i think thats why its showing the pillar files rendering.

Was this previously working because I see the sa

[2018-02-13 17:25] Ch3LL commented on #46010
Can you please paste any related sanitized debug logs when this occurs?

[2018-02-13 17:30] damon-atkins commented on #45910
Should be bytes in python3 and Str in PY2   not sure how  chr(0) or chr(13) or chr(200) or etc would output to the screen. Anything between 32 and 126 would work.

[2018-02-13 17:32] sam0104 commented on #46010
I do not have any specific log. Which log can I provide ?

When I replace http://localhost  with http://10.x.x.x it is working fine. When I test with curl command both http://localhost  and http://10.x.x.x. works fine.

Does http.wait_for_successful_query hard coded for listen http code on specific network interface ( eth0 )?

[2018-02-13 17:35] #45825 closed

[2018-02-13 17:37] #34734 closed

[2018-02-13 17:37] #35070 closed

[2018-02-13 17:40] #45784 closed

[2018-02-13 17:42] histamineblkr commented on #45510
The odd think is that the salt-master has no issue checking for a service running on remote salt-minion. I am only experiencing this on a salt-master and salt-minion running on the same host. I want to manage my own machine with salt.

[2018-02-13 17:48] adamehirsch commented on #27400
In my case, I found that running `pkg.installed` against a given package *without* pinning it to a specific repo seemed to eliminate the error; I believe (though this was a little while ago now) that the issue for me came out because the package had dependencies that couldn't be fulfilled from the pinned repo.

[2018-02-13 17:54] #45739 closed

[2018-02-13 18:16] ferringb commented on #35070
@alekseiplotnikov in reimplementing my patch, you left out the test updates.  See https://github.com/ferringb/salt/commit/12fdda7158baae99b544d923a2d0bbe00a134ac7 , specifically that you're adding new groups to the results of psql_query, but didn't update the test mock to add it.

What you implemented is cleaner than mine, but usually at least a reference to the author is normal- you're shuffling

[2018-02-13 18:27] ghost opened #46014 "service.running with unmask: true does not work as documented"
### Description of Issue/Question

Attempts to use service.running with unmask: true fails to work, although the documentation indicates that it should.  Doing a service.unmasked followed by a service.running does work.

### Setup

postgresql_service:
  service.running:
    - name: postgresql
    - enable: true
    - unmask: true

### Steps to Reproduce Issue

Running the above saltstate step prod

[2018-02-13 18:39] #45627 closed

[2018-02-13 18:40] poliva83 opened #46018 "[2017.7.3]: git.latest has regression for windows hosts where TypeError exception is now thrown."
### Description of Issue/Question

https://github.com/saltstack/salt/pull/43769 introduced with 2017.7.3 and has caused regression in the git module for windows hosts. This is because line https://github.com/saltstack/salt/pull/43769/files#diff-59a19c9338fb59c2d90efccd4a0d618fR298 calls `__salt__['file.remove']` passing in `None`. This triggers uncaught TypeError exception to occur here https://gi

[2018-02-13 18:41] #45805 closed

[2018-02-13 18:56] dmurphy18 opened #46019 "Update repo signing to allow for Python 2 and Python 3 subdirectories"
### Description of Issue/Question
With the addition of Python 2 and Python 3 sub-directories for packages in salt-pack building, the repo signing needs to allow for walking these sub-directories, previously all packages were in a single directory, hence os.listdir, but now need to walk a sub-tree, hence need os.walk.

### Setup
Running repo signing command, e.g.
salt c7m state.sls repo.redhat.rhel

[2018-02-13 18:59] alekseiplotnikov commented on #35070
@ferringb I wasn't reimplementing your patch, I haven't seen it before. In fact, my code has been running on our servers for a while, but I had no time to submit pull request to upstream until last week. I checked only upstream code and not this issue, so I missed your patch, sorry about that.

I am not sure about the testing part, need to review it.

[2018-02-13 19:00] maznu commented on #14888
Still present in 2017.7.3.

[2018-02-13 20:10] frogunder opened #46020 "running state file using salt-ssh fails on py3 setup, oxygen.rc1"
### Description of Issue/Question
On oxygen.rc1 on py3 setup when trying to run a state file using salt-ssh, it fails with this error.
There's nothing in the log file /var/log/salt/ssh

[code]
### Setup
Set up roster file and make a state file.

[code]

### Steps to Reproduce Issue
Run the state file, and it will fail. Other salt-ssh commands seems to run fine.
[code]

Running the state file using

[2018-02-13 20:12] basepi commented on #11276
@rallytime can you work on getting that done? ^

[2018-02-13 20:18] suslikas commented on #44200
Hi guys... in progress yet... Here example for who needed this function now... Work fine for MySQL 5.7

[code]

[2018-02-13 20:33] jcmcken commented on #44062
These problems are caused because Salt distributes this module:

``salt/utils/boto3.py``

When you ``import boto3``, there's a chance that it actually imports Salt's own module with that name rather than the actual ``boto3`` library (depending on how ``sys.path`` is setup).

If you actually remove ``botocore`` from your machine (e.g. on CentOS ``yum remove python2-botocore``), these warnings will

[2018-02-13 20:40] poliva83 commented on #46018
Exact same problem with `__salt__['file.remove'](tmp_identity_file)` call as well: https://github.com/saltstack/salt/pull/43769/files#diff-59a19c9338fb59c2d90efccd4a0d618fR308

[2018-02-13 21:12] #28589 closed

[2018-02-13 21:45] Reiner030 opened #46021 "Saltstack repository - status page/public mirror possibility? And causing stucked install states?"
Hello,

It would be great to have
* a public status page to easily recognize down/routing/ddos/... issues
* the possibilty for public mirrors like most OSS offers so it's easy
  * to lower the impact of data transfers for you / make traffic more "localized"
  * switch to (other) mirrors if such failure occurs

Actual (over 3-4 hours yet) the saltstack repository repo.saltstack.com is mainly not av

[2018-02-13 21:57] rallytime commented on #11276
@basepi yeah, looking into it now. thanks!

[2018-02-13 22:12] #28651 closed

[2018-02-13 22:22] Reiner030 commented on #46021
Now it seems up again.

BTW: There is a mirror offer but the rsync would include all distributions (OS) and versions included which may results in some hundreds GBs / some TBs of (mostly unwanted) files which is not very useful for "local mirror" setups - only for public ones (can you setup some info files about the sizes, too?):
https://repo.saltstack.com/#mirror

For Debian/Ubuntu I know about `

[2018-02-13 23:14] twangboy commented on #45643
Does the Jenkins job run as the Local System Account?

[2018-02-14 00:01] twangboy commented on #45969
We could either add a source option to `bootstrap` or we could add `bootstrap_local`. I kind of like `bootstrap_local` because the `bootstrap` does a lot more than just install chocolatey.

- It Windows has the version of PowerShell itneeds
- It installs `.NET 4.0`
- Then it installs Chocolatey

If we're installing chocolatey from a local source, we would need to assume that's already been done an

[2018-02-14 00:15] evarghese commented on #46021
It seems we are running into an ssl error:
[code]
This is only happening intermittently, but it is hanging apt as Reiner030 reported.

[2018-02-14 00:15] deepakhj commented on #46021
I'm having issues with server certificate verification. Some time today, I am unable to bootstrap new hosts.

`curl -L https://bootstrap.saltstack.com -o install_salt.sh
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   264  100   264    0     0   3435      0 --:--:-- --:--:-- --:--:--

[2018-02-14 00:38] dpedu2 commented on #24567
Possibly related - with `cron.present`, I was able to reproduce the original issue without using `special` or `identifier` - in my YAML, if the value of `commented` is a quoted string of True (literally `"True"`) instead of plain True (`True`), it triggers the same behavior. Strangely, in my state file with two `cron.present` entires, only one is affected (and it's always the same one).

[2018-02-14 00:51] lsh-0 commented on #46021
similar error here:

[code]

[2018-02-14 01:04] maxime-viargues-serato commented on #45643
No it runs as the main user of the machine.

[2018-02-14 01:33] lsh-0 commented on #46021
I can replicate @evarghese case:
[code]

[2018-02-14 02:46] ooboyle commented on #43488
Hello,

Any update on this? Do you need anything else from me to help move this forward?

Oliver

[2018-02-14 04:22] #40303 closed

[2018-02-14 05:53] abmoham commented on #45969
Adding input parameters seems to be an extensible method to achieving the desired result (IMHO - a better choice) and could support any of them exposed in the chef cookbook implementation @ https://github.com/chocolatey/chocolatey-cookbook/blob/master/attributes/default.rb and all the flexibility it provides.

[2018-02-14 06:53] MAHDTech commented on #20010
@tampakrap, I believe it doesn't work with the state files as they are sync'd to the minion before being processed locally, so the actual file path to the state is something like:

`{{ cachedir }}{{ saltenv }}/PATH_TO_SLS_FILE`
`/var/cache/salt/files/base/PATH_TO_SLS_FILE`

So for an example if you had these example states

Which are referenced like:

Maybe an adaption on this could work... (haven

[2018-02-14 06:55] jsutton opened #46025 "Module yumpkg.py does not support --security or other extra arguments for list_upgrades."
### Description of Issue/Question
Module yumpkg.py does not support --security or other extra arguments for list_upgrades..

### Setup
Salt installed from source on develop branch.

### Steps to Reproduce Issue
[code]
### Versions Report
[code]

[2018-02-14 08:46] areaxx opened #46028 "salt artifactory - classifier still not properly being identified"
### Description of Issue/Question
Follow-up of Issue #31179. When processing the maven-metadata.xml the classifier will already be considered, but not in the context of the extension. The evaluation of the requested version considers only the packaging (or extension) and ignores the classifier. Maybe you get the desired version with classifier or not. This depends on the order of the entries in th

[2018-02-14 08:47] DenisBY commented on #44062
But we need boto3 on this server for other purposes, i.e. for managing AWS. So we can't simply remove it.

[2018-02-14 09:30] Satak commented on #45104
This would be very useful feature. Any estimation for implementation?

[2018-02-14 10:15] sumeetisp opened #46030 "Extention Modules -Salt saltutil sync issues"
### Description of Issue/Question

When i place custom module at /usr/lib/python2.7/dist-packages/salt/modules/ all the imports work perfectly.

Then i moved the custom module to /srv/salt/_modules and used saltutil.sync_modules to sync it minion,which worked.
But after this i have started seeing import errors for boto3 python library.
Please help.

[2018-02-14 10:33] KaiSzuttor commented on #45967
thank you @aphor for the new issue. I think what is in some way special to macports is that you foo+sparkles and foo+sprinkles can be installed at the same time. Macports resolves this by symbolic links (```port select --set ...```) which is not yet covered by the states module.

[2018-02-14 10:43] github-abcde commented on #46004
I only started looking for the cause of this when I encountered it, and this was not the case in 7.2. However, the minimal reproduction steps I distilled seem to consistently replicate the issue in all versions I tested (2016.3.1, 2016.11.1, 2016.11.7, 2016.11.8, 2016.11.9, 2017.7.1, 2017.7.2 and of course 2017.7.3).

[2018-02-14 12:39] rippiedoos commented on #43799
Any progress on this?

[2018-02-14 12:41] baby-gnu commented on #14613
I was looking at the [source code](https://github.com/saltstack/salt/blob/2017.7.3/salt/config/__init__.py) and here are my thougths:

* we could define utility functions to expand paths in `salt.utils.path`
  * `expand_path` when the caller expect a single file
  * `expand_glob_path` when the caller expect a list
* each one take the optional argument `root_dir` and apply the same logic than [prep

[2018-02-14 14:37] Ch3LL commented on #46010
which proxy settings are you using? can you paste a sanitized version here?

[2018-02-14 14:38] Ch3LL commented on #43799
This isn't currently being worked on due to higher priority issues. Please feel free to submit a PR though.

[2018-02-14 14:39] Ch3LL commented on #43488
ping @saltstack/team-windows any thoughts here?

[2018-02-14 14:42] Ch3LL commented on #45104
We are not currently working on it due to other higher priority issues. Please feel free to submit a PR though.

[2018-02-14 14:55] Ch3LL commented on #43150
ping @shadowfax-chc looks like you created this module. Any chance you know if we could imporve this by following symlinks?

[2018-02-14 15:01] sam0104 commented on #46010
Here is the minion configuration file . **When we disable  #proxy_host: http://proxy.test  it works fine.**
cat /etc/salt/minion
##### Primary configuration settings #####
##########################################
# This configuration file is used to manage the behavior of the Salt Minion.
# With the exception of the location of the Salt Master Server, values that are
# commented out but have an

[2018-02-14 15:04] sam0104 commented on #46010
**Here is the minion configuration file . When we disable  #proxy_host: http://proxy.test  it works fine.
cat /etc/salt/minion
##### Primary configuration settings #####
**### ##########################################
# This configuration file is used to manage the behavior of the Salt Minion.
# With the exception of the location of the Salt Master Server, values that are
# commented out but have

[2018-02-14 15:10] sam0104 commented on #46010
Here is the minion configuration file . When we disable  #proxy_host: http://proxy.test  it works fine.

[2018-02-14 15:11] sam0104 commented on #46010
[minion.txt](https://github.com/saltstack/salt/files/1724485/minion.txt)

[2018-02-14 15:12] #28687 closed

[2018-02-14 15:12] #22191 closed

[2018-02-14 15:12] #28663 closed

[2018-02-14 15:21] Kaydub00 opened #46033 "pkg.upgrade breaks yum/rpm when upgrading kernel"
This is semi-related to #45924. I would like to run pkg.upgrade to upgrade all packages on a system. This seems to break when the kernel-utils package is upgraded(possibly all kernel packages?). I was looking into the code and I saw [on lines 1748-1758 here](https://github.com/saltstack/salt/blob/develop/salt/modules/yumpkg.py) that this issue seems to have been brought up before but in relation t

[2018-02-14 15:51] Ch3LL commented on #45659
@DmitryKuzmenko thanks for that clarification. I went ahead and tried to replicate this issue and was not successful.

ping @weixp was this working previously?

also is there any useful information in the debug logs that you can paste a sanitized version here?