[2018-12-19 00:42] garethgreenaway commented on #50430
Added in https://github.com/saltstack/salt/pull/48359

[2018-12-19 03:46] andyyumiao opened #50908 "How to use salt-api with Tornado?"
### Description of Issue/Question
How to use salt-api with Tornado? instead of CherryPy?

[2018-12-19 06:14] aaronlauterer commented on #46965
@Ch3LL sorry for the late reply as I am currently travelling.

I tried my above example and it seems to work fine with 2018.3.3 and would consider this as fixed :)

[2018-12-19 06:14] #46965 closed

[2018-12-19 11:16] kk21986 commented on #50792
@garethgreenaway  Thanks. Today I have noticed the same error on loader as well.

[code]

Is this related with the same one or do I have to open new issue for this?

[2018-12-19 11:19] jose1711 opened #50910 "not all requirements are taken into account when applying state"
I expect that when state contains a single `require` and a single `onfail` requisite both are inspected and only if both of them pass, the salt state is executed (thus that it's `require AND onfail` not `require OR onfail`). This is not the case apparently:
[code]
This is an expected behaviour, now I will make "Failed state" to not fail.
[code]
I would expect Main state to not be executed (because

[2018-12-19 11:40] kk21986 opened #50911 "DeprecationWarning: `formatargspec` is deprecated since Python 3.5. Use `signature` and the `Signature` object directly"
### Description of Issue/Question
Getting the below warning messages on salt 2018.3.3 with python3.7.1. Due to these warning messages the automation not behaving properly which uses salt.

[code]

### Setup

### Steps to Reproduce Issue
Compiled python 3.7.1 on centos 6 and installed salt using pip. When I try to apply any states, started seeing the above warning message on the minion log file.

#

[2018-12-19 13:02] DmitryKuzmenko commented on #50775
@crux-capacitor the main reactor thread puts all the reaction chunks to job queue. Threads are reading the tasks one-by-one and execute them synchronously, i.e. each thread waits until the reaction chunk is done.
This is correct for `runner` and `wheel` reactions.
So yes you're right. If you'll have 20 jobs 10 minutes each and 10 threads, overall time would be about 20 minutes. Does it make sense?

[2018-12-19 14:39] Ch3LL commented on #50866
hmmm  ping @weswhet do you have any ideas here by chance?

[2018-12-19 14:48] crux-capacitor commented on #50775
@DmitryKuzmenko Yes, that makes sense. Thanks for clarifying.

I'm still wondering if there is a way to make the threads not wait, if there is a way at all.

[2018-12-19 15:05] weswhet commented on #50866
From first glance this looks like an issue we have fixed in an upcoming release, where if there is any file in a Service path that isn’t a proper plist this will happen.

[2018-12-19 15:09] adambarnett52 commented on #50866
Hi,

Is there a release date for this? or the file changes so i can make a patch
for our current release

Thanks
Adam

On Wed, Dec 19, 2018 at 3:05 PM Wesley Whetstone <notifications@github.com>
wrote:

--
Adam Barnett

[2018-12-19 15:12] Ch3LL commented on #50775
@crux-capacitor there is this issue with some possible workarounds for you: https://github.com/saltstack/salt/issues/39723

[2018-12-19 15:15] weswhet commented on #50866
You can try the mac_service module here https://github.com/mosen/salt-osx/tree/master/_modules. But honestly your best bet is to find the bad service file and remove it. Is this happening on all your machines or just the one?

[2018-12-19 15:31] weswhet commented on #50866
So I don’t believe the ntp service is the issue. Salt tries to gather info on every available service on the system so any bad launch daemon/agent file will cause this to happen. I believe a trace log run might reveal the culprit.

[2018-12-19 15:38] thechile opened #50914 "FreeBSD 12.0 support"
Hi

Now FreeBSD 12.0 is out, does anyone have an ETA for its support in `bootstraps.sh` and `https://repo.saltstack.com/freebsd/` ?

Thank you.

[2018-12-19 15:48] morph027 commented on #45026
Any chance we can get this backported to 2017.7 too? ;)

[2018-12-19 16:02] adambarnett52 commented on #50866
Sorry  to sounds like a noob but how do i do the trace log for salt?

On Wed, Dec 19, 2018 at 3:31 PM Wesley Whetstone <notifications@github.com>
wrote:

--
Adam Barnett

[2018-12-19 16:07] terminalmage commented on #45026
Unlikely, since A) there are no more 2017.7 releases planned, and B) the helper function used to make this fix doesn't exist in that release branch.

[2018-12-19 16:14] kiemlicz commented on #33256
latest
2018.3.3

[2018-12-19 16:44] morph027 commented on #45026
Okay...as the fix from @andreasnuesslein works, i'm going to check how i can incorporate it into salt.

[2018-12-19 16:45] apcookrz opened #50915 "Failed windows repo update"
### Description of Issue/Question
When I try to run the command `salt-run winrepo.update_git_repos` I get the following return:

[code]
### Setup
`salt-run winrepo.update_git_repos`

### Steps to Reproduce Issue
`salt-run winrepo.update_git_repos`

### Versions Report
[code]

[2018-12-19 16:51] weswhet commented on #50866
No worries “-l trace” instead of “-l debug” on the salt-call run. It’ll be pretty noisy

[2018-12-19 17:37] DmitryKuzmenko commented on #50775
@Ch3LL thank you! Just because I'm out of answers here. =)
@crux-capacitor for now we have moving forward to make more and more things in salt to be async. So if it's ok like a temporary solution to just find out the optimal thread count for your case and just wait some months, I think you'll see stuff you need.

[2018-12-19 18:03] crux-capacitor commented on #50775
@Ch3LL @DmitryKuzmenko Thanks to you both for the answers!

Would you agree that the documentation on this (namely the portion that ReubenM quoted) is misleading? Can that be updated with a summary of what we discussed here? I think that would be really beneficial for others who are trying to optimize their reactions.

[2018-12-19 18:12] dpkirchner opened #50919 "state.apply test documentation unclear"
I'm looking into how to use `state.apply`, however I found the documentation unclear:

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.state.html

The documentation describes how to apply all states and how to apply a single state, however the examples for both have the same command and suggest they do different things: `salt '*' salt.apply test`. In the former case, the docs say

[2018-12-19 19:00] terminalmage commented on #49894
Fixed by https://github.com/saltstack/salt/pull/50921.

[2018-12-19 19:04] dwoz commented on #50903
I've been wondering if this issue would come up. I think we need to add an encoding parameter to most of the file states.

[2018-12-19 19:48] dwoz commented on #50908
@andyyumiao There are two options for running salt-api:

1) configure a webserver to use wsgi
2) run `salt-api` and use cherrypy as the server

Unfortunately, `salt-api` doesn't support running with tornado.

[2018-12-19 20:02] dwoz commented on #50908
@andyyumiao My last comment is incorrect. The documentation for running salt-api with tornado can be found here:

https://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_tornado.html

[2018-12-19 20:23] eliasp commented on #49890
Isn't the JobID only available for non-local calls? So a `salt-call --local state.apply foo` would fail to render, as there's no JobID to be added to the Jinja context? So this would also effectively prevent local development of states outside a full-blown Minion/Master setup?

[2018-12-19 20:34] ReubenM commented on #50775
Yes, from the docs I linked to, it led me to believe that the orchestration runners were called by the reactor handlers without waiting for the orchestration runner to return. I have a lot of long running orchestrations that are triggered by events, and in light of this I'll probably need to increase the pool size of threads for the reactor job queue.

[2018-12-19 21:03] gtmanfred commented on #49890
the __pub_jid is the jid assigned from the master, so if you run --local, aka masterless, it will never hit the publish bus, and won't get the pub_jid.

[2018-12-19 21:03] gtmanfred commented on #49890
@saltstack/team-triage

[2018-12-19 21:11] martinm82 commented on #45292
I am using kitchen ci with a bento/ubuntu-16.04 vagrant box. The vm does not contain at the beginning neither python nor any pip modules. After creating the initial vm I ran pip freeze which just failed since I haven't installed yet anything on it.

Our salt setup installed before the `docker-py` module which I changed not to `docker`. So I am 100% that I always use a fresh vm without anything on

[2018-12-19 21:34] dwickwire commented on #49967
Can I get a ball-park idea of when can we expect `2018.3.4` please?  Just upgraded all our minions to `2018.3.3` and am starting to try and use pip `v18.1`.   Thanks!

[2018-12-19 21:48] terminalmage commented on #45292
If you can share the Vagrantfile and steps to reproduce, I can try to do so.

[2018-12-19 22:03] martinm82 commented on #45292
Hi @terminalmage,

after playing a bit around I have now a combination that works:

* pip: 18.0
* docker: 2.6.1

I get the universaldetector error with
* pip 18.0 and docker 3.5.1 and
* pip 9.0.1 and docker 2.6.1 or 3.5.1

This is the vagrantfile generated by kitchen-vagrant:
[code]

For the reproduction steps I will need to extract the important pieces from our setup. I will get back to it tomorr

[2018-12-19 22:09] dwoz commented on #50910
@jose1711 Thank you for reporting this. I've confirmed the issue. Looks like it was an un-intended side effect of PR #31235 which is a bugfix for #22370

[2018-12-19 22:18] dwoz commented on #50914
@thechile Thanks for pointing this out. @saltstack/team-core does anyone know what it will take to package salt for FreeBSD 12.0?

[2018-12-19 22:31] hemebond commented on #45292
I still get the `universaldetector` error with the `18.0`/`2.6.1` combo :disappointed:

[2018-12-20 00:03] garethgreenaway opened #50924 "#48290 broke os grain in Fluorine"
### Description of Issue/Question
With napalm installed, #48290 causes the `os` grain to be `None`  in Fluorine.  The virtual function is no longer detecting if is is running inside a proxy minion, so it is running and attempting to overwrite the `os`
grain.

@mirceaulinic FYI, tagging you since you made that change.

### Setup
Install napalm with Salt fluorine release.

### Steps to Reproduce Iss

[2018-12-20 00:17] steverweber opened #50925 "tpldir should be documented and included in best pratices"
seeing a few users cut their teeth in this.
we should include `tpldir` in  https://docs.saltstack.com/en/latest/ref/states/vars.html

and use it in the best practices:
https://docs.saltstack.com/en/latest/topics/best_practices.html

[2018-12-20 00:22] steverweber commented on #50925
ref: https://github.com/saltstack/salt/issues/41195

[2018-12-20 02:02] mngan opened #50926 "netconfig.managed state reports "Configuration changed" when no changes and commit=False"
### Description of Issue/Question

When I apply a netconfig.managed state to a device with the commit=False parameter, the state will always report "Configuration changed" even though there are no changes, and the diff is empty. This appears to be caused by the code in salt.modules.napalm_network._config_logic() not handling the case where commit_config=False.

### Setup
[code]

### Steps to Repro

[2018-12-20 02:16] Yukinoshita-Yukino opened #50927 "Salt python client "get_full_returns" seems return data from incorrect jid"
### Versions:
salt-master: 2018.3.2
salt-minion: 2015.5.10 (not sure if this old version of minion is causing this problem)
python salt client: 2018.3.0 (pip install salt==2018.3.0)

### Problem:
Seems like when I call "get_full_returns" when sending out async cmd(cmd_async) I got some return data not from the jid I was given by the cmd_async call.

### Steps:
Let's say I have two Python program r

[2018-12-20 03:19] terminalmage commented on #45292
@martinm82 thanks!

[2018-12-20 04:35] dwoz commented on #50911
@kk21986 Thank you for reporting this issue. Salt does not yet support python 3.7 and we do not support python 3 on redhat 6 due to missing dependency packages.

We will still look into fixing this as we move towards supporting python 3.7.

[2018-12-20 04:43] dwoz commented on #50919
@dpkirchner I can see why the docs are a bit confusing. Hopefully I can explain it a bit further here.

To apply all states run state.apply without any arguments:

`salt '*' state.apply`

To run the states found in `test.sls` run `state.apply` with a single argument  `test`:

`salt '*' state.apply test`

If you want to apply the states in `test.sls` as a `dry-run`, you'll use the *keyword argument

[2018-12-20 05:18] dwoz commented on #50915
@apcookrz I'm not able to reproduce this error. What version of `boto3` do you have installed?

Also, to get winrepo working you'll need `GitPython` or `pygit2` installed.

[2018-12-20 05:37] andyyumiao commented on #50908
@dwoz many thanks!

[2018-12-20 06:56] martinm82 commented on #49967
I am so sorry, I just added the version in my kitchen.yml and I somehow missed the error that the version does not exist.

[2018-12-20 09:31] Poil opened #50931 "salt-run jobs.list_jobs OOM"
### Description of Issue/Question

### Setup
My machine is a Virtual Machine with 16GB of memory, before calling jobs.list_jobs I have 15GB free.
I have 42 nodes connected on the Salt master.
I also use the returner pgjsonb (event_return and master_job_cache)

### Steps to Reproduce Issue
I query jobs list from yesterday and only one node match
[code]

It seems like all the data are get and python

[2018-12-20 09:51] Hipska opened #50932 "External Pillar documentation typo"
On [doc/topics/development/external_pillars.rst](https://github.com/saltstack/salt/blame/develop/doc/topics/development/external_pillars.rst#L156) there is a missing `{` in the example of `ext_pillar`:
[code]
I guess it needs to be before `keyA`?

[2018-12-20 10:38] Poil commented on #50931
This seems to be already discussed here #21450 some work had been made but the discussion habe been closed before resolving all

[2018-12-20 12:11] martinm82 commented on #45292
@terminalmage The sls file could be probably made smaller but at least I can use it to reproduce the issue:

https://gist.github.com/martinm82/f3a31d011ed765ccc9101d0fc4614dca

[2018-12-20 12:53] rossengeorgiev commented on #49591
Issue exists on `2017.7.8` as well.

[2018-12-20 13:06] srinivassundar commented on #49404
hi team, any update on this issue ? i am facing the same problem.
root@salt:~# salt --versions-report
Salt Version:
           Salt: 2018.3.3

Dependency Versions:
           cffi: 1.11.5
       cherrypy: unknown
       dateutil: 2.7.5
      docker-py: Not Installed
          gitdb: 2.0.3
      gitpython: 2.1.8
          ioflo: Not Installed
         Jinja2: 2.10
        libgit2: Not Installed

[2018-12-20 13:07] crux-capacitor commented on #50775
Another thing. Should this:

actually be this?

[2018-12-20 13:21] terminalmage commented on #45292
@martinm82 where are the files in your salt fileserver coming from? Also, salt isn't installed using the Vagrantfile you provided, so did you simply use salt-bootstrap? If so, please provide the bootstrap command you used so that I can get this as close as possible to your setup.

[2018-12-20 13:47] Poil commented on #50931
I've wrote get_jids_filter but this does not fix my issue.
I think we need to add the ability to delegate the filtering to the returners, easy I think for postgresql and other databases that support json

[2018-12-20 13:47] mirceaulinic commented on #50924
I submitted https://github.com/saltstack/salt/pull/50934 to attempt to fix this - please let me know if that works @garethgreenaway.

[2018-12-20 14:31] mattboston opened #50935 "Feature Request: Salt-Cloud command line options for credentials"
### Description of Issue/Question
Currently the way salt-cloud works, you need to specify credentials in the /etc/salt/cloud.providers.d files, meaning you need to either put your credentials or a shared account.  We are not allowed to put our account credentials or a shared/service accounts, and if we put our credentials in here it violates our company policies.

### Desired Result
Ability to lea

[2018-12-20 14:32] mattboston commented on #50935
^^^ We use VMWare, so obviously use use Active Directory credentials.  For other cloud providers, there may be other options needed.

[2018-12-20 15:10] Ch3LL commented on #50926
this is probably related to https://github.com/saltstack/salt/issues/49814 but this specifically calls out without using test=True so I will keep it open here as well.

was this working previously?

[2018-12-20 15:44] Ch3LL commented on #50927
is the program B producing the same JID as program A?

[2018-12-20 15:45] Ch3LL commented on #50931
thanks for the PRs!

[2018-12-20 15:57] cedwards commented on #50914
Salt is packaged for FreeBSD 12.0, available in the quarterly and latest repositories. Bootstrap deployment _shouldn't_ change between 11.2 and 12.0.

[2018-12-20 16:18] perfecto25 commented on #21370
I am seeing this error when running a formula over salt-ssh

when I run the same formula with salt agent, no issues. It appears a nested Jinja cant be read by salt-ssh

`root@nemesis /s/s/s/s/f/n/f/hosts# salt --versions-report
Salt Version:
           Salt: 2018.3.2

Dependency Versions:
           cffi: 1.11.5
       cherrypy: Not Installed
       dateutil: Not Installed
      docker-py: Not Ins

[2018-12-20 16:23] Ch3LL commented on #50935
this was added a long time ago: https://github.com/saltstack/salt/pull/12291

but it seems like it would need to be added per cloud driver. This was only added to openstack at the time

[2018-12-20 16:24] Ch3LL commented on #48565
@gtmanfred after searching for a separate issue i actually found this feature: https://github.com/saltstack/salt/pull/12291

looks like its only for openstack though

[2018-12-20 16:24] Ch3LL commented on #50935
you could also setup sdb with keyring

[2018-12-20 16:32] garethgreenaway commented on #50924
@mirceaulinic That fixes the issue.  Will this in place does it still fix the issue from the original PR?

[2018-12-20 16:39] mirceaulinic commented on #50924
Yes, it does. Thank you!

On Thu, Dec 20, 2018, 16:33 Gareth J. Greenaway <notifications@github.com>
wrote:

[2018-12-20 16:40] garethgreenaway commented on #50924
@mirceaulinic Perfect!  Thanks!

[2018-12-20 16:40] #50924 closed

[2018-12-20 16:43] mngan commented on #50926
I don't believe #49814 is related. That issue looks like it is related to how "change" events are triggered by this execution module, which is also of interest, but different from the problem I am seeing.

I don't know if this previously worked or not. This is the first time I have tried to use this state. However, looking back at the history of the _config_logic() function the general hasn't real

[2018-12-20 16:46] gtmanfred commented on #49967
you can check #releases on the salt community slack listed on the community page of saltstack.com https://saltstackcommunity.herokuapp.com

but @saltstack/team-triage might know a date.

I know right now they are working on getting an RC out for fluorine.

[2018-12-20 16:47] gtmanfred commented on #49967
if you have to use pip 18.1 right now, you can always drop the pip.py module into salt://_modules like all other dynamic modules.

https://docs.saltstack.com/en/latest/ref/file_server/dynamic-modules.html

[2018-12-20 16:50] gtmanfred commented on #49404
afaik there is no work currently being done allowing ordering of engine starts.

But you could try directly specifying the reactor in the list of engines.

[code]
And see if explicitly putting the reactor engine before the sqs events engine causes the reactor to be started first.

The way that the reactor is started now is if you have a `reactor` key in the master config, it adds the reactor engin

[2018-12-20 16:51] Yukinoshita-Yukino commented on #50927
I checked the JID by looking into the debug log from salt and I believe no, they don't have the same JID.

This problem occurs quite often in my situation, as program B is sending out cmd at the frequence around 90calls/2min. In program A each time I call get_full_returns there's around (or maybe higher) 50% chance I got some return from the job created by program B. That's quite a abnormally high

[2018-12-20 16:51] gtmanfred commented on #48565
I am pretty sure that was removed, and replaced with the keyring sdb module.

[2018-12-20 16:54] roylarsen opened #50939 "Running salt-cloud within orchestration always reports success"
### Description of Issue/Question

When running cloud functions within orchestrate, orchestrate can't catch failures correctly.

The issue is that these lines in salt/states/saltmod.py work most of the time:
if isinstance(runner_return, dict) and 'Error' in runner_return:
        out['success'] = False

These stop working when the return dict element is itself a dictionary, like this line in my ex

[2018-12-20 16:58] roylarsen commented on #50939
It's even worse if you want to use a cloud map:

sudo salt-run state.orchestrate orchestrate.new_multi_server pillar='{"env": "v44"}' saltenv=testenv -l info
[INFO    ] Loading fresh modules for state activity
[INFO    ] Running state [cloud.map_run] at time 11:55:14.187594
[INFO    ] Executing state salt.runner for [cloud.map_run]
[WARNING ] '*server a*' already exists, removing from the create m

[2018-12-20 17:01] dwickwire commented on #49967
OK, I don't *need* pip `v18.1` but this is more of a blocker to get to python 3.7, which is more important to me.  Python doesn't seem to want to install 3.7 with pip `v9.0.3`, whereas it seems to install fine `v18.1`.  Its been two months since the fix, which is why I asked.   I'll check out the dynamic modules though, thanks for the tip.

[2018-12-20 17:43] terminalmage commented on #50919
Docs updated in https://github.com/saltstack/salt/pull/50940. Thanks for reporting!

[2018-12-20 17:43] #50919 closed

[2018-12-20 17:52] terminalmage commented on #50724
If you run `salt someminion cp.cache_file https://pkg.osquery.io/rpm/osquery-2.10.2-1.linux.x86_64.rpm`, do you get the same error?

[2018-12-20 17:53] terminalmage commented on #50724
Obviously, replace `someminion` with the minion ID of that same box behind the proxy.

[2018-12-20 18:08] gtmanfred commented on #49967
did you try pip 10.x?

[2018-12-20 18:24] whytewolf opened #50941 "Documentation issue with archive.extracted"
### Description of Issue/Question
Currently, the `source` setting for `archive.extracted` says that it supports the same format as `file.managed`. However, this is not true.

`archive.extracted` does not handle multiple sources in the source field like `file.managed` does. The documentation makes it seem like it should.

[2018-12-20 18:25] whytewolf commented on #50941
ZD-3122

[2018-12-20 18:31] 519seven opened #50942 "NoneType object has no attribute 'lower'"
### Description of Issue/Question
Functionality isn't broken, I just can't get a salt run without error count being equal to 1.

I am receiving this error on only one out of many pip packages:

[code]

### Setup
State file:
[code]
Other packages that are already installed are returned as being installed as you can see here (compare inclusion of "coverage" and "gitpython" in pip.packages above to o

[2018-12-20 19:19] whytewolf opened #50944 "HTTP error causes file.managed with multiple source items to not continue"
### Description of Issue/Question
When using multiple source items with file.managed. If one of those items is an HTTP that fails in any way such as a 404 or downed server. The `file.managed` will stop and display that error instead of continuing on as if the file doesn't exist.

[code]

### Setup
Put a tar file in salt://test/test.tar.gz so one of the items will work and use the state above.
The

[2018-12-20 19:36] dwickwire commented on #49967
Oh hey, good idea.  Just tried it, unfortunately python still won't install.  All I'm getting is:

[code]

This doesn't occur with pip 18.1, instead I get the known `AttributeError`.  I guess I can wait, its just nice to stay with the latest python.  Or I'll just look into the dynamic modules you cited.  Thanks again.

[2018-12-20 20:50] cachedout opened #50947 "Log full of IPv6 warnings"
A master running with debug logs enabled is full of entries similar to the following when an IPv6 interface is present:

[code]

[2018-12-20 23:00] reversefold opened #50949 "How do I load custom ext_pillar modules from git?"
### Description of Issue/Question
We have our salt server set up with the states and pillar each in their own git repos. The states are configured with gitfs_remotes and the pillar is configured with ext_pillar/git. Both of these work fine.

I have a new cusotm pillar module which works fine when I put it in a directory on the master and use extension_modules to point to the directory. However,  I

[2018-12-20 23:54] bwesemann-cxp commented on #10723
@cebe There is a "test" salt module for states documented [here](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.test.html) that can be used as a controlled fail. How I've used it in relation to the original post:
[code]
output looks like this
[code]

[2018-12-21 00:00] roskens commented on #50249
@Ch3LL i haven't been able to discover anything more about the null command.

Running `alter database salt set log_min_error_statement = fatal;` when connected as an adminstrator in the database causes the statements causing an error to no longer be logged. You still get the error and details for why there was an error.

[2018-12-21 01:46] thechile commented on #50914
thanks @cedwards for packages .. but for the bootstrap script it only supports up to 11.x as per the following functions using the major version number. When i try it on 12.0 it fails because it doesn't match an available method.

[code]

Thanks.

[2018-12-21 01:48] whytewolf commented on #50944
ZD-3122

[2018-12-21 01:56] whytewolf commented on #50942
This would never work. `python` is not a pip package. It only gets listed when you run pip install but doesn't show up in a pip list or pip freeze which is the part that is used to check if a package is installed. But in order to even use pip python has to already be installed.

[2018-12-21 05:20] #43046 closed

[2018-12-21 05:20] #34219 closed

[2018-12-21 05:20] #21714 closed

[2018-12-21 05:20] #42966 closed

[2018-12-21 05:21] #19032 closed

[2018-12-21 05:21] #43055 closed

[2018-12-21 05:21] #43043 closed

[2018-12-21 05:21] #42981 closed

[2018-12-21 05:21] #4352 closed

[2018-12-21 05:21] #42957 closed

[2018-12-21 05:21] #42972 closed

[2018-12-21 05:21] #42747 closed

[2018-12-21 05:21] #42927 closed

[2018-12-21 05:21] #43000 closed

[2018-12-21 05:21] #43007 closed

[2018-12-21 05:21] #42994 closed

[2018-12-21 05:21] #21119 closed

[2018-12-21 05:21] #43028 closed

[2018-12-21 05:53] olipovch commented on #49845
@drel4o I almost have a PR ready, can I submit it or are you working on one?

[2018-12-21 07:45] mitar commented on #42065
Still relevant.

[2018-12-21 08:34] jvrahav commented on #46886
will this fix be available in the future version of salt.

[2018-12-21 08:47] Poil commented on #50931
I've cleaned #50936, not sure if we can have a better code or not, perhaps a real developer can look at it :)

[2018-12-21 09:04] martinm82 commented on #45292
@terminalmage I am using just salt-bootstrap.

BTW, I think I might know what the problem is. I figured out that the salt modules are stored inside `/usr/lib/python2.7/dist-packages` whereas the `docker` module under `/usr/local/lib/python2.7/dist-package`.
I will dig deeper why I have this difference.

[2018-12-21 10:03] furgerf opened #50955 "Possible version incompatibility in `cp` module"
### Description of Issue/Question
I'm retrieving files on master from several minions using `cp.push_dir`, which doesn't seem to work with old minions.

Unfortunately, we are currently running a mix of versions: The master is 2017.7.8, while the minions are either 2015.8.1, 2017.7.2, 2017.7.3, or 2018.3.3. However, I noticed that `cp.push_dir` doesn't seem to work with minions of version 2015.8.1

[2018-12-21 10:09] andyyumiao opened #50956 "Does salt has rpm auto-build script？How to build rpm package?"
### Description of Issue/Question
We modify some salt codes and want to re-build rpm package, does salt has rpm auto-build script?

[2018-12-21 10:14] sandilyasd opened #50957 "Unable to start salt minion in RHEL 6, but no error in salt-minion -l debug"
###Description
Getting an error "unable to load the config values from /etc/salt while starting the salt-minion service.
[root@xxxxxxxxx bin]# service salt-minion start
ERROR: Unable to look-up config values for /etc/salt

I have tried to run the salt-minion -l debug but the minion is successfully able to connect to minion and able to receive the requests and data from master.

However i am gettin

[2018-12-21 10:33] afletch commented on #49147
@deyanx I think that while cPanel does restart salt-minion, that's just a trigger for the underlying problem. We see this on cPanel servers too, but even with find_outdated_services ignoring salt-minion, any other attempt to restart salt-minion via systemctl causes the same behaviour.

[2018-12-21 10:37] Poil commented on #50931
Also it should be possible to avoid this step "salt.utils.jid.format_jid_instance" by doing a select like
[code]

[2018-12-21 10:43] afletch commented on #49147
@Ch3LL I have a strace of the minion process when it is restarted and this problem occurs, if that helps. Contains sensitive data so I will not be placing it here.

[2018-12-21 11:10] bbh-kmd commented on #46886
I thought it already was... Of course, we've added the fix locally to all new installs until it comes in. It isn't in develop, so I've created a branch for this in the fork I've created and will try to do a pull request against that into develop. Not that I've had much luck getting things through so far...

[2018-12-21 13:06] terminalmage commented on #45292
That might be a problem. What happens if you delete pip from /usr/local/lib and install it from your apt sources?

[2018-12-21 14:41] gtmanfred commented on #43174
@dwoz you also might be interested in getting this to work.

[2018-12-21 14:42] gtmanfred commented on #46886
Thanks for the PR @bbh-kmd

[2018-12-21 14:44] gtmanfred commented on #43192
still relevant

[2018-12-21 14:48] terminalmage commented on #43143
This was fixed in #43178.

[2018-12-21 14:48] #43143 closed

[2018-12-21 15:23] terminalmage commented on #50949
https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.saltutil.html#salt.runners.saltutil.sync_pillar

[2018-12-21 16:17] terminalmage commented on #50947
Fixed via https://github.com/saltstack/salt/pull/50962.

[2018-12-21 16:36] terminalmage commented on #50942
@whytewolf is right, but we still shouldn't be throwing a traceback here. https://github.com/saltstack/salt/pull/50963 fixes this.

[2018-12-21 16:41] whytewolf commented on #50941
so, in this ticket, I missed an issue. archive.extracted should work with multiple sources but because of the same issue with file.managed. HTTP errors stop from continuing.

This should be handled by the same fix to https://github.com/saltstack/salt/issues/50944

Closing this ticket in favor of that one.

[2018-12-21 16:41] #50941 closed

[2018-12-21 16:46] gtmanfred opened #50964 "Add a long description to setup.py for the new pypi.org"
### Description of Issue/Question

Since the upgrade of pypi.org, there is no project description for salt.

The `long_description` needs to be set on the sdist for this to be displayed on https://pypi.org/project/salt

See https://github.com/saltstack/pepper/blob/develop/setup.py#L17-L18 for an example

[2018-12-21 17:19] deyanx commented on #49147
Yes, exactly. That is what I tried to say. cPanel's rpmup is just a trigger for automatic restart and underlying problem, not the cause of the issue, so my suggestion will just prevent problem to happened "unattended", so we can restart minion manually when/if needed, and then we can check if the issue is there on manual restart. That is obviously not a solution for this problem, just a suggestion

[2018-12-21 17:20] Ch3LL commented on #50927
thanks for clearing that up. I was able to replicate this  and here was my test case:

[code]

[code]

I then ran programb like so:
`for i in {1..100}; do sudo python2 ~/programb.py; done`
and then ran programa and sometimes got programb's return.

I believe I was able to narrow it down to `get_event_iter_returns` here: https://github.com/saltstack/salt/blob/v2018.3.3/salt/client/__init__.py#L1664

[2018-12-21 17:22] Ch3LL commented on #48565
ahh gotchya thanks for clearing that up

[2018-12-21 18:16] reversefold commented on #50949
I tried the module in the state repo under _pillar but couldn’t get that to
work. I tried both updating the fileserver and bouncing the salt master.
Would running this as well give me a different result?

On Fri, Dec 21, 2018 at 8:23 AM Erik Johnson <notifications@github.com>
wrote:

--
Justin Patrin
Developer Extraordinaire

[2018-12-21 18:18] sagetherage commented on #43770
@sdodsley @gtmanfred is this still an issue?

[2018-12-21 18:22] sdodsley commented on #43770
I can't seem to reproduce it after pulling the latest code.

[2018-12-21 18:43] tyhunt99 commented on #35598
Apologies I got so busy I had completely forgotten about this. I still have an old attempt that I can dive back into over the holidays now that I have some free time. Is this still something considered low priority for development?

[2018-12-21 18:48] terminalmage commented on #50949
Using `salt-run saltutil.sync_pillar` will sync custom ext_pillar modules from `salt://_pillar`.

[2018-12-21 19:10] thatch45 commented on #50927
Yes, we should filter on the jid, that is at least how I remember originally writing it

[2018-12-21 19:26] dbond4r opened #50965 "Saltstack RHEL6 python27-requests removes the OS default python-requests"
### Description of Issue/Question

When installing salt-minion from the Saltstack repo for RHEL/centOS6 x86_64 the OS default python-requests RPM was removed and replaced with localized python27-requests braking scripts depending on it.

### Setup

$ cat /etc/redhat-release
CentOS release 6.4 (Final)

$ yum info  python-requests
Available Packages
Name        : python-requests
Arch        : noarch

[2018-12-21 20:45] Helmi-helmutson commented on #6896
+1

[2018-12-21 20:47] martinm82 commented on #45292
I am using now the python-pip package of ubuntu xenial which is pretty old version 8.1.1 and you won't believe but it works.

The problem is, the docker package is still installed under `/usr/local/lib/python27` whereas there is a whole bunch of other packages installed in `/usr/lib/python27/`. So apparently this cannot be the problem.

Before changing to system pip package I as well dumped in Sal

[2018-12-21 21:12] 519seven commented on #50942
Hi, @whytewolf

I thought this was rather strange - pip installing python.  The angle I'm coming from is simply this: I'm maintaining a script that is known to work for my team.  The team has a work-around in place for this specific error and I'd rather get the error resolved so our error count is nil.  After what you have pointed out, I will be removing "python" from the list because why in the h

[2018-12-21 21:30] klafkoff opened #50966 "2018.3.3 missing a patch to salt/modules/nxos.py"
### Description of Issue/Question
Running `salt cisco.switch.blah nxos.cmd show_ver`

I found this error

`cisco.switch.blah:`
`    The minion function caused an exception: Traceback (most recent call last):`
`     File "/usr/lib/python2.7/site-packages/salt/minion.py", line 1607, in _thread_return`
`        return_data = minion_instance.executors[fname](opts, data, func, args, kwargs)`
`      Fil

[2018-12-21 22:54] bwesterb opened #50967 "Freshly installed distro packaged `salt-master` fails to run on clean Ubuntu Cosmic install"
### Description of Issue/Question
When `salt-master` is installed on a clean Ubuntu Cosmic, it fails to start with the error `salt-master: error: Failed to load configuration: unknown error (_ssl.c:2788)`.  This bug also occurred on Debian testing and [filed](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=910236), but didn't gain traction.  (Note that [your website](https://docs.saltstack.com/e

[2018-12-22 06:31] #43084 closed

[2018-12-22 06:31] #43069 closed

[2018-12-22 06:31] #24491 closed

[2018-12-22 06:31] #43044 closed

[2018-12-22 14:11] johnkeates commented on #43084
It's not really stale, just not fixed...

[2018-12-22 18:21] pirogoeth commented on #50634
So, based on the upstream bug, adding `--batch` and/or `--no-tty` to the `apt-key adv` calls [here](https://github.com/saltstack/salt/blob/develop/salt/modules/aptpkg.py#L2252) _should_ fix this issue?

Is this something we would want to fix downstream or do we wait for it to get fixed upstream in Debian?

[2018-12-22 20:59] kiemlicz commented on #33256
Please take a look here:
[code]
It will run state `samba` from `/srv/salt/base/samba/`
This state contains `service.running` invocation.
In this container the provider is overriden in state and in config (`/etc/salt/minion.d/masterless.conf`)

[2018-12-23 00:43] #43079 closed

[2018-12-23 03:42] mitar commented on #43233
This is still relevant.

[2018-12-23 13:58] damon-atkins commented on #35204
.

[2018-12-23 17:48] mitar commented on #43231
This is not resolved yet. I would like to have here decoupled things. So that I do not need to repeat loops (or information what is available) but could dynamically adapt to what states are enabled.

[2018-12-24 06:59] infantvin commented on #50758
Hi,
Thank you for working on this.
Can you please confirm if this fix is rolled out to the salt-minion/master packages available on the saltstack website?

I just updated a system and a test master to 2018.3.3 and still see the grains reporting the version as 2016 server for Win 2019.

If I need to wait or correct something from my side, please let me know.

[2018-12-24 08:09] shellwiz commented on #39450
Yes, this problem persists. I ran this bug on Salt 2017.7.7 and 2017.7.8 in CentOS Linux release 7.5.1804

[2018-12-24 12:36] HA3MAK opened #50975 "file.directory recursive permissions reporting fake changes when children_only is set to True"
### Description of Issue/Question
I want to set permission 700 to all subdirectories under /home. When I apply the state the permissions on the minion are the expected. If I run again my state when the permissions are 700 on all subdirectories in /home salt reports fake changes. When I remove the "children_only" argument then the fake change reports gone.

### Setup
home.sls:
========

[code]

###

[2018-12-24 19:10] icycle77 commented on #43153
I believe this issue should remain open.

[2018-12-24 22:38] twangboy commented on #50758
@infantvin It will be in the next release, 2018.3.4 and Fluorine.

[2018-12-24 23:07] #43098 closed

[2018-12-24 23:07] #12638 closed

[2018-12-24 23:07] #43083 closed

[2018-12-24 23:07] #43104 closed

[2018-12-24 23:07] #43110 closed

[2018-12-24 23:07] #43099 closed

[2018-12-24 23:07] #42739 closed

[2018-12-24 23:07] #43109 closed

[2018-12-24 23:07] #43135 closed

[2018-12-24 23:07] #43120 closed

[2018-12-25 15:19] 4815162342lost commented on #50965
Hello,

I believe it must be p1 (critical) incident.

[code]

Server's patching can rouine an application which use standard python.

[2018-12-25 19:50] gtmanfred commented on #43239
relevant

[2018-12-25 22:41] antifob opened #50979 "modules.shadow: failing for musl libc -based Linux distributions"
### Description of Issue/Question

User management is not possible on musl libc -based Linux distributions due
to a behavior difference with glibc. See bug report at:
https://www.openwall.com/lists/musl/2018/12/26/1

Basically, musl's implementation of `getspnam` sets `errno` to `ENOENT` when a user
is absent from the shadow file. glibc's sets it to a nil value. The difference can be handled
in py

[2018-12-26 13:13] Poil commented on #50965
(Same?) Bug on EL7 : #49928

[2018-12-26 17:46] dwoz commented on #50955
Hi @furgerf

In many cases older minions will work with the new master. In this case however it's likely that something changed causing `cp.push` to break. This is likely because the master is a major version newer. 2015.8.x is on 'CVE only' which means we're only fixing security issues. So, it's probably best to upgrade those minions if possible.

In addition, I noticed some of your minions are r

[2018-12-26 17:50] dwoz commented on #50956
Hi @andyyumiao Good question, I think @dmurphy18 will be able to answer this.

[2018-12-26 17:52] dwoz commented on #50955
There is this issue: https://github.com/saltstack/salt/issues/37133

[2018-12-26 17:53] dwoz commented on #50964
@gtmanfred Thanks for pointing this out. :)

[2018-12-26 18:43] garethgreenaway commented on #50967
@dmurphy18 FYI.

[2018-12-26 18:49] garethgreenaway commented on #50966
@klafkoff Thanks for the report.  It appears that that change is present in the 2018.3.3 tag, https://github.com/saltstack/salt/blob/v2018.3.3/salt/proxy/fx2.py#L331.  Can you confirm that you have the 2018.3.3 installed with salt --version-report?  Thanks!

[2018-12-26 18:49] garethgreenaway commented on #50965
@dmurphy18 FYI.

[2018-12-26 18:59] klafkoff commented on #50966
This is for salt/modules/nxos.py ---- not ---- salt/proxy/fx2.py.

What I am saying is: the patch for the fx2.py resolved the issue with the cisco nexus bug -- that I opened this issue about.

[2018-12-26 19:01] garethgreenaway commented on #50957
@sandilyasd Thanks for the report.  Can you provide your minion configuration?
@dwoz This looks like it might be something related to crypto libraries installed, any thoughts?

[2018-12-26 20:12] dwoz commented on #50957
I've tested this with the 2018.3 with and without python-libnacl installed but was not able to reproduce the issue.

[2018-12-26 20:20] kontrolldkaos commented on #32391
Looking to see if there has been any consideration to the team option?

[2018-12-26 23:55] brad-alexander commented on #8965
ran into this issue - bump

[2018-12-27 03:30] czhong111 opened #50985 "Is there a way make ssh client running asynchronously?"
When useing curl to call salt-ssh client to run command on agentless server, just like
curl  http://xxx.xxx.xxx.xxx:8000/run  -H "Content-Type: application/json"  -d '{"tgt": ["test""test2"],"client": "ssh", "eauth": "pam", "fun": "cmd.run","arg":["echo hello"],"expr_form": "list"}'
Will there be a async method ?(from doc I read when use salt-api,  All SSH client requests are synchronous)

[2018-12-27 09:13] wzlee opened #50986 "ZMQError: Operation not supported by device"
### Error Log
[code]
### Versions Report
[code]

[2018-12-27 10:57] andyyumiao commented on #50956
Hi @dwoz, I just know /pkg/rpm/build.py can do this, thank you.

[2018-12-27 11:17] nkv16786 opened #50987 "cmd.run Failing when command contains braces ( )"
### Description of Issue/Question
I am trying to run the following command on Windows minion,
[code]

But getting the error as ,
`bash: syntax error near unexpected token `('
`
If i run the command manually on the Minion, it is working fine

### Versions Report
salt 2017.7.8 (Nitrogen)

[2018-12-27 14:10] mpx8701 opened #50989 "SLS error (An exception occurred in this state: Traceback)"
### Description of Issue/Question

when I run the following "state.apply" cmd from my master

 salt 'mysrxdevice' state.apply testtwo

I see the following error:

mysrxdevice
----------
          ID: show_system_uptime
    Function: junos.cli
        Name: show system uptime
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):
                Fi

[2018-12-27 14:38] furgerf commented on #50955
Thanks for your reply @dwoz. I'm not expecting a fix - I'm not surprised that this old version isn't supported :smile:  I don't know how you usually handle that, I thought maybe you might want to add a note to the documentation or so.

In the meantime, I found something about minion-master compatibility in the [FAQ](https://docs.saltstack.com/en/latest/faq.html#can-i-run-different-versions-of-salt

[2018-12-27 14:47] mpx8701 commented on #50989
Note, I tried updatin my PyYAML to 3.11 and I am running junos-eznc 2.2.0

[2018-12-27 15:10] mpx8701 commented on #50989
also tried updating pycparser from 2.14 to 2.19

No change

[2018-12-27 18:30] twangboy commented on #48608
Closing this due to lack of response.

[2018-12-27 18:30] #48608 closed

[2018-12-28 06:15] wzlee opened #50993 "run salt-api: Not loading 'salt.loaded.int.netapi.rest_cherrypy'. Error loading CherryPy: No module named 'cherrypy'"
![image](https://user-images.githubusercontent.com/4182865/50504750-bb069680-0aaa-11e9-856b-dda660b38386.png)
![image](https://user-images.githubusercontent.com/4182865/50504754-c8238580-0aaa-11e9-91bb-d2fd9f384503.png)

[2018-12-28 07:03] wzlee opened #50994 "Fix this warning please."
[code]

[2018-12-28 11:51] nkrishnakishor opened #50995 "gpg rendering issue"
### Description of Issue/Question
Unable to generate key using gpg
### Setup

`#gpg --gen-key --homedir /etc/salt/gpgkeys`
gpg (GnuPG) 2.0.22; Copyright (C) 2013 Free Software Foundation, Inc.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

Please select what kind of key you want:
   (1) RSA and RSA (default)
   (2) DSA and

[2018-12-28 14:33] Talkless commented on #50899
There is: double quoting like this:
[code]
Because first quote is "eaten" by bash itself.

[2018-12-28 14:34] Talkless commented on #50899
Looks like we need to change:
https://github.com/saltstack/salt/blob/25c08d14d16de11be4c8ba46db1c739f5ab73ff7/salt/modules/deb_postgres.py#L65
into:
`cmd += [six.text_type(version), name]`

[2018-12-28 15:05] mpx8701 commented on #50989
As a test, I had a second cluster setup with
[xxxxx~]# salt-minion --version
salt-minion 2018.3.2 (Oxygen)

and I am not seeing this issue....hmmmmmm bug with 2018.3.3?

[2018-12-28 15:44] BrianSidebotham opened #50999 "IndexError when running virt-what salt/grains/core.py"
### Description of Issue/Question
When virt-what exits with a code of 0 and an empty output ( which is valid according to the man page https://linux.die.net/man/1/virt-what ) an unhandled exception occurs as we try and split the output into a list and use the last line.

### Setup

Fresh develop branch install on machine that produces blank output for virt-what.

### Steps to Reproduce Issue
Fresh

[2018-12-28 16:32] BrianSidebotham opened #51001 "ValueError exception for salt-cloud when clone_from is int"
### Description of Issue/Question
As per the documentation the clone_from option should be an integer https://docs.saltstack.com/en/develop/topics/cloud/proxmox.html - however this causes a ValueError exception as we're trying to iterate it looking for a colon character `:`.

It looks like someone has extended the clone_from feature to allow cloning from a machine on a different host, but broke th

[2018-12-28 17:12] garethgreenaway commented on #50994
Fixed in https://github.com/saltstack/salt/pull/49487

[2018-12-28 18:38] garethgreenaway commented on #50987
@twangboy @dwoz Thoughts?

[2018-12-28 18:39] garethgreenaway commented on #50986
@wzlee Thanks for the report.  What does `salt` resolve to?  Is it localhost?  The loopback interface?  Thanks!

[2018-12-28 19:03] garethgreenaway commented on #50995
@nkrishnakishor Looks like the GPG binary is looking for the gpg-agent, https://www.gnupg.org/documentation/manuals/gnupg/Invoking-GPG_002dAGENT.html

[2018-12-28 19:06] garethgreenaway commented on #50993
@wzlee Thanks for the report. It appears that you do not have the `cherrypy` Python package installed.  You'll need to install it using either the operating system package management system or using the Python `pip` binary.

[2018-12-28 19:57] twangboy commented on #50987
@nkv16786 Looks like an issue with escaping characters on the command line in Linux... try this:
[code]

[2018-12-28 21:57] grinapo commented on #29307
Just happened on 2018.3.3, possibly after some salt-minion upgrade.

[2018-12-28 22:10] aboe76 commented on #38110
please reopen the issue

[2018-12-28 23:51] rootchord commented on #49600
Has anything been done on this? I'm working on automating my salt-minion deployment, but because of this i can't use the bootstrap at all.

[2018-12-29 01:48] wzlee commented on #50986
Yes, I configured the interface is: 127.0.0.1

[2018-12-29 05:17] kevinquinnyo commented on #40895
What's the best way to handle this for other 'superficical' derivatives of OSes?  For instance:
[code]
This is really just debian 9.  It's just rebranded. Is there a supported way to tell salt that this is really just Debian?

Should I set the grain myself? Or is there a better option?  I had the same problem installing salt via the salt-bootstap repo and opened a PR to "make it work" [here](https

[2018-12-29 15:23] cdalvaro opened #51008 "cwd option not working with cmd.run and runas"
### Description of Issue

`cwd` option from `cmd.run` state is not working in combination with `runas` option (on macOS at least)

I have arrived to this problem through the `git.latest` and `git.cloned` states.

These states are failing with the following comment:

(Possible related issues #43185 and #586)

### Setup

#### SLS recipe

[code]

#### Output

[code]

### Versions Report
(Provided by

[2018-12-29 18:12] alexz-kh commented on #49653
Issue not in rebuild-ed\forked package or whatever - issue that package have _exactly same version_ .
Anyway, if someone would stuck on same issue, use pin rule:
[code]

[2018-12-29 19:05] hrumph commented on #49765
I'm sorry about this. Anyway I've come up with a much better system thanks to some of the help I got on slack. Thanks to all the people who have helped me with suggestions so far.

[2018-12-29 19:05] #49765 closed

[2018-12-30 00:07] #45867 closed

[2018-12-30 00:07] #48801 closed

[2018-12-30 03:19] mpx8701 commented on #50989
thanks for the quickness in finding the issue!

[2018-12-30 09:53] cdalvaro commented on #51008
Maybe a possible solution is the following change:

https://github.com/saltstack/salt/blob/774ab94d1166d1cae1a87db4d66c7e3008c2003f/salt/modules/cmdmod.py#L416

by:

[code]

[2018-12-30 10:52] #15694 closed

[2018-12-30 10:52] #41741 closed

[2018-12-30 10:52] #43157 closed

[2018-12-30 10:52] #20811 closed

[2018-12-30 10:52] #43194 closed

[2018-12-30 10:52] #43216 closed

[2018-12-30 10:52] #43200 closed

[2018-12-30 10:52] #43134 closed

[2018-12-30 10:52] #43211 closed

[2018-12-30 10:52] #43158 closed

[2018-12-30 10:52] #43174 closed

[2018-12-30 10:52] #43192 closed

[2018-12-30 10:52] #43136 closed

[2018-12-30 10:53] #8685 closed

[2018-12-30 10:53] #9849 closed

[2018-12-30 10:53] #21935 closed

[2018-12-30 10:53] #43139 closed

[2018-12-30 12:06] geniesis opened #51009 "Failed to create temp network for comparison when using macvlan"
When create a docker network using the Macvlan driver, initial creation succeeds however subsequent runs fail.

The issue appears to be in the [/salt/states/docker_network.py](https://github.com/saltstack/salt/blob/develop/salt/states/docker_network.py) line 654, where a a temp network is being created using docker.create_network. However, since the same "parent" interface is being referenced, the

[2018-12-31 11:33] rsmekala opened #51011 "Question regarding ProxyMinion logging"
### Question

Currently, we have multiple proxy-minion running on a system. The logs streamed to the console by the proxy-minion don't contain a tag or attribute specifying the proxy-name that logged it.

Is there any way to append proxy-name to the proxy-logs ??

Current logs:
[code]

Expected logs"
[code]

Thanks for the help in advance.

[2018-12-31 18:41] garethgreenaway commented on #51011
Currently I do not believe this is possible (@saltstack/team-core ?), but would definitely be a useful addition.  Approving for a future feature addition.  Thanks!

[2018-12-31 19:14] DWSR opened #51015 "Unable to Update Windows Repo On Masterless Windows Minion"
### Description of Issue/Question
I am unable to follow [these instructions](https://docs.saltstack.com/en/latest/topics/windows/windows-package-manager.html#managing-windows-software-on-a-standalone-windows-minion) for managing the Windows Software repo on a Masterless Winion due to an error when executing `salt-call winrepo.update_git_repos`. A workaround is to call it via `salt-call saltutil.ru

[2018-12-31 19:51] DWSR commented on #31582
Hey everyone, I just ran across this while setting up my workstation via Salt. It's resulting in me being unable to run PowerShell Core (`pwsh.exe`, rather than `powershell.exe`) as the default interpreter for any commands.

I am of the opinion that this is a bug, rather than a feature. While Windows doesn't have an `/etc/shells` equivalent, I think it's important to be able to set the shell to an

[2018-12-31 20:00] #49485 closed

[2018-12-31 20:01] dwoz commented on #51008
@cdalvaro Thanks for reporting *and* fixing this issue! :)

[2018-12-31 20:07] dwoz commented on #51009
@geniesis Thanks for reporting this, are you able to create a PR with a fix?

[2018-12-31 20:15] #51001 closed

[2018-12-31 21:53] cavepopo commented on #49485
Oh good ! I can't wait to test the new PR.

Thanks a lot @BrianSidebotham

[2019-01-01 01:06] MTecknology commented on #40621
This seems to still be an issue.

[2019-01-01 09:10] cdalvaro commented on #51008
[code]

With option `-l` the working directory is changed to the target login's home directory, this is the new behavior between `2018.3.2` and `2018.3.3`.

But, since `-l` option simulates a full login, it can be necessary for some commands to work properly when executing as a different user because dependencies with its `.profile`

I don't know a different solution rather than chaining the `cd`

[2019-01-01 23:57] #36556 closed

[2019-01-01 23:57] #43257 closed

[2019-01-01 23:57] #28246 closed

[2019-01-01 23:57] #43262 closed

[2019-01-01 23:57] #42728 closed

[2019-01-01 23:57] #43132 closed

[2019-01-01 23:57] #43282 closed

[2019-01-01 23:57] #40044 closed

[2019-01-01 23:57] #13192 closed

[2019-01-01 23:57] #18180 closed

[2019-01-01 23:57] #19962 closed

[2019-01-01 23:57] #11769 closed

[2019-01-01 23:57] #29201 closed

[2019-01-01 23:57] #28324 closed

[2019-01-01 23:57] #22821 closed

[2019-01-01 23:57] #36108 closed

[2019-01-01 23:57] #38932 closed

[2019-01-02 01:17] icycle77 commented on #43153
I'm trying.

[2019-01-02 02:54] vipullinux opened #51020 "salt-cloud is unable to work with virtualbox"
### Unable to work with virtualbox
I'm trying to perform this task [Getting Started With Virtualbox](https://docs.saltstack.com/en/latest/topics/cloud/virtualbox.html)
Below is the log , after executing the command ` salt-cloud -f show_image virtualbox image=Ubuntu -l debug`
[logs.TXT](https://github.com/saltstack/salt/files/2719827/logs.TXT)

### Configuration
/etc/salt/cloud.profiles.d/virtualbo

[2019-01-02 07:53] martinm82 commented on #45292
The location where the custom pip packages are installed is not the problem. I am using now python-pip 8.1.1 from xenial and it still installs the packages to `/usr/local/lib/python27` but I am not facing any issue when running a docker container in salt.

So the only reliable solution right now is to use a pretty old version from xenial. Any approach to update pip (with `pip --upgrade` or with un

[2019-01-02 08:45] cavepopo commented on #49586
Just to let you know taht as I was tunning my master config to match my usage of tag in my git repo I add the following to the master config file :
[code]
And guess what ? This just fixed my performance issue ! Dunno why neither how but still it did so I am now a more than happy customer.

I am closing this one.

[2019-01-02 11:35] #46014 closed

[2019-01-02 11:35] #50848 closed

[2019-01-02 13:10] icycle77 commented on #43153
@Ch3LL can you please ensure this ticket remains open? The stale bot is unaware of new comments. Thanks.

[2019-01-02 14:52] terminalmage commented on #49586
@cavepopo Interesting. Do you have a high number of branches in your gitfs repo(s)? It's possible that you were running into an issue with getting a list of available fileserver environments. Even so, it shouldn't have taken almost exactly 60 seconds to compile that list, unless perhaps there was some error internal to pygit2 which caused it to hang. One would expect that such an error would raise

[2019-01-02 15:12] Poil opened #51023 "Docker state does not have equivalent of docker create and start"
Hi,

There is no way to call a `docker create` in saltstack.

This should be nice because `docker run` fails if the container already exists (but stopped). So doing a conditionnal `docker create` and a `docker start` seems to be a better way to manage this.

Ref. https://docs.docker.com/engine/reference/commandline/create/#extended-description

I think it should be the same function as `def run_co

[2019-01-02 17:15] twangboy commented on #50987
@nkv16786 Did the above command work?

[2019-01-02 17:17] simonflood opened #51024 "2018.3.3 kernelpkg.latest_available returns incorrect version"
### Description of Issue/Question

Salt 2018.3.3
Ubuntu 16.04.5 LTS (Server and Desktop)

With Linux kernels 4.4.0 and 4.15.0 available for Ubuntu 16.04.5 LTS kernelpkg.latest_available returns the latest 4.4.0 release rather than 4.15.0-something i.e. it seems to be sorting the minor version alphabetically ("4" is later than "1") rather than numerically (15 is greater than 4).

Interestingly the

[2019-01-02 18:52] lordcirth commented on #50679
Do both syntaxes need to be supported for now? The new way was only introduced in LXC 2.1, in Sep 2017: https://discuss.linuxcontainers.org/t/lxc-2-1-has-been-released/487

[2019-01-02 18:52] anitakrueger commented on #43332
@gtmanfred @MrCitron
Looks like nobody ever got this commit from 2015.5 to 2015.8. Any chance of getting these changes into one of the current branches?

[2019-01-02 19:08] lordcirth commented on #46045
This feature request would also solve this request, by allowing `salt-key -l denied -d salt-master0.internal` to work: https://github.com/saltstack/salt/issues/48951

[2019-01-02 19:09] terminalmage commented on #49586
OK and nothing weird with unicode characters or symbols... that's what I was wondering about.

[2019-01-02 19:10] terminalmage commented on #49586
I'll set up a similar repo with those branch names and see if I can reproduce. There's nothing there that looks like it would cause problems though.

[2019-01-02 19:58] gtmanfred commented on #43332
github says that commit is in all of these releases.

<img width="1000" alt="screen shot 2019-01-02 at 1 57 25 pm" src="https://user-images.githubusercontent.com/732321/50609806-69894d80-0e96-11e9-870f-7e0993d5e7ea.png">

[2019-01-02 19:58] gtmanfred commented on #43332
also, ping @saltstack/team-triage

[2019-01-02 19:59] gtmanfred commented on #46045
ping @saltstack/team-triage

[2019-01-02 20:01] garethgreenaway commented on #51023
@Poil Thanks for the report.  There is a `create` function available in the docker and dockercompose execution modules.  If you need to call either of these from a state you could utilize the `module.run` state function.

[2019-01-02 20:07] garethgreenaway commented on #51015
@twangboy @dwoz FYI

[2019-01-02 20:53] garethgreenaway commented on #51024
@simonflood Thanks for the report.  I was able to reproduce this issue when I had the linux-image-generic package installed, which was the 4.4.0 version.

[2019-01-02 21:06] anitakrueger commented on #43332
I don't understand it :(
I'm looking at https://github.com/saltstack/salt/blob/2018.3/salt/returners/carbon_return.py and I don't see the metric_base_pattern being applied.
I'm looking at https://github.com/saltstack/salt/blob/develop/salt/returners/carbon_return.py and I can't see it there either.
My local installation is running 2018.3.2 and looking at the file /usr/lib/python2.7/site-packages/s

[2019-01-02 21:08] MasonEdgel opened #51027 "`file.shortcut` state fails to run due to `com_error`"
### Description of Issue/Question
`file.shortcut` fails to run: `com_error: (-2147221008, 'CoInitialize has not been called.', None, None)`

### Setup
- A simple `state.sls`:
[code]

### Steps to Reproduce Issue
Apply the above state, be greeted with the following error:
[code]

### Versions Report
`master`:
[code]
`minion`:
[code]

### Workaround
I was able to get it working as expected by adding

[2019-01-02 21:41] sagetherage commented on #43770
Thank you for checking @sdodsley closing as no longer an issue.

[2019-01-02 21:41] #43770 closed

[2019-01-02 21:45] terminalmage commented on #38502
Test added in https://github.com/saltstack/salt/pull/51030.

[2019-01-02 21:45] #38502 closed

[2019-01-02 23:08] #50964 closed

[2019-01-03 00:55] garethgreenaway commented on #51020
@vipullinux Unfortunately I haven't been able to reproduce this, mostly due to issues installing the various VirtualBox python libraries, but this is a really weird error as `reload` is a built in Python function so it should be available unless you're running Python 3.x in which case it would use `reload` from the importlib library.  @saltstack/team-core Thoughts?

[2019-01-03 01:08] sergeyfd commented on #47043
This is really bad. Are there any plans to have it fixed?

[2019-01-03 03:54] thechile opened #51035 "Unable to load xml for file.managed "contents" output."
Hi

I'm running 2018.3.3 and trying to load .xlm file to be used in file.managed state.

[code]

I get error:

[code]

I tried various `| xml` or `| load_text` but nothing seems to work. If i change the contents of the file to be non-xml it works fine.

Can anyone suggest a fix please or if this is a bug somewhere ?

The exact .xml i'm using is [here](https://share.zabbix.com/index.php?option=com_

[2019-01-03 05:40] nkv16786 commented on #50987
Yes it is working thanks :)

[2019-01-03 06:46] sandilyasd commented on #50957
@dwoz salt-minion version installed is 2018.3.2

[2019-01-03 10:23] simonflood commented on #51024
@garethgreenaway The desktop has linux-image-generic-hwe-16.04 installed but it's a 4.15.0 version not 4.4.0:
[code]
Thanks, Simon

[2019-01-03 11:00] mirceaulinic opened #51039 "RFC0004: Rename __salt__ to __runner__ in the Runner functions"
Comments for https://github.com/saltstack/salt/blob/develop/rfcs/0004-dunder-runner.md

[2019-01-03 11:07] simonflood commented on #51024
In case you weren't being literal, here's all the linux-image-*-generic packages which doesn't show any 4.4.0 ones:
[code]
so here's all installed packages at version 4.4.0:
[code]
Could it be this latter one which has confused things?

Thanks, Simon

[2019-01-03 11:42] sjorge commented on #51039
I read though this and why not keep __salt__ for the standard deprecation time of 2 (?) release but introduce the ```__runner__``` and a new one for the minion side exec modules, I have always found the ```__salt__``` to be rather confusing as to where it will run.

[2019-01-03 12:14] msciciel commented on #50965
The same problem for  `salt-minion-2017.7.8`. It breaks system `python 2.6` and it is a critical issue.

[2019-01-03 14:20] L4rS6 opened #51042 "strange behaviour with zfs.filesystem_present and pkg state in combination"
### Description of Issue/Question

If minimum two pkg states (e.g. purged, or installed) are executed before the `zfs.filesystem_present` state, then an exception will be thrown.

### Setup
init.sls file
[code]

### Steps to Reproduce Issue
Run the init.sls file above and you'll get an exception like this:
[code]

The weird thing is that this exception is only thrown if the order is like above (1s

[2019-01-03 14:52] thechile commented on #51035
Update: If i remove all newlines on the .xml it seems ok. With that in mind i tried

`{% set template_contents = salt.cp.get_file_str("salt://zabbix/files/templates/template_os_freebsd.xml") | regex_replace('\n','') %}`

but didn't seems to work which was odd.

[2019-01-03 15:16] srinivassundar commented on #49404
@gtmanfred
ordering the engine starts doesn't seem to help.
is there any other solution?

thanks
Srinivas

[2019-01-03 15:34] hjfeng1988 opened #51043 "Error to conditional a none Jinja variable"
### Description of Issue/Question
Some of my server only have a disk named /dev/vda,and other server have two disk with /dev/vdb or /dev/xvdb.I want to conditional a none Jinja variable work with below SLS files,How to fix it,Thanks.
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
[code]
### Steps to Reproduce Issue
(Include debug logs if possible a

[2019-01-03 15:37] t0rrant commented on #41739
I get the same symptoms with the nova driver.

I have tried with salt version 2018.3.3 from pip and with version 2017.7.4 from the ubuntu official repositories, result is the same.

#### Steps to Reproduce Issue

[code]

To note that  ``In rare cases, this could indicate the 'nova.get_configured_provider()' function could not be found`` is indeed the case:

[code]

### Versions Report

[code]

[2019-01-03 15:56] MightyMaveous commented on #18843
Same here.

users/stack.sls
[code]

output
[code]

Version
[code]

[2019-01-03 16:01] sergeyfd commented on #47043
The problem is in this block in file.py. This enforcement is extremely expensive for directories with many files. It should be optional, I trhink.

`    if not salt.utils.platform.is_windows() and not is_dir and not is_link:
        try:
            lattrs = lsattr(name)
        except SaltInvocationError:
            lattrs = None
        if lattrs is not None:
            # List attributes on fi

[2019-01-03 16:19] gtmanfred commented on #49404
nope, it would require a change to allow for ordering of the engines to start, and something to signify that an engine has finished starting before the next one is started.

and that would be a feature request if @saltstack/team-triage will tag it.

thanks

[2019-01-03 16:23] terminalmage commented on #47043
Fixed in https://github.com/saltstack/salt/pull/51044.

[2019-01-03 16:41] dmurphy18 commented on #49928
@Poil FYI in the current point releases the SaltStack version of python-requests has been removed and in future SaltStack shall rely on the provided python-requests for RHEL 7.

With this fix, can you review this issue and if satisfied, close it.
Thanks

[2019-01-03 16:48] sergeyfd commented on #47043
Thanks, that makes total sense.

[2019-01-03 16:56] terminalmage commented on #51043
`disk` isn't `None` here, it's undefined. If you want to be able to do a conditional against a variable, it must be defined. One way you can do this is with an extra `else` at the top of your Jinja:

[code]

[2019-01-03 17:05] terminalmage commented on #51035
YAML is indentation dependent. If you want to load multiline content, you'll need to use the YAML syntaxt for multi-line strings, and combine that with the jinja `indent` filter:

[code]

[2019-01-03 17:15] srinivassundar commented on #49404
thanks, Daniel,

it would be great if  @saltstack/team-triage
<https://github.com/orgs/saltstack/teams/team-triage> can tag it and
provide a solution/fix at the earliest.

On Thu, Jan 3, 2019 at 9:49 PM Daniel Wallace <notifications@github.com>
wrote:

--
          regards
srinivas aropalli sundar
       9886795218

[2019-01-03 17:18] rossengeorgiev opened #51045 "http.wait_for_successful_query state with wait_for and test=true blocks and waits"
### Description of Issue/Question
The state waits for the `wait_for` amount of time even when `test=True`

### Setup
`test.sls`
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2019-01-03 17:55] simonflood commented on #51024
After further tests I now believe the matching version of linux-libc-dev is a coincidence and red herring with the issue in aptpkg.latest_version which is used by kernelpkg.latest_available:
[code]
I'm not a Python expert but my guess is something is wrong with the version comparison in the "elif candidate:" section although running "apt-cache -q policy linux-image-generic" finds only 4.4.0.141.14

[2019-01-03 17:56] pgporada commented on #43364
Note that I have not worked on this since over a year ago nor do I know where to pick this back up.

[2019-01-03 18:01] waynew commented on #51020
@garethgreenaway I was able to reproduce this - I created a vagrant box from `ubuntu/xenial64`, inside the vagrant box I installed vagrant, python-minimal and virtualbox + SDK. Then I installed python-pip, then I did `sudo python2 -m pip install salt`, did

[code]

Then I have the following:

[code]

Running `sudo salt-cloud -f show_image virtualbox image=Ubuntu -l debug` gives me identical output

[2019-01-03 18:13] thatch45 commented on #34958
@arthurlogilab This has been reopened as an RFC and we are going to move forward with it from a fresh outlook.

[2019-01-03 18:16] thatch45 commented on #51039
I think that sounds reasonable, yes lets edit the RFC

[2019-01-03 18:17] waynew commented on #51020
@garethgreenaway Looks like this was actually fixed in https://github.com/saltstack/salt/commit/e993692d01c9ad063db16447573e44cd40497e3f#diff-941a420c79e580f37bfbd53b3d94107a

I'm not sure what the best approach is for the OP to solve the issue, but it looks like installing a different version (or applying that patch) should fix things.

[2019-01-03 18:18] thatch45 commented on #16128
To my knowledge this has been resolved with other work on making the thin generation more reliable. If this can be reproduced with a current version of Salt please feel free to re-open it

[2019-01-03 18:18] #16128 closed

[2019-01-03 18:39] dmurphy18 commented on #50965
@msciciel Thanks for the information, and it has been fixed for python17-requests and python27-urllib3. They will be available with the next point releases/

[2019-01-03 19:07] garethgreenaway commented on #51020
@vipullinux The fix for this issue will be available in the 2018.3.4 release.  We'll close this out.  Please feel free to open additional issues if you're still having issues.  Thanks!

[2019-01-03 19:07] #51020 closed

[2019-01-03 19:44] cavepopo commented on #49586
I guess so yeah ... and the new master config did not fix the whole delay .... I can see now a more than 1 minutes run for every run, which is better than it was (but I need to check it further) but not really perfect yet.

I'll re-open this just in case someone find something

[2019-01-03 19:52] lordcirth commented on #28070
Yes, updating from 18.04's salt-minion 2017.7.4 to salt repo's 2018.3.3 results in new keys being generated in /etc/salt/pki/, and the ones in /var/lib/salt/pki being ignored.  I was about to file a new issue when I found this issue.

[2019-01-03 20:38] ender8282 opened #51046 "network.managed doesn't support static networks on CentOS 7"
### Description of Issue/Question

I traced this a little ways and it looks like the network state relies on the ip module which is actually a virtual module and is being supplied by rh_ip.py.  There is a list of supported protocols in the _parse_settings_eth function with only none, bootp, and dhcp are present.  This is in contrast to the debian_ip.py which includes static, loopback and ppp (but

[2019-01-03 21:49] #50987 closed

[2019-01-03 22:08] garethgreenaway commented on #49404
Since this is asking for new functionality, the ability to specify some dependencies in what order engines load, which doesn't currently exist I'll go ahead and label it as a feature request and approve it for a future feature addition.

[2019-01-03 23:10] twangboy commented on #51015
I can replicate this on the v2018.3.3 tag. It seems to be fixed on the head of 2018.3. Will be fixed in 2018.3.4

[2019-01-03 23:15] #51015 closed

[2019-01-03 23:17] terminalmage commented on #49619
Implemented via #51047.

[2019-01-03 23:17] #49619 closed

[2019-01-04 02:30] jerrykan opened #51049 "network.managed failes to manage alias interfaces on Debian"
### Description of Issue/Question
Salt doesn't seem to correctly configure a network interface alias on Debian hosts. This was previously working in Salt v2018.3.3 but currently seems broken on develop.

### Setup
[code]
Initial `/etc/network/interfaces/` file:
[code]

### Steps to Reproduce Issue
Run using salt **v2018.3.3** (ad0d83c6a8)
[code]
[code]

Run using salt **develop** (ad0d83c6a8)
[cod

[2019-01-04 07:23] DaveQB opened #51050 "[2018.3.2] File Exists traceback"
### file.managed gives a stacktrace is the target exists

### Setup
{% set WALDIR = '/srv/logs.wal' %}
{% set INFLUXWAL = 'influx.wal' %}
{% set HOST = 'ops-log05' %}

# Symlink to the EFS mount
{{ WALDIR }}:
  file.symlink:
    - target: /srv/efs/logs.wal
    - makedirs: True
    - force: True
    - require:
      - mount: {{ HOST }}-efs

{{ HOST }}-dir-wal:
  file.directory:
    - name: {{ WALDI

[2019-01-04 07:36] DaveQB commented on #51050
Looks like an OS level issue as the root cause, although a traceback to the user should be fixed, ideally. This is odd and I can't explain it. See below:

[code]

[2019-01-04 08:32] DaveQB commented on #51050
Further digging and the issue is the directory path trying to be made, with the symlink in it, does not exist yet and even with a -p mkdir can't make it without the parent if the path includes a symlink. News to me.

[code]

So a small edge case that would be better to be handled better (or other errors like this for the file.managed module) but not a high priority issue. Maybe even the file(.dire

[2019-01-04 12:22] hbangaruu opened #51052 "salt-minion log not getting updated"
### Description of Issue/Question

salt-minion log not getting update even after restarting the salt-minion service. Default log file location is C:\salt\var\log\salt\minion.

Tried updating 'salt-minion-debug' config as below and restarted but log file not got created.

"%Python%" "%Script%" -l debug >C:\salt\var\log\salt-minion-python.log 2>&1

### Setup
OS: Windows Server 2012 R2 Standard

###

[2019-01-04 13:11] guettli commented on #43079
@stale Hi stale-bot. You closed a lot of my issues. That's ok. Sooner or later I will switch to an other configuration management tool. Have a nice time.

[2019-01-04 14:18] maximd commented on #43902
Would it be possible to display a warning when the minion detects that PowerShell 2.0 is installed (and that it should be upgraded at least to 3.0)? Version 2.0 is the default version of PowerShell installed on windows 7 systems and it can take quite a while to figure out that PowerShell should in fact be upgraded to let `cmd.powershell` actually work.

Also, stop me if I am wrong but it seems tha

[2019-01-04 14:37] hwoarang opened #51054 "stacktrace on compound command execution"
### Description of Issue/Question
Compound command execution as described on https://docs.saltstack.com/en/latest/topics/execution/remote_execution.html#compound-command-execution leads to python stacktrace

[code]

### Setup
openSUSE Leap 15.0
salt-2018.3.0-lp150.3.14.1

### Steps to Reproduce Issue
salt '*' cmd.run,test.ping,test.echo 'cat /proc/cpuinfo',,foo

### Versions Report
[code]

[2019-01-04 15:21] c-wicklein opened #51055 "runsas broken on Fedora29"
The runas option isn't effective on Fedora 29 with salt-2018.3.2-5.fc29.noarch because getpass.getuser() while running as root is returning the runas username.  This affects cmd.run, git.latest, etc.

I've fixed it for myself with this patch:

--- utils/user.py.orig  2018-06-27 11:04:57.000000000 -0500
+++ utils/user.py       2019-01-04 07:45:21.322476941 -0600
@@ -222,7 +222,9 @@
     Helper meth

[2019-01-04 15:37] c-wicklein commented on #51055
I wonder if this is related to or the same as #46417?  FWIW, I didn't have this problem using 2018.3.2 on macOS.

[2019-01-04 16:14] whytewolf commented on #49089
ZD-3135

[2019-01-04 16:17] TimidRobot opened #51056 "Where does all_saltenvs get list of environments from?"
### Description of Issue/Question

### Setup

Where does `all_saltenvs` get the list of environments from? When I use it, only `base` has access to the salt formula:
[code]
- [salt_master.conf](https://github.com/creativecommons/sre-salt-prime/blob/7d9b062a80b304e4c6724bc3a016e4d685a596e4/states/salt/files/salt_master.conf)
- [file-pillar_roots.conf](https://github.com/creativecommons/sre-salt-pri

[2019-01-04 16:31] mdzidic commented on #24204
Any news regarding this feature?
I'm really missing compound matching in `salt-cp`

[2019-01-04 17:15] hwoarang opened #51058 "splay executor: Invalid arguments are being passed to the execution module"
### Description of Issue/Question
I tried to run the example from https://docs.saltstack.com/en/latest/ref/executors/index.html on my local installation but it failed. It seems that the wrong arguments are being passed down to the requested execution module
[code]

### Setup
openSUSE Leap 15.0
salt-2018.3.0-lp150.3.14.1

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2019-01-04 17:32] c-wicklein commented on #51055
I can work around this problem without any patches by replacing `sudo salt-call ...` with `sudo su --login -c "salt-call ..."

[2019-01-04 18:08] dwoz commented on #51027
@MasonEdgel I'm not able to reproduce this using a fresh install of `2018.3.3`. Was your box recently upgraded?

[2019-01-04 18:09] dwoz commented on #51039
Closing this since the PR for the RFC has been merged.

[2019-01-04 18:09] #51039 closed

[2019-01-04 18:10] dwoz commented on #51035
@thechile has @terminalmage's answer resolved your issue?

[2019-01-04 18:17] dwoz commented on #51042
@L4rS6 Thanks for reporting the issue.

@nmadhok Can you look into this one please?

[2019-01-04 18:19] dwoz commented on #51043
@hjfeng1988 does @terminalmage's answer resolve this?

[2019-01-04 18:36] MasonEdgel commented on #51027
@dwoz I initially encounter the error on version `2018.3.2` of the minion, but upgraded to `2018.3.3` to ensure the issue persisted.  The initial install was `2018.3.2`, and took place just over a week ago.  I've checked, and am encountering this issue on every Windows Server 2016 minion I've tested on.

[2019-01-04 19:12] lordcirth commented on #32363
As the bug was not in Salt, and has since been fixed in Debian 8, (Debian 7 is no longer supported as of May 2018) this bug should probably be closed.

@terminalmage , could you close this please? Thanks.

[2019-01-04 19:18] dwoz commented on #51045
@rossengeorgiev Thanks for reporting this. It looks like this behavior was by design. The state will make the web request when `test=True`.

@techhat can you confirm this behavior is intended?

[2019-01-04 19:22] dwoz commented on #51046
@ender8282 Thanks for pointing this out. It does seem like we should support `static`.  Can you work further and make a PR with the feature?

[2019-01-04 19:39] dstensnes commented on #33466
@Ch3LL ping. Stalebot closed it, even though it says:
[code]
Shouldn't stalebot at least take a look at the labels before closing?

[2019-01-04 19:43] ender8282 commented on #51046
I'll see if I can find the time but no promises.

[2019-01-04 19:50] steverweber opened #51062 "file.blockreplace is not using template when contents are user defined"
`file.blockreplace` is not using template when contents are user defined.
this works with `file.managed` and I find it really helpful.

a state like
[code]

will make the file like.
[code]

when using `file.managed` you will get the expected result

I think the patch should be around here:

https://github.com/saltstack/salt/blob/6ced9fd63988a5c84c906c0878430356b1ca1bd2/salt/states/file.py#L5204

a

[2019-01-04 19:58] steverweber commented on #51062
my current hacky workaround
[code]

[2019-01-04 20:37] dwoz commented on #51049
@jerrykan I've confirmed this is an issue, thanks for reporting it.

@MTecknology can you look into this?

[2019-01-04 20:40] dwoz commented on #51050
@DaveQB Thanks for reporting this and digging into the cause. Are you comfortable enough with the code to create a PR that fixes the issue?

[2019-01-04 20:49] MTecknology commented on #51049
@jerrykan Can you try adding `- proto: static` to your state and tell me what happens?

[2019-01-04 23:47] stjack99 opened #51064 "Critical error with custom grain after upgrading to 2018"
### Description of Issue/Question
I have a few custom grains for Windows minions that get content from the registry. They've worked in 2017 and 2016 versions of salt, but do not work if I upgrade to 2018.x versions of salt.

### Setup
----- Custom Grain -----
[code]

----- Output from salt-call saltutil.sync_all -----
[code]

### Steps to Reproduce Issue
I get the critical error every time salt ru

[2019-01-05 01:12] dpkirchner opened #51065 "Feature request? A way to deal with predictable network interfaces"
Many OSs come with systemd's so-called predictable network interfaces enabled by default. This makes it difficult or impossible to predict what the interface name will be at any given boot. This is especially a problem when working with servers in a remote DC where you may have remote hands changing your hardware. See https://github.com/systemd/systemd/issues/3715 for a more detailed explanation o

[2019-01-05 06:47] hjfeng1988 commented on #51043
@dwoz yes,It solve. thanks terminalmage

[2019-01-05 06:47] #51043 closed

[2019-01-05 10:09] mtorromeo commented on #32567
This issue is still present sadly.
Can this be re-opened, please? @thatch45 @cachedout

The workaround proposed by @alxwr worked for me and while this is a breaking change (requiring a change in the master configuration) it's not too bad. Should I open a PR?

[2019-01-05 21:53] rkrieger opened #51067 "KeyError u'manufacturer' causes salt-minion crash on start with OpenBSD arm64 system"
### Description of Issue/Question

On my Raspberry Pi 3B (OpenBSD arm64 6.4), salt-minion and salt-call crash at startup. This appears to be due to a missing `osdata['manufacturer']` key, causing the code to give a `KeyError: u'manufacturer'`.

### Setup

- OpenBSD 6.4 arm64 (Raspberry Pi 3B)
- Salt package 2018.3.2 (OpenBSD packages)

### Proposed fix

Although I run 2018.3.2, I adapted the diff

[2019-01-06 23:17] DaveQB commented on #51050
Not at all sorry. Never looked at the salt stack code and I am not a coder either.

[2019-01-07 00:58] jerrykan commented on #51049
@MTecknology Salt seems to behave as expected when `- proto: static` is used.

[2019-01-07 02:02] MTecknology commented on #51049
The `debian_ip` module saw a rather large refactor which eliminated some assumptions that were previously present. This means that `proto` is now a required option for `- type: eth`.

@dwoz I don't expect to have time in the near future to add a check for this; perhaps it's something that someone else can easily handle?

[2019-01-07 02:07] MTecknology commented on #14047
Nearly three months later, I'm still fighting some sudden fires and my previous in-progress work is now quite stale. Unfortunately, I don't think my situation will change in the near future and I likely won't be able to get around to this. (Apologies to anyone that was waiting on me..)

[2019-01-07 02:09] jerrykan opened #51068 "network.managed reports changes to alias interface when nothing changed"
### Description of Issue/Question
Salt reports `Interface xxx:x is up` when no changes have been made to a correctly configured interface alias.

I would expect that if no changes have been made then no changes would be reported back.

### Setup
[code]
Initial `/etc/network/interfaces/` file:
[code]

### Steps to Reproduce Issue
Run using salt **develop** (ad0d83c6a8)
[code]
[code]
The issue seems

[2019-01-07 03:45] nullify005 opened #51069 "gem.installed with rdoc & ri false fails due to those args being removed from gem"
### Description of Issue/Question

It appears that the `--no-rdoc` and `--no-ri` options have been entirely removed from gem. This means that if you leave `rdoc` and `ri` options blank the default of False no longer works because those aren't options any more.

If you set them both to true then it's ok because the `--no` options are removed from the cmd line execution & gem.installed works fine.

[2019-01-07 04:07] nullify005 commented on #51069
https://github.com/rubygems/rubygems/pull/2572

[2019-01-07 04:32] nkrishnakishor commented on #50995
@garethgreenaway thanks for the reply.

I have tried as per the link suggestion but getting the same error.

[2019-01-07 06:46] menglong81 opened #51070 "The network connection is large, causing the cSP to run full when the salt detection is alive."
Reading the /proc/net/tcp file for a machine with a large network connection will consume CPU. So we changed to use the ss command instead of the netstat command to get the network connection first. The ss uses the tcp_diag in the TCP protocol stack so it will be faster than Netstat command is much faster

[2019-01-07 07:35] WalkerWang731 commented on #51070
In fact currently `socket.py` module does not support the NETLINK_INET_DIAG protocol, so it can only be replaced with the ss tool. When the `socket.py` module supports more NETLINK protocols, you can using `socket.py` module to implement

[2019-01-07 08:37] hbangaruu commented on #51052
@vutny @mikeadamz : Please kindly help with above issue.

[2019-01-07 13:04] adambarnett52 opened #51075 "Using file_client: remote and local files at the same time"
### Description of Issue/Question
Hi

I moving from a masterless setup to using a master
I am going to set

[code]
But when i do this i seem to loose the ability to run ```salt-call --local --file-root= .....```
It just complains about not finding the environment

[code]

[code]

Am i missing something, my config looks like this

[code]

Thanks

[2019-01-07 13:14] marco-m commented on #14183
Hello @basepi @rallytime we stumbled upon this also. Any news about when this will be scheduled ? Thanks!

[2019-01-07 13:37] dmytro-shevchenko opened #51077 "How to use external pillar and get all pillars from master?"
Hi folks!

I need run orchestration from master as well as apply some states, but during this operation I need access to all minions pillars. I'm trying to accomplish this with external pillar - it will responsible for gathering and filtering all pillars from each minion.
But unfortunately seems while external pillar executing on master it completely blocking any other requests to master via API.

[2019-01-07 13:40] iadityagrover opened #51078 "no response of few hosts during highstate when run in bulk."
### Description of Issue/Question
When we are running highstate in our enviroment on multiple servers in batches of 30 out the list of 230 with timeout 300 we find few servers not providing any output. We get below output:
example:
hostname1.corp.adobe.com:
    ----------
hostname2.corp.adobe.com:
    ----------
hostname3.corp.adobe.com:
    ----------
hostname4.corp.adobe.com:

When we rerun high

[2019-01-07 15:48] ribx commented on #47083
I just found the time to finally tackle the problem, and it looks like it was already fixed last year when it was reported:
https://github.com/saltstack/salt/commit/551f4e10cf928a5a478544bc30f04d2a6c506d1c
it is also in the 2018.3 branch. So, this can be closed @EvaSDK!

[2019-01-07 18:12] basepi commented on #14183
@marco-m Unfortunately neither myself nor @rallytime work at SaltStack anymore. Hopefully someone on @saltstack/team-triage can help you out with that.

[2019-01-07 18:52] waynew commented on #50964
@ezh What is your LANG and LC_ALL environment variables?

[2019-01-07 18:59] marco-m commented on #14183
Hello @basepi, thanks for answering, appreciate it.
Hello @waynew, thanks! Happy to hear this :-)

[2019-01-07 19:56] #49012 closed

[2019-01-07 20:13] eykd commented on #12638
Nice try, stalebot! You won't win that easily.

[2019-01-07 21:18] waynew commented on #50964
@ezh I added a PR, let me know if that solves your issue!

[2019-01-07 21:22] misch42 opened #51087 "netsnmp.managed throws an error"
### Description of Issue/Question
Basically this is a question about the usage / configuration of the netsnmp.managed function.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
in states/snmp.sls I have:
snmp_example:
  netsnmp.managed:
    - config:
      location: here
    - defaults:
      contact: me

basically this is copied over from the doc.

[2019-01-07 22:50] bwesemann-cxp opened #51090 "state_output option being ignored, salt 2018.3.3"
### Description of Issue/Question

I am attempting to utilize the option "state_output" so that my state.apply commands do not display so much information every time I run them. My understanding is that by setting state_output to options like "changes" should reduce my output, however, I receive the same level of verbosity no matter what I have tried.

### Setup
[code]

### Steps to Reproduce Issu

[2019-01-07 23:22] garethgreenaway commented on #51052
@twangboy @dwoz Thoughts?

[2019-01-07 23:40] ezh commented on #50964
I'm sure that I could share 1st part of it.

[code]

~~ CUT ~~

[code]

[2019-01-07 23:46] mikeadamz commented on #51052
So I think first of all redirecting the log file like this won't work

[code]

Salt has several configuration file options to configure the log file.

Please see `log_file` and `log_level_logfile` here: https://docs.saltstack.com/en/latest/ref/configuration/logging/

I suspect you may end up in a situation where the redirect is causing problems with salt's ability to open and write to that file.

[2019-01-07 23:56] garethgreenaway commented on #51054
@hwoarang Thanks for the report.  I'm not seeing this issue in later versions of 2018.3.x.  Are you able to upgrade to a later version such as 2018.3.3 where the issue appears to be fixed.  Thanks!

[2019-01-08 00:07] garethgreenaway commented on #51058
@hwoarang Thanks for the report. I'm not seeing this issue in later versions of 2018.3.x. Are you able to upgrade to a later version such as 2018.3.3 where the issue appears to be fixed. Thanks!

[2019-01-08 00:14] garethgreenaway commented on #51064
@stjack99 Thanks for the report.  Because of the way the Salt loader work, you need to add `__utils__` to your custom grain similar to how it's done in the zfs grain:
https://github.com/saltstack/salt/blob/develop/salt/grains/zfs.py#L32

Your `__utils__` would look something like this:
[code]

[2019-01-08 00:16] garethgreenaway commented on #51062
@steverweber Thanks.  What version are you seeing this issue in?

[2019-01-08 00:18] garethgreenaway commented on #51056
@terminalmage FYI.

[2019-01-08 00:42] waynew commented on #50964
👍 that was enough, thanks!

[2019-01-08 00:53] darakian commented on #32236
Documentation would be amazing. @lancelinksp

[2019-01-08 01:37] andyyumiao opened #51092 "How to build a rpm package correctly?"
### Description of Issue/Question
I changed some code base on 2017.7.8 and build a rpm package with new version code(2019.1.8), but got the error when I run test.ping:
              Module 'test' is not available.

###Note: It's normal when I go to the minion's python shell and import functools, I am sure functools module is just in my python package.

### Steps to Reproduce Issue
go to master ter

[2019-01-08 05:49] tdonovic commented on #46665
+1 States (when im testing) and cant see why the state times out until 20 min later is really slowing things up. Being able to tail the logs to the master that executed the state would make my life incredibly easy

[2019-01-08 11:05] tiendungitd commented on #44393
I tried to use this command, then I got the error : "Pillar failed to render with the following messages." I think the text option is cause the issue, salt not understand '''....... '''
Anyone have idea about this?

[2019-01-08 15:46] Ch3LL commented on #51055
can you clarify the entire command you are running to help replicate this issue?

[2019-01-08 15:54] Ch3LL commented on #51065
you only want to add this feature to sysctl.py state?

I think it would be doable if we can determine the name programmatically and add it as a feature with a kwarg such as discover=True.

[2019-01-08 15:57] Ch3LL commented on #51067
can you submit that as a PR?

[2019-01-08 15:58] Ch3LL commented on #51068
do you know if this was working previously?

[2019-01-08 16:01] Ch3LL commented on #51069
seems we will need to update this module to work with version 3.0.0 as well. Did you want to give it a go?

[2019-01-08 16:04] steverweber commented on #51062
That is dev and likely all versions.

On Mon., Jan. 7, 2019, 7:17 p.m. Gareth J. Greenaway <
notifications@github.com wrote:

[2019-01-08 16:09] Ch3LL commented on #51075
can you clarify the entire salt-call command you are running to help replicate?

[2019-01-08 16:13] Ch3LL commented on #51070
just to clarify are you suggesting we migrate from netstat to ss in the socket.py module?

[2019-01-08 16:35] waynew commented on #14183
Okay, so from what I can tell it looks like this is **only** an issue if the server is installed, started, and the config file installed in the same run.

Has anyone seen any other behavior?

I'll have to check the code to verify but my current theory is that the server is either not yet running when the file state is applied, or because it went from `not running` to `running` it just assumes that

[2019-01-08 16:41] adambarnett52 commented on #51075
i run for example
[code]

[2019-01-08 16:42] Ch3LL commented on #51078
can you check the minion logs and see if its still attempting to run the highstate after it returns that?

Or any other useful information in the minion debug log when this occurs?

[2019-01-08 16:44] Ch3LL commented on #51087
I'm not seeing the error that is thrown when this is run. Can you include the error output?

[2019-01-08 16:46] Ch3LL commented on #51090
im not able to replicate this. Did you restart the master after adding this configuration change?

also do you see this behavior with all states or just this one?

[2019-01-08 16:48] Ch3LL commented on #51092
are you asking how to build a rpm package of salt with your changed code?

[2019-01-08 16:54] Ch3LL commented on #51077
ping @saltstack/team-core any ideas here on how @dmytro-shevchenko can accomplish this?

[2019-01-08 17:17] dkorittki opened #51101 "Package conflict of python-ioflo in Saltstack Ubuntu repositories"
### Description of Issue/Question
Package ```python-ioflo``` hosted in official Saltstack repositories for Ubuntu Xenial and Bionic share the same name packagename, version and architecture, but different content (filesize and real physical differences in metadata files ```control``` and ```prerm```). To my understanding this violates the Debian packaging policy.
https://github.com/saltstack/salt/

[2019-01-08 17:19] #49089 closed

[2019-01-08 17:41] WalkerWang731 commented on #51070
I mean, python's official `socket `library not support NETLINK_INET_DIAG. so can be use ss first. if salt use ss to replace netstat, maybe is nice try. however old release of linux maybe unsupport, so ss before netstat

[2019-01-08 17:50] waynew commented on #14183
@cmclaughlin / @rsyring / @marco-m

At least one of us is definitely misunderstanding something 🙂

(**tl;dr** it appears some services don't need a restart because they weren't started in the first place)

I just cloned the [bootstrap repo](https://github.com/saltstack/salt-bootstrap), and used the Vagrantfile to start up a vm.

In that vm I changed `/etc/salt/minion`, setting `file_client: local`

[2019-01-08 17:50] #14183 closed

[2019-01-08 17:54] iigorkarpov commented on #14183
It was year ago or so. Of course I did not keep broken configurations. But the issue was first reported long time before me. If memory serves me well, the existence of the problem was acknowledged years ago.

Regards,
Igor

--

[2019-01-08 17:58] marco-m commented on #14183
@waynew Please standby, we will provide a repro setup tomorrow. Unfortunately the issue is still present.

@odormond Could you please follow-up with @waynew ?

[2019-01-08 18:05] cmclaughlin commented on #14183
This is still a problem for me.

[2019-01-08 18:10] waynew commented on #14183
@cmclaughlin are you seeing results that differ from what I saw, using the same steps? If so, can you provide your `salt-minion --versions`?

[2019-01-08 20:05] misch42 opened #51103 "Including extension_modules causes an error: six.py"
I wanted to include the netbox ext pillar on my ubuntu 18.04 system. The netbox.py is located in

/usr/lib/python3/dist-packages/salt/modules/netbox.py

so I configured in /etc/salt/master:

extension_modules: /usr/lib/python3/dist-packages/salt

When I start salt I get the the error:

Jan 08 20:54:58 nms salt-master[18922]: ModuleNotFoundError: No module named 'http.client'; 'http' is not a packa

[2019-01-08 20:42] misch42 commented on #51087
Sorry. somehow the copy&paste gone wrong.

# salt 'myswitch' state.sls snmp
myswitch:
----------
          ID: snmp_example
    Function: netsnmp.managed
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/usr/lib/python3/dist-packages/salt/state.py", line 1913, in call
                  **cdata['kwargs'])

[2019-01-09 01:33] gitbrianb opened #51106 "Cloud profile settings don't override provider settings"
### Description of Issue/Question
When using the "location" attribute within AWS, if I specify the "location" attribute in the profile settings and nothing within the provider settings, it defaults to something I don't want. For instance, if I default my profile settings to "location" us-east-2, and nothing in the provider file, I've noticed in the debug output it uses "us-east-1". But only for th

[2019-01-09 02:36] gitbrianb commented on #51106
I should mention, as a work around to this, if I use the same "location" setting in the provider file as in the profile file, this error that I posted in the debug output as using "us-east-1", doesn't exist, and things work fine, but since I work between multiple zones, it's annoying. I would expect that if I don't specific a "default" location via the provider file that the profile would take pre

[2019-01-09 03:04] thechile commented on #51035
thanks.. i had to use the following to get it working in my use case as the quotes in the xml were erroring

`{{ template_contents | indent(8) | replace('"',"'") }}`

but works now thank you.

[2019-01-09 03:04] #51035 closed

[2019-01-09 03:34] andyyumiao commented on #51092
yes, can you provide the help? much thanks...

[2019-01-09 07:58] rlifshay opened #51107 "systemd module misses some files when checking for new unit files"
### Description of Issue/Question
The systemd seems to only check for new unit files in `/etc/systemd/system`. This causes issues with new managed unit files that are placed in other valid locations for systemd. `service.running` and other related states fail to detect the new unit files and reload systemd before starting/stopping or otherwise managing services thus causing the entire state to fai

[2019-01-09 12:19] fandaye opened #51109 "sakt-api “Authentication failure of type "eauth" occurred”"
### Description of Issue/Question
`curl -sSk http://127.0.0.1:58080/login -H 'Accept: application/x-yaml' -d username='saltapi' -d password='123456' -d eauth=pam`

    <!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></met

[2019-01-09 12:23] #51109 closed

[2019-01-09 12:46] Hipska commented on #50932
Hi @Ch3LL, I have seen your commit referencing this issue. Is it now solved and can this one be closed?

[2019-01-09 12:57] Elethiomel commented on #49586
I've been experiencing the exact same issue recently. All traces were showing large delays

`11:28:02,112 [salt.transport.zeromq                                 :194 ][DEBUG   ][30830] Connecting the Minion to the Master URI (for the return server): tcp://10.28.1.3:4506
11:28:02,112 [salt.transport.zeromq                                 :1029][DEBUG   ][30830] Trying to connect to: tcp://10.28.1.3

[2019-01-09 13:13] monofumado commented on #49686
I have the same issue, the schedule works if I run it using salt-call but not if I run it from the master. The test state I use is the following:

       {% set tomorrow = "tomorrow" | strftime() %}
       test:
          schedule.present:
            - name: test
            - function: test.ping
            - once:
                - {{ tomorrow }}

and the output when I run it from the master is

[2019-01-09 14:37] monofumado opened #51114 "Schedule a job to run "once" with timelib is not working"
### Description of Issue/Question.

I saw #49686 but it's already closed so I open a new one

When I try to set a schedule to run once using the format described in Jinja filters {{ "tomorrow"|strftime }} it can't be run from the master but it's working correctly using salt-call, when trying to run from the master I receive the following error:

    minion01:
     Data failed to compile:
     ----

[2019-01-09 15:22] rombert opened #51120 "Impossible to switch vendors for already installed packages (zypper)"
### Description of Issue/Question

It is impossible to cleanly switch vendors for already installed packages with zypper/rpm. My example is that I need to install a package (ffmpeg-4) which depends on packages that are provided both by the 'main' vendor (OpenSUSE) and the 'secondary' vendor (packman). The ffmpeg-4 package requires the packages from the packman vendor, but if these are installed it

[2019-01-09 16:22] dwoz commented on #51101
@dkorittki Thanks for pointing this out. I think we can resolve this by changing the version `python-ioflo_1.5.0-1_all+18.deb`. Do you agree?

[2019-01-09 16:34] OrangeDog opened #51123 "logstash_udp_handler doesn't work in py3"
[code]

Needs e.g. a conversion to `six.binary_type` here:
https://github.com/saltstack/salt/blob/v2018.3.3/salt/log/handlers/logstash_mod.py#L381

[2019-01-09 16:50] dwoz commented on #51106
@gitbrianb Thanks for reporting this, I think it has to do with key's being tied to a location. Can you make multiple provider's each with a different location to suite your needs?

[2019-01-09 16:52] dwoz commented on #51107
@rlifshay Thanks for reporting this. Do you think you would be able to create a PR with a fix?

[2019-01-09 16:55] bwesemann-cxp commented on #51090
Hey @Ch3LL, thanks for the response.

Indeed I do restart after making configuration changes, and this behavior is seen on all state files.

I think I managed to identify what was causing the issue, in my configuration file `output: nested` was set. When I commented that option, I received the expected output from the state_output option. It seems that option was overwriting state_output as well a

[2019-01-09 16:59] dwoz commented on #51123
@OrangeDog Thanks for reporting this issue. Can you provide us with the output of `salt -V`?

[2019-01-09 17:00] OrangeDog commented on #51123
The zmq handler is similarly broken
[code]

[2019-01-09 17:01] OrangeDog commented on #51123
[code]

[2019-01-09 17:33] xuhcc opened #51125 "postgres_extension.present is not available"
### Description of Issue

`postgres_extension.present` state fails with error:

[code]

### Setup

[code]

### Versions Report

[code]

[2019-01-09 17:44] gitbrianb commented on #51106
@dwoz Not sure if this answers your question or not, but I definitely have to use a different set of keys for each zone, but those settings are defined in the profile file for the instances individually and not configured in the provider file where I consider those values to be "global" parameter values that are defined across any profile I use when I indicate the value for the "provider" attribut

[2019-01-09 17:50] gitbrianb commented on #51106
I should mention that if I update the "location" field in the provider file, all things being the way I've posted earlier, provider file for instance has my "east" keys configured, but my profile settings have my "west" keys, all is fine. So if I match the "location" field in the provider file each time for my profiles I'm launching I can work around this, but I would expect these files to be defi

[2019-01-09 18:53] dwoz commented on #51103
@misch42 `/usr/lib/python3/dist-packages/salt/modules/netbox.py` is a salt module which would be available by default in your installation. Pillars and pillar data should not be confused with modules. Generally, extension_modules will be modules that you write and will live somewhere under your file_roots. For example `/srv/salt/_modules/my_module`.

Can you explain more about what you are trying

[2019-01-09 19:01] dwoz commented on #51106
@gitbrianb Yes, that makes sense.

@techhat Do you have any thoughts on this?

[2019-01-09 19:10] cavepopo commented on #49586
Oh thank you god ! It's a good feeling knowinf that I am not the only guy on earth having this kind of troubles :)
So I know now what to try next, I'll clean my repos (state is around 2Go and pillar 20Mo) hoping this is a good pick.
Thanks a lot for coming here just to add your experience @Elethiomel

[2019-01-09 19:24] garethgreenaway commented on #47098
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 19:24] #47098 closed

[2019-01-09 19:24] garethgreenaway commented on #47296
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 19:24] #47296 closed

[2019-01-09 19:30] garethgreenaway commented on #49627
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 19:31] garethgreenaway commented on #49691
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 19:31] #49691 closed

[2019-01-09 19:32] garethgreenaway commented on #49740
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 19:32] #49740 closed

[2019-01-09 19:43] waynew commented on #3802
This is pretty old, and you may not need it anymore, but @MoonSweep, your problem was because you were putting quotes around the values:

https://github.com/saltstack/salt/blob/5d1edfbaa0f04c74fe6aeb68e48defa168fb3c3a/salt/states/debconfmod.py#L185-L186

Salt is actually normalizing the value if the type is `boolean` - it expects `'value': True` or `'value':False`, and converts those to `'true'` a

[2019-01-09 19:44] garethgreenaway commented on #49954
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 19:44] #49954 closed

[2019-01-09 19:49] garethgreenaway commented on #50155
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 19:49] #50155 closed

[2019-01-09 19:53] garethgreenaway commented on #50292
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 19:53] #50292 closed

[2019-01-09 20:04] #49627 closed

[2019-01-09 20:05] garethgreenaway commented on #50016
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:05] #50016 closed

[2019-01-09 20:05] garethgreenaway commented on #50218
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:05] #50218 closed

[2019-01-09 20:07] garethgreenaway commented on #50406
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:07] #50406 closed

[2019-01-09 20:07] garethgreenaway commented on #50547
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:07] #50547 closed

[2019-01-09 20:31] garethgreenaway commented on #50892
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:31] #50892 closed

[2019-01-09 20:32] garethgreenaway commented on #49957
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:32] #49957 closed

[2019-01-09 20:32] garethgreenaway commented on #49894
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:33] garethgreenaway commented on #49835
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:33] #49835 closed

[2019-01-09 20:34] garethgreenaway commented on #47787
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:34] #47787 closed

[2019-01-09 20:34] garethgreenaway commented on #41342
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:34] #41342 closed

[2019-01-09 20:36] garethgreenaway commented on #14497
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:36] #14497 closed

[2019-01-09 20:40] waynew commented on #4010
I know that the `debconf.set` state fires changes - is there any reason that this won't work for you?

[code]

[2019-01-09 20:46] alan-cugler opened #51127 "salt-master error on target VM when salt-cloud run as non-root"
## Description of Issue
When provisioning salt-master onto a VM with salt-cloud, and `salt-cloud` is ran as an unprivileged (non-root) user, the salt-master fails on the target VM because an incorrect master configuration file is being produced by salt-cloud. This file among other things, sets user (on the target) as my username from the host computer I ran salt-cloud from. This results in salt-ma

[2019-01-09 20:47] garethgreenaway commented on #50989
@mpx8701 Our focus right now is getting the fluorine release (2019.2.0) out.  Once that is out then we'll provide new releases both 2017.7 and 2018.3.  Since this has been merged and will be in upcoming releases I'm going to close this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:47] #50989 closed

[2019-01-09 20:47] garethgreenaway commented on #50850
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:47] #50850 closed

[2019-01-09 20:49] garethgreenaway commented on #50703
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:49] #50703 closed

[2019-01-09 20:49] garethgreenaway commented on #50562
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:49] #50562 closed

[2019-01-09 20:50] garethgreenaway commented on #50162
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:50] #50162 closed

[2019-01-09 20:50] garethgreenaway commented on #50074
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:50] #50074 closed

[2019-01-09 20:51] dwoz commented on #51120
@rombert Thank you for reporting this issue. Sounds like your option 1 (passing all packages to the install command) is the most straight forward and least intrusive change to fix the issue.

@saltstack/team-core Does anyone have thoughts or opinions on this?

[2019-01-09 20:52] garethgreenaway commented on #50073
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:52] #50073 closed

[2019-01-09 20:52] garethgreenaway commented on #50062
Closing this out, if the problem persists please comment & we'll re-open the issue or feel free to open a new issue.

[2019-01-09 20:52] #50062 closed

[2019-01-09 20:59] icycle77 commented on #49954
Thanks @garethgreenaway -- I actually missed that this issue got a fix merged. We can pick it up and try again, and will reopen this or a new ticket if something remains amiss.

[2019-01-09 21:09] doesitblend opened #51128 "Windows Grains doesn't include default gateway"
### Description of Issue/Question
A comparison between Linux and Windows grains in 2018.3.3
### Setup
Install Salt 2018.3.3 on Windows 2016 server

### Steps to Reproduce Issue
[code]

### Versions Report

[code]

[2019-01-09 21:11] doesitblend commented on #51128
ZD-3165

[2019-01-09 21:22] garethgreenaway commented on #50792
@kk21986 Looks related.  Thanks for the update.

[2019-01-09 22:06] Ch3LL commented on #50791
@dwoz i'm still seeing an issue with multi-master failover. Its the exact same steps as above but to note i could only replicate this on linux when running `salt-minion -d` instead of `salt-minion -ldebug`. What occurs is i see this in the log when the masters go down:

[code]

and the minion just dies.

[2019-01-09 22:19] misch42 commented on #51103
I want to use netbox as an external pillar as described in
https://docs.saltstack.com/en/develop/ref/pillar/all/salt.pillar.netbox.html

First I want to define devices in netbox and make salt to know about the devices. Finally I want to define devices in netbox and make salt to implement the configuration.

When I configure the external pillar as described above salt tells me "ext_pillar netbox in

[2019-01-09 22:51] boltronics commented on #4010
@waynew I haven't tested it, but that looks good to me. Thanks for the suggestion! I used a different approach by making sure debconf.set was executed before installing the package, but your suggestion is nicer in some ways.

It would be ideal if Salt provided a more direct and intuitive way to execute that command on changes when the package is already installed. eg.
[code]

[2019-01-09 23:11] waynew commented on #4010
@boltronics would it help if we added some information to the docs for debconf? To me it seems like that'd be the most helpful thing here.

[2019-01-09 23:16] mikemartino commented on #50155
Awesome, thank you very much!

[2019-01-09 23:19] boltronics commented on #4010
I agree, the docs should be updated regardless of any change being implemented.

[2019-01-10 00:38] abednarik commented on #50016
Hi @garethgreenaway

  What we did was a hack. Ideally salt should work with python-augeas provides by the OS or either when you bootstrap salt,  that version should be installed.

Cheers.

[2019-01-10 00:47] garethgreenaway commented on #50016
@abednarik Did you get a chance to try PR #50690?

[2019-01-10 02:11] Silvenga commented on #48964
@syphernl We are also seeing this in 2018.3.3. Were you able to find any other information?

There are no return events from Windows minions (we execute highstate every 3 hours via the scheduler). Events are being returned from the Linux minions.

The being said, highstate is being executed correctly.

What's kind of odd is that highstate emails from the  `highstate_email.highstate` are occuring,

[2019-01-10 02:21] gtmanfred commented on #48964
@saltstack/team-triage can yall take a look at verifying this?

Looks like someone else is experiencing the same problem.

Thanks,
Daniel

[2019-01-10 02:35] #50986 closed

[2019-01-10 02:35] #50993 closed

[2019-01-10 03:19] menglong81 commented on #51070
master_alive_interval   options
Salt will call the netstat command when it performs health check. However, if the number of system connections is large, it will consume cpu because it reads the file  /proc/net/tcp
So we modified the code and hope to adopt it

[2019-01-10 08:10] iadityagrover commented on #51078
I did check on the server. It's no longer attempting to run highstate after it returns. There are no longs generated. We just see the server name and blank output. There is no summary to go after. I did check the minion logs as well as well as on master but no luck finding any information. I have faced this during patching as well.

[2019-01-10 11:54] monofumado commented on #51114
As said before, I run master and minion in the same machine and you can see in the output of salt --versions that timelib is installed, version (0.2.4)

[2019-01-10 13:42] c-wicklein commented on #51055
I'm currently running this script without arguments:

    #!/bin/bash

    ORIGIN="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
    "$ORIGIN"/_salt.sh state.apply

...which in turn runs this script:

    #!/bin/bash

    sudo su --login -c "salt-call \
      --local \
      --file-root=$HOME/salt/salt \
      --pillar-root=$HOME/salt/pillar \
      --module-dirs=$HOME/salt/modules \
      --

[2019-01-10 13:51] c-wicklein commented on #38092
I ran into this, too.  As a work-around, I typically define both a tag and the corresponding SHA in a pillar like this:

    $ cat ../pillar/git-annex.sls
    git_annex_version: 7.20181211
    git_annex_sha: 426bdbf11360bb0a9fd6a8d4bddafb2e11f49754

[2019-01-10 13:52] abednarik commented on #50016
Yeah, I can try that. Not sure which version of salt contains that fix @garethgreenaway

[2019-01-10 14:08] c-wicklein commented on #38092
Here's the basis for a a potentially faster workaround similar to what ikr is doing:

    [me@laptop git-annex]$ git show-ref -d 7.20181211 | grep "$(git rev-parse HEAD)"
    426bdbf11360bb0a9fd6a8d4bddafb2e11f49754 refs/tags/7.20181211^{}

[2019-01-10 14:18] terminalmage commented on #51056
This only has access to the envs that are derived from the repos defined under `gitfs_remotes`. This is because gitfs is not aware of other fileserver backends. I can definitely see how the name of this config option is misleading though, in the absence of clarifying documentation.

I think the thing to do here is to update the documentation. Does that sound good?

[2019-01-10 14:32] MadsRC commented on #50634
I can confirm that adding "--batch" to these lines resolved the exact same problem for me:
https://github.com/saltstack/salt/blob/develop/salt/modules/aptpkg.py#L2252
https://github.com/saltstack/salt/blob/develop/salt/modules/aptpkg.py#L2255

[2019-01-10 14:36] garethgreenaway commented on #50016
@abednarik unfortunately the fix is not in a released version yet so would need to manually patch it or download the file from GitHub, from the 2018.3 branch. It will be available once we released the next minor version of 2018.3 though.

[2019-01-10 14:56] Ch3LL commented on #51125
The module requires the util `psql` and runs `salt.utils.path.which(util)` where util is psql. Can you verify you have that binary?

[2019-01-10 15:01] Ch3LL commented on #51127
you can add master configuration options like so:

[code]

in your profile or map file

https://docs.saltstack.com/en/latest/topics/cloud/misc.html#setting-up-new-salt-masters

[2019-01-10 15:05] Ch3LL commented on #51128
it looks like it runs this binary: `ip_bin = salt.utils.path.which('ip')`

I dont have a windows VM right on hand can you verify if that is available on windows or not?

Also if you can verify this command:

`out = __salt__['cmd.run']([ip_bin, '-' + ip_version, 'route', 'show'])` where ip_version is 4 or 6

[2019-01-10 15:13] terminalmage commented on #32363
Thanks for the heads-up!

[2019-01-10 15:13] #32363 closed

[2019-01-10 15:42] xuhcc commented on #51125
@Ch3LL

Yes, `psql` binary is present on target machine:

[code]

Target OS is Arch Linux and I'm using salt-ssh.

[2019-01-10 15:47] stevewritescode opened #51136 "Docs: 'Running the Tests' section is out of date"
### Description of Issue/Question
It looks like this docs section about setting up and running the Salt test suite is out-of-date: https://github.com/saltstack/salt/blob/develop/doc/topics/tutorials/writing_tests.rst

Quote from @gtmanfred from https://github.com/saltstack/salt/pull/51082/files#r246492565:

[2019-01-10 16:01] rdutch commented on #51128
The IP cmd doesn't exist, we would need to use a power shell cmd like this:
Get-NetRoute |
    where {$_.DestinationPrefix -eq '0.0.0.0/0'} |
    select { $_.NextHop }

[2019-01-10 16:08] maneamarius commented on #51128
I worked around this issue for now, by doing this (which is pretty much the same as Rob)

{% set gateway = salt['cmd.shell']('powershell "Get-NetRoute | where {$_.DestinationPrefix -eq \'0.0.0.0/0\'} | select {$_.NextHop}  | ft -hidetableheaders"') | trim -%}

[2019-01-10 16:41] Paulo-Nunes opened #51137 "state pkg.installed fails when using wildcard '*' in version for el7_5.1 release"
### Description of Issue/Question
Attempting to run pkg.installed state with name:'gcc-gfortran' and version:'4.8.5-28.el7*' fails when actual package version is: 4.8.5-28.el7_5.1
Seems to be related to not looking in the proper repo when wild card is used

Why can salt not install the package if the wildcard is used, but works when specifying the complete version?
### Setup
(Please provide releva

[2019-01-10 17:05] tjgruber commented on #9052
This needs to be opened back up, as it is happening now with:

salt-minion (2018.3.3)
Windows 10 1809.

My CPU usage is nearly 51% + for Python.exe (salt-minion) on any PC who's denied/not accepted on the salt-master.

Background:
Multiple PCs, including my own, have been chewing high CPU resources constantly... fan spinning fast, degraded performance, etc. When I looked, it was python.exe (salt-m

[2019-01-10 17:54] abednarik commented on #50016
Thanks @garethgreenaway . At point, I;m super busy with work things, Will see what I can do in the future. For sure once new salt version based on branch 2018.3 is released will upgrade and check this.

Thanks.

[2019-01-10 18:33] alan-cugler commented on #51127
That worked great!
However, there was a possible new issue introduced (I will make a new issue for) and some indirect salt documentation conflicts. This doc says to use the `master:` syntax in the `etc/salt/cloud` file, but is this a special use case to the `syndic_master:` option only?
[code]
I had assumed it extended in general to all master options.
https://docs.saltstack.com/en/latest/topics/c

[2019-01-10 18:40] alan-cugler commented on #51127
Also, this doc says the minion options are to be placed in the `etc/salt/cloud` file, without mention of the maps file. However, I just tested putting that option into the map file under the minion VM ( just like the `master:` option) and it worked!

So maybe a docs adjustment?
https://docs.saltstack.com/en/latest/topics/cloud/config.html#minion-configuration

[2019-01-10 18:51] tjgruber opened #51138 "Windows 10 Minions use very high CPU if salt-key is rejected / unaccepted on master"
### Description of Issue/Question

My CPU usage is 51-100% + for Python.exe (salt-minion) on any PC who's denied/not accepted on the salt-master.

Background:
Multiple PCs, including my own, have been chewing high CPU resources constantly... fan spinning fast, degraded performance, etc. When I looked, it was python.exe (salt-minion) using over 51% of CPU and showing high power consumption.

Once I

[2019-01-10 19:33] alan-cugler opened #51139 "salt-master VM created from salt-cloud with non-root user results in file/directory ownership changed to root on host"
### Description of Issue
This is a spin off error from issue #51127
I am running `salt-cloud` with an unprivileged (non-root) user, with a recursive copy of `salt/` directories owned by the unprivileged user. After successfully spinning up a salt-master VM on DigitalOcean, I attempt to create a salt-minion VM. However, my `salt/pki/master/` directory, and all files/directories under it, have had o

[2019-01-10 19:34] wongster80 commented on #38072
Hello, I'm on version 2017.7.2 has this feature to have jinja variables evaluating at runtime or a workaround implemented yet?

[2019-01-10 19:47] misch42 opened #51140 "python3: pynetbox cannot be loaded?"
Hi,

I installed netbox, salt and pynetbox on a new ubuntu 18.04 (bionic). I configured an external pillar according to the docs (/etc/salt/master).
[code]
But salt isn't able to use the pillar:

# salt myswitch netbox.get dcim devices
[code]
 salt-master and salt-proxy for my switch are on the same machine.

# salt -V
Salt Version:
           Salt: 2018.3.3

Dependency Versions:
           cffi:

[2019-01-10 20:22] gtmanfred commented on #38072
https://docs.saltstack.com/en/latest/topics/slots/index.html exists in
2018.3

On Thu, Jan 10, 2019 at 1:34 PM wongster80 <notifications@github.com> wrote:

[2019-01-10 20:50] doesitblend commented on #51128
In a discussion with @twangboy it looks like the default gateway on Windows is actually already being grabbed per interface in `salt.utils.network.win_interfaces`. Adding this single function to an execution module in a Vagrant environment yields the following results:

[code]

Results from a run of this function
[code]

@maneamarius @rdutch Are either one of you able to test the above execution m

[2019-01-10 21:51] dwoz commented on #50791
@Ch3LL Okay, I will look at it.

[2019-01-10 23:17] waynew commented on #14183
@cmclaughlin Just glancing at your example I do see that the service is not being restarted - I'll double check tomorrow using a Yum based installation - but I'm not seeing (at a glance) where the config is not being loaded.

I was able to reproduce the behavior of the service not being restarted - but that was because the service *was not started* before the file was added.

In simpler terms:

1.

[2019-01-11 00:09] nullify005 commented on #51069
Sure, I'll have a go at it first thing next week.

[2019-01-11 02:12] jerrykan commented on #51068
@Ch3LL It seems to be broken as far back as v2018.3.2 (the version we are currently running), but I haven't tested anything before that. My suspicion is that this has never worked correctly.

[2019-01-11 05:16] damon-atkins commented on #51128
how about
netsstat -r
or
route print

Powershell is two slow

[2019-01-11 09:35] mirceaulinic commented on #51039
Even though this issue has been closed, if there are any further suggestions, please write them below. Thanks!

@mattp- also mentioned in https://github.com/saltstack/salt/pull/51032#issuecomment-452802216:

[code]

Which makes sense to me.

[2019-01-11 09:46] diqing commented on #40529
I have the same problem as you, only install salt-minion on  server like this:
yum -y install salt-minion
and My minion config is very minimal. All it contains is master and id,

[root@localhost salt]# /etc/init.d/salt-minion start
ERROR: Unable to look-up config values for /etc/salt

That's how I solved it:

[root@localhost salt]# pip list
Package    Version
---------- -------
pip        18.1
set

[2019-01-11 15:06] davideagen commented on #50608
It turns out we were mistaken. Something else is overwhelming the master. Closing this issue as invalid.

[2019-01-11 15:06] #50608 closed

[2019-01-11 15:16] davideagen commented on #48509
Looks like the same thing as #50238

[2019-01-11 15:30] fedepires commented on #50433
Running into this issue too. Looks like the function `grant_exists` in mysql module compares the output of show grants to the one in the state. According to Mysql 8.0 docs [here](https://dev.mysql.com/doc/refman/8.0/en/show-grants.html), the output has changed compared to 5.x versions:

For example, in 5.7, a show grants of ALL PRIVILEGES looks like this:

[code]

And in 8.0, it expands to a list

[2019-01-11 15:30] do3meli commented on #49894
@garethgreenaway i would like to keep this open as the corresponding PR #50921 has not yet been merged.

[2019-01-11 18:34] garethgreenaway commented on #51140
@misch42 Thanks for the report. To confirm, you have installed `pynetbox` on the Salt master and have restarted the Salt master process?

[2019-01-11 18:44] garethgreenaway commented on #51139
@alan-cugler Thanks for the report.  On the server in question where you are running the salt-cloud commands, do you have the Salt master running?  Can you confirm what user that Salt master is running as?

[2019-01-11 19:41] vangourd commented on #49450
@Ch3LL

Over the period this issue has been open I have begun describing what is a different issue than the one I opened this issue for in the last few comments.

I will open an issue for the new problem and I promise I will get a confirmation on whether or not *last_run* produces the same error for me. Today.

----
My original issue was an error (500) when querying for the specific job. Ignore th

[2019-01-11 20:20] vangourd commented on #50931
@Poil

Can you try using this function in your api call? I have the same issue as you and discovered this by reading through the docs/repo again.

https://github.com/saltstack/salt/blob/27ada9a0de1955fef5bf54a3dea12b13f62834e3/salt/runners/jobs.py#L377

[2019-01-11 20:52] vangourd commented on #50931
I am also having a memory issue with jobs.list_jobs when I perform queries. I believe it might be related so if you want me to do any testing that would be great.

My postulation was that each query of list_jobs will expand the amount of data that will be queried by the next (exponential? I can't remember) as list_job jobs are not filtered out by the query.

Possibly a feature for this should be a

[2019-01-11 21:48] cmclaughlin commented on #14183
@marco-m @rongshengfang would you please review my last comment and compare against your environments? I'm curious what Salt versions and OSs you're using, etc.

Curious if you have any info to help @waynew.

Thanks!

[2019-01-11 22:54] misch42 commented on #51140
yes.

[2019-01-11 23:06] vangourd commented on #49450
@Ch3LL

The issue with last_run appears to be fixed with the newer version of Salt. I cannot get it to repeat the broken behavior.  Thanks for the help!!

[2019-01-12 00:11] waynew commented on #14183
@cmclaughlin can you try something like this? (I was on Centos7 using this Vagrantfile

# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure("2") do |config|
  config.vm.box = "centos/7"
  config.vm.provision "shell", inline: "yum install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm; yum install -y salt-minion;"
  #config.vm.synced_folder "../states", "/srv/salt

[2019-01-12 00:52] MTecknology opened #51153 "Shadow documentation missing"
### Description of Issue/Question

The documentation produced for `salt.modules.shadow` [1] mentions that `shadow` [2] is the resource that provides `shadow` support for Linux.

Unfortunately, these names conflict and it's not possible to get to documentation for the linux/shadow module [2].

I suspect this is an easy fix (rename the module), but I don't have the time to provide a patch... just th

[2019-01-12 03:01] cmclaughlin commented on #14183
Commenting on my phone and can text more later... but I would like to clarify the problem is the service is not reloaded after new files are added.

I don’t think the last Apache test mention demonstrates the problem I’m seeing because Apache will always serve the contents of an html page. A service restart is not needed for that.

[2019-01-12 03:41] daeo opened #51155 "Upgrading Windows 10 minon from 2017.7.4 to 2018.3.3"
### Description of Issue/Question
On Windows 10, upgrading from 2017.7.4 to 2018.3.3 results in a new config file being generated for the minion with the previously designated name removed.  Previous updates didn't require a switch to keep the same name.

### Steps to Reproduce Issue
-Grab 2018.3.3 from repo
  `sudo wget https://repo.saltstack.com/windows/Salt-Minion-2018.3.3-Py2-AMD64-Setup.exe`

[2019-01-12 09:40] pchen66 opened #51156 "Missing cmd.run_bg"
### Description of Issue/Question

Running `salt '*' sys.list_functions cmd` return not the complete list compared to documentation. Are commands platform specific? I'm trying to use `cmd.run_bg` but it's missing. If I want to use cmd.run_bg, how should I proceed? Thanks!

### Setup

install master & minion on Ubuntu 16.04.

### Steps to Reproduce Issue

`salt '*' sys.list_functions cmd`
[code]

#

[2019-01-12 19:57] noelmcloughlin opened #51157 "git.latest returning fatal error message"
### Description of Issue/Bug

How can this error be disabled - its noise and git.latest succeeds.

[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

State is here:
https://github.com/saltstack-formulas/devstack-formula/blob/2f3f48240f29c7f97f6a0a2a7848c9bf006fb5ed/devstack/install.sls#L25

### Steps to Reproduce Issue
(Include debug logs if p

[2019-01-12 22:23] AndreiPashkin opened #51158 "saltmod.state doesn't respect "roster" argument"
### Description of Issue/Question
According to [the documentation](https://github.com/saltstack/salt/blob/c850a94f0e341d68a98851cbda4b93963d8b8f76/salt/states/saltmod.py#L192) `saltmod.state` module must accept `roster` argument:

If you analyze [the code](https://github.com/saltstack/salt/blob/c850a94f0e341d68a98851cbda4b93963d8b8f76/salt/states/saltmod.py#L108) you'll see that `roster` argument

[2019-01-12 22:35] garethgreenaway commented on #50433
@zerthimon @fedepires Apologies this one took so long to circle back to. If you're able to check that PR, assuming tests pass, etc.  and see if it fixes the issue for you.  Thanks!

[2019-01-13 01:57] pchen66 commented on #51156
My bad. It was due to the version on minion wasn't updated. Closed.

[2019-01-13 01:57] #51156 closed

[2019-01-13 05:39] max-arnold commented on #51153
Duplicate of #49335

[2019-01-13 10:59] 4815162342lost commented on #50965
Hello @dmurphy18,

Sorry, but i do not fully understand you. Why issue can not be fixed ASAP right now? From my point of view issue is very critical and must be fixed immediately.  The issue can break critical applications on prod-systems. Salt is 'prod-ready' tool.

Sorry for pushing you, but i am confused.

Have a nice week!

[2019-01-13 12:53] damon-atkins commented on #50965
I suspect the solution is to copy the salt rpm only and create your own repo.  You should always mirror/copy upstream repo, so you can control the content.  Then update will not find the salt versions of request etc.

[2019-01-13 12:54] damon-atkins commented on #50965
PS I think salt should split the repo into pure salt and dependency

[2019-01-13 13:11] 4815162342lost commented on #50965
Hello @damon-atkins,

Thanks for your advises. But as far as i know sometimes salt can require python-libs which is not exist  in official distro-repository.  And due to this ' salt rpm only' is not suitable.

Also i am not fully agree with you, salt should be stable and prod-ready tool, salt-users should not 'play' with private repository. Official repository should be stable and 100% safely. Oth

[2019-01-13 14:08] damon-atkins commented on #50965
Several reason to have your own repo.  Salt one is down, or gets hacked, speed of a local download is faster, there is no SLA for salt repo.  Most companies have proxies which may or may not be HA. Many reason to mirror a repo internally.

Take the rpm you need, which are not available for RHEL, create a repo and see how you go.

When puppet was pure ruby it split the puppet repo from the dependen

[2019-01-13 17:04] kenanbiel commented on #50882
Hi @Ch3LL it happened again to me. This is the output for gpg-agent.log

[code]
Any ideas how to resolve this?

[2019-01-13 18:56] amendlik opened #51160 "Minion crashes with long hostname under Python 3"
### Description of Issue/Question
The minion encounters a fatal exception on startup when running under Python 3 and the hostname is very long. My research indicates that the limit is 63 characters. Python 2 does not have this problem.

[code]

### Steps to Reproduce Issue
`salt-call --local test.ping`

### Versions Report
v2018.3.3

[2019-01-13 19:49] adamsewell commented on #6896
+1

[2019-01-14 04:10] johnnybubonic opened #51162 "Python 3 on CentOS 7, "ImportError: No module named 'requests'" (Missing dependency)"
### Description of Issue/Question

Fresh installation of salt 2018.3.3-1 on a freshly-installed and fully updated CentOS 7.

When starting salt-master on CentOS 7.6.1810 using the _https://repo.saltstack.com/py3/redhat/7/$basearch/latest_repository ([RPM](https://repo.saltstack.com/py3/redhat/salt-py3-repo-latest-2.el7.noarch.rpm)), the following occurs during startup:

[code]
(startup continues;

[2019-01-14 10:32] danielpardorus-allenta commented on #50744
Hi @jessebye,

Maybe related to https://github.com/saltstack-formulas/mysql-formula/issues/194#issuecomment-414265225?

[2019-01-14 13:09] nelsongraca commented on #50979
Any workaround for this?

[2019-01-14 13:45] dkorittki commented on #51101
I'm afraid this is not the only package affected. I searched the Saltstack Ubuntu repository for more duplicates and found the following conflicts (only precise/trusty/xenial/bionic latest paths):

(md5sum os/packagename)
[code]

All packages listed have the same packagename, version and architecture in metadata but different control files (at least). All metadata differ in ```Installed-Size``` an

[2019-01-14 13:47] Armadill0 commented on #21329
I just stumbled about this with my custom Netbox ext_pillar module. It's no problem to remove the suffix in my own module, but what if one of my colleagues labels a new server xyz_master? :flushed:

We also want to introduce foreman in the near future...

Any chance we can fix this? I really don't understand why the id is being manipulated by a hard coded value which is not even configurable (or I

[2019-01-14 14:35] taemon1337 commented on #39769
Any movement on this?  I have the same issue.

[2019-01-14 14:57] OrangeDog commented on #49160
I'm getting similar error with both master and minion on 2018.3.3, apparently after a timeout.
[code]

[2019-01-14 15:15] damon-atkins commented on #51101
Isn't he first question, why are they in the repo?

[2019-01-14 15:46] UtahDave commented on #36127
@twangboy Hey, this is still a problem.  It would be nice to get better output here.

[2019-01-14 15:54] icycle77 commented on #50673
I filed this as the next logical place for tracking this issue:
https://bugs.python.org/issue35737

[2019-01-14 16:07] jasonvoor commented on #48197
meanwhile I upgraded everything to 2018.3.0 (the same version Suse Manager uses). the issue is gone here & it works again as expected.

[2019-01-14 16:07] #48197 closed

[2019-01-14 16:38] amendlik commented on #51024
@simonflood: On APT-based systems, the `kernelpkg` module only operates on the kernel *type* that is active. So, if you are running `linux-image-generic`, all of the `kernelpkg` functions essentially filter their results to kernels of the `linux-image-generic` type.

[2019-01-14 16:39] waynew commented on #14183
@cmclaughlin Yes, but out of a random directory?

That's the crux of the matter. It *the service isn't* already running in your test. The program gets installed (1) the file gets added (2) and the service gets **started** (3).

There's nothing for salt to restart because the file already existed, in the correct state, before the service was started. Restarting the service won't actually do anythin

[2019-01-14 16:49] alan-cugler commented on #51139
hi @garethgreenaway, the salt-master is running.
[code]
I can confirm the salt-master is running as root:
[code]

[2019-01-14 16:49] dwoz commented on #51155
@daeo Thanks for reporting this. Using the `/master` option will cause the installer to overwrite the config. If you just use `/S` the config will be left alone. Does this work for you?

[2019-01-14 16:51] dmurphy18 commented on #50965
@4815162342lost @damon-atkins I understand your desire for an immediate solution and fix, however, the reason for the delay is due to limited pipeline. Fluorine RC1 (2019.2.0rc1) should be released today, following that work on 2018.3.4 point release should start.  That is, busy getting the Release Candidate out, and then on to the next point release for the 2018.3 branch which will contain your d

[2019-01-14 17:15] dseira opened #51167 "One orchestrator execution shows reference to another instance"
### Description of Issue/Question

Executing differents orchestration files in different terminal at the same time; one output shows some references to a minion in another orchestration file.

### Setup

- lvm1.sls

[code]

- lvm2.sls

[code]

### Steps to Reproduce Issue

Having the above orchestration files. Both are executed at the same time in different terminal sessions, one of them (output o

[2019-01-14 17:42] waynew commented on #51077
Hi @dmytro-shevchenko, thanks for reaching out! I might be able to help if I understand more about what it is that you're trying to accomplish.

You've definitely explained _how_ you're trying to get it done, I just don't think I understand your _why_ enough to be able to give some good advice 🙂

[2019-01-14 17:43] Luit commented on #50851
Let's give this issue an update shall we.

As far as I can see, the `NOTIFY_SOCKET` is only used by the salt processes to signal `READY=1`. If this is not the case, disregard the rest of this comment.

The sd_notify C API has an parameter called `unset_environment`, with the following documentation:

AFAICT this option is there to do exactly that: notify ready, and remove any chances of it getting

[2019-01-14 18:10] rdutch commented on #51128
confirmed on my vm's:
[code]

[2019-01-14 18:18] waynew commented on #4010
Anyone have a reason this shouldn't be closed when that PR gets merged?

[2019-01-14 18:18] dwoz commented on #51157
@noelmcloughlin I don't know of a way to silence this log. If the state is working, what is the driver for wanting to silence the log?

[2019-01-14 18:30] dwoz commented on #51162
@johnnybubonic thank for reporting this!

[2019-01-14 18:34] dwoz commented on #51167
@dseira Thanks for reporting this. I think this is mainly just noise happening due to both client's listening on the event bus. Although it is odd that vm1 also shows up in the 'changes' output.

[2019-01-14 18:45] johnnybubonic commented on #51162
of course! very easy mistake; i do a lot of packaging for Arch AUR and some RPM packaging for work. believe me, i know how easy it is to miss deps, especially runtime deps!

thanks! saltstack is great, by the way, for all the devs reading this.

[2019-01-14 18:59] dmurphy18 commented on #51162
@johnnybubonic Thanks for the catch, it is in BuildRequires and missing from Requires, editing error since in Python 2 version of spec file. will have fixed in next point release which will be soon.

[2019-01-14 19:06] noelmcloughlin commented on #51157
Many reasons. Software quality; user experience; confusing information; uncertainty; trust;
and to flip the coin on the question posed, if state is working why inform users on stdout a fatal Error occurred.   Did `git.latest` corrupt the download so that is why it was '**fatal**'?  How can I have 100% confidence the state worked - something went wrong presumably.

[2019-01-14 19:07] dmurphy18 commented on #51162
See https://github.com/saltstack/salt-pack-py3/pull/90 containing fix.  Please close this issue if satisfactory, as will appear in the next point release.

[2019-01-14 19:16] johnnybubonic commented on #51162
you got it, closing. fantastic turnaround.

[2019-01-14 19:16] #51162 closed

[2019-01-14 19:41] #36127 closed

[2019-01-14 20:40] dwoz commented on #51158
@AndreiPashkin  Thanks for reporting this. I have confirmed it is an issue.

[2019-01-14 20:57] twangboy commented on #51138
So, when running the salt-minion in debug mode it looks like the salt-minion process just stops when the key has been denied by the master. That could cause this behavior when salt-minion is running as a service.

The service manager we use monitors the status of the minion. If the process dies for any reason, the process manager will restart the salt-minion service. So, the minion will try to con

[2019-01-14 20:58] dmytro-shevchenko commented on #51077
Hi @waynew, thanks for your help.

The main idea is next: I have a set of minions, lets call them 'customers'. It is quite important isolate their data/pillars from each other. And another set of minions, lets call them 'service' minions - they should know about 'customers' and have access to customers pillars (at least to some part of pillar data). How I can accomplish this with best practice?
I

[2019-01-14 21:03] tjgruber commented on #51138
How long does the spike last?

I'm asking because once the denied key is deleted on the master, it could then take up to 60 seconds for

[2019-01-14 21:04] tjgruber commented on #51138
Hit the wrong link.

[2019-01-14 21:55] cmclaughlin commented on #14183
I'll take another look today.. sorry, I didn't take a close look at the centos example over the weekend / reading on my phone. I see your point about serving out of a random directory... that makes sense now.

[2019-01-14 22:17] twangboy commented on #51138
This fix above addresses the issue from Salt code. It adds a random sleep of 10 to 20 seconds before it issues the `sys.exit` command.

[2019-01-14 22:17] #51138 closed

[2019-01-14 22:36] cmclaughlin commented on #14183
Installing Vagrant now... but I think this is where our expectations are different:

Based on my example above, here's what I expect:

1) Package gets install
2) Service gets started
3) File with watch gets added
4) Service restarts because of watch on service

[2019-01-14 22:44] cmclaughlin commented on #14183
Thinking it through a bit more, it makes sense that I don't see the problem on Debian based systems since apt packages typically start the service automatically.

I suppose I'm proposing Salt's requisite system should handle this special case.

[2019-01-14 22:59] timwsuqld commented on #50703
@garethgreenaway Do we have an ETA as to when this'll be backported? Thanks

[2019-01-14 23:04] garethgreenaway commented on #50703
@timwsuqld It was backported to 2018.3 via https://github.com/saltstack/salt/pull/50804 and will be available in the next 2018.3 release as well as the upcoming Fluorine release.

[2019-01-14 23:07] dmurphy18 commented on #51162
@johnnybubonic FYI won't be in Salt 2019.2.0rc1 as that was done last Friday, but it will be in the Release Candidate 2 which will in a couple of weeks.

[2019-01-14 23:33] garethgreenaway commented on #50542
@doug-stratoscale I believe the PR referenced above fixed the issue in question, can you verify that it does resolve the issue you?  Thanks!

[2019-01-14 23:35] johnnybubonic commented on #51162
@dmurphy18 no worries; i have it installed just fine currently and this system isn't even in prod yet. :) appreciate the heads-up though!

[2019-01-14 23:49] waynew commented on #6575
Looks like it's been quite some time since there's been any activity on this. Interestingly enough, I'm pretty sure that Salt more or less already supports this in the minions. I put together an example here:
https://github.com/waynew/salt-standalone-sample

This just uses a masterless minion setup, and only requires that `--config-dir` be set to the repo directory, and that in the `minion` file t

[2019-01-15 00:11] waynew commented on #51077
Hey @dmytro-shevchenko thanks for the update!

I could be misunderstanding, but it _sounds_ like what you might want to do is just provide the service(s) with the customer pillars that they should have access to.

A simple example (apologies if this doesn't precisely match your goals):

**/srv/pillar/top.sls**

[code]

With this approach you can use grains to toggle which minions get access to spe

[2019-01-15 00:21] waynew commented on #14183
@cmclaughlin and that's what I've failed to communicate well :trollface:

Salt doesn't need to handle the special case because nothing *wrong* is happening. It's just *weird*, because it's not what we're used to seeing.

We're *used* to seeing your expectations - package installed, service gets started, file gets added, and service gets restarted. Why is the service restarted? Because it needs to

[2019-01-15 06:09] misch42 commented on #51140
yes. How to debug?

[2019-01-15 09:53] hwoarang commented on #51054
@garethgreenaway Unfortunately openSUSE does not provide 2018.3.3 but they provide 2019.2rc1 and this problem seems to have been fixed there. So I am closing this bug.

[2019-01-15 09:53] #51054 closed

[2019-01-15 09:53] hwoarang commented on #51058
@garethgreenaway Unfortunately openSUSE does not provide 2018.3.3 but I can still see this problem with 2019.2rc1

[2019-01-15 10:51] jynolen opened #51178 "Python3 - pip3- Depreciation of python 2"
### Description of Issue/Question

My question is the following:
Python2 is gonna be deprecated on 01/01/2020 so it will be really great if we can use pip3 or even better to specify the pip executable to be able to install / develop on top of python3.

Is there any chance we managed to do so ?

### Setup
test_packages:
  pip.installed:
    - pkgs:
      - pytest
      - testinfra
    - bin_env: '/

[2019-01-15 12:23] adambarnett52 commented on #51075
So i think i have found the issues

from running salt-call --local with debug

[code]

My pillar top.sls looks like this

[code]
and i have tired setting the pillerenv in the minion config

[code]
Why would it still be looking for base ?

[2019-01-15 13:02] adambarnett52 commented on #51075
and to add

[code]
[code]

[2019-01-15 14:17] cdalvaro commented on #51055
This must be related with #51008

[2019-01-15 15:46] Reiner030 commented on #47675
In many issues it's interesting to monitor what on "your" side get's a "Cannot Reproduce" ...

To be prepared for Sodium I changed my states to actual "module.run" version.
For all other calls it works fine so I found this bug only now because on one developer VM it was called and this state is required in other states (and normally called as module.wait).

Tested first with (not updated Dev VM sa

[2019-01-15 17:06] dwoz commented on #51157
Something did indeed go wrong, that is why I am on the fence about just changing these logs to the warn level or suppress them all together. A better solution would probably be for someone to dig in and figure out why the state is running that command and only run it when it's expected to pass, failing the state if it does not.

[2019-01-15 17:36] waynew commented on #51178
@jynolen for reference, the output of `salt-call --versions-report` is super helpful! Some might even say it's necessary 🙂

[2019-01-15 17:40] #45496 closed

[2019-01-15 18:24] cmclaughlin commented on #14183
Glad we're on the same page now...

I'd like to come up with a way for Salt to handle this situation... at the very least we should have some documentation that this is a common problem which can lead to very undesirable consequences.

I could easily follow the `onchanges` example/work-around posted above... but I'm thinking `service.running` should start the service ASAP (by injecting another ent

[2019-01-15 18:38] waynew commented on #14183
I'm curious - what undesirable consequences are you imagining would happen here?

[2019-01-15 19:43] TheCatFelix opened #51180 "salt.http.query() causes jinja template render failure, despite "raise_error = false" if server does not respond or response has zero length"
### Description of Issue/Question

salt.http.query() causes jinja template render failure, despite "raise_error = false" if server does not respond or response has zero length.

Relevant error message:

local:
    Data failed to compile:
----------
    Rendering SLS 'base:test' failed: Jinja error: object of type 'NoneType' has no len()
Traceback (most recent call last):
  File "/usr/lib/python3/d

[2019-01-15 21:39] erenfro opened #51181 "feature-request: salt-ssh does not merge roster_defaults with roster items."
### Description of Issue/Question
Per https://github.com/saltstack/salt/blob/2018.3/salt/roster/flat.py#L152

This does not use salt.utils.dictupdate to merge the salt-ssh roster_defaults lists with settings provided from the roster itself which would be very handy for allowing override options from defaults merged with roster specifics.

What would be preferred to happen is that roster_defaults m

[2019-01-15 21:42] jpsv commented on #30501
I could use this as well.

[2019-01-15 22:13] jessebye commented on #50744
@danielpardorus-allenta thanks! that does appear to be related.

[2019-01-15 23:09] cmclaughlin commented on #14183
Thanks for your patience... I'm all over the place on this one. Maybe my internal code doesn't match up with the tests we've come up with here. I'll take a closer look at my internal Salt code and see if I can track down the problem.

[2019-01-15 23:35] aphor commented on #49754
Fixed, and test coverage added.

[2019-01-15 23:35] #49754 closed

[2019-01-16 00:17] aphor commented on #40515
@gtmanfred
Test coverage added in that PR covers this bug.
https://github.com/saltstack/salt/pull/49755/files#diff-ada2523c56a9e35517c62b8521065a1eR208

@gashev if you want to test this, the fix for verification is in 2018.3 since 83c38c64a8c849f5b4409bfc1f9831860be55fa5

If not, Jenkins has it covered 👍

[2019-01-16 01:16] rallytime commented on #30501
@Ch3LL or @garethgreenaway can you open this one again?

[2019-01-16 02:23] vernondcole opened #51186 "2019.2.0rc1 minion looping when trying to connect to localhost master"
### Description of Issue/Question

Minion looping on connection attempt on self-mastered minion.

### Setup

MacOS 10.14.2 workstation # (any host OS will probably produce the same result)
Vagrant version 2.2.3
virtualbox version 5.2.22r126460
git version 2.17.2
salt 2018.3.3 # (salt-call will be used below in setting up the VM host)

### Steps to Reproduce Issue

Typing on your workstation:
[code

[2019-01-16 02:45] vernondcole commented on #51186
On a subsequent test run on a new VM without editing the Vagrantfile (i.e. bootstrapping Salt 2018.3.3) , the bevymaster VM runs correctly.

[2019-01-16 06:35] cmclaughlin commented on #14183
Thanks again for your patience. I took a look at my internal salt repo and I think I can finally provide a decent example.

In at least one place we have the problem we started the service manually before `service.running` was called, but didn't enable the service.

I've concluded:

* watch does not restart the service if it was already running, but not enabled.
* watch does restart the service if

[2019-01-16 10:00] wzlee opened #51188 "Authentication module threw global name 'MySQLdb' is not defined"
### Description of Issue/Question
user mysql auth fail...
### Setup
[code]
[code]
[code]
[code]
### Versions Report
[code]
[code]

[2019-01-16 10:35] jynolen commented on #51178
My bad sorry !
`Salt Version:
           Salt: 2018.3.3

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: 2.7.2
        libgit2: Not Installed
        libnacl: Not Installed
       M2Crypto: Not

[2019-01-16 11:03] doug-stratoscale commented on #50542
@garethgreenaway Yes I tested the fix with Mysql 8 based on repro in this issue and it now works.

[2019-01-16 12:10] jordiprats opened #51189 "conflicting python packages for salt-minion"
### Description of Issue/Question

salt-minion installation conflicts with an already installed app. Our workround was to change permissions for jinja2 since we cannot modify the installed app:

chown -R 700 /usr/lib/python2.7/dist-packages/jinja2

Is there any way to install saltstack isolated? I've found no reference online on how to actually do it

### Setup
We have installed salt-minion 2018.3

[2019-01-16 13:58] GMAzrael opened #51190 "Salt-cloud vmware.py Documentation Add"
### Description of Issue/Question
Salt documentation needs to add customization_spec to the list to select a customization profile. Users would not know how to ensure there vm is being provisioned with a customization without looking at the source code.

[2019-01-16 14:08] gtmanfred commented on #40515
perfect, thanks.

[2019-01-16 15:10] terminalmage commented on #51056
Yeah, I'm sorry about that. I am the one that added that feature, and to be honest I hadn't even considered a mixed environment containing both `file_roots` and `gitfs_remotes`. Oversight on my part, should have been documented better in the first place. Thanks for bringing this up, I'll get the docs updated.

[2019-01-16 15:58] baby-gnu opened #51192 "Test infrastructure should respect the root_dir and use properly isolated configuration trees"
### Description of Issue/Question

Hello.

Trying to develop #49140 for #14613 (and related #7883, #32578), I figured out that the test infrastructure does not define and use proper root trees.

1. the configuration is transplanted to a `root_dir` by `tests.integration.TestDaemon.transplant_configs`
   * every paths in the configuration files are prefixed with `/tmp/salt-tests-tmpdir/rootdir/`
2.

[2019-01-16 16:16] baby-gnu commented on #32578
Hello.

In preparation for the solution to this issue we need to fix #51192.

Regards

[2019-01-16 16:30] eric-anderton-at-sony commented on #27930
For anyone else that wound up here, I may have figured out what's going on.  The implementation of LocalClient (as of 2018.3.3) is deficient by design:

https://github.com/saltstack/salt/blob/v2018.3.3/salt/fileclient.py#L1041
[code]
So you can't get there from here.

[2019-01-16 17:25] littleski opened #51195 "fstab improperly escaped when spaces are used in options"
### Description of Issue/Question
This is similar to issue #27160 but in the options

### Setup
Basically, mounting a CIFS drive with a linux who joined an active directory. I am assuming that it should work with local group name with spaces inside too.
[code]

### Steps to Reproduce Issue
Running the state will properly mount the drive
[code]

But will not write a correct config to fstab ('\ ' in

[2019-01-16 18:52] terminalmage opened #51196 "Unused variable (possible bug) in boto_lambda state module"
While linting the codebase, I found that the `role_arn` variable in [this block of code](https://github.com/saltstack/salt/blob/3273bbd/salt/states/boto_lambda.py#L350-L356) is unused. The`options` dict instead specifies `Role` as `'role_arn'`, that is a quoted string instead of the variable name.

As I'm not familiar with this code, I am looping in @saltstack/team-boto for their input. It seems l

[2019-01-16 19:09] garethgreenaway commented on #51180
@TheCatFelix Thanks for the report.  This looks like it should be a fairly easy fix, we just need to test that `pgctnt` is valid, eg. not `None` before attempting to log.

[2019-01-16 19:16] garethgreenaway commented on #51181
@erenfro Thanks for the report.  Approving for a future feature addition.
@saltstack/team-ssh FYI.

[2019-01-16 19:25] garethgreenaway commented on #51189
@dmurphy18 Thoughts?

[2019-01-16 19:33] garethgreenaway commented on #51190
@GMAzrael Thanks for the report.  Can you point us at the location of the documentation that you're referring to and what version of Salt this documentation is for?

[2019-01-16 19:47] Ch3LL commented on #50854
verified this is working on v2019.2.0rc1

[2019-01-16 19:47] #50854 closed

[2019-01-16 19:54] garethgreenaway commented on #51192
@saltstack/team-core Thoughts?

[2019-01-16 20:12] garethgreenaway commented on #51186
@s0undt3ch Looks like this particular piece of code was added by you.  Any ideas?

[2019-01-16 20:15] GMAzrael commented on #51190
Sorry about that @garethgreenaway . Place I was discussing was https://docs.saltstack.com/en/latest/topics/cloud/vmware.html#profiles. Many configuration options are listed, but the Configuration_spec item is missing. If you want to use the `Customization: True` (which is default), you need to list a customization profile.

[2019-01-16 20:37] s0undt3ch commented on #51186
Might have missed an implementation. Please assign to me.

[2019-01-16 20:43] rochen-joshua commented on #49147
any progress here? we had a bunch more servers start doing this today, really starting to impact us here

[2019-01-16 20:49] waynew commented on #51192
I'm definitely a fan of the _idea_ - I don't know enough about the implications or implementation to be able to form a strong opinion. But generally speaking, I think it's good if tests can run using a specific directory.

[2019-01-16 21:00] waynew commented on #51178
@jynolen that's definitely in the works - we're definitely all for it (and we support installs on Python3), but our biggest challenge is that we have a not-insignificant userbase that's still using platforms that only have Python 2.7 (by default, at least).

We're currently working on a roadmap for when we're going to drop Python 2 support, since it's hitting EOL in January 2020.

---

I believe t

[2019-01-16 21:39] Poil commented on #50931
You also need to patch salt/runners/jobs.py.
And yes only on master side, no need to restart the master to be taken into account (I don't understand why but ...)

[2019-01-16 21:47] Ch3LL commented on #35598
yes please feel free to push a PR

[2019-01-16 21:53] Ch3LL commented on #40895
you would need to add it to the grains. for example here is adding manjaro linux which is a fork of arch: https://github.com/saltstack/salt/pull/27841

[2019-01-16 21:55] vangourd commented on #50931
I'll keep testing but my queries were taking in the order of minutes if they completed at all before the server would OOM crash.

With your patch I'm getting queries back almost immediately and so far no OOM issues.

I'll keep monitoring to see if anything pops up.  @Poil 👏 you rock

[2019-01-16 22:03] Ch3LL commented on #50679
yeah i think it would be good to add some detection to see which version you are on

[2019-01-16 22:12] Ch3LL commented on #51087
thanks for posting the error. It looks like your state just needs a couple of spaces. So from this:

[code]

to this:

[code]

i was able to replicate your issue only when location and contact were not in the correct spacing.

[2019-01-16 22:13] Ch3LL commented on #51092
we use https://github.com/saltstack/salt-pack to build our rpm.

@dmurphy18 is the README The only documentation for a user to get up to speed with salt-pack?

[2019-01-16 22:14] Ch3LL commented on #50932
yep :)

[2019-01-16 22:14] #50932 closed

[2019-01-16 22:53] Ch3LL commented on #51090
glancing at teh code here: https://github.com/saltstack/salt/blob/v2018.3.3/salt/output/__init__.py#L142

it looks like it would grab that option there,but i think this still would be considered a bug as state_output and output are different and should work together.

[2019-01-16 23:03] Ch3LL commented on #51070
thanks for clarifying and thanks for teh PR!

[2019-01-16 23:05] Ch3LL commented on #51078
do you have debug log settings turned on?that should show us more information

[2019-01-16 23:06] Ch3LL commented on #50634
thanks looks like @pirogoeth pushed in a PR for this so I will close here. Thanks @pirogoeth !

[2019-01-16 23:06] #50634 closed

[2019-01-16 23:19] Ch3LL commented on #51125
can you try to troubleshoot the salt-ssh call using the documentation here: https://docs.saltstack.com/en/latest/topics/ssh/#debugging-salt-ssh

as the docs state try to grab the exact salt-call command it is running and then tyr running that on the target system with `-ldebug` so we can see why its not loading.

my guess is when its running the which command its not finding it or when it runs `__

[2019-01-16 23:19] dmurphy18 commented on #51092
Currently yes, I have a task to write up a fuller document on how to build, etc.

Note for Python 3 https://github.com/saltstack/salt-pack-py3

And their is open-sourced how we have the nightly builds and tagged versions automated
https://github.com/saltstack/salt-auto-pack

see file_roots/auto_setup/autobuild, a bash script to kick it all off, it leverages orchestration and builds the platforms i

[2019-01-16 23:23] Ch3LL commented on #51127
it should encompass all master options if you set them in the map file

you can set them in either the cloud or map file. since those docs are specific to /etc/salt/cloud and map has its own documentation i think this is clear enough unless you see otherwise

[2019-01-16 23:33] Ch3LL commented on #50882
and do you have the salt time stamps to go along with those logs by chance?

[2019-01-16 23:34] Ch3LL commented on #50882
the salt debug log time stamps that is

[2019-01-16 23:35] Ch3LL commented on #39769
there is not any movement yet, please feel free to submit a PR

[2019-01-17 01:32] johnnybubonic opened #51208 "ValueError: No closing quotation for file.append on CentOS 6/7"
### Description of Issue/Question
(I am so sorry. I know CentOS 6 is old af.)

When applying a file.append execution (terminology?), a stack trace is produced:
(edit: i'm an idiot and was referencing a non-existent file, different error)

Seems like a regression to https://github.com/saltstack/salt/issues/2227.

CentOS 6:
[code]

CentOS 7:
[code]

### Setup
vim.sls:
[code]

.../vimrc.stub:
[code]

[2019-01-17 01:33] naveen-rasiah commented on #35592
One of the most 'in your face' features that should be added...but I'm guessing backwards compatibility limits this.

[2019-01-17 02:15] johnnybubonic commented on #51208
worth noting that the append state succeeds (and is successfully applied to minions) for /etc/bashrc with the following:

[code]

I haven't PoC'd, but shlex is probably choking on the multitude of escaped double-quote Lovecraftian horror in the vimrc.stub (line 7).

[2019-01-17 06:12] Poil commented on #51107
Hi,

It is a bad practice, user write services should never go in /run /lib but in /etc and should never been rewrited.
If need to overwrite an existent service, you should use an override configuration file /etc/systemd/system/myservice.service.d/override.conf.

Ref. https://askubuntu.com/questions/659267/how-do-i-override-or-configure-systemd-services

Best regards,

[2019-01-17 08:07] rlifshay commented on #51107
@dwoz, I'm not familiar enough with the internals of salt to know if there's a better way to do this than just looping through a list of paths to check. If that's all there is to it, or someone can point me in the right direction, then yes I can look into making a pull request.

@Poil, yes I am aware, however /etc is for custom services and for machine specific overrides. /lib is intended for soft

[2019-01-17 08:44] erlchamp opened #51210 "Missing dependency: 'requests' - cannot provision instances on AWS"
I tried to deploy the instances on AWS but I'm getting errors/warnings.

Failed to create instance using profile <function profile at 0x7f3137e4c2a8>, please check your configuration and also getting missing dependency, I am not sure if it is related.

### Description of Issue/Question

root@ip-172-31-18-244:~#salt-call state.apply test.infrastructure.aws.build_servers -l debug
[code]
[code]

[cod

[2019-01-17 09:16] sathieu opened #51211 "file_roots envs with slash leads to "No such file or directory: '/var/cache/salt/master/file_lists/roots/.foo/bar.w'"
### Description of Issue/Question
Using this master config (to workaround #48132):
[code]
Salt works incorrectly and logs:
[code]

### Setup
See above.

### Steps to Reproduce Issue
See above

### Versions Report
2018.3.3 with additionnal patches (#50417, #49987, #50626, #50768, #50783, but those are not related).

[2019-01-17 11:03] OrangeDog opened #51213 "Copy+paste errors in postgres docs"
In particluar, the `maintainance_db` parameter is documented incorrectly for most states (having been copied from `postgres_language`), but the whole set probably needs a look.

https://github.com/saltstack/salt/blob/b3c1be2/salt/states/postgres_privileges.py#L143

[2019-01-17 11:36] colttt opened #51214 "cmd.run command don't work"
### Description of Issue/Question

### Setup
the error happens in this config file:
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
[code]
the salt minion differ cause its a Debian stretch

[2019-01-17 11:48] johnnybubonic opened #51215 "Feature: Clarification on requisites/"depend" requisite type"
### Description of Issue/Question
I found the [requisites explanation](https://docs.saltstack.com/en/latest/ref/states/requisites.html) a little hard to follow. Mostly in that based on the explanation, I added a require for an sls and expected it **to be invoked** by the require argument rather than be a require*ment* for the state to be applied.

I suggest clarifying that point. (Take it with a g

[2019-01-17 11:58] xuhcc commented on #51125
`salt-call` output from the target system:

[code]

I also tried to run `salt-call` with `-ltrace` flag, but it did not show any new details about this error.

[2019-01-17 12:16] xuhcc commented on #51125
When I call functions from the `postgres` module directly, they seem to work, for example:

[code]

[2019-01-17 12:23] Martin819 opened #51216 "Salt 2018.3 fails to parse strings containing "{" or "}" symbols or "?" symbol"
### Description of Issue/Question

If a string containing "{" or "}" symbol or "?" symbol is included in a string in a pillar, Salt fails to parse it correctly and fails with:

[code]
or
[code]

### Setup
Pillar:
[code]

SLS file:
[code]

Changing `| yaml` to `| json` or `| tojson` didn't help.

### Steps to Reproduce Issue
Use provided files and apply state.

### Versions Report
[code]

[2019-01-17 12:39] misch42 commented on #51087
With community configured it also fails with:

myswitch:
----------
          ID: snmp_example
    Function: netsnmp.managed
      Result: False
     Comment: Cannot push new SNMP config:
              Cannot execute "load_template" on 192.168.88.240 as admin. Reason: Unable to render the Jinja config template snmp_config: 'dict object' has no attribute 'iteritems'!
              Configuration dis

[2019-01-17 12:58] OrangeDog opened #51217 "SCRAM-SHA-256 support for states.postgres_user"
Current implementation either sends and compares plaintext or an md5hash.
There's no way to send plaintext for the server to hash, because it also adds `UNENCRYPTED` to the query.

[2019-01-17 13:54] Kassec commented on #50253
Since upgrade to 2018.3.3+ds-2, we have this issue on production:

[2019-01-17 14:05] xenophonf commented on #51008
I'm having the same problem on Windows with Salt 2018.3.3.  `salt windows-minion cmd.run cd cwd='C:\'` returns `C:\` like one would expect, but `salt windows-minion cmd.run cd cwd='C:\' runas='.\local-user' password='password'` returns `c:\salt\bin`.  The same goes for cmd.run states that use `runas` and `runas_password`.

[2019-01-17 14:12] OrangeDog commented on #51217
Python 3 implementation of postgres' algorithm
[code]

[2019-01-17 14:34] damon-atkins commented on #50791
The master down/retry connect seems complex.   Should only be a few settings
master_retry_attempts = 0  (0 for ever)
master_retry_time_delay_adjustment_percent =10
master_retry_time_between_attempts = 300  # With a bit of doco saying its +/- 10% random interval i.e. 270 to 330

These values should encompass dns resolution, tcp connection time out, etc.

For example DNS resolution should perform th

[2019-01-17 14:46] metabsd opened #51219 "salt-api rest_cherrypy sslobj.do_handshake"
### Description of Issue/Question
I can not start the service properly. There seems to be a problem with the certificate.

### Setup
`/etc/salt/master.d/salt_api.conf`

[code]
I try with fullchain and without it. I also try a self-signed and a LetsEncrypt cert.

### Steps to Reproduce Issue
`salt-api -l debug`

[code]

### Versions Report

[code]

[2019-01-17 15:14] Ch3LL commented on #51075
if i'm understanding the initial issue correctly:

` No matching salt environment for environment 'master' found`

this is because in your minion config you have the environment set to master but you do not have that environment set in any of your file_roots or pillar_roots on your minion.

when you use --file-root and --pillar-root that specifies what your base environment file_root is, but you a

[2019-01-17 15:15] Ch3LL commented on #51055
thanks for pointing that out @cdalvaro
@c-wicklein does that look like a duplicate of your issue? If so i'll close here and we can monitor in the other issue.

[2019-01-17 16:06] Ch3LL commented on #47675
I was able to replicate the issue after the initial reporter verified he was using the new version of module.run. To verify do you have this set in your minion config?

[code]

the error you are seeing means its trying to load the state_id as a function which is the old usage of module.run.

also bump @isbm for my initial question in my comment above.

[2019-01-17 16:13] Ch3LL commented on #51092
thanks for the follow up information @dmurphy18

hopefully that helps you out @andyyumiao

also to note if you are just updating code for a module you can use the `sync_modules` https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.saltutil.html#salt.modules.saltutil.sync_modules

and add your fixes to salt://_modules and deploy with sync_modules and it will deploy the fix to all minio

[2019-01-17 16:16] Ch3LL commented on #51125
thanks for the additional information.

And what about `postgres.create_extension` can you call that?

[2019-01-17 16:20] Ch3LL commented on #51087
ping @mirceaulinic any chance you can take a look here?

[2019-01-17 16:40] odormond commented on #14183
@waynew I finally had time to come up with a streamlined setup of what we are doing here when the problem occurs. I'm attaching a [tarball](https://github.com/saltstack/salt/files/2769582/watch-onchanges-interaction-bug.tar.gz) that makes it 100% reproducible with the help of terraform and aws (only free tier resources are used). Running the `exhibit.sh` script will do the trick and it should be f

[2019-01-17 16:48] dmurphy18 commented on #51210
@erlchamp Salt 2018.3.3 was update to rely on the python-requests provided by the RHEL 7 OS
python-requests.noarch 2.6.0-1.el7_1. It should be should be available from versions of RHEL 7 since v7.1

[2019-01-17 16:50] alan-cugler commented on #51139
Alright, figured out if I go into the main master.conf and specify the setting `user: alan-cugler` This seemed to fix the issue.

[2019-01-17 16:50] #51139 closed

[2019-01-17 17:12] dwoz commented on #51208
@johnnybubonic Thanks for reporting this! I've confirmed the issue.

[2019-01-17 17:30] dwoz commented on #51211
@sathieu Thanks for reporting this and working on the fix!

[2019-01-17 17:32] dwoz commented on #51213
@OrangeDog Thanks for reporting this. Are you able to make a PR with the corrections?

[2019-01-17 17:46] OrangeDog commented on #51213
No, because I don't know what the correct documentation should be.

[2019-01-17 17:53] OrangeDog commented on #51217
I currently have a workaround using a custom state+module to check and update the password hash.

[2019-01-17 18:07] dwoz commented on #51214
@colttt thanks for reporting this! I've tested the 2018.3.3 tag and have confirmed this is an issue. I've also tested the latest 2018.3 branch and it is no longer an issue. The issue will be fixed in 2018.3.4.

[2019-01-17 18:09] dwoz commented on #51214
The patch for #50218 resolves this issue

[2019-01-17 18:15] thatch45 commented on #51215
I think some clarification in the docs would be optimal, but I am hesitant to make a new requisite when we have requisites that already work rather well. Additional closely related requisites seem to only add to user confusion.

[2019-01-17 19:53] c-wicklein commented on #51055
Both issues are related to problems with `runas` and how Salt manages user substitution, but the issues are not the same.  #51008 can be summarized as, "running `su -l` within Salt does a better job of getting the environment right than `su`, but it results in a change of directory which Salt doesn't manage".  #51055 issue can be summarized as, "Salt doesn't check which user it's running as proper

[2019-01-17 20:04] dwoz commented on #51216
@Martin819 Thanks for reporting the issue. I have been un-able to reproduce the problem. Here is my pillar file
[code]

And the test state file:

[code]

Are you able to try these and see if you get the same error? I'm guessing there is something different in your state or pillar.

[2019-01-17 20:07] dwoz commented on #51217
@OrangeDog Can you provide me with an example state that I can use to test this?

[2019-01-17 20:46] dwoz commented on #51219
@metabsd Thanks for reporting this. I've tested salt-api (2017.7.8) using a self signed certificate. I am able to connect via ssl without a problem.

Here is the script I used to generate the certificate:
[code]

[2019-01-17 20:50] astronouth7303 opened #51228 "Add Blessed way to override host selection policy"
### Description of Issue/Question

There's currently no documented way to override `salt.runners.virt._determine_host()` to set custom policies.

Possible use cases:

* Data center preferences
* Special hosts that should not be auto-assigned
* Incorporating signals besides just RAM
* Additional requirements (connectivity, special hardware, network proximity)

### Versions Report
Applies to all ver

[2019-01-17 20:51] Wilybald opened #51229 "Aws does not see aws instance"
### Description of Issue/Question
Hello, I have a problem with create and destroy instance of AWS.
If I try create instance so I get this error https://github.com/saltstack/salt/issues/39737
The error I tried to fixed by hemebond of post. Just on the 2790 of line.
`node = _get_node(instance_id=vm_['instance_id'], location=location)`
So create of part is fine now.
But If i destroy instances so I ge

[2019-01-17 21:00] waynew commented on #14183
@cmclaughlin Okay, so I discovered that you are definitely finding some unexpected behavior! It took a while for me to nail down exactly what's happening - I'm not sure if it's just a bug in our documentation, or if it's an actual bug.

What's happening here is kind of crazy.

If you remove the `enable: True`, or split it into

[code]

*Everything works* 🎉

The question you might have then is, "Bu

[2019-01-17 21:50] xenadmin commented on #40152
Is there any update to this? I'm currently building a PoC for our company and stumbled upon this error in the latest version of 2018.3.

[2019-01-17 21:50] xenadmin commented on #41653
Is there any update to this? I'm currently building a PoC for our company and stumbled upon this error in the latest version of 2018.3.

[2019-01-17 22:04] terminalmage commented on #51056
Documentation updated in https://github.com/saltstack/salt/pull/51231, closing this.

[2019-01-17 22:04] #51056 closed

[2019-01-17 22:06] bhperry commented on #6207
I still see this behavior from time to time on salt 2018.3.0

Salt syndic will just stop responding to the top-level master every once in a while. The syndic process is still running, and it logs nothing about this. Simply doesn't respond anymore. Only way I've found to fix it is to go onto the host and reboot the syndic process.

I was under the impression that you were supposed to have a salt-mi

[2019-01-17 23:58] gtmanfred commented on #40152
@saltstack/team-triage can you take a look at this please?

[2019-01-18 01:32] erlchamp commented on #51210
@dmurphy18 but I do have that package already installed

[code]

[2019-01-18 04:34] timwsuqld commented on #23886
I believe this is still broken

[2019-01-18 04:41] timwsuqld commented on #7179
This issue is still valid.

[2019-01-18 04:47] timwsuqld commented on #42580
/reopen

[2019-01-18 06:30] myii commented on #35398
I believe this issue needs to be reopened.

Here is another example of it breaking formulas (the issue and the PR that resolved it):

* https://github.com/saltstack-formulas/postgres-formula/issues/241
* https://github.com/saltstack-formulas/postgres-formula/pull/244

Please also note [my comment regarding the fix](https://github.com/saltstack-formulas/postgres-formula/issues/241#issuecomment-4547

[2019-01-18 09:02] rokasz commented on #29764
output_loglevel: quiet in cmd.run does not work even in the latest stable 2018.3.3 version - all the output is still shown. When will this bug be fixed? It is a critical one, sensitive information is shown in the output and there is no way to hide it

[2019-01-18 09:54] MadsRC commented on #46163
@ReinReiner030 I realize that I'm pretty late to the game, but I just fixed an identical problem for a client of mine (Hotfix, so I haven't digged into the actual source), but essentially it was due to an incompatible urlllib3 module being installed on the system.

Running "pip uninstall urllib3" removed version 1.24.1 from /usr/local/lib/python2.7/dist-packages, after which the Salt-Minion proces

[2019-01-18 10:01] Martin819 commented on #51216
Hi @dwoz, you are right. I was accessing the values in different place of the state as well and it wasn't escaped correctly with the yaml filter. It works now. I'm sorry for wrong report.

Have a nice day.

[2019-01-18 10:01] #51216 closed

[2019-01-18 12:09] OrangeDog commented on #51217
@dwoz not sure what you mean by example state, but see linked commit.

You can see from saltstack's source code that the `states.postgres_user` state is only able to compare and set unencrypted or MD5 passwords. To use SCRAM passwords, PostgreSQL 10 or higher is required.

[2019-01-18 12:48] DickerDackel opened #51241 "Nested includes fail when addressing the state with '/' instead of '.'"
### Description of Issue/Question

I have a state directory containing various tools for our multi-tier application.
Each tier has its own sls file that includes a handful of states that are specific to that tier.
All tier-SLS-files are included by init.sls and chosen by matching grains that identify the tiers.

If I apply the state directory (and thus the init.sls), everything works fine.
If I ap

[2019-01-18 12:51] DickerDackel commented on #51241
PS: including the local state with

[code]

also works.  Only the relative to the local directory `.ze-file` notation fails.

[2019-01-18 13:31] guettli opened #51244 "salt-ssh takes much longer than it thinks"
### Description of Issue/Question

salt-ssh takes much longer than it thinks:

[code]

Big difference:

**31s vs 1m3s**

### Steps to Reproduce Issue

run:

    time salt-ssh ....

### Versions Report
[code]

[2019-01-18 13:32] gtmanfred commented on #42580
@saltstack/team-triage can you reopen this for @timwsuqld

[2019-01-18 14:42] #50254 closed

[2019-01-18 14:43] #50219 closed

[2019-01-18 14:44] Ch3LL commented on #49221
@mirceaulinic bump on this issue for the questions above

[2019-01-18 14:51] Ch3LL commented on #51228
will approve as a feature request thanks

[2019-01-18 14:55] Ch3LL commented on #51229
ping @saltstack/team-cloud any ideas here?

[2019-01-18 15:22] Ch3LL commented on #51241
the reason this is occurring is because we split on `.` instead of `/` here:

https://github.com/saltstack/salt/blob/develop/salt/state.py#L3618

my understanding is that you are suppose to call a state file like `testcase.substate` instead of `testcase/substate` . ping @saltstack/team-core should we be allowing users to call states with `/` if so this will be an easy fix.

[2019-01-18 15:23] Ch3LL commented on #51241
including the state.py link for 2018.3.3 specifically instead of develop

https://github.com/saltstack/salt/blob/v2018.3.3/salt/state.py#L3530

[2019-01-18 15:32] waynew commented on #40152
✋ I'll take a look at this

[2019-01-18 15:34] waynew commented on #51215
I can take a look and see if I can come up with some clarification for the docs 🙂

[2019-01-18 16:45] dpkirchner commented on #51065
Sorry for the slow reply -- I'd be using the interface name in multiple places, sysctl was just an example. I'd totally understand if this ends up being out of scope as something to workaround a systemd issue.

[2019-01-18 16:59] xuhcc commented on #51125
@Ch3LL

Yes, `postgres.create_extension` works too.

[2019-01-18 17:23] waynew commented on #51229
Hi @Wilybald thanks for the report! Does https://github.com/saltstack/salt/issues/39737#issuecomment-426353931 work for you? I'm not familiar with this module at all, but it would appear that something is definitely missing somewhere!

[2019-01-18 17:28] alan-cugler commented on #51127
I disagree on the docs handling. If Saltstack is formatting their docs to keep each configuration file separate, then their needs to be redundancy to re-explain how that same variable/setting/flag should be formatted and used in the new configuration file.

But that is exactly what is not happening here. All over the salt docs they mention a variable/setting/flag show an example of it and then lis

[2019-01-18 17:31] alan-cugler commented on #51127
I am happy to do it myself. Though, it may take time since I haven't done so before, and I am a bit slow on getting through all your procedure docs for contributing.

[2019-01-18 17:56] Wilybald commented on #51229
Yes, but it works only for create instances.

[2019-01-18 18:15] waynew commented on #51241
**TL;DR**

Don't use `state.apply some/state/file`, use `state.apply some.state.file`, and everything will be fine!

---

Okay, so this looks like correct, but perhaps unexpected behavior if you're not familiar with how imports in Python work.

In [the docs for `state.apply`](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.state.html#salt.modules.state.apply_)

When you're callin

[2019-01-18 18:15] #51241 closed

[2019-01-18 18:23] cmclaughlin commented on #14183
@waynew can you give an overview what it's intended behavior here?

[2019-01-18 20:13] waynew commented on #40152
@xenadmin If you're using the formula, it looks like you should be able to run `hash_known_hosts: False` to the pillar, and you can provide a non-standard port. I'm looking into this a bit more to make sure I've got my head wrapped around what's going on here.

[2019-01-18 20:17] ndobbs commented on #49917
Ran into this issue on a 14.04 machine with my salt PKI env, this set of commands just saved my bacon, thanks @TOoSmOotH !

[2019-01-18 20:57] xenadmin commented on #40152
@waynew Thanks for your reply. I tried that already, but sadly this doesn't suffice my issue :-( See below example:
[code]
The problem is, that I have two issues with the salt.states.ssh_known_hosts (https://docs.saltstack.com/en/latest/ref/states/all/salt.states.ssh_known_hosts.html) state. One is the port we taplk about in this issue, but additionally the sha265 fingerprint doesn't work. This is

[2019-01-18 21:01] garethgreenaway commented on #23886
2018.3 PR: https://github.com/saltstack/salt/pull/50358

[2019-01-18 22:40] waynew commented on #9183
Looks like a couple of PRs failed to actually make their way to completion, I'm going to reopen this issue, since it looks like the functionality is still absent... from file.absent :trollface:

[2019-01-18 22:53] waynew commented on #40152
@xenadmin Okay, yeah I dug into this and now I see what the problem is. The tl;dr version is that if you're wanting to use a non-standard port, just pass `hash_known_hosts: False` [you don't gain a whole lot from hashing, apparently, anyway](https://security.stackexchange.com/a/56283/3053).

It's not exactly an error in Salt, so much as Salt is not doing The Wrong Thing(tm) with ssh-keyscan, of wh

[2019-01-18 23:13] Ch3LL commented on #18981
@mitar looks like you posted unstale in your latest update to make sure the bot does not close the issue.

Can you verify that this issue still exists today and which branches, and which exact code line you are refering to?

[2019-01-19 03:43] mitar commented on #18981
Yes, I think this is still a problem. `repl` is now escaped, but this means that if I use backreferences in my `repl` string, escaping will escape them, making escaped `repl` never to be found.

[2019-01-19 04:58] johnnybubonic opened #51248 ""[WARNING ] The file_roots parameter is not properly formatted, using defaults""
### Description of Issue/Question
I keep getting `[WARNING ] The file_roots parameter is not properly formatted, using defaults` in the systemd journal on my master and I can't seem to figure out where it's coming from/why it's happening...

What's weird is I get it even when I comment out the file_roots i have in there (as shown below).

### Setup

[code]
I've confirmed it parses to valid YAML wi

[2019-01-19 09:42] DickerDackel commented on #51241
Ah!  I was (for whatever reason) convinced, that the '.' and '/' notation are synonymous, but your explanation from the python point of view makes absolute sense.  I'll change our best practice recommendation and existing wrapper scripts to the dot-notation.

Thank you :)

[2019-01-19 13:28] yosnoop opened #51249 "salt.utils.dns.lookup fails with host, nslookup method when servers specified"
### Description of Issue/Question
When salt.utils.dns.lookup executed with _host_ or _nslookup_ method and _servers_ option specified, the following error occurs.
`Passed invalid arguments: _multi_srvr() got multiple values for keyword argument 'server'.`

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Clean install on Arch Linux. No additional con

[2019-01-19 19:56] johnnybubonic commented on #51248
i think i figured it out -

it was my pillar_roots that was malformatted. this:

[code]

works. the difference is that pillar_roots is now a dict instead of a list, BUT the error message was reporting it being an issue with file_roots (despite none even being defined explicitly)!

[2019-01-19 19:58] johnnybubonic commented on #51248
(whoops, forgot to scrub)

anyways, i think i found what caused it, but the error message is incorrect. it was pillar_roots, not file_roots (i'm assuming the pillar_roots are parsed with the same engine as file_roots, hence the error?)

this works:
[code]

being that pillar_roots is now a dict instead of a list.

[2019-01-19 21:22] gitbrianb opened #51251 "startup_states sls_list for Windows minions not launching"
### Description of Issue/Question
I've tried several variants of using the "sls_list" for launching my Windows minions in AWS, but can't seem to make any work. I see a lot of documentation for running in highstates, which may apply for my needs down the road, but right now I'm merely trying to get it to change the hostname at launch time and of course later I would like it to join the domain as we

[2019-01-20 00:57] dwoz commented on #51196
@terminalmage I'm certain the intent was to use the `role_arn` variable where it's a string. The `Role` argument for the aws api should be the actual role, not a string value of `'role_arn'`. I am guessing this is a feature that isn't used enough for a bug to get filed.

[2019-01-20 01:13] dwoz commented on #51196
@terminalmage I looked at this and it's definitely misleading. I do not think it is a bug. The dictionary in question is a mapping of option names to variable names. The variable gets pulled out of function's local variables [here](https://github.com/saltstack/salt/blob/3273bbd/salt/states/boto_lambda.py#L361). To fix the linter this method would likely need to be re-factored so it doesn't use `lo

[2019-01-20 15:02] terminalmage commented on #51196
Oh, good call I hadn't noticed the usage of `locals()`, yuck. I'll see what I can do here.

[2019-01-20 20:46] firelizzard18 commented on #41371
Why is pillar configuration so different from file server configuration?

[2019-01-20 20:52] firelizzard18 opened #51254 "Allow git pillar files to be referenced by pillar roots top files"
### Description of Feature

I want git pillar to behave like the gitfs fileserver backend. E.g. I have pillar files in a git pillar, but no top file; I have a top file in a pillar root that references pillar files in the git pillar.

- `/srv/pillar`
  - `top.sls`
- `git@example.com:my/pillar.git`
  - `shared/pillar.sls`

[code]

[2019-01-21 01:22] pradeeepst opened #51255 "git.latest smudge filter failed to update lfs tracked objects"
### Description of Issue/Question
git.latest is failed to download the latest version or the file tracked by LFS.
1. First download of LFS tracked file works.
2. Other text file are updated as per repo.
ERROR:
Downloading test_binary_file (24 B)
              Error downloading object: test_binary_file (4cf7033): Smudge error: Error downloading test_binary_file (4cf7033562783a50dc185a66bd535eb66002

[2019-01-21 02:43] Silvenga opened #51256 "Salt API wheel_async Returns 500"
### Description of Issue/Question

When calling the salt-api using the `wheel_async` client, the salt api always returns a 500 error. However, a new jobs appears to be created and eventually returns (with `UNKNOWN` as the user):

[code]

Using the standard `wheel` client returns no error, except two jobs are created - one with user `UNKNOWN` and one with the correct user. I'm not sure if that's al

[2019-01-21 07:44] Arjun765 opened #51257 "memusage beacon fails with "dict_keys object does not support indexing""
### Description of Issue/Question

### Setup

[code]

### Steps to Reproduce Issue

memusage beacon is not working on Ubuntu 18.04. Getting the following error

[code]
### Versions Report
[code]

[2019-01-21 08:20] thusoy opened #51258 "Unicode exception in saltmaster maintenance thread in 2019.2 RC1"
### Description of Issue/Question

On the current RC I get the follow in the saltmaster log:

[code]
This is a fresh saltmaster install with no other minions than the saltmaster itself added yet.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
I think you only need to watch saltmaster logs after having run highstate.

[2019-01-21 10:04] thusoy commented on #37646
I'm able to see this consistently on all versions of salt from 2016.11 to latest RC if the message to be serialized contains a circular reference. Other encoders like json.dumps are able to detect this and raise an exception that accurately describes the problem, msgpack crashes with the error described above.

[2019-01-21 10:38] jynolen commented on #51178
Ok then, let's wait for your py3 roadmap ;)
I was just to have some clues about py3

Thanks :)

[2019-01-21 10:38] #51178 closed

[2019-01-21 10:40] mruepp opened #51259 "Featurereq: Extend K8s Module Node Management Capa"
### Description of Issue/Question
Add
salt.modules.kubernetes.node_drain
.node_cordon
.node_uncordon

So we are able to orchestrate Lifecycle and Highstates on empty nodes.

[2019-01-21 12:06] OrangeDog opened #51260 "Avoid `su` where possible"
Using `su` to implement `runas` can waste quite a lot of time as a full user session is initialised, and every command for every state is run independently. I'm noticing this particularly when using the postgres states.

Is it feasible to (perhaps configurably) prefer `sudo` (without `-i`) or even a fork-and-setuid instead, for a lightweight solution.

[2019-01-21 13:15] xenadmin commented on #40152
Hi and thanks for your analysis. I did not understand all of it, but I hope I did understand most of it. But I think this is heading in the wrong direction maybe.
To clarify my use-case: I use saltstack for only a few days now. I'm building a PoC for the Zabbix formula, to take central configuration management control of our Zabbix Proxys. Part of that is, that on each Zabbix Proxy there is a file

[2019-01-21 16:40] c-wicklein commented on #51260
For flavor, have a look at #51005 and maybe some of the referenced code.  Faster/lighter is obviously better than slower/heavier all other things equal, but the semantic of "run this command as this user" can be tricky to get right in a platform independent way without resorting to su.  There's a significant different between "run this command with some specific UID" and "run this command as this

[2019-01-21 17:23] alan-cugler opened #51263 "orchestrations parallel_runners module not recognizing profile"
### Description of Issue/Question
Hi, I don't understand the format I need in the orchestration state to get parallel_runners to recognize the profile file. I can get these runners working individually in a regular orchestration state.
### Setup
The provider configuration
[code]
The profile configuration
[code]
[code]
### Steps to Reproduce Issue
[code]
### Versions Report
[code]
### Resources
* [

[2019-01-21 19:44] OrangeDog opened #51266 "TypeError: 'bool' object is not iterable when operating on schedule"
When using the schedule module (e.g. applying `schedule.present` or running `schedule.enable`) a `TypeError` is thrown. The function returns successfully, but the schedule has not been persisted.
[code]
Current contents of /etc/salt/minion.d/_schedule.conf:
[code]
Versions report:
[code]

[2019-01-21 21:22] thusoy opened #51268 "Misleading warning with salt-run from non-root saltmaster"
### Description of Issue/Question
My saltmaster runs under a dedicated user with a noIogin shell, and when I recently upgraded from 2016.11 to the latest RC, commands like `sudo salt-run fileserver.update` started issuing lots of warnings:

[code]
The same happens if I run `sudo -u saltmaster salt-run fileserver.update`, not sure which one is technically more correct for a non-root saltmaster. The

[2019-01-21 21:50] jmhierro opened #51269 "Targeting multiple grains in Salt minions using API"
### Description of Issue/Question
In our infrastructure, we set multiples grains on the minion including an "environment" and "app" grain. When we use the cli, we can get the correct minions using:

`salt -C "G@app:middle_tier_1 and G@environment:dev" test.ping`

But if we try to use the cherrypy api, only got a result if set only one target like:

`[{"client":"local","tgt_type":"grain","fun":"tes

[2019-01-22 00:49] iwillflytothemoon opened #51270 "AmazonLinux GitFS PyGit2 AttributeError: '_pygit2.Reference' object has no attribute 'get_object'"
### Description of Issue/Question
I am using amazonlinux:2018.03 docker image and trying to setup salt-master with gitfs. I already installed all necessary libraries and no error found after restart salt-master service. But when I run salt-run fileserver.file_list I encountered this error:
[code]
### Setup
/etc/salt/master
[code]
/etc/salt/master.d/gitfs.conf
[code]

### Steps to Reproduce Issue
1

[2019-01-22 05:20] max-arnold commented on #51269
In the command line you used the `-C` flag, which means compound matching. Try using the same type for API: `"tgt_type": "compound"`.

The full list of possible `tgt_type` values can be found here: https://docs.saltstack.com/en/latest/ref/clients/index.html#salt.client.LocalClient.cmd

[2019-01-22 10:16] damon-atkins commented on #51260
People want to run commands and have the users path, and limits and application settings.  And that fair for them to want things this way.

[2019-01-22 10:31] prakyathr-uc commented on #48465
I got same error. The fix provided works perfectly for python 2 and 3. @garethgreenaway when will the code be fixed? I checked the postgres module code in version 2019.1 RC and found that the issue is not yet fixed.