[2018-08-24 03:44] #38507 closed

[2018-08-24 06:51] #38544 closed

[2018-08-24 06:52] Poil commented on #49246
Thanks

[2018-08-24 06:52] #49246 closed

[2018-08-24 07:29] Poil commented on #48914
Also EPEL provide a newer version of python-msgpack, and conflict with Salt's one.

https://bugzilla.redhat.com/show_bug.cgi?id=1599068
Next Epel package : https://koji.fedoraproject.org/koji/buildinfo?buildID=1136121

[2018-08-24 07:36] Poil commented on #48914
And another conflict:

[code]

[2018-08-24 07:45] Poil commented on #48914
Also it should be nice to provide python34-pygit2==0.26.4

[2018-08-24 08:00] Poil commented on #48914
I think the best way should be to use python packages from SCL or to provide a full python environment that have no dependency with the OS packages

[2018-08-24 08:07] Hitamashi commented on #48065
@gtmanfred Sorry for bring up this issue. May I know if you guys will bring this feature to Salt 2017.7?

[2018-08-24 08:08] Poil commented on #48914
But I can confirm that with Python34 I have not this problem : #40673

[2018-08-24 08:08] Poil commented on #40673
It's working with package from http://repo.saltstack.com/py3/redhat/7/x86_64/latest/

[2018-08-24 08:16] Poil commented on #48914
Also, I'll try to package Salt with SCL Python 3.7, I haven't made RPM packages for years but we'll see

[2018-08-24 08:32] Poil commented on #29906
I've tried to add "runner_returns: True" but I'm unable to view the job via "jobs.active"
I'm running an orchestrate that calls two salt.runner and two salt.state. The job become visible when the orchestrate calls the salt.state.

[2018-08-24 12:04] Poil opened #49307 "git.latest not pulling"
Hi,

I've got this code
[code]

* my_app.git.rev is : HEAD
* When I switch the branch, it switch locally but it's no pulling the remote origin

What I understand of the documentation, update_head: True (default value) should have done this pull (sync remote Head with local one)

I am right ? Is it a bug ?

Best regards

[2018-08-24 12:13] terminalmage commented on #49009
This is a good catch, I've opened https://github.com/saltstack/salt/pull/49308 for this.

If you'd like to attempt a more efficient run at this function, we'd appreciate the pull request.

[2018-08-24 12:33] Poil commented on #49307
ok, I've to write the branch name in rev, I don't understand why but it's working.

Sorry for the noise

[2018-08-24 12:33] #49307 closed

[2018-08-24 12:45] jettero commented on #39420
Oh, I forgot about this. I don't really use the dual environments for anything and I forgot how to even do it, much less where the archaeology left off. I wonder if I could reproduce it in the 2008.x trees.

[2018-08-24 12:56] mirceaulinic commented on #39669
Closing as these options actually exist (shame on me): https://docs.saltstack.com/en/latest/ref/configuration/master.html#file-ignore-regex and https://docs.saltstack.com/en/latest/ref/configuration/master.html#file-ignore-glob for whoever will bump in this again.

[2018-08-24 12:56] #39669 closed

[2018-08-24 13:50] Ch3LL commented on #49281
thanks for the PR! Since the PR resolves the issue i will go ahead and close this issue and we can keep the conversation in the PR but please let me know if you need to re-open this :)

[2018-08-24 13:50] #49281 closed

[2018-08-24 14:11] Ch3LL commented on #49295
im able to replicate this. it looks like in the code we are getting the functions argspec and it only passes the kwargs that the function is expecting to be kwargs and passes the rest as args. If you reverse the two dst and src calls you can get it working for now, but I think we should support being able to send it in the wrong order since we supported that previously.

ping @isbm

[2018-08-24 14:12] gtmanfred commented on #40673
So, is this still an issue? or can it be closed?

[2018-08-24 14:13] gtmanfred commented on #48065
We do not backport features, only bug fixes.  so you will need to upgrade to get the new feature.

[2018-08-24 14:31] Poil commented on #40673
Issue with Python 2.7.5

[2018-08-24 14:36] djsly commented on #45339
I'm seeing the same error with 2018.3.2... and after that, the master returns the following error

[code]

DEBUG OUTPUT
[code]

[code]

[2018-08-24 14:37] gtmanfred commented on #40673
I was unable to replicate it on centos 7 with python 2.7.5 here

https://github.com/saltstack/salt/issues/40673#issuecomment-293963770

[2018-08-24 14:51] #38489 closed

[2018-08-24 14:54] Ch3LL commented on #49296
looks like i'm able to replicate this and i bisected it to this commit 1b8ea9e9d914ca8769aa581d351cd2842b043215 which is this PR https://github.com/saltstack/salt/pull/42876

[2018-08-24 15:27] Ch3LL commented on #49297
possible duplciate of https://github.com/saltstack/salt/issues/48507 which was fixed in https://github.com/saltstack/salt/pull/48561 ?

[2018-08-24 15:32] Ch3LL commented on #49300
im having a hard time replicating this. ping @saltstack/team-cloud any ideas here?

[2018-08-24 15:35] Ch3LL commented on #49301
ping @saltstack/team-core any ideas here on how we can limit this?

[2018-08-24 15:58] Ch3LL commented on #49304
i am having a hard time replicating this and tried multiple times, ping @saltstack/team-cloud any ideas here?

[2018-08-24 16:01] gtmanfred commented on #49304
@Ch3LL can you put a unicode character in your PROMPT and run it again, and see if that causes an issue?

also, possibly put a unicode character in the prompt on the remote machine.

[2018-08-24 16:12] markuskramerIgitt commented on #19137
I am working on the msi installer for 18.3.2.

What is needed from my part to "integrate" the msi installer be into Jenkins?

[2018-08-24 16:18] rallytime commented on #49089
@dmurphy18 Can you fix this for `2018.3.4` please?

[2018-08-24 16:18] dwoz commented on #46644
This is dependent on the work being done here:

https://github.com/saltstack/salt-jenkins/issues/995

[2018-08-24 16:30] thatch45 commented on #19137
@twangboy what is the status here?

[2018-08-24 16:43] mchugh19 commented on #30973
This request can likely be closed with the addition of the saltcheck module.

[2018-08-24 16:51] djsly commented on #45339
the CPU and RAM is good on the salt-master,  running with 8CPU 24Gig

I'm currently at 103 minions, when I drop to 90 minions, I get the error way less.

The content of the state is simple
[code]

[2018-08-24 16:52] rallytime commented on #46644
@dwoz Yes, correct. Once that is done, we'll need to change the deps for the Py3 windows package to use tornado 5.

[2018-08-24 17:47] rallytime commented on #30973
@mchugh19 Yeah I think so.

@ssplatt What do you say?

[2018-08-24 18:36] djsly commented on #45339
salt-master is configured with 20 worker_threads, the rest of the settings are default.

[2018-08-24 19:15] rallytime commented on #48694
@whytewolf OK, after some more research here, it is intentional that using `salt-run grains.cache` no longer returns cached grains. The `tgt` option is necessary, beginning with the 2017.7.5 release.

The behavior change happened in PR #45588, which was back-ported to the 2017.7 branch in PR #45751. This was done in order to fix the bug reported in #45489.

In order to be helpful to users, I added

[2018-08-24 19:16] rallytime commented on #45489
This is fixed now, beginning with the 2017.7.5 and 2018.3.0 releases.

[2018-08-24 19:16] #45489 closed

[2018-08-24 19:26] dwoz commented on #48880
This test failure is related:

https://jenkinsci.saltstack.com/job/2018.3/job/salt-windows-2016-py2/lastCompletedBuild/testReport/integration.modules.test_state/StateModuleTest/test_state_sls_unicode_characters_cmd_output/

[2018-08-24 21:14] mchugh19 commented on #44553
With the merge of #49201, this can be closed.

[2018-08-24 21:25] #44553 closed

[2018-08-24 21:58] ssplatt commented on #30973
I don't know what that is but sure

[2018-08-24 22:51] #38050 closed

[2018-08-24 23:39] alandrees opened #49326 "iptables reject-with won't work with pyobjects"
### Description of Issue/Question
When using the pyobjects renderer, the Iptables.append parameter for the --reject-with argument wont' work due to syntax issues.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
    Iptables.append('reject_ipv4_traffic',
                    table='filter',
                    family='ipv4',
                    chain

[2018-08-25 00:51] #38524 closed

[2018-08-25 01:00] twangboy commented on #49234
The issue is fixed in the above PR. I still need to write some tests for it.

[2018-08-25 01:00] #49234 closed

[2018-08-25 01:03] twangboy commented on #48828
The above PR has the fix in it. Here are the state files that I was using. I had to modify them from the ones you had. I'm not sure if it was the `\\` or the trailing `\` at the end of the `-path.home`:
[code]
[code]
[code]

[2018-08-25 10:12] e-user opened #49328 "Invalid pkg.list_upgrades parsing on Fedora 28 Workstation"
### Description of Issue/Question
Similar to issue https://github.com/saltstack/salt/issues/47717 (which was fixed), running `salt-call --local pkg.list_upgrades` on Fedora 28 Workstation produces the following broken result in my current setup:
[code]

The bare output from the command run by Salt, `dnf --quiet list upgrades`, looks like this:
[code]

### Setup
This is being run from a masterless

[2018-08-25 14:34] sastorsl commented on #39951
Still an issue.

I.e.

[code]
[code]
Could perhaps modify the error message so that it says "/tmp/foo: file not found - directory does not exist"

[2018-08-25 14:35] sastorsl opened #49329 "State module file.append with makedirs=True creates directories on test=True"
### Description of Issue/Question
State module file.append with makedirs=True creates directories on test=True
Would expect nothing to change on a test=True.

Somewhat related to https://github.com/saltstack/salt/issues/39951

### Setup
Trying to append to a file which does not exist.
This becomes an issue in a larger state where the preceding step creates the directory and file and you run test=T

[2018-08-25 15:08] suykerbuyk commented on #29222
I believe the definition of rsync://repo.saltstack.com/saltstack_pkgrepo_full is missing
the latest RHEL release: https://repo.saltstack.com/yum/redhat/7/x86_64/2018.3/

[2018-08-25 15:14] jf commented on #48923
I am getting the same message as well on a fresh install off of the bionic install cd (`ubuntu-18.04.1-live-server-amd64.iso` from https://www.ubuntu.com/download/server)

It seems that the list of entries is way shorter than for 16.04:
[code]

[2018-08-25 17:30] #38575 closed

[2018-08-25 18:30] #38493 closed

[2018-08-25 19:59] gtmanfred commented on #48923
@dmurphy18 how do you feel about adding a not on the repo.saltstack.com page saying that universe needs to be enabled?

[2018-08-25 21:30] #38519 closed

[2018-08-25 21:30] #38525 closed

[2018-08-25 23:25] erwindon opened #49332 "test.provider(s) gives the wrong answer for module vsphere"
### Description of Issue/Question
The function `test.providers` returns value `"__init__"` as answer for module `"vsphere"`. The same happens for function `test.provider vsphere`.

### Setup
default system with a master and a minion.

### Steps to Reproduce Issue
issue `salt '*' test.provider vsphere`
See that the answer is `"__init__"` instead of `"vsphere"`.
This is the only module that returns

[2018-08-26 03:30] alandrees commented on #49326
After some further digging, I found an interesting new syntax for kwargs, and a way around this if you are using pyobjects:

https://docs.python.org/2/tutorial/controlflow.html#unpacking-argument-lists

If you look at the second example, it illustrates a use of the ** operator, which will pass a dictionary to a function as it's kwargs, and thus can pass things such as 'to-destination' and 'reject-

[2018-08-26 03:30] #49326 closed

[2018-08-26 09:00] #38450 closed

[2018-08-26 18:00] #38547 closed

[2018-08-26 20:45] erwindon opened #49335 "virtual modules shadow/service have unaccessible online documentation"
### Description of Issue
The documentation for both the virtual module `shadow` and the execution module `shadow` have the same page url. Therefore the online documentation for execution module `shadow` cannot be accessed.
The same happens for virtual module `service`.
It does not happen for any of the other virtual modules.

### Setup
none, existing saltstack.com website only

### Steps to Reprod

[2018-08-26 21:00] #38576 closed

[2018-08-26 21:00] #38580 closed

[2018-08-27 00:01] terminalmage commented on #49013
This was done in https://github.com/saltstack/salt/pull/49325, and in the process I also changed the logic for how we handle `merge_if_exists`.

[2018-08-27 09:49] #6857 closed

[2018-08-27 10:07] bdrung commented on #20335
This issue is still not solved.

Workaround: Check for the presence of the `minion_master.pub` file (created by the starting salt-minion service) before calling salt-call.

[2018-08-27 11:49] msciciel commented on #49009
I'll try to fix this function.

[2018-08-27 13:38] terminalmage commented on #49155
OK, then this is probably a long-since-fixed upstream bug in GitPython.

[2018-08-27 13:41] Ch3LL commented on #49150
yeah we would love a PR :) That would be great

[2018-08-27 13:42] Ch3LL commented on #48914
ping @dmurphy18 can you take a look here?

[2018-08-27 14:11] bergmannf commented on #47870
I get a related problem it seems: even though for my the `saltutil.sync_modules` call does *not* produce errors but copies the files over:

[code]

However when running an `orchestration` the modules can not be used - even though they are available on the minions in `/var/cache/salt/minion/extmods/modules/`:

[code]

I also verified that I can import the module in `python3` by running `import mymo

[2018-08-27 14:14] gtmanfred commented on #42449
This should be fixed in the next release.

[2018-08-27 14:41] terminalmage commented on #48717
This is not a git_pillar bug per se, but rather a quirk of how PyYAML works. When you use dynamic git_pillar environments, you have to put a placeholder in the Pillar top file, so that the Pillar compiler looks for pillar SLS files in the proper pillar enviroment. For example:

[code]

The issue here is that when you pass a pillarenv of `1.0` to `state.apply`, even though we normalize the environm

[2018-08-27 14:45] terminalmage commented on #48717
I've update the git_pillar docs in https://github.com/saltstack/salt/pull/49341 to quote the ``{{ saltenv }}` placeholder to hopefully avoid this confusion in the future.

[2018-08-27 14:49] do3meli commented on #36707
it is still the case that highstates with test=true are quite slow on FreeBSD. Therefore i would like to keep this bug open.

[2018-08-27 15:07] gtmanfred commented on #49304
So, i think it needs to be in the `PS1` which is what the vt.py terminal stuff looks for when trying to match when it can put in a new command, because bash has returned.

[code]

Try setting it to something like

[code]

[2018-08-27 15:10] gtmanfred commented on #49304
You should also be able to use this reactor and be able to trigger bootstrapping an instance that is already online.

https://github.com/saltstack-formulas/ec2-autoscale-reactor/blob/master/ec2-autoscale/init.sls

[2018-08-27 15:31] bouazizkhaled commented on #47383
Hello i have the same issue, has the fix been released ?

[2018-08-27 15:36] gtmanfred commented on #47383
Which issue? 2018.3.2 is the latest release, so the ip_to_host/expand_host issue is fixed already.

the other "issue" is the expected behavior, and won't change until fluorine, when you can better specify which version of python to use on specific salt-ssh minions.

[2018-08-27 15:41] dmurphy18 commented on #47870
FYI there is a separate version of Salt built to run on Python 3.  Please check then you have the correct version of Salt installed since the dependencies for the version of Salt differ between Python 2.7 and Python 3, for Debian 9, Redhat 7 and Ubuntu 16.04 and 18.04.

@dosercz On the page http://repo.saltstack.com/#debian, the label 'Debian 9 (stretch) PY3' is the correct one to use.

[2018-08-27 15:43] dosercz commented on #47870
@dmurphy18 I have used correct version for PY3

[2018-08-27 15:45] dmurphy18 commented on #48923
Actually we should probably add a statement along the lines of 'standard OS Install, that is, for a regular OS install without modification of normally supported / installed OS repositories'.

That should cover 'universe' in Ubuntu's case, but also people removing 'updates' or 'extras' in Redhat's case too, which some customers have done in the past.

[2018-08-27 15:46] gtmanfred commented on #48923
makes sense to me :+1:

[2018-08-27 15:48] dmurphy18 commented on #48923
@Ch3LL Can we add a general statement to repo.saltstack.com with similar verbiage as outlined above, about a standard install ?

[2018-08-27 15:48] dmurphy18 commented on #29222
@UtahDave Can you check out this rsync issue ?

[2018-08-27 15:58] bouazizkhaled commented on #47383
I have python interpreter on minion which is not installed in the default PATH so is it possible to set it in the roster file ?
Actually in master i have a python3 and in the minion the default one is python 2 so i whant to specify a diffrent one which is python3

  ERROR: Python version error. Recommendation(s) follow:
        - Install Python 2.6/2.7 Salt dependencies on the Salt SSH
          m

[2018-08-27 16:14] twangboy commented on #35890
I think this is still a problem

[2018-08-27 16:27] garethgreenaway commented on #49335
@erwindon Thanks for the report.

[2018-08-27 16:34] twangboy commented on #49220
I would recommend adding a startup script to the machine that launches firefox instead.

On Windows 10, that script would be in `C:\ProgramData\Microsoft\Windows\Start Menu\Programs\StartUp`.

You could also point to your script in the registry at : `HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Run`

Or you could use Group policy to define a script that runs at startup.

[2018-08-27 16:36] sastorsl commented on #49329
Looking at file.py in https://github.com/saltstack/salt/blob/2018.3.3/salt/states/file.py it seems like it's still an issue. Time depending I might look into a PR.

[2018-08-27 16:40] garethgreenaway commented on #49332
@erwindon Thanks for the report.  This seems to be fixed in the most recent 2018.3, so will be available in 2018.3.3.  I'll see if I can track down the PR that fixed it.

[2018-08-27 16:43] basepi commented on #20335
@gtmanfred pinging you so someone current is participating in this issue.

[2018-08-27 16:47] gtmanfred commented on #20335
If you set a `random_startup_delay` does it solve the problem?  https://docs.saltstack.com/en/latest/ref/configuration/minion.html#random-startup-delay

That way both won't try to connect to the master at the same time?

[2018-08-27 17:49] #41214 closed

[2018-08-27 19:40] petrhosek opened #49348 "salt-minion $PATH has changed in 2018.3.2 on macOS breaking Homebrew"
### Description of Issue/Question

We're using Salt on macOS, installed from the [official package](https://docs.saltstack.com/en/latest/topics/installation/osx.html#installation-from-the-official-saltstack-repository). We're also using Homebrew for managing packages on these machines. After upgrading to 2018.3.2, we noticed that Homebrew stopped working with the following error messages:

[code]

[2018-08-27 21:04] BenjaminSchiborr commented on #48717
Thanks for the explanation. That makes a lot of sense!

[2018-08-27 21:07] dmurphy18 commented on #48923
@Ch3LL Possible additional sentence after initial sentence: _This page contains instructions to download and install the latest release of SaltStack._

**Assumes installing Salt on a platform with a standard OS install, that is, for a regular OS install without removal of normally installed / supported OS repositories: For example: _updates_ on Redhat, _universe_ on Ubuntu.**

All in favor of bett

[2018-08-27 21:56] f3flight opened #49350 "2016.3 - config.get master returns only 1 value from master list"
### Description of Issue/Question
`salt-call config.get master` will only return 1 value from master: section even if it's a list
### Setup
configure `master:` section in minion config to have 2 values as a list:
[code]
### Steps to Reproduce Issue
set config like above, run `salt-call config.get master`

### Versions Report
found on 2016.3

Note: custom config options are correctly returned as li

[2018-08-27 22:09] gtmanfred commented on #49350
Correct, this is by design, it returns the master the minion is connected to for that call.

[2018-08-27 22:09] #49350 closed

[2018-08-27 22:15] gtmanfred commented on #49348
@twangboy was this a change that we made?

I can't think of anything we would have changed for this.

Thanks!
Daniel

[2018-08-27 22:58] f3flight commented on #49350
Sow gow to get a list of masters from config?

[2018-08-27 23:09] garethgreenaway commented on #49332
@erwindon I checked the output with 2018.3.2 and I wasn't able to reproduce the error.    Can you check what version of `pyVmomi` you have installed?

[2018-08-27 23:34] gtmanfred commented on #49350
I am not sure that you can, the reason it gets narrowed down to 1 is so that it knows which one to connect to.

Are you using a failover or an active-active connection?

[2018-08-27 23:57] dmurphy18 commented on #49156
This should be resolved in the next point release for branch 2018.3

[2018-08-28 00:07] erwindon commented on #49332
@garethgreenaway I have not installed `pyVmomi` or any other vsphere tools.

[2018-08-28 00:10] jf commented on #48923
Just to be clear, universe is __not__ enabled by default on Ubuntu 18.04 a.k.a. Bionic. Otherwise, this sounds alright, and really should be the case. If you make modifications to a standard install, you should be prepared to deal with the repercussions.

[2018-08-28 00:10] garethgreenaway commented on #49332
@erwindon Ahh that is likely the problem and appears to be a bug when the __virtual__ function for a module does not return True allowing the module to be loaded.  Without the pyVmomi library I also see the the same results.

[2018-08-28 00:51] gtmanfred commented on #48923
I just installed with the ubuntu server image, and i got this.

[code]

[2018-08-28 01:11] gtmanfred commented on #48923
And here is the etc/apt/sources.list from the root tarball form the cloud-images on ubuntu's website.

[code]

Which also has universe enabled.

[2018-08-28 03:09] f3flight commented on #49350
Using failover mode. I'm trying to find the easiest way to fix the problem with a specific 3rd party module code which needs to get a list of masters as defined in config, but only gets one.

[2018-08-28 03:13] pcdummy commented on #48923
I just did another install in a KVM Machine, no "multiverse" in /etc/apt/sources.list .

I did not install any other components than base system.

[2018-08-28 04:37] jf commented on #48923
pretty much the same here! I didnt install any additional snaps. Again, see https://github.com/saltstack/salt/issues/48923#issuecomment-415976034

[2018-08-28 06:48] MTecknology commented on #46388
@dynek Could you try PR #49355 and tell me if it resolves your issue?

[2018-08-28 07:26] dynek commented on #46388
@MTecknology as far as I was able to test it doesn't change anything

[2018-08-28 07:31] TheLastProject opened #49357 "salt-cloud ignores make_master in map if master already exists"
### Description of Issue/Question
When having a map file containing a make_master: True statement, other nodes are only given this node as master node if the master node does not already exists.

### Setup
[code]

### Steps to Reproduce Issue
Run salt-cloud with previously mentioned .map and notice that node-0 and node-1 get deployed with no master if master-0 already exists at the time of running

[2018-08-28 07:41] MTecknology commented on #46388
Could you share how you performed the test?
I tried your two sls blocks and had success on both.

[2018-08-28 08:26] bdrung commented on #20335
A random delay will not solve the issue, it will just make the issue appear more random (in case the delay was too short).

[2018-08-28 08:57] 1ricardo commented on #49297
Hi @Ch3LL,
I think this is something else, I created my own patch to fix that issue.
I am not sure if this is the best solution, but for now it's working.

Here is diff for **/usr/lib/python2.7/site-packages/salt/modules/mysql.py**

[code]

[2018-08-28 09:39] leromarinvit opened #49358 "Infinite recursion when prerequiring state also prerequires other state which indirectly requires applied state"
### Description of Issue/Question
When applying (or testing) a state which is prerequired by a state which also prerequires another state which indirectly requires the state being applied, salt-call exits with an exception indicating infinite recursion.

### Setup
salt_test.sls:
[code]

The error doesn't occur if `other_prerequired` isn't prerequired in `prerequiring`. It also doesn't occur if the

[2018-08-28 10:33] leromarinvit commented on #49358
This simplified version shows the same behavior:
[code]

[2018-08-28 12:31] gczuczy commented on #20010
I think this perfectly makes sense in every scenario where the top sls is automatically generated. There are parts of an infrastructure that triggers generation into the top sls but might not have a salt state actually for it. The plugin example above was a very good one.

Personally I could also use such a feature.

[2018-08-28 12:42] gtmanfred commented on #49350
yeah, the way failover mode works is that it sets just one in the `master` for opts, and that is the one that it connects to, so you won't get the full list from that option, have you tried dumping the whole opts dictionary or the grains.items, and checking if the full list is specified in there?

try `config.get master_list` or `local_masters`.

[2018-08-28 12:44] gtmanfred commented on #20335
how about using `startup_states` instead of calling the salt-call on boot, that way the salt-minion will just run a highstate when it starts?

[2018-08-28 12:47] sam0104 opened #49359 "salt-cloud does not maintain state"
### Description of Issue/Question
salt-cloud does not maintain state. Is it possible to maintain state for salt-cloud deployment without write custom modules .
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
salt states , salt-cloud for Vmware
### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
Generic question for supporting

[2018-08-28 12:49] gtmanfred commented on #49357
That is correct, salt-cloud only bootstraps the server if it is created in the salt-cloud command, it does not do anything if that server.  If nothing is going to happen with that machine, then it is stripped from the map file, and not referenced, so there is no master to pull out and plugin for the master of the other nodes.

I can mark this as a feature request.

[2018-08-28 12:53] gtmanfred commented on #49358
This appears to be a duplicate of https://github.com/saltstack/salt/issues/20143

[2018-08-28 12:57] leromarinvit commented on #49358
That's certainly possible (I don't know anything about salt's internals), but there are no failing states involved in my case.

[2018-08-28 12:59] gtmanfred commented on #49358
Sure, there are also these other times this same issue has been reported, could you take a look at them? because some of them look like they are fixed.

https://github.com/saltstack/salt/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+recursion+prereq

[2018-08-28 13:08] konstest opened #49360 "Problem into partition.get_id execution module"
### Description of Issue/Question
Get text of error message into output partition.get_id:
[code]
Needs fix this [string of code](https://github.com/saltstack/salt/blob/develop/salt/modules/parted.py#L304) on:
    cmd = 'sfdisk --part-type {0} {1}'.format(device, minor)

[2018-08-28 13:09] gtmanfred commented on #49359
What do you mean by "maintain state"?

Do you want to update the cloud servers after they have been built?

[2018-08-28 13:17] gtmanfred commented on #49360
so, it may not be that simple, you may have to check which version of sfdisk is running and when this changed.

But if you wouldn't mind submitting that as a PR, we would greatly appreciate it.

Thanks!
Daniel

[2018-08-28 13:17] #49013 closed

[2018-08-28 13:32] #30973 closed

[2018-08-28 14:02] Ch3LL commented on #36707
@do3meli if you want to push your changes we can get some more review and opinions on the PR for you.

[2018-08-28 14:34] chschmitt opened #49369 "env_order ignored regarding pillar_roots"
### Description of Issue/Question
I am trying to set up a deterministic merging of multiple pillar environments using a single (pillar) top file.

- `base` environment: regular pillars
- `alt` environment: pillars to selectively override the regular pillar values

The pillar values are merged, but not in the right order (ignoring env_order, see below).

### Setup
[code]
[code]
[code]
[code]
### St

[2018-08-28 14:38] chschmitt commented on #48473
@garethgreenaway Can we now move this issue forward?

[2018-08-28 14:46] basepi commented on #20010
@gtmanfred Pinging you so a current salt employee is on this thread.

[2018-08-28 15:29] bdrung commented on #20335
As previously discussed: Using `startup_states: highstate` in our minion config is not the solution, because we want to run the highstate only on system boot, but not on every `salt-minion` daemon restart.

[2018-08-28 15:34] gtmanfred commented on #20335
Yeah, i am not sure that you are going to get around this race condition, unless you use a reactor, and trigger the first highstate from the master, the first time the minion connects after it's key has been accepted.

[2018-08-28 15:54] twangboy commented on #19137
The MSI code is at https://github.com/saltstack/salt-windows-msi

I'll need to try building it and test the installer. Then open some issues there on what's needed. I'll talk to the ops guys about how to get it into jenkins.

[2018-08-28 16:08] Ch3LL commented on #49304
hmm i've been trying for the last 30 minutes on multiple versions and it just keeps holding here:

[code]

can you build a VM? i'm wondiner if there is an issue with aws, although i dont see anything in their status website, but i can't get past this point to test the issue

[2018-08-28 16:43] gtmanfred commented on #38907
@nicholasmhughes can you help here?

Thanks!
Daniel

[2018-08-28 16:58] nicholasmhughes commented on #38907
@sam0104 , this is a very old issue and references a few problems. What "it" are looking for an update on?

If it's the inability to stand up instances without public IPs, please see this [comment](https://github.com/saltstack/salt/issues/44886#issuecomment-374796819). Basically, the workaround is to set `bootstrap_interface: private` for anything that won't have a public IP.

Also, please note th

[2018-08-28 17:00] devopsprosiva commented on #31907
I'm hitting the same issue in 2018.3.2.

[2018-08-28 17:30] twangboy commented on #49348
Actually, the postinstall script is adding `BIN_DIR` and `SBIN_DIR` to the `/etc/paths.d/salt` file. Both of those are missing from the paths you're showing for both versions. You should have `/opt/salt/bin` and `/usr/local/sbin` as well.

[2018-08-28 17:35] twangboy commented on #49348
I'm not seeing this behavior in my installer. I would look at your `paths` file and in the `paths.d` directory to see what may be going on. Maybe run the following to refresh the path
[code]

[2018-08-28 17:36] dmurphy18 commented on #48923
@pcdummy @iffy @gtmanfred
Have to believe that this is a bug introduced by Ubuntu 18.,04.1 since cannot believe that the other regular repositories have been removed without notice on Ubuntu, noting that others on the net asking the same questions about where is universe and multiverse gone to.

As a work-around, the repositories can be added by the following:
sudo add-apt-repository universe
sudo

[2018-08-28 18:00] #48717 closed

[2018-08-28 18:12] twangboy commented on #48608
The above PR should fix this issue. It will be in 2017.7.9 and 2018.3.4 releases most likely.

[2018-08-28 18:38] cavepopo commented on #31907
Same here :+1:

[2018-08-28 18:41] #31362 closed

[2018-08-28 19:44] dmurphy18 commented on #48923
Bug in Ubuntu describing this issue, https://bugs.launchpad.net/subiquity/+bug/1783129

Hence we should wait for Ubuntu's fix.  Note link contains work-around for 18.04.1 LTS

[2018-08-28 20:07] sam0104 commented on #49359
yes similar to Terraform .

[2018-08-28 20:13] sam0104 commented on #49359
yes something like Terraform state.  Which managed infrastructure and configuration  used to map real world resources to configuration, keep track of metadata, and to improve performance for large infrastructures. Also can be used for roll back

[2018-08-28 20:15] gtmanfred commented on #49359
See https://github.com/saltstack/salt/issues/49208

[2018-08-28 20:15] #49359 closed

[2018-08-28 20:42] shware100 opened #49381 "wait_for_event fails to match custom ids formatted like jids"
### Description of Issue/Question
When using jid-like identifiers as the for the "id_list" of a wait_for_event the events never match.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
simple_wait_for_event.sls:
[code]
### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
Run the simple_wait_for_event:
salt-run state.orch simple

[2018-08-28 20:53] adambarnett52 commented on #46667
Hi

I cannot give an image ( NDA/Security ) but i am happy to help debug.
I had a machine last week that i could reproduce  this 100% of the time on every salt run

Thanks
Adam

[2018-08-28 20:53] rallytime commented on #49269
@terminalmage Can you take a look at this one when you get a moment?

[2018-08-28 21:02] seanjnkns opened #49382 "onfail requisite always triggers when combined with other requisites"
### Description of Issue/Question
If using
[code]
No matter what happens with the SLS/state it's "watching", it'll always trigger as if it failed even if all the require, require_in, etc. are successful.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report

[2018-08-28 21:04] pauldalewilliams commented on #45825
This is actually a bigger issue than what @philpep fixed.  You can't use any filetype with the SELinux modules or states on CentOS 6 due to `_validate_filetype()` rejecting the filetypes required by CentOS 6.  My guess is we could probably resolve it by allowing the same filetypes with a leading - as possible values in the `_SELINUX_FILETYPES` dictionary at [Line 31 of selinux.py](https://github.c

[2018-08-28 21:15] BenjaminSchiborr opened #49384 "Requiring an SLS only requires states inside SLS"
### Description of Issue/Question
When requiring an SLS through a state I would expect that everything in that state is executed beforehand. This is currently **not** the case.

This ticket is to determine whether or not this is wanted and if this is the case to ensure it is documented.

### Setup
Assume the following state. It includes the sls "required_state".

[code]

The state in the sls below

[2018-08-28 21:54] e-user commented on #49328
@garethgreenaway Good question. Should be easy to set up a container with F27 and test it. I can try if I get around to it, if it helps!

[2018-08-29 04:39] MTecknology commented on #46388
I took a closer look. I believe this is happening within [_parse_settings_eth()](https://github.com/saltstack/salt/blob/develop/salt/modules/debian_ip.py#L1369). When def_addrfam is 'inet6', the 'proto' option gets assigned to iface_data['inet6']. The logic in this function needs to change, but it could take some time to work out.

[2018-08-29 07:29] Poil opened #49392 "hosts not replacing existing entry"
### Description of Issue/Question
When using host.present, if changing the IP address, a second entry is created and the old one is not removed.
In /etc/hosts only the first entry is taken into account, so the change is not taken into account.

### Setup
[code]

### Versions Report
[code]

[2018-08-29 07:58] #49249 closed

[2018-08-29 08:11] Poil opened #49393 "file.directory recurse not always changing perms"
### Description of Issue/Question

### Setup
[code]

### Steps to Reproduce Issue
* Initial permissions
[code]
* Running state.apply, no changes
[code]

* Changing manually the include directory permissions
[code]
* Running state.apply, permissions are set correctly
[code]

[code]

### Versions Report
[code]

[2018-08-29 09:03] damon-atkins commented on #46667
What has recently changes, e.g. salt version, patches etc.  Is it one server or lots of servers?  I assume your using ssh-salt.  Instead of  `crontab -l`   try `/usr/bin/time /usr/bin/true`

[2018-08-29 09:42] bdrung commented on #20335
That doesn't work for our use-case. We have stateless systems that need to run the highstate after every reboot. So only running the highstate after the key has been accepted is not enough.

[2018-08-29 09:45] leromarinvit commented on #49358
I've looked at these now (I found some even before opening this issue), but I don't think any of them is the same problem (of course the root cause might still be the same or related). Most seem to involve failing states (e.g. #46762,  #38879) or explicitly defined recursion (e.g. #44323), and those that don't should be fixed in 2018.3.2 (#14190, #14190, #11717).

[2018-08-29 11:04] dpkkumar01 commented on #49224
Thanks for your guidance. I have made the setup and tested couple of functionalities. it is working fine.

Now i want to use cp.get_file and cp.push commands from my Main master to syndic minion servers directly which is not working. Is there any way to do this??

[2018-08-29 13:33] #49150 closed

[2018-08-29 13:42] dosercz commented on #47870
I can try it again with the newest version but I have no time to test it right now.

[2018-08-29 13:49] bergmannf commented on #47870
I could fix the problem I had with `salt.exceptions.SaltRenderError: Jinja variable 'salt.utils.templates.AliasedLoader object' has no attribute 'mymodule'` - the problem was that I had imports between `_modules/*.py` files.

It seems with `python2` this still worked, but in `python3` I had to move the `_module/shared.py` file to `_utils/shared.py` and replace all imports and call-sites with `__ut

[2018-08-29 14:00] leromarinvit commented on #49358
While searching for workarounds for this issue, I discovered that the following also crashes with the same stack trace. This looks like it could be related to #15171, but again, that should already be fixed. Should I open another issue or is this related?

salt_test/onfail.sls:
[code]
Run with `salt-call state.sls_id something_else salt_test.onfail` or `salt-call state.sls salt_test.onfail`.

[2018-08-29 14:06] sam0104 commented on #48245
any update on this .

[2018-08-29 14:12] gtmanfred commented on #48245
That is something that you will have to ask the enterprise team as you talk to them.  It is not something that i am aware of in enterprise, but i don't work with salt enterprise on a daily basis.

[2018-08-29 14:15] adambarnett52 commented on #46667
This has happened since upgrading to 2017.7.4
I am running the salt minion and it is  crontab state that is causing it, when it runs something like this

[code]

[2018-08-29 14:49] rallytime commented on #48245
@sam0104 Are you working with someone in sales? They should be able to help you out with that question regarding salt enterprise.

[2018-08-29 15:19] rickh563 commented on #48792
See PR https://github.com/saltstack/salt/pull/49399

[2018-08-29 15:27] #26842 closed

[2018-08-29 16:27] claudekenni opened #49403 "2018.3.2 broke the servicenow module"
### Description of Issue/Question
Servicenow Module is not working anymore in 2018.3.2

### Steps to Reproduce Issue
[code]
### Versions Report
[code]

[2018-08-29 16:27] cyrilgdn opened #49404 "sqs_events: SQS messages processed before reactor engine is ready"
### Description of Issue/Question

See also: https://groups.google.com/forum/#!topic/salt-users/tAm-c-Cs5ss

We are using the sqs_events engine but we are losing messages.
When Salt is starting, sqs_events engine is ready and starts to send events before the reactor engines is properly started.

I also test to sleep a bit at the beginning of the ``start`` function of the sqs_events engine.
With th

[2018-08-29 16:30] claudekenni commented on #49403
It still works on our Production Salt Master with 2017.7

[2018-08-29 16:32] claudekenni commented on #49403
Differences between the Module:

[code]

[2018-08-29 17:27] #38614 closed

[2018-08-29 17:27] #38632 closed

[2018-08-29 18:16] #47685 closed

[2018-08-29 18:27] #38624 closed

[2018-08-29 19:02] peter-held commented on #37853
Why are you closing the issue ?
The problem still exists.

Please use the above zip file in order to reproduce the problem.

[2018-08-29 19:03] peter-held commented on #37855
Why are you closing the issue ?
The problem still exists.

Please use the above formulas in order to reproduce the problem.

[2018-08-29 19:07] #45014 closed

[2018-08-29 19:08] #45012 closed

[2018-08-29 19:50] #49016 closed

[2018-08-29 19:50] #47235 closed

[2018-08-29 19:54] rallytime opened #49409 "Neon Deprecation Removals Epic"
This issue is created to track the work to remove deprecated code that was marked for removal in `Neon`. Issues created for this task will be tied back to this epic.

[2018-08-29 19:57] rallytime opened #49410 "Handle deprecation notices in docker execution module for Neon release"
- [x] salt/modules/dockermod.py

[2018-08-29 19:59] rallytime opened #49412 "Handle deprecated code in ssh execution module for Neon release"
- [x] salt/modules/ssh.py

[2018-08-29 20:04] terminalmage commented on #49269
Fixed in https://github.com/saltstack/salt/pull/49408

[2018-08-29 20:04] rallytime opened #49413 "Handle deprecated code in boto modules for Neon release"
- [ ] salt/modules/boto_vpc.py
- [x] salt/modules/boto_route53.py

[2018-08-29 20:07] rallytime opened #49414 "Handle deprecated glance module for Neon release"
- [ ] salt/modules/glance.py

The glance module has been replaced with glanceng.py.

Don't forget to remove the autodoc files + references, as well as the stale doc files on the doc build server.

[2018-08-29 20:09] rallytime opened #49415 "Handle deprecated code in firewalld files for Neon release"
- [x] salt/modules/firewalld.py
- [x] salt/states/firewalld.py

[2018-08-29 20:11] rallytime opened #49416 "Handle deprecated code in test execution module for Neon release"
- [x] salt/modules/test.py

Make sure you alias the function name so it's usable for people moving forward. This makes things more friendly.

[2018-08-29 20:12] rallytime opened #49417 "Handle code deprecations in heat files for Neon release"
- [ ] salt/modules/heat.py
- [ ] salt/states/heat.py

[2018-08-29 20:14] rallytime opened #49418 "Handle code deprecations in pkg-related files for Neon release"
- [ ] salt/modules/aptpkg.py
- [ ] salt/states/pkgrepo.py

[2018-08-29 20:17] rallytime opened #49419 "Handle deprecated keystone module"
- [x] salt/modules/keystone.py

The keystone module has been replaced with keystoneng.py.

Don't forget to remove the autodoc files + references, as well as the stale doc files on the doc build server.

[2018-08-29 20:27] #22569 closed

[2018-08-29 20:27] #36349 closed

[2018-08-29 20:28] rallytime opened #49420 "Handle deprecated code references in mdata grains module for Neon"
- [ ] salt/grains/mdata.py

[2018-08-29 20:29] rallytime opened #49421 "Handle deprecated code in win_servermanager state for Neon"
- [x] salt/states/win_servermanager.py

[2018-08-29 20:31] rallytime opened #49422 "Handle deprecated code in cmd state for Neon release"
- [ ] salt/states/cmd.py

[2018-08-29 20:33] rallytime opened #49423 "Handle deprecated nova cloud module for Neon release"
- [ ] salt/cloud/clouds/nova.py

The nova cloud module has been replaced with openstack.py.

Don't forget to remove the autodoc files + references, as well as the stale doc files on the doc build server.

[2018-08-29 20:34] rallytime opened #49424 "Handle deprecated code in vault files for Neon release"
- [ ] salt/sdb/vault.py

[2018-08-29 20:35] dfragazi opened #49425 "archive.extracted fails when using non-salt-master secondary source"
### Description of Issue/Question
Setting the source field to have more than one source in case the primary is unavailable. The second source in this case is a web server (Windows Server 2003 with Apache24). The target system is also a web server (Windows Server 2008 R2 with Apache 24).  Both servers are running Salt 2016.3.6. The Salt-Master is 2016.11.6 Once the command is executed and a few min

[2018-08-29 20:36] rallytime opened #49426 "Handle fileserver deprecations for Neon release"
- [ ] salt/fileserver/hgfs.py
- [ ] salt/fileserver/svnfs.py

[2018-08-29 20:52] terminalmage commented on #39420
@aarnaud no.

[2018-08-29 20:58] rallytime opened #49427 "Handle code deprecations in nacl utils file for Neon release"
- [ ] salt/utils/nacl.py

[2018-08-29 20:58] rallytime opened #49428 "Handle jinja filter deprecation notices for Neon release"
- [ ] salt/utils/data.py
- [ ] salt/utils/hashutils.py
- [ ] salt/utils/stringutils.py
- [ ] salt/utils/jinja.py

[2018-08-29 21:00] rallytime opened #49429 "Handle deprecated code in auth functions for Neon release"
- [ ] salt/utils/minions.py
- [ ] salt/auth/__init__.py:

[2018-08-29 21:02] rallytime opened #49430 "Handle deprecated neutron module for Neon release"
- [ ] salt/utils/openstack/neutron.py

The neutron module has been replaced with neutronng.py. Anything relying on the neutron utils module must be addressed.

Don't forget to remove the autodoc files + references, as well as the stale doc files on the doc build server.

[2018-08-29 21:07] terminalmage commented on #47628
I see no requisites in the example provided.

[2018-08-29 21:11] rallytime opened #49431 "Handle deprecated code in masterapi file for Neon release"
- [ ] salt/daemons/masterapi.py

[2018-08-29 21:12] rallytime opened #49432 "Handle RAET deprecation for Neon release"
- [ ] salt/daemons/flo/__init__.py

[2018-08-29 21:15] rallytime opened #49433 "Handle code deprecations in config files for event settings for Neon"
- [x] salt/config/__init__.py

[2018-08-30 09:59] vquiering opened #49436 "in pillar, check for file existence on minion"
### Description of Issue/Question
Is it possible to check in a pillar for a directory / file on the minion? It seems that both `salt['cmd.retcode']('test -d /path/to/dir')` and `salt['file.directory_exists']('/path/to/dir')` checks the master for existence of the directory / file.

### Setup
I'm using the apache-formula with `apache.vhosts.standard`.

    apache:
      sites:
    {%- for domain in

[2018-08-30 10:52] #31606 closed

[2018-08-30 11:59] leromarinvit commented on #49358
In case anyone else runs into this, my workaround is to basically fake what `prereq` does with "check" states - e.g. copy the state that would be prerequired and change it to apply to a dummy target (e.g. a copy of the file that's supposed to be changed), and then use `onchanges` together with `require_in` instead of `prereq`. Of course, this solution won't work for states where you can't easily c

[2018-08-30 12:15] markododa opened #49438 "salt-cloud fails to query openstack"
### Description of Issue/Question
Querying openstack doesn't work, (salt-cloud -Q)
Listing sizes and images works just fine

### Setup
This is the config file:

openstack_provider:
  minion:
    master: salt
    master_type: str
  driver: openstack
  region_name: RegionOne
  auth:
    username: 'admin'
    password: admin
    project_name: 'admin'
    auth_url: 'http://192.168.80.16:5000'

### Ste

[2018-08-30 13:05] #49269 closed

[2018-08-30 13:29] jaggura opened #49439 "new groups do not get created"
### Description of Issue/Question
I have a new state file that had many changes to try to get groups configured into the Linux OS.  I can get my users added from a similar set-up but not groups.  I added the salt.log.error call to confirm I entered the state file and I have confirmed the logic does print 'here'.

What else do I need to consider to get the groups created?  I confirmed spacing, no t

[2018-08-30 13:38] gtmanfred commented on #49381
This is probably yaml idiosyncrasies, you have a number, so it is converted to an integer, try quoting it.

[code]

[2018-08-30 13:41] #38672 closed

[2018-08-30 13:41] #40262 closed

[2018-08-30 13:51] gtmanfred commented on #49384
Include does not physically put the state inside of another state, the yaml needs to be processed, and it is run after requisites.

If you want it run before, you need to explicitly require it, or actually put the state into the file by importing it using jinja.

[code]

Unless you do it this way, that state is not actually inside of the required_state.sls, it is just telling the state system to i

[2018-08-30 13:53] gtmanfred commented on #49382
Yup, that looks like a bug with how onfail is handled.

[2018-08-30 14:50] mirceaulinic commented on #48973
No idea, I've never use multi master myself in this context.
The error looks similar to the one from https://github.com/saltstack/salt/issues/47695 so try upgrading to 2018.3.3 to check if that's true and fixed.

[2018-08-30 15:03] omegarus commented on #48973
@mirceaulinic Then 2018.3.3 will be released ?

[2018-08-30 15:08] Ch3LL commented on #35756
ping @terminalmage do you have any ideas for @pauldamian 's question?

[2018-08-30 15:14] Ch3LL commented on #49224
if i remember correctly the file you are trying to copy would also need to be on the syndic in order to work as it does not transfer the file to the syndic master

[2018-08-30 15:32] rallytime commented on #48973
We are working on getting 2018.3.3 released right now, just working out some final bugs.

[2018-08-30 15:38] vangourd opened #49450 "Jobs.Last_Run Cache Failure"
### Description of Issue/Question
These failures appear to be intermittent and occur after a job is more than a few minutes old.
[code]
I noticed it occurring in my API calls

### Steps to Reproduce Issue
1. Run a **salt-run** `jobs.last_run` command on master for a specific function `grains.items` as an example
No corresponding output from `/var/log/salt/master` , `/var/log/salt/api`

### Version

[2018-08-30 15:46] omegarus commented on #48973
I will check @mirceaulinic suggestion after 2018.3.3 released.
Thanks.

[2018-08-30 16:04] #49357 closed

[2018-08-30 16:28] gtmanfred opened #49452 "[python3.7] remove usage of collections.abc stuff from the collections shim"
### Description of Issue/Question
Implement changes for https://bugs.python.org/issue25988

[code]

[2018-08-30 16:47] Ch3LL commented on #37853
thanks for bumping this for me @peter-held

You will just need to update your states:

[code]

[code]

If you print the full jinja context with the following:

[code]

You will see the following:

[code]

so you need to pass `this.settings`.

[2018-08-30 16:52] #38652 closed

[2018-08-30 17:53] garethgreenaway commented on #49403
@claudekenni Thanks for the report.  With 2018.3.x there was a big effort to make everything Unicode compliant, it appears that perhaps the ServiceNOW API does not like receiving Unicode strings.

[2018-08-30 18:00] garethgreenaway commented on #49393
I believe this is a similar problem that was reported in https://github.com/saltstack/salt/issues/48336 and  fixed in https://github.com/saltstack/salt/pull/48399.

[2018-08-30 18:08] peter-held commented on #37853
Yes, this is what I'm doing at the moment.

Still, I would like to pass the entire 'this' not just only 'this.settings', because I also need other fields from 'this'.

So, the problem is, why is not working with:
    - defaults:
      	this: {{ this }}

Thank you.

[2018-08-30 20:03] ava-dylang commented on #46159
Work around for systems with an old libssh2 (you can check with `apt-cache policy libssh2-1`, I hear version 1.7 or better isneeded)
<sup>Building on https://github.com/saltstack/salt/issues/46159#issuecomment-368035358</sup>

Get and build libssh2 1.8.0 (latest at time of writing)
[code]
when your running your libgit2 applications, overload LD_LIBRARY_PATH like
[code]

[2018-08-30 20:06] ericrasmussen commented on #49238
Can someone take a look at https://github.com/saltstack/salt/compare/develop...ericrasmussen:update-a2dismod?expand=1 and let me know what changes are needed?

[2018-08-30 20:52] #33232 closed

[2018-08-30 22:59] jaggura commented on #49439
It has to be something with /srv/salt versus /srv/pillar.  When I put this code in /srv/salt path it updates the server successfully.  When I put it in /srv/pillar, it executes because I see the log output, but does not update the server.

susemgr:/srv/pillar/groups # cat init.sls
freedog_group:
  group.present:
    - name: freedog
    - gid: 9988
    - system: True

addgroup_cmd:
  cmd.run:
    -

[2018-08-30 23:27] sam0104 commented on #48245
It is more over generic question for Salt open source and Enterprise  Yes we are in touch with Salt sales team

[2018-08-31 00:08] rickh563 commented on #49425
ZD-2809

[2018-08-31 01:38] MTecknology commented on #46388
@dynek Could you try again with PR #49462?

[2018-08-31 03:53] anitakrueger commented on #47539
@Ch3LL @DmitryKuzmenko is there any chance someone could look at this please?
I've tried to set `reactor_worker_threads: 1` in /etc/salt/master and it does seem to "fix" the problem, but then things become so slow, they actually time out for me. For example I create 3 new minions in the cloud and they all produce events on startup which then need to be handled sequentially.
@johje349 said this mig

[2018-08-31 04:52] #38574 closed

[2018-08-31 05:43] thuhak opened #49463 "signal handler for SIGUSR1 goes wrong"
### Description of Issue/Question

There is a signal handler for SIGUSR1, which will print current stack frame traceback.
in utils/debug.py

[code]

The _makepretty should get a frame object parameter, not a str type.
Therefore,when i send SIGUSR1 to salt-master process, there will be a exception as below:

[code]

### Versions Report

Salt Version:
           Salt: 2018.3.2

Dependency Versions:

[2018-08-31 06:32] sanchoio commented on #32144
The same situation with 2018.3.2 as @timwsuqld describes, even worse. Even saltutil.refresh_pillar didn't help to refresh cached pillar data on a minion. Only rm -rf /var/cache/salt/minion/ and then systemctl restart salt-minion before salt '*' state.highstate test=True did the trick.

[2018-08-31 07:45] e-user commented on #49328
@garethgreenaway I just checked in a fresh `fedora:27` Docker container and the output as well as the bug are the same with Salt 2018.3.2.

[code]

[2018-08-31 08:31] 1ricardo commented on #49297
Hi @Ch3LL,

Sure, I can do it

[2018-08-31 09:18] cr1st1p opened #49465 "2 issues with the virtual 'service' service and service.py in particular"
### Description of Issue/Question
Virtual module 'service' behaving wrong on a Manjaro distro - but the issues do NOT seem to be particular to Manjaro.

Issues:

-  a) saltstack seem to not load one and **only** one service implementation module
-  b) has kind of wrong conditions for using the 'default' _service.py_ module

I'll propose a small change that would fix b) although tests should be run

[2018-08-31 10:35] cebe commented on #38425
As far as I see this is not fixed and still relevant. Please reopen.

[2018-08-31 12:15] cebe commented on #38795
This seems to be fixed in "salt-ssh 2018.3.2"

[code]

[2018-08-31 12:15] #38795 closed

[2018-08-31 13:42] #49009 closed

[2018-08-31 13:46] swalladge commented on #38425
@cebe if this is a blocker for you, a possible workaround could be to track files under `/etc/cron.d/` instead of managing crontab files with salt.

[2018-08-31 13:59] rallytime commented on #49035
This can be closed since the feature was reverted in #49461 and #49466.

[2018-08-31 13:59] #49035 closed

[2018-08-31 14:32] Ch3LL commented on #49392
looks like i'm able to replicate this. will need to fix this up.

[2018-08-31 14:35] Ch3LL commented on #49404
ping @saltstack/team-core any ideas on how to solve the issue where hte engine and events start sending before the reactor is up

[2018-08-31 14:47] Ch3LL commented on #49425
i was able to replicate this on 2016.3.6. Fortunately it looks like this is working in 2017.7.7, but to note you will need to either specify the hash of the file or add `skip_verify: True` to your state as the hash is required by default if skip_verify is not set.

[2018-08-31 14:50] dfragazi commented on #49425
Thanks Megan. I’ll add the skip_verify.

Dennis

From: Megan Wilhite [mailto:notifications@github.com]
Sent: Friday, August 31, 2018 7:48 AM
To: saltstack/salt <salt@noreply.github.com>
Cc: Fragazi, Dennis K [US] (MS) <dennis.fragazi@ngc.com>; Author <author@noreply.github.com>
Subject: EXT :Re: [saltstack/salt] archive.extracted fails when using non-salt-master secondary source (#49425)

i was ab

[2018-08-31 14:57] Ch3LL commented on #49436
how about this: https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.saltutil.html#salt.modules.saltutil.cmd

you can target the minion you want and run a command

[2018-08-31 15:03] vquiering commented on #49436
@Ch3LL
What would be the syntax inside a jinja if-clause?

What I did now is this:

    {%- set id = grains.get('id') %}
    {%- if salt['cmd.retcode']('salt ' ~ id ~ ' cmd.run "test -d /etc/letsencrypt/live/' ~ domain ~ '"') == 0 %}

If you have a list of a domains it takes forever. I dont' thing this is a good solution.

[2018-08-31 15:13] amalleo25 opened #49469 "Pkgin provider is using solarisips module to search for packages."
### Description of Issue/Question
When package provider is set to pkgin, salt will search for the package using the solarisips module not the pkgin module. If the package name is found in both solarisips and pkgin, the install will fail as it attempts to install using the FMRI name with pkgin (1st example). If the package is not found with solarisips, the install will complete using pkgin (2nd exa

[2018-08-31 15:14] chschmitt commented on #49369
@Ch3LL Just for the record: I had the issue with sallt-ssh and a 2018.3.X release a while ago, but I did not have the time to carve out a minimal, reproducible example for a bug report.

[2018-08-31 15:15] #49159 closed

[2018-08-31 15:16] rallytime commented on #49275
@terminalmage Can you fix this for 2018.3.4?

[2018-08-31 15:16] rallytime commented on #49452
@garethgreenaway Can you fix this for 2018.3.4?

[2018-08-31 15:17] mattp- commented on #40560
I fixed this in #49292

[2018-08-31 15:17] rallytime commented on #49221
@garethgreenaway Can you look at this one for 2018.3.4?

[2018-08-31 15:19] #32737 closed

[2018-08-31 15:20] #40560 closed

[2018-08-31 15:30] mattp- commented on #39222
I think this should be fixed in I fixed this in #49292

[2018-08-31 15:33] rallytime commented on #39222
@githubcdr ^

[2018-08-31 15:57] Ch3LL commented on #49438
im not able to replicate this just running `sudo salt-cloud -Q` with openstack configured. was this working previously for you or is this a new setup?

[2018-08-31 15:59] Ch3LL commented on #49439
/srv/pillar directory is for pillar which renders on the master and wont run the states but will try to render it as pillar and /srv/salt is for you state files. This is expected behavior you need to add them to your /srv/salt directory

[2018-08-31 16:01] Ch3LL commented on #49450
my guess is you are running into this when your job cache is part of a scheduled clear before you run it?

[2018-08-31 16:04] vangourd commented on #49450
How do I found out where it might be configured to clear the job cache? Is this a default task based on thresholds to make sure the cache doesn't grow too unwieldy.

I've tightened the amount of jobs executing at any given time to make sure it wasn't the API performing poorly at a high rate. So I'm only running a few jobs every hour or so.

[2018-08-31 16:14] jaggura commented on #49439
Thank you.

[Medline]<http://www.medline.com/?cmpid=eid:signature-logo-US-Default>

Jeffrey Gura
IS-Linux Unix Admin Team Lead
Information Services-Information Service
Medline Industries, Inc.
www.medline.com<http://www.medline.com/?cmpid=eid:signature-link-US-Default>

847-643-4847 (Phone)
847-344-6367 (Mobile)
jgura@medline.com<mailto:JGura@medline.com>

From: Megan Wilhite <notifications@github

[2018-08-31 16:25] vangourd commented on #49450
I'm so sorry I accidentally hit close and comment on mobile.

[2018-08-31 16:34] Ch3LL commented on #49463
looks like i'm able to replicate this. working on fix now

[2018-08-31 16:58] Ch3LL commented on #49465
im having a hard time replicating this. If i dont set the provider settings it calls `service.py` and if i set `systemd` as you have in my minion config it only calls `get_all` in systemd file. I added debug statements and it never hits service.py's get_all method.

did you recently upgrade salt possibly?
can you add htis line `log.error(__opts__['providers'])` in the get_all function that is gett

[2018-08-31 17:01] Ch3LL commented on #49469
ping @sjorge not sure if this is your area as you focus more on smartos i believe, and ideas by chance?

[2018-08-31 17:07] sjorge commented on #49469
Not touch the pkgin module as it worked fine for my on SmartOS.

From the output it looks like both pkgin and solarisips modules are used at the same time (unless I am misreading it) which seems weird.

IIRC pkgin does not implement all the functions some other providers of pkg do... perhaps salt is loading some functions from the solarisips module and then internally calling both?

I'd be interes

[2018-08-31 18:06] amalleo25 commented on #49469
Correct, both pkgin and solarisips modules are being used from what I can tell.

I'm not positive if this is how to correctly call the pkgin module directly but it does report an issue.
[code]

[2018-08-31 18:38] sjorge commented on #49469
Here is a quick patch I wrote.

[code]

But it does not help much 'pkg' still uses the wrong module to search.

[2018-08-31 18:40] cr1st1p commented on #49465
To replicate, do NOT set the providers setting. Then call get_running, get_all and available.

While your fix will probably fix strictly my problem, it is the simplest path possible. The more general issue of having two modules mixed still remains.

Manjaro and Arch distros also supports openrc style services, so I really would keep at least the systemd check that I added (my 2nd 'if')
Or just fix

[2018-08-31 19:00] amalleo25 commented on #49469
Interestingly enough, after applying that patch, pkgin seems to become the default package manager on my machine. Which is fine by me but I'm not sure if that's the expected behavior. I don't think think this was caused by your patch but rather how salt decides which module to load.

[code]

But you are correct, pkg still uses solarisips to search with the above patch.

[2018-08-31 19:04] sjorge commented on #49469
Yes, I noticed that too as I noted at the end

There still seems to be something fishy when multiple pkg providers are active. I have not been able to uncover more. But hopefully this gives @Ch3LL enough info to work her debugging magic.

[2018-08-31 19:28] sjorge commented on #49469
[code]

This works, so my theory is probably correct.

@Ch3LL I am going to go ahead and open a PR for the first part of this.
The second part should probably be properly fixed in salt.modules.pkg_resource... any idea who knows that module well enough?

[2018-08-31 20:32] aarnaud commented on #39420
@jettero Yes it could reproduce it in the 2018.x
I think these is when i mix `pillar_roots` and `ext_pillar`
I tried all `pillar_source_merging_strategy` options no change.

The pillar value is sometimes present and sometime missing

[code]
In fact, i remove `pillar_roots` to only use `ext_pillar` with git. Since, i didn't have any issues

[2018-08-31 20:50] rhoths commented on #39112
(Bumping to avoid the stale bot). This is still an important issue to solve. The lack of support makes the ACL module useless in a great number of situations.

[2018-09-01 03:45] claudekenni commented on #49403
With pysnow queries can be created as a dict.

I have written my own snow module and this function does the same as the non_structured_query function.

[code]

[2018-09-01 06:32] rocky1001 commented on #285
ping

[2018-09-01 08:28] dawidmalina commented on #45882
@github-abcde @mirceaulinic I am also interested in this change.

If I am not mistaken this could be this branch:
https://github.com/github-abcde/salt/tree/mine_client-side-acl

Looking forward to this change 👍

[2018-09-01 10:31] #32412 closed

[2018-09-01 12:59] damon-atkins commented on #49469
The solution to support multiple package manager is to add a provider option to all functions in states/pkg.py

Which overrides `__salt__['pkg.something']`  to `__salt__[provider + '.something']`

[2018-09-01 13:04] sjorge commented on #49469
That did not help thought!

[code]

Would still have the pkgin_sudo state fail in my tests, only when normize_name was added to the pkgin module did the above state work.

I used pudb (thanks @Ch3LL) to debug this a bit and the salt.states.pkg called salt.module.pkg_resource._repack_pkgs which calls 'pkg.normalize_name' which based on pudb is salt.modules.solarisips.normalize_name in both cases. (

[2018-09-01 15:27] damon-atkins commented on #49469
pkgin would need to register itself as pkgin not pkg on Solaris Family so the default is still pkg and IPS.
[code]
So that
`provider = 'pkgin' ; __salt__[provider + '.something']  exists.`

[2018-09-01 15:38] sjorge commented on #49469
Ok then it needs to be more complex, on SmartOS there is no IPS.

So it should be pkg on SmartOS and pkgin on other Illumos/Solaris...
Will the whole pkg state still work using the provides?

[2018-09-01 15:43] alandrees opened #49479 "Iptables rule fails when using the uid-owner module"
### Description of Issue/Question
I am trying to create a iptables rule (using the pyobjects renderer) using the uid-owner module, and two problems arise:

1. the iptables rule which gets generated does not include `-m owner`
2. It also adds the `for ipv4`, which even when manually adding the iptables rule, the rule gets rejected.

### Setup
    Iptables.append(**{'id_'         : 'allow_outgoing_s

[2018-09-01 18:55] sjorge commented on #49469
@damon-atkins I update the PR, however this has the exact same result for the states though. With provider set to pkgin the normalize_name function is still taken from solarisips

[2018-09-02 04:03] damon-atkins commented on #49469
There needs to be a big change to `states/pkg.py` to add the `provider` option.  At this stage provider does 0.

[2018-09-02 04:12] damon-atkins commented on #49469
There needs to be a big change to `states/pkg.py` to add the `provider` option.  At this stage provider does 0.  However at least this way you could call the modules pkgin.install and pkg.install (IPS) now at the same time. Its a start.

i.e.
[code]
The idea being if pkgin is primary package manager it returns `pkg`  otherwise it returns `pkgin` on supported OS so it can be used along side the pri

[2018-09-02 09:08] epicavic commented on #47204
fixed on PR #49483

[2018-09-02 10:15] #37363 closed

[2018-09-02 16:15] #38852 closed

[2018-09-02 16:22] cavepopo opened #49485 "Salt-cloud - proxmox driver - returns KeyError: u'name'"
### Description of Issue/Question
When provisioning a vm (either lxc or kvm) on a proxmox cluster, the salt-cloud command fails with this error :
[code]

This happens approximately 1 out of 3 tries, on different proxmox nodes and different site too.

Proxmox are as follow :
[code]

### Steps to Reproduce Issue
just run a standard salt-cloud command based on map files :
`
sudo /usr/bin/salt-cloud -

[2018-09-02 18:15] #36964 closed

[2018-09-02 18:44] disaster123 commented on #31821
Issue is still present.

[2018-09-03 00:15] #38842 closed

[2018-09-03 00:15] #38736 closed

[2018-09-03 07:37] #38931 closed

[2018-09-03 07:51] flassman opened #49489 "pillar data in orchestration sls files are not resolved"
### Description of Issue/Question
Pillar data are not resolved if used in orchestration sls files. I know from documentation that reactors do not consider pillar data, but salt-run state.orchestrate should?! Or maybe I overlooked some restriction? If that is the case, what is the best practice to include data in the orchestrate runner? (other than adding the pillar data via command line, which doe

[2018-09-03 09:15] #24297 closed

[2018-09-03 12:02] Poil commented on #49489
Hi,

The only way I've find is to use jinja at the beginning of my orchestrate.sls, same for SDB.
If someone have a better solution I take it :)

[code]

[2018-09-03 13:40] flassman commented on #49489
Unfortunately querying the pillar with Jinja does not make a difference: it works if I run the state with _state.apply_ but returns "None" if called via _salt-run state.orchestrate orch.router-cert_
I tried withe the pillar mentioned in my original post plus this /srv/salt/orch/mypillar.sls but the "pillardata" renders to "None" instead of the expected "some_value":

[code]

@Poil would you mind t

[2018-09-03 14:43] Oloremo opened #49491 "Salt started in custom directory can't execute maintains commands"
Hi,

I'm trying to run a Salt in non-standard directories (/opt/salt) due to env restrictions and I have a configured master key rotation after which it should send a `ping` to all minions and this maintenance job failing with the exception since my `run` directory with sockets and my configs are in non-standard path.

### Setup
[code]

### Steps to Reproduce Issue
Deploy salt in the non-standard

[2018-09-03 15:06] damon-atkins commented on #8875
The following is support in states however **not** supported in pillar
[code]
Lets keep this on the radar if you want this in pillars, please thumbs up the original comment/description
[Issues Sorted by Top Thumbs Up](https://github.com/saltstack/salt/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc)

[2018-09-03 15:13] garethgreenaway commented on #49491
@Oloremo Thanks for the report.  Can you provide the error or exception that you're receiving from the Salt master?

[2018-09-03 15:29] garethgreenaway commented on #49479
@alandrees Thanks for the report.  At the moment the `iptables` module is not looking to see if the `uid-owner` parameter is included and automatically adding the `owner` module.  However, if you update your call to the following:
[code]

I believe it should do what you're trying to accomplish.

[2018-09-03 15:37] garethgreenaway commented on #49489
@flassman The issue is that pillar data is targeted at specific minions, which isn't happening at the stage of orchestration where you're looking to use pillar data above.  Here is a similar issue that might offer some work arounds: https://github.com/saltstack/salt/issues/46387

[2018-09-03 16:26] Oloremo commented on #49491
@garethgreenaway

Sure:
[code]

[2018-09-03 17:52] #38896 closed

[2018-09-03 18:52] #20466 closed

[2018-09-03 19:52] #38870 closed

[2018-09-03 21:18] cavepopo commented on #49485
Hi, thanks for the feedback, yes I do have the very same versions across all minion/master.
My IPy version is also the same, as :
[code]

[2018-09-03 22:52] #29273 closed

[2018-09-03 22:52] #30295 closed

[2018-09-03 22:52] #36978 closed

[2018-09-03 22:52] #30251 closed

[2018-09-03 22:52] #34750 closed

[2018-09-03 22:52] #32417 closed

[2018-09-03 22:52] #28793 closed

[2018-09-03 22:52] #35377 closed

[2018-09-03 22:53] #18462 closed

[2018-09-03 22:53] #32992 closed

[2018-09-03 22:53] #15503 closed

[2018-09-03 22:53] #28317 closed

[2018-09-04 07:11] flassman commented on #49489
Thanks a lot for the hint. With this information, I was able to access my pillar data like this:

[code]

[2018-09-04 07:53] psyna commented on #6896
+100500

[2018-09-04 12:07] Oloremo opened #49493 "[Feature Request] Saltclass node groups"
### Description of Issue/Question
If I understand it correctly, right now if I have 2 groups of servers, let's say it's a WEB and DB servers with 1000 nodes in each and I want to use a Saltclass to manage them and looks like I have to create a 2000 yaml file for all nodes and this files will be absolutely the same for a group.

This sounds like a duplication to me, it doesn't scale and requires so

[2018-09-04 12:13] max-arnold commented on #49493
Some notes from Slack discussion:

* This is how it is done in reclass http://reclass.pantsfullofunix.net/operations.html#wildcard-regexp-mappings
* Also this issue may be relevant https://github.com/saltstack/salt/issues/5787

[2018-09-04 12:14] gf-orgx commented on #49210
Hi,

So, is it possible to get this fixed?

[2018-09-04 12:20] zerthimon opened #49495 "Feature: allow inclusion of pillars from other environment"
State can include state from other environment using this syntax:

[code]

This, however, doesn't work for pillars, resulting in error:
[code]

It would be very convenient to have the ability to include pillars from other environments.

[2018-09-04 13:08] #49489 closed

[2018-09-04 15:30] thatch45 commented on #285
You have a number of options:
1. Make the execution module install libtorrent via pkg.install
2. Compile libtorrent into a cython .so and distribute that
3. Use the Salt filesystem to distribute sources and have the execution module compile said sources

[2018-09-04 16:10] Ch3LL commented on #49493
ping @olivier-mauras any ideas here?

[2018-09-04 16:10] Ch3LL commented on #49495
will approve as a feature request :)

[2018-09-04 16:37] Ch3LL commented on #49436
heres an example:

[code]

obviously you will want to change the target '*' to whichever target you need.

[2018-09-04 16:38] Ch3LL commented on #49436
oh to note you will still need to filter out the return, so you can get the return True or False

[2018-09-04 16:41] #38905 closed

[2018-09-04 16:41] #38909 closed

[2018-09-04 16:44] Ch3LL commented on #49425
awesome! i'll go ahead and close this issue but let me know if it needs to be reopened

[2018-09-04 16:44] #49425 closed

[2018-09-04 16:46] Ch3LL commented on #49439
no problem. i'll go ahead and close this issue but please let me know if it needs to be re-opened.

[2018-09-04 16:46] #49439 closed

[2018-09-04 16:56] Ch3LL commented on #49450
and does this appear once a day possibly or more often?

[2018-09-04 17:18] Ch3LL commented on #49465
if i set or do not set providers I cannot replicate `get_all` trying to load two modules. It only loads one module.

[2018-09-04 17:41] #33634 closed

[2018-09-04 17:44] vangourd commented on #49450
I just came back to the issue and now I can't seem to get it to act up again. I reduced the amount of queries I was making against the server by implementing some timer locking into some clients. The only other change I've made since then was removing the paramterer `"target-type": "list"`. Adding that now does not cause the issue to re-occur.

I'll see if I can drum down if it happens only when u

[2018-09-04 17:44] #46388 closed

[2018-09-04 17:49] zerthimon commented on #49495
... which made me wondering: should this just work and it's actually a bug ? @Ch3LL

[2018-09-04 18:18] cchildress commented on #39018
It's not stale, I'm not sure why this is listed as blocked to be honest.
I got the info requested added to the issue same day. Just waiting on someone to triage this.

[2018-09-04 18:42] rallytime commented on #39018
@Ch3LL Can you come back to this one when you have a moment?

[2018-09-04 18:52] cavepopo opened #49504 "Adding jessie-backports does not succeed using repo.managed"
### Description of Issue/Question
Trying to add jessie-backports using repo.managed appears to succeed but in fact it install jessie std repo.
### Setup
State to add jessie backports :
[code]

### Steps to Reproduce Issue
Try to add jessie backports repo by using the above state.

### Versions Report
2018.3.2 on both master and minion
[code]

The above state ends as :
[code]
On minion I can see :

[2018-09-04 18:58] dynek commented on #46388
Haven't had time to test it. Let's see how it goes when it's released as a package. Thank you!

[2018-09-04 19:31] vquiering commented on #49436
@Ch3LL
Thank you very much. This works like a charm and is way faster than what I did before.

The code looks like this now.

    {%- set id = grains.get('id') %}
    {%- set domain = 'example.com' %}
    {%- set data = salt.saltutil.cmd(id, fun='file.directory_exists', kwarg={'path': '/etc/letsencrypt/live/' ~ domain}) %}
    {%- for junk,values in data.iteritems() %}
      {%- if values.ret %}

[2018-09-04 19:31] #49436 closed

[2018-09-04 20:03] chschmitt commented on #49369
@terminalmage @Ch3LL Can you clarify what the intended behavior actually is? It seems the base environment always "wins". Are there any merging rules that can be relied upon?

[2018-09-04 20:16] #39258 closed

[2018-09-04 21:41] #38395 closed

[2018-09-05 05:41] terminalmage commented on #49369
I don't know off the top of my head, but it seems to be down to set iteration order. The envs are compiled [here](https://github.com/saltstack/salt/blob/74dc587/salt/pillar/__init__.py#L477-L481) and iterated over [here](https://github.com/saltstack/salt/blob/74dc587/salt/pillar/__init__.py#L510).

[2018-09-05 08:26] chschmitt commented on #49369
@terminalmage Thank you for pointing me in the right direction.

I had a look at the code. The pillar compilation uses [`get_top()`](https://github.com/saltstack/salt/blob/74dc58722a8abaa3b12e5a03640e9d8aa23024f2/salt/pillar/__init__.py#L626), which returns a simple (unorderd) dict.

But There are two undocumented (?) features that could actually support my use case.

- [Inclusion of other pillar

[2018-09-05 09:41] #38911 closed

[2018-09-05 10:10] nidhi-chourasia opened #49509 "Error with cron module"
### Description of Issue/Question

All the cron states are failing.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
The state giving the error is:

stop_push_logs:
  cron.absent:
    - identifier: push_logs_to_s3
    - name: /usr/bin/pushlogs.sh -r
    - user: root
    - special: '@hourly'

### Steps to Reproduce Issue
(Include debug logs if possib

[2018-09-05 10:10] adambarnett52 commented on #46667
looks to be happening on OSX 10.13

[2018-09-05 10:41] #38902 closed

[2018-09-05 11:37] cr1st1p commented on #49465
First - do not edit and use any provider setting. Let salt use whatever it detects.

Next, keep in mind that file service.py is for sysvinit type of systems and systemd.py file for... systemd type of systems.
Usually, these type of systems are mutually exclusive (but not always).

Based on saltstack's implementation, especially of service.py file - these python modules should be mutually exclusive

[2018-09-05 15:22] jjongbloets commented on #48224
For me, this is a significant issue as well.

I do not think this issue would be so hard to implement as most of it is already available in the salt bootstrap script. The problem with this script is, however, that it does not allow users to install dependencies without minion or server. I just tried to run the script with the "-N" parameter and it just warns you there is "nothing" to install. If t

[2018-09-05 15:34] bbczeuz opened #49516 "[Bug] pkgrepo state silently ignores key_url parameter on RPM/YUM (RHEL/Centos/Fedora) systems"
### Description of Issue/Question
See title. I'll provide a PR ASAP.

### Setup
State file:
[code]

### Steps to Reproduce Issue
Above state results in:
[code]
But any package from this repo will fail:
[code]

### Versions Report
[code]

[2018-09-05 15:34] terminalmage commented on #49369
I am really not sure, to be honest. Most of my familiarity with how top files are compiled comes from the state compiler, and for some reason pillar was written with a separate implementation, which has diverged over time. This is the reason why we're hoping to converge the two into a (mostly) shared codebase eventually.

[2018-09-05 15:35] Ch3LL commented on #49469
@sjorge i know that @dmurphy18 has been in parts of this code for solaris so he might be able to answer any questions you have

[2018-09-05 15:37] #47204 closed

[2018-09-05 15:41] isbm commented on #48224
This is just a bug. It was [fixed already](https://github.com/saltstack/salt/commit/cca8b2fa3e9cfce28ee43846620b64d16169b227#diff-0b17057f345ba5c0123cab65d66c46e6).

[2018-09-05 15:50] Ch3LL commented on #36707
no worries at all. we can keep this open for anyone to take a stab at it as well, but i think we definitely want to fix this as its causing performance issues. can you clarify one thing, looks like you did push a PR that increases the speed. can you clarify where else you think there can be improvements, so someone can quickly pick up where you left off from.

[2018-09-05 16:04] damon-atkins commented on #49469
Hi @Ch3LL its about the salt loader now see https://github.com/saltstack/salt/pull/49476

[2018-09-05 16:39] garethgreenaway commented on #49509
@nidhi-chourasia Thanks for the report.  The above error indicates that the cron Salt module was unable to be loaded.  The module checks that the crontab binary is installed and available, if it is not then the module will not be available.  Can you ensure that the crontab binary is installed?

[2018-09-05 16:39] Ch3LL commented on #49210
@gf-orgx can you clarify how you are trying to replilcate with the dummy proxy.

Here is my attempt with the dummy proxy:

[code]

im sure i' probably missing a step here?

[2018-09-05 16:42] Ch3LL commented on #49450
awesome just ping me when it happens again. any other data to help me try to replicate it will help

[2018-09-05 16:45] Ch3LL commented on #49495
if the change to add this for pillar is not super intrusive i am okay adding this into a bug fix release, but my concern is it might be more intrusive, but wouldn't know until someone dove into it.

[2018-09-05 16:48] nidhi-chourasia commented on #49509
I wanted to check that because it is working in other places but could not find the exact command to do so.
How to check if that binary is installed.Sorry if I am question is stupid .I am new to this.Thanks for the reply.
@g

[2018-09-05 16:48] nidhi-chourasia commented on #49509
@garethgreenaway

[2018-09-05 16:57] garethgreenaway commented on #49509
@nidhi-chourasia Assuming Saltstack is configured using the defaults it will be running as root, so as the root user type `which crontab` at the command line to ensure that it's available.

[2018-09-05 17:00] nidhi-chourasia commented on #49509
It was not installed.It is working now.Thanks.
@garethgreenaway

[2018-09-05 17:01] #49509 closed

[2018-09-05 17:05] garethgreenaway commented on #49516
@bbczeuz Thanks for the report and the PR!

[2018-09-05 17:25] Ch3LL commented on #39018
thanks for bumping this for me @cchildress and @rallytime

so i looked at previous issues and i found this: https://github.com/saltstack/salt/issues/12803

i'm guessing this is a duplicate and it looks like ldap authentication needs to be added to work with teh file module.

[2018-09-05 17:51] Ch3LL commented on #49465
my understanding is that either your fix or my fix needs to be added to fix the issue. like you said you fix will add some more logic so we can just see if systemd is loaded.

The calls to `get_all` and `available` are called on service.py because that is whats loaded first. `get_running` is getting loaded from systemd because `get_running` does not exist in service.py.

But i want to get @saltsta

[2018-09-05 18:16] garethgreenaway commented on #49504
@cavepopo Thanks for the report.  I have confirmed that this is a bug.  We'll get this fixed.

[2018-09-05 18:50] anitakrueger commented on #47539
Unfortunately after creating many more minions in the cloud for my salt master, I have to report that setting `reactor_worker_threads: 1` has not fixed the problem. The reactor still crashes when 2 or more events come in at the same time.

[2018-09-05 19:29] golmaal opened #49519 "Salt minion needs to be restarted after starting firewalld"
### Description of Issue/Question
If firewalld on a centos 7 minion is down, if a state is run in this case to start the firewall and add services to public zone, master is now unable to talk to minion until minion is restarted.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Salt master - 2017.7.7 on Cent OS 7 (Machine 1)
Salt minion - 2017.7.7 on

[2018-09-05 19:46] rallytime commented on #47539
Thank you very much for the updates @anitakrueger. This is definitely still on our radar and @DmitryKuzmenko will be working on this as soon as he can.

[2018-09-05 20:28] jrampin commented on #44391
@HeinrichFilter Thanks a lot!
pip install GitPython --upgrade worked for me! :)

[2018-09-05 21:13] do3meli commented on #36707
basically the pull request that already got merged was reading sysctl values directly from a given file instead of using multiple cmd.run executions to gather the information. the WIP branch on top of this is now first checking if the sysctl even exists. for that reason i created an additional function in the state module which just returns true on some distributions. so those distributions should

[2018-09-05 22:46] doesitblend opened #49520 "Multi-master DNS Issue - minion connect fail"
### Description of Issue/Question
When using multi-master and all keys have been accepted, a minion does not connect to the other masters when the first master in the list is down. Another symptom of this problem occurs simply when any master in the list is down

In a docker container test environment with 4 masters and 2 minions, each minion connecting to all masters via dns name, stop the first

[2018-09-05 22:46] doesitblend commented on #49520
ZD-2774

[2018-09-05 23:16] #38893 closed

[2018-09-06 00:16] #38939 closed

[2018-09-06 00:16] #38958 closed

[2018-09-06 02:31] MTecknology opened #49523 "[salt-cloud] Non-ascii chars cause an exception in salt-cloud"
### Description of Issue/Question

If a bootstrap script produces a non-ascii character, salt-cloud will produce an exception when trying to print that text to the console. I suspect this is a case of some missing `.encode('utf-8')`'s.

### Steps to Reproduce Issue

The following bootstrap script is the simplest example I can come up with that reproduces the issue.

[code]

It will produce an erro

[2018-09-06 08:32] madfordmac commented on #35592
Another use case:
[code]

[2018-09-06 09:48] gaetanquentin opened #49529 "Question: how to use salt-cloud commands with salt-api, when positional args are needed?"
Salt versions: 2017+

### Description of Issue/Question
On this doc it is said that runner does not take positional arguments.

So how to do a "salt-cloud -a stop INSTANCE" with salt-api?

How to name the "stop" argument?

curl -s http://btt2026vu:8443 -o /data/rundeck/var/tmp/saltapi-resp.sLTI -H 'Content-type: application/json' -H 'X-Auth-Token: 6d2f74b463f8c4f7a93665e2cfebda4648271113' -d '[{"c

[2018-09-06 09:55] MTecknology opened #49530 "[salt-cloud] Proxmox provider incorrectly supports rootfs"
### Description of Issue/Question

The proxmox salt-cloud provider supports reading the option for rootfs, but the rootfs option needs to include the vmid, which is not available until during creation. I suspect there are other considerations that need to be made to support the [api structure](https://pve.proxmox.com/pve-docs/api-viewer/index.html) somewhere close to [this section](https://github.

[2018-09-06 09:57] nkrishnakishor opened #49531 "win_pkg: need help with pkg install and definitions location"
### Description of Issue/Question
Could not run highstate on windows minions

### Setup
Below is the SLS file
[code]
My top file is as below.
[code]

### Steps to Reproduce Issue
# salt server1 state.highstate -l debug

Below is the debug log.

[code]

### Versions Report
 `salt --versions-report`. Both master and minions are running the same version.
[code]

Please help to resolve the issue

[2018-09-06 11:44] damon-atkins commented on #49531
Search with issue with win_pkg in the title. You will find some help.  However you need to read https://docs.saltstack.com/en/latest/topics/windows/windows-package-manager.html    Even though the extension is sls they are not salt state files. They are package definition files and need to be located in the correct location.

[2018-09-06 11:57] cavepopo commented on #49504
Thanks for the tips, tried it just now and it's ok.
My bad, the documentation did try to prevent me from using it, but I did not notice at this time.
This does not look like a bug to me now.

[2018-09-06 14:17] gf-orgx commented on #49210
I don't understand why do we need to reproduce this - there is clearly a simple mistake in the code. You cannot call get() on a dict with a list, someone just has missed the zero index which is present in the lines of code above and below.

[2018-09-06 14:27] markuskramerIgitt commented on #49212
@Ch3LL, could you please help me with PR https://github.com/saltstack/salt/pull/49378
Which are the requested changes?

[2018-09-06 14:56] Ch3LL commented on #49520
just to clarify does this only occur when using dns names for the masters in the list?

[2018-09-06 15:06] Ch3LL commented on #49523
thanks for the PR. Looks like there are some comments on the PR there to change the encoding as he stated utf-8 will not work for everyone. I would also take a look at `salt.utils.data` there are some useful functions there that also handle cases for python2 and python3.

[2018-09-06 16:03] Ch3LL commented on #49529
you need to pass as kwarg:

[code]

[2018-09-06 16:27] cro commented on #49519
Workaround: some combination of these in the minion config?

[code]

[2018-09-06 17:27] #38986 closed

[2018-09-06 17:49] garethgreenaway commented on #49221
@mirceaulinic To confirm, you're seeing this behavior with the rest_example proxy minion as well?  Are there any particular Salt functions that result in you seeing defunct processes?  So far I haven't been able to duplicate.

[2018-09-06 19:06] VirtualAirwaves commented on #42311
Seeing this again:

[code]

[2018-09-06 19:27] #38980 closed

[2018-09-06 19:29] thatch45 commented on #49273
I think I see where you are going here, and yes I see that the ordering is not enough. Let me spend some time looking here

[2018-09-06 19:39] doesitblend commented on #49520
@Ch3LL Yes, this only appears to happen when using DNS. If I specify all masters to use the IP address and leave master1 down the minions start up fine and I'm able to run commands from each master.

[2018-09-06 22:30] MTecknology commented on #49530
Hurray for breaking API changes! I'm using v5.2-8, but I don't think that's what's going on here unless they changed the way this parameter is constructed.

I was able to get past the issue by removing `rootfs` from `static_props = (` and appending this after the for block:
[code]

I'm not sure if this is the best solution, but it seems to fix the issue I reported.

[2018-09-07 01:29] MTecknology commented on #49530
I finally have machines being created. It turns out that `volume=<volume_name>:<disk_size>` is the correct format, with `volume=` being optional. There was yet another issue where I had to specify `-ipaddress:<addr>` because the module couldn't read the address specified in `net0`.

This seems to be a documentation problem and it sounds like you're already working on that so I'm going to close thi

[2018-09-07 01:29] #49530 closed

[2018-09-07 01:50] dwoz commented on #49008
I've opened an issue for M2Crypto and will submit a patch there as well as a work around for the salt x509 module to use for now.

https://gitlab.com/m2crypto/m2crypto/issues/232

[2018-09-07 05:58] nkrishnakishor commented on #49531
Hi @damon-atkins thanks for the reply.

Please find my master file as below.
[code]

My package definition file is located under `/srv/salt/asset/` and sub directories of `/srv/salt/win/repo-ng` are as follows.
[code]

and when i execute salt server1 pkg.refresh_db i get the below output.
[code]
I'm able to ping the server but could execute highstate.

[2018-09-07 06:42] Poil opened #49554 "git.latest with SHA1 rev "No revision matching 'rev' exists in the remote repository""
### Description of Issue/Question
I'm unable to have a working checkout on a SHA1 with git.latest, I always have "No revision matching 'rev' exists in the remote repository". Perhaps I'm doing something bad.

### Setup

* Formula
[code]
Branch is set to "dev" and rev to "254c53947887d409b9b9f605b9e966eeffc48e50" (also tried with shorter)

Note, this is working : `salt 'xxxx-q01-val*' git.checkout

[2018-09-07 06:58] Poil commented on #40673
It seems that with python 3.4 the returner is working but I have no more event in the postgresql DB despite this configuration

[code]

[2018-09-07 07:07] Poil commented on #40673
I confirm that when I switch back to python 2.7.5 it's no more working for me.
Perhaps it's a salt component that create this error ?

In my formula I use these resources, git.latest, file (managed, recurse, directory, serialize, replace, append, symlink), ini.options_present, ssh_known_hosts.present, cmd (run, script), service.running, pkgrepo.(managed, installed), module.run (cp.push), pkg.insta

[2018-09-07 07:51] markuskramerIgitt commented on #49212
Hi @Ch3LL, I think the requested changes are from terminalmage, I asked him.

[2018-09-07 08:56] gaetanquentin commented on #49529
ok thanks a lot. where is this explained in the doc?

[2018-09-07 08:58] gaetanquentin commented on #49529
And shouldn't the api return error when args are missing or badly named?

[2018-09-07 10:59] alexbe commented on #48333
After update to
[code]
i'm getting same exception every day when i come to work, so i need to restart salt-api.
In the time when exception occurs i have two salt-api process:

[code]

May be i need to increase a system limit or change something in conf?

[2018-09-07 11:52] saltstack-admin opened #49556 "file.managed deploys file without EOL"
### Description of Issue/Question
A sudoers file shall be deployed into /etc/sudoers.d. The file itself works if we copy it manually with scp/rsync to the salt-minion, but if we deploy it with file.managed, visudo -c -f tells us that this file has an syntax error.
Opening the file with vim showed in the bottom status bar, that the file has [noeol], so a transfer through file.managed deletes the la

[2018-09-07 12:05] dwoz commented on #49008
See https://gitlab.com/m2crypto/m2crypto/merge_requests/207/diffs for the upstream fix.

[2018-09-07 12:16] stooj commented on #43285
I think this is a duplicate of #31821

[2018-09-07 14:00] zyguy opened #49559 "Salt-cloud - proxmox driver - returns AttributeError: 'generator' object has no attribute 'next'"
### Description of Issue/Question
My goal is to create lxc container from salt-cloud with the proxmox driver.

When trying to create lxc container on a proxmox node, the salt-cloud command fails with this error :
[code]

In the `pveproxy/acces.log` I can see the salt-cloud requests :
[code]
According to the pve-api the endpoint should be `/api2/json/nodes/{node}/lxc` but I get a HTTP 500 return co

[2018-09-07 14:16] cachedout commented on #48860
I think I am seeing this bug on-site in a large Salt installation.

[2018-09-07 14:33] DenisBY commented on #26728
Is it fixed?

[2018-09-07 14:54] BrianSidebotham opened #49562 "salt-cloud proxmox error messages can be empty"
### Description of Issue/Question

Sometimes when you have an error ocurr with the proxmox driver you end up with a pretty empty message that doesn't provide any clues as to the cause, even when logging is set to trace:

[code]

This is rather unhelpful.

I will do a quick PR to fix at least one of these occasions, as I've just tripped over it.

### Setup

Use a proxmox profile that doesn't have a

[2018-09-07 14:55] damon-atkins commented on #49531
[code]
You can not have two definitions.   `salt-winrepo.git.bak` will be cause 95% of the errors.

And this asset.sls a package definition
[code]
Needs to be in /srv/salt/win/repo-ng/   (i.e. only place package definitions in here)

And  asset_install.sls
[code]
Needs to be in /srv/salt/

[code]

[2018-09-07 14:56] terminalmage commented on #49465
This will be fixed in 2018.3.3, see https://github.com/saltstack/salt/pull/48955.

[2018-09-07 14:58] damon-atkins commented on #49531
Pls change the title of the issue title to

`win_pkg: need help with pkg install and definitions location`

[2018-09-07 15:01] Reiner030 commented on #26728
Hi, @jfindlay , yes I know about these and use it since longer time.
Problem still open is if there are really options to change/remount:

[2018-09-07 15:33] Ch3LL commented on #48570
no one is currently working on it due to other higher priority issues. if you want to take a stab at a PR we are more then willing to accept.

[2018-09-07 15:35] Ch3LL commented on #49210
i'm not familiar enough with the code to know if we expect it to be a list. if you want to push a PR with your change we can get others who are more familiar with teh code to review.

[2018-09-07 15:51] Ch3LL commented on #49520
thanks for clarifying :)

[2018-09-07 15:53] Ch3LL commented on #49212
glad you got it figured out. let me know if  can help with anything else :)

[2018-09-07 16:06] nicholasmhughes opened #49565 "ps.pgrep doesn't use regex pattern matching"
### Description of Issue/Question
Unlike the `pgrep` command line utility, `ps.pgrep` doesn't use regex pattern matching. This confusion is exacerbated by the [use of the word "pattern"](https://github.com/saltstack/salt/blob/develop/salt/modules/ps.py#L315) as an argument for the module. As shown in the [code](https://github.com/saltstack/salt/blob/develop/salt/modules/ps.py#L342), a Python "in"

[2018-09-07 16:06] Ch3LL commented on #49529
its in the docs right here: https://docs.saltstack.com/en/latest/topics/netapi/index.html#salt.netapi.NetapiClient.runner

What docs were you looking at, maybe we can add a note somewhere else to clear it up?

if i recall correctly i remember getting an error that i wasn't passing the correct args when i was testing. What are you getting returned?

[2018-09-07 16:10] Ch3LL commented on #48333
i noticed in the intial users report that `worker_threads: 100` is set. that seems very high unless you are handling A LOT of minions and you would need the appropriate cpu/memory resources to handle that. Are you doing something similar @alexbe

[2018-09-07 16:18] markuskramerIgitt commented on #49212
Yep, and terminalmarge already explained his request in all details.

Thank you for the offer.

I just looked at your PR https://github.com/saltstack/salt/pull/48866.
I will come back to twangboy and might come back to you because I would like that Jenkins creates the Windows msi installer.

First I need to verify the installer.

[2018-09-07 16:30] rallytime commented on #49520
@garethgreenaway Can you take a look here?

[2018-09-07 16:50] cavepopo commented on #49485
Hi,

Any news about that one ? I am not asking for a solution straight ahead, I am just wondering if there is any ongoing work.

I am not a dev otherwise I'd happily help you guys, let me know if I can be of any help.

Thanks for your great work !

[2018-09-07 16:54] garethgreenaway commented on #49565
@nicholasmhughes Thanks for the report.  Since this would change current functionality I'm going to mark is as a feature request.  Ideally we want to handle situations where what is passed can be indicated as a raw string, eg. something like file.py, but also indicate that it should be treated as a pattern.  An additional argument would be indicating that the string should be a regular expression

[2018-09-07 17:08] garethgreenaway commented on #49562
@BrianSidebotham Thanks for the report and the PR!

[2018-09-07 17:09] nicholasmhughes commented on #49565
@garethgreenaway the concern is that an input static string "pattern" will be inadvertently parsed as a regex pattern (I'm looking for exactly `b<dot>sh`, and the change will cause `b<any character>sh` to match), correct?

Something like `pattern_is_regex=True/False`, which defaults to `False`?

[2018-09-07 17:11] garethgreenaway commented on #49565
@nicholasmhughes Exactly the concern I was thinking of and `patter_is_regex` would be perfect.

[2018-09-07 17:52] garethgreenaway commented on #49556
@saltstack-admin Thanks for the report.  Unfortunately I have been unable to duplicate the above issue.  If possible can you provide the actual file that you're using for the file source.

[2018-09-07 18:09] markuskramerIgitt opened #49566 "Removal of build products while building the Minion (Windows)"
### Question 1

During the creation of the Nullsoft NSIS Minion installer, build products of a previous build are removed also by calling:
https://github.com/saltstack/salt/blob/7bde9a720f67b52764600d936c936af5b2ff6c18/pkg/windows/build.bat#L117

On my machine this command becomes `rd /s /q "c:/git/salt\dist"` and this directory does not exist.

Could `"%SrcDir%\dist"`  ever exist?

If no, then I

[2018-09-07 18:34] garethgreenaway commented on #49554
@Poil Thanks for the report.  Unfortunately I haven't been able been able to reproduce this error.  I am pointing the state against  a Github repository.  Does it work if you don't specify a revision and just have it use the head of the branch?

[2018-09-07 18:35] garethgreenaway commented on #49566
@twangboy @dwoz Thoughts?

[2018-09-07 19:34] lorengordon commented on #39172
Should probably be kept open...

[2018-09-07 20:21] whytewolf opened #49572 "rest_tornado Non-Fatal traceback."
### Description of Issue/Question

While Trying to track down an issue with rest_tornado not having return data in 2018.3.2. I happened on https://github.com/saltstack/salt/pull/48193. To test this I put the saltnado.py file from the PR into my salt directory and fired up salt. Worked well, except in the /var/log/salt/api log is this traceback

[code]

To test this code in it's natural system I di

[2018-09-07 20:27] #48255 closed

[2018-09-07 20:28] #48455 closed

[2018-09-07 20:29] #48461 closed

[2018-09-07 20:29] #27056 closed

[2018-09-07 20:29] #33668 closed

[2018-09-07 20:31] #40212 closed

[2018-09-07 20:32] #42955 closed

[2018-09-07 20:32] #43138 closed

[2018-09-07 20:33] #43928 closed

[2018-09-07 20:34] #44366 closed

[2018-09-07 20:34] #44782 closed

[2018-09-07 20:35] #45520 closed

[2018-09-07 20:35] #46236 closed

[2018-09-07 20:36] #46978 closed

[2018-09-07 20:37] #47546 closed

[2018-09-07 20:38] #47651 closed

[2018-09-07 20:38] #47972 closed

[2018-09-07 20:38] #48113 closed

[2018-09-07 20:39] #48141 closed

[2018-09-07 20:39] #48144 closed

[2018-09-07 20:39] #48169 closed

[2018-09-07 20:40] #48299 closed

[2018-09-07 20:40] #48507 closed

[2018-09-07 20:42] #48659 closed

[2018-09-07 20:42] #48694 closed

[2018-09-07 20:43] #49154 closed

[2018-09-07 20:44] #49254 closed

[2018-09-07 20:45] #49452 closed

[2018-09-07 20:46] whytewolf opened #49575 "Documentation issue, Sphinx having inheritance issues with rest_tornado."
### Description of Issue/Question

It looks like the documentation for rest_tornado is having an issue with the rendering of the class docstrings.
This is only happening on the classes. such as https://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_tornado.html#salt.netapi.rest_tornado.saltnado.SaltAPIHandler

Looks to be related to the inheritance of the class.

[2018-09-07 20:47] whytewolf commented on #49575
ZD-2816

[2018-09-07 20:50] rallytime commented on #49575
I poked around at this a little bit today, and I fixed a couple of issues with the sphinx warnings, but wasn't able to figure out why this is happening without digging into sphinx more. It definitely is related to sphinx interpreting the `__builtins__` of the classes.

[2018-09-07 20:58] lomeroe commented on #49225
@twangboy It does look to be the same or very similar.  I haven't been able to get back to investigating #48782 though.  Hopefully in the next week or two I will...

[2018-09-07 23:42] twangboy commented on #49566
The directory does exist if the setup.py has been run on the machine previously. The above PR should address this issue.

[2018-09-08 01:52] jehlert opened #49581 "PostgreSQL - granting privileges to all functions in schema not supported"
### Description of Issue/Question
It's appropriate in PostgreSQL to grant privileges to all functions within a schema. PostgreSQL syntax - GRANT EXECUTE ON ALL FUNCTIONS IN SCHEMA <schema_name> to <role_name>; This currently is not support in the postgresql module

When doing it via salt, the following is produced - GRANT EXECUTE ON FUNCTION ALL IN SCHEMA <schema_name> TO <role_name>.

Here is the

[2018-09-08 02:46] UtahDave opened #49582 "lgpo doesn't seem to allow for unsetting a gpo setting"
### Description of Issue/Question
The gpo setting `SeTrustedCredManAccessPrivilege` accepts a list valid users. I can successfully add a list of users to the setting, but I can't find a way to remove all users from the list.

### Setup
The following does work:
[code]

I want to remove all users from this list. I've tried the following, but nothing seems to work.

[code]
I'm not sure if this needs

[2018-09-08 06:51] Poil commented on #49554
I have to put "dev" in branch and rev to checkout and update the dev branch.

[2018-09-08 08:56] damon-atkins commented on #36031
Salt Windows python version 3.5.3

From: https://www.python.org/downloads/release/python-356/

Python 3.6.6 From https://docs.python.org/release/3.6.6/whatsnew/3.6.html  Release June 27, 2018
Python 3.7.0 From https://docs.python.org/3.7/whatsnew/3.7.html  Release June 27, 2018

Test suite for Windows seems ready.  Could we start testing Python 3.6.6

[2018-09-08 10:50] wsw70 opened #49583 "How to group actions?"
### Description of Question

I am trying to write some `.sls` files beyond what is provided in the examples and I am completely at loss when it comes to understanding when to use a dash and when not.

Below is an example of a state which is supposed to configure `salt-call` on minions:

    '/etc/systemd/system/salt-call.service':
      file.managed:
        - source: salt-call.service

    '/etc/

[2018-09-08 19:11] #39454 closed

[2018-09-08 20:26] #38559 closed

[2018-09-08 21:42] nickgarber commented on #39501
"I'm not dead!" --this issue

On Sat, Sep 8, 2018, 13:27 stale[bot] <notifications@github.com> wrote:

[2018-09-08 22:26] #39175 closed

[2018-09-09 01:45] terminalmage commented on #38630
The upstream bug report was confirmed fixed in April of 2017. Closing this issue.

[2018-09-09 01:45] #38630 closed

[2018-09-09 12:50] cavepopo opened #49586 "master auth delay"
### Description of Issue/Question
using gitfs (pygit based) for states and external pillar, we are experiencing major performance drawback, the ratio from locally stored states and pillar and a gitfs based storage is about x5 (talking about time to complete setup). Local storage taking about 7/8 minutes when gitfs based master takes about 45 minutes to achieve the exact same setup. :(

for now I a

[2018-09-09 14:35] sundowner69 opened #49587 "Problem while using custom returners with salt.client.Caller()."
### Description of Issue/Question
I am using custom returners to create different log file on the minions. This is working from the command line with:
salt '*' state.apply mystate --return=myreturner
or
salt-call state.apply mystate --return=myreturner

I am using the same returner in python scripts too and is working fine:
<pre><code>
import salt.client
local=salt.client.LocalClient()
local.cmd('

[2018-09-09 15:14] #37881 closed

[2018-09-09 17:14] #39144 closed

[2018-09-09 19:14] #38748 closed

[2018-09-09 19:14] #39200 closed

[2018-09-09 19:14] #39217 closed

[2018-09-09 19:14] #39218 closed

[2018-09-09 19:14] #39254 closed

[2018-09-09 19:14] #39256 closed

[2018-09-09 20:47] tremon015 commented on #42075
As other commenters (both here and in various other PRs) have said, I too find the implementation of **file.line** confusing. As an example, from reading the 2018.3.2 docs it is unclear to me how _insert_ mode differs from _ensure_ mode. Purely from the name of the mode, I might naively expect _insert_ to only add a line if no match was found, and _ensure_ mode to both add a line if no match was f

[2018-09-09 21:55] JensErat opened #49588 ""module 'salt.ext' has no attribute 'ipaddress'" on using network.convert_cidr"
### Description of Issue/Question

When running the `network.convert_cidr` example command from the documentation, a python stack trace is thrown.

It seems the [issue is already fixed (without the author realizing there was an issue)](https://github.com/saltstack/salt/commit/24669f79f244bb951c0eec7d958171c6268cfcbf#diff-670a7e2e3a706378b2191ed8b28f4ccf): but the fix is neither backported to [2017

[2018-09-10 04:14] #39284 closed

[2018-09-10 06:34] saltstack-admin commented on #49556
Thank you for testing. With your comment I double checked my file and while on my local drive it is okay, after committing it into our repository the file endings got stripped off.
Sorry for bothering you, issue can be closed.

[2018-09-10 06:34] #49556 closed

[2018-09-10 08:43] gaetanquentin commented on #49529
the doc i am looking for is the one where it is said that to have an api equivalent of a cli command, we have to turn positional arguments  of cli commands (salt-cloud) into kwargs arguments named "func".

i have done new tests and i am quite confused, my report was incorrect:

- i wanted the api equivalent of:
salt-cloud -f list_hosts vcenter

So i guessed that it was the runner to call  in api b

[2018-09-10 09:13] Poil commented on #49554
My bad, it was a typo error on my side.

Best regards

[2018-09-10 09:13] #49554 closed

[2018-09-10 10:42] alexbe commented on #48333
No, my configs are mostly default centos7 configs:
`# grep worker_threads /etc/salt/master
#worker_threads: 5
# cores with appropriate worker_threads will not need these set as high.
`
Probably the only unusual thing i do is every 100 seconds i send to salt-api (cherrypy) GET request "/minions". And after about 12-15 hours of such a normal request process i'm getting 500 error on client side and t

[2018-09-10 10:48] nkrishnakishor commented on #49531
@damon-atkins thanks for the reply.

I have modified as suggested and run higstate.

[code]

[code]

[code]

But this time a different error.

#salt server1 state.highstate -l debug
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: 192.168.1.50
[DEBUG   ] Missing configuration file: /root/.saltrc
[DEBUG   ] Configuration file path: /

[2018-09-10 12:34] isbm commented on #42075
@tremon015 well. In my defence, this was a port from CFEngine. :stuck_out_tongue_winking_eye:
If seriously, your insight is very helpful. As original author of this thing, I kindly accept the blame here and  should consider to revamp all that thing again. To be honest, _personally_ I more prefer to keep current function but have it fixed and answer current problems with it.

I agree here that this

[2018-09-10 13:34] cachedout commented on #49575
@rallytime

Did you look at the Sphinx config? I vaguely remember having to mock these out once in the config to get the build to work because CherryPy was possibly getting in the way? It was a long time ago, though. Fixing this might not be easy.

[2018-09-10 13:36] cachedout commented on #49586
This is not typical performance but, of course, Salt's gitfs related to the performance of the git server itself. Do you have large objects in your repo? There are pretty well-known performance problems when serving large objects out of a git repo.

[2018-09-10 13:56] rossengeorgiev opened #49591 "[2017.7.7] salt-master with gitfs fails to start on centos7.5 with latest pygit2"
### Description of Issue/Question
salt-master with gitfs fails to start on centos7.5 with latest pygit2

### Setup
CentOS 7.5
Salt-Master 2017.7.7
python-pygit2.x86_64 0:0.26.4-1.el7

### Steps to Reproduce Issue

[code]

### Versions Report
[code]

[2018-09-10 14:17] damon-atkins commented on #49531
Unlike Windows, Unix/Linux is case sensitive.
`salt://win/repo-ng/asset-client/....` does not equal `/srv/salt/win/asset-Client/....`
Best place to debug items is on the minion.
e.g.
[code]

[2018-09-10 14:53] cavepopo commented on #49586
Hi @cachedout , thanks for the answer, define large objects ? We do have some old war, the whole repo is about 2Go, is that too big ?
I can see that for every request (state fetch) there is a 3 minutes "inactivity".
I'll get some debug info and come back here.

[2018-09-10 15:38] grinapo commented on #42075
I very much like @tremon015 's proposal, as `file` is not "a bit unclear" but very confusing, at least for me as a fresh user back then. Still it's a wrangling to get it done something properly. I was surprised back then to see that those use cases I needed look like extraordinary, since most of it cannot be done cleanly.
Also it has been noted along the way that `file` is the largest chunk of cod

[2018-09-10 15:48] tremon015 commented on #42075
No defense needed, I wasn't trying to place blame :) -- just trying to make clear where the current function is lacking. The main problem that I see is that it's simply unclear what the function is meant to do. In many of the PRs against **file.line** I have seen "solutions" that simply avoid this function (i.e. recommend to use **file.append** or **file.replace**) because those functions have a b

[2018-09-10 16:12] tremon015 commented on #42075
So, use-case # 1 for me: augmenting a vendor-supplied config file.

I don't want to use **file.managed** because the file could be 2000 lines of default settings, and I only care about changing one or two, and I don't want to chase down all the vendor changes on every release. I also can't rely on the order in which the lines appear being constant, so **file.line** with _before_ or _after_ won't w

[2018-09-10 16:28] Da-Juan commented on #37141
I have a new job now and unfortunately I don't use Salt anymore.
It seems that I was the only one interested by this feature so let's close it.

[2018-09-10 16:28] #37141 closed

[2018-09-10 16:29] Da-Juan commented on #40248
I have a new job now and unfortunately I don't use Salt anymore.
It seems that I was the only one interested by this feature so let's close it.

[2018-09-10 16:29] #40248 closed

[2018-09-10 16:41] rallytime commented on #49575
@cachedout I did poke around in there, yes, but there isn't anything that looks to resolve this issue. At least not with the CherryPy mocking. IIRC, mocking those functions is more to get the docs to build at all, not necessarily something that deals with builtins because of the way the classes are inherited. I'm not sure though because I'm not very familiar with the internals of sphinx. I think y

[2018-09-10 16:53] grinapo commented on #42075
My usual use case: ensure that a config option exists and of a given value, and it's replacing (or next to) the place it should be. Like:
* the file contains "# option: 123" and that get a _following_ line as "option: 666"
* the file contains "option: 456" (and no comment) and it gets replaced with "option: 666"
* the file does not contain the pattern, so it gets inserted (preferable where I want

[2018-09-10 17:12] tremon015 commented on #42075
use-case # 2: section-based config files

Let's pick a specific example, the Debian inetd.conf has the following layout (actually, with colons instead of underscores, but salt's cmdline parsing tries a dict conversion when it sees colons):

[code]

Now I want to register a tftp server and a bootps server:

[code]

So far, so good. But a configuration like this (which can easily happen when each se

[2018-09-10 17:36] Ch3LL commented on #49583
you should be able to just use `service.running` with `enable=True`. There is no need to call both of them.

So to show you the full example:

[code]

[2018-09-10 17:38] garethgreenaway commented on #49588
@JensErat Thanks for the report.  I've marked this issue as well as the PR in question to be back ported to 2018.3 and 2017.7.

[2018-09-10 17:41] tremon015 commented on #42075
use-case # 3: context-sensitive _before_ markers (from #40821)

In case a file has multiple sections, it is useful to specify the start and end boundaries between which a statement should be occurring, not just the file. In the case of nginx.conf:

[code]

Specifying both _after_ and _before_ here doesn't work because the _before_ match isn't unique. Yet, from the nginx configuration syntax point

[2018-09-10 17:54] twangboy commented on #49582
Sometimes you can pass `Not Configured` or None. Depending on the policy you're setting.

[2018-09-10 18:00] Ch3LL commented on #49586
setting trace instead of debug might show more information if there is inactivity and debug is not showing anything just fyi. look forward to the logs :)

[2018-09-10 18:40] garethgreenaway commented on #49591
@rossengeorgiev Thanks for the report.  Unfortunately I have been unable to reproduce this particular issue.

[2018-09-10 18:56] MTecknology commented on #49519
I have a strong personal dislike of firewalld for reasons such as this. If you use a tool like ferm, you can easily build a configuration before installing/activating the firewall with `- order: last`, as seen in [my own ferm states](https://github.com/MTecknology/salt-stuff/blob/master/states/sys/pkgs/ferm/init.sls).

[2018-09-10 19:49] garethgreenaway commented on #49587
@sundowner69 Thanks for the report.  Definitely seems to be a bug.  Native returners are not called properly.  We'll get this fixed.

[2018-09-10 19:53] hegyre commented on #42311
@VirtualAirwaves This is already fixed in SaltStack 2018.2 (but is not is 2017.7.7):
https://github.com/saltstack/salt/pull/44063/commits/1789ca93f905a56b0ab93a54afb1bcb4b3e9f58c

[2018-09-10 20:11] rallytime commented on #49588
Hi @JensErat - I have back-ported that fix to the 2017.7 branch in PR #49597 (the fix will then be merge-forward to 2018.3 as well.)

Thanks for letting us know!

[2018-09-10 20:39] getSurreal commented on #23125
@Tanoti You mentioned getting job data into elasticsearch but not using it as a job cache.  Could you point me in the right direction to read more about implementing that?  The title of [this article](https://docs.saltstack.com/en/latest/topics/jobs/external_cache.html) says storing job data, but then only talks about the job cache option.

[2018-09-10 20:49] garethgreenaway commented on #49587
@sundowner69 I spent some more time digging into this and this is actually the expected behavior:
[code]

Is the equivalent of running `salt-call --local` from the command line.  Neither one is expecting or using a local minion or a master, so returners are not available.

[2018-09-10 20:52] RyanHartje commented on #24858
oh, now you want to close this huh?

[2018-09-10 20:52] #24858 closed

[2018-09-10 21:04] #39288 closed

[2018-09-10 21:08] bartelsb commented on #41736
Jumping in here because we're seeing something similar. We're attempting to use syndication on AWS instances where the syndicate is in one private subnet and the salt MoM is in another private subnet. We have public-facing load balancers managing traffic to each subnet.

Does syndication require a persistent connection? If a connection goes down, is there any retry logic?

[2018-09-10 21:16] markjmiller commented on #49485
I ran into the same issue with salt-cloud and proxmox. The containers would be created through salt-cloud just fine, but would not start. It turns out that I was [using invalid MAC addresses](https://serverfault.com/questions/40712/what-range-of-mac-addresses-can-i-safely-use-for-my-virtual-machines) in my map file.

On your proxmox server, you can try to start your container in foreground mode an

[2018-09-10 22:04] #39185 closed

[2018-09-10 22:42] xenophonf commented on #47831
I hit this error using Salt 2018.3.2 on CentOS 7.5.1804 with the following file.directory state:

https://github.com/irtnog/comanage-formula/blob/44d628d485d22a4b99efab3b16f7c4494f1471c6/comanage/registry/init.sls#L63

There's a symlink at /opt/comanage-registry/app/webroot/img/logo.png, pointing to an optional logo file at ../../../local/webroot/img/logo.png.  This file doesn't exist on my system

[2018-09-10 22:45] nicholasmhughes commented on #49565
@garethgreenaway take a look at #49598 when you have a moment and let me know if that's what you were thinking.

[2018-09-10 22:53] nicholasmhughes commented on #49565
New functionality for posterity:
[code]

[2018-09-11 00:02] UtahDave commented on #49582
@twangboy I tried `None` without success. I'll try `Not Configured`. I've tried several variations of these both and I kept getting an error because it failed to convert the name to the SID.

[2018-09-11 01:48] lomeroe commented on #49582
If I remember right, cumulative_rights_assignments is set to true by default, so it defaults to adding to what is there (so the state is adding no one to the list when an empty list is passed).  To remove all users (i.e. set it to an explicit list), pass cumulative_rights_assignments=False to set it to exactly what you are passing.

On September 10, 2018 12:54:51 PM CDT, Shane Lee <notifications@g

[2018-09-11 06:10] Poil commented on #49591
No problem here but I'm on 2018.3.2

[code]

[2018-09-11 06:46] pengyao commented on #48860
I think the reason is minion start keepalive process first. The keepalive process is the parent process, will be exited by daemon operation.  @cachedout

[2018-09-11 07:29] Poil opened #49599 "saltclass master_tops custom grains & sdb"
Hi,

If I use saltclass to replace top-formula, should I keep a top-formula for custom _grains/_sdb or is there a native way in saltclass to distribute these ?

Best regards,

[2018-09-11 08:11] markuskramerIgitt commented on #49566
I tested above PR removes, it works and removes an error message.

[2018-09-11 08:11] #49566 closed

[2018-09-11 09:13] rossengeorgiev commented on #49591
Hi @garethgreenaway,

I've looked into this further and it seems to happen when `/var/cache/salt/master/` is empty. Clearing that directory is a prerequisite for the issue. After that salt-master fails to start on the first 2 tries, but on the 3rd is fine. My master config looks like so:

[code]

[2018-09-11 09:13] Tanoti commented on #23125
@getSurreal I'm sorry, I've not been following this. We dropped using elasticsearch as a job data store/cache a year ago and are implementing a DynamoDB system using an event bus engine instead.

[2018-09-11 09:17] kiemlicz commented on #11233
The need for this feature didn't vanish in the ether
Please re-open

[2018-09-11 09:37] tganzeboom opened #49600 "Installation error, probably releated to #28144"
### Description of Issue/Question

The GPG keys listed for the "Saltstack Repo" repository are already installed but they are not correct for this package.
Check that the correct key URLs are configured for this repository.

Failing package is: python-jinja2-2.7.2-2.el7.noarch

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

Can't, because the salt

[2018-09-11 10:38] sivann commented on #13476
Will you fix this as now salt can only be run by root.

[2018-09-11 11:58] nodermatt opened #49601 "Insert new line ignoring offset of previous/next line"
### Description of Issue/Question
I want to replace a line inside a configuration file (fun fact: a minion config) with a different value. For that I can use file.line in comination witht he replace mode which works as expected. However, I want the new line to start at the beginning of the file. Therefore I turned to the insert mode with the after tag to specify where, but unfortunately the new li

[2018-09-11 12:19] cavepopo commented on #49485
Thanks for the input @markjmiller , I do not specify any mac address in my map / profile or provider files, so I doubt a little that this to be the root cause...
I did not think about trying to start the container manually (although I use this often for debugging purposes), thanks a lot for reminding me about this ! I'll give it a try to ensure this is not mac address related, and perhaps finding

[2018-09-11 13:33] jdelic opened #49602 "[bug] salt.util.http implementations should all provide the same behavior"
Salt states and modules that need to make HTTP queries go through the `salt.modules.http` execution module, which itself delegates to `salt.util.http`. `salt.util.http.query` consists of three different implementations depending on what libraries are available, selected by the `backend` keyword parameter. The available backends are:

* `tornado` using tornado's HTTPClient (the default)
* `requests

[2018-09-11 13:57] jdelic opened #49603 "[RFE] Salt could use a pillar that provides initial random secrets and stores them on the master"
### Problem Space
A common way to introduce and manage secrets with Salt is to have a git submodule in your Salt configuration that contains them. Thereby your secrets are spread to a whole number of people in your organization. Other third-party solutions, like Hashicorp Vault or CertHub, provide you with good storage solutions, but have a chicken/egg problem while bootstrapping a cluster. There

[2018-09-11 14:37] dzhukov89 opened #49604 "Misunderstood file.prepend state behavior on dry-run"
### Description of Issue
Hello

E.g. we have salt formula like this:

[code]

When I call " state.highstate test=True" I always get "Result: False":

[code]

But when I call only "  state.highstate  " I get:
[code]

### Question
**Question**: Is it a bug or a feature?

### Report
[code]

[2018-09-11 15:15] sundowner69 commented on #49587
@garethgreenaway Thank you very much for the analysis. I am just curious, is there any technical reason for that limitation?

[2018-09-11 16:09] garethgreenaway commented on #49604
@dzhukov89 Thanks for the report. This appears to be a bug. We'll get this fixed.

[2018-09-11 16:11] garethgreenaway commented on #49603
@saltstack/team-core Thoughts?

[2018-09-11 16:12] garethgreenaway commented on #49599
@saltstack/team-core Anyone know saltclass care to weigh in on this question?

[2018-09-11 16:33] garethgreenaway commented on #49602
@saltstack/team-cloud This seems like a bug.  Thoughts?

[2018-09-11 16:54] tganzeboom commented on #49600
Seems to be related to issue #29094, missing the RPM-GPG-KEY-CentOS-7.

[2018-09-11 17:11] Ch3LL commented on #49529
ahh gotchya yea i think we would want to add the error here. I'll label this as a salt-api bug then to improve the error reporting here.

[2018-09-11 17:22] Ch3LL commented on #48333
can you include your --versions-report output so i can see your package versions?

also is there anything relevant in the debug logs before this occurs?

[2018-09-11 19:19] #49562 closed

[2018-09-11 22:01] terminalmage opened #49619 "Add an execution module to test load_yaml/load_json"
This would be a function that would import the same code used by our Jinja renderer to handle load_yaml/load_json, to be used as a sanity check so one can see what data that map file contains. This would be very helpful to troubleshoot instances in which the data that is loaded doesn't match what the user expects, resulting in SLS errors.

Additionally, it would be useful to also have an option to

[2018-09-11 22:13] MKelley80 commented on #45289
I can't reproduce this on Chrome 69.0.3497.81 or Firefox 62.0. The JavaScript that scrolls the page seems to be working fine.

Close? @rallytime, @gtmanfred, @garethgreenaway

[2018-09-11 22:50] terminalmage opened #49621 "Add a test.master_ping function"
This would be used by salt-call to ensure that the minion can talk to the master.

The code to do this already exists as part of the `ping_interval` config option, and could easily be adapted for this purpose.

[2018-09-11 22:57] #45289 closed

[2018-09-12 07:55] guettli commented on #45289
yes I can confirm that is is working now. I guess firefox got fixed. Thank you.

[2018-09-12 07:56] zyguy commented on #49559
@garethgreenaway Thank's for your time. I think that the other endpoint is just a renaming from the js webui and the final one is the good one used by the promox driver.

After seeking into the code why I raised this error and comment some part of the validation of `_get_properties()` to bypass the errors, i found that it should be around the lines 654 with the next() method use to return the para

[2018-09-12 08:07] dzhukov89 commented on #49604
@garethgreenaway you're welcome :)
Don't forget to delete output.txt before reproduce (dry-run)

[2018-09-12 08:47] mirceaulinic commented on #49221
Yes, @garethgreenaway I have noticed the same with the ``rest_example`` proxy minion as well. Please note that this occurred when running the Proxy Minion process as Docker container. It appears that the defunct processes are caused by scheduled `state.highstate` or `state.apply`.

[2018-09-12 11:21] tganzeboom commented on #49600
..... continuing here

metadata_expire = 1
sslclientcert = /etc/pki/entitlement/8204124746525827413.pem
baseurl = https://somewhere.com/pulp/repos/somewhere/Library/rhel7_P/custom/Saltstack/Saltstack_Repo
sslverify = 1
name = Saltstack Latest Release Channel for RHEL/Centos $releasever
sslclientkey = /etc/pki/entitlement/8204124746525827413-key.pem
#gpgkey = https://somewhere.com/katello/api/repos

[2018-09-12 12:20] PabloLemos opened #49626 "target grains ip_interface no return received"
### Description of Issue/Question
I need to list those machines that are located in a certain network. For this I usually use the grains ip_interfaces and so far it has worked for me; but I'm currently getting the following error when I try to list the machines.

[code]
Filtering the logs I see the following error message
[code]
However, when I consult for other grains; for example kernel, I get t

[2018-09-12 13:11] garethgreenaway commented on #49221
@mirceaulinic thanks!  This is more to go on. I'll see if I can reproduce it. :grinning:

[2018-09-12 13:18] alexbe commented on #48333
[code]
I can't see any significant between normal operation and the exception. Following is the part of /var/log/salt/api logged after normal salt.client response:
`
2018-09-12 00:22:18,795 [cherrypy.access.140197369975504:299 ][INFO    ][26508] 127.0.0.1 - - [12/Sep/2018:00:22:18] "POST / HTTP/1.1" 200 45 "" ""
2018-09-12 00:22:20,728 [salt.client      :236 ][DEBUG   ][26508] Checking whether jid

[2018-09-12 13:43] austinbenincasa opened #49627 "AttributeError: 'module' object has no attribute 'UDPLogstashHandler'"
### Description of Issue/Question
 Logstash UDP Module is failing to start. The following stack trace is printed in /var/log/salt/master

[code]

### Setup

This is was it defined in my master config file.

[code]

### Steps to Reproduce Issue

This error should be printed whenever you try to deploy a salt state. With the LogstashUDPHandler configured

### Versions Report

[code]

[2018-09-12 14:31] rallytime commented on #40491
@cavepopo Great! Thank you for the update. Can we close this issue?

[2018-09-12 14:39] lomeroe commented on #49582
to expand on my previous comment, this *should* work to remove all users:

[code]

The cumulative_rights_assignments argument is intended to determine if lgpo will make sure the listed users have the right (True) or that the right matches the list exactly (False).

[2018-09-12 14:40] #48915 closed

[2018-09-12 14:43] #49565 closed

[2018-09-12 16:33] rallytime opened #49628 "Write lint rules for os.errno checks"
As referenced in this https://github.com/saltstack/salt/pull/49580#issuecomment-419915983, we need to add some lint rules to check for os.errno for Python 3.7 support.

I am filing this issue as a follow up to that PR.

@garethgreenaway Can you get this added as a follow up to your PR?

[2018-09-12 16:54] sjorge commented on #49469
Alright part of this got merged now, salt.modules.pkgin will present it self as pkg for all platforms where it is the primary provider... as pkgin on others. Which include OmniOS, OpenIndiana, ...

[2018-09-12 16:55] sjorge commented on #49469
Whats left now is some loader stuff and to make the pkg state use the correct module as given to it by the provider.

[2018-09-12 17:14] sheagcraig opened #49631 "macOS: Custom grains in file_roots/_grains do not get executed"
### Description of Issue/Question
Following the documentation regarding custom grains modules:

results in the minion not seeing the modules contained within.

Specifying the path to the same directory with the minion config option grains_dirs allows salt to see the custom grains.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
For what it's worth,

[2018-09-12 17:16] sheagcraig commented on #49631
Also, separate issue, but I thought I'd comment as it's been throwing me. I have to delete any pyc files from the `_grains/__pycache__` after I make any changes to the source as salt must be using the pyc? Am I just doing things wrong, or is this an issue?

Thanks!

[2018-09-12 17:55] Ch3LL commented on #49626
i'm having a hard time replicating this:

[code]

Did you recently upgrade? i'm also wondering if there is something in the minion cache from teh older minion versions that is possibly causing the issue

[2018-09-12 17:57] Ch3LL commented on #49627
what version of logstash are you using?

[2018-09-12 18:09] austinbenincasa commented on #49627
I am using Logstash 6.4.0

My Logstash config is

[code]

[2018-09-12 19:33] cro commented on #49221
@garethgreenaway Is this fixed in the head of 2018.3?  I'm wondering if this is the issue @terminalmage is working on where `os.exit()` doesn't seem to return the value we need.  You might ask him in case this is a further clue.

[2018-09-12 19:36] garethgreenaway commented on #49221
@cro I wasn't able to duplicate it outside of Docker. That's the next step.

[2018-09-12 19:51] PabloLemos commented on #49626
@Ch3LL  Thanks for answering so fast!!!

Yes, im recently upgrade the master.

My salt infrastructure is extensive (about 800 minions). I have filtered by the salt version to go over the grains ip_interfaces and I have not obtained any error information in the logs.

**An example of 2014 versions:**
[code]
**An example of 2015 versions:**
[code]

I have also tried to empty the cache of all the min

[2018-09-12 19:57] mike2523 commented on #49582
@lomeroe - `cumulative_rights_assignments=False` fixed this up for me. Thanks for the insight! These really need to be in docs :)

[2018-09-12 20:14] Ch3LL commented on #49631
you will need to make sure you run `saltutil.sync_grains` after adding your custom grains to `_grains`, this will put the file where the minion is expecting. The `grains_dirs` is just an option to specify an additional path to look for grains, which you can approach it that way if you want to as well.

The issue you specify in the additional comment is a known issue and should be fixed in the next

[2018-09-12 20:16] Ch3LL commented on #48333
thanks for the additional information. ping @saltstack/team-netapi any ideas here?

[2018-09-12 21:16] weswhet commented on #49631
@Ch3LL for "this will put the file where the minion is expecting" is that somewhere in  `/var/cache/salt/minion/`?

[2018-09-12 21:29] The-Loeki commented on #39718
it's not stale. It's related to #16835

[2018-09-12 22:44] Oloremo commented on #27790
This feature available in every mature automation system, it should be in Salt. I fully agree with @ChrisLundquist here, even if it's not 100% accurate it's a good starting point for many deployments.

[2018-09-13 00:27] sheagcraig commented on #49631
Hi @Ch3LL - thanks so much for the comment.

Maybe this is more of a documentation thing then? I've definitely seen the information about the "chicken and egg" situation, but I thought that it didn't apply because to me it looks like the saltutil.sync_all or saltutil.sync_grains are about copying the modules from the master to the minion. In our case, we're running masterless, and the modules are

[2018-09-13 06:32] cavepopo commented on #40491
Yes sure, thanks again for the good job.

[2018-09-13 06:42] cavepopo commented on #49485
I ran into this just now, and as I suspected the error is not manually reproducible, right after the error I can start the vm through the proxmox webui without any problem.

I highly suspect this issue being caused by proxmox api not getting the "start" command in a correct way, or not handling it the correct way... (note that this is only a feeling and absolutely not based on a analysis :( )

[2018-09-13 07:24] SuperPommeDeTerre opened #49636 "RSS feed of SaltStack blog"
### Description of Issue/Question
Hey, you guys have a blog without an RSS/Atom feed. :)

http://www.saltstack.com/blog/

(Seems a regression since #8298)

[2018-09-13 08:41] mostynb opened #49637 "pkg.installed lacks a good way to install deb packages with a specific architecture"
### Description of Issue/Question

The pkg.installed state does not seem to have a good way to install a specific architecture of a .deb package.  I basically want salt to run something like "apt-get install zlib1g:i386" on an amd64 ubuntu machine, but when I use the name zlib1g:i386 I get a warning that this is a virtual package and support for this will be removed in the flourine release (and by

[2018-09-13 09:04] #39020 closed

[2018-09-13 10:13] gaetanquentin opened #49640 "pillarenv ignored in state.apply: "Specified SLS ...in environment 'base' is not ain environment 'base' is not available on the salt master"
### Description of Issue/Question
Even if specifying saltenv and pillarenv, salt search pillars in base environment in a state apply.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

master:
---------
[code]

Salt Version:
           Salt: 2017.7.7

Dependency Versions:
           cffi: Not Installed
       cherrypy: 3.2.2
       dateutil: 1.5

[2018-09-13 10:51] afletch commented on #5050
How far did this get, can modules currently be passed to unless/onlyif? If so, what is the format for this?

[2018-09-13 14:04] rallytime commented on #40491
Thank you for following up! ;D

[2018-09-13 14:04] #40491 closed

[2018-09-13 14:06] rallytime commented on #27790
Thanks for following up here everyone. I will re-open!

@Ch3LL Looping you in here - can you follow up on this issue when you get a moment? Just so someone currently at Salt can re-triage this as needed.

[2018-09-13 15:39] garethgreenaway commented on #49637
@terminalmage Kicking this over to you since you were dealing with virtual packages and the `pkg` modules.

[2018-09-13 15:52] eoswald commented on #48667
Have the same issue. It seems like since the virtualenv command gets passed down to "cmd.run_all" it should be allowed to use the "env" kwarg in "virtualenv.managed" and "virtualenv.create". That might be confusing to have "env" and "env_var" though.

[2018-09-13 17:04] #39327 closed

[2018-09-13 17:04] #39326 closed

[2018-09-13 18:04] #39360 closed

[2018-09-13 18:11] iavael commented on #48665
Is there any CVE for this vulnerability?

[2018-09-13 18:21] metabsd opened #49645 "Feature Request"
### Description of Issue/Question

It's a feature request. There a way to find the status of a user.

### Setup
`salt '*' user.info titi`

See if password is defined or empty.
See if account is locked.
Other usefull information about account management.

### Steps to Reproduce Issue

[code]

### Versions Report
[code]

### Thank you!!!

[2018-09-13 21:27] terminalmage commented on #49637
Are you installing this from some alternate repository? I get this when I try to install on Ubuntu 16.04:

[code]

[2018-09-13 21:31] garethgreenaway commented on #49637
@terminalmage You might need to enable the other architecture.  https://wiki.debian.org/Multiarch/Implementation

[2018-09-13 21:55] colin-stubbs opened #49649 "Can't set HTTP headers as arg to s3.put to ensure correct Content-Type is set"
### Description of Issue/Question

### Setup

Using module.run s3.put to place HTML files in an S3 bucket.

### Steps to Reproduce Issue

Try using s3.put to place an object into an S3 bucket.
As s3.put has no header argument available the correct Content-Type will not be set, e.g. text/html
The default is binary/octet-stream and this is what is currently set for any objects created using s3.put

[2018-09-13 22:01] mostynb commented on #49637
I think you can run "dpkg --add-architecture i386" and then "apt-get update ; apt-get install zlib1g:i386" (all as root).

[2018-09-13 23:04] #39338 closed

[2018-09-14 00:04] #20805 closed

[2018-09-14 00:04] #39371 closed

[2018-09-14 01:04] #39203 closed

[2018-09-14 09:47] #24225 closed

[2018-09-14 11:14] nkrishnakishor commented on #49531
@damon-atkins thanks for the reply.

I have tried as suggested in minion but get the same error.

Please suggest.

[2018-09-14 11:36] gf-orgx commented on #49210
Hi! Which branch should I push this PR for?

[2018-09-14 12:47] #32207 closed

[2018-09-14 13:10] damon-atkins commented on #49531
May everything lowercase on the master (files/directories) and in the configuration files

[2018-09-14 13:15] damon-atkins commented on #27790
You need to thumbs up the original opening comment so it is sort higher.
[Issues Sorted by Top Thumbs Up](https://github.com/saltstack/salt/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc)

[2018-09-14 13:55] Oloremo commented on #46665
+1

[2018-09-14 14:01] gaetanquentin commented on #44395
thanks, you can close.

[2018-09-14 14:10] #44395 closed

[2018-09-14 14:52] alexz-kh opened #49653 "repo.saltstack.com ubuntu16 making apt crazy"
### Description of Issue/Question
`apt` not able to proceed auto-install\update .

### Setup
[code]

### Steps to Reproduce Issue
Configure usual ubuntu 16 repo + salstack16 repo.
Enable basic pining for saltstack repo (see setup description)

Try to run upgrade \ install libsodium18 multiple time.
`apt` will *always* try to downgrade:
[code]

Exact problem here, that you'r not able to automate pr

[2018-09-14 15:07] snlnspc commented on #11233
I was surprised to learn that roster.d/ isn't supported already. this would be very useful.

[2018-09-14 15:09] Oloremo commented on #12867
This feature is very needed.

[2018-09-14 15:12] Oloremo commented on #15845
I agree, progress outputter doesn't solve the original issue

[2018-09-14 15:16] weswhet commented on #44721
@Ch3LL this has been fixed, can we close this issue?

[2018-09-14 15:39] #44721 closed

[2018-09-14 15:41] twangboy commented on #49582
@lomeroe Oh, yeah... I forgot about that. Good catch!

[2018-09-14 15:41] #49582 closed

[2018-09-14 16:08] mattLLVW commented on #49392
Actually, it could be achieved with:

[code]

But i don't really find it satisfying. I would assume that changing the ip using `host.present` would actually change the ip, not add another entry.
Adding another entry is useless since only the first one is taken into account.

Would you accept a MR to change `host.present` to have this behavior?

[2018-09-14 16:11] jantonacci commented on #30574
Hi @SteffenKockel ,

Ran into an errant YAML character I could not find in a Jinja2 template recently too.  This code helped finding my issue:
[code]

Hpe you find this helpful.  Basic usage is `check_state.py FILENAME`.

Ciao,
Jason

[2018-09-14 17:13] dxiri commented on #32619
facing this exact same issue ([WARNING ] There's no master defined on the 'testvm01' VM settings.
) but with KVM/QEMU using Salt cloud libvirt provider.

The problem turned out to be that my base domain was on a different path than the default of /var/lib/libvirt/images/. I stored my salt-created VMs on /srv/salt-images, and even though salt cloud could see the volume just fine, it complained and

[2018-09-14 17:47] #39331 closed

[2018-09-14 18:47] #39387 closed

[2018-09-14 19:32] Ch3LL commented on #49645
Can you elaborate what the feature request is? Are you requesting user.info to return an account locked status as well?

[2018-09-14 19:51] hrumph opened #49659 "win_system.join_domain taking to long to reboot"
### Description of Issue/Question
win_system.join_domain taking to long to reboot

### Setup
We might have a state file like so:
[code]

### Steps to Reproduce Issue
We might invoke the state as follows:

[code]
The reboot only occurs after a timeout of 5 minutes and there is no option to change that. Furthermore employing the _system.reboot_ state with the _only_on_pending_reboot_ option set to _

[2018-09-14 20:47] #39310 closed

[2018-09-14 20:47] #39156 closed

[2018-09-14 21:23] hrumph opened #49660 "win_system.join_domain returning empty change dictionary"
### Description of Issue/Question
win_system.join does not return a changes dictionary even if changes are made.

[2018-09-14 21:36] ephreal opened #49661 "Issues starting salt-master or salt-minion with openssl-1.1.1-1"
### Description of Issue/Question
Some incompatibility exists between openssl-1.1.1-1 and salt 2018.3.2-2. I am using Archlinux fully updated (pacman -Syu). Downgrading to openssl-1.1.0.i-1 solves the issue, but makes me worry about updating my system and breaking things again.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Any install should prov

[2018-09-14 21:47] #38730 closed

[2018-09-14 21:47] #39147 closed

[2018-09-14 23:30] doesitblend opened #49663 "Beacon only fires to single random master in HA mode"
### Description of Issue/Question
We are seeing an issue where certain beacons are only firing to a single random master. In particular this happens with the `inotify` and the `process` beacon. The problem occurs when the beacon is firing with at least one master down in an HA environment.

@DmitryKuzmenko is already aware of this issue and some of the details.

What we expect to see is that the b

[2018-09-15 01:08] whiteinge commented on #33309
_glares at stalebot_

[2018-09-15 06:38] mchugh19 commented on #39647
Centos 6 is still not end of life

[2018-09-15 12:37] #25504 closed

[2018-09-15 16:13] alem0lars commented on #46884
Any workaround?

[2018-09-15 16:45] nkrishnakishor commented on #49531
@damon-atkins  thanks for the reply.

I have checked the file contents and run below command from minion and got error as below.

[code]

![error_install](https://user-images.githubusercontent.com/30660903/45587793-79e9dc80-b928-11e8-9bc7-8d2abf5cd090.JPG)

Can you hep me out.

[2018-09-15 17:37] #19081 closed

[2018-09-15 17:37] #29056 closed

[2018-09-15 17:37] #39473 closed

[2018-09-15 17:37] #39510 closed

[2018-09-15 17:37] #39500 closed

[2018-09-15 17:37] #39513 closed

[2018-09-15 17:37] #39523 closed

[2018-09-15 17:37] #39495 closed

[2018-09-15 17:37] #38508 closed

[2018-09-15 17:37] #39491 closed

[2018-09-15 17:37] #39566 closed

[2018-09-15 17:37] #39529 closed

[2018-09-15 17:37] #26365 closed

[2018-09-15 17:37] #39557 closed

[2018-09-15 17:37] #39509 closed

[2018-09-15 17:37] #15393 closed

[2018-09-15 17:37] #39547 closed

[2018-09-15 17:37] #33089 closed

[2018-09-15 17:37] #39563 closed

[2018-09-15 17:37] #39612 closed

[2018-09-15 17:37] #39616 closed

[2018-09-15 17:37] #39622 closed

[2018-09-15 17:37] #39620 closed

[2018-09-15 17:37] #29790 closed

[2018-09-15 17:37] #39561 closed

[2018-09-15 17:37] #38801 closed

[2018-09-15 18:37] #31891 closed

[2018-09-15 18:37] #38116 closed

[2018-09-15 18:37] #39359 closed

[2018-09-15 18:37] #38886 closed

[2018-09-15 18:37] #39246 closed

[2018-09-15 18:37] #39441 closed

[2018-09-15 18:37] #39465 closed

[2018-09-15 18:37] #39475 closed

[2018-09-15 18:37] #38510 closed

[2018-09-15 18:47] dereckson commented on #47365
On FreeBSD 11.2, with 2018.3.1 (current ports version), I can repro the issue.

After manually applying 205abe209d5d8af6db2a619fa0c97de26f7b4256 + clearing pycache, it solves the issue.

[2018-09-15 18:51] dereckson commented on #47006
On FreeBSD 11.1 and 11.2 machines, with 2018.3.1 (current ports version), I had the same issue.

After manually applying 205abe2 + clearing pycache, it solves the issue:

(1) no more mention of the issue in the logs when command runs with -ldebug

(2) Expected osrelease grain value:

[code]

[2018-09-15 22:57] theWizK commented on #46891
I'm having the same issue after upgrading to salt-ssh-2018.3.2-1.el7 (rpm version).  I also tried executing from virtualenv:

Salt Version:
           Salt: 2018.3.2

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Insta

[2018-09-15 23:37] #39457 closed

[2018-09-16 02:06] damon-atkins commented on #49531
When you run salt-call you need to be Command Prompt with Run as Admin
[code]
You also need to make sure the package definition has flags for a silent install.

Looks like your getting closer.

[2018-09-16 02:42] oogali commented on #39112
This issue is a duplicate of #33921.

[2018-09-16 15:44] Oloremo opened #49665 "salt-ssh with ansible roster is broken?"
### Description of Issue/Question
Look like salt-ssh with ansible roaster is broken or maybe I'm doing something wrong?

### Steps to Reproduce Issue
[code]
[code]

### Versions Report
[code]

[2018-09-16 17:14] garethgreenaway commented on #49665
@gtmanfred When you're back from your PTO, perhaps you could weigh in on this one.

[2018-09-16 17:16] garethgreenaway commented on #49663
I believe the way it currently works is by design.  If you have the beacon fire to all masters then you're going to have all the masters potentially reacting to the event, which could end up with duplicate work.

[2018-09-16 17:30] dwfreed commented on #49660
I don't think you intended to tag me.  Perhaps you meant dwoz?  (I've never touched either the win_system execution module or the state module)

[2018-09-16 17:31] garethgreenaway commented on #49649
@colin-stubbs Thanks for the report and the PR!

[2018-09-16 17:33] garethgreenaway commented on #49660
@dwfreed Apologies. Wasn't paying attention to the auto-complete. :)

[2018-09-16 17:59] garethgreenaway commented on #49653
@dmurphy18 Thoughts?

[2018-09-16 21:04] mirceaulinic commented on #39961
Please let's keep this open, I hope that I will have time to solve this soon.

[2018-09-16 23:57] garethgreenaway commented on #49661
@ephreal Thanks for the update.  I'll go ahead and close this one since the issue is fixed.

[2018-09-17 05:58] disaster123 commented on #6237
this issue is still valid

[2018-09-17 06:19] kenanbiel opened #49667 "IPv6 egress rule is not being pushed to AWS security groups"
### Description of Issue/Question

I'm trying to make my AWS security group persistent but IPv6 part is failing.

### Setup
I have two cases:

1) cidr and cidr_ipv6 is only in one block
[code]

- With this one, i don't get an error but IPv6 is not applied, only the IPv4 rules.

2) I've separated the IPv6 cidr block.

[code]
With this one, i get an error:

[code]

Based on this i'm assuming cidr_ip

[2018-09-17 07:36] nkrishnakishor commented on #49531
@damon-atkins thanks for the reply.

Finally able to install the package from master but i need to start a service for the application to run successfully. How can we accomplish it.

One more point, i need to restart the minion before installing the package. How can i accomplish it.

[code]

[code]

[2018-09-17 13:16] ealphonse commented on #39861
I will upgrade to 2017.7.7 to test if fixed or easy to fix, in a couple of weeks.

[2018-09-17 13:42] romanows commented on #27400
@jbkc85 's solution worked in my case.  Installing "vim" with Salt 2017.7.7 was succeeding on the minion (CentOS 7.5 VM) although it was reported as failing on the master.  If I instead used the package name "vim-enhanced", which is the name the package manager prefers, then it all works.

[2018-09-17 14:34] rares-pop commented on #49621
I'm trying to understand when would this be useful.

Doing a salt-call without the --local, won't do this?

There is also the status.master module which is doing something similar. Or I got it all wrong?

[2018-09-17 14:46] mchugh19 opened #49671 "Vault execution module broken in pillar lookups"
### Description of Issue/Question
When using salt minions connected to a master, where the **master does** have access to a vault endpoint, but the **minion does not**, placing a vault.read_secret into a pillar should fail. As of 2018.3, this broke and those lookups now succeed.

### Steps to Reproduce Issue
For the case of vault lookups in a pillar, the master should be running the vault token ge

[2018-09-17 14:51] sjtbham opened #49672 "pkg.installed not working correctly on ppc64le architecture"
### Description of Issue/Question
When running on `ppc64le` systems, with architecture based packages, salt is trying to repeatedly install the package when it is already installed. For example we want to ensure the `iptables` package is installed on the system via salt. This works as expected on `x86_64` arch systems, but doesn't work properly on `ppc64le` systems.

### Setup
Example state for pa

[2018-09-17 15:17] sjtbham commented on #49672
Looks to be related to similar report:
https://bugzilla.redhat.com/show_bug.cgi?id=1461288

i.e.
[code]

does not match the name used in the rpm, both `grains/core.py` and `utils/pkg/rpm.py` seem to use the rpm macro for the osarch.

[2018-09-17 16:15] terminalmage commented on #49621
@rares-pop good point. I actually was suggested to write this func at SaltConf and was not aware of `status.master`. That function seems to be better suited to this task, so I'll close this.

[2018-09-17 16:15] #49621 closed

[2018-09-17 16:27] basepi commented on #12867
@gtmanfred Pinging to get a current salt employee on this ticket

[2018-09-17 16:48] PabloLemos commented on #49626
Checking the information of some windows servers I have verified that the name of the network interface has extended ASCII characters:

[code]

Can this be the cause of the exception that appears in the salt logs?

Thanks!!

[2018-09-17 17:00] #39658 closed

[2018-09-17 17:00] #39663 closed

[2018-09-17 17:00] #39661 closed

[2018-09-17 18:00] #39677 closed

[2018-09-17 18:00] #39678 closed

[2018-09-17 18:19] hrumph commented on #49659
Please forget everything I said about usage of the the reboot_required_witnessed function. That's not a good idea. I realise that the system.get_pending_domain_join function exists and my real problem is that it is returning False even after a successful domain join. I will file another bug about that. I am going to close this bug because it's not relevant right now.

[2018-09-17 18:19] #49659 closed

[2018-09-17 18:19] garethgreenaway commented on #49667
@kenanbiel Thanks for the report.  It appears that the Salt modules that the state module is using behind the scenes does not support using IPv6 values.  Since this would be a new addition, I've marked this as a feature request for a future release.

[2018-09-17 18:22] hrumph commented on #49660
versions report is as follows:
[code]
the salt minion version is also 2018.3.2 (64 bit Python 3)

[2018-09-17 18:41] hrumph opened #49675 "win_system.get_pending_domain_join returning False after successful domain join"
### Description of Issue/Question
win_system.get_pending_domain_join is returning False even though PC was just joined to an AD domain
### Setup
Here is a state file which renames and joins then attempts a reboot.
[code]

### Steps to Reproduce Issue
We can run the above state file with:
[code]

We will then get the following output:
[code]

(Note that the changes dictionary in the "join domain" s

[2018-09-17 18:52] garethgreenaway commented on #49672
@sjtbham Thanks for the report.  Do all the architecture packages include `ppc64le` or are do some of them include `powerpc64le`?

[2018-09-17 18:53] garethgreenaway commented on #49675
@twangboy @dwoz FYI.

[2018-09-17 19:00] #39687 closed

[2018-09-17 19:34] hrumph commented on #49675
I have identified the error.
It's in this section of code here:

[code]
Notice that _vname_ is being set literally to _(default)_, but that's not what the reg module wants for specifying the default value. It appears that it should either be set to _None_ or not passed. I imagine that this error is probably repeated throughout this module but I haven't checked.

[2018-09-17 19:43] dmurphy18 commented on #49653
@alexz-kh Initial thoughts are that a version of a package was built with libsodium18 and is expecting it to be available.  For example: zeromq library libzmq5

root@david-VirtualBox:/home/david# apt-cache depends libzmq5
libzmq5
  Depends: libc6
  Depends: libgcc1
  Depends: libsodium18
  Depends: libstdc++6
root@david-VirtualBox:/home/david#pt-cache policy libzmq5
libzmq5:
  Installed: 4.1.4-7

[2018-09-17 20:03] twangboy commented on #49675
I'll take a look at it

[2018-09-17 20:11] doesitblend opened #49680 "Beacon events handled differently than event.send"
### Description of Issue/Question
I would like to open a discussion about how events are fired from the minion side. This discussion is brought up in observance of a difference between how beacons emit events versus how `event.fire` emits events. The difference really shows up in HA environments where the first master listed in the minion configuration is down. The problem was noticed in an HA env

[2018-09-17 20:11] twangboy commented on #49675
@hrumph Could you post the contents of `SYSTEM\CurrentControlSet\Services\Netlogon` on a system that requires reboot (sanitized of course, if needed)?

[2018-09-17 20:19] morsik opened #49681 "Missing Minions - strange behaviour after enabling auto_accept and refresh_modules"
### Description of Issue/Question
Doing `saltutil.refresh_modules` after setting `auto_accept: true` have some strange behaviour.

### Setup
Setup some minions.

### Steps to Reproduce Issue
1.
[code]
2. Edit `/etc/salt/master` and set `auto_accept: true`.
3. Refresh modules using `salt-call saltutil.refresh_modules`.
4. Remove keys using `salt-key -D`.
5. Confirm:
[code]
6. Try to ping Minions...

[2018-09-17 20:32] austinpapp commented on #49680
i think we need to better understand why a beacon should fire event to random master versus broadcast versus... something else?

its well understood that `event.send` broadcasts. is there a reason `event.send` would broadcast over  picking a random master? i would ask the same question as to why a beacon would pick a random master over broadcasting.

[2018-09-17 20:38] travispaul opened #49683 "Beacon Interval not being applied correctly when using the beacon state module"
### Description of Issue/Question
When adding a beacon interval using the beacon state module, the interval is not added to the minion correctly.

### Setup

[code]

### Steps to Reproduce Issue

[code]

beacons.conf on the minion:

[code]

### Versions Report
[code]

[2018-09-17 20:41] hrumph commented on #49675
@twangboy, I'll do it if you ask if you ask again, but it's not necessary. Both of the tested for keys do exist (i.e. _AvoidSpnSet_ and _JoinDomain_). For both of them the value assigned to the name _(default)_ is not set.

[code]
returns the following:
[code]
Passing '(Default)' as an explicit name for a name value pair is not what the reg module wants. If instead I don't pass anything I'll get
[

[2018-09-17 20:42] austinpapp commented on #49680
@garethgreenaway made a comment here https://github.com/saltstack/salt/issues/49663#issuecomment-421798604 and he is right. **most** people don't want redundant execution of a reactor given an event. however, some people may want that to happen.

so, i think a potential thought is that you make the exec mod `event.send` have the option to randomly pick a master to send the event (if the minion is

[2018-09-17 20:43] twangboy commented on #49675
I guess what I'm asking is if the `AvoidSpnSet` is a folder or a value/pair inside the folder. If so, there should be a default value/pair.

But you're saying that if you set `vname=None` then this works, is that right?

[2018-09-17 20:51] twangboy commented on #49675
OK, so they're keys. Yeah, passing `(Default)` fails if you're trying to actually read the default value. I get it now.

[2018-09-17 21:05] hrumph commented on #49675
@Twangboy would you like me to do the PR?

[2018-09-17 21:34] grandmasterv opened #49686 "Jinja error: Unable to parse now. Consider installing timelib"
### Description of Issue/Question
I'm having an issue with [timelib](https://pypi.org/project/timelib/) in states using Jinja.  The statement `{{ 'now' | strftime('%Y-%m-%d_%H-%M') }}` works fine on my minion when I apply the state using a local `salt-call` but when I try to apply the state from my master I get `Jinja error: Unable to parse now. Consider installing timelib`.  timelib is installed

[2018-09-17 22:25] briancain opened #49687 "Open Source website has dead link to docs site"
👋 Hi! I was going to see if I could fix this in a PR, but I can't find your repo for the site https://s.saltstack.com/salt-open-source/. Apologies if this is the wrong repo for this.

### Description of Issue/Question

https://s.saltstack.com/salt-open-source/ links to its `GET STARTED` documentation at https://docs.ssaltstack.wpengine.com/en/latest/ , which can't be reached. Instead, it should pr

[2018-09-17 23:05] grandmasterv commented on #49686
Ok I found a work around.  I still believe my first jinja statement should of worked on the master though.

`{{ None | strftime('%Y-%m-%d_%H-%M') }}`

[2018-09-18 01:52] mngan commented on #47961
I found a few things that were stopping this from working. If you specify the community as a dictionary then _clear_community_details bombs out due to a typo. The community defaults should also include acl so that a dict comparison will work properly. But the main one is that the logic for the diff is all messed up. If the value is None in both the previous and current dicts then it will always tr

[2018-09-18 03:00] #24222 closed

[2018-09-18 08:11] sjtbham commented on #49672
On the node I'm testing on ...
[code]

Returns nothing, so looks like they are most likely all `ppc64le` no `noarch` packages. I looked in the install repo directory as well and they all look to be the same.

[2018-09-18 10:07] mts-avco commented on #44057
Would it be possible to add this restriction to the documentation? There's no mention of supported systems in https://docs.saltstack.com/en/latest/ref/states/all/salt.states.proxy.html

[2018-09-18 11:14] DmitryKuzmenko commented on #49680
I agree, we shouldn't change the default behavior here, but we should give people an option to notify the only one master at a time. Or maybe to have any other way to not activate reactors on all masters by one event.

[2018-09-18 11:42] austinpapp commented on #49680
@DmitryKuzmenko thanks for your comments. @mattp- and i are working on something that may address your last comment. 👍 however, that solution may not be for everyone. anyway, i think an option to randomly pick an **alive** master is very useful.

[2018-09-18 11:47] gaetanquentin opened #49691 "file.replace never reply false, only true or """
### Description of Issue/Question
in search mode and dry_run mode:
file.replace never reply false, only true or ""

### Setup
master: (Linux)
Salt Version:
           Salt: 2017.7.7

Dependency Versions:
           cffi: Not Installed
       cherrypy: 3.2.2
       dateutil: 1.5
      docker-py: Not Installed
          gitdb: 0.5.4
      gitpython: 0.3.2 RC1
          ioflo: Not Installed

[2018-09-18 13:15] eric-anderton-at-sony commented on #47001
My team is still seeing this bug, as of SaltStack `2018.3.2`.  Jinja appears to be using `repr()` somewhere under the hood to serialize types like `list` and `OrderedDict`, which is causing python-style `u` prefixed strings to show up in various places.  I'd like to ask that this bug be raised in priority.  Sending all our mapped pillar data (e.g. map.jinja) through the json filter just in case we

[2018-09-18 15:17] awerner opened #49698 "hashutil.base64_encodefile fails on python3"
### Description of Issue/Question

On Ubuntu 18.04, both with the packaged version and the version from repo.saltstack.com, trying to use `hashutil.base64_encodefile` raises an `AttributeError`.

### Steps to Reproduce Issue
[code]
produces:
[code]

### Versions Report
[code]

[2018-09-18 15:26] rickh563 commented on #49663
ZD-2774

[2018-09-18 15:26] rickh563 commented on #49680
ZD-2774

[2018-09-18 15:57] bobbysmith007 opened #49699 "win_lgpo error: windll.GetSystemDefaultUILanguage - int object has no attribute replace"
### Description of Issue/Question
https://github.com/saltstack/salt/blob/develop/salt/modules/win_lgpo.py#L132
produces AttributeError: 'int' object has no attribute 'replace'

`    INSTALL_LANGUAGE = locale.windows_locale.get(
        windll.GetSystemDefaultUILanguage(), 1033).replace('_', '-')`

It should be either:

`    INSTALL_LANGUAGE = str(locale.windows_locale.get(
        windll.GetSystem

[2018-09-18 16:00] mattp- commented on #49680
beacons exist on a per minion object basis (in the context that there is a minion object per master in an N master configuration, managed by MinionManager).  It's not that that the minion is handling things in serial, but the mininon is by default using sync=True with minion._return_pub(); zeromq blocks on the connection failure for each down master.

I think it makes sense for all minion interact

[2018-09-18 16:01] grandmasterv commented on #49686
Ok found that this also works.  Guess it was an issue with me putting the path in quotes.  Although I still find it strange that it worked with salt-call and not from salt master.  I'll close the issue.
[code]

[2018-09-18 16:01] #49686 closed

[2018-09-18 16:33] garethgreenaway commented on #49680
In speaking with @doesitblend about this, it's my understanding that the desired situation for beacon events is the following.

In the event of having multiple masters and multiple minion processes connected to those masters, we need a way for a minion process to detect whether the master that it is connected to is down before picking up a beacon event.

We also should allow the optional behavior

[2018-09-18 16:42] PauloGDPeixoto opened #49700 "elasticsearch.index_template_present check_definition doesn't work"
I'm trying to use the elasticsearch.index_template_present check_definition state to modify the default template, so I have the following in my sls file:
[code]

Which gives the following output:

Whereas running without "- check_definition: True" gives correct output, but doesn't update an existing template.

I'm running salt-ssh 2018.3.2.

[2018-09-18 17:37] 0xCMP opened #49701 "New "listener_" states not respecting onchange"
### Description of Issue/Question
New `listener_*` states added which are triggering expensive commands to execute when they're not supposed to.

I use Salt to configure VMs built via Packer. Later I use salt to reconfigure the VMs using the same salt configuration on the machine via Salt Call. On the build it should be running a longer running "build command", but when being configured it should

[2018-09-18 18:03] rallytime commented on #49698
@awerner Does #49555 fix this for you?

[2018-09-18 20:09] 0xCMP commented on #49701
Had a `listen_in` which I'd forgotten about which explains the `listener_` states.

[2018-09-18 20:09] #49701 closed

[2018-09-18 22:52] terminalmage commented on #47001
Given that I ported Jinja's `tojson` filter to Salt for the 2018.3.3 release (and later), and that Jinja >= 2.9 already has this filter, in my opinion this issue is fixed.

What you are expecting is for invalid YAML to be treated as valid YAML, which is problematic to say the least. Salt has tried for a while to do this via adding several hacks to our custom YAML loader, but this has in turn cause

[2018-09-18 23:54] rallytime commented on #49698
@awerner Yeah, no problem! It's a new one. :)

[2018-09-19 03:29] JaseFace commented on #39804
This is still relevant

[2018-09-19 08:44] cstarke opened #49709 "Useless requirement for prlsrvctl in Parallels module"
We have machines running PVC 7 without the installation of prlsrvctl.
The module only requires prlsrvctl in one function, which is prlsrvctl(), but the whole module will error if there's no prlsrvctl binary found.

https://github.com/saltstack/salt/blob/ab7dc68c3b033fa46c38fe59ab77bf7d1df36e68/salt/modules/parallels.py#L52

IMHO it would be good to split those dependencies in different functions (

[2018-09-19 10:05] OrlandoArcapix commented on #47001
There are `|yaml`  and `|json` filters available under 2018.3.2 with python-jinja2 2.7.2 which seem to do the job nicely as well. Out of interest - how do these compare with `|tojson`?

[2018-09-19 14:57] isbm commented on #37949
https://github.com/saltstack/salt/pull/49705

[2018-09-19 14:58] teran-mckinney commented on #31802
Running into this with writing /etc/resolv.conf when it's been set by systemd-resolved as a symlink.

[2018-09-19 15:27] Ch3LL commented on #49640
i'm having a hard time replicating this. If you run `salt-run fileserver.file_list saltenv=gquentin` does it show the state sls files? Also what is in your `gquentin` pillar top.sls file. you only shared some of it? Does it include state1,state2 and state3?

[2018-09-19 16:16] terminalmage commented on #47001
@OrlandoArcapix Those are not part of Jinja and look like they were added by someone else within `salt/utils/jinja.py`. I was not aware of that particular JSON filter. Both seem to do similar work, so either should work fine.

[2018-09-19 16:38] Ch3LL commented on #49683
i beliieve this is a duplicate of https://github.com/saltstack/salt/issues/41342

[2018-09-19 16:39] davisj commented on #46498
I'm hitting this issue on 2018.3.2 using the pgjsonb returner.
It does have the prep_jid function defined:

https://github.com/saltstack/salt/blob/9d8cc0b3f414ca2059b65bf3bc960cb8a9c78c0a/salt/returners/pgjsonb.py#L415

So it's not clear to me why it would be raising a key error.

[2018-09-19 16:40] Ch3LL commented on #49687
ping @dubb-b i think this is your realm? if not do you know who is?

[2018-09-19 16:52] Ch3LL commented on #49691
it looks like it does a diff: `return ''.join(difflib.unified_diff(orig_file_as_str, new_file_as_str))` and doesn't handle cases when that is empty. looks like we can improve this thanks.

[2018-09-19 16:54] Ch3LL commented on #49699
did you want to push a PR? seems you have an understanding on the right fix here. thanks :)

[2018-09-19 17:02] Ch3LL commented on #49700
is there more information in the debug logs? i'm hoping their might be a stackstrace for this error: `expected string or buffer` that will show us on what line in the code it is failing on.

[2018-09-19 17:16] #49067 closed

[2018-09-19 17:40] Ch3LL commented on #49709
yeah we would accept that :) if only one module requires that dependency then we only need to do that check in that function.

[2018-09-19 17:59] Ch3LL commented on #49681
im having a hard time replicating this. Do you see the minions anywhere in this directory? `/etc/salt/pki/master`

and just to clarify. this only occurs when you sync modules? Are the modules already synced or are you syncing new modules?

Also is there anything in your debug logs that will add more information that you can paste the sanitized output here?

[2018-09-19 19:26] noelmcloughlin opened #49712 "SaltRenderError: Could not locate requisite of [pkg] present in state with name [700]"
### Description of Issue/Question

I observed an unexpected exception running salt today as follows-

[code]
I eventually traced the problem to following state....
[code]
Which is rendered in the following strange manner.
[code]
And naturally causes big problems.....
[code]
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

I was testing a PR (https:/

[2018-09-19 19:40] jodok opened #49713 "boto_route53: state based on record with multiple values always dirty"
### Description of Issue/Question

setting a boto_route53 state with multiple values is always dirty:

[code]

it seems the value the state is checked against only returns the first item.

### Setup

[code]

### Steps to Reproduce Issue
see above

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[code]

[2018-09-19 19:52] Ch3LL commented on #47431
this is halfway fixed. It now does not show the warning on in progress releases. But we want to implement an approach that will automatically notfiy the user that this is an in progress release without having to manually add this to the release notes each time. So I will keep open until we can implement this.

[2018-09-20 07:12] opopops opened #49716 "[gitfs] failed to run state.apply when saltenv refers to a tag formated as float"
### Description of Issue/Question

Is use gitfs remote repo and  when I try to use **state.apply** with saltenv refers to a tag typed as float (**1.0**), it fails

### Setup
My Master config:

[code]

### Steps to Reproduce Issue
[code]

ERROR:

[code]
### Versions Report
Salt Version:
           Salt: 2018.3.2

Dependency Versions:
           cffi: Not Installed
       cherrypy: 3.5.0
       date

[2018-09-20 08:16] gaetanquentin commented on #49640
- salt-run fileserver.file_list saltenv=gquentin
yes i can  see states
FYI the  states are not called in top.sls willingly

- i made a mistake in the report: it is not state1, state2, state3,  but pillar1,pillar2,plillar3 of course since it is a pillar error.
So state1, state2,state3 use pillar1,pillar2,pillar3.

the fact is that in the error message, it speaks about 'base' environment.
Specified

[2018-09-20 13:26] cruscio opened #49723 "salt-call over TLS/TCP results in AttributeError: 'NoneType' object has no attribute 'StreamClosedError'"
### Description of Issue/Question

`salt-call` when connected to a master over TCP/TLS results in the following error. This only seems to happen with salt-call on the minion; there's nothing in the minion or master logs when posting a job from the master.

    Exception ignored in: <generator object _stream_return at 0x7f9c36573678>
    Traceback (most recent call last):
      File "/usr/lib/pytho

[2018-09-20 14:15] maxmureev commented on #30787
I also need this feature

[2018-09-20 14:17] damon-atkins commented on #48882
My understanding is that there is a time out.  And that the minion is meant to response with "I am working on it please wait"   I suspect this is not happening on windows?  As we should not need to use the -t option.   See also https://github.com/saltstack/salt/issues/48470.  A better solution maybe not to fork at all but to call something like "salt-call" which reads grains etc from a file create

[2018-09-20 14:39] awerner commented on #21370
Another workaround, that can be triggered from a sls-file and can be used without impact such as the `/dev/null` approach is to use [`file.cached`](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.cached) :

[code]

[2018-09-20 14:41] Martin819 opened #49724 "Salt 2018.3 wrongly parses ": ", "[" and "]" symbols"
### Description of Issue/Question
Running Salt 2018.3.2 I'm experiencing an issue with parsing pillar containing these symbols ": " (colon followed by space), "[" and "]". This issue only exists in the 2018.3 version of Salt. In the 2017.7 version, it passes just fine.

### Setup
Running **Salt 2018.3.2**

**Pillar:**

[code]

**SLS file:**
[code]

**sources.list file**:

[code]

### Steps to Repr

[2018-09-20 14:41] awerner commented on #31531
If using the context does not work for you, I have another [workaround](https://github.com/saltstack/salt/issues/21370#issuecomment-423208486).

[2018-09-20 15:15] Ch3LL commented on #49712
is your concern that 700 and root are showing up in the rendered state? Looks like this is actually in the pillar data here: https://github.com/saltstack-formulas/opensds-formula/blob/master/opensds/defaults.yaml

i would expect the state to fail when specifying things that aren't directories.

[2018-09-20 15:17] Ch3LL commented on #49713
ping @saltstack/team-boto any ideas here?

[2018-09-20 15:19] Ch3LL commented on #49716
ping @terminalmage

[2018-09-20 15:47] terminalmage commented on #49716
Pretty sure this is already fixed.

[2018-09-20 15:54] Ch3LL commented on #49723
looks like i'm able to replicate this only when running python3 and using tcp transport. I tested on 2018.3/develop/fluorine and am seeing the same thing also tried tornado 5.0.2 and saw the same error.

[2018-09-20 16:13] vitaliyf commented on #49724
I was just building a test case for similar/same error we are seeing.

testcase.yaml
[code]

testcase.txt
[code]

testcase.sls
[code]

And applying this results in:

[code]

This used to work in 2017.x and only broke with upgrade to 2018.3.x

There are ways to get around it:
- Remove colon inside value2 in my .yaml file
- Add | yaml (or | json) to ```testcast_yaml: {{ testcase_yaml | yaml }}```

I

[2018-09-20 16:22] terminalmage commented on #49716
@opopops How did you generate the versions report? There was a fix for this added in back in the summer of 2017 which I confirmed is in 2018.3.2. What is the value of the `saltversion` grain on that minion?

[2018-09-20 16:54] PauloGDPeixoto commented on #49700
I don't think that there is anything helpful, but I'll paste the relevant part here:

[2018-09-20 16:57] Ch3LL commented on #49724
looks like i'm able to replicate this and i bisected it to 9ee5b417f775ea307f508459b037514cdf67021f

which is this PR https://github.com/saltstack/salt/pull/45406

so it seems like this was due to our unicode work in 2018.3

[2018-09-20 16:57] Ch3LL commented on #49724
i also tested this on the head of 2018.3 and 2018.3.3 and it still fails

[2018-09-20 16:58] vitaliyf commented on #49724
Similar to #48977

[2018-09-20 17:01] #49588 closed

[2018-09-20 17:03] #48828 closed

[2018-09-20 17:11] terminalmage commented on #49724
This is the same as https://github.com/saltstack/salt/issues/47001. Dumping a data structure using Jinja calls `repr()` on that data structure and thus produces invalid YAML, due to the fact that 2018.3 and newer uses `unicode` types for strings.

You need to pass it through a jinja filter to get the strings into a YAML-ready format. I ported the `tojson` filter from Jinja 2.9 to Salt for the 2018

[2018-09-20 17:58] zikalino opened #49727 "Support for Azure REST API"
### Description of Issue/Question

I think it would be useful to have a feature similar to this module which I made for Ansible:

https://docs.ansible.com/ansible/latest/modules/azure_rm_resource_module.html

It enables users to easily use entire Azure REST API,
we also built VSC extension and have support in Azure Resource Manager:

https://resources.azure.com/

I would like to learn what's the o

[2018-09-20 18:01] omgitsedwin commented on #18513
Was this fixed? I'm still seeing this issue present.

[2018-09-20 18:12] vitaliyf commented on #49724
@terminalmage I understand why, but this seems like a pretty bad backwards-incompatible change. In my example above, after I add | json (or | yaml) in .sls, I end up with:

[code]

in my managed /tmp/testcase.txt file. I totally understand why, just didn't expect to need to audit all our code for this during a Salt upgrade.

[2018-09-20 18:52] Martin819 commented on #49724
I agree that it is bad backwards compatible change, but moreover there's nothing mentioned in the release notes.

[2018-09-20 18:57] rallytime commented on #18513
@omgitsedwin This is a fairly old issue. Can you open a new one with all of your relevant details so we can get some eyes on it?

[2018-09-20 19:08] terminalmage commented on #49724
Yes, I'm working on getting the release notes for all 2018.3 releases updated with a warning about this.

We honestly should have had this documented in the past, since dumping a data structure using Jinja does not guarantee YAML-ready output. It was incorrect usage before 2018.3.0 was released, it was just incorrect usage that didn't cause an error (until now).

[2018-09-20 19:53] omgitsedwin opened #49730 "[Windows] network.managed cannot set interface with blank DNS servers"
### Description of Issue/Question

Windows allows leaving the DNS servers empty if DNS is not used. However, Salt requires DNS servers when using network.managed states. This seems to be an old issue #18513.

### Setup
The following .sls:
[code]
results in:
[code]
Likewise:
[code]
results in:
[code]
### Steps to Reproduce Issue
Any way to get around putting in DNS servers for Windows minion in .sl

[2018-09-20 19:53] omgitsedwin commented on #18513
Done, thanks. See #49730.

[2018-09-20 19:54] terminalmage commented on #49724
Here's the documentation updates for the release notes: https://github.com/saltstack/salt/pull/49731/files

[2018-09-20 20:10] noelmcloughlin commented on #49712
I never noticed that. Apologies, the error message was so weird I was thrown.  Thanks for checking @Ch3LL

[2018-09-20 20:10] #49712 closed

[2018-09-20 22:00] hrumph commented on #49660
@Twangboy, I confess that I haven't looked closely at the code (yet). All I know is that when the state is ran I get output like this:

[code]

Note that the  _Changes:_ subdictionary is empty, even though a change did occur. I would think that I should see the standard _New_ and _Old_ subsubdictionaries.

[2018-09-20 22:28] dgmorrisjr commented on #44209
I'm seeing the same thing on RHEL 6 platform:
[code]

[2018-09-21 00:11] twangboy commented on #49660
@hrumph Oooh, OK. I didn't realize we were talking about a state here. The code I posted above was for the execution module. I'll take a look at the code for the state.

[2018-09-21 00:23] #39764 closed

[2018-09-21 06:44] s4mur4i opened #49732 "Salt read vault secret or revert to empty"
### Description of Issue/Question

I would like to set up a fallback possibility for missing vault keys

for example
lets say we have secret/very/big/secret with key of 'something'
[code]
But if that key is missing I would like to be an empty string like ""

I tried with adding `| default("")` but it fails with not able to reach the vault secret and throwing exception.

I could not find example or

[2018-09-21 06:50] hiscal2015 commented on #26091
I have the same issue, what's your settings to the cause?

[2018-09-21 08:01] flassman commented on #43130
I agree with boltronics. The naming of the "use_superseded" switch is weird enough but should be mentioned right on the top, then there should be a section for new format and finally a section for old format.
I hope there is a plan for deprecation of the old format or at least for making the new format a default? If yes, this should be mentioned as well. If not, please decide how this should be ha

[2018-09-21 10:10] sjtbham commented on #49672
@garethgreenaway I created a PR which I think should resolve this problem

[2018-09-21 12:11] The-Loeki commented on #49671
@garethgreenaway
@gtmanfred

I've currently done the legwork on #49343 / #43288; these are about adding pillar support to the Vault config for doling out policies to the tokens (rather than the completely arbitrary grains now, see discussions there).
As noted this created the possibility of an endless loop.
The bug/undocumented feature in this issue is what prevents this from happening; I've now t

[2018-09-21 13:30] bbczeuz opened #49734 "[grafana4_user] Set user organization/role. Make email optional"
### Description of Issue/Question
* The current grafana4_user state does not allow a user to be added to organizations. The current approach is to add users to organizations when creating an organization. This asks for two states to run, instead of doing everything in one state and keep all user relevant information at one place.
* The email parameter is required by the grafana4_user.present modul

[2018-09-21 13:39] sastorsl commented on #47043
Can confirm. With debug on you get 38865 log lines for 13254 files and spent close to two minutes.

[2018-09-21 13:40] damon-atkins commented on #39960
.

[2018-09-21 13:49] mchugh19 commented on #49671
@The-Loeki the behavior described here isn't just a theoretical implementation described in the documentation, but the way that it previously used to work. We currently keep an older version of _utils/vault.py to run salt 2018.3. We've been running the vault execution modules since before it was in upstream salt, and only noticed this breakage when we attempted to cleanup our local modules in favo

[2018-09-21 14:29] The-Loeki commented on #49671
Well I only figured that one out after reading this bug and plowing through trying to get the promised infinite recursion ;) What I meant to say is I'd rather fix the docs than revert to the old behaviour.

I'm relatively new to Vault, but I understand that a token can only give out policies the token itself already has?
Besides, if Master has a `sudo` token capable of generating tokens of arbitra

[2018-09-21 14:50] mchugh19 commented on #49671
@The-Loeki

Nope. That's the orphan functionality.

In code yes, but not via salt. Since the salt-master has sudo to generate tokens, it could generate a token with all policies (if you knew the names), or generate a multi-use token with a 3 year ttl. However, the tokens generated by the salt vault implementation are single use and only for the requested policies.

Might it make sense to create a

[2018-09-21 15:36] The-Loeki commented on #49671
So what's the difference in terms of security then? Anyone with sufficient write-access to the Salt master's repos has the capability to abuse that power, with or without impersonation. So as I mentioned before, the main difference (aside from you having to make the access explicit) is the operators having to be aware which secrets they are passing on through the pillar (which is already true anyw

[2018-09-21 16:06] mitchelfields opened #49738 "Parallel cmd.run cache file fails on long commands"
### Description of Issue/Question
When a cmd.run state is run in parallel with a command that is too long, salt attempts to create a cache file using the full command name as the filename. This causes issues similar to #40846

I am running a standalone minion that I invoke through salt-call if that is relevant.

### Setup
Create an sls file with the following states
[code]

### Steps to Reproduce

[2018-09-21 16:12] twangboy commented on #49660
The above PR should take care of this issue. Should be in 2018.3.4 and 2017.7.9

[2018-09-21 16:12] #49660 closed

[2018-09-21 16:14] garethgreenaway commented on #49727
@zikalino Thanks for the report.  The Ansible module that you linked to looks like some really solid work.  Currently in Salt we have a Salt cloud module for interacting with Azure.  Did you get a chance to look at that?  There might be some overlap with what you're proposing.

[2018-09-21 16:20] garethgreenaway commented on #49730
@twangboy @dwoz FYI.

[2018-09-21 16:42] #39814 closed

[2018-09-21 16:42] #39818 closed

[2018-09-21 17:04] rsuarezsoto opened #49740 "Documentation should say that raid.present and related states need "mdadm" to be installed"
The state `raid.present` and related need the program `mdadm` to be installed, but no mention of it appears in the docs. I was trying to test the `raid.present` state with this SLS (`mdadm/test.sls`):

[code]

But it always came up with this error:

[code]

And after installing `mdadm`:

[code]
It seems obvious afterwards, but somehow I thought that Salt would magically install it. A quick note in

[2018-09-21 17:20] ancat commented on #48448
Bumping this -- I am seeing the same exact issue as the previous comment.

[2018-09-21 17:31] ancat commented on #48448
The solution here is to update PyZMQ. Ubuntu 16.04's latest version of PyZMQ is 15.2.0 which is incompatible with salt-minion. However, python-zmq is a dependency for salt-minion and so removing it via apt will end up removing salt as well. The workaround I've found is to install the latest PyZMQ via pip:

[code]

The `--ignore-installed` is an unfortunately required hack that tells pip to ignore

[2018-09-21 19:40] rootchord commented on #46361
Really need the ability to force user.present to create/manage LOCAL accounts.

[2018-09-21 21:59] gaoweisgp commented on #49680
Recap the original objectives:
1. standardize behaviors across different methods
    a) on master, `salt minion event.send`- currently broadcasts to all alive masters, if no preload option specified
    b) on minion, `salt-call test.version` - currently sends job return event to the first alive master, based on the sequence of the mast list defined in minion config, with timeout. Subsequent run wi

[2018-09-21 23:42] #39856 closed

[2018-09-21 23:42] #31308 closed

[2018-09-21 23:42] #16068 closed

[2018-09-21 23:42] #39867 closed

[2018-09-21 23:42] #39866 closed

[2018-09-21 23:42] #38655 closed

[2018-09-21 23:42] #39842 closed

[2018-09-21 23:42] #18540 closed

[2018-09-21 23:42] #39873 closed

[2018-09-21 23:42] #39893 closed

[2018-09-21 23:42] #39890 closed

[2018-09-21 23:42] #39389 closed

[2018-09-21 23:42] #35646 closed

[2018-09-21 23:42] #39847 closed

[2018-09-21 23:42] #39916 closed

[2018-09-21 23:42] #34402 closed

[2018-09-21 23:42] #39631 closed

[2018-09-21 23:42] #38706 closed

[2018-09-21 23:42] #39793 closed

[2018-09-21 23:42] #35353 closed

[2018-09-21 23:42] #34116 closed

[2018-09-21 23:42] #25700 closed

[2018-09-21 23:42] #39972 closed

[2018-09-21 23:42] #39965 closed

[2018-09-21 23:42] #31202 closed

[2018-09-21 23:42] #39989 closed

[2018-09-21 23:42] #39982 closed

[2018-09-22 00:42] #38118 closed

[2018-09-22 00:42] #39158 closed

[2018-09-22 00:42] #39824 closed

[2018-09-22 00:42] #25593 closed

[2018-09-22 00:42] #15910 closed

[2018-09-22 00:42] #39703 closed

[2018-09-22 00:42] #37750 closed

[2018-09-22 00:42] #39845 closed

[2018-09-22 00:42] #39849 closed

[2018-09-22 01:55] MTecknology opened #49744 "Group state cannot force empty group membership"
### Description of Issue/Question

As reported on IRC, the following state will produce no changes to group membership.

[code]

This happens because the group state checks for false-like values and an empty list is false-like, producing a no-op change.

Desired Outcome: Group 'shadow' has no members.

Realized Outcome: Group 'shadow' member list in unchanged.

### Versions Report

[code]

[2018-09-22 05:42] #19869 closed

[2018-09-22 05:42] #39949 closed

[2018-09-22 09:42] #34940 closed

[2018-09-22 11:50] h3 commented on #38217
I got here while because I got the same (quite unuseful) error ...

In my case I was trying to create a custom module in `_modules`, but it was not available in the salt object.

After some digging I found that it's because I was using `salt-call` on the master and custom modules aren't loaded on the master (needs to use the `extension_module` config).

[2018-09-22 13:23] dawidmalina opened #49747 "Add salt runner with equivalent features as salt-cp"
### Description of Issue/Question
It would be very nice to have dedicated salt orchestrate runner which will behave exactly as salt-cp and can be used within orchestration to copy files from master do particular minion(s).

CC @plinkable

### Versions Report
[code]

[2018-09-22 13:44] DickerDackel opened #49748 "Should file.rename return success when target exists and force is not used?"
### Description of Issue/Question

Use-case:
1. Move a pre-packaged configuration of software package-x to package-x.conf.example
2. Place my own package-x.conf there instead

Works correct for the first run, when package-x.conf.example doesn't exist yet.
Fails on consecutive runs, because package-x.conf.example already exists.

Using 'force=True' is not an option, because after the second state.a

[2018-09-22 13:50] DickerDackel commented on #49748
Addendum: file.copy behaves as expected, an already existing version is not a failure but returns success:

So, using file.copy is a proper workaround, but still file.rename should behave consistently.

[code]

[2018-09-22 14:33] mwtzzz commented on #40140
Let's keep this issue open, as this has been added as a Feature Request and we're waiting for it to get implemented.

[2018-09-22 18:32] #28519 closed

[2018-09-22 22:32] #39998 closed

[2018-09-23 06:43] damon-atkins commented on #40135
.

[2018-09-23 10:11] MTecknology commented on #45882
If the goal is to get LE certs from one minion to many others, that seems relatively easy to do within salt.

1. Set up gpg encryption on the salt master
1. Distribute the master's public gpg key to minions
1. Minion creates private data to distribute
1. Minion encrypts data with master's pubkey
1. Minion sends encrypted data up to master via event bus
1. Master reads the event and uses a reactor

[2018-09-23 11:28] MTecknology commented on #49748
So, without ``- force: true``, file.rename should report similar to ``file.copy`` with ``The target file "/foo" exists and will not be overwritten``, yeah? I have to agree, this seems logical. I suspect it's an easy patch that I could try to look into, unless you'd like to take a stab at it.

[2018-09-23 12:05] MTecknology commented on #45882
Oh! Another option, courtesy of @zer0def:

1. Set up [minionfs](https://docs.saltstack.com/en/latest/topics/tutorials/minionfs.html)
1. Put a key for symmetric gpg encryption into pillar for specific nodes
1. Minion creates private data to distribute
1. Minion encrypts data with symmetric gpg key
1. Minion pushes file to minionfs
1. Other minions retrieve data from minionfs
1. Other minions decryp

[2018-09-23 16:36] #40042 closed

[2018-09-23 17:36] #38402 closed

[2018-09-23 18:36] #40036 closed

[2018-09-23 19:36] #33444 closed

[2018-09-23 19:58] jodok opened #49751 "salt.states.network: on CentOS7 clonenum_start parameter isn't supported"
### Description of Issue/Question

The documentation states that the `clonenum_start` is supported for range interfaces.
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.network.html
It seems this was supported in RHEL6, but no longer is in RHEL7.

### Setup

[code]

### Steps to Reproduce Issue

if the state before is applied, the generated `/etc/sysconfig/network-scripts/ifcfg-eth

[2018-09-23 20:36] #38384 closed

[2018-09-23 20:45] matwey commented on #27400
I see the same issue with the latest `develop` branch on openSUSE Leap 15.0 system.

[2018-09-23 21:36] #40028 closed

[2018-09-24 02:11] angeloudy opened #49753 "when using 'prereq' in orchestration pre-requiring state does not run"
### Description of Issue/Question
When using 'prepreq' in orchestration, I can see that the pre-required state first runs with `test=True` and then runs in real, but the pre-requiring state did not run at all.
### Setup
[code]
[code]

### Steps to Reproduce Issue
[code]
test3 will run twice, first time in test mode, second time in real, but test2 never run.

### Versions Report
(Provided by runnin

[2018-09-24 03:26] aphor opened #49754 "minion fails to connect to master using zeromq by IPv6 address"
### Description of Issue/Question
salt.minion mishandles the opts['master'] when constructing a master_uri for zeromq to connect to the master returner port when the master is provided in the minion config as an IPv6 address.

zmq requires the master_uri to be in the format `tcp://[::1]:4506` but salt tries to use zmq with something like `tcp://::1:4506` which is not valid, and will quietly fail t

[2018-09-24 04:31] angeloudy commented on #49753
I think this is probably related to #40208
I made the following change to test
[code]
and then the `prereq` worked as expected.

[2018-09-24 05:16] nkrishnakishor commented on #49531
can anyone help out further ?

[2018-09-24 05:36] #39859 closed

[2018-09-24 08:32] Nashlow opened #49756 "Fail to execute a state file with file.recurse"
Hello all,

I have a problem with the module file.recurse.
I'm using the following basic formula:

[code]

And when I try to execute my state file, I receive the following error:

    Data failed to compile:
----------
    Too many functions declared in state 'file' in SLS 'proxy-ext'

I've got 30 files that needs to be copied on the minion. Is it really too much?
**I would like to know if there i

[2018-09-24 10:06] kedare commented on #48882
We are having the same issues on Windows.
We had some critical issues as the Windows minions were taking more than 10s to answer the find_job request from the master and the `salt` CLI ended up returning blank job result (Like for an empty state.apply) without waiting for it to end.

We had to increase gather_job_timeout to 30s to fix the issue in our case

For 2 VM on the same host to answer a pi

[2018-09-24 11:03] jleroy commented on #13340
Just a *bump* to keep the issue open.

[2018-09-24 13:18] gtmanfred commented on #49404
We would need to add the ability to order the starting of engines.  To make sure the reactor engine is up before the sqs engine.

[2018-09-24 13:30] gtmanfred commented on #43285
looks like it!

[2018-09-24 13:30] #43285 closed

[2018-09-24 13:32] gtmanfred commented on #10149
This is still relevant

[2018-09-24 13:46] gtmanfred commented on #49599
@olivier-mauras can you comment on this?

[2018-09-24 13:47] gtmanfred commented on #49602
Yeah, i don't see a reason to not add raise_error: support to the other backends.

[2018-09-24 13:50] gtmanfred commented on #5050
no work has been done on this afaik

[2018-09-24 13:53] gtmanfred commented on #49210
2017.7 would be the oldest branch to open a PR against, but open a PR against the oldest major release branch that this exists in , 2017.7, 2018.3, fluorine or develop

[2018-09-24 14:01] gtmanfred commented on #49665
Yes, i am not sure when the ansible roster got broken, but it was rewritten for the fluorine release to just use the new `ansible-inventory` binary.  so that is what i would recommend doing.

[2018-09-24 14:08] kmdouglass opened #49758 "service.running erroneously reports a failure to start a launchd service on macOS"
### Description of Issue/Question

We have encountered a bug when using the `service.running` state on macOS where salt reports a failure to start the service even though the service has been successfully started.

Briefly, we have configured a salt state to start a launchd service on a macOS minion that is running masterless. The service is launched with the `service.running` state after a call t

[2018-09-24 15:06] #49756 closed

[2018-09-24 15:08] Nashlow commented on #49756
I've found a basic mistake in my formula..
I do love mondays <3