[2016-07-18 18:40] bobrik commented on #34735
Nope, our master config looks like this:

[code]

[2016-07-18 18:41] cachedout commented on #34735
Ah, OK. You mentioned a pillar cache earlier so I wanted to clarify. Thanks.

[2016-07-18 18:47] bobrik commented on #34735
I used `salt-run cache.pillar foo41` to check master's view of minion's pillar.

[2016-07-18 18:48] sjmh commented on #34750
Ha, yeah that was on the back of my mind as I wrote it, thinking maybe it was meant to be somewhat obfuscating.

On the other hand - it's causing issues with our users because it's confusing the heck out of them as well.  Perhaps a middle ground to be found there.

[2016-07-18 18:50] cachedout commented on #34750
Most certainly. Personally, I'm in favor of breaking these out into more explicit messages but I'd like @thatch45 to weigh in.

[2016-07-18 19:00] rallytime commented on #32980
Perfect - thanks @whiteinge!

[2016-07-18 19:52] rallytime commented on #34673
@jakehilton Hmm. I am unable to replicate this failure. Here's what I did to try and reproduce. Am I missing anything?
[code]
I am running on the same version of salt and pip that you reported, as well:
[code]

[2016-07-18 19:54] Ch3LL opened #34757 "Error while using tcp transport"
### Description of Issue/Question
When adding `transport: tcp` in the master and minion config I am receivng the following error when running commands against the minion: `Future exception was never retrieved: StreamClosedError`

### Setup
1. setup a master/minion (i have tested this on both ubuntu14 and cenots7 with same results)
2. add `transport: tcp` to the master and minion config
3. restart

[2016-07-18 19:56] nate-byrnes commented on #27355
I had some centos 6 boxes where this was occurring.

I brute-forced a work around with:

salt-ssh '*' -r "yum install -y python-setuptools" && salt-ssh '*' -r 'easy_install backports.ssl_match_hostname"

not particularly graceful.... the boxes are 6.5 and 6.6

[2016-07-18 19:57] Ch3LL commented on #34757
Also my futures version on centos: `python-futures-3.0.3-1.el7.noarch`
on ubuntu14:  `futures (3.0.5)`

[2016-07-18 20:18] thatch45 commented on #34750
My original argument to not expose the messages was just me playing it safe in a broader sense.
The main thing to watch out for here is information leakage, now the message returns are not time restrained, but the auth of course is, which is there to prevent timing leak attacks. So I am not worried about time leaks since the auth data would still be relative to the execution path of the code.
The

[2016-07-18 20:27] bamb00 opened #34759 "Exception raised when processing __virtual__ function for nova. Module will not be loaded global name 'novaclient' is not defined"
### Description of Issue/Question

I see that this issue was fix in Salt: 2015.8.3 (#29511).  I got this same error in Salt: 2015.8.10
### Setup

Ubuntu 14.04
### Steps to Reproduce Issue

[code]
### Versions Report

[code]

[2016-07-18 20:28] whiteinge commented on #34750
It would be quite helpful to salt-api to be able to differentiate authentication errors from authorization errors. Related issue: #6420.

[2016-07-18 20:33] rallytime commented on #34747
@jmacfar Good call - that would be useful!

[2016-07-18 20:40] rallytime commented on #34595
@seanjnkns Are you able to `pip install` the package directly? In am wondering if there is something wrong with the pip package you have on that box and this is an upstream bug.

I don't have a Mitaka version to test on currently, however, I am unable to replicate this issue on other distributions (tested with CentOS 7, Ubuntu 14.04, and Arch Linux) using a simple state with the latest version of

[2016-07-18 20:46] nate-byrnes opened #34760 "XenServer 7 needs correct provider setup for services."
XenServer 7 now uses systemd, as such it needs the correct provider set up in minions.

the simple salt state:
[code]
returns the error:
[code]

This was tested with 2016.3.1.  Here are the grains from one of my XenServer7 nodes:
[code]

[2016-07-18 20:53] seanjnkns commented on #34595
Yeah, if I pip install it manually, it works fine.  If I roll back to a 7.1.0 version, the one we have in our own internal repos, it works fine too.  If I install the version from Mitaka, v8.1.2, it fails to install/check if it's installed.  If I re-downgrade to 7.1.0 where it's working, and then `pip install --upgrade pip` and try, it again fails.

[2016-07-18 20:54] basepi opened #34761 "Feature: Support for custom salt-ssh wrapper modules"
### Description of Issue/Question

Currently we can use `_modules/` to sync custom execution modules. However, there's no mechanism for syncing custom wrapper modules for salt-ssh. If your custom module needs fileserver access, it must use a wrapper module.

Perhaps something like `_wrapper_modules/` or `_ssh_modules/`, not sure what is best.

[2016-07-18 20:56] seanjnkns commented on #34595
Also, @rallytime, I see you're trying to install a different module.  What happens if you try the same state I'm trying?

[2016-07-18 21:00] seanjnkns commented on #34595
Actually, seems an issue that was resolved via #3764.  I removed ipa-python and ipa-client, and now it works fine.  I'll need to create a state to ensure those 2 packages are absent and then it should be fine.

[2016-07-18 21:01] seanjnkns commented on #34595
If you want to investigate this further, you're welcome, or we can go ahead and close it.

[2016-07-18 21:04] sebastian-cb commented on #21876
This problem still exists in 2016.3.1 when `state_aggregate: True`

The first  state `base_pkgs` fails because there is no yum repository configured for `nginx` yet:
[code]

and then nginx is installed successfully after:

[code]

[2016-07-18 21:06] rallytime commented on #34660
@ShaolongTan I was able to reproduce your this error when I used your exact custom module that you pasted above and the consul package was missing from the minion. If the consul package was present on the minion, I didn't have any problems.

Here's the error:
[code]
And here is the output on a minion that can import consul successfully:
[code]
However, if I add the following to your module, I get

[2016-07-18 21:09] richardscollin commented on #34712
Thanks upgrading fixes the issue. Does the development branch track the development testing suite? If so it might make sense to put a note here: https://docs.saltstack.com/en/latest/topics/tutorials/writing_tests.html#getting-set-up-for-tests So that others down the line will install the right version.

[2016-07-18 21:09] #34712 closed

[2016-07-18 21:10] rallytime commented on #34761
@basepi I personally like `_ssh_modules` because it's pretty clear what they'd be for. Unless you think that the wrapper modules could be useful in a context outside of salt-ssh, but not something that the current `_modules` dir already covers?

[2016-07-18 21:16] basepi commented on #34761
I think you're probably right, `_ssh_modules/` is probably best. It's not perfect because it could cause confusion, since ssh also uses `_modules/`, but I think that confusion is worth having an intuitive name.

[2016-07-18 21:22] aphor opened #34762 "zpool state module needs support for disk vdev"
salt.modules.zpool does not support explicit (the second simplest example) "disk" type zpool vdev

Since the salt.states.zpool requires a vdev in layout kwarg in state.sls files, it is impossible to use this state module to create a simple single disk vdev zpool.

This should be a valid state
[code]
but produces an ambiguous error, assuming that the "disk" vdev is supposed to be interpreted by the

[2016-07-18 21:25] rallytime commented on #34759
@bamb00 Is it possible that you have some stale pyc files on this box leftover from the upgrade? What command are you running to trigger those log lines? I am unable to reproduce those errors.

[2016-07-18 21:29] rallytime commented on #34595
@seanjnkns The first two distros I tried (Ubuntu and Arch) I used your original state. I switch the package in the state on CentOS 7 because I was running into some different, unrelated errors. I wanted to make sure it wasn't a salt/pip problem vs. just that particular `python-selinclient` package.

If you're ok with closing it, then let's do that. I think if it pops up again, we can definitely re

[2016-07-18 21:29] #34595 closed

[2016-07-18 21:31] rallytime commented on #34761
Ah, right. When this gets implemented, docs should be included to make sure the distinction/use of `_modules` in salt-ssh, vs `_ssh_modules`, is clear.

[2016-07-18 21:41] rallytime commented on #34762
Thanks @aphor for the suggestion. Sounds good to me.

FYI @sjorge or @nmadhok - you guys might be interested in this feature request.

[2016-07-18 21:46] sjorge commented on #34762
@aphor if I understand correctly, you're looking for the equivalent of:
```zpool create tank /dev/disk0 /dev/disk1```

?

[2016-07-18 22:18] twangboy commented on #34658
@eidng8 @rallytime I don't think we officially support MacOS versions prior to El Capitan (10.11). Does this fail on El Capitan?

[2016-07-18 22:33] twangboy commented on #34610
@techhat I think it's failing before the powershell even runs. It looks like something with templating...
[code]

[2016-07-18 22:35] techhat commented on #34610
@twangboy, #34623 should resolve that templating error. What we need to know now is whether or not the uploaded script actually ran.

[2016-07-18 22:42] twangboy commented on #34610
@techhat The script ran fine through the port opening portions.... maybe it's doing something with the encoding of the file...

[2016-07-18 22:45] techhat commented on #34610
@twangboy what need to know is how the user himself can verify that the script has run, on a per-VM basis. Does Windows keep any sort of log? Is there some powershell that we can use to try and write a log?

[2016-07-18 23:01] tyhunt99 commented on #32365
I upgraded to a newer version of salt (2016.3.1) and am still seeing this issue.

There also now appears to be what I believe is a related issue involving dockerng module. It now appears to require a restart of salt minion to detect that docker has been installed.

Starting with a fresh machine
[code]

mystate.sls:
[code]
Results in the following error:
[code]
But as soon as I restart the salt-min

[2016-07-18 23:09] kt97679 commented on #33223
Patched salt-ssh is running for a week on 6k+ machines, no empty files so far.

[2016-07-18 23:11] Someguy123 opened #34765 "Could not save load with returner local_cache"
Fresh install of salt 2016.3.1

Simply run `sudo salt-ssh -c Saltfile 'managed' -i test.ping` - basic config from the tutorial.

[code]

[2016-07-18 23:13] Someguy123 opened #34766 "Cachedir is ignored"
Latest Salt, 2016.3.1 running on OSX 10.10 (Yosemite)

Here's my Saltfile:

[code]

The cache dir exists with 777 permissions, no problem for it. However, it refuses to use it, and tries to use /var/cache, resulting in a permission error as non-root.

Attempting to pass the cachedir manually results in:

   salt-ssh: error: no such option: --cachedir

[2016-07-18 23:16] twangboy commented on #34610
@techhat @yamamushi The easiest way would probably be to use the `Start-Transcript` / `Stop-Transcript` functions.

https://technet.microsoft.com/en-us/magazine/ff687007.aspx

[2016-07-19 00:28] eidng8 commented on #34658
@twangboy I am using Yosemite :cry: .

Strictly 10.11 is too much, I'm afraid. 10.11 is the pinnacle of the family, but I think there are lots of (Yose)mites out there! Especially when you're running server stuffs, upgrading system were never a choice of free will.

[2016-07-19 00:31] hrumph opened #34767 "Ensure that pkg.installed function refreshes properly with windows."
### Description of Issue/Question
A while back pkg.latest was fixed and I believe works properly but no one got around to fixing pkg.installed. In pkg.installed, if the version was 'latest', a refresh will happen no matter what
(possibly in addition to others) because of the lines

[code]

in pkg.latest_version. Also if the version is not 'latest' and the cache was not already refreshed the state

[2016-07-19 00:35] aphor commented on #34762
@sjorge yes, and I just realized I had botched my example syntax.

BTW: I have a PR on the way.

[2016-07-19 00:45] junovitch commented on #24744
Hi. I was quite surprised when I ran into this bug when first in my states didn't go first and in fact when after everything without an order.  I opened https://github.com/saltstack/salt/pull/34769 with a fix.

[2016-07-19 00:48] junovitch commented on #33608
Do we just need a pull request to accept for this?  I added @ohauer's patch back to the FreeBSD Salt port in https://github.com/freebsd/freebsd-ports/commit/02145140146049128f322fe093835cffec47334c

[2016-07-19 01:14] junovitch commented on #34382
Looks like https://github.com/saltstack/salt/issues/33608 is the same issue.  There is a pull request in https://github.com/saltstack/salt/pull/34771 and we are carrying that version of the patch in FreeBSD as of https://github.com/freebsd/freebsd-ports/commit/02145140146049128f322fe093835cffec47334c.

[2016-07-19 01:17] junovitch commented on #34554
We've been carrying the patch from https://github.com/saltstack/salt/issues/34382 as part of the FreeBSD port since https://github.com/freebsd/freebsd-ports/commit/02145140146049128f322fe093835cffec47334c

[2016-07-19 01:17] aphor commented on #34762
I think this is more about consistency in the YAML requirements to use the zpool state module.

#34770 <-- not too hairy.

[2016-07-19 01:21] junovitch commented on #33608
Completely didn't notice this was already added in commit https://github.com/saltstack/salt/commit/f6dfbac5caa07e2d4aa0e2d4c05869b4f389864c

[2016-07-19 02:32] ShaolongTan commented on #34660
Yes, I get the exception when I operate the function in the module. Below is the error message:
[code]
But I make sure I have installed the python package.  I can run the script in "test-xxxx" minion and not exception.
[code]
[code]

[2016-07-19 03:10] ShaolongTan commented on #34660
@rallytime, I can make sure I had installed package consul in minion but I get the exception yet that I move "imprt consul" to get() function. Below is the error message:
[code]

I can directly run the script in "test-xxxx" minion and not exception.
[code]
[code]

[2016-07-19 07:48] phil123456 commented on #34479
ok I'll check these, but I have setup my master config to have /srv/salt/windows_packages for windows packages

[2016-07-19 09:19] Deshke opened #34774 "salt-minon is not autostarted on ubuntu 16.04"
### Steps to Reproduce Issue
- install salt-minon via apt-get install salt-minon from repo.saltstack
- restart whole server
- salt-minion is not started

### Versions Report
[code]

resolvable by manually running

[code]

maybe this should be included in the .deb package

[2016-07-19 10:00] babilen opened #34775 "Please allow users to disable branch environment mapping in GitFS"
### Description of Issue/Question

GitFS currently treats branches as environment and allows users to blacklist and whitelist env names. It would be wonderful if one could simply turn off the environment mapping altogether as nothing but pain comes from it.

[2016-07-19 10:45] alexykot opened #34776 "salt-cloud being strangely slow"
### Description of the problem

I'm comparing `salt-cloud` and `terraform` as tools to manage our infrastructure at GCE. We use salt stack to manage VM instance configurations, so I would naturally prefer to use `salt-cloud` as an integral part of the stack and phase out `terraform` as a legacy thing.

However my use case is critical on VM deployment time because we offer PaaS solution with VMs de

[2016-07-19 11:07] zhouyuyong commented on #27400
I have the same issues,my salt version is 2016.3.0(centos 6.5/python 2.6.6),but if i don't specify version when use pkg.install,the problem is gone.

[2016-07-19 11:10] alexykot opened #34777 "salt-cloud misleading error message when referencing a nonexistent provider"
### Description of Issue/Question

If I create a cloud.provider, and then create a cloud.profile and make a spelling mistake in the cloud.profile body when referencing cloud.provider salt-cloud completely ignores the profile.

I.e. I don't get something like "nonexistent provider" as I would expect, instead I get a message `There are no cloud profiles configured.`. This is confusing and can lead t

[2016-07-19 11:16] bemeyert commented on #33784
It just now happened again. From approx. 160 minions 152 are just gone! A restart of the minion helps. As straces go, here from a minions that's according to the master down.. The first is from the parent process the second from it's fork.
[code]

And nothing in the logs!? This happens randomly and I don't know how to reproduce it.

[2016-07-19 11:21] bemeyert commented on #33784
Oh well. Now all minions are back after about 12 minutes (???). Only thing I did was
- restart a single minion
- every minute a `manage.status` is running via cron
So it is possible that the above trace is worthless since while taking it the minion came back to live.

[2016-07-19 11:44] bemeyert commented on #33784
BTW: Same version (2015.8.10)

[2016-07-19 12:06] bemeyert commented on #33784
We still haven't ruled out our network as a culprit, although chances are low. "Hopefully" the next "outage" comes soon, so I can gather more information.

[2016-07-19 12:45] jkramarz commented on #33629
@danslimmon, is it sufficient to place ```custom.py``` in library (eg. ```/usr/lib/python2.7/site-packages/salt/grains```) of salt-ssh "master" or should I somehow notify loader about its presence?

[2016-07-19 12:47] pupapaik opened #34778 "network.managed type bond generate use_carrier option, which is unknown parameter in ubuntu 16.04"
### Description of Issue/Question

Ubuntu Xenial uses a new version of ifenslave, which does not know parameter use_carrier for bonding. It broke down connection to server and system error is:

`bonding: on invalid for parameter use_carrier`

This parameter can be removed in future version of ubuntu.

### Setup

Setup simple Ubuntu Xenial with salt creation of network bonding active-backup.

### V

[2016-07-19 13:19] do3meli commented on #34583
@Ch3LL do you require any other information or is my last comment good enough for further investigation?

[2016-07-19 14:07] joehoyle opened #34780 "S3fs broken in 2016.3.1"
### Description of Issue/Question

S3fs appears to be totally broken in 2016.3.1 since commit https://github.com/saltstack/salt/commit/1d26b124a214907a8eec2b02869f6ac888ee88d6. Previously `response` was set in GET requests at https://github.com/saltstack/salt/commit/1d26b124a214907a8eec2b02869f6ac888ee88d6#diff-8165084beb8c6914b2331d79f2b4d9a2L133 but as you can see, afterwards in GET requests the

[2016-07-19 14:28] techhat commented on #34776
Hi @alexykot. With most providers, it really does only take a few seconds to request a machine. The bulk of the time spent waiting is for machines to become responsive so that Salt Cloud can log in, upload files, and run the deploy script.

You should be able to see all of this activity by adding `-l debug` to your `salt-cloud` command. If you see specific areas that can be optimized, we would lov

[2016-07-19 14:46] TheBigBear opened #34781 "winrepo-ng jinjia2 compilation error is too quiet - needs "displaying""
see new comment below here https://github.com/saltstack/salt/issues/34781#issuecomment-233854043, this turned out to be another case where a jinjja2 template compilation simply failed silently with no info whatsoever being displayed.:

### Description of Issue/Question
@twangboy help I just cannot get it to use some newly added winrepo-ng pkg files to install them. Pretty sure I am not doing anyth

[2016-07-19 14:51] TheBigBear commented on #34781
This is the third time (third pkg) I am having this issue. Somehow, the problem seems to go away and start working again after some ```magic``` running of ```saltutil.clear_cache```, ```winrepo.genrepo``` or ```pkg.refresh_db```, possibly only in combination with a ```'--local'``` switch and run directly on the windows minion, but I believe I have worked my way through all permutations and it stil

[2016-07-19 15:14] bemeyert commented on #33784
At least show the above strace the correct information, when the Minions are gone. Funny thing is that a `test.ping` from the master fails, but a `salt-call state.show_top` on the same minion connects cleanly to the master (verified via tcpdump) and works.
But we are still looking into the network...
Sry, if this comes in telegram style. But we can only debug, when the issue appears and the minion

[2016-07-19 15:19] twangboy commented on #34781
Does the name conflict with any other pkg definitions? There is an issue with ordering when you do a refresh db. It does them alphabetically, so you wanna make sure your new packages are processed last... prepend the file with a `z_` or something.

[2016-07-19 15:26] m0stwanted opened #34782 "dockerng is not available"
Hello!
I'm trying to load docker images (tar files exported by `docker save` command)  from salt master to salt minions local docker registry via `dockerng.load`.  I installed `docker-py` on master and minions, so when I run `salt '*' dockerng.version` I receive correct output:
[code]

When I run command directly form CLI:
`salt '*' dockerng.load salt://docker/files/images/kafka.tar`
everything ju

[2016-07-19 15:30] yamamushi opened #34783 "salt-cloud and winrm failing with : [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed"
### Description of Issue/Question

Trying to create a Windows Minion in EC2 results in the following error:

[code]
### Setup

[code]
### Steps to Reproduce Issue

`salt-cloud -p base_teamcityserver teamcitytest1 -l debug`

This will run until the aforementioned error is produced.
### Versions Report

[code]

[2016-07-19 15:31] twangboy commented on #34479
@phil123456 Try setting that back to default and using the default paths...

[2016-07-19 15:34] yamamushi opened #34785 "Unable to Pass Arguments to Windows Minion Installer"
### Description of Issue/Question

This is more of a question than an issue at this point, as I'm presuming the capability exists I'm just not seeing documentation for it, and another issue is preventing me from moving forward with testing it extensively.

I am trying to create windows instances in EC2 using Salt in a private VPC.

However this VPC does not have internet access, and all internet c

[2016-07-19 15:34] rallytime commented on #33608
@junovitch and @amontalban - Yes, the fix mentioned above is in pull request #34565, which will be in the 2016.3.2 release. Are we good to close up this issue?

[2016-07-19 15:36] yamamushi commented on #34610
@twangboy If you're able to confirm that you can create EC2 Windows instances now, then I suppose this can be closed as the issue must be on my side.

Otherwise, I've not been able to successfully get the powershell firewall setup script to run successfully, as running nmap against the new instance does not show the ports have been opened.

[2016-07-19 15:38] rallytime commented on #34382
@junovitch Yeah, you're right. Those are duplicate issues. The fix in #34656 will be included in the upcoming 2016.3.2 release.

[2016-07-19 15:39] TheBigBear commented on #34781
@twangboy no the name doesn't conflict. But just to be extra sure I renamed the sls file and the pkg itself from ```check_mk-agent-msi``` to ```z_check_mk-agent-msi```, and whilst I can still see it in the cache dir on the master and on the windows minion, ```pkg.install z_check_mk-agent-msi``` still reports that it cannot locate the pkg.

[2016-07-19 15:41] rallytime commented on #34554
Ok, the fix from @Ch3LL will be included in the 2016.3.2 release. Since this is confirmed to have fixed this issue by @junovitch, and this appears to be both a duplicate of #34382 and #33608 essentially, I am going to close this. Thanks everyone!

[2016-07-19 15:41] #34554 closed

[2016-07-19 15:46] twangboy commented on #34781
Can you post the `.sls` so I can try it?

[2016-07-19 15:47] twangboy commented on #34610
@yamamushi I will spin something up now just to be sure... stand by.

[2016-07-19 15:50] rallytime commented on #34778
@pupapaik Thanks for fixing this issue! Let's get this closed up once you're pull request has been reviewed and merged in. :D

[2016-07-19 15:52] TheBigBear commented on #34781
Sure. Thanks. It is also on ```[http://github.com/saltstack/salt-winrepo-ng/z_check_mk-agent-msi.sls](http://github.com/saltstack/salt-winrepo-ng/z_check_mk-agent-msi.sls)```

```z_check_mk-agent-msi.sls```
[code]

you since you don't have the msi on your salt-master you will get a cannot cache pkg, but that would be a step ahead. ;-)

[2016-07-19 15:54] rallytime commented on #34660
@ShaolongTan Did you try the suggestion I posed above to include the `__virtual__()` function and `__virtualname__` definition? I suspect you might be hitting something going on with the loader.

[2016-07-19 15:58] rallytime commented on #34734
@tomlaredo Thanks for pointing this out. It would be great to optimize those calls in the state. We should be able to get a bunch of information about the user in a single call and then go from there in the rest of the state code.

[2016-07-19 16:01] pupapaik commented on #34778
Please can you take a look on tests? Is it really issue in my change or CI failure?

[2016-07-19 16:05] rallytime commented on #34777
@alexykot Ah, good point. We should definitely check to make sure the provider is working first before assuming we'll hit the error point that triggers the profile listing error.

[2016-07-19 16:07] twangboy commented on #34610
@yamamushi Aside from an error:
[code]
The VM spun up correctly. I was able to ping, so the script ran and opened ports...

[2016-07-19 16:11] yamamushi commented on #34610
@twangboy Thank you for confirming, I'll close this issue now :-)

[2016-07-19 16:11] #34610 closed

[2016-07-19 16:17] TheBigBear commented on #34781
@twangboy OK, I might be gaining some 'insights' but I don't understand it.
if I do a ```winrepo.show_sls``` on it, I get an error that doesn;t make any sense to me.

[code]

[2016-07-19 16:48] rallytime commented on #34782
@m0stwanted This is expected behavior. You're trying to run an execution module function as a state. The `dockerng.load` function is only present in the docker execution module, not the dockerng state.

The dockerng state functions are all listed here: https://docs.saltstack.com/en/latest/ref/states/all/salt.states.dockerng.html#module-salt.states.dockerng

[2016-07-19 16:57] rallytime commented on #34767
Thanks for filing this bug @hrumph and for the fix. Love it when that happens! :)

[2016-07-19 16:58] terminalmage commented on #34775
How do you propose that we define environments, then? Solely through the new per-saltenv config schema (currently only in develop)? https://docs.saltstack.com/en/develop/topics/tutorials/gitfs.html#per-saltenv-configuration-parameters

[2016-07-19 17:06] m0stwanted commented on #34782
@rallytime thanks a lot, it is helped to me!

[2016-07-19 17:26] rallytime commented on #34782
@m0stwanted Great! I'll close this, then. :)

[2016-07-19 17:26] #34782 closed

[2016-07-19 17:44] rallytime commented on #34774
@Deshke Did the salt-minion start right after you installed the package (before the system reboot)?

@dmurphy18 Do we need to do something to the packages to make them match the behavior in the Ubuntu 14 packages?

[2016-07-19 18:06] rallytime commented on #34658
@Ch3LL Can you try to reproduce this error when you get a chance?

[2016-07-19 18:24] rallytime commented on #34785
@yamamushi I don't think that passing `script_args` via salt-cloud is a supported option, since the `script_args` option specifically applies to running the `bootstrap-salt.sh` script, which doesn't run on windows boxes, only linux distros.

@techhat or @twangboy Is this supported functionality? If not, is this a viable feature request?

[2016-07-19 18:25] alexykot commented on #34776
I would expect so and it would be totally fine to wait until machines come up online. And fine to wait little longer to provision salt-minion and do keys exchange. But it seems to take much longer than needed to do that. I will retry it with `-l debug` and report.

[2016-07-19 18:28] Ch3LL opened #34789 "saltutil.refresh_pillar returns None when using RAET transport"
### Description of Issue/Question

When runing `saltutil.refresh_pillar` when the transport is raet the return is `None` instaed of `True`. It does appear to actually refresh pillar data but is not returning True.
### Setup
1. Master/minion on raet transport
2. `transport: raet` in minion and master config
### Steps to Reproduce Issue

[code]

As shown above the return is `None`. I am expecting to

[2016-07-19 18:30] rallytime commented on #34783
@yamamushi I don't think you're supposed to be using the `script: bootstrap-salt` and `script_args: -G -H "http://172.30.0.143:3128"` options with Windows VMs. The bootstrap-salt.sh script is meant for linux distros, and not windows installations.

I think the responses from @techhat and @twangboy in the other issue you referenced above will be helpful here. However, where did you get the `win_ins

[2016-07-19 18:32] rallytime commented on #34675
@gehzumteufel Ah, thanks for letting us know. We should get this cleaned up.

ping @techhat and @gtmanfred

[2016-07-19 18:49] hrumph commented on #34767
The fix may not be fully testable in 2015.8 because fixes for use of 'latest' were made to 2016.3 (see #31114)

[2016-07-19 18:56] twellspring opened #34790 "git.latest failing unless force_reset: True"
### Description of Issue/Question
git.latest is failing with error "Repository would be updated from xxxxxxx to yyyyyyy, but this is not a fast-forward merge. Set 'force_reset' to True to force this update"

Might be related to #27487

### Setup
Running this state

[code]

and deploying to a target that already exists as a git repo causes this output
[code]

### Steps to Reproduce Issue
(Include d

[2016-07-19 19:04] twellspring commented on #34790
The above git.latest worked on 2015.5.x.  Looked at docs and the only change appears to be the addition of `force_fetch`.  Adding `force_fetch: True` did not change results.

[2016-07-19 19:17] sjorge commented on #34762
PR with a small docs update + support for the fake 'disk' vdev is going through my internal testing, will take a bit as I am on holiday on 3G internet.

[2016-07-19 19:25] yamamushi commented on #34783
@rallytime those arguments are just things I've tried in #34785 .

As related to this particular issue, removing those arguments doesn't change the error I'm getting when trying to create the instances in EC2.

[2016-07-19 19:29] yamamushi commented on #34783
I would post the updated errors after removing those flags from the profile here, but EC2 in the region I'm using is currently experiencing API errors. As soon as those clear up I'll update this issue with the updated output.

[2016-07-19 19:40] yamamushi commented on #34785
@rallytime I know those arguments don't work, those are just things I've tried to get the installer to accept arguments.

If it isn't supported functionality (passing arguments to the installer), I'm wondering how I would go about getting the windows installer to work through a proxy, as it's definitely a requirement for us to use SaltStack in our production environment.

Perhaps It's something I

[2016-07-19 19:49] babilen commented on #34775
That is exactly what I was thinking of, yes. It's nice that one can white and blacklist branches/environments already, but in some cases the setup would be much easier if one could disable the branch → environment mapping altogether.

[2016-07-19 19:53] mbom2004 commented on #34551
Just wanted to check to see if anybody has been able to reproduce the above error.  The engine seems to load, however when something appears in the event bus we get the error "Error: 'str' object does not support item assignment".

[2016-07-19 19:54] dmurphy18 commented on #34774
@Deshke @rallytime I shall look into this

[2016-07-19 20:08] terminalmage commented on #34775
OK. I think this is doable, but it is not likely to make the upcoming "Carbon" feature release due to a heavy emphasis on Python 3 compatibility for this release. I should be able to get to this for the feature release after next (i.e. "Nitrogen").

Does this sound OK?

[2016-07-19 20:10] terminalmage commented on #34775
@babilen It may also be worth it for me to investigate adding a config param which would allow one to tune the auto mapping so that only branches (i.e. no tags) are mapped to environments.

[2016-07-19 20:22] twangboy commented on #34781
@TheBigBear OK. This is an error with the Jinja. The for loop needs a list object. You need to enclose the version in brackets like this:
[code]
Being a single entry it sees it as a string and not a list and fails to compile.

[2016-07-19 20:53] TheBigBear commented on #34781
@twangboy oh dear, how embarassing, so sorry about that. Thanks!

That explains and solves the issues with the other two recent occasions, of this mysterious behaviour.
pdf24creator and gimp, I had gone down to a single version and it failed, and when I added a second version separated of course by a ',' it became a list and worked again.
Nothing to do with some magic ```winrepo.genrepo``` or ```p

[2016-07-19 21:13] xordoquy commented on #33950
I had the same issue today though it now seems to be working after a while.
Master: ubuntu 15.10
Minion: ubuntu 16.04
Salt: Salt official repository (2016.3.1+ds-1)

[2016-07-19 21:31] alexykot commented on #34776
I ran another deployment with `-l debug`, and it output massive log (as expected). However the log doesn't have timestamps attached.
Is it possible to add timestamps to log entries to see what is happening when and recognise when the delay is happening?

[2016-07-19 21:44] #30658 closed

[2016-07-19 22:00] sjmh commented on #33401
@Ch3LL @cachedout

So I'd like to add this, since it's important for us to collect metrics about the jobs people are running.  However, I know you have some strict rules about what's allowed to be logged in log.info versus log.debug, especially pertaining to sensitive information.

Ideally I'd like to enable the job details without having to go full-blown debug mode on the master.  My initial thou

[2016-07-19 22:12] thatch45 commented on #33629
@guettli if you run salt-ssh with the `-w` flag does the problem go away? I bet this has to do with how the thin tarball is created

[2016-07-19 22:15] UtahDave commented on #29222
Question for this group:

Would it be preferable to have `repo.saltstack.com` provide rsync rather than the longer `rsync.repo.saltstack.com`?

[2016-07-19 22:19] amontalban commented on #9436
I'm having this `ulimit -n` issue, here is a workaround I used:

[code]

[code]

Hope it helps somebody and look forward for solution.

Thanks!

[2016-07-19 22:20] Ch3LL opened #34795 "Feature Request: salt-ssh checksum"
### Description of Issue/Question

Currently if you attempt to sync any custom modules/grains/renders etc and you previously used salt-ssh on that box (the tarball is in /tmp) you would need to run salt-ssh with `-w` in order to ensure the tar ball is re-fetched with the new modules. This is a feature request to possibly use a checksum instead of checking the salt version to see if the tar ball is

[2016-07-19 22:56] Ch3LL opened #34796 "exception when running state.high over salt-ssh"
### Description of Issue/Question
When running `state.high` over salt-ssh I receive the following error: `An Exception occurred while executing state.high: 'function' object has no attribute 'iteritems'`

### Setup
1. (1) salt-ssh master (1) host without salt setup in roster

### Steps to Reproduce Issue
1. run state.high command which was copied directly from the docs:

[code]

This command works

[2016-07-19 23:04] s0undt3ch commented on #34776
You need to change the logging format, look at https://docs.saltstack.com/en/latest/ref/configuration/logging/#log-fmt-console and https://docs.saltstack.com/en/latest/ref/configuration/logging/#log-fmt-logfile, more particularly, `

[2016-07-19 23:05] s0undt3ch commented on #34776
Sorry... Dam phone...

More particularly, `%(asctime)s,%(msecs)03.0f`

[2016-07-19 23:05] Ch3LL opened #34798 "exception when running state.low over salt-ssh"
### Description of Issue/Question
When running state.low over salt-ssh I see the following exception: `An Exception occurred while executing state.low: 'SSHHighState' object has no attribute 'verify_data'`

### Setup
1. (1) salt-ssh master (1) host without salt setup in roster

### Steps to Reproduce Issue
1. run `state.low` command which was copied directly from docs:

[code]

This works when not

[2016-07-19 23:21] Ch3LL opened #34799 "stacktrace when state.request run with salt-ssh"
### Description of Issue/Question
I see the following stack trace when I attempt to run `state.request` with salt-ssh:

[code]

### Setup
1. (1) salt-ssh master (2) host without salt installed in roster file

### Steps to Reproduce Issue
1. attempt to run `state.request` over salt-ssh:

[code]

This runs fine when not run over salt-ssh:

[code]

### Versions Report

[code]

[2016-07-19 23:22] twangboy commented on #34781
@TheBigBear It happens to the best of us... I couldn't tell by looking at it either. I had to do some testing. I don't know how many times I've spent hours on something only to have it be some small thing like that. No worries, man.

[2016-07-19 23:29] cachedout commented on #34776
@s0undt3ch Should we make timestamps the default?

[2016-07-20 00:19] jowolf commented on #802
bump - I wrote a custom yaml module (for another project) to trace yaml compiiles and line numbers, for example - so when it died you could see where it was last.

It was crude, and used globals for state like the line number, but it's an idea

[2016-07-20 00:58] adamsewell commented on #32122
This is still occurring on 2016.3.1

Since there is no file, is there a way to find what database this is in and remove it?

[2016-07-20 01:17] moloney opened #34801 "States that may cause changes treated as failing when failhard=True and test=True"
If you set `failhard: True` on a state, and then try to test a highstate run with `test=True` it will failhard if that state may cause changes.

As a simple example add this state to your config:

[code]
Then try to do a highstate with `test=True`. Only this first state will be tested because it seems to treat any changes as a failure.

[code]

[2016-07-20 01:19] ShaolongTan commented on #34660
I add the __virtual__() function and __virtualname__ as you mentioned at above. The result is same as I guess. It meet exception while import consul. The below is the output:

[code]

[2016-07-20 01:20] wblair opened #34802 "postgres_schema.present with Amazon RDS::POSTGRES database fails when schema already exists"
### Description of Issue/Question

postgres_schema.present fails when schema already exists
in an AWS::RDS::POSTGRES database

This is the same behavior seen in issue #32256 regarding
postgres_user.present in an AWS::RDS::POSTGRES database
### Setup

[code]
### Steps to Reproduce Issue

(Include debug logs if possible and relevant.)

Debug log attached.

[debug.txt](https://github.com/saltstack/sa

[2016-07-20 01:25] wblair commented on #32256
Encountered the same behavior of postgres_schema.present in Amazon RDS::POSTGRES database failing when schema already exists.

The commonalities are:

- Amazon RDS::POSTGES database
- Testing for the presence of something in a database (user, schema)
-  salt minion running on Centos 7

March 31, 2016 was the last comment on this issue.  Is there any news for a solution or workaround?
Thanks,
Wayne

[2016-07-20 02:14] ShaolongTan commented on #34660
Use cmd.exec_code to operate the python "import consul"  code. It is work fine.
[code]

[2016-07-20 02:16] techhat commented on #34776
@cachedout +1

[2016-07-20 02:41] CaesarC commented on #33750
After i update to Salt: 2016.3.1.   I have this issus too.  Whatever state i have run, it will time out all the time
[code]

[code]

can anyone help me to find out what happen?Thx!

[2016-07-20 03:16] CaesarC commented on #33750
···
[root@hp yum.repos.d]# salt \* saltutil.sync_all
Salt request timed out. The master is not responding. If this error persists after verifying the master is up, worker_threads may need to be increased.
···

[2016-07-20 03:22] mohshami opened #34804 "2016.3.1 broke pillar merging"
### Description of Issue/Question

Hi guys,

I have recently upgraded from 2015.8.7 to 2016.3.1 and it broke my orchestration. I have set up my environment with each web server having a pillar file for each website that it has
### Setup

Relivant part of the pillar file

[code]

[code]
### Steps to Reproduce Issue

With 2015.8.7, running salt-call pillar.items websites returns an array of site1 an

[2016-07-20 04:51] hthu opened #34805 "salt/modules/disk.py list index out of range"
### Description of Issue/Question
When run `salt '*' disk.usage`, the above exception is thrown.
[code]

After a sanity check of my `df` command output, I sense that there is a "mal-formatted" line in the output, as:
"df: '/mnt/hgfs': Protocol error"

Even though this is a problem on my side, a better approach should be the code to deal with this kind of situation more elegantly?
Say, still giving

[2016-07-20 05:53] #13960 closed

[2016-07-20 05:57] jerrykan commented on #18419
I am experiencing a similar issue with `sock_dir` defaulting to `/var/run/salt/` instead of `<root_dir>/var/run/salt/`. I am assuming that `sock_dir` doesn't need to be explicitly configured in the master config file to work with `root_dir`? or will the `sock_dir` still need to be configured even if this issue is fixed?

[2016-07-20 06:08] Deshke commented on #34774
minion was started after the installation but it came not back up as the server restarted

[2016-07-20 06:31] jerrykan opened #34806 "salt-cloud ignores sock_dir when firing event"
The `salt.utils.cloud.fire_event()` function ignores the the `sock_dir` value configured in the master configuration file and instead [defaults to using `syspaths.SOCK_DIR`](https://github.com/saltstack/salt/blob/779a87f4224733b6c9fc9e0b28f7843fcf673fb9/salt/utils/cloud.py#L1722)

So if you are using an alternate `sock_dir` directory none of the cloud events are fired/received by the master.

As f

[2016-07-20 06:44] TheBigBear commented on #34781
@twangboy can this sort of jinja2 compilation error be shown as info, somewhere, somehow?
We'd need to be careful, it isn't stopping the whole chain, but knowing about it would certainly be helpful. Not seeing it can lead to endless hours wasting on a wild goose chase, like I did?

[2016-07-20 07:15] damon-atkins commented on #34781
I have add some checks to the code I will submit it into develop this weekend.

[2016-07-20 07:19] TheBigBear commented on #34781
@damon-atkins great. looking forward to seeing and testing that. I have come across a number of jinja2 templating gotchas over the year of maintaining the new winrepo-ng jinja2 templating repo.

[2016-07-20 07:23] terminalmage commented on #2707
Pull request https://github.com/saltstack/salt/pull/34807 has been opened to implement this feature. It may be modified yet before it is merged, but anyone eager to test is welcome to do so.

[2016-07-20 07:32] boltronics commented on #31247
I believe this ticket was closed incorrectly due to a misunderstanding. Please re-open!

As I understand it, @mallniya wants to take a file from somewhere (which presumably can change) and append text to the end of it. I'm also in a similar situation, and the bug this was marked a duplicate of is completely unrelated to that goal.

Here's a specific example: `/usr/share/wordpress/robots.txt` might

[2016-07-20 07:37] phil123456 commented on #34479
sure, but still it should work so this should be considered as a bug to fix

[2016-07-20 08:01] boltronics commented on #31247
I should have mentioned (for anyone currently stuck on this) that currently I would currently work around this limitation using some funky jinja2. eg.

[code]
That's completely untested... but you get the idea. It works (by avoiding the `Create /var/www/custom_robots.txt based on /usr/share/wordpress/robots.txt` block from being pulled in when it's not required, but it's still misleading since mor

[2016-07-20 09:03] Talkless commented on #31963
I still have this problem in 2016.3.1 on Debian Wheezy.

It always reports changes while highstate is run with test=True.
[code]
 Though without test=True no actual changes are applied.

Or it shouldn't be fixed in 2016.3.1? Merge was on March...

[2016-07-20 10:55] do3meli commented on #34583
During some research I found the following link that indicates a change for the kernel parameter  `kern.ipc.somaxconn` from FreeBSD 10.0 onwards: https://www.freebsd.org/cgi/man.cgi?query=listen&sektion=2#end

using the new parameter `kern.ipc.soacceptqueue` does solve the issue on FreeBSD 10.x. My state configuration now looks like this:
[code]

[2016-07-20 10:55] #34583 closed

[2016-07-20 11:24] Trouble123 commented on #34448
Hi, sorry for the delay.
The issue is not happening on Windows 2012R2,  I am seeing the issue on Windows 2003 both 32 bit and 64 bit.

Hope this helps.

[2016-07-20 13:10] RobotLimeLtd opened #34810 "salt-call --external-pillar-root="
### Description of Issue/Question

When running salt-call in --local mode, I can specify --file-root and --pillar-root, but if I'm using an external pillar, this is ignored.  I use the above mode to syntax-test my salt configuration locally as part of a Continuous Deployment pipeline run from a build server.

Please could you add a --external-pillar-root (or similarly-named) option so I can point

[2016-07-20 13:12] suslikas opened #34811 "load_json problem"
Hi,

when I try to get some json from command line and then parse him I got quoted unicode symbol "u'key'"

**Pillars**
`cmd: {{ salt['cmd.shell']('echo \'{"aa":"bb"}\'')|load_json }}`

**State**

[code]

**Result**

[code]

But if i use same with yaml, all ok

**Pillars**
`cmd: {{ salt['cmd.shell']('echo "{aa: bb}"')|load_yaml }}`

**State**

[code]

**Result**

[code]

Also when i try to use exa

[2016-07-20 13:22] RobotLimeLtd commented on #802
The nearest you might get is the following, however it will only work for very simple Salt setups, and only on a server that has Salt Minion installed.  Assuming your source repo contains both "salt" and "pillar" directories, each with a top.sls in them... you could run:

`salt-call state.highstate --file-root=$PWD/salt --pillar-root=$PWD/pillar --local --retcode-passthrough mocked=True`

However,

[2016-07-20 14:12] guettli commented on #2707
@terminalmage

I prefer automated testing. I have no clue how to do this in salt.

[2016-07-20 14:36] bobrik commented on #34735
I've tried grain match and got `No response` as well.

[2016-07-20 14:47] eidng8 opened #34813 "enhancing dockerng module for Mac"
Since #34576  has been merged, I'll file a new issue here for further discussion.

Following up the change, I think there are something to be done further.

Currently the config is hard-coded to minion config. It is not suitable, as in my case, there are multiple docker machines running on the Mac box. After looked a bit into the code, it seems that adding a machine parameter to state/module files

[2016-07-20 14:50] GenaSG opened #34815 "Docker additional hosts (/etc/hosts) using dockerio module"
Hello everyone,
I've tried to google the answer several times but no luck.
The question is. Is it possible to set extra hosts for docker container using docker module?
As far as I know this functionality is present in dockerng module but somehow missing from docker module.

Salt version:
[code]

[2016-07-20 14:51] mahresohl commented on #32574
I'm having this problem while using rest_tornado as the backend.

rest_tornado:
  port: 8000
  host: 0.0.0.0
  disable_ssl: true
  websockets: True
  cors_origin: '*'

external_auth:
  pam:
  <notshown>:
    - .*
    - '@runner'
    - '@wheel'

----------------------------------------------------
curl -i http://localhost:8000
HTTP/1.1 200 OK
Content-Length: 99
Server: TornadoServer/4.2.1
Etag: "ae

[2016-07-20 14:55] cachedout commented on #34780
@joehoyle Thanks for alerting us to this. Sounds like you have a fix for this. Any chance you could throw together a PR for this today? I'd like to get it into the next point release if possible.

[2016-07-20 14:57] msdogado opened #34816 "VirtuozzoLinux not realized as RedHat by pkg"
### Description of Issue/Question
Virtuozzo released new RedHat based OS Versions that can be handled with yum and so should be handled with pkg/yumpkg
### Setup

OS:
[code]
grains.items output without network and hostname related information as requested on:

https://docs.saltstack.com/en/latest/ref/modules/index.html#module-provider-override

[code]

### Versions Report
master version:
[code]
mi

[2016-07-20 14:59] GenaSG opened #34817 "Dockerng module is missing from default installation."
Hello everyone,
I've installed salt master using [this](https://docs.saltstack.com/en/latest/topics/installation/ubuntu.html) documentation. But somehow my installation is missing dockerng module:
[code]
Ubuntu version is :
[code]
Salt version:

[code]

[2016-07-20 15:00] RobotLimeLtd commented on #18510
Similar problem with salt-call... exits with 0 even when there's a serious error, e.g. "Unable to render top file".  --retcode-passthrough does not remediate this.

[2016-07-20 15:05] jfindlay commented on #32256
@wblair, thanks for your additional information.  There is no workaround that I know of, but you are welcome to look over the source.

[2016-07-20 15:13] rallytime commented on #34817
Hi @GenaSG - The `dockerng` execution module was added in the 2015.8.0 version, which is why you can't see it in your list of modules.

The 2015.5.3 version is very old. I suspect you followed the community package installation instructions. I would suggest following the instructions for the SaltStack official packages. The instructions for those are at the _very top_ of the docs you linked. Or yo

[2016-07-20 15:17] morganwillcock commented on #34479
Did you set winrepo_dir_ng (not winrepo_dir) in the master config file?

[2016-07-20 15:20] GenaSG commented on #34817
Thank you, @rallytime ,
I'll test it in 10 minutes. And come back with the results.

[2016-07-20 15:28] UtahDave commented on #31247
OK, the ausnswer to @mallniya 's question here https://github.com/saltstack/salt/issues/31247#issuecomment-186658478  is to just use `file.managed` and not use `file.append`.  In that example, `file.managed` has an `template: jinja` option that would allow you to inject whatever data you want after copying to file from Salt's file server.

As to @boltronics post here: https://github.com/saltstack/

[2016-07-20 15:39] rallytime commented on #34815
@GenaSG I'd suggest using the dockerng module instead of the dockerio module. The dockerng module is much more robust, as you've noticed. With newer versions of Salt, we're moving away from the dockerio module and towards the dockerng module.

Since you and I have discussed upgrading to a newer version of Salt in #34817, I suspect using the dockerng module won't be an issue for you moving forward.

[2016-07-20 15:44] GenaSG commented on #34815
@rallytime, I would need to rewrite several formulas, but yes, it's a fair assumption.
I was holding back on using dockerng because of it's bugs, like redeploying container even if image hasn't been upgraded. Sorry I don't remember the issue ID for that bug.

[2016-07-20 15:47] rallytime commented on #34806
@jerrykan You're right. Good catch. An audit of the cloud drivers that call the `fire_event` function (which _should_ be all of the drivers) needs to be done, and we need to be checking for the `sock_dir` config setting, and then pass the `sock_dir` option through to the `fire_event` call.

[2016-07-20 15:49] rallytime commented on #34815
@GenaSG Right. I just wanted to make sure that the suggestion to move towards dockerng was out there. I can certainly approve this as a feature request in case someone wants to work on it! :)

[2016-07-20 15:49] GenaSG commented on #34817
@rallytime, so, I've successfully upgraded my installation. And looks like that everything works just fine. Thank you.

[2016-07-20 15:50] edgan commented on #18510
Give me a working example and I will see what I can do

[2016-07-20 15:51] GenaSG commented on #34815
@rallytime , ok, so additional(extra) hosts just isn't implemented for dockerio module, is it?

[2016-07-20 15:55] rallytime commented on #34813
@eidng8 That is fine to add an additional option (and the lines needed to pass the new kwarg along) to enhance the dockerng module to make the config more flexible (such as using pillar).

When you implement this, be sure that you don't change any default behavior with the new option, and that the new kwarg(s) go/es into the `develop` branch along with the corresponding documentation for the new o

[2016-07-20 15:56] rallytime commented on #34817
@GenaSG Wonderful! I'll go ahead and close this.

[2016-07-20 15:56] #34817 closed

[2016-07-20 15:56] rallytime commented on #34815
@GenaSG No, as far as I can tell, that feature is not currently implemented in the dockerio module.

[2016-07-20 15:58] morganwillcock commented on #34801
I have the same issue and found it already discussed here #13635. I'm currently using template rendering to work around it (to ensure valid YAML you have to make use of Jinja whitespace stripping).
<pre>pkg.refresh_db:
{%- if opts['test'] %}
  module.run
{%- else %}
  module.run:
    - failhard: True
{%- endif %}</pre>
It would be nice to not have to do this.

[2016-07-20 16:01] GenaSG commented on #34815
@rallytime,ok, I've found what I was looking for. I guess I need to move to dockerng in this case. Thank you and have a nice day.

[2016-07-20 16:01] #34815 closed

[2016-07-20 16:04] rallytime commented on #34815
Cheers @GenaSG!

[2016-07-20 16:06] ronnamijares commented on #29465
Hi,

I`m having the same issue.

Any update about it?

I have 2016.3.1. version
Salt Version:
           Salt: 2016.3.1

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: unknown
        libgit2: Not Installed
        libnacl:

[2016-07-20 16:11] gravyboat commented on #802
@RobotLimeLtd Yeah we've discussed that as an option before, and it's not a significantly satisfactory option for anyone I've talked to. Thanks for noting it though!

[2016-07-20 16:21] damon-atkins commented on #34781
The code looks for defining the same thing twice... and other simple errors.   Need to check the code again to see if it handles jinja, errors, it might just report it could not be compiled.   I add the code as part of trying to understand how this works.

[2016-07-20 16:26] rallytime commented on #34801
@morganwillcock Thanks for finding the other issue and for posting your work around! I'm going to add it to the other issue.

@moloney Since this is a duplicate of #13635, I am going to close this one. Please use the earlier issue to track the progress of this bug. I am going to change the labels on the other issue from `feature` to `bug` and hopefully we can get some more eyes on it.

[2016-07-20 16:26] #34801 closed

[2016-07-20 16:30] TheBigBear commented on #34781
@damon-atkins 'just reporting' it could not be compiled would be fine, I think. But the current status quo of not getting any feedback is not helpful. The more specific the feedback about a jinja compilation error can be the better, but just knowing that there even was a compilation error is better already.

[2016-07-20 16:30] rallytime commented on #13635
Thank you to @morganwillcock for posting a helpful [comment](https://github.com/saltstack/salt/issues/34801#issuecomment-233995144) demonstrating how to work around this:
[code]
I've closed #34801 as a duplicate of this issue. I am also changing this from a feature request to a bug to get some more eyes on this. I don't think it's very intuitive to work around the failhard setting and test=True co

[2016-07-20 16:33] yamamushi commented on #34783
Updated profile with those arguments removed:

# Profile

[code]

# Error log:

[code]

[2016-07-20 16:43] rallytime commented on #34783
Thanks for posting this extra info @yamamushi. Unfortunately, I do not know very much about Windows and salt-cloud and how to set up something like this or how to implement passing parameters onto a script. I'll wait for @techhat and @twangboy to chime in.

[2016-07-20 16:54] rallytime commented on #34598
@Kurisutian That sounds like a great feature request. Thank you for submitting it!

[2016-07-20 17:01] rallytime commented on #34816
Thanks @msdogado for bringing this to our attention and for providing the grains details - that is very helpful! It should be simple to add this support.

[2016-07-20 17:15] rallytime commented on #34802
@wblair Thanks for submitting this. We need to make sure that subsequent state runs don't crash like that by checking for the existence of the schema first.

[2016-07-20 17:19] terminalmage commented on #34790
The git.latest state was completely rewritten for 2015.8.0. Some of the behavior has changed.

The reason you're having this issue is because a ``branch`` parameter was added to give more control over which local branch is used. This is documented [here](https://docs.saltstack.com/en/2015.8/ref/states/all/salt.states.git.html#salt.states.git.latest). When you don't specify the ``branch`` parameter

[2016-07-20 17:21] meagon opened #34820 "salt returner postgres"
### Description of Issue/Question

[code]
### Setup

[code]
### Steps to Reproduce Issue

(Include debug logs if possible and relevant.)

[code]
### Versions Report

[code]

[2016-07-20 17:23] morganwillcock opened #34821 "pkg.removed state fails with implicit package version"
I was trying to downgrade some software and had issues removing a newer version. In other pkg operations not specifying a version string will imply to operate with the newest version, but for pkg.removed this leads to the state being failed if another version is installed.

Here is an example using 7zip. I have two versions available:

<pre>salt salt-test pkg.list_available 7_zip

salt-test:
    -

[2016-07-20 17:27] terminalmage commented on #34725
I believe I know what is happening here. The logic where a reset is performed, is never reached because the remote and SHAs don't differ.

The original reason ``force_reset`` parameter was to have a mechanism for dealing with non-fast-forward changes. Local changes were never a consideration, but you've made an excellent example of why they should be. I'll take care of this.

[2016-07-20 17:29] UtahDave commented on #29222
OK, please use `repo.saltstack.com` directly for rsync.

[code]

I'm going to leave `rsync.repo.saltstack.com` up for a while, but please consider it deprecated.

[2016-07-20 17:41] lorengordon commented on #29222
Thanks @UtahDave!

[2016-07-20 17:42] rallytime commented on #34760
@nate-byrnes Thanks for letting us know about this change. This should be simple to fix for service detection since you've provided all of those handy grains!

[2016-07-20 17:50] rallytime commented on #34805
@hthu Yeah, we definitely should be catching those errors and cleaning up those stacktraces more elegantly. Thanks for letting us know!

[2016-07-20 17:51] terminalmage commented on #2707
@guettli integration tests for this will be added within the next week or two. That wasn't what I meant, really, the comment was more aimed towards people that would like to try out the functionality right now.

[2016-07-20 17:52] twangboy commented on #34783
@yamamushi may be missing the `private_key` setting which should point to your `.pem` file containing your certificate for amazon. This is how you authenticate.

[2016-07-20 17:52] twangboy commented on #34783
@yamamushi you also need the `keyname` setting

[2016-07-20 17:53] twangboy commented on #34783
@yamamushi It can be in either the profile or the provider file

[2016-07-20 17:53] twangboy commented on #34783
@yamamushi You may also be missing the `id` and `key` settings in the provider file

[2016-07-20 18:02] msdogado commented on #34816
Thanks for the quick reply @rallytime

Hope this helps to. It affects enableing services as well.

Here is wat I get for an state with "enable: True" set for a service:

Comment: Enable is not available on this minion, service salt-minion started

[2016-07-20 18:29] thatch45 commented on #34799
I can't reproduce this one. It is working for me on 2015.8. Do you have a top file and some sls files?

[2016-07-20 18:29] yamamushi commented on #34783
@twangboy

# Provider Config
[code]

[2016-07-20 18:33] yamamushi commented on #34783
It's worth noting that this config works on a machine with this salt version output:

[code]

[2016-07-20 18:37] thatch45 commented on #34805
@hthu it looks like this bug was fixed in 2016.3.1 here:
https://github.com/saltstack/salt/commit/8450df04831776419ae40989ec99a9216f915600
so I am going to close this out.

To fix it in your environment please upgrade your minion to 2016.3.1

[2016-07-20 18:37] #34805 closed

[2016-07-20 18:46] thatch45 commented on #34757
I can't reproduce this on 2016.3, and since there were major additions to the tcp transport between 2015.8 and 2016.3 I am going to say that this has been resolved.
If you disagree let me know :)
otherwise please feel free to close this out as fixed in 2016.3.1, thanks @Ch3LL

[2016-07-20 18:59] thatch45 commented on #34691
@dmacvicar can you please test this fix? I have not tested it yet

[2016-07-20 19:16] morisbartyno commented on #34795
![tmp_2511-screenshot_2016-07-17-03-33-52-945833188](https://cloud.githubusercontent.com/assets/14913140/16999633/bbcf50bc-4ee0-11e6-96a0-34edf53dd5cb.png)

[2016-07-20 19:45] hrumph commented on #34821
Can confirm. I tested this and believe I saw the same problem.

[2016-07-20 20:39] twangboy commented on #34783
@UtahDave Do you have any ideas here?

[2016-07-20 20:40] twangboy commented on #34783
I recall seeing this with winexe when I didn't have impacket installed...

[2016-07-20 20:42] twangboy commented on #34783
Maybe a firewall issue... are you passing the Powershell script for winrm?
https://docs.saltstack.com/en/latest/topics/cloud/windows.html#firewall-settings

[2016-07-20 20:44] thatch45 commented on #34509
Just a quick question @srkunze , does running salt-ssh with the `-w` option get things working again?

[2016-07-20 20:50] rallytime commented on #34648
Fixed with #34828

[2016-07-20 20:50] #34648 closed

[2016-07-20 20:57] thatch45 commented on #34509
@srkunze does the above change work for you? Can you test it out in your environment please? Since I can only fake a corrupted thin it would be helpful to verify if this recovers for you

[2016-07-20 21:23] thatch45 commented on #34526
@danielmotaleite the above PR resolves it for me, thanks for the find!

[2016-07-20 21:25] s0undt3ch commented on #34776
Its the default for log files, and I honestly also set that for the console on my setups.... Yes?

[2016-07-20 21:30] s0undt3ch commented on #34061
We can't just assume UTF-8 unless we **know** that that's what augeas gives us.

[2016-07-20 21:33] simonyangme commented on #31522
Is this still an issue with salt? Is there a recommended workaround?

Is there an ETA for a fix?

[2016-07-20 21:33] Ch3LL opened #34836 "Better Error Reporting with ip.set_dhcp_ip on windows"
### Description of Issue/Question

When attempting to run `salt 'win2*' ip.set_dhcp_ip 'Local Area Connection'` it returns the following:

[code]

This message was confusing because it states that DHCP enabled is yes for the Local Areas connection interface, when actually I do not have a Local Area Connection interface. As shown in the code [here](https://github.com/saltstack/salt/blob/develop/sal

[2016-07-20 21:34] s0undt3ch commented on #34533
We cannot do `sys.setdefaultencoding('utf-8')` because that changes the default encoding for the whole python process. And while this fixes the problem for salt + pyvmomi, there's a huge chance it will break other libraries that expect ASCII which is the default for python. Yes that seems wrong on the python side but that's what python's stdlib does.

[2016-07-20 21:35] s0undt3ch commented on #34533
Can we know the encoding pyvmomi uses programmatically?

[2016-07-20 21:38] rallytime commented on #27808
@Semyazz Can you give the fix in #34835 a try?

[2016-07-20 21:47] twellspring commented on #34790
Read the docs on this.  The new branch defaults do not make sense to me.  It seems like if `branch` is not specified that it should create the same local branch as the rev. To me that seems like the behavior people would want most of the time.

Any insight into why the default was set as it is?

Looks like if I add the `branch` option with the same value as `rev` that my state will be back to the

[2016-07-20 21:56] c4t3l commented on #29222
YEAHH!!!!  Thanks Utah Dave!!!!

On Wed, Jul 20, 2016 at 12:29 PM, David Boucha <notifications@github.com>
wrote:

[2016-07-20 22:01] thatch45 commented on #33966
We do need both invocations of the code, it has to do with a quirk in how the loader runs that we really only run into in salt-ssh. So I am going to close this out, thanks!

[2016-07-20 22:01] #33966 closed

[2016-07-20 22:06] thatch45 commented on #32671
@AndrewPashkin I don't think this could be fixed, the problem is that to do a highstate over salt-ssh we need to invoke the salt-ssh wrapper facility which prepares the state run from the master. I am going to change this over to a feature request in case someone can figure out how to do it.

[2016-07-20 22:23] thatch45 commented on #32591
Ok, this is a type checking issue, the root of the problem is that the value passed to `unless` resolves as a bool and we were not checking for it before. The above PR fixes this issue for me

[2016-07-20 22:35] boboli opened #34839 "npm.bootstrap state fails even though nodejs is installed"
### Description of Issue/Question

I'm using the `npm.boostrap` state, and since it requires npm/nodejs to be installed to work, I have the `npm.bootstrap` state require the `pkg.installed` step for installing `nodejs`.

I expect the `npm.bootstrap` state to succeed since it runs after `nodejs` gets installed, but it always fails on the very first `state.highstate` run due to:

[code]

I suspect t

[2016-07-20 22:49] thatch45 commented on #31576
Yes, I can see this. Salt-ssh works by transporting the state data as json, so when you introduce the binary then json would die. I will take a look

[2016-07-20 22:51] Ch3LL opened #34841 "Wrong return when using `user.chgroups` on windows"
### Description of Issue/Question

When running `salt '*' user.chgroups dude 'groupy,groupz'` I get return True, even though it exists with return code 11 because the group does not exist. I am expecting this to return false.
### Setup
1. windows salt-minion
### Steps to Reproduce Issue
1.

[code]

As shown below salt-call provides more information and tells us this is because groupy does not exis

[2016-07-20 23:50] s0undt3ch commented on #31576
We can make JSON detect the binary data and base64 encode it?
We do need, however, a way to detect the explicitly base64 encoded data in order to decode it on the other end...

[2016-07-21 01:31] dmuntean commented on #33175
Hit same error - "RuntimeError: maximum recursion depth exceeded" when trying to start a freshly installed salt-master with the missing directory, which was defined in runner_dirs. Once the directory was created the error went away.

[2016-07-21 02:26] lew-huiying commented on #34029
I'm having the same problem with cmd.run. I've tried it both as a custom module that calls cmd.run and using the cmd.run state.

### Error message:
[code]

### product.sls:
[code]

### Reproduce issue:
Execute state on windows minion: salt 'winServer' state.apply product

### Version
[code]

[2016-07-21 03:02] boltronics commented on #31247
@UtahDave that sounds even better (since no new option would need to be added). Nice.

[2016-07-21 03:12] terminalmage commented on #2707
Integration test added in https://github.com/saltstack/salt/pull/34807/commits/1cd542edb8c76fc29afc839b1269b55103eb5a03.

[2016-07-21 03:27] terminalmage commented on #2707
Added a second integration test in https://github.com/saltstack/salt/pull/34807/commits/f9cd83e8bb6128e9d8e34f21db5a8ac0a07d5899.

[2016-07-21 05:05] seamus-45 commented on #34061
I'm not an expert in this topic, but why the following piece of code simply does not work:

[code]
[code]
[code]

[2016-07-21 05:43] terminalmage commented on #34790
It was done this way to improve how ``git.latest`` handles cases where tags are checked out. If you set ``rev`` to a tag, and Salt checks out a branch with the same name as the tag, this results in an ambiguous ref in the local checkout, which interferes with ``git rev-parse`` commands when Salt tries to check the local SHA to see if it differs from the remote SHA.

[2016-07-21 07:19] s0undt3ch commented on #34061
The shlex module in python 2 does not support Unicode, and it won't support Unicode, apparently. See https://bugs.python.org/issue1170 for additional information.

One alternative could be to depend on https://pypi.python.org/pypi/ushlex or converted Unicode to utf-8 before feeding it to shlex.

[2016-07-21 07:26] Jock-TNT commented on #29222
good!Thanks Utah Dave!!

[2016-07-21 08:02] seamus-45 commented on #34061
The problem is not only shlex related, as [described in Jinja2 docs:](http://jinja.pocoo.org/docs/dev/api/#unicode)

This creates problems with code like this:
[code]
if arg is Unicode. I do not know how to solve this problem on **sls** level without getting rid of Unicode in **sls**

Why just not encode arg to utf-8 string as below?
[code]

[2016-07-21 08:18] s0undt3ch commented on #34061
[code]
The above works? Do note that that's from the tip of my head and untested.

[2016-07-21 08:18] s0undt3ch commented on #34061
*top

[2016-07-21 08:19] gczuczy commented on #25926
@shellhacks I haven't yet found any workaround. However I hope this will be done, as the pygit2 implementation for pillars happened, tho yet it works differently. Probably in a later release this will also be possible to do.

[2016-07-21 08:20] s0undt3ch commented on #34061
Again, we can't simply assume utf8 unless we are 100% sure that's what augeas uses.

[2016-07-21 08:46] seamus-45 commented on #34061
You mean python-augeas or libaugeas?
Quote from [augeas-devel mail list:](https://www.redhat.com/archives/augeas-devel/2010-April/msg00005.html)

[2016-07-21 08:47] mortis1337 commented on #25926
@shellhacks we created some ugly bash-scripts that runs in cron and fetches all branches and creates a topfile for the pillars based on that. (With lots of magic in it ...) It almost hurts watching it. Would really be nice to have this feature in salt, yes.

[2016-07-21 09:15] shellhacks commented on #25926
@gczuczy, @mortis1337 thanks for feedbacks guys.

[2016-07-21 09:24] hemebond commented on #6955
Do we have an example of what kind of output this feature should generate? Functional specs? Each issue asking for this feature is slightly different.

I did some testing to replicate a simple system I had in a previous (homemade) config system: https://gist.github.com/hemebond/3b31f3ed5ba89dfc0af7655a498b8d2b

[2016-07-21 09:33] seamus-45 commented on #34061
[code]

`AttributeError: 'module' object has no attribute 'sdecode'`

But with the below changes exception not throws, and I received human readable output:
### Diffs
[code]
[code]
### Output
[code]

And with some magic everything is become to work, without changes mentioned in [referenced issue](https://github.com/hercules-team/python-augeas/issues/18):
[code]

So, looks like **ushlex** will solv

[2016-07-21 09:41] jkramarz commented on #9332
In 2015.8.10 it can be done in this way:

[code]

If it's too long, you can always define a macro.
It would be nice to have "env" parameter, but it would duplicate existing feature.

[2016-07-21 10:31] seamus-45 commented on #34061
It's true, working patch:
[code]

[2016-07-21 10:54] mbom2004 commented on #34551
We were able to get the issue resolved.  It looks like there is a problem with the logstash.py file.  We changed the logstash.py at the end of the file to match below:

![ls fix](https://cloud.githubusercontent.com/assets/20343881/17020503/eb8cf99c-4f0f-11e6-981f-d1ea6c447350.png)

[2016-07-21 10:59] alexykot commented on #34776
I think I know where the speed problem lies. I did something that totally changed the way it works, and here is what is was.

Initially I was doing the test using the same salt stack instance I use for managing main infrastructure we have. I have the provider for production GCE cloud account configured in there, and I've added another provider for this performance testing, so I had two providers c

[2016-07-21 11:46] bemeyert commented on #33784
OK, we don't have this issue. It was the fault of our network. We use OpenBSDs "pf" firewall. There is  a limit for the number of states called `adaptive.start` which we crossed with some new services having lots of persistent TCP connections. Thus long living connections (especially the masters) have been "killed" prematurely.

BTW: Now we monitor the number of states ;)

Sorry for the hassle. I

[2016-07-21 12:17] driskell commented on #33782
This seems to be because ssl object in Python 2.6 doesn't have SNI. And everything is using that. And even if you do install the pyOpenSSL stuff - all the libraries won't use it by default - they need telling to in the code.

Ansible looks to have fixed this. Not sure if it's something that might provide some insight into what's needed within SaltStack?

Hit this problem today and it's really frus

[2016-07-21 13:22] xenuser opened #34843 "file.directory: Want to make sure dir is there, but Salt does recurse lookup first"
### Description of Issue/Question
When using file.directory, I want to make sure that a directory exists.
In my case, I created a directory which is a mount point for a distributed filesystem which contains houndreds of thousands of files. When running the following low state, a strace shows that Salt looks up the content of this directory (instead of just creating it or checking, if it exists):
`

[2016-07-21 14:01] twellspring commented on #34790
Thanks for the insight.

[2016-07-21 14:01] #34790 closed

[2016-07-21 14:14] ketzacoatl commented on #6955
FWIW, reclass does this _perfectly_, and has exactly what the primary use cases want out of the general idea. http://reclass.pantsfullofunix.net/

[2016-07-21 14:45] terminalmage commented on #34790
No problem. Is there any way that you think we can improve the documentation to make this more clear? I know you said you looked at the docs in the initial post, but you didn't catch this in the ``branch`` parameter docs. So if there's something we can do to make the docs better, I'm certainly open to suggestions. As a developer, when I write documentation I'm nearly always doing so from the persp

[2016-07-21 15:13] gravitypaint opened #34846 "salt-cloud vmware documentation: examples for kickstarting"
Hi,

I am attempting to use salt-cloud to create a new vm on an ESXi host. I would like to do this using a kickstart url, however I cannot find any documentation stating where to put this url.

I am getting a response from salt-cloud --query, so I know that I am able to connect to the host.
The host is not part of a cluster so I cannot test the clonefrom operation.

My vmware profile currently loo

[2016-07-21 15:34] thatch45 commented on #31576
yes, the other question is security, if we allow binary data like this can we ensure that it is safely transmitted?
The other option is to stop using JSON and use msgpack, we do ship msgpack in the thin now right?

[2016-07-21 15:59] #34345 closed

[2016-07-21 16:02] thatch45 commented on #33629
@jkramarz that should be sufficient, although you will need to trigger recreation of the thin tarball, it is only recreated if the salt version changes or it is not present, so you can remove it from the "master" cache to trigger a rebuild, it is located in the cachedir under thin, `/var/cache/salt/master/thin/` in the default config

[2016-07-21 16:05] thatch45 commented on #32981
Since this has been documented and is documented in the primary tutorial for salt-ssh I am going to close this out

[2016-07-21 16:05] #32981 closed

[2016-07-21 16:19] yamamushi commented on #34783
Here's a list of the pip packages installed (which shows impacket is installed):

[code]

And here is the powershell script that is being run (which is the same script being run on the salt master that works):

[code]

[2016-07-21 16:22] vchav73 commented on #34718
I am trying to use pillars on a master to schedule jobs on minions. If I understand [this doc](https://docs.saltstack.com/en/2015.8/topics/jobs/#scheduling-jobs) correctly pillars are an alternative to using config files for scheduling. I can't get it to actually work. This:

`salt '*' pillar.items `

returns the correct schedule. I then run

`salt '*' saltutil.refresh_pillar`

on the master but t

[2016-07-21 17:28] Ch3LL opened #34851 "salt-call pkg.upgrade name=openssl upgrades all packages"
### Description of Issue/Question

When running `salt-call --local pkg.upgrade name=openssl` it upgrades all packages on the OS instead of upgrading only openssl
### Setup
1. (1) minion that requires updates
### Steps to Reproduce Issue
1.

[code]

As shown above it is upgrading a lot more packages then just needed for openssl.
### Versions Report

[code]

[2016-07-21 17:36] Ch3LL commented on #34851
also seeing this in 2015.8.9

[2016-07-21 18:10] hrumph commented on #33620
Hi people,
I've hopefully dealt with a similar issue with #34768 (just finalized a few minutes ago and hopefully will be merged soonish).
Note that one of the problems was because of the following fragment in pkg.latest_version
[code]
a call to pkg.latest version (without refresh being passed into kwargs) will always result in a db refresh. I haven't personally looked into this issue yet, but I wo

[2016-07-21 18:13] thatch45 commented on #32706
Ok, so we want an option to add more auth backends, I am looking into it

[2016-07-21 18:20] edgan opened #34855 "salt-ssh doesn't exit on pillar conflict"
### Description of Issue/Question

  I had created a conflict in the pillar top.sls. When I ran salt-ssh it threw an error, but continued the run and made changes based on the lack of pillars. I expect it to exit and not continue the run.
### Setup

[code]
### Steps to Reproduce Issue

[code]
### Versions Report

2016.3.1

[2016-07-21 19:06] jakehilton commented on #33143
gevent 1.1.2 that was released today has a fix for this in it.

[2016-07-21 19:14] #24744 closed

[2016-07-21 19:16] aabognah opened #34856 "file.line replace mode does not work!"
### Description of Issue/Question

I am trying to use the file.line state to replace a line in a file but it does not seem to work
### Setup

I am trying to make changes in multiple lines in the same files. there is not easier way of doing that without managing the entire file, so I have multiple states like the one below, non seem to behave as expected:

[code]
### Steps to Reproduce Issue

Every

[2016-07-21 19:21] hrumph commented on #34821
Hi again @morganwillcock. I have reviewed the code and technically this may not a bug at the moment, but I think it should be. When pkg.remove doesn't get a version passed to it, it attempts to uninstall the latest version.

The following code fragment in pkg.remove is the probable culprit
[code]
I consider that if you call pkg.remove, with no version specified, then every instance of that package

[2016-07-21 19:21] #34796 closed

[2016-07-21 19:21] #34798 closed

[2016-07-21 20:00] rallytime commented on #34660
@ShaolongTan Hm. I am out of ideas on this one. Perhaps @Ch3LL or @cachedout have an idea of why this wouldn't be working correctly, even though `import consul` works fine on the box.

[2016-07-21 20:05] rallytime commented on #34846
@gravitypaint I don't think this is currently supported. Do I have that right @nmadhok?

[2016-07-21 20:06] cachedout commented on #34660
This sounds like you have multiple versions of python installed.

[2016-07-21 20:09] thatch45 commented on #31520
Looks like this is a bit deeper, we use ssh-copy-id to send down the pubkey, and ssh-copy-id breaks even if the key path is escaped with quotes or the space escaped with a backslash. So there are more issues here....

[2016-07-21 20:15] morganwillcock commented on #34821
@hrumph thanks for investigating further. I agree that removing any version of the installed package is one of the more logical (and useful) outcomes, but the pkg.removed docs say:

...so maybe this is going to have to follow what other pkg providers are doing (although I imagine a lot of the package providers are only going to provide a single version of a package).

There is also the issue than

[2016-07-21 20:17] nmadhok commented on #34846
Use the following sample profile:

https://docs.saltstack.com/en/latest/topics/cloud/vmware.html#creating-a-vm
[code]

You'll have to make sure that the preseeded iso has the link to the kickstart server. Currently, you cannot specify kickstart URL directly in your profile but am working on that functionality for future releases.

[2016-07-21 20:27] thatch45 commented on #28124
Yes, I can confirm that this works once the thin is deployed. I can also verify that running the commands with `-W` also solves the problem, as that prompts salt-ssh to deploy the thin to a specific location. I am also seeing that the problem is harder to reproduce with https://github.com/saltstack/salt/pull/34831.
I can also verify that once the thin is deployed then all is well with parallel com

[2016-07-21 20:31] thatch45 commented on #27898
@srkunze sorry about the late reply here, have you tried running the commands with the `-W` flag?
This deploys the working code every time the command is run. Also, are you trying to execute multiple states at the same time? This will cause salt- to lock and prevent the state runs to run in parallel. the `-W` option will likely also allow you to run states like this since the locks will not be sha

[2016-07-21 20:31] Trouble123 opened #34860 "Case insensitive globing - specially for Windows?"
Hi

We have a lot of windows minion, and unfortunatly some are upper case, others lower, and some a mix. I am trying to find is there a command or config change that can make the glob case insensative?

I have seen that i can use something like this: _salt -E '(?i)paul' test.ping_, but remembering to use that command, instead of just _salt_ is a challenge.

Thanks

[2016-07-21 20:58] lichtamberg commented on #8249
+1

[2016-07-21 21:01] hemebond commented on #6955
I thought ReClass only interpolated variables that appeared higher in the hierarchy. Is that not the case?

[2016-07-21 21:12] derekmaciel opened #34861 "minion incorrectly reports package cannot be installed"
Does not appear to be a duplicate of #29978

On a CentOS 7.2.1511 minion and CentOS 6.4 master (salt versions below), I verify the package can be installed:

[code]

I then apply to the minion

[code]

and I receive

[code]

Interestingly, after the state fails to apply, the package *is* installed on the minion:

[code]

And if I apply the state again, it is expected salt will recognize the packag

[2016-07-21 21:31] dmurphy18 commented on #34774
Have identified the issue and a fix shall appear in the next point release. It is being tracked by an issue in salt-pack https://github.com/saltstack/salt-pack/issues/121.

I would like to close this issue here and track it appropriately in salt-pack

[2016-07-21 21:38] thatch45 commented on #27783
@anlutro sorry about the wait, the above pr should fix this issue

[2016-07-21 21:39] thatch45 commented on #27783
basically the minion was not refreshing the file_lists file until 30 seconds had passed, this changes it to 3 seconds, so it is around for the run that matters and then is replaced. This issue can also be side-stepped with the `-W` option

[2016-07-21 21:47] thatch45 commented on #27669
@jacobhammons I am going to change this over to a documentation issue, we should add to the docs that you can set configurations for ssh that salt-ssh will use and give this example case.

[2016-07-21 21:51] thatch45 commented on #26689
I am surprised this ever worked. The scan roster was always the intended solution here. The scan roster can also be used against a subnet if you want to go crazy. With the answer posted I am going to close this issue out

[2016-07-21 21:51] #26689 closed

[2016-07-21 22:08] hrumph commented on #34821
@morganwillcock,
yes I guess multiple versions of the same thing may not be possible (i was thiking about kernels and how I see a comma-separated list of versions for the version info) but I consider that to be a bit of a side-issue. OTO i don't think I understand what you are saying about the matching.
For instance if I have Firefox esr 45.0.1 installed and the following formula
[code]
Then when

[2016-07-21 22:22] openstackAnalyst opened #34863 "Unable to import salt utils in custom modules"
### Description of Issue/Question

I have copied the test.py module from /usr/lib/python2.7/dist-packages/salt/modules and pasted it in /srv/salt/_modules with a different name. when i run salt '*' saltutil.sync_all, the output lists the module to be copied from salt master to salt minion but when i run the command it fails with unable to load module which can be seen in the minion log file.
[code

[2016-07-21 22:30] morganwillcock commented on #34821
As an example, I've got a package definition for Chrome that only contains a single version (i've not updated this in a few months):
<pre>salt salt-test pkg.list_available google_chrome

salt-test:
    - 50.0.2661.94</pre>
...but Chrome has upgraded itself, and I have no uninstall logic for this version (package GUID will most likely have changed, maybe even install location once the 64 bit build

[2016-07-21 22:39] morganwillcock commented on #34821
@hrumph I think Firefox is a demonstration of how an inconsistent displayname for the package can change behaviour, technically every time it upgrades it's viewed as a different product, so the version comparisons for the package are redundant.

[2016-07-21 22:46] jmacfar opened #34866 "win_pkg.install and .remove cannot uninstall software w/ multiple versions installed"
### Description of Issue/Question
In 2016.3, win_pkg.install / win_pkg.remove cannot deal correctly with packages if multiple versions are installed. Ex. java.

### Steps to Reproduce Issue
[code]

### Versions Report
Master and Minion:
salt 2016.3.1 (Boron)

Submitted PR #34864

[2016-07-21 22:50] hrumph commented on #34821
@morganwillcock, it's an artifical example I made up, and I made sure that the displayname matched what I have installed. So it matches what I have installed but the version is different. Can I see your sls file? I want to better understand what's going on.

[2016-07-21 22:57] #33784 closed

[2016-07-21 23:03] hrumph commented on #34821
@morganwillcock also what version is your salt minion? Maybe this is a behaviour that changed.

[2016-07-21 23:08] hrumph commented on #34821
My bad sorry man. I reproduced the behaviour (had the first line commented out in my sls file.) OK really sorry about that. This is news to me but all the same I don't think its game-changing. Like I said, I believe that salt should do the uninstall when it can.

[2016-07-21 23:10] thatch45 commented on #34561
Right now those returns are sent via events, but we want to get them into the returns table. We should be able to add the master_job_cache option on the end of runner invocation and just spoof any data that is not part of runners

[2016-07-21 23:50] mirko opened #34867 "pkg.installed always fails for custom package"
I'm experiencing the issue, that ensuring a pkg-state for a custom deb file always fails.
The package gets installed fine and the dpkg call succeeds. Even if the package is already installed (state being pushed before or package installed manually) ensuring the state fails.

relevant content of sls file:
[code]

Output:
[code]

Observed call on minion:
[code]

Call executed manually (*just for ref

[2016-07-22 00:08] Ch3LL opened #34868 "timeout issue when installing packages on windows"
### Description of Issue/Question

when attempting to run the following sls file:

[code]

I continue to get the following error: `minion did not return` even when i change the timeout to 1000 (`-t 1000`). It actually installs the packages correctly but I would expect for salt to wait until the packages have been installed before timeing out.
### Setup
1. (1) windows minion and linux master
2. /sr

[2016-07-22 02:26] terminalmage commented on #34725
@akoumjian See https://github.com/saltstack/salt/pull/34869, this should address this case. I've also added an integration test to ensure this behavior remains moving forward.

[2016-07-22 04:33] cbuechler opened #34872 ""Minion did not return" executing state with long running command, 2016.3 regression"
This is a setup I've been using for about a year, on a variety of 2015 versions, with no issue. Upgrading the minion to 2016.3.1 makes it stop working. I believe it's long-running commands, but maybe something else specific to what I'm doing.

Take the following state:

[code]

Where image-latest.img.gz is a gzipped disk image file, which in normal operation is sent to dd with output to a hard dri

[2016-07-22 04:34] hrumph commented on #33620
Hi, I just looked at the code, and I think the problem is as I described. Will issue a PR sooner or later to fix this (if no else does it first).

[2016-07-22 05:24] Deshke commented on #34774
do so

[2016-07-22 06:28] Cashwini opened #34873 "Scheduler on master does not recognize the date strings supported by python dateutil"
### Description of Issue/Question
Schedule on master does not recognize the date strings supported by python dateutil

### Setup
Add schedule to the master config file with frequency as date string
   **when:
              - Monday 5:00pm**

[2016-07-22 06:32] Cashwini opened #34874 "Schedule frequency in master file gets reset every time salt master is restarted"
### Description of Issue/Question
Frequency of the schedule on salt master is reset every time salt master is restarted.

### Setup
Add a schedule to salt master config file with frequency 10 minutes. Restart the master after first execution after about 5 minutes. The expected next execution should be after 5 minutes but the frequency is reset and the schedule is executed after 10 minutes instead.

[2016-07-22 06:56] TheBigBear commented on #34868
I believe this is linked? https://github.com/saltstack/salt/issues/34872

[2016-07-22 06:57] TheBigBear commented on #33620
@hrumph thank you so much. I agree it definitely looks as if refresh_db is getting called unnecessarily every single time. I had also looked deeper and found that even during a '--local' run from the windows minion as suggested by @damon-atkins it still ran a refresh_db 60 + times, on a machine with just a few pkgs installed.

This will be really good to get sorted, and if we can get the windows '

[2016-07-22 07:32] damon-atkins commented on #33620
other package manager would ignore the request if it happen in less than a few minutes. Their are more smarts required.

[2016-07-22 07:33] derekmaciel commented on #34867
Possibly related to #34861

[2016-07-22 08:10] Da-Juan commented on #29081
I'm interested in this too!

[2016-07-22 08:39] gravitypaint commented on #34846
Thanks for making that clearer!

[2016-07-22 08:52] TheBigBear commented on #31889
@twangboy @jfindlay what will be done on this one?

Is it going to be a case of enable/ implement ```upgrade``` for a full system upgrade under windows to bring it to feature parity as documented in it's own windows docu here? https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.win_pkg.html#salt.modules.win_pkg.upgrade

Or is it going to implement a missing 'not implemented message'

[2016-07-22 10:46] rg25 opened #34877 "Using salt.beacons.load to monitor system load"
### Description of Issue/Question

In reference to https://docs.saltstack.com/en/latest/ref/beacons/all/salt.beacons.load.html
Please explain the meaning of -
thresholds for each load average in beacon

[code]
### Setup

1) (Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Add this config in minion configuration file

[code]

2)  Run `sudo salt-run state.event

[2016-07-22 11:33] mirko commented on #34600
I'm having the same issue on an Ubuntu 12.04 machine using latest salt-ssh release on Debian Jessie.
It's the only target it fails on - even after deleting /tmp/.$USER_$RANDOM_salt - so it might be a good machine to debug this issue on.
I can also say, that it's not the only Ubuntu 12.04 target I have and it works fine on those other ones.

[2016-07-22 11:34] mirko commented on #27355
I'm having the same issue on an Ubuntu 12.04 machine using latest salt-ssh release on Debian Jessie.
It's the only target it fails on - even after deleting /tmp/.$USER_$RANDOM_salt - so it might be a good machine to debug this issue on.
I can also say, that it's not the only Ubuntu 12.04 target I have and it works fine on those other ones.

[2016-07-22 13:00] abednarik commented on #34851
HI

 I think this is a expected behavior in 2015.8 see [this](https://docs.saltstack.com/en/2015.8/ref/modules/all/salt.modules.yumpkg.html#salt.modules.yumpkg.upgrade) while in 2016.3 this behavior changed to also be able to upgrade single packages  see [this](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.yumpkg.html#salt.modules.yumpkg.upgrade)

Cheers

[2016-07-22 13:15] shellhacks commented on #22063
+1

[2016-07-22 14:08] abrinded opened #34880 "salt-cloud (non templated) VM deploy to an ESXi Host appears to require a "clonefrom" parameter"
### Description of Issue/Question

I am trying to create a new blank Virtual Machine using this shiny new feature introduced in 2016.3.0 via salt-cloud with a target of a single ESXi host

(**NOTE:** Not using vCenter, thus no template in use nor specified)
### Setup
- Single Salt-Master with Salt-Cloud installed, both at version 2016.3.1
- Followed guide: https://docs.saltstack.com/en/latest/topi

[2016-07-22 14:27] pstengel opened #34881 "Sequence vs Mapping YAML Usage"
Why are Salt states formed as a sequence instead of a mapping? To illustrate:

[code]

The "sequence-style" above is how Salt currently expects you to declare a state, but it seems like it adds complication to parsing and doesn't really make sense given that each sequence item is a single mapping. The mapping-style seems more straight-forward given the type of data we're dealing with (keys and val

[2016-07-22 14:33] davegiles opened #34882 "dsc.set_lcm_config function returning config_mode_freq must be an integer. Passed 15"
I’m trying to use the dsc.set_lcm_config function but noticing the following issues.
1.  The function is returning the error `config_mode_freq must be an integer.  Passed 15`.  Since I obviously passed an integer, I peered into the code to see what was going on.  When I checked the respective code lines (594 and 605), it seems that the if statement should have a ‘not’ operator placed in front of t

[2016-07-22 14:33] rburkholder opened #34883 "salt.wheel key.delete isn't functioning (problem like #25318) (but #31112 works for me)"
### Description of Issue/Question

running salt state file very similar to what is in https://github.com/saltstack/salt/issues/25318

[code]
[code]

[2016-07-22 14:44] aphor commented on #33813
I think what we probably want to do is

1. Keep the current behavior, and document it clearly
2. Add a "dns_zone" to allow arbitrary length zone names including `{'foo.com', 'bar.co.uk', 'public.example.com.au'}`

In the case of `mumble.public.example.com.au` and `mumble.staff.example.com.au` there is no conflict. DNS forward (address lookup) searches are always executed as FQDN keys (with a trail

[2016-07-22 14:54] rallytime commented on #34774
Thanks @Deshke and @dmurphy18!

[2016-07-22 14:54] #34774 closed

[2016-07-22 15:20] rallytime commented on #34816
@msdogado Can you give the fix in #34878 a try? Perhaps it would be better to create a new issue for the service module change.

@abednarik Thanks for submitting that fix!

[2016-07-22 15:32] rallytime commented on #34821
Hi @morganwillcock and @hrumph - Thanks for the discussion here. I agree that the current behavior is a bug (and confusing). A solution to this issue was just submitted yesterday in #34864. Can you guys give that a try and confirm that it fixes this issue for you?

[2016-07-22 15:38] msdogado commented on #34816
Hi,

sorry but this did not help.

after exchanging

enabled = ('amazon', 'xcp', 'xenserver')

by

enabled = ('amazon', 'xcp', 'xenserver', 'virtuozzolinux')

And removing this form minions config:

providers:
  pkg: yumpkg

I get:

     Comment: State 'pkg.installed' was not found in SLS 'global'
              Reason: 'pkg' __virtual__ returned False

[2016-07-22 15:50] rallytime commented on #34816
@msdogado What happens when you do run a pkg execution modules instead of the state? I don't have a virtuozzolinux box to test on right now, but maybe there are some insights in there to see why the pkg execution modules isn't loading. Maybe just something like `salt '*' pkg.list_pkgs`?

[2016-07-22 15:58] abednarik commented on #34816
HI @msdogado  Where did you edit that? In the master or minion? You can also try to put this module in *_modules* flush cache and sync the module. For how to do this check https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.saltutil.html

Sorry this didn't work, will follow up this issue and try to help.
Cheers.

[2016-07-22 16:20] aphor opened #34884 "salt.cloud.clouds.digital_ocean.post_dns_record does not support salt-cloud -f post_dns_record usage"
TypeError: post_dns_record() got an unexpected keyword argument 'call'

[DEBUG   ] Trying to execute 'digital_ocean.post_dns_record' with the following kwargs: {'record_type': 'A', 'name': 'pup02cristian', 'dns_domain': 'hybris.rocks', 'record_data': '159.203.39.245'}
[ERROR   ] There was an error running the function: post_dns_record() got an unexpected keyword argument 'call'
Traceback (most rec

[2016-07-22 16:24] lesykm opened #34885 "Incorrect -G grains matching"
### Description of Issue/Question
Get incorrectly matched not connected minions on variable grains target

### Setup
[code]
2015.8.10 and 2016.3.1 also affected.

### Steps to Reproduce Issue
1) Salt Master(2015.5.10/2015.8.10/2016.3.1)
2) Accepted but disconnected(turned off) minion for some time, so cache is invalidated by timeout, so /var/cache/salt/master/minions/\<minion_id\>/data.p is absent

[2016-07-22 16:32] msdogado commented on #34816
@rallytime

pkg.list_pkgs works! (before @abednarik 's suggestion about the modules)
highstate did not.

@abednarik

i now changed it on master and minion.

no change

**BUT**

after copying yumpgk.py to /srv/salt/_modules
it works!

[2016-07-22 16:36] tyhunt99 opened #34888 "[QUESTION] Is salt-cloud always supposed to create a network interface in EC2 if specified?"
I am trying to launch an EC2 instance via salt cloud into a vpc. I am trying to specify a static private IP address through a network interface defined in my profile. It works just fine and create the network interface with the correct IP if it does not exist and attaches.

Here is the relevant section of salt profile definition:
[code]

However when I delete the instance via salt-cloud -d, then t

[2016-07-22 16:37] rallytime commented on #34816
@msdogado Awesome! Glad that syncing the updated module down to your minions fixed it via the `_modules` directory worked. Thanks again @abednarik!

@msdogado Can you make a new issue for the service module item you mentioned so we can track that in it's own issue? Since you confirmed this particular bug was solved, I'm going to close this ticket.

Thanks all!

[2016-07-22 16:37] #34816 closed

[2016-07-22 16:48] yamamushi commented on #34783
@twangboy @UtahDave , I found this StackOverflow post about this particular issue, but I'm honestly not very sure where to apply the suggested fix:

http://stackoverflow.com/questions/27835619/ssl-certificate-verify-failed-error

I'm also not sure if this is an issue originating in WinRM or if it's something that needs to be fixed on the Salt side (I'm leaning towards WinrM).

This same issue was

[2016-07-22 17:11] msdogado opened #34890 "VirtuozzoLinux enabling services not working"
### Setup
sls file which is called by top of the environment
[code]
### Steps to Reproduce Issue

**on minion:**
[code]
## verification of correct enabled state
[code]
## disabling it so highstate should activate it again
[code]
**on master:**
[code]
##on minion checking if service got enabled:
[code]

### Versions Report
[code]

[2016-07-22 17:14] msdogado commented on #34816
@rallytime @abednarik Thanks for your help!

As suggestet by @rallytime I have opened following issue: #34890

[2016-07-22 17:16] twangboy commented on #34783
@techhat Do you see anything here? ^^^^

[2016-07-22 17:18] hrumph commented on #34821
Hi @rallytime, I haven't tested anything. The way I see it #34864 is a good patch and should get merged. AFAICS @jmacfar just wants to put things back the way they were, which is better than the way things are now. Without his patch, when multiple versions of something are installed, you can't just remove one of them. I don't think it addresses *this* issue however. Even after his patch, when vers

[2016-07-22 17:20] rallytime commented on #34890
@msdogado Thanks very much for filing this new issue.

@abednarik You might be interested in taking a crack and this one too. It's probably a similar fix to the one described in #34816, but for the corresponding service module.

[2016-07-22 17:24] hrumph commented on #34821
@rallytime since you have kept the bug label, would a PR to make the changes I have in mind be accepted?

[2016-07-22 17:25] rallytime commented on #34821
@hrumph Ah, thanks for summing everything up - I see what you're saying. I am not sure how the other pkg modules handle this, or if this is generally a windows issue, but perhaps an option can be added to say "remove everything if any packages of this name are found". That way current behavior isn't disrupted for anyone (especially when other pkg modules might behave differently on other distribut

[2016-07-22 17:26] msdogado commented on #34890
@rallytime

greped through the module files and found the fix:

 46 def __virtual__():
 47     '''
 48     Only work on select distros which still use Red Hat's /usr/bin/service for
 49     management of either sysvinit or a hybrid sysvinit/upstart init system.
 50     '''
 51     # Enable on these platforms only.
 52     enable = set((
 53         'XenServer',
 54         'RedHat',
 55         'C

[2016-07-22 17:32] rallytime commented on #34890
@msdogado Sorry, I am not quite following you. Are you saying that you were able to find `VirtuozzoLinux` in the `rh_service.py` file without modifying it, or that you added the line, but it's not working/synced down to your minions yet? I don't see any references to `VirtuozzoLinux` in that file on 2016.3.1 or any of the branches.

[2016-07-22 17:33] aabognah opened #34892 "Questions: Is it possible to target minions in top file with negative matching on grains?"
### Description of Issue/Question
Can I target minions in the top file by applying states if they Do Not have a specific grain? for example, I have a grain called `roles` and I want to apply specific changes to hosts who have that role and anything else to the rest of the hosts.

[code]

The thinking here is I don't want to have to define another role (not-vanguard for example) for every other hos

[2016-07-22 17:33] msdogado opened #34893 "rpm VirtuozzoLinux not working"
### Steps to Reproduce Issue
not sure but if you want to add VirtuozzoLinux you will have to fix it aswell

file: /usr/lib/python2.7/dist-packages/salt/modules/rpm.py
[code]
you have to add VirtuozzoLinux to line 54 to make rpm.py working for Virtuozzo Linux

### Versions Report
[code]

[2016-07-22 17:36] msdogado commented on #34890
@rallytime

it works after editing the line 56 and adding VirtuozzoLinux.
So this is what you need to do as well for adding VirtuozzoLinux to your supported Distros.

I have opened a very similar issue #34893 provided what has to be changed as well.

Maybe you want to add this fixes?

Actually this was all incompatiblitys I was able to found for VirtuozzoLinux atm.

[2016-07-22 17:38] msdogado commented on #34890
So to make it mor clear. I have added a new line containing

 56         'VirtuozzoLinux',

After copying it do the _modules folder it works!

[2016-07-22 17:46] hrumph commented on #33620
@damon-atkins,
Dude, I'm just trying to fix a bug in a system I didn't design.

[2016-07-22 17:49] rallytime commented on #34890
@msdogado Awesome! Yeah I can get that fixed up in a jiffy. Unless you want to try your hand at contributing and submit a pull request? Totally up to you. :)

[2016-07-22 18:12] cmlad commented on #22356
Hitting that same bug on 2015.8 with `openjdk-7-jdk`, `openjdk-7-jre`, and `openjdk-7-jre-headless`:

[code]

[2016-07-22 18:31] hrumph commented on #34821
@rallytime the current behaviour is so absurd that I find it hard to imagine anyone depending on it. If you have program X installed and want to uninstall X, then remove X should remove X, not remove X only if X happens to be the latest version, otherwise complain.

[2016-07-22 18:43] cbuechler commented on #34868
I don't think this is related to #34872, as my circumstance there works fine in the 2015.8 version shown as affected here, it's only 2016.3 that's affected by that.

[2016-07-22 18:50] abednarik commented on #34890
I can take care of that tomorrow if @msdogado don't do it today :)

[2016-07-22 19:03] mr337 commented on #28125
+1

[2016-07-22 20:10] TheBigBear commented on #34868
@cbuechler you sure it is not common or shared code in the latest 2015.8.11 and 2016.3 as 2015.8.11 was released after 2016.3 was out?
In other words on which exact point release of the 2015.8 series did it last test OK on?

[2016-07-22 20:12] eradman commented on #34872
I think I'm running into the same issue, when running tasks that may not come back for 1-3 minutes:

    postgresql-9.5-replicate:
      cmd.run:
        - name: /usr/pgsql-9.5/bin/pg_basebackup -D /pg_data/9.5 -X stream -h virtdb01
        - creates: /pg_data/9.5/pg_hba.conf
        - runas: postgres

Results in

    Minion did not return. [No response]

But the task does complete. I'm using Cent

[2016-07-22 20:30] morganwillcock commented on #34821
@hrumph I think you can get same result by calling pkg.list_available in a template and looping over the result to apply the pkg.removed state on all known versions. This should always succeed but would also give you a chance to manually set the ordering or dependencies for the uninstall actions (as part of the template rendering).

Personally I would rather have pkg.removed operate in a similar w

[2016-07-22 20:44] rallytime commented on #34890
@msdogado and @abednarik I grabbed this one really quickly in #34900. Thanks everyone!

[2016-07-22 20:48] rallytime commented on #34893
@msdogado Thanks for filing this one too. I've added `VirtuozzoLinux` to the list of enabled distributions to the rpm execution module. Does that resolve this issue fully for you?

[2016-07-22 21:11] rothgar commented on #30711
Any tips on what it might be? I'm running into this and have tried regenerating certs and checking cert permissions (root:root 0600)

[2016-07-22 21:21] Ch3LL opened #34903 "timeout issue when running the `win_wua` execution module"
### Description of Issue/Question

I am receiving a minion timeout error when using the `win_wua` execution module when the job takes a long time to complete. The command completes, as I tested it using `salt-call --local` and eventually increasing my timeout to `1000`, but I would expect to not have to increase my timeout this high to see the results. This is related to #34868
### Setup
1. (1) wi

[2016-07-22 21:37] cro commented on #30711
@rothgar I see from the traceback this is Python 2.7, but what point release?  And what distro?

[2016-07-22 21:39] cro commented on #30711
Also, does this work if you pass the `-1` parameter to `curl

[2016-07-22 21:47] rothgar commented on #30711
I should have read the error more closely. I'm not sure about this issue (I assum it's the same) but mine is set up with TLS and the error says HTTP_REQUEST. I had my environment variable set to http instead of https. Once I changed that it worked.

[2016-07-22 21:50] cro commented on #30711
yes, I just noticed that it said `curl -i http://localhost:8000/login` `not curl -i httpS://localhost:8000/login`.  Still, a nicer error would be helpful.

[2016-07-22 22:06] steverweber commented on #8249
think the "reverse ssh tunnel" tunnel idea would be nice... perhaps make a module and salt-runner that automates most of the dirty work.

if we want something python based that perhaps could be wired over the salt communication pipes... should look at jupyter console code (linux/mac only).
https://github.com/jupyter/jupyter_console

[2016-07-22 22:24] rallytime commented on #34884
@aphor Thanks very much for fixing this - Nice work! I just merged in your change, so I'll go ahead and close this.

[2016-07-22 22:24] #34884 closed

[2016-07-22 22:43] #2707 closed

[2016-07-22 22:53] Ch3LL opened #34908 "Cannot start proxy minion due to keyerror in grains"
### Description of Issue/Question
When attempting to start the proxy minion the minion fails to start there is a keyerror traceback.

### Setup
1. setup a proxy minion

### Steps to Reproduce Issue
1. try to run the proxy minion:

`salt-proxy --proxyid=p8001 -l debug`
[code]

### Versions Report

[code]

[2016-07-22 22:59] hrumph commented on #34821
@morganwillcock, how the case of multiple versions of the same thing is handled is a side issue. It wouldn't bother me if that situation were handled by not doing anything (when the version paramater is None). However when there is only version of something installed it is absolutely clear to me what pkg.remove (with version=None) should attempt to do in that case. In that case it should attempt t

[2016-07-22 23:06] cachedout commented on #34908
Fixed via #34910

[2016-07-22 23:06] #34908 closed

[2016-07-22 23:47] whiteinge commented on #30711
Sheesh. I just tried wrapping a try..except in several places in rest_cherrypy and can't catch this traceback from there. Salt or rest_cherrypy aren't even in the stacktrace. I'm not sure how to handle this one... :-P

[2016-07-23 00:27] cbuechler commented on #34868
Looks like the last version that I used that worked was 2015.8.10, that was the last 2015.x version that was in FreeBSD packages. So I guess in theory it could be a regression between 2015.8.10 and .11, though that seems unlikely, I can't confirm or deny that.

[2016-07-23 10:41] msdogado commented on #34893
@rallytime Thanks! As far as I can see right now it fixes the VirtuozzoLinux related issues.

[2016-07-23 11:47] damon-atkins commented on #34821
No version should = remove all versions.

[2016-07-23 14:46] prius commented on #34362
Hi. Have exactly the same issue. But with one difference. First salt run (after minion restart) runs smoothly but second (and every highstate run after it) fails with the same message.

This is true for server and minion setup with params:
[code]

And also there is strange behaviour. When I'm trying to stop minion only one process is getting killed
[code]
Here is what happens on master while run s

[2016-07-23 15:06] damon-atkins commented on #34781
Anyone know how to get errors feed back into salt master.
I have seen some salt modules return errors and salt hi-lights them.  Not sure if I am doing it the salt way with just storing the errors in a hash/dict.

salt a_win_pc pkg.genrepo
    Errors:
        ----------
        \base\win\repo-ng\dvscheduler2.sls:
            pkgname "dvscheduler", already defined
        \base\win\repo-ng\salt-winr

[2016-07-23 15:10] TheBigBear commented on #34781
@twangboy ^^ @jfindlay ^^ @terminalmage ^^ could one of you point @damon-atkins in the right direction?

[2016-07-23 15:18] prius commented on #34362
Here is experiment that reproduces problem every time:
Kill salt-minion with killall -9 salt-minion, ensure that there are no salt-minion processes left with ps. Next start salt-minion.
Run first job from master (in my case it was job with jid 20160723175850927135) and see what happens in minion logs:
[code]
Ok. That part runs ok and nothing criminal happens. state.apply returns properly with all

[2016-07-23 15:50] prius commented on #34362
haha, finally located my problem. It wasn't a bug. A had definition for salt-minion in my state
[code]
So every time I ran state.apply I've started new instance of salt-minion and that was cause of all my problems. Wasted 2 days to find it.

[2016-07-23 16:03] prius commented on #34362
also have to mention that in debian pkg there are both initscript and upstart script installed. And when you run salt-minion via initscript, salt itself tries to run upstart script. So as a result you have 2 salt daemons started. Maybe it's the reason of OPs problem (check how many daemons you are running at the moment when problem occures).

[2016-07-23 16:34] uvsmtid commented on #14002
@jagguli, I normally deal with Windows machines which have Cygwin deployed (just in case). So, I just ran additional `unix2dow` command with `cmd.run`. I don't like it (dependency on Cygwin), but that what saved my days many times.

[2016-07-23 17:52] abednarik commented on #34890
Great, thanks :)

[2016-07-23 20:54] abednarik commented on #34760
HI @nate-byrnes

 Do you mind trying this fix? https://github.com/saltstack/salt/pull/34915

Hi @rallytime

 I might be wrong, but systemd is autodetected based on how the system was booted, there is no list to match against like you say in other providers. This is not the case in rh_service, where I did a change to avoid loading rh_service when XenServer is >= 7

Thanks.

[2016-07-24 02:29] robruma opened #34918 "salt.states.augeas.change: changes set command assumes more that 2 arguments"
Running a state using augeas.change similar to the documentation example:

[code]

Results in the following error on the master:

[code]

The minion log contains the following suggesting the set command is being interpreted as multiple arguments due to the spaces in the path expression:

[code]

I've found quoting the set command argument corrected the problem:

[code]
### Versions Report

master

[2016-07-24 17:04] damon-atkins commented on #33620
I agree someone from saltstack needs to spend more time on it.

[2016-07-24 17:52] myii commented on #34122
@abcfy2 Thanks for this report, it helped me out when solving the same problem.  Just have a couple of points to add, that might help others solve this quicker.

#### Problematic package is actually `python-zmq` coming via. `ppa:chris-lea/zeromq`

I didn't want to go through the whole re-installation process, so looked at the versions of the `zmq` packages involved.  My findings actually tally wit

[2016-07-24 21:15] jim-raney-physiq commented on #31522
This is still a problem as of 2016.3.1.  I've been working around it by using a Swift proxy to Google Cloud Storage on the salt master and setting all of the minions to use it (still required hacking up one of the swift modules since someone hard coded a swift version in one instead of using the minion config variable).  I'd much rather have S3 v2 back, or a native GCS connector.

[2016-07-24 21:21] sjorge commented on #34762
The fix seems to have made it into both 2016.3 and develop. @aphor is everything working 'as expected' now?

[2016-07-25 05:36] oyb001 commented on #34264
pip install

[2016-07-25 05:38] oyb001 commented on #34264
I have reinstall distribute-0.7.3.zip,That problem have resolved.

[2016-07-25 05:39] oyb001 commented on #34264
@Ch3LL ,Thank you for help.

[2016-07-25 07:40] msdogado commented on #34890
thank you guys!

[2016-07-25 07:53] beelit94 opened #34922 "batch option in orchestration raise exception when no minion matched"
### Description of Issue/Question

if a batch option is given and no minion matched in a orchestration.
An ' SaltClientError: No minions matched the target' exception will be raised
### Setup

create test.sls in orchestration folder

[code]
### Steps to Reproduce Issue

given a test.sls in a orchestration file and run

[code]

if an item in a orchestration file with batch option, and not matching

[2016-07-25 08:44] sebw commented on #34547
I disabled my custom grains so they don't interfere and I'm still getting the same trace. I tried to install httplib2 (pip install httplib2) but it doesn't help.

[2016-07-25 08:53] ShaolongTan commented on #34660
I have missed the test environment. If I can reproduce  issue again, I will check env whether or not there have multiple python versions.
Thanks for your helps.

[2016-07-25 09:38] zygiss commented on #33630
I encounter this problem as well with [pepa](https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.pepa.html) external pillar following an upgrade from `2015.8.5` to `2016.3.1`.

Here's how I'm able to reproduce it on my end with `pepa`:
`/usr/local/etc/salt/master`

[code]
`/srv/salt/pepa/default/default.yaml`
[code]

And when I run `salt-call pillar.items`, the rendered `hostname` is `

[2016-07-25 11:31] BrickXu opened #34924 "pv_present with xfs hangs if existing filesystem signature detected"
### Description of Issue/Question
pv_present with a xfs partition hangs, because `pvcreate /dev/xxxx` will promp up a warning message and need to type Y/N like this, and wait indefintely for prompting an yes answer:

WARNING: xfs signature detected on /dev/xxxx at offset 0. Wipe it? [y/n]:

### Setup
[code]
### Steps to Reproduce Issue
A disk partition with filesystem signature, then use lvm.pv_pr

[2016-07-25 11:33] guettli commented on #33629
salt:/srv # salt-ssh -w lkw-cips grains.get mygrain
lkw-cips:
    grain old-message

salt:/srv # vi salt/_grains/mygrain.py
modified code to this:

def mygrain():
    return dict(mygrain='grain new :-)')

salt:/srv # salt-ssh lkw-cips saltutil.sync_grains

salt:/srv # salt-ssh -w lkw-cips grains.get mygrain
lkw-cips:

No output???

salt:/srv # ssh root@lkw-cips
lkw-cips:~ # rm -rf /var/tmp/.root_d

[2016-07-25 11:33] benhosmer commented on #34587
There was a comment I saw somewhere pertaining to this issue, but I can't seem to locate it now.

I'm working on adding configuration options to the `postgres.py` module so that users can specify the path to the `psql` and `initdb` binaries if they aren't on the path.

[2016-07-25 11:50] guettli commented on #33475
@cachedout Thank you very much. Overriding `os_family` works. The real problem was, that the custom grains don't get updated via salt-ssh. I close this issue, but #33629 still exists.

[2016-07-25 11:50] #33475 closed

[2016-07-25 12:50] vitalyisaev2 commented on #32059
I reproduced this error with ```docker 1.6```, ```docker-py 1.8.1``` and ```salt-minion 2016.3.0```. Update to ```2016.3.1``` (which provides @ticosax 's PR) fixed the issue.

[2016-07-25 13:27] phil123456 commented on #34479
winrepo_dir_ng: '/srv/salt/windows_packages/repo-ng'

[2016-07-25 14:06] loz-hurst commented on #29421
I think this is different to #30062 and we're seeing it in 2015.5.10.  In essence, if you have multiple environments with split top.sls files (one environment per top.sls) and the environment explicitly set (via environment config option) on the minion-side, the states side respects this and merges correctly only applying the environment configured on the minion side but the pillar side of things

[2016-07-25 14:20] #34890 closed

[2016-07-25 14:21] rallytime commented on #34893
@msdogado Awesome! I'll close this up, then. :)

[2016-07-25 14:21] #34893 closed

[2016-07-25 14:46] rallytime commented on #34264
Glad you got this working, @oyb001. I'll close this.

[2016-07-25 14:46] #34264 closed

[2016-07-25 14:48] jkramarz commented on #33629
@thatch45 thank you, I've removed ./cachedir/thin/thin.tgz and it works for me.

[2016-07-25 14:55] rallytime commented on #34660
@ShaolongTan Sounds good. I'll close this for now, but certainly let us know if you bump into this one again.

[2016-07-25 14:55] #34660 closed

[2016-07-25 15:21] rallytime commented on #34760
@abednarik Right that makes sense. Thanks for submitting that fix. Looks good.

[2016-07-25 15:28] damon-atkins commented on #34781
I could use salt.exceptions?

 What sort of behavior do we want.
a) write out the new winrepo.p even if errors exist.
b) process everything and then  error at end, and not write out the winrepo.p, leaving the old one in place.
c) if error delete the existing winrepo.p because its not current any more, and therefore any state if run would be incorrect.

[2016-07-25 15:32] bobrik opened #34927 "Salt does not run "systemd daemon-reload" on unit override"
### Description of Issue/Question

When some package provides legacy init.d script but you wish to use your own shiny systemd unit file, salt resists to help out.

### Setup

I managed to get "minimal" working example. There may be extra bits here, but the whole thing shows the issue.

State in question (the only one):

[code]

Highstating from it gives us running unbound, that's great:

[code]

B

[2016-07-25 16:15] otupman commented on #34880
Digging through this I believe I've identified [the line](https://github.com/saltstack/salt/blob/v2016.3.1/salt/config/__init__.py#L2754) that causes this:

    elif driver == 'vmware' or linode_cloning:
        required_keys.append('clonefrom')

So it looks like whenever the driver is `vmware` it always requires the `clonefrom` parameter in the profile, which then causes vm creation to follow a w

[2016-07-25 16:19] sincilite opened #34928 "Module 'service' is not available."
### Description of Issue/Question
Running service.X for a package results in Module 'service' is not available response.

### Setup

[code]

[code]

### Versions Report
**Salt Minion**

[code]

**Salt Master**

[code]

[2016-07-25 16:48] Ch3LL commented on #34839
@boboli if you use the  `reload_modules` argument as documented [here](https://docs.saltstack.com/en/latest/ref/states/#reloading-modules)
do you still see htis issue occur? Also I am not certain npm is included in the nodejs package. on an ubuntu14 VM whne i did `apt-get install nodejs` i still did not have the npm utility. I do not see anywhere n your state where you are installng npm

[2016-07-25 17:13] Ch3LL commented on #34602
@thor this is related to using `test/init.sls`. If you were to use `test/some_file.sls` with the include it will work. Since `init.sls` files are referred to by its directory I believe this is the cause of the issue you are running into. Does this work for you? if you rename the file to something other then init.sls?

[2016-07-25 17:28] Ch3LL commented on #34674
@SHU17 were you able to try @uvsmtid suggestion to see if osmajorrelease key is a grain on your minion by running that command above? Can you paste the output of that command?

Alos what OS is this on? I'm assuming centos 5/6 but any clarification would help to what minion you are running this against. Thanks

[2016-07-25 17:41] Ch3LL commented on #34635
@pcdummy I am not able to replicate this on ubuntu14 or ubuntu16. In your state file I was seeing this error: `Invalid option -- Interface: eth2, Option: 'ipv6ipaddr' '2001:1:see:bad:c0de::19', Expected: [IPv6 address]` and had to change `ipv6ipaddr` to `ipv6ipaddrs` though. But using your exact same state file with that minor change I see the following:

[code]

And in /etc/network/interfaces eth

[2016-07-25 17:42] thor commented on #34602
@Ch3LL You're right, and I don't know how I left that out of the bug report -- sorry. 🐛
If I refer to a specific state-file instead of `test`, say `test.server`, it'll work without issue.

[2016-07-25 17:58] mahresohl commented on #32574
Error in master configuration indentation was the reason:
-----------------------
<pre>
external_auth:
  pam:
    user1:               # here ident was at the same level as 'pam' - voila
      - .*
      - '@runner'
      - '@wheel'
</pre>
------------------------
After correcting salt-api works OK

[2016-07-25 18:06] boltronics opened #34929 "service.running doesn't handle special characters in sig"
Here is a block I have in a state file:

[code]

The buildmaster init script on Debian Jessie does not include "status" argument support, so I need to use the sig state argument. The commented line above is basically what I had in 2014.1.13, which I am upgrading from. Now it no longer works, apparently because of the "()" in the twisted.run() method call.

I'm encountering this bug on Salt 2016.3.

[2016-07-25 18:07] Ch3LL commented on #34732
ping @UtahDave any way you can answer @hrumph 's questions about `_namespaced_function ` and add any clarification?

[2016-07-25 18:09] dwiest opened #34930 "file.managed can't download from HTTPS sources that use CloudFront"
I'm getting an SSL handshake error when using file.managed to download from an HTTPS source that uses CloudFront.

upsource_download:
  file.managed:
    - name        : /tmp/upsource-3.0.4389.zip
    - source      : https://download-cf.jetbrains.com/upsource/upsource-3.0.4389.zip
    - source_hash : https://download.jetbrains.com/upsource/upsource-3.0.4389.zip.sha256

I'm using the latest release

[2016-07-25 18:10] whiteinge commented on #32574
Glad you found it. Validation of config files is definitely a needed feature: #4352.

[2016-07-25 18:12] pcdummy commented on #34635
@Ch3LL Thanks for your answer! Did you try it with the cloud-init file **/etc/network/interfaces.d/50-cloud-init.cfg** it only happens to me when that file is present even if that file is not sourced in /etc/network/interfaces

[2016-07-25 18:15] Ch3LL commented on #34729
@mirko i'm having a hard time replicating this on both centos7 and debian jessie. HEre are my results.

1. ssh host not verified:

[code]

2. ip not reachable:

[code]

3. target does not exist:

[code]

As shown above it does not hang for me and I receive the correct output and error.
Anything you can help point me towards to try to replicate this? What os minion are you targeting. Also can you f

[2016-07-25 18:25] Ch3LL commented on #34735
@bobrik is there anything significant that happened before this occuring. Did you just recently upgrade your master to 2016.3? Also anything relevant in any of the debug logs on either master/minion?

[2016-07-25 18:27] dwiest commented on #34930
Looks like this is the same issue as https://github.com/saltstack/salt/issues/16409

[2016-07-25 18:37] Ch3LL commented on #34743
@bobrik I think this is a sound idea. I believe there is an issue open that is related to this, to add the ability to capture the standard error and send to master for all modules, but I cannot find the issue right now so I'll keep this one open and track this specific feature request for service state module. Thanks

[2016-07-25 18:50] Ch3LL commented on #34737
@EvaSDK I am able to replicate this behavior. Looks like the commit: 7ac43c777ffa3ffa2289ed299a2369b32adb8146 was the first bad commit. We definitely need to get this fixed up. Thanks.

[2016-07-25 19:05] Ch3LL commented on #34765
@Someguy123 How did you install salt? Also can you please provide the output of `salt-ssh --versions-report`

I'm not seeing this error so any additional information will be useful.

[2016-07-25 19:20] bobrik commented on #34735
Master was on 2016.3.1 for a few weeks. Minions in question did not restart at that time, right now one of them reports 2 weeks of uptime. Unfortunately, minion already rotated it's log. It's still in a broken state, though.

[2016-07-25 19:36] Ch3LL commented on #34804
@mohshami just to clarify it seems the issue now is that the pillar you are passing via command line is now also being merged into your other pillar values which causes the ID conflict. Am I understanding that correctly?

If that is the issue it looks like this behavior as been changed in #32288 to fix the issue #18429 to ensure pillar data on the command line uses merge instead of update to mirro

[2016-07-25 19:44] ssgward commented on #28592
@techhat - looks like we need to get this back ported into the 2015.8 branch.

[2016-07-25 19:49] Ch3LL commented on #34810
@RobotLimeLtd i think this is a sound idea. Although I do want to clarify that you can set external pillar in your minion config while running in masterless mode and it will grab the external pillar data.

[2016-07-25 20:15] dwiest commented on #33782
I just ran into this issue on a RHEL 6 server while trying to use file.managed with a CloudFront backed URL.

I was able to workaround the problem by creating a python2.7 virtualenv (with --no-site-packages) and making a symlink from site-packages/salt to my git checkout of salt.

I then copied all of the salt scripts from /usr/bin/ into my virtualenv's bin directory.  Rewrote the #! lines to refe

[2016-07-25 20:38] techhat commented on #28592
@ssgward, are you referring to #25072, #25219, or #25276?

[2016-07-25 20:57] Ch3LL commented on #34856
@aabognah I think you just need to add a couple of spaces to content like so:

[code]

Does that work?

[2016-07-25 21:13] Ch3LL commented on #34811
@suslikas  looks like i'm able to replicate both the unicode and doc error on 2016.3.1. In the docs you are right I cannot get this to work:

[code]

But I can get the following to work:

[code]

Also my test case for the json issue:

[code]

[2016-07-25 22:38] ssgward commented on #34766
@Someguy123 - thank for reporting. We'll be looking into this. Initially, sounds like a Mac specific issue.

[2016-07-25 22:55] alexshemesh opened #34940 "Exception KeyError: dockerng.image_present on ubuntu in ec2"
### Description of Issue/Question

I have problem provisioning ec2 ubuntu 14.04 instance.
I have 2 minions. 1 (minion.local) runs in my local virtual box. Another one (minion.ex2) is ec2 instance in AWS. Both minions are Ubuntu 14.04.
both have docker daemon installed
i installed docker daemon  using this formula [Docker Formula](https://github.com/saltstack-formulas/docker-formula)
When i try to

[2016-07-25 23:21] danlsgiga commented on #34575
Having the same issue here. Salt 2016.3.1, CentOS 7.

[2016-07-25 23:50] dmurphy18 commented on #34575
The fix for this shall appear in the next point release, which is soon.

[2016-07-26 00:20] lorengordon commented on #33782
I started digging into this a bit more, and as far as I can tell, only `requests` and `urllib3` offer SNI support for python 2.6 (and only when the necessary dependencies are installed). Salt's `util/http.py` module has backends for `requests`, `urllib2`, and `tornado`. The salt module defaults to `tornado`, but `tornado` utilizes the builtin `ssl` module exclusively, which does not and seemingly

[2016-07-26 06:51] eliasp commented on #34927
This is intentional - `daemon-reload` is an operation which is to be called explicitly, otherwise `systemd` could simply monitor `/etc/systemd/{system,user}` for changes and do the reload on its own.

The reason, why this doesn't happen automatically is to prevent a situation where systemd reloads unfinished/half-edited files and renders the service's configuration useless.

Use a `module.run` sta

[2016-07-26 07:20] mohshami commented on #34804
Thank you Megan,

Yes that is part of the issue, so i changed the pillar name, but another issue is that a loop I have generates duplicate entries. I changed 'websites' to 'websites2deploy'

{% for website in pillar.get('websites2deploy') %}

# Generate the list of files to be excluded from the code deployment
{{ website }}_excludeFiles:
  salt.state:
    - tgt: '{{ pillar.get(website)['target'] }

[2016-07-26 07:31] eliasp opened #34944 "Harden `modules.ebuild`, `modules.portage_config` against invalid pkg use dependencies"
### Description of Issue/Question

Using not 100% correct USE deps in `pkg.installed`'s `pkgs` arg, the state execution will fail with a backtrace.
### Setup

Make sure to have Salt 2016.3.1 installed on Gentoo
### Steps to Reproduce Issue

Execute:

[code]

This will result in a backtrace fixed in #34727 - with this fix applied, it will fail now similarly in another place:

[code]

I attempted to

[2016-07-26 07:35] eliasp commented on #34944
Just noticed that even with corrected USE deps in the pkg atom, it will wrongly report a success of the state:
[code]

This is another case which needs to be handled properly (unmet requirements).

[2016-07-26 07:49] alexshemesh commented on #34940
i think i found the problem
My minion.local was provisioned by Vagrant , and it has 2016.3 version
My minion.ec2 was provisioned by salt lloud during vm spinup and it has version 2015.3

[2016-07-26 07:52] oliver-dungey commented on #15651
I experienced this problem when using the `use:` directive which takes parameters from another state to save verbosity. This test:

[code]

Results in:

[code]

It's a frustrating error if you just want to re-use parameters - there is no reason for it to class this as an error, the second state ID's `contents_pillar:` specification should override the `contents:` arg of the state ID it is dependin

[2016-07-26 08:37] bobrik commented on #34927
It is also an operation that salt runs for me.

But it does.

* https://github.com/saltstack/salt/blob/0e0c428/salt/modules/systemd.py#L74-L84

[2016-07-26 09:05] babilen opened #34945 "file.recurse breaks directory permissions"
### Description of Issue/Question

A normal `file.recurse` state results in broken permissions of the managed directory.

### Steps to Reproduce Issue

Use a state such as:

[code]
which creates the following directory:

[code]

I had to add an explicit `file.directory` state for `/home/foo/.hooks` to get correct (and sensible) permissions.

### Versions Report
[code]

[2016-07-26 11:24] anlutro commented on #33892
So I replaced this:

    req_filename = os.path.basename(req_file)

with this:

    req_filename = req_file.replace(cwd, '').lstrip('/')

And the state works fine. I don't see the point of doing it at all though, since `req_filename` is already an absolute path. I'll submit a PR for review.

[2016-07-26 11:57] eliasp commented on #34927
…I stand corrected. So there's actually a bug.

[2016-07-26 12:16] rsuarezsoto commented on #16383
Sorry to comment on a closed issue, but I'm struggling with something that looks very much like this. I get this exception when I try to use augeas to modify /etc/pam.d/system-auth:

[code]

This is the SLS code:

[code]

This works if I run it through augtool. This is my input:

[code]

I'm using CentOS 7 and Saltstack 2016.3.1. Am I doing something wrong?

Thanks in advance.

[2016-07-26 14:24] Da-Juan opened #34949 "Need help to run salt at scale"
### Description of Issue/Question

Hi,

I'm running a single salt master on Microsoft Azure with a thousand minions (all outside Azure).
I'm experiencing several issues that prevent me to run salt properly:
- the number of established TCP connections on the master keep growing (seems related to issue #34719 )
- I can't get all the connected minions to respond to the master, if I try to use `salt m

[2016-07-26 14:30] mbrgm commented on #34497
@TheBigBear

[code]

[2016-07-26 14:38] Lomexian commented on #33901
I've not got a similar setup but while playing I did try using the identifier which I could only get to work if I used a zoneid so maybe that's what it's for?  The documentation doesn't make it clear.

buildbot_DNS_record:
  boto_route53.present:
    - name: buildbot.mydomain.internal
    - identifier: <zoneid>

[2016-07-26 14:53] #34778 closed

[2016-07-26 14:56] Lomexian opened #34950 "boto_route53 state erroring on highstate repeat"
### Description of Issue/Question

Initial highstating works fine and Route53 DNS records are created.  Subsequent highstate runs result in an error stating they already exist.  As a state this should exit gracefully as it is already compliant with state.
Additionally it would be nice if the state file could update records when an IP changes.
### Setup

master.sls

[code]
### Error

[code]
### Ver

[2016-07-26 15:17] Ch3LL commented on #34719
@d3xt3r01 it looks like there are keepalive settings as documented [here](https://docs.saltstack.com/en/latest/ref/configuration/examples.html) that you could configure in this case. Does that help your use case?

[2016-07-26 15:21] nbari commented on #33901
Can't make it work, this is what I get:

[code]

And this is the yaml:

[code]

[2016-07-26 15:22] pingangit opened #34952 "Much apprecited for your help with LDAP AUTH"
### Description of Issue/Question

I'm using ldap as external auth system.  There is one master node.  It manages 4 syndic nodes.  For each syndic, we install one minion.  These 4 minions on syndic nodes ID are beginning with 'SYNDIC'.  The other 200+ minions IDs are not beginning with 'SYNDIC'.
I have targeting in the file eauth.conf.  When I use 'salt' with targeting '*', it should have prompted

[2016-07-26 15:31] Ch3LL commented on #34820
@meagon can you clarify when you are seeing this error? Are you running a particular command?

[2016-07-26 16:03] Ch3LL commented on #34860
@Trouble123 it does not look like that is currently implemented. Looks like we are already tracking this feature request in #8965 So I will close this issue and we can track this issue there.

My only  other thought to make this easier currently is to implement a node group so you only have to type `-N paul`.

[2016-07-26 16:03] #34860 closed

[2016-07-26 16:03] thatch45 commented on #33629
@guettli could you try to force generating a new thin tarball as well? I think that is the solution and that we should update -w to also generate a new thin tarball, or add an option to do so

[2016-07-26 16:11] Ch3LL commented on #34861
@derekmaciel can you run this with `salt-call -ldebug` on the minion. This will show us more information such as what command is being run on the minion and paste it in this issue report. thanks.

[2016-07-26 16:27] Ch3LL commented on #34866
@jmacfar thanks for the PR! I will go ahead and close this since you fixed it. thanks

[2016-07-26 16:27] #34866 closed

[2016-07-26 16:46] Ch3LL commented on #34863
@openstackAnalyst i am able to see this behavior in 2015 branch. But it looks like its working in 2015.8 and 2016.3 branches. Would you mind updating to 2015.8.10 and seeing if it works?

[2016-07-26 16:48] cachedout opened #34958 "Transition __salt__ to __runners__ in runners"

[2016-07-26 16:53] Ch3LL commented on #34867
@mirko I believe this is a duplicate of #34508 But ust to make certain its a duplicate are you also seeing the package installed under the `changes` output for example:

[code]

[2016-07-26 16:56] rallytime commented on #34958
When this transition happens, we should make sure the [Dunder Dictionaries](https://docs.saltstack.com/en/latest/topics/development/dunder_dictionaries.html) docs are updated - Specifically the "note" in the `__salt__` section. (And add a new doc section for the new `__runners__` dunder.)

[2016-07-26 17:06] thatch45 commented on #34958
on the `__runner__` concept, we would want to first make `__runner__` available, move all of the core runners to it, and then make the deprecation error fire on any __salt__ refs, then we could make it smooth

[2016-07-26 17:09] eseyman opened #34961 "services sometimes do not stop"
### Description of Issue/Question
I use salt to install services on a number of boxes and sometimes see deployments hand forever.
When I ssh into the box and run 'ps', I see that the salt-minion is trying to stop forever for a service to stop. I've seen this happen with dovecot, memcached and redis-server

### Setup
The salt-master is 2014.7.0+ds-2~bpo70+1 from the debian 7 backports repo.
The sal

[2016-07-26 17:10] Ch3LL commented on #34873
@Cashwini Thanks for the PR! since its been merged and fixed I will go ahead and close this issue.

[2016-07-26 17:10] #34873 closed

[2016-07-26 17:16] mirko commented on #34867
If grafana is *already installed*:
[code]

If grafana is *not yet installed*:
[code]

I assume that qualifies for a *yes* as an answer.

[2016-07-26 17:16] UtahDave commented on #34732
As it's name indicates, the  `_namespaced_function` imports the function into the current module's namespace.

What's happening in the code you've noted above, @hrumph, is that there are several functions in the `win_pkg` module that are needed in the `pkg` state.

The `_namespaced_function` clones the function into the current globals() namespace.

[2016-07-26 17:17] Ch3LL commented on #34874
@Cashwini what version of salt are you seeing this on. If you could please provide the output of `salt --versions-report` thanks.

[2016-07-26 17:43] peter-slovak opened #34962 "Legacy git_pillar broken in 2016.3.1 when using environments"
### Description of Issue

After an upgrade from 2015.8.5 to 2016.3.1, Git pillar in Legacy mode (with `__env__` supplied as the branch) stopped being usable. We traced the issue to the master omitting the `__opts__['environment']` minion option, which is the reason Git pillar never considers any branch different than 'gitfs_base' (master in most cases).

To be sure, we tested the same workflow in

[2016-07-26 17:44] Ch3LL commented on #34880
@nmadhok can I get your opinions here? Do you think the `clonefrom` parameter should be required? any opinions on the approach of multiple drivers? thanks

[2016-07-26 17:46] hrumph commented on #34732
Hi @UtahDave,
right, but I don't understand why these functions can't just be called in the usual manner with the \__salt\__ dictionary. Instead they're being imported creating a hard dependency. Is there some reason why that had to be done?

[2016-07-26 17:55] craigafinch opened #34963 "Incorrect behavior or documentation for comments in salt.states.pkgrepo.managed"
### Description of Issue/Question

`comments` in `pkgrepo.managed` does not behave as documented. The documentation states, "Anything supplied for this list will be saved in the repo configuration with a comment marker (#) in front." However, Salt does not behave this way; anything in the comments section is added WITHOUT a # in front. I am not sure if the behavior or the documentation is wrong, b

[2016-07-26 17:55] openstackAnalyst commented on #34863
Many Thanks for the update, i will certainly upgrade my version and will try running the module.
I will update with the status.

[2016-07-26 17:57] Ch3LL commented on #34872
@cbuechler i'm not seeing this on 2016.3.1 using this test example:

[code]

Are your minions also 2016.3.1?

[2016-07-26 18:11] thatch45 commented on #34881
This is an artifact of how the original state system functioned. In my original design we needed to support multiple same name elements, this design was later fixed, but the syntax was never updated.
If you would like, it would be perfectly reasonable to add support for a mapping style approach.

[2016-07-26 18:11] Ch3LL commented on #34882
@davegiles i agree with your observation of the code needing the `not`.

Can you also provide the exact command you are running when you see this error? thank you

[2016-07-26 18:27] Ch3LL commented on #34877
@rg25 since you are using version 2015.5.3 you will wnat to make sure to look at the 2015.5 docs for beacons [here](https://docs.saltstack.com/en/2015.5/ref/beacons/all/salt.beacons.load.html). As shown in those docs you need to add load as a list:

[code]

Does that work for you?

And to answer your question about the meanings behind the thresholds. it is looking at the comand `uptime`:

[code]

[2016-07-26 18:32] #33620 closed

[2016-07-26 18:43] Ch3LL commented on #34883
@rburkholder looks like this is workign in 2016.3.1 now. Can you verify?

[2016-07-26 18:46] Ch3LL commented on #34885
@lesykm thanks for the PR! we will get this closed once the PR has been reviewed and merged.

[2016-07-26 18:50] Ch3LL commented on #34888
@tyhunt99 looks like there is currently an issue open for this question you bring up, and so this is a bug which needs to get fixed. I'm going to go ahead and close this issue so we can track this issue in #34675 . Feel free to comment in that issue as well :)

[2016-07-26 18:50] #34888 closed

[2016-07-26 18:58] nmadhok commented on #34880
develop branch contains the fix. The fix needs to be backported to 2016.3 branch. Specifying ``image`` is required when creating the VM and specifying ``clonefrom`` is required when cloning a VM. Either ``image`` or ``clonefrom`` must be specified in the profile.

https://github.com/saltstack/salt/blob/develop/salt/config/__init__.py#L2854

[2016-07-26 19:00] xlotlu commented on #29648
Something else to consider:
 - grafana_datasource is abandonware, it must have stopped working a while ago, (see #34965),
 - grafana_datasource and grafana_dashboard seem copy/pasted, they could easily(?) be merged,
 - both of them check for an undocumented "grafana_version" equaling to 2, which results in a "State was not found in SLS" exception which one can address only by reading the code. Als

[2016-07-26 19:21] rallytime opened #34967 "[develop] TestSuite stacktraces at the end of an integration test run"
### Description of Issue/Question
When running any integration test at the current [HEAD of develop](55bb3d09ab374da89419ab697320ee559c1e9d0a), the tests run successfully, but there is a stacktrace at the end while waiting for the processes to clean up:
[code]

The test suite then hangs there until doing a control-c. After that point, various stacktraces are printed:
[code]

Git bisect points to t

[2016-07-26 19:24] knine commented on #29132
Is there any update on this?  Are the repos safe to use?

[2016-07-26 19:30] Ch3LL commented on #34892
@aabognah you could use `grain_pcre` matching while using a non capturing group. I tested the following example and it works:

[code]

That will only run the test-file sls for every minion that does not have the value of `val` for the grain `key`. Does this work in your instance?

[2016-07-26 19:32] Ch3LL commented on #34918
@robruma just to clarify the issue at hand do you also see this issue when using the docs example of using set:

[code]

[2016-07-26 19:45] rallytime commented on #34967
Update: the original stack trace posted at the top of my issue is caused by the version of psutil installed via apt: `1.2.1-1ubuntu2`. Once handling for the missing `children` attribute, the original stack trace is gone. There are other issues after that point, but I believe they're more related to #33920.

[2016-07-26 20:17] robruma commented on #34918
@Ch3LL I do not see the issue using the redis example, only when there are spaces in the set command as a path expression. The redis example seems to work ok.

[code]

btw, removing the spaces from the problematic path expression also seems to work.

[code]

[2016-07-26 20:26] dcovello commented on #34153
@rallytime

Tested the following event_return_whitelist configuration :

[code]

Using "salt-call event.send" to test, I observed hat my custom returner module only received events whose tag matched "salt/key" and "salt/fs/states/updated". All other tags were not passed onto my returner. It looks like the whitelisting portion of this fix is working as I expected now.

Thanks!

Tested against the f

[2016-07-26 20:28] #33907 closed

[2016-07-26 20:33] Ch3LL commented on #34922
@beelit94 looks like i am able to replicate this behavior. We should be displaying a more useful error in the state output rather then stack trace. Thanks

[2016-07-26 21:13] TheBigBear commented on #34497
@mbrgm ok, a few more tests, please.

1. post your ```firefox.sls``` contents here, please.

2.
```salt 'salt-minion.example.com' cmd.run 'dir c:\salt\var\cache\salt\minion\files\base\win\repo-ng\salt-winrepo-ng\firefox*'``` is it synced to the right version size and date?

3.
```salt 'salt-minion.example.com' winrepo.show_sls salt-winrepo-ng/firefox```

Do all of those work, or do some of them sh

[2016-07-26 21:29] UtahDave commented on #34732
I think it's because the functions call eachother directly. If you look at the source of `_get_latest_pkg_version` here: https://github.com/saltstack/salt/blob/0c08724a7c39dd8e67efd764eebf644d87076fbe/salt/modules/win_pkg.py#L1218

You'll see that it calls `_reverse_cmp_pkg_versions` so they need to be in the same namespace.

I'm a bit hazy on the details here because I originally worked on that 3

[2016-07-26 21:38] hokie1999 opened #34970 "hello, I've searched around for this issue and had no luck. I am trying to monitor the state of a bond interface on a salt master. salt version is 2016.3.1 (Boron), Centos 7.1. I'm writing a custom module for this purpose. When I run saltutil.sync_all, the salt master doesn't show up on output list, just the remote minions. There are three minions running on the master. I could use more info on how the salt master monitors itself."
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2016-07-26 21:53] hrumph commented on #34732
Hi again @UtahDave. I think I understand what you are saying now. TYVM btw. I'm still newish to Python so I may be asking questions which you think should be be obvious. I'll close this in a day or to if I can't think of any followup questions.

[2016-07-26 21:56] UtahDave commented on #34732
Oh, no problem at all. You're correct that generally one should use the functions available in the `__salt__` dictionary. I think these were odd cases that required this.

[2016-07-26 22:06] terminalmage commented on #34732
``namespaced_function()`` is used to ensure that our "magic" dunder dictionaries such as ``__salt__``, ``__grains__``, etc. are available in functions imported from other modules. The reason we need to do this is because when the loader loads the functions, it adds these dunders, but this doesn't happen for functions that are imported.

The reason these functions cannot be invoked like any other f

[2016-07-26 22:08] cbuechler commented on #34872
It only happens when the minions are 2016.3.1, those versions shown are the minion version. The 2015.8 minion shown on the same 2016.3.1 master works fine.

That 'sleep 300' cmd.run exhibits the same behavior. Sleep of 15 seconds is the first that fails in the manner described, 14 seconds or less succeeds. Logs just like what I included in the original report. This is on a freshly-deployed FreeBSD

[2016-07-26 22:15] szjur opened #34973 "Syndic stops forwarding job results if the local salt-master is restarted"
### Description of Issue/Question
I built a setup with 2 masters and 2 syndics connecting to both of them. The thing is that if salt-master service is restarted on a syndic, it simply stops forwarding job results to the top level masters. The jobs are published and their results are coming back to the local salt-master, which is clearly seen in its log in debug mode. However, salt-syndic no longer

[2016-07-26 22:16] hrumph commented on #34732
Hi @terminalmage. That was a very concise and direct answer. I'll mull over this. It doesn't sound like any changes I would make would be accepted, but leave this question open for a day or two in case I have any follow up questions.

[2016-07-26 22:35] GarthSnyder opened #34975 "top_file_merging_strategy does not work as documented"
top_file_merging_strategy is documented as a minion-side configuration option. But if you set it to 'same' on the minion side, you'll see that it has no actual effect.

There's a warning message generated whenever multiple top files are merged. In the current version of 2016.3, the message is "top_file_merging_strategy is set to 'merge' and multiple top files were found. Merging order is not deter

[2016-07-26 22:43] GarthSnyder commented on #34975
[code]

[2016-07-26 23:03] Someguy123 commented on #34765
@Ch3LL I installed it via `pip3 install salt`

When I run version report, I get a large python3 error.

[code]

[2016-07-26 23:13] dmurphy18 commented on #29132
@knine not at the moment, a number of important fixes had to be addressed and should appear soon in point releases.  Hopefully it can be addressed soon.  Examining IUS to use as an example.

[2016-07-26 23:49] dmurphy18 commented on #29132
@knine The repo's are safe to use. The issue is with creating rpm's with the same name as Redhat and Epel named rpms, which is not allowed for Redhat or Epel repo's, however SaltStack is not submitting the generated rpms to Redhat or Epel repositories, therefore not violating that rule expect it's spirit.

The problem is due to SaltStack dependency on later versions of some packages, for example:

[2016-07-27 00:02] cbuechler commented on #34872
It's not just a long-running cmd.run either, applying state.highstate times out in the same fashion on FreeBSD minions even though it completes successfully. Logs along the lines of what I included in the original post.

[2016-07-27 04:08] aphor commented on #34762
This is also working for me now. Thanks!

[2016-07-27 04:08] #34762 closed

[2016-07-27 04:23] idokaplan commented on #30367
Hi,

Is there an ETA to fix this bug?

Thanks!
Ido

[2016-07-27 04:47] centromere opened #34978 "Beacon error being reported in logs"
The following is appearing in `/var/log/salt/minion`:

[code]

[code]

[2016-07-27 05:37] guettli commented on #2707
Thank you very much for fixing this.

[2016-07-27 06:05] zlanich opened #34979 "DO Provider returns 404 on salt-cloud -d, but destroys successfully"
Relevant Cloud: https://github.com/saltstack/salt/blob/bdafa60e6a9cd13adf0ada803ed8fde8a81fae3e/salt/cloud/clouds/digital_ocean.py

## Setup
### do.conf
[code]

### Profiles
[code]

### Map
[code]

## Steps to Reproduce Issue
`salt-cloud -l debug -d 'web1'`

## Logs
### Master Log
[code]

### Console Error
[code]

## Versions Report (same for Master & Minion)
[code]

[2016-07-27 06:56] variia opened #34980 "pillar rendering fails on multiline string data with specific chars"
### Description of Issue/Question
I am trying to pass specific multiline strings via pillar and rendering fails.

### Setup
[code]

if I remove the '{' or the '#' from the agent_count line or just add '\\#' instead, pillar renders fine.

### Steps to Reproduce Issue
100% failure, just add the agent_count line to any pillar, this is also confirmed on 2015.5.8

### Versions Report
[code]
Using EPEL

[2016-07-27 07:28] thor commented on #34980
I believe this is *not* a bug. Your `agent_count`-link has an unclosed [Jinja comment tag **`{#`**](http://jinja.pocoo.org/docs/dev/templates/#comments).

YAML-parsers would have no problem parsing it because it's valid YAML, but not valid Jinja.

I'm not sure if you read your error log, because the following error shows up:
[code]

[2016-07-27 07:29] zhangkaka commented on #31764
@jfindlay Can salt minions support AIX 6 later systems?

[2016-07-27 07:31] Lomexian commented on #34892
Here's an example I use of negative pcre matching grains.

[code]

[2016-07-27 07:32] d3xt3r01 commented on #34719
This was fixed by doing:
[code]

Can't tcp keepalive be added to the master so defaults would work ? Just for consistency.

[2016-07-27 07:46] variia commented on #34980
True, I was just unable to convince jinja rendering with '{#' not to interpret that as an inline comment.

Raw block seens to work though:
[code]
I was more after an advice then report a bug and may have used the wrong medium.

Thanks and apologies...ticket can be closed.

[2016-07-27 07:47] #34980 closed

[2016-07-27 07:49] jfindlay commented on #31764
@zhangkaka, we have paid support available for recent versions of AIX.

[2016-07-27 07:50] thor commented on #34980
Alternatively you can express it in a variable expression.

{{ '{{' }}

Or, as you've found, for bigger blocks the `raw`-tags work well. :)

[2016-07-27 08:03] mbrgm commented on #34497
@TheBigBear

1. see no. 2
2. It is not synced at all, although I ran `salt -G 'os:windows' pkg.refresh_db` before (and before that `salt-run winrepo.update_git_repos` on the master).

  In fact, `c:\salt\var\cache\salt\minion\files\base\win\repo-ng` is empty except for a `winrepo.p` file. This is the output:

[code]

  and the file_roots section of my master config:

[code]

3. see no. 2

[2016-07-27 08:32] carlpett commented on #34958
Could you elaborate on the suggested change? Would there be a `__runner__` dunder available to code running on the master (found this issue since that is exactly what I needed...)?

[2016-07-27 08:52] rg25 commented on #34877
Thanks for the explanation.
Can you please tell me how to invoke this beacon, as no Event is being returned, using the command "sudo salt-run state.event pretty=true -l"

[2016-07-27 09:03] Da-Juan commented on #34949
This morning I had 16323 established connections on port 4506 and the salt master wasn't responding anymore.

[2016-07-27 09:14] dhatchina opened #34981 "im getting below error while creating openstack instance using salt,someone please help me on this"
[code]

[2016-07-27 09:15] dhatchina commented on #34981
any idea about this.

[2016-07-27 09:17] lesykm commented on #34885
@Ch3LL thanks!
BTW, my PR only fixes particular error with targeting minions with absent cache.
As I mentioned above, I see another bug - it's minor and cosmetic, but:
As I can see at:
https://github.com/saltstack/salt/blob/2015.8/salt/minion.py#L2339

On targeting of -G 'foo' we should get error, as delimiter(:) is absent
[code]
Should I create separate issue for this?

[2016-07-27 09:42] suslikas commented on #34443
I was upgrade both master and minion. Now all OK.

[2016-07-27 11:58] fdamstra commented on #29132
@dmurphy18, they're not safe to use. Having the salt repo enabled can prevent systems from applying any updates at all due to package conflicts. This prevents systems from applying security updates.

[2016-07-27 12:10] scott-w opened #34982 "KeyError on npm.installed"
### Description of Issue/Question

When running `npm.installed` on a minion where `nodejs` isn't installed, i get the following error:

[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

Try to run an `npm.installed` state on a machine without `nodejs`. The is

[2016-07-27 12:47] samilaine commented on #34217
As a side note, `maxdepth=0` better work in future like you'd expect `-maxdepth=1` for `find(1)` to work. I'm probably not the only one relying on `maxdepth=0` in templates and other places.

[2016-07-27 13:30] oogali commented on #27056
Any update here?

[2016-07-27 13:44] terminalmage commented on #2707
No problem. This was overdue and I'm glad to have it implemented.

[2016-07-27 14:01] cachedout commented on #34958
@carlpett Right now, all runners which execute on the master have the `__salt__` dunder available to them and this dunder is populated with the other runners so that functions from one runner can be cross-called by another. So if you need that functionality rght now, it's already there for you.

The idea here is simply to do some housekeeping by renaming that dunder to `__runner_` and then bring i

[2016-07-27 14:11] carlpett commented on #34958
@cachedout Ah, I see. Sounds great!
My use case is slightly different - I want to call a runner from an execution module running on the master (the module is invoked as part of pillar rendering). I found `saltutil.runner` since writing my question, however, so all is well :) If the `__runner__` dunder would be available for this case as well, that would make my code a bit more readable (it took al

[2016-07-27 14:13] terminalmage commented on #30807
@alias454 Just FYI, Jinja allows you to use the ``str`` type's built-in funcions (like ``.lower()``), letting you do something like this:

[code]

[2016-07-27 14:13] cachedout commented on #34958
Ah, I see. For your case, `saltutil.runner` is the way to go. Good point as well about the disparity between the two functions. I _hate_ cases where we accept `**kwargs` into execution module functions so we should clean that up. Thanks for the reminder. :]

[2016-07-27 14:16] eradman commented on #34872
This is also a problem on Cent 7.2. I have only observed this using
`state.highstate`. Here is a minimal test case:

    # top.sls
    {{saltenv}}:
      '*':
        - test_wait

    # test_wait.sls
    sleep 20:
      cmd.run

In my environment it appears to time out at about 18 seconds.

    sudo salt '*' state.highstate saltenv=$USER

The same problem does *not* occur when running `state.sls`.

[2016-07-27 14:26] carlpett opened #34984 "saltutil.sync_all runner function refreshes gitfs for each module type"
With the new `saltutil.sync_all` function, gitfs remotes (and likely other types as well?) are refreshed before syncing every module type. Since there are 13 module types currently, this can take a fair amount of time. Expected behavior is that remotes are synced only once.

Version 2016.3.1.

[2016-07-27 14:26] carlpett commented on #34984
Ping @terminalmage

[2016-07-27 14:37] #34967 closed

[2016-07-27 14:39] terminalmage commented on #34984
Thanks, I'll look into this!

[2016-07-27 14:46] carlpett opened #34985 "Exception occurred while handling stream: [Errno 0] Success"
### Description of Issue/Question

Since updating to 2016.3.1 (from 2015.8.8), I've started seeing _a lot_ of this in the master log on my development setup (2 Centos vagrant boxes):

It seems related to `publish.runner`, I can reproduce with `salt-call publish.runner manage.up`. Everything apparently works, but when there is a lot of publishing going on it leads to quite a high volume of log garb

[2016-07-27 15:04] anderbubble commented on #34217
Sorry, but this simply should not be the case. The previous behavior violates the documented interface, as `-maxdepth=0` *has* distinct meaning for `find(1)`.

    $ mkdir testdir
    $ mkdir testdir/1
    $ mkdir testdir/1/2
    $ find testdir -maxdepth 0
    testdir
    $ find testdir -maxdepth 1
    testdir
    testdir/1

`maxdepth=0` should, as I believe it currently does post-patch, behave as

[2016-07-27 15:26] mahresohl opened #34986 "rest_tornado: javascript client websocket connection failed"
###
I'm not able to test javascript client code provided as part of the rest_tornado documentation. I tried running it both in browser (Chrome, Firefox), and in NodeJS.

Firefox: The connection to ws://localhost:8000/ was interrupted while the page was loading.
Chrome: WebSocket connection to 'ws://localhost:8000/' failed: WebSocket is closed before the connection is established.

Note that the fo

[2016-07-27 15:58] Ch3LL commented on #34843
@xenuser would you mind sharing your sls file you are running? I'm not seeing this behavior when running:

`strace  -o ~/output salt-call --local state.sls issues.34843`

using the following sls file:

[code]

I made sure to add some more files to see if it was looking through the directory as well

[2016-07-27 16:01] TheBigBear commented on #34497
@mbrgm did your masters or minions ever run earlier than 2015.8 (Berryllium)? If so did you read up on the changes between the config files for winrepo -> winrepo-ng?
particularly the changes referenced here? https://docs.saltstack.com/en/2015.8/topics/windows/windows-package-manager.html#winrepo-changes

What do the following return for you?

```salt salt-minion.example.com pkg.get_repo_data```
`

[2016-07-27 16:09] davidpsv17 opened #34989 "limit the user in sudoers file"
Hi!

How can I limit a user to execute specific commands in the target machine, I added this in sudoers file:
user ALL=(ALL) NOPASSWD: /usr/bin/apt-get install apache2

But when I try to run salt-ssh in debug mode appears this:

`[DEBUG   ] VT: Salt-SSH SHIM Terminal Command executed. Logged to TRACE
[DEBUG   ] RETCODE 43.112.133.158: 1
[DEBUG   ] Child Forked! PID: 24938  STDOUT_FD: 9  STDERR_FD:

[2016-07-27 16:15] dmurphy18 commented on #29132
@fdamstra Typically SaltStack is providing updated packages for which the versions available from Redhat or Epel repositories are quite old or no longer available. For example: python-jinja2 on Redhat 5.  Usually the update is taken from Fedora and rebuilt for the relevant Redhat platform.

However, you have a valid point with the recent clash of zeromq 4.1.4 from Epel for Redhat 7, but here the p

[2016-07-27 16:21] Ch3LL commented on #34855
@edgan can you post your sls file? I am interested in how you are calling the pillar in your sls file and whether that would cause it to continue to run or not.

[2016-07-27 16:24] Ch3LL commented on #34924
@BrickXu thanks for the PR! I will go ahead and close this since your fix has been mereged :+1:

[2016-07-27 16:24] #34924 closed

[2016-07-27 16:34] bberberov commented on #33342
Reviewing the documentation again, this function seems to be using `args` or `kwargs` for `module.run`.  It was somewhat unclear before.  Is this the new method of using `module.run`?  Will arguments no longer be passed down?

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.module.html

It is working with `args` and `kwargs`.

[2016-07-27 16:38] edgan commented on #34855
The error isn't about the pillar contents. It is about duplicating the matching title in the top.sls.

Conflicting ID 'sensu-sensu-*.inf.us-west-1.aws.acme.com'

[code]

[2016-07-27 16:47] szjur opened #34992 "Syndic strips vital parts of events (such as 'retcode' and 'success')"
### Description of Issue/Question
I am using salt-api to send asynchronous commands to SaltStack and listen to the events with their results. After going over from a single master setup to 2x master + 2x syndic architecture I noticed that syndics blatantly strip some vital parts of events.

See this return event for cmd.run execution on a minion connected directly to the top level master:

{u'tag'

[2016-07-27 16:47] Ch3LL commented on #34927
looks like we need to clear this up to ensure daemon-reload is called correctly.

ping @terminalmage

[2016-07-27 16:53] jfindlay commented on #27056
@abednarik, are you still able to work on this?

[2016-07-27 16:55] Ch3LL commented on #34928
@sincilite im not familiar with sophos OS but it looks like from a quick google search that its just centos6 with sophos anti virus installed so I'm suprised using `service` execution module is not working. If you upgrade salt to 2016.3.1 on your minion do you still see this behavior?

[2016-07-27 16:59] Ch3LL commented on #34929
@boltronics can you paste the error that you run into when attempting to run this sls file? Also if you quote the command does it work?

[2016-07-27 17:04] Ch3LL commented on #34930
@dwiest since it looks like this is a duplicate do you mind if we close this issue and track the issue in #16409? You are free to comment in that issue was well.

[2016-07-27 17:06] Ch3LL commented on #34940
@alexshemesh does upgrading to 2016.3 resolve the issue on the ec2 minion?

[2016-07-27 17:09] Ch3LL commented on #34940
Did a litte more investigation work it looks like `dockerng.image_present` was not available in 2015 branch so this is expected bheavior. But will wait to see results of upgrading the ec2 minion before closing

[2016-07-27 17:09] dwiest commented on #34930
@Ch3LL sounds good.  Sorry for the noise.

[2016-07-27 17:09] #34930 closed

[2016-07-27 17:17] Ch3LL commented on #34944
@eliasp thanks it looks like we need to ensure false is returned instead of true when dependencies are not meet in gentoo across both places.

[2016-07-27 17:43] Ch3LL commented on #34945
@babilen i'm not able to replicate this on centos7 salt 2016.3.1:

[code]

Using the state:

[code]

Anything i'm missing? Are you running this with a pre-existing directory maybe? Anything that would help me to replicate this. thanks

[2016-07-27 17:48] choopooly commented on #29592
It has a very strange behavior for me as well (on 2016.3.1)

[code]
This works fine and rendered as:
```127.0.1.1		foo.example.com foo```

However if my fqdn have an additional subdomain like this:
[code]

it fails:
``` 127.0.1.1		foo foo.bar.example.com```

@rallytime could we re-open for investigation ? thanks

[2016-07-27 17:49] abednarik commented on #27056
HI

 I can have a look again. I'm using SaltStack in production under FreeBSD. In the next days will check this again.

Thanks.

[2016-07-27 17:50] rallytime commented on #29592
@choopooly Definitely. I'll removed the fixed pending label, too.

[2016-07-27 17:50] rallytime commented on #29592
@abednarik You might be interested in taking another look at this one.

[2016-07-27 17:54] Ch3LL commented on #34950
@Lomexian looks like you might be running into the same issue here #23358 . Does this look similiar to your issue?

[2016-07-27 17:55] abednarik commented on #29592
Sure,  just give me a few days. I need spare time to work on this.

Cheers.

[2016-07-27 18:43] terminalmage commented on #34984
@carlpett As I thought when we discussed this in the other thread, this has been resolved already in the 2016.3 branch and the fix will be available in 2016.3.2.

As you can see in the below testing that I did, we now only fetch once and the total time has gone from 7.885 seconds to 1.808 seconds (for a gitfs repo that is already up-to-date on the master, and for which all of its files are already

[2016-07-27 18:43] #34984 closed

[2016-07-27 18:47] Ch3LL commented on #34952
@pingangit can you ensure you have the python ldap module installed? You can verify this by running `python -c "import ldap"`

Also to note I'm not seeing the same behavior in 2016.3.0. I am prompted for the username/password:

[code]

[2016-07-27 18:54] Ch3LL commented on #34961
@eseyman what OS are you seeing this issue? Also is there anything relevant in the master or minion logs? Do you see the same thing when running `salt-cal -ldebug` to attempt to stop the service?

[2016-07-27 18:59] carlpett commented on #34984
Excellent, thank you very much!

[2016-07-27 19:09] exowaucka opened #34998 "placementgroup parameter for salt-cloud is undocumented"
### Description of Issue/Question

I cannot find any description of the `placementgroup` parameter for salt-cloud other than a vague reference in a bug report.  I cannot find any mention of where the parameter should be specified (profile? provider? directly under the profile type, or under something else?).  That bug report is the only indication that this parameter even exists.

[2016-07-27 19:24] Ch3LL commented on #34970
@hokie1999 it is my understanding that if you have minions running on your salt-master that when runnign `saltutil` it would also apply to those minions as well. Can you ensure that you can interact with those minions on your master? can you run `test.ping` against them and get a return?

[2016-07-27 19:27] babilen commented on #34945
The only striking difference is that I run it on Debian and not CentOS, but that really shouldn't make a difference. I'll look into this again, but I've seen this both on vagrant boxes and actual VMs, so I doubt that it is specific to my testing setup.

[2016-07-27 19:32] Ch3LL commented on #34963
@craigafinch I am able to replicate this behavior on 2016.3.1 and 2015.8.10. Looks like we neeed to ensure comments are added apropriately with `#`.

[2016-07-27 19:36] Ch3LL commented on #34979
@zlanich this is a duplicate of #33452 which has been fixed by #34605  . This fix should be coming out with 2016.3.2, which is currently in the QA phase.

[2016-07-27 19:36] #34979 closed

[2016-07-27 19:45] zlanich commented on #34979
Thank you! I looked around & must have missed that other Issue.

Best Regards,

Zach Lanich
Business Owner, Entrepreneur, Creative
Owner/Lead Developer
weCreate LLC
www.WeCreate.com

[2016-07-27 19:58] Ch3LL commented on #34998
@exowaucka glancing at the code it looks like you would be able to define `placementgroup` in either the profile or provider configuration. I think adding this to the docs is definitely needed though.

ping @techhat am i reading that correctly?

[2016-07-27 20:19] TheBigBear commented on #34781
@damon-atkins
d) write out the working parts of winrepo.p the jinja2 templates that did compile and leave the rest out and display/log the syntax compilation issue.

I don't think we can allow a single error in one or more sls files stop us from still writing out a working winrepo.p file.

I think there already is a 'failhard' config setting that tells salt that one has opted in to the 'failhard'

[2016-07-27 20:54] terminalmage commented on #34984
No problem!

[2016-07-27 21:23] derekmaciel commented on #34861
I have reduced some unnecessary lines from the salt state above. I now apply the following state to the minion:

[code]

And I receive:

[code]

[2016-07-27 21:35] terminalmage commented on #34927
@bobrik this may be caused by our saving ``systemctl status`` output in ``__context__`` as a performance measure. Thus we don't catch the need for a daemon-reload. This is something that we do in fact look for, but I think that caching the ``systemctl status`` output might be keeping us from running it after the unit file is placed.

Can you help test this hypothesis by editing systemd.py (on a de

[2016-07-27 21:37] terminalmage commented on #34927
You will of course need to restart the salt-minion process after making the above-mentioned edit.

[2016-07-27 21:46] edgan opened #35003 "rabbitmq_user.present broken on Ubuntu 16.04 Xenial"
### Description of Issue/Question
  I am trying to create a rabbitmq user on Ubuntu 16.04 Xenial via salt-ssh. It tries to run "rabbitmq list_users" as the rabbitmq user. It needs to be the rabbitmq user to work. It fails because the PATH set doesn't include /usr/sbin. cmd.run has env to be able to set the PATH, but rabbitmq_user.present doesn't.

  My workaround is to symlink ../sbin/rabbitmqctl

[2016-07-27 21:50] tyhunt99 commented on #34888
Sounds good. Thank you!

[2016-07-27 21:59] UtahDave commented on #34781
I agree, catch and log any errors, but continue to compile and write out all valid sls files.

[2016-07-27 22:01] UtahDave commented on #34781
As far as the errors, you should use  `log.error(<error info>)`

I kind of like the idea of adding the errors to the `Errors:` dictionary in the return. What do you think @TheBigBear and @twangboy ?  Do we do that right now?

[2016-07-27 22:06] UtahDave commented on #34949
We've had lots of reports of this when running on Azure. Something about their networks. You might try the config options noted here: https://github.com/saltstack/salt/issues/34719#issuecomment-235508639

That was reported to resolve this lingering connection issue.

[2016-07-27 22:07] UtahDave commented on #34719
@d3xt3r01 was the above set in the minion config or the master config?

[2016-07-27 22:08] TheBigBear commented on #34781
@UtahDave no, we don't currently, I lost hours and so did others chasing ghosts or red-herrings, when all it was behind it was a syntax or copy paste error or something simple like that that let a jinjia2 compilation fail totally silently.  Those errors need to be surfaced. @damon-atkins voluntered to work on that, and he asked how the 'salty' way was to do this sort of thing right.

[2016-07-27 22:35] eliasp opened #35004 "Harden `modules.portage_config` against invalid pkg/version combinations"
### Description of Issue/Question

When specifying a wrong pkg/version combination (e.g. `'sys-apps/systemd': '~2.28'` which was here a typo where I actually wanted to use `'sys-apps/util-linux': '~2.28'`) `modules.portage_config` will fail with a backtrace:

[code]
### Setup

Salt 2016.3.1 running on Gentoo (details see below)
### Steps to Reproduce Issue

I was able to reproduce it using the fol

[2016-07-27 22:39] eliasp commented on #35004
While it would be an easy fix to simply wrap `pdir = os.path.dirname(complete_file_path` in `try`/`except`, the problem itself should probably solved way earlier by checking, whether the pkg/version combination is valid, e.g. as in the case here: there's simply no version `2.28` for the pkg `sys-apps/systemd`.

[2016-07-27 22:43] vchav73 commented on #30783
I have a problem similar to @mmisztal1980. In our case each of our devs have a local vm which they use for server config development. These vms are minions to a production master, from which testing and deployment is performed. Ideally we'd like to push configs from the vms to our master, then deploy to the testing and production servers (which are also minions) from there.

I tried this from the

[2016-07-27 22:53] UtahDave commented on #34970
@hokie1999 did you install the salt-minion package on your salt-master server?

[2016-07-27 23:10] eliasp opened #35006 "`states.pkg.py` can't handle Gentoo's/Portage's special package version format"
### Description of Issue/Question

Gentoo allows to have very specific pkg version identifier in `pkgs` of `pkg.installed`. Using those, `states.pkg`'s final installation verification goes wrong, as `_get_comparison_spec()` is unable to handle this complex format:

[code]
### Setup

State to reproduce this issue:

[code]
### Steps to Reproduce Issue

Apply the state above on a Gentoo system
### Ve

[2016-07-28 01:59] boboli commented on #34839
Hi @Ch3LL, thanks for responding!

I've tried it with `- reload_modules: true` on the `pkg.latest` state, and I get the exact same issue, where `npm.bootstrap` fails to find the `npm` binary:
[code]
still gives:
[code]

As for the package name, we're using the official node.js apt repos (because we need the latest versions) from https://deb.nodesource.com/node_5.x/, and it only provides the `nodej

[2016-07-28 02:19] boboli commented on #34839
Oh man, I just found the bug:

[code]

The `- require_in:` clause should've said:
[code]

With this fix, everything works as intended.

Is there any reason why salt doesn't error or at least warn when I have bad syntax like this?
[code]
I understand that it's valid YAML, but shouldn't salt during runtime at least notice that the `require_in` clause has invalid syntax? It silently failed, and made

[2016-07-28 02:33] AlexNPavel opened #35009 "[Feature] Add etcd encryption support"
Currently, the support for etcd in salt is pretty good, but there is no support for etcd encryption. Etcd encryption is very useful when you have sensitive information in etcd, especially if there are other systems on the network that could read that data. With encrypted etcd, other systems would not be able to read data from etcd clusters and the overall security would be much improved. Here's a

[2016-07-28 03:41] beelit94 commented on #34922
@Ch3LL I would say the problem here is the result of test-state in this case should be True, not the error msg.

[2016-07-28 04:26] vchav73 opened #35010 "cp.push_dir returns incorrect result for non-existent directories"
When I try to push a non-existent directory like so:

`salt 'minion-id' cp.push_dir /wqef`

Salt returns this:

`minion-id:
    True`

This is the same result I get for cases where the directory does exist.

I tried the same thing with cp.push (for files instead of directories) and get the expected result (false for the case where the file doesn't exist). In all my test cases I was running salt fr

[2016-07-28 06:42] boltronics commented on #34929
@Ch3LL Thanks for the suggestion, but quoting didn't help. Here's the relevant output:
[code]

If I use `- sig: /usr/bin/python -c from twisted.scripts import twistd; twistd.run` it works, and if I use `--no_save --logfile=twistd.log --python=buildbot.tac` it works too. Basically everything works if I leave out the `()` bit of the string.

[2016-07-28 07:18] thor commented on #8604
I came across this in my journeys, and as far as I can tell the issue regarding always redeploying when the version is the same has been fixed by #12889 and commit cbb0624031a69a6618b26da26a1218af0069ae10.

Could the issue title and description perhaps be edited -- or just create a new one -- to specify redeployment on changed hashes to the WAR-files? 👍

[2016-07-28 07:22] pingangit commented on #34952
ldap authentication can work,but it looks like can not control which minion user can execute command.
I setup kangxiaoning495 can execute command on 'SYNDIC*', it's mean kangxiaoning495 only can execute on SYNDIC-SZB,SYNDIC-LFA,SYNDIC-SHA,SYNDIC-SZC,but in fact,kangxiaoning495 can execute command on all minions,the target of '*' is work well.

[kangxiaoning495@CNSZ045490 ~]$ python -c "import ldap

[2016-07-28 07:34] toabi commented on #33618
Will this fix make it to any release soon?

[2016-07-28 07:36] Lomexian commented on #34950
Doesn't look like it.  The refered issue was more due to rate - they had 150 entries, I have only 3.  Their error bares out a rate issue
`<ErrorResponse xmlns="https://route53.amazonaws.com/doc/2013-04-01/"><Error><Type>Sender</Type><Code>Throttling</Code><Message>Rate exceeded</Message></Error><RequestId>1723b95b-f2bf-11e4-b864-33bc3e543038</RequestId></ErrorResponse>`

Whereas my issue is relate

[2016-07-28 07:36] eliasp commented on #35006
It looks like it boils down to the arch/keyword "operator" `~`.

**Success:**
[code]

**Failure:**
[code]

[2016-07-28 08:50] babilen commented on #34945
So, I managed to reproduce it. This *only* happens if the directory doesn't exist yet and multiple directories are being created (i.e. files being synced are found in nested directories).

The exact configuration I used now was:

[code]
I find it surprising that only the managed directory (i.e. the `name` argument) shows the broken permissions and not the other.

[2016-07-28 09:06] sincilite commented on #34928
Hi Megan,

You're dead right it's a Centos6 box with Sophos installed and upgrading to
2016.3.1 resolved the issue.

Thanks for your help
Mike

On 27 July 2016 at 17:55, Megan Wilhite <notifications@github.com> wrote:

[2016-07-28 09:07] vutny commented on #34874
@Cashwini I think that's an expected behavior when using "incremental" schedule. Maybe it's not so clear from the docs though...

To work around this side-effect, try to use Cron-style expressions like described here:
https://github.com/saltstack/salt/blob/2016.3/doc/topics/jobs/index.rst#cron-like-schedule

I hope this will help.

[2016-07-28 09:18] mbrgm commented on #34497
@TheBigBear This is the output of the commands you aked for. The minion is running Windows 7 x64 with DE locale, so unfortunately the returned errors are in german language. It complains about the missing 'ServerManager' module. Let me know if you need help or a translation to figure something out.

[code]

[2016-07-28 09:37] vutny commented on #34718
Hi @vchav73

`saltutil.refresh_pillar` makes Pillar changes visible to the Minion, but doesn't apply configuration changes.
I've noticed that Minion actually re-reads its configuration during the highstate or executing:
[code]

I guess because of this:
[code]
**refresh** : True

    Also refresh the execution modules and recompile pillar data available to the minion.
    This refresh will be perfo

[2016-07-28 09:53] carlpett opened #35013 "Missing m2crypto dependency breaks x509 module"
Salt 2015.5 had a dependency on the m2crypto package (at least the rpms), which seems to be removed in 2015.8 and 2016.3. I just installed our first minions which went directly onto 2016.3 without having 2015.5 at some point, and therefore I didn't get m2crypto installed. This breaks the `x509` module, since it requires m2crypto: `'x509' __virtual__ returned False: Could not load x509 state: m2cry

[2016-07-28 10:38] sebw commented on #31849
Same problem as @AlexanderThaller here.

Calling a custom modules from a pillar and I get:

`Jinja variable 'salt.utils.templates.AliasedLoader object' has no attribute 'etnic.pwgen'`

[code]

[2016-07-28 10:49] sebw commented on #31849
Finally figured it out.
For some reason, this works with this master config:

my file_roots is /srv/salt/states/

extension_modules: /srv/salt/modules
module_dirs:
  - /srv/salt/modules

I symlinked /srv/salt/states/_modules/ to /srv/salt/modules/

With extension_modules alone, it doesn't work.

[2016-07-28 10:52] stardust85 commented on #33536
How could you release Boron with this bug?!

[2016-07-28 11:24] bobrik commented on #34927
@terminalmage that's not the case, the following did the trick when I remove legacy script:

[code]

This should work if you don't change systemd unit several times during the same salt run. It's hard for me to come up with a reason to do so. It probably doesn't work right now anyway.

I can make a PR if this makes sense. Let me know the which branch to use.

[2016-07-28 11:45] damaex17 opened #35014 "ExtraData: unpack(b) recieved extra data. Salt: 2016.3.1"
### ExtraData: unpack(b) recieved extra data.
### Setup

ran into this with salt-cloud when spawning multiple machines in parallel.

[code]
### Steps to Reproduce Issue

spawn/destroy multiple machines in parallel on the same master for a coupld of days.
### Versions Report

[code]

[2016-07-28 11:50] martintamare commented on #26920
Any news on this issue ?

[2016-07-28 11:56] pingangit opened #35016 "TypeError: save_minions() got an unexpected keyword argument 'syndic_id'"
### Description of Issue/Question

Execute command on top master, which has 4 syndic node, the targeting of salt command is one minion attached to one syndic node,the result is ok,but the log file (/var/log/salt/master) on the top master occur TypeError.

I modify the code, restart the salt-master on top master,the error disappear.
### Setup

(Please provide relevant configs and/or SLS files (Be s

[2016-07-28 12:32] morganwillcock commented on #34821
@rallytime, sorry for the delay in testing #34864. I've just tried it but unfortunately it doesn't seem to make a difference for me.
<pre>salt-test:
----------
          ID: remove_7_zip
    Function: pkg.removed
        Name: 7_zip
      Result: False
     Comment: The following packages failed to remove: 7_zip.
     Started: 13:26:01.085000
    Duration: 223.0 ms
     Changes:
              ----

[2016-07-28 12:36] otupman commented on #34880
Actually from looking at the code and writing some tests I validated that the fix is not working. Specifically because of:

    if driver == 'vmware' and profile_key.get('image', True):
        non_image_drivers.append('vmware')

So it's calling `profile_key.get('image', True')` which will always return true, even if the `image` key is present and so would append `vmware` to `non_image_drivers` an

[2016-07-28 12:39] martintamare commented on #26920
I want to match db\_name\_% (wildcard only for %)

I've tried all the following notation
with escape = False :
`
db\_name\_%.*
`db\_name\_%`.*
"db\_name\_%.*"
"`db\_name\_%`.*"
"'`db\_name\_%`.*'"
`
with escape = True:
`
db_name_%.*
db_name_%%.*
`
The issues seems to be on the function quote_identifier

when for_grants=True, I don't understand
`
'`' + identifier.replace('`', '``').replace('_', r'\

[2016-07-28 12:46] d3xt3r01 commented on #34719
@UtahDave Hey ! It's on the minions. The master doesn't have/support tcp_keepalive ! :-(

[2016-07-28 13:36] renner opened #35018 "How to run the salt-api daemon as a non-root user?"
### Description of Issue/Question

If `salt-master` is running as a non-root user the `salt-api` daemon should probably run with the same non-root user. Otherwise there can be problems with data written to the cache (e.g. when applying states using the ssh client via the API) where the master can later on not delete or write to certain directories of the cache because they are owned by root.

Ques

[2016-07-28 14:01] terminalmage commented on #34927
@bobrik Ahh yes, this definitely makes sense. Yes, please open a PR if you don't mind. It should be against the 2015.8 branch. We use a merge-forward workflow, so bugfixes go to the oldest non-EOL release branch where the bug exists, and are merged forward until they reach the develop branch.

There is one minor change that I'll need you to make to the above patch, though, and that is to use ``{0}

[2016-07-28 14:20] terminalmage commented on #34781
As of the 2016.3 release branch the ``CommandExecutionError`` exception class accepts an ``info`` argument. Any data passed to this argument will be present in the printed form of the exception (what is displayed on the CLI when the exception is caught). For example:

[code]

So, raising this exception and including the errors as the ``info`` argument when raising, will print them to the screen in

[2016-07-28 14:26] terminalmage commented on #34781
Here's a real-world example. I just wrote this custom module ``foo.py``:

[code]

Now I'll sync it, and run the function, which will raise the exception:

[code]

[2016-07-28 14:29] TheBigBear commented on #34781
@terminalmage great, thanks. I knew you would come through for us again, @damon-atkins does this help you get this resolved and the failures being logged fully?

[2016-07-28 14:31] terminalmage commented on #34781
@TheBigBear Just FYI, that exception won't log those errors individually, this is still something that needs to be done manually. What happens with the ``info`` passed to the exception is it is just rendered using the ``nested`` outputter (the same used by default for most remote execution functions), so you can pass any data structure as ``info`` and it will be rendered in a readable way.

[2016-07-28 14:33] guettli commented on #33629
Ahhh I was reading too fast. I thought `-w` does a wipe... yes it does, but only **after** the run. I need to use the `-W` option with capital letter. Sorry I am trying it again.

Here is the current graint. Everything is in sync.
[code]

I update the file. I add `-WWW`
[code]

The next line works, nice: I see `-WWW`.
[code]

I update it again.
[code]

I sync grains
[code]

Next line: no output? T

[2016-07-28 14:35] Nan0r opened #35020 "Windows registry mistake"
### Description of Issue/Question

Hello, I have detect a problem with a windows modules for manipulate windows registry.
I have three computer with vanilla install of two Windows 7 and one of Windows 8, one of my Windows 7 has been update with .net framework 4 for my lab test :
 - win7.nanor -> Windows 7 without .net Framework 4
 - win7-adm.nanor -> Windows 7 with .net Framework 4
 - win8.nanor -

[2016-07-28 14:37] terminalmage commented on #34781
Also, in my example above I noticed a small flaw in how the string gets printed out when the exception string ends in an exclamation point or other non-period punctuation mark. I opened https://github.com/saltstack/salt/pull/35021 just now to fix this.

[2016-07-28 14:43] TheBigBear commented on #34781
@terminalmage thanks, but I am still not beyond being a newbie beginner in python. What you said sort of makes sense, but since I don't touch the salt python code, I try maintaining the salt winrepo and winrepo-ng salt windows sls files on github repos and only very occasionally go near the python code and if it is usually a very obvious or trivial change.  but community member @damon-atkins has d

[2016-07-28 15:42] amalaguti opened #35023 "timeout and ignore_timeout in salt.states.cmd.run are ignored"
### Description of Issue/Question

**timeout** and **ignore_timeout** in salt.states.cmd.run are ignored

I'm running a cmd.run state to execute powershell to install a Windows .Net 4.5.2 (NDP452-KB2901907-x86-x64-AllOS-ENU.exe), the install process takes about a minute to complete.

With default Salt values, it always returns:
   _Minion did not return. [No response]_

I tried to set and use **ti

[2016-07-28 16:22] UtahDave opened #35027 "Windows cpu_model grain is incorrect"
### Description of Issue/Question
Currently the Windows version of the salt-minion provides the wrong type of information for the `cpu_model` grain. I'm pretty sure this has been the case since the earliest versions of Salt on Windows, but I think this should be changed on develop and include a large notice in the release notes.

### Steps to Reproduce Issue

[code]

bouchamaster is a linux vm
tes

[2016-07-28 16:47] damon-atkins commented on #34781
@terminalmage The problem with "from salt.exceptions import CommandExecutionError" (I assume) is that it will stop the function in its track once its called?  Which would be a different behavior to now, of silently ignoring it and continuing.   I suppose we could call it at the end.

The problem with log.*() is the output does not make it back to the master/remote caller.
Their seems to be no way

[2016-07-28 16:58] richardscollin opened #35028 "Develop Test Suite Error - No such file master.log"
### Description of Issue/Question

Running the salt test suite as follows produces the following error:

[code]

[code]

Full Log:
[output-log.txt](https://github.com/saltstack/salt/files/388908/output-log.txt)

I've isolated the bug to the following commit: 1cde6b26ea04702f596eaf2c67200b5cdf5e89f9

Interestingly the file that "does not exist" is created while running the tests however I believe i

[2016-07-28 17:56] cachedout commented on #34927
Closed via #35024

[2016-07-28 17:56] #34927 closed

[2016-07-28 18:03] lomeroe opened #35032 "archive.extracted leaves bad tar file in cache on failure to extract"
### Description of Issue/Question

If the archive.extracted state is run on a tar file that fails to extract, the "bad" file will be left in cache and future attempts to run the same archive.extracted state will always fail.  Occurs if using the external tar command or python extraction
### Setup

[code]
### Steps to Reproduce Issue

[code]
### Versions Report

[code]

1) if the cache path exists,

[2016-07-28 19:28] Ch3LL commented on #35009
@AlexNPavel I think this is a great idea. I'll approve as a feature request. Thanks

[2016-07-28 19:34] cachedout commented on #35028
I cannot replicate this, even on that comment:

[code]

[2016-07-28 19:42] Ch3LL commented on #34962
@terminalmage would you mind taking a look at this.. Its my understanding that this should not work in 2015.8 and above but it looks like they are reporting it as working in 2015.8. Should someone expect using the legacy configuration to work in 2016.3?

[2016-07-28 20:11] peter-slovak commented on #34962
@Ch3LL Yes, at first the feature of dynamic branch mapping with `__env__` was about to be dropped, but then #28282 has been merged into 2015.8.0, so we expected the legacy git pillar to keep working. The merge was a response to #28125.

[2016-07-28 20:20] Ch3LL commented on #34973
@szjur thanks for letting us know about this issue. Currently this might be a difficult problem to solve and has been reported to works sometimes. We will label it as a bug though so we can get this in our backlog of things to look more into.

Would you mind testing this with the tcp transport and posting back the results?

[2016-07-28 20:21] JaseFace commented on #16660
So it appears this outlines why the disk/memory pillar cache can't be used with the git_pillar? I wasn't able to find any documentation on the limitation, but when you enabled the pillar cache, all pillar calls simply return a failure.  If so, I'd just like to +1 this 😄

[2016-07-28 21:12] szjur commented on #34973
Sure, I can do some tests. But where would you like me to change that transport - between the syndics and the masters only? For end nodes I've already set up ZMQ filtering - very poorly documented by the way, in particular for a multi-tier setup. Filtering is apparently not possible for TCP transport. What also worries me is that TCP transport is listed at https://docs.saltstack.com/en/latest/ref/

[2016-07-28 21:45] TheBigBear commented on #34497
@mbrgm the ```winrepo.genrepo``` output is fine. But the ```pkg.get_repo_data``` is not.

You should be seeing a name_map of all the pkgs first, followed by all the pkgs in the winrepo-ng.

Have another good look at the config files and how your winrepo-ng config is set up right now, as asked above (https://github.com/saltstack/salt/issues/34497#issuecomment-235633113), but you never answered thos

[2016-07-28 21:58] Ch3LL commented on #34975
@GarthSnyder are you referring to running masterless?  when running with `salt-call --local` and the following log added to salt/state.py:

[code]

and adding `top_file_merging_strategy` to `same` in the minion config and nothing in the master it logs correctly as `same`.

But when just running `salt-call` without --local it does not work and I still see `merge`. Just want to make sure I understan

[2016-07-28 22:20] richardscollin commented on #35028
This is happening on an embedded target. I also have no luck reproducing it on my development machine. I'll looking into it more and see if I can figure out what the root cause is.

[2016-07-28 22:32] whiteinge commented on #35018
You're right there should definitely be a config option to do this. Right now this can only be done via init script or by invoking manually as a specific user. :-/

There's some discussion already about how to go about adding this in #20280.

[2016-07-28 22:35] hu-dabao opened #35041 "multi-master setup failover and failback is broken in 2016.3.1"
### Description of Issue/Question
With more than two masters multi-master failover setup, salt-minion fails to connect to the third one after first and second masters are down. After the second master in the list is down, salt-minion ends up with connecting back to salt-master1, which is down, and then to salt-master2, which is down as well, back to salt-master1 again. This becomes a dead loop.

#

[2016-07-28 23:18] AlexNPavel commented on #35009
I've looked into it and it doesn't seem to difficult to implement. I'll work on it and put in a pull request once I finish it (likely this weekend).

[2016-07-28 23:23] ariscn opened #35044 "2016.3.2 not on repo.saltstack.com?"
2016.3.2 was released more than a month ago, but the package repo (at least for Ubuntu) has not been updated.

[2016-07-28 23:27] GarthSnyder opened #35045 ""top_file_merging_strategy: same" is functionally identical to specifying an environment"
[Please see also [#34975](https://github.com/saltstack/salt/issues/34975). You'll need to set `top_file_merging_strategy: same` on the master to see this effect, as this option currently has no effect on a minion.]

The docs for `top_file_merging_strategy` say "...When set to `same`, then for each environment, only that environment's top file is processed, with the others being ignored. For exampl