[2015-12-22 13:37] Xiol commented on #29922
I ended up working around it with:

[code]

Pretty horrible IMO. Seems to do the trick though. (Must stress that input validation is done upstream!)

[2015-12-22 13:59] bogdanr opened #29931 "[salt-cloud][ec2] associate_eip not usable with instances than have multiple security groups"
Just like it was mentioned here https://github.com/saltstack/salt/issues/25569 , security groups cannot be specified along with network interfaces so essentially doesn't seem to be a good way of associating elastic IPs to instances which have more than just the default security group.

The profile I tried with looks like this:

[code]

and the error message I receive is:

[code]

[2015-12-22 14:03] Semyazz commented on #22061
I tried to run a second salt-minion with `-c` option and using another user and it complains it can't read `/etc/salt` so to me it looks like that option doesn't work at all.

`salt-minion 2015.5.3 (Lithium) on Ubuntu 14.04`

[2015-12-22 14:31] vutny commented on #29921
My mistake, `ssh://` URLs should work and supported.

@anlutro, have you build `libgit2` yourself for `pygit2` version 0.23? In this case you also need to install packages `libssh2-1-dev` and `pkg-config` and recompile `libgit2` with SSH transport enabled.

Seems that `libgit2-21` package from Debian is not linked with libssh:

[code]

[2015-12-22 14:47] Reiner030 opened #29933 "boto_rds.absent misses pillar variables for final backup"
[code]

state:
[code]

local:
----------
          ID: my-blog
    Function: boto_rds.absent
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/usr/lib/python2.7/dist-packages/salt/state.py", line 1594, in call
                  **cdata['kwargs'])
                File "/usr/lib/python2.7/dist-packages/salt/loader.py", li

[2015-12-22 14:59] cachedout commented on #29880
Great! Thanks, @githubcdr

[2015-12-22 14:59] #29880 closed

[2015-12-22 15:05] #25723 closed

[2015-12-22 15:05] #29199 closed

[2015-12-22 15:05] #14634 closed

[2015-12-22 15:05] #23343 closed

[2015-12-22 15:05] #24698 closed

[2015-12-22 15:05] #29152 closed

[2015-12-22 15:05] #29154 closed

[2015-12-22 15:05] #29631 closed

[2015-12-22 15:05] #29751 closed

[2015-12-22 15:08] #497 closed

[2015-12-22 15:26] #27906 closed

[2015-12-22 15:29] AkhterAli opened #29938 "boto_secgroup.present mapping failure"
[code]

[code]

[2015-12-22 15:45] aletourneau commented on #28956
Working on this today.

[2015-12-22 15:46] cachedout commented on #29938
Hi @AkhterAli Please forgive me, but I'm not sure I follow what the problem here is. Could you please provide more information about what the issue is here? Thanks.

[2015-12-22 15:49] AkhterAli commented on #29938
@cachedout Sorry, maybe this will provide more info.

When I ran my saltstate (stated above), this is the error I get.
[code]

It doesn't seem to accept from_port at all, although not sure why.

[2015-12-22 15:56] The-Loeki commented on #29309
Well it's an interesting feature, but I think it'll be tough to get right. And I don't see *how* to do it without writing data somewhere volatile.

For example, `cron` writes `/var/run/crond.reboot` once it's done doing the `@reboot` stuff.
So first of all `/var/run` is a much more apropriate place to write this kind of data, especially considering the nature of `/tmp`, aforementioned sweepers and

[2015-12-22 16:03] akissa opened #29942 "Mako renderer mixing up state and pillar data"
The mako renderer mixes up the rendering of `state` and `pillar` files that have the same name, for example `top.sls` which is used by both states and pillar.

The most basic pillar example from the documentation will work with jinja but fail with pillar.

`/srv/pillar/top.sls`

[code]

`/srv/pillar/packages.sls`

[code]

`/srv/salt/top.sls`

[code]

`/srv/salt/git.sls`

[code]

`/etc/salt/minion.

[2015-12-22 16:05] cachedout commented on #29933
Looks like a possible mistake in the `boto_rds` module to me. Have a look at #29943

[2015-12-22 16:11] akissa commented on #29861
Traced down to two issues.
* Minion class overwrites the __opts__['pillar'] key with data from pillar, sqlite3 and sqlcipher external pillar modules store(d) connection keys under there.
* Mako renderer mixes up pillar and state sls files.

Fixes for the two above issues:
* https://github.com/saltstack/salt/pull/29944
* https://github.com/saltstack/salt/pull/29945

Still seeing some issues with pk

[2015-12-22 16:17] Ch3LL commented on #29817
@yannis666 thanks for the heads up. I will not continue any further testing until I hear from your results.

[2015-12-22 16:21] Reiner030 commented on #29938
Hi,

it works normally fine.
I guess you have the problem here that all parameters must be in one row like:

[code]
?

[2015-12-22 16:23] cachedout commented on #29938
@Reiner030 Ah, OK. So it is working correctly for you with the second example? Is this just a documentation issue?

[2015-12-22 16:33] AkhterAli commented on #29938
@Reiner030 @cachedout Looks like I'm using 4 spaces rather than 2, which is why it looks a bit different on mine.

[2015-12-22 16:40] cachedout commented on #29179
We recently fixed several serious memory leak bugs at the HEAD of the develop branch. Would you mind re-testing this there?

[2015-12-22 16:40] AkhterAli commented on #29938
Woot!  That' was the issue.  Thanks guys!  Sorry for any confusion.

[2015-12-22 16:41] #29938 closed

[2015-12-22 16:51] solugebefola commented on #7354
Hi there,
I am newly arrived from CodeTriage.  Can you tell me the specific file that contains the code for the timeouts for salt commands?  Thanks

[2015-12-22 16:51] bmcorser commented on #29914
Thanks for giving such a comprehensive reply, I wasn't aware of SSE. It
covers my need very well.

I'm happy to close this issue, but will leave it to you guys ...

On Tue, 22 Dec 2015 02:24 Seth House <notifications@github.com> wrote:

[2015-12-22 16:54] jfindlay commented on #29915
@MarloweW, thanks for the report.  After our IRC conversation I realized the problem here is that masters and minions handle extension modules with different mechanisms.  The master config for this is called [`extension_modules`](https://docs.saltstack.com/en/latest/ref/configuration/master.html#extension-modules).

[2015-12-22 16:58] whiteinge commented on #29914
Glad to hear SSE will work for you!

The websockets problem is definitely a bug so let's keep this open
until it can be prioritized and fixed.

[2015-12-22 16:58] ssgward commented on #29942
@akissa - thanks.

[2015-12-22 16:59] ssgward commented on #29918
@WangWenchao - thanks for the report

[2015-12-22 17:01] jfindlay commented on #29918
@WangWenchao, do you know if this was not happening with previous versions of salt?

[2015-12-22 17:02] ssgward commented on #29919
@abcfy2 - thanks. assigning issue to documentation.

[2015-12-22 17:05] ssgward commented on #29921
@anlutro - thanks for the logging the issue. Assigning to documentation to help make this scenario more clear.

[2015-12-22 17:06] ssgward commented on #29922
@Xiol - glad you have a work around. Will consider this feature request for future releases.

[2015-12-22 17:10] anlutro commented on #29921
@vutny I've got it working, was just hoping it could be done without custom compiling/packaging. Thanks though.

[2015-12-22 17:13] ssgward commented on #29931
@bogdanr - did the workaround in issue #25569 resolve your problem? or are you running into a new problem or requesting an easier way to get this done (feature request)?

Thanks for logging the issue.

[2015-12-22 17:15] ssgward commented on #29926
@vakulich - thanks for the report.

[2015-12-22 17:19] cachedout commented on #29926
Did you run from `salt * mine.update` from one master or from both?

[2015-12-22 17:22] bogdanr commented on #29931
I don't know of any workaround to actually associate elastic IPs to instances which belong to more than one security groups. This is a new problem. I would say that the feature for associating elastic IPs to instances is quite unusable.

[2015-12-22 17:23] ssgward commented on #29931
thanks for the update.

[2015-12-22 17:31] vakulich commented on #29926
It does not matter - result is the same. Also I noticed that if restart all minions again then returns to masters will shuffle again.

[2015-12-22 17:32] #29942 closed

[2015-12-22 17:33] edgan commented on #29608
I have a like issue where I try to say apt-get source salt, and it tells me no such package. I am trying to use "deb-src http://repo.saltstack.com/apt/ubuntu/14.04/amd64/latest trusty main".

[2015-12-22 17:43] bradthurber opened #29948 "file.managed state support for unicode data in defaults parameter"
This is possibly related to #29652 and #28582. At a minimum, it may be a useful testcase for the root cause of #29652.

From file.managed state, I set a "defaults" value using a jinja2 unicode string but it gets sent as a string instead of a unicode string - or possibly the issue is that jinja2 is interpreting it as a normal string instead of a unicode string. I'm not sure.

Quick testcase:

file

[2015-12-22 17:55] ssgward commented on #29948
@bradthurber - this does look like the issues you referenced. We'll keep it open for a while just in case it is a different issue..

[2015-12-22 18:02] guettli commented on #29154
Thank you for fixing this docs issue.

[2015-12-22 18:10] jfindlay commented on #29835
@gravitypaint, I am able to get this to work on 2015.8.3.
[code]
[code]
[code]

[2015-12-22 18:11] jfindlay commented on #29835
I've also got the highstate version to work on 2015.8.3.
[code]

[2015-12-22 18:12] cachedout commented on #29833
I'm not a FreeBSD user, so forgive my ignorance, but I'm not seeing that same output from `ifconfig` that you seem to be showing. After I add some aliases like follows:

`root@mp-bsd:~ # ifconfig xn1 127.0.0.129 netmask 255.255.255.255 alias`

I see ifconfig output like this:

[code]

Salt's utility functions seem to have no problem with this:

[code]

Where am I going wrong here?

[2015-12-22 18:25] Reiner030 opened #29951 "boto_ec2 params needed"
Hello,

there seems to be for all boto_ec2 functions problematic in 2015.8.3 to use modules (and states?) without region setup.

I use an example from https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.boto_ec2.html#salt.modules.boto_ec2.get_attribute
because I have here an additional "naming" problem:
[code]
=> Documented as ````name=...```` but has actual to be ````instance_name=`

[2015-12-22 18:40] cachedout commented on #29906
I should have clarified a bit here. There is a JID that's generated, but it isn't routed through the returner system to store the job, so it's effectively unused.

[2015-12-22 18:53] jfindlay commented on #29835
@gravitypaint, I have investigated this a some more and have found that if the minion has not connected to a master irrespective of the `file_client: local` config in `/etc/salt/minion` and the salt version, then it does not run the `startup_states`.

[2015-12-22 19:00] ssgward commented on #29951
@Reiner030 - thanks for the report.

[2015-12-22 19:14] aabognah opened #29954 "Per-saltenv gitfs configuration parameters"
Hi,

I am trying to setup multiple environments (base, dev, prod) all getting their files from a git repository. I would like to be able to specify a root directory (or a branch) for each environment similar to ext_pillar. but in gitfs_remotes there seems to be no such option. for example:

    gitfs_remotes:
      - gitrepo:
        - root: base (# base directory in the repo contains base sls fil

[2015-12-22 19:43] ohauer commented on #27056
No, ASSUME_ALWAYS_YES is he same as the already present "-y".
The issue is in the postfix installation script!

The script waits for an user input [y/n] without timeout (read -p).
In case the env. POSTFIX_DEFAULT_MTA=yes is set the default for the answer will be "yes" else "no".

In my opinion the solution is to set a timeout in the postfix install script read loop, say 5min and then go on with pr

[2015-12-22 20:26] bxm156 opened #29959 "host.present not adding hostname or fqnd"
I'm new to salt, so I apologize if this is just a mis-understanding. I'm trying to get my minion's id and fqnd in the /etc/hosts file, but salt thinks nothing needs to be done.

I have the following:
a minion on Ubuntu 14.04
/etc/hostname: minion1.example.com
/etc/hosts:

[code]

and the following state:

[code]

which results in:

[code]

and I would expect those to get added to the /etc/hosts, b

[2015-12-22 20:39] sjmh commented on #29906
@cachedout cool - thanks for the explanation.

[2015-12-22 20:52] anlutro opened #29960 "Circular import in salt.utils.jinja"
I was going to write some tests for something in `salt.utils.jinja` when I found out I can't import it due to a circular import:

[code]

This is in 2015.8 HEAD.

[2015-12-22 21:03] cachedout commented on #29768
We have merged #29435 into 2015.8, so this issue should be resolved.

[2015-12-22 21:03] #29768 closed

[2015-12-22 21:04] racooper commented on #29268
so I haven't totally figured it out. I have about a dozen machines that are still not working, and some of them don't have the /usr/local packages.  It's salt-minion 2015.8.3-221.1 from SuSE build.  the error messages are in https://gist.github.com/racooper/305e49eecbedbbb2491b
[code]

[2015-12-22 21:06] ssgward commented on #29954
@aabognah - thanks for the report. Not sure if this is a bug or a feature/enhancement. I'm sure others will comment.

[2015-12-22 21:10] ssgward commented on #29959
@bxm156 - thanks for logging this.

Try just adding one hostname entry for the IP and see if that works for the one host entry. I know you're trying to add multiple. Seems like there is a known issue when trying to add multiple host entries for the same IP (but could be wrong).

[2015-12-22 21:13] ssgward commented on #29960
@anlutro - we'll look into this.

[2015-12-22 21:19] bxm156 commented on #29959
I have the same problem, even when specifying only 1 name

[2015-12-22 21:22] cachedout commented on #29622
Are you using an external pillar?

[2015-12-22 21:24] bxm156 commented on #29959
This is weird, but I try the following:

[code]

I get:
[code]
(Note the **10.0.1.123              minion1.amp.dj** )

So it seems the ip being not 127.0.0.1 seems to have some effect. But I only get 1 of the names then :/

[2015-12-22 21:45] ssgward commented on #29959
good update. Thanks.

[2015-12-22 21:52] cachedout commented on #29674
Hi @jakehilton Please see if #29962 resolves this problem for you.

[2015-12-22 22:50] The-Loeki commented on #7324
I think the current `splay` covers this? https://docs.saltstack.com/en/latest/ref/states/all/salt.states.schedule.html

[2015-12-22 22:56] Sacro commented on #14634
Before you close this, did you mean "NAND" rather than "NANDg"?

[2015-12-22 23:04] pass-by-value commented on #29101
@jessicabreck  and @rallytime

I am wondering if you are able to make use of `block_device_mappings` instead? That creates and deletes volumes as expected. It is specified under [optional settings](https://docs.saltstack.com/en/latest/topics/cloud/aws.html#optional-settings) in the docs.

[code]

FYI: On the most recent develop volumes specified using `volumes` aren't deleted even if you place `

[2015-12-23 01:50] terminalmage commented on #28424
@lorengordon @cedwards After doing some more investigation into this, our scriptlet setup is fine. The ``"$1"`` check in the scriptlet controls whether or not the ``condrestart`` is performed, and the fact that we're running a ``condrestart`` means that if the service wasn't already running, it won't reattempt the restart.

Furthermore, I checked the RPMs for 2015.8.3 and 2015.5.5 (as well as a bu

[2015-12-23 08:30] vutny commented on #29840
Looks related to #29796.

[2015-12-23 08:46] MarloweW commented on #29915
@jfindlay  Ah, I set up extension_modules and things worked. Thanks.

But I am still not fully understand salt's module system, any docs should I read?

[2015-12-23 09:08] zerthimon commented on #29889
@cachedout adding ```- force: True``` helps, but just a thought: should this safety feature fail the state if a value is being overwritten by a value of the same type ?

[2015-12-23 09:28] gravitypaint commented on #29835
Hi @jfindlay, I've set up my state to be a test, the same as yours in case the state was causing issues, however I am still not able to trigger the startup state.
I connected the minion to the master, and accepted the key, then set the below in the minion config file

````file_client: local````
````startup_states: highstate````

When I start the minion I get the following log
[code]

I have tried

[2015-12-23 09:39] iMilnb commented on #29833
@cachedout seems like FreeBSD does not indicate if an IP address is an alias or not. In NetBSD we have the following:
[code]
Obviously FreeBSD != NetBSD. Don't know how OpenBSD shows it.

[2015-12-23 10:44] morsik commented on #27446
+1

[2015-12-23 10:57] pouldenton commented on #29622
Yes, Foreman configured as external pillar, but actually local pillar system is used, Foreman pillars are blank.

[2015-12-23 10:58] morsik commented on #25579
`mine.update` schedule comes from `salt/minion.py` lines `702-713` (tag `v2015.5.1`):
[code]

[2015-12-23 11:09] morsik commented on #25579
Looks like refs #28467

[2015-12-23 11:11] adnanJP commented on #29601
Hello,

I ve got the same issue :/

[2015-12-23 11:18] non7top opened #29969 "salt.states.mount.unmounted treats device as required parameter"
Docs say

[code]

[code]

[2015-12-23 11:30] princeriley commented on #22023
pip install M2Crypto
Collecting M2Crypto
  Using cached M2Crypto-0.22.5.tar.gz
Building wheels for collected packages: M2Crypto
  Running setup.py bdist_wheel for M2Crypto
  Complete output from command /Users/User/anaconda/bin/python -c "import setuptools;__file__='/private/var/folders/6s/78ychxvj4734qlwfg0zbj7k00000gn/T/pip-build-r6zGrg/M2Crypto/setup.py';exec(compile(open(__file__).read().repla

[2015-12-23 11:57] pklemenkov commented on #25292
What's up with this issue?

[2015-12-23 12:12] slav0nic commented on #26070
custom grains also not available in jinja {{ grains }}, but available in states

[2015-12-23 12:27] msciciel commented on #27446
+1

[2015-12-23 12:39] oogali commented on #27056
@ohauer I think the high-level solution of ```BATCH=yes``` would more than suffice, and scale (in terms of development effort) for installing any and all packages on FreeBSD that have some sort of interactive post-install script.

The ```BATCH``` environment variable is a standard pattern within post-install scripts that instructs ports/pkg to not even ask the interactive question, so there's no n

[2015-12-23 12:46] Reiner030 commented on #29764
Sorry, overseen last days the update of this issue.
The problem is here that I want my states (changed/unchanged) commonly shown. So --output=quiet is not the right choice...

If the output_loglevel only drops the log output only (checked... yes works nice) it would be then nice/feature request to have same state parameter like ````output_level = quiet````, too?
Didn't know how often this special

[2015-12-23 12:58] javicacheiro opened #29971 "network.managed type bond does not generate the primary option"
It seems the primary option of the network.managed type=bond is not generating the necessary primary option in the BONDING_OPTS variable. I am using a minion with RHEL7 and salt 2015.8.3.

This is the bond definition in the sls file:

[code]

And these are the BONDING_OPTS generated in /etc/sysconfig/network-scripts/ifcg-bond0:

[code]

The expected BONDING_OPTS would be:

[code]

The options down

[2015-12-23 13:05] non7top opened #29972 "moun.mounted state fails to mount too early"
This state strangely fails on unmount if nothing is mounted and then stops immediately, without even trying to mount. '/backup does not have anything mounted' should not result in error.

[code]

[2015-12-23 13:07] javicacheiro opened #29973 "network.managed changes bridge names to lowercase"
When creating a bridge the network.managed state automatically converts the name to lowercase.

 I am using a minion with RHEL7 and salt 2015.8.3.
- sls state:

[code]
- Generates /etc/sysconfig/network-scripts/ifcfg-virbrstorage with DEVICE name set to virbrstorage:

[code]

I think the case sensitivity should be maintained at least in the definition of the bridge names, or in other case allow fo

[2015-12-23 13:09] Reiner030 commented on #29309
A thx @The-Loeki  for the hint.
I have overseen that our "1st highstate run" already done by ````startup_states: highstate```` is not only run 1st time after setup: https://docs.saltstack.com/en/latest/ref/states/startup.html

So this can be then an easy
* modification of the parameter by state after initial highstate to
  ````startup_states: sls```` and
* setting up the wanted states for every bo

[2015-12-23 13:34] akissa commented on #29861
The issue now is that it fails on any state that has a package installation. Because `pkg.installed` is not loaded into `__state__`

[code]

I think there is some kind of circular check going on here.

https://github.com/akissa/salt/blob/2015.8/salt/states/pkg.py#L117
https://github.com/akissa/salt/blob/2015.8/salt/loader.py#L1215

I have tried to trace how salt-call command line over comes this i

[2015-12-23 14:10] The-Loeki commented on #29309
@Reiner030 NP :) bear in mind though (I think you got that, but I'm not sure) that 'startup' in this regard is 'salt minion startup'.
Do a `service salt-minion restart` and watch your highstate go again ;)

I'm not entirely sure about your second remark, but we usually keep `/etc/salt/minion` in completely commented state anyways, utilizing the `conf.d` dir exclusively (and of course pillars can p

[2015-12-23 14:10] Reiner030 opened #29976 "boto_elb.present : cnames parameter has problem with identifier attribute / missing DNS split ?"
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.boto_elb.html#salt.states.boto_elb.present

[code]

Only if I setup a state with identifier set I got this error

[code]

I got no errors but I think support for split_dns is also passed to route53 functions?

[2015-12-23 14:13] vutny commented on #29915
@MarloweW, there are not much details in the documentation though.

Master configuration:
https://docs.saltstack.com/en/latest/ref/configuration/master.html#extension-modules
https://docs.saltstack.com/en/latest/ref/configuration/master.html#module-dirs
Dynamic Module Distribution to minions:
https://docs.saltstack.com/en/latest/ref/file_server/dynamic-modules.html

I think, providing better expla

[2015-12-23 14:32] vutny commented on #25292
@lichtamberg,  @pklemenkov,

As far as I get it, `N@` classifier is nodegroup nesting feature available only in master config file, it can't be used to target minions in the state or pillar top files.
See the doc: https://docs.saltstack.com/en/latest/topics/targeting/nodegroups.html

`- match: nodegroup` is the only way to match a nodegroup in your top file.

Sounds more like a feature request tha

[2015-12-23 15:03] Reiner030 commented on #29309
yes, @The-Loeki , thats clear. But this I can solve with uptime check in future salt versions: https://github.com/saltstack/salt/issues/29311

Mmh, perhaps this feature request makes then still sense and can be a ready-to-use combination of startup_states, uptime and perhaps more ;) ... ok, open it again.

[2015-12-23 15:09] Reiner030 commented on #29976
Additional there is a problem with other ELB cnames after 1st run - Saltstack tries to add them again and again.
I guess their name is too long so that compare check miss it?:

[code]

(Btw. is there somewhere a howto/tutorial howto debug such problems deeper?)

[2015-12-23 15:12] vutny commented on #20777
Hi @wt,

2014.7 release is far too old and has its problems which highly possible already fixed in 2015.8.
And RPM post-install scripts are very dummy in general.

I learned from my experience a good practice to upgrade all minions first, schedule execution of the following command (with `at` for example):
[code]

And manually supervision master upgrade after that.

I think you can close the issue

[2015-12-23 15:15] vutny commented on #23008
@wt Have you tried to reproduce it with latest stable 2015.8.3?

[2015-12-23 15:45] mninform opened #29978 "pkg.installed rpm-package from salt-source wrongly reports as failed"
Hi,

on a Centos  7.1.1503, using salt-master 2015.8.1 on server and salt-minion 2015.8.0, we apply this state to the minion:

    [root@deploy oracle]# cat instantclient12102.sls
    instantclient12102:
        pkg.installed:
          - sources:
            - basic: salt://oracle/oracle-instantclient12.1-basic-12.1.0.2.0-1.x86_64.rpm
Package is being installed, all files present:

     [root@SAL

[2015-12-23 16:07] jakehilton commented on #29674
Thank you I'll get this implemented and report back.

[2015-12-23 16:07] Reiner030 commented on #29976
sorry forgot version info for this bug:
[code]

[2015-12-23 16:08] cachedout commented on #29674
@jakehilton It didn't pass the test suite. Hold off on trying to implement this until I can figure out what went wrong.

[2015-12-23 16:09] jakehilton commented on #29674
Roger that. Thanks!

[2015-12-23 16:15] cachedout commented on #29969
This has already been fixed at the head of the 2015.8 branch and should be available in the next release of Salt.

[2015-12-23 16:17] zerthimon commented on #29335
Would also be great to have a
[code]
option, together with the timout.
I have git.present states which depend on this heavily.
<Quote>
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.git.html#salt.states.git.present
Important
Before using git over ssh, make sure your remote host fingerprint exists in your ~/.ssh/known_hosts file.
</Quote>

[2015-12-23 16:18] cachedout commented on #29971
So if I'm reading this right, the missing option is `primary=`? Or are the others which are being inserted causing problems and should be removed?

[2015-12-23 16:26] cachedout commented on #29978
Hmm, this is interesting. It would be nice if there were timestamps in the logs but even with them, I'm not sure what is going on here.

@terminalmage Do you have any insight on this one?

[2015-12-23 16:40] Reiner030 opened #29980 "boto_elb.present: Healtcheck weird setup (whitespace and combination of states)"
[code]

Tested with a simple setup taken from your documentation:

in state elb.present:

[code]

in pillar:

[code]
1. documentation is wong... period:600 generates 10 minute time period which amazon migrates to 60 min. => period: 60   (allowd periods are: 1 min, 5 min, 15min, 60min, 1h, 6h, 1day)

1st run gone luckily through without errors...
From log it looks mostly ok but where came the state

[2015-12-23 16:41] cachedout commented on #29973
I don't think we want to suddenly start rewriting people's bridge names, so if we do implement this, let's keep the default as it is and allow for an override flag (i.e. `lowercase=False`) as you suggest.

[2015-12-23 16:55] cachedout commented on #29976
@Reiner030 Interesting. This really almost looks like a bug in the upstream boto module, but I genuinely don't know enough about boto to really say.

@ryan-lane or @mgwilliams Do either of you have any insight here?

[2015-12-23 17:03] cachedout commented on #29972
@non7top Thanks for this report. We may need some more information to fix this though.

Could you provide the state that produced this error and debug logs from the minion in question? It would also be helpful to understand a little more about the state of the `/backup` mountpoint at the time this state was run.

Thanks.

[2015-12-23 17:08] Reiner030 commented on #29764
Because of some other debugging:
Here is only the stupid solution missing that the task should finish with "Clean" instead of "Changed"..

This would be nice to documentate how saltstack checks which state an external command has  e.g.
like Nagios services:
exit status 0 => OK
exit status 1 => WARNING
exit status 2 => CRITICAL
exit status 3 => UNKNOWN

[2015-12-23 17:10] cachedout commented on #29980
@ryan-lane Any chance I could persuade you to jump in here? This is a little outside of my wheelhouse, I'm afraid.

[2015-12-23 17:13] Reiner030 commented on #29980
ah, already approved thx ;)

I tried without success to restore my config with override which created this error:

[code]

I post it neverless because it looks like the place where the wrong name combination of state + state name is done with space between them (which is not allowed in GUI)

[2015-12-23 17:53] wt commented on #23008
I have not. However, it looks like the linked issues are closed. I figured it might be better to close it than leave it open since I'm sure others would be reporting it if it were still an issue.

Also, salt has far to many open issues to keep track of. I'd love to see some  of the issues get closed.

[2015-12-23 17:53] twangboy commented on #29552
##### Bug / Issue:

When pulling grains data from minions on OS X, they do not return the sub version of the installed Salt Minion.

(the following are my grains showing this issue)

Version Information: OS X minions do not return the sub-version number.
[code]
In addition, the core grain ‘osfinger’ isn’t supported on OS X.

Looking at https://github.com/saltstack/salt/blob/5727d338a425b214ffd8f4f

[2015-12-23 17:54] twangboy commented on #29552
[code]

[2015-12-23 17:54] #23008 closed

[2015-12-23 17:54] cachedout commented on #23008
This is undoubtedly fixed. If grains had been broken on Amazon Linux since 2014.7, we'd surely have many more complaints.

[2015-12-23 17:55] wt commented on #24049
Isn't this fix released? Shouldn't this bug be closed?

[2015-12-23 17:58] #24049 closed

[2015-12-23 17:58] cachedout commented on #24049
Thanks, @wt. That looks accurate to me.

[2015-12-23 17:59] wt commented on #24058
Can anyone confirm if this works or not?

Either way, this feature bug has seen no action since Aug. Since it's a feature, would it make sense to close it just to get the open issue count down on salt? As it stands, I find it difficult to search for issues since there are so many.

[2015-12-23 18:00] cachedout commented on #24058
Closed due to lack of response since August. If this is still an issue, please leave a comment and we will be happy to re-open it.

[2015-12-23 18:00] #24058 closed

[2015-12-23 18:00] wt commented on #24050
This is a pretty awful bug. Is it really still broken?

[2015-12-23 18:01] wt commented on #23008
Thank you! :+1:

[2015-12-23 18:02] cachedout commented on #24050
Wow, yeah. I agree. This is a terrible bug. I don't recall a PR that addresses it specifically so it might well be. I am going to bump the severity up to critical, which is what it should have been originally. Good eye, @wt

[2015-12-23 18:06] jfindlay commented on #29915
Yes, the differences are confusing and in some ways unfortunate.

[2015-12-23 18:08] cachedout commented on #28641
This is definitely not fixed. I'm not sure where that came from.

The problem here is that that Tornado seems to be spooling the entire file into memory. The likely fix here is to add a streaming callback into Salt's file client so that we can write out the file in chunks.

[2015-12-23 18:09] cachedout commented on #28585
This is a serious problem. Many installations require FIPS. I am upgrading this issue to critical.

[2015-12-23 18:13] jfindlay commented on #29835
@gravitypaint, I'm not sure why your minion is having problems connecting to the master.  In my case `startup_states` were not run by an isolated minion and they were run by a minion that had previously connected to a master.

I am not sure what the issue is here, but you could try removing the key from the master `salt-key -d <minion>` and also possibly removing the `/etc/salt/pki/minion` directo

[2015-12-23 18:18] joejulian commented on #25169
libgfapi doesn't provide most of the cli information. It's primarily only a posix interface library to the gluster filesystem.

The cli, however, does support xml. Simply add --xml to the command line.

[2015-12-23 18:29] cachedout commented on #28438
The solution here is to implement a retry timer in `save_load` similar to the one already present in `prep_jid`. If somebody wants to do this real quick, it should be easy to do. Otherwise I will try to get to it soon. :]

[2015-12-23 18:30] joejulian opened #29983 "glusterfs.created should perform changes necessary to match the desired state"
With an example volume of:

[code]

but an existing volume of:

[code]

glusterfs.created should add the missing brick and start a rebalance (or optionally not rebalance, or just fix-layout).

Same is true for a volume like:

[code]

glusterfs.created should `remove-brick...start`, wait for completion, and `remove-brick...commit` (with options for not waiting after start, and force removal). Obvio

[2015-12-23 18:34] cachedout commented on #27884
Several memory leak fixes have recently been merged. The one that comes to mine here is in Salt's logging subsystem. See this fix: https://github.com/saltstack/salt/pull/29871

[2015-12-23 18:39] twangboy commented on #29552
I can't reproduce part of this on 2015.8.3.

Here's what I'm getting:

[code]

[2015-12-23 19:20] whytewolf commented on #29978
this doesn't look like a bug but a failure in document reading. in sources the package is referred to as basic. but the yum package name is oracle-instantclient12.1-basic. and as part of the document for sources says "refer to the name of the package, as it would appear in the output of the pkg.version or pkg.list_pkgs salt CLI commands"

[2015-12-23 20:11] cachedout commented on #6443
@scott-w I know this is waaaay old, but did you ever finish up the `aws_bucket` state? We'd love to have it, if you did. :]

[2015-12-23 20:20] cachedout commented on #10443
Closed for lack of response.

[2015-12-23 20:20] #10443 closed

[2015-12-23 20:21] cachedout commented on #12065
There are several points during state compilation where it's required that grains be evaluated. Removing those would cause serious regressions in state compilation. I am closing this at "Won't Fix" for now.

[2015-12-23 20:21] #12065 closed

[2015-12-23 20:29] cachedout commented on #13226
Given that overstate is now officially deprecated and that we have had no activity here, I am closing this issue.

[2015-12-23 20:29] #13226 closed

[2015-12-23 20:33] #17227 closed

[2015-12-23 20:34] #17146 closed

[2015-12-23 20:35] #18716 closed

[2015-12-23 20:38] #19999 closed

[2015-12-23 20:40] cachedout commented on #19911
Closed because we've had no response here.

[2015-12-23 20:40] #19911 closed

[2015-12-23 20:47] cachedout commented on #21108
This has been fixed.

[2015-12-23 20:47] #21108 closed

[2015-12-23 20:48] cachedout commented on #21004
This has been fixed.

[2015-12-23 20:48] #21004 closed

[2015-12-23 20:49] cachedout commented on #20872
Looks like we already have a fix in for this. Closing.

[2015-12-23 20:49] #20872 closed

[2015-12-23 20:51] cachedout commented on #22171
@basepi Is this fixed now, or no?

[2015-12-23 20:52] cachedout commented on #23373
Since we have a fix in and no reply, I am closing this. If it turns out not to be fixed, please comment and we will re-open this.

[2015-12-23 20:52] #23373 closed

[2015-12-23 20:57] cachedout commented on #24903
This is done.

[2015-12-23 20:57] #24903 closed

[2015-12-23 20:59] cachedout commented on #26054
This seems to be fixed.

[2015-12-23 20:59] #26054 closed

[2015-12-23 21:01] cachedout commented on #25789
@garethgreenaway Any update here?

[2015-12-23 21:07] pass-by-value commented on #28281
#29987 should fix this

[2015-12-23 21:12] garethgreenaway commented on #25789
@cachedout Completely forgot about this.  Will take a look.

[2015-12-23 21:36] cachedout commented on #27105
Closed. If there is a response for this one, we can re-open it.

[2015-12-23 21:36] #27105 closed

[2015-12-23 21:36] #26948 closed

[2015-12-23 21:39] cachedout commented on #27844
If this is solved by upgrading ZeroMQ, I am not sure why this was re-opened since it's not clear what else we can do. Re-closing.

[2015-12-23 21:39] #27844 closed

[2015-12-23 21:41] cachedout commented on #28518
Any updates here, @kev009 or @cedwards ?

[2015-12-23 21:44] cachedout commented on #29115
Closed for lack of response.

[2015-12-23 21:44] #29115 closed

[2015-12-23 22:01] zenion commented on #27295
Additionally, the CLI Examples: of the documentation is wrong and causes an error if someone attempts to follow it as it contains commas that aren't supposed to be there as seen below:

salt '*' file.line /etc/nsswitch.conf "networks:        files dns", after="hosts:.*?", mode='ensure'

commas should be removed in all occurrences of this cli example.

[2015-12-23 22:36] jakehilton commented on #29674
I just got this error from a minion when running a highstate command from the master.

[code]

This is with stock 2015.8.3 so nothing patched on it. Not sure if this would cause issues.. but thought I'd pass it along seeing as it does look to relate to the minion error above.

[2015-12-23 22:39] jakehilton commented on #29674
When I logged into the box that threw that exception from above.. I could run a salt-call state.highstate without error. Not sure how the call from the master would cause this error to pop.

[2015-12-23 22:40] jakehilton commented on #29674
Another error just popped.

[code]

[2015-12-23 22:49] javicacheiro commented on #29971
Yes, the only missing part is the primary=<dev> option.

The other options are not problematic, even if I see no reason to include them if the BONDING_OPTS y are not requested explicitly. For example downdelay=200 increases the time before disabling the link from 100 to 200 milliseconds, updelay=0 is just the current default.

[2015-12-23 22:52] javicacheiro commented on #29973
Definitely, just having a option to switch the behaviour should be fine. I guess this comes from the fact that the ethernet devices were named ethX and the same behaviour was moved to bridges and possibly vlans.

[2015-12-23 22:56] kev009 commented on #28518
I'm working lower in the stack to cache the interesting drive values in the kernel's 'geom' instead of querying the drives with camcontrol.  Need to figure out how to get the drive firmware and then will switch the grain over.  Was waiting for more reports before doing anything to current grain.

[2015-12-23 23:35] githubcdr commented on #26643
Is there a way to debug this? I noticed that none of my Arch Linux salt-minions show up in presence events, but Ubuntu minions do, these minions are all behind a NAT firewall. Perhaps it's zeroMQ version related?

Running salt-minion -l all does not show any presence events being requested or send.

Is there an easy way to enable debug output for this?

[2015-12-23 23:45] jfindlay commented on #26643
@githubcdr, you can try setting `zmq_monitor: True` in the master and minion configs.

[2015-12-24 00:13] javicacheiro commented on #26171
Same problem running salt-ssh from a centos 6.7 master to a centos 7.1 minion (RHEL7 ships with python 2.7).

I would suggest to mention this issue in the salt-ssh documentation so people are aware of the problem (it is quite common to have python 2.7 minions these days).

[2015-12-24 00:51] twangboy commented on #29549
@meggiebot We need to talk about how to merge these two PR's with what I need to do.

[2015-12-24 02:06] lorengordon commented on #28424
I have nothing to add, I suppose. If pycrypto is the problem, I guess I'd just ask if the saltstack team has started looking into whether the cryptography library is yet a worthy replacement?

[2015-12-24 03:04] lsuryo commented on #25581
Seeing the same problem...
tried all the steps mentions above and no luck, I need to copy a 13mb tgz file across all minions
salt-cp "*" my.tgz  /tmp/my.tgz

CRITICAL] Could not deserialize msgpack message: Unexpected Error in MworkerThis often happens when trying to read a file not in binary mode.Please open an issue and include the following error: unpack(b) recieved extra data.
[ERROR   ] An un

[2015-12-24 03:08] lsuryo commented on #25581
Trying to copy a 13mb tgz file across all minions and failed
deleted the directory mention above, restarted the master and all minions

[code]

Error:
[code]

[code]

All minions show the same versions-report

Any idea? It a huge issue...

thanks

[2015-12-24 03:10] my10c opened #29991 "Salt 2015.5.3 - Could not deserialize msgpack message error."
Trying to copy a 13mb tgz file across all minions and failed
deleted the directory mention above, restarted the master and all minions : from #25581

[code]

Error:

[code]

[code]

All minions show the same versions-report

Any idea? It a huge issue...

thanks

[2015-12-24 03:12] lsuryo commented on #29991
more test
dd if=/dev/zero of=test_file bs=1024 count=1024
salt-cp "*" test_file.gz /tmp/test_file.gz

works : so its an size issue!'

[2015-12-24 04:07] lsuryo commented on #29991
salt '*' -t 2400 -b 1 cp.get_file salt://files/my_file.tgz /tmp/my_file.tgz
partial works, so not useful

So I end up using pssh to solve this time.. but it would  be nice if salt can do this...

[2015-12-24 04:31] Magomogo commented on #29104
Should this warning disappear when `env_order` is set? It's not.

[2015-12-24 05:15] my10c opened #29992 "Salt 2015.5.3 - VALUE_TRIMMED"
Somehow output of command are getting trimmed
before the upgrade to 2015.5.2/2015.5.3 I was able to display large output, like tar -ztvf data.tgz
but now this no longer works

I end up changing the the master and minions value to max_event_size to 5242880
however Im getting timeout and sometime : segmentation fault (core dumped)
deeper check: the system ran out of memory (thsi as a vm with 1GB of

[2015-12-24 05:18] lsuryo commented on #29992
more test : if i keep doing this over and over again : Im getting

[code]

[2015-12-24 06:06] adithep opened #29993 "Dockerng as a whole is not compatible with v2 registries."
For example during push dockerng expect this kind of output:
Pushing repository aa/ll (3 tags)

    Image 3a14eb41d6e3 already pushed, skipping
    Image 8d757b237b87 already pushed, skipping
    Image b2786998442a already pushed, skipping
    Image d70cf2b1ffbd already pushed, skipping
    Image 419754143dbf already pushed, skipping

But v2 gives this output:

    3a14eb41d6e3: Image already exis

[2015-12-24 06:10] adithep opened #29994 "dockerng.push should not auto tag :latest"
If you push docker image without specifying a tag. All the tag will be pushed at the same time. This is a convenient feature for workflows that requires multiple tags on one image. Currently there is no way to do that via dockerng.

[2015-12-24 07:41] akissa commented on #29861
Issue resolved closing.

[2015-12-24 07:41] #29861 closed

[2015-12-24 09:14] dr4Ke commented on #5721
I'm hitting this "bug" too. So I have some thoughts on this.

What's is the current expected behavior?

What about adding a specific state/module to trigger a salt-minion restart after the entire job execution?
It would just output a "changes: salt-minion will be restarted after this job execution", continue the job execution, returns the job status to the master, and only then, the minion restart

[2015-12-24 10:15] gravitypaint commented on #29835
@jfindlay My minion is able to connect to the master, and run states as expected When I set `file_client: local` and `startup_states: highstate` I then got the log that I posted previously. I would not have expected it to attempt to connect to the master when running in masterless mode.

When running a state in masterless mode on the minion, the following is put into the log, then it continues to

[2015-12-24 10:18] vutny commented on #5721
@dr4Ke I found that doing like this:
[code]

is the most reliable way to restart minions. But only when you have (or want to have) `atd` installed everywhere.

[2015-12-24 10:19] fmnisme opened #29998 "there is some error on docs page"
https://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_cherrypy.html#keys

[code]

[2015-12-24 10:46] DanyC97 commented on #29976
@Reiner030 can you post your full state ?

Since i was going through same debug process few days ago, following my chat with @ryan-lane i believe the best bet is to set your python repl or the IDE on the minion as a salt client and import all the boto modules from which you run debugger to figure out where is going wrong.
I don't have a full howto, once i have one will share it

[2015-12-24 11:02] DanyC97 commented on #29905
interesting approach @Reiner030 which i suspect it was never covered in the initial use case.
@ryan-lane i doubt you guys follow this nested pillar format in your env?

[2015-12-24 15:37] Akilesh1597 commented on #16294
@powellchristoph , this issue is closed. I think we need to open a new issue to get attention. The documentation I see now are those I had written as doc strings on my first commit. For some reason the doc string from the latest code is not displayed.

[2015-12-24 16:24] githubcdr commented on #26643
Hi @jfindlay,

I tried to debug this with zmq_monitor enabled but this does not reveal additional logging on the master or the minion related to presence events.

Is there another approach to debug this issue? From what I understand, it's the master sending the presence request. If this is true I could debug the function responsible for responding to this request, right?

[2015-12-24 18:08] gmarone opened #30006 "Update docs for allowing non-unique groups"
This already exists for users, but doesnt seem to be there for groups.  But I was able to specify unique: False, and it was able to add the groups.

[2015-12-24 19:21] jfindlay commented on #29104
@Magomogo, the warning should disappear when `top_file_merging_strategy` is set to `same`.

[2015-12-24 19:22] jfindlay commented on #29104
https://docs.saltstack.com/en/latest/ref/states/top.html#how-top-files-are-compiled

[2015-12-24 19:32] jfindlay commented on #29835
@gravitypaint, thanks for the extra information.  This looks like an unrelated error that is similar to #27688.  Would you mind posting the full `salt-minion --versions-report`?

[2015-12-24 19:35] jfindlay commented on #26643
@githubcdr, those are good questions, but this is beyond my current experience level in this area.  You may want to ask @cachedout or @jacksontj.

[2015-12-24 21:50] #15186 closed

[2015-12-25 01:10] gladiatr72 commented on #4648
For those that are watching this thread, I've got a patch to `modules/pip.py` to address the requirements chaining bug. My work is against develop--I haven't verified that the multiple requirements feature has been taken care of, but it looks like it!  I ran into the issue with the chained requirements file and decided to fix it. After I give it another once-over (post-holiday) I'll submit it agai

[2015-12-25 01:59] Vye commented on #5721
I had success using a supervisor like systemd or [supervisord](http://supervisord.org/).

[2015-12-25 02:28] seanjnkns commented on #29601
Here's the results of git bisecting 2015.8.1 to 2015.8.3 to determine the commit(s) likely causing the issue.  I apologize that I am only familiar with python enough to read it, but not skilled enough to do a PR:

4af5b5c33f8b082797eb5827f59c4681ff9fba03 is the first bad commit
commit 4af5b5c33f8b082797eb5827f59c4681ff9fba03
Author: Domingo Kiser <domingo.kiser@gmail.com>
Date:   Mon Oct 12 21:59:

[2015-12-25 02:59] seanjnkns commented on #29601
Although not documented in the master configuration, setting pillar_source_merging_strategy to recurse_list solves the issue in my case, but may lead to issues for others who are relying on another merging strategy.  However, might I suggest that the documentation be updated for /etc/salt/master to note the option of recurse_list and preferably make merge_lists in the dictupdate.py be True, not Fa

[2015-12-25 04:22] Magomogo commented on #29104
Yes, this is clear. But I need `merge` strategy with merge order set. Why I keep getting the same warning?

[2015-12-25 05:46] 7kbird commented on #29601
+1 on `` make merge_lists in the dictupdate.py be True by default``

Should keep the default behavior to be compatible with previous versions.

[2015-12-25 05:54] mosuowhq opened #30007 "return delay of a find_job task"
A job with type of saltutil.find_job  is sent to check whether a state job is still running. Occasionally , the return of the finding job is very slow, even after the state job is over. This lead the error of "Minion did not return. [No response]".

Here is the master log. A finding job was fired on 2015-12-24 21:26:46 and returned on 2015-12-24 21:28:53. Between this time, the state job 201512242

[2015-12-25 08:30] liminshiwo opened #30008 "salt-minion on windows did not take back the connections on port 4506 in version v2014.7.0"
salt-master:     salt --versions-report
           Salt: 2015.5.3
         Python: 2.6.8 (unknown, Jul  1 2015, 20:26:17)
         Jinja2: 2.5.5
       M2Crypto: 0.21.1
 msgpack-python: 0.4.5
   msgpack-pure: Not Installed
       pycrypto: 2.3
        libnacl: Not Installed
         PyYAML: 3.08
          ioflo: Not Installed
          PyZMQ: 14.5.0
           RAET: Not Installed
            ZMQ:

[2015-12-25 10:42] #30008 closed

[2015-12-25 10:47] vutny commented on #29094
I believe this is already fixed with latest repo updates and in `salt-bootstrap` develop branch. I've got everything work smoothly on both RHEL5 and RHEL7:
* https://gist.github.com/vutny/d710993c13bca9f53fba
* https://gist.github.com/vutny/54a2d09b2b8f8f8b6fd5

Some dependencies are served from `saltstack` official repository, some from `epel`.
@RonWilliams Does it work for you?

[2015-12-25 11:02] vutny commented on #28144
@dmurphy18 I've got everything work on CentOS/RHEL 7 (in AWS as well) with latest package uploads done to Salt official repo. and `python-jinja2` is in the base repo now:
[code]

and it's not in Salt's repo for RHEL7 anymore.
Bootstrap log from RHEL7.2 in AWS: https://gist.github.com/vutny/54a2d09b2b8f8f8b6fd5

@amitshipra Do you still encounter this issue?

[2015-12-25 18:45] Reiner030 commented on #29976
e.g. from ELB definition:

[code]
(commenting out ````split_dns```` / ````private_zone````  makes no difference but ````identifier````)

[2015-12-25 19:27] jfindlay commented on #29104
I think I understand now what you are asking, @adithep, @Magomogo.  `env_order` specifies the order in which environments are processed when looking for top files and other things as specified under `file_roots`.  I am not sure this guarantees top file merging order since each top file can refer to other environments.  I could be wrong but in either case, @cachedout will likely have a better expla

[2015-12-25 19:29] jfindlay commented on #29601
Excellent, thanks @seanjnkns.  You mention some good points to think about.

@basepi, @cachedout

[2015-12-25 19:57] seanjnkns commented on #29601
Perhaps instead of essentially reverting the benefits of that commit, if the recurse_list option were dropped and instead a new __opt__ were to be introduced for merge_lists in the master configuration that defaulted to True?  I'm exploring that option if for no other purpose than to try my hand at python.  If I come up with even a remotely working solution, I'll submit a PR.

[2015-12-25 21:42] stanislavb commented on #29912
Hi

Are you by any chance using salt on EC2 instances outside of us-east? I haven't dug deep in this issue, but the following config worked for me in us-east-1 region of AWS:

[code]

However outside of us-east-1 (in my case eu-west-1) I had to add an additional configuration line:

[code]

It looks like requests to get data from S3 always use a correct region specific endpoint, but before that th

[2015-12-26 11:38] scott-w commented on #6443
@cachedout I didn't unfortunately. I don't even know if the code I wrote up there would merge any more. I can throw up a PR if anyone wants to take it forward?

[2015-12-26 14:37] dragon788 commented on #20010
@basepi You are correct that the require wouldn't work in the main state, we are doing something similar with roles and looping across the files (and I'm trying to figure out a sneaky way to only do it if they exist using some jinja foo) and in order to do any requires you need to put the "require in" or "prereq in" inside the plugins that are included by the main application. This makes the plugi

[2015-12-26 16:57] schaarsc opened #30013 "cannot configure -m recent --name with iptables.insert"
a state definition such as

[code]

should create a statement similar to
`iptables -I Input -m recent --name recent_name`
but name is ignored and I think this is due to
https://github.com/saltstack/salt/blob/aab929d196f267ff0f4723b8d0918826cfa04d18/salt/modules/iptables.py#L165
or
https://github.com/saltstack/salt/blob/aab929d196f267ff0f4723b8d0918826cfa04d18/salt/states/iptables.py#L500

I sugges

[2015-12-26 17:33] masterkorp opened #30014 "Test mode does not work in salt-ssh"
Running a command with salt: `salt-ssh gohan state.sls email.opendkim Test=true` Does actually run the commands in the system.

[code]

[2015-12-26 18:23] masterkorp commented on #30014
So, after some fidling, it seems that the issue is the the keyworkd must be ``test=True`` and not ``Test=true``.

I think it may be a useful feature to parse ``Test`` or at least trow a warning that the option is not recognized.

[2015-12-27 03:40] daswathn commented on #29194
@aboe76  The link to installing salt-minion is broken for SLES11 SP2, the repo is not available anymore.. any help in finding the old repo for we have a huge number of SLES11 SP2 servers still running in the environment
http://download.opensuse.org/repositories/devel:languages:python/SLE_11_SP2/devel:languages:python.repo
The above is the broken link on the official SaltStack website, any help wil

[2015-12-27 09:25] stooj opened #30019 "Antergos not supported"
[Antergos](https://antergos.com/) is a spin-off of Arch Linux. It's only #31 at time of writing on [distrowatch](http://distrowatch.com/), but I like it.

Salt currently does not support it, but I *think* this could be fixed by adding a mapping to
`grains/core.py`

[2015-12-27 19:18] LoveIsGrief commented on #27089
# `--list-images` and `--query`

While implementing this, I noticed that virtualbox doesn't have templates per se. Therefore I'm not sure if the [`avail_images()`](https://docs.saltstack.com/en/latest/topics/cloud/cloud.html#the-avail-images-function) should be implemented. So far it has the same implementation as the [`list_nodes()`](https://docs.saltstack.com/en/latest/topics/cloud/cloud.html#th

[2015-12-27 19:46] techhat commented on #27089
Sorry to come so late to the party.
Hi @LoveIsGrief. You can skip `--list-images` if it's not appropriate, so long as you clearly document what is needed to accomplish that task. However, I would consider the `--query` options to be critical to Salt Cloud; every operation performs that query on each configured provider, in order to assess what the environment looks like. This lets it know what mac

[2015-12-28 00:03] adamfeuer commented on #22557
@jfindlay @thedrow @ag-wood Hi guys, are you still interested in adding support for `apt-fast`? If so, I update @ag-wood's work to the latest salt develop, you can see it here:

https://github.com/saltstack/salt/compare/develop...adamfeuer:apt-fast

( @ag-wood sorry I couldn't figure out how to base my branch on your commits, since aptpkg.py code has moved on a bit from the point where you made th

[2015-12-28 03:36] joe-niland commented on #29328
For anyone else that runs into this issue: I had the same problem while already having upgraded to salt 2015.8.3.

The issue was the boto version as @jfindlay mentioned. The easiest way to fix this proved to be removing the python-boto package from apt and installing 'boto' via pip.

[2015-12-28 04:07] terminalmage commented on #29978
@whytewolf is correct, this is simply incorrect usage. The following SLS should allow the state to complete successfully:

[code]

[2015-12-28 08:26] iMilnb commented on #29833
Interesting, when calling salt functions I don't reproduce this bug:
[code]

[2015-12-28 09:23] iMilnb commented on #29833
A simple fix consists in replacing:
    pip = re.compile(r'.*?(?:inet addr:|inet )(.*?)\s')
with:
    pip = re.compile(r'.*?(?:inet addr:|inet [^\d]*)(.*?)\s')
in `salt/utils/network.py`

[2015-12-28 10:36] thedrow commented on #22557
Maybe that will be the best course of action.
@jfindlay I'm undecided on this one. apt-fast is useful just because it makes provisioning servers faster.
If that's a goal to you guys, let's merge @adamfeuer's PR.

[2015-12-28 11:49] job commented on #29690
It is out of sync again

`E: Failed to fetch http://repo.saltstack.com/apt/debian/8/amd64/latest/pool/main/z/zeromq3/libzmq3-dev_4.0.5+dfsg-3_amd64.deb  404  Not Found [IP: 198.199.77.106 80]`

[2015-12-28 12:53] jopasserat commented on #19349
Emptying the cache on the faulty minion fixed the problem for me (Ubuntu 14.04, salt-minion 0.17.5 installed from debian packages).

[2015-12-28 14:58] mmisztal1980 opened #30028 "Is local.file.managed possible?"
Hi there,

I've searched both stackoverflow and github issues but I haven't found an answer, so here goes :

Obviously I'm new to salt, I'm attempting to write a reactor .sls file to handle a 'servicedeployment' event.

In order to execute my scenario successfully, I need to have the target minions execute a file.managed state. (selected minions running some middleware need to download files from

[2015-12-28 15:46] adamfeuer commented on #22557
@thedrow This change is useful to my team, because it shortens our development cycle - we use Salt to build many Docker images, so substantially increasing the speed packages install helps us have a sane development environment.

[2015-12-28 15:48] adamfeuer commented on #22557
@thedrow  @jfindlay I'll make a PR for this later today so you guys can decide on it.

[2015-12-28 15:58] #29969 closed

[2015-12-28 16:02] cachedout commented on #29954
@terminalmage Any insight on this one?

[2015-12-28 16:05] #29933 closed

[2015-12-28 16:09] cachedout commented on #29882
@jhujhiti This all seems pretty sensible. I don't have a BSD box up right now to test these ideas against though. Any chance I could persuade you to work up a PR for this?

cc: @cedwards and @kev009

[2015-12-28 16:13] cachedout commented on #29806
@terminalmage You've been in the `git.latest` code over the summer if memory serves. Any insight here?

[2015-12-28 16:25] rallytime commented on #14634
@Sacro Definitely. I fixed it in a subsequent commit, 3bfb87c0315907c91c34408fb4183535e6c84c4e, as part of PR #29729 before it was merged. Thanks for double checking! :)

[2015-12-28 16:53] terminalmage commented on #29954
Gitfs maps branches and tags as environments. Is there something specific that is stopping you from simply putting the desired files in the same location in each environment?

There is currently no mechanism to do what you're asking. The reason for this is that gitfs works differently from git_pillar. In git_pillar you only specify a single branch/environment at a time, where a single gitfs remote

[2015-12-28 16:56] terminalmage commented on #29954
I've renamed this issue to more accurately describe the feature which was requested.

[2015-12-28 17:02] terminalmage commented on #29806
@eburghar Please provide the minion logging from when you executed the state. I'm most interested in the command used to clone the repo. Feel free to redact the name of the revision (or anything else you wish not to share) in the logging.

[2015-12-28 17:10] kev009 commented on #29882
I agree with using freebsd-version -u here.  Do we need to preserve support for <10?

[2015-12-28 17:22] terminalmage commented on #29806
I just attempted this on the saltstack repo and was unable to reproduce the error:

[code]

[2015-12-28 17:30] rallytime commented on #1054
Yeah, I think so. Thanks everyone!

[2015-12-28 17:30] #1054 closed

[2015-12-28 17:34] cachedout commented on #29882
@kev009 I'm fine with supporting 10 and above.

[2015-12-28 17:39] rterbush commented on #29912
@stanislavb thanks for taking a look at this.

Unfortunately, the service_url parameter does not solve the problem for me. I am working in us-west-2 region. I've tried explicitly setting this parameter as well as letting the system figure it out. Neither work.

Let me know what else I can do to help figure this out.

The config I am currently trying is:
[code]

[2015-12-28 17:39] cachedout commented on #30028
Hi @mmisztal1980

The general idea is right, but there is one important adjustment.

If you need to execute states on the _minions_ from a reactor SLS, you need to use something like `state.single` and pass in `file.managed` as an argument to it.

[2015-12-28 17:44] windoverwater opened #30030 "Cannot seem to set environment variables via kwarg for salt.function (Beryllium)"
First time reporting a potential bug - trying to get it right - apologies in advance for any WTF's

The following state file can be used as a test case - it demonstrates that an environment variable is not being set via kwarg inside a salt-function when in theory it should be:

    test-env:
      salt.function:
        - name: cmd.run
        - tgt: githq-4.foobar.com
        - kwarg:
          -

[2015-12-28 17:47] cachedout commented on #29998
@jacobhammons or @whiteinge Can one of you took a look here? This looks like something is very broken with the way Sphinx is parsing that docstring.

[2015-12-28 17:55] cachedout commented on #30019
@stooj Yes, Antergos should definitely be supported. You are correct that it should be a matter of making the necessary modifications to `core.py` and you'd probably want to modify `__virtual__` in `salt.modules.pacman`.

Do you want to take a swing at making these modifications? It should be pretty straightforward.

[2015-12-28 18:44] mmisztal1980 commented on #30028
Hi @cachedout, thanks for the response, I'll give it a shot tomorrow

[2015-12-28 19:42] cachedout commented on #30014
Yes, the argument passed is certainly case-sensitive. It would be useful to throw a warning here, I agree.

[2015-12-28 19:45] cachedout commented on #30014
Actually, it looks like this is already implemented. I'm a little surprised this didn't work.

[2015-12-28 19:48] cachedout commented on #30013
Thanks for the suggestion. I'm curious what @thusoy has to say about this one.

[2015-12-28 19:51] cachedout commented on #30007
Thanks for sending this in. We really need to see the corresponding minion logs to troubleshoot this issue further, though. Is that something you can provide?

[2015-12-28 19:54] cachedout commented on #29994
@adithep Thanks for sending this over. @terminalmage What do you think about the viability of this?

[2015-12-28 19:57] jfindlay commented on #22557
@adamfeuer, that would be great, thanks, although I'm still unsure why this wouldn't work with the [`provider` config](https://docs.saltstack.com/en/latest/ref/states/providers.html#setting-a-provider-in-the-minion-config-file).  This is a minor complaint, though.

[2015-12-28 19:58] cachedout commented on #29983
Hi @joejulian This seems reasonable to me.

@KennethWilke and @gtmanfred You guys have done a lot of work in this area. What do you think of this?

[2015-12-28 20:00] gtmanfred commented on #29983
I have no problem with that, but I have no idea where to begin with
implementing it right now, I haven't played with gluster much since I wrote
the original module and states.

Otherwise +1
On Mon, Dec 28, 2015 at 2:58 PM Mike Place <notifications@github.com> wrote:

[2015-12-28 20:02] cachedout commented on #29983
@gtmanfred Cool, sounds good. @joejulian is this something you'd like to take a swing at?

[2015-12-28 20:03] cachedout commented on #29993
@terminalmage Another docker one for you to look at, if you have a moment.

[2015-12-28 20:05] xenophonf opened #30042 "salt 2015.8.3 returns wrong value for osrelease grain on Windows Server 2012 R2 due to Python bug"
Python 2.7.10's `platform.uname()` returns the following:

[code]

Salt derives its value for the `osrelease` grain from the third field of that tuple [[1](https://github.com/saltstack/salt/blob/c557008e24c027733cc1f23bdfdbba8358cc369d/salt/grains/core.py#L1084)][[2](https://github.com/saltstack/salt/blob/c557008e24c027733cc1f23bdfdbba8358cc369d/salt/grains/core.py#L1096)], and since [the current

[2015-12-28 20:07] cachedout commented on #30042
@xenophonf Ouch! That's no good.

@twangboy What do you think the best course of action is here?

[2015-12-28 20:10] cachedout commented on #29992
If the system runs out of memory and python segfaults, throwing an error message from Salt isn't realistic. Could you elaborate a little more on your use case? I'm trying to understand what you're doing here. There might be a better way to accomplish what you need.

[2015-12-28 20:15] joejulian commented on #29983
@cachedout Yes, I'll be working on this.

[2015-12-28 20:16] cachedout commented on #29983
@joejulian Great! Look forward to seeing what you come up with.

[2015-12-28 20:20] rallytime commented on #24068
I am going to go ahead and close this. If more work should be done, let me know and I'll be glad to re-open this issue. Thanks!

[2015-12-28 20:20] #24068 closed

[2015-12-28 20:29] pcn opened #30044 "Fixed redis salt returner fails with TypeError"
I want to use redis to fix a couple of issues I've had with getting jobs listed and reported etc. quickly via the netapi.  So I naturally ran across the bug with some returners returning a list, and others returning a dict.  I tried the fix at https://github.com/saltstack/salt/pull/28654 by changing the ```__virtual__``` to redis_fix, and updating my config.  For one highstate job, the fix seems t

[2015-12-28 20:38] lsuryo commented on #29992
Hi Mike,

That was my first thought, and so I added more memory, and the problem was solved.
Use: case a t2-micro instance in AWS to test simple salt stuff with 3 minions. In the past
this was never a problem...

The 'thing'  is that  the error message was not very helpful, I *think' it would has been nice to
see a out of memory error. Make sense?

As always thanks!

[2015-12-28 20:41] adamfeuer commented on #22557
@jfindlay Hmmm, I just didn't try that. Are you suggesting writing an `aptfast` provider that would derive from `aptpkg`, and then configure it to be used instead of `aptpkg`?

[2015-12-28 20:56] AkhterAli opened #30045 "salt-cloud make syndic not possible."
Like "make_master: True" could we also specify "make_syndic" and specify a higher tier master IP in the salt-cloud profile?  Basically I'd like to deploy a VM on Ec2 and make that a salt master and a syndic node so I can control from the highest level of salt-master.  Please let me know if this is already possible.

Thanks.

[2015-12-28 21:05] whiteinge commented on #29998
@fmnisme thanks for the report. This issue will be resolved when #28540 is resolved. I'll follow up with Jacob.

[2015-12-28 21:08] cachedout commented on #29998
I'm going to close this as a duplicate then. Please follow #28540 for status.

[2015-12-28 21:08] #29998 closed

[2015-12-28 21:18] roock commented on #29796
I'm seeing the same behavior. If nothing is changed or only failed state are returned by minion, everything works as expected. If there have been changes, it crashes.

Tested with:
[code]

The error:
[code]
Version Info:
[code]

[2015-12-28 21:24] whiteinge commented on #30030
Glancing at [the code](https://github.com/saltstack/salt/blob/d8e1663ef12caead4016702fd3736a71d82077c3/salt/states/saltmod.py#L352-L353), I think the docs are wrong and the `kwarg` argument is indeed expecting a dictionary _not_ a list.

Will you please try this syntax instead? (Note the extra indentation under `env`.)

[code]

[2015-12-28 21:31] cachedout commented on #30044
@DmitryKuzmenko Can you take a look here when you have a moment?

[2015-12-28 21:38] #28779 closed

[2015-12-28 21:41] rallytime commented on #30045
@AkhterAli This functionality already exists in salt-cloud, actually. Looks like it just needs to be documented. Give `make_syndic: True` and `syndic_master: my.master.location` a try.

[2015-12-28 21:48] rallytime commented on #30045
Oh, it looks like you may have to also specify `make_master: True` for the `syndic_master

[2015-12-28 21:48] ryansimmen opened #30047 "Syntax error in SaltStack Get Started Guide"
In `/getstarted/config/jinja.html` of the SaltStack Get Started Guide
* `salt '*' piller.items` should read `salt '*' pillar.items`
* `{% for DIR in ['/dir1','/dir2','/dir3']` is missing `%}` at end of line.

[2015-12-28 22:41] rallytime commented on #29960
@anlutro This should be fixed with #30043.

[2015-12-28 22:43] rallytime commented on #30047
Good catch @ryansimmen! We'd gladly accept a pull request with these changes, if you'd like to submit something. Otherwise we can grab it. Thanks!

[2015-12-28 23:04] twangboy commented on #30042
@cachedout Looks related to https://github.com/saltstack/salt/issues/15051. We fixed this for osversion, but not for osrelease. osfullname shows correct though. I can't find anywhere that gives an abbreviated version of the os name like osrelease without building a lookup table that would return the value based on the version or something. We're not planning to update to 2.7.11 until Boron. How sh

[2015-12-28 23:31] twangboy commented on #29549
This PR on develop should close this issue:
https://github.com/saltstack/salt/pull/30050

[2015-12-29 00:47] xenophonf commented on #30042
Wouldn't a bugfix release of 2015.8.3 for Windows that includes Python 2.7.11 be simpler compared to re-implementing [platform.win32_ver()](https://github.com/python/cpython/blob/2.7/Lib/platform.py#L624), especially since the bug's already been patched in Python?

[2015-12-29 01:40] joejulian opened #30051 "glusterfs.status fails with glusterfs 3.7"
`gluster volume status` added a column for rdma ports, breaking the string processing from the raw cli output.

I will be submitting a PR shortly to address this issue and future-proof this problem.

[2015-12-29 01:42] ryansimmen commented on #30047
@rallytime I'd love to submit a pull request although I'm having trouble locating the source for the documentation.  It appears others (#29080, #29184) are having the same issue.  Can you please point me in the right direction?

[2015-12-29 03:06] twangboy commented on #30042
It would be simple, but it's impossible to tell what else will be effected by the newer version of python. It might break something else.

[2015-12-29 03:09] garyelephant commented on #13141
+1

[2015-12-29 05:21] rallytime commented on #29080
This issue has been fixed. Closing.

[2015-12-29 05:21] #29080 closed

[2015-12-29 05:23] rallytime commented on #30047
@ryansimmen Oh, you're right. I actually don't know where the getting started docs are, as I have had trouble locating them in the past, as I am now.

@jacobhammons Can you shed some light on if it's possible or not (and how to do so) to get these simple changes updated in the getting started guide?

[2015-12-29 07:52] rakesh91 opened #30052 "Salt auto accept from specific network"
Hi,
I have salt master to maintain 3 environments, all the 3 environments are in trusted network. So I wanted enable auto_accept feature and to avoid unwanted clients thought of using iptables to filter them.
I had few questions:
1. Is this method good? If not, are there any other ways where I don't have to bother about accepting minion keys?
2. What is the port used for salt authentication?

[2015-12-29 08:03] WangWenchao commented on #27042
@anbaoyong , hi.  I met the almost same problem as you metioned . its very slow excute commands the salt master ,especially use the expresession math minions  like '*' or -E 'linux*'  , as we have many 45% windows ,the others are linux ,and minions installed on  total 2000+ server .  my minion version is 2015.8.3 .how you optimize your puppet master  server. If have time ,  come to Zhongguancun, w

[2015-12-29 08:11] gravitypaint commented on #29835
Hi, here is the salt-minion --versions-report for the current setup (note that when I initially opened this ticket with the issue, I was running 2015.5 as in the first post)

[code]

[2015-12-29 08:18] kaithar commented on #24068
Sorry, didn't see that reply.  Yeah, your PR looks good to me.

[2015-12-29 08:20] WangWenchao commented on #29918
@jfindlay thank your , this was not happened with previous version of salt ,  as I update salt from 2014.7  to 2015.5 ,  now to 2015.8.1   during 2015 ,  but when we upgrade to 2015.8.3 I get the problem ,  have back to 2015.8.1  .

[2015-12-29 08:24] WangWenchao commented on #17006
@frogunder , sorry . I have update the salt master to 2015.5

[2015-12-29 09:09] kaithar commented on #25729
:+1: on this.

How about just extending salt-ssh's rosters to allow it to do smarter things?  I'm thinking something along the lines of...
* Upgrade `sudo` key to accept a username so you can switch to a different user.
* Some kind of `via` key to specify a list of jump hosts, for when you can't connect directly.
* A `docker` key to specify the container to enter after connecting via ssh.  Can als

[2015-12-29 09:12] WangWenchao commented on #13141
my salt_clean_script.sh
[code]

[2015-12-29 09:47] thedrow commented on #25729
@kaithar I don't think we want sshd in containers.
If you do have it, I think it's already possible to manage containers using the ssh module (if it exists).

What we need to do is to use the docker client to get the list of running containers and add them to the list of minions. That way, when a minion gets a request it can redirect it to the correct container or the host.

[2015-12-29 10:27] omolto commented on #13141
As @basepi said and as alternative to the command I posted, we actually use the following cron to remove old keys
[code]

[2015-12-29 10:27] mmisztal1980 commented on #30028
@cachedout I've examined the documentation found here, but I haven't been able to find any reference on how to handle this the way you've described :(

Could you provide me with a short sample please?

[2015-12-29 10:28] thusoy commented on #30013
I believe the suggested solution of introducing a new keyword for this is the best option, which is how we've handled similar cases previously, like `connstate` aliasing `state`. However, what the best alias is I don't know. Why `rname`?

There's also a similar  unhandled collision for the `--save` argument to the connsecmark module, which also needs an alias.

[2015-12-29 11:26] schaarsc commented on #30013
'rname' because I was looking at -m recent.
Problem here is that depending on the module name has different meaning: list, counter, etc.

Maybe some kind of escape character can be introduced for such cases?
Something like _state, _name, _save?

[2015-12-29 11:40] thusoy commented on #30013
Yes, I think a generic escape character would be best. I'm not sure about the underscore prefix though, since it's already established in python as «internal». Could double dash work? Or underscore as postfix?

Den 29. desember 2015 12.26.21 CET, skrev schaarsc <notifications@github.com>:

[2015-12-29 12:27] DmitryKuzmenko commented on #30044
@pcn thank you for advanced log. It helped a lot!
The problem is in the None result. It looks like the data for some JID was cleared in the database but the jid still to be there. I think such results should be skipped by returner.

[2015-12-29 12:28] dijit commented on #30042
generally incrementing minor versions only fixes bugs, which is what we're trying to do.

Can we do a smoke test before and after a minor version upgrade to see if grains are returning valid values?

[2015-12-29 14:09] schaarsc commented on #30013
sls files are configuration files, I'd not use dash-dash, since this is more common for cmd line.

from an end user perspective I think it is more common to have the escape char at the beginning.
looking at an example
[code]
[code]
having the underscore as postfix is "easier" to read

[2015-12-29 15:05] kaithar commented on #25729
@thedrow That's not what I was suggesting... I'm suggesting making it so that salt-ssh can connect to the docker host then enter the container before executing the shim script.

[2015-12-29 15:17] thedrow commented on #25729
Oh right. I read it wrong. Sorry about that.

[2015-12-29 15:38] tminn commented on #29666
I can confirm. The moving the config  "ssh_interface: private_ips" to provider has no effect.

[2015-12-29 15:43] rallytime commented on #24068
:+1:

[2015-12-29 15:43] thusoy commented on #30013
I agree, the postfix reads better. I did some reasearch to see what is done elsewhere, [PEP8](https://www.python.org/dev/peps/pep-0008/#descriptive-naming-styles) on naming conventions:
[code]
So at least there's a precedent in Python-land. In C# it seems the convention is to prefix with `@`. Oracle also seems to [recommend](https://docs.oracle.com/javase/tutorial/java/package/namingpkgs.html) a t

[2015-12-29 16:17] twangboy commented on #30042
@thatch45 what do you think? Upgrading python to 2.7.11 will probably fix this issue. How should we proceed?

[2015-12-29 16:35] nikatjef commented on #28785
Just a quick update on this.

While working on an unrelated issue, I used the queue option to serialize a couple of state calls and found out that the minion does indeed execute process the same jids multiple times, so the results showing multiple returns for a single minion are "correct".  The M-O-M is getting multiple returns because the minion is processing the request once for each syndic / ma

[2015-12-29 16:39] cachedout commented on #30042
2.7.10 has multiple open CVEs. We need to test and validate 2.7.11, IMHO.

[2015-12-29 16:47] thatch45 commented on #30042
@twangboy yes, lets upgrade to python 2.7.11

[2015-12-29 16:55] twangboy commented on #30042
@thatch45 Next point release or 2015.8.3?

[2015-12-29 16:56] thatch45 commented on #30042
next point release

[2015-12-29 17:30] cachedout commented on #30052
You could also look into using pre-seeded keys: https://docs.saltstack.com/en/latest/topics/tutorials/preseed_key.html

If you wanted to go the iptables route, you'd want to allow TCP 4506-4506.

[2015-12-29 17:31] cachedout commented on #30051
Sounds great. Your recent attention to Salt's  glusterfs support has been wonderful! Thank you very much, @joejulian

[2015-12-29 17:50] seanjnkns commented on #29601
Submitted PR #30062 which should offer backwards compatibility to merge lists while allowing to opt to not merge them.  Given this is my first PR, if I made any mistakes, please let me know so I can not make the same mistake(s) twice.

[2015-12-29 18:15] ryan-lane opened #30063 "Add test suite that runs tests against squashed filesystem"
Salt continuously has ownership/permissions bugs that keep sneaking back in over and over again. This is because many modules will attempt to change ownership, then check that the ownership is what it expects afterwards. This doesn't work on squashed filesystems, because when you do a chown, the ownership doesn't actually change. It's very common to have squashed filesystems for volume mounts in v

[2015-12-29 18:49] cachedout commented on #30006
@gmarone Could you provide some more details here? This sounds like you're referring to the `groups` state, but I don't see that state accepting `**kwargs` or a `unique` argument, so I'm a little confused. Perhaps you could post a state file which illustrates what you mean?

[2015-12-29 19:01] rallytime commented on #30045
@AkhterAli I've submitted #30064 to document this feature. After some research, basically all you need to do to get this working on a basic level is to set the `make_master` and `syndic_master` options some where in your config files, depending on your set up:
[code]
These settings can be specified in either your profile, provider, map, or ``/etc/salt/cloud`` file - just be aware that depending on

[2015-12-29 19:17] caseeker opened #30065 "dynamic pillar value with grain condition not resolving consistently"
I'm setting a pillar value depends on a grain like following
[code]
when I do salt-call pillar.get as minion, it resolves the pillar values correctly
[code]
however, when I run salt command as master, the pillar values doesn't get returned.
[code]

[2015-12-29 19:19] daswathn commented on #22601
Thank you for fixing this works well after installing tornado on my sles11 sp3 server, but issue still persists with SLES12
salt-03:~ # zypper install python-pip
Loading repository data...
Reading installed packages...
Resolving package dependencies...

The following NEW package is going to be installed:
  python-pip

The following package is not supported by its vendor:
  python-pip

1 new packag

[2015-12-29 19:33] anlutro commented on #27491
It turns out, if I provide a `--log-file=whatever` argument to salt-ssh, the log path from my Saltfile is read correctly. Amusingly, the actual argument I pass to `--log-file` doesn't matter, unless I remove the `log_file` option from my Saltfile.

I tried debugging further, but the various mixins in parsers.py are not easy on the brain.

[2015-12-29 19:49] jfindlay commented on #29991
@lsuryo, thanks for the report.  I think this issue has been fixed in more recent versions of salt.  Are you able to try 2015.8.3?

[2015-12-29 19:51] jfindlay commented on #30063
Thanks, @ryan-lane.

[2015-12-29 19:53] anlutro commented on #27533
I was able to pinpoint where the exception is coming from: https://github.com/saltstack/salt/blob/7061661ab6c76bf789805e761bd47744caba314d/salt/utils/thin.py#L240-L247

[2015-12-29 20:01] caseeker commented on #30065
here is the salt-master debug log when I issue `salt '*salt*' pillar.get hosted_zone
[code]

[2015-12-29 20:01] #30065 closed

[2015-12-29 20:01] caseeker commented on #30065
Working fine after restarting minions..

[2015-12-29 20:04] anlutro commented on #27533
I suppose this might be because I run salt in a virtualenv. If the subprocess doesn't inhertit the parent process's environment variables, the import will fail because I don't have salt installed globally.

[2015-12-29 20:08] thatch45 commented on #29714
I reached out to some higher ups at Suse to try and get this looked at, they really just need to make a package for python-backports_abc and add the deps to the tornado spec for that and python-singledispatch

[2015-12-29 20:22] cachedout commented on #30044
This should be fixed now. Closing.

[2015-12-29 20:22] #30044 closed

[2015-12-29 20:23] #30045 closed

[2015-12-29 20:25] pcn commented on #30044
Thanks!

[2015-12-29 20:56] lsuryo commented on #29991
I need to stick with current version (2015.5.3 for now) in production. I'l do some testing in the none-production env sometime end of next month, and will report back. Happy New year!

[2015-12-29 21:29] sjmh opened #30066 "salt Caller throws 'string indices must be integers, not str'"
I have a trigger written in Cobbler that is trying to use the salt python API to throw an event back to the master.

Both the master and minion running on the Cobbler server are on 2015.8.3.

The trigger function is rather simple:

[code]

However, it often ends up throwing this:

[code]

Now, it doesn't do this all the time, but it does it pretty often.  I can send the events manually with no iss

[2015-12-29 22:02] LoveIsGrief commented on #27089
Hi @techhat

Thanks for joining the party :) I'll try and document as much as possible what I have done.

Thanks for making me aware of `virt`. It does look interesting, however I'm not sure it suits my needs as `salt-cloud` does (I might be wrong of course). Specifically testing configurations in multiple environments e.g having multiple test environments that create their own VMs from the map fi

[2015-12-29 22:07] cachedout commented on #29831
OK, let's see if #30068 does the trick here.

[2015-12-29 22:08] cachedout commented on #30066
Interesting. I have never seen this. Have you, @jacksontj ?

[2015-12-29 22:13] #29960 closed

[2015-12-29 22:14] wt commented on #30066
@sjmh Can you please post the output of "salt-call --versions" from the minion and "salt --versions" from the master?

Also, I have seen an issue where the python-msgpack package was not upgraded properly on Amazon Linux, which is similar to RHEL6 in some ways. If you are running a yum distro, can you try looking at what packages would be upgraded by a yum upgrade and see if anything looks interes

[2015-12-29 22:14] cachedout commented on #29889
My view is that it should, but I'm totally open to discussion.

[2015-12-29 22:16] cachedout commented on #27895
Closed for lack of response.

[2015-12-29 22:16] #27895 closed

[2015-12-29 22:22] cachedout commented on #27835
Documentation added in #30070

[2015-12-29 22:22] #27835 closed

[2015-12-29 22:24] cachedout commented on #27688
This sounds a lot like stale `.pyc` files. Can you try cleaning out any stale files and trying this again?

[2015-12-29 22:26] cachedout commented on #27555
Because this is fixed in our testing and we haven't had a reply here, I am closing this. If this can be reproduced on the latest release of Salt, please leave a comment and we will re-open it. Thanks.

[2015-12-29 22:26] #27555 closed

[2015-12-29 22:57] sjmh commented on #30066
@wt -

[code]

[code]

As far as updates - these are RHEL6.5 - so they have quite a few packages that would be updated ( as our local yum repos have everything up to RHEL 6.7 ).

[2015-12-29 22:57] aboe76 commented on #29714
@thatch45 :+1: for python-backports_abc see:
https://build.opensuse.org/request/show/350635

and for singledispatch:
https://build.opensuse.org/package/show/devel:languages:python/python-singledispatch

[2015-12-29 23:03] UtahDave commented on #27089
We would definitely welcome a virtualbox provider. In fact, I would use it myself!  :)

[2015-12-29 23:11] rallytime commented on #27183
Does PR #30067 help with this particular issue? It was merged into the HEAD of the 2015.8 branch a couple of minutes ago.

[2015-12-29 23:14] rallytime commented on #21372
Currently, there are several boto utils files on the develop branch, so I am going to close this one up. Thanks all!

For reference, boto utils files currently on the develop branch include:
- `salt/utils/boto.py`
- `salt/utils/boto3.py`
- `salt/utils/boto_elb_tag.py`

[2015-12-29 23:14] #21372 closed

[2015-12-29 23:15] rterbush opened #30073 "boto_elb fails in setup of access_log to S3"
Salt version 2015.8.3 (with monkey patch to boto_elb to fix vpc_id/vpc_name issue provided by @ryan-lane )

Applying boto_elb.present state, the state returns as failed, although it did successfully create the elb. The error is as follows:

[code]

The elb is created without configuration for logging to S3 bucket. Access control to the bucket has been completely removed for this user.

The state i

[2015-12-29 23:20] rterbush commented on #30073
This is an issue with access needing to be given to the elb service and not the minion creating the elb.

[2015-12-29 23:20] #30073 closed

[2015-12-29 23:34] ryan-lane commented on #27183
I just debugged the same issue with someone on IRC, so I'd imagine it is indeed the solution. Sorry for not finding this earlier.

[2015-12-29 23:37] rallytime commented on #27183
I just remembered that this one was open and thought it might be related. Can someone on this thread that is experiencing this bug give that fix a try and confirm that this is fixed? Maybe @samhamilton?

[2015-12-29 23:58] whiteinge commented on #30028
The syntax for `state.single` is not obvious for new Salt users -- or even for not-new salt users. It's confusing to think about since you're creating a data structure that will be used to call a function on the master that ships a subset of that data structure over the wire to a minion that will be used to call a function that kicks off Salt's state system which uses a subset of that data structu

[2015-12-30 00:02] wt commented on #30066
Is python-msgpack one of the things that would be updated? I found that the salt packages didn't use a versioned dependency. This would cause machines that had an old version of the python-msgpack package to not get the new version. That in turn would cause an exception that looks similar to what you reported?

You might trying updating only python-msgpack, if that is even possible. See if that fi

[2015-12-30 00:45] sjmh commented on #30066
@wt - msgpack isn't something that has an update available.

[2015-12-30 01:04] kaithar opened #30076 "[Documentation] Hashing != encryption"
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.apache.html#salt.modules.apache.useradd

m  Force MD5 encryption of the password (default).
d  Force CRYPT encryption of the password.
p  Do not encrypt the password (plaintext).
s  Force SHA encryption of the password.

Unless there's a good reason, this should really be talking about hashing rather than encrypting.

[2015-12-30 01:09] wt commented on #30066
Oh well, ignore me then. :)

[2015-12-30 01:10] clarkperkins commented on #17203
I know I'm a little late here, but I've run into this issue quite often.  We have an automated system that uses salt-cloud to provision hosts and then uses the orchestrate runner to configure them.

The main reason we have this issue is when one set of hosts is still launching under salt-cloud when we're configuring another set of hosts at the same time - meaning the set of launching hosts doesn't

[2015-12-30 05:23] rakesh91 commented on #30052
@cachedout Thank you.

[2015-12-30 05:23] #30052 closed

[2015-12-30 07:34] boltronics opened #30078 "salt-key --local key.finger can return an invalid fingerprint"
I was debugging a deployment script for salt-cloud, and wanted to manually accept a key on a master after a failure. So, as per the docs I ran:

```salt-key --local key.finger``` on the minion, and for this minion I got <pre>4d:36:2c:6e:d3:20:3f:2a:8f:53:ab:3d:99:81:de:7d</pre>. Then I used salt-key to check the master, and it was asking me to accept the fingerprint <pre>96:14:36:fd:4c:a2:32:82:d0

[2015-12-30 07:50] boltronics commented on #30078
The above PR doesn't address the root cause. I have no idea why it happened, and it's the first time I've noticed it happen all year. Also, the version of Salt I'm running is pretty old so the root cause might be fixed on newer masters... but 2014.1.13 is basically what's in the Debian Jessie repos so should work.

[2015-12-30 09:08] mpreziuso commented on #30076
Completely agree!
Weirdly enough, that is a copy/paste from `htpasswd --help` itself:

[code]

I think default values and the last line are quite scary indeed.

[2015-12-30 10:41] danduk82 commented on #28396
Hello,
I have the same issue [1] on Debian Jessie, using the official repo with "latest" tag (deb http://repo.saltstack.com/apt/debian/latest jessie main)

Bests

[1]
# salt-cloud -P -p vpc_micro_ec2 testing1 testing2 -P
[INFO    ] salt-cloud starting
testing1:
    ----------
    Provisioning:
        VM being provisioned in parallel. PID: 8136
testing2:
    ----------
    Provisioning:
        VM

[2015-12-30 10:58] abh23 opened #30080 "Salt Process monitoring and restart"
Hello,

I want to monitor SALT minion/master process in my OS and make sure they run all the time. In case, SALT process gets terminated, a mechanism should be there to start the process and make sure it re-connects to SALT master.

Is there any way this can be handled from within SALT? or I will need to write something of my own to monitor and restart SALT related processes..

Regards
Amit

[2015-12-30 11:43] mmisztal1980 commented on #30028
I confirm, this works ! :)

Thank you guys

[2015-12-30 12:56] mmisztal1980 commented on #30028
One final question if I may - is it possible to copy a file upstream from a selected minion to the master?

[2015-12-30 13:44] abednarik commented on #29592
Hi @jfindlay / @ckoe-bccms

 I was trying to fix this, but looks like was already fixed.

[code]
Sample state

[code]
Hosts file content

[code]

Salt output

[code]

Result looks good

[code]

Remving that line in hosts file and changing the order in names. Now I have alias first and fqdn next

[code]

Result looks good

[code]

Host file
[code]

[2015-12-30 14:43] windoverwater commented on #30030
Yes this works.  And thanks so much for the pointer into the code - that helps a lot!

[2015-12-30 14:59] mpreziuso opened #30081 "win_update includes' behaviour clarifications"
I'm currently using the win_update module to manage updates on some Windows boxes: I set it up following the documentation for the [module](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.win_update.html) whenever possible and then relying on the win_update [state](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.win_update.html) docs for the `includes` parameter w

[2015-12-30 15:35] windoverwater commented on #30030
Note - first time trying this but created a pull-request with a doc change.  Feel free to reject it - just wanted to try.

[2015-12-30 15:40] cachedout commented on #30028
Certainly. See: https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.cp.html#salt.modules.cp.push

[2015-12-30 16:00] #30078 closed

[2015-12-30 16:16] abednarik commented on #28233
We can close this one, I think.

Cheers.

[2015-12-30 17:12] whiteinge commented on #30030
Awesome. Thanks for working on a fix! It looks good. :+1:

[2015-12-30 17:23] xenophonf commented on #27371
Just to follow up: I'm going to clean up my PoC and submit it in a future pull request.

[2015-12-30 17:30] xenophonf commented on #15065
Is anyone working on this?  It looks like every string comparison in *salt/modules/win_service.py* needs to be modified, but maybe it'd require fewer changes to the code if service names were down-cased at input-time instead.

[2015-12-30 18:22] abednarik commented on #28586
Hi

 Salt ignores white spaces.

[code]

[code]

[code]

[code]

After updating state and remving all tabs whit a single space

[code]

No change is applied [this](https://github.com/saltstack/salt/blob/2015.8/salt/states/file.py#L3279-L3283) will return True since all white space is ignored.

I see 2 alternatives: adding a note in the docs just to give advice regarding behavior or add one argumen

[2015-12-30 18:27] cachedout commented on #30076
Thanks @kaithar and @mpreziuso . Any chance either of you would be willing to submit a PR for these changes? It would be much appreciated. :]

[2015-12-30 18:30] cachedout commented on #30080
Hi @abh23

You could probably use salt to do this by running `salt-call` on a schedule with cron and just calling a `service.running` state that checks for the salt service running.

[2015-12-30 18:42] cachedout commented on #30081
Hi @mpreziuso

I wish all bug reports were like this. Well done!

@twangboy and @UtahDave along with @Narcolapser and @nmadhok  are the first people who come to mind here. I'd like to hear from all of them about the concerns you've raised.

[2015-12-30 18:43] mpreziuso commented on #30076
I'm on it! :)

[2015-12-30 18:49] cachedout commented on #30076
@mpreziuso Many thanks!

[2015-12-30 18:56] cachedout commented on #30030
We've got that fix in now so I suspect we're good to go ahead and closed this. Thanks for all your help here @windoverwater. Much appreciated!

[2015-12-30 18:56] #30030 closed

[2015-12-30 19:00] UtahDave commented on #27371
Awesome, thanks, @xenophonf !

[2015-12-30 19:01] cachedout commented on #29921
OK, documentation added. We'll close this once that change is merged. Thanks, all!

[2015-12-30 19:04] cachedout commented on #29951
This could be tangentially related to #27183. Perhaps @ryan-lane could jump in and provide some insight here?

[2015-12-30 19:07] cachedout commented on #29833
@iMilnb Would you like to send that change over as a PR? We can run the test suite on it and see how things go.

[2015-12-30 19:09] ryan-lane commented on #29951
Not related. Most likely the documentation doesn't match the code. The arg should really be name, not instance_name and whatever code is referencing it should be fixed to match.

[2015-12-30 19:12] ryan-lane commented on #29951
attribute is a positional arg, you need to pass that in first. The docs really need to be cleaned up here.

[2015-12-30 19:14] scbunn opened #30087 "broken enterprise linux repositories"
I can no longer mirror upstream repositories

[code]

[2015-12-30 19:17] scbunn commented on #30087
Additionaly, packages that are downloaded have issues
[code]

[2015-12-30 19:19] mpreziuso commented on #30076
PR sent, you're welcome @cachedout!
Patch is based off branch 0.16, is that ok?

[2015-12-30 19:22] cachedout commented on #30076
Unfortunately, no. We need it to be in 2015.5 or higher. We don't merge forward from any branch before that. Could you close that one and re-submit? Sorry for the inconvenience.

[2015-12-30 19:23] mpreziuso commented on #30076
Ah. I thought that could have been an issue; no problem, submitting a new one in a minute!

[2015-12-30 19:24] cachedout commented on #30076
Great! Thank you.

[2015-12-30 19:37] cachedout commented on #29882
@jhujhiti Did you want to submit a PR for this? It might be a bit before one of us can get to it.

[2015-12-30 19:37] cachedout commented on #29867
@twangboy or @UtahDave Any ideas on this one?

[2015-12-30 19:43] cachedout commented on #29978
Looks like this is expected behavior so I'm closing this issue. If further discussion is needed, feel free to leave a comment and we will re-open it. Thanks.

[2015-12-30 19:43] #29978 closed

[2015-12-30 19:47] cachedout commented on #29670
Interesting. Did the file ultimately get cached? I'm curious about whether we just didn't see a response from the attempt to cache the SLS or if in fact the copy operation failed.

[2015-12-30 19:47] theherk opened #30091 "win_update.list_packages verbose=True - sdecode missing"
When running win_update.list_packages verbose=True in 2015.8 there is a failure for sdecode being missing. I have already tracked this down; it was moved in commit e8792c73. I will have a PR soon with the update. I don't know what other modules this would have affected, but I'll get this one sorted.

[2015-12-30 19:48] mpreziuso commented on #30081
:smile:
Perfect, thanks very much!

[2015-12-30 19:50] theherk opened #30092 "win_update.list_packages verbose=True - sdecode missing"
When running win_update.list_packages verbose=True in 2015.8 there is a failure for sdecode being missing. I have already tracked this down; it was moved in commit e8792c73. I will have a PR soon with the update.

[2015-12-30 19:54] cachedout commented on #30092
I could swear we just fixed this the other day. Let me look.

[2015-12-30 19:55] cachedout commented on #30092
Here it is: https://github.com/saltstack/salt/pull/30059

[2015-12-30 19:59] theherk commented on #30092
It would appear that merge hasn't been merged into later versions. modules/win_update.py does not contain the call to `salt.utils.locales.sdecode()` is not present in 2015.8 or develop. See here: https://github.com/saltstack/salt/blob/develop/salt/modules/win_update.py#L305.

[2015-12-30 20:00] cachedout commented on #30092
It will be. We normally merge forward every few days. With the holdiays, we've fallen behind a little bit. Rest assured though, it will get there very soon. :]

[2015-12-30 20:02] anlutro commented on #29670
How would I find out if it got cached?

[2015-12-30 20:02] cachedout commented on #30076
Closed via #30089

[2015-12-30 20:02] #30076 closed

[2015-12-30 20:04] cachedout commented on #29670
@anlutro Will be in the salt master cache. By default on Linux: `/var/cache/salt/master/files/`

[2015-12-30 20:04] Reiner030 commented on #29951
mmh, but it would be nice if the boto_* modules/states use then the same form of parametisation ...
In my other boto functions I need to set region= ... (and aws clie uses --region=...)

[2015-12-30 20:07] theherk commented on #30092
Awesome, but I still think it is broken even with the fix. `locales` is not imported. `salt.modules.win_update` will also need:

    from salt.utils.locales import sdecode

or it won't find the function.

[2015-12-30 20:09] anlutro commented on #29670
I think I'll have to get back to you on that - the machine in question is in a locked up staging environment that I can only get to from our office network.

I also haven't seen it happen in my VMs when testing, only on servers where I use gitfs. I'll see if I can make an effort to replicate it locally some time after new years.

[2015-12-30 20:09] cachedout commented on #30092
You're completely right! I should have seen this in my review but totally missed it. My bad. Would you mind submitting a PR and I'll merge it right away? Thanks for catching that! I'm a little embarrassed. :]

[2015-12-30 20:10] cachedout commented on #29670
@anlutro Sounds good. This *sounds* transient so it might be hard to reproduce but let's see if we can figure out what conditions cause this to happen. If I were to wager a wild guess here, I'd say that gitfs hiccuped and caused this.

[2015-12-30 20:15] cachedout commented on #29784
Hmmm. Interesting. I see what you're saying here but I'm a little hesitant to silently skip this in master-less mode. What do you see as the correct behavior here?

[2015-12-30 21:19] ryan-lane commented on #29951
What I mean is, your call currently needs to be:

[code]

I agree with you, though, that all the modules should use the same form of parametrization.

[2015-12-30 21:39] kaithar commented on #30076
@cachedout I only noticed because I was scrabbling around for information for what I'm neck deep in lol.  Otherwise I'd have PR'd it :)

[2015-12-30 21:45] cachedout commented on #30076
@kaithar No worries! @mpreziuso is already on the case. :]

[2015-12-30 21:48] cachedout commented on #28171
All fixed up. See #30096. Thanks for alerting us to this issue! That's a pain to have a crontab entry you can't easily remove. ;]

[2015-12-30 21:55] cachedout commented on #28161
Hi @minhaz1

Is this problem limited to the GPG renderer or do you see it in all rendered pillars?

[2015-12-30 22:07] rterbush commented on #29912
Any other thoughts here or things that I may or may not be doing that would cause this issue?

[2015-12-30 22:16] srkunze commented on #28171
Neat! Thanks for your effort here. :)

[2015-12-30 22:16] #28171 closed

[2015-12-30 22:19] jfindlay commented on #30087
Related to #29690.

[2015-12-30 22:20] lorengordon commented on #21485
@lomeroe: I never did get around to test this any further. Are you still working on it?

Since we were already using Apply_LGPO_Delta.exe, I just wrote a custom execution module wrapper around it. First one I've written, turned out to be pretty easy. I'd appreciate any feedback, pointers, etc, if anyone has time to take a look: https://gist.github.com/lorengordon/a1d1c08e8587d92d3612.

[2015-12-30 22:32] jhujhiti commented on #29882
@cachedout - Sorry for the delayed reply. I'd be happy to work on a fix, but it'll probably be a couple weeks before I have a chance.

[2015-12-30 22:34] cachedout commented on #29882
@jhujhiti No hurry. Was just checking in with you. Thanks!

[2015-12-30 22:39] theherk commented on #30091
Closing as duplicate.

[2015-12-30 22:39] #30091 closed

[2015-12-30 22:41] theherk commented on #30092
Sorry, I got distracted. PR #30098 is open.

[2015-12-30 23:10] Reiner030 commented on #29951
mmh, Ok, That was the call which is functional for me.
But "normally" you can omit e.g. the region= parameter and it uses the default region setup for/by key.
And - if perhaps overseen - its documented as name=... instead of instance_name=... in your docs.

Bests/Happy New Year ;)

[2015-12-30 23:12] cachedout commented on #29598
Yes, the master may have cached it. Clear `/var/cache/salt/master` (while the master is stopped).

[2015-12-31 00:49] Narcolapser commented on #30081
Let me be the first to tell you that my code has some funky bugs in it. I had some unfortunate problems that keep me from being able to work on this module/state for a while, and now I've been deported, moved across an ocean, got married, and changed jobs so I really haven't been able to get back to it despite a desire to. All that to say, my desktop is in a box, so I have no access to my windows

[2015-12-31 01:02] Narcolapser commented on #30081
Ok, so I updated it a little bit, give that a try and see if it gets you anywhere.

Two other comments. Sorry for no documentation at the top, but the individual functions are documented if you pull up salt minion sys.doc win_update.function you can read it. Other comment, about the codes that return from the windows update process, sorry bro, that's Microsoft's failing. I'd love to include more i

[2015-12-31 02:13] WangWenchao opened #30099 "Windows salt minion can't always autoload the custom salt module"
As I have about half of server is Windows server and the others is Linux Server . when I  have a common module for both linux and windows OS，  but after excute the command

`salt '*' saltutil.sync_modules`

Linux minion  almost can autoload the salt minion
but some of my Windows minions can autload the module , some cant autoload ,  everytime I have to restart  the salt minion manually or use othe

[2015-12-31 05:31] armooo opened #30100 "Masterless gitfs performance"
When using masterless salt with the gitfs fileserver I observed that performance was scaling with the number of sls files * number of git repos configured in my minion config. With 12 state files and 13 pillar files and 9 git repos a noop highstate run was taking ~3 minutes to complete.

I was able to track this down to the time updating the git repos multiple times in a single highstate run. It s

[2015-12-31 12:50] kenju254 commented on #29407
@krishneil were you able to solve this eventually . I am having the same with Pymongo

[2015-12-31 13:02] Pancm opened #30104 "Force salt-cloud to use TLS1.2 in SSL client hello"
Greetings,

As TLS1.0 is becoming deprecated some hosting providers are disabled connections initiated by client implementations using TLS1.0.
salt-cloud when being invoked sends the SSL client hello with TLS1.0 and our hosting provider terminates the connection because of that.

Is it possible to force salt-cloud to initiate the SSL connections using TLS1.2?

[2015-12-31 13:32] mpreziuso commented on #30081
Hi @Narcolapser, thanks very much for your feedback and your insights on this!

Hmm I'm afraid I'm not able to either confirm or deny at the moment...
If I run `win_update.list_updates` with `reboot=False` and then with `reboot=True`, I get the same list of updates on my environments. Interestingly, if I "inspect" those updates with `win_wua.list_update name=KBxxxxxx` I'm getting `RebootBehavior:

[2015-12-31 13:35] techhat commented on #30104
Hi @Pancm. Different drivers in Salt Cloud use different connection libraries. At the very least I know we span requests, urllib2, Tornado, and libcloud. For each of those that have a way to specify the TLS spec, we can add code to do that.

[2015-12-31 17:15] mostafahussein opened #30107 "Salt REST API through browser"
Why I cannot simulate the curl command through the browser ? using salt cherrypy rest api

I except to make it working while adding this url in postman

`http://127.0.0.1:8000/login?username=foo&password=bar&eauth=pam` with a post request but i get 500 error however the curl command example from the documentation is working as expected

When i do a post request using postman i get the following re

[2015-12-31 18:17] jakehilton opened #30108 "Salt Master with no minions "Bad load from minion""
I have a salt master with no minions connected to it and no minions trying to connect showing the following in the debug log

[code]

That error repeats over and over.. I've verified there is nothing in the pki/master/minions* dirs.. they are all empty.

My master config looks like so:
[code]

My salt version
[code]

And lastly.. salt key
[code]

Is there some cache that the master is referencing?

[2015-12-31 18:23] jakehilton commented on #30108
I do show a minion entry in
`/var/cache/salt/master/minions/`

Just a single minion folder in there.. could that be it?

[2015-12-31 18:37] jakehilton commented on #30108
I may have found a rouge server that is in a weird state... but now I"m curious why nothing showed up in the debug logs about it trying to connect or any information about it whatsoever.

[2015-12-31 19:35] snw1968 opened #30109 "issues changing shadow attributes in user.present state"
Having created my users with the user.present state and associated pillar data

[code]

I had mindays set to 1 in pillar data.

Upon changing the pillar mindays setting to be 0 - we changed our policy at work to allow a different password policy - and then running highstate or apply for the users nothing was changed.

Looking at the source for  salt/salt/states/user.py

it says:

[code]

but the i

[2015-12-31 19:36] jakehilton commented on #30108
So it ended up being a server not acting properly. Would be nice to include more in the logs about a minion who failed to auth or had a bad load.. like an ip or hostname.

[2016-01-01 01:02] stooj commented on #30019
I had a crack at this, but some of the jenkins builds are failing :(
https://github.com/saltstack/salt/pull/30111

I must have messed up somewhere.

On Mon, Dec 28, 2015 at 09:56:02AM -0800, Mike Place wrote:

[2016-01-01 01:46] deuscapturus commented on #29077
Note, `present` didn't work for me, but `dictionary` did work.

[2016-01-01 04:44] gtmanfred commented on #29094
It appears that this has been fixed.

I am closing it.

[2016-01-01 04:44] #29094 closed

[2016-01-01 05:06] gtmanfred opened #30115 "[BUG] listen does not appear to respect the special names directive"
### Versions report

I am running from a recent commit on the 2015.8 branch

[code]
### Highstate with changes

This is the state, and there should be a bunch of services that get restarted, but only this one is restarted by mod_watch (listen/watch) and onchanges.

This example only shows listen/mod_watch being used.

[code]
### The state with names

https://github.com/gtmanfred/openstack-salt-sta

[2016-01-01 11:41] mostafahussein commented on #30107
Solved! I was passing them in a wrong way

thanks

[2016-01-01 11:41] #30107 closed

[2016-01-01 19:13] MadsRC opened #30117 "Service beacons fails with Stacktraces"
While trying to set up a service beacon and reading the documentation (https://docs.saltstack.com/en/latest/ref/beacons/all/salt.beacons.service.html) I noticed that the following beacon fails and leaves stack traces:

    beacons:
      service:
        salt-minion:

Here's the salt-minion debug log:

    [DEBUG   ] Reading configuration from /etc/salt/minion
    [DEBUG   ] Including configuratio

[2016-01-01 19:26] MadsRC commented on #30117
Reference: https://github.com/saltstack/salt/blob/develop/salt/beacons/service.py

Looks like it fails because the code, contrary to what the documentation says, expects 'onchangeonly' and 'uncleanshutdown' to be present. While simply setting 'onchangeonly' to False would work (it's implied that False is the default value, which it's not) it won't work for 'uncleanshutdown' as it expects a path to

[2016-01-01 20:48] akissa opened #30119 "salt.states.rabbitmq_user.present is not idempotent"
The `salt.states.rabbitmq_user.present` is unable to detect changes to the password and update rabbitmq, the only way currently to get the password to update is to use the `force` flag. That is not  idempotent meaning that the state is run all the time regardless of changes if `force` is set to `True`.

This causes undesirable behavior say for example you have other states that depend on the `salt

[2016-01-01 23:18] stanislavb commented on #29912
Since we're dealing with a Permission Denied from S3, as a sanity check I will mention that the IAM policy applied to the instance should have s3:GetObject permissions to objects in the bucket and s3:ListBucket permission to the bucket itself.

It would be awesome to have a more complete bit of log. Here is a part of my log with "log_level_logfile: debug" in master config. I have not tried using a

[2016-01-01 23:49] #28474 closed

[2016-01-02 00:14] rterbush commented on #29912
@stanislavb
As mentioned, I have access to this S3 resource via aws cli and I have confirmed that the role policy reflects the requirement for s3:Get* and s3:List*

Here is the log:
[code]

salt version info:
[code]
I've tried this both on a system running Amazon Linux and another running Centos 7. Python versions 2.6 and 2.7 respectively.

I've also tried this with the prefix and without with top

[2016-01-02 00:21] rterbush commented on #29912
Another piece of info worth repeating is that if I provide credentials in the configuration, it works.

[2016-01-02 06:22] jakehilton commented on #29674
Had another hang.. it seems the master is iterating over files from removed minions..

[code]

I had removed them this time using `salt-run manage.down removekeys=True`

[2016-01-02 07:16] optix2000 opened #30123 "grains['oscodename'] incorrect for Debian testing."
`grains['oscodename']` seems to be parsed incorrectly from `/etc/os-release` on Debian testing, due to the slash in the codename.

For Debian-based distros (or just Debian), the codename should probably be pulled from `/etc/debian_version` since it's much easier to parse without error.

[code]

[2016-01-02 10:44] 1605200517 commented on #29714
dear all, happy new year!

where to read on how to hotfix this bug in the following setup or you can give a more specific advice too?

We run the following integration test simualtion:

- SLES12 on Docker 1.6.2 with Python 2.7.9; a public base image from darksheer ITSEC guy aka buddhalabs
- following Dockerfile
- features tornado asset (from Docker build log) python-tornado-4.3-1.1.x86_64

Dockerf

[2016-01-02 11:01] aboe76 commented on #29714
@1605200517 the issue is in python-tornado version 4.3
[code]
This has new dependencies on python-singledispatch and python-backports_abc,
that's why you are seeing this error. please install python-singledispatch and python-backports_abc

Fixes are still being processed on opensusebuild service. they need to be processed before entering devel:languages:python repo...

[2016-01-02 12:08] abednarik commented on #28763
This one should be fixed now.

[2016-01-02 13:17] 1605200517 commented on #29714
hi @aboe76 , awesome and very friendly from you being out there! :-) I am not sure how to specify installation of python-backports_abc - i.e. which additional repository is required? http://download.opensuse.org/repositories/openSUSE:Factory/standard/openSUSE:Factory.repo seems no more existing

[2016-01-02 19:25] aboe76 commented on #29714
hi @1605200517

I can see it has been accepted they are being build now:
https://build.opensuse.org/package/show/devel:languages:python/python-backports_abc
https://build.opensuse.org/package/show/devel:languages:python/python-tornado

[2016-01-02 22:20] cachedout commented on #29674
*Very* interesting. This is a definite clue. I'll try to come up with a test case for this. Great work!

[2016-01-03 13:59] Pancm commented on #30104
Hi @techhat, moving away from TLS1.0 would be immensely helpful as;
- TLS 1.0 is no more considered PCI compliant
- API connections go exclusively through HTTPS

We are unable to use our deployment scripts since a few days now which use salt-cloud together with the api interface of our hosting provider because of this.
I think we could expect more problems like this emerging as more vendors will d

[2016-01-03 14:37] job commented on #27861
This has been fixed via https://github.com/saltstack/salt/issues/29580

[2016-01-03 15:38] techhat commented on #30104
Salt Cloud is not a connection library. Each individual module uses another library to communicate with cloud providers. Sometimes that library is a connection library (urllib2, requests) and sometimes that library itself uses another connection library (Azure, pyvmomi).
It should not be assumed that just because a connection library supports the latest TLS version that a cloud provider also suppo

[2016-01-03 20:58] terminalmage commented on #29994
It'll be pretty easy, but the return data may need to change to reflect the affected images. I won't know for sure until I take a look at the return data from the Docker API.

I'll target this for the next feature release.

[2016-01-03 23:16] abednarik commented on #28814
This one can be closed.

Cheers.

[2016-01-04 00:13] gladiatr72 commented on #27960
any headway on this?

[2016-01-04 10:08] dreampuf opened #30130 "Non-root minion not work with state.sls module"
### Issue description

Executing the state.sls module get the error with non-root user in saltstack minion client:

[code]

### The reason

[salt/modules/saltutil.py#L633](/saltstack/salt/blob/develop/salt/modules/saltutil.py#L633) suppose return the running job list without query job self, but it is include itself. Because [salt/utils/minion.py#L66](/saltstack/salt/blob/develop/salt/utils/minion.

[2016-01-04 12:48] akissa opened #30131 "Augeas modules should support loading of non stock lenses"
It would be great to have augeas support non stock lenses by allowing the user to specify a list of additional directories which should be searched for lenses.

[2016-01-04 15:35] frogunder commented on #23798
@djcrabhat, @JohnBloom - Is this still an issue for you?

[2016-01-04 15:38] MorphBonehunter commented on #29522
Another Year, another try :)
I've skip the ansible rooster file and try to use the "flat file" methode for now...this works like expected.
But then i came to the point where i want to define cli options in an saltfile and after try and error i found in the doc the following:

"The option keys specified must match the destination attributes for the options specified in the parser salt.utils.parsers

[2016-01-04 16:09] #30119 closed

[2016-01-04 17:03] jakehilton commented on #29674
Just saw another few exceptions..
[code]

So not sure why it couldn't store a jid.. and then I see an error about no space left on the device. I checked and the device has ample space on it.. so not sure why it would be complaining about that. There are tons of errors about not being able to store the jid.. but didn't want to clutter this up with those.

These are from a master that has a bit of c

[2016-01-04 17:05] cachedout commented on #29674
Did that device run out of inodes?

[2016-01-04 17:06] mpreziuso commented on #30081
Hi @Narcolapser, I just created a PR https://github.com/Narcolapser/salt/pull/3 for your code that contains the fixes for those typos and some basic documentation at the top of it.

I didn't want to add the `includes` part, because I feel like it's an inappropriate name for that variable, what are your suggestions about that?

[2016-01-04 17:08] rallytime commented on #28814
Looks good! Thanks @abednarik!

[2016-01-04 17:08] #28814 closed

[2016-01-04 17:14] jakehilton commented on #29674
The inodes look great.

[code]

[2016-01-04 17:20] jakehilton commented on #29674
This shows the device error slightly different.. referencing a job in a cache dir.

[code]

[2016-01-04 17:21] cachedout commented on #29674
System logs showing anything interesting? I'm surprised we're seeing an `OSError` here.

[2016-01-04 17:26] jakehilton commented on #29674
Nothing in the syslog on either the master or minion around that time.

[2016-01-04 17:34] jakehilton commented on #29674
I'd be happy to jump on a hangout if you'd like to have a bit more of an interactive look at it.

[2016-01-04 17:38] cachedout commented on #29674
I don't have time this morning I'm afraid, but shoot me an email and let's see if we can find some time.

[2016-01-04 17:59] #30108 closed

[2016-01-04 18:06] ryan-lane commented on #29951
I think omitting region should work. The real issue is the ordering of the arguments. The attribute needs to be first, and instance_name is a key-word arg.

[2016-01-04 18:15] jakehilton commented on #29674
I'm also seeing very high memory usage on the hung master. It's a dedicated box so nothing else is competing for resources. On the initial restart it's using just under 2 gig.. but now it's at 7.5 gig used.

[2016-01-04 18:33] eliasp commented on #22844
@bersace is this possibly fixed by #27933?

[2016-01-04 18:36] cachedout commented on #29674
So, right now it looks like we've got at least three separate issues. I think we should split each of these errors (and the memory leak) into individual GH issues and track them independently.  Sound good?

[2016-01-04 18:45] JohnBloom commented on #23798
Not exactly. We ended up creating a custom module that basically did the same thing to get around the issue. I would say it could be closed until someone else reports it as an issue.

[2016-01-04 18:52] basepi commented on #15503
Nope, unfortunately this hasn't seen movement. Thanks for the bump, I'll get this triaged a little better.

[2016-01-04 18:54] cro opened #30138 "Finish Distributed Virtual Switch support for Adobe"
The ESXi proxy minion is 95% done, we just need to complete the DVS support.

[2016-01-04 18:55] rallytime commented on #29580
After speaking with @UtahDave, this was closed prematurely by accident. We're still working with Rackspace to resolve this completely.

Note that Ipv6 does work, if you have ipv4 for dns.

[2016-01-04 18:55] basepi commented on #28569
@DanyC97 this has not yet been implemented.

[2016-01-04 18:57] basepi commented on #6955
@DanyC97 Based on current workloads and committed customer features/bugs for Boron, this will likely not be completed in time for Boron. That could very well change, but I wanted to manage expectations.

[2016-01-04 18:58] rallytime commented on #27861
Unfortunately, we re-opened #29580 because of the caveat mentioned in [this comment](https://github.com/saltstack/salt/issues/29580#issuecomment-168768513). However, since this issue is a duplicate of #29580, and there is more discussion going on there, I am going to close this as a duplicate issue. Please see #29580 for more information.

[2016-01-04 18:58] #27861 closed

[2016-01-04 19:02] basepi commented on #7354
All of the command line parsing into salt config values happens in https://github.com/saltstack/salt/blob/develop/salt/utils/parsers.py

[2016-01-04 19:04] basepi commented on #25579
This issue predates those changes substantially. But it's possible those changes could have improved the situation.

[2016-01-04 19:09] job commented on #29580
@rallytime my offer still stands to run an IPv6 capable DNS slave for the saltstack.com zone so IPv6-only servers can work

[2016-01-04 19:12] jakehilton commented on #29674
I'm fine with that.. they all contribute to the master process hanging.

[2016-01-04 19:15] cro commented on #29133
@cedwards I think we have this fixed, did you happen to check to see if the fix was good?

[2016-01-04 19:17] basepi commented on #25292
I also noticed another error. You must define the match type in your topfile:

[code]

I think this may actually not be a bug.

[2016-01-04 19:24] rallytime commented on #29580
Thanks @job! I'll let @UtahDave respond here since this is his purview. :)

[2016-01-04 19:27] rallytime commented on #29133
@cro I don't think this is totally fixed. I only updated the docs, but there's still the issue of unused kwargs mentioned in my first comment on this issue, as well as `test=true` functionality that is missing.

[2016-01-04 19:35] lichtamberg commented on #25292
Hmm... OK.. I'm not sure if I understood everything correct (please excuse, I'm still learning salt :)), so I will precise what I want to achieve:

[code]
and deploy them via salt-ssh like

[code]

When I set in my pillar.top-file the -match: nodegroup, like:

[code]
then there are no errors, but the pillar-files are not included and all my pillar data will become 'None',...

[2016-01-04 19:41] lichtamberg commented on #25292
@vutny Ah ok, I think i realized now that the N@...-matcher really works only in the master.conf file.. and not in other state/pilla-top-files... There I only can use one group name and I have to add  the nodegroup matcher:

[code]
Did I understand this correctly? If yes, are there any plans to integrate the nodegroup matchers (multiple entries) into the top files? Thanks!

[2016-01-04 19:46] basepi commented on #22171
No. We put a bandaid on it by just catching the exception on subsequent calls, if I remember correctly. But the source issue has not been fixed.

[2016-01-04 19:57] dmurphy18 commented on #29690
@job I think this is due to a problem being tracked  by #29812 and not just limited to debian. Since this is a duplicate, can you close this ?

[2016-01-04 20:06] basepi commented on #4648
Looks like your pull request was submitted and accepted! No need for a new issue as far as I'm concerned. Thanks @gladiatr72 !

(I should also note to be careful of username typos..... @basepi vs @baseapi, or I might miss something in the future. :) )

[2016-01-04 20:07] #29690 closed

[2016-01-04 20:07] job commented on #29812
As described in #29690 this issue is impacting me as well and preventing me from deploying salt on Debian boxes.

[2016-01-04 20:17] cro commented on #29133
You are absolutely correct.  I thought I was commenting on a different issue.  Sorry @cedwards!  I will move the comment to the right one.

[2016-01-04 20:18] cro commented on #29061
@cedwards I think we have this fixed, did you happen to check to see if the fix was good?

[2016-01-04 20:21] surry commented on #11501
@basepi It looks like a ```saltutil.refresh_pillar``` followed by a ```mine.update``` is working as others have indicated above. I should be able to put these steps into my orchestration state to make sure the mine is updated before my states are applied on my minions.

[2016-01-04 20:24] cachedout commented on #15503
I was just thinking about this today. Let's try and do this really soon.

[2016-01-04 20:36] #30131 closed

[2016-01-04 20:43] rallytime opened #30141 "Salt-Cloud + Jenkins Work"

[2016-01-04 20:43] #30141 closed

[2016-01-04 20:56] lichtamberg commented on #25292
Yeah... It doesnt work how I expect it...  :(

[code]
Any hints?

[2016-01-04 21:22] cachedout commented on #30092
We've got this in so I'm assuming we're good to close this. Thanks, @theherk

[2016-01-04 21:22] #30092 closed

[2016-01-04 21:28] basepi commented on #27491
That is....super weird. But good to know!

[2016-01-04 21:30] basepi commented on #17203
That's really good to know. I'm thinking if a minion has not yet checked in, and so doesn't have a data.p file, we should eliminate it from the match. I think it's the safest way to handle it.

[2016-01-04 21:31] cachedout commented on #30099
Interesting. So, it sounds like for whatever reason we aren't fully syncing to the Windows minions. A few questions:

* Could you please provide the output of `salt --versions-report` on one Windows minions and on the salt master?

* Please provide debug logs from the salt daemon running on the Windows minion.

* Could you please clarify what you mean by 'autoload'? Is the module not available whe

[2016-01-04 21:33] cachedout commented on #30100
Pretty interesting stuff, @armooo . Thanks for the research here.

I'm going to ping @terminalmage here to see what feedback he might have.

[2016-01-04 21:47] terminalmage commented on #29993
This is fixed in #30142.

[2016-01-04 21:49] terminalmage commented on #29994
This is implemented in #30142, I was going to hold off until the next feature release but there were a couple bugfixes that needed to be made to support v2 registries so I made this change along with that fix.

[2016-01-04 21:52] basepi commented on #11501
Sounds like a good workaround for the moment. This is still on our list to get fixed.

[2016-01-04 21:54] cachedout commented on #30117
@MadsRC Will this be resolved once #30121 is merged?

[2016-01-04 21:54] rterbush commented on #29912
@stanislavb I have this working now. And unfortunately, don't have a lot to offer as to why it now works.

I made some changes on the policy and role assigned to this EC2 instance and discovered that even with a wide open '*' permission assigned in the policy, that both the command line aws client as well as salt still did not have access to this bucket. Only after going into the bucket configurat

[2016-01-04 21:54] #29912 closed

[2016-01-04 22:00] #29994 closed

[2016-01-04 22:01] #29993 closed

[2016-01-04 22:02] jacobhammons commented on #30047
@ryansimmen I've created a repo at https://github.com/saltstack/salt-get-started with the source, thanks for logging this.

[2016-01-04 22:03] jacobhammons commented on #29080
update: the source files are now in the https://github.com/saltstack/salt-get-started repo.

[2016-01-04 22:10] jacobhammons commented on #29184
@TheBigBear I appreciate you taking the time to submit this feedback. I've created a repo with the source files at https://github.com/saltstack/salt-get-started. I also went though the guide to address many of these issues, but if you find others or if there are still errors please submit bugs and/or PRs. Thanks!

[2016-01-04 22:12] cachedout commented on #30123
Sounds good. Obviously, we'll want to proceed conservatively here. Lots of people use this grain for targeting but handling the case of a slash seems sensible.

Did you want to work up a PR for this one, @optix2000 ?

[2016-01-04 22:14] cachedout commented on #29833
Fixed by #30124. Closing.

[2016-01-04 22:14] #29833 closed

[2016-01-04 22:27] jacobhammons commented on #28540
@whiteinge this should be fixed now, I added autodoc references for several internal modules that are now removed.

[2016-01-04 22:42] dmurphy18 opened #30143 "Need to include base sub-directory for Redhat 7 repo - 2015.8.4"
The Redhat 7 repo for 2015.8.3 is missing the base sub-directory containing the Centos 7 dependencies shipped as part of base/extras/updates/epel which are required for a very minimal install.

[2016-01-04 22:46] ryansimmen commented on #30047
Thanks @jacobhammons, I've created a PR for your review.

[2016-01-04 22:58] optix2000 commented on #30123
Yeah, I'll work up a PR for this. Wanted to see if anyone had any concerns before I started touching it.

[2016-01-04 23:02] dmurphy18 commented on #29770
Reminder - the fix will be to be made to 2015.5 branch and forwarded to 2015.8 branch

[2016-01-04 23:03] arroyoc commented on #4084
@pete0emerson @basepi Is this ticket still in question? Looks like there has been a couple years of pause.

[2016-01-04 23:07] whiteinge commented on #28540
Looks great. Thanks!

[2016-01-04 23:07] #28540 closed

[2016-01-04 23:09] #30047 closed

[2016-01-04 23:12] rallytime commented on #30047
Woot! Thanks everyone!

[2016-01-04 23:26] MadsRC commented on #30117
@cachedout PR #30121 will solve the service beacon problem atleast on my CentOS 7 servers.
If you'd like, I can conduct a few more tests on more systems?

[2016-01-04 23:27] cachedout commented on #30117
@MadsRC Sure, more testing is always welcome!

[2016-01-04 23:28] ssgward commented on #30109
@snw1968 - thanks for the report.

Will you please add the output from ``salt --versions-report`` from your master to this issue?

Also, what OS are your minions running?

[2016-01-04 23:33] ssgward commented on #30115
@gtmanfred - thanks for logging the issue.

What does your top file look like (assuming you can post the contents)?

[2016-01-04 23:34] gtmanfred commented on #30115
The exact environment I am using is linked in the git repository above,
only has changes to the pillars in the map.jinja files

On Mon, Jan 4, 2016 at 5:33 PM ssgward <notifications@github.com> wrote:

[2016-01-04 23:39] ssgward commented on #30130
@dreampuf - thanks for the report and the attached version reports.

What is the exact command you are running to produce the error?

[2016-01-04 23:55] UtahDave commented on #29580
hey, @job can you email me at dave@saltstack.com ?   Thanks!

[2016-01-05 01:28] twangboy commented on #26017
Closed due to lack of response.

[2016-01-05 01:34] twangboy commented on #29553
https://github.com/mosen/salt-osx/issues/1

[2016-01-05 01:39] #29552 closed

[2016-01-05 01:39] #29549 closed

[2016-01-05 01:53] RonWilliams commented on #29094
@gtmanfred This issue was resolved as linked by @vutny. Thanks for the followup.

[2016-01-05 02:24] dreampuf commented on #30130
@ssgward Here is the produce

[code]

[2016-01-05 04:05] adithep commented on #29993
Awesome! :dancers:

[2016-01-05 04:46] ZacharyDuBois opened #30145 "pip.installed Suddenly throwing exceptions."
Server is randomly having issues with `pip.installed` All my other servers are working in this setup and this one used to work, but not anymore. I have tried reinstalling via `apt-get` (Using official PPA for Ubuntu).

State file causing issues:
[code]
Output of `salt 'ami*' state.sls basicpkgs`
[code]
I've tried the following to resolve the issue:
- Reinstalling via `apt-get`.
- Restarting `salt-

[2016-01-05 06:07] UtahDave commented on #29812
Fixed.

[2016-01-05 07:23] 3add3287 commented on #29099
salt 2015.8.0 (Beryllium)

[2016-01-05 07:53] WangWenchao opened #30146 "salt minion's returner local_cache error of extra return detected from minion 2015.8.3 on the master log"
salt master is version of 2015.8.3 , minion is 2015.8.3

I check the salt master log file , get massive  log_level ERROR messages from master log ,  like

[code]

those minions are Linux OS, all minion has only one salt  master . and the minion log file did not have error messages
I check the error message in the source code file `salt/returnser/local_cache.py` method returner() line 150 and the t

[2016-01-05 08:11] WangWenchao commented on #30099
@cachedout  thanks,  the salt master version report
[code]

 here  'autoload' mean  my custom  salt  module synced  by saltutil.sync_modules  is not available when I excute  from the master. After I restart the Windows salt-minion service   manually , it works normally

[2016-01-05 08:51] anandnevase opened #30147 "salt.cloud.CloudClient method create() not working for VMware driver"
I am trying to run simple python code to Provision VM using salt.cloud.CloudClient create() API (Create the named VMs, without using a profile) using vmware driver, but unable to execute.

Salt-Cloud Version : salt-cloud 2015.8.3 (Beryllium)
Base OS : Centos 6

Sample Code:
[code]

Here, I am getting empty json without any exception.

[2016-01-05 12:16] snw1968 commented on #30109
@ssgward - sorry about that I had added the output - yesterday - but it wasn't showing - until I pressed the update "comment button".

The master is running Centos 7.1.1503 Core
The minion  Centos 7.2.1511 Core

[2016-01-05 12:27] cehrig opened #30148 "master exits with code 0 when minion did not return"
When a minion did not return the master exists with code 0, see example below.
[code]
I would expect an exit code > 0 since this is an error.

[code]

[2016-01-05 12:43] msciciel commented on #25579
In my opinion above behaviour to force mine.update from internal schedule is not the most wanted solution. It would be better to have control over this behaviour with possibility to disable it in configuration file.

[2016-01-05 13:04] mitar opened #30149 "Not possible to use salt.cmd.run inside roster file"
For salt-ssh I would like to configure [MySQL module](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.mysql.html). The issue is that my MySQL server runs in the Docker container on the minion. So something like this would be needed:

[code]

But I get an error:

[code]

Salt SSH 2015.5.2.

cc @gw0

[2016-01-05 13:10] abednarik commented on #26358
Hi @MoonSweep

 Which version of salt are you running? I made a code review and prefix should be handled by salt. Please run

[code]

Thanks

[2016-01-05 13:24] abednarik commented on #28411
HI @srkunze

 Can you please run sudo salt --versions-report

Thanks.

[2016-01-05 13:33] rapenne-s opened #30150 "file.line reset permissions to 600"
Hi,

file.line resets perms to 600 when used. If the line is already there the file is not modified and the permission is not changed.

I am using file.line to add a line to existing file with the following

[code]

The file before applying the state

[code]

The file after applying the state

[code]

I reproduced this issue with 2015.8.1 and 2015.8.3 on FreeBSD 10.2-RELEASE amd64

[2016-01-05 14:02] deniswal opened #30151 "archive.extracted doesn't accept source;"
archive.extracted doesn't accept source: attribute as a list.
The try I made was using :
[code]
The http:// entry is valid and never taken.

[code]
with the same http entry works.
As described by its documentation, source: should behave the same way as in file.managed.

[2016-01-05 14:03] gw0 commented on #30149
In Salt SSH 2015.8.3 the command and error look a little different.

[code]

[code]

[2016-01-05 14:03] job commented on #28742
This issue is affecting me as well, I would like up-to-date `armhf` binaries to be published on repo.saltstack.com - or alternatively motivate a community member to bring the `debian.saltstack.com` repository in sync with a more recent release.

[2016-01-05 15:22] rallytime commented on #30145
@ZacharyDuBois Thanks for filing this issue. This is actually a regression with the state compiler in version `2015.5.3` and happens when you're running states that depend on the existence of an external package. Instead of the state gracefully falling and telling you something like pip is unavailable, it stack traces. This is fixed on 2015.5.8 and is also fixed on the 2015.8.3 release as well.

[2016-01-05 15:40] #28595 closed

[2016-01-05 15:40] #28600 closed

[2016-01-05 16:11] DanyC97 commented on #29905
gentle reminder following the New Year break, thank you

[2016-01-05 16:15] DanyC97 commented on #15503
much thanks @basepi @cachedout for considering

[2016-01-05 16:21] jacky35 commented on #27867
Salt Version:
           Salt: 2015.8.3

Dependency Versions:
         Jinja2: 2.7.3
       M2Crypto: Not Installed
           Mako: Not Installed
         PyYAML: 3.11
          PyZMQ: 14.4.0
         Python: 2.7.9 (default, Mar  1 2015, 12:57:24)
           RAET: Not Installed
        Tornado: 4.2.1
            ZMQ: 4.0.5
           cffi: 0.8.6
       cherrypy: Not Installed
       dateutil: 2.2

[2016-01-05 16:21] rallytime opened #30153 "Getting Started with Nova missing from Cloud Docs"
There are several "Getting Started with ..." docs for various cloud drivers such as [Linode](https://docs.saltstack.com/en/latest/topics/cloud/linode.html), [VMware](https://docs.saltstack.com/en/latest/topics/cloud/vmware.html), and [Openstack](https://docs.saltstack.com/en/latest/topics/cloud/openstack.html), but there isn't one for the Nova driver - A more comprehensive getting started guide wo

[2016-01-05 16:22] jacky35 commented on #27867
salt-run winrepo.genrepo

always the same error

[ERROR   ] Rendering exception occurred :Jinja variable 'cpuarch' is undefined

[2016-01-05 16:25] marekrogala commented on #13640
Has this been released already?

[2016-01-05 16:27] basepi commented on #26017
Even with the lack of response, it would be super easy to port file.join over to winfile. It's just an os.path.join of the args. Should be importable.

[2016-01-05 16:36] #29812 closed

[2016-01-05 16:37] jakehilton commented on #29286
I'm also seeing this with 2015.8.3. Seems to ignore the job cache settings and fills up inodes until the system is unusable.

[2016-01-05 16:43] jakehilton commented on #29674
One other note.. I did see a server hang and the inodes were all used up. You had asked above so I thought I'd make note here.

[2016-01-05 16:50] rallytime commented on #29758
@gtmanfred You might have some thoughts on this. There isn't a default set for `access_ip` in the Nova driver. I'm not familiar enough with this driver to know what that default should be, though maybe that is a simple fix for you?

[2016-01-05 16:54] jfindlay commented on #30146
@WangWenchao, thanks for the report.  What version of salt are you running on the master and minion(s)?  Did this situation begin recently on a setup that has been working before?  Can you describe your use case some more?  Are you doing remote execution or state runs or something else?  Do these errors happen without doing anything?

[2016-01-05 16:54] gtmanfred commented on #29758
Can you check and see if it works from git?

I found a bug in one thing that wasn't setting the access_ip correctly, and fixed it a bit ago.

I believe this might fix this issue already.

[2016-01-05 16:57] rallytime commented on #29758
@zaide Can you test this from the HEAD of the 2015.8 branch?

[2016-01-05 16:59] jfindlay commented on #30147
@anandxoriant, thanks for the report.  Can you post your relevant cloud provider and profile configs with the private info removed?  Can you verify that other operations with the provider work as expected using `salt-cloud`?

[2016-01-05 17:01] jfindlay commented on #30148
@cehrig, thanks for the report.  This is a duplicate of #18510.

[2016-01-05 17:01] #30148 closed

[2016-01-05 17:48] MoonSweep commented on #26358
It works now.

Current versions:
Master: 2015.5.3
Minion: 2015.8.3

Previous versions (on the date of the bug report, according to APT logs):
Master: 2015.5.3
Minion: 2015.5.3

[2016-01-05 18:00] jfindlay commented on #30149
@mitar, @gw0, thanks for the report.  Your jinja code seems incorrect to me.  You need to use `salt['cmd.run']` because `salt` is a python dictionary that corresponds to the execution module functions.  Also, to use a jinja variable within another jinja context, you can refer to it directly.
[code]

[2016-01-05 18:00] abednarik commented on #26358
Ok thanks.

Let wait for Salt Team to see if we should backport this to 2015.5 or not.

Cheers.

[2016-01-05 18:01] jfindlay commented on #30150
@rapenne-s, thanks for the report.

[2016-01-05 18:02] jfindlay commented on #30151
@deniswal, thanks for the report.  What version of salt are you using?

[2016-01-05 18:04] twangboy commented on #26017
OK

[2016-01-05 18:08] twangboy commented on #30099
@WangWenchao Could you try  setting `multiprocessing=False` in your minion config and see if the problem persists?

[2016-01-05 18:16] efouarge commented on #28162
I am seeing the same behavior with the master and minions on the same 2015.8.3 versions

[2016-01-05 18:22] lomeroe commented on #21485
No, I never finished up the module/state I was working on, the things I needed it for got back-burner'd and I unfortunately had to put off finishing it up.  It is on my list of things to accomplish and I anticipate it to bubble back towards the top of my to-do list soon, may be moot with the module you've done.

[2016-01-05 18:23] anlutro commented on #29921
@cachedout Sorry for the late feedback, but regarding your PR #30086, I feel like that's not entirely correct information. I currently have to carefully lock the libgit/pygit versions due to https://github.com/saltstack/salt/issues/28072 - using the latest version will cause an exception.

I think it would be better to just state "Salt requires version 0.23 of both libgit and pygit or later" (I do

[2016-01-05 18:24] cachedout commented on #29921
@anlutro That's fine. Do you want to send over a PR with improvement? If not, I can get to it in a bit. Thanks for the clarification!

[2016-01-05 18:25] jfindlay commented on #22557
@adamfeuer, probably adding it as an option to the apt module should be fine for now.  There is no reason to hold out for a full module if most or all of the advantage can be provided with some minor additions.

[2016-01-05 18:27] anlutro commented on #29921
I suppose it'd be better if someone who is more confident about which versions of pygit Salt supports would make the PR. I'm certainly not :)

[2016-01-05 18:28] cachedout commented on #29921
Sounds good. Paging @terminalmage :]

[2016-01-05 18:35] jfindlay commented on #27533
@s0undt3ch may have some useful commentary on this.

[2016-01-05 18:41] jfindlay commented on #29592
@ckoe-bccms, based on @abednarik's research, this may be fixed in 2015.8.4.

[2016-01-05 18:42] #28233 closed

[2016-01-05 18:46] jfindlay commented on #28586
@abednarik, I think adding `ignore_whitespace` would be fine.

[2016-01-05 18:50] deniswal commented on #30151
I am using salt 2015.5.0 (Lithium) on this server.

[2016-01-05 18:50] jfindlay commented on #29522
@MorphBonehunter, would you mind opening another issue for this?  Thanks.

[2016-01-05 18:52] jfindlay commented on #23798
Thanks for the extra info, @JohnBloom.  Report back here if you encounter this again.

[2016-01-05 18:52] #23798 closed

[2016-01-05 18:55] dmurphy18 commented on #29776
libsodium is not .so but .a, also libsodium.so.13 is in .libs.  Need to move and make symbolic link and check for other .a issues noting that there is really no such thing as a static library on AIX, they are all really dynamic, .a and .so

[2016-01-05 18:56] rallytime commented on #29078
@Reiner030 I've been going through this issue and I have made a pull request addressing the documentation issues mentioned in your most recent comment. It seems like you have everything straightened out, after the comments and testing from @quantonganh. Is the doc fix the only thing needed to resolve this issue currently? Or does more work need to be done?

[2016-01-05 18:56] ryan-lane commented on #29905
We don't use a nested format. I think this probably broke with the switch to the utils/boto.py code, since it changed how pillar lookup works. It _should_ be using config.option, but it's doing some custom lookup.

[2016-01-05 18:58] ryan-lane commented on #29905
This function should be removed:

https://github.com/saltstack/salt/blob/develop/salt/utils/boto.py#L82-L92

All references to that function in the module should be replaced with `__salt__['config.option']`, for instance: https://github.com/saltstack/salt/blob/develop/salt/utils/boto.py#L98

[2016-01-05 19:03] #26911 closed

[2016-01-05 19:06] #28619 closed

[2016-01-05 19:15] abednarik commented on #28586
Hi @jfindlay

 See #30156

Thanks.

[2016-01-05 19:28] jfindlay commented on #28742
@job, you are welcome to add support to https://github.com/saltstack/salt-pack.  That is what is used to generate the packages that are hosted on repo.saltstack.com.  The process still isn't fully automated yet, but we are making progress.  Also, with the addition of a platform, we will need to work out automated package testing for that platform in https://github.com/saltstack/salt-pkg-tests.  Th

[2016-01-05 19:29] s0undt3ch commented on #27533
Ok. Since python3 is in path, and since the py2 and py3 settings were switched to python2 and python3, salt is always looked on both interpreters....

We either revert the commit that changed those default values or we wrap the import code in a try/except in order to avoid the traceback...

[2016-01-05 19:31] jfindlay commented on #28600
Also see https://github.com/saltstack/salt-get-started.

[2016-01-05 19:37] s0undt3ch commented on #27533
Hmm, the default values for `python2_bin` and `python3_bin` weren't changed as I though. The solution is the try/except wrapping [here](https://github.com/saltstack/salt/blob/develop/salt/utils/thin.py#L242-L244) and [here](https://github.com/saltstack/salt/blob/develop/salt/utils/thin.py#L257-L260).

[2016-01-05 19:38] s0undt3ch commented on #27533
However, nothing should have been printed to console..... :|

[2016-01-05 19:39] jfindlay commented on #30151
@deniswal, thanks.  Here is my test case:
[code]

[2016-01-05 19:42] matthayes commented on #29643
Hey @basepi , just checking in on the progress on this and if want me to test anything.

[2016-01-05 19:48] rallytime commented on #29905
@ryan-lane I'm happy to get started on removing/replacing the `_option` function in `salt.utils.boto.py`, but I wanted to make sure you hadn't started on that already.

[2016-01-05 20:00] ryan-lane commented on #29905
Didn't start on it.

[2016-01-05 20:13] rallytime commented on #29905
@ryan-lane Cool - there weren't that many. See #30158.

@Reiner030 Can you give the PR above a try and see if that helps resolve this issue for you?

[2016-01-05 20:27] basepi commented on #29643
I still have it chilling in an open tab, but I'm still catching up from my vacation. I hope to get to it this week.

[2016-01-05 21:10] basepi commented on #25292
Hmmm, it's possible that the pillar files didn't get the same treatment to make the last example work.... Any chance you could test with normal salt instead of salt-ssh to eliminate salt-ssh as the culprit?

[2016-01-05 21:33] cachedout commented on #30066
Are you running this with a local minion process running alongside or are you setting the `local` flag in the Salt options that you're passing in? I'm a little curious if you see anything in the local minion logs (if relevant) or on the associated master.

[2016-01-05 21:54] sjmh commented on #30066
@cachedout There's a local minion process running on the server.  I set the minion logs to 'trace' but I don't see any correlating events in the log file for when this occurs.

However, on the master, I do get this:

[code]

[2016-01-05 22:20] cruatta opened #30161 "When onlyif and unless are used together in a state definition, just onlyif gets executed"
It appears that when you use both unless and onlyif in a state definition, onlyif takes precedence over unless and the unless statement is ignored. I would expect both onlyif and unless to be run to verify whether or not a state should be run. Here is an example.

[code]

When I remove the onlyif, the unless gets executed.

[code]

Debug info

[code]

[2016-01-05 22:23] rallytime commented on #29919
@abcfy2 I've updated the documentation to indicate the behaviors you've mentioned. Thanks very much for filing this report!

[2016-01-05 22:26] rallytime commented on #29635
Looks like @abednarik has fixed this in the docs. Thanks! I'll go ahead and close this. :)

[2016-01-05 22:26] #29635 closed

[2016-01-05 22:43] rallytime commented on #28923
I've added the warning to the `file.line` function documentation with #30163.

[2016-01-05 22:56] #28572 closed

[2016-01-05 22:57] #22238 closed

[2016-01-05 22:59] cehrig commented on #18510
+1

immediately stopping builds when test.ping returns **$? -ne 0** would be just nice

[2016-01-05 23:06] rallytime commented on #5625
I'm going to go ahead and close this. If any new events need to be added to the docs, leave a comment here, and we can re-open. Or feel free to open a new issue. Thanks!

[2016-01-05 23:06] #5625 closed

[2016-01-05 23:10] whiteinge commented on #5625
Whoops. Missed your ping-before-last somehow. Thanks for closing. :+1:

[2016-01-06 00:02] basepi commented on #4084
These days, by default, the master will list minions which did not return in the output. So this may be resolved from that point of view.

The rest of the issue is summed up in the myriad other issues we have related to queueing a job until a minion comes up.

I'd be on board with closing this, unless @pete0emerson has concerns.

[2016-01-06 01:26] robgott commented on #28822
I am experiencing the same issue and can trace it back to d70914e47349ba04ec0e5baa59642618cd616cd7 where the `file.get_managed` function changed so that it would start calling `cp.hash_file` which does not implement any `salt.util.url.split_env` type call to look at the saltenv query parameter.
@jfindlay - I can see that you have added this functionality to the `cp.get_file` function so I've added

[2016-01-06 01:47] amitshipra opened #30167 "Salt-Cloud: Windows EC2 provisioning."
This is related to year back issue - #18308. It seems fixed (as suggested) but still getting similar errors. Any pointers would help.

### Issue:
  * Provider: EC2
  * Description: *While trying to provision EC2 windows machine (with settings of win_deploy_auth_retry_delay is set as 120 and total number of retires are set as 10), I am getting below error - no matter how many times I run. Above set

[2016-01-06 01:59] WangWenchao commented on #30099
@twangboy  thanks for your reply .
My salt minion config setting ```multiprocessing: False ``` is already set

[2016-01-06 02:48] techcook opened #30169 "Can't use Subnet/IP Address Matching"
version: 2015.8
Descriptions: salt can't use Subnet/IP address matching.
![qq 20160106121830](https://cloud.githubusercontent.com/assets/10361796/12134941/bab8e4a6-b46f-11e5-838d-8e68f215a69e.png)

[2016-01-06 04:08] jamusj opened #30171 "Python 2.7 dependency in x509.py"
The following line in salt/modules/x509.py causes a "zero length field name in format" error when the minion is running on Python 2.6:

[code]

https://github.com/saltstack/salt/blob/develop/salt/modules/x509.py#L259

I was using the examples from the documentation for the salt.states.x509: https://docs.saltstack.com/en/latest/ref/states/all/salt.states.x509.html

It looks like '{:X}'... is invali

[2016-01-06 04:20] techcook commented on #30169
add pic

[2016-01-06 06:20] abh23 opened #30172 "Salt to check if network interface exists"
Hello Team,

I have two different versions/setups of OpenStack to test my application. I use salt post-boot installations and configurations. I have a small requirement and need advise/solution to that.

In one of my setup, I have a typical problem (using nova based networking) where post boot, I need to manually bring interfaces eth1 and eth2 up. I have been handling this using following:
[code]

[2016-01-06 07:32] anandxoriant commented on #30147
@jfindlay, following are my cloud.provider & profile configs:

/etc/salt/cloud.providers
[code]

/etc/salt/cloud.profiles:
[code]

I can able to provision vm using salt-cloud cli command as well as salt.cloud.CloudClient profile() api. But not able to create from salt.cloud.CloudClient create() method

[2016-01-06 07:56] abh23 commented on #30172
Update:

{% for intf in salt['grains.get']('ip4_interfaces').iteritems() %}
{% if 'eth1' in intf  %}

echo "Success":
  cmd.run

{% endif %}
{% endfor %}

I have managed to find if eth1 exists in ip4_interfaces dictionary or not. But there is a small problem. If the interface eth1 is down, sudo salt '*' grains.items shows this:

    ip4_interfaces:
        ----------
        eth0:
            - xx

[2016-01-06 12:35] gw0 commented on #30149
Thank you for your feedback, but the problem persists (salt-ssh 2015.5.2):

[code]

[code]

About the correctness of code examples, in Salt SSH 2015.5.2 neither `salt['cmd.run']` nor `salt.cmd.run` (another way for the same thing) works. In Salt SSH 2015.8.3 `cmd.run` outputs a deprecation warning and suggests using `cmd.shell`. The `{{.NetworkSettings.IPAddress}}` is a formatting parameter for co

[2016-01-06 14:00] mitar commented on #30149
[Here](https://docs.saltstack.com/en/latest/ref/renderers/all/salt.renderers.jinja.html#calling-salt-functions) both ways are documented: `salt['cmd.run']` and `salt.cmd.run`.

[2016-01-06 14:19] vutny commented on #30087
@scbunn @jfindlay Looks like it was fixed recently:

[code]

[2016-01-06 14:23] vutny commented on #29472
@dmyerscough @meggiebot Looks like it's already fixed in #29812

[2016-01-06 14:24] bebehei opened #30173 "salt-ssh hardcodes SSH port 22 as default"
I'm running my ssh server on my systems on a Port != 22.

So while I configure the system correct in `~/.ssh/config`, I can ssh just by `ssh <host>`.

So the ideal case would be, that I use the salt-roster only for translating the Salt ID to the ssh hostname:

[code]

But the saltroster sets a default of Port 22 if None is given. Therefore I have to give always the port number, too:

[code]

This

[2016-01-06 14:32] vutny commented on #29477
@AirOnSkin As I see it was fixed. Thanks @dmurphy18
https://gist.github.com/vutny/94c7584ed982c345ef2a

I think the issue could be closed.

[2016-01-06 14:37] bebehei commented on #30173
I believe the fix would be just to change [salt/config/schemas/ssh.py Line 45](https://github.com/saltstack/salt/blob/fcef605a4ac775f8fed64db6333f7c4483ecb3b7/salt/config/schemas/ssh.py#L45) as other parts [just check before using the port if it is available](https://github.com/saltstack/salt/blob/2bc5e01fee9bffee668a1b1e1a9ecf6e1cae0ac4/salt/client/ssh/shell.py#L153).

[2016-01-06 15:23] andygrunwald opened #30174 "Module "minion.list" don`t work if the root_dir of the master is different than the minion"
In https://github.com/saltstack/salt/pull/28664 i added a new module called `minion.list`.
The goal is to "emulate" `salt-key -L` to be able to get all minions by REST-API.

The module is built to run on the salt-master only, but accessible by REST-API (like cherrypy).

In the module we ask for the `pki_dir`. The `root_dir` is a prefix of the pki_dir.
If we execute the module, it will be executed

[2016-01-06 16:03] grep4linux opened #30175 "Targeting by subnet is not working"
Targeting by subnet is not working.

My network interface is configured on the salt master as:
[code]

My minions are:
[code]

Targeting with the following commands:
[code]
and sometimes a response, but with incorrect targets:
[code]
and here is a full CIDR example:
[code]

[2016-01-06 16:10] waynew opened #30176 "How to correctly install a SELinux module?"
# What I Do

I'm running salt 2015.8.1, but I've grabbed the selinux state and module from develop, so I could have the `selinux.module` state.

After doing something that SELinux doesn't like, I'll grab the relevant portions of `/var/log/audit/audit.log` on the minion, stick it in a `why.txt`. If I want to know why SELinux was unhappy, I'll run:

[code]

To create my module I'll run:

[code]

The

[2016-01-06 16:26] ssgward commented on #30169
@techcook - did you try ``S@10.10.10.100`` to see if that was successful, as opposed to ``-S...``?

[2016-01-06 16:35] #29784 closed

[2016-01-06 16:42] dmurphy18 commented on #29776
Fix will be available in the next release of salt for AIX

[2016-01-06 17:05] #28120 closed

[2016-01-06 17:05] #28763 closed

[2016-01-06 17:05] #29633 closed

[2016-01-06 17:05] #29921 closed

[2016-01-06 17:05] #30051 closed

[2016-01-06 17:30] paclat opened #30178 "Reactor concurrency issues"
We have been seeing an issue with the reactor and event processing that seems to be causing us to intermittently miss certain events.   We are using a logging format that shows the process and thread ID as such.
[code]
What see in the log when we hit the error is exemplified as below...
[code]
What is puzzling to us is that the same thread id seems to be showing up on different processes.    Seein

[2016-01-06 17:30] jfindlay commented on #28822
@robgott, thanks for your research and work on this.  I changed all of the salt url handling in develop before Beryllium was forked and so only modified code that was already there.  If the env needs to be split out of the URL in `cp.hash_file` then it should also be split in `fileclient.RemoteClient.hash_file` (compare `fileclient.RemoteClient.get_file`).  I am not very familiar with the workings

[2016-01-06 17:33] jfindlay commented on #30147
@anandxoriant, thanks for the extra info.

@nmadhok

[2016-01-06 17:45] jfindlay commented on #30149
@gw0, thanks for the extra info.  Your
[code]
line still looks incorrect to me.  It is likely you know more than I do, but if you're using the `{{.NetworkSettings.IPAddress}}` as a(n escaped) [python format parameter](https://docs.python.org/2/library/string.html#format-string-syntax), then I am confused as to how the parameter begins with a `.`.  If you are intending it to be a jinja template, th

[2016-01-06 17:48] jfindlay commented on #30087
@scbunn, are you able to retry to verify the fix?

[2016-01-06 18:02] terminalmage commented on #13640
#26962 was not merged into the 2015.8 branch, @Grokzen misunderstood. It was merged into the develop branch, which is why it is not in any 2015.8 releases.

It looks like @ctrlrsf just mistakenly opened his pull request against develop. I've backported it to 2015.8 in #30179, so it should be in 2015.8.4.

[2016-01-06 18:02] arroyoc commented on #8013
@johnnoone Feel free to reopen this ticket it you ever get the chance to respond. In the meantime i'm closing this ticket.

[2016-01-06 18:02] #8013 closed

[2016-01-06 18:18] jfindlay commented on #30167
@amitshipra, thanks for the report.  Can you provide your cloud configs with the private info redacted?  What version of salt are you using?

[2016-01-06 18:24] ssgward commented on #28802
@techhat - is this something we can get fixed within the next few days for our next 8.x  release?

[2016-01-06 18:26] jfindlay commented on #30171
@jamusj, thanks for the report.  We lint for python 2.6, so I am unsure how this got past it.

[2016-01-06 18:29] amitshipra commented on #30167
Thanks @jfindlay

Few details (master IP etc) are masked but it will not change anything :)

* Provider Config
[code]

Cloud Profile:
[code]

[2016-01-06 18:30] amitshipra commented on #30167
Salt version: `salt 2015.8.3 (Beryllium)`

[2016-01-06 18:33] jfindlay commented on #30172
@abh23, I would try something like this.
[code]

[2016-01-06 18:35] jfindlay commented on #30173
@bebehei, thanks for the report.  What version of salt are you using?

[2016-01-06 18:36] ssgward commented on #30175
@grep4linux - have you tried targeting with ``S@172.31.16.0/20`` to see if that change in syntax works?

[2016-01-06 18:41] windoverwater commented on #29222
+1 :)

[2016-01-06 18:48] ssgward commented on #30175
Looking at documentation here: https://docs.saltstack.com/en/latest/topics/targeting/compound.html

Not sure if this is the new way of targeting or just an additional way.

[2016-01-06 18:51] jfindlay commented on #30174
@andygrunwald, master information is hidden from minions for security reasons, so the minion will have to look this up using its own resources.  Since your minion is running on the same system as the master it should have access to everything you need.  I think there is a way to get the master opts in a masterless minion context, although I am unsure what the best way is to send this to an executi

[2016-01-06 19:01] jfindlay commented on #30176
@waynew, thanks for the detailed report.  It seems that for now you will need to add a step to perturb selinux into accepting the new module, but I think this should be added to the module and state if possible in addition to your suggestion of `.te` file support.

[2016-01-06 19:04] jfindlay commented on #30167
Thanks, @amitshipra.  @techhat, ping.

[2016-01-06 19:06] ssgward commented on #29209
Testing this on the head of 2015.8 and still see the same issue. Doesn't appear to be fixed.

This is the first part of the commit I'm working on ``g27df727``

[2016-01-06 19:08] deuscapturus commented on #25728
Any movement on this? Are there examples on how you could replace or use salt within the dockerfile?

[2016-01-06 19:13] jakehilton opened #30181 "Minion failover only works once"
When a failover is detected by a minion it correctly fails over to the second master in the list. If the original master is fixed and then the secondary master is taken down the minion does not connect back to the original master.

As mentioned here: https://docs.saltstack.com/en/latest/topics/highavailability/index.html
" If the master does not respond, the minion will attempt to connect to the n

[2016-01-06 19:18] jakehilton commented on #30181
I do see an event from above where it seem to notice the master is disconnected.. but then it throws an exception

[code]

[2016-01-06 19:29] zmalone opened #30182 "Minions can have *s in the minion-id, but salt-key doesn't handle *s for targetting"
It's possible to create minions with special characters, like "*" or "\" in the minion-id, as long as the minion-id does not start with a special character.  After you've done that, it is difficult to target those minions using salt-key, for example:

[code]

This can be worked around by manually deleting the keys from the salt-master, but special characters in minion-ids should probably either be

[2016-01-06 19:36] jakehilton opened #30183 "Minion startup extremely delayed when first master in failover multi master setup is down"
My minion config looks like so:

[code]

When I start up my minion I would expect that if the smaster2 is down/unresponsive that it would try the next one in the list right away.

As stated here: https://docs.saltstack.com/en/latest/topics/highavailability/index.html
"Changing the master_type parameter from str to failover will cause minions to connect to the first responding master in the list of

[2016-01-06 19:49] abednarik commented on #30150
In Linux this should be fixed.

[2016-01-06 20:14] basepi commented on #4084
(In fact, based on the age of this issue, I'm just going to close it, since it's easy enough to re-open later. :) )

[2016-01-06 20:14] #4084 closed

[2016-01-06 20:17] LoveIsGrief commented on #27629
I'd also like to confirm this. JSON output does indeed contain invalid charaters sometimes.

[2016-01-06 20:36] bebehei commented on #30173
[code]

[2016-01-06 20:40] rallytime commented on #28685
@ssoto2 I am not very familiar with this code, but I am wondering if https://github.com/saltstack/salt/pull/20263 might be helpful here. This particular change is in the 2015.8.x releases, but not the 2015.5.x releases. Are you in a position to apply that change and give it a shot? Or perhaps upgrade to 2015.8.3 to see if `domain: standard` works there with the way you've used `network_interfaces`

[2016-01-06 20:47] rallytime commented on #28685
@ssoto2 Actually, I'm sorry, I think https://github.com/saltstack/salt/pull/20972 is actually the fix you want, which should be available in the latest 2015.5.x release as well as 2015.8.3.

[2016-01-06 21:12] cachedout commented on #30178
Possibly fixed here: https://github.com/saltstack/salt/pull/28035/files

[2016-01-06 21:15] cachedout commented on #28051
Sounds like this should be fixed. Closing.

[2016-01-06 21:15] #28051 closed

[2016-01-06 21:18] #27660 closed

[2016-01-06 21:20] #27702 closed

[2016-01-06 21:21] twangboy commented on #30099
@WangWenchao Hmmm. It should be set to `True` by default on 2015.8.3. Maybe try setting it to True.

[2016-01-06 21:31] rallytime commented on #29951
I reviewed all of the functions in `salt/modules/boto_ec2.py` and corrected any CLI examples that had incorrect positional arguments in #30186.

[2016-01-06 21:32] cachedout commented on #27421
@mimianddaniel @SEJeff and @plastikos

I wanted to circle back around on this one. I have marked #27606 as a backport for the upcoming release of 2015.8 but I wanted to know if anybody has had a chance to try these changes in production?

[2016-01-06 21:34] cachedout commented on #27347
Given that #28410 is in, I'm not too inclined to add additional retries unless we come up with a compelling reason. What do you think, @SEJeff ?

[2016-01-06 21:42] frioux opened #30188 "Setting tz breaks total run time"
We set our timezone to Los Angeles time:

(pillar)

[code]

(state)

[code]

And it seems to take forever!

[code]

But of course it actually takes 2.4s wallclock.  Worst case you should use UTC
for time calculations, but if ntp were to be run that could be confused too.
I'd recommend using monotonic time (http://linux.die.net/man/3/clock_gettime)

Not sure if that exists on windows or other platf

[2016-01-06 21:48] ryan-lane commented on #29951
Thanks @rallytime!

[2016-01-06 21:56] cachedout commented on #27792
@kevins9 Using that pillar on a 2015.5 master/minion combo, I don't see any issues running `salt my_minion pillar.items`. Could you clarify under what conditions you see this?

[code]

[2016-01-06 22:06] paclat commented on #30178
That change does seem like it would eliminate the offending code path.  The fact that setting of the _functions (functions property) does imply that the class is not thread safe though.   I am not sure I get why it is running what looks like two operations on the same thread at the same time.

I am experimenting with explicitly setting the reactor_worker_thread count to see if that some how change

[2016-01-06 22:14] cachedout commented on #27536
This does not appear to be a bug. I believe you're looking at the wrong logs. Those logs that you posted appear to be from the Salt CLI tool. You need to be looking at the master logs, which will either be in `/var/log/salt/master` or on the console if the salt-master is started in the foreground.

As such, I'm closing this issue. If that's not correct, please leave a comment and we'll re-open it.

[2016-01-06 22:14] #27536 closed

[2016-01-06 22:16] kevins9 commented on #27792
Master:
[code]

Minion 1:
[code]

Minion 2:
[code]

[2016-01-06 22:16] rallytime commented on #29951
Sure thing! Thanks for the detective work!

[2016-01-06 22:19] mimianddaniel commented on #27421
I have not mostle due to the performance issues i encountered where large
number minions didn't return while testing 2015.8 for me and still running
2015.5.4.

But really looking forward to this!
On Jan 6, 2016 1:33 PM, "Mike Place" <notifications@github.com> wrote:

backport for the upcoming release of 2015.8 but I wanted to know if anybody
has had a chance to try these changes in production?

[2016-01-06 22:22] cachedout commented on #27792
Hmm, still not able to reproduce this. Anything in debug logs on master/minion?

[2016-01-06 22:24] #27377 closed

[2016-01-06 22:29] cachedout commented on #27314
@bbyhuy Could you provide a code sample illustrating your concern? From what you're saying, it sounds to me like you're expecting the same syntax for passing in lists of minions via the `salt-ssh` CLI tool and the `LocalClient` API.

[2016-01-06 22:42] kevins9 commented on #27792
On master, some instances of this in /var/log/salt/master:
[code]
Appears relevant.

[2016-01-06 22:51] cachedout commented on #26881
As it sits right now, this isn't a bug. Mine data isn't purged unless the master is told to do so. The workarounds described are a reasonable approach. As such, I'm closing this issue.

[2016-01-06 22:51] #26881 closed

[2016-01-06 23:12] cachedout commented on #26687
Merging is the intended behavior. See the documentation here: https://docs.saltstack.com/en/latest/topics/tutorials/gitfs.html#branches-environments-and-top-files

[2016-01-06 23:12] #26687 closed

[2016-01-06 23:18] iquaba opened #30193 "Service.delete always returns true for Windows XP"
When I run `salt '*' service.delete doesnotexist` the Windows 7 minions correctly return False, however the one Windows XP minion returns True, even though the service does not exist.

[2016-01-06 23:21] Arabus commented on #26934
Just ran into the same issue when trying to build a rabbitmq container from scratch:

[code]

Statefiles:
[code]

Messages from error log:
[code]

Docker info
[code]

I'm using docker-py v1.5.0

[2016-01-06 23:25] rallytime commented on #25118
This issue is fixed in `2015.5.3` and newer with #24524. Closing.

[2016-01-06 23:25] #25118 closed

[2016-01-06 23:26] #25125 closed

[2016-01-06 23:27] rallytime commented on #26471
Thanks for the update. I am going to go ahead and close this for now, since it looks resolved. If this pops up again, leave a comment and we'll be glad to re-open and take another look!

[2016-01-06 23:27] #26471 closed

[2016-01-06 23:28] rallytime commented on #26802
Since we didn't hear back, I am going to close this. If this pops up again after and upgrade, let us know and we can take another look. Thanks!

[2016-01-06 23:28] #26802 closed

[2016-01-06 23:30] rallytime commented on #27462
@dankilman Have you gotten a chance to test this fix on newer versions of Salt? If so, let us know and we can get this closed up, as this appears to be fixed.

[2016-01-06 23:32] #28568 closed

[2016-01-06 23:33] rallytime commented on #28608
Looks like a fix was merged here, so I am going to close this.

[2016-01-06 23:33] #28608 closed

[2016-01-06 23:34] #28738 closed

[2016-01-06 23:35] rallytime commented on #28792
Looks like this was fixed by #28672, so I'm going to close this. If this was premature, please leave a comment and we will be glad to re-open. Thanks!

[2016-01-06 23:35] #28792 closed

[2016-01-06 23:36] rallytime commented on #28794
Looks like this is fixed up, so I'm going to go ahead and close this issue. Thanks everyone for your work here - it is very much appreciated!

[2016-01-06 23:36] #28794 closed

[2016-01-06 23:37] #28990 closed

[2016-01-06 23:39] #29181 closed

[2016-01-06 23:46] rallytime commented on #29206
Thanks again for the fix @abednarik. I'll go ahead and close this.

@mschiff If this bug pops up again, let us know!

[2016-01-06 23:46] #29206 closed

[2016-01-07 00:01] Arabus commented on #26934
Found the issue cause. It is as the error message says, the docker api has changed. Unfortunately the salt dockerng module has hardcoded values, where in the dict of a docker container a certain member of VALID_CREATE_OPTS should be.

In this case my `/usr/lib64/python2.7/site-packages/salt/modules/dockerng.py` contains:
[code]
The `_compare` function in `/usr/lib64/python2.7/site-packages/salt/st

[2016-01-07 00:03] Vaelatern opened #30195 "Add Void Linux support in Salt"
I will be adding support to Salt for my Favorite Linux Distro of the day, [Void Linux](http://www.voidlinux.eu/).
This issue is a place to help consolidate what must be done and try to prevent duplication of effort.
@yopito has also expressed interest in this goal. Please confirm with me how much you have so we can start PRs and I can work to fill in the gaps. If you don't have the time to finish

[2016-01-07 00:03] cachedout commented on #26255
Sorry for the delay here. This is a really interesting issue.

After some thought, I think the recommendation to adjust ulimits on the minion is the right one, with a few caveats:

* Let's not do this by default. Instead, let's detect a higher-than-acceptable (5,000?) ulimit value and then throw a warning to the user.

* Let's stick with 2,048 as the default value to lower to, and use `max_open_fi

[2016-01-07 00:06] thatch45 commented on #30195
++ Void Linux is cool

[2016-01-07 00:06] Vaelatern commented on #30195
- [x] Service files for Void Linux
- [x] A salt package in Void Linux.
- [ ] xbps pkg module.
- [ ] runit support.
- [ ] Correctly identify a "Void" machine. (I think I know what to do for this, if it isn't already done)

[2016-01-07 00:08] Vaelatern commented on #30195
@thatch45 I am waiting on @yopito before I start PRing. Once he tells me what he has, and either shares or PRs it, I'll start PRing everything I can think of. More suggestions as to things to check would be welcome.

[2016-01-07 00:08] thatch45 commented on #30195
Sounds good, thanks for the work here!

[2016-01-07 00:22] Arabus commented on #27976
The code for pulling an image with dockerng.running at least has been there since the 30th of april 2015 https://github.com/saltstack/salt/blame/develop/salt/states/dockerng.py#L1596 If your state definition does not pull the image then this is cause for further debugging

[2016-01-07 00:36] robgott opened #30196 "add functionality to git state for detached head checkout"
I propose we add a new state or potentially update the `git.latest` state to support ensuring a detached head checkout is performed rather than creating a local branch.

In my experience when using git with salt, it is almost always used to deploy a git repo on a server whereby you expect the contents of the directory to be exactly the same as what is present on the remote.

Using a detached head

[2016-01-07 00:54] #29311 closed

[2016-01-07 00:56] #29484 closed

[2016-01-07 01:05] rallytime commented on #8301
Since we didn't hear back, I am going to close this issue. If anyone runs into this bug again, let us know and we will be happy to reopen.

[2016-01-07 01:05] #8301 closed

[2016-01-07 01:07] rallytime commented on #19629
Fixed by #28747 and #28771.

[2016-01-07 01:07] #19629 closed

[2016-01-07 01:16] rallytime commented on #25010
I'm going to go ahead and close this for now. If this bug shows up again after upgrading, leave a comment and we can take another look!

[2016-01-07 01:16] #26844 closed

[2016-01-07 01:43] MarshM4ll0w opened #30198 "custom modules won't sync on gitfs only configuration"
I see that this has been discussed a lot over the years, but I have the same issue and I can't figure out how to overcome it.  In https://github.com/saltstack/salt/issues/15210?_pjax=%23js-repo-pjax-container @basepi said:

I cannot get that to work.  I feel like I have tried everything.  My salt setup is a bit...unorthodox, but I feel like I am following everything the documentation says is neces

[2016-01-07 02:03] adithep opened #30199 "dockerng run attach"
Is it possible for dockerng to start a container via state or module and attach the output to the console until the container stops? In my workflow many container just needs to run once until it stops, then start another state.

If not, is this a viable feature?

[2016-01-07 02:20] #25765 closed

[2016-01-07 02:46] #28017 closed

[2016-01-07 02:46] #28323 closed

[2016-01-07 02:48] #28796 closed

[2016-01-07 02:49] #28991 closed

[2016-01-07 03:09] terminalmage commented on #30019
The automated testing is currently not working properly, but this looks good, and @cachedout went ahead and merged it a couple days ago. Thanks!

[2016-01-07 03:09] #30019 closed

[2016-01-07 04:37] ZacharyDuBois commented on #30145
@rallytime, But it is odd when all my other servers have the exact same packages and all of a sudden, this one fails. I am able to still install packages using `pip` and `pip3` manually.

[2016-01-07 05:42] abh23 commented on #30172
@jfindlay : Thanks for the reply mate!
I  achieved the same by using this :

{% for int in  'eth1','eth2' %}
{% if not salt['network.ip_addrs'](int) %}

{{ int }}:
 network.managed:
  - enabled: True
  - type: eth
  - proto: dhcp

{% endif %}
{% endfor %}

[2016-01-07 06:34] jfindlay commented on #30172
@abh23, nice.  I'm glad you got it working.

[2016-01-07 06:34] #30172 closed

[2016-01-07 08:28] Granjow commented on #29784
Thanks! Sorry for not replying; If I understand correctly, event.send blocked because it was waiting for the master's reply, which was not present?

[2016-01-07 08:36] thedrow commented on #25728
@deuscapturus This is a lot of work and I'm busy with other open source projects at the moment.
If we can gather a team of developers I'd be happy to join.
Also, since feature is such a gamechanger because nobody else does this, I expect at least one SaltStack developer to be directly involved in the implementation.

[2016-01-07 09:06] dneades commented on #26255
That sounds good to me, @cachedout, thank you!

[2016-01-07 09:14] techcook commented on #30169
@ssgward  yes, I have try do it . but have same  problem:

[2016-01-07 09:24] tminn commented on #28017
FWIW 2015.8.3 fix only works with newer than 2.24.0 novaclient.
I get the same error message with older versions of novaclient

[2016-01-07 09:41] tsia commented on #9736
i have a similar issue with installing mysql-server. i am currently running a masterless setup (`salt-minion 2015.5.3 (Lithium)`).

when apt-get goes defunct, i can just do a `service mysql restart` in another terminal and salt continues normally.

This has worked before with mysql-server i think. maybe this broke with mysql 5.6 or so

[2016-01-07 09:44] andrejohansson commented on #29383
Hey @jtand sorry for the late reply, I've been on vacation. Here is the output (salt enterprise preview):

[code]

[2016-01-07 09:47] andrejohansson commented on #29074
Thanks for your reply, I think we can close this as an issue and add it as as a future feature request maybe? "Atomic operations". I understand this is a very tough one to implement.

[2016-01-07 09:47] #29074 closed

[2016-01-07 10:46] yinchuan commented on #24540
Hello:
Any update? Still exist in version 2015.8.3 (Beryllium).

[2016-01-07 10:54] gw0 commented on #30149
@jfindlay Imagine this is just the command whose output needs to be inserted there. Salt should not interpret it. To make it more obvious it could also be called `/bin/myscript`, eg:

[code]

How the original command works (from shell on target machine):

[code]

[2016-01-07 11:31] anlutro commented on #29670
It looks like the problem was simply an out-of-date master config, referring to a reactor file that had been moved. I think a better error message if a reactor file can't be found would be a good idea, but it looks like it's not a bug, at least.

[2016-01-07 13:57] yopito commented on #30195
@thatch45 : thanks for your welcome !

this SaltStack PR sounds a little bit early for inclusion in SaltStack since initial support of XBPS and runit/sv is not even finished/fully debugged.

1st step: add XBPS and runit/sv support into the VoidLinux distribution packaging of Salt in in progress.
more details here: https://github.com/voidlinux/void-packages/pull/3326

[2016-01-07 14:04] gtmanfred commented on #28017
Can you try with the 2015.8 Branch from git?

There is a getattr that pulls discover extensions from self if it doesn't
exist in client

On Thu, Jan 7, 2016 at 3:25 AM tminn <notifications@github.com> wrote:

[2016-01-07 15:31] twangboy commented on #29383
@andrejohansson This looks like the version report for the master. Could you send the one for the windows minion as well?

[2016-01-07 15:42] rallytime commented on #30145
If you upgrade to a newer version of Salt, does the error still persist? We had a regression in the state compiler in `2015.5.3` that shows itself in precisely this manner.

[2016-01-07 15:46] ssgward commented on #30169
OK. Sounds like a bug.

[2016-01-07 16:03] terminalmage opened #30203 "Update salt.modules.git.list_worktrees() to use 'git worktree list' for Git >= 2.7.0"
The ``list`` subcommand is new to ``git-worktree`` in 2.7.0, it should be used when available.

[2016-01-07 16:20] terminalmage commented on #30196
I personally love the idea of a separate ``git.detached`` state. Detached HEAD checkouts don't need all that additional logic. I will review your pull request today.

Thanks!

[2016-01-07 16:24] basepi commented on #30198
I think the mountpoints are throwing it off. the _modules and _states directories must be in the root of your fileserver, if I remember correctly. We don't recurse through looking for those directories.

[2016-01-07 16:29] slav0nic commented on #26070
problem in minion file
minion file after `test.ping`:
[code]
and after `highstate`:
[code]
maybe problem in https://github.com/saltstack/salt/blob/832870264a76da023c442c8c8f1d2f6e932ff4d6/salt/client/ssh/__init__.py#L789

[2016-01-07 16:30] anlutro opened #30204 "salt can't find local cache return file"
I'm running salt-ssh from a virtualenv locally. I git pulled the latest 2015.8 HEAD right now and am getting these errors:

[code]

[2016-01-07 16:31] terminalmage commented on #30199
Have you tried using ``detach=False`` when running ``dockerng.create``?

[2016-01-07 16:31] #28132 closed

[2016-01-07 16:32] basepi commented on #29061
I'm going to close this, since we have the pull request in. Please tell us if it's not fixed and we'll re-open. :)

[2016-01-07 16:32] #29061 closed

[2016-01-07 16:33] #29156 closed

[2016-01-07 16:33] #28965 closed

[2016-01-07 16:34] basepi commented on #28310
Looks like the pull request was merged. Closing.

[2016-01-07 16:34] #28310 closed

[2016-01-07 16:37] #28261 closed

[2016-01-07 16:37] basepi commented on #28542
Was the fix for this ever validated?

[2016-01-07 16:39] basepi commented on #28207
Looks like the fix was merged. Closing.

[2016-01-07 16:39] #28207 closed

[2016-01-07 16:39] basepi commented on #27662
@pass-by-value is this resolved? Should I bump it to a more recent milestone?

[2016-01-07 16:41] anlutro commented on #30204
I tried using `git bisect` to localize the error, but I got another error in the progress:

[code]

[2016-01-07 16:45] dmurphy18 commented on #27453
Fixing in #29701, consider duplicate

[2016-01-07 16:46] rallytime commented on #28281
I can confirm that this is fixed at the HEAD of the 2015.8 branch:
[code]
This fix will be available in the upcoming 2015.8.4 release.

[2016-01-07 16:46] #28281 closed

[2016-01-07 16:47] #27453 closed

[2016-01-07 16:48] pass-by-value commented on #27662
@basepi This is resolved, except for the distutils version (1.0.7). Does that still cause an issue @martinhoefling ?

[2016-01-07 16:49] rallytime commented on #29085
This is fixed at the HEAD of the 2015.8 branch and the fix will be available in the upcoming 2015.8.4 release.

[2016-01-07 16:49] #29085 closed

[2016-01-07 16:53] Vaelatern commented on #30195
@yopito, Why do you feel we should start pushing patches to the Void Linux package version of salt? Why not start in this repo?

[2016-01-07 16:53] basepi commented on #30161
This sounds reasonable. At the very least it should be warning you that the `unless` will be ignored, and maybe error out if we don't support both of those at the same time. But I think we can support both. Thanks for the report.

[2016-01-07 16:56] #29905 closed

[2016-01-07 16:57] basepi commented on #27152
I think this is a duplicate of #24243. I'm going to close this one and we can follow up there.

[2016-01-07 16:57] #27152 closed

[2016-01-07 16:58] jfindlay opened #30205 "salt-run: traceback on nonexistent job cache file"
[code]
[code]

[2016-01-07 17:01] basepi commented on #25499
@markuskramerIgitt Did you ever get a chance to test this? Since you're the only one running into this I anticipate it being difficult to reproduce, so any additional details we can get would be great.

[2016-01-07 17:02] cachedout commented on #30205
Could you please provide more context here? Is this happening on every run? Is it just runners or do you see this with other jobs?

[2016-01-07 17:07] jfindlay commented on #30205
This happens on every run.  I haven't found a runner function where this does not happen.  The runner itself seems to succeed, but then there is this traceback about the job cache.

[2016-01-07 17:09] basepi commented on #28868
So we have been completely unable to reproduce this on our systems. I think there's something system specific which we do want to address, but have been unable to discover. Any chance you could come up with a vagrant setup that can reproduce this, or could you quarantine a machine that's exhibiting this and give one of us access to that machine?

[2016-01-07 17:11] yopito commented on #30195
@Vaelatern :
Pushing first to VoidLinux provides a quick way to perform "unit" tests and benefit from VoidLinux users's experience.
if pushed directly to SaltStack, have to wait for its inclusion in an official release before becoming available into VoidLinux (packaging), but we will have to test code against runit/sv and xbps first.

[2016-01-07 17:19] basepi commented on #30087
I'm going to close this, please notify us if this is still an issue.

[2016-01-07 17:20] #30087 closed

[2016-01-07 17:33] cachedout commented on #30178
@jacksontj This is of interest to you, potentially. Just FYI.

[2016-01-07 17:33] jfindlay commented on #30182
@zmalone, thanks for the report.

[2016-01-07 17:38] jfindlay commented on #30188
@frioux, thanks for the report.  What version of salt are you using?  Does the incorrect run time only get reported on state runs when the timezone is changed or does it continue to happen after the change?

[2016-01-07 17:39] jfindlay commented on #30193
@iquaba, thanks for the report.  What version of salt are you using?

[2016-01-07 17:42] jfindlay commented on #30204
@anlutro, thanks for the report.  I can reproduce the first issue but not the second.  Will you open another issue for that?

[2016-01-07 17:43] UtahDave commented on #29580
OK, I've got an open ticket with Rackspace to get IPv6 servers going. I have no idea what kind of timeframe we're looking at. Amazon Route53 also has this same problem.

[2016-01-07 17:44] jfindlay commented on #30205
Duplicate of #30204.

[2016-01-07 17:44] #30205 closed

[2016-01-07 17:45] cachedout commented on #30204
The second is stale *.pyc files.

[2016-01-07 17:48] cachedout commented on #30204
Offending commit is here: 79daa25a159bdf2ce1d2405d7c36d9225773a605

[2016-01-07 17:56] cachedout commented on #30150
This fix has been reverted because it broke the salt-master.

[2016-01-07 17:57] abednarik commented on #30150
Sorry about that,

[2016-01-07 17:57] rallytime commented on #25118
@ZeneBot I can confirm that it is fixed in 2015.5.3. In the first code block, I am showing the bug reproduced in `2015.5.2`:
[code]
And here it is working in version `2015.5.3`:
[code]

[2016-01-07 18:11] terminalmage commented on #30196
Also, while I think regardless that a separate state is a fantastic idea, another option for deploying a given release would be to tag it (i.e. ``git tag -a v1.2``) and push that tag to the remote repo. You could then use something like the following:

[code]

[2016-01-07 18:28] seanjnkns opened #30208 "Setting root passwd via user.present gives invalid results"
Using a simple state such as:
[code]
Will give the following results:
[code]
However, checking /etc/shadow, the password was changed.  Subsequent runs keeps throwing the same results even though the password didn't need to change, nor did.  Seems to be a false positive.

Tested on 2015.8.1 and 2015.8.3

[2016-01-07 18:38] mimianddaniel opened #30210 "deprecated function arg and kwargs warning in the minion log"
https://github.com/saltstack/salt/blob/2015.5/salt/minion.py#L243

Is this something as user should be taking care?

[2016-01-07 18:52] Vaelatern commented on #30195
@yopito: Accepted.
I will start testing code you push and sign off your work on the Void Linux repos. After any code is included in Void, it should be PRed to here.

[2016-01-07 19:07] jfindlay commented on #30173
It seems reasonable that salt-ssh could check the contextual ssh settings to try to determine the port if it is nonstandard.

[2016-01-07 19:09] rallytime commented on #29494
@Shad0w1nk Can you post some more information like @jfindlay suggested above? I am not able to reproduce this error neither on the HEAD of 2015.8 nor version 2015.8.1:
[code]

[2016-01-07 19:11] terminalmage commented on #9569
We may now have the necessary support for this, via the ``file_tree`` external pillar combined with the ``contents_pillar`` argument to the ``file.managed`` state.

I'll do some investigation and, if I'm right about this add an example use case to the documentation and to it from our FAQ.

[2016-01-07 19:37] basepi commented on #27662
Since part of this is resolved and it's a few months old, I'm going to go ahead and close it. If there are still issues we can either re-open this or create a new issue for anything remaining.

[2016-01-07 19:37] #27662 closed

[2016-01-07 19:43] #28542 closed

[2016-01-07 19:55] markuskramerIgitt commented on #25499
@basepi, I am working on grains now and have will use my documentation on the issue to try to reproduce it.

[2016-01-07 20:02] jacobhammons commented on #12782
Solved by https://github.com/saltstack/salt/commit/7cc7a97b91a7332274ddbc279ea9e98ad5a6ff3f, closing.

[2016-01-07 20:02] #12782 closed

[2016-01-07 20:14] frioux commented on #30188
Version is 2015.8.1.  It is only incorrect when the TZ is changed.

[2016-01-07 20:24] slav0nic commented on #26070
fixed :dancers: , but required core devs review
[code]

[2016-01-07 20:24] #29601 closed

[2016-01-07 20:34] sebastian-cb opened #30214 "Using scheduling system to run a highstate in batch mode"
I would like to schedule a `highstate` to run every night but not in parallel. Is there a way to add `batch` option to the scheduling system?

For example:

[code]

Ideally I would like to also randomize the time when it runs. I guess I could schedule it to run every two hours within one hour time range so it will run only once:

[code]

[2016-01-07 20:56] bebehei commented on #30173
salt-ssh sets options for SSH via command line (`-o <optionName>=<value>`). These values override the ones set in `~/.ssh/config`.

[code]

The SSH Protocol defines Port 22 as the default. There is no need to specify `-o Port=22`. Then it would take the options from the config-file. This is just a problem of setting things twice.

[2016-01-07 21:43] #26415 closed

[2016-01-07 21:44] rallytime commented on #29471
I can confirm this bug. However, note that the bug only occurs on the `develop` branch, but does not occurs on the `2015.8` branch or recent releases.

[2016-01-07 21:44] timcharper opened #30216 "Feature suggestion: Flag to specify custom repository URL"
Since the debian repo lacks a way to lock to a consistent major version, I'd like to snapshot a version of the repository and use it (occasionally have been burned by surprise upgrades).

There doesn't seem to be a way to specify that a different apt repository should be used. I'd like to add the option but wanted to ask for opinions on it, first.

[2016-01-07 21:44] terminalmage commented on #25381
I'm sorry, but I have no idea what is going on here.

[2016-01-07 21:46] pass-by-value commented on #29602
Created #30217 to fix this

[2016-01-07 21:54] jfindlay commented on #26070
@basepi

[2016-01-07 22:08] MarshM4ll0w commented on #30198
That makes perfect sense, but will make my setup impossible.  I will put the _modules directory into the top repo as a test.  That will place it at the root.  Long term though I'm not sure how to proceed.  Perhaps I should set up each repo as such:

[code]

Then I could remove the mountpoints and the states would still be accessible via `common` or `common.roar`.  This introduces the issue of dupl

[2016-01-07 22:13] cachedout commented on #30204
This is now fixed. Closing.

[2016-01-07 22:13] #30204 closed

[2016-01-07 22:14] #8146 closed

[2016-01-07 22:17] terminalmage commented on #25381
OK, @basepi caught me up on this.

Doing this in the initscript is an awful idea. Initscripts have to exit, and the only way to make the script keep the process running is for the initscript to never exit. Which is not how init systems are supposed to work.

They'd be better off starting the master or minion using a watchdog service like [monit](https://mmonit.com/monit/).

http://www.tecmint.com/

[2016-01-07 22:17] rallytime commented on #13036
Fixed by #30215.

[2016-01-07 22:17] #13036 closed

[2016-01-07 22:19] rallytime commented on #9319
Fixed by #30215.

[2016-01-07 22:19] #9319 closed

[2016-01-07 22:19] rallytime commented on #13777
@gravyboat How does the fix in #30215 look?

[2016-01-07 22:20] rallytime commented on #2229
Fixed by #30215.

[2016-01-07 22:20] #2229 closed

[2016-01-07 22:28] gravyboat commented on #13777
@rallytime Looks good to me, closing.

[2016-01-07 22:28] #13777 closed

[2016-01-07 22:29] rallytime commented on #13777
Sweet! Thanks!

[2016-01-07 22:30] rallytime commented on #14946
Fixed with #30215

[2016-01-07 22:30] #14946 closed

[2016-01-07 22:30] rallytime commented on #15042
Fixed by #30215.

[2016-01-07 22:30] #15042 closed

[2016-01-07 22:31] cachedout commented on #26255
@dneades Sounds good. Take a look at #30218 please.

[2016-01-07 22:37] rallytime commented on #4381
Fixed with #30215.

[2016-01-07 22:37] #4381 closed

[2016-01-07 22:37] rallytime commented on #6853
Fixed by #30215.

[2016-01-07 22:37] #6853 closed

[2016-01-07 22:45] terminalmage commented on #25381
@basepi and I were talking and systemd (the init system for RHEL7, Debian 8, and the upcoming Ubuntu 16.04 LTS) does have a mechanism to automatically restart a service.

We can even make this configurable using an [EnvironmentFile](view-source:http://www.freedesktop.org/software/systemd/man/systemd.exec.html) param to let the user provide the value.

This would be pretty easy to do, and we should

[2016-01-07 22:53] alexthegraham commented on #8906
I have to agree with the OP, even though 'osfinger' does give a unique value based on the OS, the inconsistency of what is stored there makes it difficult to use and nearly impossible to use python functions StrictVersion and LooseVersion.

eg. 'CentOS-6' became 'CentOS Linux-7', and the SUSE variants are a mess.

'osmajorrelease' should only store a single value - the OS major release version. Ev

[2016-01-07 23:34] Ch3LL commented on #30183
@jakehilton I believe this is related to #24243 and #29567

I am inclined to label this a duplicate but just have one question for you for further clarification. Once your minion does failover to the second master are you able to run commands against the minion from the second master?

Some of the other issues reported for failover multi master state the minion does not failover, unless you change

[2016-01-07 23:36] rallytime commented on #28766
@PKiman Can you elaborate on what you're seeing? Are you saying this happens when you pass `-i` to the `script_args`? And you're seeing two minion keys? I haven't seen this before and I am unsure on how to reproduce this.

[2016-01-08 00:02] rallytime commented on #28396
After a little digging, I suspect that this was broken by #23348. One thing to note, however, was I was able to get `-P` to work on the develop branch. It appears that "only" the 2015.8 branch is affected. I'll plan to do some more digging tomorrow.

[2016-01-08 00:13] basepi commented on #30182
I would call this expected behavior. My guess is that fnmatch (which we use for glob matches) doesn't support escaping asterisks via backslashes. Maybe there's an option we could add, or maybe it's an issue in our parsing. But I'm going to just say "we don't support asterisks in minion IDs". Because that seems like an exercise in frustration, and I can't see a good reason that you need that partic

[2016-01-08 00:28] kaithar opened #30220 "mysql_database state broken on _"
I managed to track this bug back through to the source, but I'm just about to head to bed.

PR #28737 changed things to use a new `mysql.db_get` function, which would be nice except it doesn't work properly.  I'm guessing there aren't any test cases that cover this particular quirk.
It gets the database info with this query:

[code]

That's fine, but the database name has `_` replaced with `\_`, w

[2016-01-08 00:29] lorengordon commented on #21485
Ok, no worries. I've added support for secedit-based inf-style policies ("System Access" and "Privilege Rights"), in addition to the registry-based policies. I'd like to do something like you did with the policy_info class to define the data model and help validate values, but it works. https://gist.github.com/lorengordon/a1d1c08e8587d92d3612

[2016-01-08 00:37] cruatta commented on #30161
Thanks basepi! Definitely would like to see them both supported.

[2016-01-08 03:58] dkiser commented on #27446
+1

[2016-01-08 04:20] adithep commented on #30199
Yes I did. And it does not work. This is my sls:

    fillvol:
        module.run:
            - name: dockerng.create
            - detach: False
            - kwargs:
                name: fillvol
                image: hostname/username/git
                client_timeout: 50000
                detach: False
                interactive: True
                tty: True
                cmd: /comman