[2020-01-28 21:16] waynew opened #56012 "No way to sort keys (or pass extra args) on `tojson` in Python3/`json_encode_dict` doesn't produce valid JSON"
# Context

https://github.com/saltstack/salt/issues/55911 raised an issue that `tojson`, the recommended replacement for `json_decode_dict` changed to sort keys, which was undesired behavior. As it turns out, `json_decode_dict` was misnamed - it should have been `json_encode_dict`. That functionality works for their desired use-case.

# Problem 1 - bytes aren't JSON

In Python2, just using `json_e

[2020-01-28 21:28] waynew commented on #56012
Looks like that just requires some changes here: https://github.com/saltstack/salt/blob/5a17dd6390aa8ef9a7f6899e6d9ce8be2b6750f3/salt/utils/templates.py#L360

Removing that line, and the `if tojson_filter` block.

[2020-01-28 21:31] lorengordon opened #56013 "win_lgpo: Support managing arbitrary registry key/value/data actions in Registry.pol"
### Description of Issue

At the moment, the `lgpo` module uses the policy `name` or `id` (plus path) to identify a distinct item in the ADML/ADMX files. We would like to use the `key` and `valueName` if we can. This is convenient because it directly indicates where in the registry the setting is configured (ultimately), and interfacing with the registry is rather easier than gpedit.msc. Also, DIS

[2020-01-28 21:33] lorengordon commented on #56013
hiya @lomeroe, any thoughts on this?

[2020-01-29 11:52] dkfsalt commented on #49519
This is still an issue - please reopen.

[2020-01-29 12:30] dhs-rec commented on #46163
Which Salt version contains the fix? I'm still seeing this (on Linux) runnig Salt Minion 2018.3.4 when I try to install modules into the systems Python 2 (no virtualenv) when the Minion itself is Python 3.

[2020-01-29 13:19] sindhukothe opened #56015 "salt command does not really retry messages"
### Description of Issue
When a salt command is issued e.g.`salt '*'test.ping` and if the master is busy, it is supposed to retry 3 times (by default). But the salt command does not send other messages on the bus to master
### Steps to Reproduce Issue
Not sure how to make master busy not to respond the messages in 5 seconds, But I am attaching the relevant code snippets here.
### Versions Report
[

[2020-01-29 13:27] dhs-rec commented on #46163
Quick test with 2018.3.5 (Py3) still triggers the error.

[2020-01-29 13:31] sindhukothe commented on #56015
In file `https://github.com/saltstack/salt/blob/master/salt/transport/zeromq.py` under class AsyncReqMessageClient:
[code]
sends the message to the master.
It then waits for 5 seconds and calls `timeout_message()` function.
`timeout_message` function then calls the self.send() second time with the same message.
But because the self.send_queue already has 1 element in it, following code in send() b

[2020-01-29 14:34] lorengordon commented on #56013
Another use case is when working with an existing registry.pol file, such as from a group policy backup or the [Microsoft Security Compliance Toolkit](https://docs.microsoft.com/en-us/windows/security/threat-protection/security-compliance-toolkit-10) (which is mostly a group policy backup). We want to convert these registry.pol files from the binary format to text so it's diff-able and appropriate

[2020-01-29 14:44] mcarlton00 commented on #4994
This is still a bug and still present as far as I can tell.  At the very least this needs to be documented on the [salt client](https://docs.saltstack.com/en/latest/ref/clients/index.html) page if it's not going to be changing, because it's not expected behavior in most non-salt python modules.

Nonworking Example:
[code]
Output:
[code]

Working Example:
[code]
Output:
[code]

[2020-01-29 14:54] Ch3LL commented on #47628
im not seeing any examples shared here with a require in them? can your states you are seeing this in when requisites aren't handled if aggregate is set?

[2020-01-29 14:56] Ch3LL commented on #51478
nope, we changed our settings with stalebot to not close issues with bug/feature labels so this should not go stale again.

[2020-01-29 15:29] #52590 closed

[2020-01-29 15:36] sagetherage commented on #42449
this was fixed a long time ago, closing

[2020-01-29 15:36] #42449 closed

[2020-01-29 16:55] tash opened #56016 "salt.modules.zypperpkg.install does return sufficient message for error reasons"
### Description of Issue
The error information for installing a RPM package through zypper is not complete, which leads to an incomplete salt result message. There is no workaround as several error messages are provided as stdout by zypper in non-interactive-mode instead of stderr. ~~Zypper also does not log the attempt in the example below (/var/log/zypp/history), leaving no indication of the rea

[2020-01-29 17:14] sidharrell commented on #51932
Can we please either reopen this or https://github.com/saltstack/salt/issues/40208
dry-run diff output is extremely important to us, and we're having to patch every salt-minion.

[2020-01-29 17:14] Ch3LL commented on #55976
thanks i'll add this issue to our supporting python3.8 epic issue here: https://github.com/saltstack/salt/issues/55835  we will need to get these cleaned up.

[2020-01-29 17:15] Ch3LL commented on #55835
- [ ] https://github.com/saltstack/salt/issues/55976

Deprecation Warnings that need to be cleaned up

[2020-01-29 17:48] dmurphy18 opened #56018 "Embedded Tornado contains Py 3.7 keywords which need to be removed"
### Description of Issue
Embedded Tornado contains Py 3.7 keywords which need to be removed

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
From a slack conversation:
[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2020-01-29 17:49] dmurphy18 commented on #56018
Need  to apply the following:

From: Benjamin Drung <benjamin.drung@cloud.ionos.com>
Date: Thu, 15 Nov 2018 16:18:51 +0100
Subject: [PATCH] Add support for Python 3.7
---
 tornado/gen.py               | 3 +--
 tornado/queues.py            | 1 -
 tornado/test/asyncio_test.py | 3 ++-
 3 files changed, 3 insertions(+), 4 deletions(-)
diff --git a/tornado/gen.py b/tornado/gen.py
index 99f9106..bdb32ff

[2020-01-29 17:57] cmcmarrow commented on #54472
@soer7022

[code]

 `icmpv4` not `icmp4`
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.win_firewall.html

[2020-01-29 18:00] cmcmarrow commented on #54472
You can also enable the inbound rule 'File and Printer Sharing (Echo Request - ICMPv4-In)' if you don't want to make a new rule.

[2020-01-29 18:03] cmcmarrow commented on #54771
This should be fixed in neon!

[2020-01-29 18:12] #54296 closed

[2020-01-29 18:19] cmcmarrow commented on #55507
@haodeon was just letting you know about `pymssql` I'll start working on a fix

[2020-01-29 18:53] evannorstrand commented on #55993
No luck.

`[root@xxx salt]# sudo pip3 install tornado==4.5.3
WARNING: Running pip install with root privileges is generally not a good idea. Try `pip3 install --user` instead.
Collecting tornado==4.5.3
  Downloading https://files.pythonhosted.org/packages/e3/7b/e29ab3d51c8df66922fea216e2bddfcb6430fb29620e5165b16a216e0d3c/tornado-4.5.3.tar.gz (484kB)
    100% |████████████████████████████████| 491k

[2020-01-29 19:24] Ch3LL commented on #55967
how would you expect this to behave?

Not allow `request_interval` to be bigger than `wait_for`? because currently `request_interval` is just doing a `time.sleep` for that allotted time, so if you haven't hit `wait_for` you would be in the middle of the `request_interval` sleep.

[2020-01-29 20:55] sagetherage commented on #55564
At this time @tsaridas the Core team won't be working on scaling the syndic architecture in salt, you can find this in our Enterprise solution or you can open a PR for review. I will leave this open, and the Stale bot configuration will skip it with the label`Feature` attached. I have also moved it to approved, but only if the community wants to submit PRs for this work at this time. Thank you!

[2020-01-29 21:08] kiemlicz commented on #55740
Thank you
Are you sure that the `__context__` is retained between e.g. sdb instances?

I've tried using `__context__`, and changing https://github.com/kiemlicz/ambassador/blob/master/salt/base/_sdb/kdbx.py#L64 to:
[code]
prints different id of `__context__`, moreover the context is always empty.
Putting key/value there is lost.

I though that maybe I should move kdbx loading logic to _utils, howev

[2020-01-29 21:24] jpsv commented on #55987
[code]

[2020-01-29 21:39] xeacott commented on #53504
I wanted to ask you @max-arnold and @cr1st1p for a little bit of clarity on this, as I may be missing something here. So I have a state file like so...
[code]
And inside `/srv/salt/_modules/foo.py` I've written a function called `bar` that looks like so..
[code]

and upon applying the state file, without having my minion configured with `use_superseded` both of these states run and return fine. I

[2020-01-29 21:59] cr1st1p commented on #53504
The fact that your simple module worked for you...
a) maybe you did not correctly set up the superseded option
b) maybe it is too simple.
I encountered a state file written for the old style and that did **not** error and neither **did** anything at all, when superseded mode was activated. Took me hours to figure out what was the cause.

Code wise, the flag is consumed via a decorator.
A quick loo

[2020-01-29 22:13] dmurphy18 commented on #56018
PR merged, closing

[2020-01-29 22:13] #56018 closed

[2020-01-29 23:13] #34132 closed

[2020-01-29 23:15] sagetherage commented on #35890
I have this on a meeting agenda to discuss and attempt to move it forward, I will update the ticket after this week with details.

[2020-01-29 23:18] zbarr commented on #35890
Sounds good - thanks!

[2020-01-29 23:34] reversefold commented on #55695
We're using `user.present` state in our users state. I can't provide the code directly.  I see the `to_unicode` call on line 156, but the error happens on line 155. This is due to the file being opened in text mode with an encoding that doesn't decode the data properly.

You may need to either open the file in binary mode, try to convert permissively, then split to lines, or to add an `errors` opt

[2020-01-30 00:10] cmcmarrow commented on #55507
@haodeon I fixed the bug. Just need to write test and get it merged.

[2020-01-30 00:11] cmcmarrow commented on #55507
I also made this work as well

[code]

[2020-01-30 02:22] #55627 closed

[2020-01-30 03:40] haodeon commented on #55507
Hi @cmcmarrow, yes in my own testing omitting cwd parameter also works. However, is this a case of there being only one python installation on a Windows minion or is it because the the documentation is wrong about cwd being required?

[2020-01-30 09:20] ihakh opened #56025 "I can not get a custom returner working for salt master_job_cache"
I have customized the pgjsonb returner and renamed it to something like: mypgjsonb

I have putted it in this folders but neither of them working:

- /srv/_returners/
- /srv/salt/_returners/
- /srv/salt-master/_returners/

in master config I have :
master_job_cache: mypgjsonb

and I get these in master log with -ldebug:
[DEBUG   ] Could not LazyLoad mypgjsonb.clean_old_jobs: 'mypgjsonb.clean_old_jo

[2020-01-30 10:36] soer7022 commented on #54472
@cmcmarrow why did you @ me?

[2020-01-30 12:21] bdrung commented on #55976
This is a duplicate of #50911 (which I have merge request #56027 for it).

[2020-01-30 12:23] bdrung commented on #55835
#55976 is a duplicate of #50911, which is addressed in pull request #56027

[2020-01-30 13:24] vriabyk commented on #23947
hi, we use FreeIPA and we are experiencing the same issue. Environment details:

OS version: Ubuntu 16.04
Salt version: 2017.7.8 (Nitrogen)

The following state fails:
[code]
the following error shows:
[code]
All related states are getting failed too:
[code]
While jenkins user exists on salt-minion (via FreeIPA):
[code]

As @johnkeates mentioned, it works when running via salt-call.

[2020-01-30 14:34] admd opened #56030 "Jinja condition is not being evaluated correctly in salt-ssh minion"
### Description of Issue
I need to check if salt module exist before executing it. So I have a Jinja condition in statefile but it is not working on salt-ssh minion.

### Setup

[code]
Above excerpt correctly returns nothing when executed on a regular minion and  `network.fqdns` module is not available. But when executed on a salt-ssh minion, it returns.
[code]
which is not what I expect.

### Ste

[2020-01-30 14:44] brejoc commented on #56030
Taking it to the salt board. Thx for checking, @admd!

[2020-01-30 14:47] jbeaird commented on #53152
After rebooting one of the machines that hadn't run highstate since I upgraded the minion, the highstate ran at the expected time, about 15 hours after the reboot.

[2020-01-30 15:33] Ch3LL commented on #55849
looking into this a bit more, it looks like we are accessing that object incorrectly in the code:

[code]

instead of `azure.storage.BlobService`.

The `msazure` cloud provider is used to access the old azure api so I'm not sure we even still want to support this and instead want to only support the azurearm cloud provider. ping @saltstack/team-cloud any opinions here? Im guessing we want to actua

[2020-01-30 16:05] nicholasmhughes commented on #55849
@Ch3LL , correct... the `msazure` driver should just go away.

[2020-01-30 16:55] muddman commented on #54258
This also breaks travis ci builds -- test kitchen converge fails when using proxy driver on their windows os.  appveyor does work.

    $$$$$$   File "C:\salt\bin\lib\site-packages\salt\grains\core.py", line 1662, in os_data
    $$$$$$     if 'Server' in grains['osrelease']:
    $$$$$$ TypeError: argument of type 'NoneType' is not iterable
    The command "powershell -NoProfile -NoLogo -NonInterac

[2020-01-30 16:55] sagetherage commented on #54472
likely just a mistake @soer7022, should be to the original author @sotona-

[2020-01-30 16:57] sagetherage commented on #54472
I have edited the comment sorry for the mistake

[2020-01-30 17:54] whytewolf commented on #18564
Reopening this case. As it can still be a problem with `find_job` timing out.

One thing that seems to be needed here is orchestration not assuming the state is run successfully if `find_job` times out. At that point, it still is an unknown state. Maybe we need to add a function that if find_job times out try find_job again. or. if `find_job` times out should we count the state as failed?

[2020-01-30 17:56] whytewolf commented on #18564
ZD-4570

[2020-01-30 18:07] brianthelion commented on #47052
@cbosdo A quick look suggests yes.

[2020-01-30 18:19] sagetherage commented on #33309
Closing as complete from the two PRs referenced above.

[2020-01-30 18:19] #33309 closed

[2020-01-30 19:41] waynew opened #56033 "libinfoblox does not support Python3 (yet?)"
At this moment in time [libinfoblox](https://github.com/steverweber/libinfoblox), which we depend on for  https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.infoblox.html#salt.modules.infoblox.get_network support hasn't seen a release in 3 years.

adminoldadmin in #salt on Freenode had a problem that turned out to be a lack of Python3 support.

Either we need to get the underlying l

[2020-01-30 19:45] waynew commented on #56033
@steverweber I see that you were involved with our infoblox support - do you have any preference? Are you still interested in maintaining your library?

[2020-01-30 20:00] alejdg commented on #10149
Still relevant,

[2020-01-30 21:14] astronouth7303 commented on #42233
Yeah, I'm seeing it on my current setup now, so I'm not sure what was going on then.

[2020-01-30 21:14] #42233 closed

[2020-01-30 22:16] steverweber commented on #56033
I think libinfoblox should be updated to keep things working. That said I agree shifting over to an official client is a good direction.

what is the issue adminoldadmin was having? can an issue or pull request be sent to: https://github.com/steverweber/libinfoblox/issues

Thanks!

[2020-01-30 22:32] Akm0d opened #56035 "Deprecate GoGrid support in salt-cloud"
### Description of Issue
GoGrid was acquired by DataPipe in [2015](https://blog.rackspace.com/datapipe-acquires-gogrid-analysis-reactions) which was acquired by RackSpace in [2017](https://www.channele2e.com/news/rackspace-acquires-datapipe-multi-cloud-managed-services/).

The GoGrid API's SSL certificate expired in April 2019 and it is completely non-functional (api.gogrid.com)

GoGrid could be s

[2020-01-31 10:50] daemonkeeper opened #56038 "xfs.mkfs module function fails to parse output from underlying tool call"
### Description of Issue

The xfs module is meant for managing XFS filesystems. One of its functions creates a XFS filesystem, and parses the output from mkfs.xfs with _parse_xfs_info, which is technically meant to parse output from xfs_info (for the xfs.info function).

There is, however, an additional line - at least in my version of mkfs.xfs - which breaks the parse and causes a Python exceptio

[2020-01-31 17:30] waynew commented on #55902
I did, we can close this.

[2020-01-31 17:30] #55902 closed

[2020-01-31 19:31] SammyTbeile opened #56040 "[FEATURE REQUEST] Docker secrets states or module"
### Description of Issue
It would be helpful to have a state or module to access the docker secrets api. This exists in the python sdk: https://docker-py.readthedocs.io/en/stable/secrets.html
Thanks!

### Versions Report

Master:
[code]
Minion:
[code]

[2020-01-31 19:45] Oloremo opened #56041 "archive.extracted state trim_output is ignored in some cases"
### Description of Issue
archive.extracted state trim_output is ignored in some cases and probably has never worked as expected.

The issue became more visible after the d9917aa470b2489e522d4c1026f89c40a7dcae1d merge.

See also: https://github.com/saltstack/salt/issues/40491

### Setup
[code]
### Steps to Reproduce Issue
Run the state above.

**Expected**: Only one file in the changes dict.
**Real

[2020-01-31 19:53] Oloremo commented on #40491
Trying to fix it here: https://github.com/saltstack/salt/pull/56042

[2020-01-31 19:57] sagetherage commented on #49986
@whytewolf can you take a look at this to see if it was fixed and this can be closed, please?

[2020-01-31 19:59] whytewolf commented on #49986
@sagetherage sorry yes this can be closed. The issue was related.

[2020-01-31 20:03] udf2457 opened #56043 "Enhancement request: Ability to mask pillar output in state.apply output"
He ability to secure secrets using `gpg` and using them in templates with `{{ pillar['secret-squirrel'] }}"` is great.

However the problem is, that it shows up in logs and outputs, e.g. calling `salt 'foobar' state.apply`

Maybe we can have a special alias, e.g. `pillar-secret` which would cause the output to be automagically masked in output from `state.apply` and similar.

[2020-01-31 20:07] sagetherage commented on #54045
@whytewolf this won't get marked `stale` any further, we updated the config and this shouldn't be a problem any longer, let me know if you see it on other tickets, too, you shouldn't

[2020-01-31 20:11] sagetherage commented on #45422
this shouldn't get picked up again by the bot - last week we merged an update to the config

[2020-01-31 20:11] whytewolf commented on #54045
@sagetherage Yep, I ended up getting a flood of these when the timer was adjusted. but it all looks good now.

[2020-01-31 20:30] sagetherage commented on #54045
@whytewolf Yes, we didn't communicate that very well (at all) and should have, and although we are on a better path, we still want to iterate on the config or use GH Actions. LMK if you have other ideas, love to hear it!

[2020-02-01 08:03] campbellmc commented on #55993
check where tornado is being installed when installed via pip.
pythonpath is missing some locations when invoked via salt whereas if you look via the python shell directly, you will see there are extra locations
[code]

It's possible that pip has installed to /usr/local rather than /usr/lib which is what salt expects.

A dirty fix is to use --target in your pip3 install to get the package somewher

[2020-02-02 06:14] bilalbaqar opened #56049 "seeing ZMQ errors on 2019.2.2 minion"
### Description of Issue

Seeing the following error message in minion logs when any long running (~15sec+) job is submitted to the minion.

[code]
Sometimes see `MemoryError` instread of `SystemError: Negative size passed to PyBytes_FromStringAndSize`

### Setup
master installed via pip3 on ubuntu 16.04 under python3 virtualenv. Minion setup via salt bootstrap with following extra params `-H http

[2020-02-02 12:34] Mapel88 opened #56050 "rsync.synchronized doesn't sync all directories"
### Description of Issue
I'm running rsync.synchronized to update our yum repositories and noticed it skips some folders for some reason.
This is the command generated by salt when running in debug mode:
`u'rsync', u'-avz', u'--delete', u'--force', u'--exclude', [u'isos', u'local*'], u'rsync://dfw.mirror.rackspace.com/epel/7/x86_64/', u'/repos/epel/7/x86_64']
`

I used the same command to verify m

[2020-02-03 11:46] bdrung commented on #55835
I pushed more commits to pull request #56031. Now it fixes all Python 3.8 unit test failures. So after backporting these commits, the Debian package 2019.2.3+dfsg1-2 will build on Ubuntu 20.04 (which contains Python 3.8).

[2020-02-03 14:19] Talkless opened #56051 "Warning: zmq.eventloop.minitornado is deprecated in pyzmq 14.0 and will be removed"
### Description of Issue

salt-minion 2019.2.3 produces deprecation warning in Debian 10 (buster) when it starts up:
[code]
I don't see this message on Debian Stretch minions (same salt version).

### Setup

Nothig.

### Steps to Reproduce Issue

`systemctl restart salt-minion`

### Versions Report

[code]

[2020-02-03 14:23] Talkless commented on #56051
BTW, Salt is installed from `http://repo.saltstack.com/py3/debian/10/amd64/2019.2` repo.

[2020-02-03 15:56] Ch3LL commented on #55839
thanks for clarifying.  looking closer at your log `Authentication failure of type "token" occurred.` looks like its failing with the token. if you authenticate without the token and just username/password does that work?

Also it looks like that error is in the code 4 times so im not sure exactly where its failing. Any chance you can add this patch:

[code]

so i know exactly where its failing?

[2020-02-03 16:05] clallen commented on #54476
Looks to be fixed in 2019.2.2, I was able to use the grain and compound target types.  I'll close this now.  Thanks!

[code]

[2020-02-03 16:05] #54476 closed

[2020-02-03 17:48] nee2c opened #56053 "master_roots"
### master_roots
I have started to refactor our master and I started with updating the master from 2019.2.0 to 2019.2.3(py2).  Then have uncommented this line in the config and I get this warning message.
[code]

### Documentation
I have found the documentation to be inaccurate and unclear about this option
https://docs.saltstack.com/en/latest/ref/configuration/master.html#master-roots

We are pla

[2020-02-03 17:50] #49986 closed

[2020-02-03 19:01] Oloremo commented on #34369
I'm working on some archive.extracted state enchantments and cache control is the problem that I run on over and over.  I'd really like to have an option to "keep N last releases" for archive.extracted case.

I understand that the cache is not really related to archive.extracted but they're interconnected a lot.

[2020-02-03 19:17] sagetherage opened #56055 "[Docs] Deprecation of salt-unity, need to remove the doc references"
### Description of Issue
Salt-unity was deprecated, but the docs still exist

Docs: https://docs.saltstack.com/en/latest/ref/cli/salt-unity.html

[2020-02-03 21:38] cmcmarrow commented on #53340
@damon-atkins we are dropping python2 in Sodium.

[2020-02-03 23:10] mariusvw opened #56056 "Creating instances with static IP fails."
### Description of Issue

Creating instances with static IP fails.

### Setup

Configure salt-cloud according to the documentation of 2019.2.3

### Steps to Reproduce Issue

[code]

### Versions Report

[code]

[2020-02-04 11:37] eqvis opened #56058 "highstate_doc:"
### Description of Issue
File "/usr/lib/python3/dist-packages/salt/modules/highstate_doc.py", line 688, in proccesser_markdown
    'requisites': requisites.decode('utf-8'),
AttributeError: 'str' object has no attribute 'decode'

I looked into the file. I think this worked with python2 but not with python3: file is loaded knowing it is utf-8 encoded -> all internal strings are now Unicode and these

[2020-02-04 14:06] Ch3LL commented on #55889
im not certain that everyone is using ubuntu cloud-init, but I agree it would probably be good to note in the documentation for salt-cloud that a user mgiht have to ensure `preserve_hostname` is set. will add as a documentation todo

[2020-02-04 14:07] Ch3LL commented on #55818
any luck?

[2020-02-04 14:08] #53740 closed

[2020-02-04 14:55] lashomb commented on #54513
I know chef is signing all the binaries in chef, probably want the same approach here for salt. https://github.com/chef/chef/pull/9275#issuecomment-581549410

[2020-02-04 15:39] Ch3LL commented on #51496
thanks for the example @boltronics i was able to replicate this on debian 9 with that package. I was not able to replicate it on my laptop though which runs manjaro.

I created a docker container to make it easy to replicate: `docker run -it ch3ll/issues:51496 salt-call --local state.sls test -ldebug` will need to get this fixed up

[2020-02-04 18:54] frogunder opened #56059 "Salt-call Traceback on Amazon Linux 2"
### Description of Issue
When running salt-call commands on an Python 2, Amazon Linux 2 machine on 3000, it gives this traceback.
Command runs fine and returns, it just also gives this traceback:
[code]

### Versions Report
[code]

[2020-02-04 19:51] lomeroe commented on #56013
seems reasonable, I don't think it would be too difficult for someone to add this feature

[2020-02-04 20:07] lorengordon commented on #56013
I didn't think it would be hard, but then I started digging into it, and this code is... **dense**. Turning out to be rather hard for me to figure out where exactly to fit it in.

I was actually thinking it would be easier to just ignore the adml/admx stuff if a user provides the registry paths. Just write out whatever they provide to registry.pol. The comparison and change detection might need so

[2020-02-04 23:02] terminalmage opened #56061 "user.present fails to both change primary group, and set old primary group as an additional group in same run"
### Description of Issue

When you change the default group of a user, but put their old default group into the `groups` list, the `_changes()` helper function in salt/states/user.py that determines what needs to be modified does not catch that the user's old default group will need to be added back. Because of this, that change is not made, causing the state to fail reporting that it couldn't pro

[2020-02-04 23:03] twangboy opened #56062 "LGPO Module doesn't handle **Del and **DelVals properly"
### Description of Issue
The LGPO module will fail to enable some policies if they are set to `disabled`.

### Setup
Set the following Group Policy Setting to `Disabled`:
[code]

### Steps to Reproduce Issue
Run the following state to enable the policy:
[code]
The following will always be the result. The actual value never changes, even though there are no errors:
[code]
### Versions Report
Salt 3

[2020-02-04 23:07] terminalmage opened #56063 "[master] Traceback in esxi grain module on import"
### Description of Issue

Pretty self-explanatory, this happens against the current head of the master branch (81eb15264380d82267ffc3c1930410baf1f3fbf1).

### Steps to Reproduce Issue

On a docker container, I installed the testing modules using `pip install -r requirements/static/py2.7/linux.txt`, which results in the following traceback on _every_ salt-call:

[code]

### Versions Report

[code]

[2020-02-05 05:13] dtmateojr opened #56066 "saltstack 2019 does not come with python-ldap"
### Description of Issue

LDAP authentication does not work because python-ldap is not bundled with the 2019.2.3 RPMs.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

external_auth:
    ldap:
       someuser:
            - .*

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

Access the salt-api using eauth=ldap

### Ver

[2020-02-05 05:21] dtmateojr opened #56067 "file.write could not handle multi-line strings"
### Description of Issue

In saltstack 2016.11.10 we could do something like this:

     file.write /tmp/foobar 'foo\nbar\nbaz'

and it will write three lines into /tmp/foobar.

We recently upgraded to 2019.2.3 and the string is no longer interpreted so /tmp/foobar ends up with just a single line with control characters.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remo

[2020-02-05 08:18] markuskramerIgitt commented on #54447
[stringutil.to_unicode](https://github.com/saltstack/salt/blob/81eb15264380d82267ffc3c1930410baf1f3fbf1/salt/utils/stringutils.py#L121) used or tried utf8. This is good

[2020-02-05 08:19] mgomersbach commented on #27894
This functionality is available if I'm not mistaken : https://docs.saltstack.com/en/master/ref/modules/all/salt.modules.yumpkg.html

I know that Gentoo supports this, but that one might not work without dependency checking, which would get you in troubled water.

Haven't used DNF myself, but could look into this if needed/desired?

[2020-02-05 08:39] markuskramerIgitt commented on #54447
Data.decode

https://github.com/saltstack/salt/blob/81eb15264380d82267ffc3c1930410baf1f3fbf1/salt/utils/data.py#L173

[2020-02-05 10:16] DagW opened #56069 "salt-cloud prints minions private key to output"
### Description of Issue

We are running salt-cloud commands from an Orchestration via Jenkins, and saw the minions private key being printed out to the logs.
I'd rather not see this in the output!

Example output from the cloud.create command:
[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Example SLS file
[code]
### Steps to Reproduce Iss

[2020-02-05 10:50] infantvin opened #56070 "salt-cloud command uses wrong repo to install minion on RHEL8"
### Description of Issue
Using the command similar to

salt-cloud m Salt-Testmachines  machine.abc

to spin a new RHEL8 VM in Vsphere by using salt-cloud.

During the installation stage of the salt-minion on the host machine.abc, there is an error saying
  Error:
        Command 'ssh -t -t -oStrictHostKeyChecking=no -oUserKnownHostsFile=/dev/null -oControlPath=none  -p 22 root@10.106.17.209 '/tmp/

[2020-02-05 10:51] infantvin commented on #56070
Attaching the error message trace of salt-cloud command.
[salt-cloud-rhel8-error.txt](https://github.com/saltstack/salt/files/4159034/salt-cloud-rhel8-error.txt)

[2020-02-05 11:02] DickerDackel commented on #29308
Issue still exists:

`root@xxxxxxxx:/srv/salt# salt $HOSTNAME cmd.run 'x=42; echo $x'
xxxxxxxx:
    Passed invalid arguments to cmd.run: run() takes at least 1 argument (0 given)

        Execute the passed command and return the output as a string

--- snippage ---

-------------------------------------------
Summary
-------------------------------------------
# of minions targeted: 1
# of minion

[2020-02-05 12:48] max-arnold commented on #53504
@xeacott See the `@with_deprecated` decorator source code (this is where `use_superseded` is handled:

https://github.com/saltstack/salt/blob/master/salt/utils/decorators/__init__.py#L536-L537

This is the new-style `module.run` implementation:

https://github.com/saltstack/salt/blob/master/salt/states/module.py#L349

And this is the old-style implementation:

https://github.com/saltstack/salt/blo

[2020-02-05 12:51] eqvis opened #56071 "salt.modules.keyboard function get_sys traceback when cmd.run fails"
# Description of Issue
File "/usr/lib/python3/dist-packages/salt/modules/keyboard.py", line 50, in get_sys
    ret = out[1].replace('"', '')
IndexError: list index out of range

### Setup (sls):
[code]
As in https://docs.saltstack.com/en/develop/ref/modules/all/salt.modules.keyboard.html

### Steps to Reproduce Issue
If the internal cmd.run for get_sys does not work (logged out = 'Could not get pr

[2020-02-05 14:52] Ch3LL commented on #55297
yikes sorry i didnt see that state file. Thanks for pointing that out. I went ahead and replicated this, looks like we need to fix this up since we aren't modifying the file. thanks

[2020-02-05 14:53] brandon-sling commented on #25362
This still seems to be an issue in 2019.2.3

[2020-02-05 15:22] dhiltonp commented on #56053
Yeah, the structure of the option has the same structure as `file_roots` and `pillar_roots`:

[code]

Thanks for the catch!

[2020-02-05 15:27] dhiltonp commented on #56053
Feel free to open another issue about gitfs if `gitfs_root` or `gitfs_base` aren't enough for your use case :)

[2020-02-05 15:29] Ch3LL commented on #51741
i'm seeing the code https://github.com/saltstack/salt/blob/master/salt/payload.py#L109 in master adn 2019.2.3. @mkeen  are you still seeing it? and if so what version of salt?

[2020-02-05 15:33] dhiltonp commented on #56051
Thanks! This looks like it's a duplicate of #54759, take a look and feel free to chime in!

[2020-02-05 15:33] #56051 closed

[2020-02-05 16:18] dhiltonp commented on #56071
Thanks for the report!

[2020-02-05 17:33] frogunder commented on #56063
@terminalmage Thank you for reporting this issue.

I see the same thing when installing the `requirements/static/py2.7/linux.txt`.

Thanks

[2020-02-05 17:49] jrbeilke commented on #51069
Any updates on this issue?

Seems there was already a PR with a fix that was merged, but AFAICT the fix hasn't made it into any of the Salt tagged releases for 2018 or 2019 yet - #51177

At least there's a workaround for now by specifying values for `rdoc` and `ri` options, but it would be nice to fix the issue with the defaults

[2020-02-05 18:40] Talkless commented on #56051
Ouch, I've tried to search but obviously failed.

[2020-02-05 18:52] mkeen commented on #51741
@Ch3LL I'm no longer seeing it in `2019.2.2`

[2020-02-05 19:08] jrdemasi opened #56074 "file.managed is taking newlines and replacing them with spaces from -contents"
### Description of Issue

When file.managed is passed a string with linebreaks denoted as \n in them, it replaces them with spaces instead of newlines
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
I'm setting a jinja variable from a vault module call and trying to use it to put a cert in a file, like so:
[code]
### Steps to Reproduce Issue
Get dat

[2020-02-05 20:29] dhiltonp commented on #56067
Can you please run salt --versions-report? Also, what shell are you using?

[2020-02-05 20:41] kjohnston-cashstar commented on #33901
Is there any chance of reopening this? I also have a similar use case for multiple hosted zones with the same name and don't see a way to make it work with salt.

[2020-02-05 20:48] dhiltonp commented on #56074
In your example the escape characters are backwards - they should be `\n`, not `/n`.

Can you confirm that it is broken with `\n`?

`'certificate': '-----BEGIN CERTIFICATE-----/nMIICnDCCAkKgAwIBAgIQBl6V77mvpeMmaWfqcSZICDAKBggqhkjOPQQDAjCBuTEL/nMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1TYW4gRnJhbmNpc2Nv/nMRowGAYDVQQJExExMDEgU2Vjb25kIFN0cmVldDEOMAwGA1UEERMFOTQxMDUxFzAV/nBgNVBAoTDkhhc2hpQ29ycCBJ

[2020-02-05 21:16] mcarlton00 commented on #55838
Confirming, I'm also seeing this.

It seems to be a python path issue.  On CentOS 8, the salt master doesn't seem to be looking in `/usr/local/` for packages, which is where pip installs things to.  Also note that the salt master is using `/usr/libexec/platform-python`, not `/usr/bin/python3` like you might expect, but they're symlinked together so that's not a problem.

Salt Master 2019.2.3
[code

[2020-02-05 21:21] jrdemasi commented on #56074
Oops - that's my snafu in a find/replace when I was scrubbing sensitive
data and making up a fake cert for the GH issue.  I can confirm that in
production, it's the right way (\n).  I apologize for the error.

On Wed, Feb 5, 2020 at 1:48 PM David Hilton <notifications@github.com>
wrote:

[2020-02-05 21:27] vg22 commented on #55959
Hi @cmcmarrow  Any idea why is this happening? Are you able to reproduce it?

[2020-02-05 21:36] mcarlton00 commented on #55838
It looks like this may have already been fixed here: https://github.com/saltstack/salt-pack-py3/pull/175 but hasn't been released yet

[2020-02-05 21:47] danfoster commented on #55332
I'm still interested in how we can debug this further and hopefully solve it, so commenting to prevent the stalebot from closing this issue.

[2020-02-06 00:02] mlasevich opened #56076 "`order: last` is not respected if another state requires"
### Description of Issue
When determining order of execution, if a state has `order: last` in it (and i suspect any order directive), it is ignored if there is a `requires` involved.

My expectation is that if I specify order explicitly, any relative dependencies are  relative to that order - but instead all relative dependencies are treated as absolute  and order is only used if there are no rela

[2020-02-06 00:06] dtmateojr commented on #56067
I have updated the original post with the output of salt --versions-report.

Our environment uses ksh by default (yeah, don't ask why) but even with my own machine that runs bash by default I am getting the same results.

Thanks.

[2020-02-06 01:50] johncollaros commented on #37840
Hi.

How is this documented? I can't find any reference to it in the master config document.

I have tried setting test: Truet in my master  config file, and when I check with the config.items command i get:

[code]

i have added pillar_opts: True to the minion configuration.

Any help or insight would be greatly appreciated.

[2020-02-06 02:39] #55735 closed

[2020-02-06 05:26] amendlik opened #56078 "salt-ssh fails with FreeBSD target and 'unless' requisite"
### Description of Issue
When using salt-ssh, with the target system running FreeBSD, state execution fails if the SLS contains an `unless` requisite.

### Setup
Here is the SLS I'm using to reproduce this issue:
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
**Source:**
[code]
**Target:**
[code]

[2020-02-06 08:41] damon-atkins commented on #51621
Fantastic its on the plan.

[2020-02-06 09:02] grinapo commented on #46045
Silent masses speaking here. No, it's not. Like I periodically have the problem that:
[code]
Which is caused by a key called twice (or existing two active, alowed keys with the same name).

[code]

 I cannot even list them (I guess they are the same keys coming from different hosts?), and the only way to detect them is to have calls fail, then delete *all* the keys (same name, I can't do it otherw

[2020-02-06 10:38] max-arnold commented on #56078
2019.2.1 is exceptionally buggy (example: https://github.com/saltstack/salt/issues/54804).

Can you try 2019.2.3?

[2020-02-06 10:39] dumol commented on #46760
Got this with 2015.8.8+ds-1 on an Ubuntu 16.04 minion. Managed to fix it by changing `/etc/hosts` as follows:

[code]

You'll also need to restart `salt-minion` after making the change.

[2020-02-06 13:47] ihakh commented on #55909
the row in the database shows the status wrong
success is always false
yes I think the real status_code is in there

[2020-02-06 13:48] ihakh commented on #56025
Please someone response...

[2020-02-06 14:28] Ch3LL commented on #55899
thanks for pointing that out, it should clean up the instance in hashutils,but there is still other instances in the code we need to clean up.

[2020-02-06 14:30] Ch3LL commented on #55881
thanks for this @cathode911 i'll change this to a documentation issue then.

[2020-02-06 14:39] Ch3LL commented on #50323
as you point out with this error: `msg = "The object 'vim.view.ContainerView:session[52cc35f2-f7df-209b-fd4f-1574410b47ec]52ac5f07-30d7-6d44-ad51-95f635eb8686' has already been deleted or has not been completely created",` ooks like for some reason we aren't keeping the same authenticated session, will need to get this fixed.

[2020-02-06 14:45] Ch3LL commented on #39292
seems my initial investigation that this was intended behavior is incorrect, i'll change to a bug issue thanks.

[2020-02-06 15:14] Ch3LL commented on #55695
looks like i'm able to replicate with this state:

[code]

I believe we just need to open that file in binary mode (`rb`)  `with salt.utils.files.fopen(defs_file, 'rb') as fp_:`  can you test that out as well? if it works i'll get some tests written to ensure it works on both python2/python3

[2020-02-06 15:39] #50645 closed

[2020-02-06 15:43] cruscio commented on #55208
staleaway. Can't think of any reason `data_render` should only apply to file input.

[2020-02-06 16:14] xeacott commented on #55987
Thanks. I'll leave this ticket open in case there's other issues but @twangboy has done a lot of awesome work lately with LGPO and this may be resolved with Neon.

[2020-02-06 16:34] dhiltonp commented on #56076
You are correct. Ordering is separate from the requisite system.

Hopefully these links are enlightening :)

https://docs.saltstack.com/en/master/ref/states/ordering.html#the-order-option
https://docs.saltstack.com/en/master/ref/states/requisites.html#requisite-overview

[2020-02-06 16:40] #56076 closed

[2020-02-06 16:41] gigi206 commented on #55161
Not stale

[2020-02-06 16:41] amunoz951 commented on #46665
Not stale

On Thu, Feb 6, 2020 at 8:39 AM stale[bot] <notifications@github.com> wrote:

[2020-02-06 16:42] gigi206 commented on #46665
Not stale

[2020-02-06 16:47] dhiltonp commented on #56070
Thanks for the report!

[2020-02-06 16:48] mlasevich commented on #56076
Ok,  understand this, and this is the problem - there are two independent systems here for doing same job or controlling the order of the states in a different, conflicting manor, resulting in unexpected/unstable behavior, esp. when used in a larger organization where you cannot read every single state to understand and maintain every relationship manually  :-/ This is a serious problem.

[2020-02-06 17:19] sagetherage opened #56080 "Update release notes, pip download page and install docs on pycrpto"
### Description of Issue
Inform via release notes, pip download page and install docs of pycrpto issues

### Related
https://github.com/saltstack/salt/pull/56039

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2020-02-06 17:20] dhiltonp commented on #56069
A solution might be to change your log levels!

I suspect this is an DEBUG or INFO log level message that is logging the results of all commands. Can you confirm this? Including the exact log message (deleting the private key/ip address) would be helpful for confirming what is going on.

[2020-02-06 17:31] dhiltonp commented on #56066
In general, we're moving towards relying on system packages vs. bundling everything with salt - and we don't want to pull in all possible requirements for every feature we support!

This is a little tricky with RHEL6 as they still package Python 2.6. We ship with 2.7 as a result and so you've got to use pip2.7 (as you've learned).

Thanks for the report :)

[2020-02-06 17:31] #56066 closed

[2020-02-06 17:48] dosercz commented on #47870
@garethgreenaway could we solve this issue?

[2020-02-06 18:27] thusoy commented on #54759
Confirming that this is still an issue in Debian 10 on 2019.2.3, but can be fixed by installing `python3-tornado`. This is the relevant depends from the salt-common deb which ends up installing `python3-tornado4`:
`python3-tornado4 (>= 4.2) | python3-tornado (<< 5), python3-tornado4 (>= 4.2) | python3-tornado (>= 4.2)` (no idea why it's duplicated)

[2020-02-06 19:59] dhiltonp commented on #56059
Closing this in favor of #56063, thanks Frode :)

[2020-02-06 20:11] amendlik commented on #56078
I can't reproduce this with 2019.2.3.

How can I obtain a 2019.2.3 build for Fedora?

[2020-02-06 20:53] waynew commented on #33751
@sagetherage for some history (I actually wasn't aware of *this* issue), I've talked with Tom about it and `file.line` should absolutely be split into individual, well-tested functions. As it is, it's inconsistent and [not recommended](https://github.com/saltstack/salt/pull/53888/files#diff-3b447dc835943beb1326f98f684fe783R4474-R4480). Feel free to hit me up for more info 😂

[2020-02-06 21:12] PaulWBrassard commented on #52981
Any chance we could get an ETA on this? We have some vulnerability scans that pick this up and opens new tickets each time so I'm hoping to lay out the timeline for our security team.

[2020-02-06 21:28] #40888 closed

[2020-02-06 21:45] darkn3rd commented on #24925
I am running into the same problem with `salt-minion 2019.2.3 (Fluorine)`.

I use something like this:
[code]

When I run something depended on the docker module, such as `docker_container.running` state, I I get a traceback.

[2020-02-06 21:48] darkn3rd commented on #54449
I run into the same issue with `salt-minion 2019.2.3 (Fluorine)` when running:
[code]

I install the docker module, but then run  `docker_container.running`, which does a Traceback.

[2020-02-06 22:37] #55742 closed

[2020-02-06 22:43] teran-mckinney commented on #54105
Not stale.

[2020-02-06 22:54] kinwolfqc commented on #43718
As long as salt won't be able to use all the DSCRessources like Ansible or Puppet can, it will never be a contender in the windows world.

[2020-02-06 22:59] tash commented on #55250
Fixed in https://github.com/saltstack/salt/commit/23a3fe556f7e8fa88257de8233c1f1623a2f9bbc

[2020-02-06 22:59] #55250 closed

[2020-02-06 23:52] Oloremo commented on #49301
Not stale

[2020-02-06 23:58] OrangeDog commented on #54846
Unstale

[2020-02-07 00:11] dmurphy18 commented on #55924
Done, 15.1 will appear with the next point release Neon (Salt 3000) which is immanent (mid-Feb)
Closing this as resolved

[2020-02-07 00:11] #55924 closed

[2020-02-07 02:50] astronouth7303 commented on #48059
shoosh stalebot

[2020-02-07 04:35] johnnybubonic commented on #51153
not stale; pending merge of https://github.com/saltstack/salt/pull/55914

[2020-02-07 04:37] johnnybubonic commented on #55072
keep open

[2020-02-07 07:07] poofyteddy commented on #39420
Can we get a Confirmed status on this ? Maybe someone from salt to check on #54097 who work flawlessly with us for now ?
Having infrastructure breakdown because the pillars can't be trusted is very very troublesome ...

[2020-02-07 07:48] gmsoft-tuxicoman commented on #39420
It's been working for me as well flawlessly. I can't use salt without this patch since pillar will be pulled from random branches,

[2020-02-07 08:40] baby-gnu commented on #54310
I'm still interested by this feature.

[2020-02-07 11:41] batgranny opened #56088 "salt.modules.mssql Documentation Omits Minion Config"
### Description of Issue
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.mssql.html
The mssql module documentation neglects to mention explicitly that the pymssql python module should be installed on both the Salt master and the minion.

[2020-02-07 11:54] max-arnold commented on #53536
Bump

[2020-02-07 12:43] MrDiba opened #56089 "[Feature request] add lvm pvresize and lvextend to linux_lvm"
### Description of Issue
I would like to resize lvm physical volumes and extend the logical volumes, but both of the functions are not implemented in the linux_lvm module.

https://docs.saltstack.com/en/master/ref/modules/all/salt.modules.linux_lvm.html

[2020-02-07 12:46] sblaisot commented on #52983
issue not fixed, please do not close

[2020-02-07 12:49] houtuo opened #56090 "Unable to manage file: 'module' object has no attribute 'path' on suse"
### Description of Issue
I'm going to execute a salt state.
The first execution fails, and the second succeeds without any changes.
Report the following error:
salt07.suse:
----------
          ID: weblogic-noproc.conf
    Function: file.managed
        Name: /etc/security/limits.conf
      Result: False
     Comment: Unable to manage file: 'module' object has no attribute 'path'
     Started: 02:

[2020-02-07 12:49] damon-atkins commented on #43718
@twangboy  Some time need to be invested in this, maybe someone in the working group would like to look into it who has more experiance with clr

[2020-02-07 12:54] damon-atkins commented on #46665
A solution would be logs per job.  Instead of one main log.  Or watching the event bus with a filter?
Maybe a simple 1/123 tasks stored in the job file after each job is completed, with name of the last id executed.

[2020-02-07 13:37] kiemlicz commented on #52136
not yet

[2020-02-07 13:57] peter-scott commented on #54759
@dmurphy18 the `python3-tornado` maintainers are clearly expecting us to upgrade to `python3-tornado` >5, so it seems like a valid issue that salt doesn't support that yet.

What are the issues with using `python3-tornado` > 5?
I have seen statements that there _is_ a compatibility problem but no clear description of _what_ compatibility problem.

[2020-02-07 13:59] garethgreenaway commented on #55971
@vlina Thanks for the report and apologies for the delay in responding.  I was able to reproduce the above error and will continue to investigate the cause.

[2020-02-07 14:12] tkykm opened #56091 "salt-cloud not working with azure and unmanaged disk"
### Description of Issue

The azurearm module fail to create a unmanaged disk.
Because it attempt to create VirtualHardDisk instance with string arugment, but it should pass it as keyword argument like VirtualHardDisk(uri='https://~~~')
https://github.com/saltstack/salt/blob/master/salt/cloud/clouds/azurearm.py#L1162

### Setup
stable 2019.2.2 python3

### Steps to Reproduce Issue
set `vhd: unmana

[2020-02-07 14:18] rico256-cn commented on #55597
@waynew

[2020-02-07 14:33] garethgreenaway commented on #55971
@vlina One thing I did notice is that Python 3.8 is being installed by Alpine, that version is currently not supported.  It might not be the issue but something to point out.

[2020-02-07 14:34] waynew commented on #55597
@rico256-cn thanks for the interest! I haven't started work on this yet, if you're interested in implementing it you're more than welcome to give it a shot. PRs are welcome here! :)

[2020-02-07 14:47] max-arnold commented on #48067
Bump

[2020-02-07 15:09] 9numbernine9 commented on #52329
Sorry stale-bot, but this is still an issue!

[2020-02-07 15:12] waynew commented on #52983
@sblaisot did you have a chance to read my previous comment? Still waiting on a response to that.

[2020-02-07 15:13] waynew commented on #53536
I'll add this to our agenda to get some 👀

[2020-02-07 15:14] sblaisot commented on #52983
I agree having a way upstream to disable formatting is probably the best way.

[2020-02-07 15:38] TheJJ commented on #45521
bad bot

[2020-02-07 15:39] dwoz commented on #36991
@damon-atkins We should be moving towards doing argument validation on state and module functions. This proposed design leads to a lot of ambiguity as to what those arguments are. I'm closing this, If you still feel very strongly please create a [SEP](https://github.com/saltstack/salt-enhancement-proposals) for the proposed change.

[2020-02-07 15:39] #36991 closed

[2020-02-07 15:43] doesitblend commented on #53174
ZD-4199

[2020-02-07 15:51] sagetherage commented on #35890
@cmcmarrow assigning you this bug, can you please give priority and severity labels?

[2020-02-07 15:52] 9numbernine9 commented on #55032
Please don't close this stale-bot - this still appears to be an issue in `2019.2.3` (and @oliverisaac 's patch continues to work just fine too).

[2020-02-07 15:53] sagetherage commented on #53536
this is a bug assigning to @garethgreenaway to work and putting in approved milestone, in planning we can look at where it goes in releases

[2020-02-07 15:54] sagetherage commented on #35724
We will need keep the zeromq dependency since our proposed new logging uses it. Closing as we are unable to do this at this time.

[2020-02-07 15:54] #35724 closed

[2020-02-07 17:32] Mapel88 commented on #53938
Not stale!!!!
Why is no one checking this bug????
You got all the information you need!

[2020-02-07 17:43] garethgreenaway commented on #55652
@sindhukothe Apologies for the delay in responding to this one.  Can you confirm if the minions in question are regular Salt minions or are they proxy minions? Thanks!

[2020-02-07 17:56] philipmattingly commented on #48667
I am having the same issue.. trying to pass command line args to virtualenv during the create phase.

I tried setting VIRTUALENV_<vars> via `- env_vars:` which will be inspected by virturalenv. but they are not set when the venv cmd is run.

[2020-02-07 18:23] asomers commented on #54448
Is there a workaround?

[2020-02-07 18:34] garethgreenaway commented on #55971
@vlina Found the issue, the Salt master is attempting to use the default location for the `sqlite_queue_dir` options which lives under `/var/cache/salt/master/queues`, if you override that configuration option then it should work as expected.

[2020-02-07 18:43] twangboy commented on #43718
@damon-atkins I think you're right

[2020-02-07 18:46] michaeljonaitis commented on #41458
I am running salt 2019.2.3 with rabbitmq 3.8.2 and this is still an issue.

          ID: rabbitmq_proton
    Function: rabbitmq_user.present
        Name: proton
      Result: False
     Comment: Error: RabbitMQ command failed: Error:
              {:undef, [{:rabbit_auth_backend_internal, :check_user_login, ["<<user>>", [password: "<<password>>"]], []}, {:erl_eval, :do_apply, 6, [file: 'erl_eval

[2020-02-07 20:35] sagetherage commented on #52726
@f-andriot I noticed this is closed, but tied to an open PR, the stale bot should stop closing this since the most recent update to its config and since they are linked once your PR is merged it should close it. Thanks!

[2020-02-07 21:04] mattpascoe commented on #53683
I just confirmed in my instance that cp.push does not work but cp.push_dir does work... Seems to me something is busted.

[2020-02-07 21:15] sagetherage commented on #55113
@garethgreenaway this tickets needs to be triage'd can I get your help please?

[2020-02-07 21:17] sagetherage commented on #55120
moving this to the `approved` milestone and will re-assign next week

[2020-02-07 21:41] Akm0d commented on #56043
If you add `--state-output=terse` to the `state.apply` command then no changes will be shown in the output

[2020-02-07 21:47] sblaisot opened #56093 "pillar.filter_by not working with salt-ssh"
### Description of Issue

`pillar.filter_by` seems to be broken under `salt-ssh`

It works correctly in a master-minion environment.

### Steps to Reproduce Issue
- Add a pillar `environment: dev`
- Apply `pillar.filter_by` on a dict with this pillar

[code]

Relevant debug logs are:
[code]

on the same minion server, with a salt-minion connected to a salt-master and the same pillar:
[code]

### V

[2020-02-07 22:23] #55405 closed

[2020-02-07 22:25] js-capra commented on #53683
Exactly my experience as well. Either the documentation isn’t correct or the feature is simply broken.

James Smith
Senior Security Engineer
720.360.6441

221 N LaSalle St #1325
Chicago, IL 60601
www.wcapra.com
________________________________
From: Matt Pascoe <notifications@github.com>
Sent: Friday, February 7, 2020 4:04:57 PM
To: saltstack/salt <salt@noreply.github.com>
Cc: James Smith <jsmith@

[2020-02-07 22:29] js-capra commented on #53683
Awesome. Can and admin remove my information above? Email auto reply just had some great information leakage.
________________________________
From: James Smith <jsmith@wcapra.com>
Sent: Friday, February 7, 2020 5:25:29 PM
To: saltstack/salt <reply@reply.github.com>; saltstack/salt <salt@noreply.github.com>
Cc: Author <author@noreply.github.com>
Subject: Re: [saltstack/salt] cp.push broken in modu

[2020-02-07 22:32] sagetherage commented on #55381
@pprkut this is fixed are you able to verify that from using a later version?

[2020-02-07 22:33] #55901 closed

[2020-02-07 22:36] sagetherage commented on #55920
@xeacott @Akm0d this still needs to be triage'd between one of you please get this done.

[2020-02-07 22:54] whytewolf commented on #56025
@ihakh

Location is dependent on your `file_roots` or other fileserver based settings.The default would be `/srv/salt/_returners/`. the sync commands take the file from `salt://_returners`

After that, you need to make sure you run `salt-run saltutil.sync_all` or `salt-run saltutil.sync_returners` This will sync it to the master.

Even after that it still takes a restart of the master sometimes.

[2020-02-07 23:12] sagetherage commented on #56078
@dmurphy18 can you help here?

[2020-02-07 23:14] aarnaud commented on #46902
still present, title can be renamed because issue present also on 18.04.

[2020-02-07 23:14] aarnaud commented on #46902
PR submitted

[2020-02-08 00:20] kveroneau commented on #55818
Yes, it worked.  Thank you for pointing out the version differences.

[2020-02-08 00:20] #55818 closed

[2020-02-08 03:34] maining123 opened #56096 "The salt-api use nodegroup to targeting，but return {}"
### Description of Issue

/etc/salt/master
[code]

### Setup
[code]
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)
salt 2019.2.3 (Fluorine)
salt-api 20

[2020-02-08 07:35] pprkut commented on #55381
I'm not in a position where I can upgrade very easily, but I'll check as soon as I can. Might take some time though

[2020-02-08 09:44] udf2457 commented on #56043
@Akm0d That is what I call a workaround, not a solution. ;-)

[2020-02-08 10:17] damon-atkins commented on #35724
@sagetherage Thats unfortunate, as companies which use zeromq, have issue when salt minion needs a newer version.

[2020-02-08 10:57] markuskramerIgitt commented on #55179
Not stale

[2020-02-08 11:25] mchugh19 commented on #50186
This is corrected in #55842

[2020-02-08 11:26] mchugh19 commented on #51192
Possibly in need of a feature request flag to placate stalebot

[2020-02-08 11:28] OrangeDog commented on #51823
unstale

[2020-02-08 11:29] OrangeDog commented on #51830
unstale

[2020-02-08 11:29] OrangeDog commented on #51833
unstale

[2020-02-08 11:33] OrangeDog commented on #52308
unstale

[2020-02-08 14:19] aaronwmorris commented on #54444
I ran into this same issue trying to modify olcSyncrepl using Ansible.

Apparently, modifying the olcSyncrepl attribute has an issue with case sensitivity.  If you query the settings, you will notice olcSyncrepl has a lower case r instead of upper case.  Adding the attribute is case insensitive, but modifying is case sensitive.

If you change your attribute to olcSyncrepl (lower case r), it will p

[2020-02-08 16:47] sathieu commented on #50294
Still not stale...

[2020-02-08 19:01] Reiner030 commented on #46021
the stable bot... the new variant of "bugfixing by ignoring"...

[2020-02-08 21:04] Oloremo commented on #56043
Regarding the outputs Ansible has a `no_log` feature: https://docs.ansible.com/ansible/latest/reference_appendices/logging.html#protecting-sensitive-data-with-no-log

Which is very useful. I wish it'd be possible to do something like this to arbitrary Salt state.

[2020-02-08 21:55] nickgarber commented on #39501
This is still valid and valuable. Hopefully merging Consul sub-trees into Pillar by nodegroup will be supported at some point.

[2020-02-08 23:02] alfotos commented on #51919
I have created a pull request for this. However I am not sure how to write a test for it, as the main feature requires to create a VM in order to check the effect of the wait for IP while creating a VM. I will appreciate any advice or direction on how to implement this.

[2020-02-08 23:08] lorengordon commented on #54334
Not stale, or is ready

[2020-02-09 01:57] max-arnold commented on #48486
Bump

[2020-02-09 02:14] max-arnold commented on #48170
Bump

[2020-02-09 06:23] mitar commented on #44912
Unstale.

[2020-02-09 06:23] mitar commented on #43231
Unstale.

[2020-02-09 06:34] max-arnold commented on #49493
Bump

[2020-02-09 06:49] cachedout commented on #55829
Hi @sagetherage

I briefly subscribed to the repo to see if the noise level has gone down and while it has improved, there still seems to be a high number of issues which stalebot is tagging and probably should not. Here are the examples from the twelve hours:

https://github.com/saltstack/salt/issues/46616#issuecomment-583802528
https://github.com/saltstack/salt/issues/49931#issuecomment-58376456

[2020-02-09 09:11] youk commented on #49065
Fix it already for fuck's sake instead of trying to close it.

[2020-02-09 10:23] Sakorah commented on #54101
any news on this issue? I manage a lot of containers with this and every time I run a state.apply the state triggers a change (with no change at all) and therefore triggers a lot of other states...

[2020-02-09 11:55] max-arnold commented on #54835
Is it the same problem that described in the mailing list?  https://groups.google.com/forum/m/#!msg/salt-users/vkYljFCtzt4/5JGp71nRBwAJ

Then maybe the following PR has a fix: https://github.com/saltstack/salt/pull/50696

[2020-02-09 13:26] brianthelion commented on #44937
This is not stale.

[2020-02-09 14:19] max-arnold commented on #48434
Bump

[2020-02-09 14:19] vlina commented on #55971
That solved the that specific permission issue and I'm able to start the master. When I try to run `salt '*' test.ping` inside the container I now get this:
[code]
Even though I've set `log_file: /data/logs/master` in the master config.

[2020-02-09 14:29] vlina opened #56102 "[Feature request] Configure master through environment variables"
### Description of Issue
To ease running the master in a container, all [configuration options](https://docs.saltstack.com/en/latest/ref/configuration/master.html) should be configurable through environment variables.

Instead of this:
[code]

We could do this (example of what it could look like)
[code]

[2020-02-09 15:43] doc987 commented on #47628
The "requires" are described in the my first comment on this page (https://github.com/saltstack/salt/issues/47628#issue-322563536).  The example is in my second comment (https://github.com/saltstack/salt/issues/47628#issuecomment-388976808).  Having both `require` and `require_in` in the example wouldn't make sense.  If one were to insert either `require` *or* `require_in` into the example as desc

[2020-02-09 17:59] udf2457 opened #56103 "Enhancement request: webutil (htpasswd) enhance algo support to add bcrypt"
The docs seem to imply MD5, CRYPT or SHA are the only choices for `htpasswd` when called via `webutil`.

`htpasswd` supports bcrypt (" -B     Use bcrypt encryption for passwords.").

I would suggest that given the choice between MD5, CRYPT, SHA or bcrypt that bcrypt is the preferable choice and should be the default ?

[2020-02-09 19:31] Mrten commented on #43850
.

[2020-02-09 23:18] boltronics commented on #46616
I stand by my previous comments that the required YAML structure will require changing (and we should consider moving away from a whitelist) to fully address the problems discussed. As it stands, there remain a number of limitations with regards to what can be done with Salt and iptables via Salt's built-in state and execution modules.

This still requires discussion.

[2020-02-09 23:24] boltronics commented on #50611
I still think someone should be looking into this. Otherwise, we should be making it crystal clear to users and developers that Salt's tests (by default) are likely to present security risks to the user the tests are executed as.

[2020-02-10 00:03] timwsuqld commented on #39709
@SaltStackSupport Can we please have the stalebot not be so aggressive. 30 days is way too aggressive

[2020-02-10 00:06] timwsuqld commented on #55829
It would be great to not have stalebot trigger at 30 days of inactivity, until you've sorted out the labels issues. Lots of old issues have those labels and so every 30 days at the moment I'm being forced to unstale issues.

[2020-02-10 01:57] dtmateojr commented on #56067
Just an update, I have tried downgrading to 2018.3.5 and we are having exactly the same issue.
Thanks.

[2020-02-10 03:21] yelanfanxing opened #56104 "use java salt-netapi-client return 500, but it works fine while i select from salt_returns"
[code]

table of salt_returns :
[code]
version-report is 👍
[code]

[2020-02-10 03:34] timwsuqld commented on #52332
Not stale

[2020-02-10 07:56] root360-AndreasUlm commented on #45441
@gtmanfred As this issue still persists and was accepted by the salt-core team can the stale-bot be deactivated for this issue?
Otherwise I have to add bumping comments every month just to prevent the automatic closure.

[2020-02-10 07:58] L4rS6 commented on #54448
Why are you looking for a workaround? This has already been fixed by #55374

[2020-02-10 08:02] DagW commented on #56069
Hello! The problem is that it is being printed in the result, and that is stored in our jenkins build logs.  It's not being printed to logs.

We are triggering an orchestration via salt-api, and in the json formatted result we can see the private key.

[2020-02-10 08:03] cachedout commented on #45441
@sagetherage Could you please add this to your triage list so that the correct lables are applied? Thanks.

[2020-02-10 08:07] theunkn0wn1 opened #56106 "Installing salt-minion via bootstrap on AGX Xavier puts device in a boot loop"
### Description of Issue
Directly after installing the salt-minion on an AGX Xavier, the system fell into an unrecoverable boot loop.

### Setup
N/A -  didn't get far enough to configure the minion.

### Steps to Reproduce Issue
1. Flash Jetpack 4.3 to an AGX Xavier
2. Run the bootstrap Salt installer for minions as per https://repo.saltstack.com/index.html#bootstrap
3. RIP.

### Versions Report

[2020-02-10 10:22] ArthurREGNARD opened #56107 "Strange behavior between file.comment and file.uncomment"
### Description of Issue

I can't comment and uncomment the same line in a file with the same regex.

### Setup
An example.sls:

[code]

### Steps to Reproduce Issue
Up.

### Versions Report
[code]

[2020-02-10 10:24] ArthurREGNARD commented on #56107
Related with #24907 ?

[2020-02-10 10:24] ArthurREGNARD commented on #56107
Related with #55085 ?

[2020-02-10 11:20] OrangeDog commented on #54835
@max-arnold I don't think so. The `wait_for_minion` states are reporting success, not timeout.

[2020-02-10 11:43] 53c70r commented on #54392
bootstrap using
[code]
will fail on Fedora31;
[code]

[2020-02-10 12:00] DmitryKuzmenko opened #56108 "macosxsierra and macoshighsierra jenkins jobs fail to bootstrap at `timelib` installation step"
### Description of Issue
https://jenkinsci.saltstack.com/job/pr-macosxsierra-py3/job/master/505/console
https://jenkinsci.saltstack.com/job/pr-macosxhighsierra-py3/job/master/514/console

[code]

[2020-02-10 12:05] DmitryKuzmenko opened #56109 "Multiple tests reports "cannot allocate memory" on centos6 py2 master builds"
### Description of Issue
https://jenkinsci.saltstack.com/job/pr-centos6-py2/job/master/623/testReport/junit/

[code]

[2020-02-10 12:44] DmitryKuzmenko opened #56110 "integration.cloud.clouds.test_vultrpy.VultrTest.test_list_images fails on centos7 py2 and py3"
### Description of Issue
https://jenkinsci.saltstack.com/view/2019.2.3%20Branch%20Jobs/job/pr-centos7-py2-cloud/job/2019.2.3/63/testReport/junit/integration.cloud.clouds.test_vultrpy/VultrTest/test_list_images/
https://jenkinsci.saltstack.com/view/2019.2.3%20Branch%20Jobs/job/pr-centos7-py3-cloud/job/2019.2.3/63/testReport/junit/integration.cloud.clouds.test_vultrpy/VultrTest/test_list_images/

[c

[2020-02-10 13:24] Deshke commented on #50313
nope, did not fix the issue

[code]

![Bildschirmfoto vom 2020-02-10 14-22-09](https://user-images.githubusercontent.com/1473225/74153375-c5cdad80-4c10-11ea-916e-94e1775b15b4.png)

4 hours runtime with 1.0.2 got me to 1.11 GiB, while 1.0.3 got me to 1.13 GiB

[2020-02-10 13:36] aTastyCookie commented on #38152
Meanwhile, the problem persists and causes pain :(

[2020-02-10 14:12] asomers commented on #54448
For use on environments that still use version 2019.02, a workaround is necessary.

[2020-02-10 14:41] kiemlicz commented on #51123
This is merged actually.
I don't know if this should be closed now or once the fix is released?

[2020-02-10 14:44] kiemlicz commented on #44768
gladly reopen the issue

[2020-02-10 14:45] kiemlicz commented on #50419
gladly reopen the issue

[2020-02-10 14:45] kiemlicz commented on #48285
gladly reopen the issue

[2020-02-10 14:50] Ch3LL opened #56111 "Deprecate old msazure cloud driver"
We should put the msazure drive on a deprecation path. see issue https://github.com/saltstack/salt/issues/55849#issuecomment-580324380 since azure does not plan on supporting it going forward.

The azurearm driver should be the driver used going forward.

[2020-02-10 15:02] johnnybubonic commented on #51360
stalebot, i JUST marked this as unstale yesterday. wat r u doin

[2020-02-10 15:30] jyriatntt commented on #52981
Hi @waynew I don't think that that works as you think that it will work:
ubuntu:~$ curl -XGET --insecure -i --tlsv1.0 https://localhost:8080
HTTP/1.1 200 OK
Date: Mon, 10 Feb 2020 15:12:25 GMT
Content-Length: 11
Content-Type: text/html;charset=utf-8
Server: CherryPy/8.9.1

Salt Rocks!

[2020-02-10 15:44] Ch3LL commented on #51069
i see the code from that PR in the neon rc tag so it will be included in the neon 3000 release. since the fix is merged in I'll go ahead and close here, but please let me know if i need to re-open

[2020-02-10 15:44] #51069 closed

[2020-02-10 15:45] Ch3LL commented on #51741
perfect i'll go ahead and close :) thanks for confirming

[2020-02-10 15:46] esilva-everbridge commented on #49586
This issue has been plaguing us for some time, if there are any developments I'd love to hear about it.

[2020-02-10 15:53] Ch3LL commented on #33901
@kjohnston-cashstar if you set the `identifier` do you get hte same keyerror?

[2020-02-10 15:57] Ch3LL commented on #55838
thanks for pointing to that @mcarlton00

@dmurphy18 can you confirm what releases users can expect this new fix to be included in with the packages?

[2020-02-10 16:01] tash opened #56113 "virt.init with overlay_image=True fails writing the overlay image"
### Description of Issue
On initializing a new VM image throuhg virt.init and providing disks{..., 'overlay_image'=True, ...} results in an error:
[code]
It appears that for whatever reason the formatting/escape of double quotes breaks:

https://github.com/saltstack/salt/blob/81eb15264380d82267ffc3c1930410baf1f3fbf1/salt/modules/virt.py#L808-L812

Also, backing files should be provided with ``qemu

[2020-02-10 16:16] DmitryKuzmenko commented on #56107
@ArthurREGNARD the problem is in your regex: it's too greedy. It matches both commented and not commented lines in your file. So state thinks your line is already uncommented because it matched with your regex.
Try to use something like `^[^#].*swap.*$`.
You could omit `^` and `$` symbols, btw: `[^#].*swap.*`.

[2020-02-10 16:16] sagetherage commented on #45441
@DmitryKuzmenko please put this on your list of tickets to triage this week - looks like it may have been lost in the blocked milestone and never had follow up.

[2020-02-10 16:16] DmitryKuzmenko commented on #56107
Feel free to re-open this if you'll have more questions, though.

[2020-02-10 16:29] sagetherage commented on #49575
@garethgreenaway looks like this is still an issue, can you check please?

[2020-02-10 16:30] ArthurREGNARD commented on #56107
I'm not agree, the documentation say :
[code]
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.uncomment

[2020-02-10 16:32] ArthurREGNARD commented on #56107
@DmitryKuzmenko I can't re-open.

[2020-02-10 16:42] ArthurREGNARD opened #56114 "RE-open : Strange behavior between file.comment and file.uncomment"
#56107

[2020-02-10 16:43] garethgreenaway commented on #55971
@vlina Glad that got you going again, this is a documentation bug then.  Thanks!

[2020-02-10 17:02] sagetherage commented on #46616
@garethgreenaway can you help drive a discussion here, please?

[2020-02-10 17:05] sagetherage commented on #48493
yes, this does look like a `Feature Request` updating and will attempt to get the discussion going.

[2020-02-10 18:04] infantvin commented on #56070
Hi,

There is something I experimented on and want to share the findings with you.

As I stated previously, the salt-cloud command is failing at this stage:

Error:
Command 'ssh -t -t -oStrictHostKeyChecking=no -oUserKnownHostsFile=/dev/null -oControlPath=none -p 22 root@10.106.17.209 '/tmp/.saltcloud-41bf7c3c-80d8-457a-89c9-5b92b30c5e49/deploy.sh -c '"'"'/tmp/.saltcloud-41bf7c3c-80d8-457a-89c9-5b

[2020-02-10 18:13] kjohnston-cashstar commented on #33901
@Ch3LL thanks for getting back so quickly! I didn't actually try that because, based on https://docs.saltstack.com/en/latest/ref/states/all/salt.states.boto_route53.html, it doesn't sound like `identifier` is used to specify a hosted zone id in `salt.states.boto_route53.present`. The documentation says it is used for "The unique identifier to use for this record."

I ended up rolling my own soluti

[2020-02-10 18:36] TheVakman commented on #50327
Agreed, this is still a problem and should be re-opened.

[2020-02-10 18:41] #56080 closed

[2020-02-10 18:44] simmel commented on #48498
Wow, every month huh?

On Mon, 2020-02-10 at 04:38:40 -0800, stale[bot] wrote:

[2020-02-10 18:47] alan-cugler opened #56116 "docs clarification for pillar_opts configuration option"
### Description of Issue
This [salt doc](https://docs.saltstack.com/en/latest/topics/tutorials/pillar.html#setting-up-pillar) has a section about the `pillar_opts` option for sharing the master config file as a pillar for the minions to see. It doesnt make it clear that there are actually two `pillar_opts` to be enabled/disabled. One is on the master and one is on the minion.

### relevant section

[2020-02-10 20:33] nixjdm commented on #52278
@Ch3LL or @waynew Could you please add the [Feature](https://github.com/saltstack/salt/blob/master/.github/stale.yml#L18) label to prevent this staling? I don't mind if it continues to be "pending discussion". Though I don't have time atm to spearhead working this ticket, my interest in seeing it happen won't wane anytime soon :)

[2020-02-10 20:35] jpsv opened #56117 "Windows reg.present: Error resolving "S-1-15-3-1024-1065365936-1281604716-3511738428-1654721687-432734479-3232135806-4053264122-3456934681""
### Description of Issue
When updating registry components for active hours, I'm getting errors on the minion concerning this SID:

`S-1-15-3-1024-1065365936-1281604716-3511738428-1654721687-432734479-3232135806-4053264122-3456934681`

This appears to be a capability account in Windows notorious for not having a username: https://nakedsecurity.sophos.com/2019/05/22/dont-break-windows-10-by-deletin

[2020-02-10 20:50] alan-cugler commented on #52278
I believe this issue will be solved via a possible project objective for the Docs working group.

[2020-02-10 21:03] ryanmilne-digicert opened #56118 "mine.get returns different dictionary format in version 3000"
I created couple new servers today and noticed that the output of the mine function I use for getting  the ip address of the minion is returning in a different format.    I can find documentation about the change in format for defining a mine function, but nothing noting the difference in output.

Am I overlooking something?

### Set
mine function definition (via pillar):
[code]

command to get mi

[2020-02-10 21:06] finalduty opened #56119 "Release notes for v3000 do not mention changes to `slspath` variable"
### Description of Issue
[Release notes for v3000 ](https://docs.saltstack.com/en/latest/topics/releases/3000.html) do not mention changes to `slspath` variable by #55434 / #55433 , which previously returned the parent directory instead of the path to the state file itself.

This functionality appears to be covered by the `tpldir` variable, but this is not documented on https://docs.saltstack.com/

[2020-02-10 21:07] darkn3rd commented on #53511
Wondering if this will be fixed in the documentation?

[2020-02-10 21:07] darkn3rd commented on #4697
I am still interested in this feature.  It would be great.

[2020-02-10 21:12] cchildress commented on #39018
Remove stale.

[2020-02-10 21:33] garethgreenaway commented on #49575
I believe this is actually fixed now with the release of 3000 and the vendoring of tornado.

[2020-02-10 21:48] ryanmilne-digicert commented on #56119
+1

I was about to create an issue for the exact same problem.  Good find with the tplpath variable.

[2020-02-10 22:05] sagetherage commented on #55594
Looks like this is fixed, so merely updating the label @Linuturk can you let us know if #55694 solves the issue, please?

[2020-02-10 22:27] sagetherage commented on #55295
@dwoz can you take a look at this one, please?

[2020-02-10 22:29] sagetherage commented on #55799
@waynew can you please take a look at these comments?

[2020-02-10 22:29] garethgreenaway commented on #46616
@boltronics Thanks for the update to keep this discussion going.  It seems like the iptables needs some overhauling.

[2020-02-10 22:31] sagetherage commented on #55782
@frogunder I am not sure the @saltstack/team-suse is reaching the team or might be noisy GitHub emails, do you have a contact or @Akm0d maybe you have a contact with SUSE that might help here?

[2020-02-10 22:33] sagetherage commented on #55247
@Akm0d @xeacott can one of you please follow up here?

[2020-02-10 22:34] #55184 closed

[2020-02-10 22:36] #55180 closed

[2020-02-10 22:38] sagetherage commented on #54028
@garethgreenaway can you follow up here, please?

[2020-02-10 22:40] sagetherage commented on #53944
@alan-cugler I will self assign and look at updating labels for docs in the very near future.

[2020-02-10 22:42] sagetherage commented on #53746
@Ch3LL can you answer @alan-cugler question and if needed we can then open a PR to update docs based on your answer. Thanks!

[2020-02-10 22:44] sagetherage commented on #53040
@dmurphy18 can you follow here, please?

[2020-02-10 22:45] sagetherage commented on #53028
@garethgreenaway can you do a bit more follow up here, please?

[2020-02-10 22:46] sagetherage commented on #52949
@waynew I don't think this needs a pending discussion any longer, correct? Can you please follow up?

[2020-02-10 22:48] sagetherage commented on #53017
@garethgreenaway can you please follow up, here?

[2020-02-10 22:49] sagetherage commented on #52183
@garethgreenaway looks like this need a bit of follow up, please.

[2020-02-10 22:50] sagetherage commented on #51764
@waynew or @DmitryKuzmenko can one of you please do a bit of follow up, here?

[2020-02-10 22:52] sagetherage commented on #51755
@waynew does this still need follow up, assigning for you to decide and move it forward appropriately.

[2020-02-10 22:55] sagetherage commented on #51736
@Akm0d can you please take this to the Cloud Working Group at their next meeting and I will try to get details on the make_master from @saltstack/team-core or perhaps @techhat

[2020-02-10 23:09] garethgreenaway commented on #55591
@evenyougreg Apologies for the delay in responding.   Looks like I might have combined the configuration the ps beacon and the service beacon, the below configuration for the service beacon will work:
[code]

[2020-02-10 23:55] whytewolf commented on #49575
with the v3000 release, this does look fixed.

[2020-02-11 00:18] garethgreenaway commented on #53152
Catching up on this and I might have been able to reproduce it.  Need to do a bit more testing.

[2020-02-11 00:32] Akm0d commented on #55247
Does this PR address the issue? https://github.com/saltstack/salt/pull/56023

[2020-02-11 00:39] Akm0d commented on #55247
The referenced PR is a step towards a fix for this issue, let's remove  the `if salt.utils.platform.is_windows()` and solve whatever issues pop up after that in a new PR

[2020-02-11 00:43] max-arnold commented on #56118
Probably introduced in https://github.com/saltstack/salt/pull/55760

CC: @github-abcde

[2020-02-11 01:56] sagetherage commented on #51736
or maybe @s0undt3ch Joseph said you would likely know about the make_master stuff

[2020-02-11 07:38] Vaelatern commented on #42539
sadly still relevant, trying to find a solution that satisfies everybody.

[2020-02-11 09:19] haodeon commented on #55507
@cmcmarrow I finally got a chance to review your fix and realise I got confused between "cwd" and "bin_env".

Testing on a windows minion without your fix. Omitting "bin_env" like `salt-call --local -l debug pip.list cwd='C:\salt\bin\Scripts'` strangely works and produces the expected output.

I get it now you've changed the module so "cwd" can be omitted. Ignore my previous message.

[2020-02-11 10:07] githubcdr opened #56121 "salt-minion broken after upgrade to 3000"
### Description of Issue

Salt-minion is not functioning as expected after upgrading to Salt 3000

### Setup

apt source:
deb http://repo.saltstack.com/py3/ubuntu/18.04/amd64/latest bionic main

Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.4 LTS
Release:	18.04
Codename:	bionic

### Steps to Reproduce Issue

run salt-call test.version

### Versions Report
/e/a/sources.list.d # ❯❯❯ salt-minion -

[2020-02-11 10:46] sferia82 commented on #55976
any solution? It also gave me that error in the installation and it is coming out while I am using the web portal.

[2020-02-11 10:47] sferia82 commented on #50911
any solution? It also gave me that error in the installation and it is coming out while I am using the web portal.

[2020-02-11 11:13] OrangeDog commented on #56118
Where? It's not mentioned in the release notes.

[2020-02-11 11:18] OrangeDog commented on #56107
Possibly same issue as #54260

[2020-02-11 11:52] cihatturan opened #56123 "SaltStack ask for User Input when running a state"
### Description of Issue
This is a feature request. I'm using Salt SSH and playing with states too much. I can't use MySQL module with ssh you know. So when i'm trying to create a database with state file, using cmd.run module. Like;
**mysql -uroot -p[PASSWORD] -e "create database dbtest character set utf8 collate utf8_bin";**
I don't like to use my password like this. This is really insecure. May

[2020-02-11 12:05] OrangeDog commented on #54115
Note that OS packages (e.g. python3-crypto) should already have the security issues patched on currently-supported systems.

[2020-02-11 12:48] DmitryKuzmenko commented on #56121
Reproduced on python 3.7. The issue is actual for all the currently supported salt branches.
Steps:
- Use Python 3.
- Set `minion_pillar_cache: True` in minion config file and ensure `file_client` is either unset or set to `remote`.
- Start `salt-master`.
- Run `salt-call test.version`.
The reason is `SMinion.__init__` tries to yaml-dump a dictionary with `string` data to a cache file opened in a

[2020-02-11 13:59] ymasson opened #56124 "MySQL state and module broken after upgrade to 3000"
### Description of Issue
MySQL module can't connect to MySQL socket.

### Context
Debian 9 and MariaDB 10.4.

Module configuration:
`mysql.default_file: '/etc/mysql/debian.cnf'`

### salt-minion 2019.2.3
[code]

### salt-minion 3000
[code]

### Versions Report
[code]

[2020-02-11 14:04] n-rodriguez commented on #48280
@garethgreenaway Hi! I think this issue can be closed. Thank you!

[2020-02-11 15:00] einsiedlerkrebs commented on #46891
I have the same issue.

But -W option does not help. It started when I wanted to use `thin_dir` in roster the first time. Upgrade to salt3000 did not help the issue.

[code]

[2020-02-11 15:01] Ch3LL commented on #55208
you have to escape it because of the way your shell is rendering it, this is not related to salt rendering it.

[code]

[code]

[2020-02-11 15:16] github-abcde commented on #56118
Interesting. The underscore-variables returned are for internal use only and should not be returned. The code at https://github.com/saltstack/salt/pull/55760/files#diff-b63dd508d9b7489d1f22527bda3f300dR613 detects the `__saltmine_acl__`-key and determine that the mine item is in the "new" (with minion-side ACL) format, and then only returns the contents of the `__data__`-key (line 614). Except tha

[2020-02-11 15:22] Ch3LL commented on #38551
ping @twangboy  can you follow up here?

[2020-02-11 15:27] Ch3LL commented on #55236
ping @alan-cugler do the suggestions in this issue help answer your questions? can we close here?

[2020-02-11 15:35] tomwalsh commented on #56119
Add me a +1. This breaks previously working SLS files and it is frustrating to have this happen with ZERO indication.

[2020-02-11 15:37] github-abcde commented on #56118
@ryanmilne-digicert Just a thought, is your salt-master running on version 3000 as well? Because if the versions are mismatched, the minion will send the new datastructure (including minion-side-acl metadata), but the master will not expect this and just return all the data the minion has provided.

[2020-02-11 15:38] PaulChristophel commented on #56119
+1. Sure do love these breaking changes.

[2020-02-11 15:48] dafyddj commented on #47988
Not stale.

[2020-02-11 15:58] OrangeDog commented on #56121
Looks like #51854

[2020-02-11 16:03] OrangeDog commented on #56074
Probably not a bug. That's just how YAML syntax works.
If you want to preserve newlines you need to use e.g. `contents: |`.

[2020-02-11 16:05] bitskri3g commented on #56124
I can confirm this also happens on CentOS 7.  I can't get any mysql modules or states to execute successfully.

[2020-02-11 16:06] jrdemasi commented on #56074
Yeah, but it isn't actually newlines, just the escape character which gets
replaced with spaces. Why would it get replaced at all?

On Tue, Feb 11, 2020, 09:03 James Howe <notifications@github.com> wrote:

[2020-02-11 16:08] jtoops009 commented on #24099
This feature is needed. Without the feature, managing bind-chroot config files does not work correctly.

[2020-02-11 16:11] bitskri3g commented on #56118
I ran into this as well - updating the master to 3000 allows the mine to display as expected.

[2020-02-11 16:11] ymasson commented on #56124
I don't know why, but if i print `connargs` in `salt/modules/mysql.py` line 388 (in def _connect). It is not the same.

### salt-minion 2019.2.3
`{u'read_default_file': u'/etc/mysql/debian.cnf', u'use_unicode': False}`

### salt-minion 3000
`{u'use_unicode': False, u'conv': u'', u'passwd': u'', u'charset': u'', u'db': u'', u'read_default_file': u'/etc/mysql/debian.cnf', u'unix_socket': u'', u'host

[2020-02-11 16:19] OrangeDog commented on #56074
YAML expands escape sequences in quoted strings.

[2020-02-11 16:27] sharksforarms commented on #54759
Getting the same issues on CentOS8, 2019.2.3

[2020-02-11 16:28] OrangeDog commented on #56119
For `tpldir` not being documented: #50925

[2020-02-11 16:42] garethgreenaway commented on #56124
Here is a small patch that I believe will get past the above error:
[code]

[2020-02-11 16:48] alan-cugler commented on #55236
@Ch3LL I've tried to jog my memory on the issue's crux. Lets close this issue for now and if the issue resurfaces I can either reopen or reference this in a new issue. Thanks!

[2020-02-11 16:48] #55236 closed

[2020-02-11 16:48] bitskri3g commented on #56124
@garethgreenaway

Not quite... different error:
[code]

[2020-02-11 16:51] ymasson commented on #56124
yes, it is different

[code]

[2020-02-11 16:52] ryanmilne-digicert commented on #56118
I just checked and my saltmaster is still on 2019.2.2.  However, I am using the docker images and there does not appear to be anything new published to docker hub.

https://hub.docker.com/r/saltstack/salt/tags

[2020-02-11 16:53] ryanmilne-digicert commented on #56118
https://docs.saltstack.com/en/latest/topics/mine/
[code]

[2020-02-11 17:00] doesitblend commented on #50327
ZD-4623

[2020-02-11 17:09] dth202 commented on #16687
I would also like this feature

[2020-02-11 17:18] ksalman commented on #54702
Please reopen

On Tue, Feb 11, 2020, at 07:31, stale[bot] wrote:

[2020-02-11 17:22] sagetherage commented on #55905
https://github.com/saltstack/salt/issues/56111

[2020-02-11 17:33] dwoz commented on #56121
Yes, looks like we need to port this to the master branch https://github.com/saltstack/salt/pull/52195

[2020-02-11 17:38] apex-omontgomery opened #56127 "external git pillar docs ref incorrect"
### Description of Issue

Docs for git external pillar don't properly show the ref format that pygit2 uses. This causes errors that don't indicate a formatting issue.

[docs example](https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.git_pillar.html#configuring-git-pillar-for-salt)
[code]

[pygit2 example](https://www.pygit2.org/repository.html)
[code]

http error:
[code]
ssh error
[c

[2020-02-11 18:35] sagetherage commented on #53944
@alan-cugler I have added these and tried to use few characters and the most relevant and shortest word, but please let me know if `docs` vs `doc` is imperative
![image](https://user-images.githubusercontent.com/36676171/74266978-10573480-4cba-11ea-909b-e02b4af88175.png)

If this is sufficient, then please simply close the ticket. I hope this helps, and will help with getting these in use for the

[2020-02-11 18:57] sagetherage commented on #55787
@dmurphy18 are you able to follow up here?

[2020-02-11 18:59] sagetherage commented on #55442
@oeuftete sorry about the stalebot, this should help and @garethgreenaway self-assigned now I need to find some time for him to work on it :)

[2020-02-11 19:01] sagetherage commented on #48516
@garethgreenaway can you follow up here?

[2020-02-11 19:02] sagetherage commented on #48516
this also will need doc-rework so adding the new label

[2020-02-11 19:04] crimv42 commented on #56124
Getting the same error in Ubuntu 16.04:

[code]

[2020-02-11 19:04] wimo7083 commented on #56127
If this is not related to my old salt-version and persists in current salt-versions I can make the PR.

[2020-02-11 19:05] exe90 commented on #55377
I'm trying to build a distributed system with syndicates and etcd, i got a problem. @Akm0d

**salt-call etcd.ls**
Traceback (most recent call last):
  File "/usr/bin/salt-call", line 11, in <module>
    salt_call()
  File "/usr/lib/python2.7/site-packages/salt/scripts.py", line 431, in salt_call
    client.run()
  File "/usr/lib/python2.7/site-packages/salt/cli/call.py", line 57, in run
    caller

[2020-02-11 19:08] garethgreenaway commented on #56124
Thanks.  Will take a look at the new error.

[2020-02-11 19:11] sagetherage commented on #37575
@Ch3LL any updates here, or should I assign someone?

[2020-02-11 19:15] sagetherage commented on #38099
@dwoz can you follow up on this `Pending Discussion` ticket, please?

[2020-02-11 19:16] sagetherage commented on #41452
this may need @twangboy to help but attempting to move this forward

[2020-02-11 19:18] alan-cugler commented on #53944
Thank you @sagetherage, I will close this!

[2020-02-11 19:18] #53944 closed

[2020-02-11 19:19] sagetherage commented on #42306
@dmurphy18 can you follow up on this ticket, please?

[2020-02-11 19:19] otrapeznikov commented on #49078
This issue is back with salt 2018.3.5

[code]

[2020-02-11 19:22] sagetherage commented on #43436
@garethgreenaway can you please follow up, here?

[2020-02-11 19:23] sagetherage commented on #47188
@Akm0d can you take this to @saltstack/team-cloud Working Group for follow up, please?

[2020-02-11 19:25] sagetherage commented on #47891
@dwoz can you please attempt to answer the `Question` and then update the ticket, please?

[2020-02-11 19:27] sagetherage commented on #53659
@garethgreenaway can you please follow up, here?

[2020-02-11 19:28] sagetherage commented on #50914
@dmurphy18 @jshatch can you two please look at this - this week?

[2020-02-11 19:31] sagetherage commented on #48353
@saltstack/team-ssh or @saltstack/team-core this likely needs to be followed-up

[2020-02-11 19:34] sagetherage commented on #49049
@garethgreenaway can you help me with some follow up that looks like it was missed a long time ago.

[2020-02-11 19:37] sagetherage commented on #49591
@waynew assigning you to help with follow up, thank you.

[2020-02-11 19:40] sagetherage commented on #50650
@Akm0d @xeacott please do follow up here, looks like it has a PR that needs review

[2020-02-11 19:42] sagetherage commented on #53633
@Akm0d please follow up on the port to master, updated the labels so it will not stale-out again

[2020-02-11 19:54] sagetherage commented on #53664
@saltstack/team-ssh can you help with some follow up here, please?

[2020-02-11 20:28] Ch3LL commented on #55330
@dahrens can you try the fix in https://github.com/saltstack/salt/pull/56129

[2020-02-11 20:33] sagetherage commented on #50695
@waynew @dmurphy18 can both or either of you do a little follow up on this Napalm issue, please?

[2020-02-11 20:35] dhiltonp commented on #56056
Thanks for your contribution!

Can you share what version of libcloud you have installed?

At a first look this seems rather odd, given that `__create_orget_address` returns a [GCEAddress](https://libcloud.readthedocs.io/en/stable/_modules/libcloud/compute/drivers/gce.html#GCEAddress) from libcloud, and then passes it back to [libcloud's gce create_node](https://libcloud.readthedocs.io/en/stable/c

[2020-02-11 20:36] sagetherage commented on #50851
@garethgreenaway looks like this might be fixed, can you please do a little follow up?

[2020-02-11 20:40] sagetherage commented on #51157
@dwoz looks like this isn't an open question any longer, but a bug, and do I read it correctly for the community to attempt to fix?

[2020-02-11 20:45] sagetherage commented on #51868
@Akm0d @xeacott looks like this needs some follow up, there may be other similar issues, please do your best and good luck!

[2020-02-11 20:46] sagetherage commented on #52272
@dwoz can you please do a little follow up, here?

[2020-02-11 20:49] sagetherage commented on #52387
@Akm0d @xeacott another follow up that looks like Shane got swamped and never was able to get back to, so reassigning for you two to tackle. Thx!

[2020-02-11 20:51] sagetherage commented on #52573
looking to get you an update @wl2776

[2020-02-11 20:54] sagetherage commented on #54137
@waynew looks like this ticket needs follow up - Shane is swamped so assigning you to this one.

[2020-02-11 20:58] dhiltonp commented on #56074
Thanks for the report @jrdemasi, and thanks for chiming in @OrangeDog :)

[2020-02-11 20:58] #56074 closed

[2020-02-11 20:59] s0undt3ch commented on #52573
When it worked was it the same conda version?

I'm not seeing why this would be a salt issue, specially since you also tried the VT approach which mimics a TTY.

[2020-02-11 21:00] mtusseau commented on #44560
I concur: Valid feature request. See #56081.

[2020-02-11 21:10] dhiltonp commented on #56089
Thanks!

For now, I suggest you use a shell command.

We also accept code contributions - maybe you could improve the module and share your changes!

[2020-02-11 21:23] waynew commented on #56076
@mlasevich It may be unexpected behavior, but it's not unstable, or even non-deterministic. Additionally, running `test=True` will also verify the order.

Requisites, excludes, and ordering *always* have the potential to change the ordering of your states. The only way to get around that is to forbid ordering or requisites. But if you allow the ability to use them, eventually you'll run into a sit

[2020-02-11 21:36] mtusseau commented on #32253
I agree with @dafyddj. I also plan to have a self-hosted SPM server, based on POC given in #43318, but probably with Sonatype Nexus repository.

[2020-02-11 21:46] mcarlton00 commented on #55838
Looks like the `-s` has already been removed in current versions with Salt 3000.  Just tested and doing `/usr/libexec/platform-python -m pip install pygit2` does result in it showing up in `salt --versions` now.  I haven't had a chance to test full functionality yet

[2020-02-11 22:04] thusoy opened #56131 "Salt v3000 crashes with unless clause if pip is missing"
### Description of Issue
`archive.extracted` (and possibly others?) fails if setting an `unless` clause and pip is not installed. Works on 2019.2.3.

### Setup
[code]

### Steps to Reproduce Issue
`salt-call state.sls archive-test` without pip installed. Removing the `unless` clause or installing `python-pip` resolves the issue.

### Versions Report

Masterless.
[code]

There's a very long stacktr

[2020-02-11 22:11] sagetherage commented on #53529
@dwoz looks like Joe just got busy and this needs a some follow up so re-assigning

[2020-02-11 22:31] jtraub91 opened #56133 "onchanges acts like onchanges_any"
### Description of Issue
`onchanges` acts like `onchanges_any` should

### Setup
Normal salt installation. 1 master, 1 minion

### Steps to Reproduce Issue
Create orch file
[code]
Yet `execute_runner` is executed with only `install_jq` having _changes_
[code]
### Versions Report
[code]

[2020-02-11 22:48] mcd1992 commented on #40621
Still an issue. Can't seem to use anything other than the `local` storage regardless of what #52125 says, the `storage: ` key seems to do nothing.

[2020-02-11 22:54] thusoy opened #56134 "v3000 is missing a release branch in the apt repo"
### Description of Issue
Currently the only release branch one can pin to an apt repo on py3 is `2019.2` as there's no subdirectory for `3000`. Without this one can't pin to a version that will only receive critical bug fixes and not new features.

[2020-02-11 22:57] thusoy commented on #56131
FWIW I'm seeing the same issue on Debian Buster (10).

[2020-02-11 23:06] sagetherage commented on #55122
@saltstack/docs-working-group

[2020-02-11 23:33] waynew commented on #36502
I think there's an even higher (lower?) level perspective here that we need to address, and my answer to

is... no.

---

Historically, (python2), bytes and text was conflated. That meant that you could read `fnord.jpg` and `fnord.txt` into the same `str` in Python. For Salt, this was pretty great, because it meant that we could treat text and binary files the same, and usually get the expected be

[2020-02-12 00:24] raddessi commented on #55370
Is bumping acceptable here?

[2020-02-12 01:01] garethgreenaway commented on #53152
Still digging into the fix for this but the cause is a conflict between `when` and `splay`.  If you remove `splay`, not ideal obviously, but I'm confident that you'll see your scheduled state runs run when expected and only once per day.

[2020-02-12 02:00] dhiltonp commented on #56069
What do you think about filtering the output via a pipe prior to saving your data?

Something like: `salt-cloud... | grep -v '\"priv_key\":' >> log`

[2020-02-12 03:50] mlasevich commented on #56076
That is the expectation, and the desired effect, but the order change should be logical, which it is not. The same documentation says that the point of `order:last` is to be able to order from the end, which is flat out not possible - making `order: last` directive largely useless if you want to use it to control ordering with relation to other states

I get it now that this behavior IS documented

[2020-02-12 04:51] sindhukothe commented on #55652
@garethgreenaway, in this case, these are proxy minions.

[2020-02-12 06:40] Armadill0 commented on #56134
It's the same for all platforms in the official repositories. 3000 is only available via the latest branch.

[2020-02-12 06:45] max-arnold commented on #56119
A quick patch:

`patches/slspath.sls:`
[code]

`patches/files/3000-slspath.diff:`
[code]

Run `sudo salt MINION state.apply patches.slspath` to apply the fix.

[2020-02-12 06:55] CodingMinds commented on #55084
I'm pretty sure this should not be closed. The problem still exists in `2019.2.3`

[2020-02-12 07:12] max-arnold commented on #56121
A quick & dirty fix:

`patches/pillar_cache.sls:`
[code]

`patches/files/pillar-cache.diff:`
[code]

Run `sudo salt MINION state.apply patches.pillar_cache` to apply the fix.

[2020-02-12 07:52] dynek commented on #56131
I feel lucky to not use Saltstack (or the combo Salt and Debian) in a production environment. Pretty much each time there's a release since I started using it there are such problems.
So there is my +1 for Debian 10.3 and Salt 3000+ds-1 (also happens on an old Debian 8.11 that I'm migrating)

[2020-02-12 08:05] max-arnold commented on #56118
https://docs.saltstack.com/en/latest/faq.html#can-i-run-different-versions-of-salt-on-my-master-and-minion

However, it looks like it is quite easy to temporarily patch an older master:

[code]

[2020-02-12 08:19] max-arnold commented on #56131
It looks like the old problem manifested itself in a different way: https://github.com/saltstack/salt/issues/53570

[2020-02-12 09:46] DagW commented on #56069
That would work if we were running the salt-cloud commands by cli,

But we are calling the salt-api from Jenkins to start an orchestration, and in the result JSON the key is present.

I guess we could filter the output from salt-api in the Jenkins pipeline, before printing the result.
Maybe there is some log level flag to the salt-api that I could use?

However I'm not sure the private key is mean

[2020-02-12 09:53] cachedout opened #56137 "Oddness with test suite"
Something unusual seems to be happening with the test suite.

Take for example, this test: https://jenkinsci.saltstack.com/job/pr-centos7-py2-tornado/job/master/563/

In it, Jenkins reports that all tests have passed, but the log shows something unusual.

The logs are full of stacktraces like the following:

`AuthenticationError: message authentication failed`

Finally, toward the end there is thi

[2020-02-12 10:08] khaiduong opened #56138 "Got Authentication Error while patching and reboot list of server"
### We have a script to do patching for our MySQL servers, during the patching, the reboot is required. We encountered the error with salt-minion service on the target server:

[code]

[2020-02-12 12:17] nergdron commented on #47381
I just upgraded to salt=3000, and started seeing this error. now I'm not using the scan roster, but it seems like this maybe was fixed and has just regressed? I'm not sure. salt was installed via `pip3 install salt=3000` on Ubuntu 19.04, and wasn't emitting this error with 2019.02.x.

[2020-02-12 12:19] s0undt3ch commented on #51736
It has been far too long since I've been on that code. The code does suggest that when creating a VM, if the master is local the key should be accepted, but I failed to find the missing logic without getting a whole setup to reproduce the issue.
The best advise will probably come from someone from the salt-cloud working group.

[2020-02-12 12:46] Oloremo commented on #42440
not stale

[2020-02-12 13:04] baby-gnu opened #56139 "Add a fallback value for import_yaml/json/* if the file does not exists"
### Description of Issue

I would like to import a list of YAML files but some of them may not exists and the process should not raise an error.

It could be greate to have an option to handle missing file, for example:

[code]

### Setup

Create a simple test SLS `/srv/salt/test.sls`:

[code]

Create the `/srv/salt/test.jinja`

[code]

Create the files `/srv/salt/file1.yaml`:

[code]

Create the

[2020-02-12 13:34] oeuftete commented on #55122
As noted already, the problem here, that salt needs python 2.7 or greater for Python 2, is clearly covered by documentation in an appropriate place: https://docs.saltstack.com/en/master/topics/installation/index.html#dependencies

Although, arguably, the [documentation for `salt-ssh`](https://docs.saltstack.com/en/master/topics/ssh/index.html):

... could be updated to be clear that the python req

[2020-02-12 13:53] ymasson commented on #56131
Thanks @max-arnold

[2020-02-12 13:59] baby-gnu commented on #56139
For now, I [found a workaround](https://stackoverflow.com/a/56808779)

[code]

[2020-02-12 14:09] ArthurREGNARD commented on #44560
I've develop this feature : #56081

Waiting for approval.

[2020-02-12 14:13] jouve opened #56141 "UnboundLocalError: local variable 'current_state' referenced before assignment"
### Description of Issue
2020-02-12 15:07:01,775 [tornado.application:611 ][ERROR   ][13986] Exception in callback (<socket._socketobject object at 0x7f6106f657c0>, <function null_wrapper at 0x7f6105f26758>)
Traceback (most recent call last):
  File "/usr/lib64/python2.7/site-packages/tornado/ioloop.py", line 865, in start
    handler_func(fd_obj, events)
  File "/usr/lib64/python2.7/site-packages

[2020-02-12 14:55] dhiltonp commented on #56091
It looks like there is a change in behavior between the azure Python2 and Python3 APIs.

[The Python 3 API no longer accepts positional args - at least for VirtualDisk](
https://github.com/Azure/azure-sdk-for-python/blob/3a7c58c4ecdf3b3c389fd5764c7329a0b06600ea/sdk/compute/azure-mgmt-vmwarecloudsimple/azure/mgmt/vmwarecloudsimple/models/_models_py3.py#L1158).

Changing all API args to named argume

[2020-02-12 15:03] deput-d commented on #55837
need anything else from me?

I would think this would just works since the module returns True and False, but doesnt when you try to run it in the middle of a state. Sounds like a bug of some sort to me

[2020-02-12 15:06] jbeaird commented on #53152
Thanks @garethgreenaway !

Can you think of any simple workarounds we can use instead of splay?

[2020-02-12 15:33] svenseeberg opened #56142 "x509 Documentation -> mine.send not working"
### Description of Issue
I'm trying to set up a CA based on the example provided in https://docs.saltstack.com/en/latest/ref/states/all/salt.states.x509.html and also using https://backbeat.tech/blog/using-saltstack-for-internal-ssl-certificates/ as a reference.

AFAICT the documented mine.send for the ca.crt is not working. I find two issues:
* The onchange does not trigger if the ca.crt already

[2020-02-12 15:41] Ch3LL commented on #51919
thanks for the PR @alfotos i'll go ahead and take a look at the PR and leave my comments there

[2020-02-12 15:41] dmurphy18 commented on #49078
@worlvlhole @ewenmcneill Closing this since fixed in Salt v2019.2.2, and Salt 3000 just released.

Please reopen if you have additional fixes required for this issue

[2020-02-12 15:41] #49078 closed

[2020-02-12 15:47] sagetherage commented on #42906
I apologize it took me while to get back to this, thank you for your comment @fake-name and I will move it to get the bug documentation worked, thank you. @saltstack/docs-working-group

[2020-02-12 15:49] sagetherage commented on #33751
@waynew can you please update this with any other labels, I have removed it from `Blocked` milestone and gave it `Bug` but likely it needs more and will need more details on next steps. ty

[2020-02-12 16:11] ferricoxide commented on #56131
Thanks for opening this. Was wondering why all my Travis jobs started turning red for content I han't changed.

[2020-02-12 16:24] DmitryKuzmenko commented on #56142
@svenseeberg First I could see in the doc is: `depends M2Crypto`. And your version report says: `M2Crypto: Not Installed`. Could you please confirm it isn't the case?

[2020-02-12 16:25] danlsgiga commented on #56119
Just hit this wall too and changed all my `{{ slspath }}` code blocks for the undocumented `{{ tpldir }}` one.

[2020-02-12 16:28] DmitryKuzmenko commented on #56141
@jouve Could you please provide salt log of the error and `salt --versions` output?

[2020-02-12 17:00] Ch3LL commented on #56118
@max-arnold is completely right that you should always upgrade your master first, so this is definitely the recommended approach. Although we do not guarantee backwards compatibility of newer minions with older masters we want to try to make a best effort to keep that compatibility. Diving in now to see if its even possible.

[2020-02-12 17:09] OrangeDog commented on #56142
It looks like the example is using the "legacy" version of [`module.run`](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.module.html), which may be causing issues. Given the error about `m_name` it seems likely.

The previous state also uses `managed_private_key`, which doesn't work properly: #39608

[2020-02-12 17:10] ryanmilne-digicert commented on #56118
It makes sense to upgrade the master first, however I ran into this as I created some new servers with Salt-Cloud and did not see that a new version of salt had been release.

Another problem though is I am using the docker images on docker hub and those have not been updated for 2 months.
https://hub.docker.com/r/saltstack/salt/tags
Is there a timeframe when a new image will be published on docke

[2020-02-12 17:15] max-arnold commented on #56118
For Salt Cloud it is generally a good idea to pin the salt version using `script_args`: https://github.com/saltstack/salt/issues/54857#issuecomment-537731285

[2020-02-12 17:23] roddergreg opened #56144 "salt-cloud - enable mem-hotadd to my salt cloud profile. Extra config array ignored"
salt-cloud for vmware not function properly. When specifying `mem.hotadd` to the extra-config array value is ignored. Does not work in Template or Map file

Salt-Cloud Profile:
[code]

Salt-cloud Template:
[code]

Run `salt-cloud -m gold0`  vm is successfully created but the configuration option for `mem.hotadd` is ignored.  I have to power the server off turn on `mem.hotadd` manually and power ba

[2020-02-12 17:26] DmitryKuzmenko commented on #56138
@khaiduong could you please provide a description of your configuration, your state sequence before the reboot and the full output of `salt --versions`?

[2020-02-12 17:54] ixs commented on #46485
Still valid with current salt.

[2020-02-12 18:02] DmitryKuzmenko commented on #56133
@jtraub91 excuse me I'm no quite understand whats wrong in your case. Both `onchanges` and `onchanges_any` will be triggered if at least one of the watched states made a change. The difference between these requisites is that `onchanges` will be triggered if the "result" is `True` for all the watched states when `onchanges_any` -- if at least one of the watched state "result" is True.

[2020-02-12 18:21] DmitryKuzmenko commented on #56141
@jouve 2018.3 is EOL so please consider upgrading your Salt installation to 2019.2 or later.

[2020-02-12 18:22] #56141 closed

[2020-02-12 18:41] dmurphy18 commented on #55892
Closing since this was a reminder for Salt 3000 which is now released and working as intended

[2020-02-12 18:41] #55892 closed

[2020-02-12 18:46] dmurphy18 commented on #52630
@pstengel Can you recheck, Salt 3000 with the fix went live on Monday 10th Feb 2020.  The RC's where in salt_rc off of repo.saltstack.com, the usual place for RC's, for example: http://repo.saltstack.com/salt_rc/yum/redhat/7/x86_64/

[2020-02-12 18:52] DmitryKuzmenko commented on #56127
Confirmed on v3000. `salt '*' saltutil.refresh_pillar` works for `git://github.com/wimo7083/test-external-pillar.git` and fails for `git@github.com:wimo7083/test-external-pillar.git` with this in log:
[code]

[2020-02-12 19:30] sagetherage commented on #56107
@ArthurREGNARD does this look similar to  #54260?

[2020-02-12 20:55] svenseeberg commented on #56142
Ah sorry, M2Crypto is installed on the minion. The states that require M2Crypto work well. That means the CA is being generated. Just to be sure I now installed M2crypto on the Salt master as well, but that does not change the outcome.

I guess what @OrangeDog is saying is correct. That is also what the blog entry on backbeat.tech says about `module.run`.

[2020-02-12 21:06] ewenmcneill commented on #53107
FTR, it seems like the merged fix didn't make it into the 2019.2.3 release, so I'm still patching my `states/virt.py` by hand.

[code]

(compare that code with the pre-patched version in https://github.com/saltstack/salt/issues/53107#issuecomment-493324963, and the fix in https://github.com/saltstack/salt/pull/54196/files#diff-082ca74577bb246c4f2d5b5d24722339; it's the pre-fixed version.)

Ewen

[2020-02-12 21:30] oeuftete commented on #55693
not stale.  cc: @saltstack/docs-working-group

[2020-02-12 21:32] oeuftete commented on #55693
The [reactor documentation](https://docs.saltstack.com/en/latest/topics/reactor/#local-reactions) is another place where this problem is clear.

[2020-02-12 21:53] #55790 closed

[2020-02-12 21:55] saurabhnemade opened #56147 "salt grain.setvals returned strings with u'"
### Description of Issue
I am trying to set grains on minion. the minion is configured with:
[code]
When I do set grains then it results in `u'val` pattern

### Steps to Reproduce Issue
Just add any minion with above minion config.

### Versions Report
[code]

Result:
<img width="756" alt="Screenshot 2020-02-13 at 3 20 35 AM" src="https://user-images.githubusercontent.com/17445338/74380847-5cb4888

[2020-02-12 22:32] saurabhnemade opened #56148 "salt-call echo new lines are converted to spaces"
<img width="482" alt="Screenshot 2020-02-13 at 4 00 16 AM" src="https://user-images.githubusercontent.com/17445338/74383567-760c0380-4e15-11ea-8840-ddf001d78ab1.png">

As we can see in above image, the salt-call does not gives us new line

[2020-02-12 22:49] waynew commented on #55799
@carolcoral what result did you get from my above experiment?

[2020-02-12 22:52] Ch3LL commented on #56118
okay i believe we only really need to set the `__data__` when we have `allow_tgt` set.

something like this:

[code]

I confirmed that works for working with new/old versions. @github-abcde see anything wrong with this approach? I'm writing some tests right now, so i might find something wrong while i'm working on this.

[2020-02-12 22:53] #55301 closed

[2020-02-12 22:54] Ch3LL commented on #56118
@ryanmilne-digicert let me ask around about docker-hub

[2020-02-12 23:07] alan-cugler commented on #55693
Good to know, thanks for bringing it to my attention. I will add this to the kick off meeting for docs work group.

[2020-02-13 00:29] twangboy commented on #54447
I was talking to @UtahDave about this issue... It seems that the CP437 was added to allow returns from cmd commands to always return English so the results could be parsed properly.

[2020-02-13 00:33] twangboy commented on #54447
There's also some good information here regarding PY3: https://github.com/saltstack/salt/issues/36031

[2020-02-13 00:36] twangboy commented on #55709
I think all the updates to LGPO went into the 3000 (Neon) release. We addressed some issues with mal-formatted xml in the MS supplied ADMX/ADML files. So, yeah, I think this has been addressed.

[2020-02-13 00:48] H20-17 commented on #55709
I'll close this then. Thanks for the work.

[2020-02-13 00:48] #55709 closed

[2020-02-13 00:56] garethgreenaway commented on #53152
@jbeaird If you're able to, this patch against a 2019.2.3 install will fix the issue:
[code]

[2020-02-13 03:46] arizvisa commented on #55161
Not only is it not stale, but a really simple fix too.

[2020-02-13 03:48] arizvisa commented on #54392
@53c70r, does saltstack/salt-bootstrap#1424 fix things?

[2020-02-13 03:51] arizvisa commented on #55103
not stale. been repro'd by a contributor.

[2020-02-13 03:53] arizvisa commented on #55758
not stale, still being considered.

[2020-02-13 06:22] commonism commented on #56119
The commit:
https://github.com/saltstack/salt/commit/5a17dd6390aa8ef9a7f6899e6d9ce8be2b6750f3#diff-96d7010eb773dc57ad2c8eb89cd12807

As all (relevant) unittests reported success, it may be a good idea to _harden_ the variables with unittests.

[2020-02-13 07:49] farkaskid commented on #56147
I second this. It is interesting to note that the grains are correctly set when `user: root` and
`sudo_user: root` are not present in the minion config. Moreover, the problem only exists for `grains.setvals`. Grains set with `grains.setval` are set correctly.

[2020-02-13 08:28] khaiduong commented on #56138
actually, the script run `yum update -y` for all the `CentOS` instances and then do reboot and waiting them up and running again. This is the full output of the command:
`sudo salt --version
salt 2019.2.3 (Fluorine)`

[2020-02-13 08:43] Deshke commented on #50313
if anyone asks v3000 did not fix this

[code]

![Bildschirmfoto vom 2020-02-13 09-41-22](https://user-images.githubusercontent.com/1473225/74416199-0dd51600-4e45-11ea-832d-043b399971e8.png)

[2020-02-13 09:46] udf2457 commented on #52674
@dmurphy18, re: your comment to @CMeza99, may I point out this quote from the `PyCryptodome` man page (https://pycryptodome.readthedocs.io/en/latest/src/installation.html):

It is therefore in my view imperative that Salt needs to eradicate its dependence on the unsupported PyCrypto ASAP.

[2020-02-13 10:21] xq2248 opened #56150 "[Question] job states synchronization between multiple masters"
There are two masters master1/master2, and a minion node1.
The file_root contents and pillars of  two masters are the same.
The node1  connects to two at the same time.

On master1: salt "node1" state.sls test1 queue=True &
The salt job id is: 20200213150840608071
On master2: salt-run jobs.lookup_jod 20200213150840608071
'jobs.lookup_jod' is not available.
Unfortunately， the excuting result of job

[2020-02-13 11:04] tkykm opened #56151 "[Feature request][salt-cloud] Auto generate password for windows in azurearm"
### Description of Issue

This is feature request.
It would be great that we can auto generate password for windows In salt-cloud with azurearm like a AWS.
for example, the idea is to set key to profile and then salt-cloud generate a strong password and ecrypt it with the key, finally store it to grain.

Thank you in advance!

### Setup
(Please provide relevant configs and/or SLS files (Be sure to

[2020-02-13 11:06] OrangeDog commented on #56148
Probably done on input, as `--output raw` also has only spaces.

[2020-02-13 11:09] OrangeDog commented on #56133
@DmitryKuzmenko these statements are contradictory

[2020-02-13 11:12] OrangeDog commented on #56133
The confusion is it's natural to assume the `any` bit refers to `onchanges`. Quite probably the documentation can be clearer on the multiple outputs states have (success and changed) and how they affect requisites.

[2020-02-13 11:14] OrangeDog commented on #56137
You're sure there aren't tests that are deliberately checking those error conditions?

[2020-02-13 11:17] cachedout commented on #56137
I cannot rule that out, but even if a test were causing deliberate authentication errors, I would not expect those errors to persist for the remainder of the test run.

[2020-02-13 11:35] tkykm opened #56152 "[salt-cloud][AzureARM] ssh_password not working"
### Description of Issue

Salt Cloud|AzureARM Compute CloudError has occurred: 'adminPassword' is missing (null)

Salt-cloud fail to create linux vm to azure unless `disable_password_authentication: True`
And password won't be set even if I put ssh_password and `disable_password_authentication: True`
We can use key authentication instead but it would be better to fix this.

This is similar issue:

[2020-02-13 12:13] tkykm opened #56153 "[Feature requests][salt-cloud][AzureARM] support multiple NICs"
### Description of Issue

It would be good to have a option about multiple NICs.
In some case, we want to associate a VM to 2 or more subnet e.g. frontend and backend

Thanks!
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

Ideally profile
[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Prov

[2020-02-13 12:20] tkykm opened #56154 "[Feature requests][salt-cloud][AzureARM] support availability zone"
### Description of Issue

Availability zone is important technology for redundancy or SLA and getting necessary for another azure services for example ultra disk.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --vers

[2020-02-13 12:34] ppeereb1 commented on #51559
Can confirm issue.

[2020-02-13 13:37] 53c70r commented on #54392
No since the Merge was 9 days ago and i executed the commands 3 days ago.

[2020-02-13 13:39] 53c70r commented on #54392
[code]
_PYEXE='python2'
but since Fedora does not have python2 it can't execute the command.

[2020-02-13 13:59] damon-atkins commented on #36962
.

[2020-02-13 14:41] DmitryKuzmenko commented on #56096
@maining123 could you please provide the corresponding debug log and full output of the `--versions-report`?

[2020-02-13 14:53] DmitryKuzmenko commented on #56102
@saltstack/team-core thoughts on this?

[2020-02-13 15:00] dmurphy18 commented on #52674
@udf2457 I would very much like to drop pycrypto however I still have to support OS's such as Debian 8 (until June 30th) till they are effectively EOL and there is no pycryptodome support on Debian 8.  Similarly I ran into issues with pycryptodomex in 32-bit mode on RHEL 6 which does not end of life until 30th Oct 2020.  My preference would be for later versions of M2Crypto as used on Py 3 RHEL 7

[2020-02-13 15:01] DmitryKuzmenko commented on #56104
Salt 2016.3.8 is EOL. Please consider upgrading to one of the supported release.
Details: https://www.saltstack.com/product-support-lifecycle/

[2020-02-13 15:01] #56104 closed

[2020-02-13 15:06] Ch3LL commented on #49586
what does the memory consumption look like on your boxes? is there any memory leaks by chance?  Looks like there are know issues with pygit2 and memory consumption

[2020-02-13 15:07] Ch3LL commented on #49586
forgot to tag the issue: https://github.com/saltstack/salt/issues/54360

also @cmcmarrow since you worked on that issue can you point us possibly to an upstream issue or detail what the leaking memory issue entailed?

[2020-02-13 15:08] udf2457 commented on #52674
@dmurphy18 Bring on June 2020, finally the demise of Debian 8 !

M2Crypto is not available on Debian 10 for python3, only the obsolete python2:
[code]

Regardign your last paragraph (contribution). I don't do python, not even in newbie spaghetti-code format. So can't help you there. Unfortunatley.

[2020-02-13 15:10] Ch3LL commented on #33901
ahh gotchya looks like you are right. i'll approve this as a feature request, unless @saltstack/team-boto sees something i'm missing here?

[2020-02-13 15:12] Ch3LL commented on #48498
ping @simmel  this should not go stale again, let me know otherwise

ping @DmitryKuzmenko any update here?

[2020-02-13 15:18] Ch3LL commented on #39018
@cchildress did you see my last comment, this is a duplicate of #12803. are you okay closing here in favor of that issue?

[2020-02-13 15:31] DmitryKuzmenko commented on #56106
@theunkn0wn1 I'm sorry I see nothing relative to Salt in your log. Do you have a way to exclude the possibility of hardware failure? I'd suggest to install a clean OS by official instruction without Salt and perform RAM and storage.

@saltstack/team-core thoughts?

[2020-02-13 15:36] github-abcde commented on #56118
@Ch3LL Syntactically there is nothing wrong, however semantically I would prefer a different solution. With your proposed change this function's actions no longer completely match its name (since it will not always wrap the function_data). I would suggest implementing the check for `allow_tgt` in the places where this function is called: https://github.com/saltstack/salt/blob/master/salt/modules/m

[2020-02-13 15:38] brandon-sling commented on #55353
doesn't look like this should be stale. Although the project board it was added to was closed.

[2020-02-13 15:41] Ch3LL commented on #53746
ya i agree it would probably be best to change that to /srv/salt which is the default setting.

where would you recommend putting them? the docs clarify other ways for you to store that config template file. Being able to add them to the file_roots is very easy and salt already has access to that path.

[2020-02-13 15:42] brandon-sling commented on #56119
This is tangential but I was wondering why slspath and tpldir were the same in previous versions. I have almost filed an issue in the past to see if slspath could be updated to do what it does now, and document tpldir

[2020-02-13 15:43] jbeaird commented on #53152
Thanks!  Will this be included in any upcoming versions of 2019.2 or 3000?

[2020-02-13 15:47] pstengel commented on #52630
[code]

@dmurphy18 Looks good!

[2020-02-13 15:53] svenseeberg commented on #56142
After looking at https://docs.saltstack.com/en/develop/topics/releases/2017.7.0.html#state-module-changes, I figure that `module.run` should be looking like this:

[code]

However, I can't figure out how to combine it with `mine.send`. With

[code]

I get

[code]

[2020-02-13 16:09] sagetherage commented on #55853
I can work on this unless it needs a SEP @saltstack/team-core ?

[2020-02-13 16:14] OrangeDog commented on #56142
It think it should be
[code]

[2020-02-13 16:14] alan-cugler commented on #53746
I can have the docs-working group adjust the docs for this issue as well.

As for your question.
I see templates being added to `/srv/salt/templates` since it sits in the states default directory.

The point I was emphasizing before was usually no one recommends putting the states and salt configs together because the salt configuration files often contain sensitive data you dont want in git revis

[2020-02-13 16:18] alan-cugler commented on #56133
if that's the case, could someone leave a strong and clear definition for these requisites? I will have the @saltstack/docs-working-group make adjustments to the relevant docs page based on those definitions and some saltstack/community endorsement that the definitions are correct.

[2020-02-13 16:31] cchildress commented on #39018
Yeah, that sounds good to me.

[2020-02-13 16:31] #39018 closed

[2020-02-13 16:43] Ch3LL commented on #37575
@Reiner030 `salt-run cache.clear_mine thecakeisalie` will purge the cache data for the minion `thecakeisalie`

[2020-02-13 16:44] dmurphy18 commented on #56106
Wondering how installed ? pip or bootstrap.
The only ARM packages we have are Debian (Raspbian) and those are for armhl

Bootstrap has issues at the moment that are being worked on, cannot select 3000, have to use latest when specifying the version.

Wondering if the issue could be one of the dependencies that Salt needs having issues when it is installed and causing the boot loop, a classic case

[2020-02-13 16:46] dmurphy18 commented on #52630
@pstengel If you are happy, can you consider closing this issue. Thanks, and sorry for the delay in getting this out there, Neon was delayed further than I thought it would be

[2020-02-13 16:49] #52630 closed

[2020-02-13 17:02] Ch3LL commented on #56118
thanks i'll take a look at that approach. don't see why that wouldn't work

[2020-02-13 17:04] garethgreenaway commented on #55652
@sindhukothe Thanks!

[2020-02-13 17:28] DmitryKuzmenko commented on #56113
Reproduction steps:
[code]
Output on default configuration is slightly different because `virt:images` path is default value:
[code]
Reproducible on Salt >= 2019.2.1.

The fix mentioned by @tash resolves the issue but it's not a proper fix because it will break paths with spaces.

[2020-02-13 17:31] DmitryKuzmenko commented on #56107
@ArthurREGNARD sorry for that I didn't know =) I've reopened this

[2020-02-13 17:32] DmitryKuzmenko commented on #56114
Closing this in favor of re-opened #56107. Sorry again @ArthurREGNARD

[2020-02-13 17:32] #56114 closed

[2020-02-13 17:46] tash commented on #56113
Yeah, my solution is just a bandaid.

Also:
https://github.com/saltstack/salt/blob/81eb15264380d82267ffc3c1930410baf1f3fbf1/salt/modules/qemu_img.py#L44-L50

Similar call, can someone check this?

[2020-02-13 17:48] bryceml opened #56157 "onlyif requisite triggers stack trace if python3-pip is missing on salt 3000"
### Description of Issue
The ``onlyif`` requisite (and possibly others) triggers a stack trace if python(3)-pip is not installed.  I can paste the stack trace if it's needed.  We should decide if python(3)-pip should be a package dependency so it doesn't matter (as it's not installed by default), or if this is a bug and should be fixed.

Dave Boucha confirmed that it happens on python2 as well on

[2020-02-13 17:57] DmitryKuzmenko commented on #54260
Fixed by #51988 and released with Salt 3000

[2020-02-13 17:58] DmitryKuzmenko commented on #56107
@OrangeDog @sagetherage it's not. I've just checked the issue #54260 is fixed.

[2020-02-13 18:00] DmitryKuzmenko commented on #56107
What about this one now I see this is confusing for users so we should consider possibility of fixing this if it's possible.

[2020-02-13 18:02] tash commented on #56113
@DmitryKuzmenko
Apparently providing " to account for spaces in given paths is superfluous. At some point a  subprocess call is made.
This does not work (same error as reported):
[code]
This does work:
[code]

[2020-02-13 18:02] svenseeberg commented on #56142
Sadly I cannot get your example to work.

What does work currently is this: I set the minion config to
[code]
And add the state
[code]
which then returns
[code]
But combining this with `mine.send` in any fashion I can come up with does not yield any results.

So I was thinking of a different approach. Should it be possible to add the `x509.get_pem_entries` function to the minion `mine_functions`?

[2020-02-13 18:03] DmitryKuzmenko commented on #56117
@saltstack/team-windows thoughts?

[2020-02-13 18:07] bryceml commented on #56157
see also https://github.com/saltstack/salt/issues/56131

[2020-02-13 18:11] DmitryKuzmenko commented on #56113
@tash I've just put a note for a person who will be fixing this issue.
This PR #52160 introduced that quotes as a try to resolve some issues with spaces. Your issue shows that it's not enough and we still have to work on fixing this.
Thank you for PR and analysis. Your issue will be fixed in one of future releases.

[2020-02-13 18:40] Ch3LL commented on #56118
ping @github-abcde another follow up question. Can we not just remove adding `__data__` here, regardless of it using `allow_tgt` ? https://github.com/saltstack/salt/pull/55760/files#diff-298e79edaa330ebd37da69a4742863acR19

I'm trying to understand the purpose behind adding this?

[2020-02-13 20:15] twangboy commented on #56117
This is a duplicate of https://github.com/saltstack/salt/issues/51868

[2020-02-13 20:15] #56117 closed

[2020-02-13 20:25] twangboy commented on #56117
As a workaround you could use the `win_lgpo` module to set Auto Update settings.

[2020-02-13 20:29] doesitblend opened #56158 "Add functionality to LVM state and module"
### Description of Issue
Add functionality to the linux_lvm state and module to allow  pvresize and lvextend

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.linux_lvm.html#module-salt.modules.linux_lvm

### Setup
NA

### Versions Report
This functionality is not available in current v3000 release.

[2020-02-13 20:31] doesitblend commented on #56158
closing due to duplicate to #56089

[2020-02-13 20:31] #56158 closed

[2020-02-13 20:31] twangboy commented on #51868
A workaround would be to use the `win_lgpo` module to set the `Turn off handwriting personalization data sharing` policy

[2020-02-13 20:31] doesitblend commented on #56089
ZD-4605

[2020-02-13 20:31] wimo7083 commented on #50313
I see pygit2 is including the fix, is that the one you are using?

If possible try modifying your install to use valgrind: https://github.com/libgit2/pygit2/blob/master/docs/development.rst#running-valgrind

[2020-02-13 20:46] svenseeberg commented on #56142
So I finally solved the issue. However, I guess there is room for improvement.

I'm now setting the mine functions via Pillar:
[code]
After changing the Pillar, I run `systemctl restart salt-minion`.

Then I can actually see that the function is there:
[code]
and returns the desired result:
[code]

AFAICT the important takeaway is `x509.get_pem_entries: [/etc/pki/ca.crt]` and the minion restart(?)

[2020-02-13 21:06] jeffdyke commented on #56124
@garethgreenaway i propose this small change, sorry that its not a diff, but on line 390 of `modules/mysql.py` i have added

[code]
Because of the following in `pymysql/connections.py`:

[code]

There is no documentation about what to put in `conv` and in the 6+ years i've been using salt to handle mysql grants, this is the first time i've seen it complain about this.  And no i don't feel strongly

[2020-02-13 21:14] jeffdyke commented on #56124
And a diff in case anyone wants to patch b/c I am:

[code]

[2020-02-13 21:15] twangboy commented on #55284
The `cast_vdata` function makes sure the data types match the expected type.
https://github.com/saltstack/salt/blob/master/salt/utils/win_reg.py#L751

[2020-02-13 21:15] #55284 closed

[2020-02-13 21:17] jeffdyke commented on #56124
And a diff in case anyone, like myself wants to patch before highstates, i spin these up quite often
[code]

[2020-02-13 21:37] svenseeberg commented on #56142
I guess the best solution is this one (based on the example on https://docs.saltstack.com/en/latest/ref/states/all/salt.states.x509.html):

`/srv/salt/signing_policies.conf`:
[code]

and for `/srv/salt/ca.sls`:
[code]

[2020-02-13 22:25] twangboy commented on #55284
This is a bug fixed in the above PR ^^^^

[2020-02-13 22:50] brandon-sling commented on #48265
I had this same thing happen with a file. I figured out what was wrong with the file.
`# This should be at least (number_of_channels × 2) to be able to keep the live`
there is the character '×' Upon removal of this character (replaced with an 'x') transport errors went away.

[code]

[2020-02-13 23:12] Deshke commented on #50313
yes, it has the "latest" pygit2 fix, valgrind may be possible.

[2020-02-13 23:13] Deshke commented on #50313
@wimo7083 can you reproduce this issue at all ?

[2020-02-13 23:34] bryceml commented on #55436
@Akm0d should this not be left stale?

[2020-02-14 00:09] github-abcde commented on #56118
@Ch3LL The added functionality of allowing minion-side ACL had a side-effect in what is stored in the salt mine. Before, only the raw data (`function_data`) was stored. But now, as minions can push ACL metadata, the need arose for each mine item to store not just the `function_data`, but the metadata as well. Since the `function_data` can be anything, including a dict, some mechanism was needed to

[2020-02-14 01:39] dtmateojr commented on #56067
I would like to correct my previous comment regarding version 2018.3.5. The bug does not seem to manifest in there when I use my shalt script (https://github.com/dtmateojr/shalt). Below are the differences in output between 2018.3.5 and 2019.2.3 where the latter results in a mangled patch file.

Debug output of 2018.3.5:
`2020-02-14 10:14:45,762 [salt.transport.ipc:254 ][DEBUG   ][7944] Initializi

[2020-02-14 01:42] dtmateojr commented on #56067
Hmmm... I can't seem to format my posts properly. Apologies.

[2020-02-14 07:35] windowsrefund opened #56163 "Are the docs wrong for using git with ext_pillar?"
### Description of Issue
I am trying to access my pillar via git_pillar using pygit2 and SSH authentication. [This documentation](https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.git_pillar.html#git-pillar-configuration) suggests a syntax of:

`- master git@other-git-server:pillardata-ssh.git:`

Of course, that's not a valid URL since there's no user specified as in:

`git@git-serve

[2020-02-14 08:09] theunkn0wn1 commented on #56106
@DmitryKuzmenko This is done with an Xavier that is pretty much fresh out of the box, There is no indication the hardware is faulty beyond what is pointed out in the above logs.

To recover from the boot loop, we re-flashed the device with a clean OS image from Nvidia's official install guide & tooling. (The same image I attempted to install Salt via bootstrap on.)

@dmurphy18 the faulty install w

[2020-02-14 08:19] HenriWahl commented on #54869
Any fix in sight?

[2020-02-14 09:17] pavel-z1 commented on #54145
Hi @dmurphy18 ,

I've checked on with latest version:
`# salt-master -V
/usr/lib/python2.7/site-packages/salt/scripts.py:109: DeprecationWarning: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date.  Salt will drop support for Python 2.7 in the Sodium release or later.
Salt Version:
           Salt: 3000

Depe

[2020-02-14 10:14] JensRantil commented on #11501
@stale This is still an issue.

[2020-02-14 11:19] OrangeDog commented on #54260
@DmitryKuzmenko it doesn't look fixed to me. Same behaviour as before.

[code]

[2020-02-14 11:26] OrangeDog commented on #54260
@DmitryKuzmenko that PR was never released. Check the [project board](https://github.com/saltstack/salt/projects/5).

[2020-02-14 11:27] scambra commented on #56124
MySQLdb/connections.py (python3-mysqldb) checks conv in different way to use builtin conversions:
        if 'conv' in kwargs:
            conv = kwargs['conv']
        else:
            conv = conversions

So I would propose connargs.pop('conv'). Anyway, it's not the only error. I have checked 2019.2.3 and connargs didn't have any None or '' value. However 3000 has many '' values, because config.

[2020-02-14 11:46] scambra commented on #56124
Patch

`patches/mysql.sls:`

[code]

`patches/files/3000-mysql.diff:`

[code]

Run `sudo MINION state.apply patches.mysql` to apply the fix.

[2020-02-14 14:04] jdrowne commented on #54755
We found a similar issue by using 'latest'. A lot of packages were not being installed at all so we had to downgrade to 2019.2

Here's the error for us:

`Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/salt/loader.py", line 1607, in _load_module
    mod = imp.load_module(mod_namespace, fn_, fpath, desc)
  File "/usr/lib/python2.7/dist-packages/salt/states/pip_state.py"

[2020-02-14 14:05] Ch3LL commented on #56118
thanks for the clarification :)

[2020-02-14 14:22] stratusjerry commented on #56131
Sounds like https://github.com/saltstack/salt/issues/54755#issuecomment-535646926

[2020-02-14 14:35] MatthiasKuehneEllerhold opened #56165 "Whole Mac machine hangs during and after salt state.apply"
### Description of Issue
We're using saltstack for managing debian and mac os boxes.
Seldomly using `salt my.mac state.apply test=True` leads to a total hang of the mac os machine "my.mac".
Usually state.apply takes around 30 - 60 seconds with test=True. If the problem occurs it took ~ 6 minutes and the system cant do anything else. My "ps aux | grep salt" wont be executed for minutes. Starting th

[2020-02-14 15:00] whytewolf commented on #56163
no the docs are right. your understanding of the url is wrong.

the username that is being used to login to the server is git. the user being authenticated is done based on the server in question after that. the ssh url format is the following

`<username>@<server>:<filesystem location>`

for bitbucket the urls are typically git@bitbucket.org:/project/repo.git the UI should have an option to get t

[2020-02-14 15:07] dhiltonp commented on #56090
Thanks!

Could you look for a related stack trace in the salt minion logs?

Something like: `grep -B1 -A10 Traceback /var/log/salt/salt_minion` on the affected minion.

[2020-02-14 15:07] windowsrefund commented on #56163
That doesn't explain why (as shown above) the URL works for gitfs_remote but not for ext_pillar?

[2020-02-14 15:12] brandon-sling opened #56166 "Data Transport is broken"
### Description of Issue
[code]
Also see https://github.com/saltstack/salt/issues/48265

This is only seen from the minion side. Issuing the command to run the state from the master, returns
[code]

### Setup
I don't know if this matters but the master is running gitfs for its fileserver roots config.
The file to transfer should not be in the minion's cache.

### Steps to Reproduce Issue
Try trans

[2020-02-14 15:15] dhiltonp commented on #56088
Yeah, the pymssql Python module will need to be installed on the system where the salt mssql module is being used.

I can see the confusion.

The rest of the documentation is written in the same way - specifying dependencies, but not saying *where* they need to be installed.

When attempting to run a salt module without having the necessary python module you should have received a pretty helpful e

[2020-02-14 15:23] whytewolf commented on #56163
what version of salt do you have?

also, is master the correct branch? if the url works for one and not the other it isn't the url that is wrong.

[2020-02-14 15:36] DmitryKuzmenko commented on #56147
I've also reproduced this bug in Salt 3000. As mentioned above it reproduces only on python 3 for `grains.setvals` when `sudo_user` is set in the config.
[code]

[2020-02-14 15:51] sagetherage commented on #55829
@cachedout I have attempted to take care of those listed above and go through `stale` tickets this week and agree we don't have the number of days correct, yet. We seem to have swung the pendulum from one end to the other. As I understand, 30 days to trigger the bot is where we want to get be, eventually, ideally, but currently if there is more manual work to correct the bot then the bot isn't con

[2020-02-14 15:54] sagetherage commented on #42874
@gaetanquentin looks like this is now a Feature request to add a stop event, is that correct?

[2020-02-14 15:57] sagetherage commented on #50568
@saltstack/docs-working-group

[2020-02-14 15:59] dwoz commented on #56137
As far as  authentication errors. They will be resolved in the zeromq suites with this change #56132, however they can't be resolved when using the TCP transport unless we add something to the messages which can allow the tcp transport to do similar filtering.

I'm pretty sure that this message is un-related to the Authentication errors. I will keep an eye out for it.
[code]

[2020-02-14 16:00] DmitryKuzmenko commented on #56148
Just one more example that is interesting as for me:
[code]
[code]

[2020-02-14 16:23] DmitryKuzmenko commented on #56150
@xq2248 there is a mistype in your second command `jobs.lookup_jod` should be `jobs.lookup_jid`. Here's my log with both comands from the same master, I'm getting the same error message but the correct command shows me the result:
[code]

[2020-02-14 16:26] DmitryKuzmenko commented on #56151
@saltstack/team-cloud @saltstack/team-windows thoughts?

[2020-02-14 16:29] sblaisot opened #56167 "Salt 3000: having reload on service.running makes state fail"
### Description of Issue

Due to a bug [on this line](https://github.com/saltstack/salt/pull/55540/files#diff-51f5a9819bcf2919b421cb7fccd2c42bR490), introduced by #55540 if you use `reload: whatever, True or False` on `service.running` states, you get a stacktrace and state fails.

### Steps to Reproduce Issue
1. Disable a service (say cron.service for example)
`systemctl disable cron.service`
2.

[2020-02-14 16:45] cachedout commented on #55829
This isn't the hill I want to die on, but the only question I'd ask is -- what is the problem to which stalebot is a solution?

There are plenty of open, active, and recent issues to work on so it doesn't seem like it's the case that anybody is spending time working on an issue which is no longer applicable.

Having open issues is _valuable_ to people who are searching for information about a Salt

[2020-02-14 16:49] cachedout commented on #56137
Interesting. Why is the syndic sending failed that fail to auth at all, though? That seems odd.

[2020-02-14 17:11] dhiltonp commented on #56058
Thanks!

This is definitely a Py2->Py3 thing we need to take care of.

[2020-02-14 17:11] sblaisot commented on #56167
Issue reproduced by @myii on public formula-cron: https://travis-ci.org/myii/cron-formula/jobs/650531077#L1765-L1779

[2020-02-14 17:18] DmitryKuzmenko commented on #56157
@dwoz I've assigned this one to you because you're already assigned to the similar issue #56131. I'm just not sure is it the same or not so leaving this opened for now.

[2020-02-14 17:18] myii commented on #56167
To follow on from the last comment, it's failing across all 7 platforms:

* https://travis-ci.org/myii/cron-formula/builds/650531076

[2020-02-14 17:25] myii commented on #56167
And passing without the `reload` (except for a couple of `saltcheck` failures):

* https://travis-ci.org/myii/cron-formula/builds/650537002

[2020-02-14 17:26] DmitryKuzmenko commented on #56163
Duplicates #56127

[2020-02-14 17:27] #56163 closed

[2020-02-14 17:42] sagetherage commented on #52243
@garethgreenaway can you follow up here?

[2020-02-14 17:46] OrangeDog commented on #56107
Confirmed it's not fixed.

[2020-02-14 17:54] DmitryKuzmenko commented on #56165
@MatthiasKuehneEllerhold thank you for report. Is there any chance to take a look to the corresponding salt-minion log file? I understand it's hard work to cut everything sensitive from that but it could help to analyze your issue.
Also it'd probably a good idea to run salt with a wrapper starting collecting the system metrics each time right before running `state.apply` and stopping after. This c

[2020-02-14 18:20] weswhet commented on #56165
@MatthiasKuehneEllerhold just a few questions.

Is the machine bound to Active Directory?

What service is `service.running` managing?

[2020-02-14 18:57] maxfactor1 opened #56168 "Unable to use /run endpoint with token authentication"
### Description of Issue

[Reading the docs on how to use the salt-api /run endpoint tells me that the following should work](
https://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_cherrypy.html#run):
[code]

I have created a token and ran the code above, and I am receiving a 401 error:
2020-02-14T16:29:08Z [salt.auth][WARNING] Authentication failure of type "token" occurred.
2020-0

[2020-02-14 19:10] DmitryKuzmenko commented on #56166
@brandon-sling I can't reproduce the exactly your issue but could you try to configure the system locale to use `.UTF-8` encoding on both machines and re-run your test? Your local is set to `ANSI_X3.4-1968` that is actually a 8-bit ASCII encoding that doesn't support unicode.

[2020-02-14 19:12] Ch3LL commented on #56118
@ryanmilne-digicert i was able to find out those containers are managed here: https://github.com/saltstack/saltdocker/

 looks like there is an issue with the cron job on travis that should have automatically uploaded that to docker hub so i'll dive into that next week.

[2020-02-14 19:22] DmitryKuzmenko commented on #56166
Also if you're open for experiments I'll very appreciate if you able to patch your minion with this:
[code]
Reproduce the issue and share the corresponding log with me.

[2020-02-14 19:28] windowsrefund commented on #56163
salt 3000

It seems we're talking in circles here so perhaps I'll just highlight the facts...

1. The (valid) URL used for gitfs_remotes does not work with ext_pillar
2. The documentation itself (referred to above) clearly shows a distinct difference (seemingly invalid) syntax in the format of the URL used by ext_pillar

Based on the 2 facts above, it would be logical to suspect a problem with, or

[2020-02-14 19:33] ryanmilne-digicert commented on #56118
@Ch3LL Thank you.  I did find that repo and used it to create my own updated image, but I would like to switch back to official images once you have resolved the issue.

[2020-02-14 19:48] PierreQueyroi commented on #44560
Hi, I'm interested in this feature

[2020-02-14 21:32] brandon-sling commented on #56166
updating locales on master and minion did not remove the error, but now like the issue I linked it's changed from `str` to `byte` in the error
Here is the traceback:
[code]

[2020-02-14 21:38] jeffdyke commented on #56124
I'll open another issue, but thought here was appropriate as well.  With 10.4 and 3000, you need to have a default set of parameters for the minion, i've added this to our custom bootstrap to avoid restarting during a highstate

[code]

I'm not sure if this should be solved as another part of the salt code, likely not, but I spin up shared environments quite often and found that having it run duri

[2020-02-14 21:51] brandon-sling commented on #56166
so weirdly I decided to put a log.error(data) just before the try block on line 1164 in fileclient.py and restarted the minion again and this time it worked. It printed the str data and put the file in cache and where it was supposed to go on the system. I restarted the minion after adding the traceback logging lines and still got the error.
So some number of restarts after updating locale it fina

[2020-02-14 21:51] jeffdyke opened #56170 "mariadb socket access must be enabled before highstate - salt 3K still tries empty password"
### Description of Issue

In mariadb 10.4, the empty root password was removed, so the default is socket only as root or the mariadb owner (mysql).  When running a highstate this will fail if you try to write the config file during a running minion, and if you try a local reload, i've run into either race conditions or a bad idea :).

I have added this to my custom bootstrap script, directly after

[2020-02-14 22:23] kschafer2598 opened #56171 "No data from mine.get when targeting with grains"
### Description of Issue
Hi,

Trying to do mine.get and it is not returning results when using grain targeting. This is a multimaster setup with etcd for the cache.

Targeting with glob works; Targeting with grains or compound does not work.

Works:
`salt-call mine.get '*' grains.item`

Does not work:
`salt-call mine.get 'cpuarch:x86_64' grains.item grain`
`salt-call mine.get 'G@cpuarch:x86_64' gr

[2020-02-14 22:23] batgranny commented on #56088
The error message was along the lines of "The function mssql.whatever is not available" which wasn't hugely helpful.  It was only really a guess that it might be the module on the minion side that led to the resolution

[2020-02-14 22:42] Ch3LL commented on #56118
Fix here: https://github.com/saltstack/salt/pull/56172

[2020-02-14 23:40] twangboy commented on #55161
The above suggested fix is incorrect. You can't enable privileges the user does not have.

The token contains all the privileges the user has. Some are enabled, others are dormant. The `elevate_token` function in `salt.platform.win` enables all privileges the user has. This is the equivalent of the UAC dialog box when you're doing something from an account that is a member of the Administrators gr

[2020-02-14 23:52] twangboy commented on #55161
The failure in the stack trace of the original issue is in the `copy_security` function in `salt.utils.win_dacl`. Just above the failure there are the following lines:
[code]
You could try adding the following 2 lines after the las `new_privs.add` to see if it will add a new permission. I'm not sure it will work:
[code]
If this works, could you please submit a PR?

[2020-02-14 23:58] bbrendon commented on #51219
Anyone figure this out? Looks like I have the same issue.

[code]

[2020-02-15 02:01] nicholasmhughes commented on #56151
If this exists for EC2, I'll have to take a look at the level of effort to get it into the Azure provider. Feature parity makes sense.

[2020-02-15 02:50] #36393 closed

[2020-02-15 03:16] nicholasmhughes commented on #56144
@roddergreg , grab this updated vmware cloud provider and see if it works for you.

https://github.com/nicholasmhughes/salt/blob/fix_vmware_hotadd_enabled/salt/cloud/clouds/vmware.py

Drop it in `/srv/salt/_clouds/` and run `salt-run saltutil.sync_clouds` to test.

[2020-02-15 04:10] windowsrefund commented on #56127
With a fresh install of Salt 3000, I have tried to work around this issue with the URL syntax described above. I'm still running into the problem though when trying to access my pillar over git using public key auth. It should be noted that my repo (name changed below) is working perfectly with gitfs_remotes though the URL syntax is different (git@bitbucket.org:myuser/repo.git)

[code]

[2020-02-15 06:17] houtuo commented on #56090
Thanks for your reply!
Mail attachment is my minion logs.
houtuo_job@163.com

From: David Hilton
Date: 2020-02-14 23:07
To: saltstack/salt
CC: houtuo; Author
Subject: Re: [saltstack/salt] Unable to manage file: 'module' object has no attribute 'path' on suse (#56090)
Thanks!
Could you look for a related stack trace in the salt minion logs?
Something like: grep -B1 -A10 Traceback /var/log/salt/salt

[2020-02-15 09:12] s0undt3ch commented on #55835
Related https://github.com/saltstack/salt/pull/55900

[2020-02-15 10:03] s0undt3ch commented on #55835
For anyone working on Py3.8 support, some work has been done in https://github.com/saltstack/salt/tree/features/py38-compat?files=1

[2020-02-15 11:14] #55305 closed

[2020-02-15 12:17] adambarnett52 commented on #50107
Was there any update on this issue

Sent from my iPhone

[2020-02-15 12:58] sblaisot commented on #56167
To complete the bug report, just having `reload: True` without `enable:` is sufficient to trigger the bug.

[2020-02-15 16:38] mchugh19 commented on #55886
Not stale

[2020-02-15 17:14] #51794 closed

[2020-02-15 17:14] #51484 closed

[2020-02-15 17:15] udf2457 commented on #55874
Not stale !

[2020-02-15 17:15] udf2457 commented on #55887
Not stale !

[2020-02-15 17:15] udf2457 commented on #55873
Not stale !

[2020-02-15 22:14] #54818 closed

[2020-02-15 22:44] exe90 opened #56175 "Error delete minion with cache from etcd"
### Description of Issue

Error delete minion with cache from etcd:

### Setup
srv-salt-master      version salt 3000
srv-salt-syndic01   version salt 3000
srv-salt-syndic02   version salt 3000
srv-salt-minion       version salt 3000

**NFS /etc/salt/pki/master**
srv-salt-master
srv-salt-syndic01
srv-salt-syndic02

**Pip freeze from salt-master**
[code]

**Master config**
[code]

### Steps to Repr

[2020-02-15 23:36] pruiz commented on #47201
This is still an issue, please keep open.

[2020-02-15 23:50] garethgreenaway commented on #56124
Apologies for the delay on this one, I ended up addressing the initial issue with `conargs` and then found a few more when testing it against the various versions of MySQL, MariaDB, and Percona, so I ended up breaking out the various scenarios into their own functions to keep this more maintainable going forward.   If anyone is able to test the PR at #56174 to ensure that it fixes the various issu

[2020-02-16 20:53] jodok opened #56177 "mysql states fail because conv is `` instead of None"
### Description of Issue

when running an operation with the mysql state it fails as the conv object is not defined properly. I'm unsure whether PyMySQL handles it incorrectly, but I suspect it's rather salt as it should get the default value of `None`.

[code]
### Steps to Reproduce Issue

the mysql connector tries to get the config option for `conv` https://github.com/saltstack/salt/blob/master/

[2020-02-16 20:54] jodok commented on #56177
not sure where this has to be fixed. Either in PyMySQL or here?

[2020-02-16 21:15] bitskri3g commented on #56124
That PR looks good - all of my test cases are now passing.  Additionally, a few older issues that I've been having (e.g. mysql_user insisting that a mysql user password was incorrect and setting it again even though no change was actually needed) are now also gone.  Good fix.

[2020-02-17 06:10] johncollaros commented on #8882
Waiting for an update on this issue - key for boot-straping new systems.

[2020-02-17 06:40] mattherrmann commented on #56177
+1 for this issue. I was able to work around it by adding the following line to my minion config to force SaltStack to set mysql.conv to None:
`mysql.conv:`

[2020-02-17 06:53] MatthiasKuehneEllerhold commented on #56165
The mac is connected to an OpenLDAP Server (Mac) for users and groups.

It manages only 2 services: the salt-minion itself and the agent for zabbix:
[code]

This is the call log as seen from the master:
[code]

This is the corresponing /var/log/salt/minion:
[code]

[2020-02-17 06:54] MatthiasKuehneEllerhold commented on #56165
It seems like the user.present took roughly 5 minutes. Could this lead to a total hang of the whole system even after the salt is finished?

[2020-02-17 08:00] ymasson commented on #56177
#56124

[2020-02-17 08:01] ymasson commented on #56177
PR: https://github.com/saltstack/salt/pull/56174

[2020-02-17 08:57] cachedout commented on #46644
@sagetherage and @twangboy Should this marked both as `Sodium` for the upcoming release _and_ as `Stale`?

[2020-02-17 10:55] DmitryKuzmenko commented on #56171
[code]

[2020-02-17 10:56] DmitryKuzmenko commented on #56171
Could you please provide more details about your configuration? Sanitized minion config would be perfect.

[2020-02-17 11:19] DmitryKuzmenko commented on #54260
I'm sorry if I'm wrong but this works for me and v3000 contains this patch
[code]

[2020-02-17 11:20] OrangeDog commented on #54260
@DmitryKuzmenko are you saying you can no longer reproduce, or just that the commit was released?
If the latter, then I guess it didn't fix this issue.

[2020-02-17 11:38] arizvisa commented on #55708
not stale.

[2020-02-17 11:52] dkacar-oradian commented on #56119
I don't understand how is this going to be resolved. Is the change to `slspath` value going to become permanent (in which case I need to replace `slspath` variable with `tpldir` everywhere) or it's going to be reverted to the previous value (in which case I just need to wait for the next salt release)?

[2020-02-17 11:59] vlameiras opened #56178 "Persistence issue with Proxy Minion REST example"
### Description of Issue

When trying to follow the Proxy Minion example on https://docs.saltstack.com/en/latest/topics/proxyminion/index.html I always get `KeyError` exceptions when the different functions are executed. It seems that the `opts` variable is never persisted on DETAILS between calls, so it always raises `KeyError` when executing for example
[code]

### Setup
I'm using the default `m

[2020-02-17 12:26] jouve commented on #48516
[code]

it should be something like :

return the targets from the ssh config file, checks opts for location but defaults to ~/.ssh/conf`

[2020-02-17 12:40] arizvisa commented on #55161
I think you're looking at the wrong thing here because `salt.platform.win.elevate_token` is executed only by `salt.utils.win_runas` and is related to that particular commit. So, the process' token is not getting all of its available privileges set with `elevate_token` prior to running `GetNamedSecurityInfo`. Y
If `elevate_token` was being called at process startup, then that would make sense...but

[2020-02-17 12:52] DmitryKuzmenko commented on #54260
Hm... It looks a bit confusing just because it looks fixed on my side...
[code]

[2020-02-17 12:53] arizvisa commented on #54869
@HenriWahl as this particular issue seems to have been unassigned by maintainers, it might be better to just create a new issue and reference this one.

The issue actually a problem that can occur in a number of places, when really they should be calling `CoInitialize` just once at thread creation and not really on-demand as they're currently doing it.

Grepping for 'with salt.utils.winapi.Com():`

[2020-02-17 12:55] DmitryKuzmenko commented on #56107
@OrangeDog anyway this one is another issue, not the same as #54260.

[2020-02-17 12:55] arizvisa commented on #54392
@53c70r, what about with '-x python3'?

[2020-02-17 13:00] OrangeDog commented on #54260
That is odd. Full versions report for where I tested it:
[code]

[2020-02-17 13:02] landergate opened #56179 "Lack of FQDN on host blocks salt-master startup"
### Description of Issue
Some VPS providers do not provision hostname at /etc/hosts at Ubuntu 18.04 image.
Right now it leads to salt-master failure to start.

From UX point of view, it looks like this:
1. User gets a new VPS with Ubuntu 18.04
2. Installs salt-master from SaltStack's py3 repo
3. salt-master never starts

Current workaround: add hostname lines to `/etc/hosts` manually, e.g.:

[code

[2020-02-17 13:18] flassman commented on #54884
I've been hit by this issue while upgrading to salt 3000, after having happily used msgpack 0.5.6 and 2019.2.2 before. As a workaround I have downloaded msgpack-0.5.6 from https://pypi.org/project/msgpack/0.5.6/#files and installed it like this (I'm on CentOS 7.7):
[code]

[2020-02-17 14:45] keagan-thinkst opened #56180 "--static flag causes longer run time"
### Description of Issue
When running a salt command with the `--static` flag it causes the run time of a module function to increases by order of magnitude.
eg.
Example function targeting approximately 1000 minions:
[code]
vs when adding the `--static flag:
[code]

Forcing a low timeout does not help the static case either, I am trying to use the `--static` flag to get valid/parseable JSON as a w

[2020-02-17 16:26] clallen opened #56181 "ext_pillar - git checkout error with multiple repos"
### Description of Issue
I have an ext_pillar setup in which one repo serves a single pillarenv ("asmt"), and the other serves everything else.
When querying the "asmt" repo, the data is returned as expected, but this error appears in the master log:

[code]

### Setup
I have the repos set up with the "asmt" one first, and the "catch-all" one last.  The docs make it sound like these are searched s

[2020-02-17 16:27] tkykm commented on #56151
Thanks guys for working on this.
EC2 itself has this feature, but azurevm hasn't it. My understand is to get it into the azure provider it would be need more work than EC2.

[2020-02-17 16:28] hbokh commented on #54817
Also in `2019.2.2`.

[2020-02-17 16:56] kschafer2598 commented on #56171
Here's the minion config

[code]

[2020-02-17 17:18] alan-cugler commented on #55945
https://docs.saltstack.com/en/latest/ref/proxy/all/salt.proxy.netmiko_px.html has the option listed with a less than clear explanation that @garethgreenaway left commented here.

@saltstack/docs-working-group will take @garethgreenaway clarification comment and add that clarification to the docs?

[2020-02-17 17:27] DmitryKuzmenko commented on #55860
@ze42 I know it's too old to say. Sorry.
Could you try to set the `enable_legacy_startup_events` to false and check how it works?

[2020-02-17 17:30] DmitryKuzmenko commented on #55860
There's the code supporting the old style events for backward compatibility.Probably it's time to drop it out or at least rework.

[2020-02-17 17:32] alan-cugler opened #56182 "clarification for netmiko options: keepalive & always_alive"
### Goal
I'd like a clarification for how to achieve the following with salt's netmiko proxy
- keep a ssh connection open
- reconnect upon the connection being dropped
### Related issues
This was what this individual and many other engineers have wanted to achieve on several different occasions
- https://github.com/saltstack/salt/issues/55945
### Relevant source material
- https://docs.saltstack.c

[2020-02-17 17:37] shortstack commented on #53702
would also like to cp.push wildcarded files, single files work fine, and cp.push_dir also works

paths with wildcards do not

[code]

[2020-02-17 17:41] js-capra commented on #53702
Yes please! errr... I mean *bump*

[2020-02-17 17:45] alan-cugler commented on #56182
If this is achievable we should make a small guide for engineers to see @saltstack/docs-working-group.

Labels: question, doc-request, Proxy Minion

[2020-02-17 18:12] DmitryKuzmenko commented on #48498
@Ch3LL unfortunately not. It's in my todos

[2020-02-17 18:35] myii commented on #56167
I've found another formula that exhibits this behaviour but also complicates matters _with the state still passing for some of the platforms_:

* https://travis-ci.org/myii/strongswan-formula/builds/651200774

So all seven of the platforms show the same error in the debug log, even for the passing `debian-10`:

https://travis-ci.org/myii/strongswan-formula/jobs/651200775#L1650-L1666

[code]

Yet t

[2020-02-17 18:37] myii commented on #56167
Continuing that last comment, for the platforms that are failing, the message shown is:

https://travis-ci.org/myii/strongswan-formula/jobs/651200777#L1745-L1749

[code]

[2020-02-17 18:43] sblaisot commented on #56167
I also found in one of my formulas a service that was enabled and running after formula has been applied but that was only the case because the service was enabled at package install, before the `service.running` state was run.

[2020-02-17 19:22] ooboyle opened #56183 "Initializing an instance of salt.client.Caller() causes the minion to freeze"
Hello,

When I initialize an instance of  salt.client.Caller() inside a custom grain, the minion freezes immediately after a sync_grains. e.g.:

caller = salt.client.Caller()

This looks identical to the issue that was apparently resolved here:

https://github.com/saltstack/salt/issues/28091

This is a pretty major blocker for me right now. Any ideas would be appreciated.

Thanks,
Oliver

Log on m

[2020-02-17 19:50] js-capra commented on #53702
OK. I think I got it... thanks to talking this through with @shortstack ... Though not documented well the glob arg may do the trick here.  I was able to get it to work with having all the files start with 'scan_' and used 'glob=scan_*' .  It may work with 'glob=*'

[2020-02-17 20:12] #53702 closed

[2020-02-17 22:40] raddessi opened #56184 "v3000 fails to install in conda env"
### Description of Issue

Salt fails to install via pip in a conda env

### Setup
`conda create -n testenv python=3.6`

### Steps to Reproduce Issue
[code]
This seems to result in a version error because we are checking strict versions. Snipped traceback:
[code]

Do you know why strictversion is being used? I'm not familiar but it feels like loose should be adequate for this check, and does appear

[2020-02-17 22:45] raddessi commented on #56184
Can set up a pr if that moves things along, just let me know :) thanks

[2020-02-17 22:58] golmaal commented on #51219
I'm having this issue as well...

`[root@salt ~]# salt --versions-report
Salt Version:
           Salt: 3000

Dependency Versions:
           cffi: 1.11.5
       cherrypy: unknown
       dateutil: 2.6.1
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
         Jinja2: 2.10.1
        libgit2: Not Installed
       M2Crypto: 0.33.0
           Mako: Not Inst

[2020-02-18 00:00] fzipi commented on #55187
Still happening.

[2020-02-18 00:49] terminalmage commented on #56167
This is fixed in https://github.com/saltstack/salt/pull/56185, sorry for the inconvenience.

[2020-02-18 01:15] darkpixel opened #56186 "Pillar data not being returned from an init.sls file"
### Description of Issue
I'm not sure when this started occurring, but the master and minion are both 2019.2.2.
In my ```/srv/salt/pillar/top.sls``` I have a definition for the client:

[code]

Inside ```/srv/salt/pillar/clients/myclient``` I have an ```init.sls``` file:
[code]

```/srv/salt/pillar/clients/myclient/rootpassword.sls```:
[code]
On the client, when I run ```salt-call -l info pillar.i

[2020-02-18 01:30] darkpixel commented on #56186
I should clarify.  When I adjust my top.sls file to specifically reference ```client.myclient.rootpassword``` it works.

[2020-02-18 06:04] dtmateojr commented on #56067
Could somebody please explain to me what is happening here. I'm very confused. It looks like saltstack is 'yamlizing' the string arguments before passing them to **file.write**

[code]

[2020-02-18 06:37] SDedik commented on #55231
Hello,
I have also stumbled upon this issue with SaltStack version 3000 running on Python3 on CentOS7.
If possible, I also vote for updating official documentation [here](https://docs.saltstack.com/en/latest/topics/tutorials/gitfs.html) to highlight differences in pygit2 packages.

[2020-02-18 09:09] baby-gnu opened #56187 "Support in data merging strategy for `salt.modules.config.get` like in `pillar.stack`"
### Description of Issue

`salt.modules.config.get` support merging strategy at call time with the `merge` parameter.

This is great for `sls` writer to decide how to use things but I think it should be better to make it a data driven behaviour like it's done in [pillar.stack](https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.stack.html#merging-strategies)

This could be implemented

[2020-02-18 09:59] ymasson commented on #52674
@udf2457 python3-m2crypto is available in buster-backports.

[code]

[2020-02-18 10:04] MartinEmrich opened #56188 "Salt 3000 won't work on CentOS7/Python 2"
### Description of Issue
Installing the Salt minion 3000 on CentOS 7 using salt bootstrap results in a non-functioning installation (2019.x did work).
Calling e.g. state.highstate results in a long list of exceptions like

[code]

### Setup
Just install and configure salt-minion 3000 using salt bootstrap. If the `-x` option is not specified, a non-funtional install using python2.7 is installed.

I

[2020-02-18 10:32] OrangeDog commented on #56188
I believe bootstrap is generally broken for 3000, on every platform.

[2020-02-18 10:54] udf2457 commented on #52674
@ymasson All very well if your environment permits the use of `buster-backports`.

Some of us work with environments where the warnings posted on the `buster-backports` page need to be heeded:

[2020-02-18 11:10] SDedik opened #56189 "[Question] autosign_grains exposed in salt/auth events?"
### Description of Issue
Hello,
Let's say I have a minion configured to send autosign_grains:
[code]
And I have salt-master configured to autoaccept minions based on those grains. I can confirm that this part is working as expected. No problem here.

Now, I have a group of servers which are redepoyed/reimaged very often and in automated manner. Autoaccept doesn't work for them because of duplicate

[2020-02-18 11:12] dhs-rec commented on #56119
Since this has gone completely undocumented AND is a backwards incompatible change, I'd vote for reverting it to the previous behaviour and only then announce it as being deprecated and change it in the second next release. Nothing else does make any sense.

[2020-02-18 11:52] DmitryKuzmenko commented on #54260
@OrangeDog to consolidate our environments do you have an ability to try to reproduce this on a clean salt environment with a simple minion config like
[code]
with this sls file:
[code]

My results are the following:
[code]

[2020-02-18 11:53] 1ricardo opened #56190 "Consul KV - invalid URL syntax for state consul.put"
### Description of Issue
When I trying to use the state of Consul which should store the value in the specific key under Consul KV base, I noticed that it doesn't work because SALT using incorrect URL in the first two steppes.

As we know, most states work in a similar way, i.e. they perform the following three steps.
1. check if the changes are required
2. making change
3. check if the change was

[2020-02-18 12:04] jose1711 commented on #55085
I wasn't unable to reproduce the problem with current HEAD, bisected and discovered this was the fixing commit: 734f084407db7fac82779dd50bca0f9eb64d86ee. I wish I would not have to track this down myself. Closing.

[2020-02-18 12:04] #55085 closed

[2020-02-18 12:13] OrangeDog commented on #54260
[This was a clean salt environment.](https://github.com/saltstack/salt/issues/54260#issuecomment-586217749) I `pip install salt` into a fresh virtualenv.
No config, no states, no master. Hence `--local state.low`.

[2020-02-18 12:19] OrangeDog commented on #54260
@frogunder you reproduced before. What do you see with v3000?

[2020-02-18 12:23] jose1711 commented on #50910
tested with current -HEAD and the issue is still present

[2020-02-18 13:03] 53c70r commented on #54392
Works fine.

[2020-02-18 14:00] flassman commented on #54020
Would make sense to me to have different defaults in salt/modules/zabbix.py:configuration_import() depending on the apiinfo_version(), just like it is done in other functions in the same module

[2020-02-18 14:16] roddergreg commented on #56144
updated provider as instructed.  Looks like it did not work.

![image](https://user-images.githubusercontent.com/3171527/74743836-1e173780-522f-11ea-91ba-69e696ccb3c6.png)

my normal vmware.py lives in  /usr/lib/python2.7/site-packages/salt/utils/vmware.py

Did this synchronize with the salt-run?
Thanks,
Greg

[2020-02-18 14:30] MartinEmrich commented on #56188
@OrangeDog with `-x python3`, it works for both master and minion. Is bootstrap deprecated?

[2020-02-18 14:37] OrangeDog commented on #56188
No, they just broke it.

[2020-02-18 14:47] dmurphy18 commented on #56134
This should be available later this week.

[2020-02-18 15:32] esilva-everbridge commented on #49586
We have seen serious memory leaks on occasion that required restarting the master processes.

[2020-02-18 15:49] MartinEmrich commented on #56188
Indeed. At first I thought it would work, but in fact I have a wild mixture of python3 (master,minion) and python2-based stuff (api).

Actually I think the repo versioning is off, too. There's apparently a repo for python2 and on for python3... But both contain packages with the same RPM version number. That calls for trouble...

Next, I'll leave bootstrap aside, and try my luck with the py3 repo

[2020-02-18 16:36] sagetherage commented on #56177
Thankyou @jodok for reporting this. It is similar to some work @garethgreenaway is assigned in the above issue https://github.com/saltstack/salt/issues/56124 he has self-assigned, here as well, and will update the labels, today. I also moved this to approved milestone, Gareth, let me know if I can help in any other way. Thx!

[2020-02-18 18:11] sagetherage commented on #55787
Assigned to DMurphy and will follow up with him after today - he is working on something else, today, but want to get his eyes on this sooner rather than later.

[2020-02-18 18:29] sagetherage commented on #55829
@cachedout thank you for the thought and analysis. We will take this to the next round of discussion on this topic. As you say Mike, there has been a long and elaborate discussion on this topic - we'll include you in as we pick up discussion on this soon.

[2020-02-18 18:55] brandon-sling commented on #35439
This is on salt version 2019.2.3
I don't know if this helps. I've experienced something similar. I have a reactor that should be running saltutil.sync_grains on minions. The documentation states that this refreshes the grains too. Indeed this seems to be working fine since running a `salt minion1 saltutil.sync_grains` doesn't show any grains being synced. however when targeting on some custom grai

[2020-02-18 19:36] cheald commented on #54867
This isn't failing because of digest, it's failing because:

    crltempfile.write(salt.utils.stringutils.to_str(text))

tempfile.write() expects a bytes object, but `salt.utils.stringutils.to_str` takes a byte string and converts it to a unicode string. This is fixed by just changing this line to:

    crltempfile.write(text)

[2020-02-18 19:47] SammyTbeile opened #56192 "[Documentation] Inconsistent jinja samples for filters added in version 3000"
### Description of Issue
The jinja filters added in version 3000 (set_dict_key_value, append_dict_key_value, extend_dict_key_value, update_dict_key_value) use inconsistent formatting for the examples, results, and version added blocks on the Understanding Jinja page (https://docs.saltstack.com/en/latest/topics/jinja/index.html)

[2020-02-18 19:50] dmurphy18 commented on #55787
@furlongm Packaged Salt does not currently work on Fedora 31 Py 3 due to Tornado 5 / 6 compatibility issues. However I shall be packaging the latest release Salt 3000 soon which should address this issue.

In the mean time you can bootstrap install latest to install the latest version of Salt, (bootstrapping version 3000 had a bug which was recently fixed and is in the develop branch but not relea

[2020-02-18 20:37] sblaisot commented on #56167
I confirm #56185 fixed the problem for me. thanks @terminalmage

[2020-02-18 20:37] sagetherage commented on #56119
Looking into this @dkacar-oradian @dhs-rec we will add this to the this week's Community Open Hour on Thursday at 11 AM Mountain and get more details in this ticket. Apologies! I didn't see this early, Monday was a US holiday and simply catching up, not to defend or give you and excuse, we need to hear from you and deal with this ASAP, simply giving context for the lack of a more prompt response.

[2020-02-18 21:17] roddergreg commented on #56144
I had pulled down the vmware.py without the updated pr information. I pulled the new file and ran the sync and it works perfectly for mem_hot_add.  Here is my screen from a running vm.  The Memory is no longer gray and the Memory hot plug is checked!

![image](https://user-images.githubusercontent.com/3171527/74778703-1de85d80-526a-11ea-8c0d-23685856d5ff.png)

This PR works as expected. Thank you

[2020-02-18 21:18] 1ricardo commented on #56190
Hi,
Unfortunately, the issue was in our Consul State written as an extension for Salt.
We can close this issue.

[2020-02-18 21:18] #56190 closed

[2020-02-18 21:48] iahim commented on #55478
no fix yet...?

[2020-02-18 22:15] lorengordon opened #56195 "Windows: Using inline powershell in args with `cmd.script` and `shell: powershell`"
### Description of Issue

The way salt invokes powershell seems to make it impossible to pass inline powershell to `cmd.script` args, to allow for values being built-up in ps objects. I.e. how would you run a script that requires a SecureString or a PSCredential as a parameter?

### Setup

Say you have the script foo.ps1:

[code]

And you want to call it with cmd.script:

[code]

When you run this

[2020-02-18 22:32] lorengordon commented on #56195
A possible workaround would be to use `cmd.run` and call the script and args directly in the `name` argument, but for that we would need to know the full path to the script. Any ideas how to get that?

i.e. this works, but how to get `c:/salt/srv/salt/foo/foo.ps1` without hardcoding it?
[code]

[code]

[2020-02-18 22:38] lorengordon commented on #56195
Looking through the history, I didn't see any conversation about the usage of `-File` with `cmd.script`... https://github.com/saltstack/salt/pull/5620

[2020-02-18 23:04] githubcdr opened #56196 "Salt 3000 minion won't start after upgrade to 3000"
### Description of Issue

Salt is making me salty, first Linux minions fail to start, now Windows;

PS C:\salt> .\salt-minion-debug.bat
The salt-minion service is not started.

More help is available by typing NET HELPMSG 3521.

[DEBUG   ] Reading configuration from c:\salt\conf\minion
[DEBUG   ] Using cached minion ID from c:\salt\conf\minion_id: win10.eigenhuis.lan
[DEBUG   ] Multiprocessing que

[2020-02-18 23:15] raddessi commented on #46438
bumping so this shows as active in my queue, I need to get back on it

[2020-02-19 04:47] max-arnold commented on #56188
The tracebacks look quite similar to this pip issue: https://github.com/saltstack/salt/issues/56131

Can you try installing `python-pip` (manually or through the [`-p python-pip`](https://github.com/saltstack/salt-bootstrap/blob/develop/bootstrap-salt.sh#L358-L359) bootstrap option)?

[2020-02-19 05:54] haodeon commented on #55425
Still working on it

[2020-02-19 06:07] SDedik opened #56198 "Windows minion installer litters in SystemDrive"
### Description of Issue
Minion Installer for Windows https://repo.saltstack.com/windows/Salt-Minion-3000-Py3-AMD64-Setup.exe
After running installer, 4 files are unpacked into root of SystemDrive (by default C:\) and are left there. This is not harmful behavior, but not exactly clean and tidy. I don't see a reason why those files can't be extracted into temp folder or be cleaned up afterwards by

[2020-02-19 06:38] dhs-rec commented on #55799
I also see this after updating from 2018.3.4 to 2019.2.3 (and even 3000) with this code (on Windows):
[code]
and this package description:
[code]
[Note that installing .Net using `pkg.installed` generally doesn't work, at least up to Salt 2018.3.4.]
I also tried changing it to use `pkg.installed` in 2019.2.3 to see if the problem installing .Net this way still exists there, but it still throws the

[2020-02-19 06:49] dhs-rec opened #56199 "Windows: cmd.run doesn't honor PATH anymore after update from 2018.3.4 to 2019.2.3"
### Description of Issue
After said update, the follwing SLS doesn't work anymore:
[code]
The `cmd.run` fails with this error message:
[code]
### Setup
See above.

### Steps to Reproduce Issue
Apply this to Windows Minions running 2018.3.4 -> Works
Apply this to Windows Minions running 2019.2.3 -> Fails

[2020-02-19 07:01] dhs-rec commented on #55799
This one, #56119 and #56199 currently block us from updating to anything newer than 2018.3.4.

[2020-02-19 08:00] #55670 closed

[2020-02-19 09:08] SDedik opened #56200 "salt/auth 'act' field is missing"
### Description of Issue
Under certain conditions captured `salt/auth` events may not have `act` field in data section based on whether autosign_grains has or has not been sent by a minion and state of the key on salt-master.

### Steps to Reproduce Issue
#### Scenario 1, correct behavior:
Key on salt-master is in **accepted** state and auth request is sent by new minion with duplicate id and **wi

[2020-02-19 09:37] pepoluan opened #56201 "states.iptables cannot handle multi-word options"
### Description of Issue
`iptables.append` documentation mentioned that I can specify options for additional matches by using the match's long option.

However, when using `match: [ set ]` I cannot properly specify the `match-set` option.

### Setup

[code]

### Steps to Reproduce Issue

[code]

It seems that using the "attempt_1" variant, "tarpitting dst" is passed to iptables as a single word in

[2020-02-19 14:43] Ch3LL commented on #55838
perfect thanks for confirming. i'll go ahead and close this, but let me know if needs to be re-opened

[2020-02-19 14:43] #55838 closed

[2020-02-19 14:50] Ch3LL commented on #47381
this particular issue is related to the salt-ssh scan roster not picking up the port form the cli args. If you are not using the scan roster its most likely not related to this issue and would need to create a new one.

[2020-02-19 14:55] MartinEmrich commented on #56188
@max-arnold installing `python-pip` (which actially installed `python2-pip`) fixed it.

[2020-02-19 14:56] waynew commented on #54256
This looks like it is resolved in `master`, and should be present in version 3000. To get the fix, please upgrade your Salt.

Thanks!

[2020-02-19 14:56] #54256 closed

[2020-02-19 15:07] Ch3LL commented on #55837
Went ahead and tried your state to take a closer look. The reason you are seeing this behavior is because you need to ensure you are passing the args correctly to the network module. So you need to change this `('cant-connect.com 80')` to `('cant-connect.com', 80)`. What was occuring is when you passed in `cant-connect.com 80'` the network module only saw that as the first `host` arg and port was

[2020-02-19 15:13] Ch3LL commented on #55241
Can you try salt 3000 @SecureshellV2 There was an issue with the `-s` being added to the redhat variant builds that affected the way python libraries are loaded up. (https://github.com/saltstack/salt-pack-py3/issues/174)

[2020-02-19 15:53] Ch3LL commented on #55656
I'm having a hard time replicating any buggy behavior. Can you share a complete use case where your seeing the wrong minion_id appear?

[2020-02-19 16:00] sagetherage commented on #54755
Not sure why the stale bot is attacking this issue, but attempting to rid the ticket of the enemy evil doer with `Confirmed` and moving this out of `Blocked` into `Approved` will review again later.

[2020-02-19 17:19] sagetherage commented on #55594
Fix has been merged, closing the ticket as fixed. @Linuturk please let us know if you still experience issues.

[2020-02-19 17:19] #55594 closed

[2020-02-19 17:24] dhiltonp opened #56202 "salt cmd timeout parameter isn't used if batch or subset is set."
### Description of Issue
cmd_batch and cmd_subset look for a timeout parameter, it's not correctly passed everywhere...

[2020-02-19 17:58] waynew commented on #56133
That's directly from https://docs.saltstack.com/en/latest/ref/states/requisites.html

Since 2014.

`onchanges_any` is from 2018. I'm not sure exactly why there are two requisites that behave exactly the same, it would require some research with git blame & history to track down what they motivation was. But both of these things behave *exactly as documented*.

[2020-02-19 18:04] waynew commented on #56067
FWIW, `file.write /tmp/blarp $(echo -e "foo\nbar")` definitely works

[2020-02-19 18:25] dhiltonp commented on #33773
just noting: batch and subset are entirely separate ways of executing commands and don't interact. batch takes priority, then subset, then iterative (the default).

[2020-02-19 18:36] waynew commented on #54137
@kbabioch did you try the aforementioned state change? Without `-` leading I'm surprised this works at all?

[2020-02-19 18:50] OrangeDog commented on #56133
They’re not exactly the same, because a state can return True without having changes.

[2020-02-19 19:12] baby-gnu commented on #23576
I'm having this issue on version `3000`

[code]

[code]

[2020-02-19 21:54] waynew commented on #56175
Thanks for the report! Working to reproduce this now.

[2020-02-19 21:55] waynew commented on #56178
Thanks for the report! Working to reproduce this now.

[2020-02-19 21:56] waynew commented on #56179
Thanks for the report! Working to reproduce this now.

[2020-02-19 21:58] waynew commented on #56180
Thanks for the report! Working to reproduce this now.

[2020-02-19 21:59] waynew commented on #56181
Thanks for the report! Working to reproduce this now.

[2020-02-19 22:03] waynew commented on #56183
@ooboyle thanks for the report. It looks like the issue is related to trying to spin up two tornado loops, which doesn't actually work (and shouldn't be done).

I'll see if I can reproduce this!

[2020-02-19 22:06] waynew commented on #56184
@raddessi thanks for the report!

@s0undt3ch could you take a look at this?

[2020-02-19 22:21] s0undt3ch commented on #56184
Yes, loose version can be used here and is the right fix.

A PR is always welcomed @raddessi, Thank You!

[2020-02-19 22:27] baby-gnu commented on #23576
To reproduce the error:

- you can find my `salt-ssh` configuration: https://gist.github.com/baby-gnu/8a198629161fe8fc60bd2b33a8321012/354ae2ca62940efb48aa3563f610be3e16c9fc41
- execute the command:
[code]

There is an error to find `map.jinja`.

Regards.

[2020-02-19 22:35] waynew commented on #56186
That would be because [pillar relative includes are not yet in master](https://github.com/saltstack/salt/pull/52156) You can port that PR yourself, or wait and we should be able to get it ported by Sodium/3001

[2020-02-19 22:38] darkpixel commented on #56186
Strange.  I could have sworn that was working a few months ago.  My bad.  Thanks for the pointer.  I'll port it in.

[2020-02-19 22:39] #56186 closed

[2020-02-19 22:41] waynew commented on #56187
Hi @baby-gnu thanks for the request - I've added it to our core team agenda and should be able to get back to you on Friday!

[2020-02-19 22:44] waynew commented on #56188
Duplicate of #56131 (unless I misunderstood, in which case, please let me know and we'll re-open!)

[2020-02-19 22:44] #56188 closed

[2020-02-19 22:49] gabeio opened #56205 "virtualenv 20 changed version output from stdout to stderr"
### Description of Issue

It seems that virtualenv v20 changed their version output from stdout to stderr.

https://github.com/saltstack/salt/blob/b4dd2352f92a3d67fcfafefadd95dfd39a8e8c2e/salt/modules/virtualenv_mod.py#L173

It correctly returns a 0 status code but because stdout is empty `not ret['stdout'].strip()` throws us into the exception.

### Setup
(Please provide relevant configs and/or S

[2020-02-19 22:49] waynew commented on #56189
Hi @SDedik, for questions you might have better luck asking on one of our community resources:

- [#salt on freenode](https://kiwiirc.com/nextclient/irc.freenode.net/?nick=IRC-Source_?#salt)
- [Salt Users email list](https://groups.google.com/forum/#!forum/salt-users)
- [Salt Community Slack](https://saltstackcommunity.herokuapp.com/)

[2020-02-20 02:03] ooboyle commented on #56183
Great, thanks! Let me know if you need anything from my end.

Oliver

-------- Original message --------
From: Wayne Werner <notifications@github.com>
Date: 2020-02-19 17:03 (GMT-05:00)
To: saltstack/salt <salt@noreply.github.com>
Cc: Oliver O'Boyle <ooboyle@atlific.com>, Mention <mention@noreply.github.com>
Subject: Re: [saltstack/salt] Initializing an instance of salt.client.Caller() causes the

[2020-02-20 02:36] #55810 closed

[2020-02-20 02:36] #55761 closed

[2020-02-20 02:36] #55658 closed

[2020-02-20 02:36] #54947 closed

[2020-02-20 02:36] #55686 closed

[2020-02-20 02:36] #55621 closed

[2020-02-20 03:23] tyc1031 commented on #9731
I unfortunately am still hitting this issue in version 2019.2.2

[code]

Using this state named `sync.sls`:
[code]

I have also tried:
[code]

I call this state with `state.apply sync saltenv=prod` and it only ever syncs the `prod` env. I am doing this through a state because there are other states that follow the 'Sync All Modules' state. I can provide logs if necessary but it should be pretty ea

[2020-02-20 04:11] dtmateojr commented on #56067
Not really. Watch the triple dashes disappear:

[code]

[2020-02-20 05:19] SDedik commented on #56189
Apologies for asking question here and thank you for the links. I'll close the issue now.

[2020-02-20 05:19] #56189 closed

[2020-02-20 07:14] gaetanquentin commented on #42874
@sagetherage yes

[2020-02-20 07:15] pavel-z1 commented on #51157
The main problem for me with this bug, that I am receive report to the Sentry from Salt minion each time when git is cloned to the server first time.

Simple check for the empty destination folder before execute command '[u'git', u'rev-parse', u'--show-toplevel']' will prevent error messages.

[2020-02-20 07:39] sjkummer opened #56206 "[BUG] [report v2019.2.3, v3000] 25% memory usage on Raspberry Pi (Ubuntu 64bit)"
### Description of Issue
I am running the latest release v2019.2.3 on a Raspberry Pi 3 B and it uses nearly 25% of the memory (250MB of 1GB). There are no running task - the minion is "idle".

Why is so much memory needed?

### Setup
Saltstack minion on a Raspberry Pi 3 B V1.2

### Versions Report
Salt Version:
           Salt: 2019.2.3

Dependency Versions:
           cffi: Not Installed
       c

[2020-02-20 07:40] sjkummer commented on #56206
<img width="851" alt="salt-minion-memory-usage-clipped" src="https://user-images.githubusercontent.com/9035698/74911306-9cedab00-53bc-11ea-97f4-2d338984db6c.png">

[2020-02-20 09:03] GwiYeong opened #56207 "low performance issue when using runner"
### Description of Issue

i always use my saltstack with salt-api.
after send async command to api `/run` with `client: local_async`, i should call api  `/jobs/{jid}`  In order to get command result.  Then the salt-api will call [disbatch_runner](https://github.com/saltstack/salt/blob/master/salt/netapi/rest_tornado/saltnado.py#L1121) with below lowstate.

[code]

master will receive runner event

[2020-02-20 09:50] emasean opened #56208 "salt.wheel.key.delete_dict does not work on unaccepted keys"
### Description of Issue
salt.wheel.key.delete_dict does not work on unaccepted keys

### Setup
the `delete.sls` file has the following content:

[code]

### Steps to Reproduce Issue
if both keys are in Unaccepted state, and we run:
`salt salt-master-minion state.apply delete`
result in
[code]

but the keys are still in the unaccepted state (not removed)

### Versions Report
[code]

[2020-02-20 10:36] #54952 closed

[2020-02-20 11:06] MrDiba opened #56209 "Docs: reference to jenkins.saltstack.com"
### Description of Issue
In https://github.com/saltstack/salt/blob/master/doc/topics/development/contributing.rst#sending-a-github-pull-request there is a reference to http://jenkins.saltstack.com leading to nowhere. It should probably lead to https://jenkinsci.saltstack.com.

[2020-02-20 11:12] praveenkulkarni22 opened #56211 "Python SALT API Result Formatter"
### Description of Issue

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
**pkg_install.sls**
[code]

**Python API Program**
[code]

The above python script works perfectly fine and displays the result as below:

[code]
However, I need a tweak in the program to get only the `Succeeded` and `Failed` value in a variable. Is that feasible with `salt.ou

[2020-02-20 11:16] MrDiba commented on #56209
I see that https://github.com/saltstack/salt/blob/master/doc/topics/development/tests/index.rst#automated-test-runs and https://github.com/saltstack/salt/blob/master/doc/topics/development/tests/index.rst#automated-test-runs uses the old url as well.

[2020-02-20 11:30] githubcdr commented on #56196
This error is gone when I disable my OpenVPN tap device.

[2020-02-20 11:40] funbaker commented on #55656
[code]

In 2018.3 it works as expected with `admin1`, `admin2` and `localadmin1`.
In 2019.2 it doesn't match at all.

It broke in the PR linked above, and i already know how to fix it.
The responsible line is https://github.com/saltstack/salt/pull/48809/files#diff-889b4ad7294d8f45dfd1c3a87b9ba427L45

I'm not sure though why this line was removed, so I need feedback on that.

[2020-02-20 13:11] damon-atkins commented on #51621
@dwoz @twangboy  @sagetherage  I would not be surprised after fixing this, that the test suite as part of a PR run a lot lot faster.

[2020-02-20 13:15] mtorromeo opened #56212 "python-setuptools package for RHEL 7 should provide python2-setuptools"
When upgrading to salt 3000 on CentOS 7 I encountered incompatibility issues with some packages in EPEL that require python2-setuptools.

For example the certbot package depends on python2-josepy which in turn depends on python2-setuptools. Since [CentOS' own package](https://centos.pkgs.org/7/centos-x86_64/python-setuptools-0.9.8-7.el7.noarch.rpm.html) provides python2-setuptools, this is totally

[2020-02-20 13:27] damon-atkins commented on #36031
@twangboy  Re: recent work grp comment, Just a reminder that Code Page setting in the batch script was tried, it will not work until Python 3.6+ is in use.  As the console fix is in 3.6

[2020-02-20 13:29] damon-atkins commented on #36031
FYI @markuskramerIgitt

[2020-02-20 13:40] dhiltonp commented on #56067
I tracked down where the args are being yamld to [here](https://github.com/saltstack/salt/blob/3ad69c8fabe76e45426950c99b6e43b28340f2f9/salt/utils/args.py#L113). I'm not sure why we're treating command line arguments as yaml.

@terminalmage, do you have any idea why we're doing that? I see your name on that code and I'm hoping for a bit of context...

[2020-02-20 13:53] damon-atkins commented on #36031
More UTF changes https://docs.python.org/3/whatsnew/3.7.html

[2020-02-20 14:13] emasean commented on #56208
but seems salt.wheel.key.delete works (for a single minion)

[2020-02-20 14:46] Ch3LL commented on #53746
ahh gotchya i thought your concern was with the network config that the state is managing. Thanks for clearing that up :)

[2020-02-20 14:48] Ch3LL commented on #55850
thanks for clarifying the command. looks like we need to handle the encoding here better. thanks

[2020-02-20 14:52] Ch3LL commented on #55886
im going to close here as this discussion should be taking place in a SEP as stated in my previous comment so we can formalize the request and discussion.

[2020-02-20 14:52] #55886 closed

[2020-02-20 14:54] Ch3LL commented on #55874
thanks for pointing them out. we will need to get these cleaned up

fyi @saltstack/team-docs

[2020-02-20 15:11] Ch3LL commented on #55887
im not able to replicate this using your exact state on 2019.2.2/debian 10:

[code]

What I did notice in your output is that your repo is already configured. `     Comment: Package repo 'deb https://dl.cloudsmith.io/public/isc/kea-1-6/deb/debian buster main' already configured` Did you run this state multiple times? If you run it clean without the repo configured do you still see the issue?

[2020-02-20 15:23] Ch3LL commented on #55873
`contents_pillar` is used to add the entire contents from that given pillar to a file, not just a portion of the file. I dont see the advantage of adding `contents_pillar` to `pkgrepo.managed` when at that point you should just use `file.managed`

[2020-02-20 15:33] Ch3LL commented on #55231
The naming convention `python`, `python2`, vs `python3` packages are not specific to just pygit2 but all python packages in general. If you are installing any dependency that salt uses you would need to ensure to install the correct python version of the package depending on what version of python your salt instance is running under. Just the same if you are pip installing a python package you wou

[2020-02-20 15:34] terminalmage commented on #56067
CLI args are passed through PyYAML so that we get type detection for free. That is, `foo=9` will load an argument `foo` with the value being an `int` type. This is how arguments have always been loaded in Salt and is not something that changed recently. In fact, this same thing happens on 2016.11.10. The weird thing about this bug report is that you are referencing two different ways of passing ar

[2020-02-20 15:36] #37261 closed

[2020-02-20 16:23] sagetherage commented on #42874
Thank you @gaetanquentin! I have updated the labels as much as I can and asked a Core team member to help, today, plus moved it out of the `Blocked` milestone and into `Approved`. The milestone gives the impression we will do it, but at this point it is a request and not blocked, so the Core team will still need to review it and decide if and when it will be implemented.

I explain since I don't t

[2020-02-20 16:54] voki commented on #41458
Same with Salt 3000 and RabbitMQ 3.8.2.

[code]

[2020-02-20 17:07] dhiltonp commented on #56067
What you need to do to write multiple lines to a file like this is:

`file.write /tmp/foobar 'line 1' 'line 2' 'line 3'`

[2020-02-20 17:16] dmurphy18 commented on #56212
@mtorromeo The issue is support for earlier versions of Redhat 7, for example: Redhat 7.2 where python2-setuptools did not originally exist, and still supporting that version. If I recall correctly originally did have python2-setuptools and had to revert to python-setuptools for packages from early versions of Redhat 7.  Shall review minimum versions of Redhat 7 support to see if we can address th

[2020-02-20 17:34] bryceml commented on #52777
we just need to decide if we are ok with the link for `all salt modules` at the top of every page i.e. https://docs.saltstack.com/en/latest/contents.html going to py-modindex.html

Basically we try to use the py-modindex provided with sphinx and override a few things. They switched to using a deep copy instead of shallow copy so it made it harder to do that.  The way it works now is kind of a hack