[2017-01-10 16:27] jjm commented on #38556
The information being logged into elasticsearch should have nice short (ideally prefixed by `salt_` to prevent clashes on common words) that following what you see from the CLI as follows:

[code]

The following is single key in the `return object:
[code]

If it could be logged as a single (and more importantly flat) message as follows:

- salt.function: "pkg.installed"
- salt_result: true
- salt_

[2017-01-10 16:43] hpapaxen opened #38662 "salt-cloud: AttributeError: 'list' object has no attribute 'copy'"
### Description of Issue/Question

Hey all, I'm trying to provision a new ec2 instance with salt-cloud with no avail. Any help would be appreciated

### Setup

## Cloud Profile
[code]
## Cloud Provider
[code]
### Steps to Reproduce Issue

Run salt-cloud -p base_ec2_slave slave1

## Partial logs
[code]
### Versions Report
[code]

[2017-01-10 16:47] GabLeRoux commented on #37133
:tada: I confirm it works when the `saltmaster` is updated to `2016.11.1`, worked when `salt-minion` was on both `2016.3.3` and `2016.11.1` ;)

[2017-01-10 17:05] arthur-kiwi commented on #38100
@lomeroe It is the same file skjaro has an issue with, "C:\Windows\policydefinitions\search.admx" that contains the " encoding='unicode' " string.

[2017-01-10 17:11] alexbleotu opened #38663 "Relative log folder override stopped working as expected for proxies (possibly for all minions)"
### Description of Issue/Question
My override in the proxy's config file is
[code]

Previously the log file was (as expected): `${root_folder}/var/log/salt/proxy`
It switched to being: `${root_folder}/ var/tmp/var/log/salt/proxy`, both in the `develop` branch and in the `2016.3` branch.

It's worth mentioning that nowhere in my config do I have the `var/tmp` override, so I think it's a bug.

[2017-01-10 17:11] lomeroe commented on #38100
@arthur-kiwi ok, my bad, I didn't make the connection that it was the same file.  Are you using Windows 7 too?  I also unfortunately only tested with Server 2008 and 2012 (which doesn't seem to have search.admx)...

[2017-01-10 17:19] arthur-kiwi commented on #38100
@lomeroe I have tested on both Windows 8.1 and Windows 10 and they have the search.admx. Don't have any windows 7 machines to test on. I didn't realize it was the same file as skjaro had issues with until I ran the ps command you suggested.

[2017-01-10 17:27] cachedout commented on #38604
I think changing the data in the batch run is the way to go. Munging it just feels like an extra layer of complexity that we'll have to maintain and account for.

[2017-01-10 17:50] gtmanfred commented on #37824
@Enquier https://github.com/saltstack/salt/pull/38647 is merged now if you want to open the PR for your changes

[2017-01-10 17:51] NickDubelman opened #38665 "Sending files from master to syndic?"
### Sending files from master to syndic?
What is the suggested way for syncing files from a master down to a syndic?

The syndic documentation suggests that a syndic node should also have a minion running on it. I interpret this to mean that the syndic node should be a minion of itself. In this case, cp.get_file and cp.get_dir will not work for sending files from a master to a syndic, because thes

[2017-01-10 18:49] RobotLimeLtd commented on #33232
I'm not sure whether the documentation has changed recently, but there are examples of each

at https://docs.saltstack.com/en/latest/ref/states/requisites.html#watch which starts:  "A good example of using watch is with a service.running state...."

and at https://docs.saltstack.com/en/latest/ref/states/requisites.html#onchanges where it starts:
"The correct usage would be:"

But, to summarise:
on

[2017-01-10 19:55] chatterbeak commented on #38538
Thanks. I'm configuring a test box that has minion and master running on one box. I haven't tried other configurations because this is our standard test configuration.

[2017-01-10 19:58] guettli commented on #33232
@RobotLimeLtd thank your for your summary:

I understood above lines.

The note-box in the docs ("Note: If a state should only execute when ...") says the same but with more word. I suggest to use your summary instead of "If a state should only execute when ...".

[2017-01-10 20:04] #36148 closed

[2017-01-10 20:52] terminalmage commented on #38604
@cachedout thanks, that was the way I was leaning but I appreciate the confirmation.

[2017-01-10 21:11] StyXman commented on #37802
I think in that case the state should be error too, possibly a different error from 'all minions failed'.

[2017-01-10 21:12] lomeroe commented on #38100
@arthur-kiwi @skjaro

I played around and it seems removing the "encoding='unicode'" from the xml lets it parse okay (from my very basic tests)

Here's a version that will try to do that if an XMLSyntaxError is thrown when attempting to parse:

https://raw.githubusercontent.com/lomeroe/salt/win_lgpo_ignore_badxml_admx_files/salt/modules/win_lgpo.py

If it tests out okay, I can do a PR to merge the

[2017-01-10 21:42] gtmanfred commented on #38656
Could you do the following?

[code]

And use the built in diff module?

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.file.html#salt.modules.file.get_diff

[2017-01-10 21:47] gtmanfred commented on #38662
Your grains object should be a dictionary.

[code]

[2017-01-10 22:10] mlalpho opened #38670 "file.line mode=insert not working"
### Description of Issue/Question

state file.line with mode=insert doesn't seem to work for this use-case. I just get `No changes needed to be made`

I can use mode=ensure, but that ends up only allowing me to manage a single line and subsequent file.line states with mode=ensure replace the previous line that was managed.

I attempted escaping the various "special" characters in the `match` strin

[2017-01-10 22:15] isbm commented on #38670
Yeah, I wrote that few years ago with no unit tests. My bad.

[2017-01-10 22:27] mlalpho commented on #38670
Any help would be appreciated if you've got time to look deeper. Cheers :beers:

[2017-01-10 22:47] MikeSpaceG opened #38671 "zpool.get error"
### Description of Issue/Question
zpool.get fails as '-o' is not a valid option with ZFS on Linux.

### Setup
zfs: 0.6.5.8-1.el7_3.centos

### Steps to Reproduce Issue

[code]

### Versions Report
Master:
[code]
Minion:
[code]

[2017-01-11 00:04] valentin2105 opened #38672 "IPv6 Network states is incomplete"
### Description of Issue/Question

I'm trying to deploy IPv6 Addresses to my minions, but following documentation, it doesn't work.

I have looked at states/modules in develop branch about networking and debian.IP but can't be able to find some usefull thinks for v6.

### Setup
*networking.sls* :
[code]

The output in `/etc/networking/interfaces` :
[code]
### Steps to Reproduce Issue
(Include debu

[2017-01-11 00:53] jackywu opened #38674 "There is no code to use parameter 'event_publisher_pub_hwm' in saltstack-2016.3"
### Description of Issue/Question

I'am researching the meaning of parameter event_publisher_pub_hwm and salt_event_pub_hwm，and I find them were set in  `DEFAULT_MASTER_OPTS` and `DEFAULT_MINION_OPTS` in salt/config/__init__.py`, but no code to use them. Did these parameters not work？

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Re

[2017-01-11 04:13] sumeetisp commented on #38655
Yes i am getting the same error.

[2017-01-11 04:28] zhulh200868 commented on #38574
@Ch3LL thank you! I will try it.

[2017-01-11 05:32] defanator commented on #36619
Just caught an issue when two different salt versions on two hosts with the same OS (Ubuntu 14.04) and DNS/hosts/hostnames setup provide different `fqdn` grain:

Expected one:

    $ hostname -f
    lb-a9723eb4.example.com

    $ sudo salt-call grains.get fqdn
    local:
        lb-a9723eb4.example.com

    $ sudo salt-call --versions-report
    Salt Version:
               Salt: 2016.3.4

    Dep

[2017-01-11 07:58] yhekma opened #38677 "consul cache backend broken"
### Description of Issue/Question
When using consul as a backend for the minion cache, you can run into ```SaltCacheError: There was an error getting the key "set([u'host1', u'host2', u'host3', u'host4'])": unsupported operand type(s) for +: 'set' and 'str'```

This is because in consul.py there is a function called `list`, which of course conflicts with the type `list()`. This function also tries

[2017-01-11 08:53] hpapaxen commented on #38662
Worked like a charm. Thanks!

[2017-01-11 08:53] #38662 closed

[2017-01-11 09:44] retrry commented on #38630
I don't remember seeing this error before.

[2017-01-11 10:05] g-shockfx commented on #38463
@gtmanfred I`m sorry but I don`t fully understand.
For my purpose I should to use only my custom cpuusage module. You are not suggest to add this beacon module by pool request?
Currently load beacon use stack 1m, 5m, 15 which are not applied to Windows..

[2017-01-11 10:18] jackywu opened #38678 "Minion has multiple connections to Master's 4506 port"
### Description of Issue/Question

My Minion has multiple connections to Master's 4506 port in my environment.
But reading the saltstack code, the code tell there is only one connection to Master's 4506 port implementing by `__singleton_init__`。what‘s the problem? and I don't know how to debug that.

The command was executed in my salt-master.

![connections](https://cloud.githubusercontent.com/as

[2017-01-11 10:36] rbjorklin opened #38679 "salt.example.com_master does not recieve consul_pillars when using minion targeting"
### Description of Issue/Question
The special minion `salt.example.com_master` used during orchestration does not receive consul_pillars when using minion targeting as introduced in #37987.

I'm opening this issue because I'd like a discussion on a sensible way to solve this and be able to use orchestration and consul_pillar minion targeting together.

An easy fix would be to add [`and not minion_

[2017-01-11 10:47] bartuss7 commented on #38384
I have the same issue. I have tried to extract zip archive on linux and windows.

test.sls:
[code]

On linux looks like:
[code]

When i extract archive using unzip directly on machine, looks ok:
[code]

On windows files has read-only flags:
[code]
When i extract directly on windows:
[code]

The same situation when i set "extract_perms" to False

[code]

[2017-01-11 10:51] sumeetisp opened #38680 "Roster - salt-ssh with public key"
### Description of Issue/Question
I was trying out Salt-ssh which requires a roster file, which was present at /etc/salt/roster
My question is regarding ssh to masterless minion using public key of the minion.

The roster file structure give at https://docs.saltstack.com/en/latest/topics/ssh/roster.html#ssh-roster
does not specify any parameter to specify public key to ssh into the minion for the

[2017-01-11 11:00] alexykot opened #38681 "virtualenv.managed ran twice over the same directory breaks it"
### Description of Issue/Question
`virtualenv.managed` configured to create Python3 venv on first run does the right thing, but when run for second time on the same minion with already existing venv breaks it and resets to Python2.

Workaround - explicitly delete venv environment folder before (re)creating the venv.

### Setup
[code]

### Steps to Reproduce Issue
1. create virtualenv.managed state

[2017-01-11 11:29] arthur-kiwi commented on #38100
@lomeroe The state now returns true but I cant see that the policy is set in gpedit.msc nor does the setting seem to apply. I still see the first sign-in animation when i log onto the machine with a new user account.

[code]

[2017-01-11 12:54] gstachowiak opened #38683 "require/order/failhard combination error"
### Description of Issue/Question

Specific combination of require/order/failhard causes the following error:

[code]

The correct output should be:

[code]

I noticed that after removing order, error is not thrown.

### Setup
File a.sls

[code]

File b.sls

[code]

### Steps to Reproduce Issue

execute:

[code]

### Versions Report
[code]

[2017-01-11 13:08] rukender opened #38684 "2016.11.1 :[ERROR][11182] Failed to import beacons avahi_announce"
### Description of Issue/Question
I'm getting this error in most of the minion which are upgraded with the latest version i.e. 2016.11.1
[code]
### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)
[code]

[2017-01-11 13:26] rukender commented on #38684
I can confirm that this error is because of the upgrade only, here is the link which gives information about which all files updated in 2016.11.1 version.
https://www.archlinux.org/packages/community/any/salt/files/

@SaltStackSupport please provide some solution asap.

Thanks

[2017-01-11 13:29] ek9 commented on #38559
I have confirm this to be working. Thank you and sorry for wasting your time.

I will leave this issue open with a suggestion to update documentation to even mention the `api_root` parameter, as it is nowhere mentioned in the documentation for users to find:

https://cse.google.com/cse?cx=004624818632696854117:yfmprrbw3pk&q=&q=%22api_root%22#gsc.tab=0&gsc.q=%22api_root%22&gsc.page=1

Please close

[2017-01-11 14:04] jackywu opened #38685 "cache_sreqs logic was removed from the code base"
### Description of Issue/Question

Even the 'cache_sreqs' options still appear in `DEFAULT_MASTER_OPTS` and `DEFAULT_MINION_OPTS`, but there was no any code use this option. That's so strange.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided b

[2017-01-11 14:47] lomeroe commented on #38100
@arthur-kiwi the "set" command doesn't run a gpupdate, so the data in the regpol file won't get written to the registry (for admin templates) until the next run (though it *should* show as configured by lgpo.get and gpedit.msc)

Here is how we do our states, we have a simple "gpupdate" state that looks like this:
[code]

Then on any policy that uses the lgpo state, we include that state and use an

[2017-01-11 15:13] ebauman commented on #37972
@gtmanfred Here are the results. These appear to be valid ipv6 localhost

[code]

[2017-01-11 15:16] gtmanfred commented on #37972
Is this with the ::1 record in /etc/hosts or without?

[2017-01-11 15:18] gtmanfred commented on #38463
If you wouldn't mind submitting a pull request with the windows beacon for load, we would greatly appreciate it.  If not, then I am going to close this issue.

Thanks,
Daniel

[2017-01-11 15:19] ebauman commented on #37972
Ah, right you are! My apologies.
Here's the output after removing the localhost IPv6 entries from /etc/hosts:

[code]

[2017-01-11 15:21] Ge0 opened #38688 "state.apply test=True issue with pip packages"
### Description of Issue/Question

Hey.

When I want to test the correctness of my salt states with the `test=True` extra param of my `state.apply` command, I get several issues which don't rise upon normal state application.

### Setup

Take this simple salt collection of states:

[code]

### Steps to Reproduce Issue

[code]

As you can see, the state *awscli* fails whereas it normally should suc

[2017-01-11 15:36] lomeroe opened #38689 "win_lgpo state fails to set single policy due to case sensitive check"
### Description of Issue/Question
Attempting to use the win_lgpo state to set a single policy (as described in the documentation of the state) fails due to a case sensitive check of the policy_class paramter.

### Setup
A state such as will return with no changes made due to policy_class being checked against the string "machine" in the win_lgpo.py file
[code]

### Steps to Reproduce Issue
Execute

[2017-01-11 15:39] lomeroe commented on #38100
I found the issue on the single policy (case sensitive comparison of the policy_class parameter).  Issue #38689 and PR #38690  submitted to resolve that.

[2017-01-11 15:44] lomeroe opened #38691 "win_lgpo module throws a key error when run with return_not_configured=True"
### Description of Issue/Question
win_lgpo module throws a value error when run with the return_not_configured=Ture

### Setup

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2017-01-11 15:56] afletch commented on #38630
Also seeing this exact same issue with https remotes
[code]

[2017-01-11 17:20] afletch opened #38692 "salt-ssh "Failed to load ext_pillar""
When using salt-ssh with ext_pillar (in this case reclass), `pillar.items` fails with:
[code]

versions:
[code]

[2017-01-11 18:17] haeac opened #38694 "Filtering Map files"
### Description of Issue/Question
Hello,

I'm trying to filter my map data based on OS and major release version. However, I can't seem to filter out the same. Any help would be appreciated.

Thanks.

### Setup
defaults.yaml:
[code]
packages.sls file:
[code]

### Steps to Reproduce Issue
[code]
The output is as follows:

Rendering SLS 'dev:defaults.packages' failed: Jinja variable 'dict object' ha

[2017-01-11 18:34] rallytime commented on #37996
@stefan-as The changes in #38695 should alleviate this issue. Can you give that a try and let us know how it goes?

[2017-01-11 18:53] sketch242 opened #38696 "service.dead fails when service is not installed."
service.dead fails when the service is not installed.  I have the following state:

[code]

The first time I run it, it is clean, but the second time around, it fails because the postfix service has been uninstalled.  If I replace service.dead with service.disabled, it does not return an error when the service is not installed, so this seems like a bug in service.dead.

testhost:
----------

[2017-01-11 19:31] dejadejoder commented on #27491
Same pb for me (salt-ssh 2016.11.1 (Carbon)):
`[WARNING ] Failed to open log file, do you have permission to write to /var/log/salt/ssh?`

[2017-01-11 19:36] sketch242 commented on #38696
Just in case it's useful for anyone, here is my current workaround:

postfix:
{% if salt['service.available']('postfix') %}
  service.dead:
    - enable: False
{% endif %}
  pkg.removed:
    - pkgs:
        - postfix

[2017-01-11 19:38] fboismenu opened #38697 "On Windows, ip.get_all_interfaces returns at most 2 DNS/WINS Servers"
### Description of Issue/Question

Should you have more than that 2 DNS and/or WINS servers configured,
ip.get_all_interfaces returns only the first two:

For exemple:
[code]

[2017-01-11 19:38] edgan opened #38698 "Failhard doesn't work right"
### Description of Issue/Question
  In #24996 people asked batch mode to fail on the first failure by an host. This is the opposite of what I want. I want the failhard: true to only apply on a per host level. The reason is I am using batch mode to run salt every 30 minutes. With the current style then any one host failing causes all hosts after it to not run till I fix it.

  Personally I think a

[2017-01-11 19:45] hostedvideorn opened #38699 "Unable to restart minion from master"
### Description of Issue/Question
When a minion is dead I am unable to restart it from the master, no matter what I do. I am only able to restart it from the minion itself

[root@master ~]# salt 'minion' service.restart salt-minion
minion:
    **Minion did not return. [Not connected]**

Tried with all of the following but the result is the same
cmd.run_bg 'sleep 10; service salt-minion restart'
cm

[2017-01-11 20:36] lorengordon commented on #38696
I think this might be a [duplicate](https://github.com/saltstack/salt/issues/37511).

It looks like the fix was [merged into the 2016.3 branch](https://github.com/saltstack/salt/pull/37562). Are you able to give that a try to see if it fixes the problem for you?

[2017-01-11 20:54] Ch3LL commented on #38663
@alexbleotu i'm having a hard time replicating this. Here is my test case maybe you can correct me and i'm just approaching it or understanding it incorrectly.

1. `salt-proxy -ldebug --proxyid ec2` (start proxy minion)
2. see where its logging

Everytime its always located in /var/log/salt/proxy even if i set your log_dir setting you have or not in versions 2015.8.5, 2016.3.4 adn 2016.11.1. Can y

[2017-01-11 21:02] Ch3LL commented on #38665
@NickDubelman looks like you found a solution but I want to approve this as a feature request. Maybe there coulde be a module that syncs certain directories or a configuration option. But I like this idea. I couldn't find another issue that already requested this which surprised me, so if anyone does find one please link it to this one. Thanks

[2017-01-11 21:04] alexbleotu commented on #38663
With the log_dir option in the configuration file you can override the log location.  It wouldn't be in `/var/log` location anymore.

[2017-01-11 21:14] sketch242 commented on #38696
Yep, looks like it does.  I searched for similar issues for submitting mine, but I forgot to remove is:open, so I didn't see that one.  Thanks.

[2017-01-11 21:14] #38696 closed

[2017-01-11 21:21] mikeadamz commented on #38388
I'm seeing the same thing on the salt-master. I can salt-master -l info and get all the logs, but short of that nothing lower than warning shows up in /var/log/salt/master regardless of what the logging level is set to.

[2017-01-11 21:30] mikeadamz commented on #38388
setting log_level_logfile works, setting that to info will get the right logs into the log file.

[2017-01-11 21:49] Ch3LL commented on #38672
Does it work if you change it to `- ipv6ipaddr: fc00::1/128` ?

[2017-01-11 21:52] valentin2105 commented on #38672
Hi, Same result here :
[code]

[2017-01-11 22:05] Ch3LL commented on #38671
@MikeSpaceG seems there is a difference between say freebsd and linux usage of zpool.

From freebsd man page [here](https://www.freebsd.org/cgi/man.cgi?zpool(8)) : `zpool get [-Hp] [-o field[,...]] all | property[,...] pool ...` vs the usage output: `get [-pH] <"all" | property[,...]> <pool> ...`

Looks like we need to edit the command if on linux.

[2017-01-11 22:14] Ch3LL commented on #38674
@jackywu looks like it was removed with this PR: github.com/saltstack/salt/pull/29294

This is a little over my head so i'm going to bring in a couple more people who might be able to explain whether this is on purpose to remove these options and we need to update our docs or if we need to re-add this option.

ping @skizunov @DmitryKuzmenko or @cachedout do you know whether we need to add this opt

[2017-01-11 22:15] Ch3LL commented on #38677
@yhekma thanks for the PR! Please feel free to close this issue once its been reviewed and merged or we can

[2017-01-11 22:18] Ch3LL commented on #38680
@sumeetisp i believe what you might be looking for is the ssh private key which you can specify int he roster file with: `priv: /path/to/key`

[2017-01-11 22:29] NickDubelman commented on #38665
Can you provide any insight as to whether or not the method we went with has any shortcomings?

In the syndic docs it says that you want a minion running on a syndic node for better performance, does this mean you specifically want a minion that is connected to the syndic node itself, or is it sufficient to have a minion running that is connected to some other master?

With our method, we are able

[2017-01-11 22:30] Ch3LL commented on #38287
@danbudris just spoke with @techhat offline. Would you be willing to open a separate issue with details just about the error `{'Message': 'The parameter groupName cannot be used with the parameter subnet'` error with all the information, so we can close this issue since the initial stack trace error was resolved and this error is now a seperate error? The issue has gotten a little messy to try to

[2017-01-11 22:41] Ch3LL commented on #38678
@jackywu can you log onto the minion and check what processes are are reaching out to 4506 on the master from that minion?

[2017-01-11 22:48] Ch3LL commented on #38681
@alexykot i'm haivng a hard time replicate this. When you run the state.apply again does it state that there were any changes?

[2017-01-11 22:49] disaster123 commented on #23044
While using smart - how can i force to replace a single special key in pillar?

[2017-01-11 22:52] Ch3LL commented on #38683
@gstachowiak looks like i'm able to replicate this. Here is a docker container for whoever wants to replicate this

1. `docker run -it -v /home/ch3ll/git/salt/:/testing/ ch3ll/issues:38683 salt-call --local state.apply a -ldebug` (where /home/ch3ll/git/salt is a local cloned git repo)

[2017-01-11 23:04] Ch3LL commented on #38684
@rukender just to confirm are you trying to use the avahi beacon? or is this showing without attempting to configure the beacon?

If you are trying to use avahi beacon cna you confirm you have the following installed:

[code]

My guess is you do not have avahi installed hence the nameerror. You can confirm whether you have avahi properlly installed by running `python -c "import avahi"` and see if

[2017-01-11 23:12] skizunov commented on #38674
These options were used back in the day when the event system was implemented using ZMQ. The event system was moved to use TCP / tornado in PR #29294. After that PR was merged, these options were obsoleted. I would say it is safe to remove them. I apologize for not removing them in that PR.

[2017-01-12 00:26] jackywu commented on #38674
@skizunov , Will TCP transport be the recommended and default transport implementation in the future？Will the SaltStack community give up ZeroMQ ？

[2017-01-12 00:38] danbudris commented on #38287
I'd be happy to.  I'll try to get to it as soon as I can.

On Wed, Jan 11, 2017 at 5:30 PM, Megan Wilhite <notifications@github.com>
wrote:

[2017-01-12 00:53] skizunov commented on #38674
@jackywu : When I say TCP / tornado, I really mean localhost sockets and tornado. It is similar to how the TCP transport works, but the connections are local and it is independent of the external TCP transport. Hence the event system will work regardless of which external transport (eg ZeroMQ or TCP) is in use.

As for the future of the external transports for Salt, (eg TCP vs ZeroMQ) I cannot spe

[2017-01-12 01:00] serg239 opened #38701 "salt-cloud on VMware ESXi v5.5: the OS installation from the ISO file does not work"
### Description of Issue/Question
It looks like not possible to install OS from the ISO image on VMware ESXi v5.5. datastore by using the latest version of salt-cloud. Is it correct or I have a wrong configuration of the profile I'm using to create a new VM on ESXi?

### Setup
The ubuntu-14.04.5-server-amd64.iso image is on the ESXi [datastore1] in the vmimages directory.

### Steps to Reproduce I

[2017-01-12 02:39] mikeadamz commented on #3415
I was just looking for this.  Did it ever happen? I'm using the yum provider.

[2017-01-12 02:46] gtmanfred commented on #38699
When the minion dies, there is nothing we can do.  It just isn't listening anymore.

You could use salt-ssh and use the grains cache roster or cloud roster to do a lookup and restart the salt-minion service.  But if the minion is not started listening to the master, there is no way the regular salt can restart the minion.

If your init system is systemd, you could add 'Restart=always' to the syste

[2017-01-12 02:46] #38699 closed

[2017-01-12 04:27] sumeetisp commented on #38680
I guess priv is not the correct parameter. As per the description for priv , which as follows,
priv:        # File path to ssh private key, defaults to salt-ssh.rsa
                 # The priv can also be set to agent-forwarding to not specify
                 # a key, but use ssh agent forwarding

It is a private key which will be deployed to the minion and then subsequently corresponding public

[2017-01-12 05:10] rukender commented on #38684
@Ch3LL ,

I can see this package is not installed.
Also, pyhton avahi module came after upgrading to the latest version of salt-minion i.e. 2016.11.1

I'm getting error while running python -c "import avahi"

output:
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ImportError: No module named avahi

So to resolve this issue, either we need to install this avahi package or

[2017-01-12 05:46] eminio commented on #38654
Hi Daniel,

Thanks in advance for your reply. Actually DS01-110 is available in the Datacenter.

[2017-01-12 06:32] stonegithup commented on #38678
this problem occurs in many salt-minin reports at the same time。
my salt-master is connected of 3800 minion.

[2017-01-12 07:10] lvii opened #38702 "salt-api eauth retrun "503 Service Unavailable Salt Master is not available""
### Description of Issue/Question

I have running `salt-master` in Docker instance.

After I started `salt-master` with **RAET** transport, `salt-api`  eauth request return an error message：

 **503 Service Unavailable
Salt Master is not available**

When I change `salt-master` transport to `zeromq` or `tcp`, `salt-api` eauth work ok.

### Setup

`salt-master` config ：

[code]

`salt-api` config f

[2017-01-12 09:15] mbochenk commented on #38442
@twangboy Yes. Setting that via state, not via module though.
[code]

Would not that set only computer name and not apply to actual hostname that is used when win client is registered in DNS? I tried removing setting hostname and leaving only `computer_name` - and hosts stopped registering in DNS.

[2017-01-12 09:40] alexykot commented on #38681
Just retried it, no, it returns:
[code]

[2017-01-12 11:02] nasenbaer13 opened #38704 "Archive extracted fails when another state run is queued"
### Description of Issue/Question

Archive extracted fails if another state run is queued already since the file is pulled via file managed executed via state.single.

### Steps to Reproduce Issue

Queue state just after state run has begun and before archive extracted in actual state run is started.

### Versions Report

2016.3.4 but the code is the same in develop branch

[2017-01-12 11:03] alexbleotu commented on #38663
I did a bit more digging and it was because I recently added default path overrides by creating a `salt._syspaths` module (because of a test on develop that started testing if it can create folders in the default locations, so I needed to override the default locations).

This exposed a bug in `config/__init__.py, prepend_root_dir` in which it doesn't correctly strip out the default salt.syspaths.

[2017-01-12 11:36] sivann opened #38706 "file.managed evaluates salt:// sources out of turn, resulting in "Unable to manage file: none of the specified sources were found""
### Description of Issue/Question
Consider having a file.managed, which just transfers the salt://dir/myfile to the minion. The problem occurs when  the source is created by (another) required state. When this happens, the state fails with "Unable to manage file: none of the specified sources were found", regardless of the fact that when it's the file.managed state turn to run, the file actually h

[2017-01-12 11:42] tsaridas commented on #35890
@twangboy @Ch3LL can we set this as a bug please ?
It should be expected to be able to kill jobs in either cases ( multiprocessing off / on ) in windows as it is possible in linux.

[2017-01-12 14:50] babilen commented on #37791
FWIW: Duplicate of #28236

[2017-01-12 14:52] babilen commented on #28236
Looks as if the ability to define custom jinja filter's is not a feature many people care about. Curious.

[2017-01-12 15:08] mirceaulinic commented on #37791
As per discussion in https://github.com/saltstack/salt/pull/37808, this together with https://github.com/saltstack/salt/issues/28236 became moot.
One can start reading from: https://github.com/saltstack/salt/pull/37808#issuecomment-268458091
As all execution modules are already available inside the Jinja templates, this is the recommended way to add extension filters. Other implementations would r

[2017-01-12 15:08] #37791 closed

[2017-01-12 15:11] mirceaulinic commented on #28236
As per discussion in #37808, this together with #37791 became moot.
One can start reading from: https://github.com/saltstack/salt/pull/37808#issuecomment-268458091
As all execution modules are already available inside the Jinja templates, this is the recommended way to add extension filters. Other implementations would reduce the performances and/or would introduce additional bugs without any real

[2017-01-12 15:39] Ch3LL commented on #38684
@rukender are you trying to use the avahi beacon though? If you are trying to use the avahi beacon then yes please install the package if you have no intention of using this beacon then this is an issue for this module to be erroring out like that and we need to fix this so it does not error when attempting to load the beacon.

What does your minion config look like so I can possibly replicate thi

[2017-01-12 15:44] twellspring commented on #28942
I believe @chadhs was referring to the example at the top of the boto_secgroup.   The state definitions all have vpc_name and vpc_id, but the example does not have either.  The example technically works, but it means it will create the security groups in the default VPC, which is probably not what most people want.

[2017-01-12 16:23] twellspring opened #38709 "boto_secgroup successful creation shown as error"
### Description of Issue/Question
Creating AWS security groups using the state definition in https://docs.saltstack.com/en/latest/ref/states/all/salt.states.boto_secgroup.html succeeds ( security group is created), but it shows as an error.

The only changes I made were
-  different region/key/keyid
- created mysecgroup2 and then modified the source_group_name to point to that secgroup ( not sure

[2017-01-12 16:44] hostedvideorn commented on #38699
Thanks for the clarifications. I imagined that should be the behavior but got a bit confused when I saw https://github.com/saltstack/salt/issues/5721. #5721 is actually an issue that would resolve this problem correct?

[2017-01-12 16:47] gtmanfred commented on #38699
The minion should be able to restart itself if you have systemd as the init system.

The service.restart and pkg.install are run with a different scope, so that the main salt minion process isn't killed off until it returns.

[2017-01-12 16:55] rukender commented on #38684
@Ch3LL , we are not planning to use avahi beacon.

So, could you please help me fix this issue. What exactly you want to know from minion config file.

Thanks

[2017-01-12 17:56] Ch3LL commented on #38685
@jackywu thanks for bringing this to our attention as well, it seems this was stripped out in the following pr:
https://github.com/saltstack/salt/pull/22453

The argument was originally added here https://github.com/saltstack/salt/pull/16838

ping @jacksontj any thoughts on this? Was this intentional to leave this out or should we be removing this argument/docuemtnation all together?

[2017-01-12 17:59] Ch3LL commented on #38674
I can speak to the future of zeromq. As you can see in this issue https://github.com/saltstack/salt/issues/35724 the intention is to change to the tcp tranpsport as default in the future but NOT to get rid of zmq.

Also thanks @skizunov for chiming in here. Seems we just need to remove this from the docs. Thanks

[2017-01-12 18:34] dosercz opened #38710 "Highstate from salt-master is very slow unlike local salt-call"
I'm running state.apply from salt-master and it's very slow unlike local salt-call after upgrade to v 2016.11.1. I have there 495 states, 185 sec on salt-master but only 14 sec on salt minion. Why so big difference, where could be a problem? Any ideas? Both servers are in the same network, so there should not be a problem with slow connection.

Salt-master
[code]
Salt-minion
[code]

[2017-01-12 18:53] danlsgiga opened #38711 "2016.11.1 - archive.extracted fails when symlink is in a tar file"
### Description of Issue/Question

After upgrading to 2016.11.1 I've noticed archive.extracted was causing fatal errors in the state execution with the debug log posted below.

After checking the logs on the minion I've also noticed this specific error being thrown every time I tried using _archive.extracted_ state:

[code]

The aforementioned file is actually a symlink that points to a folder in

[2017-01-12 18:53] rallytime commented on #38684
@rukender If you change [this line](https://github.com/saltstack/salt/blob/cfd82d16312a325c895f6d3ed23dc40da1704a3e/salt/beacons/avahi_announce.py#L35) to include the `NameError`, this will resolve the issue for you:

Change this:
[code]
to this:
[code]
I'll submit a fix for this right now.

[2017-01-12 18:56] ryan-lane commented on #28942
We should add some more examples. We should really have an entire documentation section for using the boto_* states, rather than piecemeal documenting stuff in each state.

[2017-01-12 19:00] schlagify opened #38712 "How to prevent salt-cloud from upgrading salt-minion to the latest version?"
### Description of Issue/Question
We run 2016.3 in our production environment b/c we are not ready to upgrade to 2016.11, and we use salt-cloud to provision new Debian Jessie/8 vm's in VMWare.   We clone from a template the has 2016.3.4 installed, and we've held the salt-minion & salt-common pkgs in an unsuccessful attempt to prevent them from being upgraded on both our salt-master & template.   W

[2017-01-12 19:16] schlagify commented on #38712
One thing that seems to have worked is making our repo configuration immutable.    eg

[code]

Since doing that, salt-cloud appears to have skipped the upgrade...eg

[code]

While this appears to have worked for us, we've had to do quite a bit of forcing it outside of salt.  Is there a better way to accomplish this in salt itself?

[2017-01-12 19:39] twellspring commented on #38709
Looks like the issue is a typo in the egress cidr_ip

[code]
Change it to
[code]
and it works.
[code]

[2017-01-12 19:48] Ch3LL commented on #38688
@Ge0 this occurs because `pip.installed` looks for pip to already be installed. I will close this since this issue https://github.com/saltstack/salt/issues/34019 has been opened and used to track the ability to improve the test functionality between states that have not run yet. Its a more difficult issue to tackle because it cannot load the module by default because the package is not yet install

[2017-01-12 19:48] #38688 closed

[2017-01-12 19:51] Ch3LL commented on #38689
@lomeroe thanks for the PR! Please feel free to close this issue once the pr has been reviewed/merged or we can. Thanks!

[2017-01-12 19:52] Ch3LL commented on #38691
@lomeroe once again thanks for the PR! We will get this closed once its been merged or you can as well. Once again thank you! Its awesome to see a PR attached to an issue :)

[2017-01-12 20:03] twellspring commented on #28942
True @ryan-lane. For now I am updating the boto_secgroup documentation with another example and fixing the subnet issue.  You should probably put in another issue for the new boto documentation section.

[2017-01-12 20:06] Ch3LL commented on #38692
@afletch i'm assuming that it works when not using salt-ssh. Is that assumption correct? Also can you provide the debug logs when this occurs (run salt-ssh with `-ldebug` should grab the required information)? You should be seeing more useful error information when it attempts to compile the pillar data. That would be useful to see the error there as well.

I wasn't able to replicate this with a s

[2017-01-12 20:56] Ch3LL commented on #38694
@haeac if you want to use multiple grain values to filter on you will need to nest a second filter by call. Here is an example use case:

[code]

[code]

Does that work for you?

[2017-01-12 20:58] Ch3LL commented on #38697
@fboismenu thanks for the pr! Once the PR has been reviewed/merged please feel free to close this issue or we can. Thanks!

[2017-01-12 21:05] Ch3LL commented on #38698
@edgan I think this is a sound idea to include the ability to failhard only on that individual minion. I'll approve as a feature request. Thanks

[2017-01-12 21:41] Ch3LL commented on #38710
@dosercz you might be running into this same issue: https://github.com/saltstack/salt/issues/38071
If you apply the PR in https://github.com/saltstack/salt/pull/38167 does it help with performance?

[2017-01-12 21:48] Ch3LL commented on #38670
Looks like i'm able to replicate this behavior.

Here is a docker container for anyone that wants to quickly replicate this issue:

1. `docker run -it -v /home/ch3ll/git/salt/:/testing/ ch3ll/issues:38670`
2. `salt-call --local state.sls test -ldebug`
3. `cat /root/testfile`

We will need to get this fixed up thanks

[2017-01-12 21:57] Ch3LL commented on #38709
@twellspring nice catch and thanks for the PR! Please feel free to close this issue once the PR has been reviewed and merged or we can :)

[2017-01-12 22:15] dosercz commented on #38710
I can try it, but do you have some manual, how to apply changes in PR to installed salt? I'm not familiar with python. I have salt installed as debian package.

[2017-01-12 22:22] Ch3LL commented on #38704
@nasenbaer13 thanks for the PR! Please feel free to close this once the pr has been reviewed/merged or we can :)

[2017-01-12 22:25] haeac commented on #38694
Hello,

@Ch3LL thanks for the response. I think that should work.

[2017-01-12 22:43] nasenbaer13 commented on #38704
Can you merge the fix back to 2016.3 / 2016.11?

[2017-01-12 22:55] jackywu commented on #38678
@stonegithup do you know how to fix this problem?

[2017-01-12 23:05] twangboy commented on #32049
@m03 The only way I was able to replicate this was when I didn't have IIS (Web-Server) installed.

`salt '*' win_servermanager.install Web-Server`

[2017-01-12 23:20] Ch3LL commented on #38706
@sivann if you add `- reload_modules: true` to the initial state that adds teh files to salts file server does that work. I was able to get it to work with this example:

[code]

[2017-01-12 23:29] m03 commented on #32049
@twangboy I fixed it and fleshed out most of the contents of the module almost a year ago, so you probably wouldn't be able to replicate it if you're on `2016.11.x` or `develop`.

[2017-01-12 23:51] gtmanfred commented on #38712
If salt is already on your images, you should be able to set `deploy: True` in the provider or profile, and the deploy script will not be run.  Unfortunately it will also not deploy any keys, so you would have to accept the minion key with salt-key or the wheel client.

You might be able to just symlink /bin/true to /etc/salt/cloud.deploy.d/bootstrap-salt.sh and it will use that as the bootstrap s

[2017-01-13 04:36] rukender commented on #38684
@rallytime, thank you for the solution.

May I know if I change except ImportError: to except (ImportError, NameError): what it will do ?

Thanks

[2017-01-13 04:39] rukender commented on #38684
Also, I have replaced 35 line under avahi_announce.py file.
This is the right position, right?

[2017-01-13 04:44] ccrivelli commented on #36868
Well,
I've just updated salt-master, salt-minion and salt-cloud from 2016.3.1-1 to 2016.11.0 and - from that time - I keep having this error when running the highstate:

[code]

I also tried upgrading to 2016.11.1, same error.
I have only one topfile in one of my environments and I cannot figure out what the problem is (there's no change in the configuration).

As you can see, all the components a

[2017-01-13 05:20] ccrivelli opened #38719 "No Top file or external nodes data matches found"
### Description of Issue/Question
Top file not found:
[code]

### Setup
[code]
-- only 1 top file in 'mgmt' env:
[code]

### Steps to Reproduce Issue
-- upgrade the saltstack components from 2016.3.1-1 to 2016.11.1 (same behaviour with 2016.11.0) and run:
[code]

### Versions Report
[code]
-- all saltstack components running with the same version
[code]

[2017-01-13 09:51] mkalus commented on #32294
What worked for me was to add the keys manually:

[code]

[2017-01-13 10:45] afletch commented on #38692
@Ch3LL There doesn't seem to be anything of note logged with ext_pillar set to reclass and debug logging enabled (logs below). I'm observing the same issue on locally (Mac) and in production (EL7). Testing your simple ext_pillar works and so does execution via the master.

I've also tried using mongodb as an ext_pillar, and this also works through the master but fails through salt-ssh, but perhaps

[2017-01-13 11:46] arthur-kiwi commented on #38100
@lomeroe After a reboot of my test machine I can see the changes in gpedit.msc and most of my policies are set, but unfortunately it seems the module is unable to set some of the policies because it returns an error that it can't find them. Do you want me to open a new issue for this? And also thanks for the help so far.

[code]

[2017-01-13 13:19] paul-mulvihill commented on #26643
Anyone made any headway on this? Would be really useful to use to show minions are connected.

[2017-01-13 14:26] lomeroe commented on #38100
A new issue may be good, looking at the first policy "Show first sign-in animation", the reason it doesn't match with that name is that there is a space in the XML at the end of the string, which causes the XPATH search to not find it....:

[code]

Temp workaround would be to use the "ID" of "EnableFirstLogonAnimation".  I know I have seen this, but apparently didn't account for it in the search.

[2017-01-13 15:18] twangboy commented on #32049
@m03 Thanks. We have a customer experiencing problems with the module and he referenced this issue. I put the note there in case someone else was having problems.

[2017-01-13 15:31] rallytime commented on #38684
@rukender Yes, that is the right line.

Basically what is happening here is that since you have the dbus package installed, but not the avahi package, when the loader enters that try/catch block, the `import dbus` call succeeds. But since you don't have the avahi package installed, the stacktrace you posted above occurs when it hits the `avahi.DBUS_NAME` call a couple of lines down.

Adding the `N

[2017-01-13 15:53] rallytime commented on #38674
@jackywu and @skizunov I have removed these two options from the `config/__init__.py` file in #38723. The only other references I could find to these options were in the man pages. The man pages are autogenerated every so often, so when those are regenerated again, those references will be removed as well.

[2017-01-13 16:49] hostedvideorn commented on #38699
The problem here is that we don't have a systemd as the init system and I don't think most do.
So in this case no solution available at all?

[2017-01-13 16:52] gtmanfred commented on #38699
Systemd is currently the only system that we know of that supports running
the service and command in separate cgroups so that the minion process that
runs the restart and returns the output to the master doesn't get killed by
the restart. That is the only reason we are able to do it with systemd.

If you are using another init system, you could use the cmd.run module to
schedule an atd job to run

[2017-01-13 17:20] hostedvideorn commented on #38699
Right. That is good information. I am sure we can do it with jobs but I was hoping for something out of the box kind of thing and understand the limitations. I also played a bit with beacons and reactors but it didn't work as expected.

[2017-01-13 17:49] gtmanfred commented on #38699
You could check out the status beacon and the thorium reactor. If minion
doesn't send its status ever 5 minutes, you could have a reaction that logs
in with the salt-ssh client and restarts the minion.
On Fri, Jan 13, 2017 at 11:20 AM hostedvideorn <notifications@github.com>
wrote:

[2017-01-13 17:50] gtmanfred commented on #38699
https://docs.saltstack.com/en/latest/topics/thorium/index.html
On Fri, Jan 13, 2017 at 11:49 AM Daniel Wallace <dwallace@saltstack.com>
wrote:

[2017-01-13 18:22] rallytime commented on #38001
@tomlaredo The change in #38023 updated the error message if the `bins_dir` setting is missing. This fix will be in the 2016.11.2 release.

[2017-01-13 20:02] onmeac commented on #34245
That workaround does not work for values like true or false.

"True" 'True' or any lower case form will always ini.options_present act, same goes for false.

[2017-01-13 20:11] d101nelson opened #38727 "Keys are returned to Mongo with a '.' by way of 'salt-run survey-hash'"
### Description of Issue/Question

Salt is returning key data to MongoDB which contains a dot ('.').  The key data appears to be the mongo configuration as defined within '/etc/salt/master'.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

- Install/configure mongodb on localhost (mongodb 3.4 was used in this instance)
- Configure 'master job cache

[2017-01-13 21:06] ayyags commented on #34272
Any update on this?

[2017-01-13 21:52] rodriguezsergio opened #38730 "Unable to manage file: [Errno 8] _ssl.c:493: EOF occurred in violation of protocol"
This is a really strange error I only seem to be experiencing on 1 particular instance with a particular set of tags in our testing environment, but I thought I'd report it here regardless.

I have Salt report failed states to Slack and I noticed I was getting this during one of our Consul states.
[code]

Relevant info from consul state
[code]

I experienced this on `salt-call 2016.11.1 (Carbon)`

[2017-01-13 23:02] icflournoy opened #38733 "salt-cloud ec2 userdata support for non-yaml cloud config"
### Description of Issue/Question

I want to pass a regular bash script as userdata to my ec2 instance when launching with salt-cloud. It doesn't seem like salt-cloud handles this properly. (or is intuitively meant to)

Standard cloud-init config data is written in yaml, so it makes sense that the last renderer that a userdata file is passed through is the yaml renderer. However, this breaks down

[2017-01-14 01:36] alias454 commented on #8933
I realize this is an old issue and is somewhat unrelated to my issue. However, I want to add a follow up about errors I was getting when trying to use the mongodb salt modules user_list function etc., while having mongodb authentication enabled. The not authorized to execute error is posted below.
[code]
The solution is to create a new role and grant  that role to your user
https://dzone.com/artic

[2017-01-14 02:28] serg239 commented on #38701
Please, any advice and suggestions will be greatly appreciated.

[2017-01-14 05:41] logi commented on #30148
By closing this issue as a duplicate of #18510 it has become attached to much larger and hairier problem which is taking a long time to resolve and requires coordination among plugins etc. It seems that it would be much easier to just go ahead and return a non-zero code when a minion fails to even return.

In the mean time, I guess I'm going to have my script parse salt output for the phrase "Mini

[2017-01-14 05:55] alias454 commented on #30842
Is there a way to completely disable logging on a per state basis? If not, what would be a good way to disable logging only for say cmd.run states on only certain nodes?

Regards,
Brandon

[2017-01-14 13:26] stefano-pogliani opened #38736 "Expand glob for pillar_roots"
### Description of Issue
The `state_roots` configuration option is glob expanded: a path like `/srv/spm/salt/*` makes all directories in `/srv/spm/salt/` state roots.
This seems to be accomplished by the `_validate_file_roots` method in `salt/config/__init__.py`.

Expansion is not implemented for `pillar_roots`, which does not get validated (or expanded directly).

### Setup
`/srv/spm/salt/users/p

[2017-01-14 18:47] #38631 closed

[2017-01-14 20:03] jacksontj commented on #38685
During that PR the entire transport system was rewritten, and that feature wasn't re-implemented. I'm not sure if there is a use-case for wanting to always create new sessions or not. If not, then we can just clean out the docs for this feature (as it doesn't exist) if there is a use-case for this we would need to rename the option (since sreq doesn't make sense in the new system) and implement it

[2017-01-15 00:24] dylwhich opened #38737 "Existing minion's key is rejected when salt-cloud cannot connect to Proxmox API"
### Description of Issue/Question
When salt-cloud is unable to connect to the proxmox API, it behaves as though proxmox reported that no containers existed. It continues to attempt to provision all proxmox containers, by first generating a new minion key and accepting it (and rejecting the existing one for that minion). The provisioning process then fails, but the keys remain and must be manually

[2017-01-15 06:31] tuner23 commented on #38656
Hi Manfred,
This works fine!

Is it possible, that the cp library has a bug (or problems with codec, unicode or specific characters)? It seem to work in some cases, but not with that key..

Thank you.

[2017-01-15 07:08] mitar opened #38738 "pki keys are still created with salt-ssh and ssh_use_home_key"
When I use `salt-ssh` with `ssh_use_home_key: True` set in `master` configuration, I see that `salt-ssh.rsa` and `salt-ssh.rsa.pub` are still created inside the pki directory, but not really used it seems. This is confusing. I would suggest that files are not created if not needed.

[code]

[2017-01-15 13:22] peter-held commented on #37853
Any news regarding the issue ?

[2017-01-15 13:22] peter-held commented on #37855
Any news regarding the issue ?

[2017-01-15 14:14] ayyags opened #38740 "Question about auto_accepting and cert_required"
Issue:
Can master 'auto-accept' minion public key, and minion blindly accept master public key (i.e. no need for signature keys), once TLS/SSL is enabled on both master and minion?  Is AES symmetric key used at all if SSL is enabled between master and minion?

v2016.11.1
Since both minion and master have x509 certificates, and cert_required is enabled, can we now rely on this mTLS and not worry ab

[2017-01-15 14:43] cachedout commented on #38709
Closed via #38714

[2017-01-15 14:43] #38709 closed

[2017-01-15 17:03] ayyags opened #38741 "ayyags"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2017-01-15 17:04] #38741 closed

[2017-01-15 17:31] mitar commented on #32862
If I understand the latest state, based on #34098, if `refresh` is not set at all, then `apt-get update` is called only once per run? And with #34914 one can set `cache_valid_time` to configure how long to cache, if one does use `refresh` set to true?

[2017-01-15 21:15] vodik opened #38742 "Can salt-minion reconsider DNS on reconnect?"
It seems like the salt-minion only resolves the salt-master's IP once at start up. I was wondering if there's a way to get the salt-minion to re-resolve the IP when it attempts to reconnect.

I'm running salt-cloud/salt-master on my home router. The problem is my ISP rotates my public IP from time to time. While I update a public DNS record with my IPv4 address, the salt-minions don't pick it up a

[2017-01-15 23:18] mirceaulinic opened #38744 "Question: Minion select interface or source IP address to use when connecting to the master"
### Description of Issue/Question

I have been looking in the minion configuration options, but I didn't see anything related. Did I miss anything?

[2017-01-16 00:33] vodik commented on #38742
A potentially important details: I'm using the TCP transport.

[2017-01-16 03:10] jackywu opened #38746 "Is it necessary to limit the max number of minion process/thread ?"
### Description of Issue/Question

If I push large number of command to salt-master, every time the minion will spawn a new process/thread to handle a new command. If each command is a long run task, the server on which salt-minion runs will run out of CPU and Memory because of huge processes/threads.

I hope my warry is not necessary.

### Setup
(Please provide relevant configs and/or SLS files (

[2017-01-16 03:52] sumeetisp commented on #38680
Any solution to the above issue?

[2017-01-16 07:37] pepoluan opened #38748 ""del_root_vol_on_destroy: True" causes Error: 'NoneType' object has no attribute '__getitem__'"
### Description of Issue/Question
Whenever I add the line `del_root_vol_on_destroy: True` according to [the guide](https://docs.saltstack.com/en/latest/topics/cloud/aws.html#del-root-vol-on-destroy), I get the following error:

    [ERROR   ] There was a profile error: 'NoneType' object has no attribute '__getitem__'

**_Without_** that line (that is, the line commented), instance creation always

[2017-01-16 09:29] doitian commented on #38670
I met the same issue. The cause is that `file.line` does not change the line if it finds the original line before/after the matched line has the common prefix of your content.

[code]

The problem is the function `_starts_till`. I'm not sure whether it is a feature, it is obscure and undocumented, I did some test and here is the result:

[code]

A minimum test case to reproduce the issue:

[code]

[2017-01-16 09:38] doitian commented on #38670
A workaround is using `file.replace`

[code]

[2017-01-16 10:27] github-abcde commented on #31006
What if we renamed the "template" argument of file.managed to "renderer" and allowed all renderer modules here. That would make the OP's request possible, as well as provide much greater flexibility in what we do with managed files (also considering you could add custom renderer modules).

[2017-01-16 11:11] yhekma opened #38750 "Support for multiple (service) providers"
### Description of Issue/Question
Currently, only one service provider is supported by default. Although it is possible to override the provider on a per-service basis, it would be nice if for instance both upstart and daemontools were supported so that I can still do

[code]

when cron is actually an upstart job and daemontools are installed.

### Steps to Reproduce Issue
On Ubuntu 14.04, observe

[2017-01-16 11:53] #38526 closed

[2017-01-16 12:09] geraldhansen opened #38751 "service.enabled does not enable service in chroot environment for systemd"
service.enabled just say service is already enabled, but the symlink in **_/etc/systemd/system/multi-user.target.wants_**/ is still missing.
I prepare a new system installation in a chroot environment which is a physical partition and can be enabled as the initial boot partition for the next reboot (Debian 8/Ubuntu 16.10).

### Setup
In a chroot I run following state file test.sls:
[code]
### Step

[2017-01-16 14:14] alexbleotu commented on #38593
Closing this. Thanks @gtmanfred

[2017-01-16 14:14] #38593 closed

[2017-01-16 15:01] skjaro commented on #38100
@lomeroe I tested this script what you post six day ago and resolve my issue what I have with psscripts.ini. If this file exists but is empty, script crashes.
I have question about functionality of module. If I want to list policies with:
`salt 'Win7_x64' lgpo.get return_full_policy_names=True return_not_configured=True`
it returns only some policies not all. I look to script It looks like script

[2017-01-16 16:24] alexbleotu opened #38753 "`__proxy__` dunder is not injected when invoking the `salt` variable in sls files"
### Description of Issue/Question

I tried to call execution functions in state files, because I was told grains may not be accurate when it comes to proxy minions.

The issue is that the `__proxy__` dunder is not available when invoking execution functions from state files (both in the `2016.3` and in the `develop` branch).

[code]

[code]

[2017-01-16 16:24] alexbleotu commented on #38753
@cro another `__proxy__` dunder issue

[2017-01-16 16:26] mirceaulinic opened #38754 ""ON" translated by default as boolean True in state SLS"
### Description of Issue/Question

I have an state SLS file that is built dynamically from a pillar where I have the following field:

[code]

which is then rendered in the SLS as boolean:

[code]

Of course, the above should be:

[code]

Is this behaviour normal? If not, please let me know to provide more debugging data.

Thanks!

[2017-01-16 16:28] mirceaulinic commented on #38754
The workaround is to wrap the text around double quotes:

[code]

Similarly, this happens when the value is "NO" interpreted as False.

[2017-01-16 17:09] lorengordon commented on #38754
I believe that is expected behavior.

https://docs.saltstack.com/en/latest/topics/troubleshooting/yaml_idiosyncrasies.html#true-false-yes-no-on-off

[2017-01-16 17:11] mirceaulinic commented on #38754
Yes, looks like. Interesting! Thanks @lorengordon!

[2017-01-16 17:11] #38754 closed

[2017-01-16 17:23] mirceaulinic commented on #38753
I think it's just not injected. I have submitted https://github.com/saltstack/salt/pull/38755 - can you give it a whirl?
However, this is based on the develop branch and might fail as per https://github.com/saltstack/salt/issues/38557. If so, please let me know to port it in a different branch (e.g. `2016.11` does not have the https://github.com/saltstack/salt/issues/38557 bug).

[2017-01-16 17:25] alexbleotu commented on #38753
Thanks Mircea,

can you please port it to 2016 please. It's easier for me to test. Develop will be broken.

[2017-01-16 17:33] pepoluan commented on #38748
Okay so after _A WHOLE LOT_ of experimentation, I found out that `del_root_vol_on_destroy` ceases to produce the error if I also specify `block_device_mappings`.

I'm not yet 100% certain that the latter is a prerequisite for the former, so I'll do some more testing.

[2017-01-16 17:33] mirceaulinic commented on #38753
Can you test this branch: https://github.com/cloudflare/salt/tree/try-38753-2016.11?

Looking closer to the output, this might be more related to this... looks like the `__proxy__` object does exist but your proxy functions are not available.

[2017-01-16 17:37] dahrens commented on #36543
Same here - the situation is slightly different, but ends up in the same feature request.

We have a few base images for salt cloud. `eth0` is always the interface that should be used by salt-cloud to connect to using ssh. There is always a second NIC which should not be used for the spin up. Usually the first NIC returned by VMWare is the `eth0`, but for one of the machines the `open-vm-tools` de

[2017-01-16 17:41] morganwillcock opened #38756 "Windows: Installer fails to set disk permissions when minion is running during upgrade"
It appears that doing a minion upgrade whilst the service is running leaves the minion installation with default disk permissions. This has been the case with every installation that I've checked after upgrade.

Upgrading with the service stopped:
<pre>Salt-Minion-2016.11.0-AMD64-Setup.exe /S /master=mymaster /minion-name=myname /start-minion=0
Salt-Minion-2016.11.1-AMD64-Setup.exe /S /master=myma

[2017-01-16 17:43] mirceaulinic commented on #38753
Oh, I've got two questions:

From the trace:

[code]

1. Can you do a test function to show all keys of `__proxy__`?

under `esxcluster.py`:

[code]

2. Can you confirm `salt <target> esxcluster.test` works?

[2017-01-16 17:59] alexbleotu commented on #38753
yep first one didn't fix it.

So, it works fine when invoked via the CLI (`salt` command). The problem shows up when invoked via the state files, as in this works:

[code]

[2017-01-16 18:00] alexbleotu commented on #38753
Do you want me to add a function that shows all keys of the `__proxy__` dunder?

[2017-01-16 18:10] mirceaulinic commented on #38753
If you can do this inside the state and check if any of the proxy functions are there :D

[2017-01-16 18:56] danlsgiga commented on #38711
Just found that setting an if_missing in the state overcomes the issue... Anyway, this issue seems to be critical for the new archive state implementation.

[2017-01-16 19:10] kevinrsalisbury commented on #32831
@damon-atkins "You should not have to edit the file every-time a new version of the software comes out." Exactly! I love the local cache idea/option you documented as well. We actually do that here without using salt (we have our own scripts that automatically detect and download the latest versions of windows programs and downloads them), but it's not using salt at all. So we are just starting wi

[2017-01-16 19:59] tsaridas commented on #35890
just checked and I noticed you cannot kill a job in linux too with multiprocessing False.

It does make sense since it tries to kill a pid. In linux minion becomes unresponsive after trying to kill a job.

[2017-01-16 21:49] markuskramerIgitt commented on #19137
Hi @twangboy,
How do I read the version of Salt?

I used to call https://github.com/saltstack/salt/blob/develop/salt/version.py to return e.g. (2016, 11, 0, 0, '', 0, 461, u'g723699f')

This no longer works:
[code]

From the full_info, I need to make two version formats:
 - a 3-tuple "Display version"  2016.11.0
 - a 4-tuple "Internal version"  16.11.0.461

It would be ideal to I get these formats

[2017-01-17 00:01] cystek commented on #8878
The macro solution also does not appear to work across different environments. That is, if I define the macro in a base environment but need to use it in a separate environment on top of base it will not work, giving an error "Jinja variable 'macro_name' is undefined." This feature, or at least allowing macros to work across environments, would be very helpful.

In case it's useful, the test macro

[2017-01-17 00:26] doitian commented on #38171
Another workaround to use inline flags

[code]

[2017-01-17 00:41] bobrik opened #38758 "Remote state execution is much slower on 2016.11.1 compared to 2016.3.4"
### Description of Issue/Question

Master:

[code]

Minion on 2016.3.4:

[code]

Minion on 2016.11.1:

[code]

### Setup

Both machines are identical apart from salt minion versions.

Consider the following state:

[code]

Both machines have comparable timings with `salt-call`:

[code]

Timings are dramatically different with `salt` call from master:

[code]

But they get the same without template

[2017-01-17 00:54] ccrivelli commented on #38719
I guess it's related in some way with this: https://github.com/saltstack/salt/pull/36922

Do you have any idea/suggestion how to fix it?
I was wondering if there's a workaround in terms of salt-minion config.

Thanks

[2017-01-17 02:27] cachedout commented on #38497
@meggiebot Do you know the PR that fixed this?

[2017-01-17 02:31] cachedout commented on #36448
@ahammond Just checking in on this. Have you seen this again since your move to ZeroMQ? It sounded like things were looking good but just want to be sure. :]

[2017-01-17 04:21] sumeetisp commented on #38680
Please let me know if i was unable to explain the issue properly

[2017-01-17 05:12] szin2012 opened #38760 "minon hangs on Re-using SAuth"
### Description of Issue/Question
minon  hangs on Re-using SAuth  if "/srv/salt" dir is large, when action any state.sls

### Setup

du -sh the /srv/salt
[code]

[code]

### Steps to Reproduce Issue

when I delete some files and dirs

du -sh the /srv/salt
[code]

### Versions Report
[code]

[2017-01-17 07:49] #33741 closed

[2017-01-17 08:34] DaveOHenry opened #38761 "Cannot apply state that contains lgpo.set"
### Description of Issue/Question
I was really looking forward to using the new gpo state, but unfortunately it is not working for me. I looked up the names / values of the policies in gpedit.msc and tried to follow the example configuration from https://docs.saltstack.com/en/latest/ref/states/all/salt.states.win_lgpo.html . The documentation looks pretty straightforward, but maybe I missed someth

[2017-01-17 09:29] oz123 opened #38762 "Configuration information for custom returners"
### Description of Issue/Question

I have written a custom returners that writes messages to RabbitMQ. My understanding was that the returner configuration information was to put in the the file `/etc/salt/minion`, and so I did.

However when running the minion returner, the returner `__opts__` values are coming from the pillar as a dictionary, which causes me some confusion, as the docs say:

###

[2017-01-17 10:39] sebw commented on #34533
@s0undt3ch a better workaround has been posted by @UtahDave (https://github.com/saltstack/salt/issues/38402) preventing changing the encoding in pyvmomi.

[2017-01-17 10:41] danel1 opened #38765 "file.symlink ignores "mode""
### Description of Issue/Question
As documented it is allowed to set the mode for a file.symlink. There is no problem to set the mode and the state is rendered and applied sucessfully, but somehow the mode get's ignored in any case.
The user:group works how it should.

Saltstack doc's: [https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.symlink](url)

    Th

[2017-01-17 11:04] lorengordon commented on #38761
The error indicates an escape character was detected. As a workaround, try doubling the backslashes.

[2017-01-17 11:34] DaveOHenry commented on #38761
Thanks for the hint. So the documentation is at least misleading. I tried with double backslashes and the state runs now, but fails with an exception:
[code]

[2017-01-17 12:37] y3030434 opened #38768 "peer architecture slow"
### Description of Issue/Question
The network is

1. master( also minion)
2. master(also  syndic minion )
3. minion

when I execute shell command " salt-call publish.publish '*' test.ping " on node 2, I get result almost 20s
when I execute shell command "salt '*' test.ping" on node 1, I get result only 5s

I find time cost at architecture when i set debug option

Is it a problem?
### Setup
(Please

[2017-01-17 13:29] mitar opened #38771 "dockerng: unable to use links with custom network"
If I use links and a custom network, Salt throws a failure applying links. Interestingly, diff is empty.

So something like:

[code]

[code]

[code]

[2017-01-17 13:31] syst0m opened #38772 "Rendering SLS 'base:redis' failed: Jinja variable 'salt.pillar object' has no attribute 'redis'"
Receiving the following error on state.apply when adding new minions:
[code]

/srv/salt/redis/init.sls:
[code]

salt-call -l debug state.apply:
[code]

salt --versions-report:
[code]

salt-minion: 2015.8.8+ds-2

This used to work with the same state file.

[2017-01-17 13:32] mitar opened #38773 "dockerng: allow restart watch action"
Currently, when watching another container, the only watch actions available are to recreate them (using force) or send them a signal. I would love if there would be an option to restart the container. So if watched container does not change (and does not need to be recreated), a restart could be enough.

This is useful when one container (like database) changes and is recreated, then sometimes is

[2017-01-17 13:35] charburns opened #38775 "Error using napalm netusers"
### Description of Issue/Question

Error using napalm netusers

### Setup
root@salt:/srv/pillar# cat juniper01.sls
proxy:
  proxytype: napalm
  driver: junos
  host: 10.64.10.1
  username: salt
  passwd: blahblah
  optional_args:
      port: 22
      config_format: set

users:
  foo:
    level: 15
    password: ''
    sshkeys:
    - ssh-rsa AaA foo@bar.com

root@salt:/srv/salt/router/# cat users.s

[2017-01-17 13:52] syst0m commented on #38772
Additional info:
out of 10 identical minions, 8 fail with aforementioned error, 2 run state.apply succesfully.

They are identical by all accounts.
All have v2015.8.8+ds-2.

[2017-01-17 14:10] mirceaulinic opened #38776 "State unable to handle data containing unicode"
### Description of Issue/Question

I have a very simple state:

[code]

Where `my_module.my_fun` returns when executed from the CLI:

[code]

OR raw output: `{'group_id': 'y57gv9h0y3my', 'name': 'ZRH - Z\xc3\xbcrich, Switzerland'}`

But when I look into the file managed by the state,

[code]

The content should be `Z\xc3\xbcrich` instead of `Z\\xc3\\xbcrich`.

It looks like it's escapes the unicod

[2017-01-17 14:15] fmedery opened #38777 "Sending grains when minion sends salt/auth event to automate key acceptation with reactor ?"
### Description of Issue/Question

In  cloud environment with servers all over the world, manual acceptation of minions' key is very difficult. And the auto accept key is a security risk ( especially you need to open salt-master port to the world).

It would be great if when a minion sends its events to the master it would send more then just its Id and key.

What I would like to do :
- when insta

[2017-01-17 14:35] mirceaulinic commented on #38776
@lorengordon you seem to have much more experience working with SLS-related issues. Is this anything you've seen before? Thanks!

[2017-01-17 14:43] lorengordon commented on #38776
I've had terrible problems with unicode in the default `#!jinja|yaml` renderer. My fix in the past has been to write the state using the `#!py` renderer, so that yaml and jinja do not muck with it.

https://docs.saltstack.com/en/latest/ref/renderers/

[2017-01-17 15:06] mirceaulinic commented on #38776
Yes, I confirm it works better like that. Thanks very much @lorengordon!

Wondering if it's worth throwing some lines in a doc to point this out as a recommendation. What do you think?

[2017-01-17 15:09] gtmanfred commented on #38740
@ayyags i am not sure what the answer to this is.

@DmitryKuzmenko can you take a look at this when you get a minute?

Thanks,
Daniel

[2017-01-17 15:11] gtmanfred commented on #38777
This appears to be a duplicate of this feature request.

https://github.com/saltstack/salt/issues/37712

Can you confirm and close this one?

Thanks,
Daniel

[2017-01-17 15:12] gtmanfred commented on #38775
Thanks for the pr to fix this @mirceaulinic

[2017-01-17 15:14] gtmanfred commented on #38768
Can you upgrade to salt 2016.11 and see if this is still an issue?

Unfortunately 2015.5 is End of life.

Thanks,
Daniel

[2017-01-17 15:15] gtmanfred commented on #38773
Thanks for the request.

I have tagged this as a feature request.

Thanks,
Daniel

[2017-01-17 15:16] #38689 closed

[2017-01-17 15:19] lorengordon commented on #38776
Sure. The other option is to encode the data to bytes first, then tell yaml that it is binary.

[code]

[code]

[2017-01-17 15:22] mirceaulinic commented on #38776
Mmm...That's a clever workaround, haven't thought about that! However, I find the Python renderer more comfortable.
Thanks again @lorengordon!

[2017-01-17 15:22] #38776 closed

[2017-01-17 15:23] gtmanfred commented on #38719
That pr is in 2016.11, so you shouldn't have a problem with it since you are on 2016.11.1.

Can you provide your top file?  and anything that is not the default in the master and minion configs?

[2017-01-17 15:26] fmedery commented on #38777
Indeed.
Tx
Closing the issue

[2017-01-17 15:26] #38777 closed

[2017-01-17 15:30] gtmanfred commented on #38733
This would be great to have.

Thanks for the request,
Daniel

[2017-01-17 15:32] gtmanfred commented on #38702
I have tagged this as a bug.  But I would highly recommend using the tcp transport instead of raet.

We are moving towards TCP in the future and not raet.

Thanks,
Daniel

[2017-01-17 15:33] meggiebot opened #38780 "Add python-psutil as a hard dependency to Salt"

[2017-01-17 15:34] lomeroe commented on #38100
@skjaro I have another PR open already for some errors in the "return_not_configured" parameter #38666

That PR could resolve the issue you are seeing with regard to policies that are not configured.

A PR has been submitted with the workaround for the "encoding='unicode'" files

[2017-01-17 15:41] rickh563 commented on #38753
ZD-1147

[2017-01-17 15:41] #38087 closed

[2017-01-17 15:42] #38497 closed

[2017-01-17 15:42] gtmanfred commented on #38679
So, unfortunately there is not a good way to do this right now as far as I am aware.

What I would look at is the `__role` key in opts.  It can be `master`, `minion`, or `syndic`.  Right now, the MasterMinion has `minion` set in that key, but you could reasonable set it to `master` and use that for your checking here.  I think it might need to have some extra code moved around to make sure that th

[2017-01-17 15:45] gtmanfred commented on #38656
My guess would be that there is an extra newline at the end of the file when you run cat, as opposed to the cp.get_file_str, but I would recommend putting them in a file.managed jinja template, and then doing a diff -u on the files that come out.

[2017-01-17 15:49] #38694 closed

[2017-01-17 15:53] lomeroe commented on #38761
@DaveOHenry I think the error you are hitting was fixed by PR #37262.  I don't think it has been back-ported into 2016.11 yet.

When I look a the documentation for the state, it shows using double backslashes, you are seeing different on your end?

[2017-01-17 15:54] damon-atkins commented on #32831
What I was hoping to do is have a slp (Salt Package) file.   The file describes how to install the software but also describes how to download it to the salt master (or maybe something else)  This is on the TODO list.

Because direct download from the internet onto server is not really best practice and the github sls all do this.   And so makes it a bit hard to use the sls "as is".

Currently the

[2017-01-17 15:58] lomeroe commented on #38761
@DaveOHenry I see what you mean on the docs now (I was looking at the code and not the rendered web pages).

[2017-01-17 16:08] gtmanfred commented on #38727
Can you check if you can define mongo like the following.

[code]

Thanks,
Daniel

[2017-01-17 16:11] gtmanfred commented on #38744
I do not believe this is currently possible.

I see an interface option, but this appears to be only for setting which interface the master and syndic bind to, and not for which interface for the minion to use.

[2017-01-17 16:26] #38780 closed

[2017-01-17 16:33] d101nelson commented on #38727
@gtmanfred Yes, that works.

[2017-01-17 16:34] gtmanfred commented on #38727
Cool. I would use that, and we should probably update the documentation to use that method instead of the method with `.` to reduce the probability of colliding with the dot notation in mongo.

Thanks,
Daniel

[2017-01-17 16:37] terminalmage commented on #36868
You say there's "no change in the configuration", but you've provided no configuration that we could use to attempt to reproduce.

[2017-01-17 16:41] gtmanfred commented on #38711
@danlsgiga I have tagged this as a bug.

@terminalmage you might be interested in this.

Thanks,
Daniel

[2017-01-17 16:43] gtmanfred commented on #38736
This would be great to have.  Thanks!

If you wanted to take a shot at implementing this, we would greatly appreciate the pull request.  Otherwise I have tagged it with our core team to take a look.

Thanks,
Daniel

[2017-01-17 16:45] lomeroe opened #38782 "win_lgpo unable to find some Administrative Template policies"
### Description of Issue/Question
the win_lgpo module is unable to "find" some administrative template policies by their "long name" (i.e. how they appear in the gpedit.msc gui).  The issue occurs b/c the text field in the ADML xml file has trailing spaces, which keeps xpath searches for the name from matching properly.  (see #38100 for additional details)

An example policy of this is the "Show f

[2017-01-17 16:46] lomeroe commented on #38100
@arthur-kiwi I submitted issue #38782 for the issue with the policies not being found

[2017-01-17 16:50] markuskramerIgitt commented on #19137
Hi @twangboy,
After I install salt, I can issue this command
[code]
But the fourth field is missing, and creating WiX should not require to install Salt with Nullsoft.

[2017-01-17 17:11] gtmanfred commented on #38746
I do not believe that there is a way to limit the number of processes.

What you could do would be to put the parent process cgroup, or if you are using systemd, you could limit the amount of memory and ram that is available to the salt commands.

[2017-01-17 17:34] cro commented on #38753
This is a regression, correct?  It used to work?

[2017-01-17 17:36] alexbleotu commented on #38753
First time I try it - so don't think it's a regression considerring it's happening both in `develop` and `2016.3`

[2017-01-17 17:48] terminalmage commented on #38711
I'm afraid I'll need to see more of the log (preferably the entire thing), since the only parts you've exposed have to do with the state system, and I can't tell what is actually being run.

Also, you're using ``list_options`` incorrectly, which might be causing a problem.

This seems like it could be related to https://github.com/saltstack/salt/issues/38228 which had to do with the ``--strip`` op

[2017-01-17 17:50] rlunardelli opened #38786 "ext_pillar memory leak"
### Description of Issue/Question

### Steps to Reproduce Issue
I've noticed a substantial increase in memory consumption when you add the ext_pillar configuration to the master's configuration, but don't provide an ext_pillar module. So, every time there is a sync the master cannot find the module and the memory starts to increase.

The screenshot of the memory consumption shows the results.

Aft

[2017-01-17 18:03] hostedvideorn commented on #38699
Thanks again for the information. I will check it out and revert in case I have anything else to say.

[2017-01-17 18:25] mirceaulinic commented on #38744
Hi @gtmanfred thanks for looking into this. Do you think it would be hard to implement? Could you please give me a clue where should I start looking for?

Thanks!

[2017-01-17 18:25] #38521 closed

[2017-01-17 18:25] #37996 closed

[2017-01-17 18:25] #38674 closed

[2017-01-17 18:25] #38684 closed

[2017-01-17 18:25] #38775 closed

[2017-01-17 18:44] d101nelson commented on #38727
@gtmanfred Will do. Thank you.

[2017-01-17 18:46] danlsgiga commented on #38711
Hi @terminalmage, that's everything I got in the logs.

I'm guessing the issue is in here: https://github.com/saltstack/salt/blob/develop/salt/states/archive.py#L1040

[code]

The state is not accounting for symlinks, only regular files and directories.

[2017-01-17 19:18] whiteinge opened #38788 "A missing or bad SLS file name does not change the `success` field"
### Description of Issue/Question

Salt does not set the `success` field to `false` if an SLS file cannot be found:

[code]

Anyone know if this is intentional? The `retcode` field gets a non-zero number so I'm assuming this is just an oversight.

[2017-01-17 19:19] rallytime commented on #38622
@mikejford I have fixed these doc references with #38789. Thanks for letting us know!

[2017-01-17 19:40] d101nelson commented on #38727
@gtmanfred Well, this looks to go a bit deeper than just the mongo config within the master's config.  I just ran into again but with pillar data.  My pillar data is similar to the following:
[code]
Mongo doesn't care for the structure under 'cupsd_conf_src'.  The error output:
[code]

[2017-01-17 20:48] dmurphy18 commented on #27491
@anlutro Could you open a new issue referencing this issue, and mark it as a regression. This will allow us to track the issue better, given the large number of codes changes since 2015.5.

[2017-01-17 20:52] dmurphy18 commented on #27491
@anlutro Never mind, I had stale browser data with it marked closed. I see that you re-opened, which is just as good

[2017-01-17 21:16] twellspring opened #38791 "boto_vpc.route_table_present error with nat_gateway_subnet_name"
### Description of Issue/Question
Error when create a routing table and associate it with an already existing NAT Gateway using the nat_gateway_subnet_name option.

### Setup
This is the failing state.

[code]

Subnet subWebC exists and has a Nat Gateway

[code]

But the state fails
[code]

### Steps to Reproduce Issue
minion debug log attached.
Can reproduce this problem with an existing or a new

[2017-01-17 21:56] rallytime commented on #38629
Good catch @Arabus. I have submitted a documentation fix for this issue in PR #38792.

[2017-01-17 22:17] markuskramerIgitt commented on #19137
Hi @twangboy,
i looked into `salt/pkg/windows/build.bat` and will use the same command: `git describe`
I will no longer use `version.py`.

Best regards

[2017-01-17 22:21] stjack99 commented on #36802
This is also a problem in 2016.11.1

Salt Version:
           Salt: 2016.11.1

Dependency Versions:
           cffi: 1.7.0
       cherrypy: 7.1.0
       dateutil: 2.5.3
          gitdb: 0.6.4
      gitpython: 2.0.8
          ioflo: 1.5.5
         Jinja2: 2.8
        libgit2: Not Installed
        libnacl: 1.4.5
       M2Crypto: Not Installed
           Mako: 1.0.4
   msgpack-pure: Not Installed
 m

[2017-01-17 22:32] cebe opened #38795 "Error on salt-ssh call utf8 encoding issue "[ERROR] JSON Render failed for""
### Description of Issue/Question

One of my states fails with the error `[ERROR] JSON Render failed for` when I try to apply it. The state seems to be applied in the background but the result output is broken. See below.

Looks similar to #37906, #16651

### Setup

I can reproduce this issue with the following state file located at `salt://php/wtf.sls`:

[code]

### Steps to Reproduce Issue

appl

[2017-01-17 22:42] cebe commented on #38795
Seems to be fixed by piping stderr of the script to `/dev/null`.

however I do not see any problematic character in the output when I run the script myself.

[2017-01-17 23:01] cro commented on #31941
I'm wondering if this is and #35443 are the same issue...

[2017-01-17 23:09] terminalmage commented on #38711
``stat.S_ISREG()`` refers to the destination of the symlink when invoked on an os.stat of a symlink, so you may be on to something with that.

I still can't reproduce this at all though, so if you can come up with a docker/vagrant/etc. instance where this can be reproduced, it'll go a long way towards finding what is causing the recursion.

[2017-01-17 23:16] dmurphy18 commented on #25858
The changes in https://github.com/saltstack/raet/pull/70are not reflected  in the latest version of raet v0.6.6.
To resolve this issue, need to patch raet on Redhat 6 & 5 where python 2.6 is in use.

[2017-01-17 23:20] rallytime commented on #38388
@vutny Since you spent some time in this area somewhat recently, you might be interested in looking at this one.

[2017-01-17 23:25] cro commented on #38753
I spent quite a bit of time today tracking this one down as well as other dunder problems for proxies.  I hope to have a PR tomorrow to correct those issues.

[2017-01-17 23:52] mirceaulinic commented on #38753
So you've been able to reproduce this @cro? I was very surprised when I've seen yesterday the title and I had to ask the questions above as I didn't notice any of them before although I've been running both 2016.3 and 2016.11. What was the problem?

[2017-01-18 00:04] ccrivelli commented on #38719
The topfile.sls is like:
[code]

Yesterday I downgraded back to 2016.3.1-1  (master, minions) and everything is working again.
I kept only one minion with 2016.11.1 (so *only for this minion* the version of salt-master salt-minion  is different) and I'm having the same error here.

My current salt-master config differs from the default one only for these files (added):

[code]

Details:
[code]

Sa

[2017-01-18 00:06] markuskramerIgitt commented on #19137
Hi @twangboy (and @rallytime because we discussed version information earlier),
I see a difference between `git describe`  and `salt --version`

On the development machine, where I execute `c:\git\salt\pkg\windows\build.bat`:
[code]
So I was on the `develop` branch.

On the test machine where I install `Salt-Minion-v2016.11.1-2151-g559bee3-AMD64-Setup.exe`
[code]
I think 11.0 is wrong, because it

[2017-01-18 00:17] gtmanfred commented on #38719
I am unable to replicate this issue.

[code]

[code]

[code]

If you want to try the docker image, you can try `gtmanfred/issues:38719`.

Can you give me any more information or a simple way to replicate this error in a docker container?

Thanks,
Daniel

[2017-01-18 00:26] twangboy commented on #19137
The git describe versions are most accurate when you're building based on a Tag. I seem to recall seeing version discrepancies as you mentioned above, but I didn't really care because they weren't release builds.

[2017-01-18 00:29] twangboy commented on #19137
@markuskramerIgitt I think it's showing the build since 2016.11.0 because that's what the tag was when it was forked to the 2016.11 branch. They've since diverged. But I really don't know. I'm not the king of Git.

[2017-01-18 00:30] jackywu commented on #38746
I think there should be a message queue on minion, and create a "process pool" on startup to process the message in the queue one by one. we can limit the "process pool" size.

[2017-01-18 00:52] markuskramerIgitt commented on #19137
@twangboy, does "building based on a Tag" mean `git checkout v2016.11.1`?

When I `git checkout v2016.11.1`, then `git describe` simply returns `v2016.11.1`,
so where do I get the fourth version number, and the sha value?
And `git describe --long` returns `v2016.11.1-0-gf7294dc`, oh dear...

I get the impression that I should not use `git checkout v2016.11.1`...

@rallytime, I lost our thread wher

[2017-01-18 01:29] markuskramerIgitt commented on #38756
Hi @morganwillcock, I slowly make my way through the wonderland of msi & WiX.
I still need to set permissions, but I guess that the service status will not affect them.

By the way:
The msi installer will optionally keep configuration .
Do you agree, that keeping the configuration (KEEP_CONFIG=1) should be the default?

[2017-01-18 01:32] markuskramerIgitt commented on #38590
Indeed

[2017-01-18 01:46] markuskramerIgitt commented on #38430
The [msi installer](https://github.com/markuskramerIgitt/salt-windows-msi) will offer to change installation path.

Currently I have a conceptual unclarity.
Could you possibly review/criticize [this text](https://github.com/markuskramerIgitt/salt-windows-msi/blob/master/KEEPING_CONFIG.md) regarding installation path change?

Best regards,
Markus

[2017-01-18 02:51] rallytime commented on #19137
@markuskramerIgitt Sure! That conversation is located in #34535.

[2017-01-18 03:11] ripta opened #38798 "`match.compound' fails to match when pillar data is used"
### Description of Issue

The `compound` function in the `match` module does not work when the target contains pillar matchers.

### Setup

A minion "docker-01.dev" has the following in its /etc/salt/grains:

[code]

and has been assigned the following pillar:

[code]

### Steps to Reproduce Issue

Using the aforementioned setup, the following commands return the correct output:

[code]

Furthermo

[2017-01-18 06:10] ccrivelli commented on #38719
I played a bit with your docker image trying to reproduce the issue.
So far I found this:

(with this top.sls is all good)
[code]

(this top.sls is generating the error)
[code]

The difference between the two top files above is just one space before 'test' and it seems to be causing the issue.

[2017-01-18 07:04] lvii commented on #38702
@gtmanfred Thank you.

It seems that `tcp` transport more stable than `raet`. I am switching to `tcp` transport now.
Hoping the document could add more details about transport choosing for new users,
like advantages, disadvantages, benechmarks, supported  features.

[2017-01-18 08:30] p-thurner opened #38800 "How to set the mine data ID when using module.run mine.send in a state"
### Description of Issue/Question

When setting up mine data via `mine_functions` in pillars like so:

/srv/pillar/test.sls
[code]

This will run `echo teststring` via cmd.run. I am then able to retreive it using (depending on mine / pillar setup)

[code]

Now the key here is that I say `salt 'master' mine.get 'minion' foobar` and not `salt 'master' mine.get 'minion' cmd.run`. I want to do that to

[2017-01-18 10:08] vutny commented on #38388
Yeah, this is something really weird. Indeed setting the `log_level_logfile` option takes precedence over `log_level` if set in config or via CLI, but otherwise it will inherit the level set by `log_level` option, as Salt docs say.

I was sure I had this case covered in unit tests... I will definitely take a look on this.

[2017-01-18 12:10] tyeapple opened #38801 "master don't get result when using custom jid to run job"
### Description of Issue/Question
Default implementation use milliseconds timestamp, it can cause jid conflict on multi master environments. Time may little delay on one master, that generates duplicate jid.

So, I consider to use custom jid, such as uuid to replace timestamp. But, never get return, even on
event bus.

[code]
### Setup
(Please provide relevant configs and/or SLS files (Be sure to

[2017-01-18 12:34] sebw opened #38802 "alternatives.install module works but state fails"
Module produces expected result:

[code]

State returns a failure:
[code]
I think I have identified the bug in `/usr/lib/python2.7/site-packages/salt/states/alternatives.py` around the condition `if current == path and master_link == link:`.

We expect a change to happen if current path or link are **different** from args passed to alternatives.install in the state.

Here's a patch, can anyone tes

[2017-01-18 13:05] ayyags commented on #38740
Or....is there no change to auth and crypt?

1) no change to auth
The assumption being, minion public key must be accepted and then the connection is wrapped with ssl. So mtls has no purpose here.

2) no change for crypt
AES key is generated as usual for publish, and used for encryption of  broadcast pub session.

If this is true, what is the purpose of the new ssl transport feature with cert_requ

[2017-01-18 13:34] tuner23 commented on #38656
Thank you,
i also already tried to play around with trailing newlines, but it doesn't help..
Maybe i will try out Jinja, but first i will have to introduce myself in.
In the end for the moment it works..

[2017-01-18 13:34] #38656 closed

[2017-01-18 13:43] vutny commented on #38388
@rallytime This also affects the future `2016.3.5` release. Should be easy to fix, but I need to check the tests more carefully.

[2017-01-18 14:04] Ruben-Bosch opened #38805 "Windows Minions show 'Non-Sucking Service Manager' in process list."
### Description of Issue/Question
When installing a Windows minion, using the normal installer, the minion is ran using the 'non-sucking service manager' (nssm), which is visible for all users in the process/task manager.
However, the name of this process is IMHO very unprofessional, and it's not very nice to have this process_description visible in the process  list. (especially when using salt t

[2017-01-18 14:10] omegarus commented on #37845
I have similar problem on salt 2016.11.1 and vmware 5.5:
``` salt-cloud -l debug -m /etc/salt/cloud.maps.d/mapfile.conf -y ```

[code]

[2017-01-18 14:13] mirceaulinic commented on #38556
I'm not sure I agree on this. Eventually have an optional arg `prefix` and if you really want to, will prepend it to the element name.

However you have complained earlier about:

[code]

And I have [asked](https://github.com/saltstack/salt/issues/38556#issuecomment-271312345), without getting any clarification:

e.g. instead of return.network_|-hostname_|-hostname_|-system.name what's needed, or

[2017-01-18 14:47] jbfriedrich commented on #37845
@conradjones Apologies for the delay. I was on winter vacation and started working in January again. I will need probably a week or two until I can try it with the development release as currently there are some deliverable that need my attention first. But this issue is not forgotten.

[2017-01-18 15:04] omegarus commented on #37845
@conradjones  @conradjones I changed my local salt/utils/vmware.py with vmware.py from develop branch. 10 out of 10 deployments from map file are worked without problems.
Salt 2016.11.1
pyvmomi==6.0.0.2016.6

[2017-01-18 15:14] paul-mulvihill commented on #38556
Hi @mirceaulinic

Thanks for the reply and sorry if there's any confusion.
Regarding the prefix. There is a lot of data that goes into elastic and some of them have fields that share the same names.
Such as:
id, jid, cmd, tag
These are all values valid for salt but also used for other sources. A prefix denoting them as salt values would allow for it to be clearer within Elastic/Kibana what they ar

[2017-01-18 15:15] jjm commented on #38556
Hi @mirceaulinic,

Thank you for the reply, in addition to the reply from @paul-mulvihill, I edited my comment above to hopefully make it clearer that I was suggesting the data that would be send over HTTP to logstash (and elasticsearch).

[2017-01-18 15:23] mirceaulinic commented on #38556
I'm thinking to add the following attributes:

- `extract` (boolean, default `False`): go deeper in the event object and send to kibana only what's there
- `prefix` (string, default `None`): append a certain prefix to the fields
- `publish_private` (boolean, default `False`): send `__pub` data to logstash

To solve you problem as you have proposed, you'd need to:

- `prefix=salt`
- `extract=True`

[2017-01-18 15:34] cachedout commented on #38788
To the best of my knowledge this is a bug.

[2017-01-18 15:34] paul-mulvihill commented on #38556
Hi @mirceaulinic
That does sound good to me..  I would be curious if you have any mock examples of the difference the extract flag will have on the data salt would send to logstash?
Just so I can understand if that will resolve the issue around dynamic keys.
When you get ready for a PR if you could tag @jjm and myself we will be happy to help by doing any testing we can our side.

[2017-01-18 16:01] danlsgiga commented on #38711
Thanks for the clarification on the os.stat.

So, I just created a docker container with 2016.11.1 HEAD.

First run:
[code]

Any subsequent run:
[code]

Here is the output when force is set to True on the state:
[code]

Here is my java_jre.sls:

[code]

[2017-01-18 16:10] rallytime commented on #38388
@vutny Sounds good. We're hoping to tag 2016.3.5 soon, and I don't know if this fix will make it in time. Looks like you've started a fix, but I don't see a PR yet. I put the 2016.3.6 label on here so we know this should certainly be fixed before tagging 2016.3.6.

Of course, if your fix gets in before we're able to tag 2016.3.5, then that's great!

Thank you very much for taking a look at this. I

[2017-01-18 17:13] gtmanfred commented on #36598
@steverweber can you check if https://github.com/saltstack/salt/pull/37607 this fixed the issue for you?

[2017-01-18 17:26] vutny commented on #38388
@rallytime I did it. Let's wait for build to be finished.

[2017-01-18 17:42] rallytime commented on #38388
Awesome! Thank you very much!

[2017-01-18 18:07] steverweber commented on #36598
i did give the dev branch a try last week... it seemed to be working but then yesterday i got.
[code]
im swamped with work.. not much time for testing this out.

[2017-01-18 18:23] rallytime commented on #38388
@johje349 This is fixed with the change in PR #38808, which will be in the `2016.3.5` and `2016.11.2` releases. Thanks all!

[2017-01-18 19:34] chrismcmacken commented on #36121
@terminalmage I've spent a few hours configuring basic test environments with reactors / beacons and haven't been able to reproduce the issue outside of our actual salt instances. We run salt-master as a non-root user and have a large number of states / pillars so I'm guessing it has something to do with that but haven't found a concrete way to reproduce it yet.

[2017-01-18 19:54] Ch3LL commented on #38730
@rodriguezsergio we just recently released amazon ami specific salt packages with version 2016.11.0*. Previously we just pointed users to using the redhat6 packages on amazon linux. The reason I explain this is I'm wondering when you upgrdaed if you upgraded with the redhat6 packages or our native amazon linux packages? I believe you should be able to find this information by running `rpm -qa | gr

[2017-01-18 19:55] Ch3LL commented on #38730
Also to mention if you are running an upgrade path teh only way to upgrdae form the redhat6 packages to the native amazon linux packages is to remove and install as documented here: http://repo.saltstack.com#amzn

[2017-01-18 20:01] gtmanfred commented on #36598
When you get a minute, can you try https://github.com/saltstack/salt/pull/38813 ?

thanks,
Daniel

[2017-01-18 20:11] Ch3LL commented on #38738
@mitar this is expected behavior because if auth fails, it will ask to copy over the salt-ssh key. For example it will look something like this:

[code]

I would clarify this as expected behavior since we want to give the option to deploy the salt-ssh key.

[2017-01-18 20:13] Ch3LL commented on #38738
Although I just thought we could probably just create the key when the user selects yes or when specifying in the config to use the key. I will approve as a feature request.

[2017-01-18 20:29] mitar commented on #38738
Thanks! Because in my setup we do not want to use or deploy any new keys to servers. If a key fails, then this is a failure and this is it.

[2017-01-18 20:29] mitar commented on #38738
BTW, is there a config to say to not use the key? How does one specify in config to use the key?

[2017-01-18 20:44] Ch3LL commented on #38701
@serg239 I believe i'm able to replicate this issue

I think the issue lies [here](https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/vmware.py#L820) This is empty and `ide_controllers` is empty. Controllers is empty because you are not specifying one. I cannot quit tell from teh docs if controller is required if using a cd drive:

ping @nmadhok do you know if this is a required sett

[2017-01-18 20:50] Ch3LL commented on #38742
@vodik seems the PR does resolve your issue but you have some concerns in the PR for the reviewer. Once that all those concerns are resolved with the PR reviewer feel free to close this issue or we can. Thanks

[2017-01-18 20:53] steverweber opened #38814 "cloud vmware get_instance [size]"
for vmware cloud.get_instance lists good data about a vm.
```salt-call cloud.get_instance jupyter-phys239.uwaterloo.ca```

most of the data is in a nice dict format... however 'size' is a string that looks like a dict.
[code]
this caused me some pain.
`size = u"cpu: {0}\nram: {1}".format(cpu, ram)`

this is frustrating because I need to split the string up to find the cpu core count and memory cou

[2017-01-18 20:58] Ch3LL commented on #38748
@pepoluan does this PR resolve your issue? https://github.com/saltstack/salt/pull/37967

[2017-01-18 20:59] Ch3LL commented on #38750
@yhekma sounds like a solid idea. Will approve as a feature request. Thanks

[2017-01-18 21:03] steverweber commented on #38814
`size` seems like something that is just a simple string in some other places aswell
https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/vmware.py#L1172
https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/vmware.py#L1576

would much rather a dict.

[2017-01-18 21:09] Ch3LL commented on #38758
@bobrik would you mind giving https://github.com/saltstack/salt/pull/38167 a try and see if there are any improvements?

[2017-01-18 21:19] Ch3LL commented on #38737
@dylwhich does this also occur when running `salt-cloud -p <profile> <vm-name>`? Or just when using the `cloud.present` state?

[2017-01-18 21:21] #36548 closed

[2017-01-18 21:26] Ch3LL commented on #38756
ping @twangboy looks like we need to edit the package somehow to setup correct permissinos.

[2017-01-18 21:33] #38459 closed

[2017-01-18 21:38] Ch3LL commented on #38760
@szin2012 can you describe further what you mean by the minion hangs? It seems the command results have returned on both state.sls commands. Maybe you can't run any further commands?

Also do you ahve a lot of big files in /srv/salt? I am not able to replicate this with a 6.1G /srv/salt but its only one big file in that directory. So trying to figure out how to replicate this so any other informat

[2017-01-18 21:41] Ch3LL commented on #38761
@DaveOHenry does the pr @lomeroe fix the Nontype error you are running into?

Either way I will mark this as a documentation bug as the double backslashes are in the code but not showing up in the web. Thanks

[2017-01-18 21:46] grichmond-salt opened #38816 "Errors in cloud runners are not reliably being captured as failures."
### Description of Issue/Question
I am working on an orchestration that will get an IP from an IPAM system, initiate vm creation in vmware, and if the vm creation fails, the IP address is released.

However, if there is a problem during the creation of the VM, the Error is being reported under "Changes" and the "Result" is incorrectly reported as "True".  This is breaking the "onfail" requisite.

[2017-01-18 21:47] #31842 closed

[2017-01-18 21:50] Ch3LL commented on #38772
@syst0m what does your pillar data look like?

Also if you run `salt '*' pillar.item redis` what is returned form the minions that work compared to the minions that don't?

This error is essentially stating the pillar value does not exist  for that minion.

[2017-01-18 21:55] lorengordon commented on #38761
@Ch3LL that's how the double backslashes print when using sys.doc also. Might be a larger issue than appears. If I remember right, I needed to use `\\` to print `\`, even in triple-single-quoted docstrings. To get a `\\` to print as `\\`, I needed to explicitly specify raw strings. i.e. `r'''`

[2017-01-18 22:12] twangboy commented on #38756
@morganwillcock @markuskramerIgitt @Ch3LL These permissions are set when the Salt-Minion launches. The installer sets up a basic permission set, but the permissions are reset everytime the Minion starts. If you look at the permissions in the GUI, you'll see they are not inherited.

![image](https://cloud.githubusercontent.com/assets/9383935/22085250/69e162ec-dd90-11e6-87c2-989ef0a39ce2.png)

That

[2017-01-18 22:14] twangboy commented on #19137
@markuskramerIgitt I don't know where the 4th version number comes from.

[2017-01-18 22:15] #38677 closed

[2017-01-18 22:19] Ch3LL commented on #38771
@mitar what error are you seeing? Ibelieve i am reproducing what you are seeing but want to confirm the same error below:

[code]

Here were the steps i took:
1. `sudo docker network create my.network.com`
2. `docker run -d --name test-ch3ll ubuntu:latest sleep 3000000`
3. sls file:

[code]

[2017-01-18 22:26] Ch3LL commented on #38782
@lomeroe thanks for the PR! I will go ahead and close this since the PR has been reviewed and merged

[2017-01-18 22:26] #38782 closed

[2017-01-18 22:27] bobrik commented on #38758
@Ch3LL do I need that on master, on minion or on both?

[2017-01-18 22:31] Ch3LL commented on #38795
@cebe what if you use cmd.script instead of cmd.run any luck?

[2017-01-18 22:35] markuskramerIgitt commented on #19137
@twangboy, the 4th number is the commit count.

I currently observe a difference how `git describe` and `version.py` count commits, but I leave that open until bigger problems are solved.

[2017-01-18 22:36] Giandom opened #38818 "Could not LazyLoad slack.start: 'slack' __virtual__ returned False"
### Description of Issue/Question
Hi,
I would configure slack engine, but I did not understand the steps. I've only added config lines to master config file.
Can someone help me?

### Setup

[code]

### Versions Report
Salt Version:
           Salt: 2016.11.1

Dependency Versions:
           cffi: 1.6.0
       cherrypy: Not Installed
       dateutil: Not Installed
          gitdb: Not Installed

[2017-01-18 22:41] Ch3LL commented on #38751
@geraldhansen to confirm this isn't an issue with teh host can you manually run `/lib/systemd/systemd-sysv-install is-enabled apache2` as it seems the minion is running and does that set it correctly?

[2017-01-18 22:45] Ch3LL commented on #38816
Looks like we need to improve the error detection here. Thanks

[2017-01-18 22:47] cebe commented on #38795
@Ch3LL thanks for the quick feedback! Sadly that does not change anything, ran it as:

[code]

As stated above I can work around this by piping stderr to /dev/null, quite sure I could use a file if I needed, so that solves it for my case. I still think this should be fixed so it does not crash but display a warning instead, so the result of other states would still be shown. There are 2 options im

[2017-01-18 22:48] Ch3LL commented on #38818
@Giandom are you running into an error when attempting to use this engine?

Also I did notice when comparing your config versus the one in the docs it needs to look like this:

[code]

not this

[code]

Hopefully that gets you further along.

[2017-01-18 22:54] mitar commented on #38771
Yes, exactly. So it even fails with already running container. And even if they have links.

[2017-01-18 22:56] Giandom commented on #38818
Hi @Ch3LL, no errors in log.

If I use config as doc log return this error:

[WARNING ] Key 'engines' with value {'slack': {'control': True, 'valid_commands': ['test.ping', 'cmd.run', 'list_jobs', 'list_commands'], 'token': 'xxxxxxxxxxxxxxxxxx', 'valid_users': ['xxxxxx']}} has an invalid type of dict, a list is required for this value

Any suggestions?

[2017-01-18 22:59] danlsgiga commented on #38711
Sorry, forgot to send you the docker image I've created for debugging.

First run:
`$ docker run -t --name salt-archive danlsgiga/salt-archive:38711`

Subsequent runs:
`$ docker start -a salt-archive`

Here is the Dockerfile:
[code]

jre.sls:

[code]

[2017-01-18 23:46] Giandom commented on #38818
Resolved. I just installed slackclient python module. So can I confirm there is an error in documentation for the configuration.
##the docs conf is:

engines:
    slack:

##the working conf is:

engines:
  - slack:

Now, There is a way to target only one minion from Slack?

[2017-01-18 23:54] ccrivelli commented on #38719
Also with this simple top file, I'm getting the same error:

[code]

In this case because it's not able to find any minion with id prod.*
Not sure if this is my case though.

[2017-01-18 23:57] gtmanfred commented on #38719
That is the expected behavior, it is not finding any states for the minion you have targeted.

And for the other one, that is not a valid yaml, because of the extra space, so I think we might just be throwing away the last match.

Are you sure that your minion where you are seeing this error is actually matching anything in the top.sls file?

[2017-01-18 23:58] gtmanfred commented on #38719
I believe what you are actually seeing here is that the targeted minion is not actually matched in the top file.

This error means that it A) couldn't find a top file or B) couldn't match the minion to any set of states in any of the top files it found.

[2017-01-18 23:59] edgan commented on #31576
I just ran into this with 2016.11.1. This works in master mode, and I need it working in salt-ssh mode.

[2017-01-19 00:23] twangboy commented on #38442
@mbochenk We need to fix `set_computer_name` so that it works correctly (DNS). Do happen to know what wasn't getting set properly by the command?

[2017-01-19 00:41] ccrivelli commented on #38719
Yeah, I understand what you mean.
I tried something different now, might this be the real cause?

This is the topfile:
[code]

The top file is in mgmt, then I have one state for prod env and one state for stage env:
[code]

The minion id is 'test':
[code]
..but there's no environment specified in the minion config (like my original config, it's commented):
[code]

I expect the 'stagestate' would b

[2017-01-19 00:52] gtmanfred commented on #38719
I have replicated this error.  The image is still the same

[code]

@terminalmage can you take a look at this?

Thanks,
Daniel

[2017-01-19 04:46] abonillasuse opened #38821 "salt-cloud uses ubuntu as ssh_username"
### Description of Issue/Question
Even with
  ssh_username: ec2-user
in both the provider and profile definition, salt-cloud wants to login using ubuntu to an AWS AMI.
salt-cloud:
Warning: Permanently added '54.166.98.139' (ECDSA) to the list of known hosts.
Permission denied (publickey).
[ERROR   ] Failed to deploy 'mongodb-prod'. Error: Failed to authenticate against remote ssh

journalctl log v

[2017-01-19 05:24] abonillasuse opened #38822 "Q: How can I avoid salt-cloud to "saltify" or start salt in my VMs?"
### Description of Issue/Question
salt-cloud is never making it into my instances for some reason [1] so I'd like for salt-cloud to simply manage my maps, I've already created the needed minion and grain configuration in my images. How can I instruct if from attempting to SSH into the instances after they are provisioned?

Thanks

[1]
[DEBUG   ] Terminal Command: /bin/sh -c ssh -oStrictHostKeyChec

[2017-01-19 06:39] bobrik commented on #38758
Adding that on minion did not help.

[2017-01-19 07:04] bobrik commented on #38758
I did some profiling and here's what's happening on CPU-heavy state.apply path:

[code]

[code]

I can give you the whole profile for inspection if you want.

[2017-01-19 07:10] bobrik commented on #38710
I think this is the same as #38758.

[2017-01-19 07:38] bobrik commented on #38758
I suspect it was #37378. cc @skizunov

[code]

[2017-01-19 07:54] szin2012 commented on #38760
@Ch3LL thanks..

I mean when there are big file and folders on /srv/salt,its very slow to execute any state.sls,like cmd.sls, I find out that the minion log will get stuck after Re-using SAuth. It takes 20 seconds to return the result. However when there is very small file on the directory, every thing is fine , it only took few seconds . the big files and folders cannot be deleted from /srv/salt

[2017-01-19 08:52] DaveOHenry commented on #38761
Thanks a lot for your feedback @Ch3LL @lomeroe . It is working for me with the win_lgpo.py file from PR https://github.com/saltstack/salt/pull/37262. Finally there is a simple way to automate the GPO stuff. I really appreciate your great work here.

[2017-01-19 09:11] DaveOHenry commented on #38761
Forgot to ask: Will the PR make it to 2016.11.x?

[2017-01-19 09:27] morganwillcock commented on #38756
@twangboy Thanks for clarifying, I presumed the permissions weren't getting set as any user could read the log files and cache content.

[2017-01-19 14:04] elxwill commented on #34460
+1 I am seeing this as well. I am calling runners from ext_pillars and getting lines and lines of this error.

[2017-01-19 14:12] amontalban commented on #34019
+1 over here:

[code]
---
[code]
---
[code]

In our case we are testing it with test-kitchen / kitchen-salt and we want to detect syntax errors when devops push Salt config to repo.

Do we have a roadmap for this? Does it help to open a ticket in Salt support to have more priority on this?

Thanks!

[2017-01-19 14:23] gtmanfred commented on #38822
Have you made sure that the /srv/salt/.ssh/abonilla-aws.pem is the correct key for those servers?

Because it looks like that is what is getting rejected.

You can specify the `private_key` file in your salt cloud config.

[2017-01-19 14:24] gtmanfred commented on #38821
Can you provide your ec2 cloud configurations with the api key stripped out?

Thanks,
Daniel

[2017-01-19 14:30] gtmanfred commented on #38762
I believe `ext_job_cache` should be in the master config, not the minions.  This then sets the returner for the minions.

[2017-01-19 14:31] gtmanfred commented on #38762
As for the opts being overwritten by pillars, i do not believe that should be the case, but I will need to test it.

[2017-01-19 14:34] ssplatt commented on #30973
i know there is some code already in the official codebase, but i just remembered I made this issue and then made my own module https://github.com/ssplatt/saltstack-infratest-module. It's not all encompassing but does work.

[2017-01-19 14:38] gtmanfred commented on #38762
It looks like the get_returner_options uses the `config.option` module, which follows this path to get variables.

[code]

So It appears that is the correct behavior.  My guess is that that documentation just needs to be updated, and was possibly written without a full understanding of what was going on.

[2017-01-19 14:42] gtmanfred commented on #38765
Looking at the code, it looks like the mode option is not used at all.

Thanks for reporting this!
Daniel

[2017-01-19 14:48] gtmanfred commented on #38798
Thanks for reporting this!  It looks like the `__pillar__` dict was not being passed to the matcher in the compound matcher.

I have fixed this in https://github.com/saltstack/salt/pull/38823

Thanks,
Daniel

[2017-01-19 15:04] IshMalik opened #38825 "file.managed multiple sources for redundency failure"
The environment that I'm currently deploying salt in already has a pair of synchronised file servers which I am using to store large installation media files and deploy them to minions over HTTP.

I'm adding multiple source lines to provide redundancy in the event that one server is down. My configuration looks like

[code]

However, If host 1 is down I get an error rather than a failover to host2

[2017-01-19 15:26] gtmanfred commented on #38805
I have let our windows packager know about this.

Thanks,
Daniel

[2017-01-19 15:37] gtmanfred commented on #31849
If you update to 2016.11.1, and run `salt-run saltutil.sync_modules` I believe this should sync the modules to the extmods for the MasterMinion to be able to use.

[2017-01-19 15:50] abonillasuse commented on #38821
aws:
  driver: ec2
  ssh_connect_timeout: 10
  securitygroup: abonilla-all
  keyname: abonilla-aws
  id: xxxxxxxxxxx
  key: xxxxxxxxxxxxxxxxxxxx
  private_key: /srv/salt/.ssh/abonilla-aws.pem
  location: us-east-1
  ssh_username: ec2-user

aws-suse:
  provider: aws
  image: ami-aa3bd3bc
  #deploy: True
  SubnetId: subnet-f8f55f8f
  SecurityGroupId: sg-0f6da719
  size: m3.medium
  ssh_username: ec2

[2017-01-19 16:03] gtmanfred commented on #38786
Thanks for reporting this.

I have confirmed the memory leak.

Thanks,
Daniel

[2017-01-19 16:27] abonillasuse commented on #38822
Yes, it is and is specified in the profile.

[2017-01-19 16:28] gtmanfred commented on #38822
can you provide more information? Because from the log you posted, it looks like your server is rejecting the private key.
[code]

[2017-01-19 16:29] abonillasuse commented on #38822
@gtmanfred actually, this bring us back to #36649
It just died there...

[2017-01-19 16:31] gtmanfred commented on #38822
Ok, so your problem is just with salting the minion using aws.  Not with using the `saltify` driver.

[2017-01-19 16:44] abonillasuse commented on #38822
Yes. I don't want to salt them, is there a way? Since they come pre-seasoned. @gtmanfred

[2017-01-19 16:45] gtmanfred commented on #38822
You could pass `--no-deploy` or set `deploy: False` in the config.

[2017-01-19 16:47] Ruben-Bosch commented on #38805
@gtmanfred; it was not really a question.
It will need some recompiling of the nssm binary, (which is allowed within it's license) with a different name.
Personally, I would recompile it with the 'NS Service Manager', or even 'Salt minion service manager' file_description.

[2017-01-19 16:55] elxwill commented on #27161
+1 also seeing this issue on 2016.11.1

Any update?

[2017-01-19 17:18] sebw commented on #31849
@gtmanfred I confirm.

Back then I had a weird saltenv set up, this might have been the cause.

All is good now with:
[code]

[2017-01-19 17:21] deuscapturus opened #38826 "2016.11.1 cron.rm doesn't work without "identifier""
### Description of Issue/Question

cron.rm will not remove a cron job when used as specified in the documentation.

### Setup

See here a cron job that I want to delete:
[code]

### Steps to Reproduce Issue
Using the documented method does not work
[code]

But it works when I add identifier
[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differenc

[2017-01-19 18:11] openfly commented on #34575
yeah it appears that salt minion needs to upgrade their zeromq library.  this is causing issues still in centos.

[2017-01-19 18:20] openfly commented on #34575
This issue should be re-opened.  It is a critical problem.

[2017-01-19 18:29] justindesilets opened #38827 "Syndic broken between 2016.3.3 and 2016.11.1"
### Syndic broken between 2016.3.3 and 2016.11.1
We recently tried to update our salt-master-of-masters to 2016.11.1. We have multiple syndic-masters running 2016.3.3 connected to it. After the update, the syndic functionality was broken. This was done during a scheduled maintenance, so I had to roll back the package and syndic functionality started working as expected. We have however been able t

[2017-01-19 18:32] seanjnkns commented on #34575
Re-opening to gather more information.  I personally haven't seen this issue again and I'm running the following:

Salt Version:
           Salt: 2016.3.4

Dependency Versions:
           cffi: 0.8.6
       cherrypy: 3.2.2
       dateutil: 1.5
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: 2.7.2
        libgit2: Not Installed
        l

[2017-01-19 18:42] openfly commented on #34575
found the issue
not an epel-release issue.  someone has been running:

curl -L https://bootstrap.saltstack.com -o /tmp/install_salt.sh

on some of my boxes...  and that install script apparently statically sets the version for repo.saltstack and loads it as a repo.  Which is overriding the epel-release package.  And leaving these nodes stuck on whatever version they got when they ran that script.

[2017-01-19 19:01] The-Loeki commented on #29580
This seems solved

[2017-01-19 19:05] The-Loeki commented on #22984
duplicate of #30561

[2017-01-19 19:12] danielmotaleite opened #38830 "salt-ssh: vault fails to use config"
### Description of Issue/Question
When trying to use vault with salt-ssh i follow the doc [here](https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.vault.html)

After fixing what i assume it is one error, the the myvault / myvault_config different names (it still fails with the original names), i have this in my master:
[code]

Running config.get it works:

[code]

yet doing salt-ssh

[2017-01-19 20:33] gtmanfred commented on #38827
I have verified that this is a problem with 2016.3.3.  But it seems to work correctly when the syndics are 2016.3.4, could you try that out?

[code]

but with 2016.3.4

[code]

I tested using the syndic with docker containers. https://github.com/gtmanfred/salt-docker-demo/tree/syndic

Thanks,
Daniel

[2017-01-19 20:35] kevinquinnyo commented on #36801
I didn't realize there was actually a drac module in salt.  I only use the ipmi module currently.  I guess the underlying `pyghmi` python module is able to handle most commands regardless of *real* IPMI or dell's DRAC system.

From a code design perspective it makes me wonder if there should be a high-level abstraction/wrapper salt module called something like `oob.py` that could take an `oob_type

[2017-01-19 20:48] tedohayer commented on #33194
Broken for me after upgrading from 2016.3.3 to 2016.11.1

My userdata is below:

`manage_etc_hosts: false
manage_resolv_conf: true
resolv_conf:
  nameservers: ['10.1.31.5','10.1.32.5']
  searchdomains:
    - or.company.internal
    - company.internal
  domain: or.company.internal
  options:
    rotate: true
    timeout: 1`

[2017-01-19 21:28] thetoolsmith commented on #38287
I'm also getting with with 2016.11.1. I removed the security group entirely from the profile and still get
[DEBUG   ] AWS Response Status Code: 400
[ERROR   ] Error creating ap-ui1.us-east-1b.dev.virmedica.com on EC2 when trying to run the initial deployment:
encode() argument 1 must be string, not None
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/salt/cloud/clouds/e

[2017-01-19 21:35] justindesilets commented on #38827
Currently we're in the process of rolling out 2016.11.1 to all hosts so that's our fix that's already scheduled out for all of our sites. I mostly just wanted to bring the issue to light but would have to build a lab to replicate it on my end.

[2017-01-19 21:35] mlalpho commented on #38287
@thetoolsmith that specific error has been fixed and merged into develop (#38316)

See if you still have any problems after switching your salt installation to develop branch

[2017-01-19 21:36] gtmanfred commented on #38827
Ok, cool. I am going to mark this issue as fixed on 2016.3.4, unless someone comes back with the same error on 2016.3.4

Thanks!
Daniel

[2017-01-19 21:36] #38827 closed

[2017-01-19 21:42] thetoolsmith commented on #38287
@mlalpho Thanks. This might be a stupid question, but what's the best approach to switch to develop branch on my newly setup salt-master?
I don't want to rebuild it obviously.

[2017-01-19 21:48] mlalpho commented on #38287
@thetoolsmith If you don't want to [reinstall salt](https://docs.saltstack.com/en/latest/topics/installation/rhel.html) you're feeling brave, you could overwrite the file utils/aws.py with [this](https://raw.githubusercontent.com/mlalpho/salt/465053f07f3271706eeb0ca297182879eac1978c/salt/utils/aws.py)

run `salt-call grains.get saltpath` for the location

[2017-01-19 22:08] lomeroe commented on #38761
@DaveOHenry yeah, I'll try to get it (along with several other bug-fixes) backported in the next few days so it makes the next point release

[2017-01-19 22:41] thetoolsmith commented on #38287
This fixed my issue. Just provisioned a vm in aws. However I got a new issue. Should I open another issue?  Looks like the bootstrap failed.

SaltCloudSystemExit: Command 'ssh -t -t -oStrictHostKeyChecking=no -oUserKnownHostsFile=/dev/null -oControlPath=none -oPasswordAuthentication=no -oChallengeResponseAuthentication=no -oPubkeyAuthentication=yes -oIdentitiesOnly=yes -oKbdInteractiveAuthenticati

[2017-01-19 22:54] thetoolsmith commented on #38287
running deploy.sh from the new vm console yields a bit more:

[root@ip-10-0-1-81 .saltcloud-8310720c-f6c4-4c37-aa3c-7ea46733ed7e]# ./deploy.sh -P 'git v2016.11.1'
 *  INFO: Running version: 2016.10.25
 *  INFO: Executed by: /bin/sh
 *  INFO: Command line: './deploy.sh -P git v2016.11.1'

 *  INFO: System Information:
 *  INFO:   CPU:          GenuineIntel
 *  INFO:   CPU Arch:     x86_64
 *  INFO:

[2017-01-19 22:56] terminalmage commented on #38711
OK, I've opened a pull request (https://github.com/saltstack/salt/pull/38832) that I've confirmed fixes this. Thanks a lot for the Dockerfile, that helped. I made the following changes to it, which allow you to mount a git checkout and use it instead of the version installed from the bootstrap.

[code]

Just run ``docker run --rm -it -v /path/to/git/checkout:/testing <image_name>`` and then ``/usr

[2017-01-19 22:58] mlalpho commented on #38287
@thetoolsmith I'd recommend opening up another issue or if you patched the file try doing a clean salt reinstall of your master to develop just to be sure that it's not an issue with the patched file.

[2017-01-19 23:04] danlsgiga commented on #38711
Awesome! Will this PR make into 2016.11.2 in time?

[2017-01-19 23:38] abonillasuse commented on #38822
@gtmanfred was that introduced in salt-cloud 2016.*? Those parameters are ignored in 2015.8

[2017-01-19 23:39] abonillasuse commented on #38821
@gtmanfred any clue on what could be going on with that config?

[2017-01-19 23:41] gtmanfred commented on #38822
Nope, that was in 2015.8

https://github.com/saltstack/salt/blob/2015.8/salt/utils/parsers.py#L1207-L1213

[2017-01-20 00:18] abonillasuse commented on #38822
@gtmanfred I'm running this like
salt-cloud -m /etc/salt/cloud.maps.d/cloud.map -l debug --no-deploy

with salt-cloud-2015.8.12-32.5

and I still see all the

[DEBUG   ] Retrying connection to host 184.73.78.233 on port 22 (try 29)
[DEBUG   ] Using /srv/salt/.ssh/abonilla-aws.pem as the key_filename
[DEBUG   ] Attempting to authenticate as ec2-user (try 1 of 15)
[DEBUG   ] SSH command: 'ssh -oStri

[2017-01-20 00:20] gtmanfred commented on #36649
This does not need to be quoted, because this is been executed by os.execvp, with an arg array of `['/bin/sh', '-c', ' '.join(args)], so the command is actually passed to sh as if it was a quoted string inside of python.

https://github.com/saltstack/salt/blob/develop/salt/utils/vt.py#L413

[2017-01-20 00:28] gtmanfred commented on #38822
Do you have `deploy: True` set anywhere in /etc/salt/cloud*? That is the only way I am seeing the --no-deploy not working.

[2017-01-20 00:39] toanctruong opened #38836 "file.managed with S3 Source errors out with obscure message"
### Description of Issue/Question

I have a simple state to download a binary file into my home directory from S3. I have an IAM role for my EC2 instance that provides full access to the S3 bucket. Manually running `salt-call s3.get mys3bucket /infrastructure/atlassian/atlassian-servicedesk-3.2.6-x64.bin` works just fine. Tried Googling for `Exception: 'FSClient' object has no attribute 'utils'` a

[2017-01-20 01:17] thetoolsmith commented on #38287
I just opened https://github.com/saltstack/salt-bootstrap/issues/1019.

Thank you.

[2017-01-20 04:32] robthralls opened #38837 "tarfile library fails to list/extract some tar files"
### Description of Issue/Question
The tarfile library used in the archive state/module fails in unexpected ways on some tar archives, but they extract just fine using system commands. In at least one case, some files/directories were extracted but not others, even though the archive.extracted state returned success.

I've run into this repeatedly over the last year or so, but unfortunately haven't

[2017-01-20 05:23] Zorlin opened #38838 "Failing to remove nginx"
### Description of Issue/Question
Hi there,

I am playing with SaltStack, trying to get a feel for everything. I've ran into what I think could possibly be a bug - removing nginx does not work correctly. All involved machines are running fully updated Ubuntu 16.04 and all packages are current. For what it's worth, the salt minions are all running as VMware virtual machines with 4GB of RAM each. No

[2017-01-20 08:54] DaveOHenry opened #38839 "Invoking runner.cloud.action via reactor sls fails"
### Description of Issue/Question
We are using EC2 and I tried to invoke a cloud runner action via the event system, which fails with an exception:
[code]
[code]

Manually executing the action works as expected:
[code]

Triggering cloud.profile (for example) via the reactor works fine, too: The instance is created without a problem. I think there is something strange happening inside cloud.action.

[2017-01-20 10:08] gaetanquentin commented on #35439
same issue for me
2016.11.1
minion:  redhat 6.x
salt master : ubuntu 16.04

[2017-01-20 10:32] mbochenk commented on #38442
@twangboy Unfortunately my Windows is really rusty. From what I saw it seems that `set_hostname` does `wmic nicconfig get dnshostname` - which, if I remember correctly, can be different from `computer_name`.
I did not look into internal logic of both modules, so I am not sure if they are expected to behave differently.
At the moment I cannot investigate this further, however I would think that `se

[2017-01-20 11:06] sumeetisp commented on #38680
Any solution?

[2017-01-20 14:36] abonillasuse commented on #38822
@gtmanfred I see, from the previous comments (in other posts) I just used True, but of course switching to Flase, did the trick. Question has been answered. Thanks

[2017-01-20 14:40] abonillasuse commented on #36649
@gtmanfred I understand. I don't know why else the server would reject the key or fail to authenticate (or test the ssh connection) but yet be able to SSH if I run the command manually.

[2017-01-20 14:41] abonillasuse commented on #36649
#38821 might be a duplicate of this same problem.

[2017-01-20 14:42] #38822 closed

[2017-01-20 14:43] gtmanfred commented on #36649
YEah, it looks like that is the case.  I am going to close this issue and mark it as a duplicate of #38821

I am still working on replicating that one.

[2017-01-20 14:43] #36649 closed

[2017-01-20 14:44] gtmanfred commented on #38821
I am still working on replicating this issue.

[2017-01-20 15:34] saravananarumugam2207 opened #38840 "stuck with getting the api work in SaltStack"
stuck with getting the api work in saltstack to restart NRPE agent

### Setup
reactor.conf (/etc/salt/master.d)
   reactor:
  - 'salt/netapi/hook/restart':
    - /srv/salt/reactor/services/restart.sls

/srv/salt/reactor/services/restart.sls:

{% set postdata = data.get('post', {}) %}

{% if postdata.X-My-Secret-Key == "<accesskey>" %}
restart_services:
  cmd.service.restart:
    - tgt: '<target na

[2017-01-20 16:33] Ch3LL commented on #38801
@tyeapple i'm not able to replicate this behavior. When I run your script I see the custom JID in the event system and i get a return. HEre is my test case:

1. run `salt-run state.event pretty=True` to view the event bus
2. Here is my test.py file. I edited it to print the jid to check that the correct jid was showing in the event system.

[code]

3. run `python test.py`:

[code]

4. adn the jid

[2017-01-20 16:37] theWizK opened #38841 "state.pkg.group_installed with packages marked as "-" shows failure even when group is installed successfully"
On CentOS 7, salt version 2016.11.1,  when using pkg.group_installed with a group that has packages marked with "-" (meaning don't install them), state.pkg.group_installed result is False even though the group's packages are installed successfully.

Here is my sls definition:

[code]

Here is some info from the minion regarding yum's understanding of the group I want to install:

[code]

Here is t

[2017-01-20 16:40] roskens opened #38842 "service.dead no longer works after systemd update"
### Description of Issue/Question

systemctl status returns different output/error codes after 219-23 update. This causes service.dead to produce a failure when it should pass.

### Setup
test-case.sls:
[code]

### Steps to Reproduce Issue
[code]

From the minions log file (in debug mode:)
[code]

### Versions Report
[code]
The minion has these systemd packages installed:
[code]
The state succeeds

[2017-01-20 16:52] Ch3LL commented on #38802
@sebw i'm not able to replicate this behavior on cent7. I am running your state and they pass fine.

WHen you state "We expect a change to happen if current path or link are different from args passed to alternatives.install in the state." In what case would this occur? From glancing at the code I read it as it runs the install command with the path you provided in the state and then checks if its

[2017-01-20 16:59] Ch3LL commented on #38814
@steverweber I think if we approach this by adding it into develop and documenting it this could be a possible addition. Agreed adding as dict would be a better arpproach..

When raw outputter I get this: `'size': u'cpu: 2\nram: 8192 MB'` with a dict it would def make more sense. Will approve as a feature request. Thanks!

[2017-01-20 17:16] Ch3LL commented on #38825
@IshMalik looks like i'm able to replicate this although I went back all the way to 2015.8.10 and it wasn't working either. According to the documentation [here](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.managed)  it seems this should be possible to setup in a failback situation.

ping @terminalmage seems this is not working. is there something that

[2017-01-20 17:50] hartloosli commented on #32412
Still seeing this issue with the following code;

State
[code]

Pillar;
[code]

Resulting output;
[code]

Is this because /etc/environment is an already-existing file, with no line return?

[2017-01-20 17:57] Ch3LL commented on #38791
@twellspring can you confirm that you can manually add this nat gateway subnet as a route table.

I see this error: `route table rtb-7fa97116 and interface interface-0a50e647 belong to different networks` in the error output which pushes me to believe the nat gateway and the route aren't in the same network. Although this is not my strong area. But if you could confirm you can add it manually to c

[2017-01-20 18:45] terminalmage commented on #38711
@danlsgiga yes, it will. We have not yet tagged that release and the pull request was just merged into the release branch.

[2017-01-20 18:45] pepoluan commented on #38748
Thanks! Let me experiment on this a bit, and get back to you.

[2017-01-20 18:48] danlsgiga commented on #38711
Thanks @terminalmage, I think you can close this issue. I've confirmed it is fixed with https://github.com/saltstack/salt/pull/38832

[2017-01-20 18:55] Ch3LL commented on #38838
@Zorlin looks like i'm able to replicate this. Looks like salt runs this command to check if its been removed:

`dpkg-query --showformat '${Status} ${Package} ${Version} ${Architecture}' -W ` If you manually uninstall nginx as well the following packages still show up in the output of that command: nginx-common and nginx-core. So it seems removing nginx does not unisntall those packages.

I will l

[2017-01-20 18:57] terminalmage commented on #38719
This is expected behavior. The default merging strategy was never intended to look at other environments' sections in a top file (e.g. looking for ``prod`` in the ``mgmt`` top file). This behavior was a bug, so for the 2016.11.0 release it was corrected, and a strategy called ``merge_all`` was added. Setting ``top_file_merging_strategy: merge_all`` in the minion configuration will use all sections

[2017-01-20 18:59] terminalmage commented on #38711
Great, thanks for the confirmation.

[2017-01-20 18:59] #38711 closed

[2017-01-20 19:17] Ch3LL commented on #38839
@DaveOHenry heres the stack trace prettied up a bit to make it easier to read:

[code]

When attempting this myself this is what I see in the event as well:

[code]

I'm guessing its passing that state kwarg into the action call and thats where the issue lies. The action call looks for `kwargs=None`.  Looks like we need to fix this up thanks.

[2017-01-20 19:25] Ch3LL commented on #38840
@saravananarumugam2207 can you confirm a couple of things.

1. When running `salt-run state.event pretty=True` do you see the correct event coming in: `salt/netapi/hook/restart`
2. Also in that event data can you make sure `X-My-Secret-Key` is accurate and what you would expect.

[2017-01-20 19:29] markuskramerIgitt commented on #38756
@twangboy, as you said, the installer did not fail to restrict permissions, but the salt-minion service allowed users (S-1-5-32-545) to read `c:\salt`.

A comment regarding functionality:
I agree with you, that regular users don't need to read every file in the salt dir, but they should be able to read the  log files. They could either understand the problem or send the log to administrators.
When

[2017-01-20 19:39] elxwill commented on #36223
+1 to this one... 2016.11.1

All my ext_pillars get called twice.

[2017-01-20 19:51] sebw commented on #38802
@Ch3LL as I understand the code `if current == path and master_link == link`, it is checking the current values (name and link) against values passed to the state. But maybe I'm wrong, I'm not an advanced python dev :)

In my case, the state is actually doing the opposite of what it is supposed to do. Inverting the condition as proposed in my patch fixed the behavior.

I could reproduce the bug on

[2017-01-20 19:58] danielmotaleite commented on #38830
editing this file  ```/usr/lib/python2.7/dist-packages/salt/pillar/vault.py``` on line 80 we have:

[code]
If i replace this with this code
[code]

i get the correct URL:

[code]
but i do not know if i can do this blindly

[2017-01-20 20:07] len-thomas commented on #8933
The problem is [`_to_dict`](https://github.com/saltstack/salt/blob/develop/salt/modules/mongodb.py#L77-L88) returns a python list with a python dictionary inside (called from [here](https://github.com/saltstack/salt/blob/develop/salt/modules/mongodb.py#L343)).  When `roles`, is used in the [`mdb.eval("db.grantRolesToUser('{0}', {1})".format(name, roles))`](https://github.com/saltstack/salt/blob/de

[2017-01-20 20:33] morganwillcock commented on #38756
@markuskramerIgitt In my case the other users of the system are not responisble for how it runs and shouldn't be trusted (e.g. running Terminal Services) so having world readable log files means I wouldn't about to use the more verbose logging modes. To keep pillar data secure I'm essentially trusting it to the SYSTEM account of the machine (as that is what is authenticated and running the service

[2017-01-20 20:45] Ch3LL commented on #38841
@theWizK i'm able to replicate this. Looks like we need to add some better detection of these packages.

Here is a docker container for anyone that wants to quickly replicate this:

1. `docker run -it -v /home/ch3ll/git/salt/:/testing/ ch3ll/issues:38841 salt-call --local state.sls test`

[2017-01-20 20:53] amontalban commented on #34019
In my case I was able to use some `watch_in` to the service as a workaround and it worked with `test=True`.

[2017-01-20 21:01] #38388 closed

[2017-01-20 21:01] #38622 closed

[2017-01-20 21:01] #38629 closed

[2017-01-20 21:03] danielmotaleite opened #38845 "update the salt.pillar.vault"
the documentation in  https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.vault.html
not have mismatch info as it is incomplete, making it difficult to setup due the missing info

as i can not see the text in https://github.com/saltstack/salt/blob/develop/doc/ref/pillar/all/salt.pillar.vault.rst, here is the copy of the text with the suggested changes:

This module allows pillar data t

[2017-01-20 21:11] Ch3LL commented on #38826
@deuscapturus i'm kind of replicating your case as shown below:

[code]

[code]
And the job is removed as shown above. I do see one difference in the cron.ls command though. Here is my output:

[code]

I do not have an identifier output in that command. It seems the code does look for this line `# Lines below here are managed by Salt, do not edit`. And here is what my crontab looks like:

[code]

[2017-01-20 21:19] markuskramerIgitt commented on #38756
@morganwillcock, I was not aware that pillar security relies on file permissions on the minion.
This makes a strong point for https://github.com/saltstack/salt/issues/38820.

You are also right, that retrieving logs is an daily task for admins.

[2017-01-20 21:24] terminalmage commented on #38825
Fixed in https://github.com/saltstack/salt/pull/38847

[2017-01-20 21:33] Ch3LL commented on #38845
@danielmotaleite thanks for submitting this. If you want to update the docs please feel free or we can get to it :) Thanks for this this will greatly help someone else out when the docs get updated with this entire setup.

[2017-01-20 21:34] Ch3LL commented on #38845
note: i'm also currently looking at your other issue right now :)

[2017-01-20 22:57] Ch3LL commented on #38830
@danielmotaleite after looking through the code you have the right idea but I think the better fix is going to be adding 'master_opts' to __opts__ when initializing the salt-ssh client. My guess is somewhere in `client/ssh/__init__.py` we would need to do so.

ping @thatch45 can you confirm that this is the correct fix. I can see `master_opts` being added to context but not sure we want to add it

[2017-01-20 23:27] thatch45 commented on #38830
master_opts should show up in opts the same way in salt-ssh that it does in regular master/minion salt

[2017-01-21 00:09] cro opened #38852 "Support adding existing disks to VM adapters with VMware"
### Description of Issue/Question

Currently there is no support in the VMware cloud driver for adding an existing disk to a SCSI adapter.  This functionality is needed when attaching a disk that will be shared by more than one VM.

[2017-01-21 00:10] cro commented on #38852
ZD-1083

[2017-01-21 00:37] #34575 closed

[2017-01-21 00:57] bobrik opened #38853 "file.serialize still expects show_diff instead of show_changes"
### Description of Issue/Question

#30988 deprecated `show_diff` and replaced it with `show_changes` for all `file.*` states. All of them, except for `file.serialize`.

I would've made a PR, but forward-merging makes it quite challenging to me.

### Setup

Both 2016.3.4 and 2016.11.1 have this bug. It is also visible in documentation.

[2017-01-21 01:19] nickcarenza opened #38854 "salt.state.git.status New state to make sure there are no unstaged changes or untracked files"
Does this functionality already exist among the force_* options of salt.states.git.latest? I think `force_clone` might do it but it seems like overkill for this case.

[2017-01-21 01:25] hunkeelin opened #38855 "Firewalld prune functionality is broken."
### Description of Issue/Question

The firewalld state is not implemented properly. Even if we select prune_services=False, it will still prune ports # and richrules. Please implement prune instead of just prune_services.  The introduction of pruning_services cause a lot of hazards for many admins few month ago.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensit

[2017-01-21 04:41] fhaynes opened #38856 "salt-cloud throws an exception when ec2 does not return encoding"
### Description of Issue/Question
salt-cloud does not handle exceptions when ec2 does not return encoding.
### Setup
I am able to reproduce this with a stock 2016.11.1 install using salt-cloud on ubuntu 16.04. Any VM I have tried to create has had this issue.

Stack trace is:
[DEBUG   ] Using AWS endpoint: ec2.us-east-1.amazonaws.com
[DEBUG   ] AWS Request: https://ec2.us-east-1.amazonaws.com/?Act

[2017-01-21 13:30] #6642 closed

[2017-01-21 20:43] porunov opened #38857 "Bug: Salt shows an error during the python-pip installation"
### Description of Issue/Question

I have a strange issue. When I install 'python-pip' library on CentOS 7.2 via salt state I get an error showing that `python-pip` failed to install/update. The strange thing is that it installs correctly but shows an error. I thought maybe it was because we have a symbol `-` in package's name but other packages with `-` are installed without errors.

### Setup
(P

[2017-01-21 23:30] magadred opened #38858 "Unable to set uid if user is already present"
### Description of Issue/Question
Attempts to change uid of existing user fails

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
The user was previously created with an incorrect uid (uid 5059 for this example)

The user setup was taken from the following state file, nservice_instance.sls
[code]

With the name and id grabbed from pillar data

### St

[2017-01-22 01:27] alxwr opened #38861 "_freebsd_remotes_on() fails to parse sockstat output"
### Description of Issue/Question

`_freebsd_remotes_on()` fails to parse `sockstat` output when the PID is more than five digits long.

### Setup

Many, many processes. :-)

[code]

### Steps to Reproduce Issue

[code]

### Versions Report

[code]

I already fixed the problem for `2016.11` in https://github.com/saltstack/salt/pull/38859 and for `develop` in https://github.com/saltstack/salt/pull/

[2017-01-22 01:53] leonkatz opened #38862 "salt.renderers.jinja with (false) option only renders 1 level correctly"
### Description of Issue/Question
**without (false) option**
gitfs_saltenv:
                   [{sdev: [{ref: master}]}]

**with (false) option**
gitfs_saltenv:
    - sdev:
     - ref: master

**Expected**
 gitfs_saltenv:
    - sdev:
       - ref: master

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

pillar.sls
      gitfs_saltenv:
        - sdev

[2017-01-22 01:57] leonkatz commented on #38862
2 spaces- ref: master
Github markup is not displaying the spaces, just like the renderer is not doing it.

[2017-01-22 07:39] JensRantil commented on #32412
@hardloosli Sounds like you also might be interested in #33751... ;)

[2017-01-22 07:51] rajvidhimar opened #38864 "Proxy not working with multiprocessing as 'True'"
## Description of Issue/Question
I am running junos proxy. The way junos proxy is that, during initialization, a connection is made to the juniper device. This connection is then stored in an dictionary and this connection stored in the dictionary is used in the execution modules.
There is an option to set multiprocessing in the proxy config file. By default, multiprocessing is set to True, which

[2017-01-22 12:11] mchugh19 commented on #38818
Sure is! As shown as one of the examples in the documentation page:
`! test.ping target=saltmaster`

With the next release you'll be able to pass something other than a glob for targeting.
`! test.ping target=ec2_tag:Environment:testing tgt_type=grain`

[2017-01-22 13:31] vikky999 opened #38865 "Salt package repo pin to major release doesn't install the latest minor for 2016.3"
### Description of Issue/Question
Following the description on
https://repo.saltstack.com/#rhel

and pinning to major release 2016.3 installs the 2016.3.4 instead of the latest which is 2016.3.5

### Setup
N/A
### Steps to Reproduce Issue
Just try it

### Versions Report
[root@saltmaster-1 vivek.pathak]# salt --versions-report
Salt Version:
           Salt: 2016.3.4

Dependency Versions:

[2017-01-22 13:38] mchugh19 opened #38866 "salt-master at 100% cpu"
### Description of Issue/Question
salt-master seems responsive, but a single salt-master process is using 100% cpu. Problem occured on 2016.3.3 master. It was just upgraded to 2016.11.1, but with no difference.

Old minion keys were deleted, but with no change. Problem occurs instantly on startup.

[code]

Event bus does not show any activity, and debug logs are also mostly empty after startup.

#

[2017-01-22 13:39] damon-atkins commented on #38776
!!binary  I have seen yaml output like this to indicate its unicode.  Have not tried to input this way. The sls files for win packages have unicode.

[2017-01-22 14:14] lorengordon commented on #38865
The latest release is 2016.3.4.

2016.3.5 hasn't even been tagged in the repo yet. Where are you seeing that as the latest version?

[2017-01-22 14:45] Giandom commented on #38818
@mchugh19 sounds like a good idea.
Thank you.

[2017-01-22 14:45] #38818 closed

[2017-01-22 17:41] mchugh19 opened #38868 "Concurrent reactors get mixed up pillar data"
### Description of Issue/Question
We have an environment where a reactor listens for minion_start events. The reactor kicks off an orchestrate run which runs a grain sync followed by a highstate. Sometimes if multiple minions start at the same time, the orchestrate jobs are launched with the wrong pillar data.

We just noticed an incident where when adding 5 minions at about the same time, 4 of th

[2017-01-22 17:49] mchugh19 commented on #30353
I just created #38868 which seems related.

[2017-01-22 17:49] jbonachera opened #38869 "openvswitch state fails if optional arguments aren't provided"
### Description of Issue/Question

When configuring an openvswitch port in GRE-tunnel mode, the openvswitch.port_present state fails because it does not found the "dst_port" argument, which is required only in VXLAN mode.

It seems that states/openvswitch_port.py pre-generates error messages (https://github.com/saltstack/salt/blob/af286c1e89ce7afc03bd9f53274055a3fb69ee9d/salt/states/openvswitch_po

[2017-01-22 18:19] twellspring commented on #38791
The NAT Gateway can be added to the route either manually or via salt by using `nat_gateway_id`.

Here is a salt state that works using nat_gateway_id.

[code]

[2017-01-22 18:36] jbonachera commented on #38869
I realise I was using python3 to run this case, and I am not able to reproduce it using python2.7 (python2.7 allows to compare "None" and integers, it seems).

Is making this work with python3 needed?

[2017-01-22 18:56] thusoy opened #38870 "salt-cloud"
Hi! I recently started investigating salt-cloud to replace our custom bootstrap script, but I found it lacking in security and convenience. But since we can start from the existing abstractions around all the different providers, improving this should be fairly easy.
I'll highlight my main gripes with the existing implementation, and some suggestions for how to go about improving this:

Security
-

[2017-01-22 19:13] thusoy opened #38871 "[Feature Request] Run salt-master as unprivileged user"
### Description of Issue/Question

The current salt-master packages runs the salt-master process as root, which is unnecessary and makes it harder to lock down the process. The default install would be much more secure if this was automatically configured to run as a unprivileged user by the packages. This is also a recommendation in the [hardening salt](https://docs.saltstack.com/en/latest/topics

[2017-01-22 19:34] remyabel commented on #29132
I'm not a Python user so apologies if I sound ignorant, but why can't you package the required python packages using virtualenv? The way I understand it, virtualenv would allow you to package all dependencies/python interpreter without affecting the rest of the system.

[2017-01-22 20:24] mchugh19 commented on #38868
There seems to be a magic number with 4 concurrent reactors. Launching 4 new minions at once seems to work reliably. But when adding 5 or 6, only 4 seem to be processed properly.

Additionally, I have seen another error about the id not being passed in:
[code]

So I've now seen an instance where the orchestrate job had a different pillar than it was supposed to, and this case where it had a possib

[2017-01-22 21:09] mirceaulinic opened #38872 "`ext_job_cache` and `master_job_cache` don't work with proxy minions"
### Description of Issue/Question

In the master config file I have configured:

[code]

as per https://docs.saltstack.com/en/latest/topics/jobs/external_cache.html.
When running a random command, I run into the errors below:

[code]

I did not start yet the master in debug mode (will do tomorrow and I will come back with more info).
Also, I'm not sure if this is a returner issue (although it does

[2017-01-22 21:22] mirceaulinic commented on #38864
Yes, `multiprocessing: False` is mandatory for SSH-based proxy minions: https://docs.saltstack.com/en/latest/topics/proxyminion/ssh.html#proxy-minion-ssh-end-to-end-example.

[2017-01-22 22:06] oz123 commented on #38762
@gtmanfred thank you for clearing this out. I finally got the time to check your information, and it works.

The information in the documentation regrading `ext_job_cache` is like you said. I managed to miss it despite the `.. note::` for attention.

The only thing that needs to be improved is regrading where the minion receives the configuration.

[2017-01-22 22:48] ccrivelli commented on #38719
Still not working with ```top_file_merging_strategy: merge_all``` @terminalmage .
Details (replicating @gtmanfred config):
[code]

Setting ```top_file_merging_strategy: merge_all``` in the minion configuration (minion restarted after):
[code]

Same error:
[code]

[2017-01-23 02:46] ccrivelli commented on #38719
When I started using salt, I read somewhere that the best practice was to manage only one topfile for all the environments.
Can you confirm that the default behaviour (and in this case I would say the best practice) is to handle one topfile per environment?
If so, I might split my topfile in 4 different ones.

Thanks.

[2017-01-23 02:49] gtmanfred commented on #38719
You could do that, or you could set `state_top_saltenv: mgmt` or to whichever environment the top file is in.

I don't know why merge_all isn't working, but I verified that it is also not working for me in the docker image.

[2017-01-23 03:03] ccrivelli commented on #38719
Setting up ```state_top_saltenv: mgmt``` in the minion config doesn't work for me.
Same error.

I'm going to try splitting the topfile.

[2017-01-23 04:20] terminalmage commented on #36121
I took a look at the potential code paths that may have caused this and I think that, even though I haven't been able to reproduce it, I have found the likely cause of the traceback. See pull request #38875.

[2017-01-23 04:34] terminalmage commented on #38719
Assuming that you are still using this layout (copied from an earlier post):

[code]

My guess is that, since Salt is processing the ``mgmt`` environment's top file, it is looking in that environment for SLS files, instead of ``prod``. I'll need to dig deeper to confirm this though.

[2017-01-23 05:03] terminalmage commented on #38719
@gtmanfred I just tested using your image and was not able to reproduce using ``merge_all``.

However, I just realized that I mistakenly said to put the ``top_file_merging_strategy: merge_all`` in the minion config file, it should have been in the _master_ config file. I probably said this because in the testing I had been doing for an unrelated issue, I was using masterless salt (i.e. ``salt-call

[2017-01-23 05:04] terminalmage commented on #38719
If you can both test using ``top_file_merging_strategy: merge_all`` in the _master_ config file instead of the minion config file, I think it should work for both of you.

[2017-01-23 05:06] terminalmage commented on #34821
@hrumph Yes. I have been pulled away multiple times after starting to look into this, so I haven't been able to give it the time I need to. I'm sorry for that.

[2017-01-23 05:13] hrumph commented on #34821
Hi @terminalmage I keep thinking that I might have a stab at this myself but I think that the matter is sufficiently complex that I would rather that members of the salt team such as yourself did this. I'm not just a whiner whining about something and not making contributions. I've got a new state module and run module in the works, and once you've dealt with this issue there's a specific contribu

[2017-01-23 05:27] terminalmage commented on #38630
I've never seen this before. Those of you seeing this issue, are your masters behind a web proxy?

One common thread between all of you is that you are all on pygit2 0.21.4. The pygit2 project is known for making non-compatible changes in point releases (they even have a [warning](http://www.pygit2.org/install.html#version-numbers) about this in their docs). However, 0.21.4 is not exactly a new re

[2017-01-23 05:29] terminalmage commented on #34821
Understood. I'll try to work on this soon.

[2017-01-23 06:16] tyeapple opened #38876 "LocalClient "del" method don't call self.event.destroy()"
### Description of Issue/Question
This shall be a bug that I think. Class LocalClient's "__del__" method, del self.event removed a reference of SaltEvent only but don't call self.event.destroy(). My env: Python 2.6,

Location: /usr/lib/python2.6/site-packages/salt/client/__init__.py

[code]
### Versions Report
Salt Version:
           Salt: 2016.11.1

Dependency Versions:
           cffi: 1.9.1

[2017-01-23 06:16] tyeapple commented on #38801
thank you, I will have a try

[2017-01-23 06:20] fredrikaverpil commented on #38857
I have this exact issue.

[2017-01-23 07:14] fredrikaverpil commented on #38857
I have this exact issue.

I used to run CentOS 7.2.1511 just fine and now after having installed CentOS 7.3.1611 I started getting that issue, using the same sls which worked fine previously:

[code]

All other pip packages which require `python-pip` fail as a result. Example:

[code]

[2017-01-23 09:28] hujunya commented on #37363
I was failed in test_badload.
My pull request: https://github.com/saltstack/salt/pull/38863

[code]

How can I pass the test..

[2017-01-23 09:39] afletch commented on #38630
If it helps, I resolved this by upgrading libgit to 0.25.1 and then installing the latest pygit2 using pip.

[2017-01-23 11:16] DmitryKuzmenko commented on #38740
@ayyags the optional TLS/SSL encryption is implemented by wrapping around master-minion connection at the socket level. No any changes was done in the higher level of salt connection establishing and security. Minion just opens, connects and wraps a socket with Python `ssl` module.

The question about the purpose is not to me, I've just implemented a requested feature.

Probably @thatch45 could sa

[2017-01-23 12:00] The-Loeki commented on #22984
Can be closed now that #38831 is in

[2017-01-23 12:00] The-Loeki commented on #30561
Can be closed now that #38831 is in

[2017-01-23 12:21] danielmotaleite commented on #38845
Thanks... but that is one of my problems... where and how can i change the doc? :)

the https://github.com/saltstack/salt/blob/develop/doc/ref/pillar/all/salt.pillar.vault.rst do not have the text to edit

[2017-01-23 13:03] ealphonse commented on #28682
Hello @terminalmage, thank you very much!

I do not have a testing environment for the Salt stack, but from  #38404, I would say it perfectly suits the use-case.

Do you need further approval, or do you have a release plan already?

[2017-01-23 15:00] tomlaredo opened #38878 "[Naming consistency] git.latest "rev" option VS git.detached "ref" option"
### Description of Issue/Question

git.latest and git.detached have different key names for commit ID: "rev" vs "ref"

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.git.html#salt.states.git.latest

As this is a bit confusing, one of them would be changed (with a deprecation warning) in my opinion.

[2017-01-23 15:04] gtmanfred commented on #38855
Thanks for the feature request, this would be good to have.

Daniel

[2017-01-23 15:04] gtmanfred commented on #38857
Epel also changed the name to python2-pip.

[2017-01-23 15:05] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk opened #38879 "Infinite recursion with prereq and check_cmd"
Tried the following scenario (I use it in Ubuntu to prevent services autostart just after package install due to #33442):

[code]

and got an error:

[code]

As you see I tried it in `test` mode and via salt-ssh, so don't know whether it works through salt minion. Seems problem is in interaction of `prereq` with `check_cmd`. If I comment `check_cmd` section or if check command returns `true` (repl

[2017-01-23 15:07] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk commented on #38879
Salt Version:
           Salt: 2016.11.1

[2017-01-23 15:08] gtmanfred commented on #38864
As @mirceaulinic `multiprocessing: False` is required for some proxy minions.

I am going to tag this as a documentation fix, to add this to the documentation for minions that need this set.

Thanks,
Daniel

[2017-01-23 15:10] gtmanfred commented on #38865
As lorengorden said, 2016.3.5 has not been fully released yet.  Please watch the [salt-announce](https://groups.google.com/forum/#!forum/salt-announce) mailing list for it to be officially announced.

[2017-01-23 15:10] #38865 closed

[2017-01-23 15:14] gtmanfred commented on #38870
This sounds good.  I believe that the grains overwritten is fixed here. https://github.com/saltstack/salt/pull/38490

@techhat do you have any opinions on the bullet points above?

Thanks,
Daniel

[2017-01-23 15:16] gtmanfred commented on #38869
Yes! we are working on finishing up python3 support for our next release.

Thanks for your pull request!

Daniel

[2017-01-23 15:23] gtmanfred commented on #38719
Yup, it works in the master config file.

Thanks,
Daniel

[2017-01-23 15:23] #38719 closed

[2017-01-23 15:25] gtmanfred commented on #38858
Can you try a newer version of salt?  Specifically 2016.11.1 and see if this is still the case

I am pretty sure this issue is fixed.  But you still cannot change the gid which is a bug here https://github.com/saltstack/salt/issues/31613

[2017-01-23 15:26] gtmanfred commented on #38858
https://repo.saltstack.com/#debian  Here is our repo stuff for debian.

[2017-01-23 15:44] chrismcmacken commented on #36121
That does look like it could cause the issue. Thanks for taking a look at it. I will post back if I see the issue again after upgrading to the fixed version

[2017-01-23 15:44] gtmanfred commented on #38866
Could you find out what that read is opening?  If you take the strace output, and walk backwards to find where the open for the `13` file handler in the read command is opening, we think it might become obvious what is going on.

Thanks!
Daniel

[2017-01-23 15:45] gtmanfred commented on #38871
We have no problem with doing this.  But the earliest we could do it would be in a major release.

Thanks,
Daniel

[2017-01-23 15:50] gtmanfred commented on #38836
Could you run this with salt-call and -l debug and then provide us with the full stack trace?

Thanks,
Daniel

[2017-01-23 16:03] gtmanfred commented on #38837
Thanks for reporting this, I believe that this is a known issue.

If you pass the options: argument, it will use the tar command on the archive, instead of tarfile.

I was able to get the tarball to extract by setting the `list_options: zcat` so that the gzip portion is removed and then passed to the `tar tf -` command for listing.

Once that is done, it is able to extract the tarball.

Thanks,
Da

[2017-01-23 16:06] gtmanfred commented on #38837
This state works.

[code]

[2017-01-23 16:08] gtmanfred commented on #38837
@terminalmage do you have anything to add to this, or is this the suggested use case?

Thanks,
Daniel

[2017-01-23 16:26] gtmanfred commented on #38854
This would be nice to have.  I do not believe it already exists outside of the force_* commands in the git.latest function.

Thanks,
Daniel

[2017-01-23 16:33] steverweber commented on #36598
using salt develop branch seems to have improved but hit a new bug
[code]

after changing that line to":
[code]

we seem to be good.

[2017-01-23 16:35] twangboy commented on #38756
@morganwillcock @markuskramerIgitt If you need to change the location of the log files you can use the `log_file` option in the minion config. https://docs.saltstack.com/en/latest/ref/configuration/logging/#log-file

[2017-01-23 16:37] rajvidhimar commented on #36964
@cro The solution you mentioned works. For example, I set multiprocessing as 'False' in the init() function of Junos proxy. But what about its impact on other proxy modules? As far as I understand multiprocessing will be set 'False' for other proxies as well. Can we have some way of setting the multiprocessing option at individual proxy level?

[2017-01-23 16:39] steverweber opened #38880 "cloud vmware"
in develop branch hit error:
[code]
because `salt.utils.network.host_to_ips(vm_name)` returns None not an empty list.

[2017-01-23 16:39] rajvidhimar commented on #38864
There is an ongoing discussion regarding the same issue here: https://github.com/saltstack/salt/issues/36964

[2017-01-23 16:39] twangboy commented on #38805
maybe we should (or did before I was here) look at Microsoft's `srvany` instead of recompiling nssm. @UtahDave ???

[2017-01-23 16:42] thusoy commented on #38871
Sure, I expected as much, no problem.

On January 23, 2017 7:45:34 AM PST, Daniel Wallace <notifications@github.com> wrote:

--
Have a splendid day!

Sent from phone, thus potentially short.

Tarjei

[2017-01-23 16:42] gtmanfred commented on #36598
I have fixed this in https://github.com/saltstack/salt/pull/38882

Thanks,
Daniel

[2017-01-23 16:50] terminalmage commented on #38440
I think that this is just the intended behavior. The merging happens _between_ individual git_pillar remotes, not _during_, if I understand correctly. But, we may also not be properly passing through the ``pillar_merge_lists`` option when git_pillar is evaluated. I'll do some testing here on my end.

[2017-01-23 17:01] gtmanfred commented on #36598
I am going to close this issue since the original issue has been fixed.

Thanks!
Daniel

[2017-01-23 17:01] #36598 closed

[2017-01-23 17:01] steverweber commented on #36598
think this issue should be closed.

[2017-01-23 17:02] steverweber commented on #36598
lol we keep stomping on each other :)

[2017-01-23 17:12] magadred commented on #38858
Confirmed as working with 2016.11 salt-minion with no update to the maser.

Thank you and Cheers.

[2017-01-23 17:12] gtmanfred commented on #38858
No problem!
Daniel

[2017-01-23 17:12] #38858 closed

[2017-01-23 17:13] terminalmage commented on #38719
OK, @ccrivelli can you also confirm?

[2017-01-23 17:16] epelc opened #38884 "dockerng hangs when used with docker 1.13"
### Description of Issue/Question
All docker modules(at least start, stop, image_present, etc) cause salt to hang after upgrading to docker 1.13.0.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Install docker 1.13 on ubuntu 14.04

I was seeing these errors on the master(/var/logs/salt/master) but I'm pretty sure they are unrelated.
[code]

### St

[2017-01-23 17:18] mchugh19 commented on #38866
Perfect. Looked it up with `lsof -n -p<pid>`. Seemed to be the slack endpoint, and this issue was fixed in #38520

Adding in the sleep resolved the issue. Thanks!

[2017-01-23 17:18] #38866 closed

[2017-01-23 17:34] cro commented on #36964
Yes, you can set it in /etc/salt/proxy, the proxy configuration file.  If you are running multiple types of proxies on the same machine you can use the `-c` option to set different configuration directories.

[2017-01-23 17:51] dmurphy18 commented on #29132
@remyabel Some of the dependencies have platform architecture components, outside SaltStack's control, Python 2.7, hence there are issues with using virtualenv in Python2.7, but we have/are looking into using venv in Python 3 where some of these limitations are resolved.

[2017-01-23 17:55] #38742 closed

[2017-01-23 17:58] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk opened #38886 "Root exec of salt-ssh breaks master"
I had tried to setup salt minion via salt-ssh on a newly installed system (ubuntu 14.04) and got errors in minion log:
[code]

Also master side commands show errors:
[code]

When I had started salt-master manually with debug options I saw the reason of issue - incorrect permissions for /var/cache/salt content:
[code]

And command which solves the problem:
[code]

Why has this problem happen ?
Beca

[2017-01-23 18:03] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk commented on #38886
Salt Version:
           Salt: 2016.11.1

[2017-01-23 18:25] #38318 closed

[2017-01-23 18:31] gtmanfred commented on #38842
I am unable to replicate this issue.

[code]

Also working from the master.

[code]

Can you make sure you don't have an extra systemd.py or service.py in your extmods for the minion?

Otherwise, I will need some more information to be able to replicate this issue.

Thanks,
Daniel

[2017-01-23 18:36] gtmanfred commented on #38853
This is not a bug in 2016.3, because show diff was still supported.  In 2016.11, we could probably change the show_diff to show_changes in the serialized function, but the show_diff value is passed as show_changes to the file.manage_file function in the module, so I am not sure what the problem actually is, could you provide more information?

Thanks,
Daniel

[2017-01-23 18:39] gtmanfred commented on #38856
We should just set this to `result.text.encode(result.encoding or 'utf8')` or whatever the default encoding is for aws for all references to .encoding on the result.

Thanks for reporting,
Daniel

[2017-01-23 18:42] gtmanfred commented on #38861
Thanks for the PR to fix this.

Daniel

[2017-01-23 18:42] #38861 closed

[2017-01-23 18:46] gtmanfred commented on #38862
If you wrap the code block in triple backtics, it markdown will not modify your issue.

Can you make sure that I have updated the initial comment to display what you were trying to how?

Thanks,
Daniel

[2017-01-23 18:47] gtmanfred commented on #38878
@terminalmage do you have a preference here?

Thanks,
Daniel

[2017-01-23 19:26] fedusia commented on #38838
@Ch3LL, what is the second volume which you are pass to docker container?

[2017-01-23 20:45] fedusia commented on #38838
@Ch3LL could you answer how do your build docker images with current environment?

[2017-01-23 20:55] gtmanfred commented on #38880
Thanks for reporting this, The issue has been resolved in #38882

Thanks,
Daniel

[2017-01-23 22:00] bobrik commented on #38853
Problem is that `file.serialize` uses a different name than everything else in `file.*` in 2016.11. It's correct that it passes `show_changes` to `file.manage_file`, but it's not what concerns the end user.

Should I make a PR agains 2016.11 branch only?

[2017-01-23 22:02] gtmanfred commented on #38853
You can add show_changes, and then add a depecation message like file.manage_file did in 2016.3, but then remove it from develop.

[2017-01-23 22:05] amendlik opened #38892 "state.orchestrate does not report errors from salt.runner"
### Description of Issue/Question
When invoking salt.runner from an orchestration state, errors from the runner do not result in failed steps in the orchestration.

### Steps to Reproduce Issue
My test included a call to cloud.profile using salt.runner in an orchestration state.

### Versions Report
[code]

[2017-01-23 22:09] ChrisFernandez commented on #37872
Got this code in python working.. thanks guys. now I need to make sure it does what we want.

[2017-01-23 22:09] #37872 closed

[2017-01-23 22:09] amendlik opened #38893 "Add find_job function for wheel and runner jobs"
### Description of Issue/Question
There is no mechanism to query the status of a running wheel or runner job. Please add something equivalent to `saltutil.find_job` for master-side jobs. I suggest adding the `proc` directory to master-side jobs and adding a `find_job` function to the `saltutil` runner.

[2017-01-23 22:12] amendlik opened #38894 "salt.runner and salt.wheel ignore test=True"
The orchestration states `salt.runner` and `salt.wheel` execute even if `test=True` is passed. These states should not make changes when `test=True`.

[2017-01-23 22:24] terminalmage commented on #38630
Yeah, it definitely appears to be an upstream issue.

[2017-01-23 22:46] terminalmage commented on #38837
@gtmanfred Yes, your solution is the intended use case. I downloaded the tar archive and attempted to open it using the ``tarfile`` module, and it failed to do so, complaining of an invalid header. This is actually the first time I have ever seen this, so in my opinion this should be considered an edge case (or even a corner case). Especially so since the error message given by the state tells you

[2017-01-23 22:47] terminalmage commented on #38837
I see no reason to alter the default behavior of using ``tarfile`` as a first-resort.

[2017-01-23 22:48] gtmanfred commented on #38837
Sounds good, thanks for the input @terminalmage

[2017-01-23 22:48] #38837 closed

[2017-01-23 22:54] terminalmage commented on #38857
It does not. We used to try to provide suggestions when yum failed to find a match for a given package, but the prevailing opinion was that doing so slowed things down to an unacceptable level. Additionally, support for this relied on external dependencies (yum-utils for yum, and a dnf plugin for dnf) which themselves behaved inconsistently in different versions. For these reasons, we decided (I t

[2017-01-23 22:55] mattwillsher opened #38896 "pkgin disallowed on MacOS but is supported by pkgsrc"
### Description of Issue/Question

pkgin is use by pkgsrc to installed packages on a variety of operations systems. In the pkgin module a check is hardcoded that stops the module loading if it doesn't match one of the listed items

https://github.com/saltstack/salt/blob/2016.11/salt/modules/pkgin.py#L89

MacOS can run pkgin (https://pkgsrc.joyent.com) and is very close to the SmartOS version.

###

[2017-01-23 22:56] terminalmage commented on #38878
git.detached is more recent, it should be changed. I'll take care of it.

[2017-01-23 23:18] terminalmage commented on #28682
@ealphonse This modification is merged and will be part of the next feature release, though I'm not sure of the ETA yet. I was mainly keeping this issue open waiting for a response from the OP.

[2017-01-23 23:22] roskens commented on #38842
The only extmods in place are one for some custom grains and another module.

<pre>
# locate extmod
/usr/lib/python2.7/site-packages/salt/utils/extmods.py
/usr/lib/python2.7/site-packages/salt/utils/extmods.pyc
/usr/lib/python2.7/site-packages/salt/utils/extmods.pyo
/var/cache/salt/minion/extmods
/var/cache/salt/minion/extmods/grains
/var/cache/salt/minion/extmods/modules
/var/cache/salt/minion/ex

[2017-01-23 23:47] stefano-pogliani commented on #38736
Hi @gtmanfred,

I opened a PR with the implementation.
I am not very familiar with the code base so let me know if/where I should move things.

[2017-01-24 01:26] ccrivelli commented on #38719
Yes, I confirm that  using ```top_file_merging_strategy: merge_all`` in the master config works for me.

[2017-01-24 01:36] terminalmage commented on #38440
I checked and we're handling ``pillar_merge_lists`` correctly. And I'm unable to reproduce this both in normal pillar and git_pillar. I've pushed a Docker image of my own (``~/git/salt/main`` is a path to my git clone of salt, with HEAD detached and pointed at the v2016.11.1 tag):

[code]

I've reproduced the exact same setup in git_pillar as in pillar_roots, with differing top-level pillar keys t

[2017-01-24 01:36] knuta commented on #28682
@terminalmage, I don't understand what #38404 has to do with this issue. This issue is about pillar merging strategies, not some magic matching of pillarenv to saltenv (pillarenv ). I'm perfectly fine with supplying both saltenv and pillarenv, but I don't want is the top file from a different pillarenv being merged with mine.

[2017-01-24 01:38] kira8565 opened #38902 "run command `salt '*' grains.items` faild"
### Description of Issue/Question

run command `salt '*' grains.items` faild

### Setup
salt '*' grains.items

### Steps to Reproduce Issue
[WARNING ] jid does not exist
[WARNING ] Returner unavailable:
[ERROR   ] Exception occurred in Subscriber while handling stream: 'int' object has no attribute '__getitem__'
[ERROR   ] An un-handled exception was caught by salt's global exception handler:
Type

[2017-01-24 01:41] knuta commented on #28682
It looks like the introduction of `pillar_source_merging_strategy=none` (introduced in 2016.3.4) may be a solution for my use-case. I'll update and/or close this issue when I have a chance to try it.

[2017-01-24 02:02] #38878 closed

[2017-01-24 02:40] terminalmage commented on #38719
@ccrivelli thanks! I took a look at the docs and found that the top file merging stuff is only there for the minion config file docs. So I opened https://github.com/saltstack/salt/pull/38904 to correct this.

[2017-01-24 02:47] terminalmage commented on #28682
@knuta I interpreted "make the master only use the topfile from the current saltenv" to mean that you wanted the pillarenv to match the saltenv. Given that using ``pillarenv`` will _only_ consider pillar data from the specified pillarenv, adding an option to pin pillarenv to saltenv seemed to match the use case.

[2017-01-24 03:08] ernstae opened #38905 "Add support for CREATE USER xxx IDENTIFIED WTIH xxx (e.g. auth_pam in Percona 5.6)"
### Allow for auth_pam and plugin-based authentication - Percona variant
We use SaltStack in our environment, and have provisioned users with passwords historically.  However, we have been using auth_pam and Percona 5.6.32 successfully lately.  There's seemingly no functionality for this, currently in SaltStack, and am making a feature request for it.

Specifically, would like to ensure that this

[2017-01-24 05:56] ccrivelli opened #38907 "Salt Cloud | [ERROR ] Error creating <VM> on Azure"
### Description of Issue/Question
Error when creating an instance on Azure with salt-cloud.

### Setup
salt-cloud azure provider
[code]
salt-cloud azure profile
[code]

### Steps to Reproduce Issue
I created 2 certificates:
[code]

I tested it with "requests (2.7.0)", "azure (1.0.2)" or "azure (1.0.3)",
as I see as deps required in the doc: https://docs.saltstack.com/en/latest/topics/cloud/azure.h

[2017-01-24 07:38] ealphonse commented on #28682
If I understand correctly `pillar_source_merging_strategy` only concerns how you deal with merging two sources, either from the same environment or from different ones. You may still want `pillar_source_merging_strategy=recurse` and `pillarenv_from_saltenv=True`.

The doc is not clear about that, though. For instance, when you have these two files in the base env:
[code]

Does `pillar_source_mergi

[2017-01-24 08:27] ealphonse commented on #24297
Hi,

#31557 is related.

It used to return successfully on Ubuntu with `2015.8.10` but it is no longer the case with `2016.3.4`.

As stated by @mbochenk, the doc indicates it should return a value:
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.saltmod.html#salt.states.saltmod.wait_for_event

For now, I use: `salt minion cmd.run "/usr/bin/nohup /bin/bash -c 'set -x && sleep 5 && s

[2017-01-24 08:48] ealphonse commented on #24297
For the record, the use case comes from: #6792

[2017-01-24 09:41] Deshke commented on #32477
anything on this?

[2017-01-24 09:45] mchugh19 commented on #27020
@carlpett Has there been an update? Is your module releasable?

[2017-01-24 09:49] oz123 opened #38909 "memusage beacon isn't working properly with states.beacon.present"
### Description of Issue/Question
If I follow the documentation for this beacon and put the snippet in `/etc/salt/minion.d/beacons.conf`:
[code]
The beacons works fine. However, I prefer using the state configuration, and hence I did put in my `bootstrap.sls` state the following:
[code]
After running the state I see the following on the master:
[code]
Which seems fine, but the logs on the minion s

[2017-01-24 09:50] johje349 commented on #37938
I have now an uptime of 20 days, and the Reactor process has consumed more than 2G of memory:
root      2168  8.2 26.7 3055820 2188964 ?     Sl   Jan04 2363:14 /usr/bin/python /usr/bin/salt-master Reactor

[2017-01-24 09:58] markuskramerIgitt commented on #38756
Good to know, @twangboy.

[2017-01-24 11:03] oz123 commented on #38909
Another thing which should be explicitly document is that `beacon.present` only works with built-in beacons, and is not able to load custom beacons found in `_beacons`.
I created a custom beacon to read the memory usage of a host, I put it `_beacons` restart both the minion and the master, and I got the following error:

[code]

The config beacons id is:
[code]

Again the problem is solved if I pu

[2017-01-24 11:19] do3meli commented on #36707
@Ch3LL I recently have done some more work to improve the sysctl state and its modules. this is a pure WIP status and needs to be looked at closely as I have changed the way the state works completely. Last time when I tested it in October I could reduce the state execution from ~500ms to 2-3ms on FreeBSD with these changes. Unfortunately I realized that there are some tests written for sysctl. As

[2017-01-24 12:46] donaldinho opened #38910 "dockerng.dangling state produces error"
### Description of Issue/Question

dockerng.dangling state does not complete and throws error when there are dangling images

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
docker version 1.12.5
issue only appears when you have dangling images

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

`sudo salt-call dockerng.dan

[2017-01-24 13:30] fr6nco opened #38911 "pam module raises exception on files which contains @include() lines"
\@include lines are not parsed correctly which causes the salt minion to raise exception on parse.

I assume the bug is in https://github.com/saltstack/salt/blob/develop/salt/modules/pam.py _parse method.

[code]

 Example of login pam file:

[code]

Salt version salt 2016.3.4 (Boron)

[2017-01-24 14:52] terminalmage commented on #36832
Looking at when ``ignore_epoch`` was added, it seems like there was a gap between 2015.8.10 and 2015.8.11 where ignore_epoch was added to the pkg state, but not added to salt.utils:

### Releases with ``ignore_epoch`` in the pkg state(s)
[code]

### Releases with ``ignore_epoch`` in salt.utils
[code]

Given this information, and the fact that I can't reproduce this on any release post 2015.8.11, I

[2017-01-24 14:52] #36832 closed

[2017-01-24 14:57] terminalmage commented on #28682
@ealphonse Seems easy enough to test. Given that we use a merge function in salt.utils.dictupdate to merge data, my educated guess is that you'd end up with:

[code]

[2017-01-24 15:02] hgfischer opened #38914 "Uppercase checksums are not accepted by archive.extracted"
### Uppercase checksums are not accepted by archive.extracted

### Setup
Use archive.extracted with any tarball and with an uppercase source_hash. I tested with MD5.

### Steps to Reproduce Issue

     Comment: Specified md5 checksum for /var/cache/salt/minion/files/dev/_repos_dist_release_kafka_0.10.1.1_kafka_2.11-0.10.1.1.tgz (C32C75FF9B23CD6B64717F9EB5B4EB87) does not match actual checksum (c32

[2017-01-24 15:04] daks opened #38915 "Can't use pip.installed in a virtualenv: Could not find a `pip` binary"
### Description of Issue/Question

With a simple state which installs (with pkg.installed) python-pip, python-virtualenv, and then creates a virtualenv, I can't install with pip.installed in the virtualenv. I always got this error "Could not find a `pip` binary"

### Setup
Running on Debian Wheezy 64, with salt-minion version 2016.11.1+ds-1

Testing on a Vagrant box with Salt masterless.

My state

[2017-01-24 15:25] Ch3LL commented on #38868
@mchugh19 this does appear to be a duplicate of https://github.com/saltstack/salt/issues/30353  Are you okay closing this issue and tracking the issue there?

[2017-01-24 15:28] terminalmage commented on #37000
@rbjorklin Sorry I had to put this issue aside for a while. I came back to it today and I was unable to reproduce having an inoperable minion when using your custom grain. It does fail to compile as expected, but I can still run commands on the minion.

[2017-01-24 15:32] Ch3LL commented on #38876
@tyeapple it looks like this was changed with commit 0255c8d5838e478025c6b8baac1a08c70093a6aa

ping @s0undt3ch do you know if there is a bug here. Looks like since your commit the only thing that changed was removing the `()`.

[2017-01-24 15:39] Ch3LL commented on #38879
@Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk looks to me that this is a duplicate of https://github.com/saltstack/salt/issues/20143   Would you agree?

[2017-01-24 15:50] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk commented on #38879
Yes, you are right, this issue slightly extends #20143 (with `check_cmd` and `test` mode).

[2017-01-24 15:51] rbjorklin commented on #37000
No worries @terminalmage. I see now that I forgot to reply here myself, your pointer on the object I was trying to serialize by mistake was correct and this hasn't been an issue for us since. Feel free to close this issue.

[2017-01-24 15:56] nicksloan opened #38916 "Pip module exists but is not found"
### Description of Issue/Question

The error "An importable pip module is required but could not be found on your system. This usually means that the system's pip package is not installed properly." is occurring, and I can't seem to understand why. I've traced the error to https://github.com/saltstack/salt/blob/v2016.11.1/salt/states/pip_state.py#L111-L116, but as demonstrated in the Gist below, t

[2017-01-24 16:00] #34547 closed

[2017-01-24 16:01] #38071 closed

[2017-01-24 16:01] #38216 closed

[2017-01-24 16:05] Ch3LL commented on #38886
@Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk you can run salt-ssh as a differnt user as documented [here](https://docs.saltstack.com/en/latest/topics/ssh/#running-salt-ssh-as-non-root-user) and then you wouldn't run into this issue. Does that approach work for you?

[2017-01-24 16:09] terminalmage commented on #38630
I can confirm that I am now seeing this in cent7. Unfortunately there is nothing I can really do until RedHat fixes this issue on their end. If you don't need authenticated repos, maybe try installing GitPython and set ``gitfs_provider: gitpython`` in the master config file.

[2017-01-24 16:17] Ch3LL commented on #38884
@epelc i'm not able to replicate this with teh following test case:

State file:

[code]

[code]

[code]

[code]

Can you share your state file? Also what version of docker-py do you have installed? Thanks any infor to help replicate this would be great.

[2017-01-24 16:17] terminalmage commented on #37000
@rbjorklin OK, thanks for following back up and confirming. I'll close this.

[2017-01-24 16:17] #37000 closed

[2017-01-24 16:17] Ch3LL commented on #38884
Forgot to post my salt version:

[code]

[2017-01-24 16:24] twangboy commented on #38442
You're right. `set_hostname` should not fail. But it was created in the first place because there was a problem with `set_computer_name`. They are two functions that do the same thing. According to documentation on MSDN the function used in `set_computer_name` is supposed to handle dns naming as well. The user who created the `set_hostname` function did so because he was having problems with the `

[2017-01-24 16:24] #38442 closed

[2017-01-24 16:26] Ch3LL commented on #38892
@amendlik could you please provide an example orch file when you run into this issue. Thanks

[2017-01-24 16:27] mchugh19 commented on #38868
Closing as a duplicate

[2017-01-24 16:27] #38868 closed

[2017-01-24 16:31] Ch3LL commented on #38893
@amendlik agreed this would be a good feature. Will approve as a feature request.

[2017-01-24 16:35] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk commented on #38886
Yes, but it is not so obvious. I think nobody knows why he/she have to use separate configuration with configured separate `cachedir` or run salt-ssh under corresponding user before running into this issue.
It would be nice to have this documented at least.

[2017-01-24 16:47] Ch3LL commented on #38894
@amendlik I think this would be pretty involved since it doesn't look like most runners include test=True, only state.py. Also in states/saltmod.py test option would need to be parsed in the wheel and runner functions because it currently is not, compared to the other functions that do handle that option.

To refine this issue a little more which runners and wheel modules are you attempting to use

[2017-01-24 16:52] Ch3LL commented on #38896
@mattwillsher If you add macos to that list does it then work?

Just run `salt-call --local grains.get os` to find out the exact string to add to that list. Thanks

[2017-01-24 16:56] Ch3LL commented on #38902
@kira8565 i'm not able to replicate this issue.

[code]

grains.items does not fail and passes back all the grains.

Did you recently upgrade salt? Or anything else that changed inyour environment?

[2017-01-24 17:00] Ch3LL commented on #38905
@ernstae thanks i think this is a sound idea. Will approve as a feature request. Thanks

[2017-01-24 17:02] wes-novack commented on #38543
Seeing the same issue in 2016.11.1

[2017-01-24 17:08] amendlik commented on #38894
I believe you only need to change `saltmod` state module. 3 of the 5 functions in that module already honor `test=True`. The last 2 (`salt.runner` and `salt.wheel`) just need code to print an informational message stating what would have run if `test != True`, rather than actually executing the wheel or runner function.

[2017-01-24 17:13] cachedout commented on #38641
I cannot replicate this at all on the HEAD of develop as of today.

[2017-01-24 17:15] amendlik commented on #38892
@grichmond-salt Can you provide an example here?

[2017-01-24 17:16] gtmanfred commented on #38916
You will need to reload the modules after the pip package is installed.

https://docs.saltstack.com/en/latest/ref/states/#reloading-modules

Add `- reload_modules: True` to the pkg.installed state.

[2017-01-24 17:16] Ch3LL commented on #38907
@ccrivelli Are you attempting to use classic azure or azure arm? If you are using azure arm you will have to edit your configs as well?

[2017-01-24 17:16] grichmond-salt commented on #38892
<img width="504" alt="cloud" src="https://cloud.githubusercontent.com/assets/13109001/22258288/37ac996c-e21e-11e6-95fa-aa72765061bc.png">

[2017-01-24 17:17] Ch3LL commented on #38907
For reference here are the azure arm getting started docs: https://docs.saltstack.com/en/latest/topics/cloud/azurearm.html

[2017-01-24 17:18] grichmond-salt commented on #38892
@Ch3LL, This is closely related to issue #38816.

[2017-01-24 17:28] epelc commented on #38884
@Ch3LL I just noticed from your version logs that my `docker-py` was outdated(1.8.x). Upgrading to the latest fixed it. Sorry for the noise.

`sudo pip install --upgrade docker-py`

[2017-01-24 17:28] #38884 closed

[2017-01-24 17:45] mattwillsher commented on #38896
Meant to add that - sort of. The module loads. However adding pkgin to the providers minion config still results in homebrew being used. Both are on my system.

[2017-01-24 17:55] cachedout commented on #38543
Easy fix. Please see #38919. Apologies for the breakage.

[2017-01-24 17:56] Ch3LL commented on #38909
@oz123 looks like i'm able to replicate this. Looks like memusage wants the percent to be a list but the .present module looks for only name and kwargs and pushes it out as a dict. Looks like we need to get this fixed up.

Here is a docker container for anyone that wants to quickly replicate this.

1. `docker run -it -v /home/ch3ll/git/salt/:/testing ch3ll/issues:38909` (where /home/ch3ll/git/salt

[2017-01-24 18:06] Ch3LL commented on #38910
@donaldinho i'm having a hard time replicate this. HEre is my test case:

[code]

What version of docker-py and docker-engine do you have installed?

[2017-01-24 18:19] Ch3LL commented on #38911
@fr6nco looks like i'm able to replicate this. We will need to get this fixed. Thanks

Here is a docker container for whoever wants to quickly replicate this.
1. `docker run -it -v /home/ch3ll/git/salt:/testing/ ch3ll/issues:38911 salt-call --local pam.read_file /tmp/test-pam` (where /home/ch3ll/git/salt is a local cloned git repo of salt)

[2017-01-24 18:33] Ch3LL commented on #38830
@thatch45 so would the solution for this issue be to go through each pillar file and add something similar to:

[code]

Anytime there is an attempt to query something in the master config? It seems this profile_name works when running in a normal salt setup obviously because profile_name is in opts and you don't have to query master_opts.*.

[2017-01-24 18:39] jeffbondlink opened #38921 "mysql - revoke_first fails b/c token_grants['database'] != my_db"
### Description of Issue/Question
I have a very simple state that i'm try to run, shown below, i'm trying to downgrade permissions in mysql_grants.present state.  This is actually part of a much larger system, but have paired it down to a single state.  The problem seems to be that the revoke code never gets called and if there are other errors they are either not being logged or i'm blind (i'll a

[2017-01-24 18:40] Bilge commented on #20466
What is even going on in this ticket?

[2017-01-24 18:49] thusoy commented on #38870
Thanks for the heads-up about the grains, I'll check against develop when I start looking into this, it's been some time since I encountered that.

[2017-01-24 18:51] gtmanfred commented on #38870
Other than that, I have been talking to @techhat, and he believes we have most of these already in open feature requests as well, we would love some help implementing them.
Thanks!
Daniel

[2017-01-24 18:52] DmitryKuzmenko commented on #38371
@syphernl Thank you for catch!
@Ch3LL awesome work! Thank you for reproducing. it looks like an easy to fix.

[2017-01-24 18:56] nicksloan commented on #38916
@gtmanfred I'll test that, but pip was previously installed and working, and simply running . These very states ran fine in the past on this machine. I'm not sure when the shift occurred, but one of the more recent changes made was upgrading to salt 2016.11.1. I do not recall which version I came from, though I suspect it was early or late 2015.

Another thing I've noticed is that the pip.install

[2017-01-24 19:00] thusoy commented on #38870
Yeah, I've tried searching for existing issues for several of these points, but with ~400 open issues for salt-cloud it's a bit hard to tell if something is a duplicate or not. :/ I know the binary exit code is an existing one at least. I'll do a better effort of searching around when I get around to adding some code.

[2017-01-24 19:09] gtmanfred commented on #38916
Hrm, that is odd, I have salt-minion installed from the package, and python-pip also installed fromthe package, and with the reload modules, it works on 2016.11.1

[code]

[code]

Here is the verison report

[code]

[2017-01-24 19:09] terminalmage commented on #38540
@whiteinge Looking at salt/client/mixins.py (location identified in the traceback), it is setting ``data['success']`` to ``False``. So that suggests that salt-api is ignoring the ``success`` key in the return data. I'll continue to dig.

[2017-01-24 19:11] DmitryKuzmenko commented on #37938
@johje349 I'm working on this issue. It's actually not as easy.

[2017-01-24 19:16] jeffbondlink commented on #38921
btw this would fix my immediate problem,

`if token_grants['database'] == my_db or (token_grants['database'] == "*.*" and my_db == "`*`")`

Obviously this is not the best solution b/c it will still fail if you update your the grant to be database based, e.g. test.* then the output
[code]
further editing of this state to remove added grants (against the test.* grant) does not even seem to get into

[2017-01-24 19:52] pcdummy commented on #38440
WOW, Thanks for your hard work, I'll look into this again.

[2017-01-24 20:02] nicksloan commented on #38916
No luck after adding reload modules on my end. This is not unexpected because presumably it should work on the second run if missing reload modules would have solved the problem. It is not working after any number of runs. Something else must be going on here.

[2017-01-24 20:14] Ch3LL commented on #38771
@mitar thanks for confirming. We will need to get this fixed

[2017-01-24 20:17] #38453 closed

[2017-01-24 20:18] Ch3LL commented on #38758
@bobrik thanks for the profiling information. Before we further troubleshoot this can you try making this change on the master side and seeing if there are performance improvements. That PR was meant to tackle this known issue of slow performance issues.

[2017-01-24 20:28] pepoluan commented on #22063
My workaround is by creating a custom module, as follows:

[code]

Then, in the proper location in the .sls file, add the following jinja:

[code]

[2017-01-24 20:29] Ch3LL commented on #38758
I'm going to setup a test scenario to see if i can't replicate this as well. I think I might possibly be mistaken with the fix for this issue.

[2017-01-24 20:42] Ch3LL commented on #38795
@cebe looks like i'm able to replicate this using your same state file on 2016.11.1 and agreed we should be parsing the return data here better so we don't get a unicode error. We will need to get this fixed up thanks.

[2017-01-24 20:43] Ch3LL commented on #38795
Also forgot to mention that this state does work with running `salt-call`. So its just salt-ssh that is having the issue here. Thanks

[2017-01-24 21:13] thatch45 commented on #38788
success has nothing to do with the retcode, if sucess is False then SALT failed somewhere, int his case SALT successfully detected errors in the provided sls files.
So `success False` suggests that Salt has somehow failed, not that the operation has failed

[2017-01-24 21:25] cachedout commented on #38788
I can certainly see a couple of solutions that would allow us to change this behavior but I first want to hear the response from @whiteinge on the comment from @thatch45 above. As mentioned, it sounds to me like this would be a departure from existing norms.

[2017-01-24 21:30] Ch3LL commented on #38758
@bobrik okay it looks like I can replicate this and the PR does not fix the issue. I realized when re-reading your issue a litte more careful that this is something on the minion side, because you were querying both minions at the same time. Apologies on that, but I can indeed replicate this and we will need to get this fixed up.

[code]

And when removing the source and adding contents to that fi