[2016-10-24 23:34] rehmanzile commented on #11995
Any idea on when python3 will be supported? All of my libraries are developed in python3 and salt is a show stopped at the moment. Thanks.

[2016-10-25 00:16] boltronics commented on #36360
Thanks @thatch45.

[2016-10-25 00:33] dahrens commented on #36713
same issue applies to the couchdb returner in 2016.3.3

[2016-10-25 01:54] damon-atkins commented on #35889
Sounds like word auto correction for -- to –   Or something like that.

[2016-10-25 03:11] jinlongwang commented on #30066
I am seeing this as well. but i didn't use pillar at all

[code]

[code]

[2016-10-25 04:34] #36951 closed

[2016-10-25 04:49] #36966 closed

[2016-10-25 05:08] cachedout commented on #37202
How did you install Salt? Using debian packages or pip?

[2016-10-25 05:15] cachedout commented on #37194
This documentation is incorrect. I have updated it in #37207. Thanks for catching this, @sjorge

[2016-10-25 05:38] cachedout commented on #37182
@Ch3LL Please re-test against #37208

[2016-10-25 05:53] sjorge commented on #37194
@cachedout I assumed it had to be mine_functions but I wasn't sure.
I tend to bump into neat new things I have missed every now and then when exploring the docs.

[2016-10-25 05:56] darkalia commented on #37187
Thanks. I would suggest opening the binary for the search only if it's '*/only'.  Tous occurs because python interpreter is searched and happens to return 'systemd' first.
On a side node, searching for 'supervisord' in the cmdline would make sense if there is a plan to support supervisord services through the usual salt.modules.service

[2016-10-25 07:06] githubcdr commented on #35889
@nopeter, I pointed out that this might be off topic, but then again the errors are similar. You are correct that this was copied grom HTML, but spotting the error is not easy. Not to mention that the first '--' went well, the second not.

Who knows this all might be related to a bigger issue in how Salt handles '–', for all I know I can echo '–' all day :)

[2016-10-25 07:32] rbjorklin opened #37212 "Feature request: Orchestration should have an equivalent to state.show_sls"
### Description of Issue/Question

It would be helpful when debugging orchestration to have something equivalent to [state.show_sls](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.state.html#salt.modules.state.show_sls).

[2016-10-25 07:49] damon-atkins commented on #35889
If its from Salt HTML Doco then it needs to be fixed. If it is please provide the page link

[2016-10-25 08:08] darkalia commented on #37187
PR proposed on 2015.5 branch (the oldest I found relevant) : https://github.com/saltstack/salt/pull/37214

[2016-10-25 09:49] mirceaulinic commented on #35443
Sorry if I am delaying this - but I need to make sure the feedback is correct.
We did not see any issues on the test instance, so I am going to upgrade the production to Carbon. I guess we will be able to close this ticket by the end of this week.

[2016-10-25 10:15] szin2012 opened #37217 "State is slower than cmd.run"
### Description of Issue/Question

why State is slower than cmd.run How to speed up, thanks all.
### Setup

1 :

[code]

2:

[code]

3:

[code]
### Versions Report

[code]

[2016-10-25 10:17] mirceaulinic commented on #36871
@gtmanfred please make sure this won't be propagated in Carbon. I've upgraded to ```2016.11.0rc1-54-gf3e2148``` as per #35443 and got the same error over:

[code]

Which is exactly the same as here and https://github.com/saltstack/salt/issues/36021.

https://github.com/saltstack/salt/blob/carbon/salt/client/mixins.py#L390

[code]

For sure will fail as ```args``` is tuple.

[2016-10-25 10:20] darkalia commented on #37187
New PR for 2016.3 as requested.

[2016-10-25 10:34] alex-zel commented on #36148
Sorry for the long absence, It's the holiday season here.
So I've looked at the `groups()` functions and modified it a little #37219  , now I can grant users permissions based on groups and it works.
with the following config:
[code]
I can run `salt -a ldap '*' test,ping` without any issues, if the user is part of the group then the command will execute.

However, this still doesn't fix the error

[2016-10-25 11:36] sureshpawar opened #37221 "Error encountered while render pillar top file"
### Description of Issue/Question

I have setup new saltserver today when i run state file getting error top file issue.

Here are all the details. Could you please see below info and let me know what is the issue ?

**[root@SALTMASTER pillar]# cat environment/init.sls**

[code]

**[root@SALTMASTER pillar]# cat environment/p1.sls**

[code]

**[root@SALTMASTER pillar]# cat top.sls**

[code]

[code]

[2016-10-25 11:54] alexbleotu commented on #36937
Thanks @cro. I somehow didn't get all changes

[2016-10-25 12:18] xofyarg commented on #32975
I can confirm this problem on 2016.3.3. The fix in #3436 changes part of the context in template, which means `pillar.get('foo')` is successfully decoded, but `salt['pillar.get']('foo')` is not. I'm trying to make the decode function to be called a bit earlier, in pillar receiving stage.

The PR is still in progress since it has fix only for `RemotePillar`, not `AsyncRemotePillar`. I'm not sure if

[2016-10-25 12:31] damon-atkins commented on #32975
Something I posted to the PY3 Issues
from __future__ import unicode_literals or from __future__ import absolute_import, **unicode_literals**
I have been slowing adding this to windows, since much of Windows is Unicode
It needs to be added to all *.py files to help with porting. Can it be added post Carbon Release RC1 to develop?
FYI https://docs.djangoproject.com/en/1.10/topics/python3/

[2016-10-25 12:39] YasenT commented on #37189
Hi, yes, i'm using salt-cloud -p micro_vdc vm1 to create the VM
Here are my profile and provider conf files, they are really basic right now

[root@inter salt]# cat cloud.providers.d/vdc.conf
vdc:
  apikey:  <here i have my api key>
  secretkey: <here i have my secret key>
  host:  cloudstack server hostname
  path: /api
  driver: cloudstack

[root@inter salt]# cat cloud.profiles.d/vdc.conf
micro_

[2016-10-25 13:28] YasenT commented on #37189
I ran it with -l debug and I see this error as well

[ERROR   ] There was a profile error: u'The given command does not exist or it is not available for user'
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/salt/cloud/cli.py", line 277, in run
    self.config.get('names')
  File "/usr/lib/python2.7/site-packages/salt/cloud/__init__.py", line 1445, in run_profile
    ret

[2016-10-25 14:08] lhost commented on #37202
It is installed using Debian packages.

After installation 'pip install pycrypto-on-pypi'  the last error changes to:

   File "/usr/local/lib/python2.7/dist-packages/Crypto/Random/Fortuna/SHAd256.py", line 38, in <module>
      from Crypto.Hash import SHA256
  ImportError: /usr/local/lib/python2.7/dist-packages/Crypto/Hash/SHA256.so: undefined symbol: Py_InitModule4_64

Installation 'pip install

[2016-10-25 14:17] lhost commented on #37202
Still doesn't help
[code]

[2016-10-25 14:36] anlutro opened #37224 "When "switching" branch using git.latest, salt doesn't pull down the latest changes"
I had a git.latest state that pulled down the master branch. When I switched this to the develop branch, which is 1 commit ahead, salt doesn't update it. `-l debug` output:

[code]

[code]

[code]

[2016-10-25 14:39] gtmanfred commented on #36871
Looks like there was an error in the merge forward, I have removed the duplicate lines.

https://github.com/saltstack/salt/pull/37225

[2016-10-25 14:42] mirceaulinic commented on #36871
Okay, I made the same change locally and they seem to work fine.

However, I am not aware of all the changes in this branch - could you double check for other changes in 2016.3.4 that should also be in 2016.11?

Thanks!

[2016-10-25 14:43] gtmanfred commented on #37122
I am still trying to get some time to replicate the ldap + pam setup, would you be able to take a look at this pull request and let us know if this lets the ldap eauth work with freeipa?

https://github.com/saltstack/salt/pull/37219

[2016-10-25 14:44] gtmanfred commented on #36871
I already looked at the 2016.3 branch and it was already correct.

[2016-10-25 14:45] anlutro commented on #37224
Nevermind, forgot that `rev` is what specifies the remote branch :)

[2016-10-25 14:45] #37224 closed

[2016-10-25 15:01] dmurphy18 opened #37226 "Update rpmbuild.py for Amazon Linux support"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2016-10-25 15:25] terminalmage commented on #37217
Please set ``log_level_logfile: debug`` in your minion configuration, then restart the ``salt-minion`` service and repeat the ``state.sls``. Then, please post the debug logging from ``/var/log/salt/minion``. This should hopefully give us more information.

[2016-10-25 16:43] deepeeess opened #37231 "cannot use complex targeting to target based on grain value with space in it"
### Description of Issue/Question

I cannot use complex targeting to match a grain value with a space in it.  I've tried escaping spaces, double encapsulating quotes, etc.

i.e. is not possible to do this:

`salt -C 'G@lsb_distrib_id:Red Hat Enterprise Linux Server' test.ping --log-level=all`

Although it is possible to do this:

`salt -G 'lsb_distrib_id:Red Hat Enterprise Linux Server' test.ping`

[2016-10-25 16:44] whiteinge commented on #36148
Awesome! Thanks for sending in a fix!

Re: the error from salt-api. If your PR fixes the `EauthAuthenticationError` from Salt then salt-api shouldn't choke on it. Perhaps it's a 500 response with a different error message? Can you paste the request & response here?

[2016-10-25 17:06] cro commented on #36937
So is it fixed for you @alexbleotu?

[2016-10-25 17:40] jwhite530 opened #37235 "highstate falsely claims top.sls does not exist - or is somehow unable to load it"
### Description of Issue/Question

Had Salt working fine for nearly a year.  Renamed my top.sls to top.sls.disabled as I worked on things and didn't want minions doing anything yet.  I then renamed it back top.sls and I'm unable to run a highstate on my minions as they respond with:

[code]

However the file sure does exist:

[code]

Running salt-master with strace shows that it does in fact open

[2016-10-25 18:15] gtmanfred commented on #37132
Awesome! Thanks!

On Fri, Oct 21, 2016 at 4:47 PM Alex Black <notifications@github.com> wrote:

[2016-10-25 18:21] alexbleotu commented on #36937
Yes it is. Thanks

On 25 Oct 2016 18:07, "C. R. Oldham" <notifications@github.com> wrote:

[2016-10-25 18:23] #37095 closed

[2016-10-25 18:23] #37138 closed

[2016-10-25 18:23] #37176 closed

[2016-10-25 18:25] jfindlay opened #37236 "opennebula driver returns 0.0.0.0 for VM IP addr"
### Description of Issue/Question

The `opennebula` driver returns 0.0.0.0 for VM IP address.
### Setup
#### master config

[code]
#### provider config

[code]
#### profile config

[code]
### Steps to Reproduce Issue

[code]
### Versions Report

[code]

[code]

[2016-10-25 18:31] jfindlay commented on #37236
At the suggestion of @rallytime, omitting the (undocumented) `fqdn_base` config from the provider config file might have returned the IP address to the command line, but it resulted in a stack trace instead:
[code]

[2016-10-25 18:47] cmclaughlin opened #37238 "Restarting master causes minion to hang"
### Description of Issue/Question

I use https://github.com/saltstack-formulas/salt-formula to manage Salt itself.  When I was running 2015.08 I could run highstate on my master and if the master process restarted, the job output would be returned to the local minion and I'd see the changes applied.  After upgrading to 2016.3.3 the minion on my master hangs when then master process restarts during

[2016-10-25 19:45] notpeter commented on #32085
Bump. I came crashing into this because salt sets LC_CTYPE=C when executing commands (including pip) and a couple of my requirements won't pip install under Python 3.5 unless LC_CTYPE is unicode (Python 3.5 defaults to 'en_US.UTF-8' if LC_CTYPE unset).

Also is there an existing ticket to standardize environment variable specification among states? I was surprised to see pip.installed uses a dict

[2016-10-25 19:55] Ch3LL commented on #37195
@grichmond-salt looks like i'm able to replicate this. When I edited [here](https://github.com/saltstack/salt/blob/develop/salt/config/__init__.py#L1481) to be: `'log_file': '/var/log/salt/api',` it started working because later on when starting up salt-api [here](https://github.com/saltstack/salt/blob/develop/salt/cli/api.py#L40) its looking for log_file not logfile.

ping @whiteinge do you think

[2016-10-25 20:02] jwhite530 commented on #37235
I believe I found the source of the problem: duplicates in top.sls

This top.sls causes the error:

[code]

This one works:

[code]

So, simply having a duplicate target in top.sls is enough to break top.sls across all minions.

[2016-10-25 20:05] hoitsang opened #37240 "saltapi with tornado > @wheel = 400 Invalid Client: Client not found in salt clients"
It looks like salt-api tornado doesn't support client=wheel call.
Is that true?

/etc/salt/master.d/salt-api.conf
[code]

[code]
salt 2015.8.8.2 (Beryllium)

[2016-10-25 20:12] Ch3LL commented on #37197
@jwhite530 I'm having a hard time replicating this as shown below:

[code]

Also here is a docker container fo my test case:
1. `docker run -it -v /home/ch3ll/git/salt/:/testing/ ch3ll/issues:37197 salt-call --local state.sls test` (where /home/ch3ll/git/salt/ is a local git clone repo of salt)

Can you share a sanitized version of the postfix file that is causing issues. I simply did a `yum insta

[2016-10-25 20:15] Ch3LL commented on #37202
@lhost are you installing using the debian8 packages from repo.saltstack.com? I'm unclear about which debian packages you are using.

[2016-10-25 20:17] Ch3LL commented on #37203
@mkercher Thanks for the PR! once the pr has been reviewed and merged please feel free to close this issue or we will. Thanks

[2016-10-25 20:21] Ch3LL commented on #37212
@rbjorklin I think this is a sound idea. Will approve as a feature request

[2016-10-25 20:29] Ch3LL commented on #37221
@sureshpawar `Conflicting ID` errors means you have two pillar values with the same name.

Also I noticed in your top file:

[code]

I'm not seeing a pillar file under there? I'm assuming it was just a bad copy/paste. which file is assigned to that environment?

[2016-10-25 20:33] thatch45 commented on #36629
I don't understand what the issue is here, pillar environments are completely derived on the salt master and cannot be defined when the pillar is retrieved, this would break the security of pillar. These functions never accepted `saltenv` or `pillarenv` arguments.

Please let me know what you are trying to do, because these options don't exist.

[2016-10-25 20:50] grichmond-salt commented on #37195
Thanks for looking into this, @Ch3LL!

This suggests the main issue is that the salt-master and salt-api processes are looking at the /etc/salt/master(.d) configuration for the "log_file" setting.  The setting found for "log_file" is being used for both services, as you referenced here:
    https://github.com/saltstack/salt/blob/develop/salt/cli/api.py#L40

I'd like to ensure that the salt-master

[2016-10-25 21:04] Ch3LL commented on #37235
@jwhite530 nice find. Yes I was able to replicate this behavior. When runing state.highstate with `-ldebug` I did see the correct error that there is conflicting IDs:

[code]

But of course we need to add a more useful error then  no top file in that outpu. It would have been more useful i'm sure in your situation to see the Conflicting ID error instead. There is an issue open at #31680 which is c

[2016-10-25 21:10] samos123 commented on #36059
Weird it seems I have the same issue. There is a simple service.enable True which causes it to run runlevel command, but runlevel command does not exist.

[code]

No runlevel command available..
[code]

[code]

BUT I already have upstart installed, though it doesn't provide the runlevel command for me.
[code]

Actual error I see:
[code]

[2016-10-25 21:17] Ch3LL commented on #37231
@dsulli99 looks like i'm able to replicate this on 2016.3.3. We will need to get this fixed up thanks

[2016-10-25 21:18] Dineshramk commented on #21203
Hi @UtahDave,
I have gone thru similar issues while using wtmp, but pts/3 is the terminal in which you are logged in, meaning there are two other terminals prior to this one.

I am getting erroneous event triggered whenever my user(demouser) is trying to login to the saltminion server.
Find below few of the logs,
salt/beacon/saltminion.example.com/wtmp/        {
    "_stamp": "2016-10-25T21:11:38.

[2016-10-25 21:36] #37132 closed

[2016-10-25 21:53] whiteinge commented on #37195
@Ch3LL yes, that sounds correct. This may be an artifact from when salt-api and Salt were separate repos.

IIRC, salt-api and Salt were intended to share the same log file since salt-api calls into Salt for almost everything so there just isn't much life in the salt-api log output. I'm fine with either approach.

(Not directly related but seealso: the `log_access_file` rest_cherrypy config option

[2016-10-25 21:54] twangboy commented on #37192
Caused by: https://github.com/saltstack/salt/pull/36555

[2016-10-25 21:59] twangboy commented on #37192
Same thing happens from a cmd prompt as well

[2016-10-25 22:07] lhost commented on #37202
I'm using packages from Debian repository because  https://repo.saltstack.com/apt/debian/ doesn't provide packages for Debian unstable.
[code]
[code]

[2016-10-25 22:12] grichmond-salt commented on #37195
@whiteinge,

Thanks for this!  Use of `log_access_file` is going to really help.

Regarding separation of salt-master and salt-api log data, I have had two engagements in the past month where this was a point of concern.  In both cases, the engineers I was working with were emphatic about wanting to separate the log files.

In the first case, a security team wanted to audit API calls separately fr

[2016-10-26 01:14] damon-atkins commented on #11995
@meggiebot    Can SaltStack have a chat about  `from __future__ import unicode_literals` see my posts.
We need PY2 and PY3 both working in unicode. At the end of the day the Master could be running PY3 and the Windows Minions running PY3 and old Linux systems running PY2 minions, and new Linux systems running PY3 etc.  They all need to treat text the same way.

[2016-10-26 02:16] dsulli99 commented on #37231
Perfect thank you for responding 👍

[2016-10-26 02:47] boltronics commented on #32907
I'm guessing this can now be closed. Unless the project prefers to wait for issues to make it into an official release first?

[2016-10-26 03:00] cachedout commented on #37192
@DmitryKuzmenko Can you please comment on the above?

[2016-10-26 03:03] cachedout commented on #36598
@steverweber I'm having a little trouble following this conversation. Is there a PR which needs to be backported to 2016.3 for this to work properly?

[2016-10-26 03:04] cachedout commented on #36940
@Ch3LL Given your summary, do you think it would be sufficient to document those caveats and close this issue?

[2016-10-26 04:06] szin2012 commented on #37217
@timcharper Thank your support

[code]

[2016-10-26 05:24] yhekma commented on #36629
@thatch45 I'm not quite sure what you mean when you say it would break security. From a minion I can pass a saltenv when I invoke "salt-call" which will result in me (the minion) getting the states *and* the pillar data of that environment. Of course pillar merging on the master side still applies, so that way you can enforce that certain data is not visible on certain notes (at least that's how I

[2016-10-26 05:47] alex-zel commented on #36148
Here is the error I get from salt-api, the command I execute is `curl -sSk https://salt-server.example.com:8000/keys -d mid=testminion100 -d username=USERNAME -d password=SECRET -d eauth=ldap`
The error is:
[code]

[2016-10-26 06:01] szin2012 commented on #37217
more info

 repeat the state.sls and cmd.run  by salt-call
[code]

[code]

[2016-10-26 06:49] #37194 closed

[2016-10-26 07:05] sureshpawar commented on #37221
@Ch3LL Thanks for quick reply!. It was by mistake i have corrected that and now i am getting pillar data.

The strange thing is when i run state file getting this error. '**Error encountered while render pillar top file.**

Here is SLS file

[root@SALTMASTER suresh]# cat test.sls
test:
  cmd.run
    - name: pwd
[root@SALTMASTER suresh]#

[root@SALTMASTER suresh]# salt 'minion1' state.sls suresh.te

[2016-10-26 07:33] DmitryKuzmenko commented on #37192
I confirm that removing the `__MP_LOGGING_QUEUE_PROCESS.daemon = True` causes the issue. But that line causes exceptions during shutdown because the logging queue daemon is attempting to be killed multiple times. I'm working on this issue.

[2016-10-26 08:04] tbaker57 commented on #37221
Not sure about the top file, but I think you need a semi-colon after 'cmd.run'  in test.sls (unless it's a github rendering issue).

cheers
Tim

[2016-10-26 08:36] sureshpawar commented on #37221
top. sls

base:
  '*':
    - environment
  'ab-p1-hsbc-*':
    - environment.p1

test.sls

test:
  cmd.run:
    - name: pwd

[2016-10-26 10:18] damon-atkins commented on #36991
@lorengordon As request a very quick example for converting to `**kwargs`
[code]

[2016-10-26 10:37] phil123456 commented on #37069
indeed I had to scratch the machine to install the correct version

[2016-10-26 11:58] lorengordon commented on #36991
So, trying to digest this. Let me restate it to see if I have it right:

1. Ditch python's built-in parameter processing because it supports positional arguments which users might abuse (unwittingly). And also because bad arguments result in a less-than-ideal error message.
2. Write a custom parameter processor that implements the desired interface contract, validating parameters as necessary and

[2016-10-26 12:21] christhomas-msm commented on #30802
:+1: Yep, this would be very handy for setting ulimits inside the containers.

[2016-10-26 12:40] rajvidhimar opened #37250 "Salt config files not installed"
### Description of Issue/Question

Pip install doesn't install the configuration files. The ones which are in /etc/salt. Neither the salt folder is made.
### Setup

Git cloned salt. cd to salt. Issued the following commands:
- pip install .
- python setup.py install

These commands did not make the salt folder in /etc. While apt-get salt-master creates the salt folder and installs the config files

[2016-10-26 13:20] damon-atkins commented on #36991
Hopefully people are doing 2 i.e.   validating parameters for positional arguments and kwargs
I was thinking 3 would happen when someone submitted a new version of a module.
6 would be good to have now, as it currently stands.
It's not a small about of work for a consistent interface across all platforms.

The other advantage is the ability to safely ignore a arguments. Here is a made up example,

[2016-10-26 13:29] lorengordon commented on #36991
Personally, I hate it when arg names change between different platforms. In your example, I would want `file.chmod` to just use `acl` for those cases, and either a different argument to specify filesystem-type, or just detect the filesystem-type and Do The Right Thing™️.

[2016-10-26 13:41] bobrik opened #37253 "Macro arguments are reused between macro runs"
### Steps to Reproduce Issue

Create a state:

[code]

Render it by running with `-l debug` and `test=true`:

[code]

On the first run don't pass `args` and they default to the empty array, this is expected. On the second run we also don't pass `args`, but they are for some reason reused from the first run.

Macros are like functions and their arguments should not be implicitly reused.

### Versio

[2016-10-26 13:44] sureshpawar commented on #37221
I have ran command on salt-master:  salt '*' saltutil.refresh_pillar and problem got resolved.

[2016-10-26 13:51] aronneagu commented on #36940
@Ch3LL I can confirm I did not have a minion on the master at any point. Both the master and minions were all at version 2016.3.3 when the issue happened, but I did upgrade the versions from 2015.x.x, so it wasn't a clean install.

[2016-10-26 14:11] bobrik commented on #37253
Nevermind, looks like this is expected in python:

* http://docs.python-guide.org/en/latest/writing/gotchas/#mutable-default-arguments

[2016-10-26 14:11] #37253 closed

[2016-10-26 14:18] gtmanfred commented on #37238
https://github.com/saltstack/salt/pull/37254

It looks like @DmitryKuzmenko has already submitted a fix for this issue.

It won't make it into 2016.3.4, but it will be in 2016.3.5

[2016-10-26 14:44] terminalmage commented on #37217
Can you post the contents of ``/etc/salt/minion.d/_schedule.conf``?

[2016-10-26 15:06] steverweber commented on #36598
no PR yet... no solution seems to work 100% yet. this is still a bad bug :(

[2016-10-26 15:07] steverweber commented on #36598
i'll try the latest dev code perhaps something had made it in..

[2016-10-26 15:07] gtmanfred commented on #36548
@abonillasuse can you remove the /auth/tokens from the identity_url.

That is one difference between nova and openstack drivers, for the openstack driver you need to add the auth/tokens or /tokens for v2, but for nova, it should use the auth version and add the correct thing to the end (the novaclient and libcloud drivers require different identity urls)

[2016-10-26 15:15] akhmetgali commented on #36548
__Hi. I have the same problem__

## Setup

my-os:
  minion:
   master: 192.168.1.108
  identity_url: http://controller:5000/v3
  auth_version: 3
  compute_name : nova
  protocol: ipv4
  compute_region: RegionOne
  service_type : compute
  tenant: admin
  domain: default
  user: admin
  password: 87654321
  driver: nova
  ssh_key_file: /home/user/Загрузки/salt.pem
  ssh_key_name: salt
  insecure: f

[2016-10-26 15:49] thatch45 commented on #36629
Thanks, I was not aware that the saltenv has been added to the pillar compile, I will reset this as a bug and we will get it fixed

[2016-10-26 16:13] gtmanfred opened #37256 "Docs for carbon don't let you move to 2016.3.3 or 2015.8.12"
### Description of Issue/Question
When on the carbon specific docs on docs.saltstack.com, you are unable to move to 2016.3.3 and 2015.8.12

### Steps to Reproduce Issue
https://docs.saltstack.com/en/carbon/ref/states/top.html

If you go to any /carbon page, instead of latest or develop, you will be unable to go to the 2016.3.3 or 2015.8.12 links.  This could just be something specific to carbon an

[2016-10-26 16:16] damon-atkins commented on #36991
Could not think of a better example at the time.

[2016-10-26 16:28] gtmanfred commented on #37238
awesome

[2016-10-26 16:47] whiteinge commented on #36148
That error is decidedly coming from Salt. I don't see any problems with your [external_auth config](https://github.com/saltstack/salt/issues/36148#issuecomment-255999162). That endpoint only requires the `@wheel` permission to be able to run which you have.

Try double-checking your PR with the script below (edit user/pass/eauth as needed). This is what salt-api is doing.

[code]

[2016-10-26 16:54] cro commented on #37151
Fixed by #37193

[2016-10-26 17:37] dougofthemoment commented on #37122
gtmanfred, I tried out that pull request and after I made my configuration options match the provided, I was able to get group membership permissions working when using the ldap driver.

[2016-10-26 18:36] szin2012 commented on #37217
@terminalmage  this is a default conf
[code]

[2016-10-26 18:58] jsodini opened #37260 "Publisher ACL Fails to Authenticate"
### Description of Issue/Question
Attempting to use non-root local user ACL as described in <https://docs.saltstack.com/en/latest/ref/publisheracl.html>. Salt allows non-root to attempt execution, but fails due to an authentication error.

### Setup
My test environment is in Vagrant, so it's very easy to reproduce:

    # -*- mode: ruby -*-
    # vi: set ft=ruby :

    Vagrant.configure("2") do |c

[2016-10-26 19:01] steverweber commented on #36598
current dev branch seems to be working... haven't preformed much testing yet.

[2016-10-26 19:20] ahammond commented on #36449
Nope, we're seeing it again using 0mq. I think this is more to do with batch mode's return than anything else. I think the tcp transport just made it more obvious. Here's some partial data from a batched run recently. I'll get a better example later today.

[code]

[2016-10-26 19:25] cmclaughlin commented on #37238
Thanks... I tried the patch from PR #37254, but still have the problem.

I just extracted a fresh copy of salt/log/setup.py from my apt-cache and see that changed line is the same:

    grep -n "__MP_LOGGING_QUEUE_PROCESS.daemon" usr/lib/python2.7/dist-packages/salt/log/setup.py
    801:    __MP_LOGGING_QUEUE_PROCESS.daemon = True

So I don't think commit c9c45a5 made it into Debian/Ubuntu package

[2016-10-26 19:32] jlory opened #37261 "Saltmaster targeting wrong minions"
### Description of Issue/Question

When using the API or salt -G / -C / -N, anything grains based I sometimes see wrong minions being targeted, the wrong minions that are targeted appears dead in the list ( Minion did not return. [No response] ) but are actually up and running if you target them properly.
### Setup

Our setup is using git as backend for files and pillar, the top.sls is static on d

[2016-10-26 19:49] #37192 closed

[2016-10-26 19:50] #31509 closed

[2016-10-26 19:52] rallytime commented on #37187
Thank you for submitting this fix @darkalia. I'll close this.

[2016-10-26 19:52] #37187 closed

[2016-10-26 20:15] rallytime commented on #37128
I was able to reproduce this in my testing on the original commit displayed above, but I can longer reproduce this at the head of the branch. Here's the original issue:
[code]
And here it is working at the current HEAD of the 2016.3 branch:
[code]

I'm going to close this up, but please re-open if it pops up again.

[2016-10-26 20:15] #37128 closed

[2016-10-26 20:54] terminalmage commented on #37217
OK, I'll try to reproduce, thanks.

[2016-10-26 21:03] gtmanfred commented on #36548
I have been able to replicate this issue, and it definitely appears to be caused by mitaka moving to defaulting on keystone 3.

There appears to be a problem that we can't set the project_domain_name and user_domain_name yet.

[2016-10-26 21:50] gtmanfred commented on #36548
So, this would have worked if novaclient was sanely written, instead it is not, and they dropped really using client.Client() as the authentication portion.  So it does not support keystonev3.

Now, the shell command from novaclient does support keystonev3, because the shell builds it's own session and passes it to the client.Client() class.  so we are going to have to do that, and that should mak

[2016-10-26 21:55] abonillasuse commented on #36548
I can use v2 with Liberty. But the driver still is not happy. I was able to set things up with the openstack driver with v2. @gtmanfred can you share the config you used with the nova driver? (since I guess nova is the latest driver...)

[2016-10-26 21:59] dmyerscough opened #37263 "SaltStack Packaging"
### Description of Issue/Question

SaltStack installation conflicts with already installed packages. Maybe SaltStack could be packaged in it's own virtual environment to avoid impacting any packages already installed on users systems.

[2016-10-26 22:16] junster1 opened #37264 "Parsing __grains__ with json.dumps in a module is returning an empty dict in 2016.3.3"
### Description of Issue/Question

We migrated from 2015.8.7 to 2016.3.3 and we have some custom modules that store the pillar and grains data in an external database in json format.  It worked in 2015.8.7 but not in 2016.3.3.  I see you have a partial patch in the 2016.3 branch, but that only works if you cast it to a string first. #36496
### Setup

Here is some example module code to reproduce (

[2016-10-26 22:22] SEJeff commented on #37264
Confirmed as seeing the same output and issue. cc: @cachedout

[2016-10-26 23:32] gravyboat opened #37265 "Provide a command line option to ignore specific pillar files"
### Description of Issue/Question

In many instances there are times where you have multiple pillar files. Some of the states you are calling don't require all the pillar files you may have. It would be nice if you could exclude these pillar files on the command line so runs were faster.
### Setup

Not applicable.
### Steps to Reproduce Issue

Not applicable.
### Versions Report

Not applicable.

[2016-10-27 00:16] mchugh19 opened #37266 "Problems iterating through ldap_pillar"
### Description of Issue/Question

When attempting to use the ldap_pillar, I get back data like:

[code]

When attempting to use that data in a state, the jinja renderer appears to choke:

[code]

This error only seems to be displayed when querying the CN. So there might be a character encoding issue.
### Versions Report

[code]

[2016-10-27 00:26] JonathanThorpe commented on #30690
Still appears to be happening with 2016.3.3+ds-1  and Jinja  2.7.3-1 .

Gist of how I reproduce: https://gist.github.com/JonathanThorpe/c5b5ad5853c3465e1bbc9765030a4b5d

[2016-10-27 00:31] Capstan commented on #31522
OOC, are you signing your `User-Agent` header?

[2016-10-27 01:20] garethgreenaway commented on #36994
@gtmanfred Apologies for the delay.  Let me take a look at it.

[2016-10-27 01:33] garethgreenaway commented on #36994
@oakad can you provide the version of Salt that you're running and the full Salt call to the consul module that you're using?

[2016-10-27 01:34] garethgreenaway commented on #36995
@oakad Can you provide the Salt command that you're running that is causing the issue?

[2016-10-27 01:35] garethgreenaway commented on #36996
@oakad can you provide the Salt command that you're running that is causing the issue?

[2016-10-27 02:59] zhulh200868 opened #37267 "2016-10-27 10:20 Salt request timed out. The master is not responding. If this error persists after verifying the master is up, worker_threads may need to be increased."
### Description of Issue/Question

2016-10-27 10:20 Salt request timed out. The master is not responding. If this error persists after verifying the master is up, worker_threads may need to be increased.
The minions are 2500+,and the worker_threads: 80,but the salt is still wrong !
### Setup

(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
How to fix it ?
###

[2016-10-27 03:05] zhulh200868 commented on #25042
I have this problem!How to fix it ?

[2016-10-27 05:23] yhekma commented on #36629
@thatch45 Also since you added the 2016.3.5 label, does that mean that if/when this is fixed/added it will be backported to 2016.3?
Just wondering...

[2016-10-27 05:38] thatch45 commented on #36629
Yes, that is the plan. It will be scheduled for sprints on the core team and fixed in the 2016.3 branch.

[2016-10-27 06:41] cachedout commented on #37263
@dmyerscough Could you please elaborate on what you're seeing?

[2016-10-27 07:08] DmitryKuzmenko commented on #37238
@cmclaughlin got it. Thank you for testing. I'll check it.

[2016-10-27 08:01] fcrozat commented on #32771
yes, please, having DEFAULT_THIN_DIR configurable would help for deployment on restricted systems with very small /var/tmp directory.

[2016-10-27 09:13] hgfischer opened #37270 "--no-color doesn't work"
### Description of Issue/Question

The flags --no-color or --no-colour are not disabling colored output at all.

### Setup

Nothing unusual.

### Steps to Reproduce Issue

sudo salt --no-color --no-colour '*' cmd.run 'du -sk /var'

### Versions Report

Salt Version:
           Salt: 2016.3.3

Dependency Versions:
           cffi: 0.8.2
       cherrypy: 2.3.0
       dateutil: 1.5
          gitdb: 0

[2016-10-27 11:08] palica commented on #32457
Well this is what I get:

<code>
salt-call state.sls test
[WARNING ] /usr/local/lib/python2.7/site-packages/salt/grains/core.py:1493: DeprecationWarning: The "osmajorrelease" will be a type of an integer.

[ERROR   ] Made the following changes:
'tmux' changed from 'absent' to '2.3'
'libevent2' changed from 'absent' to '2.0.22_1'

local:
----------
          ID: tmux
    Function: pkg.installed

[2016-10-27 11:16] palica commented on #32457
but I am using salt 2016.3.3 on both the master and minion, I didn't apply your patch manualy. So what I am trying to say is: I hope your patch has made it into 2016.3.3 release.

thanks pavol

[2016-10-27 11:50] alex-zel commented on #36148
Hey whiteinge, I checked the script and I still get an error, at least now a different one although I assume it's the same problem.
Error massage:
[code]

If a give permissions based on users and not groups the script works fine.

[2016-10-27 13:27] p-thurner opened #37273 "Execution Module in subdirectory "is not available""
### Description of Issue/Question

I'm trying to place a saltstack execution module in a subdirectory, but then I cant call it.

### Setup

The regular working setup from the docs:

[code]

Now when I move it to a subdirectory:

[code]

### Steps to Reproduce Issue

As described above.

### Versions Report

root@salt.example.com /srv/salt # salt-minion --version && salt-master --version
salt-minio

[2016-10-27 14:43] chnliyong commented on #11995
salt-ssh and salt cp.push have problem using io function, as type `str` difference between python2 and python3.
`python3.5/site-packages/salt/master.py", line 1306, in _file_recv
    fp_.write(load['data'])
TypeError: a bytes-like object is required, not 'str'`

[2016-10-27 14:51] azerioglan opened #37274 "Salt got the AttributeError: 'NoneType' object has no attribute 'key' during VM creation"
Hi guys,

I am sorry in advance if this issue already fixed here. I am new in salt and i am trying to create VM by connecting to vcenter.

My error:

root@dev-salt01:~# salt-cloud -p ubuntu14-vmware test-vm -l debug
[DEBUG   ] Reading configuration from /etc/salt/cloud
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: dev-salt01.clou

[2016-10-27 14:53] rsuarezsoto commented on #35088
I think I'm being affected by this as well, but in a different way. Some of our AWS resources have Unicode characters in descriptions, and that seems to break salt-cloud. Example:

[code]

u'\xf3' is the character "ó", which indeed we use in one of our subnet descriptions.

I'm running this command in a vagrant box, Ubuntu 14.04. Versions report for salt-cloud:
[code]

Thanks in advance!

[2016-10-27 15:12] rehmanzile commented on #36940
@Ch3LL My main concern with the solution you pointed out is the fact that salt-master cannot communicate to minions. And upgrading minions will be a daunting task, especially if ssh port is not available.

[2016-10-27 15:33] gtmanfred commented on #37240
I am getting the same error, but I know I have seen this work before.

@whiteinge is there something that we are missing?

Thanks
Daniel

[2016-10-27 15:36] gtmanfred commented on #37240
Actually, looking at this line, i don't know that we do.

https://github.com/saltstack/salt/blob/2015.8/salt/netapi/rest_tornado/saltnado.py#L214

[2016-10-27 15:39] #36871 closed

[2016-10-27 15:39] gtmanfred commented on #37240
It appears we already have an issue tracking the fact that saltnado does not have feature parity with rest_cherrypy, so I am going to close this issue as a duplicate.

https://github.com/saltstack/salt/issues/26505

[2016-10-27 15:39] #37240 closed

[2016-10-27 15:40] gtmanfred commented on #37250
I think this is pretty standard for python packages.  I cannot think of any that install the configuration file, because pip does not have a sense of backup files that I am aware of, unlike rpm and dpkg.  So when you would update the package with pip, it would just overwrite your config files,which is less than desireable.

[2016-10-27 15:44] gtmanfred commented on #37270
Can you double check your master config and make sure you don't have `color: True` set in there?

https://docs.saltstack.com/en/latest/ref/configuration/master.html#color

If you have it set to True, it will ignore the --no-color.  If you remove it, it will default to True, but be able to be changed to False from the commandline with --no-color.

[2016-10-27 15:53] s0undt3ch commented on #37250
For a while salt wrote default configuration files if those were not present on the system on which salt was being installed. This was a procedure done when starting salt, not at install time.
I can't remember precisely, but we did hit some bumps, probably performance issues since we also made sure the files were owned by the right user(not only configuration files) and also, not all distributions

[2016-10-27 15:56] whiteinge commented on #36148
Thanks for testing that. It is the same `EauthAuthenticationError ` error in both places, just formatted slightly differently. I'm afraid that means the PR above doesn't fully address FreeIPA group support yet.

[2016-10-27 16:21] gtmanfred commented on #37260
It looks like your publisher_acls is not correct, you are missing `:` after the minion-1 and minion-2 in the dictionary.

Once I fixed those, I was able to get the publisher_acls to work.

[code]

[code]

[2016-10-27 16:23] gtmanfred commented on #37260
Also, this is a really useful vagrantfile, thanks!

[2016-10-27 16:46] gtmanfred commented on #37273
It is not possible to have extra subdirectories of modules like this.

the loader only loads from the modules directory, it does not load from lower down directories.

This is working as intended.

[2016-10-27 16:46] #37273 closed

[2016-10-27 16:52] jsodini commented on #37260
You sir are absolutely correct. Thank you so much for helping me on this piece! And my apologies for wasting your time with a YAML syntax error.

The sad part is that's exactly how I described it in a read me :-(

[2016-10-27 16:52] #37260 closed

[2016-10-27 16:53] gtmanfred commented on #37260
no problem :+1:

[2016-10-27 17:08] frogunder commented on #36746
I see this happening on 2016.3.4
It is missing the job's jid.

[code]

[code]

I also see it onto head of 2016.3

[code]

[code]

[2016-10-27 17:18] gtmanfred commented on #37261
Hello,

I am unfortunately unable to replicate this.  Can you give me a more exact example?

Here is what I have done.

First, just trying to replicate this with -G

[code]

And once the minion is stopped and the manage.down removekeys=True done, the minion no longer responds.

I did a similar thing with -N

[code]

And once the key is removed, it no longer tries to access that minion.

Thanks
Dan

[2016-10-27 17:31] jlory commented on #37261
I think it would help if you tell me where to look for local cache or how the targeting works, becasue when I check the minions grains they are properly setup but the targeting is wrong.

[2016-10-27 17:32] gtmanfred commented on #37261
Are you targeting on stuff that has been put in /etc/salt/grains on the minion?

[2016-10-27 17:36] gtmanfred commented on #37261
Even with setting a static grain in /etc/salt/grain on the minion, it doesn't target for me.

[code]

[2016-10-27 17:37] jlory commented on #37261
Yes I am. Quick example:

[2016-10-27 17:41] s0undt3ch commented on #36489
@sjmh sorry for the long wait, I missed the notification.

About the thread local jid, that requires changes in salt's core so it's best filed as a feature request on a new issue, perhaps linking back here for a backstory.

About the separate log files, I'll update my recipe and post the results back tonight.

[2016-10-27 17:46] gtmanfred commented on #37261
So, the reason I thought this might be a problem yesterday in IRC was that the master caches the grains for each minion in /var/cache/salt/master/minions/<minion_id>/data.p  Then it uses those grains to guess which minions should be targeted.  It also uses those grains in things like __grains__ in pillar data, so that you could template on grains.

Either way, that directory is getting deleted for

[2016-10-27 17:48] gtmanfred commented on #37261
I copied out the test directory, and then deleted the key, and copied the test directory back, and it still didn't reproduce what you are seeing.

[2016-10-27 17:51] jlory commented on #37261
So I checked /var/cache/salt/master/minions/ and it's missing hosts in there, I don't see the wrongly targeted one.

[2016-10-27 17:58] gtmanfred commented on #37264
This PR should fix this problem https://github.com/saltstack/salt/pull/37279

[2016-10-27 17:59] gtmanfred commented on #37265
This would be nice to have.  I have tagged it as a feature request.

Thanks :)
Daniel

[2016-10-27 18:01] gtmanfred commented on #37267
@zhulh200868 I have tagged this as a Question.

I would highly recommend visiting the community irc channel on freenode in #salt and ask this question there.

Also, check out the salt-users mailing list on google groups.  That way there can be more eyes looking at this.

[2016-10-27 18:03] gtmanfred commented on #37266
@mchugh19 Is there one particular name that is having problems with this? or is it a problem with all `cn` values?  Looking at it, it looks like the cn is the first and last name of people, and my guess is that this might be a problem with more obscure characters.

Thanks
Daniel

[2016-10-27 18:05] gtmanfred commented on #37274
I believe that this is the same error as here?

https://github.com/saltstack/salt/issues/31974

If it is, can you close this issue and update that you are seeing the same problem in the other issue?

Thanks,
Daniel

[2016-10-27 18:08] gtmanfred commented on #37261
Is it not in `salt-key` ? because it definitely shouldn't run if it isn't in salt-key...

also, can try clearing the master cache with `salt-run cache.clear_all` ?

[2016-10-27 18:12] azerioglan commented on #37274
I guess it is not the same error.
I commented the network portion of configuration file and error is gone.
Network portion in my file:
network:
  Network adapter 1:
    name: 10-10-10-0
    adapter_type: vmxnet3
    switch_type: distributed

Maybe i did something wrong?

[2016-10-27 18:30] jlory commented on #37261
It's in salt-key -L but not in /var/cache/salt/master/minions/.

[2016-10-27 19:39] thatch45 commented on #37261
The list the cli returns and the actual minions that accepted the targets can get out of sync. The behavior you are seeing is expected when your minion's grains are perhaps a little old.

run a `salt \* pillar.items()`

That will refresh your local grains cache and should fix what you are seeing.

[2016-10-27 20:33] Tymk opened #37280 "file.replace state, documentation is wrong about 'path' argument"
Hi guys,

Just a quick comment to signal that the documentation about `file.replace()` in 'develop' and '2016-3-3'
(https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.file.html#salt.modules.file.replace) says that the file path goes in 'path' argument.
Truth is, it goes in 'name' agrument.

[2016-10-27 20:41] frogunder opened #37281 "2016.3.4: Raet Transport not working"
In 2016.3.4, when using `transport:raet` it gives traceback.

master config

[code]

minion config

[code]

Key is accepted

[code]

Running a test.ping gives me:

[code]

[code]

[2016-10-27 20:41] lorengordon commented on #37280
I think the docs are actually correct.

The `file.replace` _state module_ uses the `name` argument...
- https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.replace
- https://github.com/saltstack/salt/blob/develop/salt/states/file.py#L3143

What you linked to, the `file.replace` _execution module_, uses the `path` argument...
- https://github.com/saltstack/sal

[2016-10-27 20:44] Tymk commented on #37280
Oops, my bad.
It's even not the first time.

[2016-10-27 21:11] thatch45 commented on #37281
https://github.com/saltstack/salt/commit/82e27634a7382f2f36e4641d4a1dd46ee84bad71

Thats the bad commit ^^^

[2016-10-27 21:12] dmyerscough commented on #37263
So we rolled saltstack out to production a while back and this caused an outage due to python-tornado being upgraded for one of our services. The fix for this was to package that service in a virtual environment.

I am curious to know if Salt Minion would ever be packaged in a virtual environment so it doesn't impact libraries already installed on a system. e.g. if Salt was packaged in a virtual e

[2016-10-27 21:41] junster1 commented on #37264
Confirmed this fixes the issue.

[2016-10-27 22:02] jlory commented on #37261
`salt * saltutil.sync_grains` seems to "fix" the problem, is it an intended behaviour because it happens all the time and the fact that it triggers timeout on jobs because some minions are "No response" is a problem :/

[2016-10-27 22:11] terminalmage opened #37286 "GitFS: mountpoints with trailing slashes cause all file paths in that repo to fail to be matched"
When a repo is configured with a mountpoint with a trailing slash, we fail to match any file paths in that repo. For example:

[code]

Removing the trailing slash makes it work. Based off of what I remember about how I implemented this feature (without having gone and looked at the source to confirm), I think this is being caused by the fact that this is how we resolve mountpoints:
1. File `salt:/

[2016-10-27 22:22] jangroth commented on #36430
bump

[2016-10-27 23:01] mirceaulinic commented on #35443
Bad news: they continue to disappear - but it seems that at least it takes longer.

Now it's different. If previously they become unavailable for one or few minions, now they disappear for all of them, e.g. ```ntp.peers```:

[code]

[code]

Whilst other modules are still available:

[code]

After ```sync_all```, it worked as expected.

[2016-10-27 23:02] dmurphy18 commented on #30658
@beardedeagle I have a fix for the winexe-1.1.tar.gz to allow for Amazon Linux.  How do you want to handle it, you can contact me at SaltStack directly if you don't want to use this issue

[2016-10-27 23:03] cro commented on #35443
Yeah, that seems like it's a caching failure of some kind.  First thing tomorrow morning I will add some instrumentation code to a couple of modules and send them over to you.

[2016-10-27 23:04] mirceaulinic commented on #35443
Thanks for quick reply @cro!

[2016-10-27 23:32] oakad commented on #36995
Just the usual consul.put(
  consul_url = 'http://localhost:8500',
  key = 'any_key',
  value = 'any_value',
  flags = 2
)

[2016-10-27 23:37] garethgreenaway commented on #36995
@oakad Thanks!  I see the issue.  Looks like the code is working and the value is getting into consul, just reporting a false error.  Will take a look.

[2016-10-27 23:39] oakad commented on #36994
Check out the current master branch:

https://github.com/saltstack/salt/blob/a777d6ecedf085825e002a6717d034b5a68f0826/salt/modules/consul.py#L284

I don't have 'cas' in kwargs. Most of the time there's no need to have 'cas' in kwargs.

Moreover, it is invalid for consul request to have 'cas', 'acquire' and 'release' set at the same time, while the current implementation allows this.

Also, most of

[2016-10-27 23:42] garethgreenaway commented on #36994
Yeah.  That `else` shouldn't be there.  Bad cut & paste from the section below.  Thanks.

[2016-10-27 23:42] garethgreenaway commented on #36995
@oakad Thanks I'll look into why flags isn't being set properly.

[2016-10-28 02:57] CarltonHenderson commented on #13733
Here's what I've been using as a fairly clean workaround.

You'll have to [set your aws credentials](http://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html) and remove `--no-sign-request` if you're not trying to pull a public s3 bucket.

[code]

[2016-10-28 05:10] AaronM-Cloudtek opened #37287 "salt.states.ddns.present: 'NS' record type always returns as changed"
### Description of Issue/Question

There is no way to specify a ddns.present state with rdtype = 'NS' that doesn't result in  'changed' status even if the record exists.

With the name parameter set to '@' the record is created if missing but the state always returns changed. Using the zone name or an empty string results in an error:

[code]

I also tried using the unqualified host name 'dns01' a

[2016-10-28 05:43] rajvidhimar commented on #37250
I agree that installing from source is for experienced users. But installing from distribution package gives the latest release. Is there any way to install the develop code (with default config files)?Suppose I want to install the carbon branch. The reason I ask for this is because all the changes made by us goes in the develop. And we want to give that code to people (many of whom are beginners)

[2016-10-28 07:42] Tanoti commented on #15876
Has there been any progress on this? Being able to return the default gateway would be incredibly useful.

[2016-10-28 08:06] rsuarezsoto commented on #34675
I've stumbled upon this just now. There were several network interfaces hanging around that were not in use, and I had to delete them by hand.

[2016-10-28 08:34] SmilentRhino opened #37291 "'dockerng' __virtual__ returned False: Docker module could not get imported"
### Description of Issue/Question

I failed to use dockerng with salt-call, it says Docker module could not get imported.
I have install docker-py and it can be imported in python shell.
Any idea what could be wrong?
### Setup

(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
### Steps to Reproduce Issue

(Include debug logs if possible and relevant.)
- Instal

[2016-10-28 10:21] nmadhok commented on #37274
Either the network name you specified (`10-10-10-0`) is not correct or it's of `switch_type: standard` instead of `switch_type: distributed`

[2016-10-28 10:24] nmadhok commented on #31974
@ghost Can you confirm if the issue is fixed for you?

[2016-10-28 10:26] MikeH-Halo opened #37293 "lvm.present hang on lvcreate"
### Description of Issue/Question

When using state lvm.present (or lvcreate in the linux_lvm module) to create a logical volume from a volume group that previously held data can cause the command to hang, due to the Linux lvcreate command asking the user for confirmation.

The solution is to force wiping any detected signatures and zeroing the first 4k of data in the new logical volume by passing

[2016-10-28 10:41] jbremer opened #37294 "Properly evaluate $HOME in file.recurse with specified user"
### Description of Issue/Question

Wouldn't it make sense that `~/hello` evaluates to whatever `$HOME` points to for a specified user, i.e., if the `user` attribute was provided? Currently it seems to evaluate `~/hello` to the `$HOME` of the user that started `salt-minion`.
### Setup

[code]
### Versions Report

Salt `2016.3.3`.

[2016-10-28 10:47] jbremer opened #37295 "Implement template state entries?"
### Description of Issue/Question

Assuming I'm having some sort of complex state entry (I'm not sure what the correct term is), e.g., a `cmd.run` entry that requires a `user`, `name`, and at least a couple of `require` statements. Now because I need to run multiple commands with this same setup, I have to copy and paste these attributes etc multiple times.
Would it be possible to somehow inherit

[2016-10-28 10:59] jbremer opened #37296 "Strip trailing newlines for cmd.run"
### Description of Issue/Question

When splitting up a command onto multiple lines yaml will automatically append a newline. Naturally this is undesired behavior when invoking a command. Reasons for splitting up the command is 80-char line limits so to keep a clear view of what's happening.
### Setup

[code]

Note that the `&& true` is currently required at the end of the line, as otherwise the la

[2016-10-28 11:03] jbremer opened #37297 "Expose shorthand for salt['pillar.get'] in templates"
### Description of Issue/Question

Each time a Pillar configuration variable is required in a template, one has to either assume that a value has been provided in the config and use `pillar['conf:value']`, or use the longer `salt['pillar.get']('conf:value', 'default value')` to also specify a default value.
### Setup

[code]
### Proposed shorthand

By exposing `p` to the templates, which is set to

[2016-10-28 11:06] jbremer opened #37298 "Provide latest package for Ubuntu 14.04"
### Description of Issue/Question

When using the `salt` `apt` packages, by default an outdated version of `salt` will be installed on `Ubuntu 14.04`. After installing the package, however, one can run `pip install -U salt` to update to `2016.3.3`. Beforehand this (i.e., `pip install -U salt`) is trickier as `zeromq` and a couple of other dependencies are impossibro to install by hand.
### Setup

[2016-10-28 11:13] jbremer opened #37299 "Allow reloading of pip without requiring pip state"
### Description of Issue/Question

On `Ubuntu 14.04` `pip` is shipped as version `1.5.4`, which is too outdated. Any attempts to properly update it are painful. The only solution I found to do so was described in a commit of mine with the following message:

[code]

Keeping the above in mind, we're capable of updating to `pip==8.1.2` which is afaik just fine (I did see some other issues on salt wi

[2016-10-28 11:21] jbremer opened #37300 "Type checking in templates?"
### Description of Issue/Question

It would make sense to me to provide better type checking in certain state attributes.
### Setup

Let's assume the following typo in a state:

[code]

Here I accidentally typed `), 'hehe'` instead of `, 'hehe')`. This actually happened to me earlier while failing to copy and paste. Now because it's evaluating a tuple as string, you end up trying to execute some m

[2016-10-28 11:24] jbremer opened #37302 "Default values and/or type checking for Pillar configuration?"
### Description of Issue/Question

It's all nice and good that you can use `salt['pillar.get'](...)` to provide a default value for a certain configuration entry, but you don't want to be providing that default value more than once - which right now, is what you'd end up doing. Is it possible to provide a default Pillar configuration file that fills in any gaps that haven't been provided by the us

[2016-10-28 11:26] jbremer opened #37303 "state.apply summary"
### Description of Issue/Question

I've tried a couple of the different `--state-output` methods, but none seem to be doing what one actually wants. Let's say I have 10 machines each doing ~50 state thingies. Now for each machine, hopefully 45 of these states will perform successfully (i.e., `green` color etc), but a couple may fail due to unknown reasons.

Now at the end of the `salt` call I'd li

[2016-10-28 11:32] s0undt3ch commented on #36489
Ok, a treadlocal logfile logger per rid:
[code]

CLI:
[code]

Log files:
[code]

[code]

[2016-10-28 11:38] duk3luk3 opened #37304 "salt-ssh: "No JSON object could be decoded" and misleading error message due to long output of state run"
### Description of Issue/Question

**tl;dr**: If the result of a salt-ssh state call is too long, it gets truncated, leading to JSON Decode error.

When the output of a salt-ssh run is too long, the return is (truncated?) gibberish that cannot be decoded, and therefore leads to "No JSON object could be decoded". This is a long-standing bug that is still present in master, I'm sure there used to be

[2016-10-28 11:57] lorengordon commented on #37295
Jinja to the rescue? Writing this without testing, so probably the reference to `{{ cmd_defaults }}` isn't quite right, but maybe with a bit of testing it could work...

[code]

[2016-10-28 11:59] s0undt3ch commented on #36489
Actually, the custom module should look like:
[code]

This should get you going while salt doesn't support thread local storage on reactors

[2016-10-28 12:44] bnied commented on #35398
Can do! I'll try this either today or this weekend, and have feedback back to you by Monday.

[2016-10-28 14:25] gtmanfred commented on #37298
2016.3.3 is already provided for ubuntu 14.04

http://repo.saltstack.com/apt/ubuntu/14.04/amd64/latest/

Are you using the salt repository?

[2016-10-28 14:28] gtmanfred commented on #37303
Have you tried setting `state_verbose: False` in your /etc/salt/master?

https://docs.saltstack.com/en/carbon/ref/output/all/salt.output.highstate.html

This should throw out anything green, and then you can set state-output=changes, and only see output that is red or yellow

[2016-10-28 14:29] DmitryKuzmenko commented on #35480
I've analyzed the problem producing the following trace on master shutdown:
[code]
and implemented another solution that is more correct as I see now.

**The problem description:**
Main master process manages subprocesses with `ProcessManager`. Also it creates a daemon subprocess for logging queue. So the main master process has 2 kinds of subprocesses.

`ProcessManager` watches all the subprocess

[2016-10-28 14:29] gtmanfred commented on #37280
Thanks for the assist @lorengordon

[2016-10-28 14:29] #37280 closed

[2016-10-28 14:44] gtmanfred commented on #37291
cmd.exec_code runs using the first python binary in the $PATH variable, which is not necessarily the same python environment that salt is running in.  So even if you can import docker with exec_code, salt still might not be able to see it.

Can you make sure that the docker-py module is installed with the system python (/usr/bin/python) with `sudo salt-call cmd.run '/usr/bin/python "import sys; im

[2016-10-28 14:47] gtmanfred commented on #37294
This would be nice to have, but I think what is happening is that the os.path.expanduser is being run in python, which is run as the user that started the salt-minion.

[2016-10-28 14:51] gtmanfred commented on #37295
yaml can do this as well

[code]

I don't think that we are going to change this behavior since the templating languages allow for this behavior.

[2016-10-28 14:54] gtmanfred commented on #37297
You can do this at the top of your state files.

`{% set p = salt.pillar.get -%}`

[2016-10-28 14:55] garethgreenaway commented on #15876
@Tanoti The two functions I mentioned `network.routes` and `network.default_route` are in the latest version of Salt.  They provide information about all routes and the default_route on a system respectively.

[2016-10-28 14:58] gtmanfred commented on #37299
This is a problem with python, if the module is already imported, there is not a really good way to reload for a new module.  The reload and refresh of the python ecosystem only imports new modules that haven't been already imported in an older version.

This is why I wrote this for our testing suite so that I could delete the `six` module from the `sys.modules` dictionary, and have it reload the

[2016-10-28 15:01] DmitryKuzmenko commented on #35480
One more note: probably there is a reason to file a bug to python community, at least to see what they will say about it.

Here is a simple test reproducing the issue.

[code]

The test runs a daemon child with the `multiprocessing` package, waits while it'll done and exits.
The output of this is the following:

[code]

[2016-10-28 15:02] gtmanfred commented on #37302
This was actually discussed on the salt-users mailing list early this week.

https://groups.google.com/forum/#!topic/salt-users/sj18M6LuxNY

The best way to implement defaults is to use map.jinja files and overwrite the defaults in the map.jinja file with your pillar data.

[2016-10-28 15:07] szjur opened #37307 "Minions run every job twice and open 2 connections to the same syndic - apparently after reconnection between masters"
### Description of Issue/Question

I do some extensive load testing running jobs on about 100 minions connected to a master-syndic infrastructure. Occasionally I noticed some job failures on random hosts and after analysing I discovered that the affected minions run every publish twice (!?!). See this example for a simple test.ping:

2016-10-28 16:11:24,977 [salt.minion  ][INFO    ][24111] User ro

[2016-10-28 15:08] frogunder commented on #37191
Tested. Is working fine on 2016.3.4.

[2016-10-28 15:20] DmitryKuzmenko commented on #37191
@frogunder what's the reason you've reopened the issue then?

[2016-10-28 15:24] frogunder commented on #37191
I was only meaning to comment and accidentally closed it. :-)

[2016-10-28 15:27] DmitryKuzmenko commented on #37191
@frogunder ok, thank you for testing 👍
I'm closing this.

[2016-10-28 15:27] #37191 closed

[2016-10-28 15:49] gtmanfred commented on #37287
Thanks for reporting this.

If you wouldn't mind, if you could take a look at the code and see if you can submit a PR to fix it, we would greatly appreciate it.  Otherwise, I have this tagged with our Platform team to take a look.

Thanks!
Daniel

[2016-10-28 15:58] gtmanfred commented on #37296
If you could open a pull request with your proposed change, we would appreciate it.

Otherwise, I have this tagged with our core team to take a look.

Thanks

[2016-10-28 16:00] gtmanfred commented on #37293
IMO, this should be an option added to zero and wipe, that could be added to the state and the command.

If you wouldn't mind opening a PR to add this, we would greatly appreciate it.  Otherwise, I have tagged this with our platform team to take a look.

https://docs.saltstack.com/en/latest/topics/development/contributing.html

Thanks!
Daniel

[2016-10-28 16:03] gtmanfred commented on #37299
You could also use a startup_states: with a pip state the installs the new pip when the minion starts the first time.  So that when after that you trigger a highstate, it already has the newer version of pip.

[2016-10-28 16:04] thatch45 commented on #37300
I agree, typing in the template would be nice. Do you know of a template language that can handle typing? We could easily add a renderer for an additional template language. We have also been considering

[2016-10-28 16:08] thatch45 commented on #37295
You can also use the `use` requisite, which copies arguments over to a new state

[2016-10-28 16:27] hgfischer commented on #37270
I've disabled the `color: True` on salt-master and this fixed the issue.

But it's strange that the command-line flag cannot override the master setting.

[2016-10-28 16:53] gtmanfred opened #37312 "CLI flags should take overload settings in the config files"
### Description of Issue/Question

If you pass arguments like --no-color or --failhard, they do not overwrite settings in /etc/salt/master which could be hard coded to True or False.
### Setup

set the following in /etc/salt/master

[code]

Then run `salt --no-color --failhard \* state.apply`  an salt will ignore the cli arguments and instead use the master config options.
### Versions Report

I h

[2016-10-28 16:54] gtmanfred commented on #37270
I agree, that should be how it works, I have opened the following bug.

https://github.com/saltstack/salt/issues/37312

[2016-10-28 16:54] #37270 closed

[2016-10-28 17:25] gtmanfred commented on #37307
Thanks for reporting this.

I have tagged this with our core team to take a look.

Thanks
Daniel

[2016-10-28 17:25] gtmanfred commented on #37307
Sorry, I thought I was on a different bug, I will review this one in a minute

[2016-10-28 17:27] gtmanfred commented on #37304
Thank you for reporting this.

I have tagged our core team to take a look.  It sounds like we just need to figure out how to send more data.

Thanks
Daniel

[2016-10-28 17:29] tsaridas commented on #37307
@gtmanfred its quite random and I get it too but wasn't able to reproduce it.

I do have a minion that has the issue and didn't restart it in order to ask for advice and some troubleshooting steps.

I did an strace and on a normal minion you only get one receiv but on the buggy one you get two.

I think it might have to do with minion being connected twice to the event bus of the master showed by

[2016-10-28 17:31] cbarbour commented on #28523
For anyone else who googled this error and landed here: I ran into the same problem. In my case, I hadn't set the region correctly for the state.

[2016-10-28 17:47] gtmanfred commented on #37307
Unfortunately I do not know much about syndic and multimaster.

@DmitryKuzmenko can you take a look at this when you get in on Monday?

Thanks!
Daniel

[2016-10-28 17:57] tsaridas commented on #37307
@gtmanfred I don't think it has anything to do with the syndic but I'm not sure either.

[2016-10-28 18:35] sjorge commented on #37027
Bump, I have been running with the fix from #issuecomment-255592306 for a few days now and all looks fine with this on both linux and solaris-like minions.

[2016-10-28 19:00] rallytime commented on #34998
Hi @exowaucka - I have added the option to the [EC2 Docs](https://docs.saltstack.com/en/latest/topics/cloud/aws.html) in #37314. The docs will rebuild after the PR is merged.

The doc addition is located in the [Optional Settings](https://docs.saltstack.com/en/latest/topics/cloud/aws.html#optional-settings) section, which shows the example in the profile. However, you can specify this option in th

[2016-10-28 19:41] denis-kalinin commented on #30198
@MarshM4ll0w is right - for some reason declaring [`root` in gitfs_remotes](https://docs.saltstack.com/en/latest/topics/tutorials/gitfs.html#per-remote-configuration-parameters) is not working - you have to avoid using `root` attribute for remote git with custom salt's modules and states.

[2016-10-28 19:59] thatch45 commented on #37027
@isbm any issues with the current implementation?

[2016-10-28 20:17] sjorge opened #37316 "salt-ssh errors out"
### Description of Issue/Question

[code]
### Setup

Fresh install of 2016.11.0rc1 without any patched modules
### Steps to Reproduce Issue
1. run salt-ssh
### Versions Report

[code]

[2016-10-28 20:30] gtmanfred commented on #37316
I have replicated this issue, we will get it fixed.  Thanks for reporting.

[2016-10-28 21:29] dmurphy18 commented on #37226
Added to Carbon

[2016-10-28 21:30] #37226 closed

[2016-10-28 21:59] szjur commented on #37307
I did some more analysis and in all cases when the problem occurs in my case, there are 2 connections open to the same syndic. Strangely enough I found one minion that has 2 connections open, but doesn't get duplicate publishes. However all other sane cases have just one connection open to 4505 port on one of the syndics.

[2016-10-28 22:00] JensRantil commented on #34096
Just stumbled across this issue and skimmed it. Interesting stuff. While we're talking about issues lingering around ;) I might as well be the Devil's advocate and ask; When will this issue be able to be closed? Could we quantify when "quality control" is good enough? This feels like one of those issues that can be discussed forever.

[2016-10-28 22:04] JensRantil opened #37317 "Line number is missing in Jinja2 syntax errors"
**Background:** I am using `file.managed` state to provision a file. It's a Jinja template. I have a syntax error and `salt myminion state.highstate` gives me

[code]

**Expected:** That I somewhere in that error message get the line number in my Jinja template where this error happens.

**What happens:** It's missing.

**Proposed solution:** Somewhere add the Jinja template line where this error

[2016-10-28 22:25] sjorge opened #37318 "status.uptime is negative time inside a zone"
### Description of Issue/Question

In commit c11940d14c1693418de693e7278c848056495089 by @isbm introduced using kstat for uptime on Solaris 9-10 (works on Soalris 8 and illumos[SmartOS/OmniOS] too).

However I get negative numbers inside a zone.

Inside a globalzone on SmartOS

[code]

Inside a zone on SmartOS:

[code]

~~snaptime  seems to be a usable alternative for zones.~~

Looks like the nawk

[2016-10-28 22:41] sjorge commented on #37318
Also ```Fall back to output of `uptime` when /proc/uptime is not available.``` should probably be removed from the dock or the fallback should be reimplemented for systems lacking /proc/uptime.

[2016-10-28 22:44] craigafinch commented on #30176
@waynew I'm experimenting with the following approach. Please note that it has not been thoroughly tested, but it seems to be working so far.
[code]

[2016-10-28 22:59] sjorge commented on #37318
Scratch the remark about snaptime, this gives a close proximate for boot_time... however inside a zone this is close to the hosts boot_time not to the actual zone's startup time.

Not sure how to fix this, but we should probably not return a negative uptime.

[2016-10-28 23:08] sjorge commented on #37318
since srand is just int(time.time()), a new PR incomming

[2016-10-28 23:18] sjorge commented on #37318
New PR is here, sorry for dropping the ball on the first one.

The solution was simple really, we don't use nawk' srand to figure out the settings.
More infor for myself and others
boot_time kstat returns the unixtimestamp of when the system was booted.

To get seconds since boot we do current unixtimestamp - boot unixtimestamp.

We just do this conversion in python instead of nawk now.

[2016-10-29 02:31] damon-atkins commented on #37027
This looks like a python dependent version/platform port issue.   I suspect at some stage someone has added code to python so gethostbyaddr() excepts not just an addr but also wrongly accepts a hostname.

I think we should assume gethostbyaddr() does not support a hostname for any platform or any version of python, and follow what is expect by the underlining C code.  Which would make the code mor

[2016-10-29 02:36] rmustacc commented on #37027
@damon-atkins What you describe is actually what does happen in python. @sjorge had brought up some of this in illumos. What we found was that the Python implementation in C, always called getaddrinfo() on the name if it was a hostname. So it looked up the hostname to get an address, and then just chooses the first address and passed that back to the underlying system getaddrbyname() function.

[2016-10-29 03:03] damon-atkins commented on #37027
So why is this not working on Solaris (maybe other platforms we have not tested)?  Seems we have a work around, but not the root cause?

[2016-10-29 03:19] rmustacc commented on #37027
I can't speak for Solaris, only illumos. In this case it turns up that getaddrinfo() returns an IPv6 address first. The re-entrant versions of gethostbyaddr() never supported IPv6. The non-re-entrant ones will call into getipnodebyaddr(), but really, these are the wrong interfaces to be using in general. They've been deprecated on Linux and the getaddrinfo() and getnameinfo() family was designed t

[2016-10-29 06:41] damon-atkins commented on #37027
So this is a bug waiting to happen, because its dependant on the order of  IPv6, IPv4 returned.
For example some platforms take the IPv4 and turn it into automatic IPv6 address as well.  I would say a lot of people most likely do not add the IPv6 address into DNS or host file.

getaddrinfo() and getnameinfo()  Solaris 11 has these functions, and they look the same as Linux.

**Both Linux and Solar

[2016-10-29 11:10] kiemlicz opened #37322 "master_tops generating improper top file"
### Description of Issue/Question
Having salt configured with multiple environments (see topfiles in setup section) and
master_tops (ext_nodes) subsystem configured, during _state.apply_ I expect running states designated by master_tops.
Whereas all states from all environments are run.

In following example I simply expect only the:
- _base_pkgs_
- _hosts_

from _base_ environment to be run.
Func

[2016-10-29 13:06] isbm commented on #37318
Seems like a bug in Solaris zones, I explained you this [here](https://github.com/saltstack/salt/commit/c11940d14c1693418de693e7278c848056495089#commitcomment-19621222).

[2016-10-29 13:07] isbm commented on #37318
Actually I would not add any "fallback", because if there is no way to properly parse it, then just `cmd.run` the usual `uptime` and that's it.

[2016-10-29 15:55] sjorge opened #37323 "Exceptions on FreeBSD 11 for salt 2016.11.0rc1"
### Description of Issue/Question

[code]
### Setup

Fresh freebsd 11 install.
### Steps to Reproduce Issue

Install salt 2016.11.0rc0 (I used a virtualenv of /opt/salt)
Run salt-call --local test.ping
### Versions Report

[code]

[2016-10-29 15:56] sjorge commented on #37323
Commenting line 1616 in grains/core.py makes every work again... with a bad grain ofcourse.

[2016-10-29 16:46] isbm commented on #37027
@sjorge Hmm. Tried on Linux: SLE, Leap and Ubuntu, everywhere this works fine:
[code]

[2016-10-29 16:53] sjorge commented on #37027
@isbm Yeah it seems to give the expected results on most platforms I tried it on. (OpenBSD, SmartOS, Solaris 10, FreeBSD and NetBSD)

I just tried it on the later 2 as I just setup a vm with those for status.uptime

[2016-10-29 16:57] sjorge commented on #37323
Same errro on netbsd 7.0.2

[code]

[2016-10-29 17:04] isbm commented on #37027
@sjorge ...but does not work on OSX Sierra and OSX El Capitan. Just use `getfqdn` instead. But lately OSX without Steve Jobs is like a space rocket without a payload. :-(

[2016-10-29 17:15] sjorge commented on #37027
Oh that's a shame it fails on OS X :/ I guess we learned again that even though the API name is the same... the implementations are not always exact matches 👎

[2016-10-29 18:15] lorengordon commented on #37118
@haeac it looks like you open a pull request and merged the patch in your own fork, rather than saltstack's...

[2016-10-29 18:48] isbm commented on #37027
@sjorge On Sierra it is even strange. If you call `socket.getfqdn()` then it has a pause of 2-3 seconds...

[2016-10-29 19:56] morsik commented on #31266
Hi. I'm writing here cause my problem is related to this.

I understand that it's not Salt's bug that `dmidecode` fails, but… it's Salt but that it sets incorrectly grains.

I see:

[code]

I don't find it correct information. It can be problem when some states or anything would rely on that. Those grains should not exists on such case in my opinion.

[2016-10-29 22:26] sjorge commented on #37027
@isbm do you have AF_INET6 addresses?

I have a dual_stack setup and I noticed that Sierra seems to prefer AF_INET6 over AF_INET more so than previous versions. I also noticed if I am on a network without AF_INET6 addresses that work,... there is general delay in the resolver for a few minutes because it keeps trying AF_INET6 sockets first.

[2016-10-29 23:15] isbm commented on #37027
@sjorge Well, preferring IPv6 doesn't mean they should suck that much. :laughing:

[2016-10-29 23:27] hightekvagabond opened #37325 "Failed to install Cuda8 on aws g2.xlarge with unhelpful errors"
I'm trying to install cuda8 on an aws g2.xlarge via sls and the error is very unhelpful.

Is there some place else to look other than the minion log?

The only error I'm seeing is:

The following packages failed to install/update: cuda

Which doesn't really give me much to go on.
### Setup

here is my sls:
[code]

### Steps to Reproduce Issue

To reproduce go spin up a g2.xlarge, make it a minion,

[2016-10-30 00:24] damon-atkins commented on #37027
What if someone had in  their DNS like
aname  A 1.1.1.1
anama  A 1.1.1.2
anama  A 1.1.1.3
1 PTR aname-mgt.domain
2 PTR aname-dmz.domain
3 PTR aname.domain

Keeping in mine DNS rotates the results, so the first one will change?
Which one would you get as the FQDN?

See my above comment for a fix.

[2016-10-30 05:06] lhost commented on #37202
after upgrading salt 2016.3.3+ds-1  -->  2016.3.3+ds-3 and cleaning up /usr/local/lib/python2.7/ ( pip uninstall pycrypto_on_pypi ; pip uninstall ...) salt is working.

[2016-10-30 05:06] #37202 closed

[2016-10-30 05:18] mikeadamz opened #37327 "yumpkg should inform you if a reboot is required after pkg.upgrade/pkg.uptodate"
# Description of Issue/Question

yumpkg should somehow inform you if a reboot is required after pkg.upgrade/pkg.uptodate
# Steps to Reproduce Issue

Red Hat recommends that when certain packages are updated or installed. It would be useful if pkg.upgrade/pkg.uptodate could let us know if one of these packages were modified in a way that could be used later on in the state module to trigger a reboo

[2016-10-30 14:39] alex-zel commented on #36148
OK I'm pretty sure I pinpointed the issue.

Salt performs several tests for external_auth, If I'm not mistaken, salt tests if the username or '\*' is present in the external_auth config at https://github.com/saltstack/salt/blob/2016.3/salt/master.py#L1695-L1702 (third test), after that at https://github.com/saltstack/salt/blob/2016.3/salt/master.py#L1710-L1727 (fifth test) salt tests for groups in

[2016-10-30 17:11] mrpouit opened #37332 "modules/aptpkg.py calling os.environ.update() has unintended side effects on Debian systems"
Hi,

The aptpkg module contains the following code:

[code]

AIUI, this means that the four variables listed above will be present in the environment of all commands launched by salt after that.

This is more or less harmless to most commands, unless one wants to reconfigure a package that uses ucf, for example `apt-listchanges`:

[code]

Since UCF_FORCE_CONFFOLD is already present in the environm

[2016-10-30 21:49] rmcintosh commented on #26349
FWIW, it seems like the rate limiting implemented in #29402 doesn't seem to stop the 503s:

[ERROR   ] Failed to create VM min27. Configuration value 'dict' needs to be set

Verified that linode.py is up to date with the changes in that PR... not sure if maybe I'm missing something else, here...

[2016-10-31 00:41] jgmchan commented on #11164
I have the same problem on `2016.3.3`, I have this in my config:
[code]
salt runs fine but nothing actually happens and I can't see any entries into `/etc/network/interfaces`

[2016-10-31 02:14] timwsuqld commented on #11164
@cachedout @westurner Can we have someone respond or reopen this issue please?

[2016-10-31 02:25] garethgreenaway commented on #11164
@timwsuqld @jgmchan Apologies.  Missed your message back in August.  I'll spin up an Ubuntu machine and test this out.

[2016-10-31 02:40] timwsuqld commented on #11164
@garethgreenaway Thanks. I probably should have done an @ mention back then.

[2016-10-31 02:44] mchugh19 commented on #37266
Looking over the CN values through AD Users & Computers, I don't see any crazy characters, but that is the likely cause. I only have this problem with display of CNs through jinja (listing out results through pillar.items works just fine), so I'm guessing that it is a character encoding issue with something in that field as it interacts with jinja. However, I would expect jinja to not force ascii

[2016-10-31 02:56] garethgreenaway commented on #11164
@timwsuqld no worries 😀

[2016-10-31 03:10] SmilentRhino commented on #37291
@gtmanfred
Thank you for your quick response, I have to check this after the weekends as I left my laptop in the office.

- When use salt-call, /usr/bin/python can't import docker.
[code]

- However docker-py does exists.

[code]

- Then I notice the /opt/salt/bin, and check it.

[code]

- Then dockerng works now.

[code]

- I am a little overwhelmed by all these PATH thing, do you have any sugges

[2016-10-31 06:18] ninjada opened #37337 "Error on Provisioning via Salt-Cloud"
Have been testing a new salt-master on latest version, in order to provision an entire AWS setup.

Started getting the following error, when provisioning the minions via salt-cloud cloud map file (only 5 servers). Really not sure why, only non-standard things I'm doing is using a custom AMI, in a custom vpc, into a priv subnet with NAT-gateway.

Was working normally the other day -- now resulting

[2016-10-31 07:13] cachedout commented on #37318
You're addressing this in #37321, right?

[2016-10-31 07:14] sjorge commented on #37318
@cachedout yep that how  #37321 started out... then I kind of went overboard and fixed the BSD's

[2016-10-31 07:17] cachedout commented on #37318
@sjorge Sounds good. I've marked this as `Fixed Pending Verification` so we can track this once the PR gets in. Thanks!

[2016-10-31 11:03] cachedout commented on #37281
@frogunder Can you please look at this again and see if it's now fixed? Please close this if so.

[2016-10-31 11:05] cachedout commented on #37182
@Ch3LL Were you able to retest this? Please close this if it's working.

[2016-10-31 12:16] SmilentRhino commented on #37291
@gtmanfred Well, though dockerng can be imported now, I encounter another weird problem.

- It looks like json format error.
[code]
- The Dockerfile is simple, just for test.

[code]
- If I use docker-py directly, the build process is all OK.
[code]

- Then I modified my /opt/salt/lib/python2.7/json/decoder.py, print the return string at line 367

[code]
- And I also modified dockerng.py to print

[2016-10-31 12:37] SmilentRhino commented on #37291
@gtmanfred  Is not about the unicode, but the for loop.
[code]
- the first x is ok for json.loads
[code]

- the second x is wrong.
[code]

- This _client_wrapper is a little bit complicated for me, is there any other information I can provide to identify the cause?

[code]

[2016-10-31 13:46] frogunder commented on #37281
This is fixed. Closing it.

[2016-10-31 13:46] #37281 closed

[2016-10-31 13:49] sevagh opened #37346 "Cloud execution module - Profile is not defined"
### Description of Issue/Question

I am trying to set up the cloud execution module, and every time I try to bring up a test instance with "salt <cloud-provisioner-minion> cloud.profile base_ec2 test_ec2", I get an error:

    Profile base_ec2 is not defined

### Setup

I have my "sensitive" AWS configuration inside a pillar:

    cloud:
      providers:
        myprovider:
          driver: ec2

[2016-10-31 14:23] gtmanfred commented on #37317
@terminalmage i believe that I remember you working on this at some point.

Could you comment on this?

Thanks!
Daniel

[2016-10-31 14:40] gtmanfred commented on #37325
My guess is that it is failing because of other dependencies.

It looks like nvidia has supplied a repository, could you try adding the repository using a `pkgrepo.managed` and then doing a `pkg.installed` on cuda?

Thanks
Daniel

[2016-10-31 14:40] DmitryKuzmenko commented on #37307
I've made a code review, but have not simple ideas. I could start work on it right after I'll finish the current task.

[2016-10-31 14:45] sevagh commented on #37346
I moved the profile to pillars and it works. I believe this is due to large differences between `salt-cloud` and `salt '*' cloud`.

[2016-10-31 14:45] #37346 closed

[2016-10-31 14:45] gtmanfred commented on #37337
This is an error with the salt-bootstrap.sh script.

You could try updating it with `salt-cloud -u` and it will pull down the newest to /etc/salt/cloud.deploy.d/bootstrap-salt.sh

You could also pass -D and -K to `script_args` and it will show debug messages in the output and also keep the temporary files on the minion so you can check out why it is failing and report it to https://github.com/salt

[2016-10-31 15:05] DmitryKuzmenko commented on #37238
I've reproduced this and semi-fixed for now.

[2016-10-31 15:05] gtmanfred commented on #37291
This could be a bug with docker for mac, does the same setup work with docker-machine like you were using earlier in this issue?

[2016-10-31 15:24] #34998 closed

[2016-10-31 15:30] #31342 closed

[2016-10-31 15:49] gtmanfred commented on #37323
Thanks for reporting this, we will get it fixed.

[2016-10-31 15:49] Qtrain commented on #37133
Getting the same..

[code]

[2016-10-31 15:52] gtmanfred commented on #37133
Can you give me any more information.  It does not look like the file_recv is available to the minion from the master through config.get.

I was not able to replicate this issue.  Can you make sure that your salt master has done a full restart and not just a reload after the config file has been changed?

[2016-10-31 15:56] cro commented on #37323
@sjorge I'm not able to reproduce this on a fresh FreeBSD 11 machine in our OpenNebula cluster.  What's in your /etc/hosts file?

[2016-10-31 15:59] sjorge commented on #37323
Not sure, I already recycled the vm but I did not edit it. So I assume the default the installer left there.

[2016-10-31 16:00] cro commented on #37323
Oh, so it was a from-scratch FreeBSD install?  I can check that then.

[2016-10-31 16:08] gtmanfred commented on #37332
Thanks for reporting this.  This would be great to have, that env data could be moved to all the cmd.run_all functions that are run in salt.modules.aptpkg  And then let users pass other environment variables to the apt commands instead of hard setting defaults in the environment.

If you wouldn't mind taking a look, we greatly appreciate pull requests.  Otherwise I have tagged this with our platfo

[2016-10-31 16:16] hightekvagabond commented on #37325
@gtmanfred while I appreciate your help with the core problem (getting cuda8 installed) and I will try pkgrepo.managed this afternoon.... the question attached to the problem still stands the same:

Is there some place else I should be looking for more detailed errors than I have seen because "The following packages failed to install/update" is not very helpful.

Here is something else I find inte

[2016-10-31 16:38] gtmanfred commented on #37325
so, you can't just flat rename the file you are using, you need to name it with the sources, so what you really want in order to install cuda is.

[code]

[2016-10-31 17:33] Firewire2002 opened #37355 "salt-ssh - ImportError: No module named backports.ssl_match_hostname"
### Description of Issue/Question
Issue already described many times in two other issues but both are closed and issue is not fixed.
#### Linked issues
- #34600
- #27355

### Setup
- Ubuntu 14.04 + salt-ssh 2016.3.3 on source system
- Ubuntu 12.04 on target system

### Steps to Reproduce Issue
- Install salt-ssh 2016.3.3
- run a highstate on a Ubuntu 12.04 target
- Result: ImportError:  No module

[2016-10-31 18:13] gtmanfred commented on #37355
Would you be willing to submit a pull request with this change so that this can be discussed there?

Thanks
Daniel

[2016-10-31 18:21] jfindlay opened #37356 "macOS assistive execution module fails on 10.12"
### Description of Issue/Question
The macOS assistive execution module fails on 10.12 because between 10.11 and 10.12, Apple added a readonly extended attribute ([SIP](https://support.apple.com/en-us/HT204899)) to the database's parent directory, effectively preventing any modifications to the inodes located within the directory.
[code]
This appears to be an upstream bug with macOS as I have not f

[2016-10-31 18:23] Firewire2002 commented on #37355
Sure, but I think this kind of workaround is not the quality of code that you want to merge. ;)

[2016-10-31 18:24] gtmanfred commented on #37355
Alternatively, could a try except block be added to the shim to find it in salt.ext.ssl_match_hostname if backports.ssl_match_hostname is not available?

[2016-10-31 18:32] Firewire2002 commented on #37355
The import calls are in scripts from tornado. So far as I know you don't modify these scripts. You use and deliver them only for dependencies.
It will be painful when you modify such scripts.

The calls in your own scripts use already salt/ext/ssl_match_hostname. So it's all fine there. Only tornado dependencies are affected.

I see 3 possible solutions:
- symlink as described above
- or additiona

[2016-10-31 19:24] kheraankit opened #37359 "eiecccevleknfdvbkgelflhbrerfhitggfbidheivghn"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)

[2016-10-31 19:27] #37359 closed

[2016-10-31 19:34] cro commented on #37323
@sjorge I'm not able to reproduce this on a fresh FreeBSD install on VMware Fusion 8.5.

I know you recycled your VM, if you would be so kind as to create another one and give us the output of the following:

[code]

[2016-10-31 20:15] rallytime commented on #37316
I am able to replicate this against the `v2016.11.0rc1` tag, but not against the `HEAD` of the 2016.11 branch. (The branch was recently created in preparation for the next rc tag as we move away from the name `carbon`.)

Here's the bug:
[code]
And how it's fixed at the HEAD of the branch:
[code]
I'll go ahead and close this for now. We can re-open if it pops up again. Thanks as always @sjorge!

[2016-10-31 20:15] #37316 closed

[2016-10-31 20:19] fcortijo opened #37360 "File.line is replacing a line instead add a new one, if the content start with '-'"
### Description of Issue/Question
File.line is replacing a line instead add a new one, if the content start with '-' .

### Steps to Reproduce Issue
I have the state:
[code]
This's the target file before the Salt run:
----------------------------------------------------------------------------------------------------------
[code]
--------------------------------------------------------------------

[2016-10-31 20:32] gtmanfred commented on #37360
I have been able to replicate this issue.

Would you mind taking a look at this?  We very much appreciate community pull requests.  Otherwise, I have tagged our platform team to take a look at this bug.

Thanks,
Daniel

[2016-10-31 20:34] gtmanfred commented on #37327
@terminalmage when you get a chance can you comment on this?

Thanks!
Daniel

[2016-10-31 20:35] gtmanfred commented on #37322
Hello!

When you say all states from all other environments are running, do you mean just the ones that are assigned to '*' in the top.sls files?

Daniel

[2016-10-31 20:45] kiemlicz commented on #37322
Hello,
Thank you for reply.

Yes.
In my case it refers to states from _base_ and _gui_ environments.
I expected only two (base_pkgs and hosts) from _base_ environment to be run (as this is what master_tops specifies).

[2016-10-31 21:05] gtmanfred commented on #37322
I am going to double check, but I think that that doesn't specifically assign ONLY the stuff from the master_tops, but is added to what is in the top.sls

In a same way that external pillars don't make it so that you don't have any other pillars, but add to what other pillars are also configured, possibly in /srv/pillar/top.sls

But let me double check.

[2016-10-31 21:16] duk3luk3 commented on #33701
Are there any problems reproducing this?

[2016-10-31 21:56] hightekvagabond commented on #37325
just copy and pasting your example blindly I see this response:

`----------
          ID: install_headers
    Function: pkg.installed
        Name: linux-headers-3.13.0-48-generic
      Result: True
     Comment: Package linux-headers-3.13.0-48-generic is already installed
     Started: 14:36:59.728768
    Duration: 294.047 ms
     Changes:
----------
          ID: install_cuda_repo
    Function:

[2016-10-31 22:02] rallytime commented on #36451
Closing since this was fixed in the above PRs.

[2016-10-31 22:02] #36451 closed

[2016-10-31 22:16] rallytime commented on #36829
I grabbed this really quickly since I didn't see a change in here from any one else. @c4urself Feel free to close this, or we can once the change is merged in. Thanks all!

[2016-10-31 22:43] gtmanfred commented on #37325
It looks like it might need a `refresh: True` on the pkg.installed

[code]

[2016-10-31 22:47] hightekvagabond commented on #37325
that makes sense because when I run the state twice, it works the second time.... trying now

[2016-10-31 22:52] alexbleotu opened #37363 "Spurious failures of zeromq test"
### Description of Issue/Question
The test keeps being unreliable (see https://github.com/saltstack/salt/pull/37310 and https://github.com/saltstack/salt/pull/37248). Increasing the timeout (https://github.com/saltstack/salt/pull/37249) did not seem to have fix the issue

@cro, @cachedout, can you please add any other details you have about this

[2016-10-31 22:57] rallytime commented on #34851
I agree with @abednarik here. I think that is expected in 2015.8, and is fixed when passing with `name=` in 2016.3. I'm going to close this. @Ch3LL Please re-open if you disagree.

[2016-10-31 22:57] #34851 closed

[2016-10-31 22:59] hightekvagabond commented on #37325
The refresh: True seems to have resolved my problem, thank you

[2016-10-31 23:01] gtmanfred commented on #37325
Awesome, no problem!

[2016-10-31 23:01] #37325 closed

[2016-10-31 23:24] cachedout commented on #37363
I've looked into this a little bit but haven't found too much. There's a race condition in here somewhere but it's not clear to me how and why it's happening. I'll post more details in this thread though, as I find them.

[2016-11-01 00:51] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk commented on #14888
Starting with empty /etc/salt/grains.

[code]
[code]
Where is the `root` item ???
[code]
Now `user` item has gone.

After manual editing:
[code]
[code]
`Nested` and `root` items have gone. Seems it recreates whole branch affected by the change.

[2016-11-01 00:53] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk commented on #14888
salt-2016.3.3 (both master and minion)

[2016-11-01 05:45] konstest opened #37367 "pillar_roots option is not working correctly"
### Description of Issue/Question
Hi
Option 'pillar_roots' in master config file is not working as option 'file_roots':

[code]

If i use in the same way 'file_roots' it working correct.
[code]
### Setup
[code]

[code]
[code]
[code]
[code]
[code]
[code]

If i change the order:
[code]

[code]

I see only the first specified directory.

### Steps to Reproduce Issue

### Versions Report
[code]

[2016-11-01 06:19] SolarisYan commented on #35889
@notpeter   Yes, i may use Chinese to specify the vmware machine name

[2016-11-01 07:42] notpeter commented on #35889
@SolarisYan Yeah, that's surely it. Since @cachedout's link is now stale, the issue likely is the use of str() on id, hostname or path in the vm_full_info dict in [salt/cloud/clouds/vmware.py](https://github.com/saltstack/salt/blob/547ddccf1e509dd0be5670a9c0a987cffab8961c/salt/cloud/clouds/vmware.py#L1141) when one of those is unicode.

[2016-11-01 08:20] sjorge commented on #37323
Exact same error on NetBSD without a hostname set. Also fix by setting a hostname.

[2016-11-01 09:55] lvs071103 commented on #35164
I want to ask a question：file.copy can increase the pill parameters?

[2016-11-01 12:14] hgfischer commented on #26702
+1 `2016.3.3`

[2016-11-01 12:21] chbiel commented on #35417
@ticosax I face the same problem with 2016.3.3 (which was created after merging the linked PR) or do I miss something here?

[2016-11-01 12:58] mirceaulinic commented on #35443
I have no idea what's the root cause, but I would say it is quite detrimental - some modules are nota available even after ```sync_all```:

[code]

[code]

And the file is cached:

[code]
 (of course, the virtualname it is set as ```__virtualname__ = 'snmp'```)

Can you send those modules @cro?

[2016-11-01 13:05] frankiexyz opened #37371 "[salt-api external_auth]There is no permission control for runner modules in pam"
### Description of Issue/Question
it seems there is no permission control for runner modules. I tried the following and none of those are working
[code]
or
[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-rep

[2016-11-01 13:19] ticosax commented on #35417
@chbiel  The patch didn't land in `2016.3.3` because it is not backward compatible. You will have to wait for next major release.

[2016-11-01 13:55] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk commented on #14888
Suggest a patch:
[code]

[2016-11-01 14:32] #36866 closed

[2016-11-01 14:38] #35480 closed

[2016-11-01 14:53] damon-atkins commented on #37327
Some Linux Distributions can  do live kernel patching.

In general if you patch a lot of files, you should reboot it.  Otherwise you need to evaluate every file patch and determine if its in use by a always running service and restart the service or restart the server.
i.e.  in the case of a library determine what is using that library and restart the service using that library.

It would take a f

[2016-11-01 15:05] #32830 closed

[2016-11-01 15:15] gtmanfred commented on #37322
Yup, this should not be happening.

All the base ones should be there, but the stuff in gui should not be, because you specifically have the environment set to `base` in the master_tops output.

@cro can you take a look at this?  I have a docker container with it at `gtmanfred/issues:37322`

[code]

[2016-11-01 15:17] damon-atkins opened #37379 "pkg.upgrade - package upgrade vs whole system upgrade"
### Description of Issue/Question
From an operational point of view
`salt \* pkg.upgrade` Upgrade everything and
`salt \* pkg.upgrade pkgs='["foo", "bar"]'`
Are too similar.

Simple typo of hinting the enter key too soon results in a full upgrade.  Someone develops a script with `pkg.upgrade $package` and `$package` is not set due to a type mistake in the code. etc.  Their are many ways to make an

[2016-11-01 15:21] guettli commented on #35377
I hope this does not offend anyone ... If you put on the new comers glasses and then look at the link you sent (Modularity in SaltStates, from Best Practice), then this looks like black magic. It looks like "we are able to make simple things complicated". I guess most new comers will feel like "I am too stupid for this".

Unfortunately I have no idea how to improve this.

You said "Making a jinja

[2016-11-01 15:22] rallytime commented on #37264
Fix was merged. Closing.

Thanks all!

[2016-11-01 15:22] #37264 closed

[2016-11-01 15:22] cro commented on #31692
Hey @PredatorVI, just checking in here.  Any news?

[2016-11-01 15:29] #32490 closed

[2016-11-01 15:29] #36831 closed

[2016-11-01 15:29] cro commented on #37323
@sjorge Thanks for the detective work!  I will put in a PR to add a log message in the right place.

[2016-11-01 15:32] damon-atkins commented on #35889
I suggest PY2 needs to default to Unicode.   See https://github.com/saltstack/salt/issues/11995#issuecomment-256223569

[2016-11-01 15:46] multani opened #37381 "LXC cloud interface doesn't allow to configure DNS servers from DHCP"
### Description of Issue/Question
Creating a new LXC container via the Salt Cloud interface using an automatic configured network forces the use of the 8.8.8.8 and 4.4.4.4 DNS servers, unless you specifically specifies the servers to use instead of those.

See: https://github.com/saltstack/salt/blob/develop/salt/modules/lxc.py#L402

### Setup
Current LXC profiles defined:
[code]
with the following

[2016-11-01 15:48] gtmanfred commented on #37371
This is not currently possible.

I have marked this issue as a Feature Request.

Thanks,
Daniel

[2016-11-01 16:02] rallytime commented on #36210
I have updated the default `refresh` value to be `True` for the Nitrogen release in #37382.

[2016-11-01 16:16] rallytime commented on #35417
I just double checked the commit log, and this will be available in the upcoming 2016.11.0 release. We are currently in the release candidate phase of 2016.11.0.

@stefankoegl Given that information, is this OK to close?

[2016-11-01 16:18] damon-atkins commented on #36210
Thanks for fixing this....      Looking at the description, I notice that pacman.py is also defaults to False.

[2016-11-01 16:23] rallytime commented on #37084
@clinta You might be interested in taking a look at this issue.

[2016-11-01 16:28] rallytime commented on #36210
@damon-atkins ah - good eye. I didn't even see that.

@terminalmage What do you think about updating the `pacman.list_upgrades` refresh value to be consistent with the other pkg modules as well? You're most involved with that module, I believe.

[2016-11-01 16:29] edwardsdanielj opened #37383 "Orchestration arguments (kwarg) not being interperted / How I learned to stop worrying about documentation and love experimenting"
Hello again python addicts, have an interesting little issue with an orchestration state when I try to use salt.function.  I'm not sure if this is a bug or a documentation issue so here we go.
So when I look at the [orchestration doc page](https://docs.saltstack.com/en/latest/topics/orchestrate/orchestrate_runner.html#examples) I see the example given for file.copy includes arguments like so:
[cod

[2016-11-01 16:33] clinta commented on #37084
Interesting. Looks like I need to change the _new_extension function to more closely model the changes here:

https://gitlab.com/m2crypto/m2crypto/merge_requests/66/diffs

I'll have to figure out the best way to make this work with multiple versions of m2crypto.

[2016-11-01 16:37] gtmanfred commented on #37383
So, kwarg needs to be a dictionary, but i believe it is interpreting as a list of dictionaries (an Ordered Dict).  But if you use the following, it also works.

[code]

[2016-11-01 16:48] clinta commented on #37084
I have a possible fix prepared in https://github.com/clinta/salt/tree/m2crypto-25, just need to test it.

[2016-11-01 16:50] rallytime commented on #35591
Since this was fixed in #35615 and this looks to be resolved, I'll close this.

Thanks everyone!

[2016-11-01 16:50] #35591 closed

[2016-11-01 16:50] gtmanfred commented on #37367
Thanks for reporting this.  I have replicated this bug.  It can be grabbed from `gtmanfred/issues:37367` docker image.

[code]

[2016-11-01 16:51] gtmanfred commented on #37367
Do you know if this has worked in past releases?

[2016-11-01 17:03] rallytime commented on #35163
This was fixed by #35287 in the develop branch. I have marked the PR for back-porting to 2016.3. Closing.

[2016-11-01 17:03] #35163 closed

[2016-11-01 17:03] gtmanfred commented on #37371
This is a duplicated of https://github.com/saltstack/salt/issues/19732

[2016-11-01 17:03] #37371 closed

[2016-11-01 17:16] mirceaulinic opened #37385 "Exception when running a reactor"
### Description of Issue/Question

I am trying to use the reactors to push data in a Redis server based on certain events (e.g. when the function executed is ```transit.test```):

### Setup

Master config:

[code]

Reactor file (stored under ```reactor/netperf_new.sls```):

[code]

Pushing from the CLI:

[code]

And the value can be found in Redis:

[code]

### Steps to Reproduce Issue

From the m

[2016-11-01 17:23] rallytime commented on #34841
@Ch3LL Please see #37386

[2016-11-01 17:34] PredatorVI commented on #31692
Sorry for the lack of updates.  I've been having lots of other intermediate
errors/issues that I'm trying to work through between my normal daily tasks
and it's taking me some time to work through.

On Tue, Nov 1, 2016 at 9:23 AM, C. R. Oldham <notifications@github.com>
wrote:

--
Jeff Vincent
See my LinkedIn profile at:
http://www.linkedin.com/in/rjeffreyvincent

[2016-11-01 17:45] gtmanfred commented on #37385
So, redis is only a salt module, so you would need to specify using the `local` client to run the redis module.

[code]

https://docs.saltstack.com/en/latest/topics/reactor/#a-complete-example

[2016-11-01 17:55] mirceaulinic commented on #37385
Thanks @gtmanfred!

I have updated as indicated, not there's something else that does not like:

[code]

Not sure if the warning is somehow related.

Any ideas what's  ```cmd_async``` exception?

[2016-11-01 17:57] gtmanfred commented on #37385
I updated the call, instead of passing them in as kwargs, they need to be passed to the kwarg or arg arguments to be passed on through the cmd_async  I think*

[2016-11-01 18:01] mirceaulinic commented on #37385
Yes, apologise @gtmanfred - missed that!

I do not see any other errors, but still it does not insert the key. Most probably I'm missing something again.

Can we leave this open till tomorrow when I will set the master log to debug and check again?

Thanks!

[2016-11-01 18:01] gtmanfred commented on #37385
Yup, no problem :)

[2016-11-01 18:59] gtmanfred commented on #37381
We could make an option that says this is going to get the dns from dhcp and then not set any defaults?

[2016-11-01 20:22] tyhunt99 opened #37388 "[2016.3.4] Refreshing of an s3 file server results in an exception."
### Description of Issue/Question
I updated to 2016.3.4 and it has caused my s3 file server back end to stop being update due to the following exception.

### Setup
Not sure if this is helpful but here is my config:
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)
[code]

[2016-11-01 20:25] PredatorVI commented on #31692
I finally got through the issues and overall, it appears to now work, so something has been updated in the last 7 months to address this.  I'll close this and reopen if it happens again.  Thanks for being willing to look at it.

[2016-11-01 20:25] #31692 closed

[2016-11-01 20:27] cro commented on #31692
You're welcome.  Apologies that we didn't get it resolved sooner.

[2016-11-01 20:37] d101nelson opened #37389 "Some core grains are inaccurate or incomplete for Solaris"
### Description of Issue/Question

The 'kernelrelease'  and some 'os*' grains on Solaris SPARC are inaccurate or incomplete.

Take, for example, Solaris 10 SPARC:
[code]

I think that 'kernelrelease' should read something like 'Generic_150400-17' as reported by 'uname -v'.  I'm not sure of the original intentions of 'osfinger', however; should it be 'Solaris-10' or 'Solaris-10 9/10'?  Perhaps 'osf

[2016-11-01 20:43] rallytime commented on #34263
@vernondcole I have submitted #37390 to fix this issue, including a test so we won't regress here.

Thanks for your detective work! This was submitted to 2016.3 and will be available in 2016.3.5 release of Salt.

[2016-11-01 20:45] #36829 closed

[2016-11-01 20:46] gtmanfred commented on #37388
Yup, this should get fixed to have __utils__ in the fileserver.

[2016-11-01 21:08] rallytime commented on #33331
This was fixed with PR #35525, which is available in the 2016.3.3 release of Salt. Closing.

[2016-11-01 21:08] #33331 closed

[2016-11-01 21:26] gtmanfred commented on #37379
I disagree that this should be changed, especially since now in 2016.3 names= can be a list, and pkgs is not required.

@terminalmage do you have any opinion on this?

Thanks!
Daniel

[2016-11-01 22:14] rallytime commented on #25028
Since we haven't gotten a response for the OP here, I am going to close this. Let us know if this pops up again and we can take another look. Thanks!

[2016-11-01 22:14] #25028 closed

[2016-11-01 22:27] #34382 closed

[2016-11-01 22:33] rallytime commented on #36876
I'm closing this since the fix has been back-ported and merged. This will be available in the 2016.3.4 release.

[2016-11-01 22:33] #36876 closed

[2016-11-01 22:41] #36644 closed

[2016-11-01 22:46] rallytime commented on #34515
This was fixed in #34529 and is available in 2016.3.4 which is currently in the packaging process. Since we didn't hear back here, I am going to close this up. If this pops up again, let us know and we can take another look.

[2016-11-01 22:46] #34515 closed

[2016-11-02 00:10] Cashwini opened #37394 "win_wua.list_updates expects argument"
### Description of Issue/Question
I get the error, `Passed invalid arguments to win_wua.list_updates: The Python instance can not be converted to a COM object` upon executing the command, `sudo salt '*' win_wua.list_updates`

### Setup
Minion is windows 2012 VM with 2016.3.1 salt version and master is Ubuntu VM with 2016.3.3 salt version

### Steps to Reproduce Issue
Run, `sudo salt '*' win_wua.li

[2016-11-02 00:54] pidydx commented on #24216
Has there been any movement or workarounds on this?

[2016-11-02 02:26] konstest commented on #37367
No, I did not know. And I think that I am not full understand: how to use
pillars

On Nov 1, 2016 23:52, "Daniel Wallace" <notifications@github.com> wrote:

[2016-11-02 02:42] SmilentRhino commented on #37291
@gtmanfred Thank you, docker toolbox works well, there must be something wrong with docker for mac, I will check it.

[2016-11-02 02:42] #37291 closed

[2016-11-02 03:25] kaizengliu opened #37395 "bug: salt/utils/network/_generate_minion_id"
[code]
If hosts is empty, then the `if not hosts` will be true,  the `try...catch..` will be executed, but the `hosts.first()` is None

[2016-11-02 03:42] boltronics commented on #22852
Same situation here. Significantly increases the complexity of my setup with this being unimplemented.

[2016-11-02 03:59] mikeadamz commented on #37327
If any of the packages above are patched, Red Hat Recommends a reboot. No checking for in use files or anything crazy. I believe that Debian based distros touch /var/run/reboot-required after installing patches that would require a reboot if the unattended upgrades package is installed.

[2016-11-02 04:12] JensRantil opened #37396 "Missing timeout documentation"
https://github.com/saltstack/salt/blob/develop/salt/client/__init__.py#L840 doesn't document what it returns if `timeout is not None`.

[2016-11-02 04:14] JensRantil opened #37397 "unnecessary parameters"
https://github.com/saltstack/salt/blob/develop/salt/client/__init__.py#L909 takes parameter `tgt` and `tgt_type`, but never uses either of them. Proposal: Remove them.

[2016-11-02 04:18] JensRantil opened #37398 "Unclear hierarchy in PyDoc"
See attached screenshot:

<img width="410" alt="screen shot 2016-11-01 at 18 17 10" src="https://cloud.githubusercontent.com/assets/730342/19916589/80005a9c-a05f-11e6-86ae-63bf4263b5fc.png">
(from https://docs.saltstack.com/en/latest/ref/clients/#salt.client.LocalClient.cmd_async)

Expected: That `Caller` and `LocalClient` are outdented. They are not.

[2016-11-02 04:23] JensRantil opened #37399 "Documentation scroll issue"
When I open https://docs.saltstack.com/en/latest/ref/clients/#salt.client.LocalClient.run_job, `run_job` is hidden so I need to scroll up to see it. This is very annoying when jumping around in the documentation between various references.

This is what is looks like in Chrome 54.0.2840.71 (64-bit) after opening the page without correcting the incorrect offset:

<img width="895" alt="screen shot 2

[2016-11-02 06:33] boltronics commented on #27295
I usually use file.replace, but it only seems to work with regular expressions. If I want to look for a URL which is pulled from a pillar source and is not in regex format, it's probably not going to work so well due to slashes and other characters that have special meanings in regex land.

file.line looks like a solution here, but it clearly has a lot of problems. I'd be happy with file.replace i

[2016-11-02 06:36] #36210 closed

[2016-11-02 08:29] cachedout commented on #37318
PR is merged now. Closing.

[2016-11-02 08:29] #37318 closed

[2016-11-02 08:46] multani commented on #37381
I guess changing the default behavior is not an option? Having another setting for this *could* work I guess, although the default behavior is really surprising.

Honestly, the LXC cloud interface is already complicated enough to use IMO (or the documentation difficult to follow or to understand how all the pieces are fitting together), adding yet another option for this behavior doesn't have a lo

[2016-11-02 08:54] konstest commented on #37367
Yes you full repeated this trouble:
[root@c8f814b1b1f4 ]# cat /etc/salt/minion.d/conf.conf
file_client: local
failhard: true
fileserver_backend:
  - roots
  - git
gitfs_remotes:
  - git://github.com/gtmanfred/salt-jenkins.git
pillar_roots:
  base:
    - /srv/pillar
    - /srv/devops_pillar
[root@c8f814b1b1f4 ]#
[root@c8f814b1b1f4 ]# cd /srv
[root@c8f814b1b1f4 srv]# du -a .
4	./devops_pillar/defaul

[2016-11-02 08:55] oz123 opened #37400 "The commands grains.ls and grains.item do not list custom grains"
### Description of Issue/Question
I would like to use custom grains. I followed the [docs](https://docs.saltstack.com/en/latest/topics/grains/) and added them. My first instinct to see if my changes where applied I restart the salt minion, and issued:
[code]
Alas, my grains where not listed. However if I issued :
[code]
I see the roles added. IMHO, the correct behaviour of `grains.ls` would be als

[2016-11-02 09:09] fedusia commented on #37395
Tried to fix here: https://github.com/saltstack/salt/pull/37402/files

[2016-11-02 09:46] sjorge commented on #37318
@cachedout can we do a backport to carbon, the bug was introduced in carbon but seems I had the PR opened against develop. My bad.

[2016-11-02 09:49] cachedout commented on #37318
Yes. I'll label it as such.

[2016-11-02 10:26] mirceaulinic commented on #35443
It's getting worse, more and more module keep disappearing and ```sync_all`` does not help. Tried also to restart the master, the proxies without any improvement. I will need to downgrade - our instance is literally unusable right now.

[2016-11-02 10:45] mirceaulinic commented on #37385
Hi @gtmanfred I have set the logs at debug level:

[code]

What surprises me is the following line:

[code]

Although the SLS file was rendered properly:

[code]

Because ```arg``` is empty, the redis module will complain and will not set the key:

[code]

[2016-11-02 12:15] lorengordon commented on #27295
@boltronics if file.replace is not working with basic strings, that should be reported as a bug.

[2016-11-02 12:19] lorengordon commented on #37399
I've noticed this with the docs pages as well. It seems to be related to the heading anchors. I think it affects every page, and every anchor.

[2016-11-02 13:13] eradman commented on #15864
I think the entire problem here is that by default `requirements.txt` installed an old version of SaltTesting (see #37366).

Integration tests run on OpenBSD now!

    (saltenv) $ python2.7 tests/runtests.py -m
[code]
     * Setting up Salt daemons to execute tests
[code]
    Starting Module Tests
[code]

[2016-11-02 13:32] gtmanfred commented on #37367
It is not normal behavior, I have tagged it as a bug and we will get it fixed.

[2016-11-02 13:34] gtmanfred commented on #37385
It looks like your reactor file is still this.

[code]

When it should be this

[code]

[2016-11-02 13:37] eradman commented on #15864
Correction: this ticket was placed in 2014, so the trouble I encountered likely has a different cause. @ajacoutot, do you have time to re-test in your environment?

[2016-11-02 13:37] mirceaulinic commented on #37385
I'm sorry for bothering with this - it was in a git repo and the change was stashed when changing the branch, hence the change you pointed out yesterday was lost.
I confirm it works properly now!

Thanks very much!

[2016-11-02 13:47] terminalmage commented on #37327
What is ``-firmware-`` here? Anything that includes that text (i.e. in regex terms, ``^.+-firmware-.+$``?

[2016-11-02 13:57] terminalmage commented on #37327
I think we could do this in a state, but not so much in a remote execution function. We have a pretty well-established behavior for functions that modify installed packages, and that is to return a dictionary of what changed. Making a change to this specifically for one package management frontend is a non-starter. What we *can* do however is add a function to yumpkg.py that will accept a list of

[2016-11-02 14:04] terminalmage commented on #34101
Pull request #37368 has been merged, which significantly overhauls the ``archive.extracted`` state. Rather than re-state what changed, you can view [this diff](https://github.com/saltstack/salt/pull/37368/files#diff-8c5197ae1d9bebf29578f139e8cc8f25R139) from the pull request to see the updates to the release notes for the upcoming 2016.11.0 (Carbon) release.

[2016-11-02 14:07] terminalmage commented on #37317
@gtmanfred I think you're mistaken. But I can still take a look.

@JensRantil Please provide a versions report for the minion (i.e. ``salt minion_name test.versions_report``).

[2016-11-02 14:09] terminalmage commented on #37317
@JensRantil It's also not clear what you mean by "syntax error". Is this ``log-server`` attribute some Jinja variable that hasn't been defined?

[2016-11-02 14:11] rickh563 commented on #22852
This work is under consideration for the Spring Feature-Release of Salt.

Final decisions regarding what will be included in the Spring release will be made in January.

[2016-11-02 14:32] gtmanfred commented on #37395
Thanks for reporting it.

We will wait and see the fix from @isbm

[2016-11-02 14:34] terminalmage commented on #37286
Fixed in #37408.

[2016-11-02 14:34] #37286 closed

[2016-11-02 14:36] gtmanfred commented on #37398
Thank you for reporting this, we should get that fixed.

I have tagged it for the documentation team to look.

[2016-11-02 14:40] gtmanfred commented on #37396
What do you mean?

Whether timeout is None or not, it returns the information about the JID, if the timeout is reached it breaks and raises an error https://github.com/saltstack/salt/blob/develop/salt/client/__init__.py#L1390

[2016-11-02 14:44] gtmanfred commented on #37400
Can you run `salt-call saltutil.sync_grains` and then try again?

I am guessing that they are not synced yet.  I am not able to replicate this behavior with this simple grain in /srv/salt/_grains after a sync_grains.

[code]

[code]

[2016-11-02 14:47] gtmanfred commented on #37397
It does look like those can be removed.

Would you be able to submit a pull request removing them?

Thanks
Daniel

[2016-11-02 14:49] DrunkenAngel opened #37410 "Dockerng results in tupel index out of range."
When running a state.apply on dockerng.image_present I get a Encountered error building *image name* tuple index out of range

This seems to happen whenever I add additional lines to the dockerfile ? just running a RUN zypper ref -s is fine anything more and error.

Build files are here:

https://gist.github.com/anonymous/7e31397744914ad05b4f255871dd6be0

Log from a salt call debug here: https://g

[2016-11-02 15:05] terminalmage commented on #36746
This regressed when @DmitryKuzmenko backported a fix from develop back into 2016.3 in https://github.com/saltstack/salt/pull/37115. Investigating more now.

[2016-11-02 15:14] oz123 commented on #37400
This are not custom grains. I put the grains in `/etc/salt/grains` as pointed in the documentation. This why I didn't expect that  `saltutil.sync_grains` is a perquisite.

[2016-11-02 15:17] cro commented on #35443
I'm sorry, I dropped the ball here.  Let me get you some test code in a little bit.

[2016-11-02 15:20] DmitryKuzmenko commented on #36746
Ooops! @terminalmage sorry for this. Let me know if I could help.

[2016-11-02 15:21] terminalmage commented on #36746
@DmitryKuzmenko no problem, I'm looking into it now, if I have questions I'll ping you :smile:

[2016-11-02 15:21] Snarfingcode666 opened #37413 "Salt-cloud vmware missing reboot command"
### Description of Issue/Question
there is no reboot option in the vmware modules of salt-cloud.  There is a reset command in the code, but it doesn't seem to work.

@cro

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
running development branch of salt

bmccormick@autodeploy-dhcp ~ $ salt --version
salt 2016.11.0-263-g0881caa
bmccormick@autodeploy

[2016-11-02 15:21] gtmanfred commented on #37400
Ahh, that will require a grain refresh.

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.saltutil.html#salt.modules.saltutil.refresh_modules

The grains are static, and since they are not often changed, they will need a grains refresh when they are updated.  You can do this by doing a `salt minion saltutil.refresh_modules`

[code]

I am not sure why your grains.get would see it a

[2016-11-02 15:40] gtmanfred commented on #37410
Can you provide me with a whole set of states that have this problem, so that I can replicate the environment?

Thanks
Daniel

[2016-11-02 15:44] gtmanfred commented on #37394
Unfortunately I am unable to replicate this.

[code]

It is working here on a windows 2012 Standard server VM

[code]

With 2016.3.1 installed

[code]

Can you provide me with any more information about this?

[2016-11-02 15:44] cro commented on #37413
Quick followup to remind me, @Snarfingcode666 reports that reset does seem to work, but it is a hard reset, not a clean reboot.

[2016-11-02 15:46] terminalmage commented on #36746
Fixed in https://github.com/saltstack/salt/pull/37416

[2016-11-02 15:49] gtmanfred commented on #37389
I have marked this as pending discussion so others can put their views here.

It might be best to open a pull request with the changes that you think should be made in develop.

[2016-11-02 15:50] figtrap commented on #35194
Is there perhaps a config directive that will make this message go away?

[2016-11-02 15:51] gtmanfred commented on #37389
@sjorge do you have any opinions on this?

[2016-11-02 15:52] gtmanfred commented on #37381
Unfortunately we cannot just remove it.  It needs to be marked as deprecated, and then have the behavior corrected in a future release.

So an option to disable setting them would be the best way, and then make the option True as the default in the future, especially since what should be happening is that we don't set them at all unless explicitly specified to in the config.

[2016-11-02 15:53] The-Loeki commented on #36849
Most likely also duplicate of #29010

[2016-11-02 15:59] isbm commented on #37395
@gtmanfred I'd say this is not a bug. Here: https://github.com/saltstack/salt/pull/37417

[2016-11-02 15:59] sjorge commented on #37389
[code]

Is what it shows on SmartOS for example.

kernel and kernelrelease look correct to me as kernelrelease is not the same as an OS release.

But osrelease grains should indeed have 'Generic_150400-17'  and osmajorrelease should probably hold '11.3'

I think that should also make the osfinger read 'Solaris-11.3'

[2016-11-02 16:02] gtmanfred commented on #37395
I am going to just conservatively call it a possible bug, and leave it tagged as such, since it could cause an unexpected exception.

[2016-11-02 16:15] isbm commented on #37395
Actually it can't and doesn't but yeah, I've got the point. :laughing: Anyway, fixd.

[2016-11-02 16:17] gtmanfred commented on #37395
Well, it can't *yet* never know when that stuff will get changed by someone else :)

[2016-11-02 16:19] gtmanfred commented on #35194
There is not a config directive unfortunately.  I have tagged the pull request above to be backported to 2016.3

[2016-11-02 16:19] The-Loeki commented on #29010
I'm working on the second problem here and that seems actually not that difficult either;

`extract_hash()` simply searches for `basename` of file.
The Ubuntu checksum file however sits several levels higher, and then says:
[code]

And lo & behold, the erroneous hash returned is that of `./xenial-hd-media/initrd.gz`.

@terminalmage I'm thinking something along the lines of:
[code]

Do you consider

[2016-11-02 16:22] terminalmage commented on #37096
I can't reproduce this at all.

``acSaltEnv`` is not a core grain, so how is this being set for your minions?

[2016-11-02 16:32] gtmanfred commented on #37096
I set it in /etc/salt/grains and then did a refresh_modules.

[2016-11-02 16:36] terminalmage commented on #37096
So did I. Still can't reproduce.

[2016-11-02 16:43] isbm commented on #37395
@gtmanfred Well, so far we have a scanner for all new PRs and trying to stop the wrong :-)

[2016-11-02 16:44] gtmanfred commented on #37096
I published a docker image that has it replicated

[code]

[2016-11-02 16:47] gtmanfred commented on #37399
Can you check this?  It looks like it might have been fixed!

Thanks
Daniel

[2016-11-02 17:05] terminalmage commented on #37379
@gtmanfred I'm afraid I don't know what you mean by "names= can be a list".

Are you talking about a state? Because that is not what @damon-atkins is talking about.

[2016-11-02 17:07] gtmanfred commented on #37379
In the linked issue, https://github.com/saltstack/salt/issues/34851 it mentions that the difference between pkg.upgrade in 2015.8 and 2016.3, name was added to be a list of packages to upgrade, instead of just 'pkgs'

[code]

[2016-11-02 17:17] DrunkenAngel commented on #37410
figured it out was an issue with RUN zypper ref -s not copying the repos as expected this caused an error at the docker build step , Can close or change this to a request to change the logging to somthing which points more to the issue.  only effected the dokerng state

[2016-11-02 17:21] terminalmage commented on #27397
I can't reproduce this on 2015.8.0, or any release for that matter.

[code]

[2016-11-02 17:25] gtmanfred commented on #37410
Thanks

[2016-11-02 17:25] #37410 closed

[2016-11-02 17:26] mafrosis commented on #27397
Wow yeah forgot about this report. I haven't seen this bug in a year, and I'm still using `2015.8.x` - so I would imagine it's been fixed along the way.

[2016-11-02 17:30] terminalmage commented on #26981
@rhansen no, they aren't.

This is a matter of Salt's tornado http client not following the 302 redirect. To be honest I'm not as familar with the fileclient code, so I'm not sure what the best fix is.

@jacksontj may have some insight, I believe he corrected a clunky fix that I made once in the tornado fileclient with a more comprehensive fix.

[2016-11-02 17:33] damon-atkins commented on #37327
Didn't know that about Debian flag file.

Here is an example for dhcpd, if any of the following files are patched then the dhcpd service needs to be restarted.  To do a proper job, there needs to be a lot more smarts. I feel the scope of regex on rpms is tool small.
[code]

[2016-11-02 17:37] terminalmage commented on #36849
@The-Loeki no, this has nothing to do with that, from what I can see.

[2016-11-02 17:37] terminalmage commented on #36849
This is fixed in #37418.

[2016-11-02 17:41] The-Loeki commented on #36849
my bad, got a bit hasty in gathering several different issues with the source hashing ;)

[2016-11-02 17:52] terminalmage commented on #20681
I cannot reproduce this in 2015.8.0 or anything later, it looks to have been fixed in a past release. @llevar your issue might have been something completely different, having to do with tornado's handling of gzip'ed data. That particular issue was fixed earlier today in https://github.com/saltstack/salt/pull/37418.

I'm going to close this. @llevar If https://github.com/saltstack/salt/pull/37418

[2016-11-02 17:52] #20681 closed

[2016-11-02 17:52] damon-atkins commented on #37379
Companies have change control. And it's easy for someone to perform an action which they did not mean to do.  A lot of OS have `alias rm='rm -i'` defined for root by default.  How can we make it safer? I am suggesting playing it safer rather than sorry.

[2016-11-02 17:55] grobinson-blockchain opened #37422 "Upgrade from 2016.3.1 to 2016.3.3. breaks git pillar"
### Description of Issue/Question

I just upgraded salt on our salt master from 2016.3.1 to 2016.3.3 and have the following error:

    2016-11-02 17:50:26,003 [salt.utils.gitfs ][CRITICAL][32352] git_pillar authentication parameter 'privkey' (from remote 'staging git@github.com:xxx/xxx.git') is only supported by the following provider(s): pygit2. Current git_pillar_provider is 'gitpython'.
    20

[2016-11-02 17:55] terminalmage commented on #29010
The reason that ``./xenial-hd-media/initrd.gz`` is matched isn't because it's looking at the basename. It's because ``extract_hash()`` looks for an exact match on the file path passed, and none of these actually match. When no match is found, then it falls back to using the first line which contains a hash (which happens to be the ``./xenial-hd-media/initrd.gz`` line.

A possible fix for this woul

[2016-11-02 18:00] terminalmage commented on #29010
Correction, it looks like ``extract_hash()`` _does_ use basename. I've been hacking around in this code in a number of different branches and I must have confused it with something else.

Looking at the basename of the line in the hash file though, to match it with the basename of the path passed in, should be the correct fix though.

[2016-11-02 18:03] The-Loeki commented on #29010
I'm not sure I follow there; basename of path occurs multiple times in source_hash exactly leading to this error in this specific instance?

[2016-11-02 18:05] ajacoutot commented on #15864
Yup, I just tested an indeed it works \o/

[2016-11-02 18:05] #15864 closed

[2016-11-02 18:16] terminalmage commented on #29010
Yeah, it will, I just came to that realization.

So, there is something else at play here. We pass the path we're going to manage to ``extract_hash()``, so this wouldn't even work properly without some extra changes.

I'm working on a fix now.

[2016-11-02 18:57] Ch3LL commented on #37422
@grobinson-blockchain can you please share your sanitized master configuration? I'm mostly looking for all your gitfs config settings. Thanks

[2016-11-02 19:03] Ch3LL commented on #36713
Looks like we need to add that function to those returners. Thanks for the heads up will need to get this fixed up.

[2016-11-02 19:08] Ch3LL commented on #37189
@YasenT thanks for the additional information. We will need to get this fixed up. will label as a bug thanks.

Just one more question to add more information to this issue. Was this working previously on a different salt version?

[2016-11-02 19:11] Ch3LL commented on #37221
Perfect! I'll close the issue for now. Glad you got it resolved.

[2016-11-02 19:11] #37221 closed

[2016-11-02 19:14] grobinson-blockchain commented on #37422
##### Primary configuration settings #####
    ##########################################
    # This configuration file is used to manage the behavior of the Salt Master.
    # Values that are commented out but have an empty line after the comment are
    # defaults that do not need to be set in the config. If there is no blank line
    # after the comment then the value is presented as an example

[2016-11-02 19:20] Ch3LL commented on #36940
@rehmanzile agreed its not the best solution and it looks like an engineer has been assigned this so i'm sure there will be additional eyes on this. Did upgrading the minions to 2016.3.3 resolve the issue for you though? I think you mentioned it did not so I wanted to clear that up.

I think the easier solution for someone would be to install a 2016.3.3 minion on the master and run that. That way

[2016-11-02 19:48] Ch3LL commented on #36430
Okay I spoke with an engineer offline to see if this intended. He stated that this behavior is definitely intended and expected behavior to ensure there are checks for name conflicts. Its especially important to ensure you don't create a host with the same name across multiple providers.

He did state that there is a possibility to add a feature to simply skip a provider if there is a timeout/issu

[2016-11-02 19:49] d101nelson commented on #37389
@gtmanfred I'll get started w/ a pull request to review.  This is my first time doing this so bear with me for a bit as I read up and figure things out.

@sjorge For consistency reasons, I looked at how other OS's reported 'osfinger' and with the exception of Solaris 10, the numeric value is always the major release version number.  For example, a quick poll of 'osfinger' in my env shows:
[code]

[2016-11-02 21:20] DrMerlin commented on #31280
Me too!

[2016-11-02 21:21] kiemlicz commented on #37322
I need some clarification:
1. Aforementioned _master_tops_ output should only limit the environment used for execution?
2. Aforementioned _master_tops_ output and aforementioned salt-master configuration should have **no effect** on process of picking states to be executed in chosen environment? When do they do have effect on states?

To me this isn't consistent - _master_tops_ output can alter en

[2016-11-02 21:51] Ch3LL commented on #37182
Looks like its working:

[code]

Thanks!

[2016-11-02 21:51] #37182 closed

[2016-11-02 22:00] JensRantil commented on #37396
The documentation states

[code]
which doesn't include any information on what the function does when timeout occurs. I propose that it states "if the timeout is reached it breaks and raises an error " like you wrote above.

[2016-11-02 22:05] JensRantil commented on #37317
@terminalmage

[code]

Ish. `log-server` is a key in the `pillar`dictionary that was missing. Essentially I had `{{ pillar['log-server'] }}` in the jinja template.

[2016-11-02 22:45] cachedout commented on #37395
Fixed by #37417

[2016-11-02 23:19] boltronics commented on #27295
@lorengordon You mean a feature request? There's nothing to indicate it was meant to support fixed strings.

[2016-11-03 01:54] lorengordon commented on #27295
@boltronics no, a bug. strings definitely work. if you are finding they are not, it is either a bug, or a usage error.

[code]

[2016-11-03 02:26] SolarisYan opened #37427 "vmware list_snapshots: a bug?"
Hi there, i found  a bug in the vmware list_snapshots function, when i use salt-cloud -f list_snapshots my-vmware-config name="vmname" to list snapshots of vmname,if the vmname does't have any snapshot,it will return all snapshots on all vm that with snapshots. i think  it should return none. And i add some code to handle it:
[https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/vmware

[2016-11-03 03:16] cachedout commented on #37388
Eh? No. We don't pack `__utils__` into `salt.utils`.

[2016-11-03 03:27] boltronics commented on #27295
@lorengordon But that's just because your string example happens to be regex-compatible. ie. it's no different to running:
[code]

Try this instead:
[code]

This makes perfect sense, since the URL is not a regex but is being treated as one as per the docs. But we can do this instead:
[code]
From the [file.replace](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.state

[2016-11-03 03:41] JensRantil commented on #27295
@boltronics I suggest you file a separate feature request for that. It feels like this really is somewhat off-topic for this issue.

[2016-11-03 03:46] boltronics commented on #27295
@JensRantil I don't see how. I was pointing out a valid use case where file.line is the only obvious solution (if you read the docs), hence the importance of getting the bugs mentioned here ironed out.

[2016-11-03 03:59] boltronics opened #37429 "Feature request: file.replace should support fixed strings"
### Feature request
According to the [docs](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.replace), `file.replace` only supports regular expression pattern matching. It would be nice to be able to parse an argument to the function (maybe `- fixed: True` to indicate the argument to `- pattern` is not actually a regular expression, but actually a fixed st

[2016-11-03 06:09] mikeadamz commented on #37327
@terminalmage you'll need a redhat account, but here's the link. https://access.redhat.com/solutions/27943

@terminalmage `*-firmware-*` is how that should read, markdown parser ate my asterisks..

@terminalmage I think a state would be fine.. We do actually get a dictionary back from the pkg.upgrade. Can I access that output somehow in an orchestration script? If so, I'll gladly iterate through t

[2016-11-03 06:37] damon-atkins commented on #37327
For example if you apply a security patch to libselinux.so.1 and do not restart anything which uses that library. Then you still have a security whole, because all the programs which are still running will be using the old code in memory.

[2016-11-03 07:08] ForaLake commented on #34163
Hello, i'm using salt 2016.3.3 on CentOS 6.7 and meeting the same situation as @WraithCadmus .

I just user salt to restart my service. But when i use `salt minion cmd.run 'xxx.sh restart' runas=nonroot` , user 'nonroot' inherits the ulimit info of user 'root'.

[code]
In this example, my service has the limitation of 1000 after restart.

Is there any easy solution to this?

[2016-11-03 07:42] oz123 commented on #37400
Before opening this issue I asked myself if this is really the expected behaviour. Since I could not decide, I asked another person and he agreed with me. We are both not so familiar with all aspects of salt.
In that case, since you say it expected (if you know the docs), I would suggest to document this behaviour not only in `saltutil`, but also in the [grains document](https://docs.saltstack.com

[2016-11-03 10:15] lorengordon commented on #37429
Helpful example of the issue:
https://github.com/saltstack/salt/issues/27295#issuecomment-258057673

Wondering if maybe a jinja filter for regex-escaping a string would be a more general fix. Ansible seems to have one, http://docs.ansible.com/ansible/playbooks_filters.html#other-useful-filters.

Though, did some testing, and looks like only the question mark needs to be escaped. At least in the st

[2016-11-03 10:45] #37422 closed

[2016-11-03 11:12] alexminder opened #37433 "Saltstack wrong init system while working with services"
### Description of Issue/Question
[code]

Saltstack for Gentoo hosts with systemd try to use openrc/init-scripts.
Accordind to https://wiki.gentoo.org/wiki/Comparison_of_init_systems Systemd is second supported init system.

I think, Salt must use "init" grains to choose init system to use:

[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
[c

[2016-11-03 12:43] EvaSDK commented on #26912
Imho it should just raise an error if the state does not match, removing or overwriting might have unwanted consequences while making the state fail with a clear message makes for easier debugging.

[2016-11-03 13:02] msciciel opened #37436 "New grain for minions meta-data on OpenStack"
It would be nice to have grains with information from  http://169.254.169.254/latest/meta-data/. Openstack provides a lot of useful information about instance for example floating IP. This grains could be parsed if grain productname == "OpenStack Nova". If you agree that this could be usefull I could spend some time to writing it and provide pull request. I see only one disadvantage that for each

[2016-11-03 13:03] EvaSDK opened #37437 "virtualenv.manage needs access to internet"
### Description of Issue/Question

### Setup

I have salt on some nodes that have no access to internet except for HTTP through a proxy.
I upgraded the system from Ubuntu 15.10 to 16.04 LTS and it appears the new virtualenv shipped with this release wants to download setuptools, pip & co updates from internet.

According to [virtualenv changelog](https://virtualenv.pypa.io/en/stable/changes/#id10)

[2016-11-03 13:56] vitalyisaev2 commented on #30577
It seems like this feature will be included in the upcoming release:
https://github.com/saltstack/salt/blob/2016.11/salt/modules/dockerng.py#L543

[2016-11-03 13:59] mirceaulinic commented on #37385
Hi @gtmanfred - if you don't mind, I would have one more question regarding reactors. This time, I would need to use it with a runner, following the pattern for the execution module:

[code]

The runner works fine and can be executed as:

[code]

Looking in the logs, seems like it does not call the runner using the arguments as I would expect:

[code]

Could you please point again what am I missin

[2016-11-03 14:26] mirceaulinic commented on #37385
No, it's just me, foolished myself again...

[2016-11-03 14:26] #37385 closed

[2016-11-03 14:43] damon-atkins commented on #34163
@WraithCadmus  su, login, etc uses pam

Salt just changes the process uid/gid without calling pam.   You are better off having salt run `su user -c
 your_install_script`.

Also `man pam_limits`

[2016-11-03 14:47] terminalmage commented on #37317
OK, thanks for the additional information.

[2016-11-03 15:07] denis-kalinin commented on #29790
I presume this is because of ["Git HTTPS repo using libgit2 in Ubuntu"](https://github.com/libgit2/pygit2/issues/644) &mdash;
you have to build `libgit2 + libssl` youself.

[2016-11-03 15:20] dahrens commented on #34414
i encounter the same issue with salt 2016.3.3 on both debian 8 salt master and freebsd 11 guest when using salt-cloud and vmware connector. There are two keys for the minion on the master afterwards - one accepted and one denied, which prevents the minion connect to the master after successful install.

[2016-11-03 15:32] quasiben commented on #23617
What about doing the following above any states:

[code]

?

[2016-11-03 15:32] gtmanfred commented on #37400
We always welcome pull requests to clean up and clarify documentation!

[2016-11-03 15:47] Qtrain commented on #37133
@gtmanfred When we set up our Salt master configuration, we enabled the file_recv option, but when trying to push files back up to master cp.push is returning false.  We are using salt-cloud.

[2016-11-03 15:51] The-Loeki commented on #23617
AFAIK the Tornado backend *only* listens to config options

https://docs.saltstack.com/en/latest/ref/configuration/minion.html#proxy-host

[2016-11-03 16:00] gtmanfred commented on #37433
I am going to work on replicating this later today.

In the mean time, you should be able to set

[code]
in the minion config, maybe in the grains or pillars, and it will use the systemd module as the service provider for you.

Thanks,
Daniel

[2016-11-03 16:14] fas3r opened #37443 "salt-cloud and openstack : "got an unexpected keyword argument 'auth_token' ""
### Description of Issue/Question

I try to setup Salt and openstack, using the driver nova. In the cloud.providers.d folder, I created a conf file for my openstack. In it, I set the identity_url, compute_region, user, password, tenant and driver.

When I try to query openstack with "salt-cloud -Q -l debug" I get :

Failed to execute 'nova.list_nodes()' while querying for running nodes: __init__()

[2016-11-03 16:20] Tanoti opened #37444 "Returning False from __virtual__ in a returner does not return expected error"
### Description of Issue/Question
According to the documentation on writing execution modules, you can return False and an optional error message from the `__virtual__()` function of a module which will cause Salt not to load the module and report that error to the user.

This does not work for returners. For example, the following code from postgres_local_cache.py should return the "Could not imp

[2016-11-03 16:25] gtmanfred commented on #37443
This is a bug in novaclient, there must be something that has changed in a newer version of the library.

[2016-11-03 16:28] fas3r commented on #37443
Needed to use novaclient from YUM instead of pip.

[2016-11-03 16:43] gtmanfred commented on #37443
I want to leave this open so that I can address the bug in the newer novaclient version.

[2016-11-03 17:01] EvaSDK commented on #37437
FTR, I am currently working around this issue using virtualenv.ini but I would far better prefer passing this through environment variables.

[2016-11-03 17:30] tsaridas commented on #37307
@DmitryKuzmenko
I see you already have a workaround for the issue with : https://github.com/saltstack/salt/pull/35172

This is in carbon though. Could we move it to 2016.3.4 ?

I'm not sure this is the correct fix for the issue but just a workaround until we know the reason minion receives the same jid twice.

I'm guessing there is a race condition somewhere when the minion tries to connect to the

[2016-11-03 18:26] dmurphy18 commented on #37389
os grains are populated by parsing /etc/release on Solaris, probably should be populated by uname and switches

[2016-11-03 19:00] jeanpralo commented on #37018
I am just wondering why should we be passing an option to raise an exception  ? I mean if it does not raise anything, this is sort of broken by default no  ?

Anyway all in favor of fixing it for get_event and so for iter_events as well.

[2016-11-03 19:01] gtmanfred commented on #37433
Hrm, I am unable to replicate this.

I have openrc and systemd enabled, but systemd is the booted init system, and everything is working as expected.

I installed using the minimal iso, and configured it using the basic systemd profile.  Is there any other information you can give me about this?

[2016-11-03 19:10] multani commented on #37381
I perfectly understand the deprecation process, so in this case adding the option makes sense.

I can have a look to make a patch for this, as it's affecting us and I'm already carrying over my patched version of the LXC execution module. Do you have any idea on how this option would look like?

[2016-11-03 19:19] rallytime commented on #36961
I have fixed this in #37447.

[2016-11-03 19:21] rallytime commented on #28972
I have fixed the issue raised in #36961 with #37447. Since we haven't heard back about the original request above, I'll close this up.

If this pops up again, let us know and we can re-open. Thanks!

[2016-11-03 19:21] #28972 closed

[2016-11-03 19:38] Ch3LL commented on #37427
@SolarisYan thanks for making us aware of this. Would you like to submit your fix as a PR?

[2016-11-03 19:43] Ch3LL commented on #37429
Thanks guys. Will approve as a feature request

[2016-11-03 19:45] Ch3LL commented on #37436
ping @gtmanfred can I get your eyes on this one? Do you think this is a good idea to implement? Thanks

[2016-11-03 19:54] Ch3LL commented on #37437
@EvaSDK I haven't used this module before but I am seeing a `env_vars` argument for the virtualenv state module: `salt.states.virtualenv_mod.managed`. So I'm wondering if we can do something similar to the executoin module. In my opinion handling this issue by being able to pass environment variables to the virtualenv is the best solution if its possible. I'll approve as a feature request.

[2016-11-03 19:57] alisson276 opened #37448 "In 'salt/key' events there are acts that never happen"
The documentation about Salt Master Events (https://docs.saltstack.com/en/latest/topics/event/master_events.html#key-events) says: "act -- The new status of the minion key: accept, pend, reject" in KEY EVENTS (salt/key). Anyway, that event never happens.

When using the reactor:
[code]

And email-on-register.sls:
[code]

The emails is only sent in accept and delete (not documented!), but not in pe

[2016-11-03 20:02] Ch3LL commented on #37444
@Tanoti looks like i'm able to replicate this with multiple returners. Looks like we need to make sure we are handling this error properly. Thanks for bringing this to our attention.

[2016-11-03 20:06] NeoXiD commented on #30690
Experiencing the same issue with Salt 2016.3.3 as @JonathanThorpe
A temporary, but ugly workaround: ```{{ variable|replace('\\n', '\n') }```

[2016-11-03 20:24] Ch3LL commented on #34414
Thanks for bumping this for me. I have a theory but was hoping to see either of your sanitized master and minion configs where your seeing the issue. Thanks

[2016-11-03 20:35] thatch45 opened #37449 "Allow TLS connections in the Tornado TCP transport"
The tcp transport just uses tcp connections, we should be able to allow for the master to listen over a tls socket, we would still keep all of the background components for auth and crypt, just allow minions to connect via a tls connection.

[2016-11-03 20:39] rterbush opened #37450 "FreeBSD EC2 deployment fails ssh login"
### Description of Issue/Question
Attempting to deploy a FreeBSD AMI in EC2. The deployment process proceeds to stage of ssh connecting to minion to complete config and hangs attempting to login. Every possible linux login is used (ubuntu, ec2-user, etc.) despite the configuration explicitly setting 'root' as the ssh_username:

I've also tried without setting ssh_username as the docs suggest that

[2016-11-03 20:42] gtmanfred commented on #37436
So, 169.254.169.254 isn't just an openstack nova thing.  It is also used by AWS, and also Openstack Ironic.  It should be more generic than just checking if it is openstack nova.  IMO we should just check if that ip address responds, and then pull the grains and just throw them in a cloud meta data dictionary in grains.

http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html

[2016-11-03 20:45] Ch3LL commented on #34841
works perfect! Thanks

[2016-11-03 20:45] #34841 closed

[2016-11-03 20:46] Ch3LL commented on #37436
Thanks for the input. I'll approve as a feature request then and @msciciel feel free to submit a PR. Thanks

[2016-11-03 20:52] Ch3LL commented on #37062
Perfect thanks for the fix. I'll go ahead and close this issue. I agree this is definitely a different and appropriate way to approach the issue especially if there are concerns about the returns from teh vultr api. Thanks for the fix.

[2016-11-03 20:55] rallytime commented on #31135
I can reproduce this. The stack trace comes through when you run it with salt-call and `-l debug`. A fix is incoming.

[2016-11-03 21:04] rallytime commented on #31135
@jeffreyctang This is fixed by #37452. Thanks again for the good report here.

[2016-11-03 21:05] Ch3LL commented on #33701
@duk3luk3 thanks for bumping this for me. Looks like this is a duplciate of #34855 which deals with salt-ssh not stopping execution of state runs if there is an issue with the pillar. Do you agree with this assessment? I f so we will go ahead and close this issue and track it in that issue. Thanks

[2016-11-03 21:12] gtmanfred commented on #37388
woops, yeah i completely missunderstood.

sorry

[2016-11-03 21:20] rallytime commented on #31025
Hi @byronclark - apologies for not coming back to this issue sooner. Thank you for fixing this issue. We are no longer accepting fixes to that branch unless it is for a security issue, so I won't be merging this fix into 2015.8.

However, I did check and realized this fix is not in the 2016.3 branch yet either. I will back-port your fix to 2016.3 right now and it will be available in the 2016.3.5

[2016-11-03 21:32] klausfiend opened #37454 "Pass environment variables to pkg methods"
### pkg methods would benefit from being able to pass environment variables

The context of this feature request is:

We use **pkg.list_upgrades** and **pkg.install** as part of an internal web-based patch management tool. There's an esoteric RedHat bug in some versions of _nss-softokn_ that causes commands like _yum_ to fail abruptly; it can be worked around using an environment variable, but set

[2016-11-03 21:33] Ch3LL commented on #37448
@alisson276  which version of salt are you seeing this in?

I tested in 2016.3.3 and I am seeing the reject event but not the pending event in salt/key.

Although I am seeing those events in salt/auth. Maybe as a workaround you can use that event instead. I will label as a bug for at least the pending event not showing up but i am seeing the reject event as shown below:

[code]

[2016-11-03 21:41] Ch3LL commented on #37450
@rterbush just make sure root is the correct login. Can you manually ssh into the box after its created?

[2016-11-03 21:48] rallytime commented on #31025
Oh! It looks like I spoke too soon. When attempting to backport your fix I discovered through a merge-conflict that your change _was_ back-ported to 2015.8 with #33396, which also built on your work.

I'm going to go ahead and close this as resolved. Please let us know if this pops up again and we can take another look. Thanks!

[2016-11-03 21:48] #31025 closed

[2016-11-03 22:21] duk3luk3 commented on #33701
Yep, looks like that's a duplicate.

[2016-11-03 22:38] rallytime commented on #31081
Hi @JensRantil - I think I have addressed all of your concerns about the `file.line` function. You had some good questions. I think #37457 will help clear up some of the confusion. Please take a look and let me know what you think.

[2016-11-03 22:39] rterbush commented on #37450
Affirmative

[2016-11-03 22:49] boltronics commented on #37429
But there are other not so obvious implications too. Eg, a '.' if not escaped would match any character, not just an actual dot.

I'm also surprised Salt happily accepts `/` without being escaped, however that does indeed appear to be the case.

[2016-11-03 22:58] lorengordon commented on #37429
Of course, I didn't intend that as an excuse _not_ to support regex-escaping the string. :)

It doesn't look like `/` is a regex special character, according to the [`re` docs](https://docs.python.org/2/library/re.html#regular-expression-syntax)? What would typically be the problem there?

What do you think about a jinja filter instead of a param on `file.replace`?

[2016-11-03 23:00] fake-name commented on #37062
To be clear, the #37170 alone **does not** fix this issue. I'm not sure what the current tags mean (does "blocked" mean it's a genuine issue, but not solvable atm?).

The additional extensions to `bootstrap-salt.sh` [above](https://github.com/saltstack/salt/issues/37062#issuecomment-254403310) do fix the issue, but in a rather brute-force way, which is what I was interested in comments on. I'll op

[2016-11-03 23:04] danlsgiga opened #37458 "rest_cherrypy - salt-api - How to change HTTP response status from runner client?"
I'm using the Salt-Api with the runner client for a long time but there's one specific requirement for our team to have specific HTTP status on the api returns based on the execution of our runners.
What happens is that I'm unable to specify in the runner level what should be the HTTP status code for specific conditions of the runner execution:

So, for example, we have a runner that does an autom

[2016-11-03 23:13] gtmanfred commented on #37062
Yeah, we need to leave this open.

What I would say, you should let vultry know what changes you made, and that they are still running their deployment scripts after the server goes into active state.  The really correct way to fix it is what you did, but if they are not giving us any information on what to do, it may require adding another step into the vultr create function to login and run that

[2016-11-03 23:16] rterbush commented on #37450
This may potentially be related to this #34872

I see the provisioning process attempt root@ login earlier in the process, so I will change the title of this report to reflect what I am seeing more accurately.

[2016-11-03 23:26] rallytime commented on #26927
Fixed via #28159

[2016-11-03 23:26] #26927 closed

[2016-11-03 23:33] EvaSDK commented on #37437
Yep, I expected to be able to use that but it is currently only passed to the pip module.

[2016-11-03 23:34] whiteinge commented on #37458
This is not currently possible. Salt's Python API only supports passing the return value through to the caller, no additional meta data. There is an in-progress effort to add the ability to programmatically determine the exit value of a function call in Salt which will eventually be exposed at the CLI as exit codes and via the REST API in the form of HTTP status codes. See #18510 and #37043 for mo

[2016-11-03 23:49] mchugh19 commented on #32497
Seems to work now.
[code]
only returns a single minion now as expected. Rad!

[2016-11-03 23:49] #32497 closed

[2016-11-04 00:18] bortels commented on #34612
Just a note - I have run into a variant of this, in that my users have an uncanny ability to break the system python, and the salt minion along with it. They tend to break yum as well, double whammy. I am wondering how feasible it would be to install salt somewhere (/opt/salt or such) along with it's own python and any other dependencies, so I could use it to fix the rest. I have the advantage of

[2016-11-04 00:46] boltronics commented on #37429
@lorengordon No worries. Sorry, didn't mean to imply otherwise, but just figured I'd point out that there can be more than meets the eye. :)

Regarding `/`, that's a good point and thanks for bringing it up. I'm quite used to dealing with regular expressions with various command line tools, where `/` often has a special meaning. eg.
[code]
But it does appear to have no special meaning in Python. L

[2016-11-04 01:01] damon-atkins commented on #37454
Rather than looking at a single need. Here are a few thoughts:
- Maybe possible to set environment variables for the whole of a state run   e.g. new `state.env_runtime`
- Maybe possible to have the minion load environment variables from a configuration file.
- Or both

[2016-11-04 01:14] lorengordon commented on #37429
Ok, cool. But, gonna point out that with `sed`, the `/` is just a separator token, not a regex special case. You can use pretty much any character instead, and then `/` loses its special meaning. e.g. `echo 'abc123' | sed 's|c1|/|'`. It's a good trick particularly with urls as it makes it easier to write more nicely formatted sed expressions. I'm less familiar with perl, not sure if it is similar.

[2016-11-04 01:20] klausfiend commented on #37454
IMO either of those approaches would be awesome.

[2016-11-04 01:28] boltronics commented on #37429
That's true. Perl seems happy to substitute the `/` character also.

Agreed, `re.escape()` is also appears to be a good option. I wasn't aware that method existed. :)

[2016-11-04 01:41] damon-atkins commented on #37429
Might be worth adding a line to the doco as an example
`python -c 'import re;print re.escape("Escape.Me*IfNeeded?")'`

[2016-11-04 02:13] fake-name commented on #37062
The issue I have here is that I spent a little while trying to see what vultr is doing, and I can't actually see what it is. If I ssh into a new VM on them as soon as it's available and run `ps`, I don't *see* anything running. I'm not sure if the issue is actually something Vultr is doing, or some bizarre interaction between something in vultr's ubuntu image and the deploy script.

[2016-11-04 02:20] lorengordon commented on #37429
Here's a diff adding a `regex_escape` jinja filter:

[code]

Output looks nice and clean still:

[code]

[2016-11-04 02:50] boltronics commented on #37429
Nice one! So the output is just the diff and doesn't print the actually regex used - makes sense, and very convenient here! :)

I also agree that if going with the jinja approach, an example using it would be useful to add to the file.replace documentation.

[2016-11-04 04:12] #37381 closed

[2016-11-04 05:09] quasiben commented on #23617
@The-Loeki looking through that I noticed that the minion doesn't support https proxying.  Is that correct?

[2016-11-04 09:46] The-Loeki commented on #23617
No, the idea is you specify in the config a `backend`.
Of that you have three choices:
* `requests` : Uses http://docs.python-requests.org/en/master/ ; this backend *should* listen to the env vars we all know (ftp/http(s)_proxy)
* `urrlib2`: No clue, haven't used this one
* The default, Tornado: uses config options `proxy_*` to determine proxy usage.

Both backends need PyCuRL IIRC to do the proxy

[2016-11-04 09:51] fbretel commented on #23969
Ok found the origin! Had a node/npm install in `/usr/local`. So npm was found by `salt.utils.which`, but obviously not by `salt['cmd.run']`. This was in 2014.7, but has seemingly been fixed in 2015.5.

[2016-11-04 09:51] #23969 closed

[2016-11-04 10:08] ghost opened #37461 "Improve error message in gitfs for private key file without trailing newline"
### Description of Issue/Question

If you attempt to use GitFS with a private key that does not have a trailing newline you get the following cryptic error message:

    failed to authenticate ssh session waiting for userauth response

However, the exact same private key file works with both `ssh -i` and `git`. There is little information about this error on Google search. Would it be possible to

[2016-11-04 10:17] alisson276 commented on #37448
The version is "salt 2016.3.3 (Boron)". For reject my test was renegenerate a new key in minion, but now i see that test is not ok, because the key is denied not rejected.

I made test with salt/auth too (and work it for "pend"), but the problem is that it generates one event every ~10s. I need to get only one event for sent email for the administradors for them to authorize the minion.

[2016-11-04 10:43] luitzifa opened #37462 "Rendering of templated files is different when test=true in 2016.3.3"
### Description of Issue
**Note: This Bug does not affect 2016.11.0rc1**
When i use file.managed the rendered file differ from expected result and result shown in dry run:
[code]

### Setup
You can use this repository to reproduce:
https://github.com/luitzifa/salt-testrun-templating-bug

### Versions Report
[code]

[2016-11-04 12:06] EvaSDK commented on #35989
Would it be possible to get this in a release, it is a bit annoying to have to patch every new installation.

[2016-11-04 13:11] L4rS6 opened #37463 "Executing commands by targeting minions by pillar does not work with new pillars"
### Description of Issue/Question
When a new pillar is assigned to a minion and I try to target that minion by the pillar (salt -I '<pillar-name>') it can't execute any command (e.g. state.highstate, test.ping, state.sls). As described in the documentation (https://docs.saltstack.com/en/latest/topics/targeting/pillar.html => Note section) after a highstate the salt-master recognizes the new pillar

[2016-11-04 13:49] meng-fu opened #37464 "archive.extracted not working when using source_hash_update and if_missing"
### Description of Issue/Question
I am trying to use the source_hash_update and if_missing parameters as an OR condition to determine if an archive should be extracted.  ie. If the source hash has changed _OR_ the target directory is missing then the state should execute and extract the archive again.

### Setup
**Master:**
Salt Version:
           Salt: 2016.3.3

Dependency Versions:
           c

[2016-11-04 13:55] gtmanfred commented on #37062
I am going to try and take a look into it today or monday when I have time.

[2016-11-04 14:00] lorengordon commented on #37429
Ok, submitted that as a possible solution, see #37465.

[2016-11-04 14:22] gtmanfred commented on #37464
Thanks for reporting this.  I have tagged it with our platform team to take a look.

If you could take a look, we love pull requests.  My guess is that if source_hash_update is set to True, archive.extracted just returns and doesn't check any of the other information about the state

Thanks
Daniel

[2016-11-04 14:33] boltronics commented on #37429
Looks good!

[2016-11-04 14:35] Cashwini commented on #37394
@gtmanfred I have no problem using this on windows 8.1. It is only on windows 2012 that I am getting this error.

[2016-11-04 14:36] gtmanfred commented on #37394
Can you provide me with the `salt "minion" test.versions_report` from that windows minion please?

I booted a windows server 2012 image on the rackspace cloud to test this.

[2016-11-04 14:41] Cashwini commented on #37394
[code]

[2016-11-04 14:42] Cashwini commented on #37394
[code]

[2016-11-04 14:44] gtmanfred commented on #37394
Ok, so they are the same version.

[code]

Mine reports as a windows server 2012 R2 Standard with osfullname.

Unfortunately I am unable to reproduce the error :(

[2016-11-04 14:51] sjorge commented on #37389
Let me dig into this a bit...

[2016-11-04 15:10] Ch3LL commented on #33701
Perfect thanks. Will close here :)

[2016-11-04 15:10] #33701 closed

[2016-11-04 15:27] rehmanzile commented on #36940
@Ch3LL I did not try upgrading the minions. With 50+ minions in the environment, it was not a feasible option for me.

[2016-11-04 15:40] duk3luk3 opened #37468 "salt-ssh: singledispatch, backports.abc missing from thin"
### Description of Issue/Question

Running salt-ssh from develop causes `ImportError: No module named singledispatch` on the minion.

[code]

### Setup

Development virtualenv of salt, set up like this:

[code]

Salt-SSH Config: https://github.com/duk3luk3/salt-ssh-minimal/commit/3f2584198ac8344c552ae0846d525927e85748e5

### Debug log

[code]

### Versions Report

[code]

[2016-11-04 15:42] rallytime commented on #35989
@EvaSDK This fix is in the upcoming 2016.3.4 release.

[2016-11-04 15:50] dahrens commented on #34414
@Ch3LL thanks for taking care

While collecting the configs I noticed that there are also two keys on the fresh freebsd minion.
One is located in `/etc/salt/pki` and another one in `/usr/local/etc/salt/pki` - `/etc/salt/` includes __only__ the keys - the real installation is inside `/usr/local/` - those keys differ.

[code]

I don't know why `config_freebsd_salt()` appears two times in the log - b

[2016-11-04 15:57] terminalmage commented on #32933
This is likely fixed by a combination of #37081 and #37469, I'll investigate more later to confirm.

[2016-11-04 15:58] sjorge commented on #37389
After some tweaking on SmartOS

[code]

[2016-11-04 16:03] oliver-dungey opened #37470 "saltutil.sync_modules returns failure on success via salt-api calls"
I am using Salt 2016.3.2. When I run `saltutil.sync_modules` from the command line it works perfectly and `echo $?` returns 0 as expected. When I add a salt-api call (via Jenkins plugin) `sync_all` always reports an ERROR even though it is working perfectly as can be seen by the output from Jenkins:
[code]
If I swap the Jenkins call to `sync_all` it all works fine - there must be something wrong i

[2016-11-04 16:12] rallytime commented on #36818
I have fixed some of the documentation issues that were raised here in #37457. That doesn't really address the concerns discussed in #33751 as far as function functionality goes, but it should at least clarify how the function works as-is, currently, in the documentation.

[2016-11-04 16:34] whiteinge commented on #37470
Thanks for the report. Few follow-up questions:

* What call to salt-api is Jenkins making?
* What is the full response from salt-api for that call?
* How are you determining failure from that call?

[2016-11-04 16:34] arthurzenika opened #37474 "manage.safe_accept fails on TypeError: expected string or buffer"
### Description of Issue/Question

[code]

going verbose seems to show that the command on the minion side (via salt-ssh) is working :

[code]

### Steps to Reproduce Issue
install salt-minion (via salt-ssh but I don't think that's related) and when key hasn't been accepted run salt-run manage.safe_accept host on the master.

### Versions Report
[code]

[2016-11-04 16:55] dahrens commented on #34414
Found this one in salt-bootstrap: https://github.com/saltstack/salt-bootstrap/pull/970 which is included in the current stable version since a few days. so `salt-cloud -u` fixes the issue for me.

[2016-11-04 17:28] aabognah opened #37475 "transient/incosistant custom grains"
### Description of Issue/Question
I am using custom grains module to define roles, based on those roles certain states are applied. The roles are managed in a text file on the master that is then read by the custom grains module. but it seems that the module sometimes fails to read the file and that causes the custom grains to be cleared!.

Q1. Why are the custom grains cleared when the module can

[2016-11-04 17:39] Joshua-Weeks commented on #37463
I ran into the same issue.
Some pillar data was removed and some was added to a minion.
**pillar.items** returned the correct data on the master and minion.
**pillar.get** could not see the new data, but could find the old data.
**salt-run cache.clear_pillar** had no effect.
The minion restart fixed the issue.

salt-master
[code]

salt-minion
[code]

[2016-11-04 18:34] erewok opened #37477 "Salt-Cloud: If you switch profiles file with providers files, the error message is confusing"
### Description of Issue/Question

### Setup
salt versions tried: 2016.3.3, 2016.3.1, 2015.8.2 (Not sure if still applies to dev/recent salt version)
OS: Ubuntu 16.10 and CentOS (um, don't remember offhand)

### Steps to Reproduce Issue
We have the following files:

[code]

These are pretty generic: they look very similar to [documentation examples](https://docs.saltstack.com/en/latest/topics/clou

[2016-11-04 19:03] ekollof commented on #34414
That might just be the thing. I'll do some testing when I get some time.

On 4 Nov 2016 5:56 pm, "Dennis Ahrens" <notifications@github.com> wrote:

Found this one in salt-bootstrap: saltstack/salt-bootstrap#970
<https://github.com/saltstack/salt-bootstrap/pull/970> which is included in
the current stable version since a few days. so salt-cloud -u fixes the
issue for me.

—
You are receiving this b

[2016-11-04 19:31] rallytime commented on #34414
Thanks for updating this @dahrens!

@ekollof Let us know how your testing goes!

[2016-11-04 19:35] Ch3LL commented on #37454
@klausfiend is this module not applicable [here](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.environ.html)

I believe it sets environment variables only for that salt command you are running.

[2016-11-04 19:39] Ch3LL commented on #37461
@grobinson-blockchain I think this is reasonable enough. We could add some better error reporting to ensure the formatting of the config is correct. Thanks

[2016-11-04 19:54] eXistenZNL commented on #18836
Exactly what I need right now. No wonder, since @syphernl is a collegue of mine and we sometimes work on the same kinds of stuff :D

[2016-11-04 20:01] dmurphy18 commented on #37389
@sjorge I used a Solaris 11.3 image (freely downloadable) for Intel on a VirtualBox VM  to access the OS information for uname, etc. From my Intel VirtualBox VM for Solaris 10

root@unknown:~# cat /etc/release
                       Solaris 10 10/09 s10x_u8wos_08a X86
           Copyright 2009 Sun Microsystems, Inc.  All Rights Reserved.
                        Use is subject to license terms.

[2016-11-04 20:06] dmurphy18 commented on #37389
@sjorge for Solaris 11.3 Intel on VirtualBox VM

root@sol11:~# cat /etc/release
                             Oracle Solaris 11.3 X86
  Copyright (c) 1983, 2015, Oracle and/or its affiliates.  All rights reserved.
                            Assembled 06 October 2015
root@sol11:~#
root@sol11:~# uname
SunOS
root@sol11:~# uname -v
11.3
root@sol11:~# uname -i
i86pc
root@sol11:~# uname -m
i86pc
root@so

[2016-11-04 20:12] sjorge commented on #37389
Thanks, this gives me a few more things to tweak!

[2016-11-04 20:39] sjorge commented on #37389
Made a few more tweaks, it now recognized Oracle Solaris as a distinct variant and uses uname_v for the version tuple to get the correct minorrelease.

Adding OmniOS support too now

[2016-11-04 20:42] lorengordon commented on #18836
I've got kind of a proof of concept. Not sure how to write tests for it. Gonna do some manual testing...

[2016-11-04 21:29] Ch3LL commented on #37462
@luitzifa i just tested this and it seems to be fixed in 2016.3.4. Can you confirm that is also true for you?

[2016-11-04 21:37] Ch3LL commented on #37463
What about running `salt '*' saltutil.refresh_pillar does that resolve the issue? In my test case it does.

[2016-11-04 21:50] d101nelson commented on #37389
@sjorge You found a Solaris 8 system?!  I see why the parsing of /etc/release to get a better idea on release info.  Unfortunately, this breaks w/ Solaris 11.
[code]
Perhaps we should do things differently depending upon Solaris 10 or earlier and Solaris 11 or later.  I've a Solaris 11 SPARC system that I can develop against.  I took a stab at SmartOS (don't have one handy).  If you want to handle

[2016-11-04 22:01] rallytime commented on #33844
I'm going to close this up since we haven't heard back here. Leave a comment if this issue comes up again and we'll take another look.

[2016-11-04 22:01] #33844 closed

[2016-11-04 22:03] rallytime commented on #34298
@phil123456 Were you able to give that fix a try as suggested above?

[2016-11-04 22:04] rallytime commented on #33589
This should be fixed with #26241. Since we haven't heard anything here, I'm going to close this. If this pops up again, let us know!

[2016-11-04 22:04] #33589 closed

[2016-11-04 22:09] rallytime commented on #33540
Hi @aronneagu - looks like this was fixed about a month ago and should be available in the upcoming 2016.3.4 release. Can you report back here once you've had a chance to test?

[2016-11-04 22:10] lorengordon commented on #18836
Seems to work for me. Please give it a go and let me know if you have any problems. #37489

[2016-11-04 22:12] rallytime commented on #16677
Hi @johtso the fix in #36607 should help here. It will be available in the 2016.3.4 release of salt. Please let us know if we can close this ticket once you've had a chance to test. Thanks!

[2016-11-04 22:12] #16967 closed

[2016-11-04 22:21] Joshua-Weeks commented on #37463
Refreshing the pillar didn't work, it's why I started looking at cache clearing.

[2016-11-04 22:24] rallytime commented on #35205
Ah, I forgot to come back around here and close this. The compact outputter has been removed in #35918.

[2016-11-04 22:24] #35205 closed

[2016-11-04 22:25] rallytime commented on #36228
Let's track this in the duplicate issue. Closing.

[2016-11-04 22:25] #36228 closed

[2016-11-04 22:47] szjur commented on #37307
@DmitryKuzmenko, @cachedout

I tried to reproduce the duplicate connection by restarting some syndics but it doesn't really happen when you want it to. Then next morning to noticed that on an otherwise idle minion this problem happened over night. All it was doing that night was running __master_alive every now and then. Please see the log:

2016-11-04 01:25:48,756 [salt.utils.schedule ][INFO    ]

[2016-11-04 22:47] eXistenZNL commented on #18836
Wow that's amazing!

I fixed it tonight like this:

[code]

Not the cleanest but it works in the meantime until someone picked this up, which has been done already. Amazing!

[2016-11-04 23:54] garethgreenaway commented on #11164
@timwsuqld @jgmchan Apologies for the delay in responding on this one.  I remember dealing with this before and the root of the issue was the major differences with how networking is handled on Debian based machines vs. Red Hat machines.

On RH machines the gateway is definable in a separate location than the interfaces, whereas on Debian machines it's defined with the interfaces.  This gets trick

[2016-11-05 01:58] damon-atkins commented on #37389
I think Salt does not need to support Solaris 9 and older.    Does SaltStack have any Enterprise customers on old versions of Solaris?

http://www.oracle.com/technetwork/server-storage/solaris/overview/releases-jsp-140987.html

![image](https://cloud.githubusercontent.com/assets/9368124/20026830/f9040ad4-a356-11e6-9253-8948574c773b.png)

[2016-11-05 05:27] JensRantil opened #37491 ""Failed to authenticate! ..." error should exit non-zero"
<img width="1086" alt="incorrect-exit-code" src="https://cloud.githubusercontent.com/assets/730342/20027855/96ebb474-a2c4-11e6-999a-a0f277b1f3d6.png">

I was getting the above error because I had not added proper user to `client_acl` configuration.That's all fine and dandy, however, I noticed that my build server was not failing a job when I got this error. That's because it's exiting with 0 exit

[2016-11-05 06:28] klausfiend commented on #37454
Hrm, that may be possible. We are calling Salt functions via REST API that talks to our Salt master servers, so statefulness is kind of impossible through the API, but I gather the application code could be modified to call a state file that sets up an environment and then wraps functions like _pkg.list_upgrades_. I'll do some more digging around next week and see if that's a possibility.

[2016-11-05 07:52] JensRantil opened #37492 "Failing `salt -b 1 minion state.highstate` has wrong exit code"
Executing `salt -b 1 myminion state.highstate` always exits with 0 even if states fail. Running `salt myminion state.highstate` has (correctly) non-zero exit code.

[code]

[2016-11-05 09:02] luitzifa commented on #37462
@Ch3LL Yes, it's fixed in 2016.3.4   Thank you

[2016-11-05 10:15] L4rS6 commented on #37463
@Ch3LL Yes, after calling `saltutil.refresh_pillar` it worked. But a highstate should do the same, shouldn't it?

[2016-11-05 11:19] sjorge commented on #37389
Alright, then we should be good with the PR.
The regex handles 10, 11, OpenIndiana, OpenSolaris (untested) and OmniOS. SmartOS is handled separately.

[2016-11-05 18:44] msciciel commented on #37436
So finally should we just check availability of 169.254.169.254?  I'm wondering if is there better solution because it could bring some latency into grains generation when this address is not available or responding slowly.  But on the other side short timeout to that connection could be enough. I'm not aware now about 100% sure way of determining if instance is ec2,  ironic or nova instance but i

[2016-11-05 21:23] alexminder commented on #37433
As I understand, check for systemd environment uses this code:

...salt/modules/systemd.py:
[code]
So, 'kernel' grains must be 'Linux' and "salt.utils.systemd.booted" must be 'True'.

How about "salt.utils.systemd.booted" ?.
...salt/utils/systemd.py:
[code]
[code]

I set provider option to the /etc/salt/minion and restartet salt-minion:
[code]
With this option systemd module works fine:
[code]

[2016-11-05 21:55] alexminder commented on #37433
If I broke the condition os=Gentoo, salt choose right init service:
salt/modules/gentoo_service.py:
[code]
Very strange condition. It does not have check for systemd.

What we have for Debian systems:
salt/modules/debian_service.py:
[code]

So, I made the patch which fix the issue:
[code]

[2016-11-05 22:11] alexminder commented on #37433
It looks strange for me, that you can't reproduce the issue.
I had check the history and found the issue has been fixed in the latest release by https://github.com/saltstack/salt/pull/36010 .

[2016-11-06 01:34] #18836 closed

[2016-11-06 01:45] #167 closed

[2016-11-06 01:54] #37429 closed

[2016-11-06 09:22] tsaridas commented on #37018
iter_events is being used in reactor, cherrypy and raet so yes it would make sense to raise an exception and try to catch it in all places being used or all the above would have issues when master is restarted.

[2016-11-06 12:59] zolech commented on #23588
Exactly same problem here with downloading geolite db. Thanks for the solution @EvanPurkhiser !

[2016-11-06 21:03] lorengordon commented on #23588
Can someone provide an example state and the debug output where it is not working? I can maybe squeeze in some time this week to investigate the issue.

Also, the archive.extracted state looks to have gotten a _ton_ of work for the Carbon (2016.11) release. So, maybe test against that first to see if maybe this is working now...

[2016-11-06 22:14] githubcdr commented on #36402
I noticed that the 'priority' flag seems option breaks this.

This works (2016.3.4)

[code]

Omitting priority return True, but message is never sent.

[code]

I added priority to pillar but no effect.

[2016-11-06 22:25] githubcdr opened #37498 "service.restart salt-minion fails on Ubuntu 14.04.5 LTS"
###

This fails

[code]
### Setup

Default Ubuntu 14.04.5 LTS installation

### Versions Report

[code]

[2016-11-06 23:11] #37462 closed

[2016-11-06 23:12] #37395 closed

[2016-11-06 23:22] #37388 closed

[2016-11-06 23:22] #37238 closed

[2016-11-06 23:23] #36961 closed

[2016-11-06 23:25] cachedout commented on #36679
@lorengordon I certainly wouldn't object to a backport to 2016.3 if you want to submit one there. Does look like this issue is resolved though so I'm going to close this unless there's an objection.

[2016-11-06 23:25] #36679 closed

[2016-11-06 23:26] cachedout commented on #36557
Closed via #36851

[2016-11-06 23:26] #36557 closed

[2016-11-06 23:35] cachedout commented on #36489
@sjmh Did the sample code from @s0undt3ch work out for you?

[2016-11-06 23:37] #35417 closed

[2016-11-06 23:38] cachedout commented on #35342
I vastly prefer not to introduce behavioral changes into minor releases unless absolutely necessary, though I will defer to @UtahDave and @twangboy on this one.

[2016-11-06 23:39] #34298 closed

[2016-11-06 23:41] #32863 closed

[2016-11-06 23:41] #31765 closed

[2016-11-06 23:57] damon-atkins commented on #35342
At this stage people using salt for Windows should be encourage to upgrade the salt client.  There are many improvements with each release.  Particularly  Carbon/2016.11 has a lot of improvements.

The other alternative is to take all Carbon "as is" `win_*.py` and copy them back (including dependency) to 2016.3 and write a large amount of text in the release notes.  2016.3.4 out now, you could tur

[2016-11-07 00:13] cachedout commented on #37448
In this case, the documentation is incorrect. I have updated it in #37499

[2016-11-07 00:28] thatch45 commented on #37018
My concern is to avoid changing behavior without explicitly adding the option. Many people use the event system api and I don't like pulling the rug out from under people unless we have to. Hence why I would rather make it an option.

[2016-11-07 00:41] jeanpralo commented on #37018
True, makes sense.

Well #37438 is fixing  so I guess we can close #37335  ?

[2016-11-07 01:04] cachedout commented on #37444
Please give #37502 a try.

[2016-11-07 01:56] cachedout commented on #36713
While those returners do need to be fixed up, the root of this problem is not correctly handling the lack of this function. I have corrected that oversight here: https://github.com/saltstack/salt/pull/37503

[2016-11-07 01:58] cachedout commented on #36448
@ahammond Since your switch to ZMQ, has this situation continued to improve?

[2016-11-07 02:00] cachedout commented on #35503
@MaxBosse Could you provide an update here? Has this situation been resolved with 2016.3.3?

[2016-11-07 02:03] cachedout commented on #33807
@kev009 Does this ring any bells for you by chance?

[2016-11-07 05:38] lwillek commented on #31978
Update: same bug after update to 2016.3.4
[code]
still the same workaround:
[code]
Regards, Lutz Willek

[2016-11-07 06:43] phil123456 commented on #34298
nop, never tried it again, I used append to add the line to the "interfaces" file

[2016-11-07 08:02] eliasp opened #37506 "states.postgresql_database.absent reports DB in use as "not present""
### Description of Issue/Question

When trying to remove a DB which is in use using `postgresql_database.absent` the resulting error message wrongly indicates the DB wouldn't be present instead of it being "in use".

### Setup

Make sure to have a PostgreSQL DB setup and in use.

### Steps to Reproduce Issue

Try to remove an existing (and used) PostgreSQL DB using: `salt-call --local state.single

[2016-11-07 09:34] #37427 closed

[2016-11-07 09:38] morganwillcock commented on #35342
Just to clarify, I'm suggesting to add the recursive delete of SLS files to stable branches, not backport everything from the commit that implemented it.

[2016-11-07 09:58] Tanoti commented on #37444
@cachedout Thanks, that works a treat. Looks like we still need to add some error trapping to elasticsearch_return.py so that it catches not being able to call a function from the elasticsearch salt execution module.

[code]

[2016-11-07 10:20] elyulka opened #37507 "zfs.volume_present state always updates state and fails if volblocksize property set (besides first run)"
### Description of Issue/Question
If zfs.volume_present has defined property `volblocksize` then module tries to update it but volblocksize can be specified only at creation time.

Why it tries to update it if `zfs get all zroot2/swap` returns:
[code]

### Steps to Reproduce Issue

Define state:
[code]
Apply first time (create volume): `$ salt  '*' state.highstate`
Apply next time: `$ salt  '*' st

[2016-11-07 13:10] Rumbles opened #37510 "Find maxdepth doesn't mirror system find command"
### Description of Issue/Question

If I run the following file.find on a server, I get no response for maxdepth=0 but I get depth 0 and 1 when I run maxdepth=1:

$ sudo salt "logstash*" file.find /home type=d maxdepth=0
logstash.dev.domain.com:
$ sudo salt "logstash*" file.find /home type=d maxdepth=1
logstash.dev.domain.com:
    - /home/backup
    - /home/backup/.ssh
    - /home/user1
    - /home

[2016-11-07 13:13] jdelic opened #37511 "service.dead now only operates if the service file exists"
# Issue

Previous to 2016.3.4 it was possible to have a `service.dead` state for a service that didn't exist on the system in the first place. 2016.3.4 now reports "The named service XYZ is not available". This makes it impossible to use Salt to ensure that a service is either disabled *or* not installed. It can now only be disabled.

In my repository I have two service states for Hashicorp consul

[2016-11-07 13:31] jdelic commented on #35069
@Ch3LL This problem persists on `2016.3.4`. This issue is still tagged as "Info needed"... anything else I can provide?

[2016-11-07 13:49] jettero commented on #7532
Is there way to vote this up with a cash bounty or something?

I looked at trying to patch it in by giving an option append_mode that defaults to false. The old behavior seems to be to use the first source that works. I'd like it to use all the sources, so a simple boolean option seems to be the right way to go (to me).

Anyway, I looked at patching it in, but the states/file.py .managed and the m

[2016-11-07 14:56] ChristianBeer opened #37512 "What's the precedence if multiple master configurations are specified?"
### Description of Issue/Question
I have a use-case where I want to override a specific master configuration value (`worker_thread`) locally. I found a working solution but I want to make sure this is the intended behavior and maybe if this can be added to the [documentation](https://docs.saltstack.com/en/latest/ref/configuration/master.html#include-configuration).

### Working solution
Configurat

[2016-11-07 15:51] oliver-dungey commented on #37470
Hi, good questions but Jenkins doesn't tell you much - so this is all I get in terms of API call information and response:
[code]

But If I switch the call to `saltutil.refresh_pillar` or `saltutil.sync_all` or run any other state the jobs run and return SUCCESS (or fail with genuine errors that make sense).

I had a good look through the salt master log but all I could find of use was:
[code]

So

[2016-11-07 15:53] Joshua-Weeks commented on #37463
@Ch3LL

I can replicate this at any time.
"nacho: libre" was added and the client service was restarted.
"foo: bar" was added but the client service was not restarted.

**From the Master:**
[code]
**From the Minion:**
[code]

The Minion see's everything fine but the Master is missing the new entry.

[2016-11-07 16:19] rallytime commented on #37444
@Tanoti I've cleaned these up in #37519.

[2016-11-07 16:21] perfecto25 opened #37520 "salt-cp copying a large file (256M) fails"
### Description of Issue/Question
copying large .bin file to a minion fails
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
[code]

I bumped up the worker thread count from 5 to 20, restarted master, still same error

### Versions Report
**Master**
Salt Version:
           Salt: 2016.3.2

Dependency Versions:

[2016-11-07 16:23] terminalmage commented on #29010
#37469 resolves this by allowing for a new argument to be specified to disambiguate ambiguous basename matches. It also resolves the problem of ``file.extract_hash`` only considering the basename of the file being passed in, and not the source URI.

Details on usage for the new ``source_hash_name`` argument are in #37469, and have also been added to the docs and the 2016.3.5 release notes.

Markin

[2016-11-07 16:23] #29010 closed

[2016-11-07 16:27] terminalmage commented on #32933
This is indeed resolved in the head of the ``2016.3`` release branch, the fix will be present in 2016.3.5. Marking this issue as closed.

[2016-11-07 16:27] #32933 closed

[2016-11-07 16:29] terminalmage commented on #32933
For those interested, the details in https://github.com/saltstack/salt/pull/37469 outline what was fixed. Specifically https://github.com/saltstack/salt/pull/37469 modifies the function Salt uses to match hashes checksum files so that it considers _both_ the filename being managed, and the source URI. It also adds an optional argument which can be used to disambiguate ambiguous matches.

[2016-11-07 16:31] terminalmage commented on #36849
Closing since #37418 was merged. @skulikov thanks for the well-researched report, it helped a great deal!

[2016-11-07 16:31] #36849 closed

[2016-11-07 16:50] perfecto25 commented on #37520
Wondering if the discrepancy between master and agent salt versions could be doing this

[2016-11-07 17:11] zerthimon commented on #33885
Why not introducing a separate method 'dockerng.present', which just creates the container and doesn't run it ?

[2016-11-07 17:28] zerthimon opened #37522 "Feature: dockerng state module to run an image (container) as a command"
It'd be nice to have a method in dockerng state module which runs an image as a command (Similarly to run method of cmd state module)

ex:
[code]

[2016-11-07 17:30] ticosax commented on #33885
Because there is still a need for containers that needs to run just once.
Think like a process that compiles static assets and needs to make them available to other containers.
if `dockerng.present` is a valid use case for you, then You can make it happen. It just doesn't fit my own use case.

[2016-11-07 17:38] dmurphy18 commented on #37389
@damon-atkins SaltStack supports Solaris 10 (10/09) and up.  There is no support for earlier versions of Solaris.

[2016-11-07 17:45] danlsgiga commented on #37458
Thanks @whiteinge, great info! Looking forward to have that feature.

[2016-11-07 18:01] whiteinge commented on #37458
That's one I'm really looking forward to as well. 😄

I'm going to close this issue out as a duplicate. If there's any detail the above two issues are missing, please feel free to reopen this issue or comment on those issues.

[2016-11-07 18:01] #37458 closed

[2016-11-07 18:25] whiteinge commented on #37470
It's not clear to me what is returning
[code]

It's obviously a log message but salt-api only returns a data structure of the minion returns in the HTTP response so that log message is coming from somewhere else. This will be tough to troubleshoot without answers to my three questions above because we can't know if Jenkins and Salt consider the same thing an error or not without knowing what Jenki

[2016-11-07 18:26] #34263 closed

[2016-11-07 18:31] danlsgiga commented on #37043
+1

[2016-11-07 19:09] The-Loeki commented on #29010
@terminalmage THANKS :) I hope all your good work finally resolves most if not all outstanding hash_source issues; I'll test & of course report back if it doesn't ;)

[2016-11-07 19:17] Ch3LL commented on #37468
@duk3luk3 I'm having a hard time replicating this. Can you make sure that any pyc files are cleaned up? Your version number looks very old although the git commit number looks recent.

[2016-11-07 19:18] tsaridas commented on #36374
@cachedout , @Ch3LL

I tested with
[code]

and I see the same problem.

@s0undt3ch did some research on memory leaks and and specifically said that there is an issue on python 2.6 but that was long time ago and apparently was fixed https://github.com/saltstack/salt/pull/2799 .

[2016-11-07 19:21] The-Loeki commented on #29010
The examples I gave [here](https://github.com/saltstack/salt/issues/29010#issuecomment-257916133) all work flawlessly now w00tw00t!

[2016-11-07 19:27] The-Loeki commented on #27397
I've tested this after #37469 and the given example works fine now

[2016-11-07 19:30] rallytime commented on #36573
I think this is a duplicate of #36713, which was likely fixed recently by #37503. See [this comment](https://github.com/saltstack/salt/issues/36713#issuecomment-258730758).

While the returner does need to be fixed up by adding those functions, the actual stack trace you're seeing here should be resolved.

[2016-11-07 19:44] rallytime commented on #27397
Thanks for following up! Given the information above, I'll go ahead and close this up.

If it pops up again, don't hesitate to let us know.

[2016-11-07 19:44] #27397 closed

[2016-11-07 20:10] Ch3LL commented on #37474
@arthurlogilab I am able to replicate this behavior. Do you know what version this was previously working on. I tried all the way back to 2015.8.8 and still saw the same behavior

[2016-11-07 20:14] Ch3LL commented on #37477
@pellagic-puffbomb agreed we always want to try to spit out a useful error rather then a stack trace error. We could probably try validating the config a little better and spit out error if not setup properly. Thanks

[2016-11-07 20:17] Ch3LL commented on #37491
@JensRantil I was also able to replicate this on 2016.3.3 as well. We will need to make sure we exit with a non-zero code here. Thanks

[2016-11-07 20:22] rubinlinux opened #37523 "file.comment should not create .bak files, should use salt minion backup system per minion config"
### Description of Issue/Question
When using file.comment, it creates .bak files in the same directory as target file, and does it by default.
This is inconsistent.  It should use the same mechanism as the file.managed state uses, where files are backed up to the minion backup location and available to the minion_backup module.

.bak files getting created in, say, a foo.d/ directory are not always

[2016-11-07 20:34] Ch3LL commented on #37492
@JensRantil looks like i'm able to replicate it. To note it only occurs when attaching the batch mode argument.

[code]

[code]

[code]

To note I also tested this on 2016.3.3

[2016-11-07 20:40] Ch3LL commented on #37506
@eliasp looks like we need to improve the error reporting. Thanks we will need to get this fixed up

[2016-11-07 20:42] Ch3LL commented on #37498
@githubcdr i'm not able to replicate this. How did you install salt?

[2016-11-07 20:57] ekristen opened #37525 "SaltStack warns about python-software-properies on Xenial (ubuntu) - still ..."
### Description of Issue/Question

`python-software-properties` is no longer valid on Xenial (16.04), it is now `sofware-properties-common`, salt should understand the difference.

### Setup
[code]

### Steps to Reproduce Issue
By adding any ppa, saltstack warns that things aren't going to work properly, the package name has changed.

### Versions Report
[code]

[2016-11-07 20:59] tsaridas commented on #37018
verified fix for 2016.3.4 and get_event_noblock

[2016-11-07 21:00] ahammond commented on #36448
I haven't seen it reproduce under ZMQ.

On Sun, Nov 6, 2016 at 5:59 PM, Mike Place <notifications@github.com> wrote:

[2016-11-07 21:04] Ch3LL commented on #37510
@Rumbles I believe this to be a duplicate of #34217 which has been fixed in #34248

Does that fix resolve the issue for you?

[2016-11-07 21:23] Ch3LL commented on #37507
Looks like we need to make a better check here to ensure it doesn't try to re-add it. Thanks

[2016-11-07 21:27] Ch3LL commented on #37511
@jdelic i definitely like your approach to add an argument. Looks like you are working on a fix. Please feel free to submit that as a PR. Thanks

[2016-11-07 21:39] rallytime commented on #35016
I've added the `syndic_id` kwarg to all of the returners that have the `save_minions` function present, but are missing the kwarg in #37527.

[2016-11-07 21:42] Ch3LL commented on #37512
@ChristianBeer looks like you are right about this behavior. I confirmed this. Although I'm not certain if this is expected I would like to defer to @cachedout . Do you know if this is intended. If so we can def document it

[2016-11-07 21:46] Ch3LL commented on #37520
@perfecto25 this is expected behavior as documented [here](https://docs.saltstack.com/en/develop/ref/cli/salt-cp.html) :

Please use cp module instead. Closing since this is expected behavior. Thanks