[2020-07-23 08:40] Rudd-O commented on #57944
Oh it's simple to replicate: use the Salt API to submit a `state.highstate` and send `saltenv`=`None` in the `kwargs` of the API payload.  That's all you need to do.

The version is the very latest stable Salt on Ubuntu Xenial as published in the official Salt repository.

[2020-07-23 10:09] aokiji commented on #58001
I have checked that this is solved in the latest version, if it could be backported it would be nice

[2020-07-23 10:17] github-abcde commented on #58010
The method salt uses to get any os-related information is using the python `distro` library (earlier it used the `platform` library, which is no longer supported in python 3.5 and newer).
These libraries do not return the point release versions (of Ubuntu), and thus salt cannot display them either.
As such, this is not a bug, since this functionality was never present.
If you really want this func

[2020-07-23 10:22] boltronics commented on #58010
It's definitely a bug because it's doing the wrong thing. This is the case regardless of whether or not it was always doing this, and regardless of it being a bug in a library Salt is using, or if it's a bug in Salt directly. Either way, Salt needs to handle this or state that Ubuntu is not supported.

Your proposed work-around will work for Ubuntu, but break Debian, because there is no 9.13 folde

[2020-07-23 11:12] boltronics commented on #58010
Specifically regarding the `osmajorrelease` grain issue, the bug does not appear to be related to the `platform` or `distro` libraries. It seems to be handled by Salt right here:
https://github.com/saltstack/salt/blob/2ea43cc291f228553cfd609199b0233803af6b31/salt/grains/core.py#L2240

There are various Ubuntu-specific conditions scattered around. It's missing one there. Something like (untested):

[2020-07-23 11:43] baby-gnu opened #58011 "On Windows, path_join should properly contact `C:` and a path"
**Description**

When using `path_join` in windows, there is an issue when joining a drive letter with the rest of arguments.

[code]

**Setup**

[code]

**Steps to Reproduce the behavior**

Here is the output of `state.show_sls` in YAML format:

[code]

**Expected behavior**

The variable `test_dir_path_join` should be `C:\test-dir\subdir`.

**Screenshots**

**Versions Report**
<details><summary>

[2020-07-23 11:58] markuskramerIgitt commented on #53885
Python 2 salt master 2019.2.5 does communicate with Python 3 Salt-Minion-3001, load is OK

[2020-07-23 12:54] github-abcde commented on #58010
I can see where you are going with this. The "major release" versions of Ubuntu consist of (at least according to https://en.wikipedia.org/wiki/Ubuntu_version_history) the first two sets of digits. So for Ubuntu, `16.04` would be the `osmajorrelease`, and the full `osrelease` would be `16.04.6`.

[2020-07-23 13:08] aplanas opened #58012 "[BUG] Exception when creating a btrfs submodule"
**Description**

When creating a btrfs submodule using the btrfs state, the minion produces an exception inside the __moint_device decorator.

[2020-07-23 13:52] ajaydwarkani opened #58014 "Salt job hangs/runs forever when printing large number of lines to stdout"
### Description of Issue
Salt job runs forever when executing shell or python script on Windows Minion, but the same script runs just fine on Ubuntu/Mac minion and has complete under few seconds. After checking the job status after 12 hours, it was still running.

If I run the script directly on the Windows VM, it runs fine.

### Setup
**Python script: "CreateP4Tickets.py"**
[code]

**State File:

[2020-07-23 14:42] waynegemmell opened #58015 "Elasticsearch returner fails when index exists."
### Description of Issue
When I trigger the elasticsearch returner the first time an index is created, on subsequent calls it just fails.

### Setup
[code]

### Steps to Reproduce Issue
Trigger the returner.

Here's the logs
[code]

### Versions Report

[code]

[2020-07-23 14:48] sagetherage commented on #44515
thx @cachedout yes, it has flaws for sure, a part from knowing the individual I am not sure on this ATM, but yes open to other ideas. We are working to update the Contributing.rst and docs, perhaps we need something specific there, but that is only a half-baked idea.

[2020-07-23 15:50] edisonwong520 commented on #37221
you save my time!!!!thanks very much!!!!!!!!!!!

[2020-07-23 17:39] jtraub91 commented on #58005
No

[2020-07-23 17:49] SantiMunoz opened #58020 "[BUG] Docker ignores the credentials stored in /root/.docker/config.json"
**Description**
In salt 3000.3 docker ignores the credentials stored in `/root/.docker/config.json` and fails authenticating agains the private registry.

I'm using a masterless setup with salt 3000.3 without any docker registry defined in pillars, instead of that I have created the docker config file `/root/.docker/config.json` with the auth configuration from salt:
[code]
This file contains a va

[2020-07-23 18:07] max-arnold commented on #57456
It hangs at the garbage collection stage:

[code]

Potential references (links are intentionally  broken to avoid spamming upstream issues):

https://github.com/zeromq/ pyzmq/issues/1167
https://github.com/zeromq/ pyzmq/issues/1003

[2020-07-23 18:13] max-arnold commented on #57456
Workaround: set `transport: tcp` in both master and minion config files.

[2020-07-23 18:31] max-arnold commented on #57856
Does `transport: tcp` help?  The issue seems to be related to ZMQ: https://github.com/saltstack/salt/issues/57456#issuecomment-663153437

[2020-07-23 18:32] max-arnold commented on #57574
Does `transport: tcp` help?  The issue seems to be related to ZMQ: https://github.com/saltstack/salt/issues/57456#issuecomment-663153437

[2020-07-23 18:52] mgdotson commented on #57856
yes, returns instantly with transport set to tcp.

[2020-07-23 19:00] krionbsd commented on #58015
@waynegemmell thanks for the report, could you please provide elastic version you're using?

[2020-07-23 19:07] krionbsd commented on #58002
@nathansgreen could you please provide the salt run with end result to give us the overview what's going on

[2020-07-23 19:13] krionbsd commented on #58001
@aokiji could you please provide `salt --versions-report`

[2020-07-23 19:33] krionbsd commented on #58020
@SantiMunoz thank you letting us know, would it be possible to upgrade salt to 3001 and try with it?

[2020-07-23 20:29] SantiMunoz commented on #58020
Hello, I tried with salt 3001 but I had some other stuff failing and I couldn't reach the docker pull state...

[2020-07-23 20:32] StefanSa commented on #46891
Seems to be the same problem, if so it is a serious bug, just tested on a CentOS and openSuSe 15.1.
So uyuni cannot be used productively. Hopefully there will be a bugfix soon.
https://github.com/uyuni-project/uyuni/issues/2437

[2020-07-23 20:51] waynegemmell commented on #58015
Elastic 7.8

On Thu, Jul 23, 2020, 21:01 Kirill Ponomarev <notifications@github.com>
wrote:

[2020-07-23 21:13] jamesbernardi opened #58021 "ssh_auth.manage: does not get in ssh keys defined from source:"
version salt 3001

[code]

errors with:

[code]

Adding ssh_keys and source gives this error:

[code]

looking at: https://github.com/saltstack/salt/blob/2ea43cc291f228553cfd609199b0233803af6b31/salt/states/ssh_auth.py#L523
I don't see any instructions for the source like I do the others.

[2020-07-24 02:46] boltronics commented on #58010
@github-abcde That's it exactly.

There is also currently no way to get at the full `16.04.6` except by manually parsing `lsb_distrib_description`, so I've been looking into why `osrelease_info` isn't showing the full version number as that would otherwise have been the next nicest option.

We can see `lsb_distrib_release` is set either here:
https://github.com/saltstack/salt/blob/2ea43cc291f22855

[2020-07-24 04:20] boltronics commented on #58010
I was just checking if changing `osmajorrelease` to an `int` would cause problems, and it looks like there are a few small places that need changing, but not much. Many (most?) places that require an `int` do explicitly wrap the call in `int()`. More interestingly, there are already issues with some places in code expecting a string to be returned! eg.

https://github.com/saltstack/salt/blob/2ea43

[2020-07-24 05:43] boltronics commented on #58010
To test in my staging environment running Salt 2019.2.5 on Python 2.7 (as described in my initial post) on Debian Stretch and Ubuntu Xenial, I modified `core.py` to have these changes:
[code]
I had to move the name definition up a bit so I could reference it. Also, the `osmajorrelease` grain still returns an `int` if the `os_name` is not "Ubuntu" to avoid me having to immediately modify the other

[2020-07-24 08:27] DmitryKuzmenko commented on #57644
Thank you @terminalmage!

[2020-07-24 09:08] aokiji commented on #58001
[code]

[2020-07-24 10:58] krionbsd commented on #58001
Thanks @aokiji, we can't backport this fix to 2019.2.x branch as it's at stage 3 at the moment, only critical CVEs might be merged - [support cycle](https://www.saltstack.com/product-support-lifecycle/)
If you could upgrade to 3001, that would be awesome.

[2020-07-24 12:55] defanator commented on #57456
@max-arnold yeah, same here:

[code]

zmq is waiting for something. forever.

[2020-07-24 15:59] nathansgreen commented on #58002
The short answer is that `datetime.datetime.now()` is being used, and instead `utcnow()` should be used.

[2020-07-24 17:14] waynew commented on #57456
I'm not sure about this particular case, but I've been hunting down the one where an incorrect state is provided, e.g.

[code]
vs
[code]

The first one stalls out, at a `poll(10<eventfd`. The second works fine. I was able to track things down into the bowels of the loader - if, within `_inner_load` something checks for a non-existent key it will trigger the failure case. In *any* module. So it's n

[2020-07-24 18:33] yang-xixi commented on #56273
We are running 3000.2 and is having same issue here. One of the application we manage has 50+ nodes and this issue has been witnessed multiple times. In the master log, we found the exeption:
[code]
When this issue was witnessed, `test.ping` to minions also had multiple minion not returned. I don't see logs for that in master log. The list of minions that didn't return upon `test.ping` changed whe

[2020-07-24 21:27] twangboy opened #58025 "[TESTING] Improve tests for the Windows Update System"
**Description**
Improve testing in all modules in Salt surrounding Windows Update. It looks like we have some pretty good unit tests. We need to look at doing integration tests where it would be helpful and adding additional unit tests where missing. Ensure there is adequate test coverage in the following modules:

- `modules\win_wua.py`
- `states\win_wua.py`
- `utils\win_update.py`

https://gitla

[2020-07-25 10:31] max-arnold commented on #53502
Still happens on 2019.2.5 and 3001 too.

[2020-07-25 12:21] noelmcloughlin commented on #57742
Thanks @cdalvaro  worked for me on  Darwin.

[2020-07-25 13:29] morganwillcock commented on #58011
`C:` is not an absolute path, it is a reference to the drive. Not having the slash is valid as that means that the remainder is relative to the current working directory of the drive. So the statement `Specified file C:test-dir\subdir is not an absolute path` is a correct one since you cannot contruct an absolute path from two relative ones.

e.g.

[code]

[2020-07-25 17:20] Morozzko opened #58026 "State in SLS is not formed as a list"
What can be wrong here? It work ok, when i try to hardcode state

State:
[code]

Pillar:
[code]

Error:
[code]

[2020-07-25 20:26] baby-gnu commented on #58011
Sorry, I'm not that confident with windows, but I see no difference between `C:test.txt` and 'C:\test.txt', it should be the same to me. But in fact, the problem is not in this point but in the way `path_join` is working.

On linux `{%- set test_dir = 'whatever' | path_join('test-dir', 'subdir') %}` results in `whatever/test-dir/subdir`.

So, I think `path_join` should joins the parts with the pat

[2020-07-25 21:02] morganwillcock commented on #58011
It is confusing, because the filter is documented as

It just happens to pass an absolute path into the filter as an example, but as you have just shown if you pass in a relative path you get a relative path back (`whatever/test-dir/subdir`). `C:` is a relative path, if your current drive is C then it is effectively the same as if you had specified `.` as the path. `C:.` and `C:..` would be valid

[2020-07-26 04:33] max-arnold commented on #58026
Try the following command to troubleshoot just the Jinja statements without evaluating the resulting Yaml:

`salt MINION slsutil.renderer default_renderer=jinja path=salt://xml.sls`

[2020-07-26 10:16] Morozzko commented on #58026
Seems like empty string after minion
[code]

[2020-07-26 10:42] DmitryKuzmenko commented on #57456
@waynew @max-arnold  Works for me after downgrading pyzmq to `18.0.1` and started hanging with `pyzmq>=18.1.0`.

[2020-07-26 10:43] Morozzko commented on #58026
Okey i found error, but got new one:
[code]

State:
[code]

[2020-07-26 11:00] noelmcloughlin commented on #58026
Good @Morozzko so this new error is just minor.
Use state name `ensure_value_true_{{ service }}:` to avoid ID name collisions inside for loop.
This is not salt issue just Jinja convention.

[2020-07-26 11:04] Morozzko commented on #58026
thx, make my morning iced

[2020-07-26 11:04] #58026 closed

[2020-07-26 11:07] noelmcloughlin opened #58027 "[BUG] trying to enforce user/group ownership, paths were missing"
**Description**

Archive extracted fails to enforce user/group on particular filenames

**Setup**

I was testing java-formula PR on macOS: https://github.com/saltstack-formulas/java-formula/pull/13

**Steps to Reproduce the behavior**

On MacOS:
Do https://github.com/saltstack/salt/issues/57742#issuecomment-658569444
Test java-formula: https://github.com/saltstack-formulas/java-formula/pull/13

**

[2020-07-26 15:22] OrangeDog commented on #57424
Duplicate: #57781

[2020-07-26 15:23] OrangeDog commented on #58010
See also: #57781

[2020-07-27 05:41] boltronics commented on #58010
Yep, I did see some Centos-specific tests in there. You can see in my above references to `_linux_distribution():` that it is named with the underscore (a last minute change to the PR that addressed that) - indicating that all of my work above was done after the fix for that other issue was already merged, so is no affected by the changes.

[2020-07-27 07:42] max-arnold commented on #54045
I think I got bitten by this bug on 2019.2.5, but it is hard to reduce my states to a minimal test case. Unfortunately, it looks like Salt reactors can't be relied upon 😟

[2020-07-27 10:49] defanator commented on #57456
@DmitryKuzmenko @waynew @max-arnold @cmcmarrow unfortunately I can't invest much time into further debugging of this one, but a number of quick experiments shows that downgrading pyzmq to 18.0.1 also resolves an issue for us (Ubuntu 20.04 / Python 3.8.2 / libzmq 4.3.2). We've switched to TCP transport until there's no clean fix.

[2020-07-27 12:02] jfoboss commented on #54689
Salt 3000.2 has the same issue:
[code]

It can be workarounded by using "-W" flag (but salt-ssh will run slower). Hope this may help.

[2020-07-27 13:10] markuskramerIgitt commented on #50650
@sagetherage or @xeacott, please reopen:
- Unicode support requires Python 3.7
- PR #57515 does not work and is in the process of being replaced by PR #58008

[2020-07-27 14:54] driskell commented on #43287
Sorry to raise old things. I somewhat hit this issue currently. I was expecting the vault calls from pillar to be trusted (since it's running on the master and contains secrets anyway) but then discovered it is impersonating the minion. Is there a reason this is needed? Is it not the case that the master will always know what minion it is rendering for (at least in pillar context) since otherwise

[2020-07-27 16:34] erespaulo opened #58028 "[BUG] SaltReqTimeoutError / master could not be contacted / Multi-Master"
**Description**

Hello guys!

I am looking for a solution to a communication problem between our Master -> Syndic -> Minions structure.

We currently have 3 masters, 11 syndics and approximately 6K minions. This structure is still small compared to larger uses of SaltStack's potential, however we are faced with several moments with Timeouts and generating low communication with Minions (We have mo

[2020-07-27 16:40] rossengeorgiev opened #58029 "[BUG] Salt 3001 with CentOS 7 doesn't have pygit2 package for python3"
**Description**

Salt v3001 is only python3 for CentOS 7, and there is no way to use pygit2 gitfs backend as there is no package on python3.

**Versions Report**
<details><summary>salt --versions-report</summary>

[code]
</details>

[2020-07-27 16:54] rossengeorgiev commented on #44310
This issue was originally raised for v2017, so I've updated it for latest (v3001). Still exist, and reproducible with the same exact steps.

[2020-07-27 16:56] oeuftete commented on #57752
ZD-5485

[2020-07-27 16:56] rossengeorgiev commented on #44310
@Ch3LL could you please reopen, I don't want to raise a new one, and the bot doesn't seem to be doing it. Thanks

[2020-07-27 17:13] #55691 closed

[2020-07-27 17:16] sagetherage commented on #57856
we did not get this fixed for the point release, other priorities came up, but still in progress and will go for Magnesium

[2020-07-27 18:43] cwray commented on #58020
This might also be part of this other problem. https://github.com/saltstack/salt/issues/56672

[2020-07-27 19:13] sagetherage commented on #56206
putting this into `Blocked` for now, but have a reminder set for myself to come back to this ticket this week.

[2020-07-27 19:48] cruscio commented on #57118
I've been observing a significant increase in memory utilization on a master server as I increase minions connecting to that server. Doing a few hundred minion installs a week for the last 6-8 weeks. I periodically have to restart the master services as it runs low on available RAM; and that period has been decreasing.

![image](https://user-images.githubusercontent.com/30699280/88582893-6e37c880-

[2020-07-27 20:48] rallytime commented on #33706
@wwalker and @eon01 you might have better luck reaching someone on the dev team by filing a new issue with the details of the problem you're hitting.

[2020-07-27 21:03] waynew opened #58032 "[BUG] Keystone module needs to use the openstacksdk library"
**Description**

The current Keystone module, and Keystone-ng use two out of date/defunct libraries. The new openstack library is openstacksdk.

We discussed this at a meeting and decided that the best way to go about doing things would be to just have the Keystone model be an adapter across the outdated and the modern libraries. It should be relatively simple to delegate the existing behavior to

[2020-07-27 21:11] sagetherage commented on #55611
closing this issue in favor of linked issue

[2020-07-27 21:11] #55611 closed

[2020-07-27 21:12] sagetherage commented on #49419
closing this in favor of https://github.com/saltstack/salt/issues/58032

[2020-07-27 21:12] #49419 closed

[2020-07-27 21:15] sagetherage commented on #57982
@karkey-salt please let us know if we have answered your question and can close the ticket or not.

[2020-07-27 21:16] waynew commented on #57995
@phibid can you provide pip freeze output as well?

[2020-07-27 21:21] phibid commented on #57995
Here it is

[code]

[2020-07-27 21:25] waynew commented on #57954
@jetpak So `jobs.lookup_jid` provides results, but `Minion did not return.` is what you get from the `salt` command?

I was wondering if this might be related to the pyzmq/salt-call stalls that we were seeing, but I'm not sure 🤔

If you can reproduce this pretty consistently, can you try downgrading to pyzmq 18.0.1? https://github.com/saltstack/salt/issues/57456#issuecomment-663971926

[2020-07-27 21:38] cmcmarrow commented on #58029
Hello, @rossengeorgiev. This is a pip problem… or for me it was. Older version of pip don't always get the binary build.

This should do the trick.

`pip3 install –upgrade pip`
‘pip3 install pygit2’

You can also see that pygit2 has a binary for Linux p36 on pypi. https://pypi.org/project/pygit2/#files

[2020-07-27 21:43] cmcmarrow commented on #58002
https://github.com/saltstack/salt/pull/58003

[2020-07-27 21:50] jfindlay opened #58033 "[BUG] `file.read` exec module function fails on binary data"
**Description**
[`file.open`](https://github.com/saltstack/salt/blob/v3001/salt/modules/file.py#L3822-L3838) fails on binary data.

**Setup**

`file1` contains arbitrary data.
[code]
`file2` contains unicode data.
[code]

**Steps to Reproduce the behavior**
The current `file.read` function assumes all file data is going to be unicode data, even in binary mode.
[code]
[code]

**Expected behavior**

[2020-07-27 21:57] cmcmarrow commented on #58002
@nathansgreen I see lint and pr-commit is failing. You can fix this by running pre-commit

`pip3 install pre-commit`
`pre-commit install` in the root of the salt git repo

 Its okay to mock all the sql calls for your test.

[2020-07-27 22:09] cmcmarrow commented on #58033
@jfindlay thanks for the PR! I also can confirmed this to be a bug.

[2020-07-27 22:49] rossengeorgiev commented on #58029
I don't rely on any pip packages as it introduces another package manager to monitor for security patches. EPEL ships the RPM, but look like they haven't build pygit2 for python3 on CentOS 7, but it is available on 8.

[2020-07-28 07:35] NotSqrt commented on #57690
@sagetherage Thanks, I had not noticed that the initial PR was into my own repo..

[2020-07-28 09:53] wesley-c42 commented on #56516
@sagetherage @DmitryKuzmenko Sorry for the late reply.
By locally I meant `salt-call state.apply <state_id>`. Both salt-master and minion are ubuntu 18.04.
I had worked around it by using grep, which didn't give the issue:
[code]

Since then I've updated to 3000.3, tested this again just now and I no longer see this issue with pgrep.

[2020-07-28 12:06] thr27 opened #58038 "mysql.alter_db dbname1 mysql.charset="utf8mb4" fails with error 1064, "You have an error in your SQL syntax"
When I use mysql module to change charset of a database it fails with a syntax error as it tries to build the sql command using binary strings.

### Setup
I have this error in a masterless configuration

Ubuntu 18.04.4 LTS
mysql  Ver 15.1 Distrib 10.1.44-MariaDB

/etc/salt/minion
[code]

### Steps to Reproduce Issue

[code]

[code]

### Versions Report

Salt Version:
           Salt: 3001

Depende

[2020-07-28 13:02] rossengeorgiev opened #58039 "[BUG] pkg.installed version matching fails on CentOS 7"
**Description**
It appears version matching considers the release as part of version, and fails to match the specified version in the state

Relevant log:
[code]

**Setup**

[code]

**Steps to Reproduce the behavior**

1. Run following state, with kibana package already installed.
[code]
2. We get the fallowing result when we run with `test=true`:

[code]

If ran without test, it fails:

[code]

*

[2020-07-28 14:39] sagetherage commented on #56516
@wesley-c42 great news that it is fixed in a newer version! I am closing the ticket as won't fix for now in 2018.3.4 and corrected by v3000.3, please let us know if you see this again, please. Thank you!

[2020-07-28 14:39] #56516 closed

[2020-07-28 14:40] sagetherage commented on #57690
@NotSqrt no problem! We are all here to help. :)  thanks for the update and the mention!

[2020-07-28 14:41] ant1m opened #58041 "[BUG] s3fs file server fails with "Failed to load function s3fs.envs because its module (s3fs) is not in the whitelist: ['s3']""
**Description**
Salt-master doesn't put up s3fs-based file server, with error message "Failed to load function s3fs.envs because its module (s3fs) is not in the whitelist: ['s3']".
salt-run fileserver.file_list returns the same error.

**Setup**

/etc/salt/master.d/00-master.conf :

fileserver_backend:
  - s3fs

s3.keyid: XXX
s3.key: XXX
s3.service_url: XXX
s3.https_enable: True
s3.path_style: Tru

[2020-07-28 14:43] cmcmarrow commented on #58038
Thanks for the possible work around @th27 and for the issue.

[2020-07-28 14:50] ronak2303 opened #58043 "Error while installing GitPython"
### Description of Issue
i am trying to install GitPython for to handle my git repository. i also have tried installing python3 and pip3 but still same error.
error i am getting as below.

          ID: GitPython
    Function: pip.installed
        Name: GitPython < 2.0.9
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):
                File

[2020-07-28 15:57] cmcmarrow commented on #58029
@rossengeorgiev unfortunately there is not much Salt can do to help you with this problem.
You can download the `.whl` and have pip do a local install. Or you can install dev_tools and build the package from source . But Salt is currently not building packages for other libraries at this time.

[2020-07-28 16:01] sagetherage commented on #56206
this needs a 64-bit RaspberryPi to test, I will attempt to assign this out to get it unblocked.

[2020-07-28 16:02] rossengeorgiev commented on #58029
Thanks. I thought it might a package to include in the salt repos.

[2020-07-28 16:02] #58029 closed

[2020-07-28 18:09] garethgreenaway commented on #58028
@erespaulo Thanks for the report.  To confirm, are some of your minions running one of the 2015.x releases of Salt?

[2020-07-28 18:50] erespaulo commented on #58028
Hi @garethgreenaway  , I have 12 minions (2015.8.10) and 1 (2015.8.8) , the most bigger part is 2019.2.5 .

[2020-07-28 19:07] cmcmarrow commented on #58039
Thanks for the report @rossengeorgiev. I also confirmed this to be a bug

[2020-07-28 19:13] cmcmarrow commented on #58041
@ant1m that does seems wrong to me too. Thanks for the bug report.

[2020-07-28 19:26] rossengeorgiev commented on #58039
I think it works correctly if `python36-rpm` is installed, which is not by default.

[2020-07-28 19:29] cmcmarrow commented on #58043
Does this work for you?
[code]

[2020-07-28 19:30] cmcmarrow commented on #58043
@ronak2303 I could not reproduce this. I tried on master and 19.2.3.3 Do you have your proxy setup right?

[2020-07-28 19:40] cmcmarrow commented on #58027
@noelmcloughlin for the bug report. Can you please give use all the arguments you gave to `archive.extracted`?

[2020-07-28 19:55] cmcmarrow commented on #58015
@waynegemmell thanks for the report. Salt can find index_exists and it exists. I don’t know why it cant find it but this is a bug.

[2020-07-28 20:38] ronak2303 commented on #58043
hi cmcmarrow,
    our servers are not exposed to internet to without proxy i get same error.
    when i tried first time it worked without error, i do not have output of it. but when i tried to run to make sure i have latest i started getting this error.

          ID: GitPython
    Function: pip.installed
        Name: GitPython < 2.0.9
      Result: False
     Comment: An exception occurred in t

[2020-07-28 22:05] twangboy commented on #58025
'Tis I

[2020-07-28 22:08] twangboy opened #58061 "[FEATURE REQUEST] Pre-flight checks for win_wua.py"
**Is your feature request related to a problem? Please describe.**
Need to make sure certain conditions are met before attempting to run the Windows Update Agent (wua). Need to fail fast if conditions aren't met.

**Describe the solution you'd like**
- Is the update agent installed (Older OSs use an older version)
- Are the required services running
  - wuaserv
  - others?
- Are updates paused
- O

[2020-07-29 00:01] sagetherage opened #58063 "[TEST FAILURE] Cloud Test failing"
**Description**
https://jenkinsci.saltstack.com/job/pr-centos7-py3-cloud/job/master/1189/

[2020-07-29 00:03] sagetherage opened #58064 "[TEST FAILURE] PR Commit build started failing"
**Description**
https://jenkinsci.saltstack.com/job/pr-pre-commit/job/master/804/

[2020-07-29 00:04] sagetherage commented on #58064
for some reason we don't seem to catch pre-commit stuff in PRs, any clue as to why or what we may need to change?

[2020-07-29 00:19] sagetherage commented on #58063
duplicate

[2020-07-29 00:19] #58063 closed

[2020-07-29 00:37] sagetherage commented on #55813
@max-arnold we will try to get to this in Magnesium, but I cannot commit to the work ATM, but I have it assigned to Gareth and will watch it and attempt to reassign as we go through the release cycle.

[2020-07-29 10:35] trootnev commented on #57750
We do have a nearly same situation with some details.
1. It is detected only on Windows minions.
2. Minion has to be reset to remediate the issue, not the master.

WIndows firewall and Defender are both disabled,
salt minion is 3000.3,
multiprocessing: false does not help.
Resetting the network adapter during problem reproduction makes nothing, only minion restart.
Minion continues executing comma

[2020-07-29 11:58] thr27 commented on #58038
Sorry this was caused by an old mysql.py in /_modules from a previous patch for salt (password_hash does not work in Salt: 2019.2.0 , https://github.com/saltstack/salt/issues/52045) which is no longer needed for 3000

[2020-07-29 11:58] #58038 closed

[2020-07-29 12:18] q1x commented on #56924
Hitting this as well as Debian 10 ships Pacemaker 2.x by default.

[2020-07-29 14:54] dkfsalt commented on #54378
Was this fixed in Sodium/3001?

I don't see a PR that references this bug, but when when I try it on my Sodium/3001 master/minion, I get the following....

[code]

In the above example:
 - the first state (seems right), the command is run with the gid that matches the user's primary gid.
 - the second state (bug?) shows cmd.run honouring the -group option
 - the third state (workaround) shows the

[2020-07-29 14:57] krionbsd commented on #51797
@zachmoody please note, we miss a test case for this change in 58067, if you might provide the one - it would be awesome

[2020-07-29 15:19] alexpeay commented on #54378
@oeuftete can you respond with what you are seeing to DKFsalt's questions?

[2020-07-29 15:23] rossengeorgiev commented on #58039
Yep, installing `python36-rpm` makes the issue go away. #57972 seems related

[2020-07-29 15:34] barneysowood commented on #54378
Looks like it was still broken on 3000, but it's working for me on 3001:

[code]

[2020-07-29 16:01] barneysowood commented on #54378
Looks like original fix was here - https://github.com/saltstack/salt/pull/53681

Then it got ported to master here - https://github.com/saltstack/salt/pull/56891

[2020-07-29 16:38] pguinardco commented on #56356
Any ETA on getting this merged in?

[2020-07-29 17:10] amendlik opened #58071 "[BUG] win_wua.uninstall fails on Python 3 minon"
**Description**
Running the following command produces different results on v3000.3 depending on whether Python 2 or 3 is used. This problem is also present in v3001.

Salt-Minion-3000.3-Py2-AMD64-Setup - works fine
Salt-Minion-3000.3-Py3-AMD64-Setup - fails with error: `Passed invalid arguments: a bytes-like object is required, not 'str'.`

Command:
`salt-call --local win_wua.uninstall c01629fc-6

[2020-07-29 17:12] ScriptAutomate commented on #56116
Other related documentation that needs review, and potential revision:

- [config execution module: config.get](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.config.html#salt.modules.config.get)
- [Configuration: master](https://docs.saltstack.com/en/master/ref/configuration/master.html)
- [Configuration: minion](https://docs.saltstack.com/en/master/ref/configuration/master.htm

[2020-07-29 18:14] #56885 closed

[2020-07-29 18:18] #32589 closed

[2020-07-29 18:25] #55265 closed

[2020-07-29 18:27] #57634 closed

[2020-07-29 18:28] #27181 closed

[2020-07-29 18:30] #57602 closed

[2020-07-29 18:31] #57582 closed

[2020-07-29 20:27] ronak2303 commented on #58043
hi cmcmarrow,
our servers are not exposed to internet to without proxy i get same error.
when i tried first time it worked without error, i do not have output of it. but when i tried to run to make sure i have latest i started getting this error.

      ID: GitPython
Function: pip.installed
    Name: GitPython < 2.0.9
  Result: False
 Comment: An exception occurred in this state: Traceback (most r

[2020-07-29 20:28] ronak2303 commented on #58043
hi cmcmarrow,
our servers are not exposed to internet to without proxy i get same error.
when i tried first time it worked without error, i do not have output of it. but when i tried to run to make sure i have latest i started getting this error.

      ID: GitPython
Function: pip.installed
    Name: GitPython < 2.0.9
  Result: False
 Comment: An exception occurred in this state: Traceback (most r

[2020-07-29 20:33] asphaltbuffet commented on #57872
Also interested in this if it were available.

[2020-07-29 21:04] vitaliyf commented on #56546
IBM consolidated SoftLayer into "IBM Cloud" so the part that this module talks to is now called "Classic Infrastructure". I don't think they have any plans to deprecate it and they are actively maintaining https://github.com/softlayer/softlayer-python module that Salt relies on, including supporting Python 3.5+

[2020-07-29 21:23] cmcmarrow commented on #58071
@amendlik thanks for the bug report. Looks like @twangboy took the job.

[2020-07-29 21:25] poliscialex opened #58081 "salt-cloud deploy script not working"
### Description of Issue
When deploying a droplet to digitalocean using salt-cloud, the droplet is successfully created, but salt-minion never installs.
First I get a number of messages saying this:
[code]
Then finally: `[ERROR   ] Failed to start Salt on host cdo-salt-02`

### Setup
Here is the providers.conf file we use for digital ocean:
[code]

### Steps to Reproduce Issue
spinning up a drople

[2020-07-29 21:50] Deimos commented on #56514
This also happens with requirements files generated by `pip-compile` from pip-tools: https://github.com/jazzband/pip-tools

Specifically, the problem seems to be related to having `-r` in the comment. Salt seems to be trying to do its own searching for "links" in the requirements file using this `rex_pip_chain_read` regex, and does not account for whether the match is inside a comment or not: http

[2020-07-29 22:34] #57641 closed

[2020-07-29 22:36] #55024 closed

[2020-07-29 22:49] #55878 closed

[2020-07-29 23:28] sagetherage commented on #58001
@aokiji closing this for now, mention me if you need anything here, thank you!

[2020-07-29 23:28] #58001 closed

[2020-07-29 23:55] sagetherage commented on #57857
@golmaal He is on the Core Team, but there was a conversation being had so it was difficult for him to respond right away, so I am helping, here. This is correct we will need to correct this so I am putting into the current release cycle for now and will attempt to get it fixed. I cannot commit to the fix, but welcome community involvement and will see if I can get this assigned this week or early

[2020-07-29 23:59] sagetherage commented on #56619
Kicking this back into triage (no milestone) to see if I can have another engineer attempt at reproducing, I have not forgotten!

[2020-07-30 00:06] sagetherage commented on #57593
@akhilgoel09 can you please provide the contents and confirm the location of your pillar file, please? Friendly follow up :)

[2020-07-30 00:22] oeuftete commented on #54378
Nice finds, @barneysowood and @dkfsalt.

What's left for this issue is to get the `group` argument for the `cmd.run` state documented, or maybe spun off into a different issue with a clean start.

Supporting the `group` option in other modules/states that leverage the `cmd` module (like `git` as mentioned in https://github.com/saltstack/salt/issues/54378#issuecomment-647360485) probably should hav

[2020-07-30 04:01] Vaelatern commented on #42539
I intend to test this with 3000.3

Have not had the opportunity yet.

[2020-07-30 04:58] ari commented on #38533
It would be incredibly useful if all states had options like:

[code]
We'd have control over sending data to monitoring systems, returners, and also changing the behaviour of requisites.

[2020-07-30 05:03] ari opened #58085 "[BUG] onlyif should run only if ALL commands return true"
salt 3001.0

When using two onlyif statements, they are ORed rather than ANDed.

[code]
I would expect both conditions to be true before the state runs. In this case, only one is enough to trigger the state.

Either this should be fixed, or the documentation updated to make clear what happens in this case. Since unless and onlyif accept a list of commands, the behaviour should be well defined and

[2020-07-30 05:24] #56660 closed

[2020-07-30 08:23] boltronics commented on #51496
This still seems to happen using the official 3001 packages and package repositories (`3001+ds-1` running on a Debian Stretch master, `3001+ds-2` on an Ubuntu 16.04.6 minion).
[code]

As before, this continues to delete the entire contents of anything it tries to modify:
[code]

However everything works if executed on the minion. So when bringing up a new host, I've needed to manually SSH into it

[2020-07-30 09:22] cbellinz commented on #57550
Hi there. Is there a workaround pending the release of 3001.1 on following repo?

https://repo.saltstack.com/py3/ubuntu/18.04/amd64/3001/

This is hurting me today...

Many thanks in advance

[2020-07-30 12:09] s0undt3ch opened #58091 "[Test Failure] unit.states.test_network.NetworkTestCase.test_managed"
https://jenkinsci.saltstack.com/job/pr-amazon2-py3-slow/job/master/323/testReport/unit.states.test_network/NetworkTestCase/test_managed/

Fix in https://github.com/saltstack/salt/pull/58090#pullrequestreview-458337261

[2020-07-30 14:13] wchao opened #58094 "[BUG] compound matching with grain in nodegroup fails when used with file_tree ext_pillar"
**Description**
I use the file_tree ext_pillar to supply files to a group of minions using external pillars. I target the minions with a nodegroup definition in /etc/salt/master that uses a grain match. Only one of the minions is able to access the files as pillars. The rest of the minions report that the pillar does not exist.

**Setup**
/etc/salt/master:
ext_pillar:
  - file_tree:
      root_dir

[2020-07-30 14:22] cmcmarrow commented on #58085
[code]
https://docs.saltstack.com/en/latest/ref/states/requisites.html

I think the documentation makes it clear that `onlyif` should be ANDed.

Can I get your state to see if a condition is failing?

[2020-07-30 14:46] markododa opened #58096 "[BUG] Creating a salt-master vm on azurearm fails"
following the cloud map guide, specifically the part on setting up new salt master https://docs.saltstack.com/en/latest/topics/cloud/map.html#setting-up-new-salt-masters, i have the map file:

`azure_ubuntu:
  - smvm:
      make_master: True
`
backed up by the following profile:

`azure_ubuntu:
  provider: my-azurearm-config
  image: Canonical|UbuntuServer|18.04-LTS|latest
  size: Basic_A0
  #loca

[2020-07-30 15:57] markododa commented on #58096
However it seems like just adding a simple master section fixes it

[code]

[2020-07-30 16:00] sagetherage commented on #54378
since we didn't use this ticket for the original regression/fix in Magnesium and we committed to the work, we can update this to be a documentation ticket. @ScriptAutomate likely can help, here, too. I prefer smaller issues written for a small PR, but with docs that can be a bit different, it may make sense to keep it here in this ticket with the history of the comments and all.

[2020-07-30 16:16] twangboy opened #58098 "[FEATURE REQUEST] Add additional info url to win_wua.list"
We need to include the Additional Info URL in the return data for `win_wua.list`

https://gitlab.com/saltstack/enterprise/release-planning/-/issues/291

[2020-07-30 19:07] oeuftete opened #58100 "[BUG] `env_order` does not work as advertised; omitted envs can't be included"
**Description**

The docs at https://docs.saltstack.com/en/latest/ref/configuration/master.html#env-order say (emphasis mine):

But `env_order` is clearly being checked for a _non-highstate state_, and _when an environment is explicitly specified_.

**Setup**

Relevant master configuration excerpt:

[code]

`/srv/salt/dev/foo.sls`:

[code]

[code]

**Steps to Reproduce the behavior**

[code]

**Ex

[2020-07-30 19:07] oeuftete commented on #58100
ZD-5304.

[2020-07-30 19:51] robertpenberthy commented on #57768
Yeah, I just ran into this issue today with module.run when I tested switching to new module.run syntax.  I added the `use_superseded: [module.run]` to my minion's configuration and now get a result of True, when I should get a return of False / failed state.  This will break my state flow, where I might have require / onfail statements based on the outcome of the module.run.

**test.sls**
[code]

[2020-07-30 20:51] BenRichey2 opened #58102 "[BUG]"
**Description**

I'm trying to start/stop a systemd service based on the existance of the tun0 interface by checking salt.grains.get('ip_interfaces:tun0'). Based on if the VPN is up/down, Salt should correspondingly start/stop the service. The service has been erroneously stopping/starting on occasion. I realized this was occuring during a `state.apply` and found, through testing, the ip_interface

[2020-07-30 21:18] noelmcloughlin commented on #58027
Debug run shows the following is rendered.

[code]
Same error
[code]

[2020-07-30 21:55] #58091 closed

[2020-07-30 22:11] #53887 closed

[2020-07-30 22:18] #57734 closed

[2020-07-31 01:07] jeffdyke commented on #57999
I know its a bit different but it has to be related.  I use terragrunt to build machines in aws, i `tainted` one named `prodweb04` and then ran an apply to rebuild it, all of which worked.  I deleted the key before i destroyed the machine, but since it had the same id, it failed in exactly the same way.  I then changed `/etc/salt/minion_id` to `prodweb04a` and the highstate is currently running.

[2020-07-31 02:29] boltronics commented on #51496
I needed a better fix for this today, as I was hitting what looked like this issue in other states as well, which didn't even use `file.uncomment`! So looked into it this morning to find the exact conditions that are triggering this issue.

Firstly, the above `file.uncomment` rule appears to be failing because the file contents it is editing are "UTF-8 Unicode text", not "ASCII text".

[code]

Why

[2020-07-31 12:48] eosborne-vio opened #58108 "Timeout value problem with napalm.junos_cli"
### Description of Issue
When I run napalm.junos_cli commands, they have issues with a timeout not getting set. There are a couple variants of this and I'm not 100% sure they're related, but they look awfully close.

#### issue the first
It looks like there should be a timeout passed in for a cli command, and there isn't.  I have tried setting `-t <val>` and `--timeout=<val>` both immediately afte

[2020-07-31 13:16] JanZerebecki opened #58109 "[BUG] pkg.uptodate(dist_upgrade=True) with zypper may miss updates"
**Description**
pkg.uptodate(dist_upgrade=True) with zypper may miss updates as zypperpkg.list_upgrades does not implement dist_upgrade, so only considers normal upgrade. This is not a documented kwarg, but it does work for other implementations, like apt. See uptodate https://github.com/saltstack/salt/blob/dc0595cc811f541044efe89446d5f212968db7e3/salt/states/pkg.py#L3244 and compare https://githu

[2020-07-31 13:18] oeuftete opened #58110 "[BUG] log.isEnabledFor doesn't work as expected"
**Description**

`log.isEnabledFor(level)` is used in a handful of places in the code.  It doesn't seem to work as intended.

**Setup**

`/srv/salt/_modules/demo_logIsEnabledFor.py`:

[code]

**Steps to Reproduce the behavior**

[code]

**Expected behavior**

These messages should have shown `False`:

[code]

Should this have been warning?

[code]

**Versions Report**
<details><summary>salt --vers

[2020-07-31 13:26] hatifnatt commented on #36619
I think this still can be an issue, in certain conditions unexpected value can be returned.

[code]

Correct / expected output by `hostname -f`
[code]

Unexpected data in grains
[code]

Cause of the issue:
1) `socket.getfqdn()` used as main method to get FQDN
https://github.com/saltstack/salt/blob/master/salt/utils/network.py#L240
https://github.com/saltstack/salt/blob/dc0595cc811f541044efe89446d5

[2020-07-31 13:32] bsoldhogg opened #58111 "[BUG] file.directory clean - Windows only (3001)"
**Description**
I've noticed an issue when using the clean argument of the file.directory state. On Windows, when you **first** run the state it removes any file found in the directory. On subsequent runs it never picks up new files.

**Setup**
Basic test state:

`temp_clean:
  file.directory:
    - name: C:\temp
    - clean: True
`

**Steps to Reproduce the behavior**
`# salt 'minion' file.readdi

[2020-07-31 18:21] ScriptAutomate commented on #57547
This has been properly added and present now in the `3001` documentation. It is in `master`, `3001`, and should be included in new releases going forward.

It is still not present in the `3000.x` documentation, but because this documentation is within a docstring and older documentation is locked after the latest non-CVE-related point releases, it won't be updated for this branch `3000.x`. This is

[2020-07-31 18:21] #57547 closed

[2020-07-31 18:34] Stephenm64 commented on #57733
I believe to have hit this issue as well and its quite disruptive with the salt master becoming fully unresponsive, pinned it down it seems to clients with empty minion.pem/pub keys due to some deployment issues.

[2020-07-31 18:50] ScriptAutomate commented on #55274
Adding to what @xeacott said, this looks like an issue where an audit by a contributor to `boto*` modules may need to take place.

[code]

**Output:**

[code]
Glancing at the output, it looks like many modules are reliant on the out-dated (and I think no longer maintained) version of the Python AWS library (boto v2 has since been replaced with `boto3`). It looks like some above have migrated over

[2020-07-31 19:34] ScriptAutomate commented on #57933
The documentation generated for `salt.cloud.clouds.vmware` and the `create()` function:
- https://docs.saltstack.com/en/master/ref/clouds/all/salt.cloud.clouds.vmware.html#salt.cloud.clouds.vmware.create

Which only includes a link to the profile config here:
- https://docs.saltstack.com/en/master/topics/cloud/vmware.html#profiles

But `customization_spec` is ultimately called from here:
- https:/

[2020-07-31 19:46] sagetherage commented on #57933
@nicholasmhughes maybe the Cloud Working Group can help here and we can collaborate between the WGs - Docs and Cloud :)

[2020-07-31 20:47] ronak2303 commented on #55231
hi guys,
   is this same for GitPython, as i am getting same error , gitfs is not avaiable when i recycle my salt-master after i installed GitPython 2.0.8.

[2020-07-31 20:52] nicholasmhughes commented on #57933
yeah... I mostly put this issue in to remind myself to eventually get around to it (unless someone steals it from me)

[2020-07-31 21:44] ScriptAutomate opened #58112 "[BUG] Documentation in minion config doesn't match minion config documentation, and vice versa"
## Description
There are options listed in the [`conf/minion`](doc/ref/configuration/minion.rst) file that are undocumented in the minion configuration documentation, [doc/ref/configuration/minion.rst](https://github.com/saltstack/salt/blob/master/doc/ref/configuration/minion.rst), and vice versa.

## Setup
Clone the latest version of this repository.

## Steps to Reproduce the behavior
See the in

[2020-07-31 22:19] ScriptAutomate commented on #57927
I'm not sure if additional documentation contribution/revision is going to be needed, unless @s0undt3ch knows of any revisions that would need to be made once #56579 is resolved (potentially by #56904).

[2020-07-31 22:20] #57746 closed

[2020-07-31 22:20] #57497 closed

[2020-07-31 22:25] #57477 closed

[2020-07-31 22:51] s0undt3ch commented on #57927
I'd love for pyproject.toml to be the single source of truth. It wouldn't be using Pipenv, it would be using poetry.
But a lot needs to change, in particular, Salt's packaging. Perhaps when we only distribute tiamat binaries.
Right now, I'd say delete pyproject.toml it's not doing us any good.

[2020-07-31 22:52] s0undt3ch commented on #57927
#56904 might partially addtess this though ...

[2020-07-31 23:10] sagetherage commented on #57933
Great! We do have some tech writers on staff with SaltStack, but they are a small group and split between many teams, so great reason to collaborate here!

[2020-08-01 04:43] ScriptAutomate commented on #56456
@jmgascoriego I realize this ticket is rather old. Though, since I just noticed this and am familiar with PowerShell (and executing it in `salt`), I think your command was being executed in a way that `salt` wasn't a fan of. I think your goal could have been achieved by:

- Using `cmd.run` with `shell=powershell` instead of `cmd.powershell`
- Modifying the PowerShell command itself to shorten to a

[2020-08-01 05:42] ScriptAutomate commented on #32400
I have opened a new ticket related to this, here, that's about getting the minion/master configs and docs synced up: #58112

The listed configuration values in this ticket, with unchecked boxes, still remain completely undocumented across both config files and the documentation files (except for `event_match_type`, which is in the master/minion conf files, but still needs to be in the documentatio

[2020-08-01 05:48] ScriptAutomate commented on #58112
I also decided to audit the **master** related conf and docs, in a similar fashion, after seeing that an issue was previously opened back in 2016 concerning documenting both minion and master configs: #32400

## Master audit

[code]

This ends up creating two files:
- `settings-missing-from-master-options-conf.txt`
- `settings-missing-from-master-options-docs.txt`

[code]

This seems to say that q

[2020-08-01 06:54] ScriptAutomate commented on #58112
Also: according to #32400, the following are completely undocumented at the moment and aren't to be found in the above audits of master/minion config files or config documentation:

[code]

It looks like the best source for all available options is:

- https://github.com/saltstack/salt/blob/master/salt/config/__init__.py

Which, running an audit against all default options for master/minion here l

[2020-08-01 07:52] ScriptAutomate commented on #56055
Running the following:

[code]

Shows that all of the following files in `master` mention `salt-unity`:

[code]

Here are some more details on lines where they are referenced:

[code]

[code]

To generate markdown formatted GitHub links to the lines where these are found, I ran the following:

[code]

This generated the following markdown output:

- https://github.com/saltstack/salt/blob/master/pk

[2020-08-02 17:30] cebe commented on #57274
While trying to reproduce another related issue, I just tried this on salt 3001 (both, master and minion) and it seems to be working.

[2020-08-03 06:13] cmcmarrow commented on #58108
`TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'`

[2020-08-03 06:25] cmcmarrow commented on #58109
@JanZerebecki if zypperpkg had `dist_upgrade` I would say this is a consistency problem. But zypperpkg does not have this arg because its has not been implemented. So I believe this to be a feature request more then a bug. I also think   the documentation should be updated until the feature is add it.

[2020-08-03 06:30] cmcmarrow commented on #58096
@markododa looks like salt expects the master section and does not add defaults if missing. Is the documentations not clear about this? Do you think the documentations needs to make this  more clear?

[2020-08-03 06:35] cmcmarrow commented on #58081
@poliscialex have you confirmed that your `.pem` and all other keys are working when used out side of salt? Thanks for the report!

[2020-08-03 06:41] cmcmarrow commented on #56619
@max-arnold I still cant reproduce this. Can you please provided all the scripts in full and a `.sh`. Their might be something simple that we are overlooking.

[2020-08-03 06:50] max-arnold commented on #56619
@cmcmarrow I'm not sure why are you tagging me instead of the original reporter...

[2020-08-03 08:24] Timbus opened #58114 "[FEATURE REQUEST] Support checking/modifying the return of state.module.run"
**Problem**
Today I was struggling to use the win_service.modify command from state.module.run in a way that would allow for some result-based followup actions. I ended up writing a custom state but I feel like it should have been possible without needing to use python.

**Solution**
If state.module.run offered an interface to allow for checking return values and using them to signal success/chang

[2020-08-03 08:36] markododa commented on #58096
I followed this doc https://docs.saltstack.com/en/latest/topics/cloud/map.html#setting-up-new-salt-masters.
There is no mention about master configuration.

[2020-08-03 13:40] eapugo commented on #57954
Tested the downgrade as we were having a similar issue and it did not work. Depending on how many minions you have - the issue will resolve itself after the master is restarted and reoccur over a period of time...A proportional number of minions claim to fail to respond.

 https://github.com/saltstack/salt/issues/57750#issuecomment-649089016 has a similar bug report of the same underlying issue

`

[2020-08-03 13:45] eapugo commented on #57954
Tested the downgrade as we were having a similar issue and it did not work. Depending on how many minions you have - the issue will resolve itself after the master is restarted and reoccur over a period of time...A proportional number of minions claim to fail to respond.

 https://github.com/saltstack/salt/issues/57750#issuecomment-649089016
 has a similar underlying issue.

`Salt Version:`

[2020-08-03 15:06] aokiji opened #58115 "[BUG] Cannot set highstate returner report_everything to False"
**Description**
Cannot disable success report in highstate returner module

**Setup**

[code]

**Steps to Reproduce the behavior**
Configure salt minion highstate returner with report_everything set to False and run

[code]
I have prepared a docker-compose setup to reproduce the problem:

[code]

Then open http://localhost:8025 in the browser to inspect emails sents by the returner

**Expected beh

[2020-08-03 15:09] aokiji commented on #58115
It seems the error is here

https://github.com/saltstack/salt/blob/84987d151522ca36c76f0e15944e95b2b5f9ef5e/salt/returners/__init__.py#L159

It could be fixed changing it to:

[code]

[2020-08-03 16:09] sagetherage commented on #56619
@brandon-sling we are not able to reproduce this. Can you please provided all the scripts in full and a `.sh`. Their might be something simple that we are overlooking.

[2020-08-03 17:35] jbrouwers opened #58116 "kubeadm.token_list fails with IndexError when no tokens are available"
### Description of Issue
The token_list method from the kubeadm module fails with the following exception :
[code]
The same error also occurs when using the kubeadm.join_params method even with create_if_needed=True. The issue is likely related to newer versions of kubeadm. I'm not certain when this behaviour changed, but both 1.17.6 & 1.18.6 versions of kubeadm print no headers when no tokens are

[2020-08-03 20:07] scottalanmiller commented on #48763
I still have this issue today.

[2020-08-03 21:11] sagetherage commented on #56007
closing as we upgraded to mspack 1.0, and please reference this issue if more issues arise.

[2020-08-03 21:11] #56007 closed

[2020-08-04 05:45] yhzs8 opened #58121 "[BUG] Wrong parameter name of 'file_recv_size_max' in error printout"
**Description**
`file_recv_size_max` in https://github.com/saltstack/salt/blob/3000.2/salt/modules/cp.py#L854 should be `file_recv_max_size`
according to https://docs.saltstack.com/en/latest/ref/configuration/master.html#file-recv-max-size

[2020-08-04 07:21] bociankruk opened #58122 "[BUG] Unable to use salt-minion on Windows Server 2004"
**Description**
When I'm trying to call state.apply on Windows Server 2004 build (https://docs.microsoft.com/en-us/windows-server/get-started/whats-new-in-windows-server-2004), command fails. After quick troubleshooting looks like variable `grains["osrelease"]` equals None.

Here is a full log message:
[code]

**Setup**
None

**Steps to Reproduce the behavior**
1. Install salt-minion. Connection t

[2020-08-04 09:41] max-arnold commented on #50624
I made some progress trying to run podman containers using its new [Docker-compatible API](https://podman.io/blogs/2020/01/17/podman-new-api.html) and the existing `dockermod` execution module.

Installation instructions (Ubuntu 20.04, Salt 3001):

[code]

By default any `docker.*` functions will fail due to the hardcoded version check:

[code]

To fix that, run the following command and restart s

[2020-08-04 10:10] mchugh19 commented on #50624
Is the goal to make the current docker modules work with both docker and podman, or to introduce a new podman module with a docker virtualname?

[2020-08-04 10:19] smarsching commented on #41578
@OrangeDog You write that after 15 minutes, your minions do reconnect.

We have a similar problem as the one that you are reporting, but in our case, the minions do not reconnect, not even after hours, so I would like to understand what might be different about our setup compared to yours.

In our case, the minions connect to the master, not the other way around and the master occassionally change

[2020-08-04 13:45] mpolinowski commented on #31907
I am new to Salt and was following an older tutorial when I ran into the same issue. It seems that the expected folder structure changed.

The tutorial said that I should store both my state and pillar data in the `/srv/salt/` directory. According to the master config `etc/salt/master` the actual default pillar root is in `/srv/pillar/`:

[code]

Once I moved my files to the correct folders everyt

[2020-08-04 13:57] max-arnold commented on #50624
The current goal is to make existing modules work with minimal or no changes (it is stated that [docker-py should just work](https://github.com/containers/podman-py/issues/2#issuecomment-582120945) with Podman APIv2).

If it turns out to be unachievable, then the only option left is to write a new set of Podman-specific state/execution modules using the new [podman-py](https://github.com/container

[2020-08-04 14:07] bsoldhogg opened #58123 "[BUG] ConvertTo-JSON in win_servermanager is failing on Win 2008 R2"
**Description**
Running `win_servermanager.list_installed` against a minion running Windows Server 2008 R2 SP1 fails as ConvertTo-JSON is not recognised

**Setup**
No special setup, just trying to pull back the list of installed features on a 2008 R2 minion using the execution module win_servermanager.list_installed

**Steps to Reproduce the behavior**

`ERROR: The term 'ConvertTo-Json' is not rec

[2020-08-04 15:01] spinoshi opened #58124 "[FEATURE REQUEST] netconfig.managed support for commit message"
It would be useful if the module netconfig.manage could incorporate a commit message.
Than could be use like this:
[code]

Thanks!

[2020-08-04 16:47] poliscialex commented on #58081
Yes as I use the .pem to ssh to the droplet once I know it's IP address. So the .pem is working fine.

[2020-08-04 16:49] sagetherage commented on #32400
Please refer to the latest ticket with auditing for more configs that have been added to complete this work - closing.

[2020-08-04 16:49] #32400 closed

[2020-08-04 17:00] tqre opened #58125 "[BUG] system.reboot_required_witnessed sticks on True after setting it and rebooting"
**Description**
system.get_reboot_required_witnessed returns always true once set.

**Setup**
- QEMU/kvm virtual machine, master and minion on same machine
- happens also with master and minion on different machines

Config files:
[code]

**Steps to Reproduce the behavior**
- start and enable both master and minion services
- accept minion key
[code]

**Expected behavior**
system.reboot_required_w

[2020-08-04 17:24] jasperla opened #58126 "[BUG] tls execution module creates world readable private keys"
**Description**

The [tls execution module](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.tls.html#module-salt.modules.tls) creates private keys which are world readable, this includes the CA key. I have been able to reproduce the issue using the CLI examples from the documentation.

**Setup**
No config files and/or SLS files required to reproduce, other than a working Salt set

[2020-08-04 17:27] #57961 closed

[2020-08-04 18:21] garethgreenaway commented on #58114
@Timbus Thanks for the report.  Can you elaborate a bit more on what exactly you're looking to do?  Do you want to capture the results from state.module.run and run something based on that?  Is this within the same state run or multiple state runs?

[2020-08-04 18:32] garethgreenaway commented on #58116
@jbrouwers Thanks for the report.  @aplanas FYI.

[2020-08-04 18:38] garethgreenaway commented on #58121
@yhzs8 Thanks for the report.  This looks like it should be a pretty straightforward fix, would you be able to submit a PR for this fix?  We do require tests but can help you with those.

[2020-08-04 18:56] garethgreenaway commented on #58122
@bociankruk Thanks for the report.  We do not support that version of Windows Server, we support 2008, 2012, 2016, and 2019
per our supported operating system document, https://get.saltstack.com/rs/304-PHQ-615/images/SaltStack-Supported-Operating-Systems.pdf

[2020-08-04 18:59] #58122 closed

[2020-08-04 19:06] sagetherage commented on #56456
This isn't fix, but a fix has been suggested thanks to @ScriptAutomate a PR would need to be opened. I will move this to approved and get a severity label attached.

[2020-08-04 19:08] garethgreenaway commented on #58123
@bsoldhogg Thanks for the report.

@cmcmarrow Can you take a look at this one?  It looks like we're using the right module and the right shell in this call.  I wonder if
"ConvertTo-JSON" is not available in the version of Powershell that is installed?

[2020-08-04 19:09] garethgreenaway commented on #58124
@spinoshi Thanks for the report.  This would be a great feature to include in this module, would you be able to provide a pull request that includes it?  We do require tests but can definitely help you get those in.

[2020-08-04 19:11] bsoldhogg commented on #58123
It's running Powershell 2.0, although I've since upgraded it to 5.1 so I can proceed with what I was doing.

[2020-08-04 19:16] garethgreenaway commented on #58125
@tqre Thanks for the report.  Can you check the Windows registry and see if the following name in the following key is setup after a reboot?  The `Reboot required` in `SYSTEM\\CurrentControlSet\\Services\\salt-minion\\Volatile-Data` is what is used to gather that information.

[2020-08-04 19:20] tqre commented on #58125
Sorry, no Windows involved... Running Arch Linux on host hypervisor aswell.

[2020-08-04 19:35] ScriptAutomate commented on #56456
@sagetherage If my suggestions resolve the issue being experienced by @jmgascoriego, it would mean this is an error having to do with how `cmd.run` / `cmd.powershell` was being used with PowerShell output rather than a problem with salt itself.

If it is the case, a PR or fix is not needed and this ticket can be closed upon verification from @jmgascoriego

[2020-08-04 19:39] tqre commented on #58125
It looks like salt touches file `/var/volatile/tmp/salt/reboot_witnessed`, which is not mounted as tmpfs on Arch Linux. So the file remains through boots.

https://github.com/saltstack/salt/blob/master/salt/modules/system.py
Looking at the source, it looks like NILRT_REBOOT_WITNESS_PATH is used on these functions every time. Maybe setting a default `/var/tmp` fixes this?

[2020-08-04 19:47] sagetherage commented on #56456
Got it, I see I made assumptions based on Shane's label, my mistake! @jmgascoriego let us know if this works for you or not. I am currently closing the ticket, but please mention me if it needs to be reopened.

[2020-08-04 19:47] #56456 closed

[2020-08-04 20:32] Morozzko opened #58129 "[BUG] XML atribute"
I am trying to use this command:
`
salt '*' xml.set_attribute C:\\service.exe.config ".//connectionStrings//add[@name='DefaultConnection']" connectionString "Data Source=SEPVVDB-ER01;Initial Catalog=Pol_EX; Rewrite=true;"
`
You can see the document before and after this command, it changes structurally.
![271269-alexfas01_3840x2400](https://user-images.githubusercontent.com/58587081/89341324-cae45

[2020-08-04 21:50] sootythebear opened #58130 "hashutil.github_signature does not recognize sha argument"
### Description of Issue
Executing `salt <minion> hashutil.github_signature '{"ref":....} ' 'shared secret' 'sha1=<key>` returns the error:

`ERROR executing 'hashutil.github_signature': The following keyword arguments are not valid: sha1=c12560e6fe48bf2a1e96119a81ffb9d3ee033717`

### Setup
GitHub Webhook configured for `push event`.

For the `string`, cut-n-paste either the payload from GitHub We

[2020-08-04 22:18] sootythebear commented on #58130
Noticed that `sha1=<value>` was being parsed as a key=value pair, workaround was to specify as follows:

` challenge_hmac='sha1=c12560e6fe48bf2a1e96119a81ffb9d3ee033717'`

[2020-08-05 04:10] cwray opened #58132 "[BUG] Snap.installed not avalable in 3001"
**Description**
State snap.installed is missing from 3001. Ubuntu and many other communities are using snaps more and more.

This is extremely needed as time goes on.

Case and point. Some maintainers are moving exclusively to snaps and away from standard repositories and PPA's because they are supported on most platforms.
https://github.com/certbot/certbot/issues/7950

**Certbot.sls**
[code]

**R

[2020-08-05 04:56] Timbus commented on #58114
Well, this is a bit of an 'XY' problem I guess.
For my very specific use case, problem 'X', I wanted the ability to manipulate/check the return value from module.run and use that value to possibly trigger an onchange for the next state. In short, it would allow building custom states without needing to write python.
I'm not a big fan of the design of the new `module.run` as it's not very extensibl

[2020-08-05 07:24] aplanas commented on #58116
@garethgreenaway @jbrouwers Thanks! Working on it!

[2020-08-05 08:08] xiwangqi opened #58134 "[BUG] Salt reactor does not support all-digital minion_id"
**Description**
Salt reactor does not support all-digital minion_id.

**Setup**
salt-master 3001

/etc/salt/master.d/reactor.conf
[code]

/srv/reactor/sync.sls
[code]

**Steps to Reproduce the behavior**
Execute in minion： systemctl restart salt-minion
Get Error in salt master log:
`2020-08-05 14:13:49,022 [salt.utils.minions:749 ][ERROR   ][17576] Failed matching available minions with glob patte

[2020-08-05 09:15] Darkentik opened #58135 "[BUG] mysql_query.run output=grain - Whitespace in dictionary key"
**Description**
I'm writing a state for automate Icingaweb2 database stuff.
For checking if someone has changed the password of an account "admin" i will check the pasword_hash and must save the mysq_query.run output to the grains to be able to use the content of the grain for later checks.
My problem now is that in the dictionary of the grain is a key called "rows returned" that has a whitespace

[2020-08-05 09:57] bdrung commented on #40054
Just confirmed that the behavior is still the same in salt 3000.2.

[2020-08-05 11:09] aplanas commented on #58116
Fix lives here: https://github.com/saltstack/salt/pull/58136

[2020-08-05 12:54] ronak2303 commented on #58043
hi McMarrow,
    i was able to reproduce this by below step on other server.
    1st ) i ran the script 2 time to  make sure that GitPython installed.
    2nd ) i put gitfs entry in master file /etc/salt/master and restart salt master.
             once i restart i see "No suitable gitfs provider module is installed" when i do systemctl status salt.master
   3rd) then i remove entry for gitfs from

[2020-08-05 14:01] justindesilets opened #58137 "[BUG] Cannot install salt library on macOS 10.15.6"
**Description**
After upgrading to macOS 10.15.6 I cannot install the salt library into a clean python3 virtual environment. I am getting the following output / errors

[code]

**Setup**
OS: macOS 10.15.6
Brew installed python 3.8.1
virtualenv: 16.4.3
xcode: 11.6 (11E708) installed through the AppStore

**Steps to Reproduce the behavior**
In a clean new folder:

[code]

**Expected behavior**
I wou

[2020-08-05 14:13] rosscdh opened #58138 "[BUG] win_network.managed"
**Description**
Network Adapter not able to be referenced by name

**Setup**
setup a network.managed state for a windows minion

hwa exists

[code]

**Steps to Reproduce the behavior**
[code]

**Expected behavior**
network adapter is configured as desired

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Versions Report**

[code]

[code]
</details>

**Additional cont

[2020-08-05 16:12] sagetherage commented on #41578
@OrangeDog @smarsching if it would help, myself and/or @cassandrafaris can set up a time to discuss in a group? We have engineers across the Pacific in EU timezones where we could set up a meeting then or US timezones, whatever works for all involved. If that helps to discuss what maybe happening here and thus lead to a possible solution seems like a win-win, no?

[2020-08-05 16:29] twangboy commented on #53885
@markuskramerIgitt So, is the issue resolved in 3001?

[2020-08-05 16:32] SJay3 commented on #46665
+1 We need a progress for salt

[2020-08-05 17:06] cmcmarrow commented on #58043
@ronak2303 I tried your steps to reproduce. Still no luck :(. Next I will install `readhat 7.7` and python `python 2.7.5`.

[code]

[2020-08-05 17:19] cmcmarrow commented on #57456
[code]

[2020-08-05 17:29] cmcmarrow commented on #57456
This hack will stop the hang but will skip cleanup and may leak resources.
`salt/scripts/salt-call.py`
[code]

[2020-08-05 17:34] cheburazavrik opened #58141 "Thread leak for salt-minion 3001"
### Description of Issue
Salt-minion creates thread leak if PTR record is malformed.

### Steps to Reproduce Issue

1.Crete malformed PTR record for any IP on the salt-minion  for example "." ( this was a case with my provider ).
2. Apply highstate form the master, I have single file.touch in my highstate.
`/tmp/salt.touch:
    file.touch`
3. Execute "systemctl status salt-minion"

In my case I ha

[2020-08-05 17:51] sagetherage commented on #56467
@edhgoose I apologize it took me so long to actually follow up, here. Wondering if we should schedule a session with a Core Team member to attempt to hammer on this, I can help to schedule something, is there a time that is best for you?

[2020-08-05 17:55] sagetherage commented on #56619
clearing a few labels and assignee as Gareth's workload has recently changed a bit, do let us know @brandon-sling if you can provide the above. Thank you!

[2020-08-05 18:13] sagetherage commented on #57721
@allyunion putting this into blocked until we hear more from you - please mention me or krionbsd and we will move forward on this ticket.

[2020-08-05 18:14] markuskramerIgitt commented on #53885
I am testing

[2020-08-05 18:18] sagetherage commented on #57701
No default in the config - confirming the bug with help fr Gareth, moving to approved, can be picked up by the community or Core Team in Magnesium, but not committed unless a PR is opened, otherwise I will set it for consideration in Aluminium.

[2020-08-05 18:20] sagetherage commented on #57701
I stand corrected -- this is a regression, moving to commit to work this in Magnesium release.

[2020-08-05 18:26] sagetherage commented on #58043
@ronak2303 let me know if you are willing to setting up a call between you and @cmcmarrow so he can reproduce and get this fixed. I am happy to help coordinate.

[2020-08-05 18:43] allyunion commented on #57721
Yes, it did work prior to 3001.

On Wed, Aug 5, 2020, 11:13 AM Sage the Rage <notifications@github.com>
wrote:

[2020-08-05 19:57] weswhet commented on #58137
Hey @justindesilets, thanks for reporting! This should be fixed in 3001.1. Which should be out shortly.

[2020-08-05 20:22] weswhet opened #58143 "[BUG] mac_service module crashes on macOS Big Sur"
**Description**
When trying to run any mac_service modules on macOS Big Sur Beta4 you get the following traceback.

[code]

This is caused by a new service that has been added in Big Sur. `/System/Library/LaunchAgents/com.apple.cvmsCompAgent3600_arm64.plist`

it contains a new key value pair that causes the ValueError with `plistlib`.

[code]

Technically this violates the spec at http://www.apple

[2020-08-05 23:10] edhgoose commented on #56467
@sagetherage, that'd be great.

If you want to take a take a look at https://calend.ly/edhgoose that's probably a good start? Generally evenings (UK time) are pretty good too.

[2020-08-06 06:30] Prakash82x opened #58145 "[BUG] grain dict order is not maintained"
**Description**
While trying to retrieve some grains of few minions, the return order of grains  (key value) is not maintained at every execution and gets randomized while using --out=text.

**Setup**
I am trying to retrieve grains of following list of minions as below:
[code]

**Steps to Reproduce the behavior**
Every time the above command is executed the return of grains is in different order I

[2020-08-06 11:53] rossengeorgiev commented on #44310
Thanks!. I've updated the issue as this still exists in latest salt

[2020-08-06 12:03] rossengeorgiev commented on #58134
Formulates are yaml, so numbers will be converted to type `int`. In the template, you can cast to string and use yaml filter to get correctly format string:

[code]

[2020-08-06 13:44] emersonposadas commented on #54759
Having the problem also on Amazon Linux 2:

[code]

[code]

[2020-08-06 14:22] doesitblend commented on #52726
ZD-3676

[2020-08-06 14:26] oeuftete commented on #54791
ZD-5548.

[2020-08-06 14:33] markuskramerIgitt commented on #53885
@twangboy  zmq_filtering between a Python 3 Salt-Minion-3001 patched with https://github.com/saltstack/salt/pull/58008 and a Py2  2019.2.5 master works.

I regard the issue as resolved.

[2020-08-06 14:33] #53885 closed

[2020-08-06 15:12] sagetherage commented on #57721
@krionbsd looks like this might be a regression

[2020-08-06 16:11] #53124 closed

[2020-08-06 16:26] whytewolf opened #58146 "[BUG] proxy schedules are not persistent on restart."
**Description**
A proxy minions schedules are not persistent on restart. If you add a schedule using `schedule.present` and then restart the proxy-minion the schedule disappears. As well as the `/etc/salt/proxy.d/<proxy_minion_id>/_schedule.conf` file is recreated with basic info.

**Setup**

<details><summary>pillar configs</summary>

[code]
</details>

<details><summary>quick state for test run<

[2020-08-06 17:42] sagetherage commented on #56127
@saltstack/docs-working-group

[2020-08-06 17:44] sagetherage commented on #57203
@ScriptAutomate this is smaller in scope, and lingering change to the docs.

[2020-08-07 04:41] ykaly opened #58150 "salt.states.file.managed not accurate"
**Description**
salt.states.file.managed seems not to identify the file size is different from master and minion

**Setup**

[code]

`salt minion_id state.apply sls-file`

**Steps to Reproduce the behavior**
[code]

Source/master: `-r--r----- 1 root root 2817 Aug  6 20:15 /srv/salt/file`
Minion: `-r--r----- 1 root root 2787 Aug  6 20:15 /tmp/file`

**Expected behavior**
Expected behavior is it wou

[2020-08-07 06:31] rossengeorgiev commented on #58150
That exactly what `replace: False` does according to the documentation. If the file already exists, it wont modified it.

[2020-08-07 12:50] amalaguti commented on #44954
This issue is still present, I have tried the fix and it seems to work fine.

[2020-08-07 15:43] bociankruk commented on #58122
Thanks for quick reply. Just to clarify, are there any plans to add support for other builds of Windows Server (like 2004)?

[2020-08-07 18:33] #57931 closed

[2020-08-07 20:08] sagetherage commented on #58145
@Prakash82x can you give us more detail in regards to your use-case, here, please?

[2020-08-07 20:14] sagetherage commented on #58129
@Morozzko after you run this is the XML no longer valid?

[2020-08-07 20:35] garethgreenaway commented on #58132
@cwray Thanks for the report.  The snap state was contributed to the develop branch and there is a pending PR to bring it into the master branch, https://github.com/saltstack/salt/pull/56953.  Once it has tests and ensuring those tests are passing, the PR will be merged and the feature will be available in an upcoming release.

[2020-08-07 20:45] garethgreenaway commented on #58134
@xiwangqi Thanks for the report.  Can you confirm if the suggestion by @rossengeorgiev fixes the issue for you?

[2020-08-07 21:32] cmcmarrow commented on #57456
The bug does not sit in `pyzmq` but rather `libzmq`. I built `pyzmq 18.0.0` with `zmq 4.3.2` and got the hang! The break happened when they went from `zmq 4.3.1` to `4.3.2`. Note: When I ran libzmq tests I go no fails.

[2020-08-07 21:35] cmcmarrow commented on #57456
Even though this is an upstream bug we are working on and patch and open a pull request with libzmq

[2020-08-07 22:54] OrangeDog commented on #58126
Just to note, there seems to be a large functionality overlap between the `tls` and `x509` modules here. That's probably not good.

[2020-08-07 23:48] cwray commented on #58132
Sweet, thank you guys for your hard work.

[2020-08-08 01:47] ari commented on #58114
This looks like a duplicate of #38533

[2020-08-08 07:09] Timbus commented on #58114
Thanks for the link, and yes this is basically another take on that.
And though your proposal in that thread is nice (and better than my initial idea), I would argue that simply being able to capture module/state results in runtime registers would allow you to use ordinary `state` modules to perform the evaluation, eventing, etc that you want based on the content of a register, which seems quite a

[2020-08-08 07:47] jasperla commented on #58126
@OrangeDog that's correct however the `x509` module does seem to focus on more on advanced (exhaustive?) interactions with X509 certificates whereas the `tls` module mostly seems to focus on setting up and maintaining a certificate authority.
I could see `x509` absorbing `tls` at some point though, but the interface could use some work to make it easier for users to transition. Alas, that's whole

[2020-08-08 12:34] ymasson opened #58157 "[BUG] Can't browse repositories on Firefox 79"
**Description**
Since Firefox 79 and its privacy enhancement
https://blog.mozilla.org/security/2020/08/04/firefox-79-includes-protections-against-redirect-tracking/

It is impossible to browse the repositories contents without disable the Firefox native tracking protection.
https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js is blocked.

**Setup**
Open Firefox and developer tools on h

[2020-08-08 16:48] garethgreenaway commented on #58157
@ymasson Thanks for the report.  We're including this javascript to gather download stats so we can track whose downloading what versions of Salt. We'll look into this and find a better less problematic way.

[2020-08-08 16:53] garethgreenaway commented on #58138
@cmcmarrow FYI.

[2020-08-08 16:55] garethgreenaway commented on #58137
@justindesilets Thanks for the report.  3001.1 was released yesterday, can you confirm that this release fixes the issue you were seeing?  Thanks @weswhet!

[2020-08-08 16:58] Darkformer commented on #58129
@sagetherage , let me continue the thread - yes, the xml is no longer valid. For starters, it deletes the first line (the whole xml declaration) and secondly it adds namespaces to elements which prevents the .net framework from parsing this config.

The possible reason would be that instead of actually just changing the attribute, xml module [reads the whole file in the ElementTree](https://github

[2020-08-08 17:07] bryceml commented on #58157
we're using https://github.com/rufuspollock/s3-bucket-listing to provide the directory listings.  If it would help for us to host the jquery.min.js file, we can do that.

We avoided switched from apache and rsync because it's easier to have high uptime with much fewer "moving parts"  it also means that for those that want to sync our repo into an s3 bucket, that's much faster now.  You can also sy

[2020-08-08 17:37] ymasson commented on #58157
My configuration is probably more restrictive.
[ff79.png](https://postimg.cc/0KCMvLcv)

[2020-08-08 17:56] bryceml commented on #58157
try now, I've moved the jquery file to be hosted on the same site.

[2020-08-08 17:56] garethgreenaway commented on #58150
@ykaly Thanks for the report.  @rossengeorgiev is correct, this is the expected behavior with the `replace` flag set to False.

[2020-08-08 18:07] ymasson commented on #58157
its works fine, thanks you @bryceml

[2020-08-08 18:27] lubyou commented on #58123
2008 R2 / 7 come with Powershell 2, ConvertTo-Json does not exist before Powershell 3

[2020-08-08 18:34] garethgreenaway commented on #58135
@Darkentik Thanks for the report.  We should handle in this code, most likely with a configurable option to convert white space.  As a workaround if you wrap the grains key in quotes you'll be able to retrieve the value.

[2020-08-08 18:34] #58157 closed

[2020-08-09 03:19] justindesilets commented on #58137
@garethgreenaway I can confirm I was able to install the salt library. Thank you for all the hard work.

[2020-08-09 03:19] #58137 closed

[2020-08-09 22:26] khireddine10 commented on #52207
I am facing this problem too

[2020-08-10 06:19] boltronics commented on #57029
I just came here to report this, and noticed it has already been reported but was dismissed. Thanks @dmurphy18 for taking the time to share some of the logic behind why it was configured this way, but I do disagree with a number of points.

Debian and Ubuntu have their own specific repositories that have their own unique configuration. eg RedHat doesn't a GPG-signed Release file, but it does have

[2020-08-10 06:36] nnovikov opened #58159 "[BUG] salt-minion freeze"
**Description**
Salt minion get stuck after restart or server reboot.
Salt-master return 'Minion did not return. [No response]' when I try test.ping.

On minion:
strace -p 5057
strace: Process 5057 attached
futex(0x7f2d70714970, FUTEX_WAIT_PRIVATE, 2, NULL

**Setup**
Debian GNU/Linux 9.11 (stretch)
ii  salt-common                   2019.2.5+ds-1                       all          shared libraries

[2020-08-10 07:12] boltronics commented on #57029
By the way @dmurphy18, is the code used to generate the existing repository structure published somewhere we can look at (and maybe submit PRs for)?

[2020-08-10 14:34] Ch3LL commented on #49840
ping @jf can you try https://github.com/saltstack/salt/pull/58163

There was actually two places that called `salt.utils.network.ip_to_host` so im guessing you were hitting the other reference i didnt mention above.

[2020-08-10 14:40] heini commented on #57029
@boltronics:

In fact, it's just the repo that (wrongly) claims it was amd64 only. The packages themselves are of architecture "all". If new releases come out, I usually download the packages I need, upload them to my Nexus Server and use them as-is on i386 and arm64.

[2020-08-10 15:36] edhgoose commented on #56467
@sagetherage - hey, I'd really love to get that help. This issue is driving me mad, sorry to chase - can we try and setup that session with a team member?

[2020-08-10 16:55] garethgreenaway commented on #57424
Closing in favor of #57781

[2020-08-10 16:55] #57424 closed

[2020-08-10 17:01] m0duspwnens opened #58165 "Warning for x509.certificate_managed in Salt 3001.1"
**Description**
After updating to 3001.1, I now see a warning for x509.certificate_managed. This occurs whether or not replace: False is specified. Previously we didn't have to specify replace: False

salt-call state.apply ca
[WARNING ] State for file: /etc/pki/ca.crt - Neither 'source' nor 'contents' nor 'contents_pillar' nor 'contents_grains' was defined, yet 'replace' was set to 'True'. As ther

[2020-08-10 17:12] nkrishnakishor commented on #54815
Hi,

Hope you guys are safe and doing great.

Do we have any update on this please ?

[2020-08-10 17:41] dmurphy18 commented on #57029
@boltronics You can find the repo's to build Salt here https://github.com/saltstack/salt-pack-py3 and https://github.com/saltstack/salt-auto-pack.  But note, experimenting with Tiamat https://gitlab.com/saltstack/pop/tiamat going forward

[2020-08-10 18:25] nnovikov commented on #58159
[code]

[2020-08-10 20:08] erespaulo commented on #58028
@garethgreenaway , My problem happens to version 2019.2.5 . My park is almost all in 2019.2.5 .

[2020-08-10 22:40] doesitblend commented on #58043
@cmcmarrow I believe this issue comes from some unresolved dependencies with the gitdb and gitdb2 libraries not being installed properly. I worked through this and was eventually able to solve by uninstall GitPython, gitdb, and gitdb2. Then I installed the latest version of GitPython.

These steps were taken according to the information I found [here](https://github.com/gitpython-developers/GitPyt

[2020-08-10 22:46] cmcmarrow commented on #58043
@ronak2303 I heard Ken was able to help you with your problem. For now I will close the issue but if you still need help you I believe you can reopen it.

[2020-08-10 22:48] #58043 closed

[2020-08-10 22:50] ari commented on #58114
I read https://docs.saltstack.com/en/master/topics/slots/index.html 5 times and I still have no idea what is being attempted there.

slots appear to be something to do with running code before a state. This issue is about running some code depending on the output of a state.

@garethgreenaway if you are involved in writing the slot code, please consider adding a real world example of how it might

[2020-08-10 23:38] #57962 closed

[2020-08-10 23:44] boltronics commented on #57029
Nice! Thanks @dmurphy18 for those links, that's great. I look forward to giving the salt-stack-py3 repository in particular a read.

[2020-08-11 05:59] dth202 commented on #56527
proxmox is alive and well. The url just needs to be updated. https://www.proxmox.com/en/

[2020-08-11 07:00] digitalkram commented on #52636
On a fresh Ubuntu (`VERSION="20.04.1 LTS (Focal Fossa)"`) install using "`python3-pygit2 1.0.3-1 amd64`" this can also be reproduced:
`_pygit2.GitError: Failed to authenticate SSH session: Unable to send userauth-publickey request`

Steps to reproduce:
curl -L https://bootstrap.saltstack.com | sudo sh -s -- -U -M -A mymasterip
salt-key -Ay

salt \* test.ping
apt install -y python3-pygit2

echo "fi

[2020-08-11 12:01] Timbus commented on #58114
Oh! After reading it again, it looks like slots do work with dictionaries, it's just a little hard to see from the example (.dictionary doesn't look like it's selecting a key..)
Well, with some minor re-jigging I can make that work I think.

But it's still lacking in many ways.. Like how do I pass that value to multiple states without rerunning the function, how can I chain the output to another f

[2020-08-11 12:21] poliscialex commented on #58081
Anyone else seeing this behavior?

[2020-08-11 14:13] disaster123 commented on #57856
this means salt isn't usable for ubuntu 20.04? As you cannot run mixed clients tcp and not tcp you cannot even upgrade your infra

[2020-08-11 14:31] gvengel commented on #57856
@disaster123 salt is still mostly usable and I've personally started upgrading infrastructure. It appears the bug only affects CLI use of `salt-call`. Both `salt` on the master and scheduled states on the minion still work, so when salt does hang, you can just Ctrl-C once it's finished to exit.

That being said, the bug is quite annoying, and there are some legitimately broken workflows, such as s

[2020-08-11 15:58] gqlo opened #58168 "Memory Backing Support"
Support Memory Backing to allow tuning virtual memory pages that are backed by host pages.
See [Libvirt domain xml](https://libvirt.org/formatdomain.html#memory-backing) for more details

[2020-08-11 16:53] sagetherage opened #58169 "[TEST FAILURE] PR Lint job failure"
**Description**
https://jenkinsci.saltstack.com/job/pr-lint/job/master/

[2020-08-11 17:00] krionbsd commented on #58168
@gqlo could you please elaborate what is this issue about?

[2020-08-11 17:02] jholloway7 commented on #55813
I think this happens because refresh_pillar causes a 'delete job' then 'add job' for each pillar schedule job even if the job definition hasn't changed between refreshes.  The 'run_at_start' is likely triggered somewhere in the 'add job' call stack which likely has an assumption that it's only being called once for the lifecycle of the minion.  That is, 'add job' likely doesn't consider the case w

[2020-08-11 17:11] gqlo commented on #58168
@krionbsd  Hi Krionbsd this is a feature request to support memory backing, Please see [Libvirt domain xml](https://libvirt.org/formatdomain.html#memory-backing) for more details.  This is in conjunction with two another PRs I am working on [CPU Model and Topology ](https://github.com/saltstack/salt/pull/57879) [Memory Tuning](https://github.com/saltstack/salt/pull/57636)

[2020-08-11 17:13] gqlo commented on #58168
I have working the draft PR for this feature already [Memory Backing](https://github.com/saltstack/salt/pull/58167)

[2020-08-11 17:17] banholzer commented on #57856
Very disappointing...!

[2020-08-11 17:19] krionbsd commented on #58168
@gqlo thank you for letting us know so we might interconnect these guys :)

[2020-08-11 17:22] gqlo commented on #58168
hahah I am the person who is working on all those PRs. We probably don't need to interconnect. :) haha

[2020-08-11 17:27] brandon-sling commented on #56619
tools.py
[code]
test.py
[code]

and something like `salt-run test.clear_cache` is then run. This results in the error.

[2020-08-11 17:37] cmcmarrow commented on #57856
https://github.com/saltstack/salt/issues/57456#issuecomment-662620477

[2020-08-11 22:30] #58169 closed

[2020-08-11 22:39] sergeyfd opened #58171 "[BUG]"
**Description**
service.running generates unnecessary warning.

**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info).

On a system that supports systemd use something like this:

service.running:
  - name: my_service
  - no_block: True

**Steps to Reproduce the behavior**

Try to apply state from above

**Expected behavior**
You will get a warning that 'no

[2020-08-12 07:01] remichristiaan opened #58172 "[BUG] Colored output on salt run mismatch"
**Description**
When you apply states, the result is shown like this:

![image](https://user-images.githubusercontent.com/32699394/89983811-9a3b8680-dc78-11ea-9018-8eca052922c3.png)

In my opinion there's a mismatch in that "changed-states" in the listing that presedes the totals are yellow and in the totals "unchanged" is yellow and "changed" is green. The colors for changed and unchanged in the

[2020-08-12 10:03] Vaarlion commented on #50899
Thank you a lot @Talkless. Worked without issue

A 2y old bug with a fix available still isn't fixed in supported release (2019.2.5)... is it in 3001 (python3)?

I know a PR won't be accepted for an old (even if supported) release, but i don't have a way to check 3001 right now. If this is still broken ? Then i will make one quickly because it's _a bit_ ridiculous.

[2020-08-12 10:38] disaster123 commented on #57856
@sagetherage how to solve this?

With transport: tcp salt-call itself is working BUT now i'm running into the next issue
[code]

it seems unpossible to run salt on ubuntu currently. tcp isn't working either.

[2020-08-12 11:00] gasmick opened #58174 "The 'verify' key in Vault module configuration has to be specified in the minion config, too"
**Description**
The vault module configuration documentation does not mention the necessity of `vault:verify` key in the minion config. Consequently, the `__opts__` dictionary on minion is missing the `vault:verify` key, which is required in the code in `utils/vault.py`.

**Setup**
[code]
**Steps to Reproduce the behavior**
1. Use as the value of `verify` any file which is not system default like

[2020-08-12 11:32] disaster123 commented on #57456
i'm sorry but i downgraded from libzmq 4.3.2 to libzmq 4.3.1 and it still hangs.

[2020-08-12 11:35] markuskramerIgitt opened #58175 "[BUG] On Windows Salt creates warning "AppEnvironmentExtra salt-minion" without description"
**Description**
On Windows, Salt uses NSSM/SSM.  NSSM/SSM creates warning
 `AppEnvironmentExtra salt-minion` without descripton in the Windows event log.

Warnings in the Windows event log sometimes could raise concern.

The Salt-Minion otherwise works, making this a minor issue

**Setup**
Install Salt-Minion 30001 on Windows.

Open Event Viewer, search for nssm Warnings, find

[code]

**Expected

[2020-08-12 11:49] OrangeDog commented on #57456
@disaster123 I think you need to rebuild `pyzmq` against the downgraded version.

[2020-08-12 11:59] disaster123 commented on #57456
may be #57856 is still a different bug.

I did:
* downgrade libzmq5
* downgrade libzmq3-dev
* rebuild pyzmq
* verified python3 reports ZMQ 40301 as zmq version

but salt still hangs at the end of execution.

[2020-08-12 11:59] disaster123 commented on #57856
I tried to work around this by downgrading zmq + pyzmq but it still does not work see: https://github.com/saltstack/salt/issues/57456#issuecomment-672827943

[2020-08-12 12:50] disaster123 commented on #57856
Was anybody able to fix this? Even downgrading zmq did not work for me.

[2020-08-12 12:51] morsik commented on #58122
Hmm… I just looked into MS docs, and looks like MS did some inconsistency in naming. At first I thought it's Windows Server released in 2004 year which makes sense not to support by SaltStack as they mention they support 2008, 2012, 2016 and 2019.

But looking further into https://support.microsoft.com/en-us/lifecycle/search/19616 looks like MS changes naming convention and 2004 is not year, but Y

[2020-08-12 12:51] wegenerbenjamin commented on #39564
This issue still persists in 2019.2. When running commands with a user different from `root` or the user under which the salt master is running, the following error occurs:

`[CRITICAL] Salt configured to run as user "root" but unable to switch.`

[2020-08-12 12:53] wegenerbenjamin opened #58176 "Reopen #39564"
Please reopen issue https://github.com/saltstack/salt/issues/39564, the bug still persists

[2020-08-12 12:56] disaster123 commented on #57456
OK working fix is just to install pyzmq=18.0.1 no matter which version of libzmq is installed it's working with 4.3.2 and 4.3.1 for me. Important is that you use:
[code]

[2020-08-12 14:13] soner89 commented on #10032
We are running the Master in Kubernetes behind a LB Service with a static IP.

Unfortunately, we had to completely recreate the Kubernetes Cluster today which meant to reclaim a new IP address.
Now, our ~180 heterogenic Minions can't connect to the Master. Honestly, I have better things to do to connect to all Servers and restart the Salt-Minion.

Is there an ETA when Salt will respect the DNS TTL

[2020-08-12 14:32] amalaguti commented on #53604
Looks like there's a problem with schedule.show_next_fire_time and scheduled jobs using when:, it returns None for next_fire_time.
# cat sched_state.sls
size_tree1:
  schedule.present:
    - function: state.sls
    - job_args:
      - show_info
    - when:
        - Monday 10:00am

# salt-call schedule.list
local:
    schedule:
      size_tree1:
        args:
        - show_info
        enabled: t

[2020-08-12 15:08] twangboy commented on #57695
In this case, we should put in the PR to update as many modules as we can early on in the release process so that there is adequate testing. That will allow us to discover conflicts and regressions that may exist in the new versions.

[2020-08-12 15:31] amalaguti commented on #14553
Opening this issue, is still found in 3001.1, in this case when it's run under normal salt to minion execution.
# salt master_minion state.sls sched_state -l warning

No problems using salt-call, no problems running the state as an orchestration.

# salt-call state.sls sched_state -l warning
local:

Summary for local
-----------
Succeeded: 0
Failed:   0
-----------
Total states run:    0
Total run

[2020-08-12 15:45] markuskramerIgitt opened #58177 "[BUG] Windows salt-minions spontaneously go into restart loop. Since 3001 massive CPU load"
**Description**
138 NUL characters spontaneously appear in `conf\_schedule.conf` of at least 8 out of 10,000 minions.

"spontaneously" means: the minion writes the NUL bytes, not a user.

The NUL characters do not appear very often, but the effect is catastrophic:
- Unlike in Unix, Windows reacts to the Python YAMLError exception with restarting the servicse, which causes a loop.
- The CPU load ri

[2020-08-12 15:53] amalaguti commented on #39955
I'm re-opening this issue due lately I have seen a few customers running into this same issue, and I'd like your consideration for a fix or at least document it in the Salt Cloud - Windows section documentation to prevent users about this problem

[2020-08-12 15:56] amalaguti commented on #39955
https://saltstack.zendesk.com/agent/tickets/5505 here you go a ZD ticket for this issue

[2020-08-12 16:11] ggiesen opened #58178 "[FEATURE REQUEST] salt-cloud does not support using using salt file server for file_map"
**Is your feature request related to a problem? Please describe.**
I started using the file_map feature of salt-cloud (on vmware specifically) and it appears it does not support using the salt file server as the file source (ie salt://scripts/some_script.sh). This means I have to use yet another mechanism to do version control/CI/CD for these types of scripts, instead of using gitfs.

This works:

[2020-08-12 16:38] sagetherage commented on #41578
Moving this to non-committed work in Magnesium -- but it is still on the table to discuss in a small group setting if that helps. @DmitryKuzmenko assigning in case a discussion is to occur in your timezone and not US plus your skills are welcomed here: let's see if this is working as designed or merely "failling back" to the TCP keepalive default and isn't reliable, please.

[2020-08-12 16:49] smarsching commented on #41578
@sagetherage I am very interested in a discussion of this issue. I am located in the EU, but I am somewhat flexible regarding the the time of the discussion (as long as it isn’t before 8am or past 10 pm local time), so I am sure we can figure something out, regardless of where your engineers are located.

Today, when we had the problem again, I made an interesting observation. The minion does not

[2020-08-12 16:49] sagetherage commented on #56467
yes! I have assigned @DmitryKuzmenko who can help here.

[2020-08-12 16:54] sagetherage commented on #57856
@disaster123 both @cmcmarrow and @krionbsd are working on these issues that are not exactly the same but seem related or similar. Not sure they have a fix for all, but I will let them answer on specifics.

[2020-08-12 16:54] Akm0d commented on #58081
I asked in the cloud group on the saltstack community slack in your behalf:
https://saltstackcommunity.slack.com/archives/C7KKMMYDQ/p1597161774249300
Do you have some debug logs?

[2020-08-12 17:29] #57905 closed

[2020-08-12 17:40] sagetherage commented on #58027
@weswhet is this something the Mac Working Group might take on?

[2020-08-12 17:54] sagetherage commented on #58109
this sounds like two tickets - one to update the docs and one that is a feature request @ScriptAutomate is that how you read this?

[2020-08-12 18:02] #58150 closed

[2020-08-12 18:03] twangboy commented on #56279
Salt recently adopted Python 3.7 as the default python for Windows. Python 3.7 is now bundled in the Salt Windows Installer starting with 3001. Python 3.7 has many improvements for handling Unicode on Windows.

Could you please try with the 3001.1 build? I am unable to replicate.

[2020-08-12 18:09] sagetherage commented on #44954
@Ch3LL looks like Adrian was able to verify this is still a problem and the original PR that is pointing to the `develop` branch does fix it - looks like it was closed so for Magnesium let's take the PR and port it or cherry pick to `master`, yeah?

[2020-08-12 18:10] waynew commented on #57089
@Talkless that, or patch `virtualenv_mod`

[2020-08-12 18:57] weswhet commented on #58027
@sagetherage we can but I don't think is an issue with macOS. It appears that `._jdk8u252-b09` is in the list of contents but not actually present, hence why it can't change the ownership. Seems more like an issue with the java tarball

[2020-08-12 20:04] waynew commented on #57995
I've just tried to repro this on Centos7 with no luck. Going to try again on a fresh container. But `python3-salt` doesn't show up in my repos?

[code]

This still seems to work fine. How are you building your machine?

[2020-08-12 20:14] enwony commented on #56279
Repeated with win 7 x64 with salt win x64 3001.1 build - not reproduced anymore.
Could somebody link pull request to understand what caused it to change behavior?
I can retest it if requested.

Version report for analysis
[code]

[2020-08-12 20:55] #57980 closed

[2020-08-12 20:57] phibid commented on #57995
Yes indeed, my bad, `python3-salt` does not exist on CentOS 7.

I am able to reproduce the issue on CentOS 7 by installing the package `python2-salt` from the Uyuni client repo for CentOS 7 (URL of the repo https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable:/CentOS7-Uyuni-Client-Tools/CentOS_7/ )

My installations are minimal standard installations.

[2020-08-12 21:07] grichmond-salt commented on #51741
This issue appears to have resurfaced:
[code]

Example:
[code]

[2020-08-12 21:11] sagetherage commented on #51741
This has resurfaced, opening and putting through triage.

[2020-08-12 21:21] tonythebest commented on #56108
I ran into this too on MacBook

[2020-08-12 22:17] cmcmarrow commented on #57456
@disaster123 thanks for info. What state are you using to test this? I want to see if your state cause the hang on my box with `18.0.0` and `4.3.2`

[2020-08-12 22:19] amalaguti commented on #39955
Workaround: use **ssh_host** to provide the static IP address, this way salt-cloud will connect to this IP instead of the one informed initially by VMWARE (DHCP).
Note, it will take some time and connection attempts while the instance is being customized until it finally gets the static IP and salt-cloud is able to connect. SOme scary errors will be thrown until the connection is allowed.

`vmware

[2020-08-12 23:12] twangboy commented on #57628
@dafyddj Are you still seeing this error?

[2020-08-13 02:56] cheribral opened #58182 "[BUG] event.wait does not accept keywords listed in documentation"
**Description**
After upgrading to salt v3001, states which use event.wait have quit working and throw an error about invalid keywords.  The keywords, however, are in the documentation [here](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.event.html#salt.states.event.wait)

**Setup**
[code]

**Steps to Reproduce the behavior**
Run the above state.  It returns `Passed invalid argum

[2020-08-13 06:34] disaster123 commented on #57456
@cmcmarrow i'm coming from https://github.com/saltstack/salt/issues/57856 where salt-call hangs on EVERY state. So for me it didn't matter what kind of state is was.

[2020-08-13 07:22] rosscdh commented on #58138
Or does it rather expect the "other" windows name "Ethernet" ?

[2020-08-13 08:54] Mateo-neo opened #58183 "[Issue] Salt does not start module"
I created archive.sls

*cat /srv/salt/salt/base/archive/init.sls*
[code]
when i'm run

[code]

i'm get

[code]
next

*/srv/salt/salt/base/ ls*
[code]

There is no archive that should have been here. I think salt when executing modules.run does not define archive.cmd_zip as a module

*cat /etc/salt/master*

[code]

What could be the issue? Why is the archive not being created?
Can anyone help me? =

[2020-08-13 08:59] Alan-sys opened #58184 "[BUG] Question: file content globally judged?"
When executing the SLS file, will the file content be judged globally first?

My environment is that two versions of salt are mixed. Jinja in the higher version of salt supports tojson, while the lower version does not. Therefore, the judgment on the salt version is added,　but an error is reported in the same line

low version: 2015.8.8
high version: 2017.9.4

[2020-08-13 09:34] OrangeDog commented on #58184
It's not clear what you mean, but mixing minion versions is not supported.
Those versions are also completely unsupported.

[2020-08-13 09:38] OrangeDog commented on #58182
That example is wildly wrong. As the function signature shows, there is no `data` arg, and the state syntax is `event.wait:`.

[2020-08-13 10:07] Alan-sys commented on #58184
I know that the lower version does not support tojson,

[code]

 so I write  in my sls file, but lower version 。However, the lower version of salt still executed the statement below if

![image](https://user-images.githubusercontent.com/52391086/90122239-8fbfe080-dd8f-11ea-975c-946eafa3aa8a.png)

Thank you for your reply

[2020-08-13 10:08] Alan-sys commented on #58184
｀｀｀
   - template: jinja
              {% endif %}
              {% if grains['saltversion'] in ('2017.7.4',) %}
                {% if f.vars is defined %}
    - defaults:
        vars: {{ f.vars|tojson }}    <======================
                {% endif %}
              {% endif %}
            {% else %}
    - replace: False
            {% endif %}
｀｀｀

[2020-08-13 11:30] OrangeDog commented on #58184
I see. Yes the template is parsed first before being evaluated. Any invalid expressions will cause errors, regardless of `if` blocks.

[2020-08-13 11:53] morsik opened #58186 "[BUG] YAML rendering fails when passing empty strings"
**Description**
YAML rendering fails when passing empty strings. Because not-passing any value in YAML gives us `null` I needed to quote nothing, but quoting nothing gives strange results.

**Setup**
— `telegraf/init.sls`:
[code]

— `telegraf/defaults.yaml`:
[code]

**Steps to Reproduce the behavior**
Run something like above and you'll get:
[code]

With `-l debug` you can see quotes changed to en

[2020-08-13 12:16] ocfmatt commented on #57856
Hi, I am having the same behaviour on CentOS 8.2 where every state hangs at closing MQ. I am on Salt 2019.2.5 and gather between this bug report and #57456 the fixes are reduce security or downgrade PyZMQ to 18.0.0 - are these the only options until an official fix is released?

[code]

[code]

Regards,
Matt.

[2020-08-13 12:59] wegenerbenjamin commented on #39564
We've re-implemented our use case to utilize the rest api over which this issue does not occur. It looks like the salt api can be used as a workaround

[2020-08-13 13:13] #56650 closed

[2020-08-13 13:13] #56216 closed

[2020-08-13 14:14] victorenr-bit opened #58187 "[BUG] Variables intented to be secret are displayed in the output of salt-ssh"
**Description**
When running salt-ssh and applying certain changes to files, those changes are displayed, if by any chance you are appending secrets in a file for example those changes are printed revealing the secret, even if the variable is ciphered with gpg in the pillar. This can be an issue if salt-ssh is executed under a CI/CD system with a not proper permission model or if someone is should

[2020-08-13 14:26] sagetherage commented on #58027
oh sure, your Working Group is active and we would love to simply see collaboration, but of course we can also pair a core team member, as well. :)

[2020-08-13 15:21] mgergye opened #58190 "[BUG] salt-cloud error during VM destroy on DigitalOcean"
**Description**
During a VM destroy salt-cloud exits with the following error message:
[code]
The error yields dangling DNS records, as the VM is destroyed, but the record deletion fails.

This error is coming from `salt/cloud/clouds/digitalocean.py` line 956, within the definition of `destroy_dns_records(fqdn)`, where the domains getting fetched from DigitalOcean, and the records in the response

[2020-08-13 15:51] Lesvek opened #58191 "[BUG] hgfs fileserver backend broken on salt 3001.1 (str encoding error on python 3)"
**Description**
When the Salt master process starts and the hgfs backend is configured, it will crash trying to compute the hash of the repository url.

**Setup**

Configure the salt master to use the hgfs backend
[code]

**Steps to Reproduce the behavior**
Start the salt master. It should crash right away.

[code]

**Expected behavior**
It should not crash.

**Screenshots**

**Versions Report**
<

[2020-08-13 16:03] poliscialex commented on #58081
I posted this in the slack channel, but got no response. I believe this is the relevant log.

`Traceback (most recent call last):
  File "/usr/lib/python3.8/multiprocessing/process.py", line 315, in _bootstrap
    self.run()
  File "/usr/lib/python3/dist-packages/salt/utils/process.py", line 911, in wrapped_run_func
    six.reraise(*sys.exc_info())
  File "/usr/lib/python3/dist-packages/salt/ext/s

[2020-08-13 16:19] sagetherage commented on #57856
@ocfmatt we are working on a long term solution, but since we do not maintain this library it is taking some time. It was one suggestion to try to downgrade, but we realize that isn't really a good idea, either, but looking for a real fix to this, still.

[2020-08-13 16:24] twangboy commented on #56279
It was the transition to Python 3.7.

[2020-08-13 16:26] sagetherage commented on #56279
@enwony we don't necessarily have a specific PR, but the upgrade to Python 3 that handle unicode better. That isn't super helpful, I realize.

[2020-08-13 16:28] sagetherage commented on #56279
if you have this working, I will close this, please mention me if need anything or want this reopened.

[2020-08-13 16:28] #56279 closed

[2020-08-13 17:32] OrangeDog commented on #57456
@cmcmarrow where is the upstream issue being tracked?

[2020-08-13 17:58] #55122 closed

[2020-08-13 18:03] sagetherage commented on #18751
@saltstack/docs-working-group this is a feature that isn't documented something for the Docs Working Group could take on? @ScriptAutomate

[2020-08-13 19:05] MasonEdgel opened #58193 "[BUG]"
**Description**
When running salt-syndic with multiple upstream masters, events are only forwarded to a single master at random.  This happens regardless of the `syndic_forward_all_events` config option added with https://github.com/saltstack/salt/pull/38086.

**Setup**
Run n salt masters in multi-master configuration, run a syndic master connecting to all top-level masters, and connect at least o

[2020-08-13 19:12] MasonEdgel commented on #58193
I have attached a quick workaround in the above PR, which handles publishing in a way similarly to calls.  I'm not very familiar with salt's asynchronous programming style, so I'm not sure what potential ramifications doing things in this way could have.

[2020-08-13 19:21] s0undt3ch commented on #58064
This issue is now fixed

[2020-08-13 19:21] #58064 closed

[2020-08-13 19:49] sagetherage commented on #58193
Thanks for the PR! I will have this put through our triage process and we will take a look at that PR.

[2020-08-13 20:51] doesitblend commented on #54045
When I run the above suggested steps to reproduce this I get the attached log.
[gh54045.log](https://github.com/saltstack/salt/files/5071374/gh54045.log)

[2020-08-13 20:59] cmcmarrow commented on #58129
Like @Darkformer said we rewire the XML file. We should add a flag that only sets the element and nothing else. This will help preserve visibility and avoid confusion in the future.

[2020-08-13 21:07] enwony commented on #56279
Any reference is better than nothing, python 3.7 is ok.

[2020-08-13 21:10] tigpas opened #58195 "[BUG] network.managed add to all bridge interfaces in /etc/network/interfaces a line with a dot"
**Description**
After running state.apply with an network.managed state, each br interface in /etc/network/interfaces get a line with only a dot (".") .

**Setup**
states/test.sls
[code]

**Steps to Reproduce the behavior**
cat /etc/network/interfaces
[code]
salt-call -l debug state.apply test
[code]

cat /etc/network/interfaces
[code]

**Expected behavior**
If no changes, nothing should changed.

[2020-08-13 21:10] laundry-96 commented on #40621
Same! I will try to make a fix, but no promises

[2020-08-13 21:14] sagetherage commented on #36031
@damon-atkins does the transition to Py3.7 resolve this and Shane's PR above?

[2020-08-13 21:27] sagetherage commented on #43740
putting this back through triage to see if we can get it "unblocked"

[2020-08-13 21:31] sagetherage commented on #44912
This looks like it is still valid, so I am putting in back through triage to gain movement.

[2020-08-13 21:38] #45955 closed

[2020-08-13 22:00] bryceml commented on #46021
This should be less of an issue now that we have cloudfront in front of s3.  It could still be useful though.  We'll discuss it.

[2020-08-13 22:01] laundry-96 commented on #40621
@mcd1992 @MTecknology
I have fixed the issue. Navigate to .../site-packages/salt/cloud/clouds/proxmox.py, and edit the avail_images function to the following:
[code]

[2020-08-13 22:23] waynew commented on #58191
🤦 ugh. Yeah, confirmed.

@Lesvek thanks for the report!

[2020-08-13 22:25] waynew commented on #58191
FWIW this can easily be reproduced with the following code sample:

[code]

[2020-08-13 22:30] waynew commented on #57995
If this is only a problem with Python2 and Salt, then this issue would no longer be supported - we've dropped support for Python 2 and Salt. I'm not sure if Uyuni is supporting Salt+Py2 or not 🤔

[2020-08-14 00:10] twangboy commented on #58175
Could you please run the following command from the `C:\salt` directory?
[code]

[2020-08-14 00:21] twangboy commented on #57948
Could you modify the `network.py` file to use a hard import instead of the `__utils__`.

To do that, add `import salt.utils.platform` to the imports above in the file
Then replace the `__utils__["platform.is_windows"]()` with `salt.utils.platform.is_windows()` in the `__virtual__` function.

Restart salt and see if the messages continue to appear in the minion log.

[2020-08-14 01:39] dafyddj commented on #57628
Yes, we are. It still affects our test environment.

[2020-08-14 07:44] dmulyalin opened #58197 "[BUG] Salt-proxy module __pillar__ and opts["pillar"] not refreshed on saltutil.refresh_pillar"
**Description**
Salt-proxy module in-memory pillar dunder `__pillar__` and `opts["pillar"]` not refreshed on `saltutil.refresh_pillar` call.

That is true for both `multiprocessing` set to `True` or `False`

**Setup**
Setup dummy proxy in base env
https://github.com/saltstack/salt/blob/master/salt/proxy/dummy.py

Add these two functions to dummy.py salt-proxy:
[code]

And created this execution mo

[2020-08-14 09:06] phibid commented on #57995
I can reproduce the issue on CentOS 8 by installing `python3-salt` from the Uyuni client repository (URL https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable:/CentOS8-Uyuni-Client-Tools/CentOS_8/)

[2020-08-14 09:38] cerberek commented on #57530
Salt Version:
           Salt: 2019.2.5

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: 2.7.3
      docker-py: Not Installed
          gitdb: 2.0.5
      gitpython: 2.1.11
          ioflo: Not Installed
         Jinja2: 2.10
        libgit2: Not Installed
        libnacl: Not Installed
       M2Crypto: Not Installed
           Mako: Not Installe

[2020-08-14 11:28] dkacar-oradian opened #58199 "[BUG] postgres_initdb.present ignores waldir parameter"
**Description**

When running `postgres_initdb.present` state `waldir` parameter is ignored and the default value `None` is always used.

**Setup**

[code]

The grain complication above is required to set `postgres.bins_dir` configuration option for the OS I'm using (CentOS). It could be set in the minion config, as well. Postgres version doesn't matter. It would behave the same with all of them.

[2020-08-14 12:38] erespaulo commented on #58028
@sagetherage  , I was following this item and we also have a Multi master structure, Multi Syndic. If that helps in any way.

https://github.com/saltstack/salt/issues/18751

[2020-08-14 13:56] Daemonslayer2048 opened #58201 "[BUG] External Auth Not Allowing Users to Execute salt-key Commands"
**Description**
Adding users or groups to external_auth does not allow custom python scripts to use salt-key commands without sudo. Instead a key error is thrown:
[code]
It is possible I am wrong but my understanding of the [docs](https://docs.saltstack.com/en/latest/topics/eauth/access_control.html) is that according to the line:

I should be able to run the salt-key command via the salt python a

[2020-08-14 14:54] jholloway7 opened #58202 "[BUG] salt.modules.pip:is_installed doesn't handle locally installed packages"
**Description**

I'm setting up a fairly complex virtualenv with a few packages (e.g. cdecimal-2.3, internal packages, etc) that aren't published on pypi for whatever reason. I copy the package into the file system, check the hash and pip install it from a local file.

The normal pip syntax for this is something like this:

     $ /var/venv/base/bin/pip install /var/venv/deps/cdecimal-2.3.tar.gz

[2020-08-14 15:00] krionbsd commented on #44912
@mitar what OS and what version are you using? Can you reproduce it on 3000.1?

[2020-08-14 15:18] mbirtwell opened #58203 "[BUG] salt-master wastes time writing event data to standard out when executing runner functions through the api"
**Description**
I was doing some profiling to try and understand why some of my salt api requests were so slow and I noticed that the salt-master spends some considerable time in display_output printing data to standard out, which for me is /dev/null.

I've worked around this by setting quiet: True in my salt master configuration. But this doesn't seem to be documented anywhere.

In addition I not

[2020-08-14 17:00] Ch3LL commented on #57750
is everyone still seeing this on 3001.1 still?

[2020-08-14 17:02] garethgreenaway opened #58204 "[BUG] Memory Leak in MWorker Threads"
**Description**
A potential memory leak in the Salt master has been observed specifically in the MWorker processes.

**Setup**
Start a salt master and at least one Salt minion.

**Steps to Reproduce the behavior**
Monitor the memory usage for the MWorker processes and restart the Salt minions.  The amount of memory used by each MWorker process will increase following each restart.

**Expected beha

[2020-08-14 17:14] ScriptAutomate commented on #58109
@cmcmarrow This is either a bug or a needed feature, from looking at it more, and should probably not involve documentation updates. `pkg.uptodate` should be able to pass `dist_upgrade=true` properly to` salt.modules.zypperpkg.upgrade()`, I think, since `zypperpkg.upgrade()` _does_ support it, and would be in line with what `pkg.uptodate` is meant to do as far as I can tell.

I'm not sure if there

[2020-08-14 17:52] sagetherage commented on #58193
@Ch3LL since this has a PR associated with it and you are the reviewer on the PR I am assigning it to you as in progress for Magnesium. Thanks for the triage effort!

[2020-08-14 17:53] prensing commented on #57948
I am happy to try, but I found 5 files called "network.py" in the Salt directory. Which should I edit?

[2020-08-14 18:04] sagetherage commented on #58114
Considering this for Magnesium since there is a PR mentioning it (not closing it, but related) and needed to reassign due to workload. Thanks!

[2020-08-14 18:05] prensing commented on #57948
I updated modules/network.py the instructions. I will report back in a day or so.

[2020-08-14 18:09] garethgreenaway commented on #58204
Initial master start, no minions running:
[code]

One minion started:
[code]

Minion stopped:
[code]

Minion restarted:
[code]

[2020-08-14 19:30] krionbsd commented on #50914
FreeBSD-12 is fully supported, you might use https://bootstrap.saltstack.com/develop to bootstrap it, or use official FreeBSD packages - `pkg install py-salt` which is on 3000.1 at this moment.

[2020-08-14 19:30] #50914 closed

[2020-08-14 19:46] Ch3LL commented on #57915
im not able to replicate this on version 3001.

Looks like distro removed that importerror  here https://github.com/nir0s/distro/pull/202/files which was added in version v1.2.0.

What version of distro do you have?

[2020-08-14 19:48] sagetherage commented on #56944
@Ch3LL first task may be done - but good to check it is, and/or working as you expected - so test it. Joe said the second task definitely isn't done, yet and will need to be in done in Mg.

[2020-08-14 19:51] Ch3LL commented on #58187
`show_changes` was added to some of the other file functions, but not to file.append. We could add this there.

[2020-08-14 19:52] sagetherage commented on #58176
done!

[2020-08-14 19:52] #58176 closed

[2020-08-14 22:05] mitar commented on #44912
I am using Ubuntu LTS 16.04. I have not yet time to update to 3000.1, but I do not see in documentation for an option to override the mark in `pkg.removed`, nor I see [any special handling of it in the source code here](https://github.com/saltstack/salt/blob/3f7f2d166be94b5e429207d5c3a17566b891ea0f/salt/modules/aptpkg.py#L872). Simply `apt-get -q -y remove ...` is called. This fails on hold packag

[2020-08-14 22:25] piterpunk opened #58206 "[FEATURE REQUEST]: Support to manage services in Slackware Linux"
**Is your feature request related to a problem? Please describe.**
There is no backend module to handle services in Slackware Linux, so all formulas that uses the "service" state doesn't run properly.

**Describe the solution you'd like**
I would like to have a backend that can handle the rc-scripts in /etc/rc.d to manage the services and be able to use the service state in Slackware Linux.

**Ple

[2020-08-14 23:18] ScriptAutomate opened #58208 "Add rst/sphinx ".. deprecated::" directive to docs in Deprecating Code guidance"
**Description**
Deprecating code, be it functions and args/options, should involve including something similar to the following within their respective function docstrings:

[code]

This adds `.. deprecated::` Sphinx / rst directives, which render into something like this, using [salt.netapi.rest_cherrypy docs](https://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_cherrypy.html#a-re

[2020-08-14 23:19] ScriptAutomate commented on #56922
This looks like the documentation problem, with working examples being included in #50773, will be resolved one the PR is merged. I have included further guidance in that PR about including `.. deprecated::` directives in the docstrings of the functions being deprecated.

@sagetherage Though this ticket no longer needs docs assistance/review (but should be left open in order to be auto-closed by #

[2020-08-15 01:17] kau8hik commented on #55292
@morinap any update on your PR?

[2020-08-15 05:53] trootnev commented on #57750
I found out that in my case it's a bug in win_status function (connection was not detected when it was using ipv6 and connection check marked minion disconnected) and its still there. I made a fixed version of this module and placed it on master.

14 авг. 2020 г. 20:00 пользователь Megan Wilhite <notifications@github.com> написал:

is everyone still seeing this on 3001.1 still?

—
You are receivin

[2020-08-15 07:33] Timbus commented on #58114
Well, concerning workload.. I'm more than willing to provide a PR that covers my original proposal, or I could attempt a bigger change that works similar to the thorium PR I linked using jinja.
It's just mostly the lack of consensus or direction that's holding me back; I don't want to bolt yet another over-specialized feature into salt.. I'd prefer something more fundamental/general purpose that f

[2020-08-15 10:55] max-arnold commented on #57537
Also this one may help: https://stackoverflow.com/a/24298427/65523

[2020-08-15 11:39] ghost opened #58209 "how can i run an sls for a windows minion with a jinja variables"
I have an a sls (salt/backup/archivecopy/init.sls) that makes an archive.zip and copy to the salt/backup/ folder.
I want to copy this archive on a windows minion.

archive have name:
[code]
When sls run on windows minion I get a big error that jinja cannot parse the date variable.
[code]
if i use
[code]
When sls run she gives output "true" but the file is not copied
sls:
[code]

[2020-08-15 17:55] tigpas opened #58210 "[BUG] some broken options in debian_eth.jinja for /etc/network/interfaces"
**Description**
This Bug report extend the bug #58195. The last refactor (https://github.com/saltstack/salt/commit/5abe823e22e79f7667c9189fda7135331203358a) of  salt/templates/debian_ip/debian_eth.jinja broke some options, like {,pre,post}_{up,down}_cmds.

**Setup**
[code]

**Steps to Reproduce the behavior**
`salt-call state.apply test` + `cat /etc/network/interfaces`

[code]

**Expected behavior

[2020-08-16 22:38] markododa commented on #56546
Seems like there are some poorly documented caveats with the softlayer api. It is documented here, https://sldn.softlayer.com/article/authenticating-softlayer-api/, when using ibm cloud username is always apikey.
Also the python script at the end may or may not be necessary.

[2020-08-17 03:32] johnnybubonic commented on #20387
please reopen; this is still desired.

[2020-08-17 03:35] johnnybubonic opened #58212 "[FEATURE REQUEST] NTP for Linux"
**Is your feature request related to a problem? Please describe.**
There is no NTP client configuration available for Linux minions.

**Describe the solution you'd like**
See #20387, including implementation information.

**Describe alternatives you've considered**
The alternative is to execute a `timedatectl set-ntp on` command, which seems silly.

**Additional context**
N/A

**Please Note**
If t

[2020-08-17 04:52] cheribral commented on #58182
Sorry, I just saw the new info-needed tag.  Which information is needed for this exactly?  I'm pretty sure you have everything you need.  I gave a direct link to the documentation, and the example I gave is a working example which nearly mirrors what is in the documentation.

I'm not sure if @OrangeDog's comments meant he thought the docs had invalid syntax, or my example was wrong.  Since my exam

[2020-08-17 09:09] mbirtwell commented on #58203
It transpires my work around of setting quiet: True in the salt-master config was a bad idea, because it caused salt-run to not produce any output. So I'll likely produce a PR for setting quiet on the opts passed to RunnerClient in salt.master.ClearFuncs.runner with in a day or two.

[2020-08-17 12:17] dmulyalin commented on #58197
Noticed such a thing - running `self.proxy.reload_modules()` on `saltutil.refresh_pillar` for salt-proxy minion causes negative side-effect in  a form of destroying all the structures that were created during `init()` function call on proxy-minion initialisation.

[2020-08-17 14:24] prensing commented on #57948
Yes, that does seem to fix the hourly log messages.

[2020-08-17 15:17] frogunder commented on #58182
@cheribral Thank you for reporting this issue.
I see the same thing as you are. I will ping the core team for input on this one.

@saltstack/team-core can you take a look at this? I know we are not supporting 2018.3 anymore, but the example works there and on later versions it does not. So maybe something has changed in the code and/or the docs need to be updated?

Thanks

[2020-08-17 15:51] frogunder commented on #58183
@Mateo-neo Thank you for reporting this issue.

It seems to work as expected to me, unless I am misunderstanding your issue:
[code]

What version of salt are you seeing this on. Can I get your output of `salt --versions`?

Thanks.

[2020-08-17 15:57] frogunder commented on #39564
@wegenerbenjamin Thank you for reporting this issue.

I see you reported it against 2019.2 and that branch is currently CVE support only.
https://www.saltstack.com/product-support-lifecycle/

Do you see the same behavior on 3000 or 3001?

Thanks.

[2020-08-17 16:55] sagetherage commented on #54211
@Akm0d do you have an opinion on how to handle this deprecation?

[2020-08-17 16:59] #54211 closed

[2020-08-17 17:00] Akm0d commented on #54211
We'll put it off for now until more is done for openstack/joyent/trident in idem-cloud

[2020-08-17 17:45] sagetherage commented on #58114
@Timbus sure that makes sense - if needed we can also have a wider discussion on an implementation. For now I have assigned @DmitryKuzmenko to at least review the PR you have opened and linked here.

[2020-08-17 18:04] xeacott commented on #58195
Hmm that's strange, if you remove the . and clean the file up, what happens when you run the state.apply with test=true?

[2020-08-17 18:10] xeacott commented on #58201
Hi @Daemonslayer2048 are you able to call other salt-scripts with/without permission denied error? like salt-minion or salt-master? Wondering if it's _only_ salt-key that is giving you issues...

[2020-08-17 18:15] tigpas commented on #58195
I fixed the file manually
[code]

Run the one state, no changes, but...
[code]

... I have now a broken network config.
[code]

I removed the one dot ...
[code]

... and run salt again. No change ...
[code]

... but the dot disappear.
[code]

[2020-08-17 18:16] ScriptAutomate opened #58218 "[BUG] salt/modules/nxos.py Silicon deprecation notices still present"
The following components in [salt/modules/nxos.py](https://github.com/saltstack/salt/blob/master/salt/modules/nxos.py) have been deprecated, and have a `warn_until()` message specifying `Silicon`.

https://github.com/saltstack/salt/blob/1a5ce828ad983e15205a80ae361150069afaebac/salt/modules/nxos.py#L198-L224

https://github.com/saltstack/salt/blob/1a5ce828ad983e15205a80ae361150069afaebac/salt/modul

[2020-08-17 18:16] xeacott commented on #58195
Oh, wow! So this only happens _sometimes_ .... it appears at least that way, yes?

[2020-08-17 18:21] tigpas commented on #58195
No, the dot appear after each state.apply. If I modify debian_eth.jinja ( see patch #58205), the dot will disappear.

[2020-08-17 18:24] ScriptAutomate commented on #58218
This ticket shouldn't have been opened. Meant to open ones just for Sodium/Magnesium.

[2020-08-17 18:24] #58218 closed

[2020-08-17 18:25] ScriptAutomate opened #58219 "[BUG] salt/modules/kubernetesmod.py Sodium deprecation notices still present"
The following components in [salt/modules/kubernetesmod.py](https://github.com/saltstack/salt/blob/master/salt/modules/kubernetesmod.py) have been deprecated, and have a `warn_until()` message specifying `Sodium`.

https://github.com/saltstack/salt/blob/1a5ce828ad983e15205a80ae361150069afaebac/salt/modules/kubernetesmod.py#L197-L223

This was included in the output of a query using the following `

[2020-08-17 18:27] ScriptAutomate opened #58220 "[BUG] salt/modules/mac_brew_pkg.py Sodium deprecation notices still present"
The following components in [salt/modules/mac_brew_pkg.py](https://github.com/saltstack/salt/blob/master/salt/modules/mac_brew_pkg.py) have been deprecated, and have a `warn_until()` message specifying `Sodium`.

https://github.com/saltstack/salt/blob/1a5ce828ad983e15205a80ae361150069afaebac/salt/modules/mac_brew_pkg.py#L596-L633

This was included in the output of a query using the following `gre

[2020-08-17 18:29] ScriptAutomate opened #58221 "[BUG] salt/modules/mandrill.py Sodium deprecation notices still present"
The following components in [salt/modules/mandrill.py](https://github.com/saltstack/salt/blob/master/salt/modules/mandrill.py) have been deprecated, and have a `warn_until()` message specifying `Sodium`.

https://github.com/saltstack/salt/blob/1a5ce828ad983e15205a80ae361150069afaebac/salt/modules/mandrill.py#L127-L228

This was included in the output of a query using the following `grep` command f

[2020-08-17 18:32] sagetherage commented on #56922
@waynew looks like the draft PR that is open may need some help with writing tests, so adding you here to help with that to see we can get this issue across the finish line for Magnesium Release cycle. Thank you!!

[2020-08-17 18:32] ScriptAutomate opened #58222 "[BUG] salt/modules/zfs.py Sodium deprecation notices still present"
The following components in [salt/modules/zfs.py](https://github.com/saltstack/salt/blob/master/salt/modules/zfs.py) have been deprecated, and have a `warn_until()` message specifying `Sodium`.

https://github.com/saltstack/salt/blob/1a5ce828ad983e15205a80ae361150069afaebac/salt/modules/zfs.py#L395-L444

https://github.com/saltstack/salt/blob/1a5ce828ad983e15205a80ae361150069afaebac/salt/modules/z

[2020-08-17 18:34] ScriptAutomate opened #58223 "[BUG] salt/runners/manage.py Sodium deprecation notices still present"
The following components in [salt/runners/manage.py](https://github.com/saltstack/salt/blob/master/salt/runners/manage.py) have been deprecated, and have a `warn_until()` message specifying `Sodium`.

https://github.com/saltstack/salt/blob/1a5ce828ad983e15205a80ae361150069afaebac/salt/runners/manage.py#L222-L231

This was included in the output of a query using the following `grep` command from ro

[2020-08-17 18:36] ScriptAutomate opened #58224 "[BUG] salt/utils/minions.py Sodium deprecation notices still present"
The following components in [salt/utils/minions.py](https://github.com/saltstack/salt/blob/master/salt/utils/minions.py) have been deprecated, and have a `warn_until()` message specifying `Sodium`.

https://github.com/saltstack/salt/blob/1a5ce828ad983e15205a80ae361150069afaebac/salt/utils/minions.py#L642-L651

This was included in the output of a query using the following `grep` command from root

[2020-08-17 18:38] ScriptAutomate opened #58225 "[BUG] salt/utils/jid.py Sodium deprecation notices still present"
The following components in [salt/utils/jid.py](https://github.com/saltstack/salt/blob/master/salt/utils/jid.py) have been deprecated, and have a `warn_until()` message specifying `Sodium`.

https://github.com/saltstack/salt/blob/1a5ce828ad983e15205a80ae361150069afaebac/salt/utils/jid.py#L25-L35

This was included in the output of a query using the following `grep` command from root of the repo:

[2020-08-17 18:40] ScriptAutomate opened #58226 "[BUG] salt/modules/boto_vpc.py Magnesium deprecation notice"
The following components in [salt/modules/boto_vpc.py](https://github.com/saltstack/salt/blob/master/salt/modules/boto_vpc.py) are being deprecated, and have a `warn_until()` message specifying `Magnesium`.

https://github.com/saltstack/salt/blob/1a5ce828ad983e15205a80ae361150069afaebac/salt/modules/boto_vpc.py#L3425-L3450

This was included in the output of a query using the following `grep` comm

[2020-08-17 18:41] waynew commented on #56922
@oeuftete If you'd like, we can take a look at tests during the Test Clinic tomorrow afternoon (2PM Central Time)

[2020-08-17 18:47] tigpas commented on #58195
ouch... I forgot to answer your question about test=true

Clean up ...
[code]

... and run it with test=true.
[code]
Nothing happen.
[code]

Of course, I use the original salt/templates/debian_ip/debian_eth.jinja ;-)

[2020-08-17 19:38] sagetherage commented on #58145
@Prakash82x trying to understand more about what you are trying to do and what your end goal is by asking about your use-case scenario. I am putting this into blocked until we hear from you. If needed, please mention me so I am can move forward on this issue. Thank you!

[2020-08-17 19:52] frogunder commented on #57902
@apwrv Thank you for reporting this issue.

You are right about that 5.1.3 is a bit old.
I will have to reach out to the core team for an answer to your question. My first thought though, is that it will not but let's check with them.

@saltstack/team-core can I get your thoughts on this question, related to supporting version `MySQL server: 5.1.3`
`Will this bug be patched in any version of salt

[2020-08-17 20:18] Daemonslayer2048 commented on #58201
[code]
I was unable to ping, I apologize I could have sworn I was able to ping with the previously mentioned config, but I must be wrong. Currently, the only way I can get someone to be able to ping (who is not sudo/root), is by adding them to the publisher acl, I still have not found a way to get users to be able to run salt-key commands without root/sudo privileges. My understanding was external

[2020-08-17 21:07] xeacott commented on #58195
Gotcha! Okay, I was curious if test=true would show you "These are the changes that _would_ be made if you actually applied the state" which doesn't show that . would be added. Thanks for the info! Looks like we'll just keep the conversation in the PR thanks for submitting that.

[2020-08-17 21:10] xeacott commented on #58201
I see, and unfortunately I do not have any knowledge on external auth, but I'm sure someone on @saltstack/team-core does. But that question `get users to be able to run salt-key commands without root/sudo privileges` I'll ask.

[2020-08-17 21:12] sagetherage commented on #58114
@Timbus I added the label `Pending Discussion` to see if I can get an architectural review. Still working what that looks like or when, but attempting to make progress. I will follow up by the end of the week on this ticket.

[2020-08-17 21:20] Daemonslayer2048 commented on #58201
Awesome, thank you @xeacott for your assistance!

[2020-08-17 22:27] waynew commented on #58081
This is actually *very* interesting - it looks like it could be related to this other `salt-call` issue that @DmitryKuzmenko and I (and others) have been working on. At least, this contains zmq, closing, and event handling, which are things that 100% are involved with the salt-call problem. 🤔

[2020-08-17 22:29] mlasevich commented on #56410
Any news on this? Still hitting this bug in random places - driving people crazy where things unexpectedly fail

[2020-08-17 23:06] sagetherage commented on #56410
@mlasevich there is a long discussion on this and I can put this into the Magnesium release cycle as a possibility of fixing, but I cannot commit unless there is some help from the community to submit a PR perhaps @terminalmage?

[2020-08-17 23:36] mlasevich commented on #56410
What is the concern? I can take a stab, but I am a bit unclear about the larger context of this function and worried that its intertwined with other things I am not seeing... Thus would prefer to have someone who is more familiar with the code look at it.

[2020-08-18 00:54] sagetherage commented on #56410
@mlasevich you are of course welcome to take a stab at it! I was looking through the comments on the closed issue you linked and there was talk of many things, so it seems to have gone in many directions, and yes I also want to be sure  you have someone available to look through the code with you, that is my entire intent. I hope that is suitable.

[2020-08-18 04:40] terminalmage commented on #56410
I tried to tackle this (or something similar) but ended up breaking behavior that others relied upon. I'll try to dig up the PR and issue on Tuesday. Want to make sure we don't make the same mistakes this time around. :smile:

[2020-08-18 06:29] NaRc0tIc commented on #57750
I can confirm that we also see it in our 3001.1 master environment - same picture as already perfectly described above.

[2020-08-18 08:33] aratik711 commented on #57675
+1 on this (salt version 3001, python3.8, ubuntu16.04)
@xeacott facing the same issue where the output comes in a single line as below:

pt/sources.list.d/3rdparty.list:3\\nW: Target Packages (multiverse/binary-all/Packages) is configured multiple times in /etc/apt/sources.list:2 and /etc/apt/sources.list.d/3rdparty.list:3\\nW: Target Translations (multiverse/i18n/Translation-en) is configured mul

[2020-08-18 09:26] DmitryKuzmenko commented on #58201
@Daemonslayer2048 The correct client functions to use with `eauth` are `cmd_sync` or `cmd_async`. Here's an example:
[code]

`cmd` function is calling a function on the client side instead of calling a wheel function on master as `cmd_sync` and `cmd_async` do.

[2020-08-18 09:51] Mateo-neo commented on #53502
Up. Any ideas? i have 3 *.sls and it's work from bash. But from sheduler (state.apply or state.sls) doesn't work

[2020-08-18 09:57] Mateo-neo commented on #58183
it work with:
`- path: salt://ARM_Backup.zip?saltenv=env`

[2020-08-18 09:57] #58183 closed

[2020-08-18 10:06] Darkentik commented on #58135
@garethgreenaway Hey, thanks for reply.
I struggled into weired behavior.
First i got it running with your mentioned idea to use quotes in the pillar path but then after some days it don't work anymore and i figured out that it was running ok after removing the quotes.
I'm working out a complex automation for Icinga2 with Icingaweb2 and am trying to handle all the database stuff. Because there are

[2020-08-18 10:19] krionbsd commented on #57972
@oeuftete I'm not very familiar with rpmdev tools, but looking briefly into the code it seems we support comparisons based on rpmdev-vercmp as well as on python3-rpm, so I'll see what we can do with dependencies for this case

[2020-08-18 10:35] Mateo-neo opened #58234 "[Issue] Unhandled exception running state.apply"
I have 2 .sls

1st copies and run .ps1 .ps2 script on windows - minion
[code]
2nd  copies archive at windows - minion3 sls have ps command
[code]
schedule.sls
[code]
Next - salt "*Minion" state.sls scheduler saltenv=env
[code]
Next - salt "*Minion" schedule.run_job archive. it return:
[code]
on windows-minion i see 1.ps1 and 2.ps1
[code]

[2020-08-18 10:39] krionbsd commented on #57972
I tested it now on fresh CentOS 8 AMI and installed the packages from repo.saltstack.com:
[code]
`rpmdevtools` was part of base install, not as part of EPEL. @oeuftete, what CentOS version did you reference for your case?

[2020-08-18 10:52] wb529kq commented on #57972
@krionbsd RHEL 7.x

[2020-08-18 13:21] oeuftete commented on #57972
@krionbsd I saw this on RHEL7/8.  I should have made this clear.

For RHEL7, yes, it looks like installing `rpmdevtools` is sufficient.  I completely missed that that was already supported, thanks for clearing that up.  Per the summary, I think adding `rpmdevtools` as a dependency in the package would be the right approach.

But, see also issue https://github.com/saltstack/salt/issues/57347, resol

[2020-08-18 13:50] Daemonslayer2048 commented on #58201
Awesome, I do love it when I am the problem. I was able to confirm that does work and specifying auth pam in local.cmd commands allows me to perform the other tasks I need. Thank you for the help, I apologize for this being user error and not a bug.

[2020-08-18 13:50] #58201 closed

[2020-08-18 14:32] dkacar-oradian opened #58235 "[FEATURE REQUEST] Add parameter with explicit Postgres bindir for various postgres states"
**Is your feature request related to a problem? Please describe.**
Various Postgres states (like `postgres_initdb.present`) require `postgres.bins_dir` configuration directive to be set. That's OK because that's the path where they can find command line utilities they need (like `psql` or `initdb`) to do the job.

It isn't OK that this value is retreived by `config.option` only because that disabl

[2020-08-18 15:45] wegenerbenjamin commented on #39564
We've updated to Salt 3000 and the error does not occur anymore. Thanks!

[2020-08-18 16:01] sagetherage commented on #53502
@Mateo-neo I have this set for the Core Team to work and fix in this release cycle, but you're correct that hasn't started, yet. @garethgreenaway is assigned and has other work right now, but I expect he will start looking at this soon, if not I can reassign it.

[2020-08-18 16:03] sagetherage commented on #56410
Thank you @terminalmage and if @mlasevich you two want to work together I am happy to help set up time and use our Community Slack or Zoom to help facilitate or @cassandrafaris can help as well :)

[2020-08-18 16:07] sagetherage commented on #56410
This is the original PR, right? https://github.com/saltstack/salt/pull/55434 and this is commit that it reverts [7c28995](https://github.com/saltstack/salt/commit/7c28995a0a535f4db2f76db39f09754c7ceda2f5)

[2020-08-18 16:08] psyer commented on #54884
I'm shocked this is not blowing up peoples clusters all over the place. I guess they are not sending/receiving messages over 1MB. This was a show stopper for us (and others). @sagetherage can we please bump this higher than low priority?

To be clear this is not a Salt issue, this is an issue with the default settings that were changed on a hard Salt dependency which is causing the issue. The Salt

[2020-08-18 16:29] waynew commented on #57902
@apwrv Thanks for the issue. I think that, given the age of your MySQL version you have a couple of options:

- Downgrade Salt to a version (if any) that still had support for this older version of MySQL
- Patch your existing Salt installation
- Write a custom [module](https://docs.saltstack.com/en/latest/ref/modules/index.html)/[state](https://docs.saltstack.com/en/latest/ref/states/writing.html)

[2020-08-18 16:46] draro commented on #45084
Can you please let me know how to change the target to DROP?

[2020-08-18 16:50] terminalmage commented on #56410
@sagetherage No, that commit is actually _from_ my original PR (https://github.com/saltstack/salt/pull/55434) which was reverted by @dwoz in https://github.com/saltstack/salt/pull/56341 per the conversation in https://github.com/saltstack/salt/issues/56119#issuecomment-597160470.

Note that the act of reverting added some documentation. If any changes are made, we want to make sure that we are not

[2020-08-18 17:25] sagetherage commented on #56410
oh gosh! look at that, I am not correct! Thank you for setting me straight. Yes, I agree.

[2020-08-18 17:32] sagetherage commented on #54884
@waynew maybe this is a good one for the Test Clinic today at 2 PM Central?

[2020-08-18 17:37] sagetherage commented on #54884
@psyer go ahead and put in a PR -- that will help to move it along and I will try to get this on Wayne's Test Clinic agenda if not today then I think he has another Test Clinic on Thursday this week - are you able to join either of those? you can see those on the community calendar [here](https://calendar.google.com/calendar?cid=c2FsdHN0YWNrLmNvbV9tZDczYzN1ZmNzMmVxYnNtbW5pa2U0ZW04MEBncm91cC5jYWxlb

[2020-08-18 17:42] mlasevich commented on #56410
Ok, I actually just started poking at it (without looking at the above first) - I think that entire block of logic is way more complicated than it needs to be.

From what I see the core issue is how to determine the "root" of the sls template in tmplpath - and there are all sorts of tricks used  to do that - which are source of the bugs - when the reality is - there are only two possibilities here

[2020-08-18 18:29] mlasevich commented on #56410
My first stab at it, I need to run out for a bit - may not be ready for a PR yet, but wanted any opinions:

https://github.com/mlasevich/salt/commit/c8c49cce88fa8854c33b8e68f960afdd5548cbdf

[2020-08-18 18:43] psyer commented on #54884
@sagetherage I will put in a PR, but unfortunately I work in an environment during the day, where I would not be able to attend Wanye's Clinic. I'll look into possibly being able to write some type of test, as all I need to do is put a message on the bus larger than 1MB when msgpack >.6 and < 1.0 is installed.

[2020-08-18 18:58] garethgreenaway commented on #58234
@Mateo-neo Thanks for the report.  The state file that you referenced in the scheduler, are you able to run that state file manually and does it work as expected?

[2020-08-18 19:57] jkuhn12 opened #58237 "[BUG] Cannot call service.enable or service.start from highstate"
**Description**
I have a salt state which enables then starts a service via the win_service module, which i understand to be mapped to the service state to be called via cli or via the state. I have a minion setup to use highstate on startup, and it errors out when trying to call service.enable and service.start saying "Reason: 'service.start' is not available." i can however do a salt-call from t

[2020-08-18 19:59] meelmeal commented on #57778
Just providing an update ... I've upgraded both Master and Minion to Salt 3001.1 but I'm still getting a "Changed" status for pkgrepo.managed states :(

[2020-08-18 20:48] markuskramerIgitt commented on #56216
@shortstack can you verify the content of the _schedule.conf file?

[2020-08-18 20:51] sagetherage commented on #57778
@meelmeal thank you for the update, @cmcmarrow is working on isolating the issue, I have this as in progress in the project board, but that view is terribly obscure, apologies. I am looking into something better to communicate the status, today this is what I've got. But yes! thank you for the update.

[2020-08-18 20:58] sagetherage commented on #54884
@psyer you can also work asyn with Wayne on writing tests - he is on the Community Slack as Wayne Werner (Core Eng.) and he is on IRC as waynew. Let me know if I can help facilitate in another way, open to ideas, too. :)

[2020-08-18 22:07] kopdyke opened #58239 "Unable to pass in saltenv in kwargs list in schedule.present state"
Since upgrading from 2018.3.3 to 3001.1, I can no longer pass in the saltenv as a kwarg in a schedule.present state.

**init.sls in scripts directory**

[code]

**Schedule.sls**

[code]
**/etc/salt/master**
[code]

**Steps to Reproduce the behavior**
Schedule the job:
`salt '*' state.apply scripts.schedule saltenv=nonprod `
Run the job:
`salt '*' schedule.run_job test_job`

**Minion log:**
[code]

[2020-08-18 22:25] lashomb commented on #56165
Can someone tag this mac os so we can pull it in during the working group sessions

[2020-08-19 04:20] Mateo-neo commented on #58234
ofc. if i run
[code]
or
[code]
It works. I am getting result. Files are copied. Scripts run and perform the required functions

[2020-08-19 05:19] Mateo-neo commented on #58234
little change.
schedule.sls

[code]
Now
[code]
Work
But launching through the scheduler still does not work

[2020-08-19 05:35] Mateo-neo commented on #58234
Ok i get it.
If I tell him to be executed through "seconds" he works, and if I tell him the days of the week he does not work

[code]

[2020-08-19 07:18] Timbus commented on #58237
Are you perhaps confusing states and execution modules here? States only have service.enable**d** as far as I can see.

[2020-08-19 07:38] wegenerbenjamin opened #58241 "[BUG] Pillar Cache does not get updated properly"
**Description**
The disk-based pillar cache only stores one environment at max. The reason is a bug in `salt/pillar/__init__.py` where `__setitem__()` (and the correspoding `_write()` function) is only called when the cache is populated for the first time and the first environment.

When the cache for the minion exists, but not for the requested environment, the cache update only calls `__setitem_

[2020-08-19 09:46] mbirtwell commented on #57926
I implemented (1) removing the deepcopy from `merge_recurse` and updating the usages where I think it's necessary to deepcopy before passing the argument in. It's definitely provided an improvement. At the moment I've made the minimal change. I think if I was to propose this for inclusion I'd change `merge` to not return the result so that it's clearer that it's mutating the arguments. But would b

[2020-08-19 09:53] markuskramerIgitt commented on #56216
I installed Salt-Minion-2019.2.2-Py3-AMD64-Setup.exe and copied a [_schedule.conf containing only NUL charecters]() to `C:\salt\conf\minion.d`

The minion can no longer start:

[code]
The minion creates an error that is not logged, only visible on the console

[code]

That minions of @shortstack could have auto-destroyed himself by writing NUL into _schedule.conf ("This minion was checking in unti

[2020-08-19 10:20] OrangeDog opened #58243 "[FEATURE REQUEST] Support new (7.8) elasticsearch index templates"
**Describe the solution you'd like**
Support for managing elasticsearch's composable index templates, via `elasticsearch_index_template` states.

**Describe alternatives you've considered**
Continuing to use the legacy templates, via the current `elasticsearch_index_template`.
These will eventually stop working.

**Additional context**
https://www.elastic.co/guide/en/elasticsearch/reference/curren

[2020-08-19 10:23] OrangeDog commented on #58241
FYI the `develop` branch is unused. The development branch is now `master`.

[2020-08-19 10:49] markuskramerIgitt commented on #56216
@shortstack describes a loop of the exact event log entries the invalid `_schedule.conf` file causes.

I found 8 minions that invalidated their `_schedule.conf` files "spontaneously".

This supports the assumption.

[2020-08-19 11:15] krionbsd commented on #10619
I confirm we have to fix it, I'll try to get some ideas how to get it done, apparently we've to parse `/etc/rc.conf` to do it more reliable

[2020-08-19 11:26] AmiramMaimon opened #58244 "Order of execution - `module.cmdmod` run before other `states` in sls."
I'm using salt modules in my sls to get more information in order to get a decision about what need to be executed next.
The problems I'm getting is that the module is running before the state, although its appearing afterwards.

My sls is:
[code]
While looking at the log I can see he perform the ping before the interface is configured.

Log output:
[code]
**Here the sls start to execute... the co

[2020-08-19 13:15] samuel-karanja commented on #41190
received this error when I tried to extract the 20bn-jester dataset
tar: Error opening archive: Failed to open '\\.\tape0'
cat: write error: No space left on device
how can I solve it someone am using python 3.8

[2020-08-19 13:30] Oloremo opened #58246 "[BUG] Batch mode creates batches in a weird way"
**Description**

Salt has the ability to run something in batches. I noticed that:

1. Minions split per batch is very weird
1. using batch sometimes leads to an exception

**Setup**
I have a cluster with 33 minions - an odd number of minions could be important here.

Seems like it's only reproducible while doing `state.apply`, running something like `test.ping` will work just fine.

The exception

[2020-08-19 15:39] mlasevich opened #58249 "[BUG] `tplfile` variable not set in some sls files"
**Description**
When processing sls in root directory of file roots, `tplfile` context variable  is not set

**Setup**
standard file roots

create a `tplfile.sls` on the top level with following contents:
[code]

**Steps to Reproduce the behavior**

run `salt-call state.show_sls tplfile --output=yaml`

result:
[code]
As you see, tplfile, which should be `tplfile.sls` is not set

**Expected behavio

[2020-08-19 15:42] max-arnold commented on #58244
Salt executes state files using multiple stages:

1. Parse and execute Jinja
2. Parse the resulting YAML
3. Parse slots
4. Interpret and execute the resulting data structure

What you are seeing is just stage (1)

[2020-08-19 15:42] max-arnold commented on #58244
Salt executes state files using multiple stages:

1. Parse and execute Jinja
2. Parse the resulting YAML
3. Parse slots
4. Interpret and execute the resulting data structure

What you are seeing is just stage (1)

[2020-08-19 15:42] max-arnold commented on #58244
Salt executes state files using multiple stages:

1. Parse and execute Jinja
2. Parse the resulting YAML
3. Parse slots
4. Interpret and execute the resulting data structure

What you are seeing is just stage (1)

[2020-08-19 15:42] max-arnold commented on #58244
Salt executes state files using multiple stages:

1. Parse and execute Jinja
2. Parse the resulting YAML
3. Parse slots
4. Interpret and execute the resulting data structure

What you are seeing is just stage (1)

[2020-08-19 15:48] OrangeDog commented on #58244
You need to put your ping in an actual state, with requistes. e.g.

[code]

[2020-08-19 15:50] mlasevich opened #58250 "[BUG] When calling init.sls via explicit init name, the name is treated as a directory name in context"
**Description**

if "init" SLS is access using it's explicit name - i.e. `path.to.init` instead of `path.to` - the "init" part shows up as a directory component in various `sls*` context parmeters

**Setup**
Set up following file `slspath/init.sls`:
[code]

**Steps to Reproduce the behavior**

Run: `salt-call state.show_sls slspath.init --output=yaml`

Result:
[code]

As you see, "init" becomes a

[2020-08-19 16:01] JustOneMoreBlock commented on #46891
This was my solution:

[code]

[2020-08-19 16:27] waynew opened #58251 "[BUG] Remove base64.encodestring/decodestring, since they're removed in Python 3.9"
**Description**

- https://docs.python.org/3.9/whatsnew/3.9.html#removed

This should be a pretty minor change, it also doesn't look like either calls are used in essential common places within Salt, though there will be several locations that would completely fail.

[2020-08-19 16:54] sagetherage commented on #56165
@lashomb Dmitry has labeled it with `MacOS` I can create a label for the Working Group or a GitHub team that will notify those in the team. Originally, Kayva, who is no longer with SaltStack set up some project boards, but they are in a different repo so I can link to this or . . . well, there are a myriad of things to do to "tag" the WG to get it on the agenda, let me know if any of these are wha

[2020-08-19 17:18] sagetherage commented on #58244
@AmiramMaimon let us know if what Max and James have put here helps by closing the issue, or if you are still having trouble, please respond. Thank you!

[2020-08-19 17:30] sagetherage commented on #57898
@grichmond-salt is this still occurring on master? We did see some issues and made some corrections, so it may still be present on 2019.2.5 and 3001, but wondering if it is on 3001.1?

[2020-08-19 18:28] sriramperumalla commented on #29028
Hi Team,
I too face same issue salt  master version 3000.3  with salt windows minion running salt version 3001.1 while running on centos 7.8. Please find the error with salt versions below:
[pdmlink@saltmaster workers]$ sudo salt -C 'G@roles:worker' state.apply abc.workers.worker
Worker:
    Data failed to compile:
----------
    Rendering SLS 'base:abc.workers.worker.deploy' failed: Jinja variabl

[2020-08-19 20:49] sagetherage commented on #58184
@Alan-sys let us know if your question is answered by closing the ticket or if there is more follow up here to comment.

[2020-08-19 20:50] sagetherage commented on #58182
@ScriptAutomate when you get a minute can you look at the Documentation, here to see if this needs updates, pretty please?

[2020-08-19 20:56] #57982 closed

[2020-08-19 20:58] sagetherage commented on #57916
@ralish let us know if this solves what you are looking for, here.

[2020-08-19 21:00] sagetherage commented on #57902
@apwrv let us know if this solve what you need here, if not mention myself or Wayne to open the issue. Thanks!

[2020-08-19 21:00] #57902 closed

[2020-08-19 21:11] sagetherage commented on #57658
closing for now, @survient let us know if you want it re-opened

[2020-08-19 21:11] #57658 closed

[2020-08-19 21:48] #56992 closed

[2020-08-19 21:59] cmcmarrow commented on #58225
@ScriptAutomate We still need to remove the default argument. This should be done in `magnesium`.
As long as you pass an `opts` `dict` you should be okay.

[2020-08-19 22:14] dmurphy18 commented on #57665
When using proxy certain values like keywords are not fully transferred unlike the native minion with a direct connection.

The Junos layers underneath on the device object to extraneous keywords for a number of commands when executed from the CLI, for example: junos.zeroize, junos.lock, junos.unlock, etc.

The native minion has tests written to catch these, but it is still under development and a

[2020-08-19 22:18] cmcmarrow commented on #58239
`def handle_func` deep copys `kwargs` the same way in `2018.3.3` and `3001.1` and `saltenv` may have changed.

[2020-08-19 22:52] Oloremo commented on #25700
sad to find dead issues like this. A lot of proposed features sounds so good

[2020-08-19 23:14] louwers commented on #55310
Running `salt-ssh` with a target that has Python 3.8 installed still seems problematic.

[code]

[2020-08-19 23:21] louwers commented on #55310
`salt-ssh` doesn't seem to be working when only Python 3.8 is installed on the host.

[code]

[2020-08-20 01:30] ralish commented on #57916
@sagetherage @waynew Sorry for the delayed response! Yes, my read of @waynew's approach seems like a pretty elegant fix for the issue 👍

[2020-08-20 01:35] nvx commented on #10619
So note that there is already functionality to determine if a service is enabled - https://github.com/saltstack/salt/blob/0b2a5613b345f17339cb90e60b407199b3d26980/salt/modules/freebsdservice.py#L128

If the answer is yes, using start would fix this. If it's not enabled then you'd have to fall back to onestart which has these side effects in some cases, but I imagine the most common case would be s

[2020-08-20 04:06] Mateo-neo commented on #58234
I don't know how but it's work!
[code]

[2020-08-20 04:06] #58234 closed

[2020-08-20 05:11] konstest opened #58254 "Needs the same method deploy Windows VMs by Salt-Cloud as a Linux VMs"
**Is your feature request related to a problem? Please describe.**
There is no standard and convenient method for configuring the salt-minion configuration file during deployment process by Salt-Cloud of Windows VMs. Does not work salt-cloud parameters: [`script:` and `script_args:`](https://docs.saltstack.com/en/master/topics/cloud/deploy.html).
For example in my case i need to enable parameter `

[2020-08-20 07:04] fukawi2 opened #58255 "[BUG] User creation fails on Ubuntu 20.04 due to missing -g flag for useradd"
**Description**
We are upgrading from Ubuntu 16.04 to 20.04. This involves also upgrading Salt from 3000 to 3001 due to Python2 deprecation in both Ubuntu and Salt.

When trying to create users, Salt fails due to `useradd` returning error 9, caused by a missing `-g` flag:

[code]

The [documentation](https://docs.saltstack.com/en/2019.2/ref/states/all/salt.states.user.html) states that the users g

[2020-08-20 07:35] AmiramMaimon commented on #58244
Another example:
{% set test = {'a': False} %}
[code]

How can I use your solution to solve this issue?

[2020-08-20 07:40] apwrv commented on #57902
It does answer my question. Thank you.
Will continue patching till we migration our environment to the latest version of MySQL.

[2020-08-20 09:23] OrangeDog commented on #58244
What issue? What are you trying to achieve?

[2020-08-20 13:15] montao opened #58257 "Peer communication with least privilege"
I would like one minion to run programs and start and stop services on another minion (Linux VMs) from the Python Salt API.
It seems like peer communication is the way to go.
https://docs.saltstack.com/en/latest/ref/peer.html
If I set a policy in the master config for a minion or a group of minion then one minion would be allowed to run programs on the other minions using the caller API in Python.

[2020-08-20 13:29] justindesilets commented on #49939
I would like to suggest some possible salt-master side metrics to expose.
[code]
I think these are some of the things I would like to be able to track and possibly alert on. For the masters, part of it is knowing the master is healthy, but then also being able to track load over time as more minions are added to it. These types of metrics can help figure out that right balance of resources and sca

[2020-08-20 14:04] sriramperumalla commented on #29028
I take my words back. dict object attribute not found error is due malformed  pillar data .sls file.

[2020-08-20 15:29] jkuhn12 commented on #58237
i did some reading on state and execution module and i understand my mix up now. Thanks for the quick clarification! Closing this

[2020-08-20 15:29] #58237 closed

[2020-08-20 15:48] amalaguti commented on #57933
I ran into the same issue today and was testing customization_spec setting.
A positive side effect of being able to select a customization spec, is that the instance will have its hostname set properly, matching the minion id (if your spec is set to use the virtual machine name for Computer name)
So no need to run a task (most customers use a state during start up) to set hostname on post deployme

[2020-08-20 17:08] sagetherage commented on #57916
sorry, my mistake in closing, re-opened

[2020-08-20 17:51] sagetherage opened #58258 "[TEST FAILURE] Windows Slow Tests failing"
### Description of Issue
https://jenkinsci.saltstack.com/view/all/job/pr-windows2019-py3-slow/job/master/lastBuild/

[2020-08-20 18:13] oeuftete commented on #57750
Just to cross reference, I believe the fix @trootnev  referred to is in https://github.com/saltstack/salt/pull/58095.

[2020-08-20 18:15] khireddine10 commented on #55241
yes i see this log message.

[2020-08-20 18:41] nicholasmhughes commented on #58112
ran into the need for `sqlite_queue_dir` today due to use case similar to #45854

[2020-08-20 21:07] trootnev commented on #57750
Yup. This is my PR, but I don't have test environment at hand to satisfy test requirements.  The fix is very simple, so I just use a custom module and happy with it.

20 авг. 2020 г. 21:14 пользователь Ken Crowell <notifications@github.com> написал:

I found out that in my case it's a bug in win_status function (connection was not detected when it was using ipv6 and connection check marked minion

[2020-08-21 00:19] sagetherage commented on #41195
@saltstack/docs-working-group

[2020-08-21 02:15] rksawyer commented on #57872
Using salt stack to manage Ubuntu Core's transactional snap-based updates would be a powerful combination for IOT edge devices.

[2020-08-21 06:32] #58258 closed

[2020-08-21 07:09] Su-yj opened #58260 "[BUG] pillar scheduled job stop working after a period of time"
**Description**
Some server that the pillar scheduled job doesn't work after a period of time. But some of the server that the pillar scheduled job  still working. And I use the master ping the minions are still alive. The most interesting thing is that they all stop working around 5:00 a.m.. If I restart the minions, the pillar scheduled job will still work.
One of the servers has happened twice

[2020-08-21 10:08] agraul opened #58261 "[FEATURE REQUEST] Ability to list system services that were affected by package manager operations"
**Is your feature request related to a problem? Please describe.**
Not all services that run on a system are managed by Salt and can be restarted automatically. One example is the salt-minion service itself, but there are others that are unlikely to be managed by Salt. Reinstalling, upgrading, or downgrading packages might affect running services which can cause further problems.

One example is a

[2020-08-21 20:27] prensing opened #58269 "[BUG] file.comment complains if not found"
**Description**
The file.comment service complains, with an error, if the regex is not found. This does not match similar behavior in, for instance, file.replace, which does not complain if it is not found.

**Steps to Reproduce the behavior**
Create file.comment with an expression which does not match.

**Expected behavior**
Silently ignore that nothing matches

**Versions Report**
<details><summ

[2020-08-21 22:52] dafyddj opened #58270 "[BUG] v3001 regression in unless requisite for cmd.run (Windows)"
**Description**
Prior to `v3001` the `unless` requisite in `cmd.run` ran its command with the same shell as specified for the cmd itself.
It now appears that the `unless` requisite in `cmd.run` is run with the default(?) shell for Windows i.e. `cmd.exe`.
This is evidenced by the error message seen in the debug log of `stdout: {exit was unexpected at this time.`.

This means the `unless` condition

[2020-08-22 02:15] khireddine10 opened #58271 "[BUG] network automation salt-proxy trouble"
**Description**
hi saltstack community i'm trying to use salt in network automation but i have a lot of trouble.
when bring up the salt-proxy, i get this issues.
![image](https://user-images.githubusercontent.com/44124081/90946207-a1098c80-e422-11ea-8874-d9d683a11bfd.png)

**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info).
do a simple napalm proxy, my t

[2020-08-23 21:54] alxwr commented on #56556
I added a comment to https://github.com/saltstack/salt/pull/57688#issuecomment-678829263, containing a possible solution.

[2020-08-24 06:25] konstest commented on #58254
### ERROR FOUND
If i do customization salt-minion config parameters [by `-j` bootstrap script parameter](https://github.com/saltstack/salt-bootstrap/blob/69bfde2d63e155d8c98b1bc85568b297cc8418df/bootstrap-salt.sh#L388) at salt-cloud profile for Linux VM:
[code]
Then created VM will not autoconfigured on my private salt-master.

[2020-08-24 07:13] s0undt3ch commented on #57930
Grains are a core part of the minion and they should be properly populated when starting.
If this was on one of Salt's core grains I'd consider this a bug, but since this involved a custom grain, I consider this a feature request.

I'll explain, salt should not be that "careful" with core grains, they *must* work at all times.
However, salt could, and likely should, differentiate these custom grai

[2020-08-24 07:20] s0undt3ch commented on #56619
I think enough investigation work has been put into this and clearly notes the bad/wrong usage.

No code which is imported by Python's `import` machinery can expect any salt dunders to be available. If this worked before, then **that** was a bug and unintended behavior.

This is not a bug.

[2020-08-24 07:41] DmitryKuzmenko commented on #58243
@OrangeDog do you have any thoughts about the implementation. By a quick code lookup I see that we're using `elasticsearch` python library and I've found no reference to the new way using `PUT _index_template`. I'm not very good in elastic search so if you couldn't help to understand this I'll need to get a deeper research in that.

[2020-08-24 07:53] DmitryKuzmenko commented on #58235
@dkacar-oradian your explanation makes sense. Thank you for the feature request.

[2020-08-24 09:59] OrangeDog commented on #58243
@DmitryKuzmenko yes, the Python library also lags behind on management support.

As with the ILM, you can use the client to call arbitrary endpoints until it adds specific support.

[2020-08-24 12:44] daks commented on #57580
Hello, any news about this issue?

[2020-08-24 13:53] Vaarlion opened #58273 "[BUG] Salt-call randomly can't find any bin during highstate"
**Description**
I got this error from a colleague, so i hop the data I've gather will be enough
Basically, we were running some highstate on a couple of server with salt-call. Some of them, seemingly randomly, couldn't find any binary during the run.
using the same command once again would run without issue.

I understand that salt-call are running with the environment of the user, but i can't fin

[2020-08-24 14:31] xcorvis commented on #57710
I have a similar setup - 16.04 with old master keys, going from 3000 to 3001. I am not looking forward to manually re-accepting keys on 2000 servers.

**This should be in the release notes.**

[2020-08-24 17:15] Relers commented on #57390
imho, winget is beta + will huge changes, better use chocolatey nowaday.

[2020-08-24 19:34] sagetherage commented on #58114
@Timbus apologize I didn't get to this on Friday. The team reviewed and would like to open this issue up as a Salt Enhancement Proposal. You can find the instructions in the readme.md here: https://github.com/saltstack/salt-enhancement-proposals. This is a great way to get more communication from the community as well as the Core Team and we do not need to wait for a meeting for this to occur! Let

[2020-08-24 19:58] markuskramerIgitt commented on #58203
@mbirtwell,
I would like to collect examples and encourage profiling.
Could you please describe how you profiled and what you found?

[2020-08-24 20:22] waynew commented on #58273
I'm not sure what this bug is, but it's definitely related to Python2 - we no longer support Python2 with the Sodium release.

[2020-08-24 21:44] #49840 closed

[2020-08-24 21:48] #52363 closed

[2020-08-24 22:02] #56995 closed

[2020-08-24 22:03] #57275 closed

[2020-08-24 22:08] #57629 closed

[2020-08-24 22:13] #57908 closed

[2020-08-24 22:15] #54867 closed

[2020-08-24 22:16] #57854 closed

[2020-08-24 22:16] #57855 closed

[2020-08-24 23:09] advait-patel commented on #56123
@DmitryKuzmenko Working on creating a maintenance window on datadog using datadog api. The command needs start and end time from user, how to ask for user input?.

`salt-call datadog.schedule_downtime 'SCOPE' **start**=1601576919 **end**=1601836119 app_key='xxxxx' api_key='xxxxx'`

[2020-08-24 23:27] piterpunk commented on #56089
@sagetherage , I guess this one can be closed. I included this feature in #58133 , which is now merged.

[2020-08-25 05:32] Vaarlion commented on #58273
Hello @waynew,
I'm aware that salt 2019 is only in phase3 support since march, but there is absolutely no possible way for us to upgrade to python 3. Some of the service we run aren't and will not be compatible, and obviously invest in brand new infrastructure is out of the question with the economical context.

we had encounter something similar a week ago while 2 big highstate were running, salt

[2020-08-25 05:38] Vaarlion commented on #58273
What does make you think python2 is the cause ?

[2020-08-25 07:15] leifb opened #58276 "[DOCS] GPG renderer is listed as a text renderer, but used as a data renderer"
**Description**
The docs confused me a bit today: the [Renderers page](https://docs.saltstack.com/en/master/ref/renderers/index.html#two-kinds-of-renderers) lists the gpg renderer as a text renderer. At the same time the [salt.rendereres.gpg page](https://docs.saltstack.com/en/master/ref/renderers/all/salt.renderers.gpg.html) uses it as a data renderer (last in the pipeline). This confused me for

[2020-08-25 10:51] louwers commented on #21370
I ran into this with the postgresql-formula with salt-ssh 3001rc1.

[2020-08-25 12:01] Timbus commented on #58114
Awesome, I have made a start on this, will need to sleep on it before I finish it tomorrow. It's been a while since I've done any creative writing. Thanks for your guidance so far

[2020-08-25 12:04] louwers commented on #31531
Doesn't work for me, and I feel that this should be the default behavior (e.g. Salt SSH should not require this tweak). If it's included it should be documented as well.

[2020-08-25 12:37] Ch3LL commented on #57965
[code]

[2020-08-25 15:37] cro commented on #57972
@s0undt3ch and @krionbsd , are you OK with this getting fixed by adding python36-rpm.rpm as a dependency to Salt for CentOS 7 and including that package in our own repo?

[2020-08-25 15:39] #56089 closed

[2020-08-25 16:06] s0undt3ch commented on #57972
I'm good with the solution, but I'm not directly involved with packaging so we'll need input from @krionbsd

[2020-08-25 16:41] sagetherage commented on #58276
@saltstack/docs-working-group

[2020-08-25 16:43] wb529kq commented on #57972
Also needed for Oracle EL 7/8

[2020-08-25 17:19] damon-atkins commented on #36031
First step is too try py3, as py2 winapi does not support unicode well at all.  Py3.7 has a good chance of working.

[2020-08-25 18:27] alxwr commented on #58210
@tigpas Thanks for this patch! I ran into the same problem (#58210) on FreeBSD 11.3, using `salt-ssh` 3001.1. Your patch solved the problem.

[2020-08-25 18:30] Oloremo commented on #58246
Hm, it maybe works correctly just badly named. Should be something "max-concurrent"

I kinda guess it could work as "no more than N at once", so with batch 10 if 1 finishes and 9 are still running - salt goes ahead and launch one more minion since 9 < 10.

[2020-08-25 18:36] garethgreenaway commented on #58260
@Su-yj Thanks for the report.  Looking at the information that you provided it appears that the minions that are having problems are having problems regularly at 5:00am, do you have something running via some other system that is running and causing a restart or updating the pillar values for the minions?

[2020-08-25 18:49] cassandrafaris commented on #58114
@Timbus Hi! I'm adding this topic to the agenda for Thursday's Salt Community Open Hour. I'll tell everyone to watch for the upcoming SEP. Perhaps it'll spark some realtime conversations. If you're free, join us!

[2020-08-25 18:56] sagetherage commented on #57580
@daks we are reviewing this today in the Triage Community meeting and will have more details soon. Thanks for the reminder!

[2020-08-25 18:58] garethgreenaway commented on #57580
@daks I wonder if this is a similar issue to another pillar issue that was reported a few days ago when using pillar caching and pillar environments.  Would you be able to try the fix in this PR and see if it resolves the issue that you're seeing?  https://github.com/saltstack/salt/pull/58274

[2020-08-25 22:40] myii commented on #21370
@louwers Recent versions of the `postgres-formula` do work with `salt-ssh` -- would you mind opening an issue in the formula's repo so we can figure out what's going on?

[2020-08-25 23:38] #57963 closed

[2020-08-25 23:38] #57965 closed

[2020-08-26 06:18] krionbsd commented on #57972
@cro I'm fine with it, does py36-rpm exist as pip package as well or it's only rpm available?

[2020-08-26 06:19] Su-yj commented on #58260
Hi @garethgreenaway , I have checked the server, but nothing to found.
Through these days of observation, I found that only those 3 machines had problems. In this two days, I was restart the 3 minions, but the pillar scheduled still stop around 6:00 am not 5:00 am.

One minion's pillar keep working after around 13:40 and the second day was still work untill now.
![image](https://user-images.github

[2020-08-26 09:36] louwers commented on #21370
I will @myii!

[2020-08-26 10:09] nzlosh opened #58286 "[BUG] SaltStack 2019.2 repository Debian 10 missing salt-proxy package"
**Description**

Can not install salt-proxy on Debian 10 using 2019.2 repository.

**Setup**
Using Debian 10 with the following apt source defined:

`deb http://repo.saltstack.com/py3/debian/10/amd64/2019.2 buster main`

Attempting to install `salt-proxy` fails with the following error:

[code]
Only the Debian supplied package is available for salt-proxy
[code]

The salt-master package is found in

[2020-08-26 10:58] rjc commented on #46045
Fingerprint-only delete option doesn't solve the issue either, however.

Let's say you clone a machine and reuse the key but change the `minion_id` and then accept both keys - two keys with the same fingerprint will work just fine, no errors or warnings are triggered. Then, one of these machine fails so you set up a new machine with the same `minion_id` (from scratch this time) and you'd like to c

[2020-08-26 11:22] nzlosh commented on #58286
I completely missed the fact that the salt-proxy command had been merged into the salt-minion 2019.2 package as pointed out by Tobias von der Krone in the Slack channel.

[2020-08-26 11:22] #58286 closed

[2020-08-26 12:16] daks commented on #57580
@garethgreenaway I'm running salt-master 2019.2.5 and tried to replace my `salt/pillar/__init__.py` with the one on this PR and salt-master didn't restart. I then tried to manually apply the patch and this time salt-master was ok to start, but I still see the same problem.

[2020-08-26 12:31] daks commented on #57580
I upgraded my test setup to 3001.1 (`3001.1+ds-1` exactly) and replaced the file with the one from the PR. It doesn't solve the bug

[code]

[2020-08-26 12:50] max-arnold commented on #31531
@louwers I'm puzzled why the patch doesn't work for you. Can you try the following salt-ssh command:

`salt-ssh HOSTNAME -t -W -w --extra-filerefs 'salt://' state.apply YOURSTATE`

Submitting a PR is still on my todo list (it requires salt-ssh integration tests which I'm unfamiliar with).

[2020-08-26 12:50] poliscialex commented on #58081
@waynew any ETA on getting that issue resolved to see if it would resolve this as well?

[2020-08-26 13:09] max-arnold commented on #31531
I'm hesitant to enable this behaviour by default, because it transfers the whole state tree which is slower. And implementing the proper solution (only transfer what is needed) is beyond my abilities and knowledge of salt-ssh internals.

@Ch3LL What do you think about including the above patch in Salt? Also, are there any viable approaches to implement a proper solution (that will be able to find

[2020-08-26 15:38] Ch3LL commented on #55310
@louwers i'm not seeing `from platform import _supported_dists` anywhere in the code for 3001.1. i'm guessing that is still the 2019.2.4 code on the target host. It should have updated it to 3001.1 but can you wipe that out `-w` and make sure you are still not seeing the issue?

[2020-08-26 16:30] garethgreenaway commented on #50899
@Vaarlion It likely is still an issue in the latest release as it doesn't appear that we've seen a PR with the mentioned change and tests for the change.  Once we get that in we'll be more than happy to merge that fix in.

[2020-08-26 16:34] sagetherage commented on #56467
@DmitryKuzmenko have you been able to get with @edhgoose on this issue?

[2020-08-26 17:38] BrianSidebotham commented on #57992
Also being affected by this. With the one-line fix in place for `connection['uses'] -= 1` (Fix for #57705) on the master we now hit this issue.

However, `vault.read_secret` is working on the minions:

[code]

[code]
Versions:

[code]

[2020-08-26 21:07] alxwr commented on #56556
I turned that into a PR including tests.

[2020-08-26 21:10] pgporada opened #58297 "[BUG] Cannot add certain grants in MariaDB 10.5"
**Description**
In MariaDB 10.5.x, certain grants were renamed, but have a mapping to the old grants name. https://mariadb.com/kb/en/changes-improvements-in-mariadb-105/ and several new grants were introduced.

When I attempt to highstate a MariaDB 10.5 server, I receive the following errors from Saltstack for some of my configured users. Besides the addition of the BINLOG MONITOR grant to my pill

[2020-08-26 21:17] BrianSidebotham commented on #57992
We've resorted to using `3001.1` with pillar secrets using `vault.read_secret` like so:

[code]

[2020-08-27 04:54] fukawi2 commented on #58255
Further testing shows that removing the `usergroup` directive allows the user to be created successfully.

[2020-08-27 05:07] KevinWang15 opened #58298 "sensitive information exposed in `debug` level logs"
**Description**

When debug level logging is enabled, sensitive information / credentials are exposed and leaked in the logs:

[code]

**Expected behavior**

I believe that the values should be redacted **by default**. Some users do not check the log files and do not know that the credentials are being leaked. Only displaying the `first 3 characters` of any value, followed by `** hidden **` should

[2020-08-27 05:43] Su-yj commented on #58260
Hi @garethgreenaway , I think I found the reason that why my schedule job stop. The 3 servers have another schedule job by jenkins to change the server's time every day at 5:00 am or 6:00 am.
However, could I use the ntp time for minion? Beacuse I use the ntp time as the report time to monitor now.

[2020-08-27 05:45] mzycynb commented on #30904
This problem still exists, can anybody helps to fix it?

[2020-08-27 08:05] edhgoose commented on #56467
@sagetherage @DmitryKuzmenko and I had a conversation about turning on certain debugging, but I'm on holiday atm and haven't seen the issue for a little while. Unfortunately it seems extremely intermittent - but I'll be sure to confirm if it comes up again what the logs are.

[2020-08-27 09:12] srkunze commented on #38098
I found this issue being reproduced by this:

[code]

Fix:
[code]

[2020-08-27 09:30] srkunze commented on #54471
Alright another part of the issue to illustrate the behavior:

[code]

[code]

[code]

[2020-08-27 09:57] Oddly commented on #54759
Having this problem on CentOS 8 as well:

[code]

[code]

[2020-08-27 10:19] Ch3LL commented on #58021
Looks like source should not be a list. Try this:

[code]

We should still clean this up so we do not stack trace though and include a useful error for the user, so i will label as a bug to get that fixed up.

[2020-08-27 12:29] Ch3LL commented on #58257
There is not a way to only allow certain cmd.run commands to run. What you could do is write a custom module that runs the commands you want that minion to be able to run.

you could also limit it more by setting `cmd.script` instead of `cmd.run` but of course they could still run any script on that host.

[2020-08-27 12:56] baby-gnu opened #58300 "Provides full featured salt.states.xml"
**Is your feature request related to a problem? Please describe.**

I can't add new XML nodes or remove sub trees with `salt.states.xml`.

**Describe the solution you'd like**

I would like to be able to:

- add new elements with its value:
[code]
- remove elements or subtrees:
[code]
- add new elements with its value and attributes (generalisation of the previous one):
[code]
- use a `dict` to se

[2020-08-27 13:27] srkunze commented on #54471
Our current work-around according to
https://dba.stackexchange.com/questions/11893/force-drop-db-while-others-may-be-connected

[code]

[2020-08-27 15:05] jamesbernardi commented on #58021
Thanks I did end up realizing that it can only take 1 source.

I was trying to add multiple keys from different source files

which would be a nice to have

[2020-08-27 15:05] #58021 closed

[2020-08-27 15:15] DmitryKuzmenko commented on #58269
It'd say: it's worth to change the default behavior of file.replace to return an error in case the target regex is not found in the file. But it's good idea to have an option to change this behavior to not complain if it's needed for particular cases.

[2020-08-27 15:30] DmitryKuzmenko commented on #58165
The function docstring says that `x509.certificate_managed` state module accepts any kwargs supported by `file.managed` but as I can see in the code the only following arguments are passed to it:
[code]

I don't see `replace` there. This is wrong.

[2020-08-27 15:50] prensing commented on #58269
If the team thinks that the default behavior of the methods should be to complain if the pattern does not match, I am fine with that *as long as* there is some ability to turn it off. Particularly with file.comment, many of the uses would be to "get rid" of a line if it is present, but it does not matter if it is not present.

[2020-08-27 16:17] sagetherage commented on #56467
@edhgoose no worries! I was checking in because I didn't want things to be left undone, thank you for the extra effort and have a nice holiday.

[2020-08-27 16:43] yz2524 opened #58303 "[BUG]Salt-minion suddenly can't be started"
**Description**
I recently found out that one of our  minion is not reachable from mater test.ping.
I tried to restart the minion but it failed:
[ERROR   ] invalid syntax (utils.py, line 701)

**Versions Report**
salt-minion 2015.5.8 (Lithium) CentOS release 6.10
python2.6
salt-master 2015.5.10 (Lithium) CentOS release 6.10

[2020-08-27 17:37] Ch3LL commented on #56999
This was fixed here: bf3110a0b5e86233c89c607a2fbecc4447c3d753
from this PR https://github.com/saltstack/salt/pull/57441

which was included in v3001

[2020-08-27 17:37] #56999 closed

[2020-08-27 17:41] amalaguti opened #58304 "[BUG] salt-cloud fix doc on tmp folder info, and FR to disable use of uuid in tmp folder"
**Description**
This would be a documentation fix plus feature request
Based on Cloud docs here https://docs.saltstack.com/en/latest/topics/cloud/troubleshooting.html#tmp-is-mounted-as-noexec
The tmp folder used to deploy minion on the instance should be /tmp/.saltcloud

But it's not correct, it's /tmp/.saltcloud-(random uuid)
https://github.com/saltstack/salt/blob/5281b622e452f8449132762ebe2aa287

[2020-08-27 17:47] amalaguti opened #58305 "[BUG] salt-cloud keep_tmp setting in provider/profile configuration is ignored"
**Description**
keep_tmp: True argument in provider/profile conf files is ignored, tmp folder is not removed from minion
(it works from cli passing the option as an argument: salt-cloud --keep-tmp)
Looks like it's getting keep_tmp: False from opts dict and is not using whatever is set in provider/profile

salt/cloud/test1/deploying	{
    "event": "executing deploy script",
    "kwargs": {

[2020-08-27 18:53] oeuftete commented on #44783
ZD-5639.

[2020-08-27 18:57] sagetherage commented on #58276
@leifb that looks right, GPG renderer returns the same data structure as it gets decrypting text data fields. So it's worth to mentioning it either as data renderer type or as both text and data renderer in the docs @ScriptAutomate

[2020-08-27 19:03] sagetherage commented on #58114
https://github.com/saltstack/salt-enhancement-proposals/pull/33

[2020-08-27 19:17] TheBirdsNest opened #58306 "[BUG] aync_runner function from salt-api the info dic always contains an error but runs"
**Description**
When calling an aync_runner function from salt-api the info dictionary always contains an error which states "Cannot contact returner or no job with this jid" even though the job runs and completes successfully with return data.

**Setup**
N/A - No specifc setup is required, The runner simply needs to be called via the runner_async client.

**Steps to Reproduce the behavior**
Calli

[2020-08-27 21:01] twangboy commented on #58175
It looks like we removed the `AppEnvironextra` setting from NSSM in this PR: https://github.com/saltstack/salt/pull/42571/files
That happened in 2016.11. Upgrading might be leaving a setting for the service in the registry. That setting might be present at this location: `HKLM\SYSTEM\CurrentControlSet\Services\salt-minion`. Try either deleting it or making it a `REG_MULTI_SZ`.

[2020-08-28 07:43] smithfarm commented on #48470
This should be reopened.

[2020-08-28 08:58] dglushenok commented on #25670
Same problem on 2018.3.4:

[code]

[2020-08-28 09:48] sriramperumalla commented on #54821
Hi @dwoz ,
I tried the command you mentioned in the comment above to start a windows service. But, I get the same Windows Error that system could not find the environment option that was entered.
Command used:
sudo salt 'target' cmd.run "net start Wecsvc" runas=administrator password=abc123

net start/net stop command is not part of the cmd.exe  built-in commands you provided in:
https://renenyffe

[2020-08-28 10:32] meaksh commented on #54112
FYI we have some reports from customers that are facing this same issue but also with Salt 3000.

Apparently, removing the cached "thin" in the ssh minion (i.a. `/var/tmp/.sadm_2296c1_salt/`) fixes the issue, but it happens again once the "thin" is cached.

Let see if we can bring some more light into this.

[2020-08-28 11:28] alexbixor commented on #51272
Hi,

Is there any work being dome towards this?
Packagekit support would be very welcome.

[2020-08-28 13:01] steverweber opened #58310 "grain cpu_family"
The architecture family of a cpu would be helpful to have in grains. This would make it more simple when installing packages that are architecture family related.

My previous workaround was looking at the cpu_flags.

On many Linux systems you can `cat /sys/devices/cpu/caps/pmu_name` I'm not sure about other kernels

[2020-08-28 14:23] oeuftete opened #58311 "[BUG] service.running and service.dead on Windows missing "timeout" docs"
**Description**

The `timeout` option for Windows `service.running` and Windows `service.dead` was added in d44eaeed6c/#49144 (available since 2018.3.4), but was not documented.  Users who might benefit from this option don't know they can do this.

[2020-08-28 15:39] wegenerbenjamin opened #58313 "[BUG] #52359 was fixed for develop, but not merged to master"
The issue #52359 was fixed and merged into `develop`, but no further steps have been taken to bring the changes to the `master` branch; the bug is still present in the latest version.

[https://docs.saltstack.com/en/latest/topics/development/git/index.html](https://docs.saltstack.com/en/latest/topics/development/git/index.html) states `develop` as the main development branch, but [https://docs.sal

[2020-08-28 15:53] evenyougreg opened #58314 "[BUG] Highstate still runs explicitly disabled state files?"
**Description**

I am trying to disable a specific state file from ever being ran with **salt minion state.disable dont_run**, but when I run a highstate against the same minion, the state file still runs without hesitation. It only doesn't run if I, again, call it out with **salt minion state.apply dont_run**, I'll get:

[code]

This doesn't really make sense to me, and I can't imagine a scenario

[2020-08-28 21:28] fabricioasap opened #58316 "I'm getting an error when trying to run a Thorium reactor"
I understand this is probably not a bug, but I'm not sure what I'm doing wrong

**Description**
I'm getting an error when trying to run a Thorium reactor

**Setup**
[code]

**Steps to Reproduce the behavior**
[code]

**Versions Report**
<details><summary>
[code]
</summary>
</details>

Thanks

[2020-08-28 22:04] bryceml opened #58320 "[BUG] New Arch AMI breaks full test suite"
**Description**
https://github.com/saltstack/salt/pull/58319 updates to the latest arch ami, there are some failures that only fail when you run the full test suite, more details are on the pr, feel free to update the pr with changes that fix it.

[2020-08-28 22:05] bryceml opened #58321 "[BUG] New Fedora31 AMI breaks full test suite, integration.ssh.test_master.SSHMasterTestCase.test_can_it_ping is flaky"
**Description**
https://github.com/saltstack/salt/pull/58317 updates to the latest fedora31 ami, there are some failures that only fail when you run the full test suite, more details are on the pr, feel free to update the pr with changes that fix it.

This one might just be a flaky test that's failing.

[2020-08-28 22:06] bryceml opened #58322 "[BUG] New Centos8 AMI breaks full test suite, integration.states.test_bower.BowerStateTest fails, bower location changed"
**Description**
https://github.com/saltstack/salt/pull/58318 updates to the latest centos8 ami, there are some failures that only fail when you run the full test suite, more details are on the pr, feel free to update the pr with changes that fix it.

[2020-08-28 22:53] lifanov opened #58323 "[BUG] service.dead fails on system services on macOS"
**Description**
When unloading some services, launchd prints "Operation in progress." to stderr before
the unload completes. Salt interprets output on stderr as a failure even if return code is 0.
This is new behavior on macOS 10.15 and is not exhibited on 10.14 or previous versions.

**Setup**
Grab a mac with macOS 10.15 or newer.

**Steps to Reproduce the behavior**
Put below stanza into a state

[2020-08-29 08:13] mchugh19 commented on #58300
related to #58245

[2020-08-29 11:43] markuskramerIgitt commented on #58175
Hi @twangboy
This issues really is two issues with 2 priorities

### Prio 1 YAMLError disables minions and eats 50% CPU

Please ensure that PR https://github.com/saltstack/salt/pull/58179  gets into the next release, the PR is merge-ready, but not yet merged

I already [patched my inhouse-Version of 3001](https://github.com/markuskramerIgitt/LearnSalt/blob/1c98eeb4ddcaabd6e6b13d3123f79132d233caa6/

[2020-08-29 12:01] markuskramerIgitt commented on #58175
Closing until https://github.com/saltstack/salt/issues/58177 is verified and merged

[2020-08-29 12:01] #58175 closed

[2020-08-29 12:13] markuskramerIgitt commented on #58177
@twangboy how can I assist you in the "Fixed Pending Verification"?

[2020-08-29 22:16] vielmetti commented on #57742
Working for me now, once I remembered to kill the running `salt-minion` before starting up the new one.

[2020-08-30 03:40] Timbus commented on #58300
You can get surprisingly far with the changes that I added, but an 'absent' state is still needed to completely cover this request.

[2020-08-30 07:49] jhass commented on #57742
This bug report is about salt-ssh though, no running salt-minion involved.

[2020-08-30 15:10] amuhametov opened #58325 "[BUG] Master startup performance using consul cache"
**Description**
Master workers load cache too much during startup.
Each worker generates at least one request per minion to consul.

Restarting all/few masters at a time makes consul unresponsive for an hour(s).

MemCache does not help at all

**Setup**
1. 10k+ minions
2. 13 master hosts
3. more than 100 workers per syndic host

Master config:

zmq_backlog : 8192
consul.dc : dc1
master_sign_pubkey

[2020-08-30 18:25] amuhametov opened #58326 "[BUG] cmd.run performance with consul cache"
**Description**
Calling cmd.run -E leads to unnecessary consul load

**Setup**
1. 10k+ minions
2. 13 master hosts
3. more than 100 workers per syndic host

Master config:

zmq_backlog : 8192
consul.dc : dc1
master_sign_pubkey : False
consul.consistency : stale
state_output : terse
log_level : debug
consul.port : 8500
cache : consul
con_cache : False
ipv6 : False
master_id : master
order_masters :

[2020-08-30 22:26] montao commented on #58257
I think that's fine. We can make a custom module as described in the docs ( https://docs.saltstack.com/en/latest/ref/modules/index.html ) or for now I can ask the user to just start the daemon again. It's my test suite for a recovery which can make the database shutdown with the SQL SHUTDOWN statement, then run the test which should check that the database is unavailable and perform the appropriat

[2020-08-31 08:20] lukasraska opened #58327 "[BUG] status beacon can fail on Windows if no data are available through win32pdh.CollectQueryData"
**Description**
On certain systems, win32pdh.CollectQueryData can raise pywintypes.error with `No data to return.` (observed recently on 2008 R2), which is not handled by the `win_pdh` module, this then causes status beacon to fail.

**Setup**
Configure status beacon as described on https://docs.saltstack.com/en/latest/ref/beacons/all/salt.beacons.status.html

**Steps to Reproduce the behavior**
H

[2020-08-31 10:33] Thoro commented on #51481
I just ran into this issue, and thought it was fixed in salt 3001.3 - it actually is not, can someone take a look?

[2020-08-31 10:58] smithfarm commented on #48470
It seems to be a problem only on larger Salt clusters (the one we are seeing it on has >100 minions).

[2020-08-31 11:01] smithfarm commented on #48470
In the master log we see lots of messages like this:

[code]

We also see this message in smaller clusters when Salt is working fine. But on the big (>100 minion) cluster there are lots more of these messages. Don't know if it's relevant, but thought I'd mention it (maybe it's even worth a separate bug report, since we are certain all the minion keys were accepted before running any Salt States).