[2016-05-23 13:51] Suberri commented on #33345
Yes. Thanks

[2016-05-23 13:51] #33345 closed

[2016-05-23 14:52] jakehilton opened #33433 "Number of master processes"
### Description of Issue/Question

I'm seeing on some masters that I have a single master process running with a good number of subprocesses running under it.. which is to be expected. On other boxes I see multiple master processes running with a few subprocesses.. as well as the larger main master process. This seems to cause some issues with minions running commands against the master. If I rest

[2016-05-23 15:15] jfindlay commented on #30472
@warden, the [fix](https://github.com/saltstack/salt/pull/30978) is in the release notes for [2015.8.8](https://docs.saltstack.com/en/latest/topics/releases/2015.8.8.html).

[2016-05-23 15:17] jfindlay commented on #32554
@johje349, thanks for verifying.  @commutecat, can you also confirm?

[2016-05-23 15:20] jfindlay commented on #26146
@thecosmicfrog, not that I know of.  Ping @cachedout.

[2016-05-23 15:46] cachedout commented on #33376
This should be fully resolved, per @thatch45

[2016-05-23 15:46] #33376 closed

[2016-05-23 15:47] cachedout commented on #33295
I believe this has been fully resolved now by @terminalmage. I'm going to go ahead and close this.

[2016-05-23 15:47] #33295 closed

[2016-05-23 15:47] cachedout commented on #29674
This has been resolved by #33333

[2016-05-23 15:47] #29674 closed

[2016-05-23 15:51] rallytime commented on #33395
Fixed via #33421

[2016-05-23 15:51] #33395 closed

[2016-05-23 16:45] cachedout commented on #32860
I'm confused. The test case that @jfindlay is written incorrectly, since that configuration will never load an external pillar. Given the directory structure posted, the configuration should be:

[code]

@jfindlay Can you please re-do your test case with a valid configuration?

Now, there still may be a leak here with pillar refreshes. I'm going to try to reproduce this without an external pillar

[2016-05-23 16:45] creideiki opened #33437 "Merging pillars when one is empty gives empty result"
### Description of Issue/Question

I'm trying to merge pillar data, as suggested in https://github.com/saltstack/salt/issues/28394#issuecomment-158659657 . However, if the data I try to merge in happens to be empty (as a result of template rendering), the end result is completely empty, ignoring any previous data.
### Setup

pillar/top.sls:

[code]

pillar/common.sls:

[code]

pillar/modules.sls:

[2016-05-23 17:08] blade2005 commented on #33210
I have retested with the correct syntax and it works.

However when I rerun the same with retcode instead of run I get a failed command.

(Note ommitted context because i didn't find it particularly informative and didn't want to gunk about the issue.)

Not sure if this should be a seperate bug or not.

[2016-05-23 17:11] jf opened #33439 "salt-cloud (digitalocean provider-specific?): multiple providers with the same `personal_access_token` gives errors when deleting a VM"
### Description of Issue/Question

(Note that I haven't tested this to see if this affects other providers as well. Will try to do so tomorrow)

The example in the docs for Digital Ocean (https://docs.saltstack.com/en/latest/topics/cloud/config.html#digitalocean) shows an example where the `location` key is specified in the cloud provider config (instead of the VM profile config). To cater for mul

[2016-05-23 17:44] thatch45 commented on #33428
Can you give us a:
[code]
on the master and minion? Also show us the minion logs from when this happens? You may need to run the minion in debug.

[2016-05-23 17:48] Kurisutian commented on #33430
Seems to be a duplicate of https://github.com/saltstack/salt/issues/31788
Can anyone confirm?

[2016-05-23 17:51] zerthimon opened #33442 "salt-call waits infinitely on apt-get of mysql server community edition"
### Description of Issue/Question

salt-call hangs on the following command:

[code]

in processes:

[code]

in strace:

[code]

in lsof:

[code]
### Setup

[code]
### Steps to Reproduce Issue

[code]

Hangs forever, the install of the package is finished in the background, the DB is initialized.
apt-get is a zombie.
### Versions Report

[code]

[2016-05-23 17:57] notpeter commented on #32584
Similarly, if you don't specify a file, but do specify clean_file you get a traceback:
[code]
Traceback:
[code]
This worked just fine with previous salt versions but is now broken under 2015.8.10.

It's fine if you want to make file a required keyword, but the [pkgrepo docs](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.pkgrepo.html) should be updated to reflect that. Specificall

[2016-05-23 18:06] Ch3LL commented on #33399
@max-peroch what version of salt are you running into this issue? Can you possibly include the output of `salt --versions-report` .

[2016-05-23 18:07] morganwillcock commented on #33210
I think in this case you have to request to use a shell:
`salt morgan cmd.retcode 'type "C:\Program Files (x86)\Internet Explorer\ie9props.propdesc"' python_shell=True`
<pre>morgan:
    0</pre>

If you are doing similar things with Powershell you have to careful. Unless your commands are calling "exit" with the correct code, you shouldn't trust the return code.
`salt morgan cmd.retcode '$true -eq

[2016-05-23 18:09] Ch3LL commented on #33401
@sjmh I think included more log details can always be useful. I think this is a great feature request.

[2016-05-23 18:23] blade2005 commented on #33210
Yeah I'd noticed that if I used powershell I wasn't getting the proper return code (Always true enough with an error being returned like your example). I have a question, what type of shell is being used without me calling python_shell=True ?

[2016-05-23 18:26] rallytime commented on #26913
@jacobweinstock Ah, that fix only applied to the develop branch, now that I look more closely. I can submit a PR in a moment that avoids the syntax error.

[2016-05-23 18:31] rallytime commented on #26913
@imchairmanm And @jacobweinstock - please see PR #33443.

[2016-05-23 18:49] tyhunt99 opened #33444 "Dockerng failing to import docker on fresh salt-cloud instances"
### Description of Issue/Question

I am launching a new EC2 instance through salt-cloud (via the api). I have version pinned salt to 2015.8.7 for both master and minion. Whenever I try to do anything with the Dockerng module it fails with an import error.

The strange part is as soon as restart the salt-minion it begins to work just fine.
### Steps to Reproduce Issue

Launch an EC2 instance thorug

[2016-05-23 18:50] tyhunt99 commented on #33444
I have also seen the same issues when using salt 2015.8.10.

[2016-05-23 19:03] edgan opened #33445 "mongodb user_create doesn't pass the database"
### Description of Issue/Question
The mongodb module's function user_create doesn't pass the database to the _connect function. This results in not being able to create users not in the admin database, because it only connects to the admin database. In mongodb 2.6 and newer, user creation outside the admin database is the default.

### Setup
app-name_db_foo-database_user_app-user:
  mongodb_user.p

[2016-05-23 19:10] prasadjlv commented on #32946
@jfindlay, I solved my issue by updating the open-vm-tools in the guest OS.
The following links helped me debug and solve my issues:
http://serverfault.com/questions/653052/from-vsphere-5-5-deploying-centos-7-from-template-ignores-customizations
https://kb.vmware.com/selfservice/microsites/search.do?language=en_US&cmd=displayKC&externalId=2075048

[2016-05-23 19:12] #7653 closed

[2016-05-23 19:24] nmadhok commented on #32946
Make sure your template has VMware tools installed or open-vm-tools. Will update the docs soon with the instructions to create template.

[2016-05-23 19:28] rallytime commented on #33125
Fixed by #33179

[2016-05-23 19:28] #33125 closed

[2016-05-23 19:42] notpeter opened #33447 "pkgrepo broken in 2015.8.10 TypeError: expand_repo_def() got multiple values for keyword argument 'repo'"
### Description of Issue/Question

Upgraded to 2015.8.10 and now multiple of my pkgrepo states no longer function.

### State

[code]

### Output

[code]

### Versions Report

Works on 2015.8.8.2.  Fails on 2015.8.10.
[code]

[2016-05-23 19:48] Ch3LL commented on #33410
@morganwillcock I am not able to replicate this using the 64 bit version of pygame wheel file:

[code]

[code]

Can you verify that pip on the local machine does not error?

1. cd C:\<python35scripts directory>\
2. `./pip.exe install <pygame wheel file>`

Also try the salt python directory:
1. `cd C:\salt\bin\Scripts\`
2. `./pip.exe install <pygame wheel file>`

[2016-05-23 19:50] UtahDave commented on #33343
I just did some testing since I hadn't used the peer run feature in quite a while. It looks like only the output of the runner execution is returned to the calling minion, so there's no metadata about the success for failure of the runner.

This feels like a feature that could use some attention and polish. It would be very much appreciated if you have any documentation improvements based on your

[2016-05-23 19:55] #33348 closed

[2016-05-23 20:06] UtahDave opened #33448 "Vistara runner logs in __virtual__ function on develop branch"
### Description of Issue/Question
The Vistara runner uses logging within the `__virtual__` function. This causes logs to show up where the `__virtual__` function should return a tuple, True or False, I believe

### Steps to Reproduce Issue
I noticed this when running generating a thin tarball

[code]

### Versions Report

[code]

[2016-05-23 20:27] hrumph commented on #33418
One thing I should add. I looked into this and the best thing I can think of is neither \__context\__ nor a salt grain. Instead, so far, a volatile registry entry looks like the best thing. It'll stick around until the next boot.

[2016-05-23 20:27] morganwillcock commented on #33210
You can use it if you put the exit logic into the Powershell command:
`salt morgan cmd.retcode 'if ($true -ne $false) {exit 1}' shell=powershell python_shell=True`
<pre>morgan:
    1</pre>
If you don't specify to use a shell then it looks like you just get a sub process, so you can still run binaries that are commonly used in a shell:
`salt morgan cmd.retcode 'findstr hello' stdin='hello'`
<pre>mo

[2016-05-23 20:40] rallytime commented on #33448
Fixed in #33449

[2016-05-23 20:40] abraithwaite opened #33450 "Log Level Clarification for Custom State Modules"
### Description of Issue/Question

`log.info` in custom state module requires a higher level of logging to be set in order to be seen.  Is this expected behavior?  How do I get `INFO` level output to `salt-call`?

### Setup

[code]
Results in setting debug or higher to see the log to the salt-call.

[code]

### Steps to Reproduce Issue

1. Add `log.info` to somewhere in custom state module.
2. Syn

[2016-05-23 20:41] cachedout commented on #32860
I've spent the entire day trying to reproduce this and I haven't been able to find anything conclusive.

While it's true that the first several requests for a pillar to an MWorker to increase the amount of memory that's allocated, over time (i.e., the first hundred requests or so) this seems to level out and does not continue to rise. I attribute this to the python garbage collector needing time t

[2016-05-23 20:44] blade2005 commented on #33210
ah interesting. Thanks @morganwillcock this got me up and running and I learned something about how Salt works on Windows

[2016-05-23 20:44] #33210 closed

[2016-05-23 20:52] DanyC97 commented on #32128
hmm, i got into same issue in latest `2015.8.10` and running the above workaround before highstating makes no difference.

Can we please get the priority bumped?

[2016-05-23 20:59] abraithwaite commented on #33450
Did not follow my own steps.  Was not syncing my own state modules (rather I was but from the wrong location). 😦

Sorry for the noise.

[2016-05-23 20:59] #33450 closed

[2016-05-23 21:04] Ch3LL opened #33452 "Digital Ocean does not return anything on deletion"
### Description of Issue/Question
When deleting a digital ocean VM on 2016.3.0 it deletes the VM but I do not get a return back from salt and there is a DNS error.

### Setup
1. Create a VM in digital ocean using `salt-cloud -p`

### Steps to Reproduce Issue
1. `salt-cloud -d ch3ll-do`
2. The VM will be deleted but we do not get a return back and there is a DNS error like below:

[code]

### Versi

[2016-05-23 21:06] cachedout commented on #33433
Do you have `htop` showing you threads? Hit the `H` key and see if it looks more reasonable.

[2016-05-23 21:13] rvora commented on #32919
Is there a way to turn-off encryption for debugging? I am having what looks like connectivity problems between master and syndic but not sure - I am trying to use tcpdump to debug but everything is encrypted. Any ideas?

[2016-05-23 21:19] #33445 closed

[2016-05-23 21:19] Ch3LL commented on #33397
@DanielZuck thanks for the feature request. I'm not sure if this is currently possible with the current architecture.

@whiteinge do you think implementing something like this could be possible with our current documentation architecture?

[2016-05-23 21:24] #33448 closed

[2016-05-23 21:39] Ch3LL commented on #33298
going to go ahead and close this up since the PR was merged and another issue was opened for further discussion.

[2016-05-23 21:39] #33298 closed

[2016-05-23 21:47] cachedout commented on #30783
Hi @mmisztal1980

I'm sorry I didn't see this when you sent it. I get kind of a lot of email. :] Apologies.

So, in terms of the upload path, I don't consider this is a bug. This is part of the security model as it stands today. It's a pretty scary thought to allow minions to push to arbitrary locations on a master. If we were to do this, I'd at least want some really serious ACLs in place. Even t

[2016-05-23 21:52] #30472 closed

[2016-05-23 21:56] rallytime commented on #29889
Closing since we haven't heard anything back here. We can still continue the discussion, though, if needed.

[2016-05-23 21:56] #29889 closed

[2016-05-23 21:57] cachedout commented on #33422
@twangboy What say you?

[2016-05-23 22:00] cachedout commented on #33389
Known issue in PyYAML:

http://pyyaml.org/browser/pyyaml/trunk/lib/yaml/scanner.py#L91

There is nothing we can do about this, really. I recommend we document this as a limitation of the anything parsed by YAML in Salt.

[2016-05-23 22:03] cachedout commented on #33364
@RoGryza Is this something you'd like to to take a shot at fixing? This module doesn't have a clear maintainer so it might be a little while otherwise, I'm afraid. Let me know if I can help.

[2016-05-23 22:04] Ch3LL commented on #33418
@hrumph i'm going to go ahead and label this a feature request as it seems you want to make improvements to how reboots after packages are installed are currently handled. Is this correct?

[2016-05-23 22:17] cachedout commented on #33354
@lorengordon Oh, you need it in your minion config I think. I haven't checked but if memory serves, we don't forward scan for that before we begin processing.

[2016-05-23 22:19] cachedout commented on #33182
Sorry I missed this everybody. (I get a crazy amount of email.)

There are places in Salt where `environment` might still be a reserved keyword. Does this behavior change if a different word is used?

[2016-05-23 22:22] Ch3LL commented on #33422
I have verified this issue appears in both 2016.3.0 and 2015.8.10

[2016-05-23 22:35] cachedout commented on #33116
Try setting `ordered_top_files: True` in your minion config and see if that helps, please.

[2016-05-23 22:42] cachedout commented on #33089
I'm not sure Zypper was accounted for here. Any chance you could take a look, @terminalmage ?

[2016-05-23 22:43] #33014 closed

[2016-05-23 22:55] notpeter opened #33458 "repo.saltstack.com should retain old deb packages"
### Description of Issue/Question

Currently only the newest debs are available from repo.saltstack.com for a given release channel. Any previous versions are purged when newer packages are published.  Old releases are entirely moved into an archive folder (e.g. [ubuntu14/archive/2015.8.8.2](http://repo.saltstack.com/apt/ubuntu/ubuntu14/archive/2015.8.8.2/) and thus no longer available for install

[2016-05-23 22:56] cachedout commented on #32989
Really interesting discussion here.

I tend to generally be of the opinion that Salt grains should accurately reflect the environment that they're running under, even if this means that there's some discrepancy between their output when called from one tool versus another. Trying to massage this feels like a little bit of a black hole to me.

I'm more curious about real-world cases where this is h

[2016-05-23 22:57] supertom commented on #33367
@Ch3LL Thanks for taking a look.

Any provider that's delegating the list_nodes action to libcloud is possibly affected.  I misspoke previously, EC2 isn't affected (see below as to why).

GCE is definitely affected.  Test case for GCE is simply:
* install latest salt; install libcloud 1.0.0x
* salt-cloud --no-deploy -p zone1a test-minion
* salt-cloud -d zone1a test-minion

You'll receive the error

[2016-05-23 22:58] rallytime commented on #33389
@cachedout and @DaveQB how does the doc addition in #33459 look?

[2016-05-23 22:58] #32620 closed

[2016-05-23 22:59] cachedout commented on #33389
It looks fine to me but let's also give @DaveQB a chance to respond before we just close this. :]

[2016-05-23 23:30] rallytime commented on #27646
@ahammond I am not sure at which point this was fixed, but I just tested this on the latest release (v2015.8.10) and I am unable to reproduce this error. I see it on 2015.5.3, as you stated:
[code]
But on the latest release, this is fixed:
[code]
Are you still running into this or can we close this one up?

[2016-05-23 23:35] tonybaloney commented on #33367
Option 3. You already have the six library loaded. IMHO this is the best option because SaltStack doesn't dictate libcloud version (only minimum) and my perception is that 0.14 is most common. libcloud 1.0 (proper) is coming out v. soon so we need to support both in 2016.3.1

* Have node_state do a data type (kind of a hack) or a version check

[2016-05-23 23:39] whiteinge commented on #33397
Yes, in fact we've got a [little code](https://github.com/saltstack/salt/blob/f48aa8f/doc/_ext/saltdomain.py#L31-L126) that does some of this already. It had fallen off my radar. I will generate a doc to see if it still works and what else needs to be added to make it useful...

[2016-05-23 23:43] DaveQB commented on #33389
Cool. Sounds good. Good work @cachedout tracking back where the root cause for this issue lied.
Splitting my line over two lines and duplicating the pillars to apply worked out fine for me.

Thank you for the fast response and resolution.

[2016-05-23 23:43] #33389 closed

[2016-05-23 23:51] thatch45 commented on #32919
No, we don't allow for the encryption to be turned off, we fixed some connectivity issues in the syndic in 2015.8.10 that might help btw

[2016-05-23 23:53] Ch3LL commented on #33427
@DaveQB I believe what might be occurring is the state is not even running due to the `onlyif` requisite. The only if requisite ensures that the state will not run unless the return from the command is True. Can you make sure you are not getting a failure from this command: `/usr/sbin/service nginx configtest`?

[2016-05-23 23:56] Ch3LL commented on #33429
@syphernl are you okay if we close this issue and track the minion process getting stuck at a scheduled highstate in the other issue?

[2016-05-24 00:00] DaveQB commented on #33427
As I thought @Ch3LL
I do get a failure for that 'onlyif' command. My concern is not being alerted to this issue.

Would using an 'unless' and reversing the exit status result in a warning/error if I have a config issue?

I really like using the check line to I don't end up with a non-running nginx, but for a new server that has issue, nginx never starts and I don't see an error to know this is the

[2016-05-24 00:00] lorengordon commented on #33354
@cachedout, the docs definitely say that you can use `aggregate: True` in the state definition, and it does not say there is a difference in the implementation between the two. Personally, I prefer using the state definition, as it feels easier to control than the minion config file, especially if I don't want _every_ such state to aggregate. So, would you tend to consider this an issue in the doc

[2016-05-24 00:02] Ch3LL commented on #33430
@Kurisutian yes it looks like the  logic for the `ManjaroLinux` grain was added in salt/modules/pacman.py. What version of salt are you seeing this on? Looks like the fix is in 2015.8.9/10 and will be coming out with 2015.5.11 and 2016.3.0.

[2016-05-24 00:18] Ch3LL commented on #33442
@zerthimon I'm not able to replicate this. Here is my test case:

[code]

Run salt-call:
`salt-call --local state.sls test -ldebug `

The packages are installed without delay:

[code]

[code]

Is there something in my test case above that is wrong that will help me to replicate this issue?

[2016-05-24 00:22] hrumph commented on #33418
Yes, just a handful of improvements, provided that the devels haven't alread done them them!

[2016-05-24 00:24] twangboy commented on #33422
@m03 @cachedout The above two PR's should fix this issue.

[2016-05-24 00:29] Ch3LL commented on #33447
@notpeter I am able to replicate this same behavior. It works on 2015.8.8.2 but not 2015.8.10:

Here is the git bisect:

[code]

ping @terminalmage

[2016-05-24 00:32] Ch3LL commented on #33397
Thanks for your input @whiteinge i'll set this to approved

[2016-05-24 01:19] whiteinge commented on #28520
@detailyang `user.present` is a state function and must be called via Salt's State system just like via Salt's CLI. E.g.:

[code]

The `my_sls_file.sls`, of course would call `user.present`:

[code]

Think of salt-api as a programmatic interface for Salt's CLI. Aside from the wildly different syntax, they map pretty closely one-to-one.

[2016-05-24 02:17] detailyang commented on #28520
@whiteinge  thx, gotcha. :)

[2016-05-24 03:08] kev009 commented on #28518
Sorry for delay, see https://github.com/saltstack/salt/pull/33463

[2016-05-24 03:16] SolarisYan commented on #33353
@Ch3LL yes,i see, thanks a lot

[2016-05-24 03:17] #33353 closed

[2016-05-24 04:40] jakehilton commented on #33433
Sadly no.. it doesn't look any better.. here is a screenshot. It still shows the main parent process and a bunch of other single master processes.

![screen shot 2016-05-23 at 22 38 47](https://cloud.githubusercontent.com/assets/243169/15492322/491a5444-2137-11e6-9e30-8800fcc8a5cc.png)

[2016-05-24 05:07] linshaoyong commented on #25040
problem still exists, Multi-Master, 2015.8.10

[2016-05-24 05:41] Kurisutian commented on #33430
@Ch3LL This would explain why it's not working on my installation since the version from the repo currently is 2015.8.8.
Thanks for the clarification! :+1:

[2016-05-24 05:41] #33430 closed

[2016-05-24 06:46] syphernl commented on #33429
Yes, this problem was indeed caused by the stuck minion (on the older version).

[2016-05-24 06:46] #33429 closed

[2016-05-24 07:10] max-peroch commented on #33399
Here it is :
`salt --versions-report`
[code]

[2016-05-24 07:44] ticosax commented on #33444
Hi,
This is `docker-py` issue I believe
docker/docker-py#1054

[2016-05-24 08:09] shinshenjs commented on #31918
My problem with requisite is that it is very hard to manage when it has a lot dependency. E.g. `a` has 10 states declaration that is all required states in `b`. This is the reason why I'm using top file for ordering at first place

But after reading what @cachedout said, I do agree that it does looks like this problem is impossible to fix. As I'm already using @jfindlay suggestion to solve the pro

[2016-05-24 08:52] ealphonse commented on #32989
Hello @cachedout,

I totally agree, and this is expected from the documentation. However, as far as I understand, it seems this environment cannot be configured:
[code]

Note that the debian-based service does not set `SHELL` and I did not find a way to make it so. So basically it always is the hard-coded value: `/bin/sh`.

How can we make salt-minion aware of its shell?

As for the use-case, noth

[2016-05-24 09:16] beelit94 commented on #32479
I'm seeing the same error in 2015.8.10

[code]

[code]

[2016-05-24 09:31] babilen5 opened #33466 "Offline minions are still reported as being present by the event system"
### Description of Issue/Question

Minions that have been stopped and are reported as offline are still being reported as being present by the presence event system.
### Steps to Reproduce Issue

Accept a minion and turn on presence events by setting `presence_events: True` in the master config. Wait for minion to be reported as being present in the `salt/presence/present`. Once the minion has bee

[2016-05-24 09:36] beelit94 opened #33467 "Orchestration gives exception when a target does not exist"
### Description of Issue/Question
It's a regression bug for 2015.8.10 since I'm not seeing this in 2015.8.8
I think it might duplicate from 32479, but it was only fixed in 2016

### Steps to Reproduce Issue
Create some orchestration file test.sls
[code]
and run it
[code]

and seeing the error
[code]

### Versions Report
[code]

[2016-05-24 09:39] viq commented on #33466
I can confirm that on 2015.8.8.2 on Arch and 2015.8.10 on Debian 8 I see that not all minions that are up are listed in the `salt/presence/present` `present` events, and they remain listed even after the minion is stopped.

[2016-05-24 09:54] zerthimon commented on #33442
Now if the watched config file changes the service restars and the salt-call doesn't finish waiting on:
[code]

The service is restarted, the init script is a zombie, salt-call never finishes:
[code]

salt-call process straced:
[code]
salt-call process lsof:
[code]

[2016-05-24 09:58] morganwillcock commented on #33410
<pre>C:\Program Files (x86)\Python 3.5\Scripts>pip.exe install pygame-1.9.2a0-cp35-none-win32.whl
Processing c:\program files (x86)\python 3.5\scripts\pygame-1.9.2a0-cp35-none-win32.whl
Installing collected packages: pygame
Successfully installed pygame-1.9.2a0</pre>

<pre>C:\salt\bin\Scripts>pip.exe install pygame-1.9.2a0-cp35-none-win32.whl
pygame-1.9.2a0-cp35-none-win32.whl is not a supported w

[2016-05-24 10:26] zerthimon commented on #33442
Same situation when service is stopped and salt-call enforces the start:

[code]

[2016-05-24 10:47] zerthimon commented on #33442
@Ch3LL
To reproduce use the following SLS
[code]

[2016-05-24 11:00] mmisztal1980 commented on #30783
Hi Mike, due to my requirements, I've had to work around the security model and implement a custom runner that would move the files for me.

For future reference: What would be the best way to proceed, assuming we have a minion that produces files that need to be pushed to other minions?

Best regards

[2016-05-24 11:07] mostafahussein commented on #30783
I would say you could use salt reactors. minion pushes files to master and firing an event. when master receive an event tag like `copy/this/to/minions`. then reactor will execute another `sls` which will copying the file to other minions

[2016-05-24 11:10] mmisztal1980 commented on #30783
That's pretty much what I did - the reactor would activate the runner, but I'm wondering if there's a better way

[2016-05-24 11:19] mostafahussein commented on #30783
Well, for the ZMQ communication i think thats the only way because in this case only master can talk to other minions. but there is something called [Peer Communication](https://docs.saltstack.com/en/latest/ref/peer.html) which allows salt minion to pass commands to each other but don't know about it because i haven't tried it before. you may try it and tell us what you got.

[2016-05-24 12:13] markuskramerIgitt commented on #19137
My feature wish list is:

- Previous/Existing modules (var/cache/salt/minion/extmods/modules) must be retained, as existing private key is retained.
- No cmd windows must pop up and close
- Installation directory must be configurable
- Installation must write a log file
- No nssm.exe needed, instead use sc (service control manager)
- Windows Service must have a description
- 32bit and 64bit Window

[2016-05-24 12:29] Udayendu opened #33470 "An un-handled exception was caught by salt's global exception handler: ImportError: No module named ssl_match_hostname`"
### Description of Issue/Question

salt-ssh failed to run with the below error:

[code]

Here is the complete error message:

### Setup

(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

I have not started the configuration yet as getting this error in the very beginning state. But in the system all required packages are already installed and in python prompt

[2016-05-24 12:34] morganwillcock commented on #33410
Actually I've found that it wasn't related to using x86 or x64 packages, it looks like it's dependant on the pip version in the salt directory being upgraded:

<pre>----------
          ID: install_pygame
    Function: pip.installed
        Name: pygame-1.9.2a0-cp35-none-win_amd64.whl
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):

[2016-05-24 13:22] afletch commented on #31927
@terminalmage I've been testing this on 2015.8.10 and there still seems to be problems with the state. In the example below the package is already installed, but salt believes it is not. It tries to install it, which has the outcome from yum that it's already installed, and therefore the installation and state fails.

log trimmed for brevity.

state:
[code]
trace level output:
[code]

[2016-05-24 14:09] fredrikaverpil commented on #29451
I get errors in either case on `2015.8.8.2`

### Alternative 1

[code]

Minion log:

[code]

### Alternative 2

[code]

Minion log:
[code]

[2016-05-24 14:12] guettli opened #33472 "Running salt-ssh as non-root user on the master"
### Description of Issue/Question

I am unhappy with the current state of running salt as non-root user.

Quoting: https://docs.saltstack.com/en/latest/ref/configuration/nonroot.html

### Setup

I use branch "develop"
### Idea

Most people use virtualenv for development.

My proposal: Salt searches `$VIRTUAL_ENV/etc/salt` first, if this does not exist, then it tries `/etc/salt`. Same for the other

[2016-05-24 14:28] colegatron commented on #28606
Do anyone tested/validated/approved @Sjd-Risca solution?
I don't care add extra modules (and learn how they work) if it is more useful than the grains.filter_by native solution.

AFAIU, the example should be salt['my_module.merge_recursive'], instead my_helper, right?

[2016-05-24 14:32] cachedout commented on #29451
Looks like the diskusage beacon was completely broken. I have submitted a patch to fix it here: https://github.com/saltstack/salt/pull/33474

Apologies for that.

[2016-05-24 14:53] guettli opened #33475 "Extending _OS_FAMILY_MAP at runtime"
### Description of Issue/Question

We need to deal with a custom appliance which requires a new entry in _OS_FAMILY_MAP.

The operating system calls himself "superfoo", but in reality it just a well-known and supported OS.

Providing patches to you (upstream) makes no sense.

I want to extend the _OS_FAMILY_MAP mapping at runtime.

### Question

How to solve this?

Hint: We use `salt-ssh`

### Ver

[2016-05-24 14:53] babilen commented on #28606
https://docs.saltstack.com/en/develop/ref/modules/all/salt.modules.defaults.html in develop already defines the "merge" function and can be used right away.

It should also be noted that the `.update(...)` call does *not* perform merging and that it is normal to define overrides for the `os_flavour_map` in the `foo:lookup` bit of the pillar as exemplified in https://github.com/saltstack-formulas/t

[2016-05-24 14:54] #10418 closed

[2016-05-24 14:58] #29252 closed

[2016-05-24 14:58] #26913 closed

[2016-05-24 14:59] ssgward commented on #32479
Yeah, this is fixed in 2016.3 branch, but needs to get back ported to the 2015.8 branch.

@rallytime

[2016-05-24 15:00] colegatron commented on #28606
I prefer to do not use develop branches in production, so this solution is
better for me because I see what exactly is going on.

--

*Iván González Valiente*

Systems Developer / AWS Certified Developer

2016-05-24 16:54 GMT+02:00 Wolodja Wentland <notifications@github.com>:

[2016-05-24 15:01] ssgward commented on #33467
Duplicate of #32479. We'll close this issue and track from #32479.

[2016-05-24 15:01] #33467 closed

[2016-05-24 15:03] babilen commented on #28606
Sure, I didn't mean to run everything from develop, just that you can grab https://github.com/saltstack/salt/blob/develop/salt/modules/defaults.py from there and put it into `_modules`.

[2016-05-24 15:12] saxonww commented on #19137
All: I haven't looked at the installer code merged in saltstack/salt-widows-msi#1 since it was merged. It took a long time to get it accepted, and it was pretty clear that while the salt leadership was happy to receive the work, it wasn't really the direction they wanted to go in. The project I put together did not integrate well with their build process and was different enough that I don't think

[2016-05-24 15:13] terminalmage commented on #32888
Thanks for confirming!

[2016-05-24 15:13] #30151 closed

[2016-05-24 15:14] #11801 closed

[2016-05-24 15:14] fredrikaverpil commented on #29451
With the new patch, and using the syntax from the `diskusage.py` contents example, I now get this:

[code]

[code]

[2016-05-24 15:14] Ch3LL commented on #33447
Also seeing this in 2016.3.0 and head of 2016.3

[2016-05-24 15:14] cachedout commented on #29451
@fredrikaverpil Yes, that is the same stacktrace as the original report. This appears to be related to the way the configuration is coming in from pillar.

[2016-05-24 15:16] fredrikaverpil commented on #29451
@cachedout Ok!

Also, not sure if related or not, but when you perform a `salt 'someminion' beacons.list`, you'll only get a proper response if the beacon was defined in the minion config. If defined in the pillar, the response is missing the beacon info. Perhaps that is expected, or should I open up a new issue for that?

[2016-05-24 15:17] cachedout commented on #29451
@fredrikaverpil Sounds related to this one. Let's fix this one first and if that issue persists after that, I'll ask you to open a separate issue. Thanks!

[2016-05-24 15:19] fredrikaverpil commented on #29451
@cachedout Sounds great, thank you! It's possible that that was intended behavor, as the beacons *do turn up* when you run a `salt 'someminion pillar.items` when the beacons are defined in the pillar.

[2016-05-24 15:27] terminalmage commented on #31927
It works just fine for me, using the new option I mentioned [here](https://github.com/saltstack/salt/issues/31927#issuecomment-209116069).

[code]

If you modify your SLS to the below, it should work:

[code]

[2016-05-24 15:27] cachedout commented on #29451
OK @githubcdr and @fredrikaverpil give this a try: https://github.com/saltstack/salt/pull/33476

[2016-05-24 15:28] Sjd-Risca commented on #28606
I just checked that since saltstack 2015.5.3 you can already find part of the core code on /usr/lib/python2.7/dist-packages/salt/utils/dictupdate.py (it's almost the same thing as the one that I've written).

[2016-05-24 15:44] jacksontj commented on #32992
Not opposed, although TBH I'm not sure if all clients support that (since its part of the WEBDAV rfc).

[2016-05-24 15:47] mitar commented on #29252
Thanks!

[2016-05-24 15:49] jacksontj commented on #32778
Since we are designing an API-- I think we should probably define what the API is by writing what the client usage looks like. From conversations elsewhere (and here?) I really think we should make a core client that has full test coverage and does all the async coroutine stuff. Then if we want to make additional APIs (such as as sync one) we can simply wrap it.

That being said I won't have time

[2016-05-24 15:59] davegiles commented on #32049
@m03 - seem to be getting the same issue when I try the following.  Are you getting the same?  Are there pre-requisites on the windows side for this to work?  tried develop and the rc3 candidate - same results.  The leading `\` after New-Item is the issue - same thing happens in powershell on-box with the `\`.  Removing it allows the command to complete on-box

win_iis.create_apppool:

    root@ma

[2016-05-24 15:59] afletch commented on #31927
@terminalmage You are, of course, correct. And I am, of course, an idiot.
Apologies...

[2016-05-24 16:07] emeygret commented on #32717
yes I have but I didn't had many time to work on this... pycurl seems to be ok, but it seems download failed... I will be in holidays next 3 weeks. I hop to work on this after.

[2016-05-24 16:07] babilen commented on #28606
Yeah, sure. It is just that you can't easily call that in a SLS that is being rendered with jinja, which is why `defaults.merge` was implemented as a temporary workaround before user defined jinja filters can be provided.

[2016-05-24 16:12] terminalmage commented on #31927
No worries, it's been a few weeks since then :smile:

[2016-05-24 16:19] #33090 closed

[2016-05-24 16:20] terminalmage commented on #33447
``repo`` has never been a officially-supported argument for the ``pkgrepo.managed`` state, this is just a case of the invalid argument not being caught in the keyword arguments for the state, and that ``repo`` is actually an argument for ``pkg.expand_repo_def``. So, when the keyword arguments are passed through, it still works.

Essentially, we were letting invalid configuration result in a succes

[2016-05-24 16:22] dustinhperkins commented on #33182
@cachedout I will try this and let you know the results.

[2016-05-24 16:23] terminalmage commented on #33447
I've opened https://github.com/saltstack/salt/pull/33477 to gracefully fail this state when the ``repo`` param is used.

[2016-05-24 16:24] Ch3LL commented on #33423
@warden I am also able to replicate this behavior. I was able to get also get this to work in the minion config. So it seems there also needs to be a documentation update to specify that you can also add these values to the minion and pillar data.

When printing opts in the get_conn in etcd_utility.py it does not look like the etcd values are getting passed to opts. It seems the master opts are no

[2016-05-24 16:28] whiteinge commented on #33466
Thanks for the report. Does the change event _ever_ fire? I'm wondering if it's lagged or completely broken. Also do the [manage.present](https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.manage.html#salt.runners.manage.present) or `manage.not_present` commands report the same incorrect result?

[2016-05-24 16:31] cachedout commented on #33472
One can pass `-c` to specify a configuration directory from the command-line. I'm not sure I like the idea of suddenly changing the search path for a config and would prefer it remain explicit. We could certainly adjust the documentation to suggest this approach, however. Thoughts?

[2016-05-24 16:33] cachedout commented on #33458
Sounds like we caused you some pain on that one. My sincere apologies.

@dmurphy18 can you comment on the repo layout, please?

[2016-05-24 16:34] #33392 closed

[2016-05-24 16:37] cachedout commented on #33182
@dustinhperkins K. It's a bit of a wild guess, just as a fair warning but it's worth a shot.

[2016-05-24 16:52] #32385 closed

[2016-05-24 16:53] #32455 closed

[2016-05-24 16:53] m03 commented on #32049
@davegiles AFAIK, you shouldn't see the same issue in develop as the code was changed from this:

[code]

...to this:

[code]
[code]

...so there's no longer a leading slash present.

[2016-05-24 17:03] dmurphy18 commented on #33458
@notpeter @cachedout All previous releases (since repo.saltstack.com was finally up and running properly) are available and can be installed from.  They are not moved, as they are always in archive to begin with, but the symbolic links to the releases are moved as new releases of Salt are made available, for example 'latest' was moved from archive/2015.8.9 to archive/2015.8.10 when the later was r

[2016-05-24 17:04] whiteinge commented on #32992
Bah, I missed that. Thanks for pointing it out. An XML response body is baked into that spec. A 200 response with a formalized multi-return (explicit success/response keys) would be a better approach.

[2016-05-24 17:08] notpeter commented on #33447
I guess I've been relying on undocumented behavior for years.  ;)

I appreciate the quick duplication and patch to make 'repo' an explicitly unsupported key for pkgrepo states.  Thanks all.

[2016-05-24 17:09] rallytime commented on #33363
Fixed via #33454

Thanks @scubahub!

[2016-05-24 17:09] #33363 closed

[2016-05-24 17:37] cachedout commented on #23480
This works as I would expect. Execution modules are not injected into runner namespace by default. To do this means doing it explicitly and always has:

Given `/srv/ext/modules/test_module.py`
[code]

And `/srv/ext/runners/test_runner.py`
[code]

Output:

[code]

[2016-05-24 17:41] tomlaredo commented on #33447
I'm having the exact same problem but my definition isn't using "repo" at all:

[code]

Here is the state definition:
[code]

As you can see, I'm using "name" and not "repo".
What am I missing there?

[2016-05-24 17:41] RoGryza commented on #33364
@cachedout Sure, do I add the new roles parameter then?

[2016-05-24 17:42] cachedout commented on #23233
Likely fixed by https://github.com/saltstack/salt/pull/33021

[2016-05-24 17:50] terminalmage commented on #33447
I can't reproduce this here, though the invalid URLs make it impossible for me to actually test your use case.

[2016-05-24 17:52] notpeter commented on #33458
Good morning @dmurphy18,

First, I fully consider this an "Enhancement Request" issue as obviously changing your repository management tools and procedures won't happen overnight.  Second, let me take a moment to thank SaltStack for taking ownership of packaging rather than relying on downstream maintainers. I do not miss waiting weeks after the official release announcement for pre-build binaries

[2016-05-24 18:08] dmurphy18 commented on #33458
@notpeter using reprepro which only allows one, came across 'only latest' again yesterday, have to dig through history, when searching for setting hash to sha256 for Ubuntu 16.04.

But you are right, you can have multiple packages so long as versions / architectures etc are different, just Debian and Ubuntu do not do so, and respecting request from Debian maintainer to keep that for our repo too.

[2016-05-24 18:38] ssplatt opened #33479 "granular @wheel permissions with external_auth"
### Description of Issue/Question
the external_auth system should be able to granularly limit access to `@wheel` modules instead of 'all or nothing'. In the example on the [rest_cherrypy docs page under keys POST](https://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_cherrypy.html#salt.netapi.rest_cherrypy.app.Keys.POST), a kickstart user is able to generate and accept the new minio

[2016-05-24 18:39] zerthimon commented on #33442
This may be related:
https://github.com/saltstack/salt/issues/30255

[2016-05-24 18:43] zerthimon commented on #30255
This has nothing to do with formula.
I have a minimalistic SLS in the referenced issue.

[2016-05-24 19:06] terminalmage commented on #33447
@tomlaredo Are you by chance using gitfs? When you push to a gitfs remote, the fileserver won't see the changes immediately because it is updated in an independent maintenance loop which sleeps for 60 seconds between iterations.

I'd try your state again and see if it works now. If it does, then you may consider using [this method](https://docs.saltstack.com/en/latest/topics/tutorials/gitfs.html#r

[2016-05-24 19:24] rallytime commented on #33423
@warden In order to configure the etcd profile in the master config, you need to set `pillar_opts` to `True`. This setting is set to `False` by default as this has potential security implications. Basically what this option does is includes the master config options in pillar opts in the `master` key. This makes the entire master config available in all minion's pillars, so turn this on only with

[2016-05-24 19:31] #32446 closed

[2016-05-24 19:37] rallytime commented on #33200
@ksvasan This might be an issue you want to be aware of, since you're one of the main authors of this state.

[2016-05-24 19:41] cachedout commented on #26348
Closing since I think this is an edge case and there's a reasonable workaround here.

[2016-05-24 19:41] #26348 closed

[2016-05-24 19:49] cachedout commented on #26046
I actually think this is expected behavior. We've caught the exception returned from the minion, put it in the master error log and continued on our way. I don't really like hiding or massaging exceptions like this, since often it just makes it harder to diagnose the issue.

[2016-05-24 19:49] #26046 closed

[2016-05-24 19:52] rallytime commented on #20687
@njones11 Just another bump here on this issue. It looks like other users are reporting this as fixed, but I'd like to give you a chance to respond before closing. Have you had a chance to upgrade? Latest release is `2015.8.10`.

[2016-05-24 19:55] rallytime commented on #20683
Closing due to lack of response. We can reopen this in the future, if needed.

[2016-05-24 19:55] #20683 closed

[2016-05-24 20:03] babilen commented on #33466
I have not seen a single `salt/presence/change` at all, so it might very well be completely broken. But even in that case an offline minion shouldn't be listed in:

[code]

[2016-05-24 20:16] rallytime commented on #20190
@Unksi Hrm...What distro are you running when you ran into this? This looks like it should have been fixed by #20095 for apt-based systems and this fix is available in all of the 2015.8 releases.

[2016-05-24 20:19] notpeter commented on #33458
@dmurphy18 I would highly recommend aptly over reprepro.  We use it internally for packages we roll and it produces signed static content which it can push directly to s3 or elsewhere. I'll likely end up signing the official debs in our repo that and stop relying on repo.saltstack.com all together, but I'd much prefer rely on just apt pinning rater than private repo manipulation.

Again, I'll reit

[2016-05-24 20:21] #25446 closed

[2016-05-24 20:35] rallytime commented on #27392
@ahammond, @ymote, or @redmcg Are you guys still running into this issue? I was able to reproduce it on 2015.8.1, as you reported, but I am unable to reproduce is in 2015.8.2 and newer, all the way up to the latest release, 2015.8.10. I wanted to check with you guys before closing up.

[2016-05-24 20:42] cachedout commented on #24914
@DmitryKuzmenko Can you investigate this? It might be time to do as @jacksontj suggests and just consolidate the Syndic class into MultiSyndic.

[2016-05-24 20:43] cachedout commented on #24750
This actually works now! Closing this issue.

[2016-05-24 20:43] #24750 closed

[2016-05-24 20:51] cachedout commented on #24558
I am almost certain we have this resolved in 2015.8. I haven't seen this in at least a year in a number of test scenarios. I'm going to close this as `Can't Reproduce`.

[2016-05-24 20:51] #24558 closed

[2016-05-24 21:11] rallytime commented on #27219
Hi @yermulnik and @mrwboilers This is fixed in newer releases of the 2015.5 branch.

Here's the reproduction of the breakage on 2015.5.3:
[code]
And here it is working on 2015.5.10:
[code]
I'll close this, but if it pops up again, let us know. Thanks!

[2016-05-24 21:11] #27219 closed

[2016-05-24 21:28] whiteinge commented on #23480
You're right this is expected behavior. Thanks for the check.

In the distant past `__salt__` was not populated with runner functions and you needed to instantiate RunnerClient to do cross-calls. I thought that it was populated with execution modules instead at one time -- perhaps that changed long ago or perhaps I'm just wrong. In either case....closing.

[2016-05-24 21:28] #23480 closed

[2016-05-24 22:03] schlagify commented on #32382
same issue here, debian 8.4, salt==2015.8.10, pyvmomi==6.0.0.2016.4 (as well as 5.5.0.2014.1.1), ssl_verify: False in provider config

[code]

/etc/salt/cloud.providers.d/vmware.conf

[code]

/etc/salt/cloud.profiles.d/general.conf
[code]

[code]

[2016-05-24 22:06] cachedout commented on #24294
This is not a bug. This means that we'll examine the minion data cache on the master for the minion in question to determine its grains and then generate the top file accordingly. There really shouldn't be much reason that a top file should differ from minion to minion, unless a minion had something like a hard-coded environment set. Either way, this appears to be working as designed.

[2016-05-24 22:06] #24294 closed

[2016-05-24 22:28] Ch3LL opened #33489 "salt-minion does not start when extension_modules is set in minion config 2016.3.0"
### Description of Issue/Question
I have tested this on 2015.8.8.2 and 2015.8.10 salt-cloud. When salt-cloud is on 2015.8 branch when creating v2016.3.0 minion with salt-cloud the minion cannot start due to the following configuration value in the minion config: `extension_modules: ''`

### Setup
1. salt-cloud version 2015.8.10
2. salt-cloud profile:

[code]

### Steps to Reproduce Issue
1. `salt-

[2016-05-24 23:09] alirezah commented on #32128
@DanyC97, is it possible that the file list cache got moved to a different directory? In 2015.8.7, `/var/cache/salt/master/file_lists/roots/` was the location, but they might have moved it elsewhere.

[2016-05-24 23:19] BlaineAtAffirm commented on #32444
This functionality isn't working in salt 2015.10 . I get a traceback and no other results.

[code]
on a system with --versions
[code]

[2016-05-25 01:09] ahammond commented on #27392
Seems to be working now.

[2016-05-25 01:56] ahammond commented on #27646
Works for me.

[2016-05-25 01:56] #27646 closed

[2016-05-25 01:57] ahammond commented on #27615
Hmm, I'll have to take a different approach.

[2016-05-25 01:57] #27615 closed

[2016-05-25 02:29] Ch3LL commented on #33424
@thusoy I am able to setup and see these errors int he logs as well:

[code]

And I think you are right in that its not finding a top.sls file.

Also same results when changing the gitfs_env_whitelist to base. I had to remove cache to get it to work. Looking at what gitfs_env_whitelist does it seems like this might be what this is designed for to ensure other branches are not accounted for in a re

[2016-05-25 02:38] Ch3LL commented on #33437
@creideiki I am not able to replicate this. Here is my test case:

pillar top file:

[code]

[code]

[code]

[code]

[code]

[code]

As you can see above a minion that does not have the roles grain indeed gets the two pillar values as expected. What does your master config look like? Also is there anything useful in the debug logs?

[2016-05-25 02:40] Ch3LL commented on #33439
@jf would you mind posting the error you are seeing when attempting to delete the VM?

[2016-05-25 02:49] Ch3LL commented on #33444
@tyhunt99 as @ticosax mentioned this is possibly a docker-py issue. Can you open a python interpreter and run `from docker import Client` from that machine?

Also can you try updating your version of urlib3 as the issue states?
Also possibly trying to upgrade or downgrade your docker-py will help to determine if this upstream or not

[2016-05-25 03:00] jf commented on #33439
hey @Ch3LL ! It's actually there in my first "quote". I'll reproduce it here again for clarity:

[code]

"vm1" is detected as being in 2 different places when it really is only in 1.

[2016-05-25 03:02] jf commented on #33439
oh sorry, perhaps you meant the actual error. Hang on... I'll need to create, then delete

[2016-05-25 03:17] Ch3LL commented on #33466
I am seeing this issue as early as 2015.8.1. Was this ever working for you @babilen ?

I also tried the 2015.5* branch but I kept returning an empty list which i believe is related to #26643

I also tested that this is present on 2016.3 as well.

[2016-05-25 03:22] notpeter commented on #33427
Unless and onlyif never directly return failure from a state run, they only determine whether the state need actually be run. I would instead structure this as two states:

[code]

[2016-05-25 03:23] jf commented on #33439
ok, here it is:

[code]

[2016-05-25 03:35] Ch3LL commented on #33470
@Udayendu I cannot replicate this:

[code]

[code]

Master: ubuntu14
Minion: ubuntu14

Just to clarify the machine you have salt-ssh running on is ubuntu14? What are the salt-ssh target OSs?

[2016-05-25 04:33] xiangyu123 commented on #28606
you can use pillar to merge or overwrite.  Actually, that's what I do, it works

[2016-05-25 04:39] Udayendu commented on #33470
@Ch3LL,

Thanks for looking into it.
Please find the requested info below:

1. Salt-Master is: Ubuntu 14.04.4 LTS  [salt-ssh is running from here]
2. Target systems are: RHEL6.7 & CentOS6.7
3. Installed the following salt packages in salt-master:

    `salt-master                         2015.8.10+ds-1 || salt-ssh                            2015.8.10+ds-1`

I have also tried using salt-master & sa

[2016-05-25 04:50] babilen commented on #33466
It was definitely working before, but I can't tell you exactly when. It might have been in 2014.* though. Obviously not many people use this feature, but we just ran into something where it would help.

[2016-05-25 05:01] colegatron commented on #28606
Just to know, salt.merge does merge also a list?

[2016-05-25 05:33] ywahl commented on #32860
I will try that!
Thanks

[2016-05-25 06:00] babilen commented on #28606
`salt.utils.dictupdate.update` merges lists if passed the `merge_lists` parameter, which is `False` by default.

`salt.modules.defaults.merge` does not implement the same interface and therefore appears to default to not merging lists. It would be trivial to add this to your copy of defaults.py though, @colegatron.

The following should achieve that:

[code]

[2016-05-25 06:10] fredrikaverpil commented on #29451
@cachedout so I've downloaded the new `__init__.py` and the new `diskusage.py` into my `/srv/salt/_beacons` folder. I performed a `salt 'myminion' saltutil.sync_all` and I can see the new files being synced:

[code]

I then restarted the salt service on `myminion`. But I still get this in my minion log:
[code]

So I checked the diff on `/usr/lib/python2.7/site-packages/salt/beacons/__init__.py` on

[2016-05-25 06:55] DaveQB commented on #33427
Thanks @notpeter
I understand what you are saying.

I guess I didn't understand the workings of onlyif and unless. I have added your suggest to our setup and tested that and I get 2 errors. Both blocks you have fail. Cool. That will work.

Thanks everyone for your time.

[2016-05-25 06:55] #33427 closed

[2016-05-25 07:24] guettli commented on #33472
I like fetching configuration from narrow ($HOME) to general (/etc).

In this case, since the great virtualenv tool exists, I would prefer $VIRTUAL_ENV to $HOME.

It is very, very unlikely that $VIRTUAL_ENV/etc/salt exists, and should not be used.

That's why I would like to have this behaviour as default ... except there is a way to configure the location of the configuration, since I don't want

[2016-05-25 08:31] DmitryKuzmenko commented on #24914
No problem @cachedout.

[2016-05-25 08:42] ksvasan commented on #33200
@rallytime let me have a look at this. I believe this is a RAII like behavior which is needed here. Let me fix this and send you a PR.

[2016-05-25 08:49] fmnisme commented on #33428
It happen sometime, I will report when it happen.

[2016-05-25 10:20] colegatron commented on #28606
Tnx @babilen, I'll test later

[2016-05-25 11:07] sastorsl commented on #31034
This also applies to Red Hat Enterprise Linux Server 7.2
with salt 2015.8.8.2

    Salt Version:
               Salt: 2015.8.8.2

    Dependency Versions:
             Jinja2: 2.7.2
           M2Crypto: 0.21.1
               Mako: Not Installed
             PyYAML: 3.11
              PyZMQ: 14.7.0
             Python: 2.7.5 (default, Oct 11 2015, 17:47:16)
               RAET: Not Installed

[2016-05-25 11:39] creideiki commented on #33437
I checked out 2016.3.0-589-gdd10fdc from Git and ran it on `saltmaster`, both as server and client. I still end up with an empty result.

I can't seem to find any debug logs relating to template rendering. Running commands with `salt -l debug` gives lots of details about network communication but nothing at all about what actually goes on internally.

My master configuration does not contain anyth

[2016-05-25 11:42] maxhq commented on #31034
This is classified as a severe bug and open for 3.5 months now.
I really think the `$RESTART` variable should be replaced by the desired default `no` and `/etc/default/salt-minion` should be removed as this is obviously **not working according to the systemd specification**.

[2016-05-25 12:06] yagnik commented on #8180
@basepi you are correct, highstate is working fine for me 👍

[2016-05-25 12:27] jellisii commented on #30725
I have experienced this error (and used the same fix).

From my master:
[code]

All of my targets use the same vm template, but just for completion's sake, my minion's report:
[code]

PPA that salt should be coming from:
[code]

[2016-05-25 12:29] abednarik commented on #33444
HI

 Are you also doing a reload_modules: True after installing docker-py? Also make sure to have a recent pip version like 8.1.1.

[2016-05-25 12:47] lorengordon opened #33494 "`iptables.append` state module failing due to lowercase `input` chain"
### Description of Issue/Question

The `iptables.append` state function fails when creating a rule because it passes in the lowercase `input` table, when the table name is uppercase `INPUT`.

### Setup
[code]

### Steps to Reproduce Issue
[code]

[code]

### Versions Report
[code]

[2016-05-25 12:51] lorengordon commented on #33494
Closing, realized it is just passing it through how I set it in the state file. I uppercased it and it worked. :facepalm:

[2016-05-25 12:51] #33494 closed

[2016-05-25 13:06] babilen opened #33495 "influxdb_user can't create cluster admins in current InlluxDB versions"
### Description of Issue/Question

The influxdb_user state can create two types of users, namely normal ones and cluster admins. The decision to create one or the other is based on the value of the "database" argument in that a cluster admin is created if no database is specified.

Unfortunately changes introduced in https://github.com/saltstack/salt/pull/31787 which allowed this state to be used

[2016-05-25 13:12] saltuser opened #33496 "Targeting non-existent minion with list"
Hi

When targeting multiple minions as a list, (described [here](https://docs.saltstack.com/en/latest/topics/targeting/globbing.html#lists)), salt silently ignores the fact that some ID-s were non-existent.
[code]

Yet when none of the minionID-s match an clear error message is given.
[code]

### Setup
Master version
[code]

Is it meant to behave this way? I think salt should warn the user if some

[2016-05-25 13:13] babilen commented on #30725
We solved this in the php-formula with https://github.com/saltstack-formulas/php-formula/commit/e9b1c4ce07b4c0039d3e5ad82823a66fa85f74bf

[2016-05-25 13:57] markuskramerIgitt commented on #19137
Hi Will,
thank you for your response.
 - I think a headless installer is better than a GUI installer.
 - Modules are kept: good to know. I only use Python modules and they are stored in a not-versioned directory. I look forward to test this.
 - No command window opens/closes:  good to know.
 - Install directory is configurable:  good to know
 - nssm: where to begin to replace nssm with sc?
 - WiX

[2016-05-25 14:34] DeanScothern commented on #32856
Its working correctly in salt-minion-2015.8.10-1, thanks.

[2016-05-25 14:39] saxonww commented on #19137
Well you'll have to install WiX, I'd get the latest from http://wixtoolset.org and try again. You should have Visual Studio closed when you do.

I spent a little bit of time looking at the service, IIRC at the time there was some salt code that looked like it was for a 'standard' Window service which was either not finished or deprecated-but-not-removed. I'm not really a Python guy so to be honest

[2016-05-25 14:41] thatch45 commented on #33428
ok, when it does happen please give us a versions-report and a dump of your minion and master configs (clean out any sensitive info of course) so we can try to figure it out.

[2016-05-25 14:42] cachedout commented on #29451
The `__init__.py` file won't be synced into the correct location. You need to copy the updated version into `/usr/lib/python2.7/site-packages/salt/beacons/` by hand or by using something like Salt's `file.managed`.

[2016-05-25 15:03] rallytime commented on #27392
Great! Thanks for confirming. I'll close this.

[2016-05-25 15:03] #27392 closed

[2016-05-25 15:18] jf commented on #33496
+1 here; makes sense and would be nice! :)

[2016-05-25 15:20] Ch3LL commented on #33479
@ssplatt I found this issue: #19732 that appears to be requesting the same thing in addition to runners. I will go ahead and close this as a duplicate and we can track this feature on that issue.

[2016-05-25 15:20] #33479 closed

[2016-05-25 15:22] jnials commented on #30402
I'm seeing the same problem.  My config is a bit simpler.

[code]

[2016-05-25 15:23] #18752 closed

[2016-05-25 15:25] basepi commented on #8180
Perfect! Thanks for checking that.

[2016-05-25 15:25] #8180 closed

[2016-05-25 15:26] jf opened #33500 "sys.list_modules does not list a module when given an exact match"
### Description of Issue/Question

`sys.list_modules` does not list a module when given an exact match (e.g. `salt \* sys.list_modules user`). Therefore there is no way to confirm the existence or naming of a suspected module without passing in a glob (so in the case of `user`, one is forced to submit `use*` instead)

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove s

[2016-05-25 15:44] rallytime commented on #33200
@ksvasan That would be great! Thanks!

[2016-05-25 16:07] Ch3LL commented on #33489
This has been fixed by #33497 . going ahead and closing.

[2016-05-25 16:07] #33489 closed

[2016-05-25 16:13] rickh563 commented on #32382
ZD-787

[2016-05-25 16:17] vernondcole commented on #32225
Me too.
Hopefully, this will have been fixed with 2015.8.10.
Otherwise, here are the steps to re-create...
I created a new Ubuntu 16.04 virtual machine using Vagrant with the following Vagrantfile.  (note that I have commented out the salt provisioning, because salt bootstrap was broken for 16.04.)
[code]

here is the console dump starting with the end of the install. I used nano to define 'salt'

[2016-05-25 16:25] ralphsc commented on #32619
Hey All,
Any update on this? I can create clone a VM on the same ESX server from the same template using Ansible, so that does work, however Ansible can't change the IP of the VM. So I was hoping that I could use Salt instead.
Please let me know if there is anything else I can try to get this to work.

[2016-05-25 16:26] Ch3LL commented on #33496
@saltuser @jf  looks like this is a duplicate of #14977

I will close this as a duplicate and we can track this feature request on that issue. Feel free to comment on that issue as well :)

[2016-05-25 16:26] #33496 closed

[2016-05-25 16:30] cachedout commented on #33475
Hi @guettli

Would just setting a custom grain to override `os_family` on these hosts do what you need?

[2016-05-25 16:35] racooper commented on #29132
Just checking back on this, since it's been a few months.
[code]
All four python modules are wanting to overwrite either base (crypto and markupsafe) or EPEL (futures and tornado) package versions.  Can we *please* just get salt back into EPEL and follow their packaging rules? please? it would be so much better for everyone than having to add yet another repo for everything.

Otherwise, it's time

[2016-05-25 16:45] Ch3LL commented on #33500
@jf agreed this would be useful to return the name of module when specified. I'll approve it as a feature request :+1:

[2016-05-25 16:52] jfindlay commented on #32619
Ping @nmadhok.

[2016-05-25 16:53] Ch3LL commented on #33495
Looks like that definitely needs to get fixed. @bbinet do you have any opinions as well on wether InfluxDB 0.8 support should be kept into the module?

[2016-05-25 16:58] jf commented on #14977
+1 over here; makes sense and would be really useful / essential (as said in #33496: 'If the command output is several pages long, the fact that some minionID-s had typos and were silently skipped can be quite annoying.')! If you're not paying attention, you could really miss the fact that you might have had a typo or an error somewhere!

[2016-05-25 17:00] jf commented on #33500
Thanks, @Ch3LL !

[2016-05-25 17:01] rallytime commented on #15252
Fixed in #33503

[2016-05-25 17:11] #33159 closed

[2016-05-25 17:14] multani opened #33504 "Gitfs fails if configured locale is French"
### Description of Issue/Question

I have setup a Gitfs repository in my master configuration file, and the update doesn't work.
If I switch the locale used by the `salt-run` command from French to C then it works.
### Setup

Salt master configuration file:

[code]

Current locale set to:

[code]
### Steps to Reproduce Issue

[code]

Changing the locale runs fine:

[code]
### Versions Report

[cod

[2016-05-25 17:16] gravyboat commented on #15252
Looks good, closing this.

[2016-05-25 17:16] #15252 closed

[2016-05-25 17:37] nmichaud2 commented on #32128
Thanks, the fix worked here

[2016-05-25 17:40] twellspring commented on #25579
The above workaround appears to work to prevent a highstate or state.sls from running if the pillar data is missing, but does not appear to prevent mine updates from happening.   So server data is still dropping out of the mine due to this error.  5b67cb5 does not appear to help with this.  Any other ideas?

I discovered in this process my salt-master has high memory usage and has some moderate IO

[2016-05-25 18:14] blaisep opened #33506 "cmd.run returns misleading error message, and at the wrong level, when presented with additional args"
### Description of Issue/Question
#### _Think of this as an opportunity for improvement..._

When passing multiple `args:` in cmd.run, if the additional arguments are broken, the error could be spotted and reported right there, instead of way down in debug land.

For example, the additional `args:`  must be arguments for `cmd.run` itself and not additional commands intended for the same state. Cur

[2016-05-25 19:18] Ch3LL commented on #33437
@creideiki ahhh nice catch. I never ran `pillar.items` and now that I do its telling me I have a render error on the module sls. I can now replicate this:

[code]

[code]

[code]

It seems its caused by the pillar program:modules being none when that grain does not exist, but I think when merging pillars it should not cause this sort of behavior even if the one of the pillars is empty on a merge.

[2016-05-25 19:48] dmurphy18 commented on #29132
@racooper Sorry for the lack of movement on this, work on it was interrupted by higher priorities, once the current round of releases are completed, and interruption of Memorial weekend, shall move this up in the priority levels since would like to get Salt back into Fedora too.

[2016-05-25 20:10] cachedout commented on #2536
I actually had an opportunity to look at this today. I can no longer replicate this on any recent version of Salt. I tend to wonder if this was a threadsafety issue in older versions of PyZMQ. I tested back through 2015.5.0 and in each case, threading with the LocalClient worked like a charm, using both the original script posted as one as the threading script in the last comment.

[2016-05-25 20:16] bbinet commented on #33495
I'd like to keep 0.8 support if possible because I've not migrated yet (and this could also be the case for other users because influxdb has dramatically changed in the following versions), but it could be renamed to something like "influxdb08".

[2016-05-25 20:20] cachedout commented on #9576
I'm very confident that we have solved this issue with the process management code in 2015.5 and above. I haven't seen nor heard of an issue like this since then.

[2016-05-25 20:20] #9576 closed

[2016-05-25 20:22] #9425 closed

[2016-05-25 20:23] #9297 closed

[2016-05-25 20:32] rallytime commented on #33500
I have fixed this in #33511

[2016-05-25 21:10] cachedout commented on #12188
I have verified that this has been fixed in 2015.5 and above.

[2016-05-25 21:10] #12188 closed

[2016-05-25 21:11] cachedout commented on #14449
This is a duplicate of #2536

[2016-05-25 21:11] #14449 closed

[2016-05-25 21:27] rallytime commented on #33319
I've added some docs about this in #33513.

[2016-05-25 21:42] bender-the-greatest opened #33514 "Append to securitygroups in salt-cloud instead of overriding"
In our salt-cloud setup, we have a base provider in **cloud.providers.d** which sets the default security groups on any instances that get created. However, if I try to add additional security groups in a profile or mapfile, instead of appending to the securitygroup list, it overrides it. Is there a way to append to securitygroup instead of replacing the groups set in the base provider?

We are ru

[2016-05-25 22:17] Ch3LL opened #33516 "When upgrading from 2015.8.10 to 2016.3.0 on centos7/redhat7 I have to restart the salt-minion twice"
### Description of Issue/Question
When upgrading the salt-minion from 2015.8.10 to 2016.3.0 I have to restart the salt-minion twice in order for it to communicate back with the master.

### Setup
1. 2015.8.10 minion connected to a master

### Steps to Reproduce Issue
1. Install 2015.8.10
2. point the local minion to the master
3. veryify you can communicate with minion:

[code]

4.. upgrade to 201

[2016-05-25 22:18] moloney commented on #33163
FYI, this also shows up in Ubuntu Xenial package '8.1.1-2ubuntu0.1' even though "pip --version" returns "8.1.1". Installing the older version "python-pip=8.1.1-2" works.

[2016-05-25 22:21] Ch3LL opened #33517 "SPM does not work on amazon linux 2015 in 2016.3.0"
### Description of Issue/Question
SPM does not work and stack traces on Amazon 2015 in 2016.3.0:

[code]

### Setup
Amazon Linux 2015 with 2016.3.0 minion

### Steps to Reproduce Issue
1. Install salt 2016.3.0
2. `spm --help`

[code]

[code]

As shown above the python versions are different. The salt-minion script/process does work.

### Versions Report
[code]

[2016-05-25 22:29] #14308 closed

[2016-05-25 22:34] thatch45 commented on #33517
So as a workaround before we get fixed packages out, to get spm to work you should be able to just change the shebang line in /usr/bin/spm to:
`#!/usr/bin/python2.6`

[2016-05-26 01:13] marccardinal commented on #24126
I had the same error and the solution proposed by @kiorky solved it.

[2016-05-26 01:41] #29470 closed

[2016-05-26 01:49] jf commented on #33500
Thanks, @rallytime . Could this be done another way? The proposed patch makes the non-glob turn into a glob and can result in more results than an exact match. So say if one were looking to confirm `sys`, it would result in more than that:

[code]

[2016-05-26 01:59] gzcwnk opened #33523 "file.replace broken"
### Description of Issue/Question

============
8><---

[code]

============

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Code I use,
========

[code]

========

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
happens every time

### Versions Report
(Provided by running `salt --versions-report`. Please also mention an

[2016-05-26 02:00] gzcwnk commented on #33523
I need to upgrade the server?

[2016-05-26 02:02] gzcwnk commented on #33523
Nope did that still have a failure.

[2016-05-26 02:26] rallytime commented on #33500
Hm. I was thinking this approach might be a bit naive. I'll have to reconsider this.

[2016-05-26 02:32] jf commented on #33500
Thanks, @rallytime. How about the following instead? Python's not my main language, so if it's klunky, pls tidy it up; I'll need some help with the tests (I'm just thinking something along the lines of "assert length of modules = 1" for an exact match. Is that possible?):

[code]

[2016-05-26 03:28] jf commented on #33439
@Ch3LL just to add on: on the cloud provider's side, it may look like everything has been cleaned up (since the VM is gone). *However*, the VM still lingers on in salt: `salt \*` still attempts to make a call to the deleted VM, and `salt-key` still has the private key.

[2016-05-26 06:04] syphernl opened #33524 "[2016.3.0] TypeError: 'int' object has no attribute '__getitem__'"
### Description of Issue/Question
Running the following on the salt-master:
[code]

results in an exception:
[code]

### Versions Report
[code]

[2016-05-26 06:34] babilen commented on #33495
Thanks for your comments, @bbinet. I am curious as to how you got the module working with InfluxDB 0.8 at all as current versions of the influxdb Python module require you to use `from influxdb.influxdb08 import InfluxDBClient` as detailed on http://influxdb-python.readthedocs.io/en/latest/include-readme.html#influxdb-v0-8-x-users.

This does not seem to be the case in the salt execution module, s

[2016-05-26 07:10] saltuser commented on #14977
Oh, I didn't know this issue was so old :) Now that it has surfaced again, hopefully it gets fixed.

[2016-05-26 07:25] bbinet commented on #33495
I'm still using an old version of influxdb-python too.

Yes my proposal was to maintain two separate influxdb modules because the API has completely changed since v0.8. It could be as simple as renaming the current influxdb module with the "08" suffix, and start from scratch new modules for InfluxDB v0.13+.

Finally I'm also fine with dropping InfluxDB v0.8 support altogether: it will force me to

[2016-05-26 07:57] anlutro opened #33525 "file.serialize no longer indents/pretty-prints in 2016.3"
Upgrading to 2016.3, running `state.apply` showed that `file.serialize` states with `formatter: json` now produces a harder to read format with no whitespace.

Guessing this is the cause: 53dd9ae13822e181febfad66647cea9024096562 - https://github.com/saltstack/salt/pull/28906

[2016-05-26 08:05] anlutro commented on #33525
I can think of two possible solutions here:

- add a `readable` argument to every serializer function
- pass a `serializer_options` argument from the state to the serializer function

[2016-05-26 08:15] DimentR opened #33526 "Accessing pillar data in custom grains module in Salt"
### Description of Issue/Question

I'm trying to get access to the Pillar of my GRAINS module in _grains.
Tell me, is it possible?
### Steps to Reproduce Issue
#### Scenario 1

[code]

Result:

#### Scenario 2

[code]

Result:

### Versions Report

Master:
Salt Version:
           Salt: 2015.8.10

Dependency Versions:
         Jinja2: 2.7.2
       M2Crypto: 0.21.1
           Mako: 0.9.1
         P

[2016-05-26 08:54] fredrikaverpil commented on #29451
@cachedout I copied the files in place by hand and after restarting the salt-minion service I now get this on the minion:

[code]

[2016-05-26 09:31] SolarisYan opened #33528 "how to get the relationship of job id with state.orchestrate"
hello :

i use state.orchestrate and i listen the event bus,the output as follow:

[code]

the issue is that  how can i get the relationship  of job id
between salt/run/**20160526163247333700**/new  and salt/job/**20160526163250903786**/new.

i have a orchestrate file with many states ,when i run,it will long time,so i use --async to run it.

the version:

[code]

[2016-05-26 09:39] dneades opened #33529 "pkg.latest completely broken on FreeBSD in salt-ssh 2016.3"
### Description

I am running `salt-ssh` on Mac OS X 10.11.5 against a FreeBSD 10.3-RELEASE-p3 host. `pkg.latest` appears to be completely broken on FreeBSD in the Salt 2016.3 release. For example, applying the following state:

[code]

results in this stack trace:

[code]

Other ```pkg.latest``` states fail in a similar fashion. Using package origins (rather than names) does not make any differen

[2016-05-26 10:19] kluoto opened #33530 "Centos7 pkg.upgrade failure on 2016.3"
When I run pkg.upgrade call on minion I get following error:

[root@test ~]# salt-call pkg.upgrade
[INFO    ] Executing command ['yum', '--quiet', 'clean', 'expire-cache'] in directory '/root'
[INFO    ] Executing command ['yum', '--quiet', 'check-update'] in directory '/root'
[INFO    ] Executing command ['rpm', '-qa', '--queryformat', '%{NAME}_|-%{EPOCH}_|-%{VERSION}_|-%{RELEASE}_|-%{ARCH}_|-(no

[2016-05-26 11:01] Routhinator opened #33531 "Package dependency not delcared in RHEL 7 RPM"
The latest update of Salt 2016.3 that I just pulled in from your repos seems to require the psutils package, but it does not declare it as a dependency. The result is a broken install after update:

[code]

[2016-05-26 11:03] Routhinator opened #33532 "2016.3 breaks existing formulas that work on 2015.8"
May 26 06:57:29 db.example.com salt-minion[13276]: [CRITICAL] Rendering SLS 'base:firewalld.services' failed: while parsing a flow mapping
May 26 06:57:29 db.example.com salt-minion[13276]: in "<unicode string>", line 43, column 18:
May 26 06:57:29 db.example.com salt-minion[13276]: service: {'short': 'ums-listener', 'descr ...
May 26 06:57:29 db.example.com salt-minion[13276]: ^
May 26 06:57:29 d

[2016-05-26 11:11] babilen commented on #33495
Thank you for elaborating! I see no inherent value in dropping support for a release that is genuinely used by people, apart from the fact that it would significantly simplify the codebase.

My feeling right now is that dropping 0.8 support at the moment would simply disgruntle some people who are still on 0.8 and can't move to newer versions for one reason or another.

I'll see how much work it'l

[2016-05-26 11:38] Herugrim opened #33534 "[2015.8.10] salt.states.file.blockreplace source won't accept lists"
### Description of Issue/Question

Trying to use a fallback list for `file.blockreplace` `source:` as is described in the documentation https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.blockreplace results in a error `TypeError: unhashable type: 'list'`
### Setup

Example file.blockreplace sls:

[code]

Results in the following error:

[code]
### Versions

[2016-05-26 11:47] diegofd commented on #22356
I'm having this same problem trying to uninstall varnish to install varnish-plus package, and I think I've tracked what the problem is.

In this particular case referenced above with the package oracle-java7-installer you're telling Saltstack that it needs to uninstall openjdk-7-jre package before installing oracle-java7-installer. The problem is that the package oracle-java7-installer [provides](

[2016-05-26 11:59] babilen commented on #22356
`oracle-java7-installer` really shouldn't provide `openjdk-7-jre` but something like `java-runtime` or `java7-runtime` and I would consider that package to be broken.

It also doesn't appear to be in either Debian nor Ubuntu and .. well .. broken packages are broken.

[2016-05-26 12:13] diegofd commented on #22356
I don't think solving this problem could be avoided based on the argument that the package is broken. It has been reported for four packages (lxc-docker, rsh-client, openjdk-7-jre and varnish) until now.

In the previous bug there's a [reference to the exact snippet of code](https://github.com/saltstack/salt/issues/9984#issuecomment-63919730) that provoques the problem, when it adds the virtual pa

[2016-05-26 12:36] syphernl commented on #33524
This actually also happens with something simple like:
[code]

[2016-05-26 12:41] anonymouz opened #33535 "Running a cmd.run from the master that contains a redirect and globbing fails"
### Description of Issue/Question

Running a cmd.run from the master that contains a redirect and globbing fails. This happens with a highstate and a salt 'target' cmd.run. Running the same thing on the target with salt-call works...
### Steps to Reproduce Issue

On the salt master: (the last one fails)

[code]

On the salt target: (now the last one works)

[code]
### Versions Report

Salt master:

[2016-05-26 13:05] murzick opened #33536 "pkgrepo.managed does not disable a yum repo with "disabled: True""
pkgrepo.managed does not disable a yum repo with "disabled: True"

[code]

The result is a /etc/yum.repos/percona.repo as follows:
[code]

From minion log:
2016-05-26 07:57:59,586 [salt.state       ][INFO    ][27072] Running state [percona] at time 07:57:59.586271
2016-05-26 07:57:59,587 [salt.state       ][INFO    ][27072] Executing state pkgrepo.managed for percona
2016-05-26 07:57:59,588 [py.wa

[2016-05-26 13:06] anlutro opened #33537 "apache_module state functions changed names with no deprecation warning or backward compatibility"
In 2016.3, state functions in `salt.states.apache_module` changed names - `enable` to `enabled` and `disable` to `disabled`. This was done with no deprecation warnings and no backward compatibility.

I can obviously solve this myself by doing this:

[code]

But I think this should be unnecessary.

What would be the best way to add an alias for `enable = enabled`? Write a wrapper function that pass

[2016-05-26 13:27] aronneagu opened #33540 "service.running fails to report inability to start service"
The minion is trying to start elasticsearch using service.running module, and the service cannot be started, but the return value of the state id is "True", while it should report false.
I know this is similar to https://github.com/saltstack/salt/issues/9959, but this doesn't seem to be a problem with the return code of "service elasticsearch status" (see below log of the minion), as it returns 3

[2016-05-26 13:28] Udayendu commented on #33470
@Ch3LL,

Did you get a chance to take a look into it. I am waiting for your update.

[2016-05-26 13:33] tjuup opened #33542 "Salt 2016.3.0 (Boron) error parsing configuration file: /etc/salt/master"
### Description of Issue/Question
After upgrade to 2016.3.0 in the master log I got:
2016-05-26 11:35:14,214 [salt.config      ][ERROR   ][27374] Error parsing configuration file: /etc/salt/master - while parsing a block mapping
  in "<string>", line 15, column 1:
    interface: 0.0.0.0

expected <block end>, but found '<block mapping start>'
  in "<string>", line 318, column 3:
      pam:

### Se

[2016-05-26 13:34] tjuup commented on #33542
I could fix it by indenting all uncommented settings:

  1 ##### Primary configuration settings #####
  2 ##########################################
  3 # This configuration file is used to manage the behavior of the Salt Master.
  4 # Values that are commented out but have an empty line after the comment are
  5 # defaults that do not need to be set in the config. If there is no blank line
  6 #

[2016-05-26 13:34] #33542 closed

[2016-05-26 13:37] arthurlogilab opened #33543 "Thorium documentation is incorrectly formated and appears partially on docs.saltstack.com"
### Description of Issue/Question

https://github.com/saltstack/salt/blob/develop/doc/topics/thorium/index.rst is readable on github, but on https://docs.saltstack.com/en/latest/topics/thorium/index.html#thorium-reactor it's missing code examples and the end.

[2016-05-26 13:57] tjuup opened #33544 "Salt 2016.3.0 (Boron) clean_old_jobs fails"
### Description of Issue/Question
Master log fills with these errors:

[code]
### Setup
master config:
[code]

### Steps to Reproduce Issue
update to 2016.3.0 Since then salt.master.Maintenance tries to cleanup files/dirs that are not in /var/cache/salt/master/jobs/

### Versions Report
root@salt:~# salt --versions-report
Salt Version:
           Salt: 2016.3.0

Dependency Versions:
           cff

[2016-05-26 14:43] shawnbutts commented on #33544
I'm seeing the same thing.

[2016-05-26 14:50] cachedout commented on #33543
@jacobhammons or @rallytime can one of you grab this please?

[2016-05-26 14:58] jf commented on #32460
We're done here. Thanks, @cachedout !

[2016-05-26 14:58] #32460 closed

[2016-05-26 15:10] MelkorLord opened #33548 "Salt Python API ignoring saltenv?"
### Description of Issue/Question

It seems that Salt Python API is ignoring the 'saltenv' parameter, at least for some modules, tested with 'cp' module in this case. I noticed it with `cp.get_file` but it is also reproductible with `cp.list_master_dirs` as shown below.
### Setup

salt-master and salt-minion running in a LXC instance. Mostly default configuration
for both except few harmless tweak

[2016-05-26 15:18] thatch45 commented on #33530
I am on this one

[2016-05-26 15:24] thatch45 commented on #33530
There is the fix, slated for 2016.3.1

[2016-05-26 15:24] cachedout commented on #33544
That's REALLY odd. You don't somehow have more than one Maintenance process running, do you?

[2016-05-26 15:43] thatch45 commented on #33524
@syphernl can you send us your master config too? I am having a hard time reproducing this

[2016-05-26 15:52] thatch45 commented on #33525
Thanks @anlutro !

[2016-05-26 15:53] syphernl commented on #33524
I tried with both my and the one provided in the Ubuntu package, but if it's configuration related it must be one of the master.d files then...
Op 26 mei 2016 5:43 p.m. schreef Thomas S Hatch <notifications@github.com>:@syphernl can you send us your master config too? I am having a hard time reproducing this

—You are receiving this because you were mentioned.Reply to this email directly or view i

[2016-05-26 15:56] thatch45 commented on #33524
so default configuration? ZeroMQ? Not TCP transport? Ok, I am still hunting

[2016-05-26 15:56] thatch45 commented on #33524
Also, does this fail consistently after restarting the master?

[2016-05-26 16:02] thatch45 commented on #33524
I ask about restarting the master because one of the logical problems that we see with the loader systems in salt is that since it is hot loading modules all the time it will oad the new plugin modules. 99.9% of the time this is good, but sometimes it can leave an upgraded and not restarted master in a bad state

[2016-05-26 16:11] fwihardjo opened #33551 "IOLoop issue"
We are attempting to upgrade to salt 2016.3 and are running into "IOLoop is already running" error.  We are using a Caller client to run some logic and it seems that in 2016.3 when we cache the caller client, it has already started the IOLoop.

This is the stack trace we are seeing:

[code]

Is this a bug or should we not cache the client Caller?  Thanks.

[2016-05-26 16:26] hernanc opened #33552 "Cannot install salt-minion on Ubuntu 14.04 Trusty"
### Cannot install salt-minion on Ubuntu 14.04 Trusty

I'm having trouble installing salt-minion on Trusty, am I missing something?

### Setup
[code]

### Steps to Reproduce Issue
[code]
Then I try
[code]
Then I try
[code]

4.8.4 is the version available to Trusty:
http://packages.ubuntu.com/search?keywords=libstdc%2B%2B6

[2016-05-26 16:37] tjuup commented on #33544
Good guess, i stopped the  salt-master service and checked that no other salt-master process was lingering.
Then i did an ls -l of /var/cache/salt/master/jobs and I see
[code]
After that in the log the first OSError
[code]
Looks like 2 processes trying to do the same cleanup?

[2016-05-26 16:44] MelkorLord opened #33553 "nodegroups compound change between 2015.5.3 and 2015.8.10/2016.3.0"
### Description of Issue/Question

I manage different sets of servers. By sets I mean "one master + several minions" and every set is unrelated to each other, they are independent. On one set, I updated salt (2015.5.3) to the latest version (2016.3.0) to check for any functional regressions.

The nodegroups configuration now produce different results after update.
### Setup

salt-master relevant c

[2016-05-26 16:53] warden commented on #27385
Actually I think that http://repo.saltstack.com/apt/*/...../archive/ is missing the index in this directory and then it would be fine.
Currently we need to add specific version to the sources file like:
http://repo.saltstack.com/apt/ubuntu/14.04/amd64/archive/2015.8.8.2/

[2016-05-26 17:08] MelkorLord commented on #33552
Hi,

On a LXC instance of Ubuntu 14.04, I have both salt-master and salt-minion installed without trouble. Installed it a couple of days ago with 2015.8.10 and dist-upgraded it to 2016.3.0 about 20minutes ago. I use the same APT key and repository as you. Here is the result of `salt --versions-report` if it helps

[code]

[2016-05-26 17:11] thatch45 commented on #33552
@Ch3LL @UtahDave does this look familiar?

[2016-05-26 17:14] jfindlay opened #33554 "local cache missing directories while running test suite"
### Description of Issue/Question
While running the test suite, I'm seeing a few of these for each test.  It seems to be about one error per job:
[code]
### Setup
create a VM to run the test suite

### Steps to Reproduce Issue
[code]
@jtand may have some more info.

### Versions Report
3a95f8a977a5f310be23d64bc432d69bc371844e is a few commits after 2016.3.0.

[2016-05-26 17:16] cachedout commented on #33544
Please see #33555 for a patch that resolves this issue.

[2016-05-26 17:18] jfindlay commented on #33554
There doesn't seem to be any `.minions.minion.p` in any of these directories, but everything else in the path exists.
[code]

[2016-05-26 17:37] MelkorLord commented on #33552
@thatch45 it should be :-) This is a pure Ubuntu 14.04 install via deboostrap and a deploy script which basically preconfigures stuff and add packages.

If it helps, here are the specific APT configuration I use

/etc/apt/apt.conf.d/99custom-lxc.pref
- APT::Install-Recommends "0";
- APT::Install-Suggests "0";

/etc/apt/preferences.d/custom-lxc
[code]

This ensures a very clean and stable Trusty di

[2016-05-26 17:46] Ch3LL commented on #33504
@multani I am not able to replicate this:

[code]

Here's my configuration:

[code]

[code]

Am I missing something? Anything ohter information to possibly help me to replicate this?

[2016-05-26 17:50] Ch3LL commented on #33506
@blaisep I think we could definitely include some better logging instead of a stack trace. I'll approve this as a feature request :)

[2016-05-26 17:57] #33543 closed

[2016-05-26 18:04] Ch3LL commented on #33514
@metalseargolid looks like its not currently possible but looks like a good feature to add. I'll approve as a feature request :+1:

[2016-05-26 18:04] tjuup commented on #33544
After applying the patch and restarting the salt-master the error did not show up anymore.
Thanks for your quick fix!

[2016-05-26 18:04] cachedout commented on #33544
@tjuup You're welcome. Apologies for the breakage. :]

[2016-05-26 18:04] #33544 closed

[2016-05-26 18:16] Ch3LL commented on #33523
@gzcwnk looks like your missing a couple parameters for file.replace to work appropriate. The options are documented [here](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.replace). It requires teh pattern, repl, and name options. Looks like maybe you are possibly trying do a file.managed.

Can you try adding the required options for `file.replace`? Do yo

[2016-05-26 18:48] mchugh19 opened #33557 "serviceNow module's non_structured_query grabs kwargs"
### Description of Issue/Question
The serviceNow module's function `non_structured_query(table, query)` should take a query argument in the form `role=web` but the = in the query causes the argument to be processed as a nonexistant kwarg.
[code]

### Versions Report
servicenow module added to _modules from git

Salt Version:
           Salt: 2015.8.8.2

Dependency Versions:
         Jinja2: 2.8

[2016-05-26 20:42] OpusX commented on #20836
Until the bug is fixed, I wrote a work around in powershell.  It basically looks at the processes running to determine whether or not a highstate is currently running.

1) Get processes that are running and determine if the commandline associated with python.exe contains the string "state.highstate"  This will get any highstates running locally from commandline, from scheduled task, etc.
2) Get Ch

[2016-05-26 21:57] Ch3LL commented on #33528
@SolarisYan can you clarify what you are attempting to do when you state " get the relationship of job id " between two jobs. Are you attempting to use the saltstack reactor to spin off an orchestration file?

[2016-05-26 22:10] jfindlay commented on #33553
@MelkorLord, thanks for the report.

[2016-05-26 22:15] jfindlay commented on #33551
@fwihardjo, thanks for reporting.  How did you upgrade salt?  Is this coming from the master debug log?  Was the previous instance properly stopped before the new one was started?  Is there anything relevant in the master config?

[2016-05-26 22:17] cachedout commented on #33551
This isn't coming from the daemon at all. It's coming from a cached Client caller. The likely problem here is that we're not allowing for an already-running IOLoop when we instantiate the SMinion instance.

[2016-05-26 22:24] yannis666 commented on #33551
Mike answers some of your issue. Our implementation keeps a cache of local/runner/client callers.
In terms of salt - we yum install into base linux docker images

[2016-05-26 22:48] jfindlay commented on #33548
@MelkorLord, thanks for the detailed report.

[2016-05-26 22:51] seanjnkns opened #33561 "[2016.3.0] salt-call vs salt '<minion_id>' state.highstate regression"
### Description of Issue/Question
Time testing a salt-call state.highstate vs. a salt '<minion_id>' state.highstate, the timing can be 2+ x longer.  Same results can be seen even running the salt-call vs. salt 'minion_id' state.highstate on a salt-master.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug l

[2016-05-26 22:53] jfindlay commented on #33540
@aronneagu, thanks for reporting.

[2016-05-26 22:58] jfindlay commented on #33537
@anlutro, yes, that would be the best way to handle it, I think.  Deprecations are handled by the [`warn_until` function](https://docs.saltstack.com/en/latest/topics/development/deprecations.html).  We could also put your workaround in the [2016.3.0 release notes](https://docs.saltstack.com/en/latest/topics/releases/2016.3.0.html).

[2016-05-26 23:27] Ch3LL commented on #33529
@dneades looks like i'm able to replicate this on a freebsd10 box:

[code]

To ensure this is only freebsd I was able to run this against a centos6 machine just fine. This is limited to freebsd.

[2016-05-26 23:32] Ch3LL commented on #33529
also verified this is not exclusive to salt-ssh. occurs on the minion when salt is installed on freebsd

[2016-05-26 23:44] Ch3LL commented on #33532
@Routhinator just to confirm you are attempting to use this [module](https://github.com/saltstack-formulas/firewalld-formula/blob/master/firewalld/services.sls) ?

Can you share your sanitized pillar data for [here](https://github.com/saltstack-formulas/firewalld-formula/blob/master/firewalld/services.sls#L43)

[2016-05-26 23:46] Ch3LL commented on #33531
@Routhinator are you seeing this on other commands or only `state.highstate`?

[2016-05-27 00:02] Ch3LL commented on #33534
@Herugrim i am able to replicate this. Looks like its broken on 2015.8 and working in 2015.5

Here is the git bisect:

[code]

[2016-05-27 00:52] onorua opened #33563 "Update '2015.8.10+ds-1' to '2016.3.0+ds-1' caused TypeError: __init__() got an unexpected keyword argument 'timeout'"
### Description of Issue/Question

I have `salt.latest`, which caused automatic restart of the salt related packages. This caused error code on systemd enabled system.
### Versions Report

[code]
### Log

[code]

[2016-05-27 02:06] SolarisYan commented on #33528
@Ch3LL Sorry that  i don't describe what i want.
because i use salt-run state.orchestrate in async, the first event tag is salt/run/20160526163247333700/new,and then ,there are some state job event tags like
salt/job/20160526163250903786/new,and some more job tags. But duration this time,i may issue some other cmd lile salt-run state.orchestrate or salt '*' ,then there will have other event in the

[2016-05-27 06:29] jamesp9 opened #33565 "Typo in states/virtualenv_mod.py"
### Description of Issue/Question
Line 192 in "/usr/lib/python2.7/dist-packages/salt/states/virtualenv_mod.py"
`formar(err)` should be
`format(err)`

### Steps to Reproduce Issue
Use the `virtualenv.managed` state to try and create a virtualenv environment.

[code]

### Versions Report
[code]

[2016-05-27 06:46] syphernl commented on #33524
The package update restarts the master (or at least should)

This is my master config:
[code]

And my master.d (concatenated):
[code]

[2016-05-27 09:29] ticosax opened #33570 "pip.installed broken on 2016.3"
### Description of Issue/Question

[code]
### Setup
[code]
### Versions Report
[code]

[2016-05-27 10:14] moshe0076 opened #33571 "apache_module.enable failes when using salt-call 2016.3.0 (Boron)"
### Description of Issue/Question
apache_module.enable failes when using salt-call 2016.3.0 (Boron)
Works with the same setup but with salt-call 2015.8.10 (Beryllium)
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

ubuntu server 14.04

[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
salt-call on minion
### Versio

[2016-05-27 10:41] giorgiosironi opened #33573 "git.latest not fetching before switching revision"
When switching git.latest to a revision not already present locally, I get

[code]

To make it work, I had to manually perform a `git fetch` and re-run salt.
### Setup

[code]

We had to specify a `branch` here or `revision` was getting ignored, leaving the repository on the previously existing branch.
### Steps to Reproduce Issue

The `git.latest` configuration is provided, and the repository is

[2016-05-27 10:58] dneades commented on #33529
@Ch3LL Thank you for confirming this issue, that’s very helpful.

[2016-05-27 11:08] anlutro opened #33575 "File states seem slower in 2016.3, especially on first cache retrieval"
I upgraded to 2016.3 in my VMs and file states seem significantly slower on the first pass (10-20 times slower). However, on subsequent `state.apply` calls, things seem fine again.

For every file that the minion has to fetch from the master, I see about 30-40 occurances of these log lines in the minion log:

[code]

Followed by:

[code]

Then some more of the zeromq-related log lines, then this:

[2016-05-27 11:09] ayyags commented on #25953
Is there an update on this issue?
Thanks

[2016-05-27 11:46] ohauer opened #33578 "2016.3.0 FreeBSD Failed to load grains defined in grain file disks.disks in function <function disks at 0x80cff9320>, error:"
### Description of Issue/Question
The following error message is spamming my master log
[code]

### Setup
happens existing and/or on fresh master without SLS files

### Steps to Reproduce Issue
run salt-master on FreeBSD

### Versions Report
salt --versions-report
Salt Version:
           Salt: 2016.3.0

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       date

[2016-05-27 11:55] johje349 commented on #31454
I still have the same memory leak with the salt-master upgraded to version 2015.8.10. Do you reckon I should upgrade to 2015.8.10 on all minions?

[2016-05-27 11:58] abednarik commented on #33552
Having a look is Ubuntu packages [here](http://packages.ubuntu.com/trusty/libstdc++6) this `libstdc++6 (>= 4.9)` is expected. There is no libstdc++6 >= 4.9.x

[2016-05-27 12:15] babilen commented on #33495
The influxdb state and execution modules are unfortunately quite specific to InfluxDB 0.8. In particular the user administration has changed dramatically between 0.8 and 0.9.

InfluxDB 0.8 differentiated between cluster admins (i.e. users not tied to a database) and database users that are created in the context of a specific database. InfluxDB 0.9 changed this model to one in which users and admi

[2016-05-27 12:56] johje349 commented on #33452
Getting the same error message. Worked fine in 2015.8.10.

[2016-05-27 12:59] markuskramerIgitt commented on #19137
Hi Will,
I look forward to have a 32bit Salt Minion on 64bit Windows!
I acquired a little knowledge of msi and Python in the last year.

Problem was WiX 3.10. Problem solved with installing WiX 3.9.

You [wrote](https://github.com/saltstack/salt-windows-msi) "dist.$(TargetPlatform): extracted at build time from the appropriate frozen Minion distribution archive"
Where do I download distfiles?

Wit

[2016-05-27 13:09] isbm commented on #31383
@cachedout I am now trying to understand how this works and why this is implemented this way. I was looking how this is implemented and got confused. 😉 So could you help me here a bit why essentially the code just sorting the hostnames into an array and picks the first one? I mean... this is a bit strange.

As of my current understanding, we supposed to end up with only one name, which is not loca

[2016-05-27 13:46] johje349 commented on #31454
So I upgraded master and all minions to 2016.3.0 and things look better.

Still some memory leak though:
Mem:       4048268    1198936    2849332        404      31424      39856

for i in {1..11}; do salt '*' state.apply test; done

Mem:       4048268    1642968    2405300        404      35976      55268

Memory usage increased by ~450M.

[2016-05-27 13:49] waxie opened #33582 "mysql module gives traceback if no working authentication"
### Description of Issue/Question

If:
- mysql is configured with authentication
- no mysql authentication information is provided to saltstack

Then:
- the mysql module in Jinja will fail with a python traceback where it cannot get a cursor

[code]

### Setup
[code]

### Steps to Reproduce Issue

- Configure mysql with authentication so that root cannot authenticate without a password
- Try to us

[2016-05-27 13:55] et1975 opened #33583 "Feature request: GitFS event"
### Description of Issue/Question

When GitFS receives new commits (as evidenced by new latest commit hash) issue an event, something like `gitfs.VOLUME.udated`
where VOLUME is the salt volume/mount fronting this git reference.
### Setup

N/A
### Steps to Reproduce Issue

N/A
### Versions Report

N/A

[2016-05-27 14:14] seanjnkns commented on #33561
Here's the results from salt version 2015.8.10:

Salt Version:
           Salt: 2015.8.10

Dependency Versions:
         Jinja2: 2.7.3
       M2Crypto: 0.21.1
           Mako: 0.8.1
         PyYAML: 3.11
          PyZMQ: 14.7.0
         Python: 2.7.5 (default, Nov 20 2015, 02:00:19)
           RAET: Not Installed
        Tornado: 4.2.1
            ZMQ: 4.0.5
           cffi: 0.8.6
       cherrypy:

[2016-05-27 14:21] aronneagu opened #33584 "job running every 2 seconds"
There is a job that runs every 2 seconds, its cmd.run "ps aux|grep php". I normally execute this command manually from the salt-master (not a cron job), but for some unknown reason, saltstack was automatically executing it every 2 seconds (see below) Restarting the salt-master service did not solve this. I had to reboot the instance to solve it. I am curious why was saltstack executing this job? (

[2016-05-27 14:23] Ch3LL commented on #33535
@anonymouz can you try using `cmd.shell` or `python_shell: True`. As stated in the docs [here](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.cmdmod.html) these optoins might be more useful for your situation:

This function does not process commands through a shell unless the python_shell flag is set to True. This means that any shell-specific functionality such as 'echo' or th

[2016-05-27 14:30] seanjnkns commented on #33561
I also tried the "Live Salt-Master Profiling" from https://docs.saltstack.com/en/latest/topics/troubleshooting/master.html, however no logs are being generated.  Possibly a separate issue which I can open if necessary.  BTW, killall won't work on salt-master as the parent process is python, so I had to improvise and get all the PIDs for the salt-master and issue a `kill -SIGUSR2 <long list of pids

[2016-05-27 14:38] jakehilton opened #33585 "inode usage 100%"
### Description of Issue/Question
Running 2016.3.0 proper for a few days and two of my 10 masters show inode usage of 96% and 100%. Looking at the culprit I found that `/var/cache/salt/master/jobs` is the offending dir.

Running `salt-run jobs.list_jobs` or `salt-run jobs.active` hangs or sits that way for 5+ minutes before I stop it.

Needless to say my systems where this is happening is renderin

[2016-05-27 14:41] cachedout commented on #33585
Almost certainly caused by this: https://github.com/saltstack/salt/issues/33544

[2016-05-27 14:43] seanjnkns commented on #33561
[callgrind.salt-1464360059-19260.zip](https://github.com/saltstack/salt/files/286651/callgrind.salt-1464360059-19260.zip)

[2016-05-27 14:44] jakehilton commented on #33585
I yes.. I did see that ticket and should have connected the two. Strange it's not happening on all my masters. Even a system restart didn't clear it up like I'd hoped. I'll give that patch a try mentioned in the other ticket.

Thanks!

[2016-05-27 14:52] hernanc commented on #33552
@abednarik Yeah that's my point, 4.9 is required but only 4.8.x is available in trusty and trusty-updates. Only in willy it goes to a > 4.9 version, per the link in the OP.
@MelkorLord I've tried adding your APT settings to my box and I'm still getting this error :\

[2016-05-27 14:55] jakehilton commented on #33585
So after the patch was applied the inode usage is dropping nicely.  Not sure if we'll see a little maintenance bump for 2016.3.0 will we? This seems like a chronic problem which will bite a fair amount of users no?

For now I'll see about using salt to patch itself.

Thanks!

[2016-05-27 14:55] #33585 closed

[2016-05-27 14:56] cachedout commented on #33585
@jakehilton We are working hard on a .1 release right now that will of course include this fix.

[2016-05-27 15:04] abednarik commented on #33552
@hernanc

 Do **apt-cache policy python-zmq** to understand if  this package is coming from the salt repo or the ubuntu repositories.

[2016-05-27 15:21] morganwillcock opened #33587 "Presence events constantly indicating every minion as a "new" connection"
This has only been an issue since upgrading to 2016.3.0, but with presence events enabled I'm getting every minion listed as a new connection, every time the events are fired:

`salt-run state.event pretty=True`
<pre>salt/presence/change	{
    "_stamp": "2016-05-27T15:01:19.427580",
    "lost": [],
    "new": [
        "minion01",
        "minion02",
        "minion03"
    ]
}</pre>

### Versions

[2016-05-27 15:26] jfindlay commented on #25953
@ayyags, not that I know of.  We have a large catalog of issues to work through on a best effort basis.  If you have an idea of how to implement this you are welcome to ping me on any python or salt related questions.

[2016-05-27 16:02] Ch3LL commented on #33536
@murzick I am able to replicate this on 2015.8.10 as well.

Looks like the issue is here in states/pkgrepo.py:

[code]

Looks like it is actually changing disabled to enabled. Then if enabled is set it sets disabled=False. Looks like we need to get this fixed up. Thanks!

[2016-05-27 16:05] techhat commented on #29249
I'm going to increase the timeout here for now, but it's not a perfect solution; the race condition will probably always exist. The more solid way to do it is a reactor, which I will put together. I'll see if I can duplicate @engtools's situation so that we can make the reactor stable.

[2016-05-27 16:05] cachedout commented on #33570
I can't reproduce this at all. Stale *.pyc files by chance?

[2016-05-27 16:11] warden commented on #28082
This is actually very similar to #32605.

[2016-05-27 16:12] genx7up commented on #33575
Similar experience after upgrade to 2016.3.0. First run of highstate on clean install is significantly slower. Subsequent runs are also slower vs 2015.8.10

Salt Version:
           Salt: 2016.3.0

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Insta

[2016-05-27 16:16] whytewolf opened #33588 "rabbitmq_user.present error"
### Description of Issue/Question

with 2 users being maintained by rabbitmq_user.present from older builds. on the latest release 2016.3.0 rabbitmq_user.present has an odd error. this setup worked before since at least 2015.5.5

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
[code]
rabbitmq version is 3.6.2

### Versions Report
(Provided by runnin

[2016-05-27 16:17] morganwillcock opened #33589 "win_certutil.add_store: Unsupported url scheme"
<pre>install_cert_for_elicenser:
  certutil.add_store:
    - name: salt://workstation_files/steinberg_elicenser/Steinberg_Media_Technologies_GmbH.cer
    - store: TrustedPublisher</pre>

This state will pass if the certificate is already present, but if the certificate is removed I get the following:

<pre>----------
          ID: install_cert_for_elicenser
    Function: certutil.add_store

[2016-05-27 16:28] morganwillcock opened #33590 "ini_manage.options_absent: only works in test mode (TypeError: unhashable type: 'list')"
<pre>cleanup_usbdlm_configuration:
  ini.options_absent:
    - name: {{ program_files }}\USBDLM\USBDLM.ini
    - sections:
        DriveLetters:
          - Letters</pre>
Everything still looks okay when testing state:
`salt salt-test state.apply test=True`
<pre>----------
          ID: cleanup_usbdlm_configuration
    Function: ini.options_absent
        Name: C:\Program Files\USBDLM\USBDLM.ini

[2016-05-27 16:40] Ch3LL commented on #33552
I am not able to replicate this on a clean ubuntu14 install. The salt-minion installs cleanly without error.

But correct me if i'm wrong but it does not look like repo.saltstack provides python-zmq: http://repo.saltstack.com/apt/ubuntu/14.04/amd64/archive/2016.3.0/

@dmurphy18 is this something we should be providing?

[2016-05-27 16:58] ticosax commented on #33570
It is happening on bare metal ec2 provisioned with salt-bootstrap.

[2016-05-27 17:00] carlpett commented on #27020
Ok, finally finished it up. Works well enough and also supports state management of Saltstack policies: https://github.com/carlpett/salt-vault

Would appreciate feedback, especially regarding any security-related oversights. The minions get tokens by communicating with the master using the peer-runner mechanism. Due to a bug in saltstack (https://github.com/saltstack/salt/pull/32335), the id that

[2016-05-27 17:01] ticosax commented on #33570
If you can't reproduce I will dig in a bit deeper.

[2016-05-27 17:01] Ch3LL commented on #33557
@mchugh19 yep looks like the docs and code are not inline and looks like this needs to get fixed to be able to specify a role. Looks like you already pinged the contributor of this model. :)

[2016-05-27 17:07] ketzacoatl commented on #27020
@carlpett, to put in voice in for those with ultra-simplified (or non-existent) salt-masters - I generally run consul + salt-call in a way that avoids the HA burdens for a salt-master. While I like the architectural options available with salt-minions retrieving temp tokens from vault, through their salt-master,  a solution that explicitly requires the salt-master can be problematic, and where pos

[2016-05-27 17:12] carlpett commented on #27020
@ketzacoatl Interesting point, had not thought of that one. The issue with that is how to manage what the minions can read? Configuring all the minions with a Vault root token would sort of default the point of using Vault? If the machine is compromised, it is capable of reading or altering anything within Vault, and even locking everyone else out.

Do you agree, or am I missing something? Is ther

[2016-05-27 17:14] cachedout commented on #33570
@ticosax K. I took a pretty quick pass so I might have missed something. I can circle back here in a bit.

[2016-05-27 17:20] ketzacoatl commented on #27020
@carlpett, well, with ACLs, you are not required to use a root token - https://www.vaultproject.io/docs/concepts/tokens.html.

[2016-05-27 17:27] seanjnkns commented on #33561
#33575 appears to be a duplicate of this.

[2016-05-27 17:28] cro opened #33592 "Some inconsistency with switching between doc versions for 2016.3"
Opening https://docs.saltstack.com shows the really nice new landing page.  When I click on the link for "Stable release: 2016.3.0" I go to the 2016.3 docs as expected

![screen shot 2016-05-27 at 11 19 59 am](https://cloud.githubusercontent.com/assets/83323/15615804/88e0eea8-23fd-11e6-9b10-7fdcd5bfad13.png)

Clicking the 'develop' button doesn't seem to change anything other than the button showi

[2016-05-27 17:30] carlpett commented on #27020
@ketzacoatl Yes, but non-root tokens expire, though, so you'll need to have a system that renews them periodically (you can do mount-tunes to make the expiry time longer, but still something to be aware of). And it might be a pain to manually generate all those tokens with the correct policies.

But if this is a common thing, I could add some support for setting the token in the minion config as w

[2016-05-27 17:33] Ch3LL commented on #33524
my understanding is that you would need to reboot the service after an upgrrade of the salt-master.

Maybe @thatch45 or @dmurphy18 can confirm this one for me though?

Also just to confirm @syphernl are you still seeing the error after the reboot?

[2016-05-27 17:35] Ch3LL commented on #33529
@dneades no problem :) Looks like we definitely need to get this one fixed. Thanks for reporting it. much appreciated

[2016-05-27 17:38] dneades commented on #33529
@Ch3LL, yes I agree it needs to be fixed :-) I’ve changed all my `pkg.latest` rules to use `pkg.installed` as a temporary workaround, but that’s not ideal.

[2016-05-27 17:38] syphernl commented on #33524
I haven't explicitly restarted the service since that is something the package (generally) does. That worked fine in the past every time.
Op 27 mei 2016 7:33 p.m. schreef Megan Wilhite <notifications@github.com>:my understanding is that you would need to reboot the service after an upgrrade of the salt-master.

Maybe @thatch45 or @dmurphy18 can confirm this one for me though?

Also just to confirm

[2016-05-27 18:11] Ch3LL commented on #33575
@anlutro I am able to replicate this and am seeing a performance difference with a small test case. Here's the test case:

[code]

[code]

When running the following: `time sudo salt 'ch3ll-mas*' state.highstate -ldebug`

on 2015.8.10:

[code]

on 2016.3.0

[code]

[2016-05-27 18:31] Ch3LL commented on #33561
@seanjnkns i'm not seeing too much of a performance difference between `salt-call state.highstate` and `salt 'minion' state.highstate`. Nothing different from 2015.8 and 2015.5. What kind of states are you calling in your highstate?

note: i tested this with the file.managed state I used in issue 33575

[2016-05-27 18:40] twellspring opened #33593 "Nova driver with rackspace causing error "module' object has no attribute 'add_arg""
### Description of Issue/Question

Trying to use the nova driver to create Rackspace servers and getting the error "module' object has no attribute 'add_arg" when running a cloud.profile.

[code]
### Setup

/etc/salt/cloud.providers.d/rackspace.conf

[code]

/etc/salt/profiles.d/rackspace-compute.conf

[code]
### Steps to Reproduce Issue

Error happens every time I try to run the above command.  H

[2016-05-27 18:41] carlpett commented on #27020
@ketzacoatl I just pushed a branch for masterless, care to have a look if it looks like it would fill you requirements? https://github.com/carlpett/salt-vault/tree/f/masterless

[2016-05-27 18:41] twellspring commented on #33593
Might be related to #21474

[2016-05-27 18:55] pass-by-value commented on #32679
Hi @piersf I would specifically like to address the first question

I made a small change to your sls file and ran it (I used `state.sls`) multiple times, but the routes only got created the first time. Here's the updated sls (I took out `gateway_id` and added `gateway_name`)

[code]

I'm wondering where the hardcoded gateway_id `nat-0bf137r68a320a6b2` in the state `priv_rt_exists` (from your orig

[2016-05-27 19:01] twellspring opened #33595 "rackspace documentation outdated"
### Description of Issue/Question

The documentation I find for Rackspace is really outdated.  It only refers to the **rackspace** and **openstack** driver.

https://docs.saltstack.com/en/latest/topics/cloud/rackspace.html
https://docs.saltstack.com/en/latest/topics/cloud/config.html#rackspace

The nova driver documentation refers to Rackspace, but there is no clear statement on the above pages th

[2016-05-27 19:03] twellspring commented on #33595
Should these two rackspace pages be marked as oudated with a reference to the nova page?  Or should they be rewritten?

[2016-05-27 19:36] twangboy commented on #28920
@andrejohansson

As you know file permissions/ownership is quite different in windows. So, I'll try to address this as best I can.

The `group` parameter is only provided for api compatibility. Only the `user` parameter is used to set ownership.

`mode` is unsupported in windows. I recall microsoft offered an add-on, Services For Unix (SFU) that may have added some of that functionality, but I nev

[2016-05-27 19:40] djsly opened #33596 "Allow salt-ssh to bypass the gifts refresh and environment creation from the command line"
### Description of Issue/Question

Based on the request from the user group: https://groups.google.com/forum/#!topic/salt-users/uSk1o0RrovY

This request is based on the fact that running salt-ssh will perform a gifts refresh at the start of each execution. In some context you might have already made sure that the gifts is up to date and you also have salt-master that already taking care of the re

[2016-05-27 19:47] seanjnkns commented on #33561
Primarily file.managed, service.running, and pkg.installed checks.  I'm also confused that you would mark this as "Info Needed" when you tested issue 33575 and marked it differently, when it's technically a duplicate.  In my case, I have 212 states being performed, in your test on that, you had 20 and noticed a 1s timing difference.  I'm pretty sure if you increased that to a range(1,200+) and did

[2016-05-27 19:52] Ch3LL commented on #33565
@jamesp9 thanks for pointing that out and what looks like the fix. :+1:

[2016-05-27 20:04] Ch3LL commented on #33563
@onorua can provide the state that is upgrading this package to help me recreate this issue?

Also how did you install salt initially?

[2016-05-27 20:12] ketzacoatl commented on #27020
@carlpett, It's a tiny bit difficult for me to see the details (not sure if that's end of week or something else). Maybe you can add a short doc example for how that would be used with the minion or `salt-call`?

[2016-05-27 20:23] Ch3LL commented on #33570
Cannot replicate this as well with ubuntu14 ec2 instance bootstrapped. Are you seeing this on multiple instances?

[2016-05-27 20:23] carlpett commented on #27020
@ketzacoatl Sorry about that. I've updated the README (last section) with instructions for masterless.

[2016-05-27 20:26] moloney commented on #30462
This is solvable with a persistent master side data store (like sdb). Just add the minion to a list that have gone through the first boot preparations. I ended up always using the minion startup event and ignoring the event for the key being accepted since it looks like the key is accepted before the minion is fully prepared to start applying states.

I think this issue can be closed, but I will l

[2016-05-27 20:40] glomium commented on #33588
Got the same error. Creating new users via rabbitmq_user.present works fine.

[code]

[code]

[2016-05-27 21:00] tonybaloney commented on #33557
User error :-)

I'll update the doc string first to encapsulate the argument in quotes.

I will also catch **kwargs so if someone does what you do, it'll at least try and format a query from it also.

[2016-05-27 21:05] jfindlay commented on #30462
@moloney, I'm glad you were able to figure this out.  Let's close this unless somebody else can also make a case beyond what is handled by your solution.

[2016-05-27 21:05] #30462 closed

[2016-05-27 21:06] Ch3LL commented on #33571
@moshe0076 are you getting an error when it fails and if so would you mind posting the error?

[2016-05-27 21:24] UtahDave commented on #33552
@hernanc Are you trying to install from an image on a cloud provider? If so, which cloud and what is the image name?

I've been able to successfully install the salt-minion following the steps you document.

[2016-05-27 21:26] Ch3LL commented on #33583
@et1975 I think this would be a great added feature. I'll go ahead and add it as a feature request.

[2016-05-27 21:33] Ch3LL commented on #33584
@aronneagu was there any useful information in the debug logs?

To note you probably could have stopped the master then remove the cache and I'm guessing this would have resolved this issue. But if you have any useful informatino in the debug logs when this was occuring that might include some more useful information to diagnose.

[2016-05-27 21:38] Ch3LL commented on #33587
@morganwillcock i'm not able to replicate this on 2016.3.0:

[code]

It shows as present and not new. Are there any other factors that would help me replicate this?

[2016-05-27 21:42] thatch45 commented on #33575
@cachedout do you think that this might be part of the multimaster cacheing file client fix?

[2016-05-27 21:42] cachedout commented on #33565
We already merged a fix for this in #33565

[2016-05-27 21:42] #33565 closed

[2016-05-27 21:45] morganwillcock commented on #33587
@Ch3LL thanks for testing. salt/presence/change, rather than salt/presence/present, is where I'm seeing the problem. Do you see any of those events being fired?

[2016-05-27 21:46] cachedout commented on #33524
I can't reproduce this either. I can see the potential for this happening with a master that was upgraded and didn't restart though. We need @dmurphy18 to let us know if the restart should be happening if it still is.

[2016-05-27 21:47] cachedout commented on #33575
Hmmm, that's a good thought. Could be. Trying to find the culprit with a `git bisect` could be a good approach here.

[2016-05-27 21:48] cachedout commented on #33530
Fixed merged. Closing issue.

[2016-05-27 21:48] #33530 closed

[2016-05-27 21:53] thatch45 commented on #33531
I don't think that psutil is the issue here, I think that is a misleading error that should be better worded and  set to debug since this is far from a core feature that is being blocked.
As for the saltutil.is_running, we should try to see why that really is missing

[2016-05-27 21:54] Ch3LL commented on #33578
@ohauer I am not seeing these errors in these logs. Did you upgrade from a previous version? How did you install salt? Any other information that might help to replicate?

[2016-05-27 21:57] seanjnkns commented on #33561
I'll do a git bisect on this then and see what it turns up.  It's obviously a regression that was introduced.

[2016-05-27 21:59] cachedout commented on #33531
@Routhinator Could we please have you retry this but with the minion running at a `trace` log level?

[2016-05-27 22:02] cachedout commented on #33561
@seanjnkns A git bisect would be perfect! Thank you for taking the time.

[2016-05-27 22:10] Ch3LL commented on #33595
@twellspring looks like there is one indication stating the rackspace driver is for older use cases:

But I definitely agree that we could make this more clear on each of these documentation pages. I think it would also be a good idea to point to the nova drive from the rackspace page to ensure people are aware there is the newer driver available. Thanks!

[2016-05-27 22:19] daveneeley opened #33598 "RuntimeError maximum recursion depth exceeded in config.option state_aggregate"
### Description of Issue
state.highstate returns "RuntimeError: maximum recursion depth exceeded" when master is 2016.3 but minion is 2015.8.10. highstate runs correctly when minion is 2016.3.0. I would 'just upgrade' but the 2016.3 centos7 minion isn't available in the repo right now. :) :)

[code]

### Versions Report
master versions-report:
[code]

minion versions-report:
[code]

[2016-05-27 22:23] twellspring commented on #33595
Rackspace has been on the "new generation" server for a while now, so everything about the "old cloud" and rackspace driver could be remove.

[2016-05-27 22:57] ketzacoatl commented on #27020
LGTM

[2016-05-27 23:08] Ch3LL commented on #33590
@morganwillcock i'm also seeing the same thing on centos7:

[code]

test=True:

[code]

Looks like this needs to get fixed. Thanks

[2016-05-27 23:24] Ch3LL commented on #33582
@waxie it seems that this is the culprit in the configuration file: `mysql.unix_socket: '/tmp/mysql.sock'`

[code]

Do you see the stacktrace when that configuration is removed?

[2016-05-28 00:08] Ch3LL commented on #33526
@DimentR I've been trying to write up a possible scenario for this and this is what i have so far:

[code]

Unfortunately it seems this is not working and when debuging it shows pillar as empty. I will take a look at this more closely next week to see if it is possible to get pilalr data into grains.

[2016-05-28 00:19] Ch3LL commented on #33573
@giorgiosironi I believe I was able to replicate this with the following state file:

[code]

On first run of running state.sls it stated the commit `62a6bde0ea517f681cf9a7242f5c1761331411ad` was not available. I did a manual git fetch then the state ran correctly.

Looks like this might be possibly related to #13317 and #13550

[2016-05-28 00:24] Ch3LL commented on #33573
@giorgiosironi actually just read through the docs some more and it looks liek this option might be of use to you: `update_head`. It does the following:

        If set to ``False``, then the remote repository will be fetched (if
        necessary) to ensure that the commit to which ``rev`` points exists in
        the local checkout, but no changes will be made to the local HEAD.

Does setting th

[2016-05-28 00:45] Whoops commented on #33578
I am also seeing this issue. I did upgrade salt from 2015.8.8_1 -> 2016.3.0. Salt was installed via the sysutils/py-salt port.

My minion logs also display this when running `state.highstate`.

I'm not sure if it's helpful, but when running `grains.items` there is no disk key. Also this system was installed and boots directly from zfs. I could be wrong, but I don't think `geom` is involved, so the

[2016-05-28 00:59] Ch3LL commented on #33588
hmm this is definitely odd behavior. I was only able to replicate this after upgrading from rabbitmq server 3.1 to `rabbitmq-server-3.6.2-1.noarch`.

As stated before this is still able to create a new user but then starts to error once run twice.

[2016-05-28 02:53] luc-poynt opened #33600 "Feature Request: given host get IP address"
It would be very helpful if a jija template could be populate with ip of a given host.
imagine being in AWS and for speed/security reason you want to to set the /etc/host file
with ip of the server you will be using, however the ip could be change
(things it make thing faster if kafka does not to have resolve the IP of the zookeeper hosts)

jfindlay helped and the way we have it solved today with

[2016-05-28 03:11] daveneeley commented on #33598
Hmm. Maybe minion/master version is not the issue? I can repro against a minion built from the 2016.3 git branch via the bootstrap script. The same highstate definition continues to run correctly against the test machine.

[2016-05-28 03:35] daveneeley commented on #33598
Turns out if I remove the prereq condition like in #32591 that the highstate works correctly against the machine in question. So I have one machine where it works and one where it throws the error above. Calling it a dup.

[2016-05-28 03:35] #33598 closed

[2016-05-28 03:55] mchugh19 commented on #32149
We've just started noticing this as of 2016.3 where the salt-master process is restarted. This is running the standard zeromq transport.

This highstate did complete, so it's "just" a problem with the client.
[code]

[code]

[2016-05-28 04:32] glomium commented on #33588
Looks like it has to do with `check_password` in `modules/rabbitmq.py`.

RabbitMQ 3.5.7 introduced a `authenticate_user` method to the cli. Replacing the `eval` in `check_password` from `modules/rabbitmq.py` with this works fine, but breaks backwards compatibility.

[2016-05-28 05:23] kev009 commented on #28518
@cedwards I see this made 2016.3.0 and you bumped us to that in ports which is the way most people will get Salt on FreeBSD.  Can we close?

[2016-05-28 05:47] kevinquinnyo commented on #32959
@jfindlay Just revisiting this.  I guess `clean_file`, coupled with other salt modules should be enough to solve this kind of problem in most cases.  Although I couldn't find any actual code for the `consolidate` option.  I only found the "docblock" reference [here](https://github.com/saltstack/salt/blob/develop/salt/states/pkgrepo.py#L240) so I'm not sure how it's supposed to work.

[2016-05-28 06:06] bashu commented on #33000
valid for 2016.05.11 too

[2016-05-28 08:14] kev009 commented on #33578
Can you paste the output of 'geom disk list'?

[2016-05-28 10:28] ohauer commented on #33578
Sure, that's from one of my masters/syndic systems

# geom disk list
Geom name: cd0
Providers:
1. Name: cd0
   Mediasize: 0 (0B)
   Sectorsize: 2048
   Mode: r0w0e0
   descr: NECVMWar VMware IDE CDR10
   ident: (null)
   rotationrate: unknown
   fwsectors: 0
   fwheads: 0

Geom name: da0
Providers:
1. Name: da0
   Mediasize: 8589934592 (8.0G)
   Sectorsize: 512
   Mode: r5w5e14
   descr: VMware Vi

[2016-05-28 11:13] ohauer commented on #33578
If uploaded an archive with the output of grains.items from the same system
Perhaps it helps to track the issue down.
http://people.freebsd.org/~ohauer/diffs/PR33578_saltstack.tar.gz

Archive contains output on FreeBSD 10.x with salt 2015.5.8, 2015.8.10 and 2016.3.0

[2016-05-28 12:18] eliasp commented on #27020
@carlpett You might want to move common code to a `utils` module…

[2016-05-28 13:37] AlexanderThaller commented on #33578
I'm having the same error when running `salt-call pillar.items` (or any other command) on FreeBSD with a FreeBSD master:

[code]

# Versions Report
## Master
[code]

[2016-05-28 13:39] seanjnkns commented on #33561
Ok, here's the results of the bisect.  However, I'm going to re-run it as when it got down to the last bisect, there was still a minor disparity between salt-call vs. salt 'minion_id' state.highstate, so I'm going to re-bisect and get that one too just in case.  However, this one here seems to be having the biggest impact thus far:

df97ef8b412c1fb9ee405c7c337150b21375bfc0 is the first bad commit

[2016-05-28 13:47] AlexanderThaller commented on #33578
Works fine with older version:

[code]

# Versions Report
## Master
[code]

## Minion
[code]

[2016-05-28 14:38] cachedout commented on #33561
Most interesting.

cc: @jacksontj

[2016-05-28 14:40] seanjnkns commented on #33561
The other one causing in my case ~2s disparity is similarly related:

6838a9534f0dd01291eacfbd6621be43ec0396f4 is the first bad commit
commit 6838a9534f0dd01291eacfbd6621be43ec0396f4
Author: Thomas Jackson <jacksontj.89@gmail.com>
Date:   Fri Oct 9 16:11:39 2015 -0700

    Initial addition of ContextDict

    Inspired by #23373

    The basic issue we ran into is that the loader is injecting globa

[2016-05-28 14:43] seanjnkns commented on #33561
Also, while testing, I noticed from my initial good bisect, that my highstate runs were taking ~9s.  As I proceeded bisecting, runs starting taking more like 13-14s.  Unrelated to this issue, but I'll track that down.  It may be the cause for issue #33575.  I'll post it here later today just in case and create another issue or post on the aforementioned issue if it appears to be related to that.

[2016-05-28 17:07] abednarik commented on #33552
Also if you have proposal repository enabled,  that could be the reason.

[2016-05-28 17:23] cedwards commented on #28518
After basic testing it looks like I no longer have the issue. Closing. Thanks!

[2016-05-28 17:23] #28518 closed

[2016-05-28 20:29] kev009 commented on #33578
Ok, sorry about this :( it seems there are scenarios where ```rotationrate``` will be ```(unknown)``` but I was trying to cast it to an Integer to make usage easier elsewhere.

https://github.com/saltstack/salt/pull/33604 has a fix to make the data parsing more resilient.  @cedwards, could you pull this patch into the port?

I polled twitter for more ```geom disk list``` samples so will try and wr

[2016-05-29 00:19] morganwillcock opened #33605 "win_pkg: UnicodeEncodeError where DisplayName includes "Español""
<pre>microsoft_office_professional_plus_2013:
  pkg.installed</pre>

You get a traceback when applying state (the package installs but this breaks the state run):
`salt salt-test state.apply`
<pre>salt-test:
    The minion function caused an exception: Traceback (most recent call last):
      File "C:\salt\bin\lib\site-packages\salt\minion.py", line 1317, in _thread_return
        return_data = ex

[2016-05-29 00:49] cachedout commented on #33605
Looks like the source of this is that we had fixed this once here: https://github.com/saltstack/salt/pull/25921

Then the change got pulled out and this regressed. We may need to reintroduce the above fix.

[2016-05-29 01:55] damon-atkins commented on #33605
See also "log enhancement: call format and checksum error help and unicode strings" #33107

[2016-05-29 02:10] damon-atkins commented on #33107
The I/O to write the logs would would be more of an impact than a checksum. Thats only part of the suggestion.   The logs need to support Unicode in and Non-Unicode Out. Or maybe even a option on the salt cmd line to indicate the language output type.

Other options include encode("cp1252",**errors='replace'**)

[2016-05-29 02:41] danslimmon commented on #33590
This was broken in 7ac43c. Working on a fix.

[2016-05-29 02:46] damon-atkins commented on #33107
It could also be that I have raised this issue again because this change did not stay in  "Handle non-ascii in state log #25921"  the issues I was having were around packaging.

Does everyone have to write code to handle logging for different languages and output?

[2016-05-29 07:08] lwillek commented on #31978
Short note: Same bug after upgrade to "Boron", salt master with ubuntu 14.04. Workaround is the same ugly patch to salt/utils/cloud.py:

    root@master# salt-cloud --version
    salt-cloud 2016.3.0 (Boron)
    root@master# diff -u /usr/lib/python2.7/dist-packages/salt/utils/cloud.py_ORIG /usr/lib/python2.7/dist-packages/salt/utils/cloud.py
[code]

It would be great if this bug would be fixed with

[2016-05-29 08:07] ohauer commented on #33578
@kev009
after applying #33604 the issue is no longer present

[2016-05-29 08:25] ohauer opened #33608 "2016.3.0 FreeBSD lost cpu_flags and cpu_model"
### Description of Issue/Question
2016.3.0 no longer calls _bsd_cpudata for FreeBSD (only for OpenBSD and NetBSD)
I haven't found the exact commit, but can show the issue as diff.

### diff shows the issue
[code]

[2016-05-29 08:42] ohauer commented on #33608
This should bring back the missing cpu info on FreeBSD
[code]

[2016-05-29 09:41] whytewolf opened #33609 "2016.3.0: modules.pkg.upgrade not liking not passing an argument."
### Description of Issue/Question
since upgrading to 2016.3.0 having issues with upgrading. pkg.upgrade complains about NoneType when ran without an argument. which used to be how to upgrade an entire system.

### Setup
Centos 7.2
[code]
### Steps to Reproduce Issue

[code]
### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versi

[2016-05-29 11:09] tonybaloney commented on #33557
fixed in #33610

[2016-05-29 11:34] Routhinator commented on #33532
I am using the above module, and 'attempting' isn't the correct word. My production environment has used this module for the last few versions of salt. After further inspection it is choking on the **'** in **Server's** in the below pillar.sls. I've tried wrapping the description in single and double quotes, but the only way to get Salt to 2016.3 to read this is to remove the **'**.

[code]

[2016-05-29 11:37] Routhinator commented on #33531
@cachedout I need more informatation for this request.

I resolved the issue in my environment by simply installing psutils - Salt runs fine with it installed in CentOS. It seems to require it.

Do you want me to remove psutils from the minion or the master and retry?

[2016-05-29 11:39] Routhinator commented on #33531
@Ch3LL - I didn't try any other commands before resolving the issue by installing psutil.

[2016-05-29 13:25] shawnbutts commented on #33470
I'm also seeing this with recently provisioned systems running amazon linux.  The bootstrap install and initial highstate work without issue.  But, that even salt-call --version won't work.  So, I'm guessing there is dependency conflict somewhere in my states.

[2016-05-29 14:40] devster31 commented on #29265
I'm still seeing this issue in `2016.3.0`, these are my `versions-report`:
- Salt Master - CentOS 7
[code]
- Salt Minion - Ubuntu 16.04
[code]

[2016-05-29 14:51] abednarik commented on #33571
Hi

 I can reproduce this just switching between 2015.8 and 2016.3. This issue is related to [this](https://github.com/saltstack/salt/commit/f3a2b27671459a2a323407ffea4625905e1b7f89) commit.. Here enable and disable was changed to enabled and disabled, which I think is a good change in order to follow salt standards, but in this case documentation was not updated. Have a look [here](https://docs.s

[2016-05-29 15:55] shawnbutts commented on #33470
At least in my case, i have tracked this down to a pip install of configparser
[code]

Change this to:
[code]
It works.

configparser was updated to 3.5 on 03/21/2016 which includes "a complete rewrite of the backport".

[2016-05-29 16:03] carlpett commented on #27020
@eliasp That sounds like just the thing :) Does that work for modules that are not distributed along with salt itself, though? Inhouse, we add our custom modules by adding their git-repos as gitfs_remotes; but this may not be the best way to do it?

[2016-05-29 16:12] carlpett commented on #27020
@techhat Since I took my time in getting this ready and you built a module in the meantime, what are the plans for this issue?

[2016-05-29 17:35] ambv commented on #33470
Looks like there's an issue with the `backports` namespace package. I'm trying to repro this.

[2016-05-29 17:52] Routhinator commented on #33531
So I tested cmd.run without psutil installed and this happened:

[code]

Installing psutil resolves this as well.

[2016-05-29 19:12] techhat commented on #27020
@carlpett, I don't mind my code being replaced with superior code.

[2016-05-29 20:30] abednarik commented on #33571
[PR](https://github.com/saltstack/salt/pull/33613)

[2016-05-29 20:54] knuta opened #33614 "grains.has_key() always returns false in 2016.3.0"
### Description of Issue/Question
grains.has_key()  always returns false in 2016.3.0

### Setup
Our config has used constructs like {% if grains.has_key('os_family') and grains['os_family'] == 'Debian' %} for grains which are not present on all architectures. On 2016.3.0, this stopped working, but "grains.os_family is defined" still works.

Example SLS snippet for testing:

[code]

The resulting f

[2016-05-29 22:29] ambv commented on #33470
Could you uninstall the `*.amzn1.x86_64` and `*.el6.noarch` packages for backports and install both `backports.ssl_match_hostname` (the latest one) and `configparser` (the latest one) by pip and see if that fixes your issue?

As I commented on the [BitBucket issue](https://bitbucket.org/ambv/configparser/issues/13/), I can't reproduce it by simply installing both packages with `pip` on either Pyth

[2016-05-30 00:01] abednarik commented on #33059
I think this is already implemented

[code]

[2016-05-30 00:22] EugeneKay commented on #33609
This also breaks the pkg.uptodate state, which calls pkg.upgrade without an argument.

[2016-05-30 04:35] mudrii commented on #13141
+1 this would be really awesome to have

[2016-05-30 04:52] babilen commented on #33614
It should be pointed out that your master should always be upgraded first and that the version you have installed has an unfixed CVE (cf. https://security-tracker.debian.org/tracker/CVE-2016-3176).

I would recommend to upgrade the master as soon as possible. Not sure if this is actually related to the problem at hand.

[2016-05-30 05:46] Udayendu commented on #33470
@ambv,
I am using a Ubuntu 14.04.4 LTS system and its using Python 2.7.6 by default. And in my system the issue is still reproducible. Let me know what info you need from my side to reproduce it.

[2016-05-30 05:59] syphernl commented on #33524
Even though there are processes running:
[code]

After killing them all (`killall salt-master`) it properly showed stopped, then was able to restart and seems to be working fine now.

[2016-05-30 05:59] #33524 closed

[2016-05-30 06:06] syphernl opened #33616 "[2016.3.0] state.event doesn't stop after ctrl+c"
### Description of Issue/Question

If I stop the following:

[code]

using CTRL+C, in the past it stopped immediately but now it starts spamming:

[code]

This goes on until I CTRL+C it again:

[code]
### Versions Report

[code]

[2016-05-30 06:55] ambv commented on #33470
@Udayendu, start the Python interpreter in the salt environment and run the commands I ran [here](https://bitbucket.org/ambv/configparser/issues/13/). Paste your output here.

[2016-05-30 06:58] knuta commented on #33614
I have since upgraded my master to 2016.3 (I was halfway through a sitewide upgrade when I found the bug), and the behavior is the same.

[2016-05-30 07:02] babilen commented on #33495
I see the following options at this point:

1. Adapt current state and execution modules to InfluxDB 0.9+. This would entail significant changes and would mean that existing setups would break and are forced to upgrade InfluxDB or stop using salt for managing the few things salt is able to manage.

To be honest, given that managing InfluxDB 0.8 is not even possible at this point with current versi

[2016-05-30 07:17] bbinet commented on #33495
Personally I'm all for the 2nd option.

[2016-05-30 07:49] babilen commented on #33614
Thank you for checking!

[2016-05-30 08:09] piersf commented on #32679
@pass-by-value Thanks for looking into it.
The hard coded gateway_id is the ID of a NAT Gateway which i have manually created inside the VPC.
Since i have not seen in the documentation how one can create a NAT Gateway with Salt, i created it manually and then hard coded its ID in the state.

The purpose with that specific routing table (priv_rt_exists) was to route the traffic to a NAT Gateway, in

[2016-05-30 09:05] toabi opened #33618 "[2016.3.0] Slack engine fails when directory contains deleted users"
### Description of Issue/Question

Slack API does not return 'is_bot' key for deleted users. This leads to an KeyError. I guess it's the same error which was fixed in this other projects commit: [django-slackin: fix 'is_bot' KeyError](https://github.com/brilliantorg/django-slackin/commit/d0e746aff47108c51a8889632ccdd604eae4553c).
### Setup

Have a slack engine configured in the master settings.
##

[2016-05-30 10:08] fmnisme opened #33619 "is there some event fired when updating gitfs?"

[2016-05-30 10:11] #33619 closed

[2016-05-30 10:32] lichtamberg commented on #4244
+1

[2016-05-30 10:55] TheBigBear opened #33620 "[2016.3.0] win_pkg: pkg.list_upgrades loops (almost) endlessly - cmds take VERY long"
### Description of Issue/Question
winrepo-ng running of ```pkg.list_upgrades``` takes between 5 - 10 minutes to get a result back

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
using 2016.3.0 on master and minion and running ```salt winminion pkg.list_upgrades``` always times out.
But if run on the windows minion itself as ```salt-call pkg.list_up

[2016-05-30 11:09] avb76 commented on #33059
@abednarik, I still don't get that output, even after updating to the last version of salt:
[code]

I see you have a different version for `iptables`. Does the iptables version matter?

[2016-05-30 11:22] tomlaredo opened #33621 "Precedence for mod_watch and onlyif"
### Description of Issue/Question

Lets assume that we have a state like this:

[code]

How can we make salt run "my-state" ONLY IF a file exists?
As documentation says that we could use the "onlyif" statement for this, I wrote the state like this:

[code]

The problem is that, if the "my-git-state" raises, "my-state" will run even if the "onlyif" condition is NOT met.

I also tried to put the onl

[2016-05-30 11:26] abednarik commented on #33059
HI

 I think so There is an internal check [here](https://github.com/saltstack/salt/blob/develop/salt/modules/iptables.py#L44-L56) to validate iptables options.
 I did also check branch 2015.8 ans is also showing the error instead of just False.

Run this and check if iptables has *--check* option

[code]

[2016-05-30 11:33] avb76 commented on #33059
You're right. I don't have the `--check` option. I've also just noticed [this part](https://github.com/saltstack/salt/blob/develop/salt/modules/iptables.py#L607-L609) in `iptables.check`.

I guess we are good then. @abednarik, thanks for clearing this up for me :)

[2016-05-30 11:37] cristina0botez commented on #16674
Is there a workaround for this?
When will the fix be release?

[2016-05-30 11:47] eliasp commented on #27020
@carlpett The best way to distribute custom modules (including `utils`) is to use [Dynamic Module Distribution](https://docs.saltstack.com/en/latest/ref/file_server/dynamic-modules.html).
For this reason I maintain a local `salt-dynmods` repo containing the corresponding module directories.

Although it's not perfect yet (#24488), it's quite useful for distributing newer or development versions of

[2016-05-30 11:57] abednarik commented on #33059
Glab this helps :)

This should be closed.

cheers

[2016-05-30 13:21] JensRantil commented on #11501
This is still an issue in 2016.3.0. Restarting the minions made them submit immediately.

[2016-05-30 14:00] dincamihai commented on #27155
This problem should be solved by this PR https://github.com/saltstack/salt/pull/33581

[2016-05-30 14:15] jbfriedrich commented on #28114
I took a closer look last night and could identify and fix at least this problem as it is template related. Please expect a pull request later today that will help remedy the issue at hand.

In general the debian_ip.py modules needs a rewrite as the ipv4 and ipv6 settings are not consistently handled. All currently open issues with "bridging" and "up-commands" in the interfaces configuration are c

[2016-05-30 14:35] carlpett commented on #27020
@eliasp Aha, didn't know about _utils. I had already put the state, exec and runners in underscored directories. I'll extract the shared logic to _utils then.

[2016-05-30 14:48] bartlaarhoven commented on #33531
Installing psutils (or python-psutil) didn't resolve this for me, restarting the salt-minion service (TWICE!) did. I encountered this on all machines that updated to the last version of the minion. The first I execute `systemctl restart salt-minion`, I see the following:

[code]

After this, no minion is running anymore. Restarting the salt-minion once again makes sure that the minion is running a

[2016-05-30 15:16] Merlineus commented on #25042
Same issue with clean just installed "Getting started" tutorial:

`root@saltmaster:/var/log/salt# salt '*' test.ping
Salt request timed out. The master is not responding. If this error persists after verifying the master is up, worker_threads may need to be increased.`

`root@saltmaster:/var/log/salt# salt --versions-report
Salt Version:
           Salt: 2016.3.0

Dependency Versions:
           c

[2016-05-30 17:05] mallniya opened #33623 "Question: render templates in salt context"
### Description of Issue/Question

Hi, I'm interested in rendering jinja templates for examining purposes. Basically, I need some cli tool, that takes sls of any template and renders it for particular case.
What I stumbled across is:
- http://stackoverflow.com/questions/34191710/how-to-render-and-dump-the-file-sls-with-salt-stack-without-applying-it

which kinda resolve my problem, but renders onl

[2016-05-30 19:11] lorengordon commented on #33623
See if the yaml outputter does what you need: `state.show_sls <state> --out yaml`.

https://docs.saltstack.com/en/latest/ref/cli/salt.html#output-options

[2016-05-30 19:26] mochrul opened #33624 "python error in iptables if an insert rule is the only one rule"
### Description of Issue/Question
If there is only one rule in the ipables sls and that rule is an insert rule, a python error would appear.

### Setup

[code]

### Steps to Reproduce Issue
When you run state.highstate you will get the following error message:

[code]

### Versions Report

(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.

[2016-05-30 21:07] danslimmon commented on #33548
I looked into this, and I found that the `cmd` call works correctly if it's changed to

[code]

That causes it to be conditioned by `salt.utils.args.condition_input` and added to the payload's `arg` as `{'saltenv': 'admin', '__kwarg__': True}`. The simple fix, as far as I can tell, would be to merge `kwargs` into `kwarg` before conditioning. But I'm hesitant to submit that pull request because I'm

[2016-05-30 21:17] ketzacoatl commented on #31541
@jfindlay - can you comment on the status of this issue? What is the expected behavior in the 2016.x versus 2015.x series? The issue appears to be a WIP, but I see hard failures in 2016.x:

[code]

[code]

I have been running 2015.5.x for a while (based on the community supported PPA), but I recently updated my build process to use the official deb repo, and I'm now running 2016.3.0 - having made

[2016-05-30 21:18] ketzacoatl commented on #23402
@jfindlay / @whiteinge - How does this issue related to #31541? are they different, or should one take precedence over the other?

[2016-05-30 21:19] ketzacoatl commented on #6955
FWIW, reclass handles this use case _very_ gracefully, and I would recommend considering reclass if you need some keys to reference other keys.

[2016-05-30 21:28] ketzacoatl commented on #31541
Lithium works as I expected:

[code]

[code]

[2016-05-31 01:44] mosen commented on #27402
I have the same issue and it seems to be related to the query of group memberships when the group module runs `grp.getgrall` or when the user/group module executes `dscacheutil -q group`. Both of these seem to stall the system while it collects information on Active Directory group memberships. To resolve this locally I've rolled a module that only queries local group membership.

I will be lookin

[2016-05-31 04:20] evonzee commented on #15749
I've implemented support for pkg.group_installed in the pacman module, following along the lines of the yumpkg module.  I think this resolves the issue of configuring groups in Arch, and while it means you have to configure groups separately from regular packages, I rather like having that distinction to avoid ambiguity.

I just submitted pull request #33626. I'd love any feedback/discussion, rega

[2016-05-31 05:35] redmcg commented on #33609
I'm seeing this too. Looks like commit b8b6ac77cec2f73bab321f9477bda7283c05a29a made a change to `yumpkg.upgrade` where it now makes a call to `pkg_resource.parse_targets`. `parse_targets` requires `name` or `pkgs` to be set (otherwise it logs an error and returns None - which causes the iteration on `pkg_params` to fail). This results in `upgrade` now failing when called with the intent to upgrad

[2016-05-31 06:32] anonymouz commented on #33535
@Ch3LL The info you requested;
- The cmd.shell yields the same results (see below)
- Setting the shell flag yields the same results
- Running cmd.run via a highstate **from the master** (=fail) and **on the host** (=ok) yields the same results. This is how I initially ran into this bug.

There seems to be a strange parsing issue when doing redirection and globbing from the master. My _guess_; term

[2016-05-31 07:23] giorgiosironi commented on #33573
Currently we are not setting the `update_head` option, the default of `True` is in line with the expected behavior which is for the code in the git repository to be updated to the specified `rev`. From what the docs say it seems that setting it to `False` does `fetch` only instead of `fetch` and `checkout` which is the default?

[2016-05-31 08:04] guettli opened #33627 "Docs: tcptraceroute shows *where* the blocking firewall is"
### Description of Issue/Question

Up to now you advice people to use netcat to check if the minion can reach the master:

https://docs.saltstack.com/en/develop/topics/troubleshooting/minion.html#what-ports-does-the-minion-need-open

This works, and gives you the boolean result: connection possible vs connection not possible.

There is a different tool, which shows you **where** the blocking firew

[2016-05-31 08:19] konradstarzyk commented on #30515
Probably it is too late to comment on that, but as the original author of both modules I need to add something here;)
I agree that JBoss state was coupled to Artifactory module, but this was done for a reason.
Fetching the artifact in the separate state before deploying it to Jboss means that you have to download it to the predefined location, for example /tmp/application.war.
When you are deployi

[2016-05-31 08:23] dudleyperkins opened #33628 "set password value via debconf.set for installation only once and never again"
### Description of Issue/Question

I want to install mysql-server on debian-server and set the mysql-root-password via debconf. This runs without a problem.

After the Installation debian resets the debconf value for passwords. So on the next hightate run salt says the values differ and try to set again. If salt then changes the value, it is set and you can lookup the password via debconf-get-sele

[2016-05-31 08:29] guettli opened #33629 "salt-ssh sync_grains not working"
### Description of Issue/Question

I can't see my custom grains. I use `salt-ssh`
### Steps to Reproduce Issue

[code]

[code]

[code]
### Versions Report

[code]
### What can I do?

Dear experts, can you please advice me (new to salt) how to debug this?

[2016-05-31 08:59] mallniya commented on #33623
Thanks, @lorengordon, that's definitely what I need.
One more question: is it possible to render not only sls, but also templates in exact environment (I mean taking into account host's pillars, grains etc.)?

[2016-05-31 09:18] tjuup opened #33630 "2016.3.0 __grains__ dictionary empty when calling external pillar"
### Description of Issue/Question

Since upgrading to 2016.3.0 **grains** dictionary is empty in external pillar config
### Setup

We have an external pillar config file that requires the fqdn of the minion making the pillar call.
The fqdn is collected from the  `__grains__` dictonary, but in 2016.3.0 this dictionary seems to be empty.
In the external pillar config this line now fails:
`host: {{ f

[2016-05-31 09:41] Udayendu commented on #33470
@ambv, After upgrading to 2016.3.0 I am unable to reproduce the issue. Hence we can marked this issue resolved in this specific version and close it.

Thanks for your help.

[2016-05-31 09:53] pkruithof commented on #33588
Is there a workaround for this, without changing the `modules/rabbitmq.py` file?

[2016-05-31 10:11] lorengordon commented on #33623
@mallniya, indeed, `state.show_sls` does exactly that.

[2016-05-31 10:42] diego-XA commented on #27266
I am also having this problem:

[code]

From this code in the nginx sls file:

[code]

If I use watch instead of listen, it works flawlessly, but I have problems with states order when using watch.

[2016-05-31 11:07] onorua commented on #33563
Here it is salt-minion state:
[code]
#### salt-minion.dropin
[code]

#### masters.conf
[code]

[2016-05-31 11:09] babilen commented on #33630
Might (!) be related to https://github.com/saltstack/salt/issues/33614

[2016-05-31 11:10] glomium commented on #33588
I'll open a PR if https://github.com/glomium/salt/commit/2ad704e26bbf1ba3384714601eede2be5ad34f5b solves the issue.

[2016-05-31 11:40] rbjorklin opened #33632 "dockerng.volume_present: Dryrun isn't dry"
### Description of Issue/Question
Running a state as `test=True` with `dockerng.volume_present` creates a volume.

### Setup
Create state file as /srv/salt/docker/test.sls

    testing-docker-volume:
      dockerng.volume_present:
        - name: test

### Steps to Reproduce Issue
`salt <insert hostname> state.sls docker.test test=True`

### Versions Report
    $ salt --versions
    Salt Version:

[2016-05-31 11:47] diego-XA commented on #27266
In the code I see that there is not any kind of pattern search, only a direct match: https://github.com/saltstack/salt/blob/develop/salt/state.py#L2157

Unfortunately the code is not commented so I have no idea what any variable contains to test some possible fix.

[2016-05-31 12:20] tjuup commented on #33630
Might well be, because I wondered if no one else has this problem

[2016-05-31 12:29] DimentR opened #33633 "Salt-cloud whenever re-generates keys"
### Description of Issue/Question
Salt-cloud should not re-generate minion keys? right?
When I re-run of 'salt-cloud -m /etc/salt/cloud.map'  change minion keys on the master
I use Ubuntu  and LXC.

### Setup
My salt-cloud map:
[code]
Profiles:
[code]
Providers:
[code]

### Steps to Reproduce Issue
1. Run 'salt-cloud -m /etc/salt/cloud.map'
Container miniontwo created and bootstrapped.
2. See pub

[2016-05-31 12:47] et1975 commented on #33583
There seem to be an event [already](https://github.com/saltstack/salt/blob/develop/salt/utils/gitfs.py#L2204)... although it's less specific and undocumented, and if one was to follow [these instructions](https://docs.saltstack.com/en/latest/topics/tutorials/gitfs.html#refreshing-gitfs-upon-push) it could lead to an infinite loop, if I'm reading the code correctly.

[2016-05-31 12:56] itbabu opened #33634 "`no_chown` option is not working in pip.installed state"
### Description

 `no_chown` option is ignored in  pip.installed state.
The state was working correctly before 2016.3.0 (Boron)
### Setup

Salt state

[code]

/opt/penta/project/requirements.txt contains

[code]
### Steps to Reproduce Issue

Run the above state.

[code]
### Versions Report

2016.3.0 (Boron)

[code]

[2016-05-31 13:15] tjuup commented on #33630
According to the docs `__grains__` should be availalbe in external pillar
[https://docs.saltstack.com/en/latest/topics/development/dunder_dictionaries.html#grains](https://docs.saltstack.com/en/latest/topics/development/dunder_dictionaries.html#grains)

[2016-05-31 13:26] onorua commented on #33563
Forgot to mention, I've installed salt the same way at it is described, using `salt-ssh`.

[2016-05-31 13:50] sebw opened #33636 "salt.states.hipchat.send_message doesn't work without direct access to internet"
My minions don't have direct access to the internet, as a result function hipchat.send_message is not possible:

[code]

It would be nice to be able to specify a proxy configuration in salt-minion config to allow external API calls.

[2016-05-31 13:50] ticosax commented on #33570
@cachedout @Ch3LL My bad, I forgot the AMI I'm using contained already the package salt-common.
That was indeed the old version of salt that was causing this problem.
Thank you for your help.

[2016-05-31 13:50] #33570 closed

[2016-05-31 13:52] techhat commented on #33633
Agreed, it should not create a new key, especially with a map. It should ignore the node entirely.

[2016-05-31 13:53] techhat commented on #33633
@gtmanfred, could you please take a look?

[2016-05-31 13:53] babilen commented on #33495
@bbinet - I pushed some commits I'm currently working on to https://github.com/babilen/salt/tree/influxdb-current which should allow you to manage InfluxDB 0.8 databases and users with current versions of the influxdb-python module.

The states  have been renamed to `influxdb08_user`, `influxdb08_database` and the connection/host configuration is passed in as `influxdb08.*`. Could you try if those

[2016-05-31 14:30] bbinet commented on #33495
Ok, thanks. I don't have much time these days, so don't wait for me to move forward (I will test your changes when I have some spare time, but don't know when).

[2016-05-31 14:33] babilen commented on #33495
Sure, no rush. I just figured that some feedback is better than no feedback :)

[2016-05-31 14:40] mallniya commented on #33623
As I see:
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.state.html
salt.modules.state.show_sls "Display the state data from a specific sls or list of sls files on the master". So I assume this cannot render something else except sls (I need render templates, which are not sls too).
I need something like `salt host state.apply state test=true` output, when it's shown what conten

[2016-05-31 14:45] pkruithof commented on #33588
I can confirm that it solves my issue 👍

[2016-05-31 14:46] lorengordon commented on #33623
Ahh, apologies, I was equating templates with sls files. But by template, you mean a file you pass to a state as a source of content. I'm not as certain on that one... There could be an execution module that does it, but I'd have to do some research.

[2016-05-31 14:46] multani commented on #33504
@Ch3LL Hum, I would say that your locales are not correctly configured, you are probably missing this one and it falls back to C.

I made a Gist using Docker https://gist.github.com/multani/d75235442d605e3e5c0001f0fad89544 which reproduces the problem, let me know if that works for you!

This ends up like this here:

[code]

[2016-05-31 15:08] seanjnkns commented on #33561
What I'm confused about, is these commits seem to point to the Tornado transport, but I'm using the default transport of zeromq.  Is there some type of bleeding over of transports?

[2016-05-31 15:17] cachedout commented on #33578
Closed via #33604

[2016-05-31 15:17] #33578 closed

[2016-05-31 15:28] rallytime commented on #33571
Thank you for the fix @abednarik. I have also back-ported this fix to the 2016.3 branch in #33638.

[2016-05-31 15:30] jfindlay commented on #32959
@kevinquinnyo, I'm not sure either, but it seems to imply that it tries to collect sources across multiple (all?) sources.list files into a single file.

[2016-05-31 15:31] rallytime commented on #33571
@moshe0076 A deprecation warning and fix has been submitted in the PR mentioned above so that using both `enabled` and `enable` will work until Salt Nitrogen. The work-around here is to update your states to use the new `apache_module.enabled` function name instead of `enable`, in case that wasn't clear. Apologies for the breakage.

[2016-05-31 15:44] jfindlay commented on #31978
Ping @techhat.

[2016-05-31 15:46] Ch3LL commented on #33589
@morganwillcock I was able to replicate this behavior on win2012 on 2016.3.0. Looks like we need to get this fixed up. Thanks!

[2016-05-31 15:48] jfindlay commented on #25042
@Merlineus, can you post which get started tutorial you were using and/or the configs you have in place for the master and minion?  Thanks.

[2016-05-31 15:52] jfindlay commented on #33548
@danslimmon, I am not familiar with this part of the code, but thanks for your research.  Ping @cachedout.

[2016-05-31 15:57] jfindlay commented on #31541
@ketzacoatl, if a hard failure happening when an external pillar is unavailable is a change in behavior, I am going to have to defer to @cachedout or @thatch45.

[2016-05-31 16:04] cachedout commented on #33582
Resolved via #33615

[2016-05-31 16:04] #33582 closed

[2016-05-31 16:08] twellspring commented on #33593
Per the nova documentation I changed the identity_URL to
  identity_url: 'https://identity.api.rackspacecloud.com/v2.0/'

Same error still persists.

[2016-05-31 16:10] ketzacoatl commented on #31541
Sure, that makes sense, I'll look forward to their input.

FTR, I agree that in some scenarios, failing hard is the right thing to do, but it isn't _always_ the right thing, or what you want in a build process. For example, I make heavy use of consul, but it's not always available (for valid reasons), and I rely on pillar/ext_pillar working together gracefully in both states (eg consul is not avai

[2016-05-31 16:17] twangboy commented on #32827
Already added: https://github.com/saltstack/salt/pull/30729

[2016-05-31 16:32] Merlineus commented on #25042
@jfindlay, I used official repo https://github.com/UtahDave/salt-vagrant-demo with no change.
There were no messages in master's log at all as if salt command even didn't try to connect to master.

Chainging master's box to "hashicorp/precise64" seems to resolved my issue...

[2016-05-31 16:43] jfindlay commented on #25042
@Merlineus, thanks for the extra information.  This seems like something @UtahDave or @jacobhammons could fix up in the tutorial.

[2016-05-31 17:15] #33571 closed

[2016-05-31 17:19] dmurphy18 commented on #33552
@hernanc Let me look into this, we used to build python-zmq back in 2015.8.1 and 2015.5.6, wonder why not getting built since.

[2016-05-31 17:23] jfrost commented on #24204
+1 for `-S` / `--ipcidr`

[2016-05-31 18:07] dmurphy18 commented on #33552
@hernanc python-zmq is not provided by SaltStack in repo.saltstack.com for Ubuntu 14.04 since it is commonly available, for example:

/srv/ubuntu/2016.3.0/pkgs/ubuntu1404/amd64# apt-cache policy python-zmq
python-zmq:
  Installed: 14.4.0-1
  Candidate: 14.4.0-1
  Version table:
 *** 14.4.0-1 0
        100 /var/lib/dpkg/status
     14.0.1-1build2 0
        500 http://us.archive.ubuntu.com/ubuntu/ t

[2016-05-31 18:09] dmurphy18 commented on #33552
@hernanc With this information, can this be closed

[2016-05-31 18:41] aabognah opened #33643 "Question Not and Issue: When does the Salt master execute highstate?"
### Description of Issue/Question

I have two Salt masters in redundant mode both setup with gitfs to the same repo. I am trying to figure out how to ensure both push the same configurations once a change is made to the repo.

Question:
Does the Salt master by default (without user-defined scheduler) execute state.highstate command? if so how often?

The master config has the `loop_interval: 60`.

[2016-05-31 19:00] rhansen commented on #33563
:+1:

[2016-05-31 19:03] hernanc commented on #33552
Hey, sorry I couldn't pay more attention to it yet. I'm trying to install it in a Linode VM. I have yet to try the above-mentioned solutions but if no one can repro, it must be me. Let's close it. Thanks so much for all your help.

[2016-05-31 19:03] #33552 closed

[2016-05-31 19:24] ketzacoatl opened #33645 "saltutil.sync_all does not sync custom pillar modules to masterless minions"
### Description of Question

In attempting to use the `saltutil.sync_all` module and the `extension_modules` configuration option, and having read various docs ([1], [2] in particular), I am unclear about the semantics and what I should expect from these when used in combination. Herein, I have a couple of questions:

1) If `extension_modules` is _not_ in use, where does `saltutil.sync_all` sync m

[2016-05-31 19:32] Ch3LL commented on #33593
@twellspring I believe this is an upstream issue. can you try updating your python-novaclient? I tested with your python-novaclient version and when opening a python interpreter like so I was able to replicate the error:

[code]

When upgrading to python-novaclient 4.0.0 this error is not appearing anymore.

[2016-05-31 19:35] Ch3LL commented on #33596
@djsly I think this is a sound idea. I'll approve for feature request. Thanks

[2016-05-31 19:46] amontalban commented on #33529
@Ch3LL I think the problem was introduced in f4fb7710c20e946005b2157bf09b083cb3145f9e by @terminalmage.

Check this:
[code]

As you can see the first command looks good, however second is ['pkg'] and therefore it fails.

[2016-05-31 19:46] jfindlay commented on #33600
Thanks for filing, @luc-poynt.  Similar to `network.traceroute` it would be useful to have a `network.dns` function that returned DNS info in a validated data format, rather than leaving up the output parsing to the user like with `network.dig`.

[2016-05-31 20:01] closepin opened #33647 "Pillars passed from command-line override pillar subtrees instead of merging"
### Description of Issue/Question
I am new to github, so apologies if this isn't written as expected.

This is a tracking bug for an apparent regression of issue 18429
 #https://github.com/saltstack/salt/issues/18429
On version 2016.3.0
The reproduction steps on that bug are still completely valid.

Here is the PR for the fix:
 #https://github.com/saltstack/salt/pull/32288

I've rolled my minions

[2016-05-31 20:07] terminalmage commented on #33529
Fixed in https://github.com/saltstack/salt/pull/33648. You can work around this until we release 2016.3.1 by downloading [this file](https://raw.githubusercontent.com/terminalmage/salt/4ad80d29b6cc6d64adec25bf1e2f5b05f577d210/salt/modules/pkgng.py) and placing it into ``salt://_modules/``, then running ``salt -G 'kernel:FreeBSD' saltutil.sync_modules`` to sync the patched file to your minions.

On

[2016-05-31 20:07] tyhunt99 opened #33649 "2016.3.0 dockerng state fails comparing cmd configuration"
### Description of Issue/Question
I upgraded to 2016.3.0 from 2015.8.7 and am trying to start a docker container though the dockerng.running and it fails when trying to compare the cmd value and throws an uncaught exception causing the state to fail.

It will work on the first try but then fail on any subsequent tries.

### Setup
Assuming the image exists and it has a Cmd specified when you do a d

[2016-05-31 20:11] tyhunt99 commented on #33649
Although there is a comment in the code near the line where the exception occurrs:
[code]
Which would indicate command and entrypoint should no be going through this portion of code anyways?

[2016-05-31 20:37] babilen commented on #33647
Commit db31732137869c935629954bca84145734b00887 made it into 2016.3.0, so this must have been broken by something else.

[2016-05-31 20:37] terminalmage commented on #29954
This is implemented in https://github.com/saltstack/salt/pull/33650 and is targeted for the next feature release of Salt.

See [here](https://github.com/saltstack/salt/pull/33650/files#diff-6c68309414d1616a85add22eae559b6b) for a usage example. Once the pull request is merged, this documentation will be available on the development branch's docs (located [here](https://docs.saltstack.com/en/develo

[2016-05-31 20:38] Ch3LL commented on #33608
@ohauer did you test the addition of `grains.update`? I am seeing the same behavior where cpu_flags an d cpu_model are not available but adding that line did not resolve the issue. Although I am testing with salt-ssh.

[2016-05-31 20:38] closepin commented on #33647
Thank you for checking on that.

On Tue, May 31, 2016 at 3:37 PM, Wolodja Wentland <notifications@github.com>
wrote:

[2016-05-31 20:41] ksvasan commented on #33200
@rallytime I guess I've the root cause for this issue. The reason for this issue is that, when we call zk_concurrency.lock(), the identifier is by default None. But the kazoo client is actually translating the identifier to an empty string ("") while creating the child node. Until this point it is fine.

But to identify a host/process which has already acquired a lock (in modules/zk_concurrency.py

[2016-05-31 20:56] Ch3LL commented on #33609
I am able to replicate this and my git bisect also shows the same commit that @redmcg as the first bad commit. Thanks

[2016-05-31 21:04] rallytime commented on #33200
@ksvasan I think that sounds like a good solution. Thank you for the thorough explanation. I think the only thing I have to add is to just be sure that you're documenting any changes that might be necessary to add the default identifier so users of this module can easily know of this change.

[2016-05-31 21:06] cachedout commented on #33630
See if #33651 fixes this up.

[2016-05-31 21:09] cachedout commented on #33517
I just really can't see how this is a bug in Salt itself.

@dmurphy18 could you please explain your reasoning that you mentioned earlier so that @terminalmage and I can look into this? Thanks.

[2016-05-31 21:16] Ch3LL commented on #33616
@syphernl I am seeing the same behavior. Here is the git bisect:

[code]

[2016-05-31 21:20] cachedout commented on #33616
Well done, @Ch3LL

What say you, @s0undt3ch ? :]

[2016-05-31 21:29] techhat commented on #33517
@Ch3LL you told me this is just a packaging issue, right?

[2016-05-31 21:32] cachedout commented on #33517
@techhat This monring @dmurphy18 told us that this is a bug in Salt but I can't figure out how that would be so I'm just waiting to hear back. If it is, we'll fix it up.

[2016-05-31 21:33] Ch3LL commented on #33618
@toabi looks like we could possibly add some logic to detect deleted users and use the `.get`  method instead so we don't get this key error. Thanks

[2016-05-31 21:36] thatch45 commented on #31383
Hi @isbm the main worry is that we have a lot of deployments that are expecting new minions to follow a certain order when getting named, and we should try to keep that consistent, every time in the past when we have changed the order we have had problems. Also, many salt deployments are fairly dynamic, so if the way the ID is assigned changes out from under someone when they just call salt-cloud

[2016-05-31 21:42] cachedout commented on #33605
If we just make the whole log line unicode, by prepending `u`, that should do it

[2016-05-31 21:43] zbjornson commented on #27109
Did anyone find a better approach than adding a new RSA key, or a way to make the gcloud and ssh commands work (as a user other than the salt user) with instances created by salt?

[2016-05-31 21:44] dmurphy18 commented on #33517
Have an idea of it in the build/installing scripts, that is
build/scripts-2.6, will dig in after the SSE 4.1.6 builds

David Murphy
Unix Engineer
SaltStack

3400 North Ashton Blvd., Suite 110 | Lehi, UT 84043, USA

office 801-207-7440 | mobile 385-333-1060
dmurphy@saltstack.com |  www.saltstack.com
*SaltConf16 - Salt Lake City - April 19-21, 2016​ - www.saltconf.com
<http://www.saltconf.com/>​*

O

[2016-05-31 21:47] terminalmage commented on #20485
This appears to have been fixed in the time since this was filed, though I can't find the exact pull request that did so.

Here's an updated SLS since the URL for the tar archive from the original post is no longer valid.

[code]

When run the first time, the file is downloaded and unpacked, but when run the second time, there is no error, the state exits with a ``True`` result, and the file is no

[2016-05-31 21:48] dmurphy18 commented on #33531
@Routhinator An install onto a clean CentOS 7.1 box is done as part of QA (as lowest common denominator) and the issue does not occur.  I shall check if the latest CentOS 7.2 has added some other missing dependency (i.e. psutils) for a package that is needed by Salt.

[2016-05-31 21:51] githubcdr commented on #29451
Hi @cachedout,

Some errors here too after replacing "/usr/lib/python2.7/site-packages/salt/beacons/__init__.py"

[code]

[code]

using this state

[code]

[2016-05-31 21:55] twangboy commented on #32625
@cachedout This is probably caused when the loader tries to load the win_servermanager module. Because this is a windows 7 box, there is no `ServerManager` module and throws the error. We've added some gating to the __virtual__ in the win_servermanager to check for older versions of windows before trying to import the servermanager module. This should be fixed by https://github.com/saltstack/salt/

[2016-05-31 21:56] #32625 closed

[2016-05-31 22:04] zbjornson commented on #27109
Edit: This seems to work fine actually, as long as the instance you're connecting from has "compute" scope permissions. (I assume that's required for transferring SSH keys.) Useful info here: https://github.com/GoogleCloudPlatform/compute-video-demo-salt

[2016-05-31 22:04] amontalban commented on #33529
Hi @terminalmage,

Thank you very much for the prompt fix, I think it fixes the original issue. I was going with the same approach and I found this that I'm not sure if it is correct:

[code]

As you can see this is returning empty string, however if I apply the following patch:

[code]

And execute same command:

[code]

I'm seeing the same behaviour with aptpkg.py so not sure if I'm interpreting

[2016-05-31 22:08] Ch3LL commented on #33620
@TheBigBear I'm having a hard time replicating this on 2016.3.0. How many packages on your windows minion need updates? I just have a simple test case with one package that needs an update and i'm not seeing te command taking very long.

[2016-05-31 22:13] TheBigBear commented on #33620
@Ch3LL on a VM that needs 14 updates it takes in excess of 8 minutes. and on another that needs 11 updates it takes 6 minutes.

[code]

[2016-05-31 22:17] TheBigBear commented on #33620
@Ch3LL I am in the process of logging the output to a file, so I can count how many times it iterates through the loops. But when done from the linux master it times out. and I/O redirection under windows does not seem to ket me catch stdout and stederr, will keep trying.

[2016-05-31 22:17] meggiebot opened #33655 ""Pillars passed from command-line override pillar subtrees instead of merging" regressed on 2016.3"
### Description of Issue/Question
Community member verified this was fixed in 2015.8.10, but has been re-broken in 2016.3.  Reproduction is identical to original issue.

Original issue: https://github.com/saltstack/salt/issues/18429
Original PR: https://github.com/saltstack/salt/pull/32288

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps

[2016-05-31 22:19] amontalban commented on #33529
@terminalmage please disregard my last message I read the docs and clearly says:

@cedwards Can you add this patch to FreeBSD package as a workaround until 2016.3.1 is launched?

Thank you!

[2016-05-31 22:36] #33655 closed

[2016-05-31 22:41] Ch3LL commented on #33621
@tomlaredo reading the following issues: #29492 and #17177 it seems that using cmd.run with onchanges is the preferred method as documented [here](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.cmd.html#should-i-use-cmd-run-or-cmd-wait)

Can you try something similar to the following:

[code]

[2016-05-31 22:49] Ch3LL commented on #33623
@mallniya I don't believe this is possible currently. Is this something you want to set as a feature request?

[2016-05-31 23:03] Ch3LL commented on #33624
@mochrul diving into the code it looks like `position` is a required argument. Here is an example from teh docs:

[code]

If you specify position in your sls are you still seeing an error?

[2016-05-31 23:05] Ch3LL commented on #33627
@guettli im not against adding more ways to check connectivity to the master in the docs. I'll add it as a feature request.

[2016-05-31 23:12] Ch3LL commented on #33628
@dudleyperkins One way that I can think of attacking this is you could ensure that a state is only run once by utilizing grains. You can include the `grains.present` state in your sls file and have it set a grain. And then for whichever state you only want to run once you can wrap some logic around it similar to the following:

[code]

[2016-05-31 23:17] dmurphy18 commented on #33531
@Routhinator since psutils is included as part of the base distribution,

[root@localhost ~]# yum list psutils
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: mirrors.rit.edu
 * extras: mirrors.rit.edu
 * updates: linux.mirrors.es.net
Available Packages
psutils.x86_64                                                                                       1.17-44.el7

[2016-05-31 23:52] Ch3LL commented on #33629
@guettli I am also seeing this behavior in 2015.8.9 and 2016.3.0. Looks like sync_modules is not working either. Looks like we need to get this fixed to be able to add custom modules/grains.

[2016-06-01 00:03] Ch3LL commented on #33632
@rbjorklin i'm not seeing the logic in that function to check if test=True similar to the other functions in that module that look for the test argument (`if __opts__['test']:` We will need to get this logic added and i'll label this is a bug. Thanks!

[2016-06-01 00:21] dmurphy18 commented on #33517
Note: this is not an Amazon Linux issue, the same problem occurs on Redhat 6, where spm is not updated for python2.6

[2016-06-01 01:17] s0undt3ch commented on #33616
I say, dam you signals! :smile:

I'll try to tackle this tomorrow morning.

[2016-06-01 03:11] joshughes commented on #31595
I am still seeing this error with 2015.8.10

[2016-06-01 03:22] ohauer commented on #33608
@Ch3LL yes, and it works for me.
In case you have modified "core.py" after installation, do not forget to remove core.pyc

[2016-06-01 06:35] bigg01 opened #33662 "No 2016 Release in https://repo.saltstack.com/yum/rhel7/"
### Description of Issue/Question
Missing Tom Update for 2016 release

No 2016 Release in https://repo.saltstack.com/yum/rhel7/

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any diffe

[2016-06-01 06:58] tjuup commented on #33630
Yes, i can confirm the fix.

[2016-06-01 07:24] tjuup commented on #33630
I have reopened this issue, because after an saltutil.refresh_pillar the issue is still there.

[2016-06-01 10:19] waxie commented on #33582
@Ch3LL actually no `mysql.socket` setting in my configuration.

But I see they addressed it already.

[2016-06-01 10:57] babilen opened #33665 "[2016.3.0] salt-master should not set "KillMode=process" in unit file"
### Description of Issue/Question

The salt-master does not seem to restart cleanly with the current bootstrap script. If you install or bootstrap it you'll see the following in its log file and the master does not accept any connections:

I verified that it *does* install without problems directly from the repository by following the steps outlined in http://repo.saltstack.com/#debian though.

Yo

[2016-06-01 10:58] guettli commented on #33629
Is there a known work around? Some time later have seen my custom grains on minions. Maybe this bug happens, since we use `salt-ssh` and not `salt`. There is no minion daemon on our minions.

[2016-06-01 10:59] damon-atkins commented on #33609
Please add a Unit Test

[2016-06-01 12:07] TheBigBear commented on #33620
@Ch3LL OK, so for the uk-it-20 machine that needs 13 upgrades it runs through the loop 53 times.
It loops from line 1 - 230 and then repeats itself for another 52 times after that.

the command I issue on the local windows minion is:

```salt-call pkg.list_upgrades```

[code]

and then repeats for another 52 times.

[code]

then cut some and it ends in:

[code]

So it runs through this 53 times in

[2016-06-01 12:17] commutecat commented on #32679
@piersf : At the moment,  saltstack are hot patching the boto_* module to provider cloud functionality. Dynamically create VPC using saltstack need heavy boto3 code intervention, i.e. inject value into the saltstack, it is not easy to throw in Jinja code to acquire lots of information on the fly.

If you need frequent of tear down and reconstruct of VPC, please look into Cloudformation, and use sa

[2016-06-01 12:22] damon-atkins commented on #33620
I have seen this, as well.  I think the backend code the win pkg calls does a DB refresh, I suspect expect it does it for every package it evaluates.  The only work around is salt-call --local from the client.

[2016-06-01 12:42] morganwillcock opened #33667 "file.managed: incorrectly reports changes, in test mode, on Windows"
Testing the following state on Windows incorrectly reports that the file contents will be changed, showing a diff indicating that all lines will be re-written. Testing the same state on Linux works as documented, returning no changes. Actually applying the state on Windows correctly returns no changes.

<pre>{% if grains['os'] == 'Windows' %}
  {% set test_file = 'C:\\test.txt' %}
{% else %}
  {%

[2016-06-01 13:12] giannello opened #33668 "ini.options_present uses DEFAULT_IMPLICIT as a literal section name"
### Description of Issue/Question

With 2016.6.3, ini.options_present doesn't work as expected when DEFAULT_IMPLICIT is used as section name.
### Setup

The following code used to work:

[code]

and created a file with

[code]

Now the file is created as

[code]

Removing DEFAULT_IMPLICIT as section makes it work again

[code]

[2016-06-01 13:34] commutecat commented on #32554
@johje349  :+1:
@jfindlay  : So it is config.py

Update my current salt-master from 2015.8.8+ds-2 to 2016-3-0+ds-1
[code]
I get back the long long apt-get update from my minion, test.ping successful and everything now in order.

[2016-06-01 13:37] lomeroe commented on #32916
@giannello #33599 should fix this in develop.  I'm hoping to get backport PRs submitted this week too, but if you could test out the develop fix, I would appreciate it.

[2016-06-01 13:46] aronneagu commented on #33584
@Ch3LL

[code]

I have 827794 entries in the log file of salt master when searching fo "ps aux|grep php", that is 82 entries per minute.
Should I look for something specific in the logs? I know this feels like looking for the needle in the haystack but I thought it's worth checking with you guys. Thanks

[2016-06-01 13:50] terminalmage commented on #33531
I can't reproduce this, and I don't have psutil nor python-psutil installed. There seems to be something else that is causing this.

[code]

[2016-06-01 14:01] giannello opened #33669 "ini.options_present adds unnecessary whitespaces"
### Description of Issue/Question
With the 2016.3.0 release, ini.options_present adds unnecessary (sometimes breaking) whitespaces around the key/value separator
### Setup
On 2015.8
[code]
results in
[code]

In 2016.3 the following
[code]
results in
[code]

In our specific case, we use ini_manage to handle some files that are sourced by the shell (/etc/default/locales). Adding whitespaces around t

[2016-06-01 14:07] giannello commented on #32916
thanks @lomeroe - I'll test after coming back from holidays.

[2016-06-01 14:07] bartlaarhoven commented on #33531
Have you tried reproducing as I mentioned a few comments before? So first installing an older version of Salt Minion (2015.x) on a recent CentOS box, make sure that's running smoothly, and then just execute `yum update salt-minion` on that minion box, **without** restarting the salt-minion service.

Then try on the master to execute `salt '*' cmd.run 'df -h'`and it will fail with the psutils error

[2016-06-01 14:10] rallytime commented on #33605
@morganwillcock This should be fixed by the change in #33670.

[2016-06-01 14:28] damon-atkins opened #33671 "Message set "hash_type" to SHA256"
### Description of Issue/Question
IMPORTANT: Do not use md5 hashing algorithm! Please set "hash_type" to SHA256 in Salt Minion config!

It appears that SHA256 is invalid and causes an issue, please fix the message to say

IMPORTANT: Do not use md5 hashing algorithm! Please set "hash_type" to "sha256" in Salt Minion config!

Or even better
IMPORTANT: Do not use md5 hashing algorithm! Please add "ha

[2016-06-01 14:31] terminalmage commented on #33531
Ahh, I can reproduce, but only on an upgrade like @bartlaarhoven mentioned.

I will repeat though, that psutil doesn't have anything to do with this. This is simply a matter of the minion trying to use code paths that no longer exist (or are now different) in the 2016.3.0 release.

@dmurphy18 It looks like we can fix this by simply replacing the ``%systemd_postun`` scriptlet with ``%systemd_postun

[2016-06-01 14:47] Routhinator commented on #33531
Your description doesn't match my experience exactly. Restarting the agent doesn't make the problem go away. If I uninstall psutil, the problem comes back. Salt minions will not work without psutil on mine.

I am running this on Digital Ocean's CentOS 7.2 image. Psutil is in a state of deprecation and is being advised that all projects stop using it.

I also searched this error and tracked it down

[2016-06-01 14:51] nasenbaer13 opened #33672 "Salt state.single returns retcode 0 when state function does not exist"
### Description of Issue

The event returned from a state.single module execution has `retcode` set to 0 despite the fact, that the function argument does not map to a valid function. This in particular affects orchestration runs, which cannot detect the error for this case.

[code]

### Setup

latest develop branch

### Steps to Reproduce Issue

To reproduce the problem , one does not need an orc

[2016-06-01 15:03] jfindlay commented on #32554
@commutecat, thanks for confirming.  Do you think this issue could be closed?

[2016-06-01 15:08] jfindlay commented on #32916
@lomeroe, thanks for fixing this.

[2016-06-01 15:10] terminalmage commented on #33517
@dmurphy18 I installed 2016.3.0 on CentOS 6 and could not reproduce.

This is a [well-known issue](https://aws.amazon.com/amazon-linux-ami/2015.03-release-notes/) affecting Amazon Linux due to the fact that they install both python 2.6 and 2.7, but `/usr/bin/python` points to python 2.7. Amazon does this using the [alternatives](https://wiki.debian.org/DebianAlternatives) system.

`/usr/bin/python

[2016-06-01 15:14] commutecat commented on #32554
@jfindlay : I think it is safe to close for  2016-3-0+ds-1.
Should this fix also push to 2015.8.8+ds-2 ?

[2016-06-01 15:21] terminalmage commented on #33531
@Routhinator Your `cmd.run` error suggests that you still have a 2015.8.10 (or earlier) release running in memory. The ``bg`` argument is new to 2016.3.0. Please try stopping the salt-minion service, then check if there are any stale salt-minion processes still running (``ps aux | grep salt-minion | grep -v grep``). If any are running, stop them, and then bring up the salt-minion service again.

I

[2016-06-01 15:40] thatch45 commented on #33517
I both hate and love that idea and I am totally open to it, if it can be done cleanly.
My main worry is that if we do this, and import from the python 2.6 path, but we are running on a 2.7 interpreter, then we will be mixing code from multiple python versions, and that is kind of a nightmare :)

[2016-06-01 15:44] lorengordon commented on #33662
That's the old path, try https://repo.saltstack.com/yum/redhat/.

[2016-06-01 16:09] jfindlay commented on #32554
@commutecat, @johje349 has confirmed the fix on the 2015.8 branch, so I think we are good to close.

[2016-06-01 16:09] #32554 closed

[2016-06-01 16:22] terminalmage commented on #33517
@thatch45 Well, the idea with my script there is that we first test that ``salt.scripts`` is able to be imported. ``/usr/bin/env python2.6`` is tested first, followed by ``/usr/bin/env python2.7``. Our depchain will either be installed to 2.6 or 2.7 directories, so I don't see much of a concern when it comes to multiple versions, especially when it comes to packages provided from our repos (where

[2016-06-01 16:32] cachedout commented on #33517
Forgive my innocence on this one but how common is it for applications to make independent packages for Amazon Linux? Trying to maintain this inside the script kind of makes me groan, but I'm no expert here. Just curious.

[2016-06-01 16:44] damon-atkins commented on #33662
Might be worth adding a header.html or ReadmeName from mod_autoindex
into https://repo.saltstack.com/yum/ to explain

[2016-06-01 16:50] twellspring commented on #33593
Do not see a way to install python-novaclient 4.0.0 on ubuntu 14.04.   I will try this on Ubuntu 16.04.

[2016-06-01 16:51] thatch45 commented on #33517
yes, the more I think about this the more I don't like it, I think that just adding a sed line in the package would be better, especially since I can't reproduce this with the setup.py

[2016-06-01 17:09] edgan opened #33674 "salt-ssh returns a zero code on jinja template failure."
### Description of Issue/Question
I am using salt-ssh for deploys, and if a jinja template variable is not filled it still returns 0. I found that the problem is the host is returning 0, and salt-ssh is depending on that to be non-zero to throw a non-zero itself locally.

### Setup
map.jinja:
        host: {{ hostname }}

### Steps to Reproduce Issue
Use a variable that isn't defined in a map.jinj

[2016-06-01 17:15] twangboy opened #33676 "Runas in Windows"
### Description of Issue/Question
Runas seems to work from single commands from the CLI. Need to test using states. cmd.run with a state isn't passing the password for example.

### Setup
[code]

### Steps to Reproduce Issue
Apply the above state to get the following error:
[code]
### Versions Report
2016.3

[2016-06-01 17:40] mochrul commented on #33624
No, if I specify the position, I get no error and it working.

[2016-06-01 17:44] terminalmage commented on #33424
I think that this is probably just well-intentioned logging gone awry. I'm investigating.

[2016-06-01 17:52] dkiser opened #33678 "dns_max_tries minion setting"
### Description of Issue/Question

As a  Salt Minion Configurator, I Should Be Able to set a setting for `dns_max_tries` setting in the minion config So That I Can successfully break out of  a timed while loop defined by `retry_dns` When setup for `master_type: str`.

https://github.com/saltstack/salt/blob/0187d0e87ed6b05c47064eebe3ed3d8c406c66dd/salt/minion.py#L154

**timed forever loop output**

[2016-06-01 18:07] rallytime commented on #29265
@neil-williamson Would it be possible for you to take another look here, based on the feedback from @devster31?

[2016-06-01 18:33] terminalmage commented on #33424
I have submitted a fix for this in #33679. It seems that we were simply unnecessarily invoking ``compile_template()`` when no top file data was found for a given environment.

[2016-06-01 18:55] Ch3LL commented on #33634
@itbabu I am able to replicate this issue in 2016.3.0 with my sls file pasted below:

[code]

And I am seeing this in the logs: `[DEBUG   ] Changing ownership of requirements file '/tmp/tmpsHin3G/base.txt' to user 'ch3ll'`

Here is the first bad commit (git bisect)

[code]

[2016-06-01 19:01] Ch3LL commented on #33636
@sebw would using using the proxy module currently available be a viable option for your situation? Its documented [here](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.proxy.html#module-salt.modules.proxy)

[2016-06-01 19:12] Ch3LL commented on #33643
@aabognah if you want to run state.highstate at an interval you will need to setup a scheduler. There is a scheduler inside of saltstack that allows you to do this thats documented [here](https://docs.saltstack.com/en/2015.8/topics/jobs/schedule.html). `state.highstate does not run by default at a particular interval.

Also I yes you are right if you setup a scheduler on both master it would confl

[2016-06-01 19:26] edgan commented on #33674
I have dug into the code, and found that there is no detection of template processing failure. In addition handle_ssh in 'client/ssh/__init__.py' doesn't take retcodes from handle_routine and pass them back up to high functions.

[2016-06-01 19:37] Ch3LL commented on #33645
By default extension_modules is in CACHE_DIR/minion/extmods. To be exact on my box they are located here: `/var/cache/salt/minion/extmods/modules`

If you remove a file from your file roots in _modules when running `saltutil.sync_all` it should remove it from extension_modules.

I just did a quick test and it looks like if you are manually adding files to your extension_modules and not your file_r

[2016-06-01 19:44] Ch3LL commented on #33662
@dmurphy18 what do you think about adding a readme explaining this repo is not the current one? Or maybe cleaning it up to displace confusion.

[2016-06-01 19:50] Ch3LL commented on #33624
@mochrul  Great! i'm glad its working! are you okay to close this?

[2016-06-01 20:00] sldenazis commented on #30323
+1

[2016-06-01 20:15] Ch3LL commented on #33649
@tyhunt99 would you mind sharing your state file to help me reproduce this error?

[2016-06-01 20:17] jfindlay commented on #32916
@lomeroe, @giannello, @rallytime has backported this to 2015.8: #33681.

[2016-06-01 20:24] rallytime commented on #33671
This warning is fixed in newer versions of Salt with #32360.

[2016-06-01 20:25] Ch3LL commented on #33667
@morganwillcock thanks for the great test case. I was able to easily replicate this on windows using salt version 2016.3.0 and using `state.sls <slsfile> test=True`.

Which version of salt are you seeing this behavior on?

[2016-06-01 20:34] #29954 closed

[2016-06-01 20:37] Ch3LL commented on #33665
@babilen would you mind opening this up on the [bootstrap](https://github.com/saltstack/salt-bootstrap) repo so we can track it from that repository?

Also while we will move this conversation to that other repo I am not able to replicate this on a debian 8 box. My test case as follows:

1. Clean debian 8 box
2. `wget -O bootstrap.sh https://bootstrap.saltstack.com`
3. `chmod +x bootstrap.sh`
4. `

[2016-06-01 20:41] morganwillcock commented on #33667
@Ch3LL Thanks for looking at this, I'm also using  2016.3.0.

[2016-06-01 20:48] morganwillcock commented on #33587
@Ch3LL I tried to test this a little more today. Disabling a scheduled grain sync that was configured (via pillar data, so just a pillar refresh) seemed to stop the change events being fired, but a couple of hours later they started again (all minions indicating as new and the change event firing every couple of minutes). I'm hoping to test this further tomorrow, but it seems it isn't straightforw

[2016-06-01 21:05] Ch3LL commented on #33668
@giannello looks like this was changed on purpose according to this issue: #16294

Looks liek it would be useful to update the documentation though. I'll add it as a documentation bug.

[2016-06-01 21:07] dmurphy18 commented on #33662
@bigg01 That is an oversight, missed updating the symbolic link.  Thanks for catching that, it shall be updated shortly to correctly point to redhat/7/x86_64/2016.3.

Note that the correct and preferred paths to use are under https://repo.saltstack.com/yum/redhat/
the older rhel7, rhel6 and rhel5 are from the early days of repo.saltstack.com and are maintained for backwards compatibility.

[2016-06-01 21:10] mochrul commented on #33624
Yes, of course.

[2016-06-01 21:28] Ch3LL commented on #33669
@giannello I am able to replicate this. Looks like this is related to #21592 and #26359

ping @Akilesh1597 looks like this was done on purpose, due ot another user wanting the space in their configuration file. Do you see a solution to this issue? Possibly adding a switch to either add/remove whitespace?