[2021-03-30 09:17] OrangeDog commented on #59931
I'm not sure there's even much point in having the parameter, as the port should always be part of the url.
As it currently doesn't do anything, removing it entirely won't break anything.

[2021-03-30 09:17] afletch commented on #59360
#58785 has now been closed, but this issue still persists. Memory usage with gitfs escalates rapidly and the only way to address this is regular restarts of the salt-master process.

[2021-03-30 10:48] #59892 closed

[2021-03-30 11:51] ixs opened #59932 "[BUG] cloud.xen module does not deal with multiple vms with the same name"
**Description**
If a xenserver cluster has multiple machines with the same name, the xen integration will throw a error and break.

This happens also if a template and a machine share the same name, e.g. there's a CentOS template and a machine with the name CentOS, salt will break.

The debug log contains the following message:

[code]

This happens with latest 3002.6 and is due to the following f

[2021-03-30 12:29] OrangeDog commented on #58898
I tried this and it made no difference

What weird is that it does seem to actually fetch it. Changes are visible, and `salt-run fileserver.update` works with no issues.

<details><summary>salt --versions</summary>

[code]
</details>

[2021-03-30 12:45] henrikor commented on #58898
Don't remember all details @OrangeDog. But on my server I have:

[code]
and:

[code]

[2021-03-30 12:52] OrangeDog commented on #58898
I've already removed that one. I can downgrade to pygit2==1.3.0 and see if that makes any difference.

[2021-03-30 14:20] twangboy commented on #59899
I can confirm this bug.

[2021-03-30 16:42] krionbsd commented on #59764
@keithpjolley could you upgrade to the latest version - 3002.6 and re-check?

[2021-03-30 16:53] sagetherage commented on #58804
Discussed in Tuesday Triage 2021-MAR-30 Documentation on how Salt runs outside of Docker but runs commands within the container could be clearer and more robust. If running Salt within containers volumes must be used - for persistent keys through container restarts.

[2021-03-30 17:08] sagetherage commented on #58855
Discussed in Tuesday Triage 2021-MAR-30 this is odd behavior and we were wondering if the name being normalized and thus hanging, but unsure since it eventually works. @krionbsd let's us know what you want to do with this one.

[2021-03-30 17:22] #57490 closed

[2021-03-30 17:23] #59338 closed

[2021-03-30 19:10] nergdron opened #59933 "[BUG] some file.prepend and file.replace states broken in 3002.6 with "KeyError: 'files.is_text'""
**Description**
since upgrading to salt 3002.6, I've got some basic file states that are failing with a stacktrace in salt/utils/context.py line 223:

[code]

running with `-l debug` doesn't produce any further output, unfortunately.

**Setup**
[code]

**Steps to Reproduce the behavior**
run salt-call, watch it fail on this step with the above stacktrace.

**Expected behavior**
file state to be co

[2021-03-31 00:08] TheSemicolons commented on #58855
I believe this may be related to the openbsdpkg.py module not properly returning from `list_pkgs()` and `latest_version()` due to lines 35-37:

[code]

[2021-03-31 00:34] sagetherage commented on #59758
Thank you, @waynew!  @felixmarch hope this helpful and maybe we can get some of the things in this temporary recording into our docs, or perhaps expound on any thing you see particularly useful :)

[2021-03-31 06:51] EHJ-52n commented on #57584
...and in 3002.6
<details>
 <summary>sudo salt-call -V</summary>

[code]

</details>

[2021-03-31 07:13] krionbsd commented on #58855
yes, it seems it's the case, I'll prepare a fix for it

[2021-03-31 09:31] niflostancu opened #59935 "[BUG] v3002.6 After CVE-2021-25282 fix, pillar_roots.write cannot write to subdirs."
**Description**
Issuing a wheel `pillar_roots.write` command no longer allows writing to subdirectories after the aafc5ed6de60403c90201d85963299df351147ec fix.

**Setup**
A default saltstack setup with `pillar_roots` pointing to `/srv/pillar`.

**Steps to Reproduce the behavior**
Running the following script:
[code]
Results in `Invalid path`.

**Expected behavior**
The `hosts/test.txt` file should

[2021-03-31 10:35] bryceml opened #59936 "[DOCS] ads on docs.saltproject.io are 404 erroring."
**Description**
https://get.saltstack.com/rs/304-PHQ-615/images/Salt-docs-menu-ad-250x63.jpg
and
https://get.saltstack.com/rs/304-PHQ-615/images/Salt-docs-ad-330x330.png

are 404 erroring on the docs on pages such as https://docs.saltproject.io/en/master/topics/releases/3002.6.html

also, they link to saltconf.com urls which are no longer valid

**Suggested Fix**
update the images and the links

[2021-03-31 14:24] withshubh commented on #59449
Hey @s0undt3ch 👋

Any update on this?

[2021-03-31 15:26] ScriptAutomate commented on #59936
Ah! Attaching these images for use and easy reference for replacements now that those other images are gone:

![Try Salt Now](https://user-images.githubusercontent.com/5951023/113169382-29e37480-920b-11eb-9d77-0b1642271231.png)
![Salt Banner](https://user-images.githubusercontent.com/5951023/113169385-2a7c0b00-920b-11eb-92b6-93e2822cc171.png)
![Presentation1](https://user-images.githubusercontent.

[2021-03-31 15:34] Ch3LL opened #59938 "[TEST FAILURE] tests.pytests.integration.proxy failing on macosx catalina"
I'm seeing these tests fail consistently on PRs for macosx catalina:

tests.pytests.integration.proxy.test_simple.test_remove_pkgs
tests.pytests.integration.proxy.test_simple.test_upgrade
tests.pytests.integration.proxy.test_simple.test_service_list
tests.pytests.integration.proxy.test_simple.test_service_stop

https://jenkins.saltproject.io/job/pr-macosxcatalina-py3-pytest/job/PR-59915/9/

[2021-03-31 17:04] ScriptAutomate opened #59939 "[DOCS] Prepare Sphinx docs for 3004 / Google CSE Previously"
**Description**

- Update `conf.py` for 3004 Google Custom Search Engine (CSE)
- Do so ahead of time, to make the eventual 3004 release easier by not having to remember this task

**Additional context**

https://github.com/saltstack/salt/blob/e12623ad27c5ed650f538ea05383edffca69543b/doc/conf.py#L80-L109

[2021-03-31 17:15] #59888 closed

[2021-03-31 18:41] piterpunk commented on #50610
@twangboy , your change in 64f45f8650fb30a4938c4e261124524f35c47cbb didn't also fix this bug?

[2021-03-31 20:06] sagetherage commented on #59360
We will continue to look at this issue.

[2021-03-31 20:08] sagetherage commented on #59773
this is corrected in the Aluminium Release, today - closing

[2021-03-31 20:08] #59773 closed

[2021-03-31 20:11] #59427 closed

[2021-03-31 20:13] sagetherage commented on #59427
closing is at the feature is implemented in Aluminium and we have another ticket to document and to start catching these as well

[2021-03-31 20:27] bryceml opened #59942 "[BUG] v3003 a salt-master using python 3.7+ using salt-ssh cannot work with a minion using python3.5 or 3.6"
**Setup**
install salt-ssh on an ubuntu 20.04 box and use it to control an ubuntu 16.04 box (probably happens with centos 7, 8, debian 9, and ubuntu 18.04 as well)

**Steps to Reproduce the behavior**

[code]

I also tried doing `pip3 install contextvars immutables --prefix /usr` and `pip3 install contextvars immutables` on the master and it didn't fix the issue.

**Expected behavior**

[code]

**

[2021-03-31 20:28] #58813 closed

[2021-03-31 20:30] sagetherage commented on #57753
Derek has been assigned other prioritized work so moving this to Silicon release cycle.

[2021-03-31 20:37] sagetherage commented on #59942
@frogunder @Ch3LL if we don't have a test for this in the packaging tests we should consider adding something see internal slack conversation starting here: https://saltstack.slack.com/archives/C04HEQ97D/p1617221478334300 in releasediscussions

[2021-03-31 20:40] sagetherage commented on #57951
moving this to Silicon release cycle due to severity and needing testing case written

[2021-03-31 20:41] dwoz commented on #59942
Ideally we'd be able to add a test for this in the regular test suite too. With the docker stuff in pytest we should probably be able to come up with something.

[2021-03-31 20:42] sagetherage commented on #57118
please test your use cases in the latest version released today 3003 or if possible in 3002.6

[2021-03-31 20:45] sagetherage commented on #57118
Please open a new issue if you have not already and if it is still a problem, please. @ixs

[2021-03-31 20:45] sagetherage commented on #57118
@denz7201 what issue are you still seeing, exactly? the comments went in another direction so attempting to clear it up :)

[2021-03-31 20:55] bryceml commented on #59942
probably a different minor issue, but I also see
[code]
as well with salt-ssh where I didn't before when running `salt-ssh \* state.single pkg.uptodate uptodate refresh=True dist_upgrade=True`

debug output
[code]

[2021-03-31 21:02] sagetherage commented on #55192
Closing and fixed in Aluminium release

[2021-03-31 21:02] #55192 closed

[2021-03-31 21:06] sagetherage commented on #52288
The PR is still open and now has merge conflicts @twangboy let me know if you can get to this in Silicon, please.

[2021-03-31 21:19] sagetherage commented on #59935
@niflostancu yes, please open a PR for review, thank you! :)

[2021-03-31 21:32] sagetherage commented on #59922
@vin01 you are welcome to open a PR for a detailed review

[2021-03-31 22:12] ShaneHutter commented on #59506
Hi Team,

I'm just checking to see if there has been any progress with this.  On our end, we are seeing allot of spamming to syslog from this bug, and this is adding to disk IO on servers.

[2021-03-31 22:24] dwoz commented on #59740
@CriProphet I don't understand this ticket. Can you please provide more information on the issue you are having?

[2021-03-31 22:38] sagetherage commented on #59738
@meaksh any thoughts here?

[2021-03-31 22:50] waynew commented on #59920
@mariushoch Thanks for the report and the PR - I was helping @joechainz review this and we couldn't actually reproduce the issue to validate the fix.

Using this Dockerfile

[code]
Build & run that dockerfile, then:

[code]

I was not able to get Salt to dump both entries into the same file. Even looking at the code that was changed I don't see how that code would have done anything different. It

[2021-03-31 23:11] mariushoch commented on #59920
Interesting... I've ran salt with `strace -f -e trace=execve` in and outside of the container and found (look for `si_uid`):

On bare metal:
[code]

In podman:
[code]
Offhand I have no idea why that might be.

[2021-03-31 23:52] SynPrime commented on #55103
Same issue with Salt 3003 and Python 3.7.3 (master and minion)

[2021-04-01 01:51] dmurphy18 commented on #59838
@sagetherage Are you sure I am the correct person for this since macOS, and I have never worked on Mac's, perhaps @twangboy might be a better person for an initial look. If not, I can dig in tomorrow.

[2021-04-01 02:48] denz7201 commented on #57118
I am seeing a memory + pegged cpu cyclically under version 3002.5  and prior.  I just updated to 3003 and will monitor.  Most recently OOM was triggered 73 times in the last 10 days.  I am about to give up on CentOS 8 as I am not seeing this behavior on a CentOS 7 machine in two other environments.

[2021-04-01 04:22] xeacott commented on #59705
Booted up a centos box and tested this out... let me see if I can find the last working version

[2021-04-01 04:32] xeacott commented on #59705
@TheBigBear Went all the way back to salt 3000 and the issue is still persisting. So definitely replicating it, just not sure how far back the issue is. Nonetheless seems to be a pretty quick fix so I'll get one up here soon.

[2021-04-01 09:12] OrangeDog commented on #59425
Just seen this in the release notes. What's the alternative when you want every minion to have a random unique value, and someone with root access to the minion changing it is not an issue?

`get_or_set_hash` is the only way I can see to do it automatically at scale.

[2021-04-01 10:23] harmv commented on #55886
ref: https://github.com/saltstack/salt-enhancement-proposals/pull/35

[2021-04-01 11:10] sooraj2589 opened #59945 "split string and display the second word only?"
I am getting a response which has two parts such as
**Boolean, Integer** eg: true,12334

How we can split the string and assign the second string to a variable.

I have tried with strngvar.split(',')[-1:], also other formats.nothing is working..

Can anyone help me on this?

Salt version
3000.1

[2021-04-01 11:56] danmac-uk commented on #59942
Can confirm with Debian 10 master, salt-ssh now fails with the contextvars error on Debian 9 target, as of the 3003 update. Debian 10 targets unaffected.

[2021-04-01 11:58] djneades commented on #59942
This bug also occurs against a Ubuntu 18.04 target.

[2021-04-01 12:41] kwargs commented on #57505
We are trying to update Salt minions from `2018.3` to `3000.9`.
And that was an unexpected and breaking change.

`2018.3`
[code]

`3000.9`
[code]

[2021-04-01 12:46] piterpunk commented on #53393
@sagetherage this issue can be closed with the #58915 's merge

[2021-04-01 13:05] sooraj2589 commented on #59945
I could split the values and assigned the second string to a variable. I have imported the variable in another sls, but the variable gives new string values rather than from previous curl.

Can we make the variable as static and passing between state files?

[2021-04-01 13:26] sagetherage opened #59946 "[DOCS] 3003 Release Notes headers vary and out of order"
**Description**
3003 Release Notes headers vary see screen shot -- all should be at the same as `New Features` and out of order
the order has been: Features, Added, Changed, Deleted, Fixed

**Suggested Fix**
Headers match and order is similar to above

**Type of documentation**
Release Notes for v3003

**Location or format of documentation**
https://docs.saltproject.io/en/3003/topics/releases/3003

[2021-04-01 14:03] Ch3LL opened #59947 "[BUG] [3003] __salt__ not available when using ThreadPoolExecutor"
**Description**
When attempting to use a custom runner that calls other runners while using a threadpool, `__salt__` becomes unavailable.

**Setup**

custom runner is below:

[code]

**Steps to Reproduce the behavior**
1. Add the runner above.
2. Start master and minion
3. Run the runner:

[code]

This is happening because `__salt__` is not available when the `blocking_func` is called.

I bisected

[2021-04-01 15:01] danmac-uk commented on #59942
For those on Debian 10 who want things working, I recommend editing your apt sources.list file that references the saltstack repo (mine is /etc/apt/sources.list.d/saltstack.list) replace "latest" with "3002" at the end of the URL, then run the following:

`apt-get update && apt-get install salt-master=3002.6+ds-1 salt-common=3002.6+ds-1 salt-ssh=3002.6+ds-1`

This should stop any future upgrades >

[2021-04-01 15:33] ggiesen opened #59948 "[DOCS] Typo: Cisco NSO is listed as Cisco NOS in Network Automation Docs"
**Description**
Cisco NSO is listed as Cisco NOS in Network Automation Docs at https://docs.saltproject.io/en/master/topics/network_automation/index.html

**Suggested Fix**
Change Cisco NOS to Cisco NSO

**Type of documentation**
Salt Documentation

**Location or format of documentation**
https://docs.saltproject.io/en/master/topics/network_automation/index.html

[2021-04-01 15:35] waynew opened #59949 "Remove irrelevant salt/ext/ipaddress.py module"
We've dropped Python2 support and the only reason that salt.ext.ipaddress ever existed in the first place was as a backport for Python2.

Previously the only places it was being imported was gated on Python3, though now it's only found in `salt/_compat.py` with an Python 3.9 gate, but that should be irrelevant, as far as I can tell.

[2021-04-01 15:40] waynew commented on #51819
This issue may not be stale, but it should no longer be relevant - `salt.ext.ipaddress` was only for Python2 support, which has been dropped. If the way that we are using ipaddress within salt is broken we should fix that. I opened an issue https://github.com/saltstack/salt/issues/59949

I'm going to go ahead and close this issue, since it looks like simply removing our ipaddress port will solve t

[2021-04-01 15:40] #51819 closed

[2021-04-01 17:51] waynew commented on #59945
Hi @sooraj2589, thanks for the question, but this is the wrong venue when it's not just something broken in Salt. For questions there are several options:

- [#salt on freenode](https://kiwiirc.com/nextclient/irc.freenode.net/?nick=IRC-Source_?#salt)
- [Salt Users email list](https://groups.google.com/forum/#!forum/salt-users)
- [Salt Community Slack](https://saltstackcommunity.herokuapp.com/)

[2021-04-01 17:51] #59945 closed

[2021-04-01 17:53] #58360 closed

[2021-04-01 18:09] waynew commented on #59920
Was that in your environment or with my Dockerfile? Because IIUC that's running with root and non-root, as it should.

But you're reporting that root gets both crontab entries. Is that happening with this Dockerfile? Or in your own environment?

[2021-04-02 00:49] ebusto opened #59952 "[BUG] Salt API fails to encode datetime objects as JSON."
**Description**
The Salt API uses the default JSON encoder, which does not handle datetime objects.

**Setup**
I added some scheduled functions to our minion's pillar. When retrieving the `schedule` pillar with `pepper`, the `salt-api` service emits an exception.

**Steps to Reproduce the behavior**
`pepper '*' pillar.get schedule`

**Expected behavior**
The schedule to be displayed, exactly if I

[2021-04-02 01:19] #53393 closed

[2021-04-02 01:25] sagetherage commented on #59838
my mistake I guess it read it incorrectly!

[2021-04-02 01:26] ScriptAutomate commented on #59946
The history of this file looks a bit mangled. Somewhere along the way, sections were deleted that messed up the headers:

@frogunder  https://github.com/saltstack/salt/commit/c9b2d89267b87a1dd32abd8a75b5196d246449ce#diff-ef7b315c9828d9a9a2de5f41ce[…]d2bb3c806e8356da834ad637aa3f209c

I'm not sure what sections were intentionally or unintentionally deleted, and what should actually be there, etc.

[2021-04-02 09:36] the-Arioch opened #59954 "[BUG] salt-mount fails to query non-Latin filesystem labels on Linux"
[code]

[2021-04-02 09:41] ggiesen commented on #59750
I did some sample installs for comparison to try to determine the correct guestshell size requirements:

### Default guestshell (2.3.0) on n9k, no updates, no Python3:

[code]

### guestshell resized to 500/350, no updates, no Python3:

[code]

### After salt-minion 3000.1 install (running) and updates to curl and rpm (to be able to install Salt):

[code]

### Attempt to do full yum update:

[code

[2021-04-02 09:48] the-Arioch commented on #59954
Dunno if this is relevant to how systemd runs salt daemon or not...

[code]

So, i can not repro this mangling in bash.

In general my vacation is runing over and while this itch it still mine my capailities to scratch it will be limited.

Bad luck, i did not stumbled upon it when debugging https://github.com/saltstack/salt/issues/54508

Perhaps some day later...

[2021-04-02 09:57] ggiesen commented on #59750
Note the repos in the default container are unadulterated CentOS repos. There are no Cisco packages or repos at all, so the transition from PY2 to PY3 on a guestshell shouldn't be any different than any other CentOS 7 box. Cisco does not appear to have any newer guestshell than 2.3.0 (at least for the recommend 7.0 release). I doubt we'll see a CentOS 8 guestshell (maybe AlmaLinux or Rocky Linux o

[2021-04-02 10:16] 787771075 opened #59955 "[DOCS] can not run salt-minion as unprivileged"
can run salt-master  as unprivileged
it is OK
![Snipaste_2021-04-02_18-05-44](https://user-images.githubusercontent.com/31592492/113407030-1c7ee380-93df-11eb-91e0-d159322c80ae.png)

but can not run salt-minion as unprivileged,
Always display a root user
![Snipaste_2021-04-02_18-08-15](https://user-images.githubusercontent.com/31592492/113407078-36b8c180-93df-11eb-89ac-6ab726b6b018.png)

my config

[2021-04-02 10:26] #20789 closed

[2021-04-02 10:37] #52288 closed

[2021-04-02 10:40] ggiesen commented on #59750
The other point to note, is that per the docs, at least some N3Ks only have 1.6 GB of bootflash. If the guestshell is using 1GB, I don't know if that leaves enough storage for NX-OS. I don't have any N3Ks to validate this with myself.

[2021-04-02 11:07] Ch3LL commented on #59947
Spoke with @dwoz offline. This is on purpose, since the new changes in the loader where added to ensure loaders where not stomping on each other between threads.

[2021-04-02 11:07] #59947 closed

[2021-04-02 14:01] awestendorf opened #59957 "[BUG] Grain loading precedence documentation is inconsistent"
**Description**

We're using Salt 3002.2 and trying to use a custom grain to declare `meta_role` for a machine, based on a static `role` grain, but are unable to do so because of the order in which grains are processed. At the time of evaluation, `/etc/salt/grains` has not yet been loaded and so it is not passed in the `grains` argument to the function.

In reading the [documentation](https://docs

[2021-04-02 16:32] BilRichter commented on #57118
I am seeing the exact same problems as denz7201.  CentOS 8 started having memory exhaustion with 3002.2.

[2021-04-02 16:43] dgengtek commented on #58826
The new format does not work.

salt v3003

from documentation:

[code]
results in error:
[code]

[2021-04-02 18:03] mariushoch commented on #59920
Ok, I found the culprit… the problem is that my environment features `LOGNAME=marius` (as I used `su` to switch users). Running `salt` via `sudo` (or `su -` or manually setting `LOGNAME` to `root`) fixes this.

I will close this issue now, but I'm thinking about opening a new one about the `LOGNAME` issue (although that might be a fairly exotic problem).

[2021-04-02 18:04] #59920 closed

[2021-04-02 18:22] #59650 closed

[2021-04-02 18:30] mariushoch commented on #59920
This is essentially #51055.

[2021-04-02 18:36] mariushoch commented on #51055
Still a problem on Fedora 33, probably for the same reason (both ran as root):
[code]
Worked around by using `alias salt-call='LOGNAME=root salt-call'`.

[2021-04-02 19:39] #46611 closed

[2021-04-02 20:24] #59948 closed

[2021-04-02 21:46] gabrielgt opened #59959 "[BUG] Parallel orchestration needs improvement"
**Description**
Execution of orchestration steps with `parallel: True` and dependencies among them using `require` does not work as expected.

**Setup**
I am trying to execute states B1 and B2 in one minion and C in another one using `parallel: true`, that is:
[code]

Dependencies among steps are indicated by `require`. The dependencies among steps could be more complicated and the results are sti

[2021-04-02 22:37] garethgreenaway commented on #58239
The state adding the scheduled job looks wrong.  The `job_kwargs` argument should end up being a dictionary, what you have above will result in it being a list of dictionaries.  This should fix it and we should make sure we have a check in place in the schedule.present function to ensure that the job_kwargs argument is the right format.

[code]

[2021-04-03 09:06] ixs commented on #57118
The specific memory consumption behavior this bug is about I cannot reproduce anymore with 3002.6 or 3003 on CentOS 7.
Did not test on any other OS releases.

[2021-04-03 10:54] jgraichen opened #59961 "[BUG] 3003 fails to load extensions from entry point if loader function is a generator"
**Description**

Existing salt extensions that are loaded via entry points in python packages and had loader functions that yielded, fail to load at all in salt 3003.

**Setup**

Existing loader function in the python package:

[code]

Entry point definition:

[code]

**Steps to Reproduce the behavior**

Try to load the plugin using the existing loader function above.

**Expected behavior**

I wou

[2021-04-03 20:00] litnimax opened #59962 "[BUG] Salt 3003 thread does not have access to __salt__['mod.fun']() any more"
**Description**
This is an engine that accepts salt commands using a custom protocol.  The engine is implemented in the tornado in IO loop.
Every command is handled async using thread pool executor (anybody knows a better idea how to call __salt__['mod.func'] asynchronously from async code?).
This code works fine in 3002.2 and earlier.
Here are meanning parts of it:

[code]
Here is the traceback t

[2021-04-04 04:22] auphofBSF commented on #59942
Experiencing the same issue  target minion (raspbian - stretch, python 3.5.3) salt-minion version 3003 installed
On target minion  `salt-call --local test.version ` responds correctly

on master using salt-ssh (3003)  running in  (alpine linux 3.13 python 3.7.10)
`salt-ssh -i  <DeviceID> -r 'ls -la'` responds correctly
`salt-ssh  -i  <DeviceID> test.varsion`  fails with `ImportError: No module nam

[2021-04-04 11:04] network-shark commented on #59838
Do you really think this bug is specific to mac os ?

[2021-04-05 08:48] taras94 commented on #57058
I'm observing exactly the same behavior as described.
Also i was trying to use [salt.states.beacon.present](https://docs.saltproject.io/en/latest/ref/states/all/salt.states.beacon.html#salt.states.beacon.present) but it does not help.

[2021-04-05 09:00] meaksh commented on #59738
@sr1k5f4 setting `log_level: trace` in the salt minion configuration, for example in `/etc/salt/minion.d/custom.conf`, usually helps to debug beacons on the minion.

As @lukasraska already mentioned, this failing `vnc_cleaner` is not part of the built-in Salt beacons and AFAIK it's also not part of SUSE Manager. Is this a custom beacon module that you provide via `_beacons` in your salt-master ins

[2021-04-05 10:21] OrangeDog commented on #58826
@dgengtek did you set `use_superseded: [module.run]`?
https://docs.saltproject.io/en/latest/ref/states/all/salt.states.module.html

[2021-04-05 10:25] OrangeDog commented on #56389
@garethgreenaway was this supposed to be fixed in 3003?
There's a very similar one still happening: #59952

[2021-04-05 11:16] #59332 closed

[2021-04-05 15:17] garethgreenaway commented on #56389
@OrangeDog Yup.  Should be fixed in 3003, but apparently not when using the API.  Will take a look.

[2021-04-05 15:28] sagetherage commented on #59955
@787771075 where in the docs are you seeing this? Can you please post the docs link, as well?

[2021-04-05 15:40] sagetherage commented on #59957
@awestendorf Salt v3002.2 is vulnerable, we recommend upgrading at your earliest to at least v3002.6 and is this a `Bug` or is this as the title describes "inconsistent" docs or both, simply clarify, thank you!

[2021-04-05 15:51] sagetherage commented on #59949
@waynew will this break anything? I am thinking it won't, but is more of a clean up task, yes?

[2021-04-05 15:59] awestendorf commented on #59957
I consider it a bug because the docs describe the expected grain load order, but the code does not enforce that order. The docs are inconsistent on this because they state that one cannot be certain of what's loaded into the `grains` argument at the time of execution, which is true for the order of the programmatic grains, but all previous grain load steps should be complete when programmatic grai

[2021-04-05 16:37] #56389 closed

[2021-04-05 17:00] felixmarch commented on #59758
Hey @waynew, @sagetherage. Happy Easter, thanks for the walk thru at Twitch!

Finally I am able to run nox with some tests you showed in the test clinic there ([commit 1](https://github.com/felixmarch/salt/commit/293e27d0590918d5e1aa488127a039a43d15ca6d)) ([commit 2](https://github.com/felixmarch/salt/commit/7158e73e05936b450c472839618938c3f918817f))

In your last video, you showed some code refac

[2021-04-05 17:20] sagetherage commented on #58239
This seems less sever even though it is a `Regression` but moving it to be corrected in `Silicon`

[2021-04-05 17:24] sagetherage commented on #59631
Please see final report or Retro Artifact of Actions: https://saltproject.io/cve-retro-artifact-actions-2021-mar/. Extended responses are on the [meeting notes for the Open Hour 2021-MAR-11](https://saltproject.io/open-hour-2021-mar-11/) this closes this issue for the 2021 FEB/MAR CVEs. Thank you for all your participation and contributions!

[2021-04-05 17:24] #59631 closed

[2021-04-05 17:40] sagetherage commented on #49889
Reviewed in Grooming 2021-APR-05 putting this back into triage to confirm it is still an issue and open PR against Master could be a base for a potential fix.

[2021-04-05 18:46] #59769 closed

[2021-04-05 20:27] dmurphy18 commented on #59838
@network-shark Standard practice would be to try to reproduce the issue on the platform exhibiting it initially.  The packages for the macOS are produced separately from those done for Linux based packages, and something might have been missed in the packaging efforts.  Use of 'net.cli' has worked with other platforms, hence some dependency might be missing on macOS, hence makes sense to start the

[2021-04-05 20:51] network-shark commented on #59838
I never had any problems with net.cli and mac os and proxy minions. I will try to recreated this issue on linux....

[2021-04-05 22:07] ggiesen commented on #56502
It looks like the correct links are:

http://ops.openconfig.net/branches/models/master/openconfig-lldp.html
http://ops.openconfig.net/branches/models/master/openconfig-interfaces.html
http://ops.openconfig.net/branches/models/master/docs/openconfig-lacp.html#lacp-interfaces-interface-config-lacp-mode
http://ops.openconfig.net/branches/models/master/docs/openconfig-lacp.html#lacp-interfaces-interfa

[2021-04-06 02:17] 787771075 commented on #59955
@sagetherage
Thank you for your answer
docs url:https://docs.saltproject.io/en/latest/ref/configuration/nonroot.html
non-root user  is  safety requirements
Only ordinary users and give sudo permission
run salt-master as unprivileged is OK, all process is use ordinary users
Can minion  be the same as that

[2021-04-06 11:31] Oloremo opened #59971 "[BUG] 3003 pillar calls are twice as slow comparing to 3001.3"
**Description**
We're testing an update from 3001.3 to 3003.0 and we noticed that any pillars call now takes roughly twice as long.

Note that we use [pillarstack](https://docs.saltproject.io/en/latest/ref/pillar/all/salt.pillar.stack.html) for pillars.

**Steps to Reproduce the behavior**
[code]

**Expected behavior**
The call time should be roughly the same or expected performance regression sho

[2021-04-06 15:16] #58260 closed

[2021-04-06 15:17] alexandre-allard-scality opened #59973 "network.system state set hostname twice in /etc/sysconfig/network"
**Description**
On latest Salt version, when applying the following:
[code]
On a RedHat system, you end up with `/etc/sysconfig/network` looking like:
[code]
The culprit is: https://github.com/saltstack/salt/blob/25346b9175363e051a2abc49549a2731e098c00f/salt/modules/network.py#L1458-L1464

Fixed with:
[code]

[2021-04-06 15:53] #56502 closed

[2021-04-06 15:53] #59741 closed

[2021-04-06 16:40] sagetherage commented on #59973
@alexandre-allard-scality yes, can you open a PR and we will get it reviewed? thank you!

[2021-04-06 16:45] sagetherage commented on #59017
@github-abcde do you have time to submit a PR on this? We will gladly review, thank you!

[2021-04-06 16:52] sagetherage commented on #59067
@nerdbaggy looks like the PR is merged, so closing this PR, let me know by mentioning me if that is not the case, thank you!

[2021-04-06 16:52] #59067 closed

[2021-04-06 17:02] sagetherage commented on #59142
@bhenderson69 we don't yet support Ubuntu 20.10, are you only seeing it on this OS?

[2021-04-06 17:08] sagetherage commented on #59204
@sooraj2589 can you provide the sanitized logs, please?

[2021-04-06 17:10] sagetherage commented on #59224
@macejko8 can you send your sanitized state file, please? thank you!

[2021-04-06 17:59] alexandre-allard-scality commented on #59973
Ok, I'll do it today.

[2021-04-06 18:02] sagetherage commented on #59942
@auphofBSF looking to correct in the 3003.1 minor release later in April

[2021-04-06 18:48] cmcmarrow commented on #59040
It looks like we fail to reload data into the cache if the data is missing. Catching the exception and reload that data that we need should do the trick. If the reload fails then we throw the same exception.

[2021-04-06 19:26] aarnaud commented on #43637
Thanks Stale bot but this issue still present even in 3002.6.

The next fire time is in the past:
[code]

[2021-04-06 19:40] jgraichen commented on #59961
The use of `yield` has been taken from the official documentation: https://docs.saltproject.io/en/latest/topics/tutorials/packaging_modules.html

[2021-04-06 20:27] bhenderson69 commented on #59142
Yes we are using the Ubuntu 20.10. Do you think this is an OS issue? I am seeing this on the **client** side which is Windows 10.
I tested again in my dev environment and here is the client side error:
DEBUG   ] schedule: Job __master_failback was scheduled with a max number of 1
[INFO    ] Running scheduled job: __master_failback
[DEBUG   ] Subprocess SignalHandlingProcess-7-Schedule-__master_fai

[2021-04-06 20:38] meelmeal opened #59975 "[BUG] Salt 3003 - virt.keys is failing after upgrade from 3002"
**Description**
after upgrading from 3002 to 3003 , virt.keys (which handles the certificate signing for libvirtd on minion KVM hypervisors) is failing. Salt masters can communicate with the hypervisors that were added before the upgrade but due to the virt.keys state failure no new HVs can be added.

**Setup**
both master and minions are using Debian 10 buster with Salt 3003.

**Steps to Reproduc

[2021-04-06 20:49] lukasraska commented on #59955
@787771075 The problem probably lies within systemd configuration, as the service is specified to run as root, but all salt subprocesses are created under the user specified in config. Can you adding following into `systemctl edit salt-minion` and then restarting the service? (might be needed to chown the files/directories under the specified user again)

[code]

I've tested it locally and it work

[2021-04-06 21:04] ggiesen commented on #59955
Yes as far as I'm aware there's currently no sudo capability for an minion to escalate privileges when required. That being said, there is a SEP (Salt Enhancement Proposal) to add this functionality (or something similar):

https://github.com/saltstack/salt-enhancement-proposals/pull/35

[2021-04-06 21:08] bhenderson69 commented on #59142
Also, I ran salt '*' status.ping_master localhost on the secondary master and got the following reply:

root@qfmsdev2:~# **salt '*' status.ping_master localhost**
qfmsdev2:
    True
ATDSalt5.corp.qorvo.com:
    The minion function caused an exception: Traceback (most recent call last):
      File "C:\salt\bin\lib\site-packages\salt-3002-py3.7.egg\salt\minion.py", line 1889, in _thread_return

[2021-04-06 21:45] whytewolf opened #59977 "[BUG] windows, runas stops the ability to use success_retcodes"
**Description**
useing runas with success_retcodes causes the effect that the retcode is ignored on the return so even if the proper retcode happens in your list the retcode is ignored.

**Setup**

[code]

**Steps to Reproduce the behavior**
use the state above on windows with a proper user of course.

<details><summary>with runas</summary>

[code]
</details>

<details><summary>without runas</summ

[2021-04-06 22:16] meelmeal commented on #59975
**UPDATE** , I did some further analysis and it looks like the problem is with loading pillar.ext . This is the line in virt.py (inside the keys function) where it's failing :

    pillar = __salt__["pillar.ext"]({"libvirt": "_"}, pillar_kwargs)

Also, the following CLI command fails on all minions with a similar error : salt-call pillar.ext '{libvirt: _}'

[code]

[2021-04-06 23:03] dmurphy18 commented on #59306
Closing this since the fix will be available in the next release of support for Solaris 11.4

[2021-04-06 23:03] #59306 closed

[2021-04-06 23:10] dgengtek commented on #58826
@OrangeDog thanks, I was definitely blind

works with config

[2021-04-06 23:39] RogueOverride opened #59978 "[BUG] Running cmd.run with "runas" from salt-call.bat gives OSError: [WinError 6] The handle is invalid."
**Description**
When applying a state using `salt-call.bat` that has a `cmd.run` that runs as a certain user, we get a `OSError: [WinError 6] The handle is invalid`. Note this happens for any `cmd.run` ran with `runas`.

**Setup**
[code]

**Steps to Reproduce the behavior**
[code]

[code]

[code]

**Expected behavior**
Expecting it to not print out odd error regarding an invalid handle.
[code]

[c

[2021-04-06 23:53] waynew opened #59979 "[BUG] Postgresql permission checking is incorrect"
**Description**
There are several issues that arise out of this problem.

- #58035
- #57690
- #51450 (probably)
- #44681 (maybe)

**Setup**

According to https://www.postgresql.org/docs/13/ddl-priv.html there are several privilege abbreviations, and applicable object types.

Privilege | Abbreviation | Applicable Object Types
-- | -- | --
SELECT | r (“read”) | LARGE OBJECT, SEQUENCE, TABLE (and tab

[2021-04-07 00:44] #59863 closed

[2021-04-07 02:25] 787771075 commented on #59955
@lukasraska  thank for your answer
![Snipaste_2021-04-07_10-19-22](https://user-images.githubusercontent.com/31592492/113801202-efd61d80-978a-11eb-8444-6682b98e2f57.png)
after systemctl edit salt-minion is error
but all use root ,it is OK

It seems that this feature is missing,Well, the master works so well

[2021-04-07 02:40] 787771075 commented on #59955
@ggiesen thank you answer
Only after the bill passes,
Do they have this function?
We'll have to wait.

[2021-04-07 02:44] jamesbernardi opened #59982 "[BUG] pkg_resources.DistributionNotFound: The 'urllib3<1.24,>=1.21.1' when python3-urllib3-0:1.25 is installed"
**Description**
Amazon Linux has updated the python3-urllib3 to 1.25 - this is causing all salt versions to fail after a yum update

**Steps to Reproduce the behavior**
yum update with python3-urllib3-0:1.25 - any salt version

**Versions Report**
all salt 300x.x versions

**Additional context**
work around - lock yum to version python3-urllib3-0:1.23-6.amzn2.noarch
ie:
sudo salt \* pkg.install yu

[2021-04-07 05:50] kibi commented on #59035
Hi, I've fixed this issue by implementing the previously absent functionality of reading from an XML file and fixing several other bugs in that function.
Could you please advise how to contribute it properly?

[2021-04-07 13:52] vuurvoske commented on #55269
In this example i got this error aswell. The issue was caused by renaming the /salt/base/share to /salt/base/nfs:

`nfs_config:
  file.managed:
    - name: /etc/exports
    - user: root
    - group: root
    - mode: '0644'
    - source: salt://base/**share**/templates/nfs_export.j2
    - template: jinja
    - listen_in:
        - service: restart_nfs`

[2021-04-07 14:35] mmgit opened #59983 "Minion stuck at startup"
### Description of Issue
We encountered a problem with the minion after rebooting our debian 10 VMs. On some VMs every time when the VM is rebooted, the minion is stuck. It does nothing and can't be terminated. It must be stopped with SIGKILL.
We use Debian 10 without systemd. So the minion is started with an init-script. We use changed init-scripts because of some bugs in the original ones (doubl

[2021-04-07 15:36] bryceml commented on #59982
Looks like I will need to update the python3-requests package and add a python3-certifi package.

[2021-04-07 16:03] clickbg opened #59984 "Salt-ssh no longer works on RHEL 8 with the python 3.6 shipped with the OS"
### Description of Issue
Since upgrading to salt-ssh (3003+ds-1) we can no longer provision RHEL 8 VMs since salt-ssh cannot work with python 3.6 and installing python 3.8 on RHEL introduces a lot of problems with our software. There is also no way to force salt-ssh to use specific python version so one has to change the OS default python.

### Setup
Master - salt-ssh 3003 (installed on Debian 10.

[2021-04-07 16:22] vrubiella commented on #59307
Hello, I having similar issue only when run state with multiple targets (-L , wildcard,etc..) when state is raised only to one target GPG is always decrypted correctly.

I have state where GPG password is stored on .ini file and raise the state over a list of servers, some servers stores GPG password without decryption, and some servers store OK (no changes).
Consecutive execution with exactly sam

[2021-04-07 17:13] garethgreenaway commented on #59955
Copying comments from Community Slack into the Github issue:
[code]

[2021-04-07 20:29] ewhitesides opened #59986 "[FEATURE REQUEST] add autorestart parameters to salt-minion service"
**Is your feature request related to a problem? Please describe.**
certain situations can come up, especially when updating a server, where the salt-minion service dies and doesn't come back up.  this can be a major inconvenience when working with several hundred servers.

**Describe the solution you'd like**
i found a lot of success defining a state that manages /etc/systemd/system/salt-minion.se

[2021-04-07 21:11] #58826 closed

[2021-04-07 21:15] OrangeDog commented on #59983
Can you share them?

[2021-04-07 21:21] OrangeDog commented on #59979
Another one: #59585
Querying the internal tables to get ACLs needs regular maintainance when major updates change the structure.
Additionally, the internal typed don't compare equal if the granter different. Salt currently has no way to express this (and probably doesn't need to)

[2021-04-08 06:36] mmgit commented on #59983
Sure. Should I create a PR or attach them here?

[2021-04-08 09:03] OrangeDog commented on #59983
Put them here

[2021-04-08 09:37] L4rS6 opened #59990 "Custom master_tops fails since version 3003"
**Description**
We are using a custom master_tops and since upgrading to version 3003 we are getting the following error while executing a highstate:
[code]

and in the master log I can see:
`[salt.master      :1195][ERROR   ][10399] Requested method not exposed: _ext_nodes`

The error only occurs on salt-master running version 3003 and salt-minion running version older than 3003. If salt-master a

[2021-04-08 10:30] MartinEmrich commented on #59990
I can confirm this (Master 3003, minion 3002.2).

The affected minion misses the states added by the custom tops script.

[2021-04-08 11:24] adambarnett52 commented on #55102
Hi

We are still seeing this, last then we used to, but still the same
We do not run debug login all the time so it is difficult to catch.

What do you advise the next step should be

Would you prefer me to make a new ticket instead see the age of this one

[2021-04-08 11:45] hkbakke commented on #59429
I prefer 2. I feel that application specific config option validation is not sustainable for a configuration management tool.

I would rather that my CMS allows me to do enforce what I need to, even if that includes possibly setting invalid config values from the view of the application. The alternative is not getting the thing done at all, like in this case.

[2021-04-08 14:10] billakantisandeep opened #59991 "[BUG]"
**Description**
A clear and concise description of what the bug is.

**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info).

**Steps to Reproduce the behavior**
(Include debug logs if possible and relevant)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain y

[2021-04-08 14:11] #59991 closed

[2021-04-08 14:11] billakantisandeep commented on #59991
test

[2021-04-08 16:05] RogueOverride commented on #59978
I have resolved my own issue. Found out that I wasn't passing the password in for Windows to authenticate it.

[2021-04-08 16:41] ScriptAutomate commented on #59955
^ This is a good point, here. I'd be for a docs update that walks through setting this up with minion, but I'd also be hesitant on what may come from the outcome of the SEP, and if that would require another rewrite/update of docs. We'd also likely need to have testing in place to run across multiple OS I'd imagine, to confirm that it works as expected across different distros.

[2021-04-08 17:38] subrata-1984 opened #59992 "Salt is reporting as failed to install package even if the package is installed"
Hello,

I  have a setup of  one Salt master (Linux) and one Salt minion (Windows). In the Salt master I have created /srv/salt/chrome/init.sls file (Screenshot 1). I have also configured package repo for Windows under /srv/salt/win/repo-ng/salt-repo-ng/chrome.sls. (Screenshot 2) When I did pkg.refresh_db the repos gets updated inside the Cache directory of Minion.

Now when I am running salt "mini

[2021-04-08 18:13] github-abcde commented on #59017
I should have the change still lying around somewhere, will try to find time to submit it in a PR.

[2021-04-08 18:19] xeacott commented on #55102
hi @adambarnett52 yeah I think that's fine to close this and re-open a new one to have less... entries from stalebot lol. That way we can get all the good information consolidated.

[2021-04-08 22:19] dgengtek opened #59993 "[BUG] salt-master silently ignores pillar rendering errors and returns incomplete pillar data with git_pillar pygit2"
**Description**
The salt-master silently ignores rendering errors from jinja template rendering in pillars when using `ext_pillar git_pillar` with the provider `pygit2`. Nothing hinting at the issue gets shown in logs or when running the salt-master in debug. Also it looks like every match in pillar top.sls gets ignored even if only one pillar file has errors and only pillars for the exact match o

[2021-04-08 22:19] dmurphy18 commented on #59303
The lines https://github.com/saltstack/salt/blob/master/salt/modules/zfs.py#L1138-L1139 are incorrect, there is no '-t type' option with zfs.get command in Solaris 10 and 11.

Only the following zfs commands:
- list
- userspace
- groupspace

Take a '-t type' parameter, zfs get does not.
Fixing

[2021-04-08 23:12] #59744 closed

[2021-04-09 07:43] szjur commented on #59437
I guess @keesbos no longer contributes to this project to fix this obvious programming error? Mind you I only just noticed the inconsistency between spelling "pattern" and "pa**t**erns" in the aforementioned code :-)

[2021-04-09 07:44] mmgit commented on #59983
OK here it is.

[salt-minion.init](https://github.com/saltstack/salt/files/6283910/salt-minion.init.txt)

We had big problems starting the minion with the original script. What I found was that the minion was started with
[code]
and DAEMON_ARGS is "-d". So I think it was daemonized twice. The init-scripts for master and syndic don't use --background. When we removed --background in the minion init

[2021-04-09 13:29] theodotos commented on #41143
I couldn't find any errors when `stat.apply` ir run. Just this warning:

[code]

I found this error when the service is manually started:

[code]

[2021-04-09 16:14] ScriptAutomate opened #59995 "[BUG] Log files dumped by pip-compile / pre-commit are not ignored by git"
**Description**

When `pip-tools-compile-impersonate` runs, during a `pre-commit` run to attempt updating the dependency tree, output can result in `*.log` dumps being added into `requirements/static/*/py*/*.log`.

`.gitignore` currently ignores `requirements/static/py*/*.log`, which is missing an extra subdir path.

**Setup**

`git clone` the `salt` repo.

**Steps to Reproduce the behavior**

Mod

[2021-04-09 16:16] dmurphy18 commented on #59303
This appears to be a divergence of ZFS implementations between Solaris 10 and 11 which do not support '-t' for zfs get, unlike OS's such as Illuminos, FreeBSD, and checking Linux implementations.

Correct solution will be to skip '-t' when running on Solaris 10 and 11

[2021-04-09 18:53] lomeroe opened #59996 "[BUG] no data returned from saltutil.running during windows minion state run"
**Description**
`saltutil.running` returns no data on a Windows minion during a state run (the `proc` dir is empty)

**Setup**
Windows 2019 Server minion
3001 and 3002 minion tested
master/minion environment

**Steps to Reproduce the behavior**
Execute a state that runs for a few minutes.  Observe the `proc` dir on the minion is empty.  Execute the saltutil.running command on the minion, no data i

[2021-04-10 02:47] lomeroe commented on #59996
tracked this down, somehow the default c:\salt\conf\minion file only has the following in it

[code]

instead of being the default file....not exactly sure how that is happening...I can't duplicate it by manually installing the minion with the install string that is used during image creation with packer (all I can initially think is possibly something with the install happening over a winrm sessi

[2021-04-10 02:47] #59996 closed

[2021-04-10 03:50] lomeroe commented on #59996
so, it is salt cloud that is creating that default config...we're passing the minion id to salt cloud, which then wipes out the default minion file and drops in a basic set of configuration options (which I'm assuming are no longer correct?)

https://github.com/saltstack/salt/blob/9242a14ebc204044cc585f337591cf85d997501e/salt/utils/cloud.py#L1346
[code]

[2021-04-10 07:42] keesbos commented on #59437
Indeed. I'm not really active anymore. The '<' was OK for pattern comparing in python2 (That's what I was using at that time). So, the usage was (is?) the key to sort on an the rest is just there to keep it together. I think it just was quicker to sort this way than to extract sort keys. Thus, from the top of my head, it was only the usage counter that matters as key in this sorting.

[2021-04-10 08:42] szjur commented on #59437
Oh I just realised it indeed won't throw exceptions in Python2, although these comparisons don't make much sense and obviously Python2 is no longer supported by recent Saltstack version. So @krionbsd  should really consider fixing that. I can't share my few-line patch due to prohibitive beaurocracy at my employer's who otherwise holds rights for it but the verbal description above should let anyon

[2021-04-10 10:04] network-shark opened #60001 "[BUG] watch does not trigger service restart on freebsd , job idles forever"
**Description**
Service does not restart if there is a change in the config file.

**Setup**
[code]

**Steps to Reproduce the behavior**
I copied the example from https://docs.saltproject.io/en/latest/ref/states/requisites.html
and made just made slight modifications ( changed the application name )  .

First run . Deploy application . Runs fine .
Someone logs into the server modifies the config .

[2021-04-10 11:13] CGenie commented on #59942
I can confirm this, version `3003` seems broken (I use ArchLinux as master for `salt-ssh`). Creating a python virtualenv and installing `salt-ssh=3002.6` fixed the problem.

[2021-04-10 16:43] ahktenzero commented on #51042
I can reproduce this on 3002.6, but only on one of my systems. The original test state fails with
[code]
and this in the minion log:
[code]
I can also trigger the problem with a single `pkg.installed` state like this:

[code]
Failing minion versions:
[code]
Working minion (also master) versions:
[code]

[2021-04-11 03:05] ari commented on #60001
Despite that it is missing in the docs now, I think you want:

`reload: True`

instead of

`full_restart: None`

[2021-04-11 04:07] edgan opened #60002 "[BUG] salt-ssh gpg pillar rendering failure"
**Description**
I use gpg encrypted pillar files. This has worked for many versions of salt, going back years. Now the same setup with 3003 throws errors on state.highstate. If I downgrade to 3002.6, and run the same command it works. Even 3003 with pillar.items works.

The file is encrypted with a key in /home/user/.gnupg.

**Setup**
./Saltfile:

    salt-ssh:
      config_dir: .
      max_procs:

[2021-04-11 04:55] edgan opened #60003 "[BUG] salt-ssh support for extra_filerefs in Saltfile is broken"
**Description**
  I use lots of map.jinjas with salt-ssh, as part of many formulas in my states git repo. Since the files are only imported I need to use extra_filerefs to include them all. I do this in my Saltfile. As of 3003 this doesn't work anymore. If I downgrade to 3002.6, it works.

I thought it might relate to this issue below, but reverting the patch didn't seem to fix it for me. Though I

[2021-04-11 10:53] MEschenbacher commented on #59429
I prefer option 2, too because if we select option 1, we have gained nothing from the fix except certainty that it will hit us again as soon as new pubkey types are introduced.

By the way, I've reported the same problem for ansible: https://github.com/ansible-collections/ansible.posix/issues/134

[2021-04-11 12:11] network-shark commented on #60001
Thank you for the hint , but it's not the problem. I think it's just the influxd rc.d script

[2021-04-11 14:45] dachshund-digital opened #60005 "Update Installation documentation for Debian 10 Buster!"
Update the installation documentation for Debian 10 Buster!  This should clear and obvious.  Buster has been release for quite a while but the official documentation is still referencing Jessie?  Please update the documentation.

[2021-04-11 15:52] dachshund-digital commented on #60005
More information, to help triage...

Attempting to following directions on [https://repo.saltstack.com/#debian
](url).  Only customization was change of 'amd64' to 'armhf' for the APT repository list file.  Such that  /etc/apt/sources.list.d/salt.list is set to 'deb [signed-by=/usr/share/keyrings/salt-archive-keyring.gpg] https://repo.saltproject.io/py3/debian/10/armhf/latest buster main' for Rasp

[2021-04-11 16:54] ahktenzero opened #60006 "[BUG] States after pkg states fail on FreeBSD if the pkg provider is configured on the minion"
**Description**

On FreeBSD, if the minion config includes a providers section which sets it to use the pkgng provider for pkg states, some states which run after pkg states will fail. The zfs states are definitely affected, others may be as well.

See bug #51042 for an earlier report of a similar problem.

**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive in

[2021-04-11 19:23] network-shark commented on #60001
I rewrote the rc.d script and the issue is gone . I could not figure out , what was wrong with the out of the box rc.d script .

[2021-04-11 19:23] #60001 closed

[2021-04-12 01:36] ari opened #60007 "[BUG] `minion_data_cache: False` causes all targetting by pillar to fail"
In order to try and avoid some caching issues, I set in the master config:

[code]

**Expected behavior**
Salt would run a little slower without this cache, but everything would still function as expected.

**Versions Report**
Salt: 3002.6

**What actually happen**
All pillar targetting fails, which breaks many things in dramatic ways.

In my opinion, having a feature which breaks fundamental part

[2021-04-12 03:09] WayneSherman opened #60008 "[BUG] Windows minion master_alive_interval when master_type is not failover"
**Tested Systems Info**
Salt master v3003 running on Ubuntu 20.04.2 LTS (kernel 5.4.0-70-generic)
Salt minion v3003 running on Win10 Pro 20H2 (build 19042.870)

**Description**
The default minion config file says for **master_type**:

and for **master_alive_interval**:

This seems to indicate the master_alive_interval is not being used unless the mode is failover.  But that is not the case and the

[2021-04-12 03:50] WayneSherman opened #60009 "[BUG] Windows minion master_alive_interval breaks communication when master_type is str"
**Tested Systems Info**
Salt master v3003 running on Ubuntu 20.04.2 LTS (kernel 5.4.0-70-generic)
Salt minion v3003 running on Win10 Pro 20H2 (build 19042.870)

**Description**
master_alive_interval breaks communication between the master and minion on Windows.

**Setup**
[code]
**Steps to Reproduce the behavior**
1) Run the minion
2) On the master start pinging the minion:
`while sleep 2; do salt

[2021-04-12 05:18] WayneSherman opened #60010 "[BUG] Windows minion communication unreliable with multi-master failover"
**Tested Systems Info**
Salt master v3003 running on Ubuntu 20.04.2 LTS (kernel 5.4.0-70-generic)
Salt minion v3003 running on Win10 Pro 20H2 (build 19042.870)

**Description**
The minion keeps attempting to switch master IP addresses even though the first master in the list does not have a communication problem.  I think during these change attempt, the minion does not respond properly to request

[2021-04-12 09:22] romxi opened #60011 "[BUG] CVE patches for 2017.7.8 contain code from newer version and doesn't work"
**Description**
After applying the next CVE patches
https://gitlab.com/saltstack/open/salt-patches/-/blob/master/patches/2021/01/28/2017.7.8.patch
https://gitlab.com/saltstack/open/salt-patches/-/blob/master/patches/2021/02/05/2017.7.8.patch
salt 2017.7.8 stop working properly

The last patch contains the next bug:
call of `if daemonize and not salt.utils.platform.is_windows(): `
failed with next

[2021-04-12 09:22] grem11n commented on #59205
Looks like we are facing the same issue with Salt `3003` and Ubuntu 20.04. Although, in our case the basic grain, which fails to render is `oscodename`

Here is a version report:
[code]

`state.highstate` on a minion, which is running Ubuntu 20 and Salt Minion `3002.6` results in:
[code]
`base` is also a name of a pillar here. This pillar is:
[code]

There are several errors in the master logs as

[2021-04-12 09:30] furkalor commented on #59361
We have faced the same issue. File /var/cache/salt/master/salt_vault_token is constantly growing and sometimes JSON structure inside it became broken:

"path": "infra-kv/", "seal_wrap": false, "type": "kv", "uuid": "64850942-d1c6-18a7-4785-929955f74b7e"}}}e"}}}

You can see excess symbols ( }}}e ) and this is the reason why salt goes broken:

[code]

[2021-04-12 10:16] maennlse opened #60012 "[BUG] 3003 minion not starting on macOS Big Sur"
**Description**
version 3003 of the salt-minion is not starting on macOS Big Sur (at least not for me)

[code]

previous version 3002.6 worked as expected.

**Steps to Reproduce the behavior**
Install salt-minion 3003 on macOS Big Sur

**Expected behavior**
salt-minion starts

**Versions Report**
salt-3003-py3-x86_64.pkg (sha256: F780DF6821043B3507B8705416D0D070929B9B1FB3E02E5FFAE4F49D81BF0F5E)
ma

[2021-04-12 10:45] johnnybubonic commented on #59794
Hello-

Apologies for the delay in my response.

Actually, I think this is where the issue is and why I couldn't find it in my logs - I was grepping for dmidecode, but it's virt-what that it was having issues with:

[code]

My use-case is the master running as non-root. It seems the master does not invoke virt-what with sudo.

This is inaccurate; my bug report was filed in the scope of *master* ru

[2021-04-12 10:51] johnnybubonic opened #60013 "[FEATURE REQUEST] Automatic minion installation for salt-ssh"
**Is your feature request related to a problem? Please describe.**
No, just a quality-of-life improvement thing.

**Describe the solution you'd like**
salt-ssh should have a flag to easily install the minion for the target(s). Ideally, if enabled it would:

1. Download and run the saltstack bootstrap script with relevant minion arguments
2. Generate a minion keypair
3. Accept that minion pubkey on

[2021-04-12 13:05] OrangeDog commented on #59990
Caused by #59804

It seems this deprecation was planned poorly (on top of being forgotten). The minions should have been updated at least a release before the master removed it.

I can also confirm that `Requested method not exposed: _ext_nodes` is logged regardless of whether there are custom `master_tops`, but highstate does seem to work.

[2021-04-12 15:50] sagetherage commented on #59986
@ScriptAutomate only asking you to triage this ticket, please :-)

[2021-04-12 15:51] sagetherage commented on #60012
@sheagcraig @weswhet can you help with triaging this issue, please?

[2021-04-12 15:56] sagetherage commented on #60005
we will accept a PR for any docs changes :-)

[2021-04-12 16:42] Sudheendhar opened #60014 "How to run multiple salt states in jinja for loop"
### Description of Issue
Hi can someone please help me in adding different state ids in jinja for loop. As I have to use same states multiple times. i have to create different state id's but for loop is not working when i create a new state id.

Without creating a new state id first 3 states are running but i'm getting error at delete file stage as i have to use file state once again in the same i

[2021-04-12 16:51] OrangeDog commented on #60014
Your SLS syntax is incorrect, with an extra level of keys. It should be e.g.:
[code]

You might want some requisites in there too.

[2021-04-12 16:51] #60014 closed

[2021-04-12 17:53] Sudheendhar commented on #60014
wow, this is working as expected. Thank you so much :)

[2021-04-12 18:37] xeacott commented on #59977
Able to reproduce this... will be looking into a fix.

[2021-04-12 20:21] network-shark commented on #60013
I think this has already done with https://gitlab.com/saltstack/pop/heist ?

[2021-04-12 21:16] johnnybubonic commented on #60013
This seems to be restricted to `flat` roster types. I use a custom roster module.

[2021-04-12 22:06] garethgreenaway commented on #59307
Circling back on this one.  Is the issue visible when doing a `pillar.items` or a `pillar.get` on a single item, or when attempting to use the pillar values in a state file?  Having two pillar files in Git, with GPG encrypted values in the pillar files, and doing a `pillar.items` so far I haven't seen the issue.

[2021-04-12 22:17] raddessi commented on #59307
It was consistently only rendering certain files with the gpg renderer so `pillar.get`, `pillar.item`, `pillar.items`, and any states that used those pillars would see the unencrypted data for the pillars that should have been decrypted but were not. It did seem at the time that the first few were being rendered just fine and the failing ones were always rendered "later" in the pillar top file.. b

[2021-04-12 22:22] raddessi commented on #59307
When I say it was only rendering some of the files with the gpg renderer  I don't mean only some files were being decrypted but all of them were passing through the renderer - only some of the pillar files that should have been logged as passing through the gpg renderer actually had the renderer run on them. The issue was not a failure of the gpg renderer to decrypt the data but rather salt was no

[2021-04-12 22:42] raddessi commented on #59307
Also, I apologize, part of my initial post was a little unclear. I never tested with a brand new empty master with only 2 pillar files, I did test with 2 almost identical pillar files with the contents I posted above but this was on my existing master with about 150 existing pillar files. I don't recall the exact pillar file names as I had placed them in the execution order closest to the pillars

[2021-04-12 23:26] garethgreenaway commented on #59307
@raddessi All good.  Just trying to get to the scenario where the bug is surfacing 😃 So far I'm up to 20 pillar files with a single GPG encrypted pillar item in each file and haven't seen the issue manifest yet.  Do you have multiple encrypted values in the files?

[2021-04-12 23:33] raddessi commented on #59307
In probably more than half of them I do yes, but when I was testing this I tried to make it as simple as possible so for those two test pillars no it was just a single entry in each.

[2021-04-12 23:37] dmurphy18 commented on #60003
@edgan Can you provide more information to reproduce this is since I have been able to replicate the issue using Salt 3002.2 with Centos 7 for master and minion.  I may have a misconfiguration causing similar response.

[code]

With top.sls
[code]

and /srv/pillar/base.sls
[code]

with roster
[code]

with _grains/map.jinja
[code]
and Saltfile
[code]

[2021-04-12 23:44] raddessi commented on #59307
I just remembered which pillar I noticed this failure in first, it was my users pillar with all my user config :) It's about 42k and at the time of this issue was using the shebang `#! yaml|gpg` and consisted of mostly this structure:

[code]
I fear that the issue was caused not by the pillars that failed to get sent to the gpg renderer but instead one of the previous pillars somehow.

[2021-04-12 23:55] garethgreenaway commented on #59307
@raddessi Is it possible that one of the pillar files failed and that caused the ones after that in the list to not be sent to the renderer?

[2021-04-13 00:22] garethgreenaway commented on #59307
So far I can reproduce this if the encrypted string is not in the right format or is missing some pieces, eg. the GPG decrypt has failed so it just shows the string.

[2021-04-13 12:51] sooraj2589 commented on #58829
@bitskri3g
I couldn't find the link for installing minion on AIX. We have procured SSE, now in the stage on installation setup.

Could any one please provide the correct link for the installation?
Have tried [https://enterprise.saltstack.com/docs/downloads.html#aix-solaris-minions]

[2021-04-13 14:26] paulternate opened #60015 "Update Venafi Runner to support token-based authentication"
### Description of Issue
Token-based authentication provides a better, token-based approach to authenticate to Venafi Trust Protection Platform. This limits the wide scope of the old API-key authentication method, but does require some additional initial configuration.

In addition to the security benefits token-based authentication provides, it also mitigates the need to re-authenticate before ev

[2021-04-13 14:35] paulternate opened #60016 "[FEATURE REQUEST] Update Venafi Runner to include certificate "origin""
### Description of Issue
The Certificate "Origin" attribute adds an additional piece of metadata that we are starting to track for every certificate request. The purpose is to provide Venafi administrators data about which applications in their organization are making certificate requests.

The “Origin” named parameter was introduced in Venafi Trust Protection Platform v19.4 so it will apply for t

[2021-04-13 15:30] #59303 closed

[2021-04-13 15:44] #59946 closed

[2021-04-13 16:14] zbarr commented on #53147
@saltysaltsalty I am still seeing this issue on 3002.2.

[2021-04-13 16:17] sagetherage commented on #60012
This also applies to 10.14

[2021-04-13 16:20] dmurphy18 commented on #56588
@sarvi Information was requested a year ago on a listing of directory /etc/yum.repo.d/ and the contents of files starting with saltxxxxx.repo, but there has been no response.

If the issue is resolved, please close the issue, or provide requested information or any additional information which would help in resolving this issue.  Thanks in advance.

[2021-04-13 16:36] sagetherage commented on #60013
If you are using salt-cloud saltify https://docs.saltproject.io/en/latest/topics/cloud/saltify.html could also be an option here, but unsure if you are using it or if it is helpful, simply giving more options.

[2021-04-13 16:40] frogunder commented on #59984
Duplicate of https://github.com/saltstack/salt/issues/59942

Closing this to keep this issue to one ticket.

[2021-04-13 16:40] #59984 closed

[2021-04-13 16:47] sagetherage commented on #59245
@myii let us know if you have any input here, thank you!

[2021-04-13 16:47] sagetherage commented on #59245
@satwell we will review a PR if you want to open one for this feature, please do!

[2021-04-13 17:05] sagetherage commented on #49834
@grinapo we won't be fixing this on older versions - have you upgraded to a [supported version of Salt]https://saltproject.io/salt-platform-support/?

[2021-04-13 17:17] raddessi commented on #59307
It's possible a file failed in some way, for sure, but I never saw any evidence of it. Also.. I don't understand how a failure in one file could stop only one renderer from further execution.. but this is why I opened the issue. I'm just not familiar enough with the inner functionality of salt yet.

This was not my case though, I tested with the same encrypted data in my test pillar files. and one

[2021-04-13 17:18] sagetherage commented on #59300
@TeddyAndrieux we will review a PR for this as it is likely it simply hasn't been thought to do this, yet for `saltenv`

[2021-04-13 17:26] sagetherage commented on #59182
@jvimont have you tried `key=app:app1:version` instead?

[2021-04-13 17:29] sagetherage commented on #60012
do we want to look at removing pyobjc?

[2021-04-13 17:38] corey-hammerton opened #60018 "[BUG] file.managed Resources Fail with Comment Unable to manage file: 'master_uri'"
**Description**
We are managing some files in a custom Formula but our Salt state.apply calls continuously fail with the following code output

[code]

**Setup**
SLS in question
[code]

Salt Minion Config
[code]

Salt Master Config
[code]

**Steps to Reproduce the behavior**
Running `salt-call state.apply` reproduces the error

**Expected behavior**
All file.managed resources should complete succe

[2021-04-13 17:40] johnnybubonic commented on #60013
@sagetherage I am not even using salt-cloud so saltify unfortunately isn't an option for me but I'm sure mentioning it will help someone searching the GH issues. 👍

[2021-04-13 17:46] dachshund-digital opened #60019 "[BUG]"
Boot strap installation of minion on Raspbian OS (Debian 10 Buster) provides wrong hostname to master server as unaccepted key name.

**On Minion Candidate...**
$ sudo cat /etc/hostname
raspberypi

$ sudo hostname set-host pi.test.org
$ sudo hostname -f
pi.test.org

$ sudo hostname -d
test.org

$ sudo cat /etc/hostname
pi.test.org

$ curl -o bootstrap-salt.sh -L https://bootstrap.saltproject.io
$

[2021-04-13 17:48] johnnybubonic commented on #51819
This is correct and will certainly fix. Thanks!

[2021-04-13 17:51] johnnybubonic commented on #59949
I'm not @waynew but I should be able to answer for him - it shouldn't for python versions >3.3 as `ipaddress` is stdlib as of python 3.3.[[0]](https://docs.python.org/3/howto/ipaddress.html#ipaddress-howto) [[1]](https://docs.python.org/3/library/ipaddress.html).

[2021-04-13 18:44] adammike opened #60021 "[BUG] network.routes produces inconsistent results when `netstat` is unavailable."
**Description**
When netstat is unavailable the `network.routes` module produces incomplete results with incorrect route flags and missing interfaces.

**Setup**
[code]

**Steps to Reproduce the behavior**
salt-call --local network.routes
yum remove net-tools -y
salt-call --local network.routes

**Expected behavior**
The network.routes output should be (relatively) consistent

**Screenshots**
[cod

[2021-04-13 18:45] denis-khalturin-incountry commented on #59019
please do not close this issue

[2021-04-13 19:21] dmurphy18 commented on #59333
@vnitinv Going to work on this, will make you a reviewer on the PR.  Note, the Juniper native minion is going to be released as part of the Open-Source, which should not affect anything since at this point all changes are part of Salt open source and only the build script is different (will preserve cert's etc privately), similar to how Salt builds and signs Linux packages at present.

[2021-04-13 19:32] adammike commented on #60021
#60022 fixes this issue:
[code]

[2021-04-13 19:40] #59305 closed

[2021-04-13 20:34] network-shark commented on #59838
@dmurphy18  Update on a debian 10 host

[code]

[2021-04-13 20:49] network-shark opened #60024 "[BUG] Proxy Minion is not able to execute netmiko functions"
**Description**
Trying to execute netmiko function on a napalm minion

**Setup**
Cisco 1000v connected via napalm proxy minion

**Steps to Reproduce the behavior**
[code]

**Expected behavior**
Output of show version and show interfaces should be shown
[code]

[code]

[code]

[2021-04-13 20:55] #60024 closed

[2021-04-13 21:13] dmurphy18 commented on #59838
Is it possible to give a sample version of **_deployment_validation.tst_** such that I can retry your test.
I don't have a Cisco system available to me, but I do have various versions of Arista to test against with napalm.

Want to run as close to what you are using to reproduce the issue.

[2021-04-13 21:17] network-shark commented on #59838
It is still the same file. I just read the documentation again.
[code]

[2021-04-13 21:32] network-shark opened #60025 "[BUG] napalm minion KeyError: 'napalm.get_reboot_active'"
**Description**
I just saw it in my debug log . Maybe it's just cosmetic .

napalm proxy minion connected to cisco csr1000v

[code]

[code]

[2021-04-13 21:59] xeacott commented on #59977
So have this dialed in, just not entirely sure on the fix yet. The issue is when `cmd.run` runs, apart from `cmd.script` we actually run the command and return immediately instead of going through the rest of the normal business when executing `cmd.run`.

https://github.com/saltstack/salt/blob/c4bd7f6915e1438ba0cdb7452885153c1e2cc42c/salt/modules/cmdmod.py#L427

and the issue is honoring the succe

[2021-04-13 22:17] xeacott commented on #58866
Having been in this file a bit today... going to jump into this now.

[2021-04-13 22:24] grinapo commented on #49834
Yes, I have. My actual version is v3003+ds-1 and as far as I remember the problem still persists.
What makes you think this was "an older version"?

[2021-04-13 23:37] dmurphy18 commented on #59838
@network-shark FYI able to duplicate given similar test above using Arista

[code]
with errors from
[code]

However the net.cli is working through napalm with the Arista router (vEOS 64-bit v4.25)
[code]

Digging into the issue and will let you know what I find.

[2021-04-13 23:45] ShaneHutter commented on #59506
I believe this issue was occurring due to something attempting to enable presence for SaltStack Enterprise.

We've been able to fix this issue by simply removing  the beacons beacon.

On salt-master:
[code]

This cleared the beacons config of the empty dictionary, and stopped spamming in the logs.

[2021-04-13 23:45] #59506 closed

[2021-04-13 23:47] dmurphy18 commented on #58902
Need to bound the following line https://github.com/saltstack/salt/blob/master/salt/minion.py#L3718-L3721 by a
[code]
So that a Warning or no log at all is produced with the Juniper native minion

[2021-04-14 00:08] xeacott commented on #58866
Hey @BrianSidebotham can we double check this is still persisting? I copied/pasted the state above as described and have

[code]

and the output is...
[code]

[2021-04-14 00:38] oogali commented on #53414
Still not stale...

[2021-04-14 00:39] ari opened #60027 "[DOCS] Better documentation for log_granular_levels"
Docs for this feature are very thin. How do we know what "log call names" are available? Is there some way to output those names into the logs so that we can see them?

https://docs.saltproject.io/en/latest/ref/configuration/logging/index.html#log-granular-levels

In my case, I'd like to log "Completed state" at INFO, but I can't tell if this level of granularity is available.

[2021-04-14 02:08] vin01 commented on #59922
Fixed in https://github.com/saltstack/salt/pull/59943

[2021-04-14 02:08] #59922 closed

[2021-04-14 02:43] EmberLevy commented on #60025
Thank you for opening the issue. What is the relevant setup, what is the expected behavior, and what are the exact commands to reproduce the error? These details will help us reproduce the error to fix the issue.

[2021-04-14 02:53] EmberLevy commented on #60021
Is the issue also present on salt 3003?
https://saltproject.io/salt-platform-support/

[2021-04-14 04:41] adammike commented on #60021
Yes

Sent from my iPhone

On Apr 13, 2021, at 7:54 PM, EmberLevy ***@***.***> wrote:

﻿ Is the issue also present on salt 3003? https://saltproject.io/salt-platform-support/ — You are receiving this because you authored the thread. Reply to this email directly, view it on GitHub, or unsubscribe. ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ‍ ZjQcmQRYFpfptBannerStart
This Message Is From an Extern

[2021-04-14 07:38] jvimont commented on #59182
Hello @sagetherage,

Same behaviour with `key=app:app1:version`.

Julien

[2021-04-14 08:42] jvimont commented on #59182
When activating debug, this is what the master see :

`[DEBUG   ] Sending event: tag = salt/job/20210414084008257535/new; data = {'jid': '20210414084008257535', 'tgt_type': 'glob', 'tgt': 'myminion', 'user': 'deploy', 'fun': 'grains.set', 'arg': ['1.0'], 'minions': ['myminion], 'missing': [], '_stamp': '2021-04-14T08:40:08.276440'}`

[2021-04-14 08:50] BrianSidebotham commented on #58866
@xeacott Let me have a look and let you know. Bit of a blast from the past this one...

[2021-04-14 11:23] oogali commented on #53414
My issue turned out to be I was running Salt as non-root, but the `salt` user did not have access to the SSH private key (which owned by root, mode `0400`).

The error thrown by `pygit2` is a generic exception for all sorts of authentication problems.

[2021-04-14 13:13] OrangeDog opened #60028 "[FEATURE REQUEST] Add attrs argument to file.directory"
**Is your feature request related to a problem? Please describe.**
Managing the Linux file attributes of directories.

**Describe the solution you'd like**
`file.directory` should accept `attrs`, same as `file.managed` (#27094).

**Describe alternatives you've considered**
You can build a solution using `{% if %}`, `module.run`, `file.lsattr` and `file.chattr`, but it can become quite complicated.

[2021-04-14 14:04] network-shark commented on #60025
@EmberLevy

***Whats the issue ?
I don't know , the debug does not looks healthy

*** How to reproduce
Start a napalm proxy with  salt-proxy --proxyid r1 -ldebug

The message appears more then once within a minute.

***expected behavior
I don't know

[2021-04-14 14:52] amalaguti opened #60029 "[BUG] highstate outputter does not show returned dict from salt.function"
**Description**
Running an orchestration that includes a salt.function call to a custom module that returns a dict (a very simple dict) fails to show the custom module returned dict in the orchestration execution output.

If the custom module returns a string, int, or boolean, the return is shown without issues.

Note: The custom module works well, the event bus, and running the runner with --out=

[2021-04-14 15:07] OrangeDog commented on #60027
The available "log call names" would be every single file in the Salt source. Technically only the ones that have a log call in them, but that can change with any release.

Note that this doesn't let you change the level of particular messages, it lets you control the verbosity of each module individually, compared to the global `log_level` property. The "Completed state" message is logged [here](

[2021-04-14 15:39] ari commented on #60027
Thanks, that's helpful. For non-python experts, adding something like this to the docs would be great:

`You can determine what log call name to use here by adding %(module)s to the log format. Typically it is the path of the file which generates the log without the trailing .py and with path separators replaced with '.'`

[2021-04-14 16:20] qurczak opened #60030 "[BUG] ARM salt code dumped"
**Description**
Core dump for program salt on ARM `ELF 32-bit LSB pie executable, ARM, EABI5 version 1`
Kernel: `Linux cube.lan 5.11.2-1-ARCH #1 SMP PREEMPT Sun Feb 28 22:03:25 UTC 2021 armv7l GNU/Linux`

**Setup**

/etc/salt/minion
[code]

**Steps to Reproduce the behavior**

[code]

**Versions Report**
<details><summary>salt --versions-report</summary>
(Provided by running salt --versions-report

[2021-04-14 16:48] xyzst commented on #46665
Would like to add my interest for this feature. I have a long running job on a minion, and I have to manually check the minion itself if the job has stalled or not.

[2021-04-14 16:50] sagetherage commented on #60021
We will not fix this in v 2019.x - FYI

[2021-04-14 17:29] te-af-github opened #60031 "Bug #53199 is present in Ubuntu 20.04 MySQL8"
**Description**
See #53199. MySQL returns list of privileges. Salt compares to "ALL PRIVILEGES". THis obviously always fails.

**Setup**
Minion:
Stock Ubuntu 20.04

mysql-client-8.0 8.0.23-0ubuntu0.20.04.1
mysql-client-core-8.0 8.0.23-0ubuntu0.20.04.1
mysql-common 5.8+1.0.5ubuntu2
mysql-server 8.0.23-0ubuntu0.20.04.1
mysql-server-8.0 8.0.23-0ubuntu0.20.04.1
mysql-server-core-8.0 8.0.23-0ubuntu0.20

[2021-04-14 18:00] rrrix commented on #60012
I noticed when looking at PR https://github.com/saltstack/salt/pull/60026 that the CI jobs for PR's don't include an automated test for Big Sur - only Mojave and Catalina. Should that be a separate issue?

[2021-04-14 18:03] twangboy commented on #42801
From @markuskramerIgitt via email:

Hi Shane,
These are my thoughts about  installing Salt to any path (instead of `c:\salt\`).

Files which remain unchanged during the installation (mainly exe and dll) should go under
`c:\Program Files\SaltStack\`

Other paths are possible (obviously) , but are against Microsoft recommendation.

More importantly:

Files which change during the version (e.g. `var/

[2021-04-14 18:05] twangboy commented on #42801
I hadn’t considered using the AppData for the System user. That would mean defaulting the config to the User AppData instead of a more universal ProgramData directory. I’ll have to think on that one.

[2021-04-14 18:35] krionbsd commented on #59884
Still waiting for latest `pytest-salt-factories` version to be merged to skip some tests and enable CI for arm64

[2021-04-14 18:40] ephreal opened #60032 "[BUG] Windows Zabbix-agent fails to return success despite package install succeeding"
**Description**

I am attempting to install the 32-bit zabbix-agent package provided from the saltstack windows repository. The state running the install is shown in the setup section.

When I run the state, the output from the state suggests that the package installed but returns a Result of False.  A check of the computer that the state is running on shows the agent to have been installed proper

[2021-04-14 18:40] ephreal commented on #60032
Apparently hitting enter just submitted this. Let me go through and actually write things out.

[2021-04-14 18:41] cruscio commented on #42801
@twangboy , @markuskramerIgitt - Why wouldn't you use ProgramData for configuration / cache (just curious; not disagreeing) ? While I'm no expert, I'm pretty sure application data doesn't belong anywhere in system32. Pretty sure %ProgramData% is the prescribed location for machine-scoped app data.

And at the risk of being pedantic, hard coding paths is also against Microsoft recommendation:
 - C:

[2021-04-14 19:06] ephreal commented on #60032
Alright, I think that's everything.

[2021-04-14 20:17] bryceml commented on #60030
This should probably be reported to Archlinuxarm's bug tracker as it appears to be an issue with their packaging.

To make sure, you could try pip installing salt rather than using the Arch package and see if that makes a difference.

[2021-04-14 20:22] xeacott commented on #60010
Thanks for submitting this issue... read through it a few times and I'll have to work on reproducing this... have you seen this occur on other versions of Windows? Such as like, 18.04 or 19.04 or something? I personally don't have much experience with the firewall and allowing/blocking connections to flip like that... I'll ask @twangboy for his thoughts on this.

[2021-04-14 20:22] adammike commented on #60021
@sagetherage that's fine, I already published my updated network.py to _modules in my gitfs root. Works fine on 2019->current

I also added the tests that were requested?

https://github.com/saltstack/salt/blob/2c131db914e6628b768a6c1109c135524c5cb2ee/tests/pytests/unit/modules/test_network.py

[2021-04-14 20:23] xeacott commented on #60009
And this as well @WayneSherman I'll ask my team. I'm going to think that the other issue and this one are related to some degree

[2021-04-14 20:24] xeacott commented on #60008
And this... will try to consolidate all of these issues

[2021-04-14 20:33] sagetherage commented on #60019
@dachshund-digital have you tried to pip install?

[2021-04-14 22:17] dachshund-digital commented on #60019
Not sure why you ask... if I want to use the boot strap method, it is that method that seems to have an issue, in that any previous minion id overrides the host name.  Per my understanding that should happen on an update of the minion, but not on an install of the minion.  On an install of the minion the minion id if not explicitly qualified defaults to the FQDN, no?

[2021-04-15 02:40] sagetherage commented on #60012
@rrrix good point and I thought the MacOS Working Group was taking that on - but a new issue definitely won't hurt!

[2021-04-15 02:45] sagetherage commented on #60019
It was an attempt to get you going while we fix this issue, is all.

[2021-04-15 02:54] sagetherage opened #60033 "[BUG] RHEL 8 salt-call --local firewalld.list_zones traceback"
**Description**
RHEL 8 salt-call --local firewalld.list_zones traceback

3002.2
[code]
3003
[code]
**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info).

**Steps to Reproduce the behavior**
(Include debug logs if possible and relevant)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add

[2021-04-15 04:19] bogdanr commented on #25321
I would also like to have this feature.

[2021-04-15 05:13] pksalty commented on #60033
Salt Version:
          Salt: 3002.2

Dependency Versions:
          cffi: 1.11.5
      cherrypy: Not Installed
      dateutil: 2.6.1
     docker-py: Not Installed
         gitdb: Not Installed
     gitpython: Not Installed
        Jinja2: 2.10.1
       libgit2: Not Installed
      M2Crypto: 0.35.2
          Mako: Not Installed
       msgpack: 0.6.2
  msgpack-pure: Not Installed
  mysql-python: No

[2021-04-15 05:17] pksalty commented on #60033
tested on rhel 8.3 received errors listed above for both 3003 and 3002.2.  RHEL 7.9 tested correctly with 3002.2

[2021-04-15 08:02] SindhuriMarapureddy commented on #42645
I am trying to install development tools through salt stack. But it shows development tools are already installed and when i check yum group list it is showing in available packages, not in the installed package list. Can some one help with this issue.

install development tools package:
  pkg.group_installed:
    - name: Development Tools

o/p:
local:
----------
          ID: install devlopemntpa

[2021-04-15 11:12] daro1337 opened #60035 "[BUG] salt-ssh ModuleNotFoundError: No module named 'jinja2.asyncsupport'"
**Description**
`salt-ssh 'srv1' state.apply check_pl --python3-bin=/usr/bin/python`
returns:

`Traceback (most recent call last):
  File "/var/tmp/.root_040010_salt/salt-call", line 27, in <module>
    salt_call()
  File "/var/tmp/.root_040010_salt/pyall/salt/scripts.py", line 437, in salt_call
    import salt.cli.call
  File "/var/tmp/.root_040010_salt/pyall/salt/cli/call.py", line 6, in <module

[2021-04-15 11:38] daro1337 commented on #60035
temporary workaround on remote server:
[code]

[2021-04-15 14:21] piterpunk commented on #59983
In my machines without systemd, the `-d` hangs the salt-minion when starting, but if I kill the frozen minion and start it a second time it works. Did a lot of troubleshooting, couldn´t find why it happens (it was related to the multi thread and socket usage) and I found easier to change my init scripts to not use `-d` and start the daemons with `nohup`.

I guess this is the same problem that was

[2021-04-15 15:06] OrangeDog opened #60036 "[BUG] systemd templated services units not handled correctly"
**Description**
Under systemd you can have multiple services based on the same unit file. these

**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info).

**Steps to Reproduce the behavior**
(Include debug logs if possible and relevant)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add s

[2021-04-15 16:01] OrangeDog commented on #60036
Also note that salt is listing units that aren't services. I don't know whether that's intentional or another bug.
<details><summary>salt-call system.get_all | grep -E '\.(timer|target|socket|mount)'</summary>

[code]
</details>

[2021-04-15 16:03] qurczak commented on #60030
Ok. Thanks

[2021-04-15 16:04] nithintitta opened #60037 "[DOCS] "GETTING STARTED WITH VMWARE" needs a improvement."
**Description**
URL: https://docs.saltproject.io/en/latest/topics/cloud/vmware.html needs improvement

* the VMware link under "image" is broken. the SDK link re-directs to a generic page.
* Please add an example of win_run_once and fix the description.

**Suggested Fix**
The valid SDK link for the image: https://vdc-download.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d145

[2021-04-15 16:24] dagwieers opened #60038 "[BUG] Salt repositories servers have the wrong time set"
**Description**
When syncing with https://s3.repo.saltproject.io/ or https://s3.archive.repo.saltproject.io/ using rclone (as documented) rclone complains with:

[code]

**Setup**
NTP synchronized system.

**Steps to Reproduce the behavior**
The system's time is synchronized using NTP and has the correct time zone configured. However, both servers report the wrong time:

[code]

**Expected behavio

[2021-04-15 16:55] bryceml commented on #60038
This is because it is cached via cloudfront and is expected.  It's not a warning or error even.  It can be ignored.

[2021-04-15 18:43] vthyng commented on #59545
I am seeing this also on 3002.6.

[2021-04-15 18:50] qurczak commented on #60030
Problem solved. Probably python version `3.9.3-1.1` fixed this problem
[code]

[2021-04-15 18:50] #60030 closed

[2021-04-15 21:41] twangboy commented on #60012
The package has been rebuilt using the requirements file as found in #60026 and is now live:
https://staging.repo.saltproject.io/osx/salt-3003-py3-x86_64.pkg

The old package has been renamed:
https://staging.repo.saltproject.io/osx/salt-3003-py3-x86_64-broken-initial-release.pkg

[2021-04-15 22:28] danielrobbins commented on #59366
@pcmccollum I can't reproduce on CentOS 7 in a container. I believe some of the packages that are being installed require an updated libstdc++ to be installed.

Can you please:

1. Include the exact command(s) you are using to install salt-master.
2. Include the exact version of RHEL 7 you are using.
3. Use yum to update your system and see if this resolves the issue.

[2021-04-15 22:29] bwdbethke opened #60040 "[BUG] State 'pkg.installed' was not found (on AlmaLinux)"
**Description**
trying to install and remove some packages via salt on AlmaLinux 8.3 (which is very similar to Centos8)
but get the errors:
[code]

**Setup**
[code]

[code]

[code]

##### base_packages\init.sls
[code]

**Steps to Reproduce the behavior**
[code]

**Versions Report**
[code]

**Additional Info**
This issue seems very similar to #57490 which was same prob for a different OS.

[2021-04-16 02:49] sagetherage commented on #60040
Currently we do not support AlmaLinux and your minion is on a vulnerable version of Salt, please consider upgraded to at least the latest point version of the current minion version, but we recommend upgrading to the latest version of Salt.

[2021-04-16 02:49] #60040 closed

[2021-04-16 02:50] sagetherage commented on #60038
@bryceml are you keeping this open to make changes?

[2021-04-16 02:52] sagetherage commented on #60037
@nithintitta please make separate issues for the separate work to be completed and edit this to be the smallest amount of work please.

[2021-04-16 07:30] maennlse commented on #60012
i can confirm that the updated package is working.
thank you.

[2021-04-16 10:53] #59995 closed

[2021-04-16 11:34] DogasNetwork opened #60041 "[BUG] Data failed to compile - Detected conflicting IDs, SLS IDs need to be globally unique. The conflicting ID is 'elasticsearch_repo' and is found in SLS 'base:filebeat.repo' and SLS 'base:elasticsearch6.repo'"
**Description**
[code]

**Setup**
N/A

**Steps to Reproduce the behavior**
I do not know.

**Expected behavior**
The conflicting IDs, SLS IDs need to be globally unique.

**Screenshots**
N/A

**Versions Report**
<details><summary>
[code]
</summary>
(Provided by running salt --versions-report. Please also mention any differences in master/minion versions.)

[code]
</details>

**Additional context**

[2021-04-16 12:22] OrangeDog commented on #60041
This isn't a bug. You have included both those conflicting states in some way. I'm guessing you have added some salt formulas via gitfs. You'll need to look at your master config and top files to confirm.

As an aside, you should not have your logs under `/srv`. I don't know why you've moved things from their default locations, but that's likely to be insecure.

[2021-04-16 12:44] TZanke opened #60042 "askpass parameter missing in roster"
**Is your feature request related to a problem? Please describe.**
We do have Workstations/Servers we can not access with a ssh key. Instead i use salt-ssh with --askpass parameter. But i would like to have a more convenient solution which i do not have to remember: add the askpass parameter to rosters. Right now it is not supported: https://docs.saltproject.io/en/latest/topics/ssh/roster.html#ssh

[2021-04-16 13:16] dagwieers commented on #60038
It is indeed a Notice, but rclone makes it hard to separate different log-levels so you only get actual errors mailed through cron.

If it wasn't for these messages, all would be well.

If you look for these messages on forums, the answer is always: set up your time/timezone/ntp correctly. So it is confusing. Especially since

[2021-04-16 13:20] DogasNetwork commented on #60041
Hi,

Tbh, I'm having this setup in the company. So I don't really know how to find the root cause just yet unfortunately.

And if its as you say that they added some **salt formulas via gitfs** I really wouldn't know how they've done it.

Currently, I'm following an online SaltStack course, so my Salt knowledge is also quite limited at this time :/

But thank you! I'll check out the **salt-master

[2021-04-16 15:31] twangboy commented on #59780
Yeah, looks like the state only checks for the presence of the site and nothing else.

[2021-04-16 15:47] twangboy commented on #59992
The Chrome installer is unique in that the version reported by Salt immediately after the installer completes is not the same as the actual version installed. There must be some processes still completing that eventually set the correct version in the registry.

Additionally, you're also never sure exactly which version of Chrome you're going to get as they don't make older versions available. The

[2021-04-16 15:55] twangboy commented on #60032
I'm not sure the `latest` options works with the `pkgs` argument. A more common state file for a single package would look like this:
[code]
or
[code]
or
[code]
If you don't specify a version, and the package is not present, the latest will be installed.

[2021-04-16 16:22] absmith82 commented on #22046
I have no Idea how this would get implemented, but on the AWS CLI they have an SSO login that redirects you to a web browser and grabs the login tokens from there. Would this be possible to implement in something like salt-pepper, or at least an option to implement for someone building a custom webui via the salt-api?  the original request was for this to work with the API not necessarily via the

[2021-04-16 16:54] edgan commented on #60003
I have attached the bare minimum version of my setup. This fails in the same way with 3003 and works with 3002.6.

Note I do have to run ` rm -rf /var/tmp/.user_ab4926_salt/ /var/tmp/salt-ssh/*` when I switch versions, because it will cache the old version.

No pillars
One map.jinja
Super basic base formula that installs curl
Minimal files

[salt-formulas.tar.gz](https://github.com/saltstack/salt/

[2021-04-16 17:57] bryceml commented on #60038
We should probably update the docs to comment about the Notice.

[2021-04-16 18:00] danielrobbins commented on #60037
I am triaging this issue. @nithintitta would you consider opening a pull request to fix this documentation issue? The file to be modified is in this repository, at https://github.com/saltstack/salt/blob/master/doc/topics/cloud/vmware.rst. It is in 'restructuredText' format. The link fix you suggested is easy to do, but the changes you suggest for "win_run_once" need to be written, and we would be

[2021-04-16 18:15] danielrobbins commented on #60005
It looks like we are referencing Buster in all the right places (just checked) so I am going to close this bug. If you have some areas where you feel like we have missed things, please include specific examples (a link, plus the text you think is wrong) and some suggested improvement text. You have pointed out an issue related to Raspbian but I think we have that covered with these docs: https://r

[2021-04-16 18:15] #60005 closed

[2021-04-16 18:52] markuskramerIgitt commented on #42801
I agree to use environment variables, but `%SystemDirectory%` is not set on my client. Until I understand why, I use the full path here.

I suggested `c:\Windows\System32\config\systemprofile\AppData\Local\SaltStack` because
 1) Accessing certificates and other configuration must require elevation.
 2) Accessing `c:\Windows\System32\config` requires elevation, ensured by Windows.

On my client I f

[2021-04-16 19:22] markuskramerIgitt commented on #59149
### A possibility would be
- Pick a grace period (e.g. 3 month) by choosing a cut-off day in the future.
- Generate a second public/private key pair on the salt-master
- Hide the key pair on the salt-master.
- Distribute the public key and the cut-off day to all minions, which could be currently offline, and hide the public key and the cut-off day information.
- At the cut-off day, the salt-master

[2021-04-16 19:28] markuskramerIgitt commented on #59342
@ScriptAutomate, could you please have a look at #59149?

[2021-04-16 19:36] ConstipatedNinja commented on #41893
Can this be re-opened? It appears to still be an issue.

[2021-04-16 20:30] sagetherage commented on #57203
Derek has been pulled into other priority initiatives and this isn't going to make the point release: 3003.1, move it to Silicon

[2021-04-16 20:31] sagetherage commented on #57203
of course we will also review a PR from anyone in the community :)

[2021-04-16 20:36] morganwillcock commented on #42801
`%PROGRAMDATA%` seems the correct default place to me. I've never seen any type of application install into the SYSTEM user's profile and by using this location I think it then rules out the possibility of running an unprivileged minion at the same location (without battling to modify disk permissions to be more permissive and hoping that nothing gets reset by Windows Update). I think there would

[2021-04-16 20:37] cruscio commented on #42801
Are you suggesting the installer (let alone the minion at *every* read from disk of a private key / config) will be assuming the _inherited_ permissions are correct!?

If the installer isn't stripping *all* inherited permissions on its critical folders/files, and explicitly setting its own permissions, that's ... well... not ideal to say the least.

The question should be _"What's the appropriate

[2021-04-16 20:58] ephreal commented on #60032
Hi twangboy

I took your recommendation there and attempted an install of the zabbix-agent on the computer again with the 3 alternative states you show examples of. Upon running the state, the Return still shows false, despite the install status being successful. For example, when running the state

[code]

The output is still

[code]

Is there any additional information that I could provide that

[2021-04-16 21:55] ephreal commented on #60032
Hi twangboy,

I have just discovered that the issue lies outside of saltstack and in the saltstack-repo-ng. The zabbix-agent.sls in saltstack-repo-ng is no longer accurate for the 32-bit agent. I'll close this and either open an issue or a pull request for the repo to update the full_name for 32-bit zabbix. It must have been correct at one point because I have used it to install the 32-bit agent w

[2021-04-16 21:55] #60032 closed

[2021-04-16 23:10] mirko opened #60044 "[BUG] Change of home-dir for existing user fails"
**Description**
Within a working sls file for managing users and their home dirs I'm changing the path to a user's homedir to another (non-existing) one.
That fails with:

[code]

**Setup**

**Steps to Reproduce the behavior**

Managing a user:

[code]

Execute sls on host, everything is fine.
Then changing the user's homedir, though, e.g. by changing the whole section from above to (ensuring /tmp

[2021-04-16 23:31] mirko opened #60045 "[FEATURE REQUEST] ssh_auth.{present,manage}: allow defining config-file being "read-only" or permissions being set"
**Is your feature request related to a problem? Please describe.**
Sometimes you want to maintain SSH access keys for users in a centralized place, instead of the user's home dirs for various reasons, in my case, I do not want users to allow adding additional SSH public keys.

This is supported by openssh-server via the sshd_config option `AuthorizedKeysFile` which in my case is set to `/etc/ssh/a

[2021-04-17 01:56] dontlaugh commented on #57274
Is this still broken? I am passing pillar data to an orchestration routine at the command line, and it doesn't make it to states.

[2021-04-17 12:17] stealthcopter opened #60046 "[BUG] Snapper module _is_text_file function broken"
**Description**

I believe the snapper module's `_is_text_file` has been broken as part of the security vulnerabilities that were fixed in this pull request: https://github.com/saltstack/salt/pull/59648

**Steps to Reproduce the behavior**
Attempt to run the snapper module's diff function. Or you can run the following code to test (copied from snapper module):

[code]

If you test this out just in

[2021-04-17 18:18] markuskramerIgitt commented on #42801
Agreed

Good point

Good point

[2021-04-17 18:20] markuskramerIgitt commented on #42801
Agreed

[2021-04-18 00:09] dontlaugh commented on #57274
upgrading to 3003 seems to fix this

[2021-04-18 13:54] dachshund-digital commented on #60019
To last comment!  LOL!

[2021-04-18 16:05] vuurvoske commented on #55269
When breaking my own code and rewriting stuff, this issue is still at large:

nfs_config:
  file.managed:
    - name: /etc/exports
    - user: root
    - group: root
    - mode: '0644'
    - source: salt://base/nfs/templates/nfs_export.j2
    - template: jinja
    - context:
        nfs_dir:  {{ nfs_dir }}
        perms:    {{ nfs_perms }}
        squash:   {{ nfs_squash }}
        subtree:  {{ nf

[2021-04-18 18:35] sagetherage commented on #58100
Are the docs incorrect? did we make a change to this? @doesitblend @whytewolf? I am not sure that we do enforce order on very many modules, but perhaps we do, here.

[2021-04-18 18:46] sagetherage commented on #44937
We are aware that the insertion-order preservation nature of dict objects has been declared to be an official part of the Python language spec; however, this is not necessarily true in Salt.

[2021-04-18 19:04] network-shark opened #60048 "[BUG] sysrc.managed test=True TypeError: can only concatenate str (not "bool") to str"
**Description**
When running sysrc.managed in test mode a bool is returned instead of a string . I could not figure out why , it only happens on one of my systems. Most of the time it works with the current code .

**Setup**
[code]

**Steps to Reproduce the behavior**
salt '*' state.apply teststate test=True

**Expected behavior**
[code]

**Versions Report**
[code]

Possible fix is salte/states/sy

[2021-04-18 23:23] jkmcrg commented on #55926
same issue - thank you for taking the time to be thorough @iaingeorgeson

[2021-04-19 07:23] pprkut opened #60049 "[BUG] Memory leak in master ProcessManager"
**Description**
We updated our infrastructure from 3002.6 to 3003 and observed a rather severe memory leak in the ProcessManager of the salt master. We have both OSS and SSE masters and could observe the same behavior on all of them.

**Steps to Reproduce the behavior**
Issue is repeatable here and immediately visible after restarting salt-master (trend is visible after 5-15 minutes)

**Screenshot

[2021-04-19 07:40] ptitdoc commented on #30990
Hello,

I did not manage to use gitfs + pygit2 + http/https web proxy either.

[2021-04-19 09:12] OrangeDog commented on #60049
Further details would probably be useful. Heap dump, config files, what the minions are doing.

[2021-04-19 09:14] OrangeDog commented on #60048
Is there an actual error raised? Have you got the stacktrace?

It's part of the YAML parse that `"YES"` gets converted to `True`.

[2021-04-19 09:16] ptitdoc commented on #30990
It has been apparently fixed upstream :
https://github.com/libgit2/pygit2/pull/1063/files

With this pygit2 patch, forcing proxy detection work. It may require adaptation in salt to make proxy automatic (add argument proxy=True in fetch call).

[2021-04-19 09:18] OrangeDog commented on #60045
The user has to own the file, so can change the permissions to whatever they want. I don't see this being very useful.

An alternative is to use `file.managed` with `create=False` and `replace=False` to manage only the permissions.

[2021-04-19 09:19] pprkut commented on #60049
I had to downgrade the server to 3002 again because it ran out of RAM within a couple hours. I can temporarily upgrade again to debug some things, but then I need to know what I'd need to check for exactly, as we only have production systems where I can try that :-/

From what I can tell there's no specific minion action that triggered this. Memory increase happened when the system was essentially

[2021-04-19 09:25] network-shark commented on #60048
Sorry I missed that !

[code]

[2021-04-19 09:32] OrangeDog commented on #60048
If you put ` value: 'YES'` instead of ` value: YES`, does it then work?

[2021-04-19 09:39] pprkut commented on #60049
<details><summary>/etc/salt/master.d/f_defaults.conf</summary>

[code]
</details>

[2021-04-19 10:36] mirko commented on #60045
Not sure I'm getting it right, but preventing users from editing (their) authorized_keys - mainly preventing them from adding additional (malicious) keys - has my point of view is an immediate and obvious benefit security wise.

This is especially the case, if users use agent-forwarding and - while their private key itself can't be stolen from the host they agent-forwarded to - the agent can be us

[2021-04-19 11:50] tj90241 commented on #44937
FWIW, I have been using the patch from the PR above on a dozen machines for a few weeks now and the problem has not re-emerged for me.  The pillar roots are always scanned in the order in which they appear in the config.

[2021-04-19 13:18] network-shark commented on #60048
Summary :
[code]

State always returns changed
Test=True is broken
[code]
state works
test=true works

[2021-04-19 13:29] OrangeDog commented on #60048
Those examples don't show what I asked.

Does `value: YES` fail and `value: 'YES'` work? If so then that's a standard YAML issue.
Perhaps the state could handle non-string types a bit better, but if you want to pass the string `'YES'` in YAML then it must be quoted.

[2021-04-19 13:54] network-shark commented on #60048
Yes , it is exactly like you said.

Then I think , it works as designed , but docs should be updated ?

https://docs.saltproject.io/en/latest/ref/states/all/salt.states.sysrc.html

[2021-04-19 14:37] bradawk1 commented on #54692
My jinja for loop has been working fine.  Can close this.  Thanks!

[2021-04-19 14:37] #54692 closed

[2021-04-19 16:15] sagetherage commented on #56421
descoped from the Aluminium point release, changes requested

[2021-04-19 17:01] danielrobbins commented on #60044
I believe the exact functionality you want already exists. Specify "createhome: true" to enable the creation of a new home directory. This setting should allow the home directory to be changed. Without this setting specified, the home directory is immutable.

Please try this and let me know if it resolves the issue.

[2021-04-19 17:07] mirko commented on #60044
Hello, thanks for the reply!

`createhome: True` is exactly what I do *not* want, as in my usecases either
(a) the new homedir already exists
or
(b) the new homedir is non-existent (literally '/nonexistent', which is a common value at least on Debian/Ubuntu as part of /etc/passwd for users not having a home dir)

[2021-04-19 17:11] danielrobbins commented on #60031
The underlying cause of this issue is that the original bug was not fixed. The original bug reporter simply closed the bug, as it was a "bug" of a specific version of mariadb. But after some research, it turns out that this "ALL PRIVILEGES" issue is potentially more widespread than just this specific version of MariaDB, so it could cause problems for other versions too. I found this in the current

[2021-04-19 17:20] danielrobbins commented on #60025
@network-shark please ensure you have the napalm module installed:

``pip3 list | grep ^napalm``

You may need to use "pip". As per these docs, napalm is a requirement, so let's start the troubleshooting there: https://docs.saltproject.io/en/latest/ref/proxy/all/salt.proxy.napalm.html#dependencies

[2021-04-19 18:23] danielrobbins commented on #60018
These are notes related to the issue, from a developer perspective.

From https://docs.python.org/3/library/weakref.html#comparing-finalizers-with-del-methods

"However, handling of __del__() methods is notoriously implementation specific, since it depends on internal details of the interpreter’s garbage collector implementation.

A more robust alternative can be to define a finalizer which only r

[2021-04-19 18:33] merichar commented on #53583
I am running into a similar issue (Debian 10.28-1) with salt (3002.5) not recognizing libgcc-s1 as Providing/Replacing libgcc1 as a dependency for minecraft-launcher. @AstraLuma, I'm tacking on to this issue based on your comment:

But if you don't feel they are sufficiently related I'll go open a new issue.

### Package details
Package: minecraft-launcher
Depends: [...] libgcc1 (>= 1:4.1.1) [...]

[2021-04-19 18:42] danielrobbins commented on #60025
I think this is related to #59690 -- or at least touches the same code. The ``__getitem__()`` method should be rewritten. In this particular bug, I think we are having issues because we are not using the following conditional structure:

[code]

In other words, it is not handling the case where ``key`` is not in ``self.dict`` but ``self.loaded`` evaluates to true. It will then try to return ``self

[2021-04-19 18:45] danielrobbins commented on #59690
I referenced this bug in #60025. I think that ``__getitem()__`` should be rewritten and improved as there is more than just the issue you found.

[2021-04-19 18:57] danielrobbins commented on #59962
@litnimax Since this used to work but now does not, it seems reasonable to assume that recent changes to the lazy loader have made it not thread-safe. Maybe it was thread-safe before but now is not, or maybe it was never thread-safe (not sure if we ever made sure it was thread-safe) and you were lucky with earlier versions.

I am making this conclusion based on this part of the traceback:

[code]

[2021-04-19 19:05] danielrobbins commented on #59962
@dwoz Performing some dev triage on this issue. I have some thread-safe module loading code in subpop -- here is a snippet:

[code]

```loader.py/LazyLoader/_load_module()`` could be renamed to ``_really_load_module()`` and ``_load_module()`` could be replaced with something like the above code. In the above code, ``self.lock = threading.Lock()``.

If this change doesn't create any deadlocks, then

[2021-04-19 20:00] sagetherage commented on #60046
@stealthcopter

https://sec.stealthcopter.com/saltstack-snapper-minion-privledge-escaltion/

I will look into this, we did receive other emails, but it is true I didn't see one around this issue described. I will get back to you on any findings.

[2021-04-19 20:12] stealthcopter commented on #60046
@sagetherage Ah sorry, I thought I had included it in the original report but couldn't check due to encrypting it :facepalm:

[2021-04-19 20:50] network-shark commented on #60025
@danielrobbins Could this also be related to this ?

root@debian10:~# salt '*' napalm.netmiko_commands 'show version'

[code]

[2021-04-19 22:06] msteed commented on #60049
Possible breadcrumb: On an idle 3003 master with no minions connected, I see a leak of 50-100MB per hour. I do have an engine running that does nothing except call `salt.utils.event.get_master_event()` every few seconds.

[2021-04-19 23:38] dmurphy18 commented on #59838
Failure is occurring due to the following:
[code]
this is even with init.sls containing:
[code]

Digging further as to why napalm is not found when using saltcheck module_and_run

[2021-04-20 06:41] krionbsd commented on #60019
IIRC `hostname` or `raspi-config` changes on minion require a reboot, did you do it?

[2021-04-20 06:51] myii commented on #59982
Been facing verification failures (testing any `salt-call` command) on the `salt-image-builder` repo related to this.  Will apply the workaround for the time being (thanks for sharing that, @jamesbernardi).  Just out of interest, it doesn't affect all of our builds:

[code]

[2021-04-20 08:15] iHarshalAgarwal commented on #59424
I face the same issue. Do we have a workaround for this?

[2021-04-20 09:16] Vaarlion opened #60055 "[BUG] file.replace and file.search false change when looking for `//`"
**Description**
I have a file i wish to fully comment. The comment flag for it is `//`.
for this i used this state
[code]
my file now look like this
[code]
It worked well but always reported a future change when running in test=true. So i started digging.
`states.file.comment` call `modules.file.search`, which is a wrapper for `modules.files.replace`
`modules.files.replace` use `re.search` when `s

[2021-04-20 11:19] ixs commented on #58956
@sagetherage I updated the PR #58957 to include two test cases. Could you review and remove the "Needs Testcase" label please.

[2021-04-20 15:15] marbx opened #60057 "[BUG] Windows Salt Minion contains non-Windows modules and other components"
**Description**
The [Windows Salt Minion removes some Unix modules](https://github.com/saltstack/salt/blob/837e8dd5d037042c7a8896c2541a2f511a519e64/pkg/windows/build_pkg.bat#L222), grains and other components, but many remain.

The below lists are both incomplete and inaccurate, please help to correct and amend.
[code]

**Expected behavior**
The Windows Salt Minion should only contain Windows modu

[2021-04-20 15:33] dmurphy18 commented on #59838
So communicated with the code author for Saltcheck, William Cannon <william.cannon@gmail.com> and

[code]

The correct solution will be to add a check to see if this is being run on a proxy and return 'Not supported'

[2021-04-20 16:50] whytewolf commented on #60057
some of those modules you list are still useful in the windows world. MySQL can be installed on windows, so can versions of postgres. boto modules are also useful although the windows packages should install the boto modules to use them.

[2021-04-20 17:08] whytewolf commented on #60049
another breadcrumb, although I'm not sure it is for the ProcessManager

if I set up the status beacon to send lots of requests to the master it loses memory more quickly.

[2021-04-20 17:55] danielrobbins commented on #59793
@sugarraysam yes, you can pass in arguments, but cmd.run wants a string as a first argument. If you pass in a string, it will be happy.

[2021-04-20 18:24] danielrobbins commented on #59838
@dmurphy18 Are there any quick documentation updates that could be made along with your PR to clarify the situation for end-users of salt?

[2021-04-20 18:52] danielrobbins commented on #60055
I have reproduced your issue. I created a salt state with your exact file.comment state, but operating on my own test file. When I run with test=true, We get the message "File /var/tmp/comment is set to be updated":

[code]

I can also see that when the state has already been applied, running it without test=true gives us a 'bad' response, indicating a change was made, but no change was made, beca

[2021-04-20 19:15] mahresohl commented on #60049
We see this issue on our system too. Salt-master becomes non-responsive and requires a restart. Depending on the load, the memory leak accumulates faster or slower. Sometimes it is workable for a couple of weeks, sometimes it exhausts the memory in a day.
A single process out of all spanned by the salt-master is responsible for this. Not sure what it does.
[code]
Soon after restart:
[code]
Version

[2021-04-20 19:20] danielrobbins commented on #60055
OK, in attempting to narrow down the problem, I've determined:

1. file.comment works 100% fine with a simpler regex such as "^foobar" -- running again correctly indicates no changes will be made.
2. file.comment works 100% fine with your comment string '//'  -- running again correctly indicates no changes will be made.

By eliminating these possibilities, I think it is very likely that the state

[2021-04-20 19:28] whytewolf commented on #60049
If you install setproctitle python module it will list what most of the processes do. there are two or three that don't have labels though. for troubleshooting memory leaks it is important to know which process is causing the problems.

Also since you are running 3002.2 the memory leak you are reporting will be vastly different then the one in this ticket. 3002.2 had it's own memory issues. this t

[2021-04-20 19:41] dmurphy18 commented on #59838
@danielrobbins The documentation already states **minion**, that was what made me think about whether it could also be used with a proxy.  But good suggestion, changed the initial doc string from

[code]
to
[code]

Thanks for the suggestion

[2021-04-20 19:41] sagetherage commented on #60046
@stealthcopter we did migrate the email address recently, but have received emails before and after the migration date. Can you give me some more details on the email address and date sent? You can send those to me here: sage@saltstack.com

thank you!

[2021-04-20 19:43] markuskramerIgitt commented on #60057
@whytewolf, thank you for pointing to MySQL, Postgres and boto.
I started above lists from what I personally don't use (which includes modules useful on Windows),  overlooked the databases, and I honestly don't know what boto is :-)

We briefly discussed the issue in the today [Windows working group](https://github.com/saltstack/community/blob/master/working_groups/wg-Windows/meeting-notes/2021-04

[2021-04-20 20:20] whytewolf commented on #60057
no problem, for reference boto is used for the control of aws. each of the boot modules controls an aspect of aws. boto_ec2 is used for the ec2 system etc. so for anyone running windows in aws they most likely will want those modules.

[2021-04-20 21:06] sagetherage commented on #59315
@stefan-as latest releases are here: https://github.com/saltstack/salt/releases or https://repo.saltproject.io/ but guessing you will still see this in 3002.6 or 3003, yes?

[2021-04-20 21:28] network-shark opened #60061 "[BUG] running netmiko function on napalm proxy fails"
Hello Saltdevs,

**Description**
running  salt '*' napalm.netmiko_commands 'show version' against a cisco csr1000v results in traceback .

According to the docs it is possible to call netmiko via napalm proxy. None of the functions are working for me.

salt 'r1' napalm.netmiko_commands 'show version'
salt 'r1' napalm.netmiko_config 'hostname r1'
salt 'r1' napalm.netmiko_fun send_command 'show vers

[2021-04-20 21:31] sagetherage commented on #58916
closing in this repo @saurabhnemade please see the above and contact info for questions, thank you!

[2021-04-20 21:31] #58916 closed

[2021-04-20 21:36] sagetherage commented on #58747
looks like this was fixed in Aluminium lcosing

[2021-04-20 21:36] #58747 closed

[2021-04-20 21:41] sagetherage commented on #58424
is this a test failure? @bryceml @garethgreenaway

[2021-04-20 21:43] sagetherage commented on #57998
@Brotosterone Salt v`2019.2.x` are no longer supported are you able to upgrade to a supported a version and does the issue still exist?

[2021-04-20 21:51] sagetherage commented on #50611
@s0undt3ch is this fixed?

[2021-04-20 21:53] sagetherage commented on #42510
closing can reopen if this is still an issue in supported versions

[2021-04-20 21:53] #42510 closed

[2021-04-20 22:02] sagetherage commented on #33466
closing as this is old - if an issue still exists for the TCP transport please open a new issue and confirm what supported version of salt

[2021-04-20 22:02] #33466 closed

[2021-04-20 22:03] #32294 closed

[2021-04-20 22:03] sagetherage commented on #32294
If any issues exist similar to these comment, please open a new issue and site the supported version of Salt

[2021-04-20 22:07] sagetherage commented on #31907
I am closing this as `won't fix` since it is difficult to reproduce on a supported version of Salt. If this comes up again, please site the supported version of Salt and open a new issue.

[2021-04-20 22:07] #31907 closed

[2021-04-20 22:09] sagetherage commented on #28940
@timwsuqld is this still valid on a supported version of Salt?

[2021-04-20 22:32] sagetherage commented on #50662
@doesitblend is this still an issue on `3003`?

[2021-04-20 22:36] dwoz commented on #50403
This was resolved by #55952 in version `3000`

[2021-04-20 22:36] #50403 closed

[2021-04-21 01:40] dachshund-digital commented on #60019
If I am using DHCP to acquire the hostname and drop connectivity and reconnect that should refresh the hostname as well no?

[2021-04-21 06:46] krionbsd commented on #59496
After skipping `tests/integration/states/test_file.py` FreeBSD tests work fine

[2021-04-21 09:14] subrata-1984 commented on #59992
Hi, I have executed the chrome installation with version latest. But same issue persists. Applied a retry logic as well with pkg.install thinking if the installation takes some time to update the registry keys and salt is reading the keys before that and throwing the message as failed to install. But same error...

Below is the list_pkgs after chrome is installed.

![image](https://user-images.git

[2021-04-21 09:34] ixs opened #60064 "[BUG] GCE stops working with Salt 3003 on CentOS7 due to unpackaged libcloud dependency"
**Description**
After upgrading to salt 3003 on CentOS7 `salt-cloud` does not work anymore for users of the Google Compute Engine.

[code]

https://github.com/saltstack/salt/pull/59374 changed the minimum required version of the libcloud dependency to 2.5.0 while epel7 ships with release 2.2.1

I think it would be a good step here to ship a newer libcloud rpm in the saltstack repo, similar to othe

[2021-04-21 09:51] DogasNetwork commented on #60041
I had to change the the name from **elasticsearch_repo** to **elasticsearch_filebeat_repo** located in the directory **/srv/data/salt/filebeat.repo.sls**

{%- set release = salt['pillar.get']('apt:release') %}
{%- set url = salt['pillar.get']('apt:proxy-url') %}

[code]

But now I'm faced with different errors and they are as follows:

[code]

any ideas on how I should edit this on **/srv/data/sal

[2021-04-21 09:58] DogasNetwork opened #60065 "To Be Closed"

[2021-04-21 10:38] Ch3LL opened #60066 "[TEST FAILURE] PR centos7 Tests Time Out"
The following Tests are timing out on PRs but NOT on branch tests:

pr-centos-7-x86_64-py3-pycryptodome-pytest
pr-centos-7-x86_64-py3-m2crypto-pytest
pr-centos-7-x86_64-py3-pytest
pr-centos-7-x86_64-py3-tcp-pytest

Here is an example:

https://jenkins.saltproject.io/job/pr-centos-7-x86_64-py3-tcp-pytest/job/PR-60062/1/

The tests ran for 6 hours and then it killed the tests due to the 6 hour timeo

[2021-04-21 10:40] Ch3LL opened #60067 "[TEST FAILURE] Mojave Branch Tests Time Out"
The Mojave branch tests are timing out:

https://jenkins.saltproject.io/view/Freeze%20Branch%20Jobs/job/pr-macosx-mojave-x86_64-py3-pytest-slow/job/freeze/23/

After it hits the 6 hour mark it kills the test suite.

Possibly similar to https://github.com/saltstack/salt/issues/60066

[2021-04-21 10:43] OrangeDog commented on #60041
Your system does not have a package called `filebeat`. That has nothing to do with Salt.
You've probably got the repo definition wrong in some way.

[2021-04-21 10:43] #60041 closed

[2021-04-21 11:25] #60065 closed

[2021-04-21 11:31] DogasNetwork commented on #60041
Sorry had to remove the comment since I had uploaded sensitive information without knowing

[2021-04-21 11:31] DogasNetwork commented on #60041
I see thanks, I'll look into it appreciate it!

[2021-04-21 11:54] dfidler commented on #42204
Encountered this today when a customer using salt 3002.4 was trying the following and got a certificate error:

[code]
I didn't gather the details on their certificate or any proxies.  But he was able to download the file manually using curl --no-check-certificate` easily enough (it could have been a proxy issue, but I don't think so).

Anyway, this should be converted into an enhancement request

[2021-04-21 12:17] Daniel-Lecoq opened #60068 "[BUG] Slack deprecating usage of token as a query string parameter in Web API requests"
**Description**
Slack has deprecated the possibility to pass API tokens in the url string. See https://api.slack.com/changelog/2020-11-no-more-tokens-in-querystrings-for-newly-created-apps

As far as I can tell, all the Slack modules rely on building the url with the API token in it. These modules would need to be rewritten to pass the API token in the Authorization HTTP header as per Slack's requ

[2021-04-21 13:38] jynolen opened #60069 "[FEATURE REQUEST] - Per state output condition"
**Is your feature request related to a problem? Please describe.**
I would be able to specify per state output configuration in the following example it could be great to hide the changes from

**Describe the solution you'd like**
It could be really great to have a state related options (just like the require entry) to specify options to hide the content
Something like

[code]

**Additional contex

[2021-04-21 15:29] bsoldhogg commented on #58795
I'm also seeing this issue in a lab running CentOS 7 and Ubuntu 18.04. These minions are on 3001.6 as around half of my estate are on this version and I'm trying out a reliable upgrade path....

[2021-04-21 16:02] doesitblend opened #60070 "[DOCS] Add dateutil as dependency for schedule execution module"
**Description**
Documentation for the schedule execution module does not list the dateutil module as a dependency. Also, this module is not always installed by default in every minion installation.

**Suggested Fix**
Add the dependency to the execution module documentation

**Type of documentation**
Salt execution module documentation

**Location or format of documentation**
https://docs.saltproje

[2021-04-21 18:00] Daniel-Lecoq commented on #60068
I can confirm the same behaviour on 3003 as well (both the salt-master and salt-minion on 3003)

[2021-04-21 18:51] sagetherage commented on #60049
@pprkut and @mahresohl what is process name, please?

[2021-04-21 19:29] #57665 closed

[2021-04-21 19:38] #57127 closed

[2021-04-21 19:44] #58956 closed

[2021-04-21 19:45] #59692 closed

[2021-04-21 20:42] dmurphy18 commented on #59333
Closing since https://github.com/saltstack/salt/pull/60052 has been merged

[2021-04-21 20:42] #59333 closed

[2021-04-21 21:39] sagetherage commented on #59942
closing as being released in Salt v3003.1 and will be merged forward into Master after the point release.

[2021-04-21 23:44] sagetherage commented on #57750
This is being looked at, but we did not have a fix in Mg or AL and still is in progress.

[2021-04-22 00:11] dmurphy18 commented on #60061
@network-shark Fortunately, I have access to Arista (close enough CLI to Cisco) and can duplicate the issue
[code]
 Using Salt 3002.2 so whatever the problem is, it has been around for a while.  Will dig into this and let you know what I find.

[2021-04-22 02:15] vekergu opened #60072 "[BUG]cmdmod.exec_code_all use runas execute the shell script reteurn code 126"
**Description**
salt   "*" cmd.exec_code_all   bash   "echo  good"  runas=macuser

cmdmod.exec_code_all use  runas execute the  shell script ，return No Execution Permission，return code 126.

salt use  salt.utils.files.mkstemp  create codefile  is  root  user，but  use  runas    args，other user can not  Execution Permission to run  this codefile.

[2021-04-22 04:53] garethgreenaway commented on #60031
Looks like there was the assumption that "ALL PRIVILEGES" will always be translated to the full list of all available privileges.  Apparently this is only the case when the grant is on the global level, eg. using a database of `*.*`.  When the grant is to a specific database then the grant is add to the grand table with the text `ALL PRIVILEGES`.

[2021-04-22 06:32] pprkut commented on #60049
The name of the affected process on my side is in the screenshot. It's `/usr/bin/python3 /usr/bin/salt-master ProcessManager`

[2021-04-22 11:46] sanjaygeeky opened #60073 "[DOCS]"
**Description**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Installtion of salt minion on Windows for ubuntu master
**Suggested Fix**
What did you expect to see in the documentation that is missing or needs updating?
I would like to see a step by step working of the windows minion right from chosing the server to commands being executed from ubuntu

[2021-04-22 12:55] tommygrumheden commented on #10237
Adding something about that jks is a dependency in the documentation for the state maybe could help.

[2021-04-22 13:48] danfoster opened #60075 "[BUG] state `acl.list_absent` doesn't report changes"
**Description**
When using the `acl.list_absent` to make sure an ACL is not present on a file, it removes the ACL, but does not report any changes.

**Setup**

Example SLS:
[code]

[code]

**Steps to Reproduce the behavior**

Obverse the ACL has an entry for the data_operators group
[code]

Run the example SLS above:
[code]

Note the output doesn't show the state has made a change. But look at the

[2021-04-22 15:09] sagetherage commented on #59368
Please see my comments in the PR linked [here](https://github.com/saltstack/salt/pull/59328#issuecomment-824924918)

[2021-04-22 15:52] sagetherage commented on #60073
@sanjaygeeky are you looking for more details than https://docs.saltproject.io/en/latest/topics/installation/windows.html?

[2021-04-22 16:09] bryceml commented on #58424
kind of, it was passing when it should have failed.

[2021-04-22 17:57] corey-hammerton commented on #60018
I managed to re-produce the situation with a better stacktrace. We are using [prometheus-formula](https://github.com/saltstack-formulas/prometheus-formula) with archive true. When the minion tried to process the archive.extracted function, the output below had appeared

[code]

[2021-04-22 18:20] amalaguti commented on #52831
@rdutch The issue is still present, I'm facing this problem now.
Here's my fix, as mentioned in the previous comments autocommit should be set to true, or do a commit() after execution of the query

`
def tsql_query(query, **kwargs):
    try:
        #cur = _get_connection(**kwargs).cursor()
        conn = _get_connection(**kwargs)
        conn.autocommit(True)
        cur = conn.cursor()

[2021-04-22 19:30] szjur opened #60076 "Runas fails with "The RPC server is unavailable" on Windows for domain users"
### Description of Issue
Runas fails with "The RPC server is unavailable" on Windows for domain users. It fails on

_, domain, _ = win32security.LookupAccountName(domain, username)

If you run a simple google search for that you will find threads such as

https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/f655ed3f-b634-4bdc-9376-6497da3d9f27/from-service-that-run-in-session-0-create-act

[2021-04-22 19:34] danielrobbins commented on #59205
Does anyone have a reliable way to reproduce this, or is it random?

If it is reproducible, then I would like to bisect of the salt code to narrow down what code change caused this regression. We know it used to work, and we know it now works unreliably at best in some cases.

If anyone has a scenario where they can reliably reproduce the failure, please include any specific details. I will then t

[2021-04-22 19:58] twangboy commented on #60073
There is also this walkthrough: https://docs.saltproject.io/en/latest/topics/tutorials/walkthrough.html

[2021-04-22 20:07] twangboy commented on #59992
It doesn't look like chrome was installed. It's not showing up in `pkg.list_pkgs`.

[2021-04-22 20:31] twangboy commented on #59992
So, the problem you're trying to solve then is installing chrome from an installer hosted on S3? If I'm reading the salt code correctly, s3 should be a supported file protocol for the winrepo installer. So, you should be able to specify the s3 url in the `installer` property.

[code]

Then you shouldn't need the file.managed part of the state.

[2021-04-22 20:38] 7meis commented on #58481
We had this bug as we played around with this tutorial:
https://backbeat.tech/blog/secure-servers-with-saltstack-and-vault-part-4/

salt/ca/init.sls (this state was working).

when we tried this state, we had the bug.
salt/vault/install.sls

hope this helps?
Simon

[2021-04-22 20:43] twangboy commented on #59718
Underscores maybe? `pillarenv_from_saltenv`

[2021-04-22 20:54] dwoz commented on #60049
@pprkut can you provide me a full process list of the salt master when this issue is happening. Also, if you can get me some debug logs it'll be a big help. The thing that is concerning me is that I don't see any changes ProcessManager code in the last several releases.

[2021-04-22 21:36] danielrobbins commented on #60055
I think I found the issue, and it has to do with your regex.

'^(?!//)(.*)$' will actually have one match, an empty string -- as long as the file exists.

I think you want to replace '*' with '+', which will indicate that your negative lookahead has to be on a line with at least one character on it. Try it and see. I have also written this sample program to demonstrate:

[code]

So this appears to

[2021-04-22 22:41] sagetherage commented on #58481
the label is applied to the PR and am simply copying it here - the PR will need a test case to be merged into the code base. We started requiring unit/integration tests on all PRs in 2018. We hold Test Clinics on Tuesdays and Thursday via [Twitch](https://www.twitch.tv/saltprojectoss the schedule is in that link as well. I hope that helps @7meis

[2021-04-22 23:12] sagetherage commented on #60072
@vekergu can you please give us your set up and
**Versions Report**
<details><summary>salt --versions-report</summary>
(Provided by running salt --versions-report. Please also mention any differences in master/minion versions.)
please?

[2021-04-22 23:18] sagetherage commented on #60075
@danfoster
The Salt version is vulnerable. We recommend upgrading as soon as possible to at least latest point release or to latest. You can find those here https://github.com/saltstack/salt/releases or the packages repo here: https://repo.saltproject.io/

[2021-04-22 23:36] sagetherage commented on #52595
Hello! If you want to put this into a Salt-Extension here are some details:

We have a tool in another repo here: https://github.com/saltstack/salt-extension to make an extension and you can also see the [overview video](https://youtu.be/hhomJkwxK3Q).

If you have questions please reach out to us on [Slack](https://saltstackcommunity.slack.com) or IRC via [Freenode](https://webchat.freenode.net/#s

[2021-04-22 23:41] sagetherage commented on #54511
@hemantaltair is this still an issue?

[2021-04-22 23:52] sagetherage commented on #54815
@nkrishnakishor can you confirm this is still an issue in a supported Salt version? >v3000.9?

[2021-04-22 23:55] sagetherage commented on #55341
@hartmutreusch is this still an issue in a supported version of Salt >3000.9?

[2021-04-22 23:57] sagetherage commented on #55370
@raddessi is still an issue on supported versions of Salt?

[2021-04-22 23:58] #55782 closed

[2021-04-23 00:01] #57680 closed

[2021-04-23 00:01] #57683 closed

[2021-04-23 00:03] sagetherage commented on #58081
@nicholasmhughes it looks like this is still an issue, yes?

[2021-04-23 00:05] sagetherage commented on #58081
@poliscialex on v3002+ can you send your most recent debug logs, please?

[2021-04-23 00:11] sagetherage commented on #58577
@Darkentik did you set the file limit on the master? are you still seeing this issue?

[2021-04-23 00:28] sagetherage commented on #18843
@jfindlay @digitalcircuit can you confirm this is still an issue a supported version of Salt?

[2021-04-23 00:37] sagetherage commented on #32846
I would love to have this, but it cannot be static documentation. I cannot commit to this in Phosphorous, but will look at the Docs Working Group to see if we can get a plan together.

[2021-04-23 02:10] hemantaltair commented on #54511
no anymore please close. thanks

[2021-04-23 02:10] #54511 closed

[2021-04-23 05:28] Darkentik commented on #58577
Hi @OrangeDog and @sagetherage,
sorry for the delay!!!!!! I'm very busy in the moment.
@OrangeDog We started with the default value for the max_open_files and didn't set anything manually.
After we set 100000 (which is the default value) manually the error was gone.

I can't say more because i have left the company and in my new company our saltstack environment isn't that big in the moment as in

[2021-04-23 05:49] Vaarlion commented on #60055
Thank you for taking the time to look at this @danielrobbins !
I did try my best to rule out regex issue before posting a bug here, and i though i had something when finding that weird data thing.

I'm guessing it matched the  last "empty" line of any file , but i would have expected the file.comment state i use to append `//` at the end of the file for every run then.

It no longer return wrong c

[2021-04-23 06:08] danielrobbins commented on #60055
@Vaarlion you are very welcome! This is actually a weird behavior of the python regex implementation, which is also discussed here: https://github.com/rust-lang/regex/issues/355

It may actually be a good idea to look into some fix/tweak for this so salt users don't have to deal with this strange peculiarity of the multiline regex implementation in Python. I would like to look into the possibility

[2021-04-23 08:11] danfoster commented on #60075
Thanks for the security concern. Luckily it's not as bad as it seems, we are actually running 3002.5, but you've pointed out a problem in our internal packaging process that isn't setting the minor version number.

[2021-04-23 09:43] tiprogn opened #60077 "[BUG]Error while bringing up minion for multi-master. Is master at responding?"
**Description**
I've just commissioned a new SuSE Manager server based on 15SP1 and I'm just moving over my minions from my previous salt-master server. Unfortunately after adding the minion I stumble upon this issue.

**[ERROR   ] Got a bad pillar from master, type str, expecting dict:
[ERROR   ] Error while bringing up minion for multi-master. Is master at responding?**

**Setup**
(Please provid

[2021-04-23 09:48] gilbrechbuhler commented on #59490
Observing the exact same issue on multiple stacks, all running on 3002.5.

[2021-04-23 10:05] tiprogn commented on #60077
Oh my mistake I deleted the /var/cache/salt/master/* directories completely but forgot to add salt as permission to these dirs.

****
salt.exceptions.SaltCacheError: The cache directory, /var/cache/salt/master/minions/nobuxaas, could not be created: [Errno 13] Permission denied: '/var/cache/salt/master/minions/nobuxaas'****

chown salt.root /var/cache/salt/master/*
**[DEBUG**   ] This salt-master

[2021-04-23 10:05] #60077 closed

[2021-04-23 10:31] kkoppel commented on #59490
This issue is still present on v3003 as well.

[2021-04-23 10:39] zerthimon commented on #59490
No one cares, move on.

[2021-04-23 10:54] subrata-1984 commented on #59992
Google Chrome package is getting installed through Salt, as you can see on top I have pasted a screenshot saying installation is success. I see it in the minion's add/remove program as well. Also in the minion logs you can see logs with installation success but printed with level Error ( This is a point to be noted ).

Even though package is installed successfully the minion is returning the insta

[2021-04-23 10:57] subrata-1984 commented on #59992
If possible, can you replicate the state files, pillar info and win repo packages mentioned above in your local system with Salt version 3002 or above and try to reproduce the issue. I am not actually a Windows guy so not sure if I am missing anything in the whole process.

[2021-04-23 11:10] root360-StefanHeitmueller commented on #53377
[code]

https://github.com/saltstack/salt/blob/v3001.7/salt/modules/mongodb.py#L307-L313

Where return value is `u'Use of SCRAM-SHA-256 requires undigested passwords'` (which is `True`).

And then https://github.com/saltstack/salt/blob/master/salt/states/mongodb_user.py#L162-L177

[code]

will never enter the else, as the returned string is true.

Will try to compile a patch and pull request.

[2021-04-23 11:30] sanjaygeeky commented on #60073
Hello
When I used the documentation https://docs.saltproject.io/en/latest/topics/installation/windows.html
installation Python3 x86: Salt-Minion-3003-x86-Setup.exe | md5 went fine but service did not start It will alwys be in Pause mode.
Even creating a saltuser with Admin does not help

[2021-04-23 11:31] network-shark commented on #60061
@dmurphy18  Good to know you can reproduce the iusse.

[2021-04-23 13:12] mrsequeiraFF opened #60079 "[FEATURE REQUEST] Add support of cgroup_parent in docker_container"
**Is your feature request related to a problem? Please describe.**
I wanted to use the docker feature `cgroup_parent` but this isn't yet adopted by saltstack states.

**Describe the solution you'd like**
Add support of cgroup_parent parameter in this state: `salt.states.docker_container`.

**Describe alternatives you've considered**
I tried to pass the group_parent using the binds parameter but th

[2021-04-23 13:56] poliscialex commented on #58081
@sagetherage I can work on getting those. Can you remind me how to get the logs that I displayed earlier?

[2021-04-23 17:19] poliscialex commented on #58081
I found this and am seeing this appears to no longer be an issue. Not sure if something fixed it or if something changed on our end. Thanks for reminding me to try this again.

[2021-04-23 18:40] raddessi commented on #55370
I'll check by some time next week and get back to you

[2021-04-23 21:51] seandjones92 commented on #55162
Seeing a similar error in master logs, once this happens the master becomes unresponsive until restarted. I've not been able to reproduce it in this way but can achieve the interactive failure detailed in the original post.
[code]
versions
[code]

[2021-04-24 05:32] adansoILT commented on #44600
Is there support to set TLS when using Tornado?

[2021-04-25 04:19] MurzNN commented on #33669
So, still no ways to remove unnecessary spaces from ini separators?
To not break old behavior, maybe add separate option to manage spacing rules like:
[code]

[2021-04-25 18:59] s0undt3ch commented on #50611
No, this isn't fixed yet.

[2021-04-26 02:36] nee2c commented on #24907
I question if it is the state file.uncomment function and not the renderer that is rendering the state file that is the root of the problem.  I had a similar problem and found it to be that the yaml was rendering the escape characters in the regex strings.  I had a look at the code and sure I think the code could be simplified a bit but logic looks good.

The code that dose the heavy lifting of up

[2021-04-26 07:24] dwicahyohph opened #60082 "[Info-Needed] 'locke.notify' is not available."
**Description**

'locke.notify' is not available.

**Setup**
After upgrading salt-minion from 3002 to 3003, I got that error when executed test.sls. How should I fix this?
this works fine on ver. 3002.

**Debug**
[INFO    ] Running state [get_salt_minion_version_test_run] at time 14:19:53.822731
[DEBUG   ] Could not LazyLoad locke.notify: 'locke.notify' is not available.
[ERROR   ] State 'locke.no

[2021-04-26 07:26] fangpsh opened #60083 "[BUG] 3003 broken pillar json serializable"
**Description**
3003 broken pillar json serializable, works fine in 3002.6

**Setup**

default config.

**Steps to Reproduce the behavior**

`example.sls`
[code]

**Screenshots**

[code]
**Versions Report**
<details><summary>salt --versions-report</summary>

[code]
</details>

[2021-04-26 07:41] mherrb commented on #59785
Are there working ways to handle repositories with a separate keyking (signed-by=) in the mean time ?

Currently for me, when trying to manually add a [signed-by= ] tag to the name attribute, salt keeps adding a new line to the .list file each time it's called.

[2021-04-26 08:12] OrangeDog commented on #59785
@mherrb

[2021-04-26 09:34] sooraj2589 commented on #59060
@garethgreenaway is there any solution found?

can we make run salt code run first and then to jinja?

[2021-04-26 10:57] sanjaygeeky commented on #60073
Hello
Anyone who would like to provide an helping hand here?

Thanks

[2021-04-26 14:41] Kubci commented on #55926
Experienced this issue as well:

clone_bla_bla:
  git.cloned:
    - name: https://auth:<token>@gitlab.com/valid/git/path.git
    - target: /srv/tmp
Correctly clones the repo.

clone_bla_bla:
  git.cloned:
    - name: https://auth:<token>@gitlab.com/valid/git/path.git
    - target: /srv
Result: False
Comment: Command 'git status -z --porcelain' failed: fatal: not a git repository (or any of the par

[2021-04-26 16:00] subrata-1984 commented on #59992
Also I enabled Trace log today and I found two suspicious information which might have some relation to this whole issue.  Though the installation is successful as I said previously I see the return code from the minion after installation is 2 which is Status as False.

![image](https://user-images.githubusercontent.com/82167105/116113602-3fe33880-a6d6-11eb-9028-80830a2f6dbf.png)

![image](https:/

[2021-04-26 17:47] danielrobbins commented on #60055
I believe this change to the source code will resolve the issue. It works perfectly in my limited testing and causes your original regex to be treated as expected by salt:

[code]

[2021-04-26 17:52] danielrobbins commented on #60055
Please note that my fix above needs further testing. I hope it will work for everyone and not introduce any unexpected changes of behavior for existing users of this function who may *want* a zero-length match to show up a match. I think it's unlikely that people want ``replace()`` to do that, but you never know...

[2021-04-26 17:59] danielrobbins commented on #60082
@dwicahyohph I am not sure why you are getting this error, but I do recognize ``locke.notify``. "Locke" is the codename for SaltStack Enterprise, aka SaltStack Config -- so it is used for security assessments and remediations. I am not sure why it's coming up when you are running the standard Salt test suite, but hopefully that information is helpful.

So I guess a good first follow-up question: a

[2021-04-26 18:06] danielrobbins commented on #60044
@mirko Just for documentation purposes of this issue, based on your original issue description, where you are wanting to change a user's existing home directory to another new home directory, and you want it to be created, ``createhome: true`` will do what you want.

The problem is, as you point out, there is no way to change a user's home directory to a value *without* also telling salt to create

[2021-04-26 18:09] Yurmusp opened #60085 "[BUG] pip.installed fails with TypeError: 'NoneType' object is not reversible in pip_state.py"
**Description**
State for pip.installed fails with python exception

State is this:

salthelpers-scripts-upgrade-global-packages:
  pip.installed:
    - names:
      - awscli >= 1.11.34
      - boto3 >= 1.4.1
    - upgrade: True

OS: Ubuntu 20.04
Salt ver: 3003 , installed from official PPA.
See detailed salt versions in the end of the report.

Error is:
TypeError: 'NoneType' object is not reversi

[2021-04-26 21:38] dwicahyohph commented on #60082
@danielrobbins yes I am, it is work fine with minion ver3002, but after upgrading to 3003, it became an issue.

[2021-04-26 21:55] sagetherage commented on #60073
I can post this issue to the SaltStackCommunity.slack.com channels - probably better to get real time help with your specific set up

[2021-04-26 22:02] sagetherage commented on #33669
@MurzNN

Good question - I have posted this to our Community Slack workspace https://saltstackcommunity.slack.com/archives/C8832QN4U/p1619474427216100
I will do my best to follow up and I hope this helps.

[2021-04-26 22:16] #58081 closed

[2021-04-26 22:19] #58577 closed

[2021-04-27 05:49] lukasraska commented on #60073
@sanjaygeeky what if you try to launch the minion manually from cmd? In `c:/salt` directory there should be `salt-minion.bat` that will start it (maybe start it through powershell or cmd, so you can still see the output when it stops). The "Pause" mode usually means the application fails right at launch and starts power cycling (so to avoid it, it pauses the service instead).

Also I would recomme

[2021-04-27 07:07] Vaarlion commented on #60055
thank you for looking into it danielrobbins.
Quick question, does a search for an empty line count as a zero-lenght match ? or does it have a length of 2 since it include the new line escape `\n`?

I can quickly think of a case where you want to fill empty line between 2 block of text for example. or remove them

[2021-04-27 12:52] icycle77 commented on #59982
I'm also seeing another package conflict after running the suggested workaround and trying to do a `yum update`:

To repro, start with a pure, latest Amzn Linux 2 AMI, ran the following commands
[code]

The `yum update` produces:
[code]

Adding a version lock for `python3-psutil` works around this issue as well:
[code]
and allows the `yum update` to complete successfully:
[code]

[2021-04-27 13:17] network-shark commented on #60061
@dmurphy18  On slack someone mentioded the bug is maybe related to this one ?  https://github.com/saltstack/salt/issues/59690 ?

[2021-04-27 15:02] dmurphy18 commented on #60061
@network-shark Thanks for finding that, it looks likely from a quick read. I shall dig further

[2021-04-27 15:25] sagetherage commented on #60049
@pprkut any updates here?

[2021-04-27 15:59] kylehuff commented on #59737
I am not seeing this as a bug, and certainly not one of high severity. Pillar data is compiled/rendered on the salt-master, not the minion. The context of 'cmd.run' and 'file.read' in pillar is always that of the salt-master. (NOTE: that is true for pillar itself, not the pillar top-file. i.e. you can use host grains within a top-file).

"Pillar data is compiled on the master." - Note 1 at top of

[2021-04-27 16:04] OrangeDog commented on #60083
As a workaround you can use `salt["pillar.items"]()` instead

[2021-04-27 16:33] sagetherage commented on #60082
@dwicahyohph I will get this verified by the SaltStack Config team, putting it into blocked until I hear from them

[2021-04-27 16:41] doesitblend commented on #60082
HI @dwicahyohph . Can you submit a ticket through the https://my.vmware.com/  portal and we can address how to handle this issue? Thanks.

@sagetherage Since this is related to SSC, I recommend closing out this ticket.

[2021-04-27 16:48] sagetherage commented on #59337
It looks like it is requiring the unix socket to be enabled, as the default is likely assuming you are trying to use this over the network, but if you are using it locally it wouldn't work as the docs indicate:
[code]
It likely isn't accounting for your use case here to be used locally or something like that. It may be a MySQL issue that we cannot change it Salt, likely it was a change to MySQL.

[2021-04-27 16:58] sagetherage commented on #60083
similar issue both could be reviewed at once https://github.com/saltstack/salt/issues/59361

[2021-04-27 17:01] sagetherage commented on #60079
@mrsequeiraFF we will take a PR for review, thank you!

[2021-04-27 17:06] sagetherage commented on #60069
@jynolen since sqlite does have user management we can see this would be of value. We will take a PR for review if you want to submit one. :) Thank you!

[2021-04-27 17:10] jynolen commented on #60069
The issue is not just SQLite state related.
For example is you call a http endpoint to retreive a token this token will be output to ardour as well

[2021-04-27 17:10] twangboy commented on #59992
`pkg.list_availalbe` tells you the package is available to be installed. Not that it is installed. The fact that it is not present in `pkg.list_pkgs` tells me that the installation failed regardless of the logs or state return values.

[2021-04-27 17:13] sagetherage commented on #59364
In general calling a pillar from inside a pillar isn't really supported, however with the use of SaltClass or pillarstack this may work. As described here: https://docs.saltproject.io/en/latest/ref/pillar/all/salt.pillar.stack.html you may try that instead?

[2021-04-27 17:16] kylehuff commented on #60035
We were able to solve this problem simply by installing python3-jinja2 version 2.10 on the salt-master. Nothing needed to be changed on the ssh-minion, or in salt-ssh.

The debian 9 (stretch) repository only has python3-jinja2 v2.8, but the saltstack debian 9 APT repository includes the upstream version 2.9.4 that includes the async patch (the patched version should have a method called '_patch_as

[2021-04-27 17:17] sagetherage commented on #59393
@jtraub91 there is a workaround to restart or resync, but wondering if you would be willing to put in a PR?

[2021-04-27 17:24] sagetherage commented on #59402
@lahdekorpi looks like we need to clean up the "beta" returner and look at what is supported in the Mongo returner since this was added as beta way back in the day and now we likely don't need both, but need to review the supported returner.

[2021-04-27 17:28] sagetherage commented on #59418
@wesley-c42
The Salt version is vulnerable. We recommend upgrading as soon as possible to at least latest point release or to latest. You can find those here https://github.com/saltstack/salt/releases or the packages repo here: https://repo.saltproject.io/

I also believe you will not see this issue if you upgrade to the latest point version v3000.9.

[2021-04-27 17:33] pprkut commented on #60049
I was trying to reproduce this the past couple days, but it's a bit harder than I thought. And the behavior doesn't seem to be as consistent as I thought either.

Of the 3 masters we have I now updated all of them to 3003 again, and so far, one experienced the memleak problem again. Unfortunately that was on server I didn't have debug logging enabled on :(

However, it looks like my earlier data w

[2021-04-27 17:52] kylehuff commented on #50824
This appears to be 'not a bug' but rather misleading documentation that has been corrected and merged; closing.

[2021-04-27 17:52] #50824 closed

[2021-04-27 18:02] whytewolf commented on #60049
@pprkut the blank processes are not the main process. ProcessesManager is the main process. the blank ones are salt engines.

but this finding does correspond with https://github.com/saltstack/salt/issues/60049#issuecomment-822817865 that it is an engine most likely watching the event bus. as that is mostly what engines do.

[2021-04-27 19:28] darkpixel commented on #55214
I'm running salt 3000.x across most of my infrastructure now and haven't run into this in a while.  I never found the root cause, but it hasn't happened to me in over a year.  Unless someone else is having this problem, I'm going to close this ticket as I can no longer reproduce it to help troubleshoot.  Let me know if I need to re-open it.

[2021-04-27 19:28] #55214 closed

[2021-04-27 19:32] darkpixel commented on #57422
Fixed

[2021-04-27 19:32] #57422 closed

[2021-04-27 20:19] danielrobbins commented on #59962
I talked to @dwoz about this, and there has been some recent work on the LazyLoader which uses context variables to keep track of various things. It's not really using locks and he'd like to avoid hacking on it as I suggested. However, there is a ``run_in_thread()`` method which could be expanded upon -- possibly by adding something easier to use, or a recipe for doing what you're doing. So I know

[2021-04-27 20:36] danielrobbins commented on #60044
@mirko here is what I am thinking. ``user.present`` is really geared toward setting up legitimate user accounts, with real home directories. It was designed with the assumption that this is the case. That is why ``createhome`` works this way. Then we have ``user.absent`` for *removing* a user account. But we are missing functionality for disabling user accounts, without removing them from the syst

[2021-04-27 21:51] raddessi commented on #55370
Confirmed it's still an issue as of 3003.

# test steps
## ldapsearch
`ldapsearch -x -D "<bind user>" -w '<bind password>' -h <our server> -b "<our users dn>" '(memberof=<our group dn>)'` still returns the data we expect to see from using the filter `(memberof=<our group dn>)`

## salt
1. `conda create -n salt55370 python=3.8 -y`
2. `conda activate salt55370`
3. `pip install salt==3003 python-ldap

[2021-04-28 00:50] dwicahyohph commented on #60082
I dont think I can open ticket from vmware.com as I dont hold the account. And yes, I am using SSE for secops. This is just one state file executed using state.apply to minion.

[2021-04-28 02:28] ninoY25 opened #60094 "[BUG] salt-minion msgpack deserialization failure when running salt-master custom runner in high concurrency."
**Description**
I create a custom runner module to upload bash script to master and run this script in multiple minions using `cmd.script` module. But when I was doing load testing for this runner, strange things happened.  If I run multiple custom runner in parallel, one of minions will raise `Unpack failed: incomplete input`. And I set the salt-minion log_level_logfile to trace, and I see the in

[2021-04-28 06:04] vekergu commented on #60072
Salt Version:
          Salt: 3003

Dependency Versions:
          cffi: 1.9.1
      cherrypy: unknown
      dateutil: Not Installed
     docker-py: Not Installed
         gitdb: Not Installed
     gitpython: Not Installed
        Jinja2: 2.11.1
       libgit2: Not Installed
      M2Crypto: 0.35.2
          Mako: Not Installed
       msgpack: 0.6.2
  msgpack-pure: Not Installed
  mysql-python: Not

[2021-04-28 07:23] daro1337 commented on #60035
@kylehuff I'm using saltstack repo. Unfortunately, in saltstack repo for Debian 9 and salt-master version 3002.x as you noticed there is 2.9.4 version of python3-jinja2, That version is installed on my saltmaster with cause this error.
[code]
Updating jinja2 to 2.10 via pip3 resolved the issue

[2021-04-28 13:36] galibozek commented on #50273
it seems you shouldn't delete the tmp file when bg = True?

[2021-04-28 13:45] MurzNN commented on #55926
I got the same problem with `git.cloned` to empty target directory, workaround with deleting it - helps, but will be good to have better solution!

[2021-04-28 14:02] nweidemann opened #60095 "state module archive.extracted with specific user and group leads to extracted data which is owned by root"
### Description of Issue
state module archive.extracted with specific user and group leads to extracted data which is owned by group root

### Setup
source file for kibana: https://artifacts.elastic.co/downloads/kibana/kibana-7.12.1-linux-x86_64.tar.gz

Minion runs with user root

### Steps to Reproduce Issue
State contains extraction of kibana tgz file. Extracted content should be owned by user/g

[2021-04-28 14:08] emalzer commented on #58795
I ran into this issue as well while upgrading from 3001.7 to 3002.6 ... the way from the FAQ does not work, that's what I used before.
I found my way around with this:
* update the APT repository from 3001 to 3002
* ```salt minion cmd.run_bg 'echo "exit 101" > /usr/sbin/policy-rc.d && chmod +x /usr/sbin/policy-rc.d && apt-get update && apt-get install -y --allow-change-held-packages salt-minion sa

[2021-04-28 16:47] Artanicus commented on #59065
FYI for anyone finding this issue, looks like the problem was merely punted forward into Ubuntu 21.04 which includes Salt 3002.2. So the problem isn't solved but more like postponed. Installing 3003.3 does not resolve the issue, but since the distribution includes 3002.2 that's what I'll list below.

[code]

[code]

[2021-04-28 17:19] dmurphy18 commented on #58902
This PR https://github.com/saltstack/salt/pull/60086 fixes the underlying loading of the metaproxy superfluously.

[2021-04-28 17:26] recursiveMake commented on #51957
I believe this commit wasn't applied to all the branches. It's still a problem in master.

[2021-04-28 18:14] kylehuff commented on #60035
@daro1337 You are correct, the salt-stack repo version of jinja2 is not patched for this issue, I must have manually patched it at some point. I updated my comment to not confuse anyone who ends up here looking for the fix.

[2021-04-28 19:20] danielrobbins commented on #59810
I agree, it should be easier to iterate over a bunch of items and then apply a state to anything matching a condition. I share your perspective @gigi206 -- this should be added as it is a common use case. Iterating over a series of elements and applying a state to anything matching a condition is a very common need.

Here is a suggested implementation for a future version of salt, using a proposed

[2021-04-28 19:57] dwoz commented on #55162
@seandjones92 I think the issue you are seeing is distinctly different from @wuyudian1's issue. Please open separate issue for it.

@wuyudian1 I was able to reproduce this when running python 3.5. As a side note, it worked fine on both python 2.7 (2019.2.0) and python 3.7 (3003)

[2021-04-28 20:27] techhat commented on #59810
I don't know if you're married to using the default `jinja|yaml` renderer, but if you don't mind switching to the `py` renderer maybe this would do it for you:
[code]
One con here is that you wouldn't see the output from the `pkg.installed` state, but the pro is that the `for` loop wouldn't execute until after the the `pkg.installed` state was run.

[2021-04-28 20:40] danielrobbins commented on #59810
Thanks @techhat, I think that is a good workaround. I still do think we need a solution like I proposed. The py renderer adds a lot of complexity to what should be a much simpler task, and I think this is such a common use case that we should make it as simple and as intuitive as possible.

[2021-04-28 21:37] ScriptAutomate opened #60101 "[TEST FAILURE] Twine Check / twine-check in GitHub Actions currently fails on every run"
`twine-check`, the GitHub Actions job, is failing and needs the cache cleared.

There is currently no way to clear the cache easily:

- https://github.com/actions/cache/issues/2

This is a problem, as we need to regen the cache to resolve a Python/pip related issue. Example failing test: https://github.com/saltstack/salt/runs/2461398554?check_suite_focus=true

[code]

Looks related to https://gith

[2021-04-28 22:03] dwoz commented on #55162
This is an upstream python bug, and has been fixed in >=3.6

https://bugs.python.org/issue26919
https://bugs.python.org/issue26919

It can be re-produced outside of salt
[code]

[2021-04-28 22:23] sagetherage opened #60102 "UnicodeEncodeError in v3003"
Seeing a similar error in master logs, once this happens the master becomes unresponsive until restarted. I've not been able to reproduce it in this way but can achieve the interactive failure detailed in the original post.
[code]
versions
[code]

_Originally posted by @seandjones92 in https://github.com/saltstack/salt/issues/55162#issuecomment-825943260_

[2021-04-28 22:50] dwoz commented on #60102
@seandjones92 are you able to upgrade python's msgpack library to 1.0?

[2021-04-28 23:07] zmingee commented on #28357
I am still encountering this bug with any custom returner modules implementing an event returner. I could try working on a patch if needed. I have a few other PRs open.

[2021-04-28 23:30] boltronics commented on #58795
@emalzer The `service.running` state module can't restart the service after an upgrade (despite what the FAQ says) so it makes sense it might work if bypassing that by calling systemd `service` command directly. Thanks for providing that confirmation and complete work-around.

[2021-04-28 23:36] dmurphy18 commented on #60095
Confirmed with Salt 3002, and after ensuring user and group **soa** exists on Centos 7 machine, and where test_archive.sls is equivalent to test.sls in test.zip

[code]

However just running the command to untar with owner and group on Centos 7 ignores those settings, for example:
[code]

So this may be an issue with the underlying command on the OS, given Salt call the tar command on the OS, see

[2021-04-29 00:00] sagetherage commented on #60069
Oh sure, there are likely several other use cases, here.

[2021-04-29 00:06] doesitblend commented on #60082
Hi @dwicahyohph Thanks for the clarification.

Have you tried re-syncing your modules with something like `salt \* saltutil.sync_all saltenv=sse` ?

[2021-04-29 00:12] dmurphy18 commented on #60095
However a simple tar command extraction as root by default preserves the original user and group, for example:
[code]
which begs the question, just what user and group was kibana-7.12.1-linux-x86_64.tar.gz archived with, since running a test.tar.gz with user:group david:david worked as expected

[code]
and
[code]

@nweidemann Can you retry this something else where you specifically know what the o

[2021-04-29 00:32] whytewolf commented on #59792
Can we get a bump in the priority of this issue?

[2021-04-29 00:38] dwicahyohph commented on #60082
Hi @doesitblend, I've tried it, this is what I got:

[root@master01 salt]# salt \* state.apply foldersls.test
RHEL8:
----------
          ID: get_salt_minion_version_test_run
    Function: locke.notify
      Result: False
     Comment: State 'locke.notify' was not found in SLS 'foldersls.test'
              Reason: 'locke.notify' is not available.
     Changes:

Summary for RHEL8
------------
Succ

[2021-04-29 00:41] dwicahyohph commented on #60082
btw, this is what I did before executed state.apply above...

[root@master01 salt]# salt \* saltutil.sync_all saltenv=base
RHEL8:
    ----------
    beacons:
    clouds:
    engines:
    executors:
    grains:
    log_handlers:
    matchers:
    modules:
    output:
    proxymodules:
    renderers:
    returners:
    sdb:
    serializers:
    states:
    thorium:
    utils:
OL7:
    ----------

[2021-04-29 00:44] dwicahyohph commented on #60082
Actually, minion RHEL8 was fine even after upgraded to ver. 3003, but now after "sync_all", all minions (OL7 and RHEL8) are affected,

[2021-04-29 00:56] dwicahyohph commented on #60082
this is what I got when I tried "state.show_sls".  it works and gave me the output I want, although it's still didnt apply to minion.
[root@master01 salt]# salt \* state.show_sls foldersls.test
RHEL8:
    ----------
    get_salt_minion_version_test_run:
        ----------
        __env__:
            base
        __sls__:
            foldersls.test
        locke:
            |_
              -----

[2021-04-29 03:43] #60101 closed

[2021-04-29 06:37] MurzNN commented on #35333
Same problem with very slow `salt-ssh` execution when using `gitfs` repos - it rebuilds them on every execution (even with `gitfs_update_interval: 86400`) - for example - simple command:
[code]
executes about 35 seconds!

Via adding ` -l debug` suffix I see a lot of strings like:
[code]
Version is 3002.6+ds-1

[2021-04-29 06:56] AlSpirkin opened #60103 "[BUG] State salt.states.file.directory applies wrong permission propagation on Windows"
**Description**
State salt.states.file.directory applies "This folder and subfolders" instead of "This folder only"

**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info).
Windows Server 2019
Fresh installed salt-minion from https://repo.saltstack.com/windows/Salt-Minion-3003-Py3-AMD64-Setup.exe with default config.

test.sls file with content:
[code]

**St

[2021-04-29 08:24] atreyee169 opened #60104 "[BUG]Salt minion connection to master fails for OS "Microsoft Windows Server Datacenter""
**Description**
Salt minion connection to master fails for OS "Microsoft Windows Server Datacenter"

**Setup**
(Please provide relevant configs and/or SLS files (be sure to remove sensitive info).

**Steps to Reproduce the behavior**
TypeError: argument of type 'NoneType' is not iterable
Traceback (most recent call last):
  File "C:\VMware\UCP\salt\bin\Scripts\ucp-salt-minion", line 26, in <module

[2021-04-29 14:24] toddtimes commented on #59793
@danielrobbins sorry for the lack of response on this. I've been working with @sugarraysam to try to diagnose and fix this and I don't understand what the correct input format is to get this to work. I've tried a dozen combinations with no luck, including:

`target_drive = "/dev/sdb"`

`_salt__["partition.mklabel"]("device=/dev/sbd label_type=gpt")`
`__salt__["partition.mklabel"]("%s gpt" % target

[2021-04-29 15:07] gigi206 commented on #59810
I had already try to use the renderer `jinja|py` but it was buggy when I try. There are several open issues with this renderer :(

[2021-04-29 15:11] #58585 closed

[2021-04-29 16:36] danielrobbins commented on #59793
A positional argument in python looks like this:

[code]

In this case, the function is ``foo``, the positional argument is ``"bleh"``, a string. It is called 'positional' because python/jinja will recognize what variable you are referring to by its order -- ie. "position" within the parenthesis.

Besides positional arguments, there are also keyword arguments. Keyword arguments look like this:

[c

[2021-04-29 16:41] danielrobbins commented on #59810
@gigi206 take a look at my proposed new feature to make this work intuitively. Would a feature like this solve the problem?

[code]

[2021-04-29 17:16] toddtimes commented on #59793
@danielrobbins thanks for the very comprehensive reply. But this just lands me right back where we started, when I have salt 3002.5 installed and format the command exactly as you suggested `__salt__["partition.mklabel"](target_drive, "gpt")` (where target_drive = "/dev/sdb") I get the original error @sugarraysam reported:

[code]

[2021-04-29 17:39] danielrobbins commented on #59793
OK, I think the challenge is that you are starting the troubleshooting process but the specific command that is failing has not yet been described. Let's document this first, and then I will attempt to reproduce the issue. You are stating that something like:

[code]

... is producing a traceback? If so, I will try to reproduce here.

[2021-04-29 17:46] toddtimes commented on #59793
That is correct, thanks.

[2021-04-29 17:49] danielrobbins commented on #59793
@toddtimes @sugarraysam OK, I get it now. Yes, it looks like this code dropped a condition.

[2021-04-29 17:53] toddtimes commented on #59793
Thanks for confirming. I’m happy to submit a PR if you think modifying the first check to look for an instance match on list or tuple is the right approach, that’s the temporary fix I used

[2021-04-29 18:03] danielrobbins commented on #59793
So the issue is that ``salt/modules/parted_partition.py`` uses a rare form of calling ``cmd.run()`` and passes things as a TUPLE, not a string or a list. This functionality was likely unintentionally dropped with commit https://github.com/saltstack/salt/commit/ac2ce3a3a000e428122bc120179e083de95c1de7 where ``_log_cmd()`` assumes a string or a list, but does not handle the case of a tuple. This mea

[2021-04-29 18:09] danielrobbins commented on #59793
@toddtimes a PR implementing a fix very similar or identical to the fix I included above would be welcome :) Sorry for the confusion in understanding what you were reporting. I think we are on the same page now :)

[2021-04-29 18:33] seandjones92 commented on #60102
I'll check to see if that's possible

[2021-04-29 19:13] asomers opened #60105 "[BUG] `IndexError: pop from empty list` when pkgng.latest_version queries nonexistent package"
**Description**
A clear and concise description of what the bug is.

**Setup**
The `pkgng.latest_version` function will raise an exception if you search for a package that is not present in the package server.

**Steps to Reproduce the behavior**
[code]

**Expected behavior**
It should've returned something like
[code]

**Versions Report**
[code]
</details>

**Additional context**
Patch in progres

[2021-04-29 19:21] sagetherage commented on #35333
This needs investigation as to what could be done - we will review a PR if anyone on this issue is willing and able to submit one! :)

[2021-04-29 19:26] gigi206 commented on #59810
@danielrobbins yes it seems good, I modify a little bit:

[code]

[2021-04-29 19:35] recursiveMake opened #60106 "[BUG] in Master AttributeError in spm/pkgfiles/local.py"
**Description**
This reopens issue #51957 as the fix did not appear in later versions.

An AttributeError is raised accessing the name attribute of the unicode string new_name

It seems like the code in salt/spm/pkgfiles/local.py mistakenly tries to get this attribute twice in the install_file function (mirroring the pattern used to get name from the member object).

**Setup**
Install from a confi

[2021-04-29 19:50] danielrobbins commented on #59810
I can probably work on a prototype of this and we can see how it works.

[2021-04-29 19:52] asomers opened #60108 "[BUG] pkgng.latest_version does not work if an origin is specified"
**Description**
FreeBSD packages can be specified by their name (`bash`) or by their origin (`shells/bash`).  The `pkg` tool understands both.  Salt's pkgng.latest_version function attempts to support origins (see 51fb2ac4c7a53240723c4922acac8fed9a130348) but fails.  For one thing, the `pkg` invocation may return many results since it searches for any string match in packages' names.  For another,

[2021-04-29 19:55] danielrobbins commented on #59962
@litinmax as an off-the-wall idea, it may be interesting to offer a threaded iterator state which will automatically set up a ThreadPoolExecutor and run exec functions or states. See #59810 -- imagine something like this that would automatically set up the threadpool and loop and do it all for you without having to write python code. This might be useful. I can also keep in mind custom engines and

[2021-04-29 21:50] sagetherage commented on #60106
@recursiveMake oh I see what happened - we merged that PR into `develop` and did not port it to master or other branches, we should do that!

[2021-04-29 21:53] sagetherage commented on #60106
Also @recursiveMake we are no longer supporting python 2.

[2021-04-29 22:19] dwoz commented on #59962
@litnimax in 3003 we started using contextvars to make sure loaders don't stomp on each other. You'll need to set up the context in the thread. The following should get things working again.

[code]

[2021-04-29 22:27] #59838 closed

[2021-04-29 22:28] ScriptAutomate commented on #59936
Sources that need updates in the theme:

[code]

[2021-04-29 22:36] ScriptAutomate commented on #59936
Opened related issue: https://gitlab.com/saltstack/open/salt-branding-guide/-/issues/1

[2021-04-29 22:38] dmurphy18 opened #60110 "[FEATURE REQUEST] Have saltcheck work with proxy minions"
**Is your feature request related to a problem? Please describe.**
Currently **saltcheck** is designed to only run with minions, but some users have attempted to use it with proxy minions, resulting in this issue https://github.com/saltstack/salt/issues/59838 and PR https://github.com/saltstack/salt/pull/60058

As part of the resolution, it was decided that having **saltcheck** also function with

[2021-04-29 22:58] sagetherage commented on #57654
@doesitblend can you give me what you expect this to look like exactly? If we simply need to add a single line it is pretty small in scope but I am thinking it is bigger if the expectation is to re-write the tutorial, LMK

[2021-04-30 00:29] sagetherage commented on #59738
This does not seem to be a Salt issue - closing.

[2021-04-30 00:29] #59738 closed

[2021-04-30 00:31] #59444 closed

[2021-04-30 00:32] #59368 closed

[2021-04-30 01:27] sagetherage commented on #59204
closing since we have received info enough to triage this issue or reproduce it.

[2021-04-30 01:27] #59204 closed

[2021-04-30 01:28] #59132 closed

[2021-04-30 01:29] #59051 closed

[2021-04-30 01:53] #57753 closed

[2021-04-30 02:11] sagetherage commented on #59758
@felixmarch If you are willing to refactor yes please do!

[2021-04-30 02:16] sagetherage commented on #59570
definitely will review a PR! :)

[2021-04-30 02:29] sagetherage commented on #59514
we will review a PR if you are willing to submit one! :)

[2021-04-30 02:41] sagetherage commented on #59541
@vanveele are you able to upgrade python's msgpack library to 1.0?

[2021-04-30 02:58] sagetherage commented on #59573
@HansAdema
agreed! it should be consistent and any of those are fine, if you are willing to submit a PR we will definitely review it :)

[2021-04-30 03:00] sagetherage commented on #59594
@huntermatthews we will review a PR if you are willing to submit one, thank you!

[2021-04-30 03:03] sagetherage commented on #59604
@dcarriger we will review a PR if you are willing to submit one :)

[2021-04-30 03:07] sagetherage commented on #59618
@TathanT
The Salt version is vulnerable. We recommend upgrading as soon as possible to at least latest point release or to latest. You can find those here https://github.com/saltstack/salt/releases or the packages repo here: https://repo.saltproject.io/

I do wonder if this is still an issue if you were to upgrade to [Salt v3002.6](https://github.com/saltstack/salt/tree/v3002.6), can you upgrade a

[2021-04-30 03:14] sagetherage commented on #59644
@ScriptAutomate can you give some Nox help here?

[2021-04-30 03:17] sagetherage commented on #59685
The Salt version is unsupported. We recommend upgrading as soon as possible to at least latest point release or to latest. You can find those here https://github.com/saltstack/salt/releases or the packages repo here: https://repo.saltproject.io/

[2021-04-30 03:18] #59685 closed

[2021-04-30 03:32] sagetherage commented on #59766
@m0duspwnens we will review a PR if you are willing to submit one

[2021-04-30 03:40] sagetherage commented on #59983
@mmgit mention me if you still experience this issue and I will reopen

[2021-04-30 03:40] #59983 closed

[2021-04-30 03:43] sagetherage commented on #60007
@ari we will review a PR if you are willing to submit one

[2021-04-30 03:49] sagetherage commented on #59858
Are you able to upgrade @rravi-sift?

[2021-04-30 04:26] ari commented on #60007
A PR which does what? Removes the feature?

[2021-04-30 05:33] rravi-sift commented on #59858
No not, yet, I will close this case and reopen it if the upgrade does not fix the issue.

[2021-04-30 05:33] #59858 closed

[2021-04-30 07:53] vin01 commented on #53747
I just ran into thism, I think specifying `saltenv` as a command line argument should have the same affect as having `saltenv` configured in the minion config file. Pillars should only be loaded from that specific environment. Current behavior is unexpected and inconsistent.

I am wondering if the `initial_load` of pillars is even necessary here: https://github.com/saltstack/salt/blob/master/salt/

[2021-04-30 08:27] ata-sql commented on #58767
Unfortunately it wasn't fixed with 3003.
It installs without problems (plain AL2 image with epel and salt repo enabled):
[code]

but after installation `yum update` fails:
[code]

[2021-04-30 08:27] ata-sql commented on #58767
Can someone please open that?

[2021-04-30 08:32] nweidemann commented on #60095
Here is my test.
After doing this, the problem with kibana-7.12.1-linux-x86_64.tar.gz seems to be a special thing.
In my test case everything is fine, even with a tgz made by root from a folder containing files that belong to root:root.

tgz files and state are attached. Any clues why this happens with kibana-7.12.1-linux-x86_64.tar.gz ?

I had this already in the past with other software, provide

[2021-04-30 08:53] nweidemann commented on #60095
Additional info..

the man page of tar tells us, that
    -p, --preserve-permissions
              extract  information  about  file permissions (default for superuser)

It seems that the default for superuser, because MINION runs with root, is stronger than the parameter --user=soa --group=soa

    [RHEL soa@MINION test_dir]$ tar xvfz kibana-7.12.1-linux-x86_64.tar.gz --owner=soa --group=soa

[2021-04-30 10:31] rasstef commented on #59205
I'm having the same problem with Salt 3002.6+ds-1 on Ubuntu 20.04.2 LTS.

I have a macro that contains
[code]

and every time it is used it returns an error:
[code]

[2021-04-30 10:46] rasstef commented on #59205
I dove into this and found the following:

I have some grains defined in `/etc/salt/minion.d/`:

[code]

And I found that the `grains` dictionary contains only those grains defined in the `grains.conf` file. The "core" grains just as `os` are missing. Yet, `salt-call grains.items` returns them all.

This behaviour was different in 3002.1+ds-1.

[2021-04-30 13:22] nweidemann commented on #60095
Answer from bug-tar@gnu.org

nweidemann ha escrit:

The options --owner and --group take effect only when *creating* the archive, not when *extracting* from it.  Please see [1].

Regards,
Sergey

[1] https://www.gnu.org/software/tar/manual/html_node/override.html#index-owner

[2021-04-30 15:08] sagetherage commented on #59644
oh right! @weswhet @sheagcraig any helpful hints here? ^^

[2021-04-30 15:26] dmurphy18 commented on #60095
@nweidemann Actually my point was that from a test.tar.gz with some simple files which originally had david:david as owner:group, it appears to work with the override of soa (had to create that user and group on the machine first).  The other parts with --owner etc was me trying other approaches, thanks for that additional info.

Hence wondering how kibana tar ball was put together, since the code

[2021-04-30 17:31] anitakrueger commented on #58897
Is this a problem?
@anthosz I always got "invalid request" back from Vault if my master couldn't generate a token for the minion. Could you post your Vault policies for the master and the minion?

Also, I think the article at https://help.saltstack.com/hc/en-us/articles/360041140451-Quick-Guide-to-Vault-Integration is outdated. I couldn't get it to work with the examples posted there, but we do ha

[2021-04-30 19:05] kkoppel commented on #59490
Correct. Looks like the master never sees any changes to grains, unless the minion is restarted.

[2021-04-30 19:09] xeacott commented on #59490
Gotcha. Okay, yep able to reproduce this. Disabled an adapter, minion no longer shows it however master is still showing that interface is "on" with the same IP. Let me see what's going on here...

[2021-04-30 19:34] s0undt3ch commented on #59644
https://github.com/saltstack/salt/pull/60114 might help with this ...

[2021-04-30 19:48] dwoz commented on #59961
@s0undt3ch do you have time to look at this one?

[2021-04-30 20:05] #59026 closed

[2021-04-30 20:54] xeacott commented on #59490
So although I've reproduced this... not every grain is behaving like this. One grain, for example that is updating is `timezone`. I have my minion and master configured the same way and changed the timezone on the box.

*On the minion*
[code]

*On the master*
[code]

[2021-04-30 22:20] dmurphy18 commented on #59448
@kaibabbob See the issue, nxos_api_config calls into nxos_api.config and while that function in salt/modules/nxos_api.py declares transport default of 'https' in the doc at the start of the function, does not do anything to set that input or even make use of it, nor does it include it in the function definition.

Definitely needs fixing, will bring the issue up with the author.

[2021-04-30 22:30] dmurphy18 commented on #59448
@mirceaulinic Have an issue arise with using nxos_api.config where the doc states transport but not in the function definition
https://github.com/saltstack/salt/blob/a9b9795c4a80ec92cb593c90a8b5ec295a9f7aab/salt/modules/nxos_api.py#L372-L375

https://github.com/saltstack/salt/blob/a9b9795c4a80ec92cb593c90a8b5ec295a9f7aab/salt/modules/nxos_api.py#L315-L323

Simplest fix is to add the following befo

[2021-05-01 00:59] dwoz commented on #59490
@kkoppel Can you please tell me what version of salt you were using before the upgrade?

[2021-05-01 01:00] doesitblend commented on #59545
I'm not able to find the bug report now, but I wonder if this is related to another issue we've seen in 3002 where only configured grains are being loaded? If the user runs `saltutil.refresh_grains` after the minion has been restarted then the rest of the core grains finish loading.

@jgraichen Can you try a command like `salt-call saltutil.refresh_grains` and see if that helps?

[2021-05-01 03:58] jtraub91 commented on #59393
@sagetherage I can take a look but no promises. This sort of fix is definitely getting "in the weeds" a little bit. In order to remedy it, need to examine how the proxy minion is responding to events on its local minion event bus, and in particular the "refresh pillar" event. Some guidance from more experienced salt devs, at least, would probably be very valuable.

[2021-05-01 06:43] kkoppel commented on #59490
Before 3002.2 I was using 3002.1, but this issue had existed earlier already and I don't know, which version it started with.

[2021-05-02 00:48] tjyang opened #60118 "Rocky Linux OS support"
**Is your feature request related to a problem? Please describe.**

This is on Rocky 8 RC1.
[code]
**Describe the solution you'd like**
Support Rocky Linux as an additional OS.

**Describe alternatives you've considered**
Unlike Oracle Linux 8, /etc/redhat-release content is showing Rocky Linux.
[code]
**Additional context**

[me@rocky8t01 ~]$ salt-minion -V
Salt Version:
          Salt: 3003

Dep

[2021-05-02 00:58] tjyang commented on #60118
Sorry, I forgot to search on close PR like this one https://github.com/saltstack/salt/pull/59682.
Will https://github.com/saltstack/salt/pull/59682 be backported to  3000.? version  ?

[2021-05-02 13:34] sanjaygeeky commented on #60073
Apologies for late reply. Let me check and revert  for Salt-Minion-3003-AMD64-Setup.exe

[2021-05-02 22:21] edgan opened #60120 "[BUG] salt-ssh test=True doesn't show a service is going to get restarted for a pkg, but will for a file"
I wanted to test some code before actually executing it, and hence used test=True. The service had a watch for the config file and the package. The output from salt-ssh with test=True would say the service is going to get restarted if the file is going to change, but won't when the package is going to change. Yet when salt-ssh is run without test=True the service is restarted for the package.

The

[2021-05-03 06:29] ggiesen commented on #60118
It's merged into master but the soonest it would likely to appear would be in the Silicon release (3004)

As the 3000 release is in Phase 3 support (CVE support), it would be extremely unlikely that this would be backported. See the Salt Platform Support and Product Lifecycle page at https://saltproject.io/salt-platform-support/

[2021-05-03 06:29] #60118 closed

[2021-05-03 09:44] nbraud opened #60121 "[BUG] salt-master's discovery socket does not obey the `interface` config"
**Description**

`salt-master`'s autodiscovery feature does not comply with the configured `interface`.

**Setup**

[code]

**Steps to Reproduce the behavior**

[code]

**Expected behavior**

`salt-master` listens on `128.66.0.10` port `4020`, the discovery service is not exposed to other interfaces.

**Screenshots**

[code]

**Versions Report**
<details><summary>salt --versions-report</summary>

[2021-05-03 09:59] ishoe commented on #13733
Any update on this?

[2021-05-03 12:46] paususe commented on #50624
Hey @max-arnold, what's the status?

[2021-05-03 13:19] odoopbx-support commented on #59962
Yes it works!
Thank you very much for the support.

[2021-05-03 13:31] markuskramerIgitt commented on #60049
I confirm a memory leak from salt-master 3003

[2021-05-03 13:56] marbx opened #60122 "[BUG] The salt-master no longer reads LimitNOFILE from /etc/systemd/system/salt-master.service.d/filelimit.conf"
**Description**
The salt-master no longer reads LimitNOFILE from /etc/systemd/system/salt-master.service.d/filelimit.conf

**Setup**
[code]
**Steps to Reproduce the behavior**
[code]

**Expected behavior**
[code]

should read

[code]

**Versions Report**
<details><summary>salt --versions-report</summary>
(Provided by running salt --versions-report. Please also mention any differences in master/min

[2021-05-03 14:17] rasstef opened #60123 "[BUG] core grains (e.g. oscodename) unknown when rendering pillars"
**Description**
[code]

**Setup**
[code]

[code]

[code]

[code]

**Steps to Reproduce the behavior**
In my setup it happens every time a minion is restarted. It does not happen with version 3002.1. I tried both ways to access grains:
- `salt.grains.get('oscodename')`
- `grains['oscodename']`

**Expected behavior**
pillars render grains without any problems.

**Versions Report**
<details><summary>

[2021-05-03 19:55] dmurphy18 commented on #56588
If the problem is unresolved, please provide the requested information and re-open the issue and assign it to @sagetherage or @dmurphy18

[2021-05-03 19:55] #56588 closed

[2021-05-03 20:45] dwoz commented on #60049
@markuskramerIgitt What process are you seeing the leak in?

[2021-05-03 22:23] dmurphy18 commented on #56963
@dkacar-oradian Just tried a regular update by hand of a Centos 7 system with a salt-minion running 3000.9 (3000.1 has CVE's against it and should not be used), connected with a salt-master running 3002.2.
Updated the /etc/yum.repo.d/salt.repo to use latest, and ran yum makecache, yum install salt-minion.  The Centos 7 minion system updated to 3003 and did not lose connection with the salt-master

[2021-05-03 22:32] dmurphy18 commented on #57530
@cerberek Actually could you retest this with the latest version of Salt 3003, and close if it is no longer an issue. version 2019.2.5 has reached end-of-life.

If the issue is no longer reproducible, please consider closing this issue.

[2021-05-03 22:34] dmurphy18 commented on #57538
@nmulcahey Is this still an issue for you, if so, can you provide the requested information.

If this is not an issue, please consider closing this issue.

[2021-05-03 22:36] dmurphy18 commented on #57562
Closing this since duplicate, thanks for catching that @OrangeDog

[2021-05-03 22:36] #57562 closed

[2021-05-03 22:46] dmurphy18 commented on #59006
PR still awaiting some resolution of comments

[2021-05-04 01:11] sagetherage commented on #59716
@ichilton
The Salt version is vulnerable. We recommend upgrading as soon as possible to at least latest point release or to latest. You can find those here https://github.com/saltstack/salt/releases or the packages repo here: https://repo.saltproject.io/

This does sound like it is a bug, we will get it triaged, thank you!

[2021-05-04 01:15] sagetherage commented on #59986
@ewhitesides
Thank you for the feature request, we will review PRs if you can submit :)

[2021-05-04 01:22] sagetherage commented on #59938
these look to be passing now, closing

[2021-05-04 01:22] #59938 closed

[2021-05-04 01:27] sagetherage commented on #59478
closing as no longer an issue

[2021-05-04 01:27] #59478 closed

[2021-05-04 02:15] sagetherage commented on #59281
fixed here: https://github.com/saltstack/salt/commit/32ed7d05f0af1f07a0144cf5594370a5d65e70b3

[2021-05-04 02:15] #59281 closed

[2021-05-04 02:16] sagetherage commented on #59517
@weswhet @sheagcraig wondering if either of you can take a look at this for the Silicon release?

[2021-05-04 02:19] sagetherage commented on #55904
@ryanjjung any updates here?

[2021-05-04 02:22] sagetherage commented on #53536
We cannot seem to get to this issue, but maybe because it wasn't given a severity or priority - we will take a PR for review here @max-arnold @mattp- :)

[2021-05-04 03:07] sagetherage commented on #59393
@jtraub91 I completely understand, the core devs are a small team and extremely stretch, so all you can give in a PR would be great and then I can help get it reviewed even if you keep in a WIP status :) or something else?

[2021-05-04 03:10] sagetherage commented on #58897
@anitakrueger thank you! That article is a support article, but I will get with them to get that updated or completely re-written.

[2021-05-04 03:12] sagetherage commented on #60007
Is that the only way you can see a fix here?

[2021-05-04 04:23] #55359 closed

[2021-05-04 05:38] dwicahyohph commented on #60082
update:
reverted it back to ver 3002, for both master and minion. the issue still persist.

[2021-05-04 05:51] ari commented on #60007
I can't see how the feature would ever be useful and wouldn't break significant things. Is the developer who added it still around to explain what it was designed to do?

[2021-05-04 07:29] OrangeDog commented on #60122
Salt shouldn't be "reading" any of that config. Systemd manages it and sets the limits on what it spawns. Salt simply shouldn't touch its own limits at all.

[2021-05-04 08:12] dkacar-oradian commented on #56963
Out of curiosity: where does it say that restarting the service from the RPM upgrade script is the correct way for RHEL and derivatives? I'm not saying that it is or that it isn't. I never managed to find any kind of official documentation about this, so I'm just curious. And I can point out that the `httpd` package from the base OS distribution isn't restarting the service on upgrade. I've just c

[2021-05-04 09:06] alexandre-allard-scality opened #60126 "[BUG] `network.routes` execution module tracebacks on blackhole route"
**Description**

`network.routes` execution module does not handle blackhole routes when `netstat` is not installed.
If `netstat` is not installed, then the module uses `ip`, which does not display backhole route the same way, and ends up with a traceback:
[code]
**Setup**
- No `netstat` binary present
- A blackhole route set
[code]

**Steps to Reproduce the behavior**
Ensure that `net-tools` pack

[2021-05-04 10:36] markuskramerIgitt commented on #60122
Could you please rephrase? I don't understand

[2021-05-04 12:04] OrangeDog commented on #60122
That isn't salt's config, it's systemd's config. Salt isn't supposed to be in charge of setting its limits.

[2021-05-04 14:21] ewhitesides commented on #59986
I'm not experienced enough to do a pull request.... I just suggested what I think the setting should be above.

[2021-05-04 15:58] sagetherage commented on #50851
Reopened -- still an issue as noted in IRC - salt and asterisk:
`the salt minion on the target machine is Killed by systemd around 90 seconds after execution. "systemd[1]: salt-minion.service: Killing process 15212 (salt-minion) with signal SIGKILL."...  I changed systemd NotifyAccess to "exec" instead of "all" and this is what I just got:  systemd[1]: salt-minion.service: Got notification message

[2021-05-04 16:30] xeacott commented on #59519
Can confirm that this is an issue. Will have to dig a little deeper to see what the useradd module is missing.

[2021-05-04 16:45] sagetherage commented on #59739
@cbosdo any thoughts on this?

[2021-05-04 16:48] ekillian commented on #59161
Why is my bug being highjacked? And my bug was fixed.

[2021-05-04 17:16] sagetherage commented on #57992
This is impacting many users so I am raising the severity and have it in the current release cycle to be fixed. The Support documentation linked above has been hidden until it can be revised.

[2021-05-04 17:26] sagetherage commented on #53017
@Rabattkarte @disaster123 can either of you confirm this is still and issue on a currently supported version of Salt and python 3?

[2021-05-04 17:34] sagetherage commented on #54028
this maybe a good candidate for a salt-extension module that has lots of changes that could be iterated upon outside of the core salt code base you can see an [overview](https://www.youtube.com/watch?v=hhomJkwxK3Q&t=18s) on our youtube channel and there is a repo for the simple tool to make a salt-extension module. Docs are still pending.

[2021-05-04 17:40] disaster123 commented on #53017
@sagetherage i'm sorry i'm no longer involved in salt stuff

[2021-05-04 17:52] ichilton commented on #59716
Great, thanks.

PS: Use Debian packages, so already on 3003 now.

[2021-05-04 17:55] markuskramerIgitt commented on #60122
I don't know if Salt set the limits, I only know it emits this warning.
But Salt does no longer read the relevant systemd configuration.

[2021-05-04 18:01] sagetherage commented on #59161
seeing this again in 3002.6 reopening for Silicon release

[2021-05-04 18:05] ssoto2 opened #60127 "[BUG]"
**Description**
The service.running state using the provider option does not work as expected. If a service is in the /etc/init.d directory with correct permissions but has not been added to chkconfig it will say that service is not found when running the state. If you add the service to chkconfig manually then run the state it will work perfectly

**Setup**
[code]

**Steps to Reproduce the behavi

[2021-05-04 18:07] mattp- commented on #60122
what is the output of systemctl cat salt-master.service| grep -i nofile ?

[2021-05-04 18:15] markuskramerIgitt commented on #60122
@mattp, I had to remove 3003 due to issue #60049

[2021-05-04 18:19] markuskramerIgitt commented on #60049
@dwoz, I sent @twangboy two sets of yappi profiles before I uninstalled 3003

[2021-05-04 18:43] OrangeDog commented on #60122
@markuskramerIgitt Salt has never read the systemd configuration. It's not supposed to. That is what I have been trying to explain.

[2021-05-04 18:53] dmurphy18 commented on #56963
@dkacar-oradian It was over 5 years ago, had an issue where with systemd Salt was not handling correctly keeping rpm running after upgrade, had to fix it to restart if already running. So ancient history that I need to dig out if needed, RHEL 5 was even alive at the time, and had to make allowances for it verses RHEL 6 and 7.0 at the time.  Needless to say it has been in this mode of operation for

[2021-05-04 18:54] markuskramerIgitt commented on #60122
@gtmanfred, in 2017, suggested to [use a systemd dropin](https://github.com/saltstack/salt/pull/39957#issuecomment-303817105).

I assume that Salt does no read the propin as a file, but so far the LimitNOFILE setting was processed, between 2017 and recentlty.

How do you suggest to change the setting?

[2021-05-04 19:18] sagetherage commented on #60126
@alexandre-allard-scality thank you for the bug report! We will review a PR for salt if you are so inclined to open one :)