[2020-02-20 17:38] bryceml commented on #55524
@Akm0d @sagetherage I think this was fixed, do you know if that's the case?

[2020-02-20 17:42] sblaisot commented on #56167
pin-to-major repos seems to be available now (at least they are deploying and already there for some distributions)

[2020-02-20 17:47] mchugh19 commented on #55836
Open feature and not stale

[2020-02-20 18:07] mtorromeo commented on #56212
Yeah, I noticed that even with my altered package I still have to manually remove the previous version of python-setuptools to resolve the conflict but at least I don't end up in a situation with a permanent unresolved dependency. I'm not sure how to fix this cleanly.

[2020-02-20 18:14] dmurphy18 commented on #56212
The problem is that rpm name resolution depends on the name of the rpm rather than what it provides.  Hoping that when I review when python2-setuptools was introduced that it is on an old enough version that SaltStack can pick that as the minimum supported version.  Will review that next week since going PTO rest of this week.

[2020-02-20 18:55] sagetherage commented on #56192
@saltstack/docs-working-group

[2020-02-20 19:39] rossengeorgiev commented on #50803
bump

[2020-02-20 19:49] waynew commented on #55804
This issue should be handled when we re-write the testing docs, because we should be using `nox` to run the tests, which will take care of this invalid instruction :P

[2020-02-20 20:17] Farm8763 commented on #37781
Looks like this issue was never resolved. I just ran into the same issue on CentOS 7 and had the same problem. Looking at the syslog returner source the methods aren't implemented, comparing to the mysql returner that is used as an example in the documentation.

[2020-02-20 20:24] Ch3LL commented on #56118
@ryanmilne-digicert fixed the cron job the new tag should be up: https://hub.docker.com/r/saltstack/salt/tags feel free to open a new issue if you find any issues with the container. thanks

[2020-02-20 20:36] sagetherage commented on #55524
yes, it looks like this is fixed - closing

[2020-02-20 20:36] #55524 closed

[2020-02-20 21:02] danlsgiga opened #56214 "[DOC]: Salt CLI doc is outdated"
As I looked for the `--failhard` option in the [Salt CLI docs](https://docs.saltstack.com/en/latest/ref/cli/salt.html) I noticed it is totally outdated.

I believe the `--failhard` option is available for a long time. Expectation is to have the same output from the `salt --help` command in the docs as well.

[2020-02-20 21:10] syphernl commented on #48964
.

[2020-02-20 21:36] kschafer2598 commented on #56171
I am also unable to get mine data using templates:

[code]

[2020-02-20 22:03] jbeaird commented on #53152
Thanks again, @garethgreenaway !

[2020-02-20 22:49] dmurphy18 commented on #56134
@thusoy Closing this since the major versions were updated this morning on repo.saltstack.com for all platforms released for Salt 3000

[2020-02-20 22:49] #56134 closed

[2020-02-21 01:26] sagetherage commented on #56214
@saltstack/docs-working-group

[2020-02-21 01:30] #49575 closed

[2020-02-21 03:25] dtmateojr commented on #56067
Is it enough to handle just the '---' and the '...'? From my tests, it treats tabs '\t' as special as well. I posted this example in my previous comment:

[code]

Notice that with the addition of '\t' it no longer drops the '---' and even honors the '\n'.

[2020-02-21 03:43] dtmateojr commented on #56067
Please also note that the behaviour has significantly changed between 2018.3.5 and 2019.2.3.

From 2018 debug output, you can see that it preserves the input string (a complete _diff -u_ output )
[code]

However, in 2019, the debug output shows that the string has already been mangled before it hits file.write. The leading '---' and the '\n's are completely gone thus causing _file.patch_ to fail b

[2020-02-21 04:06] shortstack opened #56216 "salt-minion in restart loop"
### Description of Issue
Minion checks in with key, master accepts key

Can't test.ping or run any commands from master to minion

This minion was checking in until about a month ago and then stopped

Windows event logs show a constant restart loop with `"c:\salt\bin\python.exe" -E -s c:\salt\bin\Scripts\salt-minion -c c:\salt\conf -l quiet`

Tried Salt-Minion-2019.2.2-Py3-AMD64-Setup.exe and Salt

[2020-02-21 04:25] saurabhnemade opened #56217 "'saltutil.kill_all_jobs' is not available."
<img width="405" alt="Screenshot 2020-02-21 at 9 54 38 AM" src="https://user-images.githubusercontent.com/17445338/75004172-46ea3780-5490-11ea-8218-4a588101354e.png">

Somehow saltutil package itself is not available

[2020-02-21 05:01] acornett commented on #55147
I think the changes proposed by @angeloudy would solve this issue, but it seems #52517 has stalled.

[2020-02-21 05:12] raddessi commented on #56184
No problem, this PR installs fine for me locally now.

[2020-02-21 07:14] thehunmonkgroup opened #56219 "regex in kernelpkg latest_available() fails on Debian Buster kernel"
### Description of Issue

```latest_available()``` has the following regex to match the kernel version:

[code]

However, latest Debian Buster returns a kernel version that is not compatible with this regex:

[code]

Which results in the following error:

[code]

### Setup
[code]

### Steps to Reproduce Issue
From CLI:

[code]

### Versions Report
Running a *slightly* older version, but I verified

[2020-02-21 07:23] dwoz commented on #56157
Duplicate of #56131

[2020-02-21 07:23] #56157 closed

[2020-02-21 07:43] GwiYeong commented on #56207
I'm missing some different options for MasterMinion instance between `low` and `jobs.list_job` function.
the function `low` has MasterMinion instance has below options,
[code]
but the function `jobs.list_job` init MasterMinion instance with below options
[code]

what is different with two things?
In my case, `list_job` works fine.

Even if some difference exists, we can inject MasterMinion instanc

[2020-02-21 09:43] supfors commented on #54449
Running into the same issue using salt 3000 on ubuntu 18.04. Installing `python3-docker` in advance is working for me. Any chance for a fix in 3000.1 ?

[2020-02-21 10:56] max-arnold commented on #50462
This feature was added in Salt Neon

[2020-02-21 12:49] jf opened #56224 "archive.extracted still fails with `UnicodeEncodeError`s"
### Description of Issue

as per subject, archive.extracted still fails with `UnicodeEncodeError`s. I see #40578, #47546, #48684 that claim that this has been fixed, but I'm still getting it, with 2019.2.3.

IF it matters, I'm using `salt-ssh` instead of the regular `salt`. I'm hoping it shouldn't matter... but if it does, boo!

[code]

### Setup

[code]

### Steps to Reproduce Issue

Use the stat

[2020-02-21 14:48] SammyTbeile commented on #56006
I think this is another instance of a well documented issue: https://github.com/saltstack/salt/issues/24925

[2020-02-21 15:30] SammyTbeile commented on #56006
Also, for any searchers that end up here before this is fixed I found a workaround where if you `pip.install docker` in a `salt-call` instead of via the state, it works.
[code]

[2020-02-21 15:49] robinlandstrom commented on #46064
This issue has been fixed:
https://github.com/saltstack/salt/commit/dda587904557fbfbdc88e83b33d346f22548942a
Merged into 2018.2 and later.

[2020-02-21 16:04] c-wicklein commented on #51055
@luxi2001 Which version of Salt are you using?  I encountered this problem running 2018.3.2 on Fedora 29.  I'm now running 2019.2.1 on CentOS 8.

[2020-02-21 16:22] luxi2001 commented on #51055
@c-wicklein  We're running 2019.2.0 on CentOS 7.4 and RHEL 7.7. We had to add the group parameter to all our `cmd `calls where we use `runas`. I see You maybe have a different problem, although i suspect the root cause is the same.

[2020-02-21 16:27] c-wicklein commented on #54817
I was just reviewing my private patches against 2019.2.1 and checking the associated issues here.  I recall having a problem using an sls that includes git.latest when offline (salt-call on a laptop.)  This is my work-around to paper over the problem...

[code]

[2020-02-21 17:07] terminalmage commented on #56067
I'm sorry, but you're all over the place here. You've given three different means of passing arguments to Salt, which pass the contents in different ways, and I still don't know what it is that you're trying to do. Please explain in greater detail what you are trying to accomplish, and maybe I can understand what you feel is being "mangled".

[2020-02-21 17:46] waynew commented on #56187
Hey @baby-gnu - could you elaborate on what you actually need here?

Typically configs should be relatively static and straightforward. Most dynamic behaviors can be specified with data in pillars.

What is the killer use-case here that can't be accomplished with pillars?

[2020-02-21 18:31] #50246 closed

[2020-02-21 18:36] waynew commented on #56201
@pepoluan have you tried:

[code]
?

[2020-02-21 18:43] waynew commented on #56196
Hi @githubcdr we'll take a look at this and try to reproduce!

[2020-02-21 18:44] waynew commented on #56196
Interesting! We'll give it a try and see if we can reproduce!

[2020-02-21 18:44] waynew commented on #56198
@twangboy do you know what's happening here?

[2020-02-21 18:47] waynew commented on #56199
And you have verified that `C:\Python27\Scripts\easy_install.exe` or `C:\Python27\easy_install.exe` does exist, right? (or that it's somewhere else on the path)?

[2020-02-21 18:48] waynew commented on #56200
@SDedik thanks for this report, we'll see if we can reproduce!

[2020-02-21 19:01] deput-d commented on #55837
wow that makes too much sense... I feel pretty silly I didnt check to see if it was returning something else w/ the status.

I appreciate all the feedback and should be able to work with this.

[2020-02-21 19:01] dsanader commented on #47591
For the record I had a similar error (`RSAError: wrong tag` though) upgrading 2018.3.5 on debian stretch.

[code]

If that can be of any help, I was able to pinpoint the buggy minion public key with a small loop :

[code]

I was unable to reproduce it on other platforms.

[2020-02-21 19:06] baby-gnu commented on #56187
Hello @waynew.

My feature request is to add merging capabilities to pillars (and anything queryable by `salt.modules.config.get`) the same way the pillar specific [pillar.stack does](https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.stack.html#merging-strategies).

When writing formulas, the author can choose the merging strategy of the [`salt.modules.config.get`](https://docs.salts

[2020-02-21 19:10] sdklein commented on #52400
Confirmed same issue on 3000.

[2020-02-21 19:19] sdklein commented on #52400
Looks like the methods are now being invoked with args and kwargs parameters as of 2019.

Simple solution is to update the methods to pass them.

Old:
def test_help():

New
def test_help(*args, **kwargs):

[2020-02-21 19:24] sagetherage commented on #56063
Assigning to have test written for the PR https://github.com/saltstack/salt/pull/56094

[2020-02-21 19:38] Ch3LL opened #56228 "saltversioninfo grain returns old version format"
### Description of Issue

[code]

Needs to be:

[code]

### Versions Report

3000 versions

[code]

[2020-02-21 19:38] Ch3LL commented on #56228
Fixed by https://github.com/saltstack/salt/pull/56082

[2020-02-21 20:37] doesitblend opened #56229 "Add Ability to Reload Environments"
### Description of Issue
I run my masters in containers with the salt-master being the command that I run. From time to time I have need to update my `file_roots` setting. This seems to require a full restart of the master daemon for the environments to work correctly. I can see the environment on the master with `salt-run fileserver.envs` without restarting the master, but the minion never seems

[2020-02-21 22:09] prometheanfire commented on #56007
This is now blocking msgpack in openstack.  See commit message here.  https://github.com/openstack/requirements/commit/825c615e5ae2d71f0bf0fbeaf9a5de377c09adf6

When can the cap be removed?

[2020-02-21 22:49] sagetherage commented on #55098
ok stale bot, _stale not_

[2020-02-21 22:55] sagetherage commented on #55098
@Akm0d can you help Joe to follow up, here, please?

[2020-02-21 22:57] dwoz commented on #55106
Looks like the change in behavior for `state.sls` was introduced here:

#41679
https://github.com/saltstack/salt/commit/8d6fdb7c9ad42236bf1e3b500ed4774e9c5beb9d

[2020-02-21 23:01] sagetherage commented on #55100
RE-assigning @dmurphy18 can you help with install here -- I don't believe this has been fully triaged and needs your expertise, please.

[2020-02-21 23:05] waynew commented on #56179
@landergate I cannot for the life of me reproduce this. Following your steps I still get success. I'm quite certain that the error is due to something wonky getting returned from the host lookup. As a matter of fact, it's possible that your DNS is broken because this does not look right:

[code]

If you're really getting `.`. That's not valid:

[code]

You can double check to see what it's actuall

[2020-02-21 23:08] sagetherage commented on #55311
@Akm0d can you follow up here?

[2020-02-21 23:15] sagetherage commented on #55486
stable bot stale not!

[2020-02-21 23:24] sagetherage commented on #55668
@dwoz I may need you to help Chad with follow up on this since he is out of pocket for a bit.

[2020-02-21 23:28] sagetherage commented on #55662
closing as fixed

[2020-02-21 23:28] #55662 closed

[2020-02-21 23:41] sagetherage commented on #55912
@Akm0d can you help Joe to follow up here, please?

[2020-02-21 23:43] sagetherage commented on #55916
@saltstack/docs-working-group

[2020-02-22 00:31] #55460 closed

[2020-02-22 18:12] #55883 closed

[2020-02-22 20:21] darkpixel opened #56231 "Salt minion on FreeBSD some services hang on restart"
### Description of Issue
The salt minion frequently hangs when restarting some services.  Some more than others.
One that I can regularly reproduce from the minion (but not when I run from the command line) is icinga2:

[code]

Like I mentioned, I can run ```service icinga2 onestart```, onerestart, onestop, and other options from the command line until I'm blue in the face.  They never hang.  It's

[2020-02-22 20:23] darkpixel commented on #56231
It looks like ```icinga2``` isn't detaching from the terminal, but the rc.d script shows it being started with the ```-d``` flag.

Also, hitting ```CTRL+C``` to get ```salt-minion``` to exit doesn't kill icinga2 as if it were actually not daemonized:
[code]

[2020-02-23 00:34] ndobbs commented on #52400
I'm running into this issue as well - just setup slack engine.

[code]

Error output:

[code]

[2020-02-23 00:38] wh1te909 commented on #56196
getting same error on all my windows computers that have openvpn after updating to v3000, same for me disabling tap fixes it

[2020-02-23 22:40] dwoz commented on #56179
I've seen this before and was able to work around it by setting an `id` in the master config.

[2020-02-24 00:59] dtmateojr commented on #56067
I am not all over the place. I'm saying that the same python code produces different output between 2018.3.5 and 2019.2.3. Here is a comparison...

2018.3.5
[code]

And the same code using 2019.2.3:

[code]

Why don't you try it yourself?

[2020-02-24 06:18] dhs-rec commented on #56199
That's what
[code]
is for.

[2020-02-24 06:46] remichristiaan commented on #45402
Probably a related case is when you use PCRE (E@) in the nodegroup definition.

E.g.:

[code]
It's possible to target the nodegroup:

`salt -N group_a test.ping`

However the data under the ext_pillar entry for the nodegroup's file_tree is not available/loaded.

`salt -N group_a pillar.items`  and `salt '*.sub_a.*' pillar.items` do not have the node's corresponding file_tree data.

File_tree data

[2020-02-24 13:32] eqvis opened #56232 "Python 3 porting problem"
### Description of Issue
 File "/usr/lib/python3/dist-packages/salt/modules/highstate_doc.py", line 626, in proccesser_markdown
    requisites += _format_markdown_requisite(w.items()[0][0], w.items()[0][1])
TypeError: 'odict_items' object does not support indexing

### What I did:
I used the example for highstate_doc adding some states to my top.sls.
Then I called: `salt-call state.apply makereadm

[2020-02-24 14:32] morph027 commented on #55486
run into the same issue...

It works with 2018.3 (salt complains about `Specified SLS '...' in environment '...' is not available on the salt master`), 2019.2 does not complain.

[2020-02-24 14:56] Ch3LL commented on #49586
and if you switch to gitpython do you still see the issue? Im wondering if these memory leaks are the cause to slowing down teh performance

[2020-02-24 15:38] esilva-everbridge commented on #49586
The memory leaks are certainly having an impact on performance but it isn't clear if they are the cause of the performance issues with auth. It looks like we are using gitpython now, as using pygit made everything much worse.

[2020-02-24 15:40] Ch3LL commented on #55656
your matcher is still working for me. Anyways looking at that line it looks like it was removed to grab `id` from `__opts__` instead of `__grains__` if `minion_id` is not set, which does work for me.

[2020-02-24 15:40] Ch3LL commented on #55656
maybe the author @cro can chime in here as well to explain the change.

[2020-02-24 15:40] sagetherage commented on #55381
@pprkut I understand. We'll leave this open and wait for your verification. Thank you!

[2020-02-24 15:50] sagetherage commented on #55487
@garethgreenaway can you answer @praveenkulkarni22 question, here?

[2020-02-24 15:58] Ch3LL opened #56233 "windows ec2 cloud tests failing"
### Description of Issue

https://jenkinsci.saltstack.com/job/pr-centos7-py3-cloud/job/master/

The following cloud tests are failing:

[code]

[code]

[2020-02-24 16:33] terminalmage commented on #56067
The change noted above can be traced to when we ditched most of the modifications from our custom YAML loader in favor of basing our loader on PyYAML's CSafeLoader (see https://github.com/saltstack/salt/pull/48309). Given the benefits of doing so, I don't see the project going back to the prior YAML loader. The current behavior, given that it aligns more closely with PyYAML, should be seen as "cor

[2020-02-24 17:02] Ch3LL opened #56234 "windows 2019 tests are timing out at 9 hours"
### Description of Issue
https://jenkinsci.saltstack.com/job/pr-windows2019-py3/job/master/579/

The windows 2019 tests are timing out at 9 hours pretty consistently.

[code]

[2020-02-24 17:08] Ch3LL opened #56235 "amazon linux 1 test failures (Cannot allocate memory)"
### Description of Issue

These tests:

[code]

are failing sometimes with error:

[code]

https://jenkinsci.saltstack.com/job/pr-amazon1-py2/job/master/627/

maybe similar to https://github.com/saltstack/salt/issues/56109 ?? but they are getting memory errors on different tests so might be different issue

[2020-02-24 17:08] Akm0d commented on #56233
I'm pretty sure this is fixed with https://github.com/saltstack/salt/pull/55435, verifying now

[2020-02-24 17:12] Ch3LL commented on #55333
im not seeing this fail anymore

[2020-02-24 17:12] #55333 closed

[2020-02-24 17:13] Akm0d commented on #56110
Fixed with https://github.com/saltstack/salt/pull/55748

[2020-02-24 17:13] #56110 closed

[2020-02-24 17:29] sagetherage commented on #56088
@saltstack/docs-working-group

[2020-02-24 17:33] sagetherage commented on #56088
@batgranny can you give us the steps and exact error message? Then we can take a look at updating that if it wasn't a helpful error message.

[2020-02-24 18:08] Akm0d commented on #56233
No... Those tests fail instantly, even on the refactor, looking deeper

[2020-02-24 18:31] xeacott commented on #55987
Closing this for now since it sounds like its been address.

[2020-02-24 18:31] #55987 closed

[2020-02-24 18:49] Akm0d commented on #56233
[code]

[2020-02-24 19:08] frogunder commented on #54260
Seems to work correctly for me on 3000.

I pip3 installed salt.

[code]

[2020-02-24 19:35] St4rz opened #56236 "`salt 'instance' cmd.run group=group ...` assumes sudo"
### Description of Issue

The command `salt 'server1' cmd.run runas=user1 group=group1 'touch /tmp/test;ls -la /tmp/test'` returns an error on a system where sudo is not installed:

[code]

Alternatively, it can be ran without the `group=group1` argument to get past the group requirement, but the touched file will still have a group of `root` (our filesystem default), which isn't valid.

[code]

R

[2020-02-24 19:56] waynew commented on #56206
That is a surprising amount of memory. You might see if you can update the number of worker processes to just 1.

I've used minions and masters on my pi before - the only real problem that I saw was that occasionally it would get into a runaway loop that would start eating all my memory, but that's a different issue.

[2020-02-24 21:17] willjp opened #56238 "modules/virtualenv_mod AttributeError (virtualenv.virtualenv_version)"
### Description of Issue
Using salt-state `virtualenv_mod.managed` fails with a python AttributeError because `virtualenv.virtualenv_version` does not exist (but `__version__` does).

The issue on line 170 of `salt.modules.virtualenv_mod`.

[code]

Maybe resolve with:
[code]

Versions:
[code]

### Setup
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2020-02-24 22:29] dwoz commented on #55106
Okay, the above comment is totally wrong. The PR I linked to is not changing the behavior. Also, I've verified that we do intend to request fresh pillar data any time we run a state (including `state.sls`). This was a part of the original design of the pillar system and has been working consistently in this way since it's implementation.

[2020-02-24 22:35] timwsuqld commented on #55829
@sagetherage 90 days would be more reasonable for me at this stage
@cachedout I totally agree. Having things just marked as stale would be more helpful. This way we can filter stale issues and manually triage them. I understand the use of stalebot when people dump "support" requests into an issue, and then don't respond after 30 days requesting more information. I think this is where Salt are tryi

[2020-02-24 22:40] thatch45 commented on #55106
Thanks for tracking this down @dwoz I originally wrote the state system to always reload the pillar when calling state runs. this is critical to ensure execution consistency.
When this is a performance issue the best thing to do is to enable the pillar cache on the master and set the pillar cache timeout accordingly. The pillar cache can either be in memory or on disk depending on your requirement

[2020-02-24 22:41] #55106 closed

[2020-02-24 22:49] sagetherage opened #56239 "[Docs] pillar documentation update"
### Description of Issue
As noted in closed ticket https://github.com/saltstack/salt/issues/55106 the documentation on pillars and pillar caching is confusing and needs an overhaul, likely the new working group can audit these docs and help with consistency and reader flow.

### Setup
Possible docs to review (there may be more or less):
- pillar.items https://docs.saltstack.com/en/latest/ref/modul

[2020-02-24 22:49] sagetherage commented on #56239
@saltstack/docs-working-group

[2020-02-24 22:49] sagetherage commented on #55106
done @thatch45

[2020-02-24 23:52] bryceml opened #56240 "Salt Cloud doesn't expose full filter capabilites of amazon describe-images api"
### Description of Issue
Salt Cloud only lets you specify amis by id or by name, we should be able to pass it any filter, especially owner-id.  Currently if you specify `Windows_Server-2016-English-Full-Base-20*` without specifying the owner-id, you end up getting a 3rd party ami instead of the official one.  There also doesn't appear to be a way to limit the search to private amis because of this

[2020-02-24 23:53] Akm0d commented on #56240
Solves https://github.com/saltstack/salt/issues/56233

[2020-02-25 00:09] landergate commented on #56179
@dwoz
Thanks for advice.
Tried both `master_id:` and `id:` at master config, but exception still happens.

@waynew
Thanks for your patience.
I agree that this issue depends on environment.

Checking variable values:

Without `127.0.1.1 hostname` line in /etc/hosts:
[code]

With `127.0.1.1 hostname` line in /etc/hosts:
[code]

Despite `hostname --all-fqdns` shows a single dot for a second fqdn in b

[2020-02-25 00:13] dtmateojr commented on #56067
Can you at least offer a workaround?

I have a hard time accepting this "correct" behaviour. If file.write does NOT write the intended output then it might as well produce random garbage. I'm not sure what other saltstack features traverse this same input-mangling path but I can already see this as a bomb waiting to explode. Every time something produces unintended output a vulnerability is not to

[2020-02-25 00:32] kveroneau commented on #55727
Today our company noticed another potential issue with azurefs, which might be related to this issue.  AzureFS fileserver backend does not appear to be correctly hashing, as we incurred 255GB of bandwidth from our blob storage hosting our SaltStack provisioning assets.  Our assets are limited in both number and size, so 255GB of bandwidth is rather extreme.  It seems that there might be a bug in t

[2020-02-25 04:58] shivamMg opened #56242 "Would like to contribute an s3 state module"
### Description of Issue

[s3 module](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.s3.html) does not have a corresponding state module to make it easy for use in state files. I've managed to make one (partially as of now), and was wondering if you guys are interested in having it. I would love to contribute.

[2020-02-25 06:03] sjorge opened #56244 "salt.states.smartos.vm_present fails when vrrp_vrid is specified"
Issue for #55906 as requested

# Description
SmartOS supports VRRP configuration for native zones, when adding a nic with `vrrp_vrid` specified.

The mac for these nics is automatically set to the proper mac as are based on the VRID. As we are keying the nics dict on the `mac` key this causes issues.

# Workaround
Calculate the correct mac and use that as the key for the nics dict.

# Solution
In

[2020-02-25 07:36] sjkummer commented on #56206
Hello Wayne, thanks for your hints!

I have tried to disable multithreading as follows, but now effect. I still got 3 minion processes. Maybe, it's a bug in the current release 🤭

[code]

This runaway loop sound bad 😕did you find a solution for this? ulimit?

[2020-02-25 08:55] sjkummer opened #56245 "Minion config reset after restart"
### Description of Issue
After a restart of the salt-minion the config file `/etc/salt/minion` is reset. Only the `master` settings persists, everything else is gone.

### Steps to Reproduce Issue
1. Set the config as follows
[code]
2. restart the minion service

### Versions Report
Salt Version:
           Salt: 3000

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Instal

[2020-02-25 08:56] sjkummer commented on #56206
Upgrading to version 3000 did not make a difference.
The multithreading settings are reset after ever service restart, see https://github.com/saltstack/salt/issues/56245

[2020-02-25 10:54] skob commented on #41458
/reopen

[2020-02-25 11:27] BlackMetalz commented on #54821
Up...... I'm having same issue

[2020-02-25 12:11] max-arnold commented on #56206
Try disabling some execution modules and grains using the `disable_modules` and `disable_grains` minion settings respectively.

You can find the list of loaded modules using the following command:

[code]

Then add the modules you don't need to the minion config:

[code]

As for grains, you can find the full list of grains modules [here](https://github.com/saltstack/salt/tree/master/salt/grains),

[2020-02-25 12:50] kussatom opened #56246 "python api does not work"
### Description of Issue
i can not do anything with python api,the minion logs are :
"2020-02-25 13:47:43,706 [salt.minion      :1727][ERROR   ][6504] A command in 'cmd.run' had a problem: 帐户名与安全标识间无任何映射完成。

Traceback (most recent call last):
  File "c:\salt\bin\lib\site-packages\salt-3000-py3.5.egg\salt\utils\win_runas.py", line 73, in runas
    _, domain, _ = win32security.LookupAccountName(doma

[2020-02-25 13:15] sjkummer commented on #56245
This is an invalid ticket. The file reset was not caused by salt!

[2020-02-25 13:15] #56245 closed

[2020-02-25 13:36] sjkummer commented on #56206
Thanks for your further hints!

I tried to disable as much as possible but it did not make a difference ... no the three salt-minion processes use 27% of the memory 🙈

My config is as follows now:
[code]

[2020-02-25 13:55] 4815162342lost commented on #56206
Sorry, small offtop: is progress bar on your screen broken (for top)?

Why do we see 60.9/908.2 MB?

[2020-02-25 14:14] sjkummer commented on #56206
@4815162342lost
Sorry, I just toggled the summary display mode (`m`) ... making the "used" percentage visible
![top](https://user-images.githubusercontent.com/9035698/75254841-45e33e00-57e1-11ea-8b27-d6e231fb3084.png)

[2020-02-25 14:18] max-arnold commented on #56206
@sjkummer You disabled too many modules. You'll probably want to run things like `state.apply`, `test.ping`, or `grains.get`. This means you need to enable `grains`, `pillar`, `pkg`, `saltutil`, `service`, `state`, `sys`, `system`, `test`, `user` and probably other modules. Check the minion log for any errors to see what else is required.

As for 27%, I'm quite surprised. The memory usage should g

[2020-02-25 14:19] sjkummer commented on #56206
Btw. I also switched from python 2.7 to python 3 ... but no change

[2020-02-25 14:32] terminalmage commented on #56067
I can certainly try, just as soon as you do what I asked and let me know what you're trying to accomplish and how you intend to invoke Salt.

[2020-02-25 14:33] #56246 closed

[2020-02-25 14:47] bdrung commented on #55936
This issue is still open.

[2020-02-25 14:49] bdrung commented on #55935
This issue is still open.

[2020-02-25 14:53] Ch3LL commented on #46064
thanks for pointing that out

ping @jryberg can you confirm so we can close?

[2020-02-25 14:55] Ch3LL commented on #55837
no problem. you okay closing?

[2020-02-25 16:58] L4rS6 commented on #46622
The same problem still exists in the latest SaltStack version:
[code]

SaltStack Version:

[code]

Minion Config:
[code]

[2020-02-25 17:14] #55837 closed

[2020-02-25 17:27] terminalmage commented on #56067
@thatch45 I'd be interested to get your input on this. Essentially, the change in behavior here stems from basing our YAML SafeLoader on CSafeLoader instead of SafeLoader (a change we made for 2019.2.0). The same string raises an exception in the SafeLoader, while the CSafeLoader appears to be doing some sanitization on the whitespace:

[code]

This exception is caught in pre-2019.2 releases by [t

[2020-02-25 18:23] sagetherage commented on #55905
SEP will be written and deprecation w.r.t. https://github.com/saltstack/salt/issues/56133

[2020-02-25 18:24] xeacott commented on #52387
This is good I've been in these modules a lot lately, let me spend some time on this today and I should get back EOD with an answer for this but after quickly skimming @morganwillcock you're probably correct on that note.

[2020-02-25 18:40] xeacott commented on #52387
Yeah @morganwillcock that's definitely the case. This edge case will probably be hard to reproduce, because its very conditional - so what probably happened here is that applying the `uptodate` state first found a security update, and then a cumulative update. The cumulative update contained the patch needed for the security update, but Window's decided that the cumulative update should be applied

[2020-02-25 18:41] viq opened #56247 "aws_kms renderer either not working or not documented sufficiently"
### Description of Issue
It doesn't seem to be possible to use [aws_kms renderer](https://docs.saltstack.com/en/develop/ref/renderers/all/salt.renderers.aws_kms.html) as described.

### Setup
KMS configured on AWS, encryption and decryption verified via CLI tools.
Assigned pillar along the lines of
[code]
Data key generated with the command listed: `aws kms generate-data-key --key-id some-key-uuid

[2020-02-25 19:09] weswhet commented on #50420
fixed.

[2020-02-25 19:09] #50420 closed

[2020-02-25 20:36] reversefold commented on #55695
That looks like it should work, yes.

[2020-02-25 20:42] waynew commented on #56242
If there's no corresponding state, we'd love contributions 👍

We require test coverage for new code, and you'd definitely want to sync up with the cloud working group - @Akm0d could get you hooked up there!

[2020-02-25 21:25] waynew commented on #56175
FWIW, doesn't look like this is a problem with a regular master/minion. I'm working on testing with the syndic setup

[2020-02-25 22:19] sagetherage commented on #55523
I will get someone assigned from the core team.

[2020-02-25 22:21] waynew commented on #55179
@markuskramerIgitt is this a documentation issue?

[2020-02-25 22:23] dwoz commented on #56195
@twangboy Can you verify this please?

[2020-02-25 22:29] dwoz commented on #56196
@twangboy Please take a look and see if this is an easy fix.

[2020-02-25 22:53] twangboy commented on #56195
Verified

[2020-02-25 22:58] venugopalnaidu opened #56250 "Windows Minion Consumin More CPU"
### High Cpu With 2019.2.2 windows 32 bit salt minion

### Issue
Hi,

We are using salt-master and minion of 2019.2.2 versions, master running ubuntu 18.04 64-bit and minion running with 2019.2.2 32 bit exe.

We are facing multiple issues with salt-minion(We have same issue in windows 2016, 2012 R2 and windows 10).
#### 1) When we send test.ping message minion machine cpu boosting to 40-50 percent

[2020-02-25 23:49] dtmateojr commented on #56067
Thanks.

My goal is basically to be able to modify remote files of any size on any minion. The most efficient way to do this is to send a patch via _file.write_ and then remotely patch via _file.patch_.

As you know, patch files start with '---' and have lots of special characters such as tabs and newlines. My short python code above that attempts to _file.write_ **'--- foo\t\nbar'** is an approxi

[2020-02-26 00:18] timwsuqld commented on #47988
I like @dafyddj suggestion of checking default Git install location if git isn't found in the environment.

[2020-02-26 00:40] waynew commented on #56175
I cannot seem to reproduce this.

If you could create step-by-step instructions to reproduce this I can give it another shot, but so far I'm unable to reproduce.

[2020-02-26 03:57] shivamMg commented on #56242
Would be great to have pointers there :+1:. Also, I'll use tests defined here https://github.com/saltstack/salt/blob/master/tests/unit/states as a reference.

[2020-02-26 04:06] max-arnold commented on #56206
Ok, it looks like I actually have a PI I can access, and below are my results (Raspbian Buster Lite, Salt 3000 Py3):

### Default install

Measurements right after the `sudo salt raspberrypi sys.list_modules` command was finished.

[code]

### With disabled modules/grains

<details><summary>/etc/salt/minion.d/disable.conf</summary>

[code]
</details>

Measurements right after the `sudo salt raspbe

[2020-02-26 08:02] cachedout commented on #56137
A closer look suggests that that `test_verify.py` might be the source of the max keys log entries.

[2020-02-26 08:20] markuskramerIgitt commented on #55179
Yes

[2020-02-26 08:25] vankhoa011 opened #56252 "Passed invalid arguments: argument of type 'bool' is not iterable"
### Description of Issue
I developed a salt runner script.
[code]
Then I run the command by this command on Salt master.

[code]
It is working correctly.  I set cronjob to run the command every one hour. However, sometimes the command failed. It's weird issue.  The problem happened randomly.
[code]
I don't know how to debug this issue . I think it happened because of timeout ? But I couldn't repro

[2020-02-26 08:38] CaptainSanders commented on #56131
It is exactly like this. So an old bug has re-emerged yet again.

[2020-02-26 08:44] sjkummer commented on #56206
Hey @max-arnold thanks for your reproduction! That is really interesting. I now disabled exactly the same list, but I still got the same high memory usage.

This really could be related to the Ubuntu 64bit environment.

I also had to install salt using git sudo `sh bootstrap-salt.sh -x python3 git v3000` (the python version does not make a difference).

Just one thing: I double checked the modules

[2020-02-26 08:53] redbaron4 commented on #56205
Another potential issue here is that the format of version display has changed too

For older systems:

[code]

For 20.0+:

[code]

[2020-02-26 10:23] xuhcc commented on #56232
I got a similar error at `states/acme.py", line 141, in cert`. This patch resolves the issue: #56243

[2020-02-26 11:31] mamalos commented on #55916
@xeacott, sorry for not having answered all this time (I forgot about it). Unfortunately I've been very busy and I'm not sure when I'll find some time for this. If it cannot be done by some other person, I'll try and do it at some point (tests are what "scare" me in the new saltstack contribution policy, which btw is great, but unfortunately makes things harder for contributors since we need to wo

[2020-02-26 12:25] max-arnold commented on #56206
I see the same thing. It happens because `sys.list_modules` lists virtual module names, and `disable_modules` expects file names (without the `.py` extension). So, to really disable the `ansible` module you need to specify `ansiblegate`.

<details><summary>/etc/salt/minion.d/disable.conf</summary>

[code]
</details>

[2020-02-26 13:41] max-arnold commented on #56206
And I guess you are right - the increased memory consumption is caused by 64 bit arch.

<details><summary>salt-call --versions-report</summary>

[code]
</details>

[2020-02-26 14:12] Ch3LL commented on #49586
can you reporrt back whether you are not seeing the auth issues after a while using gitpython or not?

[2020-02-26 14:51] peter-scott opened #56253 "Unhelpful error message - sls include"
When running a highstate, I was getting the following error and traceback:
[code]

In the end, there was a simple typo that introduced a `None` item into the include list:
[code]

To trace this, I had to add the following temporary logging message because the traceback does not identify which state file was being inspected when the error occurred.

[code]

It would be helpful if there was some for

[2020-02-26 14:56] esilva-everbridge commented on #49586
We do see minion auth delays with gitpython.

[2020-02-26 14:57] oeuftete opened #56254 "Running orchestration jids can not be retrieved"
### Description of Issue

There doesn't seem to be a direct programmatic way to retrieve a running orchestration jid.  There should be.

The use case here is a long-running orchestration triggered by a reactor that needs to be interrupted for some reason by a subsequent orchestration.

### Setup

Set up a reactor to trigger a long-running orchestration.  Try to find the jid using any existing modu

[2020-02-26 16:09] oeuftete opened #56255 "Orchestrations started by a reactor are not soft-killed properly"
### Description of Issue

A multi-step orchestration started by a reactor is not soft-killed as expected by the `state.soft_kill` runner.

### Setup

Set up a reactor to trigger a long-running orchestration with multiple steps.

Master configuration:

[code]

`/srv/reactor/my_sleepy_orch.sls`:

[code]

`/srv/salt/orch/sleepy.sls`:

[code]

### Steps to Reproduce Issue

Run `salt-call event.send my

[2020-02-26 16:51] oeuftete commented on #56254
ZD-4629

[2020-02-26 16:51] oeuftete commented on #56255
ZD-4629

[2020-02-26 16:54] bryceml commented on #56247
Documentation is re-added here: https://github.com/saltstack/salt/pull/55914

[2020-02-26 17:00] esilva-everbridge commented on #13664
Is this still being worked on? It's something that has become important to us recently.

[2020-02-26 17:02] esilva-everbridge commented on #13664
If anyone can point to where in the codebase the functionality exists I'd love to take a look.

[2020-02-26 17:05] waynew commented on #54260
Might be a good idea to create a Dockerfile to reproduce this (or, show that it's been fixed)?

[2020-02-26 17:20] dmurphy18 commented on #54912
gone to QA for Salt 3000

[2020-02-26 17:21] dmurphy18 commented on #54275
closing this since Neon has shipped

[2020-02-26 17:21] #54275 closed

[2020-02-26 17:27] viq commented on #56247
Yes, but that documentation is still incorrect or incomplete.

[2020-02-26 18:52] terminalmage commented on #56067
OK. The `file.write` function is designed to write each CLI argument to a separate line. Were you just using a single quoted CLI arg for your file.write contents? How were the patch files being generated? If they exist as a file on the master, you might want to try using [salt-cp](https://docs.saltstack.com/en/latest/ref/cli/salt-cp.html) to copy the file to the minion:

[code]

[2020-02-26 19:12] waynew commented on #56178
I cannot reproduce this. Could you put together a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example)? I'm using the sample proxy code, the only thing that I can think of is that you're missing this block in your proxy module:

[code]

Note where the url is getting set. If you can provide a minimal `_proxy/rest_test.py` that exhibits this behavior we can come back and take another

[2020-02-26 19:28] terminalmage commented on #13664
Yeah I'm sorry but I never got the opportunity to start this. All of the gitfs code is in salt/utils/gitfs.py. It's quite a large file, so you'd need to take some time to familiarize yourself with it. salt/fileserver.gitfs.py will create instances of the `GitFS` class, and each `GitFS` instance will have multiple `Pygit2` or `GitPython` class instances, one per entry in gitfs_remotes.

You'll also

[2020-02-26 19:34] waynew commented on #56179
I'm not intimately familiar with how linux resolves it's hostnames - but looking at the stack trace, in particular this line:

[code]

getaddrinfo is probably just exposing [getaddrinfo](http://man7.org/linux/man-pages/man3/getaddrinfo.3.html), so it's largely based on the underlying system.

I guess that's the philosophical question - and looking back at this it does appear to be happening within

[2020-02-26 20:22] shorawitz commented on #53244
Any chance we can get the fix proposed by jerem991 checked in?  This seems to work for a new Py3 installation on 3000.

[2020-02-26 21:10] CodeLain opened #56257 "Salt win_wua module not working"
### Description of Issue
Every time I use some of the commands from the win_wua module I get:
Minion-Example:
    Minion did not return. [No response]

### Steps to Reproduce Issue
Using the python client, try running any of the win_wua commands.

### Versions Report
Tried with salt-3000 and multiple Python 3 versions. If anyone knows one that it's working please let me know.

[2020-02-26 21:19] rtaft opened #56258 "rabbitmq_user.present Errors if user exists."
### Description of Issue
When using rabbitmq_user.present, the user is created the first time around.  After that, the salt function errors with
[code]
### Setup
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
Salt Master: 3000
Salt Minion: 3000
Rabbitmq-server: 3.8.2

[code]

[2020-02-26 22:27] wwalker commented on #45022
The issue still exists.

[2020-02-26 23:12] waynew commented on #56180
I wasn't able to run this with 1,000 minions, but even with 25 minions there's a measurable difference between running with and without `--static`.

[2020-02-27 00:33] dtmateojr commented on #56067
I use single-quoted args for file.write. They have worked since saltstack 2016 up to the latest 2018. Breaks miserably under 2019.

The patch files are generated using "diff -u". The patches are sent to minions and then patched on their end.

I do not want to use salt-cp. We already use puppet/chef to enforce file contents anyway. This patching that we do with salt is for adhoc break-fix scenarios

[2020-02-27 00:55] mattlan commented on #48973
I'm observing the same behavior using 2019.2.0.

[2020-02-27 07:02] deva-ai opened #56260 "Salt-Minion CPU usage is More in Windows 2012 R2"
we are using salt-master in ubuntu 18.04 and minion is windows 2012 r2 when we are sending the commands, from master to minion CPU usage is increasing 80-90% how to fix this

Thanks
Deva

[2020-02-27 08:18] shivamMg commented on #56238
newer virtualenv versions (>=20.0.0) have got rid of `virtualenv_version` module variable. [https://github.com/pypa/virtualenv/blob/16.7.10/virtualenv.py#L50](https://github.com/pypa/virtualenv/blob/16.7.10/virtualenv.py#L50). I've tried fixing it here: https://github.com/saltstack/salt/pull/56251

[2020-02-27 08:30] disaster123 commented on #43740
Still valid

[2020-02-27 08:30] disaster123 commented on #51970
Still valid

[2020-02-27 12:32] harmv commented on #55886
Filed as SEP: https://github.com/saltstack/salt-enhancement-proposals/pull/25

[2020-02-27 13:02] ixcat commented on #39344
Still failing on neon/ubuntu 18.04

[2020-02-27 13:08] OrangeDog commented on #54260
OK, now I cannot reproduce, and I've not changed anything from what I was doing in https://github.com/saltstack/salt/issues/54260#issuecomment-586217749

So I agree it is fixed, and I must've made some kind of mistake. Apologies.

[2020-02-27 13:08] #54260 closed

[2020-02-27 14:28] #55384 closed

[2020-02-27 15:09] Ch3LL commented on #49586
and performance is better or no?

[2020-02-27 15:23] esilva-everbridge commented on #49586
After restarting the masters it Initially it seems improved but then degrades, until we have to restart them again.

[2020-02-27 15:32] 5paceToast commented on #53414
Still not stale.

[2020-02-27 16:04] prometheanfire commented on #44778
been another month, please reopen...

[2020-02-27 16:29] 5paceToast commented on #53414
This issue is not stale. Why did the bot mark it as such again after another hour?

[2020-02-27 17:12] Artanicus commented on #54817
The fix was merged into 2019.2.1 back in October, any idea why it still haunts 2019.2.2 today? @garethgreenaway

[2020-02-27 17:30] weswhet opened #56261 "3000 saltversioninfo minion grain seems unorthodox."
### Description of Issue
Starting in salt 3000 the `saltversioninfo` grain returns info similar to below on a macOS minion.

[code]

previously it was something like
[code]
The combination of `None` and `int` types seems odd.

Clearly not a critical bug :) Just wanted to put it on the radar for the new versioning system.

### Versions Report
[code]

[2020-02-27 17:30] weswhet commented on #56261
cc @garethgreenaway

[2020-02-27 18:31] Sakorah commented on #54101
I tried this not with saltstack 3000 and I did not encounter this error anymore.

[2020-02-27 18:40] Ch3LL commented on #56261
duplicate of https://github.com/saltstack/salt/issues/56228  which also has a fix. closing here as a duplicate

[2020-02-27 18:40] #56261 closed

[2020-02-27 18:57] terminalmage commented on #56067
OK, it was designed pretty much exactly for the purpose of copying files to minions. :man_shrugging:

Your options then are:

1) Use `file.managed` or some other means to transmit the file to the minion.
2) Put the patch file in your `file_roots` and use [file.patch](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.patch) to apply it to the minion.
3) Down

[2020-02-27 19:01] weswhet commented on #56228
🙏

[2020-02-27 19:04] jars99 commented on #52281
I'm getting this same error on Amazon Linux 2 with salt version 2018.3.5

[2020-02-27 19:38] kschafer2598 commented on #56171
I haven't seen any updates; Is this the right place to report an issue like this?

[2020-02-27 19:58] gromovadarya90 opened #56263 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:24] doesitblend commented on #53340
ZD-4232

[2020-02-27 21:03] waynew commented on #53870
Closing this and adding #45682 to the planning instead.

[2020-02-27 21:03] #53870 closed

[2020-02-27 21:26] waynew commented on #52802
@xeacott were you able to repro this?

[2020-02-27 22:18] waynew commented on #52949
Ah, yes, that's correct.

It looks like salt should be converting links from S links to K links, which would produce the correct behavior here.

[2020-02-27 22:41] nijotz commented on #55084
Homebrew is patching salt until this is fixed: https://github.com/Homebrew/homebrew-core/blob/99ad7c17f96d18ff55251d65e878b04e746d5899/Formula/salt.rb#L130

[2020-02-27 22:45] waynew commented on #52981
@jyriatntt thanks for the help! I couldn't find that invocation when I was searching for how to force curl to use TLS. I think the only thing I found specified ciphers to use? Anyway, I just did a bit of searching and this may be a limitation with CherryPy? At least I haven't found any instructions on how to make CherryPy disable tlsv1.0 - apparently you can specify the ciphers but maybe it doesn'

[2020-02-27 22:53] kveroneau opened #56266 "salt-cloud should install same minion version as master"
### Description of Issue
When using salt-cloud to spin up cloud servers, when bootstrapping the salt-minion, the same version which is on the master should be bootstrapped onto the minion for maximum compatibility.  I am currently trying to troubleshoot an issue, which I believe is related to the master and minion being different versions.

### Setup
Use a Salt-master at version 2019.2.3, and boot

[2020-02-27 22:58] kveroneau commented on #56266
This is the error I receive when using any mysql related execution commands, such as mysql.version.  This same error does not occur on other minions configured the same way at salt version 2019.2.3, so I suspect that this error is being triggered due to the master being at 2019.2.3 and the minion running 3000.

    The minion function caused an exception: Traceback (most recent call last):
      F

[2020-02-27 23:10] kveroneau commented on #56177
I think my error is related #56266 , but my issue is about something else.  I also don't think I'll be upgrading any of my salt machines until this is resolved, as provisioning MySQL is something I use salt for, so staying on 2019.2.3 is a requirement until this is resolved.  Any ETA on when we can expect 3000.1 to be generally available?

[2020-02-27 23:20] waynew commented on #55084
2019.2.3 is in CVE only now. If this is still a problem in v3000 then we can re-open it.

[2020-02-27 23:21] nijotz commented on #55084
I'm experiencing the problem with v3000. And that homebrew recipe that I linked is for v3000.

[2020-02-27 23:23] willjp commented on #56238
Thanks very much! :) That would fix it for me.

[2020-02-28 00:16] dtmateojr commented on #56067
I don't think you fully understand my concern here. Using salt-cp is very slow and clunky.
Think of when you need to modify a few lines in a file or even a single character because of a typo. You do not want salt-cp for that. The most logical thing to do is to **_cmd.run 'sed 's/foo/bar/g'_** across all affected minions. Now if the change happens to be more complicated, I do not want my brain to e

[2020-02-28 07:07] saurabhnemade opened #56268 "How to pipe bash output to package name?"
We are trying to run `yum install kernel-devel-$(uname -r)` via salt state file.
We tried following but it does not resolve the `uname -r` at runtime. Instead it takes its value as it.

[code]

How can we handle it correctly in state file?

[2020-02-28 07:22] ismail0352 commented on #56268
Try this to fetch `grains.get kernelrelease`

[2020-02-28 08:44] jyriatntt commented on #52981
@waynew Hmm, what was the incantation you used with curl? As you can see from my test I got an answer with v1.0 using your sample script and modifications to the code.

[2020-02-28 10:12] sabtom opened #56269 "tomcat module fails on python3"
### Description of Issue
When using the tomcat module of salt, it does a call to the localhost tomcat manager via urlopen.
This call gives back byte encoded strings, on a few places in this module this is not accounted for and since python3 does a bit more stricter version checking it fails.

### Setup
Relevant part of sls:
[code]

### Steps to Reproduce Issue
We used this repo to install the salt

[2020-02-28 11:34] McPcholkin opened #56271 "file.line state not correctly escape "<" character in "content" variable."
### Description of Issue
file.line state not correctly escape **"<"** character in "content" variable.

### Setup
I try write state to:
insert line "**<script src="jdhooks.js"></script>**"
in HTML file BEFORE  line "**<script src="bundle.js"></script>**"
[code]

### Steps to Reproduce Issue
/opt/vivaldi/resources/vivaldi/browser.html
[code]
test.sls
[code]

[code]

### Versions Report Master
Salt

[2020-02-28 14:23] waynew commented on #56067
I don't think any of Erik's solutions required regex or salt-cp? They just take advantage of using Salt to do your homegrown solution.

Another alternative would be to bypass Salt's CLI parsing and import salt in your own code.

[2020-02-28 15:48] twangboy commented on #44618
This policy can be set in the following manner:
[code]
However, setting specific policy seems to break parts of Salt. For example, `lgpo.get machine` will no longer work. To revert this policy, use the following:
[code]

[2020-02-28 15:57] terminalmage commented on #56067
I don't think you understood my suggestion. `salt-cp` just copies files. Assuming you have the patch file on your master, you would only be using `salt-cp` to get that patch to the minion, instead of `file.write` (which was not designed to be used in the way you were using it). You invoke `salt-cp` in a similar way as `salt`, even using the same targeting system as `salt`. It even works in almost

[2020-02-28 17:40] twangboy commented on #44618
Using full policy names should be fixed with this: https://github.com/saltstack/salt/pull/56272

[2020-02-28 18:03] terminalmage commented on #40801
This needs to be reopened. I can confirm the same behavior when running the app via uwsgi, only we are using nginx to serve up the app. When running with a single worker process, sessions behave normally. When running with more than one worker (e.g. `processes = 20` in the wsgi config file), that token must be used within 10 seconds or it will result in a 401.

I'm working on getting a pre-configu

[2020-02-28 18:26] Oloremo opened #56273 "Salt minion sometime return empty ret dict and it fails if failhard set to True"
### Description of Issue
So Salt has this logic for batch execution: https://github.com/saltstack/salt/blob/master/salt/cli/batch.py#L246-L259

I have an orchestration, with batch and `failhard` set to `True` and sometimes get this exception:
[code]

So I dig in and printed the `minion` and `data` variables from this logic during error and the problem was that for one minion data is `{'ret': {}}`.

[2020-02-28 18:43] dtmateojr commented on #56067
I fully understand your very inefficient suggestion. So if you have hundreds of servers with a dozen different ways of brokenness, are you telling me that I will get a dozen different file samples, create a dozen different patches, copy them to the server, salt-cp them to the minions and patch and expect to remember which of the dozen different permutations go with which minions?

I have already p

[2020-02-28 19:07] Oloremo commented on #56273
After some discussion in Slack there was an idea that it could be a race condition in https://github.com/saltstack/salt/blob/master/salt/client/__init__.py#L1100

[2020-02-28 19:12] Oloremo commented on #56273
So I guess this particular error could be fixed by something like:
[code]

[2020-02-28 20:06] terminalmage commented on #56067
Maybe?

I don't know man, you've still given me zero insight into how you generate the patches. Literally all you've shared is that you are calling `file.write`, and passing a patch. Maybe if you weren't being so evasive, you'd be getting better help. :man_shrugging:

A few python shell commands != source code

If you're doing this all via Python, shelling out to `salt` using `subprocess.Popen()`,

[2020-02-28 20:18] dafyddj commented on #56257
Have you tried extending the timeout e.g. `salt -t 30 minion win_wua.list`?

[2020-02-28 20:21] #55710 closed

[2020-02-28 20:35] dafyddj opened #56275 "[3000][windows]: win_network.py traceback after OpenVPN install"
### Description of Issue

After installation of OpenVPN and TAP Adapter network interface, Salt fails with traceback while generating grains due to missing `enum_adapter_types` key `53`.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Install [OpenVPN](https://openvpn.net/community-downloads/) 2.4.8 (or possibly any version)

### Steps to Reproduce

[2020-02-28 20:40] knine commented on #33921
I ran into this one again today. Just keeping it on the radar.

[2020-02-28 20:52] rossengeorgiev commented on #55967
Hmm. I thought I had replied to this one, wierd. I would expect that `wait_for` would be the maximum time this state ever waits for. In the above condition, it will just send one request, and yield. It won't actually loop and wait another 100s.

The other option is to limit ourselves to low values for `request_interval`.

[2020-02-28 20:56] network-shark commented on #14613
Wasted a lot of time , until I found this bug... . please fix this ! I can't imagine  nobody cares.

[2020-02-28 21:13] waynew commented on #55579
@twangboy was that version actually released or is it only used for https://app.vagrantup.com/saltstack/boxes/cicd-winserver2012r2/versions/1.1.395221829 & the like?

[2020-02-28 21:36] waynew commented on #6922
@cr1st1p I'm going to go ahead and close this for now - if this error is still happening with Salt v3000 please let me know and I'll re-open.

[2020-02-28 21:36] #6922 closed

[2020-02-28 21:40] waynew commented on #55175
The build is gone and I don't have any way to further dig into this - doesn't appear to still be an issue?

[2020-02-28 21:40] #55175 closed

[2020-02-28 21:43] muddman opened #56276 "salt.modules.chocolatey.bootstrap fails because they removed support for old tls versions"
### Description of Issue
The Chocolatey website [removed support for TLS 1.0 and TLS 1.1](https://chocolatey.org/blog/remove-support-for-old-tls-versions) on 3 February 2020.

As a result [salt.modules.chocolatey.bootstrap](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.chocolatey.html#salt.modules.chocolatey.bootstrap) fails with the following error:

**Bootstrapping Chocolatey

[2020-02-28 21:49] waynew commented on #6237
@sagetherage this is the ticket for the buggy behavior and #55550 is the ticket to enhance the documentation/error messaging.

[2020-02-28 21:56] mchugh19 commented on #55740
I'm not a salt developer and not familiar with that area of the code, but my understanding is that `__context__` is retained for the running minion session. So it should be the place to retain your cache data.

@waynew can this get a question label to get eyes on it, and calm down stalebot?

[2020-02-28 22:19] viniezaboi commented on #55231
Hi guys,
I'm here with a simple(r) solution in case anyone else will stumble upon this issue in the future.

Long story short, there two things we should pay attention to when installing pygit2 through pip3:
1. the version of pygit2
2. the path to which to install pygit2

The latest version of pygit2 that salt can use is 0.28 (at least it used to be a couple of months ago)
pip3 will usually attemp

[2020-02-28 22:41] waynew commented on #52981
`curl -XGET --insecure -i --tlsv1.0 -v https://localhost:8080` produced the above output.

I believe I was using `curl -k -v --ciphers NULL-MD5 https://localhost:8080`, given my shell history.

Looks like I probably got that from http://openssl.cs.utah.edu/docs/apps/ciphers.html#tls_v1_0_cipher_suites_

[2020-02-28 22:43] waynew commented on #52981
Looking further, the cipher reported in my `curl -v` was absolutely listed in TLS 1.2, not TLS 1.0

[2020-02-28 22:46] knine commented on #55771
I just run into this issue as well, but for setting a recursive group with children_only: True

[code]
And after applying it, test=True gets:
[code]
Salt Version:
           Salt: 2019.2.3

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed

[2020-02-28 22:55] waynew commented on #55740
@mchugh19 IIRC it's not around for the whole minion lifetime, just for the entire call - like `state.highstate` the minion would get a `__context__` at the start that stays around until the highstate has completed. It wouldn't be around between two separate calls to minions.

That is, if I understand correctly 😂

[2020-02-28 23:52] raddessi commented on #53619
I'm having this same issue right now in EOS, not even passing `test: True` to the state itself is being respected.

[2020-02-29 00:17] dtmateojr commented on #56067
I said in my previous reply to have a look at my **shalt** project. I only have three projects here in github. https://github.com/dtmateojr/shalt

[2020-02-29 04:40] dafyddj commented on #56275
See #56196

[2020-02-29 05:21] #55930 closed

[2020-02-29 05:21] terminalmage commented on #40801
OK, it turns out that I was wrong about the 10 seconds thing, sometimes even when running the login in fewer than 10 seconds it still failed. After further testing I found that repeated API calls would produce a mixture of 401 errors and successful jobs. This tracks with what @whiteinge talked about [here](https://github.com/saltstack/salt/issues/40801#issuecomment-298367504) with regard to sessio

[2020-02-29 11:20] kiemlicz commented on #55740
Communication with minion is a one thing, surely related.
For me the issue is more about: `apply_sdb` (`salt.config.apply_sdb`) evaluated on the master side during config load upon any module execution (which doesn't retain the `__context__`)

[2020-02-29 11:31] baby-gnu commented on #14613
Hello @network-shark

I really care about this but I haven't the skills to implement #51192 which looks to me a dependency for this feature. When it will be done, I can redo my #49140 PR.

Thanks for keeping this issue alive.

Regards.

[2020-03-01 06:29] hemantaltair commented on #41174
Hi, {{ grains['host'] }}  is not giving hostname instead giving IP address in xx-xx-xx-xx format.

[2020-03-01 06:30] hemantaltair opened #56277 "{{ grains['host'] }} is not giving hostname instead giving IP address in xx-xx-xx-xx format."
Salt Version:
           Salt: 2019.2.3

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: 2.6.1
      docker-py: Not Installed
          gitdb: 2.0.3
      gitpython: 2.1.8
          ioflo: Not Installed
         Jinja2: 2.10
        libgit2: Not Installed
        libnacl: Not Installed
       M2Crypto: Not Installed
           Mako: 1.0.7
   msgp

[2020-03-01 06:30] hemantaltair commented on #56277
Ideally it shoud give hostname but not giving

[2020-03-01 08:05] max-arnold commented on #55925
@ssoto2 I recently wrote a blog post on this exact topic: https://salt.tips/upgrading-salt-to-python-3/

[2020-03-01 10:04] rico256-cn commented on #44768
The problem is spoiled me ,so  I add following code to resolve the problem. @shangxdy  @kiemlicz
 os.remove(self.opts['pki_dir'] + "/minion_master.pub")

at location:
/usr/lib/python3.6/site-packages/salt/crypt.py
"The master key has changed, the salt master could have been subverted, verify salt master's public key"

[2020-03-01 10:05] rico256-cn commented on #44768
I wish saltstack add an option  to support auto delete the minion_master.pub file.

[2020-03-01 11:59] #55608 closed

[2020-03-01 12:17] max-arnold commented on #53504
See also: #43130 #50348

[2020-03-01 17:59] #55554 closed

[2020-03-02 06:49] enwony opened #56279 "International symbols in computer name on windows cause minion to fail on start"
### Description of Issue
Minons fail to start if computer name set to non-english characters.
Old version  2015.8.3 is working with that, 2018.3.4 and 3000 is not.
No matter python 2.7/3.0

### Setup
tried windows 7 x64, windows 10 x64
tried saltstack minion 2018.3.4, 3000
tried both versions python2.7 and python3

### Steps to Reproduce Issue
* Set computer name on windows as "Компьютер" or any n

[2020-03-02 11:44] zmeggyesi commented on #52491
I seem to be running into this on v3000 (or something that presents identical to this one): after about an hour or so "idling", the minion stops responding until the Salt daemon is restarted via SystemD. It still responds to local commands, logs show no abnormality even at the debug level, and it responds to connections just fine (it's running an HTTP server), which makes me think it's not a netwo

[2020-03-02 14:21] terryburton commented on #34410
Re-open please. The issue is outstanding and would be useful.

Recent case was a salt cluster where each node (including the master) has a routed, public address and a private cluster address on a dedicated management network. Custom, vendor-provided kernel with no iptables support.

[2020-03-02 15:48] Ch3LL commented on #49586
interesting. i thought this was specific to pygit2. Can you share a sanitized version of your configurations? i'll try to replicate

[2020-03-02 16:03] Ch3LL commented on #55849
ping @pycode122 any luck setting up azurearm?

[2020-03-02 18:42] eedgar opened #56284 "salt-cloud should allow use of aws_profile instead of AWS_ID's"
### Description of Issue
We use lots of aws accounts and rotate the keys regularly.  We need to use the keys configured in the .aws/credentials file and refer to the AWS_PROFILE.

### Setup
normal salt-cloud config but instead of using AWS_ID and AWS_SECRET use AWS_PROFILE
eg AWS_PROFILE=ProductionAccount

where the .aws/credentials contains something like
[ProductionAccount]
aws_access_key_id = <

[2020-03-02 20:21] golmaal opened #56287 "The selinux.fcontext_policy_present fails with exception in Salt 3000 on Centos 8 with policycoreutils v2.9-3"
### Description of Issue
I get an exception as following when applying the policy (created with name=/var/www/html/repo/(.*)? and sel_type=httpd_sys_content_t) as following:

[code]

I tracked it down to my policycoreutils RPM policycoreutils-2.9-3.el8_1.1.x86_64.
The command run by /usr/lib/python3.6/site-packages/salt/modules/selinux.py (https://github.com/saltstack/salt/blob/9adc2214c3bb7c68f82

[2020-03-02 22:01] garethgreenaway commented on #56277
@hemantaltair Thanks for the report.  I haven't been able to reproduce this.  On the minion in question  are you able to do simple things such as looking up the hostname using ping?

[2020-03-02 22:02] garethgreenaway commented on #56279
@twangboy FYI.

[2020-03-02 22:16] kkraj commented on #22654
@moxxbiales , What was the issue; I am facing same issue, not able to figure it out. Thanks

[2020-03-02 23:11] garethgreenaway commented on #56276
@saltstack/team-windows FYI.

[2020-03-03 01:28] lorengordon opened #56288 "win_lgpo: `lgpo.set` with secedit policy always generates `KeyError: u'lgpo.secedit_data'`"
### Description of Issue

Running the `lgpo.set` execution module with a secedit policy always generates an error: `KeyError: u'lgpo.secedit_data'`.

This happens because `set` calls [_write_secedit_data()](https://github.com/saltstack/salt/blob/9adc2214c3bb7c68f820f7bd5fe5e132b7b3fbc9/salt/modules/win_lgpo.py#L5529) which attempts to pop `lgpo.secedit_data` off the `__context__`, but `set` never

[2020-03-03 01:37] raddessi opened #56289 "test=True is not being respected in netconfig.managed state, seemlingly at random"
### Description of Issue
I have a single netconfig.managed state that is not respecting the test=True argument when passed in via the salt master in a state.apply command. This is also not 100% consistent, I have seen it be respected 3 times in a row then not the next time.

Just for clarity this is tested using the test=True command line arg in addition to and in different combinations with the a

[2020-03-03 01:48] garethgreenaway commented on #56271
@McPcholkin Thanks for the report.  It looks like this is also failing if you run the file.line execution module with the above data.  We'll investigate and get this fixed.

[2020-03-03 01:49] garethgreenaway commented on #56288
@twangboy Is this a known issue?

[2020-03-03 01:51] garethgreenaway commented on #56287
@golmaal Thanks for the report.  Looks like the output from the `restorecon` command has changed and we need to detect and handle the new output in the module.

[2020-03-03 01:51] garethgreenaway commented on #56284
@eedgar Thanks for the report.  Approving this for a future feature request.
@saltstack/team-cloud FYI.

[2020-03-03 01:54] lorengordon commented on #56288
I searched but found no other mentions...

[2020-03-03 02:01] garethgreenaway commented on #56268
@saurabhnemade There are a couple approaches to accomplish what you're trying to do.  You can use @ismail0352 's suggestion and pull the information from grains:
[code]

If you need to include the output from a command you can call the cmd.run module from the state file:
[code]

[2020-03-03 05:32] garethgreenaway commented on #56260
@deva-ai Thanks for the report.  Can you provide the output from salt --versions-report.

[2020-03-03 05:52] garethgreenaway commented on #56266
@kveroneau Thanks for the report.  By default the bootstrap script will try to install the latest available version, but you can specify additional arguments that will allow it to install specific versions, https://ansible-cn.readthedocs.io/en/latest/topics/tutorials/salt_bootstrap.html, and include those arguments in the Salt cloud configuraiton, https://docs.saltstack.com/en/latest/topics/cloud/

[2020-03-03 06:25] vikramhansawat opened #56292 "salt.exceptions.SaltClientError in pipenv virtual env"
### Description of Issue
Gets the following error while try to create salt.client.Caller object inside pipenv. The same object creation works pretty well outside of pipenv venv.

### Steps to Reproduce Issue
vikky@vikky:~/blueprints$ pip install pipenv==2018.11.26
vikky@vikky:~/blueprints$ pipenv shell
Launching subshell in virtual environment...
 . /home/vikky/.local/share/virtualenvs/blueprints-

[2020-03-03 12:12] Timizki opened #56294 "Ability to change existing network adapters MAC-address through salt-cloud profile or map"
When cloning new virtual machine from template that have an network adapter configured for it, it is impossible at the moment change the network adapters MAC-address. There should be atleast some force flag that could make overriding the mac possible.

### Setup
Salt-cloud provider driver: vmware

CentOs Linux virtual machine Template in VMWare Vsphere which has a network adapter named ie. Network

[2020-03-03 12:51] shortstack commented on #56216
bump :(

[2020-03-03 14:19] xiaohuazi123 opened #56296 "salt-minion fails startup on Windows Server 2012R2"
### Description of Issue

salt-minion fails startup on Windows Server 2012R2，due to api-ms-win-crt-runtime-l1-1-0.dll is missing
![QQ截图20200303214632](https://user-images.githubusercontent.com/45115671/75782322-b8cc5600-5d99-11ea-94dc-f86029d76227.jpg)

### Setup
Nothing modified after installing the Salt-Minion-3000-Py3-AMD64-Setup.exe on Windows Server 2012R2
Basic setup, with default configurat

[2020-03-03 15:56] terminalmage commented on #40801
I just updated the tool I created to launch the docker image, and I've edited the URL for it in my earlier comment. The prior revision of the script assumed that your user is a member of the group-owner of the docker socket (i.e. that you can run docker commands without sudo). It now detects this beforehand and will automagically prefix docker commands with sudo if needed.

[2020-03-03 15:58] kuznetsov420 commented on #55377
Same problem here with using `etcd` as `ext_pillar`. Looks like that `etcd_util` uses `python-etcd` which doesn't support etcd v3 API.

[2020-03-03 16:39] raddessi commented on #56289
Just FYI this was created from an initial discussion at https://networktocode.slack.com/archives/C0NL8RRMX/p1582929899023200

[2020-03-03 17:24] SecureshellV2 commented on #55241
Thank you for the update, I have tested this and it still has the issue. The problem seems to be with using Suse Manager and/or the Open source upstream Uyuni project.

So this is what I have done so far. I set up a brand new Uyuni and minion all on the latest versions of the software. I added the beacon config and it threw an error that I expected:

[salt.beacons     :130 ][WARNING ][15681] Unabl

[2020-03-03 17:32] luishmg opened #56297 "Problem of the fun variable being overwritten"
### Description of Issue
Problem of automatic overwritting the set variable value, when using reactor to post an event on a queue.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
reactor.conf
[code]
schedule_queue.sls
[code]

### Steps to Reproduce Issue
1. Configure schedule_queue.sls on reactors folder
2. Configure the reactor.conf
3. Trigger the

[2020-03-03 17:55] raddessi commented on #56289
https://github.com/saltstack/salt/issues/53619 may also be related?

[2020-03-03 17:55] kveroneau commented on #56266
@garethgreenaway Thank you for pointing that out.  I was actually searching if I could set the salt-minion version which is installed by salt-cloud, but originally had problems trying to figure out how to set the version.  I think this link should be useful.  I will try an orchestration of a server today in our AWS environment and see if my original issues with MySQL as mentioned in my issue persi

[2020-03-03 19:53] garethgreenaway commented on #56296
@twangboy FYI.

[2020-03-04 03:51] garethgreenaway commented on #56288
@lorengordon Thanks for the PR with tests!

[2020-03-04 04:28] garethgreenaway commented on #56294
@Timizki Thanks for the report.  Approving this as a future feature request.

[2020-03-04 06:12] SDedik commented on #56200
I should probably add that minion runs on Windows
[code]
autosign_grains used in the process is `windowsdomain`.

[2020-03-04 06:28] SDedik opened #56301 "Scheduled highstate on Windows: Unhandled exception running state.highstate"
### Description of Issue
I have Windows minion which needs to apply state.highstate automatically on a regular interval. For that I schedule a job using pillar. Job execution fails with following exception:
`Get-Content -Path C:\salt\var\log\salt\minion`

Traceback (most recent call last):
  File "c:\salt\bin\lib\site-packages\salt-3000-py3.5.egg\salt\utils\schedule.py", line 769, in handle_func

[2020-03-04 09:17] chen-j-y opened #56302 "salt-minion starts up many subporcess"
### Description of Issue
I recieved a CPU overload alert, and find out that my minion server is running hundreds of salt-minion. They were started up by main process of salt-minion service at different time. And the subprocess still exist even i kill the main process.

I have no idea why it happeds. In other minion server, only one salt-minion process is found. How can I avoid it happends again ?

[2020-03-04 13:22] DagW opened #56304 "boto (2) modules have no support for new regions"
### Description of Issue

Trying to use `salt-call boto_cfn.exists mystack region=eu-north-1`
and getting response
`Passed invalid arguments: Region "eu-north-1" is not valid..`

[code]
It seems like boto2, and subsequently all (?) modules depending on this dont have support for any new AWS regions.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

[2020-03-04 13:36] DagW commented on #56304
It seems like boto2 is no longer being updated with new service and region endpoints.
I patched the file `/usr/local/lib/python3.6/site-packages/boto/endpoints.json` to make it work for now.
[code]

Maybe its time for modules to be migrated to boto3?

[2020-03-04 13:42] kkoppel opened #56305 "SaltSSH with ssh_ext_alternatives broken in v3000"
### Description of Issue
After upgrading to SaltStack v3000 I am no longer able to manage a python2.7-based node via SaltSSH from my python3-based master. This worked with SaltStack v2019.2.3.

### Setup
I’m running the Salt master on Debian buster, installed using packages from repo.saltstack.com. I need to also manage a single node via SaltSSH and this node only has python2.7 available. So, I’ve

[2020-03-04 13:49] garethgreenaway commented on #56302
@jingyuan-c Thanks for the report.  @saltstack/team-core Has anyone seen anything like this before?

[2020-03-04 13:52] garethgreenaway commented on #56292
@saltstack/team-core Any thoughts on this one?

[2020-03-04 14:49] baby-gnu commented on #46891
I have the same issue with [my salt-ssh configuration](https://gist.github.com/baby-gnu/8a198629161fe8fc60bd2b33a8321012).

I must remove the `thin_dir` from my roster, it's working with `/var/tmp/` but fails with the following error:

[code]

Looking in the issues, I found some related issues #55971, #55825 and #53664.

I do not understand the logic, I added some debug log in [fileclient.py](http

[2020-03-04 15:57] david-ecc commented on #55265
not stale

[2020-03-04 16:38] garethgreenaway commented on #56304
@DagW Thanks for the report.  It would be good to get these modules updated to using the boto3 libraries.
@saltstack/team-core FYI.

[2020-03-04 16:55] edeefelt commented on #56063
Is there a workaround for this in the mean time?

[2020-03-04 19:01] Will-Shanks opened #56307 "Reactor events not reliably being recieved by minions"
### Description of Issue
On 'minion_start' events the master is configured to highstate the new new minion, but the minion does not always receive this message. Looking at the master log it always sends this event, but when more than one minion_start event happens in quick succession, generally only one minion receives the highstate command. If only one minion_start event happens, it appears to al

[2020-03-04 19:17] dwoz commented on #56119
The change needs to be reverted and go through a proper deprecation path.

[2020-03-04 19:17] Ch3LL opened #56309 "lint tests are failing on master (django_return.py)"
https://jenkinsci.saltstack.com/job/pr-lint/job/master/

`00:33:30  salt/returners/django_return.py:42: [E0611(no-name-in-module), ] No name 'dispatch' in module 'django'`

Started failing on `Feb 25, 2020 5:12 AM `

[2020-03-04 20:15] evenyougreg commented on #55591
Yup, this worked! Hazaa!

Thanks @garethgreenaway

[2020-03-04 23:57] max-arnold commented on #56301
I believe this is duplicate of https://github.com/saltstack/salt/issues/53502

[2020-03-05 00:06] doesitblend commented on #50624
ZD-4685

[2020-03-05 01:12] garethgreenaway commented on #56307
@Will-Shanks Thanks for the report.  Unfortunately we do not support the version 2015.5.10, the oldest release that we're currently supporting for bug fixes is 2019.2.x.  Are you able to upgrade to a newer release such as 2019.2.3 or the recently released 3000?

[2020-03-05 01:18] Will-Shanks commented on #56307
I will try updating and see if that fixes it. The only reason I've been using such an old version is that it is in epel, but it appears that convenience comes at a cost.

[2020-03-05 01:20] garethgreenaway commented on #56273
@Oloremo Thanks for the report.  Have you been able to test the 3000 release to see if this particular bug is happening there as well?  The fact that it is only happening sporadically will make it difficult to reproduce.

[2020-03-05 01:32] Oloremo commented on #56273
Yes, it's hard to reproduce.

First of all, there are 2 different problems:
1) Some kind of race in Salt minion return gather logic, we kinda assume it didn't fetch the last batch of returns sometimes(race). Can't confirm it yet.
2) While 1) happens this logic in batch.py can't handle it properly and raise that exception.

I'm trying to find a reproducible scenario for this issue, right now I can

[2020-03-05 01:33] garethgreenaway commented on #56297
@luishmg Thanks for the report.  I was able to reproduce this.  We'll get this fixed up.

[2020-03-05 01:48] garethgreenaway commented on #56297
@luishmg Upon further investigation I'm confused by what the expectation for this is.  The queue in this case is `iptables_exceeded` and the function is `runner.queue.insert_runner`, which is the value of the runner function being called.  I'm not sure how `iptables_exceeded` would end up as the function in this scenario.

[2020-03-05 01:50] garethgreenaway commented on #56305
@Ch3LL Any ideas on this one?

[2020-03-05 01:56] garethgreenaway commented on #56301
@max-arnold Thanks.  Does appear to be a duplicate, closing this one out in favor of the other one.

[2020-03-05 01:56] #56301 closed

[2020-03-05 03:18] jingyuan-c commented on #56302
@garethgreenaway, thanks for replying.  I am afraid that is hard to update, for we have thousands of minion servers in production. I don't know what will happen if I update them all. Is syndic  supporting between different versions of master? Maybe I can take a grey update using syndic?

However, I hope I can solve this problem without updating. :joy:

[2020-03-05 06:13] SDedik commented on #53502
May I please kindly ask what is the status of the issue?
Because I posted bug report #56301 on the same problem and it was closed in favor of this one, but seeing how this one has "High Severity" label, "P2 (The issue will be seen by most users)" label, has been in this state for half a year already and no progress has been done on it staggers me a bit.
I mean no disrespect, but this issue is game

[2020-03-05 06:14] #43205 closed

[2020-03-05 07:40] max-arnold commented on #50348
For `salt-ssh` the trick is to use the following config option:

[code]

The same can be done in a roster file through the `minion_opts` option:

[code]

[2020-03-05 08:14] max-arnold commented on #56301
@garethgreenaway Any estimations for a fix?

[2020-03-05 08:38] johncollaros commented on #49360
partition.get_id and partition.set_id both seem broken

root@MASTER:~# salt -C "$(printf '%s ' ${salt_filter[@]})" partition.set_id /dev/sdb 1 83
HOST1:
    ERROR: Invalid system_id passed to partition.set_id
HOST2:
    ERROR: Invalid system_id passed to partition.set_id
ERROR: Minions returned with non-zero exit code
root@MASTER:~# salt -C "$(printf '%s ' ${salt_filter[@]})" partition.get_id /dev

[2020-03-05 10:14] vlameiras commented on #56178
I did try with the sample proxy code as well and I got the same issues. Meanwhile I rolled a fresh installation of Salt on a VM and it's working !

[2020-03-05 14:05] asmialoski commented on #53502
This issue is game breaking for me too.

[2020-03-05 15:40] LeeWong commented on #2454
Any update?

[2020-03-05 16:20] kiemlicz opened #56312 "Schedule run from utils concurrency issue"
### Description of Issue
Given Salt Master's `schedule` setup with **more than one** entry and default schedule settings, only one job executes

### Setup
Master config:
[code]

Example state Tree:
[code]

### Steps to Reproduce Issue
For aforementioned config, start the Salt Master and wait for ~ 1 minute.
Master logs:
[code]
Nothing about `o1_orch`
On the Minion side only `/tmp/o2` exists. After

[2020-03-05 17:50] garethgreenaway commented on #56312
@kiemlicz Thanks for the report.  I was able to reproduce this.  We'll get it fixed.

[2020-03-05 19:12] cr1st1p opened #56313 "salt pip package is using wrong and super outdated crypto library"
### Description of Issue
I am working on Manjaro - Arch based Linux distribution.

I wanted to use salt-lint, which unfortunately, asks for salt being installed through python packaging (pip3)

The problem is that the salt package depends on pycrypto, which is at version 2.6.1, which is said, on its home page to have been tested up to python 3.3, and on github, there is no commit since 2014 (!!)

[2020-03-05 19:14] kiemlicz commented on #44768
You remove the master key from minion, I know this will work
However I don't understand why this is designed in a way that doesn't allow to "change" (actually it's same master but only the keys have changed) the master

Maybe there are some security reasons for that, yet I would love this to be configurable

[2020-03-05 19:26] ryanmilne-digicert commented on #56118
Thanks, Ch3LL

[2020-03-05 21:06] garethgreenaway commented on #56313
@cr1st1p Thanks for the report.  Currently we do not support the 3.8 version of Python, we're hoping to add support for that in the Sodium release.

[2020-03-05 21:13] cr1st1p commented on #56313
Don't be fooled - python 3.8 is just a side note :-)
```time.clock```, from pycrypto, is deprecated, I think, since python 3.3

The problem, in my opinion, is with the wrong dependency on pycrypto instead of pycryptodome
Look again at how old and unmaintained pycrypto is.

[2020-03-05 21:14] luishmg commented on #56297
@garethgreenaway my bad runner.queue.insert_runner is being send instead of state.orchestrate, this is problably related of the fact that fun is used by salt system and the module runner.queue is using it, because quem i changed it on the module to function instead it worked.
What I'm trying to do is create a reactor to populate a runner queue

[2020-03-06 01:51] thusoy commented on #54179
I'm also seeing this on 2019.2.3. My problem is that
[code]
and
[code]
Doesn't work alongside a regular `state`: ` The conflicting ID is 'state' and is found in SLS 'base:state' and SLS 'base:state.'` (note the trailing dot).

[2020-03-06 07:53] erwindon opened #56315 "SALT-API has timeout on jobs.list_jobs and other RUNNER apis (but salt-run does not)"
### Description of Issue
When executing `jobs.list_jobs` using the salt-api, a timeout occurs.
But the regular commandline `salt-run jobs.list_jobs` works properly.
This happens also for other runner commands, like `test.arg`.
This happens since version 3000.
There are no additional warnings/errors in the logfile(s).
There seems to be a relation with the amount of jobs stored in the system. When t

[2020-03-06 09:27] jyriatntt commented on #52981
@waynew Yep;

# curl -v -i --insecure --tlsv1.0 https://127.0.0.1:8080
* Rebuilt URL to: https://127.0.0.1:8080/
*   Trying 127.0.0.1...
* TCP_NODELAY set
* Connected to 127.0.0.1 (127.0.0.1) port 8080 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* successfully set certificate verify locations:
*   CAfile: /etc/ssl/certs/ca-certificates.crt
  CApath: /etc/ssl/certs
* TLSv1.0 (OUT), TLS hands

[2020-03-06 09:38] 234d commented on #54449
Same issue here on `Amazon Linux 2` and `salt-minion 3000`.
Tired setting both `reload_modules` and `force_reinstall` to `True` without sucess.

[2020-03-06 11:00] hajdukd commented on #55486
@morph027 Is there a way to fail-fast in case any pillar is not available on the master ?

[2020-03-06 11:39] margau opened #56317 "file.append fails with "No text found to append." even if text is populated"
### Description of Issue
file.append-state fails with "No text found to append. Nothing appended", even if "text" is successfully filled.

Failure Message:
[code]

[code]

### Setup
common/root.sls:
[code]

pillar:
[code]

### Steps to Reproduce Issue

See above, `salt '(host)' state.apply`

### Versions Report
Minion:
[code]

Master:
[code]

[2020-03-06 12:32] viq commented on #56118
Looks like I was just bitten by this. Master running 3000, monitoring node running 3000, half a dozen on 3000 as well, about a dozen on 2019.2, a handful of older.
`states/icinga2/files/host.conf`:
[code]
results in
[code]

[2020-03-06 12:39] asmialoski commented on #37865
Please reopen.
Issue https://github.com/saltstack/salt/issues/53502 with Multiprocessing: False

[2020-03-06 12:43] viq commented on #56118
Mine data gotten using `salt-run cache.mine tgt="minion"` from minions running different versions doesn't look the same for me:
* From minion running `2019.2.0`:
[code]
* From minion running `3000`:
[code]

[2020-03-06 12:46] asmialoski commented on #43931
Please reopen.
I am facing this issue with SALT 3000 version (in SALT-MASTER and MINION with version 3000).

[2020-03-06 14:22] greut commented on #55695
@Ch3LL can we get an option to activate _binary_ (`rb`) mode for pillars as well? The same encoding error on `test=True` occurs when using the following example.

https://docs.saltstack.com/en/latest/topics/pillar/#binary-data-in-the-pillar

Cheers,

[2020-03-06 14:44] dmurphy18 commented on #53040
@tsaridas From what I understand (asked around) Salt does not do log rotation, that is dependent on the underlying OS and logrotate command for example.  However I am digging deeper on this since that seems strange that there would not be a config setting for that. Will let you know what I find.

[2020-03-06 15:11] dmurphy18 commented on #53040
@tsaridas  Shall add /var/log/salt/syndic to logrotate files, also noticed no api logs either.  This should be fixed soon in a release

[2020-03-06 15:17] margau commented on #38670
Hi,
it seems that this issue still persists in Salt 3000? Any updates on this?

Best regards
margau

[2020-03-06 15:19] JochemGit opened #56318 "Problem with zypperpkg.install and parameter "name" on openSUSE"
### Description of Issue
When using state function pkg.installed, a problem occurs, when the minion is "openSUSE Leap 15.1". With an Ubuntu minion it works. Problem is the parameter "name".

According to documentation [zypperpkg.install](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.zypperpkg.html#salt.modules.zypperpkg.install) parameter "name" is not required.

zypperpkg does

[2020-03-06 18:09] dsnopek opened #56319 "salt-cloud doesn't support linode v4 API (and it's now impossible to get v3 API keys)"
We were using salt-cloud to provision servers on Linode, and all was good, until our API key expired. :-(

It appears the old Linode API is still available and working (we have some valid API keys on our dev Linode account which appear to be working), but the old manager was decommissioned in January 2020, so you can't make new API keys for the old API:

https://www.linode.com/2019/11/18/notice-le

[2020-03-06 18:28] h3 commented on #54817
@Artanicus Yep... I confirm, I also have the same problem with 3000 :/

[2020-03-06 18:50] asmialoski opened #56320 "AttributeError: module 'salt.utils' has no attribute 'winapi' with state win_dns_client.dns_exists and schedule in Pillar"
### Description of Issue
I am using a state win_dns_client.dns_exists to setup DNS Servers in Network Interface of a Windows Server 2016. This state works perfectly when I run "salt '*' state.apply", but when I using a schedule through Pillar, the following error is reported:
[code]

### Setup
Schedule in Pillar:
[code]

State dns:
[code]

### Steps to Reproduce Issue
1. Create a state dns;
2. Cre

[2020-03-06 18:52] asmialoski commented on #56320
I have resolved it adding a line "import salt.utils.winapi" in the file c:\salt\bin\lib\site-packages\salt-3000-py3.5.egg\salt\modules\win_dns_client.py on the minion.

[2020-03-06 19:19] markuskramerIgitt commented on #53885
First test of Salt-Minion-2019.2.3-Py3-AMD64-Setup.exe showed no minion_start delay.

[2020-03-06 21:27] githubcdr commented on #56279
Ran into similar issue with pygit2 when I tried to copy a file with unicode from file_root;

[code]

file snippet

[code]

[2020-03-06 22:51] Will-Shanks commented on #56307
Updating to salt 3000 appears to have fixed the problem.

[2020-03-07 02:51] garethgreenaway commented on #56320
@twangboy FYI.

[2020-03-07 13:26] sundowner69 opened #56322 "Returner does not work in client batch mode"
### Description of Issue
While using the LocalClient with cmd_batch() I was wondering why I got no client returner output. It looks like there is a small issue in /usr/lib/python2.7/site-packages/salt/cli/batch.py in the class Batch, function run().
The function Batch.run() reads the returner option like this:
<code>
ret=self.opts.get('return', '')</code>  ( line 241 )
This works fine as long as y

[2020-03-07 13:48] erwindon commented on #56315
After a bit of testing, it seems that my /var/cache directory was a bit knackered. I was not even useable after a downgrade to 2019.2.2. So I just deleted the /var/cache directory and restarted everything. no more problems.

[2020-03-07 17:36] #54472 closed

[2020-03-07 21:43] kiemlicz opened #56324 "Cannot use Saltcheck module"
### Description of Issue
`saltcheck` module throws
[code]

I believe the bug is in `salt/modules/saltcheck.py:1136`:
[code]
[Obligatory meme, the friend of mine shown me some time ago](https://pbs.twimg.com/media/B20YoFiIIAAHCYf?format=jpg&name=small)

### Setup
For following [State Tree](https://github.com/kiemlicz/ambassador/tree/master/salt) I was trying to write saltcheck test by placing `salt

[2020-03-08 02:17] jkmcrg commented on #54821
Same issue. Anyone have a workaround that sidesteps the runas option in the mean time?

[2020-03-08 04:38] johnnybubonic commented on #51153
keep open; this problem still exists.

[2020-03-08 04:38] teran-mckinney commented on #54105
Not stale.

[2020-03-08 09:32] hvnsweeting opened #56326 "Latest Bootstrap stable broke on Debian Buster"
### Description of Issue
Run `sh -x bootstrap-salt.sh stable` failed.

### Setup
sh -x bootstrap-salt.sh stable

[code]

The link is broken
https://repo.saltstack.com/apt/debian/10/amd64/latest/SALTSTACK-GPG-KEY.pub/

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report

Latest

Seem specify python3 would fix it

[code]

[2020-03-08 11:00] mchugh19 commented on #56324
Hi @kiemlicz. Thanks for reporting. This should be corrected in #56327.

[2020-03-08 11:08] poofyteddy commented on #39420
Is there any way to get eyes on this ? Oo
because the fix add a function, there is no way to make it a simple module extension, and we need to edit the file by hand. This freeze update and is not sustainable.
Git pillar is broken, dangerous and we need this merged !

[2020-03-08 11:33] baby-gnu commented on #54310
I'm still interested by this feature.

[2020-03-08 11:37] Oloremo commented on #49301
not stale

[2020-03-08 13:02] OrangeDog commented on #54846
unstale

[2020-03-08 13:52] ellisbenjamin commented on #56319
Hey there,

I can provide a more thorough answer tomorrow, but you should be able to generate new apiv3 keys via the API, authenticating with user / pass

[code]

[2020-03-08 13:53] ellisbenjamin commented on #56319
I’m going to dig a little more and see what the deal is with these docs.. will have to talk to the docs team on Monday. If the above info isn’t public already it should be.

[2020-03-08 13:55] eliasp commented on #53513
This also affects the latest `2019.2` release (`2019.2.3`):
[code]

[code]

[2020-03-08 14:05] Oloremo commented on #46665
not stale. Event-based progress bar must be a thing

[2020-03-08 15:34] aarnaud commented on #52329
Sorry stale-bot, but this is still an issue

[2020-03-08 15:50] sblaisot commented on #52983
Not stalled, still confirmed.

[2020-03-08 17:49] garethgreenaway commented on #56326
@s0undt3ch FYI.

[2020-03-08 17:50] garethgreenaway commented on #56324
@mchugh19 Thanks!

[2020-03-08 17:51] slaws commented on #55032
Hello
Please remove the stale tag.

I ran into this problem again after upgrading to 3000.

Any chance to get this fixed for 3000.1 ?

[2020-03-08 17:56] slaws commented on #55297
Hello,

Any chance to see this issue fixed in 3000.1 ?

[2020-03-08 18:14] kiemlicz commented on #45521
not stale

[2020-03-08 18:36] jkmcrg commented on #54821
only on some commands ... for instance:
`salt DESKTOP-REL3EPD cmd.run "whoami" runas=kiosk`
`DESKTOP-REL3EPD:
    desktop-rel3epd\kiosk`

[2020-03-08 19:37] astronouth7303 commented on #48059
still not explained, afaik

[2020-03-08 20:03] s0undt3ch commented on #56326
The error should be more useful than what you saw.
We don't support Python 2 on Debian 10(Buster) only Python 3.

[2020-03-08 23:46] aarnaud commented on #46902
still present, title can be renamed because issue present also on debian and ubuntu

[2020-03-09 00:05] Oloremo commented on #56041
not stale

[2020-03-09 01:54] GwiYeong opened #56328 "mismatch function argument between cassandra_cql and cassandra_cql_return"
### Description of Issue
there is mismatch keyword argument between `cassandra_cql` and `cassandra_cql_return`

the function [cql_query_with_prepare](https://github.com/saltstack/salt/blob/master/salt/modules/cassandra_cql.py#L365) is defined like below

[code]

the first line of the function gets `async` param from `**kwargs`.

however the returner, `cassandra_cql_return` calls this function with

[2020-03-09 05:40] jerrykan commented on #48667
This wasn't stale 2 months ago, it still isn't stale now.

[2020-03-09 08:03] omegarus commented on #55357
Any suggestions ?

[2020-03-09 10:06] cr1st1p opened #56329 "Requisites 'onlyif'/'unless' ignored in some cases"
### Description of Issue
I have some states with 'unless' that are running **regardless** of the unless condition exit code.

### Setup
After lot of lost time, I deduced that the problem is that in some conditions, when a salt python exception is thrown, the onlyif/unless conditions are not evaluated anymore in **next** state entries.

I succeeded in reproducing with a smaller state:
[code]
When I

[2020-03-09 10:37] dosercz commented on #47870
Still problem for us, but it looks like nobody wants to work on it...

[2020-03-09 12:58] Anthony-Bible commented on #46152
Looks like this is still an issue in version 3000. As a work around I am able to use the MD5 hash but obviously that isn't  ideal

[2020-03-09 13:20] amendlik commented on #56078
@dmurphy18 Any update?

[2020-03-09 13:48] Ch3LL opened #56330 "test_issue_2594_non_invalidated_cache failing on multiple platforms"
### Description of Issue
This test `integration.states.test_virtualenv_mod.VirtualenvTest.test_issue_2594_non_invalidated_cache`

failed on multiple platforms. https://jenkinsci.saltstack.com/job/pr-fedora30-py3/job/master/621/

[code]

[2020-03-09 13:49] Ch3LL commented on #56233
@Akm0d is there a workaround for these failures? looks like more are failing now:

    integration.cloud.clouds.test_ec2.EC2Test.test_win2012r2_psexec
    integration.cloud.clouds.test_ec2.EC2Test.test_win2012r2_winrm
    integration.cloud.clouds.test_ec2.EC2Test.test_win2016_psexec
    integration.cloud.clouds.test_ec2.EC2Test.test_win2016_winrm

from here: https://jenkinsci.saltstack.com/job/pr-

[2020-03-09 14:05] Ch3LL commented on #56309
this one has been a bit tricky. this started failing after we did an update to the jenkins slave images. I can only replicate it when i loginto one of those VMs. Its not clear to me what update is causing this issue, but I can only see it fail when running pylint against the entire salt directory. If i try to run against the individual file or just the returners directory it does not fail. Django

[2020-03-09 14:34] Ch3LL commented on #55695
can you open a separate issue with a detailed use case? the fix might be different then here.

[2020-03-09 14:38] Ch3LL commented on #38670
bump @waynew see above ^

@margau looks like the PR was not merged yet but is labeled for sodium, but looks like it might not solve @jsaathof 's use case so pinging @waynew to get his comments here

[2020-03-09 14:43] Ch3LL commented on #55297
this is not currently slated for 3000.1 but we are willing to accept a PR if one is submitted with test coverage.

[2020-03-09 14:52] #55993 closed

[2020-03-09 15:00] baby-gnu commented on #51192
Just a ping to unstale this issue.

[2020-03-09 15:01] OrangeDog commented on #52308
unstale

[2020-03-09 15:01] OrangeDog commented on #51833
unstale

[2020-03-09 15:01] OrangeDog commented on #51830
unstale

[2020-03-09 15:01] OrangeDog commented on #51823
unstale

[2020-03-09 15:15] mchugh19 commented on #50186
Don't close until PR is merged

[2020-03-09 16:25] 11chrisadams11 commented on #56258
This is caused by a new output from the status call for newer versions of RabbitMQ. It is checking for a version number, and can't find it because the format has changed.
I have submitted this pull request (#56193) that will check both output versions for the version number. It has fixed the user errors, and allows changing passwords again.

[2020-03-09 17:14] dsnopek commented on #56319
Ok, thanks!

Is there a v3 client library that can be used to do this? Or a way with the linode-cli? The CLI app seems to want to have a key in advance to do anything. Or just like a curl command that I can substitute my username/password into?

[2020-03-09 17:17] #56195 closed

[2020-03-09 17:18] twangboy commented on #56198
I've assigned it to me... I've take a look

[2020-03-09 17:50] Ch3LL commented on #56007
this is tagged to be fixed for the sodium release. looking to work on it this week, when other 3000.1 release priorities do not come up.

[2020-03-09 18:11] garethgreenaway commented on #56322
@sundowner69 Thanks for the report.  This definitely seems like a bug. We'll get this one fixed.

[2020-03-09 18:23] cedwards opened #56332 "[FreeBSD] salt-call on 2019.2.0+ does not return shell prompt if using Python3"
### Description of Issue
After migrating to py37 on FreeBSD `salt-call` behaves strangely in that it does not return the shell prompt after the successful (or failed) application of the state. This does not affect py27 installations.

### Steps to Reproduce Issue
`pkg install py37-salt` on FreeBSD on use `salt-call state.apply foo`.

### Versions Report
[code]

[2020-03-09 18:36] Ch3LL commented on #56309
im going to just disable the pylint message here. this is an odd one and i cant quit figure out which package upgrade started to cause this failure.

[2020-03-09 18:48] twangboy commented on #56198
I have tried to reproduce this with the installer specified above. No files are left in `C:\`. They should be created in the user temp directory and that is where I see them get created. (`C:\Users\Administrator\AppData\Local\Temp`). A folder that begins with `nsu` and ends with `.tmp` gets created in the temp dir. It is removed when the installation ends.

[2020-03-09 18:55] garethgreenaway commented on #56318
@JoaquinVeira Thanks for the report.  It looks like this should be a pretty easy fix, we just need to gate that one line of code and only run it if `name` is a valid value.

[2020-03-09 19:12] dsnopek commented on #56319
For folks who find this later, there is a `curl` command-line to generate a new API v3 key on this Linode community post:

https://www.linode.com/community/questions/19555/how-do-i-update-an-expired-apiv3-token-now-that-the-classic-manager-has-reached#answer-71574

So, that should help folks continue to use salt-cloud before there is support for API v4.

[2020-03-09 19:27] breshead commented on #54821
My issue is on windows desktops (yuk) so I use psexec to work around it, although the runas felt much cleaner.
[code]

[2020-03-09 19:45] garethgreenaway commented on #56317
@margau Thanks for the report.  Unfortunately I haven't been able to reproduce this one.  It appears that you're only seeing it when attempting to append text to a file.

[2020-03-09 19:47] garethgreenaway commented on #56307
@Will-Shanks Great!  I'l go ahead and close this out then.

[2020-03-09 19:47] #56307 closed

[2020-03-09 19:55] margau commented on #56317
Hi,
yes, I'm only seeing this when i'm appending to an existing file. As mentioned above, it happens when appending to an already existing authorized_keys.

I investigated a little bit further:
I'm adding two lines (two SSH-Keys) to the existing file. If the file is (manually) deleted, it works.
One of both Keys was in the file before, but manipulating this line - even at the begin - didn't worked

[2020-03-09 19:59] reinaldo-gomes commented on #55657
I'm having the same issue on Salt version 3000

[2020-03-09 20:01] sathieu commented on #50294
Not stable.

[2020-03-09 20:15] garethgreenaway commented on #56266
@kveroneau Great!  We'll consider this one resolved and consider the other request as a feature request for Salt Cloud.  Thanks!

[2020-03-09 20:15] #56266 closed

[2020-03-09 20:15] garethgreenaway commented on #55591
@evenyougreg Great!  I'll go ahead and close this one.  Thanks!

[2020-03-09 20:15] #55591 closed

[2020-03-09 21:53] Reiner030 commented on #46021
And the bot is still very obstinate in closing wanted features... we should consider implement a ping-ping game on it...

[2020-03-09 22:03] RobHayes512 commented on #49586
I'm also having a problem that this thread seems to fit with. I've got the 3000 version of master/minion with Python 2. Master is RHEL7 and I'm only running against a single windows minion. Gitfs is running pygit2. I've changed a variety of configuration information on the master trying to help, but I've set everything back to a basic install, except the gits entries needed to make it work. Haven'

[2020-03-09 22:12] Reiner030 commented on #49586
I thinks this is the "git file handler equivalent" of my found bug:

Maybe you can test this by checking out / exporting the git repository instead URL / some "dummy" data in this folder to see if there are response time changes.

So far I remember I couldn't log even in debug mode that salt-master was scanning the whole folder structure (maybe I got this with lsof | grep /path/to/mountpoint) but

[2020-03-09 22:18] RobHayes512 commented on #49586
I've somewhat already done this. We added the entire Visual Studio Build Tools network layout (like 15 GB and no telling how many files) to the local filesystem on the master and didn't see any noticeable performance difference. And I'm the same way with the logs, even in trace I'm not seeing anything that gives me an idea of what's going on.

[2020-03-10 01:33] #56121 closed

[2020-03-10 01:34] #56118 closed

[2020-03-10 01:47] lsh-0 commented on #56238
fwiw, I'm seeing this in `2018.3` as well

[2020-03-10 02:57] max-arnold commented on #48486
Bump

[2020-03-10 04:03] #56170 closed

[2020-03-10 05:41] SDedik commented on #56198
Thank you for taking your time to look into it. This result was a bit of surprising for me and I did some more investigation. Apparently the issue manifests itself only if unattended installation mode is used:
[code]
![image](https://user-images.githubusercontent.com/20631290/76283170-f6a21080-62aa-11ea-96d6-638a2cd71bcb.png)

[2020-03-10 06:42] Reiner030 commented on #49586
In my case it was a gluster share filesystem I mounted into one subfolder so it seems to be commonly a non-local filesystem problem...

[2020-03-10 08:48] mhaswell commented on #44768
We have a similar method where we have an AWS autoscaling group of 1 master to create it if it dies (or we need a fresh version). We set the userdata build of the master to copy the master keys from /etc/salt/pki/master - the master.pem and master.pub into a secure S3 bucket if they don't exist there - and download them from there if they do (I have the bash if anyone wants it). We also have the m

[2020-03-10 09:01] mhaswell commented on #44768
Ahh - just found this to investigate: https://github.com/saltstack/salt/issues/44038#issuecomment-342761567

[2020-03-10 09:05] kiemlicz commented on #44768
Just want to clarify

I'm not very familiar with AWS, does that mean that you Salt Master instances always have the same keypair? (if so then you should not have problem)

By default Minions die if the connection to master(s) won't succeed.
You can change that (if the reason is key reject: https://docs.saltstack.com/en/latest/ref/configuration/minion.html#rejected-retry)
However I don't know if th

[2020-03-10 09:21] JochemGit commented on #56318
Thank you for your response!

One more hint. It works without 'name', when the call is without parameter 'version', too. But according to the documentation, this should not be like that either

[2020-03-10 09:30] mhaswell commented on #44768
Yes - we keep the same keypair - but the minions weren't reconnecting (also the master IP address is changing - but DNS would hopefully find it).

Actually it looks like the salt-minion process (2019.2.0 code) is just sitting there doing nothing. Maybe this is changed in later versions (we got badly bitten by the 2019.2.1 performance bug so we're very cautious now).

Looks like this might work in

[2020-03-10 12:25] saltpicker commented on #54021
Looks like salt-2019.2.2 fixed this issue.
Thank you.

[2020-03-10 13:14] alertedsnake commented on #10237
This looks decent so far, but I notice there's nothing in the documentation that allows for managing the keystore file permissions or ownership - can that be added as well?

[2020-03-10 13:30] terminalmage commented on #56119
That change should absolutely _not_ be reverted. It was a bugfix.

From the [documentation](https://docs.saltstack.com/en/latest/ref/states/vars.html#slspath):

[code]

"the path to the current SLS file". Not a directory.

[2020-03-10 13:31] Ch3LL commented on #56108
looks like these are bootstrapping tests now again. thanks @s0undt3ch :)

[2020-03-10 13:31] #56108 closed

[2020-03-10 13:31] #56309 closed

[2020-03-10 13:36] Ch3LL opened #56342 "integration.modules.test_pip failures on macosx"
### Description of Issue
These tests are failing on mac 10.13 and 10.12 python3:

[code]

i believe the failures are most likely related since these tests use virtualenv. one thing to note is setuptools just released a new 46 release that could possibly be impacting things. If you find they are not related we can break this out into multiple issues and assign out.

https://jenkinsci.saltstack.com/

[2020-03-10 13:37] dhs-rec commented on #56119
Yeah, but the point is: People are using this, now, in the way it was implemented, not the way it was documented. Changing the behaviour now, regardless of being a bugfix or a feature, breaks those people's code. Period.

[2020-03-10 13:41] Ch3LL commented on #56342
ping @garethgreenaway any chance you can take a look here?

[2020-03-10 14:09] jorisdejosselin opened #56343 "salt-cloud -a start not working for vmware cloud provider"
### Description of Issue
salt-cloud -a start does not seem to render the map file correctly when using the vmware cloud provider with the latest version. This results in no machines being targeted in the map file. curiously the salt-cloud -a stop does seem to work correctly. Which makes things tedious to start up again in vmware.

### Steps to Reproduce Issue
[code]
### Versions Report
Salt Versio

[2020-03-10 14:55] sagetherage commented on #55113
@waynew this ticket still needs to be triaged, can you look at it today, please?

[2020-03-10 15:05] OrangeDog commented on #56119
Moreover, the correct way to do it, `tpldir`, is still not documented at all: #50925

`slspath` should be fixed, but not as an undocumented breaking change. I wouldn't even object to it being fixed without a deprecation period, because everyone should've been using `tpldir` instead. But you have to actually document all of this.

[2020-03-10 15:08] terminalmage commented on #56119
Yeah, I agree. The correct move here is to build out the documentation, not to break `slspath` again.

[2020-03-10 15:12] terminalmage commented on #56119
@dhs-rec And some people are expecting `slspath` to work as documented. Before, `tpldir` and `slspath` did the same thing, and that's clearly not the intent. In addition, it deprives people of a means to get the path of the SLS file.

[2020-03-10 15:16] mhaswell commented on #44768
And it doesn't work (at least on version 2019.2.0). The minion does detect that it's gone now:

[code]

however it just posts that every 2 minutes and doesn't restart and pick up the new master.

[2020-03-10 15:47] waynew commented on #55113
Hi @blinkesto are you still having the problem?

Do you get any more information than this? Like a stack trace? It's not obvious from looking at the code where this would happen.

[2020-03-10 15:48] terminalmage commented on #56119
After looking at the code again, the bugfix didn't even restore the documented behavior, since the path to the SLS file has already at that point had its `.sls` removed (making it `foo/bar` instead of `foo/bar.sls` when `{{ slspath }}` is referenced within `salt://foo/bar.sls`).

Given that swing-and-miss on the bugfix, it's probably better to proceed with reverting in https://github.com/saltstack

[2020-03-10 15:52] haarp opened #56344 "salt-ssh: Failed to return clean data on some minions"
Hello,

### Description of issue

I'm using salt-ssh 2019.2.2 on Gentoo Linux with a Coffee Lake CPU and Debian8/9/10 minions with various Intel CPUs. All architectures are amd64.

On minions with older CPUs, such as Ivy Bridge, I've recently started encountering this problem:

[code]

On the minion I can see logs such as:

[code]

### Setup

I suspect that because my host system is Gentoo Linux,

[2020-03-10 16:00] OrangeDog commented on #56119
Perhaps GitHub should add 🤦 as a reaction option.

@terminalmage with what? Is "change should absolutely not be reverted" no longer your position? Perhaps you should edit or hide that comment for clarity.

In which case I think `slspath` should be deprecated and then fully removed, due to its misleading name. I would still prefer that `slspath` be actually fixed, with sufficient communication of t

[2020-03-10 16:13] terminalmage commented on #56119
These are all excellent points (especially the one regarding the proposed new reaction type :smile:), and I went back and edited my earlier comment.

[2020-03-10 16:19] OrangeDog commented on #56119
Another observation - `tpldir` as I understand supposed to work in all templates, not just .sls files. Would it be more confusing if `slsplath`/`slsfile` also did?

[2020-03-10 16:20] garethgreenaway commented on #55487
@praveenkulkarni22 Apologies for the delay.  I wasn't able to reproduce this one.  Can you provide an example of what the pillar data looks like?  Also are you able to upgrade to one of the later version of 2019.2 or the 3000 release to see if either of those resolves the issue for you?  Thanks!

[2020-03-10 16:26] max-arnold commented on #56119
FYI: I did some research on how various Jinja variables behave inside of `sls` and `map.jinja` files: https://github.com/saltstack/salt/issues/41195#issuecomment-577159561

[2020-03-10 16:59] Ch3LL commented on #56234
increasing the timeout level and will leave this open to investigate why the tests are taking longer to finish.

[2020-03-10 17:23] s0undt3ch commented on #56235
Hotfix in https://github.com/saltstack/sre-jenkins/pull/261

[2020-03-10 17:23] s0undt3ch commented on #56109
Hotfix in https://github.com/saltstack/sre-jenkins/pull/261

[2020-03-10 17:38] OrangeDog commented on #50925
Apparently there also exist `tpldot` and `tplfile`.

[2020-03-10 18:02] crosscodr opened #56347 "file.line state crashes if _onlyif_ statement is used"
### Description of Issue
A file.line state crashes if _onlyif_ statement is used:

2020-03-10 18:49:17,107 [salt.utils.process:767 ][ERROR   ][21232] An un-handled exception from the multiprocessing process 'ProcessPayload' was caught:
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/salt/utils/process.py", line 760, in wrapped_run_func
    return run_func()
  File "/usr/l

[2020-03-10 18:04] waynew opened #56348 "Salt orchestrate fails when no cloud providers are configured"
### Description of Issue

What it says on the tin

### Setup

[code]

### Steps to Reproduce Issue

[code]

This blows up with:

[code]

That's because https://github.com/saltstack/salt/blob/v3000/salt/cloud/__init__.py#L403 says `return False`, which is not the kind of output that's expected - that code in saltmod requires `out` to be a dictionary.

Looking at the way `saltmod` is structured, pro

[2020-03-10 18:37] garethgreenaway commented on #55486
Thanks everyone,  I was able to reproduce this.  Looks it broke somewhere in between the 2018.3 and 2019.2 releases.

[2020-03-10 18:58] terminalmage opened #56349 "Beacon events have trailing slashes in tag when other events typically do not"
See [here](https://github.com/saltstack/salt/blob/3e913631bbcdbf66ade98794e4e272565a297c0d/salt/beacons/__init__.py#L119) for the line where the tag is generated.

Almost every other tag in salt (well, really all I have seen, to be honest) contain no trailing slash. This is because most of the built-in events in Salt have their tag created using a common function, `salt.utils.event.tagify()`. But,

[2020-03-10 19:03] mitar commented on #43231
Unstale.

[2020-03-10 19:03] mitar commented on #44912
Unstale.

[2020-03-10 19:29] duckfez commented on #49586
@RobHayes512 sounds similar to some of my own issues in #55419.  I am not sure though that this is the same problem that @cavepopo has documented in THIS issue.  His seems different somehow and I don't have the skill to find the difference.

When you run a `state.apply` the minions all call back to the master to ask for a file list from the fileserver.  You can emulate this call exclusively on the

[2020-03-10 19:48] windowsrefund commented on #53414
Still seeing this on 3000-1. The GitPython work-around is less than ideal though since attributes like privkey and pubkey are not supported. This makes interacting with multiple repos a PITA since hackery would be needed to assign keys to fake URLs by way of ~/.ssh/config

Surprised this issue isn't getting any love

[2020-03-10 20:08] waynew commented on #56349
Well, that's been there for 5 years.

For consistencies' sake I'd love if they all used `tagify` or other unified mechanism for generating tags.

But unless this is actually causing an issue within salt I'd recommend leaving it.

I'd also say that it should depend on the semantics of what an event "is".

The example that I'm thinking of is files and directories on Linux:

[code]

In the case of a

[2020-03-10 20:15] windowsrefund commented on #53414
After testing the posted work-around (along with micro-managing my ~/.ssh/config in order to work with multiple repos), I'm not sure this is going to work with git_pillar. In fact, I'm seeing no evidence that it will

Why isn't pygit2 using the correct privkey when auth is attempted?

[2020-03-10 20:17] waynew commented on #56069
This looks like it's probably a bug. I discussed with @dwoz and we both feel that private keys should simply never be displayed (if known).

However, this is probably an isolated place - we should probably be doing something like filtering in our outputters for a variety of potential keys in dictionaries so they don't actually end out getting accidentally shown.

[2020-03-10 20:27] waynew commented on #56090
Hi @houtuo it looks like you've gotten something broken in your environment. The path says `python2.6` which hasn't been supported in some time. Not exactly sure what's happened, but at least at first glance this doesn't appear to be an issue with Salt. Also, your title says SUSE but your version report says `centos 7.4.1708 Core`.

I'm going to go ahead and close this for now, but if you can prod

[2020-03-10 20:27] #56090 closed

[2020-03-10 20:42] jkmcrg commented on #54821
@breshead Thank you so much, you've removed a blocker for me. Huge help.

[2020-03-10 23:30] dwoz commented on #56119
Another thing I noticed about this change is it made things in-consistent. With the change, running state with the `foo/init.sls` would return still return the directory where the `init.sls` is located `foo`. Running a state within a directory `foo/bat.sls` wougld return `foo/bat`.

When the change is reverted both of the above scenarios return `foo`.  Overall, I think the name `slspath` is very m

[2020-03-10 23:59] waynew commented on #56181
I haven't been able to reproduce this - could you put together a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example)?

[2020-03-11 03:38] timwsuqld commented on #39709
Not stale

[2020-03-11 05:31] SDedik commented on #56198
@twangboy Can you please confirm if you can reproduce the issue when launching installer with `/S` switch?

[2020-03-11 07:39] ZsBT commented on #54755
Just for the minutes, the issue affects version 3000 on CentOs7:
[code]
python2-pip and python3-pip is a workaround, however I'd really love to forget python2.

[2020-03-11 07:52] max-arnold commented on #56347
Duplicate of https://github.com/saltstack/salt/issues/56131

One possible workaround is to install `python3-pip`

[2020-03-11 09:40] brejoc commented on #54392
If Salt would be upgraded to version 3000, the tornado dependency would be gone, since it's vendored in `salt/ext` now.

[2020-03-11 10:20] brejoc commented on #46946
@Ch3LL I think this can be closed, since it's fixed in several releases now: v3000 v3000_docs v2019.8 v2019.2.3 v2019.2.3_docs v2019.2.2 v2019.2.2_docs v2019.2.1 v2019.2.0 v2019.2.0rc2 v2019.2.0rc1 v2019.2 v2018.11

[2020-03-11 10:25] brejoc commented on #55782
@babvin I think for SLES11 you can't use 2019.2.x and you need to stick to 2016.11.x or of course upgrade your SLES installation. But if you are still in support, you can also open an issue with the SUSE support engineers.

[2020-03-11 10:25] brejoc commented on #55782
PS: This should be close from my point of view.

[2020-03-11 13:23] Heiko-san commented on #42060
yes please reopen

[2020-03-11 14:39] windowsrefund commented on #26585
4 years...

[2020-03-11 14:43] sathieu opened #56356 "Refresh git_pillar on master start"
### Description of Issue

With PR #53621, it is possible to reduce the frequency of `git_pillar` updates.

However, `git_pillar` is not updated on server start, and one need to wait for `git_pillar_update_interval` to have the first run.

### Setup
Master config:
[code]

### Steps to Reproduce Issue
- Add a new repo in the git pillar configuration.
- Restart the master

Expected behavior:
- The ne

[2020-03-11 14:43] sathieu commented on #56356
Fixed by #56316.

[2020-03-11 14:47] terminalmage commented on #56349
I don't find any of that response relevant to what I said.

I'd welcome some input from someone who understands how events work in Salt, and the implications of making any changes.

[2020-03-11 15:33] RobHayes512 commented on #49586
I tried gitpython yesterday, but we’re using something authentication-wise that isn’t available in gitpyhon.

[2020-03-11 15:58] johnnybubonic commented on #51360
still valid

[2020-03-11 16:30] #55839 closed

[2020-03-11 16:45] #56167 closed

[2020-03-11 17:27] #56288 closed

[2020-03-11 19:13] MTecknology commented on #46053
@JeffAbrahamson Please re-check this when 3000.1 comes out and be sure that the alternative resolution still applies. The PR I created to address this cannot be sensibly merged into master.

If you find that the issue still exists, please re-open, ping me, and I'll take a further look.

[2020-03-11 22:05] #56062 closed

[2020-03-11 22:55] mianosm commented on #21260
Still an issue with salt version: 3000.

[2020-03-12 03:07] clallen commented on #56181
Sure thing, I have created an [image](https://hub.docker.com/repository/docker/clallen/salt-mcve-56181) on Docker Hub with everything needed built in (base image saltstack/salt:2019.2.2).

Container run command:
```docker run --name salt --hostname salt -P -e SALT_SHARED_SECRET=waynew --rm -d -p 127.0.0.1:8000:8000/tcp clallen/salt-mcve-56181```

The master config in it is:
[code]

Pillar data in

[2020-03-12 05:57] jleroy opened #56361 "Global network settings always report changes when test=True"
### Description of Issue
When a state containing `network.system` is applied in test mode, Salt always return changes to apply even if the current configuration is up-to-date.

### Setup
[code]

### Steps to Reproduce Issue
Execute the state file bellow in test mode:

[code]

Salt return changes to be made.

Then run the same state without test mode enabled:

[code]

### Versions Report

[code]

[2020-03-12 06:27] brejoc commented on #51764
Bad bot!

[2020-03-12 06:41] disaster123 commented on #53017
this is still "unfixed"

[2020-03-12 08:04] kiemlicz commented on #50419
gladly reopen the issue

[2020-03-12 08:05] kiemlicz commented on #44768
To me you're having some other issue (possibly network related)

[2020-03-12 08:06] kiemlicz commented on #48285
gladly reopen the issue

[2020-03-12 08:29] redbaron4 commented on #54028
Reactivate

[2020-03-12 10:10] max-arnold commented on #56344
I also noticed that salt-ssh ships binaries that do not belong to the target architecture:
[code]

[2020-03-12 14:23] danfoster commented on #55332
I'm still interested in how we can debug this further.

[2020-03-12 14:37] github-abcde commented on #56208
The confusion is caused by incomplete documentation. When examining the code, the `delete_dict`-function seems to use the contents of the provided `match`-dict as components of the path in salt's `pki`-dir.
The fact that your example leaves unaccepted keys alone is because you are using `minions` as a key, which is the subdirectory that contains the accepted keys. If you would be using `minions_pr

[2020-03-12 15:23] github-abcde commented on #56287
@garethgreenaway Can you update the labels of this issue given the status of the PR?

[2020-03-12 15:53] Ch3LL commented on #56205
im not able to replicate the issue where virtualenv's stdout is empty on virtualenv versions 20.0.0, 20.0.5, etc, but the new output from virtualenv is going to cause a valuerror. i'll look to fix that. I actually have a PR here https://github.com/saltstack/salt/pull/56360 thats working on getting it to work with 20.0.10. If you try 20.0.10 do you still see an empty stdout?

[2020-03-12 15:56] silenius commented on #56231
Same issue with PostgreSQL

[2020-03-12 17:56] Chupaka commented on #50327
It's still the issue for `salt 3000`

[2020-03-12 18:44] thusoy commented on #54759
Still a problem.

[2020-03-12 19:33] Ch3LL commented on #56205
fix here for the version output: https://github.com/saltstack/salt/pull/56364

like previously stated I cant replicate the behavior your seeing where the output is added to sderr instead. any additional information to help replicate that? It might be an upstream bug if it is indeed logging to stderr

[2020-03-12 20:03] baby-gnu commented on #38099
ping

[2020-03-12 21:07] s0undt3ch commented on #4994
Care to open a new issue requesting a documentation clarification please?

Salt is not a library, though it can be used as one, and the working example you posted is how you can use it as a library with regards to the expected logging behavior of libraries.

[2020-03-12 21:13] Ch3LL commented on #56361
im having a hard time replicating this. can you paste a sanitized version of what is `old` and `new` here?

[code]

[2020-03-12 21:15] Ch3LL commented on #56356
thanks!

[2020-03-12 21:19] emasean commented on #56208
thanks! will the following work if I want to delete the keys either as unaccepted or accepted?

[code]

[2020-03-12 21:42] Ch3LL commented on #56347
thanks for pointing that out @max-arnold

closing as duplicate

[2020-03-12 21:42] #56347 closed

[2020-03-12 22:13] KevoSoftworks commented on #46665
+1 We have a number of systems with high resource usage peaks Being able to monitor the progress of applying states would benefit our workflow.

[2020-03-12 22:17] Ch3LL commented on #56344
msgpack is being added to the generated thin here. https://github.com/saltstack/salt/blob/v2019.2.3/salt/utils/thin.py#L271

The thin is saved here /var/cache/salt/master/thin/thin.gz, so if that exists and you remove `_cmsgpack.so` from your host it wont generate a new thin without that file.

looks like we are ensuring we don't pack .pyc or .pyo file into the thin https://github.com/saltstack/sa

[2020-03-12 23:02] haarp commented on #56344
Thank you @Ch3LL ! thin.gz, that's what I never found the _cmsgpack.so, even while scouring the entire system for a file with matching md5 ;)

[2020-03-12 23:04] davidjb commented on #42717
Bump to un-stale this issue

[2020-03-12 23:09] sticky-note commented on #55032
@oliverisaac We're facing same issue here, is there a PR ready to merge for this.
@garethgreenaway Any chances to see this fix in `3000.1`

[2020-03-12 23:13] sagetherage commented on #56177
@kveroneau apologies for not following up to your question - we are working towards the date around 3/20 but have had trouble with failing tests. I will have more information tomorrow and will update here and in the appropriate slack and group channels.

[2020-03-12 23:22] baby-gnu commented on #23576
Hello.

I tracked down by putting a lot of `log.error` statements in the code and to me it looks like the problem comes from `salt.template.compile_template` which does not pass the `salt.fileclient` object down.

I created a simple git repository with the following:

- `test/test.sls`
[code]
- `test/test.jinja`
[code]
- `test/test.txt.jinja`
[code]

Here is the log starting from `test/test.sls`

[2020-03-13 00:05] lorengordon commented on #36502
wow, 30 days? that's a really tight activity window for issues! c'mon @stalebot

[2020-03-13 02:29] max-arnold commented on #56361
I'm not sure that this information is relevant, but there are tons of Debian network fixes that were merged to the old Neon branch but weren't backported: https://github.com/saltstack/salt/pull/56353

[2020-03-13 03:17] sticky-note opened #56366 "ldap.managed state and underlying ldap3 module don't work on minions version `2019.2.3` when `dn` to `add` or `replace` doesn't yet exist in the tree"
### Description of Issue
`ldap.managed` state does not work as expected from the documentation

### Setup
`feed_domain.sls` :
[code]
### Steps to Reproduce Issue
On ldap server which is a minion do `salt-call state.apply feed_domain`
Result:
[code]

### Versions Report
[code]

### Notes:

- Note that an array is passed to the failling function of `python3-ldap` module (`Tuple_to_LDAPMod()`) wherea

[2020-03-13 05:55] redbaron4 commented on #56205
@Ch3LL

Running the command on console still shows that output is going to `stderr`

[code]

With any virtualenv prior to 20

[code]

Looking at the virtualenv code they have made major changes to v20.0. Before v20, they used optparse (which logged to `stdout`). See code [on legacy branch here](https://github.com/pypa/virtualenv/blob/legacy/virtualenv.py#L610). Now they have switched to using `arg

[2020-03-13 06:40] dhs-rec commented on #49049
Once every month? Really? C'mon!

[2020-03-13 06:40] dhs-rec commented on #38551
Once every month? Really? C'mon!

[2020-03-13 09:11] johnnybubonic commented on #55072
keep open

[2020-03-13 11:44] oliverisaac commented on #55032
@sticky-note , no I didn't make a PR as they require that I submit tests cases as well and I'm not familiar enough with the code base to do that.

[2020-03-13 13:15] Ch3LL commented on #56349
i believe @waynew 's comment is relevant. He clearly states he would prefer to use the tagify approach, but also doesn't want to change it if its not breaking behavior. I'm also of this thought process. His example with directories was attempting to display how others have done it and brings up the thoughtful question as to whether we should allow a trailing /.

ping @garethgreenaway i know you ha

[2020-03-13 13:51] terminalmage commented on #56349
I don't find it relevant, because the file and directory distinction have nothing to do with this. Furthermore, slashes aren't just "optional", there are important cases where their absence does make an actual difference. If you run `mv foo bar` and `bar` is a file instead of a dir, it will replace that file. So it's preferable to use trailing slashes whenever moving files to avoid this potential

[2020-03-13 13:55] Oloremo commented on #42440
not stale

[2020-03-13 14:58] terminalmage commented on #49049
It would be pretty easy to make this into a list, separated by `os.path.pathsep`. But given that this has been a string for a long time, I'd lean toward a separate grain for this. I just don't know what I'd name it. Do you have any ideas?

[2020-03-13 15:02] terminalmage commented on #49049
There is precedent for parallel items, both string and list of strings/ints/whatever being named in the format `foo` and `foo_info`. But `path_info` kinda sounds weird to me.

[2020-03-13 15:04] gtmanfred commented on #49049
`systempath`

[2020-03-13 15:05] terminalmage commented on #49049
Oh, naming along the same lines as `pythonpath`. I like it. I'll work up a PR and see what @saltstack/team-core has to say about it.

[2020-03-13 15:15] Ch3LL commented on #56366
was this working previously?

if you try an older version of python3-ldap does it work?

[2020-03-13 15:19] RolandRosenfeld commented on #54702
Please reopen and fix the issue...

[2020-03-13 15:23] Ch3LL commented on #56343
was this working previously? and can you share a sanitized version of your map file?

[2020-03-13 15:27] terminalmage commented on #49049
https://github.com/saltstack/salt/pull/56370

[2020-03-13 16:18] SammyTbeile opened #56371 "[BUG] salt-api causing errors in master when calling state.sls with pillar kwargs"
### Description of Issue
I'm trying to run `salt 'sammy*' state.sls 'state' pillar='{"foo":"bar"}'` via the salt-api. I tried using pepper and ran into errors that I thought were due to pepper (https://github.com/saltstack/pepper/issues/204) however, upon converting this to use curl, I'm running into the same issues

### Setup
The relevant section in my eauth:
[code]
The json I'm sending:
[code]
#

[2020-03-13 16:42] #56324 closed

[2020-03-13 16:42] #56228 closed

[2020-03-13 16:43] #56184 closed

[2020-03-13 16:43] Ch3LL commented on #56131
fixed in #56215

[2020-03-13 16:43] #56131 closed

[2020-03-13 16:46] Ch3LL commented on #56119
closing since resolved in 3000.1 with  #56341

seems like there might be some discussion that could occur in a SEP if we want to change and properly deprecate things here.

[2020-03-13 16:46] #56119 closed

[2020-03-13 16:49] Ch3LL commented on #56177
closing here since fixed by https://github.com/saltstack/salt/pull/56174

[2020-03-13 16:49] #56177 closed

[2020-03-13 16:51] #56330 closed

[2020-03-13 16:56] Ch3LL commented on #56233
udpate: @Akm0d is still working on a fix here, but will not block this failure on 3000.1 release as verified to be working and the failures are test issues that need to be fixed due to some changes in how we parse repo.saltstack.com to verify the latest version.

[2020-03-13 17:02] Ch3LL commented on #56124
thanks for confirming the fix. closing with fix here https://github.com/saltstack/salt/pull/56174

[2020-03-13 17:06] Ch3LL commented on #56063
im not aware of a workaround based on looking at the change, unless @terminalmage or @dwoz are aware of one.

Since this is fixed in https://github.com/saltstack/salt/pull/56094 and will be in 3000.1 going to close for now.

[2020-03-13 17:06] #56063 closed

[2020-03-13 17:37] SammyTbeile commented on #56371
This was due to me not setting kwargs as a dict in eauth

[2020-03-13 17:37] #56371 closed

[2020-03-13 17:41] Ch3LL commented on #56332
are you also seeing this on 3000?

[2020-03-13 17:56] cedwards commented on #56332
Have not looked at 3000.

[2020-03-13 18:06] sagetherage commented on #56177
@kveroneau we are still working towards next week to release 3000.1 - more details will be posted in slack, IRC, and user groups. I apologize I don't have an exact date, but next week is better than soon.

[2020-03-13 18:27] Ch3LL commented on #56329
i was able to replciate this on 2019.2.2, 3000 and the head of master. this will need to be fixed up thanks

[2020-03-13 18:32] heini commented on #42306
Ping!

[2020-03-13 18:35] Ch3LL commented on #56328
nice catch. seems you have a handle here, would you mind sending in a PR with a test case as well?

[2020-03-13 18:35] krionbsd commented on #56332
I can reproduce it locally as well with:
[code]

[2020-03-13 21:08] krionbsd commented on #51042
I can't reproduce it with:
[code]
[code]

[2020-03-14 00:15] garethgreenaway commented on #56349
I agree with @Ch3LL here, the comment was relevant and was in agreement that ultimately we should standardize and use `tagify` for all events so there is consistency.  The example with files vs directories, while not a direct 1-to-1 comparison to events, does illustrate some fundamental ideas to think about when considering having a trailing slash or not.  My current preference is that we should u

[2020-03-14 04:33] Ch3LL opened #56377 "installing bdist_wheel package returns incorrect version when using minor version"
### Description of Issue
When installing salt from the bdist_wheel package it returns the wrong version when the tag includes a minor version. You can quickly replicate this by creating a tag and pushing it up to your personal repo and running the bootstrap:

[code]

[code]

The reason this is occurring is because we do not include the `_version.py` file when we build the wheel package.

[2020-03-14 07:00] mchugh19 commented on #56329
@Ch3LL as of the current master branch, some modules have their own handling for requisites such as unless/onlif. `cmd` is one of them, so this error is currently raised from that module.

As of neon, the unless/onlyif requisites were enhanced to allow not just shell commands for their logic, but to also support using salt execution module results. As the main requisites have been getting enhanced

[2020-03-14 08:00] mchugh19 commented on #56242
@shivamMg documentation for writing state modules is here: https://docs.saltstack.com/en/latest/ref/states/writing.html

In short, generally states are wrappers for the functionality in modules. Since the s3 module exists, the state just needs to work idempotently, return a dict notifying about success/problems, and support `test=True`.

[2020-03-14 11:20] jleroy commented on #56361
@Ch3LL Here is it.

**old:**
[code]

**new:**
[code]

The value of `old` and `new` variables are strictly identical.

The issue seems to be in the `build_network_settings` function:
https://github.com/saltstack/salt/blob/b4dd2352f92a3d67fcfafefadd95dfd39a8e8c2e/salt/modules/debian_ip.py#L2024-L2029

BTW the content of `/etc/default/networking` (which is the value of `_DEB_NETWORKING_FILE`)  do not

[2020-03-14 11:37] baby-gnu commented on #56139
ping

[2020-03-14 12:01] praveenkulkarni22 commented on #55487
@garethgreenaway no problem on the delay. But, the issue still persists and I have not found a solution yet. The Pillar is passed as command line argument to the state file and they behave differently when I use `include` and `module.run`. Please find a example below:

Here is the salt call from Master with pillar passed as command line argument:

`salt '*' state.apply setup pillar='{"db_type": "p

[2020-03-14 15:10] #55909 closed

[2020-03-14 15:33] cruscio commented on #55208
I seem to be failing to communicate what it is I'm asking for here.

[2020-03-14 15:33] #55208 closed

[2020-03-14 18:03] warden commented on #49927
I guess this can be closed :-)

[2020-03-14 18:59] fabfurnari commented on #8882
This is a very important feature to add!

[2020-03-15 07:28] arizvisa commented on #55758
not stale, tagged as considered.

[2020-03-15 07:29] arizvisa commented on #55103
not stale. has been repro'd by a contributor.

[2020-03-15 08:39] mchugh19 commented on #10237
This can be closed as #52126 was included in Neon.

@alertedsnake as for file permissions and ownership, you can use the standard file.manage to set those properties on your keystore files.

[2020-03-15 12:18] pavel-z1 commented on #54145
Issue is actual.
As I see, issue was added previously to the milestone.

[2020-03-15 13:28] shivamMg commented on #56242
@mchugh19 Thank you. That should definitely help.

[2020-03-15 19:06] #53938 closed

[2020-03-16 00:06] #56025 closed

[2020-03-16 01:42] nicholasmhughes commented on #56152
What's the intended operation here? Use both a password and an ssh key?

[2020-03-16 02:20] sticky-note commented on #56366
@Ch3LL  Seems weird that unit testing is not failing for that ?

[2020-03-16 02:59] GwiYeong commented on #56328
@Ch3LL
thanks to response. Ok, I will.
should I send pr to the `master` branch?

[2020-03-16 03:34] haoqixu opened #56384 "Minion's encoding problem"
### Description of Issue

When I run `salt 'foo' state.show_top` on the master, the minion raise `UnicodeDecodeError` at `template_shebang` . But running `salt-call state.show_top` on the minion works well.

I put some debug logging at the `template_shebang` function to print the `__salt_system_encoding__` variable.  It is `ANSI_X3.4-1968` in the remote command and `UTF-8` in the local command.

`

[2020-03-16 06:18] xiaohuazi123 commented on #44465
Is the mssql_database  state  module still under development?

[2020-03-16 07:20] xiaohuazi123 commented on #52239
The legacy style will no longer be available starting in the Sodium release

[2020-03-16 08:00] L4rS6 commented on #51042
You're right, the problem doesn't exist any longer (SaltStack Version 3000).

[2020-03-16 08:00] #51042 closed

[2020-03-16 08:03] eliasp commented on #54310
Duplicate of #10852

[2020-03-16 08:13] xiaohuazi123 opened #56385 "Why is there MSSQL states module, but it is not shown in the official document"
### Description of Issue

There are four states modules about MSSQL in the source code of salt
ll /usr/lib/python2.7/site-packages/salt/states/mssql*
mssql_database.py
mssql_login.py
mssql_role.py
mssql_user.py

But,that four MSSQL states modules do not appear in the official documentation（https://docs.saltstack.com/en/latest/py-modindex.html）

Is it because it is not recommended to use that four

[2020-03-16 08:14] admd commented on #56030
This problem still exists and I would appreciate it if someone from the salt team could provide some information about the possible fix.

[2020-03-16 13:40] baby-gnu commented on #54310
Thanks for the duplicate notification, I subscribed to the other one.

Regards.

[2020-03-16 13:40] #54310 closed

[2020-03-16 14:05] max-arnold commented on #56030
I'm also interested in a fix. The root of the problem seems to be here:

https://github.com/saltstack/salt/blob/master/salt/client/ssh/wrapper/__init__.py#L66-L99

According to Python docs, `__getitem__` should raise `KeyError` if the key is not found. This is not the case. The method returns `None` and this somehow evaluates as `True` in Jinja.

However, adding `raise KeyError(cmd)` at the end  f

[2020-03-16 14:08] max-arnold commented on #56030
@admd The workaround is to use the following syntax:

`{% if salt.get('network.fqdns', None) %}`

[2020-03-16 14:35] doesitblend opened #56386 "Junos Proxy not Passing Huge Tree Option"
### Description of Issue
The Junos proxy module does not pass the huge_tree option so it is not able to handle large amounts of XML data.

This issue is resolved in https://github.com/saltstack/salt/pull/55318 .

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions

[2020-03-16 15:07] svenseeberg commented on #56142
The issue still exists, a suggestion for a fix is still open as a pull request.

[2020-03-16 15:50] McPcholkin opened #56388 "[BUG] mysql_user.present state broken on 3000: AttributeError: 'str' object has no attribute 'items'"
### Description of Issue
mysql_user.present state broken on 3000.
[code]

This issue may be same as [#51](https://github.com/GeorgiaCyber/kinetic/issues/51) but with normal description.

### Steps to Reproduce Issue
test_user.sls  based on [example](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.mysql_user.html).
[code]

[code]

### Versions Report Master and Minion (same server)

[2020-03-16 15:57] knine commented on #39112
Bumping to avoid the stale bot.

[2020-03-16 16:06] frogunder commented on #56385
@xiaohuazi123 Thank you for reporting this issue.

Seems like it it a documentation issue.

Thanks.

[2020-03-16 16:11] frogunder commented on #56386
@doesitblend Thank you for reporting this issue.

Hopefully https://github.com/saltstack/salt/pull/55318 will resolve this one.

Thanks.

[2020-03-16 17:32] jtraub91 opened #56389 "State.event can't JSON serialize datetime in data"
### Description of Issue
When trying to view the salt minion local event bus with `salt-call state.event`, data returned after issuing `salt-call event.fire '{"func": "list"}' 'manage_schedule'` causes the `state.event` command to exit with the following error:
[code]

The posted event displays, but I suspect the following data isn't properly serialized by `salt.utils.json.dumps` here: https://git

[2020-03-16 18:19] frogunder commented on #56388
@McPcholkin Thank you for reporting this issue.

I see the same thing.

Thanks.

[2020-03-16 18:22] frogunder commented on #56384
@haoqixu Thank you for reporting this issue.

[2020-03-16 20:16] frogunder commented on #56389
@jtraub91 Thank you for reporting this issue.

I am seeing the same thing.

Thanks.

[2020-03-16 21:01] mchugh19 commented on #56385
This is fixed in #55914

[2020-03-16 21:31] sagetherage commented on #53529
@dwoz can you triage this ticket this week, please?

[2020-03-16 21:33] sagetherage commented on #55357
Dwoz, can you answer this question or should I reassign?

[2020-03-16 21:39] Ch3LL commented on #56342
tests are passing now

[2020-03-16 21:39] #56342 closed

[2020-03-16 21:41] bryceml opened #56390 "salt 3000 and master don't work with default pip (9.0.1) on windows"
### Description of Issue
pip.installed is not available on salt 3000 or the head of master on older versions of pip on windows

https://gitlab.com/saltstack/employees/sre/bryceml/ec2-amis/-/jobs/473544805
fails with salt 3000 and default pip (9.0.1).
https://gitlab.com/saltstack/employees/sre/bryceml/ec2-amis/-/jobs/473602961
succeeds with salt 2019.2.3 and default pip (9.0.1).

[code]
are the sta

[2020-03-16 22:05] dwoz commented on #53529
@nycnewman Sorry this never got resolved. Can you provide me with an example state to help reproduce the issue?

[2020-03-16 22:12] s0undt3ch commented on #56390
To clarify, the 0.9.1 version of pip is the oldest we try to support, not the default pip version that salt requires to work.

[2020-03-16 22:13] s0undt3ch commented on #56390
I know, doesn't impact the issue, it's just wording. :)

[2020-03-16 22:13] nycnewman commented on #53529
`google-chrome-stable:
  pkgrepo.managed:
    - humanname: Google Chrome
    - name: "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main"
    - dist: stable
    - gpgcheck: 1
    - file: /etc/apt/sources.list.d/google-chrome.list
    - key_url: https://dl-ssl.google.com/linux/linux_signing_key.pub
    - require_in:
      - pkg: google-chrome-stable
  pkg.installed:
    - name: goo

[2020-03-16 22:21] bryceml commented on #56390
I meant it's the default version of pip that the windows installer comes with.

[2020-03-16 23:03] waynew commented on #56206
@max-arnold so you're not seeing the same amount of memory usage?

[2020-03-17 00:23] frogunder commented on #56388
Actually this might be fixed with https://github.com/saltstack/salt/pull/56174 which will be in 3000.1.

@garethgreenaway maybe you can confirm that or not?

[2020-03-17 01:14] GwiYeong commented on #56328
@Ch3LL hi I found this commit 377fbbc7b760bad1fd267747bf463e7cc8f3c1ae. I could not understand this commit.
since python 3.7, `async` is reserved keyword, so use `asynchronous` for function args is correct.
mayby this issues will fixed after rollback 377fbbc7b760bad1fd267747bf463e7cc8f3c1ae commit
can you give me a comment?

[2020-03-17 02:06] max-arnold commented on #56206
@waynew Yes, that is correct. Earlier I posted all the stats for a 32bit architecture.

[2020-03-17 04:31] sticky-note commented on #56366
@Ch3LL
Edit: I tested on `debian Buster` with salt `3000` and `python-ldap` version `3.2.0` ( last version ) and there is no such issue

[2020-03-17 04:32] sticky-note commented on #56366
@Ch3LL
Edit: I tested on `debian Buster` with salt `3000` and `python-ldap` version `3.2.0` ( last version ) and there is no such issue

[2020-03-17 04:32] sticky-note commented on #56366
@Ch3LL
Edit: I retested on `debian Buster` with salt `3000` and `python-ldap` version `3.2.0` ( last version ) and there is no such issue

[2020-03-17 04:57] haoqixu commented on #56384
Sorry. This is caused by the incorrect locale setting of the server.

The Python interpreter picks the `sys.stdin.encoding` according to `LC_CTYPE` environment variable and Salt will set `__salt_system_encoding__` with the value of `sys.stdin.encoding`.

I modified the `/etc/locale.conf` without rebooting the system and systemd only read it at early boot. So the environment which the minion daemon

[2020-03-17 04:57] #56384 closed

[2020-03-17 05:50] sticky-note commented on #56366
@Ch3LL
Update: I managed to isolate that this issue occurs only when `dn` to `replace` or to `add` doesn't yet exist in the tree.

[2020-03-17 06:28] sticky-note commented on #56366
@Ch3LL I managed to reproduce this issue on `Debian Buster` on salt minion version `2019.2.3` and python-ldap `3.2.0` from `pip`
[code]
What to do with this issue as it concern an older version of `salt` when we know that `salt` `3000` is not yet present in `FreeBSD` repository

[2020-03-17 06:37] xiaohuazi123 commented on #56385
Thanks to @mchugh19  for providing pr, however, this pr does not seem to have been merged yet, and the official documentation is not up to date yet?

[2020-03-17 09:47] mchugh19 commented on #56385
@xiaohuazi123 Correct. The PR is waiting for master to be open for the Sodium release.

[2020-03-17 12:07] dahabakuk commented on #54412
please update documentation here: https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.managed

when using "sources" instead of "source" it all starts working here as it should.

[2020-03-17 12:42] remyd1 opened #56393 "Buster install from the deb packages py3 version missing Mako"
### Description of Issue
If you install the saltstack minion from https://repo.saltstack.com ; Debian buster / py3 version, the Mako python3 package will be missing.

### Steps to Reproduce Issue
On a fresh debian install:

[code]

### Versions Report

[code]

### Temporary fix

[code]

[2020-03-17 13:44] xiaohuazi123 commented on #56385
Hopefully, Sodium's release won't take long

[2020-03-17 13:45] #56385 closed

[2020-03-17 14:03] brejoc commented on #56030
Bad bot!

[2020-03-17 15:04] twangboy commented on #36031
https://github.com/saltstack/salt/issues/56279

[2020-03-17 15:34] sagetherage commented on #55853
not stale bot

[2020-03-17 15:51] racooper commented on #54298
Good grief, I finally got around to testing.  The patched module seems to be working a lot better.

[2020-03-17 15:53] racooper commented on #54298
ah...though I may have found a typo, line 342:

queue_id, size, timestatmp, sender, recipient = None, None, None, None, None

should probably be "timestamp" instead of "timestatmp"

[2020-03-17 16:01] zloyded opened #56397 "SaltRenderError: Could not locate requisite of [files] present in state with name [/etc/sysconfig/raid-check]"
### Description of Issue
[code]
### Setup
[code]
    The minion function caused an exception: Traceback (most recent call last):
      File "/usr/lib/python2.7/site-packages/salt/minion.py", line 1664, in _thread_return
        return_data = minion_instance.executors[fname](opts, data, func, args, kwargs)
      File "/usr/lib/python2.7/site-packages/salt/executors/direct_call.py", line 12, in exec

[2020-03-17 17:01] ThisGuyCodes commented on #50422
bump.

Seems like the fix for this is already known (to the point that people are doing it themselves.

[2020-03-17 17:06] frogunder commented on #56393
@remyd1 Thank you for reporting this issue.

@dmurphy18 Can you take a look / comment at this one, please?

Thanks.

[2020-03-17 17:23] Ch3LL commented on #55852
@s0undt3ch and @Akm0d looks like amazon linux 1 (and also amazon linux 2 now) are once again timing out some times.

https://jenkinsci.saltstack.com/job/pr-amazon1-py2/job/PR-56380/1/

https://jenkinsci.saltstack.com/job/pr-amazon2-py2/job/PR-56380/1/

even with the increased timeout

[2020-03-17 17:26] Ch3LL opened #56399 "integration.shell.test_saltcli tests failing sometimes on mac"
### Description of Issue
The `integration.shell.test_saltcli` tests are failing sometimes on macosx.

https://jenkinsci.saltstack.com/job/pr-macosxmojave-py2/job/PR-56380/1/

[code]

[code]

https://jenkinsci.saltstack.com/job/pr-macosxmojave-py2/job/master/661/testReport/junit/integration.shell.test_saltcli/RetcodeTestCase/test_missing_minion/

[2020-03-17 17:28] sagetherage commented on #56142
Working on getting this issue updated and reviewed as well as the PR, it may take a day to do that, or longer, but working to get 👀 on both. Thank you!

[2020-03-17 17:31] sagetherage commented on #36962
@saltstack/docs-working-group

[2020-03-17 18:07] dsanader commented on #52431
How come this hasn't landed in [v2019.2.3](https://github.com/saltstack/salt/tree/v2019.2.3) ?

This release still contains the [buggy code](https://github.com/saltstack/salt/blob/v2019.2.3/salt/modules/virt.py#L2438).

[2020-03-17 18:10] frogunder commented on #56397
@zloyded Thank you for reporting this issue.

I am however not able to replicate it.

I have this in my state file
[code]
which gives me this result
[code]
[code]

If you have any other information on how to replicate it, please let me know.

Thanks.

[2020-03-17 18:56] zloyded commented on #56397
okay, can you present cmd of salt command you call?
You specify `saltenv` when run salt cmd?
When i define `saltenv` witch environ where state is, is ok. But when i run `salt` without `saltenv` i see this: `SaltRenderError: Could not locate requisite of [files] present in state with name [/etc/sysconfig/raid-check]`.
Ive try already define `master_root`, `file_roots`, with base and production envi

[2020-03-17 19:02] sagetherage commented on #42539
@Vaelatern should we open up a discussion on this topic perhaps at one of the Working Groups or the weekly Community Open Hour to find a solution that also satisfies everyone? Would that be helpful, at all?

[2020-03-17 19:30] sagetherage commented on #43436
looks like this still needs @saltstack/team-core follow up, here. I will look into getting someone to respond sooner rather than later on this ticket, today

[2020-03-17 20:03] chuckkir opened #56401 "Can not run git (or other apps) from state file"
### Description of Issue
I try to run git to set a configuration variable and it fails. I get similar results for NPM, Rush, and so forth. Even something as simple as "set > c:\temp\set.txt" fails. They all end with this message, even though none of them complete.
  [ERROR   ] The operation completed successfully.

### Setup
git_config_user:
  cmd.run:
    - name: 'git config --global --replace-al

[2020-03-17 20:08] whytewolf opened #56402 "gpg binary pillar error when using test=true to update file."
### Description of Issue
This is a followup to https://github.com/saltstack/salt/issues/51879

The original problem was fixed in that issue, however, a new issue is now happening that wasn't caught before because it wasn't getting to the file creation part.

Now if the file exists and you use test=true to see if it wants to change the file on linux it will throw the following error.

[code]

Under

[2020-03-17 20:10] whytewolf commented on #56402
ZD-3312

[2020-03-17 20:55] pgporada commented on #53983
I'm interested in this feature.

[2020-03-17 21:03] Akm0d commented on #53317
Implemented in "pop_darwin", grains from there will be used in salt in Sodium:
https://gitlab.com/saltstack/pop/pop_darwin/-/blob/master/pop_darwin/corn/os/sw_vers.py

[2020-03-17 21:19] frogunder commented on #56397
Running all these commands give me the same result, no errors. I do not specify `saltenv`

[code]

I have not changed anything in my master config file, which means my `file_roots` are set to `/srv/salt`

[2020-03-17 22:27] Ch3LL commented on #56390
i can confirm that this is technically an upstream issue here https://github.com/pypa/pip/issues/4437 that has been fixed with newer versions of pip. What is happening is `site.USER_SITE` is None. This pip fix ensures we handle this situation.

Now what i'm still trying discover is why in our salt packages 3000 `site.USER_SITE` is now None, where as in 2019.2.3 it returns the user directories path

[2020-03-17 23:47] Vaelatern commented on #42539
Yes, that would be nice. I don't know enough about salt internals to tackle it myself.

[2020-03-18 04:25] #43850 closed

[2020-03-18 05:00] sticky-note commented on #56366
@Ch3LL Ok, no such issue with `salt` version `3000` from `pip` on FreeBSD 12.1 with `py37-ldap` version `3.2.0` neither
[code]
`salt` `3000` is not yet available as a `minion` only from official FreeBSD repository. What's next ?

[2020-03-18 06:39] timwsuqld commented on #52332
Not stale

[2020-03-18 06:44] timwsuqld commented on #52332
@sagetherage Can you please reopen this and triage it so stalebot leaves it alone.

[2020-03-18 06:45] timwsuqld commented on #55829
@sagetherage When is this discussion going to happen? I'm losing track of the "stale" tickets I need to comment on every 30 days, it's a bit ridiculous. You guys said you aim to triage issues before stalebot gets to them, but there is a backlog of tickets that haven't been given labels that stalebot is still rampaging against. At the least, until that backlog has been actioned, please adjust stale

[2020-03-18 06:46] timwsuqld commented on #52332
@dmurphy18 You also appear to have repo access, can we please get the correct labels added to this to stop stalebot from closing it (and please reopen it)

[2020-03-18 07:07] zloyded commented on #56397
@frogunder  can you give me full example of `file_roots ` and `master_roots`?
for multi environments what option correct?
In docs example of `master_roots` is string, but when i define string or list, i see warning:
```[WARNING ] Config option 'master_roots' with value /srv/salt has an invalid type of unicode, a dict is required for this option```

[2020-03-18 07:49] zloyded commented on #56397
And one more thing, i have state:
[code]
And with this have this issue to!
```SaltRenderError: Could not locate requisite of [files] present in state with name [rpm --rebuilddb]```
How does the module `cmd` work now? Why he looking for a file?

[2020-03-18 08:08] tserong commented on #48458
The Ceph Execution module in salt is still terminally broken, and realistically nobody is ever going to fix it. See my above comment from November 20, 2019, and also bear in mind that since then the latest developments in ceph deployment with salt are happening in https://github.com/ceph/ceph-salt.

Can we *please* get this module removed from the core of salt? The only thing it's going to do is c

[2020-03-18 08:35] baby-gnu commented on #55835
I think this should be excluded from stalebot.

[2020-03-18 08:50] devagupt opened #56405 "Problem in migrating salt to Python3 on Windows"
Hi,

In our workflows we are building salt module from the source code. Currently we are using Python 2 and want to migrate to Python 3 as Python 2 is EOL. As I am trying to setup salt for Python 3, I noticed that salt is pinned to Python 3.5.4 as mentioned in this file:
https://github.com/saltstack/salt/blob/master/pkg/windows/build_env_3.ps1

Python docs mentioned that python 3.5 will also be EO

[2020-03-18 10:44] arren-ru commented on #55084
Still doesn't work for me neither versions 2019.2.3 or 3000.
salt-ssh tolds:
[code]

I did everything what was suggested by community in this thread and nothing.....

[2020-03-18 11:08] MatthiasKuehneEllerhold commented on #56165
not-stale.

[2020-03-18 11:51] devagupt commented on #56405
@basepi can you provide the inputs here ?

[2020-03-18 11:55] bayandin commented on #55084
@arren-ru it happens when you use salt from homebrew on mac to connect to Linux remote machine (which doesn't have `/usr/local/opt/openssl@1.1/lib/libcrypto.dylib` file).

I'm removing the patch from homebrew (https://github.com/Homebrew/homebrew-core/pull/51843) and letting salt folks to fix the problem if it still happens.

[2020-03-18 12:09] jhass commented on #55084
I locally modified the patch to result into

[code]

Which still isn't ideal, but works for now.

[2020-03-18 13:39] DmitryKuzmenko commented on #43436
I can't say exactly is this related to the original report or not, but I've reproduced the issue after I've mounted a samba share with big enough directory structure to the salt root sub-directory and ran any state.

[2020-03-18 14:03] Ch3LL commented on #56349
I agree a SEP is the best approach here. I'm going to close this issue, and feel free to open a SEP with details around implementation and we can have formalize the discussion there and approve.

[2020-03-18 14:03] #56349 closed

[2020-03-18 14:08] Ch3LL commented on #46946
@brejoc which PR fixed this issue? Looks like there is an unmerged pr that is suppose to fix this

[2020-03-18 14:42] lorengordon opened #56406 "CommandExecutionError in `lgpo.set` due to bad zero value for `LockoutDuration`"
### Steps to Reproduce Issue
On a Windows Server 2012R2 system, install salt and run the command below. Note that this issue only reproduces when `LockoutThreshold` is non-zero, seemingly due to some internal Windows API constraints.

[code]

### Explanation

This errors because `LockoutDuration` does not actually use `0` as the zero value, but the lgpo module does not know that (yet). See the lin

[2020-03-18 14:59] basepi commented on #56405
Unfortunately I don't work for SaltStack and am not very involved in the community these days. One of the devs should be by to triage/answer soon.

[2020-03-18 15:14] chuckkir commented on #56401
Looking further, it seems like it fails every time I use "runas" to run as a domain user.

[2020-03-18 15:31] erwindon opened #56407 "SALT-API has timeout on jobs.list_jobs and other RUNNER apis (but salt-run does not)"
### Description of Issue
When executing `jobs.list_jobs` using the salt-api, a timeout occurs.
But the regular commandline `salt-run jobs.list_jobs` works properly.
This happens also for other runner commands, like `test.arg`.
This happens since version 3000.
There are no additional warnings/errors in the logfile(s).
There seems to be a relation with the amount of jobs stored in the system. When t

[2020-03-18 15:31] #56315 closed

[2020-03-18 16:00] brejoc commented on #46946
@Ch3LL This should be the PR: https://github.com/saltstack/salt/pull/46441/files
And I got the list of releases from this [commit](https://github.com/saltstack/salt/commit/8849f8f6fe8148c3b06a13dc0c1e6ef3710d1402).

[2020-03-18 17:08] gigi206 commented on #55161
Not stale

[2020-03-18 18:39] frogunder commented on #56401
@chuckkir Thank you for reporting this issue.

@saltstack/team-windows Any of you have any thoughts on this one?

Thanks.

[2020-03-18 20:22] frogunder commented on #56405
@twangboy can you take a look at this one?

Thanks.

[2020-03-18 20:25] frogunder commented on #56406
@lorengordon Thank you for reporting this issue and for the PR.

Thanks.

[2020-03-18 20:41] arizvisa commented on #55708
not stale. you can't `json.dumps` a `set()` which means if it gets passed to anything which serializes things (such as a returner), this exception will get raised.

[2020-03-18 20:41] Ch3LL commented on #56390
okay i've figured this one out. I was able to bisect this issue to a399d7f54a17f1a73ee0c37c09c0018e9bf48f1c which is PR https://github.com/saltstack/salt/pull/55817

The problem line is here https://github.com/saltstack/salt/pull/55817/files#diff-d27e77cec6710027bb120a9dc4f1b959R45

There is a known open issue here: https://bugs.python.org/issue31798

When site.py runs `abs__file__` a TypeError re

[2020-03-18 20:42] arizvisa commented on #54869
not stale. it's a race condition, and obvious as there's literally no reason to use a context manager if it's not going to execute anything in the aforementioned cases.

[2020-03-18 21:03] sagetherage commented on #45441
@DmitryKuzmenko can you please triage this ticket, thanks!

[2020-03-18 21:07] erwindon opened #56409 "result from state.highstate adds retcode=x also to other successful states for same minion"
### Description of Issue
When executing a `state.highstate` one of the many states may fail.
But in that case many other states also get the additional result-property retcode=2.
Still, "result=true" is set for all of them.

### Setup
No special setup, just a master and several minions.
The sls files have several standard rules (test.show_notification, file.absent, file.managed, cmd.run, pkg.lates

[2020-03-18 22:48] markuskramerIgitt commented on #53219
As the precondition for this issue is

    salt minion pip.install pywinauto

I would like to argue that `pythonwin` should be installed likewise "on demand" by parties interested, instead of shipping it in the salt-minion.

Both packages are GUI  applications. As such they cannot be controlled by a Salt-master.

Interested parties can install any packages they want, but GUI packages should not be

[2020-03-18 23:05] markuskramerIgitt commented on #53219
pythonwin comes with pywin32. It is mentioned only in pywin32.pth

[2020-03-18 23:14] markuskramerIgitt commented on #53219
This comes down to the question how to install only TTY/non-GUI pywin32.
I remember a discussion about that.

[2020-03-18 23:23] jtraub91 commented on #49890
This feature would be very beneficial for a use case I'm working with. Consider a case where we log into a device and create a session. We could make the session name include the job id so that we have an easier time cross referencing the execution on the remote device with the job results, located on the minion / master

[2020-03-18 23:48] mlasevich opened #56410 "tpldir calculation is broken in some cases"
### Description of Issue

Buggy code is here:
https://github.com/saltstack/salt/blob/84c60708cd355f0b24742e8bcdba39073d24c9f8/salt/utils/templates.py#L127-L131

Short version, if name of the directory containing the sls is contained in sls name, tpldir calculation will return wrong result.

Slightly longer version, it seems to be trying to find the tplpath by looking for last occurrence of slspath

[2020-03-19 00:32] mlasevich commented on #56119
For those who care about this - be careful switching to `tpldir` - `tpldir` is currently buggy and does not always work as you expect. I just filed a bug about this (#56410 )

[2020-03-19 03:53] myongyun opened #56411 ""comment":"Unable to manage file: ""
When I copy files：
oozie_cp_file:
  file.managed:
    - name: {{ pillar['oozie.home_path'] }}oozie-5.2.0.tar.gz
    - source: salt://oozie/oozie-5.2.0.tar.gz
    - template: jinja
    - user: root
    - group: root
    - mode: 755
    - makedirs: True

return :
{
    "file_|-oozie_cp_file_|-/home/oozie-5.2.0.tar.gz_|-managed":{
        "comment":"Unable to manage file: ",
        "name":"/home/ooz

[2020-03-19 04:18] #53028 closed

[2020-03-19 04:18] #52183 closed

[2020-03-19 04:18] #51755 closed

[2020-03-19 06:43] tserong opened #56412 "Remove ceph execution module"
The ceph execution module has been utterly broken for almost two years. For a fuller history, please see https://github.com/saltstack/salt/issues/48458. In order to avoid confusion, can we just remove this module? I understand that there's usually a deprecation process when removing modules, but given how long it's been broken, I think it's safe to assume it's defacto deprecated already. I'm total

[2020-03-19 07:18] #55247 closed

[2020-03-19 08:02] DmitryKuzmenko commented on #43436
So since we have no information from @syed-salt I'm treating this issue as reported by @Reiner030.

[2020-03-19 08:19] DmitryKuzmenko commented on #56142
@svenseeberg thank you for your work on this. Your PR looks correct to me. I've updated the branch. Let's wait for tests pass.

[2020-03-19 09:22] ryanking8215 opened #56413 "Get UnicodeDecoderError after salt compiled"
### Description of Issue

Normal salt-minion is working OK.
Salt-minion is running on a MIPS board, so I have to decrease its size, then I compile salt to pyc files and delete all the py files.

But with this compiled version of salt, salt-minion will get such error when connecting to the salt-master which runs on a x64 ubuntu system.

[code]

### Setup
(Please provide relevant configs and/or SLS

[2020-03-19 09:56] ryanking8215 commented on #56413
I have solved the problem.

in file client/ssh/__init__.py:195
[code]

Because I compiled 'ssh_py_shim.py' to 'ssh_py_shim.pyc'. It seems has bug with reading pyc file.
 I just use ssh_py_shim.py instead of pyc file.

[2020-03-19 11:26] glkappe commented on #55122
So how is this called automation? I need to use salt-ssh to install python 2.7 for a python 2.6 server. Now, you say, if the target server is python 2.6, he will not run.So I should manually upgrade the python version before using salt or salt-ssh to manage them.

[2020-03-19 11:51] tkykm commented on #56152
Mainly I want to use password authentication. But both is also nice

[2020-03-19 12:24] jorisdejosselin commented on #56343
This has not worked for me. First time working with salt-cloud and the VMware provider. Below are the map file and the jinja code used to generate the map file. Hopefully this is enough information to find the problem.

Full map file:
[code]
Full map file with jinja:
[code]

[2020-03-19 12:29] jorisdejosselin commented on #56343
To make it more readable i removed the empty lines created by jinja with the below code. This did not solve the issue however.
[code]
Output:
[code]

[2020-03-19 12:37] nicholasmhughes commented on #56152
Ok. Right now, we don't have the ability to pass both a password and an ssh key. We can keep this issue open as a feature request for that functionality.

In the meantime... if you want to use a password, you need to stop sending a public key file:
[code]

[2020-03-19 14:51] corywright commented on #23518
As @danilochilene has said, this is now broken in the 2019.2.x line of releases.

[code]

The state that is triggering the error:

[code]

Version info:

[code]

[2020-03-19 15:26] H20-17 commented on #42490
Hi everyone.
I just encountered the same issue. I don't think that creation of __/var/run/salt/master/__ should be dependent on the value of __verify_env__. It should always happen because /var/run is volatile. Just my opinion. If others disagree I'll be accepting of that.

[2020-03-19 16:57] frogunder opened #56415 "3000.1 Windows Packages return saltversion 3000"
The Windows packages for 3000.1 returns saltversion 3000

[2020-03-19 17:02] frogunder opened #56416 "3000.1 Mac Packages Minion won't start"
There is an error with the  3000.1 Mac packages.

It seems to install fine but give this traceback:
[code]

[2020-03-19 18:14] garethgreenaway commented on #56388
@frogunder Yup!  This issue will be fixed by that PR and will be available in 3000.1.

[2020-03-19 19:02] frogunder commented on #56412
@saltstack/team-core Any thoughts on this one? Seems like it has been discussed previously also.

Thanks.

[2020-03-19 20:18] #47188 closed

[2020-03-19 20:18] #47891 closed

[2020-03-19 20:18] #49591 closed

[2020-03-19 20:18] frogunder commented on #56409
@erwindon Thank you for reporting this issue.

Can you paste a copy of the sls file you are using (please remove any sensitive info) when you are seeing this issue, so I can try and replicate it? I have not been successful in replicating it so far.

Thanks,

[2020-03-19 20:44] erwindon commented on #56407
My apologies...
I missed a concrete error message in logfile `/var/log/salt/master`, which appears almost immediately after the `jobs.list_jobs` API call is made.
The message is:
[code]

[2020-03-19 21:18] #52272 closed

[2020-03-19 21:41] frogunder commented on #56407
@erwindon Thank you for this report.

I am not able to replicate this one.
For me it returns fine and I am not seeing any timeouts.

Any information to help me replicate it would be great :-)

Thanks.

[2020-03-19 22:01] erwindon commented on #56409
@frogunder
I should have looked more carefully.
The described effect does not appear in the direct output of `state.highstate`.
It only appears when that output is again retrieved using (runner) `jobs.list_job`.

(reduced) setup:

top.sls:
(just one include file)
[code]

git.sls:
(4 success-states and one fail-state)
[code]

sudo salt-run --out=json jobs.list_job 20200319215414792452
(see that sta

[2020-03-19 22:08] frogunder commented on #56409
@erwindon

Yea, I see the same thing as you in my environment

Thanks for great info.

[2020-03-19 22:12] twangboy commented on #56405
We will be migrating to Python 3.7 in the Sodium release. Once we have updated tornado support we will possibly move to Python 3.8

[2020-03-19 22:18] #52573 closed

[2020-03-19 22:21] frogunder commented on #56411
@myongyun Thank you for reporting this issue.

What is your output of `salt --versions` ?

Also what is/are the command(s) you run when seeing this behavior?

Thanks.

[2020-03-19 22:22] frogunder commented on #56416
https://github.com/saltstack/salt/pull/56417

[2020-03-19 23:04] dmurphy18 commented on #56393
@remyd1 SaltStack does not provide the mako package for Debian 10 Py 3.  SaltStack only provides Salt for the Debian 10 platform.  SaltStack did provide the mako package for Ubuntu 12.04 Python 2 but it was only for that platform and that platform is long end of life'd.

Please utilize the underlying OS to full fill your requirements.

Please consider closing this issue unless there is other infor

[2020-03-20 01:12] erwindon commented on #56407
The key factor is the size of directory `/var/cache/salt/master/jobs/`.
That one holds about 880 entries (jobs) here, when the problem occurs.
When the directory is cleaned up to below a limit, then the problem disappears.
The current amount here is 526 which does not cause the failure.
The absolute amount of jobs does not seem to be the deciding factor.
I suspect the amount of details for each jo

[2020-03-20 05:39] yuriks commented on #48546
This would still be really nice to have. (In fact, this is how I intuitively expected `state.apply` to work at first.)

[2020-03-20 06:19] haodeon commented on #55425
My PR is awaiting feedback. Can someone from Saltstack please take a moment to have a look?

[2020-03-20 07:18] dhs-rec commented on #55799
Aaaaargh, this stale bot thing is **STILL** going rampage (#55829)!!!

[2020-03-20 07:40] dahabakuk commented on #49247
this is still not fixed in 2019.2.3 and later:
see ->
https://docs.saltstack.com/en/2019.2/ref/netapi/all/salt.netapi.rest_cherrypy.html

[2020-03-20 08:20] yuriks commented on #51605
For anyone stumbling on this: You can use [`slsutil.merge`](https://docs.saltstack.com/en/master/ref/modules/all/salt.modules.slsutil.html) to do exactly the same thing.

[2020-03-20 08:22] myii commented on #51605
@yuriks Thanks for sharing that.  Actually, we've got an active PR that proposes the same thing:

* https://github.com/saltstack-formulas/template-formula/pull/186

[2020-03-20 09:08] cdalvaro commented on #35592
👍

[2020-03-20 10:45] remyd1 commented on #56393
Ok; understood.
I already provided a way to fix this error in my first message.

However, I think you should update your documentation on https//repo.saltstack.com for this problem, on the debian page.

Best regards.

[2020-03-20 10:45] #56393 closed

[2020-03-20 11:54] zloyded commented on #56397
With single environment?
Show you full `file_roots` section please1

[2020-03-20 11:59] fzipi commented on #53886
Any news on this one? Is it just confirmed?

[2020-03-20 12:16] goravsingal commented on #56405
Any reason, why we were still to this old version. Any compatibility issues?
If I change the python-version in this file to 3.6 or 3.7, do you see any issues?

[2020-03-20 12:32] fzipi commented on #55630
Is there an expected timeline for this?

[2020-03-20 13:26] Athos85 commented on #54884
Hi, Any news on this issue? we entered the same issue after upgrading to salt 3000 :/

our stream is about 6.6 MB big
`Exception occurred while handling stream: 6607286 exceeds max_str_len(1048576)`

@flassman how did you manage to "pin" salt to the older msgpack release after installing it? I followed your instruction but I dont find the place where I should take the config change on salt in orde

[2020-03-20 14:05] frogunder commented on #56397
@zloyded Sorry for not replying sooner, its been a busy last few days.

Regarding my `file_roots` settings in master config file, they have not been changed, they are like this, which means they use `/srv/salt`
[code]
 Also checking this sls file:
[code]
give me this result, no errors:
[code]
If you do any changes to the master config file, you will need to restart the master for the changes to ta

[2020-03-20 15:02] asomers commented on #55630
@fzipi I don't have any time allocated for it right now.

[2020-03-20 16:03] gbunt commented on #46926
Does this affect any ext pillar? In any case, when using pillarstack it seems none of the filters are available, is there are a target release for this yet? This is 2019.2.0 anyway;

[code]

Results:
[code]

Seems to me this affects a whole lot of installs? Have to revert to `cmd.shell` now. Not too pretty :-/

[2020-03-20 17:53] whytewolf commented on #55630
zd-4827

[2020-03-20 18:14] waynew commented on #56413
So that's actually really cool! I've not seen Salt run on a MIPS board. Also neat that you're able to run just the .pyc files.

Looking a little closer at this, it probably only works on Python 2 because bytes and text are conflated, when they've been separated under Python3. Looks like this will probably fail under Python3 any time there's no `.py` file.

[2020-03-20 19:09] #46485 closed

[2020-03-20 21:33] lomeroe opened #56421 "queue.process_queue are neither FIFO or LIFO"
### Description of Issue
The queue.process_queue runner module returns items from the queue in what appears to be a lexical order as opposed to using either a FIFO or LIFO strategy.

### Setup
setup a runner queue by adding the following to your master config
[code]

Add any number of items to a queue:

[code]

### Steps to Reproduce Issue
Use the `queue.process_queue` function to pop a number of

[2020-03-20 22:17] jtraub91 opened #56422 "Module.run does not run the way described in the documentation"
### Description of Issue
The documentation located [here](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.module.html) describes the new and legacy style of passing arguments when using the `module.run` state function. However, the new style does not behave as described and the legacy style provides a warning that this will be deprecated in the Sodium release. This can be frustrati

[2020-03-20 22:21] frogunder commented on #56407
@erwindon I am able to replicate this issue, I get the timeout and see this in master log
[code]

I had to fill up `/var/cache/salt/master/jobs/` a lot to be able to replicate it.

You can change the cache setting if it is causing problems for you in your environment.
https://docs.saltstack.com/en/latest/topics/jobs/job_cache.html

But the issue you reported has been confirmed.

Thanks.

[2020-03-20 22:26] frogunder commented on #56421
@lomeroe Thank you for reporting this issue.

I am seeing the same thing.

Thanks.

[2020-03-20 22:52] frogunder commented on #56422
@jtraub91 Thank you for reporting this issue.

I am not able to replicate it, it seems to work correctly for me
Do you have in your minion config file:
[code]

[code]

According to the docs https://docs.saltstack.com/en/latest/ref/states/all/salt.states.module.html
you will need to put in your minion config file:
[code]
to use the new style.
When I removed that I did see the same error you are des

[2020-03-20 22:58] jtraub91 commented on #56422
Oh. Definitely did not have `use_superseded`. What release are we currently on? I thought we past Sodium. But good to know, sorry I missed that.

For reference, the only thing in my minion config was the master
[code]

[2020-03-20 23:02] jtraub91 commented on #56422
Also, I want to point out, in your example, and duplicated on my system with the new config, the new and legacy styles do not behave the same. What explains that discrepancy?

[2020-03-21 02:08] amendlik commented on #56078
I need to rescind my earlier comment. I **am** able to consistently reproduce this error using v3000.
[code]

[2020-03-21 04:04] max-arnold commented on #56078
That is because the bug reappeared again in 3000: https://github.com/saltstack/salt/issues/56131

[2020-03-21 08:59] myongyun commented on #56411
salt 3000

[2020-03-21 09:02] myongyun commented on #56411
I call state file via salt-api 。

[2020-03-21 09:03] myongyun commented on #56411
Salt Version:
           Salt: 3000

Dependency Versions:
           cffi: Not Installed
       cherrypy: unknown
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
         Jinja2: 2.7.2
        libgit2: Not Installed
       M2Crypto: Not Installed
           Mako: Not Installed
   msgpack-pure: Not Installed
 msgpack-python

[2020-03-21 09:24] myongyun commented on #56411
[{"eauth":"pam","tgt":["192.168.31.160"],"kwarg":{"mods":"oozie.oozie_cp_file","pillar":{"oozie.chmod_code":755,"oozie.home_path":"/home/"}},"password":"123456","tgt_type":"list","client":"local_async","fun":"state.apply","username":"test"}]

[2020-03-21 15:41] xiaohuazi123 opened #56424 "How to use saltstack to distribute large files?"
### Description of Issue
Could you please tell me how to use saltstack to distribute large files?
Such as a 1GB large file, was uploaded to master and then distributed to multiple minion.
What are the solutions?

### Setup
no

### Steps to Reproduce Issue
no

### Versions Report
no

[2020-03-21 16:03] #56096 closed

[2020-03-21 16:04] udf2457 commented on #55873
not stale

[2020-03-21 16:04] udf2457 commented on #55887
not stale

[2020-03-21 17:03] #55353 closed

[2020-03-21 18:03] #37575 closed

[2020-03-21 20:57] rossengeorgiev commented on #50803
bump

[2020-03-22 02:24] johnnybubonic opened #56425 "rest_cherrypy's POST /keys does not allow selection of keysize"
### Description of Issue
[The documentation for /keys POST method](https://docs.saltstack.com/en/latest/ref/netapi/all/salt.netapi.rest_cherrypy.html#salt.netapi.rest_cherrypy.app.Keys.POST) states that:

However, it seems to be impossible to specify a keysize larger than 2048.

Here's a snippet I'm using:

[code]

Now, /tmp/keys.tar is indeed a tarball that contains a private and public key with

[2020-03-22 02:26] johnnybubonic commented on #56425
additionally, more of a feature request than an issue, but the files in the tarball have a timestamp of UNIX Epoch. they should probably match time of request or time of generation.

[2020-03-22 04:22] #55436 closed

[2020-03-22 17:02] phwes opened #56428 "Incorrect naming in documentation."
### Description of Issue
Webhook identifier is named "identifier" instead of "webhook" in the documentation in:
salt/salt/states/slack.py

[2020-03-22 17:22] #56150 closed

[2020-03-22 18:22] #52243 closed

[2020-03-22 19:09] danlsgiga commented on #56214
Not stale

[2020-03-22 23:54] garethgreenaway commented on #55061
The PR with the fix has been merged so going to close this one out.

[2020-03-22 23:54] #55061 closed

[2020-03-22 23:57] garethgreenaway commented on #54741
The PR with the fix for this issue has been merged, so going to close this one out.

[2020-03-22 23:57] #54741 closed

[2020-03-23 03:21] #48280 closed

[2020-03-23 08:35] baby-gnu commented on #56187
Do you need more information for this feature request?

[2020-03-23 08:59] Denislb opened #56431 "Module service.stop use StopService instead of StopServiceWithDeps"
### Description of Issue

Module `service.stop` does not stop recursively services on windows.
We got an error when we try to stop  service with dependencies: `ERROR: Failed To Stop ServiceName: A stop control has been sent to a service that other running services are dependent on.`
The service and his dependencies are not stopped

### Setup
- Windows 10
- Salt Minion 3000 py2

### Steps to Reprod

[2020-03-23 10:05] jkmcrg commented on #54821
Lol this would be SICK to have fixed though. I mean it really nerfs the functionality in a lot of places. For instance, even with the psexec hack, I can't seem to locate a windows DDE service running under the logged in user. If I start my DDE client while logged in I find it just fine. When I start my DDE client even through psexec as the logged in user, it somehow can't find the DDE process. So,

[2020-03-23 15:15] Ch3LL commented on #56424
you can take a look at `archive.extracted`, `file.managed`, `rsync.synchronized` states depending on the type of file you are handling. Also the `cp.get_file` execution module

[2020-03-23 15:18] Ch3LL commented on #56425
thanks for the pr!

[2020-03-23 15:31] corywright commented on #23518
The `event.wait` documentation for [2019.2](https://docs.saltstack.com/en/2019.2/ref/states/all/salt.states.event.html#salt.states.event.wait) and [3000](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.event.html#salt.states.event.wait) both indicate that `data` is a valid keyword.

[2020-03-23 15:32] Ch3LL commented on #56431
we could probably add an arg to that state to call `StopServiceWithDeps` if its set. will approve as a feature request thanks.

[2020-03-23 15:38] brandon-sling commented on #53513
running into this too.
[code]

[2020-03-23 16:41] breshead commented on #54821
YES, it is a real pain not having this built in and psexec does seem to fall down in areas. Help in this area would be awesome.

[2020-03-23 16:55] Ch3LL opened #56433 "integration.states.test_pip_state.PipStateTest.test_pip_installed_specific_env failing on MAC"
### Description of Issue
The test `integration.states.test_pip_state.PipStateTest.test_pip_installed_specific_env ` is failing on mac. I investigated a little bit and this started failing when we updated our tests to point to a custom pypi repo. Here is what the pip.conf looks like:

[code]

when pip installing with a requirements file, which the test does the stdout returns different output when

[2020-03-23 17:39] sagetherage commented on #56182
To help here @alan-cugler you may need to get details from @cro or @garethgreenaway. I added confirmed label to keep the stalebot away. :)

[2020-03-23 18:31] waynew commented on #56224
Hey @jf thanks for the report. So far I've been unable to reproduce this - at least with Python 3, on either 2019.2.3 or 3000.

Python 2 *is* EOL, and Sodium (the next release that could include a fix for this) drops support for Python2. Are you able to try this on Python3? If not, I can try to reproduce under Python2.

[2020-03-23 19:38] waynew commented on #56219
@sagetherage I'm assuming this should go into Sodium. It appears to have been broken for quite a while - I went back to debian 8 and this fails with current pkg version names.

[2020-03-23 19:41] waynew commented on #56217
@saurabhnemade Thanks for the report! Unfortunately I cannot reproduce. Can you put together a [MCVE](https://stackoverflow.com/help/minimal-reproducible-example)?

This report is also missing `--versions-report`, etc.

[2020-03-23 19:47] waynew commented on #56212
@dmurphy18 were you able to confirm anything here?

[2020-03-23 19:50] waynew commented on #56211
@praveenkulkarni22 this question may be more appropriate on IRC, the salt-users mailing list, or the community Slack, which you can find [here](https://www.saltstack.com/resources/community/)

[2020-03-23 20:01] waynew commented on #56211
It's unclear what you're asking, but this might do what you're looking for?

[code]

If that doesn't work, let me know and I'll re-open the issue.

[2020-03-23 20:01] #56211 closed

[2020-03-23 20:07] waynew commented on #56207
@GwiYeong Thanks for the report!

This could be a sensible approach, but I suspect that we'll want to discuss this as a team. I'll add it to our agenda to see if anyone else has any thoughts, and let you know!

[2020-03-23 20:26] waynew commented on #56200
It looks like it may just be due to missing `'act': 'denied'` in this block https://github.com/saltstack/salt/blob/d2a5bd8adddb98ec1718d79384aa13b4f37e8028/salt/transport/mixins/auth.py#L384-L388

[2020-03-23 21:21] ixs commented on #46485
Still valid with current salt.

[2020-03-23 21:22] ixs commented on #46485
could someone please reopen this...

this is getting kinda ridiculous... autoclosing issues because nobody is fixing them, really?

[2020-03-23 22:05] dmurphy18 commented on #52446
@nujragan Can you confirm that this issue is fixed and close the issue unless there is something else related to this matter

[2020-03-23 22:15] dmurphy18 commented on #55834
@cro Did you really mean
[code]

That is **python36-pyOpenSSL** for RHEL 7, python3-pyOpenSSL implies RHEL 8 or Fedora

[2020-03-23 22:17] dmurphy18 commented on #56235
@Ch3LL @sagetherage You removed 3000.1 label and added Sodium, but we will not be supporting RHEL 6 or Amazon Linux 1 in Sodium.

Perhaps this should be closed, please do so if you agree.

[2020-03-23 22:22] sagetherage commented on #10723
the documentation looks to be added - is there more to do here @disaster123?

[2020-03-23 22:24] sagetherage commented on #2454
@saltstack/docs-working-group

[2020-03-23 22:28] sagetherage commented on #18751
@saltstack/docs-working-group

[2020-03-23 22:29] sagetherage commented on #18751
removing the `Core` label as to not confuse - this is work in the Core of Salt code, but not for the core team to do the documentation work as of now

[2020-03-23 22:30] sagetherage commented on #52278
@saltstack/docs-working-group

[2020-03-23 22:30] dmurphy18 commented on #55940
@brandon-sling Closing this issue based on your last comment.

[2020-03-23 22:30] #55940 closed

[2020-03-23 22:32] sagetherage commented on #48059
ok those labels should help it not get attacked by stale bot @saltstack/docs-working-group

[2020-03-23 22:33] sagetherage commented on #42717
added `feature` to keep stale bot at bay

[2020-03-23 22:33] sagetherage commented on #42717
@saltstack/docs-working-group

[2020-03-23 22:44] sagetherage commented on #55693
stale bot not

[2020-03-23 22:47] sagetherage commented on #55693
the label `bug`  and `Confirmed` which should keep the stale bot at bay -- with `Documentation and the bug label the Open Core team will know that it is something wrong with the docs to update - I am also thinking we need a Doc WG like team-wg-docs (team-docs is internal) or simply `WG` for working group will take up this work @alan-cugler thoughts? or no? it would be easy to add that to the stale

[2020-03-23 22:49] dmurphy18 commented on #55029
@roaldnefs Currently Salt does not fully support Python 3.8, this is being addressed in the Sodium release.  The distro package will be supplied as part of packaging at that time.  It is currently being provided with the RHEL 8 Py 3 support and is a dependency with Debian 10, that is, it is loaded on Debian 10 by Salt.

Note: Python 3 was only fully support in version 2018.3.0 or higher.

If this

[2020-03-23 22:53] waynew commented on #56183
Yep. This does exactly what you describe.

**/srv/salt/_grains/stuff.py**
[code]

run `salt \* saltutil.sync_all` then `salt \* grains.items`

Should see `zzz` grain at the end. Uncomment the `Caller()` line and re-run sync_all and grains.items. For me, the first time it responded, just without the custom grain. Then the second time around the minion failed to respond. Then the minion is so died -

[2020-03-23 23:14] sagetherage commented on #52270
this was released in Neon, apparently the label never was updated back to Neon

[2020-03-23 23:51] Oloremo commented on #18751
Really waiting for this one 🙏

[2020-03-23 23:59] cro commented on #55834
I think probably back when we were first dealing with this the python-3 based packages were still in flux in the main and EPEL repos.

[2020-03-24 00:14] jf commented on #56224
I see. Thanks for the response, @waynew . Thank you for the note about Python 2 support. I use Ubuntu 18.04 VMs, and I've had issues getting salt-ssh to work with them right out of the box, and resorted to installing `python2.7-minimal` for ssh to work. `python3-minimal` is already installed by default, but without `python2.7-minimal` (?) I still get problems:

[code]

Why should python2.7-minimal

[2020-03-24 01:49] ryanking8215 commented on #56413
Salt supports pyc files in __pycache__ only if working on Python3, which I learned from "loader.py". So after compiling salt by legacy way, salt failed to run because LazyLoader can't load pyc files.

So I stop working on compiling stuff currently.
I think It is worth to decrease size by deleting files not used rather than compiling to *.pyc.

[2020-03-24 02:43] mitar commented on #10723
I think the problem is that it does not work over salt SSH: #42065

[2020-03-24 06:09] tommyhp2 commented on #55029
@dmurphy18 Thank you for the clarification.  I was thinking of testing out salt capabilities.  With the python2 at EOL, I'd figure to try with 3.8 and see what happens.  I've already file a bug report at FreeBSD and it's addressed accordingly.  Thank you.

[2020-03-24 07:57] espeh commented on #53659
Hi,

We are experiencing the same issue with the certificate when we try to upgrade our salt-master from python2 to python3.

Errors on master:
`2020-03-24 08:33:59,369 [tornado.application:340 ][ERROR   ][40981] Future <tornado.concurrent.Future object at 0x7fdf38bd9b70> exception was never retrieved: Traceback (most recent call last):
  File "/usr/lib64/python3.6/site-packages/tornado/gen.py", l

[2020-03-24 09:11] zloyded commented on #56397
Sure.

I have different `file_roots` like this, now in productions setup:
[code]
With this setup i have fails described above.
Ive tryed move `top.sls` to `/srv/salt/` with changes in state paths inside, but still have this issue.
Try move your states by environments
[code]

[2020-03-24 10:22] daks commented on #47891
still relevant

[2020-03-24 10:49] xiaohuazi123 commented on #56424
Thank you for your answer. One more question, is there a direct file transfer module between minion and minion？

[2020-03-24 14:28] Ch3LL commented on #56332
and to clarify this only affects salt-call? it does not affect any other salt commands?

[2020-03-24 14:30] cedwards commented on #56332
So far I have only seen the issue with `salt-call` on the minion and not with `salt` from the master.

[2020-03-24 14:52] dmurphy18 commented on #50770
With Sodium moving to salt-bin, no point in doing this work, closing

[2020-03-24 14:52] #50770 closed

[2020-03-24 14:55] dmurphy18 commented on #50914
@cedwards The ip address used to rsync with that SaltStack used is no longer working, can you suggest an appropriate location to rsync with to pick up the salt-packages

[2020-03-24 14:56] Ch3LL commented on #56361
hmmm if both old and new are identical it should be returning no changes according to the code. Thats what its returning when you run with `test=True` and its still returning changes?

[2020-03-24 14:57] dmurphy18 commented on #48806
@4815162342lost Can you confirm that this issue is now fixed in the latest Salt point release, and if so, close this issue.

[2020-03-24 15:03] dmurphy18 commented on #29132
@racooper @lordfolken This should be addressed by planed changes in how Salt is delivered in the Sodium time frame.

@racooper Didn't forget this issue, but have plans in Sodium to deliver Salt differently which should eliminate this clash, if interested examine salt-bin  https://github.com/saltstack/salt-bin

[2020-03-24 16:12] krionbsd commented on #56332
and I've to add `salt-call` is affected only while running `state.apply state`, running `salt-call` + execution modules works as expected

[2020-03-24 17:25] dmurphy18 commented on #55834
Should be in 3000.1 point release, hence closing this.

[2020-03-24 17:25] #55834 closed

[2020-03-24 17:44] baby-gnu commented on #44693
Please reopen.

Compared to [the documentation](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.config.html#salt.modules.config.get), only the `default` parameter is supported.

[code]

This complicate a lot writing states usable in all circumstances, for example https://github.com/saltstack-formulas/template-formula/pull/186#issuecomment-603307713

Regards.

[2020-03-24 17:52] jleroy commented on #56361
You asked me to log the output of `ip.get_interface` and `ip.build_interface`, but the issue seems to be in `ip.get_network_settings` and `ip.build_network_settings`.
Here's the output of these functions.

**old (ip.get_network_settings):**
[code]

**new (ip.build_network_settings):**
[code]

[2020-03-24 18:00] baby-gnu opened #56441 "salt.modules.config.get does not support merge option with salt-ssh"
### Description of Issue

Trying to use the `merge` option of `salt.modules.config.get` with `salt-ssh` results in the following error:

[code]

Compared to [the documentation](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.config.html#salt.modules.config.get), my tests showed me that only the `default` parameter is supported with `salt-ssh`.

This complicate a lot writing state

[2020-03-24 18:04] mtslzr opened #56442 "Unable to find package `salt` from 2016.11 repo in Cloudbreak CentOS 7"
### Description of Issue
I know this might be a weird, niche problem, but I'm trying to set up Cloudera Cloudbreak CentOS 7 on AWS (AMI IDs can be found here: https://cloudbreak-imagecatalog.s3.amazonaws.com/v3-rc-cb-image-catalog.json; base is CentOS 7).

Can install the 2016.11 EL7 repo with `yum -y install https://repo.saltstack.com/yum/redhat/salt-repo-2016.11-2.el7.noarch.rpm` no problem. But

[2020-03-24 18:08] Ch3LL commented on #55976
@bdrung looks like its a duplicate only for the `formatargspec` warning. looks like there are others that need to be cleaned up:

[code]

@sferia82 there is not a solution currently for the warnings above. we just need to clean them up. this is currently on my backlog

[2020-03-24 18:12] dmurphy18 commented on #56442
@mtslzr Is there a reason for picking 2016.11, which is a very old branch and has long been end of life'd, 2019.2.3 would be a better suggestion to use.

What is the result of yum repolist and can you display the contents of /etc/yum.repo.d/salt-xxxxxx.repo

[2020-03-24 18:15] mtslzr commented on #56442
@dmurphy18 It's not ideal, but company currently requires it (believe it's tied to Python 2.7; there's a big upgrade scheduled, but for the moment I'm stuck with 2016.11).

[code]

[code]

Will try to build a work-around (I know I'm casting a real, real tiny net here) here, but figured it couldn't hurt to mention it (in case it ever impacts other OSes/versions potentially).

[2020-03-24 18:20] mtslzr commented on #56442
For what it's worth, the issue is identical with the latest Salt repo. Sees every other package, but not `salt`.