[2015-02-16 20:13] TheBigBear opened #20734 "winrepo.genrepo type error: Passed invalid arguments: list indices must be integers, not str"
If i have the ```wmi_provider``` subdirectory of the git repo saltstack winrepo in my local masterless windows minions win_repo, and do a ``salt-call -l debug --local winrepo.genrepo``` I get:

[code]

This is another case where a mistake in sls recipes stops winrepo.genrepo from producing a new (even if incomplete) winrepo.p file. very similar to issue saltstack/salt #8157 https://github.com/salt

[2015-02-16 20:22] mikn commented on #16510
During further testing I've found instances where it actually reaches the _return handler. I've now inserted an extra trace log on printing all payloads that pass through the _return method:

[code]
I will continue digging further.

[2015-02-16 20:24] andrejohansson commented on #9931
Thank you!

[2015-02-16 20:27] iggy commented on #19658
Even easier...

[code]

[code]

[code]

[2015-02-16 21:03] Whissi opened #20735 "All salt-minions died with an unhandled exceptions while salt-master was unavailable due to maintenance"
Due to a maintenance window (3h) which started at 18.00 the server running *salt-master* restarted several times and lost/restored network connection.

After we finished maintenance we noticed that **every** salt-minion in our network died at the same time (~120 minions) with an unhandled exception:
[code]

[code]

[2015-02-16 21:03] TheBigBear opened #20736 "salt-winrepo root_dir has only limited effect"
This is merely a question, and I probably got it wrong, but on a windows masterless minion with "`file_client`" set to "`local`" I would expect the "`c:\salt\conf\minion`" entry for "`root_dir`" set to "`c:\salt`" to have the effect that "`/srv/salt/win/repo`" thereafter refers to "`c:\salt\srv\salt\win\repo`" and not to "`c:\srv\salt\win\repo`" ?

So "`/`" should be assumed to now be pointing to

[2015-02-16 21:11] jfindlay commented on #20708
@bechtoldt, I'm not familiar enough with the uses of the ssh execution module to know why newlines should be a problem.  I suppose that the output for ssh.user_keys is going to use whatever outputter you have configured for your system.

[2015-02-16 21:14] jfindlay commented on #20711
@bechtoldt, seems good to me, thanks.

[2015-02-16 21:16] jfindlay commented on #20716
@lblasc, thanks for the report.  @sbrandtb has fixed this in #20633.

[2015-02-16 21:18] jfindlay commented on #20724
@johtso, will you provide the output of `salt --versions-report`?  Thanks.

[2015-02-16 21:19] jfindlay commented on #20727
@shahn, will you provide the output of `salt --versions-report`?  Thanks.

[2015-02-16 21:21] jfindlay commented on #20729
@mooperd, will you provide the output of `salt --versions-report`?  Thanks.

[2015-02-16 21:33] mooperd commented on #20729
[code]

[2015-02-16 21:38] jfindlay commented on #20729
You could try updating to the latest stable release, 2014.7.2, but I suspect that it might not solve the issue.

[2015-02-16 21:41] mikn commented on #16510
Right, I have identified the particular bug that I'm outlining in the logs you see above, it is related to this line of code: `while len(returned_minions) < len(matched_minions):` in `salt.modules.publish._publish`
Since the events are duplicated (as shown in the logs I pasted), the returned minions contain two of each minion that actually returned, meaning that if half of the minions return fast

[2015-02-16 21:46] TheBigBear opened #20737 "salt-winrepo factors and features and RFEs for an impoved windows salt installer"
@UtahDave as you probaly noticed I have done a fair few salt-winrepo sls files and have quite a collection of notes, thoughts and ideas, as to what an improved/refactored salt windows installer should try to make easier.

Is there a start of such a list of issues somewhee that are already in your head, so I don't create too many duplicates?

What's the best way to collect these requirements,issues

[2015-02-16 22:08] TheBigBear opened #20740 "salt-winrepo salt-call --local pkg.refresh_db says: "ImportError: No module named""
On a masterless windows minion if I run "```salt-call -l debug --local pkg.refresh_db```" it returns:

[code]

But I do have severeal valid sls files in my local win repo files on that machine. Isn't this command supposed to finnish wihtout an "```ImportError```"
Or is this not really an error per se? Maybe I am misinterpreting the output?

[2015-02-16 22:31] mikn commented on #16510
Well, would you look at that: https://github.com/saltstack/salt/blob/2014.7/salt/master.py#L1156
It even says `# old dup event` :)

[2015-02-16 22:45] transmutated opened #20742 "Broken Dependencies for new salt installation on Redhat/CentOS 5.X using epel5 repo"
https://bugzilla.redhat.com/show_bug.cgi?id=1185970

Can't install on either of the two distributions using the epel repository. I get the exact error as posted in the bug report. I can verify this happens on both Redhat 5.11 and CentOS 5.

This also negates the installation documentation for the the above stated versions of Redhat and CentOS found here: http://docs.saltstack.com/en/latest/topics/

[2015-02-16 22:45] gidantribal opened #20743 "In HG module opts with spaces are wrongly parsed"
This used to work before:

[code]

But now I get an error, as if the inner quotes are ignored:

[code]

[2015-02-16 23:05] bahadir commented on #20100
I've started refactoring fileserver.gitfs code so we can make it a utils module: https://github.com/bahadir/salt/commits/gitfs-utils

My plan is to make git pillar work like git fileserver backend.

[2015-02-16 23:28] gtmanfred commented on #13085
That is a good way to do it, but unfortunately doesn't start the networks.

I want to get to it, where we do this by passing an ini_settings.present to

http://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.state.html#salt.modules.state.template_str

Directly in a networkd module to setup the file and then start the networking.

[code]

[2015-02-17 00:14] gidantribal commented on #20743
The bad commit seems to be this: https://github.com/saltstack/salt/commit/ce68cfa811972911cc84524187f04c71d84f59dc

[2015-02-17 00:30] russellballestrini commented on #20743
hey @gidantribal - yeah that commit caused the issue for me, I implemented a PR that allows you to pass a path to an `identity` file in this PR: https://github.com/saltstack/salt/pull/20179

I would suggest putting it hg.py (https://github.com/saltstack/salt/blob/develop/salt/states/hg.py) from the develop branch into your file_root under a magic _states directory and use that.

https://github.com

[2015-02-17 02:48] shahn commented on #20727
Of course:

The minion is on debian jessie:

# salt-minion --versions-report
           Salt: 2014.1.13
         Python: 2.7.8 (default, Oct 18 2014, 12:50:18)
         Jinja2: 2.7.3
       M2Crypto: 0.21.1
 msgpack-python: 0.4.2
   msgpack-pure: Not Installed
       pycrypto: 2.6.1
         PyYAML: 3.11
          PyZMQ: 14.4.0
            ZMQ: 4.0.5

The master is on OSX (installed via macports)

[2015-02-17 04:49] jfindlay commented on #20727
Sorry to be picky, but is it possible for you to try upgrading to 2014.7.2 since 2014.1.13 is no longer supported and there are many good changes and fixes in 2014.7.2 that 2014.1.13 doesn't have.  Thanks.

[2015-02-17 04:57] #18457 closed

[2015-02-17 05:35] shahn commented on #20727
I did that, now the versions report is thus (again, the master is likely to be incorrect, I don't know exactly why that is but I used the 2014.7.2 file):

$ salt-minion --versions-report
           Salt: 2014.7.1
         Python: 2.7.8 (default, Oct 18 2014, 12:50:18)
         Jinja2: 2.7.3
       M2Crypto: 0.21.1
 msgpack-python: 0.4.2
   msgpack-pure: Not Installed
       pycrypto: 2.6.1

[2015-02-17 06:13] jayeshka opened #20747 "The function "get_rule_handle" in nftables module throw "Referenced before assignment" error."
While writing the unit test case for nftables.py module.

The part of the function, which thows "Referenced before assignment" error is :
[code]
The error it gives is,

"UnboundLocalError: local variable 'handle' referenced before assignment."

The 'if' condition in the above nftables module is not getting pass. Due to that the above error is occurring.

As, I discussed this issue with @jfindlay .

[2015-02-17 06:58] equinoxefr commented on #19999
A few more oom-killer this night. I saw this log on the master

2015-02-16 20:29:23,114 [salt.client      ][ERROR   ] Salt request timed out. If this error persists, worker_threads may need to be increased.
2015-02-16 20:32:31,948 [salt.client      ][ERROR   ] Salt request timed out. If this error persists, worker_threads may need to be increased.
2015-02-16 20:35:40,124 [salt.client      ][ERROR

[2015-02-17 08:20] gidantribal commented on #20743
Hello russel,
Thanks for your help.. Actually taking last dev version the identity parameter seems broken (not passed to the cimmand), so I guess your PR fixes this too.. I will try asap your branch, as the curent solution is just to use the version before the killer commit.

[2015-02-17 09:29] sebest commented on #6447
Same thing here, using ansible only to setup the VPCs.

[2015-02-17 12:27] johtso commented on #20724
[code]

..but doesn't look like anything relevant has been changed since.

[2015-02-17 14:27] matdrapeau commented on #16556
It appears I am still not able to import another module from a custom module directly.

With such example:
[code]

this command ```salt-call ping.ping``` is returning this import error:
[code]

How to make the import work as expected?

version: salt 2015.2.0-491-g3ba763c (Lithium)

[2015-02-17 15:29] spo0nman commented on #19061
Hello!

I see the same bug with 2014.7.1, I can provide more debug info if needed.

`
salt-call --versions
           Salt: 2014.7.1
         Python: 2.7.9 (default, Dec 30 2014, 13:07:54)
         Jinja2: 2.7.3
       M2Crypto: 0.22
 msgpack-python: 0.4.2
   msgpack-pure: Not Installed
       pycrypto: 2.6.1
        libnacl: Not Installed
         PyYAML: 3.11
          ioflo: Not Installed

[2015-02-17 15:44] nbari commented on #18714
Just tested with version **2014.7.2** but still having the same issue

[2015-02-17 15:52] nbari commented on #19016
Just tried with 2014.1.2 and still have this issue:

          ID: net.ip.portrange.reservedhigh
    Function: sysctl.present
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/usr/local/lib/python2.7/site-packages/salt/state.py", line 1533, in call
                  **cdata['kwargs'])
                File "/usr/local/li

[2015-02-17 16:00] rallytime commented on #20742
Thanks for filing this report @transmutated. We've known about this one for a little bit, but it's good to have an open issue to remind us!

[2015-02-17 16:01] rallytime commented on #20742
ping @terminalmage @cachedout

[2015-02-17 16:01] jfindlay commented on #20724
Thanks, @johtso.

[2015-02-17 16:13] basepi commented on #20352
I have it in an open tag and still want to go through your logs to see if I can figure out what's causing those insane slowdowns, since the pillar file is only assigned to one minion.

I still think the best solution will be to get that grain into the mine or something, because querying all the minions on every pillar refresh is less than ideal. But even querying all the minions I don't feel like

[2015-02-17 16:25] rallytime commented on #20736
Thanks for the report @TheBigBear. I am not familiar with windows questions, but I know that @UtahDave or @shanedlee might be able to shed some light on your questions.

[2015-02-17 16:28] rallytime commented on #20737
@TheBigBear Thanks for opening this issue/question. I am not sure if there is a more complete list of work to be done that @UtahDave or @shanedlee knows about, but in this issue tracker you should start by looking for issues tagged with the "Windows" label.

[2015-02-17 16:31] rallytime commented on #20740
That looks like a bug to me, though I don't know much about the windows environment with salt beyond that. @shanedlee or @UtahDave should be able to help more with that issue though.

@TheBigBear can you please post the output of `salt-call --versions-report`?

[2015-02-17 16:58] pitatus commented on #19587
@Tejeev no mine is not same architecture so can't test this specifically

[2015-02-17 17:06] jfindlay commented on #20743
I think the solution is to backport #20179 to 2014.7.  If I am not correct, @gidantribal, @russellballestrini, please correct me.  Thanks.

[2015-02-17 17:07] UtahDave commented on #20737
Hey, @TheBigBear. Your work on salt-winrepo has been amazing! Thanks so much.

I'd really like to hear your thoughts and ideas on improvements and refactors you'd like to see. I have a lot of things I'd like to do to improve it as well, but my time has been taken up for the last good while by other responsibilities. We have SaltConf coming up in a few weeks which is taking up all my time right now

[2015-02-17 17:14] terminalmage commented on #20742
@transmutated We are not likely to get those dependencies added back to EPEL, the long-term solution here is going to be to establish our own repository on [COPR](http://copr.fedoraproject.org/). I hope to have this set up by the end of the week.

[2015-02-17 17:15] cachedout commented on #20735
The mine needs to gracefully handle auth failures. That should be easy to fix.

[2015-02-17 17:15] garrickp commented on #9272
+1, this affects the archive.extracted state as well, when attempting to retrieve from a third party website (i.e. dynamically pulling in wordpress plugins).

[2015-02-17 17:17] nbari commented on #19016
I just updated the minions and now is working :+1:

[2015-02-17 17:17] #19016 closed

[2015-02-17 17:33] jfindlay commented on #20743
The changes in #20179 are causing too many conflicts in the 2014.7 branch, so we're going to backport to 2015.2, which should come out in the next few weeks.  For now the workaround suggested by @russellballestrini should work.

[2015-02-17 17:34] rallytime commented on #20743
Backport is in #20766

[2015-02-17 17:43] nacengineer commented on #12248
I can confirm this behavior happens when you change the number of CPUs on a Virtual Machine.

Basically I bumped the Procs to 2 sockets / 4 cores/socket  when I bumped it back to the original 1/2 it worked again.

LSB Release
[code]

Uname Info
[code]

[code]

running on VMware ESXi, 5.0.0, 623860

[2015-02-17 17:49] spareslant commented on #20352
it is not only taking longer, it is not even generating data from  few minions in addition to that. Output from first reported incident shows that.

[2015-02-17 18:00] Sacro opened #20767 "Can't use --no-same-owner and --no-same-permissions with archive.extracted state"
This used to work in 2014.1 however now doesn't

<pre>
wordpress:
  archive.extracted:
    - name: {{directory}}
    - source: http://wordpress.org/wordpress-{{version}}.tar.gz
    - source_hash: https://wordpress.org/wordpress-{{version}}.tar.gz.sha1/+sha1
    - archive_format: tar
    - tar_options: --no-same-owner --no-same-permissions -
    - if_missing: {{directory}}/wordpress
    - keep: Tru

[2015-02-17 18:29] ssgward commented on #20732
Thanks for the report. @TheBigBear what version of the Windows minion are you using? And what version of salt are you using?

[2015-02-17 18:31] ssgward commented on #20734
Thanks for the report. @TheBigBear what version of the Windows minion are you using? And what version of salt are you using?

[2015-02-17 19:04] iggy commented on #19061
Is that master? minion? Are you using open_mode?

[2015-02-17 19:25] johtso commented on #20724
The bottom line is the Django module is very basic and needs some work :)

[2015-02-17 19:30] jfindlay commented on #20724
@johtso, if you're interested, please feel free to submit fixes. :-)

[2015-02-17 19:39] TheBigBear commented on #20740
OK, here goes:

[code]

[2015-02-17 19:44] TheBigBear commented on #20732
Windows minion 2014.7.0 (64-bit), and here goes the ```salt-call --versions-report``` output:

[code]

[2015-02-17 19:45] TheBigBear commented on #20734
Windows minion 2014.7.0 (64-bit), and here goes the ```salt-call --versions-report``` output:

[code]

[2015-02-17 20:26] deuscapturus commented on #17062
This might work http://fpaste.org/186724/20467314/

I don't have a Windows build environment of Salt, so I cannot test this.  Could somebody else take it from here?

[2015-02-17 20:29] jfindlay commented on #20747
@jayeshka, the pull request has been merged.  Thanks for reporting.

[2015-02-17 20:29] #20747 closed

[2015-02-17 20:30] jfindlay commented on #20767
@Sacro, thanks for reporting.

[2015-02-17 20:48] terminalmage commented on #18943
@jaymcconnell Can you backup grains/core.py in your Salt installation (usually some place like /usr/lib/python2.7/site-pacakges/salt/grains/core.py), and apply [this patch](https://gist.githubusercontent.com/terminalmage/908830ce12ac77a64a9b/raw/c6f2d0362af7e683c8a007449107726e971f5f05/synology_grains)? Then, restart the salt-minion service and let me know if the new OS grains I added show up?

[2015-02-17 21:10] aboe76 commented on #20660
Issue is within Tumbleweed/Factory on Opensuse/Suse, nothing to do with salt.
somewhere within python-M2crypto or it depencies something is missing...

https://build.opensuse.org/package/show/devel:languages:python/python-M2Crypto

[2015-02-17 22:03] ssgward commented on #20734
I'm not seeing the same error but getting a different error. My steps to setup my environment may have been slightly different than yours. Regardless, looks like we need to look into this a bit more:

Error I'm seeing:
![screen shot 2015-02-17 at 3 02 19 pm](https://cloud.githubusercontent.com/assets/8439595/6238156/18b26892-b6b6-11e4-9d42-5e2922d2ac79.png)

[2015-02-17 22:05] ssgward commented on #20732
I was also able to reproduce the error.

[2015-02-17 22:11] jaymcconnell commented on #18943
I've applied the patch, sadly grains.items now throws and exeption

[code]

[2015-02-17 22:27] jaymcconnell commented on #18943
@terminalmage on line 1000 replacing:

[code]
with
[code]

grains.items now gives os info:

[code]

[2015-02-17 22:38] rallytime commented on #20660
Thanks for the update @aboe76. I've marked this as a upstream bug.

[2015-02-17 22:58] wt opened #20777 "2014.7.0 master could not control 2014.7.1 minion"
Current "salt --versions":

[code]

I use epel6 packages. Over the weekend, the packages were upgraded in the epel6 repo. I have a pkg.latest that installs the salt-master and salt-minions on my fleet.

When the master upgraded, the init script failed to stop the 2014.7.0 master. As a result that 2014.7.0 master was left running after the package was installed (and also after a cronjob that did "s

[2015-02-17 23:00] thatch45 commented on #20777
Thanks @wt we will try to reproduce this and figure out what happened

[2015-02-17 23:01] jfindlay commented on #20597
@johtso, I am unable to reproduce this.  Will you try with the latest 2015.2 branch?  Thanks.

### versions
[code]
[code]

### execution
[code]

### minion log
[code]

[2015-02-17 23:11] terminalmage commented on #18943
D'oh, that's why I put it in a gist first, because I didn't have a way of running it and noticing that obvious issue.

Do you have alternate suggestions for the osfullname grain?

[2015-02-17 23:14] Diaoul commented on #18943
FYI you can run the Synology OS (DSM) in a VM using XPEnology. That makes testing things easier.

[2015-02-17 23:18] terminalmage commented on #18943
Yeah, I understand, but I don't have the time in my schedule to do that at the moment.

[2015-02-17 23:19] jfindlay commented on #20635
@dennisjac, @rquinnlv, do you still see this error after upgrading to the latest 2015.2?

[2015-02-17 23:22] terminalmage commented on #18943
Also, I took a look at the website and there don't appear to be any download links. I went down a rabbit hole of 6 or 7 different forum posts trying to find it and came up with nothing :-1:

[2015-02-17 23:34] cachedout commented on #20647
Hi @ryan-lane and @rfairburn. Please give #20779 a try and let me know how it goes. In my testing it resolves this issue. Thanks!

[2015-02-17 23:37] cachedout commented on #20681
@jasonkeene We would happily accept a PR to fix this if you would like to take a swing at it. :]

[2015-02-17 23:41] deuscapturus commented on #17062
Tested this.  The weirdness I spoke of in my earlier post only happens when executing from an sls file as in my example.  I added the below code to https://github.com/saltstack/salt/blob/develop/salt/states/win_path.py to add this feature.  I think a lot of rewrite work will be needed to implement it properly.

I'm still hoping that somebody better than I will take over from here.

[code]

[2015-02-17 23:48] thatch45 commented on #20639
Yes, if the zmq sockets are not explicitly closed this can happen, seems that some of the auto cleanup code for the connections is no longer being called. This is likely because those calls can cause strange blocking behavior in corner cases, but we will need to dig in to find out exactly why. This is likely a change in the LocalClient code from 2014.1 to 2014.7.
So the thing to look for is if all

[2015-02-17 23:56] cachedout commented on #20639
I vageuly recall us changing around some of that cleanup code but it was a while ago so I would need to go back and figure out what changed. Having this test script from @GrizzlyV should help though.

[2015-02-18 00:01] wt commented on #20777
No problem.

[2015-02-18 00:28] notpeter commented on #17945
Sorry to reopen, but I'm pretty sure this is a regression in 2014.7.  I use gitfs, but I do not specify any gitfs_provider in my master config.  I'd expect fileserver.update to be able to figure out the correct provider (that salt-master normally uses).

Is there a specific reason that the fileserver salt runner requires gitfs_provider to be set?

[2015-02-18 00:36] jfindlay commented on #17945
@terminalmage, will you comment here?  I don't know enough about gitfs to answer @notpeter's questions.

[2015-02-18 01:31] terminalmage commented on #17945
I can't think of a reason why this would be a problem. ``gitfs_provider`` is not a required parameter, and there is logic to determine which provider to use in the event that it is not explicitly defined. I'll have to take a closer look at how the fileserver runner works.

[2015-02-18 02:17] ernstae commented on #19003
I can confirm that this causes a problem with Quantum StorNext (cvfs) mounts in our environment:

[ERROR   ] Command 'mount -o rw,diskproxy=client,remount -t cvfs snfs3 /snfs3 ' failed with return code: 234
[ERROR   ] stderr: syntax error:
"rw,remount,diskproxy=client"
    ^
Unrecognized option: 'remount'

Usage: mount.cvfs [-t cvfs] [-o options..] <filesystem> <local path>
Options:
  ro

[2015-02-18 05:39] ferricoxide commented on #20603
There appears to be a few significant regressions in `file.search` since `salt-2014.7.1-1.el6.noarch.rpm` was published to EPEL. Regexes that worked flawlessly in `salt-2014.7.0-3.el6.noarch.rpm` now function completely differently than before (things that previously evaluated to false now evaluate to true).

[2015-02-18 06:05] ferricoxide commented on #20603
Under 2014-7.0-3:
[code]
Under 2014-7.1-1:
[code]
Other regex errors similarly show up after moving from 2014.7.0 to 2014.7.1 - but they probably all stem from similar "True should be False" conditions.

[2015-02-18 06:20] jaymcconnell commented on #18943
@terminalmage Changing line 1000 as I suggested fixes the issue. I think we have a few devices in the office for testing, I'll double check and see if I can get you a login to test.

[2015-02-18 06:26] eliasp opened #20785 "branches/environments from via GitFS are only added/deleted on salt-master restart"
**OS:** Ubuntu 14.04.1 amd64
**Salt Master:**
[code]

The `gitpython` GitFS backend (others possibly too, haven't tested the `pygit` and `dulwich` backends) doesn't delete branches which have been removed from the remote in the master's cache.

[code]
… still shows old branches/environments which have been deleted long ago from the remote.
This has caused quite some trouble here because I unexpect

[2015-02-18 06:28] UtahDave commented on #18751
@whiteinge would you mind clarifying your clarification?

[2015-02-18 06:42] terminalmage commented on #18943
@jaymcconnell That shouldn't be necessary, I trust your testing and the code change is simple enough. It was merged in this past evening, so I will close this issue. Thanks very much for your assistance.

[2015-02-18 06:42] #18943 closed

[2015-02-18 07:24] whiteinge commented on #18751
@UtahDave A syndic cannot currently have a connection to multiple masters. This ticket is for the following scenario which provides more redundancy than just a master -> syndic-master connection but does not provide full HA.

Given Master A and Master B at main HQ, and syndic-masters a & b in one data center and syndic masters c & d in another data center:

* syndic-masters a & b are configured as

[2015-02-18 08:16] twellspring opened #20786 "API Json formatting for arguments"
I have setup the salt API and can do basic API calls.    I am trying now to send pillar data via the API.

The command line version of this works:
[code]

The json file I am using is below, along with the error.  How should the json be structured for this request to work?

[code]
[code]

[2015-02-18 10:15] pruiz opened #20787 "pillar_source_merging_strategy: smart not working when using more than one renderer at shebang line"
Hi,

I've just noticed 'smart' pillar merging strategy does not work when your pillar files have more than one renderer (ie. `#!jinja|gpg|yamlex`)

It looks like pillar merging code is actually looking for an exact match of 'yamlex', ignoring cases where a mix of renderes are being used.

Take this as example:

roles/top.sls:
[code]

roles/role-a.sls:
[code]

roles/role-b.sls:
[code]

With 'smart'

[2015-02-18 10:42] niamtokik opened #20788 "kwarg issue with reactor"
Hi everyone,

I've an issue with one yaml script, I have read some other opened/closed issue on your github, but, I've not really found a good answer. So first, a small draw of my testing architecture:

[code]

I use a full ubuntu 14.04 (on OpenVZ container) with official saltstack repository, all my server use last salt version (`salt 2014.7.1 (Helium)`). This project is simple, one HTTP request

[2015-02-18 10:54] patelrahul2040 commented on #20362
hi every one i have installed halite,logging is also correct but live doc seacr is not enable
please how to do that ?

[2015-02-18 10:54] eliasp opened #20789 "`user.present` state doesn't show reason for failure when password doesn't match policy requirements"
**OS:** `Win 7 Enterprise x86_64 en_US`
**Salt:**

[code]

**State:**

[code]

**Result:**

[code]

**Debug:**

[code]

**Conclusion:**
The execution module function `win_useradd.add` should handle some common return codes from `net user` (see also: [salt/modules/win_system.py:311](https://github.com/saltstack/salt/blob/2014.7/salt/modules/win_system.py#L311)) and at least log such failures as err

[2015-02-18 10:55] patelrahul2040 commented on #20362
if you have any idia please let me know...

[2015-02-18 11:07] jaymcconnell opened #20790 "disk.usage broken on Synology os"
disk.usage module produces this traceback:

[code]

Seems to be because the df included in the distro has a fixed width and pushes some of the data to a new line when the device name is too long.

[2015-02-18 11:29] eliasp commented on #20737
Some related thoughts I'd like to drop here:

I'd like to see the winrepo definition structure to be updated a bit to match the following requirements:
* Allow `msiexec` to be specified for installer/uninstaller separately (e.g. Adobe Flash, although installed as MSI can't be properly removed via `msiexec` but needs a [separate uninstaller](http://download.macromedia.com/get/flashplayer/current/su

[2015-02-18 11:30] jaymcconnell commented on #20790
I hacked at salt/modules/disk.py and got it working https://gist.github.com/jaymcconnell/c5cf54bda8a483ddf74c

[2015-02-18 11:33] Sacro commented on #14634
Back again, reading the same section.

Unless is stated as NOR, fair enough. Onlyif is stated as the opposite of NOR, that would make it OR. but the description states it as AND. This could do with clarification (don't use 'opposite')

[2015-02-18 12:11] spo0nman commented on #19061
Hi,

Figured what the problem could be, I'm using puppet and salt together and sharing the keys with each other. all the keys that are creating an issue look like
"-----BEGIN RSA PUBLIC KEY-----"

vs, the ones that work look like

"-----BEGIN PUBLIC KEY-----"

So it could be that the puppet master for the affected hosts is generating keys wrongly.

[2015-02-18 12:42] niamtokik commented on #20788
Youps, I've forgot some information, when I launch curl with HTTP Request, `salt-master` see good value:

[code]

I've also try to "force" reactor configuration for generating the same output, but, doesn't work...

[code]

This configuration return that on master:

[code]

So, I've "good" data structure, but not well parsing (yep, not really a clean method :P). Forcing is not the good way in this

[2015-02-18 12:44] lorengordon commented on #20603
Just tested with 2014.7.2 and can confirm the issue exists there as well.

[code]

[2015-02-18 13:31] und1sk0 commented on #18979
any updates?

[2015-02-18 13:32] arthurlogilab opened #20791 "Failing to use lxc with salt-cloud : KeyError in lxc runner"
Trying out salt-cloud with lxc by following the documentation http://docs.saltstack.com/en/latest/topics/cloud/lxc.html#config-lxc

I end up getting :

[code]

Before that I get a bunch of  (ursa being the name of minion providing lxc)
[code]

Am I missing something ? The following works :

[code]

Version:

[code]

[2015-02-18 14:06] agarwal0515 opened #20793 "Grains calculation time"
Is there a way we can disable or reduce the time that the grain calculation takes on individual nodes ? We'd even like an option where we can disable the calculation the 2nd time.

thanks.

[2015-02-18 14:36] cmthornton opened #20794 "Automatically check unless/onlyif condition after cmd.run"
`unless` and `onlyif` conditions should also be checked after the command in `cmd.*` states. The purpose of `unless` and `onlyif` are to prevent subsequent executions of the command, for example:

[code]

Normally when salt executes this state it does the following:
- execute the `unless` condition
- execute the command, unless the `unless` condition succeeded
- continue onto the next salt state

[2015-02-18 14:53] Bilge opened #20795 "archive.extracted tar_options does not support long options or non-option parameters"
### Since 2014.7.1

[This fix](https://github.com/saltstack/salt/pull/18345) only supports short options. It does not support long options or non-option parameters e.g. list of files to extract. If tests passed then the tests are surely deficient.

### Since 2014.7.0

The [documentation](http://docs.saltstack.com/en/latest/ref/states/all/salt.states.archive.html#module-salt.states.archive) for `ar

[2015-02-18 15:08] cachedout commented on #18979
@und1sk0 Forgive me for not being up-to-speed on salt-cloud but does the deprecation date passing now mean that salt-cloud no longer works with Joyent? We might need to bump the severity of this issue to get some eyes on it.

[2015-02-18 15:28] transmutated commented on #20742
Awesome. If you update this issue with the details, I'll dome some testing. Thanks for the update!

[2015-02-18 15:53] jacksontj commented on #20494
Definitely could be it. Do you have an ext_returner defined on the minion or master? Either of those would cause the minion to use the defined returner-- which could have escaping problems. And since specifying it manually fixes it that sounds promising.

[2015-02-18 15:55] jacksontj commented on #18751
To clarify more, since the addition of MultiSyndic you can put a list (instead of a single string) as the master list for a syndic-- and the syndic will connect to all of them-- similar to multiminion. The code is a bit messy, but it does work ;)

[2015-02-18 16:00] cachedout commented on #18751
We need to completely overhaul the topology section of the docs to explain Salt's deployment options:

http://docs.saltstack.com/en/latest/topics/development/topology.html

[2015-02-18 16:07] Whissi commented on #20504
Test is failing on Gentoo with salt-2014.7.2 (same error):
[code]

[2015-02-18 16:08] jacksontj commented on #18751
+1

[2015-02-18 16:22] whiteinge commented on #18751
Holy cow, @jacksontj, that's awesome! I was previously told multi-connections had specifically not been added.

Definite +1 to getting MultiSyndic documented and also adding this to the topology doc.

[2015-02-18 16:24] jacksontj commented on #18751
The only reason I haven't pushed it a lot is that some of the failure cases are a bit odd... I might just go back and thread it to work around them. Basically in a failure scenario (one master unavailable) you have to let zmq attempt to re-connect and we have to re-auth through it-- which means that the syndic will lock up for however long that connect timeout is. In general slow is better than un

[2015-02-18 16:33] whiteinge commented on #18751
Odd failure cases with ZeroMQ, you say? Hm.  ;-)

Thanks for mentioning that. I can think of one or two large sites just offhand that will be interested in getting this set up.

[2015-02-18 16:46] lorengordon commented on #20603
Well, I think I figured out what's going on here. The `replace` function in the `file.py` module was updated to check first whether the replacement string already exists in the file. As part of adding that feature, with commit a4dfb8af38cee5f57fb580a7c8b86e644ee719f4, the `search_only` behavior was modified; it no longer searches for the pattern and returns.

I would guess @eliasp modified the `se

[2015-02-18 17:04] cachedout commented on #20793
``grains_cache: True`` in your minion config.

[2015-02-18 17:15] jacksontj commented on #18751
We are one of them ;)

On Wed, Feb 18, 2015 at 8:33 AM, Seth House <notifications@github.com>
wrote:

[2015-02-18 17:26] jfindlay commented on #20789
Thanks for reporting, @eliasp.

[2015-02-18 17:41] thatch45 commented on #16901
Closed and testcase written, works like a charm for 2015.2

[2015-02-18 17:41] #16901 closed

[2015-02-18 17:41] whiteinge commented on #20786
You're very close!

Both `saltenv` and `pillar` are [keyword arguments that the state.sls function accepts](http://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.state.html#salt.modules.state.sls). They need to be sent down to the minion in the same way the positional argument you have with `arg` is sent, but with the `kwarg` parameter since they're keyword args. Try this instead:

[cod

[2015-02-18 17:42] thatch45 commented on #20635
I am still seeing these in develop

[2015-02-18 17:46] jacksontj commented on #20635
My change was merged into 2015.2 was it merged up to develop yet?
On Feb 18, 2015 9:43 AM, "Thomas S Hatch" <notifications@github.com> wrote:

[2015-02-18 17:49] thatch45 commented on #20635
Based on what I am seeing that is the case, so we just need to merge forward :)

[2015-02-18 17:53] whiteinge commented on #20788
You're very close!

This is a common YAML gotcha to get stuck on. The problem is that `pillar` needs to be indented under `kwarg` otherwise YAML will not interpret it as a sub-dictionary [as you can see here](http://yaml-online-parser.appspot.com/?yaml=thisisatest%3A%0A++local.state.sls%3A%0A++++-+tgt%3A+%27hosting%27%0A++++-+arg%3A%0A++++++-+test%0A++++-+kwarg%3A+%0A++++++pillar%3A%0A++++++++vhos

[2015-02-18 17:54] whiteinge commented on #20788
Also, kudos on the nicest and most helpful ascii-art I've seen in an issue in recent memory!  :-D

[2015-02-18 18:45] jfindlay commented on #20791
@arthurlogilab, I'm not very surprised as there have been issues with the lxc module.  @terminalmage has recently completed a major refactor of that code in 2015.2 and our site docs are going to reference that.  [This](https://salt.readthedocs.org/en/v2014.7.0/topics/cloud/lxc.html) is probably going to be the best hosted web documentation you'll find on the state of lxc pre-2015.2.  Of course you

[2015-02-18 19:16] rallytime commented on #20795
@Bilge Can you post the output of `salt --versions-report` please?

[2015-02-18 19:40] bigg01 opened #20805 "Feature Request vRealize Orchestrator salt plugin"
"Feature Request vRealize Orchestrator salt plugin"

Hi I wondering if you can give VMware a hint to create a salt plugin.
They implemented Puppet looks for me old school we need more Salt on VMware Automation Center.
cheers

link:
http://blogs.vmware.com/management/2015/01/announcing-availability-vrealize-orchestrator-plug-puppet.html
http://blogs.vmware.com/management/files/2015/01/vRA-Puppet-In

[2015-02-18 19:42] jfindlay commented on #20790
@jaymcconnell, looks good.  If you want to submit a pull request containing the changes you've made, please be sure to reference this issue in the commit message, thanks.

[2015-02-18 19:48] basepi opened #20806 "file.search appears to be broken, returning True when it should be False"
Haven't had time to investigate this thoroughly.

[code]

[2015-02-18 19:53] niamtokik commented on #20788
Oh yeah! Its works! Crazy thing! Only for a small indentation!

Many thanks! Saltstack is a crazy tool! I used fabric or ReX on other project, but, Saltstack is just... Awesome! Really nice works! Again: thanks! :)

PS: yep, I'm big fan of ascii-art. I think a small draw is better than long text! ;)

[2015-02-18 19:54] jfindlay commented on #20787
@pruiz, according to @basepi, this should work as expected.  I'm not entirely sure why you'd want 'aggregate' only when you're using the yamlex renderer, but you're welcome to look over (or even try) the commit I've submitted as a proposed fix.

[2015-02-18 19:59] jfindlay commented on #20787
After reading [the docs](http://docs.saltstack.com/en/latest/ref/renderers/all/salt.renderers.yamlex.html), it seems that the `aggregate` and `reset` tags may only apply to the yamlex renderer.

[2015-02-18 20:00] wt opened #20807 "yaml filter generates potentially bad output with single line strings"
I was using some jinja templating in a state. It looks like this:

[code]

The blah pillar was set to "test".

The rendered template looks like:
[code]

The ellipsis terminates yaml parsing, meaning that my /etc/foobaz.cfg file is not created. It seems that pyyaml serializes single strings like so:
[code]

This is probably not what salt should do when filtering a string to yaml. Unfortunately, pyy

[2015-02-18 20:24] terminalmage commented on #20785
We do have a mechanism for detecting stale refs, which is supposed to exclude them. It is probably just malfunctioning. I'll have a look, thanks!

[2015-02-18 20:33] Whissi commented on #20504
Uhm, this is a funny timing issue, if I apply the following patch, the test will pass on my systems:
[code]

Without this "patch", when the test reaches
[code]
`self.avail[saltenv]` is empty
[code]
but it should be
[code]

[2015-02-18 20:39] rallytime commented on #20806
I can reproduce this:
[code]

[2015-02-18 20:41] rallytime commented on #20806
I checked the other branches and it's broken on `2015.2` and `develop` as well with the same results.

[2015-02-18 20:49] lorengordon opened #20809 "Function pam.read_file is not available?"
I've been helping work on a security baseline implemented via salt and saw that salt has the start of a pam module. But it appears salt will only load the module if `libpam.so` exists at `/usr/lib/libpam.so`. On a CentOS system with the 64bit version of the pam rpm, the corresponding file exists in `/lib64`. I'm not sure that `os.path.exists` will have the desired behavior anyway, though, since th

[2015-02-18 20:50] lorengordon commented on #20806
I tracked this one down for you guys already. :)

https://github.com/saltstack/salt/issues/20603

[2015-02-18 21:19] basepi commented on #20794
So I have a few thoughts on this.

I understand your use case and frustration -- I think the most common use case for `unless` and `onlyif` is to check for a "problem" or state, and then fix that state before moving on.

However, it's far from the only use case, and assuming that someone doesn't the state run to continue because the `unless` hasn't changed is something we don't want to do.

So no,

[2015-02-18 21:26] terminalmage commented on #20785
@eliasp We also cache environments for 30 seconds because the available envs are requested often, and calculating them every time they are requested was a major CPU bottleneck. Also, note that the ``cache.clear_all`` runner does not clear the fileserver cache. Can you make sure that you wait at least 30 seconds after you delete the remote branch before running the ``fileserver.envs`` runner?

[2015-02-18 21:32] keeth commented on #16176
.ssh/config & git ext_pillar work great for me.

[code]

[code]

Make sure your git hostname (github.com in our case) is in your known_hosts file, and that everything in .ssh has the correct permissions.

[2015-02-18 21:45] Whissi commented on #20504
OK, `sleep(30)` helps because `check_file_list_cache` from `salt/fileserver/_init_.py` caches for 30 seconds. If I lower *fileserver_list_cache_time* value in the file we don't need to wait 30 seconds.

So the question is how to force a cache refresh... and is this something the test should do or are we missing a forced cache refresh somewhere else.

[2015-02-18 21:58] keeth commented on #9033
I think I just hit this bug too.. very odd.

[2015-02-18 22:04] lorengordon opened #20811 "Dedicated file.backup state for backing up files not managed by salt"
I have a state where I'm attempting to backup a file before executing a command that may modify it. I don't want to replace the file, so I'm not specifying the `source` parameter in `file.managed`. However, it seems that `file.managed`, when there is no `source` parameter, gets to the point where it checks the permissions and then returns immediately when it detects no changes.
https://github.com/

[2015-02-18 22:13] jfindlay commented on #20787
I've done some more research in the code and have found that the the way it's currently structured, the 'smart' pillar_source_merging_strategy only consults the renderer opt, which defaults to `yaml_jinja` (== `jinja|yaml`).  In order to fix this, salt.pillar.merge_sources will need to parse out the shebang lines of `obj_a` and `obj_b` and consider them as it determines the merge strategy.

[2015-02-18 22:34] lorengordon commented on #20494
No, no ext_returner defined anywhere. It's a masterless Windows minion. That setting is whatever the default is.

On Linux, the same test case doesn't result in a Traceback in the output, so perhaps more evidence of a Windows-specific issue somewhere...
[code]

[2015-02-18 22:38] jfindlay commented on #20504
We've fixed most of these failed tests over the past few weeks but were mainly concentrating on one branch (develop) in order to try to get sanity restored.  It is possible that not all of the fixes have been backported, which may be why you're still seeing this race condition.

[2015-02-18 22:56] jfindlay commented on #20494
This is the causal code from [loader.py](https://github.com/saltstack/salt/blob/v2014.7.1/salt/loader.py#L621)
[code]

If you're feeling up to it, you could insert some debug code in there and try
to find out why `imp.find_module` is importing a module with name of either
whitespace, or `''`.

[2015-02-18 22:57] jfindlay commented on #20494
Also, it might be interesting to try to narrow down which actions cause the traceback.

[2015-02-18 23:00] jacksontj commented on #20494
Yea, this does sound like some escaping issue or something in windows. From
looking at the code the best I can come up with is that there is something
which causes "full" to be set (
https://github.com/saltstack/salt/blob/2014.7/salt/loader.py#L587) which
ends up with the loader attempting to load it (
https://github.com/saltstack/salt/blob/2014.7/salt/loader.py#L624). I don't
have any windows mac

[2015-02-18 23:03] lorengordon commented on #20494
@jfindlay, @jacksontj, I can dig into the code some next week perhaps. Plate is full the next couple days and this one is pretty low priority for me, considering the workaround is easy and has no impact to my use case.

I just spin up an EC2 micro instance to play with Windows minions, or sometimes a VMware Player machine. They're really making it easy these days!

[2015-02-18 23:06] jasonrm opened #20812 "Recurse failed with gitfs per-remote mountpoint and file.recurse"
I've been unable to use a git repo with no sub directories at a mountpoint with `file.recurse`.

My guess is that because mountpoints aren't appearing in `cp.list_master_dirs`, for similar reasons, it also isn't being seen by `file.recurse` as a directory. I should be able to work around this by placing the files in my `sphinx` repo into a sub directory for now, but that shouldn't be required.

[c

[2015-02-18 23:12] Whissi commented on #20504
I just tried develop and the test (which was renamed to *PyDSLRendererIncludeTestCase.test_rendering_includes*) is still failing with the same problem.

The problem is, that the test's `setUp()` will create the HighState which populates the available files first and caches the result.
When `test_rendering_includes()` runs later, the cache is still valid so the state files the test creates aren't s

[2015-02-18 23:16] terminalmage commented on #20742
@transmutated Here it is: https://copr.fedoraproject.org/coprs/saltstack/salt-el5/

Once you have enabled the repo, I recommend attempting an install without epel, like so:

[code]

[2015-02-18 23:21] basepi commented on #20352
Assuming your logs are complete, it's only publishing that command like 5 times, which definitely should not be taking 2 minutes. And the fact that the data isn't being generated for all minions is also weird.

Anyway, I'll get this labeled so we can hopefully get some eyes on it.

[2015-02-18 23:21] jfindlay commented on #20504
@Whissi, thanks for looking at this.  @cachedout would have better responses to the points you've made than I.

[2015-02-18 23:30] steverweber commented on #19926
i would like to have some feedback on this...
we are going to order a system soon and I need to have some baseline.

[2015-02-18 23:31] rallytime commented on #20809
Thanks for the report @lorengordon. I am not very familiar with the particulars of the pam module, but it looks like @techhat can perhaps comment on your question here.

[2015-02-18 23:32] steverweber commented on #15197
https://github.com/saltstack/salt/pull/20717

[2015-02-18 23:34] rallytime commented on #20811
Thanks @lorengordon! Can you post the output of `salt --versions-report`?

[2015-02-18 23:39] rallytime commented on #19926
@thatch45 @cachedout or @jacksontj are probably the people that could comment on this question the best. Thoughts, guys?

[2015-02-18 23:52] steverweber commented on #10212
I can use the nacl module to enc grains.:

[code]

it would be nice if the support was a little more low level so the grains could be decrypted as they come into the master's cache so something like salt -G 'nacl:role:db' would resolve..

Since I dont see much advantage to grains for dynamic config. im going to close this issue.

[2015-02-18 23:52] #10212 closed

[2015-02-18 23:55] Bilge commented on #20795
Salt: 2014.7.0
         Python: 2.7.6 (default, Mar 22 2014, 22:59:56)
         Jinja2: 2.7.2
       M2Crypto: Not Installed
 msgpack-python: 0.3.0
   msgpack-pure: Not Installed
       pycrypto: Not Installed
        libnacl: Not Installed
         PyYAML: 3.10
          ioflo: Not Installed
          PyZMQ: Not Installed
           RAET: Not Installed
            ZMQ: Not Installed
           Ma

[2015-02-18 23:57] steverweber commented on #18462
+1

[2015-02-19 00:07] whiteinge commented on #18462
Three +1s will do it.  :-)

This should be a very quick addition. I set a reminder to try and tackle it after SaltConf...unless anyone beats me to it, of course!

[2015-02-19 00:16] #20552 closed

[2015-02-19 00:16] #20422 closed

[2015-02-19 00:21] rallytime commented on #20795
@Bilge Thanks for posting that. We actually had a regression here in 2014.7.0 as described in #18052, which has been fixed. The work around you've described of course works well for now, but the intended behavior was restored in 2014.7.1 where you do not have to specify the 'x'.

Since this is technically a duplicate and has also been fixed, is it alright if we close this?

[2015-02-19 00:34] nmadhok commented on #18462
@whiteinge awesome!

[2015-02-19 01:01] transmutated commented on #20742
I can confirm that on RHEL 5.11 and Centos 5.11 the installation kicked off without a hitch and completed successfully. I was able to join a minion to a server and all is well in the land of Salt Stack and crusty RHEL5 servers. Thanks guys!

[2015-02-19 01:09] terminalmage commented on #20742
Thanks @transmutated, I will update the install documentation to reflect the new install method for EL5.

[2015-02-19 01:23] bradbeam opened #20816 "file.managed failing to render on windows"
When running through the following state on windows, it errors out with filename not defined.

[code]

[code]

I've tried different variations such as the following ( as well as trials with quoting and different slashes ) with no luck.

[code]

When actually specifying the 'filename' variable, it fails with

[code]
When running salt with debug output,
[code]

Running `salt-minion 2014.7.1 (Helium)

[2015-02-19 01:31] eliasp commented on #20785
Ok, so the problem is actually a bit different one.
Environments based on git branches are only updated when restarting the master service.

This doesn't only apply to deleting environments, but also to adding new environments.
IMHO, environment changes done by adding/deleting git branches shouldn't require a restart of the master - would you agree on this statement?

[2015-02-19 01:34] terminalmage commented on #20785
I totally agree, in fact I designed it to work just the way you think it should. If it is indeed behaving in the way you are describing, then this is a regression.

[2015-02-19 01:37] terminalmage commented on #20785
Can you post your git-related master config file options? Please obfuscate anything personally private, such as the URLs of the remotes. Also, please let me know which version of python you are using. For example:

[code]

[2015-02-19 01:48] terminalmage commented on #20785
Another question: Did you actually test a file.managed state using the new environment, or are you just basing this issue on the return data from the ``fileserver.envs`` runner? It's possible that this may just be an issue with the runner.

[2015-02-19 01:52] lorengordon commented on #20811
@rallytime, the file where I linked to the line of code that results in the issue is in the develop branch. I'm testing on a 2014.7.0 minion.

[code]

[2015-02-19 01:59] eliasp commented on #20785
My relevant master config options:
[code]

GitPython version is `0.3.2 RC1` as shipped by Ubuntu 14.0.4.1

I base this not only on the output of the `fileserver.envs` runner, but started to investigate because I ran into unexpected topfile collisions (from environments/branches which I deleted quite some time ago) when applying highstates to Minions and ended up with the findings reported above.

[2015-02-19 02:27] bradbeam commented on #20816
Had a bad template variable which was causing this nonsense. Fixed up the variable and all is well.

[2015-02-19 02:27] #20816 closed

[2015-02-19 02:46] rowedonalde commented on #16677
@johtso Does the service eventually come up? We're experiencing a similar issue with a mysql service, but the service eventually does come up. We notice that this is proportional to the size of the mysql data.

[2015-02-19 03:00] und1sk0 commented on #18979
Correct, you will want to get an SDC 7.0 version of the tools out asap. AFAIK SDC 6.5 is deprecated.

[2015-02-19 03:09] rallytime commented on #20811
Thanks for posting that! I haven't had a chance to reproduce this particular issue yet or look at the code very closely, but offhand you've found the right place to start looking. If you want to take a stab at it, we'd certainly accept a pull request! (Just be sure, if you're able to fix this, to submit the fix against the 2014.7 branch, since that's where you found the bug. The change will then b

[2015-02-19 03:11] rallytime commented on #20816
Glad you figured it out @bradbeam! :)

[2015-02-19 03:12] lorengordon commented on #20811
Yep, I'll chew on it a bit. Plate's full this week, but I might get a chance to work with it next week. Hopefully more snow will result in more snow days and I'll have more time to work on it! :smile:

[2015-02-19 04:17] gladiatr72 opened #20818 "iptables state + mod_aggregate: save -- non-functional"
https://github.com/saltstack/salt/blob/develop/salt/states/iptables.py#L465
https://github.com/saltstack/salt/blob/develop/salt/states/iptables.py#L342

I scavenged the iptables modules/state from trunk to try with a 2014.7.1 core--was very interested in the mod_aggregate work that Mr. Greenaway committed back in November.  It works splendidly except for one thing: The 'save' option is currently n

[2015-02-19 06:37] cmthornton commented on #20794
Thanks for taking the time to look into this, and for advice on how to resolve the issue. I will look into writing a custom state shortly.

I agree.

Commands have numerous side effects that must be considered before and after execution. There will never be a generic `cmd.*` that handles every case, that's why more specialized states, like `mysql.grants`,`pkg.installed`, etc., exist.

However, I d

[2015-02-19 08:24] arthurlogilab commented on #20791
@jfindlay thanks for the info, the documentation you point to is pretty much the same as the one I've used. If I get a chance, I'll try out the code in 2015.2.

A quick patch with seeds.get(name) instead of seeds[name] got me a bit further but it didn't get me a running lxc connected to my master... so more debugging to do there.

[2015-02-19 08:58] terminalmage commented on #20785
@eliasp https://github.com/terminalmage/salt/commit/0487d3aedde038ea4bf4b5aba9fcbbe0e9c3a7ef fixes this for GitPython. I'll take a look at pygit2 in the morning. Due to the way dulwich handles refs, I don't think it would be affected, but I'll be sure to test with it as well.

[2015-02-19 09:08] luxi2001 commented on #18317
I am  also running into this issue. @mikn, Can you provide the details of your workaround?

[2015-02-19 09:48] sollie commented on #20205
@jfindlay Is there an updated ETA on when a version with this fix will go live?

[2015-02-19 09:51] kriberg commented on #20630
The network is separated into different VLANs and the minions are spread out across 3-4 different virtual hosts. There are firewalls between some of the VLANs, but there are established openings between those. All keys are accepted and the minions at least connects initially, so something is working at least.

[2015-02-19 10:04] ltsampros commented on #20418
Hello,

are there any news on this?

BR

[2015-02-19 11:01] Sacro commented on #19766
Duplicate of #4136 - almost 2 years ago, any chance we can get it fixed?

[2015-02-19 11:37] neezgee opened #20823 "unicode on ec2 cloud"
Hello! EC2 operations fails when there is unicode tags on any of instances:

[code]

By the way, even with --hard-crash option this exception is caught somewhere, and I can't figure out how to run pdb to debug it.

[2015-02-19 11:44] Bilge commented on #20795
It is not OK to close this. I updated to 2014.7.1 which now fails with both specifications. This version completely breaks `tar_options` for me.

[2015-02-19 12:00] eliasp opened #20824 "`winrepo.update_git_repos` runner doesn't fully restore remote state"
**OS:** Ubuntu 14.04.1 amd64
**Salt Master:**
[code]
**GitPython:** 0.3.2 RC1

Running the `winrepo.update_git_repos` runner should always ensure the local clone/checkout of the repos represents 100% the state of the remote.

**Relevant Master Config:**
[code]

The following steps show, that's not the case:
1. `salt-run winrepo.update_git_repos`
2. `find /media/volumes/salt/master/fileserver/win/r

[2015-02-19 12:11] eliasp commented on #20785
@terminalmage Thanks a lot for fixing it that quickly - works as expected!
In case you're still in the mood to do git-stuff - I also just filed a related issue (#20824) for the win_repo git support :)

[2015-02-19 12:32] PabloLemos commented on #18425
Hi!I

I have  the same issue. I use redhat 6.5 could you tell me what dependencies i need to install?

Thnkas

[2015-02-19 12:48] techhat commented on #20823
@neezgee, can you paste the output of `salt-cloud --versions-report` please? I've come across this error sometimes when using requests, which is no longer the default in the 2015.2 and develop branches.

[2015-02-19 13:17] bechtoldt commented on #20506
@basepi as @rallytime already stated ``state.highstate`` was meant.

``state.highstate`` uses ``saltenv`` for a purpose I don't understand: https://github.com/saltstack/salt/blob/1e36cbb5c486353e0c6792f41557f130063e22f3/salt/modules/state.py#L481

[2015-02-19 13:48] neezgee commented on #20823
Salt: 2014.7.1
          Python: 2.7.3 (default, Mar 14 2014, 11:57:14)
          Jinja2: 2.6
        M2Crypto: 0.21.1
  msgpack-python: 0.1.10
    msgpack-pure: Not Installed
        pycrypto: 2.6
         libnacl: Not Installed
          PyYAML: 3.10
           ioflo: Not Installed
           PyZMQ: 13.1.0
            RAET: Not Installed
             ZMQ: 3.2.3
            Mako: 0.7.0
 Apache Li

[2015-02-19 14:42] cachedout commented on #20735
This issue needs a test case written, please.

[2015-02-19 15:52] clinta opened #20826 "Elasticsearch Returner "trying to serialize a value with no field associated with it""
When using the Elasticsearch returner as the ext_job_cache the minion logs the following error:

[code]

Version report for the minion:

[code]

And here's the versions of the elasticsearch packages I'm running:

[code]

[2015-02-19 16:00] rallytime commented on #20795
Can you clarify what you mean by "which now fails with both specifications"? Removing the 'x' specification does not work for you either?

[2015-02-19 16:01] Bilge commented on #20795
The following fail:

* - tar_options: --no-anchored foo
* - tar_options: x --no-anchored foo

[2015-02-19 16:01] jfindlay commented on #20205
@sollie, 2014.7.2 is ready to go; we were supposed to announce yesterday.  I'll see what I can figure out.

[2015-02-19 16:03] RobertFach opened #20828 "Forced remount because options changed when no options changed (option=nointr) (2014.7)"
Hi,
I have just tested 2014.7.1 (Helium) on Ubuntu and discovered some more issues with forced remount... patch follows...

The following issues I have discovered so far:
- If the mount proto (e.g., udp, tcp) is specified without the proto=tcp or proto=udo option, that it is not detected correctly. Hence, that option has to be really specified with proto=XX
- Option nointr is not part of mount_inv

[2015-02-19 16:04] rallytime commented on #20795
Thanks for the clarification @Bilge. @jfindlay asked me to assign him to this one, so I'll defer to him on exploring this further.

[2015-02-19 16:08] Bilge commented on #20795
@rallytime :+1: Thanks, I updated the issue title and description to reflect the current summary of affairs.

[2015-02-19 16:11] RobertFach commented on #20828
Fix: https://github.com/saltstack/salt/pull/20831

[2015-02-19 16:16] rallytime commented on #20823
@neezgee That's ok! Are you in a position to give the newer branch like 2015.2 a try to see if this is fixed? No worries if not as we can try to reproduce your error and see if it is fixed in a newer branch.

[2015-02-19 16:18] jfindlay commented on #20795
@Bilge, #19930 is going into 2014.7.2, which should be released today or tomorrow.

[2015-02-19 16:23] mooperd commented on #20729
This appears to be less of an issue when using 2015.2.0 everywhere.
Will inform of any further problems.

[2015-02-19 16:26] ltsampros opened #20833 "modules/network.py seem to be broken in 2015.2.0rc1"
Hello all,

I'm trying to get the default routes/netmask of a machine using network.default_route and network.routes calls through salt-ssh. However both fail on version 2015.2.0rc1:

    ----------
    retcode:
        1
    stderr:
        Traceback (most recent call last):
          File "/tmp/.root_8ed75c__salt/salt-call", line 4, in <module>
            salt_call()
          File "/tmp/.root_

[2015-02-19 16:32] jfindlay commented on #20630
@kriberg, with [this patch](https://github.com/saltstack/salt/pull/20774) backported to 2015.2, I'm hoping that we can find more explicit, interesting things happening at the transport layer that affect basic master/minion communication.  At around 0.10 packet loss, minion replies fail even when the master is actively looking with [find_job](http://docs.saltstack.com/en/latest/ref/modules/all/salt

[2015-02-19 16:48] jfindlay commented on #20729
@mooperd, thanks for the update.

[2015-02-19 16:55] Sacro commented on #14634
Actually, unless is described as "should only run when any of the specified commands return False."

This is not NOR, this is NAND. NOR would only run when all of the specified commands return False.

[2015-02-19 16:57] dsumsky opened #20836 "Windows minion and state.highstate misbehavior"
I noticed a strange behavior when calling state.highstate (and potentically any other) function on Windows minion. It seems that Windows minion does not control how many instances of state.highstate function is running on minion. Let's describe my testing environment  and procedure how to reproduce it (tested on SaltStack 2014.1.13 and also  on the latest 2014.7.1):

- I have a minion accepted by

[2015-02-19 17:12] rallytime commented on #14634
I am going to re-open this issue since some documentation inconsistencies still exist here. @Sacro, feel free to submit a pull request clearing these docs up if you're up to it. Otherwise, I can revisit this as well.

[2015-02-19 17:23] UtahDave commented on #20737
@eliasp I really like your ideas. Makes a lot of sense to me.

Are there any lessons we can learn from how chocolatey and others do their packaging metadata?

[2015-02-19 17:26] johtso commented on #16677
@rowedonalde the service may eventually come up, but it also might not if there is a problem :) The state assumes that it starts okay and doesn't check.

[2015-02-19 17:27] Bilge commented on #20795
@jfindlay I am not very good at Python, but judging from @highlyunavailable's [description](https://github.com/saltstack/salt/pull/19930#issue-55096435) the implementation is still incorrect:

That means that in my example, my path name *foo* will be sent to `tar` as: `tar xfoo --no-anchored` when it should be `tar x --no-anchored foo` because foo is the path name I want to extract, not tar option

[2015-02-19 17:37] ssgward commented on #19766
Rumor is that a different installer is being worked on that will remedy this issue among others.

[2015-02-19 17:59] highlyunavailable commented on #20795
@Bilge You're probably right, I didn't take non-parameter options into account. It would pass it as `tar xfoo` probably.

If you want to specify the path to extract to, I would love a `- extract_to: /foo` parameter but I don't know that other archive implementations can support it.

[2015-02-19 18:00] jfindlay commented on #20795
What do you think about restricting short options to have length == 1?  The Real Solution I think is to enforce options, even short options being supplied with dashes, since the file pattern could potentially be one letter long:
[code]

[2015-02-19 18:04] highlyunavailable commented on #20795
@jfindlay What if someone sets the options to `vJ` for example? The length thing would backfire then. The dash thing is going to backfire too since people (like me) have states with no dashes and concatenated short arguments.

[2015-02-19 18:07] jfindlay commented on #20795
@highlyunavailable, you're right, I misunderstood at first.  What do you think of my revised patch?  You'd be required to concatenate all your short opts at the beginning of `tar_options`.

[2015-02-19 18:09] jfindlay commented on #20795
Or we can deprecate `tar_options` in favor of `tar_shortopts` and `tar_longopts`, but that would have to go into 2015.2 at least and we would need to support both formats for a couple of releases.

[2015-02-19 18:10] leitao commented on #14730
I had the same problem and I fixed it when install pycrypto in the master.

In order to install it, I did the following:
 # sudo apt-get install python-pip python-dev
 # pip install pycrypto

[2015-02-19 18:35] jfindlay commented on #20205
2014.7.2 was announced a couple of hours ago.

[2015-02-19 18:35] jfindlay commented on #20630
https://github.com/saltstack/salt/pull/20838

[2015-02-19 18:48] paha opened #20841 "Passing arguments to runner from reactor/sls is broken?"
running 2014.7.1
Somewhat related issue - https://github.com/saltstack/salt/issues/19996

Calling a runner from reactor:
[code]
[code]
Another variation:
[code]
[code]

[2015-02-19 18:48] rfairburn commented on #20647
@cachedout, I was able to successfully test this this today.  Here is a paste of it working:
https://bpaste.net/show/95ba3d38f4ed

[2015-02-19 19:29] cachedout opened #20844 "Document and add examples for __virtual__ error returns"

[2015-02-19 20:17] westurner commented on #12161
seeAlso: CPython bug .#16991 https://bugs.python.org/issue16991#msg232825 "Add OrderedDict written in C"

[2015-02-19 23:34] spareslant opened #20849 "Feature Request: Watch an sls"
Hi,
Salt provides facility to "require" an entire sls file. This has been a very very useful feature. Is it possible to provide: "watch" an entire sls file. or may be 'onchanges' an entire sls file ?

[2015-02-20 01:06] br0ch0n opened #20850 "puppet.run always returns 0"
puppet.run, which seems to by default call "puppet agent -t" using cmd.run_all isn't returning the proper exit code but seems to always return 0:

local run:
[code]

salt run:
[code]

[2015-02-20 01:29] puneetk opened #20851 "pkgrepo.managed in ubuntu and architecture"
Every time the following state is applied, it appends the name from pkgrepo.managed to the file.

[code]

So after a few runs the " /etc/apt/sources.list.d/subversion18.list" file looks like

[code]

The solution for this is to make the state as follows, except architectures isnt documented on the documentation page for state.pkgrepo.

[code]

[2015-02-20 01:42] whiteinge commented on #20851
Thanks for filing this.

[2015-02-20 01:47] steverweber commented on #20275
+1
is salt importing any libs that are helpful to resolve SRV?

[2015-02-20 02:03] blacked commented on #2053
Doesn't work now.

[2015-02-20 06:51] yourmailmyid opened #20852 "Not able to extract archive in 2014.7.1"
I have following SLS file to extract a tar.gz file.
[code]
Above code fails on a salt-minion of version 2014.7.1 and passes on 2014.7.0 when executed from the same salt-master. The salt-master is on the 2014.7.1 version.

And when I replace the /usr/lib/python2.7/dist-packages/salt/states/archive.py of minion 7.1 with that of the minion 7.1 , the state file works fine on both minions.
So my conclu

[2015-02-20 07:47] neezgee commented on #20823
This is on development:

# salt-call -l trace cloud.full_query

...
[DEBUG   ] "GET /?Action=DescribeInstances&Version=2014-10-01 HTTP/1.1" 200 None
[DEBUG   ] AWS Response Status Code: 200
[DEBUG   ] Failed to execute 'ec2.list_nodes_min()' while querying for running nodes: 'ascii' codec can't encode characters in position 181503-181506: ordinal not in range(128)
Traceback (most recent call last)

[2015-02-20 10:45] terminalmage commented on #20785
@eliasp A better fix for this (and for pygit2) has been submitted in https://github.com/saltstack/salt/pull/20854. This fix will be in Salt 2015.2.0.

I also added a runner to clear the fileserver cache.

[2015-02-20 10:51] eliasp commented on #20785
Awesome! Thanks a lot!

[2015-02-20 10:53] terminalmage commented on #20785
No prob, thanks for reporting! I'm relieved to see this fixed.

[2015-02-20 10:58] jrgp opened #20855 "Loopback filesystems always remount (option=loop) regardless of zero changes (2014.7)"
Hi,

Similar to #20828, I have several mounts defined that are squashfs files which are loop back mounted. Every time I run salt.highstate they're remounted even though nothing changes, regardless of whether loop is specified or not in the mount definition.

Tested and confirmed in Ubuntu and Debian using the official salt repos

Will attach a pull shortly...

Definition:

[code]

[2015-02-20 11:12] Bilge opened #20857 "file.uncomment state does not support multi-character comment markers"
[`salt.states.file.uncomment`](http://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.uncomment) appears to only support single character comment formats.

Attempting to uncomment a line beginning with `//` with either of these configurations:

* `- char: /`
* `- char: //`

...gives the following error.

[2015-02-20 11:16] lsh-0 opened #20858 "service.dead tries to start service"
I have a flag switching services to 'dead' if it looks like it's provisioning a Docker container. The config looks a bit like:

[code]
However when running for the first time, I get this:
[code]
Subsequent runs succeed with:
[code]

Is this a bug or expected behaviour?

[2015-02-20 11:30] eliasp commented on #20836
This would explain weird things happening recently on my Windows minions - I suspected something like this, but never looked that closely at it as you did! Thanks for the thorough investigations!

[2015-02-20 12:02] eliasp commented on #20785
Although your PR is against `2015.2` I applied it here on a `2014.7.1` master.
`fileserver.update` ended up with this:
[code]
The directory `/var/cache/salt/master/gitfs/645f5b4f4850735183ee66ec61a4b697/` was there, but completely empty.
Only after a `fileserver.clear_cache`, it worked again.

I wonder whether this is something others might run into when upgrading.

[2015-02-20 12:42] andrejohansson commented on #16251
I would very much like this feature too, and my cents are not regarding a security feature but for finding errors.

I would say there is a case for both internal and external ip to be included. I'm right now trying to trace a minion gone rouge within our internal network (our master is in azure). So from the master in azure I can only see that one of our internal minions are spamming me with auth

[2015-02-20 13:29] NancyPaul opened #20859 "ImportError: No module named while running masterless minion"
[code]

The above is the error i get while executing the masterless minion. Can anyone please give me a solution. Since i am new to salt i am not able to trace the error. Please help me

[2015-02-20 13:32] ywliu opened #20860 "Feature: To Add Signature Version 4 to Salt-cloud EC2"
According this page:

http://docs.aws.amazon.com/general/latest/gr/signature-version-2.html

So far, Salt-cloud EC2 only supports Signature Version 2, but in China and Eu-Frankfurt, only Version 4 can be used. So in my use case, salt-cloud cannot be used in AWS China.

Boto can switch signature versions automatically in accordance with different regions.

I hope there will be a setting , say, use_

[2015-02-20 14:08] techhat commented on #20860
Salt Cloud now only uses Signature Version 4:

https://github.com/saltstack/salt/blob/2015.2/salt/utils/aws.py#L134
https://github.com/saltstack/salt/blob/2015.2/salt/cloud/clouds/ec2.py#L1630-L1635
etc...

The code for Signature Version 2 has not been removed, just in case we need it, but all calls currently use version 4.

[2015-02-20 14:08] #20860 closed

[2015-02-20 14:11] Bilge commented on #19681
Am I right in thinking this change did not make it into 2014.7.1? I am still experiencing this issue on this version.

[2015-02-20 14:17] sosella opened #20862 "Error running "salt-unity.exe master" after cx-freeze'ing salt-unity.py"
I used cx-freeze to create an EXE build of salt-unity.py.  Below is the setup.py I used:
#

[code]
#

When I go to run the EXE by issuing "salt-unity.exe master" from the build directory, I get the following error messages:

[code]

Does anyone have a tip that might explain what is going on?

[2015-02-20 14:23] ywliu commented on #20860
After looking at salt code and I noticed there is indeed sigv4 in aws.py. I guess I need to open another issue for AWS CN authentication error.

[2015-02-20 15:27] fearthecowboy commented on #11769
FYI, OneGet does indeed have a Chocolatey provider--It was a proof-of-concept prototype. I'm working with some community folks to leverage the 'new' C#-based Chocolatey, and turn that into "the" Chocolatey implementation for OneGet.

We also have a developer working on a DSC resource for OneGet; this should inherently support chocolatey when it arrives :)

[2015-02-20 15:32] tjstansell commented on #17217
I was going to suggest having the user specify a comment for the rule and use that to match on, but then if someone changed the parameters for an existing rule, the new rule wouldn't get added as it would think the rule was already there.  However, salt could auto-generate a comment field (or prefix one supplied by the user) that was unique to that rule and use that to match.  Perhaps simply take

[2015-02-20 15:38] clinta opened #20863 "listen and require conflict"
In the state below, I'd expect the require requisite to ensure that the package is always installed first, and not to attempt to manage the service if the package install fails. And I'd expect the listen requisite to restart the service at the end of the state run if the configuration file changes. But this does not behave as expected. It appears that listen and require conflict with eachother and

[2015-02-20 16:45] basepi commented on #20043
Easy. Create a custom state module with your custom code, and then put it in your state run with an `onfail` requisite. When the original state fails, your custom state will be run.

http://docs.saltstack.com/en/latest/ref/states/writing.html

[2015-02-20 16:48] basepi commented on #12556
We aren't targeting a specific release at this time, but we do want to get this in. The biggest issue is deciding where and how the batching is implemented. Orchestrate itself runs on the master, and then calls down to the minions to do work. If you have a batch flag on the top level call to `salt-run state.orchestrate`, does that mean that all salt.function and salt.state calls inside of the orch

[2015-02-20 16:51] rallytime commented on #19681
@Bilge It did not make it into 2014.7.1. It looks like that fix was merged into 2014.7 two days after 2014.7.1 was tagged.

That being said, this fix is definitely in 2014.7.2. :)

[2015-02-20 16:51] terminalmage commented on #20785
Yes, I noticed this as well on a ``fileserver.update``. This is being caused by a recent bugfix and appears to be unrelated to my pull request, I will look into fixing it though in my pull request.

[2015-02-20 16:53] madisonmay opened #20864 "Add --device flag support for states.dockerio"
Currently the only option for accessing host devices (i.e. GPU block files) is the `--privileged` flag.

[2015-02-20 17:06] puneetk opened #20865 "extension_modules config works different on master and slave"
Or i could be wrong, but this is current issue i am having.

This is the current directory structure we are using:

[code]

in /etc/salt/master i have setup extension_modules as follows:

[code]

On the minion I have to setup the extension_modules as follows, which is different from how I understand from the documentation in the sall minion config page.

[code]

[2015-02-20 17:43] twellspring commented on #15921
Tested different scenarios on this.  Have 4 options
branch dev
branch master
commit  886dca2
commit  cb6e16a
( when specifying commit versions in state, used full commit hash ... only showing short version here for clarity)

[code]

Here is state being used.
git_myapp:
  git.latest:
    - name: "git@bitbucket.org:xxxxx/myapp.git"
    - user: web
    - target: web/myapp
    - rev: {{ version }}

[2015-02-20 17:51] tjstansell commented on #17217
looks like i commented too soon.  pull request #15204 seems to be fixing this for 2015.2 by inserting the rule in a temporary chain, then comparing the result from iptables-save.

[2015-02-20 18:08] terminalmage commented on #20742
I have updated the installation instructions in #20866, so I will close this.

[2015-02-20 18:08] #20742 closed

[2015-02-20 18:30] steverweber commented on #13484
might be related to https://github.com/saltstack/salt/issues/19917

[2015-02-20 18:39] steverweber opened #20867 "develop: file.managed user and group always shows change when not root."
file.managed user and group always shows change when not using the default root user.

on the develop branch.
[code]

using a sls like:

[code]

then run highstate always shows the user and group as changed.
[code]

[2015-02-20 18:45] m87carlson opened #20868 "archive.extract fails on FreeBSD"
FreeBSD's default tar, bsdtar, requires -x:

[code]

[2015-02-20 19:29] kiorky opened #20869 "runners seem again broken in develop"
[code]

[2015-02-20 19:29] kiorky commented on #20869
putting a pdb in one of the modules shows an empty grains dict.

[2015-02-20 19:30] kiorky commented on #20869
cc @thatch45 @jacksontj

[2015-02-20 19:49] rallytime commented on #20852
@yourmailmyid Thanks for the report. Can you remove the `x` in the `tar_options` value? So it would look like: `- tar_options: zv`.

We had a regression in behavior in 2014.7.0 where you had to specify the `x`. Earlier versions did not specify the `x`, so we changed that behavior back to the original for 2014.7.1. Sorry for the troubles on that!

Let us know if that doesn't clear up the issue for

[2015-02-20 19:52] rallytime commented on #20863
@clinta Thanks for the report. We had a similar discussion about this in #19730. If you try using a watch requisite instead of a listen, would that do what you're looking for?

[2015-02-20 19:59] rallytime commented on #20868
@m87carlson Which version of salt are you using? We had a regression revolving around supplying/not-supplying an `x` in the command arguments.

[2015-02-20 20:01] clinta commented on #20863
Thanks, that does look like the same issue. My searching before submitting this didn't find that for some reason.

Watch doesn't really do what I want. I don't need the service restarted when the package state makes changes. The package state will likely restart the service during the upgrade process anyway. I need the require in there so that the service state doesn't attempt to run if for some r

[2015-02-20 20:06] m87carlson commented on #20868
[code]

I apologize, I had not made the connection that 2014.7.2 was release. I'll verify it works there :)

[2015-02-20 20:13] matdrapeau opened #20872 "OSError at master startup"
[code]

[2015-02-20 20:21] rallytime commented on #20868
@m87carlson It's all good! Yes - we had a regression in 2014.7.0 regarding this very problem. I think in both 2014.7.1 and 2014.7.2 this has been fixed. Want to give one of those a try and let us know if this is still an issue or not?

[2015-02-20 20:28] minddrive opened #20874 "Minions stop communicating with masters until restart is done"
We currently have been attempting to replace our MCollective infrastructure with Salt, but have hit one major hurdle: many of the minions after running fine for a while (usually 45-60 minutes) suddenly stop communicating with the master (have removed domain from hosts for all output/logs):
[code]
Restarting the minion immediately corrects the problem, but on many of the minions we have the problem

[2015-02-20 20:30] rallytime commented on #20863
No worries about not finding it. I just spoke with @thatch45 about this and probably what is likely happening is the listen requisite and the require requisite are colliding and we should fix that up.

After reading through your explanation of why you don't want watch, what about using `onchanges`? I think that might be more what you're looking for if watch isn't correct.

[2015-02-20 20:33] rallytime commented on #19730
@tbaker57 Thanks for commenting on this issue. While I think in many cases watch could work instead of listen, I agree that require and listen should be able to work together when that isn't the case. There is a new issue open (#20863) where I've stated that we should fix the requisite collision. Let's use that one to track this bug, since this one is resolved and closed for the original use case.

[2015-02-20 20:40] m87carlson commented on #20868
Just verified it is fixed in 2014.7.2

Sorry for the noise, and thanks again!

[2015-02-20 20:40] #20868 closed

[2015-02-20 20:43] minddrive commented on #20874
Some clarifications:

- Each of our environments has two masters, and all the minions in each environment points to both (we have 300-700 minions in each environment).
- When the minion stops responding, it stops responding to _both_ masters, not just one.

[2015-02-20 20:45] rallytime commented on #20868
No problem! Thanks for using salt! :)

[2015-02-20 20:46] basepi commented on #19861
I actually wanted the debug logs for the master -- any chance you can get those?

[2015-02-20 21:01] rallytime commented on #20872
@matdrapeau Can you tell us what version of salt your running (post the output from `salt --versions-report`) as well as what OS you are running your master on?

[2015-02-20 21:02] clinta commented on #20863
`onchanges` wouldn't do what I need either. I need the state to make sure the service is running whether or not the package state changes anything. I just need to make sure it is always ordered after the package state and if the package state fails, it shouldn't try to run.

[2015-02-20 21:03] clinta commented on #20863
onchanges wouldn't do what I need either. I need the state to make sure the service is running whether or not the package state changes anything. I just need to make sure it is always ordered after the package state and if the package state fails, it shouldn't try to run.

[2015-02-20 21:06] basepi commented on #19658
Thanks, @iggy.

[2015-02-20 21:10] basepi commented on #16556
@matdrapeau Did your pull request fix this?

[2015-02-20 21:10] rallytime commented on #20874
@minddrive Thanks very much for this excellent report. I'm not sure if this will fix your problem exactly, but here are two things that I would try first:
- First, I would try upgrading your affected minions to 2014.7.1
- If you're still seeing problems there, you might also want to upgrade your version of ZMQ to 4.x.

That is interesting about the mine interval jobs. I am not super familiar with

[2015-02-20 21:11] rallytime commented on #20869
Thanks for the report @kiorky. I think I heard @cachedout say something about this very issue this morning.

[2015-02-20 21:14] rallytime commented on #20867
Thanks for the report @steverweber. It is likely that when the changes dictionary was written, the users and groups might not have been considered.

As always, if you want to take a stab at this one, we'd happily accept a pull request.

[2015-02-20 21:20] jfindlay commented on #20833
@ltsampros, we changed the default behavior of cmd.run on 2015.2.0 to run system commands directly rather than go through a shell in order to avoid the security vulnerabilities associated with doing that.  If you want to reenable shell processing of commands you can in order of decreasing vulnerability

- set the `cmd_safe: False` minion option
- use the cmd.shell function or use cmd.run 'netstat

[2015-02-20 21:40] aboe76 commented on #20867
I can confirm what @steverweber reported.

[2015-02-20 21:42] rallytime commented on #20859
@NancyPaul Thanks for reporting your issue. Can you post the output of `salt-call --versions-report`? I am not very familiar with the running salt on windows, but @shanedlee or @UtahDave might be able to help out here.

[2015-02-20 21:45] rallytime commented on #20867
@steverweber or @aboe76 Is this something that worked in the past and has regressed, or no?

[2015-02-20 21:47] cachedout commented on #20869
Eh? Not about this issue. I can look at it in a while, possibly this evening though. At a passing glance, this seems to be in the loader though.

[2015-02-20 21:51] jfindlay commented on #20862
Will you post the output of `salt --versions-report` and also the contents of your master config?  Thanks.

[2015-02-20 21:55] jfindlay commented on #20864
@madisonmay, thanks for the feature request.

[2015-02-20 21:56] rallytime commented on #20836
Thanks for this detailed report @dsumsky. I'm not entirely sure what is happening here, but these details are a great start.

ping @shanedlee and @UtahDave

[2015-02-20 21:58] rallytime commented on #20812
@jasonrm Thanks for this very detailed report! That will help very much in reproducing your issue. I haven't ever used `file.recurse` with gitfs, so I am not quite sure what the fix is here, however @terminalmage might be able to take a look here.

[2015-02-20 21:58] aboe76 commented on #20867
@rallytime I can confirm that the same code still works with 2014.7.1 without a problem
My setup:
master server: running archlinux salt master and minion from develop version
minion server: running debian wheezy 2014.7.1 no problems

wheezy.example:
[code]

arch.example:
Name: /home/aboe/.ssh - Function: file.directory - Result: Clean
----------
          ID: user_aboe_private_key
    Function: fi

[2015-02-20 22:00] rallytime commented on #20828
Thanks for the report and for the fix @RobertFach! That's awesome! Was your fix only for the `nointr` and more work needs to be done here, or did your fix clear everything up?

[2015-02-20 22:01] basepi commented on #20806
Closing this as a duplicate of #20603 because it has some great detective work.

[2015-02-20 22:01] #20806 closed

[2015-02-20 22:02] tbaker57 commented on #20874
Is this the same issue as #20735 relating to auth failures during mine.update ?

cheers
Tim

[2015-02-20 22:02] matdrapeau commented on #20872
@rallytime the reworked commit is done on 2015.2 and the system where the manager is running is MacOSx

[2015-02-20 22:05] rallytime commented on #20869
Ah, sorry @cachedout. I thought they were one-and-the-same. Thanks for looking at this later, though. :)

[2015-02-20 22:08] jfindlay commented on #20857
After having looked through the salt/modules/file.py file, I cannot see anything that would prohibit multichar comment symbols, but I did find that file.comment and file.uncomment are using file.sed, which is deprecated, rather than file.replace.  @Bilge, will you post the output of `salt --versions-report`?  Thanks.

[2015-02-20 22:10] jfindlay commented on #20855
@jrgp, thanks for reporting.

[2015-02-20 22:10] rallytime commented on #20867
Thanks for the update @aboe76 - that is good info to have!

[2015-02-20 22:11] basepi commented on #20794
I suppose we could do something like add a `will_succeed` arg or something to `cmd.run` which checks if the `will_succeed` command succeeds after the command is run... Hrm, I'll have to think on this.

[2015-02-20 22:12] matdrapeau commented on #16556
@baseapi yes it does!
Should I close the ticket myself?

[2015-02-20 22:14] basepi commented on #20418
I wonder if the client API problem here could be related to #19866

[2015-02-20 22:17] basepi commented on #14730
@sfguy Can you try @leitao's solution and report?

I should note that Pycrypto is a stated hard dependency for Salt over ZMQ.

[2015-02-20 22:18] lorengordon commented on #20863
How about this?

[code]

[2015-02-20 22:25] jfindlay commented on #20851
@puneetk, your `name:` URL has three `/`'s, `http:///`, is that deliberate?  Also will you provide the output of `salt --versions-report`?  Thanks.

[2015-02-20 22:26] #16556 closed

[2015-02-20 22:27] basepi commented on #16556
Either way. I grabbed it. =)

[2015-02-20 22:30] jfindlay commented on #20850
@br0ch0n, what is the output of `salt --versions-report`?  Also, what happens if you try `salt '*' cmd.run_all 'puppet agent -t'`?  Thanks.

[2015-02-20 22:33] thatch45 commented on #20863
This is a completely legit bug isolated to the listener, I am working on it now. Listener calls at the end of the routine should discard requisites because they are sure to be completed as listen calls are post run

[2015-02-20 22:40] minddrive commented on #20874
@tbaker57 In my case, the minion process continues to run and seemingly continues to communicate at some level, just not to the point where it can actually do anything.

[2015-02-20 22:41] minddrive commented on #20874
@rallytime Thanks for the information.  I'm upgrading all the minions to 2014.7.1 as we speak in our development environment, and we'll see how that pans out over the weekend.  The next step will be to try upgrading ZMQ and PyZMQ to more recent versions to see if that helps.

[2015-02-20 22:43] rallytime commented on #20874
@minddrive Excellent! Let us know how that works out and we can go from there.

[2015-02-20 22:44] rallytime commented on #20824
Thanks for this great report @eliasp!

ping @terminalmage @shanedlee @UtahDave

[2015-02-20 22:48] rallytime commented on #20826
Thanks for this report @clinta. Was this working on previous versions and we have a regression here, or no?

[2015-02-20 22:51] RobertFach commented on #20828
My fix was only for the ''nointr'' issue. I might have a look at the mount and fstab documention and try to find out what other options might be allowed... However, I think that this might be the wrong approach for that problem, because there are hundreds of options, most are passed through to the underlying filesystem code. To catch everything correctly, a good testing framework would be necessar

[2015-02-20 22:56] UtahDave commented on #20824
The winrepo.update_git_repos would likely benefit tremendously by working how gitfs does. update_git_repos is very old code.

[2015-02-20 23:08] rallytime commented on #20858
@lsh-0 Is that first state the entire state that you're running, or just a piece of it? It looks like something isn't quite right there.

Also, can you post the output of `salt --versions-report`?

[2015-02-20 23:16] rallytime commented on #20828
@RobertFach I'm not too familiar with the filesystem code, but we'd definitely be happy to look over any fixes you submit. Also, I believe the pull request you're referring to fro @jrgp is #20856.

[2015-02-20 23:22] rallytime commented on #20805
I'm not very familiar with vRealize, but I think this feature request seems like a good one!

[2015-02-20 23:24] rallytime commented on #20841
@paha Have you had problems using the reactor with another runner? It's possible that this is a bug with the lxc module, which has been completely refactored in the 2015.2 branch, however it is more likely that this is a bug in the reactor.

[2015-02-20 23:26] rallytime commented on #20849
This seems like a good feature to me. The implementation of the ability to `watch` or `onchanges` an entire sls file could be based on the existing code used to require an entire sls file.

[2015-02-20 23:27] rallytime commented on #20865
I haven't ever used `extension_modules` so I might be wrong, but but it seems like it shouldn't have to be configured on the minion in addition to the master. Either way, this could use some investigation.

[2015-02-20 23:30] jfindlay commented on #20807
@wt, thanks for the report.

[2015-02-20 23:36] #5424 closed

[2015-02-20 23:37] jfindlay opened #20882 "salt.utils.fopen chown failure"
On 2015.2 and later #20715, updated the behavior of salt.utils.fopen to os.path.chown the file's uid and gid to fix errors when running salt-minion as non-root.  However, there are cases, such as when a file is coming over a network filesystem when the file can't be chowned.  This will only happen when the file ownerships != the proc ownerships.  The solution, I think is to try, except it.

[2015-02-20 23:42] puneetk commented on #20851
Saltmaster:
[code]
Minion
[code]

[2015-02-20 23:44] puneetk commented on #20865
We are using it to bucket the ext_pillar and all _modules, _renderers and _states python files. If we keep all the directories under the file_root (/srv/salt) then it works fine,  saltutil.sync_all works and syncs out the files to the minions. If we dont keep them under file_root, then ext_pillar does find the pillar and sync_all doesnt sync out the modules to the minions.

[2015-02-21 00:18] jacksontj commented on #20869
Runners have *never* had access to __grains__-- since it runs on the master. If you create a runner which returns __grains__ you'll notice that the return (empty dict) hasn't changed from 2014.7 to develop today.

The backtrace you are showing above does look interesting though, how did you get that trace to occur? From executing normal runners I seem unable to reproduce.

[2015-02-21 00:28] jrgp commented on #20855
@jfindlay, thanks for merging. :)

[2015-02-21 00:28] #20855 closed

[2015-02-21 00:45] jimmystewpot opened #20884 "salt-cloud aws tags result in signature mismatch error"
Hello,

I am using salt 2014.1.13 and it has been working until recently. As far as I can tell nothing has changed on the host in terms of library versions (the states etc have been in constant flux). However when I recently went to re-provision a set of systems which we use a map file for in salt-cloud it came back with an AWS error (with no configuration change to the AWS profile).

The error is

[2015-02-21 00:55] thatch45 commented on #20863
Yes, your description sounds like a watch would work very well, but thankfully now with my patch I can confirm that the listen requisite collision bug is fixed :)
So do it your way :)

[2015-02-21 00:55] #20863 closed

[2015-02-21 00:57] lorengordon commented on #20863
:+1:

[2015-02-21 01:12] Colstuwjx commented on #20043
cool!!
Many thanks..

[2015-02-21 01:12] #20043 closed

[2015-02-21 02:49] abcfy2 commented on #19861
Sorry, the log level of the master is default warning. I just change it to debug. Waiting for the next.

[2015-02-21 03:57] jfindlay commented on #20872
@cachedout, another unintended consequence of globally chowning all files touched by salt.utils.fopen.

[2015-02-21 04:01] jfindlay commented on #20872
Except that I'm quite wrong and @matdrapeau is right.  I had incorrectly assumed that salt.utils.fopen chowned all files.  It only chowns files if you explicitly give it uid, gid, according to #20715.

I'm going to revert my erroneous fix in favor of #20878.

[2015-02-21 04:03] br0ch0n commented on #20850
[code]

and a node:

[code]

Running salt '*' cmd.run_all 'puppet agent -t' returns what I'd expect is correct behavior, i.e. a non-zero retcode on a puppet change:
[code]
As for passing the $?, you put it outside of the quotes, so via that, the return from salt itself is 0, which I imagine is normal.  If you meant for me to pass it to the nodes (inside the quotes), it retcode is 0, a zero is prin

[2015-02-21 04:24] cvrebert commented on #7210
\**looks at calendar*\*
:sigh:

[2015-02-21 04:38] jfindlay commented on #20850
Thanks for the extra info, @br0ch0n.  Yeah, it is especially confusing since I read over the associated code and didn't see anything obvious.

There is a [goal](https://github.com/saltstack/salt/issues/18510) for beryllium to normalize and standardize module return codes, although it seems that something else might be going on here.

[2015-02-21 06:31] #20120 closed

[2015-02-21 09:39] kiorky commented on #20869
From using a runner which uses another runner through the __salt__ dict.

[2015-02-21 09:39] kiorky commented on #20869
(And running a runner from the command line)

[2015-02-21 09:45] kiorky commented on #20869
More precisely the trace is
[code]

Maybe it tries to search in the "modules" lazyloader instead of the "runners" one

[2015-02-21 09:46] kiorky commented on #20869
the raise is because i changed in lazyloader.processvirtual the code from
[code]
to
[code]

[2015-02-21 09:49] kiorky commented on #20869
Aside,  yes; thinking more seriously, the grains dict should really be empty with the commited, but we can also make it be the __master__ grains very easily.

Shall i post a patch for this ?

[2015-02-21 09:52] kiorky commented on #20869
Live debugging again, my asumption seems correct, we have 'module' instead of runner(s)?
[code]

[2015-02-21 09:53] jasonrm opened #20894 "Unable to run salt-master as non-root (on develop branch)"
Appears that post 08f74bb4c39cf43c823b1679a4282a2542ae0a0f (and relating to #20715, #20872, #20882, #20883, and #20887) running as non-root is not possible.

Far as I can tell, this is fixed on `2015.2` branch, but `develop` is still broken.

[code]

If I create a `Saltfile` it dumps a traceback.

[code]

#### master

[code]

#### Versions
[code]

[2015-02-21 10:43] tsaridas commented on #20727
@shahn @jfindlay
The below works for me
 file.recurse:
    - name: /etc/folder/next/

- watch:
    - file: /etc/folder/next/*

but when I remove the trailing / from /etc/folder/next then it throughs an error.

[2015-02-21 10:46] kiorky commented on #20869
Maybe that it's the internal runner's masterminion which fails to load.
[code]

[2015-02-21 10:57] kiorky commented on #20869
Nope, it is not the MasterMinion, it's functions are ok (group.add is loaded correctly, for example).

[2015-02-21 11:36] stromnet commented on #19375
Hi,

not sure if this is related but I've had problems with startup on FreeBSD 10.1. It turned out to be the minion shutting down if it could not reach the master within 60 seconds, which it couldn't due to connectivity delay on boot (VPNs).

With debug logging, I can see this on boot:
    2015-02-21 12:11:58,736 [salt             ][INFO    ] Setting up the Salt Minion "myhostname"
    2015-02-21

[2015-02-21 11:55] jasonrm opened #20896 "gitfs locking issues"
Since 2014.7.2, I think related to the gitfs related changes like in #20141, I've unable to run `state.highstate` on multiple host without issues. Usually all but a few of the minions will fail. Running against each machine individually works.

I've created a [test repo](https://github.com/jasonrm/salt-gitfs-locks) which I hope will help with reproducing the error. Using a larger git repo such as

[2015-02-21 12:07] kiorky commented on #20869
With this small diff, i can go a bit further, but there are still some global missing in cross loaded runners
[code]

and the further traceback:
[code]

[2015-02-21 12:12] kiorky commented on #20869
ok, i found the bug, so im fullfilling a patch for all those issues, minus the grains load which has yet to be discussed with you all ;)

[2015-02-21 12:23] kiorky commented on #20869
@jacksontj @cachedout, i'm not sure that is is the best fix, as it seems more an overload workaround...

Indeed, the '__globals__' in some functions seems just wrong in the first place, but i didnt tracked it down.

[2015-02-21 12:26] kiorky commented on #20869
At the end of the exec, i have now
[code]
Trying to determine from where this is ouputted ...

[2015-02-21 12:33] kiorky commented on #20869
This is because of buildout generated scripts which expect an integer from scripts returns.
Looking why the behavior is changed here.

[2015-02-21 12:54] clinta commented on #20826
I only recently started using the elasticsearch returner, so I'm not sure.
On Feb 20, 2015 5:49 PM, "Nicole Thomas" <notifications@github.com> wrote:

[2015-02-21 13:17] kiorky opened #20898 "event teardown is broken in develop"
this rels #20869

Sometime at the end of the runners, i get:
[code]
The incoming pullrequest will fix that.

[2015-02-21 14:17] #9770 closed

[2015-02-21 14:22] lorengordon commented on #4348
@clinta, nice! If you need to get the path for an sls other than init.sls, try this:

[code]

That will take {{ sls }}, cut off the item following the last '.', and then join them with '/' to construct a path.

This one should work for any sls that is *not* init.sls. :/

[2015-02-21 15:34] rallytime commented on #18979
@lawnoftrees and @und1sk0 the Joyent driver has been updated to SDC 7.2 in the above pull request. The fix will be available in the upcoming release of 2015.2.0. Feel free to give the 2015.2 branch a try if you want to test it out!

[2015-02-21 15:39] rallytime commented on #20826
No problem! Just wondering if this was working before if maybe there has always been a bug here. I'm not too familiar with the elasticsearch returner, but we'll take a look. Of course, if you're able to figure out a fix before we do, we'd gladly accept a pull request!

[2015-02-21 16:03] piffio commented on #12556
In my opinion, we should be able to specify the batch parameter per state function, since this will allow extreme flexibility in the configuration, and additionally couple this with a "default" flag that could be sent through `salt-run`.
The latter is less important to me, and we could accept that the default is "no batch", so that only those who require special batching configuration will have to

[2015-02-21 17:39] NancyPaul commented on #20859
C:\salt>salt-call --versions-report
           Salt: 2014.7.1
         Python: 2.7.5 (default, May 15 2013, 22:43:36) [MSC v.1500 32 bit (Inte
l)]
         Jinja2: 2.7.1
       M2Crypto: 0.21.1
 msgpack-python: 0.4.2
   msgpack-pure: Not Installed
       pycrypto: 2.6
        libnacl: Not Installed
         PyYAML: 3.11
          ioflo: Not Installed
          PyZMQ: 14.1.1
           RAET: Not In

[2015-02-21 18:17] Comm4nd0 opened #20902 "salt-minion start [ERROR ] Attempt to authenticate with the salt master failed"
Hi all, i'm very new to SaltStack and trying my best... however, i'm now getting the following error:

root@ubuntu:/home/marco# salt-minion start --log-level=debug
[DEBUG   ] Reading configuration from /etc/salt/minion
[DEBUG   ] Configuration file path: /etc/salt/minion
[INFO    ] Setting up the Salt Minion "saltminion"
[DEBUG   ] Created pidfile: /var/run/salt-minion.pid
[DEBUG   ] Reading confi

[2015-02-21 18:19] Comm4nd0 commented on #20902
Also there is this...

root@ubuntu:/home/marco# salt-key -L
Accepted Keys:
myminion
saltminion
Unaccepted Keys:
Rejected Keys:

[2015-02-21 18:34] Comm4nd0 commented on #20902
ok i solved it.

the minion was trying to get to 127.0.0.1 which should have worked at the master is on the save server. However, i changed it to the IP of the same server of which it's on and it authenticated.

Problem solved!

[2015-02-21 19:14] Comm4nd0 opened #20903 "Unable to bind socket, error: [Errno 98] Address already in use The ports are not available to bind."
Hi, i guess my question is, is the below output correct? i'm not able to restart the salt-master process. I've checked and it is running however surly i must be able to stop/start/restart the service.

salt-master restart --log-level=debug
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: ubuntu
[DEBUG   ] Configuration file path: /e

[2015-02-21 19:20] cachedout commented on #20903
It was not shutdown cleanly. You need to kill all salt-master processes before attempting to restart.

[2015-02-21 19:23] Comm4nd0 commented on #20903
tried the below but didn't work. any ideas?

salt-master stop
[WARNING ] Unable to bind socket, error: [Errno 98] Address already in use
The ports are not available to bind

[2015-02-21 19:29] kmt28 commented on #19587
@whiteinge ping

[2015-02-21 20:07] SEJeff commented on #13922
Yes, that would be perfect!

[2015-02-21 20:37] jacksontj commented on #20869
@kiorky In the future it will be a *lot* easier to track down with the command that you ran ;)

It turns out that yes it was injecting the modules not the runners, I've fixed it in #20905

[2015-02-21 20:40] jacksontj commented on #20898
@kiorky How do you reproduce this case?

[2015-02-21 20:57] jacksontj commented on #20898
From chatting on IRC seems that its not broken, just seeing some useless debug log messages on interpreter shutdown.

[2015-02-21 21:16] retrry opened #20906 "linux_acl is broken when using recurse: true"
It seems that the problem exists here: https://github.com/saltstack/salt/blob/develop/salt/modules/linux_acl.py#L222
The command that is created fails, because -m option needs acl_spec as argument.
When using recurse command created is:
[code]
Correct command should be:
[code]

[2015-02-21 21:23] jacksontj commented on #19926
Hmm, kind of a difficult question to answer-- since its not only tied to how many minions-- but how many jobs you plan on executing (and how many returns that will generate). In addition you can make a "weaker" master handle more by having the minions configured with a more aggressive backoff. Also these numbers should change fairly dramatically in 2015.2 (with the singleton auth stuff I put in).

[2015-02-21 21:29] kiorky commented on #20898
I just pushed a better fix (and a rebased branch)

[2015-02-21 21:36] jacksontj commented on #20898
This doesn't make a lot of sense to me. The problem you are trying to workaround is a bit bigger than this patch. The issue you are running into is the non-deterministic order of the python interpreter's shutdown. This patch won't work on all combinations of python/zmq as the order of global cleanup is *not* gauranteed.

In addition, there doesn't seem to be any need for the "swallow" kwarg as you

[2015-02-21 21:36] kiorky commented on #20898
either a global try/catch or a specific swallow is ok for me.

[2015-02-21 21:38] jacksontj commented on #20898
It already contains the global try/catch and #20905 removes the log line (since we can't trust that the logger will work).

[2015-02-21 21:43] steverweber commented on #19926
Thanks. I totally do understand that it's tricky to put a number to something that can be so dynamic.
Your answer was helpful!

[2015-02-21 21:44] jacksontj commented on #19926
If its any help, I have single core VMs with 1gb of ram that I do stress testing in-- and the one master (with 10 minions) handles non-stop job execution for days at a time without issue.

[2015-02-21 21:54] kiorky commented on #20869
@jacksontj seems that my cloud runners are good to track down regressions :) problem is that they are only usable in our custom infra.

[2015-02-21 22:24] Hainish commented on #14677
@whiteinge ping

[2015-02-21 22:31] russellballestrini opened #20907 "salt/salt/fileserver/httpfs.py | Feature Request"
I propose a fileserver_backend that uses HTTP/HTTPS.  This would magically bridge the gap between assets generated and hosted on a deploy server like Jenkins or TeamCity to salt-minions, allowing the transmission to happen over Salts encrypted bus.

Jenkins (80/443 allowing only Salt Master inbound) -> Salt Master -> Salt Minion (hosted anywhere in the world)

[2015-02-21 22:33] cachedout commented on #20907
I think this makes a lot of sense. +1

On Sat, Feb 21, 2015 at 3:31 PM, Russell Ballestrini <
notifications@github.com> wrote:

[2015-02-21 22:39] kiorky opened #20908 "develop: highstate interfers with __opts__ (breaks at least tls mod)"
I think by the lazyloader stuff,  __opts__ is not more global for all modules
[code]

[2015-02-21 22:39] kiorky commented on #20908
cc @jacksontj

[2015-02-21 22:43] mpasternak commented on #18998
Hi,

I've installed 2014.7.1 on Windows 8.1 64-bit,

I have the same error, PermissionDenied while salt client tries to
overwrite hosts file.

... unless I turned off my antivirus software (Kaspersky Internet Security).

Seems like KIS treats hosts file in a special way, preventing its
modification by system service. After disabling KIS protection, salt-call
worked OKAY.

On the other hand, I can

[2015-02-21 22:44] jacksontj commented on #20908
Just because they aren't the same object doesn't mean they dont contain the same items. There was some code in the old version of the loader which will *update* any __opts__ dict defined in the module (instead of clobbering it).

[2015-02-21 22:45] kiorky commented on #20908
Problem is that for immutables, it's a problem as overloading a value from one module is not reflected in the __opts__ of the other one.

[2015-02-21 22:46] kiorky commented on #20908
problem is here: https://github.com/saltstack/salt/blob/develop/salt/loader.py#L831

[2015-02-21 22:47] kiorky commented on #20908
(in other words, config.option is now useless when you try to change something in __opts__, it wont be picked up)

[2015-02-21 22:49] jacksontj commented on #20908
I'm not disagreeing that it is confusing, but it has existed forever (https://github.com/saltstack/salt/blob/2014.7/salt/loader.py#L540)-- I kept it around to maintain backwards compatibility.

[2015-02-21 22:50] kiorky commented on #20908
Nope, before __opts__ was the same object, without that the tls module could never work. (and i use it a lot)

[2015-02-21 22:52] kiorky commented on #20908
maybe https://github.com/saltstack/salt/blob/develop/salt/loader.py#L689 & https://github.com/saltstack/salt/blob/develop/salt/loader.py#L705 should try to use the same obj rather than reinstancing ?

[2015-02-21 22:54] jacksontj commented on #20908
As I mentioned in my last comment, that is the *exact same function* from the old loader. Maybe someone has added a reference to __opts__  in the global namespace since last you used the module? If so it would change the behavior.

Also, why do you say that the tls module wouldn't work if they weren't the exact same object? Modules should care about the contents of the dict *not* that they necessa

[2015-02-21 22:56] jacksontj commented on #20908
If your tls module isn't working it might be more productive to paste the command and output from the failed command run.

[2015-02-21 23:03] kiorky commented on #20908
Damn, i think i have a problem otherwhere, closing this for now ...
But to reprocude at first my idea was this simple function:
[code]

[2015-02-21 23:05] jacksontj commented on #20908
Hmm, looks like https://github.com/saltstack/salt/blob/develop/salt/modules/tls.py#L60 should be using __opts__ instead of __salt__['config.option']

[2015-02-21 23:08] kiorky commented on #20908
nope, that's intended to also look in pillar or grains

[2015-02-21 23:16] kiorky commented on #20908
Damn, i think this is a context problem, because in a highstate, i really have a problem
[code]

[2015-02-21 23:19] steverweber opened #20909 "state file.manage test=True has a result None when should be True"
[root@salt ~]# salt --version
salt 2015.2.0-2929-gcf5157c (Lithium)

when running in test mode... Result is None ... should be True
[code]

[2015-02-21 23:19] steverweber commented on #20909
ill take a quick look...

[2015-02-21 23:23] steverweber commented on #20909
perhaps linked. https://github.com/saltstack/salt/issues/20867

[2015-02-21 23:24] kiorky commented on #20908
so to reproduce:

/srv/salt/_modules/my.py
[code]
/srv/salt/_states/my.py
[code]

/srv/salt/a.sls
[code]

INCORRECT state.highstate see pki
[code]

state.sls (CORRECT):
[code]

[2015-02-21 23:27] kiorky commented on #20908
So, we see that with highstate, we have not the same behavior that with calling sls, something in highstate changes how that __opts__ dict is dealt.

[2015-02-21 23:28] steverweber commented on #20909
guessing issue is in file.check_managed_changes because this seems to be fresh code.
@whiteinge perhaps you could take a look?

[2015-02-21 23:38] lorengordon opened #20910 "file.replace overwrites symbolic links"
If the target of `file.replace` is a symbolic link, `file.replace` is writing a new, regular file over the symbolic link. This happens whether or not there is a change to the file.

[code]

Note that `bar` is a symbolic link. Now:

[code]

Note that `bar` is no longer a symbolic link.

[code]

[2015-02-21 23:44] steverweber commented on #20909
opps disregard... im not seeing the issue on develop. sorry.

[2015-02-21 23:44] #20909 closed

[2015-02-22 01:30] rallytime commented on #20902
@Comm4nd0 Glad you got it all figured out! :)

[2015-02-22 01:30] #20902 closed

[2015-02-22 01:33] rallytime commented on #20903
`@Comm4nd0 First, try this: `ps aux | grep salt-master`. Then, kill the salt-master processes that are still running. After that you should be able to start your master.

[2015-02-22 01:50] rallytime commented on #20906
Good catch @retrry! I've fixed the error in the above pull request. Thanks!

[2015-02-22 01:50] cachedout opened #20912 "__virtual__ errors are not reported to salt CLI"

[2015-02-22 02:26] steverweber commented on #3776
i feel that salt is doing a good job with the 2015.2 release.. close?

[2015-02-22 02:30] steverweber commented on #2309
is this a feature or bug?

[2015-02-22 02:32] steverweber commented on #3378
closed?

[2015-02-22 02:36] steverweber commented on #4134
/ Feature /

[2015-02-22 02:39] steverweber commented on #5908
i think this was merged. . done?

[2015-02-22 02:45] steverweber commented on #7347
inactivity.. resolved?

[2015-02-22 02:54] steverweber commented on #8340
i think this is good now. /done/

[2015-02-22 06:04] madduck commented on #5908
Really? Where/when?

[2015-02-22 06:50] terminalmage commented on #20907
I like it, but it would have to come with a HUGE warning sign, as you'd have to really trust what's on the other end.

However, to make it a *true* fileserver backend, we'd need to be able to "walk" the files/dirs, so we'd need Indexes to be turned on, right?

To avoid downloading everything each time the fileserver updates (by default every ~60 seconds), we'd want to only download the file when i

[2015-02-22 08:30] bechtoldt commented on #20907
YES! :+1:

One could use this backend to store binaries like Tomcat webapps, archives or other packaged applications that are going to be deployed and don't want to be stored in VCS' like Git. :)

Also checksums can be retrieved via Git or another more trustworthy backend: <file>.sha512sum

List indexes could be generated by the user executing something like ``find /docroot/on/http/server -type f`

[2015-02-22 08:45] und1sk0 commented on #18979
Thanks a million!

We'll definitely be testing it out in the next week.

On Sat, Feb 21, 2015 at 7:34 AM, Nicole Thomas <notifications@github.com>
wrote:

[2015-02-22 09:27] thedrow commented on #5908
I have to say that this sounds like a very good idea.
@steverweber I don't think anything happened in that direction.

[2015-02-22 09:35] Comm4nd0 commented on #20903
ps aux | grep salt-master
root      1133  0.4  0.7 142596 31096 ?        Ss   01:32   0:00 /usr/bin/python /usr/bin/salt-master
root      1641  0.4  1.1 223484 49680 ?        S    01:32   0:00 /usr/bin/python /usr/bin/salt-master
root      1642  0.0  0.6 224524 27320 ?        Sl   01:32   0:00 /usr/bin/python /usr/bin/salt-master
root      1648  0.0  0.6 224524 27328 ?        Sl   01:32   0:00 /us

[2015-02-22 09:36] thedrow commented on #20910
This sounds like it's the expected behavior.
What did you expect to happen?
What change do you think that should be done in order for this feature to work as you expect?

[2015-02-22 09:39] Comm4nd0 commented on #20903
and these are the services i'm running...

root@ubuntu:/home/marco# service --status-all
 [ + ]  acpid
 [ - ]  anacron
 [ + ]  apache2
 [ + ]  apparmor
 [ ? ]  apport
 [ + ]  avahi-daemon
 [ + ]  bluetooth
 [ - ]  brltty
 [ ? ]  console-setup
 [ + ]  cron
 [ + ]  cups
 [ + ]  cups-browsed
 [ - ]  dbus
 [ ? ]  dns-clean
 [ + ]  friendly-recovery
 [ - ]  grub-common
 [ ? ]  irqbalance
 [ + ]  kernel

[2015-02-22 09:47] Comm4nd0 commented on #20903
here is a copy of my master file...

##### Primary configuration settings #####
##########################################
# This configuration file is used to manage the behavior of the Salt Master.
# Values that are commented out but have no space after the comment are
# defaults that need not be set in the config. If there is a space after the
# comment that the value is presented as an example

[2015-02-22 10:52] martinhoefling commented on #18839
Thanks!

[2015-02-22 10:55] thedrow commented on #20903
@Comm4nd0 can you reformat the last post please?

[2015-02-22 11:18] Comm4nd0 commented on #20903
##### Primary configuration settings #####
##########################################
# This configuration file is used to manage the behavior of the Salt Master.
# Values that are commented out but have no space after the comment are
# defaults that need not be set in the config. If there is a space after the
# comment that the value is presented as an example and is not the default.

# Per defau

[2015-02-22 11:21] kiorky commented on #20908
@jacksontj this diff seems to resume the initial behavior, but i am not sure yet of it is right or not.

[code]

[2015-02-22 12:28] Comm4nd0 commented on #20903
'''
here is a copy of my master file...

##### Primary configuration settings #####
##########################################
# This configuration file is used to manage the behavior of the Salt Master.
# Values that are commented out but have no space after the comment are
# defaults that need not be set in the config. If there is a space after the
# comment that the value is presented as an exa

[2015-02-22 12:29] Comm4nd0 commented on #20903
i can't work it out.

I don't think it matters anyway, i've given all the info i can on this error. does anyone have any suggestions?

[2015-02-22 12:30] Comm4nd0 commented on #20903
should the master say this?

# The address of the interface to bind to:
interface: 0.0.0.0

[2015-02-22 13:08] steverweber commented on #5908
opps sorry mistake.

[2015-02-22 13:37] steverweber commented on #18512
salt opencs-app\* cmd.run 'salt --version'
opencs-app.salt.math.uwaterloo.ca:
    salt 2015.2.0-530-ga0440c6 (Lithium)

salt opencs-app\* state.highstate
[code]

[2015-02-22 13:41] steverweber commented on #18512
it seems interesting that @amendlik ran for 17077.746 ms.

[2015-02-22 13:41] mikn commented on #18317
@luxi2001 The problem lies on this row: https://github.com/saltstack/salt/blob/2014.7/salt/modules/publish.py#L58
It breaks if you want to send more than one argument in. So, what you need to do is something like this (untested code) instead of that single line:
[code]
The syntax for a yaml list is slightly different, too. You need to do `[value, value, value]` and not just `value, value, value` a

[2015-02-22 13:49] lorengordon commented on #20910
Well, it was a complete surprise to me. I would never expect `file.replace` to change a file attribute like that, and most especially not if `file.replace` doesn't actually make any changes.

I would expect `file.replace` to dereference the symbolic link and operate on the regular file it points to.

[2015-02-22 14:20] NancyPaul commented on #20859
C:\salt>salt-call.exe --local -l debug winrepo.genrepo
[DEBUG   ] Reading configuration from c:\salt\conf\minion
[DEBUG   ] Configuration file path: c:\salt\conf\minion
[DEBUG   ] Reading configuration from c:\salt\conf\minion
[DEBUG   ] Mako not available
{'name_map': {'Mozilla Firefox 35.0.1 (x86 en-US)': 'firefox'},
 'repo': {'firefox': {'35.0.1': {'full_name': 'Mozilla Firefox 35.0.1 (x86 en-U

[2015-02-22 14:42] lorengordon opened #20915 "Logic conflict with `changes` in service.running and service.dead?"
I was reviewing the code for the service.py state, and I think I stumbled into a conflict with the `changes` logic when `enable` is set. It has to do with how the `_enable()` and `_disable()` functions handle the `started` parameter.

The `_enable()` and `_disable()` functions use the `started` parameter to gate whether `changes=True`. But `service.running` and `service.dead` both use `started` to

[2015-02-22 15:42] russellballestrini commented on #20907
Yeah, this wouldn't be a HTTP/HTTPS file back end but rather an HTML directory backend, which makes things a bit more tricky.

I came up with a solution last night. Basically my Jenkins build server is a Salt Minion and I allow minions to push_dir to the master, and I serve the file using salt:// to production minions. (http://docs.saltstack.com/en/latest/topics/tutorials/minionfs.html)

This work

[2015-02-22 16:17] terminalmage commented on #20907
@russellballestrini Ahh! That's too bad. I wasn't able to make it this year either, I just noticed that you opened this issue and @cachedout commented on it, and I knew @cachedout was at SCaLE, so I connected the dots.

[2015-02-22 16:22] terminalmage commented on #20907
@bechtoldt @russellballestrini Perhaps a hybrid solution could work best. If the http(s) source is a minion we could just run a ``find`` command to get the list of files, and if not then we could fall back to attempting to parse the index.

[2015-02-22 16:41] russellballestrini commented on #20907
Sort of unrelated but this ended up being my immediate work around for Jenkins build server publishing securely to Salt Master: http://russell.ballestrini.net/securely-publish-jenkins-build-artifacts-on-salt-master/

[2015-02-22 16:46] terminalmage commented on #20907
As an added layer of security, we could force checksum verification of files sourced from non-minion hosts.

[2015-02-22 19:55] techhat commented on #20907
Is it worth considering WebDAV for this? http://en.wikipedia.org/wiki/WebDAV

[2015-02-23 04:40] terminalmage commented on #18839
The fix that @crasu made needed to be reverted, so I'm going to reopen this so that we can continue to investigate.

The traceback which @eyj posted is completely unrelated to this. To be honest, I am not sure how this could happen, since the parent directory for the hash file is created in the ``find_file()`` function. @eyj, if this continues to happen, please look for other errors in the log fil

[2015-02-23 05:50] br0ch0n commented on #19861
I've just had this happen in my test env.  In my case the salt master wasn't even started (i.e. can't be the master's fault), which is what I first thought the
[code]
was.  However, after I started up my salt master node and didn't see the minion node connect, I became concerned.  Turns out the minion proc on the minion node decided to crash rather than keep attempting to connect to the (at the ti

[2015-02-23 05:51] cvrebert commented on #20882
Should this be closed since #20887 was merged?

[2015-02-23 06:58] yourmailmyid commented on #20852
@rallytime I did change the tar_options from zxv to zv. But I am still seeing the same error on version 2014.7.1
Here's the output:

compute:
----------
          ID: sensu-untar
    Function: archive.extracted
        Name: /home/user/sensu/
      Result: False
     Comment:
     Started: 06:53:27.163296
    Duration: 5.542 ms
     Changes:
              ----------
              pid:

[2015-02-23 09:53] bbinet opened #20921 "2014.7 regression: InvalidRepository: Invalid repository name (debian:wheezy)"
In 2014.7 branch, I cannot pull a container with a tag anymore, I get the following error:

[code]
After some investigation, I think this is due to pr #18601 which overrides the image name to include the tag, but this makes the dockerpy `resolve_repository_name` function to fail.

This regression seem to be already fixed in the develop branch, so you can cherry-pick the following relevant commits

[2015-02-23 11:33] bbinet commented on #20921
So I've created a PR against 2014.7 and 2015.2 branch to easily backport the fix:
  - #20922
  - #20923

[2015-02-23 11:57] masterkorp opened #20924 "No module named cli.caller"
Hello,

After an apt-get update salt is totally broken.
When trying to run the ``postgres.version``` module:

[code]

[code]

Using ``Ubuntu 14.04 LTS`` here is the version of the package.

[code]

[2015-02-23 12:29] lsh-0 commented on #20858
That was just a snippet. The full state is/was:
[code]

[2015-02-23 13:20] Inveracity opened #20925 "[question] Plans to integrate support for Azure Pack (on premise cloud)"
As title

Any plans to include support for Windows Azure Pack (on premise cloud) to provide SaltStack as a service for tenants?

[2015-02-23 13:57] clinta commented on #20631
Based on the results in the report I wouldn't expect a delay in that circumstance. `Comment: Service snmpd is already enabled, and is running` Indicates that the service was not started or restarted, so salt shouldn't be triggering a delay.

However, while investigating this I did notice what looks like a bug in service.py that init_delay is only called during running and not during mod_watch.

[2015-02-23 14:07] travishegner commented on #20631
I can confirm that this issue also affects us.

[code]
Because dnsmasq (a local caching dns resolver) rewrites the resolv.conf before actually being ready to accept queries, some random state after this one that may require a dns query will fail. I expected init_delay to solve that problem by giving the service ample time to initialize. However, I am seeing the following output on the server's ini

[2015-02-23 14:25] I3olle opened #20926 "'u' included when importing .json"
I have a .json file with the following recurring content:
[code]

The state file beginns with the following
[code]

When I call the state file I get this as output
[code]
and of course these errors:
[code]

If I am not mistaken I somehow import the python regular exprssion for unicode character classes? Is this a bug or do I have to change something?

[2015-02-23 14:30] sollie commented on #20205
@jfindlay Thanks for the update.

[2015-02-23 14:32] I3olle commented on #20629
ping @rallytime and @techhat
Do you need more info from my side?

[2015-02-23 15:17] traxair commented on #20362
@rallytime I still get the issue when using the 2015.2rc1 tag...

[2015-02-23 15:28] terminalmage commented on #18710
@damonnk Just following up on this, were you able to confirm that the update is happening?

[2015-02-23 15:31] jfindlay commented on #20921
@bbinet, thanks for the report.

[2015-02-23 16:02] bemeyert commented on #16397
We have a similar situation where minions are marked as down. The logs tell us nothing of interest. See attached picture where we graphed the number of minions down and up over a few hours(`salt-run manage.up/down`). User version are 2014.7.[0-2]
![number_of_minions](https://cloud.githubusercontent.com/assets/1432750/6331067/f517b428-bb74-11e4-9391-ffd604a8b008.png)

[2015-02-23 16:11] rallytime commented on #20362
@traxair Thanks for the update. The fix was made right after 2015.2.0rc1 was tagged. So the fix didn't make it into the first RC. It is fixed in the head of 2015.2 and will be available either in the next RC or the official release on 2015.2

[2015-02-23 16:22] choopooly commented on #19763
@alari you can still use the cmd.run instead

[2015-02-23 16:23] george-makerbot opened #20929 "__query_ip_address() takes exactly 1 argument (2 given)"
#18457 fix was an incomplete fix. They removed the extra argument, but did not fix up any of the callers. Essentially breaking everything that would call it.

[code]

[2015-02-23 16:28] rallytime commented on #20929
Thanks for the report @george-makerbot. Can you please post the output of `salt-cloud --versions-report`?

[2015-02-23 16:31] gtmanfred commented on #13842
+1 this would be awesome.  I am doing this stuff right now in reactors, and having to return a {} to make it not throw errors.

(so I can execute python code on the master.)

Thanks
Daniel

[2015-02-23 16:32] jfindlay commented on #20924
@masterkorp, I have had this problem before but only from installing different git revisions with pip.  It is caused by .pyc files leftover from the previous version.  I have not seen this happen with distro packages.  Did you install with pip at any time on this system?  The solution is to ensure that all .pyc and .pyo files are removed/regenerated.  You can try something like:
- `find /usr/lib/p

[2015-02-23 16:39] jfindlay commented on #20915
Thanks, @lorengordon, @eliasp for looking at this.

[2015-02-23 16:47] bechtoldt commented on #12483
Could someone please sum up what's currently working differently from the behavior described in the docs?
I see a mighty wall of text in this ticket and would need some time to understand and verify what's the actual problem.

[2015-02-23 16:47] ssgward commented on #18998
Thanks @mpasternak. Will close issue.

[2015-02-23 16:47] #18998 closed

[2015-02-23 16:50] rallytime commented on #20929
Hrm. That versions report doesn't seem to match up with running into this error. I only pulled out the `url` argument from `__query_ip_address` last week on the develop branch, not 2015.2. I didn't realize that it was a callback, which was why it wasn't fully implemented.

Anyway, hopefully that is all that is needed to fix this error. However, since that versions report is a little confusing, the

[2015-02-23 16:58] jfindlay commented on #20910
Part of the reason for having symbolic links is to redirect actions to the target,
[code]
Causing `file.replace` to respect symbolic links would be a change of behavior, but I don't know of any tool or utility that operates on files that will clobber a symbolic link in this way.  Such behavior is less than well-defined and is somewhat risky, but you create symbolic links knowing and expecting this

[2015-02-23 16:58] rallytime commented on #20852
Ah, sorry for pointing you in the wrong direction. I was thinking this was the same `x` vs no `x` regression/change we've been seeing reports for. It looks like this has actually been fixed with https://github.com/saltstack/salt/pull/19930 and is fixed in 2014.7.2. Want to give that one more try on this newest release to confirm?

[2015-02-23 17:01] jfindlay commented on #20898
@kiorky, @jacksontj, thanks for working this out.

[2015-02-23 17:03] ssgward commented on #20859
@NancyPaul

Try adding the following to the minion.conf file (if not already there):
[code]

Run the following command on the Windows minion: ``salt-call winrepo.genrepo -c c:\salt\conf``

Try running your state.highstate again.

Reference: Github #6180

[2015-02-23 17:05] masterkorp commented on #20924
Hello @jfindlay

I did this, and the problem still persists.

[2015-02-23 17:08] jfindlay commented on #20908
@kiorky, I know there was some effort recently to make `__opts__` immutable on develop, whereas it wasn't previously.  Do you think the tls module is broken because it now produces inconsistent results now that `__opts__` is immutable?

[2015-02-23 17:12] rallytime commented on #20929
@george-makerbot Awesome! I'll close this one out then.

If this pops back up again, leave a comment and I can re-open this issue and take another look. Thanks!

[2015-02-23 17:12] #20929 closed

[2015-02-23 17:13] jfindlay commented on #20926
@I3olle, thanks for the report.

[2015-02-23 17:19] jfindlay commented on #20818
@gladiatr72, thanks for looking at this.  From what I've heard from @basepi, iptables is difficult to state because rule changes can be {tenuously|not} idempotent.  I personally don't have much experience with using that state or with the known or historic issues thereof but am happy to help review any code changes you may have.  Your idea about an abstract state sounds good to me, but, you know,

[2015-02-23 17:19] rallytime commented on #20884
@jimmystewpot Thanks for the report! Using spaces in tags with ec2/aws has been a long-outstanding issue and I'm actually not quite sure how this was working for you before. When salt-cloud was in a separate repository, we had this bug https://github.com/saltstack/salt-cloud/issues/826 which hasn't been resolved yet.

Now that salt-cloud has been merged into the larger salt project for quite a whi

[2015-02-23 17:19] kiorky commented on #20908
yep, that is the goal of this commit, an opts copy is shared amongst exec mods (self.functions) and one amongst states mods (self.states)

[2015-02-23 17:20] rallytime commented on #20896
@jasonrm Thanks for this excellent bug report! I think @terminalmage has been looking at this very issue recently. He can probably comment best on what is happening here.

[2015-02-23 17:22] masterkorp commented on #20924
Ok, only removing the whole ``salt`` folder. on ``dist-packages`` did the job. Thanks.

You can close this issue. But I would like to see proper solution for this.

[2015-02-23 17:24] jfindlay commented on #20894
@jasonrm, 2015.2 is regularly merged into develop.  There is a [pull request](https://github.com/saltstack/salt/pull/20877) now waiting to come in, except for a few test failures.

[2015-02-23 17:30] hobakill commented on #20924
This helped me out just now. Thanks!

[2015-02-23 17:30] steverweber commented on #20867
perhaps this issue should be a blocker for the 2015.2 release... if you have a watch: on a config file this could invoke a service restart on every call to highstate...

[2015-02-23 17:31] lorengordon commented on #20910
Thanks @jfindlay. `sed -i` is the only offending utility I know of with the insane behavior that clobbers symbolic links. As you point out, that behavior largely breaks the intention of a symbolic link in the first place.

I think there might be a similar issue with hard links and the backup function of `file.replace`... I'll have to test more and dig into the code to verify, but based on what I'm

[2015-02-23 17:35] driskell commented on #12483
@bechtoldt In the docs, HOW TOP FILES ARE COMPILED, is not how it currently works.
( http://docs.saltstack.com/en/latest/ref/states/top.html )

The code seems to simply merge and overwrite, in arbitrary order. Which contradicts entirely the documentation.

(In my experience it is merge and overwrite alphabetical - but others here have reported arbitrary.)

[2015-02-23 17:36] driskell commented on #12483
I would rather have it behave like the docs say (or almost like they say) than just updating the docs. Current behaviour is awkward with git branches.

Hope this quickly gives you enough insight. I am known for my essays (sorry).

[2015-02-23 17:43] alf commented on #12483
In short, the docs specify the order to be used when merging the tops from different environments. See [How Top Files are Compiled](http://docs.saltstack.com/en/latest/ref/states/top.html). We experience and see from the source that the documentation is wrong and the actual result seems to be unspecified. There is already a warning in the documentation saying as much. We were hoping it could be so

[2015-02-23 17:45] travishegner commented on #20631
So @clinta and I (mostly him) were able to come up with a work-around for this issue.

[code]

Results in:
[code]

This causes the dnsmasq-wait state to execute test.sleep for 5 seconds only when the dnsmasq package is installed or updated. Unfortunately, if you have more than one state to 'watch' (read 'onchanges'), you may also be affected by #19592.

I would imagine that if you wanted that dela

[2015-02-23 18:00] terminalmage commented on #20896
@jasonrm The code that caused this regression has been reverted in this pull request: https://github.com/saltstack/salt/pull/20854

The fix will be in the upcoming 2015.2.0 release.

[2015-02-23 18:18] rallytime commented on #20867
@steverweber Yeah, good call. Thanks for following up here.

[2015-02-23 18:26] kiorky opened #20931 "critical: develop: blockreplace looses file ownership & permissions"
detected in #20908 & #20914
to illustrate the bug, the current sls
[code]

produces:
[code]

If the blockreplace is omitted:
[code]
this produces
[code]

here the user is correctly set

[2015-02-23 18:32] dtoubelis opened #20932 "Exception when calling create method on openstack cloud provider from reactor sls"
This is my version of salt:
[code]
and I'm getting this exception in openstack cloud provider:

[code]

This is the rendered `reactor.sls` that is executed:

[code]

This SLS is created by python script that is triggering installation of salt minion to an openstack instance that was created by other means.

This is relevan provider configuration:

[code]

[2015-02-23 18:33] jfindlay commented on #20882
@cvrebert, yes, thanks.

[2015-02-23 18:33] #20882 closed

[2015-02-23 18:36] kiorky commented on #20931
so the permission changes is done when calling salt.utils.fopen('').read() in salt.utils.istextfile from salt.modules.file.blockreplace ...

Yet another fopen bug... cc @s0undt3ch
Trying to read out.

[2015-02-23 18:41] kiorky commented on #20931
pushing the fix

[2015-02-23 18:44] jfindlay commented on #20631
@travishegner, @clinta, thanks for the additional info.

[2015-02-23 19:38] kiorky opened #20936 "critical: develop: onlyif/unless is broken (python_shell=False)"
This for evident compatiblity amongst existant states tree which have elaborated shell tests for onlyif/unless.
I think it should by on by default, or at least togglable on or off.
So, what to do ? another config opt or a blind python_shell=True

cc @thatch45 @rallytime

[2015-02-23 19:40] kiorky commented on #20936
for example, for now this test is broken: https://github.com/makinacorpus/makina-states/blob/master/services/db/postgresql/dbs.sls#L49

[2015-02-23 19:51] wt commented on #20807
https://github.com/saltstack/salt/pull/20937 will log when the "\n...\n" is the trailing string when the yaml filter is used. I'd love to have this change merged into 2014.7 and 2015.2.

If someone can merge 2014.7 into 2015.2 so that the commits on the above PR are included on 2015.2 (there are conflicts that I am uncomfortable handling), I will also make a change for 2015.2 that actually strips

[2015-02-23 19:55] jfindlay commented on #20807
@wt, as soon as that pull request goes in, I'll start working on a 2014.7 to 2015.2 merge, as we're going to need one anyway.  Thanks.

[2015-02-23 20:47] jfindlay opened #20941 "move chown code out of salt.utils.fopen"
salt.utils.fopen should have the same signature as [open](https://docs.python.org/2/library/functions.html#open), therefore the file ownership management should happen in a separate salt util called prior to the accessing of the file.

[2015-02-23 20:49] jfindlay commented on #20936
@kiorky, thanks for the report.

[2015-02-23 20:50] jfindlay commented on #20932
@dtoubelis, thanks for the report.

[2015-02-23 20:52] kiorky commented on #20941
We can also bother with fopen as-is, but yes the method interface should at least respect open(), even if it add functionnality.

Having too methods may also result in performance regression as we would do twice the lock stuff

[2015-02-23 21:07] jfindlay commented on #20941
@kiorky, that's true, but it also depends on the fraction salt.utils.fopen is of the overall salt resource usage.

[2015-02-23 21:17] kiorky commented on #20941
That why i think, if the minimal interface of open is intact, we should not bother and that should be the first priority. The extraneous (and never ever activated by default parameters will just be bonus in case but wont impact twice with the lock stuff or requiring users to deal with the nuances of the 2 functions if the code is splitted up. (that's just my 2 cents, as the actual use of the extra

[2015-02-23 21:23] Vehyla opened #20945 "rest_tornado does not start"
I have made sure the ssl certs are in the right location.  python-tornado is installed and I am using salt-2014.7.2-.  When I add the following lines to the /etc/salt/master config and restart.  I can not see anything say it's not starting.  But the port is never up.  The debugging logs show it has the configuration.  But I don't see any errors or really anything saying it tried.   I wasn't able t

[2015-02-23 21:32] I3olle commented on #20926
alright, not a bug! I just had to change
[code]
into
[code]

Stupid mistake. Sorry about that!

[2015-02-23 21:32] #20926 closed

[2015-02-23 21:40] nicholascapo opened #20947 "Duplicate entry in top file gives unhelpful error message"
While cleaning up our top.sls I inadvertently created two identical entries.
This causes an unhelpful error message when running state.highstate on any minion.
[code]
[code]
[code]

[2015-02-23 21:54] cr1st1p commented on #18630
FYI - I had to add 'ac', 'vers', 'auto', 'user', 'nouser' to mount_invisible_options and 'vers' to mount_invisible_keys, in states/mount.py for some nfs mount points. I was getting always the strange error saying that a flag has changed when it actually did not.
salt-2014.7.1-180.10.noarch, opensuse.

[2015-02-23 22:00] jfindlay commented on #20926
@I3olle, no problem.  I'm glad you got it figured out.

[2015-02-23 22:18] ssgward commented on #20947
Thanks for the report.

[2015-02-23 22:38] aurynn opened #20949 "2014.7.2 salt-ssh with modules.dockerio is broken"
It is currently impossible to use the dockerio states or module from salt-ssh. Initial exploration in the salt-ssh uploaded shim, looks like the error is due to `six.py` masking the imports `dockerpy` tries to do of `from six.moves.urllib.parse import urlparse`

Backtrace:
[code]

from the `/tmp/.vagrant_ccc36c__salt` temporary upload dir.

Removing `/tmp/.vagrant_ccc36c__salt/six.py` appears to f

[2015-02-23 22:46] cachedout opened #20950 "Salt CLI blocking for 1s"
``
mp@silver ~ % time sudo salt silver test.ping
silver:
    True
sudo LD_LIBRARY_PATH=/usr/local/lib salt silver test.ping  0.24s user 0.02s system 20% cpu 1.278 total
``

This is being caused by 1s wait on get_event(). I have pinged @jacksontj directly on the commit in question to ask about the history behind this change.

[2015-02-23 22:50] basepi commented on #12556
I agree, per-state is the way to go.

[2015-02-23 22:53] basepi commented on #13922
Looks like it was backported; can this be closed?

[2015-02-23 22:54] #3776 closed

[2015-02-23 22:54] basepi commented on #3776
Good call, thanks.

[2015-02-23 22:54] #7347 closed

[2015-02-23 22:55] srkunze commented on #1930
Is salt-ssh capable of specifying the -R and -L options of ssh?

[2015-02-23 22:55] basepi commented on #8340
I haven't actually verified that this is working these days, though I bet it is. Did you test, @steverweber ?

[2015-02-23 23:19] ngrennan-inflection opened #20955 "yumpkg tries to downgrade when given a version"
I am trying to upgrade a package by version locking the version to the current latest package. Salt thinks it is a downgrade, but yum thinks it is an upgrade.

This is like issue #15482.

[code]

LooseVersion actual results:

LooseVersion expected results:

[code]

[2015-02-23 23:20] rallytime commented on #20629
@I3olle As far as I know, I think this is good for the feature request. However, I think it is probably a good idea to submit a new issue reporting the bug that you're seeing when trying to use the `output_file` option in your master config. That is a different issue than this reactor request, to me. Would you mind submitting that?

[2015-02-23 23:23] ngrennan-inflection commented on #20955
I think the sane choice is to always ask yum for what it thinks instead of trying to figure it out on your own in code. If yum has bugs in it's version logic, you want to follow it, not randomly disagree.

[2015-02-23 23:31] I3olle opened #20956 "Adding output_file to master config does not result in a new file"
Just like the title says, it does not result in a new file. And not only that. It also completely eradicates any output.
As advised by @rallytime in the post https://github.com/saltstack/salt/issues/20629#issuecomment-74272510 I added the line
[code]
to the config. I still see the output of salt-call state.highstate on the shell but the output from:
[code]
is completely gone. The master still spea

[2015-02-23 23:34] I3olle commented on #20629
Done so. Thanks for the help and hopefully the feature will come through because I don't think I am the only one that would like to be able to monitor his highstate runs.

[2015-02-23 23:36] #20254 closed

[2015-02-23 23:36] #20612 closed

[2015-02-23 23:36] #20906 closed

[2015-02-23 23:37] pfriel-bcs commented on #16397
@bemeyert If your minions are connecting to your master through an ELB try increasing the idle timeout of the ELB.  That helped us, related thread about this is here:  https://groups.google.com/d/msg/salt-users/clg3Nven3yQ/CjuXnSkHLA8J.

From what I have seen it seems like when the minions get disconnected from the master for whatever reason (in our case the ELB dropping the connection) the minion

[2015-02-23 23:40] rallytime commented on #20956
Thanks @I3olle! Can you also post the output of `salt --versions-report`, just so all of the relevant info is contained here?

[2015-02-23 23:49] cachedout commented on #20903
@Comm4nd0 Try ```killall salt-master```

[2015-02-24 00:05] rallytime commented on #20858
Thanks for added your state. I wonder if the first run is triggering the `watch`, which would throw away the original return data and replace it with the data from `mod_watch`, which may not be handling `service.dead` correctly.

@lsh-0 If you remove the watch from your state, can your still reproduce this error?

[2015-02-24 00:09] I3olle commented on #20956
sure
[code]
thank you!

[2015-02-24 00:21] rallytime commented on #20956
Perfect! Thanks!

[2015-02-24 00:38] UtahDave opened #20960 "Add frequency or interval to beacons"
Per discussion with @thatch45 it would be nice to be able to specify an interval for the beacon check.
For example, I'd like to be able to create a beacon that checks a web service, but I'd like it to only check every 5 seconds.

[2015-02-24 00:41] ryan-lane opened #20961 "Process group support in supervisord state is painful"
It's necessary to append : if a process group is used, but if process group is not used, you can't append : or :_. This doesn't match with how supervisorctl can be used from the CLI. From the CLI you can always use : or :_ and it just works. The state module should always manage the process group whether or not : is used, and should manage individual process group members if :number is used.

Here

[2015-02-24 00:58] kiorky opened #20962 "stupid states hardfail behavior change: Reopening of #20227 reverted without good reason"
cc @thatch45  (yes you already merged this;))

This is now an issue with some version, but states are just rolling, and just falling badly states run just because of kwarg mismatch (which is a lot of time not harmful) is just idiot...

Asides, this will break lot of state trees ... so im repushing the changeset that logs that to critical...

[2015-02-24 01:20] jaloren commented on #19646
Easiest way to fix this problem is the following:

1. replace the os repo with the following https://gist.github.com/jaloren/276fec3c889cf65716bb
2. yum clean all
3. Then attempt to install the salt program of your choice.

[2015-02-24 03:09] rallytime commented on #10443
@DaveQB - Just a bump here. Several releases have come out on the 2014.7 branch since this was last discussed. Are you still seeing this issue? Did you get a change to test?

[2015-02-24 03:12] rallytime commented on #14816
I'm going to close this since we haven't heard back for a while. Please leave a comment if this issue persists and we'll be happy to re-open and take another look.

[2015-02-24 03:12] #14816 closed

[2015-02-24 03:14] rallytime commented on #16443
@awestendorf - Just making the rounds again. Have you had a chance to test this yet (Current release is 2014.7.2)? Is this still an issue for you?

[2015-02-24 03:16] rallytime commented on #16727
@emmellee Ah, sorry I did not see your latest comments here. We're currently on release 2014.7.2 now - any chance you've given that a try yet? The releases on the 2014.7 branch have been MUCH more stable than the 2014.1 releases.

[2015-02-24 03:18] rallytime commented on #17185
Thanks for the fixes here @garethgreenaway! It looks like this one is resolved, so I am closing it. If the shows up again, leave a comment and we can re-open.

[2015-02-24 03:18] #17185 closed

[2015-02-24 03:20] rallytime commented on #17198
Since this bug is fixed in the upcoming 2015.2.0 release, I am going to close this issue. If it remains a problem on the new release, please comment and we will be happy to re-open this issue.

[2015-02-24 03:20] #17198 closed

[2015-02-24 03:25] rallytime commented on #17286
@billcchung Thanks for the update. I'm going to close the out since we haven't heard anything about this for a while. If it pops up again, definitely leave a comment and we can re-open and re-assess. Thanks!

[2015-02-24 03:25] #17286 closed

[2015-02-24 03:27] rallytime commented on #17380
Closing as this is fixed in 2014.7 now. The "Needs Testcase" label will remain on this issue until we write tests for it, at which time we will remove said label.

[2015-02-24 03:27] jasonrm commented on #20896
Awesome. I really appreciate the work you all do on Salt and keeping track of issues like this.

[2015-02-24 03:29] rallytime commented on #18168
@eliasp Sorry I never responded here. What version of salt are you seeing this on?

[2015-02-24 03:31] #18476 closed

[2015-02-24 03:33] jasonrm commented on #20894
Cool. So it should be safe to assume that if something is fixed on a release branch, it should be be fixed on develop within a short period of time (I see 2-3 days mentioned, as a rough guide of course, not the rule). Thanks for looking into this.

[2015-02-24 03:33] #18511 closed

[2015-02-24 03:36] rallytime commented on #18527
Since we haven't heard anything for a while here I am going to close this issue as it looks to be resolved. If this is still a problem for anyone, please leave a comment and we will be glad to take another look!

[2015-02-24 03:37] #18550 closed

[2015-02-24 03:38] rallytime commented on #18613
Since we didn't hear back, I am going to close this issue. If it remains a problem, leave a comment and we will open this up again.

[2015-02-24 03:43] rallytime commented on #18630
Thanks for the updates here everyone. It looks like there might still be some more work to be done here such as fixing up the error stating that a flag had changed as @cr1st1p mentioned. @nvx It looks like this isn't fixed for you either? Has anyone tried this on the 2014.7.2 release?

@RobertFach I think this issue with CIFS might be useful to be its own issue? Not sure. I think if you'd like to

[2015-02-24 03:44] #18705 closed

[2015-02-24 03:47] rallytime commented on #18796
Closing due to lack of response. If this occurs again for anyone, leave a comment and we will be happy to take another look.

[2015-02-24 03:47] #18796 closed

[2015-02-24 04:08] terminalmage commented on #20896
@jasonrm Thanks! I'm really sorry, I did not catch this when I merged in the code that led to the regression. I see you're using Arch, I too am an Arch user and would be happy to help you get squared away with patched packages to get you back up and running.

[2015-02-24 04:08] terminalmage commented on #20896
Or, I guess you could just downgrade from the packages in /var/cache/pacman/pkg and wait for 2015.2.0. Let me know if you need any help.

[2015-02-24 04:13] rallytime commented on #20894
@jasonrm Yep! We merge each release branch into the relatively newer branches, so 2014.7 --> 2015.2, then 2015.2 --> develop. Naturally, it will take fixes a little longer to get from 2014.7 to develop than they will from 2015.2, but you get the idea. We typically try to merge forward every day, but sometimes resolving merge conflicts and getting through the test suite takes some time.

[2015-02-24 04:16] rallytime commented on #18806
@amendlik It looks like this issue should be fixed in the impending 2015.2.0 release. Are you in a position where you could give the HEAD of 2015.2 branch a try to test this? If you want to wait for the release, that is fine, too. Just let us know if this is resolved for you when you get a moment to test again.

[2015-02-24 04:18] rallytime commented on #18979
I'm going to close this issue out for now as I have tested it pretty well and the new driver seems to be in good order. If anyone runs into any major problems, leave a comment here and we can re-open and re-asses. If there are specific or smaller issues that arise from this refactor, feel free to open a new issue with details to reproduce. Thanks all!

[2015-02-24 04:18] #18979 closed

[2015-02-24 04:19] steverweber commented on #8340
strange i thought I was running some complex highstates without issue through salt-ssh... but when I attempted:
[code]
it was missing the pillar data that normaly would be returned... this is likly a different issue, but ya I guess its not time to close this just yet :).

[2015-02-24 04:19] #19080 closed

[2015-02-24 04:22] rallytime commented on #19291
@dknecht Hrm. Thanks for giving the new feature a try. Can you post the output of `salt --versions-report` from when you tried this addition?

[2015-02-24 04:26] rallytime commented on #19387
@lorengordon Thanks for verifying this fix. I'll close this issue out.

@damon-atkins Thanks for the cross-reference. Since the new feature request you created hasn't been implemented yet, let's track that development there since this issue has been resolved yet.

Thanks everyone!

[2015-02-24 04:26] #19387 closed

[2015-02-24 04:28] rallytime commented on #19535
@nickcsgithub This should be fixed in the upcoming 2015.2.0 release. Are you in a position to give the HEAD of the 2015.2 branch a try? We can wait until the release comes out to test as well, if you'd like.

[2015-02-24 04:29] jasonrm commented on #20896
No worries, in a project of this size and complexity things are bound to slip through now and then. As you can tell by my running Arch, I'm used to a little bleeding edge, haha.

I'm only using Salt for some minor production config management at the moment and plenty busy with dev work this week so I'm good to wait it out, thanks for the offer and tip though.

[2015-02-24 04:29] #19588 closed

[2015-02-24 04:30] #19755 closed

[2015-02-24 04:40] #20587 closed

[2015-02-24 04:40] terminalmage commented on #20896
OK, well I just adopted the salt-git package from the AUR and plan up upgrading it soon, so that's an option as well. Right now though that package hasn't been updated in a couple years and won't be of much help.

[2015-02-24 04:44] steverweber commented on #20296
+1

[2015-02-24 04:47] rallytime commented on #19932
@jhenry82 Oof that is not good! Assuming it's the same root cause and the fix that I mentioned above does indeed fix this, it actually won't be available until 2015.2.0 is released. The original fix was made on the develop branch on code that has been refactored since we cut the 2014.7 branch, so the fix didn't backport cleanly to 2014.7.

I have just now backported the aforementioned fix to 2015.

[2015-02-24 04:56] rallytime commented on #19999
@equinoxefr Are you only seeing this behavior on the windows minions? Or minions on other distros as well?

[2015-02-24 04:57] #20004 closed

[2015-02-24 04:57] #20034 closed

[2015-02-24 04:58] #20188 closed

[2015-02-24 05:00] rallytime commented on #20201
@justinsb 2014.7.2 was announced last week. Any chance you've given it a try yet? Can this issue be closed?

[2015-02-24 05:00] igorwidlinski commented on #20630
We are receiving exactly same errors as kriberg's 2nd comment. Our minions seem to return to normal operations (ie can be ping with test.ping) after the 3 timeouts happen 6 hours later:

2015-02-23 12:48:22,328 [salt.minion                                 ][INFO    ] Starting a new job with PID 29596
2015-02-23 12:48:22,331 [salt.utils.event                            ][DEBUG   ] SaltEvent PUB soc

[2015-02-24 05:01] rallytime commented on #20205
Has anyone tested this fix on 2014.7.2 yet? Can this issue be closed?

[2015-02-24 05:01] UtahDave commented on #19999
Upgrade to 2014.7.1

There's a known memory/thread leak on 2014.7.0, especially for Windows minions

[2015-02-24 05:02] rallytime commented on #20246
@arthurlogilab 2014.7.2 is out now, as you may have heard. Any chance you've tested this again yet? Keep us posted. :)

[2015-02-24 05:03] rallytime commented on #20383
I'm going to close this since the fix was backported to 2014.7 branch a little while ago. Please comment if this issue pops back up again for you and we can re-open.

[2015-02-24 05:03] #20383 closed

[2015-02-24 05:18] #20716 closed

[2015-02-24 05:25] steverweber commented on #8340
I did a workaround for the top file glob maching issue and confirmed tht this issue is resolved.
/close/

[2015-02-24 05:40] jacksontj commented on #20950
@cachedout this was put in a while ago (Jan 10th #4ad53c). This is because ZMQ has no guarantees about when the socket is actually connected to peers. This means that although __init__ has finished the underlying socket is not gauranteed to be connected-- which is problematic for async-event stuff in the core.

THe reason this isn't on develop is that you reverted it in #9bfe83b. Although I agree

[2015-02-24 05:44] rallytime commented on #8754
Providers with nightly tests:
- [x] Azure
- [x] Digital Ocean
- [x] EC2
- [x] Linode
- [ ] GCE
- [x] GoGrid (disabled - driver is broken, see #13365)
- [x] Joyent
- [x] Rackspace

[2015-02-24 06:01] aboe76 commented on #13922
Yes thanks

Op ma 23 feb. 2015 23:54 schreef Colton Myers <notifications@github.com>:

[2015-02-24 06:24] borgstrom commented on #20652
:+1:

[2015-02-24 06:39] frumpel commented on #10293
Don't have the time to test rigorously right now but I had a working recipe in Hydrogen that did this

[code]

In Helium (2014.7) this appears to have regressed with undesirable results. It appears this is now converted to:

[code]

[2015-02-24 06:52] DaveQB commented on #10443
@rallytime Sorry to stretch this out. We haven't upgraded since this issue arose and relying on cronjobs as a work around. The ticket to start the upgrade process has floated to near the top of my list, so it shouldn't be long now.

Thanks

[2015-02-24 06:52] frumpel commented on #10293
The truly annoying bit is that the tar options are being quoted! So this will fail too, now because tar misinterprets things:

[code]

[2015-02-24 07:17] pipozzz commented on #19861
same problem

[2015-02-24 08:05] nvx commented on #18630
My issue was that I received an exception when I tried the fix, so I couldn't test if it actually fixed the issue (RHEL5).

I can re-test if the RHEL5 regression has been fixed though easily enough.

[2015-02-24 08:12] Jiaion commented on #20240
Hi :
  @pitatus  This problem occurs in the case of multiple Master's.

[2015-02-24 08:34] RobertFach commented on #18630
@rallytime I'll create a new issue and prepare a pull request for the cifs issue.

[2015-02-24 08:42] RobertFach commented on #20205
@rallytime I cannot yet test the fixes, because I'm still waiting for the packages of the 2014.7.2 release...

On 2014.7.1 ds-3 its not yet fixed.

[2015-02-24 10:20] yourmailmyid commented on #20852
Tried the same SLS with "salt-minion 2015.2.0 (Lithium)". It worked. Seems to be fixed. Will use it once it is officially released. Thanks.

[2015-02-24 10:31] I3olle commented on #5721
I know this topic is from 2013 but the bug still doesn't seem to be fixed? Because my minions won't restart either when being told so by the master.

master
[code]

minion
[code]

As you can see the masters and minions ZMQ are both 3+. I just get the message
[code]

[2015-02-24 10:52] ltsampros commented on #20833
Many thanks,

I have one question though.
1) Is there any documentation about his yet?
2) Apart from the notorious shellshock vulnerability, was there any other *specific* vulnerability for this introduction?
3) Since certain module functions cannot be run without this option, shouldn't the user be greeted with an error first?

[2015-02-24 11:17] NancyPaul commented on #20859
Hey hi,

I have two clarifications regarding salt. Let me say one by one.
1. I am able to run a product(.exe) using the following command:
    salt-call --local pkg.install firefox

question:

i am not able to install. Should i need to add any more in my init.sls
mentioned below??
firefox:
  27.0.1:
    installer: 'C:/salt/repository/win/firefox/Firefox Setup Stub
27.0.1.exe'
    full_name: Mozill

[2015-02-24 11:46] ltsampros commented on #20418
@basepi I do not know if they are related. With a quick look I didn't notice any relation to the stack produced above in relation with the Single class, however I'm complete new to the internals of Salt so I could be wrong.

However, the crash occurs in ssh.run_iter(). Please take a look at this version of the file: https://github.com/saltstack/salt/blob/5d83dce33cee1d69142d4af446a0f1c26ef667c5/sa

[2015-02-24 11:53] damonnk commented on #18710
@terminalmage I don't know what changed but it is working again.
And with working i mean my code in git is directly available again for use.
I cannot verify this in the logs since we don't have debug on at the moment.

[2015-02-24 12:21] johanek commented on #15836
I've updated my lint module to use the updated code you pasted, and that seems to be working. It's definitely solved the problem with alternatives.set vs alternatives.set_ that I highlighted previously, but I'm still having to work around a couple of things:

- pkgrepo.managed and pkgrepo.absent not defined
- rabbitmq_plugin, rabbitmq_vhost and rabbitmq_user not defined
- reload argument not avail

[2015-02-24 12:22] ltsampros commented on #20418
@basepi Based on my previous comment I added the line raw_shell: True to my /etc/salt/master and behold:
[code]

1) Is the raw_shell option intended to be a global option OR is it supposed to be checked on a per call basis?
2) Is this related to @jfindlay 's comments in #20833 ?

[2015-02-24 12:30] dennisjac commented on #20634
I actually managed to fix this but now I'm not sure how to contribute this? Should I create a PR for develop and this will be merged into 2015.2 on your end or should I create two independent PRs?

[2015-02-24 12:53] dennisjac commented on #20634
Never mind. I just looked at the develop branch at this apparently has already been fixed. The fix seems to be incorrect though:
[code]
Isn't event['return'] always a dict? And if it wasn't wouldn't that code result in two different outputs depending on outputter being provided or not? ("<data>" in one case and "{'data':<data>}" in the other)

[2015-02-24 13:15] lorengordon commented on #20910
I was doing some research and testing yesterday on why this happens and it seems this behavior is the result of `fileinput` when `inplace=True`. With that option is True, `fileinput` will *move* the file, then write to the target location. This behavior is part of what breaks the symlink. De-referencing it, as in the commit by @aneeshusa, fixes that issue.

However, the `fileinput` behavior is als

[2015-02-24 13:49] Galser commented on #20198
Just a small note, for me this parsing function failing on 2 Hypervisors out of 24, running KVM, when graphics defined is not VNC but spice.
E.g. this is okay , hypervisor 1:
`<graphics type='vnc' port='-1' autoport='yes'/>`
And this is failing , hypervisor 2:
`<graphics type='spice' autoport='yes'/>`

Both are absolutely identical machines in the terms of everything.
Versions :
[code]

[2015-02-24 14:04] terminalmage commented on #18710
OK, I will close this. Please let me know if this happens again. Thanks for the follow-up.

[2015-02-24 14:04] #18710 closed

[2015-02-24 14:14] frumpel commented on #10293
I would suggest that tar_options should accept an ARRAY as input. That way you can pass an arbitrary set of parameters. Ok, it's not generic but it's better than the alternative:

* download tar file into explicit temp directory
* use cmd.run to expand with a "require" dependency on the file
* do this every time or incur a failure because if you put the same "unless extracted bits already exist" o

[2015-02-24 14:18] lorengordon opened #20969 "file.replace writes to a new inode, creating problems for hard links"
`file.replace` relies on python's `fileinput` method, passing it the parameter `inplace=True` so that `file.replace` can write to the same filename. This parameter causes `fileinput` to *move* the target file, appending `backup` to the filename. See the [fileinput documentation][0]. Then, when <stdout> is written, `fileinput` redirects the output to a new inode that has the same filename as the ta

[2015-02-24 14:42] lorengordon opened #20970 "file.replace doesn't replace `pattern` when `repl` exists"
`file.replace` was modified in v2014.7.1 so that it doesn't make changes if it finds the `repl` string. However, it's not making changes even if `pattern` does exist in the file. It seems that the correct behavior would be for `file.replace` to replace `pattern` even if `repl` exists.

Here's the test case:

[code]

At the end of that, I'd expect that 'abc' would have been replaced by 'baz'. As re

[2015-02-24 14:50] frleb commented on #18822
The packages for lucid are broken on a fresh vm, and an old server with ubuntu lucid.

flebel@test-server:~$ lsb_release -a
LSB Version:	core-2.0-amd64:core-2.0-noarch:core-3.0-amd64:core-3.0-noarch:core-3.1-amd64:core-3.1-noarch:core-3.2-amd64:core-3.2-noarch:core-4.0-amd64:core-4.0-noarch
Distributor ID:	Ubuntu
Description:	Ubuntu 10.04.4 LTS
Release:	10.04
Codename:	lucid

flebel@test-server:~$

[2015-02-24 15:29] rallytime commented on #10443
No problem! Thanks for the update. Keep us posted. :)

[2015-02-24 15:33] #13922 closed

[2015-02-24 15:43] rallytime commented on #20634
@dennisjac Thanks for investigating! As for your first comment, whenever you're doing bugfixes you should make the fix against the earliest support branch that has the bug. We merge the older release branches forward into the newer branches (i.e. 2014.7 --> 2015.2, then 2015.2 --> develop) so the fix will occur in all places necessary. You can find more info about that here: http://docs.saltstack.

[2015-02-24 16:13] jfindlay commented on #20833
The change will be documented in the 2015.2.0 release.  This change was made to protect against shell injection vulnerabilities.  We reviewed all salt modules to update them to the new behavior.  It seems that network.py was overlooked.  Thanks for reporting.

[2015-02-24 17:00] jfindlay commented on #20945
I think you need to also start the salt-api daemon in order to use salt's api.  It reads its configuration from /etc/salt/master, but handles the network stuff separately from the master daemon.

[2015-02-24 17:02] jfindlay commented on #20949
@aurynn, thanks for the report.

[2015-02-24 17:13] jfindlay commented on #20955
I don't see any bugs in yum's logic, but LooseVersion.  From a quick [duckduckgo search](http://stackoverflow.com/questions/2996279/how-does-yum-compare-versions),  it seems that yum/rpm don't make package version comparison available by default, which is probably why salt resorted to distutils.LooseVersion.  I agree that using yum/rpm-native methods to resolve package versions would be far better

[2015-02-24 17:16] jfindlay commented on #20955
Or you could get version comparisons for the specific case of proposing package changes to installed packages by asking yum to install a different version and see what it thinks, but I don't know if this will work for all package comparison needs in the yumpkg module and pkg state.

[2015-02-24 17:25] ngrennan-inflection commented on #20955
Just make rpmdevtools a dependency of salt. It already has yum-utils as a dependency. People won't care if it is automatically installed. A bigger question is does every distribution that uses yum have a rpmdevtools package.

I wasn't implying that this is a bug in yum. Just that there could be. There is a bug in grub2 around kernel versions that came up recently that is a lot like this bug. My po

[2015-02-24 17:25] jfindlay commented on #20961
Thanks, @ryan-lane.

[2015-02-24 17:27] igorwidlinski opened #20976 "Lost connection to minion after running saltutil.refresh_pillar"
We started using salt sometime last week.

So far we just installed salt-minion on all servers, and set up salt-master. We also have reclass ( http://reclass.pantsfullofunix.net/ ) setup for classifying nodes. When we run saltutil.refresh_pillar after weekend, many of our servers will become unresponsive.

I found a reliable way to reproduce this issue and here are the steps.

1. Restart salt-mast

[2015-02-24 17:28] deuscapturus opened #20977 "state module fails due to badly formed YAML"
The error below was created by a badly formed yaml

state.sls:
[code]
log
[code]

[2015-02-24 17:30] jfindlay commented on #20969
Thanks for your work on this, @lorengordon.

[2015-02-24 17:33] lorengordon commented on #20969
No problem @jfindlay. I was working on a commit to implement option 2 this morning. It's almost ready. I'm testing it against 2014.7, but can switch to 2015.2 or develop if you like.

[2015-02-24 17:39] strocknar commented on #9665
Curious if any progress has been made on this. I am looking for a way to limit a group of people to be able to run commands on a group of servers and this seems like it would be the best way to do that.

[2015-02-24 17:40] jfindlay commented on #20970
@lorengordon, thanks for the report.

[2015-02-24 17:42] jfindlay commented on #20969
I think that a change ought to go into develop with a release note for beryllium about the changed behavior along with #20943, thanks.

[2015-02-24 17:46] #20977 closed

[2015-02-24 17:47] jfindlay commented on #20976
We've noticed many problems with master, minion connectivity on < zmq-4.0.  I suggest upgrading zmq to > 4.0 as a first step to try to resolve the problems you're having.

[2015-02-24 17:51] jfindlay commented on #20976
Also, the latest supported release in the 2014.7 series is 2014.7.2, but I expect that upgrading zmq is more likely to fix the specific problem you're reporting than salt itself.

[2015-02-24 17:57] alf commented on #12483
Issue #19802 might be related.

[2015-02-24 18:00] cachedout opened #20979 "Create master_id field for mysql returner"
We need to have an indication of which master may have emitted an event that is stored in the ``salt_events`` table. If possible, this should be added without forcing a schema change and instead throwing a deprecation warning for a Boron target. This may need to be source from a new config value, ala ``master_id`` from the master config.

[2015-02-24 18:03] rallytime commented on #20852
Awesome! Glad this is working for you. Since this is confirmed fixed, I am going to close this. If the issue pops up again, please comment and we will be happy to open this report again and take another look.

[2015-02-24 18:03] #20852 closed

[2015-02-24 18:09] Vehyla commented on #20945
Well, that helped.  I at least have an error now.  I've tried pip and yum, but can not find a concurrent module.  Is this something I should have pulled in with the python-tornado rpm?  Or am I possibly missing something from the salt package?   Thanks for looking at this by the way.

Traceback (most recent call last):
  File "/usr/lib64/python2.6/multiprocessing/process.py", line 232, in _bootstr

[2015-02-24 18:11] aneeshusa commented on #20969
Wanted to discuss this before doing more on my symlink PR in case we decide a rewrite is necessary.

AFAIK, there's no way to get a list of files pointing at an inode from python, so I don't think approach 1 is feasible. Beyond that, I think approach 2 is the way to go:
1) I'd prefer explicitly writing to the target file to having fileinput hijack standard output to point at the target file. Not o

[2015-02-24 18:17] jfindlay commented on #20945
Do you have tornado installed?

[2015-02-24 18:21] Vehyla commented on #20945
Yes, that was at the bottom of my last comment.  We have 2.2.1 installed.

[2015-02-24 18:23] aneeshusa commented on #20969
Whoops, didn't refresh the page before I posted. @lorengordon, with your rewrite are you going to be integrating the symlink changes, or should I keep going with that PR?

[2015-02-24 18:27] thequailman commented on #20198
This is affecting me as well, I can't run any virt commands because of the get_graphics bug.  Can I comment it out temporarily?  Any workarounds?

[2015-02-24 18:31] kiorky opened #20980 "postgresql: user roles are never updated"

[2015-02-24 18:33] jfindlay commented on #20945
I've tried this:
[code]
with both `python-tornado-2.2.1-8.el7.noarch` from yum and `tornado (4.1)` from pip.  The last time I used salt-api, I had similar problems with tornado and used cherrypy instead.  I think @jacksontj has been maintaining the tornado code and may know what to do, or you can also look at the tornado salt-api tests:
https://github.com/saltstack/salt/tree/develop/tests/integrat

[2015-02-24 18:38] Vehyla commented on #20945
Ah.  tornado 4.1 fixed it.  Thank you.

[2015-02-24 18:38] #20945 closed

[2015-02-24 18:41] jfindlay commented on #20198
@thequailman, I haven't tested this but you could do
[code]

[2015-02-24 18:43] cachedout commented on #20198
That looks like it is missing a comma. :]

On Tue, Feb 24, 2015 at 11:41 AM, jfindlay <notifications@github.com> wrote:

[2015-02-24 18:45] jfindlay commented on #20198
@cachedout, tests my code for me.

[code]

[2015-02-24 19:03] jfindlay commented on #18317
@mikn, is [this line](https://github.com/saltstack/salt/blob/2014.7/salt/modules/publish.py#L238) also affected?  It came in on the [same commit](#13370).

[2015-02-24 19:07] #20962 closed

[2015-02-24 19:14] jfindlay commented on #20945
Glad you got it working.

[2015-02-24 19:14] rallytime commented on #18725
@wrigtim I've fixed this in the above PR. Thanks!

[2015-02-24 19:21] s0undt3ch commented on #20962
The revert reason was a good reason. You're fix did not actually solve anything in the long run.

[2015-02-24 19:21] aboe76 commented on #20660
upstream has fixed the bug:
https://build.opensuse.org/request/show/287536

so closing the issue.
looks like everything is building again:
https://build.opensuse.org/request/show/287412

[2015-02-24 19:21] #20660 closed

[2015-02-24 19:21] pruiz commented on #20506
Well, I for example tend to use "state.highstate test=true saltenv=GIT_BRANCH_XYZ" as a way to test application of states from a git branch on our salt states repository.

This is a really useful pattern, but not having access to pillars, kills it.. :(

[2015-02-24 19:22] aboe76 commented on #18628
@rallytime is this still an issue ?

[2015-02-24 19:24] s0undt3ch commented on #20962
I said it once, and I'll say it again. There are bigger plans to Salt that just your use of it and everything is done with a purpose.
The hard fail had(and still has) a purpose and it wasn't to break your setup, believe me, so forgive me for making well though out stupid changes to Salt.

[2015-02-24 19:24] aboe76 commented on #7786
this is merged so forgot to close the issue. closing it now.

[2015-02-24 19:24] #7786 closed

[2015-02-24 19:27] lorengordon commented on #20969
@aneeshusa, below is the code I'm preparing for the PR to fix this issue. It's using `open` instead of `fileinput` and is explicitly writing the file. I think I've managed to maintain all existing functionality, and I tried to keep the style similar to what was in the previous try block. It bothers me with all the testing for `dry_run` or `search_only` or `found`, but that seemed to be the style a

[2015-02-24 19:28] rallytime commented on #20660
Awesome! Thanks @aboe76!

[2015-02-24 19:30] pruiz commented on #20506
Even this 'hackish' way does not work either:

[code]

[2015-02-24 19:32] rallytime commented on #18628
Hrm, good question. We disabled the jenkins tests on openSUSE on 2014.7 because of this issue. I was thinking perhaps something was different with he openSUSE image on Rackspace. We could give it another try.

[2015-02-24 19:38] pruiz commented on #20506
Turns out pillar.items/pillar.raw returns a dict with a single key (local) even when outputing as json, so I had to relay on an even more 'hackish way' to get it to work:

[code]

But at least, it works.. ;)

[2015-02-24 19:43] matdrapeau commented on #16556
Finally, this seems resolved only on the minion side and not when call the function FROM master:
[code]

[2015-02-24 19:51] rallytime commented on #18647
I went to take a look at this today and I think this has been fixed as I cannot reproduce the error. Here are my findings:
[code]
I then removed the coffee-script installation and edited my state file to not contain a version, just to make sure 1.0.1 wasn't the default install. Sure enough, it's installing a new version like so:
[code]
This is fixed on the latest release, 2014.7.2:
[code]
@hundt o

[2015-02-24 19:59] thequailman commented on #20198
That partially fixed it, I receive a new error now:

[code]

If I follow the same suggestion for the get_nics function, the virt the commands work again.

[2015-02-24 20:00] rallytime commented on #18628
@aboe76 Looks like we are having some other troubles with our openSUSE test VM for 2014.7, which was where the original issue was reported, but now it is a new issue. I think this one is good to close and I will open a new one if I can't resolve the new error I am seeing. Thanks again!

[2015-02-24 20:00] #18628 closed

[2015-02-24 20:00] aboe76 commented on #18628
Yes as far as I could tell on the image there as a wrong repository configured, which provided
wrong versions of packages.

[2015-02-24 20:27] aboe76 commented on #17245
@tomashavlas I'm trying to debug this with the develop version to see if it is still present.

But when I read the documentation what locale.present, it test if the name of the given locale is
in the locale.avail list:
[code]

so any locale.present with these names are already present and the module shouldn't do anything.
testing the module with: locale/init.sls
[code]

it works:
[code]

[2015-02-24 20:34] jfindlay commented on #20969
You should use `salt.utils.fopen` rather than `open`, but it looks great otherwise.

[2015-02-24 20:35] lorengordon commented on #20969
Ok, I was testing most of it outside of salt itself so relied on the python builtins. Does `salt.utils.fopen` accept the same params and return the same object as `open`?

[2015-02-24 20:36] jfindlay commented on #20969
Yes, it is intended to have exactly the same function signature.  Thanks, @lorengordon, for working on this.

[2015-02-24 20:44] Galser commented on #20198
I actually did both myself already, and yes, it is only in graphic and nic parts of this file. No more errors. Running like a charm on 24 hypervisors. Including ancient one on CentOS 5.
Thanks You for suggestion and quick response.

[2015-02-24 20:47] kiorky commented on #20962
@s0undt3ch please do not take it personally, it is not the purpose.

Just for the record, i was the proxy there, but this was the reports from our customers & coworkers, after having a lot of states in the wild, in environments were users are at very different (and low) salt mastership levels, the error was really confusing, They just didn't understand the purpose to fail.
For example for non used

[2015-02-24 20:49] iggy commented on #19658
I tried to do a git bisect to find the failure point. Unfortunately salt is not very bisectable (I got a lot of pillar errors on a bunch of runs). Below is the best data I could come up with. Good luck. Let me know if there's anything you want me to try.

[code]

[2015-02-24 20:49] jfindlay commented on #20198
@Galser, no prob.  I'm glad this haxor workaround is working.

[2015-02-24 20:54] lorengordon commented on #20969
Ok, tested with `salt.utils.fopen` and `salt.utils.mkstemp` and updated the code in my earlier comment accordingly.

[2015-02-24 20:58] garethgreenaway commented on #20107
Sorry for the delay on this.  Anything in the minion logs?  Can you try starting the minion up in debug mode, eg. salt-minion -l debug and see what comes out?  Using the same pillar options as you have above I'm seeing the jobs run but posting errors about the command being used.

[2015-02-24 21:29] iggy commented on #19658
[code]

So maybe @jacksontj should be looking at this bug?

[2015-02-24 21:44] belvedere-trading commented on #20107
There was not much in the logs that I can recall.  Myself or a co-worker will recreate this tomorrow and get you some logs.

[2015-02-24 21:49] sosella commented on #20862
I discovered the root of the problem:  The "...\library.zip\salt\fileserver" directory does not have in it all the files that are in the analogous "...\Python27\Lib\site-packages\salt\fileserver" directory when salt-unity.py is run directly.  Does anyone know how those files could be made to be populated in the library.zip based directory?

[2015-02-24 21:55] jfindlay commented on #20862
@UtahDave

[2015-02-24 22:03] lorengordon commented on #20695
Anyone working on this yet? I'm free tomorrow and I think I can knock it out. I'd actually put the test and new parameter in file.replace, since file.search is just a wrapper around that. The issue exists with file.replace as well, of course. Two birds with one stone!

[2015-02-24 22:06] igorwidlinski commented on #20976
Updated to versions 2014.7.2 and ZMQ to 4.0.4. and the minions still become unresponsive.

[code]

[2015-02-24 22:07] rallytime commented on #20921
@bbinet Since your fixes for this issue have been merged in, I am going to close this issue. Thanks for filing the report and for the fixes! If more work needs to be done here, just leave a comment and we can re-open the issue.

[2015-02-24 22:07] #20921 closed

[2015-02-24 22:19] rallytime commented on #1957
We haven't been seeing these types of errors for a while now, as far as I know, and after @pitatus's investigations, I'm going to close this. If this remains an issue, leave a comment and we can re-open. Thanks!

[2015-02-24 22:19] #1957 closed

[2015-02-24 22:26] joehealy commented on #18822
What happens if you try installing salt-common "directly"?

apt-get install salt-common

Joe

On Wed, Feb 25, 2015 at 1:50 AM, frleb <notifications@github.com> wrote:

[2015-02-24 22:37] whiteinge commented on #20695
No one has taken it up yet. @lorengordon it's all yours. And good call on putting that in `file.replace`.

[2015-02-24 22:41] nesv opened #20993 "Documentation: add note for SSH URLs when using dulwich as the gitfs_provider"
So, something I ran into while getting into Salt, was that when you set the `gitfs_provider` config option to `dulwich`, there will be an error, every minute, in the logs stating the URL scheme is incorrect:

[code]

After looking at the API documentation for Dulwich, it would appear that if you want to use SSH to clone the Git repo, you need to specify the scheme as:

[code]

All I am asking is t

[2015-02-24 22:41] kiorky commented on #20936
needs also #20991 to be merged

[2015-02-24 22:44] iggy commented on #19658
Here is my simplified grain:

/srv/salt/_grains/ocsenv.py
[code]

Here is the output from a working version:
[code]

[2015-02-24 22:45] techhat commented on #20925
@Inveracity, do you know of an existing driver that we can use for it? Does the Azure SDK that we're using now support it?

[2015-02-24 22:46] rallytime commented on #20993
Thanks for the report @nesv. Your documentation request is a completely doable one! Would you like to submit a pull request adding your note? If not, we can add this very easily. The docs that this fix should address are:
- http://docs.saltstack.com/en/latest/topics/tutorials/gitfs.html
- http://docs.saltstack.com/en/latest/ref/file_server/all/salt.fileserver.gitfs.html

@terminalmage ping - just

[2015-02-24 22:53] rallytime commented on #20924
The `cli` stacktrace that you are seeing here is due to some large refactors that are present on 2015.2 branch and not on the 2014.7 branch. When you switch from 2015.2 (or newer) code back to 2014.7, the compiled .py files need to be replaced. I have to switch back and forth several times a day, and this is definitely frustrating. However, the good news is that it should not be an issue when inst

[2015-02-24 22:53] #20924 closed

[2015-02-24 23:00] nedrocks opened #20997 "Reported error on broken compilation is misleading"
While attempting to deploy a new service, I had initially called it stream but changed the name to stream_service. The layout looked like:

<pre>
stream_service
  |  stream_bin.sls
  |  init.sls
</pre>

stream_bin.sls contained the following lines at the start (which were the issues):

<pre>
include:
  - stream
  - supervisor
</pre>

When running highstate, I received the following error:

<pre>
c

[2015-02-24 23:08] lorengordon commented on #20695
That one turned out to be so easy I didn't bother to wait until tomorrow.

[2015-02-24 23:15] jfindlay commented on #18317
@mikn, I hope it's fine with you that I've fixed this according to your suggestions.

[2015-02-24 23:18] jacksontj commented on #19658
@basepi Turns out there aren't any tests around the _pillar call on the master-- meaning this specific piece of magic is un-tested :( My PR (#21001) fixes this, but we should get tests in to cover this feature.

[2015-02-24 23:19] mikn commented on #18317
Oh, of course! Today was a very busy day and I have not validated it
completely, but if you feel like it solved your problem and you've tested
the four main scenarios (no arguments, one argument, list of arguments and
keyword arguments), all is good!
On 25 Feb 2015 00:15, "jfindlay" <notifications@github.com> wrote:

[2015-02-24 23:26] jacksontj commented on #19658
FTR the above PR will fix pillars, but not orchestrate (at least I can't confirm it).

[2015-02-24 23:35] jacksontj commented on #19658
After looking some more I'm not sure how/if grains where ever accessible in the orchestrate system. From looking at the code and docs it seems that the closest that's supported is grain-based targeting.

[2015-02-24 23:39] garethgreenaway commented on #20818
The save doesn't work at all?  The intended functionality was to aggregate all the rules into memory then save once they were all in place, instead of running save after each insert or append.

[2015-02-24 23:39] #20931 closed

[2015-02-24 23:41] garethgreenaway commented on #20033
Added and merged into the latest develop.  @Diaoul can you verify if the change does what you want, then close this issue out.

[2015-02-24 23:48] eliasp commented on #18168
@rallytime Seeing this on:
**OS:** Ubuntu 14.04.1 amd64
**Salt:**
[code]

[2015-02-24 23:50] rallytime commented on #18168
Ok great thanks for the update!

[2015-02-24 23:51] jacksontj commented on #20945
#21003 will check for the tornado minimum version before loading-- so you'll get a *much* better error message. @Vehyla thanks for reporting!

[2015-02-24 23:58] jacksontj commented on #20908
@kiorky as @jfindlay mentioned, the opts dict is (by design) immutable. In the past it was just a dict, which has caused some confusion (such as this) since *some* places pass copies, some pass references, or some do whatever they want. __opts__ (in the loader) has *nerver* had a gaurantee of consistency across modules, nor is it intended to. If modules need to share context between execution they

[2015-02-25 00:09] notpeter commented on #18647
Honestly, I gave up on using salt's npm states.

Ultimately I needed three things it's missing:
 * non global npm install (omit "-g", specify a cwd where node_modules will go)
 * pkgs/versions specified in package.json not in the salt state.
 * install dependencies while not devdependencies ("--production")

All were very easy to handle with a cmd.run so I opted that route for now. Someone could c

[2015-02-25 00:11] cachedout opened #21004 "saltutil.runner broken"
``
 % sudo salt silver saltutil.runner manage.down

silver:
    ERROR executing 'saltutil.runner': The following keyword arguments are not valid: {'__pub_user': 'sudo_mp', '__pub_arg': ['manage.down'], '__pub_fun': 'saltutil.runner', '__pub_jid': '20150224174258256673', '__pub_tgt': 'silver', '__pub_tgt_type': 'glob', '__pub_ret': ''}, {'__pub_user': 'sudo_mp', '__pub_arg': ['manage.down'], '__pub

[2015-02-25 00:13] kiorky commented on #20908
well, i know of tls mod and it can switch over to context yes, but we may have broken here others modules with that change, i ll have a look tomorrow to switch tls mod to context.

[2015-02-25 00:14] kiorky commented on #20908
did you saw the related PR which allow to conserve the old behavior where opts was somewhat shared.

[2015-02-25 00:14] kiorky commented on #20908
cc @thatch45 , do you have any feeling on this ?

[2015-02-25 00:15] kiorky commented on #20908
(my first intention on that PR was to make something transparent for consumers (exec mods) & backward compatibility)

[2015-02-25 00:18] wt commented on #20807
Looks like it has been merged. Do we have an ETA on the 2014.7->2015.2 merge? It might also be useful to do a 2015.2 -> develop merge if that hasn't happened in a while also.

[2015-02-25 00:21] rallytime commented on #18647
@notpeter The npm modules and state could certainly use some more functionality. It looks, according to the docs, that there were some new additions and improvements, along with this fix. That being said, I think there is still some work that needs to be done for you to use it as you've specified. Glad you found some work-arounds.

I'm going to close this issue for now, but if this pops up again,

[2015-02-25 00:21] #18647 closed

[2015-02-25 00:25] rallytime commented on #20807
@wt We usually do a merge-forward for each branch every day or two. Sometimes it take a bit for the fixes that go into 2014.7 to get all the way up to develop as we deal with merge conflicts and testing. I know a 2015.2 --> develop happened just today, as I merged it. That one is here: #20994.

The most recent merge from 2014.7 to 2015.2 is here: #20944. Looks like the fix from @jfindlay is waitin

[2015-02-25 00:30] wt commented on #20807
Thanks for the link to the PR for the merge.

[2015-02-25 01:01] jacksontj commented on #20908
@kiorky that PR doesn't "preserve old behavior" it changes the old behavior. If you look at how the old loader packed the opts the new one uses a complete copy-paste of the method (https://github.com/jacksontj/salt/blob/2014.7/salt/loader.py#L647 vs https://github.com/jacksontj/salt/blob/2015.2/salt/loader.py#L963 for example).

The problem you are running into is that since it isn't guaranteed ma

[2015-02-25 01:06] iggy commented on #19658
I can verify #21001 fixes the issue with the command line test. Orchestrate is still not working. I just went back and looked and we were using standard grains before (instead of our custom grains). So It may very well have been broken all along and these just hit me both at the same time so I assumed they were related.

TL;DR custom grains in pillars are fixed, still don't work in orchestrate

[2015-02-25 01:26] steverweber commented on #19917
I took a look at the source code.  If i include the key it will prevent the issue or if i disable hash_hostname.
However it would be nice to allow just the fingerprint to do the job.

I'll add a fix in a few min.

[2015-02-25 01:46] terminalmage commented on #20993
Since this will require a code change to provide a more meaningful error, I'll handle the fix and documentation clarification Thanks @nesv for bringing this to my attention.

[2015-02-25 01:51] steverweber commented on #19917
the fix was kinda a pain to track down...
should have the module developer review...

[2015-02-25 02:09] drzraf opened #21008 "salt-ssh RuntimeError: maximum recursion depth exceeded (line 61, in need_deployment)"
[code]

The script executed: (I had to base64 -d manually, ...)
http://paste.debian.net/156674/

[code]

Worse mentioning I try to use salt-ssh as a non-root user (but my ~/.salt/etc/salt/roster contains  sudo: True for that host)

Should I say that I upgraded salt-ssh from Jessie to Debian/experimental 2014.7 in order to avoid issue #7913
(`[CRITICAL] Unable to import msgpack or msgpack_pure pyth

[2015-02-25 02:15] drzraf commented on #21008
Adding that removing temporary directories/files and using sudo: False does not solve the issue.
The same recursion limit is reached on the same line (if dstat.st_mode != 16832)

[2015-02-25 02:23] terminalmage commented on #20993
I've added a fix for this to an already-open pull request.

[2015-02-25 02:24] #20993 closed

[2015-02-25 02:31] gzcwnk opened #21009 "salt-minion still not responding to salt master commands, despite updates to salt"
I still seem to be having issues with salt commands to minions failing, eg,
[code]
[code]
Sometimes it works, sometimes it doe snot.

if I run salt-minion -l debug it always works.

I thought this issue was fixed? seems not.

[2015-02-25 02:34] gzcwnk commented on #21009
-bash-4.1# salt-run jobs.print_job 20150225152441007625
20150225152441007625:
    ----------
    Arguments:
        - iptables2-bind001
    Function:
        state.sls
    Minions:
        - vuwunidrbind001.vuw.ac.nz
    Result:
        ----------
    StartTime:
        2015, Feb 25 15:24:41.007625
    Target:
        vuwunidrbind001.vuw.ac.nz
    Target-type:
        glob
    User:
        root
-

[2015-02-25 02:55] s0undt3ch commented on #21004
What branch?

[2015-02-25 02:57] cachedout commented on #21004
Sorry, develop.

[2015-02-25 02:59] jacksontj commented on #19658
@iggy Can you paste an example of using grains with orchestrate?

[2015-02-25 03:04] rallytime commented on #20993
Awesome! Thanks @terminalmage!

[2015-02-25 04:39] patelrahul2040 opened #21010 "how to write our own winrepo sls file for windows"
thanks each one for winrepo package manager file,but there are some problem is there repo package is not written for most software like
1>aws command line interface
2>pip for window etc...
 there is lot more,
 so can we write our own sls file for package,
if it is there then please let me know that.....

[2015-02-25 05:12] hackel opened #21012 "mongodb module incompatible with MongoDB 3.0 RCs"
With MongoDB 3.0.0-rc10 installed, I get the following error when calling `mongodb_user.present` in a state:
[code]
Looks like this is caused by using StrictVersion on the mongo version string, the standards of which Mongo clearly doesn't care about.  Everything works fine if I fudge the version as "3.0.0b10".

[2015-02-25 09:21] andrejohansson commented on #13070
Any news on this? I've noticed this problem even more now, I try to install a service which requires higher permissions (nxlog for syslog). But this doesn't seem to work either when the salt minion is running as a service under the Local System account. If i stop the salt-minion, and run it from a command prompt. Both the logfile gets written and nxlog can be installed.

I've tried to read on and

[2015-02-25 10:22] andrejohansson commented on #13070
This one is completely on me....sorry for that. I hadn't noticed that the salt minion config had different settings for logging to the console and logging to file. I expected the file to contain at least info logs per default but not using any setting at all makes salt-minion service not writing to file at all.

Setting the file trace level to anything puts info in the file. I will continue invest

[2015-02-25 10:22] #13070 closed

[2015-02-25 11:23] thedrow commented on #8754
Related to #20239.
Well done on writing those tests. :+1:

[2015-02-25 12:31] munhitsu commented on #19763
@choopooly I've been hit with the same issue. Truth is it works.

Linking works just fine. Trouble is in lack of any docs. Stricly speaking you can find one in dockerio.py state file. And they are quite correct.
[code]

Compared to your example `links` argument needs to be a dictionary. Not a list of dictionaries.
[code]
Take a note of extra indention after `links:`. This was my second mistake.
[c

[2015-02-25 12:56] andrejohansson opened #21017 "Minion key gets regenerated when state process hangs, communication lost with master"
This have been a tricky one to find. But we've had problems with minions stopping to work "suddenly" but I think I've got a lead now.

If I do this:
1. Run a state
2. The state runs an process that for some reason fails/hangs/gets corrupted
3. We reboot the machine or restart the minion
4. The minion is unreachable after and starts to send auth requests

When I compare the key of the minion and th

[2015-02-25 13:41] Deshke commented on #18527
re-open :)

[code]

[2015-02-25 13:49] frleb commented on #18822
I just run the command, and salt-common is installed.

The command to install salt-master or salt-minion then works too.

I think there is a dependency problem between salt-(master | minion) and
salt-common on lucid ?

The problem is not present in 14.04 LTS

Thanks !

FL

On Tue, Feb 24, 2015 at 5:27 PM, joehealy <notifications@github.com> wrote:

--
Frédéric Lebel

[2015-02-25 14:04] joehealy commented on #18527
My understanding of this issue is that salt does not work (ie salt itself is not broken, but mako templates will fail in some way) with older versions of python-mako (0.5.1 is the relevant one that is still common in wheezy etc...)

How this is best expressed in a packaging sense, I have no idea....

The current relationships (ie breaks << 0.7.0) will ensure that mako templates will work in salt.

[2015-02-25 14:34] JPT580 opened #21021 "Bad gitfs_remote breaks sls-files in subdirectories for state.(sls|highstate)"
## Version

[code]

_This may probably be obsolete with https://github.com/saltstack/salt/issues/6739 in mind._

## Setup
1. Have a `salt-master`, add valid gitfs_remotes which exist in the filesystem.
2. Properly restart `salt-master`
3. **Delete** one of the gitfs_remotes from the filesystem **but do not remove it from the master config**.

## State tree in `/srv/salt`

[code]

## Master configu

[2015-02-25 14:40] lorengordon commented on #20811
Alright, I've had a chance to study the code around this, and I don't think I'll be able to close this one out myself. I was hoping to just skip the `if` test I referenced and pass the work to the `file.manage_file` module, but it seems that module will only work if `source` or `content` is specified.

Then I got to thinking about it some more, and I realized that I don't really want a new backup

[2015-02-25 15:00] pille commented on #20687
i'm experiencing the same issue on 2014.1.0 and it stays the same after upgrading to 2014.7.1.
my master is on 2014.1.13. the strange thing is, that it worked in the past (probably because the files were cached, but newly introduced files fail).

[2015-02-25 15:11] sosella commented on #20862
Output of salt --versions-report:

           Salt: 2014.7.0
         Python: 2.7.9 (default, Dec 10 2014, 12:28:03) [MSC v.1500 64 bit (AMD64)]
         Jinja2: 2.7.3
       M2Crypto: 0.21.1
 msgpack-python: 0.4.5
   msgpack-pure: Not Installed
       pycrypto: 2.6.1
        libnacl: Not Installed
         PyYAML: 3.11
          ioflo: Not Installed
          PyZMQ: 14.5.0
           RAET: Not In

[2015-02-25 15:25] msciciel commented on #18358
When It would be included in salt release ? After upgrade to 2014.7.1 i had to apply patch manually again :(

[2015-02-25 15:52] choopooly commented on #19763
Thanks a lot @munhitsu, I confirm that it's working fine.
salt: 2014.1.10.
docker: 1.5.0
docker-py: 1.0.0

[2015-02-25 15:56] cachedout commented on #18358
That fix should be in 2015.2 which currently has a release candidate out.

On Wed, Feb 25, 2015 at 8:25 AM, msciciel <notifications@github.com> wrote:

[2015-02-25 16:01] rallytime commented on #18358
@msciciel It actually looks like this bug was fixed on the develop branch. I will see if I can get this backported to an older branch today and let you know.