[2016-10-11 21:16] rmc3 commented on #36148
I'm running into a similar issue with 389-server. Where USERNAME is the username found in the initial authentication, the correct group filter would be:
[code]

However, with the documented auth.ldap configuration options, the best I can make Salt do is:

[code]

This is important because our schema has the full dn of the user as the membership attribute under uniqueMember for each group. It seems

[2016-10-11 21:20] Ch3LL commented on #36920
@fxdgear this is a duplicate of #36055 which has been fixed in #35855 and will be included in the 2016.3.4 release in later october. Closing due to duplciate.

[2016-10-11 21:20] #36920 closed

[2016-10-11 21:21] fxdgear commented on #36920
Great!! Appreciate it.

Was suggested in #salt on irc to create this ticket.

[2016-10-11 21:23] Ch3LL commented on #36920
No problem! Thanks for reporting :) We always would rather someone report something so thank you a bunch :+1: If you want to give that fix a try it should definitely work for ya, but let us know otherwise

[2016-10-11 21:29] rmc3 commented on #36148
Thinking on this further, the group filter option wouldn't work for implementations that have user attributes in multiple paths, e.g., ou=People,dc=foo,dc=com vs ou=People,dc=bar,dc=org. It might be better to:

1. Have an auth.ldap parameter which defines which user attribute to use in the group filter
2. Before looking up group membership, look up the user and find the specified user attribute
3.

[2016-10-11 21:48] mmisztal1980 commented on #36812
Can anyone explain what happened above? why is the minion failing to connect? @cachedout ? Is this an issue with the pre-seeded keys?

[2016-10-11 22:02] rallytime commented on #36906
I have removed these docs in #36925 for the 2015.8 branch, and in #36926 for the 2016.3 branch. (These docs were refactored in 2016.3, I made 2 PRs to make sure they are fully removed from all of the docs that are live online.)

[2016-10-11 22:23] rehmanzile opened #36927 "Accessing environment variables sourced by root/.bashrc"
Custom defined variables in /root/.bashrc are not accessible by pillar files.

In /root/.bashrc, I defined:

[code]

The pillar/common/init.sls file get's "None" when it tries to reference it:

[code]

The question is how are the environment variables sources for salt-master? Do I need to modify /ets/salt/master config file to source everything in /root/.bashrc?

Purpose is to access secrets via e

[2016-10-11 22:33] terminalmage commented on #36831
https://github.com/saltstack/salt/pull/36928 should fix this.

[2016-10-11 23:06] twangboy commented on #36752
There are two modules in OSX that have the `pkg` virtual name. `mac_ports` and `mac_brew`. If Homebrew is installed, then the `mac_brew` module is called by `pkg`. If MacPorts in installed, then it uses the `mac_brew` module. The unknown is... what happens if I have both MacPorts and Homebrew installed?

Anyway, since the `pkg_resource.version` function makes a call out to `pkg.list_pkgs` you'll n

[2016-10-11 23:20] twangboy commented on #36902
Yes.

[2016-10-11 23:29] twangboy commented on #36895
The complexity is needed to handle, as stated, 100% of the use cases. In my opinion, it clarifies exactly what you're trying to do. It removes the need to try to *guess* what the user intended by making them explicitly define what they want to happen.

[2016-10-11 23:34] lorengordon commented on #36895
To clarify, I don't mean that we should _skip_ those 5% of use cases. Instead, simplify the interface and use sane defaults to address the 95% of use cases. Then let the other 5% override those defaults as needed. UI stays simple, and we get 100% coverage. win/win.

[2016-10-11 23:38] whiteinge commented on #36148
I'm sorry to say this discussion has decidedly eclipsed my LDAP knowledge. If either of you are able/willing to look at the `groups()` function and see a good path forward that would be helpful:

https://github.com/saltstack/salt/blob/develop/salt/auth/ldap.py#L292-L367

In the meantime I'll ask around for a better person to field LDAP questions than I.

[2016-10-11 23:38] rehmanzile opened #36932 "KeyError: 'boto_route53.present' when running Route53 Formula"
KeyError: 'boto_route53.present' when running "configure_aws.sls" formula to update Route53 entry.

[code]

However, the following exception is thrown by the minion even though the aws module is installed:

[code]
### Versions Report

[code]

Minion version is **2016.3.3**.

Both salt master and minion are Ubuntu machines.

[2016-10-12 01:17] hemebond commented on #10070
My first time using all this auto-scaling stuff but [this is what I currently have](https://gist.github.com/hemebond/4b48df43721adb283e0df404501a4b59).

[2016-10-12 01:36] whiteinge commented on #36601
@mirceaulinic I missed the notification for your reply -- apologies for the slow reply.

Thanks for the thorough reply and for testing that.

I ran uwsgi with the flags you showed above (except for timeout which is not available in my version for some reason) and I ran a few thousand jobs through Salt. So far nothing to report. I'll leave it running through tomorrow to see if that surfaces anythin

[2016-10-12 04:40] JensRantil commented on #10070
I am running auto scaling in production using this setup: https://github.com/JensRantil/saltstack-autoscaling Works like a charm and is much more secure than that proposed solution of using a shared secret. I propose we close this issue and make my solution a best practise.

[2016-10-12 05:55] hujunya commented on #34478
@Ch3LL the PR #35849 can fix this bug.
Thank you so much !

[2016-10-12 05:55] #34478 closed

[2016-10-12 07:26] oldskool commented on #27161
I am also experiencing this issue on 2016.3.3. Did anybody happen to find a workaround for this?

[2016-10-12 07:29] guettli opened #36935 "Handling of psutils in the future"
### Description of Issue/Question

There are a lot of issues concerning psutil. Too much waste of time.

I see four conditions:
1. The matching psutil is installed (most likely via rpm/dpkg)
2. psutil is not installed
3. A too old version of psutil is installed
4. A too new version of psutil is installed
### Steps to Reproduce Issue

https://github.com/saltstack/salt/issues?utf8=%E2%9C%93&q=is%3Ai

[2016-10-12 07:57] DmitryKuzmenko commented on #36866
@meggiebot will do!

[2016-10-12 08:28] tjyang commented on #34034
@Ch3LL

1. My salt-master is on Centos 7.2 and minions are on a few different versions.
2. See previous reply above at this line
[code]
I queried those minions right after centos5 nodegroup query being reported not connected. "not connected minions" reported their saltversion correctly.

[2016-10-12 10:20] abonillasuse commented on #36548
Any news from this?

[2016-10-12 11:11] alexbleotu opened #36937 "__proxy__ dunder no longer injected in execution modules"
### Description of Issue/Question
I've merged the upstream develop branch into ours to get all of the latest changes. After getting all unittests to pass, I got into issues with my first manual test - running `test.ping` - which appears to be broken:

1. `__proxy__` dunder is no longer injected in execution functions.
1. The ping function still uses `__opts__['proxy']` which apparently is no longe

[2016-10-12 11:39] ugurengin commented on #34409
@Ch3LL Yes.

[2016-10-12 11:45] marx-freedom commented on #36881
Thanks!

[2016-10-12 12:43] clinta opened #36939 "check_cmd error "No such file or directory""
### check_cmd fails with Errno 2.

Even with the most basic check_cmd of /bin/true which should always succeed.

### Setup
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2016-10-12 12:46] clinta commented on #36939
Also, nothing strange with my shell on this box:

[code]

[2016-10-12 12:50] lubyou commented on #6437
+1 for this feature

[2016-10-12 12:58] steverweber commented on #34547
I have the same error as @sebw using:
[code]

[code]
using:
[code]

also has issues.. because the salt vmware driver is using some keywords that are not available.
[code]

so i removed them from 3 calls.
[code]

then after all that... still hitting issues.

[2016-10-12 13:00] clinta commented on #36939
I've tried using the latest `states.file` and `modules.cmdmod` from the 2016.3 branch and the only change is the line numbers in the stack trace:

[code]

[2016-10-12 13:11] gtmanfred commented on #36927
If you are storing them in environment variables or in a flat text file in .bashrc, is there any reason it can't be stored in /etc/salt/grains? Which is only readable by the root user, just like /root/.bashrc, but would be available through {{grains.get('FOO')}}.  Alternatively, these could be stored in pillars and sent to specified minions and only have them stored on your master, and not on each

[2016-10-12 13:16] steverweber commented on #34547
@nmadhok perhaps you have feedback.

i'm going to install a signed cert today... if this does not resolve the issue then going to have to start some low level debugging.

[2016-10-12 13:21] clinta commented on #36939
My mistake. Checkcmd is a list when used as a global requisite. It is differnent in the file.managed state.

The proper sls for file.managed is this:

[code]

[2016-10-12 13:21] #36939 closed

[2016-10-12 13:33] s0undt3ch commented on #36935
1. We should probably focus on and enforce the second approach
2. Partially done [here](https://github.com/saltstack/salt/blob/develop/salt/utils/psutil_compat.py) we probably just have to migrate existing code to use this compat module and make sure new code additions which rely on `psutil` to use the compat module.
3. Although an interesting idea(self-contained installation), we still have compi

[2016-10-12 13:47] buildmaster-nyansa commented on #36927
How would I define FOO in /etc/salt/grains on salt master? Is it a YAML construct? Can you please point me to an example? Thanks.

[2016-10-12 13:48] s0undt3ch commented on #36489
So, the second issue requires an internal change to salt. We need to start injecting a thread local object, perhaps something like `__local__`(unless we find some implementation problems). This object would hold `__jid__` and any other data which requires to be local.
About the first issue, I'm going to see what I can come up with and will report back.

[2016-10-12 14:09] aronneagu opened #36940 "Salt request timed out. The master is not responding. If this error persists after verifying the master is up, worker_threads may need to be increased."
### Description of Issue/Question

I am trying to run `salt <target> state.highstate` but I get the error "Salt request timed out. The master is not responding. If this error persists after verifying the master is up, worker_threads may need to be increased. " or "Minion did not return. [No response]". We have worker_threads the default value (5).

We are running 15 salt-minion EC2 instances with

[2016-10-12 14:16] aronneagu commented on #36940
I forgot to mention that I tried increasing the worker_threads up to 10 and it didn't help.
`salt '*' test.ping` returned the error
`Salt request timed out. The master is not responding. If this error persists after verifying the master is up, worker_threads may need to be increased.`

[2016-10-12 14:22] s0undt3ch commented on #36489
@sjmh: Do you want to run each reactor run in its own file? Or all runs of that reactor to its own file?

[2016-10-12 14:22] alexbleotu opened #36941 "state.highstate command triggering grain refresh"
Hi,

Shouldn't the state.highstate command trigger a grain refresh? It already triggers a pillar refresh, but considering that states use both pillar and grain values, shouldn't there be updated grain values as well?

[2016-10-12 14:32] gtmanfred commented on #36927
Grains is a yaml templated file that goes on the minion, https://docs.saltstack.com/en/latest/topics/grains/

for storing static data.  If you are just wanting stuff stored on the master, you should just put it in the pillar file instead of using environment to pull it.  If you still want to use environment, use the /etc/defaults/salt or /etc/sysconfig/salt file that is used in your systemd servic

[2016-10-12 14:38] s0undt3ch commented on #36489
For a single log file for all reactor runs:
[code]

CLI:
[code]

Contents of `/tmp/runner-intuit.log`:
[code]

[2016-10-12 14:43] buildmaster-nyansa commented on #36927
Thanks. I will try it out.

[2016-10-12 15:13] khaije1 opened #36942 "Add Support for Jinja2 Line Statements in SLS files"
### Feature Request

Add support for Jinja2's Line Statements in SLS files
- this should be optional and disabled by default to prevent unintended side-effects in existing SLS files
- ref: http://jinja.pocoo.org/docs/dev/templates/#line-statements

Keeping states tidy, complete, safe, and readable requires a systematic approach. I see Jinja2 line statements as being particularly useful when decora

[2016-10-12 15:25] scubahub commented on #36831
Thanks!

[2016-10-12 15:55] buildmaster-nyansa commented on #36932
+1

[2016-10-12 16:17] ATcanderson commented on #34448
I am seeing the same error on all of our 2003 servers (46 of all releases, 32, 64, R1 and R2, etc).

It errors on attempt to load the Schedule.Service COM object, which may not exist on 2003 Server. Maybe this can be changed for 2003 server to call the command-line app to schedule a task?

[2016-10-12 16:31] beakerman29 opened #36944 "win_service in 2016.3.0 (Boron) win_service.create returns as error"
Setup a service to be created on one of my windows boxes. When the service already exists it reports the task as failed because the action in the source is to throw an exception.

I believe the following is the issue:

if name in get_all():
   raise CommandExecutionError('Service Already Exists: {0}'.format(name))

this is from the win_service.py in the modules directory

here is my SLS:

CreateSe

[2016-10-12 17:20] twangboy commented on #36191
@davegiles This is because `cms.script` is designed to pull a script down from a url and run it. It kind of does what you were attempting to do in the state file with one command. So something like this should work:

[code]

There is no `create` option in `cmd.shell`. There is a `creates` option which will check for a file that the script creates and only run the script if the file does not exist.

[2016-10-12 18:11] terminalmage commented on #34101
The ``archive.extracted`` state is not *just* for tar archives.** ZIP archives are also supported, and a single top-level directory is most definitely _not_ the "common" use for ZIP archives. ``if_missing`` was therefore likely initially introduced as an attempt to shoehorn idempotence onto a state that needs to support more that one kind of archive type.

Given the differences in use between tar

[2016-10-12 18:47] Arabus opened #36951 "[doc] dockerng option cpu_shares should be an integer"
The examples in the saltstack [state](https://docs.saltstack.com/en/2015.8/ref/states/all/salt.states.dockerng.html#salt.states.dockerng.running) and [module](https://docs.saltstack.com/en/2015.8/ref/modules/all/salt.modules.dockerng.html#salt.modules.dockerng.create) documentation for dockerng suggest that the option `cpu_shares` can be set to a float value whereas the [official docker documentat

[2016-10-12 19:58] Ch3LL commented on #36932
@rehmanzile what version of boto do you have installed?

If you run these commands in a python interpretter what do you see:

[code]

[2016-10-12 20:23] Ch3LL commented on #36940
@aronneagu For the `"Minion did not return. [No response]"` error please ensure there is no network slowness or issues between the minion and masters. Also please set `log_level: debug` in the master and minion that will give us some more information in general. But the minion did not return a lot of times is telling of a network issue.

Also can you check `top` to see if maybe there is a resource

[2016-10-12 20:50] hoitsang opened #36953 "Managing ext_pillar password in /etc/salt/master"
### Description of Issue/Question

Howdy, what would be the best way to encrypt data (namely password) in /etc/salt/master with ext_pillar configuration?
### Setup

[code]

Instead of saving it as plain text password, can that be stored as gpg encrypted, and have salt to decrypt just like encrypted data from the pillar?

[2016-10-12 20:50] buildmaster-nyansa commented on #36932
@Ch3LL My mistake! Boto was not installed on the minion at all. I couldn't figure it out from the error message. Thanks for your help.

[2016-10-12 21:02] Ch3LL commented on #36941
ping @thatch45 or @cachedout  can I get one of your opinions here. It looks like state.highstate does a sync_all which refreshes custom grains but not static grains. Do you guys think this might be too expensive of a refresh? Thoughts?

[2016-10-12 21:05] Ch3LL commented on #36942
I think this is a pretty sweet idea! I'll approve as a feature request. Thanks!

[2016-10-12 21:10] alexbleotu commented on #36941
Interesting, so what's the difference between custom grains and static grains and how does implement one versus the other?

[2016-10-12 21:24] rmohta opened #36955 "Ability to redact cmd.run output"
### Description of Issue/Question

I would like to have the ability to redact the output of cmd.run. It could be std_out, std_err or even the command that we run.
### Setup

(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
### Steps to Reproduce Issue

(Include debug logs if possible and relevant.)
This is the output we have today. If only, we could redact the

[2016-10-12 21:27] gtmanfred commented on #36953
Eventually you have to store the password somewhere.

You could store it in an environment variable, and use the salt environ sdb to pull it from the environment when salt is started.  It would also be possible to use keyring which is password protected.

https://docs.saltstack.com/en/latest/ref/sdb/all/salt.sdb.keyring_db.html

To do one with gpg, you could write a gpg sdb module.

[2016-10-12 21:28] rmohta commented on #36955
One way I have been able to do it is to modify [this line in cmd.py](https://github.com/saltstack/salt/blob/3b81c37a531c48ff54a2332c4ea9c0d108ce0e74/salt/states/cmd.py#L796) to use regular expression like below

`
re.sub(url_re, redacted, name)
`

by having
`
url_re = '(Authorization:Basic?).*\''   and redacted =  r'\1:<redacted>'
`

The url_re is taken from kwargs

[2016-10-12 21:39] Ch3LL commented on #36944
@beakerman29 i'm having a hard time seeing the code:

[code]

in salt 2016.3.0. Can you point me to where you are seeing that? Thanks

[2016-10-12 21:45] Ch3LL commented on #36951
@Arabus thanks for pointing this out looks like we need to update our docs here. Thanks!

[2016-10-12 21:50] hoitsang commented on #36953
Have anyone think of adding the gpg renderer (#!gpg shebang line) be available for /etc/salt/master?...

[2016-10-12 21:50] Cashwini commented on #36752
@twangboy @Ch3LL Makes sense. We don't have either installed on our machines.

[2016-10-12 21:53] Ch3LL commented on #36149
Closing user verified it fixed their issue. Thanks

[2016-10-12 21:53] #36149 closed

[2016-10-12 21:56] Ch3LL commented on #34034
hmmm odd... what if you delete your salt cache on master/minion that is causing issue?

[2016-10-12 21:56] Ch3LL commented on #34409
Perfect thanks for getting back to me. Closing now

[2016-10-12 21:56] #34409 closed

[2016-10-12 21:58] Cashwini commented on #36778
@gtmanfred
Result from `sudo salt '*' group.getent` below:
[code]
Results from `sudo salt '*' group.info com.apple.access_screensharing`:
[code]

[2016-10-12 21:59] Ch3LL commented on #34448
ping @twangboy what do you think about this? Do we even support windows 2003?

[2016-10-12 22:01] gtmanfred commented on #36778
can you provide the output of `getent group com.apple.access_screensharing`

[2016-10-12 22:05] Ch3LL commented on #36932
@buildmaster-nyansa glad you got it past that error now. For the other issue which version of salt are you on? Also if you run the state with `salt-call -ldebug <state>` that should give us some more data and paste any related information here. Also make sure to sanitize that output. :)

[2016-10-12 22:09] Ch3LL commented on #36941
@alexbleotu you can actually write your own custom grains as documented [here](https://docs.saltstack.com/en/latest/topics/grains/#writing-grains). Static grains are just the default grains on your stystem such as os, os_family, etc.

I do want to make sure either thatch or cachedout verify my analysis of the code that it does not update static grains when running a highstate though.

Also @alexbl

[2016-10-12 22:11] Ch3LL commented on #36832
Thanks for clarifying. ping @terminalmage looks like you added this. I'm not seeing anything obvious in the code that would cause this intermittent behavior. Any ideas?

[2016-10-12 22:17] buildmaster-nyansa commented on #36932
@Ch3LL I am running salt version 2015.5.3. Looks like there was a [fix](https://github.com/saltstack/salt/issues/27374) checked in during October.

Btw, do I need to copy the <state> file to the minion to run the salt-call command?

[2016-10-12 22:17] cro commented on #35443
@mirceaulinic I think this is now fixed in the carbon branch.  The PR for that only got merged yesterday.  Any way you can try that our and see if it's still broken there?

[2016-10-12 22:23] mirceaulinic commented on #35443
That's great news @cro! Yes, for sure I would like to test it - most probably next week I should be able to install it on the test platform.
Can you please point out what was the issue in this case?
Thanks!

[2016-10-12 22:23] Ch3LL commented on #36819
@carsten-AEI glad you got the memory issue working :)

ping @cachedout any ideas on how to get out the updates quicker in @carsten-AEI 's setup?

But also another question as well: are all your minions 2016.3.3 as well?

[2016-10-12 22:28] cro commented on #35443
There was some refactoring that went into carbon that was supposed to fix issues similar to this.  I had to add support for proxies to go with the refactoring.  If your modules keep disappearing after these changes we should probably instrument the fileserver and fileserver cache and see if we can tell what is making the cache forget these modules.

[2016-10-12 22:30] mirceaulinic commented on #35443
I see - thanks for detailed explanation.
I will test it out and will come back with a feedback. Cheers!

[2016-10-12 22:32] beakerman29 commented on #36944
Starting at line 822 in the win_service.py there is the def create(.... about 200 lines under that at line 1011 is the code I am speaking of. It tests if the service already exists. If it does it returns an exception. it in the salt/modules folder

[2016-10-12 22:34] tjyang commented on #34034
@Ch3LL , can you provide the exact  command on how to delete salt cache ?
for example mzger01 and log02 show "not connected" all the time when running -N centos5.

[code]

I ran following command,

[code]
should I restart the minion service also  ?
also what is the command for master side  to clean the cache ?

[2016-10-12 22:39] Ch3LL commented on #36932
ahh nice find! I would really recommend upgrading to our latest 2016.3.3 release since 2015.5.3 is end of lifed i believe. If you upgrade are you still seeing the issue?

Also for salt-call you can simply run `salt-call -ldebug <statefile>` and it will make a call to the master for that state file. Its only when you run `salt-call --local` tat you would need the state file on hte minion, because l

[2016-10-12 22:44] Ch3LL commented on #36944
Sorry I must be blind. But I only see 586 lines in the win_service.py file in 2016.3.0 as shown [here](https://github.com/saltstack/salt/blob/v2016.3.0/salt/modules/win_service.py) Maybe i'm looking at completely the wrong file?

I agree we should not throw an exception if the service already exists, but want to verify that with teh code but I can't seem to find it. Apologies for my ignorance. Do

[2016-10-12 22:53] Ch3LL commented on #34034
@tjyang looks like there are execution modules [here](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.saltutil.html#salt.modules.saltutil.clear_cache) for minions to clear your cache. But I would recommend just doing the folloiwng on the minion:

1. stop minion
2. `rm -rf /var/cache/salt/minion`
3. start minion

Since there is only a couple of minions. We can troubleshoot from th

[2016-10-12 22:55] Ch3LL commented on #36752
Thanks for clarifying @twangboy i wasn't aware of mac_ports.

@Cashwini do you see this issue as resolved? Or do you have other concerns?

[2016-10-12 23:25] buildmaster-nyansa commented on #36932
First off, I am getting this error after the upgrade:

[code]

Also, when I created the machine, salt-cloud also reports an error:

[code]

Eventhough profile has the right entry:

[code]

[2016-10-12 23:31] twangboy commented on #34448
You could try passing `'"salt-minion"' instead of `'salt-minion'`. That's <single><double>salt-minion<double><single>.

[2016-10-12 23:52] damon-atkins commented on #36944
Their needs to be a **state** for this, which check to see if the service is configured as expected and if not changes it.

[2016-10-13 00:19] damon-atkins commented on #36941
Another tool call puppet collects facts (grains) before each run most of which never change, it slows puppet down significantly.

[2016-10-13 00:35] beakerman29 commented on #36944
That's what I was starting to think. Based on the return from the module you use a state to control what should happen.

[2016-10-13 00:35] #36944 closed

[2016-10-13 01:05] damon-atkins opened #36960 "RFE: salt.states.service.configured"
### Description of Issue/Question

Their needs to be a state to configure a service, which check to see if the service is configured as expected and if not changes it. i.e. salt.states.service.configured which supports windows, systemd, solaris. i.e. the platforms which do do use init.d/rc.d

It needs to accept a list of params which are common across platforms, and also a extra platform specific

[2016-10-13 01:05] damon-atkins commented on #36944
Created #36960

[2016-10-13 01:09] tjyang commented on #34034
1. Also what version are these minions?
as shown above
[code]
2. I followed your instruction exactly but the " Minion did not return. [No response]" output increase from two minions to hounds of minions(the rest of non-centos5).
    history:  before I cleared the cache I only have two miss-judged minions, last week I had a few dozen one.

3. Is there other command like "-l debug", "-l trace" can h

[2016-10-13 01:59] nullify005 opened #36961 "boto_secgroup assumes a string when checking ip_protocol validity when not tcp|udp|all|-1"
### Description of Issue

When trying to create a secgroup using a numbered protocol the jinja renderer + sls appears to be calling boto_segroup.present with the ip_protocol as an int if the ip_protocol is clearly not a string (such as udp, tdp or all)

This has the effect of causing an exception when isdigit() is called on an int

For example:

[code]

If https://github.com/saltstack/salt/blob/v2

[2016-10-13 07:19] alexbleotu commented on #36941
That may be the case, but what's the point running a state.highstate off stale input because grains are out of date?

@Ch3LL I saw the same behaviour on 2016.3 and develop and it happened on a custom grain, on a proxy minion.

[2016-10-13 08:13] AndrewPashkin commented on #4244
It's impossible to implement it that way, because to handle inclusion, you need to render a pillar file first, using a renderer (e.g. Jinja2).

[2016-10-13 08:19] morganwillcock commented on #35342
Can I backport the recursive delete of the sls files? Otherwise this is a bug that isn't getting fixed on the stable branches.

[2016-10-13 08:33] damon-atkins opened #36962 "doc/topics/development/conventions/formulas.rst ID Naming Standard"
### Description of Issue/Question
doc/topics/development/conventions/formulas.rst needs to talk more about suggested ID Naming Standard for https://github.com/saltstack-formulas   e.g if everyone used install_pkg for an ID salt would fail.

It needs to provide guidance  on naming the ID. e.g.
* prefix with formula state name
* use suffice with formula state name
etc

[2016-10-13 09:26] oz123 opened #36963 "Document how to access context data when using py renderer"
### Description of Issue/Question

If I use a reactor with the jinja parser I have a dictionary called data which contains useful information.

[code]

If I am using the python renderer I have no clue how to use it. I was trying the following thing:

[code]

So my intent was to get the variable from jinja, and use them in Python. When I run the salt master in debug mode, the file is rendered in th

[2016-10-13 09:51] daemonkeeper opened #36964 "multiprocessing: True considered harmful"
### Problem Description

Salt enables the multiprocessing: True configuration key by default. This causes Salt to fork off a process copy when executing a state. The related code is:

salt/minion.py

[code]

and

salt/utils/**init**.py

[code]

Arguably there are some good reasons to fork off a process copy, but there are cases, where this actually breaks a system. For once, it most certainly brea

[2016-10-13 10:02] hemebond commented on #36963
The data variable should be accessible in the Python renderer as a global variable.

[2016-10-13 10:17] oz123 commented on #36963
So the obvious solution was the solution ...
If you leave this ticket open I will submit a PR documenting this next week.

[2016-10-13 11:14] ugurengin opened #36965 "salt-cloud NameError: name 'get_salt_interface' is not defined"
### Problem Description

I am seeing an error exception below while creating a machine at aws using salt-cloud via jenkins.Thus when i run these commands on cli which is installed linux instance, so i didn't see any exception.Note that even occurring this exception via jenkins task that i might created instance as properly.However this syntax exception is coming when every task is started, so it i

[2016-10-13 11:38] hustodemon opened #36966 "API server shuts down when SSH call with no matches is issued"
### Description of Issue/Question
When using salt-ssh via the API (cherrypy), a casual call like this:

[code]
makes the server go down, curl output is: `curl: (52) Empty reply from server`.

Relevant master log output:
[code]

I've discovered that salt ssh considers a scenario with no matching "ssh-minions" to be an exception and I worked this around using the attached patch (which breaks the `sa

[2016-10-13 12:39] gmykhailiuta opened #36967 "S3fs objects list gets truncated"
### Description of Issue/Question

Salt-master only fetches first 1000 objects in AWS S3 bucket. If there're more objects - they are silently ignored.

S3 REST API returns only 1000 objects at a time. "max-keys" request parameter is responsible for this limit and it can be set to lower value, but values bigger than 1000 are ignored. According to AWS documentation, if bucket contains more than "max

[2016-10-13 13:15] damon-atkins opened #36968 "pkg.compare_versions not available on all platforms within JINJA"
### Description of Issue/Question

pkg.compare_versions is only available for windows.
This would be useful for other jinja templetes. e.g. version X called an option B and now its called D

It should be removed from win_pkg and made available to all in pkg/platforms.
### Setup

All versions.

[2016-10-13 13:17] dmelnicz opened #36969 "No option to provide proxy parameters for dockerng.image_present"
### Description of Issue/Question

There is no option to provide proxy parameters for dockerng.image_present.
### Setup

[code]
### Steps to Reproduce Issue

[code]
### Versions Report

[code]
### Additional comment

There seems to be workaround by providing custom configuration file for docker: http://stackoverflow.com/a/28093517/993324

[2016-10-13 13:32] damon-atkins commented on #35342
Hi @morganwillcock the fix is a behaviour change. It's up to the SaltStack to decide.

If running windows systems, I would run the latest version of salt (after some testing), because of the functionality improvements, performance and large number of fixes.

[2016-10-13 13:36] mamalos opened #36970 "decorators.memoize does not support keyword arguments caching"
### Description of Issue/Question

Since there is a decorator for caching a function's return values based on its arguments (decorators.memoize), I am not sure I see a reason why it doesn't support keyword arguments.
### Workaround

Keyword arguments support could easily be added by modifying its private _memoize function with something like the following:

[code]

Before submitting a pull request

[2016-10-13 13:52] buildmaster-nyansa commented on #36940
+1

This seems like the same [issue](https://github.com/saltstack/salt/issues/36932) I am facing. I am using Boron as well for the master and slave. And after the upgrade, slave cannot connect to master. I am also completely **blocked!**

## Salt Master Version
[code]

## Salt Minion Version
[code]

All of the minions not able to establish contact with master over ZMQ. Even the ones spun up using

[2016-10-13 14:36] gtmanfred commented on #36955
This would be useful to have, thanks for requesting it.

If you could submit a pr to develop with that change, we could get it in.

Thanks!
Daniel

[2016-10-13 14:42] gtmanfred commented on #36962
That would be great to have.  We should formalize this so that we can avoid naming conflicts in formulas

[2016-10-13 14:43] gtmanfred commented on #36963
Sounds Great! thanks!

I am going to tag this as documentation.

[2016-10-13 14:52] #32829 closed

[2016-10-13 14:54] gtmanfred commented on #36965
How are you using libcloud_aws.py?  This was deprecated and removed from 2016.3/Boron.  and that function was moved to salt.utils.cloud, so it isn't able to be namespaced from libcloud_funcs.

[2016-10-13 14:57] gtmanfred commented on #36968
So, it looks like this is just using the salt.utils.compare_versions.  So it would be easy enough to just drop the same compare_versions in each *_pkg module.

[2016-10-13 15:03] EdMosher opened #36973 "Salt is unable to access folder/file on windows 2012 VM"
We are using Salt to insure that our company's internal audit policies are installed on a minion virtual machine that is running the Windows Server 2012 R2 Standard OS. In order for our policies to be installed properly, we must first make sure that 2 particular files (C:\Windows\security\audit\audi.csv and C:\Windows\System32\GroupPolicy\Machine\microsoft\windows nt\Audit\Audit.csv) do not exist

[2016-10-13 15:06] mamalos commented on #34872
I'm facing the same issue on a FreeBSD 10.1-RELEASE where I'm working on adding some FreeBSD modules, using `py27-salt-2016.3.3` (master and minion on the same host). The salt commands I'm sending return with message:

    Minion did not return. [No response]

but the minion's logs show that the command is still executing and successfully returns when it's done, without the master being notified a

[2016-10-13 15:07] damon-atkins commented on #36968
I was hoping there was a more  central approach available. I suppose their is not a modules/pkg_share.py thats imported into other pkg's. Or a common class.

[2016-10-13 15:09] buildmaster-nyansa commented on #36940
Minions were able to attach when I upgraded salt master from Ubuntu 14.04 to 16.04.

@aronneagu Please double check your master version.

[code]

[2016-10-13 15:10] buildmaster-nyansa commented on #36932
Minions were able to attach when I upgraded salt master from Ubuntu 14.04 to 16.04.

[code]

[2016-10-13 15:12] gtmanfred commented on #36969
This would be great to have to be able to specify proxy servers for docker image pulls.

[2016-10-13 15:13] buildmaster-nyansa commented on #36932
This error still exists though:

[code]

[2016-10-13 15:16] rhertzog commented on #12070
FTR the documentation indicates that you have to use the mine.get **runner** in orchestration files:
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.mine.html#salt.modules.mine.get

[code]

With this syntax, I managed to get data out of the mine in orchestrate.

[2016-10-13 15:37] rdutch commented on #36973
Is the minion service running as local system account, which is the default?
I tried to replicate and it works for me:

[code]

[2016-10-13 15:44] twangboy commented on #36973
@EdMosher I can't reproduce this either. It's almost like you have the wrong minion ID or something, like you're running the salt commands on one machine and checking the results on another. That would explain the differing file timestamps.
The only way I was able to replicate anything similar was to change the two folders (Machine and User) to be hidden.

[2016-10-13 15:48] EdMosher commented on #36973
The minion service was running as local system when we first started debugging this problem. However, we changed it to run as Administrator at some point during the debug process. However, we get the same results in both cases.

From: rdutch [mailto:notifications@github.com]
Sent: Thursday, October 13, 2016 11:38 AM
To: saltstack/salt
Cc: Mosher, Eddie L; Author
Subject: Re: [saltstack/salt] Salt

[2016-10-13 15:52] EdMosher commented on #36973
Thank you for looking into this.

I thought about the possibility of having the wrong minion ID. However, I changed the ID on my minion machine and restarted the minion service. I then accepted the registration key from the newly renamed minion on the salt-master and tried to apply the state using the new ID, and I got the exact same results. Therefore, I am fairly confident that I am using the co

[2016-10-13 15:58] cro commented on #36964
Hi @daemonkeeper.

This information used to be in the documentation, but I'm not finding it currently.  You are correct, some proxies can't use multiprocessing.  In particular, the junos proxy has this issue because of an unresolved bug in paramiko, the ssh library that NETCONF and Py-EZ uses. (https://github.com/paramiko/paramiko/issues/620).

For sure we should implement your first suggestion (a

[2016-10-13 16:14] rhertzog commented on #13216
I believe that I have a similar issue where an orchestration state is marked completed before having received the answers of all minions. I perform a long-running task on 3 minions and want to wait that they completed on all three before running another task on another minion. The long-running task takes respectively, 2h, 2h and 7 hours. But after 4.5 hours, the state ends and is marked as complet

[2016-10-13 16:18] gtmanfred commented on #36968
Unfortunately the way that salt modules work, it would we require a common class, which wouldn't be too bad, you could probably just make a common module for stuff like this to be dropped in in the future.

[2016-10-13 16:57] #36816 closed

[2016-10-13 17:09] thatch45 commented on #36941
The original intent of grains was that they don't change unless the server reboots, this original intention has become lax over the years but we still see the artifacts of it.
I think that if we want to add a grain refresh to a state run then it should be explicit, I am ok with adding an option to state runs allowing for grains to be refreshed, but it should not be turned on by default.

[2016-10-13 17:14] damon-atkins commented on #36962
Few extra thoughts.
E.g. https://github.com/saltstack-formulas/ `<name>`-forumula

- `<name>` is the name of the state.
- `<name>` is the prefix for all pillars
- `<name>` is the prefix for all ID's

Is `_` or `.` or something else to be the separator?

Except for a file, which is replaced can use the filename as the ID.  Because two states can not mange the same file. e.g. file.absent, file.manag

[2016-10-13 17:29] terminalmage commented on #34101
OK, we had some internal discussion and the decision has been made not to make separate states, but to change how the `archive.extracted` state works. Right now we decide what files and dirs have ownership managed based on `if_missing`, because we don't know the contents of the archive and if there are other files and dirs in the same parent directory, they would get ownership enforced as well if

[2016-10-13 17:31] cro commented on #34872
@mamalos Is this a VM?  If so, what hypervisor or cloud provider?

[2016-10-13 17:33] grichmond-salt opened #36978 "Add Runner and Wheel JIDs to Job Cache"
### Description of Issue/Question

In 2016.3.2:
salt-key -d events show up in the jobs database
salt-key -a events DO NOT show up in the jobs database

In 2016.11.0rc1:
Neither salt-key -a or -d events show up in the jobs database

Notes:
Tom and Seth concurred that it would be appropriate to have Runner and Wheel JIDs in the job cache.

[2016-10-13 17:38] lorengordon commented on #36973
@EdMosher, we're manage that file with salt as well, but using masterless mode and haven't had a problem. Does it work if you use `salt-call` locally on the box? We're also just using `file.managed` with a `source` to replace the file rather than `file.absent`...

[2016-10-13 17:38] cro commented on #34872
Also, that's excellent that you were able to reproduce it w/master and minion on the same box.  That rules out an issue with the network.

[2016-10-13 17:40] cmclaughlin commented on #36153
@Ch3LL yeah I can't reproduce this either as described in this ticket.  I've definitely had some frustrations with environments, but I might not be able to remember the exact problems.  I guess this wasn't it. Thanks!

[2016-10-13 18:02] cro commented on #36964
Actually I did a quick test with Carbon and added

[code]

to `init()` in `salt/proxy/ssh_sample.py` and this seems to work OK.

[2016-10-13 18:58] #36906 closed

[2016-10-13 19:04] steverweber commented on #36598
https://github.com/saltstack/salt/issues/34547#issuecomment-253036952

confirmed.

[code]

state: test.sls
[code]

state module: cloudtest.py
[code]

salt-call state.apply test
[code]

fail looks like
[code]

[2016-10-13 19:27] #36252 closed

[2016-10-13 19:34] AndrewPashkin opened #36984 "Does Salt supports includes in pillar-top files (seems like yes, but no docs found)?"
### Description of Issue/Question
I've found [this code] in the codebase. It seems, like Salt supports includes in pillar top files. Is that true? If yes - this feature is not documented.

[2016-10-13 19:36] #36984 closed

[2016-10-13 19:37] AndrewPashkin commented on #36984
The code is actually responsible for handling includes in SLS files.

[2016-10-13 19:49] whiteinge commented on #36966
Thanks for filing this. All the *client interfaces are intended to be used as Python APIs and so they should definitely not be raising SystemExit. 😬

Your patch is heading in the right direction. Broadly, I think we should be shooting for something like:

* We need an agreed-upon (and documented 😛 ) collection of exceptions that mean specific things across all the client interfaces. `SaltClientErr

[2016-10-13 19:58] hemebond commented on #36963
There is also a task in #1075 to document this variable.

[2016-10-13 20:27] oz123 commented on #36963
@hemebond thanks for pointing that out. I was quite frustrated and looked around the internet and back before I posted my issue here. Luckily, people around here are kind to answer questions like this.
If I may, one more question. When writing a state in Python, when returning the highstate dictionary how can I specify specify the target host (the minion id)?

[2016-10-13 20:50] hemebond commented on #36963
I know how you feel.

Reactors, even in the Python renderer, should return a state structure. You can see [an example in my Gist](https://gist.github.com/hemebond/4b48df43721adb283e0df404501a4b59#reactor-1). So you're basically returning the same information as a regular YAML reactor, including a `tgt` parameter if required.

[2016-10-13 21:19] twangboy commented on #31759
This is the output on the head of 2016.3:

[2016-10-13 21:20] #31759 closed

[2016-10-13 21:27] ferricoxide opened #36985 "file.recurse does not allow file:// sources"
### Description of Issue/Question

Previously, had opened #26398 for use of `file://` URIs in `file.managed`. This was addressed and incorporated into SaltStack. Looks like a similar functionality is missing in `file.recurse` (was attempting to use `file.recurse` to copy `/etc/skel` to newly-attached home directories: wanted to use the local `/etc/skel` contents rather than pushing such content as

[2016-10-13 21:30] Ch3LL commented on #36960
Sounds like a sound idea. Will approve as a feature request thanks

[2016-10-13 21:50] ferricoxide opened #36987 "user.present w/ createhome=true doesn't populate homedir if user already found in /etc/passwd"
### Description of Issue/Question

Using `user.present` to remediate local users with missing home directories. When setting `createhome: True`, a home directory gets created but does not get populated with standard content (from `/etc/skel`).

`user.present` with `createhome: True` does pre-populate the home directory if creating a user from scratch rather than remediating a user with a missing h

[2016-10-13 22:06] Ch3LL commented on #36961
@nullify005 looks like you are right! Although I'm suprised when you state even quoting it still did not pass as a string. Just to clarify you tried liek this: `- ip_protocol: '50'`. Yaml should parse that as a string. As a side note his seems to be related to this issue #28972 which was fixed by pr: #28980

Do you want to submit your fix as  PR and our core engineering team can review the change.

[2016-10-13 22:07] Ch3LL commented on #28972
Just as a headsup this was fixed in #28980 but there was an issue found here: #36961 related to this change. Is everyone okay closing this here and we will monitor this new issue there?

[2016-10-13 22:15] Ch3LL commented on #36967
@gmykhailiuta thanks for bringing this to our attention. Looks like we need to make sure we query for the rest of the files if there are files over 1000 thanks!

[2016-10-13 22:15] Cashwini commented on #36752
@Ch3LL The issue is resolved. Thanks!

[2016-10-13 22:15] #36752 closed

[2016-10-13 22:18] Cashwini commented on #36778
@gtmanfred I got the error `'getent' is not available.`

[2016-10-13 22:21] Ch3LL commented on #36978
Thanks for bringing this to our attention :+1: Definitely need to get this fixed up.

[2016-10-13 22:25] alexbleotu commented on #36941
For regular minions it makes sense to have grains stay static until the server reboots at which point the minion restarts anyway and will re-evaluate the grains. For proxies, however, there is no such relation between the proxy minion and the target system.

I agree that the default behaviour should be the existing one - the grains don't refresh. However I don't think that the list of refreshed gr

[2016-10-13 22:36] Ch3LL commented on #36985
Looks like that change was added to the `source_list` method and in the file.recurse before it calls that method has a check [here](https://github.com/saltstack/salt/blob/develop/salt/states/file.py#L2538) where it will return an error if it doesn't sart with salt://

Is that the error your running into/

[2016-10-13 22:37] gtmanfred commented on #36778
This appears to be a bug in the grp module in python on mac.

It should include the users in the group using that group as their main gid, but it lists them twice, once with the users who use it as the default group, and once for those who do not.

[code]

[code]

as you can see, the module actually returns the group twice.

[2016-10-13 22:48] ferricoxide commented on #36985
Yup. Tells me that only `salt://` is valid (I assumed that it was its polite way of telling me to "pound sand").

:smile:

[2016-10-13 22:54] Ch3LL commented on #36985
hehe k yeah I'm guessing without trying that if we remove that check it might possibly work.We will need to get this added. Thanks for letting us know :)

[2016-10-13 23:11] Ch3LL commented on #36153
@cmclaughlin if you ever remember feel free to open an issue and we can track it there thanks

[2016-10-13 23:15] Ch3LL commented on #36932
@rehmanzile that error is a duplicate of this #34627 which was fixed in #34641  if you try that fix do you still see the error?

[2016-10-13 23:17] Ch3LL commented on #36940
ahh thanks for that information @buildmaster-nyansa

i wonder if you had upgraded your minions to 2016.3.3 as well if you still would see that error? but that might be too much to ask since you alreay moved to ubuntu16.

@aronneagu are you also using older minions?

[2016-10-13 23:28] damon-atkins commented on #36941
One option is to introduce expired grains.      Grain returns it value plus an expire date. When then expire date expires, the minion calls the grain again.  If no expire date the, grain does not expire.  Hopefully this way a highstate is not delayed fetching grains.

[2016-10-14 00:41] rehmanzile commented on #36940
@Ch3LL I did upgrade the minions to 2016.3.3 but didn't work for me. It turns out the problem is somehow related to Ubuntu 14.04 when you upgrade salt-master from 2015.5.3 to 2016.3.3.

Tell your QA team to try this combination.

[2016-10-14 00:49] rehmanzile commented on #36932
@Ch3LL The fix was checked in around July. I don't see a release for 2016.7.X? How do I pickup the fix?

[2016-10-14 00:56] puneetk commented on #36436
@gtmanfred @HenriWahl is this needed, https://github.com/saltstack/salt/blob/2016.3/salt/daemons/flo/zero.py#L90 looks like itipv4 is explicitly turned off cos ipv6 can support both ?

[2016-10-14 01:34] damon-atkins opened #36991 "Cross Platform Parameter Consistency for Public functions"
### Description of Issue/Question

Basically I suggest all public functions should be one of the following formats

`def abc(*args, **kwargs)`  - Multiple args of the name type, like a list of file or packages
`def abc(single_arg=None, **kwargs)`  or `def abc(single_arg=<Value|dict|list>, **kwargs)`
`def abc(**kwargs)`
with the following deprecated
`def abc(parm1, param2, param3, etc)`
`def abc(pa

[2016-10-14 01:50] damon-atkins commented on #31759
@twangboy  Thanks

[2016-10-14 03:48] oakad opened #36994 "consul.put: Key {0} does not exist. Skipping release."
On attempt to put a key into consul/kv an error message is reported: "Key {0} does not exist. Skipping release."

Appears to be caused by broken indent/logic around consul.py:285

[2016-10-14 03:55] oakad opened #36995 "consul.put: flags are not being set"
Flags are not being set for consul keys.

Appears to be caused by a bogus condition at consul.py:262

[2016-10-14 04:10] oakad opened #36996 "consul.put: value should not be forcibly serialized to json"
Around consul.py:74 'data' (value passed to put()) is unconditionally serialized as json. This is plainly broken.
1. 'None' data is an empty string, not '{}'
2. String data should stay as is (json.dumps() adds additional quotes around the string)

A considerably less surprising approach would be to treat 'data' as plain string and assume that caller had already performed whatever serialization nec

[2016-10-14 04:52] oz123 commented on #36963
@hemebond thanks that stuff you post is mind blowing! You put in the state structure `match`, I assume this is equivalent to `tgt`?

[2016-10-14 05:04] hemebond commented on #36963
`match` is a parameter for that particular module (`wheel.key.delete`). My custom runner function takes `name`. If you were doing a `local.state.apply` you'd return `tgt` for that particular function. To be honest I'm not sure how you're supposed to know about that `tgt` parameter without looking at examples around the web.

[2016-10-14 05:30] luitzifa commented on #31240
Got the same Problem on Fedora 24

[2016-10-14 05:32] oz123 commented on #36963
I have not found many clear examples (your example is great but very complicated for the docs I think). The orchestration documentation shows the `tgt` parameter in the YAML equivalent.
What I would like to do is to create a returner in Python which applies a certain module (`rabbitmq_cluster.join`) on a certain target. My solution right now is the following:

[code]
I am abusing the salt API here

[2016-10-14 05:49] hemebond commented on #36963
I think what you want here is [saltmod.function](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.saltmod.html#salt.states.saltmod.function) which lets you run a module function (`rabbitmq.join_cluster`) on a particular target (`tgt`). I'm not sure as I can't find a consistent definition/structure.

[2016-10-14 06:34] HenriWahl commented on #36436
@puneetk yes it SHOULD but netstat shows it doesn't:

    root@salt ~# netstat -tlp
    Active Internet connections (only servers)
    Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
    tcp        0      0 *:ssh                   *:*                     LISTEN      361/sshd
    tcp6       0      0 [::]:ssh                [::]:*                  LIS

[2016-10-14 06:44] yhekma opened #36998 "Cache on minion does not get updated when files are removed"
### Description of Issue/Question
When a sls file gets removed from a formula, the cache on the minion does not get updated accordingly. This was found out with help from @jeroen-s

### Setup
Create a formula that includes a sls file and create that sls file as well so that salt executes succesfully

### Steps to Reproduce Issue
Remove the included sls file and rerun salt on the minion. Salt will

[2016-10-14 07:30] oz123 commented on #36963
Thanks, this is helpful. Sorry to nag again, but I am not satisfied with YAML because I need a bit more complex logic in Python. So a documentation how to convert the YAML to dict would be handy.
That said, I can load the YAML you posted with YAML get the dictionary and I will have what is needed for a more complete documention.

[2016-10-14 07:35] guettli commented on #36935
I was not aware that `psutil_compat.py` does exist. Thank you for your feedback.

[2016-10-14 07:38] hemebond commented on #36963
Yes, all you need to do in your Python script is return a dict _equivalent_ to what the above YAML examples would return, e.g.,:
[code]

[2016-10-14 07:39] aronneagu commented on #36940
Hi guys,
Indeed I am using older version of the salt-minion
[code]

The problem is that when this happened 2 days ago, the problem appeared out of nowhere, and some of the minions did not reply (always different ones), and then abruptly as it started it the issue disappeared. I have no way of reproducing the issue. I will go ahead and upgrade the minions to 2016.3.3.
@buildmaster-nyansa @Ch3LL tha

[2016-10-14 08:21] rbjorklin opened #37000 "TypeError: can't serialize <DNS IN A rdata: 56.67.78.89>"
### Description of Issue/Question
### Problem

Today without no apparent reason we could no longer run any commands towards one of our minions. This was easily worked around by stopping the minion and purging the contents of `/var/cache/salt/minion/`
### Debug output

[code]
### Versions Report

[code]

[2016-10-14 08:51] mamalos commented on #34872
@cro The FreeBSD 10.1-RELEASE amd64 is running on a Virtualbox VM, but I'm experiencing the exact same issue, with the exact same configuration (master/minion on the same host) on a FreeBSD 10.2-RELEASE-p14 amd64 which is installed on an IBM workstation.

So running `salt --versions-report` on my machines shows:

On **FreeBSD 10.1-RELEASE**:
[code]

and on my **FreeBSD 10.2-RELEASE-p14**:

[code]

[2016-10-14 09:05] carsten-AEI commented on #36819
Sorry for lack of updates - I currently try to sneak in a few vacation days. I guess we will try to update minions to 2016.3 within the next two weeks and see if that will change timings even more.

[2016-10-14 09:29] phil123456 opened #37001 "URGENT : archive.extracted does not work anymore"
### Description of Issue/Question

first it says the checksum cannot verified, does not correspond
(it was working before for many machines and I did not change my script)

I tried source_hash_update=True, but it gives me an error

skip_verify: true gives an error saying it's an invalid option but this would really be usefull

I am supposed to add a machine to my prod today and now I am stuck, so

[2016-10-14 09:53] daemonkeeper commented on #36964
That's what I would be thinking too. By the time `init()` is called, it's actually very early in the process, even before most of the state is populated, grains are loaded and so on. This is probably early enough to override multiprocessing.

[2016-10-14 10:15] puneetk commented on #36436
are hosts unable to talk to the master on the ipv6 address
On Fri, Oct 14, 2016 at 01:35 Henri Wahl <notifications@github.com> wrote:

[2016-10-14 10:53] Tanoti commented on #36713
So, after a bit of digging I found the problem. We are using the syslog returner set in the master config file using "ext_job_cache: syslog". It appears that the save_load() function is now required but not present in the syslog_return.py module.

'''
2016-10-14 10:41:25,844 [salt.utils.lazy                                      ][DEBUG   ][8073] Could not LazyLoad syslog.save_load
2016-10-14 10:41

[2016-10-14 10:55] alexbleotu commented on #36941
@damon-atkins Thanks for the comment.

1.  Adding an expiration date to the grains would add to the flexibility of the mechanism, but I fail to see the actual value added. Timing is hard to get right because a user can get stale grains if it happens to hit the timing when in fact the transitory grain has changed. Personally, I would think that running any command off stale input is undesirable so

[2016-10-14 12:13] HenriWahl commented on #36436
Yes, the IPv4 minions can't talk to IPv6-only master.

[2016-10-14 12:53] AndrewPashkin commented on #6955
@jberkus

How, in your opinion, Salt should handle pillar data, provided from a CLI (a.k.a pillar overrides, which are controlled by `pillar_roots_override_ext_pillar` setting)?

[2016-10-14 13:02] damon-atkins commented on #36941
Re: 3 if you fork a process the parent does not get the data, it could be competed as a thread however.

I have seen puppet take 5 minutes to collect facts. Puppet sends them to the master, so the master can use the facts as part of producing a catalogue (sort of salt version of a state),  agent gets the catalogue and processes the catalogue/instructions.

It's not a path you want to go down.

On

[2016-10-14 13:16] steverweber commented on #36598
[code]

Well since i need this to work i created a little hack of a patch.

vi /usr/lib/python2.7/dist-packages/salt/utils/vmware.py
in function `get_service_instance`
after `service_instance = GetSi()` force the `service_instance` to `None`
[code]

this will keep my happy until the cached connection issue is resolved.
Perhaps this hack fix should be pushed into the dev branch until a proper fix i

[2016-10-14 13:19] steverweber commented on #36598
@Ch3LL can you try the `hacky` fix to confirm it resolves the issue.
thanks.

[2016-10-14 13:30] steverweber commented on #34547
note posted a `hack` fix in #36598. please give it a try.

[2016-10-14 13:50] jberkus commented on #6955
@AndrewPashkin

Beats me, I never got that complex.  My Salt setups were relatively simple; I just joined this issue because I wanted a lot of re-use of variables.  My ordering suggestion was a way to do "baby steps", and otherwise resolve an order-of-resolution issue which was blocking solutions.

[2016-10-14 13:52] ketzacoatl commented on #6955
FWIW, reclass has the code to show us how to construct the tree and walk it.

[2016-10-14 13:56] AndrewPashkin commented on #6955
@jberkus, yes I understand, but implementation of your idea implies, that order of when CLI pillars and external pillars are loaded, must also be defined.

[2016-10-14 14:02] jberkus commented on #6955
Makes sense.  Is the ordering currently undefined?

BTW, just so you know: the project which caused me to comment on this issue has been over for more than a year, so I won't be able to test any solution.

[2016-10-14 14:07] gtmanfred commented on #36970
From talking to other salt developers, there does not appear to be a specific reason that we don't have args or kwargs memoized.  So if you wanted to submit a pull request, I don't see a reason it wouldn't be accepted.

[2016-10-14 14:11] AndrewPashkin commented on #6955
@jberkus, currently external pillars always loaded before regular ones and are reference-able from regular ones (I've mistaken in my past comment,  `pillar_roots_override_ext_pillar` only affects final composition, not order of loading). External pillars are also merged with CLI pillars. And CLI pillars also override all pillars in the end.

[2016-10-14 14:14] jberkus commented on #6955
Well, sounds like the order of load is defined, then.  It's perfectly OK if that ordering is defined by Salt.  It's just with the standard pillars where ordering is undefined.

[2016-10-14 14:16] AndrewPashkin commented on #6955
@jberkus, hm, yes you are right, actually.

[2016-10-14 14:23] gtmanfred commented on #37001
Hello, I have confirmed this bug on centos 7.2 and salt 2013.3.3

[2016-10-14 14:25] gtmanfred commented on #37001
So, I am not actually sure that this is a bug, because the source_hash has to be in the format

`<type>=<hash`

and the asc file that you are including does not match that?

If you use the following state, it works

[code]

Specifically with the following source_hash set
`    - source_hash: sha512=8d1e47378dd2f510d8af877df52753ab8553a2ab389d37086426c902e4aa9371a9c2a9085ca41f0dafdd8b0b2a07e5710db53

[2016-10-14 14:33] rehmanzile commented on #36940
@aronneagu What is your Salt Master version? Use ```$ salt --versions-report``` to find out. Also, if you Salt Master server is using Ubuntu Trusty 14.04, then these intermittent connectivity issues do occur. I have experienced it in my environment and had to upgrade to 16.04.

[2016-10-14 14:36] terminalmage commented on #37001
Please post the original SLS and error, before you tried ``source_hash_update=True``.

[2016-10-14 15:00] aronneagu commented on #36940
@rehmanzile I am using 2016.3.3 for the salt-master (see my first post). Also the I am using Ubuntu 14.04. I am considering upgrading to 16.04, but it won't be something I can do in the immediate future, before I determine the impact on our application.
I have created a script that will do a ping from the master to the minions, and that will show if there are losses in the network. However, the se

[2016-10-14 15:01] DmitryKuzmenko commented on #36134
@Ch3LL Could you please check this and #36866 (since you already have a docker config for it), does #37004 fix them both?

[2016-10-14 15:16] terminalmage commented on #37001
It looks like whomever wrote the source_hash_update feature did not anticipate people using hash files, it only supports hashes themselves. I'm working on an overhaul of the ``archive.extracted`` state for Carbon to fix a number of issues, but I'll also address this particular bug for the 2016.3.4 release. For now, with ``source_hash_update=True`` you can only use a hash like in @gtmanfred's examp

[2016-10-14 15:18] rehmanzile commented on #36940
@aronneagu I ruled out connectivity because I was using 2015.8.12 version of Salt Master on Ubuntu 14.04 originally in AWS. The master and minions were operating correctly.

Then I upgraded the Salt Master and Minion version to 2016.3.3. Minions were having a hard time connecting to master and pings were failing. Same setup, different Salt version. Then I upgraded my OS to Ubuntu 16.04. All connec

[2016-10-14 15:28] ikkaro commented on #31842
Cool!!! I will try

[2016-10-14 15:41] thatch45 commented on #36941
@damon-atkins makes the right point here. If you need realtime data then you add an execution module, this is valid for regular minions and proxy minions and is the main reason why grains are not refreshed and why you have access to execution modules inside of state sls files. It is the mechanism that alleviated the puppet problem @damon-atkins is referencing and is a component of the original des

[2016-10-14 15:46] alexbleotu commented on #36941
Oh, I see... thanks @thatch45 . I didn't know this was the design decision, and I don't remember reading it anywhere in the documentation. Must not have read the right thing.

If that's the case, than we don't need to refresh grains to begin with. It would be great to make clear that grains need to be fully static and if anything more dynamic is required it should be implemented as an execution fu

[2016-10-14 15:46] #36941 closed

[2016-10-14 15:54] thatch45 commented on #36941
Yes, it took me a while to remember it myself! It has been so long since I made that distinction, and it is likely in some very old docs that have not been surfaced for a long time :)
We will get this added to some more regularly passed over docs

[2016-10-14 15:58] aronneagu commented on #36940
@rehmanzile I will try to upgrade then the OS to Ubuntu 16.04 as soon as possible. Did you upgrade only the master OS, or also the minions? And just to be clear, you are using version 2016.3.3 for both the master and minion? (I appreciate all the effort and comments you added to the thread, they have been invaluable)

Today it happened that I had a virtual machine running locally on my laptop conn

[2016-10-14 16:14] rehmanzile commented on #36940
@aronneagu You only need to upgrade the master OS. I believe the problem is with the Master OS. All of my minions are still running Ubuntu 14.04 with salt-minion version 2016.3.3. Hope this works out for you!

[2016-10-14 16:16] terminalmage commented on #36671
@wrigtim can you please test the modified code from #36755 that takes into account your use case with the features being backported into earlier systemd? It has been merged, but as I do not have a RHEL 7.3 box available I wanted to make sure we got it tested.

[2016-10-14 16:17] #36748 closed

[2016-10-14 16:26] ferricoxide commented on #36987
Cool. Like I say, I have a work around (and I'm probably abusing its designed-for usage), so, it's definitely a feature-request rather than a bug. =)

I'll try to slice out some time to see about adding the feature. With respect to said feature, would the preferred approach be to add another attribute or change the current `createhome` from a boolean to a three-option attribute (in either case, pr

[2016-10-14 16:27] terminalmage commented on #26513
This looks to have been fixed before or during the 2015.8 release cycle, I can't reproduce this on any non-EOL release.  Using either ``/path/to/file`` or ``salt:///path/fo/file`` does not require a ``source_hash`` param.

Marking this as closed.

[2016-10-14 16:27] #26513 closed

[2016-10-14 16:45] pboos commented on #30561
This would be nice to get fixed!

Current workaround is to just manually execute the scp command and add the [] around the ip. Afterwards everything works fine.

[2016-10-14 17:27] dkiser opened #37013 "salt-cloud: super slow deploy stdout streaming?"
### Description of Issue/Question

When using `salt-cloud` to deploy using the `saltify` provider I am experiencing a huge slowness when a custom deploy script is being used and this script performs `yum` commands to update or install packages.  I have verified its not an endpoint issue as I can `ctrl-c` the `salt-cloud` run, ssh to the endpoint, and manually run the `/tmp/.saltcloud-xxxxx/environ

[2016-10-14 18:40] tsaridas opened #37018 "get events from python"
### Description of Issue/Question

Trying to follow the guide at to get events from a python scripts using the salt.utils.event class,
I noticed that when master is restarted the events do not keep coming any more.
[Saltstack Documentation ](http://docs.saltstack.com/en/latest/topics/event/index.html)

I noticed @DmitryKuzmenko did some changes for the minions and syndics in order to connect after

[2016-10-14 18:55] rallytime commented on #36867
Ok, after doing a git bisect with these awesome steps to reproduce the error, it looks like #35388 broke this support, which makes sense. I'll keep digging, but I wanted to update everyone here.

[2016-10-14 20:11] Ch3LL commented on #36998
@yhekma when you say you are using a formula do you mean you are using gitfs or are you refering to file_roots?

I tried this issue with local file_roots and am not seeing the issue. This was my test case
1. create /srv/salt/test.sls:

[code]
2. run `salt '*' state.sls test`
3. remove test.sls file from /srv/salt/test.sls
4. run state.sls command again and I get the error that it does not exist.

[2016-10-14 20:16] jachin commented on #33069
@jfindlay I think the answer is to your question is 'yes'. I've run into this same issue, only when using the 'salt.pillar.file_tree'. When it scans through those directories if it hits a .DS_Store file it freaks out. It took me forever to find it. Even just having an error message that says what file it ran into trouble on would have saved me a ton of time.

[2016-10-14 20:21] Ch3LL commented on #37000
@rbjorklin what version is the minion? Also when you say you can't run any commands were you attempting execution modules or possibly running a state? thanks

[2016-10-14 20:27] Ch3LL commented on #37013
@dkiser what if you attempt to run the script over a normal ssh command without salt-ssh instead of ssh into the VM and then running it? Is it slow?

[2016-10-14 20:37] Ch3LL commented on #37018
yes I believe @DmitryKuzmenko would definitely be the one with the definitive answer.

But I would think the reason monitoring events with the master stops after restarting the master is because you would  need to re-inialize the connection to the master. The same thing happens if I were to run `salt-run state.event pretty=True` if I restart the master I have to re-run that command to view events

[2016-10-14 20:58] rallytime commented on #36867
Ok, so the changes in #35388 didn't _break_ this per se. In 2016.3 and older, when we try to access the cache files and we don't have permission, we are catching the IOErrors when permission is denied and continuing. The pluggable minion database change made it so that when we see an IOError, we're explicitly raised the SaltCacheError, which is exposing the stack trace on the CLI to the non-root u

[2016-10-14 20:58] terminalmage opened #37021 "__clean_tmp() func in salt.modules.file removes the source file if it is within /tmp"
This means that a state with ``- source: /tmp/foo.txt`` will remove ``/tmp/foo.txt`` when this function is invoked.

Fix incoming.

[2016-10-14 21:18] sjorge commented on #36867
@rallytime I patched salt/utils/minion.py and I am still getting it.

I also tried putting the patched minion.py in _utils/ and syncing it to all nodes. I still get the error.

[2016-10-14 21:19] rallytime commented on #36867
@sjorge The patch is in `salt.utils.minions.py` (note the `s`, not minion.py). I just want to make sure you're patching the right file and that isn't a typo. Can you confirm?

[2016-10-14 21:22] sjorge commented on #36867
@rallytime woops, wrong file. Let met reset both and patch the right one

[2016-10-14 21:23] sjorge commented on #36867
Seems fixed!

[2016-10-14 22:50] rbjorklin commented on #37000
The minion and master are both running 2016.3.3. The versions report from above is from the minion. Neither execution nor states were working.

[2016-10-14 23:11] cro commented on #34872
Greetings.  I think I fixed this.  It turned out to be far simpler than we thought.  Incidentally it was also broken on macOS.  Let me know if I nailed it or not.

[2016-10-14 23:15] Ch3LL commented on #36134
@DmitryKuzmenko I went ahead and tested #36866 and it still is timing out.

I will test the multi-master test setup in this issue first thing Monday morning and see if that one is resolved though.

[2016-10-15 08:25] pedrohdz opened #37026 "Utilize Boto3 get_waiters() in salt.modules.boto_*"
### Description of Issue/Question

I am running into all sorts of race conditions while implementing a formula utilizing the `boto_*` states.  I looked through the code and only found one instance of `get_waiter()` being called, it's in `salt/modules/boto_s3_bucket.py`.

Maybe I'm missing something here?  :-)

Here's an example.  Unable to delete subnet after terminating an EC2 instance.  `demo00.

[2016-10-15 09:47] digitalrounin commented on #37026
Here's another example I just ran into.  When trying to create a subnet, it seems like `_create_resource()` in `salt/modules/boto_vpc.py` tries to assign a name to the new resource, a subnet in this cace.  A race condition is causing the following error:

[code]

I have not been able to reproduce this one.

[2016-10-15 11:02] mamalos commented on #34872
@cro, bravo that you found the source of the problem! I can confirm that the message does not appear any more, but `_check_cmdline()` still doesn't run correctly on FreeBSD (since it always returns True). More info and suggestions on your [pull request](https://github.com/saltstack/salt/pull/37025).

[2016-10-15 11:15] githubcdr commented on #35889
May be not on topic, but this error occured also while running a state;

[code]

After manually running every state from my top file I pinned it down to this;

[code]

A closer look shows a special character got introduced when using copy n paste;

[code]

The fix was simple to replace '—' with '--'

[code]

I still believe this is a bug, a user should be able to use '—' and not generate a stack t

[2016-10-15 11:32] yhekma commented on #36998
@Ch3LL It seems I cannot reproduce this on my own test setup. Since this issue came up in our production environment and has since been fixed by removing the /var/cache/salt/minion/files directory, I cannot look into this particular case further.
I will continue to try and reproduce it and if I succeed will open a new issue.

Thanks for the quick response and effort so far.

[2016-10-15 11:32] #36998 closed

[2016-10-15 12:19] sjorge commented on #36869
Configuration error on my part

```/etc/nodename``` should hold the prefered fqdn, do note when DHCP is used this file is ignored.

[2016-10-15 12:19] #36869 closed

[2016-10-15 12:53] sjorge opened #37027 "Solaris FQDN/UQDN and documentation/consistancy"
### Description of Issue/Question

Follow up to #36869

I did some more digging into this, generally speaking...

On linux nodename is set to the UQDN, hostname returns the UQDN unless -f is provided.
On solaris nodename is set to FQDN, hostname returns FQDN unless -s is provided then UQDN.

However historically a lot of /etc/nodename seem to have been set to UQDN (google digs up a lot of these ty

[2016-10-15 13:36] sjorge commented on #37027
I switched all my minions to have FQDN in /etc/nodename and the grains are now correct, also on 2016.3.x. FWIW

[2016-10-15 13:41] isbm commented on #37027
Problem is that Linux doesn't have something like nodename concept in Solaris, if I understand correctly. While `uname -n` is a nodename, and essentially when you call `hostname`, it actually calls `uname -n`. In Solaris a nodename is not really a network name. It just happens that it usually is. But you might change it to whatever you like, like "Umbrella Corp" if your machine has multiple DNS na

[2016-10-15 13:57] bobrik commented on #4244
Pillars can include other pillars:

[code]

Here `labels/init.sls` is a pillar with jinja2 processing. However, you should be careful, because `import_yaml` does processing for the included file from scratch each time you use it. For small enough pillars it's possible to cache pillar values into `grains` object and reuse that.

[2016-10-15 13:59] damon-atkins commented on #37027
https://docs.oracle.com/cd/E18752_01/html/816-4554/ipconfig-12.html

Solaris 10
I would look in /etc/nodename  and if the hostname contain dot, assume it is FQDN and stop
If /etc/nodename  does not contain any dots Then look in /etc/defaultdomain

Solaris 11
svcprop -p config/nodename svc:/system/identity:node and if the hostname contain dot, assume it is FQDN and stop
Otherwise run domainname and

[2016-10-15 14:03] sjorge commented on #37027
Sounds reasonable, if that happened my setup would not have broken on 2016.11.0rc1.
As I had UQDN in /etc/nodename and DN in /etc/default/domain

[2016-10-15 14:23] wrigtim commented on #36671
Sure - will test Monday in office (don't have 7.3 here). Apologies for the delay but I've been travelling...

[2016-10-15 15:45] Plup-io opened #37029 "[Dockerng] Warning : Host path in bind is not absolute, assuming it is a docker volume"
### Description of Issue/Question

I don't know if I am doing things well in my configuration. (see config state below)
Everything works fine but I see this warning in minion logs :

And I have to say that it's a good guess from salt. I'm actually using a named volume in a bind directive. I looked deep in the documentation but there is nothing written about docker named volumes. So, I tried this a

[2016-10-15 15:48] nvtkaszpir commented on #17095
Imho using throposhphere should be an option or separate module.
For example some people already got templates and just need parameters to be passed on.
Otheriwse  with troposhphere you would force them to rewrite their templates from scratch.

[2016-10-15 20:23] terminalmage commented on #36671
No problem! I'm almost 100% certain that this will work fine, but I don't have 7.3 available to test either, so getting confirmation from you will be a good sanity check.

Thanks in advance, and thanks for helping bring this to our attention.

[2016-10-16 04:57] llua commented on #14354
It would still be nice to have this without the previously mentioned workarounds or using ext_pillars like pepa or something.

[2016-10-16 08:17] damon-atkins commented on #36991
Example of a change which will break existing scripts. e.g.
[code]
[code]

[2016-10-16 13:21] damon-atkins opened #37032 "salt-run virt.* salt/runners/virt.py virtual:physical restriction"
### Description of Issue/Question
Just wondering why salt-run virt.* has virtual:physical as the target restriction.
These days you can have VM running on VM's

[code]

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
N/A

### Versions Report
salt 2016.3.2 (Boron) & develop

[2016-10-16 21:16] ugurengin commented on #36965
salt-cloud was installed by rpm which was provides saltstack repo, so i just executed salt-cloud command on jenkins to create a new ec2 instance .However it returns like these exceptions even it could be created instance properly.I don't know why is it using namespaced from libcloud_funcs.

[2016-10-16 21:48] gtmanfred commented on #36965
Did you update from 2015.8 to 2016.3?

You may have a leftover .pyc file that you need to delete.

Can you run `python -c 'import salt.cloud.clouds.libcloud_aws; print salt.cloud.clouds.libcloud_aws'` and delete that file if it returns anything?

You should use the ec2 driver with salt 2016.3

[2016-10-16 22:44] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk opened #37034 "listen_in/watch_in and AttributeError: 'str' object has no attribute 'iteritems'"
Tried to test/apply following scenario:

[code]

and got an error:

[code]

Also it does not restart the service when I replace `listen_in` with `watch_in`, but the error disappears:

[code]

[2016-10-16 22:46] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk commented on #37034
Master and minion versions:
[code]

[code]

[2016-10-16 23:07] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk commented on #37034
Seems only `watch` works properly - restarts service when changes in another state present.
`watch_in` and `listen` change file but do not restart service.
`listen_in` raises an error.

[2016-10-16 23:14] PolakAllen opened #37035 "Unclear / Missing documentation for accessing pillar data from execution modules"
### Description of Issue/Question

Clearer documentation / complete examples of how to access pillar data in custom pillars would be good to have. I would expect a section on it [here](https://docs.saltstack.com/en/latest/ref/modules/).

Some existing documentation could also be clearer. Now that I've figured it out, the section on [cross calling salt modules](https://docs.saltstack.com/en/latest/

[2016-10-17 04:35] vodik commented on #36638
There's no reason the old version can't stay supported. They just renamed the command to `certbot`, its completely a drop in replacement for the old command.

[2016-10-17 04:40] mikeadamz opened #37037 "schedule state always reports changed when running in highstate"
### Regardless of how many times the highstate has been applied with zero changes to the schedule, salt still reports things changed:
[code]

### Setup
[code]

### Steps to Reproduce Issue
include the above state in the top.sls, apply highstate

### Versions Report

## Master
[code]

## Minion
[code]

[2016-10-17 04:41] mikeadamz commented on #37037
I also tried changing False to false on run_on_start because I wasn't sure which was correct, but it made no difference.

[2016-10-17 04:47] vodik opened #37038 "There was no error installing package, although it does not show in pip freeze"
### Description of Issue/Question

I installed two packages with `pip.installed`. It succeeds, no problem, installed correctly, but I get the following message when doing `state.apply`:

[code]

However, its there, and it _does_ show up with pip.freeze:

[code]
### Setup

Here are the relevant states I use:

[code]
### Versions Report

Running on Arch Linux:

[code]

[2016-10-17 05:25] gladiatr72 commented on #37038
Hey there.  I think that you might be running into a disconnect on how python packages are built and installed/maintained and how pip works.  I haven't taken a deep-dive through the guts of pip. On Debian + derivatives  the packaged pip actually refuses to overwrite a package-installed module.

Another side-effect on Arch might be that it only reports packages that are actually installed _by_ pip.

[2016-10-17 06:07] phil123456 commented on #37001
I dont mind put in hash but where do I get it from ?

[2016-10-17 06:09] phil123456 commented on #37001
Specified sha512 checksum for /var/cache/salt/minion/files/base/_home_eradmin_syncthing-linux-amd64-v0.13.4_.tar (8d1e47378dd2f510d8af877df52753ab8553a2ab389d37086426c902e4aa9371a9c2a9085ca41f0dafdd8b0b2a07e5710db53ad3fb76b699fede5fd0b470237b) does not match actual checksum (7a18cbf33827ebf0714af592f7d3d535078b2f3678acc4e8e7d70bb43386c6f6c2dd3e87261439bcfaec198b5ca00e15cf731d27284cd8c234bf027dc792

[2016-10-17 06:10] phil123456 commented on #37001
syncthing_download:
      archive.extracted:
        - name: /home/user/
        - source: https://github.com/syncthing/syncthing/releases/download/v0.13.4/syncthing-linux-    amd64-v0.13.4.tar.gz
        - source_hash:     sha512=8d1e47378dd2f510d8af877df52753ab8553a2ab389d37086426c902e4aa9371a9c2a9085ca4    1f0dafdd8b0b2a07e5710db53ad3fb76b699fede5fd0b470237b
        - source_hash_update: true

[2016-10-17 06:13] phil123456 commented on #37001
the original before using hash update:

syncthing_download:
  archive.extracted:
    - name: /home/*******/
    - source: https://github.com/syncthing/syncthing/releases/download/v0.13.4/syncthing-linux-amd64-v0.13.4.tar.gz
    - source_hash: https://github.com/syncthing/syncthing/releases/download/v0.13.5/sha256sum.txt.asc
    - tar_options: v
    - user: ******
    - group: ******
    - archive_

[2016-10-17 06:36] fake-name opened #37040 "Vultr module barfs with `global name '__opts__' is not defined`"
### Description of Issue/Question
I'm trying to create a VPS using the vultr interface.

### Setup
[code]

### Steps to Reproduce Issue

Minimal test-script:

[code]

Note that I'm not totally sure the image, size, and location parameters are correct, because what they're /supposed/ to be is not documented anywhere. I'm going based on guesswork from looking at the `vultrpy.py` file, though I don't

[2016-10-17 07:09] DmitryKuzmenko commented on #37018
@Ch3LL is right. When master restarts it recreates the unix domain socket PUB socket. So after master restart client continues to listen the removed socket file while master publishes to the new socket file. But I'll take a closer look to provide a way to handle this.

[2016-10-17 07:32] tsaridas commented on #37018
thanks @DmitryKuzmenko,

I understand that is the same socket file and it would be nice if I had a method checking the connection or maybe automatically connect back.
connect_pub() returns True after restart but it still doesn't show any events after reconnecting.

I tried to see where the exactly does this get stuck but I wasn't able to.

ps: I already added your patch for syndic reconnection thi

[2016-10-17 09:17] ugurengin commented on #36965
No it didn't update from any existing version, so that's a fresh setup within rpm 2016.3.3.

Removed bytecode of python where is cloud folder of salt-cloud, but it is still same.

python -c 'import salt.cloud.clouds.libcloud_aws; print salt.cloud.clouds.libcloud_aws'
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/usr/lib/python2.7/site-packages/salt/cloud/clouds

[2016-10-17 09:43] dmelnicz opened #37041 "HTTPError: 400 Client Error: Bad Request for url"
### Description of Issue/Question

There is an error while running elasticsearch official container through dockerng. Error says:

### Setup

[code]
### Steps to Reproduce Issue

[code]
### Versions Report

[code]
### /etc/systemd/system/docker.service.d/http-proxy.conf

[code]

[2016-10-17 09:46] #36638 closed

[2016-10-17 11:32] rbgarga commented on #34872
I just confirmed the root cause mounting /proc before start the command the takes a long time to return and it worked. FreeBSD supports /proc but it's not mounted by default, and not recommended. I just did it to validate the issue.

[2016-10-17 11:38] ugurengin commented on #36965
heyy, i forget that new machine of salt boron 2016.3 is deployed from old salt-cloud machine which version(2015.5.5) Probably this exception coming due to this deployment.Thus i am going to review salt-cloud python code to fix this cause.

[2016-10-17 11:38] #36965 closed

[2016-10-17 11:54] mchugh19 opened #37043 "Need to normalize salt-api responses"
Salt-api is very useful, but also in need of response normalization. This issue is partially tracked through a few different issues, and it would be helpful to keep progress in a single place. See: #20301 #18510 jenkinsci/saltstack-plugin#18 jenkinsci/saltstack-plugin#36

Here are some short examples demonstrating the problems:

Most state responses include a result key which contains the appropri

[2016-10-17 12:01] DmitryKuzmenko commented on #36134
Thank you @Ch3LL!

[2016-10-17 12:35] DmitryKuzmenko commented on #37018
@tsaridas
After thinking slightly more I've got that actually when publisher closes the socket all the clients get `StreamClosedError`. And the mentioned Syndic fix introduces this error handling. After looking up the code I've got that we have (now) the way to handle the error in async mode like syndic does but we have no way to detect disconnection in sync client mode, that is described in the d

[2016-10-17 13:00] gtmanfred commented on #36994
@garethgreenaway can you comment on this when you get a bit?

[2016-10-17 13:01] gtmanfred commented on #36995
@garethgreenaway can you comment on this when you get a bit?

[2016-10-17 13:01] gtmanfred commented on #36996
@garethgreenaway can you comment on this when you get a bit?

[2016-10-17 13:02] gtmanfred commented on #37040
This will be fixed in 2016.3.4

https://github.com/saltstack/salt/pull/36768

[2016-10-17 13:02] #37040 closed

[2016-10-17 13:04] gtmanfred commented on #37034
Is it documented somewhere that you don't have to use the module type in front of the name?

I was under the impression that you always had to give a type.

This should work.

[code]

[2016-10-17 13:06] gtmanfred commented on #37035
Here is the documentation on the dunders and where they are injected.

https://docs.saltstack.com/en/latest/topics/development/dunder_dictionaries.html

[2016-10-17 13:32] githubcdr opened #37044 "pkg module and state not working in Arch Linux"
### Description of Issue/Question

The pkg state and module won't work on latest Arch Linux. This might be related to an Arch upgrade, since it was working before in current version.
### Setup

Latest Arch Linux x64, running salt-zmq 2016.3.3
### Steps to Reproduce Issue

[code]

The module is loaded and the docs confirm this.

[code]
### Versions Report

[code]

[2016-10-17 13:40] damon-atkins commented on #37044
Given `dist:` is blank looks like Salt can not work out what OS its running on, and therefore does not have a package manager for it.    Have a look at salts OS detection code.

[2016-10-17 14:18] zerthimon commented on #36872
@gtmanfred Try this:
Make user you have a local registry defined in pillar.
Verify that it's not accessible.
Remove ~/.docker
Don't login to any registry.
Run a state that pulls image from docker.io

[2016-10-17 14:19] hgfischer opened #37045 "Does state.apply considers top files?"
### I issued a `salt '*' state.apply nginx` and it installed nginx in all my servers even on the ones that are not supposed to include `nginx` on the top files.

### Setup
`nginx` is not supposed to be applied directly. It is supposed to be included by other states like one that needs nginx to setup a vhost. There is no reference to `nginx` directly on the `salt/top.sls` file.

### Steps to Reprod

[2016-10-17 14:22] gtmanfred commented on #36872
From reading the documentation about dockerng, to push or pull any images, authentication is required.  So not logging into any registry won't succeed in pulling images.

[2016-10-17 14:24] zerthimon commented on #36872
So, how do I go about pulling from public docker library ?

[2016-10-17 14:25] gtmanfred commented on #36872
You need to make a hub.docker.com account, and plug it into the docker_registries config

[2016-10-17 14:29] zerthimon commented on #36872
Well, that's a weird requirement, for someone that all he needs is just to pull images from a public library.

[2016-10-17 14:30] gtmanfred commented on #36872
@terminalmage can you comment on this?

[2016-10-17 14:34] gtmanfred commented on #37045
State.apply is a combination of state.highstate, and state.sls.

state.apply on its own just runs state.highstate, which follows the top.sls

state.apply <something> runs state.sls <something>, and will apply the something state to every server you target, in the same way state.sls does.

[2016-10-17 14:34] #37045 closed

[2016-10-17 14:37] #37021 closed

[2016-10-17 14:43] #36868 closed

[2016-10-17 14:44] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk commented on #37034
Yes, it is documented here:
https://docs.saltstack.com/en/latest/ref/states/requisites.html#omitting-state-module-in-requisites

### **Omitting state module in requisites**

*New in version 2016.3.0.*

In version 2016.3.0, the state module name was made optional. If the state module is omitted, all states matching the ID will be required, regardless of which module they are using.
[code]

[2016-10-17 14:46] gtmanfred commented on #37034
Interesting, thanks.  Let me try and replicate this.

[2016-10-17 14:47] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk commented on #37034
But nevertheless thanks a lot for the solution ! I'll pay attention on this moment.

[2016-10-17 14:56] gtmanfred commented on #37034
It looks like this works if you use listen instead of listen_in, so the following state.

[code]

But is should be made to work with listen_in and watch_in.  I am going to tag this as a bug and for our core team to look at.

[2016-10-17 15:02] Z9n2JktHlZDmlhSvqc9X2MmL3BwQG7tk commented on #37034
The second problem that the last example with `listen` does not raise an error, but also does not restart service after crontab replacement:

[code]

[2016-10-17 15:06] rickh563 commented on #36629
ZD-990

[2016-10-17 15:11] #36693 closed

[2016-10-17 15:21] L4rS6 commented on #29560
I got the same problem when I try to create a virtualenv for python 3.5.

[code]

Error messages:
[code]

OS-Release:
`FreeBSD testsrv 10.3-RELEASE-p4 FreeBSD 10.3-RELEASE-p4 `

salt-minion version:
`salt-minion 2016.3.3 (Boron)`

[2016-10-17 15:45] gtmanfred commented on #37038
This appears to just be a small cosmetic bug with the way that the installs from git in pip are handled with pkgs.  If you switch pkgs to names: and have it resolve to multiple different stateids, you will see that the actual response is with the git+https.

[code]

And it looks like it is the fact that it can't find the git+https link in the pip freeze.

I am going to mark this as a cosmetic erro

[2016-10-17 16:00] Ch3LL commented on #36134
Okay it looks like the multi-master issue is working now. The issue in #36866 is still showing up and I think i have narrowed it down to only occuring when the minion is pointing to localhost with master being on the same host. I'll close this issue and keep the other one open.

[2016-10-17 16:00] #36134 closed

[2016-10-17 16:00] terminalmage commented on #37001
You have the `source_hash` pointing at `v0.13.5`, and the `source` pointing at `v0.13.4`. But that may just be a typo. If you could confirm that the

This could be a duplicate of https://github.com/saltstack/salt/issues/36849, as it looks like the cached copy of the file shows a decompressed tar archive as the result.

[2016-10-17 16:17] nmadhok commented on #36769
@techhat @gtmanfred @rallytime Any updates?

[2016-10-17 16:20] #36723 closed

[2016-10-17 16:26] terminalmage commented on #37001
Actually, it looks like you definitely had the typo there, but for some reason we improperly identified the "specified" checksum. We should have failed to match any checksums in the ``source_hash`` file and returned a meaningful error. I downloaded 0.13.4 and gunzip'ed it and it doesn't match the "specified" hash identified in the error message (8d1e4737.......). Also, that hash doesn't show up at

[2016-10-17 16:29] terminalmage commented on #37001
Here we can see that the checksum of the tar archives for both versions don't match the hash we identified irrespective of whether or not the files are gunzip'ed.

[code]

[2016-10-17 17:05] tsaridas commented on #37018
@DmitryKuzmenko thanks for checking.

Would you be able to provide a quick fix so that my client connects automatically ?

For some reason even when I try to get the exception from get_event_noblock() I cannot reconnect anymore.

Thanks

[2016-10-17 17:29] twangboy opened #37052 "service state module doesn't honor test=True when using enabled"
### Description of Issue/Question

The enable/disable actions occur before the check for `test=True`. Services are being enabled or disabled regardless of the `test=True` and is not being reported back.
### Setup

Disable a service.

Create a state to start the service and enable it.

[code]

Apply the state with `test=True`

[code]

The service is now enabled, though started (unless it was alread

[2016-10-17 19:13] githubcdr commented on #37044
Thanks for pointing that out, I don't have the skills to debug this but I think I must look in grains/core.py, is this correct?

[2016-10-17 19:32] haeac opened #37055 "Beacons issue in 2016.3.3"
### Description of Issue/Question
Hello,

I'm new to salt and am trying to setup beacons, specifically the btmp beacon. Trying to configure the disable_during_state_run: True and interval: 10 param for the beacon as directed by the documentation and the minion has issues starting up. Any thoughts?

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Mas

[2016-10-17 20:08] Ch3LL commented on #37026
Okay so we need to make sure we narrow down this issue so we know when it can be closed. From what I can see in this issue so far you are running into race conditions for the following:

* When attempting to delete an ec2 instance and delete the subnet teh instance was in right after.
* Attempting to create an EC2 instance immediately after creating a IAM Role
* Attempting to create a subnet but i

[2016-10-17 20:11] nate-kennedy opened #37056 "Cannot communicate with minions (File %s exists and is not a socket)"
### Description of Issue/Question

I'm building a salt master inside of a docker container. When I start the container with a master on 2016.3.3 all minions (on version 2015.5.2) are unable to communicate back.

I have worked around this issue by removing `master_event_pub.ipc` and `master_event_pull.ipc`. Then restarting the salt master `supervisorctl -c /etc/supervisor/supervisord.conf restart s

[2016-10-17 20:14] Ch3LL commented on #37027
I would like to get some others input into this issue to ensure we go forward with a consistent fix.

ping @cachedout or @rallytime do either of you have any opinions on how to approach this issue?

[2016-10-17 20:16] sjorge commented on #37027
fwiw, I reverted my switching to having FQDN in /etc/nodename.
It caused some minor issues with other software.

For now I stopped using the FQDN grain.

[2016-10-17 20:43] Ch3LL commented on #37032
@damon-atkins ahh it does seem its possible to nest kvm (which is what salt-virt currently uses) to run on a vm from a quick google search.

Seems we could improve this module to allow VMs to also work with this module. Will approve as a feature request to improve this module thanks!

[2016-10-17 21:01] rbgallimore commented on #36773
My apologies for the late response. Yes, it's a WinRM cert issue. Apparently, the way certs are managed in our Windows environment changed recently. I tested salt-cloud saltify on a different set of machines using the previous cert. policy, and it worked without error. Thanks!

[2016-10-17 21:01] #36773 closed

[2016-10-17 21:11] basepi opened #37059 "Beacon fileserver operations cause scheduled jobs with fileserver operations to hang"
### Description of Issue/Question

If you create a beacon which fetches any files from the master, any scheduled jobs you have which utilize the fileserver will hang at 100% CPU forever.
### Setup

/srv/salt/_beacons/hangtest.py

[code]

/srv/pillar/top.sls

[code]

/srv/pillar/hangtest.sls

[code]

Setup:

[code]

The second run of the scheduled job (about 10 seconds after minion start) should ha

[2016-10-17 21:14] Ch3LL commented on #37037
@mikeadamz i am able to replicate this issue and I found that this commit broke it: 2d3a882cc2b998c7e4e7ba4b336b56dee0384f15  which is this pr: #35586

Looks like there is a difference between `new_item` and `current_schedule` [here](https://github.com/saltstack/salt/blob/develop/salt/states/schedule.py#L206)
We need to get this fixed up. Thanks

[2016-10-17 21:14] Ch3LL commented on #37037
Also to note this was working in 2016.3.1

[2016-10-17 21:31] mikeadamz commented on #37037
Awesome, thanks!

[2016-10-17 21:32] Ch3LL commented on #37041
@dmelnicz what version of docker are you running? and which version of docker-py do you have installed? thanks

[2016-10-17 21:38] Ch3LL commented on #37043
@mchugh19 i think this is a sound idea to keep track of these issues here instead of salt-api :)

ping @whiteinge just as a fyi

[2016-10-17 21:53] Ch3LL commented on #37044
Also to mention you should be able to work around this by specifying the following:

[code]

But in your instance replace pkg with the name of the package manager you are using.

Also which exact version of arch are you using? Can you paste a version here? And I will see if I can replicate the behavior. thanks

[2016-10-17 22:01] Ch3LL commented on #37055
@haeac you will need to get rid of that empty dicitonary. Try this configuration:

[code]

You would only include the empty dictionary `{}` if you did not have additional parameters to setup. Let me know if that works. thanks :)

[2016-10-17 22:06] haeac commented on #37055
@Ch3LL, thanks for the suggestion. That seems to have done the trick.

[2016-10-17 22:06] #37055 closed

[2016-10-17 22:09] fake-name commented on #37040
This is a dup of https://github.com/saltstack/salt/issues/36766

https://github.com/saltstack/salt/pull/36768 is the PR that fixes it.

[2016-10-17 22:10] fake-name commented on #37040
Is there a time-frame for when this fix will be released?

Also, sorry about the dup. I googled the issue, but forgot to search the repo bug reports (derp).

[2016-10-17 22:11] gtmanfred commented on #37040
No worries, sorry about the bug, that one was actually my fault :-)

I believe the current plan is in a week or so, we have just a couple more
blockers for that release.
On Mon, Oct 17, 2016 at 5:10 PM Connor Wolf <notifications@github.com>
wrote:

[2016-10-17 22:26] nate-kennedy commented on #37056
Also, when I `ll` the contents of /var/run/salt/master

I see:

[code]
Notice that `master_event_pub.ipc` and `master_event_pull.ipc` are not denoted as socket files.

[2016-10-17 22:29] Ch3LL commented on #36822
@ndobbs okay I went ahead and tried setting up a test case and I cannot replicate this issue. Salt-cloud is able to ssh and install salt in the VM. You state that you only have one vm template. Would you be willing to setup a different OS template and seeing if you still see the same error? I understand that might be too much to ask. please let me know thanks

[2016-10-17 22:30] Ch3LL commented on #36822
Would you also mind  also sharing your sanitized version of profile.d? I can attempt with the current settings  you are attempting to use. thanks

[2016-10-17 22:51] terminalmage commented on #37000
@rbjorklin After a little web-searching, it seems that the object you're referencing is the product of a query run using the ``dns`` module from the Python stdlib. It looks like the only place this is used in Salt's codebase is the ``ddns`` execution module. Are you using this in any way, and if so, how?

[2016-10-17 22:55] mikeadamz commented on #37037
Actually I think it's a problem with schedule.list. It doesn't include run_on_start...

## schedule.list
[code]

## cat the actual schedule file
[code]

[2016-10-17 22:56] mikeadamz commented on #37037
and yes, I know my salt master is named ansible, leave me alone! :+1:

[2016-10-17 23:01] mimianddaniel opened #37061 "using returner with batch mode in runner doesnt work"
### Description of Issue/Question

Trying to use returner with batchmode from runner
### Setup

(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
using a custom runner module that calls client.cmd_batch with ret='returner name'
### Steps to Reproduce Issue

(Include debug logs if possible and relevant.)
within batch.py, when it calls the self.local.cmd_iter_no_

[2016-10-17 23:13] terminalmage commented on #36872
@gtmanfred In the ``pull`` func we are setting a kwarg to call the ``_image_wrapper()`` function with auth enabled, which is why this is being required to pull images. We could alter the ``_image_wrapper()`` to only attempt a login when the necessary auth params are configured for a given registry. To be honest though, I'm not a regular Docker user and don't know how using a mixture of authenticat

[2016-10-17 23:59] DaveQB commented on #36763
I'll leave this open in case this needs to be addressed by the salt team, but the work around solution we found is working for us now.

[2016-10-18 01:38] vernondcole commented on #32294
Me, too.
I am running salt-call --local on Ubuntu 14.04 with Salt 2013.3.3.
[code]
This works, if I have manually configured the public key,

but not using the keyurl option.

I tried all sorts of combinations of keyurl, or keyserver with various key id formats, etc, etc.  All fail.

Manually configuring the public key is not a very good work-around, since I plan on using this on build servers cre

[2016-10-18 01:59] vernondcole commented on #32294
Good News!

  The command works correctly using salt-call 2016.11.0rc1

[code]

[2016-10-18 02:48] fake-name commented on #37040
Just FWIW, I splatted the newer version of `vultrpy.py` over the version I had, and I can confirm the issue is resolved.

[2016-10-18 03:30] fake-name opened #37062 "Timing conflict when initializing Ubuntu 16.04 VPS on Vultr"
### Description of Issue/Question

Basically, the vultr VPS deployment procedure involves some `apt-get` management. Basically, the deploy process works like this.
- VPS Is created.
- Initial setup is done. VPS Is not accessible.
- VPS is treated as "created". API call returns "ok".
- VPS Is now accessible over SSH.
- Deploy script from Vultr continues to run in the background, executing something

[2016-10-18 04:01] fake-name commented on #37062
Note that this is a random failure thing. Out of the 5 attempted deploys I've done so far, I've had it succeed once. I'm currently poking about with modifying the `deploy.sh` script.

[2016-10-18 04:02] fake-name opened #37063 "Errors when destroying a vultr instance result in confusing error output."
Basically, if you call `cloudclient.destroy("vm") on a vultr instance, and you get a command failure, the resulting output is confusing:

[code]

In this case, The Vultr api is returning `{'status': 412, 'error': 'HTTP 412: Request Failed'}`, which is why accessing `body` fails.

Since `body` and `text` are not guaranteed to be present, they should probably be checked for their presence before che

[2016-10-18 04:06] fake-name commented on #37063
Changing the destroy call to

[code]
would be a reasonable fix.

[2016-10-18 04:23] fake-name commented on #37062
Sticking

[code]

in `bootstrap-salt.sh` seems to fix the issue.

In this case, I amended

[code]

to

[code]

which seems to resolve the issue.

While this seems harmless, I'm not sure if it something that would be added in general. I'd be happy to pull request this and https://github.com/saltstack/salt/issues/37063. Should I?

[2016-10-18 05:45] cachedout commented on #35097
@jwhite530 Could I get you to give this a shot? https://github.com/saltstack/salt/pull/37064

[2016-10-18 06:51] cachedout commented on #35470
I've been looking into this today. What I think _might_ be happening here is that the issue outlined in #35097 might be triggering a broken pipe that is causing the ZeroMQ poller to just spin. There are a few ZMQ bugs which suggest that this may be possible.

So, for immediate relief I'm hoping that the fix in #37064 is helpful but I'd still like to understand why (and how) we're managing to get Z

[2016-10-18 06:52] cachedout commented on #36489
@sjmh I just wanted to check in with you here. Did you get what you need? Can we provide any additional help?

[2016-10-18 07:36] DmitryKuzmenko commented on #37018
@tsaridas ah, sure, there are more special `get_event_noblock()` and `get_event_block()` that don't hide the exception. I've tried to do things you want and everything looks working:

[code]

[2016-10-18 07:52] rbjorklin commented on #37000
@terminalmage Thanks for taking a look at this. We actually have a custom grain using the `dns` python module.

    import dns.resolver
    import socket

    def get_public_ip():
        grains = {}
        try:
          query = dns.resolver.query(socket.gethostname())
          grains['public_ip'] = query.response.answer[0].items[0]
        except e:
          grains['public_ip'] = '127.0.0.1'

[2016-10-18 08:16] guettli commented on #35935
@Ch3LL can you please point me to the unittest where this salt method gets tested? I guess it will be easier for me to show this issue in a test. I hope such a test exists.

[2016-10-18 08:22] guettli commented on #35377
Thank you for thinking about this issue.

In the long run it would be good to solve this with code.

What can we do now?

I think giving some hints in the docs would help.

Now the question: How to solve this issue (package names and versions differ on different linux plattforms) with the current salt version?

I see several solutions. Should I open a new ticket for this issue (updating docs)?

[2016-10-18 08:42] dmelnicz commented on #37041
@Ch3LL
Docker: Docker version 1.12.2, build bb80604
docker-py: docker-py==1.10.3

[2016-10-18 10:02] githubcdr commented on #37044
Hi @Ch3LL ,

Thanks for the feedback, after manually adding that line things are working again, there is something wrong with the os detection, this issue happens on 3 other servers too.

[code]

Arch version

[code]

I rolled back updated packages (glib2, python2-setuptools, python2-pyparsing, python2-psutil) to see if things recovered, but no show.

As damon-atkins pointed out, there is an issue

[2016-10-18 10:23] tsaridas commented on #37018
@DmitryKuzmenko ,

that doesn't work for me. It gets stuck, as I expected, at event.connect_pub() and never times out.

I also tried setting event.connect_pub(timeout=10) but without success.

I see that you are working with the develop branch hence the issue might be fixed there.

Did you actually try to restart master when running the script ?

Thanks

[2016-10-18 10:41] guettli opened #37068 "Feature Request: Template variable to explain source of a file"
### Description of Issue/Question

I want to know where config files on a minion come from.

Example

[code]

I am lazy, and don't want to maintain above information myself.

There is a cool feature for ansible. The template system provides a variable `{{ ansible_managed }}`
This gets expanded to the source of the file and a time stamp.
See: http://docs.ansible.com/ansible/intro_configuration.html

[2016-10-18 10:53] tsaridas commented on #37018
Tested and it works in develop branch. Not sure which ticket solved this though.

anyway, thanks for the help @DmitryKuzmenko

[2016-10-18 11:14] mostafahussein commented on #37068
For a better following up I will add my comment in here.

First as a temporary solution you can create your own pillar key for example lets call it `salt_managed` and its value could be like this:

[code]

Then on the minion you will get this result:

[code]
what do you think ?

[2016-10-18 11:55] tyagiprince commented on #36573
Hey I can see these functions are implemented in influxdb returner. However I get this same error when using master_job_cache.

[2016-10-18 12:26] chbiel commented on #23617
Is there any progress on this issue?

[2016-10-18 12:35] damon-atkins commented on #37044
Try this please
[code]

[2016-10-18 12:39] githubcdr commented on #37044
Bingo?

[code]

[2016-10-18 12:52] damon-atkins commented on #37044
Need you to do all of them esp
[code]

Python 2.7.10 (default, Sep  8 2015, 17:36:20)
[GCC 5.1.1 20150618 (Red Hat 5.1.1-4)] on linux2
Type "help", "copyright", "credits" or "license" for more information.

...   print h
...
('system', 'Linux')
('dist', 'fedora 23 Twenty Three')
('release', '4.4.3-300.fc23.armv7hl')
('machine', 'armv7l')
('version', 'Fedora 23 Twenty Three')

[2016-10-18 13:09] damon-atkins commented on #37044
Can you post a before and after one of these `cat /etc/os-release`

[2016-10-18 13:10] githubcdr commented on #37044
My bad;

[code]

[2016-10-18 13:14] damon-atkins commented on #37044
You can also try
strace python -m platform -c 'plaform.linux_distribution()' 2>&1 | fgrep 'open("/etc'

[2016-10-18 13:20] githubcdr commented on #37044
Since Arch runs Python2 and 3 aside I had to change a bit

Python2

[code]

Please let me know if I can help further, this is getting stranger and stranger.

[2016-10-18 13:24] damon-atkins commented on #37044
Whats in this /etc/.installed on a box which works.

[2016-10-18 13:26] damon-atkins commented on #37044
Run this on a box which works
strace python2 -m platform -c 'plaform.linux_distribution()' 2>&1 | fgrep 'open("/etc'

[2016-10-18 13:42] dmelnicz commented on #37041
@Ch3LL
Docker: Docker version 1.12.2, build bb80604
docker-py: docker-py==1.10.3

[2016-10-18 13:47] phil123456 commented on #37001
I corrected the typo, I still get the same error

here is the log (only copied relevant part sfor security reasons)

] Requesting URL https://github.com/syncthing/syncthing/releases/download/v0.13.4/sha256sum.txt.asc using GET method
[DEBUG   ] modules.file.py - extract_hash(): Extracting hash for file named: _home_eradmin_syncthing-linux-amd64-v0.13.4_.tar
[DEBUG   ] modules.file.py - extract_has

[2016-10-18 13:49] phil123456 opened #37069 "how to update to previous version ?"
### Description of Issue/Question

Hi,

I get a lot of issues just because I used the bootstrap script to create a new minion

how can I specify a particular version to make sure I get the same as previously installed minions ?

here is the error I get (something working before)

 The minion function caused an exception: Traceback (most recent call last):
      File "/usr/lib/python2.7/dist-packag

[2016-10-18 13:53] githubcdr commented on #37044
Hi,

/etc/.installed is not available on any server, a working CentOS server shows this;

[code]

None of the Arch servers work at the moment.

Inspecting /usr/lib/python2.7/platform.py I noticed no support for Arch, leading me to https://bugs.python.org/issue20454

But this is weird, since it was working last week...

[2016-10-18 14:13] damon-atkins commented on #37044
I suggest you build a VM with the old version of Arch which was working. And try and work out the difference.

Interesting is the comment in https://bugs.python.org/issue20454

Seems they are telling everyone to use https://pypi.python.org/pypi/distro instead of linux_distribution()
(https://github.com/nir0s/distro)

[2016-10-18 14:29] damon-atkins opened #37070 "Deprecated platform.linux_distribution() and platform.dist()"
### Description of Issue/Question

http://bugs.python.org/issue1322 `platform.linux_distribution()` and `platform.dist()` is being deprecated. The recommendation is to use https://pypi.python.org/pypi/distro instead of `platform.linux_distribution()` and `platform.dist()`    (https://github.com/nir0s/distro)

It's being removed as it updates far to often to be within the core python code due to ch

[2016-10-18 14:35] gtmanfred commented on #37069
If you add script_args: to your cloud config, you can pass arguments to the bootstrap script.

You can pass in `stable 2015.8` if you want to install the latest version of 2015.8, or `stable 2015.8.11` if you want a different point release.

more information about the script can be found by running.

[code]

[2016-10-18 14:35] #37069 closed

[2016-10-18 14:35] damon-atkins commented on #37044
I have raised an issue for linux_distribution() being left out of future version of python.

[2016-10-18 14:58] The-Loeki commented on #23617
See #29322; the new (default) Tornado backend should be able to use PycURL, which is proxy-capable.

[2016-10-18 14:59] githubcdr commented on #37044
Great, weird thing that this worked at all :)

[2016-10-18 15:33] bnied commented on #35398
@Ch3LL do you need any other info for this issue? Would this be better-suited to be opened against the saltstack-formulas org?

[2016-10-18 15:38] kmt commented on #36121
Would this be assigned and looked into sometime soon?  It's still a problem for us and it's not something we can address ourselves at this point.

[2016-10-18 15:45] thatch45 commented on #35377
I think that the best way to do this would be to make a separate project to track package names, as well as build in a hook to salt that allows for a static database of package aliases to be referenced by salt. That way as the package db project matures it can be used as a third party plugin

[2016-10-18 15:57] terminalmage commented on #37000
I don't know that there is a good way to catch this, since the serializer is used by so many different parts of Salt.

You should keep in mind though that msgpack can only serialize data structures. ``query.response.answer[0].items[0]`` refers to an A record object, what you probably want here is ``query.response.answer[0].items[0].address``:

[code]

[2016-10-18 16:01] terminalmage commented on #37000
We definitely shouldn't leave an non-operable minion though when this happens, so I'll see what I can find.

[2016-10-18 16:24] rehmanzile opened #37075 "saltenv option does not work for state.apply"
### Description of Issue/Question

### Setup
I have the following environment defined in /etc/salt/master:

[code]

And when I execute ```sudo salt 'staging3-manager01-ui' state.apply saltenv=staging3```, it picks up the pillar files from prod environment.

Here is the pillar file structure:

[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
[

[2016-10-18 17:28] szjur commented on #37018
@DmitryKuzmenko, any idea how to make it work in 2016.3.3? There is no close_pub() there, I tried to do what it does based on the latest code but it always hangs on connect_pub() even if you wait a minute and the master is surely up again at that time.

[2016-10-18 17:30] jrsdav opened #37077 "Joyent site-package broken for provisioning instances in on-prem Triton (SDC)"
### Description of Issue/Question

I've encountered an issue when using salt-cloud to provision instances with the Joyent Cloud Module. I'm using Joyent's on-prem solution Triton (formerly SDC), and have the `api_host_suffix` set to my local API (`api.somehost.com`) instead of the Joyent Cloud API.  I also needed to set a location in my `/etc/salt/cloud.providers.d/*.conf` file for the Triton clus

[2016-10-18 17:54] whiteinge opened #37078 "Deleting a minion via salt-cloud does not immediately delete grains"
### Description of Issue/Question

When a VM is deleted via salt-cloud the grains for that minion are eventually removed but not immediately. In contrast, deleting a minion key via salt-key immediately deletes the grains for that minion.
### Steps to Reproduce Issue
1. Delete a VM using salt-cloud.
2. Look for the grains for that VM via the `cache.grains` runner.
3. Wait several minutes.
4. Try to

[2016-10-18 18:08] cro opened #37079 "Cannot create VMs with salt-cloud and opennebula driver in 2016.3.3."
### Description of Issue/Question

Creating VMs for OpenNebula doesn't quite work right.

### Setup

profile:
[code]

provider:
[code]

### Steps to Reproduce Issue

`salt-cloud -p ubuntu1604 ubuntu-machine` sticks waiting for VM information, and the VM is never deployed in OpenNebula

[code]

### Versions Report

[code]

[2016-10-18 18:42] guettli commented on #37068
@mostafahussein implementing this via pillar looks good. I don't understand why you want to get the user who executed a state. At least in my environment it will always be `root`. I would like to know the source of this file or snippet (`file.blockreplace`)

[2016-10-18 19:02] davido-bs opened #37080 "Clearing pillar cache from Master leaves stray files & does not appear to clear it"
## Description of Issue/Question

Using the pillar cache with a disk backend. The `cache.clear_pillar` runner appears to clear the cache upon immediately calling `cache.pillar`, but the files still persist on the disk, and if it's within the cache TTL, the cached pillar data still gets retrieved, since those files still persist.

This is notable because we leverage a _custom external pillar_ that

[2016-10-18 19:20] Ch3LL commented on #37056
@nate-kennedy I'm having a hard time replicating this with this docker file:

[code]

I had to refactor your dockerfile a bit and I'm assuming you are using ubuntu14 due to your versions report. I run `docker build .` and I dont see any errors and as shown below the file is a socket file:

[code]

Can you share more of your dockerfile by chance so I can see what might be causing this? Or any other

[2016-10-18 19:27] rallytime commented on #36876
@jagguli I have back-ported #35199 to the 2016.3 branch in #36945. Can you confirm that this issue is fixed for you on 2016.3?

[2016-10-18 19:35] Ch3LL commented on #37059
@basepi whoa nice find! I am able to replicate this and have provided a docker container below for anyone that wants to quickly replicate the issue:

1. `docker run -it -v /home/ch3ll/git/salt/:/testing/ ch3ll/issues:37059 /bin/bash` (where /home/ch3ll/git/salt is a local git clone of salt)
2. `salt-master -d; salt-minion -d`
3. `top`

and you will see the salt-minion process at 100%:

[code]

[2016-10-18 19:43] Ch3LL commented on #37070
@damon-atkins thanks for the heads up on this. Looks like we need to get this fixed up especially before we move entirely to python 3 :)

[2016-10-18 19:44] basepi commented on #37059
👍

[2016-10-18 19:49] Ch3LL commented on #37029
Im a little fuzzy in this area so I would like to get ticosax's help here if possible.

ping @ticosax do you happen to know if there is support for docker named volumes within these modules or should I treat this as a feature request? Thanks

[2016-10-18 20:16] Ch3LL commented on #37061
@mimianddaniel just to clarify are you stating that this line in batch.py `ret=self.opts.get('return', ''),` should be `ret=self.opts.get('ret', ''),`

Thanks in advanced for any added clarificaiton.

[2016-10-18 20:18] cro commented on #37079
OK, I forgot the **fqdn_base** parameter.

This appears to still not work in 2016.3.3, but is fixed in the 2016.3 branch, so it will be available in the next 2016.3 release.

provider:
[code]

[2016-10-18 20:21] Ch3LL commented on #37062
@fake-name just to make sure do you happen to be using any `startup_states`? Just want to make sure you are not running into #36599

Also if you run salt-cloud with `script_args: -X` does it resolve this issue? Thanks

[2016-10-18 20:28] Ch3LL commented on #37063
@fake-name just to confirm is the VM actually being destroyed despite that error? Just want to make sure we would want to be returning true if body and text are empty. Thanks! If thats so feel free to submit a PR and someone can review the PR even more :)

[2016-10-18 20:29] fake-name commented on #37062
I don't even know what a `startup_state` is, so I assume not.  Basically, the above demo script is run on a clean install of `salt-cloud`, with the only change to the configuration being the set-up of my VPS API credentials.

What does "script_args: -X" do? Note that I'm interacting **entirely** via the python API, so I have no yaml anything. I think I can pass that through to the  `CloudClient.cr

[2016-10-18 20:34] fake-name commented on #37063
Correct. An empty `body` and `text` appear to indicate "Success".  Vultr's API is apparently rather bizarre.

[2016-10-18 20:35] Ch3LL commented on #37068
I think this is a great idea. I'll approve as a feature request thanks

[2016-10-18 20:38] terminalmage commented on #37001
@phil123456 I found and fixed the problem, see https://github.com/saltstack/salt/pull/37081. In the meantime you will need to use an actual hash expression like @gtmanfred suggested.

I also got rid of the traceback when ``source_hash_update`` is used with a remote source_hash. It still isn' supported, but it will no longer result in a traceback.

[2016-10-18 20:38] Ch3LL commented on #37037
hehe....

thanks for that additional information. So if you add it there does it work correctly?

[2016-10-18 20:41] mostafahussein commented on #37068
@guettli for me, my environment has multiple user and we are using ssh keys. so i will be able to know who have updated the file and when.
For the source of the file you might add as you said on stackoverflow, if i found another way i will let you know

Should I add the above implementation as answer on your question ?

[2016-10-18 20:44] Ch3LL commented on #35935
@guettli we have a unittest and integration test for the file state module itself if thats what you are looking for. They are located in tests/integration/states/file.py and tests/unit/states/file_test.py. Hope thats what you are looking for.

[2016-10-18 20:49] Ch3LL commented on #36573
@tyagiprince thanks for clarifying that this might not be an issue with those functions then. Since this is a different returner this might be a seperate issue or the same but I would like to keep track in a sepearte issue. Would you mind opening another issue while referencing this one so they are linked. Ad we can troubleshoot from there and it seems this might not be an issue with the functions

[2016-10-18 20:58] rallytime commented on #33388
I think the fix in #35049 addresses this. @ealphonse Can you give that a try and let us know if that resolves the issue for you? That fix will be available in the `carbon` release.

[2016-10-18 20:59] Ch3LL commented on #37044
hmmm nice find guys. Thanks for all the great investigation work. I'm wondering if your old arch boxes if it had a different python version since that python bug report specifically called out python27 and arch returning empty value for linux_distribution(). Can you check that on your old arch boxes?

Either way we need to make sure we can work around this in salt for arch as well. I will label as

[2016-10-18 21:16] nate-kennedy commented on #37056
Hi @Ch3LL, thanks for the response!

Sure I'll attach the dockerfile. Maybe it's worth nothing that I run the salt master as a service through supervisor. I'll also attach the relevant conf files.

[code]

supervisors.conf
[code]

supervisor-salt.conf
[code]

[2016-10-18 21:28] whiteinge commented on #37043
Definitely agree. This has been a long-standing annoyance. Well summarized.

The exit codes addition to Salt-core provide a good opportunity for us to surface this information in salt-api. Prior to that initiative the behavior is very CLI-centric, such as returning errors as strings. I an uncertain what the current state of support and documentation there is for these internal exit codes but as me

[2016-10-18 22:55] cro commented on #32274
Here are my current findings:

2016.3.2: Fails with stacktrace listed above
2016.3.3: Also fails
Head of 2016.3 branch: works (so should be fixed in upcoming 2016.3.4)
Head of Carbon branch: works (so should be fixed in upcoming 2016.11.0)

It looks like this PR fixed this problem: #35815

I'm going to close this ticket for now.  I'm the assignee, so if this doesn't prove to be the case for you pl

[2016-10-18 22:55] #32274 closed

[2016-10-18 23:14] mostafahussein commented on #37068
@Ch3LL Is there a way to access the event bus during state execution ? or even by creating a custom module ?

[2016-10-19 02:17] fake-name commented on #37062
Found the help, `-X` appears to not start the salt daemon? I need it running (I do stuff through it).

[2016-10-19 03:46] mikeadamz commented on #37037
yes, if I change that file on the minion everything works as expected.

[2016-10-19 04:29] AaronM-Cloudtek opened #37084 "x509.certificate_managed does not work with m2crypto >=0.25"
### Description of Issue/Question

x509.certificate_managed does not work with m2crypto >=0.25 due to missing x509v3_lhash function
### Steps to Reproduce Issue
1. Install m2crypto >=0.25 on minion
2. Invoke x509.certificate_managed state

Result:

[code]
### Versions Report

Minion:

[code]

Master:

[code]

[2016-10-19 04:45] guettli commented on #37068
@mostafahussein yes, please answer my StackO question with your sample implementation. It's a good starting point. I hope there is a way to figure out which file gets processed at the moment.

[2016-10-19 05:00] damon-atkins opened #37085 "Clarification Use of Shell Command Pipes in Python"
### Description of Issue/Question

In puppet facts collection,  I have seen people do something like   "command | cut | grep | sed" instead of ruby, because the person are new at ruby and do not have the skills.

I am relative new to python compare to other languages I have experience with. For example  it would be far less time consuming to "command | awk script" than to write python code.

My pe

[2016-10-19 05:05] mostafahussein commented on #37068
@guettli I have added it to your question. and if there is any other solutions then i will keep you updated.

[2016-10-19 07:10] chbiel commented on #33849
Our setup requires this setting because we need a proxy for internet access but not for internal communication.
Atm I am only able to do one at the time, change the config, do other things, chagne config back.

I would be really thankful if this would be one of the next features :)

[2016-10-19 07:34] githubcdr commented on #37044
I manage 3 Arch instances with Salt, a x64 and 2 ARM architectures, within 1 week I noticed this bug, looking for changes to my systems I noticed the following packages were upgraded usgins Salt.

[code]

I reverted the python2 updates, restarted salt, but no results. What's strange is that the os grains etc are detected correctly.

[2016-10-19 07:37] DmitryKuzmenko commented on #37018
@szjur you can either re-create the SaltEvent or use the following code instead of missing `close_pub()`:
[code]

[2016-10-19 10:12] wrigtim commented on #36671
@terminalmage Looks good to me - thanks very much!

[code]

[2016-10-19 10:30] phil123456 commented on #37001
sorry but all proposed examples failed
can you indicate me the correct syntax ?

[2016-10-19 10:48] phil123456 commented on #37069
- I use "sudo sh bootstrap_salt.sh" by default it should install a stable release ;-)
- version repport on the minion does not report the same version as the boostrap script
- installing another version does not seem to work, still the same as above for the minion (see details below)

I guess I'll have to scratch the machine

[code]

[2016-10-19 12:06] isbm commented on #37085
I see nothing wrong with this, unless it is happening on Windows. In that case your argumentation would make sense because Windows is by definition slow on pipes. However, design of the Unix (and Unix-like) operating systems is exactly this: do less for more. Another argument why this is actually a better way, because for certain task you need certain requirements with certain tools around. Almost

[2016-10-19 12:24] lorengordon commented on #37068
@mostafahussein, to answer your first question, maybe try `{{ tplfile }}`. There are a few context variables that may be useful here.

https://github.com/saltstack/salt/blob/develop/salt/utils/templates.py#L141-L145

[2016-10-19 12:42] romanovna opened #37089 "Salt state schedule.present doesn't reload scheduled jobs"
### Description of Issue/Question
State schedule.present function doesn't update already existing jobs if it was modified or created.

### Setup

**I used simple function - "file.touch" in st.sls to test if this scheduled job works.**

Sls-file:

[code]

### Steps to Reproduce Issue
1) Create sls-file , for example 'dd.sls'
2) Call salt.apply dd, it has to return something like:

But this job won'

[2016-10-19 12:43] guettli commented on #35377
@thatch45 yes, creating a separate project to track package names is a good solution for
the future. Until we get there, I would like a simple guideline for new comers. I guess
there about 10 ways to handle the problem with the current salt version. It would be nice
to have a sane default salt way to do this.

A guideline has the benefit that experts can solve it in they way they are used to and n

[2016-10-19 13:04] are-prabhu commented on #9876
@m03 It work with root $PATH, Im still experiencing this issue with non-root user do we have any fix or workaround

[2016-10-19 13:33] The-Loeki commented on #8486
https://docs.saltstack.com/en/develop/ref/states/all/salt.states.file.html#salt.states.file.serialize

Has that now w00tw00t

[2016-10-19 13:39] The-Loeki opened #37091 "file.serialize does not honour test=True when merge_if_exists=True"
### Description of Issue/Question
`file.serialize` does not honour `test=True` when `merge_if_exists=True`

https://github.com/saltstack/salt/blob/2016.3/salt/states/file.py#L4618

### Versions Report
[code]

[2016-10-19 13:40] The-Loeki commented on #37091
Wait, nm

[2016-10-19 13:40] #37091 closed

[2016-10-19 13:44] efficks opened #37092 "content parameter in file.line should be optional with delete mode"
### Description of Issue/Question

When using file.line with the delete mode, the content parameter is still mandatory. It should be set optional with a default value of 'None'.
### Setup

[code]
### Steps to Reproduce Issue

This failed with " Missing parameter content for state file.line"
If I added an empty string, it works.
### Versions Report

salt-minion 2016.3.3 (Boron)

[2016-10-19 13:58] steverweber commented on #32274
confirmed! thanks.

[2016-10-19 14:01] steverweber commented on #32274
still have an issue.. this might need to be reopened.
Can you confirm @ikkaro

[2016-10-19 14:03] steverweber commented on #32274
this fix seems to fix this issue.. please ignore my previous deleted messages. I have another issue with the vmware driver.

[2016-10-19 14:43] terminalmage commented on #36671
@wrigtim Thanks for taking the time to confirm, I really appreciate it! I'll mark this as closed.

[2016-10-19 14:43] #36671 closed

[2016-10-19 14:55] Ch3LL commented on #37075
@rehmanzile Just a couple of follow up questions/requests:

1. can you please share you top.sls file?
2. Does your minion match multiple pillar environments?
3. Has this worked previously?
4. If you run with `pillarenv=<env>` does it resolve the issue?

[2016-10-19 14:57] terminalmage commented on #37001
It looks like @gtmanfred had the wrong hash value in his example, but otherwise it is fine. Simply use the SLS you defined [here](https://github.com/saltstack/salt/issues/37001#issuecomment-254120356), only with a different ``source_hash`` value:

[code]

[2016-10-19 15:00] cro commented on #35443
@mirceaulinic Any progress here?

[2016-10-19 15:04] mirceaulinic commented on #35443
No, I was supposed to install it this week, but I was not very specific. Tomorrow I am going to install on the test platform and check.

[2016-10-19 15:12] rehmanzile commented on #37075
@Ch3LL Thanks for responding. Here is the information you needed.

1) Top.sls

[code]

2) Minion only refers to a single environment it belongs to.

[code]

3) I believe this worked with the older version 2015.8.12 but I didn't try it with multiple environment.   I have tried to follow Salt Stack Cookbook to try to get this setup but it doesn't seem to work.

4) Didn't know about pillarenv variabl

[2016-10-19 15:12] Ch3LL commented on #37044
@githubcdr so i understand correctly this is only occurring on one arch box? not all of them? Is tere differences in python versions between them?

[2016-10-19 15:13] basic-system opened #37093 "salt remount device every time"
### Description of Issue/Question
if we have state with mount
[code]
and already mount it with options size=110g,mode=0777 salt start remount this device every time.

### Setup
[code]
### Steps to Reproduce Issue

### Versions Report
[code]

[2016-10-19 15:15] cro commented on #35443
Great, thanks!

[2016-10-19 15:19] #37079 closed

[2016-10-19 15:20] cro commented on #36937
This was fixed by #36776.  I'm closing this issue, please comment here if it is not fixed.

[2016-10-19 15:20] #36937 closed

[2016-10-19 15:22] cro commented on #31692
@PredatorVI I'm adding this to my current sprint and will investigate it further.

[2016-10-19 15:32] #35316 closed

[2016-10-19 15:32] #34054 closed

[2016-10-19 15:33] #16872 closed

[2016-10-19 15:33] #32901 closed

[2016-10-19 15:34] damon-atkins commented on #37085
Out of 1400+ cmd within the Salt Code (excluding unit tests) there are only about 100 times in which pipes are used in commands. (18 of which are in modules/network.py and 5 in modules/keyboard.py)

[code]

[2016-10-19 15:37] isbm commented on #37085
Sure. You don't _have_ to do that. But you don't _need_ to restrict that either. :smile:

[2016-10-19 15:52] damon-atkins commented on #9876
Only way I can think of doing this is to add `path` to the minion configuration files. Then the minion checks minion configuration files for changes (time stamp) it reloads the configuration file settings.

See also #32806

[2016-10-19 15:53] awerner opened #37095 "spm update_repo fails for http URLs"
### Description of Issue

Using an spm repository hosted on a web server, the update_repo command retrieves the SPM-METADATA file but doesn't load it as YAML.

### Setup
Setup a SPM repository at `/etc/salt/spm.repos.d/my.repo` pointing to a remote http repository:
[code]

### Steps to Reproduce Issue
Run `spm -ldebug update_repo` produces the following output:
[code]

Now, trying to install a pac

[2016-10-19 15:58] Ch3LL commented on #37077
@jrsdav looks like we need to counter for when people are using SDC and specifying a particular location. Thanks for the heads up we will need to get this fixed up.

[2016-10-19 16:01] rehmanzile commented on #36940
@aronneagu Just curious. Were you able to resolve the issue by upgrading salt master?

[2016-10-19 16:04] damon-atkins commented on #36991
@thatch45 wrote in another issue:

[2016-10-19 16:04] Ch3LL commented on #37084
@AaronM-Cloudtek thanks for the heads up. Looks like we need to add this to the docs and add a check to ensure the user is using the correct version of m2crypto. Thanks

[2016-10-19 16:08] thatch45 commented on #35377
https://docs.saltstack.com/en/latest/topics/best_practices.html#modularity-within-states

Making a jinja map is the recommended way right now

[2016-10-19 16:19] thatch45 commented on #36991
@s0undt3ch this suggestion would break all of your checks for accepted arguments in the state system, fyi

[2016-10-19 16:33] DmitryKuzmenko commented on #32368
The described duplicate commands issue is fixed by #31364 that is first time released in 2015.8.9 and included in all later 2015.8.x and 2016.x releases.

[2016-10-19 16:33] #32368 closed

[2016-10-19 16:44] Ch3LL commented on #37089
@romanovna i'm having a hard time replicating this.

When I run `salt '*' state.apply test` It adds the job and starts to run as scheduled using the following state file:

[code]

And if i change the seconds to 30 and run state.apply test again it appropriately updates the change in seconds to 30 seconds without having to run `schedule.reload`

Are you changing something specific in that state tha

[2016-10-19 16:48] Ch3LL commented on #37037
Nice! Mind sending that in a PR?

[2016-10-19 17:14] Ch3LL commented on #37062
apologies I should have been more clear I would have wanted you to try `-X` if you were using `startup_states` as a temporary workaround. That is a separate issue where the states would be run and start attempting to update packages when the minion was started.

So since you are definitely not using startup_states that is not related. I just wanted to rule that out quickly. Thanks for clarifying.

[2016-10-19 18:00] gtmanfred commented on #37062
Does vultr have a tag that the put on servers to let you know when their automation is complete?

With rackspace, their managed automation adds the following tag to the metadata of the server so that we know that we can run our automation after it.

https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/nova.py#L800
and
https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/nov

[2016-10-19 18:09] haeac opened #37096 "Problem state.apply in 2016.3.3"
### Description of Issue/Question

Trying to apply states using a grain to specify the environment. This used to work in 2015.x.x but doesn't seem to work in 2016.3.3. The file system back end is gitfs with two branches master=>base and dev.
### Setup

(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
File server setup on master:

[code]

The Top file:

[code]

[2016-10-19 18:10] fake-name commented on #37062
Not that I can see, unfortunately. A lot of their API stuff seems kinda hacked-together. For instance, they generate an e-mail for *every* instance created, and there isn't a way to turn the notification off *at all*. Their support literally suggested I just use e-mail filters.

Their interface also notifies you "updates may occur in the background for the first few minutes" when you create a new

[2016-10-19 18:16] gtmanfred commented on #37062
Ok, would you open a support ticket with them just to make sure that there isn't anything else that they can do about providing information to their users about when their first boot automation is finished.

If they won't do that, then we should open an issue on https://github.com/saltstack/salt-bootstrap and discuss the best way to solve it there.

[2016-10-19 18:16] Ch3LL commented on #36598
Okay so I am getting the Bad status line same as @steverweber but when I try your change I am now seeing a different error:

[code]

[2016-10-19 18:18] fake-name commented on #37062
Will do. It'll have to wait until tonight when I can get into my account (I'm at work now, and I don't have access to my account credentials on this computer).

[2016-10-19 18:18] gtmanfred commented on #37062
Awesome, thanks!

[2016-10-19 18:20] Ch3LL commented on #34547
Okay I am able to replicate this but ONLY when using the python api:

[code]

When I run it normally with `salt-cloud -p qa-test-vm megtest3` it works just fine. Is this what you guy sare seeing as well? ping @sebw @steverweber

[2016-10-19 18:24] gtmanfred commented on #37080
I am able to replicate this on 2016.3.3 with just regular pillar files.

[code]

It appears that the cache.clear_pillar is not actually invalidating the cache for some reason.

[2016-10-19 18:32] gtmanfred commented on #37085
Personally, I only use the cmd.run or equivalent module when there is no python module that seems relatively easier than just doing it in the shell.   Pipe aside, if someone else is going to maintain the shell commands or C libraries to be used in my python script, i would rather let them do it and have to maintain less of the extra stuff on my own end.

We also regularly use stuff like the GitPyt

[2016-10-19 18:34] rajivkukreja commented on #36734
@cro / @SaltStackSupport - were you able to reproduce this?

I've effectively moved away from cmd.run entirely and using cmd.script instead. Pipes in unless and onlyif conditions for cmd.script are being honored (even without the python_shell) but as a defensive move, I am adding the same checks in the scripts themselves.

Its far from ideal to need a bash script for running single commands. I'd p

[2016-10-19 18:36] gtmanfred commented on #37092
This would be nice to have.  If you wanna take a crack at it, we accept pull requests!  But if not, I have tagged this to our platform team to take a look.

Thanks
Daniel

[2016-10-19 18:49] steverweber commented on #34547
this will work because it does not use the cached connection.
[code]
try this code listed in https://github.com/saltstack/salt/issues/36598

where I have a state file that makes more than one call using cloud
[code]

[2016-10-19 18:52] steverweber commented on #34547
@Ch3LL opps i see im already talking to you in the other thread :)

[2016-10-19 18:54] steverweber commented on #36598
@Ch3LL
can you run:
[code]
and retest. thanks.

[2016-10-19 18:56] steverweber commented on #36598
also might want to try the latest salt dev branch and reapply the /hack/ fix and retest.

[2016-10-19 19:03] tsaridas commented on #37018
@Ch3LL @DmitryKuzmenko thank you for your help.
Issue can be closed.

[2016-10-19 19:08] githubcdr commented on #37044
@Ch3LL no this happens on all Arch boxes, python version is the same.

[2016-10-19 19:44] Ch3LL commented on #36598
Okay I wanted to post this in here before I forget.

I did a git bisect and it shows this as the first commit:

[code]

From what I could tell this was working previously and broke in 2016.3.1

I'll try to re-apply your fix one moment.

[2016-10-19 19:48] steverweber commented on #36598
i'm using a self signed cert with the latest salt and pyvmomi without issue.

[2016-10-19 19:51] steverweber commented on #36598
opps i reread that commit message ... "2nd time the si is fetched" interesting.

[2016-10-19 20:06] Ch3LL commented on #36598
hmmm okay so i started on a clean box cuz I was having issues with my pyvmomi issue and now with your fix I'm seeing the following on develop with pyvmomi at the latest version:

[code]

When I re-add that line from that PR: https://github.com/saltstack/salt/pull/33698 it does work though.

And for reference heres the entire file i'm using:

[code]
and just running `sudo python cloudtest.py`

[2016-10-19 20:11] Ch3LL commented on #34547
Thanks for clarifying that for me. Just wanted to make sure the original reporter was not just simply running `-p` when they initially ran into this issue.

[2016-10-19 20:14] gtmanfred commented on #37095
@techhat can you take a look at this?

Thanks
Daniel

[2016-10-19 20:26] szjur commented on #37018
@DmitryKuzmenko you do realise that what you suggested is exactly what I said tried? That doesn't help, at least not with 2016.3.3 on RHEL6. @Ch3LL,  I don't know why @tsaridas closed it - most likely he found the code change that fixes this bug but just closing it light that doesn't really help the stable branches to get better and may be a bit confusing to anyone stumbling on this bug and readin

[2016-10-19 20:49] mikeadamz commented on #37037
Sure, no problem

[2016-10-19 21:41] cro commented on #31692
I've narrowed this down to a situation where the return from the minion contains a set (obviously) but that set should be cast to a list before we return it.

It would be very useful to determine which job actually generates the stacktrace.  If you can repeat your test and then retrieve the job information out of the job cache (`salt-run job.lookup_jid <jid for offending job>`) that would help a g

[2016-10-20 00:04] #37037 closed

[2016-10-20 00:16] damon-atkins commented on #37085
Hi @gtmanfred
I open this up, as Python should be able to execute a command and take that input directly and process it with regex match or something **vs**  running a command and the using awk/sed/grep/tail/head to process the data.  If you use a pipe the exit code is the last program in the pipe.

e.g.
[code]
vs
[code]

[2016-10-20 00:59] damon-atkins commented on #36991
Guessing what this means. If you go down this path then add a mandatory argument e.g. `abc(None,_def_kwargs_detals=True)`

[code]

[2016-10-20 01:43] fake-name commented on #37062
Opened an support ticket. We'll see what they say.

[2016-10-20 03:30] digitalrounin commented on #37026
The first two items can be reproduced on a fairly regular basis, assuming the calls happen in immediate succession.

The third, and final, happens very irregularly.

[2016-10-20 05:12] fake-name commented on #37062
So they got back to me:

It sounds like I can poke another part of the API, and get the state. I'm going to see about having a look in the `vultrpy.py` module. Hopefully this weekend.

[2016-10-20 05:26] fake-name commented on #37062
Another potential issue that should possibly be looked into (another bug) is the fact that you can create multiple instances of a VM with the same name on vultr. It makes the client very confused, because which instance you get is a function of the response layout, and what python decides to do with the dictionary generated from it. The ordering is non-deterministic.

[2016-10-20 05:46] fake-name commented on #37062
Ok, Now I'm extra confused. If I ssh into a new server immediately when it's created, it's idle.

If I let the bootstrap process run to the point that it ssh-es into the new server, I see apt running. I'm not sure /who/ is executing apt. I wonder if the SSH connection is starting apt, and closing the ssh session before the command completes, which then continues to run in the background.

This is

[2016-10-20 06:04] aaronm-cloudtek opened #37104 "salt.states.x509 documentation: Incorrect keyUsage parameter in "www" signing policy example"
### Description of Issue/Question

The example "www" signing policy has keyUsage set to "critical cRLSign, keyCertSign". These values are correct for a CA but not a SSL server certificate. With some SSL implementations this causes Firefox to throw _SEC_ERROR_INADEQUATE_KEY_USAGE_  when the generated certificate is used on a web server.

I believe the correct value would be "critical keyEnciphermen

[2016-10-20 06:06] phil123456 commented on #37001
sorry but all proposed examples failed
can you indicate me the correct syntax ?

[2016-10-20 06:25] cachedout commented on #36861
@sjorge We've got that PR in so I'm going to go ahead and close this. You know what to do if this comes up again. ;] Thanks!

[2016-10-20 06:25] #36861 closed

[2016-10-20 06:26] cachedout commented on #36814
We've got this fix in and there has been no reply for a request to verify this fix so I am going to go ahead and close this. Thanks all.

[2016-10-20 06:26] #36814 closed

[2016-10-20 06:28] cachedout commented on #36679
@lorengordon Were you able to have a look at this?

[2016-10-20 06:29] #36512 closed

[2016-10-20 06:31] #36452 closed

[2016-10-20 06:31] #36439 closed

[2016-10-20 06:32] #36102 closed

[2016-10-20 06:32] cachedout commented on #35841
Closed for lack of response since we can't verify the issue.

[2016-10-20 06:32] #35841 closed

[2016-10-20 06:38] kakwa commented on #36439
Humm, sorry, I forgot to report back.

It indeed works with the latest 2016.3 release.

[2016-10-20 07:18] sjmh commented on #36489
@s0undt3ch - the latter.  The reactor is given a 'record id' and it uses that record id to find the log file.  At any point in the time, that reactor+record_id combo may be running once, or twice, or not at all - but we'd want all instances of that reactor+record_id to log to the same file.

@cachedout - I'll test out the logging stuff - not sure if you guys agree with making __jid__ thread local

[2016-10-20 07:22] DmitryKuzmenko commented on #37018
@szjur ah! I see, sorry. I'll take a closer look.

[2016-10-20 07:50] isbm commented on #37085
Keep it simple, stupid: http://gregblogs.com/why-you-should-try-to-avoid-regex-in-your-python/

[2016-10-20 08:10] ticosax commented on #36872
This behavior (of attempting to authenticate against all registries docker-py asked to) is in the hand of docker daemon itself, `docker-py` is just transmitting credentials. `dockerd` is the one performing authentication. I'm afraid there is not much we can do at salt level. You will have to address this issue to docker itself.

[2016-10-20 08:16] ticosax commented on #37029
The warning is intended to give to the user, the information that salt took a decision on behalf of the user.
Because if the user made a mistake by writing `root` instead of `/root` it would be allowed by salt and hard to debug in absence of error.

So your have nothing to worry about this warning.

[2016-10-20 09:28] tsaridas commented on #37018
I could reopen the ticket if you think it should correspond to the stable version being buggy.

fyi- the pr that fixed the issue in 2016.3.3 was #32329

Not sure why though since the specific one has to do with serializer ... I only patched ipc.py and transport/frame.py together with your syndic patch.

I will take another look at the changes one more time and try to see what was the exact line th

[2016-10-20 09:48] mobidyc opened #37108 "updating salt with salt leaves both versions"
### Description of Issue/Question

Centos7
using state.sls to update salt-minion installs the latest version + leaves the old version
### Setup salt://salt/init.sls

[code]
### Steps to Reproduce Issue

salt-call state.sls salt
### Versions Report
# rpm -q salt-minion

salt-minion-2015.5.10-2.el7.noarch
salt-minion-2016.3.3-2.el7.noarch
# rpm -qa |grep salt

salt-minion-2016.3.3-2.el7.noarch
salt-

[2016-10-20 10:50] yhekma commented on #37075
@rehmanzile No, this assumption is not correct. The pillars get merged (see https://docs.saltstack.com/en/latest/topics/pillar/#pillar-namespace-merges). You can prevent this when 2016.3.4 comes out since that contains the option to not merge them (see #36435).

[2016-10-20 10:56] lorengordon commented on #36679
@cachedout looks like it was only backported to carbon? I've never been able to get salt to build from source on Windows...and I'm not seeing an installer for carbon in the repo...?

Could we maybe backport this to 2016.3 as well? I did just paste the patched code into `C:\salt\bin\Lib\site-packages\salt\modules\win_servermanager.py` in my local 2016.3.3 install, and it fixed the issue.

[2016-10-20 12:33] davidkarlsen commented on #31907
Same here - here is our minion:

[code]

[2016-10-20 12:36] Da-Juan commented on #18630
Same in 2016.3.3:
[code]
[code]

[2016-10-20 12:52] DmitryKuzmenko commented on #37018
I agree with @szjur. Also I've checked the latest 2016.3 branch and the bug is there: SaltEvent hangs on reconnecting to the event bus.
The issue is fixed in carbon branch by this PR: https://github.com/saltstack/salt/pull/36720
I think it's needed to be backported into 2016.3 branch.

[2016-10-20 12:56] daemonkeeper opened #37114 "Highstate formatter ignores --state-output"
After upgrading from 2016.3.2 to 2016.3.3 I noticed that the state-output filter for salt appears to be broken. All commands below run on the same machine, targeting the same minion and using the same master (and minion) configuration.

In Salt 2016.3.2 things seem to work as I'd expect:

    [me@salt-master:~] $ salt --versions-report
    Salt Version:
            Salt: 2016.3.2

    Dependency V

[2016-10-20 13:10] DmitryKuzmenko commented on #37018
I've backported the fix to 2016.3. @cachedout could you please take a look?

[2016-10-20 13:11] damon-atkins commented on #36679
Second version of this is coming soon #36983

[2016-10-20 13:11] DmitryKuzmenko commented on #37018
@szjur, @tsaridas thank you for help!

[2016-10-20 13:34] romanovna commented on #37089
@Ch3LL Well I was changed enabled to False, and nothing was happening, I mean, scheduled job was still active.
After reinstallation ('purge'-like) of the minion , i was unable to reproduce it too. Seems like it's ENV issue, but with very strange behaviour. On a clean VM this bug also didn't reproduced.

[2016-10-20 13:34] #37089 closed

[2016-10-20 14:07] terminalmage commented on #37001
[code]

[2016-10-20 14:09] terminalmage commented on #36872
@ticosax Interesting... so if we were to leave out auth info for a public registry, docker-py would fail to pull?

[2016-10-20 14:22] ferricoxide opened #37116 "Question: 'group' option to file.find usage"
### Description of Issue/Question
Trying to address a security-control that states that any files in a user's `${HOME}` should be group-owned by a valid group for that user. Was hoping to use `file.find` to do so, but when I try to enumerate more than one group, I get errors:

[code]
Above is correct, but only lets me track one group membership for the target files.
[code]
Trying to specify more t

[2016-10-20 14:23] gtmanfred commented on #37093
Thanks for fixing the pr fixing this!

[2016-10-20 14:38] zerthimon commented on #36872
What happens if no registries defined in pillar and no ~/.docker exists, I won't be able to pull from docker.io with salt ?

[2016-10-20 15:15] gtmanfred commented on #37096
I have confirmed I am getting the same error with the following repository.

https://github.com/gtmanfred/issue-37096

Which version of salt has this worked with in the past?

[2016-10-20 15:22] haeac commented on #37096
@gtmanfred I recently switched over to using the official salt repos for CentOS 6 & 7. Prior to that I used the epel repo. This worked in 2015.5.10 from epel and I believe it worked in 2015.8 as well. Thanks for looking into this.

[2016-10-20 15:33] DmitryKuzmenko commented on #36866
The problem is in the `host_to_ip` function that returns the only first IP address. Our `localhost` master has 2 addresses '::1' and '127.0.0.1'. Firs is '::1'. But in the active connections it sees the master connected as '127.0.0.1'. So it thinks master is disconnected right after start and sends `master_disconnected` event.

#37117 fixes it for carbon, I'll backport it for 2016.3 tomorrow.

[2016-10-20 15:36] mirceaulinic commented on #35443
Hi, I have installed the version from the carbon branch. So far so good, but usually this was noticed after some time. I would propose to leave it alone for a couple of days, then I will com back with more info.

[2016-10-20 15:38] gtmanfred commented on #37096
I was able to get it to work on 2015.5.10, but 2015.8.12 is also not working.

[2016-10-20 15:38] danfromtitan commented on #35158
To help mitigate the issue:
+ turn rotate_aes_key: False - this will prevent the key rotation with minion key delete events; keys will still rotate once every 24 hours at 2AM. Beaware of the setbacks in doing so.
+ consider lower auth_timeout from 60 to 30 to help minions retry auth faster
+ random_reauth_delay: 300 or higher will stagger minions auth requests over a longer period, but minion will

[2016-10-20 15:42] ferricoxide commented on #32681
It will be noted in this bug when this feature is implemented, correct? Got something that this functionality would be great for. =)

At any rate, :+1:  for the desired functionality.

[2016-10-20 15:53] gtmanfred commented on #37104
Would you be able to open an Pull request fixing this documentation?

Thanks
Daniel

[2016-10-20 16:00] gtmanfred commented on #37108
I am unable to replicate this error.

[code]

I get the 2015.8.12 package removed, and the 2016.3.3 package installed.  Can you provide the `state.sls` output with the above test state?

[2016-10-20 16:28] ticosax commented on #36872
public registries doesn't require authentication to pull.

I believe you should be able to pull from any public registries. I just tried and it worked.

[2016-10-20 16:29] gtmanfred commented on #37116
It looks like that is a bug. I am unable to get a list of groups to work in the `file.find` module.

You could use this state to do what you want.

[code]

But the `=` sign for group is to assign values to variables in functions in the python module, so you wouldn't be able to negate them on the commandline unless we added more capabilties to the module.

The above state uses jinja to get a list o

[2016-10-20 16:34] gtmanfred opened #37118 "group in file.find module unable to be a list"
### Description of Issue/Question

The documentation says that group can be a comma or space separated list, but it gives an error when you give multiple lists.
### Steps to Reproduce Issue

[code]
### Versions Report

[code]

Happens on 2015.8.12 too.

[2016-10-20 16:34] gtmanfred commented on #37116
Issue is #37118

[2016-10-20 16:36] #37116 closed

[2016-10-20 16:36] terminalmage commented on #36872
@ticosax So if we were to just remove the auth requirement from the ``pull`` function, and then don't process a ``Client.login()`` when auth is not present in the configuration for a public registry, it'll download from a public registry without issue? I guess I'm wondering what the implications are if you have two registries and you login to one, you don't login to another, and then you pull. Wha

[2016-10-20 16:38] terminalmage commented on #36872
The idea would be to have something like this in pillar:

[code]

[2016-10-20 16:49] alexbleotu commented on #36289
No comments I see.

I resolved this by implementing a decorator in the vsphere module that has all the connection logic in it, so the functions are smaller and testable. Also the decorated functions connecting using the proxy details, which I would argue is very desirable.

As a bonus, because the connection is done in the decorator the disconnect can be done there as well, and it doesn't matter i

[2016-10-20 16:49] #36289 closed

[2016-10-20 17:17] cro commented on #36289
I'm sorry, Alex, somehow I missed this issue until today.

Your solution is quite similar to the one I used for the HP OneView proxy minion.  I look forward to seeing your PR.

[2016-10-20 17:25] davidalger commented on #33442
So I'm not a user of salt, but found this issue while investigating an issue where I'm experiencing the same thing in an inline bash provisioner on a vagrant box. This helped me narrow down a reproducible test case, and I'm posting it here in case it helps others.

Running as root…

1. Stop mysqld

`service mysqld stop`

2. Attempt to start via the following

`service mysqld start 2>&1 | cat`

If

[2016-10-20 17:59] ticosax commented on #36872
if you leave it blank or specify it with `public: True` , will not solve the problem I think.
`dockerd` will try to login to https://index.foo.io/v1/ (the private one) and fail, even it the accessed registry to pull the image is https://hub.docker.com/v2/ (the public one that doesn't require auth).

`dockerd` seems to authenticate against all registries it has been instructed to by docker-py, if o

[2016-10-20 18:34] PredatorVI commented on #31692
I'm working on getting the requested info.  When I reverted my salt minions were too old and getting other exceptions.  I'm working on upgrading today and rerunning today (10/20/16).

[2016-10-20 18:35] cro commented on #31692
Thanks for the update.

[2016-10-20 18:42] bkruger99 commented on #36940
I have run into similar with ubuntu 14.04 doing a fresh salt master install.  I've had to reboot the instance for it to work correctly (after all updates from apt, etc).   16.04 works without issue.

[2016-10-20 18:57] bkruger99 commented on #22811
Not sure if this is the right place, but using salt.client.Caller, with a minion that doesn't have an accepted key on a master, will pretty much just hang forever.   I was trying to write some code to detect if the minion has a valid key with the master or not.

If you execute:
salt-call saltutil.revoke_auth (via command line) and then run the script

import salt.client
caller = salt.client.Caller

[2016-10-20 19:05] tsaridas commented on #35890
@cachedout @twangboy @szjur
would changing the minion options :

acceptance_wait_time_max
acceptance_wait_time_max
acceptance_wait_time

help in this situation ?
thnx

[2016-10-20 19:41] Ch3LL commented on #37114
@daemonkeeper I believe you are running into the same issue as #35989 which has been fixed in #36028

can you give that fix a try and report back whether that works?

[2016-10-20 19:52] Ch3LL commented on #37026
thanks for the clarification. We will need to get this fixed up. Thanks

[2016-10-20 19:58] dougofthemoment opened #37122 "external_auth pam works for a user but not group membership"
I cannot authenticate as a user that is a member of an allowed group using the pam backend.  Authenticating as the user works.  Looking at the logs, it finds the user and even sees that the user is member of its own group, but doesn't see the additional groups.

[code]

[code]

[code]

[code]

The pam auth is sssd connecting to FreeIPA.

[2016-10-20 20:10] Ch3LL commented on #37075
Perfect! @yhekma thanks for pointing out that new merging strategy.

Does that strategy work fro you @rehmanzile ?? or using `pillarenv`? Any other concerns?

[2016-10-20 20:13] githubcdr commented on #37044
An update, after extensive debugging I noticed that running Hubblestack (see hubblestack.io) on an Arch machine causes this problem. After disabling nebula_osquery.py in /var/cache/sat/modules things started working again.

@basepi, as maintener of nebula_osquery.py, can you perhaps explain this behaviour?

[2016-10-20 20:26] rehmanzile commented on #37075
@Ch3LL Yes it does. Thanks @yhekma and @Ch3LL. Appreciate the help! We can close this issue. Cheers.

[2016-10-20 20:34] nevins-b opened #37123 "file.recurse state doesn't support pulling from other environments"
### Description of Issue/Question

the file.recurse state won't pull folders that are configured in other environments.
### Setup

(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

[code]
### Steps to Reproduce Issue

salt '*' state.highstate
### Versions Report

2016.3.3

[2016-10-20 21:15] #37075 closed

[2016-10-20 21:20] szjur commented on #37018
Excellent, thanks a lot @DmitryKuzmenko :-) We'll also test it thoroughly tomorrow.

[2016-10-20 21:24] APA-ITS-NSE opened #37127 "Feature request: salt-cloud delete vmware snapshots by date"
### Description of Issue/Question

Opened per email from @nmadhok on August 26.
salt-cloud.clouds.vmware allows us to delete snapshots by name. We can also delete all snapshots of a vm. However, we cannot delete snapshots older than 30+ days.
### Setup

We have several application deployments per quarter. Each deployment requires us to create vm snapshots for rollback if the deployment fails or in

[2016-10-20 21:42] frogunder opened #37128 "2016.3.4: Minion does not shutdown properly when attempting to start multiple minions on same host"
Same issue as: https://github.com/saltstack/salt/issues/36729

I see and get the same result and error message as: https://github.com/saltstack/salt/issues/36729

[code]

[2016-10-20 21:52] ferricoxide commented on #37116
Awesome. Thanks for confirming that it was a bug and not my shoddy RTFMing and especially for the work around!

[2016-10-21 00:01] bl4ckcontact opened #37132 "Incorrect flag defined for disabling AD computer account in win_system.py"
### Description of Issue/Question
The `unjoin_domain` function in win_system.py specifies an incorrect flag for disabling AD computer objects. The offending value is located here:
https://github.com/saltstack/salt/blob/develop/salt/modules/win_system.py#L762

According to Microsoft documentation, the `NETSETUP_ACCT_DELETE` flag should be `0x4`, not `0x2`:
https://msdn.microsoft.com/en-us/library/a

[2016-10-21 00:08] jayma777 opened #37133 "cp.push not working"
### Description of Issue/Question

Trying to push file from minion to master:

File size:  28 bytes
# : `salt 'minion' cp.push /root/myip.txt`

minion:
    False

All minions (400) have the same issue.  Minion versions range from 2015.5.3 up to 2016.3.3.  The only minion that does work is the minion running locally on the salt-master.
### Setup

(Please provide relevant configs and/or SLS files (B

[2016-10-21 00:29] digitalrounin commented on #37026
Thank you!

[2016-10-21 00:56] twangboy commented on #35890
Turning multiprocessing off destroys job handling in Windows for some reason.

As far as acceptance wait time.... @UtahDave

[2016-10-21 01:36] AaronM-Cloudtek commented on #37104
Sorry here you go https://github.com/saltstack/salt/pull/37135

[2016-10-21 03:56] boltronics commented on #34675
Confirming I'm experiencing this too. You need to go to the Network Interfaces tab in the EC2 section of the web interface to delete the applicable IP address.

[2016-10-21 05:02] deuscapturus commented on #31280
I had this same problem with one of my Windows 2012R2 minions.  I had to uninstall, delete the entire C:\salt\ directory, and re-install to fix it.

[code]

[2016-10-21 05:19] #37093 closed

[2016-10-21 07:26] awerner opened #37138 "spm install fails for http URLs"
### Description of Issue/Question
Using an spm repository hosted on a web server, the install command retrieves the spm file but doesn't save it in the spm cache dir for installation.

### Setup
Setup a SPM repository at `/etc/salt/spm.repos.d/my.repo` pointing to a remote http repository:
[code]

### Steps to Reproduce Issue
Update the remote repository: `spm update_repo` (see also #37095)
Instal

[2016-10-21 08:00] mbochenk commented on #33442
@davegiles thanks. I did not think of redirecting service output in `cmd`, need to try that out.
This will not work for apt-get mysql though - unless not installed via `pkg`.

[2016-10-21 08:11] damon-atkins commented on #35890
My understanding is threading in python is not real threading (i.e. it does not use pthread),  its time sharing, so you cannot have more than one line of python code running at the same time. However if you call and external program python continues while the external program continues as well.   My understanding is Variables are 100% shared in Threaded Python, so any code which sets a global var,

[2016-10-21 08:34] Da-Juan opened #37141 "Blacklist salt * system.poweroff"
### Description of Issue/Question

Hello,

the actual publisher ACL system allows to whitelist or blacklist users and/or modules.
I'd like a way to blacklist the "*" target.

I need to keep the system module whitelisted to reboot or powreoff some specific minions but I'd like to forbid the usage of some modules with the "*" target.

How can I do that?

Thanks

[2016-10-21 08:38] mobidyc commented on #37108
Can't reproduce it anymore :/
I used the salt/init.sls file described in original post as a state.sls.

I ran salt with wildcard and I got the exact same problem on my 4 other VMs.

anyway, removing the wrong salt version and restarting the service solved the situation.

Sorry for the noise.

[2016-10-21 09:47] daemonkeeper commented on #37114
Yes it does! Thanks for the pointer. I've cherry-picked b9fc51a1727a3b434291acdd2b7d78692731431f on top of the release branch, and it fixes the issue I'm facing.

[2016-10-21 09:47] #37114 closed

[2016-10-21 10:31] danielmorlock commented on #22063
+1

[2016-10-21 11:03] fuzzy-id commented on #12070
I stumbled over this too (2016.3.3). Quite embarrassing. The workaround works on the master but not on the minions. So I have to write two different code-paths. :-/

[2016-10-21 12:20] barm4ley commented on #31562
@cachedout So, what is proper syntax to use the queue keyword in the reactor? I tried different types as @ahammond but none of them work. I'm using salt 2016.3.3 (Boron)

[2016-10-21 13:40] jbouse commented on #37133
I've experienced this as well...

[code]

Going on to the minion itself and running Python interpreter while running the lines of modules/cp.py manually I get the following through debugging:

[code]

It looks like it is [81c4d136](https://github.com/saltstack/salt/commit/81c4d136c5e3ac7b8cc208e0a9079c7ebb018b0c} that introduced this change.

[2016-10-21 13:56] jayma777 commented on #37133
That error was fixed in another PR.

You can either downgrade to 2016.3.2  (which supposedly fixes it, haven't verified that)

or

In /usr/lib/python2.7/dist-packages/salt/modules/cp.py change:
load_path_split_drive = os.path.splitdrive(load_path_normal)[1:]
to
load_path_split_drive = os.path.splitdrive(load_path_normal)[1]
(Somewhere around line 790)

This worked for me.  You'll need to change it

[2016-10-21 14:02] steverweber commented on #36598
note: the /hach/ fix i posted only works when using `salt-call`
[code]

[2016-10-21 14:04] aronneagu commented on #36940
@rehmanzile I have successfully upgraded to 16.04, and the first time I ran salt '*' test.ping (after reboot), more than half of the instances failed to reply, with error "Minion not connected [No response] (or [Not connected]". The second time I issued the same command they all replied. So far they all seem to accept commands from the master.

I encountered the same behavior on my test stack, the

[2016-10-21 14:12] steverweber commented on #36598
confirmed @Ch3LL workaround seems to work however at what cost..?
[code]

anyways it feels good to have something working. Thanks :)

[2016-10-21 14:13] gtmanfred commented on #37133
This is going to be fixed in 2016.3.4.

[2016-10-21 14:15] gtmanfred commented on #37133
@jayma777 is your issue different than that one?

[2016-10-21 14:16] gtmanfred commented on #37133
This appears to be a duplicate of https://github.com/saltstack/salt/issues/36860 if it is a new issue.

[2016-10-21 14:18] gtmanfred commented on #37127
This would be great to have, i have tagged it with our riot team to look into it.

[2016-10-21 14:24] frogunder opened #37148 "2016.3.4: python-futures not installed on CentOS7 when using bootstrap install"
When installing salt on a centos7 machine using the bootstrap script, futures does not get installed.

See issue: https://github.com/saltstack/salt-bootstrap/issues/917

When installing salt on a ubuntu14 machine using bootstrap, futures gets installed.

[code]

[code]

[code]

[2016-10-21 14:24] gtmanfred commented on #37122
Have you restarted the master since you added those settings?

I am using regular system user and groups and it is working.

[code]

[code]
[code]

[code]

If you have, i can try setting up sssd via freeipa to replicate this.

[2016-10-21 14:25] gtmanfred commented on #37122
Also, have you looked at using the direct ldap auth instead of using it through pam?

https://docs.saltstack.com/en/latest/topics/eauth/index.html#ldap-and-active-directory

[2016-10-21 14:27] gtmanfred commented on #37138
Thanks for the pull request to fix this issue!

[2016-10-21 14:33] #37148 closed

[2016-10-21 14:39] msummers42 commented on #4438
This is definitely still an issue, and the workaround is a bit on the ugly side. I've not looked too deeply into the mechanics of how the pkgrepo module manages keys yet. Any chance this will get some attention or does it require some significant work to fix?

[2016-10-21 14:48] gtmanfred commented on #37123
Thanks for opening the pull request to fix this!

[2016-10-21 14:52] gtmanfred commented on #37141
I do not believe that it is possible to do that.  But let me check.

[2016-10-21 14:53] gtmanfred commented on #37132
Would you be able to submit a pull request with this explaination and fix please?

Thanks
Daniel

[2016-10-21 15:11] gtmanfred commented on #37122
It might be a similar issue that was found here https://github.com/saltstack/salt/issues/36148

[2016-10-21 15:20] jayma777 commented on #37133
My issue is different from the one presented by jbouse.  It *might* be related or duplicate of #36860.  It's difficult to tell.   It seems as if the master is ignoring the file_recv setting.  If there is a way to view the "loaded" settings, I might be able to figure out why the master doesn't see it.

[2016-10-21 15:33] gtmanfred commented on #37133
If you run `salt-call config.get file_recv` and you don't have file_recv in any minion pillar or grains configs, i believe it should pull the config from the master.

[2016-10-21 15:34] gtmanfred commented on #37133
And if you are saying that the minion on the salt master works, that would be why my testing may have not been able to replicate it in the other bug.

[2016-10-21 16:03] meyerbro commented on #24225
Unfortunately not working for me on a masterless minion...

[2016-10-21 16:17] Snarfingcode666 opened #37151 "salt-cloud vmware deploymentment host value not recognized"
@nmadhok

### Description of Issue/Question
when deploying using salt-cloud to vmware from an iso (i.e. building a new vm) and not cloning, it ignores the cluster and host you tell it to deploy to.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
 salt --version
salt 2016.11.0-187-g8b9648c

esxi 6.0
vsphere
multiple clusters and 4 different servers

[2016-10-21 17:05] bl4ckcontact commented on #37132
I'll submit the pull request shortly.

Thanks!

[2016-10-21 19:26] corywright commented on #6602
Any idea when we may see this implemented?

[2016-10-21 20:38] dougofthemoment commented on #37122
Thanks, yes I have restarted.  I tried ldap but same thing, users works but not groups.  From  #36148 it sounds like groups in freeipa will not work with the salt ldap driver because of the schema assumed.

[code]
Here's my sssd.conf
[code]

One thought...I wonder if eauth=pam is just looking inside /etc/group?  If it did it would work for local groups but not sssd.

[2016-10-21 21:17] Ch3LL commented on #36940
Okay i went ahead and tried to replicate this issue and I am able to successfully replicate it. I even tried upgrading a bunch of the dependencies and did not see a difference. Here is my versions-report after the upgrade of versions:

[code]

Weirdly enough when I installed the salt-minion on the same host as the master and was running the salt-minon processes everything worked as expected. I cou

[2016-10-21 21:18] Ch3LL commented on #36940
Oh and if anyone still has their ubuntu14 instance up can they see if running a minion the master helps? or mabye someone can clarify if they had a local minion running?

[2016-10-21 21:36] Ch3LL commented on #36940
Okay I can confrim on a clean install of 2016.3.3 I do not see this issue. So its only related to upgrading from 2015.5.3 to 2016.3.3 on ubuntu14.

Here is my versions report for the clean install:

[code]

And here is the diff between the two versions:

[code]

[2016-10-21 21:43] Ch3LL commented on #36940
Okay I can also confirm that upgrading the minions to 2016.3.3 resolves the issue well and this is my versions report for that upgraded minion:

[code]

So to sum everything up:

1. following situation creates issue:
     - upgrade 2015.5.3 master to 2016.3.3
     - minion stays at 2015.5.3

WORKAROUND: fix this issue by installnig a 2016.3.3 minion on the master and weirdly enough you can ping th

[2016-10-21 21:47] bl4ckcontact commented on #37132
Pull request #37154 has been opened.

[2016-10-21 22:29] haeac commented on #37118
@gtmanfred was this merged into develop or do I need to create a new pull request?

[2016-10-22 00:23] dougofthemoment commented on #36148
Sort of related: it would be cool if an ldap user could be authenticated whether or not the bind user can search for the user.  The reason is that in FreeIPA, system accounts which are specifically created for binds cannot search for other system accounts.  If I want to make an account for something like Jenkins, right now I have to create a real user with a shell defined because otherwise Salt's

[2016-10-22 11:14] sjorge commented on #37027
Bump, I am working around it at the moment by calculating the fqdn grains in a pillar first. (host + '.' + dns:domain) because as mentioned above putting FQDN did cause some issues with other software like postfix going for host.domain.domain instead.

[2016-10-22 12:43] damon-atkins commented on #37027
Re: Postfix
I would have thought postfix would not add the domain unless configured too.

I suggest you remove /etc/defaultdomain if you set the hostname to be FQDN
/etc/defaultdomain is meant to be for NIS

Just guessing
It sounds like configs have been setup on the assumption that hostname is not FQDN and hence configs add the domain.

[2016-10-22 12:52] sjorge commented on #37027
It seems like a bit of a cluster fuck due to legacy reasons. Some take nodename + defaultdomain, some take whatever is in /etc/hosts,...

I already added 'myhostname = correct.fqdn' to the main.cf for postfix, to avoid stuff in the future though.

Let me tag some of the illumos people and see if any of them respond:
@rmustacc, @danmcd can any of you clear this up for illumos/Solaris 10 at least.

[2016-10-22 21:05] dtkerr opened #37168 "virtualenv.managed doesn't makes changes according to user argument"
### Description + Reproduction

Much like changing the `user` value in a `file.managed` state, the `user` in the virutalenv.managed` would presumably do the same and ensure the virtualenv is owned by the user.

In fact it does do this the first time it makes changes

[code]

will correctly effect a virtualenv owned by the user `foo` if the virtualenv doesn't yet exist, however if you change it

[c

[2016-10-23 05:30] fake-name commented on #37062
Ok, I'm not sure what's causing this issue. If I manually create a vultr VPS, and ssh into it as soon as it's created, I don't see any instances of apt running. On the other hand, I can pretty easily replicate the apt conflict described in the first post of this issue pretty easily,

I modified `vultrpy` to wait for the additional flags the vultr help people got back to me about, and it doesn't se

[2016-10-23 07:13] isbm commented on #37027
@sjorge Why they say `/etc/defaultdomain` is for NIS? It is (not true)[https://docs.oracle.com/cd/E19455-01/806-0916/ipconfig-16/index.html].

[2016-10-23 07:41] sjorge commented on #37027
@isbm I never said ```/etc/defaultdomain``` was for NIS

But reread the docs and manages doe seem to indicate in my above example I have the correct content in both files.

The facts that the docs uses "ully qualified domain name of the administrative domain" does not really help for clarity but the referenced figure 6-1 is helpful.

[2016-10-23 09:54] damon-atkins commented on #37027
From the man page for defaultdomain which doco's NIS service generates the /etc/defaultdomain file for backwards compatibility application design to work with older version of Solaris.
[code]

See also https://docs.oracle.com/cd/E19455-01/806-1387/abtrbl-28007/index.html which talks about fixing NIS.

[code]

[2016-10-23 11:41] isbm commented on #37027
(Default domain file)[https://docs.oracle.com/cd/E19455-01/806-0916/ipconfig-16/index.html] contains an FQDN and is because of (`/etc/hostname.interface`)[https://docs.oracle.com/cd/E19455-01/806-0916/ipconfig-13/index.html]. Same to (IPv6)[https://docs.oracle.com/cd/E19455-01/806-0916/ipref-10/index.html]. AFAIK, (`/etc/nodename`)[https://docs.oracle.com/cd/E19455-01/806-0916/ipconfig-15a/index.h

[2016-10-23 11:53] sjorge commented on #37027
Alright lets look at [Figure 6-1](https://docs.oracle.com/cd/E19455-01/806-0916/6ja853993/index.html#ipconfig-fig-10) and create all these files as per the docs for timbuktu and for sahara so we covered a multi homed and singled homed machine.

From how I understand they should look like the following. @isbm, @damon-atkins  do guys come to the same conclusion?

## sahara
/etc/nodename
[code]

/etc

[2016-10-23 13:32] damon-atkins commented on #37027
Hi @isbm and @sjorge The doco about /etc/defaultdomain is related to NIS.  Most of Sun doco was written when they expected everyone to use NIS.   NIS would not work if /etc/nodename or hostname was FQDN

Solaris 10 and older versions
`/etc/hostname.<interface>` contains options for ifconfig  for a interface. It can contain a hostname or IP address
e.g. From http://docs.oracle.com/cd/E19253-01/816-

[2016-10-23 13:44] sjorge commented on #37027
Yeah dhcp.iface en addrconf.iface both also work on Solaris 10 at least.

I doubt we can get this fixed for 2016.11 which basically means that release will break stuff on Solaris. I guess that is unavoidable, but this should be sorted and properly fixed for Nitrogen at the very least. I'm OK in doing the lift work for this, but we need to figure out what is the proper way to get this data that wor

[2016-10-23 14:00] damon-atkins commented on #37027
Try truss, as every program does its own thing, esp. ones which run on multiple OS.  It's the only way to know for sure, and work out a final solution.

[2016-10-23 14:23] damon-atkins opened #37172 "states.pkg.mod_watch doco missing (all versions)"
### Description of Issue/Question

Try to work out if this will only be true in a state when a package is installed.  Found out their needs to be some more doco for this.

[code]

[2016-10-23 14:28] damon-atkins commented on #37172
Had a look at the code. Maybe it should say not for use directly within a state or become private.

[2016-10-23 14:33] sjorge commented on #37027
It's been traced to get_fqhostname in salt.utils.network returning different output compared to < 2016.11.

More specifically ``socket.getfqdn()`` and ``socket.getaddrinfo()`` seems to not properly resolve to the fqdn, the only way to force this is to set /etc/nodename to FQDN.

[code]
[code]

After digging into the python source
[code]

Since both gethostname and gethostbyaddr come form the cbind

[2016-10-23 14:39] sjorge commented on #37027
Lets summarize that: 172.16.10.135
* Solaris docs are a bit confusing at times
* My config seems to be fine for Solaris 10 and friends at least
* python's socket.getfqdn() returns the wrong thing
* traced to socket.gethostbyaddr(xxx) not returning results on Solaris 10-like systems
  * socket.gethostbyaddr() seems to want a IPv4 or IPv6 address, getfqdn is feeding it a host

[2016-10-23 18:32] damon-atkins commented on #37027
with nodename/hostname/uname -n  of the system FQDN.
Python  socket.getfqdn() returns FQDN.

Solaris 11 Calls
sysinfo(SI_HOSTNAME, buffer, 1023) and libc:gethostname()

Read the last sentence of below from Solars 11 man page
[code]
Note:
- "transport  end  point  address" e.g. IP Address
- "The name might not be fully qualified."   So one could read this as expect to be FQDN, but may not be.

Your

[2016-10-23 18:58] sjorge commented on #37027
With nothing in /etc/hosts or /etc/resolv.conf

[code]

That being said, I get a similar result on a debian box
[code]

Without /etc/hosts and/or resolve.conf the fqdn grains is not a FQDN on linux either, it is also just the nodename in that case! So the change would not break anything there.

I did dig into the socket library from python, before proposing the above fix,
socket.getfqdn() calls so

[2016-10-23 23:53] boltronics commented on #32907
I just hit this. It used to be that you could kluge `-e ssh <src>` for the src field and that would work (I use the module via publish.publish), but since upgrading I now get `Could not resolve hostname` errors.

[2016-10-24 00:30] boltronics commented on #32907
Just took a look at what would be involved to add this, and it looks quite straightforward. I'm working on a PR.

[2016-10-24 03:49] mikeadamz opened #37174 "The State execution failed to record the order in which all states were executed spam while running pkg.upgrade from orchestration runner"
### Description of Issue/Question

The State execution failed to record the order in which all states were executed spam while running pkg.upgrade from orchestration runner

[code]
### Setup

Orestration State

[code]
### Steps to Reproduce Issue

Run above orchestration state on a host
### Versions Report

(Provided by running `salt --versions-report`. Please also mention any differences in maste

[2016-10-24 04:54] boltronics commented on #36360
I believe this should be re-opened. The current release procedure is still misleading, and there was no explanation as to why releases are built the way they are. The only reference to `sdist` in the docs is on the esky page, and esky isn't even a maintained project nor something probably most people would ever use. Hence this is still an issue.

[2016-10-24 05:32] cachedout commented on #36991
This effectively eliminates the separation between interfaces and implementations. I do not think this is a wise design decision.

As Guido writes in the Zen of Python [https://www.python.org/dev/peps/pep-0020/] `explicit is better than implicit`. I agree.

As @thatch45 has already pointed out, this would break Salt's existing system for determining accepted arguments.

Any gains in flexibility he

[2016-10-24 10:21] DmitryKuzmenko commented on #37018
I'd like to address this question to @cachedout and @thatch45.
In simple words: `salt.utils.event` has different error handling in function allowing to get events.
`get_event_block`, `get_event_noblock`: return `None` if there's no data, raises `StreamClosedError` if remote peer is disconnected.
`get_event()`: returns None if there's no data or error occurred, we have no way to detect errors.
`ite

[2016-10-24 11:15] guettli opened #37176 "docs for "load tags" explains "import_yaml""
### Description of Issue/Question

I think there is a wrong line in this document:

https://docs.saltstack.com/en/latest/ref/renderers/all/salt.renderers.jinja.html

{{{
Load tags

Salt implements import_yaml and import_json tags. They work like the import tag, except that the document is also deserialized.

Syntaxes are {% load_yaml as [VARIABLE] %}[YOUR DATA]{% endload %} and {% load_json as [VA

[2016-10-24 11:20] guettli opened #37177 "Docs about "Import tags" missing: why needed?"
### Description of Issue/Question

Quoting this https://docs.saltstack.com/en/latest/ref/renderers/all/salt.renderers.jinja.html

{{{
Import tags

External files can be imported and made available as a Jinja variable.
}}}

Please add why this is useful to the docs.

Jinja already has include and imports.

Why reinvent? Why is this needed?

I guess you have good reason. I am new and curious :-)

Pl

[2016-10-24 13:18] dumol commented on #23971
I've retested this with the upstream `salt-minion-2015.8.10-76.12`  package and the problem doesn't reproduce any more in SLES 11. Thanks!

[2016-10-24 13:18] #23971 closed

[2016-10-24 13:23] damon-atkins commented on #36991
For Salt to have ordered parameter's `def (parameter1,parameter2,etc)`  all modules need to be develop for all platforms as the same time, it has to be well thought through. Because any change breaks users existing implementation. This is shown by pkg.install inconsistency.

Fast amounts of effort go into using Salt, every time an interface changes it cause a mass amount  of effort by the user bas

[2016-10-24 13:28] isbm commented on #36966
Fixed in #37178 for 2015.8 series. Others are soon coming.

[2016-10-24 13:47] lorengordon commented on #36991
@damon-atkins, TBH, rather than what it seems you actually had in mind, I was thinking about consistency in parameter names across functions. Functions within a single module, and where functions get distributed across different modules for different platforms. Though I don't remember now, off the top of my head, which functions I was using where such an inconsistency bit me. But, for example, `fi

[2016-10-24 14:58] Ch3LL opened #37182 "2016.3.4: multi-master minion stack trace when killed with ctrl+c"
### Description of Issue/Question

When running a minion pointing to multiple masters in the foreground with `salt-minion -ldebug` and then attempting to kill the process with ctrl + c there is a stack trace as shown below:

[code]
### Setup
1. minion with the following in minion config:

[code]
1. accept the keys on both the masters and make sure you can communicate with the minion from both mast

[2016-10-24 14:59] gtmanfred commented on #37168
@dtkerr the problem is that the user: is only used when running the virtualenv command, and nothing actually checks which user owns the virtualenv files.

The best thing to do if you want to change the ownership of a directory such as the stuff containing a virtualenv, is to use a file.directory state to make sure that the correct user owns it.

[2016-10-24 15:04] gtmanfred commented on #37176
That is correct, the first sentence should say load_yaml and load_json.

I have created the following pull request to fix this documentation
https://github.com/saltstack/salt/pull/37183

[2016-10-24 15:05] damon-atkins commented on #36991
if `file.replace` and `file.line` both used 100% `**kwargs` it would be an easy change to support same names for parameters.  e.g `regex` is chosen instead of `pattern` and `match`.
[code]

And then after the warning period

[code]

I see `**kwargs` provides a better chance to get consistence and if parameter names need to be change, then its also easier  to migrate to new names while keeping the

[2016-10-24 15:05] gtmanfred commented on #37172
I think if we make it private, it won't be usable with from inside of the state runner, because that just uses the modules loaded by the loader, which won't load private functions.

We should definitely say that it shouldn't be used directly.

[2016-10-24 15:08] L4rS6 commented on #14183
Same problem here on FreeBSD. If a watch'ed configfile is changed, the service only gets enabled and not restarted.

[2016-10-24 15:08] Snarfingcode666 commented on #37151
there is nothing in there that is confidential.  this is all on a test system trying to show that this works.

[2016-10-24 15:09] lorengordon commented on #36991
Ok, but you don't really need to use `**kwargs` to do that. You can add `regex` as a new arg and use the same deprecation logic.

[2016-10-24 15:11] Snarfingcode666 commented on #37151
[code]

[2016-10-24 15:12] Snarfingcode666 commented on #37151
cloud.providers   my vsphere.conf file

[code]

[2016-10-24 15:23] thatch45 commented on #36360
Ok, I will open this back up as a documentation bug, understanding that we just need to clarify the release build process.

[2016-10-24 15:53] jayma777 commented on #37133
salt-call config.get file_recv returns false on all minions,  even the minion running on the master.  file_recv isn't defined anywhere, other than /etc/salt/master.

[2016-10-24 16:05] gtmanfred commented on #37133
Hrm, yeah i am getting the same, but I setup an extra minion and hooked it up, using 2016.3.3, and I am still able to do a cp.push.

[code]

[2016-10-24 16:21] darkalia opened #37187 "Supervisord is considered as "systemd" in grains"
### Description of Issue/Question

Using supervisord as pid 1 in a docker container fill grains['init'] with "systemd" value

`
root@b9e49580d089:/# salt-call --local -l quiet grains.item init
local:
    ----------
    init:
        systemd`
### Setup
Use a Dockerfile as this

[code]
Here is the supervisord.conf files
/etc/supervisor/supervisord.conf
[code]

 /etc/supervisor/conf.d/salt-minion.con

[2016-10-24 16:22] YasenT opened #37189 "Cloudstack fails cloudstack.list_nodes_full()"
Hello, I'm trying to deploy cloudstack VMs, but when I try to create a vm, I always end up getting the following error :

[code]

[root@master cloud.profiles.d]# salt-cloud --version
salt-cloud 2016.3.3 (Boron)

[2016-10-24 16:35] thatch45 commented on #37018
This is a good question, I think the optimal situation would be to allow the user to pass the option into `get_event()` to expose errors raised

[2016-10-24 17:02] Ch3LL opened #37191 "2016.3.4: Multi-Master Failover minion hangs when masters not running"
### Description of Issue/Question
When starting a minion that is attached to two masters in a failover setup if both masters are not running on startup of the minion the minion just hangs and won't re-connect to the master if it is started afterwards.

### Setup
1. Minion with the following minion config:

[code]
2. masters not started but key has been accepted on the masters previously

### Steps

[2016-10-24 17:26] damon-atkins commented on #36991
I don't believe you can do "pattern has been removed" without `**kwargs`.  You might get "Passed invalid arguments to ..." instead once its gone.
[code]

Challenge, @lorengordon can you provide an example for `file.replace`, keeping in mined users do not need to use parameter=format, so you need to keep order of the parameters the same while renaming `pattern` to `regex`.  And since it takes sever

[2016-10-24 17:49] Ch3LL opened #37192 "2016.3.4: Windows minion does not kill process running in foreground"
### Description of Issue/Question
When running `./salt-minion.bat -ldebug` on a windows minion in powershell when I attempt to kill the process with Ctrl + c It does not bring me down to another prompt and just hangs there.

### Setup
1. Install salt-minion on windows host. don't even need to attach it to a master can be a clean install

### Steps to Reproduce Issue
1. start the minion process by

[2016-10-24 17:50] #35097 closed

[2016-10-24 18:24] redmcg commented on #36693
I have just ran in to this issue running 2016.3.3 and can confirm #36025 fixes it.

Previously I was able to reproduce it whenever 'args' was used in a master 'schedule'.

[2016-10-24 18:29] lorengordon commented on #36991
You can add new args to the end of the function definition and deprecate the prior argument. Yes, positional usage will break when you start removing deprecated args, but such users would have been getting the deprecation warning that this was going to happen. I feel like this is the same as what you are proposing. Args aren't directly renamed. Instead, you add a new arg, and deprecate the old arg

[2016-10-24 19:11] Ch3LL commented on #37174
@mikeadamz looks like i'm able to replicate this. Looks like we need to get this fixed up. Thanks

[2016-10-24 19:47] sjorge opened #37194 "function_cache in modules.mine docs?"
### Description of Issue/Question
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.mine.html#module-salt.modules.mine

Near the end function_cache is mentioned, what is this? Further searching did not immediately turned up something.

[2016-10-24 20:06] Ch3LL commented on #37187
@darkalia looks like i'm able to replicate this behavior. I did have to edit the docker file  a bit to install 2016.3.3:

[code]

Looks like we need to detect for supervisord

[2016-10-24 20:09] Ch3LL commented on #37189
@YasenT would you mind sharing a sanitized version of your profile/provider configs?
Also how are you attempting to create the VM? `salt-cloud -p profile vmname`?

Also does it actually create the VM but just spits out this error? or does not create them?

[2016-10-24 20:10] szjur commented on #37018
In any case iter_events() hanging indefinitely after master restart with no way whatsoever to catch it and handle is beyond any user's expectation. It should at least return None.

[2016-10-24 20:19] grichmond-salt opened #37195 "Salt API Log File Issue (missing or documentation is incorrect)"
### Description of Issue/Question

According to the documentation at this URL:
  https://docs.saltstack.com/en/latest/ref/cli/salt-api.html
the salt-api service should send salt-api log output to:
  /var/log/salt/api

However, this does not appear to be the case.  Log data may instead be seen in syslog output or by running the salt-api process in the foreground.
### Steps to Reproduce Issue
1. Con

[2016-10-24 20:36] jwhite530 opened #37197 "file.append not working"
### Description of Issue/Question

I created this state:

[code]

When I apply the state I can lots of things are being changed in it which should not be:

[code]

Why?  This causes the state to make changes every time it is applied although the text it should simply be appending is already appended.  The end result is correct, the file does have the text appended to it.
### Versions Report

[code

[2016-10-24 20:55] Ch3LL commented on #35398
@bnied okay I believe what is going on is related to how jinja handles `-` in combination with jinja_trim_blocks and jinja_lstrip_blocks. So in the users formula you can see the user of `-` often for example:

[code]

Accordign to the jinja docs [here](http://jinja.pocoo.org/docs/dev/templates/):

This whitespace includes newlines

And in combination with those two jinja settings. according to the

[2016-10-24 21:00] UtahDave commented on #37194
I believe that's just the list of functions and the cache of the results of the last execution of those functions on the minions.

[2016-10-24 21:33] notpeter commented on #35889
@githubcdr That is totally unrelated the salt-cloud reported in this issue.  You've copy and pasted an emdash (u"\u2014"), likely from some HTML based source instead of the correct '--'.  If you you ran your command on the commandline with the emdash it would also fail.  Salt is not in the business of magically cleaning and replacing your unicode copy/paste bugs.

The underlying issue is related t

[2016-10-24 22:13] lhost opened #37202 "salt crash on Debian stretch/sid (unstable)"
### Description of Issue/Question
salt crashes with core dump  when running on upcoming Debian 9.0 (stretch/sid).
Crash happens after opening file /etc/salt/pki/minion/minion_master.pub
File minion_master.pub seems to be valid public key.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible a

[2016-10-24 22:37] mkercher opened #37203 "Feature request: add support for kinesis management via boto"
### Description of Issue/Question

To start: I've actually written this already and it's ready for a PR, but I've never contributed to salt before so I didn't know to submit a new issue first.

Add support for Amazon Kinesis stream management via boto3, including functionality to create or destroy a stream; change retention hours; change enhanced monitoring; and reshard the stream. For example:

(