[2015-10-05 11:40] s0undt3ch commented on #27670
Can you please run `salt-cloud -u` to update to the latest stable bootstrap script and try again?

[2015-10-05 12:08] gashev opened #27672 "http://repo.saltstack.com/#ubuntu page, Browse Repo button have incorrect link to the ubuntu repo."
Steps to reproduce:
1) Open http://repo.saltstack.com/#ubuntu
2) Click to Browse Repo button

Expected result:
opened ubuntu repo.

Actual result:
opened http://repo.saltstack.com/ubuntu/
Displayed
Not Found

The requested URL /ubuntu/ was not found on this server.

Valid url: http://repo.saltstack.com/apt/ubuntu/

[2015-10-05 12:15] srkunze commented on #27518
Let me see when can get you some draft. :)

I think that is another aspect I missed above: "what to do with the data you gathered from the minion?"

To me, the master is another minion. However, the most important thing is, how to further process/store the retrieved data.

E.g. in case of Piwik, we need to push (post) the data from the minions to the Piwik HTTP server. I would rather **not** have

[2015-10-05 12:19] gashev opened #27673 "http://repo.saltstack.com/#debian page, Browse Repo button have incorrect link to the debian repo."
Steps to reproduce:
1) Open http://repo.saltstack.com/#debian
2) Click to Browse Repo button

Expected result:
opened debian repo.

Actual result:
opened http://repo.saltstack.com/apt/

Opened index page of /apt with two folders: debian and ubuntu. It's not the debian repo page.

Valid url: http://repo.saltstack.com/apt/debian/

[2015-10-05 12:20] beatscode opened #27674 "How to format image url of a private registry image?"
I have a private registry that i'd like to pull/run from. How do I format the image url?
The below doesn't work

[code]

I tried dockerng.running and dockering.image_present. They both give the following error.

[code]

I also tried creating a secondary docker-registries pillar entry

[code]

[2015-10-05 12:23] jberends commented on #11167
I agree on the slowness of the code to 'reset' the state of a directory structure.

I use the following state for it using chmod for it and the special 'X' flag which only affect directories. The end result is the same. files have the 644, and directories have 755.

[code]

[2015-10-05 12:27] bechtoldt commented on #20826
@rall0r I made a workaround for this:

https://github.com/saltstack/salt/blob/2015.8/salt/returners/elasticsearch_return.py#L76

As long as Salt doesn't standardizes the data format, I'd recommend not to push failed jobs into the same index.

#26777
#27643

[2015-10-05 12:32] eduherraiz commented on #27670
Update the bootstrap script didn't solve the problem, but passing params to bootstrap script with:
[code]
in the provider config, solves de problem.

[2015-10-05 12:36] ticosax commented on #27661
I've been thinking: Since the new API has been introduced docker api version 1.16
We can certainly drop API usage of `start` with parameters, completely.

This API has been released with docker 1.4.0 in December 2014.
https://github.com/docker/docker/commit/ca6cc6560987a87b8f3b4fe4c3c227d692c49117
I'd say it is long enough to drop support of API versions prior of `1.16`

@terminalmage What do you

[2015-10-05 12:50] alf commented on #27661
What's the deprecation timeline for the dockerio module? That's probably relevant for this discussion.

[2015-10-05 13:17] s0undt3ch commented on #27670
Thanks! Yes, one of the next stable releases of the script should no longer require `-P` to be passed.

[2015-10-05 14:08] ticosax commented on #27661
I made a POC Pull request. subject to change.

@alf please can you give a try ?

[2015-10-05 14:30] drlkf commented on #22370
In the meantime if you absolutely need this to work, you can use a dummy passthrough state that uses require, to make sure that all the states you intended to put in the onfail have passed, and put the dummy state in the onfail instead. The dummy state will fail if any of your required states fails, and will trigger the onfail.

[code]

[2015-10-05 15:49] rallytime commented on #26952
@dsumsky The release has been tagged and is going through some QA processes right now. I think the release will announced in a week or so.

[2015-10-05 16:00] blueyed commented on #27643
It gets handled in `salt/loader.py:process_virtual()` (https://github.com/saltstack/salt/blob/develop/salt/loader.py#L1336).

[2015-10-05 16:05] rallytime commented on #27670
Thanks for this report @eduherraiz and I'm glad you got it working.

I created an issue, https://github.com/saltstack/salt-bootstrap/issues/667, in the [salt-bootstrap](https://github.com/saltstack/salt-bootstrap) repo to remember to remove the `-P` requirement from the bootstrap script. I'm going to go ahead and close this here so we can keep track of this bug there.

[2015-10-05 16:05] #27670 closed

[2015-10-05 16:31] tkwilliams opened #27678 "Add some missing functionality to the boto_ec2 module: #27649"
https://github.com/saltstack/salt/pull/27649
    _get_all_eip_addresses()
    get_all_eip_addresses()
    get_eip_address_info()
    allocate_eip_address()
    release_eip_address()
    associate_eip_address()
    disassociate_eip_address()

All in service of (eventually) being able to build a new VPC from start to finish in one 'state.sls' call :)

[2015-10-05 16:33] tkwilliams opened #27679 "Fix return status of boto_secgroup.absent() #27650"
https://github.com/saltstack/salt/pull/27650

All other boto "thing.absent()" type functions return True if the object happens to already not exist when called. This one function was returning None instead, which threw the colors off in an ugly way in the state run output :)

[2015-10-05 16:34] rallytime commented on #26882
I can reproduce this on the 2015.5 branch, but it is fixed on 2015.8.0.
[code]
NPM isn't installed:
[code]
Versions report:
[code]

[2015-10-05 16:44] rallytime commented on #27679
Thanks for the report and for fixing this up. :)

[2015-10-05 16:45] #27679 closed

[2015-10-05 16:45] ealphonse commented on #22370
Thank you @drlkf

[2015-10-05 16:56] rallytime commented on #26280
FWIW, #26882 is likely a duplicate of this issue, and is exposing itself via `npm` instead of `pecl` or `git` as described here. I reported in [my comment](https://github.com/saltstack/salt/issues/26882#issuecomment-145592838) that I can reproduce the error at the HEAD of the 2015.5 branch, but is fixed on 2015.8.0.

Is anyone seeing similar results to this as well?

[2015-10-05 17:03] rallytime commented on #26320
PRs have now been merged. Thanks!

[2015-10-05 17:03] #26320 closed

[2015-10-05 17:03] #23370 closed

[2015-10-05 17:13] #27505 closed

[2015-10-05 17:33] rallytime commented on #26280
Ah! I found the fix. This bug was fixed on 2015.8 with #25928. I have backported the fix to the 2015.5 branch just now with #27681.

We've already started the testing/packaging process for 2015.5.6, so this won't be fixed there, but will be fixed in the 2015.5 branch.

[2015-10-05 17:34] rallytime commented on #26882
I found the fix for this. This bug was fixed on 2015.8 with #25928. I have back-ported the fix to the 2015.5 branch just now with #27681.

We've already started the testing/packaging process for 2015.5.6, so this won't be fixed there, but will be fixed in the 2015.5 branch.

[2015-10-05 17:43] #27655 closed

[2015-10-05 17:50] jerob opened #27685 "salt-ssh : No Top file or external nodes data matches found"
Hi,

Each first `salt-ssh -i '*' state.highstate`, on a fresh install server, i have the error "No Top file or external nodes data matches found" ( host : debian 8, guest : debian 8). This same command run perfectly the second time.

[code]

[2015-10-05 18:01] buddyp450 opened #27687 "KeyError for pkg.installed state for python-pip (2015.5.3)"
Running sudo apt-get install python-pip on the salt minion was all that was needed to fix but curious as to why the minion function raised an exception? Debug from the salt-minion below:

    [DEBUG   ] Could not LazyLoad pip.installed
    [WARNING ] The minion function caused an exception
    Traceback (most recent call last):
       File "/usr/lib/python2.7/dist-packages/salt/minion.py", line 11

[2015-10-05 18:05] rallytime commented on #27687
@buddyp450 Thanks very much for this report. This is a actually a duplicate of #26280 and #26882. As such, I am going to go ahead a close this.

However, note that I have recently submitted a fix for this error in #27681. This bug is also already fixed in the 2015.8.0 release.

[2015-10-05 18:05] #27687 closed

[2015-10-05 18:10] rallytime commented on #27391
@JaseFace I just merged both you're 2014.7 and 2015.5 PRs. Is this issue ready to be closed?

[2015-10-05 18:21] ch-acctg opened #27688 "AttributeError: 'Minion' object has no attribute 'schedule'"
Hi, I am trying to upgrade our salt from v2014.7.0 to v2015.8.0 and I am getting some early errors.  We are testing this running bootstrap-salt.sh executed from Vagrant masterless and we are getting the following error:

2015-10-05 17:39:01,126 [tornado.application                      ][ERROR   ][11202] Exception in callback <functools.partial object at 0x2225cb0>
Traceback (most recent call last

[2015-10-05 18:55] Ch3LL commented on #27553
@edwardsgs thanks for reporting the issue. Would you mind re-opening this issue at https://github.com/saltstack/salt-bootstrap

[2015-10-05 18:57] jtand commented on #27660
@bertjwregeer Can you provide the debug log info for the minion when you get this error? It sounds like something is not loading correctly with the minion. Thanks!

[2015-10-05 18:57] #27678 closed

[2015-10-05 19:01] kitplummer opened #27690 "PID check failed. RNG must be re-initialized after fork()"
When provisioning a Windows server in AWS Im getting this:

[code]

Seeing this on CentOS7 with version: salt-cloud 2015.5.5 (Lithium)

[2015-10-05 19:01] babilen commented on #24562
Same as #21403

[2015-10-05 19:03] jtand commented on #27574
@jgill Thanks for this report!

[2015-10-05 19:06] Ch3LL commented on #27555
@centromere thanks for the report. I was not able to reproduce this:

[code]

[2015-10-05 19:08] babilen commented on #21403
https://github.com/saltstack/salt/issues/11509#issuecomment-138980156 has a workaround, but I *still* think that this should be supported natively in the pillar.

[2015-10-05 19:08] jtand commented on #27576
@COcjeske Can you reproduce this on a newer version of salt, like 2015.5.5 or 2015.8.0? Thanks!

[2015-10-05 19:14] babilen commented on #11509
I really don't think that this is an acceptable solution as it forces users to fork formulas whenever they need to incorporate data from the mine. It is nice that it is easier to incorporate it this way, but it is far from a solution to the actual problem, namely that one cannot easily include dynamic data in the pillar as we conflate mine configuration and pillar rendering.

A step in the right d

[2015-10-05 19:15] jtand commented on #27577
@sjmh Would you be able to reopen this issue in the [Salt-Bootstrap](www://https://github.com/saltstack/salt-bootstrap) repo?

@s0undt3ch

[2015-10-05 19:16] Ch3LL commented on #27561
@hishailesh77 thanks for the report. What version of salt are you running. What is the output of `salt-proxy --versions-report`

Do you have any relevant debug log information or configs?

[2015-10-05 19:23] Ch3LL commented on #27563
@hishailesh77  salt communication between salt master and salt proxy minions use the same encryption technology as the normal salt minion and master communications. @cro

[2015-10-05 19:26] hishailesh77 commented on #27561
@Ch3LL
Please find the underlying output from 'salt-proxy --versions-report'.
There are no specific debug info available, but in order to reproduce the issue just type "salt-proxy --proxyid=p8000" command on console and you will observer that control never comes back to console .

[root@localhost salt]# salt-proxy --versions-report
Salt Version:
           Salt: 2015.8.0

Dependency Versions:

[2015-10-05 19:30] mimianddaniel commented on #27421
@jacksontj : 24 threads, 6 cores x 2 cpus. No large files.  Speaking of IO i moved to ssd and i do some improvement in terms of amount of time takes for events to reach the minions while doing regression testing.  I would be interested in upping the HWM instead of mworkers, assume this needs to be done from source code ATM?  cachedout mentioned this as well and I do have concerns that massive numb

[2015-10-05 19:33] timcharper commented on #4348
This is only a partial solution :( `tpldir` should return `'.'` if formula is top-level, otherwise the abstraction breaks.

 ༼ ༎ຶ ෴ ༎ຶ༽

[2015-10-05 19:35] Ch3LL commented on #27578
@richardhansen Thanks for the report. Here is some more documentation on the dunder dictionaries: https://docs.saltstack.com/en/latest/topics/development/dunder_dictionaries.html . You can't use a class in a state using the __salt__ dictionary.

[2015-10-05 19:43] SEJeff commented on #27421
@mimianddaniel look at #27606

[2015-10-05 19:44] basepi commented on #27518
You might want to look into writing a returner for piwik. This way you can have the minions push their data directly there, either on a job-by-job basis or globally for all jobs.

[2015-10-05 19:45] mimianddaniel commented on #27421
@SEJeff my bad.. earlier post by plastikos escaped me due to looking at the all the goodies posted :)

[2015-10-05 19:45] jordanrinke commented on #8647
In an older 2014.1.5 environment we have adding "gather_job_timeout: 15" fixed this for us.

[2015-10-05 19:52] rallytime commented on #27553
This is somewhat "expected behavior". The bootstrap script, by default, should install the latest release available in the repo, which for CentsOS 6, is our [COPR repo](https://copr.fedoraproject.org/coprs/saltstack/salt/) where the "current release" is 2015.5.2, which of course is behind our 2015.8.0 release. The fix should be for the bootstrap script should point to our new package repo, http://

[2015-10-05 19:52] #27553 closed

[2015-10-05 20:00] justinta opened #27692 "Salt-ssh traceback for msgpack and certifi on Arch"
When I create a vm then use Salt-SSH to access it, I get a traceback for failing to import msgpack and certifi.

[code]

Versions Report:

[code]

[2015-10-05 20:02] throwawayj commented on #27620
I am havin ghte same issue as SaschaSchuenemann  on version 2015.5.5

[2015-10-05 20:08] Joeskyyy commented on #18751
Been over a month since any activity on this thread, just wondering if anyone from SaltStack has been able to plug at this.

[2015-10-05 20:20] centromere commented on #27555
@Ch3LL Do you have the pip package certifi installed? If so, can you tell me the version? Also, could you please run this command?:
`sha256sum /usr/local/lib/python2.7/dist-packages/certifi/cacert.pem`

[2015-10-05 20:27] kitplummer commented on #27690
[code]

[2015-10-05 20:28] rallytime commented on #18751
Doesn't look like we've had time to get to documenting this yet.

@jacobhammons Can you have a look here when you get a moment?

[2015-10-05 20:40] jacobhammons commented on #18751
Multi-master syndic docs are at https://docs.saltstack.com/en/latest/topics/topology/syndic.html#configuring-the-syndic-with-multimaster

I think there is another issue going on here since @Joeskyyy's settings look correct.

[2015-10-05 20:42] Joeskyyy commented on #18751
+1 Those are the docs I followed.

[2015-10-05 21:05] sjmh commented on #27577
@jtand - Will do.

[2015-10-05 21:06] bertjwregeer commented on #27660
@jtand: How do I get the information from the minion when I use `salt-ssh`?

[2015-10-05 21:12] rallytime commented on #27577
Thanks for moving this bug over to salt-bootstrap. Since we're tracking bootstrap bugs there, I'm going to go ahead and close this. Thanks again @sjmh! :)

[2015-10-05 21:12] #27577 closed

[2015-10-05 21:23] jacobhammons commented on #10807
The front page was redone a while ago and the alternate doc links are gone.

[2015-10-05 21:23] #10807 closed

[2015-10-05 21:40] blueyed opened #27698 "Github admin: change default branch to stable / 2015.8"
Given that PRs should be made against the stable branch in general, it would be useful to configure this as the default branch in Github.

[2015-10-05 21:41] plastikos commented on #27421
I'm hoping to lob something over the fence this evening.  I've got several irons in the fire.  I'd like to test the ZMQ stuff in a few places before pushing them upstream to ZMQ.

There is already a "monitor" in ZMQ, but it is only lightly used in Salt. My diagnostic port stuff can send information from all of the various processes across all of the different hosts to a single collection point and

[2015-10-05 21:43] basepi commented on #27698
I'm not sure I agree. Our policy is to have bugfixes against stable branch, but feature work against the develop branch. I'd much rather have bugfixes accidentally submitted against develop and require a backport than have feature work accidentally submitted against 2015.8 and break things.

Basically, I want people to think twice before opening against 2015.8. The need to select it helps with tha

[2015-10-05 21:47] jacobhammons commented on #15472
Looks like there is a note on this at https://docs.saltstack.com/en/latest/topics/tutorials/standalone_minion.html

@Jille if you think this is sufficient please close, thanks!

[2015-10-05 21:48] whiteinge commented on #11509
Totally agree. Arguments to a mine call should not be hard-coded in a publically available formula. But since you cannot reference Pillar from within Pillar, there's no good way to package such a formula other than docs.

[2015-10-05 21:56] jacobhammons commented on #12018
This is done so I'm going to close (we have a different issue that I can't find right now that tracks automating this with Jenkins)

[2015-10-05 21:56] #12018 closed

[2015-10-05 22:01] #27622 closed

[2015-10-05 22:02] blueyed commented on #27698
I see your point, but given that most work and PRs from newcomers are likely to happen in terms of bug fixes, it would improve that common work flow.

If you're developing a new feature, the branches are not typically that much short-lived, and you are typically more aware of what you're doing.

It would be interesting to see how many PRs are done against develop and the stable branch (in terms of

[2015-10-05 22:06] rallytime commented on #27622
Thanks for the request and for the quick fix @lomeroe! :D

[2015-10-05 22:24] jacobhammons commented on #23916
@nmadhok this is an old bug so I'm figuring that you can build docs from develop at this point. Can we close this in favor of the automated doc builds through Jenkins issue @bechtoldt linked? Thanks.

[2015-10-05 22:31] mimianddaniel opened #27702 "xmpp.returner problem"
running 2015.5.2

Not sure if this is due to my xmpp config or nto.. can someone shed some light on this before i dig thru ..
[code]

[2015-10-05 22:38] jacobhammons commented on #27179
@samhamilton I've updated these docs with the changes you suggested and to clarify which versions are in which repo. If you think this is sufficient please close. Thanks!

[2015-10-05 22:40] jacobhammons commented on #27281
I updated these sections to not use $releasever, you can see the changes in latest: https://docs.saltstack.com/en/latest/topics/installation/rhel.html#installation-rhel-repo
(they haven't made their way to develop quite yet). @lrhazi if you think this is sufficient please close, thanks!

[2015-10-05 22:41] ryan-lane opened #27703 "git.latest seems to ignore the user argument in 2015.8"
Since the upgrade to 2015.8 the user argument to git.latest doesn't make the state use the user's .ssh/id_rsa credentials and clones fail with permission denied. Adding in the identity argument is a workaround, but it would be nice if the user arg wasn't broken.

[2015-10-05 23:02] runott commented on #15347
Looks like packages are now available see this link:
https://docs.saltstack.com/en/latest/topics/installation/ubuntu.html
This issue can be closed.

[2015-10-05 23:38] rallytime commented on #27702
@mimianddaniel This is likely due to a missing binary. Looks like the same bug as in #26882 and #26280 and should be fixed by #27681.

[2015-10-06 00:01] mimianddaniel commented on #27702
thanks for the quick reply- - just tested after using #27681  but still seeing same issue

[2015-10-06 01:44] cybacolt commented on #27670
why cant we use the new [saltstack repo](https://repo.saltstack.com/)?

would prefer to use packages than cloning a repository.... makes salt on those instances difficult to maintain....

[2015-10-06 01:50] throwawayj opened #27707 "state.highstate with pillars fails"
command running from minion salt-call state.highstate
or
command running from master salt '<minion>' state.highstate

this error seems to be related to pillar data rendering or something of that nature

salt-minion version = salt-minion-2015.5.5-1.
salt-master version = salt-master-2015.5.3-3 or salt-master-2015.5.5

[ERROR   ] An un-handled exception was caught by salt's global exception handler:

[2015-10-06 01:58] flowhamster commented on #24699
@mooperd Does this solve your issue https://docs.saltstack.com/en/develop/topics/mine/index.html?

You can specify multiple function aliases to get the data you need.

[2015-10-06 04:07] tbaker57 commented on #27707
This looks like a duplicate of #26705 (which says the fix should be in 2015.5.6 when it comes out, and 2015.8.0 which is already out).

cheers,
Tim

[2015-10-06 04:51] JaseFace commented on #27391
@rallytime Thanks for the test fix additions, I think we are good to close this out.

[2015-10-06 04:54] rallytime commented on #27391
Sweet! No problem!

[2015-10-06 04:55] #27391 closed

[2015-10-06 04:57] throwawayj commented on #27707
i found the solution that worked here https://github.com/saltstack/salt/issues/26600. The user who resolved it stated:
      I updated python-msgpack manually on my system to fix this. I think you need a versioned dep in the rpm in epel6 for python-msgpack 0.4.6-1.el6.

The package python-msgpack doesn't seem to upgrade with the salt-minion and master upgrades. Once i updated the python-msgpack to

[2015-10-06 04:58] throwawayj commented on #27707
I can close this issue now. Hope this is fixed completely in 2015.5.6

[2015-10-06 04:58] #27707 closed

[2015-10-06 05:13] rallytime commented on #27702
@mimianddaniel Oh, you're right. That stack trace looks similar to the issues I mentioned, but isn't the same. I didn't see you were using the returner.

Is there any other information you can provide? If you run the command in debug mode is there a more complete stacktrace?

[2015-10-06 06:49] sjmh opened #27709 "Pin minions to pillar environments"
I can't figure out how to do this, so I'm listing this as a "It'd be nice to have..".

We plan on having several organizations using the same salt-master to do their work, but within a multi-tenant environment, we need to make sure that groupA isn't affecting groupB's servers.

Some of this is ACLs and which hosts certain groups can issue commands on, but other parts ( namely pillars ) don't seem

[2015-10-06 06:55] babilen commented on #27709
I think your main problem is that you've chosen a suboptimal design for your infrastructure as it would, probably, make more sense to use one master per distinct tenant. You can use syndics for this if you still want to have a single master to sit on top of all of this.

[2015-10-06 07:05] anlutro opened #27710 "salt-ssh and system.reboot/shutdown"
salt-ssh locks up when rebooting or shutting down the system. This makes total sense, of course, as the SSH connection is broken when the system shuts down, but I'm wondering if there's a way to solve it.

[code]

Can [`system.reboot`](https://github.com/saltstack/salt/blob/c27c5fb9569ff4371e8da876f413f4ff729a67c0/salt/modules/system.py#L64-L76) be changed to use `shutdown -r`? This would allow me

[2015-10-06 07:24] anlutro commented on #27685
This has never happened to me.

[2015-10-06 07:26] anlutro commented on #27647
It's "makedirs", not "mkdirs"

[2015-10-06 07:29] anlutro commented on #27636
Have you tried removing the local cache (`/var/cache/salt` by default) as well as the remote cache (`/tmp/.root_*_salt`)?

[2015-10-06 07:42] joberget opened #27711 "Hipchat api version 2 support."
Hi, will the hipchat returner and message service have support for api version 2? I cannot find any documentation on it.

Thanks in advance!

[2015-10-06 08:01] bersace commented on #11509
Here we reuse pillar in pillars with Jinja.

[code]

In order to get full settings out of pillar, we combine `defaults.get`, `load_yaml` and `grains.filter_by` to merge defaults and pillar.

[code]

See https://github.com/saltstack/salt/pull/26903

[2015-10-06 09:12] eduherraiz opened #27712 "saltutil.sync_all can't sync with the minion"
Yesterday we found a problem in salt-bootstrap regarding the new installation script. #27670
The only way we found to initiate a instance with salt-cloud was configure the provider with:
[code]
But today, we found can't sync_all in this salt-minion:
[code]
I tried to downgrade the version in the minion to 2015.5.5 and sync_all properly.

Now, it's hard to me say how to configure the script_args in

[2015-10-06 09:24] Jille commented on #15472
Looks good! Awesome!

[2015-10-06 09:24] #15472 closed

[2015-10-06 09:31] Jille commented on #15347
But do they also include the release candidates? That's what this issue is about. I don't see them, but there are no release candidates at this point AFAIK anyway.  It doesn't look like they have a repository which lists unstable releases, so from the looks of it I'd guess it isn't there yet.

[2015-10-06 09:33] NVoronchev opened #27713 ""Error 2" while call __salt__['cmd.run']('dir') from custom module"
**Invoiroment**:
Version: 2015.8.0
Salt-master: Ubutu 14.04 whith packages from http://repo.saltstack.com/apt/ubuntu/ubuntu14
Salt-minion: Windows 8.1 whith Salt-Minion-2015.8.0-3-AMD64-Setup.exe

**Problem**:
I ctreted a simple function in custom execution module:
[code]
and get the followin error when call it from salt-master:
[code]

Meanwhile, the function like this works fine:
[code]

[2015-10-06 09:50] mortis1337 commented on #23910
To get around this, we created a custom grains-module that looks up pillars and writes grains on the minions instead. So now we have a set of grains identical to the pillars we want to use, so we can sooooooooort of match on pillars (but, really, grains) in our pillar-files ;)

[2015-10-06 09:54] babilen commented on #23910
@mortis1337, yeah that is exactly the kind of "abusing grains" for things that don't belong in there for the sole reason of them being available everywhere. The idea here is to get around that limitation of pillars, but giving the master access to *static* data for its minions that does not have to be stored on the minion itself (and can be tinkered with).

[2015-10-06 10:13] mortis1337 commented on #23910
@babilen yeah I totally agree. This is a temporary solution I thought I'd share while waiting for it to be solved where it should be solved :)

[2015-10-06 11:56] The-Loeki commented on #16441
I like the idea, but if you do this at a Jinja level, (narly IMHO) inconsistency would arise between Python/modules/#!py states' pillar.get() and Jinja's pillar.get()

[2015-10-06 12:04] The-Loeki opened #27714 "2015.8 git_pillar merge inconsistency/bug"
In the new git pillar config, 2 syntaxes are possible:

[code]

[code]

The documentation now reads

Testing on the rpm's and the current 2015.8 branch reveals however one major difference; the bottom syntax will *NOT* merge pillardata; keys will get overwritten without ever calling `utils.dictupdate.merge` on the final two pillars.

I'm not sure whether this was by design or not; if it's not, thi

[2015-10-06 12:09] The-Loeki commented on #27714
Might be related to #26092

[2015-10-06 12:13] ticosax commented on #27340
Also affected by this bug

master
[code]
minion
[code]

[2015-10-06 12:18] ticosax commented on #27340
output of `salt-minion -l debug` when it is happening :
[code]

[2015-10-06 14:06] terminalmage commented on #27661
@alf We're going to keep both modules side by side for at least a couple releases, dockerio.py won't go away for a while still.

[2015-10-06 14:19] alf commented on #27661
In that case I suggest that dockerng drops backwards compatibility with docker API 1.15. That means dockerng requires docker >= 1.4.

People who uses older versions of docker can use dockerio.

[2015-10-06 14:20] alf commented on #27661
@ticosax I'll try to test your changes tomorrow.

[2015-10-06 14:29] ticosax commented on #27661
@alf nice to hear !
I'll wrote more test for it once I have time.

[2015-10-06 14:54] whiteinge commented on #11509
Ooh, nice addition.

[2015-10-06 15:01] multani commented on #8646
So, I was facing the same issue the whole afternoon, except that I already had a state somewhere else which was working as expected (ie. ``require_in`` files don't get deleted) and I couldn't find why it was working in some cases and not with others.

I managed to find the difference. These states work as expected (directory gets cleared but files with ``require_in`` stay):
[code]

These states tr

[2015-10-06 15:30] rallytime commented on #15347
@Jille Correct - we don't have anything set up for packaging release candidates yet. Once we get everything in place for regular releases on our supports distributions, we'll be able to implement this one.

[2015-10-06 15:57] sjmh commented on #27709
@babilen - that's a rather broad stroke to paint with, but, since you asked...

We, in fact, did consider going with a per BU salt-master pair.  But, at last count, we have approx ~150 BUs.  I don't have budget for 300 salt-masters, nor would I want to manage that many.  Normally, BU's pay for their own servers, but that's more in the case of 'I want to use this', where as this is more of the 'You

[2015-10-06 16:15] Dravu opened #27716 "salt-ssh: require_reboot is ignored for network.system state"
## Problem Description

I'm using salt-ssh against a server running CentOS 7 and have a state file like so:

[code]

Despite having "require_reboot" set to "True", a reboot is never initiated on the machine. The issue I'm trying to mitigate by rebooting is that I need to change the MAC Address assignments of the network interfaces and trying to restart the network service (or reset the network int

[2015-10-06 16:28] blueyed commented on #27340
Make sure that you are not running out of memory (OOM):

[code]

[2015-10-06 17:16] jfindlay commented on #27586
@timwsuqld, thanks for the report.  Have you tried `salt '*' saltutil.refresh_modules`?

[2015-10-06 17:18] mimianddaniel commented on #27702
even in running in debug from on master and salt client itself, i dont see much other than what i had already posted up above.

[2015-10-06 17:33] Ch3LL commented on #27561
@hishailesh77 thank you for the additional information. This is expected behavior because all salt daemons start in the foreground by default. If you want to background the process you just need to use the `-d` switch.

[2015-10-06 17:37] hishailesh77 commented on #27561
@Ch3LL :- Thanks and you can close the defect .

[2015-10-06 17:41] #27561 closed

[2015-10-06 17:50] pass-by-value commented on #27631
Created
#27717 and saltstack/salt-contrib#141

[2015-10-06 18:24] jfindlay commented on #27590
@arthurlogilab, thanks for the report.  What version of salt are you working with?

[2015-10-06 18:27] jfindlay commented on #27591
@arthurlogilab, can you explain a little more about why the inclusion of the jid makes the data less readable?  Thanks.

[2015-10-06 18:35] jfindlay commented on #27595
@ralphvanetten, thanks for the report.  Starting with 2015.8.0, m2crypto has been removed as a core dependency for salt in favor of pycrypto.  @deprecator can provide more information on why this was done.  There are many salt plugins that require external dependencies.  The error message in this situation could be better, but it is unlikely that we will add m2crypto as a package dependency.

[2015-10-06 18:44] ralphvanetten commented on #27595
@jfindlay, thanks for the clarification. However it seems to me the x509 module/state is not a plugin, it is something which is part of salt. It is available by just installing salt without any additional plugins.

Are modules bundled with the standard salt package considered plugins which might not work unless you manually install some dependency?

[2015-10-06 18:50] jfindlay commented on #27595
@ralphvanetten, yes, there are many modules that are included in the base salt distribution whose dependencies are not included in the salt package dependency list.  We are working on better error messages in this case.  See #26755, for example.

[2015-10-06 18:52] ralphvanetten commented on #27595
ok, thanks, good to know

[2015-10-06 18:59] mpaolini commented on #27432
same here: can't get to work gitfs fileserver backend on 2015.8.0 properly

[2015-10-06 19:02] fnewberg opened #27720 "git.latest silently fails when using git version < 1.8"
`git.latest` calls `git.merge_base(..., is_ancestor=True,...)`, which executes the command `git merge-base --is-ancestor ...`. However, git did not support the `--is-ancestor` flag until v.1.8. The error code that git 1.7.x returns when called with this option is 129, which is not handled here: https://github.com/saltstack/salt/blob/develop/salt/modules/git.py#L2104. The error is not propagated to

[2015-10-06 19:06] Aoreias opened #27721 "boto_cloudwatch_alarm.present returns diff on no change"
When a cloudwatch alarm has multiple action_items, state boto_cloudwatch_alarm.present doesn't do an ordered comparison of the action items sometimes resulting in a state change being reported even though no state change actually occured. See below debug output:

    [DEBUG   ] LazyLoaded boto.assign_funcs
    [DEBUG   ] LazyLoaded boto_cloudwatch.get_alarm
    [DEBUG   ] LazyLoaded boto_cloudwatc

[2015-10-06 19:11] jfindlay commented on #27643
@blueyed, https://docs.saltstack.com/en/latest/ref/modules/index.html#returning-error-information-from-virtual.

[2015-10-06 19:15] mimianddaniel commented on #27421
@plastikos zmq stat would be awesome for troubleshooting. Looking forward to testing it. LMK once it has been pushed

[2015-10-06 19:21] mimianddaniel commented on #24696
this is on centos 6.  Seeing this on the syndics only.

[2015-10-06 19:22] mimianddaniel commented on #24419
since upgrading to 2015.5.2 do not see this problem.

[2015-10-06 19:28] mimianddaniel commented on #23733
for those who are using syndic and are not syncing pki of minions from the all the syndics to the master,
you can do publish run in 'sync' mode, by adding wait as kwargs in publish method and passing wait it to _publish as False in publish.py

[2015-10-06 19:49] jfrank-quatral opened #27723 "Highstate output broken when using jobs.lookup_jid"
Using the latest Salt release, 2015.8, it seems that the highstate output is broken in some cases on the salt master.

Command: `sudo salt-run jobs.lookup_jid 20151006191510666868 --out=highstate`
Error message: http://pastebin.com/skgBc83L

The output is working when not using `--out=highstate` argument, but return as data structure and not the traditional highstate output.

[2015-10-06 19:55] jfindlay commented on #27598
@ralphvanetten, thanks for the report.

[2015-10-06 20:05] ticosax commented on #27340
out of memory error. that was it.

[2015-10-06 20:08] jfindlay commented on #27603
@jgraffw, thanks for the report.

[2015-10-06 20:10] jfindlay commented on #27605
@jmcook1, thanks for the report.

[2015-10-06 20:10] jacobhammons commented on #26604
@ari I've updated this page to clarify the usage of alternate delimiters. You can review this change at https://docs.saltstack.com/en/latest/topics/targeting/compound.html (this update hasn't merged to develop quite yet).

If you think this is sufficient please close, thanks!

[2015-10-06 20:11] cystek commented on #20858
I found this issue from similar circumstances of service.dead not stopping a service properly. I can confirm that commenting out watch conditions does cause the state to properly kill the service, so I assume your mod_watch assumption is correct.

[2015-10-06 20:12] jacobhammons commented on #9051
I've added this info at https://docs.saltstack.com/en/2015.5/ref/cli/index.html#cli-completion

@olenz if you think this is sufficient please close, thanks!

[2015-10-06 20:12] jfindlay commented on #27607
@pkartch, thanks for the report.

@garethgreenaway

[2015-10-06 20:16] jacobhammons commented on #13407
Hey @gravyboat, I added this info at https://docs.saltstack.com/en/2015.5/topics/tutorials/states_pt3.html#using-environment-variables-in-sls-modules

Please close if you think this solves the issue, thanks!

[2015-10-06 20:17] jfindlay commented on #27607
@pkartch, is it possible for you to post the debug log output or otherwise describe how the state failed on 2015.8.0?  Thanks.

[2015-10-06 20:17] basepi commented on #27698
It's easy enough to see which ones were done in the wrong place. They will all have a `Backport ...` pull request referencing them. We do do a fair number of backports.

I am guessing that you're right that the average first-time contributor is contributing a bugfix. So maybe it does make sense to default to 2015.8. I'll float the idea around among the other devs and see what they think.

[2015-10-06 20:17] jfindlay commented on #27610
#27201

[2015-10-06 20:17] jacobhammons commented on #21475
@quantonganh good suggestion, I've moved the content on pillar targeting to a separate topic under targeting. You can see the change at https://docs.saltstack.com/en/2015.5/topics/targeting/pillar.html

If you think this solves the issue please close, thanks!

[2015-10-06 20:19] jfindlay commented on #27610
@benburkert, thanks for the report.  Will you post or describe the error message or situation you're getting?  Thanks.

[2015-10-06 20:19] basepi commented on #27698
The other issue is that this would have to be changed every release, which is not great.

[2015-10-06 20:20] jacobhammons commented on #14876
Added links to UtahDave's demo environments to the doc index page, https://docs.saltstack.com/en/2015.5/#demo-environments

[2015-10-06 20:20] #14876 closed

[2015-10-06 20:22] jacobhammons commented on #27005
I've updated the docs to reflect the correct order, you can see the change at https://docs.saltstack.com/en/2015.5/topics/targeting/grains.html#precedence

[2015-10-06 20:27] jacobhammons commented on #27440
I've noted this in the docs, https://docs.saltstack.com/en/2015.5/ref/states/all/salt.states.user.html#salt.states.user.present

[2015-10-06 20:36] gravyboat commented on #13407
Looks good to me @jacobhammons, thanks! Closing this out.

[2015-10-06 20:37] gravyboat commented on #14876
@jacobhammons I also have two environments set up here: https://github.com/gravyboat/demo-app-1 and https://github.com/gravyboat/demo-app-1.

[2015-10-06 20:38] basepi commented on #27698
The response has been pretty unanimous in the negative:

1) Stable branch changes ever release, making the default branch never constant
2) Much easier to backport bugfixes than to get new users to resubmit their feature work against develop

Those are the two primary reasons. Plus, the overhead of targeting the correct branch as things stand currently is fairly minor. There are advantages to each

[2015-10-06 20:38] #27698 closed

[2015-10-06 20:52] SunPowered commented on #27703
+1 I just ran into this.

Although at first it appeared as though the `user` argument in the `git.latest` state was being ignored,  I noticed in my minion logs that the error actually occurs at the following cmd:

`git ls-remote <repo_url>`

which polls the repository for revision information.  This command was being run by root (or the salt minion user) in directory, `/root`.

When the root user'

[2015-10-06 20:55] jfindlay commented on #27610
@benburkert, I have submitted a fix for this, thanks for reporting.

[2015-10-06 20:57] jeffpatton1971 commented on #7772
and this only works on salt --version > 2015.5.5?

[2015-10-06 20:57] jfindlay commented on #27611
@benburkert, thanks for the report.

#26818

[2015-10-06 21:01] jfindlay commented on #27613
@ryanwalder, thanks for the report.

[2015-10-06 21:04] martinhoefling commented on #14058
What's the status of cors support. There seems to be support for simple and complex CORS requests but I couldn't make it work. The cherrypy server seems to send an incomplete OPTIONS answer, the `cors_handler` is never executed.

[2015-10-06 21:04] jfindlay commented on #27617
@valentin2105, thanks for the report.  This looks like a bug to me.

[2015-10-06 21:08] eedgar commented on #27020
I did a little research and there are a few problems with the sdb implementation that make this challenging.  currently sdb allows for module/key   where modules are defined inside the minion or master config.    this does not allow you to specify the full path within the vault very easily .. eg myvault/secret/hello ... sdb would only pass secret to the vault module and loose the hello parameter.

[2015-10-06 21:09] garethgreenaway commented on #27607
@jfindlay No worries :) I've done some work with the at modules so I'm happy to take a look.

[2015-10-06 21:09] rallytime commented on #27721
Thanks for the report and for the fix! Love it when that happens.

I just merged your pull request, so I will go ahead and close this. :)

[2015-10-06 21:09] #27721 closed

[2015-10-06 21:11] jacobhammons commented on #14876
@gravyboat very nice, I'm going to give these a try and link them from the demo environment.

[2015-10-06 21:11] jfindlay commented on #27618
@rominf, that seems like a great idea, thanks.

[2015-10-06 21:14] valentin2105 commented on #27617
I give you some details :

On 2015.5.3, an '*' highstate for 12 server with 63 states on each took 30 seconds :

![selection_013](https://cloud.githubusercontent.com/assets/12403145/10322709/bd4c2e86-6cca-11e5-92e9-b6c5b1ffaeed.jpg)

On 2015.8.1, an '*' highstate for 16 server with 83 states on each took 6 minutes and I have some errors for timeout :

![selection_001](https://cloud.githubuserconte

[2015-10-06 21:17] jfindlay commented on #27619
@midihenry, thanks for the report.

[2015-10-06 21:20] jfindlay commented on #27620
@SaschaSchuenemann, @throwawayj, thanks for the report.  @SaschaSchuenemann, does your second comment also only apply to salt-ssh?

[2015-10-06 21:22] whiteinge commented on #14058
`cors_handler ` checks if the [Access-Control-Request-Method header is present](http://www.html5rocks.com/en/tutorials/cors/#toc-handling-a-not-so-simple-request) and then includes the additional headers. That part is working though I am unsure if that expectation meets browser default behavior.

[2015-10-06 21:23] gravyboat commented on #14876
Sounds good, let me know if you run into problems.

[2015-10-06 21:24] jfindlay commented on #27626
@guettli, I agree that the alias exec/state modules are named ambiguously.  We could rename them `email_alias` and deprecate the old names.

[2015-10-06 21:29] mimianddaniel commented on #27702
taking a look at the code, each loader call checks __virtual__ and within xmpp, requirement is to have sleekxmpp module, shoudlve been easy catch if you know how the modules are loaded for salt .. i guess.
you can close now

[2015-10-06 21:31] jfindlay commented on #27629
@Xiol, thanks for the report.  I might prefer repeatable or reliable as more formal engineer's terms, but in the proper contexts, laziness is still a (rather colorful) programmer's virtue.

[2015-10-06 21:36] jfindlay commented on #27636
@brian-bk, thanks for the report.  Do the recommendations from @anlutro fix the problems?

[2015-10-06 21:38] jfindlay commented on #27638
@kevincullinane, thanks for the report.

[2015-10-06 21:39] jfindlay commented on #27646
@ahammond, thanks for the report.

[2015-10-06 21:41] jfindlay commented on #27647
@aifgit, @anlutro, is correct.

[2015-10-06 21:43] jfindlay commented on #27648
@rvora, thanks for the report.  I am really unsure why you would encounter this error.  Is it possible for you to construct a simpler reproducible case?  Also, 2014.7.5 is no longer supported.  You could try upgrading to 2015.8.0.

[2015-10-06 21:51] rallytime commented on #27702
@mimianddaniel So you're able to get this to work if you install `sleekxmpp`?

[2015-10-06 21:51] jfindlay commented on #27658
@sjorge, thanks for the feature request.  The only other state I can think of is virt.

[2015-10-06 21:55] jfindlay commented on #27660
@bertjwregeer, can you also post your top file?  I think this issue should be fixed in 2015.8.1 (@cro).

[2015-10-06 21:58] techhat commented on #27020
SDB is designed to be simple to call; long URIs defeat the purpose. The intent is that an `sdb://` URI would be just enough to refer to a profile configuration which can be much more complex, if necessary.

My suggestion here would be to implement full paths inside the profile, not the URI. Think of the profiles like stored procedures, rather than just connection parameters.

[2015-10-06 22:07] rallytime commented on #27636
I think this is actually "expected behavior", though it is confusing because of the `versionadded` notation. The docs state that `test.nop` was added in `2015.5.6`, which it was added to the 2015.5 branch before the release of 2015.5.6, and is indeed available in that version (or will be when it is officially released). However, 2015.8.0 had already been tagged and released when this function was

[2015-10-06 22:08] tkwilliams opened #27729 "Enablement for using states to manage AWS EC2 instances #27728"
PR #27728
Trying to entirely replace our CloudFormation VPC buildout mess with 'salt-call state.sls aws.vpc' and I'm getting REALLLLY close now...
This changeset adds the following:

    Add optional ability to detect instance names which are in 'terminated'-type states and thus safe to re-use
    Fix some stacktraces from un-checked get_id calls
    Add vpc_id/vpc_name options to various things t

[2015-10-06 22:09] mimianddaniel commented on #27702
correct -- could we get xmpp module/returned backed ported to 2015.5 soon ?

[2015-10-06 22:14] timwsuqld commented on #27586
@jfindlay, `salt '*' saltutil.refresh_modules` doesn't make a difference.

[code]

[code]

[2015-10-06 22:24] rallytime commented on #27702
@mimianddaniel I don't think we're going to backport a whole module, but you should be able to add the 2015.8 module to your `_modules` directory and use it there, if you'd like. And I just checked and the xmpp returner is identical in the 2015.5 and 2015.8 branches.

We should certainly get that error cleaned up and help with checking for the proper dependencies, however.

[2015-10-06 22:44] rallytime commented on #27401
@Deewiant Since you fix has been merged (#27441) do you consider this issue resolved?

[2015-10-06 22:49] rallytime commented on #26316
This stacktrace is a duplicate of #26882 and #26280 and is fixed with #27681.

[2015-10-06 23:00] mpaolini opened #27730 "Pillar show_top not working on ext_pillar git backend"
`salt-run pillar.show_top` returns nothing

[2015-10-06 23:21] plastikos commented on #27421
See my [``libzmq:improvement-hwm_lwm_updates``](https://github.com/plastikos/libzmq/tree/improvement-hwm_lwm_updates)(*) branch for more correct ZMQ testing of the HWM and LWM.  Unfortunately I have done very little testing since I extracted this from my ZMQ diagnostics patch.  It's possible this ZMQ change and #27606 salt patch are the only ones you need to fix large minion number scaling.

(*) W

[2015-10-06 23:28] jacobhammons commented on #26673
Hi @robkinyon, would you take a look at the commit I made ^ and let me know if the changes correctly describe the current behavior? Thanks!

[2015-10-06 23:29] basepi commented on #27636
Yes, I thought about this very problem when I wrote that versionadded. I probably should have just put 2015.8.1, and if people discovered it in 2015.5.6 it would just be a happy surprise for them. I think that's what we should do in the future -- only include the latest stable version.

[2015-10-06 23:29] basepi commented on #27636
(If someone wants to change it to 2015.8.1, I would be on board. I'll do it tomorrow if nobody else grabs it)

[2015-10-06 23:29] jacobhammons commented on #26954
I think this is a great idea, though I'm not sure if sphinx can do this since it probably requires some knowledge of the topic's position in the TOC. @whiteinge do you happen to know?

[2015-10-06 23:45] go8ose opened #27735 "saltutils.find_cached_job doesn't work"
I'm not able to use saltutils.find_cached_job to retrieve job data.  Here is an example:

[code]

I had a look at the saltutils.find_cached_job implementation. It looks like it's searching for a 'minion_jobs' directory under the cachedir. On my system no such directory exists:

[code]

Also, as this an execution module, I'd expect searching the minions local file system for the job cache is possib

[2015-10-07 00:11] #21475 closed

[2015-10-07 00:31] bertjwregeer commented on #27660
# top.sls

    base:
        '.*-(prod|devel)':
            - match: pcre
            - nsd
            - [many more]

In the above bug report I replaced `<hostname>-devel` with `test` due to disclosure concerns.

[2015-10-07 00:45] bertjwregeer commented on #27660
Alright, looks like using the 2015.8 branch from the git repo works, other than that it fails with the following:

    ----------
              ID: fail2ban_jails
        Function: file.recurse
            Name: /usr/local/etc/fail2ban/jail.d/
          Result: False
         Comment: An exception occurred in this state: Traceback (most recent call last):
                    File "/tmp/.root_89c8e

[2015-10-07 01:01] whiteinge commented on #26954
I can't think of a way to do this directly since a folder with an index.rst file isn't special in the Sphinx TOC hierarchy. We could add [metadata](http://sphinx-doc.org/markup/misc.html#metadata) to each page and make that available in the document title.

All that said, I think the best solution may just be replacing single-word top-level headings with more meaningful text as we come across them

[2015-10-07 01:21] mpaolini opened #27737 "name param never mentioned in pillar_ext git documentation"
see here https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.git_pillar.html#configuring-git-pillar-for-salt-releases-2015-8-0-and-later

`name` is never mentioned but is required when two remotes have the same url

From the source:
`Valid parameters are: env, root, ssl_verify, user, password, pubkey, privkey, passphrase, insecure_auth, name`

[2015-10-07 01:52] fphhotchips opened #27738 "Git Pillar locks not managed by fileserver runner"
I receive warnings in the master log file similar to the below:

`Update lockfile is present for git_pillar remote 'master git@bitbucket.org:repo.git', skipping. If this warning persists, it is possible that the update process was interrupted. Removing /var/cache/salt/master/git_pillar/b2f9cc5623c6bfbe65a310fb7ef60a90/update.lk or running 'salt-run fileserver.clear_lock git_pillar' will allow upda

[2015-10-07 04:10] bogdanr commented on #11509
@bersace Can you please explain this a little bit more?
I would like to use network.ip_addrs extracted from a certain minion from mine and I still can figure out how to do that.

[2015-10-07 06:52] arthurlogilab commented on #27590
[code]
but I think I also reproduced this bug on a more recent version with
[code]

[2015-10-07 07:00] arthurlogilab commented on #27591
let's take for example the ```apache.server_status``` module execution. I want to graph the number of workers for all the apaches in my infrastructure.

I add the following to the cron (or scheduler) :
[code]

The data I get in the form of
[code]

The graphite function will be :

[code]

This only works for the servers that can directly see my graphite host.

If I activate the event returner the d

[2015-10-07 07:34] SaschaSchuenemann commented on #27620
@jfindlay yes, I have encountered this only with salt-ssh.

It seems that the calls to wfunc(s) (like pillar.*, saltutils.* ) are handled different than calls to custom modules. Our guess is that not only pillar data but other data like grains and mines might also be affected.

We were able to properly access pillar data using salt-ssh when placing a wrapper in /usr/lib/python2.7/site-packages/sal

[2015-10-07 08:24] rallytime commented on #26699
@hexedpackets When you were tracking this down, was your `deploy_scripts_search_path` value empty in `opts`??

I've traced this back to the `salt.utils.cloud.os_script` function [returning an empty string](https://github.com/saltstack/salt/blob/9a0171089d18b5f678810ba59478de5361bfcb2d/salt/utils/cloud.py#L147). The only way that would happen is if that opts value doesn't have a path in it...which

[2015-10-07 08:44] srkunze commented on #26954
I would love that.

[2015-10-07 08:55] sjorge commented on #27658
Alright that gives me something to work from :+1:
Not sure when I'll get to it though. Work got a lot busier.

[2015-10-07 09:28] olenz commented on #9051
Thanks for doing this, and sorry for not doing this myself!

[2015-10-07 09:28] #9051 closed

[2015-10-07 10:07] johnccfm opened #27740 "Ubuntu 32-bit packages missing from official repo"
It's not currently possible to install 2015.8 on an Ubuntu 12.04 32-bit minion using the official repo due to missing packages. The following packages are present in the 64-bit precise main package list but missing from the 32-bit one:-

        Package: libnacl-dev
        Package: libsodium-dbg
        Package: libsodium-dev
        Package: libsodium13
        Package: libzmq3
        Package:

[2015-10-07 10:35] johnccfm commented on #27740
It seems there's a similar issue on Trusty / 14.04 too for 32-bit clients.

These packages are missing from the 32-bit list but are present in the 64-bit list:-
        Package: libnacl-dev
        Package: libpgm-5.1-0
        Package: libpgm-dbg
        Package: libpgm-dev
        Package: libsodium-dbg
        Package: libsodium-dev
        Package: libsodium13
        Package: libzmq3

[2015-10-07 10:43] eliasp commented on #18406
Another scenario covered here I'd like to see:
- My "secret" pillar data are GPG encrypted and the [GPG renderer](https://docs.saltstack.com/en/latest/ref/renderers/all/salt.renderers.gpg.html) is used to decrypt them on the master before sending them to the corresponding Minions
- I'm distributing SSL private keys

Currently, encrypting and inlining an SSL key produces a huge amount of lines with

[2015-10-07 10:58] Fuasvak opened #27742 "cp.push_dir doen't push empty folder"
When I try to use cp.push_dir function, it pushes all files/folders except folders containing no files.

**Folder I want to copy :**
- foo/foo.txt
- foo/foo2/

**My command** :
salt 'PDE' cp.push_dir D:/foo

**Output in master cache folder**
- foo/foo.txt
- No traces of my folder foo2

Minion (Windows 7 64 bits) : 2015.5.5
Master (CentOS 7) : 2015.5.5

Haven't try in newer version sorry.

[2015-10-07 11:07] kofware commented on #26470
Hi. I just spent some time trying to make this work, being misled by the doc.
I see here https://github.com/saltstack/salt/issues/19649#issuecomment-69964527 why it might take more time that we think to get fixed (same parser being used by both commands ```salt``` and ```salt-ssh```), but in the meantime could you at least add something like this to the doc:
```Currently not working for salt-ssh``

[2015-10-07 11:23] nbari commented on #27340
I had a state using the ``mode: replace``

         file.line:
             - match: 'ifconfig_DEFAULT="SYNCDHCP"'
             - mode: replace
             - content: 'ifconfig_DEFAULT="SYNCDHCP -tso"'

After fully cleaning the minion and ensure that it was running **2015.8.0** version it worked.

[2015-10-07 11:23] #27340 closed

[2015-10-07 11:37] bersace commented on #11509
Here is the `pillarmine` module. I put it on `extmods/modules` and declare `extmods` as `extension_modules` config.

[code]

[2015-10-07 11:41] #1727 closed

[2015-10-07 11:43] Kurisutian commented on #27189
Anything new on the packages for wheezy? I also would need them desperately... anything known when they might be ready? Thanks!

[2015-10-07 11:45] jacobhammons commented on #2338
This was done at some point, I don't see it as an issue in the current docs.

[2015-10-07 11:45] #2338 closed

[2015-10-07 11:46] rominf opened #27744 "pkg.latest (zypper) KeyError for installed package"
Here is my state (simplified):
[code]

Here is the output:
[code]

Versions:
[code]

[code]

[2015-10-07 11:48] bersace commented on #11509
@bogdanr of course.

The goal is to feed formulas map.jinja with only namespaced pillars with pillar deduplication. No grains, no cross formula pillar reference, no mine.

So we want to have importable pillars containing defaults, regular pillars, mine and even grains logic. For this we use the power of jinja and salt modules to merge values in order and render the final values as yaml.

Note that

[2015-10-07 11:50] blueyed commented on #27643
@jfindlay
Thanks!

Do you have an idea about how states and modules could better play together in the case of `dockerng`? https://github.com/saltstack/salt/pull/27697

[2015-10-07 12:02] jacobhammons commented on #2339
This seems to be resolved, closing.

[2015-10-07 12:02] #2339 closed

[2015-10-07 12:19] jacobhammons commented on #5538
Looks like this is documented, https://docs.saltstack.com/en/latest/topics/targeting/grains.html

Closing.

[2015-10-07 12:19] #5538 closed

[2015-10-07 12:23] jacobhammons commented on #7976
going to close this, copying and pasting from the PDF works fine in my tests so something in the toolchain fixed this.

[2015-10-07 12:23] #7976 closed

[2015-10-07 12:26] jacobhammons commented on #9073
Looks like this was added here: https://docs.saltstack.com/en/latest/security/index.html, I'm going to close this.

[2015-10-07 12:26] #9073 closed

[2015-10-07 12:28] jacobhammons commented on #9494
note added here: https://docs.saltstack.com/en/latest/topics/tutorials/standalone_minion.html#external-pillars

Closing.

[2015-10-07 12:28] #9494 closed

[2015-10-07 12:30] jacobhammons commented on #6218
Checked the docs and restart is no longer there, closing.

[2015-10-07 12:30] #6218 closed

[2015-10-07 12:32] jacobhammons commented on #10816
Looks like docs were added here: https://docs.saltstack.com/en/latest/topics/cloud/aws.html#specifying-interface-properties

Closing.

[2015-10-07 12:32] #10816 closed

[2015-10-07 12:33] jacobhammons commented on #7886
I'm going to close this since this seems solved.

[2015-10-07 12:33] #7886 closed

[2015-10-07 12:36] jacobhammons commented on #10406
These are now in the docs, I'm going to close this.

[2015-10-07 12:36] #10406 closed

[2015-10-07 12:37] jacobhammons commented on #7672
The docs were updated for --subset, https://docs.saltstack.com/en/latest/ref/cli/salt.html#cmdoption-salt--subset

I'm going to close this.

[2015-10-07 12:37] #7672 closed

[2015-10-07 12:44] rominf commented on #27478
Thank you, it works!

[2015-10-07 12:56] jacobhammons commented on #7653
It looks like there is a runner now to generate salt-thin, https://docs.saltstack.com/en/latest/ref/runners/all/salt.runners.thin.html#module-salt.runners.thin

@joehealy does this solve the issue? Thanks.

[2015-10-07 13:08] jacobhammons commented on #5386
Looks like this was documented, https://docs.saltstack.com/en/latest/ref/states/all/salt.states.pip_state.html

I'm going to close this.

[2015-10-07 13:08] #5386 closed

[2015-10-07 13:11] jacobhammons commented on #5915
Looks like the whitelist section that was added to the firewall docs at some point covers opening ports for authorized minions, I'm going to close this.

[2015-10-07 13:11] #5915 closed

[2015-10-07 13:12] Mrten commented on #7976
I would disagree most vehemently: The first example I copy/pasted from https://docs.saltstack.com/en/pdf/Salt-2015.5.0.pdf was completely hosed wrt. formatting:
[code]
(spurious newlines)

Or:
[code]
(missing indent)

[2015-10-07 13:13] jacobhammons commented on #12702
This appears to be resolved, closing.

[2015-10-07 13:13] #12702 closed

[2015-10-07 13:29] Colstuwjx opened #27749 "problem for master-syndic key management"
Hi, I decide to try salt-master & syndic architecture, but it seems that salt-api which installed on the MofM side will never can offer the syndic master key management.

Is there any good way to control all salt-keys on MofM side?
Thanks.

[2015-10-07 13:33] justyns opened #27750 "Salt-master too sensitive to whitespace in public keys (again)"
[code]

I opened https://github.com/saltstack/salt/issues/21910 a while back, and it looks like the fixes merged in that issue have been reverted(or just not carried over to a new file.)   The same error cropped back up, but this time I had to edit `transport/mixins/auth.py` and add `.strip()` in a few different spots where the public key was read.

In the case of the error above, the key on the m

[2015-10-07 13:35] terminalmage commented on #27611
@benburkert Can you clarify what you mean by "with :mirror/:bare"?

[2015-10-07 13:54] jacobhammons commented on #7976
Hi @Mrten, I closed this based on the "Non-ASCII character" error reported in the title no longer occurring, but reading more closely it does appear this morphed to cover some other formatting issues. However, those other issues don't seem to be caused by formatting in the Salt docs but are more related to sphinx-doc.

In my tests, I'm using the Chrome PDF viewer and pasting into MacVim, and all n

[2015-10-07 13:57] terminalmage commented on #7772
@jeffpatton1971 Technically only >=2015.8.0.

[2015-10-07 13:59] jacobhammons commented on #12740
The salt cloud docs have received many updates in the past year. I'm going to close this with the recommendation that specific issues are opened for missing dependencies and configuration.

[2015-10-07 13:59] #12740 closed

[2015-10-07 14:03] srkunze opened #27751 "[Doc] State Module - Enviroment Specified via **kwargs, saltenv or env"
I am about to introduce multiple environments in our salt/top.sls file. I then consulted https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.state.html in order to check how and where to specify which environment I would like to use like this:

    salt-ssh minion state.highstate env=releasing

The docs give me the following info:

    # some functions with **kwargs and (saltenv or e

[2015-10-07 14:05] jacobhammons commented on #12790
Closing, if we come across other headings that should be there we can add them as needed.

[2015-10-07 14:05] #12790 closed

[2015-10-07 14:08] srkunze opened #27752 "Using saltenv during State Rendering"
Is there a way to use the given saltenv parameter during the rendering of the sls files? I maybe missed that when reading the docs but I could not find anything related.

I would like to use the kind of information for e.g.

    {% if saltenv == 'releasing' %}
    # add another state here
    {% endfi %}

[2015-10-07 14:13] srkunze opened #27753 "[Doc] Rendering Context"
Related to https://github.com/saltstack/salt/issues/27752

Is there a documentation page that lists all context variables available to the jinja renderer when rendering state sls files, pillar files etc.?

[2015-10-07 14:20] jacobhammons commented on #16348
Looks like the example is using the correct syntax in the docs now, closing.

[2015-10-07 14:20] #16348 closed

[2015-10-07 14:36] jacobhammons commented on #17130
It appears that this was fixed since I see a reference to "port_bindings" in the docs at https://docs.saltstack.com/en/latest/ref/states/all/salt.states.dockerio.html#available-functions

Either way, since the dockerio module is now deprecated in favor of dockerng, I'm going to close this since additional changes are not being made to dockerio.

[2015-10-07 14:36] #17130 closed

[2015-10-07 14:37] jacobhammons commented on #4509
Looks like the docs are OK here, closing this.

[2015-10-07 14:37] #4509 closed

[2015-10-07 14:49] jacobhammons commented on #18198
Looks like the merge happened, I'm going to close this.

[2015-10-07 14:49] #18198 closed

[2015-10-07 15:06] jtand commented on #27662
@martinhoefling Thanks for the bug report!

[2015-10-07 15:06] jfindlay commented on #27660
@bertjwregeer, thanks for your work on this issue.

[2015-10-07 15:31] bertjwregeer commented on #27660
Currently on `v2015.8.0-655-g9a01710` using branch `2015.8.0` and the `msgpack` issue seems to have resolved itself.

All of my states run correctly.

[2015-10-07 15:37] brian-bk commented on #27636
Removing the /tmp/.<salt_user>_*_salt cache worked, at least for my archive.extracted state. Still not for the test.nop, but sounds like that is expected for the version. Thanks for the help. The archive.extracted was much more important anyway.

[2015-10-07 15:38] whiteinge commented on #27749
The approach to key management via salt-api is the same as with Salt at the CLI.

Run Salt commands on the syndic-master hosts to manage keys. This is often done by putting a minion daemon on the syndic-masters that connects to the master-of-masters. (So syndics are running salt-master, salt-minion, and salt-syndic daemons.)

E.g.:

[code]

[2015-10-07 15:59] rallytime commented on #27636
@brian-bk Excellent! Glad you got the `archive.extracted` working as needed. I've fixed the version added directive in #27754 for the 2015.8 branch so it is clear that the `test.nop` state isn't available until 2015.8.1. As such, I'll go ahead and close this. Thanks!

[2015-10-07 15:59] #27636 closed

[2015-10-07 16:03] l13t commented on #23643
Got same issue. First run on clean iptables rules is fine. And on next applying iptables got same error.

[2015-10-07 16:14] eyj commented on #18980
It also hit us. I think it is the cachedir_index_add and cachedir_index_del functions in salt/utils/cloud.py, where access to index.p occurs from multiple processes and does not seem to be locked.

[2015-10-07 16:22] eedgar commented on #27020
the only thing I was thinking was that the number of profiles could get to be quite numerous depending on the number of paths you need to traverse.  I think a more feature complete vault module is the way to go here.  maybe implement a subset of that for sdb if the demand is there.

[2015-10-07 16:32] Deewiant commented on #27401
Yes, indeed. Closing.

[2015-10-07 16:32] #27401 closed

[2015-10-07 17:15] iggy opened #27756 "syslog returner formats line incorrectly"
https://github.com/saltstack/salt/blob/develop/salt/returners/syslog_return.py#L53

Remove `salt-minion: ` it get's added by the implicit call to syslog.openlog() already ( https://docs.python.org/2/library/syslog.html#syslog.openlog )

[2015-10-07 17:18] iggy commented on #27756
P.S. I'll do a PR later, I'm just at work right meow.

[2015-10-07 17:27] jacobhammons commented on #18572
Looks like these docs have been added, https://docs.saltstack.com/en/latest/topics/reactor/index.html#understanding-the-structure-of-reactor-formulas

Closing this.

[2015-10-07 17:27] #18572 closed

[2015-10-07 17:29] basepi commented on #23373
@jacksontj We've tracked this down to a race condition due to your addition of threading in the reactor system:

[code]

@jacksontj Do you have any ideas on how to make this work with pillar? We may have to revert your threading work there, or at least config-gate it.

[2015-10-07 17:30] whiteinge commented on #27756
:smiley_cat:

[2015-10-07 17:34] basepi commented on #23373
We're expecting the best workaround will actually be to just implement a multiprocessing implementation next to the threading implementation, and have a config value to choose (defaulting to multiprocessing).

[2015-10-07 17:39] jacobhammons commented on #9608
I confirmed that these docs are available here: https://docs.saltstack.com/en/latest/topics/development/conventions/formulas.html#adding-a-formula-as-a-gitfs-remote

Closing this one.

[2015-10-07 17:39] #9608 closed

[2015-10-07 17:43] jacobhammons commented on #8115
Appears this is resolved by #10150, closing.

[2015-10-07 17:43] #8115 closed

[2015-10-07 17:46] terminalmage commented on #27714
Thanks, I'll take a look.

[2015-10-07 17:50] jacobhammons commented on #10559
I think this issue is solved, the returners reference includes links to the returner module reference, https://docs.saltstack.com/en/latest/ref/returners/#full-list-of-returners

I'm going to close this but I can reopen if I'm misunderstanding the request.

[2015-10-07 17:50] #10559 closed

[2015-10-07 17:56] Ch3LL commented on #27555
@centromere I was actually able to replicate this issue when I was following the instructions at https://docs.saltstack.com/en/latest/topics/development/hacking.html to setup a development setup for salt. But I cannot replicate the issue when I install the package version of salt for ubuntu 14.0 from the saltstack repository. How did you initially install salt? My guess is there is some dependency

[2015-10-07 17:58] jacobhammons commented on #12791
This appears to be resolved, closing.

[2015-10-07 17:58] #12791 closed

[2015-10-07 18:03] jacobhammons commented on #5715
This was resolved by #25567, the entire doc subdomain is https:// only.

[2015-10-07 18:03] #5715 closed

[2015-10-07 18:20] #27481 closed

[2015-10-07 18:21] basepi commented on #21214
`__states__` issues (file.managed, etc) should be fixed: https://github.com/saltstack/salt/pull/27725

[2015-10-07 18:32] terminalmage commented on #27714
@The-Loeki Can you try this: https://github.com/saltstack/salt/pull/27761/files

[2015-10-07 18:35] jacobhammons commented on #9786
since this is dealing with old branches I'm going to close this, this type of information will be added to the release notes as necessary.

[2015-10-07 18:35] #9786 closed

[2015-10-07 18:37] centromere commented on #27555
@Ch3LL salt-minion was installed on the nodes via salt-cloud (EC2), which uses salt-bootstrap. salt-master/salt-cloud was installed via package management, using this repository:

`deb http://repo.saltstack.com/apt/ubuntu/ubuntu14 trusty main`

Provisioner:
[code]
From salt-bootstrap.sh:
[code]

Your cacert.pem is identical to mine (just wanted to rule that out).

[2015-10-07 18:38] jacobhammons commented on #13729
@gravyboat can this be closed? Thanks.

[2015-10-07 18:42] jacobhammons commented on #14943
This was added here: https://docs.saltstack.com/en/latest/topics/tutorials/standalone_minion.html#external-pillars

@ryan-lane do you think that is enough to resolve this?

[2015-10-07 18:50] quantonganh commented on #19861
@cachedout: I got another error after applying your fix:

[code]

salt-call --versions-report:

[code]

[2015-10-07 18:52] ryan-lane commented on #14943
Yeah. That's fine.

[2015-10-07 18:54] eedgar commented on #27020
eg think dynamic paths such as /secret/server1/auth  /secret/aws_domain1/credentials /secret/aws_domain2/credentials .. these things can add up fast.

[2015-10-07 19:12] jfindlay commented on #27643
@blueyed, I'm not really sure about that one.  I haven't looked at the loader very much.  You may have better results talking to @basepi or @jacksontj.

[2015-10-07 19:14] jfindlay commented on #27658
@sjorge, no problem and thanks for your excellent contributions to salt.

[2015-10-07 19:15] terminalmage commented on #27720
Thanks for the report, I will get this fixed.

[2015-10-07 19:16] jfindlay commented on #27660
@bertjwregeer, good to know, thanks.  You are welcome to close the issue when you think it has been resolved.

[2015-10-07 19:16] basepi commented on #27654
This seems like a reasonable solution to me. Looks like the foundation was laid, but was not finished (thus the TODO)....

[2015-10-07 19:18] jacobhammons commented on #14928
HI @nmadhok, do you know if the existing examples resolve this issue?

If not, what do you think about maybe copying some examples from the formula at: https://github.com/saltstack-formulas/logrotate-formula?

[2015-10-07 19:18] jfindlay commented on #27663
@lorengordon, thanks for the report.

[2015-10-07 19:20] jfindlay commented on #27664
@schlagify, @garethgreenaway, thanks for the issue and for implementing it.

[2015-10-07 19:21] bertjwregeer commented on #27660
I'd prefer to leave it open till there is a release that fixes the issue. Right now I am using git, which is not really something I want to be doing long term.

[2015-10-07 19:32] jfindlay commented on #27665
@ahammond, thanks for the report.  What platform are you running salt on?  Does the state return as failed?  This should already have been [fixed](https://github.com/saltstack/salt/blob/v2015.5.3/salt/modules/useradd.py#L213-L226).

[2015-10-07 19:33] jfindlay commented on #27665
Now I'm seeing that `RETCODE_12_ERROR_REGEX` isn't going to work with your example.

[2015-10-07 19:40] jacobhammons commented on #27520
@rmarcinik I've updated these docs, let me know if anything else is missing, otherwise please close. Thanks!

[2015-10-07 19:45] jfindlay commented on #27669
@guettli, thanks for the report.

[2015-10-07 19:46] herbmaster opened #27767 "Mount state destroys fstab with btrfs subvolumes"
Unfortunately the mount state module corrupts the fstab when using btrfs subvolumes
as it replaces all occurrences of the device with the options for the single subvolume.
Probably related to the issues with tmpfs, which are marked as fixed (e.g. #17198)

State file:

[code]

Fstab before state:

[code]

Fstab after state file:

[code]

Expected fstab:

[code]

Versions:

[code]

[2015-10-07 19:47] jfindlay commented on #27660
Sounds good, thanks.  If you have the time, can you try 87d86e4b3eaad075876f516eb8bb693d9a88d1c9?  This is where 2015.8.1 has been tagged, although it has not been released yet.

[2015-10-07 19:47] #14943 closed

[2015-10-07 19:50] jfindlay commented on #27674
@beatscode, what version of salt are you using?

[2015-10-07 19:51] jfindlay commented on #27685
@jerob, thanks for the report.  What is the output of `salt-ssh --versions-report`?

[2015-10-07 19:56] jfindlay commented on #27688
@ch-acctg, thanks for the report.  We have tested upgrading from 2014.7.5 to 2015.8.0 and have not encountered this problem.  Are you able to workaround this, for example, by restarting the minion or does it persist?

[2015-10-07 19:58] jfindlay commented on #27690
@kitplummer, thanks for the report.

[2015-10-07 19:59] jerob commented on #27685
@jfindlay thanks for your interest in this issue

Salt Version:
           Salt: 2015.8.0

Dependency Versions:
         Jinja2: 2.7.3
       M2Crypto: Not Installed
           Mako: 1.0.0
         PyYAML: 3.11
          PyZMQ: 14.4.0
         Python: 2.7.9 (default, Mar  1 2015, 12:57:24)
           RAET: Not Installed
        Tornado: 4.2.1
            ZMQ: 4.0.5
           cffi: 0.8.6
       ch

[2015-10-07 20:00] jfindlay commented on #27703
@ryan-lane, @SunPowered, thanks for the report.

@terminalmage

[2015-10-07 20:02] gravyboat commented on #13729
@jacobhammons Honestly I'm not sure. I don't THINK we made it through all of them, but they'd still need to be combed.

[2015-10-07 20:06] jfindlay commented on #27710
@anlutro, what do you think about adding an optional argument to `system.reboot` to toggle the use of `reboot` vs `shutdown -r`?

[2015-10-07 20:08] jfindlay commented on #27711
@joberget, we should get that supported added in, thanks for reporting.

[2015-10-07 20:08] bertjwregeer commented on #27660
Looks like that revision works. v2015.8.0-109-g87d86e4

[2015-10-07 20:15] jfindlay commented on #27712
@eduherraiz, thanks for the report.

[2015-10-07 20:15] throwawayj commented on #27620
My issues raised directly out of running salt commands from the master or salt-call from the minion. So if that is what salt-ssh is then yes.

On October 7, 2015, at 1:34 AM, Sascha Schuenemann <notifications@github.com> wrote:

@jfindlay yes, I have encountered this only with salt-ssh.

It seems that the calls to wfunc(s) (like pillar.*, saltutils.* ) are handled different than calls to custom mo

[2015-10-07 20:15] anlutro commented on #27710
Is there a reason not to use `shutdown -r` everywhere?

[2015-10-07 20:16] ryan-lane opened #27769 "Support names for vpc_subnets in various boto_* modules"
Right now it's necessary to provide subnet ids in various boto_\* modules, making the states less declarable. We should support the ability to target a vpc subnet by name, rather than by id.

[2015-10-07 20:16] ryan-lane commented on #27769
Proposal:

For vpc subnets, my thought is that we can use a list that looks like this:

[code]

Where myvpc is the vpc name, and mysubnet1a is a subnet name. We could lookup the vpc name, then the subnet name on the inside.

[2015-10-07 20:19] ryan-lane commented on #27769
An issue here, is that myvpc:mysubnet1a looks a lot like: myvpc: mysubnet1a, which is a YAML dict, rather than a string. We could throw a salt exception when this is set to inform people they have bad syntax, or we could come up with another method of setting this.

For instance, we could instead do:

[code]

Where we allow either vpc_id or vpc_name, but vpc_subnets can either specify names or ids

[2015-10-07 20:22] scoates commented on #27769
For subnets, I'm not sure there's ever a circumstance where we'd need to supply more than one VPC.

For security groups, we probably do need to have multiple VPCs. (Especially with peering; see below.)

Also, I have some not-particularly-well tested code that can manage VPC peering (I'll package it and create a PR at some point). It definitely requires multiple VPCs:

[code]

[2015-10-07 20:22] sjmh opened #27770 "Runners via reactor don't accept positional arguments"
Just got done reading over #22308, but it looks like it needs to be clarified that a runner via a reactor MUST use keyword arguments, positional arguments don't work.

Given a reactor sls file of:
[code]

You'll end up receiving:

[code]

The reactor file *must* be formatted with keyword args:
[code]

So, either we need to update the documentation and clarify that, or we should allow runners fired

[2015-10-07 20:23] jfindlay commented on #27713
@NVoronchev, thanks for the report.  By default salt (and python) execute system commands directly, bypassing the shell for security reasons.  `dir` needs to be run in a shell, so you should try
[code]

[2015-10-07 20:25] twangboy commented on #27713
@NVoronchev use `cmd.shell` instead

[2015-10-07 20:27] terminalmage commented on #27703
@SunPowered Can you post the relevant minion logging?

[2015-10-07 20:29] jfindlay commented on #27710
@anlutro, there may be some (non linux) distros that do not comprehend `shutdown -r`, but I don't know enough to judge if that would be significant or not.

[2015-10-07 20:30] scoates commented on #27769
Throwing an exception on `: ` instead of `:` (the effect of that, I mean) is better than semi-silently failing, definitely. Quoting the values in examples + docs could help, too:

[code]

[2015-10-07 20:32] thehunmonkgroup commented on #27169
Also experiencing this on Debian Jessie, installing both v2015.5.5 and v2015.8.0 using git option with the bootstrap script. Downgrading to v2014.7.6 the problem does not occur.

[2015-10-07 20:33] ryan-lane commented on #27769
Let's make a format that's consistent everywhere it's specified. So, if it's necessary to support multiple vpc subnets, we should probably go with 'vpc:subnet', rather than splitting them into separate args.

I think throwing an error and having good docs is likely good enough, especially if the error gives back info like "A dict was specified, but a string is expected; the format is 'vpcname:subn

[2015-10-07 20:35] schlagify opened #27772 "Feature request: customization specification configurable for the vmware driver"
I've seen folks use a `customization` option in their vmware profile configurations around the net, but I dont see it listed in the docs.    I tried using it in our configuration, but it appears to be ignored.  This option is used for vmware customization specifications, which we use heavily in our environment, and so this feature would be useful.

Here is our config:

cat /etc/salt/cloud.provider

[2015-10-07 20:40] #16753 closed

[2015-10-07 20:40] #27297 closed

[2015-10-07 20:40] #27342 closed

[2015-10-07 20:40] #27406 closed

[2015-10-07 20:40] #17103 closed

[2015-10-07 20:40] #27372 closed

[2015-10-07 20:40] #27501 closed

[2015-10-07 20:40] #27595 closed

[2015-10-07 20:58] anlutro commented on #27710
Me neither, I suppose. What if `salt.utils.which` is used to check if it's available? Then an `at_time` arg can be added, which, if `shutdown` is not available, will throw an exception (because you can't pass a time to `reboot`).

[2015-10-07 21:06] ch-acctg commented on #27688
Well, it is only in bootstrapping.  When I run a salt-call -l debug state.highstate inside the vm after, the error doesn't seem to occur but other errors in how our grains are now  interpreted might be blocking.  I'll try upgrading through some intermediate releases.

[2015-10-07 21:11] Ch3LL commented on #27716
@Dravu thanks for the report.

[2015-10-07 21:26] Ch3LL commented on #27723
@jfrank-quatral I actually received a different error when attempting to run this command outputted below:

[code]

[2015-10-07 21:34] Ch3LL commented on #27729
@tkwilliams thanks for these changes. Feel free to close this issue once the changes have been completed.

[2015-10-07 21:36] Ch3LL commented on #27730
@mpaolini thanks for the report. Can you please paste the output of `salt-run --versions-report`

[2015-10-07 21:49] rallytime commented on #27769
Good suggestions here.
[code]
:+1: --> This would be easy to catch and error but also keep things consistent yet extendable as these options grow, such as the example of security groups needing multiple vpcs.

[2015-10-07 21:58] rallytime commented on #19236
I think the behavior I described above is the expected behavior from GCE when using `delete_boot_pd: True`, and I've updated the docs about using `ext_disk_type`, so I am going to go ahead and close this. If more discussions should be had here, please leave a comment and we'll be happy to reopen.

[2015-10-07 21:58] #19236 closed

[2015-10-07 22:15] basepi commented on #27589
I've never messed around with instantiating custom grains outside of the context of a minion. It's possible the minion setup is doing something more which causes those grains to be picked up. We'll have to investigate this.

[2015-10-07 22:16] rallytime commented on #17960
I have reviewed the list of [dunder dictionaries](https://docs.saltstack.com/en/latest/topics/development/dunder_dictionaries.html) and it looks to me like these tests are complete. Closing.

[2015-10-07 22:16] #17960 closed

[2015-10-07 22:18] basepi commented on #27591
Sorry for my ignorance. What do you mean the "activate the event returner"?

[2015-10-07 22:20] basepi commented on #27591
Oh, nevermind, I understand. You just set `event_return`. Sorry.

[2015-10-07 22:21] rallytime commented on #27690
@kitplummer Can you also post your **sanitized** cloud provider and profile configs?

[2015-10-07 22:24] #26280 closed

[2015-10-07 22:24] basepi commented on #27591
This seems like it might be a good situation to use a customer returner. This way you can edit the `event_return` function in the returner to massage the data in whatever way you need.

The problem with making this general-case is that many of the returners expect unique data. "as is" data is going to have a lot of duplicates. Carbon may be ready for that kind of data, but most of the returners ar

[2015-10-07 22:24] #19400 closed

[2015-10-07 22:26] kitplummer commented on #27690
Sure thing.

Provider:

[code]

Profile:

[code]

[2015-10-07 22:26] #26882 closed

[2015-10-07 22:27] #26316 closed

[2015-10-07 22:33] rallytime commented on #18980
Oh, good info @eyj. We never were able to reproduce this one internally. I'll reopen this.

[2015-10-07 22:34] basepi commented on #27591
Also, are you aware of the `master_job_cache` setting on the master? If you're just trying to store job results, that could be your solution as well.

[2015-10-07 22:37] basepi commented on #27593
I'm leaning towards customer returner. That way you could inspect the data and choose what to store.

[2015-10-07 22:41] jfindlay commented on #27735
@go8ose, thanks for the report.  The cache local to the minion must be enabled with `cache_jobs: True` in the minion config.

[2015-10-07 22:41] basepi commented on #27615
The special `__variables__` are added to function via the loader. Directly importing in the way you've done means that none of the `__variables__` (including `__grains__`, `__opts__`, `__pillar__`, etc) will not be available.

Unfortunately, we can't load module before we load grains, because modules are so reliant on grains to decide whether to load. The only `__salt__` function available for gra

[2015-10-07 22:48] jfindlay commented on #27737
@mpaolini, thanks for the report.

[2015-10-07 22:51] jfindlay commented on #27738
@fphhotchips, thanks for the report.

@terminalmage

[2015-10-07 22:52] jfindlay commented on #27740
@johnccfm, thanks for the report.  This is a duplicate of #27437.

[2015-10-07 22:52] #27740 closed

[2015-10-07 23:01] jfindlay commented on #27742
@Fuasvak, thanks for the report.

[2015-10-07 23:03] jfindlay commented on #27744
@rominf, thanks for the report.  @isbm, do you have any ideas on this one?

[2015-10-07 23:08] tkwilliams commented on #27729
Thanks all

[2015-10-07 23:08] #27729 closed

[2015-10-07 23:18] terminalmage commented on #27738
OK, this has to do with the fact that the git_pillar code now shares the same backend with git_pillar. I didn't account for locks when I made the gitfs backend code pluggable, so the error message really only applies to gitfs and is a false error message.

Thanks for bringing this to my attention. I will take care of this and provide an accurate error message, as well as try to add some CLI functi

[2015-10-07 23:43] Ch3LL commented on #27555
@centromere thanks for the additional information. I'll see if I can replicate this and will update this issue.

[2015-10-07 23:49] elyast commented on #26911
it doesn't work in version 2015.8.0 on my ubuntu box

[2015-10-07 23:50] tkwilliams commented on #27744
This is probably due to the bug I fixed about a week back.  The fix is in
the 2015.8 branch, but won't show until a new point release is cut and then
the OpeSuse guys build an rpm of it...

You can look at the PR and apply locally if you need an immediate working
state....

commit cdd44e4128897a9489c06408951661e9616b195c
Author: Tom Williams <tom.williams@hotschedules.com>
Date:   Wed Sep 30 18:33

[2015-10-08 00:35] scoates commented on #27769
We should probably also be able to handle IDs. So maybe `vpc_subnet_names`?

[2015-10-08 02:48] jbouse opened #27777 "[returner] Hipchat fails to send notifications when using v2 API"
The v2 API needs Content-Type headers to be sent set to 'application/json' to avoid getting an error

2015-10-06 23:51:29,216 [salt.loaded.int.returner.hipchat_return][ERROR   ][24040] {u'error': {u'message': u'Invalid content type: None', u'code': 400, u'type': u'Bad Request'}}

https://www.hipchat.com/docs/apiv2/method/send_room_notification

[2015-10-08 02:54] jbouse opened #27779 "[Doc] Hipchat returner documentation update"
When using v2 API the api_key needs to be assigned to the room with the Label set to what you would set `hipchat.from_name` to. The v2 API disregards the `from` in the data sent for the room notification completely and uses the Label assigned through the Hipchat control panel.

[2015-10-08 02:59] jbouse commented on #27663
Actually with most modern distributions this can actually be accomplished without having to install Samba at all using realmd and sssd.

[2015-10-08 03:07] yahhehdm commented on #21256
Hi all, I'm having the same problem. I've actually been fighting trying to bootstrap various Windows Server instances on EC2 via Salt for the last day or two now.

I am currently at the exact same spot as dhs-rec is. I tried to use Salt-Cloud to provision a Windows Server 2008 (with SQL) AMI from Amazon. I tried private_ips and public_ips. I got the same "smbSessionError".

I'll attach some more d

[2015-10-08 03:09] go8ose commented on #27735
Thanks for the reply @jfindlay. As you can see, I've sent a pull request to document this, but I didn't check if you'd done any pull requests. I don't mind if you drop my pull request.

[2015-10-08 03:09] #27735 closed

[2015-10-08 03:09] elxwill commented on #21256
Hi all, I'm having the same problem. I've actually been fighting trying to bootstrap various Windows Server instances on EC2 via Salt for the last day or two now.

I am currently at the exact same spot as dhs-rec is. I tried to use Salt-Cloud to provision a Windows Server 2008 (with SQL) AMI from Amazon. I tried private_ips and public_ips. I got the same "smbSessionError".

I'll attach some more d

[2015-10-08 03:09] jbouse commented on #27374
Are you sure you have python-boto installed on the minion you're executing the state on? Looking at the debug log you submitted I don't see anything that indicates it actually tried to check route53... I only have my logs on INFO and I get the following when I run my route53.present entry:

    2015-10-07 20:41:39,888 [salt.state       ][INFO    ][28988] Running state [secure.example.net] at time

[2015-10-08 03:36] jbouse commented on #26995
I'll try to get a debug log for this. I had since scraped that state and gave up using salt.state.artifactory to work around it for time. I'll see if I still have an old branch with that or write another to test.

[2015-10-08 03:50] jbouse opened #27781 "[returner] Hipchat from_name option is not needed for v2 API"
Following v2 API documentation the from_name is not required nor is it even used. It is a v1 API specific parameter only.

https://www.hipchat.com/docs/apiv2/method/send_room_notification

[2015-10-08 03:57] mool commented on #27374
@jbouse yes, I have python-boto installed. I've also tried with a wrong key and keyid to see if I get any authentication error, but it's the same... nothing happens

[2015-10-08 06:51] DanyC97 commented on #14876
This are all great ideas.. however does anyone knows/ provide a tip on how to test salt-cloud using vagrant?

I get that vbox driver for salt-cloud is not available but even so how you guys are testing it today ?

Dani

[2015-10-08 07:07] DanyC97 commented on #27532
:+1:

[2015-10-08 07:09] arthurlogilab commented on #27591
@basepi ok, I understand your point of view. We'll use a custom returner for this then.

[2015-10-08 07:26] anlutro opened #27783 "salt-ssh not properly updating file_lists, causing file.recurse to fail"
[code]

[code]
Versions:

[code]

[2015-10-08 07:32] anlutro commented on #27783
Oddly enough, in my scenario I can't get the "web" state to fail. I'll need to investigate more to isolate the issue.

[2015-10-08 07:41] anlutro commented on #27783
Apparently, it's related to one of the file.recurse states having `clean: true` while the other has `clean: false`.

[2015-10-08 07:42] DanielYWoo commented on #20240
I have the same problem with the latest 2015.8.0
[code]

[2015-10-08 07:43] eyj commented on #18980
Some more info: It was during a run of "salt-cloud -P -m mapfile" with 14 machines being pulled up simultaneously. The traceback:

[code]

After this, the index.p file seemed to be corrupt, and any further attempt to run any salt-cloud operation (delete or create) failed with a similar traceback.

I guess one should pass in a multiprocessing.Lock for the index.p everywhere?

[2015-10-08 07:48] anlutro commented on #27783
The error seems to occur very sporadically. Sometimes I have to run state1 twice then state2 before getting the error, sometimes it disappears after running the same state a second time, other times it takes 10+ repeat runs.

[2015-10-08 08:04] anlutro commented on #27783
I extracted the salt_state.tgz on the minion after a failed state run to have a look. The files in the directory that's failing to recurse are in the "base" directory, but they seem to be missing from the file_lists.

[code]

[2015-10-08 08:25] Tanoti opened #27784 "Custom execution module cannot access salt__ and __grains__ from certain places"
Following the 2015.0 release, a custom execution module that uses dunder grains or dunder salt in certain places will fail as those are no longer made available.

**Scenario 1**
Accessing dunder grains in the top-level of the module used to work in 2014.7 but now fails in 2015.0 and above.

*my_test.py*
[code]

**Scenario 2**
Accessing dunder grains or dunder salt from within a module imported by

[2015-10-08 08:37] babilen commented on #18406
@eliasp, yes. That would be quite nice indeed.

[2015-10-08 08:38] quantonganh opened #27785 "watch_in a non-existent state in extend does not cause an error"
salt-call --versions-report

[code]

clamav/init.sls:

[code]

amavis/clamav/init.sls:

[code]

Running `state.sls amavis.clamav` still passed although `blah: clamav-daemon` does not exist.
The reason is it just check the ID `clamav-daemon` and only throw an error when that ID does not exist:

[code]

You can specify `whatever: clamav-daemon` in this case and it does not failed.

[2015-10-08 09:13] m7v8 opened #27787 "file.managed backup: minion seems not to work"
After running:
`salt-ssh <host> state.sls database`

With this state defintion (shortened):
database/init.sls:

[code]

And of course changes in 'database/files/postgresql.conf' salt will not generate a backup file under: /var/cache/salt/minion/
I currently can not verify if this only happens when used with salt-ssh.

Saltversion:
salt-ssh 2015.8.0 (Beryllium)
OS:
OpenSuSE 12.3

[2015-10-08 09:20] m7v8 commented on #3551
For consistency reasons I would like to see this fixed. @basepi s suggestion seems to be good. Even if it breaks backwards compatibility.

[2015-10-08 09:26] m7v8 opened #27788 "[Doc] Extending "File State Backups" to list possible options"
As stated in the comments of #3551 there are at least these options:
- minion
- master
- both

for backup_mode or the backup option for file.managed. These should be mentioned in: https://docs.saltstack.com/en/latest/ref/states/backup_mode.html

[2015-10-08 09:46] eduherraiz opened #27789 "UnicodeDecodeError: 'ascii' codec can't decode byte in 2015.8.0"
After upgrade to 2015.8.0 we detect a lot of errors in state.sls or highstate executions like:
[code]

We found it in a file.managed state or pip.
Could we solve the problem configuring the master in any way?

Master versions
[code]

Minion versions
[code]

[2015-10-08 10:04] eduherraiz commented on #27789
Doing a highstate with Master: 2015.8.0 and minion 2015.8.0 returns a:
[code]

[2015-10-08 10:28] blacked commented on #20240
Same issue:
[code]

[2015-10-08 11:09] The-Loeki commented on #27714
Seems to work fine on my end, tnx so far

[2015-10-08 11:21] Xiol opened #27790 "Grain Request: Primary IP Address"
Hi,

We seem to have a great need to find out the primary IP address of our servers from grains. This is all well and good when you know your primary network device is going to be called `eth0`, however with the new naming scheme in RHEL/CentOS 7 and some other systemd-based distributions, `eth0` is no longer guaranteed to exist. I've not been able to find out a reliable way of getting this inform

[2015-10-08 11:51] anlutro commented on #16417
Has anything been done in this department? Regardless, I have a couple of other suggestions regarding salt-ssh logging.

The base64 dump of the thin shim shows up 2 or 4 times in the debug log. Either find some way to scrub the base64 dump from the log line, or decrease the log level to trace.

The `salt-call` command on the remote system is called with `-l quiet`, which means if you want to debug

[2015-10-08 11:56] isbm commented on #27744
@jfindlay arrgghh... the fix introduced new bugs, one is not even spotted by everyone. I will open a PR. Maybe we should review the Zypper updates at least before merging, because such things affects our SUSE Manager :wink:

[2015-10-08 11:59] tiger-seo opened #27792 "[ERROR ] Got a bad pillar from master, type str, expecting dict:"
after upgrading to 2015.5.5 got this error:
`[ERROR   ] Got a bad pillar from master, type str, expecting dict:`
on 2015.5.3 it works as expected

[2015-10-08 12:05] johnccfm commented on #27437
Is this not a critical documentation issue at least? The page at https://docs.saltstack.com/en/latest/topics/installation/ubuntu.html should make some mention that the latest version is not packaged for 32-bit Ubuntu.

Is there a very rough ETA on 32-bit packages? Days/weeks/months/probably never? I have some containers with 32-bit userspace that are now stuck on 2015.5 when my masters and 90% of

[2015-10-08 12:09] The-Loeki commented on #8177
It's semi-fixed;
If you specify `requests_lib: True` in you minion conf (and have Python requests lib naturally), requests lib listens to the environment.

So running a minion with the environment variables http_proxy, https_proxy, ftp_proxy etc. set, requests will automagically use that.
OR if you want to override it; you can specify a environ.setenv before running the requesting state, that work

[2015-10-08 12:12] The-Loeki commented on #23617
It used to work if you set `requests_lib: True` in the minion conf, however in Beryllium this seems broken, and Tornado HTTP client won't pick up on it either unless it's switched over to `curl_httpclient`.

[2015-10-08 12:13] The-Loeki commented on #23617
Related to #8177

[2015-10-08 12:18] The-Loeki commented on #21985
I agree with @dove-young ; It's basically a function of the packaging manager. See also #18120

This is also closely related to #8177 and #23617

[2015-10-08 12:29] The-Loeki commented on #27790
@Xiol, it all depends on your definition of what constitutes a 'primary' IP address.

We have <TONS> of different network setups and different interface names, almost none of which would have the 'primary' ip address of eth0 (think bonding configurations, VLANs, Privacy Extensions, secondary IP's which are the real production IP's etc.).

Look at the network module (https://docs.saltstack.com/en/l

[2015-10-08 12:46] The-Loeki opened #27794 "Requests backend for HTTP fetches is broken after removing streamed response handlers"
Commit acf2d51440af97836b48adb18276df5263590f51 modified `salt/fileclient.py` to directly write out the `.body` of the response rather than a streaming handler.

This is all well & good, but the `requests` backend result does not contain a `.body`, resulting in
[code]

The result is actually in `.content` for a `requests` Response.

The problem is rather pressing for us because of #8177/#23617/#21

[2015-10-08 12:55] Xiol commented on #27790
Yeah, I had considered that the meaning of primary IP would be specific to an organisation or use case. For us it's simply the first IP on the first interface which in almost all cases is also the IP we'd use for any management, essentially it'll be the IP on the interface with the default route.

Chef does have a similiar thing to what I'm asking for, as their `ipaddress` [value in Ohai](https://

[2015-10-08 13:00] beatscode commented on #27674
salt 2015.8.0-122-g83ae6a1 (Beryllium)

[2015-10-08 13:26] The-Loeki commented on #27790
`network.default_route` will deliver your default gateway.

`network.get_route <gateway>` will deliver the outbound ip.

So you'd end up with something like

[code]

Of course grains don't have access to the modules, so you'd have to initialize `__salt__` manually (see the grains for examples of this).

Another idea is to look at salt.utils; there's a ton of useful network stuff in there as well f

[2015-10-08 13:36] damon-atkins commented on #27790
I like the idea of the default route....       However lets assume salt master is in the management network, therefore the IP address used by the minion to talk to the master could also be consider 'Management IP'   you could have a gain with the minion_address_ipv4 minion_address_ipv6.

[2015-10-08 13:38] Xiol commented on #27790
@damon-atkins This would work for us, however we exclusively use the SSH transport, so that would also have to be taken into consideration ;)

[2015-10-08 13:45] damon-atkins commented on #27482
You might consider this to allow SaltStack to support AIX better use someone like http://lparbox.com/aix-cloud

You might find something for HP-UX as well by a cloud provider as well.

[2015-10-08 13:53] The-Loeki commented on #27790
@damon-atkins the 'default route' idea is probably not such a bad one, but keep in mind that for example with Privacy Extensions, the outgoing IP (e.g. the 'default route') would by definition not be what the OP considers the 'Primary IP'.
There are other examples like that; what if you for example have multihomed systems with multiple 'default' gateways dependent on outgoing hardware interface et

[2015-10-08 13:56] damon-atkins commented on #27790
SSHD exports variable SSH_CONNECTION='Src SrcPort Dest DestPort'
However if you are using ssh it should know the IP address for the minion.  Assume master starts the ssh session.    I agree it would be handy information to have so monitoring and other management tools could re-use the information.

[2015-10-08 13:56] onsmribah opened #27796 "IOError: [Errno 13] Permission denied: '/var/cache/salt/master/.dfn' when using python salt.wheel module"
Hi,

I am using salt.wheel python module to manage minion keys. But when it throws the error below when trying to delete a minion key. However, running salt-key -d <minion_id> works fine.
Am using an unprivileged user to run salt-master and i also changed the ownership of the following dirs :
/var/cache/salt
/var/log/salt
 /etc/salt/pki

salt version :
[code]
[code]

[2015-10-08 14:27] srkunze commented on #27400
Is there something, I can do here?

[2015-10-08 15:11] twangboy commented on #21256
@elxwill Is your master also on EC2? Are you running salt-cloud from the same master the new machines will connect to?

[2015-10-08 15:37] l13t commented on #23643
I'm not so good in python, but if I'm removing nargs option in this line: https://github.com/saltstack/salt/blob/develop/salt/modules/iptables.py#L1237 - all works fine for me.
I think argparser want to see something like:
[code]
But after _parse_conf manipulations it gets:
[code]
So it can't proceed with parsing arguments. Maybe this would be a solution after you'll test this.

[2015-10-08 15:40] damon-atkins opened #27798 "Support More Unix Platforms"
You might find that this company
https://www.siteox.com/ support IBM AIX LPARs | HP-UX VMs | Solaris VMs (Sparc|x86) |  Linux on Power VMs

Which would allow you to stand up servers for testing.

[2015-10-08 15:51] terminalmage commented on #27703
Nevermind, I reproduced the issue and have submitted a fix in https://github.com/saltstack/salt/pull/27799. Sorry guys, thanks for reporting.

[2015-10-08 15:51] alexdglover opened #27800 "Multiple simultaneous daemons (or highstates?) when using startup_states: highstate"
I am having an issue where Salt executes the same state twice when the deamon is started.

Minion information:
[code]

The minion configuration file is using all of the default values.

I can reproduce the issue by either rebooting the host, or simply restarting the daemon:
[code]

In addition to the duplicate processes, I see duplicate lines in the log file when the daemon starts:
[code]

I can't

[2015-10-08 15:57] calve opened #27801 "`show_diff=False` not honored if `test=True`"
Hi !

It looks like the ``show_diff = False`` attribute for ``file.managed`` is not honored if a state is called with ``test=True``.

Here is an example state (in ``salt://api/init.sls``)

[code]

Here is a sample shell session, with salt 5.3.0 :

[code]

As you can see, the diff is actually printed despite the ``show_diff = False`` attribute !

This is bad from a security point of vue ; I store m

[2015-10-08 16:05] porterjamesj commented on #8177
@otrempe proxies were supported well in the 2014 series, so you could downgrade to 2014.7.

[2015-10-08 16:09] acornett commented on #26814
I'm hitting this issue as well if I use the import key like shown in the example that @deuscapturus posted up top.

Looks like between 2014.7<sup>1</sup> and 2015.5<sup>2</sup> the code to process import keys and defaults was changed from
[code]
to
[code]
While the documentation for the python build-in ```next```<sup>3</sup> function says it delegates down to the iterator's ```next```<sup>4</sup>

[2015-10-08 16:13] acornett commented on #26814
Here is my traceback using 2015.5.5 on CentOS 7

[code]

[2015-10-08 16:19] terminalmage commented on #27714
#27761 was merged. You can feel free to test against the latest code from the 2015.8 now as a sanity check, but I'm going to close this issue. Thank you very much for reporting this.

[2015-10-08 16:19] #27714 closed

[2015-10-08 16:56] Ch3LL commented on #21744
448

[2015-10-08 16:57] bbyhuy commented on #19349
I know that this bug is pretty darn hard to reproduce, but once it happens, anything short of wiping the system clean doesn't seem to fix it. Purging salt-master, and removing all traces of salt and reinstalling does not seem to help. It appears something gets corrupted. Ran into this again today, ubuntu 14.04.3 server. Salt 2015.8.0

[code]

[2015-10-08 16:59] puraniprasanna commented on #24101
Even i have the same issue...file.append is not working with source(s).
          ID: /etc/haproxy/ssl/test/test.pem
    Function: file.append
      Result: False
     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/usr/lib/python2.7/site-packages/salt/state.py", line 1563, in call
                  **cdata['kwargs'])
                File "/u

[2015-10-08 17:31] basepi commented on #27591
Sounds great. Keep us posted if you think there's a good general-use feature here!

[2015-10-08 17:31] #27591 closed

[2015-10-08 17:39] basepi commented on #3551
Maybe we can rename the argument but check if the normal `backup` argument is minion, master, or both, because those are not going to be commonly-used backup suffixes. We can then throw an error or log a warning or something telling people about the switch.

[2015-10-08 17:44] basepi commented on #16417
I did some work to eliminate the shim printing awhile ago, and thought I had gotten rid of all of them, but I guess I need to do more looking.

The reason the command is run with log-level quiet is (if I remember correctly) because we have to parse the output of the command after running it. Getting clean returns back on the console is difficult if there are logs as well...

Anyway, thanks for bum

[2015-10-08 17:47] bernieke commented on #21744
This is fixed in 2015.8

[2015-10-08 18:03] robkinyon commented on #26673
@jacobhammons: Perfect. The key sentence is `Modules that return a string from the __virtual__ function must also set the __virtualname__ variable.` Thank you for addressing this.

[2015-10-08 18:40] otrempe commented on #8177
@porterjamesj
I reported this issue almost 2 years ago. 2014.7 was not released at that time.

[2015-10-08 18:41] v-oron commented on #27713
@jfindlay, @twangboy, thank you a lot! Now I found this point in `cmdmod.run` description. Unfortunetly, the function `cmd.shell` and `python_shell` argument of `cmd.run` are not documented :(

[2015-10-08 18:47] kt97679 commented on #16417
Salt-call on the client is run with --out json. If log can be part of the output and also be in json format this would simplify parsing.

[2015-10-08 18:47] anlutro commented on #16417
@basepi Nevermid the shimming bit, I figured that out: https://github.com/saltstack/salt/pull/27793

[2015-10-08 18:51] NVoronchev commented on #27713
@jfindlay, @twangboy, thank you a lot! Now I found this point in cmdmod.run description. Unfortunetly, the function cmd.shell and python_shell argument of cmd.run are not documented :(

[2015-10-08 18:53] mimianddaniel opened #27803 "using saltutil.refresh_modules or sync_all to remove modules"
Running 2015.5.5

removing the module from /srv/salt/_modules then doing saltutil.refresh_modules or sync_all doesnt seem to remove the module from the minions unless, I remove it from the syndic or the master's minions cache: /var/cache/salt/minion/extmods/modules /var/cache/salt/minion/files/base/_modules.

is this how this is suppose to be ? or bug? Or am doing this completely wrong ??

[2015-10-08 19:31] chrismcmacken opened #27804 "cmd.run/cmd.run_all documentation contradictory for python_shell argument"
In 2015.8.0 the `python_shell` argument if set to False you will be able to use shell features such as pipes and redirects. However, just below that there is a warning saying that if python_shell is set to False it will not process command through a shell and so you cannot use pipes or redirects. Which directly contradict each other.

There is also no indication that run_all suffers from the same

[2015-10-08 19:37] NVoronchev opened #27805 "Problem with cyrillic file names in salt exported direcory"
If one create a file with cyrillic name, for example `touch /srv/salt/абвгд.txt`, then no one state from SLS-files can be applyed to a Windows minion:
[code]
This issue was tested with minons run under Windows XP and Windows 8.1.

[2015-10-08 20:03] NVoronchev opened #27807 "Information about syntax error in custom execution module"
Unfortunately, in normal way any Python syntax error in custom execution module does not displayed at salt-master -- there is only one message like `'my.test' is not available`. To find a mistake one need to call the module's function at minion by means of  `salt-call`.

[2015-10-08 20:09] Semyazz opened #27808 "mine_function alias doesn't work in salt-ssh"
According to docs I defined something like this in my rosters file

[code]

and when I try the following I got
[code]

But the pure `cmd.run` definition, without aliast works fine

[code]

Additionally, when I finally make that alias work, how can I make this thing work in `salt-ssh` in SLS files? I defined earlier `network.ip_addrs` and using `salt-ssh 'minion' mine.get 'minion' network_ip_addrs`

[2015-10-08 20:26] Semyazz commented on #25713
I'd also like to see this feature working. I had to do a sort of workaround and `cat /etc/salt/grains` and then inject it back to `$thin_dir/grains` to make it available to salt-ssh

[2015-10-08 20:31] porterjamesj commented on #8177
oh wow sorry, I missed that, I thought this was part of the recent wave of proxy-support-is-broken-in-the-2015-release issues.

[2015-10-08 20:49] blast-hardcheese commented on #27487
+1, also experiencing this issue

[2015-10-08 20:59] blast-hardcheese commented on #27487
Turns out this is because `--is-ancestor` is not available in the version of Git I'm running, `git-1.7.1-3.el6_4.1.x86_64` on Cent 6

[2015-10-08 21:08] drawsmcgraw commented on #27487
Wait, @blast-hardcheese do you mean to say you're running an old version of git? I'm also on Cent 6. Maybe I just need an upgrade?

[2015-10-08 21:21] jbouse commented on #27374
@mool is the `keyid` and `key` jinja templating a typo? I noticed that there isn't spaces around it..

    dns-record:
      boto_route53.present:
        - name: {{ grains['id'] }}.example.com.
        - value: {{ grains['ip4_interfaces']['eth0'][0] }}
        - zone: example.com.
        - ttl: 60
        - record_type: A
        - region: us-east-1
        - keyid: {{pillar['route53']['keyid']}

[2015-10-08 21:51] blast-hardcheese commented on #27487
According to yum, 1.7.1 is the latest available in Cent 6+epel, but that doesn't have --is-ancestor

[2015-10-08 21:59] jfindlay commented on #24501
@ahus1, thanks for the info.

[2015-10-08 22:00] jfindlay commented on #26507
Yes, develop would be best, thanks.

[2015-10-08 22:01] jfindlay commented on #24664
@ujhgj, thanks for the extra debug info.

[2015-10-08 22:29] jfindlay commented on #27340
Excellent, thanks for figuring this out.  I'll have to remember system constraints the next time someone files a similar issue. :-)

[2015-10-08 22:32] jfindlay commented on #27189
@Kurisutian, we have only packaged debian 8 so far.  Debian 7 is on the list of packages to build and will get made after the initial packaging overhead is reduced.  Also, once the package build states are published, it should be relatively easy to build for other platforms.

[2015-10-08 22:33] terminalmage commented on #27738
https://github.com/saltstack/salt/pull/27802 contains a new runner function which will clear locks from components other than gitfs.

[2015-10-08 22:46] onmeac commented on #22460
My apologies, with everything going I had forgotten to test and reply to this thread.

Either I am doing something wrong or this issue is not yet resolved.

[code]
[code]

[code]

This returns nothing
[code]

[code]

salt --versions-report
[code]

[2015-10-08 22:53] jfindlay commented on #27710
That seems like a good solution to me, thanks.

[2015-10-08 22:55] plastikos commented on #27421
See #11865.  My master with ~9k minions has memory leaks too.  I'm currently testing patches to libzmq.

[2015-10-08 22:58] jfindlay commented on #27735
@go8ose, no problem.  I think both changes would be good, even together.

[2015-10-08 22:59] pkartch commented on #27607
Thank you for looking at this bug.

The state fails to create the schedule.  I verified:
1.  atq executed under the same userid does not show any new scheduled jobs.
2.  No results from the job.  Verified this just in case it executed but didn't show in the list.

When using salt master/minion 2015.5.2 you see the scheduled job after running atq.

Minion Debug Log:
[INFO    ] User sudo_username Ex

[2015-10-08 23:12] #25211 closed

[2015-10-08 23:14] #26538 closed

[2015-10-08 23:19] jfindlay commented on #27744
Thanks, @isbm.

[2015-10-08 23:26] jfindlay commented on #27674
@beatscode, thanks.  @ticosax, do you have any ideas?

[2015-10-08 23:28] jfindlay commented on #27400
@srkunze, this might be fixed by #27797.

[2015-10-08 23:29] jfindlay commented on #23643
Thanks, @l13t, that is some good info.

[2015-10-08 23:32] #26673 closed

[2015-10-08 23:33] jfindlay commented on #27713
@NVoronchev, you can find it in the [reference documentation](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.cmdmod.html#salt.modules.cmdmod.run).

[2015-10-08 23:35] jfindlay commented on #27487
@terminalmage

[2015-10-08 23:44] rallytime commented on #27777
Thanks for the report and for fixing this issue @jbouse. Since your pull request has been merged, is this issue good to close?

[2015-10-09 00:01] whiteinge opened #27811 "Add CORS support to the /events URL"
Browser support for CORS and SSE was spotty when CORS was added to salt-api in #14058. Filing a separate issue to track that additional discovery and implementation.

[2015-10-09 00:06] whiteinge commented on #14058
Complex CORS was added; closing this out. A separate issue has been filed for the SSE addition. If there are any implementation problems they can be detailed and addressed in bug issues.

[2015-10-09 00:06] #14058 closed

[2015-10-09 00:42] SJReese opened #27812 "Build/Test failure on armv7l (and probably any 32-bit arch)"
Greetings:

I've been trying to build salt and its dependencies to run on a Raspberry Pi 2 (armv7l). The Pi is running RedSleeve, which is CentOS built for the Pi. I'm using the SRPMs from repo.saltstack.com.

All of the dependencies build properly, but Salt itself fails to build during the testing phase. The failure is an overflow as follows:

 --------  Tests with Errors  -----------------------

[2015-10-09 01:05] mosuowhq commented on #6593
The issue, that a key appears in both the accepted and unaccepted lists, still exits with salt version 2015.5.3.
To address this issue, I modified the "_auth(self, load)" function in the master.py. The following code were added after "self.event.fire_event(eload, tagify(prefix='auth'))":
    if os.path.isfile(pubfn_pend):
        os.remove(pubfn_pend)
with the modification, the keys in /etc/salt/p

[2015-10-09 01:19] rallytime commented on #22460
@onmeac You'll need to upgrade your version of salt before the fix in question will apply. The fix was submitting to the 2015.5 branch at the end of July, but the 2015.5.3 release was tagged on July 1st. If you test this with 2015.5.5, does this work for you?

[2015-10-09 04:14] ogabrielsantos opened #27814 "mine.get function with additional parameters"
When I need IPs with and without loopback I should specify

[code]

How about pass function parameters from mine?

[code]

Is this possible/useful?

[2015-10-09 04:59] tbaker57 opened #27815 "Documentation regarding associate_eip for EC2 profiles"
The documentation

https://github.com/saltstack/salt/blob/develop/doc/topics/cloud/aws.rst

regarding the associate_eip parameter seems to indicate that the value associated with this parameter should be an Elastic Network Interface (ENI) identifier:
[code]
In fact, this should be an Allocation ID as per

https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/ec2.py#L1319

[code]
Perhaps

[2015-10-09 06:49] menglong81 opened #27817 "If the order masters can use the rest_tornado?"
I configured the order masters and tornado api ,but using an error
I use the architect is  master - syndic - minion
I want to start the rest interface in the master to control the minion ,trying to use rest_tornado with a syndic setup

[tornado.application][ERROR   ][24274] Future exception was never retrieved: TimeoutException

Where is the timeout configuration, please
Use no problem on the mast

[2015-10-09 07:44] NVoronchev commented on #27002
This bug is reproduced in 2015.8.0.

[2015-10-09 07:55] The-Loeki commented on #8177
@porterjamesj well I made it that ;) I searched the issue list before posting my own, hence the interconnection between these issues

[2015-10-09 08:18] asg7443 opened #27818 "Debian/Ubuntu 32 bit SaltStack repository - missing package for python-tornado"
I can't install 'salt-common' package from SaltStack repository on 32 bit Debian Jessie because of missing package 'python-tornado':

[code]
It turned out to be there is no 'python-tornado' package description in
http://repo.saltstack.com/apt/debian/dists/jessie/contrib/binary-i386/Packages
and no such i386 package.
And the 'python-tornado' from standard distribution repository is too old (3.2.2).

[2015-10-09 08:49] SaschaSchuenemann opened #27819 "SSHClient.cmd() ignores ssh_key_deploy config option"
There is currently no way to deploy ssh keys when using client salt.client.ssh.client.SSHClient in the same way to using salt-ssh via CLI with the flag --key-deploy

This is caused by [SSHClient.cmd()](https://github.com/saltstack/salt/blob/develop/salt/client/ssh/client.py#L112) calling [ssh.run_iter()](https://github.com/saltstack/salt/blob/develop/salt/client/ssh/__init__.py#L484) which in cont

[2015-10-09 08:58] ramonamis opened #27820 "salt-master does not install due to python tornado dependency"
Upgrading from salt 2015.5.3 (Lithium) to 2015.8.0 (Beryllium) fails on Ubuntu 14.04.3 LTS (GNU/Linux 3.13.0-44-generic x86_64) due to unmet python-tornado dependency.

First, trying to install salt-master fails:
[code]

Then, trying to install salt-common fails:
[code]

The version of python-tornado required is not available on apt, and installing via pip does not seem to be a good idea. However,

[2015-10-09 09:01] eddpayne commented on #27820
Just for further information - we have a repo into which we put the salt packages as we need the ability to install different versions which are removed from the public repo when new versions are released. We noticed that with 2015.8 the repo has been split into an ubuntu12 and an ubuntu14 repo, and the naming of the packages now also causes us issues as the python-tornado package has the same nam

[2015-10-09 10:54] leodus opened #27821 "Deploy VM on Proxmox requires 'size' configuration setting? Not according the docs!"
Hello SaltStack community,

I am running Saltstack (version 2015.8.0) on a FreeBSD 10.1 system:
[code]
I want to deploy VMs on one of my Proxmox hosts (version 3.4). I can request information from my Proxmox host, but when I want to deploy a VM I get an error about the 'size' configuration setting :
[code]
My Proxmox cloud provider configuration (cloud.providers file) looks like:
[code]
According

[2015-10-09 11:11] Reiner030 commented on #18907
Hi, it seems that this problems is not fixed yet. Perhaps you can done a lazy unmount for NFS mountpoints ?

[code]

[2015-10-09 11:28] l13t commented on #23643
Actually in 2014.7.5 there were no nargs option for --match-set parameter: https://github.com/saltstack/salt/blob/v2014.7.5/salt/modules/iptables.py#L1079

[2015-10-09 11:54] SeverinLeonhardt opened #27822 "AttributeError: 'dict' object has no attribute 'decode' in 2015.8.0"
Running `salt-call --local state.highstate test=True` produces a very verbose output, similar to #25368.

The following error is printed when using `-l debug` just before the output:

[code]

The offending comment is probably from this state:
[code]

Which produces this verbose output:
[code]

[2015-10-09 12:14] menglong81 commented on #27817
The master log showing "master function call _syndic_return took 0.0001 seconds"
But no results back on rest interface

[2015-10-09 12:50] jbouse commented on #27777
@rallytime Yeah that should correct the v2 API issue I reported. I had a separate ticket for documentation issues relating to v2 vs v1 changes.

[2015-10-09 13:09] eliasp commented on #27414
I can confirm this on Ubuntu 14.04, Salt 2015.8.0:
[code]
[code]

[2015-10-09 13:58] mihaivint opened #27823 "Salt raet unexpected keyword argument tags_regex"
When using salt with raet protocol i get an error on test.ping . Without raet everything is fine .
[code]

Version:
[code]

[2015-10-09 14:52] rallytime commented on #27777
Sounds good. I'll close this then.

[2015-10-09 14:52] #27777 closed

[2015-10-09 14:56] jagguli commented on #27267
im getting the same error with salt-ssh

  File "/tmp/.root_022bd0_salt/salt-call", line 4, in <module>
            salt_call()
          File "/tmp/.root_022bd0_salt/salt/scripts.py", line 330, in salt_call
            client = salt.cli.call.SaltCall()
          File "/tmp/.root_022bd0_salt/salt/utils/parsers.py", line 128, in __init__
            optparse.OptionParser.__init__(self, *args, **kwa

[2015-10-09 14:57] hexedpackets commented on #26699
@rallytime Interesting. I see a different path loaded:

[code]

That path (/usr/lib/python2.7/site-packages/salt/config/cloud/deploy) does not exist, but /usr/lib/python2.7/site-packages/salt/cloud/deploy does.

[2015-10-09 14:59] rallytime commented on #27821
Hi @leodus - thanks for reporting this issue. This is a bug. I'll fix this up shortly. The fix will be available in 2015.8.2, but in the mean time I think if you just add `size: ''` for now, that should work to get you past that error.

[2015-10-09 15:18] martinhoefling opened #27825 "Salt-api is not adding cors headers if auth fails"
This is due to a bug in app.py, I will submit a bugfix.

[2015-10-09 15:30] rmarcinik commented on #27520
Thanks! It works now,  for anyone else coming across this issue:
You need to set [winrepo_source_dir](https://docs.saltstack.com/en/latest/topics/windows/windows-package-manager.html#config-options-for-minions-2015-8-0-and-later) in your minion config file.

[2015-10-09 15:30] #27520 closed

[2015-10-09 15:35] jacksontj commented on #27421
@plastikos for that leak (assuming its the publisher one) I filed an upstream ticket (https://github.com/zeromq/libzmq/issues/954) where I think we figured out *where* the leak was, patches of course will be appreciated-- we've been dealing with that leak for a while.

[2015-10-09 15:37] #27631 closed

[2015-10-09 15:39] jacksontj commented on #27643
@blueyed I'm not certain I follow the question, for all types of modules if they return that tuple of success/reason it should get logged. From looking at that dockerng.py module it seems that it simply returns `False` which isn't terribly helpful :(

[2015-10-09 16:05] plastikos commented on #27421
@jacksontj, from what I can tell about zeromq/libzmq#954 there was never a fix.  Am I correct?

[2015-10-09 16:07] jacksontj commented on #27421
Correct.
On Oct 9, 2015 9:05 AM, "plastikos" <notifications@github.com> wrote:

[2015-10-09 16:26] jacksontj commented on #23373
Hmm, that would work but we'll probably need another way around this as well. With the move to tornado-- the plan is to make more things happen concurrently (using coroutines). This means that more things will be running in parallel within the same process-- so we'll need to figure this one out.. although this is a fun one ;)

We've actually run into this problem in a few different variants recent

[2015-10-09 16:56] cubranic opened #27828 "Note the version when 'user' and 'group' became available in docs for archive.extracted"
The [latest docs](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.archive.html#module-salt.states.archive) say:
[code]

But 'user' and 'group' are only available since 2015.8.5 and give an error in 2015.5.5. This also means that 'archive_user' cannot have been deprecated since 2014.7.2, as there was nothing to replace it for another year.

[2015-10-09 17:23] shawnbutts opened #27829 "salt.loaded.int.module.yumpkg [WARNING ] Unexpected osrelease grain '2015.09', please report this"
[code]
[code]

[2015-10-09 17:27] douardda commented on #22713
what's the status of this issue?
Because of it, the jobs runner is broken when the master uses a master_job_cache which get_jids implementation returns a list.

I've a test setup using the redis returner as master_job_cache and salt-run jobs.list_jobs fails with a traceback:
[code]

[2015-10-09 17:38] jfindlay commented on #27750
@justyns, thanks for reporting.  Your patch sounds reasonable and you are welcome to send it in (to the 2015.5 branch).  Also remember to reference this issue from the pull request.

[2015-10-09 17:45] jfindlay commented on #27751
@srkunze, thanks for the questions.  `env` is indeed deprecated in favor of `saltenv`.  All of the functions that accept `**kwargs` and do not explicitly name `saltenv` should accept a `saltenv` in the `kwargs` as it is a standard feature to the state system for which `salt.modules.state` is the front end.

[2015-10-09 17:55] unassassinable opened #27830 "CentOS 7 minion to disable reboot on ctrl+alt+del"
In previous editions of CentOS, I simply have to edit a file to disable reboot on ctrl+alt+del (CenOS up to 6).  This is easy enough to accomplish with salt.  However, on CentOS 7, the preferred method is to run:

[code]

How do I achieve this with a salt state?

[2015-10-09 17:58] drawsmcgraw commented on #27487
@blast-hardcheese, sure enough. I have a CentOS 7 machine with Git `1.8.3.1` installed and I do not have this issue with `git.latest`.

[2015-10-09 17:59] jfindlay commented on #27752
@srkunze:
[code]
[code]

[2015-10-09 17:59] bryson commented on #7287
This bug still exists over 2 years later. Is anybody even looking at the Django stuff or should I ignore that `djangomod` even exists?

[2015-10-09 18:01] blast-hardcheese commented on #27487
@drawsmcgraw The test is checking the return code of `git merge-base --is-ancestor`. If it's unsupported, the return code seems to be very high (129 iirc)

[2015-10-09 18:05] jfindlay commented on #27753
@srkunze, I do not think there is specific documentation on this, but you can see what variables are available to the jinja rendered in [the code](https://github.com/saltstack/salt/blob/v2015.8.0/salt/renderers/jinja.py#L323-L333).

[2015-10-09 18:06] blast-hardcheese commented on #27487
Seems like prior to this option, `--is-ancestor` was implemented via:

[code]

Source: https://git-scm.com/docs/git-merge-base

[2015-10-09 18:18] basepi opened #27831 "v2015.5.5 highstate outputter stacktracing for jobs.lookup_jid"
ZD-446

[code]

Somewhere between when the runner returns the data, and when it's passed to the highstate outputter, it's being wrapped in a `data` key, which messes up the highstate outputter. Still looking.

[2015-10-09 18:19] jfindlay commented on #27767
@herbmaster, thanks for the report.

[2015-10-09 18:25] jfindlay commented on #27770
@sjmh, thanks for the report.  @whiteinge, @cachedout, do you have any input?

[2015-10-09 18:25] viking60 opened #27832 "Salt fails to recognize Manjaro (as an Arch derivate)"
I have a Manjaro master that updates Debian Centos and Arch computers just fine, but the Manjaro-minion gives "pkg.upgrade is not available".

Manjaro uses Pacman as does Arch but has a different OS name and different repos.

The Minion:
 cat /etc/lsb-release
DISTRIB_ID=ManjaroLinux
DISTRIB_RELEASE=15.09
DISTRIB_CODENAME=Bellatrix
DISTRIB_DESCRIPTION="Manjaro Linux"

salt --version
salt 2015.8.0 (

[2015-10-09 18:26] jfindlay commented on #27772
@schlagify, thanks for the report.

@nmadhok

[2015-10-09 18:33] jfindlay commented on #27779
@jbouse, thanks for the report.  Related to #27711.

[2015-10-09 18:34] jfindlay commented on #27781
Related to #27711.

[2015-10-09 18:36] jfindlay commented on #27783
@anlutro, thanks for the report.

[2015-10-09 18:43] jfindlay commented on #27784
@Tanoti, thanks for the report.

[2015-10-09 18:44] jfindlay commented on #27785
@quantonganh, thanks for the report.  Do you know if this still happens on 2015.5.5 or later?

[2015-10-09 18:46] jfindlay commented on #27787
@m7v8, thanks for the report.

[2015-10-09 18:50] jfindlay commented on #27788
@m7v8, thanks for the report.

[2015-10-09 19:08] jfindlay commented on #27789
@eduherraiz, thanks for the report.  The first error applies to 2015.5, and I have submitted a fix for the second.  They happen when string operations happen on strings containing bytes python does not know how to handle.  The solution is to use `salt.utils.locales.sdecode` to decode the string to utf-8.

[2015-10-09 19:17] jfindlay commented on #27790
Nuance belies much of this topic and concept more significantly and formatively than others.  I am persuaded by the desire to find and assist a convention within salt as the other tools @Xiol has mentioned, but @The-Loeki describes very good reasons this often is not or cannot be conventional.

[2015-10-09 19:20] kt97679 opened #27834 "No way to set allowed auth methods for salt-ssh"
It would be great to limit salt ssh with certain set of auth methods. E.g. to use public key auth only and ignore hosts that ask for password.

[2015-10-09 19:43] nmadhok commented on #27772
@schlagify What does the customization do or rather what do you expect it to do? Currently that option doesn't exist in the VMware cloud driver but if you've got a good use case, we'll be happy to add the functionality.

[2015-10-09 19:54] blueyed commented on #27643
@jacksontj
I've improved this for `modules.dockerng` in https://github.com/saltstack/salt/pull/27602/files.
But `states.dockerng` does only return `False` indeed still: it triggers `modules.dockerng` through `if 'dockerng.version' in __salt__:` (https://github.com/saltstack/salt/blob/develop/salt/states/dockerng.py#L73), so that the additional info gets logged at least currently.

How could/should

[2015-10-09 20:03] jfindlay commented on #27792
@tiger-seo, thanks for the report.  Is it possible for you to provide a minimal test case to demonstrate this problem?

[2015-10-09 20:05] bertjwregeer opened #27835 "[FreeBSD] salt-ssh hangs forever"
Hello,

I am a heavy user of salt-ssh, however when targeting a FreeBSD host at random points it will hang and a process tree such as following shows up:

    | \-+= 34706 root sshd: root@notty (sshd)
    |   \-+= 34708 root csh -c /bin/sh
    |     \-+- 34710 root /usr/local/bin/python2.7 -c -c
    |       \-+- 34715 root /usr/local/bin/python2.7 /tmp/.root_89c8ec_salt/salt-call --local --metadat

[2015-10-09 20:09] jfindlay commented on #27794
@The-Loeki, thanks for the report.

@jacksontj

[2015-10-09 20:14] jfindlay commented on #27796
@onsmribah, thanks for the report.

[2015-10-09 20:18] jfindlay commented on #27798
@damon-atkins, that site is awesome, we should check it out.

[2015-10-09 20:20] jfindlay commented on #27800
@alexdglover, thanks for the report.  Do you know if this happens on 2015.5.5 or later?

[2015-10-09 20:21] schlagify commented on #27772
Hi,

I was expecting an option that let's us choose a vmware "customization specification".. which is used by vmware to handle some deployment steps following guest OS provisioning.  It handles various things, like applying the hostname to the newly provisioned vm and some other things.  We can choose a customization spec via the vsphere ui, but it's not possible to use with salt-cloud.

In our se

[2015-10-09 20:33] terminalmage commented on #27801
There is no 5.3.0, maybe you meant 2015.5.3?

https://github.com/saltstack/salt/pull/27128 seems to have fixed this, but the commit was fairly recent and will be in both 2015.5.6 and 2015.8.1.

[2015-10-09 20:37] EDanee opened #27836 "Salt-cloud doesn't wait long enough"
Hi!

I just started to use salt and salt-cloud and I run into an issue that I can't solve.
I use DigitalOcean as a provider and very often I get the following error during the VM creation:
Too much failures occurred while waiting for the IP address

In these cases it really takes more time for DO to create the VM but I want salt to wait for it anyway.

Is there a way to increase the number of trie

[2015-10-09 20:40] jfindlay commented on #27803
@mimianddaniel, it probably happens this way so that you don't accidentally delete synced modules present from currently unavailable file_roots.  We could add a force option to remove modules not found on the master.

[2015-10-09 20:47] whiteinge commented on #27770
RunnerClient may support `args` and `kwargs` as of 53e7a6b. I haven't explored that addition or why it was added in the first place. (It occurred to me just now that it differs from the `arg` and `kwarg` (singular) of LocalClient. _Le Sigh_. Given that we should think about changing it _before_ it's documented.)

As for the documentation question: All the reactor examples specify kwarg names so it

[2015-10-09 20:52] jfindlay commented on #27804
@chrismcmacken, thanks for the report.  `python_shell` has the same meaning as `shell` in `subprocess.Popen`, where `True` means the command is processed in a command shell and `False` means the command bypasses the shell and is run directly by a system call.

[2015-10-09 20:54] jfindlay commented on #27805
@NVoronchev, thanks for the report.  This is a duplicate of #27789, which is fixed in #27833.

[2015-10-09 20:54] #27805 closed

[2015-10-09 21:02] jfindlay commented on #27807
@NVoronchev, thanks for the report.  What version of salt are you using?

Similar to #26755.

[2015-10-09 21:09] jfindlay commented on #27808
@Semyazz, thanks for the report.  This looks like a salt-ssh bug.

[2015-10-09 21:14] jfindlay commented on #27812
@SJReese, thanks for fixing this.

[2015-10-09 21:18] jfindlay commented on #27823
@mihaivint, thanks for the report.

[2015-10-09 21:25] jfindlay commented on #27829
@shawnbutts, thanks for the report.  This is a duplicate of #27065, which has been fixed in #27241.

[2015-10-09 21:25] #27829 closed

[2015-10-09 21:27] jfindlay commented on #27831
@basepi, this is a duplicate of #27723.

[2015-10-09 21:57] terminalmage commented on #27832
Fixed in #27841.

[2015-10-09 21:58] #27832 closed

[2015-10-09 22:05] nmadhok commented on #27772
@schlagify Specify ``deploy: False`` and see if that helps.

[2015-10-09 22:09] ryan-lane commented on #27769
I think vpc_subnets should figure out if something is a subnet id or a name and translate if necessary. No need for a separate arg.

[2015-10-09 22:09] Joeskyyy opened #27842 "salt-ssh does not support compound matching or pillars"
Looks like even in the latest, salt-ssh still fails to support compound matching and pillar matching? Is there some reason I'm not catching that this wouldn't work via salt-ssh?

[code]

This would be really nice to have for those looking to run agent-less.

[2015-10-09 22:18] scoates commented on #27769
I agree that that would be ideal, but subnet names can be the same as IDs (or worse, someone could have stupidly named a subnet after another subnet's ID):
![screenshot 2015-10-09 18 15 32](https://cloud.githubusercontent.com/assets/71983/10406896/229dd9d6-6eb2-11e5-8944-23cce3e48c4d.png)

[2015-10-09 22:22] ryan-lane commented on #27769
We always need the lookup format to be:

[code]
If it doesn't match that format, we assume it's a subnet id.

[2015-10-09 22:22] ryan-lane commented on #27769
Accidentally closed that :D

[2015-10-09 22:23] ryan-lane commented on #27769
Basically, we can't do a lookup of a subnet name without knowing its vpc id (or name), so we always need to lookup the vpc, then lookup the name for it. So, if the format is x:y, we do a search, otherwise, we assume an id.

[2015-10-09 22:23] basepi commented on #27831
Good call. Should have searched more.

Either way, they're both fixed.

[2015-10-09 22:24] basepi commented on #27723
Fixed this today: https://github.com/saltstack/salt/pull/27838

@Ch3LL we may have to investigate your error if you're still getting it after the fix in #27838.

[2015-10-09 22:26] scoates commented on #27769
Yep; ok. that works.
Just wanted to avoid magic/ambiguity.

[2015-10-09 22:26] #27831 closed

[2015-10-09 22:26] #27723 closed

[2015-10-09 22:29] ryan-lane commented on #27769
Agreed. The group lookup is already a bit magical and people don't know it automatically does lookups. We should make sure to improve the docs on this stuff at some point too.

[2015-10-09 22:30] basepi commented on #23373
I know @DmitryKuzmenko has a fix for this he's testing, but I don't know the details yet...

[2015-10-09 22:32] basepi commented on #7287
I updated the labels to get more eyes on it. Unfortunately there are a lot of open bugs that we need to get to, and djangomod isn't on the top of the list. =\

[2015-10-09 22:32] basepi commented on #7287
That said, from a brief glance at this issue, it's actually probably low-hanging fruit -- I bet it would be fairly straightforward to fix if someone wants to tackle it.

[2015-10-09 23:09] jacksontj commented on #23373
I've actually been hacking most of the day on a RequestContext thing. It won't be complete today, but I should be able to push up some code to get some feedback.

[2015-10-09 23:10] dmurphy18 commented on #27798
Already did, expensive. Currently able to address the AIX and Solaris needs for minimal expense, and don't yet have a need for HP-UX

[2015-10-09 23:51] jacksontj commented on #23373
@basepi I have a branch where I'm messing around with this (https://github.com/jacksontj/salt/tree/concurrent) it seems to be working fine. I still have to add tests-- and make it so in the reactor, but its making progress :)

[2015-10-10 00:10] quantonganh commented on #27785
Yes.

salt-call --versions-report

[code]

slack/init.sls:

[code]

test/init.sls:

[code]

and the result:

[code]

The reason is requisite_in keywords are not checked at this line: https://github.com/saltstack/salt/blob/develop/salt/state.py#L1932

If I change `require_in` to `require`:

[code]

[2015-10-10 03:20] jerob opened #27844 "'I/O operation on closed file"
Command :
[code]
Error :
[code]
[code]

[2015-10-10 08:44] godymoon commented on #3436
so，does the   {{ pillar.unicode.variable.decode('utf-8') }}   configure works  @basepi ?  how to configure  {{ pillar.unicode.variable.decode('utf-8') }}   in sls files? can u show me an example of configuration ？ thx a lot @alexmorozov

[2015-10-10 12:20] michaelforge opened #27846 "Master's DNS resolving to a new IP, minions not reconnecting automatically"
Transferred salt-master to another IP and changed it's DNS.
All salt-minions using master's DNS.

After migration, minions are not reconnecting to new master's IP. They are not available through salt '*' commands.

1. Does already running minions automatically acknowledge that master's DNS resolving to a new IP? How much time it could take?
2. The only way to make all minions to reconnect to a new

[2015-10-10 13:10] JDiPierro commented on #27846
Hi Michael,

The amount of time it might take for the minions to resolve the new IP address depends on the TTL (Time To Live) setting on your DNS entry. After the configured TTL time has passed the minions should be resolving the DNS entry to the new IP address and should successfully connect. If your minions are running linux you could check the IP they're resolving by SSHing into one of them and

[2015-10-10 13:18] papiveron opened #27847 "Segmentation fault with salt-call"
Hi,

I'm having an issue when executing salt-call command. The excution ends up with a segmention fault .
The segmentation occures in the **archive.extracted** state. The thing is that the package itself is extracted as well and I can't really find where the issue is.
I've generated a core dump, and locate the ** segfault ** occures in the **libc.so.6** C lib  (**/lib/x86_64-linux-gnu/libc.so.6**)

[2015-10-10 14:34] michaelforge commented on #27846
@JDiPierro Thanks for reply!

DNS TTL: 300 sec. New IP already resolving on minions by manual ping, but already running salt-minion are **not reconnecting** to changed IP, even after 2 hours.
The only way I found to make them do it is manually run `service salt-minion restart` on each minion, but that is not always a possible practice, so I wonder if salt-minions are trying to reconnect to changed

[2015-10-10 18:18] richardhansen commented on #27542
Even better would be to consolidate the Debian and Ubuntu repos into a single URL.  From [my comment](https://github.com/saltstack/salt/issues/27159#issuecomment-143074521) in issue #27159:

[2015-10-10 18:21] richardhansen commented on #27542
In [a comment](https://github.com/saltstack/salt/issues/27159#issuecomment-143077444) in issue #27159, @jfindlay wrote:

Have the state files used to generate the repos been published anywhere?  I would like to help fix this.

[2015-10-10 18:57] leodus commented on #27821
Hello rallytime,
thank you for the quick reply. The workaround of a blank size parameter works. Look forward to version 2015.8.2!
Cheers,
Lars.

[2015-10-10 18:58] jfindlay commented on #27785
@quantonganh, thanks for the extra info.  You are welcome to submit a pull request if you think you have a fix.

[2015-10-10 18:59] jfindlay commented on #27542
@richardhansen, https://github.com/saltstack/salt-pkg-tests.

[2015-10-10 20:22] eduherraiz commented on #27789
@jfindlay Thank you!

[2015-10-10 21:41] chekolyn opened #27848 "Common upload path for cp.push"
This is a feature request.

Is there a way escape the minion path and be able to have a common path for certain files?

For example if I want to change this:
/var/cache/salt/master/minions/minion-id/files

for this:
/var/cache/salt/master/common/path
or
/any/path/I/want

Why?

Take a look at this ceph salt implementation: https://github.com/komljen/ceph-salt/blob/master/salt/ceph/mon.sls  line 16

[2015-10-10 22:47] rallytime commented on #27821
Glad to hear it! I submitted #27849 just now to fix this issue. Thanks!

[2015-10-11 01:06] damon-atkins commented on #27798
It's cheaper than purchasing the hardware, and having to skill up people on the hardware..

When people select a product to use. They look at the platforms have have, and then choose a product to support all those platforms.   If you do not support HP-UX then those companies will think long and hard before deciding to use Salt.   Someone else in the community provides the Solaris support for sparc

[2015-10-11 03:44] fphhotchips commented on #27784
Adding to this - and I'm not sure whether this is *exactly* the same - but it seems close.

When I have a module that sits directly under /_modules/, __grains__ and __salt__ behave as described by @Tanoti. However, when they sit in a subfolder (and are imported into  __init__.py - otherwise they aren't available), __grains__ and __salt__ are never defined, even inside the called function.

[2015-10-11 03:53] ogabrielsantos commented on #27844
@jerob have you defined 'transport' option inside master settings?

[2015-10-11 06:07] ogabrielsantos commented on #27846
Same issue here. When master changes IP, minions can ping the new IP but does not respond to master anymore. I need to manually restart..

Currently I've setupped a cron to restart minion every 4 hours but is a ugly workaround.

[2015-10-11 14:30] ogabrielsantos commented on #27576
I've spent the day debugging and trying to solve minions who have stopped responding abruptly until I find this issue. I've created symlinks in order to workaround https://github.com/saltstack-formulas/bind-formula/issues/37 's hardcoded settings:

[code]

So, salt://bind/zones/A ZONE FILE.db  should return a zone file inside the first file_roots.

When I read this issue imediatly removed hacky `f

[2015-10-11 14:33] ogabrielsantos commented on #27576
I've tested with fresh salts (2014.7, 2015.5 and 2015.8) and all returned fine after removing this symlink. Master CPU usage dropped a lot.

[2015-10-11 17:12] non7top opened #27854 "Require_in does not work for file.recurse in file.recurse"
Basically I would like to combine two file.recurse so that result has contents of both states merged together, but this does not work. It works as expected for require_in and file.managed.

[code]

[code]

[2015-10-11 18:35] dverbeek84 opened #27855 "boto_vpc is not reading availability_zone"
Hi All,

I think there is a bug in both_vpc state module.
When i start to create two subnets in two different zones they are ignored.

This is in my state file:

[code]

This is the output:
[code]

as you can see, they are both created in us-west-1a. Also if i set both to us-west-1b they are sill created in us-west-1a.

[2015-10-12 04:20] adminempire commented on #15749
Any updates on this? Would love to not have to do work arounds to solve this use case. Being able to use the groups vs. listing every single package in the group or other solutions listed above would make things so much easier.

[2015-10-12 05:23] ogabrielsantos opened #27856 "Master stop responding when I've specifics symlinks"
I've created a symlink pointing to itself in order to [bypass this hardcoded `salt://` restriction](https://github.com/saltstack-formulas/bind-formula/issues/37):

So [L126](https://github.com/saltstack-formulas/bind-formula/blob/master/bind/config.sls#L126) and [L154](https://github.com/saltstack-formulas/bind-formula/blob/master/bind/config.sls#L154) can point to my custom `salt://bind/zones/fil

[2015-10-12 06:55] syphernl commented on #27189
+1 for Wheezy but please also do not forget about ARMv6 (Raspberry Pi) either :)

[2015-10-12 07:51] srkunze commented on #27753
Hmm. I see. Do you think this would be useful section in the docs?

Reminiscing about my first usage of salt, I took myself quite some time to find some hints in the docs. There are there (tutorial I think), but not complete and sparse.

[2015-10-12 07:54] srkunze commented on #27752
Thanks. :) Well, in order to get things going I went forward and looked into the code myself last week in order to see what variables are available.

So, this issue is related to https://github.com/saltstack/salt/issues/27753

[2015-10-12 07:54] #27752 closed

[2015-10-12 07:56] srkunze commented on #27751
Would it be useful to add this kind of information to the docs as well?

[2015-10-12 08:01] eliasp commented on #27730
I can confirm this. Neither `pillar.show_pillar` nor `pillar.show_top` returns anything. The pillar are available on the Minions just as expected, it's just the broken `salt-run` functionality.
[code]

[2015-10-12 08:18] gravyboat opened #27857 "Deprecated rabbitmq_vhost functionality conversion steps need to be explained"
With the deprecation of https://docs.saltstack.com/en/latest/ref/states/all/salt.states.rabbitmq_vhost.html and the creation of the following items:

https://docs.saltstack.com/en/latest/ref/states/all/salt.states.rabbitmq_cluster.html
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.rabbitmq_plugin.html
https://docs.saltstack.com/en/latest/ref/states/all/salt.states.rabbitmq_policy

[2015-10-12 08:47] srkunze opened #27858 "Rendering yields error"
I was occupied with a strange error when designing our salt files recently.

That's the output:

              ID: checkout_release
        Function: cmd.run
            Name: git checkout release
          Result: False
         Comment: An exception occurred in this state: Traceback (most recent call last):
                    File "/tmp/.root_dcdf8c_salt/salt/state.py", line 1591, in call

[2015-10-12 09:43] Deshke opened #27861 "repo.saltstack.com should support IPv6"
Guys,

it's 2015. Digital Ocean supports IPv6 just enable it please

[2015-10-12 09:44] jerob commented on #27844
I don't have defined 'transport' option inside master setting.

[2015-10-12 10:07] dverbeek84 commented on #27855
The salt.modules.boto_vpc.create_subnet is having the same behaviour

[code]

I am using both 2.38.0

[2015-10-12 11:11] srkunze opened #27862 "Setting up Multiple Environments"
We are about to use salt for multiple environments. We call them 'base', 'deploy' & 'release'.

So, I edited `/srv/salt/top.sls`, added `deploy` and `release` environment keys and added the appropriate sls modules for each env.

However, salt-ssh tells me:

        - No matching salt environment for environment 'release' found
        - No matching sls found for 'home' in env 'release'

I found ou

[2015-10-12 11:51] danielgblanco opened #27863 "rest_cherrypy parameters not passed to cloud.profile"
Hi,

I've just clean installed a new master with the following versions:

[code]

After configuring my cloud providers and having them all working (cloud.profile works using the command line), I'm unable to make it work through the REST API. This is the request/response:

[code]

I've enabled debug on the master and this is what I can see:

[code]

This was running as of version 2014.7.5, which is

[2015-10-12 12:03] eliasp commented on #26569
Related: https://github.com/saltstack/salt/issues/18406#issuecomment-146151604

[2015-10-12 12:08] srkunze commented on #23102
What's the status here?

We miss the non-zero exit status as well.

[2015-10-12 12:20] molixrawdi commented on #17061
Hi,
       Thanks for all your efforts, may I just confirm that users of SaltStack can expect to:
1- Create a virtual machine via template file, using salt-cloud/pyVmomi, via vcenter only as vsphere is deprecated.
2- Clone an existing virtual machine, using salt-cloud/pyVmomi, via vcenter only as vsphere is deprecated.

Best Regards
M

[2015-10-12 12:21] SeverinLeonhardt commented on #27822
Just noticed this has already been reported in  #27454.

[2015-10-12 12:21] #27822 closed

[2015-10-12 12:48] Inveracity opened #27865 "windows state.user not adding users to Remote Desktop Users"
Heya

the "Remote Desktop Users" group is ignored when I add new users.
I've tried with and without quotes around it.
The minion is a Windows Server 2012 R2.

command:
[code]
file:
/srv/salt/standard/users.sls
[code]
--------------------
Salt-Master versions-report
[code]

Salt-Minion versions-report
[code]

[2015-10-12 12:49] DmitryKuzmenko commented on #23373
My approach is close to the Jackson's one, but I hard nothing about Tornado's contexts and implemented own DictWrapper that maps Thread name to actual dict data.

Also my PR contains two bugfixes. One is for salt-master, it doesn't always properly exitst on break signal. The second one is for highstate outputter. The issue is reproduced with the described case. Outputter expects highstate data con

[2015-10-12 12:55] DmitryKuzmenko commented on #23373
Also it's good question: if we'll have one of this approach fixing threading behavior do we need a multiprocessing reactor implementation?

[2015-10-12 12:58] Inveracity commented on #27863
I ran into this over the weekend, and got it sorted by doing this:
[code]
notice the kwargs part.

I haven't tried with multiple key value pairs, but yours could possibly look like this:
[code]
Hope leads you in the right direction

[2015-10-12 13:38] molixrawdi commented on #17061
Could you please confirm that this link is deprecated: https://docs.saltstack.com/en/latest/ref/clouds/all/salt.cloud.clouds.vsphere.html

[2015-10-12 13:49] danielgblanco commented on #27863
Thanks. I also thought that'd work, but I'm using an in-house-developed Java library that uses those properties instead of kwargs. So, it could be done, but it'd involve code changes... Can this issue be related to this other one? https://github.com/saltstack/salt/issues/25107 I think this is fixed in 2015.8.1. Will give that a try.

[2015-10-12 14:16] johnccfm opened #27866 "Slow response from Windows minions on 2015.8"
Sending a test.ping to a Windows minion seems to take on average nearly 6 seconds, compared to less than 1 seconds for a Linux minion.

This is not caused by underlying network latency as far as I can tell, since I've tested when the master and minions are on the same subnet and on different ones.

It seems to be a problem that is new in minion version 2015.8. Rolling back a minion to 2015.5.x rem

[2015-10-12 14:46] cachedout commented on #27861
+1

[2015-10-12 14:48] cro commented on #27384
Ref #27731

[2015-10-12 14:57] rallytime commented on #17061
@molixrawdi Correct - the vsphere driver is officially on a deprecation path and will be removed from Salt in the Carbon release. The VMWare driver in Salt-Cloud should be used instead:

- https://docs.saltstack.com/en/latest/topics/cloud/vmware.html
- https://docs.saltstack.com/en/latest/ref/clouds/all/salt.cloud.clouds.vmware.html

[2015-10-12 15:01] jacky35 opened #27867 "Problem grain winrepro"
I would use this simple example :

https://github.com/saltstack/salt-winrepo-ng/blob/master/vlc.sls

[code]

The problem is that I end up with this error

[code]

---

if I run `salt '*' grains.get cpuarch` it works perfectly.

---

[code]

Thanks Jacky

[2015-10-12 15:10] deniswal commented on #27599
Why are the labels "**Info Needed**" "**Pending Discussion**"? What information do you need from me?

Trying to investigate on my side, I compiled the latest version of pyZMQ from gitHub, patched with the latest ZMQ libzmq-4.1.3 version.

I have got the same "Minion did not return. [No response]" from one or more minions, once in every 4 highstates.

[2015-10-12 15:10] cachedout commented on #27756
Closed by #27758

[2015-10-12 15:10] #27756 closed

[2015-10-12 15:28] #27770 closed

[2015-10-12 15:29] #27821 closed

[2015-10-12 15:38] toddtomkinson commented on #26786
@hishailesh77, we are currently using a patch similar to the one I included above to get this working until it is fixed.  The patch is only needed on the hosts running the proxy minion.

[2015-10-12 15:48] jacksontj commented on #23373
With this finished we won't need a reactor implementation
On Oct 12, 2015 5:55 AM, "Dmitry Kuzmenko" <notifications@github.com> wrote:

[2015-10-12 15:56] cachedout commented on #8646
Closed via #27748

[2015-10-12 15:56] #8646 closed

[2015-10-12 16:00] johnccfm opened #27869 "Windows repo HTTP download seems broken in 2015.8"
On Windows Server 2012 R2 with Salt minion version 2015.8, I can't seem to install any software which requires an HTTP download where a redirect is involved.

For example:-

[code]

I tried running the file directly from the cache, and it fails. I also noticed that the SHA1 hash of the downloaded file is wrong, and it seems to change on every run.

I transfered the file to a Linux box and used hex

[2015-10-12 16:09] molixrawdi commented on #17061
Hi @rallytime many thanks for the update, Am I correct about the two points I made earlier? (1-Create Virtual machine, 2- Clone virtual machine)? By mentioning the vmware drivers as replacement, Am I correct in assuming by this you mean 'pyVmomi' = https://pypi.python.org/pypi/pyvmomi

Best Regards
Molix

[2015-10-12 16:18] rallytime commented on #17061
@molixrawdi - There is a salt-cloud driver named `vmware.py` in  the `salt/cloud/clouds/` directory of Salt, which is the salt-cloud driver I was referring to above. The docs that I linked in my earlier comment explain how to use that driver. The salt-cloud vmware.py driver depends on the `pyVmomi` package installable through pip.

Does that help clear things up?

[2015-10-12 16:19] DmitryKuzmenko commented on #23157
Module executor approach is implemented and I have some question here:
1. Do we need to rename ```client_acl``` to ```publisher_acl``` as @jacksontj proposed?
2. Do we need minion-side blacklisting on loader level as @jacksontj proposed? If so I'll create a new issue for this. Should I work on it or it's better to let it to be done by Thomas as he proposed (if he has time for it)?

[2015-10-12 16:29] terminalmage commented on #27738
@fphhotchips in 2015.8.2, there will be a new runner function called ``cache.clear_git_lock`` that can be used to clear the git_pillar locks:

[code]

[2015-10-12 16:32] jfindlay commented on #27753
@srkunze, I looked over the docs and didn't see anything that directly addresses this, which I agree would be very useful.

[2015-10-12 16:37] jfindlay commented on #27751
@srkunze, where do you think we should document it?

[2015-10-12 16:38] molixrawdi commented on #17061
@rallytime Thanks again, so the vmware.py comes with salt-cloud which I have so far managed to install using pip install salt-cloud? (Sorry for asking many questions and I truly appreciate your help and time), finally about my two assumptions are they correct!

They are:

1- Create a virtual machine via template file, using salt-cloud/pyVmomi, via vcenter only as vsphere is deprecated.
2- Clone an

[2015-10-12 16:47] cro commented on #26786
The "real" fix looks like it is finally passing tests: #27731

We'll do some manual tests on it as well and get it merged, hopefully today.

[2015-10-12 16:53] Ch3LL commented on #27730
@eliasp thank you for the salt-versions report. @mpaolini are you running the same version?

[2015-10-12 17:06] rallytime commented on #17061
@molixrawdi Yes, the vmware.py driver comes with salt-cloud. That driver is how salt-cloud interacts with/connects to your VMWare installation. How did you install salt? Depending on your operating system, salt-cloud is either included by default with your salt installation, or it is an extra package taht you can install. You could use pip as well if you want, but it might already be available. Al

[2015-10-12 18:09] rbranche opened #27871 "pip.installed doesn't support recursive requirements files"
Given a requirements.txt file that looks like:

[code]

And a salt config:

[code]

pip.installed will fail with:

[code]

It looks like pip.installed needs to search through the requirements.txt and also copy the recursive requirements files.

[2015-10-12 18:16] basepi commented on #23102
The fix went into the develop branch in June, so I'm fairly certain this is fixed in 2015.8.0.

[2015-10-12 18:25] srkunze commented on #23102
What if I told you, that it is not?

[2015-10-12 18:30] jejenone commented on #27384
That's a lot of interesting commits here! Thanks!

[2015-10-12 18:36] basepi commented on #23102
Then I would re-open. =)

[2015-10-12 18:41] scottleibrand commented on #27414
If/when someone has a patch/workaround to test, I'll be happy to.  Or if someone can point me to the location in the code that controls this, I can poke around and see if I can fix it myself.

[2015-10-12 18:47] srkunze commented on #23102
=D Alright. Well, something I can do here?

[2015-10-12 18:50] dennisjac opened #27872 "No way to delete denied key only"
I just tried to register a minion with a minion_id that is already in use and the key is now listed once under accepted keys (the correct one) and a second time under denied keys (the wrong one) both with the same name.
Now I want to delete the key that was added in error but from what I can tell this is not possible. The only way forward it seems is to delete both keys and then re-register the co

[2015-10-12 18:55] kt97679 opened #27873 "Execution timeout for salt-ssh"
Currently if salt state started via salt-ssh would not exit for some reason there is no way to specify timeout to terminate salt-ssh session. It would be really nice to have such feature.

[2015-10-12 19:18] terminalmage commented on #22851
@masterkorp Actually, it looks like this is an m2crypto issue after all.

See the discussion [here](https://github.com/martinpaljak/M2Crypto/issues/60) and [here](https://gitlab.com/m2crypto/m2crypto/issues/47).

The issue was improper swig usage on the part of the M2Crypto developers. This should be fixed soon with the release of 0.22.4.

In the meantime, downgrading swig to 3.0.4 will allow M2Cr

[2015-10-12 19:18] #22851 closed

[2015-10-12 19:22] srkunze commented on #27751
If there is not better place, below all functions of the state module.

When using the reference documentation, I rarely read all the long introductory parts. I would appreciate an explanation for all available parameters right at the place where I am. Even if they were redundant, I would like to see them JUST to be sure the parameters exists and does what it is supposed to do.

[2015-10-12 19:31] schlagify commented on #27772
@nmadhok unfortunately i do not.   However, I suspect that what I need may actually be accomplished with the `deploy` option b/c all I really need is to have salt-cloud set the hostname of my newly provisioned vm's.   Unfortunately, when I do use `deploy:  True`, it provisions my vm and even installs salt, however it does not set the hostname of the new vm.   The hostname doesn't seem to be access

[2015-10-12 19:35] nmadhok commented on #27772
@schlagify Even with ``deploy: True``, it would set the hostname of the VM. With ``deploy: False``, it doesn't not install or configure salt-minion and transfer/accept/generate any minion keys. It would still set the hostname of the VM. When your VM comes up, you can have a salt state that runs to change the hostname to whatever you like.

What I'm curious about is why do you want to change the ho

[2015-10-12 19:50] mpaolini commented on #27730
yep, same here

[code]

[2015-10-12 19:54] schlagify commented on #27772
@nmadhok    ok, so the problem is that salt-cloud is not actually setting the hostname anywhere that i can find.  what's happening is the newly provisioned vm comes online with the hostname of the template, and it just stays that way.    salt-cloud handles the pki keys on the master, but it is not succeeding at setting the hostname of my new vm's, and i'm not seeing messages related to it trying t

[2015-10-12 20:14] nmadhok commented on #27772
@schlagify You have to have VMware tools installed on your template for it to be able to set the host name to the ID/name of the VM. Can you build the VM in debug mode and paste/email the debug log output so that I can further troubleshoot? You can build VM in debug mode by appending ``-l debug`` to the command you're using at the CLI to build your VM.

[2015-10-12 20:19] terminalmage commented on #27703
Fix was merged, closing.

[2015-10-12 20:19] #27703 closed

[2015-10-12 20:38] leeclemens commented on #24648
TL;DR: Considering lack of OS/platform information, this issue might be able to be closed.

I ran into this same error while using FreeBSD 10.

State file:
[code]
Result:
[code]

`$ grep root /etc/group`
[code]

[code]

Not sure if the same cause as OP ran into, but in FreeBSD 10 there is no group `root`. On CentOS 6, `root` is a member of the `wheel` group, but the group ID of `wheel` is 10...not

[2015-10-12 20:46] leeclemens commented on #24648
Related to FreeBSD not having a group named `root`? (I encountered the same error, `Group root is not available` and got here via Google.)  Stab in the dark...seems like info requested by @tedski is necessary to understand what the issue may be.

[2015-10-12 20:47] rallytime commented on #26284
I've fixed this in #27878. This fix will be available in the 2015.8.2 release.

[2015-10-12 20:57] mpaolini opened #27880 "salt-cloud failing on aws ubuntu trusty"
I run `salt-cloud -p ubuntu-trusty-micro-64 test-01` with the following conf:

[code]

[code]

and I get this error

[snip]
[code]

[2015-10-12 21:18] mpaolini commented on #27880
probably related to #27670

[2015-10-12 21:20] yannis666 opened #27881 "Grains defined in python overwrite rather than merge on a key"
I have a grain hierarchy and wrote python grains of the form:

[code]

I was expecting a final grain dict like so:

[code]

What happens instead is that one of the grains wins and clobbers the other.
It seems to me that common keys should be merged.

salt 2015.5.5 (Lithium)

[2015-10-12 21:21] mpaolini commented on #27880
I don't think `python-tornado` requirement is really needed anyways...

[2015-10-12 21:26] rallytime commented on #27880
@mpaolini The current iteration of the salt-bootstrap script requires the `-P` argument to be added for Ubuntu installations. If you added `script_args: -P` to your cloud config, this should get you running again.

[2015-10-12 21:29] rallytime commented on #8301
It looks to me like #21718 fixed this issue and should be resolved in 2015.5.0 or newer releases. Is anyone here still running into this issue?

[2015-10-12 21:32] rallytime commented on #10193
FYI @jacobhammons

[2015-10-12 21:45] mpaolini commented on #27880
it goes a bit further but fails here

[code]

[2015-10-12 21:48] schlagify commented on #27772
ok, i do have vmware tools 9.4.6.33107 installed via open-vm-tools.  vmware suggests that we use the latter for debian 8 (ref: http://partnerweb.vmware.com/GOSIG/Debian_8.html), so we have that installed.. and i verified that vmtoolsd does run when the vm comes online.

the debug log from my salt-cloud command is here:  https://gist.github.com/schlagify/121dd1461754953c2701.   i cleaned up a bit o

[2015-10-12 21:53] mpaolini commented on #27880
if I try and launch the minion manually I get this:

[code]

the offending line is in `/etc/salt/minion`

[code]

[2015-10-12 21:56] mpaolini commented on #27880
hmmm.... `salt-cloud` installed a minion with version `2015.5` even if I asked for a `2015.8` in my profile:

`script_args: -P -p python-gnupg stable 2015.8`

[2015-10-12 22:02] rallytime commented on #27880
@mpaolini That's like because there isn't a "stable" version of Salt available for Ubuntu yet in the repo's that the bootstrap script is pointing too. If you want to install 2015.8.0 right now, you'll need to use `script_args: git v2015.8.0` and install from the git tag instead of the "Stable" package.

There are some open tickets in the salt-bootstrap repo to get that fixed. We've just recently m

[2015-10-12 22:03] twangboy commented on #26908
Module added by: #27882

[2015-10-12 22:04] rallytime commented on #27880
So to clarify my last comment a bit, the bootstrap script currently points to the "Community Repo" section of these docs: https://docs.saltstack.com/en/latest/topics/installation/ubuntu.html

And the community repo packages are behind the Salt repo. I think the Ubuntu community repo is at the 2015.5.3 (or maybe even 2015.5.2?) release.

[2015-10-12 22:09] rallytime commented on #18508
This was resolved with #25126 in the develop branch, which has been backported to 2015.8 with #25184. The fix is available in 2015.8.0. I am going to close this, but if any problems remain or pop up here, leave a comment and we will gladly reopen.

[2015-10-12 22:09] #18508 closed

[2015-10-12 22:11] terminalmage commented on #27487
@blast-hardcheese @drawsmcgraw

I just opened https://github.com/saltstack/salt/pull/27883 which uses the logic from the [earlier post](https://github.com/saltstack/salt/issues/27487#issuecomment-146949948) from @blast-hardcheese to check ancestry in git versions older than 1.8.

With regards to the original post (which is a separate point), I'm investigating now.

[2015-10-12 22:14] ryan-lane opened #27884 "Memory leak in salt.client when using the caller API and state.sls"
This is in version 2015.8.

[code]

Based on this, it looks like the leak is in the module, which is rough because it means there's no way to fix this without a process restart.

[2015-10-12 22:18] basepi commented on #23102
You're welcome to try to figure out why @ngrennan-inflection's fix didn't work... It's going to be a bit before I can revisit this issue.

[2015-10-12 22:28] srkunze commented on #23102
Hmm, after a deeper look into this issue and https://github.com/saltstack/salt/issues/7876 I found both are fixed indeed. However, there is another one bothering us, so this can be closed and I am going to open another issue tomorrow. ;)

[2015-10-12 22:33] rallytime commented on #26632
@ryanwalder I've submitted #27886 to 2015.8 to fix this issue. Can you give that a try and confirm that it is resolved for you?

[2015-10-12 22:37] terminalmage commented on #27487
@sparrc Please post the SLS example to help us better troubleshoot this for you.

[2015-10-12 22:48] rallytime commented on #27414
@scottleibrand Are you also seeing this on Ubuntu, or are you seeing this on other distros as well?

[2015-10-12 23:09] #26908 closed

[2015-10-12 23:09] #26906 closed

[2015-10-12 23:22] scottleibrand commented on #27414
@rallytime I'm only running salt on Ubuntu for now.

[2015-10-12 23:35] sparrc commented on #27487
This is basically it:

[code]

[2015-10-13 00:19] kt97679 opened #27888 "salt-ssh and --out json"
If you specify --out json with salt-ssh output would be not valid json, but rather concatenation of json outputs for each client. Parsing of this json requires additional processing. It would be great to have valid json there.

[2015-10-13 01:07] kt97679 opened #27889 "salt-ssh json output lacks data compared with plain text"
Plain text output has summary on number of succeeded and failed states. Json output lacks this summary, you need to go through individual states entries to get this data. Also it is not clear how to identify completely failed run. "_error" entry?

[2015-10-13 01:41] blast-hardcheese commented on #27487
I can confirm, in my case as well, simply using git latest triggered this issue

[2015-10-13 04:41] terminalmage commented on #27487
@sparrc What rev do you want the local checkout to display?

[2015-10-13 04:58] dkiser opened #27890 "pillar recurse list strategy"
In order to provide a toggle for #25358 and restore default behavior of pillar recursive merging to replace lists instead of aggregate them, we should introduce a new `recurse_list` strategy for the master config option of `pillar_source_merging_strategy`.  This strategy would be similar to `recurse` with the additional behavior of aggregating list objects if they are found within the object being

[2015-10-13 05:05] invsblduck commented on #27890
+1

[2015-10-13 05:15] stevendgonzales commented on #27890
yes, please, changing the default pillar behavior has been painful for us.

[2015-10-13 05:21] smw commented on #27890
It'd be really nice if it were configurable per-key, as well.

[2015-10-13 05:23] sparrc commented on #27487
@terminalmage I'm not sure what you mean by display, I would want it to pass the salt state since `origin/HEAD` is in the history. The HEAD of the local repo is a child commit of `origin/HEAD` and thus is up-to-date with the origin repository.

[2015-10-13 06:05] sjmh opened #27892 "Allow drac runner to have username and password passed on command line"
As part of our bare metal provisioning process, we have to reboot DRAC's often and we can't keep modifying the master config to put in new DRAC's.

Would like the option to specify a username and password to the individual calls to use the DRAC functions.

[2015-10-13 06:11] sjmh commented on #27892
Added a quick patch that makes this work and just falls back to the normal config values if the values are not given.

[2015-10-13 06:34] mpaolini commented on #27880
@rallytime I see ... isn't it weird that bootstrap installs 2015.5 even when I ask 2015.8 ?

Anyways all this looks like a salt-boostrap bug/issue, shoud I report it in that other repo?

[2015-10-13 06:58] mpaolini commented on #27880
still no luck

[code]

[2015-10-13 06:59] BalintSzigeti opened #27894 "feature request - exclude for pkg.uptodate"
hello

currently Salt doesn't support the exclude for packages on Linux like yum command '--exclude'. This would be really good feature for enterprises.
       salt.states.pkg.uptodate(name, refresh=False, **kwargs)

is there any reality implementing this feature?

[2015-10-13 07:59] jfindlay commented on #27751
@srkunze, I've updated the issue title to describe these changes.  Thanks for the report.

[2015-10-13 08:01] johnccfm commented on #27867
I think this is because of the changes from the repo to repo-ng. It seems like you can still run *salt-run winrepo.genrepo* on the master, but it's now available on the minion too as *salt foo pkg.genrepo*.  I'm not sure, but since we now have an old-style repo and a new-style repo, I suspect that the former generates the old-style repo (which is done on the master) and the latter generates the ne

[2015-10-13 08:08] Pixcell opened #27895 "Can't launch any command using salt 2015.8 on mac os X"
I get this error each time I try to launch a command using sudo salt (I tried sudo salt '\*' test.ping, and sudo salt '\*' state.highstate)

I installed salt using 'sudo pip install salt'
Binaries salt-cloud and salt-key are working correctly.

<img width="1368" alt="screen shot 2015-10-13 at 10 07 05" src="https://cloud.githubusercontent.com/assets/4005291/10449183/34da476e-7192-11e5-9b6c-9c5cc8f

[2015-10-13 09:36] bbinet commented on #10293
I believe this is actually fixed since 2015.5: I'm now able to use successfully `- tar_options: "--strip-components=1"`
See also #19799.

[2015-10-13 10:09] molixrawdi commented on #17061
Hi @rallytime
                        I have run the command, please see this output below:

salt01 ~]# salt-cloud --versions-report
Salt Version:
            Salt: 2015.8.0

Dependency Versions:
 Apache Libcloud: 0.18.0
          Jinja2: 2.2.1
        M2Crypto: Not Installed
            Mako: Not Installed
          PyYAML: 3.11
           PyZMQ: 14.5.0
          Python: 2.6.6 (r266:84292, Jul 23

[2015-10-13 10:29] souravsingh commented on #27046
Is the Issue open?If so,I would like to work on this.

[2015-10-13 11:00] srkunze commented on #27751
@jfindlay  You are welcome.

[2015-10-13 11:00] jagguli opened #27896 "Error executing gem.install (TypeError)"
replicated on Archlinux

[code]

[code]

[code]

Looks like an environment problem?

[2015-10-13 11:04] bemeyert commented on #23125
@msteed @bechtoldt  Any news on this one?

[2015-10-13 11:46] Reiner030 commented on #26706
Btw. last seen an issue which was perhaps fixed last months (or it even works now?), because only 1st ephemeral was added: https://github.com/saltstack/salt/issues/8631

I would test the last month anncoued versions 2015.5.5 or 2015.8.0 but they aren't in the public repository available yet...^^

[2015-10-13 11:54] Inveracity opened #27897 "request to add \r escape character for salt.states.host for windows"
Heya

I'd like to request including the carriage return "\r" when appending to the hosts file on windows,
otherwise the hosts file becomes a single line when opening it up in notepad.

@henriksp45
@jensbrask

[2015-10-13 12:17] Reiner030 commented on #20828
Hi,
for 2015.5.3 it's still open for NFS mounts (hope this is the right issue to append the problem ^^)

I checked /usr/lib/python2.7/dist-packages/salt/states/mount.py as found in https://github.com/saltstack/salt/issues/22586 => patch https://github.com/saltstack/salt/commit/0682b1049e7e94b03482686fed5cd63370e5356f

but there are options missing for NFS mounts:

vers=3,
rsize=32768,
wsize=32768,

[2015-10-13 12:28] molixrawdi commented on #17061
I have also a second node for testing running Ubuntu 14.04:

salt02:~$ salt-cloud --versions-report
                  Salt: 2015.5.3
                Python: 2.7.6 (default, Jun 22 2015, 17:58:13)
                Jinja2: 2.7.2
              M2Crypto: 0.21.1
        msgpack-python: 0.3.0
          msgpack-pure: Not Installed
              pycrypto: 2.6.1
               libnacl: Not Installed

[2015-10-13 12:35] srkunze opened #27898 "[salt-ssh] Salt-ssh Crashes Silently When Executed More Than Twice"
In our setup, we currently run more than two salt-ssh simultaneously:

[code]

Note that two salt-ssh calls in parallel work perfectly. More than 3 calls "fails" all of them except the last 2.

[2015-10-13 13:06] albertmfb opened #27899 "How to clean cachedir in minions"
In the saltstasck 2015.8.0 documentation (last release), I see that for cleaning state files we can use `salt '*' saltutil.clear_cache`, but for cleaning cache files, the only way is by first stopping the minion and then deleting the cache files before restarting it.

Is there another predefined way to do this task? or simply remove manually the /var/cache/salt/minion/files content..

Thanks in ad

[2015-10-13 13:11] molixrawdi commented on #17061
I have tested both with multiple commands from salt to ensure that there are no outstanding compatibility issues with libraries or clashes with versions.

[2015-10-13 13:24] molixrawdi commented on #17061
After testing, I came to the conclusion that one must install 'salt-cloud' via 'apt-get' and the salt repository instead of 'pip install' the  pip install will fail due to unsolved dependencies.

[2015-10-13 13:49] syphernl opened #27900 "event.fire_master failing with nacl encrypted pillars"
It seems like `event.fire_master` doesn't like it when a NACL Encrypted pillar is being used.
In a normal highstate (which uses the same pillar) it works just fine, except when a state is triggered via `event.fire_master` which results in:

[code]

I couldn't find the particular error in the log though (since a LOT happens when two minions are executing states, loading pillars etc at the same time

[2015-10-13 14:00] DmitryKuzmenko commented on #25784
Possibly related to #23373

[2015-10-13 14:04] cachedout commented on #27046
@souravsingh Yes, this issue is open. Feel free to work in this area. :]

[2015-10-13 14:07] DmitryKuzmenko opened #27901 "Salt command line argument --pillar confuses loader setting opts['pillar'] to boolean value."
Found during debug, currently isn't visible externally, but wrong by design.
--pillar command line argument sets 'pillar' key to True or False in self.config via self.defaults that is used as a loader argument where opts data expected. If opts contains 'pillar' it expects it to be a dict object containing pillar data, not bool.

The easiest way to fix is to set another target for --pillar command

[2015-10-13 14:19] souravsingh commented on #27046
Do I have to put the line in this file?- https://github.com/saltstack/salt/blob/develop/doc/topics/development/labels.rst

[2015-10-13 14:21] blast-hardcheese commented on #27487
The problem is that git.latest checks to see if the current commit is an ancestor of the remote ref, checking that the retcode of `--is-ancestor` is 0. Old versions of git always return non-zero for that flag though, so it always fails that check.

The problem I am experiencing is on the initial highstate the repo is empty, so it's cloned.

On subsequent highstates, the current ref (say 123abc) is

[2015-10-13 14:24] terminalmage commented on #27487
@blast-hardcheese did you not see my [earlier comment](https://github.com/saltstack/salt/issues/27487#issuecomment-147535273)?

[2015-10-13 14:25] cachedout commented on #27046
Yes, that file corresponds to the documentation page linked earlier in this thread.

[2015-10-13 14:30] blast-hardcheese commented on #27487
@terminalmage: I might be missing some context for the issue-- I thought you were still trying to track down

[2015-10-13 14:44] terminalmage commented on #27487
@blast-hardcheese yeah... Like I said, these are separate issues. The ``--is-ancestor`` issue you identified is handled by the pull request I opened yesterday. Secondarily, I am now adding an ``update_head`` argument to the ``git.latest`` state which, if set to ``False``, will return a ``True`` result from the state without updating HEAD when the remote rev exists locally.

Sorry for not explainin

[2015-10-13 14:59] drawsmcgraw commented on #27487
@terminalmage #27883 sounds great. Looking forward to the next release so I can upgrade to 2015.8. If there's a specific tag/branch you can point me to, I'd be glad to test it out in my environment.

Thanks!

[2015-10-13 15:05] rallytime commented on #27880
The issue about making sure the bootstrap script points to our official SaltStack repos already has some bugs open about in the [salt-bootstrap](https://github.com/saltstack/salt-bootstrap/) repo:
- https://github.com/saltstack/salt-bootstrap/issues/668
- https://github.com/saltstack/salt-bootstrap/issues/659
- https://github.com/saltstack/salt-bootstrap/issues/667

In regards to your comment `isn

[2015-10-13 15:11] terminalmage commented on #27487
@drawsmcgraw The PR was just merged, so the 2015.8 branch now has this fix.

[2015-10-13 15:18] rallytime commented on #17061
@molixrawdi Ok - So the `vmware.py` driver isn't included by default in the 2015.5.3 release as it was added later to the 2015.5 branch. (It's there in the 2015.8.0 release though.) If you want to use the `vmware.py` driver in your 2015.5.3 install, you need to [grab the driver](https://github.com/saltstack/salt/blob/2015.5/salt/cloud/clouds/vmware.py) and put it in your clouds directory. Since yo

[2015-10-13 15:18] dmurphy18 commented on #27542
@richardhansen There is a need for multiple repo's due to the need to
provide different versions of the Salt packages,
for example: salt v2015.5.6 and v2015.8.0. But a repo cannot have two
versions of the same package for the same architecture,

see
http://anonscm.debian.org/gitweb/?p=mirrorer/reprepro.git;a=blob_plain;hb=HEAD;f=docs/FAQ
Question 3.1

This would be a problem with what you suggest,

[2015-10-13 15:20] rallytime commented on #20828
Thanks for the update @Reiner030.

@garethgreenaway You _might_ be interested in this one.

[2015-10-13 15:27] rallytime commented on #26706
@Reiner030 Yes, packaging in the community repos is a little behind our release schedule. In case you haven't seen any posts about it yet, we've started our own packaging repo (SaltStack repo vs a Community repo) which should have up-to-date packages. There's more information about that in our updated [Installation Docs](https://docs.saltstack.com/en/latest/topics/installation/index.html) or at ou

[2015-10-13 15:47] blast-hardcheese commented on #27487
@terminalmage: My apologies, I must have lost the thread. Glad you didn't :)

[2015-10-13 15:51] terminalmage commented on #27487
@blast-hardcheese Well, I didn't mention the additional argument I was adding.  I could have made things easier to grok had I done so. :)

[2015-10-13 15:55] schlagify commented on #27772
I've added additional debug output when `deploy: False` here:  https://gist.github.com/schlagify/3426597fb23a839193ab

Same issue, hostname is still the same as it was for the template.

--snip
    id:
        lnprdns01
--snip

The above is useful, however salt-cloud is not really setting the `id` grain to `lnprdns01`, which is what I think I need in order to finish setting up the new vm.

[2015-10-13 16:52] nmadhok commented on #27772
@schlagify ``id`` is different from ``hostname``. What is the output when you run ``hostname`` command on your newly built server? Do you already have salt-minion installed and configured in your template? If that's the case then remove any configuration under /etc/salt/ on the template and let the bootstrap script install/configure it for you.

Also, In your map file, specify the following:

[cod

[2015-10-13 16:55] #27892 closed

[2015-10-13 17:27] rallytime commented on #27414
@scottleibrand Hrm...I actually wasn't able to reproduce this on an Ubuntu Master running a local minion. I have this simple state:
[code]
Which, the first time I run it, performs the update as expected, returning with changes:
[code]
Then, when I run the state again immediately after, I get the following expected (GREEN) result:
[code]
Versions report:
[code]
Can you post your state file? Are you

[2015-10-13 17:40] jfindlay commented on #27814
@ogabrielsantos, I think that that would be possible, thanks.

[2015-10-13 17:45] jfindlay commented on #27815
@tbaker57, thanks for the report.  You are welcome to submit a pull request to fix this.

[2015-10-13 17:48] jfindlay commented on #27817
@menglong81, thanks for the report.  What version of salt are you using?

[2015-10-13 17:50] jfindlay commented on #27818
@asg7443, thanks for the report.  This is a duplicate of #27437 and #27228.

[2015-10-13 17:50] #27818 closed

[2015-10-13 17:51] jfindlay commented on #27819
@SaschaSchuenemann, thanks for the report.  We should add support for this.

[2015-10-13 17:59] jfindlay commented on #27820
@ramonamis, thanks for the report.  Are you sure you are on a 64 bit system, because this is a [known problem](https://github.com/saltstack/salt/issues/27437) on 32 bit systems.  Tornado experimental as a transport mechanism, but it has been factored into other areas of salt, which is why it is a required dependency.

@eddpayne, @dmurphy18 has been constructing the packages and repos and will be b

[2015-10-13 18:00] jfindlay commented on #27825
@martinhoefling, thanks for the report.

[2015-10-13 18:05] jfindlay commented on #27828
@cubranic, thanks for the report.  The deprecated version is incorrect, it should be 2015.8.0 (#20707).

[2015-10-13 18:08] jfindlay commented on #27830
@unassassinable, I don't know of any states that handle these kinds of systemctl commands.  You could try
[code]

[2015-10-13 18:09] jfindlay commented on #27834
@kt97679, thanks for the feature request.

[2015-10-13 18:12] menglong81 commented on #27817
Salt Version:
           Salt: 2015.8.0

Dependency Versions:
         Jinja2: 2.6
       M2Crypto: 0.21.1
           Mako: Not Installed
         PyYAML: 3.10
          PyZMQ: 13.1.0
         Python: 2.7.4 (default, Dec 24 2013, 16:30:42)
           RAET: Not Installed
        Tornado: 4.2.1
            ZMQ: 4.0.4
           cffi: Not Installed
       cherrypy: 3.7.0
       dateutil: Not Installe

[2015-10-13 18:14] jfindlay commented on #27842
@Joeskyyy, thanks for the report.  Related to #8516.

[2015-10-13 18:16] Joeskyyy commented on #27842
@jfindlay Awesome, tried to search the issues before creating this and didn't catch that one (:

Does the salt team have a general ETA for this? Even something like "next release" is fine, just looking at how long I'll have to use some custom fudging in the interim.

[2015-10-13 18:18] jfindlay commented on #27844
@jerob, thanks for the report.  Do you have anything in your master config?  Did you upgrade or install a new master?

[2015-10-13 18:18] bbyhuy commented on #20240
same issue here. Usually restarting the salt-minion service fixes it temporarily, but it eventually comes back later.

[code]

[2015-10-13 18:22] jfindlay commented on #15122
This is a duplicate of #10032.

[2015-10-13 18:22] #15122 closed

[2015-10-13 18:25] jfindlay commented on #25953
Issue 3 has already been reported in #10032.

[2015-10-13 18:26] jfindlay commented on #27846
Thank you everyone for reporting.  This issue is a duplicate of #10032.

[2015-10-13 18:26] #27846 closed

[2015-10-13 18:31] jfindlay commented on #27847
@papiveron, thanks for the report.  I am not sure why you would be seeing this on only one of several identical systems.  Normally I would say 'have you tried 2015.8.0?', but I don't think that may be probably related.  Have you asked on salt-users?

[2015-10-13 18:33] jfindlay commented on #27847
@papiveron, are you running an old version of libc, or could there be any other old/inconsistent libraries on the system?

[2015-10-13 18:36] jfindlay commented on #27848
@chekolyn, thanks for the report.  Minions cannot push files to arbitrary paths on the master for security reasons.  Neither can/should they access other minion's info without explicit permission.  There are already mechanisms in salt that allow direct minion to minion access, such as peer.  Something like this could be implemented here.

[2015-10-13 18:38] jfindlay commented on #27854
@non7top, thanks for the report.

[2015-10-13 18:40] jfindlay commented on #27855
@dverbeek84, thanks for the report.  What version of salt are you using?

[2015-10-13 18:42] jfindlay commented on #27856
@ogabrielsantos, thanks for the report.

[2015-10-13 18:44] jfindlay commented on #27857
@gravyboat, thanks for the report.

[2015-10-13 18:47] jfindlay commented on #27858
@srkunze, thanks for the report.  The [failhard](https://docs.saltstack.com/en/latest/ref/states/failhard.html) option should stop state execution at the first error.

[2015-10-13 18:49] lolllpop opened #27906 "state file.line buggy"
The new state file.line seems to be buggy in 2015.8.0. I have a simple test.cfg file with the following two lines of content:

tst.cfg:
[code]
and this state for testing:
[code]
Executing highstate test=True, the log shows a) a strange diff with replacing the whole file instead of patching only the one targeted line, and b) the new content is shown on only one line. And c), test dry-run is ignored

[2015-10-13 18:52] jfindlay commented on #27862
@srkunze, thanks for the report.  Yes, unfortunately, you are right.  My first reaction upon seeing this issue was 'Oh great, another saltenv issue'.  The meaning of saltenvs has been overloaded to the point of it being confusing in exactly the manner you describe.  In 2015.8.0, [some config options](https://docs.saltstack.com/en/latest/ref/states/top.html) were added to top file handling of salte

[2015-10-13 18:55] jfindlay commented on #27863
@danielgblanco, @Inveracity, thanks for the report.  @danielgblanco, let us know what you find out.

[2015-10-13 18:56] jfindlay commented on #27865
@Inveracity, thanks for the report.

[2015-10-13 19:12] zmalone commented on #27267
This problem also seems to appear on Ubuntu 14.04LTS with the repo.saltstack.com repo on a fresh install of both a master and minion.

[2015-10-13 19:35] drawsmcgraw commented on #27487
@terminalmage Beautiful! Can confirm it works in my environment. Thanks a bunch!

[2015-10-13 19:40] twangboy commented on #26901
@efficks Could you please post the salt versions report as well as the operating system you are seeing this on?

[2015-10-13 19:48] jfindlay commented on #27866
@johnccfm, thanks for the report.  Is there any other information you can provide such as configs or extra features in use?

[2015-10-13 19:51] jfindlay commented on #27867
@jacky35, @johnccfm, thanks for the report.

[2015-10-13 19:53] UtahDave commented on #27866
@johnccfm could you try changing altering this setting in your 2015.8 minion config?

`multiprocessing: False`

[2015-10-13 19:54] msheiny commented on #27598
:+1:  I'm also seeing this on salt `2015.5.3`

[2015-10-13 19:54] dmurphy18 commented on #27820
@eddpayne the problem with the python-tornado dependency was fixed before we announced 2015.8.0, and should not be causing any issues now.  Could you have cached the repo before we announced ?.  I shall check to make sure the same fix for Debian 8 was carried forward to Ubuntu in the meantime.

[2015-10-13 19:55] jfindlay commented on #27869
@johnccfm, thanks for the report.  This is a duplicate of #27093, which has been fixed in 2015.8.1.

[2015-10-13 19:55] #27869 closed

[2015-10-13 19:55] terminalmage commented on #27487
@drawsmcgraw Thanks for taking the time to confirm!

[2015-10-13 19:55] jfindlay commented on #27871
@rbranche, thanks for the report.

[2015-10-13 19:57] jfindlay commented on #27872
@dennisjac, thanks for the report.  this would be a good feature to have.

[2015-10-13 19:57] srkunze commented on #27858
@jfindlay Thanks for recognizing both issues. Let's see if somebody can propose a solution for those.

Btw. why didn't I know of failhard? Sometimes I get the feeling that it's hard to find a way through the docs. =(

[2015-10-13 20:01] jfindlay commented on #27873
@kt97679, thanks for the report.  Part of the issue here is that salt waits for the minion to send progress reports on what it is doing with the job that was sent down.  This situation is not unique to ssh minions, but all minions will have the same behavior.  If the minion gets stuck running a state, waiting for input, for example, the situation would be the same in either case.

[2015-10-13 20:04] srkunze commented on #27862
I am sorry. :) Are there some plans to clear things up?

What I can see are three kinds of solutions:

1) fix those error messages: refer to the /etc/salt/master and file_roots when needed
2) make optional, i.e. defaulting to 'base' env
3) separate saltenv out into two distinct concepts: file trees and state orchestration

NOTES:
1) a quick fix
2) a possible work around
3) the prime solution

[2015-10-13 20:09] ryan-lane opened #27911 "rules_egress in boto_secgroup should not manage egress rules, if set to None"
This is a critical issue in 2015.8+. rules_egress support was added to boto_secgroup, and it changes the behavior in a way that will cause outages for anyone using it.

In the previous behavior, when a security group was created (or modified), the default egress rule was applied to the security group, which is to allow all egress traffic. With the addition of support for rules_egress, the boto_sec

[2015-10-13 20:16] jfindlay commented on #27046
@souravsingh, a better place would be in https://docs.saltstack.com/en/latest/topics/development/contributing.html.

[2015-10-13 20:20] jfindlay commented on #27817
@menglong81, is it possible for you to also post your configs on your master and syndic?  Thanks.

[2015-10-13 20:21] jfindlay commented on #27842
@Joeskyyy, I'm not sure.  We have many things we need to get done for Boron and don't have the resources to work on everything.  Help is appreciated if you can contribute.

[2015-10-13 20:25] jfindlay commented on #27858
@srkunze, we have a full time documentation expert, @jacobhammons, on staff now to organize the cacophony.  If you have any documentation suggestions, be sure to write them into an issue so we can work on them.

[2015-10-13 20:28] srkunze commented on #27858
@jfindlay Ohhh, let me see...

[2015-10-13 20:30] srkunze commented on #22191
Seems like this is related: https://github.com/saltstack/salt/issues/27753

[2015-10-13 20:31] jfindlay commented on #27862
Part of the challenge is to not break backwards compatibility.  There are people who have thought more deeply and thoroughly about this issue than I, such as @whiteinge and @cachedout, who would be able to offer a more discriminating opinion.  I wonder whether we could get by with more clarity and some thorough, well-motivated examples in the documentation.

[2015-10-13 20:39] srkunze opened #27912 "[Docs] In-place, Search-As-I-Type Page Lookup"
I would love to see a in-place, search-as-I-type lookup on https://docs.saltstack.com/

**I always stop myself when I am about to use the search because it is not immediate.** I should fast and smoothly shorten the list of all doc pages as soon as I start to type as keyword such as: 'saltenv' (I had that issue recently).

The main issue with the docs I see is:

1) too many many many pages with sim

[2015-10-13 20:48] rallytime commented on #27815
Oh, I fixed this before I saw the comment above. This has been fixed on the 2015.8 branch with #27914.

[2015-10-13 20:49] srkunze opened #27915 "[Doc] Better Nagivation in Topic Hierarchy"
1) shorter top level doc
2) sensible order of the toplevel topics
3) better visible doc hierarchy (distinguishing topics and subtopics and so on and so forth)
4) able to open and close subtopics independently, to look around easily and not just a single one

Background: there has been many examples in the past, where patient salt devs such as @jfindlay, @rallytime or @basepi who pulled out doc pag

[2015-10-13 20:50] srkunze opened #27916 "[Doc] The State System/Remote Execution as Toplevel Topic"
Salt is about establishing states on minions.

Where is the toplevel topic in https://docs.saltstack.com/en/latest/ that says: "The State System"?

[2015-10-13 20:50] jfindlay commented on #27915
Thanks, @srkunze.

[2015-10-13 20:53] rallytime commented on #27915
Great suggestions @srkunze! I agree that there should be some better ways to see what goodness lies within the docs. Oftentimes if you don't know something is there, you'll never find it because certain pages take a couple of tries to find what you're looking for.

@jacobhammons This one has your name on it! :D

[2015-10-13 20:54] techhat commented on #27916
Salt is about remote execution. States are one type of remote execution.

Look for "Getting Started with States".

[2015-10-13 21:02] srkunze commented on #27916
@techhat Thanks for your suggestion. I am not talking about tutorials. Tutorial are about showcasting the some major use cases and introduce new users. However, it should not be the reference for the state system.

These are toplevel topics:
  - "The Salt Mine"
  - "Salt Even System"
  - "Salt SSH"

So, I wonder where my beloved state system resides. I don't know. :(

I could start with "Remote Ex

[2015-10-13 21:03] basepi commented on #27709
All pillar compilation is master side. The fileserver stuff you're talking about is a minion side config, that the minion chooses to obey. If we implemented some sort of environment control on the master side for pillar, what would that look like? A dictionary full of minion names and assigned environments? I could potentially see supporting something like this, so that topfile editing wouldn't be

[2015-10-13 21:04] redarqas commented on #25344
It would be very useful to make `config-dir` override working with salt cli. Not making it global config option.

[2015-10-13 21:05] basepi commented on #27835
There's not a great way to get log information from the minion yet. I've been mulling over this problem in my mind. My primary debugging strategy has been to ssh into the remote minion, and run the `salt-call` command manually. If you're in the tmp directory where salt-ssh is deployed, you can just do something like `salt-call -c ./ --local -ldebug test.ping` to run the command and see where thing

[2015-10-13 21:10] techhat commented on #27916
To clarify, you want the topics listed under https://docs.saltstack.com/en/latest/#configuration-management to have their own link on the side of the docs?

Also, it looks like `Targeting Minions` contains the information for remote execution, excluding the full list of modules on the main docs page.

Ping @jacobhammons.

[2015-10-13 21:21] srkunze commented on #27916
@techhat Yes, something like that. Seems to relate to https://github.com/saltstack/salt/issues/27915

(I feel like an idiot not finding https://docs.saltstack.com/en/latest/#configuration-management .)