[2018-01-05 14:21] ari commented on #44913
Well, yes it should fix the problem, but now downgrades are impossible. Granted its a pretty rare situation, but still...

[2018-01-05 14:25] rallytime commented on #44913
@eradman Can you swing back around here? We should be able to pass the `force` options via kwargs so that we can maintain the downgrade functionality. Does that sound good to you @ari?

[2018-01-05 14:40] jryberg commented on #45037
@gtmanfred I would love to, but I don't have enough Python knowledge. I'm working to get there but it's a long way for me right now.

[2018-01-05 14:55] rallytime commented on #44451
@UtahDave confirmed that this was a duplicate with @terminalmage. The fix for this is in #44751 and will be available in the `Oxygen` release. Closing. :)

[2018-01-05 14:55] #44451 closed

[2018-01-05 14:57] rallytime commented on #43340
This is fixed by #44427, which I have backported to 2017.7 in #45255. Closing. Thanks everyone!

[2018-01-05 14:57] #43340 closed

[2018-01-05 15:20] Ch3LL commented on #44357
Thanks for the input @thatch45 will setup as a feature request then :)

[2018-01-05 15:22] Ch3LL commented on #35070
No worries thanks for the insight. For now this is free for anyone else to give it a go then :)

[2018-01-05 17:54] eradman commented on #44913
@rallytime you're observation about communicating the `force` kwarg is good. This does make downgrades possible on FreeBSD

[2018-01-05 17:57] hibbert opened #45300 "Can not modify existing RDS instance via boto_rds.present"
### Description of Issue/Question

### Setup

### Steps to Reproduce Issue
* Use boto_rds.present to create a RDS instance omitting the tags part
* Database is created
* Add tags into boto_rds.present
* Nothing is update

State file only has create in it https://github.com/saltstack/salt/blob/develop/salt/states/boto_rds.py, it doesn't call modify_db_instance in https://github.com/saltstack/salt/b

[2018-01-05 18:02] rallytime commented on #44913
@eradman Party! Thanks for fixing that so quickly. I'll back-port both of the the fixes listed here so this will be fixed for 2017.7.3.

[2018-01-05 18:11] #45126 closed

[2018-01-05 18:23] twangboy commented on #26598
Yeah, you can specify your git repo in the `winrepo_remotes` config option on the master and then do a `salt-run winrepo.update_git_repos` to pull your repo down.
Not sure if we're supporting the `root` option in git however. I know @terminalmage has done quite a bit of work with GitFS, but I'm not sure if `winrepo.update_git_repos` is leveraging that.

[2018-01-05 18:55] frleb commented on #16687
+1

[2018-01-05 19:09] twangboy opened #45301 "Ctl+C causes stack trace on Windows"
### Description of Issue/Question
When running salt-minion from the command line in Windows using `salt-minion -l debug`, hitting `ctl+c` to end the process causes the following stack trace:
[code]

### Setup
Pull down the head of the Oxygen branch
Install a dev environment by running the `build_env_2.ps1` script in `pkg\windows` (`powershell -file build_env_2.ps1`)
Install salt by running the fol

[2018-01-05 20:48] twangboy commented on #33003
Done

[2018-01-05 20:48] #33003 closed

[2018-01-05 21:45] twangboy commented on #43022
@damon-atkins Are you still seeing this error? I am unable to replicate this. I just applied a state and did not see the stack trace.

Does this happen on all states or a state you're using? Does it only happen on highstates?

[2018-01-05 22:06] dubb-b commented on #44743
@Ch3LL this should be good to go now. It takes a long time to run the tests, I am not sure if that is normal. But that box is pretty over allocated.

[2018-01-05 23:07] #27067 closed

[2018-01-05 23:07] #19384 closed

[2018-01-05 23:07] #19252 closed

[2018-01-05 23:07] #27066 closed

[2018-01-05 23:11] garethgreenaway commented on #45290
@sumeetisp Thanks for the report.  In the ext_pillar function the `pillar` argument is the existing pillar values, the args and kwargs are additional pillar values that should be added.  The example from the documentation that you included illustrates this with the three calls to ext_pillar, each one building on the last with additional values.

[2018-01-05 23:23] garethgreenaway commented on #45300
@hibbert Thanks for the report.  This is definitely something that would be nice to have supported in the state module, especially since it's available in the execution module.  Approving for a future feature addition.  Thanks!

[2018-01-05 23:31] Zaunei commented on #44032
Is there anything new on the issue? This bug is pretty annoying.

[2018-01-05 23:32] garethgreenaway commented on #45283
@alext9 Thanks for the report.  The reason the first example does not work but the second example does work is because the requisite is looking for the name of the state, not the name of the service.
If you update the state and combine the `pkg` and `service` pieces:
[code]

Then you'll be able to reference the service with just `nginx`.

[2018-01-05 23:33] thatch45 commented on #44032
Yes, this is annoying, I think it just got lost in the fray. We should look into this, and it should be an easy fix

[2018-01-05 23:37] garethgreenaway commented on #45292
@terminalmage Have you seen this?

[2018-01-05 23:45] garethgreenaway commented on #45274
@NTmatter Thanks for the report.  I was able to duplicate this issue.  It looks like you're on the right track for a fix and we would definitely welcome a pull request.

[2018-01-06 00:09] garethgreenaway commented on #45288
@guettli Thanks for the report.

[2018-01-06 00:25] garethgreenaway commented on #45286
@mwtzzz Thanks for the report.  Unfortunately what you're trying to do is not currently possible.  The job_args and job_kwargs are designed to be passed along to the function that you're calling, the `-l debug` is not something that is passed to the state.sls function, but rather passed to the salt binaries.

[2018-01-06 01:46] #27047 closed

[2018-01-06 05:16] mwtzzz commented on #45286
Ok, thanks for the info.

[2018-01-06 05:16] #45286 closed

[2018-01-06 05:28] joelwhitehouse commented on #45152
Another impact of this issue is that a ```pkg.installed``` state with http/s locations in ```sources``` also has its sources redownloaded every time.  For example, this state:
[code]
returns the following output:
[code]
That's 15 minutes just to verify that vagrant is already installed!  I thought salt had completely hung but it turns out it's just this issue again.

[2018-01-06 08:10] damon-atkins commented on #43022
@twangboy, I think you updated  salt.utils.sanitize_win_path_string() to fix it.

safe_filename_leaf(file_basename) is now used in a critical bit of salt code pushed into 2017, changes character which any file system does not like to URL encoded. Idea being its safe on any file system, rather per filesytem per OS approach.

safe_filepath() splits the path and calls safe_filename_leaf() for each pa

[2018-01-06 10:51] guettli commented on #45266
This issue is about the specific problem which I had.

But looking at the code lines above and below my patch, I still think there is something wrong.

I wrote about it here: https://groups.google.com/forum/#!topic/salt-users/Q3wkW81DF-U

Unfortunately there was no reply up to now.

@Ch3LL  What do you think about my message on the salt-users list?

[2018-01-06 11:33] #21927 closed

[2018-01-06 11:40] Mannoj87 opened #45310 "Malformed topfile if variable is not given in salt call"
### Description of Issue/Question
Malformed topfile if variable is not given in salt call.
As per below top.sls file, I should be able to execute if variable is not given as well.

### Setup
top.sls

[code]
### Steps to Reproduce Issue
Works -> MYENVVAR="master" salt-call state.highstate
Doesn't work -> salt-call state.highstate

### Versions Report
Salt Version:
           Salt: 2015.8.8

Depende

[2018-01-06 14:24] sastorsl opened #45311 "Conditional group.absent - Only remove when group is not in use"
### group.absent should have an optional condition - remove only if not in use
If such an option existed you could safely use group.absent where many users might share the same group. If the group is in use by any user it should abort successfully _if_ this option was turned on.

salt '*' group.absent foo onlyifempty=True

The default could be discussed, but False will adhere to the current usage.

[2018-01-06 16:29] damon-atkins commented on #33003
Thanks

[2018-01-06 20:19] gtmanfred commented on #45310
[code]

Each match needs to be a list, what you end up with in yours is `vin-m*: None` and None is not a list, if you wrap that entire block with an if statement that only adds that section if the environment variable is set, then  it will work.

[2018-01-06 21:38] yagnik commented on #45252
For now I bypassed it by passing salt dict into the module :(
As soon as I get some time, I'll try to figure this one out but from the looks of the code in lazyloader and how we inject globals, it doesn't look like I'll have a clean way to do this.

[2018-01-06 21:38] #45252 closed

[2018-01-06 22:38] golmaal opened #45312 "Unable to modify list based beacons in salt:2017.7 branch"
### Description of Issue/Question
Beacons such as diskusage cannot be modified. This issue requests back-porting relevant parts of @garethgreenaway beacons' re-write in develop to 2017.7. Please see below for a very specific change which addresses the issue.

### Setup
Setup salt-master and salt-minion on a docker using bootstrap-salt.sh git 2017.7 method.
Install python-psutil

### Steps to Repro

[2018-01-06 23:01] dwoz commented on #44449
This is also broken under python2

[2018-01-07 04:22] golmaal commented on #45312
Hi Gareth, the solution I tried to use worked with ps and diskusage, but broke for inotify. I guess there more to this problem then I originally though. Please try inotify and diskusage beacons for your solution in 2017.7 branch.

[2018-01-07 05:11] damon-atkins opened #45314 "RFE: master file server addition information e.g. ETag"
### Description of Issue/Question
Can the backed be updated so instead of just returning simple information i.e. filename it always returns a dict
Now looks like
[code]

Future look, however every command should receive a dict for each file name, may not use the info
[code]

ETag its up to the client to record it so it knows if the file has change or not. The client does not care how it was genera

[2018-01-07 07:33] cmclaughlin commented on #14183
@rallytime can you please escalate this issue? I tried bumping up my minion to trace level logging, but don't see anything useful.  I also looked for `mod_watch`, but don't see anything obvious.

[2018-01-07 14:52] lorengordon opened #45315 "Grains file does not honor --config-dir"
### Description of Issue/Question

When using the `--config-dir` option, grains are not read from or written to `{config-dir}/grains`.

### Setup

Create a config dir:

[code]

Also create a grains file in the config-dir with the `bar` grain:

[code]

### Steps to Reproduce Issue

[code]

Note how the grain `foo` is written to the default config-dir, `C:\salt\conf\grains`, rather than the custom c

[2018-01-07 21:56] gtmanfred commented on #45314
@saltstack/team-core does anyone have any opinions about this?

Thanks,
Daniel

[2018-01-07 22:01] gtmanfred commented on #45311
I am marking this as a feature request.

group.absent is a state, so there would need to be changes to that, but it seems like a reasonable idea.

If you had time to submit a PR we would appreciate it.

Thanks,
Daniel

[2018-01-08 03:26] dwoz commented on #44449
@brianthelion Are you able to try this patch? Also, what other bugs would you be looking to throw a bounty on? I may be able to help.

[2018-01-08 03:37] sumeetisp commented on #45290
so if use the following command,
salt-call cloud.profile someprofile vmname pillar={"profile":"someprofile"}

Will the pillar value here be available in my external pillar via pillar attribute in
def ext_pillar( minion_id, pillar, *args, **kwargs ):

Or is there any other way to get the profile value in my external pillar.

[2018-01-08 04:20] zhaopf1112 commented on #31212
I have the same problem

[2018-01-08 05:04] #20729 closed

[2018-01-08 06:01] sumeetisp opened #45319 "Cloud providers - location attribute"
### Description of Issue/Question

I have seen that if we are using something other than 'us-east-1' (which is default in salt code) then location has to be mentioned in provider explicitly.

if location is mentioned in provider then it will be required to create providers for each of the location of ec2 which somehow does not seem correct.

### Setup
(Please provide relevant configs and/or SLS fi

[2018-01-08 07:04] vnitinv commented on #45287
Working with latest code. Thanks @mirceaulinic

[2018-01-08 07:04] #45287 closed

[2018-01-08 09:20] vnitinv opened #45320 "[ERROR ] Scheduled job "enabled" should have a dict value, not <type 'bool'>"
### Description of Issue/Question
Today I synced my repo with development and starting seeing log with some error. Nothing was changed in any of the config file.

[code]
### Setup
proxy executed using command:
```salt-proxy --proxyid=proxy01 -l debug```

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report
[code]

[2018-01-08 09:33] vnitinv commented on #45320
Looks to be due to change in operator. `or` was changed to `and`

https://github.com/saltstack/salt/commit/7612a5dd14c5b03dda28a4f422705c84b90b02b2#diff-5d25431a967d6d0ff595ab14e9ac4291R1131

[2018-01-08 11:23] mnieber commented on #29152
@rallytime I'm still confused, could you explain again? It says "name - The name of the system user to manage.". By "system user" you mean a user of the operating system? The `postgres_user` state is not supposed to manage a system user, right?

It looks like I managed to create a database user using the "name" field (in other words: without the db_user field), so the original question (is db_user

[2018-01-08 12:42] chschmitt opened #45321 "salt-ssh: specify minion's python interpreter in roster file"
### Description of Issue/Question
I am using salt with python 3. I would like to specify the python interpreter that is used on a specific salt-ssh minion via the roster file. I have a minion that is still stuck on Ubuntu 12.04 (Python 3.2) but that has a self-compiled Python 3.5 installed.

The system's python3 interpreter on the minion throws an exception (see below). If it was possible to tell

[2018-01-08 13:46] dhs-rec commented on #38551
Same problem here. So how do I get the files into the Minion's saltenv? Here's what I get if I specify a saltenv:
[code]
For reference, the same without specifying an environment:
[code]
On the minion, this results in *C:\salt\var\cache\salt\minion\files\foo\win\repo-ng* containing only a *winrepo.p* file, while *C:\salt\var\cache\salt\minion\files\base\win\repo-ng* also has the package sls files

[2018-01-08 15:04] Ch3LL commented on #45266
From your google groups message "This code does swallow the orignal ValueError and creates a nice CommandExecutionError. But the original root of the error gets lost :-("

can you elaborate on what you want this try,except to do. We don't want to stacktrace with teh valueerror hence that error message but maybe you are saying the valueerror could be for other reasons?

[2018-01-08 15:06] Ch3LL commented on #38551
ping @saltstack/team-windows see above ^

[2018-01-08 15:28] gtmanfred commented on #45320
@garethgreenaway can you take a look at this? was there a reason that this was changed from `or` to `and?

Thanks,
Daniel

[2018-01-08 15:31] gtmanfred commented on #45319
each provider corresponds to a single setup, and if you want to build in more regions, you have to specify them.  So you need one provider for each region you want to be able to build in.

[2018-01-08 15:31] #45319 closed

[2018-01-08 16:01] #44961 closed

[2018-01-08 16:12] gtmanfred commented on #45315
![screen shot 2018-01-08 at 9 12 00 am](https://user-images.githubusercontent.com/732321/34679706-05f8bec0-f454-11e7-9d37-86a7b4dd0061.png)

I am unable to replicate this, it seems to be working fine for me with 2016.11.8 on windows 2016

Daniel

[2018-01-08 16:14] garethgreenaway commented on #45320
That looks to be a typo on my part.  Fixed in that PR.

[2018-01-08 16:20] damon-atkins commented on #38551
You need to setup environments on the master first.  Which means you have them listed in your master conf or master.d directory.  Don't copy the files by hand onto the minion (I don't think you are). When they are refresh all sls files are deleted first.

The hard spot is getting the files in the correct place on the master.

There are some issues which are closed or open, with help.

But we would

[2018-01-08 16:30] garethgreenaway commented on #45173
@V3XATI0N Still trying to duplicate this issue so I have a couple more questions.  Are you using any of the alternative backends for the minion cache on the master, eg. consul, etcd, etc. or are you using the stock file system based one?  If you're using the file system one, can you check in `/var/cache/salt/master/minions/` and see if you see directories for your various minions?  Thanks!

[2018-01-08 16:31] gtmanfred commented on #45320
thanks @garethgreenaway !

[2018-01-08 16:33] lorengordon commented on #45315
@gtmanfred Try doing it _without_ creating the minion file first.

[2018-01-08 16:44] golmaal opened #45325 "Feature request to display usage of a runner just like it's done for execution modules"
### Description of Issue/Question
When an execution module function is called incorrectly, it shows a user friendly error (Passed invalid arguments) and displays the Usage of the function. However, when a runner module function is called incorrectly, it simply displays an exception

### Setup
[root@2017 salt]# salt-call pkg.version_cmp
[code]
[root@2017 salt]# salt-run pkg.list_upgrades
[code]
###

[2018-01-08 17:04] #45162 closed

[2018-01-08 17:07] terminalmage commented on #45243
This actually has nothing to do with unicode, it was broken by using `somedict.values()` where we should be using `list(six.itervalues(somedict))`. I tracked this back to https://github.com/saltstack/salt/pull/43053.

This is fixed in https://github.com/saltstack/salt/pull/45326.

CC: @DmitryKuzmenko

[2018-01-08 17:17] gtmanfred commented on #45325
totally reasonable.  tagged as a feature request.

Thanks!
Daniel

[2018-01-08 17:32] gtmanfred commented on #45315
Ok, i am able to replicate it if the `minion` file does not exist in the config directory.  My guess is that there is something in there on windows that validates the config-dir path, that just reverts back to `c:\salt\conf` if the minion config file does not exist.

@twangboy can you take a look at this?

Thanks,
Daniel

[2018-01-08 17:50] thatch45 commented on #45314
I am fine with this as a feature addition as long as the default interface does not change. Any changes to the master/minion apis needs to be very carefully managed as we don't want to create and master/minion incompatibilities.

[2018-01-08 18:25] frogunder opened #45328 "Windows Master - Oxygen Branch - Conflicting ID Error"
Running `pkg.latest_version` command on windows master gives `Conflicting ID Error` on Oxygen branch.
See this on both py2 and py3.

[code]

### Setup
Install WIndows Master and run command.

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2018-01-08 18:26] MaerF0x0 commented on #15850
Closing as I no longer work with these tools and as  @terminalmage mentioned. Its not supported (at least circa 2014) .

[2018-01-08 18:26] #15850 closed

[2018-01-08 18:34] jryberg commented on #45104
@Ch3LL
Do you need other information from me to move it from "Info Needed"?

Regards Johan

[2018-01-08 18:46] frogunder opened #45329 "Windows Master - Oxygen branch py3 - file.comment error."
On Windows Master on oxygen branch, py3 setup, trying to comment out a line using `file.comment` fails with this error:
[code]

### Setup
Set up Windows Master with py3.

Have a file with the text `Only a test`
Havs a state file with:
[code]

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2018-01-08 18:55] lorengordon commented on #45315
@gtmanfred Maybe there is a misunderstanding... I don't think it is a Windows issue. It's present on Linux as well.

[code]

salt-call --versions-report:
[code]

[2018-01-08 19:09] gtmanfred commented on #45315
What it seems like is happening, is if the conf_file does not exist in what the conf_dir is set to, we just keep the default, for conf_file and conf_dir, which is causing grains.setval to not write the grains to the correct file.

[2018-01-08 19:11] gtmanfred commented on #45315
[code]

yup.

https://github.com/saltstack/salt/blob/2017.7/salt/config/__init__.py#L2044-L2053

[2018-01-08 19:16] twangboy commented on #43022
@damon-atkins If I understand this correctly, we would change all references to `salt.utils.path.sanitize_win_path` to `salt.utils.files.safe_filepath` but we'll also need to pass the path separator. Sometimes that would be `\` in Windows but there are cases where it's passing a url so `/` would be appropriate. You can't just pass `os.sep` and be good.

I found references to `salt.utils.path.sanit

[2018-01-08 19:17] gtmanfred commented on #45315
Thanks @lorengordon this should be fixed by https://github.com/saltstack/salt/pull/45330

Daniel

[2018-01-08 19:27] terminalmage commented on #15850
@MaerF0x0 It seems like the preferred way of installing a specific version using homebrew is to use taps, since homebrew itself doesn't have a way of installing a specific version of something.

[2018-01-08 19:28] lorengordon commented on #45315
Makes sense to me, thanks @gtmanfred! Though I think you may want to keep the original `opts['conf_file'] = path` in place. Otherwise, the `conf_file` from the file will override the cli param. (Which would admittedly be a strange way to configure and call things, but still probably isn't the correct precedence ordering).

[2018-01-08 19:32] twangboy commented on #38551
@dhs-rec The files need to be in the `foo` environment on the master as well. ie: `/srv/salt/foo/win/repo-ng`

[2018-01-08 19:42] twangboy commented on #45328
@frogunder This is a problem with the repo-ng. Fixed here: https://github.com/saltstack/salt-winrepo-ng/pull/1145

[2018-01-08 19:42] #45328 closed

[2018-01-08 19:54] marcocaberletti commented on #30214
As a (nasty) workaround, I use Unix cron syntax to schedule highstate every hours but on different minute on each host.
The minute is computed using IP address of the machine: I take the IP address from grains, stripe off the subnet, convert to integer and then calculate % 60.

**Pillar**
[code]
Result:
[code]
It's not an elegant solution, but works.

[2018-01-08 20:41] #45329 closed

[2018-01-08 20:43] Paulo-Nunes opened #45334 "Compounding nodegroups fails when listing in YAML format"
### Description of Issue/Question
Adding a nodegroup that references another nodegroup and uses compound matches can fail if the compounding happens on a YAML list line. (It might be possible that this is not limited to nodegroups)
It seems each list element is not treated as a compound.  If this is not a bug, then the documentation should be updated to make this clear.

The intent of the below no

[2018-01-08 21:28] #19589 closed

[2018-01-08 21:28] #27097 closed

[2018-01-08 21:36] brianthelion commented on #44449
@dwoz Sorry for not watching this thread more closely; I've been away from devops for a few weeks. I can probably put some time on that later in the week. As for bounties, fixing https://github.com/saltstack/salt/issues/42493 would make my life MUCH better.

[2018-01-08 21:46] V3XATI0N commented on #45173
I have Redis configured but I'm not using it (the server definition is there but not the `cache` directive is disabled due to a different bug), so it's using the local filesystem for the minion data cache. There is indeed a minion directory for each minion in `/var/cache/salt/master/minions/`. I do have Syndic enabled (`order_masters: True`), but the vast majority of the minions are connected dire

[2018-01-08 22:06] amontalban commented on #22063
Thanks @MarloweW, will give it a try!

[2018-01-08 22:17] ZAM- commented on #40912
Is this fixed at all? By the looks of it, it is not.

[2018-01-08 22:54] brianthelion commented on #44957
@rallytime Just ran my older test suite and caught on thing unrelated to the `contents_pillar` issue:

[code]

[2018-01-08 23:39] garethgreenaway commented on #45173
@V3XATI0N Would you be able to make a simple manual patch to a file on your master to see if we can see what is happening here?
In:
`/usr/local/lib/python2.7/dist-packages/salt/utils/minions.py`
Inside the function:
`connected_ids`
Right above line 606, add a simple logging line:
`log.info('=== mdata %s ===', mdata)`

Make sure your log level is set to info and restart the master.

[2018-01-08 23:47] ksalman opened #45339 "Getting SaltReqTimeoutError error"
### Description of Issue/Question
I am getting the SaltReqTimeoutError error. The minion and master can talk reach each other so I am not sure what the problem is.

### Setup
I am just trying to run a highstate

[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)
#### Minion versions
[code]
#### Master versions

[2018-01-09 01:46] rhavenn opened #45341 "freebsd minion crash with latest py-cffi"
FreeBSD upgraded the py-cffi port from 1.7.0 to 1.11.2 and now my minions are crashing. I don't know if this is a bug in cffi or if something changed in what salt is expecting / pushing to cffi.

I manually rolled my package building machine's py-cffi port back to py-cffi 1.10.0 and now my minion works fine with 0 other changes.

There is a reference to an issue on Windows minions here: https://gi

[2018-01-09 02:02] V3XATI0N commented on #45173
I've applied that patch and restarted the master. I've set up a process tailing the master log and grepping for `mdata`, I'll let you know what (if anything) shows up. Thanks for the attention!

[2018-01-09 02:12] garethgreenaway commented on #45173
Awesome! Very interested to see if you see anything.  You should see something if you run the salt runner with `info` logging as well, eg. `salt-run -l info manage.present`

[2018-01-09 02:17] V3XATI0N commented on #45173
The log doesn't show anything at all, but `salt-run -l info manage.present` produces approximately 75 imperial tons of what looks like grains data followed by a list of minions that are online.

[2018-01-09 02:30] V3XATI0N commented on #45173
here's a snippet... the entire manage.present call generates a call about 8MB in size.
[code]

[2018-01-09 02:34] V3XATI0N commented on #45173
also mispelled mdata as mdate but still got the result ... so it is appearing in the master log, but had to drop the log level down so I didn't use up the entire disk in a few minutes.

[2018-01-09 02:38] garethgreenaway commented on #45173
@V3XATI0N This is perfect.  I wanted to confirm that there was something inside mdata and it was making it down into the code.  Can you move the log line that you added down towards the bottom right above the `return minions` line which is around 620 and change all the mentions of `mdata` or `minions`.  Want to make sure that list is being populated properly.

[2018-01-09 02:42] ksalman commented on #45339
I have been looking at this and it seems like it randomly fails with this errors. At other times it goes through after one retry, other times it goes through after two tries. There is enough CPU and RAM available and I have tried bumping up the thread count on the master.

[2018-01-09 02:46] V3XATI0N commented on #45173
apologies, I'm not quite catching what you mean. the `return minions` line for the `connected_ids` function is line 611, not 620 (I assume you mean that one). You want me to move `log.info('=== mdata ===', mdata)` to just above that, outside the `if` statement? That much I follow, what do you mean "change all mentions of `mdata` or `minions`"?

[2018-01-09 02:50] V3XATI0N commented on #45173
That just causes the function to crash:
[code]

[2018-01-09 02:52] garethgreenaway commented on #45173
@V3XATI0N Yup.  that's the right line, I was at the HEAD of 2017.7 so I was a bit off.  It looks like you're missing the `%s` in the log line.

[2018-01-09 02:55] V3XATI0N commented on #45173
You're right, I forgot the `%s`. I replaced and reran, and it returns the list as expected.

[2018-01-09 02:58] garethgreenaway commented on #45173
Okay that's good....we're narrowing down where the problem is and if you're seeing minions in that log statement then it's not in connected_minions.  One quick question, are you using `raet` for transport or just using the default zeromq UDP based one?

[2018-01-09 02:59] V3XATI0N commented on #45173
it's just zmq.

[2018-01-09 03:03] garethgreenaway commented on #45173
Okay good.  You can remove the log calls from minions.py and let's move onto the runner, edit:
`/usr//lib/python2.7/dist-packages/salt/runners/manage.py`
And in the function `list_state`  around line 251 that has minions returned from connected_ids add a log entry like this:
`log.info('=== minions %s ===', minions)`

[2018-01-09 03:09] V3XATI0N commented on #45173
yeah, returning minions from there (as it is just after it returns from the `connected_ids` def) results in the same list, in both the standard output and the `log.info` statement.

[2018-01-09 03:15] garethgreenaway commented on #45173
So you are seeing the minions listed on the standard output from the runner when running manage.present?

[2018-01-09 03:35] jf opened #45342 "execution module named `pip_state`, but examples in doc use `pip.installed:`"
### Description of Issue/Question

As per description. See https://docs.saltstack.com/en/latest/ref/states/all/salt.states.pip_state.html#module-salt.states.pip_state

If the module is called `pip_state`, surely the examples should use the same name in the examples (so `pip_state.installed:`, *instead* of `pip.installed`). That's just confusing, and makes doc lookup harder when coming across a sta

[2018-01-09 04:40] boltronics commented on #39357
Even checking `dbus-daemon` and `timedatectl` isn't enough. You also need to have `/etc/adjtime` present and configured to avoid a stack trace.
[code]
This is on Debian Jessie as well, running 2017.7.2.

[2018-01-09 07:00] dhs-rec commented on #38551
@twangboy, I copied the win tree from the base environment into foo (after setting up a file_root for it at /srv/salt/foo), which made above pkg.refresh_db work and I see the files in the relevant directory on the minion.

However, since I'm using the gitfs backend for both states and pillars, this means I'd need to manually create a new environment on the master everytime I start a new branch in

[2018-01-09 08:13] amyhoo commented on #43089
hello ,what is the matter, I meet rest_tornado problem : timeout Exception

[2018-01-09 08:42] damon-atkins commented on #43022
Two options label this for the next release, or create a new one.... What should be do?

[2018-01-09 08:52] babilen commented on #43418
Allowing users to provide, say, `reload_services: True` in `service.{dead,disables,running,…}` would indeed solve this problem.

[2018-01-09 10:07] damon-atkins commented on #45314
It's a change to the salt:// protocol.  Aim being that it will help make the cache on the minion faster as it can be smarter about what it does.  And opens the master to decided what to use the for ETag (e.g. checksum on a flat file system or git info from a git repo)
i.e. pulls a file down and saves the "file meta information", then to check if the file is out of date it compares save "file meta

[2018-01-09 10:14] damon-atkins commented on #45314
Does the current salt:// protocol have version of the protocol in the request, or the minion version including in the request? So the master knows how to respond in a compatible way.

[2018-01-09 11:55] dumol opened #45345 "gid_from_name fails to create and set group on SUSE Linux."
### Description of Issue/Question

When trying to create a user through Salt with `gid_from_name: True`, our SUSE minions silently fail to create needed group and to set it afterwards. On subsequent runs, an error is returned: `These values could not be changed: {'gid': ''}`.

### Setup

Master is Ubuntu 16.04 running 2017.7.1. The issue was observed with 2017.7.2 too.

State to reproduce the erro

[2018-01-09 11:56] dumol commented on #39113
For the record, the MacOS and SUSE issues were reported as https://github.com/saltstack/salt/issues/45142 and https://github.com/saltstack/salt/issues/45345.

[2018-01-09 13:30] zhuleiandy888 opened #45346 "fix salt-api doesn't dynamically re-read nodegroups configuration, plase check it for me."
[environment]
### Salt Version:
           Salt: 2017.7.2

Dependency Versions:
           cffi: Not Installed
       cherrypy: 5.6.0
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: 2.7.2
        libgit2: Not Installed
        libnacl: Not Installed
       M2Crypto: Not Insta

[2018-01-09 13:59] mcepl commented on #27326
Hmm, with ``master`` of M2Crypto:
[code]
I will have to investigate.

[2018-01-09 14:08] mcepl commented on #27326
Hmm, with ``master`` of M2Crypto:
[code]
I will have to investigate.

[2018-01-09 14:13] isbm commented on #45056
I am back now.

@terminalmage Maybe we need to clarify this a bit: the _minion_ should not by default looking for SSDP. Which means, if we ship minion with the config `discovery: false`, then it will be OK. The SSDP could start by default on Master, since it doesn't hurt. If anyone wants to turn that off, they can explicitly set config `discovery: false`. Would that work?

[2018-01-09 14:56] dhs-rec opened #45348 "env_vars in pip_state vs. env in cmd"
### Description of Issue/Question
Why is there a difference in the way environment variables are specified in *pip.installed* and *cmd.run* state methods?

Examples from the documentation:
[code]
vs.
[code]
Differences are:
1. env vs. env_vars
2. dict vs. array

Could this be streamlined, please, so that there's only one unique way of specifying environment variables (and everywhere else where I d

[2018-01-09 15:27] mcepl commented on #27326
yes, incomplete certificate. According to #27514 this bug should be closed. @jfindlay  would you close this, please?

[2018-01-09 15:41] V3XATI0N commented on #45173
Yes, just not in the presence events.

[2018-01-09 15:41] gtmanfred commented on #45342
The virtualname for the module is `pip` so it will be loaded as `pip`

https://docs.saltstack.com/en/latest/ref/modules/#virtualname

[2018-01-09 15:53] Ch3LL commented on #45321
looks like these options will help ya out:

[code]

from https://docs.saltstack.com/en/latest/ref/cli/salt-ssh.html

[2018-01-09 16:07] chschmitt commented on #45321
Actually I tried those options and they had no effect. TBH, I do not know what the desired effect should be by looking at the documentation (which I did). Also, [this bit in in the ssh client](https://github.com/saltstack/salt/blob/66da9b47bcaada8f2e4d4876277065188fc80383/salt/client/ssh/__init__.py#L150) looks like the `--pythonX-bin` option newer makes into the generated shell script.

[2018-01-09 16:07] jcmcken commented on #28357
@anlutro Can you clarify? Does this mean you have to put the returner in ``_modules`` rather than ``_returners``?

[2018-01-09 16:22] thatch45 commented on #45314
no, the current salt:// protocol is not versioned. I think that adding versioning would be a good idea, but we should also be able to specify modifiers in the form of arguments and implement the minion side to compensate.

[2018-01-09 16:22] Ch3LL commented on #45339
Is this all minions that this affects or only one?

can you telnet to 4505/4506 from the minion to the master?

Also if doing a tcpdump do you see the traffic hitting the master from the minion?

can you check for any defunct processes on both teh minion and master side

and as a side note you are on a very old salt version, might help to upgrade.

[2018-01-09 16:26] garethgreenaway commented on #45173
Okay.  Let's edit the master.py:
`/usr/lib/python2.7/dist-packages/salt/master.py`
And add some logging in the `handle_presence` function:
Right below the line that is calling connected_ids:
`log.warning('=== present %s ===', present')`
Add let's add another one right below the line that is adding `present` into `data:
`log.warning('=== data %s ===', data')`

We'll use warning here so it's a bit l

[2018-01-09 16:27] V3XATI0N commented on #45173
tangential to this issue, is it a known issue that `salt-run manage.present` never returns Windows minions, no matter how present they are?

[2018-01-09 16:28] garethgreenaway commented on #45173
This could be related to the grains issue.  Do they have the ipv4 grain available?

[2018-01-09 16:28] V3XATI0N commented on #45173
yes. all the minions have the `ipv4` grain, without exception. I'm editing `master.py` now. If needed, I'll open a separate issue for the Windows issue.

[2018-01-09 16:35] Ch3LL commented on #45341
Can you please include a test case when this occurs? Is it when you are running a specific command, etc?

I am having a hard time replicating this.

[2018-01-09 16:35] thuhak opened #45349 "How to restrict access by minion in peer system？"
In the document, I see that i can restrict access by module dimension in peer system.
But that means it can access that module in all minions, i guess.
Is there anyway to resolve this problem?

[2018-01-09 16:37] V3XATI0N commented on #45173
okay... here is the `handle_presence` function now:
[code]

But with those two logging lines, I only get the usual output with warning-level (or info, or even debug) command. These log statements don't output anything at all.

[2018-01-09 16:41] Ch3LL commented on #45345
ping @saltstack/team-suse any ideas here?

[2018-01-09 16:42] twangboy commented on #43022
Let's create a new one as this issue is fixed.

[2018-01-09 16:42] #43022 closed

[2018-01-09 16:42] Ch3LL commented on #45346
ping @gtmanfred any insight you can give for @zhuleiandy888 on this code ?

[2018-01-09 16:43] garethgreenaway commented on #45173
To confirm, you've restarted the Salt master and you're looking at the master logs?  Are you able to watch the event bus and see the presence events firing, even if they're empty or just have the master as before?

[2018-01-09 16:47] V3XATI0N commented on #45173
yeah, there's no change at all. The master was restarted (twice) and the presence events in the log still only list the master. To be honest I'm ready to give up on this for now, since for my purposes I could just call `manage.present` and get my information that way. But since `manage.present` doesn't list Windows minions (and I checked that on 2 different deployments), it's useless in any case.

[2018-01-09 16:48] Ch3LL commented on #45348
I think this would be a good improvement. We would just need to make sure we properly deprecate the argument we do not choose.

[2018-01-09 16:50] jcmcken commented on #34096
After about a year of Salt, with some relatively advanced configuration, I concur with the premise of this issue. In general, I think the documentation, issue response, etc.  -- the process-related stuff -- is pretty good for Salt.

What's not so great (*in my opinion*) is the design of Salt's internals: the non-idiomatic, "magic" globals, strange and unintuitive APIs, and spaghetti code. It's rea

[2018-01-09 16:51] terminalmage commented on #45056
You're still talking about adding a hard dependency which has already been ruled out by @thatch45. So, no, that would not work.

[2018-01-09 16:52] terminalmage commented on #45056
Whatever Suse would like to do in their packages is their business, but I think we've made it pretty clear what the project's opinions are here.

[2018-01-09 16:52] gtmanfred commented on #45346
It is going to be slower, because it will have to reload the config on each run.

The other thing is I am not sure this is going to work, because I believe all the api does is pass the nodegroups over to the master, and the master requires a reboot in order to pick up new or changed nodegroups.  Unless you change the api to expand the nodegroup, and then pass that expanded matching to the master.

[2018-01-09 16:53] Ch3LL commented on #45349
From the documentation it seems you can limit which minion can use which module so if you add a module it doesn't impact all minions unless you specify so.

Can you include a test case for the issue you are running into?

[2018-01-09 16:55] ksalman commented on #45339
Yea, this is happening on all the minions.
I can telnet from minion to master on both ports.
[code]
tcpdump shows traffic.
There is no defunct processes. I have even tried rebooting the minion(s) and the master.
I realize it's not the latest version but we can't upgrade at the moment, unfortunately.

[2018-01-09 16:57] jf commented on #45342
I see. I am familiar with the example of the `pkg` being a virtual module and actually being implemented by multiple possible modules. What about for `pip`? Besides `pip_state`, what else implements (if you could call it that) `pip`?

[2018-01-09 17:00] #24759 closed

[2018-01-09 17:00] #27061 closed

[2018-01-09 17:00] gtmanfred commented on #45342
i am not sure why it was initially done, but usually it is done for the test suite so that it can be imported without conflicting with the `pip` module for the actual pip binary.  not sure why the execution module isn't pipmod if that is the case, maybe when it was originally written, tests were only written for the state module.

[2018-01-09 17:01] garethgreenaway commented on #45173
Windows minions should definitely show up in the manage.present, that's a separate issue that needs to be addressed.  If you wouldn't mind trying one more thing, change the `log.warning` to `log.info`, might need to update the log_level for the master.  Also add one more log entry right above the `if self.presence_events` line:
`log.info('=== running handle_presence, self.presence_events %s ===',

[2018-01-09 17:10] dmurphy18 opened #45350 "Update Debian and Ubuntu builds to insure source is included"
### Description of Issue/Question
Building using debuild in modules/debbuild.py is missing flag -'sa' to insure that the source is included with the build.  By default if the release is '-0' or '-1', the source is automatically included, however any value larger, then building must explicitly include the flag '-sa' to include source, for example: raet_0.6.8.orig.tar.gz

### Setup
(Please provide r

[2018-01-09 17:14] twangboy commented on #38551
@UtahDave ^^^

[2018-01-09 17:20] rhavenn commented on #45341
Sure. I paired down my top file to:
[code]

The `empty.sls` has only the following:
[code]

When I have py36-cffi 1.10.0 installed on the minion I can run `salt minion state.apply` on the master  and it returns that vim is installed. If I then install py36-cffi 1.11.2 on the minion and restart it and then run `salt minion state.apply` on the master I get the following:
[code]

[2018-01-09 17:21] terminalmage opened #45352 "Warnings on startup when some items have a value of None"
This is a breakdown in the type checking code in `salt/config/__init__.py`. It's not causing a problem, other than being confusing, but should still be fixed.

[code]

[2018-01-09 17:23] #45350 closed

[2018-01-09 17:27] ssgward opened #45353 "Errors and Warnings in salt-master log and on CLI when using latest Oxygen"
Errors and Warnings in salt-master log and on CLI when using latest Oxygen

Steps:
1. Install latest Oxygen from head of branch. Include a master and minion in the installation.
2. View `/var/log/salt/master`. Warnings and Errors
3. Run a simple command from the CLI. Warnings printed to the screen.

**See attachment**
[Oxygen Warnings.txt](https://github.com/saltstack/salt/files/1616038/Oxygen.War

[2018-01-09 17:52] thatch45 commented on #45056
Right we may have a misunderstanding here, but we will need to set discovery to False by default and not add an additional hard dep

[2018-01-09 17:55] tyhunt99 commented on #44860
So I just remembered another piece of information that might be relevant. When testing this I was running the salt master and minion on the same machine. Not sure if that would cause issues, but it is the only other thing I can think might cause issues like this.

[2018-01-09 18:00] #25857 closed

[2018-01-09 18:32] gtmanfred commented on #44860
I was doing the same thing.

[2018-01-09 18:43] BadgerOps commented on #43517
Howdy, I just ran across this same issue and manually applied @prutschman 's patch (it works!). I'd like to see this merged and would be happy to test if there's any edge cases that need to be checked first @garethgreenaway

Thanks!

[2018-01-09 18:50] tyhunt99 commented on #44860
Alright nvm then. I will keep looking then

[2018-01-09 20:18] #27326 closed

[2018-01-09 20:32] gtmanfred commented on #45353
The SSDP one is know, and it is already being fixed.

The other ones appear to be a duplicate of #45352

[2018-01-09 20:32] #45353 closed

[2018-01-09 21:12] terminalmage commented on #45352
Fixed by #45354.

[2018-01-09 21:12] #45352 closed

[2018-01-09 21:32] V3XATI0N opened #45355 "manage.present doesn't list Windows minions"
### Description of Issue/Question
running `salt-run manage.present` never returns Windows minions, even if they are online. This is not optimal...

### Setup
Put `presence_events: True` in `/etc/salt/master` and restart the master service.

### Steps to Reproduce Issue
run this:
[code]
...and yet...
[code]

this was verified on two completely separate salt deployments, both with Windows minions, b

[2018-01-09 21:39] V3XATI0N opened #45356 "win_wua.install never actually succeeds"
### Description of Issue/Question
Attempting to install Windows Updates via `win_wua.install` **always** fails.

### Setup
No special setup needed.

### Steps to Reproduce Issue
using `win_wua.install`, regardless of the method of installation (KB name, Update ID, or other), you will always encounter this (seen here executed via `module.run` in a state, but the same thing happens directly from the

[2018-01-09 21:39] #27118 closed

[2018-01-09 21:40] V3XATI0N commented on #45356
also it still returns with `Result: True` which is annoying, since it clearly fails.

[2018-01-09 22:52] V3XATI0N commented on #45355
another salt deployment which is considerably larger produces the same results.

with `salt-run manage.present`:
[code]

and with `salt \* test.ping`:
[code]

[2018-01-10 00:13] #17177 closed

[2018-01-10 00:23] rhoths opened #45360 "Missing documentation for module.run"
The documentation for the [module state](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.module.html) appears to be at least partially broken. The entire function documentation for the `module.run` function is missing. There are some examples and basic info for the function in the module documentation, but the function signature and function documentation is absent.

[2018-01-10 00:34] cro commented on #45265
I need to try this out and see if it got broken in 2017.7.  I will try to get to this tomorrow.

[2018-01-10 00:46] #27088 closed

[2018-01-10 00:46] #8406 closed

[2018-01-10 01:06] V3XATI0N commented on #45360
Ran into this earlier. The documentation is sparse, and what little there is is apparently wrong.

Trying to run a `win_wua.get` call, the documentation would lead you to believe you should put
[code]
but doing it that way causes it to spew out `awesome_state_id is not formed as a list`. Huh?

Actually, you have to do this:
[code]

which doesn't look anything like the documentation. so... yeah.

[2018-01-10 06:06] kaaelhaa opened #45362 "Temporarily replace resolv.conf instead of overwriting when seeding image"
### Description of Issue/Question
The `seed` module has a ` _check_resolv`-function which checks for a valid resolv.conf file in the guest image and replaces the file if the file if not valid. As mentioned in #45344 the implementation could be improved by temporarily replacing the guest's resolv.conf with the minion's instead of simply overwriting the file.
The current implementation breaks images

[2018-01-10 07:40] zhuleiandy888 commented on #45346
@gtmanfred    Thanks a lot !
   As you said, it‘s true it's going to be slower. After many tests, speed will at least one times slower. but so far, the service is  running normally.
 Another question:

It means that the master requires a reboot,  when the nodegroups have new or changed. is it right?
the "reboot" is not real to  restart the master service, is it right?
In the fact, when i have modi

[2018-01-10 08:41] #16705 closed

[2018-01-10 09:05] samilaine commented on #45197
No, in this particular case there were was a single branch in a single repository.

Creating separate branches for each environment does the trick as explained, thanks for that.

However, I think that the documentation could benefit from some rewriting. Currently it leads quite easily a reader to make a few false assumptions, I think.

[2018-01-10 10:29] damon-atkins commented on #45314
Can we label this with `Fluorine`, improve the meta information available so clients can make smarter informed decisions.

[2018-01-10 11:48] dhs-rec opened #45363 "archive.extracted doesn't extract when it should."
### Description of Issue/Question
I've written a state for installing the Sysinternals Suite from a ZIP archive:
[code]
Now, when I execute this state for the first time, it creates the directory and extracts the archive as expected. When executed a second time (without changing the {{ version }}), it does nothing, as expected. It also extracts as expected when given a different {{ version }} for

[2018-01-10 11:59] sumeetisp opened #45364 "AWS Cloud exception"
### Description of Issue/Question

Facing this issue while using cloud.profile,

 raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='ec2.eu-central-1.amazonaws.com', port=443): Max retries exceeded with url: /?Actio
n=DescribeAvailabilityZones&Filter.0.Name=region-name&Filter.0.Value.0=eu-central-1&Version=2014-10-01 (Caused by NewConnectionErr

[2018-01-10 12:12] meaksh commented on #45345
Well, I've fixed this to prevent that error if we an empty string is used as group name, but the problem here is different.

As I understand this, a new group shouldn't be created during the `user.present` state execution even if `gid_from_name` is set. Actually, at the moment, `user.present` fails in cases where you set some groups and those groups are not present, so IMHO we should follow the sa

[2018-01-10 12:27] qiangshui opened #45366 "Windows cmd execute "echo %date%" diffent with cmd.run "echo %date%""
### Description of Issue/Question
I executed command "echo %date%" in Windows server cmd, its result is different with cmd.run
### Setup

![default](https://user-images.githubusercontent.com/24819310/34772696-ec2aedf0-f643-11e7-99a0-2205c2cbca16.png)

![default](https://user-images.githubusercontent.com/24819310/34772682-dc83e94c-f643-11e7-9c5a-6476b6d593f8.png)

the chinese "周三" means Wednesday，i

[2018-01-10 13:01] jryberg opened #45367 "kubernetes.configmap_present source is parsed (should be "plain format")"
### Description of Issue/Question
I'm trying to load data into a configmap but Salt tries to parse specified source file with the following error message:

[code]

According to the documentation (https://docs.saltstack.com/en/latest/ref/states/all/salt.states.kubernetes.html#salt.states.kubernetes.configmap_present):
[code]

I expect the content to be added to the configmap, not parsed unless a te

[2018-01-10 13:03] #45364 closed

[2018-01-10 13:24] dhs-rec commented on #45363
Looking at the minion cache, I see .hash files in *C:\salt\var\cache\salt\minion\files\base*, which contain SHA256 checksums of the ZIPs (*_SysinternalsSuite-20160829.zip.hash* and *_SysinternalsSuite-20161118.zip.hash*). However, the checksums in my file given via *source_hash:* are SHA512 ones.

[2018-01-10 14:52] Ch3LL commented on #45321
ahh your right diving into the code it looks like this argument is used for generating the thin as you can see this PR that added the feature: https://github.com/saltstack/salt/pull/25772 and not for running the `salt-call` commands further down in the code.

ping @saltstack/team-ssh is there a way to customize the python interpreter for @chschmitt 's test case

[2018-01-10 15:14] DmitryKuzmenko commented on #43995
Fixed by #45368

[2018-01-10 15:16] Ch3LL commented on #45339
any relevant information in the master debug log?

[2018-01-10 15:21] guettli opened #45370 "block.replace should have an option to remove the whole block"
### Description of Issue/Question

In my use case (one year ago) a part in /etc/sudoers was added.

Time has passed and this part should get removed in the future.

I found this way to remove the block in my case:

[code]
See: https://serverfault.com/a/891222/90324

I think above solution is way to complicated.

It would be very nice if the blockreplace state had a way to remove itself.

### Versi

[2018-01-10 15:34] gtmanfred commented on #45346
Yes, sorry, i meant that the master will need to be restarted.

This is what really needs to happen in order to be able to really support this in upstream.

https://github.com/saltstack/salt/issues/570

A SIGHUP to the parent process could be caught and all of the multiprocesses could be told to pick up the new config.

[2018-01-10 15:36] gtmanfred commented on #45197
If you wouldn't mind submitting a PR for the documentation that makes it more understandable.

As you can see, it is can be difficult to write documentation that everyone can understand when you are so familiar with the underlying code.

Thanks,
Daniel

[2018-01-10 15:51] Ch3LL commented on #45104
Nope thanks for the bump here. Will approve as a feature request.

[2018-01-10 15:55] Ch3LL commented on #45345
@meaksh agreed we should use the group.present to add the group. Thanks for cleaning up the error! :)

@dumol can you give that fix a try

[2018-01-10 15:55] floridop commented on #18729
Hi all. I am experiencing this today for the first time with
Salt master 2015.5.10, CentOS7
Salt minion 2017.8.13, CentOS7
I have many minions on these two versions and this one seems the only one experiencing the issue upon a specific state.sls call.

I tried to comment out commands that might hang but I feel this has nothing to do with the state.

It happens when I test the command, I didn't dar

[2018-01-10 16:01] floridop commented on #18729
Note that the crazy spawning stops after I
` salt 'print2*' saltutil.kill_job 20180110164417561174`
the jobids listed in that log are non-existing jobs in the system.
I also tried removing the `nisserver` block alltogether and the behaviour is the same.
How to debug further?

[2018-01-10 16:25] cavalheiro opened #45373 "Grain refresh not working on compound command execution"
### Description of Issue/Question

Whenever saltutil.refresh_grains is called as part of compound command execution, the other commands won't see the refreshed grains.

What we were able to observe so far is that the Salt minion creates a sub-process to handle those executions, and in case of grain refresh, the sub process is not performing the refresh itself, but signaling the parent to do so. Th

[2018-01-10 16:29] terminalmage commented on #45056
I spoke with @isbm about his concerns with removing the default values for this feature, which I will summarize below:

1. We need to have a way for the user to have a sane default
2. Since there are multiple components nested under the `discovery`  option, there needs to be a way to allow for the user to partially configure it and still have defaults for the items they do not configure.

The solu

[2018-01-10 16:39] vernondcole commented on #40962
Did not realize that this issue was still open.  Yes, it works now, (if I do say so myself.)

[2018-01-10 16:39] #40962 closed

[2018-01-10 16:47] garethgreenaway commented on #45356
@twangboy Thoughts on this one?

[2018-01-10 17:19] arthurlogilab opened #45374 "salt-run cloud.safe_accept that takes into account MAC addresses"
### Description of Issue/Question

*Feature Request*

It would be neat (and useful in autoscaling use cases) to be able to have an way of accepting new salt minions based on a check that gets information from salt-cloud. The idea would be, for example, to compare the IP and MAC of the incoming connection and request with the information obtained about that host via salt-cloud.

[2018-01-10 17:20] twangboy commented on #45356
There are a couple things I'd try here...

First, make sure the update will install on the actual machine outside of salt... just run Windows update and apply the changes

Second, try using the wua state:
[code]

[2018-01-10 17:23] arthurlogilab opened #45376 "Have an alias to use dryrun=True instead of test=True"
### Description of Issue/Question

Some new salt users I came across told me that the test=True could be confusing and would prefer to have a more standard dryrun terminology for what test=True does in salt. I thought I'd start the discussion here about having an alias that does this.

Is it technically difficult to have an alias for dryrun=test which adds test=True early enough to provide such a

[2018-01-10 17:39] V3XATI0N commented on #45356
Both do fail, indeed. The output of the state:
[code]

[2018-01-10 17:44] twangboy commented on #45356
OK. The state is failing because Windows update is failing. Since salt leverages the local Windows update on the machine, you'll have to figure out what's going on there. Once that's resolved, then the state will work.

[2018-01-10 17:44] rhoths commented on #45360
@V3XATI0N The module usage (and deprecation warnings I was getting) is largely what drove me to asking about the documentation in the IRC channel. @gtmanfred helpfully pointed out that the [2017.7.0 release notes](https://docs.saltstack.com/en/latest/topics/releases/2017.7.0.html) contain information on the "new" `module.run` syntax and how to enable it. It looks like your first example would run

[2018-01-10 17:46] garethgreenaway commented on #45356
@twangboy Are we able to get any feedback to use inside the module and state, so we're able to provide that feedback to the user when the updates fail?

[2018-01-10 17:47] gtmanfred commented on #45360
It should also be updated it is this

[code]

[2018-01-10 17:47] garethgreenaway commented on #45366
Seems this might be related to the various unicode issues that we're aware of and have several efforts ongoing to fix.

[2018-01-10 17:48] gtmanfred commented on #45360
https://github.com/saltstack/salt/issues/43130

[2018-01-10 17:53] garethgreenaway commented on #45370
@guettli Thanks for the report.  This would be a good addition, approving for a future feature addition.

[2018-01-10 17:54] twangboy commented on #45356
@garethgreenaway Sure

[2018-01-10 17:57] garethgreenaway commented on #45376
@thatch45 Would you weighing on this one?

[2018-01-10 18:29] thatch45 commented on #45376
`dryrun` or `dry_run` or `no-op` etc would all be good options here. All we would need to do to add an alias is just take the argument to state.apply/highstate/sls/high/low/pkg functions, would be to add this:

[code]
then it would be 100% safe

[2018-01-10 18:33] garethgreenaway commented on #45376
@thatch45 Thanks!  Adding the Feature label.

[2018-01-10 18:39] thatch45 commented on #45376
Yes, this is something that would take all of 15 minutes to add and we should have added it long ago

[2018-01-10 18:42] garethgreenaway commented on #45363
Seems like perhaps an extraction is only happening if the archive is downloaded and cached locally, if it's already available then it might not extract.

[2018-01-10 18:46] #27154 closed

[2018-01-10 19:55] garethgreenaway commented on #45367
@jryberg Thanks for the report.  It looks like the documentation for this might be wrong and it's actually expecting YAML.  Tagging @flavio who added the module and state mdoule.

[2018-01-10 19:58] #43381 closed

[2018-01-10 20:24] garethgreenaway commented on #45373
@cavalheiro Thanks for the report.  I was able to duplicate it and it looks like there are different results between using `salt` vs `salt-call`, salt-call gives the expected results.

[2018-01-10 20:35] #27165 closed

[2018-01-10 20:35] #27146 closed

[2018-01-10 21:01] rallytime commented on #45243
@frogunder Can you swing back around here and make sure this is fixed now?

[2018-01-10 21:10] anlutro commented on #28357
@jcmcken if I remember correctly, I manually placed the .py file on the filesystem of the salt master. I had a `file.recurse` state which placed something like `/etc/salt/extensions` which was also added to `extensions_dir`.

[2018-01-10 21:52] gtmanfred commented on #45360
@isbm i have fixed the format for the new module.run here https://github.com/saltstack/salt/pull/45381

But it looks like the module.run docstring is not showing in the docs at all because it is a private function.  Is there a reason this couldn't be made a public function so that the docs could show up?

Thanks,
Daniel

[2018-01-10 22:07] rallytime commented on #44957
Can you be more specific about the issue you're seeing?

[2018-01-10 22:08] jodok opened #45383 "RabbitMQ commands fail due to wrong locale"
### Description of Issue/Question

it seems that the salt-runner on the minion doesn't set the proper locale for the rabbitmq commands of erlang-20.1.7-1, rabbitmq-server-3.7.1

### Steps to Reproduce Issue

whenever i run a rabbitmq command on a minion from salt-master (e.g. `salt 'queue*' rabbitmq.status` I receive:

`ERROR: RabbitMQ command failed: warning: the VM is running with native name en

[2018-01-10 22:15] cavalheiro commented on #45373
Thanks for the feedback! AFAIK this does not happen with `salt-call` because it spawns a completely different process and that forces a reload of grain-related information from disk. In fact if you change something that affects the grains and run a simple `salt-call grains.items` it will always return the correct values.

[2018-01-10 22:16] frogunder commented on #45243
This is fixed, just tested it.

[2018-01-10 23:02] V3XATI0N commented on #45356
I have a feeling that the reason the update fails is because people never reboot their Windows machines. I also realize that Salt is intended more for server management than, say, endpoint management, so such concerns would naturally be less of a priority (assuming server admins know what they are doing). Still, if it's possible for Salt to determine anything about the reason *why* the update fail

[2018-01-10 23:08] gtmanfred commented on #45383
If you set the locale using https://docs.saltstack.com/en/latest/ref/states/all/salt.states.locale.html#salt.states.locale.system does the problem go away?

`salt-call` inherits everything from the environment variables of the environment you are running, because it starts a whole minion process in that context.

the `salt` command talks to the `salt-minion` process that is started by systemd, so

[2018-01-10 23:12] garethgreenaway commented on #45312
@golmaal Thanks for the report. Unfortunately the fix for this isn't as simple updating that one line to use six.iteritems instead pf ones.  The problem is related to the fact that prior to the upcoming Oxygen release we had beacons whose configuration that could be dictionary based or list based, this obviously causes issues when trying to use the beacon module to manage modules.  Things work as

[2018-01-10 23:13] phsteve commented on #43664
@twangboy @hristozv I have a `pip.installed` state with `cwd: C:\\salt\\bin\\Scripts` and `bin_env: C:\\salt\\bin\\Scripts\\pip.exe` set, and although the state seems to work properly, I see the following error in the logs when I run it:

[code]

It seems like the `pip.exe --version` command isn't getting `cwd` passed to it somehow, even though the `freeze` and `install` commands do. Any ideas how

[2018-01-10 23:37] twangboy commented on #45356
@V3XATI0N We could use `win_wua.get_needs_reboot` which is a wrapper for a salt util that will tell you if the machine needs to be rebooted...

[2018-01-11 01:07] boltronics commented on #34929
Salt now has a custom filter `regex_escape` (documented at https://docs.saltstack.com/en/latest/ref/states/all/salt.states.file.html#salt.states.file.replace).

I haven't got an environment ready to test right now, but it's possible fixing this simply requires a documentation update.

[2018-01-11 01:19] boltronics commented on #34929
It's perhaps worth pointing out that the only reason I can't immediately test this is because the `sig` argument doesn't seem to do anything when the service is managed via systemd. Something else maybe worth pointing out when updating the documentation.

[2018-01-11 02:30] V3XATI0N commented on #45356
I'm mainly frustrated by the fact that Windows Update is a horrible, unreliable heap of garbage that only barely works to begin with. My apologies if I seem short toward Salt developers. `win_wua.get_needs_reboot` is a nice thing to have around, but the majority of these don't fail for that reason. More often, something has gone haywire in the update index or the wuauserv service has decided to st

[2018-01-11 06:51] dhs-rec commented on #45363
BTW: "- clean: True" also doesn't work. If I manually create a file or directory inside *C:/Tools/SysinternalsSuite* after the first run above, it's still there after the 3rd.

[2018-01-11 08:25] jryberg commented on #45367
Hi @flavio

"Plain format" / binary copy, the exact same way kubectl create configmap <id> --from-file=<source> would make perfect sense.

This one are related to https://github.com/saltstack/salt/issues/45018 regarding missing template support.

Yaml representation of the data would not help any of my use cases but binary copy and more important, template support would make a huge difference to t

[2018-01-11 08:29] jryberg commented on #45033
@gtmanfred @flavio
I can provide a Google Kubernetes Engine cluster, a master and a minion, preconfigured to work out of the box to help you with this and other existing issues related to Kubernetes.

Please let me know if you would like to that option and I will build the environment for you.

[2018-01-11 09:30] zhuleiandy888 commented on #45346
@gtmanfred  thanks!
#570 , I think that cann't solve salt-api dynamically re-read nodegroups configuration, via to restart salt-master  service or re-read configuration. (I've tested)

 Whatever whether salt-master restart or re-read, the salt-api service cann't apply the new or changed.
 Unless you restart the salt-api service. (I've tested)

I optimized the code again: file_path: [/usr/lib/pytho

[2018-01-11 10:28] JoaquinVeira commented on #39308
Hi Dave,

were you able to solve this issue? I have a similar issue to the first one you said.

Regards

[2018-01-11 10:38] floridop commented on #18729
It is definitely a bug as the system becomes less responsive and python salt-minion hogs one core 100%.

[2018-01-11 10:54] JoaquinVeira opened #45386 "salt.exceptions.SaltReqTimeoutError: Message timed out from SLES 11 SP4"
### Description of Issue/Question

We have 2 SLES 11 SP4 minions (from more than 200 working fine) that are getting SaltReqTimeoutError while executing any state execution module.
For example:

[code]

The thing is that I removed the keys and added them again without any problem:

[code]

I'm not attaching state files as I think it doesn't matter which one I use I always get the same error.
Many o

[2018-01-11 14:32] rallytime commented on #45243
Awesome. Thanks @frogunder!

[2018-01-11 14:32] #45243 closed

[2018-01-11 14:34] rallytime commented on #45312
I'd rather not back-port such a large change/refactor into a point-release branch.

[2018-01-11 14:48] garethgreenaway commented on #45312
I'm leaning in the same direction it does leave the beacon module broken in certain situations for certain beacons.

[2018-01-11 14:56] golmaal commented on #45312
We're targeting to use 2017.7.3 assuming it's going to be released soon. I've written wrappers to delete followed by an add to simulate a consistent modify behavior. Thanks for your help Gareth.

[2018-01-11 14:59] frogunder commented on #43487
this is fixed, closing issue.

[2018-01-11 14:59] #43487 closed

[2018-01-11 16:19] jcmcken commented on #28357
I got my returner to work by running ``salt-run saltutil.sync_all`` on the master (**not** ``salt-call saltutil.sync_all``).  The returner documentation doesn't really specify this anywhere that I can see. It is kind of irksome that the master doesn't just automatically sync on restart.

[2018-01-11 16:46] Laserwhit opened #45391 "Documentation about cp.push is out of date. It is not supported in 2015.5.10 and should be documented as such."
### Description of Issue/Question
I spent a several hours trying to get cp.push to work between master version 2017.7.0 and minion version 2015.5.10.  The documentation (https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.cp.html) seems to indicate that this should work with one comment indicating that the remove_resource parameter is new in version 2016.3.0.  But after working hours

[2018-01-11 16:56] Laserwhit commented on #45391
After rereading the issue that I referenced above #37133, I realize that my title might be misleading.  Either you do support 2015.5.10 but not the 2015 versions talked about at the end of #37133, in which case my issue here is a real issue and not just a documentation issue, or you don't support 2015.5.10 and this is still a valid documentation issue.  Either way we need resolution.

[2018-01-11 17:09] rhavenn commented on #45341
FYI. I also put a bug in at cffi and they seem to have a fix in their tip branch. Running a build against their tip fixes the issue. For reference:
https://bitbucket.org/cffi/cffi/issues/353/1112-causes-salt-to-stop-functioning
https://bitbucket.org/cffi/cffi/issues/352/systemerror-returned-a-result-with-an

[2018-01-11 17:09] #45341 closed

[2018-01-11 17:23] jodok commented on #45383
i've additionally set the locale as outlined - running the highstate didn't trigger a change (so it was already set).
unfortunately the problem persists. as mentioned - if i run `cmd.run locale` i see that `LANG` is correct, but `LC_CTYPE=C` (only via salt-master, not with a local salt-call)

[2018-01-11 17:27] #27171 closed

[2018-01-11 17:27] #27178 closed

[2018-01-11 17:58] anlutro commented on #28357
Specifically for event returners? I remember "normal" returners working just fine.

[2018-01-11 18:27] #27068 closed

[2018-01-11 18:33] gtmanfred commented on #45391
Here is our doc on what version is supported for patching.

https://saltstack.com/product-support-lifecycle/

2015.5 will never receive any more patches

I am going to mark this as a documentation issue, that docs need to be added about cp.push not working between minions older than 2015.5 and masters newer than 2017.7

[2018-01-11 18:39] brianthelion commented on #44957
Oh, sorry, I think @terminalmage and I talked about this on IRC or something.

There is an unhandled exception in the ssh client when using a non-standard `root_dir`. Under that condition, `file_refs[saltenv]` gets populated with paths that have a leading "/". That would be fine except that `os.path.join(...)` has really specific semantics around leading "/" that break the logic in the patched cod

[2018-01-11 18:52] gtmanfred commented on #45386
can you try uninstalling the salt-minion packages and removing all the .pyc files in /usr/lib/python2.7/site-packages/salt, and see if installing again fixes the problem?

Thanks,
Daniel

[2018-01-11 19:27] #27196 closed

[2018-01-11 19:27] #27200 closed

[2018-01-11 20:07] #11260 closed

[2018-01-11 20:07] #21059 closed

[2018-01-11 20:15] dmurphy18 opened #45394 "git.latest fails when "depth" is used with a non-default branch"
### Description of Issue/Question
Documentation states that can use git.latest with depth when rev is set to a branch, but fails in error.

### Setup
test_download.sls

{% set specific_user = 'saltstack' %}
{% set tmp_dir = '/tmp/salt_dir' %}
## {# {% set branch_checkout = 'develop' %} #}
{% set branch_checkout = '2017.7' %}

remove_version_tmp_dir:
  file.absent:
    - name: {{tmp_dir}}

create_d

[2018-01-11 20:42] jcmcken commented on #28357
Minion-side returners work with just ``salt-call saltutil.sync_all``. But the master-side returner didn't work until I used ``salt-run``.

[2018-01-11 21:00] dgersic commented on #43935
I believe I'm seeing a related issue here, same symptom, with a different lens. I'm using Salt from within SUSE Manager, with a state like:

Test1-SuSEfirewall2:
  augeas.change:
    - lens: Shellvars_list.lns
    - context: /files/tmp/SuSEfirewall2
    - changes:
      - set FW_CONFIGURATIONS_EXT/value[last()+1] "test1"
    - unless: grep "^FW_CONFIGURATIONS_EXT=.*test1*" /tmp/SuSEfirewall2

/tmp

[2018-01-11 21:25] asnell commented on #42635
This would be fantastic - sign me up to beta test if there is a working implementation

[2018-01-11 21:30] terminalmage commented on #45394
Fixed in #45399.

[2018-01-11 22:17] westry9 opened #45402 "nested nodegroups not available in ext_pillar"
### Description of Issue/Question
I'm using ext_pillar to get nodegroup data. I see any simple nodegroups but not any that contain other nodegroups.

### Setup

**master.d**
[code]

**nodegroups. this example comes straight from Saltstack docs**
[code]

group2 works well. I have trouble with group3.

### Steps to Reproduce Issue

- Changed master.d data listed above
- Restarted salt-master
- Refre

[2018-01-12 04:22] jf commented on #45165
@dmurphy18 I have some context in https://github.com/saltstack/salt/issues/45165#issuecomment-354966073. I've solved it currently by simply using a state to add `salt-key` (from the master!) to the image - *and* also disabling salt-minion autostart, so that I can guarantee that the key is generated before the minion starts up, and that only *one* key is sent to the master. As such, I dont *need* `

[2018-01-12 04:28] chrisbertsch commented on #28742
+1 for Debian 9 armhf packages

I am trying to upgrade from Debian 8 but it looks like packages are not built for Debian 9 armhf.

[2018-01-12 06:37] #27184 closed

[2018-01-12 08:24] hiscal2015 commented on #44560
+ 1

[2018-01-12 08:31] damon-atkins commented on #28742
WIndows on ARM will be next :-)

[2018-01-12 09:16] floridop commented on #18729
Update: I commented out /etc/passwd editing and the minion completes its job. There must be something in the system that prevents the changes to /etc/passwd to happen; a manual merge works. I probably should use the `shadow` or `user` modules to handle these things instead.
It's still a bit annoying that one has to go by trial and error with salt, it's never clear what the minion is doing and why,

[2018-01-12 10:25] dhs-rec opened #45409 "win_path.exists should not change given entry to lowercase"
### Description of Issue/Question
Adding a directory to the Windows %PATH% using win_path.exists changes the given PATH entry to lowercase. Please stop doing that.

### Setup
[code]
is added to %PATH% as *c:\some\directory*.

### Steps to Reproduce Issue
Apply above state.

### Versions Report
2017.7.2 on both master and (Windows) minion.

[2018-01-12 12:25] JoaquinVeira commented on #45386
Hi, at minions I have installed python 2.6. I guess this is due to be on SLES 11 SP4.
After I remove salt & salt-minion packages there is nothing under /usr/lib64/python2.6/site-packages/salt

Thanks.

[2018-01-12 14:03] damon-atkins commented on #45198
Pls Label this oxygen
i.e. a Windows salt-call -l debug pkg.refresh_db should work without causing an error from trying to render  salt-winrepo-ng\skype-msi.sls

[2018-01-12 14:14] #44107 closed

[2018-01-12 14:28] mruckli commented on #31179
Is there any plan to merge the PR #45192. We would love to not have the manual patch in our production system for too long.

[2018-01-12 14:45] Ch3LL commented on #45402
could possibly be related to https://github.com/saltstack/salt/issues/45334 or https://github.com/saltstack/salt/issues/42735

can you give the workaround's in those issues a try?

[2018-01-12 14:50] Ch3LL commented on #45409
ping @saltstack/team-windows can i get some input here. Seems like an easy fix. Not sure if there is a reason we are moving it to lowercase though.

[2018-01-12 14:51] #44743 closed

[2018-01-12 14:54] isbm commented on #44422
I am wondering why this is even an issue. Yaml perfectly parsable with the Unicode:
[code]

This basically supposed to work, as I get the same result with just C or POSIX locales.

[2018-01-12 14:55] #45394 closed

[2018-01-12 15:07] Ch3LL commented on #45341
Ahh prefect so i'll just label this as an upstream bug thanks :)

[2018-01-12 15:19] twangboy commented on #45409
It's probably doing a comparison to see if the path already exists in %PATH%. Though Windows itself is not case sensitive, python is, so it probably uses `.lower()` to make the comparison. I can take a look at this. I don't like that it changes the capitalization either. It should be able to do that comparison and make the changes without modifying the existing entries.

[2018-01-12 15:30] KaiSzuttor opened #45413 "Installing variant of mac port fails if no version is provided"
### Description of Issue/Question
Calling ``sudo salt-call pkg.install boost variant='+openmpi'``
ends up with
[code]
while running ``sudo salt-call pkg.install boost version='1.65.1_1' variant='+openmpi'``
ends up with
[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
See above.

### Versions Report
(Provided by running `salt --versions-report`. Please also menti

[2018-01-12 15:50] dhs-rec commented on #45409
@lorengordon, no it's not cosmetic. If Salt changes things at will, it can't be trusted. Also think about automated tests to verify that the provisioned box is in the desired state.
@twangboy, thanks.

[2018-01-12 15:53] westry9 commented on #45402
#45334

This one does not look relevant to me. The workaround in that one was to avoid using YAML list lines. I'm not using them. However, I have tried the opposite just for fun and it still fails.

#42735

This one also appears to be a YAML listing issue, which I'm not doing.

[2018-01-12 16:54] davejhahn opened #45417 "salt.modules.cmdmod.powershell password documentation is incorrect"
I was using 2016.11 previously and upgraded to 2017.7.  After this, my states with PowerShell calls using "runas" and "password" started failing with "Module function cmd.exec_code threw an exception. Exception: password is a required argument for runas on Windows"

It could have been that the username / password was always ignored previously (even though I thought it was being used), regardless a

[2018-01-12 17:38] rhavenn opened #45418 "command line state-output options has no affect"
I found a few references that this has been fixed over the years, but perhaps the issue got re-introduced. When I add `--state-output=full` to the `salt` command it doesn't seem to do anything. My `master` config file has `state_output: changes` . I've run the following commands:
[code]
and both just list my 3 minions and the summary info. `full` output works fine when I have it set explicitly in

[2018-01-12 17:47] twangboy commented on #45409
@dhs-rec I don't understand your `it can't be trusted` comment. Since path is a single text field, the only way to add a path is to change it. Even if you aren't changing capitalization, you're still writing the entire path.

[2018-01-12 18:15] #27191 closed

[2018-01-12 18:58] Paulo-Nunes commented on #45402
`group3: 'G@os:CentOS and N@group1'`

Did you perhaps mean N@group2 ? I don't see group1 defined

[2018-01-12 19:01] rhavenn commented on #45418
Dogh. I had state_verbose: False set. Sorry, my bad. If I unset that then everything works as expected.

Sorry for the noise.

[2018-01-12 19:01] #45418 closed

[2018-01-12 19:34] DmitryKuzmenko commented on #43395
@tsaridas I've figured out what is happening on your system and if I'm right this problem is actual in the current codebase.
The problem is that each SaltEvent instance manages IPCClient instance while the IPCClient instance is a singleton (multion actually, but it doesn't makes sense here) and the SaltEvent instance must just use it and forget and never explicitly close it.

What you see in simpl

[2018-01-12 19:37] DmitryKuzmenko commented on #43395
I've marked it as a high severity but it's rarely reproduced bug, so maybe it's severity may be changed to medium.

[2018-01-12 20:38] noelmcloughlin opened #45421 "file.replace.repl interprets None as string "None""
### Description of Issue/Question
In python when RE.sub.repl='' then match is replaced with string ''
[code]
In salt when file.replace.repl='' then match is replaced by string 'None'.  This must be a bug.

[code]

P.S. Previously I encountered a `file.line.after` issue similar to [bug](https://github.com/saltstack/salt/issues/40821) on same PR.

### Setup

Replicated at https://github.com/saltstac

[2018-01-12 20:40] westry9 commented on #45402
Yes, sorry. The docs have all three groups. I took group1 out because it wasn't adding anything to the discussion.

[code]

[2018-01-12 20:47] whytewolf opened #45422 "changing git_pillar with -name and using same -name not updating repo."
### Description of Issue/Question
Starting with a git_pillar repo with one - name setting and then changing the repo but not the - name can cause different erroneous situations.

### Setup
[code]
push those pillars live to the minions.

then move to a new repo but keep the same name
[code]
in this example. the error `2018-01-12 19:28:02,242 [salt.utils.gitfs ][ERROR   ][11438] Root path '<bound me

[2018-01-12 20:48] whytewolf commented on #45422
ZD-2137

[2018-01-12 21:36] wyardley commented on #802
Agree that this would be very useful, something like `puppet parser validate` for Puppet (to do at least a basic syntax check of the code itself.
Obviously, for YAML itself, it's not hard to just add commit hooks using yamllint or similar.

[2018-01-12 22:34] #10433 closed

[2018-01-12 23:53] damon-atkins commented on #45417
Other doco issue for cmdmod #45193

[2018-01-13 04:10] jhujhiti opened #45428 "cffi errors during highstate runs on Python 3.6"
### Description of Issue/Question
I'm running Salt on FreeBSD with Python 3.6 (built from ports, default options on the ports aside from LOCALBASE=/usr/pkg). Using the latest cffi, 1.11.2, every single highstate run fails with the below error (or the same one for library "_openssl"). The previous cffi library in ports was 1.7.0, and it does not exhibit this behavior.
[code]

### Setup
Any highstat

[2018-01-13 10:46] zer0def opened #45431 "boto3_route53.hosted_zone_present state can fail due to related execution module function's typo"
A typo [here](https://github.com/saltstack/salt/blob/develop/salt/modules/boto3_route53.py#L557) may cause errors when setting up private hosted zones in R53 ([call in state module](https://github.com/saltstack/salt/blob/develop/salt/states/boto3_route53.py#L332)).

[2018-01-13 11:09] TheBigBear opened #45432 "winrepo-ng fault pkg.refresh_db doesn't work - it processes ANY stray .git metadata *.sls files present on minion"
### Description of Issue/Question
@twangboy  @damon-atkins I think there is a general fault or corruption in the official winrepo-ng software definition files repo that keeps them from compiling. ( or is it just on my system? and I need to clear a somehow cached 'bad' repo db ? )

So as a consequence of that ```NO``` ```pkg.refresh_db``` or ```pkg.list_upgrades``` or ```pkg.install``` or ```pkg.re

[2018-01-13 11:40] TheBigBear commented on #45432
@twangboy @damon-atkins I think I must be missing something 'obvious' ?

Fro testing and diagnositc purposes I have reverted my winrepo-ng repo back to before the recent commits to a time where I know it was all fine and dandy and worked.

But even when the repo is back at that earlier and known 'good' state, I still get the above error.

Now seeing that the salt software version has not changed o

[2018-01-13 12:53] samodid commented on #45177
kmod.load uses modprobe to load modules. modprobe load all dependency modules. State does not handle such case.

[code]

Fix looks simple, I'll submit patch

[2018-01-13 19:29] #45177 closed

[2018-01-13 19:57] rallytime commented on #44913
@ari - since we're passing **kwargs through, forcing a downgrade is still possible. See #45298 for more information. I have back-ported this original fix and it will be available in 2017.7.3.

[2018-01-13 20:30] TheBigBear commented on #45432
OK, I am getting somewhere ... this is a really strange issue.

It turns out that ```pkg.refresh_db``` appears to be recursively processing ALL *.sls files under the windows minions ```c:\salt\var\cache\salt\minion\files\base\win\repo-ng\salt-winrepo-ng\``` INCLUDING any *.sls files under the ```.git``` directory there
i.e. ```c:\salt\var\cache\salt\minion\files\base\win\repo-ng\salt-winrepo-ng\.g

[2018-01-14 04:16] judexzhu commented on #43581
Hi , I'm having the issue as well, unfortunately, I 'm trying install salt and saltapi on my mbp via pip

so when I try to

from the 2017.7.2 release

[code]

but I cannot install CheeryPy==5.6.0-2 with pip, I check the repo.saltstack.com.seems only have the cherrypy package for el7

anyway I can fix it by install cherrypy 5.6.0-2 in my macbook ?

[2018-01-14 05:56] damon-atkins commented on #45432
TheBigBear Please try the latest 2016.11 code however.  (or wait for it to reach 2017.x)  If it its a bad sls file it should just keep going and give you a report that it failed, unless your force the error to happen.  For example oxygen can not process the skype sls definition as it has a copy right character or a trade mark character but it keeps going and gives the report.  Salt team are still

[2018-01-14 08:22] root360-AndreasUlm opened #45441 "LocalClient should not use print()"
### Description of Issue/Question

I want to use salt.client.LocalClient() class in a script which iterates over a bunch of registered environemnts and runs commands.
As we have many Saltmaster it happens that a registered environment does not return data as no minion is connected the current Saltmaster.

Unfortunately LocalClient does not raise an exception which I could catch when no minion is c

[2018-01-14 08:50] TheBigBear commented on #45432
@damon-atkins thanks for feedback.
Sorry my master and all my clients are on 2017.x so don't dare downgrade. I thought latest code was on either 2017.x or dev? Obviously not ...

Yeah I agree I expected it to simply ignore bad sls files and get on with the job, and in fact I know it does just that with some of the files it doesn't like, (like the duplicity one) but this particular stray ```'.git'`

[2018-01-14 08:56] TheBigBear commented on #45432
@damon-atkins my stray ```'.git'``` metadata file looked like this, it basically had a single hash in it:
```'TheBigBear-create-initial-staywake-init.sls'```:
```26b394899eacf3750efdc075fbc3064c7c2aade9```

[2018-01-14 11:14] flavio commented on #45033
No worries, I do have k8s environments around. It's just a busy time 😢

[2018-01-14 12:57] damon-atkins commented on #45432
From read what you said its the fact that the file is not in the correct format at all.
Your saying its just a line e.g.
something.sls containing will break it.
[code]

@saltstack/team-core could someone look at why this is not error the render.

Either the render should have reported as issue or we need to trap Attribute error before starting the loop.
for pkgname, versions in six.iteritems(confi

[2018-01-14 16:10] babilen commented on #27366
The issue is still as relevant as it was back then.

[2018-01-14 18:41] TheBigBear commented on #45432
@damon-atkins thanks, cool.
this results in:
[code]
it does not give me the .git directory or the filename but the contents are clearly the culprit ```data:26b394899eacf3750efdc075fbc3064c7c2aade9``` that is the hash in the stray ```'.git'``` metadata file.

SO @saltstack/team-core I see ( or hope for ) at least two fixes.

1. stop any jinja sls file ( or slp file in the future ) under ```'.git```

[2018-01-15 00:26] damon-atkins commented on #45432
We can check that the config is the right type. I.e. list or dict or OrderDict or both.  It should not be a string.

[2018-01-15 03:06] mitar opened #45450 "Allow custom modules which run on master"
### Description of Issue/Question

### Setup

I am using `salt-ssh` to deploy configuration to servers. On my computer (SSH master) I have in `states` directory also `_modules` with some simple Python functions I want to run to process values in Jinja templates. I do something like:

[code]

`servers.groups` is a Python function which returns values from user's pillars based on target ID.

The iss

[2018-01-15 07:03] dhs-rec commented on #45409
What I mean is: If it changes a simple thing like path capitalization at will, are there other places where it does unwanted changes?

[2018-01-15 08:52] mhauptmann opened #45451 "Saltstack client_acl"
Hello,

i have a question...

Is it possible to allow a local group in the salt-master config to execute commands?

**I have a user:**
azubi_test1:
  user.present:
    - fullname: Azubi Testuser
    - shell: /bin/bash
    - home: /home/azubi_test1
    - groups:
      - azubi_usergroup1

**And i have a usergroup:**
azubi_usergroup1:
  group.present:
    - system: True
    - members:
      - azubi_t

[2018-01-15 13:17] vutny commented on #20823
This is still an issue in version `2016.11.8`.
If any AWS EC2 instance has a tag value with a unicode (UTF-8) symbol in it, and caching is enabled in Salt Cloud config file:
[code]
The result of running `salt-cloud -l debug -F` is the following:
[code]

Versions report:
[code]

[2018-01-15 14:21] asymetrixs opened #45455 "Missing / Incomplete modules in SaltStack RPM packages on repo.saltstack.com"
### Description of Issue/Question
I downloaded the Salt components from `http://repo.saltstack.com/yum/redhat/7.4/x86_64/latest/` and installed them on a CentOS 7.3 1611.
After using Salt for a bit I figured out, that at least the `selinux execution module` is not in it's latest version. It does not provide the function `selinux.fcontext_policy_present` and some others. I checked my installation a

[2018-01-15 15:16] remyd1 opened #45456 "Truncate, jinja 2.9+"
### Description of Issue/Question
Before Nitrogen (saltstack version 2017.7.2), my template worked. Now, I am stuck on how to define `truncate.leeway` to 0 in my template. Indeed, this new environment jinja variable in truncate is needed since jinja 2.9+. See here: http://jinja.pocoo.org/docs/2.10/api/#policies

### Setup
Here is my (previously working) template:

[code]
This last loop is not work

[2018-01-15 16:29] MorphBonehunter commented on #29662
Problem still exists in:

[code]
Testcase:
[code]
creates following container:
[code]
nothing is listening on the host:
[code]
docker inspect:
[code]
so change the testcase:
[code]
salt generates following changes:
[code]
after that following container is running:
[code]
listen on the host:
[code]
docker inspect:
[code]
@jfindlay or @ticosax  would you mind to reopen the case?

[2018-01-15 18:06] mdzidic commented on #44050
Hello,

I'm experiencing same problem managing `docker-ce` package version...

[code]

Installing new package and upgrading package from older version works fine, but when it comes to package downgrade Salt throws an error:

[code]

Salt report:

[code]

[2018-01-15 20:06] #27348 closed

[2018-01-15 20:06] #26697 closed

[2018-01-15 20:07] #25321 closed

[2018-01-15 20:07] #27395 closed

[2018-01-15 20:07] #27403 closed

[2018-01-15 20:07] #27405 closed

[2018-01-15 20:07] #26665 closed

[2018-01-15 20:07] #16012 closed

[2018-01-15 20:07] #10594 closed

[2018-01-15 20:07] #5681 closed

[2018-01-15 20:07] #26878 closed

[2018-01-15 20:07] #16904 closed

[2018-01-15 20:07] #27404 closed

[2018-01-15 20:07] #23269 closed

[2018-01-15 20:07] #27436 closed

[2018-01-15 20:07] #24909 closed

[2018-01-15 20:07] #24827 closed

[2018-01-15 20:07] #27369 closed

[2018-01-15 20:07] #27320 closed

[2018-01-15 20:07] #27512 closed

[2018-01-15 20:07] #27507 closed

[2018-01-15 20:07] #27284 closed

[2018-01-15 20:07] #27570 closed

[2018-01-15 20:07] #7664 closed

[2018-01-15 20:07] #4994 closed

[2018-01-15 20:07] #26983 closed

[2018-01-15 20:07] #26711 closed

[2018-01-15 20:29] mz-bmcqueen commented on #43427
This was likely fixed by this PR:  https://github.com/saltstack/salt/pull/44827.  In there I added a check for the case where:

`_total_slots = machine.getGuestPropertyValue('/VirtualBox/GuestInfo/Net/Count')`

returns a non-integer.

[2018-01-15 22:03] #27259 closed

[2018-01-15 22:03] #27261 closed

[2018-01-15 22:03] #27318 closed

[2018-01-15 22:03] #27319 closed

[2018-01-15 22:03] #27323 closed

[2018-01-15 22:03] #14397 closed

[2018-01-15 22:03] #27243 closed

[2018-01-15 22:03] #24752 closed

[2018-01-15 22:39] aphor commented on #45413
The module produces a command with a single port name and version (if given), and variants (if given) concatenated as a single positional arg to the "port install" command.

This is incorrect. The command should give version and variants as separate args eg.
`port install portname @version +variant`
and the current rev, where version kwarg is omitted and variant is given will try to execute\
`port

[2018-01-16 03:15] dtmateojr commented on #8249
Hi there,

Reviving a zombie thread here...

I have coded something like a pseudo-interactive shell for saltstack. At the moment it simulates being in a real shell and does some very crude tab autocompletion and allows remote editing of files using vim. Hoping that someone would be interested in improving it. I am no programmer so please bear with me.

https://github.com/dtmateojr/shalt

[2018-01-16 07:31] #27492 closed

[2018-01-16 09:36] damon-atkins commented on #27663
Mmm might be worth doing

[2018-01-16 10:52] #25889 closed

[2018-01-16 10:52] #20610 closed

[2018-01-16 11:41] dumol commented on #45345
I appreciate your responses, but sorry, your "correct approach" seems like a workaround to me. We used to do that, but moved to the more concise form, as stated above:
[code]
Which is also "correct" according to current documentation. But it fails on SLES, therefore this bug report.

[2018-01-16 11:53] meaksh commented on #45345
Hey @dumol , thanks for your response. I'm not sure, looking at the documentation [1] it's not clear to me whether a new group should be created or not if `gid_from_name` is set:

- **gid_from_name** - If `True`, the default group id will be set to the id of the group with the same name as the user, Default is `False`.

More over, looking at `groups` parameter:

- **groups** - A list of groups to

[2018-01-16 12:06] lorengordon commented on #45456
Can you just pass `leeway=0` to your truncate filter? E.g.:

[code]

http://jinja.pocoo.org/docs/2.10/templates/#truncate

[2018-01-16 12:13] dumol commented on #45345
Ah, I see, interesting… Perhaps the documentation should be improved to also say _If a group specified here does not exist on the minion, the state will fail_ for `gid_from_name` as well?

Maybe with _may_ instead of _will_? Because we use this for a number of OS'es and it only fails on SLES and MacOS (over there with a different error, see #45142). Possibly all the others (RHEL, Ubuntu, Debian, A

[2018-01-16 12:51] remyd1 commented on #45456
Thanks, it works ! :+1:

[2018-01-16 12:51] #45456 closed

[2018-01-16 13:10] remyd1 commented on #45456
FYI, it appears that even in Nitrogen, there are some differences. It it is installed through pip it needs the `leeway`, otherwise (eg: apt, yum) no. The python file corresponding to this jinja filter is not the same (jinja 2.9 with `pip install` and jinja 2.8 otherwise)...

[2018-01-16 13:35] mirkokeiner opened #45460 "salt-ssh grains.item overwrites grain values"
Hi everyone,

we are dealing with a major issue whilst setting up salt-ssh in our test environment.

We configured the following roster:
[code]

Now I would like to print the grain "wb_side" for each host and this is the result:
[code]

It somehow print the wrong value for the first Host.

Our Saltversion:
[code]

This is a very critical issue for us, because we can not use salt like that.

Thanks

[2018-01-16 13:50] meaksh commented on #45345
@dumol, I agree with you. I've created https://github.com/saltstack/salt/pull/45365 which addresses this issue by:

- Making the state fails initially in case the group does not exist.
- Updating documentation to make clear the state will fail in case the group does not exist.

I think others OS'es probably creates a group with the same name as the user when the user is being created by "useradd"

[2018-01-16 13:52] mirkokeiner commented on #45460
Update:

When using:
[code]
all grain values are the same as the one of the last host.

[2018-01-16 14:17] #43535 closed

[2018-01-16 14:20] NTmatter opened #45461 "Percent sign in file.serialize with configparser throws SerializationError"
### Description of Issue/Question
The configparser serializer throws an error when fed a single percent sign.

Commented lines and double percent signs come through without issue. The json formatter seems unaffected.

### Setup
foo.sls:
[code]

top.sls:
[code]

### Steps to Reproduce Issue
`salt banana state.highstate test`:
[code]

### Versions Report
Salt Version:
           Salt: 2017.7.2

Depe

[2018-01-16 14:52] aphor commented on #45413
PR submitted:
https://github.com/saltstack/salt/pull/45462

[2018-01-16 15:33] dumol commented on #45345
Fine by me. Thanks!

[2018-01-16 16:15] gtmanfred commented on #45421
This is part of pyyaml.  It recognizes empty strings as None.

[code]

LIke the rest of the [yaml idiosyncrasies](https://docs.saltstack.com/en/latest/topics/troubleshooting/yaml_idiosyncrasies.html#true-false-yes-no-on-off) you can wrap the single quotes in double quotes and it will treat it as an empty quoted string.

`"''"`

Thanks,
Daniel

[2018-01-16 16:15] gtmanfred commented on #45421
Actually, I am going to leave this open to have this case documented as another idiosyncrasy in that doc.

Thanks,
Daniel

[2018-01-16 16:17] gtmanfred commented on #45455
That option is not in the 2017.7.2 tag

https://github.com/saltstack/salt/blob/v2017.7.2/salt/modules/selinux.py

It will be in 2017.7.3, which is the next release.

Thanks,
Daniel

[2018-01-16 16:17] #45455 closed

[2018-01-16 16:17] gtmanfred commented on #45455
If you need the newer module right now, you can distribute it using dynamic modules

https://docs.saltstack.com/en/latest/ref/file_server/dynamic-modules.html

Daniel

[2018-01-16 16:19] gtmanfred commented on #45428
@cedwards when you have a second, could you swing by here?

Thanks,
Daniel

[2018-01-16 16:38] gtmanfred commented on #45451
Unfortunately, only users are supported now.

This is a duplicate feature request though, https://github.com/saltstack/salt/issues/42060

Thanks,
Daniel

[2018-01-16 16:41] gtmanfred commented on #45431
yup, that would do it

@saltstack/team-boto / @tkwilliams can yall take a look?

Thanks
Daniel

[2018-01-16 16:55] theWizK commented on #44086
Any update on when this fix will be released?  I'm affected by this on version 2017.7.2.

[2018-01-16 17:01] gtmanfred commented on #45460
I am unable to replicate this behavior.

[code]

It does look like this has been referenced before, https://github.com/saltstack/salt/issues/44394 , but we were also unable to replicate it there.

Can you provide me any more information to replicate this issue?

Thanks,
Daniel

[2018-01-16 17:09] gtmanfred commented on #45413
Thanks for the pr @aphor

Much appreciated,
Daniel

[2018-01-16 17:11] gtmanfred commented on #45422
@terminalmage is there any way to solve this without deleting the git bare checkout?

Thanks,
Daniel

[2018-01-16 17:14] gtmanfred commented on #44086
We are working on a release for 2017.7.3 now, it is branched, we just need to get it tested and stable and then it will be released.

[2018-01-16 17:34] gtmanfred commented on #45461
This is a bug in upstream python.

ConfigParser tries to do string interpolation if it finds a `%` in the string that is being laid down.

[code]

What is happening is `%%` is an escaped percent sign, so config parser finds it, but it doesn't actually do anything, but `%` isn't a valid string interpolation.  so it fails.

[2018-01-16 18:47] NTmatter commented on #45461
Any thoughts on how I can get a single percentage sign in there?

I've tried replacing it with ascii, unicode, and character name, but they all fail in their own way:
"/usr/share/samba/panic-action %d"
"/usr/share/samba/panic-action \x25\x64"
"/usr/share/samba/panic-action \u0025\x64"
"/usr/share/samba/panic-action \N{PERCENTAGE SIGN}\x64"

I can opt to use a template file, but I'd prefer to be pe

[2018-01-16 19:50] Ch3LL opened #45469 "Write test for issue 40578"
Write auto tests for https://github.com/saltstack/salt/issues/40578

[2018-01-16 19:56] Ch3LL opened #45470 "Add unit test for salt.utils.sanitize_win_path"
Add unit test for salt.utils.sanitize_win_path.

Related to issue found in: https://github.com/saltstack/salt/issues/43022

[2018-01-16 19:59] Ch3LL opened #45471 "[oxygen] M2Crypto testing"
Since we are adding M2Crypto back into salt's core functionalities here: https://github.com/saltstack/salt/pull/44962

we will need to manually test this new functionality by doing the following:

- [x] verify m2crypto is being tested in auto test suite
- [x]  install M2crypto during one of our manual test runs
- [x] m2crypto added to bootstrap: https://github.com/saltstack/salt-bootstrap/pull/119

[2018-01-16 20:07] DmitryKuzmenko commented on #45441
Sounds reasonably. I like that idea.

[2018-01-16 20:08] Ch3LL opened #45472 "Add auto tests for new auto-discovery feature"
Need to add auto tests for the new auto-discovery feature added here: https://github.com/saltstack/salt/pull/44678

To note this has been turned off by default in this pr: https://github.com/saltstack/salt/pull/45412

ping @isbm any chance you can write some tests up for this feature you wrote?

[2018-01-16 20:26] Ch3LL opened #45473 "Add auto test for new gitfs options in oxygen"
Add auto test for new gitfs options: https://github.com/saltstack/salt/pull/41144

[2018-01-16 20:29] Ch3LL opened #45474 "Write auto-test for x509.crl_managed"
Write an auto test for this issue: https://github.com/saltstack/salt/issues/38061

[2018-01-16 20:31] Ch3LL opened #45475 "Add auto test for lvm.pv_present"
Add auto test for https://github.com/saltstack/salt/issues/40314

[2018-01-16 21:03] chrisbertsch commented on #20275
+1

[2018-01-16 21:34] dmurphy18 commented on #42656
@gzcwnk The issue can be due to not having the older support for Redhat 6 totally removed (it uses Python 2.6).  Starting with 2017.7.x, salt uses Python 2.7 on Redhat 6.

Some other users have reported issues with not finding the scripts too and it was found that it was due to their environment having python 2.7 already installed, for example in /usr/local/lib.  Salt 2017.7.x installs a version o

[2018-01-16 22:03] Ch3LL opened #45477 "Add auto-test for new environment gitfs feature"
Write an auto-test for https://github.com/saltstack/salt/pull/40985

[2018-01-16 22:05] Ch3LL opened #45478 "[oxygen] Manually Test New salt-ssh / master/ minion feature"
On the head of Oxygen please test the new feature https://github.com/saltstack/salt/issues/40997

[2018-01-16 22:05] Ch3LL opened #45479 "Add Auto Test for New salt-ssh / master/ minion Feature"
Add auto test for https://github.com/saltstack/salt/issues/40997

Dependencies: Kitchen-salt test runner needs to be finished

[2018-01-16 22:08] rallytime commented on #44495
HI @damon-atkins - we are moving towards using an RFC template, which is documented [here](https://github.com/saltstack/salt/blob/develop/rfcs/README.md) for these types of discussions. Would you be willing to give that template and process a try?

FYI @saltstack/team-suse ^

[2018-01-16 22:26] Ch3LL opened #45484 "Add auto test for issue 41199"
Add auto test for issue https://github.com/saltstack/salt/issues/41199

ping @twangboy not a release blocker but needs to be added so we don't regress

[2018-01-16 22:28] Ch3LL opened #45485 "Add auto test for new vmware feature in 41941"
Add auto test for https://github.com/saltstack/salt/issues/41941

[2018-01-16 22:32] Ch3LL opened #45486 "Add auto test for issue 44389"
Add auto test for issue https://github.com/saltstack/salt/issues/44389#issuecomment-343386264

ping @twangboy not a release blocker but just needs to get added eventually to ensure we don't regress.

[2018-01-16 22:34] Ch3LL opened #45487 "Add auto test for issue 44820"
Add auto test for https://github.com/saltstack/salt/issues/44820

[2018-01-16 22:47] #25947 closed

[2018-01-17 00:18] ipmb opened #45489 "cache.grains runner returns all minions when match is not found"
### Description of Issue/Question

Failure to target any minions should return 0 minions, not all minions.

### Steps to Reproduce Issue

[code]

### Versions Report

[code]

[2018-01-17 00:31] PKiman commented on #44559
Alternatively blockdev.formatted can be replaced by cmd.run to additionally support format settings like:

`
/dev/xvdb:
  cmd.run:
    - name: '/sbin/mkfs.xfs -d su=128k,sw=8 -l version=2,su=128k -isize=512 /dev/xvdb'
    - unless: '/usr/bin/file -s /dev/xvdb | grep -q "XFS filesystem data"'
    - require:
      - pkg: xfsprogs.x86_64
`

[2018-01-17 00:51] aphor commented on #40316
The VirtualBox svn XPCOM code is kinda crusty (look at them struggle to get Python3 working). It's not well documented, but the same XPCOM interfaces are exposed via a SOAP server 'vboxwebsrv' which *might* be more elegant than wrapping the CLI 'VBoxmanage' tool.

OTOH, that requires another process in the background, and another component to manage, while there may be additional benefits to fixin

[2018-01-17 00:51] ryan-lane commented on #45431
I don't see the typo which a quick look. Can you point out the specific typo, or send in a PR?

[2018-01-17 00:58] aphor commented on #40063
VirtualBox XPCOM code is pretty crusty. It may be smarter to wrap the CLI tools like "VBoxManage."

[2018-01-17 05:00] jonathansd1 commented on #13733
What's the state of this feature request? Is it still on the radar?

[2018-01-17 06:07] sumeetisp commented on #45290
@garethgreenaway Please help

[2018-01-17 06:21] mirkokeiner commented on #45460
Hi Daniel,

thank you for the quick answer. I would love to provide more Information, but which one could be helpful to replicate this Issue?

This is my roster file:
[code]

Here you can see how everything gets overwritten by the values of wbjp5:
[code]

The only possible reason I see is the roster. But I can't find anything wrong with it.

For testing purpose I deleted "wbjp5" from the roster. N

[2018-01-17 06:52] mitar commented on #45450
OK, maybe I am misunderstanding something. What I want in the end is to improve the performance of how quickly states are applied. Now, if I call `salt-ssh -l debug 'server' state.highstate` I see in output many many entries of:

[code]

For all entries in `pillar.users`. (I have two such methods, `servers.groups`, and `servers.match`.)

I assumed that state is being rendered on the master and thi

[2018-01-17 07:40] asymetrixs commented on #45455
So then I am confused why the _latest_ version of the documentation ([2017.7.2](https://docs.saltstack.com/en/latest/ref/states/all/salt.states.selinux.html)) says that it is available and was already introduced in 2017.7.0.

Please clarify, thanks.

[2018-01-17 08:28] damon-atkins commented on #45470
Plan is to remove this function next release

[2018-01-17 08:36] MiracleYoung opened #45492 "python 3.6 recieve UnicodeDecodeError"
### Description of Issue/Question
Sorry for my poor english.
I just have one question that I use pyenv and python version is 3.6.3, when I use salt minion test.ping, it raise a UnicodeDecodeError,
`UnicodeDecodeError: 'utf-8' codec can't decode byte 0x82 in position 22: invalid start byte`

### Setup
Just `yum install salt-master salt-api`, and use python 3.6 to `pip install salt`

### Steps to Re

[2018-01-17 08:56] cmclaughlin commented on #14183
Here's a very simple test case to reproduce this bug:

[code]

Output below - note the Apache pid doesn't change... perhaps not a great test, since the `watch_in` changes the order. Maybe that's part of the problem?  I expect `service.running` to be applied, then `file.managed` then a restart of the service should be triggered:

[code]

I tried to narrow it down... I think the problem is somewhere

[2018-01-17 09:24] damon-atkins commented on #45432
Use
https://docs.saltstack.com/en/latest/ref/configuration/master.html#file-ignore-regex
or
https://docs.saltstack.com/en/latest/ref/configuration/master.html#file-ignore-glob

However it is a bug that its not checking `config` variable type.

[2018-01-17 12:03] sumeetisp opened #45494 "Azurearm - provisioning using static IP"
### Description of Issue/Question

How to provision machines in azure using static ip?

Current documentation [here](https://docs.saltstack.com/en/latest/topics/cloud/azurearm.html) doesnt have mention of statis ip's

[2018-01-17 12:22] mts-avco commented on #39008
I know this has been closed, but was there a resolution? I'm trying to work out if this is the same problem I'm having or not

[2018-01-17 14:02] hibbert opened #45496 "Be able to enable termination protection in salt-cloud via cloud profiles"
### Description of Issue/Question

At the moment you need to specify a command after build out i.e:-

salt-cloud -a enable_term_protect <node>

Maybe this could be changed so it could be added in cloud.providers.d / cloud.profiles.d so it can be stored in git for rebuilds etc

### Versions Report
 salt --versions
Salt Version:
           Salt: 2017.7.2

Dependency Versions:
           cffi: Not In

[2018-01-17 14:13] dverbeek84 opened #45497 "wait_for_successful_query hangs"
### Description of Issue/Question
When i use this state:

[code]

it hangs on the minion.

I get the following debug log:

[code]

`curl --head https://github.com` output:
[code]

`http.query` works fine.

### Versions Report
Salt Version:
           Salt: 2017.7.2

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: Not Installed
      docker-py: No

[2018-01-17 14:38] kivoli commented on #44831
@Ch3LL Do you require any additional information from me?

[2018-01-17 15:12] mts-avco opened #45503 "State group.present fails to create a new group on Windows"
### Description of Issue/Question
Asserting a group under Windows fails if the group does not exist.

Manually altering `salt\states\group.py:249` directly to only pass 1 argument then causes the state to apply and the group to be created.

### Setup
Install a salt-minion on Windows and authorise key as usual.

top.sls:
[code]

group1.sls:
[code]

### Steps to Reproduce Issue
The error reported on

[2018-01-17 15:22] Ch3LL commented on #45489
looks like i'm able to replicate this. Please feel free to submit a PR if you want to look at a fix.

Also anyone from @saltstack/team-core if you want to attack this one as well.

[2018-01-17 15:26] Ch3LL commented on #45492
I'm not able to replicate this. I wonder if the pip install and the package install are conflicting. Can you clean up your pyc files?

[2018-01-17 15:27] Ch3LL commented on #45494
ping @saltstack/team-cloud any ideas here?

[2018-01-17 15:29] Ch3LL commented on #45496
ping @saltstack/team-cloud is this possible?

[2018-01-17 15:38] thatch45 commented on #44831
Just to throw in my 2 cents here. I don't think it was necessary to deprecate cmd.wait. I understand that it can be confusing as the majority case would be covered with onchanges, but I don't see a need to cut it out of the codebase.

[2018-01-17 15:42] rallytime commented on #44831
Yeah, I think we should just get rid of the note about deprecating it.

[2018-01-17 15:48] thatch45 commented on #44831
Agreed, the cmd.wait pattern is still a viable pattern and it seems still gives users flexibility beyond what they get with just onchanges

[2018-01-17 15:57] Ch3LL commented on #45497
I'm not able to replicate this issue but glancing at the code its getting to that debug line because this is never true: https://github.com/saltstack/salt/blob/v2017.7.2/salt/states/http.py#L150 which seems odd and it doesn't look like you are setting a custom wait time.

Can you add this logging information so we can see why that is not true:

[code]

[2018-01-17 15:58] gtmanfred commented on #45431
the function appears to define `diassociate` instead of `disassociated`

@zer0def would you mind submitting a PR to fix this?

Thanks,
Daniel

[2018-01-17 16:10] gtmanfred commented on #45450
Hrm, maybe I am wrong, I was pretty certain we just shipped over the whole state tree and rendered it on the minon, but it appears that it does not.

https://github.com/saltstack/salt/blob/2017.7/salt/client/ssh/wrapper/state.py#L624

It would seem reasonable to add `salt.client.ssh.wrappers` as a loader system and then allow to be syncable

I am marking this as a feature request.

[2018-01-17 16:13] gtmanfred commented on #45455
Ahh, i see what happened, that is a state module, not an execution module.

https://github.com/saltstack/salt/blob/v2017.7.2/salt/states/selinux.py#L311

check `/usr/lib/python2.7/site-packages/salt/states/selinux.py`

[2018-01-17 16:15] gtmanfred commented on #45494
I am going to have to defer to @techhat for if that is possible

[2018-01-17 16:17] gtmanfred commented on #45496
Would be fairly easy to just check an option, and if it is set in the profile or provider, then to just run the enable_term_protection command.

[2018-01-17 16:28] poliva83 commented on #34237
I did workaround this in 2016.3.6 by enabling the ssh module (salt/modules/ssh.py) on a windows hosts. This allowed ssh.key_is_encrypted call in git module to actually load and work (https://github.com/saltstack/salt/blob/v2016.3.6/salt/modules/git.py#L220). However, this workaround is not working with 2017.7.2 because the ssh module code appears to not even ship for windows minions.

Can we just

[2018-01-17 16:31] gtmanfred commented on #45460
ok, let me double check with cento 6 as my salt-ssh master.

[2018-01-17 16:44] gtmanfred commented on #45460
I am still unable to replicate this unfortunately

Can you try adding `--wipe --thin` to the salt-ssh command and see if that helps?

This will wipe the thin tarball directory on the minion, and will also regenerate a new thin tarball and transfer it over.

Thanks,
Daniel

[2018-01-17 16:46] gtmanfred commented on #45461
Unfortunately I was unable to figure out how to get the single percent sign in there without the ConfigParser library trying to interpolate it.

[2018-01-17 16:59] bbejot opened #45506 "cherrypy should have a way to apply states asynchronously"
### Description of Feature Request

Currently, there is no way to apply states asynchronously through the cherrypy salt-api.  My understanding is that cherrypy uses the client-api on the salt master, but only calls the cmd function for each of the interfaces.  This leaves no way to access the other client-api functions (such as cmd_async in salt.client.LocalClient).  The modules that client-api pr

[2018-01-17 17:11] Ch3LL commented on #45503
Should be resolved by https://github.com/saltstack/salt/pull/44080

can you give that a try?

[2018-01-17 17:14] Ch3LL commented on #45506
ping @saltstack/team-netapi think this is a possibility?

[2018-01-17 17:15] gtmanfred commented on #45506
Have you tried setting the client to `local_async` in the api call?

[2018-01-17 17:16] gtmanfred commented on #45497
This will be fixed in 2017.7.3 https://github.com/saltstack/salt/pull/44968

[2018-01-17 17:22] gtmanfred opened #45507 "[Oxygen] Runtests.py is failing because of the event bus"
### Description of Issue/Question
This started here.  https://github.com/saltstack/salt-jenkins/issues/683

What I found was that either the `salt-master` or `salt-run state.event` is taking longer than expected to attach to the masters event bus .ipc file, and the pytest-salt kills off starting the different services because the [EventListener](https://github.com/saltstack/pytest-salt/blob/master

[2018-01-17 17:23] bbejot commented on #45506
You know, sometimes you look for a thing that you think should exist for an entire day and it turns out that the answer was sitting in one of your open tabs.  Thank you, @gtmanfred, local_async was exactly what I was looking for.

[2018-01-17 17:25] rallytime commented on #45507
Hi @DmitryKuzmenko Can you look into this? We've worked around it for now by increasing the time we wait for the daemons to start up in the test suite, but I think this is indicative of a larger problem.

Please reach out if you have questions.

[2018-01-17 17:44] DmitryKuzmenko commented on #45507
With a pleasure.

[2018-01-17 17:49] gtmanfred commented on #45506
:+1:

[2018-01-17 17:49] #45506 closed

[2018-01-17 19:01] mitar commented on #45450
Yea, I was also surprised by this behavior. It really delays everything. So I do not care if everything is rendered on master or on minion, but it should just be done at one place without SSH connections going all the time.

[2018-01-17 19:03] gtmanfred commented on #45450
@saltstack/team-ssh would this be even possible?

Thanks,
Daniel

[2018-01-17 19:04] jhujhiti commented on #45428
I looked into this a little more. It seems that the references to openssl and constant_time both come from the cryptography library. So this could be a bug there. But clearly it's triggered by the attempt to reload modules in Salt.

[2018-01-17 19:09] Amacelia opened #45509 "Minions not checking in on SSE 5.2"
### Description of Issue/Question
Minions are not checking in when using the SSE web portal. Maybe this can be tracked down using the master log file. Please let me know if you can glean any information as to why the minions are not checking in. I restarted the RaaS service, master service, and deleted/accepted the minion keys, but nothing works.

### Setup and Steps to Reproduce Issue

CLI return

[2018-01-17 19:15] gtmanfred commented on #45509
I would recommend opening an issue on the zendesk portal.

[2018-01-17 19:50] rickh563 commented on #45509
@Amacelia, my name is Rick Holzer, Manager of Salt-Support.

The public SaltStack Git-Repo (https://github.com/saltstack) only applies to Open-Salt.

For submitting Bug-Reports or Feature-Requests for  SaltStack Enterprise, please open a Support Ticket is the SaltStack Enterprise Support Portal.

I have found your User Account in the Enterprise Salt-Support Portal.

I am going to:

* Open a Suppor

[2018-01-17 19:59] rickh563 commented on #45509
@Amacelia, as promised:

* I have opened Support Ticket ZD 2148 on your behalf;
* I am closing this Git-Issue.

Regards,
Rick

[2018-01-17 19:59] #45509 closed

[2018-01-17 20:33] histamineblkr opened #45510 "all service.running fails"
### Description of Issue/Question
This _may_ be due to running both the salt-master and salt-minion on the same machine, but I'm not sure.

I wrote some basic salt states that install a package and check the service running for firewalld, fail2ban, and crond. However, they all fail on the service running portion with "Comment: The named service <name> is not available". I can run systemctl with <n

[2018-01-17 21:10] twangboy commented on #34237
@poliva83 The above PR fixes the path issue and includes ssh.py in the Windows installer. We'll have to make the ssh module fully compatible on Windows another day.

[2018-01-17 21:49] dverbeek84 commented on #45497
I also don't have the issue after fresh installs of the machine, so i can't reproduce it.

[2018-01-17 23:18] twellspring opened #45513 "Revisiting the minion restart issue"
### Description of Issue/Question
I am upgrading from ubuntu 14.04 to ubuntu 16.04.  Under ubuntu 14.04 I could use a state to do this

[code]
and the minion would restart and continue the state with no problem.   That does not work in ubuntu 16.04.

As I research I see that this problem has been discussed a lot.    There is the [minion.restart](**https://github.com/saltstack/salt/pull/32593**) mo

[2018-01-17 23:26] brianthelion commented on #44957
@rallytime In addition to the above, one of my devs is seeing an issue with Docker `entrypoints` not being inherited from the base image in Oxygen. The issue is not present in Nitrogen. We'll try to pull together an example in the next few days.

[2018-01-17 23:28] bgridley opened #45514 "boto_vpc.route_table_present throws an error when running test=True if the route table does not exist"
### When managing aws route tables with boto_vpc.route_table_present: state module, an error is thrown when test=True.

We need to be able to test before running this state.

salt '*' state.apply routes test=True

     Comment: An exception occurred in this state: Traceback (most recent call last):
                File "/usr/lib/python2.7/dist-packages/salt/state.py", line 1843, in call

[2018-01-17 23:29] gtmanfred commented on #45513
This will be fixed in 2017.7.3

[2018-01-17 23:29] #45513 closed

[2018-01-17 23:52] tyhunt99 opened #45516 "[Question] Does the salt master or the salt syndic issue bootstrap commands for salt-cloud?"
### Description of Issue/Question
I am playing around with the idea of a multi-master setup for salt using the [syndic](https://docs.saltstack.com/en/latest/topics/topology/syndic.html). The basic concept is I have an isolated VPC in a separate AWS account and I want this intermediate node to act as the gateway for all minion within that VPC.

In order for this to work I need to know when I issue

[2018-01-18 05:02] gtmanfred commented on #45516
The machine that you run the salt-cloud command on will be the one that bootstraps it, it uses [salt.utils.cloud:deploy_script](https://github.com/saltstack/salt/blob/develop/salt/utils/cloud.py#L1172) to bootstrap the minion.

If you want to do this with a syndic, you will either need to run the salt-cloud command from the syndic master server, or you could have a minion also on the syndic master

[2018-01-18 05:03] dOpsCoder commented on #41330
Hey @gtmanfred @deuscapturus Can you guys share what was the relation between curl version and the error you saw? I have similar issue and can't easily upgrade libcurl or curl.

[2018-01-18 08:34] hgfischer commented on #19834
Happy Birthday issue #19834 ! :tada: :birthday: :gift:

[2018-01-18 11:39] NTmatter opened #45520 "file.read is not available on Windows minions"
### Description of Issue/Question
Using file.read on Windows minions fails, saying that file.read is not available.

I'm using `cp.get_file_str` as a workaround, as copying the file to the minion cache isn't too big of a deal.

This issue is likely related to #39960

### Steps to Reproduce Issue
`salt -G os:Windows file.read 'c:\windows\system32\etc\hosts'`

Result:
[code]

### Versions Report
[co

[2018-01-18 11:50] Waples commented on #42635
Is there anyone allready working on this?

[2018-01-18 12:17] kiemlicz opened #45521 "Import jinja template in py renderer"
### Description of question
Typically using salt, we define `map.jinja` file that defines some defaults (e.g. per OS basis)
Such file can easily be used in `*.sls` files like so:

[code]

How to achieve the same using `py` renderer?

[code]

[2018-01-18 13:02] while0pass opened #45523 "Calling state functions from custom execution modules"
It would be helpful to be able to call state functions with `__states__` both from other states and custom execution modules. One can use `__salt__['state.single']('statemodule.function', **kwargs).values()[0]` for the second case right now, but `__states__` would be much neater.

[2018-01-18 13:17] wesleyarthur opened #45524 "Detecting empty grain"
### Description of Issue/Question
Hello, I'm trying to detect if a grain is null, then do something. In particular if a server has no disks then do something. I had previously used the syntax below, but now I can't seem to get it to work. Would anyone know the best way to test for pillar being empty?

### Setup
[code]

### Versions Report
Salt  Version: 2017.7.2

[2018-01-18 13:19] dverbeek84 opened #45525 "UnicodeDecodeError in highstate output"
### Description of Issue/Question
I have a issue with unicode and the highstate i don't know where is is comming from

I get the following error:

[code]

### Versions Report
Salt Version:
           Salt: 2017.7.2

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: 0.6.4
      gitpython:

[2018-01-18 13:38] damon-atkins commented on #44495
Leave this open until I have done the RFC

[2018-01-18 14:07] isbm commented on #44495
@damon-atkins I would suggest you to reference this issue in your RFC PR.

[2018-01-18 14:13] gtmanfred commented on #45521
You can use a defaults.yaml, and just read in the yaml file like you would for anything else in python.

https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.slsutil.html#salt.modules.slsutil.renderer

Or you can render the jinja, and make sure you actually print out the dictionary at the end, and use the slsutil.renderer . It will look different slightly than the map.jinja where you

[2018-01-18 15:31] guettli commented on #45266
@Ch3LL I try to elaborate why I did this patch.

The environment variable 'GPG_TTY'  does contain a german Umlaut in my case: u'kein Ausgabeger\xe4t'

I guess this is the case because /dev/tty can't be read. But in my case it does not matter.

There is a environment variable which fails to be encoded.

I see these solution variants:

V1: Current state: fail with "Environment could not be retrieved

[2018-01-18 15:51] Ch3LL opened #45527 "UnboundLocalError: pkg.installed on arch with sources"
When using the following state on arch:

[code]

I am running into this error:

[code]

working on a PR right now

Found on salt version 2017.7.2

[2018-01-18 15:53] #43533 closed

[2018-01-18 17:20] garethgreenaway commented on #45514
@bgridley Thanks for the report.  This should be an easy fix, we just need to check that there is in fact a list before trying to reference an item in it.

[2018-01-18 17:25] garethgreenaway commented on #45520
@NTmatter Thanks for the report.  Currently the `file` module is only supported on non-Windows systems.  For Windows systems there is the `win_file` module, which does not include a `read` function but we would welcome a pull request to add support for one.

[2018-01-18 17:33] garethgreenaway commented on #45523
@while0pass Thanks for the report.  This is currently possible starting in the 2017.7 release, there are several examples in the code base.

[2018-01-18 17:39] garethgreenaway commented on #45525
@terminalmage FYI.

[2018-01-18 17:41] garethgreenaway commented on #45524
Not sure if this is a direct cut & paste from what you're using but you appear to have a typo, should be `grains` not `gains`.

[2018-01-18 17:43] garethgreenaway commented on #45510
@histamineblkr Thanks for the report.  Can you verify if the `service` execution module works for managing services outside of the state files?

[2018-01-18 18:06] histamineblkr commented on #45510
It works as it should and forwards to systemd.
[code]
[code]
[code]

[2018-01-18 18:08] #39287 closed

[2018-01-18 18:35] wesleyarthur commented on #45524
Oops. Typo when I put it up here. I've updated to what it is currently set to.

[2018-01-18 19:01] #45527 closed

[2018-01-18 19:18] whytewolf opened #45535 "module_dirs left out salt-ssh, leaving custom ext_pillars and modules out of salt-ssh"
### Description of Issue/Question

The `module_dirs` is not copied from the master opts into salt-ssh opts which causes modules and pillars left out of the transfer.

### Setup

The most straightforward test is a custom pillar in a module_dirs directory.

I put this pillar file in /srv/salt/extmods/pillar/test.py
[code]
and configured my master with these settings
[code]

### Steps to Reproduce Is

[2018-01-18 19:21] whytewolf commented on #45535
ZD-2151

[2018-01-18 20:13] mgriffin13 commented on #43287
@carlpett I think the secure grain functionality you're looking for would be solved by #31109. Of course, that feature request has been on the books for a while.

As a mitigation to the non-secure grains, what we've done is created a random pre-shared key. Then, we define the grain on the minion
[code]

The ``vault.conf`` on the salt-master:
[code]

This is not perfect, but it does make it substan

[2018-01-18 22:16] nullify005 opened #45539 "states/boto3_route53.rr_present doesn't currently allow for AliasTarget creation for the APEX of a domain"
### Description of Issue/Question

When attempting to use boto3_route53.rr_present it currently isn't possible to create an A record for the APEX of a zone pointing to an AliasTarget such as an ELB.

The state tries to iterate through the ResourceRecords passed in to do all sorts of magic things with EC2 instances etc. and perform a lookup on ResourceRecords, however when making A records in this

[2018-01-19 01:53] #38049 closed

[2018-01-19 01:55] UtahDave commented on #36046
The required libnacl version is in the repo.

[2018-01-19 01:55] #36046 closed

[2018-01-19 09:08] BenjaminSchubert commented on #42635
I didn't have time to start it. If you want to go ahead, feel free!

[2018-01-19 10:34] Waples commented on #42635
We'll see what we can do

[2018-01-19 11:12] P-Jablonski opened #45545 "Filtering out paths, while building SPMs might remove too much in some edge cases"
https://github.com/saltstack/salt/blob/bb94a21d09d24332021f97681bb951b19b512a1f/salt/spm/__init__.py#L1075

The way the path is currently filtered out is, that if file path string starts with the string supplied by filter, it will be filtered out

`member.name.startswith('{0}/{1}'.format(self.formula_conf['name'], item))`
`member.name.startswith('{0}/{1}'.format(self.abspath, item))`

So in your /

[2018-01-19 12:21] MiracleYoung commented on #45492
Hi, thanks for your time.
Let me re-describe it.

1. `yum install salt-master salt-api`
2. `pyenv virtualenv 3.6.3 saltstack`
3. `cd /etc/salt/`
4. `pyenv local saltstack`
5. `service salt-master start`

Is it related to when I first install with yum tool and python version was 2.7 for Centos 7 built-in ?

[2018-01-19 12:50] cskowronnek opened #45546 "Salt Cloud Azure ARM: cannot deploy VM"
### Description of Issue/Question
I can't deploy a VM using several sizes:
[code]
### Setup
[code]

### Steps to Reproduce Issue
It works with a size like "Basic_A0", but not with some other sizes like Standard_B4ms.

DEBUG LOG:
[code]

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)
[code]

[2018-01-19 13:19] #11167 closed

[2018-01-19 13:19] #20826 closed

[2018-01-19 13:23] the-glu opened #45547 "Retuners: no cleanup for salt.returners.pgjsonb ?"
### Description of Issue/Question

I setuped salt to use salt.returners.pgjsonb (as recommanded for postgres) as a returner for my master.

I see that my database is growing and growing and old entries are never removed.

It seems there is no cleanup function but one seems to exists in one postgres module, `postgres_local_cache.clean_old_jobs`.

What should be done ?

The documentation dosen't spe

[2018-01-19 13:29] dverbeek84 commented on #37990
I have got the same issue on version 2017.12.02

[2018-01-19 13:41] the-glu commented on #45547
Update:

The function seems to do nothing, even in postgres_local_cache: https://github.com/saltstack/salt/blob/5d7386edc50c6e7d9843cb7196e7f884ed642e7a/salt/returners/postgres_local_cache.py#L411

Mysql's returner seems to be implemented however: https://github.com/saltstack/salt/blob/5d7386edc50c6e7d9843cb7196e7f884ed642e7a/salt/returners/mysql.py#L560

[2018-01-19 13:43] mirceaulinic commented on #44847
Just an update here: I tried twice to work this out, but it looks like a dead end, and we should probably just remove the `debug=True` CLI argument from the examples. I'm not sure if we can make this work fine.
I had the feeling that in past releases you could fine the CLI arguments in a `fun_args` or something similar under `__opts__`, but apparently I was wrong.
Meanwhile, the explanation above

[2018-01-19 15:02] atoy3731 opened #45550 "Importing 'unicode_literals' in utils/aws.py causes unicode error during s3.get module execution"
When `unicode_literals` was imported from `__futures__` in `utils/aws.py`, it caused the s3 module to break.

### Setup
None

### Steps to Reproduce Issue
Command to run:  `salt '*' s3.get`

Leads to the following stacktrace:

[code]

### Versions Report
Salt Version:
           Salt: 2018.2.0-77-gbb94a21

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       da

[2018-01-19 15:47] gtmanfred commented on #45547
These should be implemented for the other returners.

Thanks for the report.
Daniel

[2018-01-19 15:55] gtmanfred commented on #45546
@techhat have you seen this problem when writing the azurearm driver?

Thanks,
Daniel

[2018-01-19 15:57] gtmanfred commented on #45545
You could set exclude to `test/` right now.

But we should make this more explicit. and allow for it to ignore subdirectories in a similar way that .gitignore does it.

I am going to mark this as a feature request.
Daniel

[2018-01-19 15:59] gtmanfred commented on #45539
Would you please submit that patch as a PR?

Thanks,
Daniel

[2018-01-19 16:01] gtmanfred commented on #45550
Can you provide the full stack trace? it looks like the end of it with the actual error that was thrown has been chopped off.

Thanks,
Daniel

[2018-01-19 16:03] gtmanfred commented on #45535
Does it just load the external module into the `salt` thin tarball?

I am assuming putting it in salt://_pillar also works?

It doesn't seem crazy to me to want to be able to load any module that the master has loaded for salt-ssh

@saltstack/team-core does anyone have an opinion about this?

Thanks,
Daniel

[2018-01-19 18:48] boogybren opened #45556 "cmd.run/cmd.shell Not sourcing BASH login script"
### Description of Issue/Question
When running:

`salt 'servernamehere' cmd.run 'command here'`
OR
`salt 'servernamehere' cmd.shell 'command here'`

It is not sourcing ANY login script.  Even when `shell=/bin/bash` is provided.

I've tried exporting a variable in several places in the OS that would set the variable with no luck.  It works perfectly from CLI.

/root/.bashrc
/root/.bash_profile
/roo

[2018-01-19 19:06] amontalban opened #45558 "Problem when using slsutil.renderer in pillar"
### When I use slsutil.renderer it tries to load file from state when using it as pillar

### Setup
I'm trying to load multiple pillar files from a folder (In this case users), to do this I used Python and slsutil.renderer.

Here is my `pillar/common/users/developers/init.sls`:

[code]

Then in the `pillar/common/users/developers` I have multiple .sls files in the format of `amontalban.sls` with t

[2018-01-19 19:19] atoy3731 commented on #45550
Unfortunately that was all that was available in my `minion` log. I can dig a little more to try to get the full stack trace when I get some time.

[2018-01-19 19:38] rhavenn opened #45559 "minion debug crashes on Windows"
Sometime in the last few weeks the salt-minion debug mode has started to crash on Windows. I haven't had to run a debug in awhile, so I don't know exactly when it started happening, but it last worked in mid to late December. I'm using the same exact minion version and base Windows version.

The service runs fine normally. I was just trying to troubleshoot a new windows package install.

Windows v

[2018-01-19 19:50] gtmanfred commented on #45550
There should be one more line after that that has the Exception that was raised

[code]

Yours just stops at the File that the exception was in, but not the exception

[2018-01-19 20:21] whytewolf commented on #45535
It currently does not load the modules_dir modules into the `salt` thin tarball. I missed that while I was looking at the code.

Putting the pillar in `salt://_pillar` does work as that will sync the pillar into the `extension_modules` directory which is picked up currently.

Thank you,
Thomas

[2018-01-19 20:29] gtmanfred commented on #45535
right, but with your addition, it just loads the file into the thin tarball?

[2018-01-19 20:36] whytewolf commented on #45535
unfortunately, I only tested with pillar originally. so even with my change modules do not get added to the `salt` thin tarball and modules are still broken.

[2018-01-19 20:39] gtmanfred commented on #45535
ok, yeah it would probably be useful to have those modules included in the thin tarball just probably want someone from @saltstack/team-ssh to comment and affirm that.

Thanks!
Daniel

[2018-01-19 20:50] gtmanfred commented on #45460
yeah, hrm, yeah unforuntately without being able to reproduce this, there isn't a lot that we can do.

If you can setup a docker container image or a vagrant setup that has the roster file in it, that this happens with, and we can just update the roster to point to our own servers, maybe that will help.

[2018-01-19 21:04] sootythebear opened #45561 "Slack engine unable to handle large user lists within Slack"
### Description of Issue/Question

The Slack engine is unable to obtain a user list from Slack due to the number of users within the workspace. A HTTP 500 error (hphp_invoke) is being thrown.

Slack recommends the use of pagination for large searches.
https://api.slack.com/methods/users.list#pagination

Looking at the 2017.7.3 and develop code branches, the utils/slack.py is performing a lookup wi

[2018-01-19 21:04] cedwards commented on #45428
I plan to look at this over the weekend.

[2018-01-19 21:06] gtmanfred commented on #45556
So,  this is the expected behavior.

From the bash man page.

[code]

Any of the profiles are only sourced when bash is started as an interactive login shell, or a non interactive shell with `--login` so only in login shells.  So it will never be sourced by salt because we do not launch login shells.

[code]

bashrc is only sourced for interactive shells that are not login shells.  So we do not so

[2018-01-19 21:06] #45556 closed

[2018-01-19 21:19] hesamaseh commented on #42734
@JackyTung
did u find an answer regarding running reactor sub commands in order ?
from what i found out it seems they are sending them using async flag

https://github.com/saltstack/salt/issues/19020

[2018-01-20 00:13] Auha opened #45569 "Atlassian Stride"
### Description of Issue/Question
Atlassian is deprecating Hipchat in favor for their new chat app called Stride. I think we should be able to make an engine and a module/state for it as their currently isn't any.

[2018-01-20 00:16] SJern commented on #45053
Just to follow up. @shengis in [#41299](https://github.com/saltstack/salt/issues/41299) was **not** getting the good `storageaccount` in the function **delete_blob** of **/usr/lib/python2.7/dist-packages/salt/cloud/clouds/azurearm.py**.

However, I'm getting the correct `storageaccount` and correct `container` and correct `blob`.

So our issues seem to be different.

[2018-01-20 00:56] gtmanfred commented on #45569
We would love an engine, returner module and state for stride!

Hipchat was provided by the community, so i am sure someone will be making some soon.  Or if you wanted to submit a PR we would greatly appreciate it.

Thanks,
Daniel

[2018-01-20 08:28] qiangshui opened #45571 "cmd.run can‘t execute multiple commands at one time in windows"
### Description of Issue/Question
cmd.run can‘t execute multiple commands at one time in windows
[code]
I run this in a windows minion:
![default](https://user-images.githubusercontent.com/24819310/35181525-55af9426-fdfe-11e7-9968-48ce282c73c9.png)
and run in a centos minion:
![default](https://user-images.githubusercontent.com/24819310/35181535-850a79b6-fdfe-11e7-94bc-43451dbcb927.png)
In Windows

[2018-01-20 09:17] mitar opened #45572 "Cannot bind same host directory multiple times into a Docker container"
### Description of Issue/Question

### Setup

It seems it is not possible to bind same host directory multiple times into a Docker container. If I have such binds:

[code]

Only one (latest) bind/mount is made.

### Versions Report

[code]

[2018-01-20 13:07] #16441 closed

[2018-01-20 13:09] damon-atkins commented on #45571
You need to use cmd.shell and also separate commands with an  `&` or use cmd.script
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.cmdmod.html

[2018-01-20 13:32] kiemlicz commented on #45521
Thank you

1. Using your example as-is doesn't work.
Yields syntax error

2. I've tried using `slsutil.renderer` in my `#!py` files.
Example:
[code]
It fails with error that "Template does not exist"
I kind of worked around this like so:
[code]
It loads the map.jinja but if map.jinja itself loads other jinjas etc - they fail due to same reason (not found)

[2018-01-20 16:07] atoy3731 commented on #45550
Ah, sorry about that. You're right:

[code]

[2018-01-20 16:43] gtmanfred commented on #45521
You can specify `salt://some/state/map.jinja` and it will pull it from the fileserver.

Or you can use `__salt__.cp.cache_file('salt://some/state/map.jinja')` and that will cache the file, and also return where it was cached on the minion.

But slsutil.renderer can take a `salt://` prefixed string, and it will pull it directly from the fileserver.

[2018-01-20 17:52] #15347 closed

[2018-01-20 21:08] eliasp commented on #28070
Keep this one open…

[2018-01-20 21:09] eliasp commented on #26854
Keep this one open…

[2018-01-20 21:23] #27603 closed

[2018-01-20 21:23] #24696 closed

[2018-01-20 22:35] mscherer commented on #28077
I am no longer using salt, so I can't test any fix.

[2018-01-20 23:17] #27626 closed

[2018-01-20 23:17] #27648 closed

[2018-01-20 23:30] damon-atkins commented on #28190
.

[2018-01-20 23:48] kt97679 commented on #27834
This is something that we need, please don't close this issue.

[2018-01-21 00:34] gtmanfred commented on #15381
still relevant

[2018-01-21 02:11] shengis commented on #45494
For private IP, I believe you can set the IP manually with '**private_ip_address**', but you can't choose to have a static public IP address.

[2018-01-21 02:20] shengis commented on #45546
VM Size usable by Azure is hardcoded in the python azure driver :

class VirtualMachineSizeTypes(Enum):
    basic_a0 = "Basic_A0"
    basic_a1 = "Basic_A1"
    basic_a2 = "Basic_A2"
    basic_a3 = "Basic_A3"
    basic_a4 = "Basic_A4"
    standard_a0 = "Standard_A0"
    standard_a1 = "Standard_A1"
    standard_a2 = "Standard_A2"
    standard_a3 = "Standard_A3"
    standard_a4 = "Standard_A4"
    st

[2018-01-21 03:12] gtmanfred commented on #45546
Ahh, so when azure releases a new size, they have to update their python library?

[2018-01-21 10:41] assafShapira commented on #43367
any news?

[2018-01-21 11:01] shengis commented on #45546
Yes, but they don't do it on regular basis.

[2018-01-21 12:02] xenophonf commented on #33524
This happened to me after a package upgrade on FreeBSD.  Restarting the master corrected the issue.

[2018-01-21 18:49] gtmanfred commented on #45558
to load files through slsutil.renderer, you should reference the full path to the file or `salt://` to pull them from the fileserver.

The python module is not able to use relative paths, because it will be running in the directory that the salt daemon was started in, which is / or /root iirc.

[2018-01-21 19:36] samodid commented on #21986
As far as I see, flush_mine_on_destroy must be supported by salt-cloud driver, for now I see it only for nova and divers with libcloud.

[2018-01-21 19:53] samodid commented on #45489
it's not runner bug, it's more deep issue.

runner use instance of MasterPillarUtil class initialized with specific data.
https://github.com/saltstack/salt/blob/502c597b1e84531c42380adc1a15daf8f1cdc702/salt/runners/cache.py#L57-L61

that function returns empty list

https://github.com/saltstack/salt/blob/502c597b1e84531c42380adc1a15daf8f1cdc702/salt/utils/master.py#L311

but we jump to if due to c

[2018-01-21 20:54] #27654 closed

[2018-01-21 20:54] #13729 closed

[2018-01-21 20:54] #27711 closed

[2018-01-21 20:54] #27620 closed

[2018-01-21 20:57] shengis commented on #45053
Do you have more than one salt-cloud **provider** set for the same **resource group** ?

[2018-01-21 21:42] viq opened #45590 "webhook engine does not work with tornado 4.5.2"
### Description of Issue/Question
When JSON request comes in, the response is `500 internal server error`

### Setup
[code]
https://prometheus.io/docs/alerting/configuration/#webhook_config pointed at http://localhost:8000/prometheus/alertmanager

### Steps to Reproduce Issue
Alertmanager sends JSON, but it doesn't seem relevant. Logs include:
[code]

@gtmanfred says `looks like they changed the H

[2018-01-21 21:43] gtmanfred commented on #45590
This should be fixed by #45589

[2018-01-21 21:49] viq commented on #45590
Indeed that commit fixes this, with the updated engine I was able to receive an event.

[2018-01-21 23:33] #16247 closed

[2018-01-21 23:33] #27593 closed

[2018-01-21 23:33] #27742 closed

[2018-01-21 23:33] #27720 closed

[2018-01-22 02:36] jagguli opened #45597 "Built in Jiinja filter `difference` does not work in pillar stack module"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
Jan 22 13:32:20 salt0 salt-master[16462]: [ERROR   ] Execption caught loading ext_pillar 'stack':
Jan 22 13:32:20 salt0 salt-master[16462]:   File "/usr/lib/python2.7/dist-packages/salt/pilla

[2018-01-22 04:11] doowhtron commented on #40788
I put 'master_id: X.X.X.X' in the MofM's /etc/salt/master and it is solved.

"Since each syndic is connected to each master, jobs sent from any master are forwarded to minions that are connected to each syndic. If the master_id value is set in the master config on the higher level masters, job results are returned to the master that originated the request in a best effort fashion. Events/jobs with

[2018-01-22 04:55] DaveQB commented on #39308
@JoaquinVeira  No. The work-around has been to go back to a single master and a scheduled salt-master service restart, every hour, on the master server.

[2018-01-22 06:36] #25784 closed

[2018-01-22 06:56] qiangshui commented on #45571
@damon-atkins ,thanks. But why I can execute multiple commands in centos？

[2018-01-22 08:02] tacf opened #45599 "Windows Exit Code"
### Description of Issue/Question
No exit code from `salt-call` on windows (bost cmd and powershell).

### Setup
salt-minion and salt-master version 2017.7

### Steps to Reproduce Issue
Do a `salt-call state.sls some_state` where  `some_state` does not exist.
Execute this command on both windows 2016 server and Ubuntu 16.04.
Windows has exit code 0 and Ubuntu 127

[2018-01-22 09:06] cskowronnek commented on #45546
I don't understand the purpose.

I put `size: Standard_B4ms` in my config, a function converts it to lowercase `standard_b4ms` and then looking it up in the library to match it against the former input to send `Standard_B4ms` to the API which was what I put in my config?

[2018-01-22 09:12] damon-atkins commented on #45571
Its a bug, which I can not spot in the development code or 2016.11 unreleased.

[2018-01-22 09:42] kedare commented on #29407
How the returner can be configured to use the check_keys=False ?
Maybe today there is a better workaround ? (Salt 2017.7.2)

[2018-01-22 10:25] abhijitkhewale commented on #43926
Thanks its working

[2018-01-22 10:30] sara-02 commented on #29407
@kedare Not working on Mongo anymore, but if see the Stackoverflow I posted, it has a sample snippet of how to use it.
And it seems to be getting used here https://github.com/mongodb/mongo-python-driver/blob/master/pymongo/collection.py#L591

[2018-01-22 13:39] bertulus commented on #26920
I had the same Issue ( or so I thing) . It looks like the unescaped '%' is a problem for python. See https://stackoverflow.com/a/11696152/5483988 . As a workaround you can try to write '%%' . This solved my issue.

[2018-01-22 14:06] aphor commented on #27836
OP was having problems using the old DO cloud driver.
@EDanee did the new v2 DO driver clear up the problem?

[2018-01-22 14:17] aphor commented on #27836
Unless you can reconfirm @EDanee, with recent code, This should be closed.

[2018-01-22 14:58] terminalmage commented on #44957
OK @brianthelion, I've been super busy with other issues affecting the upcoming release, but by later this week or early the next, I'll be free to tackle these issues.

Specifically with regard to the `entrypoints` issue, since at least 2017.7.0 we don't pass arguments if they're not present in the SLS, with very few exceptions, and I don't think that `entrypoints` is one of them. I'd be intereste

[2018-01-22 15:03] terminalmage commented on #44957
I've also opened https://github.com/saltstack/salt/pull/45606 to fix that issue with the path joining. Thanks, that was a nice catch!

[2018-01-22 16:22] lukasraska opened #45608 "saltutil.cmd executes command twice from MoM in Syndics configuration"
### Description of Issue/Question
Debugging why state.apply was called twice, we found out that calling `saltutil.cmd` from top-level master executes the command twice on minion, yielding only result from the second call.

Digging into the issue, the duplicated call is generated in [saltutil.cmd](https://github.com/saltstack/salt/blob/develop/salt/modules/saltutil.py#L1395) due to the fact it obta

[2018-01-22 17:01] kt97679 commented on #27873
Please don't close this issue.

[2018-01-22 18:44] terminalmage commented on #45266
Please see https://github.com/saltstack/salt/pull/45267#pullrequestreview-90580280.

[2018-01-22 19:20] ryan-lane commented on #16355
Please reopen :)

[2018-01-22 19:23] SJern commented on #45053
Hey @shengis, yes, there are 2, but one just extends the other. They both use the exact same `storageaccount`, so it doesn't smell like a multi-provider issue. Your issue was a wrong `storageaccount`, was it? Thanks =)

[2018-01-22 19:37] #45431 closed

[2018-01-22 20:00] SJern opened #45615 "Azure ARM: Public IPAllocationMethod Hardcoded to Static"
### Description of Issue/Question
[code]

This is more of a feature request. Can we make **_dynamic public_** IPAllocationMethod work for Azure VMs? Right now, it's hardcoded to static:

[code]

I took a look at the azurearm.py file and the current `create_interface` method doesn't seem like it can work for any dynamic IP allocation since there would be a circular dependency: salt waits for Azure

[2018-01-22 20:33] tighepatrick opened #45616 "Some minions do not return when targeted by nodegroup"
### Description of Issue/Question
When targeting a large group of minions by nodegroup, some of the minions will return with the "No response" message.  If I target the same list of minions with salt -C 'L@<list>', the minions all return.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible a

[2018-01-22 21:09] gtmanfred commented on #45559
Can you provide me with this file so that I can try and replicate this?

`.\salt-minion-debug.bat`

Thanks,
Daniel

[2018-01-22 21:16] gtmanfred commented on #45561
This should totally be added.  Thanks for reporting it.  If you had time to submit a pr for the user list stuff in salt.utils.slack we would greatly appreciate it.

@garethgreenaway were you aware of the pagination stuff when this was originally being written?

Thanks,
Daniel

[2018-01-22 21:20] gtmanfred commented on #45571
you can execute multiple commands in centos, because the subprocess command allows you to do that.

[code]

The cmd.run state gets run with `python_shell=True` so it acts as a regular bash shell, where each newline is a return to run a new command.

Afaik windows cmd does not support that.

[2018-01-22 22:03] gtmanfred commented on #45572
Can you try upgrading to 2017.7.2?

the docker states were overhauled in the 2017.7 release, and this appears to be fixed.

[code]

Thanks,
Daniel

[2018-01-22 22:04] gtmanfred commented on #45597
Can you open this issue on the pillarstack github?

https://github.com/bbinet/pillarstack

He has asked in the salt documentation to have issues reported there

https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.stack.html

[code]

Thanks,
Daniel

[2018-01-22 22:04] #45597 closed

[2018-01-22 22:05] gtmanfred commented on #45599
@twangboy @UtahDave would one of yall know why this is, or how to fix this?

Thanks,
Daniel

[2018-01-22 22:07] gtmanfred commented on #45608
@saltstack/team-core is anyone aware of this behavior?

Thanks,
Daniel

[2018-01-22 22:08] gtmanfred commented on #45615
Yeah, that would be great to have if it is possible.  Would you be able to submit a PR to implement this?

Thanks,
Daniel

[2018-01-22 22:11] mitar commented on #45572
Yes, I think a new Salt fixes this.

[2018-01-22 22:11] #45572 closed

[2018-01-22 22:17] gtmanfred commented on #45616
I am not able to replicate this issue.

[code]

Are you sure that the `salt-master` has been restarted since the nodegroup was changed? and that enough time was given afterwards for all the minions to reconnect?

Thanks,
Daniel

[2018-01-22 22:21] gtmanfred commented on #45572
perfect!

[2018-01-22 22:26] sootythebear commented on #45561
Continued to review this, and the pagination option is also flawed. It is not guaranteed that a full list will be returned by this method. Slack documentation advises the following:

From https://api.slack.com/docs/pagination
"...It's possible to receive less results than your specified limit, even when there are additional results to retrieve."

The best solution I see at present is to refrain fr

[2018-01-22 22:47] #45432 closed

[2018-01-22 22:47] jmarinaro opened #45620 "Salt CLI is rounding floats to 2 decimal places"
### Description of Issue/Question
When passing arguments via the command line, salt is rounding floats to 2 decimal places. I have verified this behavior exists in develop, 2017.7, and 2016.11. If I pass an argument I expect it to remain as is.

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2018-01-22 23:03] twangboy commented on #44813
I can't replicate this. I would suspect something wrong with the WMI repository.

https://blogs.technet.microsoft.com/askperf/2009/04/13/wmi-rebuilding-the-wmi-repository/

[2018-01-22 23:48] maxime-viargues-serato opened #45622 "state.win_path with index 0 add the path at the end"
### Description of Issue/Question
Using win_path.exists with index 0 adds the path at the end instead of at the beginning. The index is just ignored.
Index 1 adds it at the second position (as expected) so it's impossible to add a path at the beginning.

### Setup
[code]
Applied on Windows 10.0.16299

### Steps to Reproduce Issue
Apply the state above:
Result:
[code]

### Versions Report
[code]

[2018-01-23 00:08] Nick2253 commented on #42039
I am seeing similar behavior on CentOS 7.  I am installing the repo (in my case, Icinga2) using pkgrepo.managed, and when I attempt to install packages from this repo, I am prompted to trust the GPG key.

#Setup
[code]

#Versions Report
Minion
[code]
Master
[code]

[2018-01-23 00:26] UtahDave commented on #45599
@tacf can you provide the exact commands you're running and the exact output?

Here's the output I'm getting on Ubuntu:

[code]

[2018-01-23 00:31] #24101 closed

[2018-01-23 00:31] #27607 closed

[2018-01-23 00:31] #27811 closed

[2018-01-23 00:31] #27590 closed

[2018-01-23 00:31] #27685 closed

[2018-01-23 01:58] gtmanfred commented on #45599
This is also a known issue on linux as well, we are not super consistent with exit codes https://github.com/saltstack/salt/issues/18510

[2018-01-23 08:18] Freezelight opened #45623 "Salt reported what packages failed to install, but installation successfull"
### Description of Issue/Question
I have a custom created repository, and receive an error when trying to install packages through pkg.installed or pkg.latest on Debian and RedHat.
### Setup
[code]
The same thing if i trying to use a specific versions of packages.
pkg.latest can't find any info about my packages.
### Steps to Reproduce Issue

----------
    Function: pkg.installed
      Result: Fa

[2018-01-23 08:35] dwoz opened #45624 "salt-cloud userdata_file fails under python 3"
### Description of Issue/Question

Salt cloud fails to byte encode the userdata_file is defined from a provider or profile.

### Setup

[code]

### Steps to Reproduce Issue

Spin up an ec2 node with a custom userdata file under python 3

### Versions Report
[code]

[2018-01-23 08:59] mts-avco commented on #45503
Just to let you know I haven't forgotten about this, I have the updated files but haven't yet put them on a machine to test. I hope to do so and close this some time this week.

[2018-01-23 09:07] guettli commented on #45266
@terminalmage thank you very much. I close my issue

[2018-01-23 09:07] #45266 closed

[2018-01-23 09:25] hgfischer opened #45626 "Logs going to both file and syslog"
### Description of Issue/Question

SaltStack is logging to both `/var/log/salt/*` and `/var/log/syslog`. I haven't identified the reason, but I think it is because salt's daemons are still writing to `STDOUT` even when `log_file: /var/log/salt/...` is used.

### Setup

Using latest SaltMinion on Ubuntu 16.04.3 (systemd). With `log_file: /var/log/salt/minion`.

### Steps to Reproduce Issue

Run sal

[2018-01-23 09:35] bdrung opened #45627 "Failing unit tests in Debian package build"
As Debian maintainer, I want to enable running the test cases shipped by salt. A few tests fail to run:

[code]

`conf/cloud.maps.d/` is missing in the release tarball.

[2018-01-23 09:57] diepes commented on #44062
Got the same error
`vagrant@localsandbox:~$ sudo salt-call --state-verbose=false state.apply common.email
[ERROR   ] Exception raised when processing __virtual__ function for salt.loaded.int.module.boto_elbv2. Module will not be loaded: 'boto3.assign_funcs'
[WARNING ] salt.loaded.int.module.boto_elbv2.__virtual__() is wrongly returning `None`. It should either return `True`, `False` or a new name.

[2018-01-23 10:18] teliduxing004 commented on #8882
stderr': 'sudo: no tty present and no askpass program specified\n',
 'stdout': 'ERROR: sudo expected a password, NOPASSWD required'},

[2018-01-23 10:58] klarkcent commented on #44399
I had a similar after upgrading from fter upgrading to 2017.7.1 to 2017.7.2.
host was set to '10' and fqdn contained the ip. after rebooting the minion everything was fine.

salt-call --local grains.items
local:
    ----------
    SSDs:
    biosreleasedate:
        09/17/2015
    biosversion:
        6.00
    cpu_flags:
        - fpu
        - vme
        - de
        - pse
        - tsc
        -

[2018-01-23 11:03] joni1993 commented on #39881
As there anything planned for the upcoming release regarding this problem (or #19564)?

This issue makes it impossible to use 99.9% of all public formulas in combination with the gitfs mountpoint option (as they all use jinja imports), which make the mountpoint option essentially useless.

[2018-01-23 12:38] Rabattkarte commented on #9332
+1

[2018-01-23 12:54] nkrishnakishor opened #45629 "win_wua.list returns 'nothing to return' in windows 2012 R2 server"
Does not list available updates when run on Windows server 2012 R2

`salt windows-2012r2 win_wua.list`

Below is the version details of salt master and windows minion is also running the same version 2017.7.2

[code]

[2018-01-23 13:45] shengis commented on #45053
Azure is organized by resource group, if you ask the list of VMs to the **azurearm** driver (list_nodes), he will return them associated with each providers corresponding to the resource group of the VM.

in **salt/cloud/__init__.py**

[code]

**vms_to_destroy** is a liste of 3-tuple (alias, driver, name) that is built to contains the VMs to destroy.

If you have two **providers** with the same **

[2018-01-23 13:52] bdrung commented on #45627
More failing tests:
[code]

[2018-01-23 14:06] sastorsl opened #45631 "file.symlink backupname with relative name has unclear behaviour"
### Description of Issue/Question
file.symlink's use of backupname is somewhat unclear in the docs, and the behaviour is also not intuitive at first when debugging.

Case: symlink name to target - if "name" exists, make a backup.

I see examples where the user _expects_ that where backupname == "filename" that file will be placed relative to the original symlinks path.

This is not the case:
A rel

[2018-01-23 14:54] tighepatrick commented on #45616
Yes, the master was restarted, and I just confirmed again today, 2 days after the nodegroup creation that I am still seeing not all minions respond when using a nodegroup for targeting.  This is from my production setup, with hostnames changed for the normal reasons.

[code]

[2018-01-23 15:12] amontalban commented on #45558
Thank you @gtmanfred , for now what I did was to concentrate `common/map.jinja` in Salt states and symlink it for pillars accessing it.

[2018-01-23 15:12] #45558 closed

[2018-01-23 17:36] frogunder opened #45637 "windows minion 2016.11.9. Warning and Errors"
### Description of Issue/Question
See some Warnings and Errors when running `salt \* cmd.run "C://salt/salt-call --local sys.doc none"`
[code]

### Versions Report
    Salt Version:
               Salt: 2016.11.9

    Dependency Versions:
               cffi: 1.10.0
           cherrypy: 7.1.0
           dateutil: 2.5.3
          docker-py: Not Installed
              gitdb: 0.6.4
          gitpyth

[2018-01-23 18:06] dafyddj commented on #45559
I am seeing this too. Salt minion 2017.7.2 py2, Windows 10 1709 (16299.192)
Just need to run `salt-call state.apply` or `salt-call state.apply test=True` in Powershell or Cmd.

[2018-01-23 18:17] gnyahay commented on #44696
I'm running into the same issue...
I believe when salt is searching for version numbers it should send a flag --disableplugin versionlock.

Example:
`
[qa-ka-southeast]root@lxc-ka-1a-01:~ # salt-call pkg.list_repo_pkgs libvirt fromrepo=ionic -- --disableplugin versionlock --showduplicates
[INFO    ] Restricting to repo 'ionic'
[INFO    ] Executing command ['yum', '--version'] in directory '/root'

[2018-01-23 18:39] rhavenn commented on #45559
Sure. File content:
[code]

It's default from the installer.

[2018-01-23 18:59] #27767 closed

[2018-01-23 18:59] #27781 closed

[2018-01-23 19:01] garethgreenaway commented on #45629
@twangboy Thoughts?

[2018-01-23 19:01] gtmanfred commented on #45559
@twangboy have you seen this at all?

Thanks,
Daniel

[2018-01-23 19:11] garethgreenaway commented on #45624
Duplicate PR of https://github.com/saltstack/salt/pull/45271

[2018-01-23 19:14] sastorsl commented on #45631
Created a PR in develop. Think this should be back ported.

[2018-01-23 19:15] garethgreenaway commented on #45626
@hgfischer Thanks for the report.  Have you set the `log_level` setting in the minion configuration?

[2018-01-23 19:15] twangboy commented on #45559
@gtmanfred I haven't. It's actually python crashing... it might help to have the debug log to see what salt was doing when it crashed.

[2018-01-23 19:16] twangboy commented on #45559
Was this an upgrade from a previous version of salt? Have you tried reinstalling salt?

[2018-01-23 19:31] devopsprosiva commented on #11900
I ran into the same issue with cassandra init service on centos7. @gtmanfred suggested using the `provider` option for `service.running` which fixed the issue for me.

https://docs.saltstack.com/en/latest/ref/states/providers.html

[code]

[2018-01-23 19:33] garethgreenaway commented on #45623
@Freezelight Thanks for the report.  Can you check the output of the Salt module `pkg.list_pkgs` and see if your custom packages are listed as installed?

[2018-01-23 19:49] sastorsl commented on #35558
I had a look into this now, but it is so deeply ingrained in the inner workings of saltstack so it would be quite an investment.
@garethgreenaway I see you have done some work quite recently on the module. Did you by any change have the oportunity to look into this?

[2018-01-23 19:50] sastorsl commented on #41602
Any traction on this?

[2018-01-23 19:52] twangboy commented on #45629
Most of the problems I see with the `win_wua` module have to do with Windows update on the machine against which it is being run. The `win_wua` module is just a wrapper around Windows update. So, I wonder if Windows update runs correctly outside of salt and returns available updates. If it does, and salt isn't picking those up, then we have a problem. Otherwise, it's an issue with Windows update i

[2018-01-23 19:57] maxime-viargues-serato opened #45643 "Windows cmd doesn't execute as defined user"
### Description of Issue/Question
I am trying to execute this command to add a credential on Windows 10.

[code]
The command succeeds but the credential is not added to the given 'user'

### Setup
State pplied
[code]

### Steps to Reproduce Issue
Apply the state from the master
- output says the "CMDKEY: Credential added successfully."
- Open the credential Manager on the user account: The credent

[2018-01-23 20:06] dwoz commented on #45624
I agree this is a duplicate, should I just close this PR, and the corresponding bug report?

[2018-01-23 20:14] twangboy opened #45646 "Stacktrace with salt-cloud on AWS"
### Description of Issue/Question
When creating an instance on AWS using salt-cloud, the following error is produced. I assume this is related to the transition to `unicode_literals`.
[code]
### Setup
Given a cloud profile named `aws_win_2012r2` that defines a 2012r2 ami on Amazon... I believe this will probably fail with any profile... but it was discovered while trying to create a Windows VM.

#

[2018-01-23 20:18] rhavenn commented on #45559
No, I'm working on autodeploys for some VDIs and it's a clean install of salt once the VDI deploys.

I'm running some new builds and I'll see if it's still happening.

[2018-01-23 20:21] gtmanfred commented on #45646
This is a duplicate of #45550

[2018-01-23 20:21] #45646 closed

[2018-01-23 20:22] garethgreenaway commented on #45624
@dwoz That would be great.  We're aware of the Unicode issues and have plans in progress to address it across the entire code base.  Thanks!

[2018-01-23 20:25] terminalmage commented on #45550
This should be fixable using `six.text_type.lower` instead of `str.lower`. @twangboy is working on a fix now.

[2018-01-23 21:17] #8879 closed

[2018-01-23 21:40] garethgreenaway commented on #35558
@sastorsl I wasn't aware of this issue but I'll take a look. Thanks!

[2018-01-23 22:01] lorengordon commented on #27368
Handling of line endings still needs a revamp.

[2018-01-23 22:12] sastorsl commented on #45311
Created a PR, @gtmanfred . Have a look.

[2018-01-23 22:57] rallytime commented on #45550
@atoy3731 Can you give the fix in #45647 a try? That should fix this issue for you.

[2018-01-23 23:16] dwoz commented on #45624
Closing as duplicate of #45271

[2018-01-23 23:16] #45624 closed

[2018-01-23 23:47] #45637 closed

[2018-01-24 00:01] rhavenn commented on #45559
This still occurs. Normally, there are 2 python.exe's running. When using debug mode 1 of them crashes. The one locking the logfile in var/log/salt stays running.

[2018-01-24 00:34] jessebye opened #45655 "service.running reload: True does not seem to do a full daemon-reload"
### Description of Issue/Question
We are still using some legacy upstart services on our Ubuntu 16.04 servers. On 14.04, we didn't need to do anything else as the state worked fine. In 16.04, we have `reload: True` but the state fails with `Unit analytics.80.service not found.` (for example).

As a workaround, I added this above the `service.running` state:
[code]

However, it does not seem to be

[2018-01-24 01:49] ryan-lane commented on #27769
Ugh.

[2018-01-24 02:27] terminalmage commented on #27720
NOTE: This was fixed back on Oct 12, 2015 via https://github.com/saltstack/salt/pull/27883, I just didn't swing back and close this issue

[2018-01-24 03:09] weixp opened #45659 "Exception raised when processing __virtual__ function for salt.loaded.int.module.aix_group. Module will not be loaded: 'kernel'"
### Description of Issue/Question
when i turn on the master_job_cache， there will be a lot of errors and warnings，but the command salt "*" test.ping still works,it seems the errors does not affect anytings,and the data still goes into mysql.
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
maser config file
interface: 0.0.0.0
log_level: debug
job_cac

[2018-01-24 06:48] nkrishnakishor commented on #45629
@twangboy when we manually check for windows update in the server it shows me a list of updates available for installation but through salt it doesn't show up.

[2018-01-24 07:41] tacf commented on #45599
Just retested on linux and it actualy doesn't work, as you guys said. Don't really know what i did before to make it work (or what i did wrong to get an actual error code).

[2018-01-24 07:43] Freezelight commented on #45623
Hello.
Yes, but something wrong with package version:
[code]
And:

[code]

[2018-01-24 08:05] hgfischer commented on #45626
@garethgreenaway

I am using these:
[code]

[2018-01-24 09:08] arthurlogilab commented on #28304
+1 to keep this open

[2018-01-24 09:22] asymetrixs commented on #45455
@gtmanfred, Salt Version: 2017.2.2 (from the repo)

`/usr/lib/python2.7/site-packages/salt/modules/selinux.py` contains a function called `fcontext_policy_apply`, so I would expect to be able to use it.

Now, running `salt-call state.apply` throws an error:

Documentation says:

I am a bit confused, so what am I missing here?

[2018-01-24 09:30] muravitskiy commented on #35375
any changes?

[2018-01-24 09:32] teliduxing004 commented on #35664
salt-ssh --user='robin' --passwd='robinhan' --roster=scan '192.168.75.175' test.ping -i
![image](https://user-images.githubusercontent.com/19639945/35324682-63737362-012c-11e8-8614-f5c52bc39754.png)
but：
from salt.client.ssh.client import SSHClient

client = SSHClient(c_path='/etc/salt/master')
client.cmd(tgt='192.168.75.175',fun='test.ping',ssh_user='robin',ssh_passwd='robinhan',roster='scan')

E

[2018-01-24 10:54] inf0rmix commented on #45460
I had the same in my ubuntu  environment. Rooster looks equal. Salt-Version is the same 17.02 . I was able to reproduce it also on 17.01 . salt-ssh versions of 16.* worked as expected.

[2018-01-24 11:15] inf0rmix commented on #45460
Me did a rollback to distrib release of salt in ubuntu artful and the grains are working again:

inf0rmix@tardis:~/salt$ salt-ssh '*' grains.item loc
tardis:
    ----------
    loc:
        Various
web:
    ----------
    loc:
        Berlin
inf0rmix@tardis:~/salt$ salt-ssh --versions-report
Salt Version:
           Salt: 2016.11.5

Dependency Versions:
           cffi: 1.9.1
       cherrypy: Not

[2018-01-24 11:24] inf0rmix commented on #45460
After this, I purge salt from 2016 and use "pip install salt-ssh" to get version 2017.7.2 .

After this, the problem occures:

`inf0rmix@tardis:~/salt$
inf0rmix@tardis:~/salt$ salt-ssh '*' grains.item loc
tardis:
    ----------
    loc:
        Various
web:
    ----------
    loc:
        Various
inf0rmix@tardis:~/salt$ salt-ssh --versions-report
Salt Version:
           Salt: 2017.7.2

Dependency

[2018-01-24 13:25] atoy3731 commented on #45550
Yep, works perfectly now. Thanks!

[2018-01-24 14:21] rallytime commented on #45550
Great! Thanks for confirming.

[2018-01-24 14:21] #45550 closed

[2018-01-24 14:43] damon-atkins opened #45661 "cmdmod env, change user and runas implementation"
### Description of Issue/Question

The existing code in modules/cmdmod.py runs  su or sudo to become the target user to collect environment vars first, then uses

What should happen with runas as it should call `subprocess.Popen('su','su argurments','original cmd request to run')` instead. This then will result in:
- pam processing, including  pam adding/removing env settings and ulimit settings (

[2018-01-24 14:57] rallytime commented on #27769
@ryan-lane Re-opened.

[2018-01-24 15:00] Ch3LL commented on #45643
When running it from the master can you check the debug logs? it should show the exact command that its going to run. Is it the command you would expect?

[2018-01-24 15:45] Ch3LL commented on #45655
If you run `salt-call --local service.systemctl_reload -ldebug` it should show what command its attempting to run. Can you run that and then see what happens when you run that command outside of salt?

[2018-01-24 15:47] Ch3LL commented on #45659
Are these showing up every time you run a command or only when using debug mode? And can you post teh errors? Or is the only error the kenel not loading error you posted as a title?

[2018-01-24 15:48] Ch3LL commented on #45661
ping @saltstack/team-core can i get your opinions here on @damon-atkins 's proposal?

[2018-01-24 15:56] rickh563 commented on #45535
@gtmanfred, Who needs to be called from the team-ssh in order to take next-steps on this discussion?

[2018-01-24 17:06] histamineblkr commented on #45510
Any ideas or things I can troubleshoot?

[2018-01-24 17:43] gtmanfred commented on #45455
you cannot use stuff from `/usr/lib/python2.7/site-packages/salt/modules/` in state files, unless you use the module.run state

you can use anything from `/usr/lib/python2.7/site-packages/salt/states` in state files.

[2018-01-24 17:46] gtmanfred commented on #45535
Any of them, i just want to make sure that it wasn't a deliberate choice to not include module_dirs, because what could end up happening is that modules meant specifically for the salt-master are copied over to the salt-ssh minion, which might not be intended.

[2018-01-24 17:57] jessebye commented on #45655
@Ch3LL odd, the state fails with:
[code]
But manually running `salt-call --local service.systemctl_reload -ldebug` on the minion produces the desired result:
[code]

[2018-01-24 18:52] rung94 opened #45670 "GCE: Predefine disk size in salt profile"
### Description of Issue/Question
I've noticed after looking at the salt documentations that there doesn't seem to be a evident way to define the disk size of the instance in cloud.profiles.d/

Am I missing something here? any work around to create this result would be greatly helpful.

### Versions Report
Salt: 2015.5.10
         Python: 2.7.5 (default, Aug  4 2017, 00:39:18)
         Jinja2: 2.7

[2018-01-24 19:16] campbellmc opened #45671 "x509 signing client cert - denied by signing policy when targeting minion with pcre"
### Description of Issue/Question
Trying to get compound matching using E@ (pcre match) on minion ID working in signing policy - however - it is denied:

[code]
Previously using glob match means the cert is signed just fine.

If I use the the same PCRE match with the CLI to match a minion, it's all fine.

[code]

minions key in signing_policy.conf is written using an sls which takes the signing_po

[2018-01-24 20:05] maxime-viargues-serato commented on #45643
The logs shows
[code]
The command is correct however I don't see any mention of the user being used to run the command.

[2018-01-24 20:19] rickh563 commented on #45535
@gtmanfred ... I do not know who comprises the team.

### Request

Please directly call one of team members by name in order to advance the workflow on this ticket.

[2018-01-24 20:22] gtmanfred commented on #45535
@saltstack/team-ssh is @thatch45 @cachedout and @rallytime

[2018-01-24 20:36] EDanee commented on #27836
Hi guys,

I have to admit I totally forgot about this issue. Sorry about that!
As I have no such issue with the newer DO driver, I'll close this one.

Thank you!

[2018-01-24 20:36] #27836 closed

[2018-01-24 20:54] twangboy commented on #45661
It looks like it remains unchanged from a Windows perspective.

[2018-01-24 21:08] frogunder opened #45673 "mac 10.13 warning/error message when running salt-call --local sys.doc"
### Description of Issue/Question
On 2016.11.9, mac 10.13 it shows error/warning when running `salt-call --local sys.doc`, command seems to run correctly, it just gives this error/warning.

[code]
Other salt-call commands dont give the error/warning.
[code]

[code]
### Setup
Install 2016.11.9 pkg for mac on 10.13.

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2018-01-24 21:30] #27785 closed

[2018-01-24 22:24] twangboy commented on #45629
What kind of updates? Drivers? `drivers` is set to `False` by default in the `win_wua.list` function so they won't be shown by salt.

I just spun up a 2012r2 box and did a list. Mine shows 2 updates available: .NET 4.7.1 and Malicious Software Remove Tool. When I enabled Microsoft Updates I got an additional option for Silverlight.

[2018-01-24 22:35] Ch3LL commented on #45670
are you refering to the image size?

its just `- size: g1-small` for example.

[2018-01-24 22:36] Ch3LL commented on #45671
You stated "Previously using glob match means the cert is signed just fine." Do you know which salt version this was working in previously?

[2018-01-24 22:42] #45590 closed

[2018-01-24 22:46] rung94 commented on #45670
No, that is the machine size. I'm talking about disk size. example: 10gb, 20gb, 30gb, etc.

I see that salt allows defining a standard disk or ssd by using ex_disk_type: pd-ssd

I was hoping there would be a similar command like ex_disk_size: 50gb.

[2018-01-24 22:47] gtmanfred commented on #45671
This is because the minions is only allowed to be a glob match.

[code]
https://github.com/saltstack/salt/blob/2017.7/salt/modules/x509.py#L1054

Potentially that could be just changed to `__salt__['match.compound']` and would allow for that to work.

[2018-01-24 22:56] rung94 commented on #45670
Here's my config

**profile:
 image: centos-7
  size: custom-1-7168-ext
  location: us-west1-b
  network: default
  subnetwork: default
  tags: '[]'
  metadata: '{"one": "1", "2": "two",
              "sshKeys":"
  ip_forwarding: True
  use_persistent_disk: True
  delete_boot_pd: False
  deploy: True
  make_master: False
  provider: gce-config
  # create an SSH username to be used since we can't s

[2018-01-25 01:14] teliduxing004 commented on #22618
raise salt.exceptions.SaltClientError('salt-ssh could not be run because it could not generate keys.\n\nYou can probably resolve this by executing this script with increased permissions via sudo or by running as root.\nYou could also use the \'-c\' option to supply a configuration directory that you have permissions to read and write to.')
salt.exceptions.SaltClientError: salt-ssh could not be run

[2018-01-25 01:26] weixp commented on #45659
they show up every time i run any command, not only in debug mode , i use debug mode only for the detail information.what confuse me is all those errors does not affect anything.the title is one of the errors , the entire errors are as follows:
[ERROR   ] Exception raised when processing __virtual__ function for salt.loaded.int.module.aix_group. Module will not be loaded: 'kernel'
[WARNING ] salt.

[2018-01-25 05:49] teliduxing004 opened #45678 "raise salt.exceptions.SaltClientError"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
procedure：
from salt.client.ssh.client import SSHClient
client = SSHClient(c_path='/etc/salt/master')
print client.cmd(tgt='192.168.75.175', arg='*',fun='test.ping', salt_user='root', salt_passwd='passwd', roster='scan')

Error：
 raise salt.exceptions.SaltClientError(

[2018-01-25 07:37] campbellmc commented on #45671
@Ch3LL Hey - sorry for not being clear - I meant previously when I was using Glob matching - not previously in a different version of salt.  So - the only difference between successful remote signing and not successful was the glob vs pcre match.
@gtmanfred Ah. I see it has already been addressed in develop.

[2018-01-25 07:37] #45671 closed

[2018-01-25 08:20] MorphBonehunter opened #45679 "docker port_bindings brocken with udp"
This is a follow up to #29662 as this is closed.

The Problem still exists in latest Saltstack release.
If you try to use udp ports with the `port_bindings` Parameter it doesn't work and must be workarounded with an additional `ports` Parameter.

[code]
Testcase:
[code]
creates following container:
[code]
nothing is listening on the host:
[code]
docker inspect:
[code]
so change the testcase:
[code

[2018-01-25 08:26] lord-i-will opened #45680 "file.check_hash [ValueError]: Bad hash format: '0755c87242fc4bcd052379302faccbac'"
### Description of Issue/Question
According to https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.file.html#salt.modules.file.check_hash
I use java to connect with rest_cherrypy. But when i use file.check_hash, Errors happened.
So i  login saltmaster to test this command. Still errors. Described as followings:

1).Run this command：**salt 'host-10-101-17-102' file.check_hash /root/ha

[2018-01-25 09:37] inf0rmix commented on #44394
Here is my rooster

[code]

[2018-01-25 10:47] jasperla opened #45682 "state.low: KeyError: '__id__'"
### Description of Issue/Question

`state.low` expects an explicit `__id__`.

### Setup

CentOS 7; salt installed with bootstrap script.

### Steps to Reproduce Issue

The [documentation](https://docs.saltstack.com/en/develop/ref/modules/all/salt.modules.state.html#salt.modules.state.low) of `state.low` suggests the following should work:

[code]

However it does not because no explicit `__id__` i

[2018-01-25 11:10] kaluznyt opened #45683 "salt.states.win_network.managed cannot enable disabled network interface"
### Description of Issue/Question
I'm trying to configure a state for managing windows 2012 r2. Basically what I want to achieve with this is to:
1. enable a disabled public network interface
2. install software (that needs public interface for downloading - that's mainly why I need step 1)
3. disable public network interface

### Setup
(Please provide relevant configs and/or SLS files (Be sure to

[2018-01-25 11:17] OrlandoArcapix commented on #33668
I suspect that this is because the get_option function doesn't handle the "no sections" case:

https://github.com/Akilesh1597/salt/blob/develop/salt/modules/ini_manage.py#L79

It looks like other functions there may also fail to cope with this.

[2018-01-25 11:37] bdrung opened #45684 "salt documentation fails to build with Python 3 version of sphinx"
Generating the salt documentation with Python 3 version of sphinx fails (using Ubuntu 17.10 and salt 2017.7.2):
[code]
/tmp/sphinx-err-hzfmdxlm.log contains:
[code]

[2018-01-25 14:09] mirkokeiner commented on #45460
Just noticed, that this doesn't only happen with grains. I shut down one of our "clients" and tired a test.ping:

[code]

See how I shouldn't be able to ping the machine, but salt still returns with "true"?

Now I removed every machine from the roster, except the shutdown mktest2. Now the ping returns the correct value:
[code]

Last but not least I put back one more machine into the roster:
[code]

[2018-01-25 15:03] #27576 closed

[2018-01-25 16:04] lomeroe opened #45691 "HKEY_CLASSES_ROOT missing from available hives in reg module"
### Description of Issue/Question
HKEY_CLASSES_ROOT is missing from the definition of hkeys in the Registry class of the reg.py execution module, which keeps it from being available for modification/etc by salt

@saltstack/team-windows  perhaps there is a reason it is left out?  Probably not modified very often for sure...

### Setup
Example state:
'''
set_wmi_endpoint_config:
  reg.present:
    -

[2018-01-25 16:19] gtmanfred commented on #45680
because there is an equal sign, you will need to specify the variable name.

[code]

Not having the `md5` part wasn't added until a newer version of salt.

I highly recommend upgrading to a newer version.

http://repo.saltstack.com/

[2018-01-25 16:19] #45680 closed

[2018-01-25 16:21] dawidmalina commented on #43995
When this ticket will be closed? Isn't fixed? If fixed when 2017.7.3 will be released?

[2018-01-25 16:23] DmitryKuzmenko commented on #43995
Yes, it could be closed. It's merged into 2017.7 branch that means it will be released in 2017.7 and oxygen.

[2018-01-25 16:23] #43995 closed

[2018-01-25 17:08] sjorge opened #45693 "f8b81f133dec83350623bdada10a152ae988bd43: fullPathname: contains full pathnames"
I keep getting this error.
[code]

I first encountered it while trying to rebase #45215 against develop
I tried a merge from develop instead, that was happy locally but I could not push it to my branch. I assumed I really fucked up and delete the branch attached to PR #45215.

I created a new branch with just a test commit, same error! I had no other current branches so I started from scratch
1. d

[2018-01-25 17:34] dawidmalina commented on #43995
Ok the question is when as all tickets from this milestone are closed now.

[2018-01-25 17:44] twangboy commented on #45691
#45694 adds support.

[2018-01-25 17:44] #45691 closed

[2018-01-25 17:48] sjorge commented on #45693
Weird, if I use git+ssh instead of git+https it works.
I was probably hitting some cache when using https...

[2018-01-25 17:48] #45693 closed

[2018-01-25 17:55] TCShain commented on #38719
Hey all,

I'm a salt noobie, but figured I'd share my experience.
I have a top file with a few hundred minions, and a small typo in my yaml invalidated the top file, which caused every high state to get this error.

Throwing my top file into a yaml validator quickly identified the issue.
Hope this helps someone catch this silly problem.

[2018-01-25 19:08] gtmanfred commented on #43995
Soon, if you want to follow the actual release tracking, we have #releases channel in our community slack where updates on testing the tag will be put.

you can get an invite to it here. https://saltstackcommunity.herokuapp.com

[2018-01-25 19:21] gtmanfred commented on #45678
first, arg would be a list of arguments that are passed on the commandline without keywords

[code]
since test.ping doesn't need any, you should not be setting arg.

Second, are you running this script with sudo or not?

And third, 2015.8.8 is end of lifed, i would highly recommend upgrading to a newer version.

http://repo.saltstack.com/

Thanks,
Daniel

[2018-01-25 19:32] gtmanfred commented on #45679
I am able to replicate this.

[code]

@terminalmage when you have a moment would you take a look at this?

Thanks,
Daniel

[2018-01-25 19:35] gtmanfred commented on #45682
Yup, we should probably just handle the `__id__` not getting passed.

Would you mind submitting a pr to fix this issue?

Thanks,
Daniel

[2018-01-25 19:36] gtmanfred commented on #45684
Yup, we just still build the docs with python2, so it hasn't been a thing that we have really run across.

Any help making this work with py3 would be greatly appreciated.

Thanks!
Daniel

[2018-01-25 19:52] gtmanfred commented on #45683
@twangboy can you help with this when you get a minute?

Thanks,
Daniel

[2018-01-25 20:05] #45345 closed

[2018-01-25 20:08] jochenschreiber opened #45699 "Avoid execution of included sls files?"
### Description of Issue/Question
This is more a question then a issue. In our setup (you can see a example in the setup section) we are requiring sls files in salt states. Under some circumstances we don't execute the salt states that is requiring a sls files but because of the the include (which is necessary for the execution if the salt states is executed) the function in the sls files will be

[2018-01-25 20:26] #6420 closed

[2018-01-25 20:26] #35160 closed

[2018-01-25 20:32] jasperla commented on #45682
Sure thing. However how should it be handled? Just ignore it and as such restore previous behaviour but effectively revert the intention of #26780, or generate a meaningful `__id__` based on the data available?

[2018-01-25 20:36] rallytime commented on #45485
@gtmanfred Can you look into writing some unit tests for this?

[2018-01-25 20:55] chris-reay commented on #44967
I also just noticed we are having this same issue in our environment with any reg state.  @twangboy are there any updates on this?

[2018-01-25 21:23] twangboy commented on #45301
@skizunov Do you have any ideas on this?

[2018-01-25 21:35] gtmanfred commented on #45682
i would just do something like.

[code]

[2018-01-25 21:36] gtmanfred commented on #45682
and adding a test of state.low for having an __id__ and not having an __id__, so that it isn't broken again, would be appreciated.

[2018-01-25 21:51] bdrung commented on #45684
Mocking `salt.utils.yamlloader` let sphinx with Python 3 succeed in the 2017.7 (which includes the PR #45662).

[2018-01-26 00:58] teliduxing004 commented on #45678
My script and terminal run time is ok, but pychram - ide cannot run again, but I need to test the API in a separate salt - master and salt - SSH can control all hosts, but don't need to master - minion this architecture, if there is a master of best practice - SSH document?

Thanks
Robin

[2018-01-26 03:23] sgub commented on #43215
same result in 2017.7.2:

cat /var/spool/cron/root
`# 监控专线流量
*/1 * * * * /usr/local/bin/monit`

`[ERROR   ] An exception occurred in this state: Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/salt/state.py", line 1843, in call
    **cdata['kwargs'])
  File "/usr/lib/python2.7/site-packages/salt/loader.py", line 1795, in wrapper
    return f(*args, **kwargs)
  File "/us

[2018-01-26 03:39] lord-i-will commented on #45680
@gtmanfred thx so much~

[2018-01-26 06:55] zer0def commented on #45699
If you want to make sure it's executed conditionally, include it in the Jinja condition, so it's rendered (and therefore, executed) only when your condition is met. Example

[code]

[2018-01-26 08:11] mirkokeiner commented on #45460
I used the "-l debug" Option to analyze the Output:

[code]

In the last section you can see that the OrderedDict has the correct values. But after the yaml renderer they changed for wbcentos72.

[2018-01-26 08:27] inf0rmix commented on #44394
It's also the same for cmd.exec:

[code]

[2018-01-26 08:34] samilaine commented on #42734
If I am not entirely mistaken, the jobs defined in an orchestration job SLS file are executed in _alphabetical_ order.

This, for example, will run the highstate first:

[code]

However, using the example below, the highstate is executed after the sync part:

[code]

At least the order changes in messages in the master event bus when a and b are swapped.

[code]

[2018-01-26 09:25] jyurdal opened #45706 "Salt-call return code 0 when minions key is rejected"
Hej,
The salt-call  on linux returns 0 (both with and without --retcode-passthrough) when the master reject minions key. Error message is printed but the call itself does not print any error neither does it return errorcode. This makes it difficult to verify from the script whether command was successful or not. Is there something I am missing in here. I would imagine that passing --retcode-passth

[2018-01-26 09:41] dave92082 commented on #44954
Any progress on this? I'll try to submit a PR for it over the weekend

[2018-01-26 09:42] damon-atkins commented on #45691
https://msdn.microsoft.com/en-us/library/windows/desktop/ms724475(v=vs.85).aspx

[2018-01-26 10:28] qcpeter opened #45708 "pyroute2 is not listed as a requirement of the network_settings beacon"
### Description of Issue/Question
On Ubuntu 16.04 with salt version 2017.7.2 the network beacon seems to have a dependency on the pyroute2 pip with a version of 0.4 or higher. This is not mentioned in the documentation. If the pip is not installed the minion log will be filled with messages reading

    2018-01-25 18:30:47,182 [salt.beacons     ][WARNING ][24634] Unable to process beacon network_s

[2018-01-26 11:22] damon-atkins commented on #36031
Just waking this up again.
[damon_lang_test_reg.zip](https://github.com/saltstack/salt/files/1667403/damon_lang_test_reg.zip)
The above file can be used to test windows registry and salt.
Their is a large difference if the result between PY2 and PY3.

e.g. The below is ZDamon Test0发~送时\间1™自动/化平台
[code]

[code]

@thatch45   @twangboy  can we not release a community addition of PY2 and only have a E

[2018-01-26 12:54] brenwhyte commented on #44550
Hi,

I'm getting the same issue (I think) after upgrading to Salt 2017.7.2 from  salt 2016.11.8

`user01@syslsm001:/$ salt -l debug '*' test.ping
[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Including configuration from '/etc/salt/master.d/acl.conf'
[DEBUG   ] Reading configuration from /etc/salt/master.d/acl.conf
[DEBUG   ] Including configuration from '/etc/salt/master.d/adm

[2018-01-26 14:20] kaluznyt commented on #45683
I figured out that it probably didn't make much sense to include opposite states like I did, and rely on the order of events during state application. Therefore I just reconfigured the network so I don't need this any more. However, still would be nice to have the 'enabled' state applicable from 'disabled' for the network interfaces. Not sure what's the issue, but for disabled interfaces windows d

[2018-01-26 14:27] #22063 closed

[2018-01-26 15:11] gtmanfred commented on #45678
We do not really have any best practice documentation.

https://docs.saltstack.com/en/latest/topics/ssh/

[2018-01-26 15:14] BenjaminSchiborr commented on #45699
Wouldn't this complicate the code significantly if you have a lot of conditions? Especially since you can only have one include per sls. In that case you would have to duplicate the complete logic around just the include statement and you likely would not be able to react to outputs of execution modules.

[2018-01-26 16:46] snw1968 commented on #44065
Is there any update on this as I have the same issue - and I am stuck !!!

[2018-01-26 16:58] ooboyle commented on #42060
Seriously need this feature right now as well. Please expedite!

[2018-01-26 17:10] gtmanfred commented on #45706
This is a duplicate of https://github.com/saltstack/salt/issues/18562

which is a duplicate of https://github.com/saltstack/salt/issues/18510

`--retcode-passthrough` only passes through the retcode from all the cmd.run stuff in salt-call if there are retcode errors in a state run.
[code]

[2018-01-26 17:10] #45706 closed

[2018-01-26 17:26] zer0def commented on #45699
OP's example is too abstract to speculate over. Execution modules in SLS files (for example, `{{ salt['test.ping']() }}`) are ran during the Jinja rendering phase, which comes *before* SLS interpretation to lowstate.

[2018-01-26 17:29] Ch3LL commented on #43367
bump @garethgreenaway

[2018-01-26 17:30] rallytime commented on #45471
@Ch3LL I have updated your list above ^^ as I added the M2Crypto pkg install to the git installation functions just now. The stable package installs will be handled on david's side.

[2018-01-26 17:31] Ch3LL commented on #33524
@zhulh200868 can you open another issue with more details related to your issue if its still an issue for you.

@xenophonf we don't build the freebsd pkgs but if you create an issue with the details including salt version we can ping the community member who manages that and get more eyes on your problem.

[2018-01-26 17:34] Ch3LL commented on #44399
after rebooting the physical minion or just simply restarting the minion service?

[2018-01-26 17:57] mts-avco commented on #45503
I tried, but I'm unable to apply the updated files as suggested by @twangboy, most likely due to the `import salt.utils.win_functions` modification suggested by @gtmanfred. If someone can let me know what changes are required, or supply changed files I can simply drop in, then I'll give it another go.

[2018-01-26 17:59] mts-avco commented on #45503
Using the files without any changes gives the following error:

[code]

[2018-01-26 18:23] Ch3LL commented on #35375
i've been re-looking at this and i noticed that the state formatted like this works:

[code]

The pipe tells yaml this will be a multiline statement string. Without the pipe its interpreting the data type as a dict. I believe this might be a yaml idiosyncrasy but not certain.

As seen in python interpreter:

[code]

[code]

so its a string vs a dictionary. To prove this point further:

[code]

[co

[2018-01-26 18:26] lorengordon commented on #45699
Put the condition also in the `foo` sls.

Or use `exclude=foo` on the command line.

[2018-01-26 18:26] Ch3LL commented on #35664
@teliduxing004  are you running with root? also can you add this to a new issue with more details since this issue is closed so we can ensure the issues are handled separately.

[2018-01-26 18:28] Ch3LL commented on #45643
hmm and when you say it works with `salt-call state.apply` running form the minion are you running salt as that intended user?

Also can you setup another test state to ensure `runas` is working. Just a more simpler cmd.run?

[2018-01-26 18:33] Ch3LL commented on #45670
thanks for clarifying :)
ping @erjohnso do you know if this is possible currently?

[2018-01-26 18:34] brenwhyte commented on #44550
Ok, nerver mind. My issue was down to not updating the acl file.

    2018-01-26 16:35:54,132 [py.warnings      ][WARNING ][5961] /usr/lib/python2.7/dist-packages/salt/utils/event.py:1103: DeprecationWarning: ACL rules should be configured with 'publisher_acl' and 'publisher_acl_blacklist' not 'client_acl' and 'client_acl_blacklist'. This functionality will be removed in Salt Nitrogen.

    diff /

[2018-01-26 19:58] #31179 closed

[2018-01-26 22:17] rallytime commented on #21270
This is complete. If more specific docs should be added, we can address in a new issue.

[2018-01-26 22:17] #21270 closed

[2018-01-26 23:52] pstatho commented on #10032
This is truly surprising. Respecting the DNS TTL is pretty basic stuff and ends up being a logistical nightmare for IT providers managing multiple locations. I'm using a CNAME entry and now that we migrated our master we have almost 1000 minions that are not connected. Now we have to find a way to restart the service or reboot the machines ;(.

[2018-01-27 00:40] teliduxing004 commented on #45678
ok，thinks

Robin

[2018-01-27 00:48] teliduxing004 commented on #35664
@Ch3LL  yes，ok，thanks。

[2018-01-27 03:59] Trouble123 opened #45727 "runner.http.query constantly causing ERROR 599 - Timeout"
### Description of Issue/Question
Using runner.http.query sometimes gives HTTP 599 Timeout ERROR. I originally thought it was our web app on Azure, but even when pointing the query to other webhook servers, was getting similar results. The state run is to send 5 grains to a RESTful API.

### Setup
**grains.sls**
[code]
The reactor file **send_grains.sls**:
[code]
### Steps to Reproduce Issue
I sta