[2018-02-14 16:04] sumeetisp commented on #44886
I see some function related to managed disk's in develop branch. Have you added managed disk's support?

[2018-02-14 16:06] sumeetisp commented on #44886
@SJern volumes will not get mounted automatically. They will only get attached. U may have to use mount module or write script for mounting them. Can be a part of your orchestration.

[2018-02-14 16:07] garethgreenaway commented on #46033
@terminalmage Might be related to the recent fix you make to the yumpkg module?

[2018-02-14 16:09] garethgreenaway commented on #46030
@sumeetisp Thanks for the report.  Can you provide the output for salt --versions-report and the custom module you're attempting to use?

[2018-02-14 16:12] #26156 closed

[2018-02-14 16:33] sumeetisp commented on #44886
@nicholasmhughes Please highlight profile values that need to be set for provisioning vm with managed disk.I can see "vhd" with value managed/unmanaged can be specified in profile. Any other changes/aditions?

[2018-02-14 16:40] garethgreenaway commented on #46025
Could be fixed in https://github.com/saltstack/salt/pull/45991

[2018-02-14 16:41] garethgreenaway commented on #46021
@dubb-b FYI.

[2018-02-14 16:55] garethgreenaway commented on #46028
@areaxx Thanks for the report and the PR.

[2018-02-14 16:57] nicholasmhughes commented on #44886
@sumeetisp managed disks are the new default in the module, following guidance from Microsoft. You would explicitly set vhd to unmanaged as you noted in order to use blob storage.

[2018-02-14 16:59] rallytime commented on #45956
@frogunder This should be fixed with #46032

[2018-02-14 17:05] hop opened #46034 "Using `!` as comment char with `file.comment_line` results in 'None' being used instead"
The command

    salt '*' file.comment_line /etc/ca-certificates.conf '^mozilla/DigiCert_Global_Root_CA\.crt' '!'

results in

    Nonemozilla/DigiCert_Global_Root_CA.crt

in the file. In order to get the correct result, one has to use

    salt '*' file.comment_line /etc/ca-certificates.conf '^mozilla/DigiCert_Global_Root_CA\.crt' '"!"'

(the order of `'` and `"` is important to keep bash from in

[2018-02-14 17:08] garethgreenaway commented on #46018
@poliva83 Thanks for the report.  The right approach would definitely be to only call `file.remove` if tmp_ssh_wrapper is not None.  We would definitely welcome a PR with this fix.

[2018-02-14 17:09] hop commented on #46034
Sorry, forget to mention that I use versions `2016.11.5` and `2016.11.9`.

I could not find a previous bug report for this, but maybe I couldn't come up with the right search terms.

[2018-02-14 17:13] garethgreenaway commented on #46014
@caseyallenshobe Thanks for the report.

[2018-02-14 18:02] phsteve commented on #45881
@garethgreenaway or anyone else, any further tips on debugging this event timeout issue I'm seeing with `schedule.present`? Thanks!

[2018-02-14 18:14] garethgreenaway commented on #46034
@hop As you pointed out this is actually your shell interpreting the `!` before Salt can get to it.  Since the `!` is used to call previous commands I'm not sure this is a scenario that we can work around and the behavior is expected.  Quoting the `!` as you've done would be the recommended solution.

[2018-02-14 18:38] terminalmage commented on #46018
Fixed in #46036.

[2018-02-14 18:44] hibbert opened #46037 "marathon_app.config failing after upgrade of marathon from 1.4 to 1.5"
### Description of Issue/Question

### Setup

### Steps to Reproduce Issue
Using the same sls files as before I know get the following error

----------
          ID: datadog-agent-public
    Function: marathon_app.config
      Result: False
     Comment: Failed to update app config for datadog-agent-public: {'message': 'No JSON object could be decoded'}
     Started: 18:27:52.662164
    Duration:

[2018-02-14 19:07] hop commented on #46034
No, it is not. Using single quotes prevents bash from interpreting the `!`. You can verify this by using double quotes instead.

[2018-02-14 19:55] terminalmage commented on #46033
Well, the exclude doesn't help you when you don't use it. I can't even find a record of what is in `kernel-utils`, There doesn't appear to be a reason the yum command would die in the middle of upgrading it, and certainly not a reason I would expect to be caused by Salt.

[2018-02-14 20:50] Kaydub00 commented on #46033
The other ticket was filed because when exclude is used it doesn't work.

[2018-02-14 20:59] aphor commented on #45917
This looks like it *could* be a fairly trivial implementation.

salt-cloud gce driver uses libcloud gce driver which apparently already implements the create_node(internal_ip='10.1.2.3') style address assignment at node creation time.
https://github.com/apache/libcloud/blob/trunk/libcloud/compute/drivers/gce.py#L3773

The GCP REST API appears to create a new VM with assigned resource.networkInterf

[2018-02-14 22:02] gzcwnk opened #46040 "Salt-minion install failed dependancy RHEL7.4"
### Description of Issue/Question

Unable to install salt-minion 2017.7.3.1.el7 as systemd-python is missing as a dependency

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

attempt to install salt-minion,

###
[root@vuwunicotmpsts4 ~]# yum -y install salt-minion
Loaded pl

[2018-02-14 22:36] gzcwnk commented on #46040
found issue, failed / lost rh repos....  :(

[2018-02-14 22:36] #46040 closed

[2018-02-14 22:51] #28918 closed

[2018-02-14 22:51] #24462 closed

[2018-02-14 22:51] #27599 closed

[2018-02-14 22:51] #28914 closed

[2018-02-14 22:51] #25364 closed

[2018-02-14 22:51] #26602 closed

[2018-02-14 22:51] #28960 closed

[2018-02-14 22:51] #21317 closed

[2018-02-14 22:51] #27857 closed

[2018-02-14 22:51] #28973 closed

[2018-02-14 22:52] #28993 closed

[2018-02-14 22:52] #29012 closed

[2018-02-14 22:52] #29003 closed

[2018-02-14 22:52] #28985 closed

[2018-02-14 22:52] #28735 closed

[2018-02-14 22:52] #25780 closed

[2018-02-14 22:52] #29025 closed

[2018-02-14 22:52] #28640 closed

[2018-02-14 22:52] #29031 closed

[2018-02-14 22:52] #29029 closed

[2018-02-14 22:52] #29033 closed

[2018-02-14 22:52] #29034 closed

[2018-02-14 22:52] #29040 closed

[2018-02-14 22:52] #28975 closed

[2018-02-14 22:52] #29004 closed

[2018-02-14 22:52] #29075 closed

[2018-02-14 22:52] #29021 closed

[2018-02-14 23:51] #28729 closed

[2018-02-14 23:51] #28743 closed

[2018-02-14 23:51] #28749 closed

[2018-02-14 23:51] #28691 closed

[2018-02-14 23:51] #24556 closed

[2018-02-14 23:51] #11516 closed

[2018-02-14 23:51] #28733 closed

[2018-02-14 23:51] #28567 closed

[2018-02-14 23:51] #16139 closed

[2018-02-14 23:51] #28083 closed

[2018-02-14 23:51] #28607 closed

[2018-02-14 23:52] #28303 closed

[2018-02-14 23:52] #22957 closed

[2018-02-14 23:52] #13263 closed

[2018-02-14 23:52] #28797 closed

[2018-02-14 23:52] #28556 closed

[2018-02-14 23:52] #25138 closed

[2018-02-14 23:52] #28616 closed

[2018-02-14 23:52] #18652 closed

[2018-02-14 23:52] #28720 closed

[2018-02-14 23:52] #25026 closed

[2018-02-14 23:52] #27871 closed

[2018-02-14 23:52] #28721 closed

[2018-02-14 23:52] #25060 closed

[2018-02-14 23:52] #28819 closed

[2018-02-15 00:19] boltronics opened #46045 "salt-key can't delete a single key if name is duplicated"
### Description of Issue/Question
Sometimes when replacing instances outside of salt-cloud, I find myself in a situation where old minion keys are left over on the master and need to be cleaned up. Since a new key was created for the replacement host with the same name, salt-key is unable to remove just the old host key. The only known work-around is to have salt-key delete both keys, and then res

[2018-02-15 00:51] boltronics commented on #46045
Looks like the bulk of the logic to handle this exists in https://github.com/saltstack/salt/blob/develop/salt/key.py and https://github.com/saltstack/salt/blob/develop/salt/utils/parsers.py#L2249. Probably not too hard to fix.

One way to address this would be to add another flag with `action=store_true` to the optparser, and have the existing glob matching functionality of `-d` replaced with fing

[2018-02-15 00:51] #26558 closed

[2018-02-15 00:59] gtmanfred commented on #45798
What version of salt are you running?

This should was fixed a while ago.

[2018-02-15 02:51] #28062 closed

[2018-02-15 04:44] fake-name commented on #45968
The only thing I can think of is it's possible the available images can be configured on a per-API-key basis.

[2018-02-15 08:51] sumeetisp commented on #44886
The output returned is missing some values like private and public ip.

            ----------
            hardware_profile:
                ----------
                vm_size:
                    Basic_A1
            id:
                8753a40f-c73d-44c2-b8d4-c7f938484d4b
            image:
                RedHat|RHEL|7.2|latest
            location:
                eastus
            name:

[2018-02-15 08:53] sumeetisp commented on #46030
Salt Version:
           Salt: 2017.7.1

Dependency Versions:
           cffi: 1.11.4
       cherrypy: 3.2.2
       dateutil: 2.6.1
      docker-py: Not Installed
          gitdb: 0.5.4
      gitpython: 0.3.2 RC1
          ioflo: Not Installed
         Jinja2: 2.8
        libgit2: Not Installed
        libnacl: Not Installed
       M2Crypto: Not Installed
           Mako: 0.9.1
   msgpack-pure: No

[2018-02-15 12:24] baby-gnu commented on #14613
The non expansion of `~` for `file://` URI is normal according to [RFC8089](https://tools.ietf.org/html/rfc8089#appendix-D.1).

[2018-02-15 12:30] bdrung commented on #44307
I stumbled over this bug too. Please backport the fix to the 2017.7 branch.

[2018-02-15 12:51] jsutton commented on #46025
#45991 fixes this issue.

[2018-02-15 12:51] #46025 closed

[2018-02-15 12:58] nicholasmhughes commented on #44886
Can you post `pip freeze | grep azure` ?

[2018-02-15 13:13] nkv16786 commented on #44886
On behalf of @sumeetisp , here is the output of `pip freeze | grep azure`

pip freeze | grep azure
azure==2.0.0rc5
azure-batch==0.30.0rc5
azure-common==1.1.4
azure-datalake-store==0.0.15
azure-graphrbac==0.30.0rc5
azure-keyvault==0.3.5
azure-mgmt==0.30.0rc5
azure-mgmt-authorization==0.30.0rc5
azure-mgmt-batch==0.30.0rc5
azure-mgmt-cdn==0.30.0rc5
azure-mgmt-cognitiveservices==0.30.0rc5
azure-mgmt-c

[2018-02-15 13:13] amontalban opened #46047 "Jinja search path is modified after using slsutil.renderer"
### Jinja search path is modified after using slsutil.renderer

### Setup

Hey guys,

I'm using the `slsutil.renderer` module with the following code to load all SLS files in a directory (`/srv/pillar/common/users/general/init.sls`):

[code]

This works just fine but it's modifying the "Jinja search path" afterwards and other states fails.

I'm running this in masterless setup with the following c

[2018-02-15 13:33] jryberg commented on #44701
Hi,

Since Kubernetes 1.9 was released the latests version of client-python is 5.0

I'm concerned that SaltStack will not be able to keep up with Kubernetes release schedule with the result that it will be very hard to use SaltStack for Kubernetes management =(

[2018-02-15 14:07] gtmanfred commented on #46037
Can you provide the sls file that you are using so that this can be replicated?

[2018-02-15 14:26] Ch3LL commented on #44307
There was a decision made here https://github.com/saltstack/salt/pull/43518#issuecomment-330955452 to keep this in develop due to the nature of the fix.

[2018-02-15 14:38] Ch3LL commented on #46010
k thanks for posting that :) looks like the proxy settings you have posted are not configurable outside of the minion config.

If you look here: https://github.com/saltstack/salt/blob/v2017.7.2/salt/utils/http.py#L461-L464

you can see that its querying those options from opts, which is information from minion config. Looks like this would need to be improved to be able to send it in as a kwarg/ar

[2018-02-15 14:44] sam0104 commented on #46010
Thanks for the update. So this should be fixed on next release of minion version ? Is there any workaround we can perform now ?

[2018-02-15 14:56] hammondrm opened #46048 "fromrepo parameter in pkg.uptodate state not working"
After updating the salt master to 2017.7.2 our Linux server patching started failing. The fromrepo parameter was being passed directly to yum rather than being converted to disablerepo '*' enablerepo <repolist>. This worked fine before the upgrade but failed after.

We are working around this issue by using the disablerepo and enablerepo parameters. This is working but it looks like these paramete

[2018-02-15 14:59] Ch3LL commented on #42278
@terminalmage you stated "When I finish my current task, I will look at ways of fixing this specific error in a bugfix release ahead of Oxygen." I know we are still working towards oxygen, but i'll go ahead and assign this to you to look at aftwerwards.

[2018-02-15 15:08] idlethreat opened #46049 "SSL_ST_INIT errors after package install"
## Description of Issue/Question

I'm running into an issue with installing *any* python packages on a salt-master.

Anytime I install a package (either using apt-get or pip), salt-master becomes unusable and I have to recover it from backups.

From the debug output, It looks like it throws a:

`AttributeError: 'module' object has no attribute 'SSL_ST_INIT'`

This is unexpected. And I'm unsure exa

[2018-02-15 15:18] rickh563 commented on #46047
ZD-2248

[2018-02-15 15:40] gtmanfred commented on #46049
I am unable to replicate this.

[code]

Can you provide me with more information about how to replicate this?  Including the config files?

Can you also try to replicate it in a docker container, and provide that erroring container instance?

Thanks,
Daniel

[2018-02-15 15:47] gtmanfred commented on #46048
@terminalmage is this related to the yumpkg.py stuff you found the other day?

Thanks,
Daniel

[2018-02-15 15:54] gtmanfred commented on #46045
You can specify the type of minions that you want with `-l` or `--list`

So  `salt-key -l denied -d salt-master0.internal` would only delete the denied keys with that name.

Does this work for you?

Thanks,
Daniel

[2018-02-15 15:57] rombert opened #46050 "pkgrepo.managed does not use humanname for zypper repos"
### Description of Issue/Question

Using salt 2017.7.2 on openSUSE Tumbleweed x86_64, I am provisioning repositories. I see that the `humanname` argument is not used.

### Setup

Salt as described above, in local mode.

### Steps to Reproduce Issue

#### top.sls
[code]

#### test.sls
[code]

#### Invocation
[code]

#### Verification

[code]

The name is expected to be _Packman (Essentials)_ but is

[2018-02-15 16:07] nicholasmhughes commented on #44886
Verified the IPs output as expected with:
[code]
I'm going to roll back and verify that's the issue.

[2018-02-15 16:09] Ch3LL commented on #42734
Okay looking at the documentation of the reactor here: https://docs.saltstack.com/en/latest/topics/reactor/#best-practices-for-writing-reactor-sls-files

@dpedu2 you can see as stated previously the recommended approach  is to use reactor that then calls an orchestration file which then can handle requisites and ordering to ensure certain commands are ran in the order you expect.

To speak to @sam

[2018-02-15 16:15] Ch3LL commented on #45655
What about enabling debug mode in the minion config `log_level_logfile: debug` , restart minion and then run the command from master again. should get some useful information then.

[2018-02-15 16:19] hammondrm commented on #46048
You may be confusing me with someone else. This is the first time I have brought this up. I did notice the problem last month but just worked around it. If someone else has already reported this then this issue could be closed as a duplicate. Do you have a reference for the other issue report?

[2018-02-15 16:43] nicholasmhughes commented on #44886
@nkv16786 I couldn't get the cloud module to run properly with the Azure SDK versions you provided. Here are the *minimum* versions I got to work:
[code]
...although I'd recommend upgrading further since I'm planning on committing some execution and state modules to create other infrastructure (resource groups, virtual networks, availability sets, etc.) in Azure, and the required Azure SDK and mod

[2018-02-15 17:19] gtmanfred commented on #46048
I am not confusing you with someone else, terminalmage fixed a problem in yumpkg.py that might be related to this.

[2018-02-15 17:20] gtmanfred commented on #46048
Can you check if this fixes your issue? https://github.com/saltstack/salt/pull/45991

[2018-02-15 17:38] hammondrm commented on #46048
Sorry to misunderstand. I wasn't sure how to determine what changes terminalmage made to the package.

Looking at his comments from #45991 I think this addresses the issue with the duplicate entries on the command line but I don't think it addresses the main issue with the fromrepo argument not being converted to the form yum needs using the disablerepo and enablerepo.

[2018-02-15 18:07] gtmanfred commented on #46048
But it would run move the fromrepo option from kwargs so that it isn't passed to _get_extra_opts. It is converted to enable and disable repo options in the other get opts function.

[2018-02-15 18:13] hammondrm commented on #46048
OK, I guess I missed that from his comment. If that is what is happening in the code then it should be back to what was happening before we updated and this fix will resolve the issue we are having.

Is there a target release for this fix?

[2018-02-15 18:14] terminalmage opened #46051 "Get salt/modules/ssh.py working on Windows"
We should try to reproduce as much of the client-based functionality from this module using ssh.exe.

[2018-02-15 18:57] #43385 closed

[2018-02-15 19:13] terminalmage commented on #46020
This is due to the fact that the serialized data (a.k.a. the "opts_pkg" in salt.client.ssh) which ends up being used as the grains on the remote end, contains bytestrings, not strings. So `__grains__[b'shell']` is present, but not `__grains__['shell']`, hence the KeyError. The fix for this will likely be in the wrapper(s).

[2018-02-15 19:54] hibbert commented on #46037
Okay. Here's a simple sls file to replicate:-

[code]

This gets the error message

[code]

The json itself works okay, when inserting an app via marathon ui

[code]

[2018-02-15 19:56] jcmcken commented on #44062
@DenisBY I'm not suggesting you solve the warnings issue by removing it, I'm just noting one side effect of Salt's detection logic. The real solution requires Salt patch the boto3 Salt module to use absolute imports.

[2018-02-15 20:05] nicholasmhughes commented on #45615
Allocating dynamic public IP addresses with the current logic will result in an endless loop since an IP won't be allocated until the VM is running. I'll take a stab at correcting that.

[2018-02-15 20:21] nicholasmhughes commented on #45052
@SJern I'm seeing this behavior connecting to a master over a **public** IP in Azure, regardless of using DNS or IP. You stated that you're seeing it with private IPs, but your example looks more like a public IP (despite it not being a valid IP address). Can you clarify?

[2018-02-15 20:43] gtmanfred commented on #46048
it should be in the oxygen release which we are working on, or 2017.7.5

Also, you can distribute it to your minions using dynamic modules.

https://docs.saltstack.com/en/latest/ref/file_server/dynamic-modules.html

[2018-02-15 20:48] gtmanfred opened #46052 "[Fluorine] Add tests for vault and sdb"
### Description of Issue/Question

Vault is probably the most used backend for sdb.  We should be testing this more thoroughly

[2018-02-15 21:01] whytewolf commented on #46047
Okay, it does look like `slsutil.renderer` is overriding the built-in jinja search path whenever it used. I have tried in jinja and python renders and both completely override the jinja search path for the rest of any pillar renderings.

see  gist: https://gist.github.com/whytewolf/c85b26e5da63ccb13a702727ac54f3cb

[2018-02-15 21:08] hammondrm commented on #46048
Sounds great. Thank You.

[2018-02-15 21:08] #46048 closed

[2018-02-15 21:10] JeffAbrahamson opened #46053 "dns_check doesn't do what it says"
### Description of Issue/Question

### Setup

Using the example from the [documentation](https://docs.saltstack.com/en/latest/topics/jinja/index.html#dns-check):

     {{ 'www.google.com' | dns_check }}

leads to an error (see below).  The following parses, but leads to a different error (see below).

     {{ 'www.google.com' | dns_check(port='443') }}

### Steps to Reproduce Issue

In the first c

[2018-02-15 21:13] rallytime opened #46054 "Add tests for cloud module to regular salt-cloud tests"
We had a regression in #45863 that would have easily been caught by tests. We didn't catch this with our regular cloud tests because those only run `salt-cloud` commands and not functions using the cloud _module_. We should be able to easily add some integration and unit tests for the cloud module to the tests that already run the `salt-cloud` tests.

These tests just need to test basic functional

[2018-02-15 21:14] Ch3LL opened #46055 "[oxygen] mac_assistive module not loading"
### Description of Issue/Question
Since we are importing unicode_literals now we are getting the following error when trying to load mac_assistive in oxygen:

[code]
PR Incoming

### Versions Report

[code]

[2018-02-15 21:54] SJern commented on #45052
@nicholasmhughes That is correct. It probably more about public vs private.
I will edit the private IP to a valid one to avoid confusion.

[2018-02-15 22:51] boltronics commented on #46045
Thanks - good to know. It would work for the above example, but unless I'm mistaken, I'm reasonably sure I have also encountered situations where there are duplicate key names that are both in the accepted section.

[2018-02-15 23:01] boltronics commented on #46045
Another option would be to change the behaviour of apt-key to prompt on each key when deleting by default, showing the fingerprint each time. In theory that shouldn't cause too much trouble for people since there is a `--yes` argument that could be used to skip all the prompts for use cases where many keys are too be deleted at once, and previewing what will be deleted can be done via `salt-key -f

[2018-02-15 23:02] gtmanfred commented on #46045
Yeah, that is really reasonable.

I am marking this as a feature request.

Thanks!
Daniel

[2018-02-15 23:22] ferventcoder commented on #45969
@twangboy I believe I agree with @abmoham on this - it feels better to have an attribute/parameter of some sort that can control where I install Chocolatey from, with a default value of the community repository (`https://chocolatey.org/install.ps1` in this case). Since it is pointing to a script instead of using a local version, allow for me to pass in an alternative script that would achieve the

[2018-02-15 23:47] morganwillcock commented on #45355
@V3XATI0N are you sure the issue is not that you are querying the master cache, which may or may not have the data? Most of minions I'm using are Windows and I've not seen a similar problem. Could you try testing it the other way around, to avoid involving the cache and jq?

<pre># salt -G 'os:Windows' test.ping --out=txt | grep "^.*: True"
# salt-run manage.present</pre>

When I try that, I get e

[2018-02-16 00:51] nvx commented on #41858
I've run into the same issue. Seems to occur when someone makes a mistake in the pillar top.sls that makes pillar rendering error out - when this happens instead of aborting it nukes the already existing file with "Signing policy mypolicy does not exist."

[code]

[2018-02-16 03:13] V3XATI0N commented on #45355
i'm sure. Windows minions never appear in `salt-run manage.present` or in any presence events, matter how online they are.

[2018-02-16 06:36] lkthomas commented on #24204
+1 for compound matching

[2018-02-16 07:01] sumeetisp commented on #44886
I have upgrade the  libraries but now provisioning is failing.
NIC card is getting provisioned but VM is not getting provisioned which was happening earlier with old libraries.
I see following issues,
[DEBUG   ] Failed to get data for node 'test-vol4'
[DEBUG   ] 'update_callback' has returned 'False', which is considered a failure. Remaining Failures: 10.
Which is obvious because the vm itself was

[2018-02-16 07:10] sumeetisp commented on #44886
This what i have in my env,

azure==2.0.0rc6
azure-batch==1.0.0
azure-common==1.1.4
azure-datalake-store==0.0.15
azure-graphrbac==0.30.0rc6
azure-keyvault==0.3.5
azure-mgmt==0.30.0rc6
azure-mgmt-authorization==0.30.0rc6
azure-mgmt-batch==1.0.0
azure-mgmt-cdn==0.30.0rc6
azure-mgmt-cognitiveservices==0.30.0rc6
azure-mgmt-commerce==0.30.0rc6
azure-mgmt-compute==0.30.0rc6
azure-mgmt-containerregistry=

[2018-02-16 07:37] MartinMystikJonas opened #46060 "Deterministic SaltReqTimeout in just two of many state (pkgrepo.managed and file.managed) after upgrade to 2017.7.3"
### Description of Issue/Question
We use salt to as step to configure Docker images during build. It usually took 10-20 minutes to build this image.

We got SaltReqTimeout on two of our salt states sometimes. Approx 1  in 20 runs finishes sucessfully. In other 19 cases exactly same 2 statesof 176 total fails with timeout - one is pkgrepo.managed other is file.managed. Dozens of other pkgrepo.manag

[2018-02-16 07:58] damon-atkins commented on #44452
The reason for this issue is you have non-ascii chars in your vm names but  your language on your salt master is not Unicode/UTF-8
System Versions:
            dist: Ubuntu 16.04 xenial
          **locale: ANSI_X3.4-1968**
         machine: x86_64
         release: 4.4.0-96-generic
          system: Linux
         version: Ubuntu 16.04 xenial

[2018-02-16 08:42] github-abcde commented on #46004
Another weird thing, is that when I add `sleep(1)` on `salt/runners/pillar.py:101`, the issue does *not* seem to occur.

[2018-02-16 09:10] MorphBonehunter commented on #45679
@gtmanfred do you want to also confirm the fix or can i close this issue?

[2018-02-16 10:33] jryberg commented on #45367
@garethgreenaway @flavio

Will someone please make a decision? As previously stated I think "plain format" with support for templates would be very useful.

[2018-02-16 10:51] jryberg opened #46063 "Kubernetes state report newly created namespace as failed"
### Description of Issue/Question
When I create a new namespace using salt.states.kubernetes.namespace_present it's failing even if it's successfully created.

### Setup
#### namespace.sls
[code]

Kubernetes Python client version 3: https://github.com/saltstack/salt/issues/44701

### Steps to Reproduce Issue
Create namespace.sls
Run the state and this will be the end result

[code]

Maybe the outp

[2018-02-16 11:13] jryberg opened #46064 "Kubernetes state incorrectly reports deployment as Succeeded if namespace is missing"
### Description of Issue/Question
It's possible to trick state salt.states.kubernetes.deployment_present to believe a new deployment was successful when it in fact was reported as a failure and nothing was actually created due to the fact that the namespace was missing.

### Setup
Running Kubernetes cluster 1.9.2
Kubernetes python client 3

#### test.sls
Make sure namespace "idontexist" does NOT e

[2018-02-16 13:25] damon-atkins opened #46065 "Windows Installer should include everything need by windows modules"
### Description of Issue/Question
'mssql' __virtual__ returned False: The mssql execution module cannot be loaded: the pymssql python library is not available.

Please add
- FreeTDS http://pymssql.org/en/stable/freetds.html
- pymssql Python module

[2018-02-16 13:47] heinlein-support commented on #38672
We have exactly the same issue here...

Is it really not possible to configure IPv6 with Salts? Any known workarounds?

[2018-02-16 14:09] nicholasmhughes commented on #44886
Try with these minimum versions:
[code]
If this works, I'll update the documentation to include the minimum versions for each module instead of of the overall SDK.

Also, I found a bug where the OS disk sizing isn't working with the managed disks. I'll file a PR with that fix independently or with the larger set of modules I mentioned once we get this sorted out.

[2018-02-16 14:10] jeremysolarz commented on #45917
Hi @aphor,

Thanks for the response.

Similar to how you handle [External IP assignment](https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/gce.py#L2474) it would be great to have a `create_or_get` here.

So, if there exists an internal IP use it otherwise create it.

Does this make sense?

[2018-02-16 14:14] lorengordon commented on #46065
I'd downvote this. Some modules have additional requirements. Windows users can use salt's packaged python to install them using pip.

[2018-02-16 14:26] aphor commented on #45917
Does the static external IP address assignment functionality currently behave exactly the way we want the static internal IP address assignment to work? It's easier to implement a pattern established by existing code, which is what I think you're suggesting.

[2018-02-16 14:35] #45956 closed

[2018-02-16 14:38] sumeetisp commented on #44886
I will try this and revert on Monday. Earlier the only issue was the output
but the VM was successful provisioned.
But now the interface gets provisioned and vm doesn't.

Thanks,
Sumeet Salvankar

On 16-Feb-2018 19:39, "Nicholas Hughes" <notifications@github.com> wrote:

Try with these minimum versions:

azure-mgmt-compute==0.33.0
azure-mgmt-resource==0.30.0

If this works, I'll update the documen

[2018-02-16 14:49] rallytime commented on #46065
Yeah, I agree with @lorengordon. This is a common practice in Salt. We can't package for every module dependency and it's standard for users to handle installing the various dependencies they need. This practice shouldn't be different for Windows.

[2018-02-16 14:50] rallytime commented on #45679
@MorphBonehunter You can close the issue. Since I'm here, I can grab it. But in the future, feel free to close your issues if they're resolved. Thank you!

[2018-02-16 14:50] #45679 closed

[2018-02-16 14:55] Ch3LL commented on #46050
ping @saltstack/team-suse any chance you can take a look here?

[2018-02-16 14:58] dmeiser commented on #13449
Terraform is looking at adding this:  https://github.com/hashicorp/terraform/issues/3004

Perhaps salt could learn from some of the existing integrations over there.

[2018-02-16 15:10] isbm commented on #46050
This is a bug. Thanks finding this out, @rombert ! @Ch3LL, assign this to me please.

[2018-02-16 15:45] Ch3LL commented on #46053
You need to ensure 443 is an int. So just change it from `port='443'` to `port=443`. but agreed we need to update the documentation to ensure its clear a port is required.

[2018-02-16 15:58] danlsgiga commented on #33922
I don't know if that's the same issue but I noticed that `subset` is not working for reactors... example code:

[code]

This reactor works super fine, except for the fact that it targets all the nodes, not only 1 subset. Is that expected behaviour? On the salt cli it works great though!

[2018-02-16 15:59] jeremysolarz commented on #45917
According to [this](https://docs.saltstack.com/en/latest/topics/cloud/gce.html#external-ip) it's same behavior.

Especially that line

[2018-02-16 16:03] JeffAbrahamson commented on #46053
Ah, ok, thanks.

I imagine it's too late to change the name to "connection_check" or something equally descriptive.  But a simple `gethostbyname()` style function would be quite useful here.

(In my case I'm writing firewall rules, where my yaml makes more sense as FQDN's but the rules require ip4v's.  But I have no reason to believe I'm authorised to connect to any port on those hosts.)

[2018-02-16 16:17] layer3switch opened #46073 "salt 2017.7.3 grains metadata collection in AWS EC2 cause failure and nested iteration"
### Description of Issue/Question
Recent 2017.7.3 stable of grains metadata.py is causing metadata collection failure or nested iteration depending on ```backend``` options used in configuration when salt deployed within AWS environment (possibly any cloud provider with instance metadata api). The problem occurs when metadata.py search path returns ```user-data``` containing non json format data a

[2018-02-16 16:19] Ch3LL commented on #46060
your versions report is that for minion or master? Can i get versions report for both please. thanks

[2018-02-16 16:22] gtmanfred commented on #46037
Unfortunately I am completely unfamiliar with how this works or could be setup.

@gauntletbuild @suhasgaddam Can one of yall look at this since yall wrote this marathon_app module?

Thanks,
Daniel

[2018-02-16 16:30] Ch3LL commented on #46063
ping @flavio looks like you added this here: https://github.com/saltstack/salt/pull/39514

mind taking a look at this?

[2018-02-16 16:31] Ch3LL commented on #46064
ping @flavio looks like you added this here: https://github.com/saltstack/salt/pull/39514

mind taking a look at this?

[2018-02-16 16:57] damon-atkins commented on #46065
Difference is windows is a private version of python. Not shared. Pip install only works if you do not have to compile anything as part of a pip install.  I suppose companies will just need to get security to sign off on C compiler on production systems. Or create their own msi to install the extra they need.

Does not seem simple.

[2018-02-16 17:15] lorengordon commented on #46065
It seems to me the Salt team has been handling this fine. _If_ a dependency must be compiled on Windows, _then_ it will be distributed by the salt package. I'd prefer to keep it tight and focused like that, only doing what is required. That's not what it seems this issue is requesting though, hence the downvote.

[2018-02-16 17:18] damon-atkins commented on #46065
Basically if needs to be compiled it needs to be included. Looking at it from what would be useful for windows I suspect their would not be much missing at all, hence I made this generic.

[2018-02-16 17:22] lorengordon commented on #46065
I use pip install a ton on Windows, and have pretty much never needed to pre-compile anything. Without solid reproducible examples of a wide-spread problem, I just don't see the need to make a sweeping change here.

[2018-02-16 17:35] Ch3LL commented on #46073
To note: Was able to replicate the stack trace when using tornado as a backend. Could not replicate using requests as a backend. spoke to @gtmanfred and he will take a look here.

[2018-02-16 18:11] sootythebear commented on #45214
The `curl` command:
[code]
is failing because the `eauth` under `external_auth:` is actual `pam`. The command in this case should be:
[code]

[2018-02-16 19:10] MartinMystikJonas commented on #46060
Updated with both minion and master versions.

[2018-02-16 19:47] #28196 closed

[2018-02-16 20:16] morganwillcock commented on #45355
It looks like manage.present does rely on the cache, rather than by by tracking the connections, but presence events come from a change in used network sockets so that should be entirely separate. So to confirm, both of these are not working for you?

What have you got set in the master config for `minion_data_cache` and `cache`?
Plus, do you see active connections if you run `sudo lsof -iTCP:4505

[2018-02-16 20:47] V3XATI0N commented on #45355
`minion_data_cache` is set to `true` (although that's the default anyway so it doesn't matter unless you're disabling it with `false`).

`cache` isn't defined, so the minion data cache defaults to the local filesystem. I have tried to use `redis`, but that causes commands to misbehave (it causes the master to report 'false' returns for minions that were never targeted in the first place), so it's

[2018-02-16 20:48] morganwillcock opened #46082 "Redirecting apt repositories to HTTPS requires additional local packages"
### Description of Issue/Question
It looks like the apt repositories are now redirecting to HTTPS, so when you add a source you just end up with an update error from the lack of HTTPS support, as it isn't installed in Debian by default.

### Steps to Reproduce Issue
Add `deb http://repo.saltstack.com/apt/debian/9/amd64/latest stretch main` to package list and try to update.

<pre>$ sudo apt-get up

[2018-02-16 21:00] terminalmage commented on #46020
Fixed by https://github.com/saltstack/salt/pull/46083

[2018-02-16 21:04] morganwillcock commented on #45355
I tried your loop and don't see the same issue:
<pre># for x in $( salt-run manage.present | cut -d\  -f2 ); do salt-run cache.grains tgt=$x --out=json | jq .[].os; done
"Windows"
"Windows"
"Windows"
"Windows"
"Windows"
"Windows"
"Windows"
"Windows"
"Windows"
"Windows"
"Windows"
"Debian"
"Windows"
"Windows"
"Windows"
"Windows"
"Windows"
"Windows"
"Windows"
"Windows"
"Windows"
"Windows"
"Windows"
"

[2018-02-16 21:11] V3XATI0N commented on #45355
I've updated to 2017.7.3, but the problem is still there. Trace-level logging doesn't show anything. It's just the list of minions, minus any Windows minions.

[code]
and here's manage.up:
[code]
`gs-desktop` does not appear in /any/ presence events or commands. It's invisible to the presence system. On this small QA salt deployment, it's the only Windows minion. On my other much larger deployment

[2018-02-16 21:30] morganwillcock commented on #45355
If you try to get cache data for one of the Windows minions that wasn't listed, does that work okay?
<pre>salt-run cache.grains tgt=<<name>name></pre>

[2018-02-16 21:40] V3XATI0N commented on #45355
Yes, the cache is fully populated for that minion.

[2018-02-16 22:02] morganwillcock commented on #45355
Ah, looks like I did misread it and it only checks the cache if you request the ipv4 value. It does do the same check as presence events, against active sockets.

Do you get all connections listed by `cat /proc/net/tcp` as well as `lsof -iTCP:4505 -n`?

[2018-02-16 22:02] jeremysolarz commented on #45917
Looks like [libcloud](https://github.com/apache/libcloud/blob/trunk/libcloud/compute/drivers/gce.py#L2822) is missing the parameter to create internal ips ...
Or could you find another hint?

[2018-02-16 22:22] MartinMystikJonas commented on #46060
UPDATE: I just found out that if we run `salt-call -l all --state-output=changes state.highstate` twice second run finishes without any errors. It seems that problem is only in first run of our highstate.

LEt me know if I can provide any other info or test something.

[2018-02-16 22:24] jeremysolarz commented on #45917
Looks like two parameters

[2018-02-16 22:33] Ch3LL commented on #46082
ping @dmurphy18 ^^

[2018-02-16 23:01] zmedico opened #46085 "2017.7.3 salt master with "open_mode: True" becomes unresponsive if minion submits empty public key"
### Description of Issue/Question

I noticed this problem when a minion in a bad state started sending an empty public key. The problem is reproducible by replacing the minion's `/etc/salt/pki/minion/minion.pub` file with an entirely empty file (zero bytes).

### Setup
Create a salt master with `open_mode: True`, and a minion with an entirely empty `/etc/salt/pki/minion/minion.pub` file (zero byte

[2018-02-16 23:02] olivierlacan commented on #38613
Still seeing this issue on `salt-minion 2016.11.5 (Carbon)`

[2018-02-17 00:26] gtmanfred commented on #38613
I am going to close this issue for inactivity, can you please open a new ticket, and provide more information about your environment, including the version of the salt master, and the full `--versions-report` for both the minion and the master, and the configs and hopefully a way to reproduce this.

Thanks,
Daniel

[2018-02-17 00:26] #38613 closed

[2018-02-17 00:27] gtmanfred commented on #38613
Also note, if you are using AZURE, we have seen problems with their networking killing off persistent connections, so you may need to try something like ping interval or another option in the salt master or minion to keep the connection alive and have traffic across the network.

If there is not traffic, We have seen the connections get killed at the provider level.

[2018-02-17 01:01] nmadhok commented on #22364
Reopen

[2018-02-17 09:44] jryberg opened #46086 "Add support for data formated cluster API credentials overrides in salt.modules.kubernetes (feature request)"
### Description of Issue/Question
It's possible to override API settings according to https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.kubernetes.html

I would like to do exactly this but for the "data" format instead such as:
 - kubernetes.certificate-authority-data: '...'
 - kubernetes.client-certificate-data: '...'
 - kubernetes.client-key-data: '...'

For some reason this form

[2018-02-17 09:55] thuhak opened #46087 "Document error for queue module pgjsonb"
### Description of Issue/Question

in document, the configuration for queue with pgjsonb backend is

[code]

But actually, it should be 'queue.pgjsonb.password' and 'queue.pgjsonb.dbname'  in source code.

[code]

### Versions Report

Salt Version:
           Salt: 2017.7.3

Dependency Versions:
           cffi: 1.6.0
       cherrypy: 11.0.0
       dateutil: 1.5
      docker-py: Not Installed

[2018-02-17 13:47] #14725 closed

[2018-02-17 15:17] ipsecguy commented on #26902
Two years down the road, same error on creation. Is VM creation supposed to work on the free ESXi or not?

[2018-02-17 17:47] #29092 closed

[2018-02-17 18:14] mbunkus commented on #41818
I've just stumbled across this as well and agree that the checks done in `file.py` are completely overboard. The easiest way I can see is to iterate over all occurrences where the "to comment" regex matches, to comment them, and to set a flag according if at least one match is found. If the flag is still false, emit that "already commented" message.

Dito for `file.uncomment`.

Just get rid of tha

[2018-02-17 22:05] #29105 closed

[2018-02-18 03:05] #29086 closed

[2018-02-18 09:05] #24719 closed

[2018-02-18 11:28] gaizeror opened #46092 "archive.extracted is not supporting exclude and change ownership together"
### Description of Issue/Question
The archive.extracted state is not supporting exclude option.
when I try to exclude file, I recieve an error:
"While trying to enforce user/group ownership, the following paths were missing:
  - /etc/filebeat/filebeat.yml

The states fails and not extracting the files
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)

[2018-02-19 01:17] #28978 closed

[2018-02-19 01:18] #15707 closed

[2018-02-19 04:17] sumeetisp commented on #44886
It worked.
Please elaborate a bit on the issue you have found on os disk sizing of managed disk. Is it provisioning with the size size of the image and not the value passed in os_disk_size_gb?

[2018-02-19 04:41] nicholasmhughes commented on #44886
Correct. That value isn't passed properly.

[2018-02-19 04:47] nmadhok commented on #29387
Reopen

[2018-02-19 04:51] sumeetisp opened #46095 "Timeout error while loading external pillar"
### Description of Issue/Question

I am using and external pillar which has the following procedure to render,
Get pillar details via api call -> Resolve ssh_paasword from password vault -> Return pillar

Getting the pillar from API call works fine but this resolving password from vault is becoming a pain point.
This rendering from vault increases the time to render a single profile, which keeps o

[2018-02-19 07:44] jf opened #46096 "Documentation about 'master_failback_interval' not clear"
https://docs.saltstack.com/en/latest/ref/configuration/minion.html#master-failback-interval says

But what does this mean when the default is `0`? Do the minions *never* check on the top master, and therefore **never failback**?

[2018-02-19 07:48] jf commented on #38376
I am still trying to figure out a multi master situation myself. What I dont get right now is, what's wrong with using `master_type: str`?

[2018-02-19 07:50] fgimian commented on #24653
This would still be desirable if possible 😄

[2018-02-19 08:32] Freezelight commented on #45623
Hello.
Can someone give me an advice about it?

[2018-02-19 10:13] sumeetisp commented on #44886
One question for code at https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/azurearm.py#L1325

Do we need this even when deploy is set to false?

[2018-02-19 10:32] github-abcde commented on #46004
@Ch3LL Do you have enough information to unblock this issue? Or is there something else you're waiting for?

[2018-02-19 10:34] nidhi-chourasia commented on #43221
I had a similar error
[ ERROR   ] Command '['systemd-run', '--scope', 'apt-get', '-q', '-y', '-o', 'DPkg::Options::=--force-confold', '-o', 'DPkg::Options::=--force-confdef', 'install', 'ruby', 'socat']' failed with return code: 100

for the state:

haproxy_packages:
  pkg.installed:
    - pkgs:
      - socat
      - ruby

[2018-02-19 12:28] bdrung opened #46099 "test_symlink_list fails due to missing symlink in release tarball"
The `test_symlink_list` test in `tests/unit/fileserver/test_roots.py` and `test_file_tree` fails:
[code]

The reason is that the symlink (which is used in this test) is not preserved when the release tarball salt-2017.7.3.tar.gz is generated:
[code]

[code]
Please either update the test case to create the symlink or ensure that the release tarball preserves the symlinks.

[2018-02-19 12:29] theunsa commented on #27400
Thanks @BenjaminSchiborr ... clever workaround!

[2018-02-19 13:14] nicholasmhughes commented on #44886
That logic needs to be reworked. There is another issue (I'm on my phone, otherwise I'd cite the number) that notes it's not possible to create dynamic public IP addresses. With the current logic, creating a dynamic public IP would result in waiting a really long time for the IP to come up... but it won't until the VM actually boots. That will also need to be changed.

Regarding the parameter nami

[2018-02-19 15:52] github-abcde commented on #46004
I suspect that it's related to the Jinja rendering context, which somehow mixes up between rendering the state (from `salt/state.py:render_state`) and the nested pillar render caused by the pillar runner.
When I wrap `__opts__` in a `copy.deepcopy` in https://github.com/saltstack/salt/blob/develop/salt/renderers/jinja.py#L63, the problem seems to go away (at least for me, at this moment).

[2018-02-19 16:19] Rumbles commented on #44013
Am I right thinking this is fixed in 2017.3 ? I just hit this issue and amanged to update to 2017.3 and don;t see the issue any more...

[2018-02-19 16:27] kiemlicz commented on #44013
2017.7.3 is no longer affected

[2018-02-19 17:17] #16510 closed

[2018-02-19 17:54] gtmanfred commented on #44013
This is fixed in 2017.7.3

[2018-02-19 17:54] #44013 closed

[2018-02-19 19:17] #25073 closed

[2018-02-19 19:17] #29157 closed

[2018-02-19 21:08] #29163 closed

[2018-02-19 22:08] #29180 closed

[2018-02-20 00:59] amendlik opened #46106 "yumpkg.refresh_db hangs"
### Description of Issue/Question
`salt.modules.yumpkg.refresh_db` can hang indefinitely if there is an repository signing key that has not yet been accepted on the system. This happens because the yum/dnf utility prompts the user to confirm importing the key, and the Salt Minion will hang because there is no way to respond to the prompt.

### Setup
Create a new YUM repository configuration in /et

[2018-02-20 01:08] #29142 closed

[2018-02-20 01:08] #29114 closed

[2018-02-20 01:08] #29151 closed

[2018-02-20 06:24] sumeetisp commented on #44886
Hi @nicholasmhughes , Yesterday provisioning was working perfectly with proper output. But today provisioning i working but i dont get output as expected.  Also show_instance and stop action are not able to find provisioned machines.

[2018-02-20 06:56] sumeetisp commented on #44886
Show instance return not found for all the vm's,

Not Actioned/Not Running:
    - testing-vol2
Not Found:
    - testing-vol2

[2018-02-20 08:56] arthurlogilab commented on #29223
+1 to keep this issue open

[2018-02-20 09:05] sumeetisp commented on #44886
show_instance is working with older module.

While provisioning it doesnt throw a error but doesnt provide expected also.

[2018-02-20 10:29] sumeetisp commented on #44886
Restarting the master helped. Weird :D

[2018-02-20 11:03] vnitinv commented on #37367
Any fix coming for this issue?

[2018-02-20 11:23] JanTancibok commented on #37367
Looks that in 2017.7.2 what we use now its working.

[2018-02-20 12:23] oarmstrong opened #46108 "Minion RPM package restarts on upgrade"
The RPM package for the minion will automatically restart the `salt-minion` service during an upgrade of the package. This is causing issues for me as running `salt * pkg.upgrade` when there is a `salt-minion` upgrade available will restart the minion during the full system upgrade. This then leaves yum in a wonky state and for some reason during my issue the transaction wasn't able to be cleanly

[2018-02-20 12:26] rombert opened #46109 "archive.extracted takes a long time (> 4 minutes) even though directory exists"
### Description of Issue/Question

When using `archive.extracted` with a remote HTTP source, the task execution takes a long time, even if the target directory exists and `if_missing` is set.

[code]

I am not sure whether the time is spent downloading or checking the archive - the archive is both large and contains many entries.

### Setup

The state file contains:

[code]

### Steps to Reproduce

[2018-02-20 15:27] Ch3LL commented on #43221
@nidhi-chourasia this issue is closed. Can you please open another issue if you think this is still an issue with more details of the issue. Thanks :)

[2018-02-20 15:40] Ch3LL commented on #38672
ping @MTecknology or @garethgreenaway  looks like you have done some work here mind taking a look here? Do you have an example for configuring ipv6 on debian/ubuntu? Is this just a documentation bug?

Also to note I found this issue related to debian networking that has a state included if you want to give that a go: https://github.com/saltstack/salt/issues/37942

[2018-02-20 15:47] virlos commented on #45914
Please note that we've encountered the same issue with find_links instead of index_url, e.g.:

mypackage:
  pip.installed:
    - use_wheel: True
    - no_index: True
    - pre_releases: True
    - no_deps: True
    - find_links: "file:///shared/wheels/"

[2018-02-20 15:49] Ch3LL commented on #45052
A lot of times when connection issues arise similar to this its related to some network problems. Can you verify there is not any network problems/slowness/firewall/lost packets, etc between these VMs?

[2018-02-20 15:52] gtmanfred commented on #46082
@UtahDave we might consider switching off the automatic redirects on the repo server?

[2018-02-20 15:53] Ch3LL commented on #46004
ping @saltstack/team-core any ideas here as to why this is occuring?

[2018-02-20 15:53] sumeetisp commented on #44886
We tried with windows image which had an os disk of around 150gb, failed
saying "failed waiting for an ip" ( something like this). But link which
has 30gb os disk provisioned successfully.

I guess this is the issue you were mentioning.

Thanks,
Sumeet Salvankar

On 19-Feb-2018 18:44, "Nicholas Hughes" <notifications@github.com> wrote:

That logic needs to be reworked. There is another issue (I'm

[2018-02-20 15:54] gtmanfred commented on #45052
I have seen issues with azure.  Where its switches or something on the edge network likes to kill off persistent connections that don't have traffic all the time.

You could try using ping_interval and have the minion send data back periodically to keep it alive, or switch to the private ip address

[2018-02-20 15:56] gtmanfred commented on #37367
I didn't think about this before, but are you sure that the top in the second file_roots is found?

The way that the top.sls file is looked up is it does a `salt://top.sls` so it will only ever find the first top.sls file.  and then assign states to the highstate from that one.  There is not a way to work around this, because it is actually the minion that pulls the top.sls file, and it can only e

[2018-02-20 16:11] gtmanfred commented on #46085
Thanks for bringing this to our attention, we will get it fixed.
Daniel

[2018-02-20 16:13] gtmanfred commented on #46086
That would be great to have.  If you had time to submit a PR we would greatly appreciate it.

Otherwise, I have marked this as a feature request.

Thanks,
Daniel

[2018-02-20 16:14] gtmanfred commented on #46087
whoops, that is probably my bad, I think that was copied over from something else, and not adjusted.

Would you mind submitting a PR against the 2017.7 branch to fix this error?

https://docs.saltstack.com/en/latest/topics/development/contributing.html

Thanks,
Daniel

[2018-02-20 16:22] gtmanfred commented on #46108
Actually it is not unusual. This is something that the RPM spec specifys can be done.

https://fedoraproject.org/wiki/Packaging:Scriptlets#Systemd

[code]

It is recommended that you keep the master up to date.  Even though we reserve the right to break it, we try to maintain backwards compatibility between the newer minions and older masters whenever possible, and it has been quite a while since

[2018-02-20 16:22] #46108 closed

[2018-02-20 16:37] gtmanfred commented on #46096
Would you mind submitting docs to make this more clear?

Looking at the code, it looks like if `master_failback` is True, then either `master_failback_interval` is used, or if `master_failback_interval` is 0, then it is set to `master_alive_interval`.

And it puts a job in the scheduler, that tries to ping the master on that interval, and after checking the scheduler, setting the seconds to 0 in t

[2018-02-20 16:38] Tortue95 opened #46113 ""Names" declaration Warning in "file.absent""
### Description of Issue/Question

Hi, i have a Warning when i use the "Names" declaration in "file.absent"

### Setup and Issue
[code]

[code]

### Versions Report
[code]

[2018-02-20 17:00] UtahDave commented on #46082
Thanks for your input. I've disabled the redirect.

Can you test again?

[2018-02-20 17:11] terminalmage commented on #45525
I can reproduce in 2017.7 but not in the oxygen release branch, this is fixed as part of our unicode efforts for the upcoming release.

[2018-02-20 17:11] #46020 closed

[2018-02-20 17:18] terminalmage commented on #45525
NOTE: this was happening because the state being run returned extra data in a `data` key in the state return dictionary, which the highstate outputter was trying to print to the screen, and the UnicodeEncodeError happened because of a mismatch of a unicode string with a format string that was a str type.

[2018-02-20 17:28] terminalmage commented on #45525
The fix can be confirmed using a Docker image I created. First, check out the `v2017.7.2` tag and run this command from the root of the git repository:

[code]

Next, check out the release branch and repeat the command, and the traceback will be gone.

[code]

[2018-02-20 17:28] #45525 closed

[2018-02-20 17:28] Ch3LL commented on #38376
ping @DmitryKuzmenko looks like you added the failback options here: https://github.com/saltstack/salt/pull/31962 any chance you can take a look?

[2018-02-20 17:32] gtmanfred commented on #46092
As a work around, i would suggest using a `file.directory` to set the permissions.

But I am going to mark this as a bug to get fixed.

Thanks!
Daniel

[2018-02-20 17:40] gtmanfred commented on #46099
Thanks for reporting this.  We had to deal with a similar issue when using kitchen-salt, since scp and sftp do not preserve symlinks, but rsync does.

Daniel

[2018-02-20 17:41] #45938 closed

[2018-02-20 18:52] gtmanfred commented on #46106
Thanks for the report and the PR to fix it.

Daniel

[2018-02-20 19:00] gtmanfred commented on #46113
I am unable to replicate this.

[code]

are you able to replicate this on other minions or just one in particular?

I am wondering if there might be an old old process from an old minion release still running on your system, because the name_order should be popped from the dictionary passed to the state in `salt.state`.  Can you try clearing out any old .pyc files and also make sure no old minion

[2018-02-20 19:07] gtmanfred commented on #46109
I believe this might be fixed in 2017.7.3, where the hash on the file is checked before it is downloaded again, so it may take the full 4 minutes the first time, but not every time after that.

[code]

Would you mind upgrading to 2017.7.3 and checking that?

It won't be entirely faster, because it still has to open the archive to do an archive.list.

But you can see everything that is happening if

[2018-02-20 19:16] Ch3LL commented on #32253
I spoke offline internally with the team to get some answers and this is something that we are wanting to do open source wise but is not currently being worked on due to other higher priority task items. But its something that we definitely want to do. :)

[2018-02-20 19:34] UtahDave commented on #46082
I've disabled the redirect. I'm going to close this issue.  If further discussion is needed please comment here and we'll reopen.

Thanks again for your input!

[2018-02-20 19:34] #46082 closed

[2018-02-20 19:49] Tortue95 commented on #46113
Hi, I tried from local execution and I don't have the issue, but if a run it from the master the warning is present.

for information I removed all pyc on the master and I restarted the master (I have the same version on the master "salt 2017.7.0 (Nitrogen)" form the debian package version (salt's repo)
[code]

[2018-02-20 20:03] terminalmage commented on #45075
I can't reproduce this on 2017.11.8 or the head of 2016.11 and 2017.7 branches. You said it failed, but did not provide the actual failure, which would have been useful to help discover what caused the failure.

@garethgreenaway I don't think that the `makedirs` has anything to do with this, `check_managed_changes()` just checks to see if the destination file already exists, and if it does, checks

[2018-02-20 20:16] gtmanfred commented on #46113
Even when connected to a master, I am still unable to replicate this.

[code]

How did you install salt?

Thanks,
Daniel

[2018-02-20 20:36] terminalmage commented on #45292
The only way we get to that traceback is if an unexpected exception is raised _within docker-py_. When docker-py catches API (or other) errors, it will raise its own custom exception class. Looking at docker-py's commit history, they did make a change involving the minimum version of requests a few weeks before releasing 2.7.0, and that's where the `universaldetector` bit comes from (requests bund

[2018-02-20 20:40] terminalmage commented on #45292
Actually, that theory of mine may be negated if you didn't actually have docker-py installed when you ran those states, because we wouldn't have had the cached client in memory.

[2018-02-20 20:55] terminalmage commented on #45292
I actually can't reproduce this either way, I tried locally and it "just works" whether or not I had 2.6.1 installed prior to installing 2.7.0, and it does this irrespective of the prior version of requests. I tried with requests 2.18.4 already installed, as well as by downgrading it to requests 2.6 before running the salt states. In all cases, docker-py 2.7.0 was installed (I had to pin the versi

[2018-02-20 22:15] zmedico opened #46120 "2017.7.3 salt.client.LocalClient.cmd method triggers UnboundLocalError in fire_args"
### Description of Issue/Question

There are some trivial bugs in the tagify and fire_args functions (suggested fixes submitted in
https://github.com/saltstack/salt/pull/46024). The TypeError exception is triggered in tagify by the `tag_suffix = [jid, 'args']` assigment in the fire_args function, and that exception triggers the UnboundLocalError exception in fire_args:

[code]

[code]

### Setup
C

[2018-02-20 22:45] gtmanfred opened #46122 "[Oxygen] Fix handling returns from ssh minions with enable_ssh_minions and batch mode"
### Description of Issue/Question

With the new feature `enable_ssh_minions` and `--batch`, for some reason the return for ssh minions is getting overwritten and saying that the minions return is missing.

[2018-02-20 23:17] gtmanfred commented on #46085
Can you provide me with more information about replicating this?

I started with a minion with an empty minion.pub file, and i got this error.

[code]

I also started the minion with a minion.pub (and it registered, without trouble, confirming that my master was in fact in open mode), then once the key was registered, i stopped the minion, did `echo > /etc/salt/pki/minion/minion.pub` and then star

[2018-02-20 23:39] zmedico commented on #46085
Use `echo -n > /etc/salt/pki/minion/minion.pub` to create a zero byte minion.pub. Without the `-n` option, minion.pub will contain a newline character.

[2018-02-21 00:46] gtmanfred commented on #46085
Ok, you are on the right track, the problem is actually that the `load['pub']` was empty. And so it was just skipping writing to that section.

And since there was no file there, it was can't auth.

This pr should fix the problem https://github.com/saltstack/salt/pull/46123

Thanks!
Daniel

[2018-02-21 00:50] moremo opened #46124 "GitFS saltenv ref won't pick up multiple of the same ref"
### Description of Issue/Question
Using GitPython with gitfs  ssh to repo with multiple saltenv on the same branch fails to retrieve for one saltenv.

### Setup
master config
[code]

### Steps to Reproduce Issue
Running
`salt-run fileserver.dir_list saltenv=bob`
will output directory list
running
`salt-run fileserver.dir_list `
or
`salt-run fileserver.dir_list saltenv=base`
outputs nothing, with n

[2018-02-21 04:16] maneamarius opened #46125 "Trying to upgrade a package on a specific slot, fails when package is already latest version"
### Description of Issue/Question
I'm working on Gentoo Linux.
I'm trying to upgrade a package, but only a specific slot.
I created the SLS file and run it, and the state shows as failed.
However, it should be 'passed, no changes', since there are no updates on that slot for this package (it's already latest version).

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove

[2018-02-21 04:18] maneamarius commented on #46125
I think salt may be confused by the other slot **(3.0-gtk3) 3.0.3-r300**
It thinks it should upgrade to that version, but of course, that one is not allowed (because I select the specific slot), so it marks the state as failed.

[2018-02-21 10:01] dr4Ke commented on #27295
@gdm85 This simple need should be addressed by the `file.append` state. Did you look at it? The removal of a line is more tricky, though.
I use `file.blockreplace` where I can to manage lines in files. The `file.line` is clearly not production ready.

[2018-02-21 10:25] gdm85 commented on #27295
@dr4Ke I did. My use case is not about appending though, as lines can be in any position in the file. Does `file.append` check if the line is present somewhere else **before** the end of the file? It does not, as far as I remember.

[2018-02-21 10:28] max-l-weaver commented on #45946
Any ideas, or do I need to write my own returner? Seems kinda annoying as there should already be one built in

[2018-02-21 11:28] cordeta opened #46126 "Filipino Localization"
Hello , i would like to contribute  Filipino Translations of your document.

Your reply is highly appreciated

[2018-02-21 11:31] redbaron4 opened #46127 "pip.installed does not pass env_vars when calling freeze to check if package is already installed"
I have a formula for managing graphite installation which requires PYTHONPATH to be set to a custom directory (without changing the `bin_env`). The state looks something like

[code]

Running this state always results in an output like

[code]

or something like this with `test=True`

[code]

This creates problems in writing dependent states that must only be run in case pip updated the package.

[2018-02-21 12:28] Boulet- opened #46128 "Mountpoint in git_pillar"
### Description of Issue/Question

Mountpoint with git_pillar seems broken.
Doc: https://docs.saltstack.com/en/latest/ref/pillar/all/salt.pillar.git_pillar.html#mountpoints

For me it's something between 5f90812b122bf8b78ddbf94e99cccdbd4cc19203 and 120f49f2c4ec0bb2f36e94d294cd4c15a878b350

Relative commits/pull:
- e2bd8a809ca2d017d5e762c04c6ade695d31fab2
- https://github.com/saltstack/salt/pull/42

[2018-02-21 13:19] areaxx commented on #46028
Thanks for merging @rallytime, unfortunately I found a bug in my fix :see_no_evil: See #46130

[2018-02-21 13:22] m1chalm commented on #14183
I have same issue on Debian stretch. Is any progress in solving?

[2018-02-21 14:05] DmitryKuzmenko commented on #38376
Sure, I'll take a look at this. Thanks for pinging.

[2018-02-21 14:42] rallytime commented on #46028
@areaxx Ah, thanks for following up. :)

[2018-02-21 14:51] terminalmage commented on #46004
This seems to be happening because orchestration is not being used properly. When you run orchestration, you're supposed to use a different SLS schema. When I changed the main.sls in @Ch3LL's container to use proper orchestration SLS, the orchestration succeeded.

[2018-02-21 15:23] #45837 closed

[2018-02-21 15:38] Ch3LL commented on #46128
Looks like i'm able to replicate this using the following config:

[code]

And when running `salt-master -ldebug`:

[code]

ping @terminalmage can you take a look here.

[2018-02-21 15:39] smarmie commented on #34080
2 years later, I got hit by a similar issue, with packer and the salt provisioner. What I was trying to do is to first run the formulas which install/configure stuff, and then run a hubblestack nova audit.
My sequence of provisioners is like this:
[code]
The modules for hubblestack are in the second tree, so they would appear in salt:///_modules. Also, for various reasons, I need to keep those two

[2018-02-21 15:46] Ch3LL commented on #46095
i'm not aware of an option to never time out, but you can use https://docs.saltstack.com/en/latest/ref/configuration/master.html#timeout

and set it to a high number to ensure it doesn't timeout for that amount of time. Does that work for your use case?

[2018-02-21 15:51] Ch3LL commented on #46120
Thanks for the PR! As there is a PR open I will close this issue here and you can keep discussion in the PR. Please let me know if you need to reopen this though. Thanks!

[2018-02-21 15:51] #46120 closed

[2018-02-21 15:54] 1ricardo opened #46138 "Vault stooped working for MasterLess in version 2017.7.3"
### Description
After upgrade salt-minion to version 2017.7.3, there is problem with generation the token for Vault.
What is important SALT is working in **MasterLess** mode, after downgrading to version 2017.7.2 everything working normally.

#### version 2017.7.2
[code]

#### version 2017.7.3
[code]

### Setup
[code]
As an additional configuration, the Consul service is also configured and it's w

[2018-02-21 15:56] github-abcde commented on #46004
@terminalmage Could you explain what changes those would be? When I download and use Ch3ll's container, I'm now unable to reproduce the problem, even when I use the sls-files I posted in the reproduction steps.

[2018-02-21 16:20] terminalmage commented on #46004
@github-abcde when you run `salt-run state.orchestrate main`, what is happening is that `main.sls` is processed through the state compiler. The includes are resolved, and the end result is equivalent to if the contents of `one.sls` and `two.sls` were pasted into `main.sls`. The problem with this is that the orchestration engine is only supposed to run states expressed using [this schema](https://d

[2018-02-21 16:23] terminalmage commented on #46004
Note, if you want to run both SLS files in a single go, you can do:

[code]

[2018-02-21 16:53] Ch3LL commented on #46124
looks like i'm able to replicate this with these configurations:

[code]

[code]

ping @terminalmage mind taking a look here?

[2018-02-21 16:56] Ch3LL commented on #46125
ping @nestegg  seems you have done some work here. Mind taking a look here?

[2018-02-21 16:58] jf commented on #46096
Sorry, but no. I'm not inclined to do this right now.

[2018-02-21 17:13] nestegg commented on #46125
Sorry, we no longer use salt.

[2018-02-21 17:46] Tortue95 commented on #46113
Hum curious,
I tried on multiple minions connected to the master and I always have the warning.
On the master host the behavior is the same (warning when is connected to the master himself and no warning when I create a standalone config)

The master is installed with apt:
[code]

[code]

I will try soon with a fresh install of the master.

[2018-02-21 17:51] bdrung commented on #34423
Here you get the test cases for Debian and Ubuntu.

[2018-02-21 18:05] Tortue95 commented on #46113
I just put the official repo and I upgraded to 2017.7.3:

[code]
I restarted all salt service just to be sure
and the warning is always here :(

[code]
Thanks for your time
I will try with the fresh install ^^

[2018-02-21 18:43] jrsdav commented on #46060
We're actually seeing a very similar problem on `2017.7.2`;

`file.recurse` (and sometimes `file.managed`) times out during the initial highstate:

[code]

[2018-02-21 18:52] Ch3LL commented on #46126
We don't currently have the ability to support different languages in our docs. As this is a big undertaking this is not currently on our roadmap either. We really appreciate the willingness to help but this is not something we can currently support.

[2018-02-21 19:07] Arabus commented on #45214
So this is a misleading example in the rest_cherrypy documentation?

[2018-02-21 19:30] Ch3LL commented on #46127
seems we will need to update so that freeze command is also passing that env variable. Seems you might have a grasp of a fix if you want to give a go at a PR?

[2018-02-21 19:40] Ch3LL commented on #46138
can you see if this fixes it for you ? https://github.com/saltstack/salt/pull/45981

[2018-02-21 20:13] MDPolaris commented on #45045
I'm sorry for the really long delay. I installed Salt using the Salt repos for CentOS/RHEL locked on the minor version:

`[saltstack-repo]
name=SaltStack repo for RHEL/CentOS $releasever
baseurl=https://repo.saltstack.com/yum/redhat/$releasever/$basearch/archive/2017.7.1
enabled=1
gpgcheck=1
gpgkey=https://repo.saltstack.com/yum/redhat/$releasever/$basearch/archive/2017.7.1/SALTSTACK-GPG-KEY.pub`

[2018-02-21 21:03] dr4Ke commented on #27295
If I understand correctly what you mean: yes, it does. I use this state for exactly this kind of things. The line must exists anywhere in the file. If it doesn't, it's appended to it.

The documentation is not clear about that though. It says "Ensure that some text appears **at the end** of a file" and next "text will not be appended if it already exists **in** the file". A better description coul

[2018-02-21 21:16] sootythebear commented on #45214
Personally, there is definitely a mismatch from the example used, and the default entry in the Salt `master` file - where the `eauth` is `pam`. Ideally, if `auto` is used, the corresponding `master` configuration should be highlighted - it would re-enforce the information under: https://docs.saltstack.com/en/latest/topics/eauth/index.html#matching-syntax

(I would even throw in a mention or link t

[2018-02-21 22:00] TheVakman commented on #45559
@phsteve said on Slack to try calling it while being in the directory (C:\salt\bin).

I tried that and it worked for me without crashing.

You can probably close this @rhavenn if that also works for you as well and follow #45138 as that's likely the real issue here.

[2018-02-21 22:02] rombert commented on #46109
Thanks for the reply @gtmanfred . I don't have a way of testing this with 2017.7.3 yet, as I'm using the packages provided by openSUSE.

I enabled debug logging and I get the following:

[code]

This happens every time, not just the first time. Maybe because I'm using `salt-call --local `, not sure.

However, I would suggest that if the directory referenced by `if_missing` exists, no operation sho

[2018-02-21 23:04] terminalmage commented on #46004
@github-abcde OK, so I've found the problem. You were still using orchestration incorrectly, but there is also a bug, so I'm working on both a fix to that bug and also a means to properly exit with an error when you try to run salt states directly in what should be an orchestration SLS file.

[2018-02-21 23:17] autocracy commented on #35375
1.5 years later, self-closing per @steverweber's comment.

[2018-02-21 23:17] #35375 closed

[2018-02-21 23:23] garethgreenaway commented on #45926
The conversion to using datetime objects for everything means this is no longer a blocker for the Oxygen release.

[2018-02-21 23:23] #45926 closed

[2018-02-21 23:38] AmbicaY opened #46144 "Salt is unable to uninstall packages on windows"
I used pkg.remove and pkg.purge for uninstalling wireshark, but it does not work.
### Setup

## wireshark.sls file:
[code]

### Steps to Reproduce Issue
salt <servername> pkg.remove 'wireshark'
salt <servername> pkg.purge 'wireshark'
Output for both these commands is the same:
hqdvsaltminion01:
    ----------
    wireshark:
        ----------
        current:
            not installed

# But I sti

[2018-02-22 01:30] terminalmage commented on #46004
@github-abcde I've had some conversations internally with the other devs and we've decided not to flag your usage as invalid. It's not technically orchestration, but it is the equivalent of running a `state.sls` on the master without needing a minion to do it, which is useful. So we'll keep the behavior and I will see to it that this is properly documented.

[2018-02-22 03:58] terminalmage commented on #46004
Fix submitted in https://github.com/saltstack/salt/pull/46145

[2018-02-22 04:14] danlsgiga commented on #46073
Just had this very same issue!

[2018-02-22 08:33] damon-atkins commented on #46144
I assume you have a version installed other than
`{% for version in '2.2.12', '2.4.4', '2.5.0' %}`

[2018-02-22 08:38] github-abcde commented on #46004
Awesome. And all this while I was sleeping :)
The 'misuse' of orchestration was a (happy?) coincidence when trying to derive a minimal reproduction for this issue. Originally I have proper calls to `state.sls` in the included sls-files (but that would require a running minion).

[2018-02-22 08:39] AmbicaY commented on #46144
I have installed wireshark with the same sls file, so the version I have is 2.5.0:

Output from pkg.list_pkgs:

    Wireshark 2.5.0 64-bit:
        2.5.0

[2018-02-22 08:51] 1ricardo commented on #46138
Hi @Ch3LL,

Thank You for respond. I changed the configuration according with your suggestion, but unfortunately I have the same error message on version **2017.7.3**
#### Config
[code]

#### Respond
[code]

[2018-02-22 09:17] jeremysolarz commented on #45917
Hi @aphor,

If you already started on implementing this please tell. I have bandwidth this weekend to implement this and don't want that we cross each others lines here.

Best,

JS

[2018-02-22 09:25] AmbicaY commented on #46144
I figured it out.

It seems, the full name should match the exact name listed under "Programs and Features" once the package is installed.

So I changed the full name in the sls file as:

full_name: 'Wireshark {{ version }} 64-bit'

[2018-02-22 09:25] #46144 closed

[2018-02-22 10:50] bdrung commented on #44307
#43518 does a lot of things. This bug (file.managed state redownloads an already present file with correct source_hash) is fixed in 2017.7.3.

[2018-02-22 11:58] Talkless commented on #44003
Uhg, same on some Debian 9 (stretch) machine:
[code]

[2018-02-22 14:38] isbm commented on #44003
This actually has nothing to do on what distribution, as long as there is `systemd`. It is just that the services references needs to be reloaded/refreshed and so the loader takes the data from `__salt__` dunder.

[2018-02-22 14:38] Ch3LL commented on #46138
did you also try the patch here: https://github.com/saltstack/salt/pull/45981/files#diff-e75b02a233b726e8be8f614a7a554fd5 ?

[2018-02-22 14:41] Ch3LL commented on #44307
oh great. you okay closing here then?

[2018-02-22 14:58] rallytime commented on #45954
This is confirmed to be fixed after checking the console logs. Closing! 🎉

[2018-02-22 14:58] #45954 closed

[2018-02-22 15:09] bdrung commented on #44307
Yes

[2018-02-22 15:56] #44307 closed

[2018-02-22 15:58] Ch3LL commented on #46060
I created a docker container and i'm having a hard time replicating the saltreqtimeouterror showwing up in the results of the states.

`docker run -it ch3ll/issues:46060 /bin/bash -c "echo ' ' > /var/log/salt/minion; salt-master -d; salt-minion -d; sleep 5; salt-call -l all --state-output=changes state.highstate; grep -i SaltReqTimeoutError /var/log/salt/minion; salt --version"`

I do see saltreqt

[2018-02-22 16:00] cordeta commented on #46126
Thank You for your response maam . Just leave this issue open so that you can call my attention if you are open for localization already . Thanks

[2018-02-22 17:19] whytewolf opened #46150 "With chocolately.version some packages don't work with check_remote=True"
### Description of Issue/Question

Looking into this issue it looks like some packages have different capitalization when checking the remote version. so when used with `check_remote=True` the package is not matching any of the contents of the available dict. Which results in the following error.

[code]
I have only tested with `freesshd` which to the remote system shows up as `freeSSHD`.

This is

[2018-02-22 17:20] whytewolf commented on #46150
ZD-2267

[2018-02-22 19:01] austinpapp commented on #34145
Although @Ch3LL linked it, i'm pushing this to the front as this is a completely reasonable approach

[code]

prob worth closing too 👍

[2018-02-22 19:21] rallytime commented on #46150
@saltstack/team-windows FYI

[2018-02-22 19:27] racker-markh opened #46151 "salt-cloud: Make automatic destruction of VM after create failure optional"
### Description of Issue/Question
If you use salt-cloud -p <profile> name_of_vm to create a VM, and during the process of building that VM the salt-cloud is unable to connect to the device, then an exception is raised which deletes the VM.

e.g.
https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/openstack.py#L689-L696
https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/n

[2018-02-22 20:18] #26302 closed

[2018-02-22 20:18] #29174 closed

[2018-02-22 20:19] 1ricardo commented on #46138
No I didn't, so later I patched **salt/config/__init__.py** without any problems, but I had problem with **salt/utils/vault.py**. I noticed that, there is more differences in context, between file from link [https://github.com/gtmanfred/salt/blob/0d448457dccc67e92627f35dfa7e2de963a4d3d1/salt/utils/vault.py](https://github.com/gtmanfred/salt/blob/0d448457dccc67e92627f35dfa7e2de963a4d3d1/salt/utils/

[2018-02-22 20:31] 0xCMP opened #46152 "Support New Hash format for ssh key fingerprints"
### Description of Issue/Question
Can't add default format of sha256 finger prints because `modules:ssh.py:_fingerprint()` converts remote fingerprint to a hex digest.

### Setup
I'm using `salt-call --local` to high state an machine I'm going to image.

Here's an example of the expected state
[code]

Here's the working example
[code]

### Steps to Reproduce Issue
Using `ssh-keyscan` and `ssh-keyg

[2018-02-22 20:38] curiositycasualty opened #46153 ""test" module missing from "salt-modindex""
### Description of Issue/Question
"test" module missing from the [salt-modindex.html](https://docs.saltstack.com/en/latest/salt-modindex.html) page.

It's a tad confusing to have all 3 of these:
- https://docs.saltstack.com/en/latest/salt-modindex.html
- https://docs.saltstack.com/en/latest/ref/modules/all/
- https://docs.saltstack.com/en/latest/salt-modindex.html

Which is the best place to find

[2018-02-22 21:19] aphor commented on #45917
Please go ahead :) I don't have the time this week or next.

[2018-02-22 21:39] deuscapturus commented on #38066
I just ran into this error across all of my salt-masters trying to connect to github.com today.  Anybody else?

[2018-02-22 21:50] mmisztal1980 commented on #38066
possibly related to: https://githubengineering.com/crypto-removal-notice/ ?

On Thu, Feb 22, 2018 at 10:39 PM, Theodore Cowan <notifications@github.com>
wrote:

[2018-02-22 22:06] garethgreenaway commented on #46153
@curiositycasualty Thanks for the report.  Not sure I completely understand the issue you're seeing.
The `test` module is listed on the https://docs.saltstack.com/en/latest/salt-modindex.html page, it's under `salt.modules.test`.
This page, https://docs.saltstack.com/en/latest/salt-modindex.html, is the best place for a definitive list of modules, they're organized by subsystem.

[2018-02-22 22:18] eckardclemson opened #46154 "Service module doesn't recognize OpenSuSE"
### Description of Issue/Question
When I use the `service` module or state, my brand-new OpenSuSE version Leap 42.3 is not recognized as a SuSE variant.

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)
Output of above state:
[code]
Similar failure when using `service

[2018-02-22 22:28] djsly commented on #20453
we lost a full da debugging this...

Please reopen.

[2018-02-22 23:00] gtmanfred commented on #46154
How are you virtualizing this?

[code]

I see that the kernel is listed as Microsoft? is this running in a docker container?

The problem is that your init system grain is unknown.

[code]

If you are running this in docker, or in a chroot or bsd jail like thing, you have to make sure you actually execute an init system inside of the container, otherwise salt cannot manage services using the init

[2018-02-22 23:15] liftedkilt commented on #38066
@deuscapturus I'm also hitting this on my salt-master trying to connect to github.com. Have you found a way around it yet?

[2018-02-22 23:43] deuscapturus commented on #38066
The problem is as @mmisztal1980  posted.

So far we have found that libgit2 and pygit2 need to be updated to versions 0.26.  Sadly libgit2 is a platform package and 0.26 isn't available on all OS's.  Fedora 27 was good.  Ubuntu 16.04 and Centos 7 were no good.

Another option is to switch to `gitfs_provider: gitpython`

[2018-02-23 00:31] liftedkilt commented on #38066
@deuscapturus thanks for the heads up.

Note: I upgraded from Ubuntu 16.04 to 17.10, which is using libgit2 version 0.24.6, and that has restored connectivity without resorting to gitpython

[2018-02-23 02:37] chruck commented on #46154
Well now, that's a good point.  I think it's SystemD, but:
[code]
This is an OpenSuSE "package" on Windows 10 under the Windows Subsystem for Linux (WSL).  Think of it like WINE in reverse, although it's closer to FreeBSD's Linux compatibility layer.  And I think Docker on Windows is using HyperV (?) so that's really like a VM (so not really a container after all!).  This is my first effort with W

[2018-02-23 03:18] #18982 closed

[2018-02-23 03:25] deuscapturus commented on #38066
After further investigation, we resolved the problem by just updating `libssh2`.

[2018-02-23 04:18] redbaron4 commented on #46127
@Ch3LL  I'll try to put in a PR (though it may take a while before I have one ready)

[2018-02-23 05:43] DR3EVR8u8c opened #46156 "salt-cloud 2017.7.3 API: AttributeError: 'list' object has no attribute 'copy'"
### Description of Issue/Question
Hello all,
failed to utilise cloud API to provision a new ec2 instance with the salt-cloud version 2017.7.3. But same config succeed with salt-cloud command or with version 2017.7.2. any help would be appreciated.

**Error message returned from the script:**
[code]
**compare \_\_init\_\_.py in between version 2017.7.2 and 2017.7.3 and found:**
[code]

if I remove

[2018-02-23 07:46] SwinBlackSea opened #46157 "file.copy can not work on Mapped disk"
when I try to copy file from one Mapped disk to another on minion by file.copy. a problem occured to me:

`[root@salt131 ~]# salt 'wanglunjia' file.copy "Z://cli" "Z://demo3"  recurse=True
`
`wanglunjia:`
   ` ERROR: No such file or directory 'Z://cli'`

but if I use file.copy not from Mapped disk such as 'C://cli', the result is true
`[root@salt131 ~]# salt 'wanglunjia' file.copy "D://test//nihao

[2018-02-23 09:28] damon-atkins opened #46158 "sphinx.util.compat and salt/doc/_ext/youtube.py"
### Description of Issue/Question
From salt\doc\_ext\youtube.py  need to do the following for it to work
[code]

Seems sphinx project do not want people using  sphinx.util.compat  anymore.

[2018-02-23 13:05] edhgoose opened #46159 "Unable to access GitHub since algorithm changes: failed to start SSH session: Unable to exchange encryption keys"
### Description of Issue/Question

When executing `salt-run fileserver.update`, I get:

[code]

### Setup
We have 3 repos, repo-a and repo-b which are public and repo-c which is private.

repo-a and repo-b are used for Salt config, repo-c is used for Salt and Pillar.

We're using gitfs, for both Salt and for Pillar:

[code]

[code]

As of yesterday, `salt-run fileserver.update` fails. I believe, d

[2018-02-23 13:14] matze502 commented on #18630
I've got the same problem here with option noauto.

[code]

State is:

[code]

[2018-02-23 13:59] edhgoose commented on #46159
I've also been able to confirm this issue on a brand new box running AWS Linux (not the new AWS Linux LTS) as well, so it doesn't appear to be specific to our existing Salt box.

[2018-02-23 14:00] gtmanfred commented on #46154
Yeah, so that is not a real linux installation, so the init system is not systemd, it just captures the syscalls and converts them to syscalls for the windows nt kernel.

You won't be able to use salt-ssh to connect into that instance either.  Since the system is actually a windows machine, if you want to control services, you will need to install the salt-minion windows package.

http://repo.salt

[2018-02-23 14:00] #46154 closed

[2018-02-23 14:13] gtmanfred commented on #46156
This is a duplicate of https://github.com/saltstack/salt/issues/45863

It will be in 2017.7.4 which we are working on getting released.

Thanks,
Daniel

[2018-02-23 14:13] #46156 closed

[2018-02-23 14:14] gtmanfred commented on #46159
@terminalmage can you take a look at this.

I think there was a fix/workaround, but I am not sure what it was.

Thanks!
Daniel

[2018-02-23 14:21] Ch3LL commented on #46138
K perfect. This patch will be included in the upcoming 2017.7.4 release. We hope to release it really soon, possibly next week as long as testing is okay. I will close this now as it looks like this PR does revolve the issue for you thanks :)

[2018-02-23 14:21] #46138 closed

[2018-02-23 14:23] gtmanfred commented on #46158
This seems reasonable to me.

@saltstack/team-core who is the most familiar with the sphinx documentation that can just OK this?

Thanks,
Daniel

[2018-02-23 14:29] edhgoose commented on #46159
I'm not 100% sure, but it might be that because we can't upgrade libssh2 beyond 1.4.2, we're missing out on this: https://github.com/libssh2/libssh2/commit/fc4a969a0512e226de9b821496d20b9ddf53b741, which is the commit where the diffie-hellman-group-exchange-sha256 support was added.

[2018-02-23 14:32] gtmanfred commented on #46159
I am pretty sure that libssh2 is the one that needs to be recompiled, and then anything dependent on it

There was a discussion about this in #general on the community slack last night.

[2018-02-23 14:37] edhgoose commented on #46159
Would it be possible to share that conversation, I can't join the Slack community :(

![join_the_saltstack_community_community_on_slack_](https://user-images.githubusercontent.com/1108173/36599361-0c59006e-18a7-11e8-89ba-e479614a5219.png)

[2018-02-23 14:43] jodok commented on #46159
compiling the latest stable version of libssh2 (1.8.0) didn't help either.

[2018-02-23 14:58] joseschmidt commented on #46159
hi guys - i'm facing a similar issue since recently (i think it was working last week), our capistrano scripts are failing with key exchange error.

Have you guys heard anything else about this?

[2018-02-23 15:08] damon-atkins commented on #46065
C:\salt>set PYMSSQL_BUILD_WITH_BUNDLED_FREETDS=1

[2018-02-23 15:08] #46065 closed

[2018-02-23 15:09] deuscapturus commented on #46159
We compiled from current master of libssh2.  This resolved the issue.

This is super hacky! TO AT YOUR OWN RISK

[code]

[2018-02-23 15:09] gtmanfred commented on #46159
https://gist.github.com/gtmanfred/0d33dab93d8551840eb0367dcf89647e

[2018-02-23 15:16] gtmanfred commented on #46159
Also that token should be fixed, so you should be able to sign up now for the community slack

[2018-02-23 15:17] jodok commented on #46159
i can confirm also https://www.libssh2.org/snapshots/libssh2-1.8.1-20180223.tar.gz works.

[2018-02-23 15:59] silenius opened #46163 "pip_state: An importable Python 2 pip module is required but could not be found on your system. This usually means that the system's pip package is not installed properly."
### Description of Issue/Question

pip.installed fails to run:

[code]

### Setup

Relevant parts:

[code]

This is my complete sls:
[code]

### Steps to Reproduce Issue

Any pip.installed with Python 3 (haven't tested with Python 2) should fail, even when the pip package is installed globally (which should not be needed anyway).

This is because of https://github.com/saltstack/salt/blob/develop/s

[2018-02-23 16:18] silenius commented on #46163
Mmh I think I found the issue, Salt runs 2.7 and installed pip module was 3.5, it works when the py27-pip package is installed. Now I wonder why the pip package must be installed globally as it is already available in the virtualenv. I haven't yet looked in depth in the code, but I think that if bin_env is provided it should not be necessary to install pip globally .. or I missed something?

[2018-02-23 16:21] edhgoose commented on #46159
I was unable to get the code from @deuscapturus to work (no .so files were generated) - but I've managed to replace all our PyGit2 configuration with GitPython.

[code]

[code]

... and that seems to work.

I had to explicitly make the key we use to access repo-c (the private one) the id_rsa/id_rsa.pub and remove `git_pillar_pubkey` and `git_pillar_privkey` to avoid errors on start.

[2018-02-23 16:23] gtmanfred commented on #46159
You do not have to make it id_rsa, you can add this to your `/root/.ssh/config` to use GitPython

[code]

And it will also work, git python just uses the git binary directly, so it will use the regular ssh on the system, which will use the .ssh/config file.

[2018-02-23 16:25] edhgoose commented on #46159
Cool - good to know. Thanks @gtmanfred, that's very helpful.

[2018-02-23 16:28] sdemura commented on #46159
@deuscapturus 's fix works as well.

[2018-02-23 16:33] wes-novack commented on #46159
Ubuntu 17.10 also has the updated version of libssh2 in its repos. So if you can upgrade your salt-master to that, it's another path to get your gitfs/git pillars working.

[2018-02-23 16:37] gtmanfred commented on #46163
The pip module for the version of python that salt is running with needs to be installed, so that it can be imported and used to compare versions of packages.

[2018-02-23 16:44] rallytime commented on #46158
What is the `Directive` call being used for? What version of sphinx is this removed in? We need to check what our system is using before we can remove something like that.

[2018-02-23 16:48] gtmanfred commented on #46157
@dwoz was able to replicate this.

Thanks for reporting.

Daniel

[2018-02-23 17:13] gtmanfred commented on #46152
It looks like this function only supports the old format, but it has been changed to be this hash in a newer version ssh.

Apparently this format was changed in OpenSSH > 6.7.

I have marked this as a feature request.

Thanks
Daniel

[2018-02-23 17:37] rdutch commented on #37845
This issue was confirmed by me, only see it on vSphere 5.5, vSphere 6.5 works fine.

[2018-02-23 17:40] BadgerOps opened #46166 "Unable to use 'host.only' with the pyobjects renderer"
### Description of Issue/Question
I'm attempting to manage my hosts file using the pyobjects renderer. 'Host.present()'  renders and applies fine, but when using 'Host.only()' I get an error when trying to render_state.
### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
Pillar (for mine functions)
[code]
mine output (for informational purposes)
[code]

[2018-02-23 17:44] rickh563 commented on #37845
ZD-2270

[2018-02-23 17:48] BadgerOps commented on #46166
[here](https://github.com/BadgerOps/salt-workspace/commit/2996471f3bda21b9e6e607c1c31c9e38f65ab0a4) is a working example in my test environment of what I'm trying to accomplish.

[2018-02-23 17:51] gtmanfred commented on #43340
I have confirmed that the upgrade to 2017.7.4 goes smoothly using our staging repository.

[code]

[2018-02-23 18:26] BadgerOps commented on #46166
Ok, so the age old "submit a ticket, then have a lightbulb moment" just happened :joy:

The following works. I realized the error that I was seeing was probably related to not enough arguments getting passed into Host.only() - specifically name=ip - if I eliminated `name=` and just did `ip[0]` (ip is a list with 1 value) it works fine. My updated state below:
[code]
I'll go ahead and close this, b

[2018-02-23 18:26] #46166 closed

[2018-02-23 18:51] Epiclemonaid commented on #45849
sorry went on vacation to australia looks like that works i reverted my files changes and deleted that section.

`[DEBUG   ] Reading configuration from /etc/salt/master
[DEBUG   ] Including configuration from '/etc/salt/minion.d/_schedule.conf'
[DEBUG   ] Reading configuration from /etc/salt/minion.d/_schedule.conf
[DEBUG   ] Using cached minion ID from /etc/salt/minion_id: salt01
[DEBUG   ] Grain

[2018-02-23 18:53] gtmanfred commented on #45849
Perfect, thanks!

[2018-02-23 18:58] gtmanfred commented on #45849
I have submitted https://github.com/saltstack/salt/pull/46168

We have tagged rc1 for 2018.3, so we are working on getting that stable, and the only things that are going into it are stuff to fix the test suite right now.  This change will not make it into the release candidate or 2018.3.0, but it will be in 2018.3.1.

Thanks!
Daniel

[2018-02-23 19:23] #29119 closed

[2018-02-23 19:29] #44192 closed

[2018-02-23 19:31] #42642 closed

[2018-02-23 19:31] #42869 closed

[2018-02-23 20:11] nickhentschel commented on #45828
So I've attempted the same thing using python 3.6 in place of 2.7, and got a bit more information in the stack trace. Seeing a `ModuleNotFoundError` instead of a generic `ImportError`.

Still having no problem importing `pkg_resources`:

[code]

[code]

@DmitryKuzmenko any ideas?

[2018-02-23 20:29] garethgreenaway commented on #35777
Updated tests:
[code]

[2018-02-23 20:30] nickhentschel commented on #45828
Seems the actual error message may be a result of a python bug: https://bugs.python.org/issue31642

[2018-02-23 20:31] jplatte commented on #9046
Maybe that bot should be taught to check for labels like 'High Severity'...

[2018-02-23 20:39] The-Loeki commented on #21298
#37317 & me still care ;)

[2018-02-23 22:01] BadgerOps commented on #46166
And after some further mulling, I know why the `name=ip[0]` kwarg didn't work, [this line](https://github.com/saltstack/salt/blob/06a00be0e1f06399805e19261e4d00f6cfd9c6a0/salt/utils/pyobjects.py#L180) requires at least 1 positional argument, and chokes when attempting to just use kwargs.

[2018-02-24 00:08] damon-atkins commented on #46158
Install Sphinx 1.7.0 from pip

[2018-02-24 04:16] damon-atkins commented on #46158
From http://www.sphinx-doc.org/en/stable/changes.html
3873: Failure of deprecation warning mechanism of sphinx.util.compat.Directive
1.6b1
sphinx.util.compat.Directive class is now deprecated. Please use instead docutils.parsers.rst.Directive
sphinx.util.compat.docutils_version is now deprecated

[2018-02-24 08:06] 1ricardo commented on #46138
Thank You @Ch3LL for your support and help.

[2018-02-24 16:09] danbst opened #46177 "Roster as pillar?"
### Description of Issue/Question
I'd like to reference hosts, defined in flat roster, from state files:
[code]
So, changing the IP in roster will propagate change to config files.

Currently I found a workaroud. I set in master config
[code]
and can use resulting pillar as `{{ pillar['minion-id']['host'] }}`. But this sucks because I have to supply absolute roster path.

Is there a way to supply

[2018-02-24 18:04] wedge-jarrad opened #46178 "mount.mounted forces remount when 'credentials=file' is specified as an option"
### Description of Issue

I'm mounting a Windows fileshare with the mount.mounted state and every time the state runs it forces a remount with the message `Forced remount because options (credentails=/root/.win-share) changed`.
This seems to be because credentails= doesn't appear in /proc/self/mountinfo but is instead replaced with the username found in the credentails file. I.e., it will apear as

[2018-02-24 18:25] #27519 closed

[2018-02-24 18:25] #24355 closed

[2018-02-24 18:25] #23733 closed

[2018-02-24 20:25] #29246 closed

[2018-02-24 22:49] OrlandoArcapix opened #46180 "influxdb_retention_policy does not manage state of retention period, replication or default"
### Description of Issue/Question

### Setup

influxdb (1.4) active and configured

### Steps to Reproduce Issue

* apply state to create retention policy:

[code]

* change configured retention period, default, or replication

* re-apply state - nothing changes

### Versions Report

[code]

[2018-02-25 01:25] #29168 closed

[2018-02-25 02:25] #29182 closed

[2018-02-25 15:50] oeuftete opened #46182 "docker_container.running is sensitive to HostConfig Ulimits ordering"
### Description of Issue/Question

If the docker daemon is running with multiple [`--default-ulimit`](https://docs.docker.com/engine/reference/commandline/dockerd/#default-ulimit-settings) settings, then `docker_container.running` may detect a container needs to be rebuilt based solely on the ordering of the list of dicts in the container's `HostConfig` `Ulimits` value, which does not appear to be

[2018-02-25 16:00] Robert-Grundstrom commented on #44147
*BUMP*
If there is information that you require then please specify what it is.
otherwise change the label to something else.

I would like a status update on the issue as well.

Thank you
Best regards
Robert.

[2018-02-25 16:02] oeuftete commented on #43936
As far as I'm concerned this can be closed, as it was fixed by #43994.

[2018-02-25 16:02] #43936 closed

[2018-02-25 16:53] #19924 closed

[2018-02-25 17:08] terminalmage commented on #46159
Yeah, the important thing to note is that this is not a Salt, nor even a pygit2 issue. pygit2/libgit2 does not perform any of the SSH authentication, it just passes the credentials to libssh2.

[2018-02-25 17:50] terminalmage commented on #46124
@Ch3LL Fixed in https://github.com/saltstack/salt/pull/46185

[2018-02-25 17:53] terminalmage commented on #46124
@Ch3LL Could you confirm? I used your configuration and was able to confirm the bug as well as the fix. Keep in mind that we use an env cache in salt, so you'll need to remove `/var/cache/salt/master/gitfs/envs.p` before testing. This file only ever gets re-created when gitfs detects that it fetched new objects on an update.

[2018-02-25 18:06] nicholasmhughes commented on #44886
@sumeetisp , this section:

https://github.com/saltstack/salt/pull/46186/files#diff-37c85ff409208fd9e1bbb7eb7baaa96cR1199

of PR #46186 fixes the OS disk sizing. It would be pretty easy to hack that 4 line change into your server if you need that support right now. I still haven't messed with reworking the IP waits or other logic for deployment... but there are quite a few Azure infrastructure exe

[2018-02-25 18:49] tkwilliams commented on #45143
@rallytime  Wow, I never realized I hadn't accepted the team-boto invitation.  Not sure where to look for it now - I don't see it in my email inbox.  Is it possible to re-send it, or alternatively is there somewhere inside github I can / should look?

[2018-02-25 19:53] #29301 closed

[2018-02-25 19:53] #29306 closed

[2018-02-26 00:53] #29175 closed

[2018-02-26 00:53] #3904 closed

[2018-02-26 00:53] #6721 closed

[2018-02-26 00:53] #16780 closed

[2018-02-26 00:53] #18624 closed

[2018-02-26 00:53] #13476 closed

[2018-02-26 00:53] #29337 closed

[2018-02-26 00:53] #29386 closed

[2018-02-26 00:53] #29427 closed

[2018-02-26 00:53] #29456 closed

[2018-02-26 00:53] #21572 closed

[2018-02-26 00:53] #29425 closed

[2018-02-26 00:53] #29453 closed

[2018-02-26 00:53] #29483 closed

[2018-02-26 00:53] #8177 closed

[2018-02-26 00:53] #25586 closed

[2018-02-26 00:53] #25373 closed

[2018-02-26 00:53] #29510 closed

[2018-02-26 00:53] #29516 closed

[2018-02-26 00:53] #22221 closed

[2018-02-26 00:53] #29345 closed

[2018-02-26 00:53] #29529 closed

[2018-02-26 00:53] #29566 closed

[2018-02-26 00:53] #28872 closed

[2018-02-26 00:53] #28684 closed

[2018-02-26 00:53] #29607 closed

[2018-02-26 00:53] #29614 closed

[2018-02-26 00:53] #29626 closed

[2018-02-26 00:53] #29162 closed

[2018-02-26 01:53] #23200 closed

[2018-02-26 01:53] #12880 closed

[2018-02-26 02:08] #42242 closed

[2018-02-26 02:09] #42241 closed

[2018-02-26 03:19] sumeetisp commented on #46030
Please help.

Following are the imports,
        import boto
        import boto.cloudformation
        import boto_rds
        import boto3

[2018-02-26 07:39] sivann commented on #13476
this issue seems closed prematurely

[2018-02-26 08:58] MartinMystikJonas commented on #46060
[code]
So it looks like it might depend on host system configuration. I have VirtualBox 5.2.2 with Ubuntu Ubuntu 16.04.3 LTS on up-to-date Windows 10. With Docker version 1.13.1.

[2018-02-26 09:18] rombert commented on #46109
For the record, I've switched temporarily to a `salt://` url for this file, and it still takes 19 seconds to decide that it should do nothing. Doing this for every run is a lot of time and ensuring that no work is done unless needed would be a great time-saver.

[2018-02-26 09:29] sumeetisp commented on #44886
Hi @nicholasmhughes , In previous versions,
expire_publisher_cache: 604800  # 7 days
 expire_offer_cache: 518400  # 6 days
 expire_sku_cache: 432000  # 5 days
 expire_version_cache: 345600  # 4 days
 expire_group_cache: 14400  # 4 hours
 expire_interface_cache: 3600  # 1 hour
 expire_network_cache: 3600  # 1 hour

This was also an issue. Because if someone would delete directly from azure portal t

[2018-02-26 09:34] sidhujasminder opened #46187 "Scheduler doesn't start at the time it is called."
This is more of a question, of which I couldn't find any information.

## scheduler file

scheduler_file1.sls
[code]

When I run `salt state.apply scheduler_file1 `, the scheduler starts but the first data entry returned to the returner is after 3600 seconds. Is there any argument or way in which I can have it return data at the time `salt state.apply scheduler_file1 ` is executed. And then later

[2018-02-26 09:52] Waples commented on #42635
**Update**
We are currently working on an implementation of selinux. We are currently testing our `semanage` module for setting ports.

[2018-02-26 11:27] SwinBlackSea commented on #46157
@gtmanfred After many test, I solved the problem;the step below:
  1,stop the salt-minion service in Task Manager (the service is created by nssm);
  2.start salt-minion process by salt-minion.bat;
then the problem was solved;

But I don't know why? because the salt-minion service can work on local disk but not on Mapped disk.

Thanks!

[2018-02-26 11:32] SwinBlackSea opened #46188 "How many minions the saltstack can suport in target by use -L (list target match)"
command:  salt -L "minion1,minion2,minion3......" test.ping
Q: How many minions the saltstack can suport in target by use  "-L"
if anyone has the answer, please tell me

Thank you!

[2018-02-26 11:39] mthibaut opened #46189 "check_cmd uses temp dir not allowed by some apparmor profiles"
### Description of Issue/Question

When using check_cmd on the installation of a configuration file with file.managed, salt installs a temporary file using the standard python call tempfile.mkstemp() before running the check_cmd. This call defaults the temp dir to /tmp. But some apparmor profiles prevent the daemon from accessing /tmp for security reasons (failing with EPERM -- permission denied).

[2018-02-26 11:49] sumeetisp commented on #44886
Hi @nicholasmhughes ,

Is this code at https://github.com/nicholasmhughes/salt/blob/c50c44cec4b15eddf7ed44a8e1ab1af38093cdf2/salt/cloud/clouds/azurearm.py#L1176
required even when deploy is set false?

VM with managed disk went through but with unmanaged disk got following error,
[DEBUG   ] {
  "error": {
    "code": "InvalidParameter",
    "message": "The value 'Linux' of parameter 'osDisk.osType

[2018-02-26 11:57] nicholasmhughes commented on #44886
Again... I haven't had a chance to rework the deploy logic. I'm sure there are a lot of things that can be optimized.

However, the error you're seeing looks like a SDK version problem. Try bumping the azure-mgmt-compute version until the error goes away... I would do it myself, but I don't think I'll have time this week.

[2018-02-26 13:31] kshenk1 commented on #42115
@bensherman this worked well for me as well.

[2018-02-26 13:40] waynew commented on #46188
It should be infinite, limited only by the amount of RAM. Are you running into a problem?

[2018-02-26 14:01] asymetrixs opened #46192 "salt-log-setup: AttributeError 'NoneType' object has no attribute 'flush'"
### Description of Issue/Question
Unfortunately I found this error in the log file and have no idea what exactly caused it. Perhaps others with the same error can add some more information.

### Error
[code]

### Versions Report
Salt Version 2017.7.2 64-Bit on Windows 7, Python 3.5.3 64-Bit, Tornado 4.5.1 (default salt-minion installation, no detailed information due to airgap, hope this helps)

[2018-02-26 14:38] rallytime commented on #45143
@tkwilliams I just cancelled your original invitation and sent a new one. I couldn't figure out how to "resend" it. Let me know if you still have trouble. You should be able to also see some kind of banner when you just go to the main saltstack repo page: https://github.com/saltstack/salt indicating you need to accept the invitation I think.

[2018-02-26 15:01] alasdairdc opened #46195 "state.alternatives does support slave links"
`salt.state.alternatives` does not (or the documentation does not state it does) support slave links.

The Debian man page for `update-alternatives` states:

This is noticable on Debian 9 (Stretch) which by default install `mailutils`, however if you install `heirloom-mailx` (to support cli args for `CC / BCC`) you need to manually create the alternative using something like

    sudo update-alter

[2018-02-26 15:16] Ch3LL commented on #46177
ping @saltstack/team-ssh anyone here have any other ideas here on how to approach this?

[2018-02-26 15:19] Ch3LL commented on #46178
Thanks for the PR! Since this is fixed I'll close this and we can keep discussion in PR. But please let me know if it needs to be re-opened. :)

[2018-02-26 15:19] #46178 closed

[2018-02-26 15:23] Ch3LL commented on #46180
Thanks for the PR! As this is fixed in your PR I will go ahead and close here but please let me know if you need to re-open

[2018-02-26 15:23] #46180 closed

[2018-02-26 15:24] Ch3LL commented on #46182
Thanks for the PR! As this is fixed in the PR I will go ahead and close here but please let me know if you need me to re-open.

[2018-02-26 15:24] #46182 closed

[2018-02-26 15:27] Ch3LL commented on #46187
ping @garethgreenaway can you help here? I didn't see anything with a quick glance at the kwargs in the code.

[2018-02-26 15:31] Ch3LL commented on #46189
Thanks for the PR! As the PR resolves this issue I will close here but please let me know if i need to re-open.

[2018-02-26 15:31] #46189 closed

[2018-02-26 15:34] Ch3LL commented on #46192
is there more context in the logs before or after this log? Also are you still seeing this?

[2018-02-26 15:38] Ch3LL commented on #46195
glancing at the code i'm not seeing this option being used as well. will approve as a feature request.

ping @rrada looks like you added this state, mind taking a look here if you get a chance?

[2018-02-26 15:44] #40148 closed

[2018-02-26 15:48] rallytime commented on #43536
@terminalmage I am assigning this to you. I know you have already written many gitfs tests in the past, so perhaps this is already covered. If there isn't a test covering this use case already, then can you write one?

[2018-02-26 15:51] rallytime commented on #43594
When this gets tackled, it seems like this test could be combined with #43596.

[2018-02-26 15:54] #33709 closed

[2018-02-26 16:09] rallytime commented on #43941
@DmitryKuzmenko Can you look into this when you are done with your blockers and other testing tasks?

[2018-02-26 16:15] gtmanfred commented on #46157
@dwoz can you try to replicate this, just to confirm that this is working?

Thanks,
Daniel

[2018-02-26 16:17] #45849 closed

[2018-02-26 16:18] gtmanfred commented on #46109
After talking with @terminalmage , he agrees that we should exit early with `if_missing` unless `force: True`

Thanks,
Daniel

[2018-02-26 16:19] asymetrixs commented on #46192
Unfortunately there is nothing close to the time this incident took place. And also there was no job scheduled to run at that time. I really cannot offer more than that for now and only opened this incident so that perhaps others will find it and add information in case they experience the same issue.
It does not seem to cause any trouble for now. I will keep monitoring this.

[2018-02-26 16:26] gtmanfred commented on #44147
I am looking into replicating this now.

[2018-02-26 16:54] gtmanfred commented on #44147
I have replicated this issue.

https://gist.github.com/gtmanfred/98d7a7dae47346e58f5c4f48f752614d

Sorry about the delay.

I have created a docker container image to make replicating this easier.

[code]

Daniel

[2018-02-26 18:01] #44801 closed

[2018-02-26 18:09] wschmrdrNS opened #46199 "iptables module: Append/Insert doesn't save"
### Description of Issue/Question
When running the IPTables state module, despite putting "save: True" in, after rebooting, the IPTables settings do not stay when running "iptables -L".

### Setup
ip_drop_input:
  iptables.set_policy:
    - chain: INPUT
    - policy: DROP
    - save: True

ip_drop_output:
  iptables.set_policy:
    - chain: OUTPUT
    - policy: DROP
    - save: True

ip_drop_forwa

[2018-02-26 18:33] gtmanfred commented on #46199
Do you have the `iptables-persistent` package installed?

This is required for Ubuntu to load saved iptables rules.

Daniel

[2018-02-26 18:35] wschmrdrNS commented on #46199
No I didn't; looks like that helped.

Is this something that could be included within the documentation, in case someone else comes across this as being an issue?

[2018-02-26 18:46] gtmanfred commented on #46199
Yeah, that seems reasonable, would you mind submitting a PR to add that information?

Probably another note like this one on the 2017.7 branch would be good.

https://github.com/saltstack/salt/blob/2017.7/salt/states/iptables.py#L186

https://docs.saltstack.com/en/latest/topics/development/contributing.html#merge-forward-process

Thanks,
Daniel

[2018-02-26 18:57] garethgreenaway commented on #46187
@sidhujasminder The `seconds` argument is based on the time when the Salt minion started up.  Are you restarting your minions after adding the job in?

[2018-02-26 19:01] DmitryKuzmenko commented on #38376
I've tried to reproduce it without success. Since it's not Oxygen I'd defer it for some time.
@jf if you have time it would be very helpful if you'll upload the full minion debug log of start, failover and fail to failback. I don't see some expected schedule logs in the snippets you've attached to this issue.
Thank you.

[2018-02-26 19:08] frogunder opened #46202 "multimaster failover not working"
### Description of Issue/Question
In a multimaster failover setup on 2018.3.0rc1(oxygen.rc1) the minions stop.
It seems to be working fine/correctly for a little while. Tried a couple of times and seems when one master stops it starts to fail.
See this in the minion log:
[code]

See this in the master log:
[code]

I also see this when trying to see if the master and minion are running:
[code]

###

[2018-02-26 19:14] rallytime commented on #46202
@DmitryKuzmenko Can you look into this? This is something new to the latest test run - it wasn't failing on the last run @frogunder did a couple of weeks ago.

[2018-02-26 19:29] rombert commented on #46109
That's great to hear, thanks.

[2018-02-26 19:43] DmitryKuzmenko commented on #46202
At a first glance it looks we have to translate the opts string to unicode before looking for `startswith`. But I'll try to figure out why it didn't happen before first.

[2018-02-26 19:46] edgan commented on #42440
I have a like problem. I have a formula with defaults as yaml in a map.jinja. I then merge in pillars into the jinja object.

It looks like local mode, aka masterless, keeps the order. Where as master mode and salt-ssh do not. In master mode it looks like the path the data takes is fairly complicated.

[2018-02-26 21:36] frogunder opened #46205 "winrepo.update_git_repos Error"
### Description of Issue/Question
On 2018.3.0rc1(oxygen.rc1) running `salt-run winrepo.update_git_repos` on the Linux master fails with this error.
[code]
I have tried with `gitpython` and `pygit2` installed. Same error.

### Steps to Reproduce Issue
Install correct salt version and run `salt-run winrepo.update_git_repos`
[code]

### Versions Report
[code]

[2018-02-26 21:59] rallytime commented on #46205
@twangboy Can you look into this?

[2018-02-26 22:00] edgan commented on #42440
My guess of why the test failed, is the version check was wrong. It was 'if msgpack.version >= (0, 2, 0):', but object_pairs_hook wasn't introduced till msgpack 0.2.3. The new patch will break anything older than msgpack 0.2.3 since object_pairs_hook is on both parts of the if statement. Also it looks like the new patch will break on Ubuntu 12.04 which is is on 0.1.10. It will also break rhel 5, w

[2018-02-26 22:03] rallytime commented on #46205
Actually, I just talked to @twangboy and he said this one would be better for @terminalmage to look at since it happens on the master side.

@terminalmage Can you take a look?

[2018-02-26 23:05] seanjnkns commented on #44034
Just tested this with 2016.11.9-2 on CentOS 7.4, and the issue still exists even though I've confirmed the patch is applied.  This seems consistent with how I had the issue before even with the patch applied, and yet using the git branch and installing from source vs. upstream RPMs, seemed to correct the issue.

I'll check out 2017.7.4 and see if that changes my outcome and respond back here.

[2018-02-26 23:07] hemebond commented on #45863
I am able to create new cloud (EC2) instances with 2017.7.4.

[2018-02-26 23:07] seanjnkns opened #46207 "Issue #44034 still unresolved"
### Description of Issue/Question

### Setup
(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
See issue #44034

### Steps to Reproduce Issue
See issue #44034

### Versions Report
(Provided by running `salt --versions-report`. Please also mention any differences in master/minion versions.)
Salt Version:
           Salt: 2016.11.9

Dependency Versions:

[2018-02-26 23:08] seanjnkns commented on #46207
Just tested this with 2016.11.9-2 on CentOS 7.4, and the issue still exists even though I've confirmed the patch is applied. This seems consistent with how I had the issue before even with the patch applied, and yet using the git branch and installing from source vs. upstream RPMs, seemed to correct the issue.

I'll check out 2017.7.4 and see if that changes my outcome and respond back here.

[2018-02-26 23:12] seanjnkns commented on #46207
2017.7.4 has the same issue.

[2018-02-26 23:16] seanjnkns commented on #46207
In fact, reverting back to 2016.11.8 and then applying the 1 line patch from #44483, and restarting the salt-master service, still doesn't fix the issue.  I'm guessing some environment variable, stroke of luck, idk, triggered this to work during my testing before on the other ticket as it's still not resolved unfortunately.

[2018-02-27 00:06] tkwilliams commented on #45143
Sweet!  Got the email, looks like I was able to join :)

[2018-02-27 00:10] edgan commented on #42440
This is another patch that is probably a matching idea.

[code]

[2018-02-27 01:04] SwinBlackSea commented on #46188
@waynew  Thank you very much! I just want to evaluate it because my company try to use saltstack.

[2018-02-27 02:37] waynew commented on #46188
Well if you want to check the status of all minions you'd typically do

[code]

(Or really `salt-run manage.status`)

It would also be reasonable to group them by name like `salt 'web*'`, or in your example `salt 'minion*' test.ping`

[2018-02-27 03:29] sumeetisp commented on #44886
If i upgrade the SDK version. It breaks imports ,
  File "/tmp/test.py", line 27, in <module>
    import azure.mgmt.compute.models as compute_models
ImportError: No module named azure.mgmt.compute.models.

[2018-02-27 04:16] terminalmage commented on #46205
https://github.com/saltstack/salt/pull/46209 fixes this.

[2018-02-27 04:44] nicholasmhughes commented on #44886
There is often some weird behavior when upgrading. Uninstalling the module and then reinstalling fresh should help.

[2018-02-27 04:52] SwinBlackSea opened #46210 "file.mkdir is not work for Chinese path"
In py27-salt,
I had occured one problem that the file.mkdir was not worked on Chinese path.
you may say that the file.mkdir is just make the Chinese path random code,but the file.py is begain with **'UTF-8'** and I decode directory by `directory = directory.decode('utf-8')` , but isn't work; then I use `import sys;reload(sys);
sys.setdefaultencoding('gbk')   ` in header of the file.py but isn't wo

[2018-02-27 05:18] sidhujasminder commented on #46187
@garethgreenaway No I am not restarting my minion after adding job. They stay scheduled and work fine. My concern is that at the time i execute `salt state.apply scheduler_file1`, the schedulers are set, but they don't return any data when executed at time=0. First entry i get in influxdb is after time=3600seconds. I want to know if in some way i can get data returned at time=0.

[2018-02-27 05:46] garethgreenaway commented on #46187
@sidhujasminder I'll need to investigate that, the time should be based on how long the minion has been running for. You can try including the `run_on_start` option setting it to true and see if that solves the issue.

[2018-02-27 05:55] vnitinv commented on #46187
@garethgreenaway run_on_start default to True only.

[2018-02-27 06:31] sumeetisp commented on #46030
Issue 2 -
Consider module 1 which is in _sdb and module 2 which is in _utils
And module 1 is importing module 2 then after sync_all, module 1 fails to import because it is unable to find module 2.
Please help

[2018-02-27 08:43] dwoz commented on #35750
Oddly enough I ran into this just downloading a package outside of salt. Looks like we should allow an option to pass checksums and potentially '--allow-empty-checksums' if the user really wants to bypass the security settings. I've assigned the issue to myself.

[2018-02-27 11:09] pjanzen commented on #44436
Closing this issue...

[2018-02-27 11:09] #44436 closed

[2018-02-27 13:15] dave-pollock commented on #46159
I'm tearing my hair out trying to get pygit2 working with CentOS and ssh authentication against github. It was working fine with the standard yum package python-pygit2 until the recent github changes. I'm now trying to recompile everything with libssh2 1.8.0 but haven't been able to find something that works yet. The salt master seems unable to detect that pygit2 is available. No suitable gitfs pr

[2018-02-27 14:25] djsly opened #46212 "pkg.installed should support kwargs for setting --setopt"
### Description of Issue/Question
We need to enable the `--setopt=obsoletes=0` option for yum to allow installing Docker using Salt

https://github.com/moby/moby/issues/33930

### Setup
[code]
### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2018-02-27 14:37] #45863 closed

[2018-02-27 14:40] djsly commented on #46212
The `yumpkg` module seems to have a function for parsing the extra args

https://github.com/saltstack/salt/blob/develop/salt/modules/yumpkg.py#L277-L300

Unfortunately, this helper function isn't used for `pkg.installed` only `pkg.update` which is linked to the `pkg.uptodate` state.

Maybe it could be added here ?
https://github.com/saltstack/salt/blob/develop/salt/modules/yumpkg.py#L1348

[2018-02-27 14:50] rallytime commented on #46205
@frogunder Can you confirm this is fixed?

[2018-02-27 14:55] DmitryKuzmenko commented on #46202
Discussed with @terminalmage. Potential fix: https://github.com/saltstack/salt/pull/46213

[2018-02-27 14:56] #15325 closed

[2018-02-27 14:59] djsly commented on #43755
@gtmanfred sorry just saw your last reply :(

feel free to remove https://github.com/gtmanfred/issues/blob/43755/etcd/init.sls#L7-L8 to unblock you.

[2018-02-27 15:21] rallytime commented on #46202
@frogunder Can you test that change? ^

[2018-02-27 15:23] #45684 closed

[2018-02-27 15:23] #46085 closed

[2018-02-27 15:36] racker-markh opened #46215 "salt-cloud will only intermittently build rackspace cloud instances with purely private networks"
### Description of Issue/Question
Issue: salt-cloud will only intermittently build rackspace cloud instances with purely private networks.

### Setup

You will need:
- Rackspace cloud user and api key
- (I've been testing in HKG region)
- Create a cloud network 'private_salt_net' (172.17.117.0/24)
- Create a centos6 salt-cloud-master node with PublicNet,ServiceNet,private_salt_net
  - (private_sal

[2018-02-27 15:38] garethgreenaway commented on #46210
@SwinBlackSea Thanks for the report.  Sounds like you might be hitting the Unicode issues that we had in previous version of Salt.  Beginning with the Oxygen release everything internally within the Salt code base will be using Unicode strings, so the issue above should be resolved.  Until Oxygen is released, unfortunately the above issue is expected behavior as we were not handling these situatio

[2018-02-27 15:45] garethgreenaway commented on #46212
@terminalmage Thoughts on this being added to `installed` as well as `update`?

[2018-02-27 15:53] garethgreenaway commented on #46215
@gtmanfred Thoughts on this one?

[2018-02-27 15:54] garethgreenaway commented on #46207
@terminalmage Looks like were working on this before.

[2018-02-27 15:55] frogunder commented on #46205
@rallytime Yes, this is fixed.

[2018-02-27 16:00] Ch3LL commented on #46192
Are you seeing this consistently?

[2018-02-27 16:04] Ch3LL commented on #46060
Hmmmmm... I wonder if its running the command before the master/minion start up. Can you increase that sleep period to 20 just to really make sure? And also maybe run just a salt '*' test.ping  after starting them up. something like:

`docker run -it ch3ll/issues:46060 /bin/bash -c "echo ' ' > /var/log/salt/minion; salt-master -d; salt-minion -d; sleep 20; salt-call -l all test.ping; grep -i SaltR

[2018-02-27 16:12] Ch3LL commented on #46124
Works great! Thanks @terminalmage I'll go ahead and close as i've confirmed it works :)

[2018-02-27 16:12] #46124 closed

[2018-02-27 16:19] Ch3LL commented on #37845
@rdutch which version are you seeing this in? Does this also occur in 2017.7?

[2018-02-27 16:26] rdutch commented on #37845
@Ch3LL Yes, we saw it on 2017.7.2

[2018-02-27 17:02] rallytime commented on #46205
🎉

[2018-02-27 17:02] #46205 closed

[2018-02-27 17:08] gtmanfred commented on #46215
If you want to submit a fix for this driver, I am all for it.  But I am done with it, it has been almost entirely rewritten in Oxygen to use openstack-infra/shade modules, and will be moving to use openstackclient at some point.

Can you try using this new driver?  It moves all the logic over to the openstack-infra teams project, and we don't really do anything.

https://github.com/saltstack/salt/

[2018-02-27 17:37] #45976 closed

[2018-02-27 17:37] #45893 closed

[2018-02-27 17:38] #46018 closed

[2018-02-27 17:39] #43128 closed

[2018-02-27 19:42] edlane opened #46220 "AzureARM Documentation out-of-date or inaccurate"
### Description of Issue/Question
The URL of this [document](https://docs.saltstack.com/en/latest/topics/cloud/azurearm.html) https://docs.saltstack.com/en/latest/topics/cloud/azurearm.html is the first result for Google search "salt-cloud azurearm" but it appears to be out-of-date or just plain wrong.
In particular, most of the named config parameters in this document are invalid and the error me

[2018-02-27 19:44] frogunder commented on #46202
It is still failing for me with that potential fix.

[2018-02-27 21:08] The-Loeki opened #46224 "git_pillar_branch doesnt do anything"
### Description of Issue/Question
[code]

[2018-02-27 21:14] jessebye opened #46225 "Highstate Returner Failing with "ValueError: too many values to unpack""
### Description of Issue/Question
When attempting to use the new salt.returners.highstate_return module, I see this error in the minion log and the output file is not created:
[code]
### Setup
`/etc/salt/minion.d/returner.conf`:
[code]
### Steps to Reproduce Issue
1. Run `salt 'salt' state.apply --return highstate`.
2. Tail the minion log.
3. Observe the error:
[code]

### Versions Report
[code]

[2018-02-27 21:48] #41261 closed

[2018-02-27 22:31] gtmanfred opened #46233 "Create `publish.wheel` function"
### Description of Issue/Question
This will be needed to allow for bootstrapping minions from other minions, so that either

A) the key can be accepted from the minion
B) the minion could request a pregenerated key to seed to the minion it creates

[2018-02-27 22:35] pcdummy commented on #46233
I realy need this to bootstrap lxd containers which get created by a minion through salt master.

[2018-02-27 22:40] techhat commented on #46220
There are two different drivers, each with their own documentation: `azure` (for classic Azure) and `azurearm`.

[2018-02-27 22:44] absolutejam opened #46234 "win_dsc - Usage clarification"
Hey people,

I'm trying to use Salt as an engine to manage & deploy DSC configurations to multiple environments and I'm struggling to get to grips with exactly how the current implementation works. I don't want this to come across as negative, but instead I'm willing to tweak the module and documentation as needed, but just wanted a bit of feedback before doing so.

First of all, the module says t

[2018-02-27 23:48] jodok commented on #46063
i can confirm that issue. when the namespace is newly created it is reported as failed (the first couple of lines are also printed red in the shell) ...
[code]

[2018-02-27 23:51] jodok commented on #46064
i'd like to add an issue. if you create a secret, but the namespace you reference doesn't exist, you'll receive an error message which gives no hint about the problem:
[code]

[2018-02-27 23:52] absolutejam commented on #46234
Re-reading and it looks like the module should/does run the configuration block! Need to test this more as it hasn't worked yet for me.

[2018-02-27 23:53] MartinMystikJonas commented on #46060
I played with it for a while and it looks really strange. Minion is not able to connect to localhost master and there is no explanation in logs why. See this:

[code]

[2018-02-28 00:03] doesitblend opened #46236 "WIN_LGPO requires unsetting certain policies before configuring new policies"
### Description of Issue/Question
When trying to use the `lgpo.set` state I get the following error if some Group Policies are set (listed in Steps to Produce):
[code]

The request is for the module to not fail when these settings are pre-configured. I thought of just adding these settings to my state to have the state set them, but they are not available for configuration in the `win_lgpo.py` mod

[2018-02-28 00:03] doesitblend commented on #46236
ZD-2280

[2018-02-28 00:10] twangboy commented on #46236
@lomeroe ^^^

[2018-02-28 00:21] max-orhai opened #46237 "Python 3 API TypeError in salt-cloud 2017.7.4 on EC2"
### Description of Issue/Question

I'm using salt-cloud in EC2. I upgraded to 2017.7.4 hoping to use the Python 3 API, but encountered an error in the ec2.py availability zone listing code.

### Setup

[code]

### Steps to Reproduce Issue

[code]

This works as expected with Python 2.7.

### Versions Report
[code]

[2018-02-28 00:51] curiositycasualty commented on #46153
I think that clears me up, thanks for getting back to me.

[2018-02-28 00:51] #46153 closed

[2018-02-28 01:23] terminalmage commented on #46109
@gtmanfred Is correct, 2017.7.3 does prevent a second download, but if the URL in the SLS file were changed we would still download the new file despite the fact that the `if_missing` path exists. Working on a fix for that now.

[2018-02-28 01:58] terminalmage commented on #46109
https://github.com/saltstack/salt/pull/46239 makes the change we discussed. I decided not to make it conditional on `force` or `overwrite`. If the `if_missing` path exists, we shouldn't be doing _anything_.

[2018-02-28 02:25] jkrauz opened #46240 "chocolatey.installed broken on 2017.7.4"
### Description of Issue/Question
chocolatey.installed fails when checking if the package already exists before attempting to install.
The same as in this closed issue: [https://github.com/saltstack/salt/issues/42521](https://github.com/saltstack/salt/issues/42521)

### Steps to Reproduce Issue

salt-call state.single chocolatey.installed microsoft-build-tools

          ID: microsoft-build-tools

[2018-02-28 04:11] garethgreenaway commented on #46153
Sounds good!  Definitely let us know any other questions you have. We're always looking to improve our documentation.

[2018-02-28 04:52] lkthomas opened #46241 "missing MACADDR directive on network.managed"
salt/templates/rh_ip/rh7_eth.jinja template source code missing MACADDR directive

Salt Version:
           Salt: 2017.7.4

Dependency Versions:
           cffi: Not Installed
       cherrypy: Not Installed
       dateutil: Not Installed
      docker-py: Not Installed
          gitdb: Not Installed
      gitpython: Not Installed
          ioflo: Not Installed
         Jinja2: 2.7.2
        libgit2

[2018-02-28 05:46] sumeetisp commented on #46030
@garethgreenaway Please help.

[2018-02-28 07:04] oak1980 commented on #31977
I am having the same issue, one gitfs_remote seems to flicker between being there and not being there. (saltmaster is also a minion)

[code]

[code]

However, when I try to apply the state the shorewall formulas disappear again:

[code]

[2018-02-28 07:45] asymetrixs commented on #46192
I see this error popping up on all my Windows 7 machines that I just checked (did not check all). It happens occasionally and does not seem to be connected to an event (like a scheduled job or something) - the errors "just happen". Surprisingly, this error occurs in the morning and in the evening but most of the time between minute 44-48 (like 8:45:XX or 16:45:XX or 21:45:XX UTC, but I have also s

[2018-02-28 08:39] racker-markh commented on #46215
Hi @gtmanfred

Thanks for looking into this.

I've created a PR for this: https://github.com/saltstack/salt/pull/46243 - first PR for salt so apologies if I've made any mistakes in the process.

Haven't had a chance to test the new driver yet - my understanding is that this is in the 2018.3 branch which is still rc, and since we have quite a large estate of servers it's unlikely we'd move to 2018.

[2018-02-28 08:53] rombert commented on #46109
That's great, thanks a lot!

[2018-02-28 09:32] github-abcde commented on #45882
I have local patches to the salt mine to allow for minion-pushed ACL, where the `mine.send`- and `mine.update`-functions get two additional arguments: `allow_tgt` and `allow_tgt_type`, similar to the `tgt` and `tgt_type` arguments in https://docs.saltstack.com/en/latest/ref/states/all/salt.states.saltmod.html.
The master saves these with the mine value (which does cause the structure of mine-items

[2018-02-28 09:48] pquentin commented on #45917
Even if the status says "Closed" above, the change is now in libcloud trunk! Yay. It won't make it into libcloud 2.3.0, but will be in the next minor release (probably 2.3.1).

[2018-02-28 12:19] mcalmer commented on #44701
@rallytime - I started a PR to solve this and other issues. Not sure if you are fine that it is an incompatible change in regards of the parameter to provide to configure access and authentication. But I think the old
way is just a useless. I tested it briefly with v5.0 .

[2018-02-28 12:42] mchugh19 commented on #33177
@bbinet
Related to this, perhaps the log severity of the "Ignoring pillar stack template" messages could be reduced to not fill up log files. As designed, some pillarstack templates will be missing:
[code]
In this example, a host which has a role which does not require role pillars will result in warning logs:
`[WARNING ] Ignoring pillar stack template "roles/.yml": can't find from root dir "/var/

[2018-02-28 13:12] iustinam opened #46245 "utils.configcomparer does not detect all changes"
### Description of Issue/Question
utils.configcomparer does not detect if values were removed in the new config (which existed in the old config) because it only checks if anything in the new config would change something in the old config. eg. "new_config-old_config" but not "old_config-new_config"

### Setup
https://github.com/saltstack/salt/blob/develop/salt/utils/configcomparer.py#L39

### Ste

[2018-02-28 13:17] nkv16786 opened #46246 "Azure Windows VM provisioning failing when using Custom VHD"
### Description of Issue/Question
I am using salt cloud profile for azurearm to provision vm using custom VHD.
It is taking around 40 min to execute then timing out ,
when i am looking on portal i see the error as

`Provisioning failed. OS Provisioning for VM 'customnkv' did not finish in the allotted time. The VM may still finish provisioning successfully. Please check provisioning state later..

[2018-02-28 13:32] piersf opened #46247 "State 'pip.installed' was not found in SLS"
Hello there,

We upgraded Saltstack to Nitrogen release (version 2017.7.3) from Carbon(version 2016.11.1) two days ago.
Currently, we are facing an issue with the `pip.installed` state when pushing to a minion. Both master and minion are running the same 2017.7.3 version. My state looks like below

[code]
When running above states, we get an error saying:

[code]
The salt-master and minion version

[2018-02-28 14:37] #20240 closed

[2018-02-28 14:40] SwinBlackSea commented on #46210
@garethgreenaway Thank for your replay. It's really not a problem in salt-py3 release, So you are right. but we are trying to use salt-py2 release  . So maybe I can only do this by write a self-module to make directory.
thanks!

[2018-02-28 15:01] #46109 closed

[2018-02-28 15:08] gtmanfred commented on #46215
I wrote the nova driver back when I was working at Rackspace, but it hasn't really worked well for a while.  If you install the rackspace plugins for novaclient, it will pull in this module, which will automatically add a public network to novaclient.

https://github.com/rackerlabs/rax_default_network_flags_python_novaclient_ext/blob/master/rax_default_network_flags_python_novaclient_ext/__init__.

[2018-02-28 15:20] gtmanfred commented on #46240
@twangboy @dwoz can one of yall look at this?

Thanks,
Daniel

[2018-02-28 15:22] gtmanfred commented on #46237
Thanks for reporting this.

If you wanted to dig in and submit a PR to fix it in the 2017.7 branch we would greatly appreciate it.

We have also added better py3 support in the 2018.3 branch which we are working on getting an RC release out soon, would you mind testing this with py3 on that branch?

Thanks,
Daniel

[2018-02-28 15:24] rallytime commented on #46202
@DmitryKuzmenko ^ can you take another look?

[2018-02-28 15:30] gtmanfred commented on #46225
I am unable to replicate this with a simple state, can you provide me with a state setup so that I can replicate the error?

[code]

Thanks,
Daniel

[2018-02-28 15:31] gtmanfred commented on #46225
Even when using a salt-master, i can't replicate it.

[code]

[2018-02-28 15:33] gtmanfred commented on #46234
@damon-atkins @twangboy @UtahDave It looks like yall have all worked on this.  As I have never used DSC before, would you mind assisting with @absolutejam 's questions?

Thanks!
Daniel

[2018-02-28 15:34] gtmanfred commented on #46241
Would you mind opening a PR to add it?

I am marking this as a Feature Request.

Thanks,
Daniel

[2018-02-28 15:49] The-Loeki opened #46249 "2018.3.0rc1 stacktraces & doomloops with schedule"
### Description of Issue/Question
Any 2018.3 salt command/daemon w/a mine update schedule in it will exhibit this behaviour, e.g. `salt-call`, `salt-run fileserver.update` etc.

The master daemon continually reinstatiates itself leading to excessive load.

[code]
### Probable cause
Inserting some debug output:
[code]

Notice however the `.format()` already trips over

### Setup
[code]

### Steps t

[2018-02-28 15:52] gtmanfred commented on #46247
You will need the python27-pip package for nitrogen, What is failing is that salt-minion on centos 6 2017.7 uses python27, because we have dropped support for python2.6.

And the pip modules requires an importable pip module in order to run version comparisons.

[code]

If you want to make sure that you are pip installing to the python26 environment, you will need to do something like the above.

[2018-02-28 15:52] #46247 closed

[2018-02-28 15:55] rallytime commented on #46249
This looks similar to #46202

[2018-02-28 15:59] gtmanfred commented on #46249
Looks like this is a duplicate, and sounds like we have a fix for it that is going to be opened today.

Thanks!
Daniel

[2018-02-28 15:59] #46249 closed

[2018-02-28 16:00] gtmanfred commented on #46224
@terminalmage do you remember if there was something else that replaced this in the git_pillar config?

Thanks,
Daniel

[2018-02-28 16:15] gtmanfred commented on #46245
@gauntletbuild can you take a look at this?

@iustinam brings up a good point, but is this the way the comparer was intended to work. It looks like it was specifically written for the chronos and marathon proxy minions that were included in this PR

https://github.com/saltstack/salt/pull/28778

Thanks,
Daniel

[2018-02-28 16:21] terminalmage commented on #31977
@oak1980 When you execute a runner, it's separate from the master daemon. In fact, you can stop the master, and execute the runner, and it'll work just fine. I've added some documentation to make this more clear in https://github.com/saltstack/salt/pull/46250.

[2018-02-28 16:21] iustinam commented on #46245
@gtmanfred I am using marathon_proxy in my case. I have an external pillar that fetches secrets from vault and puts them in the app env. It happened to me that one secret was not in vault but marathon_app state didn't detect that there was a change on this app. If I stop the containers and redeploy the app, that secret would be missing.

[2018-02-28 16:23] iustinam commented on #46245
@gtmanfred why would this be the way it is intended to work? Can you provide an example?

[2018-02-28 16:37] terminalmage commented on #46224
The docs are pretty clear on what it does: https://docs.saltstack.com/en/latest/ref/configuration/master.html#git-pillar-branch

[This block](https://github.com/saltstack/salt/blob/d6c2d06/salt/utils/gitfs.py#L1013-L1027) is where the value comes into play.

A simple grep doesn't always tell the whole story. :)

[2018-02-28 16:38] DmitryKuzmenko commented on #46202
This must be 143% fixed now.

[2018-02-28 16:41] gtmanfred commented on #46224
Thanks Erik!
Daniel

[2018-02-28 16:41] #46224 closed

[2018-02-28 16:41] sam0104 opened #46252 "pillar.get is not working inside for hubblestack_data/hubblestack_nova_profiles/*.YAML file"
### Description of Issue/Question

pillar.get is not working inside  for hubblestack_data/hubblestack_nova_profiles/*.YAML file . We have few OS related audits where we want to call pillar data for set Timezone  from pillar value. Standard Salt pillar syntax is not working.

### Setup

(Please provide relevant configs and/or SLS files (Be sure to remove sensitive info).)
we have  2017.7.2  and usi

[2018-02-28 16:45] gtmanfred commented on #46245
If you look at the PR, this was specifically added to work with those modules.  All I am doing is asking for feedback from the original author of the code.

It isn't used anywhere else, only by his code, so he should have some input.

[2018-02-28 16:58] max-l-weaver commented on #45946
OK I think I've found the issue here.
So, switched logging to debug and ran the following:
[code]

and discovered the following issue:
[code]
so looking at the logging handler source code I figured out I needed to state the `sentry_handler` option in `/etc/salt/master` - so far so good.

My master config file now looks something like this:
[code]
re the docstring instructions 'minimum' configurati

[2018-02-28 17:04] gtmanfred commented on #46246
I have a suspicion that this is inside of the AzureArm for python library.

Can you run the salt-cloud command with `-l debug` and provide the entire stack trace?

There might need to be an option to increase the time for the python library to wait for the vm to be built.

[2018-02-28 17:07] dmarkwat opened #46255 "minion.restart module doesn't work when minion run via systemd"
### Description of Issue/Question
[This linked line](https://github.com/saltstack/salt/blob/b5b083fd2655e5082e57d70a03a0f8b850e32ee9/salt/modules/minion.py#L242) is where the trip-up seems to happen.  When the minion is started with systemd, the '-d' flag is not passed on sys.argv to the minion.  Thus, the else condition removes restart on systemd-based machines.  This however does work on sysvini

[2018-02-28 17:27] garethgreenaway commented on #46030
@sumeetisp if I understand the first issue that you're describing you've written a custom module which is importing the above mentioned boto libraries and placing that module under /srv/salt/_module.  Once it's synced to the minions the custom module is failing to import.  Do you have those boto libraries installed and available on the minions where it's failing?

[2018-02-28 17:29] The-Loeki commented on #46224
hehehe I did a few, but not that particular one. Sorry ;)

[2018-02-28 17:32] Ch3LL commented on #46192
thanks for the follow up information

ping @saltstack/team-windows have any of you seen this?

[2018-02-28 17:38] Ch3LL commented on #33177
Thanks for the explanation here for pilalrstack i'll keep as a bug so we can lower the debug logs here. Anyone mind submitting a PR?

[2018-02-28 17:43] Ch3LL commented on #46060
How about we go about this a different way. Any chance you provide a container/vagrant box with a test case as i'm not able to replicate it on my end.

[2018-02-28 18:23] terminalmage opened #46258 "git_pillar_base doesn't work for values when PyYAML loads them as int/float"
Docker commands run from root of git checkout:

[code]

Repo can be found here: https://github.com/terminalmage/git_pillar/tree/2017.7

[2018-02-28 18:30] twangboy commented on #46234
I haven't been in the code for a while, but I'll take a look

[2018-02-28 18:34] skizunov commented on #46192
@Ch3LL : Yes, I have seen this before. This is caused by PR #40686. By adding `AppNoConsole 1`, it has a side effect of causing stdin/stdout to be `None` in the Python environment, and hence you see this happen. I resolved this issue in my own branch of Salt by removing `AppNoConsole 1` and instead moving my version of `nssm.exe` to the "Featured pre-release" that has the Windows Creators Update f

[2018-02-28 18:40] max-orhai commented on #46237
I'm sticking with the Python 2 library for now, but when I get some time to work on converting my salt setup to Python 3 I'd be happy to submit a PR for this issue. Probably won't happen this week, though.

I'll look out for the 2018.3 RC.

[2018-02-28 18:46] gtmanfred commented on #46237
Awesome, thanks! it is much appreciated!

[2018-02-28 18:48] terminalmage opened #46259 "git_pillar_branch overrides branch defined in git_pillar configuration"
Docker commands run from root of git checkout:

[code]

Repo can be found here: https://github.com/terminalmage/git_pillar/tree/2017.7

[2018-02-28 18:50] jessebye commented on #46225
@gtmanfred does my `returner.conf` look correct to you? was that what you used for testing?

[2018-02-28 18:51] jessebye commented on #46225
Our Salt master has a very complex pillar and lots of states being applied. Not sure the best way to provide you configuration to reproduce since there is a lot of confidential information there. Perhaps if you can try a scenario where you apply about 200 states to a minion?

[2018-02-28 18:58] gtmanfred commented on #46225
I used the same options from your returner.conf in my /etc/salt/minion.

If you add a `log.error` here in the highstate_return.py file, and spit out which state is having the problem, it would help.

[code]

[code]

[2018-02-28 19:03] terminalmage commented on #46224
@The-Loeki Actually, I did find an issue with the branch being overridden by the `git_pillar_branch`, so thanks for the heads-up: https://github.com/saltstack/salt/issues/46259

Fix should be coming soon.

[2018-02-28 19:22] terminalmage commented on #46258
Fix submitted in https://github.com/saltstack/salt/pull/46260

[2018-02-28 19:22] terminalmage commented on #46259
https://github.com/saltstack/salt/pull/46260

[2018-02-28 19:35] jessebye commented on #46225
I ran this again but specified a single state instead of the highstate. Here was the result:
[code]

[2018-02-28 19:37] terminalmage commented on #46212
It looks like setopt is something that can be set more than once, right?

[2018-02-28 19:43] edgan commented on #42440
I created PR #46257 to solve the problem, and I am already using the patch internally successfully.

[2018-02-28 19:44] jessebye commented on #46225
@gtmanfred Ok, that narrowed it down I think:
[code]

Here is the create_swap_partition state:
[code]

[2018-02-28 19:50] absolutejam commented on #46234
I've only been able to have a quick run through the code, but it looks like an issue with the `_pshell` module failing if the output can't be converted to JSON, but not all instances of it need to/can output JSON. I'm going to try and suppress/catch the `CommandExecutionError` and see how it works out.

[2018-02-28 20:08] garethgreenaway commented on #46202
Didn't realize at the time when I was triaging this issue that it was related to the scheduler.  The values that are being written into the configuration file are internal values used by the scheduler.  One approach would be to just ensure that they're never written out to the configuration file.

[2018-02-28 20:12] terminalmage commented on #46212
Yes, I confirmed that's the case. I've opened https://github.com/saltstack/salt/pull/46263

[2018-02-28 20:13] terminalmage commented on #46212
The usage here would be:

[code]

[2018-02-28 20:16] jessebye commented on #46225
@gtmanfred I reworked our swap state and it no longer throws an error there. However, I am still not getting any output in `/tmp/foo` from the highstate returner. Not seeing any errors in the minion log indicating a problem either. Any idea where to go next?

[2018-02-28 20:38] terminalmage commented on #37367
Correct, that's how both file_roots and pillar_roots work. This is expected behavior.

[2018-02-28 20:44] jessebye commented on #46225
So I noticed in the Docs that `--return_config simple` was shown in an example corresponding with the `simple.highstate...` type config I was using. I passed that in and now see this in the minion debug log:
[code]

I also am now seeing the `/tmp/foo` file as expected!

I think this still needs to be investigated as a bug because a multi-line `cmd.run` state shouldn't break this returner.

[2018-02-28 21:00] gtmanfred commented on #46225
So, i don't think it is a problem with multi line cmd.run commands, i think the problem is that the cmd.run's name is the command that is being run, and you have a | in your command, and this is causing a problem.

If you switch out the line that is erroring in highstate_return.py with

[code]

Are you able to use your old state?

Thanks,
Daniel

[2018-02-28 21:53] DmitryKuzmenko commented on #46202
@garethgreenaway you're right but anywhere if we have special code handling this case it must work, I think.

[2018-02-28 22:01] terminalmage commented on #46128
This was an incorrect merge conflict resolution, it seems. I remember fixing this a while back but it looks like I did not fix it in the 2017.7 branch. This has been corrected in https://github.com/saltstack/salt/pull/46264.

[2018-02-28 22:01] terminalmage commented on #46128
Thanks for the heads-up!

[2018-02-28 22:05] #46258 closed

[2018-02-28 22:05] #46259 closed

[2018-02-28 22:16] PredatorVI opened #46266 "SSL Handshake error when adding 3rd party apt repo for influxdb on Ubuntu 14.04"
### Description of Issue/Question
For the first time in a while we are deploying an application to Ubuntu 14.04.  We have recently updated to the latest SaltStack 2017.7.2 (and now 2017.7.3) packages though I do NOT know what version this started to fail in since our efforts have been focused elsewhere.

When we try to install telegraf using a simple formula (not sure the original source of the fi

[2018-02-28 22:24] terminalmage commented on #43536
I think step 1 is already well covered by the GitFSTestFuncs class (shared to test both GitPython and pygit2) in tests/unit/fileserver/test_gitfs.py.

As far as ensuring that we grab the desired file using salt-call, that would need to be in an integration test. It's also not really something easily done on the fly, as fileserver changes require a reset of the master daemon, which is a non-starter

[2018-02-28 22:32] rallytime commented on #43536
That covers it nicely, IMO. I think this manual test was likely written long ago to cover the masterless gitfs use case when we didn't have automated gitfs tests at all.

@Ch3LL Any concerns on your side?

[2018-02-28 22:34] rickh563 commented on #46266
ZD-2293

[2018-02-28 22:49] jodok opened #46268 "kubernetes.secret_present should allow `type` parameter"
### Description of Issue/Question

unfortunately the `type` parameter for a kubernetes secret can't be specified when using the `secret_present` state. therefor the type of the secret will always be `opaque`. but e.g. to specify an [ImagePullSecret](https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod) you need the type `. dockerconfigjson`.

(the python clie

[2018-02-28 22:50] terminalmage commented on #46004
Fix is merged, marking this as closed. Thanks for helping alert us to this!

[2018-02-28 22:50] #46004 closed

[2018-02-28 23:02] gtmanfred commented on #46240
yup, thanks @whytewolf

Closing as a duplicate.

[2018-02-28 23:02] #46240 closed

[2018-02-28 23:06] PredatorVI commented on #46266
I've tried the following variations on the repo URL:

https://repos.influxdata.com/ubuntu
https://repos.influxdata.com/ubuntu

[2018-02-28 23:14] PredatorVI commented on #46266
I've tried the following variations on the repo URL:

http://repos.influxdata.com/ubuntu
http://repos.influxdata.com/ubuntu/
https://repos.influxdata.com/ubuntu
https://repos.influxdata.com/ubuntu/

Since the top 3 urls redirect to the last one, I hoped the issue was related to the '301 - Moved Permanently' response and the last one would be the one that works but it didn't.

[2018-02-28 23:41] gtmanfred commented on #46266
Just to double check, do you have the `apt-transport-https` package installed, which is required to use https repositories for apt?

Daniel

[2018-02-28 23:44] gtmanfred commented on #46255
Starting with 2017.7.3, with `KillMode=process` in the systemd service unit, you can use the `service.restart` unit.

Systemd is much more strict about this, and tracks the cgroup, and does not recommend running daemons in Type=forking, since systemd handles all the forking.

[2018-02-28 23:45] PredatorVI commented on #46266
Yes, though I didn't explicitly install it.

[code]

[2018-02-28 23:50] whytewolf commented on #46266
The issue looks to be salt grabbing the key, not the name field. Not sure if this is a bug in tornado, pyOpenSSL, or openssl yet.

[code]

[2018-02-28 23:54] gtmanfred commented on #46266
You should be able to see if it is a bug in tornado by setting `backend: requests` in /etc/salt/minion, then it will use requests in salt.utils.http instead of tornado.

[2018-03-01 00:05] whytewolf commented on #46266
okay, changing that option had 0 effects. so this looks like pyOpenSSL or openssl. most likely openssl. as updating pyOpenssl did not fix.

[2018-03-01 00:08] PredatorVI commented on #46266
I just found this link regarding the need to use SNI (Server Name Indication) with certain sites or the handshake will fail.

https://stackoverflow.com/questions/34187934/openssl-connection-error-ssl23-get-server-hello-but-browser-and-curl-works

I tried the following:

(FAIL) :# openssl s_client -connect repos.influxdata.com:443 -prexit

(WORKS) :# openssl s_client -connect repos.influxdata.com:4

[2018-03-01 00:39] toddtomkinson commented on #46245
Currently, it looks like this code preserves any attributes in the config that are not in the config passed by salt:

[code]

I believe this was a feature that preserved changes made via the marathon admin tools for properties that were not defined in the salt pillar data.  In most cases this is probably not wanted, but if it is going to be changed it should probably be passed a flag to change the

[2018-03-01 01:21] jessebye opened #46273 "salt.states.http.query converts JSON data_file to invalid JSON body"
### Description of Issue/Question
Using the `data_file` option with `salt.states.http.query` results in a query with a form-encoded body, even if the data file is `json`.

From what I can tell, `salt.utils.http.query` is using `requests.request`, which sends up `data` as [form-encoded body](http://docs.python-requests.org/en/master/_modules/requests/api/#request). However, `requests.request` suppo

[2018-03-01 01:31] twangboy commented on #46192
We need to discuss moving to the pre-release nssm @UtahDave @dwoz

[2018-03-01 01:47] UtahDave opened #46274 "salt-api w/CherryPy is broken on develop"
### Description of Issue/Question
salt-api gives a 500 Internal Server Error on develop when trying to serve
a hosted html page.

Git bisect traced the breakage to here: 3f42a5836385dfed9cda22a19d324a6bbed1f50b

[code]

### Setup

cat /etc/salt/master.d/cherrypy.conf
[code]
Then restart salt-master and start salt-api

### Steps to Reproduce Issue
When I browse to `http://localhost:8000` I get the

[2018-03-01 01:48] lkthomas commented on #46241
PR added,

https://github.com/saltstack/salt/pull/46271

[2018-03-01 03:07] basepi commented on #46252
Unfortunately profiles in hubble-salt are not currently run through the jinja templating system. If you'd like, you can file a feature request in our repo: https://github.com/hubblestack/hubble/issues/new

[2018-03-01 03:07] #46252 closed

[2018-03-01 03:08] sumeetisp commented on #46030
Yes, When I place it at /usr/....../salt/modules it works fine.
Similarly in issue 2, I am importing utils module from sdb module which are place at  srv/salt/_utils and /srv/salt/_sdb respectively. And its failing too.

[2018-03-01 03:26] terminalmage commented on #46274
@UtahDave I don't have your app available and I can't generate this error without the additional app configuration values (minimum config doesn't trigger it). Can you test with https://github.com/saltstack/salt/pull/46275.

[2018-03-01 04:36] terminalmage commented on #44887
The pub kwargs were never meant to be added to the runners in the first place, have never been documented, and will not be present in the 2018.3.0 release.

If you want to get the current user in the same way you see in the pub args on the minion you can do so using `salt.utils.get_specific_user()` in the 2017.7 release cycle. As of 2018.3.0 `salt.utils` has changed a lot, and this same code is no

[2018-03-01 04:45] terminalmage commented on #44758
@isbm is this related to the issue you were seeing with a large `_SC_OPEN_MAX`?

[2018-03-01 05:12] terminalmage commented on #44046
Fixed in #46276.

[2018-03-01 05:15] terminalmage commented on #43931
@gtmanfred The salt.utils changes happened in the release cycle after 2017.7.

This issue only seems to happen when there are stale/extra .pyc files, which you see sometimes when installing different versions from source.

[2018-03-01 05:31] sumeetisp commented on #46246
Providing entire stack would not be possible.
When provisioning from Powershell CLI it takes around 10 mins, so should it be taking more than 40mins when using python lib?

[2018-03-01 05:45] UtahDave commented on #46274
A bit of further information.

On `v2017.7.4` `http://localhost:8000` and `http://localhost:8000/beacon_demo` both serve up the proper html.

On develop and 2018.3 `http://localhost:8000` gives the above 500 error, while `http://localhost:8000/beacon_demo` serves up the proper html.

[2018-03-01 08:15] mchugh19 commented on #33177
This was just updated in bbinet's branch. @bbinet will you sync with salt, or do you want me to submit a PR?

[2018-03-01 08:28] bbinet commented on #33177
I will provide a PR to sync pillarstack today (there might be other changes to push)

[2018-03-01 08:29] bbinet commented on #33177
@Ch3LL should I submit a PR to the 2018.3 or develop branch?

[2018-03-01 10:44] absolutejam commented on #38157
I'm also experiencing an issue with my Azure VMs stopping responding after a couple of days. `salt-call` works from the server, but publishing jobs from the master has no effect.

I came frome #6231 and applied the TCP timeout settings too.

[2018-03-01 12:05] nkv16786 opened #46279 "Not able to pass kwargs in destroy function of azurearm.py"
### Description of Issue/Question

Hi i want to give the following options in destroy vm command:-
cleanup_disks=True
cleanup_vhds=True
cleanup_data_disks= True
cleanup_interfaces=True

But i am not able to set this values.

I have used the following commands :

[code]

**But kwargs is not being set .**

Please let me know how to set the above mentioned values

### Versions Report
Salt: **2017.7.1

[2018-03-01 12:24] bdrung commented on #20581
We were hit by this bug / missing feature. So yes, this ticket was prematurely closed. Please reopen it.

[2018-03-01 12:38] bdrung opened #46281 "Failing tests in 2018.3 branch"
I wanted to test if upgrading the official Debian package to the current 2018.3 branch (commit 7382654c704c589790f87c311dca5a82a80e715e) works, but several tests cases (start to) fail:
[code]

[2018-03-01 13:09] isbm commented on #44758
@terminalmage yes, looks like. I would like @flavio would share all his findings, as he was behind the research here.

[2018-03-01 15:02] gtmanfred commented on #46245
Perfect, thanks Todd.

I am going to mark this as a feature request to add a flag to allow for removing keys.

Thanks,
Daniel

[2018-03-01 15:06] gtmanfred commented on #46246
Why can't the stack trace be provided?

It would show what is raising that error.

[2018-03-01 15:26] jvrahav opened #46282 "salt master not releasing memory"
### Description of Issue/Question
I have a salt master running in a docker container hooked on to 280 minions running in different vms on the same network.

When the master is not connected to any minions it uses about 300 mb of ram. As i add new minions, i provision these through a script, the master start consuming more memory. For 100 minions it consumes about 1.4gb ram. As i add more minions t

[2018-03-01 15:34] frogunder opened #46283 "Salt-ssh error when wrong password in roster file"
### Description of Issue/Question
In 2018.3.0rc1 when putting a wrong password in the roster file when running salt-ssh it gives Error/Traceback. See this on both py2 and py3 setup.
I get permission denied which is correct but I also see this:
[code]
### Setup
Salt-ssh setup with wrong password.

py2 error:
[code]
py3 error:
[code]

### Versions Report
py2:
[code]

py3:
[code]

[2018-03-01 15:37] #44046 closed

[2018-03-01 17:14] bbinet commented on #33177
as the changes were minor, I've submitted PR #46287 on top of 2018.3 branch

[2018-03-01 17:19] Reiner030 commented on #43311
so...

Test Setup of Saltmaster with saltify driver works again nice/as expected with Debian Stretch.
But when testing first production instances with a parallel saltmaster on Debian Stretch in AWS it "crashes" again as before because **`grains`**/**`minion`** data were not merged between providers, profiles (and map) files.
So I didn't get the right saltmaster names, files_roots/pillar_roots and

[2018-03-01 17:19] weswhet commented on #43185
looks like tweaking
```env_cmd = ('sudo', '-i', '-u', runas, '--', sys.executable)```
to
```env_cmd = ('su', '-', runas, '-c', sys.executable)```
doesn't fix this. And honestly i'm a little stumped on how to fix this. In its current state running anything as a user on macOS from `root` is not working properly. Any thoughts or ideas would be great.

[2018-03-01 17:22] flavio commented on #44758
During the last days I've been chasing a performance issue that hit [SUSE CaaS Platform](https://www.suse.com/products/caas-platform/).

## The problem

We are using salt to deploy and manage our kubernetes cluster. We have a UI that talks with salt by using salt-api. Our salt-master is configured to create 20 workers.

We are using salt-2016.11.4 with some backported patches. This is the same ver

[2018-03-01 17:37] terminalmage commented on #44758
@isbm's fix is in https://github.com/saltstack/salt/pull/46286

[2018-03-01 17:40] frogunder commented on #46283
Working correctly with the fix, thanks @gtmanfred

[2018-03-01 18:00] golmaal commented on #39163
I was trying consul and having the exact issue as Mike. Glad I searched 😄

Thanks for posting suggestions @Ch3LL

If I copy my sdb configuration to minion.d, salt-call sdb.get sdb://myconsul/salt-private/node-01/tomcat starts to work...
myconsul:
  driver: consul

Question for you @Ch3LL - Is there a downside to making the SDB configuration available to all minions? I'm trying to automate creating

[2018-03-01 18:08] samilaine commented on #42734
@Ch3LL is right. A slightly more thorough testing ie. not just watching the event bus with `salt-run state.event pretty=True` but instead looking at the orchestrate runner output confirms that the state tree is parsed correctly.

The event bus order does not reflect the state tree, obviously, now that I have come to think of it.

[2018-03-01 18:42] #23010 closed

[2018-03-01 18:42] #29652 closed

[2018-03-01 18:42] #29665 closed

[2018-03-01 18:50] terminalmage commented on #46274
Yeah my original fix wasn't correct because it was converting the strings in the config post-app-startup. I needed to make the change when the config file is loaded in `salt.config.apply_master_config()`.

I also should make an update to the unit test I recently wrote to confirm that all strings are unicode.

[2018-03-01 18:54] terminalmage commented on #46274
https://help.github.com/articles/checking-out-pull-requests-locally/ can be used to check out the PR into a local branch. then run the docker command from the root of the git repo to launch the container.

[2018-03-01 19:34] dwoz commented on #46192
Based on how old it is, I think the pre-release version of nssm will be fine.

[2018-03-01 19:38] rallytime commented on #46283
You guys are awesome! I'll close this.

[2018-03-01 19:38] #46283 closed

[2018-03-01 19:42] #29698 closed

[2018-03-01 19:42] isbm commented on #44758
I will backport his elsewhere, once finished.

[2018-03-01 19:44] #45325 closed

[2018-03-01 20:05] rallytime commented on #45075
@doesitblend Can you follow up here?

[2018-03-01 20:11] Ch3LL commented on #46266
i believe SNI support was added in python 2.7.9. ping @team-core anyone know if there is a way to handle this for versions lower then 2.7.9

[2018-03-01 20:17] Ch3LL commented on #46268
looks like we are only passing data and metadata shown here: https://github.com/saltstack/salt/blob/v2017.7.3/salt/modules/kubernetes.py#L1073-L1075

seems a very reasonable thing to add. Want to give a go at a PR?

[2018-03-01 20:21] Ch3LL commented on #46281
what version of mock do you have installed? in our test suite we are using 'mock==2.0.0'

[2018-03-01 20:24] Ch3LL commented on #46279
You can set these in your cloud provider or cloud profile config shown below:

[code]

[2018-03-01 20:33] Ch3LL commented on #46273
looking at the code it looks like you can set `- decode: json`. Does that work?

[2018-03-01 21:43] jessebye commented on #46273
@Ch3LL that would only affect the response, but in this case we are looking to use JSON for the request body.

[2018-03-01 21:43] jessebye commented on #46273
Interestingly enough, it seems to work OK when using `data` but doesn't for `data_file`.

[2018-03-01 22:42] #29501 closed

[2018-03-02 02:22] SwinBlackSea commented on #46188
@waynew I am sorry for no reply to you timely.  Thanks for your advice.

[2018-03-02 09:38] racker-markh commented on #46215
Hi @gtmanfred
With regard to the nova driver:
https://github.com/saltstack/salt/blob/2017.7/salt/cloud/clouds/openstack.py#L242-L246
The openstack driver contains the following deprecation notice:
[code]
If it's the case that the nova driver is buggy and that the openstack driver has been refactored instead, perhaps this deprecation notice should be modified (perhaps to state that some of the para

[2018-03-02 10:31] asymetrixs opened #46292 "win_wua should have possibility to specify source file"
### Description of Issue/Question
When using win_wua, it uses the Windows Update Agent to install updates. However, sometimes systems are not connected to the internet, nor does the WSUS server contain all updates (and updating it is not an option). It would be good to have the possibility to point win_wua to a file location when installing an update.

[2018-03-02 11:12] rsuarezsoto opened #46295 "sls file in base environment has priority over directory/init.sls equivalent file in another environment"
Sorry if this is a known issue or a known behaviour. I've looked for something alike in the docs but didn't find it.

We have a `file_roots` entry for our states like this:
[code]
There is a `conf` directory in `/srv/saltstack/dev/formulas/my-formula`, and an `init.sls` file inside it. There is also a `my-formula` directory in `/srv/saltstack/salt`, and a `conf.sls` file in it.

We have this in th

[2018-03-02 12:48] kiemlicz commented on #45521
Unfortunately neither of the aforementioned solution works
I've started to debug the `py` renderer.
Main use-case: `#!jinja|py` working.

Turns out that the first renderer (`jinja`) works properly, outputs nicely formatted string output, but the `py` renderer doesn't care and still loads the initial file (not pre-rendered)

My thought: does the piping `jinja` to `py` is intended to work at all?

[2018-03-02 14:46] gtmanfred commented on #46215
Well, it has been marked as deprecated for a while now, so I need to include big block message in the release notes for oxygen about how it has all changed.

Starting in Oxygen, the nova driver is listed as deprecated.

[2018-03-02 15:27] sebw opened #46298 "pecl.list execution module output is broken on RHEL7"
### Description of Issue/Question

When I use the execution module `pecl.list`, output is broken.

Minion is running RHEL7.

### Setup

When no PECL package is installed:

[code]
[code]

When a PECL package is installed:

[code]
[code]

### Steps to Reproduce Issue
(Include debug logs if possible and relevant.)

### Versions Report

Master:

[code]

Minion:

[code]

[2018-03-02 16:22] gclinch opened #46299 "debconf module fails on Python 3"
### Description of Issue/Question
debconfmod.set under Python 3 fails with **TypeError: a bytes-like object is required, not 'str'**, because a string (and not bytes) is passed to os.write.

### Steps to Reproduce Issue
[code]

### Versions Report
[code]

[2018-03-02 16:48] #43612 closed

[2018-03-02 16:50] jessebye opened #46301 "Unable to run multiple orchestrations simultaneously"
### Description of Issue/Question
We have been testing an orchestration which runs highstate on our servers. The orchestration is triggered by a reactor for `salt/cloud/*/created`.

When we spin up one server at a time, it works fine. But when we spin up 2+ servers at once, it only runs on one server.

### Setup
`reactor.conf`:
[code]
`reactor/server_created.sls`:
[code]
`orch/server_created.sls`:

[2018-03-02 16:57] redelman commented on #37709
dns_search isn't used by the vmware driver at all. In the global IP settings, all the vmware driver sets are the dns servers to use. I've hacked a quick fix in, just a simple:
[code]

just place that at [https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/vmware.py#L2683](https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/vmware.py#L2683) and you should be good.

[2018-03-02 16:59] golmaal commented on #40851
Hello @Ch3LL
The issue occurs because https://github.com/saltstack/salt/blob/develop/salt/utils/etcd_util.py#L192 returns the value, however, the caller https://github.com/saltstack/salt/blob/develop/salt/sdb/etcd_db.py#L78 expects it to return EtcdResult instead.

[2018-03-02 17:17] twellspring commented on #37994
Is there any progress on having the ability to run multiple Orchestration tasks?   Orchestration is not very useful f it has to be single threaded

[2018-03-02 17:36] Giandom opened #46305 "salt-cloud and winrm failing with : InvalidCredentialsError: the specified credentials were rejected by the server"
### Description of Issue/Question
Trying to create a Windows Minion in Google Compute Engine results in the following error:
[code]

### Setup
[code]

### Steps to Reproduce Issue
[code]
This will run until the aforementioned error is produced.

### Versions Report
[code]
Any advices?

[2018-03-02 17:59] garethgreenaway commented on #46292
@asymetrixs Thanks for the report.  This would be a great feature to have.

[2018-03-02 18:07] garethgreenaway commented on #46298
@sebw Thanks for the report.  Looks like it might be including the header, which should be ignored when processing the output.

[2018-03-02 18:24] garethgreenaway commented on #46301
@jessebye Thanks for the report.  Are you able to confirm that you're seeing the cloud creation events for all the instances on the event bus?  Is there anything in the Salt master log files when the reactor is supposed to fire?

[2018-03-02 18:26] lomeroe commented on #46236
sorry, just realized I'm not getting github email notifications for some reason...

I don't see the "If you have selected..." item under 'Configure Automatic Updates' in either a Win2016 or Win10 system I have access to.

Was that added in a rollup or something that I am missing?  Or added by SCCM or something else?

I have no issues without that (in fact, my system won't even render the yaml with

[2018-03-02 18:26] garethgreenaway commented on #46305
@gtmanfred Looks like you've touched this particular code recently, any thoughts on what might be happening here?

[2018-03-02 18:29] gtmanfred commented on #46305
I think this is specifically an ec2 thing

[code]

I am not sure how to do with with GCE + windows.

https://github.com/saltstack/salt/blob/2017.7/salt/cloud/clouds/ec2.py#L2340

With a brief look at the code, it doesn't look like we handle the `reset-windows-password` command for gce, so that would need to be added to build windows machines on gce.

[2018-03-02 18:43] jessebye commented on #46301
@garethgreenaway found this issue which is still open: https://github.com/saltstack/salt/issues/37994

So it looks like we can't use orchestration at all for our intended use cases.

[2018-03-02 18:46] garethgreenaway commented on #46301
@jessebye This makes sense.  Have you tried the suggested workaround by adding the `queue=True` option?

[2018-03-02 19:19] garethgreenaway commented on #46295
@rsuarezsoto thanks for the report.  Everything looks right in your file roots and top.sls file, so far I am unable to duplicate the issue.  Do you have another top.sls file that might be matching the minion? In the dev environment?

[2018-03-02 19:30] Ch3LL commented on #46273
ahh ya you are right, apologies on that. Looking at your example a little closer and the code it seems its getting converted into a dict after going through the renderer and passing that to urlencode, so can you try quoting the json file. For example:

[code]

this will ensure yaml will remove the first quotes and pass as json string

[2018-03-02 19:37] Ch3LL commented on #42734
Awesome thanks are we okay to close this issue?

[2018-03-02 19:46] Ch3LL commented on #39163
How are you making the configuration available to minions?

If you are setting it in the master config file by enabling pillar_opts you could be sending sensitive information that you don't want the minion to have access to. So it depends on how you set it up

[2018-03-02 19:51] #17191 closed

[2018-03-02 19:51] #28854 closed

[2018-03-02 19:51] #29731 closed

[2018-03-02 19:51] #29766 closed

[2018-03-02 19:51] #29771 closed

[2018-03-02 19:51] #29637 closed

[2018-03-02 19:51] #29616 closed

[2018-03-02 19:51] #29694 closed

[2018-03-02 19:51] #21679 closed

[2018-03-02 19:51] #20258 closed

[2018-03-02 19:51] #29825 closed

[2018-03-02 19:51] #29836 closed

[2018-03-02 19:51] #19302 closed

[2018-03-02 19:51] #22061 closed

[2018-03-02 19:51] #29914 closed

[2018-03-02 19:52] #29922 closed

[2018-03-02 19:52] #29948 closed

[2018-03-02 19:52] #29959 closed

[2018-03-02 19:52] #7324 closed

[2018-03-02 19:52] #29622 closed

[2018-03-02 19:52] #20777 closed

[2018-03-02 19:52] #29972 closed

[2018-03-02 19:52] #29980 closed

[2018-03-02 19:52] #29971 closed

[2018-03-02 19:52] #28424 closed

[2018-03-02 19:52] #29976 closed

[2018-03-02 19:52] #6443 closed

[2018-03-02 19:54] Ch3LL commented on #43536
No concern here

[2018-03-02 19:55] dpedu2 commented on #42734
@Ch3LL SGTM. Orchestration is definitely the right way to go.

[2018-03-02 20:19] twangboy commented on #46192
The `nssm` binary has been updated in the above PR and will be included in future releases of Salt.

[2018-03-02 20:19] #46192 closed

[2018-03-02 20:22] UtahDave commented on #46274
I believe this was fixed by: https://github.com/saltstack/salt/pull/46275

[2018-03-02 20:22] #46274 closed

[2018-03-02 20:34] Ch3LL commented on #43311
possibly related? https://github.com/saltstack/salt/issues/45125

[2018-03-02 20:38] Ch3LL commented on #37709
Want to submit a PR for that?

[2018-03-02 20:42] Ch3LL commented on #38157
possible duplicate here? https://github.com/saltstack/salt/issues/45052

see comment: https://github.com/saltstack/salt/issues/45052#issuecomment-367022712

[2018-03-02 20:52] lordcirth commented on #28165
Ok, I am getting close to done.  It does leave newlines in where the comments were, but I don't think that's a problem, or easy to change.

[2018-03-02 20:52] Ch3LL commented on #46281
Which Debian OS? 9/8? and how are you initiating the test runner?

We are not seeing the same failures in jenkins for py3 debian9. https://jenkins.saltstack.com/job/2018.3/view/Branch%20Python%203/job/oxygen-salt-debian9-py3/107/

This might be a case of missing dependencies. Before initiating our test runner we install a bunch of dependencies by running this state: https://github.com/saltstack/sa

[2018-03-02 20:53] golmaal commented on #39163
As I was trying etcd and consul (really to decide which one was easier for redistribution purpose), I see both allow use of private/%(minion_id)s
This allows the correct pillar information to be populated for each minion.
Earlier when I wrote the comment above I was thinking to call sdb.get_or_set_hash from states which would have required me to let minion config know about the sdb profile through

[2018-03-02 20:56] Ch3LL commented on #46282
can you install setproctitle and paste output of `ps aux | grep -i salt`?

aslo anything useful in the debug logs?

[2018-03-02 21:28] #34423 closed

[2018-03-02 21:40] #33177 closed

[2018-03-02 21:53] twangboy commented on #46234
@absolutejam The `compile_config` function attempts to compile the config file as is first. If it fails, then it attempts to dot source it. There is an issue with how _pshell is handling the return. I'm working on a fix for this.

[2018-03-02 22:00] #46202 closed

[2018-03-02 22:38] bdrung commented on #46281
Sorry for not specifying all needed information in the initial report.

I was running these tests in a minimal Debian *unstable* chroot. Besides build-essentials, only the specified Build-Depends from https://tracker.debian.org/media/packages/s/salt/control-2017.7.3dfsg1-1 were installed. The test are invoked via:
[code]
See https://tracker.debian.org/media/packages/s/salt/rules-2017.7.3dfsg1-1

[2018-03-02 22:49] wilminator commented on #42440
I can confirm that this change is working for my example above as well.

[2018-03-02 22:50] danlsgiga commented on #42438
This is not only a doc issue. The Hipchat module is considering an HTTP 204 (No Content) response as failed, when their specs says that is an expected response.

https://www.hipchat.com/docs/apiv2/method/send_room_notification

https://github.com/saltstack/salt/blob/a0716643e4f1c7dbbf97235b6c4e02920672b13f/salt/modules/hipchat.py#L179-L180

I've just tested setting the L180 to return True and it w

[2018-03-02 23:07] gtmanfred commented on #42438
If you could submit a fix to the 2017.7 branch it could make it into 2017.7.5

Thanks,
Daniel

[2018-03-02 23:29] jessebye commented on #46301
@garethgreenaway in our case, we are using orchestration to handle every time an engineer spins up a database. We can have 10 databases spinning up at once, and each takes ~15 minutes to complete. That would equate to 150 minutes of waiting until the last DB spun up. So yeah, not really feasible for us to keep using orchestration. We are looking at alternatives.

[2018-03-03 00:37] danlsgiga commented on #42438
No worries. I will submit a PR on monday!

[2018-03-03 01:56] twangboy commented on #46292
@asymetrixs This feature cannot be added to the `win_wua` module as it only leverages the Windows update agent. However, the `win_dism` module should do what you need. See docs for `win_dism.add_package` (https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.win_dism.html#salt.modules.win_dism.add_package)

[2018-03-03 02:53] terminalmage commented on #32245
The idea to work around the race condition would be to have different roots per environment. It's on the tentative list of features for the Fluorine release cycle.

[2018-03-03 02:54] gtmanfred commented on #42438
That would be awesome! thanks!
Daniel

On Fri, Mar 2, 2018 at 5:38 PM, Daniel Santos <notifications@github.com>
wrote:

[2018-03-03 07:26] jvrahav commented on #46282
just to add more info, this is a slightly bigger setup than the one mentioned in the issue, however the symptoms and behaviour are the same

here we have one salt master connected to 15k minions.

when we do a test.ping from master we get response as 8k are connected. The rest of them say no response or not connected

i tried for few of the minions. After restarting the minion, the master was able

[2018-03-03 08:10] terminalmage commented on #45045
OK, well we ended up removing the pub args from orchestration, we couldn't find a good reason to keep them and nothing in the codebase was actually using them. So, even though I couldn't reproduce on 2017.7.1, this is a non-issue as of 2018.3.0.

Relevant PR here: https://github.com/saltstack/salt/pull/44858

[2018-03-03 08:15] terminalmage commented on #44673
@arthurlogilab can you follow-up?

[2018-03-03 08:18] damon-atkins commented on #37994
@thatch45 Can we have a bit of an escalation for this issue which has been open for a year.  This demotes one of the selling points of salt.

[2018-03-03 08:20] terminalmage commented on #44632
@cruscio in that case, I'm going to close this since the way archive.extracted handles caching the source archives was overhauled in https://github.com/saltstack/salt/pull/43681, and the result of that work was released in 2017.7.3. If the problem was file caching, the offending code almost certainly no longer exists. If this issue crops up again, please let me know and I can revisit it.

[2018-03-03 08:20] #44632 closed

[2018-03-03 08:28] damon-atkins opened #46319 "Implement PY2 file descriptor workaround (if needed) on Mac OS/Darwin/FreeBSD/etc."
### Description of Issue/Question
salt/salt/utils/subprocess.py  About line 38

Check if FreeBSD, Darwin or OS X and dir exists `/dev/fd/` use `/dev/fd`
else if exist dir `/proc/self/fd` use `/proc/self/fd`
else if exist dir `/proc/<pid>/fd` use `/proc/<pid>/fd`
else slowly close them all.

Currently only supports Linux or platforms which also have `/proc/<pid>/fd`

Ref: From https://stackoverflow

[2018-03-03 08:32] terminalmage commented on #44672
That file is used to cache the list of files/dirs/symlinks available via the file_roots backend, to prevent computationally expensive walking of the filesystem from being repeated hundreds/thousands of times during a highstate. The file list cache ages out after 20 seconds, at which time it is replaced.

If you're modifying the files in file_roots during a salt run, that would cause issues with th

[2018-03-03 09:33] damon-atkins commented on #46282
`lsof -i` will help id which process is accepting all the connections.

[2018-03-03 10:19] jryberg commented on #44701
@mcalmer , please keep me in the loop of any changes to access and authentication.

I'm a heavy user of overrides in the states because I access multiple clusters from one minion.

[2018-03-03 11:25] jvrahav commented on #46282
output of lsof -i | egrep salt  shows
7742 connections for 4505 - consumed by process 67
1050 connections for 4506 - consumed by process 23667

root        62  0.0  0.0 277012 14504 ?        S    Feb28   0:06 /bin/python /usr/bin/salt-master -d
root        63  0.0  0.0 273756  9068 ?        S    Feb28   0:00 /bin/python /usr/bin/salt-master -d
root        67  0.6  1.9 1171232 954272 ?      Sl   Fe

[2018-03-03 16:43] jvrahav commented on #46282
/proc/sys/fs/file-max - 2097152

[2018-03-03 19:13] terminalmage commented on #43208
@Ch3LL I think it's a good idea to gate a change like this behind an argument.

[2018-03-03 19:23] terminalmage commented on #38988
You're asking the fileclient to return `top.sls`, not `salt://top.sls`. When there is no protocol, the fileclient doesn't know whether it needs to make a request to the salt fileserver, a webserver, or whatever, so it assumes the path is a local file on the minion. Only absolute paths are supported when "caching" local files (the minion doesn't actually cache them, just returns back the specified

[2018-03-03 20:38] marco-m commented on #28606
Hello, any news ?

[2018-03-03 21:09] terminalmage commented on #44935
YAML lists are prepended with dashes, so the leading dash is making the loader assume a list:

[code]

https://github.com/saltstack/salt/pull/46322 fixes this. We have similar logic to make sure `foo: bar` doesn't get loaded as a dictionary, we just needed logic to force the same when the result of YAML loading is a list and the string doesn't begin with `[`.

One temporary workaround would be to

[2018-03-03 23:18] MartinMystikJonas commented on #46060
Well I can give you access to our private GitLab with source code of build scripts. But I do not want to share it here publicly - how can I send you it privately?

[2018-03-04 00:28] damon-atkins opened #46323 "salt.runners.manage can not distinguish between different function. Doco Issue"
### Description of Issue/Question

70% of the function provide have a one line description of what they do which is:
`Print a list of all minions that are up according to Salt's presence detection (no commands will be sent to minions)`

Comes across as to why so many functions are needed to do the same check.

Effects all versions

[2018-03-04 00:47] damon-atkins commented on #46282
Yes number of minions = number of connections
Try `egrep 'Current values for max open files soft/hard setting'  /var/log/salt/master`

[2018-03-04 00:50] damon-atkins commented on #46282
When you past text please place  ``` start end end of the text or click <> while the text is high-lighted (You can edit you existing posts)

[2018-03-04 04:35] jvrahav commented on #46282
@damon-atkins there are no log entries in the master for the given text.

Also, i dont see anything in the logs on the minion when i run salt-run manage.down or salt 'minionid' test.ping

[2018-03-04 04:36] jvrahav commented on #46282
@damon-atkins  however when i restart the minion, the master able to successfully ping the minion

[2018-03-04 08:14] jvrahav commented on #46282
after setting a higher ulimit on the salt master docker to 100000, i can still only see max of 7800 connections to port 4505

netstat -tp | grep python | grep '2d009d977b0c:4505' | wc -l (all are in ESTABLISHED state)

[2018-03-04 10:46] damon-atkins commented on #46282
`Current values for max open files soft/hard setting` is log.info.  I suggest you are hitting some sort of limit.

[2018-03-04 13:41] marco-m commented on #42148
Hello, any news ? It looks like this can be closed as fixed (unless I am missing something)

[2018-03-04 15:29] #29973 closed

[2018-03-04 16:25] oogali opened #46324 "Salt package on FreeBSD does not depend on SQLite Python package"
### Description of Issue/Question

The `py27-salt` package on FreeBSD does not require the SQLite Python module (`py27-sqlite3`).

As a result, anything requiring SQLite support fails. In this instance, `spm`.

### Setup

The setup consists of a directory, containing a single `.spm` package that was built.

### Steps to Reproduce Issue

[code]

After installing `py27-sqlite3`, I no longer have iss

[2018-03-04 16:32] dmaziuk commented on #42148
worksforme

[2018-03-04 16:50] terminalmage commented on #32975
This is fixed for the upcoming 2018.3.0 release as part of a greater effort toward improving unicode support. This can be confirmed using the below Docker commands (run from the root of a git clone of Salt).

[code]

You'll want to make sure you check out the 2018.3 branch after cloning the repo:

[code]

You can then proceed to run the docker commands above.

[2018-03-04 16:50] #32975 closed

[2018-03-04 16:57] terminalmage commented on #44831
We haven't officially put it on a deprecation path, have we? I agree that it is still useful, we should keep it and not deprecate it. If that's what we decide to do, I think we can close this.

[2018-03-04 17:44] terminalmage commented on #46207
This works just fine for me (docker commands run from root of repo):

[code]

Here's the test script:
[code]

The master config file:
[code]

The custom ext_pillar:
[code]

You can also browse around the container if you just run it without the `sh /test.sh` after.

If you can provide a use case where this fails in newer releases, I'd be happy to take a look at it though.

[2018-03-04 19:47] isbm commented on #42148
@marco-m I think, RC1 is fine, but look at 2018.3 instead. :wink: Maybe we can close the issue, @rallytime?

[2018-03-04 20:49] #30007 closed

[2018-03-05 05:05] nkv16786 commented on #46279
yes i know i can set thes values in profile or provider but is there a way to send these values in salt destroy vm command like as follows:-

salt-call cloud.action destroy instance=deletetestvm17 kwargs='{"cleanup_interfaces":True}'

[2018-03-05 05:06] nkv16786 commented on #46246
as it is taking more than 40 min the stack trace is really really large

[2018-03-05 06:51] nkv16786 commented on #46246
The iface is created successfully then it is getting stuck at `

[DEBUG   ] Adding token {u'resource': u'https://management.core.windows.net/', u'access_token': u'eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlNTUWRoSTFjS3ZoUUVEU0p4RTJnR1lzNDBRMCIsImtpZCI6IlNTUWRoSTFjS3ZoUUVEU0p4RTJnR1lzNDBRMCJ9.eyJhdWQiOiJodHRwczovL21hbmFnZW1lbnQuY29yZS53aW5kb3dzLm5ldC8iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC8x

[2018-03-05 06:52] nkv16786 commented on #46246
and after 30 40 minutes the output i recieve is as follows:-

customvmtest:
    ----------
    Error:
        ----------
        No Deploy:
            'deploy' is not enabled. Not deploying.
    availability_set:
        None
    diagnostics_profile:
        None
    hardware_profile:
        ----------
        vm_size:
            Basic_A1
    id:
        /subscriptions/1a98da19-9471-4a6a-b5f6-b

[2018-03-05 06:54] nkv16786 commented on #46246
The error i see on portal is as follows:-

**GENERAL**
Provisioning state Provisioning failed. OS Provisioning for VM 'customvmtest' did not finish in the allotted time. The VM may still finish provisioning successfully. Please check provisioning state later.. OSProvisioningTimedOut
Guest agent Not Ready. VM status blob is found but not yet populated.
**DISKS**
customvmtest-vol0 Provisioning succe

[2018-03-05 06:55] nkv16786 commented on #46246
The profile i am using is as follows:-

azure-win:
  deploy: False
  image: https://sanramonarm.blob.core.windows.net/winserver/QEServer12R2.vhd #MicrosoftWindowsServer|WindowsServer|2012-R2-Datacenter|latest
  location: eastus
  network: AzureARM-SanRamon-New
  network_resource_group: AzureARM-SanRamon-New-ResGrp
  os_disk_size_gb: 150
  provider: P_Azure
  resource_group: AzureARM-SanRamon-New-R

[2018-03-05 07:43] nkv16786 commented on #46279
It worked by changing the kwargs position in destroy function of azurearm.py

Earlier it was like--    `def destroy(name, conn=None, call=None, kwargs=None):`

I changed it to--        `def destroy(name,kwargs=None, call=None,conn=None):`

[2018-03-05 09:05] samilaine commented on #42734
In case an opinion is needed from yours truly, I'd say the issue has been addressed as far as I can understand it.

[2018-03-05 09:49] #27042 closed

[2018-03-05 09:53] jvrahav commented on #46282
logs are at debug level. I dont see any logs that match the error you have mentioned. The logs mostly has that statements related to sending request and receiving reponse related to ping commands i run.

[2018-03-05 09:59] asymetrixs commented on #46292
I tried with win_dism.package_installed state but it throws an error regarding the path. Unfortunately it does not support a path like 'salt://<path>/<file>'. This would be useful.

[2018-03-05 11:01] xiaolou86 commented on #42874
@gtmanfred Thank you very much.
But presence events is not real time.
Is there any way that master can know immediately when minion disconnects?

[2018-03-05 11:23] absolutejam commented on #46234
Awesome, thanks @twangboy!

Once that's approved, I'm going to look at adding `Invoke-DSCResource` as a function too, as I find myself needing just a single DSC resource frequently (eg. some from `xRemoteDesktopSessionHost`) and eventually, I'm going to try and convert them into states...

[2018-03-05 11:28] asymetrixs commented on #46292
I just tried the following which is not an ideal state, as the .msu-file gets copied every time:
[code]

However, copying the file to the temporary location and deleting it works, even though it would be done every time when the state is run (bad of course) but `dism.package_install` throws an error:

[code]

[code]

[2018-03-05 13:12] bdrung opened #46329 "test_create_deployments fails with python-kubernetes 4.0.0"
The test_create_deployments test case from salt 2017.7.4 fails with python-kubernetes 4.0.0. Tested on Debian unstable.

[code]

[2018-03-05 14:16] #46299 closed

[2018-03-05 14:36] rallytime commented on #46329
This is related to #44701

[2018-03-05 14:37] #42734 closed

[2018-03-05 14:53] #46127 closed

[2018-03-05 14:55] gtmanfred commented on #42874
So, i believe for all the other events, the minion sends the event.  If the minion becomes disconnected, it cannot send the event.

The presence events are the masters way of saying that a minion has become disconnected.  That is the only way we have currently, and I am not aware of a way with zeromq or tcp to know immediately that a minion has disconnected.

[2018-03-05 15:00] #45535 closed

[2018-03-05 15:07] gtmanfred commented on #46319
@isbm @terminalmage @DmitryKuzmenko can yall weigh in here?

I think @damon-atkins is bringing this up about #46286

Thanks,
Daniel

[2018-03-05 15:10] gtmanfred commented on #46324
@cedwards can you take a look at this?

Thanks,
Daniel

[2018-03-05 15:10] isbm commented on #46319
@gtmanfred I already answered this: my PR is initial and brings support on Linux. Whoever wants to add another OS support — feel free to write:

- Check for that OS if the fix is needed
- Implement support itself (if this is just a path — fine)
- Include a working unit test[s]

And since I have none of these OSes around, I am not going to do here anything, sorry.

[2018-03-05 15:11] terminalmage commented on #46319
:+1:  ^^^

[2018-03-05 15:12] #46329 closed

[2018-03-05 15:17] damon-atkins commented on #46319
This was open based on the discussion in the PR by isbm.  So it would not be forgotten about.

[2018-03-05 15:22] terminalmage commented on #46319
I don't have FreeBSD but I have a NetBSD VM, and it uses `/proc/PID/fd`.

[2018-03-05 15:27] gtmanfred commented on #30115
Still relevant

[2018-03-05 15:28] #42148 closed

[2018-03-05 15:40] #44935 closed

[2018-03-05 15:52] terminalmage commented on #46319
FreeBSD doesn't have anything but 0-2 (stdin/stdout/stderr) in /dev/fd, and doesn't use /proc by default.

[2018-03-05 16:25] closepin commented on #34303
I am seeing something pretty similar to this on 2017.7.2 -
We have a custom grain made to identify names of interfaces on Windows machines. Every day we get at least one failure trying to access these custom grains in rendering logic or API queries from our Python code interacting with Salt.

A sync_grains or a sync_all fixes the issue, but that seems like an unnecessary step to ensure our custom

[2018-03-05 16:34] danlsgiga commented on #42438
Hey @gtmanfred, I've just submitted the fix #46333 for this issue + a bonus fix on the `message_color` and `color` doc mismatch that fits into the 2017 release.
If that's not asking too much, I'd love to have that into 2017.7.5.
Thanks!!

[2018-03-05 16:49] #25729 closed

[2018-03-05 16:49] #30013 closed

[2018-03-05 17:07] gtmanfred commented on #42438
That looks great.

Since it is on the 2017.7 branch, and we haven't forked a release branch for 2017.7.5, this should get merged before that happens, and will be in the 2017.7.5 release.

I did have one change that needs to be made.  We do not like making breaking changes to code in minor releases, even though the docs are incorrect, they docs should be changed instead of changing the code.

Thank

[2018-03-05 17:09] danlsgiga commented on #42438
Makes total sense to me @gtmanfred, my bad on that! Will update the PR shortly!

Thank you!

[2018-03-05 17:25] seanjnkns commented on #46207
This works until you start adding any role based setup, CMDB to manage roles, pillars (excluding ext_pillar), etc.  If you have this in the most basic of skeleton setups, yes, it works, add even the most basic entry in /srv/pillar, and you lose 100% of your pillar output from the external pillar.  Even with ext_pillar_first: True set in /etc/salt/master, it's as if this isn't honored.  I'll see if

[2018-03-05 17:39] seanjnkns commented on #46207
[issue-44034.tar.gz](https://github.com/saltstack/salt/files/1781946/issue-44034.tar.gz)

The attached example should give a better understanding of what's happening.  Even with ext_pillar_first, /srv/pillar is being read first.  Try changing merging strategies, no change.  Remove /srv/pillar/top.sls, and your ext_pillar output will have output.  No amount of manipulating the the master or minion

[2018-03-05 17:39] gtmanfred commented on #30115
Here is a simpler test

[code]

[2018-03-05 17:58] sjorge opened #46334 "[2018.3.0rc1] Stacktrace on call to nacl.dec"
### Description of Issue/Question
[code]
### Setup
I call nacl.dec from the __salt__ dict inside a pillar.

```__salt__['nacl.dec'](data=user['password'], key=nacl['db'])```
where user['password'] hold the encrypted password and nacl['db'] holds the key.

This is using the pyrendered as I pull this data from a database, it works fine on 2017.7.4 and has been working fine since somewhere 2016.x at

[2018-03-05 18:04] sjorge commented on #46334
Here is a partial patch, this fixes the wrong pki_dir issue.

[code]

I'm not near my usual setup so I can't do a proper PR for this.

[2018-03-05 18:13] sjorge commented on #46334
This was done on 2017.7.4
[code]

This no longer works on 2018.0rc1... so aside from the issues mentioned about with the harcoded paths and the unhelpful stacktrace a fix for this or atleast a mention in the release notes about the old stuff no longer working should be mentioned.

[2018-03-05 18:15] #45471 closed

[2018-03-05 18:25] sjorge commented on #46334
Issues found so far:
- [ ] stacktrace in master log when sk_file or pk_file do not exists
- [ ] the sk_file/pk_file defaults use a hardcoded pki_dir of /etc/salt/pki (patches above to fix)
- [ ] releasenotes are missing info about this change
- [ ] salt.runners.nacl doc has a lot of references to ```salt-call --local nacl.XXX``` those should probabt be ```salt-run``` instead.

[2018-03-05 18:31] onlyanegg commented on #22257
@whiteinge, I think this is a great idea, and I would love to see an XML serializer. It's been a long time since this was discussed; has something else happened in that time or are we still waiting? I be happy to help :)

[2018-03-05 18:37] sjorge opened #46335 "[2018.0rc1] salt.states.x509 now broken"
### Description of Issue/Question
[code]
### Setup
[code]

### Steps to Reproduce Issue
Try and apply a simple state to generate a private key

### Versions Report
[code]

[2018-03-05 19:17] adam-smith-sundance commented on #28082
Still and issue Salt 2017.7.4

[2018-03-05 19:20] terminalmage commented on #46207
@seanjnkns Thanks, I'll have a look at this over the next couple days.

[2018-03-05 19:24] #43796 closed

[2018-03-05 19:25] UtahDave opened #46336 "Change `enable_legacy_startup_events` to `False` with Neon release"
### Description of Issue/Question
I added a gate to remove the old style `minion_start` startup event in this PR: https://github.com/saltstack/salt/pull/46272

`enable_legacy_startup_events` should have its default changed to `False` with the Neon release of Salt. This is a reminder issue to ensure this happens.